<% const pagetitle = "「iPhoneを探す」をオフにする方法" -%>
<% const category = "iPhone" -%>
<% const subCategory = "iPhoneなどのApple社製品" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}] -%>
<% const namespace = "support-smallcategory" -%>
<%
  const pageInfo = {
    namespace: namespace,
    category: category,
    subCategory: subCategory,
    linkListContent: [],
    icon: 'c-Icon_Smartphone-f',
    relatedCategory: []
  };
%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '「iPhoneを探す」をオフにする方法を、iPhoneからの設定方法とパソコンからの設定方法をそれぞれご案内します。',
    noindex: false,
    pathname: filepath
  });
%>


<%- include('/include/_common-css') %>
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/support/_smallcategory-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>
<div id="attention"></div>

<div class="l-System_Container">
  <h1 class="u-Adjust_Mt-32">「iPhoneを探す」をオフにする方法</h1>
  <p class="u-Adjust_Mt-16">「iPhoneを探す」をオフにする方法を、iPhoneからの設定方法とパソコンからの設定方法をそれぞれご案内します。</p>
  <div class="c-Tab js-Tab u-Adjust_Mt-32">
    <ul class="c-Tab_Items" role="tablist">
      <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">iPhone</li>
      <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">パソコン</li>
    </ul>
    <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
      <p class="c-Txt_Cap u-Adjust_Mt-24">※iOSのバージョンにより画面が異なる場合がございます。</p>
      <ul class="<%= namespace %>-Flow_List u-Adjust_Mt-24">
        <li>
          <h3 class="c-Heading_Lv4">1. Apple IDの画面を開く</h3>
          <p>設定をタップし、設定画面上部の名前をタップしてください。</p>
          <div class="<%= namespace %>-Flow_List-image <%= namespace %>-Flow_List-image-two-col">
            <div class="<%= namespace %>-Flow_List-image-two-col-inner">
              <img src="<%= sitepath %>assets/img/guide/iphone/find-my-iphone-off/flow-1-1.png" alt="">
              <img src="<%= sitepath %>assets/img/guide/iphone/find-my-iphone-off/flow-1-2.png" alt="">
            </div>
          </div>
        </li>
        <li>
          <h3 class="c-Heading_Lv4">2. 「探す」をタップ</h3>
          <div class="<%= namespace %>-Flow_List-image <%= namespace %>-Flow_List-image-one-col">
            <div class="<%= namespace %>-Flow_List-image-one-col-inner">
              <img src="<%= sitepath %>assets/img/guide/iphone/find-my-iphone-off/flow-1-3.png" alt="">
            </div>
          </div>
        </li>
        <li>
          <h3 class="c-Heading_Lv4">3. 「iPhoneを探す」をタップ</h3>
          <div class="<%= namespace %>-Flow_List-image <%= namespace %>-Flow_List-image-one-col">
            <div class="<%= namespace %>-Flow_List-image-one-col-inner">
              <img src="<%= sitepath %>assets/img/guide/iphone/find-my-iphone-off/flow-1-4.png" alt="">
            </div>
          </div>
        </li>
        <li>
          <h3 class="c-Heading_Lv4">4. 「iPhoneを探す」のスイッチをタップ</h3>
          <div class="<%= namespace %>-Flow_List-image <%= namespace %>-Flow_List-image-one-col">
            <div class="<%= namespace %>-Flow_List-image-one-col-inner">
              <img src="<%= sitepath %>assets/img/guide/iphone/find-my-iphone-off/flow-1-5.png" alt="">
            </div>
          </div>
        </li>
        <li>
          <h3 class="c-Heading_Lv4">5. Apple IDパスワードを入力し、「オフにする」をタップ</h3>
          <div class="<%= namespace %>-Flow_List-image <%= namespace %>-Flow_List-image-one-col">
            <div class="<%= namespace %>-Flow_List-image-one-col-inner">
              <img src="<%= sitepath %>assets/img/guide/iphone/find-my-iphone-off/flow-1-6.png" alt="">
            </div>
          </div>
        </li>
        <li>
          <h3 class="c-Heading_Lv4">6. 設定完了</h3>
          <p>スイッチがオフの状態になっていたら設定完了です。</p>
          <div class="<%= namespace %>-Flow_List-image <%= namespace %>-Flow_List-image-one-col">
            <div class="<%= namespace %>-Flow_List-image-one-col-inner">
              <img src="<%= sitepath %>assets/img/guide/iphone/find-my-iphone-off/flow-1-7.png" alt="">
            </div>
          </div>
        </li>
      </ul>
      <p class="u-Adjust_Mt-24">以上でiPhoneから「iPhoneを探す」をオフにする設定は完了です。</p>
    </div>
    <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
      <p class="c-Txt_Cap u-Adjust_Mt-24">※パソコンから「iPhoneを探す」をオフにすることはできますが、オンにすることはできませんので、ご注意ください。</p>
      <ul class="<%= namespace %>-Flow_List u-Adjust_Mt-24">
        <li>
          <h3 class="c-Heading_Lv4">1. パソコンで「<a href="https://www.icloud.com/" target="_blank">iCloud</a>」にサインインする</h3>
          <p>「iPhoneを探す」をオフにする「Apple ID」でサインインしてください。</p>
        </li>
        <li>
          <h3 class="c-Heading_Lv4">2. 「iPhoneを探す」をクリック</h3>
          <div class="<%= namespace %>-Flow_List-image <%= namespace %>-Flow_List-image-pc <%= namespace %>-Flow_List-image-one-col">
            <div class="<%= namespace %>-Flow_List-image-one-col-inner">
              <img src="<%= sitepath %>assets/img/guide/iphone/find-my-iphone-off/flow-2-1.png" alt="">
            </div>
          </div>
        </li>
        <li>
          <h3 class="c-Heading_Lv4">3. パスワードを入力する</h3>
          <div class="<%= namespace %>-Flow_List-image <%= namespace %>-Flow_List-image-pc <%= namespace %>-Flow_List-image-one-col">
            <div class="<%= namespace %>-Flow_List-image-one-col-inner">
              <img src="<%= sitepath %>assets/img/guide/iphone/find-my-iphone-off/flow-2-2.png" alt="">
            </div>
          </div>
        </li>
        <li>
          <h3 class="c-Heading_Lv4">4. 「すべてのデバイス」をクリック</h3>
          <div class="<%= namespace %>-Flow_List-image <%= namespace %>-Flow_List-image-pc <%= namespace %>-Flow_List-image-one-col">
            <div class="<%= namespace %>-Flow_List-image-one-col-inner">
              <img src="<%= sitepath %>assets/img/guide/iphone/find-my-iphone-off/flow-2-3.png" alt="">
            </div>
          </div>
        </li>
        <li>
          <h3 class="c-Heading_Lv4">5. 「iPhoneを探す」をオフにするiPhoneをクリック</h3>
          <div class="<%= namespace %>-Flow_List-image <%= namespace %>-Flow_List-image-pc <%= namespace %>-Flow_List-image-one-col">
            <div class="<%= namespace %>-Flow_List-image-one-col-inner">
              <img src="<%= sitepath %>assets/img/guide/iphone/find-my-iphone-off/flow-2-4.png" alt="">
            </div>
          </div>
        </li>
        <li>
          <h3 class="c-Heading_Lv4">6. 「iPhoneを消去」をクリック</h3>
          <div class="<%= namespace %>-Flow_List-image <%= namespace %>-Flow_List-image-pc <%= namespace %>-Flow_List-image-one-col">
            <div class="<%= namespace %>-Flow_List-image-one-col-inner">
              <img src="<%= sitepath %>assets/img/guide/iphone/find-my-iphone-off/flow-2-5.png" alt="">
            </div>
          </div>
        </li>
        <li>
          <h3 class="c-Heading_Lv4">7. 「消去」をクリック</h3>
          <p>認証を求められる場合は、画面の案内にそって行ってください。</p>
          <p class="c-Txt_Cap u-Adjust_Mt-8">※すべてのコンテンツと設定が消去されます。消去されるとiPhoneの位置の確認や追跡ができなくなりますので、ご注意ください。</p>
          <div class="<%= namespace %>-Flow_List-image <%= namespace %>-Flow_List-image-pc <%= namespace %>-Flow_List-image-one-col">
            <div class="<%= namespace %>-Flow_List-image-one-col-inner">
              <img src="<%= sitepath %>assets/img/guide/iphone/find-my-iphone-off/flow-2-6.png" alt="">
            </div>
          </div>
        </li>
      </ul>
      <p class="u-Adjust_Mt-24">以上でパソコンから「iPhoneを探す」をオフにする設定は完了です。</p>
    </div>
  </div>
</div>

<div class="l-System_Container u-Adjust_Mb-64">
  <div class="<%= namespace %>-Category_Nav-noicon">
    <div class="u-Adjust_Mt-16">
      <a class="c-Btn_Regular-semiauto" href="<%= sitepath %>support/?l-id=footer_related_support">お客様サポートトップへ</a>
    </div>
    <div class="u-Adjust_Mt-16">
      <a class="c-Btn_Regular-semiauto" href="<%= rootpath %>?l-id=footer_related_top">楽天モバイルトップへ</a>
    </div>
  </div>
</div>



<%- include('/include/guide/_review') %>
<%- include('/include/guide/_inquiry') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/support/_smallcategory-js') %>
<%- include('/include/_append-body') %>



</body>
</html>
