<% const pagetitle = "Apple Watchを選ぶ理由" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/apple-watch/", label:"Apple Watch"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Apple Watchは、健やかな毎日のための究極のデバイスです。Apple Watchを選ぶ理由と、楽天モバイルで発売中のApple Watch Series 9,Apple Watch SE（第2世代）,Apple Watch Ultra 2のスペック・性能比較、特徴比較、サイズ比較をご案内します。',
    noindex: false,
    pathname: filepath
  });
%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/apple-watch/product-apple-watch.css?20240426">
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>

    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1 u-Adjust_Mt-32"><%= pagetitle %></h1>
    </div>

    <div class="u-Adjust_Mt-24 u-Adjust_Mb-64">
      <%- include('/include/product/apple-watch/why-apple-watch/_apple-watch') %>
    </div>

    <section data-ratid="why-apple-watch_scroll-06_option" data-ratevent="appear" data-ratparam="all">
      <%- /* Apple Watchを使うなら楽天モバイルがおすすめ */ include('/include/product/apple-watch/_recommend-product-apple-watch-8', {
      tradeinProduct: 'Watch 7 Hermes 45mm - GPS+Cellular - Stainless',
      tradeinProductDetail: 'Watch 7 Hermes - 45mm（GPS+Cellular）ステンレスケース',
      tradeinPrice: '27,500',
      currentDir: 'why-apple-watch',
      date: '2023年12月22日時点',
      customTradeinTitle: 'スマホ下取りサービス',
      }) _%>
    </section>

    <footer class="g-Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-product-top-v2.ejs') %>
        <%- include('/include/footer/bnr/_bnr.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
</body>

</html>
