<% const pagetitle = "テザリング" -%>
<% const namespace = "lp" -%>

<% const voice = [
  {
    url: '/uservoice/30/?l-id=ad_lp_uservoice_30',
    img: 'avator-30.png',
    h3: 'ひと月で150GB使っても安心！テザリングで2拠点生活も快適',
    text: '単身赴任先でのインターネット回線として、スマホのテザリングを利用しよう...'
  },
  {
    url: '/uservoice/07/?l-id=ad_lp_uservoice_07',
    img: 'avator-07.png',
    h3: 'データ無制限をフル活用。自宅のデバイスもテザリングで接続！',
    text: '「携帯電話と光回線がセット割引でそれぞれの料金の見直しが難しい」とお悩みの方もいらっしゃるのではないでしょうか...'
  },
] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '楽天モバイルのテザリング機能をご紹介します。テザリングとは、スマートフォンを使用してパソコン、ゲーム機などのWi-Fi対応機器をインターネットに接続できる機能です。',
    keywords: '',
    noindex: true,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/ad/lp/lp.css?20240424">
<%- include('/include/_append-head') %>
</head>

<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header-simple') %>
  <div class="<%= namespace %>-Layout_Hero">
    <h1>
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/ad/lp/hero-sp-240430.png" width="100%">
        <img src="<%= sitepath %>assets/img/ad/lp/hero-pc-240430.png" width="1440" height="400" alt="「Rakuten最強プラン」は、データ高速無制限※1で家族割引適用時なら2,880円/月（税込3,168円）">
      </picture>
    </h1>
  </div>
  <div class="l-System_Container">
    <p class="c-Txt_Cap u-Adjust_Mt-16">
      ※1 公平なサービス提供または環境により速度低下する場合あり。通話料等別
    </p>
    <div class="u-Adjust_Align-center u-Adjust_Mt-32 u-Adjust_Mt-sp-16">
      <a href="<%= sitepath %>guide/application/?lid-r=ad_lp_f_guide_application_01" class="c-Btn_Primary-large"><span>今すぐお申し込み</span></a>
    </div>
  </div>
  <div class="<%= namespace %>-Tethering">
    <div class="l-System_Container">
      <h2 class="u-Adjust_Align-center">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/ad/lp/title-01-sp-231208.png" width="100%">
          <img src="<%= sitepath %>assets/img/ad/lp/title-01-pc-231208.png" width="1032" height="51" alt="テザリングもデータ無制限で利用できる楽天モバイルがおすすめ">
        </picture>
      </h2>
      <div class="<%= namespace %>-Tethering_Description">
        <img src="<%= sitepath %>assets/img/ad/lp/img-01-231208.png" class="u-Show_Xxo" width="394" height="180" alt="">
        <div>
          <div class="u-Adjust_Align-center u-Adjust_My-24 u-Show_Oox">
            <img src="<%= sitepath %>assets/img/ad/lp/img-01-231208.png" width="330" height="151" alt="">
          </div>
          <p>テザリングとは、スマートフォンを使用してパソコン、ゲーム機などのWi-Fi対応機器をインターネットに接続できる機能です。<br>外出先のカフェでPCに繋いだり、家の中でWi-Fiの代わりに使ったりと、テザリングは使い方次第で用途が広がります。</p>
          <p class="c-Txt_Cap u-Adjust_Mt-16">
            ※別途お申し込み不要　※ゲーム内課金、コンテンツ利用料等別<br>
            ※2 公平なサービス提供または環境により速度低下する場合あり
          </p>
          <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>service/tethering/?l-id=ad_lp_service_tethering" class="c-Link_Txt-inline">テザリングをもっと詳しく見る<span class="c-Icon_Chevron-right"></span></a></p>
        </div>
      </div>
      <div id="js-trigger"></div>
      <h3 class="u-Adjust_Align-center u-Adjust_Mt-48">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/ad/lp/title-02-sp-231208.png" width="252" height="52">
          <img src="<%= sitepath %>assets/img/ad/lp/title-02-pc-231208.png" width="667" height="40" alt="楽天モバイルがおすすめの3つの理由">
        </picture>
      </h3>
      <ul class="<%= namespace %>-Tethering_Nav">
        <li>
          <a href="#point1" class="js-scroll c-Link_Txt-simple">
            <p class="c-Txt_Emp-02">POINT 1</p>
            <img src="<%= sitepath %>assets/img/ad/lp/icon-data.svg" alt="">
            <p>データ高速無制限<span class="c-Txt_Cap">※2</span></p>
            <span class="c-Icon_Arrow-down-l"></span>
          </a>
        </li>
        <li>
          <a href="#point2" class="js-scroll c-Link_Txt-simple">
            <p class="c-Txt_Emp-02">POINT 2</p>
            <img src="<%= sitepath %>assets/img/ad/lp/icon-yen.svg" alt="">
            <p>圧倒的な低価格</p>
            <span class="c-Icon_Arrow-down-l"></span>
          </a>
        </li>
        <li>
          <a href="#point3" class="js-scroll c-Link_Txt-simple">
            <p class="c-Txt_Emp-02">POINT 3</p>
            <img src="<%= sitepath %>assets/img/ad/lp/icon-point.svg" alt="">
            <p>ポイント払いでおトク</p>
            <span class="c-Icon_Arrow-down-l"></span>
          </a>
        </li>
      </ul>
      <p class="c-Txt_Cap u-Adjust_Mt-16 u-Align_Llc">
        ※2 公平なサービス提供または環境により速度低下する場合あり
      </p>
    </div>
  </div>
  <div class="<%= namespace %>-Data" id="point1">
    <div class="l-System_Container">
      <div class="u-Adjust_Align-center u-Adjust_Mb-32">
        <img src="<%= sitepath %>assets/img/ad/lp/point-1.png" width="236" height="44" alt="POINT 1">
      </div>
      <h2>
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/ad/lp/title-03-sp-231208.png" width="100%">
          <img src="<%= sitepath %>assets/img/ad/lp/title-03-pc-231208.png" width="1032" height="186" alt="日本全国の通信エリアどこでもデータ高速無制限※2">
        </picture>
      </h2>
      <div class="<%= namespace %>-Data_Area">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/ad/lp/img-map-sp-231208.png" width="100%">
          <img src="<%= sitepath %>assets/img/ad/lp/img-map-pc-231208.png" width="2043" height="710" alt="業界最高水準人口カバー率99.9% 4キャリア中、最も多くの地域で業界最高水準の通信品質評価を獲得！">
        </picture>
      </div>
      <div class="<%= namespace %>-Data_Area-pc">
        <p class="c-Txt_Cap u-Adjust_Mt-16">
          ※OpenSignal社データ（2023年8月時点）の当社分析に基づく。30府県で「一貫した品質」のRank1を獲得。詳細はページ下部「<a href="#anc_note">OpenSignal社データについて</a>」に記載。
        </p>
        <div class="<%= namespace %>-Data_Area-btn-wrapper">
          <a href="<%= sitepath %>area/?l-id=ad_lp_area" class="c-Btn_Regular-large">通信エリアを見る</a>
        </div>
      </div>
      <p class="c-Txt_Cap u-Adjust_Mt-16 u-Align_Llc">
        ※3 2023年6月時点。人口カバー率は、国勢調査に用いられる約500m区画において、50%以上の場所で通信可能なエリアを基に算出
      </p>
    </div>
  </div>
  <div class="<%= namespace %>-Price u-Adjust_Align-center" id="point2">
    <div class="l-System_Container">
      <div class="u-Adjust_Align-center u-Adjust_Mb-32">
        <img src="<%= sitepath %>assets/img/ad/lp/point-2.png" width="236" height="44" alt="POINT 2">
      </div>
      <div class="<%= namespace %>-Price_Point">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/ad/lp/img-price-sp-240430.png" width="686" height="871">
          <img src="<%= sitepath %>assets/img/ad/lp/img-price-pc-240430.png" width="977" height="487" alt="使わなければ勝手に安くなるおトクなワンプラン。「最強家族プログラム」適用後100円/月（税別）引きで、20GB超過後無制限※2,880円/月（税込3,168円）、3GB超過後20GBまで1,880円/月（税込2,068円）、3GBまで880円/月（税込968円）">
        </picture>
        <div class="u-Adjust_Mt-sp-32 u-Adjust_Align-center">
          <a href="<%= sitepath %>fee/saikyo-plan/" class="c-Btn_Primary-large">料金プラン詳細を見る</a>
        </div>
      </div>
    </div>
  </div>
  <div class="<%= namespace %>-Spu" id="point3">
    <div class="l-System_Container">
      <div class="u-Adjust_Align-center u-Adjust_Mb-32">
        <img src="<%= sitepath %>assets/img/ad/lp/point-3.png" width="236" height="44" alt="POINT 3">
      </div>
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/ad/lp/img-spu-1-sp-231208.png" width="100%">
        <img src="<%= sitepath %>assets/img/ad/lp/img-spu-1-pc-231208.png" width="1032" height="442" alt="いつものお買い物でもザクザク貯まる！ポイント払いでおトク ポイント払いで毎月の固定費がおトクに 楽天モバイルを契約中は楽天市場のお買い物ポイント＋4倍">
      </picture>
      <p class="u-Adjust_Mt-24 c-Txt_Cap u-Align_Llc u-Adjust_Mb-24 u-Adjust_Mb-pc-32">※毎月の獲得上限ポイント数は2,000ポイント、期間限定ポイントでの付与。詳細は<a href="<%= sitepath %>campaign/spu/" class="c-Link_Txt-inline">こちら</a>をご確認ください</p>
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/ad/lp/img-spu-2-sp-231208.png" width="100%">
        <img src="<%= sitepath %>assets/img/ad/lp/img-spu-2-pc-231208.png" width="1032" height="267" alt="楽天モバイルユーザーは毎月平均1,388ポイント獲得！つまりだれでも簡単にスマホ料金の支払いが０円になる">
      </picture>
      <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <a href="<%= sitepath %>campaign/spu/?l-id=ad_lp_campaign_spu" class="c-Btn_Regular-large">SPU詳細を見る</a>
      </div>
    </div>
  </div>
  <div id="user-voice" class="l-System_Container u-Adjust_Mt-8">
    <div class="<%= namespace %>-Layout u-Adjust_My-56 u-Adjust_My-sp-32">
      <h2 class="c-Heading_Lv1 u-Adjust_Align-center">テザリングを実際に<br class="u-Show_Oox">お使いのお客様の声</h2>
      <div class="<%= namespace %>-Voice_List">
        <% voice.forEach(function (value, key) { %>
        <div class="<%= namespace %>-Voice_Item">
          <a href="<%= value.url %>">
            <div class="<%= namespace %>-Voice_Img"><img src="<%= sitepath %>assets/img/uservoice/<%= value.img %>" width="124" height="124" alt="" loading="lazy"></div>
            <div class="<%= namespace %>-Voice_Txt">
              <h3><%= value.h3 %></h3>
              <p  class="<%= namespace %>-Voice_Txt-detail"><%= value.text %></p>
              <p class="<%= namespace %>-Voice_Txt-link">
                <span>続きを読む</span>
                <sapn class="c-Icon_Chevron-right <%= namespace %>-Voice_Txt-link-arrow"></sapn>
              </p>
            </div>
          </a>
        </div>
        <% }); %>
      </div>
      <div class="c-Carousel_Nav"></div>
      <div class="<%= namespace %>-Layout_System">
        <div class="<%= namespace %>-Layout_Contents-inner">
          <div class="u-Adjust_Align-center u-Adjust_Mt-24 u-Adjust_Mt-pc-32">
            <a href="<%= sitepath %>uservoice/?l-id=ad_lp_uservoice_uservoice" class="c-Btn_Secondly-large"><span>ご利用者の声一覧</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="l-System_Container u-Adjust_Mt-64">
    <%- include('/include/ad/lp/_bnr-cpn-recommend.ejs') %>
  </div>

  <div class="l-System_Container u-Adjust_Mt-64 u-Adjust_Mb-40">
    <h2 id="anc_note" class="c-Heading_Lv2 u-Adjust_Mt-8">注意事項</h2>
    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■料金プランについて</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      ※ご契約1回線目において、一定期間以上回線のご利用がない場合は、回線の利用停止または解約をさせていただく場合がございます。<br>
      ※1つの楽天IDにつき最大10回線まで契約可能。詳しくは「<a href="<%= sitepath %>faq/detail/00001243/" class="c-Link_Txt">契約可能上限数を教えてください</a>」をご確認ください。複数の楽天IDを作成/保有することは禁止しております。
    </p>

    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■全通信キャリアのデータ無制限プランで最安について</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      ※1 2023年7月時点。NTTドコモの「eximo」、KDDIの「使い放題MAX 5G/4G」、ソフトバンクの「メリハリ無制限」と比較
    </p>

    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■データ高速無制限について</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      ※2 公平なサービス提供または環境により速度低下する場合あり
    </p>

    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■サービスエリアについて</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      ※3 2023年9月時点。人口カバー率は、国勢調査に用いられる約500m区画において、50%以上の場所で通信可能なエリアを基に算出
    </p>

    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■OpenSignal社データについて</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      ※ 2023/6/2～2023/8/31の期間に記録されたモバイル測定値によるOpensignalデータにおいて、楽天モバイルは評価項目「一貫した品質」でRank1を獲得した都道府県数が、4キャリアTOPの30府県。※「一貫した品質」とは、一般的なモバイル・アプリケーションの要件をサポートするのに十分なネットワークであるかどうかを測定するもので、ユーザーが自分のデバイスでさまざまな典型的なタスクを維持（または完了）するのに「十分」なレベルであることを意味しています。
    </p>
  </div>

  <div class="<%= namespace %>-Cta_Apply-bottom" id="js-fixed-btn" aria-expanded="false">
    <div class="l-System_Container">
      <ul class="<%= namespace %>-Cta_Apply">
        <li>
          <a href="<%= sitepath %>guide/application/?lid-r=ad_lp_f_guide_application_02" class="c-Btn_Primary <%= namespace %>-Util_Btn">
            <span><span>新規／乗り換え（MNP）</span>お申し込み</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <footer class="g-Footer">
    <div class="g-Footer_Aside">
      <%- include('/include/footer/related/_related-news.ejs') %>
      <%- include('/include/footer/bnr/_bnr-news.ejs') %>
    </div>
    <div class="l-System_Container">
      <div class="c-Breadcrumbs_Foot">
        <ul>
          <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
          <li aria-current="true"><%= pagetitle %></li>
        </ul>
      </div>
    </div>
    <%- include('/include/_footer') %>
  </footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/lp.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
<script>
  function fixedBtn(trigger, elm) {
    let scrollY = window.pageYOffset;

    if( !elm || !trigger ) return;

    const triggerRect = trigger.getBoundingClientRect();
    const triggerY = triggerRect.top;

    if ( scrollY > triggerY ) {
      elm.setAttribute('aria-expanded', 'true');
    } else {
      elm.setAttribute('aria-expanded', 'false');
    }
  }

  function fixedBtnInit() {
    const bottomTrigger = document.getElementById('js-trigger');
    const bottomBtn = document.getElementById('js-fixed-btn');
    fixedBtn(bottomTrigger, bottomBtn)
  }

  window.addEventListener('scroll', fixedBtnInit);
</script>

</body>
</html>
