<% const pagetitle = "エンタメコンテンツがおトクに楽しめる！NBA、パ・リーグ、ミュージックを楽しむなら楽天モバイル！" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "digital-contents-ichiba-big" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '楽天モバイルならNBA、パ・リーグ、ミュージックが追加料金0円で楽しめる！※ミュージックは30日ごと5時間無料 楽天マガジンは初回90日無料で雑誌読み放題！Rakuten最強プランをご利用中の方はもちろん、これからご契約の方も対象です。',
  keywords: '',
  noindex: true,
  pathname: filepath,
  ogp_img: 'https://network.mobile.rakuten.co.jp/assets/img/campaign/digital-contents_ichiba-big/ogp.png',
});
%>
<%- include('/include/_common-css-v2') %>
<%- include('/inc/_about-rakuten-mobile-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/digital-contents_ichiba-big/digital-contents_ichiba-big.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout_Label">
      <ul class="c-Label_List">
        <li class="c-Label_Normal">ご契約者様対象</li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout_Main">
      <div class="<%= namespace %>-Hero">
        <h1 class="<%= namespace %>-Hero_Ttl">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %> )" srcset="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/hero-sp-240415.png" width="100%">
            <img src="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/hero-pc-240415.png" width="918" height="305" alt="楽天モバイルならNBA、パ・リーグ、ミュージックが追加料金0円で楽しめる！※ミュージックは30日ごとに5時間無料">
          </picture>
        </h1>
        <div class="<%= namespace %>-Hero_Secondary">
          <h2 class="<%= namespace %>-Hero_Secondary-Ttl">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %> )" srcset="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/hero-secondary-sp-240401.png" width="288">
              <img src="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/hero-secondary-pc-240401.png" width="413" height="41" alt="楽天マガジンは初回90日無料！">
            </picture>
          </h2>
        </div>
      </div>
      <div class="l-System_Container u-Adjust_Pt-8">
        <ul class="<%= namespace %>-Hero_Cap">
          <li class="c-Txt_Cap">※本キャンペーンは予告なく終了する場合があります </li>
          <li class="c-Txt_Cap">※「楽天モバイルご契約者様」とは、「Rakuten最強プラン・Rakuten最強プラン（データタイプ）」のご契約者様です </li>
          <li class="c-Txt_Cap">※「Rakuten最強プラン」の開通直後に各サービスを利用する場合、キャンペーンが適用されるまで3日から4日程度お待ちいただく場合がございます </li>
        </ul>
        <p class="<%= namespace %>-Hero_Announce">
          2024年4月1日（月）に楽天ミュージックから、楽天モバイルご契約者様向けに新プランが提供開始されました！
        </p>
        <section class="<%= namespace %>-Media">
          <ul>
            <li>
              <span class="<%= namespace %>-Media_Description">
                <h2 class="<%= namespace %>-Media_Title-border">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %> )" srcset="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/ttl-nba-sp-240415.png" width="100%">
                    <img src="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/ttl-nba-pc-240415.png" width="502" height="258" alt="NBA Rakuten">
                  </picture>
                </h2>
                <div class="<%= namespace %>-Media_Body">
                  <p class="<%= namespace %>-Media_Body-heading u-Adjust_Mt-8 u-Adjust_Mt-pc-16 <%= namespace %>-Media_Txt-5">
                    <picture>
                      <source media="(max-width: <%= themeGlb.max.m %> )" srcset="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/text-nba-sp-240415.png" width="100%">
                      <img src="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/text-nba-pc-240415.png" width="303" height="52" alt="開幕からNBAファイナルまで全試合見放題にアップグレード！">
                    </picture>
                  </p>
                  <p class="<%= namespace %>-Media_Txt-1 u-Adjust_Mt-16">
                    <picture>
                      <source media="(max-width: <%= themeGlb.max.m %> )" srcset="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/fig3-sp-240415.png" width="100%">
                        <img src="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/fig3-pc-240415.png" width="364" height="65" alt="追加料金0円で楽しめる!!" loading="lazy">
                    </picture>
                  </p>
                </div>
              </span>
              <div class="<%= namespace %>-Media_Btn <%= namespace %>-Media_Btn-mod-1">
                <div class="<%= namespace %>-Media_Btn-mod-1-item">
                  <p class="<%= namespace %>-Media_Txt-1">
                    <img src="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/txt-detail-nba.png" class="<%= namespace %>-Media_Img-nba" alt="詳細はお申し込み専用ページへ 「 楽天モバイル　NBA 」をWebで検索してください" loading="lazy">
                  </p>
                  <div class="<%= namespace %>-Media_Btn-mod-1-search u-Adjust_Mt-8">
                    <div class="<%= namespace %>-Media_Copy-wrapper">
                      <div class="<%= namespace %>-Media_Copy">
                        <div class="<%= namespace %>-Media_Copy-txt-wrapper">
                          <span id="js-clipboard-nba" class="<%= namespace %>-Media_Copy-txt">楽天モバイル　NBA</span>
                        </div>
                        <span class="<%= namespace %>-Media_Copy-btn js-clipboard" data-clipboard-target="#js-clipboard-nba">コピーする</span>
                      </div>
                    </div>
                  </div>
                  <p class="u-Adjust_Mt-8 c-Txt_Cap <%= namespace %>-Media_Copy-txt-cap">※ボタンを押してもコピーできない場合、手入力で検索してください</p>
                </div>
                <div class="u-Adjust_Align-center">
                  <a href="#js-trigger" class="c-Link_Txt-icon-front" style="width: auto;"><span class="c-Icon_Arrow-down-l"></span>キャンペーンの参加方法</a>
                </div>
              </div>
            </li>
            <li>
              <span class="<%= namespace %>-Media_Description">
                <h2 class="<%= namespace %>-Media_Title-border">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %> )" srcset="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/ttl-pleague-sp-240415.png" width="100%">
                    <img src="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/ttl-pleague-pc-240415.png" width="502" height="258" alt="パ・リーグ Special">
                  </picture>
                </h2>
                <div class="<%= namespace %>-Media_Body">
                  <p class="<%= namespace %>-Media_Body-heading <%= namespace %>-Media_Txt-1 u-Adjust_Mt-8 u-Adjust_Mt-pc-16">
                    <picture>
                      <source media="(max-width: <%= themeGlb.max.m %> )" srcset="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/text-pleague-sp-240415.png" width="100%">
                      <img src="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/text-pleague-pc-240415.png" width="303" height="51" alt="野球ファンなら見逃せない！パ・リーグ主催公式戦を全試合ライブ配信">
                    </picture>
                  </p>
                  <p class="<%= namespace %>-Media_Txt-2 u-Adjust_Mt-16">
                    <picture>
                      <source media="(max-width: <%= themeGlb.max.m %> )" srcset="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/fig4-sp-230415.png" width="100%">
                      <img src="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/fig4-pc-240415.png" width="364" height="65" alt="追加料金0円で楽しめる!!" loading="lazy">
                    </picture>
                  </p>
                </div>
              </span>
              <div class="<%= namespace %>-Media_Btn <%= namespace %>-Media_Btn-mod-1">
                <div class="<%= namespace %>-Media_Btn-mod-1-item">
                  <p class="<%= namespace %>-Media_Txt-1">
                    <img src="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/txt-detail-pa.png" class="<%= namespace %>-Media_Img-pa" alt="詳細はお申し込み専用ページへ 「 楽天モバイル　パ・リーグ 」をWebで検索してください" loading="lazy">
                  </p>
                  <div class="<%= namespace %>-Media_Btn-mod-1-search u-Adjust_Mt-8">
                    <div class="<%= namespace %>-Media_Copy-wrapper">
                      <div class="<%= namespace %>-Media_Copy">
                        <div class="<%= namespace %>-Media_Copy-txt-wrapper">
                          <span id="js-clipboard-pa" class="<%= namespace %>-Media_Copy-txt">楽天モバイル　パ・リーグ</span>
                        </div>
                        <span class="<%= namespace %>-Media_Copy-btn js-clipboard" data-clipboard-target="#js-clipboard-pa">コピーする</span>
                      </div>
                    </div>
                  </div>
                  <p class="u-Adjust_Mt-8 c-Txt_Cap <%= namespace %>-Media_Copy-txt-cap">※ボタンを押してもコピーできない場合、手入力で検索してください</p>
                </div>
                <div class="u-Adjust_Align-center">
                  <a href="#js-trigger" class="c-Link_Txt-icon-front" style="width: auto;"><span class="c-Icon_Arrow-down-l"></span>キャンペーンの参加方法</a>
                </div>
              </div>
            </li>
            <li>
              <span class="<%= namespace %>-Media_Description">
                <h2 class="<%= namespace %>-Media_Title"> <img src="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/ttl-rmusic.svg" width="182" height="32" alt="Rakuten music"></h2>
                <div class="u-Adjust_Mt-8">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %> )" srcset="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/fig2-sp-240415.png" width="100%">
                    <img src="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/fig2-pc-240415.png" width="996" height="416" alt="">
                  </picture>
                </div>
                <div class="<%= namespace %>-Media_Body">
                  <p class="<%= namespace %>-Media_Body-heading u-Adjust_Mt-8 u-Adjust_Mt-pc-16">
                    <picture>
                      <source media="(max-width: <%= themeGlb.max.m %> )" srcset="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/text-music-sp-240401.png" width="100%">
                      <img src="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/text-music-pc-240415.png" width="448" height="48" alt="登録不要でログインするだけ シャッフルじゃない！好きな曲を選んでフル再生。">
                    </picture>
                  </p>
                  <div class="u-Adjust_Mt-16">
                    <picture>
                      <source media="(max-width: <%= themeGlb.max.m %> )" srcset="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/text-music2-sp-240415.png" width="100%">
                      <img src="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/text-music2-pc-240415.png" width="454" height="256" alt="追加料金0円で楽しめる！！※30日ごとに5時間無料。一部フル再生およびダウンロード対象外有り。楽天モバイルでご契約の楽天IDでログインする必要有り。さらに再生時間無制限のプランもずっと200円OFF">
                    </picture>
                  </div>
                </div>
              </span>
              <div class="<%= namespace %>-Media_Btn <%= namespace %>-Media_Btn-mod-1">
                <div class="<%= namespace %>-Media_Btn-mod-1-item">
                  <p class="<%= namespace %>-Media_Txt-1">
                    <img src="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/txt-detail-music.png" class="<%= namespace %>-Media_Img-music" alt="詳細はお申し込み専用ページへ 「 楽天モバイル　music 」をWebで検索してください" loading="lazy">
                  </p>
                  <div class="<%= namespace %>-Media_Btn-mod-1-search u-Adjust_Mt-8">
                    <div class="<%= namespace %>-Media_Copy-wrapper">
                      <div class="<%= namespace %>-Media_Copy">
                        <div class="<%= namespace %>-Media_Copy-txt-wrapper">
                          <span id="js-clipboard-music" class="<%= namespace %>-Media_Copy-txt">楽天モバイル　music</span>
                        </div>
                        <span class="<%= namespace %>-Media_Copy-btn js-clipboard" data-clipboard-target="#js-clipboard-music">コピーする</span>
                      </div>
                    </div>
                  </div>
                  <p class="u-Adjust_Mt-8 c-Txt_Cap <%= namespace %>-Media_Copy-txt-cap">※ボタンを押してもコピーできない場合、手入力で検索してください</p>
                </div>
                <div class="u-Adjust_Align-center">
                  <a href="#js-trigger" class="c-Link_Txt-icon-front" style="width: auto;"><span class="c-Icon_Arrow-down-l"></span>キャンペーンの参加方法</a>
                </div>
              </div>
            </li>
            <li data-ratid="campaign_digital-contents_ichiba-big_scroll-02_magazine" data-ratevent="appear">
              <span class="<%= namespace %>-Media_Description">
                <h2 class="<%= namespace %>-Media_Title"> <img src="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/ttl-rmagazine.svg" width="230" height="32" alt="Rakuten MAGAZINE"></h2>
                <div class="u-Adjust_Mt-8">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %> )" srcset="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/fig1-sp-240415.png" width="100%">
                    <img src="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/fig1-pc-240415.png" width="1004" height="416" alt="">
                  </picture>
                </div>
                <div class="<%= namespace %>-Media_Body">
                  <p class="<%= namespace %>-Media_Body-heading u-Adjust_Mt-8 u-Adjust_Mt-pc-16">
                    <picture>
                      <source media="(max-width: <%= themeGlb.max.m %> )" srcset="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/text-magazine-pc-240415.png" width="100%">
                      <img src="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/text-magazine-pc-240415.png" width="430" height="51" alt="6,000冊/1,400誌以上読み放題！ ファッション、芸能、趣味まで幅広いジャンル！">
                    </picture>
                  </p>
                  <p class="u-Adjust_Mt-16">
                    <picture>
                      <source media="(max-width: <%= themeGlb.max.m %> )" srcset="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/text-magazine2-sp-240415.png" width="100%">
                      <img src="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/text-magazine2-pc-240415.png" width="454" height="268" alt="初回90日無料！さらに無料期間後も30%OFF">
                    </picture>
                  </p>
                </div>
              </span>
              <div class="<%= namespace %>-Media_Btn <%= namespace %>-Media_Btn-mod-1">
                <div class="<%= namespace %>-Media_Btn-mod-1-item">
                  <p class="<%= namespace %>-Media_Txt-1">
                    <img src="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/txt-detail-magazine.png" class="<%= namespace %>-Media_Img-magazine" alt="詳細はお申し込み専用ページへ 「 楽天モバイル　magazine 」をWebで検索してください" loading="lazy">
                  </p>
                  <div class="<%= namespace %>-Media_Btn-mod-1-search u-Adjust_Mt-8">
                    <div class="<%= namespace %>-Media_Copy-wrapper">
                      <div class="<%= namespace %>-Media_Copy">
                        <div class="<%= namespace %>-Media_Copy-txt-wrapper">
                          <span id="js-clipboard-magazine" class="<%= namespace %>-Media_Copy-txt">楽天モバイル　magazine</span>
                        </div>
                        <span class="<%= namespace %>-Media_Copy-btn js-clipboard" data-clipboard-target="#js-clipboard-magazine">コピーする</span>
                      </div>
                    </div>
                  </div>
                  <p class="u-Adjust_Mt-8 c-Txt_Cap <%= namespace %>-Media_Copy-txt-cap">※ボタンを押してもコピーできない場合、手入力で検索してください</p>
                </div>
                <div class="u-Adjust_Align-center">
                  <a href="#js-trigger" class="c-Link_Txt-icon-front" style="width: auto;"><span class="c-Icon_Arrow-down-l"></span>キャンペーンの参加方法</a>
                </div>
              </div>
            </li>
          </ul>
          <div class="u-Rat_Appear-height" data-ratid="campaign_digital-contents_ichiba-big_scroll-03_youtube" data-ratevent="appear">&nbsp;</div>
          <div class="<%= namespace %>-Media_Youtube <%= namespace %>-Media_Youtube-mod-1">
            <span>
              <h2 class="<%= namespace %>-Media_Youtube-Title c-Txt_Emp-01">YouTube Premiumも<br class="<%= namespace %>-Utility_Br-sp">おトク！</h2>
              <div class="<%= namespace %>-Media_Youtube-Img <%= namespace %>-Media_Youtube-Img-mod-1">
                <div class="<%= namespace %>-Media_Youtube-Img-mod-1-item">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %> )" srcset="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/img-yt-ichiba-sp-1.png" width="100%">
                    <img src="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/img-yt-ichiba-pc-1.png" width="475" alt="YouTube Premium YouTubeをより快適に楽しめる月額制有料サービス">
                  </picture>
                </div>
                <div class="<%= namespace %>-Media_Youtube-Img-mod-1-item">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %> )" srcset="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/img-yt-ichiba-sp-2-230510-2.png" width="279">
                    <img class="<%= namespace %>-Media_Txt-4" src="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/img-yt-ichiba-pc-2-230510-2.png" width="476" alt="1,180円(税込)／月▶初回3カ月無料 ※Androidのお客様のみ ※YouTube Premium等サービス初めての利用に限る">
                  </picture>
                  <div class="u-Adjust_Mt-8">
                    <p class="<%= namespace %>-Media_Txt-1 <%= namespace %>-Media_Txt-1-mod-1 u-Adjust_Align-center u-Adjust_Mt-8">
                      <img src="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/txt-detail-yt.png" class="<%= namespace %>-Media_Img-yt" alt="詳細はお申し込み専用ページへ 「 楽天モバイル　YouTube 」をWebで検索してください" loading="lazy">
                    </p>
                    <div class="l-System_Container">
                      <div class="<%= namespace %>-Media_Btn-mod-1-search u-Adjust_Mt-8">
                        <div class="<%= namespace %>-Media_Copy-wrapper">
                          <div class="<%= namespace %>-Media_Copy u-Adjust_Align-center">
                            <div class="<%= namespace %>-Media_Copy-txt-wrapper">
                              <span id="js-clipboard-yt" class="<%= namespace %>-Media_Copy-txt">楽天モバイル　YouTube</span>
                            </div>
                            <span class="<%= namespace %>-Media_Copy-btn js-clipboard" data-clipboard-target="#js-clipboard-yt">コピーする</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <p class="u-Adjust_Mt-8 c-Txt_Cap u-Adjust_Align-center <%= namespace %>-Media_Copy-txt-cap">※ボタンを押してもコピーできない場合、手入力で検索してください</p>
                  </div>
                </div>
              </div>
            </span>
          </div>
        </section>
      </div>
    </div>

    <div class="u-Rat_Appear-height" data-ratid="campaign_digital-contents_ichiba-big_scroll-04_entry" data-ratevent="appear">&nbsp;</div>
    <section class="<%= namespace %>-Entry">
      <div class="l-System_Container">
        <h2 class="<%= namespace %>-Entry_Title u-Adjust_Align-center">
          <span>Rakuten最強プランご契約者様なら</span><br class="<%= namespace %>-Utility_Br-pc">楽天グループのコンテンツや<br class="<%= namespace %>-Utility_Br-sp">動画コンテンツがおトクに楽しめる！
        </h2>
        <div class="<%= namespace %>-Entry_Main">
          <h3 class="<%= namespace %>-Entry_Title2 u-Adjust_Align-center">これからお申し込みのお客様も対象</h3>
          <h4 class="<%= namespace %>-Entry_Title3">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %> )" srcset="<%= sitepath %>assets/img/campaign/digital-contents/txt2-sp-230601.png" width="100%">
              <img src="<%= sitepath %>assets/img/campaign/digital-contents/txt2-pc-230601.png" width="428" alt="Rakuten最強プランのお申し込みはこちら" loading="lazy">
            </picture>
          </h4>
          <ul class="<%= namespace %>-Entry_Btns">
            <li><a href="<%= sitepath %>guide/application/?lid-r=campaign_digital-contents_ichiba-big_guide_application" class="c-Btn_Primary <%= namespace %>-Entry_CustumBtn <%= namespace %>-Entry_CustumBtn-height"><span>新規／乗り換え（MNP）<br class="<%= namespace %>-Utility_Br-sp">お申し込み</span></a></li>
            <li><a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_digital-contents&mno_migration=1" class="c-Btn_Secondly <%= namespace %>-Entry_CustumBtn" target="_blank"><span><span class="<%= namespace %>-Entry_CustumBtn-txtS">スーパーホーダイ、組み合わせプランからの</span><br>プラン変更（移行）お申し込み</span></a></li>
          </ul>
          <h4 class="<%= namespace %>-Entry_Title4">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %> )" srcset="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/txt3-sp.png" width="100%">
              <img src="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/txt3-pc.svg" width="314" height="" alt="全国のショップ検索はこちら" loading="lazy">
            </picture>
          </h4>
          <div class="<%= namespace %>-Entry_Btn">
            <a href="<%= sitepath %>shop/?l-id=campaign_digital-contents_ichiba-big_shop" class="c-Btn_Secondly <%= namespace %>-Entry_CustumBtn"><span>お近くのショップを探す</span></a>
          </div>
        </div>
      </div>
    </section>

    <section id="js-trigger" class="<%= namespace %>-Flow">
      <div class="l-System_Container">
        <div class="u-Rat_Appear-height" data-ratid="campaign_digital-contents_ichiba-big_scroll-05_step" data-ratevent="appear">&nbsp;</div>
        <h2 class="<%= namespace %>-Flow_Title u-Adjust_Align-center">
          キャンペーンの<br class="<%= namespace %>-Utility_Br-sp">参加方法
        </h2>
        <ul class="<%= namespace %>-Flow_List">
          <li>
            <h3 class="<%= namespace %>-Flow_Title2 u-Adjust_Align-center">
              Rakuten最強プランに<br>
              ご契約中または新規ご契約
            </h3>
            <div class="<%= namespace %>-Flow_Img u-Adjust_Mt-24 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/img1-230412.png" width="249" height="100" alt="" loading="lazy">
            </div>
            <p class="u-Adjust_Mt-16">これからお申し込みの方も、プランご利用開始後から対象となります。</p>
            <div class="u-Adjust_Mt-16">
              <a class="c-Link_Txt-icon-front js-scroll" href="#unlimit-plan"><span class="c-Icon_Arrow-down-l"></span>お申し込みはこちら</a>
            </div>
          </li>
          <li>
            <h3 class="<%= namespace %>-Flow_Title2 u-Adjust_Align-center">
              専用ページから<br>
              各サービスへお申し込み
            </h3>
            <div class="<%= namespace %>-Flow_Img u-Adjust_Mt-24 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/img-search.png" width="272" height="44" alt="" loading="lazy">
            </div>
            <p>
              対象のワードをWebで検索し、各サービスのお申し込み専用ページにアクセスしてください。<br>
              キャンペーンページで特典内容・キャンペーンルールをご確認のうえお申し込みください。
            </p>
          </li>
          <li>
            <h3 class="<%= namespace %>-Flow_Title2 u-Adjust_Align-center">
              キャンペーン条件達成で<br>
              特典進呈！
            </h3>
            <div class="<%= namespace %>-Flow_Img u-Adjust_Mt-24 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/img2.png" width="144" height="94" alt="" loading="lazy">
            </div>
            <p class="u-Adjust_Mt-16">
              各キャンペーンには達成条件が定められています。<br class="<%= namespace %>-Utility_Br-pc">
              各ページのキャンペーンルールを確認して条件を達成してください。
            </p>
          </li>
        </ul>
      </div>
    </section>

    <section class="<%= namespace %>-Mobile">
      <div class="l-System_Container">
        <div class="u-Rat_Appear-height" data-ratid="campaign_digital-contents_ichiba-big_scroll-06_entry-step" data-ratevent="appear">&nbsp;</div>
        <h2 class="<%= namespace %>-Mobile_Title u-Adjust_Align-center" id="unlimit-plan">
          楽天モバイルの<br class="<%= namespace %>-Utility_Br-sp">お申し込み方法
        </h2>
        <div class="c-Accordion <%= namespace %>-Mobile_Block">
          <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 u-Adjust_Mr-16">STEP1</span><span class="c-Txt_Emp-01">楽天モバイルのお申し込み</span></button>
          <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="false" style="">
            <div class="c-Tab js-Tab">
              <ul class="c-Tab_Items" role="tablist">
                <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1" data-ratid="campaign_digital-contents_ichiba-big_tab_application_web" data-ratevent="click" data-ratparam="all">Web</li>
                <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2" data-ratid="campaign_digital-contents_ichiba-big_tab_application_shop" data-ratevent="click" data-ratparam="all">ショップ</li>
              </ul>
              <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">

                <div class="c-Theme-Borderbox u-Adjust_Mt-24">
                  <div class="l-Media_Grid">
                    <div class="l-Media_Image c-Flow_Image">
                      <img src="/assets/img/campaign/digital-contents_ichiba-big/icon-flow-01.png" alt="">
                    </div>
                    <div>
                      <p class="c-Txt_Emp-01">お申し込みに必要なもの</p>
                      <ul class="c-List_Text-disc u-Adjust_Mt-16">
                        <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/verify/?l-id=campaign_digital-contents_ichiba-big_guide_verify" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                        <li class="u-Adjust_Mt-8">楽天会員ID、パスワード</li>
                        <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/?l-id=campaign_digital-contents_ichiba-big_guide_payment" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a></li>
                      </ul>
                      <p class="u-Adjust_Mt-8 c-Txt_Cap">※<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_digital-contents_ichiba-big_flow_for-minors" class="c-Link_Txt">未成年の方のお申し込み方法はこちら</a></p>
                      <p class="u-Adjust_Mt-8 c-Txt_Cap">※MNPワンストップ未対応の携帯電話会社から乗り換えの方は、MNP予約番号の取得が必要です。MNPワンストップ対象の携帯電話会社は<a href="<%= sitepath %>guide/mnp/?l-id=campaign_digital-contents_ichiba-big_guide_mnp#carrier" class="c-Link_Txt">こちら</a>からご確認ください。</p>
                      <p class="u-Adjust_Mt-8 c-Txt_Cap">※ ショップでのお手続きは、ワンストップ対象の他社からの転入であっても、MNP予約番号を取得のうえ、ご来店ください。</p>
                    </div>
                  </div>
                </div>
                <div class="l-Media_Grid-half u-Adjust_Mt-24">
                  <div class="c-Theme-Borderbox">
                    <div class="u-Adjust_Align-center">
                      <p class="<%= namespace %>-Mobile_Icon-title"><span class="c-Icon_New-user-f u-Adjust_Pr-8"></span><span class="c-Txt_Emp-01">新規電話番号／他社から乗り換え（MNP）</span></p>
                      <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/application/?lid-r=campaign_digital-contents_ichiba-big_step_guide_application" class="c-Btn_Primary-large">Rakuten最強プランに申し込む</a></p>
                      <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>fee/saikyo-plan/?l-id=campaign_digital-contents_fee_saikyo-plan" class="c-Link_Txt-inline">Rakuten最強プランの詳細<span class="c-Icon_Chevron-right"></span></a></p>
                      <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/flow/application/?l-id=campaign_digital-contents_ichiba-big_guide_flow_application" class="c-Link_Txt-inline">Rakuten最強プラン お申し込み方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                    </div>
                  </div>
                  <div class="c-Theme-Borderbox">
                    <div class="u-Adjust_Align-center">
                      <p class="<%= namespace %>-Mobile_Icon-title"><span class="c-Icon_Paper-plane-l u-Adjust_Pr-8"></span><span class="c-Txt_Emp-01">楽天モバイル（ドコモ・au回線）から<br>プラン変更（移行）</span></p>
                      <p class="u-Adjust_Mt-24">
                        <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_digital-contents_ichiba-big_step&mno_migration=1" class="c-Btn_Secondly-large top-Description_Btn-text" target="_blank">
                          <span>メンバーズステーションから<br class="digital-contents-Utility_Br-pc">プラン変更（移行）する</span>
                        </a>
                      </p>
                      <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/migration/?l-id=campaign_digital-contents_ichiba-big_guide_migration" class="c-Link_Txt-inline">スーパーホーダイ・組み合わせプラン（※）との比較<span class="c-Icon_Chevron-right"></span></a></p>
                      <p class="u-Adjust_Mt-0 c-Txt_Cap">※2020年4月8日に受付終了のドコモ回線・au回線使用プラン</p>
                      <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/mnp/migration/?l-id=campaign_digital-contents_ichiba-big_guide_mnp_migration" class="c-Link_Txt-inline">楽天モバイル（楽天回線）への移行方法<span class="c-Icon_Chevron-right"></span></a></p>
                      <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>flow/mvno-user-registration/?l-id=campaign_digital-contents_ichiba-big_flow_mvno-user-registration" class="c-Link_Txt-inline">利用者登録をされている方の移行方法 <span class="c-Icon_Chevron-right"></span></a></p>
                    </div>
                  </div>
                </div>

              </div>

              <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
                <div class="l-Media_Grid u-Adjust_Mt-24">
                  <div class="l-Media_Image c-Flow_Image">
                    <img src="/assets/img/campaign/digital-contents_ichiba-big/icon-flow-02.png" alt="">
                  </div>
                  <div>
                    <p class="c-Txt_Emp-01">対象製品と一緒に「Rakuten最強プラン」を申し込む</p>
                    <p class="u-Adjust_Mt-8 c-Txt_Emp-02 c-Txt_Cap">※未成年の方のお申し込み方法は別途<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_digital-contents_ichiba-big_flow_for-minors">こちら</a>のご案内ページをご確認ください。</p>
                    <p><a href="<%= sitepath %>shop/" class="c-Btn_Regular u-Adjust_Mt-16">お近くのショップを探す</a></p>
                  </div>
                </div>
                <div class="c-Theme-Borderbox u-Adjust_Mt-24">
                  <div class="l-Media_Grid">
                    <div class="l-Media_Image c-Flow_Image">
                      <img src="/assets/img/campaign/digital-contents_ichiba-big/icon-flow-01.png" alt="">
                    </div>
                    <div>
                      <p class="c-Txt_Emp-01">お申し込みに必要なもの</p>
                      <ul class="c-List_Text-disc u-Adjust_Mt-16">
                        <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/verify/?l-id=campaign_digital-contents_ichiba-big_guide_verify" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                        <li class="u-Adjust_Mt-8">楽天会員ID、パスワード</li>
                        <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/?l-id=campaign_digital-contents_ichiba-big_shop-guide_payment" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a></li>
                        <li class="u-Adjust_Mt-8">ご契約者名義の<a href="<%= sitepath %>guide/mnp/?l-id=campaign_digital-contents_ichiba-big_guide_mnp">MNP予約番号</a>（他社から乗り換えの場合）</li>
                      </ul>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※未成年の方のお申し込み方法は<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_digital-contents_ichiba-big_flow_for-minors">こちら</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="c-Accordion <%= namespace %>-Mobile_Block">
          <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 u-Adjust_Mr-16">STEP2</span><span class="c-Txt_Emp-01">「Rakuten最強プラン」利用開始</span></button>
          <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="false" style="">
            <div class="l-Media_Grid">
              <div class="l-Media_Image c-Flow_Image">
                <img src="/assets/img/campaign/digital-contents_ichiba-big/icon-flow-03-230412.png" alt="">
              </div>
              <div>
                <p><span class="c-Txt_Emp-01">期限</span>：各キャンペーンのお申し込みまで</p>
                <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>faq/detail/00001648/?l-id=campaign_digital-contents_ichiba-big_faq_detail_00001648" class="c-Btn_Regular">プラン利用開始手順</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="u-Rat_Appear-height" data-ratid="campaign_digital-contents_ichiba-big_scroll-07_rul7" data-ratevent="appear">&nbsp;</div>
    <div id="unlimit-vi-plan" class="u-Adjust_Mt-48">
      <%- include('/inc/_saikyo') %>
    </div>

    <div class="u-Bg_Monotone97 u-Adjust_Py-48 u-Adjust_Mt-48">
      <%- include('/inc/_about-rakuten-mobile', { baseLId: 'campaign_digital-contents_ichiba-big' }) %>
    </div>

  <div id="js-fixed-btn" class="<%= namespace %>-Layout_Bottom-fixed" aria-expanded="false" role="region">
    <div class="<%= namespace %>-Layout_Bottom-fixed-inner">
      <a href="<%= sitepath %>guide/application/?lid-r=campaign_digital-contents_ichiba-big_f_guide_application" class="c-Btn_Primary <%= namespace %>-Layout_Bottom-fixed-btn"><span class="<%= namespace %>-Layout_Bottom-fixed-btn-txt"><span class="Bottom_txt-style">新規／乗り換え（MNP）</span><br class="<%= namespace %>-Utility_Br-sp">お申し込み</span></a>
      <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_digital-contents_ichiba-big_ms&mno_migration=1" class="c-Btn_Secondly <%= namespace %>-Layout_Bottom-fixed-btn" data-ratid="campaign_bank_ms1" data-ratevent="click" data-ratparam="all"><span class="<%= namespace %>-Layout_Bottom-fixed-btn-txt"><span class="Bottom_txt-style">楽天モバイル（ドコモ・au回線）</span><br class="<%= namespace %>-Utility_Br-sp"><span class="Bottom_txt-style">からの</span><br class="<%= namespace %>-Utility_Br-pc">移行お申し込み</span></a>
    </div>
  </div>

  <div class="u-Rat_Appear-height" data-ratid="campaign_digital-contents_ichiba-big_scroll-08_popask" data-ratevent="appear">&nbsp;</div>

  <!-- ReX UX Survey: Mounting point for embedded components -->
  <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>

  <div id="textCopied" class="<%= namespace %>-Media_Copied-wrapper js-modal-close" aria-hidden="true">
    <div class="<%= namespace %>-Media_Copied u-Adjust_Align-center js-modal-card">
      <img class="<%= namespace %>-Media_Copied-close js-modal-close" src="<%= sitepath %>assets/img/campaign/digital-contents_ichiba-big/close.png" alt="">
      <h4 class="c-Txt_Normal-m">検索ワードをコピーしました</h4>
      <p>Webでペーストして検索し、<br class="<%= namespace %>-Utility_Br-sp">お申し込みページにアクセスしてください</p>
    </div>
  </div>

  <footer class="g-Footer <%= namespace %>-Layout_Footer u-Adjust_Mt-64">
    <div class="g-Footer_Aside">
      <%- include('/include/footer/related/_related-news.ejs') %>
      <%- include('/include/footer/bnr/_bnr-news.ejs') %>
    </div>
    <div class="l-System_Container">
      <div class="c-Breadcrumbs_Foot">
        <ul>
          <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ if (typeof directories !== 'undefined') { _%>
          <%_ let dirs = []; _%>
          <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
          <%_ }) _%>
          <%_ } _%>
          <li aria-current="true"><%= pagetitle %></li>
        </ul>
      </div>
    </div>
    <%- include('/include/_footer') %>
  </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <script src="<%= sitepath %>assets/js/library/clipboard.min.js"></script>
  <script>
    const clipboard = new ClipboardJS('.js-clipboard');
    const textCopied = document.getElementById('textCopied');
    const modalClose = document.getElementsByClassName('js-modal-close');
    const modalCard = document.getElementsByClassName('js-modal-card')[0];

    clipboard.on('success', function (e) {
      textCopied.setAttribute('aria-hidden', 'false');
    })

    modalCard.addEventListener('click', function() {
      event.stopPropagation();
    });

    modalClose.forEach(element => {
      element.addEventListener('click', function() {
        textCopied.setAttribute('aria-hidden', 'true');
      })
    });
  </script>
  <%- include('/include/_append-body') %>


  <!-- ReX UX Survey: Config -->
  <script>
    window.rexSurveyConfig = {
      "surveyId": "40809",
      "cId": {
          "name": "answers[40809_277201]",
          "value": ""
      },
      "embedded": true,
      "url": {
          "name": "answers[40809_277202]"
      },
      "triggerIdName": "trigger",
      "expirationPeriod": 30,
      "enableDisplaySuppressionPerPage": true,
      "enableFormAction": true,
      "permission": {
          "inquiryTxt": "キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問) ",
          "yesBtnTxt": "協力する",
          "noBtnTxt": "今は協力しない",
          "available": true
      },
      "thanks": {
          "txt0": "ご協力ありがとうございました",
          "txt1": "いただいた情報は、サービス改善のために使用させていただきます。"
      },
      "nps": {
          "available": true,
          "question": {
              "label": "このページの総合的な「わかりやすさ」について、どのように感じましたか？"
          },
          "options": [
              {
                  "name": "answers[40809_277203]",
                  "value": "704767"
              },
              {
                  "name": "answers[40809_277203]",
                  "value": "704768"
              },
              {
                  "name": "answers[40809_277203]",
                  "value": "704769"
              },
              {
                  "name": "answers[40809_277203]",
                  "value": "704770"
              },
              {
                  "name": "answers[40809_277203]",
                  "value": "704771"
              }
          ],
          "txt0": "わかりづらかった",
          "txt1": "わかりやすかった",
          "checked": 4
      },
      "inquiry": {
          "checkList": {
              "available": true,
              "question": "あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ",
              "options": [
                  {
                      "name": "answers[40809_277204][]",
                      "value": "704772",
                      "label": "キャンペーン特典が魅力的でない"
                  },
                  {
                      "name": "answers[40809_277204][]",
                      "value": "704773",
                      "label": "キャンペーンの達成条件が分かりにくい"
                  },
                  {
                      "name": "answers[40809_277204][]",
                      "value": "704774",
                      "label": "キャンペーンのWebサイトが分かりにくい"
                  },
                  {
                      "name": "answers[40809_277204][]",
                      "value": "704775",
                      "label": "キャンペーンの期間が短い"
                  },
                  {
                      "name": "answers[40809_277204][]",
                      "value": "704776",
                      "label": "キャンペーン対象のサービス特性が分かりにくい"
                  },
                  {
                      "name": "answers[40809_277204][]",
                      "value": "704777",
                      "label": "特になし"
                  },
                  {
                      "name": "answers[40809_277204][]",
                      "value": "704778",
                      "label": ""
                  }
              ]
          },
          "freeInput": {
              "available": true,
              "name": "answers[40809_277205]",
              "title": "ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"
          },
          "sendBtnTxt": "送信する",
          "footerNote": {
              "available": true,
              "text": "お客様よりご提供いただく情報はサービス向上のためご利用させていただきます。",
              "link": "https://privacy.rakuten.co.jp/",
              "htmlText": ""
          }
      },
      "inquiryNegative": {
          "checkList": {
              "available": false,
              "options": [
                  {
                      "name": "answers[40809_277204][]",
                      "value": "704772",
                      "label": ""
                  },
                  {
                      "name": "answers[40809_277204][]",
                      "value": "704773",
                      "label": ""
                  },
                  {
                      "name": "answers[40809_277204][]",
                      "value": "704774",
                      "label": ""
                  },
                  {
                      "name": "answers[40809_277204][]",
                      "value": "704775",
                      "label": ""
                  },
                  {
                      "name": "answers[40809_277204][]",
                      "value": "704776",
                      "label": ""
                  },
                  {
                      "name": "answers[40809_277204][]",
                      "value": "704777",
                      "label": ""
                  },
                  {
                      "name": "answers[40809_277204][]",
                      "value": "704778",
                      "label": ""
                  }
              ]
          }
      },
      "ua": {
          "name": "answers[40809_277206]"
      },
      "href": {
          "name": "answers[40809_277207]"
      },
      "cookie": {
          "available": false
      },
      "assetPaths": {
          "closeButton": "",
          "checkIcon": ""
      }
    }
  </script>
  <!-- ReX UX Survey: Script -->
  <script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/1.5.0/js/main.js" defer></script>
  <script>
    (function($){
      const trigger = document.getElementById('js-trigger');
      const fixedBtn = document.getElementById('js-fixed-btn');
      function fixedBottomBtn() {
          let scrollY = window.pageYOffset;
          const triggerRect = trigger.getBoundingClientRect();
          const triggerY = scrollY + triggerRect.top;

          if ( scrollY + window.innerHeight > triggerY ) {
              fixedBtn.setAttribute('aria-expanded', 'true');
          } else {
              fixedBtn.setAttribute('aria-expanded', 'false');
          }
      }
      if( fixedBtn && trigger ) {
          window.addEventListener('scroll', fixedBottomBtn);
      }
    })();
  </script>
</body>
</html>
