<% const pagetitle = "AQUOS wish" -%>
<% const directory = "aquos-wish" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/smartphone/", label:"Android"}] -%>
<% const namespace = "product-aquos-wish" -%>
<% const theme = "Light" -%>
<% const point = 3000 -%>

<%
/* insert Modal /*
/*
  ストア遷移 → 'bundle'
  在庫あり → 'stock'
  在庫切れ → 'soldout'
  入荷待ち → 'backorder'
*/
const bundleFlag = 'bundle';
const exid = 600313;
-%>

<% const priceDetailConfig = {
  bundleFlag: bundleFlag,
  theme: theme,
  price: 29800,
  // priceBefore: ,
  // pointBackPriceModel: pointModel,
  pointBackPrice: point,
  // pointModelText: `<span>製品購入で<span class="product-detail-Price_Pointback-num">${pointModel.toLocaleString()}</span>ポイント<sub>※1</sub></span>`,
  pointBackTextA: `<span>楽天モバイルお申し込みで<br class="product-detail-Utility_Show-sp"><span class="product-detail-Price_Pointback-num">${point.toLocaleString()}</span>円相当のポイント還元<sub>※1</sub></span>`,
  // pointEntryText: `さらに、エントリー＆抽選で<span class="product-detail-Price_Pointback-num">2,000</span>ポイント<sub>※2</sub>`,
  division24: 1241,
  // division24Before: ,
  division48: 620,
  // division48Before: ,
  tradeinProductName: 'AQUOS sense3 lite',
  optionPattern: 'one-option',
  lid: directory,
  capacity: 64,
  maxTradeinPrice: 3600,
  pointAppealBtnCapNo: 3,
  carrier: '楽天モバイル',
  //　notificationEmail: 'true',
  //　notificationEmailLink: '/product/reservation/aquos-zero6/'
  discountPrice: 6000,
  // mnp: true,
  trakingId: 'aquos-wish',
  exid: exid,
}
-%>
<% const tradeinUrl = sitepath + "service/tradein/?l-id=product_" + directory + "_cpn_02" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: "AQUOS wish（アクオス）のスペック・特徴などをご確認いただけます。楽天モバイル対応Android製品。オンライン簡単手続きが便利！",
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<%- include('/include/product/_category-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/inc/i-product-head.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/<%= directory %>/product-<%= directory %>.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/smartphone/purchase-modal-drilldown.css?20240424">
<%- include('/include/product/_history-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%
const modalInfo = [
  {
    question: {
      title: '色を選択',
      warning: '購入する製品の色を選択してください。',
      type: 'color',
      value: 'color',
      select: [
        {
          'id': 'olivegreen',
          'name': 'オリーブグリーン',
          'sub': '',
          'color': '#8DA19B',
          'checked': false,
          'disabled': false,
        },
        {
          'id': 'ivory',
          'name': 'アイボリー',
          'sub': '',
          'color': '#D6CFC7',
          'checked': false,
          'disabled': false,
        },
        {
          'id': 'charcoal',
          'name': 'チャコール',
          'sub': '',
          'color': '#474445',
          'checked': false,
          'disabled': false,
        }
      ],
      upperinfo: ``,
      lowerinfo: ``
    },
  },
  {
    question: {
      title: 'SIMタイプ・プラン（Rakuten UN-LIMIT VI）を選択',
      warning: 'プランを選択してください。',
      type: 'radio',
      value: 'plan',
      select: [
        {
          'id': 'sim',
          'name': 'nanoSIM＋プランで申し込む',
          'sub': '',
          'checked': false,
          'disabled': false,
          'soldout' : '',
        },
        {
          'id': 'nosim',
          'name': 'プランを申し込まない（製品のみ購入）',
          'sub': '',
          'checked': false,
          'disabled': false,
          'soldout' : '',
        },
      ],
      upperinfo: ``,
      lowerinfo: `
        <p class="c-Txt_Cap">※製品のみ購入の場合、SIM購入（プラン選択）は不要です。</p>
      `
    }
  },
  {
    question: {
      title: 'スマホ交換保証プラスを選択',
      warning: 'スマホ交換保証プラスを選択してください。',
      type: 'radio',
      value: 'warranty',
      select: [
        {
          'id': 'warranty',
          'name': '申し込む：715円／月（税込）',
          'sub': '',
          'checked': true,
          'disabled': false,
          'soldout' : '',
        },
        {
          'id': 'nowarranty',
          'name': '申し込まない',
          'sub': '',
          'checked': false,
          'disabled': false,
          'soldout' : '',
        },
      ],
      upperinfo: `
        <p class="c-Txt_Emp-02">加入できるのは購入時のみ</p>
        <p class="u-Adjust_Mt-8">楽天モバイルで購入したスマートフォンやモバイルルーターの故障・紛失時に、最短で当日<sub>※</sub>に新品同等の同一機種を交換品としてお届けします。</p>
        <small>※対象地域：東京／神奈川／千葉／埼玉（12時までに受付の場合）</small>
        <p>サービスの詳細は、こちらの<a href="/service/replacement-warranty-plus/">スマホ交換保証プラス</a>をご参照ください。</p>
      `,
      lowerinfo: ``
    }
  }
]
%>
<%_ if (bundleFlag !== true) { _%>
<script>
const urlList = {
  'black_sim_warranty': '/',
  'black_sim_nowarranty': '/',
  'black_nosim_warranty': '/',
  'black_nosim_nowarranty': 'https://onboarding.mobile.rakuten.co.jp/equipment-details?exid=600313&selectAvailable=true',
  'purple_sim_warranty': '/',
  'purple_sim_nowarranty': '/',
  'purple_nosim_warranty': '/',
  'purple_nosim_nowarranty': '/',
  'white_sim_warranty': '/',
  'white_sim_nowarranty': '/',
  'white_nosim_warranty': '/',
  'white_nosim_nowarranty': '/',
}
</script>
<%- include('/include/product/_purchase-modal', { modalInfo: modalInfo }) %>
<%_ } _%>

<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="u-Adjust_Pt-16 u-Adjust_Pr-16 u-Adjust_Pl-16 u-Adjust_Pb-16 l-System_Container u-Adjust_Align-center">
  <p class="c-Txt_Emp-01 c-Txt_Normal-l">AQUOS wishは販売を終了いたしました。</p>
  <div class="u-Adjust_Pt-16 u-Adjust_Align-center">
    <a class="c-Btn_Regular" href="<%= sitepath %>product/smartphone/?l-id=end_product_smartphone"><span>販売中のAndroid製品を見る</span></a>
  </div>
</div>

<div class="product-detail-Theme_<%= theme %>">
  <div class="product-detail-Layout_Hero-with-bnr <%= namespace %>_Hero">
    <div class="l-System_Container u-Adjust_Pt-16">

      <section class="product-detail-Hero">
        <div class="product-detail-Hero_Data">
          <div>
            <h1 class="co-Heading_Lv1 product-detail-Hero_Name"><img src="<%= sitepath %>assets/img/product/<%= directory %>/logo.svg" alt="<%= pagetitle %>"></h1>
            <p class="product-detail-Hero_Maker">SHARP</p>
            <p class="product-detail-Hero_Copy">あんしんして長く使える。<br class="product-detail-Utility_Show-sp">心地よいカジュアルスマホ</p>
          </div>
        </div>
        <div class="product-detail-Hero_Main u-Adjust_Mt-0">

          <ul class="product-detail-Hero_Main-device c-Carousel js-main1 js-device" aria-hidden="false">
            <li><img src="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-00.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-01.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-02.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-03.png" alt=""></li>
          </ul>
          <ul class="product-detail-Hero_Main-device c-Carousel js-main2 js-device" aria-hidden="true">
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-04.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-05.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-06.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-07.png" alt=""></li>
          </ul>
          <ul class="product-detail-Hero_Main-device c-Carousel js-main3 js-device" aria-hidden="true">
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-08.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-09.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-10.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-11.png" alt=""></li>
          </ul>

          <ul class="product-detail-Hero_Main-color product-detail-Theme_<%= theme %>-color <%= namespace %>_Hero-color">
            <li class="js-color js-color1" aria-current="true"><span style="background:#8DA19B" data-ratevent="click" data-ratparam="all" data-ratid="aquos-wish_color-01"></span></li>
            <li class="js-color js-color2" aria-current="false"><span style="background:#D6CFC7" data-ratevent="click" data-ratparam="all" data-ratid="aquos-wish_color-02"></span></li>
            <li class="js-color js-color3" aria-current="false"><span style="background:#474445" data-ratevent="click" data-ratparam="all" data-ratid="aquos-wish_color-03"></span></li>
          </ul>

          <ul class="product-detail-Hero_Main-thumbnail c-Carousel js-thumbnail1 js-device" aria-hidden="false">
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-00.png" alt="" data-ratevent="click" data-ratparam="all" data-ratid="aquos-wish_color-01_thumbnail-01"></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-01.png" alt="" data-ratevent="click" data-ratparam="all" data-ratid="aquos-wish_color-01_thumbnail-02"></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-02.png" alt="" data-ratevent="click" data-ratparam="all" data-ratid="aquos-wish_color-01_thumbnail-03"></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-03.png" alt="" data-ratevent="click" data-ratparam="all" data-ratid="aquos-wish_color-01_thumbnail-04"></li>
          </ul>
          <ul class="product-detail-Hero_Main-thumbnail c-Carousel js-thumbnail2 js-device" aria-hidden="true">
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-04.png" alt="" data-ratevent="click" data-ratparam="all" data-ratid="aquos-wish_color-02_thumbnail-01"></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-05.png" alt="" data-ratevent="click" data-ratparam="all" data-ratid="aquos-wish_color-02_thumbnail-02"></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-06.png" alt="" data-ratevent="click" data-ratparam="all" data-ratid="aquos-wish_color-02_thumbnail-03"></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-07.png" alt="" data-ratevent="click" data-ratparam="all" data-ratid="aquos-wish_color-02_thumbnail-04"></li>
          </ul>
          <ul class="product-detail-Hero_Main-thumbnail c-Carousel js-thumbnail3 js-device" aria-hidden="true">
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-08.png" alt="" data-ratevent="click" data-ratparam="all" data-ratid="aquos-wish_color-03_thumbnail-01"></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-09.png" alt="" data-ratevent="click" data-ratparam="all" data-ratid="aquos-wish_color-03_thumbnail-02"></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-10.png" alt="" data-ratevent="click" data-ratparam="all" data-ratid="aquos-wish_color-03_thumbnail-03"></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-11.png" alt="" data-ratevent="click" data-ratparam="all" data-ratid="aquos-wish_color-03_thumbnail-04"></li>
          </ul>
        </div>
      </section>
    </div>
  </div>

  <div class="product-detail-Layout_Main <%= namespace %>_Main u-Adjust_Pb-32">
    <div class="l-System_Container">
      <div class="product-detail-Spec">
        <ul class="product-detail-Spec_<%= theme %>">
          <li aria-current="true"><span class="c-Icon_Product-waterproof"></span>防水</li>
          <li aria-current="true"><span class="c-Icon_Product-price-yen"></span>FeliCa</li>
          <li aria-current="false"><span class="c-Icon_Product-hi-res"></span>ハイレゾ<br>オーディオ</li>
          <li aria-current="false"><span class="c-Icon_Product-faceid"></span>顔認証</li>
          <li aria-current="true"><span class="c-Icon_Product-finger"></span>指紋認証</li>
          <li aria-current="false"><span class="c-Icon_Product-charger"></span>ワイヤレス<br>充電</li>
          <li aria-current="true"><span class="c-Icon_Product-connection"></span>高速通信</li>
        </ul>
        <p class="u-Adjust_Mt-64"><a href="#spec" class="c-Link_Txt-icon-front js-scroll" data-ratevent="click" data-ratparam="all" data-ratid="aquos-wish_spec-anchor"><span class="c-Icon_Arrow-down-l"></span>基本スペックを見る</a></p>

      </div>

      <section id="feature" class="product-detail-Layout_Section">
        <h2 class="c-Heading_Lv2-rich" data-ratid="aquos-wish_scroll-03_feature" data-ratevent="appear">特長</h2>

        <ul class="product-detail-Catch <%= namespace %>_Catch">
          <li><a href="#feature1" class="js-scroll" data-ratevent="click" data-ratparam="all" data-ratid="aquos-wish_feature-anchor-01">コンパクトで飽きのこない<br>シンプルなデザイン</a></li>
          <li><a href="#feature2" class="js-scroll" data-ratevent="click" data-ratparam="all" data-ratid="aquos-wish_feature-anchor-02">環境にも配慮した<br>再生プラスチック材の使用</a></li>
          <li><a href="#feature3" class="js-scroll" data-ratevent="click" data-ratparam="all" data-ratid="aquos-wish_feature-anchor-03">
            耐久性に加え、OSバージョンアップ<span class="c-Txt_Cap">※1</span><br>にも対応
            <p class="c-Txt_Cap">※1 発売から2年間最大2回</p>
          </a></li>
        </ul>

        <section class="product-detail-Feature" id="feature1">
          <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/main-image-01.png" alt=""></figure>
          <h3 class="c-Heading_Lv3">コンパクトで飽きのこないシンプルなデザイン</h3>
          <p class="product-detail-Feature_Txt">
            ① ボタンや指紋センサーが側面にまとまったレイアウトとコンパクトなサイズ感で、片手で快適操作を実現<br>
            ② 持ち心地のよさを追求し、優しい手触りのマットな質感や指がかりのよい側面形状などを採用<br>
            ③ 植物などの自然をモチーフとした年齢や性別を選ばないカラーバリエーション
          </p>
        </section>
        <section class="product-detail-Feature" id="feature2">
        <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/main-image-02.png" alt=""></figure>
          <h3 class="c-Heading_Lv3">再生プラスチック材を使った環境にも配慮した取り組み</h3>
          <p class="product-detail-Feature_Txt">
            ① 本体の筐体に再生プラスチック材を35％使用<br>
            ② 紙の使用量の削減を目的とした薄型でシンプルな仕上げのパッケージと合わせ、環境にも配慮
          </p>
        </section>
        <section class="product-detail-Feature" id="feature3">
          <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/main-image-03.png" alt=""></figure>
          <h3 class="c-Heading_Lv3 <%= namespace %>_Txt-feature">
            防水<sub class="<%= namespace %>_Txt-cap">※1</sub>・防塵<sub class="<%= namespace %>_Txt-cap">※2</sub>・耐衝撃<sub class="<%= namespace %>_Txt-cap">※3</sub>に加えOSバージョンアップ<sub class="<%= namespace %>_Txt-cap">※4</sub>にも対応。あんしんして長く使える</h3>
          <p class="product-detail-Feature_Txt u-Adjust_Mt-16">
            ① IPX5/IPX7の防水<sub class="<%= namespace %>_Txt-cap">※1</sub>とIP6Xの防塵<sub class="<%= namespace %>_Txt-cap">※2</sub>、さらに耐衝撃<sub class="<%= namespace %>_Txt-cap">※3</sub>にも対応したタフボディで様々なシーンであんしんして使える<br>
            ② 電池への負担を軽減する「インテリジェントチャージ」& OSバージョンアップ対応<sub class="<%= namespace %>_Txt-cap">※4</sub>であんしんして長く使える
          </p>
          <div class="c-Txt_Cap u-Adjust_Mt-16">
            <p>※1 防水：IPX5・IPX7に対応。IPX5とは、内径6.3mmの注水ノズルを使用し、約3mの距離から1分あたり12.5リットルの水を最低3分間注水する条件であらゆる方向から噴流を当てても、通信機器としての機能を有することを意味します。IPX7とは、常温で水道水、かつ静水の水深1mのところに製品を静かに沈め、約30分間放置後に取り出したときに電話機としての機能を有することを意味します。</p>
            <p>※2 防塵（ぼうじん）：IP6Xに対応。IP6Xとは、直径75µm以下の塵埃（じんあい）が入った装置に製品を8時間入れてかくはんさせ、取り出した時に、内部に塵埃（じんあい）が侵入しない機能を有することを意味します。</p>
            <p>※3 耐衝撃（落下）：米国国防総省の調達基準（MIL-STD-810G）に準拠した試験を実施。すべての衝撃に対して、無破損、無故障を保証するものではありません。</p>
            <p>※4 発売から2年間最大2回</p>
          </div>
        </section>
      </section>

      <div class="product-detail-Layout_Sub <%= namespace %>_Sub">
        <div class="l-System_Container">
          <section class="product-detail-Layout_Section">
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-01.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4" data-ratid="aquos-wish_scroll-04_feature" data-ratevent="appear">充実の基本機能</h3>
                <p>
                  ① 指紋認証対応なのでマスクをしていても簡単ロック解除<br>
                  ② 5G対応<sub class="<%= namespace %>_Txt-cap">※1</sub><br>
                  ③ NFC/FeliCaに対応<br>
                  ④ micro SD・イヤホンマイク端子対応
                </p>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">※1 5G通信は対応エリアでご利用可能です。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-02.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">使いやすさを広げるAQUOSの独自機能</h3>
                <p>
                  ① 指紋センサー長押しで好きなアプリを起動できる「Payトリガー」。起動後もフォルダ機能で簡単にアプリを切り替えられ便利<br>
                  ② 自動スクロールで画面を流し見できる「スクロールオート」と簡単にキャプチャが撮れる「clip now」でwebの閲覧や記録が便利にできる<br>
                  ③ スマホ初心者でも操作がしやすいホーム画面や大きなアイコンに変更可能な「かんたんモード」
                </p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-03.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">シンプルで使いやすいカメラ</h3>
                <p>
                  ① 操作もシンプルで使いやすい。気軽にスマホで写真や動画が撮れる<br>
                  ② 暗い場所でも鮮やかな写真が撮影できる夜間モードやポートレート撮影にも対応
                </p>
              </div>
            </section>
          </section>
        </div>
      </div>
    </div>
  </div>

  <div class="l-System_Container">

    <section class="product-detail-Layout_Section" id="spec">
      <h2 class="c-Heading_Lv2" data-ratid="aquos-wish_scroll-06_spec" data-ratevent="appear">スペック</h2>
      <dl class="c-Dl">
        <div>
          <dt>製品名</dt>
          <dd>
            AQUOS wish
          </dd>
        </div>
        <div>
          <dt>色</dt>
          <dd>
            オリーブグリーン / アイボリー / チャコール
          </dd>
        </div>
        <div>
          <dt>サイズ</dt>
          <dd>
            約147 x 約71 x 約8.9 (mm)
          </dd>
        </div>
        <div>
          <dt>質量</dt>
          <dd>
            約162g
          </dd>
        </div>
        <div>
          <dt>ディスプレイ</dt>
          <dd>
            <p>サイズ / 種類</p>
            約5.7インチ / TFT
              <p class="u-Adjust_Mt-16">解像度</p>
              HD+ / 1,520 × 720
          </dd>
        </div>
        <div>
          <dt>連続待受時間（LTE）</dt>
          <dd>
            約600時間
          </dd>
        </div>
        <div>
          <dt>連続通話（通信）時間（LTE）</dt>
          <dd>
            約41時間
          </dd>
        </div>
        <div>
          <dt>CPU</dt>
          <dd>
            Qualcomm® Snapdragon™ 480 5G Mobile Platform / オクタコア 2.0GHz×2 + 1.8GHz×6
          </dd>
        </div>
        <div>
          <dt>OS※1</dt>
          <dd>
            Android™ 11
          </dd>
        </div>
        <div>
          <dt>内部メモリ（RAM / ROM）</dt>
          <dd>
            4GB (RAM) / 64GB (ROM)
          </dd>
        </div>
        <div>
          <dt>メインカメラ（外側）</dt>
          <dd>
            約1,300万画素 (標準)
          </dd>
        </div>
        <div>
          <dt>フロントカメラ（内側）</dt>
          <dd>
            約800万画素
          </dd>
        </div>
        <div>
          <dt>バッテリー容量</dt>
          <dd>
            3,730mAh
            <p class="c-Txt_Cap">※実際に使用できるバッテリー容量は多少異なる可能性があります。</p>
          </dd>
        </div>
        <div>
          <dt>ワイヤレス充電</dt>
          <dd>
            非対応
          </dd>
        </div>
        <div>
          <dt>おサイフケータイ / NFC</dt>
          <dd>
            対応 / 対応
          </dd>
        </div>
        <div>
          <dt>防水 / 防塵</dt>
          <dd>
            対応 (IPX5・IPX7 / IP6X)
          </dd>
        </div>
        <div>
          <dt>生体認証（指紋 / 顔）</dt>
          <dd>
            対応 / 非対応
          </dd>
        </div>
        <!-- <div>
          <dt>VoLTE（Rakuten, docomo, au, SoftBank）</dt>
          <dd>
            対応 / 対応 / 対応 / 対応
          </dd>
        </div> -->
        <div>
          <dt>Wi-Fi規格</dt>
          <dd>
            IEEE 802.11 a/b/g/n/ac
          </dd>
        </div>
        <div>
          <dt>テザリング（Wi-Fi）</dt>
          <dd>
            10台
          </dd>
        </div>
        <div>
          <dt>SIMタイプ</dt>
          <dd>
            nanoSIM / eSIM
          </dd>
        </div>
        <div>
          <dt>付属品</dt>
          <dd>
            クイックスタートガイド×1 / クイックスイッチアダプター×1
          </dd>
        </div>
      </dl>
      <ul class="c-Txt_Cap u-Adjust_Mt-16">
        <li><span>※1</span> 発売時点のOSのバージョンを記載しています。最新のOSバージョン情報は<a href="<%= sitepath %>information/software/aquos-wish/" class="c-Link_Txt">こちら</a>をご確認ください。</li>
      </ul>
      <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>product/smartphone/<%= directory %>/spec.html?l-id=product_aquos-wish_spec_aquos-wish" class="c-Link_Txt-inline-icon">スペック詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>

    </section>
    <section class="product-detail-Layout_Section u-Adjust_Pb-32">
      <h2 class="c-Heading_Lv2">設定・サポート</h2>
      <div>
        <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/inquiry/?l-id=product_aquos-wish_guide_inquiry" class="c-Link_Txt-inline-icon">メーカーへのお問い合わせ<span class="c-Icon_Chevron-right"></span></a></p>
      </div>
    </section>

    <div id="previously-seen"></div>
  </div>
  <div class="u-Adjust_Mt-40">
    <%- include('/include/product/_support') %>
  </div>

</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-product-v2.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>


  </div>
  <div class="c-Breadcrumbs_Foot">
    <div class="l-System_Container">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/product/_category-js') %>
<%- include('/include/product/_history-js') %>
<%- include('/include/_append-body') %>

</body>
</html>
