<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "ステップ2" -%>
<% const directories = [{path: hikariroot.path + "support/", label:"お客様サポート"}, {path: hikariroot.path + "support/setting/mail/", label:"メール設定方法"}, {path: "", label:"Outlook2016"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Outlook2016のメール設定方法をご案内します。',
    noindex: false,
    pathname: filepath,
    ishikari: true,
    canonical_custom: 'https://network.mobile.rakuten.co.jp/hikari/support/setting/mail/outlook2016/step-02/',
  });
%>
<%- include('/include/hikari/_common-v2-hikari-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/support/support.css?20240424">
<%- include('/include/_append-head-hikari') %>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>

<div class="l-System">

  <style>
    .c-hikari-Breadcrumbs_Head ul li:nth-last-child(2) .c-Icon_Chevron-right,
    .c-hikari-Breadcrumbs_Foot ul li:nth-last-child(2) .c-Icon_Chevron-right {
      margin-left: 0.5em;
    }
  </style>
  <%- include('/hikari/include/_header', { headerType: 'normal', pagetitle: pagetitle, directories: directories, tax: false }) %>

  <div class="l-hikari-Section_Main">
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1">Outlook2016のメール設定方法</h1>
      <div class="l-hikari-Section_Main-lead">
        <p>Outlook2016（メールアカウントの追加）の方法をご案内します。</p>
        <ul class="c-List_Cap u-Adjust_Mt-8">
          <li class="c-Txt_Cap"><span>※</span>この説明は、Outlook2016が正常にインストールされていることを前提として作成しています。</li>
        </ul>
      </div>

      <div class="hikari-support-Nav">
        <ul>
          <li><a href="<%= sitepath %><%= hikariroot.path %>support/setting/mail/outlook2016/step-01/" data-lid_no="01" class="c-Link_Txt-inline">ステップ1. メールアカウントの作成<span class="c-Icon_Arrow-right-l"></span></a></li>
          <li><span class="c-Txt_Emp">ステップ2. メールアカウントの追加</span></li>
          <li><a href="<%= sitepath %><%= hikariroot.path %>support/setting/mail/outlook2016/step-03/" data-lid_no="01" class="c-Link_Txt-inline">ステップ3. メールアカウントの設定確認<span class="c-Icon_Arrow-right-l"></span></a></li>
          <li><a href="<%= sitepath %><%= hikariroot.path %>support/setting/mail/outlook2016/step-04/" data-lid_no="01" class="c-Link_Txt-inline">ステップ4. メールの作成・送受信<span class="c-Icon_Arrow-right-l"></span></a></li>
        </ul>
      </div>

      <div class="l-hikari-Section_Sub-short">
        <h2 class="c-Heading_Lv2">ステップ2. Outlook2016のメールアカウントの追加手順</h2>

        <ul class="l-hikari-Section_Sub-content-middle c-Flow">
          <li>
          <h3 class="c-Heading_Lv3">1. メニューから移動</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/outlook2016/step-02/outlook2016_step-02_img01.png" alt="">
              </div>
              <div>
                <p>メニューの「ファイル」を選択します。</p>
              </div>
            </div>
          </li>


          <li>
            <h3 class="c-Heading_Lv3">2. アカウントの追加</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/outlook2016/step-02/outlook2016_step-02_img02-240214.png" alt="">
              </div>
              <div>
                <p>「情報」より「＋アカウントの追加」を選択します。</p>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">3. 自動アカウントセットアップ</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/outlook2016/step-02/outlook2016_step-02_img03.png" alt="">
              </div>
              <div>
                <p>「自分で電子メールやその他のサービスを使うための設定をする（手動設定）（M）」にチェックをつけ、「次へ（N）」を選択します。</p>
              </div>
            </div>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/outlook2016/step-02/outlook2016_step-02_img13.png" alt="">
              </div>
              <div>
                <p>メールアドレスの入力画面が表示された場合は<a href="<%= sitepath %>hikari/support/setting/mail/office365/step-01/">Outlook2019／Outlook2021／Microsoft365のメール設定方法</a>をご確認ください。</p>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">4. サービスの選択</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/outlook2016/step-02/outlook2016_step-02_img04.png" alt="">
              </div>
              <div>
                <p>「POPまたはIMAP（P）」にチェックをつけ、「次へ（N）」を選択します。</p>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">5. アカウントの設定</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/outlook2016/step-02/outlook2016_step-02_img05.png" alt="">
              </div>
              <div class="c-Table hikari-support-Table">
                <p>こちらの画面で設定内容を確認し、「詳細設定（M）」を選択します。</p>

                <div class="c-Table_Wrap l-hikari-Section_Sub-content-tall">
                  <table class="c-Table_Container">
                    <thead>
                      <tr>
                        <th colspan="2">ユーザー情報</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><span>1. 名前（Y）</span></td>
                        <td><span>任意のお名前を入力</span></td>
                      </tr>
                      <tr>
                        <td><span>2. 電子メールアドレス（E）</span></td>
                        <td><span>メールアドレスを入力</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="c-Table_Wrap l-hikari-Section_Sub-content-tall">
                  <table class="c-Table_Container">
                    <thead>
                      <tr>
                        <th colspan="2">サーバー情報</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><span>3. アカウントの種類（A）</span></td>
                        <td><span>POP3</span><span class="c-Txt_Cap">※任意</span></td>
                      </tr>
                      <tr>
                        <td><span>4. 受信メールサーバー（I）</span></td>
                        <td><span>popmail.gol.com</span></td>
                      </tr>
                      <tr>
                        <td><span>5. 送信メールサーバ（SMTP）（O）</span></td>
                        <td><span>mail.gol.com</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="c-Table_Wrap l-hikari-Section_Sub-content-tall">
                  <table class="c-Table_Container">
                    <thead>
                      <tr>
                        <th colspan="2">メール サーバーへのログオン情報</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><span>6. アカウント名（U）</span></td>
                        <td><span>メールアドレスの@より前の部分</span></td>
                      </tr>
                      <tr>
                        <td><span>7. パスワード（P）</span></td>
                        <td><span>メールのパスワード</span></td>
                      </tr>
                      <tr>
                        <td><span>8. パスワードを保存する（R）</span></td>
                        <td><span>チェックする（On）</span><span class="c-Txt_Cap">※任意</span></td>
                      </tr>
                      <tr>
                        <td><span>9. メールサーバーがセキュリティで保護されたパスワード認証（SPA）に対応している場合には、チェック ボックスをオンにしてください（Q）</span></td>
                        <td><span>チェックしない（Off）</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="c-Table_Wrap l-hikari-Section_Sub-content-tall">
                  <table class="c-Table_Container">
                    <thead>
                      <tr>
                        <th colspan="2">アカウント設定のテスト</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><span>10. アカウント設定のテスト（T）</span></td>
                        <td><span>選択しない</span></td>
                      </tr>
                      <tr>
                        <td><span>11. 「次へ」をクリックしたらアカウント設定を自動的にテストする（S）</span></td>
                        <td><span>チェックする（On）</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="c-Table_Wrap l-hikari-Section_Sub-content-tall">
                  <table class="c-Table_Container">
                    <thead>
                      <tr>
                        <th colspan="2">新しいメッセージの配信先</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><span>12. 新しい Outlook データファイル（W）</span></td>
                        <td><span>チェックする（On）</span><span class="c-Txt_Cap">※任意</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">6. 全般タブ設定</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/outlook2016/step-02/outlook2016_step-02_img06.png" alt="">
              </div>
              <div>
                <p>こちらを参考に情報を入力します。</p>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">7. 送信サーバータブ設定</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/outlook2016/step-02/outlook2016_step-02_img07.png" alt="">
              </div>
              <div class="c-Table hikari-support-Table">
                <p>「送信サーバー」タブを選択し、こちらを参考に情報を入力します。</p>

                <div class="c-Table_Wrap l-hikari-Section_Sub-content-tall">
                  <table class="c-Table_Container">
                    <thead>
                      <tr>
                        <th colspan="2">送信サーバー</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><span>1. 送信サーバー（SMTP）は認証が必要（O）</span></td>
                        <td><span>チェックする（On）</span></td>
                      </tr>
                      <tr>
                        <td><span>2. 次のアカウントとパスワードでログオンする（L）</span></td>
                        <td><span>チェックする（On）</span></td>
                      </tr>
                      <tr>
                        <td><span>3. アカウント名（N）</span></td>
                        <td><span>メールアドレスを入力</span></td>
                      </tr>
                      <tr>
                        <td><span>4. パスワード（P）</span></td>
                        <td><span>メールのパスワード</span></td>
                      </tr>
                      <tr>
                        <td><span>5. パスワードを保存する（R）</span></td>
                        <td><span>チェックする（On）</span><span class="c-Txt_Cap">※任意</span></td>
                      </tr>
                      <tr>
                        <td><span>6. セキュリティで保護されたパスワード認証（SPA）に対応（Q）</span></td>
                        <td><span>チェックしない（Off）</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">8. 詳細設定タブ設定</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/outlook2016/step-02/outlook2016_step-02_img08.png" alt="">
              </div>
              <div class="c-Table hikari-support-Table">
                <p>「詳細設定」のタブを選択し、以下を参考に情報を入力します。 「OK」を選択します。</p>
                <div class="c-Table_Wrap l-hikari-Section_Sub-content-tall">
                  <table class="c-Table_Container">
                    <thead>
                      <tr>
                        <th colspan="2">詳細設定</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><span>1. 受信サーバー（POP3）（I）</span></td>
                        <td><span>995</span></td>
                      </tr>
                      <tr>
                        <td><span>2. このサーバーは暗号化された接続（SSL）が必要（E）</span></td>
                        <td><span>チェックする（On）</span></td>
                      </tr>
                      <tr>
                        <td><span>3. 送信サーバー（SMTP）（O）</span></td>
                        <td><span>465</span></td>
                      </tr>
                      <tr>
                        <td><span>4. 使用する暗号化接続の種類（C）</span></td>
                        <td><span>SSL</span></td>
                      </tr>
                      <tr>
                        <td><span>5. サーバーのタイムアウト（T）<br>
                          （ウイルス対策ソフトがインストールされている場合には長くしておくことを推奨いたします）</span></td>
                        <td><span>任意で設定</span></td>
                      </tr>
                      <tr>
                        <td><span>6. 配信
                          <p class="c-Txt_Normal-ss u-Adjust_Mt-8">※上記にチェックを入れ、［サーバーから削除する］にチェックを入れない場合、メールをサーバーから削除しませんので、メールボックスが満杯となり、メールが受信できなくなる場合があります。</p></span></td>
                        <td style="width: 224px;"><span>任意で設定</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">9. アカウント設定の確認</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/outlook2016/step-02/outlook2016_step-02_img09.png" alt="">
              </div>
              <div>
                <p>アカウントの追加の画面がこちらのとおりになっていることを確認し、「次へ（N）」を選択します。</p>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">10. テストアカウント設定</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/outlook2016/step-02/outlook2016_step-02_img10.png" alt="">
              </div>
              <div>
                <p>テストアカウント設定が正常に完了しましたら「閉じる（C）」を選択します。</p>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">11. アカウント設定の確認</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/outlook2016/step-02/outlook2016_step-02_img11.png" alt="">
              </div>
              <div>
                <p>アカウントの追加画面へ戻ったら、「次へ（N）」を選択します。</p>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">12. 設定完了</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/outlook2016/step-02/outlook2016_step-02_img12.png" alt="">
              </div>
              <div>
                <p>「完了」を選択して設定終了となります。</p>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="hikari-support-Nav u-Adjust_Pt-48">
        <ul>
          <li><a href="<%= sitepath %><%= hikariroot.path %>support/setting/mail/outlook2016/step-01/" data-lid_no="02" class="c-Link_Txt-inline">ステップ1. メールアカウントの作成<span class="c-Icon_Arrow-right-l"></span></a></li>
          <li><span class="c-Txt_Emp">ステップ2. メールアカウントの追加</span></li>
          <li><a href="<%= sitepath %><%= hikariroot.path %>support/setting/mail/outlook2016/step-03/" data-lid_no="02" class="c-Link_Txt-inline">ステップ3. メールアカウントの設定確認<span class="c-Icon_Arrow-right-l"></span></a></li>
          <li><a href="<%= sitepath %><%= hikariroot.path %>support/setting/mail/outlook2016/step-04/" data-lid_no="02" class="c-Link_Txt-inline">ステップ4. メールの作成・送受信<span class="c-Icon_Arrow-right-l"></span></a></li>
        </ul>
      </div>

    </div>
  </div>

  <footer class="g-Footer">
    <%- include('/hikari/include/_footer', { pagetitle: pagetitle, directories: directories, hiddenFooterCta: true, hiddenCta: true }) %>
  </footer>

</div>
<%- include('/include/hikari/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
