<% const form_pagetitle = (typeof pagetitle === 'undefined') ? false : pagetitle -%>
<% const form_description = (typeof description === 'undefined') ? false : description -%>
<% const form_description2 = (typeof description2 === 'undefined') ? false : description2 -%>
<% const isButton = (typeof isbutton === 'undefined') ? false : isbutton -%>
<% const isInquiry = (typeof isinquiry === 'undefined') ? false : isinquiry -%>
<% const isDefault = (typeof isdefault === 'undefined') ? false : isdefault -%>
<% const isRestart = (typeof isrestart === 'undefined') ? false : isrestart -%>
<% const isReissuarance = (typeof isreissuarance === 'undefined') ? false : isreissuarance -%>
<% const isLogo = (typeof islogo === 'undefined') ? false : islogo -%>
<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>


<div class="l-hikari-Section_Main">
  <!-- 光ロゴ設定エリア -->
  <%_ if (isLogo) { _%>
    <div class="l-hikari-Section_Main-logo"><a href="<%= sitepath %><%= hikariroot.path %>" data-lid_parts="logo"><img src="<%= sitepath %>assets/img/hikari/common/logo-hikari-s.svg" width="100" alt="楽天ひかり"></a></div>
  <%_ } _%>

  <!-- hikari/inquiry/form/下ページか判別 -->
  <%_ if (isInquiry) { _%>
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1"><%= form_pagetitle %> 完了</h1>
      <!-- 特殊レイアウト -->
      <%_ if (isReissuarance) { _%>
        <div class="l-hikari-Section_Main-lead u-Adjust_Mt-32">
          <p>
          <%= form_description %><br>
          <%= form_description2 %>
          </p>
          <p class="u-Adjust_Mt-16">
            お申し込みいただいた開通通知が届かない場合は、楽天ひかりカスタマーセンターにお問い合わせください。
          </p>
          <p class="u-Adjust_Mt-16">
            <span class="c-Txt_Emp">楽天ひかりカスタマーセンター</span><br>
            0120-987-300<br>
            受付時間：9:00〜18:00
          </p>
        </div>
      <%_ } else { _%>
        <div class="l-hikari-Section_Main-lead">
          <p>お問い合わせありがとうございました。</p>
          <p>
            <%= form_description %><br>
            <%= form_description2 %>
          </p>
        </div>
      <%_ }  _%>

  <%_ } else { _%>
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1"><%= form_pagetitle %> 送信完了</h1>

      <!-- 特殊レイアウト -->
      <%_ if (isRestart) { _%>
        <div class="c-Infobox_Standing-alert u-Adjust_Mt-32">
          <p>送信ありがとうございました。</p>
          <p class="u-Adjust_Mt-8">
            <span class="hikari-restart-service-completion-Uti_Bold">
              <%= form_description %><br>
              <%= form_description2 %>
            </span>
          </p>
        </div>
        <p class="u-Adjust_Mt-16 c-Txt_Cap">※ご入力いただいたご契約情報とお支払い情報の確認が取れない場合は、契約者電話番号、連絡先電話番号または契約メールアドレスのいずれかにご連絡をさせていただきます。</p>
      <%_ } else { _%>
        <div class="l-hikari-Section_Main-lead">
          <p>送信ありがとうございました。</p>
          <p>
          <%= form_description %>
          <%_ if (form_description2) { _%>
            <br>
            <%= form_description2 %>
          <%_ } _%>
          </p>
        </div>
      <%_ } _%>

  <%_ } _%>

    <!-- ボタンリンクか判別 -->

    <%_ if (isButton) { _%>

      <!-- デフォルトは左寄せのリンク -->
      <%_ if (isInquiry && isDefault) { _%>
        <div class="l-hikari-Section_Sub-short u-Adjust_Mt-48">
          <a href="<%= sitepath %><%= hikariroot.path %>" class="c-Btn_Secondly"><span><span>楽天ひかりトップに戻る</span><span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span></span></a>
        </div>
      <%_ } else { _%>
        <div class="l-hikari-Section_Sub-short u-Adjust_Align-center u-Adjust_Mt-48">
          <a href="<%= sitepath %><%= hikariroot.path %>" class="form-completion-Uti_Btn-back c-Btn_Secondly"><span><span>楽天ひかりトップに戻る</span><span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span></span></a>
        </div>
      <%_ } _%>

    <%_ } else { _%>
      <div class="l-hikari-Section_Sub-tall">
        <a href="<%= sitepath %><%= hikariroot.path %>" class="c-Link_Txt-inline">楽天ひかりトップに戻る<span class="c-Icon_Arrow-right-l"></span></a>
      </div>
    <%_ } _%>
    </div>
    </div>