<% const pagetitle = "対象店舗での生活おトク診断＆アンケート回答で500ポイント進呈" -%>
<% const directories = [{path:"shop/", label:"ショップ"}] -%>
<%_
  const namespace = "reservation-diagnosis"
  const imgPath = `${sitepath}assets/img/shop/reservation-diagnosis/`
_%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '電話予約したショップで生活おトク診断参加後にアンケート回答いただいた方へ、500ポイント進呈いたします。',
    noindex: false,
    pathname: filepath,
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/shop/reservation-diagnosis/reservation-diagnosis.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>
<div class="l-System">

  <%- include('/include/_header') %>

  <div class="c-Breadcrumbs_Head">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>
  <div class="<%= namespace %>-List_Layout-Label">
    <ul class="c-Label_List <%= namespace %>-Layout-Label_List">
      <li class="c-Label_Normal">ショップ限定</li>
    </ul>
    <p class="<%= namespace %>-List_Layout-Label-point">ポイント：進呈日を含めて6カ月の期間限定ポイント</p>
  </div>

  <section class="<%= namespace %>-Hero">
    <div class="<%= namespace %>-Hero_Main">
      <h1>
        <picture>
          <source media="(max-width: 768px)" srcset="<%= imgPath %>img-kv-sp.png" width="375" height="428">
          <img src="<%= imgPath %>img-kv.png" alt="楽天モバイルショップ限定 生活トク診断 イベントご参加+アンケート回答で500ポイント進呈" width="1032" height="248">
        </picture>
      </h1>
    </div>
    <div class="<%= namespace %>-Hero_Bottom">
      <div class="l-System_Container">
        <p>
          ※楽天サービスでいつものお客様の生活がもっとおトクになるかを無料で診断いたします！<br>
          さらに楽天経済圏のお得な活用方法を、楽天モバイルショップのスタッフが直接レクチャーいたします！
        </p>
      </div>
    </div>
  </section>

  <section class="<%= namespace %>-Section_Period">
    <div class="l-System_Container">
      <dl class="<%= namespace %>-Section_Period-list">
        <div>
          <dt class="c-Txt_Emp-01">【来店予約受付期間】</dt>
          <dd>電話：2023年2月24日（金）9:00～2023年3月6日（月）16:59</dd>
        </div>
        <div>
          <dt class="c-Txt_Emp-01">【実施期間】</dt>
          <dd>ショップ：2023年3月3日（金）開店～2023年3月6日（月）閉店</dd>
        </div>
      </dl>

      <p class="c-Txt_Cap u-Adjust_Mt-16">
        ※ご予約時の電話番号と、アンケートにて入力いただく電話番号が一致した場合、ポイント進呈いたします。<br>
        ※おひとり様1度のみアンケートにご回答いただけます。<br>
        ※ポイントは条件達成が確認された月の翌月末日ごろに進呈いたします。<br>
        ※付与されるポイントの有効期限は、ポイント付与日を含めて6カ月です。
      </p>

      <p class="c-Txt_Normal-l c-Txt_Emp-02 u-Adjust_Mt-16 u-Adjust_Mb-16 u-Adjust_Align-center">本キャンペーンは終了しました。</p>

      <nav class="<%= namespace %>-Nav">
        <ul>
          <li>
            <a href="#term" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>達成条件</a>
          </li>
          <li>
            <a href="#flow" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>ご参加の流れ</a>
          </li>
          <li>
            <a href="#campaign-rule" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>ルール</a>
          </li>
        </ul>
      </nav>
    </div>
  </section>

  <section id="term" class="<%= namespace %>-Section_Terms <%= namespace %>-Util_Bg-gray">
    <div class="l-System_Container">
      <h2 class="c-Heading_Lv2">達成条件</h2>
      <p class="u-Adjust_Mt-16">達成条件が設定されています。詳細は<a href="#campaign-rule" class="c-Link_Txt js-scroll">ルール</a>をご確認ください。</p>

      <ul class="<%= namespace %>-List_Plus u-Adjust_Mt-16">
        <li>
          <div class="c-Icon_Phone-l"></div>
          <p class="c-Txt_Emp-01">予約専用電話番号で<br>来店予約</p>
        </li>
        <li>
          <div class="c-Icon_Shop-l"></div>
          <p class="c-Txt_Emp-01">楽天モバイルショップに<br>来店</p>
        </li>
        <li>
          <div class="c-Icon_Comment-l"></div>
          <p class="c-Txt_Emp-01">生活おトク診断に参加</p>
        </li>
        <li>
          <div class="c-Icon_Survey-l"></div>
          <p class="c-Txt_Emp-01">アンケートに回答</p>
        </li>
      </ul>
    </div>
  </section>

  <div class="l-System_Container">
    <section id="flow" class="<%= namespace %>-Section">
      <h2 class="c-Heading_Lv2 u-Adjust_Align-center">ご参加の流れ</h2>
      <ol class="c-Flow u-Adjust_Mt-32 <%= namespace %>-List_Flow">
        <li>
            <h3 class="c-Heading_Lv3">1. 予約専用電話番号で来店予約</h3>
            <div class="l-Media_Grid u-Adjust_Mt-24">
              <div class="l-Media_Image <%= namespace %>-List_Flow-img">
                  <img src="<%= imgPath %>img-sec3-01.png" alt="" width="326" height="203">
              </div>
              <div>
                <p>
                  下記の<span class="c-Txt_Emp-02">予約専用電話番号</span>から来店予約をしてください。<br>
                  <span class="c-Txt_Emp-02">ショップごとに電話番号が異なります</span>ので、おかけ間違えのないようご注意ください。
                </p>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">※下記以外の電話番号での来店予約は対象外となります。</p>

                <h4 class="c-Heading_Lv4 u-Adjust_Mt-16">対象ショップ</h4>
                <ul class="<%= namespace %>-List_Adress u-Adjust_Mt-16">
                  <li>
                    <address>
                      <span><a href="<%= sitepath %>shop-detail/7846/" class="c-Link_Txt-inline">楽天モバイル トレッサ横浜店<span class="c-Icon_Chevron-right"></span></a></span>
                    </address>
                  </li>
                  <li>
                    <address>
                      <span><a href="<%= sitepath %>shop-detail/6161/" class="c-Link_Txt-inline">楽天モバイル 川崎ゼロゲート店<span class="c-Icon_Chevron-right"></span></a></span>
                    </address>
                  </li>
                  <li>
                    <address>
                      <span><a href="<%= sitepath %>shop-detail/7361/" class="c-Link_Txt-inline">楽天モバイル ららぽーとEXPOCITY店<span class="c-Icon_Chevron-right"></span></a></span>
                    </address>
                  </li>
                </ul>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">
                  ※非通知にせず携帯電話より上記番号に電話をしてご予約ください。<br>
                  ※おかけいただいた電話番号は、お客様への楽天ポイントの付与等の目的で、楽天グループ株式会社（以下「当社」）において適切に取り扱います。<br>
                  当社の個人情報保護方針は<a href="https://privacy.rakuten.co.jp/" class="c-Link_Txt" target="_blank" rel="noopener">こちら</a>よりご確認いただけます。
                </p>
              </div>
          </div>
        </li>
        <li>
          <h3 class="c-Heading_Lv3">2. 楽天モバイルショップに来店</h3>
          <div class="l-Media_Grid u-Adjust_Mt-24">
            <div class="l-Media_Image <%= namespace %>-List_Flow-img">
              <img src="<%= imgPath %>img-sec3-02.png" alt="" width="326" height="203">
            </div>
            <div>
              <p>来店予約した楽天モバイルショップに来店する。</p>
              <h4 class="c-Heading_Lv4 u-Adjust_Mt-16">来店時に必要なもの</h4>
              <div class="u-Adjust_Mt-16">
                <img src="<%= imgPath %>img-sec3-03.png" alt="" width="267" height="166">
              </div>
              <p class="u-Adjust_Mt-16 c-Txt_Emp-01">楽天会員ログイン用のユーザID、パスワード</p>
              <p class="u-Adjust_Mt-8">
                楽天モバイルショップにて、楽天会員のログインが必要です。<br>
                当日ご契約される場合には、<span class="c-Txt_Emp-02">本人確認書類の情報と、楽天会員情報が一致している必要があります。</span>
              </p>
              <div class="u-Adjust_Mt-32">
                <a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Btn_Regular" target="_blank" rel="noopener"><span>楽天会員情報を確認・変更する<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
              </div>
              <div class="c-Theme-Light u-Adjust_Mt-32">
                <h4 class="c-Heading_Lv4">ご契約を検討中のお客様は下記の書類をご持参ください。</h4>
                <div class="u-Adjust_Mt-16">
                  <img src="<%= imgPath %>img-sec3-04.png" alt="" width="267" height="161">
                </div>
                <ul class="u-Adjust_Mt-16">
                  <li>
                    <a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-inline">・本人確認書類<span class="c-Icon_Chevron-right"></span></a>
                  </li>
                  <li class="u-Adjust_Mt-16">
                    <a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-inline">・クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                    <p class="u-Adjust_Mt-16 c-Txt_Cap">※ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="<%= sitepath %>faq/detail/00001238/" class="c-Link_Txt">こちらのご案内ページ</a>を必ず事前にご確認ください。</p>
                  </li>
                  <li class="u-Adjust_Mt-16">
                    <a href="<%= sitepath %>guide/mnp/" class="c-Link_Txt-inline">・ご契約者名義のMNP予約番号（他社から乗り換えの場合）<span class="c-Icon_Chevron-right"></span></a>
                    <p class="u-Adjust_Mt-16 c-Txt_Cap">
                      ※未成年者の方のお申し込みに必要な情報、お申し込み方法は<a href="<%= sitepath %>flow/for-minors/" class="c-Link_Txt">こちらのご案内ページ</a>をご確認ください。<br>
                      ※Webページにて、楽天モバイル（ドコモ回線・au回線）から移行お手続き後に、Rakuten UN-LIMIT VIIにお申し込みいただく場合、MNP予約番号と本人確認書類はご準備不要です。
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <h3 class="c-Heading_Lv3">3. 生活おトク診断に参加</h3>
          <div class="l-Media_Grid u-Adjust_Mt-24">
            <div class="l-Media_Image <%= namespace %>-List_Flow-img">
              <img src="<%= imgPath %>img-sec3-05.png" alt="" width="326" height="203">
            </div>
            <div>
              <p>楽天モバイルショップにて、生活おトク診断にご参加ください。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-16">※体験時間は3分ほどです。</p>
            </div>
          </div>
        </li>
        <li>
          <h3 class="c-Heading_Lv3">4. アンケートに回答</h3>
          <div class="l-Media_Grid u-Adjust_Mt-24">
            <div class="l-Media_Image <%= namespace %>-List_Flow-img">
              <img src="<%= imgPath %>img-sec3-06.png" alt="" width="326" height="203">
            </div>
            <div>
              <p>楽天モバイルショップにて、アンケートにご回答ください。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-16">※所要時間5分程度のアンケートとなっております。※楽天会員情報を入力いただきます。</p>
            </div>
          </div>
        </li>
        <li class="c-Theme-Emphasis1">
          <h3 class="c-Heading_Lv3">楽天ポイント500ポイント進呈！</h3>
          <div class="l-Media_Grid u-Adjust_Mt-24">
            <div class="l-Media_Image <%= namespace %>-List_Flow-img">
              <img src="<%= imgPath %>img-sec3-07.png" alt="" width="326" height="203">
            </div>
            <div>
              <p class="c-Txt_Cap">
                ※参加条件の達成が確認された月の翌月末日ごろに進呈いたします。<br>
                ※ご予約時の電話番号と、アンケートにて入力いただく電話番号が一致しない場合は、ポイント進呈対象外となります。<br>
                ※進呈されるポイントの有効期限は、ポイント進呈日を含めて6カ月です。
              </p>
            </div>
          </div>
        </li>
      </ol>
    </section>

    <section class="<%= namespace %>-Section">
      <%- include('/inc/_saikyo') %>
    </section>

    <section id="campaign-rule" class="<%= namespace %>-Section">
      <h2 class="c-Heading_Lv2 u-Adjust_Align-center <%= namespace %>-Sp_Align-left">対象店舗での生活おトク診断＆アンケート回答で500ポイント進呈</h2>
      <p class="c-Txt_Normal-l c-Txt_Emp-02 u-Adjust_Mt-16 u-Adjust_Mb-16 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
      <div class="u-Adjust_Mt-24 <%= namespace %>-Rule">
        <dl class="c-Dl_Origin">
          <div>
            <dt>コード</dt>
            <dd>
              <p>1798</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">
                ※本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください
              </p>
            </dd>
          </div>
          <div>
              <dt>実施期間</dt>
              <dd>
                <p>
                  <span class="c-Txt_Emp-01">■ 予約受付期間</span><br>
                  　- 電話　2023年2月24日（金）9:00～2023年3月6日（月）16:59
                </p>
                <p class="u-Adjust_Mt-24">
                  <span class="c-Txt_Emp-01">■ 実施期間</span><br>
                  　- 店舗（対象の楽天モバイルショップ）　2023年3月3日（金）開店～2023年3月6日（月）閉店
                </p>
              </dd>
          </div>
          <div>
            <dt>参加条件</dt>
            <dd>
              <p class="c-Txt_Emp-02">上記各項目の期間内に【1】、【2】、【3】、【4】の条件をすべて満たした楽天会員の方</p>
              <ol class="u-Adjust_Mt-24">
                <li>
                  <span class="c-Txt_Emp-01">【1】専用ページから電話予約</span><br>
                  　専用ページに記載の電話番号に、電話予約をしてください。
                </li>
                <li class="u-Adjust_Mt-24">
                  <span class="c-Txt_Emp-01">【2】楽天モバイルショップに来店</span><br>
                  　来店予約をした日時に、対象店舗に来店してください。<br>
                  　<span class="c-Txt_Cap">※対象店舗：関東2店舗、関西1店舗</span>
                </li>
                <li class="u-Adjust_Mt-24">
                  <span class="c-Txt_Emp-01">【3】生活おトク診断に参加</span><br>
                  　店頭にて、生活おトク診断にご参加ください。
                </li>
                <li class="u-Adjust_Mt-24">
                  <span class="c-Txt_Emp-01">【4】アンケートに回答</span><br>
                  　店頭にて専用のQRコードを読み取り、アンケートにご回答ください。
                </li>
              </ol>
              <p class="c-Txt_Cap">
                　※楽天会員ログインが必要です。<br>
                　※ご予約時の電話番号と、アンケートにて入力いただく電話番号が一致した場合、ポイント進呈いたします。<br>
                　※おひとり様1度のみアンケートにご回答いただけます。
              </p>
            </dd>
          </div>
          <div>
            <dt>参加報酬 （楽天ポイント）</dt>
            <dd>
              <p class="c-Heading_Lv4">報酬内容</p>
              <p class="c-Txt_Emp-01">500ポイント進呈</p>

              <p class="c-Heading_Lv4 u-Adjust_Mt-24">ポイント進呈日</p>
              <p class="c-Txt_Emp-01">参加条件の達成が確認された月の翌月末日ごろに進呈</p>
              <p class="c-Txt_Cap">
                ※例）3月にすべての条件を達成した場合には、その翌月である4月末日ごろにポイント進呈となります。<br>
                ※楽天ポイントの付与は、楽天グループ株式会社より行います。<br>
                ※権利の譲渡はできません。
              </p>

              <p class="c-Heading_Lv4 u-Adjust_Mt-24">ポイント有効期間</p>
              <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
              <p class="c-Txt_Cap">
                <a href="https://ichiba.faq.rakuten.net/detail/000006532" class="c-Link_Txt-inline" target="_blank" rel="noopener">※期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a><br>
                ※有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。
              </p>
            </dd>
          </div>
          <div>
            <dt>個人情報の利用目的</dt>
            <dd>
              <p class="c-Txt_Cap">
                ※お申し込み情報は楽天グループ株式会社により取得され、ポイント進呈、および楽天の個人情報保護方針に則って利用されます。<br>
                楽天グループ株式会社の個人情報保護方針に同意の上、お申し込みください。<br>
                <a href="https://privacy.rakuten.co.jp/" class="c-Link_Txt" target="_blank" rel="noopener">楽天グループ株式会社の個人情報保護方針はこちら</a><br>
                ※アンケートでご入力いただいた情報は、楽天モバイル株式会社によって取得され、楽天モバイル株式会社の個人情報保護方針に規定する目的で利用されます。<br>
                <a href="https://corp.mobile.rakuten.co.jp/guide/privacy/policy/" class="c-Link_Txt" target="_blank" rel="noopener">楽天モバイル株式会社の個人情報保護方針はこちら</a>
              </p>
            </dd>
          </div>
          <div>
            <dt>注意事項</dt>
            <dd>
              <p class="c-Txt_Cap">
                ※おひとり様1回限りご参加いただけます。<br>
                ※ご参加には、事前に楽天への会員登録（無料）が必要です。<br>
                ※ポイントはQRコードスキャン後にログインした楽天会員IDに進呈いたします。<br>
                ※進呈されるポイントの有効期限は、ポイント進呈日を含めて6カ月です。​<br>
                ※以下の条件に当てはまる場合は、ポイント進呈の対象外となります。<br>
                　・ご予約時の電話番号と、アンケートにて入力いただく電話番号が一致しない場合<br>
                　・何らかの理由により指定のお申込みステップを完了されなった場合<br>
                　・同一会員とおぼしき複数回のご参加が確認された場合<br>
                　・ポイント進呈までに楽天会員から退会している場合<br>
                　・当社または楽天グループ株式会社が定める規約などに違反した場合<br>
                　・そのほか、当社が会員として不適格であると判断した場合<br>
                ※ご登録されている楽天会員情報に虚偽や誤りがあった場合は、ポイント進呈の対象外となる場合があります。<br>
                ※ポイント進呈時、お電話等でのポイント進呈報告はいたしません。あらかじめご了承ください。<br>
                ※予告なく内容の変更、中止もしくは延長させていただく場合がございます。あらかじめご了承ください。<br>
                ※メンテナンス等の理由により、ご参加いただけない場合がございます。あらかじめご了承ください。<br>
                ※不正行為、その他運営上の趣旨に反していると弊社が判断した場合はポイント進呈の対象外とし、参加資格の剥奪、アカウントの停止などの対応をさせていただきます。<br>
                ※記載の内容は2023年2月24日（金）時点の情報となります
              </p>
            </dd>
          </div>
        </dl>
      </div>
    </section>
  </div>

  <footer class="g-Footer">
    <div class="g-Footer_Aside">
      <%- include('/include/footer/related/_related-shop-v2') %>
      <%#- include('/include/footer/bnr/bnr-shop') %>
      <%#- include('/faq/include/related-shop') %>
    </div>
    <div class="l-System_Container">
      <div class="c-Breadcrumbs_Foot">
        <ul>
          <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
          <li aria-current="true"><%= pagetitle %></li>
        </ul>
      </div>
    </div>
    <%- include('/include/_footer') %>
  </footer>
</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
