<% const pagetitle = "製品ページリスト" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css') %>
</head>
<body>

<div class="l-System">

  <%- include('/include/_header') %>

  <div class="c-Breadcrumbs_Head">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1 u-Adjust_Mt-32">Product Page List</h1>

    <div class="c-Table_Wrap-scroll">
      <table class="c-Table_Container u-Adjust_Mt-32 u-Adjust_Mb-32">
        <colgroup>
          <col class="u-Adjust_W-200">
          <col class="u-Adjust_W-400">
          <col>
        </colgroup>
        <thead>
          <tr>
            <th scope="col">Category</th>
            <th scope="col">Page</th>
            <th scope="col">URL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">製品トップ</th>
            <td>トップ</td>
            <td><a href="<%= rootpath %>product/index.html"><%= rootpath %>product/index.html</a></td>
          </tr>
          <tr>
            <th scope="row" rowspan="12">スマートフォン</th>
            <td>OPPO Reno A 128GB</td>
            <td><a href="<%= rootpath %>product/smartphone/reno-a/index.html"><%= rootpath %>product/smartphone/reno-a/index.html</a></td>
          </tr>
          <tr>
            <td>スペック</td>
            <td><a href="<%= rootpath %>product/smartphone/reno-a/spec.html"><%= rootpath %>product/smartphone/reno-a/spec.html</a></td>
          </tr>
          <tr>
            <td>Galaxy A7</td>
            <td><a href="<%= rootpath %>product/smartphone/galaxy-a7/index.html"><%= rootpath %>product/smartphone/galaxy-a7/index.html</a></td>
          </tr>
          <tr>
            <td>スペック</td>
            <td><a href="<%= rootpath %>product/smartphone/galaxy-a7/spec.html"><%= rootpath %>product/smartphone/galaxy-a7/spec.html</a></td>
          </tr>
          <tr>
            <td>arrows RX</td>
            <td><a href="<%= rootpath %>product/smartphone/arrows-rx/index.html"><%= rootpath %>product/smartphone/arrows-rx/index.html</a></td>
          </tr>
          <tr>
            <td>スペック</td>
            <td><a href="<%= rootpath %>product/smartphone/arrows-rx/spec.html"><%= rootpath %>product/smartphone/arrows-rx/spec.html</a></td>
          </tr>
          <tr>
            <td>AQUOS sense3 lite SH-RM12</td>
            <td><a href="<%= rootpath %>product/smartphone/aquos-sense3-lite/index.html"><%= rootpath %>product/smartphone/aquos-sense3-lite/index.html</a></td>
          </tr>
          <tr>
            <td>スペック</td>
            <td><a href="<%= rootpath %>product/smartphone/aquos-sense3-lite/spec.html"><%= rootpath %>product/smartphone/aquos-sense3-lite/spec.html</a></td>
          </tr>
          <tr>
            <td>Xperia™ Ace</td>
            <td><a href="<%= rootpath %>product/smartphone/xperia-ace/index.html"><%= rootpath %>product/smartphone/xperia-ace/index.html</a></td>
          </tr>
          <tr>
            <td>スペック</td>
            <td><a href="<%= rootpath %>product/smartphone/xperia-ace/spec.html"><%= rootpath %>product/smartphone/xperia-ace/spec.html</a></td>
          </tr>
          <tr>
            <td>tiny</td>
            <td><a href="<%= rootpath %>product/smartphone/rakuten-mini/index.html"><%= rootpath %>product/smartphone/rakuten-mini/index.html</a></td>
          </tr>
          <tr>
            <td>スペック</td>
            <td><a href="<%= rootpath %>product/smartphone/rakuten-mini/spec.html"><%= rootpath %>product/smartphone/rakuten-mini/spec.html</a></td>
          </tr>
          <tr>
            <th scope="row">ルータートップ</th>
            <td>トップ</td>
            <td><a href="<%= rootpath %>product/router/index.html"><%= rootpath %>product/router/index.html</a></td>
          </tr>
          <tr>
            <th scope="row" rowspan="2">ルーター</th>
            <td>Aterm MP02LN</td>
            <td><a href="<%= rootpath %>product/router/aterm-mp02ln/index.html"><%= rootpath %>product/router/aterm-mp02ln/index.html</a></td>
          </tr>
          <tr>
            <td>Aterm MR05LN</td>
            <td><a href="<%= rootpath %>product/router/aterm-mr05ln/index.html"><%= rootpath %>product/router/aterm-mr05ln/index.html</a></td>
          </tr>
          <tr>
            <th scope="row">アクセサリートップ</th>
            <td>トップ</td>
            <td><a href="<%= rootpath %>product/accessory/index.html"><%= rootpath %>product/accessory/index.html</a></td>
          </tr>

          <tr><th scope="row" rowspan="27">ケース</th><td>	防塵防水クリアカラー防水ケース	</td><td><a href="<%= rootpath %>product/accessory/	owl-owlwpcsp12cl	/index.html"><%= rootpath %>product/accessory/	owl-owlwpcsp12cl	/index.html</a></td></tr>
          <tr><td style="background: lightgray">	イタリアンソフトレザー　マルチスマホケース	</td><td><a href="<%= rootpath %>product/accessory/	suncrest-smcnw04	/index.html"><%= rootpath %>product/accessory/	suncrest-smcnw04	/index.html</a></td></tr>
          <tr><td>	Girlsi La fleur マルチスマホケース 	</td><td><a href="<%= rootpath %>product/accessory/	suncrest-smcc59	/index.html"><%= rootpath %>product/accessory/	suncrest-smcc59	/index.html</a></td></tr>
          <tr><td>	CATFLIP NEWT マルチスマホケースLサイズ	</td><td><a href="<%= rootpath %>product/accessory/	suncrest-smcnwc04	/index.html"><%= rootpath %>product/accessory/	suncrest-smcnwc04	/index.html</a></td></tr>
          <tr><td>	CATFLIP Girlsi マルチスマホケースMサイズ	</td><td><a href="<%= rootpath %>product/accessory/	suncrest-smcc62	/index.html"><%= rootpath %>product/accessory/	suncrest-smcc62	/index.html</a></td></tr>
          <tr><td>	プレミアムレザーケース Croco（本革）	</td><td><a href="<%= rootpath %>product/accessory/	nittere-amvarcrocobk	/index.html"><%= rootpath %>product/accessory/	nittere-amvarcrocobk	/index.html</a></td></tr>
          <tr><td>	Galaxy純正 Galaxy A7 WALLET COVER　ブラック	</td><td><a href="<%= rootpath %>product/accessory/	samsung-efwa750pbegjp	/index.html"><%= rootpath %>product/accessory/	samsung-efwa750pbegjp	/index.html</a></td></tr>
          <tr><td>	arrows RX ハイブリッドケース	</td><td><a href="<%= rootpath %>product/accessory/	rselect-rmfjarwsrxc0023cl	/index.html"><%= rootpath %>product/accessory/	rselect-rmfjarwsrxc0023cl	/index.html</a></td></tr>
          <tr><td>	arrows RX 手帳型ケース	</td><td><a href="<%= rootpath %>product/accessory/	rselect-rmfjarwsrxc0024bk	/index.html"><%= rootpath %>product/accessory/	rselect-rmfjarwsrxc0024bk	/index.html</a></td></tr>
          <tr><td>	arrows RX 手帳型ケース	</td><td><a href="<%= rootpath %>product/accessory/	rselect-rmfjarwsrxc0026br	/index.html"><%= rootpath %>product/accessory/	rselect-rmfjarwsrxc0026br	/index.html</a></td></tr>
          <tr><td>	AQUOS sense3 lite ハイブリッドクリアケース	</td><td><a href="<%= rootpath %>product/accessory/	rselect-rmshaqs012c0016cl	/index.html"><%= rootpath %>product/accessory/	rselect-rmshaqs012c0016cl	/index.html</a></td></tr>
          <tr><td>	AQUOS sense3 lite 手帳型ケース	</td><td><a href="<%= rootpath %>product/accessory/	rselect-rmshaqs012c0017bk	/index.html"><%= rootpath %>product/accessory/	rselect-rmshaqs012c0017bk	/index.html</a></td></tr>
          <tr><td>	AQUOS sense3 lite 手帳型ケース	</td><td><a href="<%= rootpath %>product/accessory/	rselect-rmshaqs012c0021gd	/index.html"><%= rootpath %>product/accessory/	rselect-rmshaqs012c0021gd	/index.html</a></td></tr>
          <tr><td>	AQUOS sense3 lite レザーハードケース	</td><td><a href="<%= rootpath %>product/accessory/	rselect-rmshaqs012c0019bk	/index.html"><%= rootpath %>product/accessory/	rselect-rmshaqs012c0019bk	/index.html</a></td></tr>
          <tr><td>	Galaxy A7 ハイブリッドケース	</td><td><a href="<%= rootpath %>product/accessory/	tremeal-rmsmglxa07c0028cl	/index.html"><%= rootpath %>product/accessory/	tremeal-rmsmglxa07c0028cl	/index.html</a></td></tr>
          <tr><td>	Galaxy A7 手帳型ケース	</td><td><a href="<%= rootpath %>product/accessory/	rselect-rmsmglxa07c0031bg	/index.html"><%= rootpath %>product/accessory/	rselect-rmsmglxa07c0031bg	/index.html</a></td></tr>
          <tr><td>	Xperia Ace ハイブリッドケース	</td><td><a href="<%= rootpath %>product/accessory/	rselect-rmsoxprace0033cl	/index.html"><%= rootpath %>product/accessory/	rselect-rmsoxprace0033cl	/index.html</a></td></tr>
          <tr><td>	Xperia Ace 手帳型ケース 	</td><td><a href="<%= rootpath %>product/accessory/	reselect-rmsoxpracec0037bg	/index.html"><%= rootpath %>product/accessory/	reselect-rmsoxpracec0037bg	/index.html</a></td></tr>
          <tr><td style="background: lightgray">	Rakuten Mini ハイブリッドケース	</td><td><a href="<%= rootpath %>product/accessory/	rselect-rmtnraminic0041cl	/index.html"><%= rootpath %>product/accessory/	rselect-rmtnraminic0041cl	/index.html</a></td></tr>
          <tr><td style="background: lightgray">	Rakuten Mini 手帳型ストラップ付きケース	</td><td><a href="<%= rootpath %>product/accessory/	rselect-rmtnraminic0048bk	/index.html"><%= rootpath %>product/accessory/	rselect-rmtnraminic0048bk	/index.html</a></td></tr>
          <tr><td style="background: lightgray">	Rakuten Mini ハイブリッドレザーケース	</td><td><a href="<%= rootpath %>product/accessory/	rselect-rmtnraminic0043wh	/index.html"><%= rootpath %>product/accessory/	rselect-rmtnraminic0043wh	/index.html</a></td></tr>
          <tr><td>	Galaxy A7 手帳型ケース	</td><td><a href="<%= rootpath %>product/accessory/	rselect-rmsmglxa07c0029bk	/index.html"><%= rootpath %>product/accessory/	rselect-rmsmglxa07c0029bk	/index.html</a></td></tr>
          <tr><td>	Xperia Ace 手帳型ケース	</td><td><a href="<%= rootpath %>product/accessory/	r-select-rmsoxprace0034nv	/index.html"><%= rootpath %>product/accessory/	r-select-rmsoxprace0034nv	/index.html</a></td></tr>
          <tr><td>	AQUOS sense3 lite TPUフレームケース	</td><td><a href="<%= rootpath %>product/accessory/	rselect-rmshaqs012c0022gd	/index.html"><%= rootpath %>product/accessory/	rselect-rmshaqs012c0022gd	/index.html</a></td></tr>
          <tr><td>	Galaxy A7 TPUフレームケース	</td><td><a href="<%= rootpath %>product/accessory/	rselect-rmsmglxa07c0032bl	/index.html"><%= rootpath %>product/accessory/	rselect-rmsmglxa07c0032bl	/index.html</a></td></tr>
          <tr><td>	Reno A 128GB 手帳型ケース	</td><td><a href="<%= rootpath %>product/accessory/	rselect-rmopreno0ac0038bk	/index.html"><%= rootpath %>product/accessory/	rselect-rmopreno0ac0038bk	/index.html</a></td></tr>
          <tr><td>	Reno A 128GB TPUフレームケース	</td><td><a href="<%= rootpath %>product/accessory/	rselect-rmopreno0ac0040bl	/index.html"><%= rootpath %>product/accessory/	rselect-rmopreno0ac0040bl	/index.html</a></td></tr>

          <tr><th scope="row" rowspan="14">フィルム</th><td>	Galaxy A7　全面ガラスフィルム　高光沢 ドラゴントレイルX	</td><td><a href="<%= rootpath %>product/accessory/	rselect-rmsmglxa07f006bk	/index.html"><%= rootpath %>product/accessory/	rselect-rmsmglxa07f006bk	/index.html</a></td></tr>
          <tr><td>	Galaxy A7　平面ガラスフィルム　高光沢	</td><td><a href="<%= rootpath %>product/accessory/	rselect-rmsmglxa07f0004cl	/index.html"><%= rootpath %>product/accessory/	rselect-rmsmglxa07f0004cl	/index.html</a></td></tr>
          <tr><td>	Galaxy A7　全面ガラスフィルム　反射防止　ソフトフレーム	</td><td><a href="<%= rootpath %>product/accessory/	rselect-rmsmglxa07f005bk	/index.html"><%= rootpath %>product/accessory/	rselect-rmsmglxa07f005bk	/index.html</a></td></tr>
          <tr><td>	Reno A 128GB　全面ガラスフィルム　反射防止　ソフトフレーム	</td><td><a href="<%= rootpath %>product/accessory/	rselect-rmopreno0af0012bk	/index.html"><%= rootpath %>product/accessory/	rselect-rmopreno0af0012bk	/index.html</a></td></tr>
          <tr><td>	Reno A 128GB　全面ガラスフィルム　高光沢 ドラゴントレイルX	</td><td><a href="<%= rootpath %>product/accessory/	rselect-rmopreno0af0013bk	/index.html"><%= rootpath %>product/accessory/	rselect-rmopreno0af0013bk	/index.html</a></td></tr>
          <tr><td>	Reno A 128GB　平面ガラスフィルム　高光沢	</td><td><a href="<%= rootpath %>product/accessory/	rselect-rmopreno0af0011cl	/index.html"><%= rootpath %>product/accessory/	rselect-rmopreno0af0011cl	/index.html</a></td></tr>
          <tr><td>	AQUOS sense3 lite 全面ガラスフィルム　高光沢	</td><td><a href="<%= rootpath %>product/accessory/	rselect-rmshaqs012f0015wh	/index.html"><%= rootpath %>product/accessory/	rselect-rmshaqs012f0015wh	/index.html</a></td></tr>
          <tr><td>	arrows RX 全面ガラスフィルム　高光沢	</td><td><a href="<%= rootpath %>product/accessory/	rselect-rmfjarwsrxf0016wh	/index.html"><%= rootpath %>product/accessory/	rselect-rmfjarwsrxf0016wh	/index.html</a></td></tr>
          <tr><td>	AQUOS sense3 lite　平面ガラスフィルム　高光沢	</td><td><a href="<%= rootpath %>product/accessory/	rselect-rmshaqs012f0001	/index.html"><%= rootpath %>product/accessory/	rselect-rmshaqs012f0001	/index.html</a></td></tr>
          <tr><td>	AQUOS sense3 lite　平面ガラスフィルム　反射防止	</td><td><a href="<%= rootpath %>product/accessory/	rselect-rmshaqs012f0002	/index.html"><%= rootpath %>product/accessory/	rselect-rmshaqs012f0002	/index.html</a></td></tr>
          <tr><td>	arrows RX　平面ガラスフィルム　反射防止	</td><td><a href="<%= rootpath %>product/accessory/	rselect-rmfjarwsrxf0003	/index.html"><%= rootpath %>product/accessory/	rselect-rmfjarwsrxf0003	/index.html</a></td></tr>
          <tr><td style="background: lightgray">	Rakuten Mini ガラスフィルム	</td><td><a href="<%= rootpath %>product/accessory/	rselect-rmtnraminif0050cl	/index.html"><%= rootpath %>product/accessory/	rselect-rmtnraminif0050cl	/index.html</a></td></tr>

          <tr><th scope="row" rowspan="14">充電器</th><td>USB急速充電器 2ポート 24W	</td><td><a href="<%= rootpath %>product/accessory/	anker-a2021123	/index.html"><%= rootpath %>product/accessory/	anker-a2021123	/index.html</a></td></tr>
          <tr><td>	PowerDrive 2　USBカーチャージャー	</td><td><a href="<%= rootpath %>product/accessory/	anker-a2310012	/index.html"><%= rootpath %>product/accessory/	anker-a2310012	/index.html</a></td></tr>
          <tr><td>	AC充電器（USB 4ポート）PowerPort 4	</td><td><a href="<%= rootpath %>product/accessory/	anker-a2142521	/index.html"><%= rootpath %>product/accessory/	anker-a2142521	/index.html</a></td></tr>
          <tr><td>	Anker PowerWave 7.5 Stand	</td><td><a href="<%= rootpath %>product/accessory/	anker-a2521011	/index.html"><%= rootpath %>product/accessory/	anker-a2521011	/index.html</a></td></tr>
          <tr><td>	Anker PowerCore+ mini	</td><td><a href="<%= rootpath %>product/accessory/	anker-a1104n129	/index.html"><%= rootpath %>product/accessory/	anker-a1104n129	/index.html</a></td></tr>
          <tr><td>	Astro E1 5200mAh モバイルバッテリー	</td><td><a href="<%= rootpath %>product/accessory/	anker-a1211n219	/index.html"><%= rootpath %>product/accessory/	anker-a1211n219	/index.html</a></td></tr>
          <tr><td>	Anker PowerCore II 10000 	</td><td><a href="<%= rootpath %>product/accessory/	anker-a12300219	/index.html"><%= rootpath %>product/accessory/	anker-a12300219	/index.html</a></td></tr>
          <tr><td>	ケーブル一体型スマホ用AC充電器（長寿命・1A）	</td><td><a href="<%= rootpath %>product/accessory/	elecom-mpaacmac155wf	/index.html"><%= rootpath %>product/accessory/	elecom-mpaacmac155wf	/index.html</a></td></tr>
          <tr><td>	ケーブル一体型スマホ用AC充電器（長寿命・1A）	</td><td><a href="<%= rootpath %>product/accessory/	elecom-mpaacmac255wh	/index.html"><%= rootpath %>product/accessory/	elecom-mpaacmac255wh	/index.html</a></td></tr>
          <tr><td>	キューブ型AC充電器（スマホ用・1.0A）	</td><td><a href="<%= rootpath %>product/accessory/	elecom-mpaacuan007wh	/index.html"><%= rootpath %>product/accessory/	elecom-mpaacuan007wh	/index.html</a></td></tr>
          <tr><td>	AC充電器（micro USB）	</td><td><a href="<%= rootpath %>product/accessory/	tama-ta51sw	/index.html"><%= rootpath %>product/accessory/	tama-ta51sw	/index.html</a></td></tr>
          <tr><td>	AC充電器（ケーブルなし）	</td><td><a href="<%= rootpath %>product/accessory/	tama-ta51uw	/index.html"><%= rootpath %>product/accessory/	tama-ta51uw	/index.html</a></td></tr>
          <tr><td>	ACコンセント×3 USBポート×2 マルチAC充電器	</td><td><a href="<%= rootpath %>product/accessory/	owl-owlacus2a3wh	/index.html"><%= rootpath %>product/accessory/	owl-owlacus2a3wh	/index.html</a></td></tr>
          <tr><td>	モバイルルータ用ACアダプタ04	</td><td><a href="<%= rootpath %>product/accessory/	nec-pamradp042	/index.html"><%= rootpath %>product/accessory/	nec-pamradp042	/index.html</a></td></tr>

          <tr><th scope="row" rowspan="8">ケーブル</th><td>	高耐久USB Type-Cケーブル  1.2m	</td><td><a href="<%= rootpath %>product/accessory/	elecom-mpaacs12nbk	/index.html"><%= rootpath %>product/accessory/	elecom-mpaacs12nbk	/index.html</a></td></tr>
          <tr><td>	Lightning ケーブル 0.9m	</td><td><a href="<%= rootpath %>product/accessory/	tama-tih08lw	/index.html"><%= rootpath %>product/accessory/	tama-tih08lw	/index.html</a></td></tr>
          <tr><td>	micro USB ケーブル	</td><td><a href="<%= rootpath %>product/accessory/	tama-th33sdw	/index.html"><%= rootpath %>product/accessory/	tama-th33sdw	/index.html</a></td></tr>
          <tr><td>	micro USB ケーブル（0.9m）高耐久ナイロン製	</td><td><a href="<%= rootpath %>product/accessory/	anker-a7115011	/index.html"><%= rootpath %>product/accessory/	anker-a7115011	/index.html</a></td></tr>
          <tr><td>	PowerLine+ ライトニングUSBケーブル (90cm)	</td><td><a href="<%= rootpath %>product/accessory/	anker-a8121021	/index.html"><%= rootpath %>product/accessory/	anker-a8121021	/index.html</a></td></tr>
          <tr><td>	PowerLine+ micro USBケーブル (90cm)	</td><td><a href="<%= rootpath %>product/accessory/	anker-a8142021	/index.html"><%= rootpath %>product/accessory/	anker-a8142021	/index.html</a></td></tr>
          <tr><td>	PowerLine USB-C&USB 3.0ケーブル (90cm)	</td><td><a href="<%= rootpath %>product/accessory/	anker-a8163021	/index.html"><%= rootpath %>product/accessory/	anker-a8163021	/index.html</a></td></tr>
          <tr><td>	充電･通信 3コネクタケーブル 1.2m	</td><td><a href="<%= rootpath %>product/accessory/	rastabanana-rbhe274	/index.html"><%= rootpath %>product/accessory/	rastabanana-rbhe274	/index.html</a></td></tr>

          <tr><th scope="row">オーディオ</th><td>	ステレオヘッドホンマイク （耳栓タイプ）	</td><td><a href="<%= rootpath %>product/accessory/	elecom-ehp-cs3520mwh	/index.html"><%= rootpath %>product/accessory/	elecom-ehp-cs3520mwh	/index.html</a></td></tr>

          <tr><th scope="row" rowspan="4">外部メモリ</th><td>	メモリーカード Kingston microSDHC 32GB	</td><td><a href="<%= rootpath %>product/accessory/	kingston-sdcs32gb	/index.html"><%= rootpath %>product/accessory/	kingston-sdcs32gb	/index.html</a></td></tr>
          <tr><td>	メモリーカード Kingston microSDHC 16GB	</td><td><a href="<%= rootpath %>product/accessory/	kingston-sdcs16gb	/index.html"><%= rootpath %>product/accessory/	kingston-sdcs16gb	/index.html</a></td></tr>
          <tr><td>	メモリーカード microSDHC 32GB	</td><td><a href="<%= rootpath %>product/accessory/	rselect-rmmtsdxc64m0014bk	/index.html"><%= rootpath %>product/accessory/	rselect-rmmtsdxc64m0014bk	/index.html</a></td></tr>
          <tr><td>	メモリーカード microSDXC 64GB	</td><td><a href="<%= rootpath %>product/accessory/	rselect-rmmtsdxc64m0015bk	/index.html"><%= rootpath %>product/accessory/	rselect-rmmtsdxc64m0015bk	/index.html</a></td></tr>

          <tr><th scope="row" rowspan="4">その他</th><td>	EX5Cクレードル	</td><td><a href="<%= rootpath %>product/accessory/	nec-pamr05lex5c	/index.html"><%= rootpath %>product/accessory/	nec-pamr05lex5c	/index.html</a></td></tr>
          <tr><td>	iFace Finger Ring Holder インナーサークルタイプ 	</td><td><a href="<%= rootpath %>product/accessory/	hamee-41195727	/index.html"><%= rootpath %>product/accessory/	hamee-41195727	/index.html</a></td></tr>
          <tr><td>	フィンガーリング	</td><td><a href="<%= rootpath %>product/accessory/	elecom-pstrslbk	/index.html"><%= rootpath %>product/accessory/	elecom-pstrslbk	/index.html</a></td></tr>
          <tr><td>	Anker USB-C & Micro USB アダプタ　2個セット	</td><td><a href="<%= rootpath %>product/accessory/	anker-b8174011	/index.html"><%= rootpath %>product/accessory/	anker-b8174011	/index.html</a></td></tr>

        </tbody>
      </table>
    </div>

  </div>

  <footer class="g-Footer">

    <div class="g-Footer_Aside">

      <div class="g-Footer_Pagetop">
        <a href="#top" class="js-scroll">
          <span class="c-Icon_Arrow-up-l"></span>
        </a>
      </div>
    </div>
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>

    <%- include('/include/_footer') %>

  </footer>

</div>
<%- include('/include/_common-js') %>
</body>
</html>


