<% const pagetitle = "Rakuten最強プランへの変更（移行）方法" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/application/migration/", label:"楽天モバイル（ドコモ回線・au回線）からの移行"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイル（ドコモ回線・au回線）の「スーパーホーダイ」「組み合わせプラン」「コミコミプラン」からの、「Rakuten最強プラン」へのプラン変更（移行）手順をご案内します。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

    <p class="u-Adjust_Mt-24">楽天モバイル（ドコモ回線・au回線）の通話SIM料金プラン「スーパーホーダイ」「組み合わせプラン」「コミコミプラン」からの、「Rakuten最強プラン」へのプラン変更（移行）手順をご案内します。</p>
    <p class="u-Adjust_Mt-8 c-Txt_Emp-02 c-Txt_Cap"> <span>※</span>プラン変更（移行）にともなう契約解除料は発生しません。</p>
    <p class="c-Txt_Emp-02 c-Txt_Cap"><span>※</span>製品・SIMが届き、転入手続きが完了すると、お使いの楽天モバイル（ドコモ回線・au回線）のSIMはご利用できなくなりますので、ご注意ください。</p>
    <p class="c-Txt_Emp-02 c-Txt_Cap"><span>※</span>プラン変更（移行）後は、楽天モバイル（ドコモ回線・au回線）は自動解約となります。楽天モバイル（ドコモ回線・au回線）の回線解約取り消しまたは再契約はできません。</p>

    <div class="c-Infobox_Standing-warning u-Adjust_Mt-32">
      <p class="<%= nameSpace %>-Txt_Attention">ショップでお手続きをする場合は、手順が異なります。詳しくは下記ページをご覧ください。</p>
      <div class="u-Adjust_Mt-8">
        <p><a href="<%= sitepath %>guide/migration/?tab-list=tab-menu4#migration-flow" class="c-Link_Txt-inline">ショップでのプラン変更（移行）方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
      </div>
    </div>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-48">以下の3つの手順でお手続きください</h4>

    <p class="u-Adjust_Mt-24"><a href="#migration_01" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>メンバーズステーションでのお手続き</a></p>
    <p class="u-Adjust_Mt-16"><a href="#migration_02" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>Rakuten最強プランお申し込み画面でのお手続き</a></p>
    <p class="u-Adjust_Mt-16"><a href="#migration_03" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>スタートガイド（製品・SIMが届いたら）</a></p>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-48" id="migration_01">メンバーズステーションでのお手続き</h2>

    <ol class="c-Flow">
      <li>
        <h4 class="c-Heading_Lv4">1.転出：メンバーズステーション（会員ページ）にアクセスする</h4>
        <p class="u-Adjust_Mt-24">以下のボタンからプラン変更（移行）画面にお進みください。</p>
        <div class="u-Adjust_Mt-24"><a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&mno_migration=1" class="c-Btn_Regular" target="_blank"><span></span>メンバーズステーションにアクセスする</a></div>
        <div class="u-Adjust_Mt-24"><p class="u-Adjust_Mt-24"><a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten" class="c-Link_Txt-inline u-Adjust_Mt-8 guide-Layout_link_center" target="_blank">電話番号でのログインが必要なお客様はこちら<span class="c-Icon_Chevron-right"></span></a></p></div>
        <p class="u-Adjust_Mt-24">下記に該当するお客様はプラン変更（移行）お申し込み画面が表示されず、Rakuten最強プランへの変更（移行）手続きができません。詳しくは、よくあるご質問ページをご覧ください</p>
        <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>faq/detail/00001512/?l-id=guide_mnp_migration_faq_0000151" class="c-Link_Txt-inline u-Adjust_Mt-8">よくあるご質問ページ<span class="c-Icon_Chevron-right"></span></a></p>
        <ul class="c-List_Text-disc u-Adjust_Mt-24 c-Theme-Light">
          <li>楽天モバイル（データSIM）をご利用中</li>
          <li>楽天モバイル（プリペイドSIM）をご利用中</li>
          <li>機種変更、製品追加購入を申請中</li>
          <li>プラン変更申請中</li>
          <li>ご利用停止中（お客様からご希望の利用停止を含みます）</li>
          <li>解約申請中</li>
          <li>すでにMNP予約番号発行を依頼中、もしくは予約番号発行済</li>
          <li>「<a href="https://mvno.mobile.rakuten.co.jp/flow/user_registration/?l-id=guide_mnp_migration_mvno_user_registration">利用者登録</a>」でご利用中</li>
        </ul>
        <p class="u-Adjust_Mt-16"><a href="https://network.mobile.rakuten.co.jp/flow/mvno-user-registration/?l-id=guide_mnp_migration_flow_mvno-user-registration" class="c-Link_Txt-inline guide-Layout_link_center">「利用者登録」でご利用中のお客様のプラン変更（移行）方法はこちら<span class="c-Icon_Chevron-right"></span></a></p>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">2.転出：プラン変更（移行）するプランの内容を確認</h4>
        <p class="u-Adjust_Mt-24">お申し込み内容をご確認ください。</p>
        <p>チェック項目をご確認の上チェックし、「お申し込み」ボタンからお申し込みいただくと転出手続き完了です。契約解除料は発生しません。</p>
        <p class="u-Adjust_Mt-24">お客様ご自身でのMNP予約番号の発行（MNP転出手続き）は不要です。</p>
        <p>ドコモ回線・au回線の解約手続きは自動で行われます。</p>
        <p>転入手続きを完了するまでは、楽天モバイル（ドコモ回線・au回線）のSIMをご利用いただけます。</p>
        <p class="u-Adjust_Mt-16 c-Txt_Emp-02 c-Txt_Normal-s">※製品・SIMが届き、転入手続きが完了すると、お使いの楽天モバイル（ドコモ回線・au回線）のSIMはご利用できなくなりますので、ご注意ください。</p>
        <p class="c-Txt_Normal-s">転入手続きの完了目安は、<a href="#migration_08">こちら</a>をご確認ください。</p>
        <p class="c-Txt_Emp-02 c-Txt_Normal-s">※ショップでお手続きをする場合は、手順が異なります。</p>
        <p class="c-Txt_Normal-s">詳しくは<a href="<%= sitepath %>guide/migration/?tab-list=tab-menu4#migration-flow">プラン変更手続きの流れ（ショップでお申し込み）</a>をご覧ください。</p>

        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/migration/main-image-03.png?20220906" width="300" height="47" alt="" class="c-Img_Capture"></figure>
        <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>faq/detail/00001536/?l-id=guide_mnp_migration_faq_00001536" class="c-Link_Txt-inline">楽天モバイル（ドコモ回線・au回線）からRakuten最強プランへの変更（移行）についてよくあるお問い合わせ<span class="c-Icon_Chevron-right"></span></a></p>
        <p class="u-Adjust_Mt-24">引き続き、Rakuten最強プランお申し込み画面にお進みいただき、必要情報のご入力をお願いします。</p>
        <div class="c-Theme-Light u-Adjust_Mt-16">
          <p class="u-Adjust_Mt-8 c-Txt_Emp-02">必ず、楽天回線対応製品をご準備・ご購入ください。それ以外の製品は、動作保証対象外となります。</p>
          <div class="u-Adjust_Mt-16">
            <p>楽天回線対応製品は、回線のお申し込み時にご購入いただけます。</p>
            <div class="u-Adjust_Mt-16"><a href="<%= sitepath %>product/?l-id=guide_mnp_migration_product" class="c-Btn_Regular"><span></span>楽天モバイルで購入できる楽天回線対応製品を確認する</a></div>
          </div>
          <div class="u-Adjust_Mt-32">
            <p>お持ちの製品をご利用する場合、楽天回線対応製品であるかを事前にご確認ください。</p>
            <div class="u-Adjust_Mt-16"><a href="<%= sitepath %>product/certified-products/?l-id=guide_mnp_migration_product_certified-products" class="c-Btn_Regular"><span></span>対応製品一覧を確認する</a></div>
          </div>
        </div>
      </li>
    </ol>

    <h2 class="c-Heading_Lv3 u-Adjust_Mt-40" id="migration_02">Rakuten最強プランお申し込み画面でのお手続き</h2>
    <p class="u-Adjust_Mt-24">メンバーズステーションでのプラン変更（移行）手続き後、Rakuten最強プランのお申し込み画面にお進みいただけます。 楽天回線対応製品のご購入や、便利なオプションサービスも追加いただけます。</p>
    <p class="u-Adjust_Mt-24">画面の案内に従って、お申し込み手続きを行ってください。</p>

      <div class="c-Theme-Borderbox u-Adjust_Mt-8">
        <h4 class="c-Heading_Lv4">お申し込み後の配送について</h4>
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>お申し込み後、約2～3日でご購入の製品とSIMカードをお受け取りいただけます。 本人確認の審査、配送状況は「my 楽天モバイル」でご確認いただけます。 </li>
          <li>お受け取り後、<a href="#migration_03">スタートガイド</a>に従ってSIMカードの初期設定（アクティベーション）を行ってください。</li>
        </ul>
        <p class="u-Adjust_Mt-8 c-Txt_Cap"><span>※</span>お手持ちのスマートフォンやタブレット、パソコンから「my 楽天モバイル」にアクセスいただきます</p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap"><span>※</span>楽天モバイルで新しくご利用いただく製品（SIM）以外で、アクセスしてください</p>
        <div class="u-Adjust_Mt-16"><a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile/?l-id=guide_mnp_migration_my-rakuten-mobile" class="c-Btn_Regular"><span>my 楽天モバイルを見る</span></a></div>
      </div>

  <h2 class="c-Heading_Lv3 u-Adjust_Mt-56" id="migration_03">製品・SIMが届いたら</h2>

  <p class="u-Adjust_Mt-24">お申し込み内容・製品ごとに初期設定の方法が異なります。</p>

  <p class="u-Adjust_Mt-16"><a href="#migration_05" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>eSIM対応製品をご購入の場合</a></p>
  <p class="u-Adjust_Mt-16"><a href="#migration_06" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>製品＋SIMカードをご購入の場合</a></p>
  <p class="u-Adjust_Mt-16"><a href="#migration_07" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>SIMカードのみでご契約の場合</a></p>


  <div class="c-Theme-Borderbox u-Adjust_Mt-40">
    <h3 class="c-Heading_Lv4" id="migration_08">転入受付時間によって転入手続き完了時間が異なります</h3>
    <p class="c-Txt_Emp-02 c-Txt_Normal-s">※転入手続きが完了すると、お使いの楽天モバイル（ドコモ回線・au回線）のSIMはご利用できなくなりますので、ご注意ください。</p>
      <div class="c-Theme-Light u-Adjust_Mt-16">
        <p class="c-Txt_Emp-02">受付時間9:00～21:00の場合</p>
        <p class="u-Adjust_Mt-8">当日中にMNP転入完了</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※当日中にMNP転入完了</p>
        <p class="u-Adjust_Mt-24 c-Txt_Emp-02">受付時間21:01～翌日8:59の場合</p>
        <p class="u-Adjust_Mt-8">翌日9:00以降MNP転入完了</p>
      </div>
    </div>

  <div class="u-Adjust_Mt-40"><h3 class="c-Heading_Lv3" id="migration_05">eSIM対応製品をご購入の場合</h3>
    <p class="u-Adjust_Mt-8">各製品の初期設定方法はこちらをご覧ください。</p>
    <div class="u-Adjust_Mt-16"><a href="<%= sitepath %>product/sim/esim/#product-rakuten-esim" class="c-Btn_Regular"><span>各eSIM対応製品の初期設定方法を見る</span></a></div>
  </div>

  <div class="u-Adjust_Mt-40"><h3 class="c-Heading_Lv3" id="migration_06">製品＋SIMカードをご購入のお客様</h3>
    <p class="u-Adjust_Mt-8">各製品の初期設定方法はこちらをご覧ください。</p>
    <div class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/setting/?l-id=guide_mnp_migration_guide_setting" class="c-Btn_Regular"><span>各製品（製品＋SIMカード）の初期設定方法を見る</span></a></div>
  </div>


<h3 class="c-Heading_Lv3 u-Adjust_Mt-40" id="migration_07">SIMカードのみご購入のお客様</h3>
    <p class="u-Adjust_Mt-24">楽天モバイル（ドコモ回線・au回線）でご購入された楽天回線対応製品をご利用の方は初期設定が必要です。<br>各製品ごとの初期設定ページをご確認ください。</p>

    <ul class="c-Theme-Light u-Adjust_Mt-24 <%= nameSpace %>-Layout_3Column">
      <li><p><a href="<%= sitepath %>guide/setting/aquos-shm10/" class="c-Link_Txt-inline u-Adjust_Mt-8">AQUOS zero SH-M10<span class="c-Icon_Chevron-right"></span></a></p></li>
      <li><p><a href="<%= sitepath %>guide/setting/aquos-r2-compact/" class="c-Link_Txt-inline u-Adjust_Mt-8">AQUOS R2 compact SH-M09<span class="c-Icon_Chevron-right"></span></a></p></li>
      <li><p><a href="<%= sitepath %>guide/setting/aquos-sense2/" class="c-Link_Txt-inline u-Adjust_Mt-8">AQUOS sense2 SH-M08<span class="c-Icon_Chevron-right"></span></a></p></li>
      <li><p><a href="<%= sitepath %>guide/setting/aquos-shm07/" class="c-Link_Txt-inline u-Adjust_Mt-8">AQUOS sense plus SH-M07<span class="c-Icon_Chevron-right"></span></a></p></li>
      <li><p><a href="<%= sitepath %>guide/setting/aquos-shm06/" class="c-Link_Txt-inline u-Adjust_Mt-8">AQUOS R compact SH-M06<span class="c-Icon_Chevron-right"></span></a></p></li>
      <li><p><a href="<%= sitepath %>guide/setting/aquos-shm05/" class="c-Link_Txt-inline u-Adjust_Mt-8">AQUOS sense lite SH-M05<span class="c-Icon_Chevron-right"></span></a></p></li>
      <li><p><a href="<%= sitepath %>guide/setting/reno-10x-zoom/" class="c-Link_Txt-inline u-Adjust_Mt-8">Reno 10x Zoom<span class="c-Icon_Chevron-right"></span></a></p></li>
      <li><p><a href="<%= sitepath %>guide/setting/ax7/" class="c-Link_Txt-inline u-Adjust_Mt-8">AX7<span class="c-Icon_Chevron-right"></span></a></p></li>
      <li><p><a href="<%= sitepath %>guide/setting/r17pro/" class="c-Link_Txt-inline u-Adjust_Mt-8">R17 Pro<span class="c-Icon_Chevron-right"></span></a></p></li>
      <li><p><a href="<%= sitepath %>guide/setting/findx/" class="c-Link_Txt-inline u-Adjust_Mt-8">Find X<span class="c-Icon_Chevron-right"></span></a></p></li>
      <li><p><a href="<%= sitepath %>guide/setting/p30lite/" class="c-Link_Txt-inline u-Adjust_Mt-8">HUAWEI P30 lite<span class="c-Icon_Chevron-right"></span></a></p></li>
      <li><p><a href="<%= sitepath %>guide/setting/novalite3/" class="c-Link_Txt-inline u-Adjust_Mt-8">HUAWEI nova lite 3<span class="c-Icon_Chevron-right"></span></a></p></li>
    </ul>


    <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">アプリのインストール</h3>
    <p class="u-Adjust_Mt-16">楽天モバイルを便利にご利用いただくためのアプリをインストールしてください。</p>
    <div class="c-Theme-Light u-Adjust_Mt-16">
      <div class="c-Box_App">
        <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt="my 楽天モバイル"></div>
        <div class="c-Box_App-txt">
          <p class="c-Box_App-ttl">my 楽天モバイル</p>
          <p class="u-Adjust_Mt-8">アプリからのチャット相談なら、プッシュ通知で返信を見逃さない。 履歴が残るのでメモも不要。</p>
          <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">my楽天モバイルの詳細を見る</a></p>
        </div>
      </div>
    </div>
    <div class="c-Theme-Light u-Adjust_Mt-16">
      <div class="c-Box_App">
        <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rakuten-link.png" width="96px" alt="Rakuten Link"></div>
        <div class="c-Box_App-txt">
          <p class="c-Box_App-ttl">スーパーコミュニケーションアプリ「Rakuten Link」</p>
          <p class="u-Adjust_Mt-8">通話、メッセージ、SMSが無料でつかえる。</p>
          <p class="u-Adjust_Mt-16 c-Txt_Cap">※国内への通話および国内と海外の対象国と地域へのSMSが無料</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※他社接続サービス、一部特番は対象外</p>
          <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>service/rakuten-link/" class="c-Btn_Regular">Rakuten Linkの詳細を見る</a></p>
        </div>
      </div>
    </div>


    <h2 class="c-Heading_Lv3 u-Adjust_Mt-40">SIMカードをスマートフォンにセットしても開通しない場合</h2>
    <p class="u-Adjust_Mt-24">楽天モバイルで購入された製品は、自動的にインターネット通信接続が完了しますので、お客様にAPN設定を行っていただく必要はございません。<br>自動で設定されない場合はこちらからご確認ください。</p>
    <div class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/sim-setting-ng/" class="c-Btn_Regular"><span>SIMカードをセットしても<br class="guide-Utility_Show-sp">開通しない場合</span></a></div>

    <%- include('/include/guide/_faq') %>

    <div class="u-Adjust_Pt-64 u-Adjust_Pb-56">
      <div><a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップにもどる</span></a></div>
      <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a></div>
    </div>
    <%- include('/include/_related-media.ejs', { articles: [
      {
        title :"SIMフリーとは？メリットやデメリットなどを詳しく解説",
        link :"https://network.mobile.rakuten.co.jp/sumakatsu/contents/articles/2020/00001/?l-id=guide_mnp_migration_media_00001"
      },
      {
        title :"SIMロック解除とは？メリットや注意点などを詳しく解説",
        link :"https://network.mobile.rakuten.co.jp/sumakatsu/contents/articles/2020/00003/?l-id=guide_mnp_migration_media_00003"
      },
      {
        title :"携帯電話会社を乗り換える方法とは？手順を解説",
        link :"https://network.mobile.rakuten.co.jp/sumakatsu/contents/articles/2020/00005/?l-id=guide_mnp_migration_media_00005"
      },
      {
        title :"MNP（携帯電話番号ポータビリティ）予約番号とは？ 事前に知っておきたい知識と取得のために必要な手続き",
        link :"https://network.mobile.rakuten.co.jp/sumakatsu/contents/articles/2020/00006/?l-id=guide_mnp_migration_media_00006"
      },
      {
        title :"SIMカードの入れ替え方法について解説！ 事前に必要な準備や注意点とは？",
        link :"https://network.mobile.rakuten.co.jp/sumakatsu/contents/articles/2020/00011/?l-id=guide_mnp_migration_media_00011"
      }
    ] }) %>
  </div>
</div>




<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-service-v2.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%#- include('/faq/include/related-service.ejs') %>

  </div>
  <%- include('/include/guide/_inquiry') %>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>



</body>
</html>
