<% const pagetitle = "Rakuten WiFi Pocket 2Cが楽天モバイルお申し込みで1円" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "hand-5g-wifi-pocket-1yen" -%>
<%-
 include('/_header', {
    pagetitle,
    directories,
    description: '楽天モバイルへお申し込みでRakuten WiFi Pocket 2Cが1円で購入できるお得なキャンペーンのご案内です。',
    noindex: false,
    pathname: filepath,
    ogp_img: 'https://network.mobile.rakuten.co.jp/assets/img/campaign/hand-5g-wifi-pocket-1yen/ogp-20231124.png',
  });
%>
<%- include('/include/_common-css-v2') %>
<%- include('/inc/_about-rakuten-mobile-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/hand-5g-wifi-pocket-1yen/hand-5g-wifi-pocket-1yen.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
  <%- include('/include/_prepend-body') %>

  <div class="l-System">

    <%- include('/include/_header') %>

    <%- include('/include/_breadcrumbs', {
      type: 'head',
      pagetitle,
      directories,
    }) %>

    <section>
      <div class="<%= namespace %>-Hero">
        <div class="<%= namespace %>-Hero_Container">
          <div class="<%= namespace %>-Hero_Main">
            <h1>
              <picture>
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/kv-sp-20231124.png" class="u-Show_Sp" width="750" height="500" alt="Rakuten WiFi Pocket 2Cが楽天モバイルお申し込みで1円">
              </picture>
            </h1>
          </div>
        </div>
      </div>
      <div class="l-System_Container u-Adjust_Mt-8">
        <ul>
          <li class="c-Txt_Cap">※ おひとり様につき、1点までの適用となります。</li>
          <li class="c-Txt_Cap">※ 本ページにおいて、楽天モバイルとは「Rakuten最強プラン」を指します。</li>
          <li class="c-Txt_Cap c-Txt_Emp-02">※ 「Rakuten最強プラン（データタイプ）」は対象外です。</li>
          <li class="c-Txt_Cap c-Txt_Emp-02">※ 不正利用、不正転売などの目的で本キャンペーンを適用、又はそのおそれがあると当社がみなした場合はお申し込みをキャンセルさせていただきます。</li>
          <li class="c-Txt_Cap c-Txt_Emp-02">※ 2023年11月24日（金）9:00にキャンペーン名を「Rakuten Hand 5G/Rakuten WiFi Pocket 1円キャンペーン」から「Rakutenオリジナル製品 1円キャンペーン」に変更しました。</li>
          <li class="c-Txt_Cap c-Txt_Emp-02">※ 2023年11月24日（金）9:00に「Rakutenオリジナル製品 1円キャンペーン」からRakuten Hand 5Gはキャンペーン対象外になりました。</li>
        </ul>
        <div class="u-Adjust_Align-center u-Adjust_Mt-32">
          <div>
            <p class="u-Adjust_Align-center c-Txt_Emp-01">【キャンペーン期間】</p>
            <p>Web：2023年4月14日（金）09:00～終了日時未定 / ショップ：2023年4月14日（金）開店～終了日時未定</p>
          </div>
          <div class="u-Adjust_Mt-16">
            <p class="u-Adjust_Align-center c-Txt_Emp-02">【キャンペーン達成条件】</p>
            <p class="<%= namespace %>-Component_Txt-normal-primary">プランのお申し込み＆Rakuten WiFi Pocket 2Cを購入</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※ おひとり様につき、1点までの適用となります。詳細は<a href="#campaign-rule1875" class="js-scroll" data-ratid="campaign_hand-5g-wifi-pocket-1yen_rule-1875" data-ratevent="click">キャンペーンルール</a>をご確認ください。</p>
          </div>
        </div>
        <ul class="c-Link_List-horizontal-simple u-Adjust_Pt-32 u-Adjust_Pb-16 <%= namespace %>-Component_Flex-center">
          <li><a href="#product" class="c-Link_Txt-icon-front js-scroll" data-ratid="campaign_<%= namespace %>_product" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>Rakuten WiFi Pocket 2C</a></li>
          <li><a href="#plan" class="c-Link_Txt-icon-front js-scroll" data-ratid="campaign_<%= namespace %>_plan" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>Rakuten最強プラン</a></li>
          <li><a href="#campaign-flow" class="c-Link_Txt-icon-front js-scroll" data-ratid="campaign_<%= namespace %>_point-acquisition-flow" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>キャンペーンの流れ</a></li>
          <li><a href="#campaign-rule1875" class="c-Link_Txt-icon-front js-scroll" data-ratid="campaign_<%= namespace %>_rule-1875" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルール</a></li>
        </ul>
      </div>
    </section>

    <section class="c-Theme-Light <%= namespace %>-Component_Theme">
      <div class="l-System_Container">
        <div class="u-Adjust_Mt-24">
          <div class="c-Theme-White hand-5g-wifi-pocket-1yen-Component_Adjust-mt-24-16">
            <div id="product" class="<%= namespace %>-Product_Product u-Adjust_Mt-24">
              <div class="<%= namespace %>-Product_Detail">
                <div class="<%= namespace %>-Product_Detail-wrap">
                  <div class="<%= namespace %>-Product_Detail-left">
                    <picture>
                      <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-product-thum2.png" width="284" height="159">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-product-thum2.png" width="344" height="194" alt="Rakuten WiFi Pocket 2C">
                    </picture>
                  </div>
                  <div class="<%= namespace %>-Product_Detail-right">
                    <div>
                      <p class="<%= namespace %>-Product_Detail-title">Rakuten WiFi Pocket 2C</p>
                      <p class="<%= namespace %>-Product_Detail-price">本体単体価格<span>7,980</span>円（税込）</p>
                    </div>
                    <div class="c-Theme-Emphasis1 u-Adjust_Mt-16">
                      <ul class="<%= namespace %>-Product_Detail-list">
                        <li>QRコードでスマートフォンと<span class="c-Txt_Emp-02">簡単接続</span></li>
                        <li>16台まで<span class="c-Txt_Emp-02">同時接続可能</span></li>
                        <li>スタイリッシュで携帯しやすい<span class="c-Txt_Emp-02">デザイン</span></li>
                        <li>契約事務手数料/契約解除料<span class="c-Txt_Emp-02">0円</span></li>
                      </ul>
                    </div>
                    <div class="u-Adjust_Mt-16">
                      <picture>
                        <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-product-sale-price-sp-231124.png" width="622" height="334">
                        <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-product-sale-price-pc-231124.png" width="568" height="77" alt="製品購入と同時に楽天モバイルへ申し込むとプランセット値引き適用で1円">
                      </picture>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-Adjust_Mt-32">
                <p class="c-Txt_Emp-01 u-Adjust_Align-center">【ご購入前にご確認ください】</p>
                <ul class="u-Adjust_Mt-16 c-List_Text-disc">
                  <li class="c-Txt_Emp-02">製品とプランをセットでご購入ください。</li>
                  <li class="c-Txt_Emp-02">おひとり様につき、1点までの適用となります。</li>
                  <li><span class="c-Txt_Emp-02">充電器は別売りとなっております。</span>「購入する」ボタンを押下後、製品をカートに追加する際に、必要なアクセサリも同時にご購入ください。</li>
                </ul>
                <div class="u-Adjust_Mt-16 u-Adjust_Mb-16 u-Adjust_Align-center">
                  <a href="https://onboarding.mobile.rakuten.co.jp/equipment-details?exid=600328&selectAvailable=true" class="c-Btn_Primary" data-ratid="campaign_hand-5g-wifi-pocket-1yen_wifi_order-button-1_bss" data-ratevent="click">Rakuten WiFi Pocket 2Cを購入する</a>
                </div>
                <p class="u-Align_Llc">
                  <a href="<%= sitepath %>product/internet/rakuten-wifi-pocket-2c/?l-id=campaign_hand-5g-wifi-pocket-1yen_product_internet_rakuten-wifi-pocket-2c_1" class="c-Link_Txt-inline">Rakuten WiFi Pocket 2Cの詳細を見る<span class="c-Icon_Chevron-right"></span></a>
                </p>
                <p class="u-Adjust_Mt-16 u-Align_Llc">
                  <a href="<%= sitepath %>product/accessory/owltech-apd20c1a1bk/?l-id=campaign_hand-5g-wifi-pocket-1yen_owltech-apd20c1a1bk_2" class="c-Link_Txt-inline">充電器「OwltechAC充電器（20W）」の詳細を見る<span class="c-Icon_Chevron-right"></span></a>
                </p>
              </div>
            </div>
            <p class="c-Txt_Cap u-Adjust_Mt-24">※1 別途プラン料金がかかります。</p>
          </div>
        </div>
      </div>
    </section>

    <section class="c-Theme-Light <%= namespace %>-Component_Theme">
      <div class="l-System_Container">
        <h2 id="plan" class="c-Heading_Lv2 u-Adjust_Align-center" data-ratid="campaign_hand-5g-wifi-pocket-1yen_scroll-02_plan" data-ratevent="appear">Rakuten最強プラン</h2>
        <div class="u-Adjust_Mt-16">
          <%- include('/inc/_saikyo') %>
        </div>
        <div class="u-Adjust_Mt-40 u-Adjust_Mb-32 u-Adjust_Align-center">
          <a href="https://onboarding.mobile.rakuten.co.jp/equipment-details?exid=600328&selectAvailable=true" class="c-Btn_Primary-large" data-ratid="campaign_hand-5g-wifi-pocket-1yen_wifi_order-button-2_bss" data-ratevent="click">Rakuten WiFi Pocket 2Cを購入する</a>
          <p class="u-Adjust_Mt-16 u-Align_Llc c-Txt_Emp-02">
            ※ 製品とプランをセットでご購入ください。<br>
            ※ おひとり様につき、1点までの適用となります。
          </p>
        </div>
      </div>
    </section>

    <section class="u-Adjust_Mt-64">
      <div class="l-System_Container">
        <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
          <a href="<%= sitepath %>campaign/start-point/?l-id=campaign_hand-5g-wifi-pocket-1yen_campaign_start-point" class="c-Banner_Hover-act">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-start-point-504-158-240522.png" width="504" height="158">
              <img src="<%= sitepath %>assets/img/bnr/bnr-start-point-1032-160-240522.png" alt="楽天モバイルへ初めてお申し込み＋他社から電話番号そのまま乗り換え＋対象製品ご購入で最大12,000ポイント還元！他社から乗り換え以外の方でも最大8,000ポイント還元中！" width="1032" height="160" loading="lazy">
            </picture>
          </a>
        </div>
      </div>
    </section>

    <section id="campaign-flow" class="u-Adjust_Mt-64">
      <div class="l-System_Container">
        <h2 id="" class="c-Heading_Lv3 u-Adjust_Align-center" data-ratid="campaign_<%= namespace %>_scroll-03_flow" data-ratevent="appear">キャンペーンの流れ</h2>
        <div class="c-Tab js-Tab u-Adjust_Mt-24">
            <ul class="c-Tab_Items" role="tablist">
              <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1" data-ratid="campaign_<%= namespace %>_index-web" data-ratevent="click">Webで購入</li>
              <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2" data-ratid="campaign_<%= namespace %>_index-shop" data-ratevent="click">ショップで購入</li>
            </ul>
            <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
              <ul class="c-Flow">
                <li>
                  <h3 class="c-Heading_Lv4 u-Adjust_Mb-16">お申し込み・お支払いに必要なものを準備する</h3>
                  <div class="l-Media_Grid">
                    <div class="l-Media_Image">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-1.png" alt="お申し込み・お支払いに必要なものを準備する">
                    </div>
                    <div>
                      <div class="u-Adjust_Mt-16">
                        <ul class="c-List_Text-disc">
                          <li><a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                        </ul>
                        <ul class="u-Adjust_Mt-16 c-List_Text-disc">
                          <li>楽天会員ログイン用のユーザID、パスワード</li>
                        </ul>
                        <p class="c-Txt_Emp-02 c-Txt_Normal-s u-Adjust_Mt-8">※本人確認書類の情報と、楽天会員情報が一致している必要があります。</p>
                        <p class="u-Adjust_Mt-8"><a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Link_Txt-inline u-Adjust_Mt-8">楽天会員情報を確認・変更する<span class="c-Icon_Chevron-right"></span></a></p>
                        <ul class="u-Adjust_Mt-16 c-List_Text-disc">
                          <li><a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                          </li>
                        </ul>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="<%= sitepath %>faq/detail/00001238/">こちらのご案内ページ</a>を必ず事前にご確認ください。</p>
                      </div>
                      <ul class="c-Txt_Cap u-Adjust_Mt-8">
                        <li><span>※</span>MNPワンストップ未対応の携帯電話会社から乗り換えの方は、MNP予約番号の取得が必要です。MNPワンストップ対象の携帯電話会社は<a href="<%= sitepath %>guide/mnp/#career">こちら</a>からご確認ください。</li>
                        <li><span>※</span>ショップでのお手続きは、ワンストップ対象の他社からの転入であっても、MNP予約番号を取得のうえ、ご来店ください。</li>
                        <li><span>※</span>未成年の方のお申し込み方法は<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_hand-5g-wifi-pocket-1yen_flow_for-minors">こちら</a>をご確認ください</li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li>
                  <h3 class="c-Heading_Lv4 u-Adjust_Mb-16">Webで楽天モバイルをお申し込み、製品を購入する</h3>
                  <div class="l-Media_Grid">
                    <div class="l-Media_Image u-Adjust_Px-16">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-product-thum2.png" alt="">
                    </div>
                    <div>
                      <p>
                        「Rakuten WiFi Pocket 2Cを購入する」ボタンを押下後、ご希望のカラーと<span class="c-Txt_Emp-02">プラン（Rakuten最強プラン）をカートに追加</span>し、<a href="<%= sitepath %>guide/flow/application/?l-id=campaign_<%= namespace %>_guide_flow_application">手順</a>に従ってお申し込みを完了させてください。<br>
                        <span class="c-Txt_Emp-02">製品とプラン（Rakuten最強プラン）がカートに追加されるとキャンペーン値引きが適用されます。</span>
                      </p>
                      <p class="c-Txt_Cap u-Adjust_Mt-16">※おひとり様につき、1点までの適用となります。</p>
                      <p class="u-Adjust_Mt-8 <%= namespace %>-Component_Color-black">【お申し込み期間】Web：2023年4月14日（金）09:00～終了日時未定</p>
                      <div class="u-Adjust_Mt-16">
                        <a href="https://onboarding.mobile.rakuten.co.jp/equipment-details?exid=600328&selectAvailable=true" class="c-Btn_Primary" data-ratid="campaign_hand-5g-wifi-pocket-1yen_wifi_order-button-3_bss" data-ratevent="click">Rakuten WiFi Pocket 2Cを購入する</a>
                      </div>
                      <div class="u-Adjust_Mt-8">
                        <p><a href="<%= sitepath %>product/internet/rakuten-wifi-pocket-2c/?l-id=campaign_<%= namespace %>_product_internet_rakuten-wifi-pocket-2c_2" class="c-Link_Txt-inline">Rakuten WiFi Pocket 2Cの詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
                        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>fee/saikyo-plan/?l-id=campaign_hand-5g-wifi-pocket-1yen_fee_saikyo-plan_2" class="c-Link_Txt-inline">Rakuten最強プランの詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <h3 class="c-Heading_Lv4">お申し込み完了</h3>
                  <div class="l-Media_Grid u-Adjust_Mt-16">
                    <div class="l-Media_Image">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-3.png" alt="お申し込み完了">
                    </div>
                    <div>
                      <p class="u-Adjust_Mt-8">本人確認の審査が完了次第、製品を発送させていただきます。本人確認の審査状況、発送状況は「my 楽天モバイル」でご確認いただけます。</p>
                      <div class="u-Adjust_Mt-32">
                        <a href="<%= sitepath %>my-rakuten-mobile" class="c-Btn_Regular"><span>my 楽天モバイル</span></a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
              <ul class="c-Flow">
                <li>
                  <h3 class="c-Heading_Lv4 u-Adjust_Mb-16">お申し込み・お支払いに必要なものを準備する</h3>
                  <div class="l-Media_Grid">
                    <div class="l-Media_Image">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-1.png" alt="お申し込み・お支払いに必要なものを準備する">
                    </div>
                    <div>
                      <div class="u-Adjust_Mt-16">
                        <ul class="c-List_Text-disc">
                          <li><a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                        </ul>
                        <ul class="u-Adjust_Mt-16 c-List_Text-disc">
                          <li>楽天会員ログイン用のユーザID、パスワード</li>
                        </ul>
                        <p class="c-Txt_Emp-02 c-Txt_Normal-s u-Adjust_Mt-8">※本人確認書類の情報と、楽天会員情報が一致している必要があります。</p>
                        <p class="u-Adjust_Mt-8"><a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Link_Txt-inline u-Adjust_Mt-8">楽天会員情報を確認・変更する<span class="c-Icon_Chevron-right"></span></a></p>
                        <ul class="u-Adjust_Mt-16 c-List_Text-disc">
                          <li><a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                          </li>
                        </ul>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="<%= sitepath %>faq/detail/00001238/">こちらのご案内ページ</a>を必ず事前にご確認ください。</p>
                        <ul class="u-Adjust_Mt-16 c-List_Text-disc">
                          <li><a href="<%= sitepath %>guide/mnp/" class="c-Link_Txt-inline">ご契約者名義のMNP予約番号（他社から乗り換えの場合）<span class="c-Icon_Chevron-right"></span></a></li>
                        </ul>
                      </div>
                      <ul class="c-Txt_Cap u-Adjust_Mt-8">
                        <li><span>※</span>ショップでのお手続きは、ワンストップ対象の他社からの転入であっても、MNP予約番号を取得のうえ、ご来店ください。</li>
                        <li><span>※</span>未成年の方のお申し込み方法は<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_hand-5g-wifi-pocket-1yen_flow_for-minors">こちら</a>をご確認ください</li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li>
                  <h3 class="c-Heading_Lv4">ショップで楽天モバイルのお申し込みと製品を購入する</h3>
                  <div class="l-Media_Grid u-Adjust_Mt-16">
                    <div class="l-Media_Image">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-5.png" alt="ショップで楽天モバイルのお申し込みと製品を購入する">
                    </div>
                    <div>
                      <p>
                        楽天モバイルショップにて、楽天モバイルのお申し込みとRakuten WiFi Pocket 2Cの購入手続きを行ってください。
                      </p>
                      <p class="u-Adjust_Mt-24">
                        【お申し込み期間】店舗（楽天モバイルショップ）：2023年4月14日（金）開店～終了日時未定
                      </p>
                      <div class="u-Adjust_Mt-16">
                        <a href="<%= sitepath %>shop/?l-id=campaign_<%= namespace %>_shop" class="c-Btn_Primary"><span>お近くのショップを探す</span></a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
        </div>
      </div>
    </section>

    <div class="l-System_Container u-Adjust_Mt-64 c-Banner_Hover-act">
      <a href="<%= sitepath %>internet/turbo/campaign/six-month-free/?l-id=campaign_hand-5g-wifi-pocket-1yen_internet_turbo_campaign_six-month-free" target="_blank" rel="noopener">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-turbo-328-185-240221.png">
          <img src="<%= sitepath %>assets/img/bnr/bnr-turbo-1032-160-240221.png" alt="Rakuten Turbo 工事不要！すぐに使えるおうちのWi-Fi プラン料金：6カ月0円 さらに、スマホとセットで使うと20,000ポイント還元！※製品代金 別途41,580円 ※プラン料金7カ月目以降4,840円 ※その他条件あり" width="1032" height="160" loading="lazy">
        </picture>
      </a>
    </div>

    <section class="u-Adjust_Mt-64">
      <div class="l-System_Container">
        <div>
          <h2 class="c-Heading_Lv2 <%= namespace %>-Heading_Lv2 u-Adjust_Align-center" data-ratid="campaign_<%= namespace %>_scroll-04_faq" data-ratevent="appear">よくあるご質問</h2>
          <div id="rat-faq-accordion">
            <div class="c-Accordion u-Adjust_Mt-24">
              <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1">
                <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                対象製品とRakuten最強プランを同日に購入した場合、キャンペーンは適用されますか
              </button>
              <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
                <div class="u-Adjust_Pl-16">
                  <p>Rakuten最強プランと対象製品を同時に購入すると値引きが適用されます。同日であっても、Rakuten最強プランと対象製品を別々に購入の場合、値引きは適用されませんので、ご注意ください。</p>
                </div>
              </div>
            </div>
            <div class="c-Accordion">
              <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2">
                <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                同時に複数製品を購入した場合、キャンペーンはどのように適用されますか
              </button>
              <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
                <div class="u-Adjust_Pl-16">
                  <p>同時に複数製品を購入することはできません。1回のお申込みにつき1つの製品までしか選択ができません。</p>
                </div>
              </div>
            </div>
            <div class="c-Accordion">
              <button id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3">
                <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                【Rakuten最強プランはじめてお申し込み特典】他社から乗り換えでポイントプレゼントキャンペーンは対象になりますか
              </button>
              <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
                <div class="u-Adjust_Pl-16">
                  <p>Rakutenオリジナル製品 1円キャンペーンが適用された場合、【Rakuten最強プランはじめてお申し込み特典】他社から乗り換えでポイントプレゼントキャンペーンは対象になりません。</p>
                </div>
              </div>
            </div>
            <div class="c-Accordion">
              <button id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4">
                <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                何回でもキャンペーンを利用できますか
              </button>
              <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
                <div class="u-Adjust_Pl-16">
                  <p>おひとり様につき、1点までの適用となります。</p>
                </div>
              </div>
            </div>
            <div class="c-Accordion">
              <button id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5">
                <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                他のキャンペーンと併用は可能ですか
              </button>
              <div id="accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-5" aria-hidden="true">
                <div class="u-Adjust_Pl-16">
                  <p>併用ができないキャンペーンは<a href="#campaign-rule" class="c-Link_Txt js-scroll">キャンペーンルール</a>の「併用不可キャンペーン」欄をご確認ください。</p>
                </div>
              </div>
            </div>
            <div class="c-Accordion">
              <button id="accordion-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-6">
                <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                キャンペーン適用条件を満たしているか確認できますか
              </button>
              <div id="accordion-content-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-6" aria-hidden="true">
                <div class="u-Adjust_Pl-16">
                  <p>Rakuten最強プランと一緒に対象製品を選択すると値引きされた金額が表示されます。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="u-Bg_Monotone97 u-Adjust_Py-48 u-Adjust_Mt-64">
      <%- include('/inc/_about-rakuten-mobile', { baseLId: 'campaign_hand-5g-wifi-pocket-1yen' }) %>
    </section>

    <section class="l-System_Container u-Adjust_Mt-64">
      <%- include('/include/_bnr-cpn-recommend-v2.ejs') %>
    </section>

    <section id="campaign-rule" class="u-Adjust_Mt-64">
      <div class="l-System_Container">
        <div class="u-Rat_Appear-height" data-ratid="campaign_<%= namespace %>_scroll-05_rule-1875" data-ratevent="appear">&nbsp;</div>
        <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1875', level: 'h2', year: '2023', class: 'u-Adjust_Mt-16' }}) %>
      </div>
    </section>

    <footer class="g-Footer">
      <div class="l-System_Container">
        <%- include('/include/_breadcrumbs', {
          type: 'foot',
          pagetitle,
          directories,
        }) %>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>

  <%- include('/include/_append-body') %>
</body>
</html>
