<% const pagetitle = "「Rakuten UN-LIMIT VII」への自動移行のお知らせ（7月1日より）" -%>
<% const namespace = "fee-un-limit-info" -%>
<% const directories = [{path:"fee/un-limit/", label:"Rakuten UN-LIMIT VII（料金プラン）"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '2022年7月1日（金）より、楽天モバイルは新料金プラン「Rakuten UN-LIMITVII」の提供を開始いたします。現在ご利用中のお客さまのプランは、7月1日（金）に自動的に「Rakuten UN-LIMIT VII」へ移行しました。',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/fee/un-limit/info_20220513/fee-un-limit-info.css?20240424">

<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="c-Attention_Info u-Adjust_Py-16">
  <div class="<%= namespace %>-Utility_Flex">
    <p class="u-Align_Ccl">本ページは以前の料金プラン「Rakuten UN-LIMIT」に関するお知らせです。<br>最新の料金プランの情報は以下よりご確認いただけます。</p>
  </div>
  <div class="<%= namespace %>-Utility_Flex">
    <div class="u-Adjust_Mt-8 u-Adjust_Align-center">
      <a href="<%= sitepath %>fee/saikyo-plan/?l-id=fee_un-limit_info_20220513_fee_saikyo-plan" class="c-Btn_Regular">料金プランの詳細を見る</a>
    </div>
  </div>
</div>

<div class="l-System_Container">
  <div class="u-Adjust_Pt-16 u-Adjust_Pb-72">

    <div class="<%= namespace %>-Utility_sp-center">
      <picture>
        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/fee/un-limit/info_20220513/fee-un-limit-info-eyecatching-0701-sp.png">
        <source srcset="<%= sitepath %>assets/img/fee/un-limit/info_20220513/fee-un-limit-info-eyecatching-0701-pc.png" width="847">
        <img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/fee-un-limit-info-eyecatching-0701-pc.png" width="847" alt="2022年6月30日（23:59）以前にRakuten UN-LIMITにお申し込みされたお客様へのご案内">
      </picture>
    </div>

    <h1 class="c-Heading_Lv1 u-Adjust_Mt-24">「Rakuten UN-LIMIT VII」への自動移行のお知らせ</h1>

    <p class="u-Adjust_Align-right u-Adjust_Mt-8">2022年05月13日</p>

    <p class="u-Adjust_Mt-24 c-Txt_Emp-02">
    現在ご利用中のお客さまのプランは、7月1日（金）に自動的に「Rakuten UN-LIMIT VII」へ移行しました
    </p>

    <p class="u-Adjust_Mt-24">
      2022年7月1日（金）より、楽天モバイルは、月額最大2,980円（税込3,278円）でデータ使い放題はそのまま、楽天グループの対象サービスを割引価格でご利用いただける新料金プラン「Rakuten UN-LIMIT VII」の提供を開始しました。
    </p>

    <p class="u-Adjust_Mt-16">
      <a href="<%= sitepath %>fee/un-limit/7/?l-id=fee_un-limit_info_20220513_fee_un-limit_7" class="c-Link_Txt-inline">「Rakuten UN-LIMIT VII」の詳細はこちらをご確認ください<span class="c-Icon_Chevron-right"></span></a>
    </p>

    <div class="<%= namespace %>-Utility_hr u-Adjust_Mt-48"></div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-48">「Rakuten UN-LIMIT VII」プラン料金</h2>

    <p class="u-Adjust_Mt-16">
      「Rakuten UN-LIMIT VII」では、月間データ利用量が3GB以下の場合は980円（税込1,078円）、3GBを超え20GB以下の場合は1,980円（税込2,178円）、20GBを超えた場合は、データ利用量の上限なく※1、2,980円（税込3,278円）でデータ使い放題がご利用いただけます。<br>
      また、引き続き国内のパートナー回線エリアは月間5GBまで、海外のパートナー回線エリアは月間2GBまで高速データ通信を利用でき、音声通話は楽天モバイルのコミュニケーションアプリ「Rakuten Link」を使用した場合、国内通話は無料となります※2。
    </p>

    <div class="u-Adjust_Mt-16">
      <picture>
        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/fee/un-limit/info_20220513/fee-un-limit-info-01-sp-230301.png">
        <source srcset="<%= sitepath %>assets/img/fee/un-limit/info_20220513/fee-un-limit-info-01-pc-230301.png">
        <img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/fee-un-limit-info-01-pc-230301.png" alt="Rakuten UN-LIMIT VII">
      </picture>
    </div>

    <p class="c-Txt_Cap u-Adjust_Mt-16">
      ※通話料等別 ※1 データ無制限は楽天基地局接続時。公平なサービス提供のため速度制御の場合あり<br>
      ※<a href="#notes" class="c-Link_Txt js-scroll">その他条件の詳細はこちら</a>
    </p>

    <div class="c-Theme-Borderbox u-Adjust_Mt-48">
      <h2 class="c-Heading_Lv2" id="free-call">
        <span class="c-Heading_Lv4">国内通話10分(標準）かけ放題が</span><br>
        「15分（標準）通話かけ放題」に！
      </h2>

      <p class="u-Adjust_Mt-16">「10分（標準）通話かけ放題」（月額税込1,100円）が、1回15分以内の国内通話がかけ放題となる<span class="c-Txt_Emp-01">「15分（標準）通話かけ放題」にアップグレード。</span></p>

      <div class="u-Adjust_Mt-16">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/fee/un-limit/info_20220513/fee-un-limit-info-03-sp-221101.png?220513">
          <source srcset="<%= sitepath %>assets/img/fee/un-limit/info_20220513/fee-un-limit-info-03-pc-221101.png">
          <img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/fee-un-limit-info-03-pc.png" alt="1回10分以内だった国内通話かけ放題がRakuten UN-LIMIT VIIなら15分に！※3 今まで通り、SMSは送り放題!※3" width="858">
        </picture>
      </div>
      <div class="<%= namespace %>-Layout_Call-btn u-Adjust_Mt-24">
        <a href="<%= sitepath %>service/standard-free-call/?l-id=un-limit_info-20220513_service_standard-free-call" class="c-Btn_Regular">詳細を見る</a>
      </div>

      <p class="c-Txt_Cap u-Adjust_Mt-16">
        ※3 一部対象外番号あり。SMSは一日の送付上限あり。 ※<a href="#notes" class="c-Link_Txt js-scroll">その他条件の詳細はこちら </a>
      </p>
    </div>

    <p class="u-Adjust_Mt-56">2022年5月13日（金）以降、初めて「10分（標準）通話かけ放題」に加入した場合は、2022年7月1日（金）に「15分（標準）通話かけ放題」へ自動移行され、月額料金が3カ月無料となります。</p>

    <p class="c-Txt_Emp-02 c-Txt_Cap u-Adjust_Mt-16">※2022年5月12日（木）以前に「10分（標準）通話かけ放題」をご利用いただいたことがある場合は、「15分（標準）通話かけ放題」の3カ月無料は対象外となります</p>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">
      <span class="c-Heading_Lv4">2022年5月12日（木）以前から</span><br>
      「10分（標準 ）かけ放題」をご利用中の場合
    </h3>

    <p class="u-Adjust_Mt-16">7月1日（金）に自動で「15分（標準）かけ放題」になります。「15分（標準）通話かけ放題」の3カ月無料はご利用いただけません。</p>

    <div class="u-Adjust_Mt-16">
      <picture>
        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/fee/un-limit/info_20220513/fee-un-limit-info-04-sp.png">
        <source srcset="<%= sitepath %>assets/img/fee/un-limit/info_20220513/fee-un-limit-info-04-pc.png">
        <img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/fee-un-limit-info-04-pc.png" alt="">
      </picture>
    </div>


    <h3 class="c-Heading_Lv3 u-Adjust_Mt-32">
      <span class="c-Heading_Lv4">2022年5月13日（金）以降、</span><br>
      初めて「10分（標準）通話かけ放題」をお申し込みの場合
    </h3>

    <p class="u-Adjust_Mt-16">7月1日（金）に自動で「15分（標準）かけ放題」になり、3カ月無料で「15分（標準）通話かけ放題」をご利用いただけます。</p>

    <div class="u-Adjust_Mt-16">
      <picture>
        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/fee/un-limit/info_20220513/fee-un-limit-info-05-sp.png">
        <source srcset="<%= sitepath %>assets/img/fee/un-limit/info_20220513/fee-un-limit-info-05-pc.png">
        <img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/fee-un-limit-info-05-pc.png" alt="">
      </picture>
    </div>

    <p class="u-Adjust_Mt-16">
      <a href="<%= sitepath %>service/10min-standard-free-call/?l-id=fee_un-limit_info_20220513_service_10min-standard-free-call" class="c-Link_Txt-inline">10分（標準）かけ放題の詳細を見る<span class="c-Icon_Chevron-right"></span></a>
    </p>


    <div class="<%= namespace %>-Utility_hr u-Adjust_Mt-48"></div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-48" id="rakuten-mail">
      楽メールがご利用いただけます
    </h2>

    <p class="u-Adjust_Mt-16">楽天モバイルのドメイン（@rakumail.jp）でメールサービスが無料でご利用いただけます。</p>

    <div class="c-Theme-Emphasis1 u-Adjust_Mt-16">
      <div class="u-Adjust_Align-center">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/fee/un-limit/info_20220513/mail-title-sp.png">
          <source srcset="<%= sitepath %>assets/img/fee/un-limit/info_20220513/mail-title-pc.png">
          <img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/mail-title-pc.png" width="927" alt="">
        </picture>
      </div>
      <div class="<%= namespace %>-Layout_Mail">
        <div class="">
          <img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/mail-illust.png" width="438" alt="">
        </div>
        <div class="">
          <div class="<%= namespace %>-Utility_View-pc">
            <img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/mail-exp-01-pc.png" width="236" alt="">
            <br>
            <img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/mail-exp-02-pc.png" class="u-Adjust_Mt-24" width="413" alt="">
          </div>
          <div class="<%= namespace %>-Utility_View-sp u-Adjust_Mt-16">
            <img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/mail-exp-sp.png" alt="">
          </div>
          <div class="u-Adjust_Mt-24">
            <a href="<%= sitepath %>service/rakumail/?l-id=un-limit_info_20220513_service_rakumail" class="c-Btn_Regular">詳細を見る</a>
          </div>
        </div>
      </div>
    </div>

    <p class="c-Txt_Cap u-Adjust_Mt-16">
      ※ 楽天モバイル（楽天回線）のご契約、初期設定、Rakuten Linkアプリが必要。データ利用量としてカウントされます<br>
      ※<a href="#notes" class="c-Link_Txt js-scroll">その他条件の詳細はこちら </a>
    </p>

    <div class="<%= namespace %>-Utility_hr u-Adjust_Mt-48"></div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-48" id="special-offer">
      「Rakuten UN-LIMIT VII」のキャンペーン＆特典
    </h2>

    <p class="u-Adjust_Mt-16">
      「Rakuten UN-LIMIT VII」提供開始記念の新キャンペーンをご利用いただけるほか、「楽天マガジン」や「楽天ミュージック」など楽天グループサービスが一定期間、実質無料、または割引価格でご利用いただけます。
    </p>

    <p class="u-Adjust_Mt-8">
      ※2023年9月1日(金)からSPU（スーパーポイントアッププログラム）は最大15.5倍に変更されます。<a href="https://event.rakuten.co.jp/campaign/point-up/everyday/point/" class="c-Link_Txt-inline">詳細はこちら</a>
    </p>

    <div class="u-Adjust_Mt-16 <%= namespace %>-Card_Img">
      <div class="u-Adjust_Align-center">
        <div class="l-Media_Image">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/fee/un-limit/info_20220513/ichiba_point_ttl_sp_221101.png">
            <img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/ichiba_point_ttl_pc_221101.png" alt="楽天ポイントをザクザク貯めたいそんなあなたに 楽天市場のお買い物が常時大幅アップで最大16倍！ ※4">
          </picture>
        </div>
      </div>

      <div class="<%= namespace %>-Ichiba-point_box box01">
        <img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/ichiba_point_ttl_02.png" alt="通常のお買い物で ポイント1倍">
      </div>
      <div class="<%= namespace %>-Ichiba-point_box box02 <%= namespace %>-Ichiba-point_box-mod-1">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/fee/un-limit/info_20220513/ichiba_point_spu_img_01-sp-230401.png">
          <img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/ichiba_point_spu_img_01-pc-221101.png" alt="楽天モバイルご利用でポイント最大＋3倍">
        </picture>
      </div>
      <div class="<%= namespace %>-Ichiba-point_box box02 <%= namespace %>-Ichiba-point_box-mod-2">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/fee/un-limit/info_20220513/ichiba_point_spu_img_01-sp-2-221101.png">
          <img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/ichiba_point_spu_img_01-pc-2-221101.png" alt="楽天モバイルキャリア決済のご利用でポイント＋0.5倍 ※6">
        </picture>
      </div>
      <div class="c-Theme-Emphasis1 <%= namespace %>-Layout_Spu-theme <%= namespace %>-Ichiba-point_box">
        <div class="u-Adjust_Align-center">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/fee/un-limit/info_20220513/spu-sec-sp.png">
            <source srcset="<%= sitepath %>assets/img/fee/un-limit/info_20220513/spu-sec-pc.png">
            <img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/spu-sec-pc.png" alt="楽天ポイントをザクザク貯めたい そんなあなたに（Rakuten UN-LIMIT VI をご利用中のお客様も対象）楽天市場のお買い物が常時ポイントUP!最大16倍!※5">
          </picture>
        </div>
        <div class="c-Accordion <%= namespace %>-Layout_Spu-theme-accordion u-Adjust_Mt-24">
          <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>対象サービスとポイント倍率</button>
          <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
            <div class="">
              <ul class="<%= namespace %>-Layout_Spu-card">
                <li><a href="https://network.mobile.rakuten.co.jp/hikari/campaign/spu/"><img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/card-hikari.png" width="168" alt=""></a></li>
                <li><a href="https://www.rakuten-card.co.jp/campaign/rakuten-card/point-up/" target="_blank" rel="noopener noreferrer"><img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/card-card-normal.png" width="168" alt=""></a></li>
                <li><a href="https://www.rakuten-card.co.jp/campaign/rakuten-card/point-up/" target="_blank" rel="noopener noreferrer"><img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/card-card-special.png" width="168" alt=""></a></li>
                <li><a href="https://www.rakuten-card.co.jp/campaign/premium_card/point-up/" target="_blank" rel="noopener noreferrer"><img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/card-card-premium.png" width="168" alt=""></a></li>
                <li><a href="https://www.rakuten-bank.co.jp/campaign/spu/" target="_blank" rel="noopener noreferrer"><img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/card-bank-card.png" width="168" alt=""></a></li>
                <li><a href="https://www.rakuten-sec.co.jp/web/campaign/spu/" target="_blank" rel="noopener noreferrer"><img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/card-sec.png" width="168" alt=""></a></li>
                <li><a href="https://www.rakuten-sec.co.jp/web/campaign/spu/" target="_blank" rel="noopener noreferrer"><img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/card-sec-us.png" width="168" alt=""></a></li>
                <li><a href="https://www.rakuten-wallet.co.jp/lp/spu/" target="_blank" rel="noopener noreferrer"><img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/card-wallet.png" width="168" alt=""></a></li>
                <li><a href="https://travel.rakuten.co.jp/camp/spu/" target="_blank" rel="noopener noreferrer"><img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/card-travel.png" width="168" alt=""></a></li>
                <li><a href="https://event.rakuten.co.jp/campaign/point-up/app/always/" target="_blank" rel="noopener noreferrer"><img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/card-ichiba.png" width="168" alt=""></a></li>
                <li><a href="https://books.rakuten.co.jp/event/campaign/pointup-program/" target="_blank" rel="noopener noreferrer"><img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/card-book.png" width="168" alt=""></a></li>
                <li><a href="https://books.rakuten.co.jp/event/e-book/spu/" target="_blank" rel="noopener noreferrer"><img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/card-kobo.png" width="168" alt=""></a></li>
                <li><a href="https://pasha.rakuten.co.jp/special/campaign/spu/" target="_blank" rel="noopener noreferrer"><img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/card-pasha.png" width="168" alt=""></a></li>
                <li><a href="https://brandavenue.rakuten.co.jp/guide/spu/" target="_blank" rel="noopener noreferrer"><img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/card-fashion.png" width="168" alt=""></a></li>
                <li><a href="https://beauty.rakuten.co.jp/cnt/topics/campaign/spu/" target="_blank" rel="noopener noreferrer"><img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/card-beauty.png" width="168" alt=""></a></li>
              </ul>

            </div>
          </div>
        </div>
        <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
          <a href="<%= sitepath %>campaign/spu/" class="c-Btn_Regular">SPUの詳細を見る</a>
        </div>
      </div>
      <div class="<%= namespace %>-Utility_View-pc u-Adjust_Align-center u-Adjust_Mt-24">
        <img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/point-16-times-pc-221101.png" width="521" alt="楽天市場のお買い物が合計最大16倍※4">
      </div>
      <div class="<%= namespace %>-Utility_View-sp u-Adjust_Align-center u-Adjust_Mt-16">
        <img src="<%= sitepath %>assets/img/fee/un-limit/info_20220513/point-16-times-sp-221101.png" alt="楽天市場のお買い物が合計最大16倍※4">
      </div>
      <p class="c-Txt_Cap u-Adjust_Mt-16">
        ※4 達成条件（会員ランク含む）・獲得ポイント上限あり。詳細は<a href="<%= sitepath %>campaign/spu/" class="c-Link_Txt">こちら</a> ※5 プラチナ・ゴールド・シルバー・レギュラー会員 ※6 楽天モバイルキャリア決済（Androidのみ）を月間合計2,000円（税込）以上ご利用の場合に適用。月間上限5,000ポイント<br>
        ※<a href="#notes" class="c-Link_Txt js-scroll">その他条件の詳細はこちら</a>
      </p>
    </div>


    <div class="u-Adjust_Mt-24 <%= namespace %>-Layout_Benefit">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/un-limit/img-benefits-04-sp-230510.png" width="697" height="2227">
        <img src="<%= sitepath %>assets/img/fee/un-limit/img-benefits-04-pc-230510.png" alt="" width="948" height="726" loading="lazy">
      </picture>
      <div class="<%= namespace %>-Layout_Benefit-button">
        <a href="<%= sitepath %>campaign/digital-contents/?l-id=un-limit_info_20220513_campaign_digital-contents" class="c-Btn_Regular u-Adjust_Mt-16" target="_blank"><span>コンテンツ特典の詳細を見る</span></a>
      </div>

    </div>


    <p class="c-Txt_Cap u-Adjust_Mt-24">
      ※各キャンペーンは予告なく変更・終了する場合あり。NBAはベーシックパス限定。一部条件あり<br>
      ※<a href="#notes" class="c-Link_Txt js-scroll">その他条件の詳細はこちら</a>
    </p>

    <div class="<%= namespace %>-Utility_hr u-Adjust_Mt-48"></div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-48">
      パートナー回線データチャージ金額の変更
    </h2>

    <p class="u-Adjust_Mt-16">
      パートナー回線エリア（国内）のデータチャージ金額が550円（税込）から660円（税込）に変更になります。
    </p>

    <div class="u-Adjust_Mt-16">
      <div class="c-Table">
        <div class="c-Table_Wrap-scroll">
          <div class="js-Scrollable">
          <table class="c-Table_Container <%= namespace %>-Table-scroll">
            <thead>
              <tr>
                <th class="u-Adjust_Align-center">追加容量</th>
                <th class="u-Adjust_Align-center" scope="col">現在</th>
                <th class="u-Adjust_Align-center" scope="col">2022年7月1日以降</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="u-Adjust_Align-center" scope="row">1GB</td>
                <td class="u-Adjust_Align-center">550円（税込）</td>
                <td class="u-Adjust_Align-center"><span class="c-Txt_Emp-01">660円（税込）</span></td>
              </tr>
              <tr>
                <td class="u-Adjust_Align-center" scope="row">2GB</td>
                <td class="u-Adjust_Align-center">1,100円（税込）</td>
                <td class="u-Adjust_Align-center"><span class="c-Txt_Emp-01">1,320円（税込）</span></td>
              </tr>
              <tr>
                <td class="u-Adjust_Align-center" scope="row">3GB</td>
                <td class="u-Adjust_Align-center">1,650円（税込）</td>
                <td class="u-Adjust_Align-center"><span class="c-Txt_Emp-01">1,980円（税込）</span></td>
              </tr>
              <tr>
                <td class="u-Adjust_Align-center" scope="row">4GB</td>
                <td class="u-Adjust_Align-center">2,200円（税込）</td>
                <td class="u-Adjust_Align-center"><span class="c-Txt_Emp-01">2,640円（税込）</span></td>
              </tr>
              <tr>
                <td class="u-Adjust_Align-center" scope="row">5GB</td>
                <td class="u-Adjust_Align-center">2,750円（税込）</td>
                <td class="u-Adjust_Align-center"><span class="c-Txt_Emp-01">3,300円（税込）</span></td>
              </tr>

            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>

    <p class="u-Adjust_Mt-16">
      <a href="<%= sitepath %>service/data-charge/?l-id=fee_un-limit_info_20220513_service_data-charge" class="c-Link_Txt-inline">データチャージの詳細を見る<span class="c-Icon_Chevron-right"></span></a>
    </p>

    <div class="<%= namespace %>-Utility_hr u-Adjust_Mt-48"></div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-48">
      よくあるご質問
    </h2>

    <p class="u-Adjust_Mt-16 c-Txt_Emp-02">
      現在ご利用中のお客さまのプランは、7月1日（金）に自動で「Rakuten UN-LIMIT VII」に移行いたします。
    </p>

    <p class="u-Adjust_Mt-32">
    <a href="<%= sitepath %>support/plan/detail/?l-id=fee_un-limit_info_20220513_support_plan_detail#smallcategory-faq" class="c-Btn_Regular"><span>よくあるご質問はこちら</span></a>
    </p>

    <div class="<%= namespace %>-Utility_hr u-Adjust_Mt-48"></div>


    <h2 class="c-Heading_Lv2 u-Adjust_Mt-48" id="notes">
      注意事項
    </h2>

    <h3 class="c-Heading_Lv4 u-Adjust_Mt-16">
      ■初期契約解除について
    </h3>

    <p class="u-Adjust_Mt-16 c-Txt_Cap">Rakuten UN-LIMIT VIIのご契約は、初期契約解除制度の対象となります<br>
      お客様が選択した「ご契約内容の通知方法」によって以下のとおり定める起算日から8日を経過するまでの間、書面により本契約の解除を行うことができます</p>

      <p class="u-Adjust_Mt-16  c-Txt_Cap"><span class="c-Txt_Emp-01">＜書面交付の場合＞</span><br>
      「Rakuten UN-LIMIT VII」の提供を開始した日、もしくは「ご契約内容のご案内」の書面をお客様が受領した日のいずれか遅い日が起算日となります</p>

      <p class="u-Adjust_Mt-16  c-Txt_Cap"><span class="c-Txt_Emp-01">＜電子交付の場合＞</span><br>
      「Rakuten UN-LIMIT VII」の提供を開始した日が起算日となります</p>

    <p class="u-Adjust_Mt-16 c-Txt_Cap">
      初期契約解除の詳細は、「ご契約内容のご案内」の書面（電子交付の場合は「my楽天モバイル」の契約情報ページにある「ご契約内容のご案内」）もしくは、<a href="<%= sitepath %>guide/contract-cancellation/?l-id=fee_un-limit_info_20220513_guide_contract-cancellation" class="c-Link_Txt">こちらをご確認ください</a>
    </p>

    <h3 class="c-Heading_Lv4 u-Adjust_Mt-16">
      ■料金プランについて
    </h3>

    <p class="u-Adjust_Mt-16 c-Txt_Cap">
      ※1 データ無制限は、楽天基地局に接続時。公平にサービスを提供するため通信速度の制御を行う場合があります。パートナー回線エリアは、国内は5GB超過後は最大1Mbps、海外は2GB超過後は最大128kbpsで使い放題。最大1Mbpsで使用時、動画再生・アプリダウンロード等では、時間がかかる場合あり。通信速度はベストエフォート（規格上の最大速度）であり、実効速度は通信環境・状況により変動します
    </p>

    <h3 class="c-Heading_Lv4 u-Adjust_Mt-40">
      ■通話について
    </h3>

    <p class="u-Adjust_Mt-16 c-Txt_Cap">
      ※2 Rakuten Linkアプリ利用でかけ放題は、Rakuten Linkアプリ未使用時、国内通話は30秒20円（税込22円）、国内SMSは3円（税込3.3円）／70文字（全角）～<br>
      ※3 15分（標準）通話かけ放題（オプションサービス）は、15分超過後は30秒20円（税込22円）。本オプションサービスは日割り対象外。 一部対象外番号あり。SMSは1日の送信上限があります
    </p>

    <h3 class="c-Heading_Lv4 u-Adjust_Mt-40">
      ■「楽天市場のお買い物が最大16倍」特典について
    </h3>

    <p class="u-Adjust_Mt-16 c-Txt_Cap">
      ※4 最大16倍とは、SPUによる楽天モバイル対象プランご契約者会員ランク特典最大+3倍とその他グループサービスご利用で最大13倍の合計値です。<a href="https://event.rakuten.co.jp/campaign/point-up/everyday/point/" target="_blank" class="c-Link_Txt">SPUの詳細</a>をご確認ください。2022年11月1日（火）から、楽天モバイルのSPU＋1倍、楽天回線ご利用で+1倍、ダイヤモンド会員なら＋1倍が統合され、楽天モバイルのSPUが最大＋3倍になりました。ご契約中のプラン・会員ランク特典に応じてポイント倍率が異なります。毎月の獲得上限ポイント数は会員ランクに応じて5,000～7,000ポイント、期間限定ポイントでの付与。<a href="<%= sitepath %>campaign/spu/" class="c-Link_Txt">詳細</a>をご確認ください<br>
      ※ポイント未利用時の倍率です<br>
      ※6 楽天モバイルキャリア決済（Androidのみ）を月に合計2,000円（税込）以上ご利用した楽天モバイルご契約者様+0.5倍。「Rakuten UN-LIMIT VII」の料金プランご利用の方が対象となります。<a href="<%= sitepath %>campaign/spu/payment/" class="c-Link_Txt">詳細はこちら</a>
    </p>
    <h3 class="c-Heading_Lv4 u-Adjust_Mt-40">
      ■楽メールについて
    </h3>

    <p class="u-Adjust_Mt-16 c-Txt_Cap">
      ※楽天モバイル（楽天回線）のご契約、初期設定、Rakuten Linkアプリが必要です<br>
      ※データ利用量としてカウントされます<br>
      ※楽天IDに対して、1つのメールアドレスの設定が可能です。複数回線をご契約の場合も同様となります<br>
      ※ご契約している楽天回線を全て解約した場合、楽メールのご利用/閲覧ができなくなります。また過去のデータも全て削除されます<br>
      ※ストレージ容量の上限を超える場合、メールの送受信が制限される場合があります。受信されなかったメールは、後日ストレージ容量が空いた場合でも受信できないことがあります
    </p>

    <h3 class="c-Heading_Lv4 u-Adjust_Mt-40">
      ■Youtube Premium3カ月無料について
    </h3>

    <p class="u-Adjust_Mt-16 c-Txt_Cap">
      ※YouTube Premium、YouTube Music Premium、YouTube Red、Google Play Music のうち、いずれかの定期購入や無料お試しを行ったことがある場合は対象外です。
    </p>
  </div>
</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-news-v2.ejs') %>

    <%- include('/include/footer/bnr/_bnr-news.ejs') %>

  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
</div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
