<% const pagetitle = "【ショップ限定】iPhone SE（第3世代）64GB 実質1円キャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "shop-limited-iphone-se-3rd" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '楽天モバイルショップ限定で、iPhone SE（第3世代）64GBが実質1円で購入できるお得なキャンペーンのご案内です。',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%><%- include('/include/_common-css-v2') %>
<%- include('/inc/_about-rakuten-mobile-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/shop-limited-iphone-se-3rd/shop-limited-iphone-se-3rd.css?20240424">
<!-- include部分一時追加 -->
<link rel="stylesheet" href="<%= sitepath %>assets/css/inc/i-unlimit.css?20240424">
<!-- include部分一時追加 -->
<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
<!-- <script src="https://www.rakuten.co.jp/com/advance/mobile/mnoprj_campaign_shop-limited-iphone-se-3rd_ab/responsive/condition.js"></script> -->
<!-- <script src="https://r.r10s.jp/com/ap/target/phoenix-2.9.0.min.js"></script> -->
</head>
<!-- <body data-phoenix-mnoprj_campaign_shop-limited-iphone-se-3rd_ab_responsive> -->
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout-Label">
      <ul class="c-Label_List <%= namespace %>-Layout-Label_List">
        <li class="c-Label_Normal">他社から乗換限定</li>
        <li class="c-Label_Normal">ショップ申込限定</li>
        <li class="c-Label_Normal">初めて申込限定</li>
        <li class="c-Label_Normal">対象製品限定</li>
        <li class="c-Label_Normal">Rakuten Link利用必要</li>
      </ul>
    </div>

    <div class="<%= namespace %>-Hero_Return">
      <div class="<%= namespace %>-Hero_Container">
        <div class="<%= namespace %>-Hero_Main">
          <h1>
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/hero-sp-221021.png" alt="">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/hero-pc-221021.png" alt="iPhone SE（第3世代）64GB 楽天モバイルショップ限定 超おトクキャンペーン">
            </picture>
          </h1>
        </div>
      </div>
    </div>

    <div class="<%= namespace %>-Layout_Body u-Adjust_Pt-0">
      <div class="l-System u-Adjust_Pt-8">
        <div class="l-System_Container">
          <div class="u-Adjust_Align-center">
            <ul class="c-Txt_Cap u-Adjust_Mt-16">
              <li class="c-Txt_Emp-02">※「Rakuten最強プラン（データタイプ）」は対象外です。</li>
              <li>※他社から電話番号そのままで乗り換え（MNP）のご利用時に適用になります。</li>
              <li>※キャンペーンによってポイントの付与時期・有効期間が異なり、分割して付与されるポイントもございます。必ず<a href="#campaign-rule" class="c-Link_Txt js-scroll">キャンペーンルール</a>をご確認ください。</li>
            </ul>
            <p class="u-Adjust_Mt-32"><span class="c-Txt_Emp-01">【キャンペーン期間】</span> 2022年10月21日（金）開店～2023年12月21日（木）閉店</p>
            <div class="u-Adjust_Mt-32 u-Adjust_Mb-16 ">
              <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Align-center">本キャンペーンは2023年12月21日（木）をもちまして終了いたしました。<br/>
                このページに掲載されている情報は、キャンペーン終了時点のものです。</p>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <a href="<%= sitepath %>campaign/?l-id=end_campaign" class="c-Link_Txt-inline">開催中のキャンペーンを見る
                  <span class="c-Icon_Chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
          <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-32">
            <li><a href="#requirements" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンの達成条件</a></li>
            <li><a href="#product" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>対象製品</a></li>
            <li><a href="#flow" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンの流れ</a></li>
            <li><a href="#campaign-rule" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルール</a></li>
          </ul>

          <div class="<%= namespace %>-Pointback u-Adjust_Mt-32">
            <h2 class="c-Heading_Lv2 u-Adjust_Mb-24 u-Adjust_Align-center">ご購入内容に応じてポイント還元！</h2>
            <div class="<%= namespace %>-Pointback_Pc">
              <img src="<%= sitepath %>assets/img/campaign/shop-limited-iphone-se-3rd/pointback-pc-231101.png" alt="" width="1032" height="311">
            </div>
            <div class="<%= namespace %>-Pointback_Sp">
              <div class="c-Tab js-Tab">
                <ul class="c-Tab_Items u-Adjust_Mb-16" role="tablist">
                    <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">対象製品&プラン申し込み</li>
                    <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">対象製品のみ購入</li>
                </ul>
                <div class="c-Tab_Panel u-Adjust_Align-center" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
                  <img src="<%= sitepath %>assets/img/campaign/shop-limited-iphone-se-3rd/pointback-sp-1-231101.png" alt="" width="686" height="1040" loading="lazy">
                </div>
                <div class="c-Tab_Panel u-Adjust_Align-center" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
                  <img src="<%= sitepath %>assets/img/campaign/shop-limited-iphone-se-3rd/pointback-sp-2-231101.png" alt="" width="686" height="1038" loading="lazy">
                </div>
              </div>
            </div>
            <p class="<%= namespace %>-Utility_Mt-16-32 c-Txt_Emp-02">※製品の販売在庫は、申し込み内容（製品単体購入、プランとセット購入）に関わらず、同一管理で対応しております。</p>
            <p class="c-Txt_Emp-02" style="margin-bottom:1em;">※ご購入時に製品のネットワーク接続を確認させていただきます。同意いただけない場合、販売をお断りさせていただきますので、ご了承ください。</p>
            <p class="c-Txt_Emp-02 c-Txt_Cap">※「実質価格」とは、キャンペーンの条件達成（他社から乗り換え、Rakuten最強プラン初めて契約、対象製品購入、Rakuten Link利用など）により後日付与されるポイントを加味した価格であり、実際のお支払い金額とは異なります。詳しくは各<a href="#campaign-rule" class="js-scroll">キャンペーンルール</a>をご確認ください。</p>
            <ul>
              <li class="c-Txt_Cap"><span>※</span>1 楽天カードのみ。現金販売価格と割賦販売価格（総額）は製品価格と同額。支払回数48回、支払期間48カ月、実質年率0％。48回目のみ1,324円/月。</li>
              <li class="c-Txt_Cap c-Txt_Emp-02"><span>※</span>2 24回分お支払い後、25カ月目に製品を返却した場合。ご返却の製品が当社指定の状態基準を満たさない場合、故障費用22,000円のお支払いが必要となる、または返却不可となる場合があります。</li>
              <li class="c-Txt_Cap"><span>※</span>3 「<a href="#campaign-rule2091">【Rakuten最強プランはじめてお申し込み特典】他社から乗り換えで6,000ポイントプレゼント</a>」、「<a href="#campaign-rule1819">iPhone 対象端末ポイントバックキャンペーン</a>」、「<a href="#campaign-rule1629">【ショップ限定】iPhone SE（第3世代）64GBポイントバックキャンペーン</a>」適用時。</li>
              <li class="c-Txt_Cap"><span>※</span>4 「<a href="#campaign-rule1629">【ショップ限定】iPhone SE（第3世代）64GBポイントバックキャンペーン</a>」適用時。</li>
            </ul>
          </div>
          <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <a href="<%= sitepath %>shop/?l-id=campaign_shop-limited-iphone-se-3rd_shop_0" class="c-Btn_Primary-large"><span>お近くのショップを探す</span></a>
          </div>

          <div class="u-Adjust_Mt-32">
            <section id="requirements" class="<%= namespace %>-Conditions">
              <h2 class="c-Txt_Normal-ll <%= namespace %>-Conditions_Text">キャンペーンの達成条件</h2>
              <p class="u-Adjust_Align-center">（最大34,691ポイント還元時）</p>
              <p class="<%= namespace %>-Conditions_Text u-Adjust_Mt-16">本キャンペーンには達成条件が設定されています。詳細は各<a href="#campaign-rule" class="c-Link_Txt js-scroll">キャンペーンルール</a>をご確認ください。</p>
              <div class="u-Adjust_Mt-16">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/shop-limited-iphone-se-3rd/img-01-sp-231101.png" width="752" height="1353">
                  <img class="<%= namespace %>-Conditions_Img" src="<%= sitepath %>assets/img/campaign/shop-limited-iphone-se-3rd/img-01-pc-231101.png" alt="" width="982" height="242" loading="lazy">
                </picture>
              </div>
              <ul class="c-Txt_Cap u-Adjust_Mt-16">
                <li>※他社から電話番号そのままで乗り換え（MNP）のご利用時に適用となります。</li>
                <li><span class="c-Txt_Emp-02">※「【ショップ限定】iPhone SE（第3世代）64GBポイントバックキャンペーン」による22,691ポイント還元は対象製品のみご購入でも適用となります。</span>お一人様１回限りの適用となります。</li>
                <li>※キャンペーンによってポイントの付与時期・有効期間が異なり、分割して付与されるポイントもございます。必ず<a href="#campaign-rule" class="c-Link_Txt js-scroll">キャンペーンルール</a>をご確認ください。</li>
              </ul>

              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <h3 class="c-Heading_Lv3">キャンペーンの達成状況はこちらで確認</h3>
              </div>
              <div class="c-Accordion <%= namespace %>-Accordion_Left u-Adjust_Mt-24">
                <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>達成状況の確認方法</button>
                <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true" style="display:none;">
                  <h4 class="c-Heading_Lv4">達成状況の確認方法</h4>
                  <ol class="u-Adjust_Mt-16">
                    <li>
                      <p class="c-Txt_Emp-01">1. 「<a href="<%= ecarepath %>my-rakuten-mobile?l-id=campaign_shop-limited-iphone-se-3rd_my-rakuten-mobile_accordion" class="c-Link_Txt">my 楽天モバイル</a>」にアクセス</p>
                    </li>
                    <li class="u-Adjust_Mt-32">
                      <p class="c-Txt_Emp-01">2. 右上のメニューから「利用状況」を選択</p>
                      <div class="<%= namespace %>-Utility_Img-capture u-Adjust_Mt-32">
                        <img src="<%= sitepath %>assets/img/campaign/common/img-cap01-230601.png" width="300" alt="">
                      </div>
                    </li>
                    <li class="u-Adjust_Mt-32">
                      <p class="c-Txt_Emp-01">3. 「通話」タブを選択して<span class="c-Txt_Emp-02">Rakuten Linkでの10秒以上の発信通話履歴</span>があることを確認してください</p>
                      <div class="<%= namespace %>-Utility_Img-capture u-Adjust_Mt-32">
                        <img src="<%= sitepath %>assets/img/campaign/common/img-cap02.png" width="300" alt="">
                      </div>
                    </li>
                  </ol>
                </div>
              </div>
            </section>
          </div>
          <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <a href="<%= sitepath %>shop/?l-id=campaign_shop-limited-iphone-se-3rd_shop_1" class="c-Btn_Primary-large"><span>お近くのショップを探す</span></a>
          </div>

          <section id="product">
            <h2 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-64">キャンペーン対象製品</h2>
            <div class="<%= namespace %>-Layout_Target <%= namespace %>-Utility_Mt-24-16">
              <div class="<%= namespace %>-Layout_Target-item1">
                <p class="<%= namespace %>-Layout_Target-item1-txt2 <%= namespace %>-Utility_Disp-pc"><span class="<%= namespace %>-Layout_Target-item1-txt1">iPhone SE</span>（第3世代）64GB</p>
                <p class="u-Adjust_Mt-8">48回払い
                  <span class="c-Txt_Cap">※1</span> &nbsp;&nbsp;&nbsp;&nbsp; 月々
                  <span class="<%= namespace %>-Layout_Target-item1-txt3">1,308</span>
                  円
                </p>
                <p class="u-Adjust_Mt-8">
                  製品価格 <span class="c-Txt_Cap">※3</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <span class="c-Txt_Normal-l">62,800</span>円
                </p>
                <div class="c-Theme-Light u-Adjust_Mt-24" style="background-color: #fff;">
                  <p class="u-Adjust_Align-center c-Txt_Emp-01">楽天モバイル買い替え超トクプログラムを利用して</p>
                  <p class="u-Adjust_Align-center">25カ月目に返却した場合
                    <span class="c-Txt_Cap">※1,2</span>
                  </p>
                  <p class="u-Adjust_Align-center u-Adjust_Mt-8">
                    支払い総額 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="c-Txt_Emp-02">
                    <span class="<%= namespace %>-Layout_Target-item1-txt3">31,392</span>円
                    </span>
                  </p>
                </div>
                <div class="<%= namespace %>-Layout_Target-item1-btn <%= namespace %>-Utility_Mt-24-16">
                  <a href="<%= sitepath %>product/iphone/iphone-se-3rd/?l-id=campaign_shop-limited-iphone-se-3rd_product_iphone_iphone-se-3rd_btm" class="c-Btn_Regular"><span>製品の詳細を見る</span></a>
                </div>
              </div>
              <div class="<%= namespace %>-Layout_Target-item2">
                <p class="<%= namespace %>-Layout_Target-item1-txt2 <%= namespace %>-Utility_Disp-sp"><span class="<%= namespace %>-Layout_Target-item1-txt1">iPhone SE</span>
                  <br class="<%= namespace %>-Utility_Br-sp">
                  （第3世代）64GB</p>
                <div class="<%= namespace %>-Layout_Target-item2-wrap">
                  <img src="<%= sitepath %>assets/img/campaign/shop-limited-iphone-se-3rd/iphone-se-3rd-221021.png" alt="">
                  <ul>
                    <li class="<%= namespace %>-Layout_Target-item2-wrap-clr1"></li>
                    <li class="<%= namespace %>-Layout_Target-item2-wrap-clr2"></li>
                    <li class="<%= namespace %>-Layout_Target-item2-wrap-clr3"></li>
                  </ul>
                </div>
              </div>
            </div>
          </section>

          <section>
            <div class="c-Theme-Borderbox u-Adjust_Mt-48" style="background-color:#fff;">
              <h3 class="c-Heading_Lv3 u-Adjust_Align-center">「楽天モバイル買い替え超トクプログラム」とは？<span class="c-Txt_Cap">※1</span></h3>
              <div class="u-Adjust_Mt-16">
                <div class="l-Media_Grid-half">
                  <div class="l-Media_Grid c-Theme-Light u-Adjust_Py-16 u-Adjust_Px-16">
                    <div class="l-Media_Image">
                      <img src="<%= sitepath %>assets/img/campaign/shop-limited-iphone-se-3rd/img-02-230831.png" width="170" height="96" alt="">
                    </div>
                    <div><p>本体代のお支払いに「48回払い」を選択！24回分払ったら、<span class="c-Txt_Emp-02">いつでも最新の製品</span>に機種変更可能！</p></div>
                  </div>
                  <div class="l-Media_Grid c-Theme-Light u-Adjust_Py-16 u-Adjust_Px-16">
                    <div class="l-Media_Image">
                      <img src="<%= sitepath %>assets/img/campaign/shop-limited-iphone-se-3rd/img-03-230831.png" width="170" height="85" alt="">
                    </div>
                    <div><p>最大24回分！当社が回収した製品の<span class="c-Txt_Emp-02">残りのお支払いが不要</span>に！<span class="c-Txt_Cap">※2</span></p></div>
                  </div>
                </div>
                <div class="<%= namespace %>-Layout_About-BtnContainer">
                  <div class="<%= namespace %>-Layout_About-Btn u-Adjust_Mt-24">
                    <a href="<%= sitepath %>service/replacement-program/?l-id=campaign_shop-limited-iphone-se-3rd_service_replacement-program" class="c-Btn_Regular"><span>楽天モバイル買い替え超トクプログラムの詳細を見る</span></a>
                  </div>
                </div>
              </div>
            </div>
            <p class="c-Txt_Cap u-Adjust_Mt-8">
              ※1 楽天カードのみ。現金販売価格と割賦販売価格（総額）は製品価格と同額。支払回数48回、支払期間48カ月、実質年率0％。48回目のみ1,324円/月。<span class="c-Txt_Cap c-Txt_Emp-02">機種変更または返却による解約の際は、事務手数料3,300円がかかります。</span><br>
              ※2 <span class="c-Txt_Cap c-Txt_Emp-02">24回分お支払い後、25カ月目に製品を返却した場合。ご返却の製品が当社指定の状態基準を満たさない場合、故障費用22,000円のお支払いが必要となる、または返却不可となる場合があります。</span><br>
              ※3 キャンペーン特価は「<a href="#campaign-rule1592" class="js-scroll">iPhone対象機種特価キャンペーン</a>」適用時。
            </p>
          </section>

          <section id="flow">
            <h2 class="c-Heading_Lv2 u-Adjust_Mt-64 u-Adjust_Align-center">最大34,691ポイント獲得の流れ</h2>
            <ul class="c-Flow u-Adjust_Mt-32">
              <li>
                <h3 class="c-Heading_Lv3 u-Adjust_Mb-16">お申し込み・お支払いに必要なものを準備する</h3>
                <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                  <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                    <div>
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-04-221021.png" width="224" alt="お申し込み・お支払いに必要なものを準備する">
                    </div>
                  </div>
                  <div>
                    <div class="u-Adjust_Mt-16">
                      <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc">
                        <li><a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                      </ul>
                      <ul class="u-Adjust_Mt-16 c-List_Text-disc">
                        <li>楽天会員ログイン用のユーザID、パスワード</li>
                      </ul>
                      <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Emp-02 c-Txt_Normal-s u-Adjust_Mt-8">※本人確認書類の情報と、楽天会員情報が一致している必要があります。</p>
                      <p class="u-Adjust_Mt-8"><a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Link_Txt-inline u-Adjust_Mt-8">楽天会員情報を確認・変更する<span class="c-Icon_Chevron-right"></span></a></p>

                      <ul class="u-Adjust_Mt-16 c-List_Text-disc">
                        <li><a href="<%= sitepath %>guide/mnp/?l-id=campaign_shop-limited-iphone-se-3rd_guide_mnp" class="c-Link_Txt-inline">ご契約者名義のMNP予約番号（他社から乗り換えの場合）<span class="c-Icon_Chevron-right"></span></a></li>
                      </ul>

                      <ul class="u-Adjust_Mt-16 c-List_Text-disc">
                        <li><a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                        </li>
                      </ul>
                      <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">※ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="<%= sitepath %>faq/detail/00001238/" class="c-Link_Txt-inline">こちらのご案内ページ</a>を必ず事前にご確認ください。</p>

                      <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                        ※未成年者の方のお申し込みに必要な情報、お申し込み方法は<a href="<%= sitepath %>flow/for-minors/" class="c-Link_Txt">こちらのご案内ページ</a>をご確認ください。<br>
                        ※MNPワンストップ未対応の携帯電話会社から乗り換えの方は、MNP予約番号の取得が必要です。MNPワンストップ対象の携帯電話会社は<a href="<%= sitepath %>guide/mnp/#career" class="c-Link_Txt">こちら</a>からご確認ください。<br>
                        ※ショップでのお手続きは、ワンストップ対象の他社からの転入であっても、MNP予約番号を取得のうえ、MNP有効期間内にご来店ください。
                      </p>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">楽天モバイルショップを探す</h3>
                <div class="l-Media_Grid u-Adjust_Mt-16">
                  <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                    <div>
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-05-221021.png" alt="" width="270">
                    </div>
                  </div>
                  <div>
                    <p class="u-Adjust_Mt-8">
                      ご来店の際は、Webでできる「<span class="c-Txt_Emp-01">来店予約</span>」が便利です。<br>
                      予約された方を優先的にご案内しますので、混雑を気にせずに都合の良い時間にご来店いただけます。<br>
                      各ショップページの「<span class="c-Txt_Emp-01">来店予約</span>」ボタンよりご予約ください。<br>
                      各ショップごとに製品の在庫状況が異なります。
                    </p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8">
                      ※カウンターが空き次第のご案内となり、多少の待ち時間をいただく場合がございます。<br>
                      ※ショップページに「来店予約」ボタンがないショップでは、来店予約を行っておりません。ご了承ください。
                    </p>
                    <div class="<%= namespace %>-Utility_Sp-center u-Adjust_Mt-32">
                      <a href="<%= sitepath %>shop/?l-id=campaign_shop-limited-iphone-se-3rd_shop_2" class="c-Btn_Primary"><span>お近くのショップを探す</span></a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">ショップで他社から乗り換え、最強プランを初めて申し込み、製品を購入する</h3>
                <div class="l-Media_Grid u-Adjust_Mt-16">
                  <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                    <div>
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-06-221021.png" alt="" width="154">
                    </div>
                  </div>
                  <div>
                    <p class="u-Adjust_Mt-8">楽天モバイルショップにて、電話番号そのまま、他社から乗り換え、最強プランを初めて申し込み、製品を購入する楽天モバイルのお申し込みとiPhone SE（第3世代）64GBを「楽天モバイル買い替え超トクプログラム」にて購入手続きを行ってください。</p>

                    <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>fee/saikyo-plan/?l-id=campaign_shop-limited-iphone-se-3rd_fee_saikyo-plan_txt" class="c-Link_Txt-inline">Rakuten最強プランの詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
                    <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>product/iphone/iphone-se-3rd/?l-id=campaign_shop-limited-iphone-se-3rd_product_iphone_iphone-se-3rd_txt" class="c-Link_Txt-inline">iPhone SE（第3世代）64GBの詳細<br class="<%= namespace %>-Utility_Br-sp">を見る<span class="c-Icon_Chevron-right"></span></a></p>
                    <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>service/replacement-program/?l-id=campaign_shop-limited-iphone-se-3rd_service_replacement-program_txt" class="c-Link_Txt-inline">楽天モバイル買い替え超トクプログラムの詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>


                    <p class="u-Adjust_Mt-16 <%= namespace %>-Utility_Align-center-sp"><span class="c-Txt_Emp-01">【お申し込み期間】<br class="<%= namespace %>-Utility_Br-sp"></span>2022年10月21日（金）開店～2023年12月21日（木）閉店</p>
                    <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">※Webでのお申し込みは対象外です。</p>
                  </div>
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">Rakuten Linkアプリで通話</h3>
                <div class="l-Media_Grid u-Adjust_Mt-16">
                  <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                    <div class="<%= namespace %>-Flow_Rlink">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-07-221021.png" alt="" width="94">
                    </div>
                  </div>
                  <div>
                    <p class="u-Adjust_Mt-8">
                      Rakuten Linkアプリで10秒以上通話する<br>
                      Rakuten Link利用開始期限：プランお申し込みの翌月末日23:59まで
                    </p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8">※電話の発信時、（0180）（0570）などから始まる他社接続サービス、一部特番（188）への通話は特典対象外</p>
                    <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>service/rakuten-link/" class="c-Link_Txt-inline">Rakuten Linkアプリの詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
                    <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">※Rakuten Linkのご利用が最大34,691ポイント付与の条件となります。</p>
                  </div>
                </div>
              </li>
              <li id="questionnaire">
                <h3 class="c-Heading_Lv3">最大34,691円相当のポイントプレゼント！</h3>
                <div>
                  <ul class="<%= namespace %>-Flow_Card u-Adjust_Mt-24">
                    <li class="<%= namespace %>-Flow_Card-item">
                      <div>
                        <p class="c-Heading_Lv4 u-Adjust_Align-center">電話番号そのまま、他社から乗り換え＆初めてのプラン申し込みで</p>
                      </div>
                      <div class="<%= namespace %>-Flow_Card-txtWrap u-Adjust_Mt-16">
                        <div class="<%= namespace %>-Flow_Card-txtArea">
                          <p class="<%= namespace %>-Flow_Card-txt1 u-Adjust_Mb-8">
                            6<span class="<%= namespace %>-Flow_Card-comma">,</span>000<span class="<%= namespace %>-Flow_Card-txt2">ポイント</span><br>
                          </p>
                          <a href="#campaign-rule2091" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>詳しくはこちら</a>
                          <ul class="c-Txt_Cap u-Adjust_Mt-8">
                            <li>※「Rakuten最強プラン」の利用開始および「Rakuten Link」の利用が確認された月の翌々月末日ごろから3カ月間にわたり付与</li>
                            <li>※付与日から3カ月後月末まで有効</li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li class="<%= namespace %>-Flow_Card-item">
                      <div>
                        <p class="c-Heading_Lv4 u-Adjust_Align-center">プラン申し込み<br>＆対象製品購入</p>
                      </div>
                      <div class="<%= namespace %>-Flow_Card-txtWrap u-Adjust_Mt-16">
                        <div class="<%= namespace %>-Flow_Card-txtArea" style="padding:16px 0 !important">
                          <p class="<%= namespace %>-Flow_Card-txt1 u-Adjust_Mb-8">
                            6<span class="<%= namespace %>-Flow_Card-comma">,</span>000<span class="<%= namespace %>-Flow_Card-txt2">ポイント</span><br>
                          </p>
                          <a href="#campaign-rule1819" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>詳しくはこちら</a>
                          <ul class="c-Txt_Cap u-Adjust_Mt-8">
                            <li>※Rakuten Linkご利用の翌々月末日ごろ付与</li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li class="<%= namespace %>-Flow_Card-item">
                      <div class="<%= namespace %>-Flow_Card-ttl-wrap">
                        <p class="<%= namespace %>-Flow_Card-onShop">ショップ限定</p>
                        <p class="c-Heading_Lv4 u-Adjust_Align-center">「楽天モバイル買い替え超トクプログラム」で対象製品を購入</p>
                      </div>
                      <div class="<%= namespace %>-Flow_Card-txtWrap u-Adjust_Mt-16">
                        <div class="<%= namespace %>-Flow_Card-txtArea">
                          <p class="<%= namespace %>-Flow_Card-txt1 u-Adjust_Mb-8">
                            22<span class="<%= namespace %>-Flow_Card-comma">,</span>691<span class="<%= namespace %>-Flow_Card-txt2">ポイント</span><br>
                          </p>
                          <a href="#campaign-rule1629" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>詳しくはこちら</a>
                          <ul class="c-Txt_Cap u-Adjust_Mt-8">
                            <li>※製品ご購入の翌々月末日ごろ付与</li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <ul class="c-Txt_Cap u-Adjust_Mt-16">
                  <li>※ポイントは期間限定ポイントになります。</li>
                  <li>※キャンペーンによってポイントの付与時期・有効期間が異なり、分割して付与されるポイントもございます。必ず<a href="#campaign-rule" class="c-Link_Txt js-scroll">キャンペーンルール</a>をご確認ください。</li>
                </ul>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </div>

        <div class="u-Bg_Monotone97 u-Adjust_Py-48">
          <%- include('/inc/_about-rakuten-mobile', { baseLId: 'campaign_shop-limited-iphone-se-3rd' }) %>
        </div>

        <div class="l-System_Container u-Adjust_Mt-64">
          <div id="campaign-rule">
            <div class="u-Adjust_Mb-32">
              <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Align-center">本キャンペーンは2023年12月21日（木）をもちまして終了いたしました。<br/>
                このページに掲載されている情報は、キャンペーン終了時点のものです。</p>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <a href="<%= sitepath %>campaign/?l-id=end_campaign" class="c-Link_Txt-inline">開催中のキャンペーンを見る
                  <span class="c-Icon_Chevron-right"></span>
                </a>
              </div>
            </div>
            <h2 class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンルール</h2>
            <div class="<%= namespace %>-Layout_Rule" style="word-break: break-all;">

              <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1629', level: 'h3', year: '2023', class: 'u-Adjust_Mt-64' }}) %>

              <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1819_shop_limited_iphone_se_3rd', level: 'h3', year: '2023', class: 'u-Adjust_Mt-64' }}) %>

              <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1592', level: 'h3', year: '2023', class: 'u-Adjust_Mt-64' }}) %>

              <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2091_shop_limited_iphone_se_3rd', level: 'h2', year: '2023', class: 'u-Adjust_Mt-64' }}) %>

              <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2142_shop_limited_iphone_se_3rd', level: 'h2', year: '2023', class: 'u-Adjust_Mt-64' }}) %>

            </div>
          <div class="c-Accordion u-Adjust_Mt-64" id="campaign-rule-old">
            <button id="accordion-001" class="c-Accordion_Trigger js-Accordion_Trigger un-limit-Layout_Accordion-trigger" aria-expanded="false" aria-controls="accordion-content-001"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>過去のキャンペーンルール</button>
            <div id="accordion-content-001" class="c-Accordion_Panel js-Accordion_Panel un-limit-Layout_Accordion-qapanel u-Adjust_Pt-32" role="region" aria-labelledby="accordion-001" aria-hidden="true" style="display:none;">
              <section>
                <!-- 1526 -->
                <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1526_shop_limited_iphone_se_3rd', level: 'h3', year: '2023', class: '' }}) %>

                <!-- 1383 -->
                <h3 class="c-Heading_Lv3 u-Adjust_Mt-64" id="campaign-rule1383">iPhoneアップグレードプログラム適用で5,000ポイント還元キャンペーン</h3>
                  <div class="c-Table_Wrap u-Adjust_Mt-24">
                    <div class="u-Adjust_Mt-24">
                      <dl class="c-Dl_Origin <%= namespace %>-Dl_Rule">
                        <div>
                          <dt>キャンペーンコード</dt>
                          <dd>
                            <p>1383</p>
                            <ul class="c-Txt_Cap u-Adjust_Mt-8">
                              <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                            </ul>
                          </dd>
                        </div>
                        <div>
                          <dt>キャンペーン期間</dt>
                          <dd>
                            <p><span class="c-Txt_Emp-01">■ 製品のご購入期間</span><br>
                              　- Web　2021年12月17日（金）9:00～<del>終了日未定</del> 2023年5月31日（水）23:59<br>
                              　- 店舗（楽天モバイルショップ）　2021年12月17日（金）開店～<del>終了日未定</del> 2023年5月31日（水）閉店
                            </p>
                            <p class="c-Txt_Cap u-Adjust_Mt-16 c-Txt_Emp-02">
                              ※本キャンペーンの終了に伴い、2023年6月1日（木）0:00より、iPhoneアップグレードプログラムを利用した方に対し10,000ポイントを還元するキャンペーンをWeb限定（店頭対象外）にて開始します。
                            </p>
                          </dd>
                        </div>
                        <div>
                          <dt>キャンペーン条件</dt>
                          <dd>
                            <p class="c-Txt_Emp-02">
                              上記各項目の期間内に以下の条件を満たした楽天会員の方
                            </p>
                            <div class="u-Adjust_Mt-16">
                              <span class="c-Txt_Emp-01">対象製品いずれかを「楽天モバイルiPhoneアップグレードプログラム」適用でご購入　</span><br>
                              <ul class="c-List_Note u-Adjust_Mt-8">
                                <li><span>-</span> iPhone 14 Pro Max</li>
                                <li><span>-</span> iPhone 14 Pro</li>
                                <li><span>-</span> iPhone 14 Plus</li>
                                <li><span>-</span> iPhone 14</li>
                                <li><span>-</span> iPhone SE（第3世代）</li>
                                <li><span>-</span> iPhone 13</li>
                                <li><span>-</span> iPhone 13 mini</li>
                                <li><s><span>-</span> iPhone 13 Pro Max</s></li>
                                <li><s><span>-</span> iPhone 13 Pro</s></li>
                                <li><s><span>-</span> iPhone 12 Pro Max</s></li>
                                <li><s><span>-</span> iPhone 12 Pro</s></li>
                                <li><s><span>-</span> iPhone 12</s></li>
                                <li><s><span>-</span> iPhone 12 mini</s></li>
                                <li><s><span>-</span> iPhone SE（第2世代）</s></li>
                                <li class="c-Txt_Cap u-Adjust_Mt-0">　※2022年2月22日よりiPhone SE（第2世代）は対象外となりました。</li>
                                <li class="c-Txt_Cap u-Adjust_Mt-0">　※2022年3月11日よりiPhone SE（第3世代）を追加しました。</li>
                                <li class="c-Txt_Cap u-Adjust_Mt-0">　※2022年9月6日よりiPhone 12 Pro Max、iPhone 12 Proは対象外となりました。</li>
                                <li class="c-Txt_Cap u-Adjust_Mt-0">　※2022年9月9日よりiPhone 14 Pro Max、iPhone 14 Pro、iPhone 14 Plus、iPhone 14を追加しました。</li>
                                <li class="c-Txt_Cap u-Adjust_Mt-0">　※2022年10月4日よりiPhone 12 miniは対象外となりました。</li>
                                <li class="c-Txt_Cap u-Adjust_Mt-0">　※2023年3月24日よりiPhone 13 Pro Max、iPhone 13 Pro、iPhone 12は対象外となりました。</li>
                              </ul>
                              <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※Rakuten UN-LIMIT VIIとセット、製品単体購入どちらの場合もキャンペーン対象となります。</p>
                            </div>
                          </dd>
                        </div>
                        <div>
                          <dt>キャンペーン特典 （楽天ポイント）</dt>
                          <dt class="<%= namespace %>_Title-sub">特典内容</dt>
                          <dd>
                            <p class="c-Txt_Emp-01">5,000ポイントプレゼント</p>
                          </dd>
                        </div>
                        <div>
                          <dt class="<%= namespace %>_Title-sub">ポイント付与日</dt>
                          <dd>
                            <p class="c-Txt_Emp-01">製品ご購入月の翌々月末日ごろに付与</p>
                            <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>例）2021年12月に製品購入した場合には、その翌々月である2022年2月末日ごろにポイント付与となります</p>
                            <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</p>
                            <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>権利の譲渡はできません</p>
                          </dd>
                        </div>
                        <div>
                          <dt class="<%= namespace %>_Title-sub">ポイント有効期間</dt>
                          <dd>
                            <td>
                              <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
                              <ul class="u-Adjust_Mt-8">
                                <li class="c-Txt_Cap"><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a></li>
                                <li class="c-Txt_Cap"><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。</li>
                              </ul>
                            </td>
                          </dd>
                        </div>
                        <div>
                          <dt>特典適用対象外</dt>
                          <dd>
                            <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
                            <ul class="u-Adjust_Mt-16">
                              <li class="c-Txt_Cap"><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                              <li class="c-Txt_Cap"><span>※</span>「iPhoneアップグレードプログラム適用で5,000ポイント還元キャンペーン」の適用回数が、おひとり様1契約1回を超える場合は対象外となります</li>
                              <li class="c-Txt_Cap"><span>※</span>「本キャンペーン」の適用回数が、おひとり様1契約1回を超える場合は対象外となります</li>
                              <li class="c-Txt_Cap"><span>※</span>楽天モバイルショップ、楽天モバイルオンライン以外で購入した場合</li>
                              <li class="c-Txt_Cap"><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
                              <li class="c-Txt_Cap"><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                              <li class="c-Txt_Cap"><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                              <li class="c-Txt_Cap"><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
                            </ul>
                          </dd>
                        </div>
                        <div>
                          <dt>注意事項</dt>
                          <dd>
                            <ul>
                              <li class="c-Txt_Cap"><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                              <li class="c-Txt_Cap"><span>※</span>製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
                              <li class="c-Txt_Cap"><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                              <li class="c-Txt_Cap"><span>※</span>記載の内容は2023年5月17日（水）時点の情報となります</li>
                            </ul>
                          </dd>
                        </div>
                      </dl>
                    </div>
                  </div>

                  <!-- 1553 -->
                  <h3 class="c-Heading_Lv3 u-Adjust_Mt-64" id="campaign-rule1553">【ショップ限定】対象製品と楽天回線同時申込でさらに1,000ポイントキャンペーン ルール</h3>
                  <div class="c-Table_Wrap u-Adjust_Mt-24">
                    <div class="u-Adjust_Mt-24">
                      <dl class="c-Dl_Origin <%= namespace %>-Dl_Rule">
                        <div>
                          <dt>キャンペーンコード</dt>
                          <dd>
                            <p>1553</p>
                            <ul class="c-Txt_Cap u-Adjust_Mt-8">
                              <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                            </ul>
                          </dd>
                        </div>
                        <div>
                          <dt>キャンペーン期間</dt>
                          <dd>
                            <p><span class="c-Txt_Emp-01">■ プランのお申し込み期間</span><br>
                              　- 店舗（楽天モバイルショップ）　2022年7月1日（金）開店～2023年2月14日（火）閉店
                            </p>
                            <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■ 製品のご購入期間</span><br>
                              　- 店舗（楽天モバイルショップ）　2022年7月1日（金）開店～2023年2月14日（火）閉店
                            </p>
                            <p class="c-Txt_Cap u-Adjust_Mt-8">※2023年2月10日（金）終了日を変更しました。</p>
                            <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■「Rakuten Link」利用期限</span><br>
                              　店頭で購入した日の翌月末日23:59まで
                            </p>
                          </dd>
                        </div>
                        <div>
                          <dt>キャンペーン条件</dt>
                          <dd>
                            <p class="c-Txt_Emp-02">上記各項目の期間内に【1】、【2】、【3】の条件をすべて満たした楽天会員の方<br>
                              お一人様1回限りの適用となります
                            </p>
                            <p class="c-Txt_Emp-02">楽天回線を初めてお申し込みいただいた場合に適用となります。※2022年12月8日（木）に条件を追加しました。</p>
                            <p class="c-Txt_Emp-01 u-Adjust_Mt-24">【1】店頭で「Rakuten UN-LIMIT VII」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>

                            <ol class="c-List_Note u-Adjust_Mt-8">
                              <li><span>(1)</span>新規お申し込み</li>
                              <li><span>(2)</span>他社からの乗り換え（MNP）でお申し込み<br>
                                <span class="c-Txt_Cap">※楽天モバイル（旧FREETEL）通話SIMからの乗り換え（MNP）、DMMモバイル通話SIMからの乗り換え（MNP）の場合も含む</span>
                              </li>
                              <li><span>(3)</span>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
                            </ol>
                            <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">
                              ※「Rakuten UN-LIMIT VI」から「Rakuten UN-LIMIT VII」への移行は対象外となります。
                            </p>

                            <p class="c-Txt_Emp-01 u-Adjust_Mt-24">【2】「Rakuten UN-LIMIT VII」お申し込みと同時に対象製品いずれかをご購入</p>
                            <p class="u-Adjust_Mt-16">
                              　- Rakuten Hand 5G<br>
                              　- AQUOS wish<br>
                              　- AQUOS sense7<br>
                              　- AQUOS sense6<br>
                              　- AQUOS sense6s<br>
                              　- AQUOS zero6<br>
                              　- Xperia 10 IV<br>
                              　- Xperia 5 IV<br>
                              　- OPPO A55s 5G<br>
                              　- OPPO Reno5 A<br>
                              　- OPPO Reno7 A<br>
                              　- Redmi Note 11​ Pro 5G​<br>
                              　- Galaxy Z Flip 4<br>
                              　- Galaxy A23 5G<br>
                              　- iPhone 12<br>
                              　- iPhone 13 Pro Max<br>
                              　- iPhone 13 Pro<br>
                              　- iPhone 13<br>
                              　- iPhone 13 mini<br>
                              　- iPhone SE（第3世代）<br>
                              　- iPhone 14 Pro Max<br>
                              　- iPhone 14 Pro<br>
                              　- iPhone 14 Plus<br>
                              　- iPhone 14
                            </p>
                            <p class="c-Txt_Cap">
                              ※2022年7月29日にAQUOS sense6sを追加しました<br>
                              ※2022年9月2日にRedmi Note 11​ Pro 5G​を追加しました<br>
                              ※2022年9月16日にiPhone 14 Pro Max、iPhone 14 Pro、iPhone 14 Plus、iPhone 14を追加しました<br>
                              ※2022年9月29日にOPPO Reno7 A​を追加しました<br>
                              ※2022年11月22日にGalaxy Z Flip 4​を追加しました<br>
                              ※2022年11月29日にXperia 10 IV​を追加しました<br>
                              ※2022年12月8日にiPhone 12​を追加しました<br>
                              ※2023年2月10日にXperia 10 III Liteを削除、AQUOS sense7、Xperia 5 IV、Galaxy A23 5Gを追加しました
                            </p>

                            <p class="c-Txt_Emp-01 u-Adjust_Mt-24">【3】店頭で対象製品を購入した日の翌月末日23:59までに「Rakuten Link」のご利用</p>
                            <p class="u-Adjust_Mt-16">
                              「Rakuten UN-LIMIT VII」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話
                            </p>
                            <div class="u-Adjust_Mt-16">
                              　【Rakuten Link アプリご利用方法】<br>
                              　　下記URLの「Rakuten Linkのご利用方法」をご確認ください<br>
                              　　<a href="<%= sitepath %>guide/rakuten-link/" class="c-Link_Txt">https://network.mobile.rakuten.co.jp/guide/rakuten-link/</a>
                              　　- 通話方法：『電話をかける』の項目をご確認ください<br>
                              <p class="u-Adjust_Mt-8 c-Txt_Cap">
                                ※「Rakuten Link」アプリ以外のメッセージやメール送信についてはキャンペーンの達成条件として適用されませんのでご注意ください
                              </p>
                              　【Rakuten Link利用履歴の確認方法】<br>
                              　　下記URLの「キャンペーンが適用されているか、いつポイントが付与されるか知りたい」をご確認ください<br>
                              　　<a href="<%= sitepath %>faq/detail/00001962/" class="c-Link_Txt">https://network.mobile.rakuten.co.jp/faq/detail/00001962/</a><br>
                              　　-「③ 適用条件の達成状況を確認する」の項目をご確認ください<br>
                            </div>
                            <p class="u-Adjust_Mt-8 c-Txt_Cap">
                              ※　電話の発信時、（0570）（0180）などの他社接続サービス、♯ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります
                            </p>

                          </dd>
                        </div>
                        <div>
                          <dt>キャンペーン特典 （楽天ポイント）</dt>
                          <dt class="<%= namespace %>_Title-sub">特典内容</dt>
                          <dd>
                            <p class="c-Txt_Emp-01">1,000ポイント</p>
                            <p class="c-Txt_Emp-01 u-Adjust_Mt-16">ポイント付与日</p>
                            <p class="c-Txt_Emp-01">
                              　　「Rakuten Link」の利用が確認された月の翌々月末日頃に付与
                            </p>
                            <p class="u-Adjust_Mt-8 c-Txt_Cap">
                              ※　例）7月にすべての条件を達成した場合には、その翌々月である9月末日ごろにポイント付与となります<br>
                              ※　楽天ポイントの付与は、楽天モバイルより行います<br>
                              ※　権利の譲渡はできません
                            </p>
                            <p class="c-Txt_Emp-01 u-Adjust_Mt-16">ポイント有効期間</p>
                            <p class="c-Txt_Emp-01 u-Adjust_Mt-16">ポイント付与日を含めて6カ月</p>
                            <p class="u-Adjust_Mt-8 c-Txt_Cap">
                              ※　<a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt">期間限定ポイントについて</a><br>
                              ※　有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません
                            </p>
                          </dd>
                        </div>
                        <div>
                          <dt>特典適用対象外</dt>
                          <dd>
                            <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
                            <ul class="<%= namespace %>-List_Cap u-Adjust_Mt-16 c-Txt_Cap">
                              <li><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                              <li><span>※</span>「【ショップ限定】対象製品と楽天回線同時申込でさらに1,000ポイントキャンペーン」の適用回数が、おひとり様1契約1回を超える場合は対象外となります</li>
                              <li><span>※</span>楽天モバイルショップ以外で購入した場合</li>
                              <li><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
                              <li><span>※</span>「Rakuten UN-LIMIT VII」のプラン利用開始がされなかった場合<br>
                                -プラン利用開始の手続き方法につきましては、<a href="<%= sitepath %>faq/detail/00001648/">こちらのSIMカード版スタートガイドまたはeSIM版スタートガイド</a>を参照ください</li>
                              <li><span>※</span>期限までに<span class="c-Txt_Emp-01">「Rakuten Link」を利用されなかった</span>場合</li>
                              <li><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                              <li><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                              <li><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
                            </ul>
                          </dd>
                        </div>
                        <div>
                          <dt>併用可能キャンペーン</dt>
                          <dd>
                            <p class="c-Txt_Emp-02">以下のキャンペーンは併用可能となります。以下記載のキャンペーン以外は併用不可となります。</p>
                            <p class="u-Adjust_Mt-8 c-Txt_Cap">- 【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼントキャンペーン（キャンペーンコード：1526）</p>
                            <p class="u-Adjust_Mt-8 c-Txt_Cap">- iPhoneアップグレードプログラム適用で5,000ポイント還元キャンペーン（キャンペーンコード：1383）</p>
                            <p class="u-Adjust_Mt-8 c-Txt_Cap">- Androidスマホ割引キャンペーン（キャンペーンコード：1550）</p>
                            <p class="u-Adjust_Mt-8 c-Txt_Cap">- iPhone 13 全機種 & iPhone SE（第3世代）ポイント還元キャンペーン（キャンペーンコード：1551）</p>
                            <p class="u-Adjust_Mt-8 c-Txt_Cap">- 【Rakuten UN-LIMIT VII】データ1GB／月以下だった方限定！プラン料金最大4カ月実質無料キャンペーン（キャンペーンコード：1527）</p>
                            <p class="u-Adjust_Mt-8 c-Txt_Cap">- 【15分（標準）通話かけ放題】料金3カ月無料特典（キャンペーンコード：1525）</p>
                            <p class="u-Adjust_Mt-8 c-Txt_Cap">- 【ショップ限定】対象製品購入でさらにポイント還元キャンペーン（キャンペーンコード：1584）</p>
                            <p class="u-Adjust_Mt-8 c-Txt_Cap">- 【ショップ限定】3Gケータイ乗り換えキャンペーン（キャンペーンコード：1586）</p>
                            <p class="u-Adjust_Mt-8 c-Txt_Cap">- iPhone 14 全機種発売記念キャンペーン（キャンペーンコード：1639）</p>
                            <p class="u-Adjust_Mt-8 c-Txt_Cap">- 【ショップ限定】iPhone SE（第3世代）64GBポイントバックキャンペーン（キャンペーンコード：1629）</p>
                            <p class="u-Adjust_Mt-8 c-Txt_Cap">- iPhone 対象機種ポイント還元キャンペーン（キャンペーンコード：1715）</p>
                          </dd>
                        </div>
                        <div>
                          <dt>併用不可キャンペーン</dt>
                          <dd>
                            <p class="c-Txt_Emp-01">以下のキャンペーンは、<span class="c-Txt_Emp-02">併用不可</span>となります。</p>
                            <p class="c-Txt_Emp-01 u-Adjust_Mt-16">・以下のキャンペーン特典が適用となっている場合、本キャンペーンは対象外になります。</p>
                            <p class="u-Adjust_Mt-8 c-Txt_Cap">- 【岩手県・岡山県・岐阜県・佐賀県 スペシャルキャンペーン】回線のみでOK！Rakuten UN-LIMIT VIIお申し込みで、5,000ポイントプレゼント（1596）</p>
                            <p class="c-Txt_Emp-01 u-Adjust_Mt-16">・本キャンペーンを適用した場合、以下のキャンペーン特典は対象外となります。</p>
                            <p class="u-Adjust_Mt-8 c-Txt_Cap">- 回線契約のみでOK！通常のRakuten UN-LIMIT VIIお申し込み特典に加えて、さらに5,000ポイントプレゼントキャンペーン（キャンペーンコード：1587）</p>
                            <p class="u-Adjust_Mt-8 c-Txt_Cap">- ショップでのご案内限定！回線のみ契約にて、さらに3,000ポイントプレゼント（キャンペーンコード：1611）</p>
                            <p class="u-Adjust_Mt-8 c-Txt_Cap">- キャラバンカー限定！回線のみ契約でさらに3,000ポイントプレゼント（キャンペーンコード：1783）</p>
                          </dd>
                        </div>
                        <div>
                          <dt>注意事項</dt>
                          <dd>
                            <ul class="c-Txt_Cap">
                              <li><span>※</span>　本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                              <li><span>※</span>　本キャンペーンの特典付与進呈対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                              <li><span>※</span>　製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
                              <li><span>※</span>　本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                              <li><span>※</span>　記載の内容は2023年2月10日（金）時点の情報となります</li>
                            </ul>
                          </dd>
                        </div>
                      </dl>
                    </div>
                  </div>
              </section>
            </div>
          </div>
        </div>
      </div>

    <footer class="g-Footer <%= namespace %>-Layout_Footer u-Adjust_Mt-64">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script>
    $(function(){
      var hash = location.search;
      if (hash.indexOf('point-iphone12') > 0) {
        $('html, body').animate({'scrollTop': $('#point2').offset().top}, 300);
        $('#accordion-5').click();
      }
      else if (hash.indexOf('point-iphone13') > 0) {
        $('html, body').animate({'scrollTop': $('#point').offset().top}, 300);
        $('#accordion-3').click();
      }
    });
  </script>
  <%- include('/include/_append-body') %>
  <!-- ReX UX Survey: Config -->
  <script>
  window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
  </script>
  <!-- ReX UX Survey: Script -->
  <script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>
</body>
</html>
