<div class="<%= namespace %>-Hero">
  <div class="<%= namespace %>-Hero_Container">
    <h1>
      <div class="<%= namespace %>-Hero_Container-item">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/shop-limited-mnp/kv-sp-230703.png" width="100%">
          <img src="<%= sitepath %>assets/img/campaign/shop-limited-mnp/kv-pc-230703.png" alt="【ショップ限定】他社からのお乗り換え&回線のみ契約で最大7,000ポイント還元キャンペーン">
        </picture>
      </div>
    </h1>
  </div>
</div>
