<div class="c-Theme-Borderbox">
  <h2 class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンの達成条件</h2>
  <p class="u-Adjust_Mt-16 <%= namespace %>-Util_Align-cl">本キャンペーンには達成条件が設定されています。詳細は各<a href="#campaign-rule" class="c-Link_Txt js-scroll">キャンペーンルール</a>をご確認ください。</p>
  <div class="c-Cpn_Condition-outer u-Adjust_Mt-16 <%= namespace %>-Condition_Box">
    <div class="c-Cpn_Condition-inner-wrapper-2">
      <div class="c-Cpn_Condition-inner-box <%= namespace %>-Condition_Item">
        <div class="<%= namespace %>-Condition_Item-title">
          <p class="c-Heading_Lv4 u-Adjust_Align-center">初めてプランお申し込み</p>
        </div>
        <div>

          <div class="<%= namespace %>-Condition_Item-image">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/shop-limited-mnp/img-condition1-sp-230707.png" width="88">
              <img src="<%= sitepath %>assets/img/campaign/shop-limited-mnp/img-condition1-pc-230707.png" width="88" alt="" loading="lazy">
            </picture>
          </div>
        </div>

        <ul class="c-List_Text-disc u-Adjust_Mt-8 u-Adjust_Align-center" style="margin-bottom: auto;">
          <li>プラン利用開始</li>
          <li>Rakuten Linkで10秒以上通話</li>
        </ul>
        <p class="c-Txt_Emp-02 u-Adjust_Mt-16 u-Adjust_Align-center">【条件の達成期限】<br class="u-Show_Sp">お申し込みの翌月末日23:59まで</p>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
          <picture>
            <source media="(max-width: 834px)" srcset="/assets/img/campaign/shop-limited-mnp/3000p-sp-230707.png" width="100%">
            <img src="/assets/img/campaign/shop-limited-mnp/3000p-pc-230707.png" alt="3,000ポイント還元" width="432" height="76">
          </picture>
        </div>
      </div>

      <div class="c-Cpn_Condition-inner-box <%= namespace %>-Condition_Item">
        <div class="<%= namespace %>-Condition_Item-title">
          <p class="c-Heading_Lv4 u-Adjust_Align-center"><span class="c-Txt_Emp-02">ショップで</span><br class="u-Show_Sp">他社からお乗り換え</p>
        </div>
        <div class="<%= namespace %>-Condition_Item-wrap <%= namespace %>-Condition_Item-wrap-mod-1">
          <div class="<%= namespace %>-Condition_Item-image">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/shop-limited-mnp/img-condition2-sp-230707.png" width="108">
              <img src="<%= sitepath %>assets/img/campaign/shop-limited-mnp/img-condition2-pc-230707.png" width="108" alt="" loading="lazy">
            </picture>
          </div>
          <p class="c-Txt_Cap u-Adjust_Align-center <%= namespace %>-Condition_Item-wrap-mod-2-cap">※製品とセットでのお申し込みや<br>2回線目以降のお申し込みは対象外です。</p>
        </div>

        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
          <picture>
            <source media="(max-width: 834px)" srcset="/assets/img/campaign/shop-limited-mnp/4000p-sp-230707.png" width="100%">
            <img src="/assets/img/campaign/shop-limited-mnp/4000p-pc-230707.png" alt="4,000ポイント還元" width="432" height="76">
          </picture>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="u-Adjust_Align-center u-Adjust_Mt-48">
      <picture>
        <source media="(max-width: 834px)" srcset="/assets/img/campaign/shop-limited-mnp/7000p-sp-230707.png" width="100%" height="auto">
        <img src="/assets/img/campaign/shop-limited-mnp/7000p-pc-230707.png" alt="7,000ポイント還元" width="100%" height="auto">
      </picture>
    </div>

    <div class="u-Adjust_Mt-48 u-Adjust_Align-center">
      <a href="#campaign-step" class="js-scroll c-Link_Txt-inline-icon"><span class="c-Icon_Arrow-down-l"></span>最大7,000ポイント達成の流れはこちら</a>
    </div>

  </div>
  <div class="u-Adjust_Mt-24">
    <h3 class="c-Heading_Lv3 u-Adjust_Align-center">キャンペーンの達成状況はこちらで確認</h3>
    <div class="c-Accordion-emp u-Adjust_Mt-16">
      <button type="button" id="accordion-condition-1" class="c-Accordion-emp_Trigger js-Accordion_Trigger u-Adjust_Align-center <%= namespace %>-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-condition-1-content">
        <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
        <span class="c-Accordion-emp_Trigger-txt">達成状況の確認方法</span>
      </button>
      <div id="accordion-condition-1-content" class="c-Accordion-emp_Panel-normal js-Accordion_Panel" role="region" aria-labelledby="accordion-condition-1" aria-hidden="true" style="display: none;">
        <h4 class="c-Heading_Lv4">達成状況の確認方法</h4>
        <ol class="u-Adjust_Mt-16">
          <li>
            <p class="c-Txt_Emp-01">1. 「<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile?l-id=campaign_shop-limited-byod_my-rakuten-mobile_accordion" class="c-Link_Txt">my 楽天モバイル</a>」にアクセス</p>
          </li>
          <li class="u-Adjust_Mt-32">
            <p class="c-Txt_Emp-01">2. 右上のメニューから「利用状況」を選択</p>
            <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/common/img-cap01-230601-0000.png" width="600" height="592">
                <img src="<%= sitepath %>assets/img/campaign/common/img-cap01-230601-0000.png" width="300" height="296" alt="" loading="lazy">
              </picture>
            </div>
          </li>
          <li class="u-Adjust_Mt-32">
            <p class="c-Txt_Emp-01">3. 「通話」タブを選択して<span class="c-Txt_Emp-02">Rakuten Linkでの10秒以上の発信通話履歴</span>があることを確認してください</p>
            <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/common/img-cap02.png?220720" width="600" height="399">
                <img src="<%= sitepath %>assets/img/campaign/common/img-cap02.png?220720" width="300" height="200" alt="" loading="lazy">
              </picture>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
