<% const pagetitle = "【ショップ限定】他社からのお乗り換え&回線のみ契約で最大7,000ポイント還元！" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "shop-limited-mnp" -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルショップ限定！お持ちのスマホそのまま、楽天モバイルに初めて申し込むと最大7,000ポイントが還元されるキャンペーンです。ぜひ、お近くの楽天モバイルショップへお越しください。',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<%- include('/inc/_about-rakuten-mobile-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/<%= namespace %>/<%= namespace %>.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="l-System_Container <%= namespace %>-Label">
  <ul class="c-Label_List">
    <li class="c-Label_Normal <%= namespace %>-Label_Item">ショップ申し込み限定</li>
    <li class="c-Label_Normal <%= namespace %>-Label_Item">初めて申込限定</li>
    <li class="c-Label_Normal <%= namespace %>-Label_Item">Rakuten Link利用必要</li>
  </ul>
  <p class="<%= namespace %>-Label_Comment">ポイント：付与日を含めて6カ月の期間限定ポイント</p>
</div>

<section>
  <%- include('./_part-hero', { namespace }) %>
  <div class="l-System_Container u-Adjust_Mt-8">
    <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-48 u-Adjust_Align-center">
      本キャンペーンは2023年8月31日閉店をもちまして終了いたしました。<br>このページに掲載されている情報は、キャンペーン終了時点のものです。
    </p>

    <p class="c-Txt_Cap">
      <span class="c-Txt_Emp-02">※「Rakuten最強プラン（データタイプ）」は対象外です。</span> ※ データタイプのご契約が過去にある場合は対象外です。 ※ 製品によって一部機能が利用できない場合があります。詳しくは<a href="<%= sitepath %>product/byod/?l-id=campaign_shop_imited_byod_product_byod" class="c-Link_Txt">こちら</a>をご確認ください<br>
    </p>
  </div>
</section>

<section class="u-Adjust_Mt-24">
  <div class="l-System_Container">
    <%- include('./_part-navi', { namespace }) %>
  </div>
</section>

<section class="u-Adjust_Mt-24">
  <div class="l-System_Container">
    <%- include('./_part-condition', { namespace }) %>
  </div>
</section>

<section class="u-Adjust_Mt-64">
  <div class="<%= namespace %>-Layout_Pink">
    <div class="l-System_Container">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/shop-limited-mnp/img-balloon-sp.png" width="288" height="36">
        <img class="<%= namespace %>-Layout_Pink-balloon" src="<%= sitepath %>assets/img/campaign/shop-limited-mnp/img-balloon-pc.png" width="350" height="39" alt="データ移行の必要なし" loading="lazy">
      </picture>
      <h2 class="c-Txt_Normal-ll c-Txt_Emp-02 u-Adjust_Align-center">お持ちのスマホを<br class="u-Show_Oox">そのままご利用ただけます!</h2>
      <div class="u-Adjust_Align-center u-Adjust_Mt-16">
        <img src="<%= sitepath %>assets/img/campaign/shop-limited-mnp/sim.png" width="350" alt="" loading="lazy">
      </div>
      <p class="<%= namespace %>-Util_Align-celnter-left u-Adjust_Mt-16">
        楽天モバイルのSIMをお申し込みいただき、いまお使いのスマートフォンのSIMを楽天モバイルのSIMに交換することで、<br class="u-Show_Xoo">楽天モバイルの「Rakuten最強プラン」のご利用が可能になります。
      </p>

      <% const staffTxt1 = '楽天モバイルショップ<br class="u-Show_Oox">で店舗スタッフが<br class="u-Show_Oox">お乗り換えサポート' %>
      <% const staffTxt2 = 'お客様のご質問にお答えしながら安心してお乗り換えいただくサポートをさせていただきます。' %>

      <div class="l-Media_Grid-small u-Adjust_Mt-24 <%= namespace %>-Layout_Pink-staff">
        <div class="<%= namespace %>-Layout_Pink-staff-l l-Media_Image">
          <img src="<%= sitepath %>assets/img/campaign/shop-limited-mnp/staff.png" width="171" alt="" loading="lazy">
          <p class="u-Adjust_Align-center c-Txt_Emp-02 <%= namespace %>-Layout_Pink-staff-txt u-Show_Oox"><%- staffTxt1 %></p>
        </div>
        <div class="<%= namespace %>-Layout_Pink-staff-r">
          <p class="u-Adjust_Align-center c-Txt_Emp-02 <%= namespace %>-Layout_Pink-staff-txt u-Show_Xxo"><%- staffTxt1 %></p>
          <p class="u-Adjust_Mt-16 u-Show_Xxo u-Adjust_Align-center"><%= staffTxt2 %></p>
        </div>
        <p class="u-Adjust_Mt-16 u-Show_Oox"><%= staffTxt2 %></p>
      </div>
    </div>
  </div>

  <div id="campaign-step" class="l-System_Container">
    <h2 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-48">ポイント進呈の流れ</h2>
    <div class="c-Accordion-emp <%= namespace %>-Step_Item">
      <button type="button" id="accordion-emp-1" class="c-Accordion-emp_Trigger js-Accordion_Trigger <%= namespace %>-Step_Item-btn <%= namespace %>-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-emp-1-content">
        <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
        <h3 class="<%= namespace %>-Step_Item-btn-title">
          <span class="c-Accordion-emp_Num <%= namespace %>-Step_Item-btn-num">STEP 1</span><span class="c-Accordion-emp_Trigger-txt <%= namespace %>-Step_Item-btn-text">楽天モバイル対応製品の確認</span>
        </h3>
      </button>
      <div id="accordion-emp-1-content" class="c-Accordion-emp_Panel-step js-Accordion_Panel <%= namespace %>-Accordion_Content" role="region" aria-labelledby="accordion-emp-1" aria-hidden="true" style="display: none;">
        <div class="l-Media_Grid">
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/campaign/shop-limited-mnp/step-1.png" alt="">
          </div>
          <div>
            <p>お持ちの製品が楽天モバイル対応であることを下記ページでご確認ください。</p>
            <a class="c-Btn_Regular u-Adjust_Mt-16" href="<%= sitepath %>product/byod/?l-id=campaign_shop_imited_mnp_product_byod"><span>ご利用製品の対応状況確認</span></a>
          </div>
        </div>
        <div class="l-Media_Grid c-Theme-Borderbox u-Adjust_Mt-24">
          <div class="l-Media_Image">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/shop-limited-byod/img-step1.png" width="400" height="240">
              <img src="<%= sitepath %>assets/img/campaign/shop-limited-byod/img-step1.png" width="200" height="120" alt="" loading="lazy">
            </picture>
          </div>
          <div>
            <h4 class="c-Heading_Lv4">SIMロック解除の手続きを行う</h4>
            <ul class="u-Adjust_Mt-16">
              <li class="c-Txt_Cap"><span>※</span>NTTドコモ、au、ソフトバンクなど他の携帯電話会社でご契約されていた製品は、その会社でしか利用できないよう「SIMロック」がかけられています。 <span class="c-Txt_Emp-02">SIMロックがかかっているか確認するには、現在契約中の携帯電話会社へお問い合わせください。</span>SIMロック解除の必要がない場合、次の手順にお進みください。</li>
              <li class="c-Txt_Cap"><span>※</span>楽天モバイル（ドコモ回線/au回線）からプラン変更（移行）のお客様は、SIMロック解除手続き不要です。</li>
              <li class="c-Txt_Cap"><span>※</span>SIMロック解除方法が分からない場合は、そのままご来店ください。店頭でサポートいたします。</li>
            </ul>
            <div class="<%= namespace %>-Layout_Links-1 u-Adjust_Mt-16">
              <a href="https://www.docomo.ne.jp/support/unlock_simcard/" class="c-Link_Txt-inline" target="_blank">docomo SIMロック解除手続き<span class="c-Icon_Chevron-right"></span></a>
              <a href="https://www.au.com/support/service/mobile/procedure/simcard/unlock/" class="c-Link_Txt-inline" target="_blank">au SIMロック解除手続き<span class="c-Icon_Chevron-right"></span></a>
              <a href="https://www.softbank.jp/mobile/support/usim/unlock_procedure/" class="c-Link_Txt-inline" target="_blank">ソフトバンク SIMロック解除手続き<span class="c-Icon_Chevron-right"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="c-Accordion-emp <%= namespace %>-Step_Item">
      <button type="button" id="accordion-emp-2" class="c-Accordion-emp_Trigger js-Accordion_Trigger <%= namespace %>-Step_Item-btn <%= namespace %>-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-emp-2-content">
        <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
        <h3 class="<%= namespace %>-Step_Item-btn-title">
          <span class="c-Accordion-emp_Num <%= namespace %>-Step_Item-btn-num">STEP 2</span><span class="c-Accordion-emp_Trigger-txt <%= namespace %>-Step_Item-btn-text">ショップ来店予約</span>
        </h3>
      </button>
      <div id="accordion-emp-2-content" class="c-Accordion-emp_Panel-step js-Accordion_Panel <%= namespace %>-Accordion_Content" role="region" aria-labelledby="accordion-emp-2" aria-hidden="true" style="display: none;">
        <div class="l-Media_Grid">
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/campaign/shop-limited-mnp/step-2.png" alt="">
          </div>
          <div>
            <p>各ショップページの<span class="c-Txt_Emp-01">「来店予約」</span>ボタンよりご予約ください。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-16">
              ※ 来店予約がない場合もご案内可能ですが、順番でのご案内となります。<br>
              ※ショップページに「来店予約」ボタンがないショップでは、来店予約を行っておりません。ご了承ください。
            </p>
            <div class="u-Adjust_Mt-16">
              <a href="<%= sitepath %>shop/?l-id=campaign_shop-mnp_shop_02" class="c-Btn_Primary-large">お近くのショップを探す・来店予約</a>
            </div>
          </div>
        </div>
        <div class="l-Media_Grid c-Theme-Borderbox u-Adjust_Mt-24">
          <div class="l-Media_Image">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/shop-limited-byod/img-step1.png" width="400" height="240">
              <img src="<%= sitepath %>assets/img/campaign/shop-limited-byod/img-step2.png" width="200" height="120" alt="" loading="lazy">
            </picture>
            </div>
            <div>
              <h3 class="c-Heading_Lv4">お申し込みに必要なもの</h3>
            <ul class="c-List_Text-disc byod-List_Narrow u-Adjust_Mt-8">
              <li>
                <a href="<%= sitepath %>guide/verify/?l-id=campaign_shop-limited-byod_guide_verify" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a>
              </li>
              <li>
                楽天会員ID、パスワード
              </li>
              <li>
                <a href="<%= sitepath %>guide/payment/?l-id=campaign_shop-limited-mnp_guide_payment" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
              </li>
              <li>
                <a href="<%= sitepath %>guide/mnp/?l-id=campaign_shop-limited-mnp_guide_mnp" class="c-Link_Txt-inline">MNP予約番号<span class="c-Icon_Chevron-right"></span></a>
              </li>
            </ul>
            <p class="c-Txt_Cap u-Adjust_Mt-8">
              ※<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_shop-limited-mnp_flow_for-minors" class="c-Link_Txt byod-Layout_Body-txt-link">未成年の方のお申し込み方法はこちら</a>
            </p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap">※ ショップでのお手続きは、ワンストップ対象の他社からの転入であっても、MNP予約番号を取得のうえ、ご来店ください。</p>
          </div>
        </div>
      </div>
    </div>

    <div class="c-Accordion-emp <%= namespace %>-Step_Item">
      <button type="button" id="accordion-emp-3" class="c-Accordion-emp_Trigger js-Accordion_Trigger <%= namespace %>-Step_Item-btn <%= namespace %>-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-emp-3-content">
        <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
        <h3 class="<%= namespace %>-Step_Item-btn-title">
          <span class="c-Accordion-emp_Num <%= namespace %>-Step_Item-btn-num">STEP 3</span><span class="c-Accordion-emp_Trigger-txt <%= namespace %>-Step_Item-btn-text">ショップでお申し込み＆プラン利用開始</span>
        </h3>
      </button>
      <div id="accordion-emp-3-content" class="c-Accordion-emp_Panel-step js-Accordion_Panel <%= namespace %>-Accordion_Content" role="region" aria-labelledby="accordion-emp-3" aria-hidden="true" style="display: none;">
        <div class="l-Media_Grid">
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/campaign/shop-limited-mnp/step-3.png" alt="">
          </div>
          <div>
            ショップにて店舗スタッフの案内に従い、プランの利用を開始してください。
          </div>
        </div>
      </div>
    </div>


    <div class="c-Accordion-emp <%= namespace %>-Step_Item">
      <button type="button" id="accordion-emp-4" class="c-Accordion-emp_Trigger js-Accordion_Trigger <%= namespace %>-Step_Item-btn <%= namespace %>-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-emp-4-content">
        <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
        <h3 class="<%= namespace %>-Step_Item-btn-title">
          <span class="c-Accordion-emp_Num <%= namespace %>-Step_Item-btn-num">STEP 4</span><span class="c-Accordion-emp_Trigger-txt <%= namespace %>-Step_Item-btn-text">Rakuten Linkアプリから発信で10秒以上通話</span>
        </h3>
      </button>
      <div id="accordion-emp-4-content" class="c-Accordion-emp_Panel-step js-Accordion_Panel <%= namespace %>-Accordion_Content" role="region" aria-labelledby="accordion-emp-4" aria-hidden="true" style="display: none;">
        <div class="l-Media_Grid">
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/campaign/shop-limited-mnp/step-4.png" alt="">
          </div>
          <div>
            <h4 class="c-Heading_Lv4 u-Adjust_Mt-8 c-Txt_Emp-01">期限：プランお申し込みの翌月末日23:59まで</h4>
            <p class="c-Txt_Cap u-Adjust_Mt-16">
              ※（0180）（0570）などから始まる他社接続サービス、一部特番（188）への通話については、無料通話の対象外となります。<a class="c-Link_Txt" href="<%= sitepath %>terms/pdf/rakuten_mobile_exception_number_list.pdf">対象外番号一覧</a>をご確認ください<br>
              <span class="c-Txt_Emp-02">※ 楽天回線対応のモバイルルーターで使用されるためにお申し込みいただいた場合は、「Rakuten Link」のご利用は必要ございません。</span>
            </p>
            <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>service/rakuten-link/?l-id=campaign_shop-limited-mnp_service_rakuten-link" class="c-Link_Txt-inline">Rakuten Linkアプリの詳細<span class="c-Icon_Chevron-right"></span></a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="c-Theme-Borderbox <%= namespace %>-Theme_Primary <%= namespace %>-List_Plus">
      <div class="l-Media_Grid">
        <div class="l-Media_Image u-Show_Xxo">
          <img src="<%= sitepath %>assets/img/campaign/esim-ekyc/img-esim-ekyc-14-230602.png" alt="Rakuten POINT">
        </div>
        <div>
          <h3 class="<%= namespace %>-Card_Title"><span class="<%= namespace %>-Card_Title-vertical">最大</span><span class="<%= namespace %>-Card_Title-txt">7<span class="<%= namespace %>-Card_Title-comma">,</span>000</span><b><span>の</span>ポイント還元！</b></h3>
          <div class="u-Adjust_Mt-8 l-Media_Image u-Show_Oox">
            <img src="<%= sitepath %>assets/img/campaign/esim-ekyc/img-esim-ekyc-14-230602.png" alt="Rakuten POINT">
          </div>
          <p class="u-Adjust_Mt-8">
            期間限定ポイントとして最大7,000ポイントを進呈いたします。
          </p>
          <p class="c-Txt_Cap u-Adjust_Mt-8">※うち3,000ポイントを条件達成の翌々月末日頃に、4,000ポイントを条件達成の確認後、プランお申し込み日の4カ月後の末日頃に期間限定ポイントとして進呈いたします。</p>
        </div>
      </div>
      <ul class="<%= namespace %>-Flow_Card u-Adjust_Mt-16">
        <li class="<%= namespace %>-Flow_Card_Item">
          <h4 class="c-Heading_Lv4">初めてのプラン申し込みで</h4>
          <p class="<%= namespace %>-Flow_Card_Point-area_Txt">
            3<span class="<%= namespace %>-Flow_Card_Point-area_Txt-comma">,</span>000<span class="<%= namespace %>-Flow_Card_Point-area_Txt-small">ポイント</span>
          </p>
          <p>
            <a href="#campaign-rule1526" class="c-Link_Txt-icon-front js-scroll <%= namespace %>-Utility_Inline-center"><span class="c-Icon_Arrow-down-l"></span>詳しくはこちら</a>
          </p>
        </li>
        <li class="<%= namespace %>-Flow_Card_Item">
          <h4 class="c-Heading_Lv4">ショップで他社から乗り換え</h4>
          <p class="<%= namespace %>-Flow_Card_Point-area_Txt">
            4<span class="<%= namespace %>-Flow_Card_Point-area_Txt-comma">,</span>000<span class="<%= namespace %>-Flow_Card_Point-area_Txt-small">ポイント</span>
          </p>
          <p>
            <a href="#campaign-rule1979" class="c-Link_Txt-icon-front js-scroll <%= namespace %>-Utility_Inline-center"><span class="c-Icon_Arrow-down-l"></span>詳しくはこちら</a>
          </p>
        </li>

      </ul>
    </div>
    <div class="u-Adjust_Mt-48">
      <a href="<%= sitepath %>campaign/referral/?l-id=campaign_shop-limited-mnp_campaign_referral" class="c-Banner_Hover-act">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/bnr/bnr-referral-343-108-230616.png">
          <img src="<%= sitepath %>assets/img/bnr/bnr-referral-1032-160-230220.png" alt="楽天モバイル紹介キャンペーン ご家族・ご友人に楽天モバイルを紹介すると1人につき7,000円相当ポイントプレゼント！ ※Rakuten Linkアプリ利用条件あり※最大人数は1ヵ月あたり10人まで 紹介された方にも3,000ポイントプレゼント！※本キャンペーンでの初めてのお申し込みで">
        </picture>
      </a>
    </div>
  </div>
</section>

<section class="u-Adjust_Mt-64">
  <div class="l-System_Container">
    <%- include('/inc/_saikyo', { namespace }) %>
  </div>
</section>

<section class="u-Bg_Monotone97 u-Adjust_Mt-64 u-Adjust_Py-48">
  <%- include('/inc/_about-rakuten-mobile', { baseLId: 'campaign_shop-limited-byod' }) %>
</section>

<section class="u-Adjust_Mt-64">
  <div class="l-System_Container">
    <%- include('/include/_bnr-cpn-recommend-v2') %>
  </div>
</section>

<div id="campaign-rule" class="u-Adjust_Mt-64">
  <div class="l-System_Container">
    <div class="<%= namespace %>-Layout_Rule">

      <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1526', level: 'h2', year: '2023', class: '' }}) %>

      <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1979', level: 'h2', year: '2023', class: 'u-Adjust_Mt-64', comments: '<p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-32 u-Adjust_Align-center">本キャンペーンは2023年8月31日閉店をもちまして終了いたしました。<br>このページに掲載されている情報は、キャンペーン終了時点のものです。</p>' }}) %>

    </div>
  </div>
</div>

<!-- ReX UX Survey: Mounting point for embedded components -->
<div id="rexSurveyEmbedded" class="rexSurveyNamespace u-Adjust_Mt-64"></div>

<footer class="g-Footer">
  <div class="g-Footer_Aside">
  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>
</div>

<%- include('/include/_common-js') %>
<!-- <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script> -->
<%- include('/include/_append-body') %>
<!-- ReX UX Survey: Config -->
<script>
  window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
</script>
<!-- ReX UX Survey: Script -->
<script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>
</body>
</html>
