<% const pagetitle = "電話番号シェアサービス ペアリング・初期設定方法" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/iphone/initial-setting/", label:"初期設定（iPhone・Apple Watch）"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルでApple Watchを利用する際の初期設定方法と、iPhoneとのペアリング設定方法をご案内します。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "電話番号シェアサービス ペアリング・初期設定方法" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/apple-watch/apple-watch-recommend/product-apple-watch-recommend.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/number-share/guide-number-share.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="l-System_Container u-Adjust_Pb-64">
  <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-right">※表記の金額はすべて税込です。</p>
  <h1 class="c-Heading_Lv1 u-Adjust_Mt-8"><%= pagetitle %></h1>
  <p class="u-Adjust_Mt-16">
    Apple Watchの初期設定方法と、iPhoneとApple Watchのペアリング設定方法をご案内します。
  </p>
  <p class="u-Adjust_Mt-16">
    Apple Watch ファミリー共有の設定は「<a href="<%= sitepath %>guide/setting/apple-watch-family-sharing/">Apple Watch ファミリー共有 ペアリング・初期設定方法</a>」をご確認ください。
  </p>
  <p class="c-Txt_Cap u-Adjust_Mt-8">
    ※楽天モバイルでApple Watchを利用するには、<span class="c-Txt_Emp-02">iPhoneを必ず最新のiOSにアップデートしてください。</span>iOSアップデート完了後に<span class="c-Txt_Emp-02">「キャリア設定アップデート」のポップアップが表示された場合は、必ずアップデートを行ってください。</span><br>
    <a class="c-Link_Txt" href="<%= sitepath %>faq/detail/10000062/">iOSアップデート方法</a><br>
    <a class="c-Link_Txt" href="<%= sitepath %>faq/detail/10000360">キャリアアップデート方法</a><br>
    ※Apple Watchを充電器に接続して、バッテリーが50％以上ある状態で設定を行ってください。<br>
    ※iOSのバージョンにより画面が異なる場合がございます。
  </p>
  <div class="guide-number-share-Layout_Anchor u-Adjust_Mt-32">
    <a href="#anc-1" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>ペアリング設定方法</a>
    <a href="#anc-2" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>Apple Watchの初期設定方法</a>
  </div>


  <h2 class="c-Txt_Normal-ll u-Adjust_Mt-32" id="anc-1">ペアリング設定方法</h2>
  <p class="u-Adjust_Mt-16">
    Apple Watchを使用するためには、お持ちのiPhoneとペアリングする必要があります。<br>
    ぺアリングすることでApple Watch のデータは、Apple WatchとペアリングしているiPhone にバックアップされます。
  </p>

  <ol class="c-Flow u-Adjust_Mt-32">
    <li>
      <h3 class="c-Heading_Lv3">1. 「Watch」アプリを起動する</h3>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center guide-number-share-Layout">
        <img src="<%= sitepath %>assets/img/guide/apple-watch-setting/flow-1-1.png" alt="" class="c-Img_Capture">
      </p>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">2. 「ペアリングを開始」をタップし、「自分用に設定」をタップする</h3>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center guide-number-share-Layout_Flow-img-2 guide-number-share-Layout">
        <img src="<%= sitepath %>assets/img/guide/apple-watch-setting/flow-2-1.png" alt="" class="c-Img_Capture">
        <img src="<%= sitepath %>assets/img/guide/apple-watch-setting/flow-2-2.png" alt="" class="c-Img_Capture">
      </p>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">3. iPhoneとのペアリングを開始する</h3>
      <p class="u-Adjust_Mt-16">iPhoneの画面に表示される枠内に、Apple Watchがおさまるようにカメラを向けてください。その後ペアリングが開始されます。</p>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center guide-number-share-Layout">
        <img src="<%= sitepath %>assets/img/guide/apple-watch-setting/flow-3-1.png" alt="" class="c-Img_Capture">
      </p>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">4. 「Apple Watchを設定」をタップする</h3>
      <p class="u-Adjust_Mt-16">「Apple Watchのペアリングが完了しました」と表示されたら、「Apple Watchを設定」をタップしてください。</p>
      <p class="c-Txt_Cap">
        ※バックアップから復元する場合は、<a href="https://support.apple.com/ja-jp/guide/watch/apdaa8cc32e8/watchos" class="c-Link_Txt">こちら</a>をご確認ください。<br>
        ※watchOSのアップデートの案内が表示された場合は、案内に従ってアップデートを行ってください。
      </p>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center guide-number-share-Layout">
        <img src="<%= sitepath %>assets/img/guide/apple-watch-setting/flow-4-1.png" alt="" class="c-Img_Capture">
      </p>
    </li>
  </ol>
  <p class="u-Adjust_Mt-16">
    以上でペアリングの設定完了です。<br>
    引き続きApple Watchの初期設定を行ってご利用ください。
  </p>
  <h2 class="c-Txt_Normal-ll u-Adjust_Mt-32" id="anc-2">Apple Watchの初期設定方法</h2>
  <p class="u-Adjust_Mt-16">
    Apple Watchを使用するためには、お持ちのiPhoneとペアリングする必要があります。まずは<a href="#anc-1" class="c-Link_Txt">ペアリング</a>設定を完了してから初期設定を行ってください。<br>
    <span class="c-Txt_Emp-02">また、watchOSを最新にアップデートしたうえで、必要に応じて各機能の設定を進めてください。</span>
  </p>
  <ol class="c-Flow u-Adjust_Mt-32">
    <li>
      <h3 class="c-Heading_Lv3">1. 装着する腕を選択する</h3>
      <p class="u-Adjust_Mt-16">
        Apple Watchを装着する腕（「左」または「右」）を選択し、「続ける」をタップしてください。
      </p>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center guide-number-share-Layout">
        <img src="<%= sitepath %>assets/img/guide/apple-watch-setting/flow-5-1.png" alt="" class="c-Img_Capture">
      </p>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">2. 利用規約に同意する</h3>
      <p class="u-Adjust_Mt-16">
        利用規約の内容を確認し、「同意する」をタップしてください。
      </p>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center guide-number-share-Layout">
        <img src="<%= sitepath %>assets/img/guide/apple-watch-setting/flow-6-1.png" alt="" class="c-Img_Capture">
      </p>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">3. Siriの使用を設定する</h3>
      <p class="u-Adjust_Mt-16">
        Apple WatchでのSiriの使用有無を選択してください。
      </p>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center guide-number-share-Layout">
        <img src="<%= sitepath %>assets/img/guide/apple-watch-setting/flow-7-1.png" alt="" class="c-Img_Capture">
      </p>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">4. 共有設定に同意する</h3>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center guide-number-share-Layout">
        <img src="<%= sitepath %>assets/img/guide/apple-watch-setting/flow-8-1.png" alt="" class="c-Img_Capture">
      </p>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">5. パスコードの作成を選択する</h3>
      <p class="u-Adjust_Mt-16">
        Apple Watchのパスコード作成画面が表示されます。セキュリティ強化のため、パスコードを設定すると安心してご利用いただけます。
      </p>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center guide-number-share-Layout">
        <img src="<%= sitepath %>assets/img/guide/apple-watch-setting/flow-9-1.png" alt="" class="c-Img_Capture">
      </p>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">6. アクティビティを設定する</h3>
      <p class="u-Adjust_Mt-16">
        Apple Watchのアクティビティの設定をします。ここでは「この手順をスキップ」をタップします。
      </p>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center guide-number-share-Layout">
        <img src="<%= sitepath %>assets/img/guide/apple-watch-setting/flow-10-1.png" alt="" class="c-Img_Capture">
      </p>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">7. 自動アップデートを設定する</h3>
      <p class="u-Adjust_Mt-16">
        Apple Watchの自動アップデートの設定をします。ここでは「続ける」をタップします。
      </p>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center guide-number-share-Layout">
        <img src="<%= sitepath %>assets/img/guide/apple-watch-setting/flow-11-1.png" alt="" class="c-Img_Capture">
      </p>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">8. 緊急通知サービスを確認する</h3>
      <p class="u-Adjust_Mt-16">
        緊急SOSについて、内容をご確認のうえ、「続ける」をタップします。
      </p>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center guide-number-share-Layout">
        <img src="<%= sitepath %>assets/img/guide/apple-watch-setting/flow-12-1.png" alt="" class="c-Img_Capture">
      </p>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">9. モバイル通信設定をする</h3>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>service/number-share/" class="c-Link_Txt">電話番号シェアサービス</a>をご利用の場合は、「モバイル通信を設定」をタップして、<a href="<%= sitepath %>guide/number-share/#step-4" class="c-Link_Txt">お申し込み方法のSTEP4</a>に進んでください。<br>
        <a href="<%= sitepath %>faq/detail/10000391" class="c-Link_Txt">「Rakutenは現在Apple Watchに対応していません。」というメッセージが表示された場合</a>、機内モードのON/OFF、または電源の入れ直しを行ってください。
      </p>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center guide-number-share-Layout">
        <img src="<%= sitepath %>assets/img/guide/apple-watch-setting/flow-13-1.png" alt="" class="c-Img_Capture">
      </p>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">10. 「続ける」をタップする</h3>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center guide-number-share-Layout">
        <img src="<%= sitepath %>assets/img/guide/apple-watch-setting/flow-14-1.png" alt="" class="c-Img_Capture">
      </p>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">11. 利用可能なAppをインストールする</h3>
      <p class="u-Adjust_Mt-16">
        必要に応じて、iPhoneにインストールされているAppをApple Watchにインストールしてください。
      </p>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center guide-number-share-Layout">
        <img src="<%= sitepath %>assets/img/guide/apple-watch-setting/flow-15-1.png" alt="" class="c-Img_Capture">
      </p>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">12. Appの表示を選択する</h3>
      <p class="u-Adjust_Mt-16">
        好みの表示を選択し、「続ける」をタップしてください。
      </p>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center guide-number-share-Layout">
        <img src="<%= sitepath %>assets/img/guide/apple-watch-setting/flow-16-1.png" alt="" class="c-Img_Capture">
      </p>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">13. Apple Watchと同期する</h3>
      <p class="u-Adjust_Mt-16">
        iPhoneとApple Watchの同期が開始されますので、同期が完了するまでお待ちください。
      </p>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center guide-number-share-Layout">
        <img src="<%= sitepath %>assets/img/guide/apple-watch-setting/flow-17-1.png" alt="" class="c-Img_Capture">
      </p>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">14. 初期設定完了</h3>
      <p class="u-Adjust_Mt-16">
        「ようこそApple Watchへ」の画面が表示されたら初期設定は完了です。「OK」をタップしてご利用ください。
      </p>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center guide-number-share-Layout">
        <img src="<%= sitepath %>assets/img/guide/apple-watch-setting/flow-18-1.png" alt="" class="c-Img_Capture">
      </p>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">15. 機内モードをON・OFFし、アンテナマークが表示されることを確認する。</h3>
      <p class="u-Adjust_Mt-16">
        Apple WatchとペアリングをしているiPhoneで機内モードのON・OFFを行ってください。
      </p>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center guide-number-share-Layout">
        <img src="<%= sitepath %>assets/img/guide/apple-watch-setting/flow-19-1.png" alt="" style="width: 300px; height: auto;">
      </p>
    </li>
  </ol>
  <p class="u-Adjust_Mt-16">
    以上で初期設定は完了です。
  </p>
  <div class="u-Adjust_Pt-64">
    <div><a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップにもどる</span></a></div>
    <div class="u-Adjust_Mt-16"><a href="<%= sitepath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a></div>
  </div>

  <%- /* Apple Watchを使うなら楽天モバイルがおすすめ */ include('/include/product/apple-watch/_recommend-product-apple-watch', {
    tradeinProduct: 'Watch 7 Hermes 45mm - GPS+Cellular - Stainless',
    tradeinProductDetail: 'Watch 7 Hermes - 45mm（GPS+Cellular）ステンレスケース',
    tradeinPrice: '27,500',
    currentDir: 'apple-watch-setting',
    date: '2023年12月22日時点',
  }) _%>

</div>

<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">
  <div class="g-Footer_Aside">
    <%- include('/include/footer/bnr/_bnr.ejs') %>
  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>

</body>
</html>
