


<% const pagetitle = 'スマートフォン売れ筋ランキング' -%>
<% const directories = [{path:"product/", label:"製品"}] -%>
<% const namespace = 'product-ranking' -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルで販売しているスマートフォンランキングです。各機種の特長もまとめているので自分にあったスマートフォンを探せます。',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/ranking/ranking.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>

  <%- include('/include/_prepend-body') %>

<div class="l-System">

  <%- include('/include/_header') %>

  <div class="c-Breadcrumbs_Head">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <div class="l-System_Container">
    <p class="c-Txt_Cap u-Adjust_Align-right u-Adjust_Mt-8">※表記の金額はすべて税込です。</p>
    <h1 class="c-Heading_Lv1 u-Adjust_Mt-8"><%= pagetitle %></h1>
    <p class="u-Adjust_Mt-16">各機種の特長をまとめた楽天モバイルの売れ筋ランキング！自分にあったスマートフォンが探せます。</p>
  </div>

  <div class="c-Theme-Light u-Adjust_Mt-40 u-Adjust_Pl-0 u-Adjust_Pr-0 u-Adjust_Pb-48">
    <div class="l-System_Container">
      <div id="ranking-list"><%#
        vue rendering area
        - src/vue/product/ranking/RankingList.vue
        - src/csv/device-ranking.csv
        - src/csv/device-iphone.csv
        - src/csv/device-top.csv
        - src/csv/device-rakuten.csv
      _%></div>

      <div id="cap-block" class="u-Adjust_Mt-32">
        <p class="c-Txt_Cap">※1 割賦金算出時の端数分について、毎月の月額料金に含めて、あるいは最終月の月額料金に含めて、請求させていただきます。<a href="<%= sitepath %>service/replacement-program/?l-id=product_ranking_service_replacement-program" class="c-Link_Txt">楽天モバイル買い替え超トクプログラム</a>の仕様上、支払回数を48回と記載していますが、25カ月目以降、新しい製品への機種変更及び解約が可能となり、当社指定条件を満たし製品をご返却いただいた場合、残りのお支払いは不要です。機種変更の際には、事務手数料3,300円をご請求させていただきます。</p>
        <p class="c-Txt_Cap">※当社が回収する製品が当社指定の状態を満たさない場合、故障費用22,000円（不課税）のお支払いが必要となる、または当社が回収できない場合があります。 詳細を必ずご確認ください。</p>
        <p class="c-Txt_Cap u-Adjust_Pt-8">※2 キャンペーンの詳細は<a href="<%= sitepath %>campaign/iphone-point/#detail" class="c-Link_Txt">こちら</a>。</p>
        <p class="c-Txt_Cap u-Adjust_Pt-8">※3 「<a href="<%= sitepath %>campaign/start-point/#campaign-rule2006" class="c-Link_Txt">「Rakuten最強プラン」＋対象のAndroid製品ご購入でポイント還元キャンペーン</a>」適用時。</p>
        <p class="c-Txt_Cap u-Adjust_Pt-8">※4 「<a href="<%= sitepath %>campaign/start-point/#campaign-rule2091" class="c-Link_Txt">【Rakuten最強プランはじめてお申し込み特典】他社から乗り換えでポイントプレゼント</a>」適用時。</p>
        <p class="c-Txt_Cap u-Adjust_Pt-8">※5 「<a href="<%= sitepath %>campaign/android-discount/#campaign-rule2178" class="c-Link_Txt">【Android対象製品限定】特価キャンペーン</a>」適用時。</p>
        <p class="c-Txt_Cap u-Adjust_Pt-8">※ キャンペーンによってポイントの付与時期・有効期間が異なり、分割して付与されるポイントもございます。必ずキャンペーンの詳細をご確認ください。</p>
        <p class="c-Txt_Cap u-Adjust_Pt-8">※ 楽天カード以外のクレジットカードで24回払いを選択した場合、分割手数料が発生します。</p>
        <p class="c-Txt_Cap u-Adjust_Pt-8">※ 取得した楽天ポイントは楽天モバイルや楽天の各サービスでご利用できます。詳しくは<a href="<%= sitepath %>guide/point/?l-id=product_ranking_guide_point" class="c-Link_Txt">楽天ポイントのページ</a>をご覧ください。一度に利用できるポイント数は1～30,000 (ダイヤモンド会員の方は～500,000) ポイントです。<a href="<%= sitepath %>service/replacement-program/?l-id=product_ranking_service_replacement-program" class="c-Link_Txt">楽天モバイル買い替え超トクプログラム</a>にて製品をご購入の場合、お支払いに楽天ポイントはご利用いただけません。製品を24回払いにてご購入の場合、2回目以降のお支払いには楽天ポイントはご利用いただけません。</p>
      </div>
    </div>
  </div>


  <div class="l-System_Container">
    <div class="u-Adjust_Mt-64">
      <h2 class="c-Heading_Lv2">ランキングについて</h2>
      <dl class="c-Dl_Origin">
        <div class="u-Adjust_Mt-16">
          <dt>集計期間</dt>
          <dd>2024年4月1日～2024年4月30日</dd>
        </div>
        <div>
          <dt>集計方法</dt>
          <dd>着荷済ベースで、販売台数をランキングにしております。<br>
            尚、集計時点で在庫切れのものは除外、iPhoneはシリーズ別に合算しております。</dd>
        </div>
        <div>
          <dt>ご注意</dt>
          <dd>ランキングデータ集計時点で販売中の製品を紹介しておりますが、このページをご覧になられた時点で、価格の変更や在庫切れとなっている可能性もございますのでご了承ください。<br>
            詳しくは、各製品ページでご確認をお願いします。</dd>
        </div>
      </dl>
    </div>
  </div>

  <footer class="g-Footer">

    <div class="g-Footer_Aside">

      <%- include('/include/footer/related/_related-service-v2.ejs') %>

      <%- include('/include/footer/bnr/_bnr.ejs') %>

      <%#- include('/faq/include/related-product.ejs') %>

    </div>
    <div class="l-System_Container">
      <div class="c-Breadcrumbs_Foot">
        <ul>
          <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
          <%_ } _%>
          <li aria-current="true"><%= pagetitle %></li>
        </ul>
      </div>
    </div>

    <%- include('/include/_footer') %>

  </footer>
</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/product.ranking.bundle.js?20240522"></script>
<%- include('/include/product/_history-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
