<!-- バナー3 -->
<div class="l-System_Container u-Adjust_Pt-80 u-Adjust_Mb-56">
  <div class="saikyo-plan-Layout_Consideration">
    <a href="<%= sitepath %>feature/why-rakuten-mobile/?l-id=fee_why-rakuten-mobile">
      <img src="<%= sitepath %>assets/img/bnr/bnr-why-328-185-230921.png" width="328" height="185" loading="lazy" alt="なぜ今楽天モバイルなのか シンプルで高品質なサービスの実現やおトクな楽天ポイント還元をご紹介">
    </a>
    <a href="<%= sitepath %>guide/kids-ke-tai/?l-id=fee_saikyo-plan_guide_kids-ke-tai">
      <img src="<%= sitepath %>assets/img/bnr/bnr-kids-ke-tai-328-185.png" width="328" height="185" loading="lazy" alt="楽天モバイルならキッズ・学生のスマホデビューにもおトクであんしん！">
    </a>
    <a href="<%= sitepath %>uservoice/?l-id=fee_saikyo-plan_uservoice">
      <img src="<%= sitepath %>assets/img/fee/un-limit/banner-uservoice-328-185-220506.png?220701" width="328" height="185" loading="lazy" alt="楽天モバイルってどうですか？お客さまに直接お聞きしました">
    </a>
    <a href="<%= sitepath %>ad/lp/uservoice/?l-id=fee_saikyo-plan_ad_lp_uservoice">
      <img src="<%= sitepath %>assets/img/bnr/bnr-uservoice-328-185-240313.png" width="328" height="185" loading="lazy" alt="使いこなしている人たちの声">
    </a>

  </div>
</div>
<!-- //バナー3 -->
