<!-- 追従メニュー -->
<div class="saikyo-plan-Fixedbtn_Wrapper" id="js-fixed-nav" aria-expanded="false" style="display: none;">
  <ul class="saikyo-plan-Fixedbtn_List">
    <li>
      <a href="#data" class="c-Link_Txt-icon-front js-fixedMenuScroll">
        <div class="c-Txt_Emp-01"><img src="<%= sitepath %>assets/img/common/icon-arrow-down.svg" alt="" loading="lazy" class="u-Show_Xxo"><div class="saikyo-plan-Fixedbtn_Txt">データ</div></div>
        <span class="c-Icon_Smartphone-l"></span>
      </a>
    </li>
    <li>
      <a href="#call" class="c-Link_Txt-icon-front js-fixedMenuScroll">
        <div class="c-Txt_Emp-01"><img src="<%= sitepath %>assets/img/common/icon-arrow-down.svg" alt="" loading="lazy" class="u-Show_Xxo"><div class="saikyo-plan-Fixedbtn_Txt">通話</div></div>
        <span class="c-Icon_Phone-l"></span>
      </a>
    </li>
    <li>
      <a href="#price" class="c-Link_Txt-icon-front js-fixedMenuScroll">
        <div class="c-Txt_Emp-01"><img src="<%= sitepath %>assets/img/common/icon-arrow-down.svg" alt="" loading="lazy" class="u-Show_Xxo"><div class="saikyo-plan-Fixedbtn_Txt">料金</div></div>
        <span class="c-Icon_Price-l"></span>
      </a>
    </li>
    <li>
      <a href="#benefits" class="c-Link_Txt-icon-front js-fixedMenuScroll">
        <div class="c-Txt_Emp-01"><img src="<%= sitepath %>assets/img/common/icon-arrow-down.svg" alt="" loading="lazy" class="u-Show_Xxo"><div class="saikyo-plan-Fixedbtn_Txt">特典</div></div>
        <span class="c-Icon_Gift-l"></span>
      </a>
    </li>
    <li>
      <a href="#compareother" class="c-Link_Txt-icon-front js-fixedMenuScroll">
        <div class="c-Txt_Emp-01"><img src="<%= sitepath %>assets/img/common/icon-arrow-down.svg" alt="" loading="lazy" class="u-Show_Xxo"><div class="saikyo-plan-Fixedbtn_Txt">他社<br class="u-Show_Oox">比較</div></div>
        <img src="<%= sitepath %>assets/img/common/icon-bar-chart-outline.svg" alt="" loading="lazy" class="saikyo-plan-Fixedbtn_Imgicon u-Show_Xxo">
      </a>
    </li>
  </ul>
</div>
<!-- //追従メニュー -->
