<% if (typeof page != 'undefined') { %>
  <% if (page == 'casa') { %>
    <h2 class="c-Heading_Lv2 u-Adjust_Align-center"><span class="c-Txt_Normal-m">楽天モバイル（楽天回線）をご契約の方は</span><br class="casa-top-Utility_Pc">楽天ひかりがおトク！</h2>
  <% } %>
<% } %>
<p class="u-Adjust_Mt-16">
  <% if (typeof lid != 'undefined') { %>
    <% const param = `&l-id=${lid}` -%>
    <a href="<%= sitepath %>hikari/campaign/one-year-free/?210708<%- param %>">
  <% } else { %>
    <a href="<%= sitepath %>hikari/campaign/one-year-free/?210708">
  <% } %>
    <picture>
      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/bnr/bnr-hikari-campaign-480-180.png?220209">
      <source srcset="<%= sitepath %>assets/img/bnr/bnr-hikari-campaign-950-100.png?220209">
      <img src="<%= sitepath %>assets/img/bnr/bnr-hikari-campaign-950-100.png?220209" alt="楽天ひかりはSPU対象 モバイルとセットで使えばおうちのネットがタダ!! 楽天ひかりの月額基本料1年無料※ ※楽天モバイルと楽天ひかりお申し込み対象、条件有。13カ月目以降の月額基本料はマンションプラン4,180円、ファミリープラン5,280円。楽天ひかりは契約期間中(3年ごとに更新)契約解除料10,450円。">
    </picture>
  </a>
</p>
