<div class="m-hikari-Construction_Container">
  <h2 class="m-hikari-Construction_Container-title u-Adjust_Mt-16 u-Adjust_Mb-16">
    <img class="m-hikari-Construction_Container-show-pc" src="<%= sitepath %>assets/img/module/hikari-constructionfree/hikari-constructionfree-title-pc.png" alt="楽天モバイルを申し込むと楽天ひかりが1年無料！">
    <img class="m-hikari-Construction_Container-show-sp" src="<%= sitepath %>assets/img/module/hikari-constructionfree/hikari-constructionfree-title-sp.png" alt="楽天モバイルを申し込むと楽天ひかりが1年無料！">
    <p class="u-Adjust_Mt-24 c-Txt_Normal-ll">月額基本料</p>
  </h2>
  <%_ if (pageType === 'new') { _%>
    <img class="m-hikari-Construction_Container-show-pc" src="<%= sitepath %>assets/img/hikari/campaign/rank/hikari-constructionfree-fee-pc-b.png" alt="スマホとひかり回線両方お申し込みの方楽天ひかりの月額基本料1年無料 2年目以降 マンションプラン（集合住宅）3,800円(税込4,180円) ファミリープラン（戸建）4,800円(税込5,280円) ひかり回線のみお申し込みの方 マンションプラン（集合住宅）月額基本料 1年目 1,800円（税込1,980円） 2年目以降 3,800円(税込4,180円) ファミリープラン（戸建）月額基本料 1年目 2,800円（税込3,080円） 2年目以降4,800円(税込5,280円)">
    <img class="m-hikari-Construction_Container-show-sp" src="<%= sitepath %>assets/img/hikari/campaign/rank/hikari-constructionfree-fee-sp-b.png" alt="スマホとひかり回線両方お申し込みの方楽天ひかりの月額基本料1年無料 2年目以降 マンションプラン（集合住宅）3,800円(税込4,180円) ファミリープラン（戸建）4,800円(税込5,280円) ひかり回線のみお申し込みの方 マンションプラン（集合住宅）月額基本料 1年目 1,800円（税込1,980円） 2年目以降 3,800円(税込4,180円) ファミリープラン（戸建）月額基本料 1年目 2,800円（税込3,080円） 2年目以降4,800円(税込5,280円)">
    <p class="c-Txt_Cap u-Adjust_Mt-16">
      ※ 楽天モバイル（Rakuten UN-LIMIT VII）利用中、または楽天ひかり申し込みの翌月15日までに新規申し込みの方は、楽天ひかりの月額基本料が開通月から最大12カ月間無料。初期費用等別。契約解除料ファミリープラン5,280円、マンションプラン4,180円が発生（2年ごとに更新）。<br>
      ※ <a href="#notes-01" class="c-Link_Txt js-scroll">その他条件の詳細を見る</a>
    </p>
  <%_ } else if (pageType === 'mno') { _%>
    <img class="m-hikari-Construction_Container-show-pc" src="<%= sitepath %>assets/img/module/hikari-constructionfree/hikari-constructionfree-fee-mno-pc.png" alt="楽天ひかりの月額基本料 楽天モバイルを使っているなら1年無料 2年目以降 マンションプラン（集合住宅） 3,800円(税込4,180円) ファミリープラン（戸建）4,800円(税込5,280円) 楽天モバイル未契約の場合、１年目の料金はマンションプラン 1,800円（税込1,980円）、ファミリープラン 2,800円（税込3,080円）">
    <img class="m-hikari-Construction_Container-show-sp" src="<%= sitepath %>assets/img/module/hikari-constructionfree/hikari-constructionfree-fee-mno-sp.png" alt="楽天ひかりの月額基本料 楽天モバイルを使っているなら1年無料 2年目以降 マンションプラン（集合住宅） 3,800円(税込4,180円) ファミリープラン（戸建）4,800円(税込5,280円) 楽天モバイル未契約の場合、１年目の料金はマンションプラン 1,800円（税込1,980円）、ファミリープラン 2,800円（税込3,080円）">
    <p class="c-Txt_Cap u-Adjust_Mt-24">
      ※ 楽天モバイル（Rakuten UN-LIMIT VII）利用中、または楽天ひかり申し込みの翌月15日までに新規申し込みの方は、楽天ひかりの月額基本料が開通月から最大12カ月間無料。初期費用等別。契約解除料ファミリープラン5,280円、マンションプラン4,180円が発生（2年ごとに更新）。<br>
      ※ <a href="#notes-01" class="c-Link_Txt js-scroll">その他条件の詳細を見る</a>
    </p>
  <%_ } _%>
  <div class="m-hikari-Construction_W-680">
    <div class="c-Accordion u-Adjust_Mt-24">
      <div class="<%= namespace %>-Util_Anchor" id="firstcost"></div>
      <button id="accordion-a" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-a" data-ratevent="click" data-ratparam="all" data-ratid="rhk_one-year-free_mno_fee_accordion_02"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>初期費用</button>
      <div id="accordion-content-a" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-a" aria-hidden="true">
        <div class="<%= namespace %>-Scroll c-Table_Wrap-scroll c-Table-Scroll" id="scroll-table">
          <table class="c-Table_Container <%= namespace %>-Price_Table">
            <colgroup>
              <col class="u-Adjust_W-240">
              <col class="u-Adjust_W-240">
              <col class="u-Adjust_W-240">
              <col class="u-Adjust_W-240">
            </colgroup>
            <thead>
              <tr>
                <th class="<%= namespace %>-Price_Table-empty"></th>
                <th scope="col">フレッツ光のご利用がない方</th>
                <th scope="col">他社ひかりコラボをご利用中の方（事業者変更）<span class="c-Txt_Cap">※1</span></th>
                <th scope="col">フレッツ光をご利用中の方（転用）</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">初期登録費</th>
                <td>880円</td>
                <td>1,980円</td>
                <td>1,980円</td>
              </tr>
              <tr>
                <th scope="row">標準工事費<span class="<%= namespace %>-Util_Txt-ss">※2</span></th>
                <td>下記の表を参照</td>
                <td>工事不要0円 <span class="<%= namespace %>-Util_Txt-ss">※3</span></td>
                <td>工事不要0円 <span class="<%= namespace %>-Util_Txt-ss">※3</span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="c-Txt_Cap u-Adjust_Mt-8">
          <p>※1 現在の光コラボレーション契約と楽天ひかり契約は回線名義人が同一であることが前提。auひかり、NURO 光等をご利用の場合は、新規扱い。 ※2 居宅設備の都合等で追加工事費が発生する場合、標準工事費との合計金額。工事時間の指定や夜間・深夜および土日・祝日工事 をご希望の場合、別途加算・割増工事費が発生。 ※3 回線の種類変更・機器変更が伴う場合、工事が必要な場合あり。</p>
        </div>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-b" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-b" data-ratevent="click" data-ratparam="all" data-ratid="rhk_one-year-free_mno_fee_accordion_03"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>【フレッツ光のご利用がない方】標準工事費詳細</button>
      <div id="accordion-content-b" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-b" aria-hidden="true">
        <p class="c-Txt_Emp">マンションプラン（集合住宅）</p>
        <div class="c-Table_Wrap-center u-Adjust_Mt-8">
          <table class="c-Table_Container">
            <colgroup>
              <col width="22%">
              <col width="26%">
              <col width="26%">
              <col width="26%">
            </colgroup>
            <thead>
              <tr>
                <th rowspan="2"></th>
                <th scope="col" colspan="2">派遣工事あり</th>
                <th scope="col" rowspan="2">派遣工事なし</th>
              </tr>
              <tr class="c-Table_Heading-sub">
                <th scope="col">配線調整あり</th>
                <th scope="col">配線調整なし</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">一括</th>
                <td>16,500円</td>
                <td>8,360円</td>
                <td>2,200円</td>
              </tr>
              <tr>
                <th scope="row">分割<br><span style="font-size: 12px; font-weight: 400;">（24回）</span></th>
                <td>687円／月<span class="c-Txt_Cap">※1</span></td>
                <td>348円／月<span class="c-Txt_Cap">※2</span></td>
                <td>91円／月<span class="c-Txt_Cap">※3</span></td>
              </tr>
            </tbody>
          </table>
        </div>

        <p class="u-Adjust_Mt-24 c-Txt_Emp">ファミリープラン（戸建）</p>
        <div class="c-Table_Wrap-center u-Adjust_Mt-8">
          <table class="c-Table_Container">
            <colgroup>
              <col width="22%">
              <col width="26%">
              <col width="26%">
              <col width="26%">
            </colgroup>
            <thead>
              <tr>
                <th rowspan="2"></th>
                <th scope="col" colspan="2">派遣工事あり</th>
                <th scope="col" rowspan="2">派遣工事なし</th>
              </tr>
              <tr class="c-Table_Heading-sub">
                <th scope="col">配線調整あり</th>
                <th scope="col">配線調整なし</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">一括</th>
                <td>19,800円</td>
                <td>8,360円</td>
                <td>2,200円</td>
              </tr>
              <tr>
                <th scope="row">分割<br><span style="font-size: 12px; font-weight: 400;">（24回）</span></th>
                <td>825円／月</td>
                <td>348円／月<span class="c-Txt_Cap">※2</span></td>
                <td>91円／月<span class="c-Txt_Cap">※3</span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="c-Txt_Cap u-Adjust_Mt-16">
          <p>※1 最終月は699円の請求。※2 最終月は356円の請求。※3 最終月は107円の請求。</p>
          <p>※設置場所の環境等により、派遣工事の有無、屋内配線の新設有無、および工事費が変更になる場合があります。</p>
          <p>※室内に既存の配線がある場合においても、回線を繋ぎ直したり、マンション共用設備（MDF室等）での調整作業が発生し、配線の新設時と同等の工事費が発生する場合があります。</p>
        </div>
      </div>
    </div>
  </div>
  <img class="m-hikari-Construction_Container-plus u-Adjust_Mt-40 u-Adjust_Mb-40" src="<%= sitepath %>assets/img/module/hikari-constructionfree/hikari-constructionfree-plus-220713.png" alt="">
</div>
