<% const nameSpace = "input-corporation-information" -%>
<section id="step5" class="js-step" aria-hidden="true">
  <h2 id="js-observe-5" class="c-Heading_Lv1 js-show-business-type" aria-hidden="true">Rakuten Casaお申し込み情報のご入力 - <span class="js-business-type"></span>のお客様用</h2>
  <nav id="js-nav-5" class="<%= nameSpace %>-Progress">
    <div id="js-observe-sp-5">
      <ul class="<%= nameSpace %>-Progress_Bar js-progressbar">
        <li class="<%= nameSpace %>-Progress_Bar-checked"><span>店舗</span></li>
        <li class="<%= nameSpace %>-Progress_Bar-checked"><span>契約者<br><span class="<%= nameSpace %>-Util_Pc">店舗管理者</span></span></li>
        <li class="<%= nameSpace %>-Progress_Bar-checked"><span>口座</span></li>
        <li class="<%= nameSpace %>-Progress_Bar-checked"><span>ご連絡先</span></li>
        <li class="<%= nameSpace %>-Progress_Bar-current" aria-current="step"><span>確認</span></li>
      </ul>
    </div>
    <div id="js-heading-sp-5">
      <h2 class="c-Heading_Lv2">ご入力内容の確認</h2>
    </div>
  </nav>
  <dl class="c-Form_List u-Adjust_Mt-32">
    <div>
      <dt>申込種別</dt>
      <dd>
        <p id="display-WebForm_SetContact_Businessform__c"></p>
      </dd>
    </div>
  </dl>

  <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">店舗について</h2>
  <dl class="c-Form_List u-Adjust_Mt-32">
    <div>
      <dt>店舗名</dt>
      <dd>
        <p id="display-WebForm_ItemName__c"></p>
      </dd>
    </div>
    <div>
      <dt>店舗住所</dt>
      <dd>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">郵便番号</p>
        <p id="display-WebForm_PostNumber__c"></p>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Mt-24">都道府県～市区町村</p>
        <p id="display-WebForm_PrefCityTown__c"></p>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Mt-24">丁目番地号</p>
        <p id="display-WebForm_ChoBanchi__c"></p>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Mt-24">建物名</p>
        <p id="display-WebForm_BuildingName__c"></p>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Mt-24">フロア種別</p>
        <p id="display-WebForm_FloorType__c"></p>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Mt-24">階数</p>
        <p id="display-WebForm_PlaceFloor__c"></p>
        <div class="js-input-step-room-number-wrapper">
          <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Mt-24">部屋番号</p>
          <p id="display-WebForm_FloorRoomNumber__c"></p>
        </div>
      </dd>
    </div>
    <div class="<%= nameSpace %>-Layout_Flex js-corporations">
      <dt>会社名</dt>
      <dd>
        <p id="display-WebForm_honbuCompanyName__c"></p>
      </dd>
    </div>
    <div>
      <dt>店舗電話番号</dt>
      <dd>
        <p id="display-WebForm_ShopTel__c"></p>
      </dd>
    </div>
  </dl>

  <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">ご契約者様について</h2>
  <dl class="c-Form_List u-Adjust_Mt-32">
    <div>
      <dt>ご契約者様氏名</dt>
      <dd>
        <p>
          <span id="display-WebForm_SetContact_FirstName__c"></span>
          <span id="display-WebForm_SetContact_RepresenName__c"></span>
        </p>
        <p class="u-Adjust_Mt-16">
          <span id="display-WebForm_SetContact_FirstName_FURI__c"></span>
          <span id="display-WebForm_SetContact_RepresenName_FURI__c"></span>
        </p>
      </dd>
    </div>
    <div>
      <dt>
        <span class="js-proprietorship">ご契約者様住所</span><span class="js-corporations">法人住所</span>
      </dt>
      <dd>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">郵便番号</p>
        <p id="display-WebForm_SetContact_PostNumber__c"></p>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Mt-24">都道府県～市区町村</p>
        <p id="display-WebForm_SetContact_PrefCityTown__c"></p>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Mt-24">丁目番地号</p>
        <p id="display-WebForm_SetContact_Address_ChoBanchi__c"></p>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Mt-24">建物名</p>
        <p id="display-WebForm_SetContact_Installation_Build__c"></p>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Mt-24">階数部屋番号</p>
        <p id="display-WebForm_SetContact_Installation_Room__c"></p>
      </dd>
    </div>
    <div>
      <dt><span class="js-proprietorship">店舗名</span><span class="js-corporations">法人名</span></dt>
      <dd>
        <p id="display-WebForm_SetContact_CompanyName__c"></p>
      </dd>
    </div>
    <div>
      <dt><span class="js-proprietorship">店舗名（フリガナ）</span><span class="js-corporations">法人名（フリガナ）</span></dt>
      <dd>
        <p id="display-WebForm_SetContact_Furigana__c"></p>
      </dd>
    </div>
    <div>
      <dt>ご契約者様役職</dt>
      <dd>
        <p id="display-WebForm_SetContact_RepresentativePositio__c"></p>
      </dd>
    </div>

    <div>
      <dt>ご契約者様生年月日</dt>
      <dd>
        <p id="display-WebForm_SetContact_Contractor_Birthday__c"></p>
      </dd>
    </div>
    <div>
      <dt>ご契約者様電話番号</dt>
      <dd>
        <p id="display-WebForm_SetContact_TelNumber__c"></p>
      </dd>
    </div>
    <div>
      <dt>ご契約者様メールアドレス</dt>
      <dd>
        <p id="display-WebForm_SetContact_Installation_Mail__c"></p>
      </dd>
    </div>
  </dl>

  <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">店舗管理者様について</h2>
  <dl class="c-Form_List u-Adjust_Mt-32">
    <div>
      <dt>店舗管理者様役職</dt>
      <dd>
        <p id="display-WebForm_SetPlace_InstallationTantoPo__c"></p>
      </dd>
    </div>
    <div>
      <dt>店舗管理者様氏名</dt>
      <dd>
        <p>
          <span id="display-WebForm_SetPlace_InstallationFirstNa__c"></span>
          <span id="display-WebForm_SetPlace_Installation_Name__c"></span>
        </p>
        <p class="u-Adjust_Mt-16">
          <span id="display-WebForm_SetPlace_InstallationFirstFU__c"></span>
          <span id="display-WebForm_SetPlace_Installation_NaFURI__c"></span>
        </p>
      </dd>
    </div>
  </dl>

  <h2 class="c-Heading_Lv2 u-Adjust_Mt-64 js-incentive-branch">口座関連情報</h2>
  <dl class="c-Form_List u-Adjust_Mt-32 js-incentive-branch">
    <div>
      <dt>銀行コード</dt>
      <dd>
        <p id="display-WebForm_Bank_Code__c"></p>
      </dd>
    </div>
    <div>
      <dt>銀行名</dt>
      <dd>
        <p id="display-WebForm_BankName__c"></p>
      </dd>
    </div>
    <div>
      <dt>支店コード</dt>
      <dd>
        <p id="display-WebForm_Branch_Code__c"></p>
      </dd>
    </div>
    <div>
      <dt>支店名</dt>
      <dd>
        <p id="display-WebForm_BranchName__c"></p>
      </dd>
    </div>
    <div>
      <dt>預金種別</dt>
      <dd>
        <p id="display-WebForm_Deposit_Type__c_dummy"></p>
      </dd>
    </div>
    <div>
      <dt>口座番号</dt>
      <dd>
        <p id="display-WebForm_Account_Number__c"></p>
      </dd>
    </div>
    <div>
      <dt>口座名義人漢字</dt>
      <dd>
        <p id="display-WebForm_Account_Holder_Kanji__c"></p>
      </dd>
    </div>
    <div>
      <dt>口座名義人カナ</dt>
      <dd>
        <p id="display-WebForm_Account_Holder_Kana_Furigana__c"></p>
      </dd>
    </div>
    <div>
      <dt>ご契約者様と口座名義人の関係性</dt>
      <dd>
        <p id="display-WebForm_MemorandumRepresentative_Name__c"></p>
      </dd>
    </div>
    <div>
      <dt>口座名義人代表者氏名</dt>
      <dd>
        <p id="display-WebForm_Accountholder_name__c"></p>
      </dd>
    </div>
    <div>
      <dt>口座名義人生年月日</dt>
      <dd>
        <p id="display-WebForm_AccountHolderBirthday__c"></p>
      </dd>
    </div>
    <div>
      <dt>口座名義人ご自宅住所</dt>
      <dd>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">郵便番号</p>
        <p id="display-WebForm_Accountholder_zipcode__c"></p>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Mt-24">都道府県～市区町村</p>
        <p id="display-WebForm_Accountholder_PrefCityTown__c"></p>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Mt-24">丁目番地号</p>
        <p id="display-WebForm_Accountholder_Address_ChoBanchi__c"></p>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Mt-24">建物名</p>
        <p id="display-WebForm_Accountholder_Installation_Build__c"></p>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Mt-24">階数部屋番号</p>
        <p id="display-WebForm_Accountholder_Installation_Room__c"></p>
      </dd>
    </div>
  </dl>

  <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">つながりやすいご連絡先</h2>
  <dl class="c-Form_List u-Adjust_Mt-32">
    <div>
      <dt>ご担当者様</dt>
      <dd>
        <p id="display-WebForm_OwnerInfoCheck_KadenPIC__c_dummy"></p>
      </dd>
    </div>
    <div>
      <dt>ご担当者様氏名</dt>
      <dd>
        <p>
          <span id="display-WebForm_OwnerInfoCheck_KadenPICFirstName__c"></span>
          <span id="display-WebForm_OwnerInfoCheck_KadenPICName__c"></span>
        </p>
      </dd>
    </div>
    <div>
      <dt>電話番号</dt>
      <dd>
        <p id="display-WebForm_OwnerInfoCheck_KadenTelNum__c"></p>
      </dd>
    </div>
    <div>
      <dt>電話番号2</dt>
      <dd>
        <p id="display-WebForm_OwnerInfoCheck_KadenTelNum2__c"></p>
      </dd>
    </div>
    <div>
      <dt>つながりやすい時間</dt>
      <dd>
        <p id="display-WebForm_OwnerInfoCheck_EasyTime__c"></p>
      </dd>
    </div>
  </dl>

  <div class="<%= nameSpace %>-Layout_Btn2col u-Adjust_Mt-48">
    <button id="js-modfy-btn" type="button" class="c-Btn_Regular-large"><span>修正する</span></button>
    <a href="#modal" class="js-Modal c-Btn_Regular-large"><span>最初から入力をやり直す</span></a>
    <div id="modal" style="display:none;">
      <span class="js-Modal_Close"></span>
      <p class="c-Heading_Lv3">注意</p>
      <p class="u-Adjust_Mt-16">最初から入力をやり直した場合、ご入力いただいた内容がリセットされます。<br>ご注意ください。</p>
      <div class="u-Adjust_Align-center u-Adjust_Mt-32">
        <button id="js-reset-btn" type="button" class="c-Btn_Regular-large"><span>最初から入力をやり直す</span></button>
      </div>
    </div>
  </div>

  <div class="u-Adjust_Align-center u-Adjust_Mt-48">
    <button id="js-submit-btn" type="button" class="c-Btn_Primary-large"><span>入力内容を送信</span></button>
  </div>

</section>
