<% const nameSpace = "input-corporation-information" -%>
<section id="step3" class="js-step" aria-hidden="true">
  <h2 id="js-observe-3" class="c-Heading_Lv1 js-show-business-type" aria-hidden="true">Rakuten Casaお申し込み情報のご入力 - <span class="js-business-type"></span>のお客様用</h2>
  <nav id="js-nav-3" class="<%= nameSpace %>-Progress">
    <div id="js-observe-sp-3">
      <ul class="<%= nameSpace %>-Progress_Bar js-progressbar">
        <li class="<%= nameSpace %>-Progress_Bar-checked"><span>店舗</span></li>
        <li class="<%= nameSpace %>-Progress_Bar-checked"><span>契約者<br><span class="<%= nameSpace %>-Util_Pc">店舗管理者</span></span></li>
        <li class="<%= nameSpace %>-Progress_Bar-current" aria-current="step"><span>口座</span></li>
        <li><span>ご連絡先</span></li>
        <li><span>確認</span></li>
      </ul>
    </div>
    <div id="js-heading-sp-3">
      <h2 class="c-Heading_Lv2">口座関連情報</h2>
    </div>
  </nav>
  <dl class="c-Form_List u-Adjust_Mt-32">
    <div>
      <dt>銀行コード</dt>
      <dd class="<%= nameSpace %>-Form_Bank-data-select-wrap">
        <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mb-8">銀行コードが不明な方は、銀行名を先にご入力ください。</p>
        <p class="c-Txt_Cap u-Adjust_Mb-8">※半角数字4桁で入力してください</p>
        <p id="err-numeric_WebForm_Bank_Code__c" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">半角数字で入力してください</p>
        <p id="err-length_WebForm_Bank_Code__c" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">4桁で入力してください</p>
        <input type="text" class="c-Form_Input u-Adjust_W-160 js-input-step3" minlength="4" maxlength="4" name="WebForm_Bank_Code__c" placeholder="例）0036" aria-required="false" data-validate="numeric length" autocomplete="off">
        <select id="bankNameDropdown" class="<%= nameSpace %>-Form_Bank-data-select <%= nameSpace %>-Form_Bank-data-select-s" size="4" aria-hidden="true">
          <option value="">選択してください</option>
        </select>
      </dd>
    </div>
    <div>
      <dt>銀行名</dt>
      <dd class="<%= nameSpace %>-Form_Bank-data-select-wrap">
        <p class="c-Txt_Cap u-Adjust_Mb-8">※50文字以内で入力してください</p>
        <input type="text" class="c-Form_Input js-input-step3" maxlength="50" name="WebForm_BankName__c" placeholder="例）楽天銀行" aria-required="false" data-validate="" autocomplete="off">
        <select id="bankCodeDropdown" class="<%= nameSpace %>-Form_Bank-data-select" size="4" aria-hidden="true">
          <option value="">選択してください</option>
        </select>
      </dd>
    </div>
    <div>
      <dt>支店コード</dt>
      <dd class="<%= nameSpace %>-Form_Bank-data-select-wrap">
        <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mb-8">支店コードが不明な方は、支店名を先にご入力ください。</p>
        <p class="c-Txt_Cap u-Adjust_Mb-8">※半角数字3桁で入力してください</p>
        <p id="err-numeric_WebForm_Branch_Code__c" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">半角数字で入力してください</p>
        <p id="err-length_WebForm_Branch_Code__c" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">3桁で入力してください</p>
        <input type="text" class="c-Form_Input u-Adjust_W-160 js-input-step3" minlength="3" maxlength="3" name="WebForm_Branch_Code__c" placeholder="例）230" aria-required="false" data-validate="numeric length" autocomplete="off">
        <select id="branchNameDropdown" class="<%= nameSpace %>-Form_Bank-data-select <%= nameSpace %>-Form_Bank-data-select-s" size="4" aria-hidden="true">
          <option value="">選択してください</option>
        </select>
      </dd>
    </div>
    <div>
      <dt>支店名</dt>
      <dd class="<%= nameSpace %>-Form_Bank-data-select-wrap">
        <p class="c-Txt_Cap u-Adjust_Mb-8">※50文字以内で入力してください</p>
        <input type="text" class="c-Form_Input js-input-step3" maxlength="50" name="WebForm_BranchName__c" placeholder="例）エレキ支店" aria-required="false" data-validate="" autocomplete="off">
        <select id="branchCodeDropdown" class="<%= nameSpace %>-Form_Bank-data-select" size="4" aria-hidden="true">
          <option value="">選択してください</option>
        </select>
      </dd>
    </div>
    <div>
      <dt>預金種別</dt>
      <dd>
        <div class="c-Form_Select u-Adjust_W-280">
          <select name="WebForm_Deposit_Type__c_dummy" class="js-input-step3" aria-required="false" data-validate="">
            <option value="">選択してください</option>
            <option value="普通預金">普通預金</option>
            <option value="当座預金">当座預金</option>
            <option value="その他の預金">その他の預金</option>
          </select>
          <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
        </div>
        <input type="hidden" name="WebForm_Deposit_Type__c" value="">
      </dd>
    </div>
    <div>
      <dt>口座番号</dt>
      <dd>
        <p class="c-Txt_Cap u-Adjust_Mb-8">※半角数字8桁以内で入力してください</p>
        <p id="err-numeric_WebForm_Account_Number__c" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">半角数字で入力してください</p>
        <input type="text" class="c-Form_Input js-input-step3" maxlength="8" name="WebForm_Account_Number__c" placeholder="例）1234567" aria-required="false" data-validate="numeric" autocomplete="off">
      </dd>
    </div>
    <div>
      <dt>口座名義人漢字</dt>
      <dd>
        <p class="c-Txt_Cap u-Adjust_Mb-8">※100文字以内で入力してください</p>
        <input type="text" class="c-Form_Input js-input-step3 js-allow-space js-replace-to-full-width" maxlength="100" name="WebForm_Account_Holder_Kanji__c" placeholder="例）楽天太郎" aria-required="false" data-validate="" autocomplete="off">
      </dd>
    </div>
    <div>
      <dt>口座名義人カナ</dt>
      <dd>
        <p class="c-Txt_Cap u-Adjust_Mb-8">
          ※全角カタカナ・全角数字・全角スペース・括弧「（）」・ハイフン「－」・ピリオド「．」のみ使用可能<br>
          ※100文字以内で入力してください
        </p>
        <p id="err-kana-plus_WebForm_Account_Holder_Kana_Furigana__c" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">全角カタカナ・全角数字・全角スペース・括弧「（）」・ハイフン「－」・ピリオド「．」100文字以内で入力してください</p>
        <input type="text" class="c-Form_Input js-input-step3 js-allow-space" maxlength="100" name="WebForm_Account_Holder_Kana_Furigana__c" placeholder="例）ラクテンタロウ" aria-required="false" data-validate="kana-plus" autocomplete="off">
      </dd>
    </div>
    <div>
      <dt>ご契約者様と口座名義人の関係性</dt>
      <dd>
        <p class="c-Txt_Cap u-Adjust_Mb-8">※50文字以内で入力してください</p>
        <input type="text" class="c-Form_Input js-input-step3" maxlength="50" name="WebForm_MemorandumRepresentative_Name__c" placeholder="" aria-required="false" data-validate="" autocomplete="off">
      </dd>
    </div>
    <div>
      <dt>口座名義人代表者氏名</dt>
      <dd>
        <p class="c-Txt_Cap u-Adjust_Mb-8">※50文字以内で入力してください</p>
        <input type="text" class="c-Form_Input js-input-step3" maxlength="50" name="WebForm_Accountholder_name__c" placeholder="例）楽天太郎" aria-required="false" data-validate="" autocomplete="off">
      </dd>
    </div>
    <div>
      <dt>口座名義人生年月日</dt>
      <dd>
        <p class="c-Txt_Cap u-Adjust_Mb-8 js-corporations">
          ※口座名義人に個人名が含まれる場合：入力必須となります。<br>
          ※口座名義人が法人名のみの場合：入力不要となります。
        </p>
        <p id="err-allentered_WebForm_AccountHolderBirthday__c_bd" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">生年月日すべて入力してください</p>
        <div class="<%= nameSpace %>-Layout_Birthday">
          <div class="c-Form_Select">
            <select name="WebForm_AccountHolderBirthday__c_bd" id="year3" class="js-select-data js-select-data3" aria-required="false" data-validate="all-entered" data-validate-group="account-holder-birthday"></select>
            <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
          </div>
          <span>年</span>
          <div class="c-Form_Select">
            <select name="WebForm_AccountHolderBirthday__c_bd" id="month3" class="js-select-data js-select-data3" aria-required="false" data-validate="all-entered" data-validate-group="account-holder-birthday"></select>
            <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
          </div>
          <span>月</span>
          <div class="c-Form_Select">
            <select name="WebForm_AccountHolderBirthday__c_bd" id="date3" class="js-select-data js-select-data3" aria-required="false" data-validate="all-entered" data-validate-group="account-holder-birthday"></select>
            <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
          </div>
          <span>日</span>
          <input type="hidden" name="WebForm_AccountHolderBirthday__c" data-validate="" value="YYYY/MM/DD" class="js-birthday-AccountHolder">
        </div>
      </dd>
    </div>
    <div>
      <dt>口座名義人住所</dt>
      <dd>
        <label class="c-Form_Checkbox">
          <input type="checkbox" name="" id="js-synch-setcontact-address" value="" autocomplete="off">
          <span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">
            <span class="js-proprietorship">ご契約者様住所と同一</span>
            <span class="js-corporations">法人住所と同一</span>
          </span>
        </label>

        <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Mt-24">郵便番号</p>
        <p class="c-Txt_Cap u-Adjust_Mb-8">※半角数字7文字で入力してください</p>
        <p id="err-numeric_WebForm_Accountholder_zipcode__c" class="c-Form_Txt-error u-Adjust_Mb-8" aria-hidden="true">半角数字で入力してください</p>
        <p id="err-length_WebForm_Accountholder_zipcode__c" class="c-Form_Txt-error u-Adjust_Mb-8" aria-hidden="true">7文字で入力してください</p>
        <p id="err-address_WebForm_Accountholder_zipcode__c" class="c-Form_Txt-error u-Adjust_Mb-8" aria-hidden="true">申し訳ございません。ご入力いただいた郵便番号は住所自動表示に対応していないため、手動入力をお願いいたします。</p>
        <input id="WebForm_Accountholder_zipcode__c" type="text" class="c-Form_Input <%= nameSpace %>-Form_Auxiliary-item u-Adjust_W-160 js-input-step3 js-zipcode" minlength="7" maxlength="7" name="WebForm_Accountholder_zipcode__c" placeholder="例）0123456" aria-required="false" data-validate="length numeric" autocomplete="off">
        <button id="btn_WebForm_Accountholder_zipcode__c" type="button" class="c-Btn_Regular"><span>郵便番号から住所表示</span></button>

        <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Mt-24">都道府県～市区町村</p>
        <p class="c-Txt_Cap u-Adjust_Mb-8">※都道府県～階数部屋番号 合計100文字以内で入力してください</p>
        <p id="err-wordcount_WebForm_Accountholder_PrefCityTown__c" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">都道府県～階数部屋番号 合計100文字以内で入力してください</p>
        <input id="WebForm_Accountholder_PrefCityTown__c" type="text" class="c-Form_Input js-input-step3 js-address" name="WebForm_Accountholder_PrefCityTown__c" placeholder="例）東京都世田谷区玉川" aria-required="false" data-validate="" autocomplete="off">

        <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Mt-24">丁目番地号</p>
        <p class="c-Txt_Cap u-Adjust_Mb-8">※全角数字・ハイフン「－」のみで入力してください</p>
        <p id="err-full-n-hyphen_WebForm_Accountholder_Address_ChoBanchi__c" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">全角数字・ハイフン「－」のみで入力してください</p>
        <input type="text" class="c-Form_Input js-input-step3" maxlength="" name="WebForm_Accountholder_Address_ChoBanchi__c" placeholder="例）１－１４－１" aria-required="false" data-validate="full-n-hyphen" autocomplete="off">

        <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Mt-24">建物名</p>
        <input type="text" class="c-Form_Input js-input-step3" maxlength="" name="WebForm_Accountholder_Installation_Build__c" placeholder="例）楽天マンション" aria-required="false" data-validate="" autocomplete="off">

        <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Mt-24">階数部屋番号</p>
        <p class="c-Txt_Cap u-Adjust_Mb-8">※全角文字で入力してください</p>
        <p id="err-full-width_WebForm_Accountholder_Installation_Room__c" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">※全角文字で入力してください</p>
        <input type="text" class="c-Form_Input u-Adjust_W-200 js-input-step3" maxlength="20" name="WebForm_Accountholder_Installation_Room__c" placeholder="例）２０１" aria-required="false" data-validate="full-width" autocomplete="off">
      </dd>
    </div>
  </dl>

  <div class="u-Adjust_Align-center u-Adjust_Mt-48">
    <button type="button" class="c-Btn_Primary-large js-goto-next-step" id="js-next-step4"><span>次に進む</span></button>
    <div class="u-Adjust_Mt-24">
      <button type="button" class="<%= nameSpace %>-Form_Back js-backto-prev-step" id="js-prev-step2"><span class="c-Icon_Chevron-left"></span><span>前に戻る</span></button>
    </div>
  </div>

</section>
