<% const pagetitle = "Rakuten Casaお申し込み情報のご入力" -%>
<% const directories = [{path:"area/", label:"通信・エリア"}, {path:"area/rakuten-casa/", label:"Rakuten Casa"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '',
    noindex: true,
    pathname: filepath
  });
%>
<% const nameSpace = "input-corporation-information" -%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/area/rakuten-casa/input-corporation-information/input-corporation-information.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header-simple') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="l-System_Container">
  <div class="<%= nameSpace %>-Layout <%= nameSpace %>-Layout_Load" id="js-contents-load">
    <div class="<%= nameSpace %>-Layout_Load-icon">読み込み中</div>
    <!-- Salesforce SandBox環境 -->
<!--
    <form id="js-input-corporation-information_Form" action="https://test.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
    <input type="hidden" name="oid" value="00D0l0000003i6Z">
    <input type="hidden" name="retURL" value="/area/rakuten-casa/thanks-corporation-information/">
    <input type="hidden" name="lead_source" value="CasaWeb申込">
    <input type="hidden" name="WebForm_VerbalConsentDate__c" value="YYYY/MM/DD">
-->


    <!-- Salesforce 本番環境 -->

    <form id="js-input-corporation-information_Form" action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
    <input type="hidden" name="oid" value="00D28000000cT0x">
    <input type="hidden" name="retURL" value="https://network.mobile.rakuten.co.jp/area/rakuten-casa/thanks-corporation-information/">
    <input type="hidden" name="lead_source" value="CasaWeb申込">
    <input type="hidden" name="WebForm_VerbalConsentDate__c" value="YYYY/MM/DD">


    <!--  ----------------------------------------------------------------------  -->

    <!--  注意: これらの項目は、省略可能なデバッグ用要素です。デバッグモードでテストを行う場合は、これらの行をコメント解除してください。        -->
    <!--  <input type="hidden" name="debug" value=1>                              -->
    <!--  <input type="hidden" name="debugEmail"                                  -->
    <!--  value="ts-hideki.a.uchiyama@mail.rakuten.com.invalid">                  -->
    <!--  ----------------------------------------------------------------------  -->

    <!-- step0 -->
    <%- include('/area/rakuten-casa/input-corporation-information/_step0') %>
    <!-- /step0 -->
    <!-- step1 -->
    <%- include('/area/rakuten-casa/input-corporation-information/_step1') %>
    <!-- /step1 -->
    <!-- step2 -->
    <%- include('/area/rakuten-casa/input-corporation-information/_step2') %>
    <!-- /step2 -->
    <!-- step3 -->
    <%- include('/area/rakuten-casa/input-corporation-information/_step3') %>
    <!-- /step3 -->
    <!-- step4 -->
    <%- include('/area/rakuten-casa/input-corporation-information/_step4') %>
    <!-- /step4 -->
    <!-- step5 -->
    <%- include('/area/rakuten-casa/input-corporation-information/_step5') %>
    <!-- /step5 -->
    </form>
  </div>
</div>

<footer class="g-Footer">
  <div class="g-Footer_Aside">
    <%- include('/include/footer/bnr/_bnr.ejs') %>
  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>
  <%- include('/include/_footer-simple') %>
</footer>

</div>
<%- include('/include/_common-js', { jquery: '3.6.0' }) %>
<script src="<%= sitepath %>assets/js/area.input-corporation-information.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
<script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
<script>
(function() {
  const zipcodeInputs = document.querySelectorAll('.js-zipcode');
  const addressInputs = document.querySelectorAll('.js-address');
  zipcodeInputs.forEach((zipcodeInput, i) => {
    const btn = document.getElementById(`btn_${zipcodeInput.name}`)
    btn.addEventListener('click', function(e) {
    // 各エラーテキスト初期化(非表示)
    const errTxt = document.getElementById(`err-address_${zipcodeInput.name}`)
    errTxt.setAttribute('aria-hidden', true);

    const WebFormPostNumberCValue = document.getElementById('WebForm_PostNumber__c').value;
    if(/^000/.test(WebFormPostNumberCValue)) {
      errTxt.setAttribute('aria-hidden', false);
      addressInputs[i].value = ''
    }

    // zip2addr
    AjaxZip3.zip2addr(zipcodeInput.name, '', addressInputs[i].name, addressInputs[i].name);

    AjaxZip3.onFailure = function() {
      // 各エラーテキスト表示
      errTxt.setAttribute('aria-hidden', false);
      addressInputs[i].value = ''
    };
  });
});
}
)();

</script>
</body>
</html>
