<% const pagetitle = "AQUOS sense4 plus" -%>
<% const itemId = "aquos-sense4-plus" -%>
<% const directory = "aquos-sense4-plus" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/smartphone/", label:"Android"}] -%>
<% const namespace = "product-Aquos-sense4-plus" -%>
<% const theme = "Dark" -%>
<%# const theme = "Light" -%>
<% const point = 25000 -%>
<%# const pointModel = 1000 -%>
<%# price-detail.ejsファイルに変数の説明の記載があります -%>
<% const priceDetailConfig = {
  theme: theme,
  price: 43800,
  // priceBefore: ,
  // pointBackPriceModel: pointModel,
  pointBackPrice: point,
  //pointModelText: `<span>製品購入で<span class="product-detail-Price_Pointback-num">${pointModel.toLocaleString()}</span>ポイント<sub>※</sub></span>`,
  pointBackTextA: `<span><span class="product-detail-Price_Pointback-num">${point.toLocaleString()}</span>円相当のポイント還元<sub>※1,3,4</sub></span>`,
  pointBackTextB: `プラン申し込みで<span class="product-detail-Price_Pointback-num">${point.toLocaleString()}</span>ポイント！※1`,
  // pointEntryText: `さらに、エントリー＆抽選で<span class="product-detail-Price_Pointback-num">2,000</span>ポイント<sub>※2</sub>`,
  division24: 1825,
  // division24Before: ,
  division48: 912,
  // division48Before: ,
  tradeinProductName: 'AQUOS sense3 plus',
  optionPattern: 'tradein',
  lid: directory,
  capacity: 64,
  maxTradeinPrice: 4320,
  pointAppealBtnCapNo: [1,3,4],
  carrier: '楽天モバイル',
}
-%>
<% const tradeinUrl = sitepath + "service/tradein/?l-id=product_" + directory + "_cpn_02" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: "AQUOS sense4 plus（アクオス）のスペック・特徴などをご確認いただけます。楽天モバイル対応Android製品。オンライン簡単手続きが便利！",
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<%- include('/include/product/_category-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/<%= directory %>/product-<%= directory %>.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/smartphone/purchase-modal-drilldown.css?20240424">
<%- include('/include/product/_history-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%
/* insert Modal /*
/*
  ストア遷移 → 'bundle'
  在庫あり → 'stock'
  在庫切れ → 'soldout'
  入荷待ち → 'backorder'
*/
const bundleFlag = 'bundle';
const modalInfo = [
  {
    question: {
      title: '色を選択',
      warning: '購入する製品の色を選択してください。',
      type: 'color',
      value: 'color',
      select: [
        {
          'id': 'purple',
          'name': 'パープル',
          'sub': '',
          'color': '#333679',
          'checked': false,
          'disabled': false,
        },
        {
          'id': 'white',
          'name': 'ホワイト',
          'sub': '',
          'color': '#DBE2E9',
          'checked': false,
          'disabled': false,
        },
        {
          'id': 'black',
          'name': 'ブラック',
          'sub': '',
          'color': '#101820',
          'checked': false,
          'disabled': false,
        }
      ],
      upperinfo: ``,
      lowerinfo: ``
    },
  },
  {
    question: {
      title: 'SIMタイプ・プラン（Rakuten UN-LIMIT VII）を選択',
      warning: 'プランを選択してください。',
      type: 'radio',
      value: 'plan',
      select: [
        {
          'id': 'nanosim',
          'name': 'nanoSIM＋プランで申し込む',
          'sub': '',
          'checked': false,
          'disabled': false,
          'soldout' : '',
        },
        {
          'id': 'nosim',
          'name': 'プランを申し込まない（製品のみ購入）',
          'sub': '',
          'checked': false,
          'disabled': false,
          'soldout' : '',
        },
      ],
      upperinfo: ``,
      lowerinfo: `
        <p class="c-Txt_Cap">※製品のみ購入の場合、SIM購入（プラン選択）は不要です。</p>
      `
    }
  },
  {
    question: {
      title: 'スマホ交換保証プラスを選択',
      warning: 'スマホ交換保証プラスを選択してください。',
      type: 'radio',
      value: 'warranty',
      select: [
        {
          'id': 'warranty',
          'name': '申し込む：715円／月（税込）',
          'sub': '',
          'checked': true,
          'disabled': false,
          'soldout' : '',
        },
        {
          'id': 'nowarranty',
          'name': '申し込まない',
          'sub': '',
          'checked': false,
          'disabled': false,
          'soldout' : '',
        },
      ],
      upperinfo: `
        <p class="c-Txt_Emp-02">加入できるのは購入時のみ</p>
        <p class="u-Adjust_Mt-8">楽天モバイルで購入したスマートフォンやモバイルルーターの故障・紛失時に、最短で当日<sub>※</sub>に新品同等の同一機種を交換品としてお届けします。</p>
        <small>※対象地域：東京／神奈川／千葉／埼玉（12時までに受付の場合）</small>
        <p>サービスの詳細は、こちらの<a href="/service/replacement-warranty-plus/">スマホ交換保証プラス</a>をご参照ください。</p>
      `,
      lowerinfo: ``
    }
  }
]
%>
<%_ if (bundleFlag === 'stock') { _%>
<script>
const urlList = {
  'purple_nanosim_warranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id=9158206969665397225:0&id_d=9158806889765638101:1',
  'purple_nanosim_nowarranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id=9158206969665397225:0&id_d=9158806889765638101:0',
  'purple_nosim_warranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id_d=9158806889765638101:1',
  'purple_nosim_nowarranty': 'https://portal.mobile.rakuten.co.jp/equipment-details?exid=326908&selectAvailable=true',
  'white_nanosim_warranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id=9158206969665397225:0&id_d=9158806889865638161:1',
  'white_nanosim_nowarranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id=9158206969665397225:0&id_d=9158806889865638161:0',
  'white_nosim_warranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id_d=9158806889865638161:1',
  'white_nosim_nowarranty': 'https://portal.mobile.rakuten.co.jp/equipment-details?id=9158806889865638161',
  'black_nanosim_warranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id=9158206969665397225:0&id_d=9158806889765638131:1',
  'black_nanosim_nowarranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id=9158206969665397225:0&id_d=9158806889765638131:0',
  'black_nosim_warranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id_d=9158806889765638131:1',
  'black_nosim_nowarranty': 'https://portal.mobile.rakuten.co.jp/equipment-details?id=9158806889765638131',
}
</script>
<%- include('/include/product/_purchase-modal', { modalInfo: modalInfo }) %>
<%_ } _%>

<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="u-Adjust_Pt-16 u-Adjust_Pr-16 u-Adjust_Pl-16 u-Adjust_Pb-16 l-System_Container u-Adjust_Align-center">
  <p class="c-Txt_Emp-01 c-Txt_Normal-l">AQUOS sense4 plusは販売を終了いたしました。</p>
  <div class="u-Adjust_Pt-16 u-Adjust_Align-center">
    <a class="c-Btn_Regular" href="/product/smartphone/?l-id=end_product_smartphone"><span>販売中のAndroid製品を見る</span></a>
  </div>
</div>



<div class="u-Adjust_Pt-24 product-detail-Theme_<%= theme %>">
  <div class="product-detail-Layout_Hero <%= namespace %>_Hero">
    <div class="l-System_Container">
      <section class="product-detail-Hero">
        <div class="product-detail-Hero_Data">
          <div>
            <h1 class="c-Heading_Lv1 product-detail-Hero_Name"><img src="<%= sitepath %>assets/img/product/<%= directory %>/logo.svg" alt="<%= pagetitle %>"></h1>
            <p class="product-detail-Hero_Maker">SHARP</p>
            <p class="product-detail-Hero_Copy">AQUOS史上最大。迫力の大画面※1</p>
            <div class="product-detail-Utility_Show-pc">
              <p class="c-Txt_Cap c-Txt_Emp-01 product-detail-Hero_Caption <%= namespace %>_Hero_Caption02">
                ※ 楽天モバイルショップでの販売について：一部店舗で在庫切れとなっております。
              </p>
              <ul class="c-Txt_Cap product-detail-Hero_Caption <%= namespace %>_Hero_Caption u-Adjust_Mt-8">
                <li><span>※1</span>スマートフォンAQUOSにおいて。</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="product-detail-Hero_Main">
          <ul class="product-detail-Hero_Main-device c-Carousel js-main1 js-device" aria-hidden="false">
            <li><img src="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-00.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-01.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-02.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-03.png" alt=""></li>
          </ul>
          <ul class="product-detail-Hero_Main-device c-Carousel js-main2 js-device" aria-hidden="true">
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-08.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-09.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-10.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-11.png" alt=""></li>
          </ul>
          <ul class="product-detail-Hero_Main-device c-Carousel js-main3 js-device" aria-hidden="true">
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-04.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-05.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-06.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-07.png" alt=""></li>
          </ul>
          <ul class="product-detail-Hero_Main-color product-detail-Theme_<%= theme %>-color">
            <li class="js-color js-color1" aria-current="true"><span style="background:#333679"></span></li>
            <li class="js-color js-color2" aria-current="false"><span style="background:#DBE2E9"></span></li>
            <li class="js-color js-color3" aria-current="false"><span style="background:#101820"></span></li>
          </ul>

          <ul class="product-detail-Hero_Main-thumbnail c-Carousel js-thumbnail1 js-device" aria-hidden="false">
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-00.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-01.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-02.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-03.png" alt=""></li>
          </ul>
          <ul class="product-detail-Hero_Main-thumbnail c-Carousel js-thumbnail2 js-device" aria-hidden="true">
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-08.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-09.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-10.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-11.png" alt=""></li>
          </ul>
          <ul class="product-detail-Hero_Main-thumbnail c-Carousel js-thumbnail3 js-device" aria-hidden="true">
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-04.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-05.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-06.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-07.png" alt=""></li>
          </ul>
        </div>
      </section>

    </div>
  </div>

  <div class="product-detail-Layout_Main <%= namespace %>_Main">

    <div class="l-System_Container">
      <div class="product-detail-Spec">
        <ul class="product-detail-Spec_<%= theme %>">
          <li aria-current="true"><span class="c-Icon_Product-waterproof"></span>防水</li>
          <li aria-current="true"><span class="c-Icon_Product-price-yen"></span>FeliCa</li>
          <li aria-current="true"><span class="c-Icon_Product-hi-res"></span>ハイレゾ<br>オーディオ</li>
          <li aria-current="true"><span class="c-Icon_Product-faceid"></span>顔認証</li>
          <li aria-current="true"><span class="c-Icon_Product-finger"></span>指紋認証</li>
          <li aria-current="false"><span class="c-Icon_Product-charger"></span>ワイヤレス<br>充電</li>
          <li aria-current="false"><span class="c-Icon_Product-connection"></span>高速通信</li>
        </ul>
        <p class="u-Adjust_Mt-64"><a href="#spec" class="c-Link_Txt-inline-icon c-Link_Txt-white js-scroll"><span class="c-Icon_Arrow-down-l"></span>基本スペックを見る</a></p>
      </div>

      <section id="feature" class="product-detail-Layout_Section">
        <h2 class="c-Heading_Lv2-rich">特長</h2>

        <ul class="product-detail-Catch <%= namespace %>_Catch">
          <li><a href="#feature1" class="js-scroll">AQUOS史上最大のディスプレイ</a></li>
          <li><a href="#feature2" class="js-scroll">高性能CPU「Snapdragon&trade; 720G」</a></li>
          <li><a href="#feature3" class="js-scroll">多彩な撮影を楽しめる4眼カメラ</a></li>
        </ul>

        <section class="product-detail-Feature" id="feature1">
          <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/main-image-01.png" alt=""></figure>
          <h3 class="c-Heading_Lv3">AQUOS史上最大の約6.7インチディスプレイとステレオスピーカーを搭載し、迫力ある大画面と大音量で動画やゲームを楽しめる</h3>
          <p class="product-detail-Feature_Txt">スマートフォンAQUOS史上最大となる約6.7インチフルHD+ディスプレイを搭載。液晶テレビ「AQUOS」で培った高画質化技術「リッチカラーテクノロジーモバイル」により、明るく鮮やかな映像を表示。高出力のステレオスピーカーを採用し、大音量かつクリアな音質を実現。動画やゲームを臨場感たっぷりに楽しめる。</p>
        </section>
        <section class="product-detail-Feature" id="feature2">
          <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/main-image-02.png" alt=""></figure>
          <h3 class="c-Heading_Lv3">高性能CPU「Snapdragon&trade; 720G」、大容量8GB RAM/128GB ROMメモリを搭載でストレスの少ない快適パフォーマンス</h3>
          <p class="product-detail-Feature_Txt">高性能CPU「Snapdragon&trade; 720G」を搭載し、AQUOS sense3 plusと比べてCPU性能が1.5倍、GPU性能が約2.8倍向上。大容量の8GB RAM/128GB ROMメモリ搭載により、ストレスの少ない快適なパフォーマンスを実現。</p>
        </section>
        <section class="product-detail-Feature" id="feature3">
          <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/main-image-03.png" alt=""></figure>
          <h3 class="c-Heading_Lv3">明るくキレイに撮れる約4,800万画素カメラなど超広角からマクロまで多彩な撮影を楽しめる4眼メインカメラと、自撮りも楽しい2眼フロントカメラ。</h3>
          <p class="product-detail-Feature_Txt">暗いシーンも明るくキレイに撮影できる約4,800万画素のカメラや、広角115度の撮影ができる約500万画素のカメラ、マクロ撮影対応の約190万画素のカメラなど4眼のアウトカメラと、背景をぼかしたセルフィ―が撮影できる2眼のフロントカメラを搭載し、人物や夜景など日常を彩り豊かに記録できる。</p>
          <ul class="c-Txt_Cap u-Adjust_Mt-16">
            <li><span>※</span>本機の標準カメラ（有効画素数4800万画素(48.0M)）の最大撮影可能サイズは1200万画素(12.0M)です。<br>4800万画素(48.0M)で撮影することはできません。4800万画素(48.0M)カメラの４つのピクセルセンサーを束ねて大きく使うことで、<br>取り込む光量が増え、1200万画素(12.0M)で明るくキレイに撮影することを実現しております。</li>
          </ul>
        </section>
      </section>

      <div class="product-detail-Layout_Sub <%= namespace %>_Sub">
        <div class="l-System_Container">
          <section class="product-detail-Layout_Section">
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-01.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">ディスプレイは90Hzで描画、120Hzでタッチを検知し、残像の少ない滑らかな表示と機敏なレスポンスを実現</h3>
                <p>AQUOS senseシリーズで初めて90Hzの高速駆動に対応。さらに、120Hzでタッチを検知することにより、残像の少ないなめらか表示と機敏なレスポンスで、動きの激しいゲームも心地よくプレイできる。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-02.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">防水・防塵やおサイフケータイ、デュアルSIMなどの基本機能も充実</h3>
                <p>IPX5/IPX8とIP6Xの防水・防塵性能を有し、水回りでの利用や不意の雨の日でも安心。おサイフケータイやデュアルSIMにも対応で日常使いも満足。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-03.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">上質な背面グラデーションデザインと持ちやすい形状</h3>
                <p>背面は上質で美しいグラデーション仕上げ。持ちやすさにこだわったAQUOS独自の側面形状で、縦使いも横使いもしっかりホールドできて使いやすい。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-04.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">OSバージョンアップ対応。常に最新OSで快適なスマホライフ</h3>
                <p>発売日から2年間、最大2回のOSバージョンアップに対応し、常に最新の使い心地とあんしんをお届け。より長く快適に使い続けられる。</p>
              </div>
            </section>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="product-detail-Layout_Other">
  <div class="l-System_Container">

    <%- include('/include/product/_compensation') %>

    <section class="product-detail-Layout_Section" id="spec">
      <h2 class="c-Heading_Lv2">スペック</h2>
      <dl class="c-Dl">
        <div>
          <dt>製品名</dt>
          <dd>AQUOS sense4 plus</dd>
        </div>
        <div>
          <dt>色</dt>
          <dd>パープル / ホワイト / ブラック</dd>
        </div>
        <div>
          <dt>サイズ</dt>
          <dd>約166 x 約78 x 約8.8 (mm)</dd>
        </div>
        <div>
          <dt>重量</dt>
          <dd>約197g</dd>
        </div>
        <div>
          <dt>ディスプレイ</dt>
          <dd>
            <p>サイズ / 種類</p>
              約6.7インチ / TFT
              <p class="u-Adjust_Mt-16">解像度</p>
              FHD+ / 2,400 × 1,080
          </dd>
        </div>
        <div>
          <dt>連続待受時間（LTE）</dt>
          <dd>約720時間</dd>
        </div>
        <div>
          <dt>連続通話（通信）時間（LTE）</dt>
          <dd>約50時間</dd>
        </div>
        <div>
          <dt>CPU</dt>
          <dd>Qualcomm&reg; Snapdragon&trade; 720G / オクタコア 2.3GHz + 1.8GHz</dd>
        </div>
        <div>
          <dt>OS※1</dt>
          <dd>Android&trade; 10</dd>
        </div>
        <div>
          <dt>内蔵メモリ（RAM / ROM）</dt>
          <dd>8GB (RAM) / 128GB (ROM)</dd>
        </div>
        <div>
          <dt>メインカメラ（外側）※2</dt>
          <dd>約4,800万画素 + 約500万画素 + 約190万画素 + 約190万画素 (ボケ)</dd>
        </div>
        <div>
          <dt>フロントカメラ（内側）</dt>
          <dd>約800万画素 + 約190万画素 (ボケ)</dd>
        </div>
        <div>
          <dt>バッテリー容量</dt>
          <dd>約4,120mAh</dd>
        </div>
        <div>
          <dt>ワイヤレス充電</dt>
          <dd>非対応</dd>
        </div>
        <div>
          <dt>おサイフケータイ / NFC</dt>
          <dd>対応 / 対応</dd>
        </div>
        <div>
          <dt>防水 / 防塵</dt>
          <dd>対応 (IPX5 / IPX8 / IP6X)</dd>
        </div>
        <div>
          <dt>生体認証（指紋 / 顔）</dt>
          <dd>対応 / 対応</dd>
        </div>
        <div>
          <dt>VoLTE（Rakuten, docomo, au, SoftBank）</dt>
          <dd>対応 / 対応 / 対応 / 対応</dd>
        </div>
        <div>
          <dt>Wi-Fi規格</dt>
          <dd>IEEE802.11 a/b/g/n/ac</dd>
        </div>
        <div>
          <dt>テザリング（Wi-Fi）</dt>
          <dd>10台</dd>
        </div>
        <div>
          <dt>SIMタイプ</dt>
          <dd>nanoSIM x 2</dd>
        </div>
        <div>
          <dt>付属品</dt>
          <dd>保証書 / クイックスタートガイド / SIM取り出しツール</dd>
        </div>
      </dl>
      <ul class="c-Txt_Cap u-Adjust_Mt-24">
        <li class="c-Txt_Emp-01"><span>※</span>充電器が付属されていません。充電器は当社推奨品をご利用ください。推奨品は<a href="<%= sitepath %>product/accessory/owltech-owlapd18c1a1/" class="c-Link_Txt">こちら</a>。</li>
      </ul>
      <ul class="c-Txt_Cap u-Adjust_Mt-16">
        <li><span>※1</span>発売時点のOSのバージョンを記載しています。最新のOSバージョン情報は<a href="<%= sitepath %>information/software/aquos-sense4-plus/" class="c-Link_Txt">こちら</a>をご確認ください。</li>
      </ul>
      <ul class="c-Txt_Cap u-Adjust_Mt-8">
        <li><span>※2</span>本機の標準カメラ（有効画素数4800万画素(48.0M)）の最大撮影可能サイズは1200万画素(12.0M)です。<br>4800万画素(48.0M)で撮影することはできません。4800万画素(48.0M)カメラの４つのピクセルセンサーを束ねて大きく使うことで、<br>取り込む光量が増え、1200万画素(12.0M)で明るくキレイに撮影することを実現しております。</li>
      </ul>
      <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>product/smartphone/<%= directory %>/spec.html" class="c-Link_Txt-inline">スペック詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>

    </section>

    <section class="product-detail-Layout_Section">
      <h2 class="c-Heading_Lv2">専用アクセサリー</h2>
      <div class="c-Carousel js-Carousel-multi">
        <div><a href="<%= sitepath %>product/accessory/rselect-rmshaqs016f0131cl/?l-id=product_aquos-sense4-plus_rselect-rmshaqs016f0131cl"><img data-lazy="<%= sitepath %>assets/img/accessory/rselect-rmshaqs016f0131cl/pht-accessory-00.png" alt=""></a></div>
        <div><a href="<%= sitepath %>product/accessory/rselect-rmshaqs016f0132cl/?l-id=product_aquos-sense4-plus_rselect-rmshaqs016f0132cl"><img data-lazy="<%= sitepath %>assets/img/accessory/rselect-rmshaqs016f0132cl/pht-accessory-00.png" alt=""></a></div>
        <div><a href="<%= sitepath %>product/accessory/rselect-rmshaq016c0136/?l-id=product_aquos-sense4-plus_rselect-rmshaq016c0136"><img data-lazy="<%= sitepath %>assets/img/accessory/rselect-rmshaq016c0136/pht-accessory-00.png" alt=""></a></div>
      </div>
      <div class="c-Carousel_Nav-v2-wrap">
        <div class="c-Carousel_Nav-v2"></div>
        <div class="c-Carousel_Nav-v2-bar"></div>
      </div>
      <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>product/accessory/smartphone-related/" class="c-Link_Txt-inline">その他アクセサリーを見る<span class="c-Icon_Chevron-right"></span></a></p>
    </section>


    <section class="product-detail-Layout_Section">
      <h2 class="c-Heading_Lv2">設定・サポート</h2>
      <div>
        <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/setting/aquos-sense4-plus/" class="c-Link_Txt-inline">初期設定方法を見る<span class="c-Icon_Chevron-right"></span></a></p>
        <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/inquiry/" class="c-Link_Txt-inline">メーカーへのお問い合わせ<span class="c-Icon_Chevron-right"></span></a></p>
      </div>
    </section>
    <div id="previously-seen"></div>
  </div>
</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-product-v2.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>


  </div>
  <div class="c-Breadcrumbs_Foot">
    <div class="l-System_Container">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/product/_category-js') %>
<%- include('/include/product/_history-js') %>
<%- include('/include/_append-body') %>
<script src="<%= sitepath %>assets/js/product.purchase-modal.bundle.js?20240521"></script>
<%- include('/include/_beacon', { itemId: itemId }) %>
</body>
</html>
