
  <%_ if (typeof hiddenBnr !== 'undefined') { _%>
    <% } else { %>
      <div class="l-System_Container">

        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">
          キャンペーン開催中
        </h2>
        <%_ if (typeof hiddenArea !== 'undefined') { _%>
        <ul class="u-Adjust_Mt-16 l-Media_List-2 u-Adjust_Align-center area-Layout_List">
          <li>
            <a href="<%= sitepath %>internet/turbo/campaign/one-year-1980/" class="c-Banner_Hover-act">
              <picture>
                <source media="(max-width:834px)" srcset="/assets/img/internet/turbo/bnr/banner-top-328-185-one-year-1980.png" width="100%">
                <img src="/assets/img/internet/turbo/bnr/banner-top-504-158-one-year-1980.png" alt="工事不要！すぐに使えるおうちのWiFi プラン料金1年間1,980円/月※製品代金 別途41,580円※プラン料金2年目以降4,840円"　width="504" height="158">
              </picture>
            </a>
          </li>

          <li>
            <a href="<%= sitepath %>internet/turbo/campaign/spu/" class="c-Banner_Hover-act">
              <picture>
                <source media="(max-width:834px)" srcset="/assets/img/internet/turbo/bnr/banner-top-328-185-spu.png" width="100%">
                <img src="/assets/img/internet/turbo/bnr/banner-top-504-158-spu.png" alt="Rakuten Turboご契約中はSPUポイント+1倍 スマホとセットで使えばポイント最大+4倍※"　width="504" height="158">
              </picture>
            </a>
          </li>
        </ul>

        <div class="u-Adjust_Mt-56 u-Adjust_Mb-56 u-Adjust_Align-center">
          <h2 class="c-Heading_Lv2">その他おすすめサービス</h2>
          <p class="u-Adjust_Mt-16">Rakuten Turbo対応エリア外の方は楽天ひかり<br>がおすすめ！</p>
          <div class="u-Adjust_Mt-16">
            <a href="<%= sitepath %>hikari/" class="c-Banner_Hover-act">
              <picture>
                <source media="(max-width:834px)" srcset="/assets/img/internet/turbo/bnr/bnr-hikari-640-380-230929.png" width="100%">
                <img src="/assets/img/internet/turbo/bnr/bnr-hikari-950-350-230929.png" alt="高速＆安定の光回線！月額基本料4180円（税込）〜。楽天モバイルとセットで使えば楽天市場のお買い物がポイント最大＋4倍" width="504" height="158">
              </picture>
            </a>
          </div>
        </div>
        <% } else { %>
        <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
        <a href="<%= sitepath %>internet/turbo/campaign/one-year-1980/?l-id=rmt_footer_one-year-1980_01" data-ratevent="click" data-ratparam="all" class="c-Banner_Hover-act">
          <picture>
            <source media="(max-width:834px)" srcset="/assets/img/internet/turbo/bnr/bnr-turbo-343-108_231221.png" width="100%">
            <img src="/assets/img/internet/turbo/bnr/bnr-turbo-1032-160_231221.png" alt="Rakuten Turbo 工事不要！！すぐに使える おうちのWi-Fi スマホとセットで使うと20,000ポイント還元で初年度プラン料金1,980円/月が実質10カ月無料 ※製品代金 別途41,580円 ※プラン料金2年目以降4,840円 ※その他条件あり ※ポイントはRakuten Turboの課金が確認された月の翌々月末日ごろに進呈" width="100%">
          </picture>
        </a>
        </div>
        <%_ } _%>
      </div>
  <%_ } _%>

  <%_ if (typeof sixMonthFreeBnr !== 'undefined' && sixMonthFreeBnr === true) { _%>
    <section class="u-Adjust_Mt-48">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">その他おすすめサービス</h2>
        <p class="u-Adjust_Align-center u-Adjust_Mt-16">高速＆安定な光回線をお探しの方へおすすめ</p>
        <div class="u-Adjust_Align-center u-Adjust_Mt-24">
          <%_ if (typeof lidparts !== 'undefined') { _%>
          <a class="c-Banner_Hover-act" href="<%= sitepath %>hikari/campaign/six-month-free/" data-lid_parts="<%= lidparts %>">
          <%_ } else { _%>
          <a class="c-Banner_Hover-act" href="<%= sitepath %>hikari/campaign/six-month-free/">
          <%_ } _%>
            <picture>
              <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/internet/turbo/bnr/bnr-six-month-free-343-108-240122.png" width="343" height="108">
              <img src="<%= sitepath %>assets/img/internet/turbo/bnr/bnr-six-month-free-1032-160-240122.png" alt="楽天ひかり初めてお申し込み&楽天モバイルご利用で楽天ひかりの月額基本料6カ月0円 ※契約解除料、その他条件あり さらに楽天市場のお買い物がポイント毎日全員7倍" width="1032" height="160">
            </picture>
          </a>
        </div>
      </div>
    </section>
  <%_ } _%>

<div class="turbo-More-nav u-Adjust_Mt-40">
  <div class="l-System_Container">
    <h3 class="c-Heading_Lv3 u-Adjust_Align-center">もっと知りたいRakuten Turbo</h3>
    <ul class="turbo-More-nav_List u-Adjust_Mt-24">
      <%_ if (typeof hiddenFee !== 'undefined') { _%>
        <% } else { %>
      <li class="turbo-More-nav_Item">
        <a class="turbo-More-nav_Item-link" href="<%= sitepath %>internet/turbo/fee/" data-lid_parts="footer">
          料金<span class="turbo-More-nav_Item-icon c-Icon_Chevron-right"></span>
        </a>
      </li>
      <%_ } _%>
      <%_ if ( typeof hiddenProduct !== 'undefined') { _%>
        <% } else { %>
      <li class="turbo-More-nav_Item">
        <a class="turbo-More-nav_Item-link" href="<%= sitepath %>internet/turbo/product/" data-lid_parts="footer">
          製品<span class="turbo-More-nav_Item-icon c-Icon_Chevron-right"></span>
        </a>
      </li>
      <%_ } _%>
      <%_ if ( typeof hiddenArea !== 'undefined') { _%>
        <% } else { %>
      <li class="turbo-More-nav_Item">
        <a class="turbo-More-nav_Item-link" href="<%= sitepath %>internet/turbo/area/" data-lid_parts="footer">
          通信・エリア<span class="turbo-More-nav_Item-icon c-Icon_Chevron-right"></span>
        </a>
      </li>
      <%_ } _%>
    </ul>
    <ul class="turbo-More-nav_Tail u-Adjust_Mt-24">
      <li class="turbo-More-nav_Tail-item"><a href="<%= sitepath %>internet/turbo/information/" data-lid_parts="footer">お知らせ</a></li>
      <li class="turbo-More-nav_Tail-item"><a href="<%= sitepath %>terms/" data-lid_parts="footer">利用規約・重要事項説明書</a></li>
    </ul>
  </div>
</div>
