<% const pagetitle = "Rakuten Miniを便利に、楽しく。" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/rakuten/", label:"Rakutenオリジナル"}, {path:"product/smartphone/rakuten-mini/", label:"Rakuten Mini"}] -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Rakuten Miniを便利に、楽しくご利用いただくために、おススメの楽天公式アプリを案内します',
    noindex: false,
    pathname: 'product/smartphone/rakuten-mini/rakuten-app/',
    redirect: {url: 'product/smartphone/rakuten-mini/'}
  });
%>

<%- include('/include/_common-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
