<% const pagetitle = "楽天モバイルご契約者様限定！Hulu 31日間無料トライアル" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "hulu" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '楽天モバイルご契約者様限定！今ならHulu（フールー）が31日間無料でご利用いただける楽天モバイルのキャンペーンです。さらにHuluのお申し込みから3カ月の継続契約で2,052円相当の楽天ポイントプレゼント！',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/hulu/hulu.css?20240424">
<!-- ReX Campaign Button: stylesheet -->
<link rel="stylesheet" href="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/4.4.0/static/css/main.css?20240424" />
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout_Label">
<ul class="c-Label_List">
      <li class="c-Label_Normal">エントリー必要</li>
      <li class="c-Label_Normal">ご契約者様対象</li>
    </ul>
    <p class="<%= namespace %>-Layout_Label_point">ポイント：付与日を含めて6カ月の期間限定ポイント</p>
    </div>


    <div class="<%= namespace %>-Layout_Kv-wrapper">
      <div class="<%= namespace %>-Layout_Kv">
        <div class="<%= namespace %>-Layout_Kv-inner">
          <h1>
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/hulu/kv-sp-220809.png">
              <img src="<%= sitepath %>assets/img/campaign/hulu/kv-pc-220809.png" alt="楽天モバイルご契約者様限定・要エントリー Hulu 人気の映画やドラマ・アニメなど万本以上の作品が見放題で楽しめる ※Huluストアの作品は対象外となり、別途課金となります。 通常2週間のところ31日間無料トライアル +さらにお申し込みから3カ月のHulu継続契約で2,052相当分の楽天ポイントプレゼント!※本キャンペーンは楽天モバイルをご契約中かつHuluへ初めてご登録のお客様が対象です">
            </picture>
          </h1>
        </div>
      </div>
    </div>
    <div class="l-System_Container">

      <p class="c-Txt_Normal-xl c-Txt_Emp-02 u-Adjust_Mt-16 u-Adjust_Mb-16 u-Adjust_Align-center">本キャンペーンは終了しました。</p>

      <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><span class="c-Txt_Emp-01">【キャンペーン期間】</span><br class="<%= namespace %>-Utility_Br-sp">2022年6月6日(月) 9:00～2022年9月7日(水) 8:59</p>
      <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Align-center <%= namespace %>-Utility_Mt-8-16">期間内のエントリー後、Huluのご登録で31日間の無料トライアルをご利用できるキャンペーンです</p>
      <div class="<%= namespace %>-Layout_Nav-wrapper <%= namespace %>-Utility_Mt-8-24">
        <ul class="<%= namespace %>-Layout_Nav">
          <li><a href="#sec1" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>Huluとは</a></li>
          <li><a href="#sec2" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>キャンペーンの流れ</a></li>
          <li><a href="#sec3" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルール</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="l-System_Container">
    <div id="sec1" class="<%= namespace %>-Layout_Head">
      <h1>Hulu（フールー） とは</h1>
    </div>
    <p class="<%= namespace %>-Utility_Center-pc u-Adjust_Mt-16">いま話題の作品が見放題！！人気の映画やドラマ、アニメなどあなたの好みの作品が見つかる動画配信サービスです！</p>
    <div class="<%= namespace %>-Utility_Br-pc u-Adjust_Mt-16">
      <img src="<%= sitepath %>assets/img/campaign/hulu/hulu-content-pc-220606.png" alt="君と世界が終わる日に Season3 ウェントワース女子刑務所 パンドラの果実 トモダチゲーム アンパンマンチャンネル">
    </div>
  </div>
  <div class="<%= namespace %>-Utility_Br-sp <%= namespace %>-Layout_SP-carousel">
    <div class="js-hulu-carousel">
      <img src="<%= sitepath %>assets/img/campaign/hulu/hulu-content-sp-1-220606.png" alt="君と世界が終わる日に Season3">
      <img src="<%= sitepath %>assets/img/campaign/hulu/hulu-content-sp-2-220606.png" alt="ウェントワース女子刑務所">
      <img src="<%= sitepath %>assets/img/campaign/hulu/hulu-content-sp-3-220606.png" alt="パンドラの果実">
      <img src="<%= sitepath %>assets/img/campaign/hulu/hulu-content-sp-4-220606.png" alt="トモダチゲーム">
      <img src="<%= sitepath %>assets/img/campaign/hulu/hulu-content-sp-5-220606.png" alt="アンパンマンチャンネル">
    </div>
    <div class="c-Carousel_Nav"></div>
  </div>
  <div class="l-System_Container u-Adjust_Mt-16">
    <ul class="<%= namespace %>-Layout_Content">
      <li>
        <div class="u-Adjust_Align-center">
          <img src="<%= sitepath %>assets/img/campaign/hulu/about-1-220606.png" width="142" alt="">
        </div>
        <h4 class="c-Txt_Normal-m u-Adjust_Align-center u-Adjust_Mt-8">思うがままに</h4>
        <p class="u-Adjust_Mt-8">家の中でも外出先でもお気に入りの機器で視聴可能。いつでもキャンセルできます。</p>
      </li>
      <li>
        <div class="u-Adjust_Align-center">
          <img src="<%= sitepath %>assets/img/campaign/hulu/about-2-220606.png" width="142" alt="">
        </div>
        <h4 class="c-Txt_Normal-m u-Adjust_Align-center u-Adjust_Mt-8">人気番組の見逃しも</h4>
        <p class="u-Adjust_Mt-8">人気テレビ番組の見逃し配信をいつでも、どこでもお楽しみいただけます。オリジナルのコンテンツも充実。</p>
      </li>
      <li>
        <div class="u-Adjust_Align-center">
          <img src="<%= sitepath %>assets/img/campaign/hulu/about-3-220606.png" width="142" alt="">
        </div>
        <h4 class="c-Txt_Normal-m u-Adjust_Align-center u-Adjust_Mt-8">テレビで楽しめる</h4>
        <p class="u-Adjust_Mt-8">インターネットに接続したスマートテレビやメディアプレイヤー、ゲーム機を使い、リビングでくつろぎながら、大画面でお楽しみいただけます。</p>
      </li>
    </ul>
    <p class="u-Adjust_Mt-16 c-Txt_Cap">
      ©︎HJホールディングス　© 2020 Foxtel Management Limited and FremantleMedia Australia Pty. Ltd.　©やなせたかし／フレーベル館・TMS・NTV<br class="<%= namespace %>-Utility_Br-pc">
      ©山口ミコト・佐藤友生・講談社／「トモダチゲーム」製作委員会　©中村啓・光文社／NTV・HJホールディングス
    </p>
    <div id="sec2" class="<%= namespace %>-Layout_Head <%= namespace %>-Utility_Mt-80-64">
      <h1>キャンペーンの流れ</h1>
    </div>
    <ol class="c-Flow <%= namespace %>-Layout_Flow u-Adjust_Mt-24">
      <li>
        <h3 class="c-Heading_Lv3">1. このページからエントリー</h3>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">2. 楽天モバイルご契約者様専用ページよりHuluのアカウントを登録</h3>
        <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><span class="c-Txt_Emp-02">専用ページ</span>からHuluのアカウントを<br class="hulu-Utility_Br-sp">登録してください</p>
        <div class="u-Adjust_Align-center">
          <a href="https://www.hulu.jp/lp/rakutenmobile_2022/" target="_blank" class="c-Btn_Primary-large u-Adjust_Mt-16"><span>ご契約者様専用ページ<span class="c-Icon_New-window-f c-Btn_Icon-end"></span></span></a>
        </div>
        <p class="<%= namespace %>-Utility_Center-pc c-Txt_Cap hulu-Layout_Cta-note" style="max-width: 504px;">
          <span class="c-Txt_Emp-02">※上記ページ以外からの登録はキャンペーン対象外です</span><br>
          ※ 登録メールアドレスは必ず<a class="c-Link_Txt" href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile/" target="_blank">my 楽天モバイル</a><span class="c-Txt_Emp-02">の連絡先情報のアドレス</span>を入力してください<br>
          連絡先情報は「my 楽天モバイル→右上メニュー→契約者情報」で確認できます<br>
          ※ メールアドレスが合致しない場合は特典対象外となります<br>
        </p>
        <div class="u-Adjust_Align-center <%= namespace %>-Utility_Mt-32-16">
          <img src="<%= sitepath %>assets/img/campaign/hulu/flow-1-220606.png" width="300" alt="">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">3. 確認コードと必要事項を入力</h3>
        <p class="<%= namespace %>-Utility_Center-pc <%= namespace %>-Utility_Mt-24-16">4ケタの確認コードがメールで送信されるので、コードとお客様情報を入力してください</p>
        <div class="u-Adjust_Align-center <%= namespace %>-Utility_Mt-32-16 <%= namespace %>-Layout_Flow-2-pic">
          <img src="<%= sitepath %>assets/img/campaign/hulu/flow-2-220606.png" width="300" alt="">
          <img class="<%= namespace %>-Layout_Union-1 hulu-Utility_Br-pc" src="<%= sitepath %>assets/img/campaign/hulu/union-1-220606.png" alt="">
          <img class="<%= namespace %>-Layout_Union-2 hulu-Utility_Br-sp" src="<%= sitepath %>assets/img/campaign/hulu/union-2-220606.png" alt="">
          <img src="<%= sitepath %>assets/img/campaign/hulu/flow-3-220606.png" width="300" alt="">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">4. お支払い方法を設定</h3>
        <p class="<%= namespace %>-Utility_Center-pc <%= namespace %>-Utility_Mt-24-16">お支払い方法を設定して無料トライアルを開始してください</p>
        <div class="u-Adjust_Align-center <%= namespace %>-Utility_Mt-32-16">
          <img src="<%= sitepath %>assets/img/campaign/hulu/flow-4-220606.png" width="300" alt="">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">5. Huluを無料で楽しむ</h3>
        <div class="l-Media_Grid u-Adjust_Mt-16">
          <div class="l-Media_Image c-Flow_Image">
            <div class="<%= namespace %>-Layout_Flow-hulu">
              <img src="<%= sitepath %>assets/img/campaign/hulu/flow-5-220606.png" alt="">
            </div>
          </div>
          <div>
            <p>通常なら2週間無料のところ、<span class="c-Txt_Emp-02">楽天モバイルなら31日間無料！</span></p>
            <div class="<%= namespace %>-Layout_Flow-gray">
              <h4>Huluアプリのダウンロードはこちら</h4>
              <div class="<%= namespace %>-Layout_Flow-apply">
                <a href="https://play.google.com/store/apps/details?id=jp.happyon.android&hl=ja&gl=US" target="_blank">
                  <img src="<%= sitepath %>assets/img/campaign/hulu/googleplay-220606.png" alt="">
                </a>
                <a href="https://apps.apple.com/jp/app/hulu-%E3%83%95%E3%83%BC%E3%83%AB%E3%83%BC-%E4%BA%BA%E6%B0%97%E3%83%89%E3%83%A9%E3%83%9E%E3%82%84%E6%98%A0%E7%94%BB-%E3%82%A2%E3%83%8B%E3%83%A1%E3%81%AA%E3%81%A9%E3%81%8C%E8%A6%8B%E6%94%BE%E9%A1%8C/id549416492" target="_blank">
                  <img src="<%= sitepath %>assets/img/campaign/hulu/appstore-220606.png" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">6. 3カ月の継続契約で、<span class="c-Txt_Emp-02">さらに2,052ポイントプレゼント！</span></h3>
        <div class="l-Media_Grid u-Adjust_Mt-16 <%= namespace %>-Layout_Flow-reverse">
          <div class="l-Media_Image c-Flow_Image <%= namespace %>-Layout_Flow-reverse-item-1">
            <img src="<%= sitepath %>assets/img/campaign/hulu/flow-6-220606.png" alt="">
          </div>
          <div class="<%= namespace %>-Layout_Flow-reverse-item-2">
            キャンペーン条件達成が確認された月の翌々月末日ごろに、<br>
            楽天モバイルより6カ月間の期間限定ポイントとして付与いたします
          </div>
        </div>
      </li>
    </ol>
    <div class="<%= namespace %>-Layout_Head <%= namespace %>-Utility_Mt-80-64">
      <h1>ポイント進呈時期の具体例</h1>
    </div>
    <h4 class="c-Txt_Normal-m <%= namespace %>-Utility_Mt-24-16">6月6日(月)にキャンペーンが適用された場合、以下の特典が受けられます</h4>
    <div class="<%= namespace %>-Layout_Scroll-img u-Adjust_Mt-16">
      <img src="<%= sitepath %>assets/img/campaign/hulu/point-pc-220606.png" class="<%= namespace %>-Utility_Br-pc" alt="">
      <img src="<%= sitepath %>assets/img/campaign/hulu/point-sp-220606.png" class="<%= namespace %>-Utility_Br-sp" alt="">
    </div>
    <h2 class="c-Txt_Normal-ll u-Adjust_Align-center u-Adjust_Mt-64">よくあるご質問</h2>
    <div class="c-Accordion u-Adjust_Mt-24">
      <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーンへのエントリーは必要ですか？</button>
      <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true" style="display: none;">
        キャンペーンへのエントリーは必要です。エントリー完了後、ご契約者様専用ページよりHuluへご登録ください。
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>エントリーされているか、どこで確認できますか？</button>
      <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true" style="display: none;">
        <a href="https://oubo.rakuten.co.jp/list" target="_blank" class="c-Link_Txt">「キャンペーンエントリー履歴」</a>からご確認いただけます。
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>「ご契約者様専用ページ」以外のページでHuluへ登録してもキャンペーン対象になりますか？</button>
      <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true" style="display: none;">
        キャンペーン対象外になります。<a href="https://www.hulu.jp/lp/rakutenmobile_2022/" target="_blank" class="c-Link_Txt">「ご契約者様専用ページ」</a>よりHuluへご登録をお願いいたします。
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Huluの無料トライアル期間は、どこで確認できますか？</button>
      <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true" style="display: none;">
        Huluのアカウント情報ページにお申し込み日が表示されます。お申し込み日を含めた31日間が無料トライアル期間です。<br>
        例1）6月20日にお申し込みいただいた場合、7月20日が31日無料トライアル期間終了日です。<br>
        例2）8月1日にお申し込みいただいた場合、8月31日が31日無料トライアル期間終了日です。
      </div>
    </div>
    <h2 id="sec3" class="c-Txt_Normal-ll u-Adjust_Align-center u-Adjust_Mt-64">Hulu無料トライアルキャンペーン ルール</h2>
    <dl class="c-Dl_Origin u-Adjust_Mt-24 <%= namespace %>-Layout_Rule">
      <div>
        <dt>キャンペーンコード</dt>
        <dd>
          1513
          <p class="c-Txt_Cap">※ 本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</p>
        </dd>
      </div>
      <div>
        <dt>キャンペーン期間</dt>
        <dd>
          <span class="c-Txt_Emp-01">■ エントリー期間</span><br>
          2022年6月6日（月）9:00～2022年9月7日（水）8:59<br>
          <span class="c-Txt_Emp-01">■ Huluのお申し込み期間</span><br>
          2022年6月6日（月）9:00～2022年9月7日（水）8:59
        </dd>
      </div>
      <div>
        <dt>キャンペーン条件</dt>
        <dd>
          <p class="c-Txt_Emp-02">上記各項目の期間内に【1】、【2】、【3】、【4】の条件を順序通りにすべて満たした楽天会員の方</p>
          <p class="c-Txt_Emp-01 u-Adjust_Mt-16">【1】「Rakuten UN-LIMIT VI」もしくは「Rakuten UN-LIMIT VII」の契約者である。または、エントリー時までに「Rakuten UN-LIMIT VI」もしくは「Rakuten UN-LIMIT VII」へ、下記(1)～(3)いずれかの方法にてお申し込み</p>
          <p class="u-Adjust_Mt-8">本キャンペーンへのエントリー時点で「Rakuten UN-LIMIT VI」もしくは「Rakuten UN-LIMIT VII」をお申し込みされていない場合は、楽天モバイルのWebサイトまたは店頭から下記（1）-（3）いずれかの方法でのお申し込みが必要です。既にお申し込みされている場合は、新たなお手続きは不要となります。</p>
          <p class="u-Adjust_Mt-8">(1) 新規お申し込み</p>
          <p class="u-Adjust_Mt-8">(2) 他社からの乗り換え（MNP）でお申し込み</p>
          <p class="u-Adjust_Mt-8">(3) 楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</p>
          <p class="c-Txt_Emp-01 u-Adjust_Mt-16">【2】キャンペーンへのエントリー</p>
          <p class="u-Adjust_Mt-8">エントリー期間内に本キャンペーンページでエントリー</p>
          <p class="c-Txt_Emp-01 u-Adjust_Mt-16">【3】エントリー後、Huluへ初めてお申し込み</p>
          <p class="u-Adjust_Mt-8">Huluへの会員登録を新規にお申し込みいただいたお客様が対象となります</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※ ご契約者様専用ページよりHuluにお申し込みください</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※ my 楽天モバイルの連絡先メールアドレスと同じメールアドレスをHuluの会員登録時にご使用ください</p>
          <p class="c-Txt_Emp-01 u-Adjust_Mt-16">【4】Hulu3カ月継続契約</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※ 3カ月継続契約期間に31日間無料視聴期間を含みます</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※ 31日間無料視聴期間終了日の翌日が課金開始日となります</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※ 例1）6月20日にお申し込みいただいた場合には、7月20日までが31日無料トライアル期間、7月21日が初回課金日、8月21日が２回目課金日となり、3カ月ご契約条件達成となります</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※ 例2）8月1日にお申し込みいただいた場合には、8月31日までが31日無料トライアル期間、9月1日が初回課金日、10月1日が２回目課金日となり、3カ月ご契約条件達成となります</p>
        </dd>
      </div>
      <div>
        <dt>キャンペーン特典 （楽天ポイント）</dt>
        <dd>
          <p class="c-Txt_Emp-01">
            ■特典内容
          </p>
          <p class="c-Txt_Emp-01 u-Adjust_Mt-8">
            Huluが31日間無料で視聴可能、Hulu３カ月の継続利用で楽天ポイント2,052円相当のポイントをプレゼント
          </p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※ 2,052ポイントはキャンペーン条件達成【1】～【4】を確認の上付与</p>
          <p class="c-Txt_Emp-01 u-Adjust_Mt-8">
            ■ポイント付与
          </p>
          <p class="c-Txt_Emp-01 u-Adjust_Mt-8">キャンペーン条件【1】～【4】が確認された月の翌々月末日ごろに付与</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※ 例）8月にすべての条件を達成した場合には、その翌々月である10月末日ごろにポイント付与となります</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※ 楽天ポイントの付与は、楽天モバイルより行います</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※ 権利の譲渡はできません</p>
          <p class="c-Txt_Emp-01 u-Adjust_Mt-8">
            ■ポイント有効期間
          </p>
          <p class="c-Txt_Emp-01 u-Adjust_Mt-8">
            ポイント付与日を含めて6カ月
          </p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※ <a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※ 有効期限までにポイントをご利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</p>
        </dd>
      </div>
      <div>
        <dt>特典適用対象外</dt>
        <dd>
          <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※ エントリー後に「Rakuten UN-LIMIT VI」もしくは「Rakuten UN-LIMIT VII」へ申し込みいただく場合</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※ 楽天モバイルご契約者様専用ページ以外から申し込んだ場合</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※ 期間中に「Rakuten UN-LIMIT VI」もしくは「Rakuten UN-LIMIT VII」の契約者変更（譲渡・承継）を受けた場合</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※ お支払いが正常に完了していない場合</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※ 当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※ Huluの定期購入や無料お試しを過去に行ったことがある場合</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※ ポイント付与前に楽天会員から退会している場合</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※ 当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※ そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</p>
        </dd>
      </div>
      <div>
        <dt>注意事項</dt>
        <dd>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※ 本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※ 本キャンペーンへのお申し込みは、お一人様1回のみとさせていただきます。複数回お申し込みいただいても無効となりますので予めご了承ください</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※ 本キャンペーンの運営に関連して取得した応募者の個人情報は、応募条件を満たしていることの確認およびポイント付与を目的としてHJホールディングス株式会社に取扱いを委託いたします</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※ 本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※ 本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※ 記載の内容は2022年6月6日（月）時点の情報となります</p>
        </dd>
      </div>
    </dl>
  </div>

  <footer class="g-Footer <%= namespace %>-Layout_Footer u-Adjust_Mt-64">
    <div class="g-Footer_Aside">
      <%- include('/include/footer/related/_related-news.ejs') %>
      <%- include('/include/footer/bnr/_bnr-news.ejs') %>
    </div>
    <div class="l-System_Container">
      <div class="c-Breadcrumbs_Foot">
        <ul>
          <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ if (typeof directories !== 'undefined') { _%>
          <%_ let dirs = []; _%>
          <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
          <%_ }) _%>
          <%_ } _%>
          <li aria-current="true"><%= pagetitle %></li>
        </ul>
      </div>
    </div>
    <%- include('/include/_footer') %>
  </footer>

  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
  <!-- ReX Campaign Entry Button: Configuration -->
  <script>var rexButtons = [{"wide":false,"showCelebration":false,"theme":"red","code":"/rmobile/campaign/hulu","ids":["rex-ceb-01","rex-ceb-02"]}]</script>

  <!-- ReX Campaign Entry Button: Script -->
  <script src="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/4.4.0/static/js/main.js" defer></script>
  <script>
    var huluCarousel = $('.js-hulu-carousel');
    huluCarousel.each(function() {
    var $self = $(this);
    var carouselConfig = {
        respondTo: 'min',
        slidesToShow: 3,
        arrows: true,
        dots: true,
        dotsClass: 'slick-dots c-Carousel_Dots',
        infinite: true,
        prevArrow: '<button class="c-Carousel_Nav-prev c-Icon_Chevron-left" aria-label="Previous" type="button">Previous</button>',
        nextArrow: '<button class="c-Carousel_Nav-next c-Icon_Chevron-right" aria-label="Next" type="button">Next</button>',
    };
    console.log($self.next('.c-Carousel_Nav'));
    $self.slick($.extend({}, carouselConfig, {
        appendArrows: $self.next('.c-Carousel_Nav'),
        appendDots: $self.next('.c-Carousel_Nav')
    }));
});
  </script>
</body>
</html>
