<% const pagetitle = "Aterm MP02LN" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: pagetitle,
    keywords: pagetitle,
    noindex: false,
    pathname: filepath
  });
%>
<% const directory = "aterm-mp02ln" -%>

<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/router/detail/router-detail.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <li><a href="<%= sitepath %>product/">製品</a><span class="c-Icon_Chevron-right"></span></li>
    <li><a href="<%= sitepath %>product/router/">ルーター</a><span class="c-Icon_Chevron-right"></span></li>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="router-detail-Layout">
  <div class="router-detail-Layout_Hero">
    <div class="l-System_Container">
      <section class="router-detail-Hero">
        <div class="router-detail-Hero_Data">
          <div>
            <h1 class="co-Heading_Lv1 router-detail-Hero_Name"><img src="<%= sitepath %>assets/img/router/<%= directory %>/logo.svg" alt="<%= pagetitle %>"></h1>
            <p class="router-detail-Hero_Maker">NEC</p>
            <p class="router-detail-Hero_Copy">業界最小&amp;最軽量ルーター ※</p>
          </div>
        </div>
        <div class="router-detail-Hero_Main">
          <ul class="router-detail-Hero_Main-device c-Carousel js-main1 js-device" aria-hidden="false">
            <li><img data-lazy="<%= sitepath %>assets/img/router/<%= directory %>/pht-device-00.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/router/<%= directory %>/pht-device-01.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/router/<%= directory %>/pht-device-02.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/router/<%= directory %>/pht-device-03.png" alt=""></li>
          </ul>
          <ul class="router-detail-Hero_Main-device c-Carousel js-main2 js-device" aria-hidden="true">
            <li><img data-lazy="<%= sitepath %>assets/img/router/<%= directory %>/pht-device-04.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/router/<%= directory %>/pht-device-05.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/router/<%= directory %>/pht-device-06.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/router/<%= directory %>/pht-device-07.png" alt=""></li>
          </ul>

          <ul class="router-detail-Hero_Main-color">
            <li class="js-color js-color1" aria-current="true"><span style="background:#C75C61"></span></li>
            <li class="js-color js-color2" aria-current="false"><span style="background:#CECECE"></span></li>
          </ul>

          <ul class="router-detail-Hero_Main-thumbnail c-Carousel js-thumbnail1 js-device" aria-hidden="false">
            <li><img data-lazy="<%= sitepath %>assets/img/router/<%= directory %>/pht-device-00.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/router/<%= directory %>/pht-device-01.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/router/<%= directory %>/pht-device-02.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/router/<%= directory %>/pht-device-03.png" alt=""></li>
          </ul>
          <ul class="router-detail-Hero_Main-thumbnail c-Carousel js-thumbnail2 js-device" aria-hidden="true">
            <li><img data-lazy="<%= sitepath %>assets/img/router/<%= directory %>/pht-device-04.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/router/<%= directory %>/pht-device-05.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/router/<%= directory %>/pht-device-06.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/router/<%= directory %>/pht-device-07.png" alt=""></li>
          </ul>
        </div>
      </section>
    </div>
  </div>

  <div class="l-System_Container">
    <p class="c-Txt_Cap">※モバイルブロードバンド（LTE、WiMAX 2+）対応機において。2019年8月株式会社MM総研調べ。</p>
  </div>

  <div class="router-detail-Layout_Main">
    <div class="l-System_Container">

      <div class="c-Tab js-Tab router-detail-Price_Tab">
        <ul class="c-Tab_Items" role="tablist">
          <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">新規購入</li>
          <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">機種変更</li>
        </ul>
        <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
          <div class="router-detail-Price">
            <p class="c-Txt_Cap u-Adjust_Align-right">※表記の金額はすべて税別です。</p>
            <div class="router-detail-Price_Info"><span>分割手数料0円！48回払いも可能！</span></div>
            <ul class="router-detail-Price_List">
              <li>
                <div class="router-detail-Price_List-item">
                  <div>
                    <span class="router-detail-Price_Method">48回払い<span>※</span></span>
                  </div>
                  <p class="router-detail-Price_Pay">
                    <img src="<%= sitepath %>assets/img/common/icon-sale.png" width="48" alt="SALE">
                    <span class="c-Txt_Alphanumeric-l">2,024</span><span class="c-Txt_Normal-ss">円/月</span>
                  </p>
                </div>
              </li>
              <li>
                <div class="router-detail-Price_List-item">
                  <span class="router-detail-Price_Method">24回払い<span>※</span></span>
                  <p class="router-detail-Price_Pay">
                    <img src="<%= sitepath %>assets/img/common/icon-sale.png" width="48" alt="SALE">
                    <span class="c-Txt_Alphanumeric-l">4,048</span><span class="c-Txt_Normal-ss">円/月</span>
                  </p>
                </div>
              </li>
              <li>
                <div class="router-detail-Price_List-item">
                  <span class="router-detail-Price_Method">一括払い</span>
                  <p class="router-detail-Price_Pay">
                    <img src="<%= sitepath %>assets/img/common/icon-sale.png" width="48" alt="SALE">
                    <span class="c-Txt_Alphanumeric-m">89,980</span><span class="c-Txt_Normal-ss">円</span>
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
          <div class="router-detail-Price">
            <p class="c-Txt_Cap u-Adjust_Align-right">※表記の金額はすべて税別です。</p>
            <div class="router-detail-Price_Info"><span>分割手数料0円！48回払いも可能！</span></div>
            <ul class="router-detail-Price_List">
              <li>
                <div class="router-detail-Price_List-item">
                  <div>
                    <span class="router-detail-Price_Method">48回払い<span>※</span></span>
                  </div>
                  <p class="router-detail-Price_Pay">
                    <img src="<%= sitepath %>assets/img/common/icon-sale.png" width="48" alt="SALE">
                    <span class="c-Txt_Alphanumeric-l">2,024</span><span class="c-Txt_Normal-ss">円/月</span>
                  </p>
                </div>
              </li>
              <li>
                <div class="router-detail-Price_List-item">
                  <span class="router-detail-Price_Method">24回払い<span>※</span></span>
                  <p class="router-detail-Price_Pay">
                    <img src="<%= sitepath %>assets/img/common/icon-sale.png" width="48" alt="SALE">
                    <span class="c-Txt_Alphanumeric-l">4,048</span><span class="c-Txt_Normal-ss">円/月</span>
                  </p>
                </div>
              </li>
              <li>
                <div class="router-detail-Price_List-item">
                  <span class="router-detail-Price_Method">一括払い</span>
                  <p class="router-detail-Price_Pay">
                    <img src="<%= sitepath %>assets/img/common/icon-sale.png" width="48" alt="SALE">
                    <span class="c-Txt_Alphanumeric-m">89,980</span><span class="c-Txt_Normal-ss">円</span>
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <ul class="c-List_Cap u-Adjust_Mt-24">
          <li><span>※</span>分割払いのお支払い総額は、製品の税込価格から楽天ポイントによるお支払い額を差し引きお支払い回数で分割した金額となります。正式なご請求金額はmy 楽天モバイルでご確認ください。</li>
          <li><span>※</span>楽天カード以外のクレジットカードで24回払い・48回払いを選択した場合、分割手数料が発生します。</li>
        </ul>
      </div>


      <section id="feature" class="router-detail-Layout_Section u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2-rich">特長</h2>

        <section class="router-detail-Feature u-Adjust_Mt-32" id="feature1">
          <figure class="router-detail-Feature_Img"><img src="<%= sitepath %>assets/img/router/<%= directory %>/main-image-01.png" alt=""></figure>
          <h3 class="c-Heading_Lv3">モバイルルーター業界「最小&amp;最軽量※1」だから持ち歩きに便利</h3>
          <p class="router-detail-Feature_Txt">カードサイズよりも小さくコンパクト!※2重さも約71gと最軽量を実現しました。バックやポーチでもかさばらずに持ち歩けます。</p>
          <ul class="c-List_Cap u-Adjust_Mt-16">
            <li><span>※1</span>モバイルブロードバンド（LTE、WiMAX 2+）対応機において。2019年8月株式会社MM総研調べ。</li>
            <li><span>※2</span>面積において、本製品はカードサイズより小さい。</li>
          </ul>
        </section>
        <section class="router-detail-Feature" id="feature2">
        <figure class="router-detail-Feature_Img"><img src="<%= sitepath %>assets/img/router/<%= directory %>/main-image-02.png" alt=""></figure>
          <h3 class="c-Heading_Lv3">SIMを挿すだけ！簡単にすぐ使える！</h3>
          <p class="router-detail-Feature_Txt">通常、ご利用を開始するには回線契約およびAPN設定が必要ですが、Aterm MP02LNは楽天で契約したSIMカードを挿して電源を入れると自動で接続が完了します。設定作業に不安をお持ちの方も簡単に使用開始できます。</p>
          <ul class="c-List_Cap u-Adjust_Mt-16">
            <li><span>※</span>Wi-Fiの設定は必要です。</li>
          </ul>
        </section>
        <section class="router-detail-Feature" id="feature3">
        <figure class="router-detail-Feature_Img"><img src="<%= sitepath %>assets/img/router/<%= directory %>/main-image-03.png" alt=""></figure>
          <h3 class="c-Heading_Lv3">コンパクトでも連続通信約10時間！</h3>
          <p class="router-detail-Feature_Txt">コンパクトでも約10時間の連続通信ができます。持ち歩きやすさとともに、外出先での長時間利用も安心です。</p>
          <ul class="c-List_Cap u-Adjust_Mt-16">
            <li><span>※</span>連続通信時間（Wi-Fi）は使用状況や使用環境により異なります。</li>
          </ul>
        </section>
      </section>
    </div>
  </div>

  <div class="router-detail-Layout_Other">
    <div class="l-System_Container">

      <%- include('/include/product/_compensation') %>

      <section class="router-detail-Layout_Section" id="spec">
        <h2 class="c-Heading_Lv2">スペック</h2>
        <dl class="c-List_Dl">
          <div>
            <dt>製品名</dt>
            <dd>
              Aterm MP02LN RM/Aterm MP02LN RW
            </dd>
          </div>
          <div>
            <dt>色</dt>
            <dd>
              ミラーレッド（楽天モバイル限定色）/メタリックシルバー
            </dd>
          </div>
          <div>
            <dt>サイズ（高さ/幅/厚さ）</dt>
            <dd>
              約91 x 50 x 12（mm）
            </dd>
          </div>
          <div>
            <dt>重量</dt>
            <dd>
              約71g
            </dd>
          </div>
          <div>
            <dt>連続待受時間</dt>
            <dd>
              約900時間
            </dd>
          </div>
          <div>
            <dt>連続通信時間</dt>
            <dd>
              約10時間
            </dd>
          </div>
          <div>
            <dt>バッテリー容量</dt>
            <dd>
              約1,670mAh
            </dd>
          </div>
          <div>
            <dt>テザリング</dt>
            <dd>
              最大10台
            </dd>
          </div>
          <div>
            <dt>付属品</dt>
            <dd>
              micro USB Type-Bケーブル / 保証書 / つなぎ方ガイド / ご利用にあたっての注意事項 / らくらくQRスタート用QRコード（シール）
            </dd>
          </div>
        </dl>
      </section>
      <ul class="c-List_Cap u-Adjust_Mt-16">
        <li><span>※</span>ACアダプタは標準添付されておりません。純正アクセサリーであるACアダプタ（品名：モバイルルータ用ACアダプタ04（AL1-004378））をご購入ください。 ご購入は<a href="<%= sitepath %>product/accessory/nec-pamradp042/">こちら</a></li>
      </ul>

      <!--
      <section class="router-detail-Layout_Section">
        <h2 class="c-Heading_Lv2">お取り扱いショップ</h2>
          <div>
            <a href="<%= sitepath %>shop" class="c-Panel_Image-rich router-detail-Panel_Shop">
              <div class="c-Panel_Image-ttl">
                <h3><span class="c-Txt_Alphanumeric-l">SHOP</span>店舗情報</h3>
              </div>
              <div class="c-Panel_Image-btn">取り扱いショップ一覧</div>
            </a>
        </div>
      </section>

      <section class="router-detail-Layout_Section">
        <h2 class="c-Heading_Lv2">サービス</h2>
        <div>
          <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>service/07-01-01/" class="c-Link_Txt-icon">つながる端末保証 by 楽天モバイル<span class="c-Icon_Chevron-right"></span></a></p>
          <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>service/07-01-02/" class="c-Link_Txt-icon">マカフィー&reg; モバイル セキュリティ Android版<span class="c-Icon_Chevron-right"></span></a></p>
        </div>
      </section>
      -->

      <section class="router-detail-Layout_Section">
        <h2 class="c-Heading_Lv2">設定・サポート</h2>
        <div>
          <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>" class="c-Link_Txt-icon">初期設定方法を見る<span class="c-Icon_Chevron-right"></span></a></p>
          <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>" class="c-Link_Txt-icon">取扱説明書を見る<span class="c-Icon_Chevron-right"></span></a></p>
          <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>" class="c-Link_Txt-icon">メーカーへのお問い合わせ<span class="c-Icon_Chevron-right"></span></a></p>
        </div>
      </section>

    </div>
  </div>
</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-product.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%#- include('/faq/include/related-product.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <li><a href="<%= sitepath %>product/">製品</a><span class="c-Icon_Chevron-right"></span></li>
      <li><a href="<%= sitepath %>product/router/">ルーター</a><span class="c-Icon_Chevron-right"></span></li>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/product/_category-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
