<% const pagetitle = "ご解約について" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/contract-detail/cancellation/", label:"解約・MNP転出"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: [{path:"support/", label:"お客様サポート"}, {path:"support/contract-detail/cancellation/", label:"回線解約・MNP転出・オプション解約"}],
    description: '楽天モバイルの解約方法、解約前の注意事項、解約解除料0円※のご案内や、他社へのお乗り換え（MNP転出）等のお手続き方法をご案内いたします。※契約者が、お申し込み後1年以内に回線契約を解約し、かつ本サービスの利用実態がない場合、 当社は、契約者に対して、当社が解約事務手数料として定める金額の980円（税込1,078円）の支払いを請求することがあります',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/cancellation/guide-cancellation.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
    <p class="u-Adjust_Mt-16">my 楽天モバイルから、ご契約プランや各種オプション・サービスの解約、他社へのお乗り換え（MNP転出）等のお手続き、解約ステータスのご確認ができます。</p>
    <p class="u-Adjust_Mt-16">
      <a
        class="c-Link_Txt-inline-icon"
        href="https://mobile.rakuten.co.jp/support/cancellation/?l-id=guide_cancellation_mvno_support_cancellation"
        target="_blank"
        rel="noopener noreferrer"
      >
        楽天モバイル（ドコモ回線・au回線）をご利用中の方はこちらのページをご確認ください
        <span class="c-Icon_New-window-l"></span>
      </a>
    </p>
  </div>

  <div class="<%= nameSpace %>-cancellation-Flow_Anchor-belt c-Theme-Light u-Adjust_Mt-32">
    <div class="l-System_Container">
      <nav class="<%= nameSpace %>-cancellation-Flow_Anchor-container">
        <div>
          <h2 class="<%= nameSpace %>-cancellation-Flow_Anchor-title">ご解約の前にお読みください</h2>
          <ol class="<%= nameSpace %>-cancellation-Flow_Anchor-list">
            <li>
              <a href="#plan01" class="js-scroll">
                <div class="<%= nameSpace %>-cancellation-Flow_Anchor-block">
                  <div class="<%= nameSpace %>-cancellation-Flow_Anchor-detail">
                    <p class="<%= nameSpace %>-cancellation-Flow_Anchor-text">ご解約の前に</p>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="#plan02" class="js-scroll">
                <div class="<%= nameSpace %>-cancellation-Flow_Anchor-block">
                  <div class="<%= nameSpace %>-cancellation-Flow_Anchor-detail">
                    <p class="<%= nameSpace %>-cancellation-Flow_Anchor-text">ご解約時の注意事項</p>
                  </div>
                </div>
              </a>
            </li>
          </ol>
        </div>
        <div>
          <h2 class="<%= nameSpace %>-cancellation-Flow_Anchor-title">ご解約の手続き・確認方法</h2>
          <ol class="<%= nameSpace %>-cancellation-Flow_Anchor-list">
            <li>
              <a href="#plan04" class="js-scroll">
                <div class="<%= nameSpace %>-cancellation-Flow_Anchor-block">
                  <div class="<%= nameSpace %>-cancellation-Flow_Anchor-detail">
                    <p class="<%= nameSpace %>-cancellation-Flow_Anchor-text">ご契約プランの解約方法</p>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="#plan05" class="js-scroll">
                <div class="<%= nameSpace %>-cancellation-Flow_Anchor-block">
                  <div class="<%= nameSpace %>-cancellation-Flow_Anchor-detail">
                    <p class="<%= nameSpace %>-cancellation-Flow_Anchor-text">製品に紐づくオプションサービスの解約方法</p>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="#plan06" class="js-scroll">
                <div class="<%= nameSpace %>-cancellation-Flow_Anchor-block">
                  <div class="<%= nameSpace %>-cancellation-Flow_Anchor-detail">
                    <p class="<%= nameSpace %>-cancellation-Flow_Anchor-text">ご解約手続き完了の確認方法</p>
                  </div>
                </div>
              </a>
            </li>
          </ol>
        </div>
      </nav>
    </div>
  </div>

  <div class="l-System_Container <%= nameSpace %>-cancellation-Layout">
    <section id="plan01">
      <h2 class="c-Heading_Lv2">ご解約の前に</h2>
      <p class="u-Adjust_Mt-16">楽天モバイルは、おトクがたくさんあります。見逃しているものはありませんか？</p>
      <ul class="<%= nameSpace %>-cancellation-Checklist">
        <li class="u-Adjust_Mt-16 c-Theme-Borderbox">
          <h3 class="<%= nameSpace %>-cancellation-Checklist_Heading">
            <span class="<%= nameSpace %>-cancellation-Checklist_Heading-icon"><span class="c-Icon_Check"></span></span>
            <span>楽天モバイルはSPU（スーパーポイントアッププログラム）対象です</span>
          </h3>
          <div class="u-Adjust_Mt-24">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/guide/cancellation/img-sp-01-231201.png">
              <img src="<%= sitepath %>assets/img/guide/cancellation/img-pc-01-231201.png" alt="楽天市場のポイントが最大+4倍">
            </picture>
          </div>
          <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <a href="<%= sitepath %>campaign/spu/?l-id=guide_cancellation_campaign_spu" class="c-Btn_Secondly-large"><span>SPUの詳細を見る</span></a>
          </div>
          <div class="u-Adjust_Mt-24">
            <%- include('/inc/_poikaku-lp-bnr') %>
          </div>
        </li>
        <li class="u-Adjust_Mt-24 c-Theme-Borderbox">
          <h3 class="<%= nameSpace %>-cancellation-Checklist_Heading">
            <span class="<%= nameSpace %>-cancellation-Checklist_Heading-icon"><span class="c-Icon_Check"></span></span>
            <span>楽天モバイルご契約期間中は楽天ポイントが、どんどん貯まります</span>
          </h3>
          <div class="l-Media_Grid u-Adjust_Mt-24">
            <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/guide/cancellation/img-02.png?210715" alt="">
            </div>
            <div>
              <p>楽天モバイルのお支払いで自動的にポイントが貯まります。月々のお支払い100円（税別）につき楽天ポイントが1ポイント、だから手間いらずでスマートに節約できます。</p>
              <div class="u-Adjust_Mt-16">
                <a href="<%= sitepath %>guide/point/?l-id=guide_cancellation_guide_point" class="c-Btn_Secondly-large <%= nameSpace %>-cancellation-Layout_Btn-2line"><span><span class="c-Txt_Normal-s">楽天モバイルで貯まる・使える</span><br>楽天ポイントの詳細を見る</span></a>
              </div>
            </div>
          </div>
        </li>
        <li class="u-Adjust_Mt-24 c-Theme-Borderbox">
          <h3 class="<%= nameSpace %>-cancellation-Checklist_Heading">
            <span class="<%= nameSpace %>-cancellation-Checklist_Heading-icon"><span class="c-Icon_Check"></span></span>
            <span>月々のお支払いに楽天ポイントが利用できます</span>
          </h3>
          <div class="l-Media_Grid u-Adjust_Mt-24">
            <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/guide/cancellation/img-03.png?210715" alt="">
            </div>
            <div>
              <p>貯まったポイントは、楽天モバイルの月々のお支払いにご利用いただけます。1ポイント（1円分）からご利用いただけます。期間限定ポイントも対象です。ご利用ポイント数は毎月変更できます。</p>
              <p class="u-Adjust_Mt-16">楽天グループのサービスはもちろん、コンビニやガソリンスタンドなどで貯まった楽天ポイントは、通話料や月額基本料の支払いに利用することができ、毎月の家計の心強い味方になります。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-16">※ 一度に利用できるポイント数は1～30,000（ダイヤモンド会員の方は～500,000）ポイントです。</p>
              <div class="u-Adjust_Mt-16">
                <a href="<%= sitepath %>guide/payment/point/?l-id=guide_cancellation_guide_point-payment" class="c-Btn_Secondly-large"><span>楽天ポイントの利用方法を見る</span></a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </section>

    <section class="<%= nameSpace %>-cancellation-Flow_List-Exercise" >
      <h3>
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/guide/cancellation/img-title-sp.png?20221026" width="311">
          <img src="<%= sitepath %>assets/img/guide/cancellation/img-title-pc.png?20221026" alt="知らないなんてもったいない！楽天モバイル活用術" width="582">
        </picture>
      </h3>
      <div class="u-Adjust_Mt-16">
        <div>
          <a class="c-Banner_Hover-act" href="<%= sitepath %>tips/1st-step-point/?l-id=guide_cancellation_tips_1st-step-point">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/guide/cancellation/point-sp.png?20221026" width="311">
              <img src="<%= sitepath %>assets/img/guide/cancellation/point-pc.png?20221026" alt="ポイント編 毎月のスマホ代も楽天市場のお買い物もポイントで！楽天ポイントをもっともらう方法はこちら" width="480">
            </picture>
          </a>
        </div>

        <div>
          <a class="c-Banner_Hover-act" href="<%= sitepath %>tips/1st-step-feature/?l-id=guide_cancellation_tips_1st-step-feature">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/guide/cancellation/feature-sp.png?20221026" width="311">
              <img src="<%= sitepath %>assets/img/guide/cancellation/feature-pc.png?20221026" alt="機能編 無料通話やメール機能など充実のサービス！便利なアプリや機能の情報はこちら" width="480">
            </picture>
          </a>
        </div>
      </div>
    </section>

    <section id="plan02">
      <h2 class="c-Heading_Lv2">ご解約時の注意事項</h2>
      <ul>
        <li class="u-Adjust_Mt-16">
          <a href="#about1" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>ご契約プラン解約時に自動解約されないオプションサービスについて</a>
        </li>
        <li class="u-Adjust_Mt-16">
          <a href="#about2" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>契約解除料（違約金）について</a>
        </li>
        <li class="u-Adjust_Mt-16">
          <a href="#about3" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>解約後のご請求について</a>
        </li>
        <li class="u-Adjust_Mt-16">
          <a href="#about4" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>SIMカードの破棄について</a>
        </li>
        <li class="u-Adjust_Mt-16">
          <a href="#about5" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>Rakuten Linkのデータ削除について</a>
        </li>
        <li class="u-Adjust_Mt-16">
          <a href="#about6" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>「楽メール」のデータ保持期間と持ち運びについて</a>
        </li>
        <li class="u-Adjust_Mt-16">
          <a href="#about7" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>楽天モバイルで購入した製品の他社回線対応状況について</a>
        </li>
      </ul>


      <h3 id="about1" class="u-Adjust_Mt-48 c-Heading_Lv3">ご契約プラン解約時に自動解約されないオプションサービスについて</h3>
      <p class="u-Adjust_Mt-16">楽天モバイルで購入した製品に紐づく以下のオプションサービスは、自動解約されません。個別でサービスの解約手続きが必要となります。</p>

      <dl class="c-Dl_Origin u-Adjust_Mt-24">
        <div>
          <dt>
            製品保証オプションサービス
          </dt>
          <dd>
            <ul class="c-List_Text-disc">
              <li>
                <a href="<%= sitepath %>service/replacement-warranty-plus/?l-id=guide_cancellation_service_replacement-warranty-plus" class="c-Link_Txt">スマホ交換保証プラス</a>
              </li>
              <li>
                <a href="<%= sitepath %>service/iphone/applecare/?l-id=guide_cancellation_service_applecare" class="c-Link_Txt">故障紛失保証 with AppleCare Services</a>
              </li>
              <li>
                <a href="<%= sitepath %>service/iphone/applecare-icloud/?l-id=guide_cancellation_service_applecare-icloud" class="c-Link_Txt">故障紛失保証 with AppleCare Services & iCloud+</a>
              </li>
              <li>
                <a href="<%= sitepath %>service/applewatch-care/?l-id=guide_cancellation_service_applewatch-care" class="c-Link_Txt">あんしん保証with AppleCare Services for Apple Watch</a>
              </li>
            </ul>
            <p class="u-Adjust_Mt-16">製品保証オプションサービスの解約方法は以下よりご確認ください。</p>
            <div class="u-Adjust_Mt-16">
              <a href="#plan05" class="c-Link_Txt-icon-front js-scroll">
                <span class="c-Icon_Arrow-down-l u-Adjust_Mr-16"></span>
                製品保証オプションサービスの解約方法
              </a>
            </div>
          </dd>
        </div>
        <div>
          <dt>製品購入サポートオプションサービス</dt>
          <dd>
            <ul class="c-List_Text-disc">
              <li>
                <a href="<%= sitepath %>service/replacement-program/?l-id=guide_cancellation_service_replacement-program">楽天モバイル買い替え超トクプログラム</a>
              </li>
            </ul>
            <p class="u-Adjust_Mt-16">
              楽天モバイル買い替え超トクプログラムの解約方法は以下よりご確認ください。
            </p>
            <p class="u-Adjust_Mt-16">
              <a href="<%= sitepath %>guide/replacement-program/index.html#anc03" class="c-Link_Txt-inline">楽天モバイル買い替え超トクプログラムの解約方法<span class="c-Icon_Chevron-right"></span></a>
            </p>
          </dd>
        </div>
      </dl>

      <h3 id="about2" class="u-Adjust_Mt-48 c-Heading_Lv3">契約解除料（違約金）について</h3>
      <ul class="c-List_Text-disc u-Adjust_Mt-16">
        <li>
          最低利用期間はございません。通信契約の解除による契約解除料は発生いたしません。<br>
          <span class="c-Txt_Cap u-Adjust_Mt-8">
            ※契約者が、お申し込み後1年以内に回線契約を解約し、かつ本サービスの利用実態がない場合、 当社は、契約者に対して、当社が解約事務手数料として定める金額の980円（税込1,078円）の支払いを請求することがあります
          </span>
        </li>
        <li>
          楽天モバイル買い替え超トクプログラムの加入から25カ月以降が経過し、当社の製品改修による解約の場合は、事務手数料を請求させていただきます。詳しくは「<a href="<%= sitepath %>guide/replacement-program/#anc03" class="c-Link_Txt">解約方法</a>」をご確認ください。<br>
          <span class="c-Txt_Cap u-Adjust_Mt-8">
            ※楽天モバイル買い替え超トクプログラムの加入から25カ月未満での解約の場合は、「<a href="<%= sitepath %>support/inquiry/?l-id=guide_cancellation_support_inquiry" class="c-Link_Txt">お問い合わせ</a>」ページよりチャットまたは電話にてお問い合わせください
          </span>
        </li>
      </ul>

      <h3 id="about3" class="u-Adjust_Mt-48 c-Heading_Lv3">解約後のご請求について</h3>
      <p class="u-Adjust_Mt-8">
        解約月のご利用分は翌月に請求させていただきます。請求のタイミングはお支払い方法によって異なります。<br>
        契約内容や解約状況によっては、解約後も引き続きご請求が続く場合があります。
      </p>
      <div class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>guide/cancellation_payment/?l-id=guide_cancellation_guide_cancellation_payment" class="c-Btn_Regular">解約後のご請求について詳しく見る</a>
      </div>


      <h3 id="about4" class="u-Adjust_Mt-48 c-Heading_Lv3">SIMカードの破棄について</h3>
      <p class="u-Adjust_Mt-16">
        利用できなくなったSIMカードは、各地域に合わせた分別で破棄をお願いたします。<br>
        楽天モバイルにて破棄をご希望の場合は、SIMカードを普通郵便でご返却ください。
      </p>

      <p class="u-Adjust_Mt-8 c-Txt_Cap">
        ※送料はお客様の負担となります。<br>
        ※楽天モバイルショップでは返却は受け付けておりません。
      </p>

      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>faq/detail/00001247/" class="c-Link_Txt-inline">SIMカードの返却先について<span class="c-Icon_Chevron-right"></span></a>
      </p>

      <h3 id="about5" class="u-Adjust_Mt-48 c-Heading_Lv3">Rakuten Linkのデータ削除について</h3>
      <p class="u-Adjust_Mt-16">ご契約プラン解約と同時に、Rakuten Linkのデータ（通話履歴・メッセージなど）は全て削除されます。予めご了承ください。</p>

      <h3 id="about6" class="u-Adjust_Mt-48 c-Heading_Lv3">「楽メール」のデータ保持期間と持ち運びについて</h3>
      <p class="u-Adjust_Mt-16">
        「<a href="<%= sitepath %>service/rakumail/?l-id=guide_cancellation_service_rakumail" class="c-Link_Txt">楽メール</a>」は、ご契約中の楽天モバイル（楽天回線）を解約、譲渡もしくは、MNP転出から31日間は、メールアカウント・データは削除されずに保持されます。回線解約後楽メールを使用するには、解約から31日以内に有料オプションサービスの「<a href="<%= sitepath %>service/rakumail-portability/?l-id=guide_cancellation_service_rakumail-portability" class="c-Link_Txt">楽メール持ち運び</a>」のお申し込みが必要です。
      </p>
    </section>

    <div class="u-Adjust_Mt-48">
      <div class="guide-cancellation-Bnr">
        <p class="guide-cancellation-Bnr_Title u-Adjust_Pt-32 c-Txt_Emp-02">楽メール持ち運び</p>
        <p class="u-Adjust_Pt-8">楽天モバイル（楽天回線）解約後も<br class="guide-cancellation-Utility_Br-sp">楽メールの<br class="guide-cancellation-Utility_Br-pc">
          メールアドレスが<br class="guide-cancellation-Utility_Br-sp">そのまま使える！</p>
        <div class="service-top-FindUsed_Btn u-Adjust_Pt-8">
          <a href="<%= sitepath %>service/rakumail-portability/?l-id=guide_cancellation_service_rakumail-portability" class="c-Btn_Secondly-large guide-cancellation-Bnr_Btn"><span>楽メール持ち運びを詳しく見る</span></a>
        </div>
      </div>
      <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">
        ※加入できるのは、楽天モバイル（楽天回線）を解約、譲渡、MNP転出時点で楽メールアカウント保有者のみ、解約日を含めて31日以内。
      </p>
    </div>

    <h3 id="about7" class="u-Adjust_Mt-48 c-Heading_Lv3">楽天モバイルで購入した製品の他社回線対応状況について</h3>
    <p class="u-Adjust_Mt-16">
      楽天モバイルで購入した製品の他社回線での対応状況については、「<a href="/product/compatible-band/?l-id=guide_cancellation_product_compatible-band" class="c-Link_Txt">取り扱い製品の他社回線対応状況一覧</a>」をご確認ください。
    </p>


    <section id="plan04">
      <h2 class="c-Heading_Lv2">ご契約プランの解約方法</h2>
      <div class="c-Tab js-Tab u-Adjust_Mt-24">
        <ul class="c-Tab_Items" role="tablist">
          <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">Webでお手続き</li>
          <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">アプリでお手続き</li>
        </ul>
        <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
          <ol class="c-Flow u-Adjust_Mt-40">
            <li>
              <h3 class="c-Heading_Lv3" data-gtm-vis-recent-on-screen-9148831_335="1509" data-gtm-vis-first-on-screen-9148831_335="1509" data-gtm-vis-total-visible-time-9148831_335="500" data-gtm-vis-has-fired-9148831_335="1">1. my 楽天モバイル「契約プラン」画面を開く</h3>
              <div class="u-Adjust_Mt-16 c-Txt_Cap">
                ※「契約プランへ進む」をタップしてログインすると、手順2の画面が表示されます。<br>
                ※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/">[my 楽天モバイル]ログインできません</a>」をご確認ください。
              </div>
              <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
                <a href="https://portal.mobile.rakuten.co.jp/dashboard?scrollTo=simAndLinesAction#plans" class="c-Btn_Secondly-large" data-ratid="guide_ecare_plans_simAndLinesAction" data-ratevent="click" data-ratparam="all"><span>契約プランへ進む<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">2. 各種手続き「その他のお手続き」内の「各種手続きへ進む」をタップする</h3>
              <div class="c-Accordion u-Adjust_Mt-16">
                <button id="accordion-contract-2lines" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-app-contract-2lines"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                  楽天モバイルを2回線以上ご契約中の場合
                </button>
                <div id="accordion-app-contract-2lines" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-contract-2lines" aria-hidden="true">
                  <p>手続きを行う電話番号が表示されているか、事前にご確認ください。</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※一番最後にご契約された電話番号が自動で表示されています。<br>※表示されている電話番号を切替えた場合、my 楽天モバイルからログアウト（自動ログアウト含む）するまでは切替えた状態が維持されます。</p>
                  <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">電話番号の切替え方法</h4>

                  <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">1 表示されている電話番号をタップする</h5>
                  <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-01-230601.png" alt="" class="c-Img_Capture"></p>

                  <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">2 手続きを行う電話番号をタップする</h5>
                  <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-02-230601.png" alt="" class="c-Img_Capture"></p>

                  <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">3 選択した電話番号が表示されていることを確認する</h5>
                  <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-03-230601.png" alt="" class="c-Img_Capture"></p>
                  <p class="u-Adjust_Mt-16">以上で完了です。手順2の操作へお進みください。</p>
                </div>
              </div>
              <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/guide/cancellation/contract-02-230524.png" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">3. 「解約のお手続き」内の「解約」をタップする</h3>
              <p class="u-Adjust_Mt-16 c-Txt_Emp-02 c-Txt_Normal-s">※現在お使いの電話番号はそのままで他社へのお乗り換え（MNP転出）をご希望の場合は、「他社へのお乗り換え（MNP）」をタップしてください。</p>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/cancellation/contract-03.png" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">4. 解約に関する注意事項を確認する</h3>
              <p class="u-Adjust_Mt-16">各注意事項などをご確認のうえ、次のお手続きへお進みください。</p>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/cancellation/contract-04-231025.png" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">5. 製品保証サービスをご利用中の方は、製品保証サービスを継続利用するかを選択し、「次へ進む」をタップする</h3>
              <p class="c-Txt_Emp-02 c-Txt_Cap u-Adjust_Mt-8">※楽天モバイルで購入した製品に紐づく製品保証サービスが全て表示されます。複数表示される場合、「保証対象製品」の製品名をご確認のうえ、お手続きしてください。一度解約をすると再加入することはできません。</p>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/cancellation/contract-05.png" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">6. 解約に伴う注意事項を確認する</h3>
              <p class="u-Adjust_Mt-16">各注意事項に同意いただき、チェックをしてください。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※お手続きを進めるには、注意事項すべてにチェックをしていただく必要があります。</p>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/cancellation/contract-06-231025.png" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">7. アンケートに回答し、「解約内容を確認する」をタップする</h3>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/cancellation/contract-06.png" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">
                8. ワンタイムパスワードを入力し、「認証する」をタップする
              </h3>
              <p class="u-Adjust_Mt-16 c-Txt_Cap">
                ※ワンタイムパスワードは、ご登録されているメールアドレスまたは楽天モバイル回線の携帯電話番号（SMS）に送信されます。
              </p>
              <p class="u-Adjust_Mt-8 c-Txt_Cap">
                ※ワンタイムパスワードに関してお困りの場合は<a href="<%= sitepath %>faq/detail/00001914/" class="c-Link_Txt">こちら</a>をご参照ください。
              </p>
              <div class="l-Media_Image">
                <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/cancellation/contract-05-1-240521.png" width="300" height="535" alt="ワンタイムパスワードを入力し、「認証する」をタップする" class="c-Img_Capture" loading="lazy">
                </figure>
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">9. お申し込み内容を確認し、「解約を完了する」をタップする</h3>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/cancellation/contract-07.png" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">10. 解約完了画面を確認する</h3>
              <p class="c-List_Text-disc u-Adjust_Mt-16">お手続きが完了しましたら、「回線の解約手続き完了」と表示されます。<br>また、ご登録のメールアドレス宛に「解約完了のお知らせ」メールをお送りいたします。</p>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/cancellation/contract-08-230524.png" alt="" class="c-Img_Capture">
              </div>
            </li>
          </ol>
        </div>
        <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
          <ol class="c-Flow u-Adjust_Mt-40">
            <li>
              <h3 class="c-Heading_Lv3">1. my 楽天モバイルを起動する</h3>
              <div class="c-Box_App u-Adjust_Mt-24">
                <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt=""></div>
                <div class="c-Box_App-txt">
                  <p class="c-Box_App-ttl">my 楽天モバイル</p>
                  <p class="u-Adjust_Mt-16">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                  <ul class="c-Box_App-link u-Adjust_Mt-16">
                    <li class="<%= nameSpace %>-App_Btn-store">
                      <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
                      <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
                    </li>
                    <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3" data-gtm-vis-recent-on-screen-9148831_335="1509" data-gtm-vis-first-on-screen-9148831_335="1509" data-gtm-vis-total-visible-time-9148831_335="500" data-gtm-vis-has-fired-9148831_335="1">2. 画面下メニューの「契約プラン」をタップする</h3>
              <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/guide/cancellation/contract-01.png" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">3. 各種手続き「その他のお手続き」内の「各種手続きへ進む」をタップする</h3>
              <div class="c-Accordion u-Adjust_Mt-16">
                <button id="accordion-contract-3lines" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-contract-2lines"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                  楽天モバイルを2回線以上ご契約中の場合
                </button>
                <div id="accordion-content-contract-2lines" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-contract-3lines" aria-hidden="true">
                  <p>手続きを行う電話番号が表示されているか、事前にご確認ください。</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※一番最後にご契約された電話番号が自動で表示されています。<br>※表示されている電話番号を切替えた場合、my 楽天モバイルからログアウト（自動ログアウト含む）するまでは切替えた状態が維持されます。</p>
                  <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">電話番号の切替え方法</h4>

                  <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">1 表示されている電話番号をタップする</h5>
                  <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-01-230601.png" alt="" class="c-Img_Capture"></p>

                  <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">2 手続きを行う電話番号をタップする</h5>
                  <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-02-230601.png" alt="" class="c-Img_Capture"></p>

                  <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">3 選択した電話番号が表示されていることを確認する</h5>
                  <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-03-230601.png" alt="" class="c-Img_Capture"></p>
                  <p class="u-Adjust_Mt-16">以上で完了です。手順2の操作へお進みください。</p>
                </div>
              </div>
              <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/guide/cancellation/contract-02-230524.png" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">4. 「解約のお手続き」内の「解約」をタップする</h3>
              <p class="u-Adjust_Mt-16 c-Txt_Emp-02 c-Txt_Normal-s">※現在お使いの電話番号はそのままで他社へのお乗り換え（MNP転出）をご希望の場合は、「他社へのお乗り換え（MNP）」をタップしてください。</p>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/cancellation/contract-03.png" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">5. 解約に関する注意事項を確認する</h3>
              <p class="u-Adjust_Mt-16">各注意事項などをご確認のうえ、次のお手続きへお進みください。</p>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/cancellation/contract-04-231025.png" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">6. 製品保証サービスをご利用中の方は、製品保証サービスを継続利用するかを選択し、「次へ進む」をタップする</h3>
              <p class="c-Txt_Emp-02 c-Txt_Cap u-Adjust_Mt-8">※楽天モバイルで購入した製品に紐づく製品保証サービスが全て表示されます。複数表示される場合、「保証対象製品」の製品名をご確認のうえ、お手続きしてください。一度解約をすると再加入することはできません。</p>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/cancellation/contract-05.png" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">7. 解約に伴う注意事項を確認する</h3>
              <p class="u-Adjust_Mt-16">各注意事項に同意いただき、チェックをしてください。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※お手続きを進めるには、注意事項すべてにチェックをしていただく必要があります。</p>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/cancellation/contract-06-231025.png" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">8. アンケートに回答し、「解約内容を確認する」をタップする</h3>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/cancellation/contract-06-app.png" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">
                9. ワンタイムパスワードを入力し、「認証する」をタップする
              </h3>
              <p class="u-Adjust_Mt-16 c-Txt_Cap">
                ※ワンタイムパスワードは、ご登録されているメールアドレスまたは楽天モバイル回線の携帯電話番号（SMS）に送信されます。
              </p>
              <p class="u-Adjust_Mt-8 c-Txt_Cap">
                ※ワンタイムパスワードに関してお困りの場合は<a href="<%= sitepath %>faq/detail/00001914/" class="c-Link_Txt">こちら</a>をご参照ください。
              </p>
              <div class="l-Media_Image">
                <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/cancellation/contract-05-1-240521.png" width="300" height="535" alt="ワンタイムパスワードを入力し、「認証する」をタップする" class="c-Img_Capture" loading="lazy">
                </figure>
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">10. お申し込み内容を確認し、「解約を完了する」をタップする</h3>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/cancellation/contract-07.png" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">11. 解約完了画面を確認する</h3>
              <p class="c-List_Text-disc u-Adjust_Mt-16">お手続きが完了しましたら、「回線の解約手続き完了」と表示されます。<br>また、ご登録のメールアドレス宛に「解約完了のお知らせ」メールをお送りいたします。</p>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/cancellation/contract-08-230524.png" alt="" class="c-Img_Capture">
              </div>
            </li>
          </ol>
        </div>
        <p class="u-Adjust_Mt-16">以上で完了です。</p>
      </div>

    </section>

    <section id="plan05">
      <h2 class="c-Heading_Lv2">製品保証オプションサービスの解約方法</h2>
      <p class="c-List_Text-disc u-Adjust_Mt-16">製品保証オプションサービスは、以下の手順にてご解約できます。</p>
      <ul class="c-List_Text-disc u-Adjust_Mt-16">
        <li>スマホ交換保証プラス</li>
        <li>故障紛失保証 with AppleCare Services</li>
        <li>故障紛失保証 with AppleCare Services & iCloud+</li>
        <li>あんしん保証with AppleCare Services for Apple Watch</li>
      </ul>

      <p class="c-Txt_Cap u-Adjust_Mt-8">
        ※楽天モバイル買い替え超トクプログラムの解約方法は
        <a href="<%= sitepath %>guide/replacement-program/index.html#anc03" class="c-Link_Txt">こちら</a>
        をご確認ください。
      </p>

      <p class="c-Txt_Cap c-Txt_Emp-02">
        ※製品保証オプションサービスは、ご契約プラン解約時に自動解約されません。ご契約プラン解約後に解約する場合、以下の手順でお手続きください。
      </p>

      <p class="c-Txt_Cap c-Txt_Emp-02">
        ※一度解約した場合、以前加入していた製品でも再加入できません。
      </p>

      <div class="c-Tab js-Tab u-Adjust_Mt-16">
        <ul class="c-Tab_Items" role="tablist">
          <li class="c-Tab_Item" id="tab-web1" role="tab" aria-selected="true" aria-controls="tab-web-content1">Webでお手続き</li>
          <li class="c-Tab_Item" id="tab-app1" role="tab" aria-selected="false" aria-controls="tab-app-content1">アプリでお手続き</li>
        </ul>
        <div class="c-Tab_Panel" id="tab-web-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-web1">
          <ol class="c-Flow">
            <li>
              <h3 class="c-Heading_Lv3">1. my 楽天モバイルの「ホーム」画面を開く</h3>
              <p class="c-Txt_Cap u-Adjust_Mt-16">
                ※「ホーム画面へ進む」をタップしてログイン後、 画面を下にスクロールすると手順２の画面が表示されます。<br>
                ※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/" class="c-Link_Txt">[my 楽天モバイル]ログインできません</a>」をご確認ください。
              </p>
              <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
                <a href="https://portal.mobile.rakuten.co.jp/dashboard#home" target="_blank" class="c-Btn_Secondly-large" data-ratid="guide_ecare_home" data-ratevent="click" data-ratparam="all"><span>ホーム画面へ進む<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a>
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">2. 画面を下にスクロールし、「製品情報」内の「全ての製品情報」をタップする</h3>
              <div class="c-Accordion u-Adjust_Mt-16">
                <button id="accordion-web-2lines" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-web-2lines"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                  楽天モバイルを2回線以上ご契約中の場合
                </button>
                <div id="accordion-content-web-2lines" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-web-2lines" aria-hidden="true">
                  <p>手続きを行う電話番号が表示されているか、事前にご確認ください。</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※一番最後にご契約された電話番号が自動で表示されています。<br>※表示されている電話番号を切替えた場合、my 楽天モバイルからログアウト（自動ログアウト含む）するまでは切替えた状態が維持されます。</p>
                  <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">電話番号の切替え方法</h4>

                  <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">1 表示されている電話番号をタップする</h5>
                  <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-01-230601.png" alt="" class="c-Img_Capture"></p>

                  <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">2 手続きを行う電話番号をタップする</h5>
                  <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-02-230601.png" alt="" class="c-Img_Capture"></p>

                  <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">3 選択した電話番号が表示されていることを確認する</h5>
                  <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-03-230601.png" alt="" class="c-Img_Capture"></p>
                  <p class="u-Adjust_Mt-16">以上で完了です。手順2の操作へお進みください。</p>
                </div>
              </div>
              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <img src="<%= sitepath %>assets/img/guide/cancellation/contract-web-01-230630.png" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">3. 解約したいオプションサービス部分にある「解約する」をタップする</h3>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/cancellation/contract-web-03-230630.png" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">4. 内容を確認後、解約理由を選択し「解約する」をタップする</h3>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/cancellation/contract-web-04-230524.png" alt="" class="c-Img_Capture">
              </div>
            </li>
          </ol>
        </div>
        <div class="c-Tab_Panel" id="tab-app-content1" role="tabpanel" aria-hidden="true" aria-labelledby="tab-app1">
          <ol class="c-Flow">
            <li>
              <h3 class="c-Heading_Lv3">1. my 楽天モバイルを起動する</h3>
              <div class="c-Box_App u-Adjust_Mt-24">
                <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt=""></div>
                <div class="c-Box_App-txt">
                  <p class="c-Box_App-ttl">my 楽天モバイル</p>
                  <p class="u-Adjust_Mt-16">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                  <ul class="c-Box_App-link u-Adjust_Mt-16">
                    <li class="<%= nameSpace %>-App_Btn-store">
                      <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
                      <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
                    </li>
                    <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">2. 画面を下にスクロールし、「モバイル製品情報」内の「製品の詳細・保証のお手続き」をタップする</h3>
              <div class="c-Accordion u-Adjust_Mt-16">
                <button id="accordion-app-2lines" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-app-2lines"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                  楽天モバイルを2回線以上ご契約中の場合
                </button>
                <div id="accordion-content-app-2lines" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-app-2lines" aria-hidden="true">
                  <p>手続きを行う電話番号が表示されているか、事前にご確認ください。</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※一番最後にご契約された電話番号が自動で表示されています。<br>※表示されている電話番号を切替えた場合、my 楽天モバイルからログアウト（自動ログアウト含む）するまでは切替えた状態が維持されます。</p>
                  <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">電話番号の切替え方法</h4>

                  <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">1 表示されている電話番号をタップする</h5>
                  <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-01-230601.png" alt="" class="c-Img_Capture"></p>

                  <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">2 手続きを行う電話番号をタップする</h5>
                  <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-02-230601.png" alt="" class="c-Img_Capture"></p>

                  <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">3 選択した電話番号が表示されていることを確認する</h5>
                  <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-03-230601.png" alt="" class="c-Img_Capture"></p>
                  <p class="u-Adjust_Mt-16">以上で完了です。手順2の操作へお進みください。</p>
                </div>
              </div>
              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <img src="<%= sitepath %>assets/img/guide/cancellation/contract-app-01-230630.png" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">3. 解約したいオプションサービス部分にある「解約する」をタップする</h3>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/cancellation/contract-web-03-230630.png" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">4. 内容を確認後、解約理由を選択し「解約する」をタップする</h3>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/cancellation/contract-web-04-230524.png" alt="" class="c-Img_Capture">
              </div>
            </li>
          </ol>
        </div>
      </div>



      <p class="u-Adjust_Mt-16">以上でオプションサービスの解約お申し込みは完了です。</p>

    </section>

    <section id="plan06">
      <h2 class="c-Heading_Lv2">ご解約手続き完了の確認方法</h2>
      <p class="c-List_Text-disc u-Adjust_Mt-16">ご解約手続きが完了しているかどうかは、以下の手順にてご確認できます。</p>

      <div class="c-Tab js-Tab u-Adjust_Mt-16">
        <ul class="c-Tab_Items" role="tablist">
          <li class="c-Tab_Item" id="tab-web2" role="tab" aria-selected="true" aria-controls="tab-web-content2">Webでお手続き</li>
          <li class="c-Tab_Item" id="tab-app2" role="tab" aria-selected="false" aria-controls="tab-app-content2">アプリでお手続き</li>
        </ul>
        <div class="c-Tab_Panel" id="tab-web-content2" role="tabpanel" aria-hidden="false" aria-labelledby="tab-web2">
          <ol class="c-Flow">
            <li>
              <h3 class="c-Heading_Lv3">1. my 楽天モバイルの「ホーム」画面を開く</h3>
              <p class="c-Txt_Cap u-Adjust_Mt-16">
                ※「ホーム画面へ進む」をタップしてログイン後、 画面を下にスクロールすると手順２の画面が表示されます。<br>
                ※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/" class="c-Link_Txt">[my 楽天モバイル]ログインできません</a>」をご確認ください。
              </p>
              <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
                <a href="https://portal.mobile.rakuten.co.jp/dashboard#home" target="_blank" class="c-Btn_Secondly-large" data-ratid="guide_ecare_home" data-ratevent="click" data-ratparam="all"><span>ホーム画面へ進む<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a>
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">2. 画面をスクロールし、対象の電話番号が「解約済み」と表示されていることを確認する</h3>
              <div class="c-Accordion u-Adjust_Mt-16">
                <button id="accordion-web-2lines2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-web-2lines2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                  楽天モバイルを2回線以上ご契約中の場合
                </button>
                <div id="accordion-content-web-2lines2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-web-2lines2" aria-hidden="true">
                  <p>手続きを行う電話番号が表示されているか、事前にご確認ください。</p>

                  <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">1 画面で表示されている電話番号をタップする</h5>
                  <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/cancellation/tel_04.png" alt="" class="c-Img_Capture"></p>

                  <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">2 回線を表示したい電話番号をタップする</h5>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※チェックがついている電話番号が、現在表示されている回線です</p>
                  <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/cancellation/tel_05.png" alt="" class="c-Img_Capture"></p>

                  <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">3 表示されている電話番号が切り替わっていることを確認する</h5>
                  <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/cancellation/tel_06.png" alt="" class="c-Img_Capture"></p>
                </div>
              </div>
              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <img src="<%= sitepath %>assets/img/guide/cancellation/contract-09.png" alt="" class="c-Img_Capture">
              </div>
            </li>
          </ol>
        </div>
        <div class="c-Tab_Panel" id="tab-app-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-app2">
          <ol class="c-Flow">
            <li>
              <h3 class="c-Heading_Lv3">1. my 楽天モバイルを起動する</h3>
              <div class="c-Box_App u-Adjust_Mt-24">
                <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt=""></div>
                <div class="c-Box_App-txt">
                  <p class="c-Box_App-ttl">my 楽天モバイル</p>
                  <p class="u-Adjust_Mt-16">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                  <ul class="c-Box_App-link u-Adjust_Mt-16">
                    <li class="<%= nameSpace %>-App_Btn-store">
                      <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
                      <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
                    </li>
                    <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">2. 画面下メニュー「ホーム」から対象の電話番号が「解約済み」と表示されていることを確認する</h3>
              <div class="c-Accordion u-Adjust_Mt-16">
                <button id="accordion-app-2lines2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-app-2lines2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                  楽天モバイルを2回線以上ご契約中の場合
                </button>
                <div id="accordion-content-app-2lines2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-app-2lines2" aria-hidden="true">
                  <p>手続きを行う電話番号が表示されているか、事前にご確認ください。</p>

                  <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">1 画面で表示されている電話番号をタップする</h5>
                  <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/cancellation/tel_04.png" alt="" class="c-Img_Capture"></p>

                  <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">2 回線を表示したい電話番号をタップする</h5>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※チェックがついている電話番号が、現在表示されている回線です</p>
                  <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/cancellation/tel_05.png" alt="" class="c-Img_Capture"></p>

                  <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">3 表示されている電話番号が切り替わっていることを確認する</h5>
                  <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/cancellation/tel_06.png" alt="" class="c-Img_Capture"></p>
                </div>
              </div>
              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <img src="<%= sitepath %>assets/img/guide/cancellation/contract-10.png" alt="" class="c-Img_Capture">
              </div>
            </li>
          </ol>
        </div>
      </div>



      <p class="u-Adjust_Mt-16">以上で完了です。</p>

    </section>

    <%- include('/include/guide/_faq') %>

  </div>
</div>




<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/poikaku-lp-bnr/_js') %>
<%- include('/include/_append-body') %>



</body>
</html>
