<% const pagetitle = "楽天ミュージックにご契約中の方へ 楽天モバイルをお申し込みで楽天ミュージックのご利用がずっと780円！（税込）／30日間" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "mobile-music" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '楽天ミュージックにご契約中の方へ 楽天モバイルをお申し込みで楽天ミュージックのご利用がずっと780円！（税込）／30日間',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/mobile-music/mobile-music.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/_entry-button/rex-overwrite_v2.css?20240424">
<%- include('/inc/_saikyo-plan-css') %>
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header',{applyHide:true}) %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Hero_Return">
      <div class="l-System_Container <%= namespace %>-Hero_Container">
        <div class="<%= namespace %>-Hero_Main">
          <h1><img src="<%= sitepath %>assets/img/campaign/mobile-music/img-heading-pc.png?230519" alt="楽天ミュージックにご契約中の方へ 楽天モバイルをお申し込みで楽天ミュージックのご利用が 通常980円（税込）／30日間のところ ずっと780円！（税込）／30日間" class="<%= namespace %>-Utility_Img-pc"><img src="<%= sitepath %>assets/img/campaign/mobile-music/img-heading-sp.png?230519" alt="楽天ミュージックにご契約中の方へ 楽天モバイルをお申し込みで楽天ミュージックのご利用が 通常980円（税込）／30日間のところ ずっと780円！（税込）／30日間" class="<%= namespace %>-Utility_Img-sp"></h1>
        </div>
      </div>
    </div>
    <div class="<%= namespace %>-Layout_Body">
      <div class="l-System_Container">
        <ul class="<%= namespace %>-Table_Rule-Cap">
          <li><span>※</span>楽天カード/モバイル会員対象プランを選択した場合</li>
        </ul>
      </div>

      <div class="l-System_Container">
        <div class="<%= namespace %>-Application_Btn-ttl u-Adjust_Mt-40">
          <img src="<%= sitepath %>assets/img/campaign/mobile-music/img-application-01.png?230519" alt="＼ 楽天モバイルのお申し込みはこちら ／">
        </div>
        <div class="<%= namespace %>-Application_Btn u-Adjust_Mt-24">
          <a href="<%= sitepath %>guide/application/?lid-r=campaign_mobile-music_guide_application01" class="c-Btn_Primary-large <%= namespace %>-Flow_List-button-secondly"><span class="c-Txt_Normal">新規／乗り換え（MNP）お申し込み</span></a>

          <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_mobile-music_ms1&mno_migration=1" class="c-Btn_Secondly-large <%= namespace %>-Flow_List-button-secondly"><span class="c-Txt_Normal-s">スーパーホーダイ、組み合わせプランからの</span><span class="c-Txt_Normal">プラン変更（移行）お申し込み</span></a>
        </div>
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-56"><span class="<%= namespace %>-Txt_Nl">楽天ミュージックを</span><span class="<%= namespace %>-Txt_Nl">おトクに利用する</span><span class="<%= namespace %>-Txt_Nl">プラン適用のステップ</span></h2>
        <div class="<%= namespace %>-Layout_Step u-Adjust_Mt-24">
          <div class="c-Accordion u-Adjust_Mt-16">
            <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1" data-ratid="campaign_<%= namespace %>_flow-step1" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP1　</span>楽天モバイルのお申し込み</button>
            <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1"
              aria-hidden="true">
              <div class="u-Adjust_Mt-16">
                <div>
                  <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-24">
                    <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                      <img src="<%= sitepath %>assets/img/campaign/mobile-music/img-flow-01.png?220519" alt="">
                    </div>
                    <div>
                      <p class="c-Txt_Emp-01">お申し込みに必要なもの</p>
                      <div class="u-Adjust_Mt-8">
                        <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc">
                          <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/verify/?l-id=campaign_mobile-music_guide_verify" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                          <li class="u-Adjust_Mt-8">楽天ID、パスワード</li>
                          <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/?l-id=campaign_mobile-music_guide_payment" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                            <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                              <span>※</span>未成年の方のお申し込み方法は<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_mobile-music_flow_for-minors">こちら</a>をご確認ください<br>
                            </p>
                            <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                              <span>※</span>MNPワンストップ未対応の携帯電話会社から乗り換えの方は、MNP予約番号の取得が必要です。MNPワンストップ対象の携帯電話会社は<a href="<%= sitepath %>guide/mnp/#carrier">こちら</a>からご確認ください。</p>
                            <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                              <span>※</span>ショップでのお手続きは、ワンストップ対象の他社からの転入であっても、MNP予約番号を取得のうえ、ご来店ください。</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="<%= namespace %>-Flow_List-step-unlimit u-Adjust_Mt-24 <%= namespace %>-Layout_Step-ptn2">
                    <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-left">
                      <div class="<%= namespace %>-Flow_List-detail">
                        <div class="step-pran-change"><span class="c-Icon_New-user-f c-Txt_Emp-02"></span><h4 class="c-Heading_Lv4 u-Adjust_Mt-8 u-Adjust_Mb-16"> 新規電話番号／他社から乗り換え（MNP）</h4></div>
                        <p class="u-Adjust_Align-center"><a href="<%= sitepath %>guide/application/?lid-r=campaign_mobile-music_guide_application02" class="c-Btn_Primary-large <%= namespace %>-Flow_List-button-secondly u-Adjust_Mt-24">Rakuten最強プランに申し込む</a></p>
                        <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>fee/saikyo-plan/?l-id=campaign_mobile-music_fee_saikyo-plan" class="c-Link_Txt-inline">Rakuten最強プランの詳細<span class="c-Icon_Chevron-right"></span></a></p>
                        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/flow/application/?l-id=campaign_mobile-music_guide_flow_application" class="c-Link_Txt-inline">Rakuten最強プラン<br class="<%= namespace %>-Layout_Break-Sp">お申し込み方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                      </div>
                    </div>

                    <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-right">
                      <div class="<%= namespace %>-Flow_List-detail">
                        <div class="step-pran-change"><span class="c-Icon_Paper-plane-l c-Txt_Emp-02"></span>
                        <h4 id="members" class="c-Heading_Lv4 u-Adjust_Mt-8 u-Adjust_Mb-16">楽天モバイル（ドコモ回線・au回線）からプラン変更（移行）</h4></div>
                        <p class="u-Adjust_Align-center u-Adjust_Mt-24"><a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_mobile-music_ms2&mno_migration=1" class="c-Btn_Secondly-large <%= namespace %>-Flow_List-button-secondly"><span>メンバーズステーションから<br>プラン変更（移行）する</span></a></p>
                        <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/migration/?l-id=campaign_mobile-music_guide_migration" class="c-Link_Txt-inline">スーパーホーダイ・組み合わせプラン（※）との比較<span class="c-Icon_Chevron-right"></span></a></p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※2020年4月8日に受付終了のドコモ回線・au回線使用プラン</p>
                        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/mnp/migration/?l-id=campaign_mobile-music_guide_mnp_migration" class="c-Link_Txt-inline">Rakuten最強プランへの移行方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>flow/mvno-user-registration/?l-id=campaign_mobile-music_flow_mvno-user-registration" class="c-Link_Txt-inline">利用者登録でご利用中の方の移行方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion u-Adjust_Mt-16">
            <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2" data-ratid="campaign_mobile-music_flow-step2" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP2　</span>「Rakuten最強プラン」 利用開始</button>
            <div id="accordion-content-2" class="<%= namespace %>-Layout_Step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region"
              aria-labelledby="accordion-2" aria-hidden="true">
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/mobile-music/img-flow-02.png?230519" alt="">
                </div>
                <div>
                  <p class="u-Adjust_Mt-8">期限：プランお申し込みの翌月末日23:59まで</p>
                  <div class="u-Adjust_Mt-24">
                    <p><a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/?l-id=campaign_mobile-music_faq_detail_00001648" class="c-Btn_Regular <%= namespace %>-Flow_List-button"><span>プラン利用開始手順</span></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion u-Adjust_Mt-16">
            <button type="button" id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3" data-ratid="campaign_mobile-music_flow-step3" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP3　</span>楽天ミュージックのプラン変更</button>
            <div id="accordion-content-3" class="<%= namespace %>-Layout_Step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
              <p>以下の手順でお手続きください</p>
              <p class="c-Txt_Cap c-Txt_Emp-02">※ご自身でプラン変更していただきます</p>
              <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-03-sp.png?230519">
                  <img src="<%= sitepath %>assets/img/campaign/mobile-music/img-flow-03.png?230519" alt="楽天ミュージックのページ内メニューから「ご契約内容の確認・変更」を選択 ▶︎ 楽天IDでログイン ▶︎ 「ご利用プラン／料金」欄よりプラン変更ができます">
                </picture>
              </div>
            </div>
          </div>
        </div>

        <div class="u-Adjust_Align-center u-Adjust_Mt-16 <%= namespace %>-Layout_Step-last-arrow">
          <img src="<%= sitepath %>assets/img/campaign/mobile-music/img-step-arrow-01.png?230519" alt="">
        </div>

        <ul class="<%= namespace %>-Layout_Step-last u-Adjust_Align-center">
          <li class="u-Adjust_Mt-16">
            <p class="c-Txt_Emp-01">プラン設定完了</p>
            <p class="c-Txt_Emp-02">楽天ミュージックの<br class="<%= namespace %>-Layout_Break-Sp">
              ご利用がずっと<br class="<%= namespace %>-Layout_Break-Sp">
              780円<span class="<%= namespace %>-Layout_Step-last-text01">（税込）／30日間</span><br class="<%= namespace %>-Layout_Break-Sp">
              （200円引き）！</p>
          </li>
        </ul>

        <div class="<%= namespace %>-Application_Btn-ttl u-Adjust_Mt-40">
          <img src="<%= sitepath %>assets/img/campaign/mobile-music/img-application-01.png?230519" alt="＼ 楽天モバイルのお申し込みはこちら ／">
        </div>
        <div class="<%= namespace %>-Application_Btn u-Adjust_Mt-24">
          <a href="<%= sitepath %>guide/application/?lid-r=campaign_mobile-music_guide_application03" class="c-Btn_Primary-large <%= namespace %>-Flow_List-button-secondly"><span class="c-Txt_Normal">新規／乗り換え（MNP）お申し込み</span></a>

          <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_mobile-music_ms3&mno_migration=1" class="c-Btn_Secondly-large <%= namespace %>-Flow_List-button-secondly"><span class="c-Txt_Normal-s">スーパーホーダイ、組み合わせプランからの</span><span class="c-Txt_Normal">プラン変更（移行）お申し込み</span></a>
        </div>

        <h2 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-56">楽天モバイル会員なら<span class="<%= namespace %>-Txt_Nl">こんなにおトク！</span></h2>
        <div class="<%= namespace %>-Info_Area u-Adjust_Mt-24">
          <p class="u-Adjust_Align-center">楽天カード/モバイル会員対象プランで<br>
            楽天ミュージックを24カ月間（2年間）ご利用いただいた場合</p>
          <p class="<%= namespace %>-Info_Area-ttl u-Adjust_Align-center c-Txt_Emp-02">なんと4,800円もおトク！</p>
          <div class="u-Adjust_Align-center u-Adjust_Mt-16">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-01-sp.png?230519">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-01.png?230519" alt="">
            </picture>
          </div>
        </div>
      </div>

      <div class="u-Adjust_Mt-40">
        <%- include('/inc/_saikyo-plan') %>
      </div>

      <div class="l-System_Container" id="campaign-rule">
        <div class="u-Adjust_Mt-40">
          <div class="<%= namespace %>-Layout_Rule">
            <h2 class="c-Heading_Lv2 u-Adjust_Align-left">特典詳細</h2>
            <h3 class="c-Heading_Lv3 u-Adjust_Align-left">楽天カード/モバイル会員対象プラン 対象条件</h3>
            <div class="u-Adjust_Mt-24">
              <div class="c-Dl_Origin <%= namespace %>-campaign-Rule">
                <dl>
                  <dt>プラン概要</dt>
                  <dd>
                    <p>楽天カード/モバイル会員対象プラン</p>
                  </dd>
                </dl>
                <dl>
                  <dt>プラン適用条件</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">楽天モバイルご契約者または楽天カード保有者の方</p>
                    <p class="u-Adjust_Mt-8">1. 楽天モバイルご契約者または楽天カード会員である<br>
                      2.「楽天カード/モバイル会員対象プラン」にお申し込み<br>
                      ※ 必ず楽天モバイルまたは楽天カードをご契約の楽天会員IDで楽天ミュージックにお申し込みください。<br>
                      ※【楽天モバイルご契約者または楽天カード会員で、すでに楽天ミュージックをご利用中の方】<br>
                      本プラン提供開始後、「楽天カード/モバイル会員対象プラン」へ自動的に切り替えとはなりません。<br>
                      楽天ミュージック公式サイトの「ご契約内容の確認・変更」からプラン変更を行ってください。<br>
                      変更後のご請求分から本プランが適用されます。</p>
                  </dd>
                </dl>
                <dl>
                  <dt>注意事項</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">・プラン適用対象外</p>
                    <p>以下の条件に当てはまる場合は、プラン適用対象外となります。</p>
                    <p class="u-Adjust_Mt-16">-楽天ミュージックにおける適用外条件<br>
                      ※ 楽天モバイルまたは楽天カードをご契約の楽天IDと異なる楽天IDで楽天ミュージックにお申し込みされた場合<br>
                      ※「楽天カード/モバイル会員対象プラン」以外のプランを選択された場合<br>
                      ※ 当社所定の確認日に、楽天モバイルまたは楽天カードのご利用が確認できなかった場合</p>
                    <p class="u-Adjust_Mt-16">-楽天モバイルにおける適用外条件<br>
                      ※ 楽天モバイル株式会社の提供するサービスなどの料金のお支払いが、お支払期限までに行われなかった場合<br>
                      ※ ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合<br>
                      ※ 楽天モバイル株式会社または楽天グループ株式会社が定める規約などに違反した場合<br>
                      ※ そのほか、楽天モバイル株式会社が会員として不適格であると判断した場合<br>
                      ※ 楽天モバイル契約者で、契約者変更をされた方や契約譲渡を受けた方は対象外となります。<br>
                      ※ 楽天モバイルを解約されている場合<br>
                      ※ 楽天モバイル（ドコモ回線・au回線）の料金プラン（スーパーホーダイ、組み合わせプラン、コミコミプラン）をご利用の方<br>
                      ※ 楽天ミュージックにお申し込みの楽天IDが、楽天モバイルにご契約の楽天IDと同一でない場合</p>
                    <p class="u-Adjust_Mt-16">-楽天カードにおける適用外条件
                      ※ 家族カードをご利用の方
                      ※ 楽天カードを解約されている場合</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">・その他注意事項</p>
                    <p class="u-Adjust_Mt-16">※ 本特典は予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください。<br>
                      ※ 記載の内容は2023年6月1日（木）時点の情報となります。</p>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ReX UX Survey: Mounting point for embedded components -->
    <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
    <footer class="g-Footer u-Adjust_Mt-64 <%= namespace %>-Layout_Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>

  <!-- ReX UX Survey: Config -->
  <script>
  window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
  </script>
<!-- ReX UX Survey: Script -->
<script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>
</body>
</html>
