<% const pagetitle = "【毎月開催】楽天モバイルお申し込みで、楽天ペイのお支払い金額1.5％還元" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "pay" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '【毎月開催】楽天モバイルお申し込みで、楽天ペイのお支払い金額1.5％還元',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%>
<% const information = {
  campaignState:'finish'
}; %>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/pay/pay.css?20240424">
<!-- ReX Campaign Button: stylesheet -->
<link rel="stylesheet" href="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/4.0.0/static/css/main.css?20240424" />
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header',{applyHide:true}) %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout-Label">
      <ul class="c-Label_List <%= namespace %>-Layout-Label_List">
        <li class="c-Label_Normal">プランのみ申込可</li>
        <li class="c-Label_Normal">Rakuten Link利用必要</li>
        <li><span class="<%= namespace %>-Layout-Label_point">ポイント：付与日を含めて6カ月の期間限定ポイント</span></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Hero_Return">
      <div class="l-System_Container <%= namespace %>-Hero_Container">
        <div class="<%= namespace %>-Hero_Main">
          <h1><img src="<%= sitepath %>assets/img/campaign/pay/img-heading-pc_230301.png?230301" alt="本ページからの楽天モバイルお申し込みで 楽天ペイのお支払い額の最大3％ポイント還元 ※6カ月間で最大3,000ポイント、毎月500ポイント上限 ※条件あり" class="<%= namespace %>-Utility_Img-pc"><img src="<%= sitepath %>assets/img/campaign/pay/img-heading-sp_230301.png?230301" alt="本ページからの楽天モバイルお申し込みで 楽天ペイのお支払い額の最大3％ポイント還元 ※6カ月間で最大3,000ポイント、毎月500ポイント上限 ※条件あり" class="<%= namespace %>-Utility_Img-sp"></h1>
        </div>
      </div>
    </div>
    <div class="l-System_Container">
    <% if (information.campaignState == 'finish') { %>
      <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
    <% } else { %>
      <!-- else -->
    <% } %>
      <ul class="c-Txt_Cap u-Adjust_Align-left u-Adjust_Mt-16">
        <li><span>※</span>一部店舗でのご利用分はポイント付与対象外となります。<a href="https://pay.rakuten.co.jp/campaign/2020/pointprogram/rule/shop/" target="_blank" class="c-Link_Txt-inline">詳細はこちら<span class="c-Icon_New-window-l"></span></a></li>
        <li><span>※</span>本キャンペーンは楽天ペイアプリによるコード／QR／セルフでのお支払いが対象です。楽天ペイアプリによる楽天ポイントカード払い、楽天Edy、楽天カードタッチ決済、Suicaでのお支払いは、対象外となります。</li>
        <li><span>※</span>楽天ペイのコード・QR払いでいつでも最大1.5％還元分のポイントは通常ポイントで付与いたします。（付与時期はお支払い設定によって変わります。<a href="https://pay.rakuten.co.jp/campaign/2020/pointprogram/" target="_blank" class="c-Link_Txt-inline">詳細はこちら<span class="c-Icon_New-window-l"></span></a>）</li>
        <li class="c-Txt_Emp-02"><span>※</span>本ルールに記載の併用可能キャンペーンを除き、本キャンペーンより付与ポイント数やクーポン割引額が多い Rakuten UN-LIMIT VII お申し込みでポイントまたはクーポンプレゼントキャンペーンが適用となった場合、本キャンペーンは適用されません。</li>
      </ul>
      <div class="kv_attention">
        <p><span class="c-Icon_Sign-warning-f"></span>お申し込み前に必ずご確認ください</p>
        <ul class="u-Adjust_Mt-8">
          <li><span>・</span>本ページの「お申し込みはこちら」ボタンよりお手続きください。本ページ以外からお手続きされた場合は特典適用対象外となります。</li>
          <li><span>・</span>「お申し込み内容」画面でクーポンコード14桁の英数字が表示されていることをご確認のうえ、お申し込みを完了してください。表示されていない場合は特典適用対象外となるため、再度本ページの「お申し込みはこちら」ボタンよりお申し込みをやり直してください。</li>
          <li><span>※</span>詳細は<a href="#campaign-caution" class="js-scroll">お申し込み時の注意点</a>をご確認ください。</li>
        </ul>
      </div>
    </div>
    <div id="first_entry_button" class="<%= namespace %>-Layout_Entry-Area u-Adjust_Mt-24">
      <p class="c-Txt_Emp-02 <%= namespace %>-Utility_Mt-unique u-Adjust_Align-center u-Adjust_Mt-16">お申し込み期間：2023年3月1日（水）9:00～2023年4月3日（月）8:59</p>
      <p class="u-Adjust_Mt-16 c-Txt_Emp-01 <%= namespace %>-Utility_Mt-unique u-Adjust_Align-center">クーポンコード：PAYREG00000002</p>
    <% if (information.campaignState == 'finish') { %>
      <div class="u-Adjust_Mt-8 u-Adjust_Align-center"><div class="c-Btn_Primary-large fin">お申し込みはこちら</div></div>
    <% } else { %>
      <!-- else -->
      <div class="u-Adjust_Mt-8 u-Adjust_Align-center"><a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=PAYREG00000002&l-id=campaign_pay_coupon_link01" class="c-Btn_Primary-large"><span>お申し込みはこちら</span></a></div>
    <% } %>
    </div>

    <div class="<%= namespace %>-Layout_Body">
      <div class="l-System_Container">
        <div class="u-Rat_Appear-height" data-ratid="campaign_pay_scroll-01_classification" data-ratevent="appear"></div>
        <h2 class="c-Heading_Lv2 u-Adjust_Mt-40 u-Adjust_Align-center">最大3％ポイント還元の内訳</h2>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/pay/img-01-sp.png?230106">
            <img src="<%= sitepath %>assets/img/campaign/pay/img-01.png?230106" alt="本ページから楽天モバイルのお申し込み 1.5％※上限あり＋楽天ペイのコード・QR払いでいつでも 最大1.5％">
          </picture>
        </div>

        <p class="c-Txt_Cap u-Adjust_Mt-16">※1 一部店舗でのご利用分はポイント付与対象外となります。詳細は<a href="https://pay.rakuten.co.jp/campaign/2020/pointprogram/rule/shop/" target="_blank" class="c-Link_Txt-inline">こちら<span class="c-Icon_New-window-l"></span></a></p>
        <p class="c-Txt_Cap">※ 「楽天ペイのコード・QR払いでいつでも最大1.5％還元」の内訳は<a href="https://pay.rakuten.co.jp/campaign/2020/pointprogram/" target="_blank" class="c-Link_Txt-inline">こちら<span class="c-Icon_New-window-l"></span></a></p>

        <div class="campaign_conditions">
          <div class="u-Rat_Appear-height" data-ratid="campaign_pay_scroll-02_accomplishment-condition" data-ratevent="appear"></div>
          <h2 class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンの<span class="txt-nl">達成条件</span></h2>
          <p class="u-Adjust_Mt-16">本キャンペーンには達成条件が設定されています。詳細は<span class="accordion10_opan js-ac-rule01 js-ac">キャンペーンルール</span>をご確認ください。</p>

          <div class="u-Adjust_Align-center u-Adjust_Mt-16">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/pay/img-conditions-01-sp_230301.png?230301">
              <img src="<%= sitepath %>assets/img/campaign/pay/img-conditions-01_230301.png?230301" alt="本ページから楽天モバイルのお申し込み ＋ プランのご利用 期限までに、開通手続きをしてプランのご利用を開始してください。 ＋ Rakuten Linkで10秒以上通話 期限までに、Rakuten Linkアプリを利用して10秒以上の通話をしてください。＋ 街のお店で楽天ペイアプリのご利用 【対象期間】2023年3月1日（水）0:00～2023年8月31日（木）23:59">
            </picture>
          </div>
        </div>


        <div class="l-System_Container <%= namespace %>-Layout-pay u-Adjust_Mt-56">
          <div class="<%= namespace %>-Layout-pay_Period">
            <dl>
              <dt>お申し込み<br class="<%= namespace %>-Layout-pay_Sp">期間</dt>
              <dd>2023年3月1日（水）9:00～2023年4月3日（月）8:59</dd>
            </dl>
            <dl>
              <dt>プラン利用開始期限</dt>
              <dd>2023年4月30日（日）23:59まで</dd>
            </dl>
            <dl>
              <dt>「Rakuten Link」利用期限</dt>
              <dd>2023年4月30日（日）23:59まで</dd>
            </dl>
            <dl>
              <dt>楽天ペイアプリでのお支払い対象期間</dt>
              <dd>2023年3月1日（水）0:00～2023年8月31日（木）23:59</dd>
            </dl>
          </div>
        </div>
        <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-56">
          <li><a href="#campaign-caution" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>お申し込み時の注意点</a></li>
          <li><a href="#campaign-flow" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンの流れ</a></li>
          <li><a href="#faq" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>よくあるご質問</a></li>
          <li><span class="accordion10_opan js-ac-rule01 js-ac c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルール</span></li>
        </ul>

        <div>
          <div class="u-Rat_Appear-height" data-ratid="campaign_pay_scroll-03_caution" data-ratevent="appear"></div>
          <h2 id="campaign-caution" class="c-Heading_Lv2 u-Adjust_Mt-40 u-Adjust_Align-center">お申し込み時の注意点</h2>
          <p class="c-Txt_Emp-01 u-Adjust_Mt-32 caution-text"><span class="c-Txt_Emp-02">ポイントを獲得するには、「お申し込みはこちら」ボタンからのお手続きが必要となります。</span><br>
            「お申し込み内容」画面であらかじめクーポンコードが表示されていることをご確認のうえ、<span class="txt-nl">お申し込みを完了してください。</span>
          </p>
          <div class="caution-img u-Adjust_Align-center">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/pay/img-coupon-01-sp.png?230106">
              <img src="<%= sitepath %>assets/img/campaign/pay/img-coupon-01.png?230106" alt="">
            </picture>
          </div>
          <p class="c-Txt_Cap u-Adjust_Mt-24 caution-text caution-text_cap">※本ページの「お申し込みはこちら」ボタン以外からお手続きされた場合には特典適用対象外となります。</p>
          <div class="c-Accordion u-Adjust_Mt-32">
            <button id="accordion-15" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-15"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>お申し込み画面で以下の状況が発生した場合、再度「お申し込みはこちら」ボタンからお申し込みをやり直してください。</button>
            <div id="accordion-content-15" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-15" aria-hidden="true" style="display: none;">
              <div class="u-Adjust_Align-center">
                <picture>
                  <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/pay/img-coupon-02-sp.png?230106">
                  <img src="<%= sitepath %>assets/img/campaign/pay/img-coupon-02.png?230106" alt="お申し込み内容にクーポンコードが表示されていない場合 システムメンテナンスのお知らせが表示された場合※メンテナンス終了後にお申し込みください タイムアウトが表示された場合">
                </picture>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-13" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-13"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイル（ドコモ回線・au回線）をご利用中の方もキャンペーンにご参加いただけますが、こちらもご確認ください。</button>
            <div id="accordion-content-13" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-13" aria-hidden="true" style="display: none;">
              <ul class="caution-list">
                <li><span class="num">（1）</span>メンバーズステーション経由のプラン変更（移行）は本キャンペーンの適用対象となりません。<a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_pay_ms1&mno_migration=1" target="_blank" class="c-Link_Txt-inline">メンバーズステーション<span class="c-Icon_New-window-l"></span></a>にてMNP予約番号を発行のうえ、本ページからお申し込みください。</li>
                <li class="u-Adjust_Mt-8"><span class="num">（2）</span>下記に当てはまる方はメンバーズステーション経由のプラン変更（移行）をご検討ください。</li>
                <li class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01 title">オプションサービスを引き継ぎたい場合</span><br>
                  本ページからお申し込みした場合、オプションサービスはすべて解約となります。</li>
              </ul>
              <p class="u-Adjust_Mt-16">上記（1）（2）は通話SIMご利用の方の注意点となります。データSIMご利用中の方は、メンバーズステーション経由のプラン移行（変更）はできないため、本キャンペーンより新規でお申し込みください。</p>
            </div>
          </div>
        </div>
      </div>

      <div class="<%= namespace %>-Layout_Entry-Area u-Adjust_Mt-56">
        <p class="c-Txt_Emp-02 <%= namespace %>-Utility_Mt-unique u-Adjust_Align-center u-Adjust_Mt-16">お申し込み期間：2023年3月1日（水）9:00～2023年4月3日（月）8:59</p>
        <p class="u-Adjust_Mt-16 c-Txt_Emp-01 <%= namespace %>-Utility_Mt-unique u-Adjust_Align-center">クーポンコード：PAYREG00000002</p>
        <p class="c-Txt_Cap u-Adjust_Align-center u-Adjust_Mt-16 c-Txt_Emp-02"><a href="#campaign-caution" class="js-scroll">お申し込み時の注意点</a>を必ずご確認のうえ、以下のお申し込みボタンよりお手続きください。</p>
      <% if (information.campaignState == 'finish') { %>
        <div class="u-Adjust_Mt-8 u-Adjust_Align-center"><div class="c-Btn_Primary-large fin">お申し込みはこちら</div></div>
      <% } else { %>
        <!-- else -->
        <div class="u-Adjust_Mt-8 u-Adjust_Align-center"><a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=PAYREG00000002&l-id=campaign_pay_coupon_link02" class="c-Btn_Primary-large"><span>お申し込みはこちら</span></a></div>
      <% } %>
        <p class="c-Txt_Cap u-Adjust_Align-center u-Adjust_Mt-16">本ページの「お申し込みはこちら」ボタン以外からお手続きされた場合、特典適用対象外となります。</p>
      </div>

      <div class="l-System_Container">
        <div class="u-Rat_Appear-height" data-ratid="campaign_pay_scroll-04_schedule" data-ratevent="appear"></div>
        <h2 class="c-Heading_Lv2 u-Adjust_Mt-56 u-Adjust_Align-center">キャンペーンスケジュール</h2>
        <p class="u-Adjust_Align-center">お申し込み前の楽天ペイアプリでのお支払いも対象！</p>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16 schedule_img">
          <img src="<%= sitepath %>assets/img/campaign/pay/img-schedule-01_230301.png?230301" alt="">
        </div>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-16 u-Adjust_Align-center schedule_txt"><span class="c-Icon_Favorite-f"></span><span class="c-Icon_Meatball-horizontal-f"></span>楽天ペイお支払い金額の1.5％ポイントを付与</p>
        <p class="u-Adjust_Mt-16">2023年3月1日（水）9:00～2023年4月3日（月）8:59に楽天モバイルにお申し込み、条件を達成した場合、2023年3月の楽天ペイのお支払い金額の1.5％分の付与は、2023年7月末日頃になります。</p>
        <p>2023年4月～8月楽天ペイのお支払い金額の1.5％は、それぞれお支払い月の4カ月後末日頃に付与となります。</p>

        <div class="u-Rat_Appear-height" data-ratid="campaign_pay_scroll-05_flow" data-ratevent="appear"></div>
        <h2 class="c-Heading_Lv2 u-Adjust_Mt-56 u-Adjust_Align-center" id="campaign-flow">キャンペーンの流れ</h2>
        <div class="<%= namespace %>-Layout_step u-Adjust_Mt-24">
          <div class="c-Accordion u-Adjust_Mt-16">
            <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1" data-ratid="campaign_pay_flow-step1" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP1　</span>楽天モバイルのお申し込み</button>
            <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1"
              aria-hidden="true">
              <div class="u-Adjust_Mt-16">
                <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-24">
                  <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                    <img src="<%= sitepath %>assets/img/campaign/pay/img-flow-01.png?230106" alt="">
                  </div>
                  <div>
                    <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">本ページから楽天モバイルに申し込む</h4>
                    <p class="u-Adjust_Mt-16"><span class="txt-nl">2023年3月1日（水）9:00～</span><span class="txt-nl">2023年4月3日（月）8:59</span></p>
                    <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                      <li class="c-Txt_Emp-02"><span>※</span>未成年の方のお申し込み方法は別途こちらの<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_pay_flow_for-minors">ご案内ページ</a>をご確認ください。</li>
                    </ul>
                  </div>
                </div>
                <ul class="<%= namespace %>-Flow_List u-Adjust_Mt-16">
                  <li>
                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-8">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                        <img src="<%= sitepath %>assets/img/campaign/pay/img-flow-02.png?230106" alt="">
                      </div>
                      <div>
                        <p class="c-Txt_Emp-01">お申し込みに必要なもの</p>
                        <div class="u-Adjust_Mt-8">
                          <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc">
                            <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/verify/?l-id=campaign_pay_guide_verify" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                            <li class="u-Adjust_Mt-8">楽天ID、パスワード</li>
                            <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/?l-id=campaign_pay_guide_payment" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                            </li>
                            <li class="u-Adjust_Mt-8">ご契約者名義の<a href="<%= sitepath %>guide/mnp/?l-id=campaign_pay_guide_mnp" class="c-Link_Txt-inline">MNP予約番号</a>（他社から乗り換えの場合）
                              <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                                <span>※</span>ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001238/?l-id=campaign_pay_faq_00001238">こちらのご案内ページ</a>を必ず事前にご確認ください。<br>
                              </p></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="<%= namespace %>-Flow_List-step-unlimit u-Adjust_Mt-24 <%= namespace %>-Layout_step-ptn2">
                  <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-left">
                    <div class="<%= namespace %>-Flow_List-detail">
                      <div class="step-pran-change"><span class="c-Icon_New-user-f c-Txt_Emp-02"></span><h4 class="c-Heading_Lv4 u-Adjust_Mt-8 u-Adjust_Mb-16"> 新規電話番号／他社から乗り換え（MNP）</h4></div>
                    <% if (information.campaignState == 'finish') { %>
                      <div class="u-Adjust_Align-center"><p class="c-Btn_Primary-large fin <%= namespace %>-Flow_List-button-secondly u-Adjust_Mt-24">お申し込みはこちら</p></div>
                    <% } else { %>
                      <!-- else -->
                      <p class="u-Adjust_Align-center"><a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=PAYREG00000002&l-id=campaign_pay_coupon_link03" class="c-Btn_Primary-large <%= namespace %>-Flow_List-button-secondly u-Adjust_Mt-24">お申し込みはこちら</a></p>
                    <% } %>
                      <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>fee/un-limit/?l-id=campaign_pay_fee_un-limit" class="c-Link_Txt-inline">Rakuten UN-LIMIT VIIの詳細<span class="c-Icon_Chevron-right"></span></a></p>
                      <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/flow/application/?l-id=campaign_pay_guide_flow_application" class="c-Link_Txt-inline">Rakuten UN-LIMIT VII<br class="<%= namespace %>-Layout-pay_Sp">お申し込み方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                    </div>
                  </div>

                  <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-right">
                    <div class="<%= namespace %>-Flow_List-detail">
                      <div class="step-pran-change"><span class="c-Icon_Paper-plane-l c-Txt_Emp-02"></span>
                      <h4 id="members" class="c-Heading_Lv4 u-Adjust_Mt-8 u-Adjust_Mb-16">ドコモ回線・au回線の楽天モバイルから移行</h4></div>
                      <div class="u-Adjust_Mt-16">
                        <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">メンバーズステーションにてMNP予約番号を発行のうえ、本ページからお申し込みください。</p>
                        <p class="u-Adjust_Align-center"><a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_pay_ms3&mno_migration=1" class="c-Btn_Secondly-large <%= namespace %>-Flow_List-button-secondly u-Adjust_Mt-24"><span>メンバーズステーションにてMNP予約番号を発行する</span></a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <ul class="<%= namespace %>-Flow_List u-Adjust_Mt-16">
                  <li class="<%= namespace %>-Flow_List-Single_Arrow">
                    <div class="list_ttl">
                      <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">「Rakuten UN-LIMIT VII」お申し込み画面に移動し、お手続きください。</h4>
                      <p class="u-Adjust_Mt-8 c-Txt_Normal-s">※「お申し込みはこちら」ボタン以外からお手続きされた場合は、特典適用対象外となります。</p>
                    </div>
                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-48 top">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                        <img src="<%= sitepath %>assets/img/campaign/pay/img-flow-coupon-01.png?230106" alt="">
                      </div>
                      <div>
                        <p class="u-Adjust_Mt-8">「お申し込みはこちら」ボタンからお申し込み画面に進み、製品選択など手順に従って進めてください。</p>
                      </div>
                    </div>
                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-48">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                        <img src="<%= sitepath %>assets/img/campaign/pay/img-flow-coupon-02.png?230106" alt="">
                      </div>
                      <div>
                        <p class="text_cap u-Adjust_Mt-8">「お申し込み内容」でクーポンコードが表示されていることを必ずご確認のうえ、お申し込みを完了してください。</p>
                        <p class="u-Adjust_Mt-8 c-Txt_Normal-s">※該当の項目が表示されていない場合、特典適用対象外となるため、再度本ページの「お申し込みはこちら」ボタンよりお申し込みをやり直してください。</p>
                      </div>
                    </div>

                    <p class="c-Txt_Emp-02 <%= namespace %>-Utility_Mt-unique u-Adjust_Align-center u-Adjust_Mt-16">お申し込み期間：2023年3月1日（水）9:00～2023年4月3日（月）8:59</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Align-center">クーポンコード：PAYREG00000002</p>
                    <p class="u-Adjust_Mt-16 c-Txt_Normal-ss c-Txt_Emp-02"><a href="#campaign-caution" class="js-scroll">お申し込み時の注意点</a>を必ずご確認のうえ、以下のお申し込みボタンよりお手続きください。</p>
                  <% if (information.campaignState == 'finish') { %>
                    <div class="u-Adjust_Mt-8 u-Adjust_Align-center"><div class="c-Btn_Primary-large fin">お申し込みはこちら</div></div>
                  <% } else { %>
                    <!-- else -->
                    <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=PAYREG00000002&l-id=campaign_pay_coupon_link04" class="c-Btn_Primary-large"><span>お申し込みはこちら</span></a></div>
                  <% } %>
                    <p class="u-Adjust_Mt-16 c-Txt_Normal-ss">本ページの「お申し込みはこちら」ボタン以外からお手続きされた場合、特典適用対象外となります。</p>
                    <div class="u-Rat_Appear-height" data-ratid="campaign_pay_scroll-06_step1" data-ratevent="appear"></div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="c-Accordion u-Adjust_Mt-16">
            <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2" data-ratid="campaign_pay_flow-step2" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP2　</span>「Rakuten UN-LIMIT VII」 プラン利用開始</button>
            <div id="accordion-content-2" class="<%= namespace %>-Layout_step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region"
              aria-labelledby="accordion-2" aria-hidden="true">
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/pay/img-flow-03.png?230106" alt="">
                </div>
                <div>
                  <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">楽天モバイルの開通手続きを行い「Rakuten UN-LIMIT VII」 プランを利用開始する</h4>
                  <p class="u-Adjust_Mt-8">2023年4月30日（日）23:59まで</p>
                  <ul class="<%= namespace %>-Table_Rule-Cap">
                    <li class="u-Adjust_Mt-8 c-Txt_Emp-02"><span>※</span>店舗（楽天モバイルショップ）でのお申し込みの場合、対象外となります。あらかじめご了承ください。</li>
                    <li class="u-Adjust_Mt-8"><span>※</span><span class="accordion10_opan c-Link_Txt-icon-front js-ac-rule03 js-ac">プラン利用開始日の定義はこちら</span>。</li>
                  </ul>
                  <div class="u-Adjust_Mt-32">
                    <p class="<%= namespace %>-Layout-pay_Sp-center-btn"><a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/" class="c-Btn_Regular <%= namespace %>-Flow_List-button"><span>スタートガイド（利用開始手順書）はこちら</span></a></p>
                  </div>
                </div>
              </div>
              <div class="u-Rat_Appear-height" data-ratid="campaign_pay_scroll-07_step2" data-ratevent="appear"></div>
            </div>
          </div>
          <div class="c-Accordion u-Adjust_Mt-16">
            <button type="button" id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3" data-ratid="campaign_pay_flow-step3" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP3　</span>Rakuten Linkアプリから発信で10秒以上通話</button>
            <div id="accordion-content-3" class="<%= namespace %>-Layout_step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/pay/img-flow-04.png?230106" alt="">
                </div>
                <div>
                  <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">Rakuten Linkアプリで発信し10秒以上通話する</h4>
                  <p class="u-Adjust_Mt-8">2023年4月30日（日）23:59まで</p>
                  <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                    <li><span>※</span>電話の発信時、（0180）（0570）などから始まる他社接続サービス、一部特番（188）への通話については、特典対象外。</li>
                  </ul>
                  <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>service/rakuten-link/?l-id=campaign_pay_service_rakuten-link" class="c-Link_Txt-inline" target="_blank">Rakuten Link アプリの詳細を見る<span class="c-Icon_New-window-l"></span></a></p>
                </div>
              </div>
              <div class="u-Rat_Appear-height" data-ratid="campaign_pay_scroll-08_step3" data-ratevent="appear"></div>
            </div>
          </div>
          <div class="c-Accordion u-Adjust_Mt-16">
            <button type="button" id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4" data-ratid="campaign_pay_flow-step4" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP4　</span>街のお店で楽天ペイアプリのご利用</button>
            <div id="accordion-content-4" class="<%= namespace %>-Layout_step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/pay/img-flow-05.png?230106" alt="">
                </div>
                <div>
                  <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">街のお店で楽天ペイアプリのコード表示・QR読み取り・セルフでお支払いをする</h4>
                  <p class="u-Adjust_Mt-8">【対象期間】2023年3月1日（水）0:00～2023年8月31日（木）23:59</p>
                  <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                    <li><span>※</span>電波状況により、一部店舗でつながりにくくなる可能性があります。ご迷惑をお掛けしますが、ご了承いただきますようお願いいたします。</li>
                  </ul>
                  <div class="u-Adjust_Mt-32">
                    <p class="<%= namespace %>-Layout-pay_Sp-center-btn"><a href="https://pay.rakuten.co.jp/" class="c-Btn_Regular <%= namespace %>-Flow_List-button" target="_blank">楽天ペイをはじめる<span class="c-Icon_New-window-l"></span></a></p>
                    <p class="<%= namespace %>-Layout-pay_Sp-center-btn u-Adjust_Mt-8"><a href="https://pay.rakuten.co.jp/shop/" class="c-Btn_Regular <%= namespace %>-Flow_List-button" target="_blank">近くの対象のお店を探す<span class="c-Icon_New-window-l"></span></a></p>
                  </div>
                  <div class="u-Rat_Appear-height" data-ratid="campaign_pay_scroll-09_step4" data-ratevent="appear"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="u-Adjust_Align-center u-Adjust_Mt-16 step-last_arrow">
          <img src="<%= sitepath %>assets/img/campaign/pay/img-03.png?230106" alt="">
        </div>

        <ul class="step-last u-Adjust_Align-center">
          <li>
            <p><span class="step-last_text01">1.5</span>％ポイント還元</p>
            <p class="c-Txt_Cap">※ 6カ月で最大3,000ポイント、毎月500ポイント上限</p>
          </li>
          <li class="u-Adjust_Mt-16">
            <div class="step-last_icon"><img src="<%= sitepath %>assets/img/campaign/pay/img-04.png?230106" alt="＋"></div>
            <p>楽天ペイのコード・<span class="txt-nl">QR払いでいつでも<sup>※1</sup>最大</span><span class="txt-nl"><span class="step-last_text01">1.5</span>％ポイント還元</span></p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※1　一部店舗でのご利用分はポイント付与対象外となります。詳細は<a href="https://pay.rakuten.co.jp/campaign/2020/pointprogram/rule/shop/" target="_blank" class="c-Link_Txt-inline">こちら<span class="c-Icon_New-window-l"></span></a></p>
          </li>
        </ul>
        <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/pay/img-05-sp.png?230106">
            <img src="<%= sitepath %>assets/img/campaign/pay/img-05.png?230106" alt="合わせて最大3%ポイント還元">
          </picture>
        </div>
      </div>
      <div class="u-Rat_Appear-height" data-ratid="campaign_pay_scroll-10_3000pt" data-ratevent="appear"></div>
      <div class="u-Adjust_Mt-40 point_img_bg u-Adjust_Align-center">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/pay/img-07-sp.png?230106">
          <img src="<%= sitepath %>assets/img/campaign/pay/img-07.png?230106" alt="楽天モバイルに初めてのお申し込みで3,000ポイント">
        </picture>
      </div>

      <div class="l-System_Container">
        <p class="u-Adjust_Mt-16">初めてのRakuten UN-LIMIT VIIお申し込みで3,000円相当分のポイント還元となるキャンペーンです<br>
          詳細は<span class="accordion11_opan js-ac-rule02 js-ac">キャンペーンルール</span>をご確認ください。
        </p>
        <ul class="c-Txt_Cap u-Adjust_Mt-16">
          <li><span>※</span>ポイントは付与日を含めて6カ月の期間限定ポイントとなります。</li>
        </ul>
        <div class="point_btn">
        <% if (information.campaignState == 'finish') { %>
          <div class="c-Btn_Primary-large fin <%= namespace %>-Flow_List-button-secondly u-Adjust_Mt-16">お申し込みはこちら</div>
        <% } else { %>
          <!-- else -->
          <a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=PAYREG00000002&l-id=campaign_pay_coupon_link05" class="c-Btn_Primary-large <%= namespace %>-Flow_List-button-secondly u-Adjust_Mt-16"><span>お申し込みはこちら</span></a>
        <% } %>

          <p class="u-Adjust_Mt-40 u-Adjust_Align-center c-Txt_Emp-01">楽天モバイル（ドコモ回線・au回線）をご利用中のお客様はこちら</p>

          <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_pay_ms4&mno_migration=1" class="c-Btn_Secondly-large <%= namespace %>-Flow_List-button-secondly u-Adjust_Mt-16" data-ratid="campaign_pay_ms" data-ratevent="click" data-ratparam="all"><span>メンバーズステーションにてMNP予約番号を発行する</span></a>
        </div>
        <p class="u-Adjust_Mt-16 c-Txt_Cap point_cap">※　メンバーズステーションにてMNP予約番号を発行のうえ、本ページからお申し込みください。</p>

        <div class="u-Rat_Appear-height" data-ratid="campaign_pay_scroll-11_qanda" data-ratevent="appear"></div>
        <h2 class="c-Heading_Lv2 u-Adjust_Mt-40 u-Adjust_Align-center u-Adjust_Mb-16" id="faq">よくあるご質問</h2>
        <p class="c-Txt_Cap">※キャンペーン詳細は、<a class="js-scroll" href="#campaign-rule">こちら</a>からご確認ください。</p>
        <div class="_sample u-Adjust_Mt-16 u-Adjust_Mb-40">
          <div class="c-Accordion">
            <button id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーンのポイント獲得の対象になっているか確認したいです。</button>
            <div id="accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-5" aria-hidden="true" style="display: none;">
              <p>お申し込み後に、キャンペーン適用できているかどうかは、お客様自身でご確認いただくことができません。「お申し込み内容」であらかじめクーポンコード14桁の英数字が表示されていることをご確認のうえ、お申し込みを完了してください。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-6"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>すでに楽天モバイルを使っていますが、キャンペーン条件を達成したらポイント獲得の対象になりますか？</button>
            <div id="accordion-content-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-6" aria-hidden="true" style="display: none;">
              <p>「【毎月開催】楽天モバイルお申し込みで、楽天ペイのお支払い金額1.5％還元」キャンペーンは、楽天モバイル（Rakuten UN-LIMIT VIIやそれ以外のプラン）をご利用いただいている方でも、条件を達成した場合は特典が付与されます。楽天モバイル（ドコモ回線・au回線）の料金プランから移行手続き後、お申し込みいただくか、（2回線目以降として）新規でお申し込みをいただく形となります。ただし、本キャンペーンの適用回数は、おひとり様1契約となります。</p>
            </div>
          </div>
        </div>
      </div>

      <div class="<%= namespace %>-Layout_Entry-Area u-Adjust_Mt-56">
        <p class="c-Txt_Emp-02 <%= namespace %>-Utility_Mt-unique u-Adjust_Align-center u-Adjust_Mt-16">お申し込み期間：2023年3月1日（水）9:00～2023年4月3日（月）8:59</p>
        <p class="u-Adjust_Mt-16 c-Txt_Emp-01 <%= namespace %>-Utility_Mt-unique u-Adjust_Align-center">クーポンコード：PAYREG00000002</p>
        <p class="c-Txt_Cap u-Adjust_Align-center u-Adjust_Mt-16 c-Txt_Emp-02"><a href="#campaign-caution" class="js-scroll">お申し込み時の注意点</a>を必ずご確認のうえ、以下のお申し込みボタンよりお手続きください。</p>
      <% if (information.campaignState == 'finish') { %>
        <div class="u-Adjust_Mt-8 u-Adjust_Align-center"><div class="c-Btn_Primary-large fin">お申し込みはこちら</div></div>
      <% } else { %>
        <!-- else -->
        <div class="u-Adjust_Mt-8 u-Adjust_Align-center"><a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=PAYREG00000002&l-id=campaign_pay_coupon_link06" class="c-Btn_Primary-large"><span>お申し込みはこちら</span></a></div>
      <% } %>
        <p class="c-Txt_Cap u-Adjust_Align-center u-Adjust_Mt-16">本ページの「お申し込みはこちら」ボタン以外からお手続きされた場合、特典適用対象外となります。</p>
      </div>

      <div class="l-System_Container">
        <div class="l-Media_Grid bnr_area">
          <div class="l-Media_Image">
            <a href="<%= sitepath %>uservoice/?l-id=campaign_<%= namespace %>_uservoice">
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-bnr-01-sp.png?230201">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-bnr-01.png?230201" alt="実際に使った感想をお聞きしました。楽天モバイルの評判をご紹介">
              </picture>
            </a>
          </div>
        </div>
        <div class="u-Rat_Appear-height" data-ratid="campaign_pay_scroll-12_campaign-rule" data-ratevent="appear"></div>
        <div class="c-Accordion u-Adjust_Mt-40" id="campaign-rule">
          <button id="accordion-10" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-10"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>【毎月開催】楽天モバイルお申し込みで、楽天ペイのお支払い金額1.5％還元<br>
            <span class="c-Txt_Cap">※必ずご確認ください</span></button>
          <div id="accordion-content-10" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-10" aria-hidden="true" style="display: none;">
            <div class="<%= namespace %>-Layout_Rule u-Adjust_Mt-0">
              <h2 class="c-Heading_Lv2 u-Adjust_Align-left">【毎月開催】楽天モバイルお申し込みで、楽天ペイのお支払い金額1.5％還元</h2>
              <% if (information.campaignState == 'finish') { %>
                <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
              <% } else { %>
                <!-- else -->
              <% } %>
              <div class="u-Adjust_Mt-24">
                <dl class="c-Dl_Origin <%= namespace %>-campaign-Rule">
                  <dt>キャンペーンコード</dt>
                  <dd>
                    <p>1692</p>
                    <ul class="c-Txt_Cap u-Adjust_Mt-8">
                      <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                    </ul>
                  </dd>
                  <dt>キャンペーン期間</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">プランのお申し込み期間</p>
                    <p>- Web　2023年3月1日（水）9:00～2023年4月3日（月）8:59</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>本キャンペーンは2023年4月3日8:59で終了となります。（2023年3月1日更新）</li>
                    </ul>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">プラン利用開始期限</p>
                    <p>2023年4月30日（日）23:59まで</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">「Rakuten Link」利用期限</p>
                    <p>2023年4月30日（日）23:59まで</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">楽天ペイアプリでのお支払い対象期間</p>
                    <p>2023年3月1日（水）0:00～2023年8月31日（木）23:59</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>お支払い金額に対するポイント付与時期の詳細は<a href="#campaign-assignment">こちら</a></li>
                    </ul>
                  </dd>
                  <dt>キャンペーン条件</dt>
                  <dd>
                    <p class="c-Txt_Emp-02">上記各項目の期間内に【1】、【2】、【3】、【4】の条件をすべて満たした楽天会員の方</p>
                    <p class="u-Adjust_Mt-8">【1】本キャンペーンの「お申し込みはこちら」ボタンより「Rakuten UN-LIMIT VII」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（1）新規お申し込み</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（2）他社からの乗り換え（MNP）でお申し込み</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（3）楽天モバイル（ドコモ回線・au回線）のメンバーズステーションにてMNP予約番号を取得し、お申し込み</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">※下記に当てはまる方はメンバーズステーション経由のプラン変更（移行）をご検討ください。</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                      <li><span>・</span>オプションサービスを引き継ぎたい場合<br>本ページからお申し込みした際、オプションサービスはすべて解約となります。</li>
                    </ul>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">【お申し込み時の注意事項】</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                      <li><span>・</span>キャンペーン特典の適用は、本ページの「お申し込みはこちら」ボタンからのお手続きが必要となります</li>
                      <li><span>・</span>お手続き中に時間超過等でセッションが切れた場合、再度本ページの「お申し込みはこちら」ボタンよりお手続きが必要になります</li>
                      <li><span>・</span>楽天モバイルお申し込み画面がメンテナンス中に申し込んだ場合は、キャンペーン特典の適用はございません。メンテナンスの終了後に改めてお申し込みください</li>
                      <li><span>・</span>楽天モバイル（ドコモ回線・au回線）をお使いのお客様が、メンバーズステーションより、プラン変更（移行）した場合、キャンペーンの適用はございません</li>
                      <li><span>・</span>お手続き完了前に、「受け取りとお支払い方法」ページのお申し込み内容にて、クーポンコードが表示されることを必ずご確認ください</li>
                    </ul>
                    <p class="u-Adjust_Mt-8">【2】「Rakuten UN-LIMIT VII」プラン利用開始</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li id="campaign-rule-plan">【プラン利用開始日とは】<br><br>
                        <span class="<%= namespace %>-Table_Rule-bold">新規お申し込みの場合　※（1）（2）のいずれか早い方がプラン利用開始日となります</span><br>
                        （1）当社に配送完了データが通知された日<br>
                        （2）プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br><br>
                        <span class="<%= namespace %>-Table_Rule-bold">他社から乗り換え（MNP）の場合</span><br>
                        プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br><br>
                        <span class="<%= namespace %>-Table_Rule-bold">楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</span><br>
                        プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                    </ul>
                    <p class="u-Adjust_Mt-8">【3】「Rakuten Link」のご利用<br>「Rakuten UN-LIMIT VII」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
                    <p class="u-Adjust_Mt-16">【Rakuten Linkアプリご利用方法】<br>
                      Rakuten Linkページの「<a href="https://service.link.link/guide/" target="_blank" class="c-Link_Txt-inline">使い方<span class="c-Icon_New-window-l"></span></a>」をご確認ください</p>
                    <p class="u-Adjust_Mt-16">【Rakuten Link利用履歴の確認方法】<br>
                      「<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001919/" target="_blank" class="c-Link_Txt-inline">キャンペーンにおけるRakuten Linkの利用について<span class="c-Icon_New-window-l"></span></a>」をご確認ください</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>電話の発信時、（0570）（0180）などの他社接続サービス、♯ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</li>
                    </ul>
                    <p class="u-Adjust_Mt-8">【4】楽天ペイアプリのコード表示・QR読み取り・セルフでお支払い</p>
                    <p class="u-Adjust_Mt-16">楽天モバイルのプランお申し込みと楽天ペイアプリでのお支払いの順序は問いません。</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>2023年3月1日（水）9:00～2023年4月3日（月）8:59に楽天モバイルを申し込みの場合、2023年3月からの楽天ペイのお支払い金額が対象。</li>
                      <li><span> </span>毎月1日～末日までの対象店舗での楽天ペイアプリご利用金額合計に対して、6カ月間1.5％分の楽天ポイント（期間限定ポイント）を付与</li>
                    </ul>
                  </dd>
                  <dt>対象店舗</dt>
                  <dd>
                    <p>楽天ペイアプリでコード表示・QR読み取り・セルフでのお支払いが利用できる店舗<br>
                      一部店舗でのご利用分はポイント付与対象外となります。詳しくは必ず<a href="https://pay.rakuten.co.jp/campaign/2020/pointprogram/rule/shop/" target="_blank" class="c-Link_Txt-inline">こちら<span class="c-Icon_New-window-l"></span></a>からご確認ください。</p>
                  </dd>
                  <dt>キャンペーン特典 （楽天ポイント）</dt>
                  <dt class="<%= namespace %>-campaign-Rule_Title-sub">特典内容</dt>
                  <dd>
                    <p>楽天ペイアプリの対象店舗でのお支払い金額の1.5％を付与</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>毎月500ポイントが上限</li>
                      <li><span>※</span>ポイントは楽天ペイアプリのお支払いに応じて最大6ヶ月間付与され、合計で最大3,000ポイントの付与となります</li>
                      <li><span>※</span>付与されるポイント数は小数点以下の切り捨てとなります</li>
                    </ul>
                  </dd>
                  <dt id="campaign-assignment">ポイント付与日</dt>
                  <dd>
                    <p>キャンペーン期間に記載の期限までにキャンペーン条件【1】【2】【3】を達成した場合、3月の楽天ペイのお支払い金額の1.5％は2023年7月末日ごろに付与となります</p>
                    <p>2023年3月1日（水）9:00～2023年4月3日（月）8:59に楽天モバイルを申し込みの場合、</p>
                    <p class="c-Txt_Emp-02">2023年3月の楽天ペイのお支払い金額の1.5％の付与は、2023年7月末日頃になります<br>
                      2023年4月～8月楽天ペイのお支払い金額の1.5％は、それぞれお支払い月の4カ月後末日頃に付与となります</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</li>
                    </ul>
                  </dd>
                  <dt>ポイント有効期間</dt>
                  <dd>
                    <p>ポイント付与日を含めて6カ月</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
                      <li><span>※</span>有効期限までにポイントをご利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
                    </ul>
                  </dd>
                  <dt>特典適用対象外</dt>
                  <dd>
                    <p>以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外となります</span></p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>本ルールに記載の併用可能キャンペーンを除き、本キャンペーンより付与ポイント数やクーポン割引額が多いRakuten UN-LIMIT VII お申し込みでポイントまたはクーポンプレゼントキャンペーンが適用となった場合（複数のRakuten UN-LIMIT VII お申し込みでポイントまたはクーポンプレゼントキャンペーンの対象となった場合、付与ポイント数やクーポン割引額が一番多いキャンペーンのみが適用されます。）<br>
                       <span class="Rule-txt01"> （本キャンペーンの付与ポイント数は楽天ペイアプリの利用金額に応じて変動しますが、特典適用するキャンペーンの優先順位を決める際は、本キャンペーンの付与ポイントを一律3,000ポイントとみなします。）</span></li>
                      <li><span>※</span>本ページの「お申し込みはこちら」ボタン以外からお申し込みされた場合</li>
                      <li><span>※</span>本ページの「お申し込みはこちら」ボタンよりお手続き中に時間超過等でセッションが切れた場合</li>
                      <li><span>※</span>楽天モバイルお申し込み画面がメンテナンス中に申し込んだ場合</li>
                      <li><span>※</span>楽天モバイル（ドコモ回線・au回線）をお使いのお客様が、メンバーズステーション経由でプラン変更（移行）した場合</li>
                      <li><span>※</span>お申し込み途中で、他のお申し込みボタンからお申し込みを開始したり、ブラウザ、スマートフォンやパソコンを変えるなどして「受け取りとお支払い方法」ページのお申し込み内容で、クーポンコードが表示されていない場合<br>クーポンコードは、キャンペーンページの「クーポンコード」に記載の14桁の英数字です。</li>
                      <li><span>※</span>お申し込み途中で、クーポンを解除した場合</li>
                      <li><span>※</span>楽天モバイルにご登録の楽天ID、楽天ペイアプリにご登録の楽天IDが同一でない場合</li>
                      <li><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                      <li><span>※</span>「楽天モバイルお申し込みで、楽天ペイのお支払い金額1.5％還元キャンペーン」の適用回数が、おひとり様1契約を超える場合</li>
                      <li><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
                      <li><span>※</span>「Rakuten UN-LIMIT VII」のプラン利用開始がされなかった場合<br>-プラン利用開始の手続き方法につきましては、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/">こちら</a>のSIMカード版スタートガイドまたはeSIM版スタートガイドを参照ください</li>
                      <li><span>※</span>期限までに「Rakuten Link」を利用されなかった場合</li>
                      <li><span>※</span>下記の方法でお支払いされた場合<br>
                        -楽天ペイアプリ内の楽天ポイントカードによるお支払い分<br>
                        -楽天ペイアプリ内の楽天Edyへのチャージ分、楽天Edyによるお支払い分<br>
                        -楽天ペイアプリ内のSuicaへのチャージ分、Suicaによるお支払い分<br>
                        -ネットでの楽天ペイのお支払い<br>
                        -楽天ペイアプリ内の楽天カードタッチ決済によるお支払い分</li>
                      <li><span>※</span>楽天ペイアプリでのお支払いをキャンセルされた場合</li>
                      <li><span>※</span>ポイント付与までに楽天会員から退会している場合</li>
                      <li><span>※</span>当社、楽天ペイメント株式会社または楽天グループ株式会社が定める規約などに違反した場合</li>
                      <li><span>※</span>そのほか、当社、楽天ペイメント株式会社、または楽天グループ株式会社が会員として不適格であると判断した場合</li>
                    </ul>
                  </dd>
                  <dt id="combineduse">併用可能キャンペーン</dt>
                  <dd>
                    <p class="c-Txt_Emp-02">以下のキャンペーンは併用可能となります。</p>
                    <p class="u-Adjust_Mt-16">- 【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント（キャンペーンコード：1526）</p>
                  </dd>
                  <dt>注意事項</dt>
                  <dd>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap">
                      <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                      <li><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                      <li><span>・</span>楽天カード以外のJCB、American Expressのカードをお支払い元に設定した場合、一部の店舗でお支払いいただけません。</li>
                      <li><span>・</span>楽天ペイアプリに設定可能なカードは、すべての楽天カード、およびその他のVisa、Mastercard、JCB、American Expressになります。</li>
                      <li><span>　</span>それ以外のカードは、楽天会員情報に登録されていても、楽天ペイアプリのお支払い元の選択画面には表示されません。</li>
                      <li><span>・</span>楽天ペイアプリの利用登録が完了していない場合でも、楽天会員情報にご登録されているメールアドレス宛てに楽天ペイメント株式会社より本キャンペーンに関する重要なご案内をお届けすることがございます。</li>
                      <li><span>※</span>「Rakuten UN-LIMIT  VII」のプランを解約された場合も6カ月間ポイントの付与は継続されます</li>
                      <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                      <li><span>※</span>記載の内容は2023年3月1日（水）時点の情報となります</li>
                    </ul>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="c-Accordion" id="campaign-rule02">
          <button id="accordion-11" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-11"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント　ルール<br>
            <span class="c-Txt_Cap">※必ずご確認ください</span></button>
          <div id="accordion-content-11" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-11" aria-hidden="true" style="display: none;">
            <div class="<%= namespace %>-Layout_Rule u-Adjust_Mt-0">
              <h2 class="c-Heading_Lv2 u-Adjust_Align-left">【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント</h2>
              <div class="u-Adjust_Mt-24">
                <dl class="c-Dl_Origin <%= namespace %>-campaign-Rule">
                  <dt>キャンペーンコード</dt>
                  <dd>
                    <p>1526</p>
                    <ul class="c-Txt_Cap u-Adjust_Mt-8">
                      <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                    </ul>
                  </dd>
                  <dt>キャンペーン期間</dt>
                  <dd>
                    <p><span class="c-Txt_Emp-01">■ プランのお申し込み期間</span><br>
                    　- Web　2022年7月1日（金）0:00～終了日未定<br>
                    　- 店舗（楽天モバイルショップ）　2022年7月1日（金）開店～終了日未定<br>
                    </p>
                    <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■ プラン利用開始期限</span><br>
                    　プランのお申し込みの翌月末日23:59まで
                    </p>
                    <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■「Rakuten Link」利用期限</span><br>
                    　プランのお申し込みの翌月末日23:59まで
                    </p>
                  </dd>
                  <dt>キャンペーン条件</dt>
                  <dd>
                    <p class="c-Txt_Emp-02">上記各項目の期間内に【1】、【2】、【3】の条件をすべて満たした楽天会員の方</p>
                    <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※ 特典はおひとり様1度のみ。楽天回線を初めてお申し込みいただいた場合に適用となります</p>
                    <div class="u-Adjust_Mt-16">
                      <span class="c-Txt_Emp-01">【1】「Rakuten UN-LIMIT VII」へ、下記（1）～（3）いずれかの方法にてお申し込み</span><br>
                      <ul class="c-List_Note u-Adjust_Mt-8">
                        <li><span>(1)</span>新規お申し込み</li>
                        <li><span>(2)</span>他社からの乗り換え（MNP）でお申し込み<br>
                          <span class="c-Txt_Cap">※楽天モバイル（旧FREETEL）通話SIMからの乗り換え（MNP）、DMMモバイル通話SIMからの乗り換え（MNP）の場合も含む</span>
                        </li>
                        <li><span>(3)</span>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
                      </ul>
                      <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※ 「Rakuten UN-LIMIT VI」から「Rakuten UN-LIMIT VII」への移行は対象外となります</p>
                    </div>
                    <div class="u-Adjust_Mt-16">
                      <p class="c-Txt_Emp-01">【2】「Rakuten UN-LIMIT VII」プラン利用開始</p>
                      <p class="u-Adjust_Mt-16">【プラン利用開始日とは】</p>
                      <ul>
                        <li class="u-Adjust_Mt-8">- 新規お申し込みの場合 <span>※(1)(2)のいずれか早い方がプラン利用開始日となります。</span>
                          <ul class="c-List_Note">
                            <li><span>(1)</span>当社に配送完了データが通知された日</li>
                            <li><span>(2)</span>プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                          </ul>
                        </li>
                        <li class="u-Adjust_Mt-8">- 他社から乗り換え（MNP）の場合<br>
                          プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日
                        </li>
                        <li class="u-Adjust_Mt-8">- 楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合<br>
                          プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日
                        </li>
                      </ul>
                    </div>
                    <div class="u-Adjust_Mt-16">
                      <p class="c-Txt_Emp-01">【3】対象製品※1を利用し「Rakuten Link」のご利用</p>
                      <p class="u-Adjust_Mt-8">「Rakuten UN-LIMIT VII」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
                      <p class="u-Adjust_Mt-8 c-Txt_Emp-02 c-Txt_Cap">※iPhoneをご購入の場合、製品到着または店頭で購入した日の翌月末日23:59までに【2】【3】の条件を満たすことでキャンペーン適用となります。</p>
                      <p class="u-Adjust_Mt-8 c-Txt_Emp-02 c-Txt_Cap">※製品到着とは、当社に配送完了データが通知された日を指します。</p>
                      <p class="u-Adjust_Mt-16 c-Txt_Emp-01">【Rakuten Link アプリご利用方法】</p>
                      下記URLの「Rakuten Linkのご利用方法」をご確認ください<br>
                      <a target="_blank" href="<%= sitepath %>guide/rakuten-link/" class="u-Adjust_Txt-break">https://network.mobile.rakuten.co.jp/guide/rakuten-link/</a>
                      <br>
                      - 通話方法：『電話をかける』の項目をご確認ください
                      <p class="c-Txt_Emp-01">【Rakuten Link利用履歴の確認方法】</p>
                      下記URLの「キャンペーンが適用されているか、いつポイントが付与されるか知りたい」をご確認ください<br>
                      <a href="<%= sitepath %>faq/detail/00001962/" class="u-Adjust_Txt-break">https://network.mobile.rakuten.co.jp/faq/detail/00001962/</a><br>
                      -「③ 適用条件の達成状況を確認する」の項目をご確認ください
                      <p class="c-Txt_Cap">※ 電話の発信時、（0570）（0180）などの他社接続サービス、#ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</p>
                      <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">
                        ※1 キャンペーン対象製品について<br>
                      【iOS版】<br>
                      iOS 14.4以降（推奨）を搭載したiPhone</p>

                      <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">【Android版】<br>
                      Android 9以降を搭載した<a href="<%= sitepath %>product/certified-products/" class="u-Adjust_Txt-break">楽天回線対応製品</a></p>
                      <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">
                      ※ 楽天回線対応のモバイルルーターで使用されるためにお申し込みいただいた場合は、「Rakuten Link」のご利用は必要ございません。<br>
                      ※ ご利用いただく製品によっては、次の機能が利用できない場合があります（接続回線の自動切替、緊急地震速報などの受信、高精度な位置情報測位など）ので、ご利用予定の製品の対応状況を<a href="<%= sitepath %>product/byod/">こちら</a>でご確認ください。<br>
                      ※ ご利用いただける機能であっても、OSやソフトウェアの更新等により、機能のご利用が制限される場合があります。<br>
                      ※ SIMロックの解除等が必要な場合があります。
                      </p>
                    </div>
                  </dd>
                  <dt>キャンペーン特典 （楽天ポイント）</dt>
                  <dt class="<%= namespace %>_Title-sub">特典内容</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">3,000ポイントプレゼント</p>
                  </dd>
                  <dt class="<%= namespace %>_Title-sub">ポイント付与日</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">「Rakuten UN-LIMIT VII」のプラン利用開始および「Rakuten Link」の利用が確認された月の翌々月末日ごろに付与</p>
                    <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>例）7月にすべての条件を達成した場合には、その翌々月である9月末日ごろにポイント付与となります</p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>権利の譲渡はできません</p>
                  </dd>
                  <dt class="<%= namespace %>_Title-sub">ポイント有効期間</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
                    <ul class="u-Adjust_Mt-8">
                      <li class="c-Txt_Cap"><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a></li>
                      <li class="c-Txt_Cap"><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。</li>
                    </ul>
                  </dd>
                  <dt>特典適用対象外</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
                    <ul class="u-Adjust_Mt-16">
                      <li class="c-Txt_Cap"><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払期限までに行われなかった場合 ※未納・未払いが発生した場合</li>
                      <li class="c-Txt_Cap"><span>※</span>「【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼントキャンペーン」の適用回数が、おひとり様1契約1回を超える場合は対象外となります</li>
                      <li class="c-Txt_Cap"><span>※</span>楽天モバイルショップ、楽天モバイルオンライン、楽天モバイル公式 楽天市場店以外でお申し込みした場合</li>
                      <li class="c-Txt_Cap"><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
                      <li class="c-Txt_Cap"><span>※</span>「Rakuten UN-LIMIT VII」のプラン利用開始がされなかった場合<br>
                        プラン利用開始の手続き方法につきましては、<a href="<%= sitepath %>faq/detail/00001648/">こちらのSIMカード版スタートガイドまたはeSIM版スタートガイド</a>を参照ください</li>
                      <li class="c-Txt_Cap"><span>※</span>期限までに<span class="c-Txt_Emp-01">「Rakuten Link」を利用されなかった場合</span></li>
                      <li class="c-Txt_Cap"><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                      <li class="c-Txt_Cap"><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                      <li class="c-Txt_Cap"><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
                    </ul>
                  </dd>
                  <dt>注意事項</dt>
                  <dd>
                    <ul>
                      <li class="c-Txt_Cap"><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                      <li class="c-Txt_Cap"><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                      <li class="c-Txt_Cap"><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                      <li class="c-Txt_Cap"><span>※</span>記載の内容は2023年3月24日（金）時点の情報となります</li>
                    </ul>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-12" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-12"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>過去のキャンペーン</button>
          <div id="accordion-content-12" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-12" aria-hidden="true">
            <div class="<%= namespace %>-Layout_Rule u-Adjust_Mt-0">
              <div class="c-Txt_Emp-01">【毎月開催】楽天モバイルお申し込みで、楽天ペイのお支払い金額1.5％還元</div>
              <div class="u-Adjust_Mt-24">
                <dl class="c-Dl_Origin <%= namespace %>-campaign-Rule">
                  <dt>キャンペーンコード</dt>
                  <dd>
                    <p>1692</p>
                    <ul class="c-Txt_Cap u-Adjust_Mt-8">
                      <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                    </ul>
                  </dd>
                  <dt>キャンペーン期間</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">プランのお申し込み期間</p>
                    <p>- Web　2023年2月1日（水）9:00～2023年3月1日（水）8:59</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">プラン利用開始期限</p>
                    <p>2023年3月31日（金）23:59まで</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">「Rakuten Link」利用期限</p>
                    <p>2023年3月31日（金）23:59まで</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">楽天ペイアプリでのお支払い対象期間</p>
                    <p>2023年2月1日（水）0:00～2023年7月31日（月）23:59</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>お支払い金額に対するポイント付与時期の詳細は<a href="#campaign-assignment">こちら</a></li>
                    </ul>
                  </dd>
                  <dt>キャンペーン条件</dt>
                  <dd>
                    <p class="c-Txt_Emp-02">上記各項目の期間内に【1】、【2】、【3】、【4】の条件をすべて満たした楽天会員の方</p>
                    <p class="u-Adjust_Mt-8">【1】本キャンペーンの「お申し込みはこちら」ボタンより「Rakuten UN-LIMIT VII」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（1）新規お申し込み</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（2）他社からの乗り換え（MNP）でお申し込み</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（3）楽天モバイル（ドコモ回線・au回線）のメンバーズステーションにてMNP予約番号を取得し、お申し込み</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">※下記に当てはまる方はメンバーズステーション経由のプラン変更（移行）をご検討ください。</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                      <li><span>・</span>オプションサービスを引き継ぎたい場合<br>本ページからお申し込みした際、オプションサービスはすべて解約となります。</li>
                    </ul>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">【お申し込み時の注意事項】</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                      <li><span>・</span>キャンペーン特典の適用は、本ページの「お申し込みはこちら」ボタンからのお手続きが必要となります</li>
                      <li><span>・</span>お手続き中に時間超過等でセッションが切れた場合、再度本ページの「お申し込みはこちら」ボタンよりお手続きが必要になります</li>
                      <li><span>・</span>楽天モバイルお申し込み画面がメンテナンス中に申し込んだ場合は、キャンペーン特典の適用はございません。メンテナンスの終了後に改めてお申し込みください</li>
                      <li><span>・</span>楽天モバイル（ドコモ回線・au回線）をお使いのお客様が、メンバーズステーションより、プラン変更（移行）した場合、キャンペーンの適用はございません</li>
                      <li><span>・</span>お手続き完了前に、「受け取りとお支払い方法」ページのお申し込み内容にて、クーポンコードが表示されることを必ずご確認ください</li>
                    </ul>
                    <p class="u-Adjust_Mt-8">【2】「Rakuten UN-LIMIT VII」プラン利用開始</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li>【プラン利用開始日とは】<br><br>
                        <span class="<%= namespace %>-Table_Rule-bold">新規お申し込みの場合　※（1）（2）のいずれか早い方がプラン利用開始日となります</span><br>
                        （1）当社に配送完了データが通知された日<br>
                        （2）プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br><br>
                        <span class="<%= namespace %>-Table_Rule-bold">他社から乗り換え（MNP）の場合</span><br>
                        プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br><br>
                        <span class="<%= namespace %>-Table_Rule-bold">楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</span><br>
                        プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                    </ul>
                    <p class="u-Adjust_Mt-8">【3】「Rakuten Link」のご利用<br>「Rakuten UN-LIMIT VII」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
                    <p class="u-Adjust_Mt-16">【Rakuten Linkアプリご利用方法】<br>
                      Rakuten Linkページの「<a href="https://service.link.link/guide/" target="_blank" class="c-Link_Txt-inline">使い方<span class="c-Icon_New-window-l"></span></a>」をご確認ください</p>
                    <p class="u-Adjust_Mt-16">【Rakuten Link利用履歴の確認方法】<br>
                      「<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001962/#sec3" target="_blank" class="c-Link_Txt-inline">キャンペーンが適用されているか、いつポイントが付与されるか知りたい<span class="c-Icon_New-window-l"></span></a>」をご確認ください</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>電話の発信時、（0570）（0180）などの他社接続サービス、♯ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</li>
                    </ul>
                    <p class="u-Adjust_Mt-8">【4】楽天ペイアプリのコード表示・QR読み取り・セルフでお支払い</p>
                    <p class="u-Adjust_Mt-16">楽天モバイルのプランお申し込みと楽天ペイアプリでのお支払いの順序は問いません。</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>2023年2月1日（水）9:00～2023年3月1日（水）8:59に楽天モバイルを申し込みの場合、2023年2月からの楽天ペイのお支払い金額が対象。</li>
                      <li><span> </span>毎月1日～末日までの対象店舗での楽天ペイアプリご利用金額合計に対して、6カ月間1.5％分の楽天ポイント（期間限定ポイント）を付与</li>
                    </ul>
                  </dd>
                  <dt>対象店舗</dt>
                  <dd>
                    <p>楽天ペイアプリでコード表示・QR読み取り・セルフでのお支払いが利用できる店舗<br>
                      一部店舗でのご利用分はポイント付与対象外となります。詳しくは必ず<a href="https://pay.rakuten.co.jp/campaign/2020/pointprogram/rule/shop/" target="_blank" class="c-Link_Txt-inline">こちら<span class="c-Icon_New-window-l"></span></a>からご確認ください。</p>
                  </dd>
                  <dt>キャンペーン特典 （楽天ポイント）</dt>
                  <dt class="<%= namespace %>-campaign-Rule_Title-sub">特典内容</dt>
                  <dd>
                    <p>楽天ペイアプリの対象店舗でのお支払い金額の1.5％を付与</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>毎月500ポイントが上限</li>
                      <li><span>※</span>ポイントは楽天ペイアプリのお支払いに応じて最大6ヶ月間付与され、合計で最大3,000ポイントの付与となります</li>
                      <li><span>※</span>付与されるポイント数は小数点以下の切り捨てとなります</li>
                    </ul>
                  </dd>
                  <dt>ポイント付与日</dt>
                  <dd>
                    <p>キャンペーン期間に記載の期限までにキャンペーン条件【1】【2】【3】を達成した場合、2月の楽天ペイのお支払い金額の1.5％は2023年6月末日ごろに付与となります</p>
                    <p>2023年2月1日（水）9:00～2023年3月1日（水）8:59に楽天モバイルを申し込みの場合、</p>
                    <p class="c-Txt_Emp-02">2023年2月の楽天ペイのお支払い金額の1.5％の付与は、2023年6月末日頃になります<br>
                      2023年3月～7月楽天ペイのお支払い金額の1.5％は、それぞれお支払い月の4カ月後末日頃に付与となります</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</li>
                    </ul>
                  </dd>
                  <dt>ポイント有効期間</dt>
                  <dd>
                    <p>ポイント付与日を含めて6カ月</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
                      <li><span>※</span>有効期限までにポイントをご利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
                    </ul>
                  </dd>
                  <dt>特典適用対象外</dt>
                  <dd>
                    <p>以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外となります</span></p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>本ルールに記載の併用可能キャンペーンを除き、本キャンペーンより付与ポイント数やクーポン割引額が多いRakuten UN-LIMIT VII お申し込みでポイントまたはクーポンプレゼントキャンペーンが適用となった場合（複数のRakuten UN-LIMIT VII お申し込みでポイントまたはクーポンプレゼントキャンペーンの対象となった場合、付与ポイント数やクーポン割引額が一番多いキャンペーンのみが適用されます。）<br>
                       <span class="Rule-txt01"> （本キャンペーンの付与ポイント数は楽天ペイアプリの利用金額に応じて変動しますが、特典適用するキャンペーンの優先順位を決める際は、本キャンペーンの付与ポイントを一律3,000ポイントとみなします。）</span></li>
                      <li><span>※</span>本ページの「お申し込みはこちら」ボタン以外からお申し込みされた場合</li>
                      <li><span>※</span>本ページの「お申し込みはこちら」ボタンよりお手続き中に時間超過等でセッションが切れた場合</li>
                      <li><span>※</span>楽天モバイルお申し込み画面がメンテナンス中に申し込んだ場合</li>
                      <li><span>※</span>楽天モバイル（ドコモ回線・au回線）をお使いのお客様が、メンバーズステーション経由でプラン変更（移行）した場合</li>
                      <li><span>※</span>お申し込み途中で、他のお申し込みボタンからお申し込みを開始したり、ブラウザ、スマートフォンやパソコンを変えるなどして「受け取りとお支払い方法」ページのお申し込み内容で、クーポンコードが表示されていない場合<br>クーポンコードは、キャンペーンページの「クーポンコード」に記載の14桁の英数字です。</li>
                      <li><span>※</span>お申し込み途中で、クーポンを解除した場合</li>
                      <li><span>※</span>楽天モバイルにご登録の楽天ID、楽天ペイアプリにご登録の楽天IDが同一でない場合</li>
                      <li><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                      <li><span>※</span>「楽天モバイルお申し込みで、楽天ペイのお支払い金額1.5％還元キャンペーン」の適用回数が、おひとり様1契約を超える場合</li>
                      <li><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
                      <li><span>※</span>「Rakuten UN-LIMIT VII」のプラン利用開始がされなかった場合<br>-プラン利用開始の手続き方法につきましては、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/">こちら</a>のSIMカード版スタートガイドまたはeSIM版スタートガイドを参照ください</li>
                      <li><span>※</span>期限までに「Rakuten Link」を利用されなかった場合</li>
                      <li><span>※</span>下記の方法でお支払いされた場合<br>
                        -楽天ペイアプリ内の楽天ポイントカードによるお支払い分<br>
                        -楽天ペイアプリ内の楽天Edyへのチャージ分、楽天Edyによるお支払い分<br>
                        -楽天ペイアプリ内のSuicaへのチャージ分、Suicaによるお支払い分<br>
                        -ネットでの楽天ペイのお支払い<br>
                        -楽天ペイアプリ内の楽天カードタッチ決済によるお支払い分</li>
                      <li><span>※</span>楽天ペイアプリでのお支払いをキャンセルされた場合</li>
                      <li><span>※</span>ポイント付与までに楽天会員から退会している場合</li>
                      <li><span>※</span>当社、楽天ペイメント株式会社または楽天グループ株式会社が定める規約などに違反した場合</li>
                      <li><span>※</span>そのほか、当社、楽天ペイメント株式会社、または楽天グループ株式会社が会員として不適格であると判断した場合</li>
                    </ul>
                  </dd>
                  <dt>併用可能キャンペーン</dt>
                  <dd>
                    <p class="c-Txt_Emp-02">以下のキャンペーンは併用可能となります。</p>
                    <p class="u-Adjust_Mt-16">- 【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント（キャンペーンコード：1526）</p>
                  </dd>
                  <dt>注意事項</dt>
                  <dd>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap">
                      <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                      <li><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                      <li><span>・</span>楽天カード以外のJCB、American Expressのカードをお支払い元に設定した場合、一部の店舗でお支払いいただけません。</li>
                      <li><span>・</span>楽天ペイアプリに設定可能なカードは、すべての楽天カード、およびその他のVisa、Mastercard、JCB、American Expressになります。</li>
                      <li><span>　</span>それ以外のカードは、楽天会員情報に登録されていても、楽天ペイアプリのお支払い元の選択画面には表示されません。</li>
                      <li><span>・</span>楽天ペイアプリの利用登録が完了していない場合でも、楽天会員情報にご登録されているメールアドレス宛てに楽天ペイメント株式会社より本キャンペーンに関する重要なご案内をお届けすることがございます。</li>
                      <li><span>※</span>「Rakuten UN-LIMIT  VII」のプランを解約された場合も6カ月間ポイントの付与は継続されます</li>
                      <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                      <li><span>※</span>記載の内容は2023年2月1日（水）時点の情報となります</li>
                    </ul>
                  </dd>
                </dl>
              </div>
            </div>
            <div class="<%= namespace %>-Layout_Rule">
              <div class="c-Txt_Emp-01">【毎月開催】楽天モバイルお申し込みで、楽天ペイのお支払い金額1.5％還元</div>
              <div class="u-Adjust_Mt-24">
                <dl class="c-Dl_Origin <%= namespace %>-campaign-Rule">
                  <dt>キャンペーンコード</dt>
                  <dd>
                    <p>1692</p>
                    <ul class="c-Txt_Cap u-Adjust_Mt-8">
                      <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                    </ul>
                  </dd>
                  <dt>キャンペーン期間</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">プランのお申し込み期間</p>
                    <p>- Web　2023年1月6日（金）9:00～2023年2月1日（水）8:59</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">プラン利用開始期限</p>
                    <p>2023年2月28日（火）23:59まで</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">「Rakuten Link」利用期限</p>
                    <p>2023年2月28日（火）23:59まで</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">楽天ペイアプリでのお支払い対象期間</p>
                    <p>2023年1月1日（日）0:00～2023年6月30日（金）23:59</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>お支払い金額に対するポイント付与時期の詳細は<a href="#campaign-assignment">こちら</a></li>
                    </ul>
                  </dd>
                  <dt>キャンペーン条件</dt>
                  <dd>
                    <p class="c-Txt_Emp-02">上記各項目の期間内に【1】、【2】、【3】、【4】の条件をすべて満たした楽天会員の方</p>
                    <p class="u-Adjust_Mt-8">【1】本キャンペーンの「お申し込みはこちら」ボタンより「Rakuten UN-LIMIT VII」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（1）新規お申し込み</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（2）他社からの乗り換え（MNP）でお申し込み</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（3）楽天モバイル（ドコモ回線・au回線）のメンバーズステーションにてMNP予約番号を取得し、お申し込み</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">※下記に当てはまる方はメンバーズステーション経由のプラン変更（移行）をご検討ください。</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                      <li><span>・</span>最低利用期間が残っている場合<br>契約解除料が発生する可能性がございます。この情報は<a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten" target="_blank" class="c-Link_Txt-inline">メンバーズステーション<span class="c-Icon_New-window-l"></span></a>からご確認ください。</li>
                      <li><span>・</span>オプションサービスを引き継ぎたい場合<br>本ページからお申し込みした際、オプションサービスはすべて解約となります。</li>
                    </ul>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">【お申し込み時の注意事項】</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                      <li><span>・</span>キャンペーン特典の適用は、本ページの「お申し込みはこちら」ボタンからのお手続きが必要となります</li>
                      <li><span>・</span>お手続き中に時間超過等でセッションが切れた場合、再度本ページの「お申し込みはこちら」ボタンよりお手続きが必要になります</li>
                      <li><span>・</span>楽天モバイルお申し込み画面がメンテナンス中に申し込んだ場合は、キャンペーン特典の適用はございません。メンテナンスの終了後に改めてお申し込みください</li>
                      <li><span>・</span>楽天モバイル（ドコモ回線・au回線）をお使いのお客様が、メンバーズステーションより、プラン変更（移行）した場合、キャンペーンの適用はございません</li>
                      <li><span>・</span>お手続き完了前に、「受け取りとお支払い方法」ページのお申し込み内容にて、クーポンコードが表示されることを必ずご確認ください</li>
                    </ul>
                    <p class="u-Adjust_Mt-8">【2】「Rakuten UN-LIMIT VII」プラン利用開始</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li>【プラン利用開始日とは】<br><br>
                        <span class="<%= namespace %>-Table_Rule-bold">新規お申し込みの場合　※（1）（2）のいずれか早い方がプラン利用開始日となります</span><br>
                        （1）当社に配送完了データが通知された日<br>
                        （2）プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br><br>
                        <span class="<%= namespace %>-Table_Rule-bold">他社から乗り換え（MNP）の場合</span><br>
                        プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br><br>
                        <span class="<%= namespace %>-Table_Rule-bold">楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</span><br>
                        プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                    </ul>
                    <p class="u-Adjust_Mt-8">【3】「Rakuten Link」のご利用<br>「Rakuten UN-LIMIT VII」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
                    <p class="u-Adjust_Mt-16">【Rakuten Linkアプリご利用方法】<br>
                      Rakuten Linkページの「<a href="https://service.link.link/guide/" target="_blank" class="c-Link_Txt-inline">使い方<span class="c-Icon_New-window-l"></span></a>」をご確認ください</p>
                    <p class="u-Adjust_Mt-16">【Rakuten Link利用履歴の確認方法】<br>
                      「<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001962/#sec3" target="_blank" class="c-Link_Txt-inline">キャンペーンが適用されているか、いつポイントが付与されるか知りたい<span class="c-Icon_New-window-l"></span></a>」をご確認ください</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>電話の発信時、（0570）（0180）などの他社接続サービス、♯ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</li>
                    </ul>
                    <p class="u-Adjust_Mt-8">【4】楽天ペイアプリのコード表示・QR読み取り・セルフでお支払い</p>
                    <p class="u-Adjust_Mt-16">楽天モバイルのプランお申し込みと楽天ペイアプリでのお支払いの順序は問いません。</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>2023年1月6日（金）9:00～2023年2月1日（水）8:59に楽天モバイルを申し込みの場合、2023年1月の楽天ペイのお支払い金額が対象。</li>
                      <li><span> </span>毎月1日～末日までの対象店舗での楽天ペイアプリご利用金額合計に対して、6カ月間1.5％分の楽天ポイント（期間限定ポイント）を付与</li>
                    </ul>
                  </dd>
                  <dt>対象店舗</dt>
                  <dd>
                    <p>楽天ペイアプリでコード表示・QR読み取り・セルフでのお支払いが利用できる店舗<br>
                      一部店舗でのご利用分はポイント付与対象外となります。詳しくは必ず<a href="https://pay.rakuten.co.jp/campaign/2020/pointprogram/rule/shop/" target="_blank" class="c-Link_Txt-inline">こちら<span class="c-Icon_New-window-l"></span></a>からご確認ください。</p>
                  </dd>
                  <dt>キャンペーン特典 （楽天ポイント）</dt>
                  <dt class="<%= namespace %>-campaign-Rule_Title-sub">特典内容</dt>
                  <dd>
                    <p>楽天ペイアプリの対象店舗でのお支払い金額の1.5％分を付与</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>毎月500ポイントが上限</li>
                      <li><span>※</span>ポイントは楽天ペイアプリのお支払いに応じて最大6ヶ月間付与され、合計で最大3,000ポイントの付与となります</li>
                      <li><span>※</span>付与されるポイント数は小数点以下の切り捨てとなります</li>
                    </ul>
                  </dd>
                  <dt>ポイント付与日</dt>
                  <dd>
                    <p>キャンペーン期間に記載の期限までにキャンペーン条件【1】【2】【3】を達成した場合、1月の楽天ペイのお支払い金額の1.5％は2023年5月後末日ごろに付与となります</p>
                    <p>2023年1月6日（金）9:00～2023年2月1日（水）8:59に楽天モバイルを申し込みの場合、</p>
                    <p class="c-Txt_Emp-02">2023年1月の楽天ペイのお支払い金額の1.5％分の付与は、2023年5月末頃になります<br>
                      2023年2月～6月楽天ペイのお支払金額の1.5％は、それぞれお支払い月の4カ月後末日頃に付与となります</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</li>
                    </ul>
                  </dd>
                  <dt>ポイント有効期間</dt>
                  <dd>
                    <p>ポイント付与日を含めて6カ月</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
                      <li><span>※</span>有効期限までにポイントをご利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
                    </ul>
                  </dd>
                  <dt>特典適用対象外</dt>
                  <dd>
                    <p>以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外となります</span></p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>本ルールに記載の併用可能キャンペーンを除き、本キャンペーンより付与ポイント数やクーポン割引額が多いRakuten UN-LIMIT VII お申し込みでポイントまたはクーポンプレゼントキャンペーンが適用となった場合（複数のRakuten UN-LIMIT VII お申し込みでポイントまたはクーポンプレゼントキャンペーンの対象となった場合、付与ポイント数やクーポン割引額が一番多いキャンペーンのみが適用されます。）​<br>
                       <span class="Rule-txt01"> （本キャンペーンの付与ポイント数は楽天ペイアプリの利用金額に応じて変動しますが、特典適用するキャンペーンの優先順位を決める際は、本キャンペーンの付与ポイントを一律3,000ポイントとみなします。）</span></li>
                      <li><span>※</span>本ページの「お申し込みはこちら」ボタン以外からお申し込みされた場合</li>
                      <li><span>※</span>本ページの「お申し込みはこちら」ボタンよりお手続き中に時間超過等でセッションが切れた場合</li>
                      <li><span>※</span>楽天モバイルお申し込み画面がメンテナンス中に申し込んだ場合</li>
                      <li><span>※</span>楽天モバイル（ドコモ回線・au回線）をお使いのお客様が、メンバーズステーション経由でプラン変更（移行）した場合</li>
                      <li><span>※</span>お申し込み途中で、他のお申し込みボタンからお申し込みを開始したり、ブラウザ、スマートフォンやパソコンを変えるなどして「受け取りとお支払い方法」ページのお申し込み内容で、クーポンコードが表示されていない場合<br>クーポンコードは、キャンペーンページの「クーポンコード」に記載の14桁の英数字です。</li>
                      <li><span>※</span>お申し込み途中で、クーポンを解除した場合</li>
                      <li><span>※</span>楽天モバイルにご登録の楽天ID、楽天ペイアプリにご登録の楽天IDが同一でない場合</li>
                      <li><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                      <li><span>※</span>「楽天モバイルお申し込みで、楽天ペイのお支払い金額1.5％還元キャンペーン」の適用回数が、おひとり様1契約を超える場合</li>
                      <li><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
                      <li><span>※</span>「Rakuten UN-LIMIT VII」のプラン利用開始がされなかった場合<br>-プラン利用開始の手続き方法につきましては、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/">こちら</a>のSIMカード版スタートガイドまたはeSIM版スタートガイドを参照ください</li>
                      <li><span>※</span>期限までに「Rakuten Link」を利用されなかった場合</li>
                      <li><span>※</span>下記の方法でお支払いされた場合<br>
                        -楽天ペイアプリ内の楽天ポイントカードによるお支払い分<br>
                        -楽天ペイアプリ内の楽天Edyへのチャージ分、楽天Edyによるお支払い分<br>
                        -楽天ペイアプリ内のSuicaへのチャージ分、Suicaによるお支払い分<br>
                        -ネットでの楽天ペイのお支払い<br>
                        -楽天ペイアプリ内の楽天カードタッチ決済によるお支払い分</li>
                      <li><span>※</span>楽天ペイアプリでのお支払いをキャンセルされた場合</li>
                      <li><span>※</span>ポイント付与までに楽天会員から退会している場合</li>
                      <li><span>※</span>当社、楽天ペイメント株式会社または楽天グループ株式会社が定める規約などに違反した場合</li>
                      <li><span>※</span>そのほか、当社、楽天ペイメント株式会社、または楽天グループ株式会社が会員として不適格であると判断した場合</li>
                    </ul>
                  </dd>
                  <dt>併用可能キャンペーン</dt>
                  <dd>
                    <p class="c-Txt_Emp-02">以下のキャンペーンは併用可能となります。</p>
                    <p class="u-Adjust_Mt-16">- 【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント（キャンペーンコード：1526）</p>
                  </dd>
                  <dt>注意事項</dt>
                  <dd>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap">
                      <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                      <li><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                      <li><span>・</span>楽天カード以外のJCB、American Expressのカードをお支払い元に設定した場合、一部の店舗でお支払いいただけません。</li>
                      <li><span>・</span>楽天ペイアプリに設定可能なカードは、すべての楽天カード、およびその他のVisa、Mastercard、JCB、American Expressになります。</li>
                      <li><span>　</span>それ以外のカードは、楽天会員情報に登録されていても、楽天ペイアプリのお支払い元の選択画面には表示されません。</li>
                      <li><span>・</span>楽天ペイアプリの利用登録が完了していない場合でも、楽天会員情報にご登録されているメールアドレス宛てに楽天ペイメント株式会社より本キャンペーンに関する重要なご案内をお届けすることがございます。</li>
                      <li><span>※</span>「Rakuten UN-LIMIT  VII」のプランを解約された場合も6カ月間ポイントの付与は継続されます</li>
                      <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                      <li><span>※</span>記載の内容は2023年1月6日（金）時点の情報となります</li>
                    </ul>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div class="u-Adjust_Mt-40">
        <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
      </div>
    </div>

  <% if (information.campaignState == 'finish') { %>
    <footer class="g-Footer <%= namespace %>-Layout_Footer Fin">
  <% } else { %>
    <!-- else -->
    <div id="js-fixed-btn" class="<%= namespace %>-Layout_Bottom-fixed" aria-expanded="true" role="region">

      <!-- else -->
      <p class="<%= namespace %>-Layout_Bottom-fixed-txt"><span class="txt-nl"><a href="#campaign-caution" class="js-scroll">お申し込み時の注意点</a>を必ずご確認ください。</span></p>

      <div class="<%= namespace %>-Layout_Bottom-fixed-inner">
        <a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=PAYREG00000002&l-id=campaign_pay_f_coupon_link" class="c-Btn_Primary-large <%= namespace %>-Layout_Bottom-fixed-btn">お申し込みはこちら</a>
      </div>
      <p class="<%= namespace %>-Layout_Bottom-fixed-txt">楽天モバイル（ドコモ回線・au回線）をご利用中のお客様は<span class="accordion1_opan js-ac js-ac-members">こちら</span>をご確認ください。</p>
    </div>
    <footer class="g-Footer <%= namespace %>-Layout_Footer">
  <% } %>
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
  <script>
    (function($){
        const trigger = document.getElementById('js-trigger');
        const fixedBtn = document.getElementById('js-fixed-btn');
        function fixedBottomBtn() {
            let scrollY = window.pageYOffset;
            const triggerRect = trigger.getBoundingClientRect();
            const triggerY = scrollY + triggerRect.top;

            if ( scrollY + window.innerHeight > triggerY ) {
                fixedBtn.setAttribute('aria-expanded', 'true');
            } else {
                fixedBtn.setAttribute('aria-expanded', 'false');
            }
        }
        if( fixedBtn && trigger ) {
            window.addEventListener('scroll', fixedBottomBtn);
        }
    })();
  </script>
  <script>
    (function($){
        $(function(){
            $('.accordion1_opan').on('click', function(){
              $('#accordion-1').attr('aria-expanded', 'true');
              $('#accordion-content-1').attr('aria-hidden', 'false');
              $('#accordion-content-1').slideDown(200);
            });
            $('.accordion10_opan').on('click', function(){
              $('#accordion-10').attr('aria-expanded', 'true');
              $('#accordion-content-10').attr('aria-hidden', 'false');
              $('#accordion-content-10').slideDown(200);
            });
            $('.accordion11_opan').on('click', function(){
              $('#accordion-11').attr('aria-expanded', 'true');
              $('#accordion-content-11').attr('aria-hidden', 'false');
              $('#accordion-content-11').slideDown(200);
            });
            $('.js-ac-rule01').on('click',function() {
              var n = window.location.href.slice(window.location.href.indexOf('?') + 4);
              var p = $("#campaign-rule").offset().top;
              $('html,body').animate({ scrollTop: p }, 'slow');
              return false;
            });
            $('.js-ac-rule02').on('click',function() {
              var n = window.location.href.slice(window.location.href.indexOf('?') + 4);
              var p = $("#campaign-rule02").offset().top;
              $('html,body').animate({ scrollTop: p }, 'slow');
              return false;
            });
            $('.js-ac-rule03').on('click',function() {
              var n = window.location.href.slice(window.location.href.indexOf('?') + 4);
              var p = $("#campaign-rule-plan").offset().top;
              $('html,body').animate({ scrollTop: p }, 'slow');
              return false;
            });
            $('.js-ac-members').on('click',function() {
              var n = window.location.href.slice(window.location.href.indexOf('?') + 4);
              var p = $("#members").offset().top;
              $('html,body').animate({ scrollTop: p }, 'slow');
              return false;
            });
        });
    })(jQuery);
  </script>
  <!-- ReX UX Survey: Config -->
  <script>
    window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
  </script>

  <!-- ReX UX Survey: Script -->
  <script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>
<!-- ReX Campaign Entry Button: Script -->
<script src="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/4.0.0/static/js/main.js" defer></script>
</body>
</html>
