<% const pagetitle = "初期設定方法（Rakuten BIG）" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/rakuten/", label:"Rakutenオリジナル"}, {path:"product/smartphone/rakuten-big/", label:"Rakuten BIG"}, {path:"product/smartphone/rakuten-big/support/", label:"Rakuten BIGサポート情報"}] -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Rakuten BIGの初期設定方法をご案内します',
    noindex: false,
    pathname: 'product/smartphone/rakuten-big/support/setting/'
  });
%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/smartphone/rakuten-big/rakuten-big.css?20240424">
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>

  <div class="l-System">

    <%- include('/include/_header') %>

    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>

    <div class="u-Adjust_Pb-64">
      <div class="l-System_Container u-Adjust_Mt-32">
        <h1 class="c-Heading_Lv1">初期設定方法（Rakuten BIG）</h1>

        <p class="u-Adjust_Mt-24">以下の手順に沿って、設定を行ってください。</p>
        <p><span class="c-Txt_Emp-02">Wi-Fi環境</span>での設定を推奨します。</p>
        <p>他社からの電話番号乗り換え（MNP）の方は、初期設定の前にMNP開通手続きを行ってください。</p>
        <ul class="u-Adjust_Mt-32">
          <li><a href="<%= sitepath %>guide/mnp/flow/" class="c-Btn_Regular"><span>MNP開通手続きの詳細はこちら</span></a>
          </li>
        </ul>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">動画でかんたん初期設定</h2>

        <div class="rakuten-big-Layout_Video-pc u-Adjust_Mt-40">
          <!-- ::: PIP-Maker Start ::: -->
          <script type="text/javascript" src="https://www.pip-maker.com/js/pipmaker.js"></script>
          <div id="pipmakernkn5"><noscript>For viewing this content please enable the JavaScript.</noscript></div>
          <script type="text/javascript">
            pipmaker.priority = ["WebGL", "Flash", "HTML5"];
            pipmaker.embed("//www.pip-maker.com/?view=nkn5", "pipmakernkn5", 800, 450);

          </script>
          <!-- ::: PIP-Maker End ::: -->
        </div>
        <div class="rakuten-big-Layout_Video-sp u-Adjust_Mt-32">
          <!-- ::: PIP-Maker Start ::: -->
          <script type="text/javascript" src="https://www.pip-maker.com/js/pipmaker.js"></script>
          <div id="pipmakernkn5sp"><noscript>For viewing this content please enable the JavaScript.</noscript></div>
          <script type="text/javascript">
            pipmaker.priority = ["WebGL", "Flash", "HTML5"];
            pipmaker.embed("//www.pip-maker.com/?view=nkn5", "pipmakernkn5sp", 320, 180);

          </script>
          <!-- ::: PIP-Maker End ::: -->
        </div>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">STEP1.セットアップ手順</h2>
        <ol class="c-Flow">
          <li>
            <h4 class="c-Heading_Lv4">1. 電源を入れ、言語を選択し、「開始」をタップしてください。</h4>
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/setting/main-image-01.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">2. 利用するWi-Fiネットワークを選択し、Wi-Fiに接続してください。</h4>
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/setting/main-image-02.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">3. アップデートを確認中の画面が表示されます。<br>
              画面表示が切り替わるまでそのままお待ちください。</h4>
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/setting/main-image-03.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">4. アプリとデータのコピー画面が表示されます。<br>
              データ移行を行う場合は、「次へ」をタップしてください。</h4>
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/setting/main-image-04.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
            <p class="u-Adjust_Mt-24">コピーしない場合は「コピーしない」をタップし、「6」へお進みください。</p>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">5. データの引き継ぎ画面が表示されます。<br>
              案内に従って設定を行ってください。</h4>
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/setting/main-image-05.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">6. 以下の画面が表示されます。<br>
              画面表示が切り替わるまでそのままお待ちください。</h4>
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/setting/main-image-06.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">7. 画面の指示に従って、Googleアカウント設定、Googleサービスの同意をしてください。</h4>
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/setting/main-image-07.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">8. Googleサービスの内容を、スクロールで最後までご確認いただき、同意するボタンをタップしてください。</h4>
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/setting/main-image-08.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/setting/main-image-08-2.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">9. 画面ロックの設定画面が表示されます。「指紋＋PIN」をタップして設定へ進みます。</h4>
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/setting/main-image-09.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">10. PINコードを入力して設定します。</h4>
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/setting/main-image-10.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">11. 続いて指紋を登録します。</h4>
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/setting/main-image-11.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">12. Google アシスタントで音声の登録を行います。</h4>
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/setting/main-image-12.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">13. 「同意する」をタップします。</h4>
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/setting/main-image-13.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">14. 以下の画面が表示されます。<br>
              画面表示が切り替わるまでそのままお待ちください。</h4>
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/setting/main-image-14.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">15. 「eSIMの設定画面が表示されます。「アプリを開く」をタップしてください。</h4>
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/setting/main-image-15.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">16. アプリが起動します。</h4>
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/setting/main-image-16.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">17. my 楽天モバイルの「端末の位置情報へのアクセス」と「電話の発信と管理」をそれぞれ「許可」してください。</h4>
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/setting/main-image-17.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">18. my 楽天モバイル最新バージョンのアップデートへ自動で切り替わります。<br>
              インストールが完了したら「開く」をタップしてください。</h4>
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/setting/main-image-18.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
          </li>
        </ol>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">STEP2.初期設定手順</h2>

        <ol class="c-Flow">
          <li>
            <h4 class="c-Heading_Lv4">1. ホーム画面でピンク枠のボタンを長押ししてください。</h4>
            <ul class="c-Txt_Cap u-Adjust_Mt-16">
              <li class="c-Txt_Emp-02"><span>※</span>スーパーホーダイ・組み合わせプランから移行の場合および 「AIかんたん本人確認（eKYC）」か、「楽天グループに提出済みの書類で確認」の本人確認方法でお申し込みされている方は、1〜3の手順は不要です。4にお進みください。</li>
            </ul>
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/setting/main-image-19.png?200930" width="300" height="" alt="" class="c-Img_Capture"></figure>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">2. ピンク枠の部分をタップすると、Googleレンズが起動します。</h4>
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/setting/main-image-20.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">3. Googleレンズが起動したら、製品と一緒にお送りしている「START GUIDE」の裏面に記載のある、QRコードをシャッターボタンを押して読み取ってください。URLが表示されたらタップしてください。</h4>
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/setting/main-image-21.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">4. 楽天会員ログイン画面が表示されます。<br>
              ユーザーID/パスワードを入力して「ログイン」をタップしてください。</h4>
            <ul class="c-Txt_Cap u-Adjust_Mt-16">
              <li class="c-Txt_Emp-02"><span>※</span>「AIかんたん本人確認（eKYC）」か、「楽天グループに提出済みの書類で確認」の本人確認方法でお申し込みされている方は、「my 楽天モバイル」アプリを起動し、ログインをして次へお進みください。</li>
            </ul>

            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/setting/main-image-23.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">5. my 楽天モバイルアプリが起動し、ホーム画面が表示されます。<br>
              「申込番号」をタップしてください。</h4>
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/setting/main-image-24.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
            <p class="u-Adjust_Mt-24">次のステップへお進みください。</p>
          </li>
        </ol>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">STEP3.楽天回線手続き手順</h2>
        <p class="u-Adjust_Mt-24">お申し込み方法によって、次の手順が異なります。</p>

        <div class="u-Adjust_Mt-48">
          <div class="c-Accordion">
            <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>新規電話番号でお申し込みの方</button>
            <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true" style="display: none;">
              <div>
                <ol class="c-Flow u-Adjust_Mt-0">
                  <li>
                    <h4 class="c-Heading_Lv4">1. 申込番号の画面が表示されます。<br>
                      「開通手続きをする」ボタンをタップしてください。</h4>
                    <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/setting/main-image-41.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
                  </li>
                  <li>
                    <h4 class="c-Heading_Lv4">2. ポップアップが表示されます。「OK」をタップしてください。</h4>
                    <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/setting/main-image-42.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
                  </li>
                  <li>
                    <h4 class="c-Heading_Lv4">3. 画面が切り替わるまでそのままでお待ちいただくと、「開通手続きが完了しました」と表示されます。</h4>
                    <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/setting/main-image-43.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
                  </li>
                  <li>
                    <h4 class="c-Heading_Lv4">4. しばらく待って、アンテナマークが表示されたら完了です。</h4>
                    <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/setting/main-image-44.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
                  </li>
                </ol>

                <div class="c-Theme-Light u-Adjust_Mt-32">
                  <h3 class="c-Heading_Lv3">インターネットに接続されているか、ご確認ください。</h3>
                  <p class="u-Adjust_Mt-16">しばらくお待ちいただくと、インターネットがご利用いただけます。<br>
                    Wi-FiをOFFにし、ブラウザアプリなどをご利用いただき、Webページが表示されるかご確認ください。<br>
                    Webページが表示されない場合は、屋外など電波状況の良い場所まで移動をお願いします。また、スマートフォンの再起動、機内モードやモバイルデータ通信のON/OFFをお試しください。</p>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイル（ドコモ回線・au回線）から移行の方／他社から乗り換え（MNP）の方</button>
            <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true" style="display: none;">
              <div>
                <div class="c-Theme-Light">
                  <p class="c-Txt_Emp-02">STEP2を行わずにMNP転入を行うと、転入完了後、楽天回線の開通手続きに進めない場合があります。必ず行ってから、以下のステップへお進みください。</p>
                </div>

                <div class="c-Theme-Borderbox u-Adjust_Mt-32">
                  <h3 class="c-Heading_Lv3">次のステップへ進む前に</h3>
                  <p class="u-Adjust_Mt-16">「楽天回線への転入/移行手続き」のお手続きは、受付時間によって転入完了時間が異なります。<br>
                    お手続きの前に以下をご確認ください。</p>

                  <div class="c-Theme-Light u-Adjust_Mt-32">
                    <p class="c-Txt_Emp-02">受付時間9:00～21:00の場合</p>
                    <p class="u-Adjust_Mt-16">- 当日中にMNP転入完了</p>
                    <ul class="c-Txt_Cap u-Adjust_Mt-16">
                      <li><span>※</span>受付受付10分～30分程度で完了</li>
                    </ul>

                    <p class="u-Adjust_Mt-40 c-Txt_Emp-02">受付時間21:01～翌日8:59の場合</p>
                    <p class="u-Adjust_Mt-16">- 翌日9:00以降MNP転入完了</p>
                  </div>
                </div>

                <ul class="c-Txt_Cap u-Adjust_Mt-32">
                  <li><span>※</span>MNP予約番号の有効期限日近くになると自動的にMNP転入手続きを行います。</li>
                  <li><span>※</span>転入が完了すると、現在の回線はご利用できなくなります。</li>
                </ul>

                <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">楽天回線への転入/移行手続き</h3>
                <ol class="c-Flow">
                  <li>
                    <h4 class="c-Heading_Lv4">1. 申込番号の画面が表示されます。<br>
                      「転入を開始する」ボタンをタップしてください。</h4>
                    <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/setting/main-image-51.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
                    <p class="u-Adjust_Mt-24">ご利用していたスマートフォン（携帯電話）が通話不可になれば、転入手続きは完了です。<br>
                      ご契約時に登録したメールアドレスに「MNP開通手続き完了メール」が送られます。</p>
                  </li>
                  <li>
                    <h4 class="c-Heading_Lv4">2. MNP転入完了後、「my 楽天モバイル」のホーム画面の「申込番号」を再度タップしてください。</h4>
                    <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/setting/main-image-52.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
                    <p class="u-Adjust_Mt-24">MNP転入完了までに時間がかかる場合があります。</p>
                    <div class="c-Theme-Light u-Adjust_Mt-32">
                      <p class="c-Txt_Emp-02">受付時間9:00～21:00の場合</p>
                      <p class="u-Adjust_Mt-16">- 当日中にMNP転入完了</p>
                      <ul class="c-Txt_Cap u-Adjust_Mt-16">
                        <li><span>※</span>受付受付10分～30分程度で完了</li>
                      </ul>

                      <p class="u-Adjust_Mt-40 c-Txt_Emp-02">受付時間21:01～翌日8:59の場合</p>
                      <p class="u-Adjust_Mt-16">- 翌日9:00以降MNP転入完了</p>
                    </div>
                  </li>
                </ol>


                <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">楽天回線の開通手続き</h3>
                <ol class="c-Flow">
                  <li>
                    <h4 class="c-Heading_Lv4">3. 申込番号の画面が表示されます。<br>
                      「開通手続きをする」ボタンをタップしてください。</h4>
                    <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/setting/main-image-41.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
                  </li>
                  <li>
                    <h4 class="c-Heading_Lv4">4. ポップアップが表示されます。「OK」をタップしてください。</h4>
                    <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/setting/main-image-42.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
                  </li>
                  <li>
                    <h4 class="c-Heading_Lv4">5. 画面が切り替わるまでそのままでお待ちいただくと、「開通手続きが完了しました」と表示されます。</h4>
                    <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/setting/main-image-43.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
                  </li>
                  <li>
                    <h4 class="c-Heading_Lv4">6. しばらく待って、アンテナマークが表示されたら完了です。</h4>
                    <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/setting/main-image-44.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
                  </li>
                </ol>

                <div class="c-Theme-Light u-Adjust_Mt-32">
                  <h3 class="c-Heading_Lv3">インターネットに接続されているか、ご確認ください。</h3>
                  <p class="u-Adjust_Mt-16">しばらくお待ちいただくと、インターネットがご利用いただけます。<br>
                    Wi-FiをOFFにし、ブラウザアプリなどをご利用いただき、Webページが表示されるかご確認ください。<br>
                    Webページが表示されない場合は、屋外など電波状況の良い場所まで移動をお願いします。また、スマートフォンの再起動、機内モードやモバイルデータ通信のON/OFFをお試しください。</p>
                </div>
              </div>
            </div>
          </div>
          <h3 class="c-Heading_Lv3 u-Adjust_Mt-32">アプリのインストール</h3>
          <p class="u-Adjust_Mt-16">楽天モバイルを便利にご利用いただくためのアプリをインストールしてください。</p>

          <div class="c-Box_App u-Adjust_Mt-24">
            <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rakuten-link.png" alt="Rakuten Link"></div>
            <div class="c-Box_App-txt">
              <p class="c-Box_App-ttl">Rakuten Link</p>
              <p class="u-Adjust_Mt-16">通話、メッセージ、SMSが無料でつかえる。</p>
              <ul class="c-Box_App-link u-Adjust_Mt-16">
                <li><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.rcs" target="_blank" class="c-Banner_Hover-act"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" height="44" alt=""></a></li>
                <li><a href="<%= sitepath %>service/rakuten-link/" class="c-Btn_Regular">詳細を見る</a></li>
              </ul>
              <p class="u-Adjust_Mt-16 c-Txt_Cap">※国内への通話および国内と海外の対象国と地域へのSMSが無料<br>
                ※他社接続サービス、一部特番は対象外</p>
            </div>
          </div>
        </div>

        <div class="u-Adjust_Pt-48">
          <div class="u-Adjust_Mt-16"><a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップにもどる</span></a></div>
          <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a></div>
        </div>

      </div>
    </div>


    <footer class="g-Footer">

      <div class="g-Footer_Aside">

        <%- include('/include/footer/related/_related-product-v2.ejs') %>

        <%- include('/include/footer/bnr/_bnr.ejs') %>

        <%#- include('/faq/include/related-product.ejs') %>

      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>

      <%- include('/include/_footer') %>

    </footer>

  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
</body>

</html>
