<% const namespace = "free-entry" -%>

<div class="riCheckEntryMulti checkEntryMulti-event u-Adjust_Mt-16 u-Adjust_Mb-24" require_check="0" campaignids="89338" campaigncode="rmobile/free/210318">
  <form class="riCheckEntryMulti__noLoginForm js-form-entry" action="">
      <!--未ログイン・JSオフ-->
      <div class="riCheckEntryMulti__noLoginButton">
        <button class="<%= namespace %>-Btn_Primary c-Btn_Primary" aria-disabled="true">エントリーは終了しました</button>
      </div>
      <!--/未ログイン・JSオフ-->
      <!--未エントリー-->
      <div class="riCheckEntryMulti__entryButton">
        <a class="riCheckEntryMulti__entryLink <%= namespace %>-Btn_Primary c-Btn_Primary js-check-entry-href" href="" aria-disabled="true">エントリーは終了しました</a>
      </div>
      <!--/未エントリー-->
      <!--エントリー完了-->
      <div class="riCheckEntryMulti__registeredButton"><div class="c-Btn_Primary <%= namespace %>-Btn_Primary <%= namespace %>-Btn_Primary-done" aria-disabled="true">エントリーが完了しました</div></div>
      <!--/エントリー完了-->

      <!--エントリー済み-->
      <div class="riCheckEntryMulti__enteredButton"><div class="c-Btn_Primary <%= namespace %>-Btn_Primary <%= namespace %>-Btn_Primary-done" aria-disabled="true">エントリー済みです</div></div>
      <div class="riCheckEntryMulti__enteredMessage"></div>
      <!--/エントリー済み-->
  </form>
</div>
