<% const pagetitle = "プラン料金1年無料キャンペーン・エントリー受付ページ" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "free-entry" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  description: '現在、こちらのページにて「プラン料金1年無料キャンペーン」のエントリーを受け付けておりますので、本キャンペーンの適用をご希望のお客様は、事前エントリーをしてください。',
  keywords: '',
  noindex: true,
  pathname: filepath
});
%>
<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/free-entry/free-entry.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>

    <div class="<%= namespace %>-Hero_Return">
      <div class="l-System_Container <%= namespace %>-Hero_Container">
        <div class="<%= namespace %>-Hero_Main">
          <h1><img src="<%= sitepath %>assets/img/campaign/free-entry/img-heading-pc.png?210401" alt="" class="<%= namespace %>-Utility_Img-pc"><img src="<%= sitepath %>assets/img/campaign/free-entry/img-heading-sp.png?210401" alt="" class="<%= namespace %>-Utility_Img-sp"></h1>
        </div>
      </div>
    </div>
    <div class="<%= namespace %>-Hero_Term">
      <p>エントリー期間：2021年3月29日(月) 9:00 ～ 2021年4月8日(木) 1:59まで</p>
      <p class="u-Adjust_Mt-8">Rakuten UN-LIMIT VIお申し込み期限：2021年4月30日(金) 23:59まで</p>
      <p class="u-Adjust_Mt-8">Rakuten UN-LIMIT VIプラン利用開始期限：2021年5月31日(月) 23:59まで</p>
    </div>

    <div class="<%= namespace %>-Layout_Body">
      <div class="l-System_Container">
        <p class="<%= namespace %>-Layout_Body-lead">※プラン料金最大2,980円/月（税込3,278円）、お1人様1回線1度のみ1年無料。製品代、オプション料、通話料等は別費用</p>
        <div class="c-Infobox_Standing-alert <%= namespace %>-Block_Infobox u-Adjust_Mt-24">
          <p class="<%= namespace %>-Block_Infobox-lead">こちらで「プラン料金1年無料キャンペーン」のエントリーを受け付けております</p>
          <p class="u-Adjust_Mt-16">Rakuten UN-LIMIT VIに大変多くのお申し込みをいただき、誠にありがとうございます。<br>ただいまアクセスが集中しており、Rakuten UN-LIMIT VIをお申し込みいただけない状態です。</p>
          <p class="u-Adjust_Mt-16">現在、こちらのページにて「プラン料金1年無料キャンペーン」のエントリーを受け付けておりますので、<br class="<%= namespace %>-Utility_Br-pc">本キャンペーンの適用をご希望のお客様は、下のボタンより事前エントリーをしてください。</p>
          <p class="c-Txt_Emp-02 c-Txt_Cap u-Adjust_Mt-8">※エントリーだけでは「プラン料金1年無料キャンペーン」は適用されません。エントリー＆お申し込みの流れをご参照ください。<br>※最初にお申し込みいただいた1回線目に適用となり、2回線目以降には適用されません。</p>
        </div>

        <div class="u-Adjust_Mt-40">
        </div>

          <%- include('/campaign/free-entry/_campaign-entry-style') %>
          <%- include('/campaign/free-entry/_campaign-entry') %>
          <div class="u-Adjust_Align-center">
            <div class="user-friendly-campaign-entry-form-message u-Adjust_Mt-16">
              <p class="<%= namespace %>-Utility_form-message">※期間中にエントリーいただいたお客様には、後日、弊社よりお申し込みのご案内をメールにてお送りいたします</p>
            </div>
          </div>

          <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-40 u-Adjust_Align-center">
            <li><a href="#campaign-rule" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルール</a></li>
          </ul>

        </div>

        <div class="l-System_Container">
          <h2 class="c-Heading_Lv2 u-Adjust_Mt-56" id="campaign-flow">エントリー＆お申し込みの流れ</h2>
          <ul class="<%= namespace %>-Flow_List">
            <li>
              <h3 class="c-Heading_Lv3 u-Adjust_Mt-8 u-Adjust_Mb-16">1. プラン料金1年無料キャンペーンへのエントリー</h3>
              <div class="l-Media_Grid-reverse <%= namespace %>-Flow_List-in">
                <div>
                  <p>下のボタンを押してキャンペーンにエントリーをしてください。<br>エントリーされたお客様は「プラン料金1年無料キャンペーン」の適用対象となりますので、次の手順に沿ってお申し込みを完了してください。</p>
                  <p class="c-Txt_Emp-02 u-Adjust_Mt-16 c-Txt_Cap">※特典はおひとり様、1度のみ、最初にお申し込みいただいた1回線目に適用となります。<br>※エントリーだけではRakuten UN-LIMIT VIのお申し込みは完了しません。必ず、以降の手順に従ってお申し込み手続きを進めてください。</p>
                  <%- include('/campaign/free-entry/_campaign-entry') %>
                </div>
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/free-entry/img-flow01.png" alt="">
                </div>
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3 u-Adjust_Mt-8 u-Adjust_Mb-16">2. お申し込み案内メールの受領・確認</h3>
              <div class="l-Media_Grid-reverse <%= namespace %>-Flow_List-in">
                <div>
                  <p>このページでエントリーをされたお客様に対して、後日、弊社より<br>Rakuten UN-LIMIT VIのお申し込みのご案内メールをお送りします。</p>
                  <p class="c-Txt_Emp-02 u-Adjust_Mt-16 c-Txt_Cap">※楽天会員情報としてご登録済みのメールアドレス宛にお送りします。</p>
                </div>
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/free-entry/img-flow02.png" alt="">
                </div>
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3 u-Adjust_Mt-8 u-Adjust_Mb-16">3. Rakuten UN-LIMIT VIのお申し込み</h3>
              <div class="l-Media_Grid-reverse <%= namespace %>-Flow_List-in">
                <div>
                  <p>ご案内メールに記載の手順に沿って、2021年4月30日(金) 23:59までにお申し込みを完了してください。</p>
                  <p class="c-Txt_Emp-02 u-Adjust_Mt-16 c-Txt_Cap">※お申し込み期限を過ぎますと「プラン料金1年無料キャンペーン」の適用対象外となりますので、ご注意ください。</p>
                </div>
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/free-entry/img-flow03.png" alt="">
                </div>
              </div>
            </li>
          </ul>

        </div>

        <div class="<%= namespace %>-Layout_Rule l-System_Container">
          <h2 id="campaign-rule" class="u-Adjust_Align-left">【「Rakuten UN-LIMIT V」または「Rakuten UN-LIMIT VI」お申し込みキャンペーン】プラン料金1年間無料 ルール</h2>
          <div class="c-Table_Wrap u-Adjust_Mt-24">
            <table class="c-Table_Container <%= namespace %>-Table_Rule">
              <colgroup>
                <col>
                <col>
              </colgroup>
              <tbody>
                <tr>
                  <th>キャンペーンコード</th>
                  <td>
                    <p>1224</p>
                    <ul class="c-List_Cap">
                      <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th>お申し込み・プラン利用開始期間</th>
                  <td>
                    <p class="c-Txt_Emp-02">■エントリー期間<br>
[Web]2021年3月29日(月) 9:00 ～ 2021年4月8日(木) 1:59<br>
[店舗（楽天モバイルショップ）]2021年4月2日(金) 開店～2021年4月7日(水) 閉店<br>
<br>
■本ページにてエントリーいただいた方のお申し込み期間<br>
2021年3月29日（月）9:00 ～2021年4月30日（金）23:59</p>
<ul class="c-List_Cap u-Adjust_Mt-8">
  <li><span>※</span>お申し込み期間を2021年4月21日(水) 23:59から延長しました（2021年4月21日（水）追記）</li>
</ul>
<p class="c-Txt_Emp-02 u-Adjust_Mt-16">■本ページにてエントリーいただいた方のプラン利用開始期間<br>
2021年3月29日（月）9:00 ～2021年5月31日（月）23:59</p>
                    <ul class="c-List_Cap u-Adjust_Mt-8">
                      <li><span>※</span>プラン利用開始期間を設定しました（2021年4月21日（水）追記）</li>
                    </ul>
                    <p class="u-Adjust_Mt-16">■プラン料金1年間無料　本来のお申し込み期間<br>
[Web]2020年3月3日（火）16:00～2021年4月7日（水）23:59<br>
[店舗（楽天モバイルショップ）]2020年3月4日（水）開店～2021年4月7日（水）閉店</p>
                  </td>
                </tr>
                <tr>
                  <th>特典</th>
                  <td>
                    <p>楽天モバイル「Rakuten UN-LIMIT V」または「Rakuten UN-LIMIT VI」をご契約いただいた場合、以下の特典を適用いたします。</p>
                    <ul class="c-List_Text-disc u-Adjust_Mt-8">
                      <li>プラン料金がプラン利用開始から1年間無料</li>
                      <li>ユニバーサルサービス料がプラン利用開始から1年間無料</li>
                    </ul>
                    <p class="c-Txt_Cap u-Adjust_Mt-16">※プラン利用開始日から12ヵ月経過後の月末まで無料。例:2021年4月21日にプラン利用開始した場合、2022年4月30日まで無料。2022年5月1日以降はデータ利用量に応じてプラン料金の請求が発生</p>
                    <p class="u-Adjust_Mt-32">※プラン利用開始日とは下記を指します。</p>
                    <ul class="c-List_Text-disc u-Adjust_Mt-8">
                      <li>新規お申し込みの場合　　※①②のいずれか早い方がプラン利用開始日となります。<br>
①当社に配送完了データが通知された日<br>
②プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                      <li>他社から乗り換え（MNP）の場合<br>
プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                      <li>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合<br>
プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th>特典対象</th>
                  <td>
                    <p>以下①、②、③の条件の全て満たした楽天会員の方</p>
                    <ul class="c-List_Text-disc u-Adjust_Mt-8">
                      <li>①キャンペーンへのエントリー<br>
エントリー期間内に本キャンペーンページでエントリー</li>
                      <li>②「Rakuten UN-LIMIT V」または「Rakuten UN-LIMIT VI」へ、下記（1）-（3）いずれかの方法にてお申し込み<br>
（1）新規お申し込み<br>
（2）他社からの乗り換え（MNP）でお申し込み<br>
（3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
                      <li>③「Rakuten UN-LIMIT V」または「Rakuten UN-LIMIT VI」プラン利用開始<br>
2021年5月31日（月）23:59までにプラン利用開始</li>
                    </ul>
                    <ul class="c-List_Cap u-Adjust_Mt-16">
                      <li><span>※</span>プラン利用開始期間を設定しました（2021年4月21日（水）追記）</li>
                    </ul>
                    <ul class="c-List_Cap u-Adjust_Mt-16">
                      <li class="c-Txt_Emp-02"><span>※</span>特典はおひとり様、1度のみ、最初にお申し込みいただいた1回線目に適用となります。</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th>特典対象外</th>
                  <td>
                    <p>以下の条件に当てはまる場合は、特典適用対象外となります。</p>
                    <ul class="c-List_Cap u-Adjust_Mt-8">
                      <li><span>※</span>既にプラン料金1年間無料が適用された回線を契約している場合</li>
                      <li class="c-Txt_Emp-02"><span>※</span>本人確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
                      <li><span>※</span>楽天会員から退会している場合</li>
                      <li><span>※</span>当社の提供するサービスなどの料金のお支払いを、お支払期限までに行わなかった場合</li>
                      <li><span>※</span>当社または楽天株式会社が定める規約などに違反した場合</li>
                      <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th>注意事項</th>
                  <td>
                    <p>本特典は予告なく内容の変更もしくは中止させていただく場合がございます。あらかじめご了承ください。</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>

    <footer class="g-Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
        <div class="g-Footer_Pagetop">
          <a href="#top" class="js-scroll">
            <span class="c-Icon_Arrow-up-l"></span>
          </a>
        </div>
      </div>
      <div class="c-Breadcrumbs_Foot">
        <ul>
          <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ if (typeof directories !== 'undefined') { _%>
          <%_ let dirs = []; _%>
          <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
              <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
              <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
          <%_ }) _%>
          <%_ } _%>
          <li aria-current="true"><%= pagetitle %></li>
        </ul>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
  <script src="https://r.r10s.jp/com/js/d/merged/rjs-h110s112.min.js?v=201701122100"></script>
  <script type="text/javascript" src="https://r.r10s.jp/com/js/d/check_entry_multi/2.3/check_entry_multi-2.3.1.min.js"></script>
</body>
</html>
