<% const pagetitle = "海外で利用するための設定方法" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}] -%>
<% const namespace = "global" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルで楽天回線をご契約中のお客様へ、海外で楽天モバイルを利用するための確認事項や設定方法などをご案内します。',
    noindex: false,
    pathname: filepath
  });
%>


<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/global/global.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>

<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>

  <div class="l-System">

    <%- include('/include/_header') %>

    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>

    <div class="l-System_Container u-Adjust_Pb-64">

      <div>

        <h1 class="c-Heading_Lv1 u-Adjust_Mt-32"><%= pagetitle %></h1>

        <p class="u-Adjust_Mt-16">海外で楽天モバイルを利用するための確認事項や設定方法などをご案内します。</p>


        <div class="<%= namespace %>-Anchor_Btn u-Adjust_Mt-32">
          <div class="<%= namespace %>-Anchor_Btn-item">
            <div>
              <img src="<%= sitepath %>assets/img/guide/global/icon-global-01.png" width="64" alt="">
            </div>
            <div>
              <a href="#anc01" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>出発前</a>
            </div>
          </div>

          <div class="<%= namespace %>-Anchor_Btn-item">
            <div>
              <img src="<%= sitepath %>assets/img/guide/global/icon-global-02.png" width="64" alt="">
            </div>
            <div>
              <a href="#anc02" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>到着後</a>
            </div>
          </div>

          <div class="<%= namespace %>-Anchor_Btn-item">
            <div>
              <img src="<%= sitepath %>assets/img/guide/global/icon-global-03.png" width="64" alt="">
            </div>
            <div>
              <a href="#anc03" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>帰国後</a>
            </div>
          </div>
        </div>




        <h2 id="anc01" class="c-Heading_Lv2 u-Adjust_Mt-48">出発前</h2>

        <p class="u-Adjust_Mt-16">渡航先に出発する前に、日本国内で事前の確認や設定が必要になります。</p>



        <div class="<%= namespace %>-Anchor">
          <div>
            <a href="#sec1" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>事前の確認内容</a>
          </div>
          <div>
            <a href="#sec2" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>事前設定</a>
          </div>
          <div>
            <a href="#sec3" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>お役立ち情報</a>
          </div>
        </div>

        <h3 id="sec1" class="c-Heading_Lv3 u-Adjust_Mt-48"><span class="c-Icon_Check c-Txt_Emp-02 u-Adjust_Mr-16"></span>事前の確認内容</h3>

        <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">渡航先が対応エリアか確認</h4>

        <div class="u-Adjust_Mt-24">
          <a href="<%= sitepath %>support/international-roaming/area/" class="c-Btn_Regular"><span>対応エリア・料金を調べる</span></a>
        </div>


        <h4 class="c-Heading_Lv4 u-Adjust_Mt-48">追加オプションサービスの申し込み</h4>

        <div class="l-Media_Grid-half u-Adjust_Mt-24">
          <div class="c-Theme-Light global-Layout_GridSize">
            <div class="l-Media_Icon">
              <div>
                <img src="<%= sitepath %>assets/img/service/global/common/img-global-04.png" width="100" alt="">
              </div>
              <div>
                <p class="c-Txt_Normal-l c-Txt_Emp-01">国際通話かけ放題</p>
                <p class="c-Txt_Emp-01">海外指定65の国と地域への通話</p>
                <p class="u-Adjust_Mt-16">
                  <a href="<%= sitepath %>service/international-unlimited-talk/" class="c-Link_Txt-inline">詳細を見る<span class="c-Icon_Chevron-right"></span></a>
                </p>
              </div>
            </div>
          </div>
        </div>


        <h3 id="sec2" class="c-Heading_Lv3 u-Adjust_Mt-48"><span class="c-Icon_Check c-Txt_Emp-02 u-Adjust_Mr-16"></span>事前設定</h3>

        <p class="u-Adjust_Mt-16">各サービスを利用するための設定方法をご案内します。</p>

        <div class="c-Tab js-Tab u-Adjust_Mt-24">
          <ul class="c-Tab_Items" role="tablist">
            <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">データ通信</li>
            <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">国際通話・国際SMS</li>
          </ul>
          <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">

            <p class="u-Adjust_Mt-16">「<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile" class="c-Link_Txt">my 楽天モバイル</a>」の契約プラン画面にある、<span class="c-Txt_Emp-01">「海外ローミング（データ通信）」の設定をON</span>にしてください。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">
              ※初期設定はONになっております。<br>
              ※国際通話・国際SMSを利用する場合、海外ローミング（データ通信）の設定が必要になります。<br>
              ※別途Wi-Fiを利用してデータ通信を行う場合は、こちらの設定は不要です。
            </p>

            <div class="u-Adjust_Mt-16">
              <a href="<%= sitepath %>guide/international-roaming/#setting-before" class="c-Btn_Regular"><span>海外ローミング（データ通信）の設定方法を見る</span></a>
            </div>

          </div>


          <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
            <p class="u-Adjust_Mt-16 c-Txt_Emp-02">
              利用するアプリによって設定が異なります。
            </p>

            <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">
              Rakuten Linkアプリをご利用の場合
            </h4>
            <p class="u-Adjust_Mt-16">
              「<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile" class="c-Link_Txt">my 楽天モバイル</a>」の契約プラン画面にある、以下の<span class="c-Txt_Emp-01">設定をON</span>にしてください。
            </p>
            <ul class="c-List_Text-disc u-Adjust_Mt-8">
              <li>「海外ローミング（データ通信）」</li>
              <li>「国際通話・国際SMS」</li>
            </ul>
            <p class="c-Txt_Cap u-Adjust_Mt-8">
              ※初期設定はONになっております。<br>
              ※別途Wi-Fiを利用する場合は、「海外ローミング（データ通信）」の設定は不要です。
            </p>



            <div class="c-Theme-Light u-Adjust_Mt-24">
              <h3 class="c-Heading_Lv4" id="<%= namespace %>-App">Rakuten Linkアプリは最新版をご利用ください。</h3>
              <div class="c-Box_App u-Adjust_Pl-0 u-Adjust_Pb-0">
                <div class="c-Box_App-icon">
                  <img src="<%= sitepath %>assets/img/common/icon-rakuten-link.png" alt="Rakuten Link">
                </div>
                <div class="c-Box_App-txt">
                  <p class="c-Box_App-ttl">Rakuten Link</p>
                  <p class="u-Adjust_Mt-8">スーパーコミュニケーションアプリ</p>
                  <ul class="c-Box_App-link u-Adjust_Mt-16">
                    <li class="<%= namespace %>-App_Btn-store">
                      <div class="<%= namespace %>-App_Btn-store-item">
                        <a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.rcs&hl=jp" target="_blank">
                        <img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" alt="Google Play">
                      </a>
                    </div>
                      <div class="<%= namespace %>-App_Btn-store-item">
                        <a href="https://apps.apple.com/jp/app/id1498877539" target="_blank">
                          <img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store">
                        </a>
                      </div>
                    </li>
                    <li><a href="<%= sitepath %>service/rakuten-link/" class="c-Btn_Regular">詳細を見る</a></li>
                  </ul>
                  <p class="c-Txt_Cap u-Adjust_Mt-16">※ iOSはiPhoneのみ対応。iPad、iPod touchには対応していません。</p>
                </div>
              </div>
            </div>

            <h4 class="c-Heading_Lv4 u-Adjust_Mt-40">
              OS標準のアプリをご利用の場合
            </h4>
            <p class="u-Adjust_Mt-16">
              「<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile" class="c-Link_Txt">my 楽天モバイル</a>」の契約プラン画面にある、以下の<span class="c-Txt_Emp-01">設定をON</span>にしてください。
            </p>
            <ul class="c-List_Text-disc u-Adjust_Mt-8">
              <li>「海外ローミング（データ通信）」</li>
              <li>「国際通話・国際SMS（海外でOS標準の電話アプリ・メッセージアプリ利用時）」</li>
            </ul>
            <p class="c-Txt_Cap u-Adjust_Mt-8">
              ※初期設定は「海外ローミング（データ通信）」はONになっております。<br>
              ※別途Wi-Fiを利用する場合は、「海外ローミング（データ通信）」の設定は不要です。
            </p>

            <div class="u-Adjust_Mt-16">
              <a href="<%= sitepath %>guide/international-call/overseas/#startup" class="c-Btn_Regular"><span>設定方法の詳細を見る</span></a>
            </div>


          </div>


        </div>


        <h3 id="sec3" class="c-Heading_Lv3 u-Adjust_Mt-48"><span class="c-Icon_Check c-Txt_Emp-02 u-Adjust_Mr-16"></span>お役立ち情報（PR）</h3>
            <p class="u-Adjust_Mt-8">楽天グループでは海外でも役立つサービスをご用意しております。ぜひご活用ください。</p>
            <div class="c-Theme-Borderbox u-Adjust_Mt-24">
              <div class="<%= namespace %>-Layout_2Grid">
                <div class="<%= namespace %>-Layout_2Grid-first">
                  <h4 class="c-Heading_Lv4">
                    楽天カード会員様向けサービス
                  </h4>
                  <p class="u-Adjust_Mt-8">
                    楽天カードは海外でもご利用いただけます。楽天カード会員様向けの安心のサポートや、便利でおトクな優待サービスが充実しています。
                  </p>
                  <p class="u-Adjust_Mt-16">
                    <a href="https://ad2.trafficgate.net/t/r/12944/1441/99636_99636/" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">サービスの詳細を確認する<span class="c-Icon_New-window-l"></span></a>
                  </p>
                </div>
                <div class="<%= namespace %>-Layout_2Grid-second">
                  <h4 class="c-Heading_Lv4">
                    海外旅行保険について
                  </h4>
                  <p class="u-Adjust_Mt-16">
                    楽天グループでは、旅行中の病気やケガを補償する、安心の保険サービスをご用意しています。
                  </p>
                  <p class="u-Adjust_Mt-16"><a href="https://www.rakuten-sonpo.co.jp/family/tabid/990/Default.aspx?l-id=individual_customers_travel_overseas" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">楽天損保の海外旅行保険を確認する<span class="c-Icon_New-window-l"></span></a></p>
                  <p class="u-Adjust_Mt-8"><a href="https://ad2.trafficgate.net/t/r/12947/1441/99636_99636/" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">楽天カードの海外旅行傷害保険を確認する<span class="c-Icon_New-window-l"></span></a></p>
                  <p class="u-Adjust_Mt-8"><a href="https://www.rakuten-bank.co.jp/debit-card/visa/insurance/travel/" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">楽天銀行ゴールドデビットカード（Visa）の海外旅行傷害保険を確認する<span class="c-Icon_New-window-l"></span></a></p>
                </div>
              </div>
            </div>


            <h2 id="anc02" class="c-Heading_Lv2 u-Adjust_Mt-48">到着後</h2>

            <div class="<%= namespace %>-Anchor">
              <div>
                <a href="#sec4" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>サービス開始設定</a>
              </div>
              <div>
                <a href="#sec5" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>各サービスのご利用方法</a>
              </div>
            </div>

            <h3 id="sec4" class="c-Heading_Lv3 u-Adjust_Mt-48"><span class="c-Icon_Check c-Txt_Emp-02 u-Adjust_Mr-16"></span>サービス開始設定</h3>

            <ol class="c-Flow u-Adjust_Mt-24">

              <li>
                <h4 class="c-Heading_Lv3">
                  1. 製品の「データローミング」をONにする
                </h4>
                <p class="u-Adjust_Mt-8">
                  「海外ローミング（データ通信）」を利用する製品の「データローミング」をONに設定してください。
                </p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">
                  ※国際通話・国際SMS（海外でOS標準のアプリ利用時）を利用する場合、製品のデータローミングの設定は不要です。<br>
                  ※別途Wi-Fiを利用してデータ通信を行う場合は、こちらの設定は不要です。<br>
                  ※一部のエリアでは、VoLTE海外ローミング（4Gネットワークを利用した「国際通話・国際SMS（海外でOS標準の電話アプリ・メッセージアプリ利用時）」）をご利用いただけます。詳しくは<a href="<%= sitepath %>guide/international-call/overseas/#aboutvolte" class="c-Link_Txt">VoLTE海外ローミングについて</a>をご確認ください。
                </p>


                <div class="u-Adjust_Mt-16">
                  <a href="<%= sitepath %>guide/international-roaming/#setting-after" class="c-Btn_Regular"><span>データローミングの設定方法を見る</span></a>
                </div>
              </li>

              <li>
                <h4 class="c-Heading_Lv3">
                  2. 通信事業者部分に「Rakuten」が表示されているか確認
                </h4>
                <p class="u-Adjust_Mt-8">
                  画面上部の通信事業者部分に「Rakuten」が表示されていれば、データ通信可能となります。
                </p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">
                  ※iPhoneと一部のAndroid製品では渡航先の海外通信事業者が表示される場合がありますが、問題なく国際ローミングサービスをご利用いただけます。
                </p>
                <div class="u-Adjust_Mt-8 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/global/img-global-01.png" width="300" alt="">
                </div>

              </li>

            </ol>
            <p class="u-Adjust_Mt-16">以上で設定は完了です。</p>

            <div class="c-Theme-Light u-Adjust_Mt-16">
              <h4 class="c-Heading_Lv4">
                設定後もOS標準アプリが利用できない場合
              </h4>
              <p class="u-Adjust_Mt-8">
                接続しているネットワークが、OS標準のアプリを使用した海外での国際通話・SMSの利用に対応していない可能性があります。その際は対応しているネットワークに変更をお願いいたします。
              </p>

              <p class="u-Adjust_Mt-16">
                <a href="<%= sitepath %>guide/international-call/overseas/?tab-list=tab-menu6#global" class="c-Link_Txt-inline">国際通話の対応ネットワーク<span class="c-Icon_Chevron-right"></span></a>
              </p>
              <p class="u-Adjust_Mt-8">
                <a href="<%= sitepath %>guide/international-sms/overseas/?tab-list=tab-menu6#global" class="c-Link_Txt-inline">国際SMSの対応ネットワーク<span class="c-Icon_Chevron-right"></span></a>
              </p>
              <p class="u-Adjust_Mt-8">
                <a href="<%= sitepath %>support/international-roaming/area/" class="c-Link_Txt-inline">海外ローミングの対応エリア<span class="c-Icon_Chevron-right"></span></a>
              </p>

              <div class="u-Adjust_Mt-16">
                <a href="<%= sitepath %>guide/international-call/overseas/?accodionid=accordion-1" class="c-Btn_Regular"><span>ネットワーク変更方法の詳細を見る</span></a>
              </div>
            </div>

        <div class="u-Adjust_Mt-48">
          <h3 id="sec5" class="c-Heading_Lv3 u-Adjust_Mt-48"><span class="c-Icon_Check c-Txt_Emp-02 u-Adjust_Mr-16"></span>各サービスのご利用方法</h3>


          <div class="<%= namespace %>-Layout_4Grid u-Adjust_Mt-24">
            <div>
              <a href="<%= sitepath %>guide/international-call/overseas/" class="c-Card_Normal u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/service/global/common/icon-global-01.png" width="64" alt="">
                <p class="u-Adjust_Mt-8 c-Txt_Normal-m c-Txt_Emp-01">国際通話</p>
              </a>
            </div>
            <div>
              <a href="<%= sitepath %>guide/international-sms/overseas/" class="c-Card_Normal u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/service/global/common/icon-global-02.png" width="64" alt="">
                <p class="u-Adjust_Mt-8 c-Txt_Normal-m c-Txt_Emp-01">国際SMS</p>
              </a>
            </div>
            <div>
              <a href="<%= sitepath %>guide/international-roaming/" class="c-Card_Normal u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/service/global/common/icon-global-03.png" width="64" alt="">
                <p class="u-Adjust_Mt-8 c-Txt_Normal-m c-Txt_Emp-01">海外ローミング<br>（データ通信）</p>
              </a>
            </div>
            <div>
              <a href="<%= sitepath %>guide/data-charge/" class="c-Card_Normal u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/service/global/common/icon-global-04.png" width="64" alt="">
                <p class="u-Adjust_Mt-8 c-Txt_Normal-m c-Txt_Emp-01">データチャージ</p>
              </a>
            </div>
          </div>
        </div>

        <h2 id="anc03" class="c-Heading_Lv2 u-Adjust_Mt-48">帰国後</h2>
        <div class="<%= namespace %>-Anchor">
          <div>
            <a href="#sec6" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>サービス停止設定</a>
          </div>
          <div>
            <a href="#sec7" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>ご利用料金の確認</a>
          </div>
        </div>

        <h3 id="sec6" class="c-Heading_Lv3 u-Adjust_Mt-48"><span class="c-Icon_Check c-Txt_Emp-02 u-Adjust_Mr-16"></span>サービス停止設定</h3>
        <p class="u-Adjust_Mt-16">日本に帰国後は以下の停止設定を行ってください。</p>
        <div class="c-Tab js-Tab u-Adjust_Mt-24">
          <ul class="c-Tab_Items" role="tablist">
            <li class="c-Tab_Item" id="tab-menu3" role="tab" aria-selected="true" aria-controls="tab-content3">データ通信</li>
            <li class="c-Tab_Item" id="tab-menu4" role="tab" aria-selected="false" aria-controls="tab-content4">国際通話・国際SMS</li>
          </ul>
          <div class="c-Tab_Panel" id="tab-content3" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu3">
            <ol class="c-Flow u-Adjust_Mt-24">
              <li>
                <h4 class="c-Heading_Lv3">
                  1. 「海外ローミング（データ通信）」をOFFにする
                </h4>
                <p class="u-Adjust_Mt-8">
                  「<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile" class="c-Link_Txt">my 楽天モバイル</a>」の契約プラン画面にある、「海外ローミング（データ通信）」の設定をOFFにしてください。
                </p>

                <div class="u-Adjust_Mt-16">
                  <a href="<%= sitepath %>guide/international-roaming/#setting-stop1" class="c-Btn_Regular"><span>海外ローミング（データ通信）の設定方法を見る</span></a>
                </div>
              </li>
              <li>
                <h4 class="c-Heading_Lv3">
                  2. 製品の「データローミング」をOFFにする
                </h4>
                <p class="u-Adjust_Mt-8">
                  「海外ローミング（データ通信）」を利用した製品の「データローミング」をOFFに設定してください。
                </p>
                <div class="u-Adjust_Mt-16">
                  <a href="<%= sitepath %>guide/international-roaming/#setting-stop2" class="c-Btn_Regular"><span>データローミングの設定方法を見る</span></a>
                </div>
              </li>
            </ol>
            <p class="u-Adjust_Mt-16">以上で設定は完了です。</p>
            <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">ネットワークを手動で設定した場合</h3>
            <p class="u-Adjust_Mt-8">
              通信事業者の設定を「自動」、もしくは手動で「Rakuten」に設定してください。
            </p>

            <div class="u-Adjust_Mt-16">
              <a href="<%= sitepath %>guide/international-call/overseas/?accodionid=accordion-1" class="c-Btn_Regular"><span>ネットワーク変更方法の詳細を見る</span></a>
            </div>
          </div>
          <div class="c-Tab_Panel" id="tab-content4" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu4">


            <p class="u-Adjust_Mt-16 c-Txt_Emp-02">
              利用するアプリによって設定が異なります。
            </p>

            <h3 class="c-Heading_Lv3 u-Adjust_Mt-24">
              Rakuten Linkアプリをご利用の場合
            </h3>


            <ol class="c-Flow u-Adjust_Mt-16">
              <li>
                <h4 class="c-Heading_Lv3">
                  1. 「my 楽天モバイル」の設定を変更する
                </h4>
                <p class="u-Adjust_Mt-8">
                  「<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile" class="c-Link_Txt">my 楽天モバイル</a>」の契約プラン画面にある、以下の設定をOFFにしてください。
                </p>

                <ul class="c-List_Text-disc u-Adjust_Mt-8">
                  <li>「海外ローミング（データ通信）」</li>
                  <li>「国際通話・国際SMS」</li>
                </ul>

                <!-- <div class="u-Adjust_Mt-16">
                  <a href="<%= sitepath %>guide/international-roaming/#setting-stop1" class="c-Btn_Regular"><span>設定方法の詳細を見る</span></a>
                </div> -->
              </li>
              <li>
                <h4 class="c-Heading_Lv3">
                  2. 製品の「データローミング」をOFFにする
                </h4>
                <p class="u-Adjust_Mt-8">
                  「海外ローミング（データ通信）」を利用した製品の「データローミング」をOFFに設定してください。
                </p>
                <div class="u-Adjust_Mt-16">
                  <a href="<%= sitepath %>guide/international-roaming/#setting-stop2" class="c-Btn_Regular"><span>データローミングの設定方法を見る</span></a>
                </div>
              </li>
            </ol>
            <p class="u-Adjust_Mt-16">以上でRakuten Linkアプリを利用した場合の設定は完了です。</p>



            <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">OS標準のアプリをご利用の場合</h3>
            <p class="u-Adjust_Mt-8">
              「<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile" class="c-Link_Txt">my 楽天モバイル</a>」の契約プラン画面にある、以下の設定をOFFにしてください。
            </p>
            <ul class="c-List_Text-disc u-Adjust_Mt-8">
              <li>「海外ローミング（データ通信）」</li>
              <li>「国際通話・国際SMS（海外でOS標準の電話アプリ・メッセージアプリ利用時）」</li>
            </ul>

            <!-- <div class="u-Adjust_Mt-16">
              <a href="<%= sitepath %>guide/international-roaming/#setting-stop1" class="c-Btn_Regular"><span>設定方法の詳細を見る</span></a>
            </div> -->

            <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">ネットワークを手動で設定した場合</h3>
            <p class="u-Adjust_Mt-8">
              通信事業者の設定を「自動」、もしくは手動で「Rakuten」に設定してください。
            </p>

            <div class="u-Adjust_Mt-16">
              <a href="<%= sitepath %>guide/international-call/overseas/?accodionid=accordion-1" class="c-Btn_Regular"><span>ネットワーク変更方法の詳細を見る</span></a>
            </div>













          </div>
        </div>

        <h3 id="sec7" class="c-Heading_Lv3 u-Adjust_Mt-48"><span class="c-Icon_Check c-Txt_Emp-02 u-Adjust_Mr-16"></span>ご利用料金の確認</h3>
        <p class="u-Adjust_Mt-24">海外でご利用された料金は、ご利用月の翌月10日以降、順次「<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile" class="c-Link_Txt">my 楽天モバイル</a>」からご確認いただけます。</p>
        <div class="u-Adjust_Mt-24">
          <a href="<%= sitepath %>guide/payment/usage-details/" class="c-Btn_Regular"><span>料金明細の確認方法を見る</span></a>
        </div>


        <div class="u-Adjust_Mt-48">
          <h2 class="c-Heading_Lv2 u-Adjust_Mt-8 u-Adjust_Pb-24">国際サービス</h2>

          <div class="l-Media_List-3 <%= namespace %>-Layout_List">
            <div class="<%= namespace %>-Layout_List-flexbox">
              <a href="<%= sitepath %>service/global/overseas/" class="c-Card_Normal u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/service/global/common/img-global-01.png" width="186" alt="">
                <p class="u-Adjust_Mt-8 c-Txt_Normal-m c-Txt_Emp-01">海外で使う</p>
              </a>
            </div>
            <div class="<%= namespace %>-Layout_List-flexbox">
              <a href="<%= sitepath %>service/global/outgoing/" class="c-Card_Normal u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/service/global/common/img-global-02.png" width="186" alt="">
                <p class="u-Adjust_Mt-8 c-Txt_Normal-m c-Txt_Emp-01">日本から海外へ電話をかける・<br>SMSを送る</p>
              </a>
            </div>
          </div>
        </div>




      </div>

    </div>

    <%- include('/include/guide/_review') %>
    <%- include('/include/guide/_inquiry') %>

    <footer class="g-Footer">

      <div class="c-Breadcrumbs_Foot">
        <div class="l-System_Container">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>

      <%- include('/include/_footer') %>

    </footer>

  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
</body>

</html>
