<% const pagetitle = "【月刊ポピー会員様限定】楽天モバイルお申し込みで2,000ポイントプレゼントキャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "popy" -%>
<% const information = {
  campaignState:'start'
}; %>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '【月刊ポピー会員様限定】楽天モバイルお申し込みで2,000ポイントプレゼントキャンペーン',
  keywords: '',
  noindex: true,
  pathname: filepath
});
%>
<% const finishSchedule = "2024年5月31日" -%>
<% const hiddenItem = "false" -%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/<%= namespace %>/<%= namespace %>.css?20240424">
<%_  if (information.campaignState !== 'finish') { _%>
<%- include('/inc/_saikyo-plan-css') %>
<%_ } _%>
<link rel="stylesheet" href="<%= sitepath %>assets/css/inc/i-replacement-program-product.css" media="print" onload="this.media='all'">
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header',{applyHide:true}) %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout_Label">
      <ul class="c-Label_List <%= namespace %>-Layout_Label-list">
        <li class="c-Label_Normal">エントリー必要</li>
        <li class="c-Label_Normal">Rakuten Link利用必要</li>
        <li><span class="<%= namespace %>-Layout_Label-point">ポイント：付与日を含めて6カ月の期間限定ポイント</span></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Hero_Return">
      <div class="l-System_Container <%= namespace %>-Hero_Container">
        <div class="<%= namespace %>-Hero_Main">
          <h1><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-heading-pc.png?240308" alt="月刊ポピー会員様限定 楽天モバイルお申し込みで 2,000円相当分ポイントプレゼント 要エントリー フィルタリング設定（あんしんコントロール by i-フィルター）の無料個別設定サポートあり ※希望者のみ" class="<%= namespace %>-Utility_Img-pc"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-heading-sp.png?240308" alt="月刊ポピー会員様限定 楽天モバイルお申し込みで 2,000円相当分ポイントプレゼント 要エントリー フィルタリング設定（あんしんコントロール by i-フィルター）の無料個別設定サポートあり ※希望者のみ" class="<%= namespace %>-Utility_Img-sp"></h1>
        </div>
      </div>
    </div>
    <div class="<%= namespace %>-Hero_Return hero-Sub">
      <div class="l-System_Container <%= namespace %>-Hero_Container">
        <div class="<%= namespace %>-Hero_Main">
          <h1><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-heading-02-pc.png?240308" alt="他にもおトクなキャンペーン実施中！ ※他キャンペーンと併用可能。一部対象外あり。" class="<%= namespace %>-Utility_Img-pc"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-heading-02-sp.png?240308" alt="他にもおトクなキャンペーン実施中！ ※他キャンペーンと併用可能。一部対象外あり。" class="<%= namespace %>-Utility_Img-sp"></h1>
        </div>
      </div>
    </div>

    <div class="<%= namespace %>-Layout_Body">
      <div class="l-System_Container">
      <% if (information.campaignState == 'finish') { %>
        <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは<%= finishSchedule %>をもちまして終了いたしました。<br>
          このページに掲載されている情報は、キャンペーン終了時点のものです。</p>
      <% } %>
        <ul class="c-Txt_Cap">
          <li><span>※</span>本キャンペーンにエントリーした後、「Rakuten最強プラン」にお申し込みいただいた方が対象です。（端末の購入は必須ではありません）</li>
          <li class="c-Txt_Emp-02"><span>※</span>「Rakuten最強プラン（データタイプ）」は対象外です。</li>
          <li><span>※</span>本キャンペーンにはエントリーが必要です。お申し込み後のエントリーはポイント付与の対象外となります。</li>
          <li><span>※</span>Rakuten Link利用等条件あり。本ページ記載の併用可能キャンペーン以外は併用できません。詳細は<a href="#campaign-rule" class="js-scroll">本キャンペーンルール</a>をご確認ください。</li>
          <li class="c-Txt_Emp-02"><span>※</span>本キャンペーンに関してお問い合わせの際は、キャンペーンコード「2177」をお伝えください。</li>
        </ul>
      </div>

      <div class="<%= namespace %>-Layout_Entry-Area u-Adjust_Mt-16">
        <p class="<%= namespace %>-Utility_Mt-unique u-Adjust_Align-center"><span class="c-Txt_Emp-01">【キャンペーン期間】</span><br>
          2024年3月20日（水）09:00～2024年5月31日（金）23:59</p>

        <div class="u-Adjust_Mt-8 u-Adjust_Align-center">
        <% if (information.campaignState == 'finish') { %>
          <div class="c-Btn_Primary-large cp-Fin">アンケートに回答してエントリー</div>
        <% } else { %>
          <%# else %>
          <a href="https://r10.to/hPecDC" class="c-Btn_Primary-large"><span id="js-trigger">アンケートに回答してエントリー</span></a>
        <% } %>
        </div>
      </div>

      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 nav-Pad_Default u-Adjust_Align-center" id="campaign-flow">キャンペーンの流れ</h2>
        <ul class="<%= namespace %>-Flow c-Flow u-Adjust_Mt-24">
            <li>
              <h4 class="c-Heading_Lv4  <%= namespace %>-Txt_Left-pc"><span class="c-Txt_Emp-02">STEP1</span><br class="<%= namespace %>-Layout_Break-sp">アンケートに回答してエントリー</h4>
              <p class="u-Adjust_Align-center u-Adjust_Mt-16">アンケート画面に進んで設問に<br class="<%= namespace %>-Layout_Break-sp">回答してください</p>

              <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
              <% if (information.campaignState == 'finish') { %>
                <div class="c-Btn_Primary-large cp-Fin">アンケート画面に進む</div>
              <% } else { %>
                <%# else %>
                <a href="https://r10.to/hPecDC" class="c-Btn_Primary-large">アンケート画面に進む</a>
              <% } %>
              </div>
              <p class="c-Txt_Emp-02 u-Adjust_Mt-24 c-Txt_Cap u-Adjust_Align-center"><span>※</span> お子さま、親御様のいずれで申し込みする際も今回ご契約される方の楽天IDでのログインをしてください。</p>
            </li>
            <li>
              <h4 class="c-Heading_Lv4 <%= namespace %>-Txt_Left-pc"><span class="c-Txt_Emp-02">STEP2</span><br class="<%= namespace %>-Layout_Break-sp">Rakuten最強プランを申し込む</h4>
                <div class="l-Media_Grid u-Adjust_Mt-16">
                    <div class="l-Media_Image c-Flow_Image">
                        <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-01.png?240308" alt="">
                    </div>
                    <div>
                        <p class="<%= namespace %>-Txt_Left-pc">WebまたはショップでRakuten最強プランをお申し込みください</p>
                        <div class="<%= namespace %>-Step_Table u-Adjust_Mt-16">
                          <div class="<%= namespace %>-Step_Table-head u-Adjust_Pt-8 u-Adjust_Pb-8">
                            <p class="c-Txt_Emp-01 u-Adjust_Align-center">期間</p>
                          </div>
                          <dl class="c-Dl_Origin">
                            <div>
                              <dt>Web</dt>
                              <dd>
                                2024年3月20日（水）09:00～2024年5月31日（金）23:59
                              </dd>
                            </div>
                            <div>
                              <dt>店舗（楽天モバイルショップ）</dt>
                              <dd>
                                2024年3月20日（水）開店～2024年5月31日（金）閉店
                              </dd>
                            </div>
                          </dl>
                        </div>
                        <div class="<%= namespace %>-Flow_Btn u-Adjust_Mt-24">
                        <% if (information.campaignState == 'finish') { %>
                          <div class="c-Btn_Primary-large cp-Fin">新規／乗り換え（MNP）お申し込み</div>
                        <% } else { %>
                          <%# else %>
                          <a href="<%= sitepath %>guide/application/?l-id-r=campaign_<%= namespace %>_guide_application_01" class="c-Btn_Primary-large">新規／乗り換え（MNP）お申し込み</a>
                        <% } %>
                          <a href="<%= sitepath %>shop/?l-id=campaign_<%= namespace %>_shop_01" class="c-Btn_Secondly-large">お近くのショップを探す</a>
                        </div>
                        <ul class="<%= namespace %>-Table_Rule-Cap">
                          <li class="c-Txt_Emp-02 u-Adjust_Mt-24"><span>※</span>お申し込み後に本キャンペーンにエントリーした場合、特典適用対象外となります。</li>
                          <li class="c-Txt_Emp-02 u-Adjust_Mt-0"><span>※</span>ショップでご契約される場合は、本キャンペーンを適用する旨のご申告と合わせて本画面を店舗スタッフにお見せください。</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv4 <%= namespace %>-Txt_Left-pc"><span class="c-Txt_Emp-02">STEP3</span><br class="<%= namespace %>-Layout_Break-sp">Rakuten最強プラン利用開始</h4>
              <div class="l-Media_Grid u-Adjust_Mt-16">
                <div class="l-Media_Image c-Flow_Image">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-02.png?240308" alt="">
                </div>
                <div class="u-Adjust_Mt-0">
                  <p><span class="c-Txt_Emp-01">【期限】</span><br class="<%= namespace %>-Layout_Break-sp">プランお申し込みの翌月末日23:59まで</p>
                  <div class="<%= namespace %>-Layout_Display-pc u-Adjust_Mt-24">
                    <a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/?l-id=campaign_<%= namespace %>_faq_detail_00001648" class="c-Btn_Regular-large">プラン利用開始手順を見る</a>
                    <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span> 「Rakuten Link」を用いた発信で10秒以上の通話が必要です。</p>
                  </div>
                </div>
              </div>
              <div class="<%= namespace %>-Layout_Display-sp u-Adjust_Align-center u-Adjust_Mt-24">
                <a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/?l-id=campaign_<%= namespace %>_faq_detail_00001648" class="c-Btn_Regular-large">プラン利用開始手順を見る</a>
                <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span> 「Rakuten Link」を用いた発信で10秒以上の通話が必要です。</p>
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv4 u-Adjust_Align-center c-Txt_Emp-02">2,000円相当のポイント還元！</h4>
                <p class="<%= namespace %>-Txt_Left-sp u-Adjust_Mt-16">「Rakuten最強プラン」のお申し込み月の翌月末日までにすべての条件を達成した場合、利用開始期限月の3カ月後末日ごろに進呈します。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-16 u-Adjust_Align-center"><span>※</span> 期間限定ポイント</p>
            </li>
        </ul>

        <h2 id="campaign-app" class="nav-Pad_Default c-Heading_Lv2 u-Adjust_Align-center">楽天モバイルのお申し込み方法</h2>
        <div class="c-Tab js-Tab u-Adjust_Mt-24">
          <ul class="c-Tab_Items" role="tablist">
            <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">Web</li>
            <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">ショップ</li>
          </ul>
          <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
            <ul class="<%= namespace %>-Flow_List u-Adjust_Mt-16">
              <li>
                <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-8">
                  <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                    <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-03.png?240308" alt="">
                  </div>
                  <div>
                    <p class="c-Txt_Emp-01">お申し込みに必要なもの</p>
                    <div class="u-Adjust_Mt-8">
                      <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc">
                        <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/verify/?l-id=campaign_<%= namespace %>_guide_verify" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                        <li class="u-Adjust_Mt-8">楽天ID、パスワード</li>
                        <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/?l-id=campaign_<%= namespace %>_guide_payment" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                          <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                            <span>※</span><a href="<%= sitepath %>flow/for-minors/?l-id=campaign_<%= namespace %>_flow_for-minors">未成年の方のお申し込み方法はこちら</a></p>
                          <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                            <span>※</span>MNPワンストップ未対応の携帯電話会社から乗り換えの方は、MNP予約番号の取得が必要です。MNPワンストップ対象の携帯電話会社は<a href="<%= sitepath %>guide/mnp/?l-id=campaign_<%= namespace %>_guide_mnp#career">こちら</a>からご確認ください。</p>
                          <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                            <span>※</span>ショップでのお手続きは、ワンストップ対象の他社からの転入であっても、MNP予約番号を取得のうえ、ご来店ください。</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <div class="<%= namespace %>-Flow_List-step-unlimit u-Adjust_Mt-24 <%= namespace %>-Layout_Step-ptn2">
              <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-left">
                <div class="<%= namespace %>-Flow_List-detail">
                  <div class="step-pran-change"><span class="c-Icon_New-user-f c-Txt_Emp-02"></span><h4 class="c-Heading_Lv4 u-Adjust_Mt-8 u-Adjust_Mb-16"> 新規電話番号／他社から乗り換え（MNP）</h4></div>
                  <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <% if (information.campaignState == 'finish') { %>
                    <div class="c-Btn_Primary-large cp-Fin">Rakuten最強プランに申し込む</div>
                  <% } else { %>
                    <%# else %>
                    <a href="<%= sitepath %>guide/application/?l-id-r=campaign_<%= namespace %>_guide_application_02" class="c-Btn_Primary-large <%= namespace %>-Flow_List-button-secondly u-Adjust_Mt-24"><span>Rakuten最強プランに申し込む</span></a>
                  <% } %>
                  </div>
                  <p class="u-Adjust_Align-left u-Adjust_Mt-24"><a href="<%= sitepath %>fee/saikyo-plan/?l-id=campaign_<%= namespace %>_fee_saikyo-plan" class="c-Link_Txt-inline">Rakuten最強プランの詳細<span class="c-Icon_Chevron-right"></span></a></p>
                  <p class="u-Adjust_Align-left u-Adjust_Mt-8"><a href="<%= sitepath %>guide/flow/application/?l-id=campaign_<%= namespace %>_guide_flow_application_02" class="c-Link_Txt-inline">Rakuten最強プランお申し込み方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                </div>
              </div>
              <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-right">
                <div class="<%= namespace %>-Flow_List-detail">
                  <div class="step-pran-change"><span class="c-Icon_Paper-plane-l c-Txt_Emp-02"></span>
                  <h4 id="members" class="c-Heading_Lv4 u-Adjust_Mt-8 u-Adjust_Mb-16">楽天モバイル（ドコモ回線・au回線）からプラン変更（移行）</h4></div>
                  <div class="u-Adjust_Mt-24">
                    <p class="u-Adjust_Align-center"><a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_<%= namespace %>_ms_02&mno_migration=1" class="c-Btn_Secondly-large <%= namespace %>-Flow_List-button-secondly"><span>メンバーズステーションから<br>
                      プラン変更（移行）する</span></a></p>
                    <p class="u-Adjust_Align-left u-Adjust_Mt-24"><a href="<%= sitepath %>guide/migration/?l-id=campaign_<%= namespace %>_guide_migration_02" class="c-Link_Txt-inline">スーパーホーダイ・組み合わせプラン（※）との比較<span class="c-Icon_Chevron-right"></span></a></p>
                    <p class="c-Txt_Cap u-Adjust_Align-left u-Adjust_Mt-8">※2020年4月8日に受付終了のドコモ回線・au回線使用プラン</p>
                    <p class="u-Adjust_Align-left u-Adjust_Mt-8"><a href="<%= sitepath %>guide/mnp/migration/?l-id=campaign_<%= namespace %>_guide_mnp_migration_02" class="c-Link_Txt-inline">楽天モバイル（楽天回線）への移行方法<span class="c-Icon_Chevron-right"></span></a></p>
                    <p class="u-Adjust_Align-left u-Adjust_Mt-8"><a href="<%= sitepath %>flow/mvno-user-registration/?l-id=campaign_<%= namespace %>_flow_mvno-user-registration_02" class="c-Link_Txt-inline">利用者登録でご利用中の方の移行方法<span class="c-Icon_Chevron-right"></span></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
            <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
              <a href="<%= sitepath %>shop/?l-id=campaign_<%= namespace %>_shop_02" class="c-Btn_Secondly-large">お近くのショップを探す</a>
            </div>
            <ul class="<%= namespace %>-Flow_List u-Adjust_Mt-16">
              <li>
                <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-8">
                  <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                    <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-03.png?240308" alt="">
                  </div>
                  <div>
                    <p class="c-Txt_Emp-01">お申し込みに必要なもの</p>
                    <div class="u-Adjust_Mt-8">
                      <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc">
                        <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/verify/?l-id=campaign_<%= namespace %>_guide_verify_shop" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                        <li class="u-Adjust_Mt-8">楽天ID、パスワード</li>
                        <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/?l-id=campaign_<%= namespace %>_guide_payment_shop" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                          <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                            <span>※</span><a href="<%= sitepath %>flow/for-minors/?l-id=campaign_<%= namespace %>_flow_for-minors_shop">未成年の方のお申し込み方法はこちら</a></p>
                          <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                            <span>※</span>ショップでのお手続きは、ワンストップ対象の他社からの転入であっても、MNP予約番号を取得のうえ、ご来店ください。</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <h2 id="info-filter" class="c-Heading_Lv2 u-Adjust_Align-center">お子さまを悪質なアプリやサイトから守る<br>
          あんしんコントロール by i-フィルター<br></h2>
          <p class="u-Adjust_Align-center c-Txt_Emp-01"><span class="c-Txt_Normal-m">（月額330円</span><span class="c-Txt_Cap">※税込</span><span class="c-Txt_Normal-m">）</span></p>
        <div class="c-Theme-Emphasis2 u-Adjust_Mt-24">
          <div class="<%= namespace %>-Info_Img u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-01.png?240308" alt="">
          </div>
          <h4 class="c-Heading_Lv4 u-Adjust_Align-center u-Adjust_Mt-24">あんしん・安全なインターネット利用のために危険なサイトをブロック！</h4>
          <p class="u-Adjust_Mt-16">有害なサイトにアクセスしてしまった、詐欺サイトにひっかかってしまった…などなど、インターネット上のトラブルに巻き込まれる件数が年々増加している中、安心してスマートフォンやタブレットをご利用いただくために必要不可欠な機能を備えています。</p>
          <ul class="<%= namespace %>-Filter_Cap c-Flow u-Adjust_Mt-16">
            <li>
              <ul class="c-Txt_Emp-01 <%= namespace %>-Table_Rule-Cap">
                <li class="c-Txt_Normal-s"><span>※</span>18歳未満の方に楽天モバイルをご利用いただく場合、あんしんコントロール by i-フィルターのご契約が必須となります。</li>
                <li class="c-Txt_Normal-s u-Adjust_Mt-0"><span>※</span>18歳以上の方にもご契約いただけます。</li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="u-Adjust_Align-center u-Adjust_Mt-24">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-bnr-01-sp.png?240308">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-bnr-01.png?240308" alt="月刊ポピー会員様限定特典 電話での無料個別設定サポートあり ※希望者のみ">
          </picture>
        </div>
        <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
          <a href="<%= sitepath %>guide/kidsjunior/?l-id=campaign_<%= namespace %>_guide_kidsjunior" class="c-Btn_Secondly-large">あんしんコントロール by i-フィルターの詳細を見る</a>
        </div>
      </div>

    <% if (information.campaignState == 'finish') { %>
    <% } else { %>
      <%# else %>
      <div class="<%= namespace %>-Info_Debut">
        <div class="l-System_Container">
          <h2 id="debut" class="c-Heading_Lv2 u-Adjust_Align-center">楽天モバイルはお子さまのスマホデビューにもおトク</h2>
          <p class="u-Adjust_Mt-24 <%= namespace %>-Txt_Left-sp">楽天モバイルの「Rakuten最強プラン」は毎月のデータ利用量でお支払い金額が決まる、シンプルなワンプランです。<br>
            使わなければ勝手に安くなり、20GB超過後も2,880円/月（税込3,168円）なので高額請求の心配もありません。</p>
            <p class="<%= namespace %>-Txt_Left-sp c-Txt_Cap u-Adjust_Mt-8"><span>※</span> 最強家族プログラム適用条件あり。通話料等別。</p>
          <div class="<%= namespace %>-Utility_Bnr u-Adjust_Align-center u-Adjust_Mt-24">
            <a href="<%= sitepath %>guide/kids-ke-tai/?l-id=campaign_<%= namespace %>_guide_kids-ke-tai">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-bnr-02-sp.png?240308">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-bnr-02.png?240308" alt="楽天モバイルなら
                キッズ・学生のスマホデビューにもおトクであんしん！">
              </picture>
            </a>
          </div>
          <div class="<%= namespace %>-Info_Debut-inner u-Adjust_Mt-24">
            <%- include('/inc/_saikyo-plan') %>

            <section class="<%= namespace %>-Info_Plan-program u-Adjust_Mt-32 u-Adjust_Align-center">
              <div class="<%= namespace %>-Info_Plan-program-inner">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-program-family-sp-240502.png" width="686" height="389">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-program-family-pc-240502.png" width="1032" height="171" alt="最強青春プログラム" loading="lazy">
                </picture>
                <div class=" <%= namespace %>-Info_Plan-program-btn u-Adjust_Align-center">
                  <a href="<%= sitepath %>fee/family/?l-id=campaign_<%= namespace %>_fee_family" class="c-Btn_Regular"><span>詳細を見る</span></a>
                </div>
              </div>
        
              <h3 class="u-Adjust_Align-center c-Heading_Lv3 u-Adjust_Mt-32">
                0歳から22歳までは<br class="u-Show_Oxx"><span class="c-Txt_Emp-02">もーっとおトク!</span>
              </h3>
              <div class="<%= namespace %>-Info_Plan-program-flex-inner u-Adjust_Mt-8">
                <div class="<%= namespace %>-Info_Plan-program-flex-item">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-program-seisyun-sp-240502.png" width="686" height="389">
                    <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-program-seisyun-pc-240502.png" width="504" height="170" alt="最強青春プログラム" loading="lazy">
                  </picture>
                  <div class="<%= namespace %>-Info_Plan-program-flex-btn u-Adjust_Align-center">
                    <a href="<%= sitepath %>fee/youth/?l-id=campaign_<%= namespace %>_fee_youth" class="c-Btn_Regular <%= namespace %>-Info_Plan-program-flex-btn-01"><span>詳細を見る</span></a>
                  </div>
                </div>
                <div class="<%= namespace %>-Info_Plan-program-flex-item">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-program-kodomo-sp-240502.png" width="686" height="389">
                    <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-program-kodomo-pc-240502.png" width="504" height="170" alt="最強こどもプログラム" loading="lazy">
                  </picture>
                  <div class="<%= namespace %>-Info_Plan-program-flex-btn u-Adjust_Align-center">
                    <a href="<%= sitepath %>fee/kids/?l-id=campaign_<%= namespace %>_fee_kids" class="c-Btn_Regular"><span>詳細を見る</span></a>
                  </div>
                </div>
              </div>
              <p class="c-Txt_Cap u-Adjust_Align-center u-Adjust_Mt-8">※要エントリー。期間限定ポイント</p>
            </section>
          </div>
          <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
            <a href="<%= sitepath %>guide/kids-ke-tai/?l-id=campaign_<%= namespace %>_guide_kids-ke-tai" class="c-Btn_Secondly-large">お子さまのスマホデビューにもおトク詳細を見る</a>
          </div>
        </div>
      </div>
    <% } %>

      <div class="l-System_Container">
        <h2 id="product" class="c-Heading_Lv2 u-Adjust_Align-center">楽天モバイルは<br class="<%= namespace %>-Layout_Break-sp">製品購入もおトク</h2>

        <div class="c-Theme-Light u-Adjust_Align-center u-Adjust_Py-16 u-Adjust_Mt-24">
          <p class="c-Txt_Emp-01">48回払い購入で本体代が<br class="u-Show_Oox">
            <span class="c-Txt_Emp-02 top-Product_Max-txt">最大<span class="c-Txt_Normal-l">半額分支払い不要に!</span></span></p>
          <a href="<%= sitepath %>service/replacement-program/?l-id=campaign_<%= namespace %>_service_replacement-program" class="c-Link_Txt-inline">
            サービス詳細を見る<span class="c-Icon_Chevron-right"></span>
          </a>
          <p class="u-Adjust_Mt-8 c-Txt_Cap u-Align_Lcc">※ 楽天カード48回払いで、25か月目以降に製品返却で最大24回分のお支払いが不要（事務手数料3,300円が必要）。その他の条件有り。プラン申し込み無しで利用できます。</p>
        </div>
        <div class="<%= namespace %>-Product_Inc u-Adjust_Mt-32">
          <%- include('/inc/_replacement-program-product.ejs') %>
        </div>
        <div class="top-Product_Rank-bnr">
          <a href="<%= sitepath %>product/ranking/?l-id=campaign_<%= namespace %>_product_ranking" class="c-Card_Normal">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-ranking.png" width="82" height="83" loading="lazy" alt="">
            <div>
              <p class="c-Txt_Emp-02">迷って決められないあなたへ</p>
              <p class="c-Txt_Normal-m c-Txt_Emp-01">人気ランキングから探す</p>
            </div>
          </a>
        </div>
        <p class="c-Txt_Cap u-Adjust_Mt-24">*1 キャンペーンのポイントの詳細は<a href="<%= sitepath %>campaign/start-point/?l-id=campaign_<%= namespace %>_start-point#r-point">こちら</a></p>
        <p class="c-Txt_Cap">*2 ポイント、値引きの詳細は<a href="<%= sitepath %>campaign/iphone-point/?l-id=campaign_<%= namespace %>_iphone-point#detail">こちら</a></p>
        <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
          <a href="<%= sitepath %>product/?l-id=campaign_<%= namespace %>_product" class="c-Btn_Secondly-large">取り扱い製品一覧を見る</a>
        </div>

        <h2 id="faq" class="c-Heading_Lv2 nav-Pad_Default u-Adjust_Mb-16 u-Adjust_Align-center">よくあるご質問</h2>
        <div class="u-Adjust_Mt-16">
          <div class="c-Accordion">
            <button id="accordion-faq1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーン期間内に楽天モバイルに申し込みができているか、確認方法はありますか？</button>
            <div id="accordion-content-faq1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq1" aria-hidden="true">
              <p>以下2種類の方法があります。<br>
                1.お申し込み完了メールを確認する<br>
                2.「<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile">my 楽天モバイル</a>」の申し込み履歴から確認する<br>
                詳しい手順は<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001827/">こちら</a>からもご確認いただけます。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>申し込み後に、本人確認書類の不備などで再提出になった場合でもキャンペーンは適用されますか？</button>
            <div id="accordion-content-faq2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq2" aria-hidden="true">
              <p>お申し込み後に、書類の再提出などいただきお申し込みが完了できた場合は、キャンペーンが適用されます。ただし、お申し込み画面内で入力された情報と本人確認書類の内容が一致しないなどの理由で楽天モバイルが定める審査に基づき、お申し込みをキャンセルさせていただく場合、キャンペーンは適用できません。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ポイントの付与はいつになりますか？</button>
            <div id="accordion-content-faq3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq3" aria-hidden="true">
              <p>「Rakuten最強プラン」のお申し込み後、翌月末日までにすべての条件を達成した場合、利用開始期限月の3カ月後末日ごろに付与いたします。<br>
                付与されたポイントは楽天PointClubの「<a href="https://point.rakuten.co.jp/history/">ポイント実績</a>」から確認することができます。</p>
            </div>
          </div>
        </div>

        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
          <li class="c-Txt_Emp-02"><span>※</span>本キャンペーンに関してお問い合わせの際は、キャンペーンコード「2177」をお伝えください。</li>
        </ul>
        <p class="c-Txt_Emp-02"></p>

        <div class="nav-Pad_Rule" id="campaign-rule">
        <% if (information.campaignState == 'finish') { %>
          <h3 class="c-Heading_Lv3">【月刊ポピー会員限定】楽天モバイルの契約で2,000ポイントプレゼント</h3>
          <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは<%= finishSchedule %>をもちまして終了いたしました。<br>
            このページに掲載されている情報は、キャンペーン終了時点のものです。</p>
          <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2177', level: '', year: '2024', class: '' }}) %>
        <% } else { %>
          <%# else %>
          <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2177', level: 'h3', year: '2024', class: '' }}) %>
        <% } %>
        </div>

      <% if (hiddenItem == 'true') { %>
        <div class="c-Accordion">
          <button id="accordion-past-rule" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-past-rule"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>過去のキャンペーン</button>
          <div id="accordion-content-past-rule" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-past-rule" aria-hidden="true">
            <div>
              <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2177', level: 'h3', year: '2024', class: '<p class="c-Txt_Emp-01">【月刊ポピー会員限定】楽天モバイルの契約で2,000ポイントプレゼント</p>' }}) %>
            </div>
          </div>
        </div>
      <% } %>

        <div class="u-Adjust_Mt-40">
          <!-- ReX UX Survey: Mounting point for embedded components -->
          <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
        </div>
      </div>
    </div>

  <%_  if (information.campaignState !== 'finish') { _%>
    <div id="js-fixed-btn" class="<%= namespace %>-Layout_Bottom-fixed fixed-top" aria-expanded="false" role="region">
      <div class="<%= namespace %>-Layout_Bottom-fixed-inner">
        <div class="<%= namespace %>-Layout_Bottom-fixed-link-box-pc">
          <ul class="fixed-Link">
            <li><a href="#campaign-flow" class="js-scroll">キャンペーンの流れ</a></li>
            <li><a href="#campaign-app" class="js-scroll">お申し込み方法</a></li>
            <li><a href="#faq" class="js-scroll">よくあるご質問</a></li>
          </ul>
        </div>
        <div class="<%= namespace %>-Layout_Bottom-fixed-link-box-sp">
          <div class="<%= namespace %>-Layout_Bottom-fixed-link-sp">
            <ul class="fixed-Link">
              <li><a href="#campaign-flow" class="js-scroll">キャンペーンの流れ</a></li>
              <li><a href="#campaign-app" class="js-scroll">お申し込み方法</a></li>
              <li><a href="#faq" class="js-scroll">FAQ</a></li>
            </ul>
          </div>
        </div>
        <div class="<%= namespace %>-Layout_Bottom-fixed-btn-box">
          <a href="https://r10.to/hPecDC" class="c-Btn_Primary-large <%= namespace %>-Layout_Bottom-fixed-btn">アンケートに回答してエントリー</a>
          <div class="nav-Btn">
            <div class="nav-Btn_Arrow">
              <span class="c-Icon_Chevron-left"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% } %>

    <footer class="g-Footer <%= namespace %>-Layout_Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
  <script>
    (function($){
        const trigger = document.getElementById('js-trigger');
        const fixedBtn = document.getElementById('js-fixed-btn');
        function fixedBottomBtn() {
            let scrollY = window.pageYOffset;
            const triggerRect = trigger.getBoundingClientRect();
            const triggerY = scrollY + triggerRect.top;

        if ( scrollY > triggerY ) {
          fixedBtn.setAttribute('aria-expanded', 'true');
        } else {
          fixedBtn.setAttribute('aria-expanded', 'false');
        }
      }
      if( fixedBtn && trigger ) {
        window.addEventListener('scroll', fixedBottomBtn);
      }
    })();
  </script>
  <script>
    (function($){
      $(function(){
        $('.nav-Btn').on('click',function() {
          $('.nav-Btn_Arrow').toggleClass('nav-On');
          $('.<%= namespace %>-Layout_Bottom-fixed-link-sp').slideToggle();
        });
      });
    })(jQuery);
  </script>
  <script>
    (function($){
      $(function(){
        var Producturl = $(".top-Product_List .top-Product_Card-outer:nth-child(1) a").attr("href");
        var urlReplace = Producturl.replace("l-id=top_p-carousel-button_product_iphone","l-id=campaign_<%= namespace %>_product_iphone");
        $(".top-Product_List .top-Product_Card-outer:nth-child(1) a").attr("href",urlReplace);
        var Producturl2 = $(".top-Product_List .top-Product_Card-outer:nth-child(2) a").attr("href");
        var urlReplace2 = Producturl2.replace("l-id=top_p-carousel-button_product_smartphone","l-id=campaign_<%= namespace %>_product_smartphone");
        $(".top-Product_List .top-Product_Card-outer:nth-child(2) a").attr("href",urlReplace2);
      });
    })(jQuery);
  </script>
  <!-- ReX UX Survey: Config -->
  <script>
    window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
  </script>

  <!-- ReX UX Survey: Script -->
  <script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>
</body>
</html>
