<% const pagetitle = "福山市限定！スマートフォン購入で最大10,000円相当の楽天ポイントプレゼント" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<%
  const namespace = "fukuyama_city"
  const point = '13,000'
-%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '広島県福山市高齢者デジタル活用支援事業！楽天モバイルゆめタウン福山店にてエントリー＆スマートフォン購入（お申し込み・乗り換えも含む）で最大10,000円相当の楽天ポイントプレゼント！',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/fukuyama_city/fukuyama_city.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true" class="<%= namespace %>-Util_Kerning"><%= pagetitle %></li>
      </ul>
    </div>

    <div class="<%= namespace %>-Hero">
      <div class="<%= namespace %>-Hero_Title">
        <h1>
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-main-sp-230915.png" width="100%">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-main-230915.png" width="1440" height="300" alt="福山市高齢者デジタル活用支援事業　楽天モバイルゆめタウン福山店にてエントリー＆スマートフォン購入で最大10,000円相当の楽天ポイントプレゼント！">
          </picture>
        </h1>
      </div>
      <div class="l-System_Container u-Adjust_Align-center">
        <p class="<%= namespace %>-Hero_Schedule u-Adjust_Mt-24 c-Txt_Normal-m">
          <span class="c-Txt_Emp-01">【キャンペーン期間】</span><br class="<%= namespace %>-Util_Sp">
          2023年9月15日（金）開店～<br class="<%= namespace %>-Util_Sp">2023年12月14日（木）閉店
        </p>
      </div>
    </div>

    <div class="l-System_Container u-Adjust_Mt-24 c-Txt_Normal-m">
      <div class="<%= namespace %>-MainNav">
        <ul>
          <li><a href="#conditions" class="c-Link_Txt-icon-front js-scroll" data-ratid="campaign_limited-area_index-achievement-conditions" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>キャンペーンの達成条件</a></li>
          <li><a href="#flow" class="c-Link_Txt-icon-front js-scroll" data-ratid="campaign_limited-area_index-point-acquisition-flow" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>キャンペーンの流れ</a></li>
          <li><a href="#rule" class="c-Link_Txt-icon-front js-scroll" data-ratid="campaign_limited-area_index-rule" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルール</a></li>
        </ul>
      </div>
    </div>

    <div id="conditions" class="l-System_Container <%= namespace %>-Terms">
      <section class="c-Theme-Borderbox">
        <div class="u-Rat_Appear-height" data-ratid="campaign_limited-area_scroll-01_condition" data-ratevent="appear">&nbsp;</div>
        <h1 class="c-Txt_Normal-xl u-Adjust_Align-center">キャンペーンの<br class="<%= namespace %>-Util_Sp">達成条件</h1>
        <p class="<%= namespace %>-Conditions_Text u-Adjust_Mt-16 c-Txt_Normal-m">本キャンペーンには達成条件が設定されています。詳細は<a href="#rule" class="c-Link_Txt js-scroll">キャンペーンルール</a>をご確認ください。</p>
        <div class="u-Adjust_Mt-16">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-terms-sp-230915.png" width="100%">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-terms-230915.png" alt="" width="990" height="455">
          </picture>
          <p class="c-Txt_Cap u-Adjust_Mt-16 <%= namespace %>-Layout_size">※2023年12月14日（木）閉店までにエントリー、スマートフォンの購入（お申し込み・乗り換えも含む）、スマートフォン購入支援報告書のご提出をお願いします</p>
        </div>
      </section>

      <section id="flow">
        <div class="u-Rat_Appear-height" data-ratid="campaign_limited-area_scroll-04_point-acquisition-flow" data-ratevent="appear">&nbsp;</div>
        <h1 id="get-point" class="c-Txt_Normal-xl u-Adjust_Align-center u-Adjust_Mt-48 u-Adjust_Pt-0">
          キャンペーンの流れ
        </h1>

        <div class="<%= namespace %>-Step_Accordion u-Adjust_Mt-8">
          <div id="products" class="<%= namespace %>-Accordion_Card c-Accordion">
            <button type="button" id="accordion-step1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-step1">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
              <span class="<%= namespace %>-Accordion_Label">
                <span class="<%= namespace %>-Accordion_Label-step">STEP 1</span>
                <span>「楽天モバイルゆめタウン福山」に来店し、ショップスタッフに本人確認書類を提示する</span>
              </span>
            </button>
            <div id="accordion-content-step1" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Card-panel" role="region" aria-labelledby="accordion-step1" aria-hidden="true">
              <div class="l-Media_Grid">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img" style="max-width: 500px; margin: 0 auto;">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-illust-01-sp.png">
                    <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-illust-01.png" alt="" width="280" height="180">
                  </picture>
                </div>
                <div>
                  <h4 class="<%= namespace %>-Util_Pc c-Heading_Lv4 c-Txt_Emp-02">来店予約がおすすめです</h4>
                  <div class="<%= namespace %>-Flow_flex_between u-Adjust_Mt-16">
                    <p class="c-Txt_Normal-m">Webの場合</p>
                    <div class="<%= namespace %>-Flow_Btn">
                      <a href="https://network.mobile.rakuten.co.jp/shop-detail/7935/?l-id=campaign_fukuyama_city" class="c-Btn_Primary <%= namespace %>-Flow_Btn"><span class="c-Txt_Normal-m">Webで予約する</span></a>
                    </div>
                  </div>
                  <div class="<%= namespace %>-Flow_flex_between">
                    <p class="c-Txt_Normal-m">電話の場合　084-961-3203<br>
                      （予約受付時間：10:00～19:00）
                    </p>
                    <div class="<%= namespace %>-Flow_Btn">
                      <a href="<%= sitepath %>shop-detail/7935/?l-id=campaign_fukuyama_city" class="c-Btn_Regular <%= namespace %>-Flow_Btn"><span class="c-Txt_Normal-m">ショップの詳細を見る</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <h3 class="c-Heading_Lv3 u-Adjust_Mt-16">必要なもの</h3>
              <div class="<%= namespace %>-Flow_flex_between">
                <div class="u-Adjust_Pr-16">
                  <div class="<%= namespace %>-Flow_content">
                    <p class="c-Txt_Emp-01 c-Heading_Lv4">スマートフォンのみ購入の場合</p>
                    <ul class="c-List_Text-disc c-Txt_Normal-m">
                      <li>
                        本人確認書類（福山市に住んでいることがわかるもの）<br>
                        例）運転免許証、マイナンバーカードなど
                      </li>
                      <li>
                        楽天ID、パスワード<br>
                        <a href="https://grp01.id.rakuten.co.jp/rms/nid/registfwdi" class="c-Link_Txt-inline">まだ楽天会員に登録されていない方はこちら<span class="c-Icon_Chevron-right"></span></a>
                      </li>
                      <li>
                        クレジットカード・デビットカード<br>
                        スマートフォンのお支払いに必要です。<br>
                        <a href="<%= sitepath %>guide/payment/?l-id=campaign_fukuyama_city_guide_payment_1" class="c-Link_Txt-inline">詳細はこちら<span class="c-Icon_Chevron-right"></span></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="u-Adjust_Pr-16">
                  <div class="<%= namespace %>-Flow_content">
                    <p class="c-Txt_Emp-01 c-Heading_Lv4">お申し込み・乗り換えする場合</p>
                    <ul class="c-List_Text-disc c-Txt_Normal-m">
                      <li>
                        <a href="<%= sitepath %>guide/verify/?l-id=campaign_fukuyama_city_guide_verify" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a>
                      </li>
                      <li>
                        楽天ID、パスワード
                      </li>
                      <li>
                        <a href="<%= sitepath %>guide/payment/?l-id=campaign_fukuyama_city_guide/payment_2" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                      </li>
                      <li>
                        ご契約者名義の<a href="<%= sitepath %>guide/mnp/?l-id=campaign_fukuyama_city_guide_mnp" class="c-Link_Txt">MNP予約番号</a>（他社から乗り換えの場合）
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="<%= namespace %>-Accordion_Card c-Accordion">
            <button type="button" id="accordion-step2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-step2">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
              <span class="<%= namespace %>-Accordion_Label">
                <span class="<%= namespace %>-Accordion_Label-step">STEP 2</span>
                <span>エントリーする（ショップスタッフからご案内）</span>
              </span>
            </button>
            <div id="accordion-content-step2" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Card-panel" role="region" aria-labelledby="accordion-step2" aria-hidden="true">
              <div class="l-Media_Grid">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-illust-02.png" width="304" alt="">
                </div>
                <div class="<%= namespace %>-Util_text">
                  <p class="c-Txt_Normal-m c-Txt_Emp-01">ショップスタッフからご案内いたします</p>
                </div>
              </div>
            </div>
          </div>

          <div class="<%= namespace %>-Accordion_Card c-Accordion">
            <button type="button" id="accordion-step3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-step3">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
              <span class="<%= namespace %>-Accordion_Label">
                <span class="<%= namespace %>-Accordion_Label-step">STEP 3</span>
                <span>スマートフォンの購入またはお申し込み（乗り換えも含む）をする</span>
              </span>
            </button>
            <div id="accordion-content-step3" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Card-panel" role="region" aria-labelledby="accordion-step3" aria-hidden="true">

              <div class="<%= namespace %>-Flow_flex_between">
                <div class="l-Media_Image">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-illust-03.png" width="304" alt="">
                </div>
                <div>
                  <h2>スマートフォンを購入</h2>
                  <h4 class="u-Adjust_Mt-8 c-Heading_Lv4 ">iPhone</h4>
                  <div class="<%= namespace %>-Flow_Btn">
                    <a href="<%= sitepath %>product/iphone/?l-id=campaign_fukuyama_city_product_iphone" class="c-Btn_Regular <%= namespace %>-Flow_Btn u-Adjust_Mt-8"><span class="c-Txt_Normal-m">iPhone</span></a>
                  </div>
                  <h4 class="u-Adjust_Mt-24 c-Heading_Lv4">Android</h4>
                  <div class="u-Adjust_Mt-8 <%= namespace %>-Flow_flex_start">
                    <div class="<%= namespace %>-Flow_Btn u-Adjust_Mr-8">
                      <a href="<%= sitepath %>product/rakuten/?l-id=campaign_fukuyama_city_product_rakuten" class="c-Btn_Regular <%= namespace %>-Flow_Btn"><span class="c-Txt_Normal-m">Rakuten オリジナル</span></a>
                    </div>
                    <div class="<%= namespace %>-Flow_Btn u-Adjust_Mr-8">
                      <a href="<%= sitepath %>product/smartphone/?l-id=campaign_fukuyama_city_product_iphone" class="c-Btn_Regular <%= namespace %>-Flow_Btn"><span class="c-Txt_Normal-m">Android</span></a>
                    </div>
                  </div>
                  <h4 class="u-Adjust_Mt-24 c-Heading_Lv4">お申し込み（乗り換えも含む）</h4>
                  <div class="<%= namespace %>-Flow_Btn">
                    <a href="<%= sitepath %>fee/un-limit/?l-id=campaign_fukuyama_city_fee_un-limit" class="c-Btn_Regular <%= namespace %>-Flow_Btn u-Adjust_Mt-16"><span class="c-Txt_Normal-m">料金プラン詳細を見る</span></a>
                  </div>
                  <p class=" c-Txt_Cap u-Adjust_Mt-24 <%= namespace %>-Layout_size">※「楽天モバイルゆめタウン福山」でのスマートフォン購入、お申し込み・乗り換えも含む。（スマートフォン以外のアクセサリなどの製品は対象外）</p>

                </div>
              </div>
            </div>
          </div>

          <div class="<%= namespace %>-Accordion_Card c-Accordion">
            <button type="button" id="accordion-step4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-step4">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
              <span class="<%= namespace %>-Accordion_Label">
                <span class="<%= namespace %>-Accordion_Label-step">STEP 4</span>
                <span>「スマートフォン購入支援報告書」を提出（申請）する</span>
              </span>
            </button>
            <div id="accordion-content-step4" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Card-panel" role="region" aria-labelledby="accordion-step4" aria-hidden="true">
              <div class="l-Media_Grid">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-illust-04.png" width="304" alt="">
                </div>
                <div>
                  <p class="c-Txt_Normal-m">スマートフォンのみ購入の方：報告書を記入の上提出<br>
                    お申し込み（乗り換えも含む）の方：Webから申請<br>
                    <br>
                  詳細はショップスタッフからご案内いたします
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="<%= namespace %>-Flow_List-end">
            <div class="u-Adjust_Align-center">
              <div class="l-Media_Grid <%= namespace %>-Point">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-illust-05.png" width="304" alt="">
                </div>
                <div class="<%= namespace %>-Util_text">
                  <p class="c-Txt_Emp-02 c-Txt_Normal-m">最大10,000円相当の楽天ポイントGET！</p>
                  <p class="c-Txt_Normal-m u-Adjust_Mt-8">スマートフォンのご購入月の翌々月末日ごろに楽天ポイントを付与します</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div id="unlimit-vi-plan" class="u-Adjust_Mt-56">
      <%- include('/inc/_saikyo') %>
    </div>

    <div class="l-System_Container u-Adjust_Mt-56">
      <%- include('/include/_bnr-cpn-recommend-v2.ejs') %>
    </div>

    <div id="rule" class="l-System_Container u-Adjust_Mt-64">
      <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2045', level: 'h2', year: '2023', class: '' }}) %>
    </div>
  </div>

  <footer class="g-Footer <%= namespace %>-Layout_Footer u-Adjust_Mt-64">
    <div class="l-System_Container">
      <div class="c-Breadcrumbs_Foot">
        <ul>
          <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ if (typeof directories !== 'undefined') { _%>
          <%_ let dirs = []; _%>
          <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
          <%_ }) _%>
          <%_ } _%>
          <li aria-current="true" class="<%= namespace %>-Util_Kerning"><%= pagetitle %></li>
        </ul>
      </div>
    </div>
    <%- include('/include/_footer') %>
  </footer>

  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
</body>
</html>
