<% const pagetitle = "WPS機能のご利用方法（Rakuten Casa 6）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/product/casa/", label:"Rakuten Casaに関するサポート"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Rakuten Casa 6（楽天カーサ6）でWPS機能を利用する方法をご案内します。',
    noindex: false,
    pathname: filepath
  });
%>
<% const nameSpace = "rakuten-casa" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Wps">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
    <p class="u-Adjust_Mt-24">Rakuten Casa 6は、ボタン1つで簡単にお持ちの機器と接続できるWPS機能を搭載しています。</p>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-40">PCでの設定方法</h2>
    <p class="c-Txt_Cap u-Adjust_Mt-16">
      ※ macOSの方は、WPS機能が搭載されていないためご利用いただけません。<br>
      ※ バージョンや端末によって画面が異なる場合がございます。<br>
      ※ Android™ OS 8 以前のスマートフォンをご利用のお客様もWPS機能をご利用いただけます。お手持ちの端末の「設定」からWi-Fi設定、WPS接続を選択し、Rakuten Casa 6本体の「WPS」ボタンを5秒以上長押ししてください。
    </p>

    <ol class="c-Flow u-Adjust_Mt-16">
      <li>
        <h2 class="c-Heading_Lv3">1. PCのWi-Fi一覧から「Rakuten Casa 6」を選択し、「接続」を選択</h2>
        <p class="u-Adjust_Mt-16">Rakuten Casa 6のSSIDを選択し「接続」を選択すると、下記の画面が表示されます。このまま手順2に進んでください。</p>

        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/rakuten-casa/wps/img-01.png" class="c-Img_Capture" alt="">
          </div>

        </div>
      </li>
      <li>
        <h2 class="c-Heading_Lv3">2. Rakuten Casa 6本体の「WPS」ボタンを5秒以上長押し</h2>

        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/rakuten-casa/wps/img-02.png" width="300" height="434" alt="">
          </div>

        </div>
      </li>
      <li>
        <h2 class="c-Heading_Lv3">3. 「接続済み」と表示されたら設定完了</h2>

        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/rakuten-casa/wps/img-03.png" class="c-Img_Capture" alt="">
          </div>

        </div>
      </li>
    </ol>
  </div>
</div>

<div class="l-System_Container">
  <p>以上で設定は完了です。</p>
  <div class="u-Adjust_Mt-48">
    <div>
      <a class="c-Btn_Regular" href="<%= sitepath %>support/">お客様サポートトップに戻る</a>
    </div>
    <div class="u-Adjust_Mt-16">
      <a class="c-Btn_Regular" href="<%= rootpath %>">楽天モバイルトップへ</a>
    </div>
  </div>
</div>

<%- include('/include/guide/_review') %>
<%- include('/include/guide/_inquiry') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <div class="l-System_Container">
      <div class="c-Breadcrumbs_Foot">
        <ul>
          <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ if (typeof directories !== 'undefined') { _%>
          <%_ let dirs = []; _%>
          <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
              <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
              <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
          <%_ }) _%>
          <%_ } _%>
          <li aria-current="true"><%= pagetitle %></li>
        </ul>
      </div>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
