<% const pagetitle = "OPPO Band Style" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/wearable/", label:"ウェアラブル"}] -%>
<% const namespace = "wearable-detail" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: "スマートウォッチ「OPPO Band Style」の製品ご購入はこちら。価格・スペック情報・特長ほか",
    noindex: false,
    pathname: filepath
  });
%>
<% const directory = "oppo-band-style" -%>
<%# const theme = "Dark" -%>
<% const theme = "Light" -%>

<%- include('/include/_common-css-v2') %>
<%- include('/include/product/_category-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/wearable/detail/<%= namespace %>.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/smartphone/purchase-modal-drilldown.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/accessory/detail/accessory-detail.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<%- include('/include/_breadcrumbs', {
  type: 'head',
  pagetitle,
  directories,
}) %>

<div class="<%= namespace %>-Layout">
  <div class="<%= namespace %>-Layout_Hero">
    <div class="l-System_Container">
      <a href="https://www.rakuten.ne.jp/gold/rakutenmobile-store/product/accessory/apple/case/?scid=wi_ich_accy_0024cpn2109">
        <figure>
          <img class="accessory-detail-Layout_PC" src="<%= sitepath %>assets/img/accessory/bnr/bnr-detail-1032-160-221222.png" alt="楽天モバイル公式 楽天市場店ならいつでもアクセサリ全品送料無料！">
          <img class="accessory-detail-Layout_SP" src="<%= sitepath %>assets/img/accessory/bnr/bnr-detail-343-108-221222.png" alt="楽天モバイル公式 楽天市場店ならいつでもアクセサリ全品送料無料！">
        </figure>
        </a>
      <section class="<%= namespace %>-Hero u-Adjust_Mt-32">
        <div class="<%= namespace %>-Hero_Data">
          <div>
            <h1 class="co-Heading_Lv1 <%= namespace %>-Hero_Name"><img src="<%= sitepath %>assets/img/wearable/<%= directory %>/logo.svg" alt="<%= pagetitle %>"></h1>
            <p class="<%= namespace %>-Hero_Maker">OPPO</p>
            <p class="<%= namespace %>-Hero_Copy">やる気が、走り出す</p>
            <div class="product-detail-Layout_Btn-modal <%= namespace %>-Layout_Btn-main-pc">
              <a class="c-Btn_Primary" aria-disabled="true" disabled>my 楽天モバイルで購入する</a>
              <p class="c-Txt_Weight-normal c-Txt_Normal-ss" style="cursor:default">※現在my 楽天モバイルでの販売は行っておりません。</p>
            </div>
            <div class="product-detail-Layout_Btn-modal <%= namespace %>-Layout_Btn-main-pc <%= namespace %>-Layout_Btn-main_Btn-wrap">
              <a href="https://item.rakuten.co.jp/rakutenmobile-store/c/0000000181/" class="c-Btn_Primary">楽天市場で購入する</a>
            </div>
          </div>
        </div>
        <div class="<%= namespace %>-Hero_Main">
          <ul class="<%= namespace %>-Hero_Main-device c-Carousel js-main1 js-device" aria-hidden="false">
            <li><img data-lazy="<%= sitepath %>assets/img/wearable/<%= directory %>/pht-device-00.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/wearable/<%= directory %>/pht-device-01.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/wearable/<%= directory %>/pht-device-02.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/wearable/<%= directory %>/pht-device-03.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/wearable/<%= directory %>/pht-device-04.png" alt=""></li>
          </ul>
          <ul class="<%= namespace %>-Hero_Main-device c-Carousel js-main2 js-device" aria-hidden="true">
            <li><img data-lazy="<%= sitepath %>assets/img/wearable/<%= directory %>/pht-device-05.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/wearable/<%= directory %>/pht-device-06.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/wearable/<%= directory %>/pht-device-07.png" alt=""></li>
          </ul>

          <ul class="<%= namespace %>-Hero_Main-color">
            <li class="js-color js-color1" aria-current="true"><span style="background:#2A2B2B"></span></li>
            <li class="js-color js-color2" aria-current="false"><span style="background:#FFFCF7"></span></li>
          </ul>

          <ul class="<%= namespace %>-Hero_Main-thumbnail c-Carousel js-thumbnail1 js-device" aria-hidden="false">
            <li><img data-lazy="<%= sitepath %>assets/img/wearable/<%= directory %>/pht-device-00.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/wearable/<%= directory %>/pht-device-01.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/wearable/<%= directory %>/pht-device-02.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/wearable/<%= directory %>/pht-device-03.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/wearable/<%= directory %>/pht-device-04.png" alt=""></li>
          </ul>
          <ul class="<%= namespace %>-Hero_Main-thumbnail c-Carousel js-thumbnail2 js-device" aria-hidden="true">
            <li><img data-lazy="<%= sitepath %>assets/img/wearable/<%= directory %>/pht-device-05.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/wearable/<%= directory %>/pht-device-06.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/wearable/<%= directory %>/pht-device-07.png" alt=""></li>
          </ul>
        </div>
      </section>
    </div>
  </div>

  <div class="<%= namespace %>-Layout_Main">
    <div class="l-System_Container">
      <div id="price" class="accessory-detail-Price">
        <span>価格</span><span class="c-Txt_Alphanumeric-l">4,480</span><span class="c-Txt_Normal-ss">円</span>
      </div>
      <div class="product-detail-Layout_Btn-modal <%= namespace %>-Layout_Btn-main-sp">
        <a class="c-Btn_Primary" aria-disabled="true" disabled>my 楽天モバイルで購入する</a>
        <p class="c-Txt_Weight-normal c-Txt_Normal-ss" style="cursor:default">※現在my 楽天モバイルでの販売は行っておりません。</p>
      </div>
      <div class="product-detail-Layout_Btn-modal <%= namespace %>-Layout_Btn-main-sp <%= namespace %>-Layout_Btn-main_Btn-wrap">
        <a href="https://item.rakuten.co.jp/rakutenmobile-store/c/0000000181/" class="c-Btn_Primary">楽天市場で購入する</a>
      </div>
      <p class="u-Adjust_Mt-64"><a href="#spec" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>基本スペックを見る</a></p>
      <section id="feature" class="<%= namespace %>-Layout_Section u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2-rich">特長</h2>
        <div class="<%= namespace %>-Layout_Section-nav u-Adjust_Mt-32">
          <a href="#feature1" class="c-Btn_Secondly-large"><span>血中酸素レベル測定＆睡眠モニタリング</span></a>
          <a href="#feature2" class="c-Btn_Secondly-large"><span>5気圧防水＆12種類のスポーツモード</span></a>
          <a href="#feature3" class="c-Btn_Secondly-large"><span>気分で選べる2つのストラップつき</span></a>
        </div>
        <section class="<%= namespace %>-Feature u-Adjust_Mt-64" id="feature1">
          <h3 class="c-Heading_Lv3">血中酸素レベル測定＆睡眠モニタリング</h3>
          <img src="<%= sitepath %>assets/img/wearable/<%= directory %>/main-image-01.png" alt="">
          <p class="<%= namespace %>-Feature_Txt">いつでも、どこでも、体調管理に役立つパルスオキシメーターのSpO²（エスピーオーツー）を測定し、自分の健康状態を確認できます。睡眠中でも血中酸素レベルの測定が可能です。睡眠の質を確認する睡眠モニタリングという機能によって良質な睡眠を目指すことができます。</p>
        </section>
        <section class="<%= namespace %>-Feature u-Adjust_Mt-64" id="feature2">
          <h3 class="c-Heading_Lv3">5気圧防水＆12種類のスポーツモード</h3>
          <img src="<%= sitepath %>assets/img/wearable/<%= directory %>/main-image-02.png" alt="">
          <p class="<%= namespace %>-Feature_Txt">水深50m（5ATM）の耐水性とスイミングモードにより水泳時の消費カロリー、泳いだ距離やペースを記録可能。水中でも体調や運動状況を確認することができます。12種類のスポーツモードでは日常のトレーニングをサポートします。加速度センサーを搭載しているので、トレーニング時間や走った距離等を正確に把握できます。</p>
        </section>
        <section class="<%= namespace %>-Feature u-Adjust_Mt-64" id="feature3">
          <h3 class="c-Heading_Lv3">気分で選べる2つのストラップつき</h3>
          <img src="<%= sitepath %>assets/img/wearable/<%= directory %>/main-image-03.png" alt="">
          <p class="<%= namespace %>-Feature_Txt">2種類のストラップが同梱されています。スタイルストラップは金属部分と本体を一体化させる革新的な発想により、フォーマルな場でもご利用頂けます。スポーツタイプはアクティブなシーンやワークアウト時の着用に活躍します。気分に応じて付け替え可能です。</p>
        </section>
      </section>
      <section class="<%= namespace %>-Layout_Section-sub u-Adjust_Mt-64">
        <div class="<%= namespace %>-Layout_Section-sub-content">
          <div class="<%= namespace %>-Layout_Section-sub-content_Img">
            <img src="<%= sitepath %>assets/img/wearable/<%= directory %>/oppobandstyle_sellingpoint_210618-1.png" alt="">
          </div>
          <div class="<%= namespace %>-Layout_Section-sub-content-txt">
            <h4 class="c-Heading_Lv4">心拍数を確認</h4>
            <p class="u-Adjust_Mt-16">24時間リアルタイムで心拍数確認ができ、忙しい毎日でも手軽に身体の状態が確認できます。</p>
          </div>
        </div>
        <div class="<%= namespace %>-Layout_Section-sub-content u-Adjust_Mt-64">
          <div class="<%= namespace %>-Layout_Section-sub-content_Img">
            <img src="<%= sitepath %>assets/img/wearable/<%= directory %>/oppobandstyle_sellingpoint_210618-2.png" alt="">
          </div>
          <div class="<%= namespace %>-Layout_Section-sub-content-txt">
            <h4 class="c-Heading_Lv4">最大12日間使用可能</h4>
            <p class="u-Adjust_Mt-16">高性能、低消費電力のプロセッサーを採用し、充電完了時から最大12日間の使用が可能。アウトドアスポーツや長期の旅行でも安心してご利用いただけます。</p>
          </div>
        </div>
        <div class="<%= namespace %>-Layout_Section-sub-content u-Adjust_Mt-64">
          <div class="<%= namespace %>-Layout_Section-sub-content_Img">
            <img src="<%= sitepath %>assets/img/wearable/<%= directory %>/oppobandstyle_sellingpoint_210618-3.png" alt="">
          </div>
          <div class="<%= namespace %>-Layout_Section-sub-content-txt">
            <h4 class="c-Heading_Lv4">1.1インチ有機ELディスプレイ</h4>
            <p class="u-Adjust_Mt-16">くっきり鮮やかに表示されるディスプレイは時間や通知などが見やすいです。2.5Dの強化ガラスを採用し、傷つきにくいので日常使いにも安心して使用できます。</p>
          </div>
        </div>
        <div class="<%= namespace %>-Layout_Section-sub-content u-Adjust_Mt-64">
          <div class="<%= namespace %>-Layout_Section-sub-content_Img">
            <img src="<%= sitepath %>assets/img/wearable/<%= directory %>/oppobandstyle_sellingpoint_210618-4.png" alt="">
          </div>
          <div class="<%= namespace %>-Layout_Section-sub-content-txt">
            <h4 class="c-Heading_Lv4">お気に入りの文字盤を着せ替え</h4>
            <p class="u-Adjust_Mt-16">40種類以上のデザインからお好きな文字盤をお選びいただけます。自分のスタイルに合わせて、手元もコーディネートしましょう。</p>
          </div>
        </div>
      </section>
      <section class="u-Adjust_Mt-64">
        <h3 class="c-Heading_Lv3">取り扱いショップ</h3>
        <ul class="c-List_Text-disc <%= namespace %>-Layout_Section-shop-list u-Adjust_Mt-24">
          <li><a href="<%= sitepath %>shop-detail/0111/" class="c-Link_Txt">楽天モバイル 渋谷公園通り店</a></li>
          <li><a href="<%= sitepath %>shop-detail/6161/" class="c-Link_Txt">楽天モバイル 川崎ゼロゲート店</a></li>
          <li><a href="<%= sitepath %>shop-detail/6231/" class="c-Link_Txt">楽天モバイル 池袋東口店</a></li>
          <li><a href="<%= sitepath %>shop-detail/6791/" class="c-Link_Txt">楽天モバイル 仙台一番町店</a></li>
          <li><a href="<%= sitepath %>shop-detail/7291/" class="c-Link_Txt">楽天モバイル 恵比寿店</a></li>
          <li><a href="<%= sitepath %>shop-detail/7511/" class="c-Link_Txt">楽天モバイル 京都四条通店</a></li>
          <li><a href="<%= sitepath %>shop-detail/7581/" class="c-Link_Txt">楽天モバイル 福岡天神西通り店</a></li>
          <li><a href="<%= sitepath %>shop-detail/7752/" class="c-Link_Txt">楽天モバイル 六本木店</a></li>
        </ul>
      </section>
    </div>
  </div>

  <div class="<%= namespace %>-Layout_Other">
    <div class="l-System_Container">

      <%- include('/include/product/_compensation') %>

      <section class="<%= namespace %>-Layout_Section" id="spec">
        <h2 class="c-Heading_Lv2">スペック</h2>
        <dl class="c-Dl">
          <div>
            <dt>製品名</dt>
            <dd>
              OPPO Band Style
            </dd>
          </div>
          <div>
            <dt>色</dt>
            <dd>
              ブラック / バニラ
            </dd>
          </div>
          <div>
            <dt>サイズ</dt>
            <dd>
              約40.4mm x 約17.6mm (ストラップ幅：約11.45mm)<br>(心拍センサーを含めて約11.95mm)
            </dd>
          </div>
          <div>
            <dt>本体素材</dt>
            <dd>
              フロント: 2.5D曲面スクラッチ耐性強化ガラス<br>バック: PC
            </dd>
          </div>
          <div>
            <dt>ストラップ素材</dt>
            <dd>
              ・スタイルストラップ<br>
              【メタルバックル部分】ステンレススチール<br>
              【ストラップ部分】フッ素ゴムバンド+アルミ合金クラスプ<br>
              ・スポーツストラップ（ブラック）<br>
              TPUバンド+アルミ合金クラスプ<br>
            </dd>
          </div>
          <div>
            <dt>ストラップタイプ</dt>
            <dd>
              フレキシブル
            </dd>
          </div>
          <div>
            <dt>調整可能なストラップの長さ</dt>
            <dd>
              手首周り約130～205mm
            </dd>
          </div>
          <div>
            <dt>質量</dt>
            <dd>
              約10.3g
            </dd>
          </div>
          <div>
            <dt>ディスプレイ</dt>
            <dd>
              サイズ / 種類<br>
              約1.1インチ / AMOLED<br>
              <br>
              解像度<br>
              126 × 294<br>
            </dd>
          </div>
          <div>
            <dt>CPU</dt>
            <dd>
              Apollo3
            </dd>
          </div>
          <div>
            <dt>バッテリー容量</dt>
            <dd>
              約100mAh
            </dd>
          </div>
          <div>
            <dt>必要なアダプタ電源</dt>
            <dd>
              5V 200mA以上
            </dd>
          </div>
          <div>
            <dt>充電方法</dt>
            <dd>
              接触式
            </dd>
          </div>
          <div>
            <dt>最大使用時間</dt>
            <dd>
              12日間
            </dd>
          </div>
          <div>
            <dt>対応OS</dt>
            <dd>
              Android™ 6.0以上 iOS 12.0以上
            </dd>
          </div>
          <div>
            <dt>ストレージ</dt>
            <dd>
              16 MB
            </dd>
          </div>
          <div>
            <dt>Bluetooth ®</dt>
            <dd>
              Ver. 5.0
            </dd>
          </div>
          <div>
            <dt>スポーツモード</dt>
            <dd>
              屋外ランニング、屋内ランニング、有酸素運動、ウォーキング、屋外サイクリング、屋内サイクリング、エリプティカル、ローイング、クリケット、バトミントン、スイミング、ヨガ
            </dd>
          </div>
          <div>
            <dt>健康モニタリング機能</dt>
            <dd>
              血中酸素レベル継続測定、睡眠モニタリング、リアルタイム心拍数モニタリング、毎日の活動、座りすぎ防止リマインダー、呼吸運動
            </dd>
          </div>
          <div>
            <dt>防水性能</dt>
            <dd>
              5ATM
            </dd>
          </div>
          <div>
            <dt>その他の機能</dt>
            <dd>
              メッセージ通知、着信通知、呼び出し拒否、タイマー/ストップウォッチ、アラーム、天気予報、音楽再生コントロール、カメラコントロール、スマホを探す(iOS非対応)
            </dd>
          </div>
          <div>
            <dt>同梱物</dt>
            <dd>
              充電台 / クイックスタートガイド / 安全ガイド / スタイルストラップ / スポーツストラップ（ブラック）
            </dd>
          </div>
        </dl>
      </section>
      <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">お問い合わせ</h2>
      <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/inquiry/" class="c-Link_Txt-inline">メーカー別問い合わせ先一覧<span class="c-Icon_Chevron-right"></span></a></p>
    </div>
  </div>
</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">
    <%- include('/include/footer/related/_related-product-v2.ejs') %>
  </div>
  <div class="l-System_Container">
    <%- include('/include/_breadcrumbs', {
      type: 'foot',
      pagetitle,
      directories,
    }) %>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/product/_category-js') %>
<%- include('/include/_append-body') %>
<script src="<%= sitepath %>assets/js/product.purchase-modal.bundle.js?20240521"></script>
</body>
</html>
