<% const pagetitle = '【10分（標準）通話かけ放題】はじめてのお申し込み＆ご利用で最大5,000ポイントプレゼント' -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = 'tenmin-standard-free-call' -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイル「10分（標準）通話かけ放題」オプションにはじめてお申し込み＆ご利用で最大5,000円相当分をポイント還元！',
    keywords: '',
    noindex: false,
    pathname: filepath,
    browseragent: false
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/10min-standard-free-call/10min-standard-free-call.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= namespace %>-Layout_Label">
  <ul class="c-Label_List">
    <li class="c-Label_Normal">ご契約者様対象</li>
  </ul>
  <p class="<%= namespace %>-Layout_Label-point">ポイント：付与日を含めて6カ月の期間限定ポイント</p>
</div>

<div class="<%= namespace %>-Hero">
  <div class="<%= namespace %>-Hero_Main">
    <h1>
      <picture>
        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/10min-standard-free-call/img-hero-sp.png?220401">
        <img src="<%= sitepath %>assets/img/campaign/10min-standard-free-call/img-hero-pc.png?220401" width="2595" alt="【10分（標準）通話かけ放題】はじめてお申し込みで最大5,000円相当分ポイント還元5カ月連続※で毎月1,000ポイントもらえる※本オプション契約を確認できた月に対して1,000ポイント付与を最大5回実施。通話実績条件あり">
      </picture>
    </h1>
  </div>
  <div class="<%= namespace %>-Hero_Footer l-System_Container">

    <div class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-32 u-Adjust_Align-center">本キャンペーンは終了しました。</div>
    <div class="u-Adjust_Align-center u-Adjust_Mb-48">
      <a href="<%= sitepath %>service/10min-standard-free-call/?l-id=campaign_10min-standard-free-call_service_10min-standard-free-call" class="c-Btn_Regular-large" style="max-width: 380px;"><span>10分（標準）通話かけ放題<br class="<%= namespace %>-Util_Sp">の詳細を見る</span></a>
    </div>

    <div class="<%= namespace %>-Hero_Footer-period">
      <span class="c-Txt_Emp-01">【お申し込み期間】</span>
      <span>Web：2022年4月1日（金）0:00～2022年5月11日（水）8:59 / ショップ：2022年4月1日（金）開店～2022年5月10日（火）閉店</span>
    </div>

    <p class="u-Adjust_Mt-8 c-Txt_Cap">※本特典は予告なく内容の変更もしくは中止させていただく場合がございます。あらかじめご了承ください。</p>
    <p class="u-Adjust_Mt-8 c-Txt_Cap">※10分（標準）通話かけ放題は一部対象外番号あり</p>
  </div>
</div>

<div id="js-trigger"></div>

<div class="l-System_Container">
  <ul class="<%= namespace %>-Links">
    <li>
      <a href="#overview" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーン概要</a>
    </li>
    <li>
      <a href="#flow" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンの流れ</a>
    </li>
    <li>
      <a href="#rule" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルール</a>
    </li>
  </ul>
</div>

<div class="<%= namespace %>-Layout_Section <%= namespace %>-Section_List u-Adjust_Mt-24">
  <div class="l-System_Container">
    <div id="conditions" class="<%= namespace %>-Conditions">
      <div class="c-Theme-Borderbox">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンの達成条件</h2>
        <p class="<%= namespace %>-Conditions_Text u-Adjust_Mt-16">本キャンペーンには達成条件が設定されています。<a href="#rule" class="c-Link_Txt js-scroll">詳細はこちら</a>をご確認ください。</p>

        <ul class="<%= namespace %>-Conditions_List">
          <li class="c-Theme-Light">
            <h3 class="c-Heading_Lv4 u-Adjust_Align-center">「10分（標準）通話かけ放題」に<br class="<%= namespace %>-Util_Pc">はじめてお申し込み<small class="c-Txt_Normal-s">（1,100円／月）</small></h3>
            <div class="<%= namespace %>-Conditions_List-grid-img u-Adjust_Mt-8">
              <div>
                <picture>
                  <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/10min-standard-free-call/img-conditions-01-sp.png">
                  <img src="<%= sitepath %>assets/img/campaign/10min-standard-free-call/img-conditions-01.png" width="160" alt="">
                </picture>
              </div>
              <div>
                <p>現在ご契約中もしくは過去にご契約していたことがある場合は対象外となります。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※本オプションは、日割り対象外です。</p>
              </div>
            </div>
          </li>
          <li class="c-Theme-Light">
            <h3 class="c-Heading_Lv4 u-Adjust_Align-center">OS標準の電話アプリで10秒以上の音声通話</h3>
            <div class="l-Media_Grid-small u-Adjust_Mt-8">
              <div class="l-Media_Image u-Adjust_Align-center">
                <picture>
                  <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/10min-standard-free-call/img-conditions-02-sp.png">
                  <img src="<%= sitepath %>assets/img/campaign/10min-standard-free-call/img-conditions-02.png" width="80" alt="">
                </picture>
              </div>
              <div>
                <p>オプションにお申し込みした回線で、お申し込みの翌月末日23:59までに、音声通話をしてください。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※Rakuten Linkアプリからの通話は対象外となります。</p>
              </div>
            </div>
          </li>
        </ul>

        <div class="c-Accordion u-Adjust_Mt-24">
          <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>達成状況の確認方法</button>
          <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true" style="display:none;">
            <h3 class="c-Heading_Lv3">「オプションサービスの契約状態」を確認する</h3>
            <p class="u-Adjust_Mt-8">オプションサービスのご契約状態は<a href="<%= sitepath %>faq/detail/00001908/#check" class="c-Link_Txt">こちら</a>からご確認ください。</p>

            <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">「OS標準の電話アプリでの発信履歴」を確認する</h3>
            <ol class="<%= namespace %>-List_Order">
              <li>
                <h4>1. 「<a href="<%= ecarepath %>my-rakuten-mobile?l-id=campaign_10min-standard-free-call_my-rakuten-mobile">my 楽天モバイル</a>」にアクセス</h4>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※ログインができない場合は、<a href="<%= sitepath %>faq/detail/00001207/" class="c-Link_Txt">[my 楽天モバイル]ログインできません</a>をご確認ください。</p>
              </li>
              <li>
                <h4>2. メニューより「利用状況」を選択</h4>
                <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                  <img src="<%= sitepath %>assets/img/campaign/10min-standard-free-call/img-conditions-cap-01.png" width="300" alt="">
                </div>
              </li>
              <li>
                <h4>3. 「通話」タブから、期間を選択いただき「国内」の通話記録を確認</h4>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※キャンペーン適用のためには、期間内にOS標準の電話アプリで10秒以上の音声通話が必要です。</p>
                <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                  <img src="<%= sitepath %>assets/img/campaign/10min-standard-free-call/img-conditions-cap-02.png" width="300" alt="">
                </div>
                <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                  <img src="<%= sitepath %>assets/img/campaign/10min-standard-free-call/img-conditions-cap-03.png" width="300" alt="">
                </div>
              </li>
            </ol>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ポイント付与時期</button>
          <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true" style="display:none;">
            <p>「10分（標準）通話かけ放題」にお申し込みした回線で<span class="c-Txt_Emp-02">本オプション契約が確認された各月の翌々月末日頃</span>となります。</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="l-System_Container">
    <div id="overview" class="<%= namespace %>-Overview">
      <h2 class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーン概要</h2>
      <div class="c-Theme-Borderbox u-Adjust_Mt-16">
        <div class="u-Adjust_Align-center">
          <h3 class="c-Heading_Lv3">「10分（標準）通話かけ放題」</h3>
          <p class="<%= namespace %>-Overview_Lead u-Adjust_Mt-16">はじめてお申し込みで<span class="c-Txt_Emp-02">最大<strong>5</strong>カ月<strong>連続</strong><span class="c-Txt_Cap c-Txt_Emp-02">※</span><strong>1,000</strong>ポイントプレゼント！</span></p>
        </div>

        <div class="<%= namespace %>-Overview_Body">
          <h3 id="eg-get5000pt" class="<%= namespace %>-Overview_Body-txt-eg">例）最大5,000ポイントを獲得する場合</h3>
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/10min-standard-free-call/img-get5000-sp.png">
            <img src="<%= sitepath %>assets/img/campaign/10min-standard-free-call/img-get5000-pc.png" width="984" alt=""　aria-describedby="eg-get5000pt" class="u-Adjust_Mt-16">
          </picture>
          <p class="c-Txt_Cap u-Adjust_Mt-16">
            ※はじめてお申し込みから5カ月間で、本オプション契約を確認できた月に対して1,000ポイント付与を最大5回実施。はじめてお申し込みの翌月末日23:59までに、OS標準電話アプリでの10秒以上の通話が必要です。<br>
            ※ポイント付与は、本オプション契約が確認された各月の翌々月末日頃、期間限定ポイントで付与。
          </p>
        </div>

        <div class="c-Theme-Borderbox u-Adjust_Mt-32 u-Adjust_Align-center <%= namespace %>-Overview_Theme">
          <h3 class="c-Heading_Lv3">10分（標準）通話かけ放題とは</h3>
          <ul class="u-Adjust_Mt-24 <%= namespace %>-Grid_2col">
            <li>
              <h4>10分以内の国内通話が何度でもかけ放題</h4>
              <div class="u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/campaign/10min-standard-free-call/img-overview-02.png" width="229" alt="">
              </div>
              <div class="u-Adjust_Align-left">
                <p class="c-Txt_Cap u-Adjust_Mt-8">※1回あたりの通話時間が10分を超過した場合、超過分については30秒20円（税込22円）の通話料がかかります。</p>
                <p class="c-Txt_Cap">※（0180）（0570）などから始まる他社接続サービス、一部特番（188）への通話については、無料通話の対象外となります。<a href="<%= sitepath %>terms/pdf/rakuten_mobile_exception_number_list.pdf?220701" class="c-Link_Txt">対象外番号一覧</a>をご確認ください。</p>
              </div>
            </li>
            <li>
              <h4>国内でのSMSが送信し放題<span class="c-Txt_Cap">※</span></h4>
              <div class="u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/campaign/10min-standard-free-call/img-overview-03.png" width="229" alt="">
              </div>
              <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-left">※1日の送信上限があります。<a href="<%= sitepath %>service/10min-standard-free-call/#attention" class="c-Link_Txt">ご利用上の注意</a>をご確認ください。</p>
            </li>
          </ul>
          <div class="u-Adjust_Align-center u-Adjust_Mt-16">
            <a href="<%= sitepath %>service/10min-standard-free-call/?l-id=campaign_10min-standard-free-call_service_10min-standard-free-call" class="c-Btn_Regular-large" style="max-width: 380px;"><span>10分（標準）通話かけ放題<br class="<%= namespace %>-Util_Sp">の詳細を見る</span></a>
          </div>
        </div>
      </div>
    </div>

    <div id="flow" class="<%= namespace %>-Flow">
      <h2 class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンの流れ</h2>
      <div class="c-Tab js-Tab u-Adjust_Mt-24">
        <ul class="c-Tab_Items" role="tablist">
            <li class="c-Tab_Item" id="tab-menu-flow1" role="tab" aria-selected="true" aria-controls="tab-content-flow1">初めて楽天モバイルをお申し込みの場合</li>
            <li class="c-Tab_Item" id="tab-menu-flow2" role="tab" aria-selected="false" aria-controls="tab-content-flow2">楽天モバイルをご契約中の場合</li>
        </ul>
        <div class="c-Tab_Panel" id="tab-content-flow1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu-flow1">
          <div class="<%= namespace %>-Step_Accordion u-Adjust_Mt-24">
            <div class="<%= namespace %>-Accordion_Card c-Accordion">
              <button type="button" id="accordion-step-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-step-1">
                <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                <span class="<%= namespace %>-Accordion_Label">
                  <span class="<%= namespace %>-Accordion_Label-step">STEP 1</span>
                  <span>楽天モバイルと「10分（標準）通話かけ放題」のお申し込み</span>
                </span>
              </button>
              <div id="accordion-content-step-1" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Card-panel" role="region" aria-labelledby="accordion-step-1" aria-hidden="true">
                <div class="c-Theme-Borderbox u-Adjust_Mt-24">
                  <div class="l-Media_Grid">
                    <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                      <img src="<%= sitepath %>assets/img/campaign/10min-standard-free-call/img-flow-01.png" width="233" alt="">
                    </div>
                    <div>
                      <h3 class="c-Heading_Lv4">お申し込みに必要なもの</h3>
                      <ul class="c-List_Text-disc <%= namespace %>-List_Narrow u-Adjust_Mt-8">
                        <li>
                          <a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          楽天会員ID、パスワード
                        </li>
                        <li>
                          <a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          ご契約者名義の<a href="<%= sitepath %>guide/mnp/">MNP予約番号</a>（他社から乗り換えの場合）
                        </li>
                      </ul>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">
                        ※未成年の方のお申し込み方法は<a href="<%= sitepath %>flow/for-minors/" class="c-Link_Txt <%= namespace %>-Layout_Body-txt-link">こちら</a>
                      </p>
                    </div>
                  </div>
                </div>

                    <%# +++++++++++++++++++++++++++++++++++++++++ %>
                <ul class="<%= namespace %>-Links u-Adjust_Mt-24">
                  <li>
                    <a href="#applu-web" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>Webでお申し込み</a>
                  </li>
                  <li>
                    <a href="#applu-shop" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>ショップでお申し込み</a>
                  </li>
                </ul>

                <div id="applu-web" class="u-Adjust_Mt-24 <%= namespace %>-Grid_Divide">
                  <h2 class="c-Heading_Lv2">Webでお申し込み</h2>
                  <div class="<%= namespace %>-Grid_2col u-Adjust_Mt-24">
                    <div class="c-Theme-Borderbox">
                      <h4 class="c-Heading_Lv4 <%= namespace %>-Heading_Icon-front"><span class="c-Icon_New-user-f"></span>新規電話番号／他社から乗り換え（MNP）</h4>
                      <div class="u-Adjust_Align-center">
                        <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>fee/un-limit/?l-id=campaign_10min-standard-free-call_fee_un-limit" class="c-Link_Txt-inline">プラン詳細<span class="c-Icon_Chevron-right"></span></a></p>
                        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/flow/application/?l-id=campaign_10min-standard-free-call_guide_flow-application" class="c-Link_Txt-inline">お申し込み方法<span class="c-Icon_Chevron-right"></span></a></p>
                      </div>
                    </div>
                    <div class="c-Theme-Borderbox">
                      <h4 class="c-Heading_Lv4 <%= namespace %>-Heading_Icon-front"><span class="c-Icon_Paper-plane-l"></span>楽天モバイル（ドコモ・au回線）からプラン変更（移行）</h4>
                      <div class="u-Adjust_Align-center">
                        <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/migration/?l-id=campaign_10min-standard-free-call_guide_migration" class="c-Link_Txt-inline">スーパーホーダイ・組み合わせプラン（※）との比較<span class="c-Icon_Chevron-right"></span></a></p>
                        <p class="c-Txt_Cap">※2020年4月8日に受付終了のドコモ回線・au回線使用プラン</p>
                        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/mnp/migration/?l-id=campaign_10min-standard-free-call_guide_mnp-migration" class="c-Link_Txt-inline">楽天モバイル（楽天回線）への移行方法<span class="c-Icon_Chevron-right"></span></a></p>
                        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>flow/mvno-user-registration/?l-id=campaign_10min-standard-free-call_flow_mvno-user-registration" class="c-Link_Txt-inline">利用者登録でご利用中の方の移行方法<span class="c-Icon_Chevron-right"></span></a></p>
                      </div>
                    </div>
                  </div>

                  <ol class="<%= namespace %>-List_Order u-Adjust_Mt-48">
                    <li>
                      <h3>1. お申し込み画面で「プランを選択する」をタップ</h3>
                      <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/campaign/10min-standard-free-call/img-flow-cap-01.png" alt="" class="c-Img_Capture"></p>
                    </li>
                    <li>
                      <h3>2.オプションサービスの選択画面で、「10分（標準）通話かけ放題に加入する」を選択する</h3>
                      <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/campaign/10min-standard-free-call/img-flow-cap-02.png" alt="" class="c-Img_Capture"></p>
                    </li>
                    <li>
                      <h3>3. 画面の案内に沿って、お申し込みを完了する </h3>
                    </li>
                  </ol>
                </div>

                <div id="applu-shop" class="<%= namespace %>-Grid_Divide">
                  <h2 class="c-Heading_Lv2">ショップでお申し込み</h2>
                  <div class="l-Media_Grid u-Adjust_Mt-24">
                    <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                      <img src="<%= sitepath %>assets/img/campaign/10min-standard-free-call/img-flow-02.png" width="239" alt="">
                    </div>
                    <div>
                      <p>お申し込みの際に「10分（標準）通話かけ放題」オプションサービスの追加をお伝えください。</p>
                      <a href="<%= sitepath %>shop/?l-id=campaign_10min-standard-free-call_shop" class="c-Btn_Regular u-Adjust_Mt-16"><span>お近くのショップを探す</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="<%= namespace %>-Accordion_Card c-Accordion">
              <button type="button" id="accordion-step-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-step-2">
                <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                <span class="<%= namespace %>-Accordion_Label">
                  <span class="<%= namespace %>-Accordion_Label-step">STEP 2</span>
                  <span>「Rakuten UN-LIMIT VI」プラン利用開始</span>
                </span>
              </button>
              <div id="accordion-content-step-2" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Card-panel" role="region" aria-labelledby="accordion-step-2" aria-hidden="true">
                <div class="l-Media_Grid">
                  <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                    <img src="<%= sitepath %>assets/img/campaign/10min-standard-free-call/img-flow-03.png" width="123" alt="">
                  </div>
                  <div>
                    <div>
                      <a href="<%= sitepath %>faq/detail/00001648/?l-id=campaign_10min-standard-free-call_faq_detail-00001648" class="c-Btn_Regular"><span>プラン開始利用手順</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="<%= namespace %>-Accordion_Card c-Accordion">
              <button type="button" id="accordion-step-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-step-3">
                <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                <span class="<%= namespace %>-Accordion_Label">
                  <span class="<%= namespace %>-Accordion_Label-step">STEP 3</span>
                  <span>OS標準の電話アプリで10秒以上の音声通話</span>
                </span>
              </button>
              <div id="accordion-content-step-3" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Card-panel" role="region" aria-labelledby="accordion-step-3" aria-hidden="true">
                <div class="l-Media_Grid">
                  <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                    <img src="<%= sitepath %>assets/img/campaign/10min-standard-free-call/img-flow-04.png" width="140" alt="">
                  </div>
                  <div>
                    <p><span class="c-Txt_Emp-01">期限</span>：お申し込みの翌月末日23:59まで</p>
                    <p class="u-Adjust_Mt-8 c-Txt_Cap">※Rakuten Linkアプリからの通話は対象外となります。通話条件ははじめてお申し込み時のみ</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="c-Tab_Panel" id="tab-content-flow2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu-flow2">
          <div class="<%= namespace %>-Step_Accordion u-Adjust_Mt-24">
            <div class="<%= namespace %>-Accordion_Card c-Accordion">
              <button type="button" id="accordion-step-1-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-step-1-1">
                <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                <span class="<%= namespace %>-Accordion_Label">
                  <span class="<%= namespace %>-Accordion_Label-step">STEP 1</span>
                  <span>「10分（標準）通話かけ放題」のお申し込み</span>
                </span>
              </button>
              <div id="accordion-content-step-1-1" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Card-panel" role="region" aria-labelledby="accordion-step-1-1" aria-hidden="true">

                <ol class="<%= namespace %>-List_Order u-Adjust_Mt-0">
                  <li>
                    <h3 >1.「my 楽天モバイル」（アプリ／Web）より「契約プラン」を選択し、「オプションサービスの追加・解約」をタップ</h3>

                    <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/campaign/10min-standard-free-call/img-flow-cap-03.png" alt="" class="c-Img_Capture"></p>

                    <div class="c-Box_App u-Adjust_Mt-24">
                      <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt=""></div>
                      <div class="c-Box_App-txt">
                        <p class="c-Box_App-ttl">my 楽天モバイル</p>
                        <p class="u-Adjust_Mt-16">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                        <ul class="c-Box_App-link u-Adjust_Mt-16">
                          <li class="<%= namespace %>-App_Btn-store">
                            <div class="<%= namespace %>-App_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
                            <div class="<%= namespace %>-App_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
                          </li>
                          <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">my 楽天モバイルとは</a></li>
                          <li><p><a href="<%= ecarepath %>my-rakuten-mobile?l-id=campaign_10min-standard-free-call_my-rakuten-mobile" class="c-Link_Txt-inline">Webで「my 楽天モバイル」を使う<span class="c-Icon_Chevron-right"></span></a></p></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li>
                    <h3>2. 「10分（標準）通話かけ放題」のチェックボックスをONにし、ページ下部の「変更する」をタップ</h3>
                    <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/campaign/10min-standard-free-call/img-flow-cap-04.png" alt="" class="c-Img_Capture"></p>
                    <p class="u-Adjust_Mt-24">お申し込み完了後の通話・SMSから、本サービスが適用となります。</p>
                  </li>
                </ol>
              <%#***************************%>
              </div>
            </div>

            <div class="<%= namespace %>-Accordion_Card c-Accordion">
              <button type="button" id="accordion-step-2-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-step-2-2">
                <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                <span class="<%= namespace %>-Accordion_Label">
                  <span class="<%= namespace %>-Accordion_Label-step">STEP 2</span>
                  <span>OS標準の電話アプリで10秒以上の音声通話</span>
                </span>
              </button>
              <div id="accordion-content-step-2-2" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Card-panel" role="region" aria-labelledby="accordion-step-2-2" aria-hidden="true">
                <div class="l-Media_Grid">
                  <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                    <img src="<%= sitepath %>assets/img/campaign/10min-standard-free-call/img-flow-04.png" width="140" alt="">
                  </div>
                  <div>
                    <p><span class="c-Txt_Emp-01">期限</span>：お申し込みの翌月末日23:59まで</p>
                    <p class="u-Adjust_Mt-8 c-Txt_Cap">※Rakuten Linkアプリからの通話は対象外となります。通話条件ははじめてお申し込み時のみ</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="c-Theme-Borderbox <%= namespace %>-Flow_List-end">
          <div class="l-Media_Grid">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/10min-standard-free-call/img-flow-05.png" width="137" alt="">
            </div>
            <div>
              <h4 class="c-Heading_Lv4 c-Txt_Emp-02">最大5,000円相当分のポイント還元!</h4>
              <p class="u-Adjust_Mt-8">「10分（標準）通話かけ放題」のオプション契約が確認された月の翌々月末日頃に、期間限定ポイントで付与いたします。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※ 本オプション契約を確認できた月に対して1,000ポイント付与を最大5回実施</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="<%= namespace %>-Layout_Foot">
  <div class="l-System_Container">
    <div class="u-Adjust_Mt-64">
      <%- include('/include/_bnr-cpn-recommend-v2') %>
    </div>
  </div>

  <div id="rule" class="<%= namespace %>-Rule">
    <div class="l-System_Container">

      <%# 1478 rule %>
      <h2 class="c-Heading_Lv2" id="campaign-rule1478">
        【10分（標準）通話かけ放題】はじめてのお申し込み＆ご利用で最大5,000ポイントプレゼントキャンペーン
      </h2>

      <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは終了しました。</p>

      <div class="c-Table_Wrap u-Adjust_Mt-24">
        <div class="u-Adjust_Mt-24">
          <dl class="c-Dl_Origin <%= namespace %>-Dl_Rule">
            <div>
              <dt>キャンペーンコード</dt>
              <dd>
                <p>1478</p>
                <ul class="c-Txt_Cap u-Adjust_Mt-8">
                  <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                </ul>
              </dd>
            </div>
            <div>
              <dt>キャンペーン期間</dt>
              <dd>
                <p>
                  <span class="c-Txt_Emp-01">■ お申し込み期間</span><br>
                      　　　- Web　2022年4月1日（金）0:00～2022年5月11日（水）8:59<br>
                      　　　- 店舗（楽天モバイルショップ）　2022年4月1日（金）開店～2022年5月10日（火）閉店
                </p>
                <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">■ 「10分（標準）通話かけ放題」の利用期限</span><br>
                  　　　- 「10分（標準）通話かけ放題」のお申し込みの翌月末日23:59まで
                </p>
              </dd>
            </div>
            <div>
              <dt>キャンペーン条件</dt>
              <dd>
                <p class="c-Txt_Emp-02">
                  上記キャンペーン期間内に【1】、【2】、【3】の条件を満たした楽天会員の方
                </p>
                <div class="u-Adjust_Mt-16">
                  <span class="c-Txt_Emp-01">【1】「10分（標準）通話かけ放題」オプションに、はじめてのお申し込み</span><br>
                  <span class="c-Txt_Emp-01">【2】「10分（標準）通話かけ放題」オプションにお申し込みした回線で、お申し込みの翌月末日23:59までにOS標準の電話アプリを利用し10秒以上の音声通話*</span><br>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">　　*「Rakuten Link」アプリや、データ通信を使ったLINE等のIP電話アプリを利用した音声通話はキャンペーンの達成条件として適用されませんのでご注意ください</p>
                  <p class="c-Txt_Cap">　　※ キャンペーン条件の達成を確認する為、10秒以上の通話実績があることを確認します</p>
                  <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">　　※ iPhone 13 Pro Max、iPhone 13 Pro、iPhone 13、iPhone 13 mini、iPhone SE（第3世代）いずれかをご購入の場合、製品到着または店頭で購入した日の翌月末日23:59までに、【２】の条件達成で、キャンペーン適用となります。</p>
                  <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">　　※ 製品到着とは、当社に配送完了データが通知された日を指します。</p>
                </div><br>
                <span class="c-Txt_Emp-01">【3】「10分（標準）通話かけ放題」オプションの契約をしている</span>
              </dd>
            </div>
            <div>
              <dt>キャンペーン特典 （楽天ポイント）</dt>
              <dt class="<%= namespace %>_Title-sub">特典内容</dt>
              <dd>
                <p class="c-Txt_Emp-01">最大5,000ポイントプレゼント</p>
                <p class="u-Adjust_Mt-16">※ はじめての申し込みから5カ月間で、毎月キャンペーン条件【3】の達成を確認の上、達成ができた月に1,000ポイント付与を最大5回</p>
              </dd>
            </div>
            <div>
              <dt class="<%= namespace %>_Title-sub">ポイント付与日</dt>
              <dd>
                <p class="c-Txt_Emp-01">キャンペーン条件【3】が確認された月の翌々月末日ごろに付与</p>
                <p class="c-Txt_Cap u-Adjust_Mt-16">
                  ※ 例）2022年4月に申し込み後、「10分（標準）通話かけ放題」オプションを2022年4月から8月までの間利用し、各月に条件達成した場合、2022年6月から10月の間、各月の末日ごろに1,000ポイントずつ付与となります<br>
                  ※ 楽天ポイントの付与は、楽天モバイルより行います<br>
                  ※ 権利の譲渡はできません
                </p>
                <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※ iPhone 13 Pro Max、iPhone 13 Pro、iPhone 13、iPhone 13 mini、iPhone SE（第3世代）いずれかをご購入の場合、製品到着または店頭で購入した日の翌々月末ごろに付与となります。</p>
                <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※ 製品到着とは、当社に配送完了データが通知された日を指します。</p>
              </dd>
            </div>
            <div>
              <dt class="<%= namespace %>_Title-sub">ポイント有効期間</dt>
              <dd>
                <td>
                  <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-16">
                    ※ <a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt">期間限定ポイントについて</a><br>
                    ※ 有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません
                  </p>
                </td>
              </dd>
            </div>
            <div>
              <dt>特典適用対象外</dt>
              <dd>
                <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
                <p class="c-Txt_Cap u-Adjust_Mt-16">
                  ※ 当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合<br>
                  ※ 本キャンペーンの開始時点で、すでに「10分（標準）通話かけ放題」オプションをご利用の場合<br>
                  ※ 本キャンペーンの開始時点で、過去に「10分（標準）通話かけ放題」をご利用したことがあり解約されている場合<br>
                  ※ 「10分（標準）通話かけ放題」を利用されなかった場合<br>
                  ※ ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合<br>
                  ※ 当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合<br>
                  ※ そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合
                </p>
              </dd>
            </div>
            <div>
              <dt>注意事項</dt>
              <dd>
                <p class="c-Txt_Cap">
                  ※ 本キャンペーンの特典はおひとり様1度のみ。「10分（標準）通話かけ放題」をはじめてお申し込みいただいた回線に適用となります<br>
                  ※ 申し込みから5カ月間が特典対象となります<br>
                  例）4月申し込みの場合は、8月までの契約が特典対象月となります<br>
                  ※ 本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください<br>
                  ※ 本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法上・電気通信事業法上の範囲内に制限される場合があります<br>
                  ※ 本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります<br>
                  ※ 記載の内容は2022年4月1日（金）時点の情報となります
                </p>
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <div class="l-System_Container">
    <%# 過去キャンペーン rule %>
    <div class="c-Accordion u-Adjust_Mt-48" id="past-campaigns">
      <button id="accordion-past" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-past"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>過去のキャンペーン</button>
      <div id="accordion-content-past" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-past" aria-hidden="true">
        <div class="<%= namespace %>-Layout_Rule u-Adjust_Mt-0">
          <div id="campaign-rule1416" class="c-Txt_Emp-01">【10分（標準）通話かけ放題】はじめてのお申し込み＆ご利用で5,000ポイントプレゼントキャンペーン ルール</div>
          <div class="c-Table_Wrap u-Adjust_Mt-24">
            <div class="u-Adjust_Mt-24">
              <dl class="c-Dl_Origin <%= namespace %>-Dl_Rule">
                <div>
                  <dt>キャンペーンコード</dt>
                  <dd>
                    <p>1416</p>
                    <ul class="c-Txt_Cap u-Adjust_Mt-8">
                      <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン期間</dt>
                  <dd>
                    <p>
                      <span class="c-Txt_Emp-01">■ お申し込み期間</span><br>
                      　　　- Web　2022年3月8日（火）9:00～2022年3月31日（木）23:59<br>
                      　　　- 店舗（楽天モバイルショップ）　2022年3月8日（火）開店～2022年3月31日（木）閉店
                    </p>
                    <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">
                      ■ 「10分（標準）通話かけ放題」の利用期限</span><br>
                      　　　-  「10分（標準）通話かけ放題」のお申し込みの翌月末日23:59まで
                    </p>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン条件</dt>
                  <dd>
                    <p class="c-Txt_Emp-02">
                      上記キャンペーン期間内に【1】、【2】の条件を満たした楽天会員の方
                    </p>
                    <div class="u-Adjust_Mt-16">
                      <span class="c-Txt_Emp-01">【1】「10分（標準）通話かけ放題」オプションに、はじめてのお申し込み</span><br>
                      <span class="c-Txt_Emp-01">【2】「10分（標準）通話かけ放題」オプションにお申し込みした回線で、お申し込みの翌月末日23:59までにOS標準の電話アプリを利用し10秒以上の音声通話*</span><br>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">*「Rakuten Link」アプリや、データ通信を使ったLINE等のIP電話アプリを利用した音声通話はキャンペーンの達成条件として適用されませんのでご注意ください。</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※キャンペーン条件の達成を確認する為、10秒以上の通話実績があることを確認します。</p>
                      <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※ iPhone 13 Pro Max、iPhone 13 Pro、iPhone 13、iPhone 13 mini、iPhone SE（第3世代）いずれかをご購入の場合、製品到着または店頭で購入した日の翌月末日23:59までに、【２】の条件達成で、キャンペーン適用となります。</p>
                      <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※ 製品到着とは、当社に配送完了データが通知された日を指します。</p>
                    </div>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン特典 （楽天ポイント）</dt>
                  <dt class="<%= namespace %>_Title-sub">特典内容</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">5,000ポイントプレゼント</p>
                  </dd>
                </div>
                <div>
                  <dt class="<%= namespace %>_Title-sub">ポイント付与日</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">「10分（標準）通話かけ放題」オプションのお申し込みおよびOS標準の電話アプリの利用が確認された月の翌々月末日ごろに付与</p>
                    <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>例）３月にすべての条件を達成した場合には、その翌々月である５月末日ごろにポイント付与となります</p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>権利の譲渡はできません</p>
                    <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※ iPhone 13 Pro Max、iPhone 13 Pro、iPhone 13、iPhone 13 mini、iPhone SE（第3世代）いずれかをご購入の場合、製品到着または店頭で購入した日の翌々月末ごろに付与となります。</p>
                    <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※ 製品到着とは、当社に配送完了データが通知された日を指します。</p>
                  </dd>
                </div>
                <div>
                  <dt class="<%= namespace %>_Title-sub">ポイント有効期間</dt>
                  <dd>
                    <td>
                      <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
                      <ul class="u-Adjust_Mt-8">
                        <li class="c-Txt_Cap"><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a></li>
                        <li class="c-Txt_Cap"><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。</li>
                      </ul>
                    </td>
                  </dd>
                </div>
                <div>
                  <dt>特典適用対象外</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
                    <ul class="u-Adjust_Mt-16">
                      <li class="c-Txt_Cap"><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                      <li class="c-Txt_Cap"><span>※</span>現在、「10分（標準）通話かけ放題」オプションをお申し込みされている場合</li>
                      <li class="c-Txt_Cap"><span>※</span>過去に、「10分（標準）通話かけ放題」オプションをお申し込みされたことがある場合</li>
                      <li class="c-Txt_Cap"><span>※</span>「10分（標準）通話かけ放題」を利用されなかった場合</li>
                      <li class="c-Txt_Cap"><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                      <li class="c-Txt_Cap"><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                      <li class="c-Txt_Cap"><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>注意事項</dt>
                  <dd>
                    <ul>
                      <li class="c-Txt_Cap"><span>※</span>本キャンペーンの特典はおひとり様1度のみ。「10分（標準）通話かけ放題」をはじめてお申し込みいただいた回線に適用となります。</li>
                      <li class="c-Txt_Cap"><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                      <li class="c-Txt_Cap"><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法上の範囲内に制限される場合があります</li>
                      <li class="c-Txt_Cap"><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                      <li class="c-Txt_Cap"><span>※</span>記載の内容は2022年3月8日（火）時点の情報となります</li>
                    </ul>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- ReX UX Survey: Mounting point for embedded components -->
<div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-news.ejs') %>

    <%- include('/include/footer/bnr/_bnr-news.ejs') %>

  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
<!-- ReX UX Survey: Config -->
<script>
window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
</script>
<!-- ReX UX Survey: Script -->
<script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>
</body>
</html>
