<% const pagetitle = "他社から電話番号そのまま！MNP予約番号なしで乗り換えできる！MNPワンストップ" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"guide/mnp/", label:"他社からの乗り換え（MNP）"}] -%>
<% const namespace = "guide-fast-convert" -%>
<% const imgPath = "/assets/img/guide/mnp/fast-convert/" -%>

<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'MNP予約番号なしで乗り換えできる！MNPワンストップ Webで申し込みがさらに簡単に。乗り換えるなら楽天モバイル',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/guide.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/mnp/fast-convert/fast-convert.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>
<div class="l-System">

<%- include('/include/_header') %>
<%- include('/include/_breadcrumbs', {
  type: 'head',
  pagetitle,
  directories,
}) %>

<section class="<%= namespace %>-Hero">
  <h1>
    <picture>
      <source media="(max-width: <%- themeGlb.max.m %>)" srcset="<%= imgPath %>hero-sp-231204.png" width="100%">
      <img src="<%= imgPath %>hero-pc-231204.png" width="1440" height="420" alt="電話番号そのまま！MNP予約番号なしで乗り換えできる！MNPワンストップ  Webでの申し込みがさらに簡単に。乗り換えるなら楽天モバイル">
    </picture>
  </h1>
</section>

<div class="<%= namespace %>-Layout_Bg-pink u-Adjust_Pt-16 u-Adjust_Pb-40" id="js-trigger">
  <div class="l-System_Container">
    <p class="c-Txt_Cap">※ 楽天モバイルショップでのお申し込みは未対応。Webでのお申し込みのみ。※1 月額330円（税込）。その他条件有り</p>
    <div class="u-Bg_White <%= namespace %>-Layout_Saikyo-plan u-Adjust_Align-center u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
      <div>
        <p>
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>img-rakuten-saikyo-plan-sp-240221.png" width="622" height="281">
            <img src="<%= imgPath %>img-rakuten-saikyo-plan-pc-240221.png" alt="最強家族プログラムが新登場！ データ３GB（家族割引のみ適用時）※条件あり 全キャリア最安※2024年2月時点 880円/月～（税込968円～）※通話料等別" width="523" height="148">
          </picture>
        </p>
        <div class="u-Adjust_Mt-16">
          <a href="https://onboarding.mobile.rakuten.co.jp/?l-id=guide_mnp_fast-convert_guide_application01" class="c-Btn_Primary-large">
            <span>新規／乗り換え（MNP）<br class="u-Show_Oxx">お申し込み</span>
          </a>
        </div>
        <p class="c-Txt_Cap u-Adjust_Align-center u-Adjust_Mt-8">* 公平なサービス提供または環境により速度低下する場合あり ※通話料等別 ※最強家族プログラム適用条件あり</p>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/mnp/?l-id=guide_mnp_fast-convert_campaign_mnp" class="c-Banner_Hover-act">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-mnp-328-185-240315.png" width="770" height="434">
            <img src="<%= sitepath %>assets/img/bnr/bnr-mnp-1032-160-240315.png" alt="スマホそのまま乗り換え！電話番号もそのまま他社から乗り換え＆初めてお申し込みで6,000ポイントプレゼント!データ3GB（税込1,078円）x5カ月分がポイント還元で実質5カ月無料！" width="904" height="140" loading="lazy">
          </picture>
        </a>
      </div>
    </div>
    <section class="u-Adjust_Mt-24">
      <h2 class="c-Heading_Lv2 u-Adjust_Align-center">MNPワンストップとは？</h2>
      <p class="u-Adjust_Mt-16"> MNPワンストップは、他社から電話番号を変えずに乗り換えるために従来必要だった<span class="c-Txt_Emp-02">MNP予約番号の手続きが不要</span>になる制度です。 面倒なステップがなくなり、より簡単でより早く乗り換えが可能になりました。</p>
      <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※楽天モバイルショップでのお申し込みは未対応。Webでのお申し込みのみ。</p>
      <div class="u-Adjust_Mt-16">
        <picture>
          <source media="(max-width: <%- themeGlb.max.m %>)" srcset="<%= imgPath %>img-flow-sp-230526.png" width="100%">
          <img src="<%= imgPath %>img-flow-pc-230526.png" width="1032" height="424" alt="">
        </picture>
      </div>
      <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <a href="/guide/mnp/?l-id=guide_mnp_fast-convert_guide_mnp_01" class="c-Btn_Regular-large">乗り換えまでの流れを詳しく見る</a>
      </div>
      <div class="c-Accordion u-Adjust_Mt-40 <%= namespace %>-Layout_Bg-pink">
        <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1" data-ratid="guide_mnp_fast-convert_accordion" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
          MNPワンストップ対象 携帯電話会社（サービス）
        </button>
        <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
          <ul class="c-List_Text-disc u-Adjust_Ml-24">
            <li>NTTドコモ</li>
            <li>au</li>
            <li>ソフトバンク</li>
            <li>ahamo</li>
            <li>UQ mobile</li>
            <li>povo</li>
            <li>ワイモバイル</li>
            <li>LINEMO</li>
            <li>LINEモバイル</li>
            <li>ジャパネットたかた通信サービス</li>
            <li>日本通信SIM</li>
            <li>b-mobile</li>
            <li>mineo</li>
            <li>センターモバイル</li>
            <li>LPモバイル</li>
            <li>IIJmio</li>
          </ul>
        </div>
      </div>
      <p class="c-Txt_Cap u-Adjust_Mt-16">※対象外の手続きに関して、<a href="/guide/mnp/?l-id=guide_mnp_fast-convert_guide_mnp_02" class="c-Link_Txt">詳しくはこちら</a>。</p>
    </section>
  </div>
</div>

<div class="l-System_Container u-Adjust_Mt-56">
  <h2 class="c-Heading_Lv2 u-Adjust_Align-center">キャリアメール持ち運びでメールアドレスもそのまま！</h2>

  <div class="<%= namespace %>-Layout_Email u-Adjust_Mt-24">
    <div>
      <picture>
        <source media="(max-width: <%- themeGlb.max.m %>)" srcset="<%= imgPath %>img-mail-sp.png" width="100%">
        <img src="<%= imgPath %>img-mail-pc.png" width="379" height="180" alt="">
      </picture>
    </div>
    <div>
      <p>月額300円（税込330円）で今ご契約中の携帯電話会社（ドコモ／au／ソフトバンク、その他）が提供しているメールアドレスを、回線解約後も乗り換え先で引き続き利用することができます。また、クラウドで保管されているメールデータも、そのまま残すことができます。</p>
      <div class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>cm/mail_portability/?l-id=guide_mnp_fast-convert_cm_mail_portability" class="c-Link_Txt-inline">キャリアメール持ち運びサービスの詳細はこちら<span class="c-Icon_Chevron-right"></span></a>
      </div>
    </div>
  </div>

</div>

<div class="u-Bg_Monotone97 u-Adjust_Py-64 u-Adjust_Py-pc-56 u-Adjust_Mt-56">
  <div class="l-System_Container">
    <h2 class="c-Heading_Lv2 u-Adjust_Align-center">Webからのお申し込みで<br class="u-Show_Sp">即日開通!<span class="c-Txt_Cap">※1</span></h2>
    <ul class=" <%= namespace %>-Layout_List-howto">
      <li>
        <div class="u-Adjust_Align-center">
          <p class="c-Txt_Emp-02">＼ MNP予約番号の取得が不要／</p>
          <h3 class="c-Heading_Lv4">MNPワンストップ</h3>
        </div>
        <div class="u-Adjust_Mt-8">
          <picture>
            <source media="(max-width: <%- themeGlb.max.m %>)" srcset="<%= imgPath %>img-01-sp.png" width="100%">
            <img src="<%= imgPath %>img-01-pc.png" width="280" height="138" alt="">
          </picture>
        </div>
        <p class="u-Adjust_Mt-16">
          従来必要だった契約中の携帯電話会社とのやり取りが不要になり、スムーズな手続きが可能です。
        </p>
      </li>
      <li>
        <div class="u-Adjust_Align-center">
          <p class="c-Txt_Emp-02">＼ 本人確認の時間短縮／</p>
          <h3 class="c-Heading_Lv4">AIかんたん本人確認（eKYC）</h3>
        </div>
        <div class="u-Adjust_Mt-8">
          <picture>
            <source media="(max-width: <%- themeGlb.max.m %>)" srcset="<%= imgPath %>img-02-sp.png" width="100%">
            <img src="<%= imgPath %>img-02-pc.png" width="280" height="138" alt="">
          </picture>
        </div>
        <p class="u-Adjust_Mt-16">
          AIかんたん本人確認（eKYC）をご利用いただくことで、本人確認までの時間が短縮され、よりスピーディーにお手続きが可能です。
        </p>
        <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/verify/ekyc/?l-id=guide_mnp_fast-convert_guide_verify_ekyc" class="c-Link_Txt-inline">eKYCの詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
      </li>
      <li>
        <div class="u-Adjust_Align-center">
          <p class="c-Txt_Emp-02">＼ SIMの郵送不要／</p>
          <h3 class="c-Heading_Lv4">本体内蔵型のSIM（eSIM）</h3>
        </div>
        <div class="u-Adjust_Mt-8">
          <picture>
            <source media="(max-width: <%- themeGlb.max.m %>)" srcset="<%= imgPath %>img-03-sp.png" width="100%">
            <img src="<%= imgPath %>img-03-pc.png" width="280" height="138" alt="">
          </picture>
        </div>
        <p class="u-Adjust_Mt-16">
          SIMの到着を待たなくても良いので、お申し込み後、最短3分でご利用開始いただけます<span class="c-Txt_Cap">※1</span>
        </p>
        <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>product/sim/esim/?l-id=guide_mnp_fast-convert_product_sim_esim" class="c-Link_Txt-inline">eSIMの詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
      </li>
    </ul>
    <p class="c-Txt_Cap u-Adjust_Mt-16">※1 楽天モバイル対応のeSIM対応製品でアプリからeKYCで申し込んだ場合。</p>
    <div class="u-Adjust_Align-center u-Adjust_Mt-24 u-Adjust_Mt-pc-32">
      <a href="https://onboarding.mobile.rakuten.co.jp/?l-id=guide_mnp_fast-convert_guide_application02" class="c-Btn_Primary-large">
        <span>新規／乗り換え（MNP）<br class="u-Show_Oxx">お申し込み</span>
      </a>
    </div>
  </div>
</div>

<div class="l-System_Container">
  <div class="<%= namespace %>-Layout_Simulation">
    <div class="<%= namespace %>-Layout_Simulation-app">
      <div class="<%= namespace %>-Layout_Simulation-head">
        <picture>
          <source media="(max-width: <%- themeGlb.max.m %>)" srcset="<%= imgPath %>head-01-sp.png" width="310" height="150">
          <img src="<%= imgPath %>head-01-pc.png" width="600" height="102" alt="楽天モバイルに乗り換えるとこんなにおトク！いくらおトクになるのかシミュレーション！">
        </picture>
      </div>
      <div class="<%= namespace %>-Layout_Simulation-body">
        <p class="u-Align_Lcc">
          現在お使いの携帯電話会社とプラン料金を比較できます。<br class="u-Show_Pc">料金シミュレーションでどれくらい節約できるのか今すぐチェック！
        </p>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16 u-Show_Sp">
          <img src="<%= imgPath %>img-panda-03.png" width="310" height="124" alt="">
        </div>
        <div class="u-Adjust_Align-center u-Adjust_Mt-pc-16">
          <a href="<%= sitepath %>fee/simulation/?l-id=guide_mnp_fast-convert_fee_un-limit-simulation" class="c-Btn_Secondly-large <%= namespace %>-Layout_Simulation-btn"><span>料金シミュレーションをする</span></a>
        </div>
      </div>
    </div>
    <div class="<%= namespace %>-Layout_Simulation-video">
      <div class="<%= namespace %>-Layout_Simulation-video-title">
        <picture>
          <source media="(max-width: <%- themeGlb.max.m %>)" srcset="<%= imgPath %>video-txt-sp-240229.png" width="311" height="146">
          <img src="<%= imgPath %>video-txt-pc-240229.png" width="426" height="155" alt="実際に使ってみた！料金シミュレーション体験動画公開中">
        </picture>
      </div>
      <div class="<%= namespace %>-Layout_Simulation-movie">
        <div class="<%= namespace %>-Layout_Simulation-movie-frame">
          <video
            class="video-js video-js-custom"
            data-account="5068808272001"
            data-player="ahYJfhujM"
            data-embed="default"
            controls=""
            data-video-id="6350541793112"
            data-playlist-id=""
            data-application-id=""
            data-rat-media='{ "measure":true, "mediaId": "movie_simulation" }'
          ></video>
          <script src="https://players.brightcove.net/5068808272001/ahYJfhujM_default/index.min.js"></script>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="u-Adjust_Mt-64">
  <%- include('/inc/_saikyo') %>
</div>

<div class="l-System_Container u-Adjust_Mt-64">
  <%- include('/include/guide/_faq') %>
</div>

<div class="l-System_Container u-Adjust_Mt-64">
  <%- include('/include/_bnr-cpn-recommend-v2.ejs') %>
</div>

<div class="<%= namespace %>-Layout_Bottom-fixed" id="js-fixed-btn" aria-expanded="false">
  <div class="<%= namespace %>-Layout_Bottom-fixed-inner">
    <div class="<%= namespace %>-Layout_Bottom-fixed-btn">
      <div class="u-Show_Xxo" style="width:100%">
        <a href="<%= sitepath%>guide/application/?lid-r=guide_mnp_fast-convert_pc-modal_guide" class="c-Btn_Primary-large <%= namespace %>-Layout_Bottom-fixed-btn" style="margin:auto">
          <span>新規／乗り換え（MNP）お申し込み</span>
        </a>
      </div>
      <div class="u-Show_Oox" style="width:100%">
        <a href="<%= sitepath%>guide/application/?lid-r=guide_mnp_fast-convert_sp-modal_guide" class="c-Btn_Primary-large <%= namespace %>-Layout_Bottom-fixed-btn" style="margin:auto">
          <span>新規／乗り換え(MNP)</span>
        </a>
      </div>
    </div>
  </div>
</div>

<footer class="g-Footer">
  <div class="g-Footer_Aside">
    <%- include('/include/footer/related/_related-news.ejs') %>
    <%- include('/include/footer/bnr/_bnr-news.ejs') %>
  </div>
  <div class="l-System_Container">
    <%- include('/include/_breadcrumbs', {
      type: 'foot',
      pagetitle,
      directories,
    }) %>
  </div>
  <%- include('/include/_footer') %>
</footer>

</div>
<%- include('/include/_common-js') %>
<script>
function fixedBottomBtn() {
    let scrollY = window.pageYOffset;
    const trigger = document.getElementById('js-trigger');
    const fixedBtn = document.getElementById('js-fixed-btn');
    if (!fixedBtn || !trigger) return;
    const triggerRect = trigger.getBoundingClientRect();
    const triggerY = scrollY + triggerRect.top;
    if (scrollY > triggerY) {
        fixedBtn.setAttribute('aria-expanded', 'true');
    } else {
        fixedBtn.setAttribute('aria-expanded', 'false');
    }
}
window.addEventListener('scroll', fixedBottomBtn, { passive: true });
</script>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
<script src="https://r.r10s.jp/com/rat/plugin/media/main-0.2.0.js"></script>
<script type="text/javascript">
  window.RAT.MediaTracker({
    params: {
      acc: 1312,
      aid: 1,
      pgn: location.pathname,
    },
    configs: {
      measure: true,
    }
  })
</script>
</body>
</html>
