<% const pagetitle = "電話番号シェアサービス（ご利用方法）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/iphone/initial-setting/", label:"初期設定（iPhone・Apple Watch）"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルの「電話番号シェアサービス」のお申し込み方法をご案内します。「電話番号シェアサービス」は楽天回線の1つの電話番号を、iPhoneとApple Watchで共有して利用できるサービスです。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "電話番号シェアサービス（ご利用方法）" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/number-share/guide-number-share.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="l-System_Container u-Adjust_Pb-64">
  <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-right">※表記の金額はすべて税込です。</p>
  <h1 class="c-Heading_Lv1 u-Adjust_Mt-8"><%= pagetitle %></h1>
  <p class="u-Adjust_Mt-16">
    楽天回線の1つの電話番号を、iPhoneとApple Watchで共有して利用できる「電話番号シェアサービス」のお申し込み方法をご案内します。
  </p>
  <p class="u-Adjust_Mt-16">
    本オプションサービスは、楽天回線を利用しているiPhone（親回線）と、Apple Watch（Series 3以降のCellularモデル）の両方をお持ちの場合のみご加入いただけます。
  </p>
  <p class="c-Txt_Cap u-Adjust_Mt-8 c-Txt_Emp-02">
    ※iPhoneおよびApple Watchは、それぞれ最新OSにアップデートが必要となります（iOSは15.4以上）。「キャリア設定アップデート」のポップアップが表示された場合は、必ずアップデートを行ってください。
  </p>
  <div class="u-Adjust_Mt-8">
    <a class="c-Link_Txt-inline" href="<%= sitepath %>faq/detail/10000062/">iOSアップデート方法<span class="c-Icon_Chevron-right"></span></a>
  </div>
  <div class="u-Adjust_Mt-8">
    <a class="c-Link_Txt-inline" href="<%= sitepath %>faq/detail/10000360">キャリアアップデート方法<span class="c-Icon_Chevron-right"></span></a>
  </div>
  <p class="c-Txt_Cap u-Adjust_Mt-8">
    ※iOSのバージョンにより画面が異なる場合がございます。
  </p>
  <div class="u-Adjust_Mt-24">
    <a href="<%= sitepath %>service/number-share/" class="c-Link_Txt-inline">特長・サービス内容を見る<span class="c-Icon_Chevron-right"></span></a>
  </div>
  <h2 class="c-Txt_Normal-ll u-Adjust_Mt-32">お申し込み方法</h2>
  <p class="u-Adjust_Mt-16 c-Txt_Emp-02">
    お申し込みには楽天回線を使用しているiPhoneとApple Watchのペアリング設定が必要となります。ペアリングが未設定の方はお申し込み前に「<a href="<%= sitepath %>guide/apple-watch-setting/" class="c-Link_Txt">ペアリング設定</a>」を行ってください。
  </p>

  <ol class="c-Flow u-Adjust_Mt-32">
    <li>
      <h3 class="c-Heading_Lv3">1. 「Watch」アプリを起動する。</h3>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center guide-number-share-Layout">
        <img src="<%= sitepath %>assets/img/guide/number-share/flow-1-1.png" alt="" class="c-Img_Capture">
      </p>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">2. 「モバイル通信」をタップする。</h3>
      <p class="c-Txt_Cap u-Adjust_Mt-16">※Apple Watch Series 3以降のCellularモデル以外では、ナンバーシェアに対応していないため、「モバイル通信」の項目は表示されません。</p>
      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">【デュアルSIM対応のiPhoneで複数回線を利用されている場合】</p>
      <p>
        回線を追加する場合は、STEP3で表示される「モバイル通信を設定」または「新規プランを追加」をタップし、Apple Watchに追加したいプランを選択してください。<br>
        Apple Watchで使用する回線は、1回線のみ選択することができます。
      </p>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center guide-number-share-Layout">
        <img src="<%= sitepath %>assets/img/guide/number-share/flow-2-1.png" alt="" class="c-Img_Capture">
      </p>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">3. 「モバイル通信を設定」をタップし、待機する。</h3>
      <p class="c-Txt_Cap u-Adjust_Mt-16">※「モバイル通信を設定」が表示されない場合は、お手数ですが、iPhoneの再起動を行ってください。</p>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center guide-number-share-Layout_Flow-img-2 guide-number-share-Layout">
        <img src="<%= sitepath %>assets/img/guide/number-share/flow-3-1.png" alt="" class="c-Img_Capture">
        <img src="<%= sitepath %>assets/img/guide/number-share/flow-3-2.png" alt="" class="c-Img_Capture">
      </p>
    </li>
    <li>
      <h3 class="c-Heading_Lv3" id="step-4">4. 楽天IDでログインし、リダイレクトが完了するまで待機する。</h3>
      <p class="u-Adjust_Mt-16">
        楽天会員のユーザIDとパスワードを入力してログインをしてください。その後、リダイレクトが完了するまでお待ちください。
      </p>
      <p class="c-Txt_Cap u-Adjust_Mt-16">※ログインが行えない場合は「<a class="c-Link_Txt" href="<%= sitepath %>faq/detail/00001207/">[my 楽天モバイル]ログインできません</a>」をご確認ください。</p>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center guide-number-share-Layout_Flow-img-2 guide-number-share-Layout">
        <img src="<%= sitepath %>assets/img/guide/number-share/flow-4-1.png" alt="" class="c-Img_Capture">
        <img src="<%= sitepath %>assets/img/guide/number-share/flow-4-2.png" alt="" class="c-Img_Capture">
      </p>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">5. 内容を確認し、「次へ進む」をタップする。</h3>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center guide-number-share-Layout">
        <img src="<%= sitepath %>assets/img/guide/number-share/flow-5-1.png" alt="" class="c-Img_Capture">
      </p>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">6. 内容を確認し、「申し込む」をタップする。</h3>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center guide-number-share-Layout">
        <img src="<%= sitepath %>assets/img/guide/number-share/flow-6-1.png" alt="" class="c-Img_Capture">
      </p>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">7. お申し込み受付完了。</h3>
      <p class="u-Adjust_Mt-16">
        「お申し込み受付が完了しました」の画面がでたら、申し込み完了です。「閉じる」をタップしてください。
      </p>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center guide-number-share-Layout">
        <img src="<%= sitepath %>assets/img/guide/number-share/flow-7-1.png" alt="" class="c-Img_Capture">
      </p>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">8. 機内モードをON・OFFし、アンテナマークが表示されることを確認する。</h3>
        <p class="u-Adjust_Mt-16">
          Apple WatchとペアリングをしているiPhoneで機内モードのON・OFFを行ってください。
        </p>
        <p class="u-Adjust_Mt-16 u-Adjust_Align-center guide-number-share-Layout">
          <img src="<%= sitepath %>assets/img/guide/apple-watch-setting/flow-19-1.png" alt="" style="width: 300px; height: auto;">
        </p>
    </li>
  </ol>
  <p class="u-Adjust_Mt-32">
    以上でお申し込みは完了です。<br>
    初期設定を行っている場合は、画面の案内に従って設定を完了してください。
  </p>

  <div class="u-Adjust_Pt-64">
    <div><a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップにもどる</span></a></div>
    <div class="u-Adjust_Mt-16"><a href="<%= sitepath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a></div>
  </div>

</div>




<%- include('/include/guide/_review') %>
<%- include('/include/guide/_inquiry') %>
<footer class="g-Footer">
  <div class="g-Footer_Aside">
    <%- include('/include/footer/bnr/_bnr.ejs') %>
  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>

</body>
</html>
