<% const pagetitle = "過去のキャンペーン・特典" -%>
<% const namespace = "turbo-campaign-archive" %>
<% const directories = [{path: "", label:"キャンペーン"}] -%>
<%-
 include('/_header', {
    pagetitle: '過去のキャンペーン・特典 | キャンペーン',
    description: '楽天モバイルのホームルーターRakuten Turboの過去のキャンペーン・特典をご案内します。ご参加いただいたキャンペーン・特典の適用条件などをご確認いただけます。',
    noindex: false,
    pathname: filepath,
    isTurbo: true,
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/internet/turbo/campaign/archive/archive.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/internet/turbo/_prepend-body-internet') %>
  <div class="l-System">
    <%- include('/include/internet/turbo/_header', {
      pagetitle,
      directories,
    }) %>


    <section class="u-Adjust_Mt-32">
      <div class="l-System_Container">
        <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
        <p class="c-Txt u-Adjust_Mt-32">Rakuten Turboに関する過去のキャンペーンルールをご案内します。</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※キャンペーン開催時点の情報です。</p>

        <div class="u-Adjust_Mt-32">
          <div class="c-Accordion">
            <button type="button" id="accordion-1894" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1894">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
              Rakuten Turbo プラン料金1年間月額1,980円キャンペーン<br>2023年6月14日（水）9：00～2024年2月21日（木）8：59
            </button>
            <div id="accordion-content-1894" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1894" aria-hidden="true">
              <div class="c-Table_Wrap">
                <%- include('./2024/_rule-240215-1894') %>
              </div>
            </div>
          </div>

          <div class="c-Accordion">
            <button type="button" id="accordion-1635" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1635">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
              おトクなプラン料金キャンペーンルール<br>2023年1月26日（木）9：00～2023年5月10日（水）8：59
            </button>
            <div id="accordion-content-1635" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1635" aria-hidden="true">
              <div class="c-Table_Wrap">
                <%- include('./2023/_rule-230510-1635') %>
              </div>
            </div>
          </div>

          <div class="c-Accordion">
            <button type="button" id="accordion-1636" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1636">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
              契約事務手数料無料キャンペーンルール<br>2023年1月26日（木）9：00～2023年5月10日（水）8：59
            </button>
            <div id="accordion-content-1636" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1636" aria-hidden="true">
              <div class="c-Table_Wrap">
                <%- include('./2023/_rule-230510-1636') %>
              </div>
            </div>
          </div>

          <div class="c-Accordion">
            <button type="button" id="accordion-1837" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1837">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
              Rakuten TurboとRakuten UN-LIMIT VII利用開始で1,000円キャッシュバックキャンペーン<br>2023年3月10日（金）9：00～2023年5月10日（水）8：59
            </button>
            <div id="accordion-content-1837" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1837" aria-hidden="true">
              <div class="c-Table_Wrap">
                <%- include('./2023/_rule-230510-1837') %>
              </div>
            </div>
          </div>

          <div class="c-Accordion">
            <button type="button" id="accordion-1822" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1822">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
              3カ月間プラン料金割引キャンペーン<br>2023年3月10日（金）9：00～2023年5月10日（水）8：59
            </button>
            <div id="accordion-content-1822" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1822" aria-hidden="true">
              <div class="c-Table_Wrap">
                <%- include('./2023/_rule-230510-1822') %>
              </div>
            </div>
          </div>

          <div class="c-Accordion">
            <button type="button" id="accordion-1847" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1847">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
              【ショップ限定】Rakuten Turbo利用開始で6,000円キャッシュバックキャンペーン<br>2023年3月10日（金）開店 ～2023年5月9日（火）閉店
            </button>
            <div id="accordion-content-1847" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1847" aria-hidden="true">
              <div class="c-Table_Wrap">
                <%- include('./2023/_rule-230510-1847') %>
              </div>
            </div>
          </div>

          <div class="c-Accordion">
            <button type="button" id="accordion-1812" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1812">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
              Rakuten TurboとRakuten UN-LIMIT VII利用開始で10,000円キャッシュバックキャンペーン<br>2023年2月15日（水）9：00～3月10日（金）8：59
            </button>
            <div id="accordion-content-1812" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1812" aria-hidden="true">
              <div class="c-Table_Wrap">
                <%- include('./2023/_rule-230310') %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section class="l-System_Container u-Adjust_Mt-64">
      <h2 class="c-Heading_Lv2 u-Adjust_Align-center">Turboもひかりも、どちらもおトク</h2>
      <div class="u-Adjust_Mt-16">
        <%- include('/include/internet/turbo/common/_bnr', {
          orglid1: 'rmt_internet_turbo_campaign_archive_internet_turbo_campaign_six-month-free_01',
          orglid2: 'rmt_internet_turbo_campaign_archive_hikari_campaign_six-month-free_01',
          hiddenBtn: true,
        }) %>
      </div>
    </section>

    <div class="u-Adjust_Mt-24">
      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
      <%- include('/include/internet/turbo/_footer', {
        pagetitle,
        directories,
      }) %>
    </div>
  </div>

  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
  <%- include('/include/internet/turbo/_rex-survey') %>

</body>
</html>
