<div class="l-System_Container">
  <section class="u-Adjust_Mt-48">
    <h2 class="c-Heading_Lv2">楽天モバイルの保証サービスについて</h2>
    <p class="u-Adjust_Mt-16 u-Adjust_Mt-pc-8">楽天モバイルでご購入いただいた製品であれば、充実した保証サービスを受けることが出来ます。</p>
    <div class="product-warranty-service-Layout_Warranty-service u-Adjust_Mt-24">
      <a href="<%= sitepath %>service/iphone/applecare-icloud/?l-id=<%= lid %>_service_applecare-icloud" class="c-Card_Normal">
        <h3>故障紛失保証 with AppleCare Services & iCloud+</h3>
        <img class="lazyload" src="<%= sitepath %>assets/img/service/related/apple-care-240221.png" width="141" height="64" alt="" loading="lazy">
      </a>
      <a href="<%= sitepath %>service/replacement-warranty-plus/?l-id=<%= lid %>_service_replacement-warranty-plus" class="c-Card_Normal">
        <h3>スマホ交換保証プラス</h3>
        <img class="lazyload" src="<%= sitepath %>assets/img/service/related/replacement-warranty-plus-220825.png" width="244" height="91" alt="" loading="lazy">
      </a>
    </div>
  </section>
</div>
