<% const pagetitle = "Rakuten Handキャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "rakuten-hand" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '初めてRakuten UN-LIMITに申し込むと、Rakuten Handを実質1円でご購入いただけるキャンペーン実施中です。※Rakuten Linkアプリの利用が必要です。',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/rakuten-hand/rakuten-hand.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>
<div class="<%= namespace %>-Layout-Label">
      <ul class="c-Label_List <%= namespace %>-Layout-Label_List">
        <li class="c-Label_Normal">初めて申込限定</li>
        <li class="c-Label_Normal">対象製品限定</li>
        <li class="c-Label_Normal">Rakuten Link利用必要</li>
      </ul>
      <p class="<%= namespace %>-Layout-Label_point">ポイント：付与日を含めて6カ月の期間限定ポイント</p>
    </div>
<div class="<%= namespace %>-Hero_Return" id="js-trigger">
  <div class="l-System_Container <%= namespace %>-Hero_Container">
    <div class="<%= namespace %>-Hero_Main">
      <h1>
        <img src="<%= sitepath %>assets/img/campaign/rakuten-hand/hero2-pc-220701.png?220701" alt="Rakuten Hand 本体価格12,980円（税込） Rakuten UN-LIMIT VIIを初めてのお申し込み＆スマホ本体ご購入で最大12,979円相当分おトク！ 実質1円 ※Rakuten Linkアプリのご利用が必要 ※9,979円値引き、残り3,000ポイント付与はRakuten Link利用の翌々月末頃" height="460" class="<%= namespace %>-Utility_Img-pc">
        <img src="<%= sitepath %>assets/img/campaign/rakuten-hand/hero2-sp-220701.png?220701" alt="Rakuten Hand 本体価格12,980円（税込） Rakuten UN-LIMIT VIIを初めてのお申し込み＆スマホ本体ご購入で最大12,979円相当分おトク！ 実質1円 ※Rakuten Linkアプリのご利用が必要 ※9,979円値引き、残り3,000ポイント付与はRakuten Link利用の翌々月末頃" class="<%= namespace %>-Utility_Img-sp"></h1>
    </div>
  </div>
</div>

<div class="<%= namespace %>-Layout_Body">

  <div class="l-System_Container">

    <div class="c-Infobox_Standing-light u-Adjust_Mt-16 u-Adjust_Mb-40">
        <div class="c-Txt_Cap">「実質価格」とは、キャンペーンの条件達成（楽天回線を初めてお申し込み、対象製品購入、Rakuten Link利用など）により後日付与されるポイントを加味した価格であり、実際のお支払い金額とは異なります。詳しくは<a href="#campaign-rule1550" class="js-scroll c-Link_Txt">キャンペーンルール</a>をご確認ください。</div>
    </div>

    <p class="c-Txt_Emp-02 c-Txt_Normal-m u-Adjust_Align-center">ご好評により、Rakuten Handは販売を終了いたしました。</p>

    <div class="u-Adjust_Mt-64">
      <h3 class="c-Heading_Lv3 c-Txt_Normal-ll u-Adjust_Mt-16">Rakuten UN-LIMITを初めてのお申し込み＆Rakuten Handご購入で、最大12,979円相当分おトク。実質1円でご購入いただけます！</h3>
    </div>

    <p class="c-Txt_Cap u-Adjust_Mt-16">※「<a href="#campaign-rule1550">Androidスマホ/Wi-Fiルーター割引キャンペーン</a>」の特典適用対象となり「<a href="#campaign-rule1526">【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント</a>」（楽天回線を初めてお申し込みいただいた場合に限ります）が適用されて3,000ポイント還元された場合。</p>
    <p class="c-Txt_Cap">※本キャンペーンは予告なく内容の変更もしくは中止させていただく場合がございます。あらかじめご了承ください。</p>
    <p class="c-Txt_Cap">※ポイントは付与日を含めて6カ月の期間限定ポイントとなります。</p>

    <ul class="u-Adjust_Mt-24">
      <li><a href="#campaign-flow" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーン参加方法を確認する</a></li>
      <li class="u-Adjust_Mt-16"><a href="#campaign-rule1550" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルールを見る</a></li>
    </ul>

  </div>

  <div class="<%= namespace %>-Block_Products_area">
    <div class="<%= namespace %>-Block_Products_area_in u-Adjust_Pb-40 u-Adjust_Pt-32">
      <div class="u-Adjust_Align-center c-Theme-Light">
        <div class="c-Infobox_Standing-light u-Adjust_Pt-32">
          <div class="<%= namespace %>-Block_Media">
            <div class="u-Adjust_Align-center <%= namespace %>-Block_Media-left">
              <h3 class="c-Heading_Lv2 u-Adjust_Mt-8">Rakuten Hand</h3>
              <p class="u-Adjust_Mt-8"><b>ジャストサイズで、高機能。</b></p>
              <ul class="c-List_Text-disc c-Txt_Normal u-Adjust_Align-left u-Adjust_Mt-24">
                <li>スリムで軽くて持ちやすい</li>
                <li>かんたんに本格的な写真が撮れる高性能カメラ</li>
                <li>くっきり鮮やかな有機ELディスプレイ</li>
              </ul>
            </div>
            <div class="<%= namespace %>-Block_Media-right">
              <div class="u-Adjust_Align-center <%= namespace %>-Block_Media-right-imgBlock">
                <img src="<%= sitepath %>assets/img/campaign/rakuten-hand/img-rakuten-hand-01.png" width="" alt="">
              </div>
            </div>
            <div class="l-System_Container">
              <p class="c-Txt_Emp-02 c-Txt_Normal-m u-Adjust_Align-center">ご好評により、Rakuten Handは販売を終了いたしました。</p>
            </div>
          </div>
          <!-- <p class="u-Adjust_Align-center u-Adjust_Mt-32 c-Txt_Emp-02">ご好評により、現在入荷待ちとなっております。<br>販売の再開は、3月中旬以降を予定しております。</p> -->
          <div class="u-Adjust_Align-center u-Adjust_Mt-24 <%= namespace %>-Btn">
            <a href="<%= sitepath %>product/smartphone/rakuten-hand/?l-id=campaign_rakuten-hand_product_rakuten-hand" class="c-Btn_Primary-large">
              <span style="font-size:18px;">Rakuten Handの<br>詳細はこちら</span>
            </a>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※Rakuten Hand詳細ページに移動します。</p>
          </div>
        </div>
      </div>


    </div>
  </div>

  <div id="cm-movie" class="l-System_Container u-Adjust_Mt-24">
    <div style="position: relative; display: block;"><div style="padding-top: 56.25%;"><iframe src="https://players.brightcove.net/5068808272001/default_default/index.html?videoId=6215032064001" title="イニエスタHandしちゃった編" allowfullscreen="" allow="encrypted-media" style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"></iframe></div></div>
  </div>

  <div class="l-System_Container u-Adjust_Mt-56">
    <div id="campaign-flow">
      <h3 class="c-Heading_Lv3">キャンペーン参加方法</h3>
    </div>

    <div class="c-Tab js-Tab u-Adjust_Mt-16">
      <ul class="c-Tab_Items" role="tablist">
        <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">Webで購入</li>
        <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">ショップで購入</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
        <h4 class="c-Heading_Lv3 u-Adjust_Mt-16">実質1円相当で購入するための3つのステップ</h4>
        <div class="u-Adjust_Pt-16 u-Adjust_Pb-16">
          <img src="<%= sitepath %>assets/img/campaign/rakuten-hand/img-three-step-new-pc.png" width="" alt="" class="<%= namespace %>-Utility_Img-pc">
          <img src="<%= sitepath %>assets/img/campaign/rakuten-hand/img-three-step-new-sp.png" width="" alt="" class="<%= namespace %>-Utility_Img-sp">
        </div>


        <div class="<%= namespace %>-Step_Accordion u-Adjust_Mt-8">
          <div class="<%= namespace %>-Accordion_Card c-Accordion">
            <button type="button" id="accordion-step-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-step-1">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
              <span class="<%= namespace %>-Accordion_Label">
                <span class="<%= namespace %>-Accordion_Label-step">STEP 1</span>
                <span>楽天モバイル（楽天回線）の申し込みと、製品の購入を行う</span>
              </span>
            </button>
            <div id="accordion-content-step-1" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Card-panel" role="region" aria-labelledby="accordion-step-1" aria-hidden="true">
              <p class="c-Txt_Emp-02 u-Adjust_Align-center u-Adjust_Mr-8 rakuten-hand-Layout-PcDisplay c-Heading_Lv4">STEP1</p><br class="rakuten-hand-Layout-PcDisplay">
              <div class="<%= namespace %>-Flow_List-detail">
                <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                  <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                    <img src="<%= sitepath %>assets/img/campaign/rakuten-hand/img-new-step01.png" width="" alt="">
                  </div>
                  <div>
                    <p>Webよりお申し込みを完了させてください。</p>
                    <p class="u-Adjust_Mt-24">
                      <a href="<%= sitepath %>fee/un-limit/" class="c-Link_Txt-icon">Rakuten UN-LIMIT VIIの詳細を見る<span class="c-Icon_Chevron-right"></span></a>
                    </p>
                  </div>
                </div>
              </div>

              <div class="c-Accordion u-Adjust_Mt-16">
                <button id="accordion-1-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten UN-LIMIT VIIと製品を購入する方法を見る</button>
                <div id="accordion-content-1-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1-1" aria-hidden="true">
                  <p class="u-Adjust_Mt-8 c-Txt_Emp-02">「新規電話番号／他社から乗り換え（MNP）お申し込み」のフローになります。</p>
                  <ul class="rakuten-hand-Flow_List">
                    <li class="c-Theme-Light" style="border:none;">
                      <h3 class="c-Heading_Lv4">お申し込み・お支払いに必要なものを準備する</h3>
                      <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-16">
                        <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                          <p class="u-Adjust_Align-center u-Adjust_Mt-16"><img src="<%= sitepath %>assets/img/campaign/rakuten-hand/img-new-04.png" width="" alt=""></p>
                        </div>
                        <div>
                          <p class="u-Adjust_Mt-16">ご契約・お支払いに必要なものをご用意ください。</p>
                          <ul class="<%= namespace %>-Flow_List-link <%= namespace %>-Block_List c-List_Text-disc u-Adjust_Mt-16">
                            <li>
                              <a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-icon">本人確認書類<span class="c-Icon_Chevron-right"></span></a>
                            </li>
                            <li class="u-Adjust_Mt-16">
                              <p>楽天会員ログイン用のユーザID、パスワード</p>
                              <p class="c-Txt_Emp-02 c-Txt_Normal-s u-Adjust_Mt-8">※本人確認書類の情報と、楽天会員情報が一致している必要があります。</p>
                              <p class="u-Adjust_Mt-8">
                                <a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Link_Txt-icon">楽天会員情報を確認・変更する<span class="c-Icon_Chevron-right"></span></a>
                              </p>
                            </li>
                            <li class="u-Adjust_Mt-16">
                              <a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-icon">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                              <p class="c-Txt_Cap u-Adjust_Mt-16">
                                ※ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="<%= sitepath %>faq/detail/00001238/">こちらのご案内ページ</a>を必ず事前にご確認ください。
                              </p>
                            </li>
                            <li class="u-Adjust_Mt-16">
                              <a href="<%= sitepath %>guide/mnp/" class="c-Link_Txt-icon">ご契約者本人名義のMNP予約番号（他社から乗り換えの場合）<span class="c-Icon_Chevron-right"></span></a>

                              <p class="c-Txt_Cap u-Adjust_Mt-8">
                                ※未成年者の方のお申し込みに必要な情報、お申し込み方法は<a href="<%= sitepath %>flow/for-minors/">こちらのご案内ページ</a>をご確認ください。<br>
                              </p>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li class="c-Theme-Light" style="border:none;">
                      <h3 class="c-Heading_Lv4 u-Adjust_Pt-16">Rakuten Handの詳細ページへ移動し、「購入する」ボタンを押す</h3>
                      <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-16">
                        <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                          <p class="u-Adjust_Align-center u-Adjust_Mt-16"><img src="<%= sitepath %>assets/img/campaign/rakuten-hand/img-new-05.png" width="228" alt=""></p>
                        </div>
                        <div>
                          <p class="u-Adjust_Mt-16">Rakuten Handの詳細ページに移動し、ページ内の「購入するボタン」を押してください。</p>
                          <p class="u-Adjust_Mt-16">画面の案内に従って製品選択後、ポップアップ内下部の「続けてプラン選択へ進む」を押し、Rakuten UN-LIMIT VIIのお申し込み手続きを行ってください。</p>
                          <!-- <p class="u-Adjust_Align-center u-Adjust_Mt-32 c-Txt_Emp-02">ご好評により、現在入荷待ちとなっております。<br>販売の再開は、3月中旬以降を予定しております。</p> -->
                          <div class="u-Adjust_Align-center u-Adjust_Mt-24 <%= namespace %>-Btn">
                            <a href="<%= sitepath %>product/smartphone/rakuten-hand/?l-id=campaign_rakuten-hand_product_rakuten-hand" class="c-Btn_Primary-large">
                              <span style="font-size:18px;">Rakuten Handの<br>詳細はこちら</span>
                            </a>
                            <p class="c-Txt_Cap u-Adjust_Mt-8">※Rakuten Hand詳細ページに移動します。</p>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>

                </div>
              </div>
              <div class="c-Accordion">
                <button id="accordion-1-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイル（ドコモ・au回線）から移行する方法を見る</button>
                <div id="accordion-content-1-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1-2" aria-hidden="true">
                  <p class="u-Adjust_Mt-8 c-Txt_Emp-02">「楽天モバイル（ドコモ・au回線）からのプラン変更（移行）お申し込み」のフローになります。</p>
                  <div class="<%= namespace %>-Block_Innercont u-Adjust_Mt-16">
                    <div class="<%= namespace %>-Block_Innercont-left c-Theme-Light">
                      <h3 class="c-Heading_Lv4">お申し込み・お支払いに必要なものを準備する</h3>
                      <p class="u-Adjust_Align-center u-Adjust_Mt-16"><img src="<%= sitepath %>assets/img/campaign/rakuten-hand/img-new-04.png" width="" alt=""></p>
                      <p class="u-Adjust_Mt-16">ご契約・お支払いに必要なものをご用意ください。</p>
                      <ul class="<%= namespace %>-Flow_List-link <%= namespace %>-Block_List c-List_Text-disc u-Adjust_Mt-16">
                        <li class="u-Adjust_Mt-16">
                          <p>楽天会員ログイン用のユーザID、パスワード</p>
                          <p class="c-Txt_Emp-02 c-Txt_Normal-s u-Adjust_Mt-8">※本人確認書類の情報と、楽天会員情報が一致している必要があります。</p>
                          <p class="u-Adjust_Mt-8">
                            <a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Link_Txt-icon">楽天会員情報を確認・変更する<span class="c-Icon_Chevron-right"></span></a>
                          </p>
                        </li>
                        <li class="u-Adjust_Mt-16">
                          <a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-icon">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                          <p class="c-Txt_Cap u-Adjust_Mt-16">
                            ※ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="<%= sitepath %>faq/detail/00001238/">こちらのご案内ページ</a>を必ず事前にご確認ください。
                          </p>
                        </li>
                      </ul>
                    </div>
                    <div class="<%= namespace %>-Block_Innercont-right c-Theme-Light">
                      <h3 class="c-Heading_Lv4">WebサイトでRakuten UN-LIMIT VIIと製品を購入する</h3>
                      <p class="u-Adjust_Align-center u-Adjust_Mt-16"><img src="<%= sitepath %>assets/img/campaign/rakuten-hand/img-new-06.png" width="" alt=""></p>
                      <p class="u-Adjust_Mt-16">メンバーズステーションより、移行のお申し込みを行ってください。楽天回線へのお申し込み完了後、引き続きRakuten UN-LIMIT VIIのお申し込みにお進みいただきます。</p>
                      <p class="u-Adjust_Mt-24">画面の案内に従って、Rakuten UN-LIMIT VIIのお申し込みと製品（Rakuten Hand）の購入手続きを行ってください。</p>
                      <p class="u-Adjust_Align-center u-Adjust_Mt-24">
                        <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&mno_migration=1" class="c-Btn_Primary-large"><span>メンバーズステーションに進む</span></a>
                      </p>
                      <p>
                        <a href="<%= sitepath %>guide/mnp/migration/" class="c-Link_Txt-icon u-Adjust_Mt-16">楽天モバイル（楽天回線）への移行方法を確認する<span class="c-Icon_Chevron-right"></span></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="c-Theme-Borderbox <%= namespace %>-Flow_List-end">
          <h3 class="c-Heading_Lv4">お申し込み完了</h3>
          <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-16">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/rakuten-hand/img-new-01.png" width=""  alt="">
            </div>
            <div>
              <p>本人確認の審査が完了次第、製品を発送させていただきます。本人確認の審査状況、発送状況は「my 楽天モバイル」でご確認いただけます。</p>

              <p class="u-Adjust_Mt-8"> 楽天モバイル」でご確認いただけます。</p>
              <div class="u-Adjust_Align-left u-Adjust_Mt-24">
                <a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile" class="c-Btn_Regular <%= namespace %>-Flow_List-in-btn"><span>my 楽天モバイル</span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="<%= namespace %>-Accordion_Card c-Accordion u-Adjust_Mt-16">
          <button type="button" id="accordion-step-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-step-2">
            <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
            <span class="<%= namespace %>-Accordion_Label">
              <span class="<%= namespace %>-Accordion_Label-step">STEP 2</span>
              <span>製品到着後、初期設定を行いご利用開始</span>
            </span>
          </button>
          <div id="accordion-content-step-2" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Card-panel" role="region" aria-labelledby="accordion-step-2" aria-hidden="true">
            <p class="c-Txt_Emp-02 u-Adjust_Align-center u-Adjust_Mr-8 rakuten-hand-Layout-PcDisplay c-Heading_Lv4">STEP2</p><br class="rakuten-hand-Layout-PcDisplay">
            <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-16">
              <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                <img src="<%= sitepath %>assets/img/campaign/rakuten-hand/img-new-step02.png" width="248" alt="">
              </div>
              <div>
                <p>製品がお手元に届きましたら、初期設定を行い、ご利用を開始してください。</p>
                <div class="u-Adjust_Align-left u-Adjust_Mt-16">
                  <a href="<%= sitepath %>product/smartphone/rakuten-hand/support/setting/" class="c-Btn_Regular <%= namespace %>-Flow_List-in-btn"><span>Rakuten Handの初期設定方法を確認</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="<%= namespace %>-Accordion_Card c-Accordion u-Adjust_Mt-16">
          <button type="button" id="accordion-step-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-step-3">
            <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
            <span class="<%= namespace %>-Accordion_Label">
              <span class="<%= namespace %>-Accordion_Label-step">STEP 3</span>
              <span>Rakuten Linkアプリを利用する</span>
            </span>
          </button>
          <div id="accordion-content-step-3" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Card-panel" role="region" aria-labelledby="accordion-step-3" aria-hidden="true">
            <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-16">
              <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                <img src="<%= sitepath %>assets/img/campaign/rakuten-hand/img-new-02.png" width="230"  alt="">
              </div>
              <div>
                <p>「Rakuten UN-LIMIT VII」お申し込み及びRakuten Handご購入の翌月末日23:59までに、「Rakuten Link」を用いた発信で10秒以上の通話<s>、メッセージ送信をそれぞれ1回以上</s>を行ってください。（2021年6月1日（火）0:00より、「Rakuten Link」ご利用の条件を変更しました）</p>
                <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※Rakuten Linkのご利用が最大12,979円相当分付与の条件となります。</p>
              </div>
            </div>
          </div>
        </div>

        <div class="c-Theme-Borderbox <%= namespace %>-Flow_List-end">
          <div class="l-Media_Grid">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/rakuten-hand/img-step-point.png" width="304" alt="">
            </div>
            <div>
              <h4 class="c-Heading_Lv4 c-Txt_Emp-02">最大12,979円相当分おトク！</h4>
              <p class="u-Adjust_Mt-8">「Rakuten UN-LIMIT VII」の開通および「Rakuten Link」の利用が確認された月の翌々月末までに最大12,979円相当分を付与いたします。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※ ポイントは付与日を含めて6カ月の期間限定ポイントとなります。</p>

              <ul class="rakuten-hand-Flow">
                <li class="c-Theme-Light u-Adjust_Mt-40 u-Adjust_Align-center rakuten-hand-Flow_List">
                  <p class="c-Heading_Lv4">【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼントキャンペーン適用で</p>
                  <div class="rakuten-hand-Flow_List-2block-wrap">
                    <div class="rakuten-hand-Layout-Benefit_Item-point">
                      <div class="rakuten-hand-Flow_List-2block-txt">3,000ポイント</div>
                    </div>
                    <a href="#campaign-rule1526" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>詳しくはこちら</a>
                  </div>
                </li>

                <li class="c-Theme-Light u-Adjust_Mt-40 u-Adjust_Align-center rakuten-hand-Flow_List">
                  <p class="c-Heading_Lv4">Androidスマホ/Wi-Fiルーター割引キャンペーン適用で</p>
                  <div class="rakuten-hand-Flow_List-2block-wrap">
                    <div class="rakuten-hand-Layout-Benefit_Item-point">
                      <div class="rakuten-hand-Flow_List-2block-txt">9,979円値引き</div>
                    </div>
                    <a href="#campaign-rule1550" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>詳しくはこちら</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
        <div class="c-Theme-Borderbox u-Adjust_Mt-16">
          <div class="l-Media_Grid">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/rakuten-hand/img-new-03.png" width="" alt="">
            </div>
            <div>
              <h4 class="c-Heading_Lv4 c-Txt_Emp-02">ショップで楽天モバイルのお申し込みと製品を購入する</h4>
              <p>楽天モバイルショップにて、楽天モバイルのお申し込みとRakuten Handの購入手続きを行ってください。</p>
              <div class="u-Adjust_Align-left u-Adjust_Mt-32">
                <a href="<%= sitepath %>shop/" class="c-Btn_Regular <%= namespace %>-Flow_List-in-btn"><span>お近くのショップを探す</span></a>
              </div>
            </div>
          </div>

          <div class="c-Accordion u-Adjust_Mt-16">
            <button id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>新規契約時に必要なものを確認する</button>
            <div id="accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-5" aria-hidden="true">
              <p class="u-Adjust_Mt-16">ご契約・お支払いに必要なものをご用意ください。</p>
              <ul class="<%= namespace %>-Flow_List-link <%= namespace %>-Block_List c-List_Text-disc u-Adjust_Mt-16">
                <li>
                  <a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-icon">本人確認書類<span class="c-Icon_Chevron-right"></span></a>
                </li>
                <li class="u-Adjust_Mt-16">
                  <p>楽天会員ログイン用のユーザID、パスワード</p>
                  <p class="c-Txt_Emp-02 c-Txt_Normal-s u-Adjust_Mt-8">※本人確認書類の情報と、楽天会員情報が一致している必要があります。</p>
                  <p class="u-Adjust_Mt-8">
                    <a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Link_Txt-icon">楽天会員情報を確認・変更する<span class="c-Icon_Chevron-right"></span></a>
                  </p>
                </li>
                <li class="u-Adjust_Mt-16">
                  <a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-icon">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                  <p class="c-Txt_Cap u-Adjust_Mt-16">
                    ※ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="<%= sitepath %>faq/detail/00001238/">こちらのご案内ページ</a>を必ず事前にご確認ください。
                  </p>
                </li>
                <li class="u-Adjust_Mt-16">
                  <a href="<%= sitepath %>guide/mnp/" class="c-Link_Txt-icon">ご契約者本人名義のMNP予約番号（他社から乗り換えの場合）<span class="c-Icon_Chevron-right"></span></a>
                </li>
              </ul>
              <p class="c-Txt_Cap u-Adjust_Mt-16">
                ※楽天モバイル（ドコモ回線・au回線）からの移行お申し込みをご希望のお客様は、メンバーズステーショントップページの「MNP予約番号発行・確認」をタップし、MNP予約番号を発行してください。MNP予約番号発行手数料は発生しません。
              </p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">
                ※未成年者の方のお申し込みに必要な情報、お申し込み方法は<a href="<%= sitepath %>flow/for-minors/">こちらのご案内ページ</a>をご確認ください。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">
                ※Webページにて、楽天モバイル（ドコモ回線・au回線）から移行お手続き後に、Rakuten UN-LIMIT VIIにお申し込みいただく場合、MNP予約番号と本人確認書類はご準備不要です。</p>
            </div>
          </div>
        </div>

        <div class="c-Theme-Borderbox <%= namespace %>-Flow_List-end">
          <h4 class="c-Heading_Lv4">Rakuten Linkアプリを利用する</h4>
          <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-16">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/rakuten-hand/img-new-02.png" width="230"  alt="">
            </div>
            <div>
              <p>「Rakuten UN-LIMIT VII」お申し込み及びRakuten Handご購入の翌月末日23:59までに、「Rakuten Link」を用いた発信で10秒以上の通話<s>、メッセージ送信をそれぞれ1回以上</s>を行ってください。（2021年6月1日（火）0:00より、「Rakuten Link」ご利用の条件を変更しました）</p>
              <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※Rakuten Linkのご利用が最大12,979円相当分付与の条件となります。</p>
            </div>
          </div>
        </div>

        <div class="c-Theme-Borderbox <%= namespace %>-Flow_List-end">
          <div class="l-Media_Grid">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/rakuten-hand/img-step-point.png" width="304" alt="">
            </div>
            <div>
              <h4 class="c-Heading_Lv4 c-Txt_Emp-02">最大12,979円相当分おトク！</h4>
              <p class="u-Adjust_Mt-8">「Rakuten UN-LIMIT VII」の開通および「Rakuten Link」の利用が確認された月の翌々月末までに最大12,979円相当分を付与いたします。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※ ポイントは付与日を含めて6カ月の期間限定ポイントとなります。</p>

              <ul class="rakuten-hand-Flow">
                <li class="c-Theme-Light u-Adjust_Mt-40 u-Adjust_Align-center rakuten-hand-Flow_List">
                  <p class="c-Heading_Lv4">【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼントキャンペーン適用で</p>
                  <div class="rakuten-hand-Flow_List-2block-wrap">
                    <div class="rakuten-hand-Layout-Benefit_Item-point">
                      <div class="rakuten-hand-Flow_List-2block-txt">3,000ポイント</div>
                    </div>
                    <a href="#campaign-rule1526" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>詳しくはこちら</a>
                  </div>
                </li>

                <li class="c-Theme-Light u-Adjust_Mt-40 u-Adjust_Align-center rakuten-hand-Flow_List">
                  <p class="c-Heading_Lv4">Androidスマホ/Wi-Fiルーター割引キャンペーン適用で</p>
                  <div class="rakuten-hand-Flow_List-2block-wrap">
                    <div class="rakuten-hand-Layout-Benefit_Item-point">
                      <div class="rakuten-hand-Flow_List-2block-txt">9,979円値引き</div>
                    </div>
                    <a href="#campaign-rule1550" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>詳しくはこちら</a>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>

      <p class=" u-Adjust_Mt-24 c-Txt_Cap"><a href="#campaign-rule1550" class="js-scroll c-Link_Txt">キャンペーンルール</a>をご確認のうえ、ご購入ください。</p>
      <!-- <p class="u-Adjust_Align-center u-Adjust_Mt-32 c-Txt_Emp-02">ご好評により、現在入荷待ちとなっております。<br>販売の再開は、3月中旬以降を予定しております。</p> -->
      <div class="u-Adjust_Align-center u-Adjust_Mt-24 <%= namespace %>-Btn">
        <a href="<%= sitepath %>product/smartphone/rakuten-hand/?l-id=campaign_rakuten-hand_product_rakuten-hand" class="c-Btn_Primary-large">
          <span style="font-size:18px;">Rakuten Handの詳細はこちら</span>
        </a>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※Rakuten Hand詳細ページに移動します。</p>
      </div>
    </div>


    <div class="u-Adjust_Mt-64">
      <%- include('/include/_bnr-cpn-recommend-v2') %>
    </div>

    <div class="u-Adjust_Mt-24 c-Txt_Emp-02 u-Adjust_Align-center">
      ご好評により、Rakuten Handは販売を終了いたしました。
    </div>
    <!-- 1550 -->
    <div class="u-Adjust_Mt-16">
      <h3 class="c-Heading_Lv3" id="campaign-rule1550">Androidスマホ/Wi-Fiルーター割引キャンペーン</h3>
      <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>campaign/start-point/#campaign-rule1550" class="c-Link_Txt-inline">詳しくはこちら<span class="c-Icon_Chevron-right"></span></a></p>
    </div>
    <!-- 1526 -->
    <div class="u-Adjust_Mt-40">
      <h3 class="c-Heading_Lv3" id="campaign-rule1526">【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント</h3>
      <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>campaign/start-point/#campaign-rule1526" class="c-Link_Txt-inline">詳しくはこちら<span class="c-Icon_Chevron-right"></span></a></p>
    </div>

    <div class="c-Accordion u-Adjust_Mt-64">
      <button type="button" id="accordion-campaign-past" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-campaign-past"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>過去のキャンペーンルール</button>
      <div id="accordion-content-campaign-past" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-campaign-past" aria-hidden="true">

        <!-- 1470 -->
        <div class="<%= namespace %>-Layout_Rule-past" id="campaign-rule1470">
          <h2 class="c-Heading_Lv2">激トク乗り換え！Androidスマホ割引キャンペーン（〜2022/6/30 23:59）</h2>
          <div class="c-Table_Wrap u-Adjust_Mt-24">
            <div class="u-Adjust_Mt-24">
              <dl class="c-Dl_Origin <%= namespace %>-Dl_Rule">
                <div>
                  <dt>キャンペーンコード</dt>
                  <dd>
                    <p>1470</p>
                    <ul class="c-Txt_Cap u-Adjust_Mt-8">
                      <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン期間</dt>
                  <dd>
                    <p><span class="c-Txt_Emp-01">■ プランのお申し込み期間（他社からの乗り換え（MNP）の場合）</span><br>
                      　- Web　2022年3月23日（水）9:00～2022年6月30日（木）23:59<br>
                      　- 店舗（楽天モバイルショップ）　2022年3月23日（水）開店～2022年6月30日（木）閉店
                    </p>
                    <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■ プランのお申し込み期間（新規お申し込み/楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）の場合）</span><br>
                      　- Web　2022年3月23日（水）9:00～2022年6月30日（木）23:59<br>
                      　- 店舗（楽天モバイルショップ）　2022年3月23日（水）開店～2022年6月30日（木）閉店
                    </p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8">※2022年5月26日（木）9:00よりAQUOS sense6の特典を追加しました。</p>
                    <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■ 製品のご購入期間（他社からの乗り換え（MNP）の場合）</span><br>
                      　- Web　2022年3月23日（水）9:00～2022年6月30日（木）23:59<br>
                      　- 店舗（楽天モバイルショップ）　2022年3月23日（水）開店～2022年6月30日（木）閉店
                    </p>
                    <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■ 製品のご購入期間（新規お申し込み/楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）の場合）</span><br>
                      　- Web　2022年3月23日（水）9:00～2022年6月30日（木）23:59<br>
                      　- 店舗（楽天モバイルショップ）　2022年3月23日（水）開店～2022年6月30日（木）閉店
                    </p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8">
                      　※2022年6月16日（木）に終了日を記載しました<br>
                      　※本キャンペーンは6月30日（木）23:59に終了しますが、7月1日（金）0:00より他社から乗り換え（MNP）・新規・プラン変更（移行）を対象とした最大16,000円割引の新規キャンペーンを実施します
                    </p>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン条件</dt>
                  <dd>
                    <p class="c-Txt_Emp-02">上記各項目の期間内に【1】、【2】の条件をすべて満たした楽天会員の方<br>
                      １回線につき１回限りの適用となります。
                    </p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-24">【1】「Rakuten UN-LIMIT VI」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
                    <ol class="c-List_Note u-Adjust_Mt-8">
                      <li><span>(1)</span>新規お申し込み</li>
                      <li><span>(2)</span>他社からの乗り換え（MNP）でお申し込み
                      <div class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Mb-8">※楽天モバイル（旧FREETEL）通話SIMからの乗り換え（MNP）、DMMモバイル通話SIMからの乗り換え（MNP）の場合も含む</div>
                      </li>
                      <li><span>(3)</span>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
                    </ol>
                    <p class="c-Txt_Cap u-Adjust_Mt-8">
                      ※一度に複数製品のお申し込みをされた場合、キャンペーンは1製品にしか適用されません。<br>
                      ※カートに対象製品を複数台追加した場合、最初に入れた製品のみキャンペーンが適用されます。<br>
                      ※(1)または(3)の対象製品を先にカートに追加し、後にRakuten WiFi Pocket 2B/2Cをカートに追加した場合、本キャンペーンのみが適用されます。<br>
                      ※上記以外のパターンで対象製品とRakuten WiFi Pocket 2B/2Cをカートに追加した場合、Rakuten WiFi Pocket 2 本体価格1円キャンペーンのみが適用されます。
                    </p>

                    <p class="c-Txt_Emp-01 u-Adjust_Mt-24">【2】「Rakuten UN-LIMIT VI」お申し込みと同時に対象製品いずれかをご購入</p>
                    <p class="u-Adjust_Mt-16">
                      　- Rakuten Hand 5G<br>
                      　- Rakuten Hand<br>
                      　- Rakuten BIGs<br>
                      　- AQUOS wish<br>
                      　- AQUOS sense6<br>
                      　- AQUOS zero6<br>
                      　- OPPO A55s 5G<br>
                      　- OPPO Reno5 A<br>
                      　- Xperia 10 III Lite<br>
                    </p>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン特典</dt>
                  <dt class="<%= namespace %>_Title-sub">特典内容</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">キャンペーン条件【1】の(2)でお申込みの場合</p>
                    <br>
                    　Rakuten BIGs、OPPO A55s 5G、Xperia 10 III Lite、OPPO Reno5 A、Rakuten Hand 5G（Rakuten Hand 5Gは2022年4月1日9:00より割引額を変更しました）<br>
                    　AQUOS sense6（2022年5月26日9:00より割引額を変更しました）<br>
                    　本体価格から20,000円割引（税込）<br>
                    　Rakuten Hand 5G、AQUOS wish、AQUOS sense6、AQUOS zero6<br>
                    　本体価格から15,000円割引（税込）<br>
                    　Rakuten Hand<br>
                    　本体価格から7,980円割引（税込）<br>
                    　本キャンペーン適用で、お申し込み画面にて上記割引が適用された金額が表示されます<br>

                    <p class="u-Adjust_Mt-16 c-Txt_Emp-01">キャンペーン条件【1】の(1)または(3)でお申込みの場合</p>
                    <br>
                    　Rakuten BIGs、OPPO A55s 5G、OPPO Reno5 A、Rakuten Hand 5G（Rakuten Hand 5Gは2022年4月1日9:00より割引額を変更しました）<br>
                    　AQUOS sense6（2022年5月26日9:00より割引額を変更しました）<br>
                    　本体価格から20,000円割引（税込）<br>
                    　Rakuten Hand 5G、AQUOS sense6<br>
                    　本体価格から15,000円割引（税込）<br>
                    　Rakuten Hand<br>
                    　本体価格から7,980円割引（税込）<br>
                    　本キャンペーン適用で、お申し込み画面にて上記割引が適用された金額が表示されます。<br>
                    <br>
                    <br>
                    ※過去のキャンペーン割引額<br>
                    【2022年3月23日(水)9:00~4月1日(金)8:59】<br>
                    キャンペーン条件【1】の(1)(2)(3)いずれの場合でも対象となる製品<br>
                    <br>
                    OPPO A55s 5G、OPPO Reno5 A、Rakuten BIG s<br>
                    本体価格から20,000円割引（税込）<br>
                    <br>
                    Rakuten Hand 5G、AQUOS sense6<br>
                    本体価格から15,000円割引（税込）<br>
                    <br>
                    Rakuten Hand<br>
                    本体価格から7,980円割引（税込）<br>
                    <br>
                    キャンペーン条件【1】の(2)の場合のみ対象となる製品<br>
                    <br>
                    Xperia 10 III Lite<br>
                    本体価格から20,000円割引（税込）<br>
                    <br>
                    AQUOS wish、AQUOS zero6、<br>
                    本体価格から15,000円割引（税込）<br>
                    <br>
                    【2022年4月1日(金)9:00~2022年5月11日(水)8:59】<br>
                    キャンペーン条件【1】の(1)(2)(3)いずれの場合でも対象となる製品<br>
                    <br>
                    OPPO A55s 5G、OPPO Reno5 A、Rakuten BIG s、Rakuten Hand 5G<br>
                    本体価格から20,000円割引（税込）<br>
                    <br>
                    AQUOS sense6<br>
                    本体価格から15,000円割引（税込）<br>
                    <br>
                    Rakuten Hand<br>
                    本体価格から7,980円割引（税込）<br>
                    <br>
                    キャンペーン条件【1】の(2)の場合のみ対象となる製品<br>
                    <br>
                    Xperia 10 III Lite<br>
                    本体価格から20,000円割引（税込）<br>
                    <br>
                    AQUOS wish、AQUOS zero6、<br>
                    本体価格から15,000円割引（税込）<br>
                    <br>
                    【2022年5月11日(水)9:00~2022年5月26日(木)8:59】<br>
                    キャンペーン条件【1】の(1)(2)(3)いずれの場合でも対象となる製品<br>
                    Rakuten Hand 5G<br>
                    本体価格から20,000円割引（税込）<br>
                    <br>
                    キャンペーン条件【1】の(2)の場合のみ対象となる製品<br>
                    OPPO A55s 5G、OPPO Reno5 A、Rakuten BIG s、Xperia 10 III Lite<br>
                    本体価格から20,000円割引（税込）<br>
                    <br>
                    AQUOS sense6、AQUOS wish、AQUOS zero6、<br>
                    本体価格から15,000円割引（税込）<br>
                    <br>
                    Rakuten Hand<br>
                    本体価格から7,980円割引（税込）<br>
                    <br>
                    【2022年5月26日(木)9:00~2022年6月30日(木)23:59】<br>
                    キャンペーン条件【1】の(1)(2)(3)いずれの場合でも対象となる製品<br>
                    Rakuten Hand 5G、AQUOS sense6<br>
                    本体価格から20,000円割引（税込）<br>
                    <br>
                    キャンペーン条件【1】の(2)の場合のみ対象となる製品<br>
                    OPPO A55s 5G、OPPO Reno5 A、Rakuten BIG s、Xperia 10 III Lite<br>
                    本体価格から20,000円割引（税込）<br>
                    <br>
                    AQUOS wish、AQUOS zero6、<br>
                    本体価格から15,000円割引（税込）<br>
                    <br>
                    Rakuten Hand<br>
                    本体価格から7,980円割引（税込）<br>
                  </dd>
                </div>
                <div>
                  <dt>特典適用対象外</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
                    <ul class="<%= namespace %>-List_Cap u-Adjust_Mt-16">
                      <li><span>※</span>「激トク乗り換え！Androidスマホ割引キャンペーン」の適用回数が、1回線につき1回を超える場合は対象外となります</li>
                      <li><span>※</span>楽天モバイルショップ、楽天モバイルオンライン以外で購入した場合</li>
                      <li><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
                      <li><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                      <li><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>併用可能キャンペーン</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">以下のキャンペーンは、<span class="c-Txt_Emp-02">併用可能</span>です。</p>
                    <p class="u-Adjust_Mt-8 c-Txt_Cap">-【Rakuten UN-LIMIT VIお申し込み特典】だれでも5,000ポイントプレゼントキャンペーン（キャンペーンコード：1113）</p>
                    <p class="u-Adjust_Mt-8 c-Txt_Cap">- iPhoneアップグレードプログラム適用で5,000ポイント還元キャンペーン（キャンペーンコード：1383）</p>
                    <p class="u-Adjust_Mt-8 c-Txt_Cap">- 【10分（標準）通話かけ放題】はじめてのお申し込み＆ご利用で5,000ポイントプレゼントキャンペーン（キャンペーンコード：1416）</p>
                    <p class="u-Adjust_Mt-8 c-Txt_Cap">- 【10分（標準）通話かけ放題】はじめてのお申し込み＆ご利用で最大5,000ポイントプレゼントキャンペーン（キャンペーンコード：1478）（2022年4月1日0:00より追加しました）</p>
                  </dd>
                </div>
                <div>
                  <dt>併用不可キャンペーン</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">以下のキャンペーンは、<span class="c-Txt_Emp-02">併用不可</span>となります。</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">・本キャンペーンを適用した場合、以下のキャンペーン特典は対象外となります。</p>
                    <p class="u-Adjust_Mt-8 c-Txt_Cap">- お持ちのスマホそのままで、他社から乗り換え（MNP）の方限定！通常のRakuten UN-LIMIT VIお申し込み特典に加えて、さらに15,000ポイントプレゼントキャンペーン​（1262）</p>
                    <p class="u-Adjust_Mt-8 c-Txt_Cap">- 【ショップ限定！】新規ご契約・プラン変更（移行）の方も対象！通常のRakuten UN-LIMIT VIお申し込み特典に加えて、さらに15,000ポイントプレゼントキャンペーン（1428）</p>
                    <p class="u-Adjust_Mt-8 c-Txt_Cap">- 回線契約のみの方限定！通常のRakuten UN-LIMIT VIお申し込み特典に加えて、さらに4,000ポイントプレゼントキャンペーン（1447）</p>
                    <p class="u-Adjust_Mt-8 c-Txt_Cap">- 他社から乗り換え（MNP）限定！iPhone SE（第3世代）発売記念キャンペーン（キャンペーンコード：1458）</p>
                    <p class="u-Adjust_Mt-8 c-Txt_Cap">- iPhone 13 全機種 ポイント還元キャンペーン（キャンペーンコード：1382）</p>
                    <p class="u-Adjust_Mt-8 c-Txt_Cap">- プラン変更（移行）限定！iPhone購入で、さらに5,000ポイント還元キャンペーン（キャンペーンコード：1248）</p>
                    <p class="u-Adjust_Mt-8 c-Txt_Cap">- Rakuten Hand7,980ポイントプレゼントキャンペーン（キャンペーンコード：1391）</p>
                    <p class="u-Adjust_Mt-8 c-Txt_Cap">- Rakuten UN-LIMIT VI＋製品購入でポイント還元キャンペーン（キャンペーンコード：1379、1426）</p>
                    <p class="u-Adjust_Mt-8 c-Txt_Cap">- 回線契約のみでOK！通常のRakuten UN-LIMIT VIお申し込み特典に加えて、さらに3,000ポイントプレゼントキャンペーン（キャンペーンコード：1554）</p>
                    <p class="u-Adjust_Mt-8 c-Txt_Cap">- 新規ご契約・プラン変更（移行）の方対象！iPhone SE（第3世代）発売記念キャンペーン（キャンペーンコード：1558）</p>
                  </dd>
                </div>
                <div>
                  <dt>注意事項</dt>
                  <dd>
                    <ul class="c-Txt_Cap">
                      <li><span>※</span>　お申し込み内容確認画面のアイテムごとの税込価格や値引き額は参考値です。総合計の金額が実際のご請求金額となります</li>
                      <li><span>※</span>　本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                      <li><span>※</span>　本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法上の範囲内に制限される場合があります</li>
                      <li><span>※</span>　製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
                      <li><span>※</span>　本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                      <li><span>※</span>　記載の内容は2022年6月16日（木）時点の情報となります</li>
                    </ul>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>

        <%# campaign 1113 _%>
        <div class="<%= namespace %>-Layout_Rule" id="campaign-rule1113">
          <h2 class="c-Heading_Lv2">【Rakuten UN-LIMIT VIお申し込み特典】だれでも5,000ポイントプレゼント ルール（〜2022/6/30 23:59）</h2>
          <div class="c-Table_Wrap u-Adjust_Mt-24">
            <div class="u-Adjust_Mt-24">
              <dl class="c-Dl_Origin <%= namespace %>-Dl_Rule">
                <div>
                  <dt>キャンペーンコード</dt>
                  <dd>
                    <p>1113</p>
                    <ul class="c-Txt_Cap u-Adjust_Mt-8">
                      <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン期間</dt>
                  <dd>
                    <p><span class="c-Txt_Emp-01">■ プランのお申し込み期間</span><br>
                      　　- Webでのお申し込み　2020年12月8日（火）9:00～<s>常時開催</s> 2022年6月30日（木）23:59<br>
                      　　- 店舗（楽天モバイルショップ）でのお申し込み　2020年12月8日（火）開店～<s>常時開催</s> 2022年6月30日（木）閉店<br>
                      　　 <span class="c-Txt_Cap">※2022年6月1日（水）にキャンペーン期間が変更となりました。ご了承ください。</span>
                    </p>
                    <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■ プラン利用開始期限</span><br>
                  　　プランのお申し込みの翌月末日23:59まで
                    </p>
                    <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■「Rakuten Link」利用期限</span><br>
                  　　プランのお申し込みの翌月末日23:59まで
                    </p>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン条件</dt>
                  <dd>
                    <p class="c-Txt_Emp-02">
                      以下①、②、③の条件を全て満たした楽天会員の方
                    </p>
                      <p class="c-Txt_Cap c-Txt_Emp-02">※ 特典はおひとり様1度のみ。楽天モバイルを初めてお申し込みいただいた回線に適用となります。</p>
                    <div class="u-Adjust_Mt-16">
                    <span class="c-Txt_Emp-01">①「Rakuten UN-LIMIT VI」へ、下記（1）-（3）いずれかの方法にてお申し込み</span><br>
                    <ul class="c-List_Note u-Adjust_Mt-8">
                      <li><span>(1)</span>新規お申し込み</li>
                      <li><span>(2)</span>他社からの乗り換え（MNP）でお申し込み</li>
                      <li><span>(3)</span>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
                    </ul>
                    </div>
                    <div class="u-Adjust_Mt-16">
                      <span class="c-Txt_Emp-01">②プラン利用開始</span><br>
                      <p>対象製品※1を利用し「Rakuten UN-LIMIT VI」お申し込みの翌月末日の23:59まで</p>
                      <p class="u-Adjust_Mt-16">【プラン利用開始日とは】</p>
                      <ul>
                        <li class="u-Adjust_Mt-8">- 新規お申し込みの場合 <span>※(1)(2)のいずれか早い方がプラン利用開始日となります。</span>
                          <ul class="c-List_Note">
                            <li><span>(1)</span>当社に配送完了データが通知された日</li>
                            <li><span>(2)</span>プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                          </ul>
                        </li>
                        <li class="u-Adjust_Mt-8">- 他社から乗り換え（MNP）の場合<br>
                        プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日
                        </li>
                        <li class="u-Adjust_Mt-8">- 楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合<br>
                        プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日
                        </li>
                      </ul>

                      <p class="c-Txt_Emp-01 u-Adjust_Mt-24">③対象製品※1を利用し「Rakuten UN-LIMIT VI」お申し込みの翌月末日23:59までに「Rakuten Link」のご利用</p>
                      <p class="u-Adjust_Mt-8">「Rakuten UN-LIMIT VI」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
                      <p class="u-Adjust_Mt-8"><s>「Rakuten UN-LIMIT VI」をお申し込みした回線で「Rakuten Link」を用いたメッセージ送信を1回以上利用</s>（2021年6月1日(火)0:00より、「Rakuten Link」ご利用の条件を変更しました。）</p>
                      <p class="c-Txt_Cap c-Txt_Emp-02">※iPhone 13 Pro Max、iPhone 13 Pro 、iPhone 13、iPhone 13 mini、iPhone SE（第3世代）いずれかをご購入の場合、製品到着または店頭で購入した日の翌月末日23:59までに②③を対応でキャンペーン適用となります。</p>
                      <p class="c-Txt_Cap c-Txt_Emp-02">※製品到着とは、当社に配送完了データが通知された日を指します。</p>

                      <p class="u-Adjust_Mt-16 c-Txt_Emp-01">【Rakuten Link アプリご利用方法】</p>
                      下記URLの「Rakuten Linkのご利用方法」をご確認ください<br>
                      <a target="_blank" href="<%= sitepath %>guide/rakuten-link/"
                        class="u-Adjust_Txt-break">https://network.mobile.rakuten.co.jp/guide/rakuten-link/</a><br>
                      - 通話方法：『電話をかける』の項目をご確認ください<br>
                      - メッセージ送信方法：『メッセージを送る』の項目をご確認ください<br>
                      <p class="c-Txt_Cap">※「Rakuten Link」アプリ以外のメッセージやメール送信についてはキャンペーンの達成条件として適用されませんのでご注意ください</p>
                      <br>
                      <p class="c-Txt_Emp-01">【Rakuten Link利用履歴の確認方法】</p>
                      下記URLの「キャンペーンが適用されているか、いつポイントが付与されるか知りたい」をご確認ください<br>
                      <a href="<%= sitepath %>faq/detail/00001962/"
                        class="u-Adjust_Txt-break">https://network.mobile.rakuten.co.jp/faq/detail/00001962/</a><br>
                      -「③ 適用条件の達成状況を確認する」の項目をご確認ください

                      <p class="c-Txt_Cap">※ 電話の発信時、（0570）（0180）などの他社接続サービス、#ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</p>
                      <br>

                      <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">
                        ※1 キャンペーン対象製品について<br>
                      【iOS版】<br>
                      iOS 14.4以降（推奨）を搭載したiPhone</p>

                      <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">【Android版】<br>
                      Android 9以降を搭載した楽天回線対応製品<a href="<%= sitepath %>product/certified-products/" class="u-Adjust_Txt-break"> https://network.mobile.rakuten.co.jp/product/certified-products/</a></p>
                      <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">
                      ※ 楽天回線対応のモバイルルーターで使用されるためにお申し込みいただいた場合は、「Rakuten Link」のご利用は必要ございません。<br>
                      ※ ご利用いただく製品によっては、次の機能が利用できない場合があります（接続回線の自動切替、緊急地震速報などの受信、高精度な位置情報測位など）ので、ご利用予定の製品の対応状況を<a href="<%= sitepath %>product/byod/">こちら</a>でご確認ください。<br>
                      ※ ご利用いただける機能であっても、OSやソフトウェアの更新等により、機能のご利用が制限される場合があります。<br>
                      ※ SIMロックの解除等が必要な場合があります。
                      </p>
                    </div>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン特典 （楽天ポイント）</dt>
                  <dt class="<%= namespace %>_Title-sub">特典内容</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">楽天ポイント5,000円相当のポイントをプレゼント</p>
                  </dd>
                </div>
                <div>
                  <dt class="<%= namespace %>_Title-sub">ポイント付与日</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">「Rakuten UN-LIMIT VI」のプラン利用開始および「Rakuten Link」の利用が確認された月の翌々月末日頃に付与</p>
                    <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>例）6月にすべての条件を達成した場合には、その翌々月である8月末日頃にポイント付与となります</p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span> 楽天ポイントの付与は、楽天モバイルより行います</p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span> 権利の譲渡はできません</p>
                  </dd>
                </div>
                <div>
                  <dt class="<%= namespace %>_Title-sub">ポイント有効期間</dt>
                  <dd>
                    <td>
                      <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
                      <ul class="u-Adjust_Mt-8">
                        <li class="c-Txt_Cap"><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a></li>
                        <li class="c-Txt_Cap"><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。</li>
                      </ul>
                    </td>
                  </dd>
                </div>
                <div>
                  <dt>特典適用対象外</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
                    <ul class="u-Adjust_Mt-16">
                      <li class="c-Txt_Cap"><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払期限までに行われなかった場合 ※未納・未払いが発生した場合</li>
                      <li class="c-Txt_Cap"><span>※</span>「【Rakuten UN-LIMIT VIお申し込み特典】だれでも5,000ポイントプレゼント」の適用回数が、おひとり様１契約1回を超える場合は対象外となります</li>
                      <li class="c-Txt_Cap"><span>※</span>キャンペーン対象製品以外でプラン利用開始、「Rakuten Link」をご利用された場合</li>
                      <li class="c-Txt_Cap"><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
                      <li class="c-Txt_Cap"><span>※</span>「Rakuten UN-LIMIT VI」のプラン利用開始がされなかった場合<br>
                        プラン利用開始の手続き方法につきましては、<a href="<%= sitepath %>faq/detail/00001648/">こちらのSIMカード版スタートガイドまたはeSIM版スタートガイド</a>を参照ください</li>
                      <li class="c-Txt_Cap"><span>※</span><span class="c-Txt_Emp-01">「Rakuten Link」を利用されなかった場合</span></li>
                      <li class="c-Txt_Cap"><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                      <li class="c-Txt_Cap"><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                      <li class="c-Txt_Cap"><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>注意事項</dt>
                  <dd>
                    <ul>
                      <li class="c-Txt_Cap"><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                      <li class="c-Txt_Cap"><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法上の範囲内に制限される場合があります</li>
                      <li class="c-Txt_Cap"><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                      <li class="c-Txt_Cap"><span>※</span>記載の内容は2022年6月1日（水）時点の情報となります</li>
                  </ul>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
        <%# campaign 1478 _%>
        <div class="<%= namespace %>-Layout_Rule-past u-Adjust_Mt-64" id="campaign-rule1478">
          <h2>
           【10分（標準）通話かけ放題】はじめてのお申し込み＆ご利用で最大5,000ポイントプレゼントキャンペーン（〜2022/5/11 8:59）
          </h2>
          <div class="c-Table_Wrap u-Adjust_Mt-24">
            <div class="u-Adjust_Mt-24">
              <dl class="c-Dl_Origin <%= namespace %>-Dl_Rule">
                <div>
                  <dt>キャンペーンコード</dt>
                  <dd>
                    <p>1478</p>
                    <ul class="c-Txt_Cap u-Adjust_Mt-8">
                      <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン期間</dt>
                  <dd>
                    <p>
                      <span class="c-Txt_Emp-01">■ お申し込み期間</span><br>
                      　　　- Web　2022年4月1日（金）0:00～2022年5月11日（水）8:59<br>
                      　　　- 店舗（楽天モバイルショップ）　2022年4月1日（金）開店～2022年5月10日（火）閉店
                    </p>
                    <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">
                      ■ 「10分（標準）通話かけ放題」の利用期限</span><br>
                      　　　- 「10分（標準）通話かけ放題」のお申し込みの翌月末日23:59まで
                    </p>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン条件</dt>
                  <dd>
                    <p class="c-Txt_Emp-02">
                      上記キャンペーン期間内に【1】、【2】、【3】の条件を満たした楽天会員の方
                    </p>
                    <div class="u-Adjust_Mt-16">
                      <p class="c-Txt_Emp-01">【1】「10分（標準）通話かけ放題」オプションに、はじめてのお申し込み</p>
                      <p class="c-Txt_Emp-01">【2】「10分（標準）通話かけ放題」オプションにお申し込みした回線で、お申し込みの翌月末日23:59までにOS標準の電話アプリを利用し10秒以上の音声通話*</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">
                        *「Rakuten Link」アプリや、データ通信を使ったLINE等のIP電話アプリを利用した音声通話はキャンペーンの達成条件として適用されませんのでご注意ください<br>
                        ※ キャンペーン条件の達成を確認する為、10秒以上の通話実績があることを確認します。
                      </p>
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-8">【3】 「10分（標準）通話かけ放題」オプションの契約をしている</p>
                    </div>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン特典 （楽天ポイント）</dt>
                  <dt class="<%= namespace %>_Title-sub">特典内容</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">最大5,000ポイントプレゼント</p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8">※ はじめての申し込みから5カ月間で、毎月キャンペーン条件【3】の達成を確認の上、達成ができた月に1,000ポイント付与を最大5回</p>
                  </dd>
                </div>
                <div>
                  <dt class="<%= namespace %>_Title-sub">ポイント付与日</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">キャンペーン条件【3】が確認された月の翌々月末日ごろに付与</p>
                    <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>例）2022年4月に申し込み後、「10分（標準）通話かけ放題」オプションを2022年4月から8月までの間利用し、各月に条件達成した場合、2022年6月から10月の間、各月の末日ごろに1,000ポイントずつ付与となります</p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>権利の譲渡はできません</p>
                  </dd>
                </div>
                <div>
                  <dt class="<%= namespace %>_Title-sub">ポイント有効期間</dt>
                  <dd>
                    <td>
                      <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
                      <ul class="u-Adjust_Mt-8">
                        <li class="c-Txt_Cap"><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a></li>
                        <li class="c-Txt_Cap"><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
                      </ul>
                    </td>
                  </dd>
                </div>
                <div>
                  <dt>特典適用対象外</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
                    <ul class="u-Adjust_Mt-16">
                      <li class="c-Txt_Cap"><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                      <li class="c-Txt_Cap"><span>※</span>本キャンペーンの開始時点で、すでに「10分（標準）かけ放題」オプションをご利用の場合</li>
                      <li class="c-Txt_Cap"><span>※</span>本キャンペーンの開始時点で、過去に「10分（標準）かけ放題」をご利用したことがあり解約されている場合</li>
                      <li class="c-Txt_Cap"><span>※</span>「10分（標準）通話かけ放題」を利用されなかった場合</li>
                      <li class="c-Txt_Cap"><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                      <li class="c-Txt_Cap"><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                      <li class="c-Txt_Cap"><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>注意事項</dt>
                  <dd>
                    <ul>
                      <li class="c-Txt_Cap"><span>※</span>本キャンペーンの特典はおひとり様1度のみ。「10分（標準）通話かけ放題」をはじめてお申し込みいただいた回線に適用となります</li>
                      <li class="c-Txt_Cap"><span>※</span>申し込みから5カ月間が特典対象となります<br>
                      例）4月申し込みの場合は、8月までの契約が特典対象月となります</li>
                      <li class="c-Txt_Cap"><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                      <li class="c-Txt_Cap"><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法上・電気通信事業法上の範囲内に制限される場合があります</li>
                      <li class="c-Txt_Cap"><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                      <li class="c-Txt_Cap"><span>※</span>記載の内容は2022年4月1日（金）時点の情報となります</li>
                    </ul>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>


        <%# campaign 1416 _%>
        <div class="<%= namespace %>-Layout_Rule-past u-Adjust_Mt-64" id="campaign-rule1416">
          <h2>
            【10分（標準）通話かけ放題】はじめてのお申し込み＆ご利用で5,000ポイントプレゼントキャンペーン（〜2022/3/31 23:59）
          </h2>
          <div class="c-Table_Wrap u-Adjust_Mt-24">
            <div class="u-Adjust_Mt-24">
              <dl class="c-Dl_Origin <%= namespace %>-Dl_Rule">
                <div>
                  <dt>キャンペーンコード</dt>
                  <dd>
                    <p>1416</p>
                    <ul class="c-Txt_Cap u-Adjust_Mt-8">
                      <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン期間</dt>
                  <dd>
                    <p>
                      <span class="c-Txt_Emp-01">■ お申し込み期間</span><br>
                      　　　- Web　2022年3月8日（火）9:00～2022年5月11日（水）8:59<br>
                      　　　- 店舗（楽天モバイルショップ）　2022年3月8日（火）開店～2022年5月10日（火）閉店
                    </p>
                    <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">
                      ■ 「10分（標準）通話かけ放題」の利用期限</span><br>
                      　　　-  「10分（標準）通話かけ放題」のお申し込みの翌月末日23:59まで
                    </p>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン条件</dt>
                  <dd>
                    <p class="c-Txt_Emp-02">
                      上記キャンペーン期間内に【1】、【2】の条件を満たした楽天会員の方
                    </p>
                    <div class="u-Adjust_Mt-16">
                      <span class="c-Txt_Emp-01">【1】「10分（標準）通話かけ放題」オプションに、はじめてのお申し込み</span><br>
                      <span class="c-Txt_Emp-01">【2】「10分（標準）通話かけ放題」オプションにお申し込みした回線で、お申し込みの翌月末日23:59までにOS標準の電話アプリを利用し10秒以上の音声通話*</span><br>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">*「Rakuten Link」アプリや、データ通信を使ったLINE等のIP電話アプリを利用した音声通話はキャンペーンの達成条件として適用されませんのでご注意ください。</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※キャンペーン条件の達成を確認する為、10秒以上の通話実績があることを確認します。</p>
                    </div>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン特典 （楽天ポイント）</dt>
                  <dt class="<%= namespace %>_Title-sub">特典内容</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">5,000ポイントプレゼント</p>
                  </dd>
                </div>
                <div>
                  <dt class="<%= namespace %>_Title-sub">ポイント付与日</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">「10分（標準）通話かけ放題」オプションのお申し込みおよびOS標準の電話アプリの利用が確認された月の翌々月末日ごろに付与</p>
                    <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>例）３月にすべての条件を達成した場合には、その翌々月である５月末日ごろにポイント付与となります</p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>権利の譲渡はできません</p>
                  </dd>
                </div>
                <div>
                  <dt class="<%= namespace %>_Title-sub">ポイント有効期間</dt>
                  <dd>
                    <td>
                      <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
                      <ul class="u-Adjust_Mt-8">
                        <li class="c-Txt_Cap"><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a></li>
                        <li class="c-Txt_Cap"><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。</li>
                      </ul>
                    </td>
                  </dd>
                </div>
                <div>
                  <dt>特典適用対象外</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
                    <ul class="u-Adjust_Mt-16">
                      <li class="c-Txt_Cap"><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                      <li class="c-Txt_Cap"><span>※</span>現在、「10分（標準）通話かけ放題」オプションをお申し込みされている場合</li>
                      <li class="c-Txt_Cap"><span>※</span>過去に、「10分（標準）通話かけ放題」オプションをお申し込みされたことがある場合</li>
                      <li class="c-Txt_Cap"><span>※</span>「10分（標準）通話かけ放題」を利用されなかった場合</li>
                      <li class="c-Txt_Cap"><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                      <li class="c-Txt_Cap"><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                      <li class="c-Txt_Cap"><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>注意事項</dt>
                  <dd>
                    <ul>
                      <li class="c-Txt_Cap"><span>※</span>本キャンペーンの特典はおひとり様1度のみ。「10分（標準）通話かけ放題」をはじめてお申し込みいただいた回線に適用となります。</li>
                      <li class="c-Txt_Cap"><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                      <li class="c-Txt_Cap"><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法上の範囲内に制限される場合があります</li>
                      <li class="c-Txt_Cap"><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                      <li class="c-Txt_Cap"><span>※</span>記載の内容は2022年3月8日（火）時点の情報となります</li>
                    </ul>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>

        <%# campaign 1391 _%>
        <section class="<%= namespace %>-Layout_Rule-past u-Adjust_Mt-64" id="campaign-rule1391">
          <h2>Rakuten Hand7,980ポイントプレゼントキャンペーン</h2>
          <div class="c-Table_Wrap u-Adjust_Mt-24">
            <table class="c-Table_Container <%= namespace %>-Table_Rule">
              <colgroup>
                <col>
                <col>
                <col>
              </colgroup>
              <tbody>
                <tr>
                  <th colspan="2">キャンペーンコード</th>
                  <td>
                    <p class="u-Adjust_Mt-8">
                      1391
                    </p>
                    <ul class="c-List_Cap u-Adjust_Mt-8">
                      <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th colspan="2">キャンペーン期間</th>
                  <td>
                    <p>■ プランのお申し込み期間<br>
                      　- Web　2022年1月14日（金）9:00～「2022年3月23日（水）8:59」<br>
                      　- 店舗（楽天モバイルショップ）　2022年1月14日（金）開店～「2022年3月22日（火）閉店」<br>
                      ■ 製品のご購入期間<br>
                      　- Web　2022年1月14日（金）9:00～「2022年3月23日（水）8:59」<br>
                      　- 店舗（楽天モバイルショップ）　2022年1月14日（金）開店～「2022年3月22日（火）閉店」<br>
                      ■ プラン利用開始期限<br>
                      　　プランのお申し込み、および対象製品ご購入の翌月末日23:59まで<br>
                      ■「Rakuten Link」利用期限<br>
                      　　プランのお申し込み、および対象製品ご購入の翌月末日23:59まで
                    </p>
                  </td>
                </tr>
                <tr>
                  <th colspan="2">キャンペーン条件</th>
                  <td>
                    <p class="c-Txt_Emp-02">
                      上記各項目の期間内に【1】、【2】、【3】、【4】の条件をすべて満たした楽天会員の方
                    </p>
                    <p class="u-Adjust_Mt-16 c-Txt_Emp-01">
                      【1】「Rakuten UN-LIMIT VI」へ、下記（1）～（3）いずれかの方法にてお申し込み
                    </p>
                    <p class="u-Adjust_Mt-8">
                      （1）新規お申し込み<br>
                      （2）他社からの乗り換え（MNP）でお申し込み<br>
                      （3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み
                    </p>
                    <p class="u-Adjust_Mt-24 c-Txt_Emp-01">
                      【2】「Rakuten UN-LIMIT VI」お申し込み日と同日に対象製品いずれかをご購入
                    </p>
                    <p class="u-Adjust_Mt-8">- Rakuten Hand</p>
                    <ul class="c-List_Note u-Adjust_Mt-16">
                        <li class="c-Txt_Emp-02"><span>※</span>製品の購入がお申し込み日と同日の場合のみキャンペーン適用となります（同タイミングでなくても可）</li>
                    </ul>

                    <p class="u-Adjust_Mt-24 c-Txt_Emp-01">
                      【3】「Rakuten UN-LIMIT VI」プラン利用開始
                    </p>
                    <p class="u-Adjust_Mt-8">
                      【プラン利用開始日とは】<br>
                      - 新規お申し込みの場合　　※（1）（2）のいずれか早い方がプラン利用開始日となります<br>
                      （1）当社に配送完了データが通知された日<br>
                      （2）プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br>
                    　　- 他社から乗り換え（MNP）の場合<br>
                    　　　プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br>
                    　　- 楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合<br>
                    　　　プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日
                    </p>
                    <p class="u-Adjust_Mt-24 c-Txt_Emp-01">
                      【4】「Rakuten Link」のご利用
                    </p>
                    <p class="u-Adjust_Mt-8">
                      「Rakuten UN-LIMIT VI」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話<br>
                      <br>
                      【Rakuten Link アプリご利用方法】<br>
                      下記URLの「Rakuten Linkのご利用方法」をご確認ください<br>
                      <a target="_blank" href="<%= sitepath %>guide/rakuten-link/">https://network.mobile.rakuten.co.jp/guide/rakuten-link/</a><br>
                      - 通話方法：『電話をかける』の項目をご確認ください<br>
                      <br>
                      【Rakuten Link利用履歴の確認方法】<br>
                      下記URLの「キャンペーンが適用されているか、いつポイントが付与されるか知りたい」をご確認ください<br>
                      <a href="https://network.mobile.rakuten.co.jp/faq/detail/00001962/">https://network.mobile.rakuten.co.jp/faq/detail/00001962/</a><br>
                    -「③ 適用条件の達成状況を確認する」の項目をご確認ください
                    </p>
                    <ul class="c-List_Cap u-Adjust_Mt-8">
                      <li><span>※</span>電話の発信時、（0570）（0180）などの他社接続サービス、♯ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th rowspan="4">キャンペーン特典（楽天ポイント）</th>
                  <th>特典内容</th>
                  <td>
                    <p>楽天ポイント7,980円相当のポイントをプレゼント</p>
                  </td>
                </tr>
                <tr>
                  <th>ポイント数</th>
                  <td>
                    <p>7,980ポイントプレゼント</p>
                  </td>
                </tr>
                <tr>
                  <th>ポイント付与日</th>
                  <td>
                    <p>「Rakuten UN-LIMIT VI」のプラン利用開始および「Rakuten Link」の利用が確認された月の翌々月末日ごろに付与</p>
                    <ul class="c-List_Cap u-Adjust_Mt-16">
                      <li><span>※</span>例）1月にすべての条件を達成した場合には、その翌々月である3月末日ごろにポイント付与となります</li>
                      <li><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</li>
                      <li><span>※</span>権利の譲渡はできません</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th>ポイント有効期間</th>
                  <td>
                    <p>ポイント付与日を含めて6カ月</p>
                    <ul class="c-List_Note u-Adjust_Mt-16">
                        <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a></li>
                        <li><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th rowspan="3">注意事項</th>
                  <th>特典適用対象外</th>
                  <td>
                    <p>以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
                    <ul class="c-List_Cap u-Adjust_Mt-16">
                      <li><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                      <li><span>※</span>過去に「Rakuten Hand19,999ポイントプレゼントキャンペーン」を適用されている方は本キャンペーンの適用対象外となります。</li>
                      <li><span>※</span>過去に「Rakuten Hand15,000ポイントプレゼントキャンペーン」を適用されている方は本キャンペーンの適用対象外となります。</li>
                      <li><span>※</span>「Rakuten Hand7,980ポイントプレゼントキャンペーン」の適用回数が、おひとり様1契約1回を超える場合は本キャンペーンは適用対象外となります。</li>
                      <li><span>※</span>同一回線または2回線目以降で別の製品購入キャンペーンに参加された場合、ポイント付与対象にはなりませんのでご了承ください</li>
                      <li><span>※</span>楽天モバイルショップ、楽天モバイルオンライン以外で購入した場合</li>
                      <li><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
                      <li><span>※</span>「Rakuten UN-LIMIT VI」のプラン利用開始がされなかった場合<br>
                      プラン利用開始の手続き方法につきましては、こちらのSIMカード版スタートガイドまたはeSIM版スタートガイドを参照ください</li>
                      <li><span>※</span>期限までに「Rakuten Link」を利用されなかった場合</li>
                      <li><span>※</span>ポイント付与までに楽天会員から退会している場合</li>
                      <li><span>※</span>当社または楽天グループ株式会社が定める規約などに違反した場合</li>
                      <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th>併用不可キャンペーン</th>
                  <td>
                    <p class="c-Txt_Emp-01">以下のキャンペーンは、<span class="c-Txt_Emp-02">併用不可</span>となります。適用されるキャンペーンによって適用対象が異なります。<br>
                    ・以下のキャンペーン特典が適用となっている場合、本キャンペーンは対象外になります。
                  </p>
                    <ul class="c-List_Cap u-Adjust_Mt-8">
                      <li>- Rakuten Hand19,999ポイントプレゼントキャンペーン（1146）</li>
                      <li>- Rakuten Hand15,000ポイントプレゼントキャンペーン（1313）</li>
                      <li>- Rakuten WiFi Pocket 2 本体価格1円キャンペーン（1247）</li>
                      <li>- Rakuten WiFi Pocketだれでも0円お試しキャンペーン（1124）</li>
                      <li>- Rakuten Mini本体価格1円キャンペーン（1154）</li>
                      <li>- 他社から乗り換え（MNP）でiPhone割引キャンペーン（1277）</li>
                      <li>- プラン変更（移行）限定！iPhone購入で5,000ポイント還元キャンペーン​（1248）</li>
                      <li>- iPhone 13 全機種 ポイント還元キャンペーン（1382）</li>
                      <li>- 楽天モバイル公式 楽天市場店 対象製品と楽天回線セットご注文で最大12,000円OFF（1338）</li>
                      <li>- 楽天モバイル公式 楽天市場店 対象製品と楽天回線セットご注文で最大11,000円割引（1353）</li>
                      <li>- 楽天モバイル公式 楽天市場店 対象製品と楽天回線セットご注文で最大ポイント20倍さらに最大10%割引（1355）</li>
                      <li>- 楽天モバイル公式 楽天市場店 対象製品と楽天回線セットご注文で最大11,000円OFFクーポン（1371）</li>
                      <li>- 2022年1月9日開始！楽天モバイル公式 楽天市場店で実施中の【楽天スーパーDEAL】（1390）</li>
                      <li>- 楽天モバイル公式 楽天市場店 対象製品と楽天回線セットご注文で最大6,000円OFFクーポン（1386）</li>
                      <li>- 楽天モバイル公式 楽天市場店 対象製品と楽天回線セットご注文で最大20,000円OFFクーポン（1387）</li>
                      <li>- 楽天モバイル公式 楽天市場店 Rakuten Brand Day 2022年1月（1406）</li>
                      <li>- 2月開催！楽天モバイル公式 楽天市場店 対象Apple製品と楽天回線セットご注文で最大20,000円OFFクーポン（1394）</li>
                      <li>- 2月開催！楽天モバイル公式 楽天市場店 対象Android製品と楽天回線セットご注文で最大20,000円OFFクーポン（1395）</li>
                      <li>- 2022年2月4日開始！楽天モバイル公式 楽天市場店で実施中の【楽天スーパーDEAL】（1407）</li>
                      <li>- 楽天モバイル公式 楽天市場店 対象Apple製品と楽天回線セットご注文で最大20,000円OFFクーポン（1445）</li>
                      <li>- 楽天モバイル公式 楽天市場店 対象Android製品と楽天回線セットご注文で最大20,000円OFFクーポン（1450）</li>
                      <li>- 2022年3月4日開始！Android対象、楽天モバイル公式 楽天市場店で実施中の【楽天スーパーDEAL】（1459）</li>
                      <li>- 2022年3月5日開始！iPhone対象、楽天モバイル公式 楽天市場店で実施中の【楽天スーパーDEAL】​（1462）</li>
                      <li>- 他社から乗り換え（MNP）限定！iPhone SE（第3世代）発売記念キャンペーン（1458）</li>
                      <li>- 楽天モバイル公式 楽天市場店 ショップで製品受取で最大65,000円OFFクーポン！キャンペーン​​（1466）</li>
                      <li>- 2022年3月25日開始！楽天モバイル公式 楽天市場店 iPhone対象クーポンキャンペーン​​（1476）</li>
                      <li>- 新規ご契約・プラン変更（移行）の方対象！iPhone SE（第3世代）発売記念キャンペーン（1558）</li>
                    </ul>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">・本キャンペーンを適用した場合、以下のキャンペーン特典は対象外となります。</p>
                    <ul class="c-List_Cap u-Adjust_Mt-8">
                      <li>- Rakuten UN-LIMIT VI＋製品購入でポイント還元キャンペーン（1315、1379、1426）</li>
                      <li>- AQUOS sense5G大幅値引きキャンペーン（1361）</li>
                      <li>- 楽天モバイル公式 楽天市場店 対象製品と楽天回線セットご注文で最大7,000ポイント（1360）</li>
                      <li>- お持ちのスマホそのままで、他社から乗り換え（MNP）の方限定！通常のRakuten UN-LIMIT VIお申し込み特典に加えて、さらに15,000ポイントプレゼントキャンペーン（1262）</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th>その他注意事項</th>
                  <td>
                    <ul class="c-List_Cap">
                      <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                      <li><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景表法・電通法等法令上の規制の範囲内に制限される場合があります</li>
                      <li><span>※</span>製品の台数に限りがございます。無くなり次第終了とさせていただく場合があります</li>
                      <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                      <li><span>※</span>記載の内容は2022年3月23日（水）時点の情報となります</li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </div>

  </div>
  </div>




<div class="<%= namespace %>-Btn_Fixed" id="js-fixed-btn" aria-expanded="false">
  <div class="<%= namespace %>-Btn">
    <a href="<%= sitepath %>product/smartphone/rakuten-hand/?l-id=campaign_rakuten-hand_product_rakuten-hand_floating-btn" class="c-Btn_Primary-large">
      <span style="font-size:18px;">Rakuten Handの<br>詳細はこちら</span>
    </a>
  </div>
</div>


<footer class="g-Footer u-Adjust_Pb-80">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-news.ejs') %>

    <%- include('/include/footer/bnr/_bnr-news.ejs') %>

  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>

<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/campaign.rakuten-hand.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
