<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "003" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>セーフモードでの確認</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>セーフモードを起動して症状が改善するかご確認ください。<br>
      <br>
      一時的にスマホを初期状態で起動させるセーフモードを利用し、インストールしたアプリの不具合なのかを確認することができます。
      セーフモードで起動させて不具合が出なければ、購入以降にインストールしたアプリに原因がある場合があります。
    </p>
    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">セーフモード起動方法</h4>
    <ol class="u-Adjust_Mt-24">
      <li>1.起動している状態で電源キー長押し</li>
      <li>2.「電源」を選択</li>
      <li>3.「電源を切る」を長押し</li>
      <li>4.「再起動してセーフモードに変更」のポップアップが表示されるので「OK」を選択</li>
      <li>5.再起動してセーフモードで起動</li>
    </ol>
    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">セーフモード解除方法</h4>
    <ul class="u-Adjust_Mt-24">
      <li>1.起動している状態で電源キー長押し</li>
      <li>2.「電源」を選択</li>
      <li>3.「再起動」を選択</li>
      <li>4.再起動して通常モードで起動</li>
    </ul>

    <p class="u-Adjust_Mt-32">操作手順は製品により異なる場合があります。取扱説明書をご確認ください。　</p>

  </div>
</div>
