<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "020" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>"
     data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>充電器の確認・変更</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>使用している充電器でほかのスマートフォンが充電できるかご確認ください。<br>
      充電できない場合、充電器自体の不良が考えられます。別の充電器に交換してください。</p>
  </div>
</div>
