<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "050" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>近接センサー付近の確認</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>一般的にスマホ画面上部に近接センサーがありますので、アクセサリ（ケース、フィルム）で近接センサーがふさがれていないかご確認ください。<br>
      必要に応じてアクセサリを取り外して改善するかご確認ください。</p>
  </div>
</div>
