<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "036" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>USBケーブルの交換</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>USBケーブルの交換で改善するかご確認ください。USBケーブル以外のUSB機器を接続している場合は取り外してください。</p>
  </div>
</div>
