<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "004" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>アプリのアンインストール／再インストール</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>アプリを一度アンインストールし、再インストールで改善するかご確認ください。<br><br>
      使っていないアプリはバックグラウンドでメモリを消費していることがあり、不要なアプリをアンインストールすることで、メモリ不足が解消され、症状が改善される場合があります。</p>
    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">アプリのアンインストール方法</h4>
    <p class="c-Txt_Cap">※アンインストールはお客様の自己責任でお願いします。</p>

    <ol class="u-Adjust_Mt-24">
      <li>1.ホーム画面でアプリを長押し</li>
      <li>2.「アプリ情報」を選択</li>
      <li>3.「アンインストール」を選択</li>
    </ol>
    <p class="u-Adjust_Mt-16">製品によって設定方法や設定項目が異なる場合があります。</p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">アプリのインストール方法</h4>
    <ul class="u-Adjust_Mt-24">
      <li>1.Google Play ストアアプリをタップ</li>
      <li>2.Google Play内で対象のアプリを検索</li>
      <li>3.「インストール」をタップ</li>
    </ul>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">アプリの更新方法</h4>
    <ul class="u-Adjust_Mt-24">
      <li>1.Google Play ストアアプリをタップ</li>
      <li>2.Google Play内で対象のアプリを検索</li>
      <li>3.「更新」をタップ</li>
    </ul>
    <p class="c-Txt_Cap">※すでに最新版がインストールされている場合、「開く」が表示されています。</p>
  </div>
</div>
