<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "076" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>NFC／おサイフケータイの設定を確認 </button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>NFC／おサイフケータイがONになっているかご確認ください。</p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">NFC／おサイフケータイの設定方法</h4>
    <ol class="u-Adjust_Mt-24">
      <li>1.ホーム画面で「設定」を選択</li>
      <li>2.「接続済みのデバイス」を選択</li>
      <li>3.「接続の設定」を選択</li>
      <li>4.「NFC／おサイフケータイ」を選択</li>
      <li>5.「NFC／おサイフケータイ」がONになっていることを確認</li>
    </ol>
  </div>
</div>
