<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "011" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>バッテリーの状態を確認</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>バッテリーの状態をご確認ください。
    </p>
    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">バッテリーの状態の確認方法</h4>
    <ol class="u-Adjust_Mt-24">
      <li>1.ホーム画面で 「設定」を選択</li>
      <li>2.「デバイス情報」を選択</li>
      <li>3.「電池の状態」を選択</li>
      <li>4.電池の状態を確認</li>
    </ol>

    <p class="u-Adjust_Mt-16">バッテリーが劣化しているようなら、電源をOFFにして製品温度を冷ますようにしてください。また、高温の症状が続くようなら、交換をご検討ください。<br>
      <br>
      バッテリーが劣化していないにもかかわらず、症状が続くようでしたら、バッテリーに異常がある可能性があります。<br>
      その場合、ご利用を中止し、<a href="/guide/inquiry/" class="c-Link_Txt">メーカー別 問い合わせ先</a>をご確認のうえ、症状をお伝えください。
    </p>

    <p class="u-Adjust_Mt-32">製品によって設定方法や項目が異なる場合があります。</p>

  </div>
</div>
