<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "002" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>"
     data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ストレージの空き容量の確認</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>ストレージの空き容量が十分に確保されているかご確認ください。<br>
      使用していないアプリや、不要な写真や動画を削除することで、空き容量を増やすことができます。</p>
    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">ストレージの空き容量の確認方法</h4>
    <ol class="u-Adjust_Mt-24">
      <li>1.ホーム画面で  「設定」を選択</li>
      <li>2.「ストレージ」を選択して確認</li>
    </ol>
    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">ストレージの空き容量を増やす方法</h4>
    <p class="u-Adjust_Mt-24">不要なアプリをアンインストールする</p>
    <p class="c-Txt_Cap">※アンインストールはお客様の自己責任でお願いします。</p>
    <ul>
      <li>1.ホーム画面でアプリを長押し</li>
      <li>2.「アプリ情報」を選択</li>
      <li>3.「アンインストール」を選択</li>
    </ul>

    <p class="u-Adjust_Mt-32">不要な写真・動画を削除する</p>
    <ul>
    <li>1.写真アプリを起動し、不要な写真・動画を長押し</li>
    <li>2.画面右下に表示される「削除」ボタンをタップ</li>
  </ul>

    <p class="u-Adjust_Mt-16">操作手順は製品により異なる場合があります。取扱説明書をご確認ください。</p>
  </div>
</div>







