<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "055" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>"
     data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>通話相手のスピーカー音量の確認</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>通話相手のスピーカー音量が大きいと、発生する場合があります。<br>
      通話相手にスピーカー音量を小さくするようにお伝えください。</p>
  </div>
</div>
