<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "040" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>バッテリー残量の確認</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>バッテリーが切れている場合があります。<br>
      充電し、改善するかご確認ください。<br>
      <br>
      充電時に充電ランプが点灯するかを確認してください。充電ができない場合は、以下もお試しください。</p>

    <ul class="c-List_Text-disc u-Adjust_Mt-8">
      <li>別のケーブルやACアダプターで充電する</li>
      <li>別のコンセントで充電する</li>
    </ul>

    <p class="c-Txt_Cap u-Adjust_Mt-16">※充電ランプが光るときのみ充電を10分以上行っていただき、再度電源ボタン長押しにて起動できるかをご確認ください。</p>
  </div>
</div>
