<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "009" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>"
     data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>アクセサリの取り外し</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>フィルム（※）、ケース、モバイルバッテリーなどアクセサリを取り外して改善するかご確認ください。</p>
    <p class="c-Txt_Cap">※フィルムが画面の誤作動を起こし、フリーズしたような症状が出る場合があります。</p>
  </div>
</div>
