<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "044" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>のぞき見ブロック設定の解除</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>のぞき見ブロック設定がONの場合、画面が見えづらくなる場合があります。<br>
      のぞき見ブロック設定をOFFにして改善されるかご確認ください。
      </p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">のぞき見ブロック設定の解除方法</h4>
    <ol class="u-Adjust_Mt-24">
      <li>1.ホーム画面で「設定」を選択</li>
      <li>2.「ディスプレイ」を選択</li>
      <li>3.「詳細設定」を選択</li>
      <li>4.「のぞき見ブロック」を選択</li>
      <li>5.「のぞき見ブロック」をOFFにする</li>
    </ol>

    <p class="u-Adjust_Mt-16">製品によって設定項目が無い場合があります。</p>

  </div>
</div>
