<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "039" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>音声通話が利用できるか確認</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>音声通話が利用できるかご確認ください。<br>
      音声通話がご利用できない場合、eSIMが開通していない可能性があります。開通状況をご確認ください。</p>
  </div>
</div>
