<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "053" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>製品のスピーカーや利用しているイヤホンの確認</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>当てはまる項目をご確認のうえ、各対処方法で改善するかご確認ください。</p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">ケースやフィルムを装着している場合</h4>
    <ul class="c-List_Text-disc u-Adjust_Mt-8">
      <li>スピーカーがケースやフィルムでふさがっていないか確認し、必要に応じて取り外す</li>
    </ul>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">有線イヤホンを利用している場合</h4>
    <ul class="c-List_Text-disc u-Adjust_Mt-8">
      <li>イヤホンの抜き差し</li>
      <li>ほかのイヤホンが利用できるか確認</li>
      <li>イヤホンの接続部分やイヤホンの穴の掃除</li>
    </ul>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">無線イヤホンを利用している場合</h4>
    <ul class="c-List_Text-disc u-Adjust_Mt-8">
      <li>Bluetoothの再接続</li>
      <li>他の無線イヤホンが利用できるか確認</li>
    </ul>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">音量設定の確認</h4>

    <p class="u-Adjust_Mt-16">音量が極端に低いため相手の声が聞こえない場合があります。</p>

    <ol class="u-Adjust_Mt-24">
      <li>1.ホーム画面で  （設定）を選択</li>
      <li>2.「音」を選択</li>
      <li>3.音に関する設定を行う</li>
    </ol>

  </div>
</div>
