<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "088" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>SDカードの抜き差し</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>SDカードの抜き差しで改善するかご確認ください。</p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">SDカードの抜き差し方法</h4>
    <ol class="u-Adjust_Mt-24">
      <li>1.SDカードを抜く</li>
      <li>2.SDカードの接点を柔らかい布で掃除する</li>
      <li>3.SDカードスロットを掃除する</li>
      <li>4.SDカードを挿れる</li>
    </ol>
  </div>
</div>
