<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "029" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>SIMが認識されているか確認</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>製品にSIMが認識されているかご確認ください。</p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">SIMが認識されているかの確認方法</h4>
    <ol class="u-Adjust_Mt-24">
      <li>1.ホーム画面で 「設定」を選択</li>
      <li>2.「デバイス情報」を選択</li>
      <li>3.電話番号が表示されていることを確認</li>
    </ol>

    <p class="u-Adjust_Mt-16">電話番号が「不明」等で表示されている場合はSIMは認識されておりません。製品の再起動
      やSIMカードをご利用の場合はSIMカードの抜き差しを行い、改善するかご確認ください。</p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">SIMカードの抜き差し方法</h4>
    <ul class="u-Adjust_Mt-24">
      <li>1.製品付属のSIMピンを利用して、SIMトレイを取り出す※SIMピンを利用しない製品もあります。</li>
      <li>2.SIMカードにホコリなどが付着している場合、布などで拭く</li>
      <li>3.SIMカードをトレイにセットする</li>
      <li>4.SIMトレイを製品にセットする</li>
    </ul>

    <p class="u-Adjust_Mt-16">製品によって設定方法や設定項目が異なる場合があります。</p>

    <p class="u-Adjust_Mt-16">上記を行ってもSIMが認識されない場合、SIMの初期不良の可能性があります。「<a href="<%= sitepath %>faq/detail/00001406/#sec2" class="c-Link_Txt">SIMの交換・再発行のお手続き方法</a>」をご確認のうえ、SIMの交換を一度お試しください。</p>
  </div>
</div>
