<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "094" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>顔データの再登録とアプリの設定リセット</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>顔データの削除・再登録を行い、改善するかご確認ください。それでも改善しない場合は、アプリの設定のリセットを行ってください。</p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">顔認証の登録削除・登録方法</h4>
    <ol class="u-Adjust_Mt-24">
      <li>1.ホーム画面で「設定」を選択</li>
      <li>2.「セキュリティ」を選択</li>
      <li>3.「顔認証」を選択</li>
      <li>4.「顔データの削除」を選択</li>
      <li>5.再度顔データの登録を行う　</li>
    </ol>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">アプリの設定リセット方法</h4>
    <p class="c-Txt_Cap">※アプリの設定リセットはお客様の自己責任でお願いします。</p>
    <ol class="u-Adjust_Mt-24">
      <li>1.ホーム画面で 「設定」を選択</li>
      <li>2.「システム」を選択</li>
      <li>3.「リセットオプション」を選択</li>
      <li>4.「アプリの設定をリセット」を選択</li>
    </ol>
    <p class="u-Adjust_Mt-16">製品によって設定方法や設定項目が異なる場合があります。</p>

  </div>
</div>
