<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "031" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>接続中のサービスエリアの確認</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>現在接続中の場所が楽天回線エリア、パートナー回線エリアのどちらか「my 楽天モバイル」にログインすることでご確認いただけます。<br>
      <br>
      どちらのサービスエリアにも接続していない場合は、「エリア情報が取得できません」と表示されます。</p>

      <p class="c-Txt_Cap u-Adjust_Mt-16">※my 楽天モバイルはアプリ・WEBどちらでもご確認いただけます。</p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">接続中のサービスエリアの確認方法</h4>
    <ol class="u-Adjust_Mt-24">
      <li>1.「my 楽天モバイル」にログインする</li>
      <li>2.ホーム画面の自身の番号が表示される下の「データ利用量」部分を確認</li>
      <li>3.接続中のサービスエリアを確認</li>
    </ol>

    <p class="c-Txt_Cap u-Adjust_Mt-16">※楽天回線エリアであっても、地下、屋内、大きな商業ビルの屋内等の場所、電波の状況等によってパートナー回線を利用する通信となる場合があります。</p>
  </div>
</div>
