<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "058" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ケースやフィルムの確認</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>ケースやフィルムなど、製品に対応したものでもマイク／スピーカーの穴をふさいでいる場合があります。<br>
      <br>
      穴がふさがっている場合は、スマートフォンケースや保護フィルムを取り外し・変更してください。</p>
  </div>
</div>
