<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "037" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>近隣センサー付近のアクセサリを確認</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>近隣センサーはスマホに物が近づいたことを感知して画面を調整する機能です。<br>
      アクセサリ（ケース、フィルム）により不具合を起こしている場合があります。取り外して改善するかご確認ください。</p>
  </div>
</div>
