<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "051" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>通話中の消音（ミュート）設定の確認</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>通話中画面で「ミュート」または「消音」が設定されていないかご確認ください。<br>
      設定されている場合、通話画面に表示されている「ミュート」と書かれたマイクのアイコンをタップして設定を解除してください。
      </p>
  </div>
</div>
