<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "010" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>"
     data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>メーカーへ修理を依頼</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>ご利用を中止し、<a href="/guide/inquiry/" class="c-Link_Txt">メーカー別 問い合わせ先</a>をご確認のうえ、症状をお伝えください。</p>
  </div>
</div>
