<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "070" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>利用中の電話アプリの確認 </button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>利用している電話アプリをご確認ください。<br>
      一例として、OS標準の電話アプリの確認方法をご案内いたします。</p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">OS標準の電話アプリの確認方法</h4>
    <ol class="u-Adjust_Mt-24">
      <li>1.ホームボタンを上にスワイプ</li>
      <li>2.起動しているアプリがOS標準の電話アプリであることを確認</li>
    </ol>
    <p class="c-Txt_Cap u-Adjust_Mt-16">※OS標準の電話アプリ以外の確認方法は、各アプリの利用方法をご確認ください。</p>

  </div>
</div>
