<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "095" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Googleアカウントの登録確認</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>Googleアカウントの登録ができているかご確認ください。</p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">Googleアカウントの確認方法</h4>
    <ol class="u-Adjust_Mt-24">
      <li>1.ホーム画面で  （設定）を選択</li>
      <li>2.「アカウント」を選択</li>
      <li>3.アカウント画面に登録したアカウントがあることを確認</li>
    </ol>
    <p class="u-Adjust_Mt-16">
    製品によって設定項目が異なる場合があります。
    </p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">Googleアカウントの新規作成方法</h4>
    <p>以下の手順を参考にGoogleアカウントを作成してください。</p>

    <p class="u-Adjust_Mt-16">Googleアカウントの<a href="/faq/detail/00001976/" class="c-Link_Txt">新規作成手順はこちら</a></p>

  </div>
</div>
