<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "012" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>"
     data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>再起動</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>製品を再起動して改善するかご確認ください。</p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">再起動の方法</h4>

    <ul class="u-Adjust_Mt-24">
      <li>1.電源キーを長押し</li>
      <li>2.「再起動をする」をタップ</li>
      <li>3.再起動するまで待つ</li>
    </ul>

    <p class="u-Adjust_Mt-16">製品によって設定方法や設定項目が異なる場合があります。</p>
  </div>
</div>
