<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "034" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>インターネットの接続を確認</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>ソフトウェアのアップデートにはインターネット接続が必要です。<br>
      <br>
      インターネットに接続してる環境かご確認ください。</p>

    <ul class="c-List_Text-disc u-Adjust_Mt-8">
      <li>アンテナマークの近くに5G、4G、LTEなどが表示されていることをご確認ください。アンテナマークの本数が電波の強弱となります。</li>
      <li>画面上部にWi-Fiのアイコンが表示され、Wi-Fiに接続されていること。</li>
    </ul>
  </div>
</div>
