<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "014" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>"
     data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>利用状況を確認</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>該当する項目で利用していないかご確認ください。
    </p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">製品を鞄やポケットに入れている場合</h4>
    <p>保温性の高い布などで包まれると製品の温度が高くなることがあります。</p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">外気温の高い場所で利用している場合</h4>
    <p>直射日光の差し込む窓際や車のフロントガラス付近、暖房機の吹き出し口付近でご利用していると製品の温度が高くなることがあります。</p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">充電している場合</h4>
    <p>付属の純正充電器や充電ケーブルを利用しているかご確認ください。</p>

  </div>
</div>
