<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "025" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>"
     data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>機内モードのON／OFF</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>機内モードは、電源をOFFにせず通信機能を利用できないようにする機能です。<br>
      機内モードを一度ONにし、再度OFFにすることで症状が改善するかご確認ください。</p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">機内モードのON/OFF方法</h4>
    <ol class="u-Adjust_Mt-24">
      <li>1.ホーム画面で  「設定」を選択</li>
      <li>2.「ネットワークとインターネット」を選択</li>
      <li>3.機内モードをON／OFF</li>
    </ol>

    <p class="u-Adjust_Mt-16">以下の手順でもON／OFFができます。</p>
    <ol>
      <li>1.ホーム画面の上から下にスワイプ</li>
      <li>2.飛行機のマークをタップ</li>
      <li>3.画面上部に飛行機のマークが表示されているか確認F</li>
    </ol>

    <p class="u-Adjust_Mt-16">製品により操作手順が異なる場合があります。</p>
  </div>
</div>
