<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "063" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>外部スピーカー・イヤホンの接続を確認</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>外部スピーカーやイヤホンなどのオーディオ機器が正しく接続されていない可能性があります。<br>
      ケーブルの差込口が誤っていないか、また製品が正しく接続されているか確認ください。
      </p>
  </div>
</div>
