<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "023" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>"
     data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ルーターの設置場所の変更と再起動</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>設置場所により、ルーターから製品が受信する電波が弱くなる可能性があります。<br>
      ルーターを移動して改善されるかご確認ください。<br>
      移動させるのが難しい場合、製品をルーターの近くに移動させて、状況が改善するかご確認ください。</p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">電波に影響を与える設置場所について</h4>
    <p>
      ルーターを他の家庭用電気製品や水回りの近くに置くと、電波に影響が出る場合があります。
    </p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">ルーターの再起動方法</h4>
    <p>
      ルーターの再起動方法については、製品によって異なるので、ご利用している製品の取扱説明書をご確認ください。
    </p>
  </div>
</div>
