<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "072" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>マナーモード・消音（ミュート）状態の解除 </button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>マナーモードや消音（ミュート）の状態でないかをご確認のうえ、解除を行ってください。</p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">マナーモードの解除方法</h4>
    <ol class="u-Adjust_Mt-24">
      <li>1.ホーム画面の上から下にスワイプ</li>
      <li>2.ベルのアイコンをタップし、マナーモードを解除</li>
    </ol>
    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">音量の設定方法</h4>
    <ol class="u-Adjust_Mt-24">
      <li>1.ホーム画面で「設定」を選択</li>
      <li>2.「音」を選択</li>
      <li>3.音に関する設定を行う</li>
    </ol>

  </div>
</div>
