<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "066" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>製品の再起動</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>電源キー長押しで、電源ON／OFFし改善されるかご確認ください。</p>
    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">電源をOFFにする方法</h4>
    <ol class="u-Adjust_Mt-24">
      <li>1.電源キーを長押し</li>
      <li>2.「電源を切る」をタップ</li>
      <li>3.電源が切れたことを確認</li>
    </ol>

    <p class="c-Txt_Cap u-Adjust_Mt-16">※電源キーを10秒程度長押しの場合、強制的に電源を切ることができます。</p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">電源をONにする方法</h4>
    <ol class="u-Adjust_Mt-24">
      <li>1.電源キーを長押し</li>
      <li>2.電源が入ったことを確認</li>
    </ol>


    <p class="u-Adjust_Mt-16">長押しする時間は、製品によって異なる場合があります。</p>
  </div>
</div>
