<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "028" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>"
     data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>アンテナマークの表示を確認</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>現在いらしゃる場所が楽天モバイルの利用できる場所か、アンテナマークの近くに5G、4G、LTEなどが表示されていることをご確認ください。<br>
      アンテナマークの右にある線の本数が電波の強弱となります。</p>
  </div>
</div>
