<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "089" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>差込口／スロットの確認</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>SDカードの差込口やスロットに破損がないかご確認ください。<br>
      <br>
      破損がある場合、正しくセットできない場合があります。</p>
  </div>
</div>
