<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "038" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>eSIMの開通状況を確認</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>開通が完了しているか、以下のどちらかの方法で⁤ご確認ください。</p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">設定画面での開通状況の確認方法</h4>
    <ol class="u-Adjust_Mt-24">
      <li>1.ホーム画面で「設定」を選択</li>
      <li>2.「デバイス情報」を選択</li>
      <li>3.電話番号が認識されていることを確認</li>
    </ol>

    <p class="u-Adjust_Mt-16">電話番号が「不明」等で表示されている場合はeSIMは認識されておりません。</p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">my 楽天モバイルでの開通状況の確認方法</h4>
    <ul class="u-Adjust_Mt-24">
      <li>1.「my 楽天モバイル」にログインする</li>
      <li>2.画面右上の三本線のアイコンを選択</li>
      <li>3.「申し込み履歴」を選択</li>
      <li>4.対象の申し込み番号の下に「回線開通完了」の表示があるか確認</li>
    </ul>

    <p class="u-Adjust_Mt-16">eSIMが開通できていない場合、開通手続きに関する案内をご確認のうえ、開通手続きを行ってください。</p>
  </div>
</div>
