<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "061" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ノイズキャンセラー機能を利用</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>ノイズキャンセラー機能を利用して、改善されるかご確認ください。</p>
    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">ノイズキャンセラー機能の設定方法</h4>
    <ol class="u-Adjust_Mt-24">
      <li>1.ホーム画面で「設定」を選択</li>
      <li>2.「通話設定」をタップ</li>
      <li>3.「マイクのノイズ抑制」をONにする</li>
    </ol>

    <p class="u-Adjust_Mt-16">製品により項目名が異なる場合や、設定項目がない場合があります。</p>
  </div>
</div>
