<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "041" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>液晶画面の確認</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>該当する項目がないかご確認ください。</p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">液晶画面の破損がある場合</h4>
    <p>落下・衝撃などによる破損が原因で正しく表示されない場合があります。</p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">液晶画面の破損がない場合</h4>
    <p>画面が真っ黒になっている、または線が表示されるなどの場合、製品の再起動を行って改善するかご確認ください。</p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">液晶画面にフィルムを貼っている場合</h4>
    <p>フィルムが原因で正常に表示されない場合があります。フィルムをはがして改善されるかご確認ください。</p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">特定のアプリのみ発生する場合</h4>
    <p>特定のアプリでのみ不具合が発生している場合、アプリ側に原因がある場合があります。アプリの設定をご確認ください。それでも改善しない場合は、アプリ提供会社へお問い合わせください。</p>


  </div>
</div>
