<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "091" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>製品の利用を一旦中止し、症状を確認　</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>充電しながらの操作はバッテリーに負担をかけ、製品が熱くなる場合があります。<br>
      温度が下がるまで充電を中止して改善するかご確認ください。</p>
  </div>
</div>
