<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "024" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>"
     data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>別のネットワークへ切り替える</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>別のネットワークで正常に利用できるかご確認ください。</p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">ネットワークの切り替え方法</h4>
    <ol class="u-Adjust_Mt-24">
      <li>1.ホーム画面で「設定」を選択</li>
      <li>2.「ネットワークとインターネット」を選択</li>
      <li>3.「Wi-Fi」を選択</li>
      <li>4.別のSSIDを選択</li>
    </ol>
    <p class="c-Txt_Cap">※パスワードを求められる場合、ルーターの設定を確認してください。</p>
  </div>
</div>
