<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "008" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>"
     data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>マイクと対象アプリの権限を確認</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>製品のマイクが 正常に動作するかご確認ください。そのうえで、対象アプリにマイクの権限があるかご確認ください。</p>
    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">製品のマイク動作確認方法</h4>

    <p class="u-Adjust_Mt-8">OS標準の電話アプリでの通話など、マイクを利用する別のアプリで利用できるかご確認ください。</p>

    <p class="c-Txt_Emp-01 u-Adjust_Mt-32">各アプリの権限確認方法
    </p>

    <ul class="u-Adjust_Mt-24">
      <li>1.ホーム画面でアプリを長押し</li>
      <li>2.「アプリ情報」を選択</li>
      <li>3.「権限」を選択</li>
      <li>4.許可の一覧に「マイク」があることを確認</li>
    </ul>

    <p class="u-Adjust_Mt-16">製品によって設定方法や設定項目が異なる場合があります。</p>
  </div>
</div>
