<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "006" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>OS標準の電話アプリの権限確認</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>特定のアプリで発生している事象であるかご確認ください。<br>
      OS標準の電話アプリで通話や録音が可能かアプリの権限をご確認ください。
    </p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">OS標準の電話アプリの権限確認手順</h4>

    <ol class="u-Adjust_Mt-24">
      <li>1.ホーム画面で  「設定」を選択</li>
      <li>2.「アプリと通知」を選択</li>
      <li>3.「〇〇個のアプリをすべて表示」を選択</li>
      <li>4.アプリ一覧の中からOS標準の電話アプリを選択</li>
      <li>5.「権限」を選択</li>
      <li>6.許可の一覧に「マイク」があることを確認</li>
    </ol>

    <p class="u-Adjust_Mt-16">製品によって設定方法や設定項目が異なる場合があります。</p>
  </div>
</div>
