<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "079" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>原因になりそうなアプリの終了・アンインストール</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>インストール以降、不調の原因と思われるアプリの終了やアンインストールで改善するかご確認ください。</p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">アプリの終了方法</h4>
    <ol class="u-Adjust_Mt-24">
      <li>1.ホームボタンを上にスワイプ</li>
      <li>2.起動しているアプリの一覧が表示</li>
      <li>3.終了したいアプリを上にスワイプ<br>
        　すべて終了する場合は、アプリを左にスワイプさせ、「すべてクリア」を選択</li>
    </ol>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">アプリのアンインストール方法</h4>

    <p class="c-Txt_Cap">※アンインストールはお客様の自己責任でお願いします。</p>

    <ol class="u-Adjust_Mt-24">
      <li>1.ホーム画面でアンインストールしたいアプリを長押し</li>
      <li>2.「アプリ情報」を選択</li>
      <li>3.「アンインストール」を選択</li>
    </ol>
    <p class="u-Adjust_Mt-16">製品によって設定方法や設定項目が異なる場合があります。</p>

  </div>
</div>
