<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "093" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>顔認証の再設定</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>顔認証の設定をご確認のうえ、再設定してください。</p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">顔認証の設定方法</h4>
    <ol class="u-Adjust_Mt-24">
      <li>1.ホーム画面で 「設定」を選択</li>
      <li>2.「セキュリティ」を選択</li>
      <li>3.「顔認証」を選択</li>
      <li>4.画面の指示に従って設定</li>

    </ol>
    <p class="u-Adjust_Mt-16">製品によって設定方法や設定項目が異なる場合があります。</p>

  </div>
</div>
