<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "086" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>別のBluetooth機器をペアリング</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>Bluetooth機器を別のBluetooth機器で電波が受信できるかご確認ください。<br>
      別のBluetooth機器でもペアリング先として表示されない場合、製品側のBluetoothが問題のある可能性があります。<br>
      <br>
      <a href="/guide/inquiry/" class="c-Link_Txt">メーカー別 問い合わせ先</a>をご確認のうえ、症状をお伝えください。
    </p>

    <p class="u-Adjust_Mt-16">ペアリング方法は接続するBluetooth機器の取扱説明書を参照してください。</p>

  </div>
</div>
