<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "080" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>位置情報の設定確認と高精度への変更</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>位置情報を高精度に変更することで、改善できる場合があります。</p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">位置情報の設定方法</h4>
    <ol class="u-Adjust_Mt-24">
      <li>1.ホーム画面で「設定」を選択</li>
      <li>2.「位置情報」を選択</li>
      <li>3.「位置情報の仕様」がONになっていることを確認</li>
    </ol>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">位置情報の精度設定方法</h4>

    <ol class="u-Adjust_Mt-24">
      <li>1.ホーム画面で「設定」を選択</li>
      <li>2.「位置情報」を選択</li>
      <li>3.「Google位置情報の精度」がONになっていることを確認</li>
    </ol>
    <p class="u-Adjust_Mt-16">製品によって設定方法や設定項目が異なる場合があります。</p>

  </div>
</div>
