<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "073" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>バイブレーターのON／OFF </button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>バイブレーターのON／OFFを行って改善するかご確認ください。</p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">着信時のバイブレーターのON／OFF方法</h4>
    <ol class="u-Adjust_Mt-24">
      <li>1.ホーム画面で「設定」を選択</li>
      <li>2.「音」を選択</li>
      <li>3.「着信時のバイブレーション」を選択</li>
      <li>4.「バイブレーションOFF」を選択</li>
    </ol>
    <p class="u-Adjust_Mt-16">製品によって設定方法や設定項目が異なる場合があります。</p>
  </div>
</div>
