<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "092" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>顔認証時の利用環境の確認</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>顔認証がうまくできない場合、以下の対応で改善するかご確認ください。</p>

    <ul class="c-List_Text-disc u-Adjust_Mt-8">
      <li>明るい場所へ移動</li>
      <li>サングラス、マスクなどを外す</li>
      <li>インカメラが隠れていないか確認</li>
    </ul>

  </div>
</div>
