<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "085" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Bluetooth機器の再接続</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>Bluetooth機器のペアリングモードを有効にし、再度製品と接続を行い、改善するかご確認ください。<br>
    <br>
    ペアリングモードのBluetooth機器の取扱説明書を参照してください。</p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">Bluetoothの再接続方法</h4>
    <ol class="u-Adjust_Mt-24">
      <li>1.ホーム画面で「設定」を選択</li>
      <li>2.「接続済みのデバイス」を選択</li>
      <li>3.「接続の設定」を選択</li>
      <li>4.「Bluetooth」を選択</li>
      <li>5.「Bluetooth」がONの場合はOFFにする</li>
      <li>6.「Bluetooth」を再度ONにし、表示されたBluetooth機器をタップ</li>

    </ol>
    <p class="u-Adjust_Mt-16">製品によって設定方法や設定項目が異なる場合があります。</p>

  </div>
</div>
