<%_
if (typeof index === 'undefined') {
  index = '';
}
_%>
<% const solutionNo = "032" -%>
<div class="c-Accordion">
  <button id="accordion-<%= index %>" class="c-Accordion_Trigger js-Accordion_Trigger js-rat-accordion" aria-expanded="false" aria-controls="accordion-content-<%= index %>" data-ratval="<%= solutionNo %>">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>eSIMが認識されているか確認</button>
  <div id="accordion-content-<%= index %>" class="c-Accordion_Panel faq-Labellist_AccordionPanel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= index %>" aria-hidden="true">
    <p>eSIMが認識されているかご確認ください。<br>
      eSIMが認識されていない場合、楽天モバイルの通信サービスを利用することができません。</p>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">eSIMが認識されているかの確認方法</h4>
    <ol class="u-Adjust_Mt-24">
      <li>1.ホーム画面で「設定」を選択</li>
      <li>2.「デバイス情報」を選択</li>
      <li>3. 電話番号が認識されていることを確認</li>
    </ol>

    <p class="u-Adjust_Mt-16">電話番号が「不明」等で表示されている場合はeSIMは認識されておりません。<br>
      製品の再起動を行い、症状が改善するかご確認ください。</p>
  </div>
</div>
