<% const pagetitle = "楽天モバイル地域版Xアカウント フォロー&リポストキャンペーン 当選のお知らせ" -%>
<% const directories = [{ label:"通信・エリア", path:"area/", subpath:"area/campaign/xfr/" ,sublabel:"楽天モバイル地域版Xアカウント フォロー&リポストキャンペーン" }] -%>
<% const description = "楽天モバイル地域版Xアカウント フォロー&リポストすると抽選で200名様に5,000ポイントプレゼント!!" -%>
<% const info = "当選のお知らせ" -%>
<% const namespace = "xfr" -%>
<%- include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description,
  pathname: filepath,
  noindex: false,
  ogp_img: 'https://network.mobile.rakuten.co.jp/assets/img/area/campaign/xfr/ogp.png?20240220'
  }); %>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/area/campaign/xfr/xfr.css?20240424">
<%- include('/include/_append-head') %>
<script type="text/javascript">
<!--
function doTrim(el) {
  el.value = el.value.replace(/^\s+|\s+$/g, '');
}

function isInput(el) {
  return el.value.length != 0;
}

function isChecked(el) {
  if (el.length) {
    for (var i = 0; i < el.length; i++) {
      if (el[i].checked) {
        return true;
      }
    }
  } else {
    if (el.checked) {
      return true;
    }
  }
  return false;
}

function isLength(el, len) {
  if ("え".length == 2) {
    len *= 2;
  }
  return el.value.length <= len;
}

function zen2han(el) {
  el.value = el.value.replace(/[０]/g, "0");
  el.value = el.value.replace(/[１]/g, "1");
  el.value = el.value.replace(/[２]/g, "2");
  el.value = el.value.replace(/[３]/g, "3");
  el.value = el.value.replace(/[４]/g, "4");
  el.value = el.value.replace(/[５]/g, "5");
  el.value = el.value.replace(/[６]/g, "6");
  el.value = el.value.replace(/[７]/g, "7");
  el.value = el.value.replace(/[８]/g, "8");
  el.value = el.value.replace(/[９]/g, "9");
}

function checkForm() {
  var el;
  var obj = document.enenForm;

  el = obj.elements['answers[40361_274567]'];
  doTrim(el);
  zen2han(el);
  if (!isInput(el)) {
    alert("「@以降のX（旧Twiiter）のユーザー名を入力してください」を入力してください。");
    return false;
  }

  // if (!isLength(el, 15)) {
  //   alert("「@以降のX（旧Twiiter）のユーザー名を入力してください」は15文字以内で入力してください。");
  //   return false;
  // }

  let str = el.value;
  if (!( /^[A-Za-z0-9_]{4,15}$/ ).test(str)) {
    alert("半角英数字4~15文字以内で入力してください");
    return false;
  }

  el = obj.elements['answers[40361_274569]'];
  if (!isChecked(el)) {
    alert("「ルール＆注意事項を確認し、了承しました」を選択してください。");
    return false;
  }
}
// -->
</script>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <% directories.forEach(function (dir) { %>
    <li><a href="<%= sitepath + dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
    <% if (dir.subpath) { %>
    <li><a href="<%= sitepath + dir.subpath %>"><%= dir.sublabel %></a><span class="c-Icon_Chevron-right"></span></li>
    <% } %>
    <% }) %>
    <li aria-current="true"><%= info %></li>
  </ul>
</div>

<div class="l-System_Container">
  <h1 class="c-Heading_Lv2 u-Adjust_Mt-32">
    <%= pagetitle %>
  </h1>

  <p class="u-Adjust_Mt-24">
    この度は楽天モバイル地域版Xアカウント フォロー&リポストキャンペーンにご応募いただき、誠にありがとうございました。<br>
    厳正なる抽選の結果、あなた様が当選されましたのでポイントを付与させていただきます。<br>
    付与するにあたり、<a href="#campaign-rule">ルール＆注意事項</a>をご確認の上、アンケートにご回答をお願いいたします。<br>
    楽天会員登録およびアンケートのご回答をもって、ポイント付与となります。<br>
    ★会員登録がまだの方は、アンケートのご回答前に会員登録を<a href="https://grp01.id.rakuten.co.jp/rms/nid/registfwd"
      target="_blank">こちら</a>よりお願いいたします。<br>
    ★すでに楽天会員登録をされている方は、会員情報に誤りがないか<a href="https://member.id.rakuten.co.jp/rms/nid/menufwd"
      target="_blank">こちら</a>よりご確認をお願いいたします。
  </p>

  <form class="u-Adjust_Mt-24" action="https://form.rakuten.co.jp/ans/apply/40361" name="enenForm" method="POST" onSubmit="return checkForm()">

    <dl class="c-Dl_Origin u-Adjust_Mt-24">
      <div>
        <dt>
          X（旧Twiiter）のユーザー名<span class="c-Txt_Emp-02 c-Txt_Normal-ss">必須</span>
        </dt>
        <dd>
          <p class="c-Txt_Cap u-Adjust_Mb-8">4文字以上15文字以内</p>
          <div class="<%= namespace %>_User">
            <span class="<%= namespace %>_Content">@</span>
            <textarea name="answers[40361_274567]" rows="1" cols="40" class="c-Form_Input" placeholder="@以降のX（旧Twitter）のユーザー名を入力してください。"></textarea>
          </div>
        </dd>
      </div>
      <div>
        <dt>
          ルール＆注意事項を確認し、了承しました <span class="c-Txt_Emp-02 c-Txt_Normal-ss">必須</span>
        </dt>
        <dd>
          <div class="<%= namespace %>_Radio">
            <label class="c-Form_Radioblock" for="a761550"><input type="radio" data-validate="radio" name="answers[40361_274569]" id="a761550" value="761550">
              <div class="<%= namespace %>_Radio-label c-Form_Radioblock-wrap">
                <span class="c-Form_Radio-icon"></span><div class="c-Form_Radioblock-label">はい</div>
              </div>
            </label>
          </div>
        </dd>
      </div>
    </dl>

    <div class="<%= namespace %>_Submit u-Adjust_Align-center">
      <input type="hidden" name="c" value="楽天">
      <input type="hidden" name="l" value="ja">
      <button class="c-Btn_Primary-large" type="submit"><span>送信する</span></button>
    </div>
  </form>
</div>


<div class="<%= namespace %>-Layout_Foot">
  <div class="l-System_Container">
    <div id="campaign-rule">
      <div class="c-Infobox_Standing-light u-Adjust_Mt-48">
        <h2 class="c-Heading_Lv2">ルール＆注意事項</h2>
      </div>

      <ul class="c-List_Text-disc u-Adjust_Mt-16">
        <li>取得した個人情報は、本キャンペーンにおける楽天ポイント付与のために用いるものとします。<br>
          また、個人情報の取扱いに当たっては当社の個人情報保護方針に従います。
          楽天会員登録がまだの方は当選通知受信後7日以内に入力をお願いいたします。</li>
        <li>当選の権利を他人へ譲渡はできません。</li>
        <li>こちらのアンケートページを他者に共有した場合、当選が無効となります。</li>
      </ul>

    </div>
  </div>
</div>


<footer class="g-Footer <%= namespace %>_Foot">
  <div class="g-Footer_Aside">
    <%- include('/include/footer/related/_related-news.ejs') %>
    <%- include('/include/footer/bnr/_bnr-news.ejs') %>
  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !=='undefined' ) { _%>
        <%_ let dirs=[]; _%>
          <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !=="" ) { _%>
              <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <li><a href="<%= sitepath %><%= dir.subpath %>"><%= dir.sublabel %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
              <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
          <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= info %></li>
      </ul>
    </div>
  </div>
  <%- include('/include/_footer') %>
</footer>
</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
