<%
  const pagetitle = '楽天モバイル地域版Xアカウント フォロー&リポストキャンペーン';
  const directories = [{path:"area/", label:"通信・エリア"}];
  const entryrange = "20xx年xx月xx日（x）00:00～20xx年xx月xx日（x）00:00";
  const campaignrange = "2024年2月20日（火）9:00~2024年2月29日（木）8:59";
  const campaignState ='finish';
  const enddate = '2024年2月29日';
  const namespace = "xfr";
  const anchor = 'areaCampaign';
_%>
<%-
  include('/_header', {
    pagetitle,
    directories,
    description: '楽天モバイル地域版Xアカウント フォロー&リポストキャンペーン',
    keywords: '',
    noindex: false,
    pathname: filepath,
    browseragent: false,
    ogp_img: 'https://network.mobile.rakuten.co.jp/assets/img/area/campaign/xfr/ogp.png?20240220'
  });
%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/area/campaign/campaign.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/area/campaign/xfr/xfr.css?20240424">

<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<%- include('/include/_breadcrumbs', {
  type: 'head',
  pagetitle,
  directories,
}) %>

<div class="areaCampaign-Layout_Label">
  <ul class="c-Label_List">
    <li class="c-Label_Normal">全会員様対象</li>
  </ul>
  <p class="<%= namespace %>_Label">ポイント：付与日を含めて6カ月の期間限定ポイント</p>
</div>

<div class="areaCampaign-Hero">
  <h1 class="<%= namespace %>_Kv">
    <picture>
      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/area/campaign/xfr/img-xfr-kv-sp.png?20240220" width="100%" height="330">
      <img src="<%= sitepath %>assets/img/area/campaign/xfr/img-xfr-kv-pc.png?20240220" alt="キャンペーンにエントリーする" width="1440" height="300">
    </picture>
  </h1>
</div>

<div class="<%= namespace %>-Anchor">
  <div class="u-Adjust_Align-center l-System_Container">
    <% if (campaignState === 'finish') { %>
        <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは<%= enddate %>をもちまして終了いたしました。<br>
        このページに掲載されている情報は、キャンペーン終了時点のものです。</p>
    <% } %>
    <p class="c-Txt_Cap u-Adjust_Mt-16">
      ※ 進呈するポイントには条件があります。詳しくは<a href="#campaign">キャンペーンルール</a>をご確認ください
    </p>
    <p class="u-Adjust_Mt-24">
      <span class="u-Weigh_Bold c-Txt_Emp-01">【キャンペーン期間】</span><br class="<%= namespace %>_Br-sp"><span>2024年2月20日（火）9:00<br class="<%= namespace %>_Br-sp">～2024年2月29日（木）8:59</span>
    </p>
  </div>
  <div class="<%= anchor %>-Anchor_Inner">
    <div class="l-System_Container">
      <ul class="<%= anchor %>-Anchor_List u-Adjust_Mt-24 u-Adjust_Pt-32 u-Adjust_Pb-32">
        <li class="<%= anchor %>-Anchor_Item">
          <a href="#flow" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span><span>キャンペーンの流れ</span></a>
        </li>
        <li class="<%= anchor %>-Anchor_Item">
          <a href="#campaign" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span><span>キャンペーンルール</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="u-Bg_Monotone97">
  <div class="l-System_Container u-Adjust_Py-56" id="flow">
    <h2 class="c-Heading_Lv2 u-Adjust_Align-center">
      キャンペーンの流れ
    </h2>
    <!-- 1パターン -->
    <ul class="c-Flow areaCampaign-Flow u-Adjust_Mt-24">
      <li class="u-Adjust_Align-left areaCampaign-Flow_Item">
        <h3 class="c-Heading_Lv3 areaCampaign-Flow_Flex">
          <span class="c-Txt_Emp-02 u-Adjust_Mr-16">STEP 1</span>
          <span>楽天モバイル地域版 X（旧Twitter）アカウントをフォロー</span>
        </h3>
        <div class="<%= namespace %>_Flex u-Adjust_Mt-16">
          <div>
            <p>①　X（旧Twitter）アカウント一覧の中からお住いの地域を選択</p>
            <img class="u-Adjust_Mt-16" src="<%= sitepath %>assets/img/area/campaign/xfr/img-xfr-step1-left.png" alt="" width="292" height="140">
          </div>
          <div class="u-Adjust_Mt-sp-16">
            <p>②　X（旧Twitter）アカウントページのフォローボタンをクリック</p>
            <img class="u-Adjust_Mt-16" src="<%= sitepath %>assets/img/area/campaign/xfr/img-xfr-step1-right.png" alt="" width="292" height="140">
          </div>
        </div>
      </li>
      <li class="u-Adjust_Align-left areaCampaign-Flow_Item">
        <h3 class="c-Heading_Lv3 areaCampaign-Flow_Flex">
          <span class="c-Txt_Emp-02 u-Adjust_Mr-16">STEP 2</span>
          <span>本キャンペーンのポストをリポスト</span>
        </h3>
        <div class="<%= namespace %>_Repost u-Adjust_Mt-16">
          <img src="<%= sitepath %>assets/img/area/campaign/xfr/img-xrf-step2-repost.png?20240220" alt="" width="290" height="251">
        </div>
      </li>
      <li class="u-Adjust_Align-left areaCampaign-Flow_Item">
        <div class="<%= namespace %>_Step3 l-Media_Grid">
          <img class="areaCampaign-Utility_Br-tablet" src="<%= sitepath %>assets/img/area/campaign/xfr/img-xrf-step3-title-sp.png" alt="" width="309" height="105">
          <div class="l-Media_Image ">
            <img src="<%= sitepath %>assets/img/area/campaign/xfr/img-xfr-step3-logo.png" width="304" alt="158">
          </div>
          <div class="<%= namespace %>_Step3-txt">
            <img class="areaCampaign-Utility_Br-tablet-pc" src="<%= sitepath %>assets/img/area/campaign/xfr/img-xfr-step3-title-pc.png" alt="" width="540" height="118">
            <p class="c-Txt_Emp-01 u-Adjust_Mt-16">各アカウント20名様、合計200名様に期間限定ポイントで2024年4月下旬ごろに付与いたします</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">当選者には楽天モバイル地域版X（旧Twitter）アカウントよりダイレクトメッセージ（DM）にて、当選のご連絡をいたします。<span class="c-Txt_Emp-02">7日以内</span>にメッセージ内のリンク先のフォームに必要情報をご入力のうえ、送信し楽天会員アカウントにログインしてください。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-16">※ ポイントを受け取るには楽天会員アカウントが必要です</p>
            <p class="c-Txt_Cap">※「すべてのアカウントからのメッセージリクエストを許可する」の設定をオンにしてください</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="<%= namespace %>_Account">
  <div class="l-System_Container">
    <h2 class="u-Adjust_Align-center c-Heading_Lv3">楽天モバイル地域版X（旧Twitter）アカウント一覧</h2>
    <p class="u-Adjust_Pt-24 u-Adjust_Pb-24">各楽天モバイル地域版X（旧Twitter）アカウントに対し、お1人様につき1回のみの応募となります。複数の楽天モバイル地域版X（旧Twitter）アカウントをフォロー&リポストした場合でも、お1人様につき1回のみの当選（獲得上限ポイント5,000ポイント）となります。</p>

    <ul class="<%= namespace %>_Account-Button">
      <% const buttonCity = [
        { text: '北海道', url: 'https://twitter.com/RM__Hokkaido/?sc-id=cp_rmb_xfr_20240220_RM__Hokkaido' },
        { text: '東北', url: 'https://twitter.com/RM__Tohoku/?sc-id=cp_rmb_xfr_20240220_RM__Tohoku' },
        { text: '北関東・甲信越', url: 'https://twitter.com/RM__Ktkantoshin/?sc-id=cp_rmb_xfr_20240220_RM__Ktkantoshin' },
        { text: '首都圏', url: 'https://twitter.com/RM__Shutoken/?sc-id=cp_rmb_xfr_20240220_RM__Shutoken' },
        { text: '東海・北陸', url: 'https://twitter.com/RM__TokaiHoku/?sc-id=cp_rmb_xfr_20240220_RM__TokaiHoku' },
        { text: '関西', url: 'https://twitter.com/RM__Kansai/?sc-id=cp_rmb_xfr_20240220_RM__Kansai' },
        { text: '中国', url: 'https://twitter.com/RM__Chugoku/?sc-id=cp_rmb_xfr_20240220_RM__Chugoku' },
        { text: '四国', url: 'https://twitter.com/RM__Shikoku/?sc-id=cp_rmb_xfr_20240220_RM__Shikoku' },
      ]; %>
      <% buttonCity.forEach(city => { %>
        <li>
          <a href="<%= city.url %>" class="<%= namespace %>_Account-Button-txt c-Btn_Regular"><span><%= city.text %></span></a>
        </li>
      <% }); %>
      <li>
        <a href="https://twitter.com/RM__Kyushu/?sc-id=cp_rmb_xfr_20240220_RM__Kyushu" class="<%= namespace %>_Account-Button-txt <%= namespace %>_Br-sp c-Btn_Regular"><span>九州</span></a>
      </li>
      <li>
        <a href="https://twitter.com/RM__Okinawa/?sc-id=cp_rmb_xfr_20240220_RM__Okinawa" class="<%= namespace %>_Account-Button-txt <%= namespace %>_Br-sp c-Btn_Regular"><span>沖縄</span></a>
      </li>
    </ul>
    <ul class="<%= namespace %>_Account-Button-sub u-Adjust_Mb-16">
      <% const buttonsubCity = [
        { text: '九州', url: 'https://twitter.com/RM__Kyushu/?sc-id=cp_rmb_xfr_20240220_RM__Kyushu' },
        { text: '沖縄', url: 'https://twitter.com/RM__Okinawa/?sc-id=cp_rmb_xfr_20240220_RM__Okinawa' }
      ]; %>
      <% buttonsubCity.forEach(city => { %>
        <li>
          <a href="<%= city.url %>" class="<%= namespace %>_Account-Button-txt <%= namespace %>_Br-pc c-Btn_Regular"><span><%= city.text %></span></a>
        </li>
      <% }); %>
    </ul>

    <h2 class="u-Adjust_Mt-40 u-Adjust_Align-center c-Heading_Lv4">各アカウントでは地域に関連したサービス、キャンペーン、イベント情報を発信しています</h2>
    <div class="u-Adjust_Mt-24 u-Adjust_Mb-24">
      <div class="<%= namespace %>_Account-img">
          <img src="<%= sitepath %>assets/img/area/campaign/xfr/img-xrf-account-left.png" alt="" width="343">
          <img src="<%= sitepath %>assets/img/area/campaign/xfr/img-xrf-account-right.png" alt="" width="343">
      </div>
    </div>
    <p class="c-Txt_Cap u-Adjust_Align-center">※こちらのキャンペーンは現在終了しております</p>
  </div>
</div>

<div class="l-System_Container u-Adjust_Mt-16">
  <div class="areaCampaign-Layout_Rule u-Adjust_Mt-64" id="campaign">
    <h3 class="u-Align_Ccc c-Heading_Lv2 u-Adjust_Mt-32">楽天モバイル地域版Xアカウントフォロー&リポストキャンペーン</h3>
    <%_ if (campaignState === "finish") { _%>
      <div class="u-Adjust_Align-center u-Adjust_Mt-32 u-Adjust_Mb-32">
        <p class="c-Txt_Normal-m c-Txt_Emp-02">
          本キャンペーンは<%= enddate %>をもちまして終了いたしました。<br>
          このページに掲載されている情報は、キャンペーン終了時点のものです。
        </p>
      </div>
    <%_ } _%>
    <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2200', level: '', year: '2024', class: '' }}) %>
  </div>
</div>

</div>

<footer class="g-Footer areaCampaign-Layout_Footer">
  <div class="g-Footer_Aside">
    <%- include('/include/footer/related/_related-news.ejs') %>
    <%- include('/include/footer/bnr/_bnr-news.ejs') %>
  </div>

  <div class="l-System_Container">
    <%- include('/include/_breadcrumbs', {
      type: 'foot',
      pagetitle,
      directories,
    }) %>
  </div>

  <%- include('/include/_footer') %>
</footer>

<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/area.campaign.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
