<% const pagetitle = "楽天モバイル地域版Xアカウント フォロー&PRキャンペーン" -%>
<% const directories = [{ label:"通信・エリア", path:"area/", subpath:"area/campaign/xfr/" ,sublabel:"楽天モバイル地域版Xアカウント フォロー&リポストキャンペーン" }] -%>
<% const description = "楽天モバイル地域版Xアカウント フォロー&リポストすると抽選で200名様に5,000ポイントプレゼント!!" -%>
<% const info = "当選受付完了" -%>
<% const namespace = "xfr" -%>

<%- include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description,
  pathname: filepath,
  noindex: false,
  ogp_img: 'https://network.mobile.rakuten.co.jp/assets/img/area/campaign/xfr/ogp.png?20240220'
  }); %>

<link rel="stylesheet" href="<%= sitepath %>assets/css/area/campaign/xfr/xfr.css?20240424">
<%- include('/include/_common-css-v2') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <% directories.forEach(function (dir) { %>
    <li><a href="<%= sitepath + dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
    <% if (dir.subpath) { %>
    <li><a href="<%= sitepath + dir.subpath %>"><%= dir.sublabel %></a><span class="c-Icon_Chevron-right"></span></li>
    <% } %>
    <% }) %>
    <li aria-current="true"><%= info %></li>
  </ul>
</div>

<div class="l-System_Container">
  <h1 class="u-Adjust_Mt-40 c-Heading_Lv2">
    ご入力ありがとうございます。当選の受付が完了しました。
  </h1>
  <div class="<%= namespace %>_Thanks-txt u-Adjust_Mt-16">
    <p>ポイントは4月の下旬に付与させていただきます。</p>
    <p>引き続き楽天モバイルをどうぞよろしくお願いいたします。</p>
  </div>

  <div class="<%= namespace %>_Thanks-btn">
    <a href="<%= sitepath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a>
  </div>
</div>

<footer class="g-Footer">
  <div class="<%= namespace %>_Foot u-Adjust_Mt-56 c-Breadcrumbs_Foot l-System_Container">
    <ul>
      <li class="<%= namespace %>_Foot-li"><a href="<%= rootpath %>">
          <%= sitetitle %>
        </a><span class="c-Icon_Chevron-right"></span>
      </li>
      <%_ if (typeof directories !=='undefined' ) { _%>
      <%_ let dirs=[]; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !=="" ) { _%>
            <li class="<%= namespace %>_Foot-li"><a href="<%= sitepath %><%= dir.path %>">
              <%= dir.label %>
              </a><span class="c-Icon_Chevron-right"></span>
            </li>
          <li class="<%= namespace %>_Foot-li"><a href="<%= sitepath %><%= dir.subpath %>">
            <%= dir.sublabel %>
            </a><span class="c-Icon_Chevron-right"></span>
          </li>
          <%_ } else { _%>
            <li class="<%= namespace %>_Foot-li">
            <%= dir.label %><span class="c-Icon_Chevron-right"></span>
            </li>
          <%_ } _%>
        <%_ }) _%>
      <%_ } _%>
      <li aria-current="true">
      <%= info %>
      </li>
    </ul>
  </div>
  <%- include('/include/_footer') %>
</footer>
</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>

</html>
