<% const pagetitle = "Rakuten Turbo 5G 製品保証" -%>
<% const directories = [{path:"internet/turbo/support/", label:"お客様サポート"}, {path:"internet/turbo/support/product/", label:"製品"}, {path:"internet/turbo/support/product/rakuten-turbo5g/", label:"Rakuten Turbo 5G サポート情報"}] -%>
<% const namespace = "support-smallcategory" -%>
<%
  const pageInfo = {
    namespace,
    isUserCategory: false
  };
%>
<%-
 include('/_header', {
    pagetitle,
    directories,
    description: '楽天モバイルのホームルーターRakuten Turbo専用機器、Rakuten Turbo 5Gの修理補償についてご確認いただけます',
    noindex: false,
    pathname: filepath,
    isTurbo: true
  });
%>

<%- include('/include/_common-css-v2') %>
<%- include('/include/internet/turbo/support/_smallcategory-css') %>
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/internet/turbo/_prepend-body-internet') %>
  <div class="l-System">
    <%- include('/include/internet/turbo/_header', {
      pagetitle,
      directories,
      tax: false,
    }) %>

    <div class="l-System_Container">
      <section class="u-Adjust_Mt-32">
        <h1 class="c-Heading_Lv1 <%= namespace %>-Utility_Heading_Lv1"><%= pagetitle %></h1>
      </section>

      <section class="u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">初期不良について</h2>
        <p class="u-Adjust_Mt-16">
          楽天モバイルショップでの購入またはオンライン購入での製品到着から14日以内の自然故障であれば、<span class="c-Txt_Emp-02">初期不良時の交換</span>が可能です。<br>新品をお送りいたします。
        </p>
      </section>

      <section class="u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">製品保証について</h2>
        <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-02">本製品の保証期間はお客様の購入日から1年（楽天モバイルショップは購入日から、オンライン購入は到着日から）です。</span>保証期間内に本製品の故障が発生した場合、無償で交換します。</p>
        <p class="u-Adjust_Mt-16">
          保証期間内でも、故障診断の結果、以下に該当した場合、有償による交換となります。<br>
          <span class="u-Adjust_Mt-8 c-Txt_Cap">※故障物品により金額が異なります。有償になる場合、楽天モバイルコミュニケーションセンターよりご連絡差し上げます</span><br>
          <span class="u-Adjust_Mt-8 c-Txt_Cap">※保証期間が過ぎている場合、製品再購入のご提案をさせていただきます。詳細は「<a href="<%= sitepath %>faq/detail/10000637/" class="c-Link_Txt-inline" target="_blank">製品を再購入する<span class="c-Icon_New-window-l"></span></a>」をご確認ください。</span>
        </p>
        <ol class="c-List_Ordered u-Adjust_Mt-24">
          <li>本製品のサポート情報または取扱説明書もしくは安全上のご注意に反する使用その他不適切な使用による故障</li>
          <li>本製品に水が入ったことによる故障、外部要因、自然災害や劣悪な環境での使用などによる故障</li>
          <li>本製品の正常な使用で発生した自然な摩耗、汚れ、破裂など</li>
          <li>本製品専用でないアクセサリを使用したことによる故障</li>
          <li>不適切なソフトウェアやコンピュータウィルスによる故障</li>
        </ol>
        <p class="u-Adjust_Mt-16">当社へご送付頂いた本製品に付されたシールやアクセサリ等は返却できません。当社は、当社の故意または重過失の場合を除き、本製品の故障が原因で発生した損害の責任は負いません。</p>
        <p class="u-Adjust_Mt-16">前記にかかわらず、以下に該当する場合は、保証期間または有償・無償の別を問わず、交換受付ができません。</p>
        <ol class="c-List_Ordered u-Adjust_Mt-24">
          <li>購入記録が当社にて確認できない場合</li>
          <li>本製品のシリアル番号が修正されている等識別できない場合</li>
          <li>国外または楽天モバイルショップ以外で購入した場合</li>
          <li>中古品である場合</li>
          <li>交換機の保有期間を経過した場合</li>
          <li>当社指定修理拠点以外で分解、修理、もしくはソフトウェアの改造が実施された場合</li>
        </ol>
        <p class="u-Adjust_Mt-16">当社は、事前の通知なく本ページに記載される内容、条件を変更する権利を留保します。本ページの記載を除き、明示的か暗示的かを問わず、本製品の精度、信頼性、内容に関して一切の保証はいたしません。</p>
      </section>
    </div>

    <section class="u-Adjust_Pt-80">
      <div class="<%= namespace %>-Layout_Category">
        <div class="l-System_Container">
          <%- include('/include/internet/turbo/support/_smallcategory-category', { pageInfo }) %>
        </div>
      </div>
    </section>

    <div class="u-Adjust_Mt-24">
      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
      <%- include('/include/internet/turbo/_footer', { directories, pagetitle }) %>
    </div>
  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
  <%- include('/include/internet/turbo/_rex-survey') %>

</body>

</html>
