<% const pagetitle = "【毎月開催】楽天モバイル×楽天証券 Rakuten UN-LIMIT VI オンラインお申し込みでもれなく2,000ポイントプレゼントキャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "sec" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '【毎月開催】楽天モバイル×楽天証券 楽天証券口座をお持ちのお客様へ エントリー後、楽天モバイル回線プラン「Rakuten UN-LIMIT VI」オンラインお申し込み＆Rakuten Linkアプリ利用でもれなく2,000ポイントプレゼントキャンペーン',
  keywords: '',
  noindex: true,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/sec/sec.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/_entry-button/rex-overwrite_v2.css?20240424">
<!-- ReX Campaign Button: stylesheet -->
<link rel="stylesheet" href="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/4.0.0/static/css/main.css?20240424" />
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<script defer="defer" src="https://r.r10s.jp/com/js/c/common/entry_button/1.0/entry_button-1.0.0.min.js"></script>
<link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
</head>

<body>
  <div class="<%= namespace %>-Layout_Entry-Area u-Adjust_Mt-24">
    <p class="c-Txt_Emp-02 <%= namespace %>-Utility_Mt-unique">再利用クーポンの動作確認テスト</p>
    <!-- ReX Campaign Entry Button: Mounting points -->
    <!-- mounting point for button 1 -->
    <div id="rex-ceb-XX" class="campaign-Rexoverwrite">
      <div class="sc-fznyAO CWQMf" style="text-align:center;"><a class="rex-core-link rex-button rex-button-color  rex-button-lg  sc-fznKkj fjHRoH" href="https://portal.mobile.rakuten.co.jp/coupon_link?id=TEST1000000000&l-id=campaign_test_coupon" target="_blank" style="border-radius: 40px; margin-top: 50px;"><span>再利用クーポンの動作確認</span></a></div>
    </div>
  </div>
  <!-- ReX Campaign Entry Button: Script -->
  <script src="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/4.0.0/static/js/main.js" defer></script>
</body>

</html>
