<%_
  let containerClass = ''
  if (typeof noContainer === 'undefined') {
    containerClass = 'l-System_Container'
  }
  if (typeof localNav !== 'undefined') {
_%>
<div class="<%= containerClass %>">
  <div class="u-Adjust_Mt-48">
    <nav aria-labelledby="local-navigation" class="c-hikari-Localnav">
      <h2 id="local-navigation" class="c-hikari-Localnav_Title"><%- localNavTitle %></h2>
      <ul class="c-hikari-Localnav_List">
        <% for ( let i = 0; i < localNav.length; i++ ) { %>
          <li class="c-Card_Normal">
            <div>
              <div class="c-Card_Normal-flex">
                <div class="c-Card_Normal-flex-left">
                  <%_ if (localNav[i].current === true) { _%>
                  <a href="<%= localNav[i].url %>" aria-current="true" data-lid_parts="sibling" style="text-decoration: none!important; color: #333;">
                  <%_ } else { _%>
                  <a href="<%= localNav[i].url %>" data-lid_parts="sibling" style="text-decoration: none!important; color: #333;">
                  <%_ } _%>
                    <h3><%= localNav[i].title %></h3>
                    <p><%= localNav[i].text %></p>
                  </a>
                </div>
                <div class="c-Card_Normal-flex-right">
                  <span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span>
                </div>
              </div>
            </div>
          </li>
        <% } %>
      </ul>
    </nav>
  </div>
</div>
<%_ } _%>
