<% const namespace="hikari" -%>
<table class="c-Table_Container <%= namespace %>-Rule_Table">
  <tbody>
    <tr>
      <th colspan="2">キャンペーンコード</th>
      <td colspan="1">1292<br>
        <ul class="c-List_Cap">
          <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th colspan="2">キャンペーン申し込み期間</th>
      <td colspan="1">
        [Web]：2021年10月8日（金）10:00～2021年10月31日（日）23:59
      </td>
    </tr>
    <tr>
      <th colspan="2">キャンペーン条件</th>
      <td colspan="1"><strong>以下①、②、③の条件をすべて満たした楽天会員の方の中から、楽天ひかりお申し込み先着で400名様。お一人様１回限りの適用となります。</strong>
        <ul class="c-List_Note u-Adjust_Mt-16">
          <li><span>①</span>楽天市場にて、該当の Chromebook を購入</li>
        </ul>
        <ul class="c-List_Note u-Adjust_Mt-16">
          <li><span>②</span>Chromebook を購入された当月に、本ページより「楽天ひかり」のお申し込み</li>
        </ul>
        <ul class="c-List_Cap u-Adjust_Mt-8 u-Adjust_Pl-16">
          <li><span>※</span>本キャンペーンページ以外から、楽天ひかりをお申し込みされた場合は、キャンペーンの対象とはなりませんので、ご注意ください。</li>
        </ul>
        <ul class="c-List_Note u-Adjust_Mt-16">
          <li><span>③</span>「楽天ひかり」を、お申し込み月を1カ月目として４カ月目末日以内に開通</li>
        </ul>
        <ul class="c-List_Cap u-Adjust_Mt-8 u-Adjust_Pl-16">
          <li><span>※</span>通常は、お申し込みから２ヶ月以内に開通されています。開通までの詳しい流れは、<a href="/hikari/flow/">こちら</a>をご確認ください</li>
        </ul>
        <ul class="c-List_Cap u-Adjust_Mt-8 u-Adjust_Pl-16">
          <li><span>※</span>“開通”とは下記を指します<br>
            ・開通とは、楽天ひかりを使ってインターネット接続を行った状態を指します。なお、開通工事は新規で光回線を敷設する方が対象となり、一部ケースを除き、すでにフレッツ光をご利用中の方（転用）、他社光コラボをご利用中の方（事業者変更）は宅内工事不要です
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <th rowspan="3">キャンペーン特典</th>
      <th class="<%= directory %>-Rule_Second">特典内容</th>
      <td>
        <p>10,000円（税込）をキャッシュバック</p>
        <ul class="c-List_Cap u-Adjust_Mt-8">
          <li><span>※</span>権利の譲渡はできません</li>
        </ul>
        <p class="u-Adjust_Mt-8">▼対象商品（全26型番）はこちら</p>
        <ul class="c-List_Note u-Adjust_Mt-8">
          <li>ブランド 型番</li>
          <li>Lenovo ZA6F0019JP</li>
          <li>Lenovo 82KN001AJP</li>
          <li>Lenovo 82KN001BJP</li>
          <li>Lenovo 82H40002JP</li>
          <li>Lenovo ZA6F0038JP</li>
          <li>Lenovo 82BA000LJP</li>
          <li>Lenovo 82B80018JP</li>
          <li>Lenovo ZA6F0038BC</li>
          <li>HP 48J49PA-AAAD</li>
          <li>HP 1W4Z4PA-AAAA</li>
          <li>HP 3Y6K9PA-AAAE</li>
          <li>HP 3Y6M6PA-AAAE</li>
          <li>HP 3Y884PA-AAAD</li>
          <li>Acer CP311-3H-A14P</li>
          <li>Acer C732LT-F14N</li>
          <li>Acer CP311-3H-A14N</li>
          <li>Acer CB314-1H-A14N</li>
          <li>Acer CB314-1H-AF14N</li>
          <li>Acer CB315-3HT-NF14P</li>
          <li>ASUS C223NA-GJ0018</li>
          <li>ASUS C436FA-E10068</li>
          <li>ASUS C436FA-E10161</li>
          <li>ASUS C436FA-E10162</li>
          <li>ASUS CM3000DVA-HT0019</li>
          <li>ASUS CX5500FEA-E60082</li>
          <li>ASUS CM3200FVA-HW0014</li>
        </ul>
        <ul class="c-List_Cap u-Adjust_Mt-8 u-Adjust_Pl-16">
          <li><span>※</span>楽天市場内対象ショップでの購入が必要</li>
          <li><span>※</span>対象商品は予告なく変更する場合がございます。あらかじめご了承ください。</li>
        </ul>
        <p class="u-Adjust_Mt-16">▼対象ショップ</p>
        <p class="u-Adjust_Mt-8">本キャンペーンページの「対象ショップ」へ記載のあるショップ</p>
        <ul class="c-List_Cap u-Adjust_Mt-8">
          <li><span>※</span>対象ショップは予告なく変更する場合がございます。あらかじめご了承ください。</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th class="<%= directory %>-Rule_Second">キャッシュバック日</th>
      <td>
        <p><strong>「楽天ひかり」の開通月を１カ月目として、４カ月目の月末までに進呈</strong></p>
        <ul class="c-List_Cap u-Adjust_Mt-8">
          <li><span>※</span>例)10月に開通をした場合は、その４カ月目の1月末までに進呈となります</li>
          <li><span>※</span>キャッシュバックは、楽天モバイルより行います</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th class="<%= directory %>-Rule_Second">詳細</th>
      <td>
        <p class="c-Txt_Emp-underline"><strong>楽天銀行のメール送金サービス「かんたん振込（メルマネ）」を利用して、キャッシュバック特典の送金を行います。</strong></p>
        <p class="c-Txt_Emp-underline u-Adjust_Mt-8"><strong>受け取りには楽天ひかり契約者名と同一名義の口座をご準備ください。</strong></p>
        <p class="u-Adjust_Mt-8">また、事前に連絡先メールアドレスの設定や受け取り方法をご確認ください。</p>
        <p class="u-Adjust_Mt-16"><strong>＜メールの配信先＞</strong></p>
        <p class="c-Txt_Emp-underline u-Adjust_Mt-8"><strong>事前メールおよび送金通知メールは、楽天ひかり開通月の末日時点で楽天ひかりに登録されている連絡先メールアドレス宛にお送りいたします。</strong></p>
        <ul class="c-List_Cap u-Adjust_Mt-8">
          <li><span>※</span>事前メールおよび送金通知メールの受信にあたり、『～@hikari.rakuten.co.jp』および『～@ac.rakuten-bank.co.jp』を受け取れる連絡先メールアドレスであることを、配信先メールアドレス登録期日までに必ずご確認ください。</li>
          <li><span>※</span>「送金通知メール」送信月内は、メールアドレスを変更されないようお願いいたします。メールアドレスを変更されますと、「送金通知メール」が不達となる可能性がございます。</li>
        </ul>
        <p class="u-Adjust_Mt-16"><strong>＜メール配信日＞</strong></p>
        <p class="u-Adjust_Mt-8">楽天ひかりからの事前メール配信：楽天ひかり開通月を1カ月目として4カ月目の25日頃</p>
        <p class="u-Adjust_Mt-8">楽天銀行からの送金通知メール配信：楽天ひかり開通月を1カ月目として4カ月目の月末頃</p>
        <p class="u-Adjust_Mt-16"><strong>＜受け取り方法＞</strong></p>
        <p class="c-Txt_Emp-underline u-Adjust_Mt-8"><strong>必ず楽天ひかりの契約者名（カナ）と同一名義の口座をご準備ください。</strong></p>
        <p class="u-Adjust_Mt-8">送金通知メールが届きましたら以下のとおりお手続きを行ってください。</p>
        <p class="u-Adjust_Mt-16"><strong>▼楽天銀行の口座で受け取る場合</strong></p>
        <p class="u-Adjust_Mt-8">楽天銀行の口座をお持ちで、楽天銀行にご登録のサービス用メールアドレスと楽天ひかりに登録されている連絡先メールアドレスが同一の場合、お持ちの楽天銀行の口座に"自動入金"となり、受取手続きは必要ありません。</p>
        <ul class="c-List_Cap u-Adjust_Mt-8">
          <li><span>※</span>「楽天銀行にご登録のサービス用メールアドレス」と「楽天ひかりに登録されている連絡先メールアドレス」が異なる場合、送金通知メールに沿ってお手続きを行ってください。</li>
          <li><span>※</span>受け取り方法の詳細は<a href="https://www.rakuten-bank.co.jp/guide/transfer/mailmoney/receive-rakuten-bank.html" target="_blank">こちら<span class="c-Icon_New-window-l"></span></a>をご確認ください。</li>
        </ul>
        <p class="u-Adjust_Mt-16"><strong>▼他行の口座で受け取る場合</strong></p>
        <p class="u-Adjust_Mt-8">送金通知メールに沿ってお手続きを行ってください。</p>
        <ul class="c-List_Cap u-Adjust_Mt-8">
          <li><span>※</span>受け取り方法の詳細は<a href="https://www.rakuten-bank.co.jp/guide/transfer/mailmoney/receive-other.html" target="_blank">こちら<span class="c-Icon_New-window-l"></span></a>をご確認ください。</li>
        </ul>
        <p class="c-Txt_Emp-underline u-Adjust_Mt-16"><strong>上記いずれの場合も、お受け取りの口座名義は、楽天ひかりに登録された契約者名義（カナ）と同一である必要があります。異なる名義の口座ではお受け取りになれませんのでご注意ください。</strong></p>
        <p class="c-Txt_Emp-underline u-Adjust_Mt-8"><strong>また、送金通知メールの送信より45日以内にお手続きいただけなかった場合、特典は無効となります。</strong></p>
        <p class="u-Adjust_Mt-16">送金通知メール送信にあたり、楽天銀行株式会社にお客様のお名前、楽天ひかりにてご登録いただきましたメールアドレスの受け渡しを行います。特典付与後、楽天銀行の送金履歴としてお客様の情報が残りますので事前にご了承ください。</p>
        <p class="u-Adjust_Mt-8">お客様の情報の取扱いについて、詳しくは<a href="https://www.rakuten-bank.co.jp/policy/privacy/" target="_blank">「楽天銀行のプライバシーポリシー」<span class="c-Icon_New-window-l"></span></a>をご確認ください。</p>
        <p class="c-Txt_Emp-underline u-Adjust_Mt-16"><strong>受け取りの手続きの不備によりキャッシュバックの受け取りができなかった場合でも、再送はいたしませんので、予めご了承ください。</strong></p>
      </td>
    </tr>
    <tr>
      <th rowspan="3">キャンペーンに関する楽天ひかりの契約に関して</th>
      <th class="<%= directory %>-Rule_Second">対象サービス</th>
      <td>
        <p><strong>楽天ひかり</strong><br>全プラン(マンションプラン、ファミリープラン)</p>
      </td>
    </tr>
    <tr>
      <th class="<%= directory %>-Rule_Second">契約期間</th>
      <td>
        <p><strong>楽天ひかり　マンションプラン、ファミリープラン</strong><br>３年間（36カ月）／自動更新あり</p>
        <ul class="c-List_Cap u-Adjust_Mt-8 u-Adjust_Pl-16">
          <li><span>※</span>契約期間（36カ月）は、開通月の翌月を起算点とします</li>
          <li><span>※</span>36カ月ご利用後、37カ月目から新たな契約期間（36カ月）が始まり、以降36カ月ごと同様に繰り返します</li>
          <li><span>※</span>36カ月目～38カ月目に解約申請、または事業者変更承諾番号の発行を行い、 36カ月目～40カ月目以内に回線撤去もしくは他社光コラボに事業者変更が完了した場合、契約解除料は発生しません</li>
          <li><span>※</span>工事費の分割払い期間中に解約される場合は残債額を一括でお支払いいただきます</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th class="<%= directory %>-Rule_Second">契約解除料</th>
      <td>
        <p><strong>楽天ひかり</strong><br>9,500円（税込 10,450円）</p>
        <ul class="c-List_Cap u-Adjust_Mt-8 u-Adjust_Pl-16">
          <li><span>※</span>無料解約申請期間(36カ月目～38カ月目)以外に解約申請し、解約が完了した場合は、契約解除料 10,450円が発生（本キャンペーンの特典期間中も含みます）</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th rowspan="3">キャンペーンに関する楽天ひかりの契約に関して</th>
      <th class="<%= directory %>-Rule_Second">特典適用対象外</th>
      <td><strong>以下の条件に当てはまる場合は、特典適用対象外となります</strong>
        <ul class="c-List_Cap u-Adjust_Mt-8">
          <li><span>※</span>本ページ以外から楽天ひかりにお申し込みいただいた方</li>
          <li><span>※</span>「楽天ひかり× Chromebook 10,000円キャッシュバックキャンペーン」の適用回数が、おひとり様、楽天ひかり1契約につき1回を超える場合は対象外となります</li>
          <li><span>※</span>本キャンペーン開始時点で楽天ひかりをご利用中の場合</li>
          <li><span>※</span>現在、すでに楽天ひかりをお申し込みされている場合</li>
          <li><span>※</span>過去に楽天ひかりをご利用いただいたことがある場合</li>
          <li><span>※</span>NTT東日本・NTT西日本のフレッツ光回線をご利用中で、プロバイダーが楽天ブロードバンドの方の転用お申し込みの場合</li>
          <li><span>※</span>楽天ひかりのお申し込みをキャンセルされた場合</li>
          <li><span>※</span>異なるサービス・プランへの変更や設置場所変更（引っ越し等）を行った場合</li>
          <li><span>※</span>お申し込み後、楽天会員を退会した場合</li>
          <li><span>※</span>楽天ひかりを解約、もしくは、解約予定である場合</li>
          <li><span>※</span>楽天ひかりを利用されている方と同居されている方が、同じ設置先住所で、新たに楽天ひかりをお申し込みされた場合（契約者の名義変更含む）</li>
          <li><span>※</span>過去楽天ひかりを利用されている方と同居されていた方が、過去楽天ひかりを利用していた場所と同じ設置先住所で、新たに楽天ひかりをお申し込みされた場合</li>
          <li><span>※</span>期限内に記載の方法にてかんたん振込（メルマネ）でのお手続きをされなかった場合</li>
          <li><span>※</span>連絡先メールアドレスの設定に不備があった場合</li>
          <li><span>※</span>当社または楽天グループの提供するサービスなどの料金のお支払いを、お支払い期限までに行わなかった場合</li>
          <li><span>※</span>当社または楽天グループが定める規約などに違反した場合</li>
          <li><span>※</span>そのほか、当社または楽天グループが会員として不適格であると判断した場合</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th class="<%= directory %>-Rule_Second">併用不可キャンペーン</th>
      <td>
        <p><strong>以下のキャンペーンは、併用不可となります</strong></p>
        <ul class="c-List_Note u-Adjust_Mt-16 u-Adjust_Pl-16">
          <li><span>-</span>スタート1000　楽天ひかりを初めてお申し込みで1,000ポイントプレゼントキャンペーン</li>
          <li><span>-</span>SPU特設 楽天ひかりを初めてお申し込みで1,000ポイント</li>
        </ul>
        <ul class="c-List_Cap u-Adjust_Mt-8">
          <li><span>※</span>本キャンペーンを適用した場合、上記キャンペーンの特典は対象外となります。</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th class="<%= directory %>-Rule_Second">その他注意事項</th>
      <td>
        <ul class="c-List_Cap">
          <li><span>※</span>本キャンペーンは「楽天ひかりUN-LIMITキャンペーン」の併用が可能です。月額料金および特典は、「楽天ひかりUN-LIMIT キャンペーン」をご確認ください</li>
          <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
          <li><span>※</span>本キャンペーンの特典進呈対象者は、同時期に行われている他のキャンペーンの対象から除外、または特典総額が景品表示法上の範囲内に制限される場合があります</li>
          <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合がございます</li>
          <li><span>※</span>申込人数限定のため、当社が規定の申込件数に達したと判断した時点で終了となります。キャンペーンの対象上限である400名に達した場合のお知らせはございません。</li>
          <li><span>※</span>キャンペーンの対象上限である400名以降のお客さまは、特典の適用はございません。</li>
          <li><span>※</span>本キャンペーンの対象 Chromebook は、価格変更や売り切れ等の可能性もございますのでご了承ください。</li>
          <li><span>※</span>本キャンペーンの対象 Chromebook の購入をキャンセルされた方はキャンペーンの対象外となります。</li>
          <li><span>※</span>対象ショップで実施しているキャンペーンと本キャンペーンは別企画になります。</li>
          <li><span>※</span>記載の内容は2021年10月8日（金）時点の情報となります</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th colspan="2">キャンペーン主催者</th>
      <td colspan="1">
        <p>楽天モバイル株式会社</p>
      </td>
    </tr>
  </tbody>
</table>