<% const slidePc = [
  {
    path: `${sitepath}hikari/campaign/one-year-free/?l-id=rhk_hikari1yf_01`,
    img: `${sitepath}assets/img/hikari/bnr/bnr-hikari-top-1032-300-230404.png`,
    alt: '楽天ひかりはSPU対象 モバイルとセットで使えばおうちのネットがタダ!! ひかりの月額基本料1年無料 ※楽天モバイルと楽天ひかりお申し込み対象、条件有。13カ月目以降の月額基本料はマンションプラン4,180円、ファミリープラン5,280円。契約解除料あり。'
  },
  {
    path: `${sitepath}hikari/campaign/iphone/cash-back/`,
    img: `${sitepath}assets/img/hikari/bnr/bnr-hikari-top-1032-300-230314.png`,
    alt: '楽天ひかりに新規でお申し込み＆開通し、対象のiPhoneいずれかをご購入で40,000円キャッシュバック！'
  },
  {
    path: `${sitepath}hikari/campaign/spu/`,
    img: `${sitepath}assets/img/hikari/bnr/bnr-top-spu-1032-300-220914.png`,
    alt: 'R SPU 楽天市場でのお買い物がポイント+1倍 ※楽天ひかり（マンションプランまたはファミリープラン）を契約の楽天会員が対象。NTT東日本・NTT西日本のフレッツ光回線を楽天ブロードバンドでご利用中の方は特典対象外。毎月の獲得上限は5,000ポイント、期間限定ポイントでの進呈。'
  },
  {
    path: `${sitepath}internet/turbo/`,
    img: `${sitepath}assets/img/hikari/bnr/bnr-turbo-pc-230310.png`,
    alt: '工事不要！すぐに使える、おうちのWiFi RakutenTurbo'
  }
]
const slideSp = [
  {
    path: `${sitepath}hikari/campaign/one-year-free/?l-id=rhk_hikari1yf_01`,
    img: `${sitepath}assets/img/hikari/bnr/bnr-hikari-top-375-400-230404.png`,
    alt: '楽天ひかりはSPU対象 モバイルとセットで使えばおうちのネットがタダ!! ひかりの月額基本料1年無料 ※契約解除料、その他条件あり。'
  },
  {
    path: `${sitepath}hikari/campaign/iphone/cash-back/`,
    img: `${sitepath}assets/img/hikari/bnr/bnr-hikari-top-375-192-230314.png`,
    alt: '楽天ひかりに新規でお申し込み＆開通し、対象のiPhoneいずれかをご購入で40,000円キャッシュバック！'
  },
  {
    path: `${sitepath}hikari/campaign/spu/`,
    img: `${sitepath}assets/img/hikari/bnr/bnr-top-spu-375-400-220914.png`,
    alt: 'R SPU 楽天市場でのお買い物がポイント+1倍 ※楽天ひかり（マンションプランまたはファミリープラン）を契約の楽天会員が対象。NTT東日本・NTT西日本のフレッツ光回線を楽天ブロードバンドでご利用中の方は特典対象外。毎月の獲得上限は5,000ポイント、期間限定ポイントでの進呈。'
  },
  {
    path: `${sitepath}internet/turbo/`,
    img: `${sitepath}assets/img/hikari/bnr/bnr-turbo-sp-230310.png`,
    alt: '工事不要！すぐに使える、おうちのWiFi RakutenTurbo'
  }
]
-%>
<div class="hikari-top-Carousel_Show-pc">
  <div class="c-Carousel hikari-top-Carousel_Wrap js-c-Carousel_Main">
  <%_ slidePc.forEach((value, index, array) => { _%>
    <%_ if( index === 0 || index === 1 || index === array.length - 1 ) { _%>
    <a href="<%- value.path %>" data-lid_no="01" <% if( value.target ) { %> target="_blank"<%_ } _%>>
      <img src="<%- value.img %>" alt="<%- value.alt %>">
    </a>
    <%_ } else { _%>
    <a href="<%- value.path %>" data-lid_no="01" <% if( value.target ) { %> target="_blank"<%_ } _%>>
      <img data-lazy="<%- value.img %>" alt="<%- value.alt %>">
    </a>
    <%_ } _%>
  <%_ }); _%>
  </div>
  <div class="c-Carousel_Nav hikari-top-Carousel_Nav"></div>
</div>


<div class="hikari-top-Carousel_Show-sp">
  <div class="c-Carousel hikari-top-Carousel_Wrap js-c-Carousel_Main-sp">
  <%_ slideSp.forEach((value, index, array) => { _%>
    <%_ if( index === 0 ) { _%>
    <a href="<%- value.path %>" data-lid_no="02" <% if( value.target ) { %> target="_blank"<%_ } _%>>
      <img src="<%- value.img %>" alt="<%- value.alt %>">
    </a>
    <%_ } else { _%>
    <a href="<%- value.path %>" data-lid_no="02" <% if( value.target ) { %> target="_blank"<%_ } _%> >
      <img data-lazy="<%- value.img %>" alt="<%- value.alt %>">
    </a>
    <%_ } _%>
  <%_ }); _%>
  </div>
  <div class="c-Carousel_Nav hikari-top-Carousel_Nav"></div>
</div>
