<% const pagetitle = "Rakuten最強プランお申し込み方法" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/application/flow/", label:"お申し込み方法"}] -%>
<% const explanation01 = "プラン＋製品セットでお申し込みの場合" -%>
<% const explanation02 = "プランのみでお申し込みの場合" -%>
<% const nameSpace = "guide" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Webページから「Rakuten最強プラン」をお申し込みいただく際の手順をご案内いたします。',
    noindex: false,
    pathname: filepath
  });
%>

<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="l-System_Container u-Adjust_Pt-32 u-Adjust_Pb-80">
  <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
  <p class="u-Adjust_Mt-16">Webページから「Rakuten最強プラン」をお申し込みいただく際の手順をご案内いたします。</p>

  <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-24">
    <li><a href="#explanation01" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span><%= explanation01 %></a></li>
    <li><a href="#explanation02" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span><%= explanation02 %></a></li>
  </ul>

  <h2 id="explanation01" class="c-Heading_Lv2 u-Adjust_Mt-48"><%= explanation01 %></h2>
  <ol class="c-Flow">
    <li><span class="c-Txt_Alphanumeric-m">1</span>
      <h3 class="c-Heading_Lv4 u-Adjust_Align-center">プランを選択</h3>
      <p class="u-Adjust_Mt-24">Rakuten最強プランの「プランを選択する」をタップしてください。</p>
      <figure class="u-Adjust_Mt-16 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/common/01a-vii-230601.png" width="300" alt="" class="c-Img_Capture">
      </figure>
    </li>
    <li><span class="c-Txt_Alphanumeric-m">2</span>
      <h3 class="c-Heading_Lv4 u-Adjust_Align-center">通話サービス・SIMタイプを選択</h3>
      <p class="u-Adjust_Mt-24">ご希望のサービスを追加し、「製品を選択する」をタップしてください。</p>
      <ul class="c-List_Cap u-Adjust_Mt-8">
        <li><span>※</span>「SIMタイプ」の変更は、プランのみのお申し込みの場合変更ください。製品を同時にお申し込みの際は次の「製品を選択する」に進んでください。</li>
      </ul>
      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/02a-1-221007.png" width="300" alt="" class="c-Img_Capture">
      </figure>
    </li>
    <li><span class="c-Txt_Alphanumeric-m">3</span>
      <h3 class="c-Heading_Lv4 u-Adjust_Align-center">製品を選択</h3>
      <p class="u-Adjust_Mt-24">ご希望の製品をお選びいただき「製品を選ぶ」をタップしてください。</p>

      <h4 class="c-Heading_Lv4 u-Adjust_Mt-40">18歳未満のお客様の場合</h4>
      <ul class="c-List_Text-disc u-Adjust_Mt-24">
        <li>「<a href="<%= sitepath %>service/i-filter/">あんしんコントロール by i-フィルター</a>」のご契約が必須（330円／月）となりますので、「あんしんコントロール by i-フィルター」がご利用いただける製品をご選択ください。製品ページの絞り込み機能の「お子さまにおすすめの製品」を利用すると該当製品が表示されます。
        </li>
      </ul>
      <p class="u-Adjust_Mt-24 u-Adjust_Ml-16"><a href="<%= sitepath %>service/i-filter/#Unavailable-Products" class="c-Link_Txt-icon">ご利用いただけない製品（非対応製品）を見る<span class="c-Icon_Chevron-right"></span></a></p>
        <ul class="c-List_Text-disc u-Adjust_Mt-24">
        <li>1回のお申し込みにつき「あんしんコントロールby i-フィルター」対応の<span class="c-Txt_Emp-01">Android製品</span>を1台のみご購入いただけます
        </li>
      </ul>
      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/03a-1-221007.png" width="300" alt="" class="c-Img_Capture">
      </figure>
    </li>
    <li><span class="c-Txt_Alphanumeric-m">4</span>
      <h3 class="c-Heading_Lv4 u-Adjust_Align-center">製品のカラー・メモリ・お支払い回数を選択</h3>
      <p class="u-Adjust_Mt-24">ご希望のカラー、メモリ容量、お支払い回数を選択し、「カートに追加する」をタップします。</p>
      <p class="c-Txt_Cap u-Adjust_Mt-16">※iPhone／Apple Watch／Android／Wi-Fiルーターは、カートの中に同時に複数の製品を追加することができません。<br>お手数ですが、製品ごとにご購入ください。</p>
      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/04a-221007.png" width="300" alt="" class="c-Img_Capture">
      </figure>
    </li>
    <li><span class="c-Txt_Alphanumeric-m">5</span>
      <h3 class="c-Heading_Lv4 u-Adjust_Align-center">製品保証・アクセサリーを選択</h3>
      <p class="u-Adjust_Mt-24">ご購入の製品につける製品保証や、関連アクセサリーをお選びください。<br>
        選択後、最下部の申し込み内容をご確認いただき「この内容で申し込む」をタップしてください。<br>
        楽天会員ログイン後、お届け先情報や、お支払方法などの選択画面へ進みます。</p>
      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/05a-221007.png" width="300" alt="" class="c-Img_Capture">
      </figure>
    </li>
  </ol>

  <h4 class="c-Heading_Lv4 u-Adjust_Mt-40">18歳未満のお客様の場合</h4>
  <ul class="c-List_Text-disc u-Adjust_Mt-16">
    <li>「あんしんコントロール by i-フィルター」のご契約が必須のため、自動的にカートに追加されます。</li>
    <li>「あんしんコントロール by i-フィルター」対応のAndroid製品を1台のみご購入いただけます。非対応製品や製品を複数台選択している場合は先に進めません。選択している製品が対応製品1台のみとなっているかどうか、ご確認ください。製品ページの絞り込み機能の「お子さまにおすすめの製品」を利用すると該当製品が表示されます。</li>
  </ul>

  <p class="u-Adjust_Mt-32 u-Adjust_Align-center">
    <a href="<%= sitepath %>guide/flow/application-detail/" class="c-Btn_Regular-half"><span>お客様情報の入力方法はこちら</span></a>
  </p>

  <h2 id="explanation02" class="c-Heading_Lv2 u-Adjust_Mt-80"><%= explanation02 %></h2>
  <ol class="c-Flow">
    <li><span class="c-Txt_Alphanumeric-m">1</span>
      <h3 class="c-Heading_Lv4 u-Adjust_Align-center">プランを選択</h3>
      <p class="u-Adjust_Mt-24">Rakuten UN-LIMIT VII の「プランを選択する」をタップしてください。</p>
      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/common/01a-vii-230601.png" width="300" alt="" class="c-Img_Capture">
      </figure>
    </li>
    <li><span class="c-Txt_Alphanumeric-m">2</span>
      <h3 class="c-Heading_Lv4 u-Adjust_Align-center">通話サービス・SIMタイプを選択</h3>
      <p class="u-Adjust_Mt-24">ご希望のサービスを追加、SIMタイプを選択してください。<br>
        プランのみでのお申し込みの際は、「製品を選択する」はタップせずに、最下部の申し込み内容をご確認いただき「この内容で申し込む」をタップしてください。<br>
        楽天会員ログイン後、お届け先情報や、お支払方法などの選択画面へ進みます。</p>
      <ul class="c-List_Cap u-Adjust_Mt-8">
        <li><span>※</span>プランのみでのお申し込みの際は、<a href="<%= sitepath %>product/certified-products/">楽天回線対応製品</a>を必ずご確認ください。</li>
        <li><span>※</span>eSIMについては「<a href="<%= sitepath %>product/sim/esim/">eSIMとは？</a>」をご確認ください。</li>
      </ul>
      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/02c-1-221007.png" width="300" alt="" class="c-Img_Capture">
      </figure>
      <!-- <p class="u-Adjust_Mt-40">SIMタイプは、「変更する」をタップすると、nanoSIM/eSIMを変更できます。</p> -->
<!--
      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/02c-2.png?20201023" width="300" alt="" class="c-Img_Capture">
      </figure> -->
    </li>
  </ol>
  <p class="u-Adjust_Mt-32 u-Adjust_Align-center">
    <a href="<%= sitepath %>guide/flow/application-detail/" class="c-Btn_Regular-half"><span>お客様情報の入力方法はこちら</span></a>
  </p>

  <%- include('/include/guide/_faq') %>

  <div class="u-Adjust_Pt-64">
    <div><a href="<%= sitepath %>support/" class="c-Btn_Regular-semiauto"><span>お客様サポートトップにもどる</span></a></div>
    <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular-semiauto"><span>楽天モバイルトップへ</span></a></div>
  </div>
</div>




<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>



</body>
</html>
