<% const pagetitle = "日本郵政グループ従業員様・ご家族様限定！エントリー＆楽天モバイルご利用で毎月500ポイントプレゼント" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "japanpost-pointback" -%>
<%-
include('/_header', {
  pagetitle,
  directories,
  description: '日本郵政グループ従業員様・ご家族様限定！エントリー＆楽天モバイルご利用で毎月500ポイント進呈されるキャンペーンです。',
  noindex: false,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/japanpost/pointback/japanpost-pointback.css?20240424">
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <%- include('/include/_breadcrumbs', {
      type: 'head',
      pagetitle,
      directories,
    }) %>
    <div class="<%= namespace %>-Layout_Label">
      <ul class="c-Label_List">
        <li class="c-Label_Normal">エントリー必要</li>
        <li class="c-Label_Normal">ご契約者様対象</li>
      </ul>
      <p class="<%= namespace %>-Layout_Label-txt">ポイント：付与日を含めて6カ月の期間限定ポイント</p>
    </div>

    <div class="<%= namespace %>-Hero">
      <div class="<%= namespace %>-Hero_Container">
        <h1>
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/japanpost/pointback/kv-sp-231027.png" width="100%">
            <img src="<%= sitepath %>assets/img/campaign/japanpost/pointback/kv-pc-231027.png" width="1440" height="300" alt="<%= pagetitle %>">
          </picture>
        </h1>
      </div>
    </div>

    <div class="l-System_Container u-Adjust_Mt-8">
      <p class="c-Txt_Cap u-Adjust_Mt-8">
        ※本キャンペーンにエントリー後の月末時点で、「Rakuten最強プラン」をご利用中の方が対象です<br>
        ※エントリーの翌月以降は、翌月以降の月末時点での「Rakuten最強プラン」のご利用状況により、特典が適用されます<br>
        ※特典の対象は、おひとり様1回線のみとなります
      </p>
      <div class="u-Adjust_Align-center u-Adjust_Mt-24">
        <p class="c-Txt_Emp-02 c-Heading_Lv4">
          本キャンペーンは2023年12月28日23時59分をもちまして終了いたしました。<br>
          このページに掲載されている情報は、キャンペーン終了時点のものです。
        </p>
      </div>
      <p class="u-Adjust_Align-center u-Adjust_Mt-16">
        <span class="c-Txt_Emp-01">【キャンペーン期間】</span><br>
        2023年8月10日（水）9:00～2023年12月28日（木）23:59
      </p>
      <div class="u-Adjust_Align-center u-Adjust_Mt-8">
        <p class="c-Txt_Emp-02">※なお、キャンペーン期間内にキャンペーン条件を満たしたお客様へのポイント付与期間は、2024年9月30日（土）までとなります</p>
      </div>
    </div>

    <div class="l-System_Container u-Adjust_Mt-56">
      <h2 class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンの流れ</h2>
      <ul class="<%= namespace %>-Layout_Flow c-Flow">
        <li>
          <h3 class="c-Heading_Lv4 u-Adjust_Mb-16">
            <span class="<%= namespace %>-Layout_Flow-step">STEP1</span>
            アンケートに回答してエントリー
          </h3>
          <div class="l-Media_Grid">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/campaign/japanpost/pointback/img-01.png" alt="" width="304" height="160">
            </div>
            <div class="u-Adjust_Mt-16">
              <p class="c-Txt_Normal-s u-Adjust_Mt-8">アンケート画面に進んで設問に回答してください</p>
              <div class="u-Adjust_Mt-16 <%= namespace %>-Layout_Btn">
                <a class="c-Btn_Primary-large" aria-disabled="true" disabled><span>アンケート画面に進む</span></a>
              </div>
              <p class="u-Adjust_Mt-16 c-Txt_Cap u-Adjust_Align-left">
                <span class="c-Txt_Emp-02">※ご家族がご利用される場合でも、アンケート画面では従業員様ご本人の情報を入力してください</span><br>
                ※ご自身とご家族がそれぞれエントリーする場合には、楽天IDが異なれば、同じ従業員様氏名​で複数アンケート回答してもキャンペーン適用対象となります<br>
                ※アンケートは初回のみで、毎月の回答は不要
              </p>
            </div>
          </div>
        </li>
        <li>
          <h3 class="c-Heading_Lv3 u-Adjust_Mb-16 c-Txt_Emp-02">毎月500ポイントプレゼント！</h3>
          <div class="l-Media_Grid" style="align-items: center;">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/campaign/japanpost/pointback/img-02.png" alt="" width="304" height="140">
            </div>
            <div>
              <p class="c-Txt_Normal c-Txt_Emp-01">キャンペーン条件達成の翌々月末日ごろに、期間限定ポイントとして進呈します</p>
              <p class="c-Txt_Cap">
                ※2か月目以降も楽天モバイルを引き続きご利用で翌々月末日ごろに進呈
              </p>
            </div>
          </div>
        </li>
      </ul>
      <div class="l-Media_Grid-half u-Adjust_Mt-64">
        <div class="l-Media_Image">
          <a class="c-Banner_Hover-act" href="<%= sitepath %>tips/gservice/?l-id=campaign_japanpost_pointback_tips_gservice">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/japanpost/pointback/brn-tips-gservice-343-108.png" width="686" height="216">
              <img src="<%= sitepath %>assets/img/campaign/japanpost/pointback/brn-tips-gservice-1032-160.png" width="1032" height="160" alt="70以上のサービスの中から楽天モバイルご契約者様向けに厳選 楽天のおトクなサービス">
            </picture>
          </a>
        </div>
        <div class="l-Media_Image">
        <a class="c-Banner_Hover-act" href="<%= sitepath %>guide/point/?l-id=campaign_japanpost_pointback_guide_point">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/japanpost/pointback/brn-guide-point-343-108.png" width="686" height="216">
            <img src="<%= sitepath %>assets/img/campaign/japanpost/pointback/brn-guide-point-1032-160.png" width="1032" height="160" alt="楽天ポイント スマホ本体代や月々のお支払いにも使える!">
          </picture>
        </a>
        </div>
      </div>
    </div>

    <div class="<%= namespace %>-Layout_Campaign">
      <div class="l-System_Container">
        <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2008', level: 'h2', year: '2023', class: '', comments: `<p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-16 u-Adjust_Align-center">本キャンペーンは2023年12月28日23時59分をもちまして終了いたしました。<br>このページに掲載されている情報は、キャンペーン終了時点のものです。</p>` }}) %>
      </div>
    </div>

    <footer class="g-Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <%- include('/include/_breadcrumbs', {
          type: 'foot',
          pagetitle,
          directories,
        }) %>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
</body>
</html>
