<% const pagetitle = "ダミーダミーダミーダミーダミーダミー" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "marathon" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: 'ダミーダミーダミーダミーダミーダミーダミーダミー',
  keywords: '',
  noindex: true,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/marathon_test/marathon.css?20240424">
<%- include('/include/_append-head') %>
<script defer="defer" src="https://r.r10s.jp/com/js/c/common/entry_button/1.1/entry_button-1.1.0.min.js"></script>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout-Label">
      <ul class="c-Label_List <%= namespace %>-Layout-Label_List">
        <li class="c-Label_Normal <%= namespace %>-Layout-Label_pink">全会員様対象</li>
        <li class="c-Label_Normal <%= namespace %>-Layout-Label_pink">エントリー必要</li>
      </ul>
      <p class="<%= namespace %>-Layout-Label_point">ダミーダミーダミーダミーダミーダミーダミーダミー</p>
      <p class="<%= namespace %>-Layout-Label_link <%= namespace %>-Layout-Display_Pc"><a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_001147" class="c-Link_Txt-inline">ダミーダミー<span class="c-Icon_Chevron-right"></span></a></p>
      <p class="<%= namespace %>-Layout-Label_link <%= namespace %>-Layout-Display_Sp"><a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_001148" class="c-Link_Txt-inline">ダミーダミー<span class="c-Icon_Chevron-right"></span></a></p>
    </div>

    <div class="<%= namespace %>-Hero">
        <h1><img src="<%= sitepath %>assets/img/campaign/marathon_test/hero-pc-dummy.png" alt="" class="<%= namespace %>-Utility_Img-pc">
          <img src="<%= sitepath %>assets/img/campaign/marathon_test/hero-sp-dummy.png" alt="" class="<%= namespace %>-Utility_Img-sp">
        </h1>
    </div>

    <div class="<%= namespace %>-Layout_Body">
      <div class="l-System_Container">
        <div class="<%= namespace %>-Layout-marathon u-Adjust_Mt-16">
          <div class="<%= namespace %>-Layout-marathon_Period">
            <dl>
              <dt>ダミーダミー<br class="<%= namespace %>-Layout-marathon_Sp">ダミー</dt>
              <dd>XXXX年X月XX日（X）XX:XX ～ XXXX年X月XX日（X）XX:XX</dd>
            </dl>
            <dl>
              <dt>ダミーダミーダミーダミーダミー</dt>
              <dd>XXXX年X月XX日（X）XX:XX ～ XXXX年X月XX日（X）XX:XX</dd>
            </dl>
            <dl>
              <dt>ダミーダミー</dt>
              <dd>XXXX年X月XX日（X）XX:XX ～ XXXX年X月XX日（X）XX:XX</dd>
            </dl>
            <dl>
              <dt>ダミーダミー<br class="<%= namespace %>-Layout-marathon_Sp">ダミー</dt>
              <dd>XXXX年X月XX日（X）XX:XX</dd>
            </dl>
            <dl>
              <dt>ダミーダミーダミーダミー</dt>
              <dd>XXXX年X月XX日（X）XX:XX</dd>
            </dl>
          </div>
        </div>

          <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-32">
            <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
            <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
            <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー<a href="#campaign-rule" class="js-scroll">ダミーダミー</a></li>
            <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー<a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_001149" class="<%= namespace %>-Layout-Display_Pc">ダミーダミー</a><a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_001150" class="<%= namespace %>-Layout-Display_Sp">ダミーダミー</a></li>
            <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
            <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
          </ul>

          <p class="c-Txt_Cap c-Txt_Emp-02 <%= namespace %>-Utility_Mt-unique" id="first_entry_button">※ダミーダミー：XXXX年X月XX日（X）XX:XX ～ XXXX年X月XX日（X）XX:XX</p>
          <p class="c-Txt_Cap c-Txt_Emp-02 <%= namespace %>-Utility_Mt-unique u-Adjust_Mt-0">※ダミーダミーダミー<a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_001149" class="<%= namespace %>-Layout-Display_Pc">ダミーダミーダミー</a><a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_001150" class="<%= namespace %>-Layout-Display_Sp">ダミーダミーダミー</a>ダミーダミーダミー</p>

          <div
            class="rcEntryButton campaign-Rexoverwrite"
            style="margin-bottom:15px"
            settings='{
              "campaignCode": "/ic/marathon/20210919pqmco/pointup",
              "checkboxLabel": "エントリーしてメルマガを購読する",
              "checkboxText": "<a href=\"#\">会員情報</a>にご登録されているメールアドレス宛に、楽天モバイルより、会員限定のキャンペーン情報や楽天グループまたはそのほかの企業のおトクな情報などが満載の楽天モバイルニュースやお知らせをお送りいたします。メルマガ購読を希望されない方は、チェックを外してください。",
              "checkedEkey": "from_rakuten_mobile-mail_on",
              "uncheckedEkey": "from_rakuten_mobile",
              "defaultChecked": true,
              "withIcon": false
          }'
          ></div>

          <p class="u-Adjust_Mt-40"><a href="#campaign-rule" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>ダミーダミーダミーダミー</a></p>

        <h2 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-72">ダミーダミーダミー<br class="<%= namespace %>-Layout-marathon_Sp"><span class="<%= namespace %>-Layout_step-line">ダミー<span class="<%= namespace %>-Layout_step-title">ダミー</span>ダミー</span><br class="<%= namespace %>-Layout-marathon_Sp">ダミーダミーダミー</h2>
        <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
          <img src="<%= sitepath %>assets/img/campaign/marathon_test/img-point-step01-dummy.png" alt="" class="<%= namespace %>-Utility_Img-pc">
          <img src="<%= sitepath %>assets/img/campaign/marathon_test/img-point-step01-sp-dummy.png" alt="" class="<%= namespace %>-Utility_Img-sp">
        </div>
        <div class="<%= namespace %>-Layout_step-note">
          <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">※ダミーダミーダミーダミーダミーダミー</p>
          <p class="c-Txt_Cap c-Txt_Emp-02">※ダミーダミー：XXXX年X月XX日（X）XX:XX ～ XXXX年X月XX日（X）XX:XX</p>
          <p class="c-Txt_Cap c-Txt_Emp-02">※ダミーダミーダミーダミーダミーダミー</p>
        </div>

        <h2 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-72">ダミーダミーダミー</h2>
        <p class="<%= namespace %>-Layout_step-txt u-Adjust_Mt-16">ダミーダミーダミーダミーダミーダミーダミー</p>
        <div class="<%= namespace %>-Layout_step u-Adjust_Mt-16" id="js-trigger">
          <div class="c-Accordion">
            <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1" data-ratid="campaign_marathon-flow-step1" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ダミーダミーダミーダミーダミー</button>
            <div id="accordion-content-1" class="<%= namespace %>-Layout_step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region"
              aria-labelledby="accordion-1" aria-hidden="true">
              <ul class="<%= namespace %>-Flow_List">
                <li>
                  <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                    <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                      <img src="<%= sitepath %>assets/img/campaign/marathon_test/img-point-dummy.png" alt="">
                    </div>
                    <div>
                      <p class="u-Adjust_Mt-16">ダミーダミーダミーダミーダミーダミー</p>
                      <p class="u-Adjust_Mt-16">XXXX年X月XX日（X）XX:XX ～ <br class="<%= namespace %>-Layout-marathon_Sp">XXXX年X月XX日（X）XX:XX</p>
                      <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-24">
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミー</li>
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミー</li>
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミー<a href="#campaign-rule" class="js-scroll">ダミーダミー</a></li>
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミー<a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_001149" class="<%= namespace %>-Layout-Display_Pc">ダミーダミー</a><a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_001150" class="<%= namespace %>-Layout-Display_Sp">ダミーダミー</a></li>
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミー</li>
                      </ul>
                    </div>
                  </div>

                  <p class="c-Txt_Cap c-Txt_Emp-02 <%= namespace %>-Utility_Mt-unique">※ダミーダミー：XXXX年X月XX日（X）XX:XX ～ XXXX年X月XX日（X）XX:XX</p>
                  <p class="c-Txt_Cap c-Txt_Emp-02 <%= namespace %>-Utility_Mt-unique u-Adjust_Mt-0">※ダミーダミーダミーダミーダミーダミー<a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_001149" class="<%= namespace %>-Layout-Display_Pc">ダミーダミーダミーダミーダミーダミー</a><a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_001150" class="<%= namespace %>-Layout-Display_Sp">ダミーダミーダミーダミーダミーダミー</a>ダミーダミーダミー</p>

                  <div
                  class="rcEntryButton campaign-Rexoverwrite"
                  style="margin-bottom:15px"
                  settings='{
                    "campaignCode": "/ic/marathon/20210919pqmco/pointup",
                    "checkboxLabel": "エントリーしてメルマガを購読する",
                    "checkboxText": "<a href=\"#\">会員情報</a>にご登録されているメールアドレス宛に、楽天モバイルより、会員限定のキャンペーン情報や楽天グループまたはそのほかの企業のおトクな情報などが満載の楽天モバイルニュースやお知らせをお送りいたします。メルマガ購読を希望されない方は、チェックを外してください。",
                    "checkedEkey": "from_rakuten_mobile-mail_on",
                    "uncheckedEkey": "from_rakuten_mobile",
                    "defaultChecked": true,
                    "withIcon": false
                  }'
                  ></div>

                  <p class="<%= namespace %>-Layout-marathon_Pc-center-btn u-Adjust_Mt-24"><a href="<%= sitepath %>fee/un-limit/" class="c-Link_Txt-inline">ダミーダミーダミーダミーダミー<span class="c-Icon_Chevron-right"></span></a></p>
                </li>
              </ul>
            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2" data-ratid="campaign_marathon-flow-step2" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ダミーダミーダミーダミーダミーダミー</button>
            <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2"
              aria-hidden="true">
              <div class="c-Tab js-Tab u-Adjust_Mt-16">
                <ul class="c-Tab_Items" role="tablist">
                  <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">ダミーダミー</li>
                  <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">ダミーダミーダミー</li>
                </ul>
                <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
                  <ul class="<%= namespace %>-Flow_List">
                    <li>
                      <h3 class="c-Heading_Lv3 u-Adjust_Mt-8 u-Adjust_Mb-16">ダミーダミーダミーダミーダミーダミー</h3>
                      <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                        <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                          <img src="<%= sitepath %>assets/img/campaign/marathon_test/img-point-dummy.png" alt="">
                        </div>
                        <div>
                          <p class="u-Adjust_Mt-16">ダミーダミーダミーダミーダミーダミー</p>
                          <div class="u-Adjust_Mt-16">
                            <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc">
                              <li><a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-inline">ダミーダミー<span class="c-Icon_Chevron-right"></span></a></li>
                              <li>ダミーダミーダミーダミーダミー
                                <p class="c-Txt_Emp-02 c-Txt_Normal-s u-Adjust_Mt-8">※ダミーダミーダミーダミーダミーダミーダミー</p>
                                <a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Link_Txt-inline u-Adjust_Mt-8">ダミーダミーダミーダミー<span class="c-Icon_Chevron-right"></span></a></li>
                              <li><a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-inline">ダミーダミーダミー<span class="c-Icon_Chevron-right"></span></a>
                                <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                                  <span>※</span>ダミーダミーダミーダミーダミーダミーダミー<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001238/">ダミーダミーダミーダミー</a>ダミーダミーダミーダミー<br>
                                </p>
                              </li>
                              <li><a href="<%= sitepath %>guide/mnp/" class="c-Link_Txt-inline">ダミーダミーダミーダミーダミー<span class="c-Icon_Chevron-right"></span></a></li>
                            </ul>
                          </div>
                          <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                            <li><span>※</span>ダミーダミーダミーダミーダミーダミー<a href="<%= sitepath %>flow/for-minors/">ダミーダミー</a>ダミーダミー</li>
                            <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                          </ul>
                        </div>
                      </div>
                    </li>

                    <li>
                      <h3 class="c-Heading_Lv3 u-Adjust_Mt-8 u-Adjust_Mb-16">ダミーダミーダミーダミーダミーダミー</h3>
                      <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                        <div class="l-Media_Image">
                          <img src="<%= sitepath %>assets/img/campaign/marathon_test/img-point-dummy.png" alt="">
                        </div>
                        <div>
                          <p class="u-Adjust_Mt-16">ダミーダミーダミーダミーダミー</p>
                          <p class="u-Adjust_Mt-32">XXXX年X月XX日（X）XX:XX ～ <br class="<%= namespace %>-Layout-marathon_Sp">XXXX年X月XX日（X）XX:XX</p>
                          <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>fee/un-limit/" class="c-Link_Txt-inline">ダミーダミーダミーダミーダミーダミー<span class="c-Icon_Chevron-right"></span></a></p>
                        </div>
                        <div class="<%= namespace %>-Flow_List-step-unlimit u-Adjust_Mt-32">
                          <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-left <%= namespace %>-Flow_List-content-new">
                            <div class="<%= namespace %>-Flow_List-detail">
                              <ul class="c-List_Text-disc-emp">
                                <li class="c-Txt_Emp-01">ダミーダミーダミーダミーダミーダミー</li>
                              </ul>
                              <div class="u-Adjust_Mt-16">
                                <div class="l-Media_Image <%= namespace %>-Flow_List-detail-image-wrapper">
                                  <img class="<%= namespace %>-Flow_List-detail-image" src="<%= sitepath %>assets/img/campaign/marathon_test/img-point-dummy.png" width="" alt="">
                                </div>
                              </div>
                              <p class="c-Txt_Normal u-Adjust_Mt-16">ダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
                              <p class="u-Adjust_Align-center"><a href="<%= sitepath %>guide/application/?lid-r=campaign_marathon-guide_application" class="c-Btn_Secondly <%= namespace %>-Flow_List-button_secondly u-Adjust_Mt-24" data-ratid="campaign_marathon-applicationbutton" data-ratevent="click" data-ratparam="all"><span>ダミーダミーダミーダミー<br class="<%= namespace %>-Layout-marathon_Sp"> ダミーダミーダミーダミー</span></a></p>
                              <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/flow/application/" class="c-Link_Txt-inline">ダミーダミーダミーダミーダミーダミー<span class="c-Icon_Chevron-right"></span></a></p>
                            </div>
                          </div>
                          <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-right">
                            <div class="<%= namespace %>-Flow_List-detail">
                              <ul class="c-List_Text-disc-emp">
                                <li class="c-Txt_Emp-01">ダミーダミーダミーダミーダミーダミーダミー</li>
                              </ul>
                              <div class="u-Adjust_Mt-16">
                                <div class="l-Media_Image <%= namespace %>-Flow_List-detail-image-wrapper">
                                  <img class="<%= namespace %>-Flow_List-detail-image" src="<%= sitepath %>assets/img/campaign/marathon_test/img-point-dummy.png" width="" alt="">
                                </div>
                                <p class="u-Adjust_Mt-16">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
                                <p class="u-Adjust_Mt-24">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
                                <p class="u-Adjust_Align-center"><a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_marathon_ms&mno_migration=1" class="c-Btn_Secondly u-Adjust_Mt-24" data-ratid="campaign_marathon-applicationbutton-ms" data-ratevent="click" data-ratparam="all"><span>ダミーダミーダミーダミーダミー</span></a></p>
                                <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/mnp/migration/" class="c-Link_Txt-inline">ダミーダミーダミーダミーダミーダミーダミーダミーダミー<span class="c-Icon_Chevron-right"></span></a></p>
                                <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>flow/mvno-user-registration/" class="c-Link_Txt-inline">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー<span class="c-Icon_Chevron-right"></span></a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
                  <ul class="<%= namespace %>-Flow_List">
                    <li>
                      <h3 class="c-Heading_Lv3 u-Adjust_Mt-8 u-Adjust_Mb-16">ダミーダミーダミーダミーダミーダミー</h3>
                      <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                        <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                          <img src="<%= sitepath %>assets/img/campaign/marathon_test/img-point-dummy.png" alt="">
                        </div>
                        <div>
                          <p class="u-Adjust_Mt-16">ダミーダミーダミーダミーダミーダミーダミー</p>
                          <div class="u-Adjust_Mt-16">
                            <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc">
                              <li><a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-inline">ダミーダミー<span class="c-Icon_Chevron-right"></span></a></li>
                              <li>ダミーダミーダミーダミーダミーダミー
                                <p class="c-Txt_Emp-02 c-Txt_Normal-s u-Adjust_Mt-8">※ダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
                                <a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Link_Txt-inline u-Adjust_Mt-8">ダミーダミーダミーダミー<span class="c-Icon_Chevron-right"></span></a></li>
                              <li><a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-inline">ダミーダミーダミーダミーダミーダミー<span class="c-Icon_Chevron-right"></span></a>
                                <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                                  <span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001238/">ダミーダミーダミー</a>ダミーダミーダミーダミー<br>
                                </p>
                              </li>
                              <li><a href="<%= sitepath %>guide/mnp/" class="c-Link_Txt-inline">ダミーダミーダミーダミーダミーダミーダミーダミーダミー<span class="c-Icon_Chevron-right"></span></a></li>
                            </ul>
                          </div>
                          <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                            <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                            <li><span>※</span>ダミーダミーダミーダミー<a href="<%= sitepath %>flow/for-minors/">ダミーダミーダミー</a>ダミーダミーダミーダミー</li>
                            <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                          </ul>
                        </div>
                      </div>
                    </li>

                    <li>
                      <h3 class="c-Heading_Lv3 u-Adjust_Mt-8 u-Adjust_Mb-16">ダミーダミーダミーダミーダミーダミー</h3>
                      <div class="l-Media_Grid <%= namespace %>-Flow_List-item">
                        <div class="l-Media_Image">
                          <img src="<%= sitepath %>assets/img/campaign/marathon_test/img-point-dummy.png" alt="">
                        </div>
                        <div>
                          <p class="u-Adjust_Mt-16">ダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
                          <p class="u-Adjust_Mt-32">XXXX年X月XX日（X）XX:XX ～ <br class="<%= namespace %>-Layout-marathon_Sp">ダミーダミーダミーダミー</p>
                          <div class="u-Adjust_Mt-24">
                            <p class="<%= namespace %>-Layout-marathon_Sp-center-btn"><a href="<%= sitepath %>shop/" class="c-Btn_Regular-auto <%= namespace %>-Flow_List-button"><span>ダミーダミーダミーダミー</span></a></p>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3" data-ratid="campaign_marathon-flow-step3" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ダミーダミーダミーダミーダミーダミーダミーダミー</button>
            <div id="accordion-content-3" class="<%= namespace %>-Layout_step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region"
              aria-labelledby="accordion-3" aria-hidden="true">
              <div class="c-Tab js-Tab u-Adjust_Mt-16">
                <ul class="c-Tab_Items" role="tablist">
                  <li class="c-Tab_Item" id="tab-menu3" role="tab" aria-selected="true" aria-controls="tab-content3">ダミーダミー</li>
                  <li class="c-Tab_Item" id="tab-menu4" role="tab" aria-selected="false" aria-controls="tab-content4">ダミーダミーダミー</li>
                </ul>
                <div class="c-Tab_Panel" id="tab-content3" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu3">
                  <ul class="<%= namespace %>-Flow_List">
                    <li>
                      <h3 class="c-Heading_Lv3 u-Adjust_Mt-32 u-Adjust_Mb-16">ダミーダミーダミーダミーダミーダミー</h3>
                      <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                        <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                          <img src="<%= sitepath %>assets/img/campaign/marathon_test/img-point-dummy.png" alt="">
                        </div>
                        <div>
                          <p class="u-Adjust_Mt-16">XXXX年X月XX日（X）XX:XX</p>
                          <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-24">
                            <li class="c-Txt_Emp-02"><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                            <li><span>※</span><a class="js-scroll" href="#PlanStart">プラン利用開始日の定義はこちら。</a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-32">
                    <h3 class="c-Heading_Lv3" id="accordion-sim">ダミーダミーダミーダミーダミーダミーダミーダミー</h3>
                    <div class="<%= namespace %>-Flow_List-step-unlimit u-Adjust_Mt-24">
                      <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-left">
                        <div class="<%= namespace %>-Flow_List-detail">
                          <ul class="c-List_Text-disc-emp">
                            <li class="c-Txt_Emp-01">ダミーダミーダミーダミーダミー</li>
                          </ul>
                          <p class="c-Txt_Normal u-Adjust_Mt-24"><a href="<%= sitepath %>assets/pdf/product/START-GUIDE-SIM-CARD.pdf">ダミーダミーダミーダミーダミー</a>ダミーダミーダミー<br>
                            ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
                          <div class="u-Adjust_Mt-32">
                            <div class="l-Media_Image <%= namespace %>-Flow_List-detail-image-wrapper">
                              <img class="<%= namespace %>-Flow_List-detail-image" src="<%= sitepath %>assets/img/campaign/marathon_test/img-point-dummy.png" width="" alt="">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-right">
                        <div class="<%= namespace %>-Flow_List-detail">
                          <ul class="c-List_Text-disc-emp">
                            <li class="c-Txt_Emp-01">ダミーダミーダミーダミー </li>
                          </ul>
                          <p class="c-Txt_Normal u-Adjust_Mt-24">ダミーダミーダミーダミーダミーダミー<br>
                            ダミーダミーダミーダミーダミーダミー<a href="<%= sitepath %>assets/pdf/product/START-GUIDE-eSIM.pdf">ダミーダミーダミー</a>ダミーダミーダミーダミーダミーダミー</p>
                          <div class="u-Adjust_Mt-32">
                            <div class="l-Media_Image <%= namespace %>-Flow_List-detail-image-wrapper">
                              <img class="<%= namespace %>-Flow_List-detail-image" src="<%= sitepath %>assets/img/campaign/marathon_test/img-point-dummy.png" width="" alt="">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="u-Adjust_Align-center"><a href="<%= sitepath %>guide/setting/" class="c-Btn_Regular-semiauto <%= namespace %>-Layout_Body-content-center <%= namespace %>-Flow_List-button u-Adjust_Mt-24"><span>ダミーダミーダミーダミーダミー</span></a></p>
                </div>
                <div class="c-Tab_Panel" id="tab-content4" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu4">
                  <ul class="<%= namespace %>-Flow_List">
                    <li>
                      <h3 class="c-Heading_Lv3 u-Adjust_Mt-32 u-Adjust_Mb-16">ダミーダミーダミーダミーダミーダミー</h3>
                      <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                        <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                          <img src="<%= sitepath %>assets/img/campaign/marathon_test/img-point-dummy.png" alt="">
                        </div>
                        <div>
                          <p class="u-Adjust_Mt-16">ダミーダミーダミーダミーダミーダミーダミーダミー</p>
                          <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                            <li class="c-Txt_Emp-02"><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4" data-ratid="campaign_marathon-flow-step4" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ダミーダミーダミーダミーダミーダミー</button>
            <div id="accordion-content-4" class="<%= namespace %>-Layout_step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
              <ul class="<%= namespace %>-Flow_List">
                <li>
                  <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                    <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                      <img src="<%= sitepath %>assets/img/campaign/marathon_test/img-point-dummy.png" alt="">
                    </div>
                    <div>
                      <p class="u-Adjust_Mt-16 c-Txt_Emp-02">ダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
                      <p class="u-Adjust_Mt-16">XXXX年X月XX日（X）XX:XX</p>
                      <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>service/rakuten-link/" target="_blank" class="c-Link_Txt-inline">ダミーダミーダミーダミーダミーダミーダミーダミー<span class="c-Icon_New-window-l"></span></a></p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <h2 class="u-Adjust_Align-center u-Adjust_Mt-48 ">ダミーダミーダミーダミーダミー</h2>
        <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
          <a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_001153" class="<%= namespace %>-Layout-Display_Pc">
            <img src="<%= sitepath %>assets/img/campaign/marathon_test/img-04-dummy.png" alt="" class="<%= namespace %>-Utility_Img-pc">
          </a>
          <a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_001154" class="<%= namespace %>-Layout-Display_Sp">
            <img src="<%= sitepath %>assets/img/campaign/marathon_test/img-04-sp-dummy.png" alt="" class="<%= namespace %>-Utility_Img-sp">
          </a>
        </p>

        <h2 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-48">ダミーダミーダミー</h2>
        <div class="c-Accordion u-Adjust_Mt-16">
          <button type="button" id="accordion-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-6" data-ratid="campaign_marathon-fee_un-limit" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ダミーダミーダミーダミーダミーダミーダミー</button>
          <div id="accordion-content-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-6"
            aria-hidden="true">
            <p>ダミーダミーダミーダミーダミーダミーダミーダミーダミー<a href="<%= sitepath %>fee/un-limit/">ダミーダミーダミー</a></p>
          </div>
        </div>
        <div class="c-Accordion">
          <button type="button" id="accordion-7" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-7" data-ratid="campaign_marathon-payment_poit" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ダミーダミーダミーダミーダミーダミーダミーダミーダミー</button>
          <div id="accordion-content-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-7"
            aria-hidden="true">
            <p>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー<a href="<%= sitepath %>guide/payment/point/">ダミーダミーダミー</a></p>
          </div>
        </div>
        <div class="c-Accordion">
          <button type="button" id="accordion-8" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-8" data-ratid="campaign_marathon-faq_00001576" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</button>
          <div id="accordion-content-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-8"
            aria-hidden="true">
            <p>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001576/">ダミーダミー</a></p>
          </div>
        </div>
        <div class="c-Accordion">
          <button type="button" id="accordion-9" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-9" data-ratid="campaign_marathon-fee_zero" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ダミーダミーダミーダミーダミーダミー</button>
          <div id="accordion-content-9" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-9"
            aria-hidden="true">
            <p>ダミーダミーダミーダミーダミーダミーダミーダミーダミー<a href="<%= sitepath %>fee/zero/">ダミーダミーダミー</a></p>
          </div>
        </div>
        <div class="c-Accordion">
          <button type="button" id="accordion-10" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-10" data-ratid="campaign_marathon-area" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ダミーダミーダミーダミーダミー</button>
          <div id="accordion-content-10" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-10"
            aria-hidden="true">
            <p>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー<a
                href="<%= sitepath %>area/">ダミーダミーダミー</a></p>
          </div>
        </div>

        <div class="c-Accordion">
          <button type="button" id="accordion-11" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-11" data-ratid="campaign_marathon-campaign" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ダミーダミーダミーダミーダミーダミー</button>
          <div id="accordion-content-11" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-11"
            aria-hidden="true">
            <p>ダミーダミーダミーダミーダミーダミーダミー<a href="<%= sitepath %>campaign/">ダミーダミーダミーダミーダミーダミー</a></p>
          </div>
        </div>
        <div class="c-Accordion">
          <button type="button" id="accordion-12" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-12" data-ratid="campaign_marathon-product_byod" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</button>
          <div id="accordion-content-12" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-12"
            aria-hidden="true">
            <p>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー<a href="<%= sitepath %>product/byod/">ダミーダミーダミー</a></p>
          </div>
        </div>
        <div class="c-Accordion">
          <button type="button" id="accordion-13" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-13" data-ratid="campaign_marathon-service_rakuten-link" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ダミーダミーダミーダミー</button>
          <div id="accordion-content-13" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-13"
            aria-hidden="true">
            <p>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー<a href="<%= sitepath %>service/rakuten-link/">ダミーダミーダミー</a></p>
          </div>
        </div>

        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
          <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
          <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
          <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー<a href="#campaign-rule" class="js-scroll">ダミーダミーダミー</a></li>
          <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー<a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_001149" class="<%= namespace %>-Layout-Display_Pc">ダミーダミーダミー</a><a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_001150" class="<%= namespace %>-Layout-Display_Sp">ダミーダミーダミー</a></li>
          <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
        </ul>

          <p class="c-Txt_Cap c-Txt_Emp-02 <%= namespace %>-Utility_Mt-unique">※ダミーダミーダミー：XXXX年X月XX日（X）XX:XX ～ XXXX年X月XX日（X）XX:XX</p>
          <p class="c-Txt_Cap c-Txt_Emp-02 <%= namespace %>-Utility_Mt-unique u-Adjust_Mt-0">※ダミーダミーダミーダミー<a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_001149" class="<%= namespace %>-Layout-Display_Pc">ダミーダミーダミーダミーダミーダミー</a><a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_001150" class="<%= namespace %>-Layout-Display_Sp">ダミーダミーダミーダミー</a>ダミーダミーダミーダミー</p>

          <div
          class="rcEntryButton campaign-Rexoverwrite"
          style="margin-bottom:15px"
          settings='{
            "campaignCode": "/ic/marathon/20210919pqmco/pointup",
            "checkboxLabel": "エントリーしてメルマガを購読する",
            "checkboxText": "<a href=\"#\">会員情報</a>にご登録されているメールアドレス宛に、楽天モバイルより、会員限定のキャンペーン情報や楽天グループまたはそのほかの企業のおトクな情報などが満載の楽天モバイルニュースやお知らせをお送りいたします。メルマガ購読を希望されない方は、チェックを外してください。",
            "checkedEkey": "from_rakuten_mobile-mail_on",
            "uncheckedEkey": "from_rakuten_mobile",
            "defaultChecked": true,
            "withIcon": false
          }'
          ></div>

        <p class="<%= namespace %>-Layout-marathon_Pc-center-btn u-Adjust_Mt-24"><a href="<%= sitepath %>fee/un-limit/" class="c-Link_Txt-inline">ダミーダミーダミーダミーダミーダミー<span class="c-Icon_Chevron-right"></span></a></p>

        <div class="u-Adjust_Mt-64">
          <div class="<%= namespace %>-Layout_Rule" id="campaign-rule">
            <h2>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</h2>
            <p class="u-Adjust_Mt-24">
              <a href="https://ichiba.faq.rakuten.net/detail/000006866" target="_blank" class="c-Link_Txt-inline">
                ダミーダミーダミーダミーダミーダミー<span class="c-Icon_New-window-l"></span>
              </a>
            </p>
            <p class="u-Adjust_Mt-24">
              <a href="https://ichiba.faq.rakuten.net/detail/000011772" target="_blank" class="c-Link_Txt-inline">
                ダミーダミーダミーダミーダミーダミーダミー<span class="c-Icon_New-window-l"></span>
              </a>
            </p>
            <div class="u-Adjust_Mt-24">
              <dl class="c-Dl_Origin <%= namespace %>-campaign-Rule">
                <div>
                  <dt>ダミーダミーダミー</dt>
                  <dd>
                    <p>XXXX</p>
                    <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン期間</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">ダミーダミー</p>
                    <p class="u-Adjust_Pl-16">XXXX年X月XX日（X）XX:XX<br class="<%= namespace %>-Layout-marathon_Sp">～XXXX年X月XX日（X）XX:XX</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">ダミーダミーダミーダミーダミー</p>
                    <p class="u-Adjust_Pl-16">XXXX年X月XX日（X）XX:XX<br class="<%= namespace %>-Layout-marathon_Sp">～XXXX年X月XX日（X）XX:XX</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">ダミーダミー</p>
                    <p class="u-Adjust_Pl-16">XXXX年X月XX日（X）XX:XX<br class="<%= namespace %>-Layout-marathon_Sp">～XXXX年X月XX日（X）XX:XX</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">ダミーダミーダミー</p>
                    <p class="u-Adjust_Pl-16">XXXX年X月XX日（X）XX:XX</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">ダミーダミーダミーダミー</p>
                    <p class="u-Adjust_Pl-16">XXXX年X月XX日（X）XX:XX</p>
                  </dd>
                </div>
                <div>
                  <dt>ダミー</dt>
                  <dd>
                    <p>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
                    <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">ダミーダミーダミーダミー</span><br>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
                    <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</span></p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">ダミーダミーダミー</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">ダミーダミーダミーダミーダミー</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
                    <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                      <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミー</li>
                      <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                    </ul>

                    <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">ダミーダミーダミーダミーダミーダミーダミーダミーダミー</span></p>
                    <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                      <li id="PlanStart"><span>※</span>ダミーダミーダミーダミー<br><br>
                        <span class="<%= namespace %>-Table_Rule-bold">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</span><br>
                        ダミーダミーダミーダミーダミーダミーダミーダミーダミー<br>
                        ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー<br><br>
                        <span class="<%= namespace %>-Table_Rule-bold">ダミーダミーダミーダミーダミー</span><br>
                        ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー<br>
                        <span class="<%= namespace %>-Table_Rule-bold">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</span><br>
                        ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                    </ul>

                    <p class="u-Adjust_Mt-8">ダミーダミーダミーダミーダミーダミー<br>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
                    <p class="u-Adjust_Mt-16">ダミーダミーダミーダミーダミーダミー<br>ダミーダミーダミーダミーダミーダミーダミーダミーダミー<br><a target="_blank" href="<%= sitepath %>guide/rakuten-link/">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</a><br>-
                      ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
                    <p class="u-Adjust_Mt-16">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー<br>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー<br><a href="https://network.mobile.rakuten.co.jp/faq/detail/00001962/">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</a><br>ダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
                    <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>ダミーダミーダミーダミー</dt>
                  <dt class="<%= namespace %>-campaign-Rule_Title-sub">ダミー</dt>
                  <dd>
                    <p>ダミーダミーダミーダミーダミーダミーダミー</p>
                    <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                      <li><span>※</span>ダミーダミーダミーダミーダミーダミー</li>
                      <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                      <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                      <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006644" target="_blank">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</a></li>
                      <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー<a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_001149" class="<%= namespace %>-Layout-Display_Pc">ダミーダミーダミーダミーダミー</a><a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_001150" class="<%= namespace %>-Layout-Display_Sp">ダミーダミーダミーダミー</a></li>
                    </ul>
                  </dd>
                  <dt class="<%= namespace %>-campaign-Rule_Title-sub">ダミーダミーダミー</dt>
                  <dd>
                    <p>ダミーダミーダミーダミーダミー</p>
                    <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミー</li>
                      <li><span>※</span>ダミーダミーダミーダミー</li>
                    </ul>
                  </dd>
                  <dt class="<%= namespace %>-campaign-Rule_Title-sub">ダミーダミーダミー</dt>
                  <dd>
                    <p>ダミーダミーダミーダミーダミー</p>
                    <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank">ダミーダミーダミーダミーダミーダミー</a></li>
                      <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>ダミーダミー</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">ダミー</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">ダミーダミー<br>ダミーダミーダミーダミーダミー</p>

                    <p class="c-Txt_Emp-01 u-Adjust_Mt-24">ダミーダミーダミー</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">ダミーダミーダミーダミーダミーダミー</p>

                    <p class="c-Txt_Emp-01 u-Adjust_Mt-24">ダミーダミー</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>

                    <p class="c-Txt_Emp-01 u-Adjust_Mt-24">ダミーダミーダミーダミー</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー<br>ダミーダミーダミーダミー（<a href="https://www.kobo.com" target="_blank">ダミーダミーダミー</a>）ダミーダミーダミーダミーダミーダミー </p>
                    <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                      <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>ダミーダミーダミー</dt>
                  <dd>
                    <p>ダミーダミーダミーダミーダミーダミーダミーダミー</p>
                    <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                      <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                      <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                      <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー<br>-ダミーダミーダミーダミーダミーダミーダミーダミーダミー<a href="<%= sitepath %>assets/pdf/product/START-GUIDE-SIM-CARD.pdf?20200707">ダミーダミーダミーダミーダミーダミー</a>ダミー<a href="<%= sitepath %>assets/pdf/product/START-GUIDE-eSIM.pdf?20200707">ダミーダミーダミーダミーダミーダミーダミー</a>ダミーダミーダミー</li>
                      <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                      <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                      <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                      <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                      <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                      <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                      <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>ダミーダミーダミー</dt>
                  <dd>
                    <ul class="<%= namespace %>-Table_Rule-Cap">
                      <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミー</li>
                      <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミー</li>
                      <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミー</li>
                      <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミー</li>
                    </ul>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>

        <div class="c-Accordion u-Adjust_Mt-48" id="past-campaigns">
          <button id="accordion-20" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-20"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ダミーダミーダミーダミー</button>
          <div id="accordion-content-20" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-20" aria-hidden="true">

          <div class="<%= namespace %>-Layout_Rule u-Adjust_Mt-0">
            <div class="c-Txt_Emp-01">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</div>
              <p class="u-Adjust_Mt-24">
                <a href="https://ichiba.faq.rakuten.net/detail/000006866" target="_blank" class="c-Link_Txt-inline">
                  ダミーダミーダミーダミーダミーダミーダミーダミー<span class="c-Icon_New-window-l"></span>
                </a>
              </p>
              <p class="u-Adjust_Mt-24">
                <a href="https://ichiba.faq.rakuten.net/detail/000011772" target="_blank" class="c-Link_Txt-inline">
                  ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー<span class="c-Icon_New-window-l"></span>
                </a>
              </p>
              <div class="u-Adjust_Mt-24">
                <dl class="c-Dl_Origin <%= namespace %>-campaign-Rule">
                  <div>
                    <dt>ダミーダミーダミーダミー</dt>
                    <dd>
                      <p>1244</p>
                      <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt>キャンペーン期間</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">ダミーダミーダミー</p>
                      <p class="u-Adjust_Pl-16">ダミーダミーダミーダミーダミーダミーダミー<br class="<%= namespace %>-Layout-marathon_Sp">ダミーダミーダミーダミーダミー</p>
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">ダミーダミーダミーダミーダミーダミー</p>
                      <p class="u-Adjust_Pl-16">ダミーダミーダミーダミーダミーダミー<br class="<%= namespace %>-Layout-marathon_Sp">ダミーダミーダミーダミーダミー</p>
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">ダミーダミーダミー</p>
                      <p class="u-Adjust_Pl-16">ダミーダミーダミーダミーダミーダミー<br class="<%= namespace %>-Layout-marathon_Sp">ダミーダミーダミーダミーダミーダミー</p>
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">ダミーダミーダミーダミーダミー</p>
                      <p class="u-Adjust_Pl-16">ダミーダミーダミーダミーダミーダミーダミー</p>
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">ダミーダミーダミーダミーダミー</p>
                      <p class="u-Adjust_Pl-16">ダミーダミーダミーダミーダミー</p>
                    </dd>
                  </div>
                  <div>
                    <dt>ダミーダミーダミー</dt>
                    <dd>
                      <p>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
                      <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">ダミーダミーダミーダミーダミーダミーダミーダミー</span><br>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
                      <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</span></p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">ダミーダミーダミーダミー</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">ダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
                      <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                      </ul>

                      <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">ダミーダミーダミーダミーダミーダミーダミー</span></p>
                      <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー<br><br>
                          <span class="<%= namespace %>-Table_Rule-bold">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</span><br>
                          ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー<br>
                          ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー<br><br>
                          <span class="<%= namespace %>-Table_Rule-bold">ダミーダミーダミーダミーダミーダミーダミーダミーダミー</span><br>
                          ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー<br>
                          <span class="<%= namespace %>-Table_Rule-bold">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</span><br>
                          ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                      </ul>

                      <p class="u-Adjust_Mt-8">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー<br>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
                      <p class="u-Adjust_Mt-16">ダミーダミーダミーダミーダミーダミー<br>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー<br><a target="_blank" href="<%= sitepath %>guide/rakuten-link/">ダミーダミーダミーダミーダミーダミーダミーダミー</a><br>-
                        ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
                      <p class="u-Adjust_Mt-16">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー<br>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー<br><a href="https://network.mobile.rakuten.co.jp/faq/detail/00001962/">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</a><br>-「&#9314;
                        ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
                      <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt>ダミーダミーダミーダミーダミーダミー</dt>
                    <dt class="<%= namespace %>-campaign-Rule_Title-sub">ダミーダミー</dt>
                    <dd>
                      <p>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
                      <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                        <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006644" target="_blank">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</a></li>
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー<a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_001149" class="<%= namespace %>-Layout-Display_Pc">詳しくはこちら</a><a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_001150" class="<%= namespace %>-Layout-Display_Sp">ダミーダミーダミー</a></li>
                      </ul>
                    </dd>
                    <dt class="<%= namespace %>-campaign-Rule_Title-sub">ダミーダミーダミーダミー</dt>
                    <dd>
                      <p>ダミーダミーダミーダミーダミーダミーダミーダミー</p>
                      <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミー</li>
                      </ul>
                    </dd>
                    <dt class="<%= namespace %>-campaign-Rule_Title-sub">ダミーダミーダミー</dt>
                    <dd>
                      <p>ダミーダミーダミーダミーダミーダミー</p>
                      <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank">ダミーダミーダミーダミーダミー</a></li>
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt>ダミーダミーダミー</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">ダミーダミー</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">ダミーダミーダミー<br>ダミーダミーダミーダミーダミーダミー</p>

                      <p class="c-Txt_Emp-01 u-Adjust_Mt-24">ダミーダミーダミー</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">ダミーダミーダミーダミーダミーダミーダミー</p>

                      <p class="c-Txt_Emp-01 u-Adjust_Mt-24">ダミーダミーダミー</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>

                      <p class="c-Txt_Emp-01 u-Adjust_Mt-24">ダミーダミーダミーダミー</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー<br>ダミーダミーダミーダミーダミーダミーダミー<a href="https://www.kobo.com" target="_blank">ダミーダミーダミーダミーダミー</a>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
                      <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt>ダミーダミーダミーダミー</dt>
                    <dd>
                      <p>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
                      <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー<a href="<%= sitepath %>assets/pdf/product/START-GUIDE-SIM-CARD.pdf?20200707">ダミーダミーダミーダミーダミーダミーダミー</a>ダミー<a href="<%= sitepath %>assets/pdf/product/START-GUIDE-eSIM.pdf?20200707">ダミーダミーダミーダミーダミー</a>ダミーダミーダミー</li>
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt>ダミーダミー</dt>
                    <dd>
                      <ul class="<%= namespace %>-Table_Rule-Cap">
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</li>
                        <li><span>※</span>ダミーダミーダミーダミーダミーダミーダミーダミー</li>
                      </ul>
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="<%= namespace %>-Layout_Bottom-fixed" id="js-fixed-btn" aria-expanded="false">
      <p class="<%= namespace %>-Layout_Bottom-fixed-txt">※ダミーダミーダミーダミーダミーダミー<br class="<%= namespace %>-Layout-marathon_Sp"><a href="#first_entry_button" class="js-scroll">ダミーダミーダミーダミーダミー</a></p>
      <div class="<%= namespace %>-Layout_Bottom-fixed-inner">
        <a href="<%= sitepath%>guide/application/?lid-r=campaign_marathon-guide_application1" class="c-Btn_Primary <%= namespace %>-Layout_Bottom-fixed-btn" data-ratid="campaign_marathon-applicationbutton1" data-ratevent="click" data-ratparam="all">
          <span class="<%= namespace %>-Layout_Bottom-fixed-btn-txt">ダミーダミーダミーダミーダミー</span>
        </a>
        <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_marathon_ms1&mno_migration=1" class="c-Btn_Primary <%= namespace %>-Layout_Bottom-fixed-btn" data-ratid="campaign_marathon-applicationbutton-ms1" data-ratevent="click" data-ratparam="all">
          <span class="<%= namespace %>-Layout_Bottom-fixed-btn-txt">ダミーダミーダミーダミーダミー<br class="<%= namespace %>-Layout-marathon_Pc">ダミーダミー</span>
        </a>
      </div>
    </div>

<!-- ReX UX Survey: Mounting point for embedded components -->
<div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>

    <footer class="g-Footer <%= namespace %>-Layout_Footer u-Adjust_Mt-64">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
    <script>
    (function($){
        $(function(){
            $('.sim_accordion3_opan').on('click', function(){
              $('#accordion-3').attr('aria-expanded', 'true');
              $('#accordion-content-3').attr('aria-hidden', 'false');
              $('#accordion-content-3').slideDown(200);
            });
        });
    })(jQuery);
  </script>
  <script>
    (function($){
        const trigger = document.getElementById('js-trigger');
        const fixedBtn = document.getElementById('js-fixed-btn');
        function fixedBottomBtn() {
            let scrollY = window.pageYOffset;
            const triggerRect = trigger.getBoundingClientRect();
            const triggerY = scrollY + triggerRect.top;

            if ( scrollY + window.innerHeight > triggerY ) {
                fixedBtn.setAttribute('aria-expanded', 'true');
            } else {
                fixedBtn.setAttribute('aria-expanded', 'false');
            }
        }
        if( fixedBtn && trigger ) {
            window.addEventListener('scroll', fixedBottomBtn);
        }
    })();
  </script>
<!-- ReX UX Survey: Config -->
<script>
window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
</script>
<!-- ReX UX Survey: Script -->
<script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>
</body>
</html>
