<%_
if (typeof key === 'undefined') {
  key = '';
}
_%>
<!-- メッセージ相談 my 楽天モバイル -->
<h2 class="c-Heading_Lv2 u-Adjust_Pt-64">解決しない場合は、お問い合わせください</h2>
<h3 class="c-Heading_Lv3 u-Adjust_Mt-24 inquiry-drilldown_Title-border">チャット（アプリ）でお問い合わせ</h3>
<p class="u-Adjust_Mt-8">チャット相談なら24時間受付、<span class="c-Txt_Emp-02">プッシュ通知</span>で返信を見逃さない。履歴が残るのでメモも不要。</p>
<p class="js-waiting-member-message u-Adjust_Mt-16"></p>
<%- include('/include/inquiry/_inquiry-wait-c.ejs', {key: key + '-c'}) %>
<div class="inquiry-Info">
  <div class="inquiry-Layout_App">
    <div class="inquiry-Layout_Img"><img src="<%= sitepath %>assets/img/inquiry/img-app-02.png" width="96" alt=""></div>
    <div class="inquiry-Layout_Txt">
      <h4 class="c-Heading_Lv4">「my 楽天モバイル」公式アプリ</h4>
      <p class="u-Adjust_Mt-16">24時間受付。空き時間で気軽にお問い合わせ（コミュニケーションセンターの受付時間 9:00 ～ 24:00）</p>
      <p class="u-Adjust_Mt-16"></p>
      <ul class="c-Box_App-link u-Adjust_Mt-16">
        <li class="inquiry-Layout_Btn-store">
          <div class="inquiry-Layout_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank" data-ratId="inquiry-myrakuten_google<%= key %>" data-ratEvent="click" data-ratParam="all"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
          <div class="inquiry-Layout_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
        </li>
      </ul>
    </div>
  </div>
  <p class="u-Adjust_Mt-16"><a href="#modal1" class="js-Modal c-Link_Txt-icon">チャット相談の利用方法を見る<span class="c-Icon_Chevron-right"></span></a></p>
</div>
<!-- //メッセージ相談  my 楽天モバイル -->
