<%_
if (typeof key === 'undefined') {
  key = '';
}
_%>
<div class="c-Accordion u-Adjust_Mt-16">
  <button id="accordion<%= key %>" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content<%= key %>"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>混雑予測の目安詳細</button>
  <div id="accordion-content<%= key %>" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion<%= key %>" aria-hidden="true">
    <div class="u-Adjust_Pl-16 u-Adjust_Pr-16">

      <h3 class="c-Heading_Lv3">電話窓口の混雑予測</h3>
      <p class="u-Adjust_Mt-16 inquiry-Wait_Message">下記は本日の時間帯ごとの混雑予測の目安です。</p>

      <table class="u-Adjust_Mt-16 inquiry-Wait_Table">
        <thead>
          <tr>
            <th>時間帯</th>
            <th>電話窓口</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><span>09:00 ～ 10:00</span></th>
            <td><span class="inquiry-Wait_Icon-negative c-Icon_Product-negative-2"></span><span>大変混雑しています</span></td>
          </tr>
          <tr>
            <th><span>10:00 ～ 12:00</span></th>
            <td><span class="inquiry-Wait_Icon-negative c-Icon_Product-natural"></span><span>つながりにくいです</span></td>
          </tr>
          <tr>
            <th><span>12:00 ～ 14:00</span></th>
            <td><span class="inquiry-Wait_Icon-positive c-Icon_Product-positive"></span><span>比較的つながりやすいです</span></td>
          </tr>
          <tr>
            <th><span>14:00 ～ 16:00</span></th>
            <td><span class="inquiry-Wait_Icon-positive c-Icon_Product-positive-2"></span><span>つながりやすいです</span></td>
          </tr>
          <tr>
            <th><span>16:00 ～ 18:00</span></th>
            <td><span class="inquiry-Wait_Icon-positive c-Icon_Product-positive-2"></span><span>つながりやすいです</span></td>
          </tr>
          <tr>
            <th><span>18:00 ～ 20:00</span></th>
            <td><span class="inquiry-Wait_Icon-negative c-Icon_Product-natural"></span><span>つながりにくいです</span></td>
          </tr>
        </tbody>
      </table>

      <p class="u-Adjust_Mt-16 inquiry-Wait_Message">お問い合わせいただいた時間帯により応答状況が表示と異なる場合がございます。<br>
      電話相談が混雑時には、チャット相談もしくは、AIチャット相談をご利用いただくか、<a href="/faq/?l-id=inquiry_faq_accordion<%= key %>">よくある質問</a>をご確認ください。</p>

      <div class="c-Infobox_Standing-border u-Adjust_Mt-16 inquiry-Wait_List">
        <dl><dt>混雑度1：</dt><dd><span class="inquiry-Wait_Icon-positive c-Icon_Product-positive-2"></span><span>つながりやすいです</span></dd></dl>
        <dl><dt>混雑度2：</dt><dd><span class="inquiry-Wait_Icon-positive c-Icon_Product-positive"></span><span>比較的つながりやすいです</span></dd></dl>
        <dl><dt>混雑度3：</dt><dd><span class="inquiry-Wait_Icon-negative c-Icon_Product-natural"></span><span>つながりにくいです</span></dd></dl>
        <dl><dt>混雑度4：</dt><dd><span class="inquiry-Wait_Icon-negative c-Icon_Product-negative"></span><span>やや混雑しています</span></dd></dl>
        <dl><dt>混雑度5：</dt><dd><span class="inquiry-Wait_Icon-negative c-Icon_Product-negative-2"></span><span>大変混雑しています</span></dd></dl>
      </div>
    </div>
  </div>
</div>
