<% const pagetitle = "Aterm MR05LN RW" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: pagetitle,
    keywords: pagetitle,
    noindex: false,
    pathname: filepath
  });
%>
<% const directory = "aterm-mr05ln" -%>

<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/router/detail/router-detail.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <li><a href="<%= sitepath %>product/">製品</a><span class="c-Icon_Chevron-right"></span></li>
    <li><a href="<%= sitepath %>product/router/">ルーター</a><span class="c-Icon_Chevron-right"></span></li>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="router-detail-Layout">
  <div class="router-detail-Layout_Hero">
    <div class="l-System_Container">
      <section class="router-detail-Hero">
        <div class="router-detail-Hero_Data">
          <div>
            <h1 class="co-Heading_Lv1 router-detail-Hero_Name"><img src="<%= sitepath %>assets/img/router/<%= directory %>/logo.svg" alt="<%= pagetitle %>"></h1>
            <p class="router-detail-Hero_Maker">NEC</p>
            <p class="router-detail-Hero_Copy">デュアルSIMモバイルルーター</p>
          </div>
        </div>
        <div class="router-detail-Hero_Main">
          <ul class="router-detail-Hero_Main-device c-Carousel js-main1 js-device" aria-hidden="false">
            <li><img data-lazy="<%= sitepath %>assets/img/router/<%= directory %>/pht-device-00.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/router/<%= directory %>/pht-device-01.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/router/<%= directory %>/pht-device-02.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/router/<%= directory %>/pht-device-03.png" alt=""></li>
          </ul>

          <ul class="router-detail-Hero_Main-color">
            <li class="js-color js-color1" aria-current="true"><span style="background:#FFFFFF"></span></li>
          </ul>

          <ul class="router-detail-Hero_Main-thumbnail c-Carousel js-thumbnail1 js-device" aria-hidden="false">
            <li><img data-lazy="<%= sitepath %>assets/img/router/<%= directory %>/pht-device-00.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/router/<%= directory %>/pht-device-01.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/router/<%= directory %>/pht-device-02.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/router/<%= directory %>/pht-device-03.png" alt=""></li>
          </ul>
        </div>
      </section>
    </div>
  </div>

  <div class="router-detail-Layout_Main">
    <div class="l-System_Container">

      <div class="c-Tab js-Tab router-detail-Price_Tab">
        <ul class="c-Tab_Items" role="tablist">
          <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">新規購入</li>
          <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">機種変更</li>
        </ul>
        <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
          <div class="router-detail-Price">
            <p class="c-Txt_Cap u-Adjust_Align-right">※表記の金額はすべて税別です。</p>
            <div class="router-detail-Price_Info"><span>分割手数料0円！48回払いも可能！</span></div>
            <ul class="router-detail-Price_List">
              <li>
                <div class="router-detail-Price_List-item">
                  <div>
                    <span class="router-detail-Price_Method">48回払い<span>※</span></span>
                  </div>
                  <p class="router-detail-Price_Pay">
                    <img src="<%= sitepath %>assets/img/common/icon-sale.png" width="48" alt="SALE">
                    <span class="c-Txt_Alphanumeric-l">2,024</span><span class="c-Txt_Normal-ss">円/月</span>
                  </p>
                </div>
              </li>
              <li>
                <div class="router-detail-Price_List-item">
                  <span class="router-detail-Price_Method">24回払い<span>※</span></span>
                  <p class="router-detail-Price_Pay">
                    <img src="<%= sitepath %>assets/img/common/icon-sale.png" width="48" alt="SALE">
                    <span class="c-Txt_Alphanumeric-l">4,048</span><span class="c-Txt_Normal-ss">円/月</span>
                  </p>
                </div>
              </li>
              <li>
                <div class="router-detail-Price_List-item">
                  <span class="router-detail-Price_Method">一括払い</span>
                  <p class="router-detail-Price_Pay">
                    <img src="<%= sitepath %>assets/img/common/icon-sale.png" width="48" alt="SALE">
                    <span class="c-Txt_Alphanumeric-m">89,980</span><span class="c-Txt_Normal-ss">円</span>
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
          <div class="router-detail-Price">
            <p class="c-Txt_Cap u-Adjust_Align-right">※表記の金額はすべて税別です。</p>
            <div class="router-detail-Price_Info"><span>分割手数料0円！48回払いも可能！</span></div>
            <ul class="router-detail-Price_List">
              <li>
                <div class="router-detail-Price_List-item">
                  <div>
                    <span class="router-detail-Price_Method">48回払い<span>※</span></span>
                  </div>
                  <p class="router-detail-Price_Pay">
                    <img src="<%= sitepath %>assets/img/common/icon-sale.png" width="48" alt="SALE">
                    <span class="c-Txt_Alphanumeric-l">2,024</span><span class="c-Txt_Normal-ss">円/月</span>
                  </p>
                </div>
              </li>
              <li>
                <div class="router-detail-Price_List-item">
                  <span class="router-detail-Price_Method">24回払い<span>※</span></span>
                  <p class="router-detail-Price_Pay">
                    <img src="<%= sitepath %>assets/img/common/icon-sale.png" width="48" alt="SALE">
                    <span class="c-Txt_Alphanumeric-l">4,048</span><span class="c-Txt_Normal-ss">円/月</span>
                  </p>
                </div>
              </li>
              <li>
                <div class="router-detail-Price_List-item">
                  <span class="router-detail-Price_Method">一括払い</span>
                  <p class="router-detail-Price_Pay">
                    <img src="<%= sitepath %>assets/img/common/icon-sale.png" width="48" alt="SALE">
                    <span class="c-Txt_Alphanumeric-m">89,980</span><span class="c-Txt_Normal-ss">円</span>
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <ul class="c-List_Cap u-Adjust_Mt-24">
          <li><span>※</span>分割払いのお支払い総額は、製品の税込価格から楽天ポイントによるお支払い額を差し引きお支払い回数で分割した金額となります。正式なご請求金額はmy 楽天モバイルでご確認ください。</li>
          <li><span>※</span>楽天カード以外のクレジットカードで24回払い・48回払いを選択した場合、分割手数料が発生します。</li>
        </ul>
      </div>

      <section id="feature" class="router-detail-Layout_Section u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2-rich">特長</h2>

        <section class="router-detail-Feature u-Adjust_Mt-64" id="feature1">
          <figure class="router-detail-Feature_Img"><img src="<%= sitepath %>assets/img/router/<%= directory %>/main-image-01.png" alt=""></figure>
          <h3 class="c-Heading_Lv3">大容量バッテリーで、約14間通信</h3>
          <p class="router-detail-Feature_Txt">約2,500mAhのバッテリー容量で連続通信時間（Wi-Fi）約14時間を実現しました。長時間の外出時の利用でも安心です。</p>
          <ul class="c-List_Cap u-Adjust_Mt-16">
            <li><span>※</span>連続通信時間（Wi-Fi）は使用状況や使用環境により異なります。</li>
          </ul>
        </section>
        <section class="router-detail-Feature" id="feature2">
        <figure class="router-detail-Feature_Img"><img src="<%= sitepath %>assets/img/router/<%= directory %>/main-image-02.png" alt=""></figure>
          <h3 class="c-Heading_Lv3">デュアルSIMでライフスタイルに合わせたSIMの使い分けができる</h3>
          <p class="router-detail-Feature_Txt">通信量／時間を判別して自動でSIMの切り替えを行い、ユーザーの行動をサポートします。<br>切り替えにかかる時間は約10秒でスムーズな切り替えが可能です。再起動が不要なため、Wi-Fiの切断もなくストレスがありません。</p>
          <ul class="c-List_Cap u-Adjust_Mt-16">
            <li><span>※</span>海外の現地SIMを使っての使用に関しては下記のメーカサイトに記載のとおり、メーカの保証外となります。</li>
          </ul>
          <div>
            <p class="u-Adjust_Mt-16"><a href="https://www.aterm.jp/product/atermstation/topics/lte/lte-service05.html" class="c-Link_Txt-icon" target="_blank">●Aterm MR05LN 接続確認済LTE／3Gサービス事業者リスト<span class="c-Icon_New-window-l"></span></a></p>
          </div>
        </section>
        <section class="router-detail-Feature" id="feature3">
        <figure class="router-detail-Feature_Img"><img src="<%= sitepath %>assets/img/router/<%= directory %>/main-image-03.png" alt=""></figure>
          <h3 class="c-Heading_Lv3">専用クレードルでご自宅での有線接続も可能</h3>
          <p class="router-detail-Feature_Txt">純正アクセサリ―（別売）のAterm MR05LN専用クレードルを使用すると、有線でLAN接続が可能となります。外だけでなく、ホームルーターとしても活躍します。</p>
          <ul class="c-List_Cap u-Adjust_Mt-16">
            <li><span>※</span>ETHERNETポートを使用する場合には、ACアダプタが接続されている必要があります。</li>
            <li><span>※</span>充電池パックを取り付けてご利用ください。充電池パックを取り付けていない状態では動作しません。</li>
            <li><span>※</span>充電池パックの保護のため、高温になったら充電を停止することがあります。</li>
            <li><span>※</span>停電復旧後、電池保護のため充電が再開されない場合があります。その場合は、USB ケーブルの抜き差しを行ってください。充電が再開されます。</li>
            <li><span>※</span>Aterm MR05LN添付品のACアダプタを接続してお使いください。</li>
          </ul>
        </section>
      </section>
    </div>
  </div>

  <div class="router-detail-Layout_Other">
    <div class="l-System_Container">

      <%- include('/include/product/_compensation') %>

      <section class="router-detail-Layout_Section" id="spec">
        <h2 class="c-Heading_Lv2">スペック</h2>
        <dl class="c-List_Dl">
          <div>
            <dt>製品名</dt>
            <dd>
              Aterm MR05LN RW
            </dd>
          </div>
          <div>
            <dt>色</dt>
            <dd>
              ホワイト
            </dd>
          </div>
          <div>
            <dt>サイズ(高さ/幅/厚さ)</dt>
            <dd>
              115 x 63 x 11 (mm)
            </dd>
          </div>
          <div>
            <dt>重量</dt>
            <dd>
              約115g
            </dd>
          </div>
          <div>
            <dt>連続待受時間</dt>
            <dd>
              約500時間
            </dd>
          </div>
          <div>
            <dt>連続通信時間</dt>
            <dd>
              約14時間
            </dd>
          </div>
          <div>
            <dt>バッテリー容量</dt>
            <dd>
              約2,500mAh
            </dd>
          </div>
          <div>
            <dt>テザリング</dt>
            <dd>
              16台
            </dd>
          </div>
          <div>
            <dt>付属品</dt>
            <dd>
              ACアダプター/micro USB Type-Bケーブル/保証書/つなぎ方ガイド/ご利用にあたっての注意事項/らくらくQRスタート用QRコード（シール）
            </dd>
          </div>
        </dl>
      </section>

      <!--
      <section class="router-detail-Layout_Section">
        <h2 class="c-Heading_Lv2">お取り扱いショップ</h2>
          <div>
            <a href="<%= sitepath %>shop" class="c-Panel_Image-rich router-detail-Panel_Shop">
              <div class="c-Panel_Image-ttl">
                <h3><span class="c-Txt_Alphanumeric-l">SHOP</span>店舗情報</h3>
              </div>
              <div class="c-Panel_Image-btn">取り扱いショップ一覧</div>
            </a>
        </div>
      </section>

      <section class="router-detail-Layout_Section">
        <h2 class="c-Heading_Lv2">サービス</h2>
        <div>
          <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>service/07-01-01/" class="c-Link_Txt-icon">つながる端末保証 by 楽天モバイル<span class="c-Icon_Chevron-right"></span></a></p>
          <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>service/07-01-02/" class="c-Link_Txt-icon">マカフィー&reg; モバイル セキュリティ Android版<span class="c-Icon_Chevron-right"></span></a></p>
        </div>
      </section>
      -->

      <section class="router-detail-Layout_Section">
        <h2 class="c-Heading_Lv2">設定・サポート</h2>
        <div>
          <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>" class="c-Link_Txt-icon">初期設定方法を見る<span class="c-Icon_Chevron-right"></span></a></p>
          <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>" class="c-Link_Txt-icon">取扱説明書を見る<span class="c-Icon_Chevron-right"></span></a></p>
          <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>" class="c-Link_Txt-icon">メーカーへのお問い合わせ<span class="c-Icon_Chevron-right"></span></a></p>
        </div>
      </section>

    </div>
  </div>
</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-product.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%#- include('/faq/include/related-product.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <li><a href="<%= sitepath %>product/">製品</a><span class="c-Icon_Chevron-right"></span></li>
      <li><a href="<%= sitepath %>product/router/">ルーター</a><span class="c-Icon_Chevron-right"></span></li>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/product/_category-js') %>
<%- include('/include/_append-body') %>
</body>
</html>


