<% const pagetitle = "プラン料金プラン料金6カ月0円&amp;合計21,200ポイントプレゼントキャンペーン" -%>
<% const namespace = "turbo-campaign-rank-D" -%>
<% const imgDir = `${sitepath}assets/img/internet/turbo/campaign/rank/d/` %>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: 'Rakuten Turboプラン料金6カ月0円&amp;合計21,200ポイントプレゼントキャンペーン実施中。楽天モバイルのホームルーターRakuten Turbo（ラクテン ターボ）は工事不要、コンセントにさすだけですぐに使えるおうちのWiFi。5G対応の高速インターネットがデータ無制限で使い放題。',
    keywords: '',
    noindex: true,
    pathname: filepath,
    isTurbo: true
  });
%>

<link rel="stylesheet" href="https://point.rakuten.co.jp/doc/rank/design-template/1.6.0/index.min.css?20240424">
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/internet/turbo/campaign/rank/d/rank-d.css?20240424">
<%- include('/include/_append-head') %>

</head>
<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/internet/turbo/_prepend-body-internet') %>
  <div class="l-System">
    <%- include('/include/internet/turbo/_header', {
      headerType: 'simple',
      tax: false,
    }) %>

    <div class="dpg-head <%= namespace %>-Kv">
      <div id="rank-ddt"
        class="rank-ddt_diamond"
        data-rank = "diamond"
        data-following-button = "0"
        data-division-icon = ""
        data-division-name_1 = "楽天モバイル"
        data-division-name_2 = "none"
        data-achievement-condition_1 = "【要エントリー】<br class='<%= namespace %>-Utility_Display-sp'><span class='<%= namespace %>-Kv_Icon-wifi'></span>Rakuten Turboお申し込み + <br class='<%= namespace %>-Utility_Display-sp'><span class='<%= namespace %>-Kv_Icon-iphone'></span>楽天モバイルとセットで"
        data-achievement-condition_2 = "none"
        data-achievement-condition_3 = "none"
        data-incentive-type= "1"
        data-incentive-point = "21200"
        data-cta-text_1 = "Rakuten Turbo お申し込み"
        data-cta-url = "<%= sitepath %>internet/turbo/application/"
        data-period = "1"
        data-comment = ""
        data-campaign-required = "1"
        data-campaign-url = "rmobile/turborankd/240412"
        data-campaign-id = "115058">
      </div>
    </div>

    <div id="js-fixed-btn-trigger" class="<%= namespace %>-Hold_Box <%= namespace %>-Utility_Bg-gray">
      <div class="l-System_Container">
        <p class="rank-ddt_period_always body-Contents">常時開催</p>

        <p class="c-Txt_Emp-01 u-Adjust_Align-center u-Adjust_Mt-8">今月のエントリー・お申し込み期間：<br class='<%= namespace %>-Utility_Display-sp'>2024年5月1日(水) 16:00〜<br class='<%= namespace %>-Utility_Display-sp'>2024年6月1日(土)15:59</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-center">
          ※2024年6月1日（水）16:00以降にお申し込みされる場合は、再度本ページから事前にエントリーが必要です。<br>
          次回のエントリー・お申し込み期間：2024年6月1日(土) 16:00〜2024年7月1日(月)15:59<br>
          ※今後特典ポイントが変更になる可能性があります
        </p>
        <p class="u-Adjust_Mt-8 u-Adjust_Align-center">
          <a href="#rule" class="c-Link_Txt-inline js-scroll" data-ratid="rmt_anchor_01" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l c-Link_Icon"></span>適用条件詳細をキャンペーンルールで見る</a>
        </p>
        <p class="c-Txt_Cap u-Adjust_Mt-16">※ Rakuten TurboとRakuten Turbo 5Gの同時契約が必要。製品代金別途41,580円。Rakuten最強プランの利用が必要。キャンペーンへのエントリーが必要。その他条件あり※本キャンペーンにエントリーされた方は、Rakuten Turboに関するお知らせが送付されることに同意したこととみなします。※表記の金額は特に記載のある場合を除きすべて税込※ポイントは進呈日を含めて6カ月間の期間限定ポイント<a href="#caution" class="js-scroll" data-ratid="rmt_anchor_02" data-ratevent="click" data-ratparam="all">その他条件の詳細はこちら</a></p>
      </div>
    </div>

    <div id="conditions" class="u-Adjust_Pt-32 u-Adjust_Pb-56">
      <div class="l-System_Container">
        <h2 class="c-Txt_Normal-ll u-Adjust_Align-center" data-ratid="scroll-01_cpn" data-ratevent="appear">キャンペーンの達成条件</h2>

        <ul class="<%= namespace %>-List_Conditions">
          <li class="<%= namespace %>-List_Conditions-item">
            <p class="c-Txt_Normal-m c-Txt_Emp-01">まずはエントリー</p>
            <p class="c-Txt_Emp-02">本ページのエントリーボタンからのみ、キャンペーン特典適用対象となります。</p>
            <div class="u-Adjust_Mt-16">
              <img src="<%= imgDir %>img-conditions01.svg" alt="" width="304" height="104">
            </div>
          </li>
          <li class="<%= namespace %>-List_Conditions-item">
            <p class="c-Txt_Normal-m c-Txt_Emp-01">Rakuten Turboお申し込み</p>
            <p>お申し込みの翌月末日までに<br class="<%= namespace %>-Utility_Display-pc">利用開始</p>
            <div class="<%= namespace %>-List_Conditions-box">
              <div class="u-Adjust_Align-center">
                <img src="<%= imgDir %>img-conditions02-240501.svg" alt="1,200ポイントもらえる※1" width="224" height="42">
              </div>
              <p class="c-Txt_Normal-s u-Adjust_Align-center">エントリー終了月を含めて<br>4カ月目末日ごろに進呈</p>
            </div>
          </li>
          <li class="<%= namespace %>-List_Conditions-item">
            <p class="c-Txt_Normal-m c-Txt_Emp-01">楽天モバイルとセットで</p>
            <p>Rakuten最強プランご利用中、<br>またはお申し込み＆プラン利用開始</p>
            <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>fee/saikyo-plan/" class="c-Link_Txt-inline" data-lid_no="01" target="_blank" rel="noopener noreferrer">Rakuten最強プラン（料金プラン）の<br>詳細を見る<span class="c-Icon_New-window-l"></span></a></p>
            <div class="<%= namespace %>-List_Conditions-box">
              <div class="u-Adjust_Align-center">
                <img src="<%= imgDir %>img-conditions03.svg" alt="20,000ポイントもらえる※2 " width="262" height="42">
              </div>
              <p class="c-Txt_Normal-s u-Adjust_Align-center">「Rakuten Turbo」の利用が<br>確認された月の翌々月末日ごろに進呈</p>
            </div>
          </li>
        </ul>

        <div class="u-Adjust_Align-center u-Adjust_Mt-16 step-last_arrow">
          <img src="<%= imgDir %>icon-arrow.png" alt="" width="140" height="36">
        </div>

        <div>
          <picture class="<%= namespace %>-Achievement_Media">
            <source media="(max-width:768px)" srcset="<%= imgDir %>img-achievement-sp-240501.svg" width="343" height="220">
            <img src="<%= imgDir %>img-achievement-pc-240501.svg" alt="楽天ポイント 最大21,200ポイントプレゼント!" width="1032" height="100">
          </picture>
        </div>
        <div class="<%= namespace %>-Achievement_Notes u-Adjust_Mt-16">
          <p class="c-Txt_Cap">※1 期間限定ポイントでの進呈 ※2 Rakuten Turboの利用開始月の翌月末日にRakuten最強プランの利用が必要。期間限定ポイントでの進呈 <a href="#caution" class="js-scroll" data-ratid="rmt_anchor_03" data-ratevent="click" data-ratparam="all">その他条件の詳細はこちら</a></p>
        </div>
      </div>
    </div>

    <div class="<%= namespace %>-List_Links-internal <%= namespace %>-Utility_Bg-gray">
      <ul class="<%= namespace %>-List_Links-internal-items">
        <li class="<%= namespace %>-List_Links-internal-item">
          <a href="#about" class="<%= namespace %>-List_Links-internal-link" data-ratid="rmt_anchor_about_01" data-ratevent="click" data-ratparam="all">
            <div class="<%= namespace %>-List_Links-internal-txt">
              <span class="<%= namespace %>-List_Links-internal-icon c-Icon_Arrow-down-l"></span>
              <span class="c-Txt_Normal c-Txt_Emp-01">Rakuten Turboとは？</span>
            </div>
            <img src="<%= imgDir %>icon-about.svg" width="32" height="32" alt="">
          </a>
        </li>
        <li class="<%= namespace %>-List_Links-internal-item">
          <a href="#campaign" class="<%= namespace %>-List_Links-internal-link" data-ratid="rmt_anchor_fee_01" data-ratevent="click" data-ratparam="all">
            <div class="<%= namespace %>-List_Links-internal-txt">
              <span class="<%= namespace %>-List_Links-internal-icon c-Icon_Arrow-down-l"></span>
              <span class="c-Txt_Normal c-Txt_Emp-01">料金プラン</span>
            </div>
            <img src="<%= imgDir %>icon-simulation.svg" width="32" height="32" alt="">
          </a>
        </li>
        <li class="<%= namespace %>-List_Links-internal-item">
          <a href="#flow" class="<%= namespace %>-List_Links-internal-link" data-ratid="rmt_anchor_flow_01" data-ratevent="click" data-ratparam="all">
            <div class="<%= namespace %>-List_Links-internal-txt">
              <span class="<%= namespace %>-List_Links-internal-icon c-Icon_Arrow-down-l"></span>
              <span class="c-Txt_Normal c-Txt_Emp-01">ご利用までの流れ</span>
            </div>
            <img src="<%= imgDir %>icon-flow.svg" width="32" height="32" alt="">
          </a>
        </li>
      </ul>
    </div>

    <div id="menu_target"></div>

    <div class="<%= namespace %>-About" id="about">
      <div class="<%= namespace %>-About_Container">
        <div class="<%= namespace %>-About_Box <%= namespace %>-Utility_Bg-gradiation-about">
          <div class="l-System_Container">
            <h2 class="c-Txt_Normal-ll u-Adjust_Align-center" data-ratid="scroll-01_ksp" data-ratevent="appear">Rakuten Turboとは？</h2>
            <div class="<%= namespace %>-About_Image-top">
              <picture>
                <source media="(max-width:768px)" srcset="<%= imgDir %>img-about-sp.svg" width="279" height="312">
                <img src="<%= imgDir %>img-about-pc.svg" alt="工事不要!すぐに使えるお家Wifi Rakuten Turbo コンセントにさすだけ※１ [5G対応]Rakuten Turbo(ターボ)5G※2" width="639" height="238">
              </picture>
            </div>
            <p class="<%= namespace %>-About_Box-lead u-Adjust_Align-center"><span class="<%= namespace %>-Txt_Br-pc">おうちのWiFi、Rakuten Turbo（ラクテンターボ）は、</span>手軽にインターネット環境が欲しい方にぴったりなホームルーターサービスです。</p>
            <p class="u-Adjust_Mt-8 u-Adjust_Align-center c-Txt_Cap <%= namespace %>_Utility-display-pc">※1 Wi-Fiの接続が必要 ※2 5Gは一部エリアのみ</p>
          </div>

          <div class="<%= namespace %>-About_Media">
            <div class="<%= namespace %>-About_Section">
              <div class="<%= namespace %>-About_Content">
                <h3 class="<%= namespace %>-About_Title">
                  工事不要<br>
                  コンセントにさすだけ
                </h3>
                <p class="<%= namespace %>-About_Txt">
                  <span class="<%= namespace %>-Txt_Emp">時間のかかる工事が不要</span>だから、<br>
                  受け取ったその日から<br>
                  高速インターネットが使えます！
                </p>
              </div>
              <picture class="<%= namespace %>-About_Image">
                <source media="(max-width:768px)" srcset="<%= imgDir %>img-reason01-sp.jpg" width="329" height="129">
                <img src="<%= imgDir %>img-reason01-pc.jpg" alt="" width="580" height="250">
              </picture>
            </div>
            <div class="<%= namespace %>-About_Section">
              <div class="<%= namespace %>-About_Content">
                <h3 class="<%= namespace %>-About_Title">
                  Wi-Fiの設定も<br>
                  ワンステップ
                </h3>
                <p class="<%= namespace %>-About_Txt">
                  <span class="<%= namespace %>-Txt_Emp">QRコードをスマホに読み込むだけ</span>だから、<br>
                  設定もかんたん！
                </p>
              </div>
              <picture class="<%= namespace %>-About_Image">
                <source media="(max-width:768px)" srcset="<%= imgDir %>img-reason02-sp.jpg" width="329" height="129">
                <img src="<%= imgDir %>img-reason02-pc.jpg" alt="" width="580" height="250">
              </picture>
            </div>
            <div class="<%= namespace %>-About_Section">
              <div class="<%= namespace %>-About_Content">
                <h3 class="<%= namespace %>-About_Title">
                  ギガを気にせず<br>
                  ネットを使える
                </h3>
                <div class="<%= namespace %>-About_Txt">
                  <p>
                    <span class="<%= namespace %>-Txt_Emp">データ無制限で使い放題</span><span class="c-Txt_Cap">※</span>だから、<br>
                    料金を気にせずネットを使えます！
                  </p>
                  <p class="<%= namespace %>-About_Caption">※公平なサービス提供のため速度制限の場合あり</p>
                </div>
              </div>
              <picture class="<%= namespace %>-About_Image">
                <source media="(max-width:768px)" srcset="<%= imgDir %>img-reason03-sp.jpg" width="329" height="129">
                <img src="<%= imgDir %>img-reason03-pc.jpg" alt="" width="580" height="250">
              </picture>
            </div>
          </div>
        </div>

        <div class="<%= namespace %>-About_Box-info">
          <picture>
            <source media="(max-width:768px)" srcset="<%= imgDir %>img-info-sp.jpg" width="375" height="610">
            <img src="<%= imgDir %>img-info-pc.jpg" alt="Rakuten Turbo 5Gは5G Sub6、Wi-Fi6対応のホームルーターです。家中の機器で快適にインターネットが利用できます。※5Gは一部エリアのみ" width="1032" height="354">
          </picture>
        </div>
        <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><a href="<%= sitepath %>internet/turbo/product/" class="c-Link_Txt-inline" target="_blank" rel="noopener noreferrer">製品を見る<span class="c-Icon_New-window-l"></span></a></p>
      </div>
    </div>

    <div class="u-Adjust_Pt-56 u-Adjust_Pb-56">
      <div class="l-System_Container">
        <div class="u-Adjust_Align-center">
          <img src="<%= imgDir %>icon-price.svg" alt="" width="40" height="40">
        </div>
        <h2 id="campaign" class="c-Heading_Lv2 u-Adjust_Align-center" data-ratid="scroll-02_fee" data-ratevent="appear">Rakuten Turboの<br class="u-Show_Oox">月額プラン料金</h2>

        <div class="u-Adjust_Align-center u-Adjust_Mt-32 u-Adjust_Mt-pc-40">
          <picture>
            <source media="(max-width:768px)" srcset="<%= imgDir %>img-plan01-sp-240221.png" width="343" height="249">
            <img src="<%= imgDir %>img-plan01-pc-240221.png" alt="" width="600" height="232">
          </picture>
          <p class="c-Txt_Cap u-Adjust_Mt-16">※製品代金 別途41,580円</p>
          <div class="u-Adjust_Mt-24">
            <div class="c-Accordion">
              <button id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5" data-ratid="rmt_accordion_01" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>各種料金</button>
              <div id="accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-5" aria-hidden="true">
                <div>
                  <h3 class="c-Heading_Lv3 u-Adjust_Mt-40 u-Adjust_Align-left">各種料金</h3>
                  <div class="c-Table u-Adjust_Mt-24">
                    <table class="c-Table_Container">
                      <tr>
                        <th>プラン料金</th>
                        <td>4,400円／月（税込4,840円）<br class="<%= namespace %>_Utility-display-sp"><span class="<%= namespace %>_Utility-inline-block c-Txt_Cap">※契約初月と解約月は日割り計算でのご請求となります。</span></td>
                      </tr>
                      <tr>
                        <th>ユニバーサルサービス料</th>
                        <td>2円／月</td>
                      </tr>
                      <tr>
                        <th>電話リレーサービス料</th>
                        <td>2024年4月ご利用分～2025年3月ご利用分1.1円／月</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="u-Adjust_Mt-56">
                  <h3 class="c-Heading_Lv3 u-Adjust_Align-left">Rakuten Turbo 5G製品代金</h3>
                  <div class="c-Table u-Adjust_Mt-24">
                    <table class="c-Table_Container">
                      <tr>
                        <th>一括払い</th>
                        <td>41,580円</td>
                      </tr>
                      <tr>
                        <th>48回払い</th>
                        <td>866円×48回 <span class="c-Txt_Cap">※1</span></td>
                      </tr>
                      <tr>
                        <th>24回払い</th>
                        <td>1,732円×24回 <span class="c-Txt_Cap">※2</span></td>
                      </tr>
                    </table>
                    <p class="c-Txt_Cap u-Adjust_Mt-16 u-Adjust_Align-left">※1 初回請求は878円　※2 初回請求は1,744円</p>
                  </div>
                </div>
                <div class="u-Adjust_Mt-56">
                  <h3 class="c-Heading_Lv3 u-Adjust_Align-left">各種手数料</h3>
                  <div class="c-Table u-Adjust_Mt-24">
                    <table class="c-Table_Container">
                      <tr>
                        <th>契約事務手数料</th>
                        <td>3,300円&nbsp;<br class='<%= namespace %>-Utility_Display-sp'><span class="c-Txt_Cap">※プラン料金の課金開始日より前にご解約した場合、ご解約から2カ月以内を目安に請求いたします</span></td>
                      </tr>
                      <tr>
                        <th>SIMカード交換手数料</th>
                        <td>3,300円</td>
                      </tr>
                      <tr>
                        <th>送料</th>
                        <td>0円</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="u-Adjust_Mt-56">
                  <h3 class="c-Heading_Lv3 u-Adjust_Align-left">その他手数料</h3>
                  <p class="u-Adjust_Mt-24 u-Adjust_Align-left">お支払い方法により、発生する費用が異なります。<br>楽天モバイルのご利用料金はクレジットカードまたは口座振替のお支払いが登録可能です。</p>
                  <div class="c-Table u-Adjust_Mt-16">
                    <table class="c-Table_Container">
                      <tr>
                        <th>クレジットカード手数料</th>
                        <td>0円</td>
                      </tr>
                      <tr>
                        <th>口座振替手数料</th>
                        <td>110円／月</td>
                      </tr>
                      <tr>
                        <th>書類郵送サービス手数料</th>
                        <td>
                          330円
                          <ul class="u-Adjust_Mt-8">
                            <li class="c-Txt_Cap">※利用明細、支払い証明書、購入証明書などの発行、郵送が対象となります。</li>
                            <li class="c-Txt_Cap">※上記明細・証明書等１種類（1 ヶ月分もしくは１購入分）あたり、または１通あたりにつき 330 円（税込）が月額料金に加算されます。</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <th>請求書発行手数料</th>
                        <td>220円 <br class="<%= namespace %>_Utility-display-sp"><span class="c-Txt_Cap <%= namespace %>_Utility-inline-block">※「サービス停止・契約解除通告」のみ発生します。未払い月ごとに加算されます。</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="u-Adjust_Mt-56">
                  <h3 class="c-Heading_Lv3 u-Adjust_Align-left">代金引換手数料</h3>
                  <div class="c-Table u-Adjust_Mt-24">
                    <table class="c-Table_Container <%= namespace %>_Utility-table-layout-fixed">
                      <thead>
                        <tr>
                          <th scope="col">商品合計額</th>
                          <th scope="col">手数料</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>～9,999円</td>
                          <td>330円</td>
                        </tr>
                        <tr>
                          <td>～29,999円</td>
                          <td>440円</td>
                        </tr>
                        <tr>
                          <td>～99,999円</td>
                          <td>660円</td>
                        </tr>
                        <tr>
                          <td>～300,000円</td>
                          <td>1,100円</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <p class="c-Txt_Cap u-Adjust_Mt-16 u-Adjust_Align-left">※商品合計額は、製品購入費＋アクセサリー購入費＋送料の税込合計額です。商品合計額によって代金引換手数料が変わります。<br>※商品合計額が300,001円以上のものは代金引換のご利用はできません。</p>
                </div>
                <div class="u-Adjust_Mt-56">
                  <h3 class="c-Heading_Lv3 u-Adjust_Align-left">コンビニ支払い手数料</h3>
                  <div class="c-Table u-Adjust_Mt-24">
                    <div class="<%= namespace %>_Utility-display-pc">
                      <table class="c-Table_Container <%= namespace %>_Utility-table-layout-fixed">
                        <colgroup>
                          <col>
                          <col span="3">
                        </colgroup>
                        <thead>
                          <tr>
                            <th scope="col">ご請求金額</th>
                            <th scope="col">セブン-イレブン</th>
                            <th scope="col" class="c-Txt_Normal-s">ローソン、ファミリーマート、セイコーマート（北海道・関東のみ）、デイリーヤマザキ、ミニストップ 他 <span class="c-Txt_Cap c-Txt_Weight-normal">※1</span></th>
                            <th scope="col" class="c-Txt_Normal-s">ポプラ、生活彩家、くらしハウス、スリーエイト、マルチメディアキオスク（MMK）</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>～10,000円未満</td>
                            <td>110円</td>
                            <td>110円</td>
                            <td>66円</td>
                          </tr>
                          <tr>
                            <td>～50,000円未満</td>
                            <td>220円</td>
                            <td>220円</td>
                            <td>110円</td>
                          </tr>
                          <tr>
                            <td>50,000円以上</td>
                            <td>440円</td>
                            <td>550円</td>
                            <td>330円</td>
                          </tr>
                        </tbody>
                      </table>
                      <p class="c-Txt_Cap u-Adjust_Mt-16 u-Adjust_Align-left">※1 その他対象：ヤマザキデイリーストア、ニューヤマザキデイリーストア、ヤマザキスペシャルパートナーシップ、ハマナスクラブ（北海道のみ）</p>
                    </div>
                  </div>
                </div>
                <div class="u-Adjust_Mt-56">
                  <h3 class="c-Heading_Lv3 u-Adjust_Align-left">電子決済サービス支払い手数料</h3>
                  <p class="c-Txt_Cap u-Adjust_Mt-16 u-Adjust_Align-left">手数料等の電子決済サービス詳細については、リンクより各電子決済サービスの提供事業者のWebサイトをご確認ください。</p>

                  <ul class="c-List_Text-disc">
                    <li class="u-Adjust_Mt-16 u-Adjust_Align-left">ファミペイ請求書支払い
                      <div class="u-Adjust_Ml-16 u-Adjust_Mt-8">
                        <p class="c-Txt_Cap">※お支払い金額が50,000円（税込）未満のみご利用可能です。</p>
                        <p><a href="https://qa.family.co.jp/famipay/s/article/000003962" target="_blank" class="c-Link_Txt-inline" data-ratid="rmt_qa.family.co.jp_01" data-ratevent="click" data-ratparam="all">手数料<span class="c-Icon_New-window-l"></span></a></p>
                      </div>
                    </li>
                    <li class="u-Adjust_Mt-16 u-Adjust_Align-left">楽天銀行コンビニ支払サービス（アプリで払込票支払）
                      <div class="u-Adjust_Ml-16 u-Adjust_Mt-8">
                        <p><a href="https://www.rakuten-bank.co.jp/transfer/cvs-payment/" target="_blank" class="c-Link_Txt-inline" data-ratid="rmt_www.rakuten-bank.co.jp_01" data-ratevent="click" data-ratparam="all">手数料<span class="c-Icon_New-window-l"></span></a></p>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="u-Adjust_Mt-56">
                  <h3 class="c-Heading_Lv3 u-Adjust_Align-left">その他</h3>
                  <p class="u-Adjust_Mt-24 u-Adjust_Align-left">Rakuten Turbo 5G（メーカー保証交換）</p>
                  <div class="c-Table u-Adjust_Mt-16">
                    <table class="c-Table_Container">
                      <tr>
                        <th>Rakuten Turbo 5G（付属品付き）</th>
                        <td>0円</td>
                      </tr>
                    </table>
                  </div>
                  <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-left">※メーカー保証は初期不良、自然故障が対象です。不注意による故障等の際は33,000円をご請求いたします。<br>※故障機はご返却が必要です。お手続きの際にご返却先や返却方法をご確認ください。</p>
                  <p class="u-Adjust_Mt-40 u-Adjust_Align-left">Rakuten Turbo 5G（再購入時の製品代金）</p>
                  <div class="c-Table u-Adjust_Mt-16">
                    <table class="c-Table_Container">
                      <tr>
                        <th>Rakuten Turbo 5G（付属品付き）</th>
                        <td>33,000円</td>
                      </tr>
                      <tr>
                        <th>ACアダプター単品</th>
                        <td>4,180円</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="u-Adjust_Mt-40 u-Adjust_Align-left">
                  <p>この料金表は、楽天モバイル株式会社が「Rakuten Turbo契約約款」に基づき提供するデータ通信サービス（Rakuten Turbo）をご利用になるお客様に適用するものです。</p>
                  <p class="u-Adjust_Mt-8">表記の金額は特に記載のある場合をのぞきすべて税込です。この料金表において、支払いを要するものとされている額は、税別額に消費税を加算した額とします。</p>
                  <p class="u-Adjust_Mt-8">課金開始日は、本サービスの提供を開始した日、もしくは製品の着荷日<span class="c-Txt_Cap">※</span>（または店舗で受け取った日）のいずれか早い日を1日目として、9日目です。</p>
                  <p class="u-Adjust_Mt-8 c-Txt_Cap">※着荷日とは当社に配送完了データが通知された日</p>
                  <p class="u-Adjust_Mt-8">サービスの変更・追加、キャンペーンの開始または終了等により本ページの記載を予告なく変更する場合があります。楽天ポイントの進呈対象はプラン料金のみです。</p>
                </div>
              </div>
            </div>
          </div>

          <div class="<%= namespace %>-About_Borderbox u-Adjust_Mt-16">
            <p class="u-Adjust_Align-center">
              <span class="c-Txt_Emp-01">8日間は返品・返金できるから安心</span>
              <span class="<%= namespace %>-Txt_Br-sp c-Txt_Cap">※条件あり</span>
            </p>
            <div class="u-Adjust_Align-center">
              <a href="#modal1" data-ratid="rmt_modal_01" data-ratevent="click" data-ratparam="all" class="js-Modal c-Link_Txt-inline">詳しく見る<span class="c-Icon_Zoom-in-l"></span></a>
              <div id="modal1" style="display:none;">
                <div class="<%= namespace %>_Modal">
                  <h3 class="c-Heading_Lv3">返品・返金の流れ</h3>
                  <p class="u-Adjust_Mt-16">製品の開封後でも、ご満足いただけない場合は3ステップで返品・返金が可能です。</p>
                  <div class="c-Accordion-emp u-Adjust_Mt-24">
                    <button type="button" id="accordion-emp-1" class="c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-emp-1-content">
                      <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
                      <span class="c-Accordion-emp_Num">STEP 1</span><span class="c-Accordion-emp_Trigger-txt">製品到着から8日以内にご申告</span>
                    </button>
                    <div id="accordion-emp-1-content" class="c-Accordion-emp_Panel-step js-Accordion_Panel" role="region" aria-labelledby="accordion-emp-1" aria-hidden="false">
                      <p>リンク先ページ下部の「解決できない場合はお問い合わせ」ボタンを押下後に表示される、「お問い合わせ窓口に相談する」よりご連絡ください。</p>
                      <p class="u-Adjust_Mt-16">
                        <a href="https://portal.mobile.rakuten.co.jp/support#main" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">返品・返金の問い合せをする<span class="c-Icon_New-window-l"></span></a>
                      </p>
                    </div>
                  </div>
                  <div class="c-Accordion-emp u-Adjust_Mt-8">
                    <button type="button" id="accordion-emp-2" class="c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-emp-2-content">
                      <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
                      <span class="c-Accordion-emp_Num">STEP 2</span><span class="c-Accordion-emp_Trigger-txt">製品・付属品のご返送</span>
                    </button>
                    <div id="accordion-emp-2-content" class="c-Accordion-emp_Panel-step js-Accordion_Panel" role="region" aria-labelledby="accordion-emp-2" aria-hidden="true">
                      <p>製品・付属品を元払いにて当社へ返送してください。<br>返送先はSTEP1の連絡時にご案内します。</p>
                      <p class="c-Txt_Normal-s c-Txt_Emp-01 u-Adjust_Mt-16">※返送に関する注意事項</p>
                      <div class="u-Adjust_Mt-8">
                        <ul class="<%= namespace %>_Modal-list">
                          <li>返送に必要なダンボール箱などはお客様でご用意ください。</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="c-Accordion-emp u-Adjust_Mt-8">
                    <button type="button" id="accordion-emp-3" class="c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-emp-3-content">
                      <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
                      <span class="c-Accordion-emp_Num">STEP 3</span><span class="c-Accordion-emp_Trigger-txt">製品確認および返金</span>
                    </button>
                    <div id="accordion-emp-3-content" class="c-Accordion-emp_Panel-step js-Accordion_Panel" role="region" aria-labelledby="accordion-emp-3" aria-hidden="true">
                      <p>当社で製品・付属品を確認後、翌々月末までに当社指定の方法で返金します。</p>
                      <p class="c-Txt_Normal-s c-Txt_Emp-01 u-Adjust_Mt-16">※返品・返金に関する注意事項</p>
                      <p class="c-Txt_Normal-s u-Adjust_Mt-8">以下の場合は返品・返金の対象外となります</p>
                      <div class="u-Adjust_Mt-8">
                        <ul class="<%= namespace %>_Modal-list">
                          <li>製品到着から9日以降のご申告</li>
                          <li>本体・付属品に破損・欠損がある</li>
                          <li>製品到着から30日以内に、返送された製品が当社に到着しない</li>
                          <li>指定の宛先以外への返送</li>
                          <li>着払い等での返送</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="u-Adjust_Mt-24">
                    <h4 class="c-Heading_Lv4">注意事項</h4>
                    <div class="u-Adjust_Mt-8">
                      <ul class="c-List_Text-disc">
                        <li class="c-Txt_Normal-s">返品・返金の際に、通信速度を確認させていただく場合があります。詳しくは「<a href="<%= sitepath %>faq/detail/10000658/" target="_blank" rel="noopener noreferrer">返品・返金できますか？ > 通信速度の測定について<span class="c-Icon_New-window-l"></span></a>」をご覧ください。</li>
                        <li class="c-Txt_Normal-s u-Adjust_Mt-8">契約事務手数料は返金対象外です。プラン料金の課金開始日前に解約した場合、解約から2カ月以内を目安に請求いたします。</li>
                        <li class="c-Txt_Normal-s u-Adjust_Mt-8">料金プランは別途、解約の手続きが必要です。ご希望の場合は「<a href="<%= sitepath %>internet/turbo/support/contract/cancel/" target="_blank" rel="noopener noreferrer">ご解約について<span class="c-Icon_New-window-l"></span></a>」をご覧ください。</li>
                        <li class="c-Txt_Normal-s u-Adjust_Mt-8">製品到着の前にお申し込みをキャンセルしたい場合は「<a href="<%= sitepath %>faq/detail/00001971/" target="_blank" rel="noopener noreferrer">お申し込みをキャンセルしたい<span class="c-Icon_New-window-l"></span></a>」をご覧ください。</li>
                        <li class="c-Txt_Normal-s u-Adjust_Mt-8">初期契約解除をご希望の場合は「<a href="<%= sitepath %>internet/turbo/support/contract/initial-contract/" target="_blank" rel="noopener noreferrer">初期契約解除について<span class="c-Icon_New-window-l"></span></a>」をご覧ください。</li>
                        <li class="c-Txt_Normal-s u-Adjust_Mt-8">返品条件は事前予告のうえ変更する場合があります。</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="<%= namespace %>-Plan_List-image u-Adjust_Mt-40">
          <div>
            <img src="<%= imgDir %>icon-r-point.svg" alt="R POINT" width="78" height="78">
          </div>
          <div>
            <picture data-ratid="scroll-03_flow" data-ratevent="appear">
              <source media="(max-width:768px)" srcset="<%= imgDir %>img-plan02-sp-231201.png" width="338" height="135">
              <img src="<%= imgDir %>img-plan02-pc-231201.png" alt="さらに楽天モバイルとセットで使えば楽天市場のお買い物がポイントUP! 毎日全員7倍!!※" width="604" height="111">
            </picture>
          </div>
        </div>

        <div class="<%= namespace %>-Plan_Borderbox u-Adjust_Mt-16">
          <p class="c-Txt_Normal-m c-Txt_Emp-01 u-Adjust_Align-center">楽天市場のお買い物で獲得できるポイントの内訳</p>
          <ul class="<%= namespace %>-Plan_List-box">
            <li>
              <picture>
                <source media="(max-width:767px)" srcset="<%= imgDir %>img-plan03-sp-231201.png" width="311" height="103">
                <img src="<%= imgDir %>img-plan03-pc-231201.png" alt="Rakuten Turbo R SPU +2倍" width="464" height="76">
              </picture>
            </li>
            <li>
              <picture>
                <source media="(max-width:767px)" srcset="<%= imgDir %>img-plan04-sp-231201.png" width="311" height="78">
                <img src="<%= imgDir %>img-plan04-pc-231201.png" alt="楽天モバイル R SPU +4倍※" width="464" height="76">
              </picture>
            </li>
          </ul>
        </div>

        <p class="<%= namespace %>-Plan_Notes c-Txt_Cap u-Adjust_Mt-8">※楽天会員1倍、Rakuten Turboまたは楽天ひかりご契約中＋2倍 、楽天モバイルご利用でポイント＋4倍（スーパーホーダイ、組み合わせプラン、コミコミプランはSPUの対象外）※楽天ひかりはプロバイダーとして楽天ブロードバンドのみ契約されている場合は特典対象外。※毎月の獲得上限ポイントはRakuten Turboまたは楽天ひかりが1,000ポイント、楽天モバイルが2,000ポイント。いずれも期間限定ポイントでの進呈 ※ポイント未利用時の倍率</p>
        <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><a href="<%= sitepath %>internet/turbo/campaign/spu/" class="c-Link_Txt-inline" target="_blank" rel="noopener noreferrer">SPUの詳細はこちら<span class="c-Icon_New-window-l"></span></a></p>
      </div>
    </div>

    <div class="l-System_Container">
      <h2 id="flow" class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-40">Rakuten Turboご利用までの流れ</h2>
      <div class="<%= namespace %>_Layout-step u-Adjust_Mt-24">
        <div class="c-Accordion">
          <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-1" data-ratid="rmt_accordion_flow_01" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP1　</span>対応エリアの確認</button>
          <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1"
            aria-hidden="true">
            <div class="l-Media_Grid <%= namespace %>-Flow_List-inner">
              <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                <img src="<%= imgDir %>img-flow01.svg" alt="" width="312" height="138">
              </div>
              <div>
                <p>お申し込み前に必ず、ホームルーターをご利用する場所がRakuten Turboサービス対応エリアかご確認ください。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※高層階（およそ16階以上）ではない場所に設置してください</p>
                <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>internet/turbo/area/map.html" class="c-Link_Txt-inline" target="_blank" rel="noopener" data-lid_no="01">Rakuten Turboの対応エリアを見る<span class="c-Icon_New-window-l"></span></a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="c-Accordion u-Adjust_Mt-16">
          <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2" data-ratid="rmt_accordion_flow_02" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP2　</span>通信環境の確認</button>
          <div id="accordion-content-2" class="<%= namespace %>_Layout-step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region"
            aria-labelledby="accordion-2" aria-hidden="true">
            <div class="l-Media_Grid <%= namespace %>-Flow_List-inner">
              <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                <img src="<%= imgDir %>img-flow02.svg" alt="" width="312" height="138">
              </div>
              <div>
                <p>設置先が推奨環境であることを確認してください。</p>
                <ul class="c-List_Text-disc u-Adjust_Mt-16">
                  <li class="c-Txt_Emp-01">窓際など、電波を受け取りやすい場所に設置できること</li>
                  <li class="c-Txt_Emp-01 u-Adjust_Mt-8">Wi-Fiの電波と干渉する機器（電子レンジ、テレビなど）から離して設置できること</li>
                  <li class="c-Txt_Emp-01 u-Adjust_Mt-8">高層階（およそ16階以上）ではない場所に設置できること</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="c-Accordion u-Adjust_Mt-16">
          <button type="button" id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3" data-ratid="rmt_accordion_flow_03" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP3　</span>本ページからエントリー後、キャンペーンにお申し込み</button>
          <div id="accordion-content-3" class="<%= namespace %>_Layout-step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
            <div class="l-Media_Grid <%= namespace %>-Flow_List-inner">
              <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                <img src="<%= imgDir %>img-flow03.svg" alt="" width="304" height="136">
              </div>
              <div>
                <p class="c-Txt_Emp-01">エントリー期間中に、本ページからエントリー後「お申し込み」ボタンから<br>Rakuten Turboをお申し込みください。</p>
                <p class="u-Adjust_Mt-8">お申し込み完了後にご登録のメールアドレス宛に完了メールをお送りします。</p>
                <p class="c-Txt_Emp-02 u-Adjust_Mt-16">本ページのエントリーボタンからのみ、キャンペーン特典適用対象となります。</p>
                <p class="u-Adjust_Mt-8">
                  <a href="https://oubo.rakuten.co.jp/apply/rmobile/turborankd/240412" class="c-Btn_Primary-large <%= namespace %>-Flow_List-btn" data-lid_no="01">まずはエントリー</a>
                  <a href="<%= sitepath %>internet/turbo/application/" class="c-Btn_Primary-large <%= namespace %>-Flow_List-btn-alreadyEntry" data-lid_no="01">Rakuten Turbo お申し込み</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="c-Accordion u-Adjust_Mt-16">
          <button type="button" id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4" data-ratid="rmt_accordion_flow_04" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP4　</span>製品「Rakuten Turbo 5G」を受け取り、ご利用開始</button>
          <div id="accordion-content-4" class="<%= namespace %>_Layout-step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
            <div class="l-Media_Grid <%= namespace %>-Flow_List-inner">
              <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                <img src="<%= imgDir %>img-flow04.svg" alt="" width="309" height="135">
              </div>
              <div>
                <p>本人確認完了後、製品をご指定の住所へお届けします。<br>製品をコンセントにさして、スマホでQRをタップするだけでご利用いただけます。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※製品がお手元に届いてから9日目以内に利用開始が必要　<a href="#caution" data-ratid="rmt_anchor_05" data-ratevent="click" data-ratparam="all" class="js-scroll">その他条件の詳細はこちら</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="u-Adjust_Align-center u-Adjust_Mt-16 step-last_arrow">
        <img src="<%= imgDir %>icon-arrow.png" alt="" width="140" height="36">
      </div>

      <div class="step-last">
        <ul class="<%= namespace %>-Flow_List">
          <li class="<%= namespace %>-Flow_List-Single_Arrow">
            <p class="u-Adjust_Align-center">
              <img src="<%= imgDir %>img-flow05-240501.svg" alt="1,200ポイントプレゼント!" width="300" height="38">
            </p>
            <p class="u-Adjust_Mt-8 u-Adjust_Align-center">お申し込みの翌月末日までに利用開始</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-center">※エントリー終了月を含めて4カ月目末日ごろに進呈</p>
          </li>
          <li class="<%= namespace %>-Flow_List-Single_Arrow">
            <p class="c-Txt_Emp-01 u-Adjust_Align-center">楽天モバイルとセットで</p>
            <p class="u-Adjust_Align-center u-Adjust_Mt-16">
              <img src="<%= imgDir %>img-flow06.svg" alt="20,000ポイントプレゼント!" width="334" height="37">
            </p>
            <p class="u-Adjust_Mt-8 u-Adjust_Align-center">Rakuten最強プランご利用中、またはお申し込み＆プラン利用開始</p>
            <p class="u-Adjust_Mt-8 u-Adjust_Align-center"><a href="<%= sitepath %>fee/saikyo-plan/" class="c-Link_Txt-inline" data-lid_no="02" target="_blank" rel="noopener noreferrer">Rakuten最強プラン（料金プラン）の詳細を見る<span class="c-Icon_New-window-l"></span></a></p>
            <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-center">※「Rakuten Turbo」の利用が確認された月の翌々月末日ごろに進呈</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="u-Adjust_Align-center u-Adjust_Mt-16 step-last_arrow">
      <img src="<%= imgDir %>icon-arrow.png" alt="" width="140" height="36">
    </div>

    <div class="l-System_Container u-Adjust_Align-center">
      <picture class="<%= namespace %>-Flow_Image" data-ratid="scroll-04_faq" data-ratevent="appear">
        <source media="(max-width:768px)" srcset="<%= imgDir %>img-flow07-sp-240501.svg" width="343" height="103">
        <img src="<%= imgDir %>img-flow07-pc-240501.svg" alt="楽天ポイント 最大21,200ポイントプレゼント!" width="1032" height="88">
      </picture>
    </div>

    <div class="l-System_Container">
      <h2 id="faq" class="c-Heading_Lv2 u-Adjust_Mt-56 u-Adjust_Mb-16 u-Adjust_Align-center">よくあるご質問</h2>
      <div class="u-Adjust_Mt-16 u-Adjust_Mb-40">
        <div class="c-Accordion">
          <button id="accordion-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-6"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>特典進呈月の会員ランクがダイヤモンドではない場合も進呈の対象になりますか</button>
          <div id="accordion-content-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-6" aria-hidden="true">
            <p>対象となります</p>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-7" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-7"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>好きな場所で使えますか？</button>
          <div id="accordion-content-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-7" aria-hidden="true">
            <p>日本国内の楽天回線エリア<sup>※</sup>内であればお使いいただけます。設置先の推奨環境を下記よりご確認ください。</p>
            <div class="u-Adjust_Mt-16">
              <ul class="c-List_Text-disc">
                <li>窓際など、電波を受け取りやすい場所に設置できること</li>
                <li class="u-Adjust_Mt-0">Wi-Fiの電波と干渉する機器（電子レンジ、テレビなど）から離して設置できること</li>
                <li class="u-Adjust_Mt-0">高層階（およそ16階以上）ではない場所に設置できること</li>
              </ul>
            </div>
            <p class="u-Adjust_Mt-16">なお、ご登録いただいている設置先住所のみでご利用いただけます。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※「Rakuten最強プラン」で利用できるサービスエリアとは異なります。<a href="<%= sitepath %>internet/turbo/area/map.html" class="c-Link_Txt-inline" data-lid_no="02" target="_blank" rel="noopener">通信・エリア<span class="c-Icon_New-window-l"></span></a>をご確認ください</p>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-8" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-8"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten最強プランを契約していないが、Rakuten Turboを契約できますか？</button>
          <div id="accordion-content-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-8" aria-hidden="true">
            <p>Rakuten最強プランの契約がなくてもRakuten Turboを契約できます。Rakuten Turboを契約いただくことで、お手持ちの製品をWi-Fi接続し、データ通信をご利用いただけます。</p>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-9" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-9"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>解約した場合、キャンペーンの適用はどうなりますか？</button>
          <div id="accordion-content-9" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-9" aria-hidden="true">
            <p>製品を分割払いで購入した場合は、引き続き残りの金額をお支払いいただく必要がございます。残りのお支払い回数やお支払い金額についてはクレジットカード会社へお問い合わせください。</p>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-10" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-10"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>店頭で製品を受け取ることはできますか？</button>
          <div id="accordion-content-10" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-10" aria-hidden="true">
            <p>Webでお申し込みいただいた場合は、「配送」となります。「店頭受け取り」は選択できません。店舗で購入いただいた場合は、「店頭受け取り」または、「配送」を選択することができます。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※店舗でご購入いただいた場合でも、在庫状況によってお引き渡し方法を選択いただけない場合がございます。</p>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-11" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-11"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>分割払いの回数によって割引金額は変わりますか？</button>
          <div id="accordion-content-11" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-11" aria-hidden="true">
            <p>分割回数によらず割引金額は変わりません。ただし、初月については日割りの金額で割引されます。</p>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-12" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-12"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーンの特典は2回線目以降の申し込みも対象になりますか？</button>
          <div id="accordion-content-12" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-12" aria-hidden="true">
            <p>プラン料金6カ月0円は、2回線目以降も対象になります。20,000ポイントプレゼントの適用回数は、おひとり様1回までとなります。</p>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-13" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-13"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ポイント還元の受け取り時期はいつですか？</button>
          <div id="accordion-content-13" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-13" aria-hidden="true">
            <p>エントリー終了月を含めて4カ月目末日ごろに進呈致します。</p>
          </div>
        </div>
      </div>
    </div>

    <div id="rule" class="u-Adjust_Pt-56 u-Adjust_Pb-56">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Mb-16 u-Adjust_Align-center">【ダイヤモンド会員様限定】<br>Rakuten Turboをお申し込みで1,200ポイントプレゼントキャンペーン</h2>
        <p class="u-Adjust_Mt-16 u-Adjust_Align-center">お申し込みの前にキャンペーンルールを必ず確認してください</p>

        <div class="u-Adjust_Mt-24">
          <div class="c-Accordion">
            <button id="accordion-14" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-14"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーンルールを見る</button>
            <div id="accordion-content-14" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-14" aria-hidden="true">
              <dl class="c-Dl_Origin u-Adjust_Mt-16">
                <div>
                  <dt>キャンペーンコード</dt>
                  <dd>
                    <div>
                      <p>1947</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</p>
                    </div>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン期間</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">エントリー期間</p>
                    <div class="u-Adjust_Ml-16 u-Adjust_Mt-8">
                      <p>常時開催</p>
                      <div class="u-Adjust_Ml-16 u-Adjust_Mt-8">
                        <p>2023年7月2日（日）10:00〜終了日未定</p>
                        <ul class="u-Adjust_Mt-8">
                          <li class="c-Txt_Cap">※本企画は、途中で変更・中止する場合がございます</li>
                          <li class="c-Txt_Cap">※本企画は実施期間を特に定めていない常設企画ですが、ポイント進呈の関係上、エントリー期間を区切って設定しており、毎月1日の16:00に更新されます</li>
                        </ul>
                      </div>
                      <div class="u-Adjust_Ml-16 u-Adjust_Mt-16">
                        <p>プランのお申し込み・製品のご購入期間</p>
                        <div class="u-Adjust_Ml-16 u-Adjust_Mt-8">
                          <p>Web　2023年7月2日（日）10:00〜終了日未定</p>
                        </div>
                      </div>
                      <div class="u-Adjust_Ml-16 u-Adjust_Mt-16">
                        <p>プラン課金開始期限</p>
                        <div class="u-Adjust_Ml-16 u-Adjust_Mt-8">
                          <p>「Rakuten Turbo」と「Rakuten Turbo 5G」のお申し込みの翌月末日23:59まで</p>
                        </div>
                      </div>
                    </div>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン条件</dt>
                  <dd>
                    <div>
                      <p>上記各項目の期間内に①、②、③、④の条件をすべて満たした楽天会員の方</p>
                      <ol class="u-Adjust_Ml-16 u-Adjust_Mt-16">
                        <li>
                          <p>①キャンペーンへのエントリー</p>
                          <p class="u-Adjust_Mt-8">エントリー期間内に本キャンペーンページでエントリー</p>
                          <p class="c-Txt_Cap u-Adjust_Mt-8">※エントリー前のお申し込みはポイント進呈の対象になりません</p>
                        </li>
                        <li class="u-Adjust_Mt-16">
                          <p>②「Rakuten Turbo」と「Rakuten Turbo 5G」をお申し込み</p>
                          <p class="u-Adjust_Mt-8">本ルール内では、Rakuten Turboはプラン名、Rakuten Turbo 5Gは製品名のことを指します</p>
                        </li>
                        <li class="u-Adjust_Mt-16">
                          <p>③「Rakuten Turbo」を期限までに課金開始</p>
                          <p class="u-Adjust_Mt-8">課金開始日は、本サービスの提供を開始した日、もしくは製品の着荷日（または店舗で受け取った日）のいずれか早い日を1日目として、9日目です</p>
                          <p class="c-Txt_Cap u-Adjust_Mt-8">※製品の着荷日とは当社に配送完了データが通知された日のことを指します</p>
                        </li>
                        <li class="u-Adjust_Mt-16">
                          <p>④キャンペーンエントリー時点でダイヤモンドランクの方</p>
                        </li>
                      </ol>
                    </div>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン特典<br>（楽天ポイント）</dt>
                  <dd>
                    <div>
                      <p class="c-Txt_Emp-01">特典内容</p>
                      <p class="u-Adjust_Mt-8">1,200ポイントプレゼント</p>
                    </div>
                    <div class="u-Adjust_Mt-16">
                      <p class="c-Txt_Emp-01">ポイント進呈日</p>
                      <p class="u-Adjust_Mt-8">エントリー終了月を含めて4カ月目末日頃に進呈</p>
                      <ul class="u-Adjust_Mt-8">
                        <li class="c-Txt_Cap">※例）8月1日16:00～9月1日15:59までにエントリーをした方は、エントリー終了月となる9月を含めた4カ月目の12月末日ごろに進呈となります</li>
                        <li class="c-Txt_Cap">※楽天ポイントの進呈は、楽天モバイルより行います</li>
                        <li class="c-Txt_Cap">※権利の譲渡はできません</li>
                      </ul>
                    </div>
                    <div class="u-Adjust_Mt-16">
                      <p class="c-Txt_Emp-01">ポイント有効期間</p>
                      <p class="u-Adjust_Mt-8">ポイント進呈日を含めて6カ月</p>
                      <ul class="u-Adjust_Mt-8">
                        <li class="c-Txt_Cap">※ポイントは期間限定ポイントで進呈いたします</li>
                        <li class="c-Txt_Cap">※期間限定ポイントについて（<a href="https://ichiba.faq.rakuten.net/detail/000006532" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer" data-lid_no="01">https://ichiba.faq.rakuten.net/detail/000006532<span class="c-Icon_New-window-l"></span></a>）</li>
                        <li class="c-Txt_Cap">※有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
                      </ul>
                    </div>
                  </dd>
                </div>
                <div>
                  <dt>特典適用対象外</dt>
                  <dd>
                    <div>
                      <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
                      <ul class="u-Adjust_Mt-8">
                        <li class="c-Txt_Cap">※当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                        <li class="c-Txt_Cap">※本キャンペーンの適用回数が、おひとり様1回を超える場合は対象外となります</li>
                        <li class="c-Txt_Cap">※楽天モバイルオンライン以外で購入した場合</li>
                        <li class="c-Txt_Cap">※期限までに「Rakuten Turbo」の課金が発生しなかった場合</li>
                        <li class="c-Txt_Cap">※ポイント進呈までに楽天会員から退会している場合</li>
                        <li class="c-Txt_Cap">※当社または楽天グループ株式会社が定める規約などに違反した場合</li>
                        <li class="c-Txt_Cap">※そのほか、当社が会員として不適格であると合理的に判断した場合</li>
                      </ul>
                    </div>
                  </dd>
                </div>
                <div>
                  <dt>併用可能キャンペーン</dt>
                  <dd>
                    <div>
                      <p>以下のキャンペーンは併用可能となります。以下記載のキャンペーン以外は併用不可となります</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">Rakuten Turbo 月額プラン料金6カ月間無料キャンペーン(キャンペーンコード：2130)<br>
                        Rakuten Turbo＆楽天モバイルご利用で20,000ポイントプレゼントキャンペーン（キャンペーンコード：1895）<br>
                        Rakuten Turboお申し込みと楽天市場で対象ジャンルの商品購入（1円以上）で20,000ポイント還元​キャンペーン（キャンペーンコード：2038）
                      </p>
                    </div>
                  </dd>
                </div>
                <div>
                  <dt>注意事項</dt>
                  <dd>
                    <div>
                      <ul>
                        <li class="c-Txt_Cap">※本キャンペーンで進呈されるポイント数は、ポイント進呈後、楽天ポイントクラブ上のポイント実績でご確認いただけます</li>
                        <li class="c-Txt_Cap">※会員ランクが変動した場合、こちらのページは表示されなくなる場合があります。あらかじめご了承ください</li>
                        <li class="c-Txt_Cap">※併用不可キャンペーンに複数エントリーし特典進呈対象者となった場合、最もポイント数が高いキャンペーンが適用されます</li>
                        <li class="c-Txt_Cap">※本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                        <li class="c-Txt_Cap">※本キャンペーンの特典進呈対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                        <li class="c-Txt_Cap">※製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
                        <li class="c-Txt_Cap">※本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント進呈の対象外となる場合がございます</li>
                        <li class="c-Txt_Cap">※記載の内容は2024年5月1日（水）時点の情報となります</li>
                      </ul>
                    </div>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>

        <h2 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-64" data-ratevent="appear">Rakuten Turbo＆楽天モバイルご利用で20,000ポイントプレゼントキャンペーン</h2>
        <p class="u-Adjust_Mt-16 u-Adjust_Align-center">お申し込みの前にキャンペーンルールを必ず確認してください</p>
        <div class="u-Adjust_Mt-24">
          <div class="c-Accordion">
            <button id="accordion-15" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-15" data-auto-rat="faqac"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーンルールを見る</button>
            <div id="accordion-content-15" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-15" aria-hidden="true" style="display:none;">
              <%- include('/internet/turbo/include/campaign/_rule-1895') %>
            </div>
          </div>
        </div>

        <p class="u-Adjust_Align-center u-Adjust_Mt-24"><a href="<%= sitepath %>terms/" class="c-Link_Txt-inline">利用規約・重要事項説明書<span class="c-Icon_Chevron-right"></span></a></p>
      </div>
    </div>

    <div class="u-Adjust_Mt-64" id="caution">
      <div class="l-System_Container">
        <h3 class="c-Heading_Lv3">注意事項</h3>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-16">キャンペーンについて</p>
        <div class="u-Adjust_Mt-8">
          <ul>
            <li class="c-Txt_Cap">※ポイントバックの条件は以下の3つ</li>
            <li class="c-Txt_Cap">①Rakuten Turbo 5GとRakuten Turboをキャンペーン期間内に申し込むこと</li>
            <li class="c-Txt_Cap">②Rakuten Turboを申し込みの翌月末までに課金開始すること</li>
            <li class="c-Txt_Cap">③Rakuten最強プランをRakuten Turbo利用開始の翌月末に利用していること</li>
            <li class="c-Txt_Cap">※表記の金額は特に記載のある場合を除きすべて税込です。</li>
          </ul>
        </div>
        <p class="u-Adjust_Mt-8">
          <a href="#conditions" class="<%= namespace %>-Txt_Normal-s c-Link_Txt">キャンペーンの達成条件に戻る</a>
        </p>
      </div>
    </div>

    <div class="u-Rat_Appear-height" data-ratid="scroll-00" data-ratevent="appear"></div>

    <div class="u-Adjust_Mt-24">
      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
      <%- include('/include/internet/turbo/_footer', {
        breadcrumbs: ''
      }) %>
    </div>

    <div id="js-fixed-btn" class="<%= namespace %>_Layout-bottom-fixed" aria-expanded="false">
      <div class="<%= namespace %>_Layout-bottom-fixed-inner">
        <a href="https://oubo.rakuten.co.jp/apply/rmobile/turborankd/240412" class="c-Btn_Primary-large <%= namespace %>_Layout-bottom-fixed-btn" data-lid_no="02">まずはエントリー</a>
        <a href="<%= sitepath %>internet/turbo/application/" class="c-Btn_Primary-large <%= namespace %>_Layout-bottom-fixed-btn <%= namespace %>_Layout-bottom-fixed-btn-alreadyEntry" data-lid_no="02">Rakuten Turbo お申し込み</a>
      </div>
    </div>
  </div>

  <div class="<%= namespace %>-List_Links-fixed" id="nav_menu">
    <div class="<%= namespace %>-List_Links-fixed-inner">
      <ul class="<%= namespace %>-List_Links-fixed-items">
        <li class="<%= namespace %>-List_Links-fixed-item">
          <a href="#about" data-ratid="rmt_anchor_fix_about_01" data-ratevent="click" data-ratparam="all" class="<%= namespace %>-List_Links-fixed-link js-scroll">
            <span class="<%= namespace %>-List_Links-fixed-icon c-Icon_Arrow-down-l"></span>
            <div>
              <span class="<%= namespace %>-Txt_Br-sp">Rakuten&nbsp;</span>Turboとは？
            </div>
            <span class="<%= namespace %>-List_Links-fixed-image">
              <img src="<%= imgDir %>icon-about.svg" width="32" height="32" alt="">
            </span>
          </a>
        </li>
        <li class="<%= namespace %>-List_Links-fixed-item">
          <a href="#campaign" data-ratid="rmt_anchor_fix_fee_01" data-ratevent="click" data-ratparam="all" class="<%= namespace %>-List_Links-fixed-link js-scroll">
            <span class="<%= namespace %>-List_Links-fixed-icon c-Icon_Arrow-down-l"></span>
            <div>料金プラン</div>
            <span class="<%= namespace %>-List_Links-fixed-image">
              <img src="<%= imgDir %>icon-simulation.svg" width="32" height="32" alt="">
            </span>
          </a>
        </li>
        <li class="<%= namespace %>-List_Links-fixed-item">
          <a href="#flow" data-ratid="rmt_anchor_fix_flow_01" data-ratevent="click" data-ratparam="all" class="<%= namespace %>-List_Links-fixed-link js-scroll">
            <span class="<%= namespace %>-List_Links-fixed-icon c-Icon_Arrow-down-l"></span>
            <div>ご利用までの流れ</div>
            <span class="<%= namespace %>-List_Links-fixed-image">
              <img src="<%= imgDir %>icon-simulation.svg" width="32" height="32" alt="">
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="https://point.rakuten.co.jp/doc/rank/design-template/1.6.0/index.js"></script>

<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/internet.turbo.campaign.rank.d.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
<%- include('/include/internet/turbo/_rex-survey-rank-d') %>
<script >
$(function(){
  $('.d-block .grant_point').prepend('<div style="font-size:18px;font-weight:bold;display:inline-block;position:relative;bottom:52px;left:-5px;color:#544b91">最大</div>');
  $('.d-block-md .grant_point').prepend('<div style="font-size:32px;font-weight:bold;display:inline-block;position:relative;bottom:100px;padding-right:10px;color:#544b91;">最大</div>');

  function txtGetPoints() {
    if (window.matchMedia('(min-width:769px)').matches) {
      $(".rank-ddt_get-points").attr('src', '<%= imgDir %>txt_get_points-pc.svg');
    } else {
      $(".rank-ddt_get-points").attr('src', '<%= imgDir %>txt_get_points-sp.svg');
    }
  };
  txtGetPoints();

  $(window).on('resize', function(){
    txtGetPoints();
  })
});
</script>

</body>
</html>
