<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "インターネット接続方法" -%>
<% const directories = [{path: hikariroot.path + "support/", label:"お客様サポート"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天ひかりでインターネットに接続するための、対応ルーターのリストや、ルーターの配線、ひかり電話を利用する場合と利用しない場合のルーターの配線などのご案内です。',
    noindex: false,
    pathname: filepath,
    ishikari: true,
    canonical_custom: 'https://network.mobile.rakuten.co.jp/hikari/support/setting/router/',
  });
%>
<%- include('/include/hikari/_common-v2-hikari-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/support-v2/support-v2.css?20240424">


<%- include('/include/_append-head-hikari') %>
</head>
<body>

<%- include('/include/_prepend-body-hikari') %>

<div class="l-System">
  <%- include('/hikari/include/_header', { headerType: 'normal', pagetitle: pagetitle, directories: directories, tax: false }) %>
  <div class="l-hikari-Section_Main">
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
      <div class="l-hikari-Section_Main-lead">
        <p>ONUまたはひかり電話対応機器の配線とルーターの設定方法をご案内します。</p>
      </div>

      <div class="l-hikari-Section_Sub-short">
        <h2 class="c-Heading_Lv2">IPv6通信でインターネットにつなぐには</h2>
        <div class="l-hikari-Section_Sub-content-middle">
          <p>お手持ちのルーターがIPv6接続に対応しているかご確認ください。</p>
          <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>hikari/support/wifi-router/" data-lid_no="01" class="c-Link_Txt-inline">楽天ひかりのIPv6（クロスパス）対応ルーターと設定方法<span class="c-Icon_Arrow-right-l"></span></a></p>
          <p class="u-Adjust_Mt-16">対応ルーターをお持ちでない場合、IPv4（PPPoE）で接続が可能です。<br>設定方法は<a href="https://hikari.faq.rakuten.net/faq/show/7292?site_domain=default" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">「楽天ひかりのIPv6（クロスパス）接続ができないので、IPv4（PPPoE）接続の設定方法を知りたい」<span class="c-Icon_New-window-l"></span></a>をご確認ください。</p>
        </div>
      </div>

      <div class="l-hikari-Section_Sub-short">
        <h2 class="c-Heading_Lv2">配線とルーター設定</h2>
        <ol class="l-hikari-Section_Sub-content-tall c-Flow">
          <li>
              <h3 class="c-Heading_Lv3">1. 配線</h3>
              <div class="c-Tab js-Tab l-hikari-Section_Sub-content-tall">
                <ul class="c-Tab_Items" role="tablist">
                    <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">ひかり電話を「利用しない」場合</li>
                    <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">ひかり電話を「利用する」場合</li>
                </ul>
                <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
                  <div class="l-hikari-Section_Sub-content-tall">
                    <h4 class="c-Heading_Lv4">ひかり電話を「利用しない」場合</h4>
                    <div class="l-hikari-Section_Sub-content-tall">
                      <div class="u-Adjust_Align-center">
                        <img src="<%= sitepath %>assets/img/hikari/support/setting/router/img01-220911.png" alt="" width="504" height="313">
                      </div>
                      <ol class="c-List_Ordered u-Adjust_Mt-16">
                        <li>NTTレンタル機器「ONU（またはVDSLモデム）」の電源がOffになっていることを確認します。</li>
                        <li>「ルーター」のマニュアルと本体を用意します。</li>
                        <li>「ルーター」背面の「モード切替スイッチ」が「RT」側になっていることを確認します。</li>
                        <li>NTTレンタル機器「ONU（またはVDSLモデム）」の「LANポート」と、「ルーター」背面の「WANポート」をLANケーブルで接続します。</li>
                        <li>NTTレンタル機器「ONU（またはVDSLモデム）」の電源を入れ、約1分待ちます。</li>
                        <li>有線接続を行う場合、「ルーター」背面の「LANポート」と、電源が入っていないパソコンの「LANポート」をLANケーブルで接続します。</li>
                        <li>「ルーター」の電源を入れ、約1分～2分待ちます。</li>
                        <li>「ルーター」のマニュアルに書かれている方法で、正常に接続できているか確認を行い、問題がなければ配線は完了です。</li>
                      </ol>
                      <div class="c-Txt_Cap u-Adjust_Mt-16">
                        <p>※ 接続の確認方法はご利用の機器によって異なります。</p>
                        <p>※ 上記説明の表記は機器によって異なる場合があります。</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
                  <div class="l-hikari-Section_Sub-content-tall">
                    <h4 class="c-Heading_Lv4">ひかり電話を「利用する」場合</h4>
                    <div class="l-hikari-Section_Sub-content-tall">
                      <div class="u-Adjust_Align-center">
                        <img src="<%= sitepath %>assets/img/hikari/support/setting/router/img02-220911.png" alt="" width="504" height="365">
                      </div>
                      <ol class="c-List_Ordered u-Adjust_Mt-16">
                        <li>ひかり電話対応機器（ホームゲートウェイ／ひかり電話ルーター）で無線LANカードをご利用中の場合、ひかり電話対応機器（ホームゲートウェイ／ひかり電話ルーター）に装着されている無線LANカードを取り外します。取り外し方法は取扱説明書をご確認ください。</li>
                        <li>「ひかり電話対応機器（ホームゲートウェイ／ひかり電話ルーター）」 の電源がOffになっていることを確認します。</li>
                        <li>「ルーター」のマニュアルと本体を用意します。</li>
                        <li>「ルーター」背面の「モード切替スイッチ」が「RT」側になっていることを確認します。</li>
                        <li>「ひかり電話対応機器（ホームゲートウェイ／ひかり電話ルーター）」の「LANポート」と、「ルーター」背面の「WANポート」をLANケーブルで接続します。</li>
                        <li>「ひかり電話対応機器（ホームゲートウェイ／ひかり電話ルーター）」の電源を入れ、約1分待ちます。</li>
                        <li>有線接続を行う場合、「ルーター」背面の「LANポート」と、電源が入っていないパソコンの「LANポート」をLANケーブルで接続します。</li>
                        <li>「ルーター」の電源を入れ、約1分～2分待ちます。</li>
                        <li>「ルーター」のマニュアルに書かれている方法で、正常に接続できているか確認を行い、問題がなければ配線は完了です。</li>
                      </ol>
                      <div class="c-Txt_Cap u-Adjust_Mt-16">
                        <p>※ 接続の確認方法はご利用の機器によって異なります。</p>
                        <p>※ 上記説明の表記は機器によって異なる場合があります。</p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">2.  ルーター設定</h3>
            <div class="l-hikari-Section_Sub-content-tall">
              <p class="u-Adjust_Mt-16">楽天ひかりのIPv6（クロスパス）対応ルーターと設定方法は以下をご参照ください。</p>
              <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>hikari/support/wifi-router/" data-lid_no="02" class="c-Link_Txt-inline">楽天ひかりのIPv6（クロスパス）対応ルーターと設定方法<span class="c-Icon_Arrow-right-l"></span></a></p>

              <p class="u-Adjust_Mt-32">メーカーごとのルーター設定方法は以下をご参照ください。</p>
              <ul class="hikari-support-Nav_Inline-pc">
                <li><a href="https://hikari.faq.rakuten.net/faq/show/1165?site_domain=default" target="_blank" class="c-Link_Txt-inline">NEC製<span class="c-Icon_New-window-l"></span></a></li>
                <li><a href="https://hikari.faq.rakuten.net/faq/show/1162?site_domain=default" target="_blank" class="c-Link_Txt-inline">バッファロー製<span class="c-Icon_New-window-l"></span></a></li>
                <li><a href="https://hikari.faq.rakuten.net/faq/show/1163?site_domain=default" target="_blank" class="c-Link_Txt-inline">アイ・オー・データ製<span class="c-Icon_New-window-l"></span></a></li>
                <li><a href="https://hikari.faq.rakuten.net/faq/show/1164?site_domain=default" target="_blank" class="c-Link_Txt-inline">ティーピーリンク製<span class="c-Icon_New-window-l"></span></a></li>
              </ul>
            </div>
          </li>

        </ol>

      </div>

    </div>
  </div>

  <footer class="g-Footer">
    <%- include('/hikari/include/_footer', { pagetitle: pagetitle, directories: directories, hiddenCta: true, hiddenFooterCta: true }) %>
  </footer>

</div>
<%- include('/include/hikari/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
