<section class="<%= commonNamespace %>-Spec_Section-other">
  <h3 class="<%= commonNamespace %>-Spec_Section-other-heading <%= commonNamespace %>-Spec_Util-Pc_center">
    アップグレードは簡単。<br class="<%= commonNamespace %>-Spec_Util-sp">乗り換えも簡単です。
  </h3>
  <div class="<%= commonNamespace %>-Spec_Util-flexcol <%= commonNamespace %>-Spec_Section-other-gap2 <%= commonNamespace %>-Spec_Util-Pc_center u-Adjust_Mt-40">
    <div class="<%= commonNamespace %>-Spec_Section-other-col2-2">
      <div class="<%= commonNamespace %>-Spec_Section-other-imgwrap-2"><img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-trans-data-240207.png" width="35" height="45" loading="lazy" alt=""></div>
      <h3 class="<%= commonNamespace %>-Spec_Util-nowrap">お使いのiPhoneから<br>データを移行するには？</h3>
      <p>これまで使っていたiPhoneを<br class="<%= commonNamespace %>-Spec_Util-sp">新しいiPhoneの<br class="<%= commonNamespace %>-Spec_Util-pc">隣に置いて<br class="<%= commonNamespace %>-Spec_Util-sp">タップを数回。それだけで自動的に<br>データを転送できます。</p>
    </div>
    <div class="<%= commonNamespace %>-Spec_Section-other-col2-3">
      <div class="<%= commonNamespace %>-Spec_Section-other-imgwrap-3"><img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-ios-240207.png" width="47" height="36" loading="lazy" alt=""></div>
      <h3>Androidスマートフォン<br class="<%= commonNamespace %>-Spec_Util-sp">からの<br class="<%= commonNamespace %>-Spec_Util-pc">乗り換えを<br class="<%= commonNamespace %>-Spec_Util-sp">お考えですか？</h3>
      <p>
        新しくiPhoneを購入した方の<br class="<%= commonNamespace %>-Spec_Util-sp">ために、<br class="<%= commonNamespace %>-Spec_Util-pc">
        写真や連絡先などを簡単に<br class="<%= commonNamespace %>-Spec_Util-sp">転送するための<br class="<%= commonNamespace %>-Spec_Util-pc">
        「iOSに移行」<br class="<%= commonNamespace %>-Spec_Util-sp">アプリが用意されています。 
      </p>
    </div>
  </div>
  <h3 class="<%= commonNamespace %>-Spec_Section-other-heading <%= commonNamespace %>-Spec_Util-Pc_center u-Adjust_Mt-64 u-Adjust_Mt-pc-80">
    地球と、あなたと、<br class="<%= commonNamespace %>-Spec_Util-sp">みんなのために。
  </h3>
  <div class="<%= commonNamespace %>-Spec_Util-flexcol <%= commonNamespace %>-Spec_Section-other-gap2 u-Adjust_Mt-48 u-Adjust_Mt-pc-56">
    <div class="<%= commonNamespace %>-Spec_Section-other-col3-1">
      <div class="<%= commonNamespace %>-Spec_Section-other-imgwrap-4"><img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-recycle-240207.png" width="28" height="34" loading="lazy" alt=""></div>
      <h3>リサイクルも<br class="<%= commonNamespace %>-Spec_Util-pc">さらに進化。</h3>
      <p> iPhoneの素材を回収することで、<br>貴重な天然資源を<br class="<%= commonNamespace %>-Spec_Util-pc">保全しています。</p>
      <div class="<%= commonNamespace %>-Spec_Section-other-imgwrap-5"><img src="<%= sitepath %>assets/img/product/iphone/common/comparison/img-earth-240207.png" width="117" height="118" loading="lazy" alt=""></div>
    </div>
    <div class="<%= commonNamespace %>-Spec_Section-other-col3-2">
      <div class="<%= commonNamespace %>-Spec_Section-other-imgwrap-6"><img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-privacy-240207.png" width="30" height="40" loading="lazy" alt=""></div>
      <h3> プライバシー。<br>これがiPhone。</h3>
      <p>パスキーからプライバシー<br class="<%= commonNamespace %>-Spec_Util-pc">レポートまで。iPhoneなら何を共有<br class="<%= commonNamespace %>-Spec_Util-pc">するかを決めるのは、ほかの誰でも<br>ありません。あなたです。</p>
      <div class="<%= commonNamespace %>-Spec_Section-other-imgwrap-7"><img src="<%= sitepath %>assets/img/product/iphone/common/comparison/img-privacy-240207.png" width="312" height="231" loading="lazy" alt=""></div>
    </div>
    <div class="<%= commonNamespace %>-Spec_Section-other-col3-3">
      <div class="<%= commonNamespace %>-Spec_Section-other-imgwrap-8"><img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-accessible-240207.png" width="39" height="39" loading="lazy" alt=""></div>
      <h3>iPhoneを<br class="<%= commonNamespace %>-Spec_Util-pc">すべての人に。</h3>
      <p>iPhoneは、VoiceOverなどの<br>便利なアクセシビリティ機能を<br>搭載しています。 </p>
      <div class="<%= commonNamespace %>-Spec_Section-other-imgwrap-9"><img src="<%= sitepath %>assets/img/product/iphone/common/comparison/img-accessible-240207.png" width="312" height="221" loading="lazy" alt=""></div>
    </div>
  </div>
  <h3 class="<%= commonNamespace %>-Spec_Section-other-heading <%= commonNamespace %>-Spec_Util-Pc_center u-Adjust_Mt-64 u-Adjust_Mt-pc-80">
    さらなる魅力を。
  </h3>
  <div class="<%= commonNamespace %>-Spec_Util-flexcol <%= commonNamespace %>-Spec_Section-other-accessory u-Adjust_Mt-48 u-Adjust_Mt-pc-56">
    <div>
      <p class="c-Heading_Lv4">MagSafeアクセサリ</p>
      <h3 class="u-Adjust_Mt-8">
        ケースも、カード入れも、<br>
        その両方も、<br>
        磁力でピタッと装着。
      </h3>
      <p class="u-Adjust_Mt-16">
        取りつけが簡単で、よりすばやく<br class="<%= commonNamespace %>-Spec_Util-sp">ワイヤレス充電ができる<br class="<%= commonNamespace %>-Spec_Util-pc"> アクセサリ<br class="<%= commonNamespace %>-Spec_Util-sp">のカラフルなエコシステム。<br class="<%= commonNamespace %>-Spec_Util-sp"><br class="<%= commonNamespace %>-Spec_Util-sp">組み合わせは<br class="<%= commonNamespace %>-Spec_Util-pc">数えきれないほど。<br class="<%= commonNamespace %>-Spec_Util-sp">だからコーディネートが<br class="<%= commonNamespace %>-Spec_Util-sp">思いのままです<%- diamond %>。
      </p>
      <a href="<%= sitepath %>product/accessory/apple/?l-id=<%= l_id %>_accessory_apple" class="c-Link_Txt-inline u-Adjust_Mt-24">MagSafeアクセサリについて<br class="<%= commonNamespace %>-Spec_Util-sp">さらに詳しく<span class="c-Icon_Chevron-right"></span></a>
    </div>
    <picture>
      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-14-pro/img-magsafe-sp-240207.png" width="321" height="262">
      <img class="<%= commonNamespace %>-Spec_Section-alter-img" src="<%= sitepath %>assets/img/product/iphone/common/iphone-14-pro/img-magsafe-pc-240207.png" width="415" height="334" loading="lazy" alt="">
    </picture>
  </div>
  <div class="<%= commonNamespace %>-Spec_Util-flexcol <%= commonNamespace %>-Spec_Section-other-applecare u-Adjust_Mt-16">
    <div>
      <p class="c-Heading_Lv4">AppleCare+</p>
      <h3 class="u-Adjust_Mt-8">
        スペシャリストによる<br>サポートを延長できます。
      </h3>
      <ul class="u-Adjust_Mt-16">
        <li><span class="c-Icon_Check"></span>Apple認定技術者による<br class="<%= commonNamespace %>-Spec_Util-sp">サービス</li>
        <li class="<%= commonNamespace %>-Spec_Util-nowrap"><span class="c-Icon_Check"></span>テクニカルサポートへの優先<br class="<%= commonNamespace %>-Spec_Util-sp">アクセス</li>
        <li><span class="c-Icon_Check"></span>過失や事故による損傷に対する<br class="<%= commonNamespace %>-Spec_Util-sp">修理などのサービス</li>
      </ul>
      <a href="<%= sitepath %>service/iphone/applecare/?l-id=<%= l_id %>_service_iphone_applecare" class="c-Link_Txt-inline u-Adjust_Mt-16">AppleCare+ for iPhoneについて<br class="<%= commonNamespace %>-Spec_Util-sp">さらに詳しく<span class="c-Icon_Chevron-right"></span></a>
    </div>
    <picture>
      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-14-pro/img-applecare-sp-240207.png" width="199" height="229">
      <img class="<%= commonNamespace %>-Spec_Section-alter-img" src="<%= sitepath %>assets/img/product/iphone/common/iphone-14-pro/img-applecare-pc-240207.png" width="263" height="301" loading="lazy" alt="">
    </picture>
  </div>
  <div class="<%= commonNamespace %>-Spec_Section-other-note u-Adjust_Mt-56 u-Adjust_Mb-56">
    <%# スクロール計測 %>
    <!-- <div class="u-Rat_Appear-height" data-ratid="<%= currentDir %>_scroll-10_disclaimer" data-ratevent="appear">&nbsp;</div> -->
    <p class="c-Txt_Cap"><%- diamond %>免責事項</p>
    <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">電源とバッテリー： </span>バッテリーに関する各数値はネットワーク構成やその他の多くの要素によって変わり、実際の結果は異なる場合があります。 バッテリーは充電回数に限りがあり、将来的には交換が必要になる場合があります。 バッテリー駆動時間と充電サイクルは使用方法と設定によって異なります。 詳しくは <a href="https://www.apple.com/jp/batteries/" target="_blank" rel="noopener noreferrer" class="c-Link_Txt">apple.com/jp/batteries</a>および<br><a href="https://www.apple.com/jp/iphone/battery.html" target="_blank" rel="noopener noreferrer" class="c-Link_Txt">apple.com/jp/iphone/battery.html</a>をご覧ください。</p>
    <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">耐水性能：</span>iPhone 14 ProとiPhone 14 Pro Maxは防沫性能、耐水性能、防塵性能を備えており、実験室の管理された条件下でのテストにより、IEC規格60529にもとづくIP68等級に適合しています（最大水深6メートルで最大30分間）。 防沫性能、耐水性能、防塵性能は永続的に維持されるものではなく、通常の使用によって耐性が低下する可能性があります。 iPhoneが濡れている場合は充電しないでください。 クリーニングと乾燥の方法についてはユーザガイドをご覧ください。 液体による損傷は保証の対象になりません。</p>
    <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">衝突事故検出：</span>iPhone 14とiPhone 14 Proは自動車での重大な衝突事故を認識し、救助要請の電話をかけることができます。 携帯電話通信またはWi-Fi通話が必要です。</p>
    <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">ディスプレイ： </span>ディスプレイは美しい曲線を描くように四隅に丸みを持たせてデザインされており、標準的な長方形に収まります。 標準的な長方形として対角線の長さを測った場合のスクリーンのサイズは6.06インチ（iPhone 14）、6.68インチ（iPhone 14 Plus）、6.12インチ（iPhone 14 Pro）、6.69インチ（iPhone 14 Pro Max）です。 実際の表示領域はこれより小さくなります。</p>
    <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">携帯電話/ワイヤレス通信方式： </span>データプランが必要です。 5Gは特定の国の特定の通信事業者で利用できます。 速度は使用する場所の条件と通信事業者によって変わります。 5G対応の詳細については通信事業者にお問い合わせください。<a href="https://www.apple.com/jp/iphone/cellular/" target="_blank" rel="noopener noreferrer" class="c-Link_Txt">apple.com/jp/iphone/cellular</a>もあわせてご覧ください。</p>
    <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">アクセサリ： </span>アクセサリは別売りです。</p>
    <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">利用できる機能： </span>国や地域によっては一部の機能を利用できない場合があります。</p>
    <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">Apple Music： </span>Apple Musicを利用するにはサブスクリプションが必要です。</p>
  </div>
</section>
