<section class="<%= commonNamespace %>-Spec_Section-other">
  <h3 class="<%= commonNamespace %>-Spec_Section-other-heading <%= commonNamespace %>-Spec_Util-Pc_center">
    あなたと、<br class="<%= commonNamespace %>-Spec_Util-sp">みんなのために。
  </h3>
  <div class="<%= commonNamespace %>-Spec_Util-flexcol <%= commonNamespace %>-Spec_Section-other-gap2 u-Adjust_Mt-40 u-Adjust_Mt-pc-56">
    <div class="<%= commonNamespace %>-Spec_Section-other-col3-2">
      <div class="<%= commonNamespace %>-Spec_Section-other-imgwrap-6"><img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-privacy-240207.png" alt="" width="28" height="39" loading="lazy"></div>
      <h3>プライバシー。<br class="<%= commonNamespace %>-Spec_Util-sp">これがiPhone。</h3>
      <p>
        パスキーからプライバシーレポート、<br class="<%= commonNamespace %>-Spec_Util-sp">そしてヘルスケア<br class="<%= commonNamespace %>-Spec_Util-pc">
        アプリまで。 <br class="<%= commonNamespace %>-Spec_Util-sp">iPhoneなら何を共有するかを<br class="<%= commonNamespace %>-Spec_Util-sp">決めるのは、<br class="<%= commonNamespace %>-Spec_Util-pc">
        ほかの誰でも<br class="<%= commonNamespace %>-Spec_Util-sp">ありません。 あなたです。
      </p>
      <div class="<%= commonNamespace %>-Spec_Section-other-imgwrap-7">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-15/img-privacy-sp-240515.png" width="197" height="148">
          <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-15/img-privacy-pc-240515.png" alt="" width="302" height="236" loading="lazy">
        </picture>
      </div>
    </div>
    <div class="<%= commonNamespace %>-Spec_Section-other-col3-3">
      <div class="<%= commonNamespace %>-Spec_Section-other-imgwrap-8"><img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-accessible-240207.png" alt="" width="39" height="39" loading="lazy"></div>
      <h3>iPhoneをすべての人に。</h3>
      <p>
        iPhoneは拡大鏡、VoiceOver、<br class="<%= commonNamespace %>-Spec_Util-sp">アシスティブアクセスなどの<br>
        アクセシビリティ機能を内蔵。 <br class="<%= commonNamespace %>-Spec_Util-sp">認知障がいのある方が<br class="<%= commonNamespace %>-Spec_Util-pc">
        アプリや<br class="<%= commonNamespace %>-Spec_Util-sp">体験をカスタマイズできるように<br class="<%= commonNamespace %>-Spec_Util-sp">サポートします。
      </p>
      <div class="<%= commonNamespace %>-Spec_Section-other-imgwrap-9">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-15/img-accessible-sp-240515.png" width="247" height="183">
          <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-15/img-accessible-pc-240515.png" alt="" width="293" height="241" loading="lazy">
        </picture>
      </div>
    </div>
  </div>
  <h3 class="<%= commonNamespace %>-Spec_Section-other-heading <%= commonNamespace %>-Spec_Section-other-heading-upgrade <%= commonNamespace %>-Spec_Util-Pc_center">
    アップグレードは簡単。<br class="<%= commonNamespace %>-Spec_Util-sp">乗り換えも簡単です。
  </h3>
  <div class="<%= commonNamespace %>-Spec_Util-flexcol <%= commonNamespace %>-Spec_Section-other-gap2 <%= commonNamespace %>-Spec_Util-Pc_center u-Adjust_Mt-40 u-Adjust_Mt-pc-48">
    <div class="<%= commonNamespace %>-Spec_Section-other-col2-2">
      <div class="<%= commonNamespace %>-Spec_Section-other-imgwrap-2"><img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-trans-data-240515.png" alt="" width="32" height="45" loading="lazy"></div>
      <h3 class="<%= commonNamespace %>-Spec_Util-nowrap">お使いのiPhoneから<br>データを移行するには？</h3>
      <p>これまで使っていたiPhoneを<br class="<%= commonNamespace %>-Spec_Util-sp">新しいiPhoneの<br class="<%= commonNamespace %>-Spec_Util-pc">隣に置いて<br class="<%= commonNamespace %>-Spec_Util-sp">タップを数回。それだけで自動的に<br>データを転送できます。</p>
    </div>
    <div class="<%= commonNamespace %>-Spec_Section-other-col2-3">
      <div class="<%= commonNamespace %>-Spec_Section-other-imgwrap-3"><img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-ios-240207.png" alt="" width="46" height="36" loading="lazy"></div>
      <h3>Androidスマートフォン<br class="<%= commonNamespace %>-Spec_Util-sp">からの<br class="<%= commonNamespace %>-Spec_Util-pc">乗り換えを<br class="<%= commonNamespace %>-Spec_Util-sp">お考えですか？</h3>
      <p>
        新しくiPhoneを購入した方の<br class="<%= commonNamespace %>-Spec_Util-sp">ために、<br class="<%= commonNamespace %>-Spec_Util-pc">
        写真や連絡先などを簡単に<br class="<%= commonNamespace %>-Spec_Util-sp">転送するための<br class="<%= commonNamespace %>-Spec_Util-pc">
        「iOSに移行」<br class="<%= commonNamespace %>-Spec_Util-sp">アプリが用意されています。
      </p>
    </div>
  </div>
  <div class="<%= commonNamespace %>-Spec_Section-other-bg u-Adjust_Mt-56 u-Adjust_Mt-pc-80">
    <h3 class="<%= commonNamespace %>-Spec_Section-other-heading <%= commonNamespace %>-Spec_Section-other-heading-appeal <%= commonNamespace %>-Spec_Util-Pc_center">
      iPhoneの魅力は、<br class="<%= commonNamespace %>-Spec_Util-sp">ほかにもいろいろ。
    </h3>
    <div class="<%= commonNamespace %>-Spec_Util-flexcol <%= commonNamespace %>-Spec_Section-other-tradein u-Adjust_Mt-40 u-Adjust_Mt-pc-56">
      <div>
        <p>Trade In</p>
        <h3 class="u-Adjust_Mt-8">
          下取りの利用で<br>
          新しいiPhoneがおトクに。
        </h3>
      </div>
      <div>
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-15/img-tradein-sp-240515.png" width="642" height="160">
          <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-15/img-tradein-pc-240515.png" alt="" width="474" height="118" loading="lazy">
        </picture>
      </div>
    </div>
    <div class="<%= commonNamespace %>-Spec_Util-flexcol <%= commonNamespace %>-Spec_Section-other-accessory">
      <div>
        <p>MagSafeアクセサリ</p>
        <h3>
          ケースも、カード入れも、<br>
          その両方も、<br>
          磁力でピタッと装着。
        </h3>
        <p class="u-Adjust_Mt-16 <%= commonNamespace %>-Spec_Section-other-accessory-txt">
          取りつけが簡単で、よりすばやく<br class="<%= commonNamespace %>-Spec_Util-sp">ワイヤレス充電ができる<br class="<%= commonNamespace %>-Spec_Util-pc">
          アクセサリ<br class="<%= commonNamespace %>-Spec_Util-sp">のカラフルなエコシステム。<br class="<%= commonNamespace %>-Spec_Util-sp">組み合わせは<br class="<%= commonNamespace %>-Spec_Util-pc">
          数えきれないほど。<br class="<%= commonNamespace %>-Spec_Util-sp">だからコーディネートが<br class="<%= commonNamespace %>-Spec_Util-sp">思いのままです<%- diamond %>。
        </p>
      </div>
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-15/img-magsafe-sp-240515.png" width="640" height="520">
        <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-15/img-magsafe-pc-240515.png" class="<%= commonNamespace %>-Spec_Section-alter-img" alt="" width="403" height="326" loading="lazy">
      </picture>
    </div>
    <div class="<%= commonNamespace %>-Spec_Util-flexcol <%= commonNamespace %>-Spec_Section-other-tv">
      <div>
        <p><img src="<%= sitepath %>assets/img/product/iphone/common/iphone-15/logo-apple-tv-240515.png"  alt="apple tv plus" width="42" height="16" loading="lazy"></p>
        <h3>
          iPhoneを購入すると、<br>
          Apple TV+を3か月間<br class="<%= commonNamespace %>-Spec_Util-sp">無料で<br class="<%= commonNamespace %>-Spec_Util-pc">
          体験できます<%- diamond %>。
        </h3>
        <ul class="u-Adjust_Mt-16 u-Adjust_Mt-pc-8">
          <li><span>・</span>毎月登場するApple Originalの<br class="<%= commonNamespace %>-Spec_Util-sp">シリーズや映画の新作を楽しめる。</li>
          <li><span>・</span>Apple製デバイス、スマート<br class="<%= commonNamespace %>-Spec_Util-sp">テレビ、ゲーム機、<br class="<%= commonNamespace %>-Spec_Util-pc">スティック型<br class="<%= commonNamespace %>-Spec_Util-sp">デバイスにあるApple TVアプリ<br class="<%= commonNamespace %>-Spec_Util-sp">でストリーミング。</li>
          <li><span>・</span>あなたと家族5人までが<br class="<%= commonNamespace %>-Spec_Util-sp">サブスクリプションを共有できる。</li>
        </ul>
      </div>
      <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-15/img-tv-240515.png" class="<%= commonNamespace %>-Spec_Section-alter-img" alt="" width="370" height="488" loading="lazy">
    </div>
    <div class="<%= commonNamespace %>-Spec_Util-flexcol <%= commonNamespace %>-Spec_Section-other-applecare">
      <div>
        <p>AppleCare+</p>
        <h3 class="u-Adjust_Mt-8">
          スペシャリストによる<br>サポートを延長できます。
        </h3>
        <ul class="u-Adjust_Mt-16">
          <li><span class="c-Icon_Check"></span>Apple認定技術者による<br class="<%= commonNamespace %>-Spec_Util-sp">サービス</li>
          <li class="<%= commonNamespace %>-Spec_Util-nowrap"><span class="c-Icon_Check"></span>テクニカルサポートへの優先<br class="<%= commonNamespace %>-Spec_Util-sp">アクセス</li>
          <li><span class="c-Icon_Check"></span>過失や事故による損傷に対する<br class="<%= commonNamespace %>-Spec_Util-sp">修理などのサービス</li>
        </ul>
      </div>
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-15/img-applecare-sp-240515.png" width="191" height="232">
        <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-15/img-applecare-pc-240515.png" alt="" width="266" height="297" loading="lazy">
      </picture>
    </div>
    <div class="<%= commonNamespace %>-Spec_Section-other-note u-Adjust_Mt-32 u-Adjust_Mt-pc-48">
      <p class="c-Txt_Cap"><%- diamond %>免責事項</p>
      <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">ストレージ：</span>ストレージの比較は最小容量にもとづきます。</p>
      <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">電源とバッテリー：</span>バッテリー駆動時間は使用条件と構成によって異なります。 詳しくは<a href="https://www.apple.com/jp/batteries" target="_blank" rel="noopener noreferrer">apple.com/jp/batteries</a>をご覧ください。</p>
      <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">携帯電話/ワイヤレス通信方式：</span>データプランが必要です。5Gは特定の国の特定の通信事業者で利用できます。速度は使用する場所の条件と通信事業者によって変わります。 5G対応の詳細については通信事業者にお問い合わせください。 <a href="https://www.apple.com/jp/iphone/cellular/" target="_blank" rel="noopener noreferrer">apple.com/jp/iphone/cellular</a>もあわせてご覧ください。</p>
      <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">ディスプレイのサイズ：</span>ディスプレイは美しい曲線を描くように四隅に丸みを持たせてデザインされており、標準的な長方形に収まります。 標準的な長方形として対角線の長さを測った場合のスクリーンのサイズは6.12インチ（iPhone 15 Pro、iPhone 15）または6.69インチ（iPhone 15 Pro Max、iPhone 15 Plus）です。実際の表示領域はこれより小さくなります。</p>
      <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">衝突事故検出： </span>iPhone 15とiPhone 15 Proは自動車での重大な衝突事故を認識し、救助要請の電話をかけることができます。 携帯電話通信またはWi-Fi通話が必要です。</p>
      <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">USB 3：</span>iPhone 15 Proモデルで最大20倍速いデータ転送を行うには、10Gb/sの速度のUSB 3ケーブルが必要です。</p>
      <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">MagSafeアクセサリ：</span>カラーは例示を目的としています。MagSafeアクセサリは別売りです。</p>
      <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">Apple TV+体験オファー：</span>新規登録の方と条件を満たす再登録の方のみが対象です。 体験利用の終了後は、キャンセルしない限り月額900円がかかります。 本オファーの利用は、1つのApple IDまたは1つのファミリー共有のグループにつき1回に限られます。 規約が適用されます。 詳しくは<a href="https://www.apple.com/jp/promo/" target="_blank" rel="noopener noreferrer">apple.com/jp/promo</a>をご覧ください。</p>
      <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">Apple TV+：</span>Apple TV+を利用するにはサブスクリプションが必要です。</p>
      <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">利用できる機能：</span>国や地域によっては一部の機能を利用できない場合があります。</p>
    </div>
  </div>
</section>
