<% const pagetitle = "楽天モバイルお客様サポートページに関するアンケート" -%>
<% const directories = [{path:"campaign/support-survey/form/", label:"キャンペーン・特典"}] -%>
<% const namespace = "support-survey-form" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '楽天モバイルお客様サポートページに関するアンケートページです。',
  keywords: '',
  noindex: true,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/support-survey-form/support-survey-form.css?20240424">
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
</head>

<body>
<%- include('/include/_prepend-body') %>
<div class="l-System">
<%- include('/include/_header-simple') %>

<div class="l-System_Container">
  <h1 class="u-Adjust_Mt-32">楽天モバイルお客様サポートページに関するアンケート</h1>

  <form action="https://form.rakuten.co.jp/ans/apply/39429" name="enenForm" method="POST" onsubmit="return checkForm()">
    <input type="hidden" name="answers[39429_269269]" value="">

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-16">特典適用が対象外となるケースについて</h2>
    <p class="c-Txt_Normal u-Adjust_Mt-16">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります。</p>
    <p class="c-Txt_Cap u-Adjust_Mt-16">
      ※ポイント付与までに楽天会員から退会している場合<br>
      ※エントリーに使用した楽天会員IDと、楽天モバイルに登録している楽天会員IDが同一でない場合<br>
      ※当社または楽天グループ株式会社が定める規約などに違反した場合<br>
      ※そのほか、当社が会員として不適格であると合理的に判断した場合<br>
      ※当社が不正回答であると合理的に判断した場合<br>
      〈不正回答の例〉<br>
      ・選択式回答欄に明らかに質問を読んでいない連続した項目を選択している（例：すべて選択肢「1」を選んでいる）
    </p>
    <dl class="c-Dl_Origin <%= namespace %>-Dl u-Adjust_Mt-64">
      <div>
        <dt>質問1<span class="u-Adjust_Ml-8">必須</span></dt>
        <div class="<%= namespace %>-Dl_Choise">
          <dd class="c-Txt_Normal c-Txt_Emp-01">サポートページをご利用いただいた結果、お困りごとは解決できましたか？</dd>
          <dd>
            <div>
              <label class="c-Form_Radio u-Adjust_Mt-16 <%= namespace %>-Dl_Label" for="a745984">
                <input type="radio" name="answers[39429_269270]" id="a745984" value="745984"><span class="c-Form_Radio-icon"></span><span class="c-Form_Radio-label">解決できた</span>
              </label>
              <label class="c-Form_Radio u-Adjust_Mt-24 <%= namespace %>-Dl_Label" for="a745985">
                <input type="radio" name="answers[39429_269270]" id="a745985" value="745985"><span class="c-Form_Radio-icon"></span><span class="c-Form_Radio-label">解決できなかった（知りたいことが見つからなかった）</span>
              </label>
              <label class="c-Form_Radio u-Adjust_Mt-24 <%= namespace %>-Dl_Label" for="a745986">
                <input type="radio" name="answers[39429_269270]" id="a745986" value="745986"><span class="c-Form_Radio-icon"></span><span class="c-Form_Radio-label">解決できなかった（知りたいことが見つかったが、記載内容がわかりにくく理解できなかった）</span>
              </label>
            </div>
          </dd>
        </div>
      </div>
    </dl>
    <dl class="c-Dl_Origin <%= namespace %>-Dl <%= namespace %>-Dl_Border">
      <div>
        <dt>質問2<span class="u-Adjust_Ml-8">必須</span></dt>
        <div class="<%= namespace %>-Dl_Choise">
          <dd class="c-Txt_Normal c-Txt_Emp-01">【お困りごとが解決できなかった方へ】<br>今回はどのような情報を探していましたか？</dd>
          <dd class="c-Txt_Cap u-Adjust_Mt-16">※ 解決できた場合は「解決できた」と記載ください</dd>
          <dd class="u-Adjust_Mt-16">
            <div>
              <textarea class="c-Form_Input" value="" name="answers[39429_269271]" placeholder="例：料金の支払いが完了しているかの確認方法を知りたかった" aria-required="true" aria-invalid="false"></textarea>
            </div>
          </dd>
        </div>
      </div>
    </dl>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">あなたの普段のお考えについて</h2>
    <p class="c-Txt_Normal u-Adjust_Mt-16">楽天モバイルのサービスに限らず、あなたの普段のお考えについて教えてください。</p>
    <dl class="c-Dl_Origin <%= namespace %>-Dl u-Adjust_Mt-24">
      <div>
        <dt>質問3<span class="u-Adjust_Ml-8">必須</span></dt>
        <div class="<%= namespace %>-Dl_Choise">
          <dd class="c-Txt_Normal c-Txt_Emp-01">あなたはデジタル製品（スマートフォン、パソコン、ゲーム機など）や通信関連のサービスで利用中に困ったことがあった場合、どのように解決を図りますか。最も当てはまるものをお選びください。</dd>
          <dd class="u-Adjust_Mt-16">
            <div>
              <label class="c-Form_Radio <%= namespace %>-Dl_Label" for="a745987">
                <input type="radio" name="answers[39429_269272]" id="a745987" value="745987"><span class="c-Form_Radio-icon"></span><span class="c-Form_Radio-label">初めにスマートフォンやパソコンを使って解決方法を調べる。もしくは家族・知人に相談する。解決しなければサービス提供元へ問合せする。</span>
              </label>
              <label class="c-Form_Radio u-Adjust_Mt-24 <%= namespace %>-Dl_Label" for="a745988">
                <input type="radio" name="answers[39429_269272]" id="a745988" value="745988"><span class="c-Form_Radio-icon"></span><span class="c-Form_Radio-label">初めからサービス提供元へ問合せする。</span>
              </label>
            </div>
          </dd>
        </div>
      </div>
    </dl>
    <dl class="c-Dl_Origin <%= namespace %>-Dl <%= namespace %>-Dl_Border">
      <div>
        <dt>質問4<span class="u-Adjust_Ml-8">必須</span></dt>
        <div class="<%= namespace %>-Dl_Choise">
          <dd class="c-Txt_Normal c-Txt_Emp-01">あなたが製品やサービス提供元の窓口へ問い合わせをするときに、最もよく使う問合せ手段はなんですか？</dd>
          <dd class="u-Adjust_Mt-16">
            <div>
              <label class="c-Form_Radio <%= namespace %>-Dl_Label" for="a745989">
                <input type="radio" name="answers[39429_269273]" id="a745989" value="745989"><span class="c-Form_Radio-icon"></span><span class="c-Form_Radio-label">電話</span>
              </label>
              <label class="c-Form_Radio u-Adjust_Mt-24 <%= namespace %>-Dl_Label" for="a745990">
                <input type="radio" name="answers[39429_269273]" id="a745990" value="745990"><span class="c-Form_Radio-icon"></span><span class="c-Form_Radio-label">店頭窓口</span>
              </label>
              <label class="c-Form_Radio u-Adjust_Mt-24 <%= namespace %>-Dl_Label" for="a745991">
                <input type="radio" name="answers[39429_269273]" id="a745991" value="745991"><span class="c-Form_Radio-icon"></span><span class="c-Form_Radio-label">チャット（公式サイト上のチャットボット、オペレーターに繋がるチャット、LINE）</span>
              </label>
              <label class="c-Form_Radio u-Adjust_Mt-24 <%= namespace %>-Dl_Label" for="a745992">
                <input type="radio" name="answers[39429_269273]" id="a745992" value="745992"><span class="c-Form_Radio-icon"></span><span class="c-Form_Radio-label">問い合わせフォーム・メール</span>
              </label>
              <label class="c-Form_Radio u-Adjust_Mt-24 <%= namespace %>-Dl_Label" for="a745993">
                <input type="radio" name="answers[39429_269273]" id="a745993" value="745993"><span class="c-Form_Radio-icon"></span><span class="c-Form_Radio-label">Twitter・Instagram・Facebook・TikTokの公式アカウント</span>
              </label>
              <label class="c-Form_Radio u-Adjust_Mt-24 <%= namespace %>-Dl_Label" for="a745994">
                <input type="radio" name="answers[39429_269273]" id="a745994" value="745994"><span class="c-Form_Radio-icon"></span><span class="c-Form_Radio-label">その他</span>
              </label>
            </div>
          </dd>
        </div>
      </div>
    </dl>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">楽天モバイルのサービスについて</h2>
    <dl class="c-Dl_Origin <%= namespace %>-Dl u-Adjust_Mt-24">
      <div>
        <dt>質問5<span class="u-Adjust_Ml-8">必須</span></dt>
        <div class="<%= namespace %>-Dl_Choise">
          <dd class="c-Txt_Normal c-Txt_Emp-01">今回のキャンペーンで「よくあるご質問ページ」または「サポートページ」を閲覧いただきました。今後、もし楽天モバイル利用中に困ったことがあった場合に、「よくあるご質問ページ」または「サポートページ」を使うと思いますか。</dd>
          <dd class="u-Adjust_Mt-16">
            <div>
              <label class="c-Form_Radio <%= namespace %>-Dl_Label" for="a745995">
                <input type="radio" name="answers[39429_269274]" id="a745995" value="745995"><span class="c-Form_Radio-icon"></span><span class="c-Form_Radio-label">使うと思う</span>
              </label>
              <label class="c-Form_Radio u-Adjust_Mt-24 <%= namespace %>-Dl_Label" for="a745996">
                <input type="radio" name="answers[39429_269274]" id="a745996" value="745996"><span class="c-Form_Radio-icon"></span><span class="c-Form_Radio-label">使わないと思う</span>
              </label>
            </div>
          </dd>
        </div>
      </div>
    </dl>
    <dl class="c-Dl_Origin <%= namespace %>-Dl">
      <div>
        <dt>質問6<span class="u-Adjust_Ml-8">必須</span></dt>
        <div class="<%= namespace %>-Dl_Choise">
          <dd class="c-Txt_Normal c-Txt_Emp-01">【質問5で「使わないと思う」と答えた方へ】<br>使わないと思う理由を具体的にお知らせください。</dd>
          <dd class="c-Txt_Cap u-Adjust_Mt-16">※質問5で「使うと思う」と答えた方は、「使うと思う」と記載ください</dd>
          <dd class="u-Adjust_Mt-16">
            <div>
              <textarea class="c-Form_Input" value="" name="answers[39429_269275]" placeholder="例：欲しい情報を探すのが大変だった" aria-required="true" aria-invalid="false"></textarea>
            </div>
          </dd>
        </div>
      </div>
    </dl>
    <dl class="c-Dl_Origin <%= namespace %>-Dl">
      <div>
        <dt>質問7<span class="u-Adjust_Ml-8">必須</span></dt>
        <div class="<%= namespace %>-Dl_Choise">
          <dd class="c-Txt_Normal c-Txt_Emp-01">あなたが閲覧した「よくあるご質問ページ」または「サポートページ」の満足度を教えてください。</dd>
          <dd class="u-Adjust_Mt-16">
            <div>
              <label class="c-Form_Radio <%= namespace %>-Dl_Label" for="a745997">
                <input type="radio" name="answers[39429_269276]" id="a745997" value="745997"><span class="c-Form_Radio-icon"></span><span class="c-Form_Radio-label">満足</span>
              </label>
              <label class="c-Form_Radio u-Adjust_Mt-24 <%= namespace %>-Dl_Label" for="a745998">
                <input type="radio" name="answers[39429_269276]" id="a745998" value="745998"><span class="c-Form_Radio-icon"></span><span class="c-Form_Radio-label">やや満足</span>
              </label>
              <label class="c-Form_Radio u-Adjust_Mt-24 <%= namespace %>-Dl_Label" for="a745999">
                <input type="radio" name="answers[39429_269276]" id="a745999" value="745999"><span class="c-Form_Radio-icon"></span><span class="c-Form_Radio-label">どちらともいえない</span>
              </label>
              <label class="c-Form_Radio u-Adjust_Mt-24 <%= namespace %>-Dl_Label" for="a746000">
                <input type="radio" name="answers[39429_269276]" id="a746000" value="746000"><span class="c-Form_Radio-icon"></span><span class="c-Form_Radio-label">やや不満</span>
              </label>
              <label class="c-Form_Radio u-Adjust_Mt-24 <%= namespace %>-Dl_Label" for="a746001">
                <input type="radio" name="answers[39429_269276]" id="a746001" value="746001"><span class="c-Form_Radio-icon"></span><span class="c-Form_Radio-label">不満</span>
              </label>
            </div>
          </dd>
        </div>
      </div>
    </dl>
    <dl class="c-Dl_Origin <%= namespace %>-Dl <%= namespace %>-Dl">
      <div>
        <dt>質問8<span class="u-Adjust_Ml-8">必須</span></dt>
        <div class="<%= namespace %>-Dl_Choise <%= namespace %>-Dl_Choise-02">
          <dd class="c-Txt_Normal c-Txt_Emp-01">質問7の回答理由を具体的にお知らせください。</dd>
          <dd class="c-Txt_Cap u-Adjust_Mt-16">
            ※当社が不正回答であると合理的に判断した場合は<span class="c-Txt_Emp-02">特典対象外</span>となります。<br>
            〈不正回答の例〉<br>
            ・質問に関係のない文字が羅列入力されている（例：「ああああ」、「aaaa」）<br>
            ・具体的な回答が入力されていない（例：「特になし」、「なんとなく」）
          </dd>
          <dd class="u-Adjust_Mt-16">
            <div>
              <textarea class="c-Form_Input" value="" name="answers[39429_269277]" placeholder="自由回答" aria-required="true" aria-invalid="false"></textarea>
            </div>
          </dd>
        </div>
      </div>
    </dl>
    <dl class="c-Dl_Origin <%= namespace %>-Dl <%= namespace %>-Dl_Border">
      <div>
        <dt>質問9<span class="u-Adjust_Ml-8">必須</span></dt>
        <div class="<%= namespace %>-Dl_Choise">
          <dd class="c-Txt_Normal c-Txt_Emp-01">今回のキャンペーンに参加した理由を教えてください。</dd>
          <dd class="u-Adjust_Mt-16">
            <div>
              <label class="c-Form_Checkbox <%= namespace %>-Dl_Label" for="a746002">
                <input type="checkbox" name="answers[39429_269278][]" id="a746002" value="746002"><span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">楽天ポイントがもらえるため</span>
              </label>
              <label class="c-Form_Checkbox u-Adjust_Mt-24 <%= namespace %>-Dl_Label" for="a746003">
                <input type="checkbox" name="answers[39429_269278][]" id="a746003" value="746003"><span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">楽天モバイルの「よくあるご質問ページ」または「サポートページ」を改善してほしかったため</span>
              </label>
              <label class="c-Form_Checkbox u-Adjust_Mt-24 <%= namespace %>-Dl_Label" for="a746004">
                <input type="checkbox" name="answers[39429_269278][]" id="a746004" value="746004"><span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">その他</span>
              </label>
            </div>
          </dd>
        </div>
      </div>
    </dl>

    <input type="hidden" name="c" value="楽天">
    <input type="hidden" name="l" value="ja">
    <div class="u-Adjust_Align-center u-Adjust_Mt-64"><button type="button" id="confirmBtn" class="c-Btn_Secondly-large">入力内容を確認する</button></div>

    <div id="support-survey-form-Modal" class="<%= namespace %>-Modal_Container">
      <div class="<%= namespace %>-Modal_Body">
        <button type="button" class="<%= namespace %>-Modal_Close confirmBtnClose"></button>
        <div class="<%= namespace %>-Modal_Content">
          <h2 class="c-Heading_Lv2">入力内容の確認</h2>
          <dl class="u-Adjust_Mt-24 c-Dl_Origin <%= namespace %>-Modal_Dl <%= namespace %>-Modal_Dl-first">
            <dt>質問1<span class="u-Adjust_Ml-8">必須</span></dt>
            <dd>
              <p class="c-Txt_Normal c-Txt_Emp-01">サポートページをご利用いただいた結果、お困りごとは解決できましたか？</p>
              <p id="answers1" class="c-Txt_Normal u-Adjust_Mt-16"></p>
            </dd>
          </dl>
          <dl class="c-Dl_Origin <%= namespace %>-Modal_Dl">
            <dt>質問2<span class="u-Adjust_Ml-8">必須</span></dt>
            <dd>
              <p class="c-Txt_Normal c-Txt_Emp-01">【お困りごとが解決できなかった方へ】<br>今回はどのような情報を探していましたか？</p>
              <p class="c-Txt_Cap u-Adjust_Mt-16">※ 解決できた場合は「解決できた」と記載ください</p>
              <p id="answers2" class="c-Txt_Normal u-Adjust_Mt-16"></p>
            </dd>
          </dl>

          <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">あなたの普段のお考えについて</h2>
          <dl class="c-Dl_Origin <%= namespace %>-Modal_Dl">
            <dt>質問3<span class="u-Adjust_Ml-8">必須</span></dt>
            <dd>
              <p class="c-Txt_Normal c-Txt_Emp-01">あなたはデジタル製品（スマートフォン、パソコン、ゲーム機など）や通信関連のサービスで利用中に困ったことがあった場合、どのように解決を図りますか。最も当てはまるものをお選びください。</p>
              <p id="answers3" class="c-Txt_Normal u-Adjust_Mt-16"></p>
            </dd>
          </dl>
          <dl class="c-Dl_Origin <%= namespace %>-Modal_Dl">
            <dt>質問4<span class="u-Adjust_Ml-8">必須</span></dt>
            <dd>
              <p class="c-Txt_Normal c-Txt_Emp-01">あなたが製品やサービス提供元の窓口へ問い合わせをするときに、最もよく使う問合せ手段はなんですか？</p>
              <p id="answers4" class="c-Txt_Normal u-Adjust_Mt-16"></p>
            </dd>
          </dl>

          <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">楽天モバイルのサービスについて</h2>
          <dl class="c-Dl_Origin <%= namespace %>-Modal_Dl">
            <dt>質問5<span class="u-Adjust_Ml-8">必須</span></dt>
            <dd>
              <p class="c-Txt_Normal c-Txt_Emp-01">今回のキャンペーンで「よくあるご質問ページ」または「サポートページ」を閲覧いただきました。今後、もし楽天モバイル利用中に困ったことがあった場合に、「よくあるご質問ページ」または「サポートページ」を使うと思いますか。</p>
              <div id="answers5" class="c-Txt_Normal u-Adjust_Mt-16"></div>
            </dd>
          </dl>
          <dl class="c-Dl_Origin <%= namespace %>-Modal_Dl">
            <dt>質問6<span class="u-Adjust_Ml-8">必須</span></dt>
            <dd>
              <p class="c-Txt_Normal c-Txt_Emp-01">【質問5で「使わないと思う」と答えた方へ】<br>使わないと思う理由を具体的にお知らせください。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-16">※質問5で「使うと思う」と答えた方は、「使うと思う」と記載ください</p>
              <div id="answers6" class="c-Txt_Normal u-Adjust_Mt-16"></div>
            </dd>
          </dl>
          <dl class="u-Adjust_Mt-24 c-Dl_Origin <%= namespace %>-Modal_Dl <%= namespace %>-Modal_Dl-first">
            <dt>質問7<span class="u-Adjust_Ml-8">必須</span></dt>
            <dd>
              <p class="c-Txt_Normal c-Txt_Emp-01">あなたが閲覧した「よくあるご質問ページ」または「サポートページ」の満足度を教えてください。</p>
              <p id="answers7" class="c-Txt_Normal u-Adjust_Mt-16"></p>
            </dd>
          </dl>
          <dl class="c-Dl_Origin <%= namespace %>-Modal_Dl">
            <dt>質問8<span class="u-Adjust_Ml-8">必須</span></dt>
            <dd>
              <p class="c-Txt_Normal c-Txt_Emp-01">質問7の回答理由を具体的にお知らせください。</p>
              <div id="answers8" class="c-Txt_Normal u-Adjust_Mt-16"></div>
            </dd>
          </dl>
          <dl class="c-Dl_Origin <%= namespace %>-Modal_Dl">
            <dt>質問9<span class="u-Adjust_Ml-8">必須</span></dt>
            <dd>
              <p class="c-Txt_Normal c-Txt_Emp-01">今回のキャンペーンに参加した理由を教えてください。</p>
              <div id="answers9" class="c-Txt_Normal u-Adjust_Mt-16"></div>
            </dd>
          </dl>
          <div class="u-Adjust_Mt-64">
            <div class="u-Adjust_Align-center"><input type="submit" value="この内容で送信する" class="c-Btn_Primary-large"></div>
            <div class="u-Adjust_Align-center u-Adjust_Mt-8"><button type="button" class="c-Btn_Regular-large confirmBtnClose">内容を修正する</button></div>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>
<footer class="g-Footer u-Adjust_Mt-64">
<%- include('/include/_footer') %>
</footer>
</div>
<script src="<%= sitepath %>assets/js/campaign.support-survey.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
