<% const pagetitle = "受信リスト／拒否リストの設定・変更・削除（楽メール）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"guide/rakumail/", label:"楽メール（ご利用方法）"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイル「楽メール」のフィルター機能の受信リスト／拒否リストの操作方法をご案内します。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>

</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>
<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">

    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

    <ul class="<%= nameSpace %>-Layout_Anchorlink">
      <li><a href="#setting01" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>受信リストを設定／変更／削除する</a></li>
      <li><a href="#setting02" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>拒否リストを設定／変更／削除する</a></li>
    </ul>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="setting01">受信リストを設定／変更／削除する</h2>
    <ul class="u-Adjust_Mt-16 c-Flow">
      <li>
        <h4 class="c-Heading_Lv4">
          1.メイン画面の左上の「メニュー」アイコンをタップする
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/filter/6-1-step1.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          2.メニュー画面の右上の「設定」（歯車アイコン）をタップする
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/filter/6-1-step2-230808.png" width="300" height="315" alt="" class="c-Img_Capture"></figure>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          3.設定画面で「受信リスト」をタップする
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/filter/6-1-step3.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          4.受信リストに設定するアドレスを入力して「追加」をタップする
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/filter/6-1-step4-1-230808.png" width="300" height="373" alt="" class="c-Img_Capture" loading="lazy"></figure>
        </div>
        <p class="u-Adjust_Mt-24">
          アドレスの変更と削除は、受信リスト一覧右側に表示されるアイコンから設定が可能です。
        </p>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/filter/6-1-step4-2-230808.png" width="300" height="373" alt="" class="c-Img_Capture" loading="lazy"></figure>
        </div>
      </li>
    </ul>
    <p class="u-Adjust_Mt-24">
      以上で完了です。
    </p>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="setting02">拒否リストを設定／変更／削除する</h2>
    <ul class="u-Adjust_Mt-16 c-Flow">
      <li>
        <h4 class="c-Heading_Lv4">
          1.メイン画面の左上の「メニュー」アイコンをタップする
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/filter/6-2-step1.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          2.メニュー画面の右上の「設定」（歯車アイコン）をタップする
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/filter/6-1-step2-230808.png" width="300" height="315" alt="" class="c-Img_Capture" loading="lazy"></figure>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          3.設定画面で「拒否リスト」をタップする
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/filter/6-2-step3.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          4.拒否リストに設定するアドレスを入力して「追加」をタップする
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/filter/6-2-step4-1-230808.png" width="300" height="373" alt="" class="c-Img_Capture" loading="lazy"></figure>
        </div>
        <p class="u-Adjust_Mt-24">
          アドレスの変更と削除は拒否リスト一覧右側に表示されるアイコンから設定が可能です。
        </p>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/filter/6-2-step4-2-230808.png" width="300" height="373" alt="" class="c-Img_Capture" loading="lazy"></figure>
        </div>
      </li>
    </ul>


        <p class="u-Adjust_Mt-24">
          以上で完了です。
        </p>

    <div class="u-Adjust_Mt-64">
      <ul>
        <li><a href="<%= sitepath %>service/rakumail/" class="c-Btn_Regular"><span>特長・サービス内容を見る</span></a></li>
      </ul>
      <ul class="u-Adjust_Mt-32">
        <li><a href="<%= sitepath %>guide/rakumail/" class="c-Btn_Regular"><span>ご利用方法一覧へ戻る</span></a></li>
      </ul>
    </div>

  </div>
</div>

<%- include('/include/guide/_review') %>
<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%- include('/include/footer/related/_related-service-v2.ejs') %>

  </div>
  <%- include('/include/guide/_inquiry') %>
  <div class="l-System_Container">
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>
  </div>
  <%- include('/include/_footer') %>
</footer>
</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
