<p><a href="<%= sitepath %>assets/pdf/support/substitute/device-rental-program-manual.pdf?240405" target="_blank" class="c-Link_Txt-inline">楽天モバイル端末貸与プログラム説明書<span class="c-Icon_Pdf-l"></span></a></p>
<p class="u-Adjust_Mt-16"><a href="<%= sitepath %>assets/pdf/support/substitute/device-rental-program-manual_20240322.pdf" target="_blank" class="c-Link_Txt-inline">楽天モバイル端末貸与プログラム説明書<span class="c-Icon_Pdf-l"></span></a>（2024年3月22日～2024年4月4日にお申し込みの方）</p>
<p class="u-Adjust_Mt-16"><a href="<%= sitepath %>assets/pdf/support/substitute/device-rental-program-manual_20230601.pdf" target="_blank" class="c-Link_Txt-inline">楽天モバイル端末貸与プログラム説明書<span class="c-Icon_Pdf-l"></span></a>（2023年6月1日～2024年3月21日にお申し込みの方）</p>
<p class="u-Adjust_Mt-16"><a href="<%= sitepath %>assets/pdf/support/substitute/device-rental-program-manual_20230201.pdf" target="_blank" class="c-Link_Txt-inline">楽天モバイル端末貸与プログラム説明書<span class="c-Icon_Pdf-l"></span></a>（2023年2月1日～2023年5月31日にお申し込みの方）</p>
<p class="u-Adjust_Mt-16"><a href="<%= sitepath %>assets/pdf/support/substitute/device-rental-program-manual_20221001.pdf" target="_blank" class="c-Link_Txt-inline">楽天モバイル端末貸与プログラム説明書<span class="c-Icon_Pdf-l"></span></a>（2022年10月1日～2023年1月31日にお申し込みの方）</p>
<p class="u-Adjust_Mt-16"><a href="<%= sitepath %>assets/pdf/support/substitute/device-rental-program-manual_20220701.pdf" target="_blank" class="c-Link_Txt-inline">楽天モバイル端末貸与プログラム説明書<span class="c-Icon_Pdf-l"></span></a>（2022年7月1日～2022年9月30日にお申し込みの方）</p>
<p class="u-Adjust_Mt-16"><a href="<%= sitepath %>assets/pdf/support/substitute/device-rental-program-manual_20220501.pdf" target="_blank" class="c-Link_Txt-inline">楽天モバイル端末貸与プログラム説明書<span class="c-Icon_Pdf-l"></span></a>（2022年5月1日～2022年6月30日にお申し込みの方）</p>
<p class="u-Adjust_Mt-16">※お貸出し時点の重要事項説明書が有効となります。</p>
<p class="u-Adjust_Mt-16">※一部期間において、誤った重要事項説明書が記載されていた期間がございました。訂正してお詫びいたします。</p>
