<% const pagetitle = "Rakuten Turboプラン料金1年間1,980円&20,000ポイント還元キャンペーン | キャンペーン" -%>
<% const namespace = "turbo-campaign-One-year-1980" -%>
<% const imgDir = `${sitepath}assets/img/internet/turbo/campaign/one-year-1980/` -%>
<% const information = {
  campaignState:'finish'
}; -%>
<%-
  include('/_header', {
    pagetitle,
    description: 'プラン料金1年間1,980円&20,000ポイント還元キャンペーン実施中。楽天モバイルのホームルーターRakuten Turbo（ラクテン ターボ）は工事不要、コンセントにさすだけですぐに使えるおうちのWiFi。5G対応の高速インターネットがデータ無制限で使い放題。',
    noindex: false,
    pathname: filepath,
    isTurbo: true,
  });
-%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/internet/turbo/campaign/one-year-1980/one-year-1980.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/internet/turbo/_prepend-body-internet') %>
  <div class="l-System">
    <%- include('/include/internet/turbo/_header', {
      headerType: 'static',
      pagetitle: 'Rakuten Turboプラン料金1年間1,980円&20,000ポイント還元キャンペーン',
      tax: false,
    }) %>

    <div class="l-System_Container u-Adjust_Mt-40 u-Adjust_Mt-pc-48">
      <p class="c-Txt_Normal-xl c-Txt_Emp-01 u-Adjust_Align-center">本キャンペーンは終了しました</p>
    </div>

    <div class="u-Adjust_Mt-40 u-Adjust_Mt-pc-48">
      <div class="c-Theme-Light u-Adjust_Pt-48 u-Adjust_Pt-pc-56 u-Adjust_Pb-48 u-Adjust_Pb-pc-56">
        <p class="u-Adjust_Align-center c-Txt_Emp-01 c-Txt_Normal-m">Turboもひかりも、おトクなキャンペーン実施中</p>
        <div class="u-Adjust_Mt-16">
          <%- include('/include/internet/turbo/common/_bnr', {
            orglid1: 'rmt_internet_turbo_campaign_one-year-1980_internet_turbo_campaign_six-month-free_01',
            orglid2: 'rmt_internet_turbo_campaign_one-year-1980_hikari_campaign_six-month-free_01',
            hiddenBtn: true,
          }) %>
        </div>
      </div>
    </div>

    <p class="c-Txt_Cap u-Adjust_Align-center u-Adjust_Mt-16">※ページの情報はキャンペーン開催時点の情報です</p>

    <section class="<%= namespace %>-Kv u-Adjust_Mt-24">
      <div class="<%= namespace %>-Kv_Bg">
        <h1 class="u-Adjust_Align-center">
          <picture class="<%= namespace %>-Kv_Image">
            <source media="(max-width:834px)" srcset="<%= imgDir %>img-kv-01-sp-231221.png" width="375" height="460">
            <img src="<%= imgDir %>img-kv-01-pc-231221.png" alt="Rakuten Turbo 工事不要！！コンセントにさすだけ！すぐに使える おうちのWi-Fi プラン料金1年間 1,980円/月 スマホとセットで使うと20,000ポイント還元で最初の1年間プラン料金1,980円が実質10カ月無料。さらに楽天市場のお買い物がポイント毎日全員7倍 R SPU! ※製品代金 別途41,580円 ※プラン料金2年目以降4,840円 ※その他条件あり ※ポイントはRakuten Turboの課金が確認された月の翌々月末日ごろに進呈" width="1440" height="300">
          </picture>
        </h1>
      </div>
      <div class="<%= namespace %>-Kv_Content">
        <picture>
          <source media="(max-width:834px)" srcset="<%= imgDir %>img-kv-02-sp-231221.png" width="375" height="96">
          <img src="<%= imgDir %>img-kv-02-pc-231221.png" alt="SPU! 楽天市場のお買い物が毎日全員ポイント7倍※4　Rakuten Turboご利用で+2倍　Rakuten最強プランご利用で+4倍" width="1440" height="80">
        </picture>
      </div>

      <div class="l-System_Container u-Adjust_Pt-16 u-Adjust_Pb-32">
        <p class="u-Adjust_Align-center c-Txt_Emp-02">Rakuten Turbo プラン料金1年間月額1,980円<br class="<%= namespace %>-Utility_Display-sp">キャンペーン期間</p>
        <p class="u-Adjust_Align-center u-Adjust_Mt-8">Web：2024年2月20日（火）23:59 まで<br>店舗：2024年2月20日（火）閉店 まで</p>
        <p class="<%= namespace %>-Util_Align-center-pc c-Txt_Cap u-Adjust_Mt-8">※2024年2月1日（木）にキャンペーン期間が変更となりました ※詳細条件はページ下部の<a href="#campaign-rule" class="js-scroll c-Link_Txt" data-ratid="rmt_anchor_05" data-ratevent="click" data-ratparam="all">キャンペーンルール</a>参照 ※2024年2月21日（水）9:00 より新キャンペーン開始予定</p>
      </div>
      <div class="<%= namespace %>-Kv_Notes u-Adjust_Pb-32 u-Adjust_Pb-pc-40">
        <div class="l-System_Container">
          <ol>
            <li class="c-Txt_Cap c-Txt_Emp-01">※1 <span class="c-Txt_Normal-s">製品代金 別途41,580円。2年目以降4,840円／月</span></li>
            <li class="c-Txt_Cap">※2 Wi-Fiの接続が必要 ※3 ポイントバックの条件あり。「実質価格」とは後日付与されるポイントを加味した価格であり、実際のお支払金額とは異なります ※4 楽天会員1倍、Rakuten Turboまたは楽天ひかりご利用で＋2倍 、Rakuten最強プランご利用で＋4倍。毎月の獲得上限ポイントはRakuten Turboまたは楽天ひかりが1,000ポイント、楽天モバイルが2,000ポイント。いずれも期間限定ポイントでの進呈。ポイント未利用時の倍率 ※表記の金額は特に記載のある場合を除きすべて税込
              <br>
              <a href="#caution" class="js-scroll c-Link_Txt" data-ratid="rmt_anchor_01" data-ratevent="click" data-ratparam="all"> その他条件の詳細はこちら</a>
            </li>
          </ol>
        </div>
      </div>
      <% if (information.campaignState !== 'finish') { %>
      <div class="<%= namespace %>-Kv_Btn u-Adjust_Pt-32 u-Adjust_Pb-40">
        <div class="l-System_Container">
          <ul class="<%= namespace %>-Kv_Btn-items">
            <li class="<%= namespace %>-Kv_Btn-item">
              <a href="<%= sitepath %>internet/turbo/application/?l-id=rmt_application_02" class="<%= namespace %>-Kv_Btn-primary" data-ratid="rmt_application_02" data-ratevent="click" data-ratparam="all">
                <span class="<%= namespace %>-Kv_Btn-icon c-Icon_Cart-l"></span>
                <span>Webでお申し込み</span>
              </a>
            </li>
            <li class="<%= namespace %>-Kv_Btn-item">
              <a href="<%= sitepath %>shop/?l-id=rmt_shop_02" class="<%= namespace %>-Kv_Btn-secondly" data-ratid="rmt_shop_02" data-ratevent="click" data-ratparam="all">
                <span class="<%= namespace %>-Kv_Btn-icon c-Icon_Shop-l"></span>
                <span>ショップでご相談</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <% } -%>
    </section>

    <div class="<%= namespace %>-List_Links-internal js-internal js-slide-internal">
      <div class="<%= namespace %>-List_Links-internal-inner">
        <ul class="<%= namespace %>-List_Links-internal-items">
          <li class="<%= namespace %>-List_Links-internal-item">
            <a href="#about" class="<%= namespace %>-List_Links-internal-link" data-ratid="rmt_anchor_menu_fv_01" data-ratevent="click" data-ratparam="all">
              <div class="<%= namespace %>-List_Links-internal-content">
                <span class="<%= namespace %>-List_Links-internal-icon c-Icon_Arrow-down-l"></span>
                <div class="<%= namespace %>-List_Links-internal-txt">
                  <span class="<%= namespace %>-Txt_Br-sp">Rakuten&nbsp;</span>Turboとは
                </div>
              </div>
              <span class="<%= namespace %>-List_Links-internal-image">
                <img src="<%= imgDir %>icon-about-231005.svg" width="32" height="32" alt="">
              </span>
            </a>
          </li>
          <li class="<%= namespace %>-List_Links-internal-item">
            <a href="#campaign" class="<%= namespace %>-List_Links-internal-link" data-ratid="rmt_anchor_menu_fv_02" data-ratevent="click" data-ratparam="all">
              <div class="<%= namespace %>-List_Links-internal-content">
                <span class="<%= namespace %>-List_Links-internal-icon c-Icon_Arrow-down-l"></span>
                <div class="<%= namespace %>-List_Links-internal-txt">キャンペーン<br class="<%= namespace %>-Utility_Display-sp">特典</div>
              </div>
              <span class="<%= namespace %>-List_Links-internal-image">
                <img src="<%= imgDir %>icon-campaign-231005.svg" width="32" height="32" alt="">
              </span>
            </a>
          </li>
          <li class="<%= namespace %>-List_Links-internal-item">
            <a href="#simulation" class="<%= namespace %>-List_Links-internal-link" data-ratid="rmt_anchor_menu_fv_03" data-ratevent="click" data-ratparam="all">
              <div class="<%= namespace %>-List_Links-internal-content">
                <span class="<%= namespace %>-List_Links-internal-icon c-Icon_Arrow-down-l"></span>
                <div class="<%= namespace %>-List_Links-internal-txt">月々のお支払い料金</div>
              </div>
              <span class="<%= namespace %>-List_Links-internal-image">
                <img src="<%= imgDir %>icon-simulation-230914.svg" width="32" height="32" alt="">
              </span>
            </a>
          </li>
          <li class="<%= namespace %>-List_Links-internal-item">
            <a href="#area" class="<%= namespace %>-List_Links-internal-link" data-ratid="rmt_anchor_menu_fv_05" data-ratevent="click" data-ratparam="all">
              <div class="<%= namespace %>-List_Links-internal-content">
                <span class="<%= namespace %>-List_Links-internal-icon c-Icon_Arrow-down-l"></span>
                <div class="<%= namespace %>-List_Links-internal-txt">対応エリア</div>
              </div>
              <span class="<%= namespace %>-List_Links-internal-image">
                <img src="<%= imgDir %>icon-area-231005.svg" width="32" height="32" alt="">
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div id="js-trigger-nav"></div>


    <section class="u-Adjust_Pt-40 <%= namespace %>-Util_Gradient">
      <div class="l-System_Container">

        <!-- Modal Area -->
        <h2 id="about" class="<%= namespace %>-Util_Headding-1 u-Adjust_Align-center">Rakuten Turboとは？</h2>
        <p class="u-Adjust_Align-center c-Txt_Emp-01 u-Adjust_Mt-16">今すぐおうちにWi-Fi環境が欲しい方へ<br class="u-Show_Oox">ぴったりなホームルーターです</p>

          <div class="u-Adjust_Align-center u-Show_Oox u-Adjust_Mt-24">
            <img src="<%= imgDir %>img-wifi-01.png" alt="" width="123" height="177">
          </div>

          <div class="l-Media_Grid-half <%= namespace %>-Util_Mt-54-32">
            <div>
              <div class="u-Rat_Appear-height" data-ratid="rmt_modal_ksp_01" data-ratevent="appear" data-ratparam="all"></div>
              <a href="#modal-1" class="js-Modal c-Card_Normal <%= namespace %>-Card" data-ratid="rmt_modal_open_ksp_01" data-ratevent="click" data-ratparam="all">
                <img src="<%= imgDir %>img-card-1.png" alt="">
                <div class="<%= namespace %>-Card_Bottom">
                  <p class="c-Txt_Emp-01">通信安定でサクサクつながる</p>
                </div>
              </a>
            </div>
            <div>
              <div class="u-Rat_Appear-height" data-ratid="rmt_modal_ksp_02" data-ratevent="appear" data-ratparam="all"></div>
              <a href="#modal-2" class="js-Modal c-Card_Normal <%= namespace %>-Card" data-ratid="rmt_modal_open_ksp_02" data-ratevent="click" data-ratparam="all">
                <img src="<%= imgDir %>img-card-2.png" alt="">
                <div class="<%= namespace %>-Card_Bottom">
                  <p class="c-Txt_Emp-01">工事不要、欲しいときにすぐ使える</p>
                </div>
              </a>
            </div>
          </div>
          <div class="l-Media_Grid-half u-Adjust_Mt-32">
            <div>
              <div class="u-Rat_Appear-height" data-ratid="rmt_modal_ksp_03" data-ratevent="appear" data-ratparam="all"></div>
              <a href="#modal-3" class="js-Modal c-Card_Normal <%= namespace %>-Card" data-ratid="rmt_modal_open_ksp_03" data-ratevent="click" data-ratparam="all">
                <img src="<%= imgDir %>img-card-3.png" alt="">
                <div class="<%= namespace %>-Card_Bottom">
                  <p class="c-Txt_Emp-01">かんたん接続、面倒な設定もなし</p>
                </div>
              </a>
            </div>
            <div>
              <div class="u-Rat_Appear-height" data-ratid="rmt_modal_ksp_04" data-ratevent="appear" data-ratparam="all"></div>
              <a href="#modal-4" class="js-Modal c-Card_Normal <%= namespace %>-Card" data-ratid="rmt_modal_open_ksp_04" data-ratevent="click" data-ratparam="all">
                <img src="<%= imgDir %>img-card-4.png" alt="">
                <div class="<%= namespace %>-Card_Bottom">
                  <p class="c-Txt_Emp-01">楽天ポイントが、貯まる、使える</p>
                </div>
              </a>
            </div>
          </div>


      <!-- modal-1 -->
      <div id="modal-1" style="display:none;">
        <h3 class="u-Adjust_Align-center <%= namespace %>-Util_Headding-2">
          通信安定でサクサクつながる
        </h3>
        <div class="<%= namespace %>-Card_Herf u-Adjust_Mt-24">
          <div>
            <h4 class="c-Heading_Lv4 u-Adjust_Align-center">5G Sub6 / 4G LTE</h4>
            <p class="u-Adjust_Mt-8">
              <img src="<%= imgDir %>img-modal-01.png" alt="">
            </p>
            <p class="u-Adjust_Mt-8">
              屋内でも途切れず使える5G Sub6対応<span class="c-Txt_Cap">※1</span>。さらに、人口カバー率98%の楽天回線 4G LTEエリア対応<span class="c-Txt_Cap">※2</span>だから安心。
            </p>
          </div>
          <div>
            <h4 class="c-Heading_Lv4 u-Adjust_Align-center">家中快適、Wi-Fi6</h4>
            <p class="u-Adjust_Mt-8">
              <img src="<%= imgDir %>img-modal-02.png" alt="">
            </p>
            <p class="u-Adjust_Mt-8">Wi-Fi6対応だから、家中で快適にインターネットが利用できます。<br>
              しかも最大接続台数は128台、利用するデバイスが増えても安心です。</p>
          </div>
        </div>
        <p class="c-Txt_Cap u-Adjust_Mt-24">
          ※1 5Gは一部エリアのみ※ 2 人口カバー率は国勢調査に用いられる約500m区画において50%以上の場所で通信可能なエリアを基に算出。2022年10月時点 Rakuten最強プランで利用できるサービスエリアとは異なります
        </p>
        <div class="u-Adjust_Align-center u-Adjust_Mt-24">
          <a class="c-Btn_Regular js-Modal_Close"><span>閉じる</span></a>
        </div>
      </div>
      <!-- modal-2 -->
      <div id="modal-2" style="display:none;">
        <h3 class="u-Adjust_Align-center <%= namespace %>-Util_Headding-2">
          工事不要、欲しいときにすぐ使える
        </h3>
        <div class="<%= namespace %>-Card_Herf u-Adjust_Mt-24">
          <div>
            <h4 class="c-Heading_Lv4 u-Adjust_Align-center">工事不要</h4>
            <p class="u-Adjust_Mt-8">
              <img src="<%= imgDir %>img-modal-03.png" alt="">
            </p>
            <p class="u-Adjust_Mt-8">回線工事のために作業員が部屋に入る心配はありません。</p>
          </div>
          <div>
            <h4 class="c-Heading_Lv4 u-Adjust_Align-center">引っ越した日からすぐWi-Fi</h4>
            <p class="u-Adjust_Mt-8">
              <img src="<%= imgDir %>img-modal-04.png" alt="">
            </p>
            <p class="u-Adjust_Mt-8">お申し込み完了から最短2日でお届け。<br>
              引っ越した日からWi-Fi生活を始めることができます。</p>
          </div>
        </div>
        <div class="u-Adjust_Align-center u-Adjust_Mt-24">
          <a class="c-Btn_Regular js-Modal_Close"><span>閉じる</span></a>
        </div>
      </div>
      <!-- modal-3 -->
      <div id="modal-3" style="display:none;">
        <h3 class="u-Adjust_Align-center <%= namespace %>-Util_Headding-2">
          かんたん接続、面倒な設定もなし
        </h3>
        <div class="<%= namespace %>-Card_Herf u-Adjust_Mt-24">
          <div>
            <h4 class="c-Heading_Lv4 u-Adjust_Align-center">コンセントにさすだけ</h4>
            <p class="u-Adjust_Mt-8">
              <img src="<%= imgDir %>img-modal-05.png" alt="">
            </p>
            <p class="u-Adjust_Mt-8">LANケーブルをつないだり、複雑な作業はいりません。RakutenTurboはコンセントにさすだけでOKです。</p>
          </div>
          <div>
            <h4 class="c-Heading_Lv4 u-Adjust_Align-center">QRコードを読み込むだけ</h4>
            <p class="u-Adjust_Mt-8">
              <img src="<%= imgDir %>img-modal-06.png" alt="">
            </p>
            <p class="u-Adjust_Mt-8">ID、パスワードの入力はいりません。スマホでQRコードを読み込むだけでかんたんに接続できます。</p>
            <p class="c-Txt_Cap">※画像はイメージです</p>
          </div>
        </div>
        <div class="u-Adjust_Align-center u-Adjust_Mt-24">
          <a class="c-Btn_Regular js-Modal_Close"><span>閉じる</span></a>
        </div>
      </div>
      <!-- modal-4 -->
      <div id="modal-4" style="display:none;">
        <h3 class="u-Adjust_Align-center <%= namespace %>-Util_Headding-2">
          楽天ポイントが、貯まる、使える
        </h3>
        <div class="<%= namespace %>-Card_Herf u-Adjust_Mt-24">
          <div>
            <h4 class="c-Heading_Lv4 u-Adjust_Align-center">100円（税別）お支払いごとに<br>
              1ポイント貯まる</h4>
            <p class="u-Adjust_Mt-8">
              <picture>
                <source media="(max-width:834px)" srcset="<%= imgDir %>img-modal-07-231215-sp.png">
                <img src="<%= imgDir %>img-modal-07-231215.png" alt="">
              </picture>
            </p>
            <p class="u-Adjust_Mt-8">Rakuten Turboの月々のお支払い100円（税別）につき1ポイントが貯まります。</p>
          </div>
          <div>
            <h4 class="c-Heading_Lv4 u-Adjust_Align-center">スマホとセットで<br>
              ポイント毎日全員7倍<span class="c-Txt_Cap">※1</span>
            </h4>
            <p class="u-Adjust_Mt-8">
              <picture>
                <source media="(max-width:834px)" srcset="<%= imgDir %>img-modal-08-sp.png">
                <img src="<%= imgDir %>img-modal-08.png" alt="">
              </picture>
            </p>
            <p class="u-Adjust_Mt-8">Rakuten Turboご契約中、楽天市場のお買い物が+2倍、Rakuten最強プランご利用で+4倍。</p>
          </div>
        </div>

        <div class="u-Adjust_Mt-24">
          <h4 class="c-Heading_Lv4 u-Adjust_Align-center">毎月のお支払いに<br>
            ポイントが使える<span class="c-Txt_Cap">※2</span></h4></h4>
          <div class="u-Adjust_Align-center u-Adjust_Mt-8">
            <picture>
              <source media="(max-width:834px)" srcset="<%= imgDir %>img-modal-09-231215-sp.png">
              <img src="<%= imgDir %>img-modal-09-231215.png" alt="">
            </picture>
          </div>
        </div>
        <p class="u-Adjust_Mt-8">貯まったポイントは毎月のお支払いや、楽天市場でのお買い物に使えます。<span class="c-Txt_Cap">※2</span></p>
        <p class="c-Txt_Cap u-Adjust_Mt-24">
          ※1 楽天会員1倍、Rakuten Turboまたは楽天ひかりご利用で＋2倍 。楽天モバイルご利用で＋4倍（スーパーホーダイ、組み合わせプラン、コミコミプランは対象外）。毎月の獲得上限ポイントはRakuten Turboまたは楽天ひかりが1,000ポイント、楽天モバイルが2,000ポイント。いずれも期間限定ポイントでの進呈。ポイント未利用時の倍率<br>
          ※2 1ポイント=1円
        </p>
        <div class="u-Adjust_Align-center u-Adjust_Mt-24">
          <a class="c-Btn_Regular js-Modal_Close"><span>閉じる</span></a>
        </div>
      </div>
      <!-- //Modal Area -->

    </div>


    <div class="<%= namespace %>-Product">
      <div class="<%= namespace %>-Product_Inner">

        <div class="<%= namespace %>-Product_Borderbox">
          <div class="l-System_Container">
            <p class="u-Adjust_Align-center">
              <span class="c-Txt_Emp-01">8日間は返品・返金できるから安心</span>
              <span class="<%= namespace %>-Txt_Br-sp c-Txt_Cap">※条件あり</span>
            </p>
            <div class="u-Adjust_Align-center">
              <a href="#modal1" class="js-Modal c-Link_Txt-inline" data-ratid="rmt_modal_01" data-ratevent="click" data-ratparam="all">詳しく見る<span class="c-Icon_Zoom-in-l"></span></a>
              <div id="modal1" style="display:none;">
                <div class="<%= namespace %>_Modal">
                  <h3 class="c-Heading_Lv3">返品・返金の流れ</h3>
                  <p class="u-Adjust_Mt-16">製品の開封後でも、ご満足いただけない場合は3ステップで返品・返金が可能です。</p>
                  <div class="c-Accordion-emp u-Adjust_Mt-24">
                    <button type="button" id="accordion-emp-1" class="c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-emp-1-content">
                      <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
                      <span class="c-Accordion-emp_Num">STEP 1</span><span class="c-Accordion-emp_Trigger-txt">製品到着から8日以内にご申告</span>
                    </button>
                    <div id="accordion-emp-1-content" class="c-Accordion-emp_Panel-step js-Accordion_Panel" role="region" aria-labelledby="accordion-emp-1" aria-hidden="false">
                      <p>リンク先ページ下部の「解決できない場合はお問い合わせ」ボタンを押下後に表示される、「お問い合わせ窓口に相談する」よりご連絡ください。</p>
                      <p class="u-Adjust_Mt-16">
                        <a href="https://portal.mobile.rakuten.co.jp/support#main" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">返品・返金の問い合せをする<span class="c-Icon_New-window-l"></span></a>
                      </p>
                    </div>
                  </div>
                  <div class="c-Accordion-emp u-Adjust_Mt-8">
                    <button type="button" id="accordion-emp-2" class="c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-emp-2-content">
                      <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
                      <span class="c-Accordion-emp_Num">STEP 2</span><span class="c-Accordion-emp_Trigger-txt">製品・付属品のご返送</span>
                    </button>
                    <div id="accordion-emp-2-content" class="c-Accordion-emp_Panel-step js-Accordion_Panel" role="region" aria-labelledby="accordion-emp-2" aria-hidden="true">
                      <p>製品・付属品を元払いにて当社へ返送してください。<br>返送先はSTEP1の連絡時にご案内します。</p>
                      <p class="c-Txt_Normal-s c-Txt_Emp-01 u-Adjust_Mt-16">※返送に関する注意事項</p>
                      <div class="u-Adjust_Mt-8">
                        <ul class="<%= namespace %>_Modal-list">
                          <li>返送に必要なダンボール箱などはお客様でご用意ください。</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="c-Accordion-emp u-Adjust_Mt-8">
                    <button type="button" id="accordion-emp-3" class="c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-emp-3-content">
                      <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
                      <span class="c-Accordion-emp_Num">STEP 3</span><span class="c-Accordion-emp_Trigger-txt">製品確認および返金</span>
                    </button>
                    <div id="accordion-emp-3-content" class="c-Accordion-emp_Panel-step js-Accordion_Panel" role="region" aria-labelledby="accordion-emp-3" aria-hidden="true">
                      <p>当社で製品・付属品を確認後、翌々月末までに当社指定の方法で返金します。</p>
                      <p class="c-Txt_Normal-s c-Txt_Emp-01 u-Adjust_Mt-16">※返品・返金に関する注意事項</p>
                      <p class="c-Txt_Normal-s u-Adjust_Mt-8">以下の場合は返品・返金の対象外となります</p>
                      <div class="u-Adjust_Mt-8">
                        <ul class="<%= namespace %>_Modal-list">
                          <li>製品到着から9日以降のご申告</li>
                          <li>本体・付属品に破損・欠損がある</li>
                          <li>製品到着から30日以内に、返送された製品が当社に到着しない</li>
                          <li>指定の宛先以外への返送</li>
                          <li>着払い等での返送</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="u-Adjust_Mt-24">
                    <h4 class="c-Heading_Lv4">注意事項</h4>
                    <div class="u-Adjust_Mt-8">
                      <ul class="c-List_Text-disc">
                        <li class="c-Txt_Normal-s">返品・返金の際に、通信速度を確認させていただく場合があります。詳しくは「<a href="<%= sitepath %>faq/detail/10000658/" target="_blank" rel="noopener noreferrer">返品・返金できますか？ > 通信速度の測定について<span class="c-Icon_New-window-l"></span></a>」をご覧ください。</li>
                        <li class="c-Txt_Normal-s u-Adjust_Mt-8">契約事務手数料は返金対象外です。プラン料金の課金開始日前に解約した場合、解約から2カ月以内を目安に請求いたします。</li>
                        <li class="c-Txt_Normal-s u-Adjust_Mt-8">料金プランは別途、解約の手続きが必要です。ご希望の場合は「<a href="<%= sitepath %>internet/turbo/support/contract/cancel/" target="_blank" rel="noopener noreferrer">ご解約について<span class="c-Icon_New-window-l"></span></a>」をご覧ください。</li>
                        <li class="c-Txt_Normal-s u-Adjust_Mt-8">製品到着の前にお申し込みをキャンセルしたい場合は「<a href="<%= sitepath %>faq/detail/00001971/" target="_blank" rel="noopener noreferrer">お申し込みをキャンセルしたい<span class="c-Icon_New-window-l"></span></a>」をご覧ください。</li>
                        <li class="c-Txt_Normal-s u-Adjust_Mt-8">初期契約解除をご希望の場合は「<a href="<%= sitepath %>internet/turbo/support/contract/initial-contract/" target="_blank" rel="noopener noreferrer">初期契約解除について<span class="c-Icon_New-window-l"></span></a>」をご覧ください。</li>
                        <li class="c-Txt_Normal-s u-Adjust_Mt-8">返品条件は事前予告のうえ変更する場合があります。</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="<%= namespace %>-Visual">
          <h2 class="c-Heading_Lv2 u-Adjust_Align-center">欲しいときにすぐWi-Fi</h2>
          <p class="u-Adjust_Mt-24 u-Adjust_Align-center c-Txt_Emp-01">お引っ越し後すぐに。<br class="<%= namespace %>-Utility_Display-sp">スマートスピーカーなどを購入したとき。<br class="<%= namespace %>-Utility_Display-sp">お子様のリモート学習が必要なとき。<br>
            <br class="<%= namespace %>-Utility_Display-sp">
            工事不要、かんたん接続のRakuten Turboが<br class="<%= namespace %>-Utility_Display-sp">インターネット生活をサポート。
          </p>
          <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
            <img src="<%= imgDir %>img-vishal-01.png" alt="" width="314" height="309">
          </div>
          <div class="u-Adjust_Align-center">
            <a href="<%= sitepath %>internet/turbo/product/" class="c-Btn_Regular-large"><span>製品を詳しく見る</span></a>
          </div>
        </div>


      </div>
    </div>

  </section>

    <section class="<%= namespace %>-Campaign" id="campaign">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center" data-ratid="scroll-02_cpn" data-ratevent="appear">キャンペーン特典</h2>
        <ol class="<%= namespace %>-Campaign_Grid">
          <li class="<%= namespace %>-Campaign_Box">
            <div class="<%= namespace %>-Campaign_Content">
              <h3 class="<%= namespace %>-Campaign_Title">
                <span class="<%= namespace %>-Campaign_Counter">1</span>
                Rakuten Turboにお申し込み<sup class="c-Txt_Cap">※1</sup>
              </h3>
              <span class="u-Adjust_Mt-16">
                <img src="<%= imgDir %>img-turbo01.svg" alt="" width="121" height="123">
              </span>
              <span class="u-Adjust_Mt-8">
                <img src="<%= imgDir %>icon-Chevron-down.svg" alt="" width="37" height="14">
              </span>
              <div class="<%= namespace %>-Campaign_Image u-Adjust_Mt-8">
                <img src="<%= imgDir %>img-turbo02.svg" alt="" width="291" height="119">
              </div>
              <p class="u-Adjust_Mt-8 u-Adjust_Align-center">
                <a href="<%= sitepath %>internet/turbo/flow/" class="c-Link_Txt-inline">ご利用開始までの流れを見る<span class="c-Icon_Chevron-right"></span></a>
              </p>
            </div>
          </li>
          <li class="<%= namespace %>-Campaign_Box">
            <div class="<%= namespace %>-Campaign_Content">
              <h3 class="<%= namespace %>-Campaign_Title">
                <span class="<%= namespace %>-Campaign_Bubble">
                  <picture>
                    <source media="(max-width:834px)" srcset="<%= imgDir %>img-mobile-bubble-sp.svg" width="132" height="38">
                    <img src="<%= imgDir %>img-mobile-bubble-pc.svg" alt="さらに" width="116" height="42">
                  </picture>
                </span>
                <span class="<%= namespace %>-Campaign_Counter">2</span>
                楽天モバイルをご利用で
              </h3>
              <span class="u-Adjust_Mt-16">
                <img src="<%= imgDir %>img-mobile01.svg" alt="" width="123" height="123">
              </span>
              <span class="u-Adjust_Mt-8">
                <img src="<%= imgDir %>icon-Chevron-down.svg" alt="" width="37" height="14">
              </span>
              <div class="<%= namespace %>-Campaign_Image u-Adjust_Mt-16">
                <img src="<%= imgDir %>img-mobile02.svg" alt="" width="299" height="94">
              </div>
            </div>
            <p class="u-Adjust_Mt-8">
              <a href="/fee/saikyo-plan/" class="c-Link_Txt-inline" target="_blank" rel="noopener noreferrer">
                Rakuten最強プラン（料金プラン）の<br class="<%= namespace %>-Utility_Display-sp">詳細を見る<span class="c-Icon_New-window-l"></span>
              </a>
            </p>
          </li>
        </ol>

        <p class="c-Txt_Cap u-Adjust_Mt-16">
          ※1 製品がお手元に届いてから、もしくは店舗で受け取った日から9日目以内に利用開始 ※2 Rakuten最強プランの利用が必要。その他条件あり<br>
          <a href="#caution" class="c-Link_Txt js-scroll" data-ratid="rmt_anchor_02" data-ratevent="click" data-ratparam="all">その他条件の詳細はこちら</a>
        </p>
        <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
          <a href="#campaign-rule" class="c-Link_Txt-inline" data-ratid="rmt_anchor_03" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>適用条件詳細をキャンペーンルールで見る</a>
        </p>
      </div>
    </section>

    <div class="<%= namespace %>-Spu">
      <div class="l-System_Container">
        <div class="<%= namespace %>-Utility_Display-sp-another">
          <img src="<%= imgDir %>img-spu-icon-sp.png" alt="R SPU!" width="185" height="72">
          <div class="<%= namespace %>-Spu_Text-img">
            <img src="<%= imgDir %>img-spu-text-sp-231201.png" width="342" height="47" alt="Rakuten Turboのご契約中、楽天市場でのお買い物がポイント+2倍">
          </div>
          <div class="<%= namespace %>-Spu_Text-img-m-narrow">
            <img src="<%= imgDir %>img-spu-set-sp-231201.png" alt="スマホとセットで使えばポイント毎日全員7倍!!" width="342" height="68">
          </div>
        </div>

        <div class="<%= namespace %>-Spu_Text-img <%= namespace %>-Spu_Text-img--flex <%= namespace %>-Utility_Display-pc-another">
          <img src="<%= imgDir %>img-spu-icon-pc.png" alt="R SPU!" width="220" height="85">
          <div class="u-Adjust_Align-left <%= namespace %>-Spu_Text-set">
            <img src="<%= imgDir %>img-spu-text-pc-231201.png"  alt="Rakuten Turboのご契約中、楽天市場でのお買い物がポイント+2倍" width="559" height="25">
            <img src="<%= imgDir %>img-spu-set-pc-231201.png" alt="スマホとセットで使えばポイント毎日全員7倍!!" width="560" height="56">
          </div>
        </div>
        <p class="c-Txt_Cap <%= namespace %>-Spu_Cap">※ 楽天会員1倍、Rakuten Turboまたは楽天ひかりご利用で＋2倍 。楽天モバイルご利用で＋4倍（スーパーホーダイ、組み合わせプラン、コミコミプランは対象外）
          <a href="<%= sitepath %>internet/turbo/campaign/spu/" class="c-Link_Txt-inline">SPUの詳細はこちら</a></p>
      </div>
    </div>

    <section class="<%= namespace %>-Simulation u-Adjust_Mt-8" id="simulation">
      <div class="l-System_Container">

        <%- include('/include/internet/turbo/common/_simulation') %>

        <div class="<%= namespace %>-Simulation_Btn">
          <div class="<%= namespace %>-Simulation_Btn-inner">
            <a href="<%= sitepath %>internet/turbo/fee/" class="c-Btn_Regular-large" data-lid_no="01"><span>料金を詳しく見る</span></a>
          </div>
        </div>
        <p class="c-Txt_Cap u-Adjust_Mt-24">
          ※1 Rakuten TurboとRakuten Turbo 5Gの同時契約が必要。製品代金 別途41,580円 ※2 プラン料金の課金開始日より前にご解約した場合、ご解約から2カ月以内を目安に請求いたします
          <br>※3 製品代金（41,580円）48回払いは楽天カードのみ
        </p>
      </div>
    </section>

    <section class="<%= namespace %>-Area" id="area">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center" data-ratid="scroll-03_area" data-ratevent="appear">対応エリアのご確認</h2>
        <div class="<%= namespace %>-Area_Lead">
          <p>お申し込み前に必ず、ホームルーターをご利用する場所がRakuten Turboサービス対応エリアかご確認ください。</p>
          <p class="c-Txt_Cap u-Adjust_Mt-8">※高層階（およそ16階以上）ではない場所に設置してください</p>
        </div>
        <div class="<%= namespace %>-Area_Image">
          <img src="<%= imgDir %>img-area.svg" width="330" height="220" alt="">
        </div>
        <div class="<%= namespace %>-Area_Btn">
          <div class="<%= namespace %>-Area_Btn-inner">
            <a href="<%= sitepath %>internet/turbo/area/" data-lid_no="01" class="c-Btn_Regular-large"><span>通信・エリアを詳しく見る</span></a>
          </div>
        </div>
      </div>
    </section>

    <section class="<%= namespace %>-Application <%= namespace %>-Utility_Bg-gray">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center" data-ratid="scroll-03_application" data-ratevent="appear"><span class="<%= namespace %>-Txt_Br-sp">ご希望に合わせて選べる</span>お申し込み方法</h2>

        <div class="<%= namespace %>-Application_Grid">
          <div class="<%= namespace %>-Application_Box">
            <div class="<%= namespace %>-Application_Bubble">
              <img src="<%= imgDir %>img-web-title-pc.png" alt="Webでお申し込み" width="314" height="56">
            </div>
            <div class="<%= namespace %>-Application_Content">
              <div>
                <p>
                  24時間いつでもどこでもお申し込み可能。<br>
                  製品はお申し込み完了から<span class="c-Txt_Emp-02">最短2日</span>でお届けします。<span class="c-Txt_Cap">※1</span>お申し込み後、ご登録のメールアドレスに完了メールをお送りします。<span class="c-Txt_Cap">※2</span>
                </p>

                <ol class="u-Adjust_Mt-8">
                  <li class="c-Txt_Cap">※1 お届けまでに1週間ほどお時間をいただく場合がございます。</li>
                  <li class="c-Txt_Cap">※2 完了メールは（＠mobile.rakuten.co.jp）のドメインで配信されます</li>
                </ol>
              </div>
              <div class="<%= namespace %>-Application_Image u-Adjust_Mb-8">
                <img src="<%= imgDir %>img-web-pc.png" alt="" width="128" height="128">
              </div>
            </div>
            <% if (information.campaignState !== 'finish') { %>
            <div class="<%= namespace %>-Application_Btn">
              <a href="<%= sitepath %>internet/turbo/application/" class="c-Btn_Primary-large"><span>Webでお申し込み</span></a>
            </div>
            <% } -%>
          </div>

          <div class="<%= namespace %>-Application_Box">
            <div class="<%= namespace %>-Application_Bubble">
              <img src="<%= imgDir %>img-shop-title-pc.png" alt="ショップでお申し込み" width="314" height="56">
            </div>
            <div class="<%= namespace %>-Application_Content">
              <div>
                <p>
                  <span class="<%= namespace %>-Txt_Br-pc">楽天モバイルのショップでもお申し込み可能。</span>お申し込みから初期設定まで丁寧にサポートします。</span>
                </p>
              </div>
              <div class="<%= namespace %>-Application_Image u-Adjust_Mb-8">
                <img src="<%= imgDir %>img-shop-pc.png" alt="" width="128" height="128">
              </div>
            </div>

            <div class="<%= namespace %>-Search_Select u-Adjust_Mt-24">
              <div class="c-Form_Select">
                <select name="" id="js-shop-Search_Select-pref" data-ratid="rmt_select-pref_01" data-ratevent="click" data-ratparam="all">
                  <option value="">都道府県を選択</option>
                </select>
                <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
              </div>
              <div class="c-Form_Select">
                <select name="" id="js-shop-Search_Select-city" aria-disabled="true" data-ratid="rmt_select-city_01" data-ratevent="click" data-ratparam="all" disabled>
                  <option value="">市区町村を選択</option>
                </select>
                <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
              </div>
            </div>
            <div class="<%= namespace %>-Search_Btn">
              <button id="js-shop-Search_Prefcity" class="c-Btn_Secondly-large" aria-disabled="false" data-ratid="rmt_shop-search_01" data-ratevent="click" data-ratparam="all">お近くのショップを検索する</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="u-Adjust_Mt-64">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center" data-ratid="scroll-04_faq" data-ratevent="appear">よくあるご質問</h2>
        <div class="u-Adjust_Mt-24">
          <div class="c-Accordion">
            <button id="accordion-faq-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-1" data-auto-rat="faqac"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天ひかりとRakuten Turboの違いを教えてください</button>
            <div id="accordion-content-faq-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-1" aria-hidden="true" style="display:none;">
              <p>Rakuten Turboは、据え置き型ルーターを設置し、楽天モバイルの電波で接続するインターネットです。<br>楽天ひかりは、光ファイバーケーブルを建物内に直接引き込んで接続するインターネットです。</p>
              <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>internet/turbo/product/" class="c-Link_Txt-inline" data-lid_no="02">製品ページでRakuten Turboを見る<span class="c-Icon_Chevron-right"></span></a></p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-2" data-auto-rat="faqac"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>好きな場所で使えますか？</button>
            <div id="accordion-content-faq-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-2" aria-hidden="true" style="display:none;">
              <p>日本国内の楽天回線エリア内<sup>※</sup>であればお使いいただけます。設置先の推奨環境を下記よりご確認ください。</p>
              <div class="u-Adjust_Mt-24">
                <ul class="c-List_Text-disc">
                  <li>窓際など、電波を受け取りやすい場所に設置できること</li>
                  <li class="u-Adjust_Mt-8">Wi-Fiの電波と干渉する機器（電子レンジ、テレビなど）から離して設置できること</li>
                  <li class="u-Adjust_Mt-8">高層階（およそ16階以上）ではない場所に設置できること</li>
                </ul>
              </div>
              <p class="u-Adjust_Mt-24">なお、ご登録いただいている設置先住所のみでご利用いただけます。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※「Rakuten最強プラン」で利用できるサービスエリアとは異なります</p>
              <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>internet/turbo/area/" class="c-Link_Txt-inline" data-lid_no="02">Rakuten Turbo対応エリアを見る<span class="c-Icon_Chevron-right"></span></a></p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-3" data-auto-rat="faqac"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten最強プランを契約していなくても、Rakuten Turboを契約できますか？</button>
            <div id="accordion-content-faq-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-3" aria-hidden="true" style="display:none;">
              <p>Rakuten最強プランの契約がなくてもRakuten Turboを契約できます。<br>Rakuten Turboを契約いただくことで、お手持ちの製品をWi-Fi接続しインターネットをご利用いただけます。</p>
              <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>internet/turbo/product/" class="c-Link_Txt-inline" data-lid_no="03">製品ページでRakuten Turboを見る<span class="c-Icon_Chevron-right"></span></a></p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-4" data-auto-rat="faqac"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>解約した場合、製品代金の支払いはどうなりますか？</button>
            <div id="accordion-content-faq-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-4" aria-hidden="true" style="display:none;">
              <p>製品を分割払いで購入した場合は、引き続き残りの金額をお支払いいただく必要がございます。<br>残りのお支払い回数やお支払い金額についてはクレジットカード会社へお問い合わせください。</p>
              <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>internet/turbo/fee/" class="c-Link_Txt-inline" data-lid_no="02">料金プランを見る<span class="c-Icon_Chevron-right"></span></a></p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-5" data-auto-rat="faqac"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>店頭で製品を受け取ることはできますか？</button>
            <div id="accordion-content-faq-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-5" aria-hidden="true" style="display:none;">
              <p>Webでお申し込みいただいた場合は、「配送」となります。「店頭受け取り」は選択できません。<br>店舗で購入いただいた場合は、「店頭受け取り」または、「配送」を選択することができます。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※店舗でご購入いただいた場合でも、在庫状況によってお引き渡し方法を選択いただけない場合がございます。</p>
              <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>shop/" class="c-Link_Txt-inline">お近くのショップを探す・来店予約<span class="c-Icon_Chevron-right"></span></a></p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq-7" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-7" data-auto-rat="faqac"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーンの特典は2回線目以降の申し込みも対象になりますか？</button>
            <div id="accordion-content-faq-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-7" aria-hidden="true" style="display:none;">
              <p>プラン料金1年間月額1,980円は、2回線目以降も対象になります。20,000ポイントプレゼントの適用回数は、おひとり様1回までとなります。</p>
              <p class="u-Adjust_Mt-16"><a href="#campaign-rule02" data-target="accordion-02" class="c-Link_Txt-inline"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルールを見る</a></p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq-8" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-8" data-auto-rat="faqac"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ポイント還元はいつ受け取れますか？</button>
            <div id="accordion-content-faq-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-8" aria-hidden="true" style="display:none;">
              <p>Rakuten Turboの利用開始の翌々月末日ごろに進呈いたします。</p>
              <p class="u-Adjust_Mt-16"><a href="#campaign-rule02" data-target="accordion-02" class="c-Link_Txt-inline"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルールを見る</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="u-Adjust_Mt-64" id="campaign-rule">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center" data-ratid="scroll-05_rule" data-ratevent="appear">Rakuten Turbo プラン料金1年間月額1,980円キャンペーン</h2>
        <p class="u-Adjust_Mt-24">お申し込みの前にキャンペーンルールを必ず確認してください</p>
        <div class="u-Adjust_Mt-24">
          <div class="c-Accordion">
            <button id="accordion-01" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-01" data-auto-rat="faqac"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーンルールを見る</button>
            <div id="accordion-content-01" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-01" aria-hidden="true" style="display:none;">
              <%- include('../archive/2024/_rule-240215-1894') %>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="u-Adjust_Mt-64" id="campaign-rule02">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center" data-ratevent="appear">Rakuten Turbo＆楽天モバイルご利用で20,000ポイントプレゼントキャンペーン</h2>
        <p class="u-Adjust_Mt-24">お申し込みの前にキャンペーンルールを必ず確認してください</p>
        <div class="u-Adjust_Mt-24">
          <div class="c-Accordion">
            <button id="accordion-02" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-02" data-auto-rat="faqac"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーンルールを見る</button>
            <div id="accordion-content-02" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-02" aria-hidden="true" style="display:none;">
              <%- include('/internet/turbo/include/campaign/_rule-1895') %>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="u-Adjust_Mt-64">
      <div class="l-System_Container">
        <p class="u-Adjust_Align-center u-Adjust_Mt-24"><a href="<%= sitepath %>terms/" class="c-Link_Txt-inline">利用規約・重要事項説明書<span class="c-Icon_Chevron-right"></span></a></p>
      </div>
    </div>

    <section class="u-Adjust_Mt-64" id="caution">
      <div class="l-System_Container">
        <h3 class="c-Heading_Lv3">注意事項</h3>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-16">キャンペーンについて</p>
        <div class="u-Adjust_Mt-8">
          <ul>
            <li class="c-Txt_Cap">※ポイントバックの条件は以下の3つ</li>
            <li class="c-Txt_Cap">①Rakuten Turbo 5GとRakuten Turboをキャンペーン期間内に申し込むこと</li>
            <li class="c-Txt_Cap">②Rakuten Turboを申し込みの翌月末までに課金開始すること</li>
            <li class="c-Txt_Cap">③Rakuten最強プランをRakuten Turbo利用開始の翌月末に利用していること</li>
            <li class="c-Txt_Cap">※表記の金額は特に記載のある場合を除きすべて税込です。</li>
          </ul>
        </div>
        <p class="u-Adjust_Mt-8">
          <a href="#campaign" class="<%= namespace %>-Txt_Normal-s c-Link_Txt" data-ratid="rmt_anchor_04" data-ratevent="click" data-ratparam="all">キャンペーン特典に戻る</a>
        </p>
      </div>
    </section>

    <div class="<%= namespace %>-List_Links-fixed" id="js-fixed-nav">
      <div class="<%= namespace %>-List_Links-fixed-inner">
        <ul class="<%= namespace %>-List_Links-fixed-items">
          <li class="<%= namespace %>-List_Links-fixed-item">
            <a href="#about" class="<%= namespace %>-List_Links-fixed-link js-scroll" data-ratid="rmt_anchor_menu_fix_01" data-ratevent="click" data-ratparam="all">
              <span class="<%= namespace %>-List_Links-fixed-icon c-Icon_Arrow-down-l"></span>
              <div class="<%= namespace %>-List_Links-fixed-txt">
                <span class="<%= namespace %>-Txt_Br-sp">Rakuten&nbsp;</span>Turboとは
              </div>
              <span class="<%= namespace %>-List_Links-fixed-image">
                <img src="<%= imgDir %>icon-about-231005.svg" width="32" height="32" alt="">
              </span>
            </a>
          </li>

          <li class="<%= namespace %>-List_Links-fixed-item">
            <a href="#campaign" class="<%= namespace %>-List_Links-fixed-link js-scroll" data-ratid="rmt_anchor_menu_fix_02" data-ratevent="click" data-ratparam="all">
              <span class="<%= namespace %>-List_Links-fixed-icon c-Icon_Arrow-down-l"></span>
              <div class="<%= namespace %>-List_Links-fixed-txt">キャンペーン<br class="<%= namespace %>-Utility_Display-sp">特典</div>
              <span class="<%= namespace %>-List_Links-fixed-image">
                <img src="<%= imgDir %>icon-campaign-231005.svg" width="32" height="32" alt="">
              </span>
            </a>
          </li>

          <li class="<%= namespace %>-List_Links-fixed-item">
            <a href="#simulation" class="<%= namespace %>-List_Links-fixed-link js-scroll" data-ratid="rmt_anchor_menu_fix_03" data-ratevent="click" data-ratparam="all">
              <span class="<%= namespace %>-List_Links-fixed-icon c-Icon_Arrow-down-l"></span>
              <div class="<%= namespace %>-List_Links-fixed-txt">月々のお支払い料金</div>
              <span class="<%= namespace %>-List_Links-fixed-image">
                <img src="<%= imgDir %>icon-simulation-230914.svg" width="32" height="32" alt="">
              </span>
            </a>
          </li>

          <li class="<%= namespace %>-List_Links-fixed-item">
            <a href="#area" class="<%= namespace %>-List_Links-fixed-link js-scroll" data-ratid="rmt_anchor_menu_fix_05" data-ratevent="click" data-ratparam="all">
              <span class="<%= namespace %>-List_Links-fixed-icon c-Icon_Arrow-down-l"></span>
              <div class="<%= namespace %>-List_Links-fixed-txt">対応エリア</div>
              <span class="<%= namespace %>-List_Links-fixed-image">
                <img src="<%= imgDir %>icon-area-231005.svg" width="32" height="32" alt="">
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <% if (information.campaignState !== 'finish') { %>
    <div id="js-fixed-btn" class="<%= namespace %>_Fixed-btn" aria-expanded="false" role="region">
      <div class="<%= namespace %>_Fixed-btn-inner">
        <div class="u-Adjust_Align-center time-Count" data-timer="1">
          <p class="<%= namespace %>-Cta_Txt">キャンペーン終了まで<br class="<%= namespace %>-Utility_Display-sp"><span class="timer" data-timer="1">あと<span class="timer_day"></span>日<span class="timer_hours"></span>時間<span class="timer_min"></span>分</span></p>
          <p class="<%= namespace %>-Cta_Cap">※終了までにRakuten Turboへのお申し込み完了が必要です</p>
          <ul class="<%= namespace %>_Fixed-btn-items u-Adjust_Mt-16">
            <li class="<%= namespace %>_Fixed-btn-item">
              <a href="<%= sitepath %>internet/turbo/application/" class="<%= namespace %>_Fixed-btn-primary" data-lid_parts="fixedbtn">
                <span class="<%= namespace %>_Fixed-btn-icon c-Icon_Cart-l"></span>
                <span>Webで<br>お申し込み</span>
              </a>
            </li>
            <li class="<%= namespace %>_Fixed-btn-item">
              <a href="<%= sitepath %>shop/?l-id=rmt_shop_01" class="<%= namespace %>_Fixed-btn-secondly" data-lid_parts="fixedbtn" data-ratid="rmt_shop_01" data-ratevent="click" data-ratparam="all">
                <span class="<%= namespace %>_Fixed-btn-icon c-Icon_Shop-l"></span>
                <span>ショップで<br>ご相談</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="u-Adjust_Align-center time-Count_End hidden" data-timer="1">
          <p>キャンペーンは終了しました。</p>
        </div>
      </div>
    </div>
    <% } -%>

    <div class="u-Adjust_Mt-64">
      <%- include('/include/internet/turbo/_more-nav', {
        hiddenBnr: true,
      }) %>
    </div>

    <div class="u-Adjust_Mt-24">
      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
      <%- include('/include/internet/turbo/_footer', {
        pagetitle: 'Rakuten Turboプラン料金1年間1,980円&20,000ポイント還元キャンペーン',
      }) %>
    </div>

    <div class="u-Rat_Appear-height" data-ratid="scroll-00" data-ratevent="appear"></div>
  </div>

  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
  <%- include('/include/internet/turbo/_rex-survey') %>
  <script src="<%= sitepath %>assets/js/internet.turbo.campaign.one-year-1980.bundle.js?20240521"></script>

</body>
</html>
