<div class="l-System_Container">
  <div id="campaign-conditions" class="nav-Pad">
    <div class="<%= namespace %>-Conditions">
      <h2 class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンの<span class="<%= namespace %>-Txt_Nl">達成条件</span></h2>
      <p class="u-Adjust_Mt-16">本キャンペーンには達成条件が設定されています。詳細は<a class="accordion9_opan js-scroll" href="#campaign-rule">キャンペーンルール</a>をご確認ください。</p>
      <div class="u-Adjust_Align-center u-Adjust_Mt-16">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-conditions-01-sp_231101.png?231101">
          <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-conditions-01_231101.png?231101" alt="本ページから楽天モバイル初めてお申し込み ＋ プランのご利用 ＋ Rakuten Linkから発信で10秒以上通話 ※プランのお申し込みの翌月末日23:59まで">
        </picture>
      </div>
    </div>
  </div>

  <h2 id="campaign-caution" class="nav-Pad c-Heading_Lv2 u-Adjust_Align-center">お申し込み時の注意点</h2>
  <p class="c-Txt_Emp-01 u-Adjust_Mt-32 caution-text"><span class="c-Txt_Emp-02">ポイントを獲得するには、「お申し込みはこちら」ボタンからのお手続きが必要となります。</span><br>
    「お申し込み内容」画面であらかじめクーポンコードが表示されていることをご確認のうえ、お申し込みを完了してください。</p>
    <ul class="<%= namespace %>-Caution_Img u-Adjust_Mt-32">
      <li class="u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-01.png?230612" alt="お申し込みはこちらボタン イメージ">
      </li>
      <li class="<%= namespace %>-Caution_Img-arrow u-Adjust_Align-center">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-arrow-01-sp.png?230612">
          <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-arrow-01.png?230612" alt="">
        </picture>
      </li>
      <li class="u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-02.png?230612" alt="クーポンコードEXTREG00000001が適用されました">
      </li>
      <li class="<%= namespace %>-Caution_Img-arrow u-Adjust_Align-center">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-arrow-01-sp.png?230612">
          <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-arrow-01.png?230612" alt="">
        </picture>
      </li>
      <li class="u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-03.png?230612" alt="EXTREG00000001 クーポンが適用されています">
      </li>
    </ul>
  <p class="c-Txt_Cap u-Adjust_Mt-24 caution-text caution-text_cap">※本ページの「お申し込みはこちら」ボタン以外からお手続きされた場合には特典適用対象外となります。</p>

  <div class="c-Accordion u-Adjust_Mt-32">
    <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>お申し込み画面で以下の状況が発生した場合、再度「お申し込みはこちら」ボタンからお申し込みをやり直してください。</button>
    <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
      <ul class="<%= namespace %>-Caution_Img u-Adjust_Mt-32">
        <li class="u-Adjust_Align-center">
          <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-04.png?230612" alt="">
          <p class="c-Txt_Emp-01 u-Adjust_Mt-16">お申し込み内容にクーポンコードが<br>
            表示されていない場合</p>
        </li>
        <li class="u-Adjust_Align-center">
          <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-05.png?230612" alt="">
          <p class="c-Txt_Emp-01 u-Adjust_Mt-16">システムメンテナンスの<br>
            お知らせが表示された場合</p>
          <p class="c-Txt_Cap">※メンテナンス終了後に<br>
            お申し込みください</p>
        </li>
        <li class="u-Adjust_Align-center">
          <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-06.png?230612" alt="">
          <p class="c-Txt_Emp-01 u-Adjust_Mt-16">タイムアウトが表示された場合</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="c-Accordion">
    <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイル（ドコモ回線・au回線）をご利用中の方も本キャンペーンにご参加いただけますが、こちらもご確認ください。</button>
    <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
      <ul class="caution-list">
        <li><span class="num">（1）</span>メンバーズステーション経由のプラン変更（移行）は本キャンペーンの適用対象となりません。<a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_external-service_ms&mno_migration=1_b" target="_blank" class="c-Link_Txt-inline">メンバーズステーション<span class="c-Icon_New-window-l"></span></a>にてMNP予約番号を発行のうえ、本ページからお申し込みください。</li>
        <li class="u-Adjust_Mt-8"><span class="num">（2）</span>下記に当てはまる方はメンバーズステーション経由のプラン変更（移行）をご検討ください。</li>
        <li class="cap u-Adjust_Mt-8"><span class="c-Txt_Emp-01 title">オプションサービスを引き継ぎたい場合</span><br>
          本ページからお申し込みした場合、オプションサービスはすべて解約となります。</li>
      </ul>
      <p class="u-Adjust_Mt-16">上記（1）（2）は通話SIMご利用の方の注意点となります。データSIMご利用中の方は、メンバーズステーション経由のプラン移行（変更）はできないため、本キャンペーンより新規でお申し込みください。</p>
    </div>
  </div>
</div>