<% const pagetitle = "iPhone12シリーズをiOS 14.3の環境で副回線としてご利用中のお客様へ" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"guide/iphone/", label:"楽天モバイル（楽天回線）でiPhoneを使う"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'iOS 14.3にOSアップデートしたiPhone12シリーズで、楽天モバイル（楽天回線）を副回線として利用中にデータ通信ができなくなる事象の解決方法をご案内いたします。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide-iphone-ios-troubleshooting" -%>

<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/ios-troubleshooting/ios-troubleshooting.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>

</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>
<div class="l-System">
  <div class="l-System_Container u-Adjust_Pb-24">
    <h1 class="c-Txt_Normal-xl u-Adjust_Mt-32 c-Txt_Emp-01">楽天モバイル（楽天回線）を副回線として、iOS 14.3のiPhone12シリーズでご利用中のお客様へ</h1>
    <p class="u-Adjust_Align-right u-Adjust_Mt-8">2020年12月24日</p>
    <p class="u-Adjust_Mt-8">iOS 14.3のiPhone12シリーズ（iPhone 12/iPhone 12 Pro/iPhone 12 Pro Max/ iPhone 12 mini ）で、モバイル通信設定にて、楽天モバイル（楽天回線）を副回線として「オンにせずご利用になっている」場合、データ通信ができなくなる事象が報告されております。</p>
    <img class="u-Adjust_Mt-24 <%= nameSpace %>-Layout_Main-image" src="<%= sitepath %>assets/img/guide/iphone/ios-troubleshooting/ios-troubleshooting-main-image.png" alt="iOS 14.3のiPhone12シリーズ（iPhone 12/iPhone 12 Pro/iPhone 12 Pro Max/ iPhone 12 mini ）で、モバイル通信設定にて、楽天モバイル（楽天回線）を副回線として「オンにせずご利用になっている」場合、データ通信ができなくなる事象が報告されております。">
    <p class="u-Adjust_Mt-32">こちらの環境でご利用中のお客様に、解決方法（トラブルシューティング）をご案内いたします。</p>
    <div class="c-Infobox_Standing-warning u-Adjust_Mt-8">
      <p class="c-Txt_Emp-02">
        （2021年4月30日更新）<br>
        iOS14.4以降へのアップデートにより、データ通信ができなくなる事象が解消されることを確認しました。
      </p>
      <h2 class="<%= nameSpace %>-Warning_Title c-Txt_Normal u-Adjust_Mt-16">事象の発生条件：以下、すべての条件があてはまる環境でご利用の場合</h2>
      <ul class="c-List_Text-disc u-Adjust_Mt-8">
        <li class="u-Adjust_Mt-8">iOS 14.3のiPhone12シリーズ（iPhone 12/iPhone 12 Pro/iPhone 12 Pro Max/ iPhone 12 mini ）を利用している</li>
        <li class="u-Adjust_Mt-8">デュアルSIMを利用し、楽天モバイルをモバイル通信に設定していない場合</li>
      </ul>
    </div>
    <h2 class="c-Txt_Normal-ll c-Txt_Emp-01 u-Adjust_Mt-64 u-Adjust_Align-center">データ通信ができなくなった場合の解決方法</h2>
    <p class="u-Adjust_Mt-8 u-Adjust_Align-center">副回線（Rakuten）をモバイル通信にご設定いただくと、解決することができます。</p>
    <p class="u-Adjust_Mt-8 c-Txt_Cap u-Adjust_Align-center">※モバイル通信設定で主回線（他社SIM）を設定した場合は、アンテナピクト（表示上）のRakutenは圏外となります</p>
    <ul class="<%= nameSpace %>-Flow_List u-Adjust_Mt-40">
      <li>
        <h3 class="c-Heading_Lv4">1. iPhoneの設定からモバイル通信を選択</h3>
        <div class="<%= nameSpace %>-Flow_List-image <%= nameSpace %>-Flow_List-image-two-col">
          <div class="<%= nameSpace %>-Flow_List-image-one-col-inner">
            <img class="u-Adjust_Mt-8" src="<%= sitepath %>assets/img/guide/iphone/ios-troubleshooting/ios-troubleshooting-flow-1-1.png" alt="iPhoneの設定からモバイル通信を選択">
          </div>
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv4">2.モバイルデータ通信を切り替え</h3>
        <p class="u-Adjust_Mt-16">モバイルデータ通信を選択し、主回線（他社）から副回線（Rakuten）へ切り替えてください。</p>
        <div class="<%= nameSpace %>-Flow_List-image <%= nameSpace %>-Flow_List-image-two-col">
          <div class="<%= nameSpace %>-Flow_List-image-two-col-inner">
            <img class="u-Adjust_Mt-8" src="<%= sitepath %>assets/img/guide/iphone/ios-troubleshooting/ios-troubleshooting-flow-2-1.png" alt="モバイルデータ通信を切り替え">
            <img class="u-Adjust_Mt-8" src="<%= sitepath %>assets/img/guide/iphone/ios-troubleshooting/ios-troubleshooting-flow-2-2.png" alt="モバイルデータ通信を選択し、主回線（他社）から副回線（Rakuten）へ切り替えてください。">
          </div>
        </div>
        <p class="u-Adjust_Mt-64">モバイルデータ通信が副回線(Rakuten)に変わったことを確認します。</p>
        <div class="<%= nameSpace %>-Flow_List-image <%= nameSpace %>-Flow_List-image-two-col">
          <div class="<%= nameSpace %>-Flow_List-image-one-col-inner">
            <img class="u-Adjust_Mt-8" src="<%= sitepath %>assets/img/guide/iphone/ios-troubleshooting/ios-troubleshooting-flow-2-3.png" alt="モバイルデータ通信が副回線(Rakuten)に変わったことを確認します。">
          </div>
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv4">3. 設定完了：しばらくお待ちいただくとデータ通信が使えるようになります</h3>
        <p class="u-Adjust_Mt-16">1、2分ほどお待ちいただくとデータ通信がご利用いただけます。</p>
        <div class="<%= nameSpace %>-Flow_List-image <%= nameSpace %>-Flow_List-image-two-col">
          <div class="<%= nameSpace %>-Flow_List-image-one-col-inner">
            <img class="u-Adjust_Mt-8 <%= nameSpace %>-Flow_List-image-not-border" src="<%= sitepath %>assets/img/guide/iphone/ios-troubleshooting/ios-troubleshooting-flow-3-1.png" alt="設定完了：しばらくお待ちいただくとデータ通信が使えるようになります 1、2分ほどお待ちいただくとデータ通信がご利用いただけます。">
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<%- include('/include/guide/_review') %>
<%- include('/include/guide/_inquiry') %>
<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
  </div>
  <%- include('/include/_footer') %>
</footer>
</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/guide/_iphone') %>
<%- include('/include/_append-body') %>
</body>
</html>
