<% const pagetitle = "楽天モバイルショップ お申し込み" -%>
<% const directories = [{path:"shop/", label:"ショップ"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    keywords: '',
    noindex: true,
    pathname: filepath
  });
%>
<% const parentTiltle = "ショップ" -%>
<% const nameSpace = "shop" -%>

<%- include('/include/_common-css-v2') %>
<%- include('/include/shop/_category-css') %>
<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<%- include('/include/_breadcrumbs', {
  type: 'head',
  pagetitle,
  directories,
}) %>

<div class="l-System_Container u-Adjust_Pb-16">
  <div class="c-Txt_Cap u-Adjust_Align-right u-Adjust_Mt-8">
    ※表記の金額はすべて税込です。
  </div>
  <h1 class="c-Heading_Lv1 u-Adjust_Mt-8"><%= pagetitle %></h1>
  <h2 class="c-Heading_Lv2 u-Adjust_Mt-40" id="shopName"></h2>

</div>

<div class="shop-Entry">
  <div class="l-System_Container shop-Entry_Container">
    <div id="plan" class="shop-Entry_Section-bg">

      <%- include('/inc/_saikyo', { cta: false }) %>

    </div>
  </div>
</div>

<div class="shop-Entry_Area">
  <a href="#" class="c-Btn_Primary shop-Entry_Btn" id="entryBtn">エントリーする</a>
  <div class="u-Adjust_Mt-32">
    <a href="<%= sitepath %>fee/saikyo-plan/" class="c-Link_Txt-inline shop-Entry_Link">料金プランを確認する<span class="c-Icon_Chevron-right"></span></a>
  </div>
</div>

<footer class="g-Footer">

  <div class="l-System_Container">
    <%- include('/include/_breadcrumbs', {
      type: 'foot',
      pagetitle,
      directories,
    }) %>
  </div>

  <%- include('/include/_footer') %>

</footer>


</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/shop.reception.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
