<% const pagetitle = "楽天モバイルならキッズ・学生のスマホデビューにもおトクであんしん！" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}] -%>
<% const namespace = "kids-ke-tai" -%>
<% const imgpath = "/assets/img/guide/kids-ke-tai/" -%>

<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '子供（子ども）のキッズおすすめ携帯・スマホデビューなら楽天モバイルがおトクであんしん！3つのおすすめ理由！わかりやすい料金プラン、安心のフィルタリング機能、豊富なスマホのラインアップ！実際に乗り換えて使われているお客様の声など',
    keywords: '',
    directories: directories,
    noindex: false,
    pathname: filepath
  });
%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/kids-ke-tai/kids-ke-tai.css?20240517">
<link rel="stylesheet" href="<%= sitepath %>assets/css/inc/i-promoting-the-no1-rate-plan.css?24052120240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/inc/i-nav-family-youth-kodomo.css">
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>

  <div class="l-System">

    <%- include('/include/_header') %>

    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>

    <section class="<%= namespace %>-Hero">
      <div class="<%= namespace %>-Hero_Container">
        <h1>
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>hero-sp-240502.png" width="100%" height="330px">
            <img src="<%= imgpath %>hero-pc-240502.png" width="1440" height="300" alt="楽天モバイルならキッズ・学生のスマホデビューにもおトクであんしん！">
          </picture>
        </h1>
      </div>
    </section>

    <section class="l-System_Container u-Adjust_My-40">
      <div class="<%= namespace %>-Application_Btn-wrapper">
        <div>
          <a href="<%= sitepath %>guide/application/?l-id=guide_kids-ke-tai_guide_application-01" class="c-Btn_Primary-large top-Application_Btn-custom">
            <span>新規／乗り換え（MNP）</span>
            <span class="u-Show_Xxo">お申し込み</span>
          </a>
        </div>
        <div>
          <a href="<%= sitepath %>shop/?l-id=guide_kids-ke-tai_shop-01" class="c-Btn_Secondly-large">
            <span>お近くのショップを探す</span>
          </a>
        </div>
      </div>
    </section>
    <section>
      <div class="l-System_Container u-Adjust_Pb-40">
        <%- include('/inc/_nav-family-youth-kodomo',
          {
            headingLevels: [3, 3],
            youthParam: 'fee/youth/?l-id=guide_kids-ke-tai_fee_youth-01',
            kidsParam: 'guide_kids-ke-tai_fee_kids-01',
            showElements: {
              second: ['youth', 'kodomo']
            }
          }
        ) %>
      </div>
    </section>
    <section>
      <div class="c-Theme-Light">
        <div class="l-System_Container u-Adjust_Mt-24">
          <%- include('/include/_promoting-the-no1-rate-plan', { title: 'black', bg: 'white', border: 'gray', margin0: true}) %>
        </div>
      </div>
      <div class="l-System_Container u-Adjust_Mt-64">
        <div class="<%= namespace %>-Heading">
          <h2>
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>title-01-sp.png" width="311" height="111">
              <img src="<%= imgpath %>title-01-pc.png" width="444" height="107" alt="お子さまに初めてのスマホをお考えの保護者の方へ。こんなお悩みはありませんか？">
            </picture>
          </h2>
          <div class="<%= namespace %>-Heading_Content">
            <div class="<%= namespace %>-Heading_Content-txt">
              <p>楽天モバイルでは、保護者の方にも安心していただけるよう、<br class="u-Show_Xxo">キッズの初めての携帯や学生のスマホデビューに向けたセキュリティページをご用意しています。ぜひご活用ください。</p>
              <p class="u-Adjust_Mt-16">
                <a href="<%= sitepath %>guide/security/kids-manner/?l-id=guide_kids-ke-tai_guide_security_kids-manner" class="c-Link_Txt-inline">子どもと学ぶスマホのマナー<span class="c-Icon_Chevron-right"></span></a>
              </p>
              <p class="u-Adjust_Mt-8">
                <a href="<%= sitepath %>guide/kidsjunior/?l-id=guide_kids-ke-tai_guide_kidsjunior" class="c-Link_Txt-inline">子どもスマホ利用あんしんガイド<span class="c-Icon_Chevron-right"></span></a>
              </p>
            </div>
            <div class="<%= namespace %>-Heading_Content-img">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>img-01-sp.png" width="306" height="248">
                <img src="<%= imgpath %>img-01-pc.png" width="346" height="269" alt="子どもに最適なプラン？大人と同じスマホ？知らない間に課金、不安">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="<%= namespace %>-Layout_Bg-gray u-Adjust_Mt-64 u-Adjust_Pt-32 u-Adjust_Pb-40">
      <div class="l-System_Container">
        <h2 class="u-Adjust_Align-center">
          <picture id="menu">
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>title-02-sp.png" width="686" height="164">
            <img src="<%= imgpath %>title-02-pc.png" width="1032" height="88" alt="お子さまのスマホデビューに楽天モバイルをおすすめする3つの理由">
          </picture>
        </h2>
        <div id="js-trigger"></div>
        <nav id="js-usual-nav" class="<%= namespace %>-Nav_Usual u-Adjust_Mt-16" aria-hidden="false">
          <ul class="<%= namespace %>-Nav_Usual-ul">
            <li><a href="#reason1" class="js-scroll" data-ratid="kids-ke-tai_navi-plan" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>データを使っただけ支払う<br>シンプルワンプラン</a></li>
            <li><a href="#reason2" class="js-scroll" data-ratid="kids-ke-tai_navi-security" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>お子さまを悪質な<br>アプリやサイトから守る</a></li>
            <li><a href="#reason3" class="js-scroll" data-ratid="kids-ke-tai_navi-smartphone" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>お子さま一人ひとりにあった<br>最適なスマホが選べる</a></li>
          </ul>
        </nav>
        <nav id="js-fixed-nav" class="<%= namespace %>-Nav_Fixed" aria-hidden="true">
          <ul class="<%= namespace %>-Nav_Fixed-ul">
            <li><a href="#reason1" class="js-fixedMenuScroll" data-ratid="kids-ke-tai_navi-plan" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>プラン</a></li>
            <li><a href="#reason2" class="js-fixedMenuScroll" data-ratid="kids-ke-tai_navi-security" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>セキュリティ</a></li>
            <li><a href="#reason3" class="js-fixedMenuScroll" data-ratid="kids-ke-tai_navi-smartphone" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>スマホ</a></li>
            <li><a href="#menu" class="js-fixedMenuScroll"><span class="c-Icon_Arrow-up-l"></span>メニューへ<br class="u-Show_Oox">戻る</a></li>
          </ul>
        </nav>
      </div>
    </section>

    <section id="reason1" class="<%= namespace %>-Layout_Bg-white">
      <div class="l-System_Container">
        <h2 class="u-Adjust_Align-center">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>title-03-sp.png" width="612" height="236">
            <img src="<%= imgpath %>title-03-pc.png" width="735" height="112" alt="おすすめの理由1 データを使っただけ支払うシンプルワンプラン">
          </picture>
        </h2>
        <div class="u-Rat_Appear-height" data-ratid="kids-ke-tai_scroll-01_plan" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
        <div class="u-Adjust_Mt-8 u-Adjust_Align-center">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>title-03-sub-sp.png" width="618" height="158">
            <img src="<%= imgpath %>title-03-sub-pc.png" width="420" height="79" alt="使いすぎによる高額請求の心配もありません!">
          </picture>
        </div>
        <div class="<%= namespace %>-Layout_Borderbox">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>img-02-sp-240502.png" width="618" height="158">
            <img src="<%= imgpath %>img-02-pc-240502.png" width="878" height="408" alt="使わなければ勝手に安くなるおトクなワンプラン。「最強家族プログラム」適用後100円/月（税別）引きで、20GB超過後無制限※2,880円/月（税込3,168円）、3GB超過後20GBまで1,880円/月（税込2,068円）、3GBまで880円/月（税込968円）">
          </picture>
          <p class="u-Adjust_Mt-16 c-Txt_Cap">※1 公平なサービス提供または環境により速度低下する場合あり ※通話料等別費用</p>
        </div>
        <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
          <a href="<%= sitepath %>fee/saikyo-plan/?l-id=guide_kids-ke-tai_fee_saikyo-plan" class="c-Btn_Regular-large"><span>料金プランの詳細を見る</span></a>
        </div>
      </div>
      <div class="l-System_Container u-Adjust_Mt-48">
        <%- include('/inc/_nav-family-youth-kodomo',
          {
            headingLevels: [3, 3],
            familyParam: 'guide_kids-ke-tai_fee_family-01',
            youthParam: 'guide_kids-ke-tai_fee_youth-02',
            kidsParam: 'guide_kids-ke-tai_fee_kids-02',
            showElements: {
              first: 'family',
              second: ['youth', 'kodomo']
            }
          }
        ) %>
      </div>
    </section>

    <section id="reason2" class="<%= namespace %>-Layout_Bg-gray u-Adjust_Mt-32 u-Adjust_Mt-sp-16">
      <div class="l-System_Container">
        <h2 class="u-Adjust_Align-center">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>title-04-sp.png" width="650" height="268">
            <img src="<%= imgpath %>title-04-pc.png" width="735" height="112" alt="おすすめの理由2 お子さまを悪質なアプリやサイトから守る">
          </picture>
        </h2>
        <div data-ratid="kids-ke-tai_scroll-02_security" data-ratevent="click" data-ratparam="all">&nbsp;</div>
        <div class="<%= namespace %>-Layout_Col2">
          <div class="<%= namespace %>-Layout_Col2-img">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>img-03-sp.png" width="686" height="198">
              <img src="<%= imgpath %>img-03-pc.png" width="416" height="240" alt="">
            </picture>
          </div>
          <div class="<%= namespace %>-Layout_Checklist-wrap">
            <ul class="<%= namespace %>-Layout_Checklist">
              <li><span class="c-Icon_Check"></span><div>みまもり機能で<br>あんしん</div></li>
              <li><span class="c-Icon_Check"></span><div>1日1回<br>メールで通知</div></li>
              <li><span class="c-Icon_Check"></span><div>危険なサイト<br>からまもる！</div></li>
            </ul>
            <p class="c-Txt_Cap <%= namespace %>-Layout_Checklist-bottom">※18歳未満の方に楽天モバイルをご利用いただく場合、あんしんコントロール by i-フィルターのご契約が必須となります（330円/月）</p>
          </div>
        </div>
        <div class="c-Accordion u-Adjust_Mt-16 u-Adjust_Mt-pc-32 <%= namespace %>-Layout_Bg-gray u-Adjust_Py-0">
          <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>お子さまのスマホ利用にあんしんを「あんしんコントロール by i-フィルター」</button>
          <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
            <h3 class="<%= namespace %>-Filter_Heading">お子さまのスマホ利用にあんしんを</h3>
            <p class="u-Adjust_Mt-16">楽天モバイルのあんしん・便利なフィルタリングサービス「あんしんコントロール by i-フィルター」は、お子さまのスマホ・タブレット利用を見守るために必要不可欠な機能を備えています。</p>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">※18歳未満の方に楽天モバイルをご利用いただく場合、あんしんコントロール by i-フィルターのご契約が必須となります（330円/月）</p>
            <div class="<%= namespace %>-Filter_Content u-Adjust_Mt-32">
              <div class="<%= namespace %>-Filter_Content-txt">
                <span class="c-Heading_Lv4 c-Txt_Emp-02">＼ みまもり機能であんしん ／</span>
                <h4 class="c-Heading_Lv2 u-Adjust_Mt-8">お子さまの居場所が<br>いつでもわかる</h4>
                <p class="u-Adjust_Mt-16">お子さまの居場所をスマートフォンや<br>携帯で確認できます。</p>
              </div>
              <div class="<%= namespace %>-Filter_Content-img"><img src="<%= imgpath %>img-04.png" width="516" height="295" alt=""></div>
            </div>
            <div class="<%= namespace %>-Filter_Content">
              <div class="<%= namespace %>-Filter_Content-img"><img src="<%= imgpath %>img-05.png" width="516" height="295" alt=""></div>
              <div class="<%= namespace %>-Filter_Content-txt">
                <span class="c-Heading_Lv4 c-Txt_Emp-02">＼1日1回メールで通知 ／</span>
                <h4 class="c-Heading_Lv2 u-Adjust_Mt-8">お子さまの利用状況を<br>いつでも把握</h4>
                <p class="u-Adjust_Mt-16">1日1回、検索や閲覧などの利用状況を<br>メールで受け取ることもできます。</p>
              </div>
            </div>
            <div class="<%= namespace %>-Filter_Content">
              <div class="<%= namespace %>-Filter_Content-txt">
                <span class="c-Heading_Lv4 c-Txt_Emp-02">＼危険なサイトからまもる! ／</span>
                <h4 class="c-Heading_Lv2 u-Adjust_Mt-8">フィルタリング機能で<br>お子さまの利用制限を自由に設定</h4>
                <p class="u-Adjust_Mt-16">利用時間時間など年齢にあわせた<br>フィルタリング設定・変更も可能です。</p>
              </div>
              <div class="<%= namespace %>-Filter_Content-img"><img src="<%= imgpath %>img-06.png" width="516" height="295" alt=""></div>
            </div>
          </div>
        </div>
        <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
          <a href="<%= sitepath %>service/i-filter/?l-id=guide_kids-ke-tai_service_i-filter" class="c-Btn_Regular-large"><span>あんしんコントロール by i-フィルターの詳細を見る</span></a>
        </div>
      </div>
    </section>

    <section id="reason3" class="<%= namespace %>-Layout_Bg-white">
      <div class="l-System_Container">
        <h2 class="u-Adjust_Align-center">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>title-05-sp.png" width="678" height="234">
            <img src="<%= imgpath %>title-05-pc.png" width="820" height="112" alt="おすすめの理由3 お子さま一人ひとりにあった最適なスマホが選べる">
          </picture>
        </h2>
        <div class="u-Rat_Appear-height" data-ratid="kids-ke-tai_scroll-03_smartphone" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
        <div class="<%= namespace %>-Layout_Col2 u-Adjust_Mt-24">
          <div class="<%= namespace %>-Layout_Col2-img">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>img-07-sp.png" width="686" height="198">
              <img src="<%= imgpath %>img-07-pc.png" width="416" height="240" alt="">
            </picture>
          </div>
          <div class="<%= namespace %>-Layout_Checklist-wrap">
            <p>小学生と中学生ではスマホの重要性も違うもの。お子さまの成長に合わせて、必要なスマホを選びましょう。</p>
            <p class="<%= namespace %>-Layout_Txt-decoration u-Adjust_Mt-16"><span>Android / iPhone</span><br class="u-Show_Oox">欲しい機能が搭載されたスマホがきっと見つかる</p>
            <ul class="<%= namespace %>-Layout_Checklist u-Adjust_Mt-16">
              <li data-color="pink"><span class="c-Icon_Check"></span><div>コンパクトで<br>軽量</div></li>
              <li data-color="blue"><span class="c-Icon_Check"></span><div>防水・防塵</div></li>
              <li data-color="green"><span class="c-Icon_Check"></span><div>高画質カメラ</div></li>
            </ul>
          </div>
        </div>
        <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
          <a href="<%= sitepath %>product/?l-id=guide_kids-ke-tai_product" class="c-Btn_Regular-large"><span>取り扱い製品一覧を見る</span></a>
        </div>
        <div class="<%= namespace %>-Layout_Col2 u-Adjust_Mt-48">
          <div class="<%= namespace %>-Layout_Borderbox2">
            <h3 class="c-Heading_Lv4">既にご家族がお使いの機種を<br>楽天回線対応機種か確認する</h3>
            <div class="u-Adjust_Mt-16">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>img-08-sp.png" width="622" height="240">
                <img src="<%= imgpath %>img-08-pc.png" width="456" height="120" alt="">
              </picture>
            </div>
            <p class="u-Adjust_Mt-8 u-Adjust_Align-left">
              既にご家族が使っていた機種を、お子さまが使うことが決まっている場合は、<span class="c-Txt_Emp-02">楽天回線対応機種</span>かどうかを下記より確認できます。
            </p>
            <div class="u-Adjust_Align-center u-Adjust_Mt-8">
              <a href="<%= sitepath %>product/byod/?l-id=guide_kids-ke-tai_product_byod" class="c-Btn_Regular"><span>楽天回線対応機種か確認する</span></a>
            </div>
          </div>
          <div class="<%= namespace %>-Layout_Borderbox2">
            <h3 class="c-Heading_Lv4">スマホをおトクに手に入れるなら「楽天モバイル買い替え超トクプログラム」がおすすめ！</h3>
            <div class="u-Adjust_Mt-16">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>img-12-sp.png" width="622" height="240">
                <img src="<%= imgpath %>img-12-pc.png" width="456" height="120" alt="楽天モバイル買い替え超トクプログラム">
              </picture>
            </div>
            <div class="u-Adjust_Align-left" style="width: 100%;">
            <p class="u-Adjust_Mt-8 u-Adjust_Align-left">
              毎月の負担を少なく、おトクに最新の製品へ
            </p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap u-Adjust_Align-left">※プランの申し込みがなくても利用可能</p>
            </div>

            <div class="u-Adjust_Align-center u-Adjust_Mt-16 u-Adjust_Mt-pc-32">
              <a href="<%= sitepath %>service/replacement-program/?l-id=guide_kids-ke-tai_service_replacement-program" class="c-Btn_Regular"><span>楽天モバイル買い替え超トクプログラムを見る</span></a>
            </div>
          </div>
        </div>
        <p class="u-Adjust_Align-center u-Adjust_Mt-24">
          <a href="<%= sitepath %>flow/for-minors/?l-id=guide_kids-ke-tai_flow_for-minors" class="c-Link_Txt-inline">未成年のお客様がご利用になる場合の<br class="u-Show_Oxx">お申し込みの流れ<span class="c-Icon_Chevron-right"></span></a>
        </p>

        <section class="l-System_Container u-Adjust_Mt-40">
          <div class="<%= namespace %>-Application_Btn-wrapper">
            <div>
              <a href="<%= sitepath %>guide/application/?l-id=guide_kids-ke-tai_guide_application-02" class="c-Btn_Primary-large top-Application_Btn-custom">
                <span>新規／乗り換え（MNP）</span>
                <span class="u-Show_Xxo">お申し込み</span>
              </a>
            </div>
            <div>
              <a href="<%= sitepath %>shop/?l-id=guide_kids-ke-tai_shop-02" class="c-Btn_Secondly-large">
                <span>お近くのショップを探す</span>
              </a>
            </div>
          </div>
        </section>

        <div class="u-Adjust_Mt-56">
          <h4 class="c-Heading_Lv4 u-Adjust_Align-center">スマホご購入を悩んでいる方へおすすめ<br>Apple Watchでもお子様を見守ることができます</h4>
          <div class="u-Adjust_Mt-8 u-Adjust_Align-center">
            <a class="c-Banner_Hover-act" href="<%= sitepath %>fee/apple-watch-family-sharing/?l-id=guide_kids-ke-tai_fee_apple-watch-family-sharing">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-apple-watch-family-sharing-343-108.png" width="686" height="216">
                <img src="<%= sitepath %>assets/img/bnr/bnr-apple-watch-family-sharing-1032-160.png" width="1032" height="160" alt="「Apple Watch ファミリー共有」たった1台のiPhoneで、家族みんなのApple Watchとつながれます。">
              </picture>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="<%= namespace %>-Layout_Bg-gray">
      <div class="l-System_Container">
        <h2 class="u-Adjust_Align-center">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>title-06-sp.png" width="668" height="194">
            <img src="<%= imgpath %>title-06-pc.png" width="570" height="100" alt="ご家族が既に楽天モバイル利用者なら家族でおトクにポイントGET 楽天モバイル紹介キャンペーン">
          </picture>
        </h2>
        <div class="<%= namespace %>-Layout_Col2 u-Adjust_Mt-16">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>img-10-sp-240201.png" width="652" height="272">
            <img src="<%= imgpath %>img-10-pc-240201.png" width="480" height="218" alt="紹介する方にご紹介１人につき7,000ポイントプレゼント">
          </picture>
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>img-11-sp-240201.png" width="652" height="384">
            <img src="<%= imgpath %>img-11-pc-240201.png" width="481" height="219" alt="紹介された方にも初めてのお申し込みで13,000ポイントプレゼント">
          </picture>
        </div>
        <p class="u-Adjust_Mt-16 c-Txt_Cap u-Align_Llc">
          ※紹介された方のRakuten Link利用・データタイプ対象外等条件あり
        </p>
        <div class="u-Adjust_Align-center u-Adjust_Mt-8">
          <a href="<%= sitepath %>campaign/referral/?l-id=guide_kids-ke-tai_campaign_referral" class="c-Btn_Regular-large"><span>キャンペーン詳細を見る</span></a>
        </div>
      </div>
    </section>

    <section class="<%= namespace %>-Layout_Bg-white">
      <div class="l-System_Container">
        <h2 class="u-Adjust_Align-center">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>title-uv-sp.png" width="688" height="240">
            <img src="<%= imgpath %>title-uv-pc.png" width="831" height="113" alt="楽天モバイルってどう？ご利用中の方にお聞きしました">
          </picture>
        </h2>
        <div class="u-Rat_Appear-height" data-ratid="kids-ke-tai_scroll-04_uservoice" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
        <div class="<%= namespace %>-Layout_Col2 u-Adjust_Mt-24">
          <div class="<%= namespace %>-Layout_Borderbox3">
            <div class="<%= namespace %>-Layout_Borderbox3-img"><img src="<%= imgpath %>avator-42.png" width="134" height="134" alt=""></div>
            <div>
              <h3>息子が小学5年生でスマホデビュー！ゲームや動画を楽しんでいます</h3>
              <p class="u-Adjust_Mt-16 <%= namespace %>-Layout_Borderbox3-txt">お子さまが初めてスマホを持つとき、携帯電話会社の利用料金やフィルタリング機能など、さまざまなサービス内容が気になるかと思...</p>
              <p class="u-Adjust_Mt-16 u-Align_Ccl"><a href="<%= sitepath %>uservoice/42/?l-id=guide_kids-ke-tai_uservoice_42" class="c-Link_Txt-inline">続きを読む<span class="c-Icon_Chevron-right"></span></a></p>
            </div>
          </div>
          <div class="<%= namespace %>-Layout_Borderbox3">
            <div class="<%= namespace %>-Layout_Borderbox3-img"><img src="<%= imgpath %>avator-26.png" width="134" height="134" alt=""></div>
            <div>
              <h3>おトクな料金が魅力！子どものスマホデビューにもぴったりでした</h3>
              <p class="u-Adjust_Mt-16 <%= namespace %>-Layout_Borderbox3-txt">お子さまに初めて持たせるスマホをどの携帯電話会社で契約するか、お悩みの方も多いのではないでしょうか...</p>
              <p class="u-Adjust_Mt-16 u-Align_Ccl"><a href="<%= sitepath %>uservoice/26/?l-id=guide_kids-ke-tai_uservoice_26" class="c-Link_Txt-inline">続きを読む<span class="c-Icon_Chevron-right"></span></a></p>
            </div>
          </div>
        </div>
        <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
          <a href="<%= sitepath %>uservoice/?l-id=guide_kids-ke-tai_uservoice" class="c-Btn_Regular-large"><span>ご利用者の声一覧</span></a>
        </div>
      </div>
    </section>

    <section class="u-Adjust_Pb-40 u-Adjust_Pb-sp-0">
      <div class="l-System_Container">
        <%- include('/inc/_nav-family-youth-kodomo',
          {
            headingLevels: [3, 3],
            familyParam: 'guide_kids-ke-tai_fee_family-02',
            youthParam: 'guide_kids-ke-tai_fee_youth-03',
            kidsParam: 'guide_kids-ke-tai_fee_kids-03',
            showElements: {
              first: 'family',
              second: ['youth', 'kodomo']
            }
          }
        ) %>
      </div>
    </section>

    <div class="<%= namespace %>-Layout_Bottom-fixed" id="js-fixed-btn" aria-expanded="false">
      <div class="<%= namespace %>-Layout_Bottom-fixed-inner">
        <div class="<%= namespace %>-Layout_Bottom-fixed-btn">
          <a href="https://onboarding.mobile.rakuten.co.jp/?l-id=guide_kids-ke-tai_guide_application" class="c-Btn_Primary-large">
            <div class="<%= namespace %>-Layout_Bottom-fixed-btn-inner-box"><span class="u-Show_Xoo">新規／乗り換え（MNP）お申し込み</span><span class="u-Show_Oxx">新規/乗り換え（MNP）</span></div>
          </a>
        </div>
        <div class="<%= namespace %>-Layout_Bottom-fixed-btn">
          <a href="<%= sitepath %>shop/?l-id=guide_kids-ke-tai_shop" class="c-Btn_Secondly-large">
            <div class="<%= namespace %>Layout_Bottom-fixed-btn-inner-box"><span>お近くのショップを探す</span></div>
          </a>
        </div>
      </div>
    </div>

    <footer class="g-Footer u-Adjust_Mt-80">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/bnr/_bnr-news.ejs', { headingLevels: [3, 3] }) %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>

      <%- include('/include/_footer') %>

    </footer>

  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/guide.kids-ke-tai.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
</body>

</html>
