<% const pagetitle = "持ち込みスマホあんしん保証（保証対象とする製品の登録方法）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"guide/replacement-warranty-sim/", label:"持ち込みスマホあんしん保証（ご利用方法）"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルの「持ち込みスマホあんしん保証」サービスの保証対象とする製品の登録方法の案内になります。製品情報の登録方法や変更方法を詳しくご案内します。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const namespace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= namespace %>/<%= namespace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>

</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<section class="l-System_Container u-Adjust_Pt-32 u-Adjust_Pb-32 <%= namespace %>-Img_Border">
  <h1 class="c-Heading_Lv1">持ち込みスマホあんしん保証（保証対象とする製品の登録方法）</h1>
  <p class="u-Adjust_Mt-32">「持ち込みスマホあんしん保証」をご利用いただくには、本サービスの申し込み後に「製品登録」を行う必要があります。</p>
  <p class="u-Adjust_Mt-8 c-Txt_Cap">※製品の故障受付は、製品登録後30日経過してからご利用できます。</p>
  <p class="c-Txt_Cap c-Txt_Emp-02">※月額利用料は、オプションのお申し込み当日より発生します。</p>

  <ul class="c-Link_List-horizontal-simple <%= namespace %>-Link_List u-Adjust_Mt-40">
    <li><p><a href="#sign-up" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>製品登録方法（新規）</a></p></li>
    <li><p><a href="#change" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>製品情報の変更方法</a></p></li>
    <li><p><a href="#inquiry" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>製品登録に関するお問い合わせ</a></p></li>
  </ul>

  <section id="sign-up" class="u-Adjust_Mt-40 <%= namespace %>-Layout_Section">
    <h2 class="c-Heading_Lv2">製品登録方法（新規）</h2>
    <ol class="c-Flow u-Adjust_Mt-24">
      <li>
        <h3 class="c-Heading_Lv3">1. 製品登録サイトにアクセスしてログインする</h3>
        <p class="u-Adjust_Mt-16">「<a href="https://www.protection.device-service.mobile.rakuten.net/register/" target="_blank" rel="noopener" class="c-Link_Txt-inline-icon">製品登録サイト<span class="c-Icon_New-window-l"></span></a>」にアクセスしてください。</p>
        <p class="u-Adjust_Mt-16">楽天モバイルID、携帯電話番号、生年月日を入力し、ロボット確認にチェックを入れて「次の画面へ」をタップしてください。</p>
        <div class="u-Adjust_Align-center u-Adjust_Mt-24"><img src="<%= sitepath %>assets/img/guide/replacement-warranty-sim/device-resistration/img-01-221122.png" alt="" width="298"></div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">2. 保証対象の製品情報を入力する</h3>
        <p class="u-Adjust_Mt-16">製品登録画面が表示されますので、保証対象としたい製品のIMEI、色を入力して「次の画面へ」をタップしてください。</p>
        <p class="u-Adjust_Mt-16 c-Txt_Cap">※IMEIの確認方法：通話アプリを起動し、ダイヤルに「*#06#」と入力すると15桁の数字が表示されます。</p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※携帯電話会社、メーカー、機種名は、サービスお申込み時に選択した情報が表示されます。</p>
        <div class="u-Adjust_Align-center u-Adjust_Mt-24"><img src="<%= sitepath %>assets/img/guide/replacement-warranty-sim/device-resistration/img-02-221122.png" alt="" width="298"></div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">3. 料金および免責期間を確認し、同意する</h3>
        <p class="u-Adjust_Mt-16">サービスにかかる料金および免責期間についてご確認いただき、各同意項目にチェックを入れて「次の画面へ」をタップしてください。</p>
        <div class="u-Adjust_Align-center u-Adjust_Mt-24"><img src="<%= sitepath %>assets/img/guide/replacement-warranty-sim/device-resistration/img-03-221122.png" alt="" width="298"></div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">4. 製品画像を3種類アップロードする</h3>
        <p class="u-Adjust_Mt-16">製品画像の登録画面が表示されますので、<a href="#sample1" class="js-scroll">サンプル画像</a>を参考に「①製品前面画像（電源が入った状態）」「②製品背面画像」「③製品のIMEIが表示された画像」をそれぞれの項目からアップロードしてください。</p>
        <p class="u-Adjust_Mt-16">アップロード後「次の画面へ」をタップしてください。</p>
        <p class="u-Adjust_Mt-16 c-Txt_Cap">※製品を撮影する際は、カバーやアクセサリー類を外した状態で行ってください。</p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※撮影は別のカメラ・スマホから撮影いただくか、鏡に製品を映し、インカメラなどにより撮影をお願いいたします。</p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※IMEIを画面に表示させる方法：通話アプリを起動し、ダイヤルに「*#06#」と入力すると表示されます。</p>
        <div class="u-Adjust_Align-center <%= namespace %>-Layout_Flow-img-column">
          <img src="<%= sitepath %>assets/img/guide/replacement-warranty-sim/device-resistration/img-04-1-221122.png" alt="" width="298">
          <img src="<%= sitepath %>assets/img/guide/replacement-warranty-sim/device-resistration/img-04-2.png" alt="" width="298" id="sample1" class="<%= namespace %>-Img_Border-non">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">5. 製品登録を完了する</h3>
        <p class="u-Adjust_Mt-16">製品登録の完了画面が表示されたら、製品登録は完了となります。</p>
        <div class="u-Adjust_Align-center u-Adjust_Mt-24"><img src="<%= sitepath %>assets/img/guide/replacement-warranty-sim/device-resistration/img-05-221122.png" alt="" width="298"></div>
      </li>
    </ol>
    <p class="u-Adjust_Mt-32">以上で保証対象とする製品の登録は完了です。</p>
    <p class="u-Adjust_Mt-16">登録日を起算日として、30日経過以降に発生した事故より故障受付が可能となります。</p>
    <div class="u-Adjust_Mt-16">
      <a href="<%= sitepath %>guide/replacement-warranty-sim/replacement-reception/" class="c-Btn_Regular"><span>故障受付方法の詳細を見る</span></a>
    </div>
  </section>

  <section id="change" class="<%= namespace %>-Layout_Section-separate">
    <h2 class="c-Heading_Lv2">製品情報の変更方法</h2>
    <p class="u-Adjust_Mt-24">機種変更された場合は、速やかに登録情報の変更を行ってください。</p>
    <p class="u-Adjust_Mt-16">故障機と登録製品が異なる場合、保証が受けられませんのでご注意ください。</p>
    <p class="u-Adjust_Mt-8 c-Txt_Cap">※保証対象とする製品の情報変更・更新を行うと、変更・更新日を起算日として、30日経過以降に発生した事故より故障受付が可能となりますので、ご注意ください。</p>
    <ol class="c-Flow u-Adjust_Mt-24">
      <li>
        <h3 class="c-Heading_Lv3">1. 製品登録サイトにアクセスしてログインする</h3>
        <p class="u-Adjust_Mt-16">「<a href="https://www.protection.device-service.mobile.rakuten.net/register/" target="_blank" rel="noopener" class="c-Link_Txt-inline-icon">製品登録サイト<span class="c-Icon_New-window-l"></span></a>」にアクセスしてください。</p>
        <p class="u-Adjust_Mt-16">楽天モバイルID、携帯電話番号、生年月日を入力し、ロボット確認にチェックを入れて「次の画面へ」をタップしてください。</p>
        <div class="u-Adjust_Align-center u-Adjust_Mt-24"><img src="<%= sitepath %>assets/img/guide/replacement-warranty-sim/device-resistration/img-01-221122.png" alt="" width="298"></div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">2. 変更したい製品情報を選択する</h3>
        <p class="u-Adjust_Mt-16">登録している製品情報が表示されますので、変更したい製品情報の「登録製品の変更」をタップしてください。</p>
        <div class="u-Adjust_Align-center u-Adjust_Mt-24"><img src="<%= sitepath %>assets/img/guide/replacement-warranty-sim/device-resistration/img-change-02-221122.png" alt="" width="298"></div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">3. 新しい製品情報を入力する</h3>
        <p class="u-Adjust_Mt-16">製品登録画面が表示されますので、保証対象としたい製品のIMEI、携帯電話会社、メーカー、機種名、色を入力して「次の画面へ」をタップしてください。</p>
        <p class="u-Adjust_Mt-16 c-Txt_Cap">※IMEIの確認方法：通話アプリを起動し、ダイヤルに「*#06#」と入力すると15桁の数字が表示されます。</p>
        <div class="u-Adjust_Align-center u-Adjust_Mt-24"><img src="<%= sitepath %>assets/img/guide/replacement-warranty-sim/device-resistration/img-change-03-221122.png" alt="" width="298"></div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">4. 料金および免責期間を確認し、同意する</h3>
        <p class="u-Adjust_Mt-16">サービスにかかる料金および免責期間についてご確認いただき、各同意項目にチェックを入れて「次の画面へ」をタップしてください。</p>
        <p class="u-Adjust_Mt-16 c-Txt_Cap">※「次の画面へ」をタップすると、新しい製品に対する月額利用料（日割り）に切り替わります。それ以前の製品に対する当月の月額利用料も日割りでの請求となります。その後、当日中の登録製品の情報変更はできませんので、ご注意ください。</p>
        <div class="u-Adjust_Align-center u-Adjust_Mt-24"><img src="<%= sitepath %>assets/img/guide/replacement-warranty-sim/device-resistration/img-03-221122.png" alt="" width="298"></div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">5. 新しい製品画像をアップロードする</h3>
        <p class="u-Adjust_Mt-16">製品画像の登録画面が表示されますので、<a href="#sample2" class="js-scroll">サンプル画像</a>を参考に「①製品前面画像（電源が入った状態）」「②製品背面画像」「③製品のIMEIが表示された画像」をそれぞれの項目からアップロードしてください。</p>
        <p class="u-Adjust_Mt-16">アップロード後「次の画面へ」をタップしてください。</p>
        <p class="u-Adjust_Mt-16 c-Txt_Cap">製品を撮影する際は、カバーやアクセサリー類を外した状態で行ってください。</p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※撮影は別のカメラ・スマホから撮影いただくか、鏡に製品を映し、インカメラなどにより撮影をお願いいたします。</p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※IMEIを画面に表示させる方法：通話アプリを起動し、ダイヤルに「*#06#」と入力すると表示されます。</p>
        <div class="u-Adjust_Align-center <%= namespace %>-Layout_Flow-img-column">
          <img src="<%= sitepath %>assets/img/guide/replacement-warranty-sim/device-resistration/img-04-1-221122.png" alt="" width="298">
          <img src="<%= sitepath %>assets/img/guide/replacement-warranty-sim/device-resistration/img-04-2.png" alt="" width="298" id="sample2" class="<%= namespace %>-Img_Border-non">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">6. 製品情報の変更を完了する</h3>
        <p class="u-Adjust_Mt-16">製品登録の完了画面が表示されたら、製品変更は完了となります。</p>
        <div class="u-Adjust_Align-center u-Adjust_Mt-24"><img src="<%= sitepath %>assets/img/guide/replacement-warranty-sim/device-resistration/img-05-221122.png" alt="" width="298"></div>
      </li>
    </ol>
    <p class="u-Adjust_Mt-32">以上で保証対象とする製品の情報変更は完了です。</p>
    <p class="u-Adjust_Mt-16">情報変更・更新日を起算日として、30日経過以降に発生した事故より故障受付が可能となります。</p>
    <div class="u-Adjust_Mt-16">
      <a href="<%= sitepath %>guide/replacement-warranty-sim/replacement-reception/" class="c-Btn_Regular"><span>故障受付方法の詳細を見る</span></a>
    </div>
  </section>


  <section id="inquiry" class="<%= namespace %>-Layout_Section-separate">
    <h2 class="c-Heading_Lv2">製品登録に関するお問い合わせ</h2>
    <p class="u-Adjust_Mt-24">製品登録方法にご不明な点がある場合は、以下までご連絡ください。</p>
    <div class="c-Theme-Light u-Adjust_Mt-24">
      <address class="<%= namespace %>-Txt_Address">
        <p class="c-Txt_Emp-01">持ち込みスマホあんしん保証サポートセンター</p>
        <p class="u-Adjust_Mt-16">電話番号：お申し込み後、楽天モバイルより送信する「持ち込みスマホあんしん保証」各種メールにてご確認ください。</p>
        <p class="u-Adjust_Mt-8">受付時間：9:00～20:00（年中無休）</p>
      </address>
    </div>
  </section>

  <div class="<%= namespace %>-Utility_Adjust-mt-64-80">
    <a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップにもどる</span></a>
  </div>
  <div class="u-Adjust_Mt-16">
    <a href="<%= sitepath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a>
  </div>

</section>

<%- include('/include/guide/_review') %>
<%- include('/include/guide/_inquiry') %>
<footer class="g-Footer">

  <div class="g-Footer_Aside">
  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
