<% const pagetitle = "復旧エリアマップ（東海）" -%>
<% const namespace = "recovery-area" -%>
<%- include('/info/recovery-area/_map-valiables') _%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    description: '楽天モバイルのスマートフォン・携帯電話・WiFiルーターの通信エリア、電波状況の情報をご紹介します。',
    noindex: true,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/info/recovery-area/recovery-area-fullmap.css?20240424">
<style>
  .recovery-area-Fullmap_Show-iconbox {
    display: none;
  }
</style>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="<%= namespace %>-Fullmap">
  <div id="place-search-wrapper">
    <div class="c-Search_Container <%= namespace %>-Fullmap_Search form-group">
      <input type="text" class="form-control controls c-Search_Input" id="pac-input" placeholder="市区町村名や住所を入力">
      <div class="c-Search_Btn">
        <span class="c-Icon_Search c-Search_Icon glyphicon-search"></span>
      </div>
    </div>
  </div>
  <div id="map" data-update="<%= mapUpdate %>"></div>
  <div class="<%= namespace %>-Fullmap_Frame">
    <a href="<%= sitepath %>info/recovery-area/tokai/" class="<%= namespace %>-Fullmap_Btn-exit" id="exit"><span class="c-Btn_Regular c-Icon_Product-fullscreen-exit"></span></a>
  </div>
  <div class="legend-plus-more-link-wrapper">
    <div id="legend">
      <%# vue component %>
      <div id="checkbox-content" data-legends="<%= JSON.stringify({activeArea, partnerArea, inactiveArea, inactivePartnerArea}) %>"></div>
      <%# vue component %>
    </div>
  </div>
  <button type="button" id="map-loc-button" class="c-Btn_Regular c-Btn_Icon <%= namespace %>-Fullmap_Btn-my-location"><span class="c-Icon_Location-f"></span><span>現在地</span></button>
</div>

<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/info.recovery-area.tokai.map-full-screen.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
