<% const pagetitle = "楽天モバイルで接続中の回線エリア確認方法 " -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/area/area/", label:"エリアの確認"}] -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルで接続中の回線エリア確認方法をご案内します。my 楽天モバイル（アプリ・Web）からかんたんに確認することが可能です。',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'support/area/area/'}
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/payment/change/change.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/_append-body') %>
</body>
</html>
