<% const namespace = "mno-dm" -%>
<div class="<%= namespace %>-Cta">
  <div class="l-System_Container">

    <div>
      <img class="<%= namespace %>-Period_Show-pc <%= namespace %>-Util_Center" src="<%= sitepath %>assets/img/hikari/campaign/mno-dm/img-mno-dm-cta-ttl.png" alt="楽天モバイルをお使いの方限定 月額基本料が1年無料" width="610">
      <img class="<%= namespace %>-Period_Show-sp <%= namespace %>-Util_Center" src="<%= sitepath %>assets/img/hikari/campaign/mno-dm/img-mno-dm-cta-ttl_sp.png" alt="楽天モバイルをお使いの方限定 月額基本料が1年無料">
    </div>
      <div class="u-Adjust_Mt-8">
        <% if (typeof hikariid != 'undefined') { %>
        <% const hikariidparam = `${hikariid}` -%>
        <a href="https://secure3.gol.com/mod-pl/rbb/rmch.cgi?scode=qngTI9rXJpRlc1l6roM&cpnkind=mnocampaign" data-lid_no="<%= hikariidparam %>" class="c-Btn_Primary <%= namespace %>-Cta_Btn <%= namespace %>-Hero-Btn">楽天ひかりに申し込む</a>
        <% } else { %>
        <% } %>
      </div>
  </div>
</div>
