<div class="oneyearfree-Carousel_Campaign">
  <div class="c-Carousel oneyearfree-Carousel_Campaign_Wrap js-oneyearfree-Carousel-campaign">
    <a href="https://car.rakuten.co.jp/shaken/campaign/prospects/lottery5000p_aug23/?scid=wi_hikari_lottery5000p_topgrouplist" target="_blank" rel="noopenner noreferrer"><img src="<%= sitepath %>assets/img/hikari/bnr/car-lottery5000p_aug23.png" width="204" height="204" alt="【楽天Car車検から特別オファー】エントリー＆店舗検索の2ステップで毎月抽選で10名様に5,000ポイント！"></a>
    <a href="https://books.rakuten.co.jp/" target="_blank" rel="noopenner noreferrer"><img src="<%= sitepath %>assets/img/hikari/campaign/one-year-free/oneyear-banner-01.png" width="204" height="204" alt="Rakuten ブックス"></a>
    <a href="https://minijob.rakuten.co.jp/?scid=wi_hikari_barter_pc&utm_source=hikari&utm_medium=banner&utm_campaign=barter" target="_blank" rel="noopenner noreferrer"><img src="<%= sitepath %>assets/img/hikari/campaign/one-year-free/oneyear-banner-02.png" width="204" height="204" alt="Rakuten 超ミニバイト"></a>
    <a href="https://www.rakuten-bank.co.jp/account/campaign/payment1000.html?scid=wi_rmb_hikari_cpn_footer" target="_blank" rel="noopenner noreferrer"><img src="<%= sitepath %>assets/img/hikari/campaign/one-year-free/oneyear-banner-03.png" width="204" height="204" alt="楽天銀行"></a>
    <a href="https://sm.rakuten.co.jp/?scid=wi_rhk_mobile&xadid=wi_rhk_mobile" target="_blank" rel="noopenner noreferrer"><img src="<%= sitepath %>assets/img/hikari/campaign/one-year-free/oneyear-banner-04.jpg" width="204" height="204" alt="Rakuten SEIYU ネットスーパー"></a>
    <a href="https://tv.rakuten.co.jp/?scid=wi_rtv_rhikari_20220622" target="_blank" rel="noopenner noreferrer"><img src="<%= sitepath %>assets/img/hikari/campaign/one-year-free/oneyear-banner-05.jpg" width="204" height="204" alt="Rakuten TV"></a>
    <a href="https://ad2.trafficgate.net/t/r/13296/1441/99636_99636/" target="_blank" rel="noopenner noreferrer"><img src="<%= sitepath %>assets/img/hikari/campaign/one-year-free/oneyear-banner-07-220921.gif" width="204" height="204" alt="Rakuten Card"></a>
    <a href="https://www.rakuten-insurance.co.jp/event/mgm/?scid=wi_hikari_2207_mgm&argument=bdhoDoBc&dmai=a62c65d0dd5b97" target="_blank" rel="noopenner"><img src="<%= sitepath %>assets/img/hikari/campaign/one-year-free/oneyear-banner-08.png" width="204" height="204" alt="楽天の保険 ご紹介キャンペーン"></a>
  </div>
  <div class="c-Carousel_Nav oneyearfree-Carousel_Campaign_Nav oneyearfree-Carousel_Campaign_Nav-sp"></div>
</div>
