<% const pagetitle = "はずれの場合もセカンドチャンス！楽天モバイルショップに来店し、お見積もりいただいたくと、お買いものパンダ特製グッズをプレゼント！" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "panda-goods-secondchance" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    keywords: '',
    noindex: true,
    pathname: filepath,
    ogp_img: 'https://network.mobile.rakuten.co.jp/assets/img/campaign/panda-goods-secondchance/OGP_1200-630.png'
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/panda-goods-secondchance/panda-goods-secondchance.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/error/error.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

  <header class="g-Header">
    <div class="g-Header_Container">
      <div class="g-Header_Logo"><a style="pointer-events: none;">Rakuten Mobile</a></div>
    </div>
  </header>

<div class="<%= namespace %>-Hero">
  <div class="l-System_Container <%= namespace %>-Hero_Container">
    <div class="<%= namespace %>-Hero_Main">
      <h1>
        <img src="<%= sitepath %>assets/img/campaign/panda-goods-secondchance/img-hero-pc.png" alt="はずれの場合もセカンドチャンス！楽天モバイルショップに来店し、お見積もりいただいたくと、お買いものパンダ特製グッズをプレゼント！" width="1125" height="420" class="<%= namespace %>-Utility_Img-pc">
        <img src="<%= sitepath %>assets/img/campaign/panda-goods-secondchance/img-hero-sp.png?201207" alt="はずれの場合もセカンドチャンス！楽天モバイルショップに来店し、お見積もりいただいたくと、お買いものパンダ特製グッズをプレゼント！" class="<%= namespace %>-Utility_Img-sp" width="369" height="331">
      </h1>
    </div>
  </div>
</div>

<div class="<%= namespace %>-Layout_Body">
  <div class="<%= namespace %>-Layout_Body-nav">
    <div class="l-System_Container">
      <p class="<%= namespace %>-Layout_Period"><span class="c-Txt_Emp-01">【景品配布期間】</span>2022年3月8日（火）開店〜終了日未定</p>
      <div class="u-Adjust_Pt-16 u-Adjust_Pb-16 u-Adjust_Align-center">
        <a href="#campaign-flow" class="c-Link_Txt-icon-front js-scroll" style="margin:0 auto;"><span class="c-Icon_Arrow-down-l"></span>プレゼントまでの流れを確認する</a>
      </div>
    </div>
  </div>
  <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-24 u-Adjust_Align-center">本キャンペーンは終了いたしました。
  </p>

  <div class="l-System_Container u-Adjust_Mt-40">
    <div id="campaign-flow">
      <h2 class="c-Heading_Lv2">プレゼントまでの流れ</h2>
      <ul class="c-Flow">
        <li class="<%= namespace %>-Flow_List-in">
          <h3 class="c-Heading_Lv3">携帯料金のお見積り・お申し込みに必要なものを準備する</h3>
          <div class="l-Media_Grid u-Adjust_Mt-24">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img u-Adjust_Mb-24">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-01.png" width="311" alt="">
            </div>
            <div>
              <div>
                <ul class="c-List_Text-disc">
                  <li><a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                  <li>楽天会員ログイン用のユーザID、パスワード
                    <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Emp-02 c-Txt_Normal-s u-Adjust_Mt-8 u-Adjust_Mb-16" style="text-indent: 0;">※本人確認書類の情報と、楽天会員情報が一致している必要があります。</p>
                    <a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Link_Txt-inline u-Adjust_Mt-8">楽天会員情報を確認・変更する<span class="c-Icon_Chevron-right"></span></a>
                  </li>
                  <li><a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                    <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8" style="text-indent: 0;">※ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="<%= sitepath %>faq/detail/00001238/">こちらのご案内ページ</a>を必ず事前にご確認ください。</p>
                  </li>
                  <li><a href="<%= sitepath %>guide/mnp/" class="c-Link_Txt-inline">ご契約者名義のMNP予約番号（他社から乗り換えの場合）<span class="c-Icon_Chevron-right"></span></a></li>
                </ul>
              </div>
            <ul class="c-Txt_Cap u-Adjust_Mt-24">
              <li class="u-Adjust_Pl-0"><span>※</span>未成年者の方のお申し込みに必要な情報、お申し込み方法は<a href="/flow/for-minors/">こちらのご案内ページ</a>をご確認ください。</li>
              <li class="u-Adjust_Pl-0"><span>※</span>Webページにて、楽天モバイル（ドコモ回線・au回線）から移行お手続き後に、Rakuten UN-LIMIT VIにお申し込みいただく場合、MNP予約番号と本人確認書類はご準備不要です。</li>
            </ul>
            </div>
          </div>
        </li>

        <li>
          <h3 class="c-Heading_Lv3">楽天モバイルショップを探す</h3>
          <div class="l-Media_Grid u-Adjust_Mt-24">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-02.png" width="311" alt="">
            </div>
            <div>
              <p class="c-Txt_Normal">ご来店の際は、ネットでできる「<span class="c-Txt_Emp-02">来店予約</span>」が便利です。<br>
                予約された方を優先的にご案内しますので、混雑を気にせずに都合の良い時間にご来店いただけます。</p>
              <p class="c-Txt_Normal u-Adjust_Mt-8">各ショップページの「<span class="c-Txt_Emp-02">来店予約</span>」ボタンよりご予約ください。</p>
              <ul class="c-Txt_Cap u-Adjust_Mt-8">
                <li><span>※</span>カウンターが空き次第のご案内となり、多少の待ち時間をいただく場合がございます。</li>
                <li><span>※</span>ショップページに「来店予約」ボタンがないショップでは、来店予約を行っておりません。ご了承ください。</li>
              </ul>
              <div class="u-Adjust_Mt-24">
                <a href="<%= sitepath %>shop/" class="c-Btn_Primary c-Btn_Primary-large"><span>お近くのショップを探す</span></a>
              </div>
            </div>
          </div>
        </li>

        <li>
          <h3 class="c-Heading_Lv3">ショップで見積もりの依頼をする</h3>
          <div class="l-Media_Grid u-Adjust_Mt-24">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-03.png" width="311" alt="">
            </div>
            <div>
              <p class="u-Adjust_Mb-16">楽天モバイルショップにて、ショップ店員へお見積もりをご依頼ください。</p>
              <a class="c-Link_Txt-inline" href="<%= sitepath %>fee/un-limit/">Rakuten UN-LIMIT VIの詳細はこちら<span class="c-Icon_Chevron-right"></span></a>
            </div>
          </div>
        </li>
        <li>
          <h3 class="c-Heading_Lv3"><span class="c-Txt_Emp-02">お買いものパンダ特製グッズプレゼント！</span></h3>
          <div class="l-Media_Grid u-Adjust_Mt-24">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-04.png" width="311" alt="">
            </div>
            <div>
              <p>お見積もりいただいたお客様1人1つ、どちらかご希望のお買いものパンダグッズを1つプレゼントいたします。</p>
              <ul class="c-Txt_Cap u-Adjust_Mt-8">
                <li><span>※</span>詳細・ご不明点などございましたら、ショップ店員にお気軽にご相談ください。</li>
                <li><span>※</span>景品によっては、在庫がない場合もございます。</li>
                <li><span>※</span>景品の在庫がなくなり次第、終了となります。</li>
                <li><span>※</span>実物と異なる場合がございます。</li>
              </ul>
            </div>
          </div>
        </li>

      </ul>
    </div>

    <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
      <a href="<%= sitepath %>shop/" class="c-Btn_Primary-large <%= namespace %>-Utility_Btn-large"><span>お近くのショップを探す</span></a>
    </div>

  </div>
</div>

</div>

<footer class="g-Footer">

  <%- include('/include/_footer-simple') %>

</footer>

<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
