<% const pagetitle = "Digital Entertainment Content" -%>
<% const directories = [{path:"campaign/", label:"Campaigns & Perks"}] -%>
<% const customroot = {path: rootpath, label:"Top"} -%>
<% const namespace = "digital-contents-en" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: 'Enjoy free NBA, Pacific League, and music streaming with Rakuten Mobile. Get 5 hours of free music every 30 days and unlimited access to Rakuten Magazine for the first 90 days. Explore a wide range of digital entertainment content at no additional cost with Rakuten Mobile plans.',
  keywords: '',
  noindex: false,
  pathname: filepath,
  ogp_img: '${sitepath}assets/img/campaign/digital-contents/en/ogp.png',
  isEnglish: true,
});
%>
<%- include('/include/_common-css-v2') %>
<%- include('/inc/_about-rakuten-mobile-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/digital-contents/en/digital-contents-en.css">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
</head>
<body class="<%= namespace %>-Base">
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>

    <%- include('/include/_breadcrumbs', {
      type: 'head',
      pagetitle,
      directories,
      customroot,
    }) %>
    <div class="<%= namespace %>-Layout_Label">
      <ul class="c-Label_List">
        <li class="c-Label_Normal">Open to Existing Subscribers</li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout_Main">
      <div class="<%= namespace %>-Hero">
        <h1 class="<%= namespace %>-Hero_Ttl">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %> )" srcset="<%= sitepath %>assets/img/campaign/digital-contents/en/hero-sp.png" width="100%">
            <img src="<%= sitepath %>assets/img/campaign/digital-contents/en/hero-pc.png" width="918" height="279" alt="NBA,Pacific League,Music.Enjoy a world of entertainment with Rakuten Mobile at NO EXTRA COST! *Five free hours of Music every 30 days.">
          </picture>
        </h1>
        <div class="<%= namespace %>-Hero_Secondary">
          <h2 class="<%= namespace %>-Hero_Secondary-ttl">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %> )" srcset="<%= sitepath %>assets/img/campaign/digital-contents/en/hero-secondary-sp.png" width="350">
              <img src="<%= sitepath %>assets/img/campaign/digital-contents/en/hero-secondary-pc.png" width="605" height="40" alt="Rakuten Magazine is free for the first 90 days.">
            </picture>
          </h2>
        </div>
      </div>
      <div class="l-System_Container u-Adjust_Pt-8">
        <ul class="<%= namespace %>-Hero_Cap">
          <li class="c-Txt_Cap">*Campaigns are subject to change without prior notice.</li>
          <li class="c-Txt_Cap">*Applies to subscribers of "Rakuten SAIKYO Plan" and "Rakuten SAIKYO Plan (Data Type)."</li>
          <li class="c-Txt_Cap">*Activating services immediately post-plan activation might incur a 3-4 day delay in campaign application.</li>
        </ul>
        <p class="<%= namespace %>-Hero_Ja-page-link u-Adjust_Align-right u-Adjust_Mt-8 u-Adjust_Mt-sp-16">
          <a href="<%= sitepath %>campaign/digital-contents/?l-id=campaign_digital-contents_en_campaign_digital-contents" class="c-Link_Txt-inline">日本語<span class="c-Icon_Chevron-right"></span></a>
        </p>
        <p class="<%= namespace %>-Hero_Announce">
          On April 1, 2024, a new Rakuten Music plan exclusively for Rakuten Mobile subscribers launched! <a href="https://music.rakuten.co.jp/plan/bundle/?scid=wi_rmb_msc_campeign_bundle" target="_blank" class="c-Link_Txt-inline">Learn More<span class="c-Icon_New-window-l"></span></a>
        </p>
        <section class="<%= namespace %>-Media">
          <ul>
            <li>
              <a href="<%= sitepath %>campaign/nba/?l-id=campaign_digital-contents_en_campaign_nba" class="<%= namespace %>-Media_Info">
                <h2 class="<%= namespace %>-Media_Title-border">
                  <picture>
                    <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/campaign/digital-contents/en/ttl-nba-sp.png" width="100%">
                    <img src="<%= sitepath %>assets/img/campaign/digital-contents/en/ttl-nba-pc.png" width="1004" height="516" alt="NBA Rakuten">
                  </picture>
                </h2>
                <div class="<%= namespace %>-Media_Body">
                  <p class="<%= namespace %>-Media_Heading u-Adjust_Mt-8 u-Adjust_Mt-pc-16">
                    <picture>
                      <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/campaign/digital-contents/en/text-nba-sp.png" width="100%">
                      <img src="<%= sitepath %>assets/img/campaign/digital-contents/en/text-nba-pc.png" width="454" height="60" alt="Unlimited access from
                      season start through the NBA Finals.">
                    </picture>
                  </p>
                  <p class="<%= namespace %>-Media_Txt-1 u-Adjust_Mt-16">
                    <picture>
                      <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/campaign/digital-contents/en/fig3-sp.png" width="100%">
                      <img src="<%= sitepath %>assets/img/campaign/digital-contents/en/fig3-pc.png" width="454" height="65" alt="Cost:¥0additional">
                    </picture>
                  </p>
                </div>
              </a>
              <div class="<%= namespace %>-Media_Btn u-Adjust_Mt-8">
                <a href="<%= sitepath %>campaign/nba/?l-id=campaign_digital-contents_en_campaign_nba" class="c-Btn_Regular">Learn More</a>
              </div>
            </li>
            <li>
              <a href="https://tv.rakuten.co.jp/static/pacificleague/lp/mobile_cpn/?scid=wi_rmb_Bandle_LP_toService&utm_medium=display&utm_source=rmb&utm_campaign=Bundle_LP_toService&argument=OKzUTvnU&dmai=a6423baaa54f2f" target="_blank" class="<%= namespace %>-Media_Info">
                <h2 class="<%= namespace %>-Media_Title-border">
                  <picture>
                    <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/campaign/digital-contents/en/ttl-pleague-sp.png" width="100%">
                    <img src="<%= sitepath %>assets/img/campaign/digital-contents/en/ttl-pleague-pc.png" width="1004" height="516" alt="Pacific League Special">
                  </picture>
                </h2>
                <div class="<%= namespace %>-Media_Body">
                  <p class="<%= namespace %>-Media_Heading u-Adjust_Mt-8 u-Adjust_Mt-pc-16">
                    <picture>
                      <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/campaign/digital-contents/en/text-pleague-sp.png" width="100%">
                      <img src="<%= sitepath %>assets/img/campaign/digital-contents/en/text-pleague-pc.png" width="454" height="60" alt="Live stream
                      all Pacific League official games.">
                    </picture>
                  </p>
                  <p class="<%= namespace %>-Media_Txt-2 u-Adjust_Mt-16">
                    <picture>
                      <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/campaign/digital-contents/en/fig4-sp.png" width="100%">
                      <img src="<%= sitepath %>assets/img/campaign/digital-contents/en/fig4-pc.png" width="454" height="65" alt="Cost:¥0additional" loading="lazy">
                    </picture>
                  </p>
                </div>
              </a>
              <div class="u-Adjust_Mt-8 <%= namespace %>-Media_Btn">
                <a href="https://tv.rakuten.co.jp/static/pacificleague/lp/mobile_cpn/?scid=wi_rmb_Bandle_LP_toService&utm_medium=display&utm_source=rmb&utm_campaign=Bundle_LP_toService&argument=OKzUTvnU&dmai=a6423baaa54f2f" target="_blank" class="c-Btn_Regular">Learn More</a>
              </div>
            </li>
            <li>
              <a href="https://music.rakuten.co.jp/plan/bundle/?scid=wi_rmb_msc_digital-contents_en_bundle" target="_blank" class="<%= namespace %>-Media_Info">
                <h2 class="<%= namespace %>-Media_Title"> <img src="<%= sitepath %>assets/img/campaign/digital-contents/en/ttl-rmusic.svg" width="182" height="32" alt="Rakuten music"></h2>
                <div class="u-Adjust_Mt-8">
                  <picture>
                    <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/campaign/digital-contents/en/fig2-sp.png" width="100%">
                    <img src="<%= sitepath %>assets/img/campaign/digital-contents/en/fig2-pc.png" width="491" height="208" alt="">
                  </picture>
                </div>
                <div class="<%= namespace %>-Media_Body">
                  <p class="<%= namespace %>-Media_Heading u-Adjust_Mt-8 u-Adjust_Mt-pc-16">
                    <picture>
                      <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/campaign/digital-contents/en/text-music-sp.png" width="100%">
                      <img src="<%= sitepath %>assets/img/campaign/digital-contents/en/text-music-pc.png" width="454" height="60" alt="No sign-up needed,
                      just log in and play your favorite tunes.">
                    </picture>
                  </p>
                  <p class="u-Adjust_Mt-16">
                    <picture>
                      <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/campaign/digital-contents/en/text-music2-sp.png" width="100%">
                      <img src="<%= sitepath %>assets/img/campaign/digital-contents/en/text-music2-pc.png" width="454" height="273" alt="Cost:¥0additional. Plus! ¥200OFF on the unlimited
                      playback plan">
                    </picture>
                  </p>
                </div>
              </a>
              <div class="u-Adjust_Mt-8 <%= namespace %>-Media_Btn">
                <a href="https://music.rakuten.co.jp/plan/bundle/?scid=wi_rmb_msc_digital-contents_en_bundle" target="_blank" class="c-Btn_Regular">Learn More</a>
              </div>
            </li>
            <li data-ratid="campaign_digital-contents_en_scroll-02_magazine" data-ratevent="appear">
              <a href="https://magazine.rakuten.co.jp/cpn/mno/?scid=mi_20220701_tougoulp_top316&argument=vqhTTgFN&dmai=a62b5619f183bc" target="_blank" class="<%= namespace %>-Media_Info">
                <h2 class="<%= namespace %>-Media_Title"> <img src="<%= sitepath %>assets/img/campaign/digital-contents/en/ttl-rmagazine.svg" width="230" height="32" alt="Rakuten MAGAZINE"></h2>
                <div class="u-Adjust_Mt-8">
                  <picture>
                    <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/campaign/digital-contents/en/fig1-sp.png" width="100%">
                    <img src="<%= sitepath %>assets/img/campaign/digital-contents/en/fig1-pc.png" width="491" height="204" alt="">
                  </picture>
                </div>
                <div class="<%= namespace %>-Media_Body">
                  <p class="<%= namespace %>-Media_Heading u-Adjust_Mt-8 u-Adjust_Mt-pc-16">
                    <picture>
                      <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/campaign/digital-contents/en/text-magazine-pc.png" width="100%">
                      <img src="<%= sitepath %>assets/img/campaign/digital-contents/en/text-magazine-pc.png" width="454" height="60" alt="Unlimited reading!
                      Over 6,000 titles across 1,400 magazines.">
                    </picture>
                  </p>
                  <p class="u-Adjust_Mt-16">
                    <picture>
                      <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/campaign/digital-contents/en/text-magazine2-sp.png" width="100%">
                      <img src="<%= sitepath %>assets/img/campaign/digital-contents/en/text-magazine2-pc.png" width="454" height="273" alt="First 90 days FREE!! Plus! 30％OFF after your free trial">
                    </picture>
                  </p>
                </div>
              </a>
              <div class="u-Adjust_Mt-8 <%= namespace %>-Media_Btn">
                <a href="https://magazine.rakuten.co.jp/cpn/mno/?scid=mi_20220701_tougoulp_top316&argument=vqhTTgFN&dmai=a62b5619f183bc" target="_blank" class="c-Btn_Regular">Learn More</a>
              </div>
            </li>
          </ul>

          <div class="u-Adjust_Align-center u-Adjust_Mt-24 <%= namespace %>-Card_Full">
            <h2 class="<%= namespace %>-Card_Full-title">
              <a href="https://tv.rakuten.co.jp/static/mobile_cpn/lp/svod/?scid=wi_rmb_mnobandle_LP_toService_rmbsvodall" target="_blank" rel="noopener">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/digital-contents/en/logo-rakuten-tv.svg" width="106" height="24">
                <img src="<%= sitepath %>assets/img/campaign/digital-contents/en/logo-rakuten-tv.svg" width="177" height="40" alt="Rakuten TV">
              </picture>
              </a>
            </h2>
            <ul class="u-Adjust_Mt-16 <%= namespace %>-List_Card-bnr">
              <li>
                <a href="https://tv.rakuten.co.jp/static/mobile_cpn/lp/prairie-kids/?scid=wi_rmb_mnobandle_LP_toService_prairiekids" target="_blank" rel="noopener">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/digital-contents/en/bnr-prairie-kids-sp.png" width="304" height="240">
                    <img src="<%= sitepath %>assets/img/campaign/digital-contents/en/bnr-prairie-kids.png" width="228" height="170" alt="Prairi Kids First 2 months for 610 points/mo.">
                  </picture>
                </a>
              </li>
              <li>
                <a href="https://tv.rakuten.co.jp/static/mobile_cpn/lp/asiadrama-premium-channel/?scid=wi_rmb_mnobandle_LP_toService_asiadrama" target="_blank" rel="noopener">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/digital-contents/en/bnr-asia-drama-sp.png" width="304" height="222">
                    <img src="<%= sitepath %>assets/img/campaign/digital-contents/en/bnr-asia-drama.png" width="228" height="153" alt="asian drama channel First 2 months FREE">
                  </picture>
                </a>
              </li>
              <li>
                <a href="https://tv.rakuten.co.jp/static/mobile_cpn/lp/seiyuchannel/?scid=wi_rmb_mnobandle_LP_toService_seiyu" target="_blank" rel="noopener">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/digital-contents/en/bnr-voice-actor-sp.png" width="304" height="222">
                    <img src="<%= sitepath %>assets/img/campaign/digital-contents/en/bnr-voice-actor.png" width="228" height="153" alt="Seiyu Channel First 3 months FREE">
                  </picture>
                </a>
              </li>
              <li>
                <a href="https://tv.rakuten.co.jp/static/mobile_cpn/lp/vcinema_monthlypack/?scid=wi_rmb_mnobandle_LP_toService_vcinema" target="_blank" rel="noopener">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/digital-contents/en/bnr-v-cinema-sp.png" width="304" height="222">
                    <img src="<%= sitepath %>assets/img/campaign/digital-contents/en/bnr-v-cinema.png" width="228" height="153" alt="V Cinema First 3 months FREE">
                  </picture>
                </a>
              </li>
            </ul>
            <p class="u-Adjust_Mt-24 u-Adjust_Pl-16 u-Adjust_Pr-16">
              <a href="https://tv.rakuten.co.jp/static/mobile_cpn/lp/svod/?scid=wi_rmb_mnobandle_LP_toService_rmbsvodall" target="_blank" rel="noopener">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/digital-contents/en/txt-rakuten-tv-01-sp.png" width="622" height="352">
                <img src="<%= sitepath %>assets/img/campaign/digital-contents/en/txt-rakuten-tv-01.png" width="1920" height="182" alt="Explore our specialty genres
                for endless viewing! Up to 3 months FREE on yourfirst subscription. Plus! Ongoing Benefits after your free trial.  ">
              </picture>
              </a>
            </p>
            <div class="u-Adjust_Mt-8 <%= namespace %>-Media_Btn">
              <a href="https://tv.rakuten.co.jp/static/mobile_cpn/lp/svod/?scid=wi_rmb_mnobandle_LP_toService_rmbsvodall" target="_blank" rel="noopener" class="c-Btn_Regular">Learn More</a>
            </div>
          </div>

          <div class="u-Rat_Appear-height" data-ratid="campaign_digital-contents_en_scroll-03_youtube" data-ratevent="appear">&nbsp;</div>
          <div class="<%= namespace %>-Media_Youtube u-Adjust_Mt-24">
            <a href="<%= sitepath %>campaign/youtubepremium/?l-id=campaign_digital-contents_en_campaign_youtubepremium">
              <div class="<%= namespace %>-Media_Youtube_Img">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/digital-contents/en/fig5-sp.png" width="100%">
                  <img src="<%= sitepath %>assets/img/campaign/digital-contents/en/fig5-pc.png" width="1032" height="334" alt="YouTube Premium Subscribe for a more enjoyable YouTube experience First 3 months FREE!! *Applicable only to first-time users of services like YouTube Premium.">
                </picture>
              </div>
            </a>
            <div class="<%= namespace %>-Media_Youtube-btn">
              <a href="<%= sitepath %>campaign/youtubepremium/?l-id=campaign_digital-contents_en_campaign_youtubepremium" class="c-Btn_Regular">Learn More</a>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="u-Rat_Appear-height" data-ratid="campaign_digital-contents_en_scroll-04_entry" data-ratevent="appear">&nbsp;</div>

    <section class="<%= namespace %>-Entry">
      <div class="l-System_Container">
        <h2 class="<%= namespace %>-Entry_Title u-Adjust_Align-center">
          <span>With your Rakuten SAIKYO Plan subscription,<br class="<%= namespace %>-Utility_Br-pc"> unlock exclusive Rakuten Group discounts!</span>
        </h2>
        <div class="<%= namespace %>-Entry_Main">
          <h3 class="<%= namespace %>-Entry_Title2 u-Adjust_Align-center">Also Open to New Applicants!</h3>
          <h4 class="<%= namespace %>-Entry_Title3">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %> )" srcset="<%= sitepath %>assets/img/campaign/digital-contents/en/txt2-sp.png" width="100%">
              <img src="<%= sitepath %>assets/img/campaign/digital-contents/en/txt2-pc.png" width="856" alt="Apply for the Rakuten SAIKYO Plan" loading="lazy">
            </picture>
          </h4>
          <ul class="<%= namespace %>-Entry_Btns">
            <li><a href="<%= sitepath %>guide/application/?lid-r=campaign_digital-contents_en_guide_application&locale=en" class="c-Btn_Primary <%= namespace %>-Entry_CustumBtn <%= namespace %>-Entry_CustumBtn-height"><span>Apply Here (New/MNP Transfer)</span></a></li>
            <li><a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=En&campaign=web-rakuten&l-id=campaign_digital-contents_en&mno_migration=1" class="c-Btn_Secondly <%= namespace %>-Entry_CustumBtn" target="_blank"><span>Change or Migrate Your Plan<br><span class="<%= namespace %>-Entry_CustumBtn-txtS">From Super-Hodai or Combination Plan</span></span></a></li>
          </ul>
          <h4 class="<%= namespace %>-Entry_Title4">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %> )" srcset="<%= sitepath %>assets/img/campaign/digital-contents/en/txt3-sp.png" width="100%">
              <img src="<%= sitepath %>assets/img/campaign/digital-contents/en/txt3-pc.png" width="856" height="" alt="Explore Rakuten Mobile Shops Across the Country" loading="lazy">
            </picture>
          </h4>
          <div class="<%= namespace %>-Entry_Btn">
            <a href="<%= sitepath %>shop/en/?l-id=campaign_digital-contents_en_shop_en" class="c-Btn_Secondly <%= namespace %>-Entry_CustumBtn"><span>Find a Shop Near You</span></a>
          </div>
        </div>
      </div>
    </section>

    <section id="js-trigger" class="<%= namespace %>-Flow">
      <div class="l-System_Container">
        <div class="u-Rat_Appear-height" data-ratid="campaign_digital-contents_en_scroll-05_step" data-ratevent="appear">&nbsp;</div>
        <h2 class="<%= namespace %>-Flow_Title u-Adjust_Align-center">
          Campaign Participation<br class="<%= namespace %>-Utility_Br-sp"> Guide
        </h2>
        <ul class="<%= namespace %>-Flow_List">
          <li>
            <h3 class="<%= namespace %>-Flow_Title2 u-Adjust_Align-center">
              Current or New Subscribers
            </h3>
            <div class="<%= namespace %>-Flow_Img u-Adjust_Mt-24 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/campaign/digital-contents/en/img1.png" width="192" height="104" alt="" loading="lazy">
            </div>
            <p class="u-Adjust_Mt-16">Current or new subscribers qualify for this campaign once they begin using the plan.</p>
            <div class="u-Adjust_Mt-16">
              <a class="c-Link_Txt-icon-front js-scroll" href="#unlimit-plan"><span class="c-Icon_Arrow-down-l"></span>Click to Apply</a>
            </div>
          </li>
          <li>
            <h3 class="<%= namespace %>-Flow_Title2 u-Adjust_Align-center">
              Campaign Application
            </h3>
            <p class="u-Adjust_Mt-24">Ensure to review each campaign's specific conditions and benefits before applying.</p>
            <ul class="u-Adjust_Mt-16 <%= namespace %>-Flow_Btns">
              <li><a href="<%= sitepath %>campaign/nba/?l-id=campaign_digital-contents_en_campaign_nba" class="c-Btn_Secondly <%= namespace %>-Flow_Btn">NBA Rakuten</a></li>
              <li><a href="https://tv.rakuten.co.jp/static/pacificleague/lp/mobile_cpn/?scid=wi_rmb_Bandle_LP_toService&utm_medium=display&utm_source=rmb&utm_campaign=Bundle_LP_toService&argument=OKzUTvnU&dmai=a6423baaa54f2f" class="c-Btn_Secondly <%= namespace %>-Flow_Btn" target="_blank">Pacific League Special</a></li>
              <li><a href="https://magazine.rakuten.co.jp/cpn/mno/?scid=mi_20220701_tougoulp_top316&argument=vqhTTgFN&dmai=a62b5619f183bc" class="c-Btn_Secondly <%= namespace %>-Flow_Btn" target="_blank">Rakuten Magazine</a></li>
              <li><a href="https://music.rakuten.co.jp/campaign/2022/group/mobile/?scid=wi_rmb_msc_unlimit7_all_mobile" class="c-Btn_Secondly <%= namespace %>-Flow_Btn" target="_blank">Rakuten Music</a></li>
              <li><a href="https://tv.rakuten.co.jp/static/mobile_cpn/lp/svod/?scid=wi_rmb_mnobandle_LP_toService_rmbsvodall" class="c-Btn_Secondly <%= namespace %>-Flow_Btn" target="_blank" rel="noopener">Rakuten TV</a></li>
              <li><a href="<%= sitepath %>campaign/youtubepremium/?l-id=campaign_digital-contents_en_campaign_youtubepremium" class="c-Btn_Secondly <%= namespace %>-Flow_Btn">YouTube Premium</a></li>
            </ul>
          </li>
          <li>
            <h3 class="<%= namespace %>-Flow_Title2 u-Adjust_Align-center">
              Earning Rewards
            </h3>
            <div class="<%= namespace %>-Flow_Img u-Adjust_Mt-24 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/campaign/digital-contents/en/img2.png" width="164" height="122" alt="" loading="lazy">
            </div>
            <p class="u-Adjust_Mt-16">
              Rewards are issued upon meeting specific campaign conditions.<br>
              Review the rules on each campaign page to ensure you meet all requirements.
            </p>
          </li>
        </ul>
      </div>
    </section>

    <section class="<%= namespace %>-Mobile">
      <div class="l-System_Container">
        <div class="u-Rat_Appear-height" data-ratid="campaign_digital-contents_en_scroll-06_entry-step" data-ratevent="appear">&nbsp;</div>
        <h2 class="<%= namespace %>-Mobile_Title u-Adjust_Align-center" id="unlimit-plan">
          How to Apply for<br class="<%= namespace %>-Utility_Br-sp"> Rakuten Mobile
        </h2>
        <div class="c-Accordion <%= namespace %>-Mobile_Block">
          <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 u-Adjust_Mr-16">STEP1</span><span class="c-Txt_Emp-01">Apply for Rakuten Mobile</span></button>
          <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="false">
            <div class="c-Tab js-Tab">
              <ul class="c-Tab_Items" role="tablist">
                <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1" data-ratid="campaign_digital-contents_en_tab_application_web" data-ratevent="click" data-ratparam="all">Online</li>
                <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2" data-ratid="campaign_digital-contents_en_tab_application_shop" data-ratevent="click" data-ratparam="all">In-Store</li>
              </ul>
              <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">

                <div class="c-Theme-Borderbox u-Adjust_Mt-24">
                  <div class="l-Media_Grid">
                    <div class="l-Media_Image c-Flow_Image">
                      <img src="/assets/img/campaign/digital-contents/en/icon-flow-01.png" alt="">
                    </div>
                    <div>
                      <p class="c-Txt_Emp-01">Required for Application</p>
                      <ul class="c-List_Text-disc u-Adjust_Mt-16">
                        <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/verify/en/?l-id=campaign_digital-contents_en_guide_verify_en" class="c-Link_Txt-inline">Identity verification documents<span class="c-Icon_Chevron-right"></span></a></li>
                        <li class="u-Adjust_Mt-8">Rakuten member ID and password</li>
                        <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/?l-id=campaign_digital-contents_en_guide_payment" class="c-Link_Txt-inline">Credit card and bank account information<span class="c-Icon_Chevron-right"></span></a></li>
                      </ul>
                      <p class="u-Adjust_Mt-8 c-Txt_Cap">※<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_digital-contents_en_flow_for-minors">*Learn how to apply if you’re a minor</a></p>
                      <p class="u-Adjust_Mt-8 c-Txt_Cap">*If transferring from a carrier that does not support MNP One-Stop, you'll need an MNP reservation number. <a href="<%= sitepath %>guide/mnp/?l-id=campaign_digital-contents_en_guide_mnp#carrier" class="c-Link_Txt">Click here</a> to see phone carriers support the MNP One-Stop service.</p>
                      <p class="u-Adjust_Mt-8 c-Txt_Cap">*If you plan to apply at the shop, you will need an MNP reservation number, even if transferring from a company eligible for the One-Stop service.</p>
                    </div>
                  </div>
                </div>
                <div class="l-Media_Grid-half u-Adjust_Mt-24">
                  <div class="c-Theme-Borderbox">
                    <div class="u-Adjust_Align-center">
                      <p class="<%= namespace %>-Mobile_Icon-title"><span class="c-Icon_New-user-f u-Adjust_Pr-8"></span><span class="c-Txt_Emp-01">New/MNP Transfer (From Another Carrier)</span></p>
                      <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/application/?lid-r=campaign_digital-contents_en_step_guide_application02&locale=en" class="c-Btn_Primary-large">Apply for Rakuten SAIKYO Plan</a></p>
                      <div class="<%= namespace %>-Mobile_Links u-Adjust_Mt-24">
                        <p><a href="<%= sitepath %>fee/saikyo-plan/en/?l-id=campaign_digital-contents_en_fee_saikyo-plan_en" class="c-Link_Txt-inline">Learn More About Rakuten SAIKYO Plan<span class="c-Icon_Chevron-right"></span></a></p>
                        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/flow/application/?l-id=campaign_digital-contents_en_guide_flow_application" class="c-Link_Txt-inline">How to Apply for Rakuten SAIKYO Plan<span class="c-Icon_Chevron-right"></span></a></p>
                      </div>
                    </div>
                  </div>
                  <div class="c-Theme-Borderbox">
                    <div class="u-Adjust_Align-center">
                      <p class="<%= namespace %>-Mobile_Icon-title"><span class="c-Icon_Paper-plane-l u-Adjust_Pr-8"></span><span class="c-Txt_Emp-01">Switch from Rakuten Mobile (Migration)<br><span>(using docomo or au line)</span></span></p>
                      <p class="u-Adjust_Mt-24">
                        <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=En&campaign=web-rakuten&l-id=campaign_digital-contents_step&mno_migration=1" class="c-Btn_Secondly-large <%= namespace %>-Mobile_Font-size-adjust-btn" target="_blank">
                          <span>Switch Plans from “my Rakuten Mobile” (Migration)</span>
                        </a>
                      </p>
                      <div class="<%= namespace %>-Mobile_Links u-Adjust_Mt-24">
                        <p><a href="<%= sitepath %>guide/migration/?l-id=campaign_digital-contents_en_guide_migration" class="c-Link_Txt-inline">Compare With Super-Hodai and Combination Plan*<span class="c-Icon_Chevron-right"></span></a></p>
                        <p class="u-Adjust_Mt-0 c-Txt_Cap">*Plan using docomo or au line discontinued as of April 8, 2020.</p>
                        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/mnp/migration/?l-id=campaign_digital-contents_en_guide_mnp_migration" class="c-Link_Txt-inline">Guide to Migrate to Rakuten Mobile (Rakuten Line)<span class="c-Icon_Chevron-right"></span></a></p>
                        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>flow/mvno-user-registration/?l-id=campaign_digital-contents_en_flow_mvno-user-registration" class="c-Link_Txt-inline">Guide to Migrate for Registered Users<span class="c-Icon_Chevron-right"></span></a></p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
                <div class="l-Media_Grid u-Adjust_Mt-24">
                  <div class="l-Media_Image c-Flow_Image">
                    <img src="/assets/img/campaign/digital-contents/en/icon-flow-02.png" alt="">
                  </div>
                  <div>
                    <p class="c-Txt_Emp-01">Apply for Rakuten SAIKYO Plan with eligible products.</p>
                    <p class="u-Adjust_Mt-8 c-Txt_Emp-02 c-Txt_Cap">*For application procedures for minors, <a href="<%= sitepath %>flow/for-minors/?l-id=campaign_digital-contents_en_flow_for-minors">click here.</a></p>
                    <p><a href="<%= sitepath %>shop/en/?l-id=campaign_digital-contents_en_shop_en02" class="c-Btn_Regular u-Adjust_Mt-16">Find a Shop Near You</a></p>
                  </div>
                </div>
                <div class="c-Theme-Borderbox u-Adjust_Mt-24">
                  <div class="l-Media_Grid">
                    <div class="l-Media_Image c-Flow_Image">
                      <img src="/assets/img/campaign/digital-contents/en/icon-flow-01.png" alt="">
                    </div>
                    <div>
                      <p class="c-Txt_Emp-01">Required for Application</p>
                      <ul class="c-List_Text-disc u-Adjust_Mt-16">
                        <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/verify/en/?l-id=campaign_digital-contents_en_guide_verify_en02" class="c-Link_Txt-inline">Identity verification documents<span class="c-Icon_Chevron-right"></span></a></li>
                        <li class="u-Adjust_Mt-8">Rakuten member ID and password</li>
                        <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/?l-id=campaign_digital-contents_en_guide_payment02" class="c-Link_Txt-inline">Credit card and bank account information<span class="c-Icon_Chevron-right"></span></a></li>
                        <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/mnp/?l-id=campaign_digital-contents_en_guide_mnp02">MNP reservation number</a> if transferring from another carrier (required to be in the subscriber’s name)</li>
                      </ul>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">*<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_digital-contents_en_flow_for-minors02">Learn how to apply if you’re a minor</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="c-Accordion <%= namespace %>-Mobile_Block">
          <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 u-Adjust_Mr-16">STEP2</span><span class="c-Txt_Emp-01">Start Using Rakuten SAIKYO Plan</span></button>
          <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="false">
            <div class="l-Media_Grid">
              <div class="l-Media_Image c-Flow_Image">
                <img src="/assets/img/campaign/digital-contents/en/icon-flow-03.png" alt="">
              </div>
              <div>
                <p>Ensure to apply within the campaign period specified for each offer.</p>
                <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>faq/detail/00001648/?l-id=campaign_digital-contents_en_faq_detail_00001648" class="c-Btn_Regular">How to Start Using a Plan</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="u-Rat_Appear-height" data-ratid="campaign_digital-contents_en_scroll-07_rul7" data-ratevent="appear">&nbsp;</div>
    <div id="unlimit-vi-plan" class="u-Adjust_Mt-48">
      <%- include('/inc/_saikyo-en') %>
    </div>

    <div class="l-System_Container u-Adjust_Mt-64 u-Adjust_Pb-24 u-Adjust_Align-center">
      <h2 class="c-Heading_Lv2">Campaigns & Perks</h2>
      <p class="c-Txt_Cap">*Japanese only</p>
      <div class="c-Carousel js-Carousel-multi u-Adjust_Mt-24">
        <%- include('/include/_bnr-cpn-recommend-bnr') %>
      </div>
      <div class="c-Carousel_Nav-v2-wrap">
        <div class="c-Carousel_Nav-v2"></div>
        <div class="c-Carousel_Nav-v2-bar"></div>
      </div>
      <div class="u-Adjust_Align-center u-Adjust_Mt-40"><a href="<%= sitepath %>campaign/?l-id=campaign_carousel_campaign-top" class="c-Btn_Regular"><span>See All the Campaigns</span></a></div>
    </div>

    <div id="js-fixed-btn" class="<%= namespace %>-Layout_Bottom-fixed" aria-expanded="false" role="region">
      <div class="<%= namespace %>-Layout_Bottom-fixed-inner">
        <a href="<%= sitepath %>guide/application/?lid-r=campaign_digital-contents_f_guide_application_onb&locale=en" class="c-Btn_Primary <%= namespace %>-Layout_Bottom-fixed-btn"><span class="<%= namespace %>-Layout_Bottom-fixed-btn-txt">Apply Here (New/MNP Transfer)</span></a>
        <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=En&campaign=web-rakuten&l-id=campaign_digital-contents_ms&mno_migration=1" class="c-Btn_Secondly <%= namespace %>-Layout_Bottom-fixed-btn" data-ratid="campaign_bank_ms1" data-ratevent="click" data-ratparam="all"><span class="<%= namespace %>-Layout_Bottom-fixed-btn-txt">Change or Migrate Your Plan<br><span class="Bottom_txt-style">From Super-Hodai or Combination Plan</span></span></a>
      </div>
    </div>

    <div class="u-Rat_Appear-height" data-ratid="campaign_digital-contents_en_scroll-08_popask" data-ratevent="appear">&nbsp;</div>

    <footer class="g-Footer <%= namespace %>-Layout_Footer u-Adjust_Mt-64">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <%- include('/include/_breadcrumbs', {
          type: 'foot',
          pagetitle,
          directories,
          customroot,
        }) %>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>

  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>

  <script>
    (function($){
      const trigger = document.getElementById('js-trigger');
      const fixedBtn = document.getElementById('js-fixed-btn');
      function fixedBottomBtn() {
          let scrollY = window.pageYOffset;
          const triggerRect = trigger.getBoundingClientRect();
          const triggerY = scrollY + triggerRect.top;

          if ( scrollY + window.innerHeight > triggerY ) {
              fixedBtn.setAttribute('aria-expanded', 'true');
          } else {
              fixedBtn.setAttribute('aria-expanded', 'false');
          }
      }
      if( fixedBtn && trigger ) {
          window.addEventListener('scroll', fixedBottomBtn);
      }
    })();
  </script>
</body>
</html>
