<% const {namespace, faqDescription, faqContent } = pageInfo -%>
<div class="u-Adjust_Align-center">
  <h2 id="faq" class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">よく見られているご質問</h2>
</div>

<% if (faqDescription) { %>
  <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
    よく見られているご質問をご案内します。<br class="<%= namespace %>-Utility_Disp-tab">
    お困りごとが解決しない場合は、<br class="<%= namespace %>-Utility_Disp-tab">各ページからチャットやお電話でお問い合わせいただけます。
  </p>
<% } %>
<% if (faqContent) { %>
<ul class="c-Link_List <%= namespace %>-Main_List u-Adjust_Mt-24">
  <li><a href="<%= sitepath %>faq/detail/10000735" class="c-Link_Txt-inline">キャッシュバックの受け取り方法を確認したい<span class="c-Icon_Chevron-right"></span></a></li>
</ul>
<% } %>
<% if (!faqContent) { %>
  <div id="js-faq-display" class="<%= namespace %>-Faq_Display">
  </div>
<% } %>


