<% const {namespace, isUserCategory } = pageInfo -%>
<%
  const beforeUserCategory = [
    {
      path: 'internet/turbo/support/product/',
      name: '製品に関するサポート'
    },
    {
      path: 'internet/turbo/support/plan/',
      name: 'プラン・サービスに関するサポート'
    },
    {
      path: 'internet/turbo/support/flow/',
      name: '申し込みからお受け取りまでに関するサポート'
    },
    {
      path: 'internet/turbo/support/campaign/',
      name: 'キャンペーンに関するサポート'
    }
  ]
%>
<%
  const userCategory = [
    {
      path: 'internet/turbo/support/setting/',
      name: '操作・設定・不具合に関するサポート'
    },
    {
      path: 'internet/turbo/support/payment/',
      name: '請求・お支払い方法に関するサポート'
    },
    {
      path: 'internet/turbo/support/contract/',
      name: '契約内容・お手続きに関するサポート'
    }
  ]
%>

<h2 class="c-Heading_Lv3 u-Adjust_Align-center">他カテゴリーから探す</h2>
<div class="c-Tab js-Tab u-Adjust_Mt-24">
  <ul class="c-Tab_Items-bg" role="tablist">
    <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="<%- !isUserCategory %>" aria-controls="tab-content1" data-auto-rat="tab">ご利用開始前の方</li>
    <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="<%- isUserCategory %>" aria-controls="tab-content2" data-auto-rat="tab">ご利用中の方</li>
  </ul>
  <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="<%- isUserCategory %>" aria-labelledby="tab-menu1">
    <ul class="<%= namespace %>-Category_List">
      <% beforeUserCategory.forEach(function(item) { -%>
      <li><a href="<%= sitepath %><%= item.path %>" class="c-Link_Txt-inline"><%- item.name %><span class="c-Icon_Chevron-right"></span></a></li>
      <% }); -%>
    </ul>
  </div>
  <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="<%- !isUserCategory %>" aria-labelledby="tab-menu2">
    <ul class="<%= namespace %>-Category_List">
      <% userCategory.forEach(function(item) { -%>
      <li><a href="<%= sitepath %><%= item.path %>" class="c-Link_Txt-inline"><%- item.name %><span class="c-Icon_Chevron-right"></span></a></li>
      <% }); -%>
    </ul>
  </div>
</div>
<div class="u-Adjust_Align-center u-Adjust_Mt-24">
  <div>
    <a class="c-Btn_Regular" href="<%= sitepath %>internet/turbo/support/">お客様サポートトップへ</a>
  </div>
</div>
