<% const {namespace, subCategory, linkListContent, path} = pageInfo -%>
<h1 class="c-Heading_Lv1 <%= namespace %>-Utility_Heading_Lv1 u-Adjust_Align-center"><%= subCategory %>に関するサポート</h1>
<p class="u-Adjust_Mt-16 u-Adjust_Align-center"><%= subCategory %>に関する知りたい・調べたい情報をお選びください。</p>
<ul class="c-Link_List <%= namespace %>-Main_List u-Adjust_Mt-24">
  <% linkListContent.forEach(function(item) { -%>
    <li>
      <a href="<%= sitepath %><%= item.path %>"><%= item.name %><span class="c-Icon_Chevron-right"></span></a>
    </li>
  <% }); -%>
</ul>
