<% const pagetitle = "ノートン™ モバイル セキュリティ（お申し込み方法・ご利用方法）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/plan/service/", label:"オプションサービス"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '「ノートン™ モバイル セキュリティ」のお申し込み方法・設定方法・ご利用方法の案内になります。※「ノートン™ モバイル セキュリティ」は、ウイルス対策やWeb保護、Wi-Fiセキュリティなどの機能を備え、お客様のスマートフォン（スマホ）を保護します。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>
<% const nameSpace2 = "guide-norton-mobile-security" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<link rel="stylesheet"
  href="<%= sitepath %>assets/css/<%= nameSpace %>/norton-mobile-security/norton-mobile-security.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>

  <div class="l-System">

    <%- include('/include/_header') %>

    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>

    <div class="l-System_Container u-Adjust_Mt-8">
      <p class="c-Txt_Cap u-Adjust_Align-right">※表記の金額はすべて税込です。</p>
    </div>
    <div class="<%= nameSpace %>-Layout_Container">
      <div class="l-System_Container">
        <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

        <div class="u-Adjust_Mt-32">
          <ul>
            <li><a href="<%= sitepath %>service/norton-mobile-security/"
                class="c-Btn_Regular"><span>特長・サービス内容を見る</span></a></li>
          </ul>
        </div>

        <ul class="<%= nameSpace %>-Layout_Anchorlink u-Adjust_Mt-40">
          <li><a href="#howto-apply" class="c-Link_Txt-icon-front js-scroll"><span
                class="c-Icon_Arrow-down-l"></span>お申し込み方法</a></li>
          <li><a href="#howto-use" class="c-Link_Txt-icon-front js-scroll"><span
                class="c-Icon_Arrow-down-l"></span>ご利用方法</a></li>
          <li><a href="#notes" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>注意事項</a>
          </li>
        </ul>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-40" id="howto-apply">お申し込み方法</h2>

        <h3 class="c-Heading_Lv3 u-Adjust_Mt-16">楽天モバイル新規お申し込み時</h3>
        <p class="u-Adjust_Mt-16">
          お申し込みの際、料金プラン詳細画面にある「サービス」の項目から「追加する」ボタンをタップしてください。
        </p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">
          ※オプションサービスのご利用開始にはノートン™ モバイル セキュリティのアカウント作成が必要となります。お申し込み済みの方は「<a href="#howto-use" class="js-scroll">ご利用方法</a>」へお進みください。
        </p>


        <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">楽天モバイルご契約中</h3>
        <div class="c-Tab js-Tab u-Adjust_Mt-24">
          <ul class="c-Tab_Items" role="tablist">
            <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">Webでお手続き</li>
            <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">アプリでお手続き</li>
          </ul>
          <div class="c-Tab_Panel <%= nameSpace2 %>-Layout_List" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
            <ul class="u-Adjust_Mt-16 c-Flow">
              <li>
                <h4 class="c-Heading_Lv4">
                  1. my 楽天モバイル「契約プラン」画面を開く
                </h4>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">※「契約プランへ進む」をタップしてログインすると、手順２の画面が表示されます。</p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/" class="c-Link_Txt">[my
                    楽天モバイル]ログインできません</a>」をご確認ください。</p>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <a href="https://portal.mobile.rakuten.co.jp/dashboard#plans" target="_blank"
                    class="c-Btn_Secondly-large" data-ratId="guide_ecare_plans" data-ratEvent="click"
                    data-ratParam="all">契約プランへ進む</a>
                </p>
              </li>
              <li>
                <h4 class="c-Heading_Lv4">
                  2. 「オプションサービスの追加・解約」をタップする
                </h4>
                <div class="c-Accordion u-Adjust_Mt-16">
                  <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                    楽天モバイルを2回線以上ご契約中の場合
                  </button>

                  <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
                    <p>手続きを行う電話番号が表示されているか、事前にご確認ください。</p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8">※一番最後にご契約された電話番号が自動で表示されています。<br>※表示されている電話番号を切替えた場合、my 楽天モバイルからログアウト（自動ログアウト含む）するまでは切替えた状態が維持されます。</p>
                    <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">電話番号の切替え方法</h4>

                    <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">1 表示されている電話番号をタップする</h5>
                    <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/norton-mobile-security/tel_01-230601.png" alt="" class="c-Img_Capture"></p>

                    <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">2 手続きを行う電話番号をタップする</h5>
                    <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/norton-mobile-security/tel_02-230601.png" alt="" class="c-Img_Capture"></p>

                    <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">3 選択した電話番号が表示されていることを確認する</h5>
                    <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/norton-mobile-security/tel_03-230601.png" alt="" class="c-Img_Capture"></p>
                    <p class="u-Adjust_Mt-16">以上で完了です。手順2の操作へお進みください。</p>
                  </div>
                </div>
                <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/norton-mobile-security/img-apply-05-2-230601.png" width="300" height="" alt="" class="c-Img_Capture"></p>
              </li>
              <li>
                <h4 class="c-Heading_Lv4">
                  3. オプションサービスの「ノートン™ モバイル セキュリティ」のスイッチをONにし、画面下部の「変更する」をタップする
                </h4>
                <div class="l-Media_Grid">
                  <p>
                    <!--レイアウト調整用-->
                  </p>
                  <div class="l-Media_Image">
                    <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
                        src="<%= sitepath %>assets/img/guide/norton-mobile-security/img-apply-06-1-230601.png" width="300" height=""
                        alt="" class="c-Img_Capture"></figure>
                  </div>
                  <div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="c-Tab_Panel <%= nameSpace2 %>-Layout_List" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">

            <ul class="u-Adjust_Mt-16 c-Flow">
              <li>
                <h4 class="c-Heading_Lv4">
                  1. my 楽天モバイルを起動する
                </h4>
                <div class="l-Media_Grid u-Adjust_Mt-24">
                  <div class="c-Box_App <%= nameSpace2 %>-Layout_Media">
                    <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png"
                        alt="my 楽天モバイル"></div>
                    <div class="c-Box_App-txt">
                      <p class="c-Box_App-ttl">my 楽天モバイル</p>
                      <ul class="c-Box_App-link u-Adjust_Mt-16">
                        <li>
                          <a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" height="44" alt="Google Play"></a>
                        </li>
                        <li>
                          <a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/campaign/pay-edy-campaign/app-store.png" alt="App Store" width="148"></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <h4 class="c-Heading_Lv4">
                  2. 画面下の「契約プラン」をタップする
                </h4>
                <p class="u-Adjust_Mt-16">現在の通話サービスやオプションサービスのご契約状況をご確認いただけます。</p>
                <div class="l-Media_Grid">
                  <p><!--レイアウト調整用--></p>
                  <div class="l-Media_Image">
                    <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
                        src="<%= sitepath %>assets/img/guide/users-information/img-01.png" width="300" height=""
                        alt="" class="c-Img_Capture"></figure>
                  </div>
                  <div>
                  </div>
                </div>
              </li>
              <li>
                <h4 class="c-Heading_Lv4">
                  3.「オプションサービスの追加・解約」をタップする
                </h4>
                <div class="c-Accordion u-Adjust_Mt-16">
                  <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                    楽天モバイルを2回線以上ご契約中の場合
                  </button>
                  <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
                    <p>手続きを行う電話番号が表示されているか、事前にご確認ください。</p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8">
                      ※一番最後にご契約された電話番号が自動で表示されています。<br>※表示されている電話番号を切替えた場合、my 楽天モバイルアプリからのログアウト、またアプリを強制的に終了するまでは切替えた状態が維持されます。
                    </p>
                    <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">電話番号の切替え方法</h4>

                    <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">1 表示されている電話番号をタップする</h5>
                    <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/norton-mobile-security/tel_01-230601.png" alt="" class="c-Img_Capture"></p>

                    <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">2 手続きを行う電話番号をタップする</h5>
                    <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/norton-mobile-security/tel_02-230601.png" alt="" class="c-Img_Capture"></p>

                    <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">3 選択した電話番号が表示されていることを確認する</h5>
                    <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/norton-mobile-security/tel_03-230601.png" alt="" class="c-Img_Capture"></p>
                    <p class="u-Adjust_Mt-16">以上で完了です。手順3の操作へお進みください。</p>
                  </div>
                </div>
                <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/norton-mobile-security/img-apply-05-1-230601.png" width="300" height="" alt="" class="c-Img_Capture"></p>
              </li>
              <li>
                <h4 class="c-Heading_Lv4">
                  ４.オプションサービスの「ノートン™ モバイル セキュリティ」のスイッチをONにし、画面下部の「変更する」をタップする
                </h4>
                <div class="l-Media_Grid">
                  <p><!--レイアウト調整用--></p>
                  <div class="l-Media_Image">
                    <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
                        src="<%= sitepath %>assets/img/guide/norton-mobile-security/img-apply-06-2-230601.png" width="300" height=""
                        alt="" class="c-Img_Capture"></figure>
                  </div>
                  <div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <p class="u-Adjust_Mt-32">以上でお申し込みは完了です。<br>
        オプションサービスのご利用開始にはノートン™ モバイル セキュリティのアカウント作成が必要となります。以下の「ご利用方法」へお進みください。</p>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="howto-use">ご利用方法</h2>
        <p class="u-Adjust_Mt-24">お申し込み後、ご登録のメールアドレスに届く「［ノートン™ モバイル セキュリティ］ご利用開始のお知らせ」メールをご確認ください。</p>

        <div class="c-Tab js-Tab u-Adjust_Mt-24">
          <ul class="c-Tab_Items" role="tablist">
            <li class="c-Tab_Item" id="tab-menu3" role="tab" aria-selected="true" aria-controls="tab-content3">Android版</li>
            <li class="c-Tab_Item" id="tab-menu4" role="tab" aria-selected="false" aria-controls="tab-content4">iOS版</li>
          </ul>
          <div class="c-Tab_Panel <%= nameSpace2 %>-Layout_List" id="tab-content3" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu3">
            <ul class="u-Adjust_Mt-16 c-Flow">
              <li>
                <h4 class="c-Heading_Lv4">
                  1. メール内に記載のインストールURLにアクセスし、アカウントを作成する
                </h4>
                <div class="l-Media_Grid">
                  <p class="u-Adjust_Mt-16">お申し込み後に届いたメールに記載されているインストールURLにアクセスし、「新しいアカウントを作成する」をタップしてください。すべての項目を入力し、「アカウントを作成する」をタップするとアカウントが作成されます。</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※パスワードは8文字以上の英数字と記号で設定してください。その際、数字、大文字、小文字、記号をそれぞれ1文字以上含める必要があります。<br>
                    ※「Appleで続行する」もしくは「Googleで続行する」、どちらでもアカウント作成が可能です。その場合は、「4．サインイン」の手順で、Appleでアカウント作成した方は「Appleでサインインする」、Googleでアカウント作成した方は「Googleでサインインする」をタップしてください。</p>
                  <div class="l-Media_Image">
                    <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
                        src="<%= sitepath %>assets/img/guide/norton-mobile-security/img-use-android-01-220809.png" width="300" height=""
                        alt="" class="c-Img_Capture"></figure>
                  </div>
                  <div>
                  </div>
                </div>
              </li>
              <li>
                <h4 class="c-Heading_Lv4">
                  2. Google Play から「ノートン 360」をインストールする
                </h4>
                <div class="l-Media_Grid">
                  <p class="u-Adjust_Mt-16">「ノートン 360」のインストール画面が表示されるので、「インストール」→「開く」をタップしてください。</p>
                  <div class="l-Media_Image">
                    <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
                      src="<%= sitepath %>assets/img/guide/norton-mobile-security/img-use-android-02-220809.png" width="300" height=""
                      alt="" class="c-Img_Capture"></figure>
                  </div>
                  <div>
                  </div>
                </div>
              </li>
              <li>
                <h4 class="c-Heading_Lv4">
                  3. ダウンロードしたアプリを開き、「サインイン」を選択する
                </h4>
                <div>
                  <div class="l-Media_Image">
                    <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
                        src="<%= sitepath %>assets/img/guide/norton-mobile-security/img-use-android-03-220809.png" width="300" height=""
                        alt="" class="c-Img_Capture"></figure>
                  </div>
                  <div>
                  </div>
                </div>
              </li>
              <li>
                <h4 class="c-Heading_Lv4">
                  4. サインインする
                </h4>
                <div class="l-Media_Grid">
                  <p class="u-Adjust_Mt-16">アカウント作成後、サインイン画面になりますので、設定したユーザー名を入力し、「続行する」をタップ、次画面でパスワードを入力してください。</p>
                  <p class="u-Adjust_Mt-16 c-Txt_Cap">※「1．アカウント作成」の手順で、Appleでアカウント作成した方は「Appleでサインインする」、Googleでアカウント作成した方は「Googleでサインインする」をタップしてください。</p>
                  <div class="l-Media_Image">
                    <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
                        src="<%= sitepath %>assets/img/guide/norton-mobile-security/img-use-android-04-220809.png" width="300" height=""
                        alt="" class="c-Img_Capture"></figure>
                  </div>
                  <div>
                  </div>
                </div>
              </li>
              <li>
                <h4 class="c-Heading_Lv4">
                  5. アクティブ化をする
                </h4>
                <div class="l-Media_Grid">
                  <p class="u-Adjust_Mt-16">アクティブ化がされ、アプリの管理画面が表示されたら完了です。</p>
                  <div class="l-Media_Image">
                    <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
                        src="<%= sitepath %>assets/img/guide/norton-mobile-security/img-use-android-05-240424.png" width="300" height=""
                        alt="" class="c-Img_Capture"></figure>
                  </div>
                  <div>
                  </div>
                </div>
              </li>
              <li>
                <h4 class="c-Heading_Lv4">
                  6. 通知設定を許可する
                </h4>
                <div class="l-Media_Grid">
                  <p class="u-Adjust_Mt-16">通知送信のポップアップが表示されますので、「許可」をタップしてください。</p>
                  <div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="c-Tab_Panel <%= nameSpace2 %>-Layout_List" id="tab-content4" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu4">
            <ul class="u-Adjust_Mt-16 c-Flow">
              <li>
                <h4 class="c-Heading_Lv4">
                  1. メール内に記載のインストールURLにアクセスし、アカウントを作成する
                </h4>
                <div class="l-Media_Grid">
                  <p class="u-Adjust_Mt-16">お申し込み後に届いたメールに記載されているインストールURLにアクセスし、「新しいアカウントを作成する」をタップしてください。すべての項目を入力し、「アカウントを作成する」をタップするとアカウントが作成されます。</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※パスワードは8文字以上の英数字と記号で設定してください。その際、数字、大文字、小文字、記号をそれぞれ1文字以上含める必要があります。</p>
                  <div class="l-Media_Image">
                    <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
                        src="<%= sitepath %>assets/img/guide/norton-mobile-security/img-use-ios-01-230727.png" width="300" height=""
                        alt="" class="c-Img_Capture"></figure>
                  </div>
                  <div>
                  </div>
                </div>
              </li>
              <li>
                <h4 class="c-Heading_Lv4">
                  2. App Storeから「ノートン 360」をインストールする
                </h4>
                <div class="l-Media_Grid">
                  <p class="u-Adjust_Mt-16">App Storeへのボタンが表示されるので、タップしてください。「ノートン 360」のインストール画面が表示されるので、「入手」→「開く」をタップしてください。</p>
                  <div class="l-Media_Image">
                    <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
                      <img class="<%= nameSpace2 %>-Layout_Show-pc" src="<%= sitepath %>assets/img/guide/norton-mobile-security/img-use-ios-02-220809.png" width="664" height="" alt="">
                      <img class="<%= nameSpace2 %>-Layout_Show-sp c-Img_Capture" src="<%= sitepath %>assets/img/guide/norton-mobile-security/img-use-ios-02_01-220809.png" width="664" height="" alt="">
                      <span class="c-Icon_Arrow-down-l <%= nameSpace2 %>-Layout_Arrow"></span>
                      <img class="<%= nameSpace2 %>-Layout_Show-sp c-Img_Capture" src="<%= sitepath %>assets/img/guide/norton-mobile-security/img-use-ios-02_02-220809.png" width="664" height="" alt="">
                    </figure>
                  </div>
                  <div>
                  </div>
                </div>
              </li>
              <li>
                <h4 class="c-Heading_Lv4">
                  3. ダウンロードしたアプリを開き、「購入済みの方はこちら」を選択する
                </h4>
                <div class="l-Media_Image">
                  <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
                      src="<%= sitepath %>assets/img/guide/norton-mobile-security/img-use-ios-03-230727.png" width="300" height=""
                      alt="" class="c-Img_Capture"></figure>
                </div>
              </li>
              <li>
                <h4 class="c-Heading_Lv4">
                  4. 「サービスプロバイダからサインイン」をタップし、「ペーストを許可」をタップする
                </h4>
                <div class="l-Media_Grid">
                  <p class="u-Adjust_Mt-16 c-Txt_Cap">
                    ※「サービスプロバイダからサインイン」から利用開始できない場合は、 「ノートン アカウントでサインイン」をタップし、「1．アカウント作成」で設定したアカウントにサインインしてください。<br>
                    ※「ペーストを許可しない」をタップした場合はサインインが必要になります。
                  </p>
                  <div class="l-Media_Image">
                    <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
                      <img class="<%= nameSpace2 %>-Layout_Show-pc" src="<%= sitepath %>assets/img/guide/norton-mobile-security/img-use-ios-04-230727.png" width="664" height="" alt="">
                      <img class="<%= nameSpace2 %>-Layout_Show-sp c-Img_Capture" src="<%= sitepath %>assets/img/guide/norton-mobile-security/img-use-ios-04-01-230727.png" width="664" height="" alt="">
                      <span class="c-Icon_Arrow-down-l <%= nameSpace2 %>-Layout_Arrow"></span>
                      <img class="<%= nameSpace2 %>-Layout_Show-sp c-Img_Capture" src="<%= sitepath %>assets/img/guide/norton-mobile-security/img-use-ios-04-02-230727.png" width="664" height="" alt="">
                    </figure>
                  </div>
                  <div>
                  </div>
                </div>
              </li>
              <li>
                <h4 class="c-Heading_Lv4">
                  5. 通知設定を許可する
                </h4>
                <div class="l-Media_Grid">
                  <p class="u-Adjust_Mt-16">通知送信のポップアップが表示されますので、「許可」をタップしてください。</p>
                  <div class="l-Media_Image">
                    <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
                        src="<%= sitepath %>assets/img/guide/norton-mobile-security/img-use-ios-05-220809.png" width="300" height=""
                        alt="" class="c-Img_Capture"></figure>
                  </div>
                  <div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <p class="u-Adjust_Mt-16">以上でご利用開始の設定は完了です。</p>
        </div>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">機種変更時の対応</h2>
        <p class="u-Adjust_Mt-16">新しい製品でGoogle Play またはApp Storeから「ノートン 360」をダウンロードし、作成したアカウントでサインインすることで利用可能となります。</p>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-40">お問い合わせ先</h2>
        <div class="c-Theme-Light u-Adjust_Mt-16">
          <h3 class="c-Txt_Normal-m c-Txt_Emp-01">ノートン・サポートポータル</h3>
          <p class="u-Adjust_Mt-16">よくあるご質問や、お問い合わせ窓口をご案内しております。</p>
          <a href="https://jp.norton.com/support" class="c-Link_Txt-inline-icon u-Adjust_Mt-16" target="_blank">ノートン・サポートポータル<span class="c-Icon_New-window-l"></span></a>
        </div>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="notes">注意事項</h2>
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>オプションサービスの加入につきましては、月途中で加入された場合、月額料金が日割りとなります。</li>
          <li>オプションサービスの解約につきましては、月途中で解約された場合、月額料金が日割りとなります。</li>
          <li>オプションサービスのご利用開始にはノートン™ モバイル セキュリティのアカウント作成が必要となります。<br>
          お申し込み済みの方は「<a href="#howto-use" class="js-scroll">ご利用方法</a>」へお進みください。</li>
        </ul>

        <div class="u-Adjust_Pt-40">
          <div><a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップにもどる</span></a></div>
          <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>"
              class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a></div>
        </div>

        <div class="u-Adjust_Mt-64">
          <a href="<%= sitepath %>guide/security/?l-id=guide_norton-mobile-security_guide_security" class="c-Banner_Hover-act">
            <img class="<%= nameSpace2 %>-Layout_Show-pc" src="<%= sitepath %>assets/img/bnr/guide-security-1032-160.png" alt="情報セキュリティ 楽天モバイルの情報セキュリティへの取り組みをご紹介">
            <img class="<%= nameSpace2 %>-Layout_Show-sp" src="<%= sitepath %>assets/img/bnr/guide-security-343-108.png" alt="情報セキュリティ 楽天モバイルの情報セキュリティへの取り組みをご紹介">
          </a>
        </div>

      </div>
    </div>

    <%- include('/include/guide/_review') %>
    <%- include('/include/guide/_inquiry') %>

    <footer class="g-Footer">

      <div class="g-Footer_Aside">

        <%- include('/include/footer/bnr/_bnr.ejs') %>

      </div>

      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
          <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ if (typeof directories !== 'undefined') { _%>
          <%_ let dirs = []; _%>
          <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
              <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
              <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
          <%_ }) _%>
          <%_ } _%>
          <li aria-current="true"><%= pagetitle %></li>
        </ul>
        </div>
      </div>

      <%- include('/include/_footer') %>

    </footer>

  </div>
  <%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
</body>

</html>
