<% const pagetitle = "お支払い方法の確認・変更方法" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/payment/payment/", label:"支払い方法の確認・変更"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルのお支払い方法の確認、変更手順についてご案内します。製品やご利用料金のお支払い方法変更は、「クレジットカード／デビットカード」「口座振替」からお選びいただけます。my 楽天モバイルよりお手続きいただけます。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/payment/change/change.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">

  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1">お支払い方法の確認・変更方法</h1>
    <p class="u-Adjust_Mt-24">ご利用料金のお支払い方法の確認、クレジットカード、口座振替、楽天ポイント利用への変更手順についてご案内します。お支払い方法変更は、my 楽天モバイルよりお手続きいただけます。</p>
    <h2 class="c-Heading_Lv2 u-Adjust_Mt-40">変更した支払い方法の適用月について</h2>
    <p class="u-Adjust_Mt-16">お支払い方法を変更した時期により、新しい支払い方法の適用月が異なります。</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天ポイント利用の設定変更も同様です。</p>
    <dl class="c-Dl_Origin u-Adjust_Mt-16">
      <div>
        <dt>毎月1～3日</dt>
        <dd><span class="c-Txt_Emp-01">当月の請求</span>から適用</dd>
      </div>
      <div>
        <dt>毎月4日～月末</dt>
        <dd><span class="c-Txt_Emp-01">翌月の請求</span>から適用</dd>
      </div>
    </dl>
  </div>

  <div class="l-System c-Theme-Light u-Adjust_Mt-40 change-Anchor-Area_Container">
    <div class="l-System_Container">
      <div class="change-Anchor-Area">
        <a href="#anc01" class="js-scroll change-Anchor-Area-Btn c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>お支払い方法の確認手順</a>
        <a href="#anc02" class="js-scroll change-Anchor-Area-Btn c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>クレジットカード・デビットカード情報を変更する</a>
        <a href="#anc03" class="js-scroll change-Anchor-Area-Btn c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>口座振替のご指定口座を変更する</a>
        <a href="#anc04" class="js-scroll change-Anchor-Area-Btn c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>楽天ポイントの利用設定を変更する</a>
      </div>
    </div>
  </div>

  <div class="l-System_Container">

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-40 u-Adjust_Mb-24" id="anc01">お支払い方法の確認手順</h2>

    <div class="c-Tab js-Tab">
      <ul class="c-Tab_Items" role="tablist">
        <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">Webで確認する</li>
        <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">アプリで確認する</li>
      </ul>

      <!--===================================================TAB1(web)====================================================-->
      <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
        <ol class="c-Flow u-Adjust_Mt-40">
          <li>
            <h3 class="c-Heading_Lv3">1. my 楽天モバイル「支払い情報」画面を開く</h3>
            <p class="c-Txt_Cap u-Adjust_Mt-16">
              ※「支払い情報へ進む」をタップしてログインすると、手順2の画面が表示されます。<br>
              ※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/?l-id=guide_payment_change-autopay_faq_detail_00001207" class="c-Link_Txt">[my 楽天モバイル]ログインできません</a>」をご確認ください。
            </p>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <a href="https://portal.mobile.rakuten.co.jp/dashboard#payment" target="_blank" class="c-Btn_Secondly-large" data-ratId="guide_ecare_payment" data-ratEvent="click" data-ratParam="all">支払い情報へ進む</a>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2. 「支払い情報」内にある「お支払い方法」のプルダウンをタップする</h3>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※お支払い方法が登録されていない場合は「変更する」と表示されます。</p>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/card-app-flow-3.png?220610" alt="" class="c-Img_Capture"></p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3. お支払い方法を確認する</h3>
            <p class="u-Adjust_Mt-24">「ご登録の支払い方法」が表示されている項目が現在設定されているお支払い方法です。</p>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/payment-web-flow-5.png?220610" alt="" class="c-Img_Capture"></p>
          </li>
        </ol>
        <p class="u-Adjust_Mt-24">以上でお支払い方法の確認は完了です。</p>

        <!--アコーディオン5-->
        <div class="c-Accordion u-Adjust_Mt-40">
          <button id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>契約者以外の名義のクレジットカード・金融機関口座のご登録とお支払いについて</button>
          <div id="accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-5" aria-hidden="true">
            <ul class="c-List_Text-disc u-Adjust_Mt-16">
              <li class="u-Adjust_Mt-16">
                ご契約者様の年齢により、ご利用いただける内容が異なります。
                <ul>
                  <li class="c-Txt_Cap u-Adjust_Mt-16">※金融機関によっては異なる名義の登録ができない場合があります。また、法人口座は対応しておりません。</li>
                  <li class="u-Adjust_Mt-16 c-Txt_Cap"><span>※</span>クレジットカードや金融機関口座の名義人と同席のうえ、名義人による操作のもとお支払い方法の設定を行ってください。</li>
                  <li class="u-Adjust_Mt-16 c-Txt_Emp-01">ご契約者様が18歳未満の場合</li>
                  <li class="u-Adjust_Mt-16">クレジットカードや金融機関口座の名義が、ご契約者様または保護者の名義の場合にお支払い設定ができます。</li>
                  <li class="u-Adjust_Mt-16 c-Txt_Emp-01">ご契約者様が18歳以上の場合</li>
                  <li class="u-Adjust_Mt-16">クレジットカードや金融機関口座の名義がご契約者様と異なっていてもお支払い設定ができます。</li>
                </ul>
              </li>
              <li class="u-Adjust_Mt-16">ご契約者様以外の名義で支払った場合でも、利用料金100円（税別）につき1ポイントが、楽天モバイルご契約者様に付与されます。保有している楽天ポイントをお支払いに充てることもできます。
                <p class="u-Adjust_Mt-16 c-Txt_Cap u-Adjust_Ml-16"><span>※</span>ポイント付与の対象については<a href="<%= sitepath %>faq/detail/00001576/" class="c-Link_Txt">こちら</a>をご確認ください。</p>
              </li>
              <li class="u-Adjust_Mt-16">お支払い方法で、ご契約者名義と異なるクレジットカードを登録した場合でも、契約回線（Rakuten最強プラン）に紐づけられている楽天IDにて保有している楽天ポイントをお支払いに充てることができます。</li>
            </ul>
          </div>
        </div>

        <!--アコーディオン6-->
        <div class="c-Accordion">
          <button id="accordion-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-6"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>法人クレジットカード・法人口座のご登録について</button>
          <div id="accordion-content-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-6" aria-hidden="true">
            <ul class="c-List_Text-disc u-Adjust_Pt-16">
              <li>法人クレジットカードもご利用可能です。<br>※JCBの法人クレジットカードで有効期限が2099年99月になっているものはご利用いただけません。</li>
              <li>法人の金融機関口座はご利用いただけません。</li>
            </ul>
          </div>
        </div>
      </div>

      <!--===================================================TAB2(app)====================================================-->
      <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
        <p class="c-Txt_Cap u-Adjust_Mt-40">※アプリが最新バージョンでない場合、一部機能が利用できなかったり、ご案内した内容や見た目が異なる場合があります。その場合は、アプリのバージョンをアップデートいただくか、Web版のmy楽天モバイルをご利用ください</p>
        <ol class="c-Flow u-Adjust_Mt-16">
          <li>
            <h3 class="c-Heading_Lv3">1. my 楽天モバイルを起動する</h3>
            <div class="c-Box_App u-Adjust_Mt-24">
              <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt=""></div>
              <div class="c-Box_App-txt">
                <p class="c-Box_App-ttl">my 楽天モバイル</p>
                <p class="u-Adjust_Mt-16">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                <ul class="c-Box_App-link u-Adjust_Mt-16">
                  <li class="<%= nameSpace %>-App_Btn-store">
                    <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
                    <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
                  </li>
                  <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2. 画面下メニューの「利用料金」をタップする</h3>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/payment-app-flow-1.png?220329" alt="" class="c-Img_Capture"></p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3. 「お支払い情報」内の「お支払い方法設定」をタップする</h3>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/card-web-flow-4.png?220610" alt="" class="c-Img_Capture"></p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">4. 「支払い情報」内にある「お支払い方法」のプルダウンをタップする</h3>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※お支払い方法が登録されていない場合は「変更する」と表示されます。</p>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/card-app-flow-3.png?220610" alt="" class="c-Img_Capture"></p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">5. お支払い方法を確認する</h3>
            <p class="u-Adjust_Mt-24">「ご登録の支払い方法」が表示されている項目が現在設定されているお支払い方法です。</p>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/payment-app-flow-3.png?220610" alt="" class="c-Img_Capture"></p>
          </li>
        </ol>
        <p class="u-Adjust_Mt-24">以上でお支払い方法の確認は完了です。</p>

        <!--アコーディオン1-->
        <div class="c-Accordion u-Adjust_Mt-40">
          <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>契約者以外の名義のクレジットカード・金融機関口座のご登録について</button>
          <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
            <p class="u-Adjust_Mt-16">ご契約者様の年齢により、ご利用いただける内容が異なります。</p>
            <p class="u-Adjust_Mt-16 c-Txt_Cap"><span>※</span>クレジットカードや金融機関口座の名義人と同席のうえ、名義人による操作のもとお支払い方法の設定を行ってください。</p>
            <p class="u-Adjust_Mt-16 c-Txt_Emp-01">ご契約者様が18歳未満の場合</p>
            <p class="u-Adjust_Mt-16">クレジットカードや金融機関口座の名義が、ご契約者様または保護者の名義の場合にお支払い設定ができます。</p>
            <p class="u-Adjust_Mt-16 c-Txt_Emp-01">ご契約者様が18歳以上の場合</p>
            <p class="u-Adjust_Mt-16">クレジットカードや金融機関口座の名義がご契約者様と異なっていてもお支払い設定ができます。</p>
          </div>
        </div>

        <!--アコーディオン2-->
        <div class="c-Accordion">
          <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>法人クレジットカード・法人口座のご登録について</button>
          <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
            <ul class="c-List_Text-disc u-Adjust_Pt-16">
              <li>法人クレジットカードもご利用可能です。<br>※JCBの法人クレジットカードで有効期限が2099年99月になっているものはご利用いただけません。</li>
              <li>法人の金融機関口座はご利用いただけません。</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-80" id="anc02">クレジットカード・デビットカード情報を変更する</h2>

    <p class="u-Adjust_Mt-24 u-Adjust_Mb-24">お支払い設定をしたクレジットカード・デビットカードの変更や、有効期限の更新は「my 楽天モバイル」でお手続きができます。「楽天ID（ユーザID）」と「パスワード」が必要となりますので事前にご準備ください。</p>

    <div class="c-Tab js-Tab">
      <ul class="c-Tab_Items" role="tablist">
        <li class="c-Tab_Item u-Adjust_Align-center" id="tab-menu3" role="tab" aria-selected="true" aria-controls="tab-content3">Webで変更する</li>
        <li class="c-Tab_Item u-Adjust_Align-center" id="tab-menu4" role="tab" aria-selected="false" aria-controls="tab-content4">アプリで変更する</li>
      </ul>

      <!--===================================================TAB3(web)====================================================-->
      <div class="c-Tab_Panel" id="tab-content3" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu3">
        <ol class="c-Flow u-Adjust_Mt-40">
          <li>
            <h3 class="c-Heading_Lv3">1. my 楽天モバイル「支払い情報」画面を開く</h3>
            <p class="c-Txt_Cap u-Adjust_Mt-16">
              ※「支払い情報へ進む」をタップしてログインすると、手順2の画面が表示されます。<br>
              ※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/?l-id=guide_payment_change-autopay_faq_detail_00001207" class="c-Link_Txt">[my 楽天モバイル]ログインできません</a>」をご確認ください。
            </p>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <a href="https://portal.mobile.rakuten.co.jp/dashboard#payment" target="_blank" class="c-Btn_Secondly-large" data-ratId="guide_ecare_payment_02" data-ratEvent="click" data-ratParam="all">支払い情報へ進む</a>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2. 「支払い情報」内にある「お支払い方法」のプルダウンをタップする</h3>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※お支払い方法が登録されていない場合は「変更する」をタップしてください。</p>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/card-web-flow-5.png?220610" alt="" class="c-Img_Capture"></p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3. 「新しいカードを利用(自分名義)」をタップする</h3>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/card-app-flow-11.png?220610" alt="" class="c-Img_Capture"></p>
            <!--アコーディオン11-->
            <div class="c-Accordion u-Adjust_Mt-40">
              <button id="accordion-11" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-11"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>登録済みのクレジットカードに変更する場合</button>
              <div id="accordion-content-11" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-11" aria-hidden="true">
                <p class="u-Adjust_Mt-16">すでに登録済みのクレジットカードに変更する場合、以下の手順で設定いただけます。</p>
                <p class="u-Adjust_Mt-16">1. 支払いに利用するクレジットカードを選択</p>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/card-app-flow-14.png?220706" alt="" class="c-Img_Capture"></p>
                <p class="u-Adjust_Mt-16">2. 画面下部の「保存する」をタップ</p>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/card-app-flow-15.png?220706" alt="" class="c-Img_Capture"></p>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">4. カード情報を入力し、「登録を完了する」をタップする</h3>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/card-web-flow-7.png?220610" alt="" class="c-Img_Capture"></p>
            <!--アコーディオン7-->
            <div class="c-Accordion u-Adjust_Mt-40">
              <button id="accordion-7" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-7"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>契約者以外の名義のクレジットカードに支払い方法を変更する場合</button>
              <div id="accordion-content-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-7" aria-hidden="true">
                <p class="u-Adjust_Mt-16">クレジットカードの名義人も同席のうえ、名義人による操作のもとお支払い方法の設定を行ってください。</p>
                <p class="u-Adjust_Mt-16">1. 「新しいカードを利用(他人名義)」をタップする</p>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/card-app-flow-12.png?220610" alt="" class="c-Img_Capture"></p>
                <p class="u-Adjust_Mt-16">2. 必要な情報を入力し、「次へ進む」をタップする</p>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/card-app-flow-5.png?220610" alt="" class="c-Img_Capture"></p>
                <p class="u-Adjust_Mt-16">3. クレジットカードの名義人の情報を入力し、「次へ進む」をタップする</p>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/card-app-flow-13.png?220610" alt="" class="c-Img_Capture"></p>
                <p class="u-Adjust_Mt-16">4. 表示された画面にクレジットカードの名義人とご連絡がとれる最新の情報を入力し、「次へ進む」をタップする</p>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/card-app-flow-9.png?220610" alt="" class="c-Img_Capture"></p>
                <p class="u-Adjust_Mt-16">5. 記入した内容を確認し、［登録を完了する］を選択すると登録が完了します</p>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/card-app-flow-10.png?220610" alt="" class="c-Img_Capture"></p>
              </div>
            </div>
            <!--アコーディオン10-->
            <div class="c-Accordion">
              <button id="accordion-10" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-10"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>クレジットカードがエラーになり登録できない場合</button>
              <div id="accordion-content-10" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-10" aria-hidden="true">
                <p class="u-Adjust_Mt-16">クレジットカードの有効期限を更新する際にエラーが表示される場合は、「<a href="<%= sitepath %>faq/detail/10000363/">クレジットカードの有効期限を更新したいが登録できない</a>」をご確認ください。<br>
                  <br>
                  上記以外でエラーが表示される場合は<br>
                  「<a href="<%= sitepath %>faq/detail/10000251/">クレジットカード登録の際に、エラーが出て登録ができない</a>」をご確認ください。
                </p>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">7. お手続き完了</h3>
            <p class="u-Adjust_Mt-24">以上で変更手続きは完了です。<br>お手続き完了後、ご登録のメールアドレス宛に、「 [ 楽天モバイル ] 支払い方法変更完了のお知らせ」メールをお送りいたします。</p>
          </li>
        </ol>
      </div>

      <!--===================================================TAB4(app)====================================================-->
      <div class="c-Tab_Panel" id="tab-content4" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu4">
        <p class="c-Txt_Cap u-Adjust_Mt-40">※アプリが最新バージョンでない場合、一部機能が利用できなかったり、ご案内した内容や見た目が異なる場合があります。その場合は、アプリのバージョンをアップデートいただくか、Web版のmy楽天モバイルをご利用ください</p>
        <ol class="c-Flow u-Adjust_Mt-16">
          <li>
            <h3 class="c-Heading_Lv3">1. my 楽天モバイルを起動する</h3>
            <div class="c-Box_App u-Adjust_Mt-24">
              <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt=""></div>
              <div class="c-Box_App-txt">
                <p class="c-Box_App-ttl">my 楽天モバイル</p>
                <p class="u-Adjust_Mt-16">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                <ul class="c-Box_App-link u-Adjust_Mt-16">
                  <li class="<%= nameSpace %>-App_Btn-store">
                    <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
                    <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
                  </li>
                  <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2. 画面下メニューの「利用料金」をタップする</h3>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/card-app-flow-1.png?220329" alt="" class="c-Img_Capture"></p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3. 「お支払い情報」内の「お支払い方法設定」をタップする</h3>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/card-web-flow-4.png?220610" alt="" class="c-Img_Capture"></p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">4. 「支払い情報」内にある「お支払い方法」のプルダウンをタップする</h3>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※お支払い方法が登録されていない場合は「変更する」と表示されます。</p>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/card-app-flow-3.png?220610" alt="" class="c-Img_Capture"></p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">5. 「新しいカードを利用(自分名義)」をタップする</h3>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※クレジットカード・デビットカードの有効期限を更新する場合も、「新しいカードを利用（自分名義）」をタップしてください。</p>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/card-app-flow-11.png?220610" alt="" class="c-Img_Capture"></p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">6. カード情報を入力し、「登録を完了する」をタップする</h3>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/card-app-flow-6.png?220610" alt="" class="c-Img_Capture"></p>
            <!--アコーディオン3-->
            <div class="c-Accordion u-Adjust_Mt-40">
              <button id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>契約者以外の名義のクレジットカードに支払い方法を変更する場合</button>
              <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
                <p class="u-Adjust_Mt-16">クレジットカードの名義人も同席のうえ、名義人による操作のもとお支払い方法の設定を行ってください。</p>
                <p class="u-Adjust_Mt-16">1.「新しいカードを利用(他人名義)」をタップする</p>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/card-app-flow-12.png?220610" alt="" class="c-Img_Capture"></p>
                <p class="u-Adjust_Mt-16">2. 必要な情報を入力し、「次へ進む」をタップする</p>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/card-app-flow-5.png?220610" alt="" class="c-Img_Capture"></p>
                <p class="u-Adjust_Mt-16">3. クレジットカードの名義人の情報を入力し、「次へ進む」をタップする</p>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/card-app-flow-13.png?220610" alt="" class="c-Img_Capture"></p>
                <p class="u-Adjust_Mt-16">4. 表示された画面にクレジットカードの名義人とご連絡がとれる最新の情報を入力し、「次へ進む」をタップする</p>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/card-app-flow-9.png?220610" alt="" class="c-Img_Capture"></p>
                <p class="u-Adjust_Mt-16">5. 記入した内容を確認し、［登録を完了する］を選択すると登録が完了します</p>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/card-app-flow-10.png?220610" alt="" class="c-Img_Capture"></p>
              </div>
            </div>
            <!--アコーディオン9-->
            <div class="c-Accordion">
              <button id="accordion-9" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-9"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>クレジットカードがエラーになり登録できない場合</button>
              <div id="accordion-content-9" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-9" aria-hidden="true">
                <p class="u-Adjust_Mt-16">クレジットカードの有効期限を更新する際にエラーが表示される場合は、「<a href="<%= sitepath %>faq/detail/10000363/">クレジットカードの有効期限を更新したいが登録できない</a>」をご確認ください。<br>
                  <br>
                  上記以外でエラーが表示される場合は<br>
                  「<a href="<%= sitepath %>faq/detail/10000251/">クレジットカード登録の際に、エラーが出て登録ができない</a>」をご確認ください。
                </p>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">7. お手続き完了</h3>
            <p class="u-Adjust_Mt-16">以上で変更手続きは完了です。<br>お手続き完了後、ご登録のメールアドレス宛に、「 [ 楽天モバイル ] 支払い方法変更完了のお知らせ」メールをお送りいたします。</p>
          </li>
        </ol>
      </div>
    </div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-80" id="anc03">口座振替のご指定口座を変更する</h2>

    <p class="u-Adjust_Mt-24">口座振替で利用している銀行口座の確認や変更は、「my 楽天モバイル」で行うことができます。「楽天ID」と「パスワード」が必要となりますので事前にご準備ください。</p>

    <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/payment/autopay/?l-id=guide_payment_change_guide_payment_autopay#anc-financial" class="c-Link_Txt-inline-icon" target="_blank">ご利用可能な金融機関はこちら<span class="c-Icon_New-window-l"></span></a></p>

    <p class="u-Adjust_Mt-16 u-Adjust_Mb-24">口座振替をご利用の際は、引き落とし時に100円（税込110円）の手数料がかかります。</p>

    <div class="c-Tab js-Tab">
      <ul class="c-Tab_Items" role="tablist">
        <li class="c-Tab_Item u-Adjust_Align-center" id="tab-menu5" role="tab" aria-selected="true" aria-controls="tab-content5">Webで変更する</li>
        <li class="c-Tab_Item u-Adjust_Align-center" id="tab-menu6" role="tab" aria-selected="false" aria-controls="tab-content6">アプリで変更する</li>
      </ul>



      <!--===================================================TAB5(web)====================================================-->
      <div class="c-Tab_Panel" id="tab-content5" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu5">
        <ol class="c-Flow u-Adjust_Mt-40">
          <li>
            <h3 class="c-Heading_Lv3">1. my 楽天モバイル「支払い情報」画面を開く</h3>
            <p class="c-Txt_Cap u-Adjust_Mt-16">
              ※「支払い情報へ進む」をタップしてログインすると、手順2の画面が表示されます。<br>
              ※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/?l-id=guide_payment_change-autopay_faq_detail_00001207" class="c-Link_Txt">[my 楽天モバイル]ログインできません</a>」をご確認ください。
            </p>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <a href="https://portal.mobile.rakuten.co.jp/dashboard#payment" target="_blank" class="c-Btn_Secondly-large" data-ratId="guide_ecare_payment_03" data-ratEvent="click" data-ratParam="all">支払い情報へ進む</a>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2. 「支払い情報」内にある「お支払い方法」のプルダウンをタップする</h3>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※お支払い方法が登録されていない場合は「変更する」をタップしてください。</p>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/transfer-1.png" alt="" width="300" height="433" loading="lazy" class="c-Img_Capture"></div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3. 「口座振替」をタップする</h3>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/transfer-2.png" alt="" width="300" height="376" loading="lazy" class="c-Img_Capture"></div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">4. ご利用になる金融機関を選択する</h3>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/transfer-3.png" alt="" width="300" height="755" loading="lazy" class="c-Img_Capture"></div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">5. 選択した金融機関名を確認後「金融機関へ」をタップし、画面の案内にしたがって手続きを完了させる</h3>
            <p class="c-Txt_Cap u-Adjust_Mt-16">※手続き完了後、自動で手順6の画面に切り替わります。</p>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/transfer-4.png" alt="" width="300" height="643" loading="lazy" class="c-Img_Capture"></div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">6. 登録した銀行口座が表示されていることを確認する</h3>
            <p class="u-Adjust_Mt-16">「お支払い方法」のプルダウンに登録した銀行口座が表示されていることを確認してください。</p>
            <p class="u-Adjust_Mt-16">手続き完了後、ご登録のメールアドレス宛に、「 [ 楽天モバイル ] 支払い方法変更完了のお知らせ」メールをお送りいたします。</p>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/transfer-5.png" alt="" width="300" height="524" loading="lazy" class="c-Img_Capture"></div>
          </li>
        </ol>
        <p class="u-Adjust_Mt-16">以上で変更手続きは完了です。</p>
      </div>

      <!--===================================================TAB6(app)====================================================-->
      <div class="c-Tab_Panel" id="tab-content6" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu6">
        <p class="c-Txt_Cap u-Adjust_Mt-40">※アプリが最新バージョンでない場合、一部機能が利用できなかったり、ご案内した内容や見た目が異なる場合があります。その場合は、アプリのバージョンをアップデートいただくか、Web版のmy楽天モバイルをご利用ください</p>
        <ol class="c-Flow u-Adjust_Mt-16">
          <li>
            <h3 class="c-Heading_Lv3">1. my 楽天モバイルを起動する</h3>
            <div class="c-Box_App u-Adjust_Mt-24">
              <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt=""></div>
              <div class="c-Box_App-txt">
                <p class="c-Box_App-ttl">my 楽天モバイル</p>
                <p class="u-Adjust_Mt-16">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                <ul class="c-Box_App-link u-Adjust_Mt-16">
                  <li class="<%= nameSpace %>-App_Btn-store">
                    <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
                    <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
                  </li>
                  <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2. 画面下メニューの「利用料金」をタップする</h3>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/transfer-app-menu.png" alt="" width="300" height="52" loading="lazy" class="c-Img_Capture"></div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3. 「お支払い情報」内の「お支払い方法設定」をタップする</h3>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/transfer-app-setting.png" alt="" width="300" height="223" loading="lazy" class="c-Img_Capture"></div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">4. 「支払い情報」内にある「お支払い方法」のプルダウンをタップする</h3>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※お支払い方法が登録されていない場合は「変更する」と表示されます。</p>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/transfer-1.png" alt="" width="300" height="433" loading="lazy" class="c-Img_Capture"></div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">5. 「口座振替」をタップする</h3>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/transfer-2.png" alt="" width="300" height="376" loading="lazy" class="c-Img_Capture"></div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">6. 「my 楽天モバイル」にログインする</h3>
            <p class="u-Adjust_Mt-16">※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/?l-id=guide_payment_change-autopay_faq_detail_00001207" class="c-Link_Txt">[my 楽天モバイル]ログインできません</a>」をご確認ください。</p>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/transfer-my-rakuten-mobile-login.png" alt="" width="300" height="322" loading="lazy" class="c-Img_Capture"></div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">7. 「支払い情報」内にある「お支払い方法」のプルダウンをタップする</h3>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/transfer-1.png" alt="" width="300" height="433" loading="lazy" class="c-Img_Capture"></div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">8. 「口座振替」をタップする</h3>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/transfer-2.png" alt="" width="300" height="376" loading="lazy" class="c-Img_Capture"></div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">9. ご利用になる金融機関を選択する</h3>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/transfer-3.png" alt="" width="300" height="755" loading="lazy" class="c-Img_Capture"></div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">10. 選択した金融機関名を確認後「金融機関へ」をタップし、画面の案内にしたがって手続きを完了させる</h3>
            <p class="c-Txt_Cap u-Adjust_Mt-16">※手続き完了後、自動で手順11の画面に切り替わります。</p>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/transfer-4.png" alt="" width="300" height="643" loading="lazy" class="c-Img_Capture"></div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">11. 登録した銀行口座が表示されていることを確認する</h3>
            <p class="u-Adjust_Mt-16">「お支払い方法」のプルダウンに登録した銀行口座が表示されていることを確認してください。</p>
            <p class="u-Adjust_Mt-16">手続き完了後、ご登録のメールアドレス宛に、「 [ 楽天モバイル ] 支払い方法変更完了のお知らせ」メールをお送りいたします。</p>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/change/transfer-5.png" alt="" width="300" height="524" loading="lazy" class="c-Img_Capture"></div>
          </li>
        </ol>
        <p class="u-Adjust_Mt-16">以上で変更手続きは完了です。</p>
      </div>
    </div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-80" id="anc04">楽天ポイントの利用設定を変更する</h2>

    <p class="u-Adjust_Mt-24">楽天ポイントは1ポイント＝1円として、月々のお支払いにご利用いただけます。利用設定している楽天ポイント数の確認や変更は、「my 楽天モバイル」で行うことができます。</p>
    <p class="u-Adjust_Mt-16">ポイントの利用は「すべて使う」、「一部使う」、「利用しない」からお選びいただけます。</p>
    <p class="u-Adjust_Mt-24 c-Txt_Cap c-Txt_Emp-02 ">※お支払い方法にクレジットカード・デビットカードを登録している場合のみ、ご利用いただけます。</p>

    <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
      <a href="<%= sitepath %>guide/point-payment/#sub02" target="_blank" class="c-Btn_Regular-large" data-ratId="guide_ecare_payment_02" data-ratEvent="click" data-ratParam="all">利用設定方法を見る</a>
    </div>

    <!--アコーディオン12-->
    <div class="c-Accordion u-Adjust_Mt-40">
      <button id="accordion-12" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-12"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>利用時の注意事項</button>
      <div id="accordion-content-12" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-12" aria-hidden="true">
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li class="u-Adjust_Mt-16">
            期間限定ポイント→通常ポイント→楽天キャッシュの順に使用されます。
          </li>
          <li class="u-Adjust_Mt-16">一度に利用できるポイント数は1～30,000 (ダイヤモンド会員の方は～500,000) ポイントです。</li>
          <li class="u-Adjust_Mt-16">適用となる楽天ポイント口座は、請求料金の確定時に登録している口座となります。</li>
          <li class="u-Adjust_Mt-16">利用ポイント数は月内で変更可能ですが、月末を過ぎると翌月の充当ポイント数の変更／キャンセルはできません。</li>
          <li class="u-Adjust_Mt-16">期間限定ポイントをご利用の場合、ご利用料金請求時（毎月11日ごろ） に有効期限を過ぎているポイントは失効となり、ご利用いただけません。</li>
          <li class="u-Adjust_Mt-16">ポイント充当時に「利用ポイント数」が不足している場合は、お申し込み時に選択したクレジットカード／デビットカードに課金されます。</li>
          <li class="u-Adjust_Mt-16">ご利用料金請求時（毎月11日ごろ） にクレジットカード／デビットカードの引き落としができない場合、コンビニ払込票（ハガキ）をお送りいたします。コンビニ払込票（ハガキ）では楽天ポイントはご利用できません。</li>
          <li class="u-Adjust_Mt-16">クレジットカード／デビットカードのお払い情報が有効でない場合、楽天ポイントはご利用できません。</li>
        </ul>
      </div>
    </div>

    <%- include('/include/guide/_faq') %>

  </div>
</div>




<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">



    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>



</body>
</html>
