<% const pagetitle = "Rakuten Miniの認証番号適正化のためのソフトウェアアップデート方法" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/rakuten/", label:"Rakutenオリジナル"}, {path:"product/smartphone/rakuten-mini/", label:"Rakuten Mini"}, {path:"product/smartphone/rakuten-mini/support/", label:"Rakuten Miniサポート情報"}] -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Rakuten Miniの認証番号適正化のためのソフトウェアアップデート方法についてご案内します',
    noindex: false,
    pathname: 'product/smartphone/rakuten-mini/support/certificate-number/'
  });
%>

<%- include('/include/_common-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="u-Adjust_Pb-64">
  <div class="l-System_Container u-Adjust_Mt-32">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
    <p class="u-Adjust_Mt-24">Rakuten Miniの認証番号適正化のためのソフトウェアアップデート方法についてご案内します。<br>
ソフトウェアのバージョン、下記手順をご確認いただき、ご対応をお願いいたします。</p>
    <p class="u-Adjust_Mt-32">Rakuten Miniの認証番号と対応周波数帯の変更については<a href="https://corp.mobile.rakuten.co.jp/news/notice/2020/200626_01.html">こちらのお知らせページ</a>をご確認ください。</p>

    <ul class="u-Adjust_Mt-32">
      <li class="u-Adjust_Mt-16"><a href="#feature1" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>ソフトウェアアップデート手順</a></li>
      <li class="u-Adjust_Mt-16"><a href="#feature2" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>ソフトウェアバージョンの確認</a></li>
      <li class="u-Adjust_Mt-16"><a href="#feature3" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>ソフトウェアアップデート要否の確認</a></li>
    </ul>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="feature1">ソフトウェアアップデート手順</h2>
    <p class="u-Adjust_Mt-16">アップデート手順は2つあり、通知またはメニューからアップデートいただけます。
下記の内容をご確認いただき、手順に従ってアップデートを実施ください。</p>

    <ul class="u-Adjust_Mt-24">
      <li class="u-Adjust_Mt-16"><a href="#update1" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>通知からのアップデート手順</a></li>
      <li class="u-Adjust_Mt-16"><a href="#update2" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>メニューからのアップデート手順</a></li>
      <li class="u-Adjust_Mt-16"><a href="#update3" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>ソフトウェアアップデートを実施する際の注意点</a></li>
    </ul>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-48" id="update1">通知からのアップデート手順</h3>

    <ol class="c-Flow">
      <li><span class="c-Txt_Alphanumeric-m">1</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">ソフトウェアアップデートの通知アイコンを確認し、ステータスバーを下にドラッグしてください。</h4>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/certificate-number/main-image-04.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
      <li><span class="c-Txt_Alphanumeric-m">2</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">[システムアップデート]をタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/certificate-number/main-image-05.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><span class="c-Txt_Alphanumeric-m">3</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">[ダウンロード]をタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/certificate-number/main-image-06.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><span class="c-Txt_Alphanumeric-m">4</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">ダウンロード完了後[今すぐ再起動]をタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/certificate-number/main-image-07.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><span class="c-Txt_Alphanumeric-m">5</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">再起動後[OK]をタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/certificate-number/main-image-08.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
    </ol>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-48" id="update2">メニューからのアップデート手順</h3>
    <ol class="c-Flow">
      <li><span class="c-Txt_Alphanumeric-m">1</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">ホーム画面から[設定]をタップしてください。</h4>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/certificate-number/main-image-09.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
      <li><span class="c-Txt_Alphanumeric-m">2</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">[システム]をタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/certificate-number/main-image-10.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><span class="c-Txt_Alphanumeric-m">3</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">[詳細設定]をタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/certificate-number/main-image-11.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><span class="c-Txt_Alphanumeric-m">4</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">[システム アップデート]をタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/certificate-number/main-image-12.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><span class="c-Txt_Alphanumeric-m">5</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">[アップデートを確認]をタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/certificate-number/main-image-13.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><span class="c-Txt_Alphanumeric-m">6</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">[続行]をタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/certificate-number/main-image-14.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><span class="c-Txt_Alphanumeric-m">7</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">[ダウンロード]をタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/certificate-number/main-image-15.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><span class="c-Txt_Alphanumeric-m">8</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">ダウンロード完了後[今すぐ再起動]をタップしてください。</h4>
<figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/certificate-number/main-image-16.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><span class="c-Txt_Alphanumeric-m">9</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">再起動後[OK]をタップしてください。</h4>
      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/certificate-number/main-image-17.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
    </ol>

    <p class="u-Adjust_Mt-48">以上でソフトウェアアップデートは完了です。</p>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-48" id="update3">ソフトウェアアップデートを実施する際の注意点</h3>
    <ul class="c-List_Text-disc u-Adjust_Pt-24">
      <li>「Rakuten UN-LIMIT」「Rakuten UN-LIMIT VI」をご契約中の方は、ソフトウェアアップデートにかかるデータ通信料は無料です。</li>
      <li>ソフトウェアのアップデートを行う際は、電波状態の安定した環境で移動せず行ってください。</li>
      <li>ソフトウェアのアップデート中は、発着信を含む各機能をご利用できません。また、緊急通報（110番、118番、119番）をご利用することもできません。</li>
      <li>ソフトウェアのアップデート中は、故障の原因となるため、絶対に本機の電源を切らないでください。</li>
      <li>ソフトウェアのアップデート中は、故障の原因となるため、アップデート中に電池切れになることが無いよう、十分に充電した状態で行ってください。</li>
      <li>ソフトウェアのアップデートを行うと、一部の設定が初期化されることがありますので、再度設定を行ってください。</li>
      <li>ソフトウェアアップデート完了後は、以前のバージョンに戻すことはできません。</li>
      <li>Android™ OSアップデート後、必要に応じてアプリケーションのアップデートを行ってください。古いOSバージョン向けのアプリケーションは正常に動作しない場合があります（※OSアップデートのソフトウェアアップデートの場合）</li>
      <li>製品の状況（故障・破損・水濡れ等）によっては、保存されているデータが破損・消失することがありますので重要なデータは、アップデート前にバックアップしておくことをおすすめします。
なお、データが破損・消失した場合の損害に関しては、当社は責任を負いかねますので、あらかじめご了承ください。</li>
    </ul>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="feature2">ソフトウェアバージョンの確認</h2>
    <p class="u-Adjust_Mt-16">ソフトウェアのバージョンによってはアップデートが必要となります。下記手順に従ってバージョンをご確認ください。</p>
    <ol class="c-Flow">
      <li><span class="c-Txt_Alphanumeric-m">1</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">ホーム画面から[設定]をタップしてください。</h4>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/certificate-number/main-image-01.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
      <li><span class="c-Txt_Alphanumeric-m">2</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">[端末情報]をタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/certificate-number/main-image-02.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><span class="c-Txt_Alphanumeric-m">3</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">画面下部の[ソフトウェアバージョン]を確認してください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/certificate-number/main-image-03.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
    </ol>
    <p class="u-Adjust_Mt-24">上記で確認したソフトウェアバージョン情報をもとに、下記の対応要否一覧でソフトウェアアップデートが必要かどうかをご確認ください。</p>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="feature3">ソフトウェアアップデート要否の確認</h2>
    <h3 class="c-Heading_Lv3 u-Adjust_Mt-24">対応要否一覧</h3>

    <dl class="c-List_Dl-origin u-Adjust_Mt-24">
      <div>
        <dt>認証番号が不適切なバージョン</dt>
        <dd>
          C330AE_9.0_RMN_JP_55_SS<br>
          C330AE_9.0_RMN_JP_55_SS_MR<br>
          C330AE_9.0_RMN_JP_65_SS<br>
          C330AE_9.0_RMN_JP_65_SS_MR1<br>
          C330AE_9.0_RMN_JP_68_SS
        </dd>
      </div>
      <div>
        <dt>認証番号は適切だが最新ではないバージョン</dt>
        <dd>
          C330AE_9.0_RMN_JP_55_SS_MR2<br>
          C330AE_9.0_RMN_JP_69_SS<br>
          C330AE_9.0_RMN_JP_72_SS<br>
          C330AE_9.0_RMN_JP_82_SS
        </dd>
      </div>
      <div>
        <dt>最新バージョン</dt>
        <dd>
          C330AE_9.0_RMN_JP_86_SS
        </dd>
      </div>
    </dl>

    <p class="u-Adjust_Mt-24">上記一覧でアップデートが必要なバージョンの場合、<a href="#feature1" class="js-scroll">ソフトウェアアップデート手順</a>に従ってアップデートを行ってください。</p>

    <div class="u-Adjust_Pt-64">
      <div><a href="<%= sitepath %>product/smartphone/rakuten-mini/support/" class="c-Btn_Regular-semiauto"><span>Rakuten Miniサポート情報に戻る</span></a></div>
      <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular-semiauto"><span>楽天モバイルトップへ</span></a></div>
    </div>

  </div>
</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-product.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%#- include('/faq/include/related-product.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
