<% const pagetitle = "Apple Watch ファミリー共有 解約方法 " -%>
<% const directories = [{path:"support/", label:"お客様サポート"},  {path:"support/contract-detail/cancellation/", label:"解約・MNP転出"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルの「Apple Watch ファミリー共有」サービスの解約方法をご案内します。「Apple Watch ファミリー共有」はiPhoneを持っていない家族もApple Watchだけで音声通話やデータ通信を利用できるサービスです。',
    noindex: false,
    pathname: filepath,
  });
%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/guide.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<%- include('/include/_breadcrumbs', {
  type: 'head',
  pagetitle,
  directories,
}) %>

<div class="l-System_Container u-Adjust_Pt-32">
  <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
  <p class="u-Adjust_Mt-32">
    「Apple Watch ファミリー共有」サービスの解約方法をご案内します。<br>
    解約はmy 楽天モバイルまたはiPhone標準アプリの「Apple Watchアプリ」よりお手続きできます。
  </p>
  <p class="c-Txt_Cap u-Adjust_Mt-16">
    ※楽天モバイルショップでもお手続きできます。<br>
    <span class="c-Txt_Emp-02">※iPhone（親回線）を楽天モバイル以外の携帯電話会社でご利用中の場合、Apple Watchアプリから解約はできません。my 楽天モバイルから解約手続きを行ってください。</span>
  </p>

  <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-24">
    <li><a href="#anc-1" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>my 楽天モバイルでの解約方法</a></li>
    <li><a href="#anc-2" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>Apple Watchアプリからの解約方法（ペアリングしたiPhoneが楽天回線の場合のみ）</a></li>
  </ul>

  <section class="u-Adjust_Mt-48">
    <h2 id="anc-1" class="c-Heading_Lv2 u-Adjust_Mt-48">my 楽天モバイルでの解約方法</h2>
    <div class="c-Tab js-Tab">
      <ul class="c-Tab_Items-bg u-Adjust_Mt-16" role="tablist">
        <li class="c-Tab_Item u-Adjust_Align-center" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">Webでお手続き</li>
        <li class="c-Tab_Item u-Adjust_Align-center" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">アプリでお手続き</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
        <ul class="c-Flow u-Adjust_Mt-24">
          <li>
            <h3 class="c-Heading_Lv3">1. my 楽天モバイル「契約プラン」画面を開く</h3>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">
              ※「契約プランへ進む」をタップしてログインすると、手順2の画面が表示されます。<br>
              ※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/">[my 楽天モバイル]ログインできません</a>」をご確認ください。
            </p>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
              <a href="https://portal.mobile.rakuten.co.jp/dashboard#plans" target="_blank"  class="c-Btn_Secondly-large" data-ratid="guide_ecare_plans" data-ratevent="click" data-ratparam="all"><span>契約プランへ進む<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2. Apple Watch ファミリー共有を契約している回線を選択する</h3>
            <div class="c-Accordion u-Adjust_Mt-16">
              <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                楽天モバイルを2回線以上ご契約中の場合
              </button>
              <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
                <p>
                  手続きを行う電話番号が表示されているか、事前にご確認ください。
                </p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">
                  ※一番最後にご契約された電話番号が自動で表示されています。<br>
                  ※表示されている電話番号を切替えた場合、my 楽天モバイルからログアウト（自動ログアウト含む）するまでは切替えた状態が維持されます。
                </p>
                <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">電話番号の切替え方法</h4>
                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">1 表示されている電話番号をタップする</h5>
                <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-01-230601.png" alt="" width="300" height="96" class="c-Img_Capture" loading="lazy"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">2 手続きを行う電話番号をタップする</h5>
                <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-02-230601.png" alt="" width="300" height="188" class="c-Img_Capture" loading="lazy"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">3 選択した電話番号が表示されていることを確認する</h5>
                <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-03-231020.png" alt="" width="300" height="88" class="c-Img_Capture" loading="lazy"></p>
                <p class="u-Adjust_Mt-16">以上で完了です。手順2の操作へお進みください。</p>
              </div>
            </div>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-web-flow01.png" alt="" width="300" height="299" class="c-Img_Capture" loading="lazy"></div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3. 「各種手続き」内の「各種手続きへ進む」をタップする</h3>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-web-flow02.png" alt="" width="300" height="311" class="c-Img_Capture" loading="lazy"></div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">4. 「解約のお手続き」内の「解約」をタップする</h3>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-web-flow03.png" alt="" width="300" height="394" class="c-Img_Capture" loading="lazy"></p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">5. 注意事項を確認し、「内容を確認し、解約手続きへ進む」をタップする</h3>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-web-flow04.png" alt="" width="300" height="348" class="c-Img_Capture" loading="lazy"></p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">6. ワンタイムパスワードを入力し、「認証する」をタップする</h3>
            <p class="c-Txt_Cap u-Adjust_Mt-16">
              ※ワンタイムパスワードは、ご登録されているメールアドレスまたは楽天モバイル回線の携帯電話番号（SMS）に送信されます。<br>
              ※ワンタイムパスワードに関してお困りの場合は<a href="<%= sitepath %>faq/detail/00001914/">こちら</a>をご参照ください。
            </p>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-web-flow05-240521.png" alt="" width="300" height="535" class="c-Img_Capture" loading="lazy"></div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">7. 製品保証サービスをご利用中の方は、製品保証サービスを継続利用するかを選択し、「次へ進む」をタップする</h3>
            <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">
              ※楽天モバイルで購入した製品に紐づく製品保証サービスが全て表示されます。複数表示される場合、「保証対象製品」の製品名をご確認のうえ、お手続きしてください。一度解約をすると再加入することはできません。
            </p>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-web-flow06.png" alt="" width="300" height="483" class="c-Img_Capture" loading="lazy"></div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">8. アンケートに回答し、「解約内容を確認する」をタップする</h3>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-web-flow07.png" alt="" width="300" height="605" class="c-Img_Capture" loading="lazy"></div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">9. お申し込み内容を確認し、「解約を完了する」をタップする</h3>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-web-flow08.png" alt="" width="300" height="281" class="c-Img_Capture" loading="lazy"></div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">10. 解約完了画面を確認し、「ホームへ戻る」をタップする</h3>
            <p class="u-Adjust_Mt-16">
              お手続きが完了しましたら、「回線の解約手続き完了」と表示されます。<br>
              また、ご登録のメールアドレス宛に「解約完了のお知らせ」メールをお送りいたします。
            </p>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-web-flow09.png" alt="" width="300" height="247" class="c-Img_Capture" loading="lazy"></div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">11. 対象の電話番号が「解約済み」と表示されていることを確認する</h3>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-web-flow10.png" alt="" width="300" height="265" class="c-Img_Capture" loading="lazy"></div>
          </li>
        </ul>
        <p class="u-Adjust_Mt-32">以上でmy 楽天モバイルからのApple Watch ファミリー共有の解約手続きは完了です。</p>
      </div>

      <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
        <ul class="c-Flow u-Adjust_Mt-24">
          <li>
            <h3 class="c-Heading_Lv3">1. my 楽天モバイルを起動する</h3>
            <div class="c-Box_App u-Adjust_Mt-24">
              <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt="" width="300"></div>
              <div class="c-Box_App-txt">
                <p class="c-Box_App-ttl">my 楽天モバイル</p>
                <p class="u-Adjust_Mt-16">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                <ul class="c-Box_App-link u-Adjust_Mt-16">
                  <li class="<%= nameSpace %>-App_Btn-store">
                    <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
                    <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
                  </li>
                  <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2. 画面下メニューの「契約プラン」をタップする</h3>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-app-flow01.png" alt="" width="300" height="100" class="c-Img_Capture" loading="lazy">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3. Apple Watch ファミリー共有を契約している回線を選択する</h3>

            <div class="c-Accordion u-Adjust_Mt-16">
              <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                楽天モバイルを2回線以上ご契約中の場合
              </button>
              <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
                <p>
                  手続きを行う電話番号が表示されているか、事前にご確認ください。
                </p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">
                  ※一番最後にご契約された電話番号が自動で表示されています。<br>
                  ※表示されている電話番号を切替えた場合、my 楽天モバイルからログアウト（自動ログアウト含む）するまでは切替えた状態が維持されます。
                </p>
                <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">電話番号の切替え方法</h4>
                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">1 表示されている電話番号をタップする</h5>
                <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-01-230601.png" alt="" width="300" height="96" class="c-Img_Capture" loading="lazy"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">2 手続きを行う電話番号をタップする</h5>
                <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-02-230601.png" alt="" width="300" height="188" class="c-Img_Capture" loading="lazy"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">3 選択した電話番号が表示されていることを確認する</h5>
                <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-03-231020.png" alt="" width="300" height="88" class="c-Img_Capture" loading="lazy"></p>
                <p class="u-Adjust_Mt-16">以上で完了です。手順2の操作へお進みください。</p>
              </div>
            </div>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-app-flow02.png" alt="" width="300" height="297" class="c-Img_Capture" loading="lazy"></p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">4. 「その他のお手続き」内の「各種手続きへ進む」をタップする</h3>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-app-flow03.png" alt="" width="300" height="311" class="c-Img_Capture" loading="lazy"></div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">5. 「解約のお手続き」内の「解約」をタップする</h3>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-app-flow04.png" alt="" width="300" height="428" class="c-Img_Capture" loading="lazy"></div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">6. 注意事項を確認し、「次へ進む」をタップする</h3>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-app-flow05.png" alt="" width="300" height="393" class="c-Img_Capture" loading="lazy"></div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">7. ワンタイムパスワードを入力し、「認証する」をタップする</h3>
            <p class="c-Txt_Cap u-Adjust_Mt-16">
              ※ワンタイムパスワードは、ご登録されているメールアドレスまたは楽天モバイル回線の携帯電話番号（SMS）に送信されます。<br>
              ※ワンタイムパスワードに関してお困りの場合は<a href="<%= sitepath %>faq/detail/00001914/">こちら</a>をご参照ください。
            </p>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-app-flow06-240521.png" alt="" width="300" height="535" class="c-Img_Capture" loading="lazy"></div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">8. 製品保証サービスをご利用中の方は、製品保証サービスを継続利用するかを選択し、「次へ進む」をタップする</h3>
            <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">
              ※楽天モバイルで購入した製品に紐づく製品保証サービスが全て表示されます。複数表示される場合、「保証対象製品」の製品名をご確認のうえ、お手続きしてください。一度解約をすると再加入することはできません。
            </p>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-app-flow07.png" alt="" width="300" height="484" class="c-Img_Capture" loading="lazy"></div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">9. アンケートに回答し、「解約内容を確認する」をタップする</h3>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-app-flow08.png" alt="" width="300" height="373" class="c-Img_Capture" loading="lazy"></div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">10. お申し込み内容を確認し、「解約を完了する」をタップする</h3>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-app-flow09.png" alt="" width="300" height="309" class="c-Img_Capture" loading="lazy"></div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">11. 解約完了画面を確認し、「ホームへ戻る」をタップする</h3>
            <p class="u-Adjust_Mt-16">
              お手続きが完了しましたら、「回線の解約手続き完了」と表示されます。<br>
              また、ご登録のメールアドレス宛に「解約完了のお知らせ」メールをお送りいたします。
            </p>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-app-flow10.png" alt="" width="300" height="248" class="c-Img_Capture" loading="lazy"></div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">12. 対象の電話番号が「解約済み」と表示されていることを確認する</h3>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-app-flow11.png" alt="" width="300" height="265" class="c-Img_Capture" loading="lazy"></div>
          </li>
        </ul>
        <p class="u-Adjust_Mt-32">以上でmy 楽天モバイルからのApple Watch ファミリー共有の解約手続きは完了です。</p>
      </div>
    </div>
  </section>

  <section class="u-Adjust_Mt-48">
    <h2 id="anc-2" class="c-Heading_Lv2 u-Adjust_Mt-48">Apple Watchアプリからの解約方法（ペアリングしたiPhoneが楽天回線の場合のみ）</h2>
    <p class="u-Adjust_Mt-16 c-Txt_Cap c-Txt_Emp-02">
      ※iPhone（親回線）を楽天モバイル以外の携帯電話会社でご利用中の場合、Apple Watchアプリから解約はできません。<a class="js-scroll" href="#anc-1">my 楽天モバイルから解約手続き</a>を行ってください。
    </p>
    <ol class="c-Flow u-Adjust_Mt-32">
      <li>
        <h3 class="c-Heading_Lv3">1. Apple Watchアプリを起動する</h3>
        <div class="l-Media_Image u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-cancel-flow01.png" class="c-Img_Capture" alt="" width="300" height="604" loading="lazy">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">2. 「すべてのWatch」画面で対象のApple Watchをタップする</h3>
        <p class="c-Txt_Cap u-Adjust_Mt-16">※画面が自動で表示されない場合は、上部の「すべてのWatch」をタップし、対象のApple Watchを選択してください。</p>
        <div class="l-Media_Image u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-cancel-flow02.png" class="c-Img_Capture" alt="" width="300" height="476" loading="lazy">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">3. 「モバイル通信」をタップする</h3>
        <div class="l-Media_Image u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-cancel-flow03.png" class="c-Img_Capture" alt="" width="300" height="492" loading="lazy">
        </div>
      </li>

      <li>
        <h3 class="c-Heading_Lv3">4. 「i」マークをタップする</h3>
        <div class="l-Media_Image u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-cancel-flow04.png" class="c-Img_Capture" alt="" width="300" height="171" loading="lazy">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">5. 「Rakutenアカウントを管理」をタップし、待機する</h3>
        <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">
          ※iPhone（親回線）を楽天モバイル以外の携帯電話会社でご利用中の場合、「Rakutenプランを削除」のみ表示されます。「Rakutenプランを削除」を選択すると、Apple Watchの楽天回線は削除となりますが、サービスの解約にはなりません。解約の手続きは<a class="js-scroll" href="#anc-1">my 楽天モバイル</a>にてお手続きください。
        </p>
        <div class="u-Adjust_Align-center <%= nameSpace %>-Layout_Flow-img-column">
          <img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-cancel-flow05.png" class="c-Img_Capture" alt="" width="300" height="364" loading="lazy">
          <img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-cancel-flow06.png" class="c-Img_Capture" alt="" width="300" height="211" loading="lazy">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">6. 楽天IDでログインし、リダイレクトが完了するまで待機する</h3>
        <p class="u-Adjust_Mt-16">
          ご契約された楽天会員のユーザIDとパスワードを入力してログインをしてください。
        </p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/">[my 楽天モバイル]ログインできません</a>」をご確認ください。</p>
        <div class="u-Adjust_Align-center <%= nameSpace %>-Layout_Flow-img-column">
          <img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-cancel-flow07.png" class="c-Img_Capture" alt="" width="300" height="406" loading="lazy">
          <img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-cancel-flow08.png" class="c-Img_Capture" alt="" width="300" height="363" loading="lazy">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">7. 解約内容を確認後、「解約を完了する」をタップし、待機する</h3>
        <div class="u-Adjust_Align-center <%= nameSpace %>-Layout_Flow-img-column">
          <img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-cancel-flow09.png" class="c-Img_Capture" alt="" width="300" height="539" loading="lazy">
          <img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-cancel-flow10.png" class="c-Img_Capture" alt="" width="300" height="265" loading="lazy">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">8. 解約受付が完了するので、「閉じる」をタップする</h3>
        <div class="l-Media_Image u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-cancel-flow11.png" class="c-Img_Capture" alt="" width="300" height="510" loading="lazy">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">9. 解約完了のお知らせメールを受け取る</h3>
        <p class="u-Adjust_Mt-16">
          解約受付完了後、ご登録メールアドレス宛に、「[楽天モバイル]Apple Watch ファミリー共有プラン解約またはキャンセル完了のお知らせ」のメールをお送りします。
        </p>
        <p class="u-Adjust_Mt-16">
          ご解約手続きが完了しているかどうかは、以下からもご確認できます。
        </p>
        <div class="c-Accordion u-Adjust_Mt-16">
          <button type="button" id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Apple Watchアプリから確認する場合</button>
          <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
            <p>Apple Watchアプリのモバイル通信画面から「Rakuten」回線が、「非使用中」に表示されていることを確認する</p>
            <div class="l-Media_Image u-Adjust_Mt-24">
              <img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-cancel-flow12.png" class="c-Img_Capture" alt="" width="300" height="239" loading="lazy">
            </div>
          </div>
        </div>
        <div class="c-Accordion">
          <button type="button" id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>my 楽天モバイルから確認する場合</button>
          <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
            <p>my 楽天モバイルの「ホーム」画面を開き、対象の電話番号が「解約済み」と表示されていることを確認する</p>
            <div class="l-Media_Image u-Adjust_Mt-24">
              <img src="<%= sitepath %>assets/img/guide/cancellation/apple-watch-family-sharing/img-cancel-flow13-231030.png" class="c-Img_Capture" alt="" width="300" height="265" loading="lazy">
            </div>
          </div>
        </div>
      </li>

    </ol>
    <p class="u-Adjust_Mt-16">
      以上でApple Watchアプリからのファミリー共有の解約手続きは完了です。
    </p>
  </section>

  <%- include('/include/guide/_faq') %>

  <div class="u-Adjust_Pt-64">
    <div><a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップにもどる</span></a></div>
    <div class="u-Adjust_Mt-16"><a href="<%= sitepath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a></div>
  </div>

  <div class="u-Adjust_Mt-16 guide-Btn_Bot" id="openchatbot">
    <a href="#openchatbot" data-ratId="floating-ai_chat_support" data-ratEvent="click" data-ratParam="all"><img src="<%= sitepath %>assets/img/common/img-aichat-bot.png" width="124" alt="Open chat Bot"></a>
    <div class="u-Adjust_Mt-16 guide-Btn_Bot-close">
      <div role="button" tabindex="0" id="closechatbot" class="guide-Btn_Bot-close-btn" aria-label="チャットボットを閉じる"><img src="<%= sitepath %>assets/img/common/img-aichat-close.png" width="20" alt=""></div>
    </div>
  </div>


  <%- include('/include/guide/_inquiry') %>
  <%- include('/include/guide/_review') %>
</div>

<footer class="g-Footer">
  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>
  <div class="l-System_Container">
    <%- include('/include/_breadcrumbs', {
      type: 'foot',
      pagetitle,
      directories,
    }) %>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>

<%- include('/include/_common-js') %>
<%- include('/include/guide/_generic-search-faq-js') %>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>

</body>
</html>
