<% const pagetitle = "データチャージ（ご利用方法）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/plan/service/",  label:"オプションサービス"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'データチャージ（ご利用方法）をご案内します。my 楽天モバイル（アプリ・Web）からかんたんに変更のお手続きが可能です',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

    <p class="u-Adjust_Mt-40"><a href="<%= sitepath %>service/data-charge/" class="c-Btn_Regular">特長・サービス内容を見る</a></p>

    <!--  -->
    <div class="u-Adjust_Mt-24">
      <ul class="c-Link_List-horizontal-simple">
        <li><a href="#datachage" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>データチャージご利用時のご注意事項</a></li>
        <li><a href="#use" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>データチャージのご利用方法</a></li>
        <li><a href="#check" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>チャージした高速データ容量の有効期限確認方法</a></li>
      </ul>
    </div>

    <div class="u-Adjust_Mt-24">
      <h2 id="datachage" class="c-Heading_Lv2">データチャージご利用時のご注意事項</h2>

      <ul class="c-List_Text-disc u-Adjust_Mt-16">
        <li>高速データ容量は以下の順序で消費されます。
          <ol class="c-List_Ordered">
            <li>当月付与された高速データ容量</li>
            <li>データチャージした高速データ容量</li>
          </ol>
        </li>
        <li>データチャージした高速データ容量は、お申し込み後すぐにご利用いただけます。有効期限は購入日を含めて31日間です。</li>
        <li>データチャージした高速データ容量は、毎月のプラン料金のデータ利用量にはカウントされません。</li>
        <li>データチャージの料金は不課税です。</li>
      </ul>
    </div>
    <!--  -->

    <h2 id="use" class="c-Heading_Lv2 u-Adjust_Mt-48">データチャージのご利用方法</h2>

    <div class="c-Tab js-Tab u-Adjust_Mt-24">
      <ul class="c-Tab_Items" role="tablist">
        <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">Webでお手続き</li>
        <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">アプリでお手続き</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
        <ul class="u-Adjust_Mt-16 c-Flow">
          <li>
            <h4 class="c-Heading_Lv4">
              1. my 楽天モバイル「ホーム」の「データチャージ」画面を開く
            </h4>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">※「データチャージへ進む」をタップしてログインすると、手順２の画面が表示されます。</p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap">※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/" class="c-Link_Txt">[my
                楽天モバイル]ログインできません</a>」をご確認ください。</p>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <a href="https://portal.mobile.rakuten.co.jp/dashboard?scrollTo=partnerArea#home" target="_blank" class="c-Btn_Secondly-large"
                data-ratId="guide_ecare_home_partnerArea" data-ratEvent="click" data-ratParam="all">データチャージへ進む</a>
            </p>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">2. 「データチャージ」をタップする</h4>
            <div class="c-Accordion u-Adjust_Mt-16">
              <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイルを2回線以上ご契約中の場合</button>
              <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
                <p class="u-Adjust_Mt-8">楽天モバイルを2回線以上契約されている場合は、以下の手順で表示する電話番号を切り替えることができます。</p>
                <h5 class="c-Heading_Lv5 u-Adjust_Mt-24">1. 画面で表示されている電話番号をタップする</h5>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-01-230601.png" alt="" width="298" height="139" loading="lazy" class="c-Img_Capture"></div>
                <h5 class="c-Heading_Lv5 u-Adjust_Mt-16">2. 回線を表示したい電話番号をタップする</h5>
                <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>チェックがついている電話番号が、現在表示されている回線です。</p>
                <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-02-230601.png" alt="" width="298" height="243" loading="lazy" class="c-Img_Capture"></div>
                <h5 class="c-Heading_Lv5 u-Adjust_Mt-16">3. 表示されている電話番号が切り替わっていることを確認する</h5>
                <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-03-230601.png" alt="" width="298" height="222" loading="lazy" class="c-Img_Capture"></div>
              </div>
            </div>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/common/img-02-230601.png" width="311" height="184" loading="lazy" alt="" class="c-Img_Capture">
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              3.チャージするデータの容量を選択し、「購入する」をタップする
            </h4>
            <div>
              <p class="u-Adjust_Mt-16 c-Txt_Cap">※「購入する」をタップするとすぐにチャージされます。</p>
              <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/guide/common/img-05-230807.png" width="300" height="559" loading="lazy" alt="" class="c-Img_Capture">
              </div>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              4.お手続き完了
            </h4>
            <p class="u-Adjust_Mt-16">以上でお手続きは完了です。<br>
              お手続き完了後、ご登録のメールアドレス宛に、「楽天モバイルデータチャージ完了のお知らせ」メールをお送りいたします。
            </p>
          </li>
        </ul>

      </div>
      <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
        <ul class="u-Adjust_Mt-16 c-Flow">
          <li>
            <h4 class="c-Heading_Lv4">
              1. my 楽天モバイルを起動する
            </h4>
            <div class="u-Adjust_Mt-24">
              <div class="c-Box_App">
                <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt="my 楽天モバイル"></div>
                <div class="c-Box_App-txt">
                  <p class="c-Box_App-ttl">my 楽天モバイル</p>
                  <p class="u-Adjust_Mt-8">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                  <ul class="c-Box_App-link u-Adjust_Mt-16">
                    <li><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" height="44" alt=""></a></li>
                    <li><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></li>
                    <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              2. 画面を下にスクロールし、「データチャージ」をタップする
            </h4>
            <div class="c-Accordion u-Adjust_Mt-16">
              <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイルを2回線以上ご契約中の場合</button>
              <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
                <p class="u-Adjust_Mt-8">楽天モバイルを2回線以上契約されている場合は、以下の手順で表示する電話番号を切り替えることができます。</p>
                <h5 class="c-Heading_Lv5 u-Adjust_Mt-24">1. 画面で表示されている電話番号をタップする</h5>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-01-230601.png" alt="" width="298" height="139" loading="lazy" class="c-Img_Capture"></div>
                <h5 class="c-Heading_Lv5 u-Adjust_Mt-16">2. 回線を表示したい電話番号をタップする</h5>
                <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>チェックがついている電話番号が、現在表示されている回線です。</p>
                <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-02-230601.png" alt="" width="298" height="243" loading="lazy" class="c-Img_Capture"></div>
                <h5 class="c-Heading_Lv5 u-Adjust_Mt-16">3. 表示されている電話番号が切り替わっていることを確認する</h5>
                <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-03-230601.png" alt="" width="298" height="222" loading="lazy" class="c-Img_Capture"></div>
              </div>
            </div>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/common/img-02-230601.png" width="311" height="184" loading="lazy" alt="" class="c-Img_Capture">
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              3.チャージするデータの容量を選択し、「購入する」をタップする
            </h4>
            <div>
              <p class="u-Adjust_Mt-16 c-Txt_Cap">※「購入する」をタップするとすぐにチャージされます。</p>
              <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/guide/common/img-05-230807.png" width="300" height="559" loading="lazy" alt="" class="c-Img_Capture">
              </div>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              4.お手続き完了
            </h4>
            <p class="u-Adjust_Mt-16">以上でお手続きは完了です。<br>
              お手続き完了後、ご登録のメールアドレス宛に、「楽天モバイルデータチャージ完了のお知らせ」メールをお送りいたします。
            </p>
          </li>
        </ul>
      </div>
    </div>

    <!--  -->
    <h2 id="check" class="c-Heading_Lv2 u-Adjust_Mt-48">チャージした高速データ容量の有効期限確認方法</h2>

    <div class="c-Tab js-Tab u-Adjust_Mt-24">
      <ul class="c-Tab_Items" role="tablist">
        <li class="c-Tab_Item" id="tab-menu3" role="tab" aria-selected="true" aria-controls="tab-content3">Webで確認する</li>
        <li class="c-Tab_Item" id="tab-menu4" role="tab" aria-selected="false" aria-controls="tab-content4">アプリで確認する</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content3" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu3">
        <ul class="u-Adjust_Mt-16 c-Flow">
          <li>
            <h4 class="c-Heading_Lv4">
              1. my 楽天モバイル「申し込み履歴」画面を開く
            </h4>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">※「申し込み履歴へ進む」をタップしてログインすると、手順２の画面が表示されます。</p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap">※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/" class="c-Link_Txt">[my
                楽天モバイル]ログインできません</a>」をご確認ください。</p>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <a href="https://portal.mobile.rakuten.co.jp/dashboard#orders" target="_blank"
                class="c-Btn_Secondly-large" data-ratId="guide_ecare_orders" data-ratEvent="click"
                data-ratParam="all">申し込み履歴へ進む</a>
            </p>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              2. データチャージした申し込み履歴を選択する
            </h4>
            <div>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
                  src="<%= sitepath %>assets/img/guide/data-charge/img_03_220922.png?220922" width="300" height="" alt=""
                  class="c-Img_Capture"></figure>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              3. お申し込み日を確認する
            </h4>
            <p class="u-Adjust_Mt-16">チャージした高速データ容量の有効期限はお申し込み日を含めて31日間となります。</p>
            <div>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
                  src="<%= sitepath %>assets/img/guide/data-charge/img_04_220922.png?220922" width="300" height="" alt=""
                  class="c-Img_Capture"></figure>
            </div>
          </li>
        </ul>
      </div>
      <div class="c-Tab_Panel" id="tab-content4" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu4">
        <ul class="u-Adjust_Mt-16 c-Flow">
          <li>
            <h4 class="c-Heading_Lv4">
              1. my 楽天モバイルを起動する
            </h4>
            <div class="u-Adjust_Mt-24">
              <div class="c-Box_App">
                <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt="my 楽天モバイル"></div>
                <div class="c-Box_App-txt">
                  <p class="c-Box_App-ttl">my 楽天モバイル</p>
                  <p class="u-Adjust_Mt-8">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                  <ul class="c-Box_App-link u-Adjust_Mt-16">
                    <li><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" height="44" alt=""></a></li>
                    <li><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></li>
                    <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              2. 画面右上のメニュー（三本線）をタップし、「申し込み履歴」をタップする
            </h4>
            <div>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/data-charge/img_01_220922.png?220922" width="300" height="" alt="" class="c-Img_Capture"></figure>
            </div>
            <div>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/data-charge/img_02_220922.png?220922" width="300" height="" alt="" class="c-Img_Capture"></figure>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              3. データチャージした申し込み履歴を選択する
            </h4>
            <div>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/data-charge/img_03_220922.png?220922" width="300" height="" alt="" class="c-Img_Capture"></figure>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              4. お申し込み日を確認する
            </h4>
            <p class="u-Adjust_Mt-16">チャージした高速データ容量の有効期限はお申し込み日を含めて31日間となります。</p>
            <div>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/data-charge/img_04_220922.png?220922" width="300" height="" alt="" class="c-Img_Capture"></figure>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>




<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>

  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>



</body>
</html>
