<% const pagetitle = "【ANAグループ社員様・ご家族様限定】Rakuten UN-LIMIT VIお申し込みで3,000ポイントプレゼント" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "ana" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: 'ANAグループ社員様・ご家族様限定！Rakuten UN-LIMIT VIお申し込みで3,000ポイントプレゼントします。なお、他のキャンペーンとも併用可能なので、さらにポイントがもらえるチャンスです。',
    keywords: '',
    noindex: true,
    pathname: filepath,
    canonical_custom: 'https://mobile.rakuten.co.jp/campaign/ana/'
  });
%>
<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/ana/ana.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= namespace %>-Hero_Return">
  <div class="l-System_Container <%= namespace %>-Hero_Container">
    <div class="<%= namespace %>-Hero_Main u-Adjust_Pt-40">
      <h1>
        <img src="<%= sitepath %>assets/img/campaign/ana/img_hero3000.png?210315" alt="ANAグループ社員様・ご家族様限定!Rakuten UN-LIMIT VIお申し込みで 3,000ポイントプレゼント ※期間限定ポイントになります" width="857" class="<%= namespace %>-Utility_Img-pc">
        <img src="<%= sitepath %>assets/img/campaign/ana/img_hero3000_sp.png?210315" alt="ANAグループ社員様・ご家族様限定!Rakuten UN-LIMIT VIお申し込みで 3,000ポイントプレゼント ※期間限定ポイントになります" class="<%= namespace %>-Utility_Img-sp">
      </h1>
    </div>
  </div>
</div>

<div class="<%= namespace %>-Layout_Body">
  <div class="l-System_Container">
    <div class="c-Infobox_Standing-light u-Adjust_Mt-16">
      <p>【エントリー期間】2021年3月1日(月) 9:00～2021年5月31日(月) 23:59</p>
      <p class="u-Adjust_Mt-8">【楽天モバイルお申し込み期間】</p>
      <p class="u-Adjust_Mt-8 u-Adjust_Ml-16">Web：2021年3月1日(月) 9:00～2021年5月31日(月) 23:59</p>
      <p class="u-Adjust_Mt-8 u-Adjust_Ml-16">ショップ：2021年3月1日(月)開店～2021年5月31日(月)閉店</p>
      <p class="u-Adjust_Mt-8">【楽天モバイル開通期限】2021年6月30日(水) 23:59</p>
    </div>

    <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-16">
      <li><a href="https://mobile.rakuten.co.jp/campaign/ana/#campaign-rule" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルールを見る</a></li>
    </ul>

    <div class="u-Adjust_Mt-48">
      <h3 class="c-Heading_Lv3">キャンペーン内容</h3>

      <p class="u-Adjust_Mt-8">エントリーして、Rakuten UN-LIMIT VIにお申し込みただくと、ANAグループ社員・ご家族様限定で、3,000ポイントをプレゼントいたします。</p>
      <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>fee/un-limit/" class="c-Link_Txt-icon">Rakuten UN-LIMIT VIの詳細こちら<span class="c-Icon_Chevron-right"></span></a></p>
    </div>

    <div class="u-Adjust_Mt-48">
      <h3 class="c-Heading_Lv3">キャンペーン参加方法</h3>
      <div class="ana-Flow_List-container">
        <ul class="ana-Flow_List ana-Flow_List-sub ana-Flow_List-outer-ttl">
          <li>
            <p class="c-Heading_Lv4 u-Adjust_Align-center c-Txt_Emp-02">STEP1</p>
            <h3 class="c-Heading_Lv3 u-Adjust_Mb-16 u-Adjust_Align-center">エントリーする</h3>
          </li>
          <li>
              <a href="https://r10.to/hlQU4F" class="c-Btn_Primary-large" target="_blank"><span>アンケートに答えてエントリーする<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a>
              <p class="u-Adjust_Mt-8">エントリーには、<span class="c-Txt_Emp-02">ANAグループ社員様の所属企業名・社員番号</span>が必要です。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-center">※ 5/31 23:59までにエントリー、かつ6/30 23:59までに開通がキャンペーン対象条件になります。</p>
          </li>
          <li>
            <p class="c-Heading_Lv4 u-Adjust_Align-center c-Txt_Emp-02">STEP2</p>
            <h3 class="c-Heading_Lv3 u-Adjust_Mb-16 u-Adjust_Align-center">お申し込みをする</h3>
          </li>
          <li>
            <div>
              <a href="<%= sitepath %>guide/application/" class="c-Btn_Primary ana-Flow_List-sub-btn"><span>新規／乗り換え（MNP）<br class="ana-Utility_Br-sp">お申し込み</span></a>
            </div>
            <div>
              <p class="c-Txt_Normal-ss ana-Flow_List-sub-txt">2013年10月29日～2020年4月8日に楽天モバイル（ドコモ回線・au回線） をご契約のお客様は、こちらからプラン変更いただけます。</p>
              <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_ana_fee_un_limit_ms&mno_migration=1" class="c-Btn_Secondly u-Adjust_Mt-8"><span class="c-Txt_Normal-ss">以前からご利用中の楽天モバイルからの</span>プラン変更（移行）お申し込み</a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <h2 class="c-Heading_Lv3 u-Adjust_Mt-64 u-Adjust_Align-center" id="campaign-flow">申し込みの流れ</h2>

    <div class="c-Tab js-Tab u-Adjust_Mt-24">
      <ul class="c-Tab_Items" role="tablist">
        <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">Webでお申し込み</li>
        <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">ショップでお申し込み</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
          <ul class="<%= namespace %>-Flow_List u-Adjust_Mt-32 <%= namespace %>-Flow_List-outer-ttl">
            <li>
              <p class="c-Heading_Lv4">お申し込み・お支払いに必要なものを準備する</p>
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-16">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/ana/campaign_flow10.png" alt="" width="226px">
                </div>
                <div>
                  <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc u-Adjust_Mt-24">
                    <li>
                      <a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-icon">本人確認書類<span class="c-Icon_Chevron-right"></span></a>
                    </li>
                    <li class="u-Adjust_Mt-16">
                      <p>楽天会員ログイン用のユーザID、パスワード</p>
                      <p class="c-Txt_Emp-02 c-Txt_Normal-s u-Adjust_Mt-8">※本人確認書類の情報と、楽天会員情報が一致している必要があります。</p>
                      <p class="u-Adjust_Mt-16">
                        <a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Link_Txt-icon">楽天会員情報を確認・変更する<span class="c-Icon_Chevron-right"></span></a>
                      </p>
                    </li>
                    <li class="u-Adjust_Mt-32">
                      <a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-icon">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="<%= sitepath %>faq/detail/00001238/">こちらのご案内ページ</a>を必ず事前にご確認ください。</p>
                    </li>
                    <li class="u-Adjust_Mt-24">
                      <a href="<%= sitepath %>guide/mnp/" class="c-Link_Txt-icon">ご契約者名義のMNP予約番号（他社から電話番号乗り換え）<span class="c-Icon_Chevron-right"></span></a>

                      <p class="c-Txt_Cap u-Adjust_Mt-24">
                        ※未成年者の方のお申し込みに必要な情報、お申し込み方法は<a href="<%= sitepath %>flow/for-minors/" class="c-Link_Txt  <%= namespace %>-Layout_Body-txt-link">こちらのご案内ページ</a>をご確認ください。<br>
                        ※WEBページにて、楽天モバイル（ドコモ回線・au回線）から移行手続き後に、Rakuten UN-LIMIT VIにお申し込み頂く場合、MNP予約番号と本人確認書類はご準備不要です。
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/byod/img-point-03.png" width="" alt="">
                </div>
                <div>
                  <h3 class="c-Heading_Lv4 u-Adjust_Align-center  u-Adjust_Mt-16">Rakuten UN-LIMIT VIを申し込む</h3>
                  <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>fee/un-limit/" class="c-Link_Txt-icon">Rakuten UN-LIMIT VIの詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
                </div>
                <div class="<%= namespace %>-Flow_List-step-unlimit u-Adjust_Mt-32">
                  <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-left <%= namespace %>-Flow_List-content-new">
                    <div class="<%= namespace %>-Flow_List-detail">
                      <ul class="c-List_Text-disc-emp">
                        <li class="c-Txt_Emp-01">新規電話番号／他社から乗り換え（MNP）で申し込み</li>
                      </ul>
                      <p class="u-Adjust_Mt-16 ana-Utility_Br-sp"><a href="https://mobile.rakuten.co.jp/campaign/ana/#migration1" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>楽天モバイル（ドコモ回線・au回線）から移行の方はこちら</a></p>
                      <div class="u-Adjust_Mt-24">
                        <div class="l-Media_Image <%= namespace %>-Flow_List-detail-image-wrapper">
                          <img class="<%= namespace %>-Flow_List-detail-image" src="<%= sitepath %>assets/img/campaign/ana/img-point-04.png?210401" width="" alt="">
                        </div>
                      </div>
                      <p class="c-Txt_Normal u-Adjust_Mt-24">下記ボタンよりお申し込み画面に進み、プラン（Rakuten UN-LIMIT VI）を選択し、手順に従ってお申し込みを完了させてください。</p>
                      <a href="<%= sitepath %>guide/application/" class="c-Btn_Primary u-Adjust_Mt-24"><span>Rakuten UN-LIMIT VIお申し込み画面に進む</span></a>
                      <a href="<%= sitepath %>guide/flow/application/" class="c-Link_Txt-inline u-Adjust_Mt-24 <%= namespace %>-Flow_List-detail-inline-text">Rakuten UN-LIMIT VIお申し込み方法を確認する<span class="c-Icon_Chevron-right"></span></a>
                    </div>
                  </div>
                  <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-right">
                    <div class="<%= namespace %>-Flow_List-detail" id="migration1">
                      <ul class="c-List_Text-disc-emp">
                        <li class="c-Txt_Emp-01">楽天モバイル（ドコモ・au回線）から移行申し込み</li>
                      </ul>
                      <div class="u-Adjust_Mt-24">
                        <div class="l-Media_Image <%= namespace %>-Flow_List-detail-image-wrapper">
                          <img class="<%= namespace %>-Flow_List-detail-image" src="<%= sitepath %>assets/img/campaign/byod/img-point-05.png" width="" alt="">
                        </div>
                        <p class="c-Txt_Normal u-Adjust_Mt-24">
                          メンバーズステーションより、移行のお申し込みを行ってください。楽天回線へのお申し込み完了後、引き続きRakuten UN-LIMIT VIのお申し込みにお進みいただきます。
                        </p>
                        <p class="c-Txt_Normal">画面の案内に従って、Rakuten UN-LIMIT VIのお申し込み手続きを行ってください。</p>
                        <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&mno_migration=1" class="c-Btn_Primary u-Adjust_Mt-24"><span>メンバーズステーションに進む</span></a>
                        <a href="<%= sitepath %>guide/mnp/migration/" class="c-Link_Txt-inline u-Adjust_Mt-24 <%= namespace %>-Flow_List-detail-inline-text">楽天モバイル（楽天回線）への移行方法を確認する<span class="c-Icon_Chevron-right"></span></a>
                        <a href="<%= sitepath %>flow/mvno-user-registration/" class="c-Link_Txt-inline u-Adjust_Mt-24 <%= namespace %>-Flow_List-detail-inline-text">利用者登録でご利用中の方の移行方法を確認する<span class="c-Icon_Chevron-right"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="u-Adjust_Mt-0">
                  <p class="c-Heading_Lv4">楽天モバイルの開通手続き（アクティベーション）を行う</p>
                  <p class="u-Adjust_Mt-8">最短2日でお届けとなります。</p>
                </div>
              </div>

              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="<%= namespace %>-Flow_List-step-unlimit u-Adjust_Mt-24">
                  <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-left">
                    <div class="<%= namespace %>-Flow_List-detail">
                      <ul class="c-List_Text-disc-emp">
                        <li class="c-Txt_Emp-01">SIMカードでお申し込みの場合</li>
                      </ul>
                      <p class="c-Txt_Normal u-Adjust_Mt-24"><a href="<%= sitepath %>assets/pdf/product/START-GUIDE-SIM-CARD.pdf?20201016">マルチSIM版START
                          GUIDE</a>に従って開通（アクティベート）を行っていただきますようお願いいたします。<br>
                        nanoSIMは、カード台から切り出した状態のmicroSIMからさらに切り出しが必要です。</p>
                      <div class="u-Adjust_Mt-32">
                        <div class="l-Media_Image <%= namespace %>-Flow_List-detail-image-wrapper">
                          <img class="<%= namespace %>-Flow_List-detail-image" src="<%= sitepath %>assets/img/campaign/byod/img-point-09.png" width="" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-right">
                    <div class="<%= namespace %>-Flow_List-detail">
                      <ul class="c-List_Text-disc-emp">
                        <li class="c-Txt_Emp-01">eSIMでお申し込みの場合 </li>
                      </ul>
                      <p class="c-Txt_Normal u-Adjust_Mt-24">eSIMはデジタルSIMなので物理的なカードはありません。<br>
                        開通（アクティベート）のためのQRコードがございますので<a href="<%= sitepath %>assets/pdf/product/START-GUIDE-eSIM.pdf?20201016">eSIM版 START
                          GUIDE</a>に従って開通を行っていただきますようお願いいたします。</p>
                      <div class="u-Adjust_Mt-32">
                        <div class="l-Media_Image <%= namespace %>-Flow_List-detail-image-wrapper">
                          <img class="<%= namespace %>-Flow_List-detail-image" src="<%= sitepath %>assets/img/campaign/byod/img-point-10.png" width="336" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <p class="c-Heading_Lv4 u-Adjust_Align-center c-Txt_Emp-02">STEP3</p>
              <h3 class="c-Heading_Lv3 u-Adjust_Mb-16 u-Adjust_Align-center">ご利用開始</h3>
            </li>
            <li>
              <p class="c-Heading_Lv4">初期設定・APN設定を行い、開通手続きを完了する</p>
              <div class="l-Media_Grid-reverse <%= namespace %>-Flow_List-in">
                <div>
                  <p class="u-Adjust_Mt-16">6/30 23:59までに開通手続きを行い、ご利用を開始してください。</p>
                  <p class="<%= namespace %>-Btn_Width-pc-328 u-Adjust_Mt-24">
                    <a href="<%= sitepath %>guide/setting/" class="c-Btn_Regular-half">
                      <span>各種製品の初期設定方法を見る</span>
                    </a>
                  </p>
                </div>
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/ana/campaign_flow03.png?210301" alt="" width="300px">
                </div>
              </div>
            </li>
            <li>
              <p class="c-Heading_Lv4 u-Adjust_Align-center c-Txt_Emp-02">STEP4</p>
              <h3 class="c-Heading_Lv3 u-Adjust_Mb-16 u-Adjust_Align-center">楽天ポイントをプレゼント</h3>
            </li>
            <li>
              <p class="c-Heading_Lv4 c-Txt_Emp-02">楽天ポイント3,000ポイントをプレゼント！</p>
              <div class="l-Media_Grid-reverse <%= namespace %>-Flow_List-in">
                <div>
                  <p class="u-Adjust_Mt-16">2021年8月末日ごろ、エントリーした楽天ポイント口座に付与します。</p>
                </div>
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/ana/campaign_flow05.png?210301" width="180px" alt="">
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
          <ul class="<%= namespace %>-Flow_List">
            <li>
              <h3 class="c-Heading_Lv4 u-Adjust_Mt-16">お申し込み・お支払いに必要なものを準備する</h3>
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-16">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/vissel-kobe/img-point-02.png" width="226px" alt="">
                </div>
                <div>
                  <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc u-Adjust_Mt-24 <%= namespace %>-Flow_List-back">
                    <span class="c-Txt_Emp-01">すべてのお客様に必要なもの</span>
                    <li>
                      <a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-icon">本人確認書類<span
                          class="c-Icon_Chevron-right"></span></a>
                    </li>
                    <li class="u-Adjust_Mt-16">
                      <p>楽天会員ログイン用のユーザID、パスワード</p>
                      <p class="c-Txt_Emp-02 c-Txt_Normal-s u-Adjust_Mt-8">※本人確認書類の情報と、楽天会員情報が一致している必要があります。</p>
                      <p class="u-Adjust_Mt-16">
                        <a href="https://member.id.rakuten.co.jp/rms/nid/menufwd"
                          class="c-Link_Txt-icon">楽天会員情報を確認・変更する<span class="c-Icon_Chevron-right"></span></a>
                      </p>
                    </li>
                    <li class="u-Adjust_Mt-32">
                      <a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-icon">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="<%= sitepath %>faq/detail/00001238/">こちらのご案内ページ</a>を必ず事前にご確認ください。</p>
                    </li>
                  </ul>
                  <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc u-Adjust_Mt-24 <%= namespace %>-Flow_List-back">
                    <span class="c-Txt_Emp-01">他社から乗り換え（MNP）のお客様に追加で必要なもの</span>
                    <li class="u-Adjust_Mt-24">ご利用中のスマートフォン</li>
                    <li class="u-Adjust_Mt-24">
                      <a href="<%= sitepath %>guide/mnp/" class="c-Link_Txt-icon">ご契約者名義のMNP予約番号（他社から電話番号乗り換え）<span
                          class="c-Icon_Chevron-right"></span></a>
                    </li>
                  </ul>
                  <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc u-Adjust_Mt-24 <%= namespace %>-Flow_List-back">
                    <span class="c-Txt_Emp-01">プラン変更（移行）のお客様に追加で必要なもの</span>
                    <li class="u-Adjust_Mt-24">ご利用中のスマートフォン</li>
                    <li class="u-Adjust_Mt-24">メンバーズステーションで発行されるMNP予約番号<br><br>メンバーズステーショントップページの「MNP予約番号発行・確認」をタップし、
                      MNP予約番号を発行してください。MNP予約番号発行手数料は発生しません。</li>
                      <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&mno_migration=1" class="c-Btn_Primary u-Adjust_Mt-24 <%= namespace %>-Flow_List-btn"><span>メンバーズステーションに進む</span></a>
                      <a href="<%= sitepath %>guide/mnp/migration/" class="c-Link_Txt-inline u-Adjust_Mt-24 <%= namespace %>-Flow_List-detail-inline-text u-Adjust_Align-center">楽天モバイル（楽天回線）への移行方法を確認する<span class="c-Icon_Chevron-right"></span></a>
                  </ul>
                  <p class="c-Txt_Cap u-Adjust_Mt-24">
                    ※未成年者の方のお申し込みに必要な情報、お申し込み方法は<a href="<%= sitepath %>flow/for-minors/"
                      class="c-Link_Txt  <%= namespace %>-Layout_Body-txt-link">こちらのご案内ページ</a>をご確認ください</p>
                </div>
              </div>
            </li>
            <li>
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/vissel-kobe/img-point-11.png" width="" alt="">
                </div>
                <div>
                  <p class="c-Heading_Lv4">ショップでRakuten UN-LIMIT VIをお申し込み</p>
                  <p class="c-Txt_Normal u-Adjust_Mt-16">楽天モバイルショップにて、お申し込み手続きを行ってください。</p>
                  <a href="<%= sitepath %>shop/"
                    class="c-Btn_Secondly <%= namespace %>-Layout_Body-content-left u-Adjust_Mt-40"><span>お近くのショップを探す</span></a>
                </div>
              </div>
            </li>
          </ul>
      </div>
    </div>



    <div class="u-Adjust_Mt-64" id="campaign-unlimit">

      <%- include('/inc/_saikyo') %>

    </div>

    <div class="<%= namespace %>-Layout_Rule u-Adjust_Mt-80" id="campaign-rule">
      <h2>【ANAグループ社員様・ご家族様限定】Rakuten UN-LIMIT VIお申し込みで、3,000ポイントプレゼントキャンペーン　ルール</h2>
      <div class="c-Table_Wrap u-Adjust_Mt-24">
        <dl class="c-List_Dl-origin">
          <div>
            <dt>キャンペーンコード</dt>
            <dd>
              <p>1141</p>
              <p class="c-Txt_Cap">※本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</p>
            </dd>
          </div>
          <div>
            <dt>キャンペーン期間</dt>
            <dd>
              <p class="c-Txt_Emp-01">エントリー期間</p>
              <p class="u-Adjust_Pl-16">2021年3月1日(月) 9:00～2021年5月31日(月) 23:59</p>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">楽天モバイルお申し込み期間</p>
              <p class="u-Adjust_Pl-16">[Web]：2021年3月1日(月) 9:00～2021年5月31日(月) 23:59</p>
              <p class="u-Adjust_Pl-16">[店舗（楽天モバイルショップ）]：2021年3月1日(月)開店～2021年5月31日(月)閉店</p>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">楽天モバイル開通期限</p>
              <p class="u-Adjust_Pl-16">2021年6月30日(水) 23:59</p>
            </dd>
          </div>
          <div>
            <dt>対象者・適用条件</dt>
            <dd>
              <p class="c-Txt_Emp-02">
                以下①、②、③の条件を全て満たした楽天会員の方
              </p>
              <div class="u-Adjust_Mt-16">
              <p class="c-Txt_Emp-01">①【ANAグループ社員様・ご家族様限定】Rakuten UN-LIMIT VIお申し込みで、3,000ポイントプレゼントキャンペーン ページよりエントリー</p>
              <p class="u-Adjust_Mt-8">キャンペーンページ内エントリー画面より、所属されている会社名を選択、および社員番号を入力</p>
              <p class="c-Txt_Cap">※ 2021年5月31日(月) 23:59までにエントリーをお願いいたします。エントリーが確認できなかった場合、キャンペーンの適用対象外となります。</p>
              </div>
              <div class="u-Adjust_Mt-24">
                <p class="c-Txt_Emp-01">②「Rakuten UN-LIMIT VI」のお申し込み</p>
                <p class="u-Adjust_Mt-8">キャンペーン期間中に、楽天モバイルのWebサイトまたは店頭から「Rakuten UN-LIMIT VI」を以下いずれかの方法でお申し込み</p>
                <ul class="c-List_Text-disc u-Adjust_Mt-8">
                  <li>「Rakuten UN-LIMIT VI」に新規お申し込み</li>
                  <li>「Rakuten UN-LIMIT VI」に他社からの乗り換え（MNP）でお申し込み</li>
                  <li>「Rakuten UN-LIMIT VI」に楽天モバイル（ドコモ回線・au回線）の料金プランから移行手続き後、お申し込み</li>
                </ul>
                <p class="c-Txt_Emp-01 u-Adjust_Mt-24">③「Rakuten UN-LIMIT VI」の開通</p>
                <p class="u-Adjust_Mt-8">2021年6月30日（水）23:59までに開通</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※条件①、②の順番は問いません。キャンペーン期間内であれば「Rakuten UN-LIMIT VI」をお申し込み後にエントリーしていただいても、ポイント付与の対象となります。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※特典はANAグループ社員様、そのご家族様共にキャンペーン期間中おひとり様1度のみ。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※キャリア決済を利用するには「my 楽天モバイル」のお支払い方法をクレジットカードに設定しておく必要があります。上記のご利用設定の前にお支払い方法の変更を行ってください</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">例）同じ社員番号で複数回エントリーいただいた場合でも、「Rakuten UN-LIMIT VI」の契約者様が異なる場合は、エントリーいただいた方全員が本キャンペーン適用対象となります。同一ご契約者様が複数回線お申し込みいただいた場合、本キャンペーン適用は1回線目のみとなります。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※ご家族とは第二親等内を指します。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※開通日とは下記を指します。</p>
                <ul class="c-List_Text-disc u-Adjust_Mt-8">
                  <li>新規お申し込みの場合：プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日、または当社に配送完了データが通知された日のいずれか早い方</li>
                  <li>他社から乗り換え（MNP）の場合：プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                  <li>楽天モバイル（ドコモ回線・au回線）の料金プランから移行した場合：プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                </ul>
              </div>
            </dd>
          </div>
          <div>
            <dt>キャンペーン特典</dt>
            <dd>
              <p class="c-Txt_Emp-01">特典内容</p>
              <p>「Rakuten UN-LIMIT VI」をお申し込みされた方に、通常のお申し込み特典に加えて以下の特典を適用します。</p>
              <p>楽天ポイント3,000円相当のポイントをプレゼント</p>

              <p class="c-Txt_Emp-01 u-Adjust_Mt-24">ポイント付与予定日</p>
              <p>2021年8月末日ごろ</p>

              <p class="c-Txt_Emp-01 u-Adjust_Mt-24">ポイント有効期間</p>
              <p>ポイント付与日を含めて6カ月</p>
              <ul class="c-List_Cap u-Adjust_Mt-8">
                <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank">期間限定ポイントについて</a></li>
                <li><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。</li>
              </ul>

              <p class="c-Txt_Emp-01 u-Adjust_Mt-24">ポイント数</p>
              <p>3,000ポイント</p>
              <ul class="c-List_Cap u-Adjust_Mt-8">
                <li><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</li>
                <li><span>※</span>権利の譲渡はできません</li>
              </ul>
            </dd>
          </div>
          <div>
            <dt>注意事項</dt>
            <dd>
              <p class="c-Txt_Emp-01">特典適用対象外</p>
              <p class="u-Adjust_Mt-8">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります。</p>
              <ul class="c-List_Cap u-Adjust_Mt-16">
                <li><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
                <li><span>※</span>「Rakuten UN-LIMIT VI」が2021年6月30日(水) 23:59までに開通されなかった場合<br>開通の手続き方法につきましては、こちらのマルチSIM版スタートガイドまたはeSIM版スタートガイドを参照ください</li>
                <li><span>※</span>2021年5月31日(月) 23:59までにエントリーが確認できなかった場合</li>
                <li><span>※</span>エントリーの際にご利用頂いた楽天IDが、楽天モバイルにご登録の楽天IDと同一でない場合</li>
                <li><span>※</span>ポイント付与までに楽天会員から退会している場合</li>
                <li><span>※</span>ポイント付与までに登録された楽天ポイント口座を削除された場合</li>
                <li><span>※</span>当社の提供するサービスなどの料金のお支払いを、お支払期限までに行わなかった場合</li>
                <li><span>※</span>当社または楽天株式会社が定める規約などに違反した場合</li>
                <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
              </ul>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">その他注意事項</p>
              <ul class="c-List_Cap u-Adjust_Mt-8">
                <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                <li><span>※</span>記載の内容は2021年4月1日（木）時点の情報となります</li>
              </ul>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="u-Adjust_Mt-64">
      <h3 class="c-Heading_Lv3 u-Adjust_Mb-16">開催中のキャンペーン</h3>
      <div>
          <p class="u-Adjust_Mt-16">このキャンペーンは他のキャンペーンとの併用可能です。キャンペーンの条件は各ページにてご確認をお願いします。</p>
          <div class="u-Adjust_Mt-32">
          <a href="/campaign/start-point/?l-id=fee_un-limit_campaign_start-point">
            <img src="/assets/img/bnr/campaign-start-point-680-130.png?210202" width="680" height="130" class="ana-Utility_Img-pc" alt="製品+プランセット購入で最大25,000ポイント還元キャンペーン※初めてのお申し込みに限る条件あり"><img src="/assets/img/bnr/campaign-start-point-343-145.png?210202" class="ana-Utility_Img-sp" alt="製品+プランセット購入で最大25,000ポイント還元キャンペーン※初めてのお申し込みに限る条件あり">
          </a>
        </div>
          <p class="u-Adjust_Mt-24">
            <a href="<%= sitepath %>campaign/" class="c-Btn_Regular-half"><span>キャンペーン一覧はこちら</span></a>
          </p>
      </div>
    </div>

  </div>
</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-news.ejs') %>

    <%- include('/include/footer/bnr/_bnr-news.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="https://mobile.rakuten.co.jp/campaign/ana/#top">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
