<% const pagetitle = "Aterm MR05LN RW" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/internet/", label:"Wi-Fiルーター／周辺機器"}] -%>
<% const tradeinUrl = sitepath + "service/tradein/?l-id=product_aterm-mr05ln_cpn_02" -%>
<% const namespace = "aterm-mr05ln" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: "Aterm MR05LN RW（NEC）のスペック・特徴などをご確認いただけます。デュアルSIMモバイルルータ―。",
    noindex: false,
    pathname: filepath
  });
%>
<% const directory = "aterm-mr05ln" -%>
<%# const theme = "Dark" -%>
<% const theme = "Light" -%>
<%# const customtheme = "Rakuten-1" -%>
<%# const pointModel = 1 -%>
<% const point = 3000 -%>
<%# price-detail.ejsファイルに変数の説明の記載があります -%>
<% const priceDetailConfig = {
  theme: theme,
  // addAnnotation: '※1',
  price: 23800,
  // priceBefore: 9980,
  // pointBackPriceModel: pointModel,
  pointBackPrice: point,
  // pointModelText: `<span>アンケートご回答で<span class="product-detail-Price_Pointback-num">${pointModel.toLocaleString()}</span>ポイント還元<sub>※1</sub></span>`,
  pointBackText: `<span><span class="product-detail-Price_Pointback-num">${point.toLocaleString()}</span>円相当のポイント還元<sub>※1</sub></span>`,
  // pointEntryText: `さらに、エントリー＆抽選で<span class="product-detail-Price_Pointback-num">2,000</span>ポイント<sub>※2</sub>`,
  division24: 991,
  // division24Before: ,
  division48: 495,
  // division48Before: ,
  // tradeinProductName: 'OPPO AX7',
  optionPattern: 'special-a',
  lid: directory,
  // capacity: 64,
  // maxTradeinPrice: 2225,
  pointAppealBtnCapNo: 2,
}
-%>
<%- include('/include/_common-css-v2') %>
<%- include('/include/product/_category-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/internet/aterm-mr05ln/aterm-mr05ln.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/internet/detail/internet-detail.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/smartphone/purchase-modal-drilldown.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%
/* insert Modal /*
/*
  ストア遷移 → 'bundle'
  在庫あり → 'stock'
  在庫切れ → 'soldout'
  入荷待ち → 'backorder'
*/
const bundleFlag = 'bundle';
const modalInfo = [
  {
    question: {
      title: '色を選択',
      warning: '購入する製品の色を選択してください。',
      type: 'color',
      value: 'color',
      select: [
        {
          'id': 'white',
          'name': 'ホワイト',
          'sub': '',
          'color': '#fff',
          'checked': false,
          'disabled': false,
        }
      ],
      upperhtml: ``,
      rowerhtml: ``
    },
  },
  {
    question: {
      title: 'プランを選択',
      warning: 'プランを選択してください。',
      type: 'radio',
      value: 'plan',
      select: [
        {
          'id': 'sim',
          'name': `Rakuten UN-LIMIT VI
          と同時に申し込む`,
          'sub': '',
          'checked': true,
          'disabled': false,
          'soldout' : '',
        },
        {
          'id': 'nosim',
          'name': `Rakuten UN-LIMIT VI
          を申し込まない`,
          'sub': '製品のみ購入の方はこちら',
          'checked': false,
          'disabled': true,
          'soldout' : '',
        },
      ],
      upperhtml: ``,
      rowerhtml: ``
    }
  }
]
%>
<%_ if (bundleFlag === 'stock') { _%>
<script>
const urlList = {
  'white_sim': '/guide/application/?ref=product',
  'white_nosim': '/guide/application/?ref=product',
}
</script>
<%- include('/include/product/_purchase-modal', { modalInfo: modalInfo }) %>
<%_ } _%>

<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="internet-detail-Layout">

  <div class="u-Adjust_Pt-16 u-Adjust_Pr-16 u-Adjust_Pl-16 u-Adjust_Pb-32 u-Adjust_Align-center">
    <p class="c-Txt_Emp-01 c-Txt_Normal-l">Aterm MR05LN RWは販売を終了いたしました。</p>
    <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
      <a class="internet-detail-Btn_Regular" href="<%= sitepath %>product/internet/rakuten-wifi-pocket-2c/?l-id=product_internet_aterm-mr05ln_product_internet_rakuten-wifi-pocket-2c"><span>Rakuten WiFi Pocket 2Cの<br class="internet-detail-Utility_Sp">詳細・購入はこちら</span></a>
    </div>
  </div>

  <div class="internet-detail-Layout_Hero">
    <div class="l-System_Container">
      <section class="internet-detail-Hero">
        <div class="internet-detail-Hero_Data">
          <div>
            <h1 class="co-Heading_Lv1 internet-detail-Hero_Name"><img src="<%= sitepath %>assets/img/product/internet/<%= directory %>/logo.svg" alt="<%= pagetitle %>"></h1>
            <p class="internet-detail-Hero_Maker">NEC</p>
            <p class="internet-detail-Hero_Copy">デュアルSIMモバイルルーター</p>
          </div>
        </div>
        <div class="internet-detail-Hero_Main">
          <ul class="internet-detail-Hero_Main-device c-Carousel js-main1 js-device" aria-hidden="false">
            <li><img data-lazy="<%= sitepath %>assets/img/product/internet/<%= directory %>/pht-device-00.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/internet/<%= directory %>/pht-device-01.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/internet/<%= directory %>/pht-device-02.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/internet/<%= directory %>/pht-device-03.png" alt=""></li>
          </ul>
          <ul class="internet-detail-Hero_Main-color u-Adjust_Mt-0 u-Adjust_Pt-8">
            <li class="js-color js-color1" aria-current="true"><span style="background:#FFFFFF"></span></li>
          </ul>

          <ul class="internet-detail-Hero_Main-thumbnail c-Carousel js-thumbnail1 js-device" aria-hidden="false">
            <li><img data-lazy="<%= sitepath %>assets/img/product/internet/<%= directory %>/pht-device-00.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/internet/<%= directory %>/pht-device-01.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/internet/<%= directory %>/pht-device-02.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/internet/<%= directory %>/pht-device-03.png" alt=""></li>
          </ul>
        </div>
      </section>
    </div>
  </div>

  <div class="internet-detail-Layout_Main">
    <div class="l-System_Container">
      <section id="feature" class="internet-detail-Layout_Section u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2-rich">特長</h2>

        <section class="internet-detail-Feature u-Adjust_Mt-64" id="feature1">
          <figure class="internet-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/internet/<%= directory %>/main-image-01.png" alt=""></figure>
          <h3 class="c-Heading_Lv3">大容量バッテリーで、連続通信約14時間</h3>
          <p class="internet-detail-Feature_Txt">2,500mAhのバッテリー容量で連続通信時間（Wi-Fi）約14時間を実現しました。長時間の外出時の利用でも安心です。</p>
          <ul class="c-Txt_Cap u-Adjust_Mt-16">
            <li><span>※</span>連続通信時間（Wi-Fi）は使用状況や使用環境により異なります。</li>
          </ul>
        </section>
        <section class="internet-detail-Feature" id="feature3">
        <figure class="internet-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/internet/<%= directory %>/main-image-03.png" alt=""></figure>
          <h3 class="c-Heading_Lv3">専用クレードルでご自宅での有線接続も可能</h3>
          <p class="internet-detail-Feature_Txt">オプション品のAterm MR05LN専用クレードルを使用すると、有線でLAN接続が可能となります。外だけでなく、ホームルーターとしても活躍します。</p>

          <p class="u-Adjust_Mt-16"><a href="http://www.aterm.jp/product/atermstation/topics/lte/lte-service05.html" class="c-Link_Txt-inline" target="_blank">●Aterm MR05LN 接続確認済LTE／3Gサービス事業者リスト<span class="c-Icon_New-window-l"></span></a></p>
        </section>
      </section>
    </div>
  </div>

  <div class="internet-detail-Layout_Other">
    <div class="l-System_Container">

      <%- include('/include/product/_compensation') %>

      <section class="internet-detail-Layout_Section" id="spec">
        <h2 class="c-Heading_Lv2">スペック</h2>
        <dl class="c-Dl">
          <div>
            <dt>製品名</dt>
            <dd>
              Aterm MR05LN RW
            </dd>
          </div>
          <div>
            <dt>色</dt>
            <dd>
              ホワイト
            </dd>
          </div>
          <div>
            <dt>サイズ(高さ/幅/厚さ)</dt>
            <dd>
              115 x 63 x 11 (mm)
            </dd>
          </div>
          <div>
            <dt>重量</dt>
            <dd>
              約115g
            </dd>
          </div>
          <div>
            <dt>連続待受時間</dt>
            <dd>
              約500時間
            </dd>
          </div>
          <div>
            <dt>連続通信時間</dt>
            <dd>
              約14時間
            </dd>
          </div>
          <div>
            <dt>バッテリー容量</dt>
            <dd>
              約2,500mAh
            </dd>
          </div>
          <div>
            <dt>テザリング</dt>
            <dd>
              16台
            </dd>
          </div>
          <div>
            <dt>付属品</dt>
            <dd>
              ACアダプター/micro USB Type-Bケーブル/保証書/つなぎ方ガイド/ご利用にあたっての注意事項/らくらくQRスタート用QRコード（シール）
            </dd>
          </div>
        </dl>
        <ul class="c-Txt_Cap u-Adjust_Mt-24">
          <li><span>※</span>本製品は、国際ローミングには対応しておりません。</li>
          <li><span>※</span>本製品では、my 楽天モバイルアプリはご利用いただけません。</li>
          <li><span>※</span>本製品の他社回線の対応状況については「<a href="<%= sitepath %>product/compatible-band/?l-id=product_aterm-mr05ln_compatible-band" class="c-Link_Txt">取り扱い製品の他社回線対応状況一覧</a>」をご確認ください。</li>
        </ul>
      </section>

      <section class="product-detail-Layout_Section">
        <h2 class="c-Heading_Lv2">専用アクセサリー</h2>
        <div class="c-Carousel js-Carousel-multi">
          <div><a href="<%= sitepath %>product/accessory/nec-pamradp042/?l-id=product_internet_aterm-mr05ln_nec-pamradp042"><img data-lazy="<%= sitepath %>assets/img/accessory/nec-pamradp042/pht-accessory-00.png" alt=""></a></div>
          <div><a href="<%= sitepath %>product/accessory/nec-pamr05lex5c/?l-id=product_internet_aterm-mr05ln_nec-pamr05lex5c"><img data-lazy="<%= sitepath %>assets/img/accessory/nec-pamr05lex5c/pht-accessory-00.png" alt=""></a></div>
        </div>
        <div class="c-Carousel_Nav-v2-wrap">
          <div class="c-Carousel_Nav-v2"></div>
          <div class="c-Carousel_Nav-v2-bar"></div>
        </div>
        <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>product/accessory/smartphone-related/" class="c-Link_Txt-inline">その他アクセサリーを見る<span class="c-Icon_Chevron-right"></span></a></p>
      </section>

    </div>
  </div>
</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-product-top-v2.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%#- include('/faq/include/related-product.ejs') %>

  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/product/_category-js') %>
<%- include('/include/_append-body') %>
<script src="<%= sitepath %>assets/js/product.purchase-modal.bundle.js?20240521"></script>
</body>
</html>
