<%_
  const hideSpProMax = hideFlg.proMax ? `${commonNamespace}-Spec_Util-pc` : ''
  const hideSpPro = hideFlg.pro ? `${commonNamespace}-Spec_Util-pc` : ''
  const hideSpPlus = hideFlg.plus ? `${commonNamespace}-Spec_Util-pc` : ''
  const hideSp_14 = hideFlg._14 ? `${commonNamespace}-Spec_Util-pc` : ''
  const hideSpSe3rd = hideFlg.se3rd ? `${commonNamespace}-Spec_Util-pc` : ''
_%>
<section class="<%= commonNamespace %>-Spec_Section-comparison">
  <h3 class="<%= commonNamespace %>-Spec_Section-comparison-heading <%= commonNamespace %>-Spec_Util-Pc_center">
    <small>比較する</small>
    あなたにぴったりのiPhoneは？
  </h3>
  <ul class="<%= commonNamespace %>-Spec_Section-comparison-list">
    <li class="<%= hideSpProMax %>">
      <dl>
        <dt><img src="/assets/img/product/iphone/common/comparison/img-name-iphone-14-pro-max.svg" alt="iphone 14 pro max" width="144" height="14" loading="lazy"></dt>
        <dd>
          <div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-img">
              <div class="<%= commonNamespace %>-Spec_Section-comparison-img-figure">
                <figure>
                  <img class="_110" src="<%= sitepath %>assets/img/product/iphone/common/comparison/iphone-14-pro-max-240207.png" alt="" width="155" height="204" loading="lazy">
                </figure>
              </div>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-img-colors-4">
                <li style="background: #594F63;"></li>
                <li style="background: #F4E8CE;"></li>
                <li style="background: #F0F2F2;"></li>
                <li style="background: #403E3D;"></li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-size">
              <p class="<%= commonNamespace %>-Spec_Section-comparison-size-emp">
                <span>6.7</span>インチ
              </p>
              <p class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap <%= commonNamespace %>-Spec_Util-nowrap">Super Retina <br class="<%= commonNamespace %>-Spec_Util-sp">XDRディスプレイ<%- diamond %></p>
              <p class="u-Adjust_Mt-8 <%= commonNamespace %>-Spec_Util-nowrap">ProMotionテクノロジー</p>
              <p class="u-Adjust_Mt-8">常時表示ディスプレイ</p>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-dynamic-island">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-dynamic-island-221110.png" alt="" width="36" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>
                  Dynamic Island<br>
                  見たこともないiPhoneの<br>
                  操作システム
                </li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-sos">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-sos-221110.png" alt="" width="38" height="38" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>
                  <p>緊急SOS</p>
                  <p>衝突事故検出<%- diamond %></p>
                </li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-camera">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-camera-triple-221110.png" alt="" width="35" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>
                  Proのカメラシステム<br>
                  48MPメイン | 超広角 | <br>
                  望遠<br class="<%= commonNamespace %>-Spec_Util-pc">
                </li>
              </ul>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>圧倒的なディテールと<br class="<%= commonNamespace %>-Spec_Util-sp">色彩のための<br>Photonic Engine</li>
                <li class="u-Adjust_Mt-pc-0">オートフォーカスを搭載した<br>TrueDepthフロントカメラ</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-action">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-action-mode-240201.png" alt="" width="39" height="39" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>手持ちでもなめらかな<br class="<%= commonNamespace %>-Spec_Util-sp">映像が<br class="<%= commonNamespace %>-Spec_Util-pc">撮れる<br class="<%= commonNamespace %>-Spec_Util-sp">アクションモード</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-battery">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-battery-221110.png" alt="" width="46" height="46" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>最大29時間のビデオ再生<%- diamond %></li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-chip">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-A16-221110.png" alt="" width="36" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>5コアGPUを搭載した<br>A16 Bionicチップ</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-id">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-faceid-221110.png" alt="" width="36" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>Face ID</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-5g">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-5g-221110.png" alt="" width="42" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li class="<%= commonNamespace %>-Spec_Util-nowrap">超高速の5G携帯電話通信<%- diamond %></li>
              </ul>
            </div>
          </div>
        </dd>
      </dl>
    </li>

    <li class="<%= hideSpPro %>">
      <dl>
        <dt><img src="/assets/img/product/iphone/common/comparison/img-name-iphone-14-pro.svg" alt="iphone 14 pro" width="104" height="14" loading="lazy"></dt>
        <dd>
          <div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-img">
              <div class="<%= commonNamespace %>-Spec_Section-comparison-img-figure">
                <figure>
                  <img class="_100" src="<%= sitepath %>assets/img/product/iphone/common/comparison/iphone-14-pro-240207.png" alt="" width="152" height="186" loading="lazy">
                </figure>
              </div>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-img-colors-4">
                <li style="background: #594F63;"></li>
                <li style="background: #F4E8CE;"></li>
                <li style="background: #F0F2F2;"></li>
                <li style="background: #403E3D;"></li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-size">
              <p class="<%= commonNamespace %>-Spec_Section-comparison-size-emp">
                <span>6.1</span>インチ
              </p>
              <p class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap <%= commonNamespace %>-Spec_Util-nowrap">Super Retina <br class="<%= commonNamespace %>-Spec_Util-sp">XDRディスプレイ<%- diamond %></p>
              <p class="u-Adjust_Mt-8">ProMotionテクノロジー</p>
              <p class="u-Adjust_Mt-8">常時表示ディスプレイ</p>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-dynamic-island">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-dynamic-island-221110.png" alt="" width="36" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>
                  Dynamic Island<br>
                  見たこともないiPhoneの<br>
                  操作システム
                </li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-sos">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-sos-221110.png" alt="" width="38" height="38" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>
                  <p>緊急SOS</p>
                  <p>衝突事故検出<%- diamond %></p>
                </li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-camera">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-camera-triple-221110.png" alt="" width="35" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>
                  Proのカメラシステム<br>
                  48MPメイン | 超広角 | <br>
                  望遠<br class="<%= commonNamespace %>-Spec_Util-pc">
                </li>
              </ul>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>圧倒的なディテールと<br class="<%= commonNamespace %>-Spec_Util-sp">色彩のための<br>Photonic Engine</li>
                <li class="u-Adjust_Mt-pc-0">オートフォーカスを搭載した<br>TrueDepthフロントカメラ</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-action">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-action-mode-240201.png" alt="" width="39" height="39" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>手持ちでもなめらかな<br class="<%= commonNamespace %>-Spec_Util-sp">映像が<br class="<%= commonNamespace %>-Spec_Util-pc">撮れる<br class="<%= commonNamespace %>-Spec_Util-sp">アクションモード</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-battery">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-battery-221110.png" alt="" width="46" height="46" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>最大23時間のビデオ再生<%- diamond %></li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-chip">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-A16-221110.png" alt="" width="36" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>5コアGPUを搭載した<br>A16 Bionicチップ</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-id">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-faceid-221110.png" alt="" width="36" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>Face ID</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-5g">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-5g-221110.png" alt="" width="42" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li class="<%= commonNamespace %>-Spec_Util-nowrap">超高速の5G携帯電話通信<%- diamond %></li>
              </ul>
            </div>
          </div>
        </dd>
      </dl>
    </li>

    <li class="<%= hideSpPlus %>">
      <dl>
        <dt><img src="/assets/img/product/iphone/common/comparison/img-name-iphone-14-plus.svg" alt="iphone 14 plus" width="111" height="14" loading="lazy"></dt>
        <dd>
          <div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-img">
              <div class="<%= commonNamespace %>-Spec_Section-comparison-img-figure">
                <figure>
                  <img class="_110" src="<%= sitepath %>assets/img/product/iphone/common/comparison/iphone-14-plus-240207.png" alt="" width="149" height="203" loading="lazy">
                </figure>
              </div>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-img-colors-5">
                <li style="background: #A0B4C7;"></li>
                <li style="background: #E6DDEB;"></li>
                <li style="background: #F9E479;"></li>
                <li style="background: #222930;"></li>
                <li style="background: #FAF6F2;"></li>
                <li style="background: #FC0324;"></li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-size">
              <p class="<%= commonNamespace %>-Spec_Section-comparison-size-emp">
                <span>6.7</span>インチ
              </p>
              <p class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap <%= commonNamespace %>-Spec_Util-nowrap">Super Retina <br class="<%= commonNamespace %>-Spec_Util-sp">XDRディスプレイ<%- diamond %></p>
              <p class="u-Adjust_Mt-8">—</p>
              <p class="u-Adjust_Mt-8">—</p>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-dynamic-island">
              —
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-sos">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-sos-221110.png" alt="" width="38" height="38" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>
                  <p>緊急SOS</p>
                  <p>衝突事故検出<%- diamond %></p>
                </li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-camera">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-camera-dual-221110.png" alt="" width="35" height="35" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>
                  先進的なデュアルカメラシステム<br>
                  12MPメイン | 超広角
                </li>
              </ul>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>圧倒的なディテールと<br class="<%= commonNamespace %>-Spec_Util-sp">色彩のための<br>Photonic Engine</li>
                <li class="u-Adjust_Mt-pc-0">オートフォーカスを搭載した<br>TrueDepthフロントカメラ</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-action">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-action-mode-240201.png" alt="" width="39" height="39" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>手持ちでもなめらかな<br class="<%= commonNamespace %>-Spec_Util-sp">映像が<br class="<%= commonNamespace %>-Spec_Util-pc">撮れる<br class="<%= commonNamespace %>-Spec_Util-sp">アクションモード</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-battery">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-battery-221110.png" alt="" width="46" height="46" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>最大26時間のビデオ再生<%- diamond %></li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-chip">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-A15-221110.png" alt="" width="36" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>5コアGPUを搭載した<br>A15 Bionicチップ</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-id">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-faceid-221110.png" alt="" width="36" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>Face ID</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-5g">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-5g-221110.png" alt="" width="42" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li class="<%= commonNamespace %>-Spec_Util-nowrap">超高速の5G携帯電話通信<%- diamond %></li>
              </ul>
            </div>
          </div>
        </dd>
      </dl>
    </li>

    <li class="<%= hideSp_14 %>">
      <dl>
        <dt><img src="/assets/img/product/iphone/common/comparison/img-name-iphone-14.svg" alt="iphone 14" width="74" height="14" loading="lazy"></dt>
        <dd>
          <div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-img">
              <div class="<%= commonNamespace %>-Spec_Section-comparison-img-figure">
                <figure>
                  <img class="_100" src="<%= sitepath %>assets/img/product/iphone/common/comparison/iphone-14-240207.png" alt="" width="140" height="186" loading="lazy">
                </figure>
              </div>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-img-colors-5">
                <li style="background: #A0B4C7;"></li>
                <li style="background: #E6DDEB;"></li>
                <li style="background: #F9E479;"></li>
                <li style="background: #222930;"></li>
                <li style="background: #FAF6F2;"></li>
                <li style="background: #FC0324;"></li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-size">
              <p class="<%= commonNamespace %>-Spec_Section-comparison-size-emp">
                <span>6.1</span>インチ
              </p>
              <p class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap <%= commonNamespace %>-Spec_Util-nowrap">Super Retina <br class="<%= commonNamespace %>-Spec_Util-sp">XDRディスプレイ<%- diamond %></p>
              <p class="u-Adjust_Mt-8">—</p>
              <p class="u-Adjust_Mt-8">—</p>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-dynamic-island">
              —
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-sos">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-sos-221110.png" alt="" width="38" height="38" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>
                  <p>緊急SOS</p>
                  <p>衝突事故検出<%- diamond %></p>
                </li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-camera">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-camera-dual-221110.png" alt="" width="35" height="35" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>
                  先進的なデュアルカメラシステム<br>
                  12MPメイン | 超広角
                </li>
              </ul>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>圧倒的なディテールと<br class="<%= commonNamespace %>-Spec_Util-sp">色彩のための<br>Photonic Engine</li>
                <li class="u-Adjust_Mt-pc-0">オートフォーカスを搭載した<br>TrueDepthフロントカメラ</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-action">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-action-mode-240201.png" alt="" width="39" height="39" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>手持ちでもなめらかな<br class="<%= commonNamespace %>-Spec_Util-sp">映像が<br class="<%= commonNamespace %>-Spec_Util-pc">撮れる<br class="<%= commonNamespace %>-Spec_Util-sp">アクションモード</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-battery">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-battery-221110.png" alt="" width="46" height="46" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>最大20時間のビデオ再生<%- diamond %></li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-chip">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-A15-221110.png" alt="" width="36" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>5コアGPUを搭載した<br>A15 Bionicチップ</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-id">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-faceid-221110.png" alt="" width="36" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>Face ID</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-5g">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-5g-221110.png" alt="" width="42" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li class="<%= commonNamespace %>-Spec_Util-nowrap">超高速の5G携帯電話通信<%- diamond %></li>
              </ul>
            </div>
          </div>
        </dd>
      </dl>
    </li>

    <li class="<%= hideSpSe3rd %>">
      <dl>
        <dt><img src="/assets/img/product/iphone/common/comparison/img-name-iphone-se-3rd.svg" alt="iphone se" width="74" height="15" loading="lazy"></dt>
        <dd>
          <div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-img">
              <div class="<%= commonNamespace %>-Spec_Section-comparison-img-figure">
                <figure>
                  <img class="_950" src="<%= sitepath %>assets/img/product/iphone/common/comparison/iphone-se-3rd-240207.png" alt="" width="119" height="174" loading="lazy">
                </figure>
              </div>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-img-colors-5">
                <li style="background: #232A31;"></li>
                <li style="background: #FAF6F2;"></li>
                <li style="background: #BF0013;"></li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-size">
              <p class="<%= commonNamespace %>-Spec_Section-comparison-size-emp">
                <span>4.7</span>インチ
              </p>
              <p class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap <%= commonNamespace %>-Spec_Util-nowrap">Retina <br class="<%= commonNamespace %>-Spec_Util-sp">HDディスプレイ</p>
              <p class="u-Adjust_Mt-8">—</p>
              <p class="u-Adjust_Mt-8">—</p>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-dynamic-island">
              —
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-sos">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-sos-221110.png" alt="" width="38" height="38" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>
                  <p>緊急SOS</p>
                  <p>—</p>
                </li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-camera">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-camera-single-221110.png" alt="" width="35" height="35" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>
                  先進的なカメラシステム<br>
                  12MPメイン
                </li>
              </ul>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>—</li>
                <li class="u-Adjust_Mt-24">フロントカメラ</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-action" style="padding-top: 60px;"> — </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-battery">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-battery-221110.png" alt="" width="46" height="46" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>最大15時間のビデオ再生<%- diamond %></li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-chip">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-A15-221110.png" alt="" width="36" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>4コアGPUを搭載した<br>A15 Bionicチップ</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-id">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-touchid-221110.png" alt="" width="36" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>Touch ID</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-5g">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-5g-221110.png" alt="" width="42" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li class="<%= commonNamespace %>-Spec_Util-nowrap">5G携帯電話通信<%- diamond %></li>
              </ul>
            </div>
          </div>
        </dd>
      </dl>
    </li>

  </ul>
</section>
