<%_
  const hideSpProMax = hideFlg.proMax ? `${commonNamespace}-Spec_Util-pc` : ''
  const hideSpPro = hideFlg.pro ? `${commonNamespace}-Spec_Util-pc` : ''
  const hideSpPlus = hideFlg.plus ? `${commonNamespace}-Spec_Util-pc` : ''
  const hideSp_15 = hideFlg._15 ? `${commonNamespace}-Spec_Util-pc` : ''
  const hideSpSe3rd = hideFlg.se3rd ? `${commonNamespace}-Spec_Util-pc` : ''
_%>

<section class="<%= commonNamespace %>-Spec_Section-comparison">
  <h3 class="<%= commonNamespace %>-Spec_Section-comparison-heading">
    <small>比較する</small>
    あなたにぴったりの<br class="<%= commonNamespace %>-Spec_Util-sp">iPhoneは？
  </h3>
  <ul class="<%= commonNamespace %>-Spec_Section-comparison-list">
    <li class="<%= hideSpProMax %>">
      <dl>
        <dt><img src="/assets/img/product/iphone/common/comparison/img-name-iphone-15-pro-max.svg" alt="iphone 15 pro max" width="142" height="14" loading="lazy"></dt>
        <dd>
          <div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-img">
              <div class="<%= commonNamespace %>-Spec_Section-comparison-img-figure">
                <figure>
                  <img class="_110" src="<%= sitepath %>assets/img/product/iphone/common/comparison/iphone-15-pro-max-240207.png" alt="" width="161" height="200" loading="lazy">
                </figure>
              </div>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-img-colors-4">
                <li style="background: #BAB4A9;"></li>
                <li style="background: #3D4555;"></li>
                <li style="background: #F2F1EB;"></li>
                <li style="background: #3F4042;"></li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-size">
              <p class="<%= commonNamespace %>-Spec_Section-comparison-size-emp">
                <span>6.7</span>インチ
              </p>
              <p class="<%= commonNamespace %>-Spec_Util-nowrap">Super Retina <br class="<%= commonNamespace %>-Spec_Util-sp">XDRディスプレイ<%- diamond %></p>
              <p class="u-Adjust_Mt-8 <%= commonNamespace %>-Spec_Util-nowrap">ProMotionテクノロジー</p>
              <p class="u-Adjust_Mt-8">常時表示ディスプレイ</p>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-glass">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-glass-240515.png" alt="" width="40" height="30" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>
                  テクスチャードマットガラス<br class="<%= commonNamespace %>-Spec_Util-sp">の<br class="<%= commonNamespace %>-Spec_Util-pc">
                  背面とチタニウム
                </li>
                <li>アクションボタン</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-dynamic-island">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-dynamic-island-221110.png" alt="" width="36" height="36" loading="lazy">
              </figure>
              <ul class="u-Adjust_Mt-8">
                <li>
                  Dynamic Island<br>
                  iPhoneの革新的な<br>
                  操作システム
                </li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-chip">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-A17-pro-240207.png" alt="" width="36" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>6コアGPUを搭載した<br>A17 Proチップ</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-camera">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-camera-triple-221110.png" alt="" width="35" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>
                  Proのカメラシステム<br>
                  48MPメイン | 超広角 | <br>
                  望遠<br class="<%= commonNamespace %>-Spec_Util-pc">
                </li>
                <li>超高解像度の写真<br>（24MPと48MP）</li>
                <li>フォーカス機能と<br>被写界深度コントロールが<br class="<%= commonNamespace %>-Spec_Util-sp">使える<br class="<%= commonNamespace %>-Spec_Util-pc">次世代の<br class="<%= commonNamespace %>-Spec_Util-sp">ポートレート</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-zoom">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-zoom-4-240207.png" alt="" width="75" height="18" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>光学ズームオプション</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-sos">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-sos-221110.png" alt="" width="38" height="38" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>緊急SOS</li>
                <li>衝突事故検出<%- diamond %></li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-battery">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-battery-240515.png" alt="" width="46" height="24" loading="lazy">
              </figure>
              <ul class="u-Adjust_Mt-8">
                <li>最大29時間の<br>ビデオ再生<%- diamond %></li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-connector">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-connector-c-240207.png" alt="" width="46" height="17" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>USB-C</li>
                <li>最大20倍速い<br class="<%= commonNamespace %>-Spec_Util-sp">データ転送が<br class="<%= commonNamespace %>-Spec_Util-pc">できる<br class="<%= commonNamespace %>-Spec_Util-sp">USB 3に対応<%- diamond %></li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-id">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-faceid-221110.png" alt="" width="36" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>Face ID</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-5g">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-5g-240515.png" alt="" width="45" height="32" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li class="<%= commonNamespace %>-Spec_Util-nowrap">超高速の5G携帯電話通信<%- diamond %></li>
              </ul>
            </div>
          </div>
        </dd>
      </dl>
    </li>

    <li class="<%= hideSpPro %>">
      <dl>
        <dt><img src="/assets/img/product/iphone/common/comparison/img-name-iphone-15-pro.svg" alt="iphone 15 pro" width="104" height="14" loading="lazy"></dt>
        <dd>
          <div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-img">
              <div class="<%= commonNamespace %>-Spec_Section-comparison-img-figure">
                <figure>
                  <img class="_100" src="<%= sitepath %>assets/img/product/iphone/common/comparison/iphone-15-pro-240207.png" alt="" width="148" height="182" loading="lazy">
                </figure>
              </div>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-img-colors-4">
                <li style="background: #BAB4A9;"></li>
                <li style="background: #3D4555;"></li>
                <li style="background: #F2F1EB;"></li>
                <li style="background: #3F4042;"></li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-size">
              <p class="<%= commonNamespace %>-Spec_Section-comparison-size-emp">
                <span>6.1</span>インチ
              </p>
              <p class="<%= commonNamespace %>-Spec_Util-nowrap">Super Retina <br class="<%= commonNamespace %>-Spec_Util-sp">XDRディスプレイ<%- diamond %></p>
              <p class="u-Adjust_Mt-8">ProMotionテクノロジー</p>
              <p class="u-Adjust_Mt-8">常時表示ディスプレイ</p>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-glass">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-glass-240515.png" alt="" width="40" height="30" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>
                  テクスチャードマットガラス<br class="<%= commonNamespace %>-Spec_Util-sp">の<br class="<%= commonNamespace %>-Spec_Util-pc">
                  背面とチタニウム
                </li>
                <li>アクションボタン</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-dynamic-island">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-dynamic-island-221110.png" alt="" width="36" height="36" loading="lazy">
              </figure>
              <ul class="u-Adjust_Mt-8">
                <li>
                  Dynamic Island<br>
                  iPhoneの革新的な<br>
                  操作システム
                </li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-chip">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-A17-pro-240207.png" alt="" width="36" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>6コアGPUを搭載した<br>A17 Proチップ</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-camera">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-camera-triple-221110.png" alt="" width="35" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>
                  Proのカメラシステム<br>
                  48MPメイン | 超広角 | <br>
                  望遠<br class="<%= commonNamespace %>-Spec_Util-pc">
                </li>
                <li>超高解像度の写真<br>（24MPと48MP）</li>
                <li>フォーカス機能と<br>被写界深度コントロールが<br class="<%= commonNamespace %>-Spec_Util-sp">使える<br class="<%= commonNamespace %>-Spec_Util-pc">次世代の<br class="<%= commonNamespace %>-Spec_Util-sp">ポートレート</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-zoom">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-zoom-4-240207.png" alt="" width="75" height="18" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>光学ズームオプション</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-sos">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-sos-221110.png" alt="" width="38" height="38" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>緊急SOS</li>
                <li>衝突事故検出<%- diamond %></li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-battery">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-battery-240515.png" alt="" width="46" height="24" loading="lazy">
              </figure>
              <ul class="u-Adjust_Mt-8">
                <li>最大23時間の<br>ビデオ再生<%- diamond %></li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-connector">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-connector-c-240207.png" alt="" width="46" height="17" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>USB-C</li>
                <li>最大20倍速い<br class="<%= commonNamespace %>-Spec_Util-sp">データ転送が<br class="<%= commonNamespace %>-Spec_Util-pc">できる<br class="<%= commonNamespace %>-Spec_Util-sp">USB 3に対応<%- diamond %></li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-id">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-faceid-221110.png" alt="" width="36" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>Face ID</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-5g">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-5g-240515.png" alt="" width="45" height="32" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li class="<%= commonNamespace %>-Spec_Util-nowrap">超高速の5G携帯電話通信<%- diamond %></li>
              </ul>
            </div>
          </div>
        </dd>
      </dl>
    </li>

    <li class="<%= hideSpPlus %>">
      <dl>
        <dt><img src="/assets/img/product/iphone/common/comparison/img-name-iphone-15-plus.svg" alt="iphone 15 plus" width="112" height="14" loading="lazy"></dt>
        <dd>
          <div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-img">
              <div class="<%= commonNamespace %>-Spec_Section-comparison-img-figure">
                <figure>
                  <img class="_110" src="<%= sitepath %>assets/img/product/iphone/common/comparison/iphone-15-plus-240207.png" alt="" width="150" height="200" loading="lazy">
                </figure>
              </div>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-img-colors-5">
                <li style="background: #EBD0D2;"></li>
                <li style="background: #ECE6C6;"></li>
                <li style="background: #CFD9C9;"></li>
                <li style="background: #D5DDE0;"></li>
                <li style="background: #3C4042;"></li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-size">
              <p class="<%= commonNamespace %>-Spec_Section-comparison-size-emp">
                <span>6.7</span>インチ
              </p>
              <p class="<%= commonNamespace %>-Spec_Util-nowrap">Super Retina <br class="<%= commonNamespace %>-Spec_Util-sp">XDRディスプレイ<%- diamond %></p>
              <p class="u-Adjust_Mt-8">—</p>
              <p class="u-Adjust_Mt-8">—</p>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-glass">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-glass-240515.png" alt="" width="40" height="30" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>
                  カラーインフューズドガラス<br class="<%= commonNamespace %>-Spec_Util-sp">の<br class="<%= commonNamespace %>-Spec_Util-pc">
                  背面とアルミニウム
                </li>
                <li>着信/消音スイッチ</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-dynamic-island">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-dynamic-island-221110.png" alt="" width="36" height="36" loading="lazy">
              </figure>
              <ul class="u-Adjust_Mt-8">
                <li>
                  Dynamic Island<br>
                  iPhoneの革新的な<br>
                  操作システム
                </li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-chip">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-A16-221110.png" alt="" width="36" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>5コアGPUを搭載した<br>A16 Bionicチップ</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-camera">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-camera-dual-221110.png" alt="" width="35" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>
                  先進的なデュアルカメラシステム<br>
                  48MPメイン | 超広角
                </li>
                <li class="u-Adjust_Mt-24">超高解像度の写真<br>（24MPと48MP）</li>
                <li>フォーカス機能と<br>被写界深度コントロールが<br class="<%= commonNamespace %>-Spec_Util-sp">使える<br class="<%= commonNamespace %>-Spec_Util-pc">次世代の<br class="<%= commonNamespace %>-Spec_Util-sp">ポートレート</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-zoom">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-zoom-3-240207.png" alt="" width="56" height="18" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>光学ズームオプション</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-sos">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-sos-221110.png" alt="" width="38" height="38" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>緊急SOS</li>
                <li>衝突事故検出<%- diamond %></li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-battery">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-battery-240515.png" alt="" width="46" height="24" loading="lazy">
              </figure>
              <ul class="u-Adjust_Mt-8">
                <li>最大26時間の<br>ビデオ再生<%- diamond %></li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-connector">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-connector-c-240207.png" alt="" width="46" height="17" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>USB-C</li>
                <li>USB 2に対応
                </li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-id">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-faceid-221110.png" alt="" width="36" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>Face ID</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-5g">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-5g-240515.png" alt="" width="45" height="32" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li class="<%= commonNamespace %>-Spec_Util-nowrap">超高速の5G携帯電話通信<%- diamond %></li>
              </ul>
            </div>
          </div>
        </dd>
      </dl>
    </li>

    <li class="<%= hideSp_15 %>">
      <dl>
        <dt><img src="/assets/img/product/iphone/common/comparison/img-name-iphone-15.svg" alt="iphone 15" width="75" height="14" loading="lazy"></dt>
        <dd>
          <div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-img">
              <div class="<%= commonNamespace %>-Spec_Section-comparison-img-figure">
                <figure>
                  <img class="_100" src="<%= sitepath %>assets/img/product/iphone/common/comparison/iphone-15-240207.png" alt="" width="140" height="183" loading="lazy">
                </figure>
              </div>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-img-colors-5">
                <li style="background: #EBD0D2;"></li>
                <li style="background: #ECE6C6;"></li>
                <li style="background: #CFD9C9;"></li>
                <li style="background: #D5DDE0;"></li>
                <li style="background: #3C4042;"></li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-size">
              <p class="<%= commonNamespace %>-Spec_Section-comparison-size-emp">
                <span>6.1</span>インチ
              </p>
              <p class="<%= commonNamespace %>-Spec_Util-nowrap">Super Retina <br class="<%= commonNamespace %>-Spec_Util-sp">XDRディスプレイ<%- diamond %></p>
              <p class="u-Adjust_Mt-8">—</p>
              <p class="u-Adjust_Mt-8">—</p>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-glass">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-glass-240515.png" alt="" width="40" height="30" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>
                  カラーインフューズドガラス<br class="<%= commonNamespace %>-Spec_Util-sp">の<br class="<%= commonNamespace %>-Spec_Util-pc">
                  背面とアルミニウム
                </li>
                <li>着信/消音スイッチ</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-dynamic-island">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-dynamic-island-221110.png" alt="" width="36" height="36" loading="lazy">
              </figure>
              <ul class="u-Adjust_Mt-8">
                <li>
                  Dynamic Island<br>
                  iPhoneの革新的な<br>
                  操作システム
                </li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-chip">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-A16-221110.png" alt="" width="36" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>5コアGPUを搭載した<br>A16 Bionicチップ</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-camera">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-camera-dual-221110.png" alt="" width="35" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>
                  先進的なデュアルカメラシステム<br>
                  48MPメイン | 超広角
                </li>
                <li class="u-Adjust_Mt-24">超高解像度の写真<br>（24MPと48MP）</li>
                <li>フォーカス機能と<br>被写界深度コントロールが<br class="<%= commonNamespace %>-Spec_Util-sp">使える<br class="<%= commonNamespace %>-Spec_Util-pc">次世代の<br class="<%= commonNamespace %>-Spec_Util-sp">ポートレート</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-zoom">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-zoom-3-240207.png" alt="" width="56" height="18" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>光学ズームオプション</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-sos">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-sos-221110.png" alt="" width="38" height="38" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>緊急SOS</li>
                <li>衝突事故検出<%- diamond %></li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-battery">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-battery-240515.png" alt="" width="46" height="24" loading="lazy">
              </figure>
              <ul class="u-Adjust_Mt-8">
                <li>最大20時間の<br>ビデオ再生<%- diamond %></li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-connector">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-connector-c-240207.png" alt="" width="46" height="17" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>USB-C</li>
                <li>USB 2に対応
                </li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-id">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-faceid-221110.png" alt="" width="36" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>Face ID</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-5g">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-5g-240515.png" alt="" width="45" height="32" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li class="<%= commonNamespace %>-Spec_Util-nowrap">超高速の5G携帯電話通信<%- diamond %></li>
              </ul>
            </div>
          </div>
        </dd>
      </dl>
    </li>

    <li class="<%= hideSpSe3rd %>">
      <dl>
        <dt><img src="/assets/img/product/iphone/common/comparison/img-name-iphone-se-3rd.svg" alt="iphone se" width="74" height="15" loading="lazy"></dt>
        <dd>
          <div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-img">
              <div class="<%= commonNamespace %>-Spec_Section-comparison-img-figure">
                <figure>
                  <img class="_950" src="<%= sitepath %>assets/img/product/iphone/common/comparison/iphone-se-3rd-240207.png" alt="" width="119" height="174" loading="lazy">
                </figure>
              </div>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-img-colors-5">
                <li style="background: #232A31;"></li>
                <li style="background: #FAF6F2;"></li>
                <li style="background: #BF0013;"></li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-size">
              <p class="<%= commonNamespace %>-Spec_Section-comparison-size-emp">
                <span>4.7</span>インチ
              </p>
              <p class="<%= commonNamespace %>-Spec_Util-nowrap">Retina <br class="<%= commonNamespace %>-Spec_Util-sp">HDディスプレイ</p>
              <p class="u-Adjust_Mt-8">—</p>
              <p class="u-Adjust_Mt-8">—</p>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-glass">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-glass-240515.png" alt="" width="40" height="30" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>
                  アルミニウムとガラス
                </li>
                <li class="u-Adjust_Mt-24">着信/消音スイッチ</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-dynamic-island">
              —
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-chip">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-A15-221110.png" alt="" width="36" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>4コアGPUを搭載した<br>A15 Bionicチップ</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-camera">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-camera-single-221110.png" alt="" width="35" height="35" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>
                  シングルカメラシステム<br>
                  12MPメイン
                </li>
              </ul>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>—</li>
                <li class="u-Adjust_Mt-24">被写界深度コントロールが<br class="<%= commonNamespace %>-Spec_Util-sp">使える<br class="<%= commonNamespace %>-Spec_Util-pc">ポートレートモード</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-zoom">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-zoom-1-240207.png" alt="" width="18" height="18" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>光学ズームオプション</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-sos">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-sos-221110.png" alt="" width="38" height="38" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>緊急SOS</li>
                <li>-</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-battery">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-battery-240515.png" alt="" width="46" height="24" loading="lazy">
              </figure>
              <ul class="u-Adjust_Mt-8">
                <li>最大15時間の<br>ビデオ再生<%- diamond %></li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-connector">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-connector-lightning-240207.png" alt="" width="46" height="17" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>Lightning</li>
                <li>USB 2に対応
                </li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-id">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-touchid-221110.png" alt="" width="36" height="36" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li>Touch ID</li>
              </ul>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-comparison-5g">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-5g-240515.png" alt="" width="45" height="32" loading="lazy">
              </figure>
              <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
                <li class="<%= commonNamespace %>-Spec_Util-nowrap">5G携帯電話通信<%- diamond %></li>
              </ul>
            </div>
          </div>
        </dd>
      </dl>
    </li>
  </ul>
</section>
