<% const pagetitle = "Rakuten BIG s（楽天ビッグエス）" -%>
<% const directory = "rakuten-big-s" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/rakuten/", label:"Rakutenオリジナル"}] -%>
<% const namespace = "product-Rakuten-big-s" -%>
<% const theme = "Dark" -%>
<%# const theme = "Light" -%>
<% const customtheme = "Rakuten-1" -%>
<% const point = 3000 -%>
<%# const pointModel = 1000 -%>
<%# price-detail.ejsファイルに変数の説明の記載があります -%>
<% const priceDetailConfig = {
  theme: customtheme,
  price: 26980,
  //priceBefore: 50980,
  //addAnnotation: '※3',
  // pointBackPriceModel: pointModel,
  pointBackPrice: point,
  // pointModelText: `<span>製品購入で<span class="product-detail-Price_Pointback-num">${pointModel.toLocaleString()}</span>ポイント<sub>※1</sub></span>`,
  // pointModelText: `<span>製品購入で<span class="product-detail-Price_Pointback-num">${pointModel.toLocaleString()}</span>ポイント<sub>※1</sub></span>`,
  pointBackTextA: `<span>最大<span class="product-detail-Price_Pointback-num">${point.toLocaleString()}</span>円相当の</span>ポイント還元<sub>※1</sub>`,
  // pointEntryText: `さらに、エントリー＆抽選で<span class="product-detail-Price_Pointback-num">2,000</span>ポイント<sub>※2</sub>`,
  division24: 1124,
  //division24Before: 2707,
  division48: 562,
  //division48Before: 1353,
  // singleBtnPath: 'guide/application/?ref=product',
  productName: directory,
  // hasModal: true,
  tradeinProductName: 'Rakuten BIG',
  optionPattern: 'tradein',
  maxTradeinPrice: 10000,
  lid: directory,
  capacity: 128,
  pointAppealBtnCapNo: 3,
  carrier: '楽天モバイル',
  discountPrice: 16000,
  mnp: false,
  trakingId: 'rakuten-big-s',
}
-%>
<% const tradeinUrl = sitepath + "service/tradein/?l-id=product_" + directory + "_cpn_02" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: "Rakuten BIG s（楽天モバイル）のスペック・特徴などをご確認いただけます。楽天モバイル対応Android製品。オンライン簡単手続きが便利！",
    noindex: false,
    pathname: filepath,
    browseragent: false
  });
%>
<%- include('/include/_common-css-v2') %>
<%- include('/include/product/_category-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/<%= directory %>/product-<%= directory %>.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/smartphone/purchase-modal-drilldown.css?20240424">

<%- include('/include/product/_history-css') %>
<%- include('/include/_append-head') %>
<style>
  .product-detail-Theme_Rakuten-1-info-text{
    display: none;
  }
</style>
</head>
<body>
<%
/* insert Modal /*
/*
  ストア遷移 → 'bundle'
  在庫あり → 'stock'
  在庫切れ → 'soldout'
  入荷待ち → 'backorder'
*/
const bundleFlag = 'bundle';
const modalInfo = [
  {
    question: {
      title: '色を選択',
      warning: '購入する製品の色を選択してください。',
      type: 'color',
      value: 'color',
      select: [
        {
          'id': 'black',
          'name': 'ブラック',
          'sub': '',
          'color': '#222',
          'checked': false,
          'disabled': false,
        },
        {
          'id': 'white',
          'name': 'ホワイト',
          'sub': '',
          'color': '#fff',
          'checked': false,
          'disabled': false,
        },
        {
          'id': 'red',
          'name': 'クリムゾンレッド',
          'sub': '',
          'color': '#BF0000',
          'checked': false,
          'disabled': false,
        }
      ],
      upperinfo: ``,
      lowerinfo: ``
    },
  },
  {
    question: {
      title: 'SIMタイプ・プラン（Rakuten UN-LIMIT VI）を選択',
      warning: 'プランを選択してください。',
      type: 'radio',
      value: 'plan',
      select: [
        {
          'id': 'sim',
          'name': 'eSIM＋プランで申し込む',
          'sub': '',
          'checked': false,
          'disabled': false,
          'soldout' : '',
        },
        {
          'id': 'nosim',
          'name': 'プランを申し込まない（製品のみ購入）',
          'sub': '',
          'checked': false,
          'disabled': false,
          'soldout' : '',
        },
      ],
      upperinfo: ``,
      lowerinfo: `
        <p class="c-Txt_Cap">※製品のみ購入の場合、SIM購入（プラン選択）は不要です。</p>
      `
    }
  },
  {
    question: {
      title: 'スマホ交換保証プラスを選択',
      warning: 'スマホ交換保証プラスを選択してください。',
      type: 'radio',
      value: 'warranty',
      select: [
        {
          'id': 'warranty',
          'name': '申し込む：715円／月（税込）',
          'sub': '',
          'checked': true,
          'disabled': false,
          'soldout' : '',
        },
        {
          'id': 'nowarranty',
          'name': '申し込まない',
          'sub': '',
          'checked': false,
          'disabled': false,
          'soldout' : '',
        },
      ],
      upperinfo: `
        <p class="c-Txt_Emp-02">加入できるのは購入時のみ</p>
        <p class="u-Adjust_Mt-8">楽天モバイルで購入したスマートフォンやモバイルルーターの故障・紛失時に、最短で当日<sub>※</sub>に新品同等の同一機種を交換品としてお届けします。</p>
        <small>※対象地域：東京／神奈川／千葉／埼玉（12時までに受付の場合）</small>
        <p>サービスの詳細は、こちらの<a href="/service/replacement-warranty-plus/">スマホ交換保証プラス</a>をご参照ください。</p>
      `,
      lowerinfo: ``
    }
  }
]
%>
<%_ if (bundleFlag === 'stock') { _%>
<script>
const urlList = {
  'black_sim_warranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id=9158206969665397225:1&id_d=9160091687765073370:1',
  'black_sim_nowarranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id=9158206969665397225:1&id_d=9160091687765073370:0',
  'black_nosim_warranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id_d=9160091687765073370:1',
  'black_nosim_nowarranty': 'https://portal.mobile.rakuten.co.jp/equipment-details?id=9160091687765073370',
  'white_sim_warranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id=9158206969665397225:1&id_d=9160091687865073383:1',
  'white_sim_nowarranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id=9158206969665397225:1&id_d=9160091687865073383:0',
  'white_nosim_warranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id_d=9160091687865073383:1',
  'white_nosim_nowarranty': 'https://portal.mobile.rakuten.co.jp/equipment-details?exid=553344&selectAvailable=true',
  'red_sim_warranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id=9158206969665397225:1&id_d=9160091687865073397:1',
  'red_sim_nowarranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id=9158206969665397225:1&id_d=9160091687865073397:0',
  'red_nosim_warranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id_d=9160091687865073397:1',
  'red_nosim_nowarranty': 'https://portal.mobile.rakuten.co.jp/equipment-details?id=9160091687865073397',
}
</script>
<%- include('/include/product/_purchase-modal', { modalInfo: modalInfo }) %>
<%_ } _%>

<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= namespace %>">
  <div class="<%= namespace %>_Loading"><div></div></div>
  <div class="<%= namespace %>_Bg" id="bg"></div>
  <nav id="nav" class="<%= namespace %>_Nav">
    <div class="<%= namespace %>_Nav-wrap">
      <img src="<%= sitepath %>assets/img/product/rakuten-big-s/big-s-logo.svg" alt="" width="147" height="19" class="<%= namespace %>_Nav-logo">
      <div id="js-arrow" class="<%= namespace %>_Nav-arrow"><span class="c-Icon_Chevron-right" data-ratevent="click" data-ratparam="all" data-ratid="rakuten-big-s_navi-menu"></span></div>
      <div class="<%= namespace %>_Nav-bar js-sp-nav" aria-expanded="false">
        <ul class="js-mini-nav">
          <li><a href="#features" id="nav_feature" data-ratevent="click" data-ratparam="all" data-ratid="rakuten-big-s_navi-feature">特長</a></li>
          <li><a href="#section2" id="nav_price" data-ratevent="click" data-ratparam="all" data-ratid="rakuten-big-s_navi-price">価格</a></li>
          <li><a href="#spec" id="nav_spec" data-ratevent="click" data-ratparam="all" data-ratid="rakuten-big-s_navi-spec">スペック</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="u-Adjust_Pt-16 u-Adjust_Pr-16 u-Adjust_Pl-16 u-Adjust_Pb-16 u-Adjust_Align-center" style="background-color: #fff;">
    <p class="c-Txt_Emp-01 c-Txt_Normal-l">Rakuten BIG sは販売を終了いたしました。</p>
    <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
      <a class="c-Btn_Regular" href="/product/rakuten/?l-id=end_product_smartphone"><span>販売中のRakutenオリジナル製品を見る</span></a>
    </div>
  </div>

  <div id="section1" class="u-Adjust_Mt-32 <%= namespace %>_Section <%= namespace %>_Section-1">
    <div class="l-System_Container">
      <div class="l-Media_Grid-reverse">
        <div class="<%= namespace %>_hero_img">
          <div>
          <img src="<%= sitepath %>assets/img/product/rakuten-big-s/hero-img-big-s.png?yymmdd" alt="Rakuten BIG s" width="552">
          <img class="<%= namespace %>_Pc <%= namespace %>_hero_logo-img" src="<%= sitepath %>assets/img/product/rakuten-big-s/hero-logo-big-s-02_pc.png?yymmdd" alt="5G Sub6＋mmwave" width="138">
          </div>
        </div>
        <div class="<%= namespace %>_hero_logo">
          <div class="<%= namespace %>_hero_logo-1">
            <img src="<%= sitepath %>assets/img/product/rakuten-big-s/hero-logo-big-s-01_pc.png?yymmdd" alt="5Gをもっと身近に。Rakuten BIG s" width="313">
            <img class="<%= namespace %>_Sp u-Adjust_Mt-24" src="<%= sitepath %>assets/img/product/rakuten-big-s/hero-logo-big-s-02_sp.png?yymmdd" alt="5G Sub6＋mmwave" width="313">
          </div>
        </div>
      </div>
      <p class="<%= namespace %>_hero_cap c-Txt_Normal-ss u-Adjust_Mt-24">
        ※各色の発売時期は前後する可能性があります<br>
        ※5G利用は一部エリアのみ
      </p>
    </div>
  </div>
  <!-- <div class="<%= namespace %>_Movie">
    <div class="l-System_Container">
      <div class="<%= namespace %>_Movie-Inner">
        <div style="position: relative; display: block;">
          <div style="padding-top: 56.25%;"><iframe src="https://players.brightcove.net/5068808272001/default_default/index.html?videoId=6194438659001" allowfullscreen="" allow="encrypted-media" style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"></iframe></div>
        </div>
      </div>
    </div>
  </div> -->
  <div id="section-camera" class="<%= namespace %>_Section <%= namespace %>_Section-camera">
    <div class="<%= namespace %>_camera-video-1">
      <video muted playsinline width="100%" id="video1-1">
        <source src="<%= sitepath %>assets/img/product/rakuten-big-s/dance_01.mp4" type="video/mp4">
    </video>
    </div>
    <div class="<%= namespace %>_camera-video-2">
      <video muted playsinline width="100%" id="video1-2">
        <source src="<%= sitepath %>assets/img/product/rakuten-big-s/dance_02.mp4" type="video/mp4">
    </video>
    </div>
    <div class="<%= namespace %>_camera-bg-1">
      <img src="<%= sitepath %>assets/img/product/rakuten-big-s/big-s-camera-bg-01.png" alt="">
    </div>
    <div class="<%= namespace %>_camera-bg-2">
      <img src="<%= sitepath %>assets/img/product/rakuten-big-s/big-s-camera-bg-02.png" alt="">
    </div>
    <div class="<%= namespace %>_camera-bg-3">
      <img src="<%= sitepath %>assets/img/product/rakuten-big-s/big-s-camera-bg-03.png" alt="">
    </div>
    <div class="<%= namespace %>_camera-step1" id="features">
      <div class="">
      <div class="l-Media_Grid-half-reverse">
        <div class="<%= namespace %>_camera-right-box">
          <h2 class="<%= namespace %>_fadeout <%= namespace %>_camera-right-title" data-aos="new-animation" data-aos-delay="200" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
            <img src="<%= sitepath %>assets/img/product/rakuten-big-s/big-s-camera-txt-01.png" alt="4 AI CAMERA" width="425px">
          </h2>
          <p class="<%= namespace %>_subtitle <%= namespace %>_fadeout" data-aos="new-animation" data-aos-delay="300" data-aos-duration="1000" data-aos-anchor-placement="top-bottom" data-ratid="rakuten-big-s_scroll-03_feature" data-ratevent="appear">写真撮影が楽しくなる、<br class="<%= namespace %>_Br-pc">
            4眼AIカメラ</p>
          <p class="<%= namespace %>_txt <%= namespace %>_fadeout" data-aos="new-animation" data-aos-delay="400" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">2倍の光学ズームをはじめ<br>
            広角カメラ、超広角カメラ、深度測位カメラで<br>
            目の前に広がる世界をリアルに表現</p>
        </div>
        <div>
          <div class="<%= namespace %>_camera-wrap" data-aos="new-animation" data-aos-delay="100" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
            <img class="<%= namespace %>_fadeout <%= namespace %>_step1-camera" src="<%= sitepath %>assets/img/product/rakuten-big-s/big-s-camera-01.png" alt="">

            <div class="<%= namespace %>_camera-title">
              <p class="<%= namespace %>_camera-title-1" id="camera-title-1"><span>OPTICAL ZOOM</span></p>
              <p class="<%= namespace %>_camera-title-2" id="camera-title-2"><span>SUPER WIDE</span></p>
              <p class="<%= namespace %>_camera-title-3" id="camera-title-3"><span>DEPTH</span></p>
            </div>
            <div class="<%= namespace %>_camera-lens">
              <img src="<%= sitepath %>assets/img/product/rakuten-big-s/big-s-camera-lenz00.png" alt="" class="<%= namespace %>_step-0">
              <img src="<%= sitepath %>assets/img/product/rakuten-big-s/big-s-camera-lenz01.png" alt="" class="<%= namespace %>_step-1">
              <img src="<%= sitepath %>assets/img/product/rakuten-big-s/big-s-camera-lenz02.png" alt="" class="<%= namespace %>_step-2">
              <img src="<%= sitepath %>assets/img/product/rakuten-big-s/big-s-camera-lenz03.png" alt="" class="<%= namespace %>_step-3">
            </div>
            <div class="<%= namespace %>_camera-txt <%= namespace %>_step-1">
              <p>
              光学2倍ズーム搭載<br>
              一歩前に踏み出して臨場感を加えよう
              </p>
            </div>
            <div class="<%= namespace %>_camera-txt <%= namespace %>_step-2">
              <p>
              ヒトの視界って意外にワイド。<br>
              風景は超ワイドに撮るのが<br class="<%= namespace %>_Br-pc">
              ちょうどいい
              </p>
            </div>
            <div class="<%= namespace %>_camera-txt <%= namespace %>_step-3">
              <p>
              被写体との距離を正確に測定。<br>
              背景を柔らかくぼかして<br class="<%= namespace %>_Br-pc">
              奥行き感を演出
            </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div id="section6" class="<%= namespace %>_Section <%= namespace %>_Section-6">
    <div class="<%= namespace %>_Section-6-txt">
      <h2 class="<%= namespace %>_Section-heading-sub" data-ratid="rakuten-big-s_scroll-04_feature" data-ratevent="appear">映すもの全ての豊かな色調と極上の臨場感に圧倒される</h2>
      <p class="<%= namespace %>_Section-txt">有機ELとHDR10で色調豊か。よりリアルな色味が約6.4インチの大画面を覆う。</p>
    </div>
    <div class="<%= namespace %>_video-6">
    <video muted playsinline width="100%" id="video6">
      <source src="<%= sitepath %>assets/img/product/rakuten-big-s/floatingwhale.mp4" type="video/mp4">
    </video>
  </div>
  </div>
    <div id="section7" class="<%= namespace %>_Section <%= namespace %>_Section-7">
      <video muted playsinline width="100%" id="video7" class="<%= namespace %>_Section-7-video" poster="">
        <source src="<%= sitepath %>assets/img/product/rakuten-big-s/color.mp4" type="video/mp4">
      </video>
      <div class="l-System_Container">
      <div class="<%= namespace %>_Section-7-img">
        <div class="<%= namespace %>_Section-7-img-1">
          <img src="<%= sitepath %>assets/img/product/rakuten-big-s/big-s-speed-01.png" alt="" width="579" data-ratevent="click" data-ratparam="all" data-ratid="rakuten-big-s_animation-01_start">
        </div>
        <div class="<%= namespace %>_Section-7-img-2">
          <img src="<%= sitepath %>assets/img/product/rakuten-big-s/big-s-speed-02.png" alt="" width="556">
        </div>
        <div class="<%= namespace %>_Section-7-img-3">
          <img src="<%= sitepath %>assets/img/product/rakuten-big-s/big-s-speed-03.png" alt="" width="176" data-ratevent="click" data-ratparam="all" data-ratid="rakuten-big-s_animation-02_end">
        </div>
      </div>
      <div class="<%= namespace %>_Section-7-txt">
        <h2 class="c-Heading_Lv1">超高速。 低遅延。 ミリ波対応。<br>
          「リモート」が「リアル」な距離感に</h2>
        <p class="<%= namespace %>_Section-7-txt-sub <%= namespace %>_Section-txt-sec7">Sub6に加えて、より高速なミリ波にも対応。最大通信速度 下り2.80Gbps、上り273Mbpsの圧倒的なスピードを実現。</p>
        <p class="c-Txt_Cap u-Adjust_Mt-32">※通信速度 下り最大2.80Gbps、上り最大273Mbpsは、本機種でミリ波利用時の理論値です。 ※表示の最大通信速度はベストエフォート方式（規格上の最大速度）であり、実際の通信速度は通信環境やネットワークの混雑状況によって変化します。 ※5G利用は一部エリアに限ります。<a href="<%= sitepath %>area/">5G対象エリア</a>をご確認ください。また、ミリ波が利用可能なエリアは、5G利用可能エリアのうちごく限られたエリアとなります。 ※本機は4G LTE通信にも対応しています。</p>
      </div>
    </div>
  </div>
  <div id="section8" class="<%= namespace %>_Section <%= namespace %>_Section-8">
    <div class="<%= namespace %>_Section-8-inner"></div>
    <div class="l-System_Container">
      <div class="<%= namespace %>_Section-8_Grid">
        <div class="<%= namespace %>_Section-8-txt">
          <h2 class="<%= namespace %>_Section-heading-sub" data-ratid="rakuten-big-s_scroll-05_feature" data-ratevent="appear">
            朝から晩まで、<br>
            安心のバッテリーもち
          </h2>
          <div class="u-Adjust_Mt-32">
          <img src="<%= sitepath %>assets/img/product/rakuten-big-s/big-s-batteryimg-02.png" alt="動画15H 音楽21.3H Web17.4H" width="240">
            <p class="c-Txt_Cap u-Adjust_Mt-24">
              ※駆動時間は、Rakuten BIG sの試作ハードウェアおよびソフトウェアを使用して、楽天モバイルが試験を実施した結果です。使用環境およびその他の要因によって異なる場合があります。バッテリーの測定環境については、<a href="<%= sitepath %>product/smartphone/rakuten-big-s/battery.html">こちらの詳細ページ</a>をご確認ください。
            </p>
          </div>
        </div>
        <div class="<%= namespace %>_Section-8-img">
          <img src="<%= sitepath %>assets/img/product/rakuten-big-s/big-s-batteryimg-01.png" alt="" width="592">
        </div>
      </div>
    </div>
  </div>
  <div id="section9" class="<%= namespace %>_Section <%= namespace %>_Section-9">
    <h2 class="<%= namespace %>_Section-heading-sub" id="txt10">IPX7の高い防水性能</h2>
    <div class="<%= namespace %>_Section-9-img">
      <img src="<%= sitepath %>assets/img/product/rakuten-big-s/big-s-waterproof-02.png" alt="" width="479">
    </div>
  </div>
  <!--  -->
  <div class="<%= namespace %>_Section-10">
  <div id="section10" class="<%= namespace %>_Section">
    <div class="<%= namespace %>_Section-10-content">
      <div>
        <img src="<%= sitepath %>assets/img/product/<%= directory %>/big-s-face-01.png" alt="">
      </div>
      <div>
        <h2 class="product-Rakuten-big-s_Pc c-Txt_Normal-xl c-Txt_Emp-01 <%= namespace %>_Section-10-txt01">顔派？指紋派？<br>
          セキュアな2つの<br>
          生体認証</h2>
        <h2 class="product-Rakuten-big-s_Sp c-Txt_Normal-xl c-Txt_Emp-01 <%= namespace %>_Section-10-txt01">顔派？</h2>
        </div>
    </div>
    <div class="<%= namespace %>_Section-10-content">
      <div>
        <h2 class="product-Rakuten-big-s_Sp c-Txt_Normal-xl c-Txt_Emp-01 <%= namespace %>_Section-10-txt02">指紋派？</h2>
      </div>
      <div>
        <img src="<%= sitepath %>assets/img/product/<%= directory %>/big-s-fingerprint-01.png" alt="">
      </div>
    </div>
    <div id="<%= namespace %>_Section-10-lottie">
      <div class="<%= namespace %>_Section-10-lottie-bg">
        <img src="<%= sitepath %>assets/img/product/<%= directory %>/big-s-key-01.png" alt="" width="233">
      </div>
    </div>
  </div>
  <div class="product-Rakuten-big-s_Sp c-Txt_Normal-xl c-Txt_Emp-01 u-Adjust_Align-center u-Adjust_Mt-32">
    セキュアな2つの<br>
    生体認証</div>
  </div>
  <!--  -->
  <div class="<%= namespace %>_Osaihu">
    <div>
      <img src="<%= sitepath %>assets/img/product/<%= directory %>/big-s-osaihu-01.png" alt="" width="680px">
    </div>
    <div>
      <h2 data-ratid="rakuten-big-s_scroll-06_feature" data-ratevent="appear">おサイフケータイ</h2>
      <p>便利なFeliCa機能搭載 毎日をより身軽に</p>
    </div>
  </div>
</div>
<div id="section4" class="<%= namespace %>_Section <%= namespace %>_Section-4 u-Adjust_Align-center js-bg-red">
  <div class="<%= namespace %>_Section-4-container">
    <p id="lead-sec4" class="<%= namespace %>_Section-txt">CRIMSON RED</p>

      <div class="<%= namespace %>_Carousel-device js-Carousel-device">
        <img src="<%= sitepath %>assets/img/product/rakuten-big-s/big-s-img-red.png" alt="" width="311" aria-current="true">
        <img src="<%= sitepath %>assets/img/product/rakuten-big-s/big-s-img-white.png" alt="" width="311" aria-current="false">
        <img src="<%= sitepath %>assets/img/product/rakuten-big-s/big-s-img-black.png" alt="" width="311" aria-current="false">
      </div>

  </div>
</div>
<div id="section11" class="<%= namespace %>_Section <%= namespace %>_Section-11">
  <div class="l-System_Container">
  <div>
    <h2 id="txt14" data-ratid="rakuten-big-s_scroll-07_feature" data-ratevent="appear">あなたにぴったりの一台を。<br>楽天モバイルだけのユニークなスマートフォン</h2>
  </div>
  <div class="u-Adjust_Mt-48 u-Adjust_Align-center">
    <img src="<%= sitepath %>assets/img/product/<%= directory %>/big-s-rakutenspimg-01.png" alt="" width="696">
  </div>
  <div class="<%= namespace %>_Model">
    <div>
      <p>Rakuten<br>BIG</p>
    </div>
    <div>
      <p>Rakuten<br>BIG s</p>
    </div>
    <div>
      <p>Rakuten<br>Hand</p>
    </div>
    <div>
      <p>Rakuten<br>Mini</p>
    </div>
  </div>
  <div class="<%= namespace %>_Model-link">
    <div>
      <a href="<%= sitepath %>product/smartphone/rakuten-big/?l-id=product_rakuten-big-s_product_rakuten-big" class="c-Link_Txt-icon"><em class="product-Rakuten-big-s_Sp-inline">Rakuten BIG</em>詳細を見る<span class="c-Icon_Chevron-right"></span></a>
    </div>
    <div>
      <!-- <a href="<%= sitepath %>product/smartphone/rakuten-big-s/" class="c-Link_Txt-icon"><span class="product-Rakuten-big-s_Sp-inline">Rakuten Bigs</span>詳細を見る<span class="c-Icon_Chevron-right"></span></a> -->
    </div>
    <div>
      <a href="<%= sitepath %>product/smartphone/rakuten-hand/?l-id=product_rakuten-big-s_product_rakuten-hand" class="c-Link_Txt-icon"><em class="product-Rakuten-big-s_Sp-inline">Rakuten Hand</em>詳細を見る<span class="c-Icon_Chevron-right"></span></a>
    </div>
    <div>
      <a href="<%= sitepath %>product/smartphone/rakuten-mini/?l-id=product_rakuten-big-s_product_rakuten-mini" class="c-Link_Txt-icon"><em class="product-Rakuten-big-s_Sp-inline">Rakuten Mini</em>詳細を見る<span class="c-Icon_Chevron-right"></span></a>
    </div>
  </div>
</div>
</div>
<div id="sectionOther" class="product-detail-Layout_Other <%= namespace %>_Other">
  <div class="l-System_Container">
    <%- include('/include/product/_compensation') %>
    <section class="u-Adjust_Pt-64">
      <h2 class="c-Heading_Lv2">仕様</h2>

      <div class="<%= namespace %>_Device">
        <div>
          <img src="<%= sitepath %>assets/img/product/<%= directory %>/pht-devicelist-00.png" alt=""></div>
        <div>
          <img src="<%= sitepath %>assets/img/product/<%= directory %>/pht-devicelist-01.png" alt=""></div>
        <div>
          <img src="<%= sitepath %>assets/img/product/<%= directory %>/pht-devicelist-02.png" alt="">
        </div>
      </div>
      <div class="product-detail-Spec">
        <ul class="product-detail-Spec_<%= theme %>">
          <li aria-current="true"><span class="c-Icon_Product-waterproof"></span>防水</li>
          <li aria-current="true"><span class="c-Icon_Product-price-yen"></span>FeliCa</li>
          <li aria-current="false"><span class="c-Icon_Product-hi-res"></span>ハイレゾ<br>オーディオ</li>
          <li aria-current="true"><span class="c-Icon_Product-faceid"></span>顔認証</li>
          <li aria-current="true"><span class="c-Icon_Product-finger"></span>指紋認証</li>
          <li aria-current="false"><span class="c-Icon_Product-charger"></span>ワイヤレス<br>充電</li>
          <li aria-current="true"><span class="c-Icon_Product-connection"></span>高速通信</li>
        </ul>
      </div>
    </section>
    <section class="product-detail-Layout_Section" id="spec">
      <h2 class="c-Heading_Lv2" data-ratid="rakuten-big-s_scroll-8_spec" data-ratevent="appear">スペック</h2>
      <dl class="c-Dl">
        <div>
          <dt>製品名</dt>
          <dd>
            Rakuten BIG s
          </dd>
        </div>
        <div>
          <dt>色</dt>
          <dd>
            ブラック / ホワイト / クリムゾンレッド
          </dd>
        </div>
        <div>
          <dt>サイズ(高さ/幅/厚さ)</dt>
          <dd>
            約160 x 約79 x 約9 (mm)
          </dd>
        </div>
        <div>
          <dt>重量</dt>
          <dd>
            約204g
          </dd>
        </div>
        <div>
          <dt>ディスプレイ</dt>
          <dd>
            <p>サイズ / 種類</p>
            約6.4インチ / AMOLED
            <p class="u-Adjust_Mt-16">解像度</p>
            FHD+ / 2,340 × 1,080
          </dd>
        </div>
        <div>
          <dt>連続待受時間（LTE）</dt>
          <dd>
            約392時間
          </dd>
        </div>
        <div>
          <dt>連続通話（通信）時間（LTE）</dt>
          <dd>
            約20時間
          </dd>
        </div>
        <div>
          <dt>CPU</dt>
          <dd>
            Qualcomm® Snapdragon™ 765G 5G mobile platform / オクタコア 2.4GHz + 2.2GHz + 1.8GHz
          </dd>
        </div>
        <div>
          <dt>OS</dt>
          <dd>
            Android™ 10
          </dd>
        </div>
        <div>
          <dt>内蔵メモリ（RAM / ROM）</dt>
          <dd>
            6GB (RAM) / 128GB (ROM)
          </dd>
        </div>
        <div>
          <dt>メインカメラ（外側）</dt>
          <dd>
            約800万画素 (超広角) + 約4,800万画素 (広角) + 約800万画素 (望遠) + 約200万画素 (深度測位)
          </dd>
        </div>
        <div>
          <dt>フロントカメラ（内側）</dt>
          <dd>
            約1,600万画素
          </dd>
        </div>
        <div>
          <dt>バッテリー容量</dt>
          <dd>
            3,900mAh
          </dd>
        </div>
        <div>
          <dt>ワイヤレス充電</dt>
          <dd>
            非対応
          </dd>
        </div>
        <div>
          <dt>おサイフケータイ / NFC</dt>
          <dd>
            対応 / 対応
          </dd>
        </div>
        <div>
          <dt>防水 / 防塵</dt>
          <dd>
            対応 (IPX7 / IP6X)
          </dd>
        </div>
        <div>
          <dt>生体認証（指紋 / 顔）</dt>
          <dd>
            対応 / 対応
          </dd>
        </div>
        <div>
          <dt>VoLTE（Rakuten, docomo, au, SoftBank）</dt>
          <dd>
            対応 / 非対応 / 非対応 / 非対応
          </dd>
        </div>
        <div>
          <dt>Wi-Fi規格</dt>
          <dd>
            IEEE802.11 a/b/g/n/ac
          </dd>
        </div>
        <div>
          <dt>テザリング（Wi-Fi）</dt>
          <dd>
            10台
          </dd>
        </div>
        <div>
          <dt>SIMタイプ</dt>
          <dd>
            eSIM
          </dd>
        </div>
        <div>
          <dt>付属品</dt>
          <dd>
            ACアダプター / USB Type-Cケーブル / クイックスタートガイド（保証書） / 安全上のご注意
          </dd>
        </div>
      </dl>
      <ul class="c-List_Cap u-Adjust_Mt-24">
        <li><span>※</span>Rakuten BIG sの開通手続きにはWi-Fi環境が必要になります。</li>
        <li><span>※</span>IP6Xとは、保護度合いを指し、直径75μm以下の塵埃（じんあい）が入った装置に携帯電話を8時間入れてかくはんさせ、取り出したときに内部に塵埃が侵入しない機能を有することを意味します。</li>
        <li><span>※</span>IPX7とは、常温で水道水、かつ静水の水深1mのところに製品を静かに沈め、約30分間放置後に取り出したときに電話機としての機能を有することを意味します。</li>
      </ul>
      <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>product/smartphone/<%= directory %>/spec.html?l-id=product_rakuten-big-s_spec_rakuten-big-s" class="c-Link_Txt-icon">スペック詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
    </section>

    <section class="product-detail-Layout_Section">
      <h2 class="c-Heading_Lv2" data-ratid="rakuten-big-s_scroll-9_accessory-lineup" data-ratevent="appear">専用アクセサリー</h2>
      <div class="c-Carousel js-Carousel-multi">
        <div><a href="<%= sitepath %>product/accessory/rselect-rmcorktnbsc0139bk/?l-id=product_rakuten_big-s_rselect-rmcorktnbsc0139bk"><img src="<%= sitepath %>assets/img/accessory/rselect-rmcorktnbsc0139bk/pht-accessory-00.png" alt="Rakuten BIG s レザーケース "></a></div>
        <div><a href="<%= sitepath %>product/accessory/rselect-rmcorktnbsc0145cl/?l-id=product_rakuten_big-s_rselect-rmcorktnbsc0145cl"><img src="<%= sitepath %>assets/img/accessory/rselect-rmcorktnbsc0145cl/pht-accessory-00.png" alt="Rakuten BIG s お買いものパンダ スマホリング付きケース"></a></div>
        <div><a href="<%= sitepath %>product/accessory/rselect-rmcorktnbsf0142cl/?l-id=product_rakuten_big-s_rselect-rmcorktnbsf0142cl"><img src="<%= sitepath %>assets/img/accessory/rselect-rmcorktnbsf0142cl/pht-accessory-00.png" alt="Rakuten BIG s 平面ガラスフィルム 高光沢"></a></div>
        <div><a href="<%= sitepath %>product/accessory/rselect-rmcorktnbsc0143cl/?l-id=product_rakuten_big-s_rselect-rmcorktnbsc0143cl"><img src="<%= sitepath %>assets/img/accessory/rselect-rmcorktnbsc0143cl/pht-accessory-00.png" alt="Rakuten BIG s トライタンハードケース クリア"></a></div>
      </div>
      <div class="c-Carousel_Nav-v2-wrap">
        <div class="c-Carousel_Nav-v2"></div>
        <div class="c-Carousel_Nav-v2-bar"></div>
      </div>
      <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>product/accessory/smartphone-related/?l-id=product_rakuten-big-s_product_accessory" class="c-Link_Txt-icon">その他アクセサリーを見る<span class="c-Icon_Chevron-right"></span></a></p>
    </section>

    <section class="product-detail-Layout_Section">
      <h2 class="c-Heading_Lv2">設定・サポート</h2>
      <p class="u-Adjust_Mt-16">初期設定方法や、サポート情報をご確認いただけます。</p>
      <div class="u-Adjust_Mt-24">
        <a href="<%= sitepath %>product/smartphone/rakuten-big-s/support/?l-id=product_rakuten-big-s_support" class="c-Btn_Regular-auto">Rakuten BIG sサポート情報を見る</a>
      </div>
      <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>product/smartphone/rakuten-big-s/support/setting/?l-id=product_rakuten-big-s_support_setting" class="c-Link_Txt-icon">初期設定方法を見る<span class="c-Icon_Chevron-right"></span></a></p>
      <p class="u-Adjust_Mt-24">
        <a href="<%= sitepath %>assets/pdf/product/Rakuten-BIG-s-manual.pdf?210927" class="c-Link_Txt-icon"  data-ratevent="click" data-ratparam="all" data-ratid="rakuten-big-s_manual">
          取扱説明書を見る<span class="c-Icon_Pdf-l"></span>
        </a>
      </p>
    </section>

    <div id="previously-seen"></div>
  </div>
</div>
<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-product-v2.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>


  </div>
  <div class="c-Breadcrumbs_Foot">
    <div class="l-System_Container">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>
  </div>

  <%- include('/include/_footer') %>

</footer>
</div>
<%- include('/include/_common-js') %>
<%- include('/include/product/_category-js') %>
<script src="<%= sitepath %>assets/js/product.rakuten-big-s.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/product.purchase-modal.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/library/aos.js"></script>
<script>AOS.init();</script>
<%- include('/include/product/_history-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
