<% const pagetitle = "楽天モバイル 池袋東口店" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css') %>
<%- include('/include/shop/_category-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <li><a href="<%= sitepath %>shop/">ショップ</a><span class="c-Icon_Chevron-right"></span></li>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="shop-Detail_Header">
  <div class="l-System_Container">
    <ul class="shop-Detail_Img-list">
      <li>
        <button class="c-Tooltip shop-Btn_Off" data-tippy-theme="default">
          <img src="<%= sitepath %>assets/img/shop/detail/img-star04.png" alt="接客コンテスト2021 入賞RCREW在籍店舗" width="109" class="js-emblem">
        </button>
      </li>
      <li>
        <button class="c-Tooltip shop-Btn_Off" data-tippy-theme="default">
          <img src="<%= sitepath %>assets/img/shop/detail/img-star01.png" alt="GOLD CREW 2020 接客コンテスト優秀店舗" width="109" class="js-emblem">
        </button>
      </li>
    </ul>
    <div class="u-Adjust_Mt-16">
      <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
    </div>
  </div>
</div>

<div class="shop-Layout_Detail-main">
  <div class="l-System_Container">
    <div class="shop-Detail_Contents">
      <div class="shop-Map" data-shopname="楽天モバイル 池袋東口店" data-lat="35.727639" data-lng="139.712278">
        <div class="shop-Map_Container">
          <iframe src="https://maps.google.co.jp/maps?&output=embed&q=35.727639,139.712278" width="600" height="240" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <ul class="shop-Map_Btns">
          <li><a href="https://www.google.com/maps?q=35.727639,139.712278" class="c-Btn_Regular-auto" target="_blank"><span>Google mapで開く</span></a></li>
        </ul>
      </div>
      <%- include('/include/shop/_flow') %>
    </div>
  </div>

  <div class="shop-Reservation" data-reservationkey="">
    <div class="l-System_Container">
      <div class="shop-Detail_Contents">
        <h2 class="c-Heading_Lv2">ご来店の前に</h2>
        <ul class="shop-Detail_List">
          <li>
            <div class="l-Media_Grid-reverse c-Infobox_Standing-white">
              <div>
                <h3 class="c-Heading_Lv3">当日ご持参いただくものを、必ずご確認ください</h3>
                <div class="shop-Reservation_Btn-content-primary">
                  <a href="<%= sitepath %>guide/1.html" class="c-Btn_Regular-auto shop-Reservation_Link"><span>ご来店時に必要なものを確認する</span></a>
                </div>
              </div>
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/shop/detail/img-visit.png" alt="">
              </div>
            </div>
          </li>
          <li>
            <div class="l-Media_Grid-reverse c-Infobox_Standing-white">
              <div>
                <div class="shop-Reservation_Head">
                  <h3 class="c-Heading_Lv3">来店予約がおすすめです</h3>
                  <p class="shop-Reservation_Waiting">（ただ今の待ち人数:<span id="waitcount">1組</span>）</p>
                </div>
                <div class="shop-Reservation_Btn-content-secondary">
                  <a href="https://airrsv.net/rm-ikebukurohigashiguchi6/calendar" class="c-Btn_Secondly-auto shop-Reservation_Link"><span>Webで予約する（翌日以降）</span></a>
                </div>
                <div class="shop-Reservation_Tel">
                  <p class="shop-Reservation_Tel-title">当日のご予約はお電話にて</p>
                  <div class="c-Txt_Alphanumeric shop-Reservation_Tel-number">03-5927-8106</div>
                </div>
                <p class="shop-Reservation_Time">予約受付時間：（全日10:00～20:00）</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">注釈テキストが入ります。注釈テキストが入ります。</p>
              </div>
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/shop/detail/img-reservation.png" alt="">
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="shop-Detail_Contents">
        <h2 class="c-Heading_Lv2">ご来店の前に</h2>
        <ul class="shop-Detail_List">
          <li>
            <div class="l-Media_Grid-reverse c-Infobox_Standing-white">
              <div>
                <h3 class="c-Heading_Lv3">当日ご持参いただくものを、必ずご確認ください</h3>
                <div class="shop-Reservation_Btn-content-primary">
                  <a href="<%= sitepath %>guide/1.html" class="c-Btn_Regular-auto shop-Reservation_Link"><span>ご来店時に必要なものを確認する</span></a>
                </div>
              </div>
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/shop/detail/img-visit.png" alt="">
              </div>
            </div>
          </li>
          <li>
            <div class="l-Media_Grid-reverse c-Infobox_Standing-white">
              <div>
                <div class="shop-Reservation_Head">
                  <h3 class="c-Heading_Lv3">来店予約がおすすめです</h3>
                  <p class="shop-Reservation_Waiting">（ただ今の待ち人数:<span id="waitcount">1組</span>）</p>
                </div>
                <div class="shop-Reservation_Btn-content-secondary">
                  <a href="https://airrsv.net/rm-ikebukurohigashiguchi6/calendar" class="c-Btn_Secondly-auto shop-Reservation_Link"><span>Webで予約する（翌日以降）</span></a>
                </div>
              </div>
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/shop/detail/img-reservation.png" alt="">
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="shop-Detail_Contents">
        <h2 class="c-Heading_Lv2">ご来店の前に</h2>
        <ul class="shop-Detail_List">
          <li>
            <div class="l-Media_Grid-reverse c-Infobox_Standing-white">
              <div>
                <h3 class="c-Heading_Lv3">当日ご持参いただくものを、必ずご確認ください</h3>
                <div class="shop-Reservation_Btn-content-primary">
                  <a href="<%= sitepath %>guide/1.html" class="c-Btn_Regular-auto shop-Reservation_Link"><span>ご来店時に必要なものを確認する</span></a>
                </div>
              </div>
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/shop/detail/img-visit.png" alt="">
              </div>
            </div>
          </li>
          <li>
            <div class="l-Media_Grid-reverse c-Infobox_Standing-white">
              <div>
                <div class="shop-Reservation_Head">
                  <h3 class="c-Heading_Lv3">来店予約がおすすめです</h3>
                  <p class="shop-Reservation_Waiting">（ただ今の待ち人数:<span id="waitcount">1組</span>）</p>
                </div>
                <div class="shop-Reservation_Body">
                  <div class="shop-Reservation_Tel">
                    <p class="shop-Reservation_Tel-title">当日のご予約はお電話にて</p>
                    <div class="c-Txt_Alphanumeric shop-Reservation_Tel-number">03-5927-8106</div>
                  </div>
                  <p class="shop-Reservation_Time">予約受付時間：（全日10:00～20:00）</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">注釈テキストが入ります。注釈テキストが入ります。</p>
                </div>
              </div>
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/shop/detail/img-reservation.png" alt="">
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="shop-Detail_Contents">
        <div class="shop-Detail_Grid">
          <div>
            <h2 class="c-Heading_Lv2">ご来店の前に</h2>
            <div class="shop-Detail_Grid-body">
              <h3 class="c-Heading_Lv3">当日ご持参いただくものを、必ずご確認ください</h3>
              <div class="shop-Reservation_Btn-content-primary">
                <a href="<%= sitepath %>guide/1.html" class="c-Btn_Regular-auto shop-Reservation_Link"><span>ご来店時に必要なものを確認する</span></a>
              </div>
            </div>
          </div>
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/shop/detail/img-visit.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="l-System_Container">
    <div class="shop-Detail_Contents">
      <dl class="c-List_Dl shop-Detail_Spec">
        <div class="shop-Detail_Spec-item">
          <dt>営業時間</dt>
          <dd>
            <ul>
              <li>10:00~20:00<br>
                <span class="c-Txt_Cap">※受付時間は19:00まで</span>
              </li>
            </ul>
          </dd>
        </div>
        <div class="shop-Detail_Spec-item">
          <dt>住所</dt>
          <dd>〒171-0022<br>
            東京都豊島区南池袋1丁目19-5 Gビル南池袋01 1F
          </dd>
        </div>
        <div class="shop-Detail_Spec-item">
          <dt>対応サービス</dt>
          <dd>
            <ul class="c-Label_List">
              <li class="c-Label_Normal">SIMサイズ変更</li>
              <li class="c-Label_Normal">機種変更</li>
              <li class="c-Label_Normal">アクセサリ</li>
              <li class="c-Label_Normal">プリペイドSIM</li>
              <li class="c-Label_Normal">修理・交換</li>
              <li class="c-Label_Normal">駅近</li>
            </ul>
          </dd>
        </div>
        <div class="shop-Detail_Spec-item">
          <dt>15文字程度でタイトルが入ります</dt>
          <dd>
            店舗自由記入欄　店舗自由記入欄　店舗自由記入欄店舗自由記入欄　店舗自由記入欄　店舗自由記入欄
          </dd>
        </div>
      </dl>

      <section class="shop-Layout_Section">
        <div class="c-Infobox_Standing-border">
          <h2 class="c-Heading_Lv4 u-Adjust_Mt-8">お知らせ/ご案内</h2>
          <ul class="shop-Detail_News">
            <li><span class="shop-Detail_News-heading">受付時間につきまして</span>
              窓口やシステムの混雑により、営業時間内であっても受付を終了させて頂く場合がございます。予めご了承ください。
            </li>
            <%- include('/shop/include/_shop-detail') %>
          </ul>
        </div>
      </section>

    </div>
  </div>
</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-shop.ejs') %>

    <%- include('/include/footer/bnr/_bnr-shop.ejs') %>

    <%#- include('/faq/include/related-shop.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <li><a href="<%= sitepath %>shop/">ショップ</a><span class="c-Icon_Chevron-right"></span></li>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>


</div>
<!--#include virtual="/include/shop/detail-js.html" -->
<%- include('/include/_append-body') %>
</body>
</html>
