<% const pagetitle = "Rakuten Hand初期設定方法（製品交換の場合）" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/rakuten/", label:"Rakutenオリジナル"}, {path:"product/smartphone/rakuten-hand/", label:"Rakuten Hand"}, {path:"product/smartphone/rakuten-hand/support/", label:"Rakuten Handサポート情報"}] -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Rakuten Handの製品交換時の初期設定方法をご案内します',
    noindex: false,
    pathname: 'product/smartphone/rakuten-hand/support/exchange-setting/'
  });
%>

<%- include('/include/_common-css-v2') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<%- include('/include/_breadcrumbs', {
  type: 'head',
  pagetitle,
  directories,
}) %>

<div class="u-Adjust_Pb-64">
  <div class="l-System_Container u-Adjust_Mt-32">
    <h1 class="c-Heading_Lv1">Rakuten Hand初期設定方法（製品交換の場合）</h1>
    <div class="c-Infobox_Standing-light u-Adjust_Mt-32">
<p class="u-Adjust_Mt-8">初期設定には、Wi-Fi ネットワークに接続する必要があります。 </p>
<p class="u-Adjust_Mt-16">うまく開通しない場合は、機内モードON/OFFや、製品の再起動などをお試しください。また、モバイルデータ通信がOFFになっていないかご確認ください。</p>
    </div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">STEP1.セットアップ手順</h2>
    <ol class="c-Flow">
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">1. 電源を入れ、言語を選択し、「開始」をタップしてください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-hand/support/setting/setup01.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">2. 利用するWi-Fiネットワークを選択し、Wi-Fiに接続してください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-hand/support/setting/setup02.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">3. アップデートを確認中の画面が表示されます。画面表示が切り替わるまでそのままお待ちください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-hand/support/setting/setup03.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">4. アプリとデータのコピー画面が表示されます。データ移行を行う場合は、「次へ」をタップしてください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-hand/support/setting/setup04.png" width="300" height="" alt="" class="c-Img_Capture"></figure><p class="u-Adjust_Mt-24">コピーしない場合は「コピーしない」をタップし、「6」へお進みください。</p></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">5. データの引き継ぎ画面が表示されます。案内に従って設定を行ってください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-hand/support/setting/setup05.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">6. 以下の画面が表示されます。画面表示が切り替わるまでそのままお待ちください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-hand/support/setting/setup06.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">7. 画面の指示に従って、Googleアカウント設定、Googleサービスの同意をしてください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-hand/support/setting/setup07.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">8. Googleサービスの内容を、スクロールで最後までご確認いただき、「同意する」をタップしてください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-hand/support/setting/setup08.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">9. Googleサービスへ同意後、画面ロックの設定画面が表示されます。PINコードを入力してください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-hand/support/setting/setup09.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">10. PINコードを入力して設定します。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-hand/support/setting/setup10.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">11. ロック画面での通知表示を選択して「完了」をタップしてください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-hand/support/setting/setup11.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">12. 続いて指紋を登録します。「次へ」をタップして登録を行ってください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-hand/support/setting/setup12.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">13. Google アシスタントで音声の登録を行います。「次へ」をタップしてください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-hand/support/setting/setup13.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">14. 「同意する」をタップします。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-hand/support/setting/setup14.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">15. その他の項目の設定を行います。設定したい項目をタップして、設定を行ってください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-hand/support/setting/setup15.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">16. 位置情報収集の同意を行い、「次へ」をタップしてください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-hand/support/setting/setup16.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">17. eSIMの設定画面が表示されます。「アプリを開く」をタップしてください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-hand/support/setting/setup17.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">18. アプリが起動します。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-hand/support/setting/setup18.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">19. my 楽天モバイルの「端末の位置情報へのアクセス」と「電話の発信と管理」をそれぞれ「許可」してください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-hand/support/setting/setup19.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">20. 「更新する」をタップしてください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-hand/support/setting/setup20.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">21. my 楽天モバイル最新バージョンのアップデートへ切り替わります。<br>更新をタップし、アップデートが完了したら「開く」をタップしてください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-hand/support/setting/setup21.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
    </ol>


    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">STEP2.eSIM再発行</h2>
    <ol class="c-Flow">
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">1. my 楽天モバイルアプリを起動すると、楽天会員ログイン画面が表示されます。ユーザIDとパスワードを入力し、ログインしてください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-hand/support/setting/main-image-01.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      <p class="u-Adjust_Mt-24">Webの「<a href="<%= ecarepath %>my-rakuten-mobile" class="c-Link_Txt">my 楽天モバイル</a>」からもSIM交換のお手続きが可能です。</p>
      </li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">2. my 楽天モバイルにログイン後、以下の画面が表示されます。「契約プラン」をタップしてください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/common/img-home-230609.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">3. メニューが表示されます。「SIM交換」をタップしてください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-hand/support/setting/main-image-04.png?211019" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">4. SIM再発行の画面が表示されます。「その他（機種変更・故障など）」「eSIM」をタップして「SIMの再発行を申請する」ボタンをタップしてください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/upgrade/main-image-06.png?220728" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">5. お申し込み内容の確認画面が表示されます。「確定する」ボタンをタップしてください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/common/img-esim-230609.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
    </ol>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">STEP3.開通手続き</h2>

    <ol class="c-Flow">
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">1. 申込番号の画面が表示されます。<br>「楽天回線の開通手続きを行う」ボタンをタップしてください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-hand/support/setting/main-image-41.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">2. 「my 楽天モバイル モバイルネットワークに接続します」と表示されます。「接続」をタップしてください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-hand/support/setting/main-image-42.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">3. 画面が切り替わるまでそのままでお待ちいただくと、「開通手続きが完了しました」と表示されます。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-hand/support/setting/main-image-43.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">4. しばらく待って、アンテナマークが表示されたら完了です。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-hand/support/setting/main-image-44.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      </ol>

    <p class="u-Adjust_Mt-32">以上で設定は完了です。</p>
    <div class="c-Theme_Light u-Adjust_Mt-32">
      <h3 class="c-Heading_Lv3">インターネットに接続されているか、ご確認ください。</h3>
    <p class="u-Adjust_Mt-16">しばらくお待ちいただくと、インターネットがご利用いただけます。<br>
ブラウザアプリなどをご利用いただき、Webページが表示されるかご確認ください。<br>
うまく開通しない場合は、Wi-Fiをオフにする、もしくは機内モードON/OFFや製品の再起動などをお試しください。<br>
また、モバイルデータ通信がOFFになっていないかご確認ください。</p>
    </div>


  </div>
</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">
    <%- include('/include/footer/related/_related-product-v2.ejs') %>
  </div>
  <div class="l-System_Container">
    <%- include('/include/_breadcrumbs', {
      type: 'foot',
      pagetitle,
      directories,
    }) %>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
