<% const pagetitle = "スマホ交換保証プラス（お申し込み方法・ご利用方法）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/plan/service/", label:"オプションサービス"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'スマホ交換保証プラス（楽天モバイル）のお申し込み方法・設定方法・ご利用方法はこちら。スマートフォン（スマホ）やモバイルルーターの故障・紛失時に、最短で当日に新品同等の同一機種を交換品としてお届けする安心のサービスです。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="l-System_Container u-Adjust_Mt-8">
  <p class="c-Txt_Cap u-Adjust_Align-right">※表記の金額はすべて税込です。</p>
</div>
<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container u-Adjust_Pb-32">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

    <p class="u-Adjust_Mt-24">「スマホ交換保証プラス」のお申し込みから故障した際の交換方法までの流れと、サービス内容の詳細をご案内いたします。</p>

    <div class="u-Adjust_Mt-24">
      <a href="<%= sitepath %>service/replacement-warranty-plus/" class="c-Btn_Regular"><span>特長・サービス内容を見る</span></a>
    </div>
  </div>

  <div class="c-Theme-Light">
    <div class="l-System_Container ">
      <ul class="<%= nameSpace %>-Link_Nav">
        <li>
          <a href="#howto-apply" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span><span>お申し込み方法</span></a>
        </li>
        <li>
          <a href="#howto-use" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span><span>ご利用の流れ</span></a>
        </li>
        <li>
          <a href="#howto-preparation" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span><span>本サービス利用前の事前準備</span></a>
        </li>
        <li>
          <a href="#join-status" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span><span>加入状況の確認方法</span></a>
        </li>
        <li>
          <a href="#howto-guarantee" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span><span>保証対象外となるケース一覧</span></a>
        </li>
        <li>
          <a href="#howto-note" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span><span>注意事項</span></a>
        </li>
        <li>
          <a href="#howto-cancellation" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span><span>ご解約方法</span></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="l-System_Container">
    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="howto-apply">お申し込み方法</h2>
    <p class="c-Txt_Emp-02 u-Adjust_Mt-8">スマートフォンやモバイルルーター購入時のみお申し込みが可能です。</p>
    <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-16">
      <li><a href="#new-application" class="js-scroll c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>新規購入時のお申し込み方法</a></li>
      <li><a href="#model-change" class="js-scroll c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>機種変更時のお申し込み方法</a></li>
    </ul>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-32" id="new-application">新規購入時のお申し込み方法</h3>

    <div class="u-Adjust_Mt-24">
      <ol class="c-Flow">
        <li>
          <h4 class="c-Heading_Lv4">1. my 楽天モバイル「スマートフォン・その他」画面を開く</h4>
          <div class="u-Adjust_Mt-16">
            <a href="https://portal.mobile.rakuten.co.jp/smartphones" class="c-Btn_Regular"><span>故障受付方法の詳細を見る</span></a>
          </div>
        </li>
        <li>
          <h4 class="c-Heading_Lv4">2. 購入する製品を選択する</h4>
          <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/replacement-warranty-plus/img-apply01.png" alt="" class="c-Img_Capture">
          </div>
        </li>
        <li>
          <h4 class="c-Heading_Lv4">3. 希望内容を選択し、「カートに追加」をタップする</h4>
          <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/replacement-warranty-plus/img-apply02.png" alt="" class="c-Img_Capture">
          </div>
        </li>
        <li>
          <h4 class="c-Heading_Lv4">4. 製品オプション・アクセサリから「スマホ交換保証プラス」が選択済みであることを確認する</h4>
          <p class="u-Adjust_Mt-16">製品をカートに追加後、「製品オプション・アクセサリ」画面が表示されます。</p>
          <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/replacement-warranty-plus/img-apply03.png" alt="" class="c-Img_Capture">
          </div>
        </li>
        <li>
          <h4 class="c-Heading_Lv4">5. 画面を下にスクロールし、「この内容で申し込む」をタップし、契約する楽天IDでログインする</h4>
          <p class="u-Adjust_Mt-16 c-Txt_Cap">
            ※ログインが行えない場合は「<a href="/faq/detail/00001207/">[my 楽天モバイル]ログインできません</a>」をご確認ください。<br>
            ※ログイン画面が表示されず手順6の画面に進む場合があります。
          </p>
          <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/replacement-warranty-plus/img-apply04.png" alt="" class="c-Img_Capture">
          </div>
        </li>
        <li>
          <h4 class="c-Heading_Lv4">6. 案内に沿って契約内容を登録し、お申し込みを完了する</h4>
          <p class="u-Adjust_Mt-16">契約者情報や受け取り方法、お支払い方法を登録後、「申し込みを完了する」を選択してください。</p>
          <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/replacement-warranty-plus/img-apply05.png" alt="" class="c-Img_Capture">
          </div>
        </li>
      </ol>
      <p class="u-Adjust_Mt-16">以上でお申し込みは完了です。</p>
    </div>

    <h3 id="model-change" class="c-Heading_Lv3 u-Adjust_Mt-48">機種変更時のお申し込み方法</h3>
    <p class="u-Adjust_Mt-8">機種変更時に、my 楽天モバイルでスマホ交換保証プラスをお申し込みいただけます。</p>

    <div class="c-Tab js-Tab u-Adjust_Mt-24">
      <ul class="c-Tab_Items" role="tablist">
          <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">Webで申し込む</li>
          <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">アプリで申し込む</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
        <ol class="c-Flow u-Adjust_Mt-40">
          <li>
            <h4 class="c-Heading_Lv4">1. my 楽天モバイル「スマートフォン・その他」画面を開く</h4>
            <a href="https://portal.mobile.rakuten.co.jp/smartphones" class="c-Btn_Regular u-Adjust_Mt-16"><span>スマートフォン・その他へ進む</span></a>
          </li>

          <li>
            <h4 class="c-Heading_Lv4">2. 希望の製品を選択する</h4>
            <p class="u-Adjust_Mt-16">機種変更したい製品を決め、「製品を選ぶ」を選択します。</p>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/replacement-warranty-plus/img-apply01.png" alt="" class="c-Img_Capture">
            </div>
          </li>

          <li>
            <h4 class="c-Heading_Lv4">3. 希望内容を選択し、「カートに追加する」をタップする</h4>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/replacement-warranty-plus/img-apply02.png" alt="" class="c-Img_Capture">
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">4. 製品オプション・アクセサリから「スマホ交換保証プラス」が選択済みであることを確認する</h4>
            <p class="u-Adjust_Mt-16">製品をカートに追加後、「製品オプション・アクセサリ」画面が表示されます。</p>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/replacement-warranty-plus/img-apply03.png" alt="" class="c-Img_Capture">
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">5. 画面を下にスクロールし、「この内容で申し込む」をタップし、契約する楽天IDでログインする</h4>
            <p class="c-Txt_Cap u-Adjust_Mt-16">
              ※ログインが行えない場合は「<a href="/faq/detail/00001207/">[my 楽天モバイル]ログインできません</a>」をご確認ください。<br>
              ※ログイン画面が表示されず手順6の画面に進む場合があります。
            </p>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/replacement-warranty-plus/img-apply04.png" alt="" class="c-Img_Capture">
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">6. 案内に沿って契約内容を登録し、お申し込みを完了する</h4>
            <p class="u-Adjust_Mt-16">契約者情報の確認、本人確認書類の提出方法・支払い方法を選択し、「申し込む」ボタンをタップしてください。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8 c-Txt_Emp-02">
              ※プランの追加契約をしないよう、ご注意ください。
            </p>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/replacement-warranty-plus/img-apply06.png" alt="" class="c-Img_Capture">
            </div>
          </li>
        </ol>
      </div>
      <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
        <ol class="c-Flow u-Adjust_Mt-40">
          <li>
            <h4 class="c-Heading_Lv4">1. my 楽天モバイルを起動する</h4>
            <div class="c-Box_App u-Adjust_Mt-24">
              <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt=""></div>
              <div class="c-Box_App-txt">
                <p class="c-Box_App-ttl">my 楽天モバイル</p>
                <p class="u-Adjust_Mt-16">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                <ul class="c-Box_App-link u-Adjust_Mt-16">
                  <li><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img
                        src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" height="44" alt=""></a></li>
                  <li><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img
                        src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></li>
                  <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">2. 右上メニュー「申し込み」から「スマートフォン・その他」を選択する</h4>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/replacement-warranty-plus/img-app01.png" alt="" class="c-Img_Capture">
            </div>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/replacement-warranty-plus/img-app02.png" alt="" class="c-Img_Capture">
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">3. 希望の製品を選択する</h4>
            <p class="u-Adjust_Mt-16">機種変更したい製品を決め、「製品を選ぶ」を選択します。</p>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img class="u-Adjust_Mt-8 c-Img_Capture" src="<%= sitepath %>assets/img/guide/replacement-warranty-plus/img-apply01.png" alt="" >
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">4. 希望内容を選択し、「カートに追加する」をタップする</h4>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/replacement-warranty-plus/img-apply02.png" alt="" class="c-Img_Capture">
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">5. 製品オプション・アクセサリから「スマホ交換保証プラス」が選択済みであることを確認する</h4>
            <p class="u-Adjust_Mt-16">製品をカートに追加後、「製品オプション・アクセサリ」画面が表示されます。</p>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/replacement-warranty-plus/img-apply03.png" alt="" class="c-Img_Capture">
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">6. 案内に沿って契約内容を登録し、お申し込みを完了する</h4>
            <p class="u-Adjust_Mt-16">契約者情報の確認、本人確認書類の提出方法・支払い方法を選択し、「申し込む」ボタンをタップしてください。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8 c-Txt_Emp-02">
              ※プランの追加契約をしないよう、ご注意ください。
            </p>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/replacement-warranty-plus/img-apply06.png" alt="" class="c-Img_Capture">
            </div>
          </li>
        </ol>
      </div>
    </div>
    <p class="u-Adjust_Mt-24">以上でお申し込みは完了です。</p>


    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="howto-use">ご利用の流れ</h2>
    <div class="u-Adjust_Mt-24">
      <ol class="c-Flow">
        <li>
          <h3 class="c-Heading_Lv3">1. オプションサービスを申し込む</h3>
          <div class="l-Media_Grid u-Adjust_Mt-16">
            <div class="l-Media_Image c-Flow_Image">
              <img src="<%= sitepath %>assets/img/guide/replacement-warranty-sim/img-illustration01.png" alt="" width="311">
            </div>
            <div>
              <a href="#howto-apply" class="c-Btn_Regular u-Adjust_Mt-16"><span>申し込み方法の詳細を見る</span></a>
            </div>
          </div>
        </li>
        <li>
          <h3 class="c-Heading_Lv3">2. 製品の故障・破損時に、故障受付をする</h3>
          <div class="l-Media_Grid u-Adjust_Mt-16">

            <div class="l-Media_Image c-Flow_Image">
              <img src="<%= sitepath %>assets/img/guide/replacement-warranty-sim/img-illustration03.png" alt="" class="" width="311">
            </div>
            <div>
              <p>故障・破損発生日から30日以内に「<a href="https://www.protection.device-service.mobile.rakuten.net/" class="c-Link_Txt-inline-icon" target="_blank">故障受付サイト<span class="c-Icon_New-window-l"></span></a>」より交換品の申し込みをしてください。</p>
              <div class="u-Adjust_Mt-24">
                <a href="<%= sitepath %>guide/replacement-warranty-plus/replacement-reception/" class="c-Btn_Regular"><span>故障受付方法の詳細を見る</span></a>
              </div>
            </div>
          </div>
        </li>
        <li>
          <h3 class="c-Heading_Lv3">3. 交換品受領後、故障機を送付する</h3>
          <div class="l-Media_Grid u-Adjust_Mt-16">

            <div class="l-Media_Image c-Flow_Image">
              <img src="<%= sitepath %>assets/img/guide/replacement-warranty-sim/img-illustration04.png" alt="" width="311">
            </div>
            <div>
              <p>届いた交換品を確認し、受領後14日以内に同梱されている返送キットを使用し、故障機をお送りください。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-16">
                ※交換機がお手元に届き次第速やかに、故障機を返却してください。交換品の受領後14日を経過しても故障機の返却がない場合は、違約金として44,000円を別途請求させていただきます（盗難紛失に遭われた場合を除く）。
              </p>
              <p class="u-Adjust_Mt-24">
                <a href="<%= sitepath %>guide/replacement-warranty-plus/send/" class="c-Btn_Regular"><span>故障機の送付方法の詳細を見る</span></a>
              </p>
            </div>
          </div>
        </li>
        <li>
          <h3 class="c-Heading_Lv3">4. 自己負担金（免責金額）を支払う</h3>
          <div class="l-Media_Grid u-Adjust_Mt-16">

            <div class="l-Media_Image c-Flow_Image">
              <img src="<%= sitepath %>assets/img/guide/replacement-warranty-sim/img-illustration05.png" alt="" width="311">
            </div>
            <div>
              <p>交換品を発送した月の翌月の月額料金と一緒に、一律6,600円をご請求させていただきます。</p>
            </div>
          </div>
        </li>
      </ol>
    </div>

    <h2 id="howto-preparation" class="c-Heading_Lv2 u-Adjust_Mt-40">本サービス利用前の事前準備</h2>
    <dl class="c-Dl_Origin u-Adjust_Mt-24">
      <div>
        <dt>バックアップについて</dt>
        <dd>
          <ul class="c-List_Text-disc">
            <li>事前に保証対象製品のバックアップ等のデータ保全の対応を行ってください。</li>
            <li>楽天モバイルは、保証対象製品に関するデータ保全のためのバックアッ プ等の保全代行やデータ保全の補助を行いません。故障機に保存されているデータは事前のバックアップをお願いします。</li>
          </ul>
        </dd>
      </div>
      <div>
        <dt>製品内データについて</dt>
        <dd>
          <ul class="c-List_Text-disc">
            <li>楽天モバイルは、保証対象製品内のデータの変化・消失等に関して一切の責任を負いません。</li>
            <li>楽天モバイルは、本サービスの提供の際に、保証対象製品のデータの初期化を必ず行いますがデータについて一切の責任を負いません。</li>
          </ul>
        </dd>
      </div>
      <div>
        <dt>セキュリティについて</dt>
        <dd>
          <ul class="c-List_Text-disc">
            <li>保証対象製品に暗証番号・PIN ロックなどの何らかのロックを行っている場合はロックを解除し、またその他のセキュリティサービスに加入している場合は、当該セキュリティサービスを解除後、本サービスをご利用ください。</li>
            <li>セキュリティを解除できない場合、楽天モバイルによる本サービスは提供できません。</li>
          </ul>
        </dd>
      </div>
      <div>
        <dt>アクセサリー等の付属品の取り外しについて</dt>
        <dd>保証対象製品の付属のカバー、ストラップ、画面保護フィルム等について、可能な限り取り外した上で、本サービスを利用してください。</dd>
        </div>
        <div>
          <dt>交換サービスについて</dt>
          <dd>
            <ul class="c-List_Text-disc">
              <li>保証対象製品と同一機種（同一機種が在庫にない場合は、同等の楽天モバイルが指定する機種の中からご選択いただき、ご選択いただいた機種の交換品）と交換いたします。楽天モバイルが指定する交換品は、予告なく変更される場合がございます。なお、楽天モバイルの裁量により、故障製品等の回収後に交換品を提供する場合もございます。</li>
              <li>microSIM対応製品をご利用の場合、nanoSIM対応製品へ交換いたします。その際は、my 楽天モバイルでSIM交換手続きが必要となります。</li>
              <li>交換品として、メーカー・型番・色など、契約者のご希望に添えない場合もございま すので、あらかじめご了承ください。</li>
              <li>交換品は、楽天モバイルの裁量でリファービッシュ品（返品機器、初期不良品等をメーカーまたはメーカー認定の第三者が修理調整し、性能及び信頼性において新品と同等の品質と確認 された機能整備済製品）を使用いたします。従って、プリインストールされたアプリケーション等についても、交換の対象外とさせていただきます。</li>
              <li>本サービスが提供された場合、楽天モバイルに提出した故障製品等につきましては、所有権を放棄したものとし、楽天モバイルが管理または処分いたします。楽天モバイルに故障製品等を提出する際は、当該故障製品等に関するデータの消去を行ってください。</li>
              <li>楽天モバイルから交換品を受領した後、交換品に故障がないことを確認してください。交換品に故障が確認された場合、交換品受領後14日以内に「 <a href="<%= sitepath %>faq/detail/00001180/">スマホ交換保証サポート（故障受付）</a>」へご連絡ください。<br>
              ご連絡がない場合は、交換品に故障がないものとみなします。<br>
              受領後15日以降は再度交換費用6,600円（税込）が発生いたします。</li>
              <li>盗難紛失による交換について、楽天回線をご契約中の方は、交換品とともにご契約中の携帯電話番号を登録したSIMカードを再発行します。交換品とSIMカードの発送時点で、それまでご利用していたSIMカードは利用できなくなります。</li>
              <li>本サービスの提供は1契約につき、年間3回までとします。うち、盗難紛失による本サービスの提供は1契約につき、年間2回までとします。<br>
              本サービスのお申し込み時において、過去1年間にすでに指定の回数本サービスを受けられている場合は、本サービスをご利用いただくことができません。</li>
            </ul>
          </dd>
        </div>
        <div>
          <dt>【有料サービス】4時間スピード配送</dt>
          <dd>本サービスによる交換品お申込み完了から4時間以内に配送する「4時間スピード配送」をご利用いただけます。<br>
            1回の配送につき3,300円の利用金をお支払いいただきます。
            <ul class="c-Txt_Cap u-Adjust_Mt-24">
              <li><span>※</span>一部地域のみ対象です。</li>
              <li><span>※</span>本サービスお申し込み時のみ選択可能です。</li>
              <li><span>※</span>天災・交通状況・その他やむを得ない事情により4時間以内に配送できない場合がございます。</li>
            </ul>
          </dd>
        </div>
        <div>
          <dt>サービスのキャンセルについて</dt>
          <dd>交換品の入った梱包を開封した時点で、本サービスの利用請求を原則撤回できないものいたします。なお、撤回により、保証対象製品を返送する際、その費用は契約者負担とさせていただきます。</dd>
        </div>
        <div>
          <dt>サービス提供後の対応について</dt>
          <dd>楽天モバイルの責めに帰すべき事由によらず、交換品の配送が完了しない場合（楽天モバイルが発送した日から14日以内に該当製品を契約者が受領しない場合）は、問い合わせの連絡を行います。</dd>
        </div>
    </dl>

    <h2 id="join-status" class="c-Heading_Lv2 u-Adjust_Mt-32">加入状況の確認方法</h2>
    <p class="u-Adjust_Mt-16">スマホ交換保証プラスの加入日・月額利用料は、my 楽天モバイルよりご確認いただけます。</p>
    <a href="/guide/change-options/#option_service" class="c-Btn_Regular u-Adjust_Mt-24"><span>加入状況の確認方法を見る</span></a>

    <h2 id="howto-guarantee" class="c-Heading_Lv2 u-Adjust_Mt-40">保証対象外となるケース一覧</h2>
    <p class="u-Adjust_Mt-16">
      以下のような場合、本サービスの保証対象外とさせていただきます。
    </p>

    <ul class="c-List_Text-disc u-Adjust_Mt-16">
      <li>契約者登録情報、保証申請書または資料に虚偽または不実の内容が含まれていた場合</li>
      <li>過去または現在において、楽天モバイルが提供するサービスを利用するにあたり当該サービスに係る規約、ガイドライン等に反する行為その他不正な行為を行っていた場合</li>
      <li>本サービスの利用料を支払っていない場合</li>
      <li>楽天モバイル所定の申請書および資料を所定の期間内に提出しないなど、事故等の状況の調査に協力しない場合</li>
      <li>交換品の送付先として日本国外の住所を指定した場合</li>
      <li>公序良俗、信義誠実の原則に反する行為があった場合</li>
      <li>不正請求の疑義があると判断した場合</li>
      <li>戦争・天変地異（地震、津波、洪水）等に基づき生じた場合又はそれらに起因する著しい社会秩序の混乱の際に生じた場合</li>
      <li>対象事故が製品の価値、性能、数量その他保証対象製品の内容に関する錯誤等に起因する場合</li>
      <li>対象事故が、契約者または同居の親族等の故意または重過失に起因する場合</li>
      <li>対象事故の原因が製品の欠陥やさび、変色または虫食いなどである場合</li>
      <li>製品の機能に直接関係のない汚損、擦損、塗料の剥落その他外形上の損傷に起因する場合</li>
      <li>本サービスの利用の請求を受けた製品の識別番号が、契約番号に紐づくものと一致しない契約</li>
      <li>対象事故が昆虫等に起因する保証対象製品の故障や不具合</li>
      <li>対象事故が、バッテリーの消耗が早い等、バッテリーおよび製品本体以外の付属品に関する場合</li>
      <li>対象事故が水濡れまたは水没の事故のみで、その事故により製品の故障が発生していない場合</li>
      <li>対象事故が製品の使用方法を誤ったことに起因する場合</li>
      <li>製品が改造されていた場合</li>
      <li>契約者が、楽天モバイルの製品または通信利用料金を、楽天モバイルとの契約に従って支払わない場合</li>
      <li>対象事故が契約者がチャージしていたすべての電子マネー等の消失の場合</li>
      <li>保証対象製品について、メーカー以外の業者及び個人による分解等の形跡が認められる場合</li>
      <li>契約終了後（解約および解除を含む）30日以内に本サービス提供の請求がない場合、もしくは契約終了後に事故が発生した場合</li>
      <li>対象事故がOSのアップデートおよび更新作業による不具合、アプリケーション等ソフトウェアの不具合、初期化に関する不具合、SIMの不具合の場合</li>
      <li>対象事故が、メーカーのリコールの対象となる特定の機器、モデルに合致する場合</li>
      <li>対象事故が契約者の闘争行為または犯罪行為に起因する場合</li>
      <li>対象事故が差押え、収容、没収、破壊等国または公権力の行使に起因する場合</li>
      <li>対象事故が放射能汚染や核燃料物質に起因する場合</li>
      <li>対象事故の原因が環境汚染（大気汚染、土壌汚染、地盤沈下、水質汚染等）が原因の場合</li>
      <li>契約者が麻薬、大麻、あへん、覚醒剤またはシンナー等の影響を受けている場合およびその恐れがある状態で対象事故が発生した場合</li>
      <li>契約者に対する刑の執行の場合</li>
      <li>契約者が被った身体的な傷病、障害、精神的ショック、精神的苦痛または精神障害に起因して対象事故が発生した場合</li>
      <li>契約者が民法（明治29年法律第89号）第713条（責任能力）に規定する責任 無能力者、同法第８条（成年被後見人及び成年後見人）に規定する成年被後見人、 同法第12条（被保佐人及び保佐人）に規定する被保佐人または同法第16条（被 補助人及び補助人）に規定する被補助人である場合</li>
      <li>契約者等が反社会的勢力※に該当すると認められる場合</li>
    </ul>

    <ul class="c-Txt_Cap u-Adjust_Mt-24">
      <li><span>※</span>暴力団、暴力団員（暴力団員ではなくなった日から5年を経過していない者を含みます）、暴力団準構成員、暴力団関係企業その他の反社会的勢力をいいます。</li>
    </ul>

    <h2 id="howto-note" class="c-Heading_Lv2 u-Adjust_Mt-40">注意事項</h2>
    <ul class="c-List_Text-disc u-Adjust_Mt-16">
      <li>月途中で加入または解約された場合、月額利用料が日割りとなります。</li>
      <li>本サービスは製品に紐づく契約であり、電話番号の解約後も継続してご利用いただけます。電話番号の解約後も引き続き請求が発生しますので、不要の場合は「<a href="<%= ecarepath %>my-rakuten-mobile" class="c-Link_Txt">my 楽天モバイル</a>」より、電話番号の解約とは別に解約申請をお願いいたします。</li>
    </ul>

    <h2 id="howto-cancellation" class="c-Heading_Lv2 u-Adjust_Mt-40">ご解約方法</h2>
    <p class="u-Adjust_Mt-16">
      「スマホ交換保証プラス」の解約方法については、以下のページをご確認ください。
    </p>
    <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/cancellation/?l-id=guide_replacement-warranty-plus_guide_cancellation_plan05#plan05" class="c-Link_Txt-inline">製品保証オプションサービスの解約方法<span class="c-Icon_Chevron-right"></span></a></p>

    <h2 id="inquiry" class="c-Heading_Lv2 u-Adjust_Mt-40">お問い合わせ</h2>
    <p class="u-Adjust_Mt-16">
      交換品の不備や、故障機の返送に関して問題が発生した場合は、my 楽天モバイルで「スマホ交換保証プラス」ご契約者様のみ案内される窓口までご連絡ください。
    </p>
    <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>faq/detail/00001180/" class="c-Link_Txt-inline">窓口の表示方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>

    <div class="c-Theme-Light u-Adjust_Mt-40">
      <h4 class="c-Heading_Lv5">スマホ交換保証サポート（故障受付）</h4>
      <p class="u-Adjust_Mt-24">
        電話番号：お申し込み後、「<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile" class="c-Link_Txt">my 楽天モバイル</a>」にてご確認ください。<br>
        受付時間：09：00～20：00 (年中無休)
      </p>
    </div>

    <div class="u-Adjust_Pt-40">
      <div>
        <a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップにもどる</span></a>
      </div>
      <div class="u-Adjust_Mt-16">
        <a href="<%= rootpath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a>
      </div>
    </div>
  </div>
  </div>




<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">



    <%- include('/include/footer/bnr/_bnr.ejs') %>


  </div>
  <div class="l-System_Container">
  <div class="c-Breadcrumbs_Foot">
    <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
  </div>
</div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>



</body>
</html>
