<%_
  /*
    * '/assets/css/inc/i-product-head.css'を読み込む
    * 割引額：12,000円
  */
  const namespace = 'i-Product-head'

  const pcBnr = lid === 'product_xperia-5m4_bnr_campaign_start-point' ? 'bnr-tokutoku-slim-32000-1032-75-231101' : 'bnr-tokutoku-slim-12000-1032-75-231101'
  let spBnr = lid === 'product_xperia-5m4_bnr_campaign_start-point' ? 'bnr-tokutoku-slim-32000-343-90-231101' : 'bnr-tokutoku-slim-12000-343-90-231101'
  if (lid !== 'product_xperia-5m4_bnr_campaign_start-point' && isDark) {
    spBnr = 'bnr-tokutoku-slim-9000-343-90-is-dark'
  }

  const alt = lid === 'product_xperia-5m4_bnr_campaign_start-point' ? 'スマホトク得乗り換えキャンペーン！最大32,000円相当分おトク！' : 'スマホトク得乗り換えキャンペーン！最大12,000円相当分おトク！'
_%>
<% if (typeof isShow === 'undefined' || isShow) { %>
  <div class="<%= namespace %>_Bnr">
    <a href="<%= sitepath %>campaign/start-point/?l-id=<%= lid %>" class="c-Banner_Hover-act">
      <picture>
        <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/inc/product/<%= spBnr %>.png" width="686" height="180">
        <img src="<%= sitepath %>assets/img/inc/product/<%= pcBnr %>.png" width="1032" height="75" alt="<%= alt %>">
      </picture>
    </a>
  </div>
<% } %>
