<div class="u-Adjust_Align-center">
  <a href="<%= sitepath %>campaign/shop-limited-device/?l-id=<%= lid %>" class="c-Banner_Hover-act">
    <picture>
      <source srcset="<%= sitepath %>assets/img/inc/product/bnr-shop-only-limited-device-<%= directory %>-328-216-230510.png" media="(max-width:768px)" width="656" height="432">
      <img src="<%= sitepath %>assets/img/inc/product/bnr-shop-only-limited-device-<%= directory %>-1032-186-230510.png" alt="楽天モバイルショップ限定 楽天モバイルへ初めてお申し込み ＆ 対象スマホご購入で最大<%= discount %>円相当分おトク！" width="1032" height="186">
    </picture>
  </a>
</div>
