<%_
  /*
    * '/assets/css/inc/i-product-head.css'を読み込む
    * 割引額：13,000円
  */
  const namespace = 'i-Product-head'
  const spBnr = isDark ? 'bnr-tokutoku-slim-13000-343-90-is-dark' : 'bnr-tokutoku-slim-13000-343-90'
_%>
<% if (typeof isShow === 'undefined' || isShow) { %>
  <div class="<%= namespace %>_Bnr u-Adjust_Align-center">
    <a href="<%= sitepath %>campaign/start-point/?l-id=<%= lid %>" class="c-Banner_Hover-act">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/inc/product/bnr-tokutoku-slim-12000-343-90-240315.png" width="686" height="180">
        <img src="<%= sitepath %>assets/img/inc/product/bnr-tokutoku-slim-12000-1032-75-240315.png" width="1032" height="75" alt="楽天モバイルへ初めてお申し込み＋他社から電話番号そのまま乗り換え＋対象製品ご購入で最大12,000ポイント還元！他社から乗り換え以外の方でも最大8,000ポイント還元中！">
      </picture>
    </a>
  </div>
<% } %>
