<%_
  /*
    * '/assets/css/inc/i-product-head.css'を読み込む
    * 割引額：14,500円
  */
  const namespace = 'i-Product-head'
  const spBnr = isDark ? 'bnr-tokutoku-slim-343-90-is-dark' : 'bnr-tokutoku-slim-14500-343-90'
_%>
<div class="<%= namespace %>_Bnr">
  <a href="<%= sitepath %>campaign/start-point/?l-id=<%= lid %>" class="c-Banner_Hover-act">
    <picture>
      <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/inc/product/<%= spBnr %>-230710.png" width="686" height="180">
      <img src="<%= sitepath %>assets/img/inc/product/bnr-tokutoku-slim-14500-1032-75-230710.png" width="1032" height="75" alt="スマホトク得乗り換えキャンペーン！最大14,500円相当分おトク！">
    </picture>
  </a>
</div>
