<% const pagetitle = "Rakuten Hand" -%>
<% const directory = "rakuten-hand" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/rakuten/", label:"Rakutenオリジナル"}] -%>
<% const namespace = "product-Rakuten-hand" -%>
<% const theme = "Dark" -%>
<%# const theme = "Light" -%>
<% const customtheme = "Rakuten-1" -%>
<% const point = 3000 -%>
<%# const pointModel = 1000 -%>
<%# price-detail.ejsファイルに変数の説明の記載があります -%>
<% const priceDetailConfig = {
  theme: customtheme,
  addAnnotation: '※3',
  price: 12980,
  //priceBefore: 20000,
  // pointBackPriceModel: pointModel,
  pointBackPrice: point,
  // pointModelText: `<span>製品購入で<span class="product-detail-Price_Pointback-num">${pointModel.toLocaleString()}</span>ポイント<sub>※1</sub></span>`,
  pointBackTextA: `<span>最大<span class="product-detail-Price_Pointback-num">${point.toLocaleString()}</span>円相当のポイント還元<sub>※1</sub></span>`,
  // pointEntryText: `さらに、エントリー＆抽選で<span class="product-detail-Price_Pointback-num">2,000</span>ポイント<sub>※2</sub>`,
  division24: 540,
  // division24Before: ,
  division48: 270,
  // division48Before: ,
  tradeinProductName: 'Rakuten BIG',
  optionPattern: 'tradein',
  maxTradeinPrice: 19440,
  lid: directory,
  capacity: 128,
  pointAppealBtnCapNo: 3,
  carrier: '楽天モバイル',
  discountPrice: 9979,
  mnp: false,
}
-%>
<% const tradeinUrl = sitepath + "service/tradein/?l-id=product_" + directory + "_cpn_02" -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: "Rakuten Hand（楽天モバイル）のスペック・特徴などをご確認いただけます。楽天モバイル対応Android製品。オンライン簡単手続きが便利！",
    noindex: false,
    pathname: filepath,
    browseragent: true
  });
%>
<%- include('/include/_common-css-v2') %>
<%- include('/include/product/_category-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/<%= directory %>/product-<%= directory %>.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/smartphone/purchase-modal-drilldown.css?20240424">
<%- include('/include/_append-head') %>
<link rel="stylesheet" href="https://unpkg.com/image-compare-viewer/dist/image-compare-viewer.min.css?20240424">
<link rel="stylesheet" href="/assets/css/product/product-history.css?20240424">
</head>
<body>
<%
/* insert Modal /*
/*
  ストア遷移 → 'bundle'
  在庫あり → 'stock'
  在庫切れ → 'soldout'
  入荷待ち → 'backorder'
*/
const bundleFlag = 'bundle';
const modalInfo = [
  {
    question: {
      title: '色を選択',
      warning: '購入する製品の色を選択してください。',
      type: 'color',
      value: 'color',
      select: [
        {
          'id': 'black',
          'name': 'ブラック',
          'sub': '',
          'color': '#222',
          'checked': false,
          'disabled': false,
        },
        {
          'id': 'white',
          'name': 'ホワイト',
          'sub': '',
          'color': '#fff',
          'checked': false,
          'disabled': false,
        },
        {
          'id': 'red',
          'name': 'クリムゾンレッド',
          'sub': '',
          'color': '#BF0000',
          'checked': false,
          'disabled': false,
        }
      ],
      upperinfo: ``,
      lowerinfo: ``
    },
  },
  {
    question: {
      title: 'SIMタイプ・プラン（Rakuten UN-LIMIT VI）を選択',
      warning: 'プランを選択してください。',
      type: 'radio',
      value: 'plan',
      select: [
        {
          'id': 'sim',
          'name': 'eSIM＋プランで申し込む',
          'sub': '',
          'checked': false,
          'disabled': false,
          'soldout' : '',
        },
        {
          'id': 'nosim',
          'name': 'プランを申し込まない（製品のみ購入）',
          'sub': '',
          'checked': false,
          'disabled': false,
          'soldout' : '',
        },
      ],
      upperinfo: ``,
      lowerinfo: `
        <p class="c-Txt_Cap">※製品のみ購入の場合、SIM購入（プラン選択）は不要です。</p>
      `
    }
  },
  {
    question: {
      title: 'ケースを購入',
      warning: 'ケースを購入するか選択してください。',
      type: 'radio',
      value: 'case',
      select: [
        {
          'id': 'note',
          'name': '手帳型ケース：1,480円（税込）',
          'sub': '',
          'checked': false,
          'disabled': false,
          'soldout' : '',
        },
        {
          'id': 'nocase',
          'name': 'ケースを購入しない',
          'sub': '',
          'checked': false,
          'disabled': false,
          'soldout' : '',
        },
      ],
      upperinfo: ``,
      lowerinfo: `
        <p class="c-Txt_Emp-02">※Rakuten Hand製品単体の販売は現在入荷待ちとなっており、手帳型ケースとのセット販売のみ行っております。</p>
        <p class="c-Txt_Emp-02">※Rakuten Hand製品単体の販売は、3月中旬以降に再開予定です。</p>
        <p class="c-Txt_Cap">※手帳型ケースはRakuten Handと同色のケースとなります。</p>
      `
    }
  },
  {
    question: {
      title: 'スマホ交換保証プラスを選択',
      warning: 'スマホ交換保証プラスを選択してください。',
      type: 'radio',
      value: 'warranty',
      select: [
        {
          'id': 'warranty',
          'name': '申し込む：715円／月（税込）',
          'sub': '',
          'checked': true,
          'disabled': false,
          'soldout' : '',
        },
        {
          'id': 'nowarranty',
          'name': '申し込まない',
          'sub': '',
          'checked': false,
          'disabled': false,
          'soldout' : '',
        },
      ],
      upperinfo: `
        <p class="c-Txt_Emp-02">加入できるのは購入時のみ</p>
        <p class="u-Adjust_Mt-8">楽天モバイルで購入したスマートフォンやモバイルルーターの故障・紛失時に、最短で当日<sub>※</sub>に新品同等の同一機種を交換品としてお届けします。</p>
        <small>※対象地域：東京／神奈川／千葉／埼玉（12時までに受付の場合）</small>
        <p>サービスの詳細は、こちらの<a href="/service/replacement-warranty-plus/">スマホ交換保証プラス</a>をご参照ください。</p>
      `,
      lowerinfo: ``
    }
  }
]
%>
<%_ if (bundleFlag === 'stock') { _%>
<script>
const urlList = {
  'black_sim_note_warranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id=9158206969665397225:1&id_d=9159546415165853175:1',
  'black_sim_note_nowarranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id=9158206969665397225:1&id_d=9159546415165853175:0',
  'black_sim_nocase_warranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id=9158206969665397225:1&id_d=9158806889865638191:1',
  'black_sim_nocase_nowarranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id=9158206969665397225:1&id_d=9158806889865638191:0',
  'black_nosim_note_warranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id_d=9159546415165853175:1',
  'black_nosim_note_nowarranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id_d=9159546415165853175:0',
  'black_nosim_nocase_warranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id_d=9158806889865638191:1',
  'black_nosim_nocase_nowarranty': 'https://portal.mobile.rakuten.co.jp/equipment-details?exid=327145&selectAvailable=true',
  'white_sim_note_warranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id=9158206969665397225:1&id_d=9159546415165853200:1',
  'white_sim_note_nowarranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id=9158206969665397225:1&id_d=9159546415165853200:0',
  'white_sim_nocase_warranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id=9158206969665397225:1&id_d=9158806889865638221:1',
  'white_sim_nocase_nowarranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id=9158206969665397225:1&id_d=9158806889865638221:0',
  'white_nosim_note_warranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id_d=9159546415165853200:1',
  'white_nosim_note_nowarranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id_d=9159546415165853200:0',
  'white_nosim_nocase_warranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id_d=9158806889865638221:1',
  'white_nosim_nocase_nowarranty': 'https://portal.mobile.rakuten.co.jp/equipment-details?id=9158806889865638221',
  'red_sim_note_warranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id=9158206969665397225:1&id_d=9159546415265853225:1',
  'red_sim_note_nowarranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id=9158206969665397225:1&id_d=9159546415265853225:0',
  'red_sim_nocase_warranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id=9158206969665397225:1&id_d=9158806889865638251:1',
  'red_sim_nocase_nowarranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id=9158206969665397225:1&id_d=9158806889865638251:0',
  'red_nosim_note_warranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id_d=9159546415265853225:1',
  'red_nosim_note_nowarranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id_d=9159546415265853225:0',
  'red_nosim_nocase_warranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id_d=9158806889865638251:1',
  'red_nosim_nocase_nowarranty': 'https://portal.mobile.rakuten.co.jp/equipment-details?id=9158806889865638251',
}
</script>
<%- include('/include/product/_purchase-modal', { modalInfo: modalInfo }) %>
<%_ } _%>

<%- include('/include/_prepend-body') %>

<div class="l-System">

  <%- include('/include/_header') %>

  <div class="c-Breadcrumbs_Head">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <div class="<%= namespace %>">
    <nav id="nav" class="<%= namespace %>_Nav">
      <div class="<%= namespace %>_Nav-wrap">
        <svg width="162" height="33" viewbox="0 0 162 33" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M18.483 24.1963L14.1353 18.2781C13.7484 18.3464 13.2931 18.3805 12.7696 18.3805H10.1633V24.1963H8.06348V8.06348H12.8151C14.6532 8.06348 16.11 8.52442 17.1912 9.4406C18.2724 10.3568 18.8073 11.6201 18.8073 13.2192C18.8073 14.2492 18.574 15.1426 18.1131 15.9108C17.6464 16.679 16.9863 17.2709 16.1271 17.692L21.0039 24.1906H18.483V24.1963ZM16.6847 13.2248C16.6847 11.0681 15.3474 9.9869 12.6672 9.9869H10.1633V16.4571H12.6672C15.3474 16.4571 16.6847 15.3816 16.6847 13.2248Z" fill="white"/>
          <path d="M32.4135 11.3012V24.1961H30.6665L30.4389 21.7662C30.0519 22.5742 29.4658 23.223 28.6805 23.7124C27.8952 24.2018 27.0245 24.4465 26.0628 24.4465C24.9987 24.4465 24.0369 24.1619 23.1777 23.5872C22.3184 23.0124 21.6412 22.2157 21.1404 21.1971C20.6453 20.1785 20.395 19.029 20.395 17.7486C20.395 16.4682 20.6453 15.3187 21.1404 14.3001C21.6355 13.2815 22.3184 12.4848 23.1777 11.9101C24.0369 11.3353 24.9987 11.0508 26.0628 11.0508C27.0416 11.0508 27.9179 11.2898 28.6919 11.7735C29.4658 12.2515 30.0462 12.9059 30.4389 13.7311L30.6665 11.3012H32.4135ZM28.4813 21.88C29.0788 21.4873 29.5511 20.9297 29.8983 20.2126C30.2454 19.4956 30.4161 18.6762 30.4161 17.7486C30.4161 16.821 30.2454 16.0016 29.8983 15.2846C29.5511 14.5676 29.0788 14.0099 28.4813 13.6172C27.8838 13.2189 27.2066 13.0254 26.4441 13.0254C25.6872 13.0254 25.0043 13.2246 24.4068 13.6172C23.8093 14.0156 23.337 14.5676 22.9899 15.2846C22.6427 16.0016 22.472 16.821 22.472 17.7486C22.472 18.6762 22.6427 19.4956 22.9899 20.2126C23.337 20.9297 23.8093 21.4873 24.4068 21.88C25.0043 22.2783 25.6815 22.4718 26.4441 22.4718C27.2066 22.4775 27.8838 22.2783 28.4813 21.88Z" fill="white"/>
          <path d="M42.7818 24.197L36.6587 17.9999V24.1913H34.6385V6.24316H36.6587V16.8106L42.2981 11.3021H44.8247L38.6106 17.2431L45.4621 24.197H42.7818Z" fill="white"/>
          <path d="M56.7352 11.3008V24.1957H54.9882L54.7833 21.8455C54.3622 22.6365 53.7818 23.2681 53.0363 23.7404C52.2965 24.2128 51.4942 24.4461 50.6349 24.4461C49.2179 24.4461 48.1026 23.951 47.2831 22.9665C46.4637 21.982 46.0596 20.5708 46.0596 18.7327V11.3008H48.0798V18.6075C48.0798 19.8538 48.3473 20.8098 48.8879 21.4756C49.4285 22.1414 50.1682 22.4771 51.1129 22.4771C51.773 22.4771 52.3705 22.2836 52.9225 21.8967C53.4688 21.5097 53.907 20.9805 54.2256 20.3147C54.5443 19.6489 54.7036 18.9262 54.7036 18.1523V11.3008H56.7352Z" fill="white"/>
          <path d="M67.1546 23.5363C66.3295 24.1452 65.3279 24.4468 64.1443 24.4468C62.881 24.4468 61.942 24.0883 61.3274 23.3712C60.7129 22.6542 60.4056 21.5616 60.4056 20.0992V13.1737H58.1578V11.3015H60.4056V7.9668H62.4257V11.3072H66.927V13.1794H62.4257V20.0081C62.4257 21.6584 63.0574 22.4835 64.3207 22.4835C64.7077 22.4835 65.0775 22.4152 65.419 22.2673C65.7661 22.125 66.1474 21.8917 66.5685 21.573L67.1546 23.5363Z" fill="white"/>
          <path d="M79.2416 18.2781H69.9374C70.0228 19.678 70.4211 20.7478 71.1382 21.4876C71.8552 22.2274 72.8112 22.603 74.0062 22.603C74.7801 22.603 75.4858 22.3981 76.1174 21.9941C76.7491 21.59 77.3011 21.0267 77.7734 20.2983L79.0879 21.7664C78.5132 22.5916 77.7791 23.2574 76.8857 23.7525C75.9922 24.2475 74.9793 24.4979 73.8526 24.4979C72.6405 24.4979 71.582 24.2191 70.6772 23.6614C69.7724 23.1037 69.0782 22.3184 68.5888 21.2998C68.0994 20.2812 67.8547 19.1032 67.8547 17.7716C67.8547 16.4571 68.0937 15.2849 68.5774 14.2549C69.0554 13.2249 69.7326 12.4282 70.5975 11.8534C71.4625 11.2787 72.4584 10.9941 73.568 10.9941C74.6777 10.9941 75.6622 11.2787 76.5158 11.8534C77.3694 12.4282 78.0352 13.2249 78.5132 14.2549C78.9912 15.2849 79.2359 16.4571 79.2359 17.7716V18.2781H79.2416ZM71.1894 13.8679C70.5577 14.5166 70.1594 15.4214 69.9886 16.588H77.1417C76.9881 15.4271 76.5954 14.5223 75.9638 13.8679C75.3321 13.2192 74.5354 12.8948 73.5737 12.8948C72.6177 12.8948 71.821 13.2192 71.1894 13.8679Z" fill="white"/>
          <path d="M90.378 12.5303C91.1975 13.5148 91.6072 14.9261 91.6072 16.7641V24.1961H89.587V16.8609C89.587 15.6317 89.3195 14.6814 88.7789 14.0156C88.2383 13.3498 87.4986 13.0197 86.5539 13.0197C85.8483 13.0197 85.2109 13.2189 84.6476 13.6116C84.0842 14.0099 83.646 14.5334 83.333 15.1935C83.0201 15.848 82.8664 16.565 82.8664 17.3446V24.1961H80.8463V11.3012H82.5933L82.8209 13.7026C83.2591 12.8775 83.8452 12.2287 84.5793 11.7564C85.3134 11.2841 86.1328 11.0508 87.0433 11.0508C88.4432 11.0508 89.5586 11.5402 90.378 12.5303Z" fill="white"/>
          <path d="M98.0546 24.1953V8.0625H101.315V14.5099H107.968V8.0625H111.228V24.1953H107.968V17.4975H101.315V24.1953H98.0546Z" fill="white"/>
          <path d="M118.655 24.4733C117.573 24.4733 116.6 24.1887 115.735 23.6254C114.865 23.062 114.176 22.271 113.664 21.2467C113.152 20.2281 112.896 19.0444 112.896 17.6958C112.896 16.3471 113.146 15.1635 113.653 14.1448C114.159 13.1262 114.848 12.3295 115.724 11.7548C116.6 11.18 117.579 10.8955 118.655 10.8955C119.565 10.8955 120.385 11.1174 121.107 11.567C121.83 12.0166 122.365 12.6141 122.701 13.3766L122.979 11.2028H125.682V24.2001H122.979L122.729 22.0775C122.376 22.8002 121.836 23.3864 121.113 23.8245C120.385 24.2513 119.565 24.4733 118.655 24.4733ZM119.36 21.5654C120.288 21.5654 121.056 21.2069 121.659 20.4899C122.268 19.7728 122.57 18.8453 122.57 17.6958C122.57 16.552 122.268 15.613 121.659 14.8903C121.05 14.1676 120.288 13.8034 119.36 13.8034C118.416 13.8034 117.647 14.1676 117.044 14.8903C116.447 15.613 116.145 16.552 116.145 17.6958C116.145 18.8396 116.447 19.7728 117.044 20.4899C117.647 21.2069 118.416 21.5654 119.36 21.5654Z" fill="white"/>
          <path d="M127.76 24.1966V11.1992H130.463L130.713 13.3503C131.117 12.5934 131.68 11.9959 132.409 11.5577C133.131 11.1196 133.94 10.9033 134.839 10.9033C136.239 10.9033 137.348 11.4155 138.162 12.4455C138.981 13.4755 139.385 14.938 139.385 16.8443V24.2023H136.227V17.0435C136.227 16.0135 136.011 15.2282 135.584 14.6819C135.157 14.1356 134.56 13.8624 133.803 13.8624C132.944 13.8624 132.249 14.2096 131.714 14.8981C131.185 15.5924 130.918 16.4232 130.918 17.402V24.2023H127.76V24.1966Z" fill="white"/>
          <path d="M146.715 24.4749C145.634 24.4749 144.661 24.1903 143.784 23.6156C142.908 23.0408 142.219 22.2442 141.713 21.2255C141.206 20.2069 140.956 19.029 140.956 17.6974C140.956 16.3658 141.206 15.1878 141.702 14.1692C142.197 13.1506 142.868 12.3482 143.71 11.7678C144.553 11.1873 145.503 10.8971 146.567 10.8971C147.477 10.8971 148.28 11.1076 148.98 11.5288C149.68 11.9499 150.215 12.5075 150.585 13.1961V6.24219H153.743V24.196H151.04L150.789 22.0734C150.42 22.8132 149.873 23.3993 149.145 23.8318C148.416 24.2586 147.608 24.4749 146.715 24.4749ZM147.421 21.567C148.348 21.567 149.116 21.2085 149.72 20.4914C150.328 19.7744 150.63 18.8469 150.63 17.6974C150.63 16.5536 150.328 15.6146 149.72 14.8919C149.111 14.1692 148.348 13.805 147.421 13.805C146.476 13.805 145.708 14.1692 145.105 14.8919C144.507 15.6146 144.205 16.5536 144.205 17.6974C144.205 18.8412 144.507 19.7744 145.105 20.4914C145.708 21.2085 146.482 21.567 147.421 21.567Z" fill="white"/>
        </svg>
        <div id="js-arrow" class="<%= namespace %>_Nav-arrow"><span class="c-Icon_Chevron-right"></span></div>
        <div class="<%= namespace %>_Nav-bar js-sp-nav" aria-expanded="false">
          <ul class="js-mini-nav">
            <li><a href="#section3" id="nav_feature">特長</a></li>
            <li><a href="#section2" id="nav_price">価格</a></li>
            <li><a href="#spec" id="nav_spec">スペック</a></li>
          </ul>
        </div>
      </div>
    </nav>

      <div class="u-Adjust_Pt-16 u-Adjust_Pr-16 u-Adjust_Pl-16 u-Adjust_Pb-16 l-System_Container u-Adjust_Align-center">
        <p class="c-Txt_Emp-01 c-Txt_Normal-l">Rakuten Handは販売を終了いたしました。</p>
        <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
          <a class="c-Btn_Regular" href="/product/rakuten/?l-id=end_product_smartphone"><span>販売中のRakutenオリジナル製品を見る</span></a>
        </div>
      </div>

    <div id="section1" class="u-Adjust_Mt-32  <%= namespace %>_Section <%= namespace %>_Section-1">
      <h1>ジャストサイズで、<br class="sp-enter">高機能。</h1>
      <img src="<%= sitepath %>assets/img/product/<%= directory %>/section01-image-01.png" alt="ジャストサイズで、高機能。">
    </div>

    <div class="l-System_Container">
      <div class="<%= namespace %>_Media">
        <h2 class="c-Heading_Lv2">Rakuten Hand <br>メディア掲載情報</h2>
        <p>
          <span class="c-Txt_Emp-01 u-Adjust_Mr-16">GIZMODO JAPAN</span><a href="https://www.gizmodo.jp/2021/01/rakuten-hand-first-look.html" target="_blank" rel="noopener noreferrer" data-ratId="rakuten-hand-first-look" data-ratEvent="click" data-ratParam="all">Rakuten Handを試したら、新しいスマートフォンのスタンダードが見えてきた<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></a>
        </p>
      </div>
    </div>

    <div class="<%= namespace %>_Movie">
      <div class="l-System_Container">
        <div style="position: relative; display: block;"><div style="padding-top: 56.25%;"><iframe src="https://players.brightcove.net/5068808272001/default_default/index.html?videoId=6217897672001" title="Rakuten Hand" allowfullscreen="" allow="encrypted-media" style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"></iframe></div></div>
      </div>
    </div>

    <div id="section3" class="<%= namespace %>_Section <%= namespace %>_Section-3">
      <h2>世界一スリムなボディ。<sub>※</sub> だから格別の持ちやすさ。
        <span class="c-Txt_Cap">※ディスプレイ5インチ以上のモバイルFeliCa対応スマートフォンにおいて（2020年9月28日時点）/ステラアソシエ調べ。</span>
      </h2>
      <img src="<%= sitepath %>assets/img/product/<%= directory %>/section03-image-01.png" alt="世界一スリムなボディ。だから格別の持ちやすさ。">
    </div>

    <div id="section4" class="<%= namespace %>_Section <%= namespace %>_Section-4">
      <h2>わずか129g。<br class="sp-enter">持っていることを忘れるくらい。</h2>
      <img src="<%= sitepath %>assets/img/product/<%= directory %>/section04-image-01.png" alt="わずか129g。持っていることを忘れるくらい。">
    </div>

    <div id="section5" class="<%= namespace %>_Section <%= namespace %>_Section-5">
      <h2>ずっと握っていたくなるラウンドエッジ</h2>
      <p class="<%= namespace %>_Section-txt">立体的なカーブを描く、ディスプレイのエッジと、背面パネルは心地よく手にフィットします。</p>
      <div class="<%= namespace %>_Section-5-content">
        <div class="<%= namespace %>_Section-5-content-model"></div>
        <div class="<%= namespace %>_Section-5-content-finger"></div>
      </div>
    </div>

    <div id="section6" class="<%= namespace %>_Section <%= namespace %>_Section-6">
      <div>
        <h2>使い心地はまるで手の延長<br>残したい瞬間を逃さない</h2>
        <div class="<%= namespace %>_Section-6-content"></div>
      </div>
    </div>

    <div id="section7" class="<%= namespace %>_Section <%= namespace %>_Section-7">
      <h2>かんたん<span>、</span>でも本格的。<br>写真を撮るのが楽しくなる。</h2>
      <ul>
        <li id="camera-menu1" role="camera" aria-selected="true" aria-controls="camera-content1"><a>ポートレート</a></li>
        <li id="camera-menu2" role="camera" aria-selected="false" aria-controls="camera-content2"><a>HDR</a></li>
        <li id="camera-menu3" role="camera" aria-selected="false" aria-controls="camera-content3"><a>AIシーン認識</a></li>
      </ul>
      <div class="<%= namespace %>_Section-7-content">
        <div id="camera-content1" class="<%= namespace %>_Section-7-content-portlate" role="camerapanel" aria-hidden="false" aria-labelledby="camera-menu1">
          <p>深度測位カメラが背景の美しいぼかしを作り、被写体を際立たせます。</p>
          <div>
            <img class="<%= namespace %>_Section-7-content-portlate-image <%= namespace %>_Section-7-content-portlate-image-0" style="display:none;" src="<%= sitepath %>assets/img/product/<%= directory %>/section07-image-01.png" alt="F16">
            <img class="<%= namespace %>_Section-7-content-portlate-image <%= namespace %>_Section-7-content-portlate-image-1" style="display:none;" src="<%= sitepath %>assets/img/product/<%= directory %>/section07-image-02.png" alt="F11">
            <img class="<%= namespace %>_Section-7-content-portlate-image <%= namespace %>_Section-7-content-portlate-image-2" style="display:none;" src="<%= sitepath %>assets/img/product/<%= directory %>/section07-image-03.png" alt="F8">
            <img class="<%= namespace %>_Section-7-content-portlate-image <%= namespace %>_Section-7-content-portlate-image-3" style="display:none;" src="<%= sitepath %>assets/img/product/<%= directory %>/section07-image-04.png" alt="F5.6">
            <img class="<%= namespace %>_Section-7-content-portlate-image <%= namespace %>_Section-7-content-portlate-image-4" src="<%= sitepath %>assets/img/product/<%= directory %>/section07-image-05.png" alt="F4">
            <img class="<%= namespace %>_Section-7-content-portlate-image <%= namespace %>_Section-7-content-portlate-image-5" style="display:none;" src="<%= sitepath %>assets/img/product/<%= directory %>/section07-image-06.png" alt="F2.8">
            <img class="<%= namespace %>_Section-7-content-portlate-image <%= namespace %>_Section-7-content-portlate-image-6" style="display:none;" src="<%= sitepath %>assets/img/product/<%= directory %>/section07-image-07.png" alt="F2.0">
            <img class="<%= namespace %>_Section-7-content-portlate-image <%= namespace %>_Section-7-content-portlate-image-7" style="display:none;" src="<%= sitepath %>assets/img/product/<%= directory %>/section07-image-08.png" alt="F1.4">
            <img class="<%= namespace %>_Section-7-content-portlate-image <%= namespace %>_Section-7-content-portlate-image-8" style="display:none;" src="<%= sitepath %>assets/img/product/<%= directory %>/section07-image-09.png" alt="F0.95">
          </div>
          <div class="<%= namespace %>_Section-7-content-range">
            <div class="<%= namespace %>_Section-7-content-range-inner">
              <div class="<%= namespace %>_Section-7-content-range-button <%= namespace %>_Section-7-content-range-down"></div>
              <p>ぼかし量</p>
              <div class="<%= namespace %>_Section-7-content-range-button <%= namespace %>_Section-7-content-range-up"></div>
            </div>
          </div>
        </div>
        <div id="camera-content2" class="<%= namespace %>_Section-7-content-hdr" role="camerapanel" aria-hidden="true" aria-labelledby="camera-menu2">
          <p>全体の露出をコントロールして、逆光でも被写体をキレイに撮影します。</p>
          <img class="<%= namespace %>_Section-7-content-hdr-image" src="<%= sitepath %>assets/img/product/<%= directory %>/section07-image-10.png" alt="ポートレート">
        </div>
        <div id="camera-content3" class="<%= namespace %>_Section-7-content-ai" role="camerapanel" aria-hidden="true" aria-labelledby="camera-menu3">
          <p>AIが被写体を判別して、ベストな設定や色味で撮影します。<span class="c-Txt_Cap">※写真はイメージです</span></p>
          <img class="<%= namespace %>_Section-7-content-ai-image" src="<%= sitepath %>assets/img/product/<%= directory %>/section07-image-11.png" alt="AIシーン認識">
        </div>
      </div>
    </div>

    <div id="section8" class="<%= namespace %>_Section <%= namespace %>_Section-8">
      <div class="<%= namespace %>_Section-8-inner">
        <div class="<%= namespace %>_Section-8-content-left">
          <div class="<%= namespace %>_Section-8-content-compare">
            <div class="<%= namespace %>_Section-8-content-compare-image">
              <div id="image-compare">
                <img src="<%= sitepath %>assets/img/product/<%= directory %>/section08-image-02.png" alt="フェイスビューティーONイメージ">
                <img src="<%= sitepath %>assets/img/product/<%= directory %>/section08-image-03.png" alt="フェイスビューティーOFFイメージ">
              </div>
            </div>
            <div class="<%= namespace %>_Section-8-content-animation" style="display: none;">
              <img class="<%= namespace %>_Section-8-content-animation-image" src="<%= sitepath %>assets/img/product/<%= directory %>/section08-image-06.png" alt="">
              <img class="<%= namespace %>_Section-8-content-animation-image" src="<%= sitepath %>assets/img/product/<%= directory %>/section08-image-07.png" alt="">
              <img class="<%= namespace %>_Section-8-content-animation-image" src="<%= sitepath %>assets/img/product/<%= directory %>/section08-image-08.png" alt="">
              <img class="<%= namespace %>_Section-8-content-animation-image" src="<%= sitepath %>assets/img/product/<%= directory %>/section08-image-09.png" alt="">
              <img class="<%= namespace %>_Section-8-content-animation-image" src="<%= sitepath %>assets/img/product/<%= directory %>/section08-image-10.png" alt="">
              <img class="<%= namespace %>_Section-8-content-animation-image" src="<%= sitepath %>assets/img/product/<%= directory %>/section08-image-11.png" alt="">
              <img class="<%= namespace %>_Section-8-content-animation-image" src="<%= sitepath %>assets/img/product/<%= directory %>/section08-image-12.png" alt="">
            </div>
          </div>
        </div>
        <div class="<%= namespace %>_Section-8-content-right">
          <h2>多彩な撮影モード。<br>膨らむ創造力。</h2>
          <p>美顔モードでは、肌をトーンアップして見せたり顔に楽しいエフェクトをつけて撮影したり、セルフィーを自在にアレンジできます。</p>
          <div class="<%= namespace %>_Section-8-content-mode">
            <div class="<%= namespace %>_Section-8-content-icon">
              <div role="beauty" aria-selected="true" aria-controls="beauty-active">
                <img src="<%= sitepath %>assets/img/product/<%= directory %>/section08-image-04-on.png" alt="フェイスビューティーON">
                <img src="<%= sitepath %>assets/img/product/<%= directory %>/section08-image-04-off.png" alt="フェイスビューティーOFF">
                <p><b>美顔モード</b></p>
              </div>
            </div>
            <div class="<%= namespace %>_Section-8-content-icon">
              <div role="animation" aria-selected="false" aria-controls="animation-active">
                <img src="<%= sitepath %>assets/img/product/<%= directory %>/section08-image-05-on.png" alt="23種のアニメーションON">
                <img src="<%= sitepath %>assets/img/product/<%= directory %>/section08-image-05-off.png" alt="23種のアニメーションOFF">
                <p><b>23種のアニメーション</b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="section9" class="<%= namespace %>_Section <%= namespace %>_Section-9">
      <h2>くっきり<span>、</span>鮮やか。<br>5.1インチ有機ELディスプレイ。</h2>
      <div class="<%= namespace %>_Section-9-content">
        <div class="<%= namespace %>_Section-9-content-pc">
          <img src="<%= sitepath %>assets/img/product/<%= directory %>/section09-image-02.png" alt="くっきり、鮮やか。">
          <img src="<%= sitepath %>assets/img/product/<%= directory %>/section09-image-01.png" alt="5.1インチ有機ELディスプレイ。">
        </div>
        <div class="<%= namespace %>_Section-9-content-sp">
          <img src="<%= sitepath %>assets/img/product/<%= directory %>/section09-image-04.png" alt="くっきり、鮮やか。">
          <img src="<%= sitepath %>assets/img/product/<%= directory %>/section09-image-03.png" alt="5.1インチ有機ELディスプレイ。">
        </div>
      </div>
    </div>

    <div id="section10" class="<%= namespace %>_Section <%= namespace %>_Section-10">
      <div class="<%= namespace %>_Section-10-content">
        <div>
          <img src="<%= sitepath %>assets/img/product/<%= directory %>/section10-image-01.png" alt="">
        </div>
        <div>
          <h2>顔認証</h2>
        </div>
      </div>
      <div class="<%= namespace %>_Section-10-content">
        <div>
          <h2>ディスプレイ<br class="sp-enter">指紋認証</h2>
        </div>
        <div>
          <img src="<%= sitepath %>assets/img/product/<%= directory %>/section10-image-02.png" alt="">
        </div>
      </div>
      <div id="<%= namespace %>_Section-10-lottie"></div>
    </div>

    <div id="section11" class="<%= namespace %>_Section <%= namespace %>_Section-11">
      <h2>日常生活に十分なバッテリーで<br>仕事に<span class="<%= namespace %>_Section-11-dot">、</span>遊びに<span class="<%= namespace %>_Section-11-dot">、</span>全力投球。
        <span class="c-Txt_Cap <%= namespace %>_Section-11-attention">
          ※連続待受時間 約402時間(LTE)、連続通話時間 約18時間(LTE)<br>
          ※電池の持ち時間は実際の利用状況（連続通話や動画を大量にダウンロードした場合など）によって変化します。<br>
        </span>
      </h2>
      <div class="<%= namespace %>_Section-11-pc">
        <img src="<%= sitepath %>assets/img/product/<%= directory %>/section11-image-01.png" alt="日常生活に十分なバッテリーで仕事に、遊びに、全力投球。">
      </div>
      <div class="<%= namespace %>_Section-11-sp">
        <img src="<%= sitepath %>assets/img/product/<%= directory %>/section11-image-02.png" alt="日常生活に十分なバッテリーで仕事に、遊びに、全力投球。">
      </div>
    </div>

    <div id="section12" class="<%= namespace %>_Section <%= namespace %>_Section-12">
      <div class="<%= namespace %>_Section-12-inner">
        <h2>便利なFeliCa搭載</h2>
      </div>
    </div>

    <div id="section13" class="<%= namespace %>_Section <%= namespace %>_Section-13">
      <div class="<%= namespace %>_Section-13-inner">
        <h2>アクティブなあなたをサポートする<br>パワフルなCPU</h2>
        <p class="<%= namespace %>_Section-txt">日常使いをストレスフリーにする、パワフルでスマートな”頭脳”を搭載。</p>
        <img src="<%= sitepath %>assets/img/product/<%= directory %>/section13-image-02.png" alt="720G">
      </div>
    </div>

    <div id="section13-2" class="<%= namespace %>_Section-13-2">
      <h2>高速通信が可能な4×4 MIMO搭載</h2>
      <div class="l-System_Container">
        <p class="<%= namespace %>_Section-txt">
          高速通信に必要なのは速い回線だけではなく、端末側にも高速通信が可能なアンテナが必要です。<br>
          Rakuten Handは、高速通信を可能にする4×4MIMOに対応しています。
        </p>
        <div class="<%= namespace %>-img">
          <picture>
            <source media="(max-width: 414px)" srcset="<%= sitepath %>assets/img/product/<%= directory %>/section13-2-image-02.png?201210">
            <source srcset="<%= sitepath %>assets/img/product/<%= directory %>/section13-2-image-01.png?201210">
            <img src="<%= sitepath %>assets/img/product/<%= directory %>/section13-2-image-01.png?201210" alt="高画質な動画の再生、ビデオ通話、WEBページの表示もスムーズ">
          </picture>
        </div>
      </div>
    </div>

    <div id="section13-3" class="<%= namespace %>_Section-13-3">
      <h3><ruby>4×4 MIMO<rt>フォーバイフォー マイモ</rt></ruby> なぜ速い？</h3>
      <div class="l-System_Container">
        <p class="<%= namespace %>_Section-txt">従来端末にあった2本のアンテナを4本にすることで、1度に通信できる量が増え通信速度が向上します</p>
        <div class="<%= namespace %>_Section-13-3-content">
          <img src="<%= sitepath %>assets/img/product/<%= directory %>/section13-3-image-01.png" alt="">
          <img src="<%= sitepath %>assets/img/product/<%= directory %>/section13-3-image-02.png" alt="">
        </div>
      </div>
    </div>

    <div id="section14" class="<%= namespace %>_Section <%= namespace %>_Section-14">
      <h2>あなたにぴったりの一台を。<br>楽天モバイルだけのユニークなスマートフォン。</h2>
      <div class="<%= namespace %>_Section-14-content u-Adjust_Mt-64">
        <img src="<%= sitepath %>assets/img/product/<%= directory %>/section14-image-01.png" alt="">
        <div class="<%= namespace %>_Section-14-content-inner">
          <div>
            <p class="<%= namespace %>_Section-14-content-name u-Adjust_Mt-24">Rakuten<br>BIG</p>
            <p class="<%= namespace %>_Section-14-content-detail u-Adjust_Mt-16"><a href="/product/smartphone/rakuten-big/" class="c-Link_Txt-icon">詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
          </div>
          <div>
            <p class="<%= namespace %>_Section-14-content-name u-Adjust_Mt-24">Rakuten<br>Hand</p>
          </div>
          <div>
            <p class="<%= namespace %>_Section-14-content-name u-Adjust_Mt-24">Rakuten<br>Mini</p>
            <p class="<%= namespace %>_Section-14-content-detail u-Adjust_Mt-16"><a href="/product/smartphone/rakuten-mini/" class="c-Link_Txt-icon">詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
          </div>
        </div>
      </div>
    </div>

    <div id="section15" class="<%= namespace %>_Section <%= namespace %>_Section-15">
      <h3>TVCM<br class="sp-enter">「イニエスタHandしちゃった編」</h3>
      <div class="<%= namespace %>_Iniesta">
        <div class="l-System_Container">
          <div style="position: relative; display: block;"><div style="padding-top: 56.25%;"><iframe src="https://players.brightcove.net/5068808272001/default_default/index.html?videoId=6215032064001" title="イニエスタHandしちゃった編" allowfullscreen="" allow="encrypted-media" style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"></iframe></div></div>
        </div>
      </div>
    </div>

    <div id="sectionOther" class="product-detail-Layout_Other <%= namespace %>_Other">
      <div class="l-System_Container">

        <%- include('/include/product/_compensation') %>

        <section>
          <div class="product-detail-Layout_Section">
            <h2 class="c-Heading_Lv2">仕様</h2>

            <div class="<%= namespace %>_Device">
              <div><img src="<%= sitepath %>assets/img/product/<%= directory %>/pht-devicelist-00.png" alt=""></div>
              <div><img src="<%= sitepath %>assets/img/product/<%= directory %>/pht-devicelist-01.png" alt=""></div>
              <div class="u-Adjust_Mt-32"><img src="<%= sitepath %>assets/img/product/<%= directory %>/pht-devicelist-02.png" alt=""></div>
            </div>

            <div class="product-detail-Spec">
              <ul class="product-detail-Spec_<%= theme %>">
                <li aria-current="true"><span class="c-Icon_Product-drip-proof"></span>防滴</li>
                <li aria-current="true"><span class="c-Icon_Product-price-yen"></span>FeliCa</li>
                <li aria-current="false"><span class="c-Icon_Product-hi-res"></span>ハイレゾ<br>オーディオ</li>
                <li aria-current="true"><span class="c-Icon_Product-faceid"></span>顔認証</li>
                <li aria-current="true"><span class="c-Icon_Product-finger"></span>指紋認証</li>
                <li aria-current="false"><span class="c-Icon_Product-charger"></span>ワイヤレス<br>充電</li>
                <li aria-current="true"><span class="c-Icon_Product-connection"></span>高速通信</li>
              </ul>
            </div>
          </div>
        </section>

        <section class="product-detail-Layout_Section" id="spec">
          <h2 class="c-Heading_Lv2">スペック</h2>
          <dl class="c-Dl">
            <div>
              <dt>製品名</dt>
              <dd>
                Rakuten Hand
              </dd>
            </div>
            <div>
              <dt>色</dt>
              <dd>
                ブラック / ホワイト / クリムゾンレッド
              </dd>
            </div>
            <div>
              <dt>サイズ(高さ/幅/厚さ)</dt>
              <dd>
                約138 x 約63 x 約9.5 (mm)
              </dd>
            </div>
            <div>
              <dt>重量</dt>
              <dd>
                約129g
              </dd>
            </div>
            <div>
              <dt>ディスプレイ</dt>
              <dd>
                <p>サイズ / 種類</p>
                約5.1インチ / 有機EL
                <p class="u-Adjust_Mt-16">解像度</p>
                HD+ / 720 × 1,520
              </dd>
            </div>
            <div>
              <dt>連続待受時間（LTE）</dt>
              <dd>
                約402時間<span class="c-Txt_Normal-ss">※1</span>
              </dd>
            </div>
            <div>
              <dt>連続通話（通信）時間（LTE）</dt>
              <dd>
                約18時間<span class="c-Txt_Normal-ss">※1</span>
              </dd>
            </div>
            <div>
              <dt>CPU</dt>
              <dd>
                Qualcomm® Snapdragon™ 720G / オクタコア 2.3GHz + 1.8GHz
              </dd>
            </div>
            <div>
              <dt>OS</dt>
              <dd>
                Android™ 10
              </dd>
            </div>
            <div>
              <dt>内蔵メモリ（RAM / ROM）</dt>
              <dd>
                4GB (RAM) / 64GB (ROM)
              </dd>
            </div>
            <div>
              <dt>メインカメラ（外側）</dt>
              <dd>
                約4,800万画素 (広角) + 約200万画素 (深度測位)
              </dd>
            </div>
            <div>
              <dt>フロントカメラ（内側）</dt>
              <dd>
                約1,600万画素
              </dd>
            </div>
            <div>
              <dt>バッテリー容量</dt>
              <dd>
                2,630mAh<span class="c-Txt_Normal-ss">※1</span>
              </dd>
            </div>
            <div>
              <dt>ワイヤレス充電</dt>
              <dd>
                非対応
              </dd>
            </div>
            <div>
              <dt>おサイフケータイ / NFC</dt>
              <dd>
                対応/対応
              </dd>
            </div>
            <div>
              <dt>防滴 / 防塵</dt>
              <dd>
                対応 (IPX2 / IP5X)
              </dd>
            </div>
            <div>
              <dt>生体認証（指紋 / 顔）</dt>
              <dd>
                対応/対応
              </dd>
            </div>
            <div>
              <dt>VoLTE（Rakuten, docomo, au, SoftBank）</dt>
              <dd>
                対応 / 非対応 / 非対応 / 非対応
              </dd>
            </div>
            <div>
              <dt>Wi-Fi規格</dt>
              <dd>
                IEEE802.11 a/b/g/n/ac
              </dd>
            </div>
            <div>
              <dt>テザリング（Wi-Fi）</dt>
              <dd>
                10台
              </dd>
            </div>
            <div>
              <dt>付属品</dt>
              <dd>
                ACアダプタ / USB Type-Cケーブル / クイックスタートガイド（保証書） / 安全上のご注意
              </dd>
            </div>
          </dl>
          <ul class="c-List_Cap u-Adjust_Mt-24">
            <li class="u-Adjust_Pl-24"><span>※1</span>2021年9月8日より提供を開始したソフトウェアバージョン（P710AE_10.0_RMN_JP_108)へアップデート後の仕様です。アップデート情報の詳細は<a href="<%= sitepath %>information/software/rakuten-hand/">こちら</a>をご覧ください。</li>
            <li class="u-Adjust_Pl-24"><span>※</span>Rakuten Handの開通手続きにはWi-Fi環境が必要になります。</li>
          </ul>
          <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>product/smartphone/<%= directory %>/spec.html" class="c-Link_Txt-icon">スペック詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
        </section>

        <section class="product-detail-Layout_Section">
          <h2 class="c-Heading_Lv2">専用アクセサリー</h2>
          <div class="c-Carousel js-Carousel-multi">
            <div><a href="<%= sitepath %>product/accessory/rselect-rmtnrktnhdf0114bk/?l-id=product_rakuten_hand_rselect-rmtnrktnhdf0114bk"><img src="<%= sitepath %>assets/img/accessory/rselect-rmtnrktnhdf0114bk/pht-accessory-00.png" alt=""></a></div>
            <div><a href="<%= sitepath %>product/accessory/rselect-rmtnrktnhdc0125pk/?l-id=product_rakuten_hand_rselect-rmtnrktnhdc0125pk"><img src="<%= sitepath %>assets/img/accessory/rselect-rmtnrktnhdc0125pk/pht-accessory-00.png" alt=""></a></div>
            <div><a href="<%= sitepath %>product/accessory/rselect-rmtnrktnhdc0126bl/?l-id=product_rakuten_hand_rselect-rmtnrktnhdc0126bl"><img src="<%= sitepath %>assets/img/accessory/rselect-rmtnrktnhdc0126bl/pht-accessory-00.png" alt=""></a></div>
            <div><a href="<%= sitepath %>product/accessory/rselect-rmtnrktnhdc0118cl/?l-id=product_rakuten_hand_rselect-rmtnrktnhdc0118cl"><img src="<%= sitepath %>assets/img/accessory/rselect-rmtnrktnhdc0118cl/pht-accessory-00.png" alt=""></a></div>
            <div><a href="<%= sitepath %>product/accessory/rselect-rmtnramipsc0105bk/?l-id=product_rakuten_hand_rselect-rmtnramipsc0105bk"><img src="<%= sitepath %>assets/img/accessory/rselect-rmtnramipsc0105bk/pht-accessory-00.png" alt=""></a></div>
          </div>
          <div class="c-Carousel_Nav-v2-wrap">
            <div class="c-Carousel_Nav-v2"></div>
            <div class="c-Carousel_Nav-v2-bar"></div>
          </div>
          <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>product/accessory/smartphone-related/" class="c-Link_Txt-icon">その他アクセサリーを見る<span class="c-Icon_Chevron-right"></span></a></p>
        </section>

        <section class="product-detail-Layout_Section">
          <h2 class="c-Heading_Lv2">設定・サポート</h2>
          <p class="u-Adjust_Mt-16">初期設定方法や、サポート情報をご確認いただけます。</p>
          <div class="u-Adjust_Mt-24">
            <a href="<%= sitepath %>product/smartphone/rakuten-hand/support/" class="c-Btn_Regular-auto">Rakuten Handサポート情報を見る</a>
          </div>
          <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>product/smartphone/rakuten-hand/support/setting/" class="c-Link_Txt-icon">初期設定方法を見る<span class="c-Icon_Chevron-right"></span></a></p>
          <p class="u-Adjust_Mt-24">
            <a href="<%= sitepath %>assets/pdf/product/Rakuten-Hand-manual.pdf?220128" class="c-Link_Txt-icon">
              取扱説明書を見る<span class="c-Icon_Pdf-l"></span>
            </a>
          </p>
        </section>

        <div id="previously-seen"></div>

      </div>
    </div>

    <footer class="g-Footer">

      <div class="g-Footer_Aside">

        <%- include('/include/footer/related/_related-product-v2.ejs') %>

        <%- include('/include/footer/bnr/_bnr.ejs') %>


      </div>
      <div class="c-Breadcrumbs_Foot">
        <div class="l-System_Container">
        <ul>
          <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ if (typeof directories !== 'undefined') { _%>
          <%_ let dirs = []; _%>
          <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
              <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
              <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
          <%_ }) _%>
          <%_ } _%>
          <li aria-current="true"><%= pagetitle %></li>
        </ul>
      </div>
      </div>

      <%- include('/include/_footer') %>

    </footer>
  </div>
</div>
<%- include('/include/_common-js') %>
<%- include('/include/product/_category-js') %>
<script src="<%= sitepath %>assets/js/product.rakuten-hand.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/product.purchase-modal.bundle.js?20240521"></script>
<%- include('/include/product/_history-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
