<% const pagetitle = "各種手数料" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/payment/bill/", label:"請求金額の確認"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルのSIMカードの再発行手数料、契約解除手数料、代金引換(代引き)手数料など、各種手数料についてご案内します',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
  <%- include('/include/_prepend-body') %>

  <div class="l-System">

    <%- include('/include/_header') %>

    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>

    <div class="<%= nameSpace %>-Layout_Container">
      <div class="l-System_Container">
        <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

        <p class="u-Adjust_Mt-16">楽天モバイルのご利用で発生する各種手数料をご確認いただけます。</p>
        <p class="u-Adjust_Mt-8 c-Txt-Cap">※各種手数料は、楽天ポイントの付与対象外となります。</p>

        <ul class="u-Adjust_Mt-24 c-Link_List-horizontal-simple">
          <li class="u-Adjust_Mt-8"><a href="#link01" class="c-Link_Txt-icon-front js-scroll"><span
                class="c-Icon_Arrow-down-l"></span>ご契約に関わる手数料</a></li>
          <li class="u-Adjust_Mt-8"><a href="#link02" class="c-Link_Txt-icon-front js-scroll"><span
                class="c-Icon_Arrow-down-l"></span>請求・お支払いに関わる手数料</a></li>
          <li class="u-Adjust_Mt-8"><a href="#link03" class="c-Link_Txt-icon-front js-scroll"><span
                class="c-Icon_Arrow-down-l"></span>配送に関わる手数料</a></li>
        </ul>

        <h3 id="link01" class="c-Heading_Lv3 u-Adjust_Mt-24">ご契約に関わる手数料</h3>
        <p class="u-Adjust_Mt-16">ご契約時やご契約変更時に発生する手数料です。</p>

        <dl class="c-Dl_Origin u-Adjust_Mt-16">
          <div>
            <dt>契約事務手数料</dt>
            <dd>
              0円（税込0円）
            </dd>
          </div>
          <div>
            <dt>SIM交換・再発行手数料（SIMカード）</dt>
            <dd>
              3,000円（税込3,300円）
            </dd>
          </div>
          <div>
            <dt>SIM交換・再発行手数料（eSIM）</dt>
            <dd>
              0円（税込0円）
            </dd>
          </div>
          <div>
            <dt>MNP転出手数料</dt>
            <dd>
              0円（税込0円）
            </dd>
          </div>
          <div>
            <dt>契約解除料</dt>
            <dd>
              0円（税込0円）
            </dd>
          </div>
          <div>
            <dt>選べる電話番号サービス</dt>
            <dd>
              1,000円（税込1,100円）
            </dd>
          </div>
          <div>
            <dt>名義変更手数料</dt>
            <dd>
              <p>
                改姓：0円（税込0円）<br>
                家族間譲渡：0円（税込0円）<span>※1</span><br>
                第三者譲渡：0円（税込0円）<span>※1</span><br>
                承継：3,000円（税込3,300円）<span>※2</span>
              </p>
              <p class="c-Txt_Cap u-Adjust_Mt-16">※1 my 楽天モバイルからの手続きの場合、手数料は発生しません。書面の郵送による手続きの場合、手数料3,000円（税込3,300円）が発生します。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※2 ご契約者様が逝去され、ご家族以外の方がご契約を引き継ぐ場合が対象です。</p>
            </dd>
          </div>
        </dl>

        <h3 id="link02" class="c-Heading_Lv3 u-Adjust_Mt-40">請求・お支払いに関わる手数料</h3>
        <p class="u-Adjust_Mt-8">お支払い方法により手数料が異なります。</p>

        <dl class="c-Dl_Origin u-Adjust_Mt-16">
          <div>
            <dt>口座振替手数料</dt>
            <dd>
              100円（税込110円）／月
            </dd>
          </div>
          <div>
            <dt>代金引換手数料</dt>
            <dd>
              <table class="c-Table_Container u-Adjust_Mt-16" style="border: 1px solid#000">
                <thead>
                  <tr>
                    <th style="background: #E7E6E6;">商品合計額</th>
                    <th style="background: #E7E6E6;">代金引換手数料</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="background: #E7E6E6;">～9,999円の場合</td>
                    <td>300円（税込330円）</td>
                  </tr>
                  <tr>
                    <td style="background: #E7E6E6;">～29,999円の場合</td>
                    <td>400円（税込440円）</td>
                  </tr>
                  <tr>
                    <td style="background: #E7E6E6;">～99,999円の場合</td>
                    <td>600円（税込660円）</td>
                  </tr>
                  <tr>
                    <td style="background: #E7E6E6;">～300,000円の場合</td>
                    <td>1,000円（税込1,100円）</td>
                  </tr>
                </tbody>
              </table>

              <p class="c-Txt_Cap u-Adjust_Mt-40">※商品合計額は、製品購入費＋アクセサリ購入費＋送料の税込の合計額です。商品合計額により、代金引換手数料が異なります。<br>
              ※送料含む商品合計額が税込300,001 円以上の場合、代金引換のお支払いはご利用できません。</p>
            </dd>
          </div>
          <div>
            <dt>請求書発行手数料</dt>
            <dd>
              <p>200円（税込220円）</p>
              <p class="u-Adjust_Mt-8" style="font-size: 12px;">※「サービス停止・契約解除通告」の請求書を発行する場合のみ発生します。<br>
              ※未払い月ごとに加算されます。</p>
            </dd>
          </div>
          <div>
            <dt>コンビニ支払い手数料</dt>
            <dd>
              <p class="u-Adjust_Mt-16">※2021年12月1日より変更となっております。</p>

              <p class="u-Adjust_Mt-16">コンビニ支払い手数料一覧</p>
              <table class="c-Table_Container u-Adjust_Mt-16" style="border: 1px solid#000">
                <thead>
                  <tr>
                    <th style="background: #E7E6E6;">ご請求金額</th>
                    <th style="background: #E7E6E6;">対象コンビニ1</th>
                    <th style="background: #E7E6E6;">対象コンビニ2</th>
                    <th style="background: #E7E6E6;">対象コンビニ3</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="background: #E7E6E6;">～10,000円未満の場合</td>
                    <td>100円（税込110円）</td>
                    <td>100円（税込110円）</td>
                    <td>60円（税込66円）</td>
                  </tr>
                  <tr>
                    <td style="background: #E7E6E6;">～50,000円未満の場合</td>
                    <td>200円（税込220円）</td>
                    <td>200円（税込220円）</td>
                    <td>100円（税込110円）</td>
                  </tr>
                  <tr>
                    <td style="background: #E7E6E6;">50,000円以上の場合</td>
                    <td>400円（税込440円）</td>
                    <td>500円（税込550円）</td>
                    <td>300円（税込330円）</td>
                  </tr>
                </tbody>
              </table>

              <p class="c-Txt_Cap u-Adjust_Mt-8">対象コンビニ1：セブン-イレブン<br>
              対象コンビニ2：ローソン、ファミリーマート、セイコーマート（北海道・関東のみ）デイリーヤマザキ、ヤマザキデイリーストア、ニューヤマザキデイリーストアヤマザキスペシャルパートナーシップ、ハマナスクラブ（北海道のみ）、ミニストップ<br>
              対象コンビニ3：ポプラ、生活彩家、くらしハウス、スリーエイト、マルチメディアキオスク（MMK）</p>
              <p class="c-Txt_Cap u-Adjust_Mt-16">2021年12月9日更新</p>
              <p class="c-Txt_Cap u-Adjust_Mt-32">※ご請求金額は、税込の金額です。ご請求金額や対象コンビニにより、コンビニ支払い手数料が異なります。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※ミニストップの手数料は2021年12月1日 0:00より対象コンビニ3から対象コンビニ2の料金に変更となりました。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※コミュニティ・ストアは2021年11月末でコンビニ事業撤退のため、対象コンビニより除外しました。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※電子決済サービスでコンビニ払込票（ハガキ）をお支払いの場合、各サービスの手数料がご請求金額に加算され、「コンビニ支払い手数料」は発生しません。手数料の詳細は、各サービスのWeb ページをご確認ください。</p>
            </dd>
          </div>
        </dl>

        <h3 id="link03" class="c-Heading_Lv3 u-Adjust_Mt-40">配送に関わる手数料</h3>

        <dl class="c-Dl_Origin u-Adjust_Mt-16">
          <div>
            <dt>送料</dt>
            <dd>
              <p>819 円（税込900円）</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※アクセサリのみ購入時に発生します。お申し込み内容にアクセサリを除く製品またはプラン（SIM）が含まれる場合、送料は発生しません。</p>
            </dd>
          </div>
          <div>
            <dt>書類郵送サービス手数料</dt>
            <dd>
              <p>300 円（税込330円）</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※利用明細、支払い証明書、購入証明書、通話明細などの発行、郵送が対象です。</p>
              <p class="c-Txt_Cap">※上記明細・証明書等1種類（1ヶ月分 もしくは1購入分）あたり、または1通あたりにつき300円（税込330円）が請求に加算されます。</p>
            </dd>
          </div>
        </dl>
      </div>
    </div>




    <%- include('/include/guide/_review') %>
    <%- include('/include/guide/_inquiry') %>

    <footer class="g-Footer">

      <div class="g-Footer_Aside">



        <%- include('/include/footer/bnr/_bnr.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>

      <%- include('/include/_footer') %>

    </footer>

  </div>
  <%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>



</body>
</html>
