<%_
const namespace = "area-city"
const imgPath = "/assets/img/area/city/"
_%>

<section class="<%= namespace %>-Anchor">
  <div class="<%= namespace %>-Anchor_Wrapper <%= namespace %>-Anchor_Pc-show">
    <div class="<%= namespace %>-Anchor_Contents u-Adjust_Mt-16">
      <%# Anchor area %>
      <div class="<%= namespace %>-Anchor_Contents-item">
        <a href="#city-map"
        <%_ if( jData.directory2 ) { _%>
          data-ratid="city_anchor_area" data-ratevent="click" data-ratparam="all"
        <%_ } else { _%>
          data-ratid="prefecture_anchor_area" data-ratevent="click" data-ratparam="all"
        <%_ } _%>
        class="<%= namespace %>-Anchor_Contents-arrow js-scroll">
          <img src="<%= imgPath %>icon/area-icon-status.png" alt="エリア・通信品質">
          <p class="<%= namespace %>-Anchor_Contents-title">エリア・通信品質</p>
          <span class="c-Icon_Arrow-down-l"></span>
        </a>
      </div>
      <%# Anchor news %>
      <% if (jData.x_account || jData.bn1_img_pc) { %>
      <div class="<%= namespace %>-Anchor_Contents-item">
        <a href="#city-news"
        <%_ if( jData.directory2 ) { _%>
          data-ratid="city_anchor_news" data-ratevent="click" data-ratparam="all"
        <%_ } else { _%>
          data-ratid="prefecture_anchor_news" data-ratevent="click" data-ratparam="all"
        <%_ } _%>
        class="<%= namespace %>-Anchor_Contents-arrow js-scroll">
          <img src="<%= imgPath %>icon/area-icon-news.png" alt="エリアニュース">
          <p class="<%= namespace %>-Anchor_Contents-title">エリアニュース</p>
          <span class="c-Icon_Arrow-down-l"></span>
        </a>
      </div>
      <% } %>
      <%# Anchor shop %>
      <div class="<%= namespace %>-Anchor_Contents-item">
        <a href="#city-shop"
        <%_ if( jData.directory2 ) { _%>
          data-ratid="city_anchor_shop" data-ratevent="click" data-ratparam="all"
        <%_ } else { _%>
          data-ratid="prefecture_anchor_shop" data-ratevent="click" data-ratparam="all"
        <%_ } _%>
          class="<%= namespace %>-Anchor_Contents-arrow js-scroll">
          <img src="<%= imgPath %>icon/area-icon-shop.png" alt="ショップ情報">
          <p class="<%= namespace %>-Anchor_Contents-title">ショップ情報</p>
          <span class="c-Icon_Arrow-down-l"></span>
        </a>
      </div>
      <%# Anchor user-voice %>
      <div class="<%= namespace %>-Anchor_Contents-item">
        <a href="#city-voice"
        <%_ if( jData.directory2 ) { _%>
          data-ratid="city_anchor_uservoice" data-ratevent="click" data-ratparam="all"
        <%_ } else { _%>
          data-ratid="prefecture_anchor_uservoice" data-ratevent="click" data-ratparam="all"
        <%_ } _%>
          class="<%= namespace %>-Anchor_Contents-arrow js-scroll">
          <img src="<%= imgPath %>icon/area-icon-info.png" alt="お客様の声">
          <p class="<%= namespace %>-Anchor_Contents-title">お客様の声</p>
          <span class="c-Icon_Arrow-down-l"></span>
        </a>
      </div>

      <%# Anchor product %>
      <div class="<%= namespace %>-Anchor_Contents-item">
        <a href="#city-product-a"
        <%_ if( jData.directory2 ) { _%>
          data-ratid="city_anchor_product" data-ratevent="click" data-ratparam="all"
        <%_ } else { _%>
          data-ratid="prefecture_anchor_product" data-ratevent="click" data-ratparam="all"
        <%_ } _%>
          class="<%= namespace %>-Anchor_Contents-arrow js-scroll">
          <img src="<%= imgPath %>icon/area-icon-product.png" alt="製品一覧">
          <p class="<%= namespace %>-Anchor_Contents-title">製品一覧</p>
          <span class="c-Icon_Arrow-down-l"></span>
        </a>
      </div>
    </div>
  </div>

  <div class="<%= namespace %>-Anchor_Wrapper <%= namespace %>-Anchor_Sp-show">
    <div class="<%= namespace %>-Anchor_Contents u-Adjust_Mt-16">
      <div class="<%= namespace %>-Anchor_Contents-sp" id="js-anchor-wrap">
        <%# Anchor area SP %>
        <div class="<%= namespace %>-Anchor_Contents-item">
          <a href="#city-map"
          <%_ if( jData.directory2 ) { _%>
            data-ratid="city_anchor_area" data-ratevent="click" data-ratparam="all"
          <%_ } else { _%>
            data-ratid="prefecture_anchor_area" data-ratevent="click" data-ratparam="all"
          <%_ } _%>
            class="<%= namespace %>-Anchor_Contents-arrow js-scroll">
            <img src="<%= imgPath %>icon/area-icon-status.png" alt="エリア拡大状況">
            <p class="<%= namespace %>-Anchor_Contents-title">エリア<br/>通信品質</p>
            <span class="c-Icon_Arrow-down-l"></span>
          </a>
        </div>
        <%# Anchor news SP %>
        <% if (jData.x_account || jData.bn1_img_pc) { %>
        <div class="<%= namespace %>-Anchor_Contents-item">
          <a href="#city-news"
          <%_ if( jData.directory2 ) { _%>
            data-ratid="city_anchor_news" data-ratevent="click" data-ratparam="all"
          <%_ } else { _%>
            data-ratid="prefecture_anchor_news" data-ratevent="click" data-ratparam="all"
          <%_ } _%>
            class="<%= namespace %>-Anchor_Contents-arrow js-scroll">
            <img src="<%= imgPath %>icon/area-icon-news.png" alt="エリアニュース">
            <p class="<%= namespace %>-Anchor_Contents-title">エリア<br/>ニュース</p>
            <span class="c-Icon_Arrow-down-l"></span>
          </a>
        </div>
        <% } %>
        <%# Anchor shop SP %>
        <div class="<%= namespace %>-Anchor_Contents-item">
          <a href="#city-shop"
          <%_ if( jData.directory2 ) { _%>
            data-ratid="city_anchor_shop" data-ratevent="click" data-ratparam="all"
          <%_ } else { _%>
            data-ratid="prefecture_anchor_shop" data-ratevent="click" data-ratparam="all"
          <%_ } _%>
            class="<%= namespace %>-Anchor_Contents-arrow js-scroll">
            <img src="<%= imgPath %>icon/area-icon-shop.png" alt="ショップ情報">
            <p class="<%= namespace %>-Anchor_Contents-title">ショップ<br/>情報</p>
            <span class="c-Icon_Arrow-down-l"></span>
          </a>
        </div>
        <%# Anchor user-voice SP %>
        <div class="<%= namespace %>-Anchor_Contents-item">
          <a href="#city-voice"
          <%_ if( jData.directory2 ) { _%>
            data-ratid="city_anchor_uservoice" data-ratevent="click" data-ratparam="all"
          <%_ } else { _%>
            data-ratid="prefecture_anchor_uservoice" data-ratevent="click" data-ratparam="all"
          <%_ } _%>
            class="<%= namespace %>-Anchor_Contents-arrow js-scroll">
            <img src="<%= imgPath %>icon/area-icon-info.png" alt="お客様の声">
            <p class="<%= namespace %>-Anchor_Contents-title-last">お客様の声</p>
            <span class="c-Icon_Arrow-down-l"></span>
          </a>
        </div>
        <%# Anchor product SP %>
        <div class="<%= namespace %>-Anchor_Contents-item">
          <a href="#city-product-a"
          <%_ if( jData.directory2 ) { _%>
            data-ratid="city_anchor_product" data-ratevent="click" data-ratparam="all"
          <%_ } else { _%>
            data-ratid="prefecture_anchor_product" data-ratevent="click" data-ratparam="all"
          <%_ } _%>
            class="<%= namespace %>-Anchor_Contents-arrow js-scroll">
            <img src="<%= imgPath %>icon/area-icon-product.png" alt="製品一覧">
            <p class="<%= namespace %>-Anchor_Contents-title-last">製品一覧</p>
            <span class="c-Icon_Arrow-down-l"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
