<% const namespace = "area-city" -%>
<% const imgPath = "/assets/img/area/city/" -%>

<section class="<%= namespace %>-Case u-Adjust_Pt-40 u-Adjust_Pb-48 u-Adjust_Pb-pc-64">
  <div class="l-System_Container">
    <h2 class="<%= namespace %>-Case_Heading u-Adjust_Align-center">全国の企業様 導入事例</h2>
    <div class="<%= namespace %>-Case_List l-Media_Grid-half u-Adjust_Mt-24 u-Adjust_Mt-pc-32">
      <div>
        <a href="https://business.mobile.rakuten.co.jp/case/0007/?sid=area_<%_ if( jData.directory2 ) { _%>city_<%= jData.directory1 %>_<%= jData.directory2 %><%_ } else { _%>prefecture_<%= jData.directory1 %><%_ } _%>_corporate_01" target="_blank" class="<%= namespace %>-Case_Card c-Card_Normal">
          <div class="<%= namespace %>-Case_Card-image">
            <img src="<%= imgPath %>case/case-img04.jpg" width="162" height="122" alt="古本買取通販ドットコム株式会社">
          </div>
          <div class="<%= namespace %>-Case_Card-content">
            <h3 class="<%= namespace %>-Case_Card-heading">備前市</h3>
            <p class="<%= namespace %>-Case_Card-text">市の取り組みにより、「だれ 1 人取り残さないスマホ社会」の実現に成功</p>
          </div>
        </a>
      </div>
      <div>
        <a href="https://business.mobile.rakuten.co.jp/case/0006/?sid=area_<%_ if( jData.directory2 ) { _%>city_<%= jData.directory1 %>_<%= jData.directory2 %><%_ } else { _%>prefecture_<%= jData.directory1 %><%_ } _%>_corporate_02" target="_blank" class="<%= namespace %>-Case_Card c-Card_Normal">
          <div class="<%= namespace %>-Case_Card-image">
            <img src="<%= imgPath %>case/case-img03.jpg" width="162" height="122" alt="学校法人 持田学園 有馬平百合幼稚園">
          </div>
          <div class="<%= namespace %>-Case_Card-content">
            <h3 class="<%= namespace %>-Case_Card-heading">学校法人 持田学園 有馬白百合幼稚園</h3>
            <p class="<%= namespace %>-Case_Card-text">業務のデジタル化で園児の安心安全な環境作りを実施</p>
          </div>
        </a>
      </div>
    </div>
    <div class="<%= namespace %>-Case_List l-Media_Grid-half u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
      <div>
        <a href="https://business.mobile.rakuten.co.jp/case/0002/?sid=area_<%_ if( jData.directory2 ) { _%>city_<%= jData.directory1 %>_<%= jData.directory2 %><%_ } else { _%>prefecture_<%= jData.directory1 %><%_ } _%>_corporate_03" target="_blank" class="<%= namespace %>-Case_Card c-Card_Normal">
          <div class="<%= namespace %>-Case_Card-image">
            <img src="<%= imgPath %>case/case-img01.jpg" width="162" height="122" alt="MIC株式会社">
          </div>
          <div class="<%= namespace %>-Case_Card-content">
            <h3 class="<%= namespace %>-Case_Card-heading">MIC株式会社</h3>
            <p class="<%= namespace %>-Case_Card-text">スムーズな切り替えに成功 潜在的なコスト削減に貢献</p>
          </div>
        </a>
      </div>
      <div>
        <a href="https://business.mobile.rakuten.co.jp/case/0003/?sid=area_<%_ if( jData.directory2 ) { _%>city_<%= jData.directory1 %>_<%= jData.directory2 %><%_ } else { _%>prefecture_<%= jData.directory1 %><%_ } _%>_corporate_04" target="_blank" class="<%= namespace %>-Case_Card c-Card_Normal">
          <div class="<%= namespace %>-Case_Card-image">
            <img src="<%= imgPath %>case/case-img02.jpg" width="162" height="122" alt="株式会社ラキール">
          </div>
          <div class="<%= namespace %>-Case_Card-content">
            <h3 class="<%= namespace %>-Case_Card-heading">株式会社ラキール</h3>
            <p class="<%= namespace %>-Case_Card-text">より安くより多くのギガ数を使用できるプランで安心の管理体制を実現</p>
          </div>
        </a>
      </div>
    </div>
    <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
      <a class="c-Banner_Hover-act" href="https://business.mobile.rakuten.co.jp/?scid=wi_prefecture_corporate_bnr" target="_blank">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>case/bnr-business-328-185-20231205.png" max-width="440">
          <img src="<%= imgPath %>case/bnr-business-1032-160-20231205.png" width="1032" height="160" loading="lazy" alt="楽天モバイル法人プラン。今すぐお見積り＆お申し込みを。詳しくはこちらをクリック">
        </picture>
      </a>
    </div>
  </div>
</section>
