<%_
const namespace = "area-city"
const imgPath = "/assets/img/area/city/"
_%>
  <div class="<%= namespace %>-Followmenu_Wrapper" id="js-follow-btn" aria-expanded="false">
    <ul class="<%= namespace %>-Followmenu_List">
      <li>
        <a href="#city_price"
        <%_ if( jData.directory2 ) { _%>
        data-ratid="city_anchor_price" data-ratevent="click"　data-ratparam="all"
        <%_ } else { _%>
        data-ratid="prefecture_anchor_price" data-ratevent="click"　data-ratparam="all"
        <%_ } _%>
        class="c-Link_Txt-icon-front js-scroll">
        <span class="c-Icon_Arrow-down-l u-Show_Xxo"></span>
        <p class="<%= namespace %>-Followmenu_List-content c-Txt_Emp-01">
          <span class="<%= namespace %>-Followmenu_List-txt <%= namespace %>-Utility_Show-pc">料金プラン</span>
          <span class="<%= namespace %>-Followmenu_List-txt <%= namespace %>-Utility_Show-sp">料金プラン</span>
        </p>
        <span class="<%= namespace %>-Followmenu_List-img"><img src="<%= imgPath %>icon/area-icon-plan.png" loading="lazy" alt="料金プラン"></span>
        </a>
      </li>
      <% if (jData.x_account || jData.bn1_img_pc) { %>
        <li>
          <a href="#city-news"
          <%_ if( jData.directory2 ) { _%>
            data-ratid="city_anchor_area" data-ratevent="click"　data-ratparam="all"
          <%_ } else { _%>
            data-ratid="prefecture_anchor_area" data-ratevent="click"　data-ratparam="all"
          <%_ } _%>
          class="c-Link_Txt-icon-front js-scroll">
          <span class="c-Icon_Arrow-down-l u-Show_Xxo"></span>
          <p class="<%= namespace %>-Followmenu_List-content c-Txt_Emp-01">
            <span class="<%= namespace %>-Followmenu_List-txt <%= namespace %>-Utility_Show-pc">エリアニュース</span>
            <span class="<%= namespace %>-Followmenu_List-txt <%= namespace %>-Utility_Show-sp">ニュース</span>
          </p>
          <span class="<%= namespace %>-Followmenu_List-img"><img src="<%= imgPath %>icon/area-icon-news.png"　loading="lazy" width="24" height="24" alt="エリアニュース"></span>
          </a>
        </li>
      <% } %>
      <li>
        <a href="#city-shop"
        <%_ if( jData.directory2 ) { _%>
          data-ratid="city_anchor_shop" data-ratevent="click" data-ratparam="all"
        <%_ } else { _%>
          data-ratid="prefecture_anchor_shop" data-ratevent="click" data-ratparam="all"
        <%_ } _%>
        class="c-Link_Txt-icon-front js-scroll">
        <span class="c-Icon_Arrow-down-l u-Show_Xxo"></span>
        <p class="<%= namespace %>-Followmenu_List-content c-Txt_Emp-01">
          <span class="<%= namespace %>-Followmenu_List-txt <%= namespace %>-Utility_Show-pc">ショップ情報</span>
          <span class="<%= namespace %>-Followmenu_List-txt <%= namespace %>-Utility_Show-sp">ショップ</span>
        </p>
        <span class="<%= namespace %>-Followmenu_List-img"><img src="<%= imgPath %>icon/area-icon-shop.png" loading="lazy" width="24" height="24" alt="ショップ情報"></span>
        </a>
      </li>
      <li>
        <a href="#city-voice"
        <%_ if( jData.directory2 ) { _%>
          data-ratid="city_anchor_uservoice" data-ratevent="click" data-ratparam="all"
        <%_ } else { _%>
          data-ratid="prefecture_anchor_uservoice" data-ratevent="click" data-ratparam="all"
        <%_ } _%>
        class="c-Link_Txt-icon-front js-scroll">
        <span class="c-Icon_Arrow-down-l u-Show_Xxo"></span>
        <p class="<%= namespace %>-Followmenu_List-content c-Txt_Emp-01">
          <span class="<%= namespace %>-Followmenu_List-txt <%= namespace %>-Followmenu_List-uservoice">お客様の声</span>
        </p>
        <span class="<%= namespace %>-Followmenu_List-img"><img src="<%= imgPath %>icon/area-icon-info.png" loading="lazy" width="24" height="24" alt="お客様の声"></span>
        </a>
      </li>
    </ul>
  </div>
