<% const namespace = "area-city" -%>
<% const imgPath = "/assets/img/area/city/" -%>
<% const pagearea = jData.directory2 ? jData.city : jData.pref; -%>

<section class="u-Adjust_Mt-56">
  <div class="l-System_Container">
    <div class="<%= namespace %>-Inquiry_Wrap">
      <%_ if( jData.directory2 ) { _%>
        <h3 class="c-Heading_Lv3" data-ratid="city_area_inquiry" data-ratevent="appear" data-ratparam="all"><%= pagearea %>のサービスエリアに関するお問い合わせ・ご要望</h3>
      <%_ } else { _%>
        <h3 class="c-Heading_Lv3" data-ratid="prefecture_area_inquiry" data-ratevent="appear" data-ratparam="all"><%= pagearea %>のサービスエリアに関するお問い合わせ・ご要望</h3>
      <%_ } _%>
      <div class="<%= namespace %>-Inquiry_info u-Adjust_Mt-16">
        <div>
          <p>楽天モバイルご利用者様にご満足いただけるよう、電波に関する改善を行っております。</p>
          <p>つながらない、速度が遅いと感じられる場合など、電波改善のご要望は以下のフォームよりご意見・ご要望をお聞かせください。</p>    
          <p class="<%= namespace %>-Inquiry_info-btn u-Adjust_Mt-16">
            <a href="https://r10.to/hN2BFc" class="c-Btn_Regular <%= namespace %>-Inquiry_Btn"><span>電波改善要望フォーム</span></a>
          </p>
        </div>
        <img src="<%= imgPath %>gb-image-1.png" width="270" height="142" alt="楽天モバイルのサービスエリアに関するお問い合わせとご要望">
      </div>
      <p class="u-Adjust_Mt-24">楽天モバイル法人プランをご契約中のお客様は、「<a href="https://business-portal.mobile.rakuten.co.jp/?l-id=area_<%_ if( jData.directory2 ) { _%>city_<%= jData.directory1 %>_<%= jData.directory2 %><%_ } else { _%>prefecture_<%= jData.directory1 %><%_ } _%>_my-rm-office" class="c-Link_Txt">my 楽天モバイル Office</a>」のお問い合わせフォームよりご依頼ください。</p>
      <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>support/link/manual/?l-id=area_<%_ if( jData.directory2 ) { _%>city_<%= jData.directory1 %>_<%= jData.directory2 %><%_ } else { _%>prefecture_<%= jData.directory1 %><%_ } _%>_link-support" class="c-Link_Txt-inline">Rakuten Linkに関するサポートを確認する<span class="c-Icon_Chevron-right"></span></a></p>
      <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>support/?l-id=area_<%_ if( jData.directory2 ) { _%>city_<%= jData.directory1 %>_<%= jData.directory2 %><%_ } else { _%>prefecture_<%= jData.directory1 %><%_ } _%>_initial-setting" class="c-Link_Txt-inline">初期設定やその他のお問い合わせ<span class="c-Icon_Chevron-right"></span></a></p>
    </div>
  </div>
</section>
