<%_
const namespace = "area-city"
const imgPath = "/assets/img/area/city/"
_%>
<% if (jData.attention1_title) { %>
<div class="top-Important">
  <div class="l-System_Container">
    <div class="c-Accordion top-Important_Notices">
      <button type="button" id="accordion-top" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-top"><span class="c-Icon_Chevron-right c-Accordion_Arrow top-Important_Notices-arrow"></span>重要なお知らせ</button>
      <div id="accordion-content-top" class="c-Accordion_Panel js-Accordion_Panel top-Important_Notices-panel" role="region" aria-labelledby="accordion-top" aria-hidden="false">
        <div id="important-notices">
          <div class="c-Attention_Alert">
            <div class="c-Attention_Container">
              <span class="c-Attention_Icon c-Icon_Sign-warning-l"></span>
              <p class="c-Attention_Body"><a href="<%= jData.attention1_url %>" target="_blank"><%= jData.attention1_title %></a></p>
            </div>
          </div>
          <% if (jData.attention2_title) { %>
          <div class="c-Attention_Alert">
            <div class="c-Attention_Container">
              <span class="c-Attention_Icon c-Icon_Sign-warning-l"></span>
              <p class="c-Attention_Body"><a href="<%= jData.attention2_url %>" target="_blank"><%= jData.attention2_title %></a></p>
            </div>
          </div>
          <% } %>
          <% if (jData.attention3_title) { %>
          <div class="c-Attention_Alert">
            <div class="c-Attention_Container">
              <span class="c-Attention_Icon c-Icon_Sign-warning-l"></span>
              <p class="c-Attention_Body"><a href="<%= jData.attention3_url %>" target="_blank"><%= jData.attention3_title %></a></p>
            </div>
          </div>
          <% } %>
          <% if (jData.attention4_title) { %>
          <div class="c-Attention_Alert">
            <div class="c-Attention_Container">
              <span class="c-Attention_Icon c-Icon_Sign-warning-l"></span>
              <p class="c-Attention_Body"><a href="<%= jData.attention4_url %>" target="_blank"><%= jData.attention4_title %></a></p>
            </div>
          </div>
          <% } %>
          <% if (jData.attention5_title) { %>
          <div class="c-Attention_Alert">
            <div class="c-Attention_Container">
              <span class="c-Attention_Icon c-Icon_Sign-warning-l"></span>
              <p class="c-Attention_Body"><a href="<%= jData.attention5_url %>" target="_blank"><%= jData.attention5_title %></a></p>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
<% } %>
