<%_
const pagearea = jData.directory2 ? jData.city : jData.pref;
const namespace = "area-city"
const imgPath = "/assets/img/area/city/"
_%>

<div id="city-news">
  <% if (jData.x_account || jData.bn1_img_pc) { %>
    <section class="<%= namespace %>-Layout_Bg-pink <%= namespace %>-News u-Adjust_Pb-48 u-Adjust_Pb-pc-64 u-Adjust_Align-center">
      <div class="<%= namespace %>-Layout_Data u-Rat_Appear-height" data-ratid="city_news" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
      <div class="<%= namespace %>-Layout_Arrow u-Adjust_Pt-16 u-Adjust_Pb-16">
        <div class="l-System_Container">
          <img src="<%= imgPath %>news/news-title-icon.png" class="<%= namespace %>-Layout_Icon" alt="お客様の声">
          <span class="<%= namespace %>-Layout_Title">エリアニュース</span>
        </div>
      </div>

      <% if (jData.x_account) { %>
      <div class="u-Adjust_Mt-40 l-System_Container">
        <h3 class="<%= namespace %>-News_Heading"><%= pagearea %>の楽天モバイル社員や<br class="u-Show_Oox">ショップスタッフが地元情報をお届け！</h3>
        <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
          <a class="c-Banner_Hover-act" href="https://twitter.com/<%= jData.x_account %>" target="_blank" data-ratid="area_xbnr_<%_ if( jData.directory2 ) { _%>city_<%= jData.directory1 %>_<%= jData.directory2 %><%_ } else { _%>prefecture_<%= jData.directory1 %><%_ } _%>" data-ratevent="click" data-ratparam="all">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>news/<%= jData.x_bn_sp %>" width="686" height="217">
              <img src="<%= imgPath %>news/<%= jData.x_bn_pc %>" width="1032" height="160" loading="lazy" alt="">
            </picture>
          </a>
        </div>
      </div>
      <% } %>

      <% if (jData.bn1_img_pc) { %>
        <div class="u-Adjust_Mt-40 l-System_Container">
          <h3 class="<%= namespace %>-News_Heading"><%= pagearea %>で開催中のキャンペーン</h3>
          <div class="c-Carousel area-city-News_Carousel js-areanews-Carousel u-Adjust_Mt-24">
            <% if (jData.bn1_url) { %>
            <a class="c-Banner_Hover-act" href="<%= jData.bn1_url %>"<% if (jData.bn1_blank) { %> target="_blank"<% } %>>
            <% } %>
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>news/<%= jData.bn1_img_sp %>" width="686" height="388">
                <img src="<%= imgPath %>news/<%= jData.bn1_img_pc %>" width="504" height="158" loading="lazy" alt="<%= jData.bn1_alt %>">
              </picture>
            <% if (jData.bn1_url) { %>
            </a>
            <% } %>
            <% if (jData.bn2_img_pc) { %>
            <% if (jData.bn2_url) { %>
            <a class="c-Banner_Hover-act" href="<%= jData.bn2_url %>"<% if (jData.bn2_blank) { %> target="_blank"<% } %>>
            <% } %>
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>news/<%= jData.bn2_img_sp %>" width="686" height="388">
                <img src="<%= imgPath %>news/<%= jData.bn2_img_pc %>" width="504" height="158" loading="lazy" alt="<%= jData.bn2_alt %>">
              </picture>
            <% if (jData.bn2_url) { %>
            </a>
            <% } %>
            <% } %>
            <% if (jData.bn3_img_pc) { %>
            <% if (jData.bn3_url) { %>
            <a class="c-Banner_Hover-act" href="<%= jData.bn3_url %>"<% if (jData.bn3_blank) { %> target="_blank"<% } %>>
            <% } %>
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>news/<%= jData.bn3_img_sp %>" width="686" height="388">
                <img src="<%= imgPath %>news/<%= jData.bn3_img_pc %>" width="504" height="158" loading="lazy" alt="<%= jData.bn3_alt %>">
              </picture>
            <% if (jData.bn3_url) { %>
            </a>
            <% } %>
            <% } %>
            <% if (jData.bn4_img_pc) { %>
            <% if (jData.bn4_url) { %>
            <a class="c-Banner_Hover-act" href="<%= jData.bn4_url %>"<% if (jData.bn4_blank) { %> target="_blank"<% } %>>
            <% } %>
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>news/<%= jData.bn4_img_sp %>" width="686" height="388">
                <img src="<%= imgPath %>news/<%= jData.bn4_img_pc %>" width="504" height="158" loading="lazy" alt="<%= jData.bn4_alt %>">
              </picture>
            <% if (jData.bn4_url) { %>
            </a>
            <% } %>
            <% } %>
          </div>
          <div class="c-Carousel_Nav-v2-wrap">
            <div class="c-Carousel_Nav-v2"></div>
            <div class="c-Carousel_Nav-v2-bar"></div>
          </div>
        </div>
      <% } %>

    </section>
  <% } %>
</div>
