<% const namespace = "area-city" -%>
<% const imgPath = "/assets/img/area/city/" -%>

<section class="<%= namespace %>-Layout_Bg-pink u-Adjust_Pb-48 u-Adjust_Pb-pc-64" id="js-trigger">
  <%_ if( jData.directory2 ) { _%>
    <div class="<%= namespace %>-Layout_Data u-Rat_Appear-height" data-ratid="city_price" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
  <%_ } else { _%>
    <div class="<%= namespace %>-Layout_Data u-Rat_Appear-height" data-ratid="prefecture_price" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
  <%_ } _%>
  <div class="<%= namespace %>-Layout_Arrow u-Adjust_Pt-16 u-Adjust_Pb-16" id="city_price">
    <div class="l-System_Container u-Adjust_Align-center">
      <img src="<%= imgPath %>plan/Plan-title-icon.png" class="<%= namespace %>-Layout_Icon" alt="料金プラン">
      <span class="<%= namespace %>-Layout_Title">料金プラン</span>
    </div>
  </div>
  <div class="<%= namespace %>-Plan_Wrapper l-System_Container u-Adjust_Align-center">
    <%# plan main img %>
    <div>
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>plan/Plan-saikyo-2-sp.png?20240430" width="686" height="624">
        <img src="<%= imgPath %>plan/Plan-saikyo-2-pc.png?20240430" width="1032" height="355" loading="lazy" alt="全キャリア最安 データ3GB/無制限で家族割引適用時 3GBまで880円（税込968円）/月〜 データ高速無制限2,880円（税込3,168円）/月">
      </picture>
      <div class="<%= namespace %>-Plan_Txt-info c-Txt_Cap u-Adjust_Mt-8 u-Align_Llc">
        <p>
          ※5 家族割引のみを適用し、その他の割引は含めない場合。2024年2月時点。自社調べ<br class="u-Show_Oox">
          ※6 公平なサービス提供または環境により速度低下する場合あり
        </p>
      </div>
      <div class="u-Adjust_Mt-8">
        <a href="<%= sitepath %>fee/saikyo-plan/?l-id=area_<%_ if( jData.directory2 ) { _%>city_<%= jData.directory1 %>_<%= jData.directory2 %><%_ } else { _%>prefecture_<%= jData.directory1 %><%_ } _%>_fee_saikyo-plan" class="c-Btn_Regular-large">詳細を見る</a>
      </div>
      <div class="u-Adjust_Mt-32">
        <a href="<%= sitepath %>fee/youth/?l-id=area_<%_ if( jData.directory2 ) { _%>city_<%= jData.directory1 %>_<%= jData.directory2 %><%_ } else { _%>prefecture_<%= jData.directory1 %><%_ } _%>_fee_youth" class="c-Banner_Hover-act">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>plan/bnr-seishun-sp.png" width="686" height="216">
            <img src="<%= imgPath %>plan/bnr-seishun-pc.png" alt="最強青春プログラムU22 さらに22歳までの方なら毎月110ポイント還元! 要エントリー" width="1032" height="72" loading="lazy">
          </picture>
        </a>
      </div>
      <p class="c-Txt_Cap u-Adjust_Mt-8 u-Align_Llc">*期間限定ポイント。全ての条件を満たしたことが確認された月の翌々月末日ごろに付与</p>
    </div>

    <div class="u-Adjust_Mt-56 u-Adjust_Mt-pc-64">
      <h3 class="<%= namespace %>-Plan_Txt-normal">「Rakuten 最強プラン」は<br class="u-Show_Oox">家族で利用してもおトク</h3>
      <div class="u-Adjust_Mt-16">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>plan/Plan-saikyo-3-sp.png?20240221" width="686" height="552">
          <img src="<%= imgPath %>plan/Plan-saikyo-3-pc.png?20240221" width="1032" height="141" loading="lazy" alt="最強家族プログラムでもっと安くなる！紹介キャンペーンご利用で家族全員1年無料！楽天サービスのご利用でスマホ料金のお支払いが0円に！">
        </picture>
      </div>
    </div>

    <div class="<%= namespace %>-Plan_Accordion c-Accordion-emp u-Adjust_Mt-40">
        <button type="button" id="accordion-emp-1" class="c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-emp-1-content">
            <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
            <span class="<%= namespace %>-Plan_Accordion-txt c-Accordion-emp_Trigger-txt"><span class="u-Color_Primary u-Adjust_Mr-8 u-Adjust_Mr-pc-16">1</span>最強家族プログラム</span>
        </button>
        <div id="accordion-emp-1-content" class="<%= namespace %>-Plan_Accordion-panel c-Accordion-emp_Panel-step js-Accordion_Panel" role="region" aria-labelledby="accordion-emp-1" aria-hidden="false">
          <div class="<%= namespace %>-Plan_Accordion-heading u-Adjust_Mt-pc-8">
            <p>家族で使えば「Rakuten最強プラン」がもっと安くなる！<br><span class="u-Color_Primary">家族全員100円引き</span></p>
          </div>
          <div class="u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>plan/Plan-saikyo-4-sp.png?20240221" width="622" height="860">
              <img src="<%= imgPath %>plan/Plan-saikyo-4-pc.png?20240221" width="984" height="426" loading="lazy" alt="「最強家族プログラム」適用後 家族全員100円（税別）/月引きで それぞれのデータ量に応じて最適な料金に">
            </picture>
            <p class="c-Txt_Cap u-Adjust_Mt-16 u-Align_Llc">※7 公平なサービス提供または環境により速度低下する場合あり※通話料等別 </p>
          </div>
        </div>
    </div>

    <div class="<%= namespace %>-Plan_Accordion c-Accordion-emp u-Adjust_Mt-40">
      <button type="button" id="accordion-emp-2" class="c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-emp-2-content">
        <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
        <span class="<%= namespace %>-Plan_Accordion-txt c-Accordion-emp_Trigger-txt"><span class="u-Color_Primary u-Adjust_Mr-8 u-Adjust_Mr-pc-16">2</span>家族全員1年無料！紹介キャンペーン</span>
      </button>
      <div id="accordion-emp-2-content" class="<%= namespace %>-Plan_Accordion-panel c-Accordion-emp_Panel-step js-Accordion_Panel" role="region" aria-labelledby="accordion-emp-2" aria-hidden="false">
        <div class="<%= namespace %>-Plan_Accordion-heading u-Adjust_Mt-pc-8">
          <p>紹介キャンペーンご利用で<br class="u-Show_Oox">ポイントを獲得して<br><span class="u-Color_Primary">家族全員1年無料に</span></p>
        </div>
        <p class="<%= namespace %>-Plan_Accordion-heading2 u-Adjust_Mt-32">紹介キャンペーン併用なら、<br class="u-Show_Oox">もーっとおトク！</p>
        <div class="u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>plan/Plan-saikyo-5-sp.png?20240221" width="622" height="960">
            <img src="<%= imgPath %>plan/Plan-saikyo-5-pc.png?20240221" width="984" height="325" loading="lazy" alt="家族で紹介し合うと… 紹介する方 紹介1人につき7,000ポイントプレゼント！ 紹介される方 初めてのお申し込み＆電話番号そのまま乗り換えで13,000ポイントプレゼント！1人申し込むごとに合計2万ポイント獲得">
          </picture>
          <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Mt-pc-0">※ポイントは期間限定ポイントで分割付与</p>
        </div>
        <div class="<%= namespace %>-Plan_Accordion-box u-Adjust_Mt-32">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>plan/Plan-saikyo-6-sp.png?20240221" width="558" height="1200">
            <img src="<%= imgPath %>plan/Plan-saikyo-6-pc.png?20240221" width="888" height="577" loading="lazy" alt="だから家族6人で利用すると 合計10万ポイント獲得！！ つまり家族全員3GBまで実質1年無料">
          </picture>
          <p class="c-Txt_Cap u-Adjust_Mt-16 u-Align_Llc">※ポイントは4カ月後から分割付与<br>
            ※「実質価格」とは、キャンペーンの条件達成により後日付与されるポイントを加味した価格であり、実際のお支払い金額とは異なります。詳しくは<a href="<%= sitepath %>campaign/referral/#campaign-rule1784">こちら</a>をご確認ください</p>
        </div>
        <div class="u-Adjust_Mt-24">
          <a href="<%= sitepath %>fee/family/?l-id=area_<%_ if( jData.directory2 ) { _%>city_<%= jData.directory1 %>_<%= jData.directory2 %><%_ } else { _%>prefecture_<%= jData.directory1 %><%_ } _%>_fee_family" class="c-Btn_Regular-large">紹介キャンペーンの詳細を見る</a>
        </div>
      </div>
    </div>

    <div class="<%= namespace %>-Plan_Accordion c-Accordion-emp u-Adjust_Mt-40">
      <button type="button" id="accordion-emp-3" class="c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-emp-3-content">
        <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
        <span class="<%= namespace %>-Plan_Accordion-txt c-Accordion-emp_Trigger-txt"><span class="u-Color_Primary u-Adjust_Mr-8 u-Adjust_Mr-pc-16">3</span>楽天サービスのご利用でスマホ料金のお支払いが0円に</span>
      </button>
      <div id="accordion-emp-3-content" class="<%= namespace %>-Plan_Accordion-panel c-Accordion-emp_Panel-step js-Accordion_Panel" role="region" aria-labelledby="accordion-emp-3" aria-hidden="false">
        <div class="<%= namespace %>-Plan_Accordion-heading u-Adjust_Mt-pc-8">
          <p>貯まったポイントで全額支払えば<br><span class="u-Color_Primary">スマホ料金のお支払いが<br class="u-Show_Oox">ずーッと0円！</span></p>
        </div>
        <p class="<%= namespace %>-Plan_Accordion-heading2 u-Adjust_Mt-32">楽天モバイルご契約者なら<br class="u-Show_Oox">ポイント倍率アップ！</p>
        <div class="u-Adjust_Mt-16">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>plan/Plan-saikyo-7-sp.png?20240229" width="622" height="956">
            <img src="<%= imgPath %>plan/Plan-saikyo-7-pc.png?20240229" width="984" height="210" loading="lazy" alt="楽天市場のお買い物で楽天ポイント毎日全員5倍 楽天モバイルユーザーは毎月平均1,388ポイント獲得！つまり、だれでも簡単にスマホ料金の支払いが0円！になる">
          </picture>
        </div>
        <div class="u-Adjust_Mt-24">
          <a href="<%= sitepath %>tips/zerotoku/?l-id=area_<%_ if( jData.directory2 ) { _%>city_<%= jData.directory1 %>_<%= jData.directory2 %><%_ } else { _%>prefecture_<%= jData.directory1 %><%_ } _%>_zerotoku" class="c-Btn_Regular-large">お支払い0円の仕組みを<br class="u-Show_Oox">もっと見る</a>
        </div>
      </div>
    </div>

    <div class="u-Adjust_Mt-40">
      <a class="c-Banner_Hover-act u-Adjust_Mt-8 u-Adjust_Mt-pc-16" href="<%= sitepath %>campaign/fee-simulation/?l-id=area_
        <%_ if( jData.directory2 ) { _%>city_<%= jData.directory1 %>_<%= jData.directory2 %><%_ } else { _%>prefecture_<%= jData.directory1 %><%_ } _%>_fee_simulation">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>plan/bnr-fee-simulation-100pt-sp.png" width="687" height="217">
          <img src="<%= imgPath %>plan/bnr-fee-simulation-100pt-pc.png" width="1032" height="160" loading="lazy" alt="スマホ料金をチェックするだけで100ポイントプレゼント！">
        </picture>
      </a>
    </div>

  </div>
</section>
