<% const namespace = "area-pref" -%>
<% const imgPath = "/assets/img/area/pref/" -%>
<% const {pref, id, cover} = area %>
<% const [intPart, decPart] = cover.split('.').map(Number); %>

<section>
  <div class="<%= namespace %>-Hero">
    <div class="<%= namespace %>-Hero_Container">
      <h1>
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>kv/<%= id %>-sp-230901.png" width="100%">
          <img src="<%= imgPath %>kv/<%= id %>-pc-230901.png" width="1032" height="240" alt="<%= pref %>でも人口カバー率<%= cover %>%！全通信エリア、データ高速無制限でつながる! ※公平なサービス提供または環境により速度低下する場合あり">
        </picture>
      </h1>
    </div>
  </div>
</section>

<section>
  <div class="l-System_Container">
    <nav class="u-Adjust_Mt-32">
      <ul class="<%= namespace %>-Nav">
        <li><a href="#greatest" class="c-Link_Txt-icon-front js-fixedMenuScroll" data-ratid="area_prefecture_prefecture-link_greatest" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>通信エリア・料金</a></li>
        <!-- <li><a href="#uservoice" class="c-Link_Txt-icon-front js-fixedMenuScroll" data-ratid="area_prefecture_prefecture-link_uservoice" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>ご利用者の声</a></li> -->
        <li><a href="#shop" class="c-Link_Txt-icon-front js-fixedMenuScroll" data-ratid="area_prefecture_prefecture-link_shop" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span><%= pref %>の店舗情報</a></li>
      </ul>
    </nav>
  </div>
</section>

<section class="<%= namespace %>-Layout_Bg-pink u-Adjust_Mt-24 u-Adjust_Pt-32 u-Adjust_Pb-32 u-Adjust_Pb-pc-48">
  <div class="u-Rat_Appear-height" data-ratid="area-prefecture_scroll-01_area" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
  <div class="l-System_Container" id="greatest">
    <div class="<%= namespace %>-Map">
      <h2 class="<%= namespace %>-Map_Heading"><span><%= pref %></span>のサービスエリアマップとショップ情報</h2>

      <% const caption1 = "※データ高速無制限エリアであっても、地下、屋内、大きな商業ビルの屋内等の場所、電波の状況等によって通信速度が変化する場合あり。" %>
      <% const caption2 = "※2023/6/13～2023/9/12の期間に記録されたモバイル測定値によるOpensignalデータを基に当社が作成。<br>©2023 Opensignal Inc." %>

      <% if (typeof rankInfo !== 'undefined') { %>
        <%
          const {icon} = rankInfo;
          const iconLabel = [
            'ビデオ体感',
            'ライブビデオ体感',
            'ゲーム体感',
            '音声アプリ体感',
            'ダウンロードスピード体感',
            'アップロードスピード体感',
            '利用率',
            '非圏外率',
            '一貫した品質'
          ];
          const createAlt = iconName => {
            const n = Number(iconName.split('-')[1]);
            return iconLabel[n-1];
          };
          const itemCnt = icon.length;
        %>
        <h3 class="<%= namespace %>-Map_Title <%= namespace %>-Map_Title-layout-left">人口カバー率<span class="<%= namespace %>-Map_Title-l"><%= intPart %></span>.<%= decPart %>%<span class="<%= namespace %>-Map_Title-l-pc">!</span><span class="<%= namespace %>-Map_Title-cap">※1</span></h3>
        <div class="<%= namespace %>-Map_Contents-2col">
          <div>
            <div class="u-Adjust_Align-center">
              <img src="<%= imgPath %>map/<%= id %>_map.png" width="856" height="473" alt="<%= pref %>のサービスエリアと楽天モバイルショップ情報">
            </div>
            <div class="<%= namespace %>-Map_Guide-left">
              <p class="<%= namespace %>-Map_Guide-area">データ高速無制限エリア</p>
              <p class="<%= namespace %>-Map_Guide-shop"><span class="c-Icon_Location-f"></span>楽天モバイルショップ</p>
            </div>
            <p class="u-Adjust_Mt-8 c-Txt_Cap"><%= caption1 %></p>
          </div>
          <div>
            <h3 class="<%= namespace %>-Map_RankTitle">
              <span class="<%= namespace %>-Map_RankTitle-sub">※9項目中<%= itemCnt %>項</span>
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>rank/title-rank1-<%= id %>-sp.png" width="100%">
                <img src="<%= imgPath %>rank/title-rank1-<%= id %>-pc.png" width="361" height="40" alt="<%= pref %> 通信品質の評価でRank1※3獲得!">
              </picture>
            </h3>
            <ul class="<%= namespace %>-Map_IconList">
              <% icon.forEach(iconName => { %>
              <li>
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>rank/icon-<%= iconName %>-sp.png?231020" width="100%">
                  <img src="<%= imgPath %>rank/icon-<%= iconName %>-pc.png?231020" width="115" height="80" alt="<%= createAlt(iconName) %>">
                </picture>
              </li>
              <% }); %>
            </ul>
            <div class="u-Adjust_Align-center u-Adjust_Mt-8">
              <img src="<%= imgPath %>rank/logo-opensignal.png" width="170" height="32" alt="OPENSIGNAL">
            </div>
            <p class="u-Adjust_Mt-8 c-Txt_Cap"><%- caption2 %></p>
          </div>
        </div>
        <p class="<%= namespace %>-Map_Txt-m u-Adjust_Mt-24">
          ※3 Rankとは、Opensignal社の分析に基づき、主要4キャリアを比較した評価。高評価の順にRank1～4となり、Rankは同率になる可能性があります。
        </p>
        <% } else { %>
        <div class="<%= namespace %>-Map_Contents">
          <h3 class="<%= namespace %>-Map_Title">人口カバー率<span class="<%= namespace %>-Map_Title-l"><%= intPart %></span>.<%= decPart %>%<span class="<%= namespace %>-Map_Title-l-pc">!</span><span class="<%= namespace %>-Map_Title-cap">※1</span></h3>
          <div class="u-Adjust_Align-center u-Adjust_Mt-8">
            <img src="<%= imgPath %>map/<%= id %>_map.png" width="856" height="473" alt="<%= pref %>のサービスエリアと楽天モバイルショップ情報">
          </div>
          <div class="<%= namespace %>-Map_Guide">
            <p class="<%= namespace %>-Map_Guide-area">データ高速無制限エリア</p>
            <p class="<%= namespace %>-Map_Guide-shop"><span class="c-Icon_Location-f"></span>楽天モバイルショップ</p>
          </div>
          <p class="u-Adjust_Mt-16 c-Txt_Cap"><%= caption1 %></p>
        </div>
        <% } %>

        <div class="<%= namespace %>-Map_Btn">
          <a href="<%= sitepath %>area/?l-id=area_prefecture_area_01" class="c-Btn_Regular"><span>通信エリアを見る</span></a>
          <a href="<%= sitepath %>shop/search/?l-id=area_prefecture_shop_search_01&prefecture=<%= pref %>&city=" class="c-Btn_Regular"><span>お近くのショップを探す</span></a>
        </div>

      <% if (typeof rankInfo != 'undefined') { %>
        <div class="c-Infobox_Standing-info <%= namespace %>-Layout_Info-l u-Adjust_Mt-24">
      <% } else { %>
        <div class="c-Infobox_Standing-info <%= namespace %>-Layout_Info-s u-Adjust_Mt-40">
      <% } %>
        <p class="<%= namespace %>-Layout_Info-txt c-Txt_Emp-02">快適な通信環境ご提供のため、「Rakuten最強プラン」プロジェクトが進行中！</p>
        <div class="<%= namespace %>-Layout_Info-item">
          <span class="<%= namespace %>-Layout_Info-item-icon c-Icon_Campaign-l"></span>
          <span class="<%= namespace %>-Layout_Info-item-date u-Adjust_Ml-8">2023年10月23日更新</span>
          <span class="<%= namespace %>-Layout_Info-item-link">
            <a href="<%= sitepath %>area/?l-id=area_prefecture_notice_area" class="c-Link_Txt-inline">
              つながりやすさを改善！<br class="u-Show_Oxx">新たな基地局設置情報はこちら<span class="c-Icon_Chevron-right"></span>
            </a>
          </span>
        </div>
      </div>
    </div>
    <p class="u-Adjust_Mt-16 c-Txt_Cap">
      ※1 2023年6月時点。人口カバー率は、国勢調査に用いられる約500m区画において、50%以上の場所で通信可能なエリアを基に算出
    </p>
  </div>
</section>

<section id="js-trigger">
  <div class="<%= namespace %>-Layout_Bg-primary u-Adjust_Pt-16 u-Adjust_Pb-8">
    <div class="u-Rat_Appear-height" data-ratid="area-prefecture_scroll-02_plan" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
    <div class="l-System_Container u-Adjust_Align-center">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>title-data-plan-sp.png" width="100%">
        <img src="<%= imgPath %>title-data-plan-pc.png" width="924" height="166" alt="全通信キャリアのデータ高速無制限プランで最安">
      </picture>
    </div>
  </div>
  <div class="l-System_Container">
    <h2 class="u-Adjust_Mt-32 u-Adjust_Mt-pc-64 u-Adjust_Align-center" id="data">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)"
          srcset="<%= imgPath %>title-data-sp.png" width="686" height="402">
        <img src="<%= imgPath %>title-data-pc.png" loading="lazy" width="1032"
          height="194" alt="データ通信が最強※ 日本全国の通信エリアどこでも データ高速無制限※2">
      </picture>
    </h2>
    <div class="<%= namespace %>-Saikyo_Transmission-flex u-Adjust_Mt-24 u-Adjust_Mt-pc-16">
      <div class="u-Adjust_Align-center">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)"
            srcset="<%= imgPath %>transmission-map-sp.png" width="720" height="658">
          <img src="<%= imgPath %>transmission-map-pc.png" loading="lazy"
            width="789" height="186" alt="業界最高水準人口カバー率99.9%※1">
        </picture>
      </div>
      <div>
        <div class="u-Align_Ccl u-Adjust_Mt-16">
          <a href="<%= sitepath %>area/?l-id=area_prefecture_area_02" class="c-Btn_Regular">通信エリアを見る</a>
        </div>
      </div>
    </div>
    <p class="c-Txt_Cap u-Adjust_Mt-16">
      ※1 2023年6月時点。人口カバー率は、国勢調査に用いられる約500m区画において、50%以上の場所で通信可能なエリアを基に算出<br>
      ※2 公平なサービス提供または環境により速度低下する場合あり<br>
      ※データ通信が最強とは全通信キャリアにてデータ無制限プラン＋かけ放題オプションで比較した場合、プラン料金が最も安いことを意味します。2023年7月時点
    </p>
  </div>
</section>

<section>
  <div class="<%= namespace %>-Saikyo_Price-wrapper">
    <div class="<%= namespace %>-Saikyo_Price-inner">
      <div class="l-System_Container">
        <h2 class="u-Adjust_Align-center" data-ratid="area-prefecture_scroll-03_fee" data-ratevent="appear"
          data-ratparam="all">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)"
              srcset="<%= imgPath %>title-price-sp.png">
            <img src="<%= imgPath %>title-price-pc.png" loading="lazy" width="1032"
              height="183" alt="価格が最強※ 圧倒的な低価格">
          </picture>
        </h2>
      </div>
      <div class="<%= namespace %>-Saikyo_Price-content">
        <div class="l-System_Container">
          <h3
            class="c-Heading_Lv2 <%= namespace %>-Saikyo_Price-subtitle u-Adjust_Align-center u-Adjust_Mt-40 u-Adjust_Mt-pc-48">
            毎月のデータ利用量で<br class="u-Show_Oxx">お支払い金額が決まる</h3>
          <div class="u-Adjust_Align-center u-Adjust_Mt-16" style="max-width: 878px; margin: auto;">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)"
                srcset="<%= imgPath %>ladder-sp.png">
              <img src="<%= imgPath %>ladder-pc.png" width="878" height="319"
                loading="lazy"
                alt="毎月のデータ利用量でお支払い金額が決まる料金プラン 20GB超過後どれだけ使っても無制限※2で2,980円/月(税込3,278円) 3GB超過後20GBまでは1,980 円/月(税込2,178円)  3GBまでは980円/月(税込1,078円)  使わなければ勝手に安くなる!">
            </picture>
            <p class="c-Txt_Cap u-Adjust_Mt-16 u-Adjust_Align-left">
              ※データ通信が最強とは全通信キャリアにてデータ無制限プラン＋かけ放題オプションで比較した場合、プラン料金が最も安いことを意味します。2023年7月時点<br>
              ※2 公平なサービス提供または環境により速度低下する場合あり ※オプション料等別費用
            </p>
          </div>

          <%# 他社料金プラン比較 %>
          <div class="<%= namespace %>-Saikyo_Compare">
            <div class="<%= namespace %>-Saikyo_Compare-head">
              <h2 data-ratid="area-prefecture_scroll-04_compare" data-ratevent="appear" data-ratparam="all">
                4キャリアの<br class="u-Show_Oxx">新料金プラン比較
              </h2>
            </div>
            <div class="<%= namespace %>-Saikyo_Compare-head-2 u-Adjust_Mt-8">
              <p>楽天モバイルなら、毎月のデータ利用量でお支払い額を安くすることも可能</p>
            </div>
            <div class="<%= namespace %>-Scroll js-Scrollable scroll-hint is-scrollable u-Adjust_Mt-32">
              <img src="<%= imgPath %>img-compare-01.png" class="<%= namespace %>-Utility_Img-sp <%= namespace %>-Scroll-Img" width="1032" height="529" alt="4キャリアの新料金プラン比較">
            </div>
            <img src="<%= imgPath %>img-compare-01.png" width="2064" height="1059" alt="4キャリアの新料金プラン比較" class="<%= namespace %>-Utility_Img-pc">
            <p class="c-Txt_Cap u-Adjust_Align-left u-Adjust_Mt-16">
              *1公平なサービス提供または環境により速度低下する場合あり<br>
              *2 毎月のデータ利用量によってプラン料金が変動いたします。データ利用量は日本全国の通信エリアおよび海外ローミングエリアのすべてのエリアでカウントされます（データ高速モードがOFFであってもデータ利用量はカウントされます）。<br>
              *3 データ容量は都度トッピングするプランです。<br>
              <span class="c-Txt_Emp-02">※その他、各種キャンペーンによって、割引が適用される場合あり</span>※記載された情報は2023年6月1日時点の情報<br>
              ※<a href="<%= sitepath %>fee/saikyo-plan/?area_prefecture_fee_saikyo-plan#anc_note" class="c-Link_Txt js-scroll">その他条件の詳細はこちら</a>
            </p>
          </div>
          <%# //他社料金プラン比較 %>

          <%# 料金シミュレーション bnr %>
          <div>
            <a class="c-Banner_Hover-act" href="<%= sitepath %>fee/simulation/?l-id=area_prefecture_fee_simulation">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-fee-simulation-343-108-230905.png" width="686" height="216">
                <img src="<%= sitepath %>assets/img/bnr/bnr-fee-simulation-1032-160-230905.png" alt="他社プランと比較もできる！かんたん料金シミュレーション" width="1032" height="160" loading="lazy">
              </picture>
            </a>
          </div>
          <%# //料金シミュレーション bnr %>

        </div>
      </div>
    </div>
    <div class="<%= namespace %>-Saikyo_Price-btn">
      <div class="l-System_Container">
        <div class="u-Adjust_Align-center u-Adjust_Mt-64">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>txt-saikyo-sp.png" width="270" height="32">
            <img src="<%= imgPath %>txt-saikyo-pc.png" width="339" height="44" alt="もっと納得！最強の理由" loading="lazy">
          </picture>
        </div>
        <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
          <a href="<%= sitepath %>fee/saikyo-plan/detail/?l-id=area_prefecture_fee_saikyo-plan_detail" class="c-Btn_Secondly-large">料金プランの詳細を見る</a>
        </div>
      </div>
    </div>
  </div>

  <div class="<%= namespace %>-Saikyo_Process-wrapper">
    <div class="l-System_Container">
      <h2 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-56" data-ratid="area-prefecture_scroll-06_application" data-ratevent="appear" data-ratparam="all">楽天モバイルのお申し込み<br class="u-Show_Sp">は、Webでも店舗でも！</h2>
      <div class="<%= namespace %>-Apply u-Adjust_Mt-40">
        <div class="<%= namespace %>-Apply_Inner">
          <p class="<%= namespace %>-Apply_Label">Web</p>
          <div class="<%= namespace %>-Apply_Layout">
            <div>
              <img src="<%= imgPath %>application-web-img.png" alt="">
            </div>
            <div>
              <p class="c-Txt_Emp-01 c-Txt_Normal-m u-Adjust_Mt-16">とにかく手軽に手続きをしたい</p>
              <p class="u-Adjust_Mt-16 u-Adjust_Align-center">そんな方は<br class="u-Show_Oxx"><span class="c-Txt_Emp-02 c-Txt_Normal-m">Webからのお申し込み</span>がおすすめ！</p>
              <p class="u-Adjust_Mt-24 <%= namespace %>-Apply_Layout-btn"><a href="<%= sitepath %>guide/application/?lid-r=area_prefecture_guide_application" class="c-Btn_Primary <%= namespace %>-Apply_Layout-btn"><span>Webから申し込む</span></a></p>
            </div>
          </div>
        </div>
        <div class="<%= namespace %>-Apply_Inner">
          <p class="<%= namespace %>-Apply_Label">ショップ</p>
          <div class="<%= namespace %>-Apply_Layout">
            <div>
              <img src="<%= imgPath %>application-visit-img.png" alt="">
            </div>
            <div>
              <p class="c-Txt_Emp-01 c-Txt_Normal-m u-Adjust_Mt-16">店舗でじっくり話を聞きたい</p>
              <p class="u-Adjust_Mt-16 u-Adjust_Align-center">そんな方は<br class="u-Show_Oxx"><span class="c-Txt_Emp-02 c-Txt_Normal-m">店舗でのお申し込み</span>がおすすめ！</p>
              <p class="u-Adjust_Mt-24 <%= namespace %>-Apply_Layout-btn"><a href="<%= sitepath %>shop/?l-id=area_prefecture_shop_02" class="c-Btn_Primary <%= namespace %>-Apply_Layout-btn"><span>来店予約をする</span></a></p>
            </div>
          </div>
        </div>
      </div>

      <h3 class="c-Heading_Lv3 u-Adjust_Align-center u-Adjust_Mt-32">ショップでも<br class="u-Show_Oxx">契約事務手数料0円</h3>
      <div class="u-Adjust_Align-center u-Adjust_Mt-16">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>shop-transaction-sp.png">
          <img src="<%= imgPath %>shop-transaction-pc.png" alt="" width="1032" loading="lazy">
        </picture>
      </div>
      <p class="c-Txt_Cap u-Align_Llc u-Adjust_Mt-16">
        ※2023年6月時点
        ※ドコモおよびソフトバンクでは店頭での手続きを行った場合のみ事務手数料が発生<br>
        ※ソフトバンクではブランド間の乗り換えによる新規契約の場合はキャンペーンにより手数料無料
      </p>
    </div>
  </div>

</section>

<section id="shop">
  <div class="l-System_Container <%= namespace %>-Shop <%= namespace %>-Layout_Bg-pink">
    <h2 class="c-Heading_Lv2 u-Adjust_Align-center" data-ratid="area-prefecture_scroll-07_shop" data-ratevent="appear" data-ratparam="all">
      <span class="c-Txt_Emp-02"><%= pref %>内の<br class="u-Show_Sp">楽天モバイルショップ</span>で<br class="u-Show_Sp">来店予約をする
    </h2>
    <ul class="<%= namespace %>-Shop_Appeal-list">
      <li>
        <img src="<%= imgPath %>clock.svg" alt="" width="38" height="38">
        <div>電話番号そのままで<br class="u-Show_Xxo"><span class="c-Txt_Emp-02">即日使えます</span></div>
      </li>
      <li>
        <img src="<%= imgPath %>setting.svg" alt="" width="38" height="38">
        <div>お申し込みから初期設定まで<br><span class="c-Txt_Emp-02">丁寧にサポートします</span></div>
      </li>
      <li>
        <img src="<%= imgPath %>try-phone.svg" alt="" width="38" height="38">
        <div>気になる最新スマホを<br class="u-Show_Xxo"><span class="c-Txt_Emp-02">お試しできます</span></div>
      </li>
    </ul>
    <p class="u-Align_Llc u-Adjust_Mt-40 u-Adjust_Mt-sp-32">
      楽天モバイルは店舗でもお申し込みが可能です。<br><%= pref %>内にある店舗でお申し込みから初期設定まで丁寧にサポートします。
    </p>

    <div id="js-pref-name" class="<%= namespace %>-Shop_Search" data-pref="<%= pref %>">
      <div class="<%= namespace %>-Shop_Search-box">
        <div>
          <div class="c-Form_Select">
            <select name="" id="js-shop-Search_Select-pref">
              <option value="">都道府県を選択</option>
            </select>
            <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
          </div>
        </div>
        <div>
          <div class="c-Form_Select">
            <select name="" id="js-shop-Search_Select-city" aria-disabled="true" disabled>
              <option value="">市区町村を選択</option>
            </select>
            <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
          </div>
        </div>
      </div>
      <div class="u-Adjust_Align-center u-Adjust_Mt-16">
        <button id="js-shop-Search_Prefcity" class="c-Btn_Secondly <%= namespace %>-Shop_Search-btn" data-ratid="area_prefecture_shop_search" data-ratevent="click" data-ratparam="all">
          <span>お近くのショップを検索する</span>
        </button>
      </div>
    </div>

    <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
      <a href="<%= sitepath %>shop/shop-support/?l-id=area_prefecture_shop_shop-support" class="c-Link_Txt-inline">ご来店でのお手続きについて詳細を見る<span class="c-Icon_Chevron-right"></span></a>
    </p>
  </div>
</section>

<div class="l-System_Container u-Adjust_Mt-64">
  <%- include('/include/_bnr-cpn-recommend-v2.ejs') %>
</div>

<section class="u-Adjust_Mt-56">
  <div class="l-System_Container">
    <h2 class="c-Heading_Lv2 u-Adjust_Align-center" data-ratid="area-prefecture_scroll-08_inquiry" data-ratevent="appear" data-ratparam="all"><%= pref %>のサービスエリアに関するお問い合わせ・ご要望</h2>
    <p class="u-Adjust_Mt-16 u-Adjust_Align-center">楽天モバイルご利用者様にご満足いただけるよう、電波に関する改善を行っております。</p>
    <div class="<%= namespace %>-Inquiry u-Adjust_Mt-32">
      <div>
        <p>つながらない、速度が遅いと感じられる場合はこちら</p>
        <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
          <a href="https://grp03.id.rakuten.co.jp/rms/nid/login?service_id=rm005&client_id=rmn_app_web&redirect_uri=https%3A%2F%2Fnetwork.mobile.rakuten.co.jp%2Finquiry%2Feasy%2Fpitari.html&err_redirect_uri=https%3A%2F%2Fnetwork.mobile.rakuten.co.jp%2F&scope=memberinfo_read_safebulk%2Cmemberinfo_read_point%2Cmemberinfo_get_card_token%2C30days%40Access%2C90days%40Refresh&contact_info_required=false&rae_service_id=rm005"
            class="c-Btn_Regular <%= namespace %>-Inquiry_Btn"
            data-ratid="area_prefecture_inquiry_easy"
            data-ratevent="click"
            data-ratparam="all"
          ><span>かんたん電波状況報告</span></a>
        </div>
      </div>
      <div>
        <p>詳細調査および結果回答ご希望の場合はこちら</p>
        <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
          <a href="<%= sitepath %>inquiry/input.html?l-id=area_prefecture_inquiry_input" class="c-Btn_Regular <%= namespace %>-Inquiry_Btn"><span>電波改善・調査依頼</span></a>
        </div>
      </div>
      <div>
        <img src="<%= imgPath %>gb-image-1.png" width="270" height="142" alt="">
      </div>
    </div>
    <p class="u-Adjust_Mt-16">楽天モバイル法人プランをご契約中のお客様は、「<a href="https://business-portal.mobile.rakuten.co.jp/" class="c-Link_Txt">my 楽天モバイル Office</a>」のお問い合わせフォームよりご依頼ください。</p>
    <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>support/link/manual/?l-id=area_prefecture_support_link_manual" class="c-Link_Txt-inline">Rakuten Linkに関するサポートを確認する<span class="c-Icon_Chevron-right"></span></a></p>
    <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>support/?l-id=area_prefecture_support" class="c-Link_Txt-inline">初期設定やその他のお問い合わせ<span class="c-Icon_Chevron-right"></span></a></p>
  </div>
</section>

<section class="u-Adjust_My-56">
  <div class="l-System_Container">
    <h2 class="c-Heading_Lv2 u-Adjust_Align-center">注意事項</h2>
    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■Rankについて</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      ※非圏外率：ユーザーが信号を受信できなかった時間の平均割合を基に評価した指標です。その他の項目については、<a href="https://www.opensignal.com/2023/14/08/Understanding%20mobile%20network%20experience%3A%20What%20do%20Opensignal%27s%20metrics%20mean%3F-jp" target="_blank" class="c-Link_Txt-inline-icon" rel="noopener noreferrer">モバイル・ネットワーク・エクスペリエンスへの理解：Opensignalのメトリック(指標)の意味とは？<span class="c-Icon_New-window-l"></span></a>をご参照ください。
    </p>
  </div>
</section>

<div class="<%= namespace %>-Layout_Bottom-fixed" id="js-fixed-btn" aria-expanded="false">
  <div class="<%= namespace %>-Layout_Bottom-fixed-inner">
    <div class="<%= namespace %>-Layout_Bottom-fixed-btn <%= namespace %>-Utility_Show-pc-flex">
      <a href="<%= sitepath %>guide/application/?lid-r=area_prefecture_modal_guide_application" class="c-Btn_Primary-large">
        <div class="<%= namespace %>-Layout_Bottom-fixed-btn-inner-box"><span><span>今すぐお申し込み！</span><br>新規／乗り換え（MNP）</span></div>
      </a>
    </div>
    <div class="<%= namespace %>-Layout_Bottom-fixed-btn <%= namespace %>-Utility_Show-pc-flex js-btn-ms" aria-hidden="false">
      <a href="<%= sitepath %>shop/?l-id=area_prefecture_shop_03" class="c-Btn_Secondly-large">
        <div class="<%= namespace %>-Layout_Bottom-fixed-btn-inner-box"><span>お近くのショップを探す・来店予約</span></div>
      </a>
    </div>
    <div class="<%= namespace %>-Layout_Bottom-fixed-btn-sp">
      <a href="<%= sitepath %>guide/application/?lid-r=area_prefecture_modal_guide_application" class="c-Btn_Primary-large <%= namespace %>-Layout_Bottom-fixed-btn-sp-link">新規／乗り換え(MNP)</a>
    </div>
    <div class="<%= namespace %>-Layout_Bottom-fixed-btn-sp">
      <a href="<%= sitepath %>shop/?l-id=area_prefecture_shop_03" class="c-Btn_Secondly-large <%= namespace %>-Layout_Bottom-fixed-btn-sp-link">お近くのショップを探す</a>
    </div>
  </div>
</div>
