<%_
const namespace = "area-city"
const imgPath = "/assets/img/area/city/"
_%>

<section class="<%= namespace %>-Layout_Bg-pink u-Adjust_Pb-48">
  <div class="<%= namespace %>-Layout_Arrow u-Adjust_Pt-16 u-Adjust_Pb-16" id="city-product-a">
    <div class="l-System_Container u-Adjust_Align-center">
      <img src="<%= imgPath %>product_a/product-a-title-icon.png" class="<%= namespace %>-Layout_Icon" alt="製品一覧">
      <span class="<%= namespace %>-Layout_Title">製品一覧</span>
    </div>
  </div>
  <div class="u-Adjust_Mt-40 l-System_Container">
    <div class="<%= namespace %>-Product_List l-Media_Grid-half u-Adjust_Mt-24 u-Adjust_Mt-pc-32">
      <div>
        <a href="<%= sitepath %>product/iphone/?l-id=top_p-carousel-button_product_iphone_area_<%_ if( jData.directory2 ) { _%>city_<%= jData.directory1 %>_<%= jData.directory2 %><%_ } else { _%>prefecture_<%= jData.directory1 %><%_ } _%>" class="<%= namespace %>-Product_Card c-Card_Normal">
          <div class="<%= namespace %>-Product_Card-image">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>product_a/product-a-iphone_sp.png" width="120" height="120">
              <img src="<%= imgPath %>product_a/product-a-iphone_pc.png" width="240" height="160" loading="lazy" alt="iPhone">
            </picture>
          </div>
          <div class="<%= namespace %>-Product_Card-title">iPhone</div>
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>product/apple-watch/?l-id=top_p-carousel-button_product_apple-watch_area_<%_ if( jData.directory2 ) { _%>city_<%= jData.directory1 %>_<%= jData.directory2 %><%_ } else { _%>prefecture_<%= jData.directory1 %><%_ } _%>" class="<%= namespace %>-Product_Card c-Card_Normal">
          <div class="<%= namespace %>-Product_Card-image">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>product_a/product-a-applewatch_sp.png" width="120" height="120">
              <img src="<%= imgPath %>product_a/product-a-applewatch_pc.png" width="240" height="160" loading="lazy" alt="Apple Watch">
            </picture>
          </div>
          <div class="<%= namespace %>-Product_Card-title">Apple Watch</div>
        </a>
      </div>
    </div>
    <div class="<%= namespace %>-Product_List l-Media_Grid-half u-Adjust_Mt-24">
      <a href="<%= sitepath %>product/smartphone/?l-id=top_p-carousel-button_product_smartphone_area_<%_ if( jData.directory2 ) { _%>city_<%= jData.directory1 %>_<%= jData.directory2 %><%_ } else { _%>prefecture_<%= jData.directory1 %><%_ } _%>" class="<%= namespace %>-Product_Card-last c-Card_Normal">
        <div class="<%= namespace %>-Product_Card-image">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>product_a/product-a-android_sp.png" width="120" height="120">
            <img src="<%= imgPath %>product_a/product-a-android_pc.png" width="240" height="160" loading="lazy" alt="Android／Rakutenオリジナル">
          </picture>
        </div>
        <div class="<%= namespace %>-Product_Card-title">Android／<br/> Rakutenオリジナル</div>
      </a>
    </div>
  </div>
</section>
