<% const namespace = "area-city" -%>
<% const imgPath = "/assets/img/area/city/" -%>

<section class="<%= namespace %>-Layout_Bg-pink u-Adjust_Pb-48 u-Adjust_Pb-pc-64">
  <%_ if( jData.directory2 ) { _%>
    <div class="u-Rat_Appear-height" data-ratid="city_report" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
  <%_ } else { _%>
    <div class="u-Rat_Appear-height" data-ratid="prefecture_report" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
  <%_ } _%>
  <div class="l-System_Container">
    <div class="u-Adjust_Align-center">
      <a class="c-Banner_Hover-act" href="<%= sitepath %>area/connectivity-fitting/?l-id=area_<%_ if( jData.directory2 ) { _%>city_<%= jData.directory1 %>_<%= jData.directory2 %><%_ } else { _%>prefecture_<%= jData.directory1 %><%_ } _%>_connectivity">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>report/bnr-connectivity-fitting-328-185.png" width="656" height="370">
          <img src="<%= imgPath %>report/bnr-connectivity-fitting-1032-160.png" width="1032" height="160" loading="lazy" alt="1分でわかる 楽天モバイル my エリア 通信シミュレーション">
        </picture>
      </a>
    </div>
    <div class="<%= namespace %>-Report_Trial u-Adjust_Align-center u-Adjust_Mt-48">
      <div class="<%= namespace %>-Report_Trial u-Adjust_Align-center">
        <h2 class="<%= namespace %>-Report_Heading">ちゃんとつながるか不安…<br class="u-Show_Oox">そんな方におすすめ！</h2>
        <div class="<%= namespace %>-Report_Trial-content u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>report/trial-title-sp.png" width="622" height="129">
            <img src="<%= imgPath %>report/trial-title-pc.png" width="560" height="36" alt="『データ通信』をおトクに試せるキャンペーン実施中!">
          </picture>
          <a class="c-Banner_Hover-act" href="<%= sitepath %>fee/saikyo-plan/data-type/?l-id=area_<%_ if( jData.directory2 ) { _%>city_<%= jData.directory1 %>_<%= jData.directory2 %><%_ } else { _%>prefecture_<%= jData.directory1 %><%_ } _%>_data-type">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>report/trial-banner-sp.png" width="622" height="349">
              <img src="<%= imgPath %>report/trial-banner-pc.png" width="984" height="134" alt="Rakuten最強プラン データタイプ 1,081円/月(3GB)を1,081ポイント還元で初月実質3GB相当無料でお試し！">
            </picture>
          </a>
          <div class="<%= namespace %>-Report_Trial-steps u-Adjust_Mt-24">
            <div class="<%= namespace %>-Report_Trial-step1">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>report/trial-img-01-sp.png" width="622" height="327">
                <img src="<%= imgPath %>report/trial-img-01-pc.png" width="521" height="204" alt="生活圏で繋がるか試してみたいけど面倒な手続きは避けたい…">
              </picture>
            </div>
            <div class="<%= namespace %>-Report_Trial-step2 u-Adjust_Mt-8 u-Adjust_Mt-pc-0">
              <picture class="<%= namespace %>-Report_Trial-image">
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>report/trial-img-02-sp.png" width="529" height="486">
                <img src="<%= imgPath %>report/trial-img-02-pc.png?20240221" width="463" height="204" alt="超かんたん！デュアルSIMで解決！">
              </picture>
              <div class="<%= namespace %>-Report_Trial-text u-Adjust_Mt-16 u-Adjust_Mt-pc-0">
                <p class="c-Txt_Normal">お持ちのスマホに楽天回線を追加するだけ！</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※「デュアルSIM」対応製品が必要です。<br class="u-Show_Pc">
                <a class="c-Banner_Hover-act" href="<%= sitepath %>product/sim/dual-sim/?l-id=area_<%_ if( jData.directory2 ) { _%>city_<%= jData.directory1 %>_<%= jData.directory2 %><%_ } else { _%>prefecture_<%= jData.directory1 %><%_ } _%>_dual-sim">詳しくはこちら</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
