<% const namespace = "area-city" -%>
<% const imgPath = "/assets/img/area/city/" -%>

<section class="<%= namespace %>-Layout_Bg-pink u-Adjust_Pb-48 u-Adjust_Pb-pc-64">
  <%_ if( jData.directory2 ) { _%>
    <div class="u-Rat_Appear-height" data-ratid="city_shop" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
  <%_ } else { _%>
    <div class="u-Rat_Appear-height" data-ratid="prefecture_shop" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
  <%_ } _%>
  <div class="<%= namespace %>-Layout_Arrow u-Adjust_Pt-16 u-Adjust_Pb-16" id="city-shop">
    <h2 class="l-System_Container u-Adjust_Align-center">
      <img src="<%= imgPath %>shop/Shop-title-icon.png" class="<%= namespace %>-Layout_Icon" alt="ショップ情報">
      <span class="<%= namespace %>-Layout_Title">ショップ情報</span>
    </h2>
  </div>
  <div class="l-System_Container">
    <h3 class="<%= namespace %>-Shop_Heading u-Adjust_Align-center u-Adjust_Mt-24 u-Adjust_Mt-pc-40">お申し込み・ご購入後も<br class="u-Show_Sp">安心のサポートサービスをご用意</h3>
    <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-center">※家電量販店では一部対応を行っておりません</p>
    <ul class="<%= namespace %>-Shop_Appeal-list u-Adjust_Pt-16">
      <li>
        <img src="<%= imgPath %>shop/icon-clock.svg" width="64" height="64" alt="電話番号そのままで即日使えます">
        <div>電話番号<br>そのままで<br><span>即日使えます</span></div>
      </li>
      <li>
        <img src="<%= imgPath %>shop/icon-setting.svg" width="64" height="64" alt="お申し込みから初期設定まで丁寧にサポートします">
        <div>お申し込みから<br>初期設定まで<br><span>サポートします</span></div>
      </li>
      <li>
        <img src="<%= imgPath %>shop/icon-try-phone.svg" width="64" height="64" alt="気になる最新スマホをお試しできます">
        <div>気になる<br>最新スマホを<br><span>お試しできます</span></div>
      </li>
    </ul>
    <div id="shoplist" data-pref="<%= jData.pref %>" data-city="<%_ if( jData.search_city ) { _%><%= jData.search_city %><%_ } _%>" data-directory1="<%= jData.directory1 %>"  data-directory2="<%_ if( jData.directory2 ) { _%><%= jData.directory2 %><%_ } _%>"></div>
    <div class="u-Adjust_Align-center u-Adjust_Mt-24 u-Adjust_Mt-pc-40">
      <h4 class="c-Heading_Lv4">ご来店の前に</h4>
      <p class="u-Adjust_Mt-16 u-Adjust_Mb-8 u-Align_Lcc">当日ご持参いただくものを、必ずご確認ください</p>
      <a href="<%= sitepath %>shop/guide/?l-id=area_<%_ if( jData.directory2 ) { _%>city_<%= jData.directory1 %>_<%= jData.directory2 %><%_ } else { _%>prefecture_<%= jData.directory1 %><%_ } _%>_guide" class="c-Link_Txt-inline">ご来店時に必要なものを確認する<span class="c-Icon_Chevron-right"></span></a>
    </div>
  </div>
</section>
