<% const pagetitle = "SIMカードをスマートフォンにセットしても開通しない場合" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/setting/android/", label:"Android製品の設定手順"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイル（楽天回線）でSIMカードをスマートフォンにセットしても開通されない場合のトラブルシューティング・解決方法をご案内します',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

    <p class="u-Adjust_Mt-16">SIMカードをスマートフォンにセットしても開通されない場合は、ご自身の状況ににあわせて、以下の手順をお試しください。また、一部の機種はソフトウェアのアップデートやビルド番号の確認が必要となります。<span class="c-Txt_Emp-02">開通手続きは楽天回線の圏内（パートナーエリア含む）で電波がつながりやすい窓際もしくは屋外で行ってください。</span></p>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-40">新規の電話番号でお申し込みの方の開通手続き</h2>
    <ol class="c-List_Ordered u-Adjust_Mt-16">
      <li>SIMカードを製品に挿して電源を入れてください。</li>
      <li>数分お待ちいただきます。</li>
      <li>状況が変わらない場合は、再起動、もしくは機内モードのON/OFFをお試しください。<br>
インターネットが利用できるようになれば、完了です。</li>
    </ol>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-40">MNP(他社からの電話番号乗り換え)でお申し込みの方の開通手続き</h2>
    <p class="u-Adjust_Mt-16">旧SIMカードの入った製品、およびインターネット通信可能なPCやスマートフォンなどをご用意ください。</p>
    <ol class="c-List_Ordered u-Adjust_Mt-16">
      <li>my 楽天モバイルにアクセスし、「お申込み履歴」＞「MNP開始」ボタンを押します。</li>
      <li>旧SIMカードの通信が圏外になった事を確認してください。</li>
      <li>新しいSIMカードを製品に挿して電源を入れてください。</li>
      <li>数分お待ちいただきます。</li>
      <li>状況が変わらない場合は、再起動、もしくは機内モードのON/OFFをお試しください。<br>
インターネットが利用できるようになれば、完了です。</li>
    </ol>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-40">以下機種をお持ちの方</h2>
    <p class="u-Adjust_Mt-16">ソフトウェアのアップデートが必要です。該当機種ページをご参照いただき、ソフトウェアアップデートをお願いいたします。</p>

    <ul class="c-List_Text-disc u-Adjust_Mt-16">
      <li><a href="<%= sitepath %>information/software/aquos-shm10/">AQUOS zero SH-M10</a></li>
      <li><a href="<%= sitepath %>information/software/aquos-r2-compact/">AQUOS R2 compact SH-M09</a></li>
      <li><a href="<%= sitepath %>information/software/aquos-sense2/">AQUOS sense2 SH-M08</a></li>
      <li><a href="<%= sitepath %>information/software/aquos-shm07/">AQUOS sense plus SH-M07</a></li>
      <li><a href="<%= sitepath %>information/software/aquos-shm06/">AQUOS R compact SH-M06</a></li>
      <li><a href="<%= sitepath %>information/software/aquos-shm05/">AQUOS sense lite SH-M05</a></li>
      <li><a href="<%= sitepath %>information/software/reno-10x-zoom/">Reno 10x Zoom</a></li>
      <li><a href="<%= sitepath %>information/software/ax7/">AX7</a></li>
      <li><a href="<%= sitepath %>information/software/r17pro/">R17 Pro</a></li>
      <li><a href="<%= sitepath %>information/software/findx/">Find X</a></li>
      <li><a href="<%= sitepath %>information/software/nova5t/">HUAWEI nova 5T</a></li>
      <li><a href="<%= sitepath %>information/software/p30lite/">HUAWEI P30 lite</a>※1</li>
      <li><a href="<%= sitepath %>information/software/novalite3/">HUAWEI nova lite 3</a>※1</li>
    </ul>

    <ul class="c-List_Cap-wide u-Adjust_Mt-16">
        <li><span>※1</span>お持ちの機種が対象のビルド番号か、ご確認ください。<span class="c-Txt_Emp-02">番号が該当しない場合は、ご利用いただけません。</span><br>
なお、楽天モバイル（楽天回線、ドコモ回線・au回線）で購入されたものは確認不要です。<br>
ビルド番号の確認方法：[設定] → [システム] → [端末情報] → [ビルド番号]<br>
ビルド番号のカッコ内の最初の4桁が「C635」の製品がソフトウェア・アップデートによって、楽天回線に対応します。<br>
ビルド番号：x.x.x.xxx(C635xxxxxxx)</li>
    </ul>

    <p class="u-Adjust_Mt-40">上記手順をお試しいただいても開通しない場合は、お問い合わせページより、コミュニケーションセンターへご連絡ください。</p>
    <div class="u-Adjust_Mt-16">
    <a href="<%= sitepath %>inquiry/?status=initial" class="c-Btn_Regular-semiauto"><span>お問い合わせページへ</span></a></div>

    <%- include('/include/guide/_faq') %>

    <div class="u-Adjust_Pt-40">
      <div><a href="<%= sitepath %>support/" class="c-Btn_Regular-semiauto"><span>お客様サポートトップにもどる</span></a></div>
      <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular-semiauto"><span>楽天モバイルトップへ</span></a></div>
    </div>

  </div>
</div>




<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">



    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>



</body>
</html>
