<% const pagetitle = "Rakuten BIG の修理保証" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/rakuten/", label:"Rakutenオリジナル"}, {path:"product/smartphone/rakuten-big/", label:"Rakuten BIG"}, {path:"product/smartphone/rakuten-big/support/", label:"Rakuten BIGサポート情報"}] -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Rakuten BIGの修理保証についてご案内します',
    noindex: false,
    pathname: 'product/smartphone/rakuten-big/support/repair-warranty/'
  });
%>

<%- include('/include/_common-css-v2') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="u-Adjust_Pb-64">
  <div class="l-System_Container u-Adjust_Mt-32">
    <h1 class="c-Heading_Lv1">Rakuten BIG の修理保証</h1>

    <h2 class="c-Heading_Lv3 u-Adjust_Mt-40">初期不良について</h2>
    <p class="u-Adjust_Mt-16">楽天モバイルショップでの購入またはオンライン購入での製品到着から14日以内の自然故障であれば、<span class="c-Txt_Emp-02">初期不良時の交換が可能</span>です。<br>
      新品もしくは新品同等品をお送りいたします。</p>

    <h2 class="c-Heading_Lv3 u-Adjust_Mt-40">製品保証について</h2>
    <p class="u-Adjust_Mt-16">
      <span class="c-Txt_Emp-02">本製品の修理保証期間はお客様の購入日から1年（Shopは購入日から、オンライン購入は到着日から）です。</span>保証期間内に本製品の故障が発生した場合、無償で交換または修理します。
    </p>

    <div class="u-Adjust_Mt-24">
      <a href="<%= sitepath %>product/smartphone/rakuten-big/support/repair/" class="c-Btn_Regular"><span>修理・交換の手続きを確認する</span></a>
    </div>

    <h2 class="c-Heading_Lv3 u-Adjust_Mt-64" id="anc01">保証期間が過ぎている場合または保証期間内でも以下に該当する場合、有償による交換または修理となります。</h2>
    <p class="u-Adjust_Mt-16">尚、本製品の状態または故障の程度により、交換・修理が難しい場合または交換・修理代金が高額となる場合があります。</p>
    <ol class="c-List_Ordered">
      <li>本製品のサポート情報または取扱説明書もしくは安全上のご注意に反する使用その他不適切な使用による故障</li>
      <li>本製品に水が入ったことによる故障、外部要因、自然災害や劣悪な環境での使用などによる故障</li>
      <li>本製品の正常な使用で発生した自然な摩耗、汚れ、破裂など（バッテリーの消耗を含む）</li>
      <li>本製品専用でないアクセサリを使用したことによる故障</li>
      <li>不適切なソフトウェアやコンピュータウィルスによる故障</li>
      <li>本製品のパスワードを忘れた場合</li>
    </ol>

    <h2 class="c-Heading_Lv3 u-Adjust_Mt-64">前記にかかわらず、以下に該当する場合は、保証期間または有償・無償の別を問わず、交換または修理の受付ができません。</h2>
    <ol class="c-List_Ordered u-Adjust_Mt-16">
      <li>購入記録が当社にて確認できない場合</li>
      <li>本製品のシリアル番号が修正されている等識別できない場合</li>
      <li>国外または楽天モバイルショップ以外で購入した場合</li>
      <li>中古品である場合</li>
      <li>修理部品の保有期間を経過した場合</li>
      <li>当社指定修理拠点以外で修理が実施された場合</li>
    </ol>

    <div class="c-Infobox_Standing-info u-Adjust_Mt-40">
      <p class="u-Adjust_Mt-8 u-Adjust_Mb-8">
        修理の際、本製品を初期化するため、事前にデータを保存してください。<br>
        修理の際、本製品に付されたシールやアクセサリ等は取り除かれることがあります。<br>
        当社は、当社の故意または重過失の場合を除き、本製品の故障が原因で発生した損害の責任は負いません。<br>
        当社は、事前の通知なく本ページに記載される内容、条件を変更する権利を留保します。<br>
        本ページの記載を除き、明示的か暗示的かを問わず、本製品の精度、信頼性、内容に関して一切の保証はいたしません。
      </p>
    </div>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">製造元</h3>
    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">ZTE Corporation</p>
    <p class="u-Adjust_Mt-16">No. 55, Hi-tech Road South, Shenzhen, P.R.China.</p>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">輸入元</h3>
    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">ZTEジャパン株式会社</p>
    <p class="u-Adjust_Mt-16">東京都中央区晴海1-8-12 晴海アイランド トリトンスクエア オフィスタワーZ棟32階</p>

  </div>
</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-product-v2.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%#- include('/faq/include/related-product.ejs') %>


  </div>
  <div class="l-System_Container">
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>
</div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
