<% const pagetitle = "Rakuten最強プランお申し込み方法（お客様情報入力）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/application/flow/", label:"お申し込み方法"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Webページから「Rakuten最強プラン」をお申し込みいただく際のお客様情報の入力の手順をご案内いたします。',
    noindex: false,
    pathname: filepath
  });
%>

<%- include('/include/_common-css') %>
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="l-System_Container u-Adjust_Pt-32 u-Adjust_Pb-80">
  <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
  <p class="u-Adjust_Mt-16">Webページから「Rakuten最強プラン」をお申し込みいただく際のお客様情報の入力の手順をご案内いたします。</p>

<ul class="c-Link_List-horizontal-simple u-Adjust_Mt-24">
  <li><a href="#anc-01" class="c-Link_Txt-icon-front js-scroll"><span
        class="c-Icon_Arrow-down-l"></span>1回線目のお申し込み</a></li>
  <li><a href="#anc-02" class="c-Link_Txt-icon-front js-scroll"><span
        class="c-Icon_Arrow-down-l"></span>2回線目以降のお申し込み</a></li>
</ul>

  <p class="u-Adjust_Mt-32 u-Adjust_Align-center">
    <a href="<%= sitepath %>guide/flow/application/" class="c-Btn_Secondly-half"><span>製品＋プランセット、プランのみのお申し込み方法はこちら</span></a>
  </p>

  <h2 id="anc-01" class="c-Heading_Lv2 u-Adjust_Mt-48">1回線目のお申し込み</h2>
  <ol class="c-Flow">
    <li><span class="c-Txt_Alphanumeric-m">1</span>
      <h3 class="c-Heading_Lv4 u-Adjust_Align-center">本人確認書類のアップロード</h3>
      <p class="u-Adjust_Mt-24">1.契約者情報をご確認ください。</p>
      <p class="c-Txt_Cap u-Adjust_Mt-16">※「契約者情報の変更」から変更も可能です。</p>

      <figure class="u-Adjust_Mt-16 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/step1-1.png" width="300" alt="" class="c-Img_Capture">
      </figure>


      <h4 class="c-Heading_Lv4 u-Adjust_Mt-40">18歳未満のお客様の場合</h4>
      <p class="u-Adjust_Mt-24">以下の2点が追加で必要です。</p>
      <ul class="c-List_Text-disc u-Adjust_Mt-16">
        <li>親権者情報をご登録ください。</li>
      </ul>
      <figure class="u-Adjust_Mt-16 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/step1-1-1.png" width="300" alt="" class="c-Img_Capture">
      </figure>
      <ul class="c-List_Text-disc u-Adjust_Mt-48">
        <li>保護者（親権者）にて、法定代理人同意書 兼 支払名義人同意書にご記入いただき、アップロードをしてください。</li>
      </ul>
      <figure class="u-Adjust_Mt-16 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/step1-1-2.png" width="300" alt="" class="c-Img_Capture">
      </figure>

      <p class="u-Adjust_Align-center c-Txt_Normal-l c-Txt_Emp-02 u-Adjust_Mt-16">
        <span class="c-Icon_Arrow-down-l"></span>
      </p>


      <p class="u-Adjust_Mt-24">2.<a href="<%= sitepath %>guide/verify/">本人確認書類</a>のご提示方法を選択してください。</p>

      <figure class="u-Adjust_Mt-16 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/step1-2.png" width="300" alt="" class="c-Img_Capture">
      </figure>

      <p class="u-Adjust_Align-center c-Txt_Normal-l c-Txt_Emp-02 u-Adjust_Mt-16">
        <span class="c-Icon_Arrow-down-l"></span>
      </p>

      <p class="u-Adjust_Mt-24">3.「<a href="<%= sitepath %>guide/verify/">本人確認書類</a>をアップロード」を選択した場合は、ご提出いただく本人確認書類を選択し、写真をアップロードして「次へ進む」をタップしてください。</p>

      <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>faq/detail/00001970/" class="c-Link_Txt-inline">ご提出いただく本人確認書類にてよくある不備について見る<span class="c-Icon_Chevron-right"></span></a></p>

      <figure class="u-Adjust_Mt-16 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/step1-3.png" width="300" alt="" class="c-Img_Capture">
      </figure>

    </li>
    <li><span class="c-Txt_Alphanumeric-m">2</span>
      <h3 class="c-Heading_Lv4 u-Adjust_Align-center">電話番号の選択</h3>
      <p class="u-Adjust_Mt-24">ご希望の電話番号情報を選択してください。</p>

      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/step2-1-230524.png" width="300" alt="" class="c-Img_Capture">
      </figure>

      <p class="u-Adjust_Mt-24">・「<a href="<%= sitepath %>guide/mnp/">他社から乗り換え（MNP）</a>」をご希望の場合は、電話番号、MNP予約番号などを入力し、「次へ進む」をタップしてください。</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※MNPワンストップ未対応の携帯電話会社から乗り換えの方は、MNP予約番号の取得が必要です。</p>

      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/step2-2-230524.png" width="300" alt="" class="c-Img_Capture">
      </figure>

      <p class="u-Adjust_Mt-24">・「選べる電話番号サービス」をご希望の場合は、ご希望の下4桁の半角数字を入力し「検索する」をタップして番号を選択し、「次へ進む」をタップしてください。</p>

      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/step2-3.png?210401" width="300" alt="" class="c-Img_Capture">
      </figure>

      <p class="u-Adjust_Mt-24">・「新規電話番号の取得」をご希望の場合は、画面に表示されている番号の中から選択し、「次へ進む」をタップしてください。</p>

      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/step2-4.png?210401" width="300" alt="" class="c-Img_Capture">
      </figure>

    </li>
    <li><span class="c-Txt_Alphanumeric-m">3</span>
      <h3 class="c-Heading_Lv4 u-Adjust_Align-center">お届けとお支払い方法情報</h3>
      <p class="u-Adjust_Mt-24">1.受け取り方法を選択してください。</p>
      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/step3-1.png?211008" width="300" alt="" class="c-Img_Capture">
      </figure>

      <p class="u-Adjust_Mt-24">お店でお申し込みを継続したい場合は、「お店でお申し込みを続ける」を選択して、QRコードを保存してお近くの楽天モバイルショップにご来店ください。</p>
      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/step3-2.png" width="300" alt="" class="c-Img_Capture">
      </figure>

      <p class="u-Adjust_Align-center c-Txt_Normal-l c-Txt_Emp-02 u-Adjust_Mt-16">
        <span class="c-Icon_Arrow-down-l"></span>
      </p>

      <p class="u-Adjust_Mt-24">2.お申し込みいただいたプラン、製品、アクセサリーなどのそれぞれのお支払い方法、楽天ポイント利用の有無を選択し、最下部の「次へ進む」をタップしてください。</p>
      <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-inline">楽天モバイルでのお支払い方法について見る<span class="c-Icon_Chevron-right"></span></a></p>
      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/step3-3.png" width="300" alt="" class="c-Img_Capture">
      </figure>

    </li>
    <li><span class="c-Txt_Alphanumeric-m">4</span>
      <h3 class="c-Heading_Lv4 u-Adjust_Align-center">お申し込み内容の確認</h3>
      <p class="u-Adjust_Mt-24">お申し込み内容に間違いがないかご確認いただき「この内容で申し込む」をタップしてください。</p>
      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/step4-1-230711.png" width="300" alt="" class="c-Img_Capture">
      </figure>
    </li>
    <li><span class="c-Txt_Alphanumeric-m">5</span>
      <h3 class="c-Heading_Lv4 u-Adjust_Align-center">重要事項説明・利用規約の確認</h3>
      <p class="u-Adjust_Mt-24">重要事項説明をご確認の上、「同意しました」のチェックを入れてください。</p>
      <p class="c-Txt_Cap u-Adjust_Mt-16">※契約書の郵送をご希望の場合はチェックを外してから、「同意して申し込む」のボタンをタップしてください。</p>


      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/step5-1.png" width="300" alt="" class="c-Img_Capture">
      </figure>

      <p class="u-Adjust_Mt-24">同様に、利用規約をご確認の上、「同意しました」にチェックを入れてください。</p>
      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/step5-2.png" width="300" alt="" class="c-Img_Capture">
      </figure>

      <p class="u-Adjust_Mt-24">同様に、情報提供についてをご確認の上、「位置情報と通信履歴の提供に同意します」にチェックを入れて、「同意して申し込む」をタップしてお申し込みを完了してください。</p>
      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/step5-3.png" width="300" alt="" class="c-Img_Capture">
      </figure>

    </li>

    <li><span class="c-Txt_Alphanumeric-m">６</span>
      <h3 class="c-Heading_Lv4 u-Adjust_Align-center">お申し込み完了</h3>
      <p class="u-Adjust_Mt-24">お申し込みが完了いたしました。本人確認の審査が完了次第、発送準備に入りますのでお待ちください。</p>
      <p class="u-Adjust_Mt-8">本人確認の審査状況、発送状況、お申し込み内容などは「<a href="<%= ecarepath %>my-rakuten-mobile">my 楽天モバイル</a>」でご確認いただけます。</p>
      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/07b-230711.png" width="300" alt="" class="c-Img_Capture">
      </figure>
    </li>
  </ol>
  <!--  -->
  <h2 id="anc-02" class="c-Heading_Lv2 u-Adjust_Mt-48">2回線目のお申し込み</h2>
  <p class="u-Adjust_Mt-16">以下に当てはまる場合は、2回線目以降の回線を契約する際に本人確認書類の提出を省略することができます。</p>
  <ul class="c-List_Text-disc u-Adjust_Mt-16">
    <li>現在Rakuten最強プランもしくはApple Watch ファミリー共有を契約している</li>
    <li>直近の契約時から住所・氏名・生年月日が変更になっていない</li>
    <li>同じ楽天IDでログインしている</li>
    <li>18歳以上</li>
  </ul>

  <ol class="c-Flow">
    <li><span class="c-Txt_Alphanumeric-m">1</span>
      <h3 class="c-Heading_Lv4 u-Adjust_Align-center">契約者情報の確認</h3>
      <p class="u-Adjust_Mt-24">契約者情報をご確認いただき、変更がなければ「契約者情報と本人確認書類の情報が一致していることを確認しました」にチェックをいれてください。</p>
      <p class="c-Txt_Cap u-Adjust_Mt-16">※契約者情報の変更がある場合や、有効な回線契約をお持ちでない場合は、通常のお申し込み手順となります。</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※18歳未満のお客様は、通常のお申し込み手順となります。</p>

      <figure class="u-Adjust_Mt-16 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/step2-1-0711.png" width="300" alt="" class="c-Img_Capture">
      </figure>
    </li>
    <li><span class="c-Txt_Alphanumeric-m">2</span>
      <h3 class="c-Heading_Lv4 u-Adjust_Align-center">電話番号の選択</h3>
      <p class="u-Adjust_Mt-24">ご希望の電話番号情報を選択してください。</p>

      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/step2-1-230524.png" width="300" alt="" class="c-Img_Capture">
      </figure>

      <p class="u-Adjust_Mt-24">・「<a href="<%= sitepath %>guide/mnp/">他社から乗り換え（MNP）</a>」をご希望の場合は、電話番号、MNP予約番号などを入力し、「次へ進む」をタップしてください。</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※MNPワンストップ未対応の携帯電話会社から乗り換えの方は、MNP予約番号の取得が必要です。</p>

      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/step2-2-230524.png" width="300" alt="" class="c-Img_Capture">
      </figure>

      <p class="u-Adjust_Mt-24">・「選べる電話番号サービス」をご希望の場合は、ご希望の下4桁の半角数字を入力し「検索する」をタップして番号を選択し、「次へ進む」をタップしてください。</p>

      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/step2-3.png?210401" width="300" alt="" class="c-Img_Capture">
      </figure>

      <p class="u-Adjust_Mt-24">・「新規電話番号の取得」をご希望の場合は、画面に表示されている番号の中から選択し、「次へ進む」をタップしてください。</p>

      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/step2-4.png?210401" width="300" alt="" class="c-Img_Capture">
      </figure>

    </li>
    <li><span class="c-Txt_Alphanumeric-m">3</span>
      <h3 class="c-Heading_Lv4 u-Adjust_Align-center">お届けとお支払い方法情報</h3>
      <p class="u-Adjust_Mt-24">1.受け取り方法を選択してください。</p>
      <p class="u-Adjust_Mt-16 c-Txt_Cap">※配送先の住所を変更する場合は本人確認書類の提出が必要となります。</p>
      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/step3-1-230711.png" width="300" alt="" class="c-Img_Capture">
      </figure>

      <p class="u-Adjust_Align-center c-Txt_Normal-l c-Txt_Emp-02 u-Adjust_Mt-16">
        <span class="c-Icon_Arrow-down-l"></span>
      </p>

      <p class="u-Adjust_Mt-24">2.お申し込みいただいたプラン、製品、アクセサリーなどのそれぞれのお支払い方法、楽天ポイント利用の有無を選択し、最下部の「次へ進む」をタップしてください。</p>
      <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-inline">楽天モバイルでのお支払い方法について見る<span
            class="c-Icon_Chevron-right"></span></a></p>
      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/step3-3.png" width="300" alt="" class="c-Img_Capture">
      </figure>
    </li>
    <li><span class="c-Txt_Alphanumeric-m">4</span>
      <h3 class="c-Heading_Lv4 u-Adjust_Align-center">お申し込み内容の確認</h3>
      <p class="u-Adjust_Mt-24">お申し込み内容に間違いがないかご確認いただき「この内容で申し込む」をタップしてください。</p>
      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/step4-1-230711.png" width="300" alt="" class="c-Img_Capture">
      </figure>
    </li>
    <li><span class="c-Txt_Alphanumeric-m">5</span>
      <h3 class="c-Heading_Lv4 u-Adjust_Align-center">重要事項説明・利用規約の確認</h3>
      <p class="u-Adjust_Mt-24">重要事項説明をご確認の上、「同意しました」のチェックを入れてください。</p>
      <p class="c-Txt_Cap u-Adjust_Mt-16">※契約書の郵送をご希望の場合はチェックを外してから、「同意して申し込む」のボタンをタップしてください。</p>


      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/step5-1.png" width="300" alt="" class="c-Img_Capture">
      </figure>

      <p class="u-Adjust_Mt-24">同様に、利用規約をご確認の上、「同意しました」にチェックを入れてください。</p>
      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/step5-2.png" width="300" alt="" class="c-Img_Capture">
      </figure>

      <p class="u-Adjust_Mt-24">同様に、情報提供についてをご確認の上、「位置情報と通信履歴の提供に同意します」にチェックを入れて、「同意して申し込む」をタップしてお申し込みを完了してください。</p>
      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/step5-3.png" width="300" alt="" class="c-Img_Capture">
      </figure>

    </li>

    <li><span class="c-Txt_Alphanumeric-m">６</span>
      <h3 class="c-Heading_Lv4 u-Adjust_Align-center">お申し込み完了</h3>
      <p class="u-Adjust_Mt-24">お申し込みが完了でき次第、発送準備に入りますのでお待ちください。</p>
      <p class="u-Adjust_Mt-8">本人確認の審査状況、発送状況、お申し込み内容などは「<a href="<%= ecarepath %>my-rakuten-mobile">my 楽天モバイル</a>」でご確認いただけます。</p>
      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/flow/application/07c-230711.png" width="300" alt="" class="c-Img_Capture">
      </figure>
    </li>
  </ol>
  <div class="u-Adjust_Pt-64">
    <div><a href="<%= sitepath %>support/" class="c-Btn_Regular-semiauto"><span>お客様サポートトップにもどる</span></a></div>
    <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular-semiauto"><span>楽天モバイルトップへ</span></a></div>
  </div>
</div>


<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
