<% const pagetitle = "楽天モバイル（ドコモ回線・au回線）通話SIMをご利用中のお客様" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "tokuregi-notice" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '',
    keywords: '',
    noindex: true,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/tokuregi-notice/tokuregi-notice.css?20240424">
<%- include('/include/_append-head') %>
</head>

<body class="<%= namespace %>">
  <%- include('/include/_prepend-body') %>

  <div class="l-System">

    <header>
      <div class="<%= namespace %>-Hero">
        <h1 class="c-Txt_Emp-01 c-Txt_Normal u-Adjust_Align-center">
          楽天モバイル（ドコモ回線・au回線）<br>
          通話SIMをご利用中のお客様</h1>
      </div>
    </header>


    <div class="l-System_Container">

      <h2 class="c-Heading_Lv4 u-Adjust_Mt-16">楽天回線（Rakuten UN-LIMIT VII）へのプラン変更（移行）手続き時の注意事項</h2>
      <p class="u-Adjust_Mt-8 <%= namespace %>-Utility-red">
        メンバーズステーション（会員ページ）でのお手続き方法とは異なりますので、以下の注意事項を必ずご確認の上お申し込みください。
      </p>

      <div class="c-Theme-Borderbox u-Adjust_Mt-16 <%= namespace %>-Utility-Radius_4">
        <ul class="c-List_Text-disc c-Txt_Normal-s">
          <li>
            プラン変更（移行）に伴い、ドコモ回線・au回線（スーパーホーダイ、組み合わせプラン、コミコミプラン）のプラン料金と楽天回線（Rakuten UN-LIMIT VII）のプラン料金が重複する可能性があります。<br>
            その場合、楽天回線のプラン料金と引き継いだオプション・サービスの月額利用料いずれもご請求が発生します。
          </li>
          <li>
            本お申し込みページよりプラン変更（移行）手続きを行った場合、「Rメール（@rakuten.jp）」ならびに「スマホ交換保証」は引き継げません。
          </li>
        </ul>
        <div class="u-Adjust_Mt-8 u-Adjust_Align-center">
          <img src="<%= sitepath %>assets/img/campaign/tokuregi-notice/img-tokuregi-unlimit-VII-01.png?220701" alt="" width="311">
        </div>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※本ページからお申し込みの場合は後日MNP予約番号が必要になります。メンバーズステーションから発行してください。</p>
        <p class="c-Txt_Cap u-Adjust_Mt-16">※1 楽天回線プランの月額料金とドコモ回線・au回線（スーパーホーダイ、組み合わせプラン、コミコミプラン）から引き継いだオプション・サービスの月額利用料についてはご請求を取り消します。</p>
        <p class="c-Txt_Cap u-Adjust_Mt-16">※2 楽天回線プラン側で新たにお申し込みいただいたオプション・サービスは、月額利用料が発生します。</p>
      </div>

      <div class="<%= namespace %>-Anchor">
        <a href="#anc01" class="c-Link_Txt-icon-front" data-ratId="tokreg_migration_mno_mig-notice_rule" data-ratEvent="click" data-ratParam="all">
          <div>
            <p>プラン変更（移行）手続きの注意事項</p>
            <p class="tokuregi-notice-Anchor-Cap">※必ずお読みください</p>
          </div>
          <div>
            <span class="c-Icon_Arrow-down-l u-Adjust_Pr-16"></span>
          </div>
        </a>
      </div>


      <div class="u-Adjust_Mt-8">
        <div class="tokuregi-box">
          <p class="tokuregi-border-Red c-Txt_Emp-02 c-Txt_Normal-s">上記に同意の上、お申し込みにお進みください</p>
          <label class="c-Form_Checkbox u-Adjust_Mt-8">
            <input type="checkbox" name="tokuregi-agree" id="tokuregi-agree" value="1" autocomplete="off">
            <span class="c-Icon_Check"></span>
            <span class="c-Form_Checkbox-label c-Txt_Emp-01">上記の内容を確認し、同意しました。</span>
          </label>
        </div>
      </div>

      </div>

      <div class="c-Theme-Emphasis1 <%= namespace %>-error u-Adjust_Mt-16" style="display: none;">
        <p class="c-Txt_Emp-02 u-Adjust_Align-center">
          ページの遷移が正しくないため、エラーが発生しました。<br>
          1つ前のページに戻ってもう一度お試しください。
        </p>
      </div>




    <div class="<%= namespace %>-Button-Area u-Adjust_Mt-24">
      <p class="u-Adjust_Align-center c-Txt_Emp-01">回線プランのみお申し込み</p>

      <div class="u-Adjust_Align-center u-Adjust_Mt-8">
        <p class="tokuregi-Txt_Error js-tokuregi-error">上記の「同意しました」にチェックしてください</p>
        <a href="https://onboarding.mobile.rakuten.co.jp/technical-operation?action=tokureji_oneclick&port-in=true&l-id=wi_ich_rmb_tokreg_migration_mno_mig-notice_migration" class="<%= namespace %>-Button-Primary c-Btn_Primary-large js-tokuregi-agree js-param u-Adjust_Pt-8 u-Adjust_Pb-8">
          <span><span class="c-Btn_Text-sub" style="font-size:11px;">スーパーホーダイ、組み合わせプランからの</span>プラン変更（移行）お申し込み</span>
        </a>
      </div>

      <p class="u-Adjust_Align-center u-Adjust_Mt-24 c-Txt_Emp-01">お申し込みと一緒に製品を購入</p>
      <div class="u-Adjust_Align-center u-Adjust_Mt-8">
        <p class="tokuregi-Txt_Error js-tokuregi-error">上記の「同意しました」にチェックしてください</p>
        <a href="https://onboarding.mobile.rakuten.co.jp/technical-operation?action=tokureji_regular&l-id=wi_ich_rmb_tokreg_migration_mno_mig-notice_bundle" class="<%= namespace %>-Button-Primary c-Btn_Primary-large js-tokuregi-agree js-param">
          <span>製品(スマホ)と回線プランのお申し込み</span>
        </a>
      </div>

    </div>


    <div class="l-System_Container">
      <p class="u-Adjust_Align-center u-Adjust_Mt-24 js-link">
        <a href="https://sp.basket.step.rakuten.co.jp/rms/mall/bss/morderfrom/?status=4&scid=tokreg_mno_mvno-back2baskets" class="c-Btn_Regular-large <%= namespace %>-Button-Regular" data-ratId="tokreg_mno_mig-notice_back_footer" data-ratEvent="click" data-ratParam="all">
          <span>お申し込みせず楽天市場でのお買い物に戻る</span>
        </a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=tokreg_migration_mig-notice_ms-migration​&mno_migration=1" class="c-Link_Txt-inline">楽天モバイルメンバーステーション（会員ページはこちら）<span class="c-Icon_New-window-l"></span></a>
      </p>

      <hr class="u-Adjust_Mt-24" style="border: solid 1px rgba(0, 0, 0, 0.08);">


      <p class="c-Txt_Emp-01 u-Adjust_Mt-32" id="anc01">プラン変更（移行）手続きの注意事項（必ずお読みください）</p>

      <div class="u-Adjust_Mt-16">
        <div class="tokuregi-notice-Acc-Inner">
          <p class="c-Txt_Cap">
            ※1 Rメールのご利用を継続してご希望の場合はメンバーズステーションからプラン変更（移行）のお手続きをお願いいたします。<br>
            <br>
            ※2 楽天回線（Rakuten UN-LIMIT VII）へのプラン変更（移行）を本ページでお申し込みされる場合、ご利用中のドコモ回線・au回線のオプション・サービスは引き継がれず解約となり、楽天回線で新たにご契約いただきます。その場合、同月内で「ドコモ回線・au回線（スーパーホーダイ、組み合わせプラン、コミコミプラン）のオプション・サービス月額基本料金」と「楽天回線のオプション・サービス月額基本料金」両方のご請求が発生いたしますのでご了承ください。<br>
            <br>
            メンバーズステーションからのプラン変更（移行）の場合は、ドコモ回線・au回線のオプション・サービスをそのまま引き継ぐことが出来ます。この場合の当月分のオプション・サービス月額基本料金は、ドコモ回線・au回線分のみご請求いたします。<br>
            <br>
            ※3 本お申し込みページでは「スマホ交換保証」から楽天回線の「スマホ交換保証プラス」への引き継ぎを行うことが出来ません。引き継ぎをご希望のお客様は、本ページではなくメンバーズステーションからプラン変更（移行）手続きを行ってください。その場合、本特典は適用されません。引き継ぎは「スマホ交換保証」に加入している製品が楽天回線対応製品の場合に限ります。あらかじめご了承ください。<br><br>
            メンバーズステーションでプラン変更（移行）手続きを行った場合は、当月分のオプション・サービス月額基本料金はドコモ回線・au回線（スーパーホーダイ、組み合わせプラン、コミコミプラン）のみご請求いたします。<br><br>
            楽天回線（Rakuten UN-LIMIT VII）へのプラン変更（移行）お申し込みの際、新たに製品をご購入されると「スマホ交換保証プラス」のご契約が可能です。<br><br>
            ドコモ回線・au回線（スーパーホーダイ、組み合わせプラン、コミコミプラン）で使用していた製品の保証が不要になる場合は、移行お申し込み時の「お申し込み内容の確認」画面で保証を解除してください。<br><br>
            <br>
            ※4 楽天回線（Rakuten UN-LIMIT VII）でセキュリティのオプションをご利用になる場合は「ノートン™ モバイルセキュリティ」を選択いただく必要がございます。<br>
          </p>
        </div>
    </div>

    </div>

    <footer class="g-Footer <%= namespace %>-Footer">
      &copy; Rakuten Mobile, Inc.
    </footer>

  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>

  <script>
    (function ($) {
    $(function () {
      var $checkbox = $('#tokuregi-agree');
      var $error = $('.js-tokuregi-error');
      $('.js-tokuregi-agree').on('click', function (e) {
          if (!$checkbox.prop('checked')) {
            e.preventDefault();
            e.stopPropagation();
            $error.hide();
            $(this).prev('.js-tokuregi-error').show();
          }
      });
      $checkbox.on('change', function () {
        $error.hide();
      });
    });
  })(window.jQuery);
    // $(function () {
    //   $('#agree').on('change', function () {
    //     var $submit = $('.js-agree');
    //     var checked = $(this).prop('checked');
    //     $submit.attr('aria-disabled', !checked);
    //     $submit.prop('disabled', !checked);
    //   }).trigger('change');

    // });

  function getParam(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
      results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
  }

  var prm;
  var carttype = (getParam('cart_type'));
  var coupon = getParam('coupon');
  // console.log(carttype);
  // console.log(coupon);

  if (carttype === null || coupon === null) {
    $('.tokuregi-notice-error').css('display', 'block');
    $('#agree').prop('disabled','false');
  } else if (carttype == 2){
    $('.js-link').html('<a href="https://ts.sp.basket.step.rakuten.co.jp/rms/mall/bss/morderfrom/?status=4&scid=tokreg_mno_mvno-back2baskets" class="c-Btn_Regular-large <%= namespace %>-Button-Regular" data-ratId="tokreg_mno_mig-notice_back_footer" data-ratEvent="click" data-ratParam="all"><span>お申し込みせず楽天市場でのお買い物に戻る</span></a>');
  } else {
  }

  function retrieveGETqs() {
    var query = window.location.search.substring(1);
    return query;
    if (!query) return false;
  }
  $(function () {
    $('.js-param').each(function () {
        var $this = $(this);
        var target_url = $this.attr("href");

        if (target_url.indexOf('?') !== -1) {
            $this.attr('href', target_url + '&' + "cart_type=" + carttype + "&coupon=" + coupon);
        } else {
            $this.attr('href', target_url + '?' + "cart_type=" + carttype + "&coupon=" + coupon);
        }
    });
});
</script>


</body>

</html>
