<% const pagetitle = "販売終了製品一覧" -%>
<% const directories = [{path:"product/", label:" 製品"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルでの販売が終了した製品をご確認いただけます。',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<%- include('/include/_append-head') %>
</head>
<body>

<%- include('/include/_prepend-body') %>

<div class="l-System">

  <%- include('/include/_header') %>

  <div class="c-Breadcrumbs_Head">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <div class="u-Adjust_Pb-64">
    <div class="l-System_Container u-Adjust_Mt-32">
      <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
      <p class="u-Adjust_Mt-24">楽天モバイルで過去に販売していた製品一覧です。</p>

      <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">スマートフォン</h2>

      <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">iPhone</h3>
      <h4 class="c-Heading_Lv4 u-Adjust_Mt-40">Apple</h4>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/iphone/iphone-14-pro-max/" class="c-Link_Txt-inline">iPhone 14 Pro Max<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/iphone/iphone-14-pro/" class="c-Link_Txt-inline">iPhone 14 Pro<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/iphone/iphone-13-pro-max/" class="c-Link_Txt-inline">iPhone 13 Pro Max<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/iphone/iphone-13-pro/" class="c-Link_Txt-inline">iPhone 13 Pro<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/iphone/iphone-13-mini/" class="c-Link_Txt-inline">iPhone 13 mini<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/iphone/iphone-se-2nd/" class="c-Link_Txt-inline">iPhone SE（第2世代）<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/iphone/iphone-12-pro-max/" class="c-Link_Txt-inline">iPhone 12 Pro Max<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/iphone/iphone-12-pro/" class="c-Link_Txt-inline">iPhone 12 Pro<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/iphone/iphone-12-mini/" class="c-Link_Txt-inline">iPhone 12 mini<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/iphone/iphone-12/" class="c-Link_Txt-inline">iPhone 12<span class="c-Icon_Chevron-right"></span></a>
      </p>

      <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">Android</h3>
      <h4 class="c-Heading_Lv4 u-Adjust_Mt-40">Fujitsu Connected Technologies</h4>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/arrows-rx/" class="c-Link_Txt-inline">arrows RX<span class="c-Icon_Chevron-right"></span></a>
      </p>

      <h4 class="c-Heading_Lv4 u-Adjust_Mt-40">Galaxy</h4>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/galaxy-a7/" class="c-Link_Txt-inline">Galaxy A7<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/galaxy-note10-plus/" class="c-Link_Txt-inline">Galaxy note10+<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/galaxy-s10/" class="c-Link_Txt-inline">Galaxy S10<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/galaxy-z-flip4/" class="c-Link_Txt-inline">Galaxy Z Flip4<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/galaxy-a23-5g/" class="c-Link_Txt-inline">Galaxy A23 5G<span class="c-Icon_Chevron-right"></span></a>
      </p>

      <h4 class="c-Heading_Lv4 u-Adjust_Mt-40">HUAWEI</h4>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/nova5t/" class="c-Link_Txt-inline">HUAWEI nova 5T<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/p30lite/" class="c-Link_Txt-inline">HUAWEI P30 lite<span class="c-Icon_Chevron-right"></span></a>
      </p>

      <h4 class="c-Heading_Lv4 u-Adjust_Mt-40">OPPO</h4>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/a5-2020/" class="c-Link_Txt-inline">OPPO A5 2020<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/a73/" class="c-Link_Txt-inline">OPPO A73<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/reno-a/" class="c-Link_Txt-inline">OPPO Reno A 128GB<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/reno3-a/" class="c-Link_Txt-inline">OPPO Reno3 A<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/reno5-a/" class="c-Link_Txt-inline">OPPO Reno5 A<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/a55s-5g/" class="c-Link_Txt-inline">OPPO A55s 5G<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/reno7-a/" class="c-Link_Txt-inline">OPPO Reno7 A<span class="c-Icon_Chevron-right"></span></a>
      </p>

      <h4 class="c-Heading_Lv4 u-Adjust_Mt-40">楽天モバイル</h4>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/rakuten-big/" class="c-Link_Txt-inline">Rakuten BIG<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/rakuten-big-s/" class="c-Link_Txt-inline">Rakuten BIG s<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/rakuten-hand/" class="c-Link_Txt-inline">Rakuten Hand<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/rakuten-hand-5g/" class="c-Link_Txt-inline">Rakuten Hand 5G<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/rakuten-mini/" class="c-Link_Txt-inline">Rakuten Mini<span class="c-Icon_Chevron-right"></span></a>
      </p>

      <h4 class="c-Heading_Lv4 u-Adjust_Mt-40">SHARP</h4>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/aquos-sense3-lite/" class="c-Link_Txt-inline">AQUOS sense3 lite<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/aquos-sense3-plus/" class="c-Link_Txt-inline">AQUOS sense3 plus<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/aquos-sense4-lite/" class="c-Link_Txt-inline">AQUOS sense4 lite<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/aquos-sense4-plus/" class="c-Link_Txt-inline">AQUOS sense4 plus<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/aquos-r5g/" class="c-Link_Txt-inline">AQUOS R5G<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/aquos-sense6/" class="c-Link_Txt-inline">AQUOS sense6<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/aquos-wish/" class="c-Link_Txt-inline">AQUOS wish<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/aquos-zero6/" class="c-Link_Txt-inline">AQUOS zero6<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/aquos-sense6s/" class="c-Link_Txt-inline">AQUOS sense6s<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/aquos-sense7/" class="c-Link_Txt-inline">AQUOS sense7<span class="c-Icon_Chevron-right"></span></a>
      </p>

      <h4 class="c-Heading_Lv4 u-Adjust_Mt-40">Sony Mobile Communications</h4>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/xperia-ace/" class="c-Link_Txt-inline">Xperia Ace<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/xperia-10m3-lite/" class="c-Link_Txt-inline">Xperia 10 III Lite<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/xperia-10m4/" class="c-Link_Txt-inline">Xperia 10 IV<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/xperia-5m4/" class="c-Link_Txt-inline">Xperia 5 IV<span class="c-Icon_Chevron-right"></span></a>
      </p>

      <h4 class="c-Heading_Lv4 u-Adjust_Mt-40">Xiaomi</h4>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/smartphone/redmi-note-11-pro-5g/" class="c-Link_Txt-inline">Redmi Note 11 Pro 5G<span class="c-Icon_Chevron-right"></span></a>
      </p>

      <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">モバイルルーター</h2>
      <h4 class="c-Heading_Lv4 u-Adjust_Mt-40">NEC</h4>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/internet/aterm-mp02ln/" class="c-Link_Txt-inline">Aterm MP02LN<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/internet/aterm-mr05ln/" class="c-Link_Txt-inline">Aterm MR05LN RW<span class="c-Icon_Chevron-right"></span></a>
      </p>

      <h4 class="c-Heading_Lv4 u-Adjust_Mt-40">楽天モバイル</h4>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/internet/rakuten-wifi-pocket/" class="c-Link_Txt-inline">Rakuten WiFi Pocket<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/internet/rakuten-wifi-pocket-2b/" class="c-Link_Txt-inline">Rakuten WiFi Pocket 2B<span class="c-Icon_Chevron-right"></span></a>
      </p>

      <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">ウェアラブル</h2>

      <h4 class="c-Heading_Lv4 u-Adjust_Mt-40">Apple</h4>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/apple-watch/apple-watch-series7/" class="c-Link_Txt-inline">Apple Watch Series 7<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/apple-watch/apple-watch-nike-series7/" class="c-Link_Txt-inline">Apple Watch Nike Series 7<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/apple-watch/apple-watch-se/" class="c-Link_Txt-inline">Apple Watch SE（第1世代）<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/apple-watch/apple-watch-nike-se/" class="c-Link_Txt-inline">Apple Watch Nike SE<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/apple-watch/apple-watch-series8/" class="c-Link_Txt-inline">Apple Watch Series 8<span class="c-Icon_Chevron-right"></span></a>
      </p>


      <h4 class="c-Heading_Lv4 u-Adjust_Mt-40">OPPO</h4>
      <p class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>product/wearable/oppo-band-style/" class="c-Link_Txt-inline">OPPO Band Style<span class="c-Icon_Chevron-right"></span></a>
      </p>

      <div class="u-Adjust_Mt-64">
        <a href="<%= sitepath %>product/" class="c-Btn_Regular"><span>楽天回線対応製品を見る</span></a>
      </div>

    </div>
  </div>

  <footer class="g-Footer">
    <div class="l-System_Container">
      <div class="c-Breadcrumbs_Foot">
        <ul>
          <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
          <%_ } _%>
          <li aria-current="true"><%= pagetitle %></li>
        </ul>
      </div>
    </div>

    <%- include('/include/_footer') %>

  </footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
