<% const pagetitle = "楽天モバイルを使うだけで楽天ポイントどのくらい貯まる！？" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '楽天モバイルをご契約中に楽天市場でお買い物をした場合、SPUモバイル特典で、どのくらい楽天ポイントが貯まるのかご確認いただけます。また、貯まったポイントの使い方や、ご契約後もずっと続くおトクな情報を伝授します。',
    keywords: '',
    noindex: false,
    pathname: filepath,
    browseragent: true,
  });
%>

<% const nameSpace = "tips" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/tips/point/tips.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>
<div class="l-System">
<%- include('/include/_header') %>
<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Hero">
  <h1>
    <picture>
      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/hero-sp-20230623.png">
      <img src="<%= sitepath %>assets/img/tips/point/hero-pc.png" width="1440" height="420" alt="楽天モバイルを使うだけで...楽天ポイントどのくらい貯まる!?貯まったポイントの使い方や、ご契約後もず〜っと続くおトク情報をご紹介！">
    </picture>
  </h1>
</div>

<div class="<%= nameSpace %>-Anchor_Wrapper" id="anchor">
  <div class="l-System_Container">
    <ul class="<%= nameSpace %>-Anchor_List">
      <li class="<%= nameSpace %>-Anchor_Item">
        <a href="#point" class="<%= nameSpace %>-Anchor_Item-link js-scroll">
          <p class="c-Link_Txt-icon-front <%= nameSpace %>-Anchor_Item-link-icon-front"><span class="c-Icon_Arrow-down-l"></span>特典で貯まるポイントは？</p>
          <div class="<%= nameSpace %>-Anchor_Item-link-icon">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/anchor-01-sp.png" width="50" height="30">
              <img src="<%= sitepath %>assets/img/tips/point/anchor-01-pc.png" width="56" height="32" alt="">
            </picture>
          </div>
        </a>
      </li>
      <li class="<%= nameSpace %>-Anchor_Item">
        <a href="#use" class="<%= nameSpace %>-Anchor_Item-link js-scroll">
          <p class="c-Link_Txt-icon-front <%= nameSpace %>-Anchor_Item-link-icon-front"><span class="c-Icon_Arrow-down-l"></span>ポイントお支払い利用<span class="c-Txt_Cap <%= nameSpace %>-Anchor_Item-annotation">※1</span></p>
          <div class="<%= nameSpace %>-Anchor_Item-link-icon">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/anchor-02-sp.png" width="58" height="26">
              <img src="<%= sitepath %>assets/img/tips/point/anchor-02-pc.png" width="66" height="30" alt="">
            </picture>
          </div>
        </a>
      </li>
      <li class="<%= nameSpace %>-Anchor_Item">
        <a href="#utilization" class="<%= nameSpace %>-Anchor_Item-link js-scroll">
          <p class="c-Link_Txt-icon-front <%= nameSpace %>-Anchor_Item-link-icon-front"><span class="c-Icon_Arrow-down-l"></span>楽天モバイル活用術</p>
          <div class="<%= nameSpace %>-Anchor_Item-link-icon">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/anchor-03-sp.png" width="54" height="46">
              <img src="<%= sitepath %>assets/img/tips/point/anchor-03-pc.png" width="42" height="28" alt="">
            </picture>
          </div>
        </a>
      </li>
      <li class="<%= nameSpace %>-Anchor_Item">
        <a href="#campaign" class="<%= nameSpace %>-Anchor_Item-link js-scroll">
          <p class="c-Link_Txt-icon-front <%= nameSpace %>-Anchor_Item-link-icon-front"><span class="c-Icon_Arrow-down-l"></span>キャンペーン・特典</p>
          <div class="<%= nameSpace %>-Anchor_Item-link-icon">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/anchor-04-sp.png" width="41" height="30">
              <img src="<%= sitepath %>assets/img/tips/point/anchor-04-pc.png" width="38" height="28" alt="">
            </picture>
          </div>
        </a>
      </li>
    </ul>
    <div class="u-Align_Llc">
      <p class="c-Txt_Cap <%= nameSpace %>-Anchor-annotation">※1 月々のお支払いに口座振替をご指定の場合は、楽天ポイントをご利用いただけません。利用上限あり</p>
    </div>
  </div>
</div>

<section id="point">
  <div class="<%= nameSpace %>-Utility_Bg-pink100 <%= nameSpace %>-Utility_Title-wrapper" id="js-poikaku-login">
    <h2 class="<%= nameSpace %>-Utility_Title-panda" data-ratid="pointgadget-lp_scroll-01-pointgadget" data-ratevent="appear">
      <span class="<%= nameSpace %>-Point_Poikaku-ttl-contract" aria-hidden="true">
        <span class="<%= nameSpace %>-Utility_Title-sub">＼楽天モバイルご契約特典で／</span>
        あなたはどのくらい<br class="u-Show_Sp">ポイント貯まってる？
      </span>
      <span class="<%= nameSpace %>-Point_Poikaku-ttl-nonpoint-contract <%= nameSpace %>-Point_Poikaku-ttl-mvno <%= nameSpace %>-Point_Poikaku-ttl-nonlogin" aria-hidden="true">
        <span class="<%= nameSpace %>-Utility_Title-sub">＼楽天モバイルご契約特典で／</span>
        あなたはどのくらい<br class="u-Show_Sp">おトクにポイント貯まる？
      </span>
      <span class="<%= nameSpace %>-Point_Poikaku-ttl-noncontract" aria-hidden="true">
        <span class="<%= nameSpace %>-Utility_Title-sub">＼楽天モバイルを使っていたら／</span>
        あなたはどのくらい<br class="u-Show_Sp">ポイント貯まってた？
      </span>
      <span class="<%= nameSpace %>-Point_Poikaku-ttl-nonpoint-noncontract" aria-hidden="true">
        <span class="<%= nameSpace %>-Utility_Title-sub">＼楽天モバイルを使っていたら／</span>
        あなたはどのくらい<br class="u-Show_Sp">おトクにポイント貯まる？
      </span>
    </h2>
  </div>
  <div class="<%= nameSpace %>-Point">
    <div class="l-System_Container">
      <div class="<%= nameSpace %>-Point_Poikaku">
        <div class="<%= nameSpace %>-Point_Wrapper">
          <!-- non login -->
          <div class="<%= nameSpace %>-Point_Poikaku-inner-nonlogin" aria-hidden="true">
            <div>
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-11-sp.png" width="343" height="195">
                <img src="<%= sitepath %>assets/img/tips/point/point-11-pc.png" width="632" height="268" alt="楽天モバイルご契約中はいつでも 楽天市場のお買い物がポイントアップ">
              </picture>
            </div>
            <p>あなたはどれだけおトク？</p>
            <div class="u-Adjust_Mt-16 u-Adjust_Mt-pc-8">
              <a href="https://grp03.id.rakuten.co.jp/rms/nid/login?service_id=rm005&client_id=rmn_app_web&redirect_uri=https%3A%2F%2Fnetwork.mobile.rakuten.co.jp%2Ftips%2Fpoint%2F%3Fanchor%3Djs-poikaku-login&err_redirect_uri=https%3A%2F%2Fnetwork.mobile.rakuten.co.jp%2F&scope=memberinfo_read_safebulk%2Cmemberinfo_read_point%2Cmemberinfo_get_card_token%2C30days%40Access%2C90days%40Refresh&contact_info_required=false&rae_service_id=rm005" class="c-Btn_Secondly" data-ratid="pointgadget-lp_login_click" data-ratevent="click" data-ratparam="all">ログインして今すぐチェック！</a>
            </div>
            <div class="u-Rat_Appear-height" data-ratid="pointgadget-lp_login" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
          </div>
          <!-- / non login -->

          <!-- login -->
          <div class="<%= nameSpace %>-Point_Poikaku-inner" aria-hidden="true">
            <!-- all 0 -->
            <div class="<%= nameSpace %>-Point_Poikaku-content-nonpoint" aria-hidden="true">
              <!-- contract -->
              <div class="<%= nameSpace %>-Point_Poikaku-content-nonpoint-contract" aria-hidden="true">
                <div class="<%= nameSpace %>-Point_Poikaku-name-wrapper">
                  <div class="<%= nameSpace %>-Point_Poikaku-name">
                    <p><span class="js-user-rank-icon"></span><span class="js-user-name-poikaku"></span>さん</p>
                    <p>あなたは<span class="js-user-rank-value"></span>会員です</p>
                  </div>
                </div>
                <div class="<%= nameSpace %>-Point_Poikaku-flex-nonpoint">
                  <div>
                    <div class="<%= nameSpace %>-Point_Poikaku-result">
                      <div class="<%= nameSpace %>-Point_Poikaku-result-ttl">
                        <picture>
                          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-12-sp-231201.png" width="240" height="34">
                          <img src="<%= sitepath %>assets/img/tips/point/point-12-pc.png" width="376" height="52" alt="楽天モバイルご契約中はいつでも">
                        </picture>
                      </div>
                      <div class="u-Adjust_Align-center">
                        <picture>
                          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-13-sp.png" width="252" height="58">
                          <img src="<%= sitepath %>assets/img/tips/point/point-13-pc.png" width="418" height="92" alt="楽天市場のお買い物がポイントアップ!SPU">
                        </picture>
                      </div>
                      <div class="<%= nameSpace %>-Point_Poikaku-result-flex">
                        <div>
                          <div>
                            <picture>
                              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-14-sp.png" width="132" height="22">
                              <img src="<%= sitepath %>assets/img/tips/point/point-14-pc.png" width="208" height="36" alt="通常のお買い物で">
                            </picture>
                          </div>
                          <div class="<%= nameSpace %>-Point_Poikaku-result-point-flex">
                            <div>
                              <picture>
                                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-15-sp.png" width="48" height="13">
                                <img src="<%= sitepath %>assets/img/tips/point/point-15-pc.png" width="75" height="20" alt="ポイント">
                              </picture>
                            </div>
                            <span>1</span>
                            <div class="<%= nameSpace %>-Point_Poikaku-result-point-flex-item-normal">
                              <picture>
                                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-16-sp.png" width="25" height="25">
                                <img src="<%= sitepath %>assets/img/tips/point/point-16-pc.png" width="38" height="38" alt="倍">
                              </picture>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div>
                            <picture>
                              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-20-sp.png" width="128" height="30">
                              <img src="<%= sitepath %>assets/img/tips/point/point-20-pc.png" width="200" height="44" alt="Rakuten最強プランご利用で">
                            </picture>
                          </div>
                          <div class="<%= nameSpace %>-Point_Poikaku-result-point-flex">
                            <div class="<%= nameSpace %>-Point_Poikaku-result-point-flex-item">
                              <picture>
                                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-17-sp.png" width="70" height="22">
                                <img src="<%= sitepath %>assets/img/tips/point/point-17-pc.png" width="108" height="32" alt="ポイント+">
                              </picture>
                            </div>
                            <span class="js-point-spu">4</span>
                            <div class="<%= nameSpace %>-Point_Poikaku-result-point-flex-item-limit">
                              <picture>
                                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-18-sp.png" width="26" height="39">
                                <img src="<%= sitepath %>assets/img/tips/point/point-18-pc.png" width="42" height="61" alt="倍※2">
                              </picture>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="u-Adjust_Align-center">
                        <picture>
                          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-44-sp.png" width="161" height="55">
                          <img src="<%= sitepath %>assets/img/tips/point/point-44-pc.png" width="201" height="68" alt="毎日全員5倍">
                        </picture>
                      </div>
                    </div>
                    <p class="<%= nameSpace %>-Point_Poikaku-annotation u-Show_Sp">※2 ポイント倍率及び獲得上限ポイントの<a href="https://event.rakuten.co.jp/campaign/point-up/everyday/point/notice/" target="_blank" rel="noopener">詳細</a><span class="c-Icon_New-window-l c-Txt_Emp-02"></span>をご確認ください。月初はお客様情報の反映が遅れる可能性があります</p>
                  </div>
                  <div class="u-Adjust_Mt-40 u-Adjust_Mt-pc-0">
                    <div class="u-Adjust_Align-center">
                      <picture>
                        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-19-sp.png" width="343" height="105">
                        <img src="<%= sitepath %>assets/img/tips/point/point-19-pc.png" width="456" height="140" alt="ず〜っとおトクに楽天ポイントが貯まります">
                      </picture>
                    </div>
                    <p class="<%= nameSpace %>-Point_Poikaku-annotation u-Adjust_Mt-8 u-Adjust_Mt-pc-24 u-Show_Xxo">※2 ポイント倍率及び獲得上限ポイントの<a href="https://event.rakuten.co.jp/campaign/point-up/everyday/point/notice/" target="_blank" rel="noopener">詳細</a><span class="c-Icon_New-window-l c-Txt_Emp-02"></span>をご確認ください。月初はお客様情報の反映が遅れる可能性があります</p>
                    <div class="u-Rat_Appear-height" data-ratid="pointgadget-lp_0pt" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
                  </div>
                </div>
              </div>
              <!-- / contract -->

              <!-- non contract -->
              <div class="<%= nameSpace %>-Point_Poikaku-content-nonpoint-noncontract" aria-hidden="true">
                <div class="<%= nameSpace %>-Point_Poikaku-name-wrapper">
                  <div class="<%= nameSpace %>-Point_Poikaku-name">
                    <p><span class="js-user-rank-icon"></span><span class="js-user-name-poikaku"></span>さん</p>
                    <p>あなたは<span class="js-user-rank-value"></span>会員です</p>
                  </div>
                </div>
                <div class="<%= nameSpace %>-Point_Poikaku-flex-nonpoint">
                  <div>
                    <div class="<%= nameSpace %>-Point_Poikaku-result">
                      <div class="<%= nameSpace %>-Point_Poikaku-result-ttl">
                        <picture>
                          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-12-sp-231201.png" width="240" height="34">
                          <img src="<%= sitepath %>assets/img/tips/point/point-12-pc.png" width="376" height="52" alt="楽天モバイルご契約中はいつでも">
                        </picture>
                      </div>
                      <div class="u-Adjust_Align-center">
                        <picture>
                          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-13-sp.png" width="252" height="58">
                          <img src="<%= sitepath %>assets/img/tips/point/point-13-pc.png" width="418" height="92" alt="楽天市場のお買い物がポイントアップ!SPU">
                        </picture>
                      </div>
                      <div class="<%= nameSpace %>-Point_Poikaku-result-flex">
                        <div>
                          <div>
                            <picture>
                              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-14-sp.png" width="132" height="22">
                              <img src="<%= sitepath %>assets/img/tips/point/point-14-pc.png" width="208" height="36" alt="通常のお買い物で">
                            </picture>
                          </div>
                          <div class="<%= nameSpace %>-Point_Poikaku-result-point-flex">
                            <div>
                              <picture>
                                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-15-sp.png" width="48" height="13">
                                <img src="<%= sitepath %>assets/img/tips/point/point-15-pc.png" width="75" height="20" alt="ポイント">
                              </picture>
                            </div>
                            <span>1</span>
                            <div class="<%= nameSpace %>-Point_Poikaku-result-point-flex-item-normal">
                              <picture>
                                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-16-sp.png" width="25" height="25">
                                <img src="<%= sitepath %>assets/img/tips/point/point-16-pc.png" width="38" height="38" alt="倍">
                              </picture>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div>
                            <picture>
                              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-20-sp.png" width="128" height="30">
                              <img src="<%= sitepath %>assets/img/tips/point/point-20-pc.png" width="200" height="44" alt="Rakuten最強プランご利用で">
                            </picture>
                          </div>
                          <div class="<%= nameSpace %>-Point_Poikaku-result-point-flex">
                            <div class="<%= nameSpace %>-Point_Poikaku-result-point-flex-item">
                              <picture>
                                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-17-sp.png" width="70" height="22">
                                <img src="<%= sitepath %>assets/img/tips/point/point-17-pc.png" width="108" height="32" alt="ポイント+">
                              </picture>
                            </div>
                            <span class="js-point-spu">4</span>
                            <div class="<%= nameSpace %>-Point_Poikaku-result-point-flex-item-limit">
                              <picture>
                                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-18-sp.png" width="26" height="39">
                                <img src="<%= sitepath %>assets/img/tips/point/point-18-pc.png" width="42" height="61" alt="倍※2">
                              </picture>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="u-Adjust_Align-center">
                        <picture>
                          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-44-sp.png" width="161" height="55">
                          <img src="<%= sitepath %>assets/img/tips/point/point-44-pc.png" width="201" height="68" alt="毎日全員5倍">
                        </picture>
                      </div>
                    </div>
                    <p class="<%= nameSpace %>-Point_Poikaku-annotation u-Show_Sp">※2 ポイント倍率及び獲得上限ポイントの<a href="https://event.rakuten.co.jp/campaign/point-up/everyday/point/notice/" target="_blank" rel="noopener">詳細</a><span class="c-Icon_New-window-l c-Txt_Emp-02"></span>をご確認ください。月初はお客様情報の反映が遅れる可能性があります</p>
                  </div>
                  <div class="u-Adjust_Mt-40 u-Adjust_Mt-pc-0">
                    <div class="u-Adjust_Align-center">
                      <picture>
                        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-19-sp.png" width="343" height="105">
                        <img src="<%= sitepath %>assets/img/tips/point/point-19-pc.png" width="456" height="140" alt="ず〜っとおトクに楽天ポイントが貯まります">
                      </picture>
                    </div>
                    <p class="<%= nameSpace %>-Point_Poikaku-annotation u-Adjust_Mt-8 u-Adjust_Mt-pc-24 u-Show_Xxo">※2 ポイント倍率及び獲得上限ポイントの<a href="https://event.rakuten.co.jp/campaign/point-up/everyday/point/notice/" target="_blank" rel="noopener">詳細</a><span class="c-Icon_New-window-l c-Txt_Emp-02"></span>をご確認ください。月初はお客様情報の反映が遅れる可能性があります</p>
                    <div class="u-Rat_Appear-height" data-ratid="pointgadget-lp_0pt" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
                  </div>
                </div>
              </div>
              <!-- / non contract -->

              <!-- mvno -->
              <div class="<%= nameSpace %>-Point_Poikaku-content-mvno-nonpoint" aria-hidden="true">
                <div class="<%= nameSpace %>-Point_Poikaku-name-wrapper">
                  <div class="<%= nameSpace %>-Point_Poikaku-name">
                    <p><span class="js-user-rank-icon"></span><span class="js-user-name-poikaku"></span>さん</p>
                    <p>あなたは<span class="js-user-rank-value"></span>会員です</p>
                  </div>
                </div>
                <div class="<%= nameSpace %>-Point_Poikaku-flex-nonpoint">
                  <div>
                    <div class="<%= nameSpace %>-Point_Poikaku-result">
                      <div class="<%= nameSpace %>-Point_Poikaku-result-ttl">
                        <picture>
                          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-12-sp-231201.png" width="240" height="34">
                          <img src="<%= sitepath %>assets/img/tips/point/point-12-pc.png" width="376" height="52" alt="楽天モバイルご契約中はいつでも">
                        </picture>
                      </div>
                      <div class="u-Adjust_Align-center">
                        <picture>
                          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-13-sp.png" width="252" height="58">
                          <img src="<%= sitepath %>assets/img/tips/point/point-13-pc.png" width="418" height="92" alt="楽天市場のお買い物がポイントアップ!SPU">
                        </picture>
                      </div>
                      <div class="<%= nameSpace %>-Point_Poikaku-result-flex">
                        <div>
                          <div>
                            <picture>
                              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-14-sp.png" width="132" height="22">
                              <img src="<%= sitepath %>assets/img/tips/point/point-14-pc.png" width="208" height="36" alt="通常のお買い物で">
                            </picture>
                          </div>
                          <div class="<%= nameSpace %>-Point_Poikaku-result-point-flex">
                            <div>
                              <picture>
                                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-15-sp.png" width="48" height="13">
                                <img src="<%= sitepath %>assets/img/tips/point/point-15-pc.png" width="75" height="20" alt="ポイント">
                              </picture>
                            </div>
                            <span>1</span>
                            <div class="<%= nameSpace %>-Point_Poikaku-result-point-flex-item-normal">
                              <picture>
                                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-16-sp.png" width="25" height="25">
                                <img src="<%= sitepath %>assets/img/tips/point/point-16-pc.png" width="38" height="38" alt="倍">
                              </picture>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div>
                            <picture>
                              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-20-sp.png" width="128" height="30">
                              <img src="<%= sitepath %>assets/img/tips/point/point-20-pc.png" width="200" height="44" alt="Rakuten最強プランご利用で">
                            </picture>
                          </div>
                          <div class="<%= nameSpace %>-Point_Poikaku-result-point-flex">
                            <div class="<%= nameSpace %>-Point_Poikaku-result-point-flex-item">
                              <picture>
                                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-17-sp.png" width="70" height="22">
                                <img src="<%= sitepath %>assets/img/tips/point/point-17-pc.png" width="108" height="32" alt="ポイント+">
                              </picture>
                            </div>
                            <span class="js-point-spu">4</span>
                            <div class="<%= nameSpace %>-Point_Poikaku-result-point-flex-item-limit">
                              <picture>
                                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-18-sp.png" width="26" height="39">
                                <img src="<%= sitepath %>assets/img/tips/point/point-18-pc.png" width="42" height="61" alt="倍※2">
                              </picture>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="u-Adjust_Align-center">
                        <picture>
                          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-44-sp.png" width="161" height="55">
                          <img src="<%= sitepath %>assets/img/tips/point/point-44-pc.png" width="201" height="68" alt="毎日全員5倍">
                        </picture>
                      </div>
                    </div>
                    <p class="<%= nameSpace %>-Point_Poikaku-annotation u-Show_Sp">※2 ポイント倍率及び獲得上限ポイントの<a href="https://event.rakuten.co.jp/campaign/point-up/everyday/point/notice/" target="_blank" rel="noopener">詳細</a><span class="c-Icon_New-window-l c-Txt_Emp-02"></span>をご確認ください。月初はお客様情報の反映が遅れる可能性があります</p>
                  </div>
                  <div class="u-Adjust_Mt-40 u-Adjust_Mt-pc-0">
                    <div class="u-Adjust_Align-center">
                      <picture>
                        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-19-sp.png" width="343" height="105">
                        <img src="<%= sitepath %>assets/img/tips/point/point-19-pc.png" width="456" height="140" alt="ず〜っとおトクに楽天ポイントが貯まります">
                      </picture>
                    </div>
                    <p class="<%= nameSpace %>-Point_Poikaku-annotation u-Adjust_Mt-8 u-Adjust_Mt-pc-24 u-Show_Xxo">※2 ポイント倍率及び獲得上限ポイントの<a href="https://event.rakuten.co.jp/campaign/point-up/everyday/point/notice/" target="_blank" rel="noopener">詳細</a><span class="c-Icon_New-window-l c-Txt_Emp-02"></span>をご確認ください。月初はお客様情報の反映が遅れる可能性があります</p>
                    <div class="u-Rat_Appear-height" data-ratid="pointgadget-lp_0pt" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
                  </div>
                </div>
              </div>
              <!-- / mvno -->
            </div>
            <!-- / all 0 -->

            <!-- get point -->
            <div class="<%= nameSpace %>-Point_Poikaku-content" aria-hidden="true">
              <!-- contract -->
              <div class="<%= nameSpace %>-Point_Poikaku-content-contract" aria-hidden="true">
                <div class="<%= nameSpace %>-Point_Poikaku-name-wrapper">
                  <div class="<%= nameSpace %>-Point_Poikaku-name">
                    <p><span class="js-user-rank-icon"></span><span class="js-user-name-poikaku"></span>さん</p>
                    <p>あなたは<span class="js-user-rank-value"></span>会員です</p>
                  </div>
                </div>
                <div class="<%= nameSpace %>-Point_Poikaku-flex">
                  <div class="<%= nameSpace %>-Point_Poikaku-flex-item-times">
                    <p>
                      <picture>
                        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-01-sp.png" width="219" height="34">
                        <img src="<%= sitepath %>assets/img/tips/point/point-01-pc.png" width="257" height="44" alt="現在、楽天モバイルご契約中で楽天市場のお買い物が">
                      </picture>
                    </p>
                    <div class="<%= nameSpace %>-Point_Poikaku-flex-text-wrapper">
                      <p>
                        <picture>
                          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-02-sp-231201.png" width="143" height="38">
                          <img src="<%= sitepath %>assets/img/tips/point/point-02-pc-231201.png" width="151" height="34" alt="ポイント+">
                        </picture>
                      </p>
                      <p class="js-point-spu <%= nameSpace %>-Utility_Font-num">4</p>
                      <p>
                        <picture>
                          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-03-sp.png" width="52" height="40">
                          <img src="<%= sitepath %>assets/img/tips/point/point-03-pc-231201.png" width="51" height="35" alt="倍※2">
                        </picture>
                      </p>
                    </div>
                    <div class="<%= nameSpace %>-Point_Poikaku-flex-item-times-bg">
                      <picture>
                        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-45-sp.png" width="343" height="90">
                        <img src="<%= sitepath %>assets/img/tips/point/point-45-pc.png" width="323" height="100" alt="通常のお買い物でポイント1倍と合わせると毎日全員5倍">
                      </picture>
                    </div>
                  </div>
                  <div class="<%= nameSpace %>-Point_Poikaku-flex-item-achievement">
                    <div class="<%= nameSpace %>-Utility_Bg-pink100">
                      <p>
                        <img src="<%= sitepath %>assets/img/tips/point/point-04-pc.png" width="240" height="20" alt="楽天市場×楽天モバイルで">
                      </p>
                    </div>
                    <div class="<%= nameSpace %>-Point_Poikaku-flex-item-achievement-body">
                      <ul class="<%= nameSpace %>-Point_Poikaku-list">
                        <li class="<%= nameSpace %>-Point_Poikaku-item-sum">
                          <p class="js-month"><span class="js-only-hidden"><span class="js-month-past-first"></span>月~</span><span class="js-month-past-last"></span>月で</p>
                          <div>
                            <div class="<%= nameSpace %>-Point_Poikaku-item-text-wrapper">
                              <span class="js-point-plus">+</span>
                              <span class="js-point-sum <%= nameSpace %>-Utility_Font-num"></span>
                              <span>
                                <picture>
                                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-06-sp.png" width="81" height="15">
                                  <img src="<%= sitepath %>assets/img/tips/point/point-06-pc.png" width="88" height="15" alt="ポイント※2">
                                </picture>
                              </span>
                            </div>
                            <p class="u-Adjust_Mt-8 <%= nameSpace %>-Point_Poikaku-item-text-sub">
                              <picture>
                                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-07-sp.png" width="126" height="35">
                                <img src="<%= sitepath %>assets/img/tips/point/point-07-pc.png" width="174" height="15" alt="おトクに獲得しています">
                              </picture>
                            </p>
                          </div>
                        </li>
                        <li class="<%= nameSpace %>-Point_Poikaku-item-current">
                          <p class="js-month">
                            <span class="js-month-current"></span>月は<span class="js-point-thismonth-more">さらに</span>
                          </p>
                          <div>
                            <div class="<%= nameSpace %>-Point_Poikaku-item-text-wrapper">
                              <span class="js-point-plus">+</span>
                              <span class="js-point-current <%= nameSpace %>-Utility_Font-num"></span>
                              <span>
                                <picture>
                                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-06-sp.png" width="81" height="15">
                                  <img src="<%= sitepath %>assets/img/tips/point/point-06-pc.png" width="88" height="15" alt="ポイント※2">
                                </picture>
                              </span>
                            </div>
                            <p class="<%= nameSpace %>-Point_Poikaku-item-text-sub">
                              <picture>
                                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-09-sp.png" width="95" height="15">
                                <img src="<%= sitepath %>assets/img/tips/point/point-09-pc.png" width="95" height="15" alt="獲得予定です">
                              </picture>
                            </p>
                          </div>
                        </li>
                      </ul>
                      <p class="<%= nameSpace %>-Point_Poikaku-item-annotation c-Txt_Cap">※楽天市場でのお買い物金額に応じ、楽天モバイル特典での獲得ポイントが随時反映されます。月初はお客様情報の反映が遅れる可能性があります</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- / contract -->

              <!-- non contract -->
              <div class="<%= nameSpace %>-Point_Poikaku-content-noncontract" aria-hidden="true">
                <div class="<%= nameSpace %>-Point_Poikaku-flex-item-achievement-noncontract">
                  <div class="<%= nameSpace %>-Utility_Bg-pink100">
                    <p>
                      <img src="<%= sitepath %>assets/img/tips/point/point-21.png" width="290" height="46" alt="＼楽天モバイルご契約者特典分として／楽天市場のお買い物で">
                    </p>
                  </div>
                  <div class="<%= nameSpace %>-Point_Poikaku-flex-item-achievement-body-noncontract">
                    <ul class="<%= nameSpace %>-Point_Poikaku-list-noncontract">
                      <li class="<%= nameSpace %>-Point_Poikaku-item-noncontract-sum">
                        <p class="js-month"><span class="js-only-hidden"><span class="js-month-past-first"></span>月~</span><span class="js-month-past-last"></span>月で獲得できていたポイントは</p>
                        <div class="<%= nameSpace %>-Point_Poikaku-item-text-wrapper-noncontract">
                          <div>
                            <span class="js-point-plus">+</span>
                            <span class="js-point-sum <%= nameSpace %>-Utility_Font-num"></span>
                          </div>
                          <span>
                            <picture>
                              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-06-sp.png" width="81" height="15">
                              <img src="<%= sitepath %>assets/img/tips/point/point-06-pc.png" width="88" height="15" alt="ポイント※2">
                            </picture>
                          </span>
                        </div>
                      </li>
                      <li class="<%= nameSpace %>-Point_Poikaku-item-noncontract-current">
                        <p class="js-month">今、楽天モバイルに<br class="u-Show_Sp">お申し込みいただくと<span class="js-month-current"></span>月は</p>
                        <div class="<%= nameSpace %>-Point_Poikaku-item-text-wrapper-noncontract">
                          <div>
                            <span class="js-point-plus">+</span>
                            <span class="js-point-current <%= nameSpace %>-Utility_Font-num"></span>
                          </div>
                          <span>
                            <picture>
                              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-06-sp.png" width="81" height="15">
                              <img src="<%= sitepath %>assets/img/tips/point/point-06-pc.png" width="88" height="15" alt="ポイント※2">
                            </picture>
                          </span>
                          <p>
                            <img src="<%= sitepath %>assets/img/tips/point/point-24.png" width="104" height="15" alt="獲得できます!!">
                          </p>
                        </div>
                      </li>
                    </ul>
                    <p class="<%= nameSpace %>-Point_Poikaku-item-annotation-noncontract c-Txt_Cap">※楽天市場でのお買い物金額に応じ、楽天モバイル特典での獲得ポイントが随時反映されます。月初はお客様情報の反映が遅れる可能性があります</p>
                  </div>
                </div>
                <div class="u-Adjust_Mt-40 u-Adjust_Mt-pc-48">
                  <div>
                    <div class="<%= nameSpace %>-Point_Poikaku-result-noncontract">
                      <div class="<%= nameSpace %>-Point_Poikaku-result-ttl-noncontract">
                        <picture>
                          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-25-sp-231201.png" width="260" height="34">
                          <img src="<%= sitepath %>assets/img/tips/point/point-25-pc.png" width="428" height="52" alt="おトクにポイントが貯まるその理由は">
                        </picture>
                      </div>
                      <div class="<%= nameSpace %>-Point_Poikaku-flex-noncontract">
                        <div>
                          <div class="<%= nameSpace %>-Point_Poikaku-name-wrapper-noncontract">
                            <div class="<%= nameSpace %>-Point_Poikaku-name">
                              <p><span class="js-user-rank-icon"></span><span class="js-user-rank-value"></span></p>
                              <p><span class="js-user-name-poikaku"></span>さんなら</p>
                            </div>
                          </div>
                          <div class="u-Adjust_Align-center">
                            <p class="<%= nameSpace %>-Point_Poikaku-result-point-prefix">
                              楽天モバイルご契約中は
                            </p>
                          </div>
                        </div>
                        <div class="<%= nameSpace %>-Point_Poikaku-result-flex-noncontract">
                          <div>
                            <picture>
                              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-27-sp.png" width="170" height="25">
                              <img src="<%= sitepath %>assets/img/tips/point/point-27-pc.png" width="238" height="33" alt="楽天市場のお買い物が+">
                            </picture>
                          </div>
                          <div class="<%= nameSpace %>-Point_Poikaku-result-point-flex-noncontract">
                            <div>
                              <picture>
                                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-28-sp.png" width="200" height="40">
                                <img src="<%= sitepath %>assets/img/tips/point/point-28-pc.png" width="260" height="58" alt="SPUポイント+">
                              </picture>
                            </div>
                            <span class="js-point-spu">4</span>
                            <div class="<%= nameSpace %>-Point_Poikaku-result-point-flex-item-noncontract">
                              <picture>
                                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-29-sp.png" width="27" height="47">
                                <img src="<%= sitepath %>assets/img/tips/point/point-29-pc-231201.png" width="31" height="55" alt="倍※2">
                              </picture>
                            </div>
                          </div>
                        </div>
                        <div class="u-Adjust_Mt-8 u-Adjust_Align-center">
                          <picture>
                            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-46-sp.png" width="220" height="71">
                            <img src="<%= sitepath %>assets/img/tips/point/point-46-pc.png" width="443" height="101" alt="通常のお買い物でポイント1倍と合わせると毎日全員5倍">
                          </picture>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="u-Adjust_Mt-40">
                    <div class="u-Adjust_Align-center">
                      <picture>
                        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-19-sp.png" width="343" height="105">
                        <img src="<%= sitepath %>assets/img/tips/point/point-19-pc.png" width="636" height="194" alt="ず〜っとおトクに楽天ポイントが貯まります">
                      </picture>
                    </div>
                  </div>
                </div>
              </div>
              <!-- / non contract -->

              <!-- mvno -->
              <div class="<%= nameSpace %>-Point_Poikaku-content-mvno" aria-hidden="true">
                <div class="<%= nameSpace %>-Point_Poikaku-flex-item-achievement-noncontract">
                  <div class="<%= nameSpace %>-Utility_Bg-pink100">
                    <p>
                      <img src="<%= sitepath %>assets/img/tips/point/point-21.png" width="290" height="46" alt="＼楽天モバイルご契約者特典分として／楽天市場のお買い物で">
                    </p>
                  </div>
                  <div class="<%= nameSpace %>-Point_Poikaku-flex-item-achievement-body-noncontract">
                    <ul class="<%= nameSpace %>-Point_Poikaku-list-noncontract">
                      <li class="<%= nameSpace %>-Point_Poikaku-item-noncontract-sum">
                        <p class="js-month"><span class="js-only-hidden"><span class="js-month-past-first"></span>月~</span><span class="js-month-past-last"></span>月で獲得できていたポイントは</p>
                        <div class="<%= nameSpace %>-Point_Poikaku-item-text-wrapper-noncontract">
                          <div>
                            <span class="js-point-plus">+</span>
                            <span class="js-point-sum <%= nameSpace %>-Utility_Font-num"></span>
                          </div>
                          <span>
                            <picture>
                              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-06-sp.png" width="81" height="15">
                              <img src="<%= sitepath %>assets/img/tips/point/point-06-pc.png" width="88" height="15" alt="ポイント※2">
                            </picture>
                          </span>
                        </div>
                      </li>
                      <li class="<%= nameSpace %>-Point_Poikaku-item-noncontract-current">
                        <p class="js-month">今、楽天モバイルに<br class="u-Show_Sp">お申し込みいただくと<span class="js-month-current"></span>月は</p>
                        <div class="<%= nameSpace %>-Point_Poikaku-item-text-wrapper-noncontract">
                          <div>
                            <span class="js-point-plus">+</span>
                            <span class="js-point-current <%= nameSpace %>-Utility_Font-num"></span>
                          </div>
                          <span>
                            <picture>
                              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-06-sp.png" width="81" height="15">
                              <img src="<%= sitepath %>assets/img/tips/point/point-06-pc.png" width="88" height="15" alt="ポイント※2">
                            </picture>
                          </span>
                          <p>
                            <img src="<%= sitepath %>assets/img/tips/point/point-24.png" width="104" height="15" alt="獲得できます!!">
                          </p>
                        </div>
                      </li>
                    </ul>
                    <p class="<%= nameSpace %>-Point_Poikaku-item-annotation-noncontract c-Txt_Cap">※楽天市場でのお買い物金額に応じ、楽天モバイル特典での獲得ポイントが随時反映されます。月初はお客様情報の反映が遅れる可能性があります</p>
                  </div>
                </div>
                <div class="u-Adjust_Mt-40 u-Adjust_Mt-pc-48">
                  <div>
                    <div class="<%= nameSpace %>-Point_Poikaku-result-noncontract">
                      <div class="<%= nameSpace %>-Point_Poikaku-result-ttl-noncontract">
                        <picture>
                          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-25-sp-231201.png" width="260" height="34">
                          <img src="<%= sitepath %>assets/img/tips/point/point-25-pc.png" width="428" height="52" alt="おトクにポイントが貯まるその理由は">
                        </picture>
                      </div>
                      <div class="<%= nameSpace %>-Point_Poikaku-flex-noncontract">
                        <div>
                          <div class="<%= nameSpace %>-Point_Poikaku-name-wrapper-noncontract">
                            <div class="<%= nameSpace %>-Point_Poikaku-name">
                              <p><span class="js-user-rank-icon"></span><span class="js-user-rank-value"></span></p>
                              <p><span class="js-user-name-poikaku"></span>さんなら</p>
                            </div>
                          </div>
                          <div class="u-Adjust_Align-center">
                            <p class="<%= nameSpace %>-Point_Poikaku-result-point-prefix">
                              楽天モバイルご契約中は
                            </p>
                          </div>
                        </div>
                        <div class="<%= nameSpace %>-Point_Poikaku-result-flex-noncontract">
                          <div>
                            <picture>
                              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-27-sp.png" width="170" height="25">
                              <img src="<%= sitepath %>assets/img/tips/point/point-27-pc.png" width="238" height="33" alt="楽天市場のお買い物が+">
                            </picture>
                          </div>
                          <div class="<%= nameSpace %>-Point_Poikaku-result-point-flex-noncontract">
                            <div>
                              <picture>
                                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-28-sp.png" width="200" height="40">
                                <img src="<%= sitepath %>assets/img/tips/point/point-28-pc.png" width="260" height="58" alt="SPUポイント+">
                              </picture>
                            </div>
                            <span class="js-point-spu">4</span>
                            <div class="<%= nameSpace %>-Point_Poikaku-result-point-flex-item-noncontract">
                              <picture>
                                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-29-sp.png" width="27" height="47">
                                <img src="<%= sitepath %>assets/img/tips/point/point-29-pc-231201.png" width="31" height="55" alt="倍※2">
                              </picture>
                            </div>
                          </div>
                        </div>
                        <div class="u-Adjust_Mt-8 u-Adjust_Align-center">
                          <picture>
                            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-46-sp.png" width="220" height="71">
                            <img src="<%= sitepath %>assets/img/tips/point/point-46-pc.png" width="443" height="101" alt="通常のお買い物でポイント1倍と合わせると毎日全員5倍">
                          </picture>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="u-Adjust_Mt-40">
                    <div class="u-Adjust_Align-center">
                      <picture>
                        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/point-19-sp.png" width="343" height="105">
                        <img src="<%= sitepath %>assets/img/tips/point/point-19-pc.png" width="636" height="194" alt="ず〜っとおトクに楽天ポイントが貯まります">
                      </picture>
                    </div>
                  </div>
                </div>
              </div>
              <!-- / mvno -->
            </div>
            <!-- / get point -->
          </div>
          <!-- / login -->
        </div>

        <div class="<%= nameSpace %>-Point_Poikaku-tbl-wrapper">
          <h3 class="u-Adjust_Mt-32 <%= nameSpace %>-Point_Poikaku-tbl-title"><span class="js-only-hidden-table"><span class="js-month-past-first-table">10</span>月~</span><span class="js-month-past-last-table">12</span>月の<span class="js-point-past-ttl">想定獲得ポイント</span></h3>
          <table>
            <tbody class="js-point-past-tbl"></tbody>
          </table>
          <p class="c-Txt_Cap u-Adjust_Mt-8">※2 ポイント倍率及び獲得上限ポイントの<a href="https://event.rakuten.co.jp/campaign/point-up/everyday/point/notice/" target="_blank" rel="noopener">詳細</a><span class="c-Icon_New-window-l c-Txt_Emp-02"></span>をご確認ください</p>
        </div>
        <div class="<%= nameSpace %>-Point_Poikaku-content-contract u-Rat_Appear-height" aria-hidden="true" data-ratid="pointgadget-lp_pt" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
        <div class="<%= nameSpace %>-Point_Poikaku-content-noncontract u-Rat_Appear-height" aria-hidden="true" data-ratid="pointgadget-lp_none_pt" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
      </div>
      <div class="<%= nameSpace %>-Spu_Wrapper" id="js-cta-trigger">
        <div class="<%= nameSpace %>-Spu_Icon">
          <span class="<%= nameSpace %>-Spu_Icon-border"></span>
          <span class="<%= nameSpace %>-Spu_Icon-img">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/spu-01-sp.png" width="103" height="40">
              <img src="<%= sitepath %>assets/img/tips/point/spu-01-pc.png" width="145" height="56" alt="">
            </picture>
          </span>
        </div>
        <h3 class="<%= nameSpace %>-Spu_Title" data-ratid="pointgadget-lp_scroll-02-spu" data-ratevent="appear">ポイントが貯まる<br class="u-Show_Sp">「SPU」の仕組みとは</h3>
        <div class="<%= nameSpace %>-Spu_Flex">
          <p>
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/spu-02-sp-240401.png" width="656" height="256">
              <img src="<%= sitepath %>assets/img/tips/point/spu-02-pc-240401.png" width="382" height="144" alt="楽天グループサービスを使えば使うほどおトクに　ポイント最大17倍">
            </picture>
          </p>
          <div>
            <p>対象サービスの条件達成で、楽天市場でのお買い物がポイントアップするプログラム。対象のサービスを使えば使うほど、<span class="c-Txt_Emp-02">ポイントがザクザク</span>貯まります。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※期間限定ポイント。<a href="https://event.rakuten.co.jp/campaign/point-up/everyday/point/#rule" target="_blank" rel="noopener">達成条件</a>あり</p>
          </div>
        </div>
        <div class="<%= nameSpace %>-Utility_Bg-pink5 <%= nameSpace %>-Spu_Content">
          <h4 class="<%= nameSpace %>-Spu_Title-sub">
            <span>ポイントが貯まりやすいってホント？</span>
            おトクなポイントの<br class="u-Show_Sp">貯め方をご紹介
          </h4>
          <div>
            <div class="<%= nameSpace %>-Spu_Example-flex">
              <p>
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/spu-04-sp-231201.png" width="622" height="244">
                  <img src="<%= sitepath %>assets/img/tips/point/spu-04-pc-231201.png" width="293" height="146" alt="">
                </picture>
              </p>
              <p>
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/spu-06-sp-231201.png" width="622" height="444">
                  <img src="<%= sitepath %>assets/img/tips/point/spu-06-pc-231201.png" width="508" height="72" alt="">
                </picture>
              </p>
            </div>
            <p class="u-Adjust_Mt-24 u-Adjust_Mt-pc-8 u-Adjust_Align-center"><a href="https://event.rakuten.co.jp/furusato/guide/rakuten_local.html" target="_blank" rel="noopener">楽天ふるさと納税を詳しく知る</a><span class="c-Icon_New-window-l c-Txt_Emp-02"></span></p>
            <div class="u-Adjust_Mt-24 u-Adjust_Mt-pc-16 u-Adjust_Align-center">
              <a href="https://event.rakuten.co.jp/campaign/point-up/everyday/point/about/" class="c-Btn_Regular" target="_blank" rel="noopener">SPUを詳しくチェック<span class="c-Icon_New-window-l"></span></a>
            </div>
          </div>
        </div>
        <p class="c-Heading_Lv4 u-Adjust_Align-center u-Adjust_Mt-48 u-Adjust_Mt-pc-32">あなたの楽天ポイントを<br class="u-Show_Sp">チェックしてみよう！</p>
        <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
          <a href="https://point.rakuten.co.jp/history/" class="c-Btn_Secondly" target="_blank" rel="noopener">現在の合計ポイント数は？<span class="c-Icon_New-window-l"></span></a>
        </div>
        <p class="u-Adjust_Mt-40 u-Adjust_Mt-pc-16">
          <a href="#anchor" class="<%= nameSpace %>-Utility_Btn-top c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-up-l"></span>目次へ戻る</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="<%= nameSpace %>-Use_Wrapper" id="use">
  <div class="<%= nameSpace %>-Utility_Bg-pink100 <%= nameSpace %>-Utility_Title-wrapper">
    <h2 class="<%= nameSpace %>-Utility_Title" data-ratid="pointgadget-lp_scroll-03-payment" data-ratevent="appear">
      <span class="<%= nameSpace %>-Utility_Title-sub">＼こんな使い方がオススメ／</span>
      貯まったポイントを<br class="u-Show_Sp">お支払いに利用しよう<span class="<%= nameSpace %>-Utility_Title-annotation">※1</span>
    </h2>
  </div>
  <div class="<%= nameSpace %>-Use">
    <div class="l-System_Container">
      <div>
        <h3 class="<%= nameSpace %>-Use_Title">楽天グループサービスで貯まった<br class="u-Show_Sp">ポイントも利用可能！</h3>
        <div class="<%= nameSpace %>-Use_Flex">
          <div>
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/use-01-sp.png" width="272" height="196">
              <img src="<%= sitepath %>assets/img/tips/point/use-01-pc.png" width="260" height="187" alt="">
            </picture>
          </div>
          <p>楽天モバイルで貯まった楽天ポイントだけではなく、楽天グループサービスで貯まったポイントを、毎月のスマホのお支払いに使えます！</p>
        </div>
        <div class="<%= nameSpace %>-Utility_Bg-pink5">
          <div class="<%= nameSpace %>-Use_Example-grid">
            <h4 class="<%= nameSpace %>-Use_Title-sub">毎月のプラン料金が<br class="u-Show_Sp">タダになることも！<span class="c-Txt_Cap">※1</span></h4>
            <div>
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/use-02-sp.png" width="248" height="116">
                <img src="<%= sitepath %>assets/img/tips/point/use-02-pc.png" width="240" height="122" alt="">
              </picture>
            </div>
            <div>
              <p>保有ポイントがたくさんあったら、お支払い全額に楽天ポイントをご利用で0円にすることも！<br><span class="c-Txt_Emp-02">期間限定ポイント</span>も使えるので、ポイントを使い忘れる心配もありません。</p>
              <p class="c-Txt_Cap <%= nameSpace %>-Use_Example-annotation">※1ポイント1円としてご利用の場合</p>
            </div>
          </div>
        </div>
      </div>
      <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
        <a class="c-Banner_Hover-act" href="<%= sitepath %>tips/zerotoku/?l-id=tips_point_tips_zerotoku">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-tips-zerotoku-343-108-240228.png" width="686" height="216">
            <img src="<%= sitepath %>assets/img/bnr/bnr-tips-zerotoku-1032-160-240228.png" alt="貯まったポイントで全額支払えばスマホ料金お支払いずーッと0円" width="1032" height="160" loading="lazy">
          </picture>
        </a>
      </div>
      <div class="u-Adjust_Mt-48">
        <h3 class="<%= nameSpace %>-Use_Title" data-ratid="pointgadget-lp_scroll-04-payment02" data-ratevent="appear">ポイントご利用イメージ</h3>
        <div class="<%= nameSpace %>-Use_Image-flex-wrapper">
          <div class="<%= nameSpace %>-Use_Image-flex-icon">
            <div>
              <img src="<%= sitepath %>assets/img/tips/point/use-03.png" width="80" height="48" alt="">
            </div>
            <p>1ポイント＝1円としてご利用可能</p>
          </div>
          <div class="<%= nameSpace %>-Use_Image-flex-icon">
            <div>
              <img src="<%= sitepath %>assets/img/tips/point/use-04.png" width="80" height="53" alt="">
            </div>
            <p>ポイント利用額を設定しておけば、毎月自動で支払いに割り当てられて便利</p>
          </div>
        </div>
        <div class="<%= nameSpace %>-Use_Image">
          <h4 class="<%= nameSpace %>-Use_Title-sub">例えば、お支払いに<br>全額ポイントを利用すると</h4>
          <ul class="<%= nameSpace %>-Use_List">
            <li class="<%= nameSpace %>-Use_Item">
              <div>
                <p class="<%= nameSpace %>-Use_Item-head-no1">
                  <img src="<%= sitepath %>assets/img/tips/point/use-05.png" width="255" height="40" alt="">
                </p>
                <p class="c-Txt_Emp-01">家族割引適用で</p>
                <p>データ<span class="c-Txt_Emp-01">3GB</span>まで月額料金<span class="c-Txt_Emp-01"><span class="<%= nameSpace %>-Use_Text-num">968</span>円</span>が</p>
              </div>
              <div>
                <div class="u-Adjust_Mt-8">
                  <img src="<%= sitepath %>assets/img/tips/point/use-11.png" width="279" height="18" alt="">
                </div>
                <p class="<%= nameSpace %>-Use_Text-result"><span class="<%= nameSpace %>-Use_Text-num">968</span>ポイント保有で<span class="<%= nameSpace %>-Use_Text-free c-Txt_Emp-02">1カ月タダ!</span></p>
                <p class="<%= nameSpace %>-Use_Text-result"><span class="<%= nameSpace %>-Use_Text-num">11,616</span>ポイント保有で<span class="<%= nameSpace %>-Use_Text-free c-Txt_Emp-02">1年タダ!</span></p>
              </div>
            </li>
            <li class="<%= nameSpace %>-Use_Item">
              <div>
                <p class="<%= nameSpace %>-Use_Item-head-no2">
                  <img src="<%= sitepath %>assets/img/tips/point/use-06.png" width="241" height="40" alt="">
                </p>
                <p><span class="c-Txt_Emp-01">家族割引適用で</span>データ<span class="c-Txt_Emp-01">20GB</span>まで</p>
                <p>月額料金<span class="c-Txt_Emp-01"><span class="<%= nameSpace %>-Use_Text-num">2,068</span>円</span>が</p>
              </div>
              <div>
                <div class="u-Adjust_Mt-8">
                  <img src="<%= sitepath %>assets/img/tips/point/use-11.png" width="279" height="18" alt="">
                </div>
                <p class="<%= nameSpace %>-Use_Text-result"><span class="<%= nameSpace %>-Use_Text-num">2,068</span>ポイント保有で<span class="<%= nameSpace %>-Use_Text-free c-Txt_Emp-02">1カ月タダ!</span></p>
                <p class="<%= nameSpace %>-Use_Text-result"><span class="<%= nameSpace %>-Use_Text-num">24,816</span>ポイント保有で<span class="<%= nameSpace %>-Use_Text-free c-Txt_Emp-02">1年タダ!</span></p>
              </div>
            </li>
            <li class="<%= nameSpace %>-Use_Item">
              <div>
                <p class="<%= nameSpace %>-Use_Item-head-no3">
                  <img src="<%= sitepath %>assets/img/tips/point/use-07.png" width="212" height="40" alt="">
                </p>
                <p>毎月のデータ利用量が<span class="c-Txt_Emp-01">100GB</span>でも<br><span class="c-Txt_Emp-01">200GB</span>でも<span class="c-Txt_Emp-02">データ高速無制限</span><span class="c-Txt_Cap">※3</span></p>
                <p class="<%= nameSpace %>-Use_Text-unlimited"><span class="c-Txt_Emp-01">家族割引適用で</span>
                <br>月額料金<span class="c-Txt_Emp-01"><span class="<%= nameSpace %>-Use_Text-num">3,168</span>円</span>が</p>
              </div>
              <div>
                <div class="u-Adjust_Mt-8">
                  <img src="<%= sitepath %>assets/img/tips/point/use-11.png" width="279" height="18" alt="">
                </div>
                <p class="<%= nameSpace %>-Use_Text-result"><span class="<%= nameSpace %>-Use_Text-num">3,168</span>ポイント保有で<span class="<%= nameSpace %>-Use_Text-free c-Txt_Emp-02">1カ月タダ!</span></p>
                <p class="<%= nameSpace %>-Use_Text-result"><span class="<%= nameSpace %>-Use_Text-num">38,016</span>ポイント保有で<span class="<%= nameSpace %>-Use_Text-free c-Txt_Emp-02">1年タダ!</span></p>
              </div>
            </li>
          </ul>
          <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-center">※1ポイント1円としてご利用の場合</p>
          <div class="u-Adjust_Mt-64 u-Adjust_Mt-pc-80">
            <h5 class="<%= nameSpace %>-Use_Title-more"><span>お支払いにポイントを利用した<br class="u-Show_Sp">場合でも、ポイントが貯まる！</span></h5>
            <div class="<%= nameSpace %>-Use_Image-flex">
              <div>
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/use-09-sp-240430.png" width="686" height="234">
                  <img src="<%= sitepath %>assets/img/tips/point/use-09-pc-240430.png" width="299" height="110" alt="家族割適用で880円（税込968円）の場合、月々のお支払いにポイントを利用した場合でも8ポイントが貯まる">
                </picture>
              </div>
              <p>ポイント利用分も含めて、スマホ代の月々のお支払い100円（税別）につき1ポイントが貯まります。全額ポイントでお支払いでもポイントがもらえておトク！</p>
            </div>
          </div>
          <div class="<%= nameSpace %>-Use_Image-img">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/use-10-sp.png" width="74" height="74">
              <img src="<%= sitepath %>assets/img/tips/point/use-10-pc.png" width="99" height="99" alt="">
            </picture>
          </div>
        </div>
        <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
          <a href="<%= sitepath %>guide/payment/point/?l-id=tips_point_guide_payment-point" class="c-Btn_Secondly">楽天ポイント利用の詳細をチェック</a>
        </div>
        <p class="c-Txt_Cap u-Adjust_Mt-32">
          ※通話料、オプションサービス料、端末割賦料金を除く<br>
          ※1 月々のお支払いに口座振替をご指定の場合は、楽天ポイントをご利用いただけません。利用上限あり<br>
          ※3 公平なサービスのため、速度制限の場合あり。環境により速度低下する場合あり<br>
          ※<a href="#annotation" class="c-Link_Txt js-scroll">その他条件の詳細はこちら</a>
        </p>
      </div>
      <p class="u-Adjust_Mt-16">
        <a href="#anchor" class="<%= nameSpace %>-Utility_Btn-top c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-up-l"></span>目次へ戻る</a>
      </p>
    </div>
  </div>
</section>

<section class="<%= nameSpace %>-Utilization_Wrapper" id="utilization">
  <div class="<%= nameSpace %>-Utility_Bg-pink100 <%= nameSpace %>-Utility_Title-wrapper">
    <h2 class="<%= nameSpace %>-Utility_Title" data-ratid="pointgadget-lp_scroll-05-tips" data-ratevent="appear">
      <span class="<%= nameSpace %>-Utility_Title-sub">＼はじめてのユーザーガイド／</span>
      あなたはいくつ知ってる？<br class="u-Show_Sp">楽天モバイル活用術
    </h2>
  </div>
  <div class="<%= nameSpace %>-Utilization">
    <div class="l-System_Container">
      <p>ご契約後もずっとおトクに。便利な機能や、楽天ポイントの魅力をご紹介します。</p>
      <ul class="<%= nameSpace %>-Utilization_List">
        <li class="<%= nameSpace %>-Utilization_Item">
          <div>
            <img src="<%= sitepath %>assets/img/tips/point/utilization-01.png" width="343" height="194" alt="">
          </div>
          <div class="u-Adjust_Mt-16">
            <a href="<%= sitepath %>tips/1st-step-point/?l-id=tips_point_tips_1st-step-point" class="c-Btn_Secondly">もっと！楽天ポイントをもらう編</a>
          </div>
        </li>
        <li class="<%= nameSpace %>-Utilization_Item">
          <div>
            <img src="<%= sitepath %>assets/img/tips/point/utilization-02.png" width="343" height="194" alt="">
          </div>
          <div class="u-Adjust_Mt-16">
            <a href="<%= sitepath %>tips/1st-step-feature/?l-id=tips_point_tips_1st-step-feature" class="c-Btn_Secondly">もっと！便利な機能を使いこなす編</a>
          </div>
        </li>
      </ul>
  </div>
  </div>
</section>

<section class="<%= nameSpace %>-Campaign_Wrapper" id="campaign">
  <div class="<%= nameSpace %>-Utility_Bg-pink100 <%= nameSpace %>-Utility_Title-wrapper">
    <h2 class="<%= nameSpace %>-Utility_Title" data-ratid="pointgadget-lp_scroll-06-campaign" data-ratevent="appear">
      <span class="<%= nameSpace %>-Utility_Title-sub">＼ご利用中はおトクがたくさん／</span>
      ご契約者限定の<br class="u-Show_Sp">キャンペーン・特典
    </h2>
  </div>
  <div class="<%= nameSpace %>-Campaign">
    <div class="l-System_Container">
      <ul class="<%= nameSpace %>-Campaign_List">
        <li class="<%= nameSpace %>-Campaign_Item">
          <div>
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/campaign-01-sp.png" width="343" height="194">
              <img src="<%= sitepath %>assets/img/tips/point/campaign-01-pc.png" width="328" height="185" alt="おトクなキャンペーン">
            </picture>
          </div>
          <p class="u-Adjust_Mt-16">楽天モバイルはご契約時だけではなく、ご契約後もおトクなキャンペーンが豊富！オススメキャンペーンをご紹介します。</p>
          <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <a href="<%= sitepath %>campaign/member/?l-id=tips_point_campaign_member" class="c-Btn_Secondly">おトクなキャンペーンをチェック</a>
          </div>
        </li>
        <li class="<%= nameSpace %>-Campaign_Item">
          <div>
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/point/campaign-02-sp.png" width="343" height="194">
              <img src="<%= sitepath %>assets/img/tips/point/campaign-02-pc.png" width="328" height="185" alt="楽天のおトクなサービス">
            </picture>
          </div>
          <p class="u-Adjust_Mt-16">楽天グループサービスを使うと、楽天ポイントがどんどん貯まる！オススメのサービスをご紹介します。</p>
          <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <a href="<%= sitepath %>tips/gservice/?l-id=tips_point_tips_gservice" class="c-Btn_Secondly">楽天のおトクなサービスをチェック</a>
          </div>
        </li>
        <li class="<%= nameSpace %>-Campaign_Item">
          <div>
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-referral-328-185-240201.png" width="343" height="194">
              <img src="<%= sitepath %>assets/img/bnr/bnr-referral-328-185-240201.png" width="328" height="185" alt="楽天モバイル紹介キャンペーン">
            </picture>
          </div>
          <p class="u-Adjust_Mt-16">紹介する方も、紹介された方にも、ポイントプレゼント。今お使いの方もこれからのお申し込みの方も対象のキャンペーンです。</p>
          <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <a href="<%= sitepath %>campaign/referral/?l-id=tips_point_campaign_referral" class="c-Btn_Secondly">紹介キャンペーンをチェック</a>
          </div>
        </li>
      </ul>
      <div class="<%= nameSpace %>-Point_Poikaku-recommend">
        <%- /* キャンペーン・おすすめ情報 */ include('/include/_bnr-cpn-recommend-v2') %>
      </div>
      <div class="u-Adjust_Mt-40" id="annotation">
        <h4 class="<%= nameSpace %>-Campaign_Title" data-ratid="pointgadget-lp_scroll-07-attention" data-ratevent="appear">注意事項</h4>
        <h5 class="<%= nameSpace %>-Campaign_Title-sub">楽天ポイント利用について</h5>
        <p class="c-Txt_Cap u-Adjust_Mt-8">
          ※1 月々のお支払いに口座振替をご指定の場合は、楽天ポイントをご利用いただけません。<br>
          ※1 製品（スマートフォンおよびアクセサリ）代金をクレジットカードまたはデビットカードにて一括でお支払いいただく場合、ポイントがご利用いただけます。<br>
          ※1 ポイント倍率及び獲得上限ポイントの<a href="https://event.rakuten.co.jp/campaign/point-up/everyday/point/notice/" target="_blank" rel="noopener">詳細</a><span class="c-Icon_New-window-l c-Txt_Emp-02"></span>をご確認ください。月初はお客様情報の反映が遅れる可能性があります。
        </p>
        <h5 class="<%= nameSpace %>-Campaign_Title-sub">紹介キャンペーンについて</h5>
        <p class="c-Txt_Cap u-Adjust_Mt-8">
          ※特典の進呈には、紹介された方のお申し込み、プラン利用開始、Rakuten Linkアプリの利用が必要です。<br>
          ※楽天モバイル公式 楽天市場店でのご注文は対象外となります。
        </p>
      </div>
    </div>
  </div>
</section>

<footer class="g-Footer">
  <div class="g-Footer_Aside">
    <%- /* 続けてこちらをチェック */ include('/include/footer/related/_related-campaign-v2') %>
  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>
  <%- include('/include/_footer') %>
</footer>

<div id="js-cta-target" class="<%= nameSpace %>-Layout_Bottom-fixed" aria-expanded="false" role="region">
  <div class="<%= nameSpace %>-Layout_Bottom-fixed-inner">
    <a href="<%= sitepath %>guide/application/?lid-r=tips_point_guide_application" class="c-Btn_Primary <%= nameSpace %>-Layout_Bottom-fixed-btn <%= nameSpace %>-Layout_Bottom-fixed-btn-mno" aria-hidden="true"><span class="<%= nameSpace %>-Layout_Bottom-fixed-btn-txt-mno">新規／乗り換え（MNP）<span class="fixed-btn-Utility_Img-pc">お申し込み</span></span></a>
    <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=tips_point_mvno_ms&mno_migration=1" class="c-Btn_Primary <%= nameSpace %>-Layout_Bottom-fixed-btn <%= nameSpace %>-Layout_Bottom-fixed-btn-mvno" aria-hidden="true"><span class="<%= nameSpace %>-Layout_Bottom-fixed-btn-txt-mvno"><span class="<%= nameSpace %>-Layout_Bottom-fixed-btn-txt-mvno-small">スーパーホーダイ、<br class="<%= nameSpace %>-Utility_Oox">組み合わせプランからの</span><br>プラン変更（移行）</span></a>
    <a href="<%= sitepath %>shop/?l-id=tips_point_shop" class="c-Btn_Secondly <%= nameSpace %>-Layout_Bottom-fixed-btn" data-ratid="campaign_norton-mobile-security_ms1" data-ratevent="click" data-ratparam="all"><span>お近くのショップを探す</span></a>
  </div>
</div>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/tips.point.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
