<% const pagetitle = "【第1弾】エントリー後、楽天モバイルオンラインお申し込み＆楽天ペイ（オンライン）でUber Eatsを利用すると利用額の20％をポイント付与" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "pay-ubereats" -%>
<% const information = {
  campaignState:'finish'
}; %>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '【第1弾】エントリー後、楽天モバイルオンラインお申し込み＆楽天ペイ（オンライン）でUber Eatsを利用すると利用額の20％をポイント付与',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/pay-ubereats/pay-ubereats.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/_entry-button/rex-overwrite_v2.css?20240424">
<%_  if (information.campaignState !== 'finish') { _%>
<%- include('/inc/_saikyo-plan-css') %>
<%_ } _%>
<!-- ReX Campaign Button: stylesheet -->
<link rel="stylesheet" href="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/4.0.0/static/css/main.css?20240424" />
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<script defer="defer" src="https://r.r10s.jp/com/js/c/common/entry_button/1.1/entry_button-1.1.0.min.js"></script>
<link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout-Label">
      <ul class="c-Label_List <%= namespace %>-Layout-Label_List">
        <li class="c-Label_Normal">エントリー必要</li>
        <li class="c-Label_Normal">プランのみ申込可</li>
        <li class="c-Label_Normal">Rakuten Link利用必要</li>
        <li><span class="<%= namespace %>-Layout-Label_point">ポイント：付与日を含めて6カ月の期間限定ポイント</span></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Hero_Return">
      <div class="l-System_Container <%= namespace %>-Hero_Container">
        <div class="<%= namespace %>-Hero_Main">
          <h1><img src="<%= sitepath %>assets/img/campaign/pay-ubereats/img-heading-pc.png?220907" alt="エントリー後、本ページから楽天モバイルお申し込み＆楽天ペイでUber Eatsを利用すると利用額の20％ポイントプレゼント！" class="<%= namespace %>-Utility_Img-pc"><img src="<%= sitepath %>assets/img/campaign/pay-ubereats/img-heading-sp.png?220907" alt="エントリー後、本ページから楽天モバイルお申し込み＆楽天ペイでUber Eatsを利用すると利用額の20％ポイントプレゼント！" class="<%= namespace %>-Utility_Img-sp"></h1>
        </div>
      </div>
    </div>
    <div class="l-System_Container">
      <% if (information.campaignState == 'finish') { %>
        <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
      <% } else { %>
        <!-- else -->
      <% } %>
      <ul class="c-Txt_Cap u-Adjust_Align-left u-Adjust_Mt-16">
        <li class="c-Txt_Emp-02"><span>※</span><a href="#campaign-rule" class="js-scroll">キャンペーンルール</a>に記載の併用可能キャンペーンを除き、本キャンペーンより付与ポイント数やクーポン割引額が多い Rakuten UN-LIMIT VII お申し込みでポイントまたはクーポンプレゼントキャンペーンが適用となった場合、本キャンペーンは適用されません。</li>
        <li class="c-Txt_Emp-02"><span>※</span>利用額の20％には上限があります。<a href="#campaign-rule" class="js-scroll">詳細はこちら</a></li>
        <li class="c-Txt_Emp-02"><span>※</span>お申し込み後のエントリーは特典付与の対象外となります。</li>
        <li class="c-Txt_Emp-02"><span>※</span>Rakuten Linkアプリのご利用が必要です。</li>
        <li><span>※</span>楽天ペイ利用は順不同
        </li>
      </ul>
    </div>

    <% if (information.campaignState == 'finish') { %>
    <% } else { %>
      <!-- else -->
      <div id="first_entry_button" class="<%= namespace %>-Layout_Entry-Area u-Adjust_Mt-24">
        <p class="c-Txt_Emp-02 <%= namespace %>-Utility_Mt-unique">エントリー期間：2022年9月1日（木）9:00～2022年10月2日（日）8:59</p>
        <!-- ReX Campaign Entry Button: Mounting points -->
        <!-- mounting point for button 1 --><div id="rex-ceb-01" class="campaign-Rexoverwrite"></div>
      </div>
    <% } %>

    <div class="<%= namespace %>-Layout_Body">
      <div class="l-System_Container">
        <div class="l-System_Container <%= namespace %>-Layout-pay-ubereats u-Adjust_Mt-40">
          <div class="<%= namespace %>-Layout-pay-ubereats_Period">
            <dl>
              <dt>エントリー・お申し込み期間</dt>
              <dd>2022年9月1日（木）9:00～2022年10月2日（日）8:59</dd>
            </dl>
            <dl>
              <dt>プラン利用開始期限</dt>
              <dd>2022年10月31日（月）23:59まで</dd>
            </dl>
            <dl>
              <dt>「Rakuten Link」のご利用期限</dt>
              <dd>2022年10月31日（月）23:59まで</dd>
            </dl>
            <dl>
              <dt>楽天ペイ（オンライン）利用期限</dt>
              <dd>2022年9月1日（木）9:00～2022年10月31日（月）23:59</dd>
            </dl>
          </div>
        </div>

        <div class="campaign_conditions">
          <h2 class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンの<span class="txt_nl">達成条件</span></h2>
          <p class="u-Adjust_Mt-16">本キャンペーンには達成条件が設定されています。詳細は<a class="js-scroll" href="#campaign-rule">キャンペーンルール</a>をご確認ください。</p>

          <ul class="u-Adjust_Mt-24">
            <li>
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/pay-ubereats/img-01-sp.png?220907">
                <img src="<%= sitepath %>assets/img/campaign/pay-ubereats/img-01.png?220907" alt="このページからエントリー＋Webで楽天モバイルのお申し込み＋プランのご利用 期限までに、開通手続きをしてプランのご利用を開始してください＋Rakuten Linkで 10秒以上通話 期限までに、Rakuten Linkアプリを利用して10秒以上の通話をしてください。＋">
              </picture>
            </li>
            <li>
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/pay-ubereats/img-02-sp.png?220907">
                <img src="<%= sitepath %>assets/img/campaign/pay-ubereats/img-02.png?220907" alt="楽天ペイ（オンライン）でUber Eatsをご利用">
              </picture>
              <p class="conditions_anchor"><a class="accordion5_opan js-scroll" href="#accordion-5">
                <picture>
                  <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/pay-ubereats/img-03-sp.png?220907">
                  <img src="<%= sitepath %>assets/img/campaign/pay-ubereats/img-03.png?220907" alt="楽天ペイでUber Eats をご利用する方法">
                </picture></a></p>
            </li>
          </ul>
        </div>

        <div class="info_area info1 u-Adjust_Mt-40">
          <p class="u-Adjust_Align-center">いろんなお店でポイント貯まる・使える！</p>
          <h2 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-16 ">楽天ペイのメリット</h2>
            <div class="u-Adjust_Align-center Info-img">
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/pay-ubereats/img-04-sp.png?220907">
                <img src="<%= sitepath %>assets/img/campaign/pay-ubereats/img-04.png?220907" alt="いつもの楽天IDで楽天以外のサイトでも簡単決済！ポイントも使える！　楽天市場にはないサイトもたくさん！順次拡大中！　最大1.5％ポイント付与！　楽天カードからのチャージ時に楽天カードから0.5%付与。チャージ残高[楽天キャッシュ]でのお支払い時に楽天ペイから1%付与。　あんしん　クレジットカード番号、購入者情報、配送先住所を入力する必要なく決済できるので、安心安全にご利用頂けます。">
              </picture>
            </div>
            <ul class="c-Txt_Cap u-Adjust_Align-center u-Adjust_Mt-24">
              <li><span>※</span>一部店舗では、ポイントが使えない場合があります。</li>
              <li><span>※</span>楽天ポイントが貯まるのは、楽天カード・楽天ポイント・楽天キャッシュでのお支払いに限ります。</li>
            </ul>
        </div>
      </div>

      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64 u-Adjust_Align-center" id="campaign-flow">キャンペーンの流れ</h2>
        <div class="<%= namespace %>-Layout_step u-Adjust_Mt-24">
          <div class="c-Accordion">
            <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1" data-ratid="campaign_pay-ubereats_flow-step1" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP1　</span>このページからエントリー</button>
            <div id="accordion-content-1" class="<%= namespace %>-Layout_step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region"
              aria-labelledby="accordion-1" aria-hidden="true">
                <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                  <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                    <img src="<%= sitepath %>assets/img/campaign/pay-ubereats/img-flow-01.png?220907" alt="">
                  </div>
                  <div>
                    <p class="u-Adjust_Mt-16">エントリー期間：2022年9月1日（木）9:00～2022年10月2日（日）8:59</p>
                    <ul class="<%= namespace %>-Table_Rule-Cap">
                      <li class="u-Adjust_Mt-8 c-Txt_Emp-02"><span>※</span>お申し込み後のエントリーは特典付与の対象外となります。</li>
                    </ul>
                  </div>
                </div>

                <% if (information.campaignState == 'finish') { %>
                <% } else { %>
                  <!-- else -->
                  <!-- ReX Campaign Entry Button: Mounting points -->
                  <!-- mounting point for button 2 --><div id="rex-ceb-02" class="campaign-Rexoverwrite"></div>
                <% } %>
            </div>
          </div>
          <div class="c-Accordion u-Adjust_Mt-16">
            <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2" data-ratid="campaign_pay-ubereats_flow-step2" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP2　</span>楽天モバイルのお申し込み</button>
            <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2"
              aria-hidden="true">
              <div class="u-Adjust_Mt-16">
                <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-24">
                  <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                    <img src="<%= sitepath %>assets/img/campaign/pay-ubereats/img-flow-02.png?220907" alt="">
                  </div>
                  <div>
                    <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">Webから楽天モバイル（楽天回線）に申し込む</h4>
                    <p class="u-Adjust_Mt-8">2022年9月1日（木）9:00～2022年10月2日（日）8:59</p>
                    <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                      <li class="c-Txt_Emp-02"><span>※</span>未成年の方のお申し込み方法は別途こちらの<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_pay-ubereats_flow_for-minors">ご案内ページ</a>をご確認ください。</li>
                    </ul>
                  </div>
                </div>
                <ul class="<%= namespace %>-Flow_List u-Adjust_Mt-16">
                  <li>
                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-8">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                        <img src="<%= sitepath %>assets/img/campaign/pay-ubereats/img-flow-03.png?220907" alt="">
                      </div>
                      <div>
                        <p class="c-Txt_Emp-01">お申し込みに必要なもの</p>
                        <div class="u-Adjust_Mt-8">
                          <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc">
                            <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                            <li class="u-Adjust_Mt-8">楽天ID、パスワード</li>
                            <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                            </li>
                            <li class="u-Adjust_Mt-8">ご契約者名義の<a href="<%= sitepath %>guide/mnp/" class="c-Link_Txt-inline">MNP予約番号</a>（他社から乗り換えの場合）
                              <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                                <span>※</span>ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001238/">こちらのご案内ページ</a>を必ず事前にご確認ください。<br>
                              </p></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="<%= namespace %>-Flow_List-step-unlimit u-Adjust_Mt-24 <%= namespace %>-Layout_step-ptn2">
                  <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-left">
                    <div class="<%= namespace %>-Flow_List-detail">
                      <div class="step-pran-change"><span class="c-Icon_New-user-f c-Txt_Emp-02"></span><h4 class="c-Heading_Lv4 u-Adjust_Mt-8 u-Adjust_Mb-16"> 新規電話番号／他社から乗り換え（MNP）</h4></div>
                      <p class="u-Adjust_Align-center"><a href="<%= sitepath %>guide/application/?lid-r=campaign_pay-ubereats_guide_application1" class="c-Btn_Primary <%= namespace %>-Flow_List-button-secondly u-Adjust_Mt-24"><span>Rakuten UN-LIMIT VII<br class="<%= namespace %>-Layout-pay-ubereats_Sp">に申し込む</span></a></p>
                      <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>fee/un-limit/" class="c-Link_Txt-inline">Rakuten UN-LIMIT VIIの詳細<span class="c-Icon_Chevron-right"></span></a></p>
                      <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/flow/application/" class="c-Link_Txt-inline">Rakuten UN-LIMIT VII <br class="<%= namespace %>-Layout-pay-ubereats_Sp">お申し込み方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                    </div>
                  </div>
                  <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-right">
                    <div class="<%= namespace %>-Flow_List-detail">
                      <div class="step-pran-change"><span class="c-Icon_Paper-plane-l c-Txt_Emp-02"></span>
                      <h4 class="c-Heading_Lv4 u-Adjust_Mt-8 u-Adjust_Mb-16"> 楽天モバイル（ドコモ・au回線）からプラン変更（移行）</h4></div>
                      <div class="u-Adjust_Mt-16">
                        <p class="u-Adjust_Align-center"><a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_pay-ubereats_ms1&mno_migration=1" class="c-Btn_Secondly <%= namespace %>-Flow_List-button-secondly u-Adjust_Mt-24" data-ratid="campaign_pay-ubereats_ms" data-ratevent="click" data-ratparam="all"><span>メンバーズステーションからプラン変更（移行）する</span></a></p>
                        <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/migration/" class="c-Link_Txt-inline">スーパーホーダイ・組み合わせプラン（※）との比較<span class="c-Icon_Chevron-right"></span></a>
                        </p>
                        <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">※2020年4月8日に受付終了のドコモ回線・au回線使用プラン
                        </p>
                        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/mnp/migration/" class="c-Link_Txt-inline">楽天モバイル（楽天回線）への<br class="<%= namespace %>-Layout-pay-ubereats_Sp">移行方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>flow/mvno-user-registration/" class="c-Link_Txt-inline">利用者登録でご利用中の方の<br class="<%= namespace %>-Layout-pay-ubereats_Sp">移行方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion u-Adjust_Mt-16">
            <button type="button" id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3" data-ratid="campaign_pay-ubereats_flow-step3" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP3　</span>「Rakuten UN-LIMIT VII」 プラン利用開始</button>
            <div id="accordion-content-3" class="<%= namespace %>-Layout_step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region"
              aria-labelledby="accordion-3" aria-hidden="true">
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/pay-ubereats/img-flow-04.png?220907" alt="">
                </div>
                <div>
                  <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">楽天モバイルの開通手続きを行い「Rakuten UN-LIMIT VII」 プランを利用開始する</h4>
                  <p class="u-Adjust_Mt-8">2022年10月31日（月）23:59まで</p>
                  <ul class="<%= namespace %>-Table_Rule-Cap">
                    <li class="u-Adjust_Mt-8 c-Txt_Emp-02"><span>※</span>店舗（楽天モバイルショップ）でのお申し込みの場合、対象外となります。あらかじめご了承ください。</li>
                    <li class="u-Adjust_Mt-8"><span>※</span><a href="#campaign-rule-plan" class="js-scroll">プラン利用開始日の定義はこちら</a>。</li>
                  </ul>
                  <div class="u-Adjust_Mt-32">
                    <p class="<%= namespace %>-Layout-pay-ubereats_Sp-center-btn"><a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/" class="c-Btn_Regular <%= namespace %>-Flow_List-button"><span>スタートガイド（利用開始手順書）はこちら</span></a></p>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="c-Accordion u-Adjust_Mt-16">
            <button type="button" id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4" data-ratid="campaign_pay-ubereats_flow-step4" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP4　</span>Rakuten Linkアプリで通話する</button>
            <div id="accordion-content-4" class="<%= namespace %>-Layout_step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/pay-ubereats/img-flow-05.png?220907" alt="">
                </div>
                <div>
                  <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">Rakuten Linkアプリで10秒以上通話する</h4>
                  <p class="u-Adjust_Mt-8">2022年10月31日（月）23:59まで</p>
                  <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                    <li><span>※</span>（0180）（0570）などから始まる他社接続サービス、一部特番（188）への通話については、無料通話の対象外となります。<a href="<%= sitepath %>terms/pdf/rakuten_mobile_exception_number_list.pdf?220701">対象外番号一覧</a>をご確認ください。</li>
                  </ul>
                  <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>service/rakuten-link/" class="c-Link_Txt-inline" target="_blank">Rakuten Link アプリの詳細<span class="c-Icon_New-window-l"></span></a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion u-Adjust_Mt-16">
            <button type="button" id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5" data-ratid="campaign_pay-ubereats_flow-step5" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP5　</span>楽天ペイ（オンライン）でUber Eatsをご利用</button>
            <div id="accordion-content-5" class="<%= namespace %>-Layout_step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-5" aria-hidden="true">
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/pay-ubereats/img-flow-06.png?220907" alt="">
                </div>
                <div>
                  <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">楽天ペイ（オンライン）のご利用</h4>
                  <p class="u-Adjust_Mt-8">2022年9月1日（木）9:00～2022年10月31日（月）23:59</p>
                </div>
              </div>
              <ul class="<%= namespace %>-Flow_List u-Adjust_Mt-16">
                <li>
                  <div class="u-Adjust_Mt-8">
                    <h2 class="c-Heading_Lv2 u-Adjust_Align-center">楽天ペイでUber Eats をご利用する方法</h2>
                    <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                      <picture>
                        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/pay-ubereats/img-flow-07-sp.png?220907">
                        <img src="<%= sitepath %>assets/img/campaign/pay-ubereats/img-flow-07.png?220907" alt="① アカウント（人型アイコン）からお支払い方法へ進み、「支払方法を追加」から楽天ペイを選択　②利用カードの選択、セキュリティコードの入力、利用ポイントの設定を行う　③お好みの商品 を選択し、「カートに追加」する　④カートに進み、お支払い方法で楽天ペイを選択する　⑤事前に登録済みのカード情報、利用ポイントでスムーズに支払いが完了">
                      </picture>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/pay-ubereats/img-05-sp.png?220907">
            <img src="<%= sitepath %>assets/img/campaign/pay-ubereats/img-05.png?220907" alt="利用額の20％ポイントプレゼント！※2022年12月末ごろに付与予定です。※ 付与日から6カ月間有効の期間限定ポイントとなります。※ 特典はおひとり様1回のみ">
          </picture>
        </div>
      </div>

      <% if (information.campaignState == 'finish') { %>
      <% } else { %>
        <!-- else -->
        <div class="<%= namespace %>-Layout_Entry-Area u-Adjust_Mt-56">
          <p class="c-Txt_Emp-02 <%= namespace %>-Utility_Mt-unique">エントリー期間：2022年9月1日（木）9:00～2022年10月2日（日）8:59</p>
          <!-- ReX Campaign Entry Button: Mounting points -->
          <!-- mounting point for button 3 --><div id="rex-ceb-03" class="campaign-Rexoverwrite"></div>
        </div>
      <% } %>

      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64 u-Adjust_Align-center">他にもお得な<span class="txt-nl">キャンペーン実施中</span></h2>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
          <a href="https://event.rakuten.co.jp/campaign/ubereats/?scid=wi_cho_uber_20220904_mobile" target="_blank"><picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/pay-ubereats/img-06-sp_220912.png?220912">
            <img src="<%= sitepath %>assets/img/campaign/pay-ubereats/img-06_220912.png?220912" alt="要エントリー 楽天ペイを使ってUber Eatsを注文すると 初回限定 最大50％ポイント還元ポイント最大1､500ポイントまで 2回目以降 最大3％ポイント還元">
          </picture></a>
        </div>

        <% if (information.campaignState == 'finish') { %>
        <% } else { %>
          <!-- else -->
          <div id="unlimit-vi-plan" class="u-Adjust_Mt-32">
            <%- include('/inc/_saikyo-plan') %>
          </div>
        <% } %>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-40 u-Adjust_Align-center u-Adjust_Mb-16">よくあるご質問</h2>
        <p class="c-Txt_Cap">※キャンペーン詳細は、<a class="js-scroll" href="#campaign-rule">こちら</a>からご確認ください。</p>
        <div class="_sample u-Adjust_Mt-16 u-Adjust_Mb-40">
          <div class="c-Accordion">
              <button id="accordion-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-6"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>エントリーされているか、どこで確認できますか？</button>
              <div id="accordion-content-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-6" aria-hidden="true">
                  <p>エントリーされた場合、本キャンペーンページのエントリーボタンが「エントリー済みです」と表示されます。<br>
                    また、楽天PointClubの「<a href="https://oubo.rakuten.co.jp/list">キャンペーンエントリー履歴</a>」から確認することができます。</p>
              </div>
          </div>
          <div class="c-Accordion">
              <button id="accordion-7" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-7"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーン期間内に楽天モバイルに申し込みができているか、確認方法はありますか？</button>
              <div id="accordion-content-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-7" aria-hidden="true">
                  <p>以下2種類の方法があります。<br>
                    ①お申し込み完了メールを確認する<br>
                    ②「<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile">my 楽天モバイル</a>」の申し込み履歴から確認する<br>
                    詳しい手順は<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001827/">こちら</a>からもご確認いただけます。</p>
              </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-8" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-8"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ポイントの付与はいつになりますか？</button>
            <div id="accordion-content-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-8" aria-hidden="true">
                <p>2022年12月末日ごろに楽天モバイルにご登録の楽天IDにポイントを付与いたします。<br>
                  付与されたポイントは楽天PointClubの「<a href="https://point.rakuten.co.jp/history/">ポイント実績</a>」から確認することができます。</p>
            </div>
          </div>
        </div>
      </div>

      <% if (information.campaignState == 'finish') { %>
      <% } else { %>
        <!-- else -->
        <div class="<%= namespace %>-Layout_Entry-Area u-Adjust_Mt-56">
          <p class="c-Txt_Emp-02 <%= namespace %>-Utility_Mt-unique">エントリー期間：2022年9月1日（木）9:00～2022年10月2日（日）8:59</p>
          <!-- ReX Campaign Entry Button: Mounting points -->
          <!-- mounting point for button 4 --><div id="rex-ceb-04" class="campaign-Rexoverwrite"></div>
        </div>
      <% } %>

      <div class="l-System_Container">
        <div class="u-Adjust_Mt-64" id="campaign-rule">
          <div class="<%= namespace %>-Layout_Rule">
            <h2>【第1弾】エントリー後、楽天モバイルオンラインお申し込み＆楽天ペイ（オンライン）でUber Eatsを利用すると利用額の20％をポイント付与</h2>
            <% if (information.campaignState == 'finish') { %>
              <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
            <% } else { %>
              <!-- else -->
            <% } %>
            <div class="u-Adjust_Mt-24">
              <dl class="c-Dl_Origin <%= namespace %>-campaign-Rule">
                <dt>キャンペーンコード</dt>
                <dd>
                  <p>1620</p>
                  <ul class="c-Txt_Cap u-Adjust_Mt-8">
                    <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                  </ul>
                </dd>
                <dt>キャンペーン期間</dt>
                <dd>
                  <p class="c-Txt_Emp-01">エントリー期間</p>
                  <p>2022年9月1日（木）9:00～2022年10月2日（日）8:59</p>
                  <p class="c-Txt_Emp-01 u-Adjust_Mt-16">プランお申し込み期間</p>
                  <p>- Web　2022年9月1日（木）9:00～2022年10月2日（日）8:59</p>
                  <p class="c-Txt_Emp-01 u-Adjust_Mt-16">プラン利用開始期限</p>
                  <p>2022年10月31日（月）23:59まで</p>
                  <p class="c-Txt_Emp-01 u-Adjust_Mt-16">「Rakuten Link」利用期限</p>
                  <p>2022年10月31日（月）23:59まで</p>
                  <p class="c-Txt_Emp-01 u-Adjust_Mt-16">「楽天ペイ（オンライン）」利用期限</p>
                  <p>2022年9月1日（木）9:00～2022年10月31日（月）23:59</p>
                </dd>
                <dt>キャンペーン条件</dt>
                <dd>
                  <p>上記各項目の期間内に【1】、【2】、【3】、【4】、【5】の条件をすべて満たした楽天会員の方</p>
                  <p class="u-Adjust_Mt-8">【1】キャンペーンへのエントリー<br>
                    エントリー期間内に本キャンペーンページでエントリー</p>
                  <p class="u-Adjust_Mt-8">【2】「Rakuten UN-LIMIT VII」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
                  <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（1）新規お申し込み</p>
                  <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（2）他社からの乗り換え（MNP）でお申し込み</p>
                  <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</p>
                  <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                    <li><span>※</span>エントリー前のお申し込みはポイント付与の対象になりません</li>
                  </ul>
                  <p class="u-Adjust_Mt-8">【3】「Rakuten UN-LIMIT VII」プラン利用開始</p>
                  <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                    <li id="campaign-rule-plan">【プラン利用開始日とは】<br><br>
                      <span class="<%= namespace %>-Table_Rule-bold">新規お申し込みの場合　※（1）（2）のいずれか早い方がプラン利用開始日となります</span><br>
                      （1）当社に配送完了データが通知された日<br>
                      （2）プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br><br>
                      <span class="<%= namespace %>-Table_Rule-bold">他社から乗り換え（MNP）の場合</span><br>
                      プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br><br>
                      <span class="<%= namespace %>-Table_Rule-bold">楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</span><br>
                      プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                  </ul>
                  <p class="u-Adjust_Mt-8">【4】「Rakuten Link」のご利用<br>「Rakuten UN-LIMIT VII」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
                  <p class="u-Adjust_Mt-16">【Rakuten Linkアプリご利用方法】<br>
                    Rakuten Linkページの「<a href="https://service.link.link/guide/" target="_blank" class="c-Link_Txt-inline">使い方<span class="c-Icon_New-window-l"></span></a>」をご確認ください</p>
                  <p class="u-Adjust_Mt-16">【Rakuten Link利用履歴の確認方法】<br>
                      「<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001962/#sec3" target="_blank" class="c-Link_Txt-inline">キャンペーンが適用されているか、いつポイントが付与されるか知りたい<span class="c-Icon_New-window-l"></span></a>」をご確認ください</p>
                  <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                    <li><span>※</span>電話の発信時、（0570）（0180）などの他社接続サービス、♯ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</li>
                  </ul>
                  <p class="u-Adjust_Mt-8">【5】楽天ペイ（オンライン）でUber Eatsのお支払い<br>
                    楽天ペイ（オンライン）でUber Eats のご利用をいただいた楽天会員様に、お支払い額に応じて通常の楽天ポイント付与分（楽天ポイント払い・楽天キャッシュ払いご利用の場合、100円につき1ポイント）に加えて、お支払い額に応じて19％分の楽天ポイント（期間限定ポイント）を付与いたします。</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">ポイント付与例）<br>
                      ①楽天カード支払い分：ポイント20％付与 （通常ポイント1%※+特典ポイント19%）<br>
                      ②楽天ポイント/楽天キャッシュ支払い分：ポイント20％付与 （通常ポイント1%+特典ポイント19%）<br>
                      ③その他カード支払い分：ポイント19%付与 （特典ポイント19%）</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>楽天カード支払い分の通常の楽天ポイント付与は、楽天カードから付与されます。</li>
                      <li><span>※</span>期間内であれば、楽天モバイルのお申し込みおよび楽天ペイ（オンライン）のお支払いの順序は問いません。</li>
                    </ul>
                    <p class="u-Adjust_Mt-8">【対象サイト】<br>
                      <a href="https://www.ubereats.com/jp" target="_blank" class="c-Link_Txt-inline">https://www.ubereats.com/jp<span class="c-Icon_New-window-l"></span></a></p>
                </dd>
                <dt>キャンペーン特典 （楽天ポイント）</dt>
                <dt class="<%= namespace %>-campaign-Rule_Title-sub">特典内容</dt>
                <dd>
                  <p>楽天ペイ（オンライン）でUber Eatsのご利用をいただいた楽天会員様にUber Eatsお支払い額の最大20％分を楽天ポイント付与</p>
                  <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                    <li><span>※</span>上限1,500ポイント</li>
                    <li><span>※</span>付与されるポイント数は小数点以下の切り下げとなります。</li>
                  </ul>
                </dd>
                <dt>ポイント付与日</dt>
                <dd>
                  <p>2022年12月末日ごろ</p>
                  <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                    <li><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</li>
                    <li><span>※</span>権利の譲渡はできません</li>
                  </ul>
                </dd>
                <dt>ポイント有効期間</dt>
                <dd>
                  <p>ポイント付与日を含めて6カ月</p>
                  <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                    <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
                    <li><span>※</span>有効期限までにポイントをご利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
                  </ul>
                </dd>
                <dt>お問い合わせ先</dt>
                <dd>
                  <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                    <li><span>※</span>楽天ペイ・楽天ポイントに関するお問い合わせは<a href="https://checkout.rakuten.co.jp/contact/?scid=wi_cho_ubereats_mobile_220901-rule" target="_blank" class="c-Link_Txt-inline">こちら<span class="c-Icon_New-window-l"></span></a></li>
                    <li><span>※</span>現在獲得しているポイントの確認は<a href="https://point.rakuten.co.jp/?scid=wi_cho_ubereats_220901-rule_point" target="_blank" class="c-Link_Txt-inline">こちら<span class="c-Icon_New-window-l"></span></a></li>
                    <li><span>※</span>期間限定ポイントのご利用に関するご注意有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などを行なった場合には返還されません。詳細は<a href="https://ichiba.faq.rakuten.net/detail/000008688?scid=wi_cho_ubereats_220901-rule_point" target="_blank" class="c-Link_Txt-inline">こちら<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                  <p class="u-Adjust_Mt-8">＜楽天モバイルに関しての各種お問い合わせ＞</p>
                  <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>inquiry/">https://network.mobile.rakuten.co.jp/inquiry/</a></p>
                  <p class="u-Adjust_Mt-8">本キャンペーンで、楽天モバイルに関してお問い合わせの際は、「キャンペーンコード1620」をお伝えください</p>
                  <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                    <li><span>※</span>以下2点は、上記ページよりお問い合わせください。</li>
                  </ul>
                  <p class="u-Adjust_Mt-8">-楽天モバイルの新規契約方法について</p>
                  <p class="u-Adjust_Mt-8">-楽天モバイルの契約プランについて</p>
                </dd>
                <dt>特典適用対象外</dt>
                <dd>
                  <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
                  <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                    <li><span>※</span>本ルールに記載の併用可能キャンペーンを除き、本キャンペーンより付与ポイント数やクーポン割引額が多い Rakuten UN-LIMIT VII お申し込みでポイントまたはクーポンプレゼントキャンペーンが適用となった場合<br>
                      （複数のRakuten UN-LIMIT VIIお申し込みでポイントまたはクーポンプレゼントキャンペーンの対象となった場合、付与ポイント数やクーポン割引額が一番多いキャンペーンのみが適用され、同額の場合はポイント・クーポンを問わずエントリー日時の早いキャンペーンが優先して適用されます。）</li>
                    <li><span>※</span>楽天モバイルの提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                    <li><span>※</span>本キャンペーンの適用回数が、おひとり様1契約を超える場合は対象外となります</li>
                    <li><span>※</span>「Rakuten UN-LIMIT VII」お申し込み後に本キャンペーンにエントリーした場合</li>
                    <li><span>※</span>エントリー時の楽天ID、楽天モバイルにご登録の楽天ID、楽天ペイにご登録の楽天IDが同一でない場合</li>
                    <li><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
                    <li><span>※</span>「Rakuten UN-LIMIT VII」のプラン利用開始がされなかった場合<br>-プラン利用開始の手続き方法につきましては、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/">こちら</a>のSIMカード版スタートガイドまたはeSIM版スタートガイドを参照ください</li>
                    <li><span>※</span>期限までに「Rakuten Link」を利用されなかった場合</li>
                    <li><span>※</span>楽天ポイント付与を適用するには、Uber Eats アプリ内のお支払い方法に 楽天ペイを追加・選択する必要があります。他のお支払い方法では、楽天ポイントは付与されません。</li>
                    <li><span>※</span>ポイント付与までに楽天会員から退会している場合</li>
                    <li><span>※</span>当社または楽天グループ株式会社が定める規約などに違反した場合</li>
                    <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
                  </ul>
                </dd>
                <dt id="combineduse">併用可能キャンペーン</dt>
                <dd>
                  <p class="c-Txt_Emp-01">以下のキャンペーンは併用可能となります。以下記載のキャンペーン以外は併用不可となります。</p>
                  <p class="u-Adjust_Mt-16">- 【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント（キャンペーンコード：1526）</p>
                  <p class="u-Adjust_Mt-16">- 【Rakuten UN-LIMIT VII】データ1GB／月以下だった方限定！プラン料金最大4カ月実質無料キャンペーン（キャンペーンコード：1527）</p>
                </dd>
                <dt>注意事項</dt>
                <dd>
                  <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap">
                    <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                    <li><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                    <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                    <li><span>※</span>記載の内容は2022年9月1日（木）時点の情報となります</li>
                  </ul>
                </dd>
              </dl>
            </div>
          </div>
        </div>

        <!--<div class="c-Accordion u-Adjust_Mt-48" id="past-campaigns">
          <button id="accordion-9" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-9"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>過去のキャンペーン</button>
          <div id="accordion-content-9" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-9" aria-hidden="true">
            <div class="<%= namespace %>-Layout_Rule u-Adjust_Mt-0">
              <div class="c-Txt_Emp-01">【第1弾】エントリー後、楽天モバイルオンラインお申し込みで、楽天ペイ（オンライン）でUber Eatsを利用すると利用額の20％がポイント付与　ルール</div>
              <div class="u-Adjust_Mt-24">
                <dl class="c-Dl_Origin <%= namespace %>-campaign-Rule">
                  <dt>キャンペーンコード</dt>
                  <dd>
                    <p>1620</p>
                    <ul class="c-Txt_Cap u-Adjust_Mt-8">
                      <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                    </ul>
                  </dd>
                  <dt>キャンペーン期間</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">エントリー期間</p>
                    <p>2022年9月1日（木）9:00～2022年9月30日（金）23:59</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">プランお申し込み期間</p>
                    <p>- Web　2022年9月1日（木）9:00～2022年9月30日（金）23:59</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">プラン利用開始期限</p>
                    <p>2022年10月31日（月）23:59まで</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">「Rakuten Link」利用期限</p>
                    <p>2022年10月31日（月）23:59まで</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">「楽天ペイ（オンライン）」利用期限</p>
                    <p>2022年9月1日（木）9:00～2022年10月31日（月）23:59</p>
                  </dd>
                  <dt>キャンペーン条件</dt>
                  <dd>
                    <p>上記各項目の期間内に【1】、【2】、【3】、【4】、【5】の条件をすべて満たした楽天会員の方</p>
                    <p class="u-Adjust_Mt-8">【1】キャンペーンへのエントリー<br>
                      エントリー期間内に本キャンペーンページでエントリー</p>
                    <p class="u-Adjust_Mt-8">【2】「Rakuten UN-LIMIT VII」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（1）新規お申し込み</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（2）他社からの乗り換え（MNP）でお申し込み</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                      <li><span>※</span>エントリー前のお申し込みはポイント付与の対象になりません</li>
                    </ul>
                    <p class="u-Adjust_Mt-8">【3】「Rakuten UN-LIMIT VII」プラン利用開始</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li>【プラン利用開始日とは】<br><br>
                        <span class="<%= namespace %>-Table_Rule-bold">新規お申し込みの場合　※（1）（2）のいずれか早い方がプラン利用開始日となります</span><br>
                        （1）当社に配送完了データが通知された日<br>
                        （2）プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br><br>
                        <span class="<%= namespace %>-Table_Rule-bold">他社から乗り換え（MNP）の場合</span><br>
                        プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br><br>
                        <span class="<%= namespace %>-Table_Rule-bold">楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</span><br>
                        プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                    </ul>
                    <p class="u-Adjust_Mt-8">【4】「Rakuten Link」のご利用<br>「Rakuten UN-LIMIT VII」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
                    <p class="u-Adjust_Mt-16">【Rakuten Linkアプリご利用方法】<br>
                      Rakuten Linkページの「<a href="https://service.link.link/guide/" target="_blank" class="c-Link_Txt-inline">使い方<span class="c-Icon_New-window-l"></span></a>」をご確認ください</p>
                    <p class="u-Adjust_Mt-16">【Rakuten Link利用履歴の確認方法】<br>
                        「<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001962/#sec3" target="_blank" class="c-Link_Txt-inline">キャンペーンが適用されているか、いつポイントが付与されるか知りたい<span class="c-Icon_New-window-l"></span></a>」をご確認ください</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>電話の発信時、（0570）（0180）などの他社接続サービス、♯ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</li>
                    </ul>
                    <p class="u-Adjust_Mt-8">【5】楽天ペイ（オンライン）でUber Eatsのお支払い<br>
                      楽天ペイ（オンライン）でUber Eats のご利用をいただいた楽天会員様に、お支払い額に応じて通常の楽天ポイント付与分（楽天ポイント払い・楽天キャッシュ払いご利用の場合、100円につき1ポイント）に加えて、お支払い額に応じて19％分の楽天ポイント（期間限定ポイント）を付与いたします。</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">ポイント付与例）<br>
                        ①楽天カード支払い分：ポイント20％付与 （通常ポイント1%※+特典ポイント19%）<br>
                        ②楽天ポイント/楽天キャッシュ支払い分：ポイント20％付与 （通常ポイント1%+特典ポイント19%）<br>
                        ③その他カード支払い分：ポイント19%付与 （特典ポイント19%）</p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span>楽天カード支払い分の通常の楽天ポイント付与は、楽天カードから付与されます。</li>
                        <li><span>※</span>期間内であれば、楽天モバイルのお申し込みおよび楽天ペイ（オンライン）のお支払いの順序は問いません。</li>
                      </ul>
                      <p class="u-Adjust_Mt-8">【対象サイト】<br>
                        <a href="https://www.ubereats.com/jp" target="_blank" class="c-Link_Txt-inline">https://www.ubereats.com/jp<span class="c-Icon_New-window-l"></span></a></p>
                  </dd>
                  <dt>キャンペーン特典 （楽天ポイント）</dt>
                  <dt class="<%= namespace %>-campaign-Rule_Title-sub">特典内容</dt>
                  <dd>
                    <p>楽天ペイ（オンライン）でUber Eatsのご利用をいただいた楽天会員様にUber Eatsお支払い額の最大20％分を楽天ポイント付与</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>上限1,500ポイント</li>
                      <li><span>※</span>付与されるポイント数は小数点以下の切り下げとなります。</li>
                    </ul>
                  </dd>
                  <dt>ポイント付与日</dt>
                  <dd>
                    <p>2022年12月末日ごろ</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</li>
                      <li><span>※</span>権利の譲渡はできません</li>
                    </ul>
                  </dd>
                  <dt>ポイント有効期間</dt>
                  <dd>
                    <p>ポイント付与日を含めて6カ月</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
                      <li><span>※</span>有効期限までにポイントをご利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
                    </ul>
                  </dd>
                  <dt>お問い合わせ先</dt>
                  <dd>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>楽天ペイ・楽天ポイントに関するお問い合わせは<a href="https://checkout.rakuten.co.jp/contact/?scid=wi_cho_ubereats_mobile_220901-rule" target="_blank" class="c-Link_Txt-inline">こちら<span class="c-Icon_New-window-l"></span></a></li>
                      <li><span>※</span>現在獲得しているポイントの確認は<a href="https://point.rakuten.co.jp/?scid=wi_cho_ubereats_220901-rule_point" target="_blank" class="c-Link_Txt-inline">こちら<span class="c-Icon_New-window-l"></span></a></li>
                      <li><span>※</span>期間限定ポイントのご利用に関するご注意有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などを行なった場合には返還されません。詳細は<a href="https://ichiba.faq.rakuten.net/detail/000008688?scid=wi_cho_ubereats_220901-rule_point" target="_blank" class="c-Link_Txt-inline">こちら<span class="c-Icon_New-window-l"></span></a></li>
                    </ul>
                    <p class="u-Adjust_Mt-8">＜楽天モバイルに関しての各種お問い合わせ＞</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                      <li><span>※</span>キャンペーンのエントリー以外のお問い合わせにつきましては、楽天モバイルへご連絡いただくようにお願いします。<br>
                        <a href="<%= sitepath %>inquiry/">https://network.mobile.rakuten.co.jp/inquiry/</a></li>
                      <li><span>※</span>以下2点は、上記ページよりお問い合わせください。</li>
                    </ul>
                    <p class="u-Adjust_Mt-8">-楽天モバイルの新規契約方法について</p>
                    <p class="u-Adjust_Mt-8">-楽天モバイルの契約プランについて</p>
                  </dd>
                  <dt>特典適用対象外</dt>
                  <dd>
                    <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>本ルールに記載の併用可能キャンペーンを除き、本キャンペーンより付与ポイント数やクーポン割引額が多い Rakuten UN-LIMIT VII お申し込みでポイントまたはクーポンプレゼントキャンペーンが適用となった場合<br>
                        （複数のRakuten UN-LIMIT VIIお申し込みでポイントまたはクーポンプレゼントキャンペーンの対象となった場合、付与ポイント数やクーポン割引額が一番多いキャンペーンのみが適用され、同額の場合はポイント・クーポンを問わずエントリー日時の早いキャンペーンが優先して適用されます。）</li>
                      <li><span>※</span>楽天モバイルの提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                      <li><span>※</span>本キャンペーンの適用回数が、おひとり様1契約を超える場合は対象外となります</li>
                      <li><span>※</span>「Rakuten UN-LIMIT VII」お申し込み後に本キャンペーンにエントリーした場合</li>
                      <li><span>※</span>エントリー時の楽天ID、楽天モバイルにご登録の楽天ID、楽天ペイにご登録の楽天IDが同一でない場合</li>
                      <li><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
                      <li><span>※</span>「Rakuten UN-LIMIT VII」のプラン利用開始がされなかった場合<br>-プラン利用開始の手続き方法につきましては、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/">こちら</a>のSIMカード版スタートガイドまたはeSIM版スタートガイドを参照ください</li>
                      <li><span>※</span>期限までに「Rakuten Link」を利用されなかった場合</li>
                      <li><span>※</span>楽天ポイント付与を適用するには、Uber Eats アプリ内のお支払い方法に 楽天ペイを追加・選択する必要があります。他のお支払い方法では、楽天ポイントは付与されません。</li>
                      <li><span>※</span>ポイント付与までに楽天会員から退会している場合</li>
                      <li><span>※</span>当社または楽天グループ株式会社が定める規約などに違反した場合</li>
                      <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
                    </ul>
                  </dd>
                  <dt>併用可能キャンペーン</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">以下のキャンペーンは併用可能となります。以下記載のキャンペーン以外は併用不可となります。</p>
                    <p class="u-Adjust_Mt-16">- 【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント（キャンペーンコード：1526）</p>
                    <p class="u-Adjust_Mt-16">- 【Rakuten UN-LIMIT VII】データ1GB／月以下だった方限定！プラン料金最大4カ月実質無料キャンペーン（キャンペーンコード：1527）</p>
                  </dd>
                  <dt>注意事項</dt>
                  <dd>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap">
                      <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                      <li><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                      <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                      <li><span>※</span>記載の内容は2022年9月1日（木）時点の情報となります</li>
                    </ul>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>-->

        <!-- ReX UX Survey: Mounting point for embedded components -->
        <div class="u-Adjust_Mt-40">
          <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
        </div>

      </div>
    </div>

    <div id="js-fixed-btn" class="<%= namespace %>-Layout_Bottom-fixed" aria-expanded="false" role="region">
      <% if (information.campaignState == 'finish') { %>
      <% } else { %>
        <!-- else -->
        <p class="<%= namespace %>-Layout_Bottom-fixed-txt">※エントリーが必要なキャンペーンです。<span class="txt-nl"><a data-ratid="campaign_pay-ubereats_first_entry_button" data-ratevent="click" data-ratparam="all" href="#first_entry_button" class="js-scroll">エントリーはこちら</a></span></p>
      <% } %>
      <div class="<%= namespace %>-Layout_Bottom-fixed-inner">
        <a href="<%= sitepath %>guide/application/?lid-r=campaign_pay-ubereats_f_guide_application" class="c-Btn_Primary <%= namespace %>-Layout_Bottom-fixed-btn"><span class="<%= namespace %>-Layout_Bottom-fixed-btn-txt"><span class="Bottom_txt-style">新規／乗り換え（MNP）</span><span class="fixed-btn-Utility_Img-pc">お申し込み</span></span></a>
        <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_pay-ubereats_f_ms&mno_migration=1" class="c-Btn_Secondly <%= namespace %>-Layout_Bottom-fixed-btn" data-ratid="campaign_pay-ubereats_ms1" data-ratevent="click" data-ratparam="all">
          <span class="<%= namespace %>-Layout_Bottom-fixed-btn-txt">
            <span class="Bottom_txt-style">
              <span class="fixed-btn-Utility_Img-pc">スーパーホーダイ、組み合わせプランからの</span>
              <span class="fixed-btn-Utility_Img-sp"><span class="Bottom_txt-style">以前の楽天モバイルからの</span></span>
            </span><br>
              <span class="Bottom_plan_txt-style">プラン変更（移行）<span class="fixed-btn-Utility_Img-pc">お申し込み</span></span></span></a>
      </div>
      <p class="<%= namespace %>-Layout_Bottom-fixed-txt">※お申し込み後のエントリーは特典付与対象外となります。</p>
    </div>

    <% if (information.campaignState == 'finish') { %>
    <footer class="g-Footer <%= namespace %>-Layout_Footer Fin">
    <% } else { %>
      <!-- else -->
    <footer class="g-Footer <%= namespace %>-Layout_Footer">
    <% } %>
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
  <script>
    (function($){
        const trigger = document.getElementById('js-trigger');
        const fixedBtn = document.getElementById('js-fixed-btn');
        function fixedBottomBtn() {
            let scrollY = window.pageYOffset;
            const triggerRect = trigger.getBoundingClientRect();
            const triggerY = scrollY + triggerRect.top;

            if ( scrollY + window.innerHeight > triggerY ) {
                fixedBtn.setAttribute('aria-expanded', 'true');
            } else {
                fixedBtn.setAttribute('aria-expanded', 'false');
            }
        }
        if( fixedBtn && trigger ) {
            window.addEventListener('scroll', fixedBottomBtn);
        }
    })();
  </script>
  <script>
    (function($){
        $(function(){
            $('.accordion5_opan').on('click', function(){
              $('#accordion-5').attr('aria-expanded', 'true');
              $('#accordion-content-5').attr('aria-hidden', 'false');
              $('#accordion-content-5').slideDown(200);
            });
        });
    })(jQuery);
  </script>
  <!-- ReX UX Survey: Config -->
  <script>
    window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
  </script>

  <!-- ReX UX Survey: Script -->
  <script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>

<!-- ReX Campaign Entry Button: Configuration -->
<script>
  var rexButtons = [{"code":"/rmobile/payubereats/220825","theme":"red","wide":false,"showCelebration":false,"isseniored":true,"ids":["rex-ceb-01","rex-ceb-02","rex-ceb-03","rex-ceb-04"]}]
</script>

<!-- ReX Campaign Entry Button: Script -->
<script src="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/4.0.0/static/js/main.js" defer></script>
</body>
</html>
