<% const pagetitle = "重要事項・料金表・利用規約" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '楽天モバイルの「重要事項・料金表・利用規約」をご案内します',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/terms/terms.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>
<div class="l-System">

<%- include('/include/_header') %>

<%- include('/include/_breadcrumbs', {
  type: 'head',
  pagetitle,
}) %>

<div class="l-System_Container">
  <div class="terms-Layout">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

    <h2 class="c-Heading_Lv2  u-Adjust_Mt-40">楽天モバイル全般</h2>
    <ul class="u-Adjust_Mt-32 terms-Layout_Pdf-list">
      <li><a href="<%= sitepath %>terms/pdf/rakuten_mobile_important_explanation.pdf?20240502" target="_blank" class="c-Link_Txt-inline">Rakuten最強プラン 重要事項説明書<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/rakuten_mobile_important_explanation_data-type.pdf?20240301" target="_blank" class="c-Link_Txt-inline">Rakuten最強プラン（データタイプ） 重要事項説明書<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/apple_watch_family_important_explanation.pdf?20240301" target="_blank" class="c-Link_Txt-inline">Apple Watch ファミリー共有 重要事項説明書<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/rakuten_mobile_service_contract_clause.pdf?20231001" target="_blank" class="c-Link_Txt-inline">楽天モバイル通信サービス契約約款<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/rakuten_mobile_service_contract_clause_5g.pdf?20231001" target="_blank" class="c-Link_Txt-inline">楽天モバイル通信サービス（5G）契約約款<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/rakuten_mobile_voice_sim_pricelist.pdf?20240319" target="_blank" class="c-Link_Txt-inline">楽天モバイル料金表<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/apple_watch_family_pricelist.pdf?20240319" target="_blank" class="c-Link_Txt-inline">Apple Watch ファミリー共有 料金表<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/rakuten_mobile_act_of_specified_commercial_transactions.pdf?240111" target="_blank" class="c-Link_Txt-inline">楽天モバイル 特定商取引法について<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/rakuten_mobile_career_settlement.pdf?20210909" target="_blank" class="c-Link_Txt-inline">楽天モバイルキャリア決済サービス利用規約<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/installment-sales-contract-agreement.pdf" target="_blank" class="c-Link_Txt-inline">楽天モバイル 割賦販売契約約款<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/rakuten_turbo_important_explanation.pdf?20240221" target="_blank" class="c-Link_Txt-inline">Rakuten Turbo重要事項説明書<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/rakuten_turbo_contract_clause.pdf?230126" target="_blank" class="c-Link_Txt-inline">Rakuten Turbo契約約款<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/rakuten_turbo_pricelist.pdf?240401" target="_blank" class="c-Link_Txt-inline">Rakuten Turbo料金表<span class="c-Icon_Pdf-l"></span></a></li>
    </ul>

    <h2 class="c-Heading_Lv2  u-Adjust_Mt-40">オプションサービス利用規約</h2>

    <ul class="u-Adjust_Mt-32 terms-Layout_Pdf-list">
      <li><a href="<%= sitepath %>terms/pdf/rakuten_mobile_ifilter.pdf?20230601" target="_blank" class="c-Link_Txt-inline">あんしんコントロール by i-フィルター利用規約<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/rakuten_mobile_applecare_services.pdf" target="_blank" class="c-Link_Txt-inline">
      故障紛失保証 with AppleCare Services会員規約<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/rakuten_mobile_applecare_services_icloud.pdf?20240221" target="_blank" class="c-Link_Txt-inline">故障紛失保証 with AppleCare Services & iCloud+会員規約<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/rakuten_mobile_applewatch_care_services.pdf" target="_blank" class="c-Link_Txt-inline">あんしん保証with AppleCare Services for Apple Watch会員規約<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/rakuten_mobile_replacement_warranty.pdf?210802" target="_blank" class="c-Link_Txt-inline">スマホ交換保証プラス利用規約<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/rakuten_mobile_replacement_warranty_sim.pdf?221122" target="_blank" class="c-Link_Txt-inline">持ち込みスマホあんしん保証利用規約<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/rakuten_mobile_number_share.pdf" target="_blank" class="c-Link_Txt-inline">電話番号シェアサービス会員規約<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/rakuten_mobile_remote_support_for_device_operation.pdf?20230601" target="_blank" class="c-Link_Txt-inline">スマホ操作遠隔サポート利用規約<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/rakuten_mobile_mcafee_security.pdf?20210329" target="_blank" class="c-Link_Txt-inline">マカフィー® モバイル セキュリティ Android版 利用規約<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/norton-mobile-security.pdf?20230601" target="_blank" class="c-Link_Txt-inline">ノートン™ モバイル セキュリティ利用規約<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/rakuten_mobile_econnect_wifi.pdf?20231002" target="_blank" class="c-Link_Txt-inline">楽天モバイルWiFi by エコネクト利用規約<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/rakuten_link.pdf?20231225" target="_blank" class="c-Link_Txt-inline">Rakuten Link コミュニケーションサービス利用規約<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/tradein_service.pdf?231004" class="c-Link_Txt-inline" target="_blank">スマホ下取りサービス利用規約<span class="c-Link_Txt-inline-icon c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/upgrade-program.pdf?20230831" target="_blank" class="c-Link_Txt-inline">楽天モバイル買い替え超トクプログラム利用規約<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/rakuten_casa.pdf" target="_blank" class="c-Link_Txt-inline">Rakuten Casa 設置規約（個人のお客様）<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/rakuten_casa_for_business.pdf?221006" target="_blank" class="c-Link_Txt-inline">Rakuten Casa 設置規約（法人のお客様）<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/rakuten_casa_important_explanation.pdf?20230324" target="_blank" class="c-Link_Txt-inline">Rakuten Casa 重要事項説明書（個人のお客様）<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/visit-survey.pdf" target="_blank" class="c-Link_Txt-inline">楽天モバイル訪問調査 利用規約<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/shop-support-for-device-operation.pdf" target="_blank" class="c-Link_Txt-inline">あんしん操作サポート利用規約<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/rakumail.pdf?20230601" target="_blank" class="c-Link_Txt-inline">楽メール利用規約<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/rakumail-portability.pdf?20230601" target="_blank" class="c-Link_Txt-inline">楽メール持ち運び利用規約<span class="c-Icon_Pdf-l"></span></a></li>
      <li><a href="<%= sitepath %>terms/pdf/rakuten_mobile_video_streaming.pdf" target="_blank" class="c-Link_Txt-inline">配信動画コンテンツ for 楽天モバイル利用規約<span class="c-Icon_Pdf-l"></span></a></li>
    </ul>

    <h2 class="c-Heading_Lv2  u-Adjust_Mt-40">アプリケーション利用規約</h2>
    <ul class="u-Adjust_Mt-32 terms-Layout_Pdf-list">
      <li id="ecare"><a href="<%= sitepath %>terms/pdf/my_rakuten_mobile_app.pdf?20230601" target="_blank" class="c-Link_Txt-inline">my 楽天モバイルアプリ利用規約<span class="c-Icon_Pdf-l"></span></a></li>
    </ul>

    <h2 class="c-Heading_Lv2  u-Adjust_Mt-40">過去の重要事項</h2>
    <p class="u-Adjust_Mt-32"><a href="<%= sitepath %>terms/past/important_explanation/" class="c-Link_Txt-inline">過去の重要事項説明書<span class="c-Icon_Chevron-right"></span></a></p>

  </div>
</div>

<footer class="g-Footer">

  <div class="l-System_Container">
    <%- include('/include/_breadcrumbs', {
      type: 'foot',
      pagetitle,
    }) %>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
