<% const pagetitle = "ruum会員様限定！通常のお申し込み特典に加えさらに1,000円相当の楽天ポイントプレゼント" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "daitokentaku" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: 'ruum会員様限定！エントリー＆Rakuten UN-LIMIT VIのお申し込みで通常のお申し込み特典に加えさらに1,000円相当の楽天ポイントプレゼント',
  keywords: '',
  noindex: true,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/daitokentaku/daitokentaku.css?20240424">
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<script defer="defer" src="https://r.r10s.jp/com/js/c/common/entry_button/1.1/entry_button-1.1.0.min.js"></script>
<script>
function entryset(){
  const entset1 = document.getElementsByClassName('rcEntryButton-button')[0];
  entset1.setAttribute('onclick', 'entbtn1()');
  const entset2 = document.getElementsByClassName('rcEntryButton-button')[1];
  entset2.setAttribute('onclick', 'entbtn2()');
}
setInterval(entryset, 10);
</script>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout-Label">
      <ul class="c-Label_List <%= namespace %>-Layout-Label_List">
        <li class="c-Label_Normal">対象者限定</li>
        <li class="c-Label_Normal">エントリー必要</li>
        <li class="c-Label_Normal">全製品対象</li>
        <li class="c-Label_Normal">プランのみ申込可</li>
        <li><span class="<%= namespace %>-Layout-Label_point">ポイント：付与日を含めて6カ月の期間限定ポイント</span></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Hero_Return">
      <div class="<%= namespace %>-Hero_Container">
        <div class="<%= namespace %>-Hero_Main">
          <h1><img src="<%= sitepath %>assets/img/campaign/daitokentaku/img-heading-pc.png?220201" alt="毎月開催 楽天銀行口座をお持ちのお客様へ！ エントリー後、楽天モバイルお申し込み（Web限定）でもれなく2,000ポイントプレゼント！" class="<%= namespace %>-Utility_Img-pc"><img src="<%= sitepath %>assets/img/campaign/daitokentaku/img-heading-sp.png?220201" alt="毎月開催 楽天銀行口座をお持ちのお客様へ！ エントリー後、楽天モバイルお申し込み（Web限定）でもれなく2,000ポイントプレゼント！" class="<%= namespace %>-Utility_Img-sp"></h1>
        </div>
      </div>
    </div>
    <div class="<%= namespace %>-Layout_Body">
          <div class="l-System_Container">
          <ul class="c-Txt_Cap">
            <li><span>※</span>特典はキャンペーン期間中おひとり様1度のみとなります。</li>
            <li><span>※</span>付与するポイントは期間限定ポイントとなり、条件がございます。詳しくは<a href="#campaign-rule" class="js-scroll">キャンペーン詳細</a>のご確認をお願いします。</li>
            <li><span>※</span>すでに楽天モバイルをご契約されている方でも、2回線目のプラン契約時に本キャンペーンの条件を満たせば特典対象となります。</li>
          </ul>
        </div>

        <div class="<%= namespace %>-Layout_Entry-Area u-Adjust_Mt-40">
          <p class="c-Txt_Emp-02 <%= namespace %>-Utility_Mt-unique">エントリー期間：2022年2月1日（月）9:00 ～ 2022年5月9日（月）23:59</p>
          <div data-ratId="campaign_daitokentaku_entrybutton1" data-ratEvent="click" data-ratParam="all" id="entrybtn1"></div>
          <div
            class="rcEntryButton campaign-Rexoverwrite"
            style="margin-bottom:15px"
          settings='{
            "campaignCode": "/rmobile/daitokentaku/220201",
            "withIcon": false
        }'
          ></div>
          <p class="c-Txt_Cap u-Adjust_Align-center">※ポイント付与の対象はruum会員様となります。</p>
          <p class="c-Txt_Emp-02 c-Txt_Cap u-Adjust_Align-center">※キャンペーン期間内であっても、エントリー前のお申し込みはポイント付与の対象外となります。<br>
            お申し込み前に必ずエントリーをお願いします。</p>
        </div>

        <div class="l-System_Container">
          <div class="u-Adjust_Mt-24">
            <div class="c-Accordion">
              <button id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーン期間</button>
              <div id="accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-5" aria-hidden="true">
                <div class="<%= namespace %>-Layout-bank">
                  <div class="<%= namespace %>-Layout-bank_Period">
                    <dl>
                      <dt>エントリー期間</dt>
                      <dd>2022年2月1日（月）9:00 ～ 2022年5月9日（月）23:59</dd>
                    </dl>
                    <dl>
                      <dt>お申し込み期間</dt>
                      <dd>Web：2022年2月1日（月）9:00 ～ 2022年5月9日（月）23:59<br>
                        ショップ：2022年2月1日（月）開店 ～ 2022年5月9日（月）閉店</dd>
                    </dl>
                    <dl>
                      <dt>プラン利用開始期限</dt>
                      <dd>プランのお申し込みの翌月末日23:59まで</dd>
                    </dl>
                    <dl>
                      <dt>Rakuten Link利用開始期限</dt>
                      <dd>プランのお申し込みの翌月末日23:59まで</dd>
                    </dl>
                  </div>
                  <p class="u-Adjust_Align-left c-Txt_Cap u-Adjust_Mt-8">※2022年5月9日（月）23:59までにエントリーおよびお申し込みの完了をお願いします。</p>
                </div>
              </div>
            </div>
          </div>

          <p class="u-Adjust_Mt-24"><a href="#campaign-rule" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルール</a></p>

          <div class="l-System_Container u-Adjust_Mt-64">
            <%- include('/include/_bnr-cpn-recommend-v2.ejs') %>
          </div>

          <h2 class="c-Heading_Lv2 u-Adjust_Mt-64 u-Adjust_Align-center">キャンペーン内容</h2>
          <p class="u-Adjust_Mt-24">エントリーしてRakuten UN-LIMIT Ⅵにお申し込みいただくと、ruum会員様限定で、通常のキャンペーン特典に加え、さらに1,000円相当の楽天ポイントをプレゼントいたします。</p>

          <h3 class="c-Heading_Lv2 u-Adjust_Mt-72 u-Adjust_Align-center">1,000ポイントGETまでの4ステップ</h3>
          <div class="u-Adjust_Mt-8">
            <ul class="<%= namespace %>-Layout_4step">
              <li>
                <div class="<%= namespace %>-Layout_4step-reversecol-sp">
                  <div>
                    <img src="<%= sitepath %>assets/img/campaign/daitokentaku/img_step1.png" alt="">
                  </div>
                  <div>
                    <p class="c-Txt_Emp-02 c-Txt_Normal-m u-Adjust_Mt-8">STEP1</p>
                    <p class="<%= namespace %>-Layout_4step-linktext"><a href="#step_1" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>このページからエントリー</a></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="<%= namespace %>-Layout_4step-reversecol-sp">
                  <div>
                    <img src="<%= sitepath %>assets/img/campaign/daitokentaku/img_step2.png" alt="">
                  </div>
                  <div>
                    <p class="c-Txt_Emp-02 c-Txt_Normal-m u-Adjust_Mt-8">STEP2</p>
                    <p class="<%= namespace %>-Layout_4step-linktext"><a href="#step_2" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>楽天モバイルに申し込む</a></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="<%= namespace %>-Layout_4step-reversecol-sp">
                  <div>
                    <img src="<%= sitepath %>assets/img/campaign/daitokentaku/img_step3.png" alt="">
                  </div>
                  <div>
                    <p class="c-Txt_Emp-02 c-Txt_Normal-m u-Adjust_Mt-8">STEP3</p>
                    <p class="u-Adjust_Align-left"><a href="#step_3" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>期限までにプラン<br>利用を開始する</a></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="<%= namespace %>-Layout_4step-reversecol-sp">
                  <div>
                    <img src="<%= sitepath %>assets/img/campaign/daitokentaku/img_step4.png" alt="">
                  </div>
                  <div>
                    <p class="c-Txt_Emp-02 c-Txt_Normal-m u-Adjust_Mt-8">STEP4</p>
                    <p class="<%= namespace %>-Layout_4step-linktext"><a href="#step_4" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>Rakuten Link<br class="<%= namespace %>-Utility_Br-pc">アプリを使う</a></p>
                  </div>
                </div>
              </li>
            </ul>
            <div class="<%= namespace %>-Layout_Pointget">
              <div>
                <picture>
                  <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/daitokentaku/img-poin-sp.png">
                  <source srcset="<%= sitepath %>assets/img/campaign/daitokentaku/img-poin-pc.png">
                  <img src="<%= sitepath %>assets/img/campaign/daitokentaku/img-poin-pc.png" alt="">
                </picture>
              </div>
            </div>
            <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-center">※ 付与するポイントは期間限定ポイントになります。</p>
          </div>


          <h2 class="c-Heading_Lv2 u-Adjust_Mt-32 u-Adjust_Align-center">楽天モバイルの料金プラン「Rakuten UN-LIMIT VI」</h2>

          <div class="u-Adjust_Mt-24">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/daitokentaku/daitokentaku-un-limit-v-sp.png?220201">
              <source srcset="<%= sitepath %>assets/img/campaign/daitokentaku/daitokentaku-un-limit-v-pc.png?220201">
                <img src="<%= sitepath %>assets/img/campaign/daitokentaku/daitokentaku-un-limit-v-pc.png?220201" width="1032" alt="Rakuten UN-LIMIT VI すべての人に最適なワンプラン データ1GBまで0円/月*1 *1回線目のみ どれだけ使っても無制限*2 楽天回線エリア外は最大1Mbpsで使い放題*2 2,980円/月（税込3,278円）※通話料等は別費用 Rakuten Linkアプリ利用で 国内通話かけ放題*3">
            </picture>
          </div>
          <p class="c-Txt_Cap u-Adjust_Mt-8">※製品代、オプション料、通話料等は別費用。2回線目以降は0GB～3GBまで980円（税込1,078円）。※条件あり。</p>
          <p class="c-Txt_Cap">※プラン料金最大2,980円/月（税込3,278円）、お1人様1回線1度のみ3カ月無料。製品代、オプション料、通話料等などは別費用。「プラン料金1年無料」適応者は対象外。</p>
          <p class="c-Txt_Cap">※ データ無制限は、楽天基地局に接続時。公平にサービスを提供するため通信速度の制御を行う場合があります。パートナー回線エリアは、国内は5GB超過後は最大1Mbps、海外は2GB超過後は最大128kbpsで使い放題。最大1Mbpsで使用時、動画再生・アプリダウンロード等では、時間がかかる場合あり。通信速度はベストエフォート（規格上の最大速度）であり、実効速度は通信環境・状況により変動します。</p>

          <p class="u-Adjust_Mt-8 u-Adjust_Align-right"><a href="<%= sitepath %>fee/un-limit/?l-id=_campaign_daitokentaku_fee_un-limit_2" class="c-Link_Txt-inline">詳細はこちら<span class="c-Icon_Chevron-right"></span></a></p>

          <h3 class="u-Adjust_Mt-32 u-Adjust_Align-center">さらに！スマホと一緒に楽天ひかりを申し込むとおトク</h3>

          <div class="u-Adjust_Mt-24">
            <a href="<%= sitepath %>hikari/?scid=we_rmb_hikari_channel_daitokentaku">
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/bnr/hikari-328-185.png?220201">
                <source srcset="<%= sitepath %>assets/img/bnr/hikari-1032-160.png?220201">
                  <img src="<%= sitepath %>assets/img/bnr/hikari-1032-160.png?220201" width="1032" alt="楽天ひかりはSPU対象 モバイルとセットで使えばおうちのネットがタダ!! スマホのプラン料金3カ月無料※1＋楽天ひかりの月額基本料1年無料※2※条件あり">
              </picture>
            </a>
          </div>
          <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天ひかり月額基本料が開通月から最大12カ月間無料。Rakuten UN-LIMIT VIをすでに開通または期限内にお申し込みが対象。契約解除料10,450円あり。 ※住居設備の都合、工事時間帯などで別途工事費が発生する場合あり。 ※お申し込み当月に開通した場合は対象外。その他条件・詳細は<a href="<%= sitepath %>hikari/?scid=we_rmb_hikari_channel_daitokentaku" class="c-Link_Txt">こちら</a></p>

        </div>

        <div class="l-System_Container">
          <h2 class="c-Heading_Lv2 u-Adjust_Mt-64 u-Adjust_Align-center" id="campaign-flow">キャンペーンの流れ</h2>
          <ul class="<%= namespace %>-Flow_List">
            <li id="step_1">
              <h3 class="c-Heading_Lv3 u-Adjust_Mt-8 u-Adjust_Mb-16"><span class="c-Txt_Emp-02 u-Adjust_Mr-16">STEP1</span>このページからエントリー</h3>
              <div class="l-Media_Grid">
                <div class="l-Media_Image">
                  <img src="<%= sitepath %>assets/img/campaign/daitokentaku/img-flow-01.png?210802" width="240" alt="">
                </div>
                <div>
                  <p>エントリー期間：2022年2月1日（月）9:00 ～ 2022年5月9日（月）23:59</p>

                  <div data-ratId="campaign_daitokentaku_entrybutton2" data-ratEvent="click" data-ratParam="all" id="entrybtn2"></div>
                  <div
                    class="rcEntryButton campaign-Rexoverwrite"
                    settings='{
                      "campaignCode": "/rmobile/daitokentaku/220201",
                      "withIcon": false
                  }'
                  ></div>
                  <p class="c-Txt_Cap u-Adjust_Mt-16">※ポイント付与の対象はruum会員様となります。</p>
                  <p class="c-Txt_Emp-02 c-Txt_Cap u-Adjust_Mt-8">※キャンペーン期間内であっても、エントリー前のお申し込みはポイント付与の対象外となります。<br>
                    お申し込み前に必ずエントリーをお願いします。</p>
                </div>
              </div>
            </li>
            <li id="step_2">
              <h3 class="c-Heading_Lv3 u-Adjust_Mt-8"><span class="c-Txt_Emp-02 u-Adjust_Mr-16">STEP2</span>オンラインで楽天モバイルに申し込む</h3>
              <div class="l-Media_Grid u-Adjust_Mt-24">
                <div class="l-Media_Image">
                  <img src="<%= sitepath %>assets/img/campaign/daitokentaku/img-flow-02.png?210802" width="240" alt="">
                </div>
                <div>
                  <div class="u-Adjust_Mt-16">
                    <p><span class="c-Txt_Emp-01">お申し込み期間</span></p>
                    <p class="u-Adjust_Mt-8">Web：2022年2月1日（月）9:00 ～ 2022年5月9日（月）23:59</p>
                    <p>ショップ：2022年2月1日（月）開店 ～ 2022年5月9日（月）閉店</p>
                  </div>
                  <p class="c-Txt_Emp-02 u-Adjust_Mt-24">本キャンペーンは他のキャンペーンと併用可能です。</p>
                  <p class="c-Txt_Cap">※他のキャンペーンの適用条件は各ページにてご確認をお願いします。</p>
                  <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>campaign/?l-id=campaign_daitokentaku_campaign" class="c-Btn_Primary-large">キャンペーン一覧から申し込む</a></p>
                </div>
              </div>
            </li>
            <li id="step_3">
              <h3 class="c-Heading_Lv3 u-Adjust_Mt-8"><span class="c-Txt_Emp-02 u-Adjust_Mr-16">STEP3</span>期限までにプラン利用を開始する</h3>
              <div class="l-Media_Grid u-Adjust_Mt-24">
                <div class="l-Media_Image">
                  <img src="<%= sitepath %>assets/img/campaign/daitokentaku/img-flow-04.png?210802" width="240" alt="">
                </div>
                <div>
                  <p class="c-Txt_Normal">楽天モバイルの開通手続き（アクティベーション）と製品の初期設定を行い、プラン（Rakuten UN-LIMIT VI）のご利用を開始してください。</p>
                  <p class="c-Txt_Normal u-Adjust_Mt-16"><span class="c-Txt_Emp-01">プラン利用開始期限：</span>プランのお申し込みの翌月末日23:59まで</p>
                </div>
              </div>

              <h4 class="c-Heading_Lv3 u-Adjust_Mt-40">楽天モバイルの開通手続き（アクティベーション）方法</h4>
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="<%= namespace %>-Flow_List-step-unlimit u-Adjust_Mt-24">
                  <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-left">
                    <div class="<%= namespace %>-Flow_List-detail">
                      <ul class="c-List_Text-disc-emp">
                        <li class="c-Txt_Emp-01">SIMカードでお申し込みの場合</li>
                      </ul>
                      <p class="c-Txt_Normal u-Adjust_Mt-24"><a
                          href="<%= sitepath %>assets/pdf/product/STARTGUIDE-SIM-CARD.pdf?240321" class="c-Link_Txt-icon-front">SIMカード版スタートガイド<span class="c-Icon_Pdf-l"></span></a>に従って開通（アクティベート）を行っていただきますようお願いいたします。<br>
                          nanoSIMは、カード台から切り出した状態のmicroSIMからさらに切り出しが必要です。</p>
                      <div class="u-Adjust_Mt-32">
                        <div class="l-Media_Image <%= namespace %>-Flow_List-detail-image-wrapper">
                          <img class="<%= namespace %>-Flow_List-detail-image"
                            src="<%= sitepath %>assets/img/campaign/daitokentaku/img-point-11.png?210802" width="240" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-right">
                    <div class="<%= namespace %>-Flow_List-detail">
                      <ul class="c-List_Text-disc-emp">
                        <li class="c-Txt_Emp-01">eSIMでお申し込みの場合 </li>
                      </ul>
                      <p class="c-Txt_Normal u-Adjust_Mt-24">eSIMはデジタルSIMなので物理的なカードはありません。<br>
                        開通（アクティベート）のためのQRコードがございますので<a
                          href="<%= sitepath %>assets/pdf/product/STARTGUIDE-eSIM.pdf?240216" class="c-Link_Txt-icon-front">eSIM版 START
                          GUIDE<span class="c-Icon_Pdf-l"></span></a>に従って開通を行っていただきますようお願いいたします。</p>
                      <div class="u-Adjust_Mt-32">
                        <div class="l-Media_Image <%= namespace %>-Flow_List-detail-image-wrapper">
                          <img class="<%= namespace %>-Flow_List-detail-image"
                            src="<%= sitepath %>assets/img/campaign/daitokentaku/img-point-12.png" width="336" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="<%= namespace %>-Flow_List-in-Border_b">
                <p class="u-Adjust_Align-center"><a href="<%= sitepath %>guide/setting/?l-id=_campaign_daitokentaku_guide_setting" class="c-Btn_Regular <%= namespace %>-Layout_Body-content-center <%= namespace %>-Flow_List-button u-Adjust_Mt-24"><span>各種製品の初期設定方法を見る</span></a></p>
              </div>
            </li>
            <li id="step_4">
              <h3 class="c-Heading_Lv3 u-Adjust_Mt-8 u-Adjust_Mb-16"><span class="c-Txt_Emp-02 u-Adjust_Mr-16">STEP4</span>Rakuten Linkアプリを使う</h3>
              <div class="l-Media_Grid">
                <div class="l-Media_Image">
                  <img src="<%= sitepath %>assets/img/campaign/daitokentaku/img-flow-06.png?210802" width="240" alt="">
                </div>
                <div>
                  <p>Rakuten Linkご利用の達成条件について</p>
                  <p class="u-Adjust_Mt-8">本キャンペーンの達成条件「Rakuten Linkのご利用」とは、プラン（Rakuten UN-LIMIT VI）のお申し込みの<span class="c-Txt_Emp-02">翌月末日23:59まで</span>に、<span class="c-Txt_Emp-02">「Rakuten Link」を用いた発信で10秒以上の通話</span>が完了していることを指します。</p>
                </div>
              </div>

              <div class="c-Theme-Light u-Adjust_Mt-24">
                <p class="c-Txt_Emp-01">Rakuten Linkアプリとは？</p>
                <p class="u-Adjust_Mt-8">無料通話、グループメッセージに、ニュースの閲覧やお支払い機能が加わった、楽天モバイルオリジナルの次世代メッセージサービスアプリです。</p>
                <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>service/rakuten-link/?l-id=_campaign_daitokentaku_service_rakuten-link" class="c-Btn_Regular"><span>Rakuten Linkの詳細を見る</span></a></p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※Rakuten Link対応機種は<a href="<%= sitepath %>faq/detail/00001427/?l-id=_campaign_daitokentaku_faq_detail_00001427" class="c-Link_Txt">こちら</a>からご確認ください。</p>
            </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3 u-Adjust_Mt-8 u-Adjust_Mb-16 c-Txt_Emp-02">楽天ポイント1,000ポイントGET！</h3>
              <div class="l-Media_Grid">
                <div class="l-Media_Image">
                  <img src="<%= sitepath %>assets/img/campaign/daitokentaku/img-flow-08.png?210901" width="240" alt="">
                </div>
                <div>
                  <p>1,000ポイントは、「Rakuten UN-LIMIT VI」のプラン利用開始および「Rakuten Link」の利用が
                    確認された月の翌々月末日ごろに付与されます。</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※併用されたキャンペーンのポイントについては、各キャンペーンページにてご確認ください。</p>
                </div>
              </div>
            </li>
          </ul>
      </div>

      <div class="l-System_Container">
        <div class="u-Adjust_Mt-64">
          <div class="<%= namespace %>-Layout_Rule" id="campaign-rule">
            <h2>ruum会員様限定！通常のお申し込み特典に加えさらに1,000円相当の楽天ポイントプレゼント ルール</h2>
            <div class="u-Adjust_Mt-24">
              <dl class="c-Dl_Origin">
                <div>
                  <dt>キャンペーンコード</dt>
                  <dd>
                    <p>1346</p>
                    <ul class="c-Txt_Cap u-Adjust_Mt-8">
                      <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                    </ul>
                  </dd>
                </div>
                <div>
                    <dt>キャンペーン期間</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">エントリー期間：</p>
                      <p>2022年2月1日（火）9:00 ～ 2022年5月9日（月）23:59</p>
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">楽天モバイルお申し込み期間：</p>
                      <p>Web　2022年2月1日（火）9:00 ～ 2022年5月9日（月）23:59<br>
                        店舗（楽天モバイルショップ）　2022年2月1日（火）開店 ～ 2022年5月9日（月）閉店</p>
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">プラン利用開始期限：</p>
                      <p>プランのお申し込みの翌月末日23:59まで</p>
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">Rakuten Link利用期限：</p>
                      <p>プランのお申し込みの翌月末日23:59まで</p>
                    </dd>
                </div>
                <div>
                  <dt>キャンペーン条件</dt>
                  <dd>
                    <p class="c-Txt_Emp-02">以下①、②、③、④の条件をすべて満たした楽天会員の方</p>
                    <p class="u-Adjust_Mt-8">①キャンペーンへのエントリー<br>
                      エントリー期間内に本キャンペーンページでエントリー</p>

                    <p class="u-Adjust_Mt-8">②「Rakuten UN-LIMIT VI」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（1）新規お申し込み</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（2）他社からの乗り換え（MNP）でお申し込み</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                      <li><span>※</span>エントリー前のお申し込みはポイント付与の対象になりません</li>
                    </ul>
                    <p class="u-Adjust_Mt-8">③「Rakuten UN-LIMIT VI」プラン利用開始</p>
                    <p class="u-Adjust_Mt-8">エントリーの翌月末日の23:59まで</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li id="campaign-rule-plan">【プラン利用開始日とは】<br><br>
                        <span class="<%= namespace %>-Table_Rule-bold">新規お申し込みの場合　※（1）（2）のいずれか早い方がプラン利用開始日となります</span><br>
                        （1）当社に配送完了データが通知された日<br>
                        （2）プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br><br>
                        <span class="<%= namespace %>-Table_Rule-bold">他社から乗り換え（MNP）の場合</span><br>
                        プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br><br>
                        <span class="<%= namespace %>-Table_Rule-bold">楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</span><br>
                        プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                    </ul>
                    <p class="u-Adjust_Mt-8">④「Rakuten Link」のご利用<br>「Rakuten UN-LIMIT VI」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                      <li><span class="c-Txt_Emp-02">※</span><span class="c-Txt_Emp-02">iPhone 13Pro Max、iPhone 13 Pro、iPhone13、iPhone13miniいずれかをご購入の場合、製品到着または店舗で購入した日の翌月末日23:59までに【3】【4】を対応でキャンペーン適用となります</span></li>
                      <li><span class="c-Txt_Emp-02">※</span><span class="c-Txt_Emp-02">製品到着とは、当社に配送完了データが通知された日を指します</span></li>
                    </ul>
                    <p class="u-Adjust_Mt-16">【Rakuten Linkアプリご利用方法】<br>下記URLの「Rakuten Linkのご利用方法」をご確認ください<br><a target="_blank" href="<%= sitepath %>guide/rakuten-link/">https://network.mobile.rakuten.co.jp/guide/rakuten-link/</a><br>- 通話方法：『電話をかける』の項目をご確認ください</p>
                    <p class="u-Adjust_Mt-16">【Rakuten Link利用履歴の確認方法】<br>下記URLの「キャンペーンが適用されているか、いつポイントが付与されるか知りたい」をご確認ください<br><a href="https://network.mobile.rakuten.co.jp/faq/detail/00001962/">https://network.mobile.rakuten.co.jp/faq/detail/00001962/</a><br>-「&#9314; 適用条件の達成状況を確認する」の項目をご確認ください</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>電話dの発信時、（0570）（0180）などの他社接続サービス、♯ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</li>
                      <li><span class="c-Txt_Emp-02">※</span><span class="c-Txt_Emp-02">楽天回線対応のモバイルルーターで使用されるためにお申込みいただいた場合は、「Rakuten Link」のご利用は必要ございません</span></li>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン特典 （楽天ポイント）</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">■ 特典内容</p>
                    <p>1,000ポイントプレゼント</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■ ポイント付与日</p>
                    <p>「Rakuten UN-LIMIT VI」のプラン利用開始および「Rakuten Link」の利用が確認された月の翌々月末日ごろに付与</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>例)2月にすべての条件を達成した場合には、その翌々月である4月末日頃にポイント付与となります</li>
                      <li><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</li>
                      <li><span>※</span>権利の譲渡はできません</li>
                    </ul>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■ ポイント有効期間</p>
                    <p>ポイント付与日を含めて6カ月</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
                      <li><span>※</span>有効期限までにポイントをご利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>特典適用対象外</dt>
                  <dd>
                    <p>以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
                    <ul class="c-List_Text-disc u-Adjust_Mt-16">
                      <li>「Rakuten UN-LIMIT VI」お申し込み後に本キャンペーンにエントリーした場合</li>
                      <li>キャンペーン申込期間内にすでに同一名義で「Rakuten UN-LIMIT VI」を1回線以上ご契約いただいたことがある場合</li>
                      <li>当社の提供するサービスなどの料金のお支払いが、お支払期限までに行われなかった場合 ※未納・未払いが発生した場合</li>
                      <li>「【ruum会員様限定】新生活応援！キャンペーン」の適用回数が、おひとり様1契約1回を超える場合は対象外となります</li>
                      <li>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
                      <li>「Rakuten UN-LIMIT VI」のプラン利用開始がされなかった場合<br>-プラン利用開始の手続き方法につきましては、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/">こちら</a>のSIMカード版スタートガイドまたはeSIM版スタートガイドを参照ください</li>
                      <li>期限までに「Rakuten Link」を利用されなかった場合</li>
                      <li>ポイント付与までに楽天会員から退会している場合</li>
                      <li>当社または楽天グループ株式会社が定める規約などに違反した場合</li>
                      <li>そのほか、当社が会員として不適格であると判断した場合</li>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>注意事項</dt>
                  <dd>
                    <ul class="c-List_Text-disc">
                      <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                      <li>本キャンペーンの特典付与対象者は、同時期に行われている他のキャンペーンの対象から除外、または特典総額が景品表示法上の範囲内に制限される場合があります</li>
                      <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                      <li>記載の内容は2022年2月1日（火）時点の情報となります</li>
                    </ul>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>

        </div>
    </div>

    <!-- ReX UX Survey: Mounting point for embedded components -->
    <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>

    <footer class="g-Footer u-Adjust_Mt-64">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
  <script>
    function entbtn1() {
      document.getElementById("entrybtn1").click();
    };
    function entbtn2() {
      document.getElementById("entrybtn2").click();
    };
  </script>
  <!-- ReX UX Survey: Config -->
  <script>
  window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
  </script>
  <!-- ReX UX Survey: Script -->
  <script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>
</body>
</html>
