<% const pagetitle = "楽天モバイルキャリア決済 Google Playストアでの設定・ご利用方法" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"guide/payment/", label:"楽天モバイルでのお支払い方法"}, {path:"guide/payment/google/", label:"楽天モバイルキャリア決済"}] -%>

<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルキャリア決済のGoogle Playストアでの設定・ご利用方法をご案内します。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

    <div class="c-Infobox_Standing-info u-Adjust_Mt-24">
      <p class="c-Txt_Normal <%= nameSpace %>-Utility_Info">
        <span class="c-Icon_Sign-info-l <%= nameSpace %>-Utility_Info-icon"></span>
        キャリア決済を利用するには「my 楽天モバイル」のお支払い方法をクレジットカードまたはデビットカードに設定しておく必要があります。
      </p>
      <p class="u-Adjust_Mt-8">以下のご利用設定の前にお支払い方法の変更を行ってください。</p>
      <p class="c-Txt_Cap">※キャリア決済はAndroid製品でのみご利用可能です</p>
      <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/change/?l-id=guide_payment-google-google-setting_guide_payment-change" class="c-Link_Txt-inline">お支払い方法の確認・変更方法<span class="c-Icon_Chevron-right"></span></a></p>
      <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/card/" class="c-Link_Txt-inline">クレジットカード・デビットカードでのお支払い方法<span class="c-Icon_Chevron-right"></span></a></p>
    </div>

    <p class="c-Txt_Normal u-Adjust_Mt-24">
      キャリア決済の利用は、Google Playストアの設定のみでご利用いただけます。複数回線所有している場合は、回線ごとに設定が必要です。
    </p>
    <ul class="c-List_Cap u-Adjust_Align-left u-Adjust_Mt-16 c-Txt_Cap">
      <li><span>※</span>Google Playストアの設定以外に、「my 楽天モバイル」でご利用設定を「有効」にする必要があります。初期設定時は「有効」に設定されています。<br>
ご利用設定を「無効」にしている場合は、Google Playストアで本サービスをご利用いただくことはできないため、「my 楽天モバイル」にてご利用設定を「有効」にしてください。</li>
    </ul>
    <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/google/setting/#google-1" class="c-Link_Txt-inline">ご利用設定（有効／無効）の変更方法を見る<span class="c-Icon_Chevron-right"></span></a></p>
    <ul class="c-List_Cap u-Adjust_Align-left u-Adjust_Mt-16 c-Txt_Cap">
      <li><span>※</span>ご利用の機種によって、画面や一部の手順が異なる場合があります。</li>
    </ul>

    <h2 class="c-Txt_Normal-ll u-Adjust_Mt-40" id="google-1">お支払い設定・ご利用方法</h2>
    <div class="u-Adjust_Pb-24">
          <div class="c-Tab js-Tab u-Adjust_Mt-16">
        <ul class="c-Tab_Items" role="tablist">
          <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">
            既にGoogle Play ストアで購入したことがある場合</li>
          <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">
            はじめてGoogle Play ストアで購入する場合</li>
        </ul>
        <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
          <p class="u-Adjust_Mt-8 u-Adjust_Align-left">実際のコンテンツご購入時、前回利用したお支払い方法が選択されていますので、<span class="c-Txt_Emp-02">お支払い方法を「楽天モバイルのキャリア決済」に変更</span>してください。</p>
          <ul class="c-Flow u-Adjust_Mt-24">
            <li class="u-Adjust_Align-left">
              <h3 class="c-Heading_Lv4">1. コンテンツ購入画面の支払い方法をタップする</h3>
              <p class="u-Adjust_Mt-8">例）前回クレジットカードでお支払いをしていた場合</p>
              <div class="u-Adjust_Pt-16 u-Adjust_Align-center">
                <div class="l-Media_Image">
                  <img src="<%= sitepath %>assets/img/campaign/payment-google/img-flow-14.png" alt="" class="c-Img_Capture u-Adjust_Mt-0">
                </div>
              </div>
            </li>
            <li class="u-Adjust_Align-left">
              <h3 class="c-Heading_Lv4">2. お支払い方法を「楽天モバイルのキャリア決済」に変更する</h3>
              <p class="u-Adjust_Mt-8">楽天モバイルの電話番号をタップし、お支払い方法を「楽天モバイルのキャリア決済」に変更してください。<br>
    次回以降は、「楽天モバイルの決済を利用」が基本の決済方法として設定されます。</p>
          <div class="u-Adjust_Pt-16 u-Adjust_Align-center">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/campaign/payment-google/img-flow-15.png" alt="" class="c-Img_Capture u-Adjust_Mt-0">
            </div>
          </div>
            </li>
            <li class="u-Adjust_Align-left">
              <h3 class="c-Heading_Lv4">3. 楽天モバイルキャリア決済でコンテンツを購入する</h3>
              <p class="u-Adjust_Mt-8">お支払い方法が「楽天モバイルのキャリア決済」になっている（楽天モバイルの電話番号が表示されている）ことをご確認のうえ、ご購入手続きを完了してください。</p>
          <div class="u-Adjust_Pt-16 u-Adjust_Align-center">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/campaign/payment-google/img-flow-16.png" alt="" class="c-Img_Capture u-Adjust_Mt-0">
            </div>
          </div>
            </li>
          </ul>
          <p class="u-Adjust_Mt-8 u-Adjust_Align-left">以上で完了です。</p>

        </div>
        <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">

          <ul class="c-Flow">
  <li class="u-Adjust_Align-left">
    <h3 class="c-Heading_Lv4">1. スマートフォンで以下のリンクから Google Play ストアの「お支払い方法の追加」画面にアクセスする</h3>
    <p class="u-Adjust_Mt-8">
    <a href="https://play.app.goo.gl/ELvH" class="c-Link_Txt-inline" target="_blank">Google Play ストア お支払い方法の追加<span class="c-Icon_Chevron-right"></span></a>
  </p>
  </li>
  <li class="u-Adjust_Align-left">
    <h3 class="c-Heading_Lv4">2. 楽天モバイルキャリア決済を有効にする</h3>
    <p class="u-Adjust_Mt-8">「楽天モバイルのキャリア決済を有効にしますか？」の画面が表示されます。<br>
    利用規約をご確認のうえ、楽天モバイルキャリア決済を有効にしてください。</p>
<div class="u-Adjust_Pt-16 u-Adjust_Align-center">
  <div class="l-Media_Image">
    <img src="<%= sitepath %>assets/img/campaign/payment-google/img-flow-05.png" alt="" class="c-Img_Capture u-Adjust_Mt-0">
  </div>
</div>
  </li>
  <li class="u-Adjust_Align-left">
    <h3 class="c-Heading_Lv4">3. 「楽天モバイルのキャリア決済」を基本の決済方法に設定する</h3>
    <p class="u-Adjust_Mt-8">「お支払い方法」画面にお客様の電話番号が表示され、「楽天モバイルのキャリア決済を利用」が基本の決済方法として設定されます。</p>
    <p class="u-Adjust_Mt-8 c-Txt_Emp-02 c-Txt_Cap">※ キャリア決済の設定が完了すると、SMS（テキスト メッセージ）がお使いのスマートフォンに届く場合があります。<br>
    このメッセージは、Google Play アカウントのキャリア決済登録を完了するためのもので、自動的に生成、送信されます。お客様でご対応いただくことは特にございません。</p>
    <p class="u-Adjust_Mt-8 c-Txt_Emp-02 c-Txt_Cap">※ 楽天モバイルキャリア決済設定時に、SMS送信料3円（税込3.3円）のご請求が発生します。あらかじめご了承ください。</p>
<div class="u-Adjust_Pt-16 u-Adjust_Align-center">
  <div class="l-Media_Image">
    <img src="<%= sitepath %>assets/img/campaign/payment-google/img-flow-06.png" alt="" class="c-Img_Capture u-Adjust_Mt-0">
  </div>
</div>
  </li>
  <li class="u-Adjust_Align-left">
    <h3 class="c-Heading_Lv4">4. 楽天モバイルキャリア決済でコンテンツを購入する</h3>
          <p class="u-Adjust_Mt-8 u-Adjust_Align-left">実際のコンテンツご購入時、お支払い方法が「楽天モバイルのキャリア決済」になっている（楽天モバイルの電話番号が表示されている）ことをご確認のうえ、ご購入手続きを完了してください。</p>
    <div class="u-Adjust_Pt-16 u-Adjust_Align-center">
      <div class="l-Media_Image">
        <img src="<%= sitepath %>assets/img/campaign/payment-google/img-flow-16.png" alt="" class="c-Img_Capture u-Adjust_Mt-0">
      </div>
    </div>
      </li>
</ul>
<p class="u-Adjust_Mt-8 u-Adjust_Align-left">以上で完了です。</p>
        </div>
    </div>

    <div class="u-Adjust_Pt-40">
      <div><a href="<%= sitepath %>support/" class="c-Btn_Regular-semiauto"><span>お客様サポートトップにもどる</span></a></div>
      <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular-semiauto"><span>楽天モバイルトップへ</span></a></div>
    </div>
  </div>
  </div>
</div>


<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">
  <div class="g-Footer_Aside">
    <%- include('/include/footer/bnr/_bnr.ejs') %>
  </div>
    <div class="c-Breadcrumbs_Foot">
    <div class="l-System_Container">
      <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>
  </div>
  <%- include('/include/_footer') %>
</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
