<% const pagetitle = "Rakuten Mobile Referral Campaign! We’re giving all current & new subscribers a chance!" -%>
<% const directories = [{path:"campaign/", label:"Campaigns & Perks"}] -%>
<% const customroot = {path: rootpath, label:"Top"} -%>
<%_
  const namespace = "referral-en"
  const imgPath = `${sitepath}assets/img/campaign/referral/en/`
_%>
<%-
include('/_header', {
  pagetitle,
  directories,
  description: 'Refer your family and friends to Rakuten Mobile and get 7,000 points per person. The referred friends will also receive points, so please take this opportunity to share Rakuten Mobile with your friends and family.',
  keywords: '',
  noindex: false,
  pathname: filepath,
  isEnglish: true,
});
%>
<%_ let _bgColor='#fff' ; if (typeof bgColor !=='undefined' ) { _bgColor=bgColor; } _%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/referral/en/referral-en.css?240520">
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/_entry-button/rex-overwrite_v2.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/inc/i-unlimit.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
</head>
<body class="<%= namespace %>-Base">
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header',{applyHide:false}) %>

    <%- include('/include/_breadcrumbs', {
      type: 'head',
      pagetitle,
      directories,
      customroot,
    }) %>

    <div class="<%= namespace %>-Hero">
      <h1>
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>kv-sp-240201.png" width="750" height="800">
          <img src="<%= imgPath %>kv-pc-240201.png" alt="Refer your family and friends to Rakuten Mobile and get 7,000 points per person. The referred friends will also receive 13,000 points for MNP transfers, or 6,000 points for other new sign-ups. " width="1440" height="400">
        </picture>
      </h1>
    </div>

    <div class="<%= namespace %>-Layout_Period">
      <div class="<%= namespace %>-Layout_Period-inner">
        <p class="c-Txt_Cap c-Txt_Emp-02">*Not eligible to Rakuten SAIKYO Plan (Data Type).</p>
        <p class="c-Txt_Cap c-Txt_Emp-02">*Points will be awarded to the referee over a 3 months from 4 to 6 months after the month which the referee logs in.</p>
        <p class="c-Txt_Cap c-Txt_Emp-02">*Campaign rewards are subject to variation.</p>
        <p class="c-Txt_Cap">*Points increased for applications from February 1, 2024, onwards.</p>
        <p class="c-Txt_Cap">*The offer for Rakuten SAIKYO Plan applies to a max of 10 lines.</p>
        <p class="c-Txt_Cap">*Participant information for this campaign, including Rakuten membership and contract details, may be shared with Rakuten Mobile and other Rakuten Group companies for campaign execution and updates.</p>
        <p class="c-Txt_Cap">*Campaign details may change without prior notice.</p>
        <p class="c-Txt_Cap">*1 If the referred person uses the 6,000 yen OFF coupon at the official Rakuten Mobile Rakuten Ichiba store, they will receive 7,000 points instead.</p>
      </div>
    </div>

    <div class="l-System_Container">
      <div class="<%= namespace %>-Layout_Here-wrapper">
        <p class="u-Adjust_Align-right u-Adjust_Mt-16">
          <a href="<%= sitepath %>campaign/referral/?l-id=campaign_referral-en_campaign_referral" class="c-Link_Txt-inline">日本語<span class="c-Icon_Chevron-right"></span></a>
        </p>

        <dl class="u-Adjust_Align-center">
          <dt class="c-Txt_Emp-01">【Campaign period】</dt>
          <dd>
            <p><span class="c-Txt_Emp-01">[Online]</span> Tuesday, December 5, 2023 at 9:00 - Friday, May 31 at 23:59</p>
            <p class="u-Adjust_Mt-sp-16"><span class="c-Txt_Emp-01">[In-Store]</span> Tuesday, December 5, 2024 at 9:00 - Friday, May 31 at 23:59, during shop hours</p>
          </dd>
        </dl>

        <div class="u-Rat_Appear-height" data-ratid="campaign_referral-en_scroll-02_referral" data-ratevent="appear" data-ratparam="all"></div>
        <div class="<%= namespace %>-Layout_Here">
          <h2>
            <picture>
              <source media="(max-width: 768px)" srcset="<%= imgPath %>here-sp.png" width="300" height="55">
              <img class="<%= namespace %>-Layout_Here-title" src="<%= imgPath %>here.png" alt="How to Refer Your Friends" width="427" height="62">
            </picture>
          </h2>
          <div class="<%= namespace %>-Utility_Show-pc">
            <div class="<%= namespace %>-Layout_Here-content">
              <div class="<%= namespace %>-Layout_Here-content-item">
                <img src="<%= imgPath %>icon-mail-pc-240520.png" alt="By email" width="87" height="121">
                <div class="u-Adjust_Align-center">
                  <a href="https://refer.rakuten.co.jp/invitation/mail?campaign=mobile_en" target="_blank" class="c-Btn_Secondly"><span>Click here<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
                </div>
              </div>
              <div class="<%= namespace %>-Layout_Here-content-item">
                <img src="<%= imgPath %>icon-line-pc-240520.png" alt="Via LINE" width="85" height="121">
                <img class="u-Adjust_Mt-16" src="<%= imgPath %>qr-line-20230303.png" alt="Via LINE" width="96" height="96">
              </div>
              <div class="<%= namespace %>-Layout_Here-content-item">
                <img src="<%= imgPath %>icon-twitter-pc-240520.png" alt="Via X" width="64" height="121">
                <img class="u-Adjust_Mt-16" src="<%= imgPath %>qr-twitter-20230315.png" alt="Via X" width="96" height="96">
              </div>
              <div class="<%= namespace %>-Layout_Here-content-item">
                <img src="<%= imgPath %>icon-viber-pc-240520.png" alt="Via Viber" width="93" height="121">
                <img class="u-Adjust_Mt-16" src="<%= imgPath %>qr-viber-20230303.png" alt="Via Viber" width="96" height="96">
              </div>
              <div class="<%= namespace %>-Layout_Here-content-item <%= namespace %>-Layout_Here-content-item-mod-01">
                <img src="<%= imgPath %>icon-referral-pc.png" alt="Via Rakuten Link" width="133" height="119">
                <img class="u-Adjust_Mt-16" src="<%= imgPath %>qr-referral.png" alt="Via Rakuten Link" width="96" height="96">
              </div>
              <div class="<%= namespace %>-Layout_Here-content-item">
                <img src="<%= imgPath %>icon-chat-240520.png" alt="SMS/others" width="118" height="121">
                <img class="u-Adjust_Mt-16" src="<%= imgPath %>qr-other-20230303.png" alt="SMS/others" width="96" height="96">
              </div>
            </div>
          </div>
          <div class="<%= namespace %>-Utility_Show-sp <%= namespace %>-Layout_Here-content">
            <div class="<%= namespace %>-Layout_Here-content-item <%= namespace %>-Layout_Here-content-item-howto">
              <a href="https://refer.rakuten.co.jp/invitation/line?campaign=mobile_en" target="_blank" class="c-Btn_Secondly howto"><span><img src="<%= imgPath %>line-sp.png" alt="Via LINE" width="32"></span><span>Via LINE<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
            </div>
            <div class="<%= namespace %>-Utility_Mt-0-16 <%= namespace %>-Layout_Here-content-item <%= namespace %>-Layout_Here-content-item-howto">
              <a href="https://refer.rakuten.co.jp/invitation/mail?campaign=mobile_en" target="_blank" class="c-Btn_Secondly howto"><span><img src="<%= imgPath %>mail-sp.png" alt="By email" width="32"></span><span>By email<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
            </div>
            <div class="<%= namespace %>-Utility_Mt-0-16 <%= namespace %>-Layout_Here-content-item <%= namespace %>-Layout_Here-content-item-howto">
              <a href="https://refer.rakuten.co.jp/invitation/twitter?campaign=mobile_en" target="_blank" class="c-Btn_Secondly howto"><span><img src="<%= imgPath %>twitter-sp-230911.png" alt="Via X" width="32"></span><span>Via X<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
            </div>
            <div class="<%= namespace %>-Utility_Mt-0-16 <%= namespace %>-Layout_Here-content-item <%= namespace %>-Layout_Here-content-item-howto">
              <a href="https://refer.rakuten.co.jp/invitation/viber?campaign=mobile_en" target="_blank" class="c-Btn_Secondly howto"><span><img src="<%= imgPath %>viber-sp.png" alt="Via Viber" width="32"></span><span>Via Viber<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
            </div>
            <div class="<%= namespace %>-Utility_Mt-0-16 <%= namespace %>-Layout_Here-content-item <%= namespace %>-Layout_Here-content-item-howto">
              <a href="https://refer.rakuten.co.jp/invitation/rakuten_link?campaign=mobile_en" target="_blank" class="c-Btn_Secondly howto"><span><img src="<%= imgPath %>referral-sp.png" alt="Via Rakuten Link" width="32"></span><span>Via Rakuten Link<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
            </div>
            <div class="<%= namespace %>-Utility_Mt-0-16 <%= namespace %>-Layout_Here-content-item <%= namespace %>-Layout_Here-content-item-howto">
              <a href="https://refer.rakuten.co.jp/invitation/web_share?campaign=mobile_en" target="_blank" class="c-Btn_Secondly howto"><span><img src="<%= imgPath %>icon-chat-sp.png" alt="Via SMS/others" width="32"></span><span>Via SMS/others<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
            </div>
          </div>
        </div>
      </div>

      <div class="u-Rat_Appear-height" data-ratid="campaign_referral-en_scroll-03_how-to" data-ratevent="appear" data-ratparam="all"></div>
      <h2 class="u-Adjust_Mt-56 u-Adjust_Align-center">
        <span class="c-Txt_Emp-02 <%= namespace %>-Txt_Ttl-lv2">Easy steps</span><br class="<%= namespace %>-Utility_Show-sp">
        to refer your friends
      </h2>
    </div>

    <div class="c-Tab js-Tab u-Adjust_Mt-24">
      <div class="l-System_Container">
        <ul class="c-Tab_Items" role="tablist">
          <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">LINE / X / <br class="<%= namespace %>-Utility_Show-sp">Viber / <br class="<%= namespace %>-Utility_Show-sp">Rakuten Link</li>
          <li class="c-Tab_Item" id="tab-menu3" role="tab" aria-selected="false" aria-controls="tab-content2">email</li>
          <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content3">SMS / others</li>
        </ul>
      </div>
      <div class="<%= namespace %>-Layout_Easy-tab">
        <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
          <div class="l-System_Container u-Adjust_Pt-56">
            <div class="<%= namespace %>-Layout_Easy-tab-content-title">
              <h3>
                <span>How it works</span>
              </h3>
            </div>
            <ol class="<%= namespace %>-Layout_Easy-tab-content <%= namespace %>-Layout_Easy-tab-content-01 u-Adjust_Mt-16">
              <li class="<%= namespace %>-Layout_Easy-tab-content-item u-Adjust_Align-center">
                <h4 class="c-Heading_Lv3 c-Txt_Emp-02">STEP 1</h4>
                <div class="<%= namespace %>-Utility_Show-pc">
                  <p class="c-Txt_Emp-01">Scan the above QR Code</p>
                  <div>
                    <img src="<%= imgPath %>line-1.png" alt="" width="156" height="237">
                  </div>
                  <p class="c-Txt_Cap u-Adjust_Align-left u-Adjust_Pl-8">*If you use the Rakuten Link, use the QR code reader within the app.</p>
                </div>
                <div class="<%= namespace %>-Utility_Show-sp">
                  <p class="c-Txt_Emp-01 u-Adjust_Mt-8">Click the button below</p>
                  <div class="u-Adjust_Mt-32 <%= namespace %>-Layout_Here-content-item <%= namespace %>-Layout_Here-content-item-mod-02">
                    <a href="https://refer.rakuten.co.jp/invitation/line?campaign=mobile_en" target="_blank" class="c-Btn_Secondly"><span><img src="<%= imgPath %>line-sp.png" alt="" width="32"></span><span>Via LINE</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></a>
                  </div>
                  <div class="<%= namespace %>-Utility_Mt-0-16 <%= namespace %>-Layout_Here-content-item <%= namespace %>-Layout_Here-content-item-mod-02">
                    <a href="https://refer.rakuten.co.jp/invitation/twitter?campaign=mobile_en" target="_blank" class="c-Btn_Secondly"><span><img src="<%= imgPath %>twitter-sp-230911.png" alt="Share on X" width="32"></span><span>Via X</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></a>
                  </div>
                  <div class="u-Adjust_Mt-16 <%= namespace %>-Layout_Here-content-item <%= namespace %>-Layout_Here-content-item-mod-02">
                    <a href="https://refer.rakuten.co.jp/invitation/viber?campaign=mobile_en" target="_blank" class="c-Btn_Secondly"><span><img src="<%= imgPath %>viber-sp.png" alt="" width="32"></span><span>Via Viber</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></a>
                  </div>
                  <div class="u-Adjust_Mt-16 <%= namespace %>-Layout_Here-content-item <%= namespace %>-Layout_Here-content-item-mod-02">
                    <a href="https://refer.rakuten.co.jp/invitation/rakuten_link?campaign=mobile_en" target="_blank" class="c-Btn_Secondly"><span><img src="<%= imgPath %>referral-sp.png" alt="" width="32"></span><span>Via Rakuten<br>Link</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></a>
                  </div>
                </div>
              </li>
              <li class="<%= namespace %>-Layout_Easy-tab-content-item u-Adjust_Align-center">
                <h4 class="c-Heading_Lv3 c-Txt_Emp-02">STEP 2</h4>
                <p class="c-Txt_Emp-01">Log in with your Rakuten ID</p>
                <div class="u-Adjust_Mt-40">
                  <img src="<%= imgPath %>line-2.png" alt="" width="144" height="216">
                </div>
              </li>
              <li class="<%= namespace %>-Layout_Easy-tab-content-item u-Adjust_Align-center">
                <h4 class="c-Heading_Lv3 c-Txt_Emp-02">STEP 3</h4>
                <p class="c-Txt_Emp-01">Open the app</p>
                <div class="u-Adjust_Mt-40">
                  <img src="<%= imgPath %>line-3.png" alt="" width="144" height="227">
                </div>
              </li>
              <li class="<%= namespace %>-Layout_Easy-tab-content-item u-Adjust_Align-center">
                <h4 class="c-Heading_Lv3 c-Txt_Emp-02">STEP 4</h4>
                <p class="c-Txt_Emp-01">
                  Select friends and<br>
                  Send message!
                </p>
                <div class="u-Adjust_Mt-16">
                  <img src="<%= imgPath %>line-4.png" alt="" width="144" height="226">
                </div>
              </li>
            </ol>

            <div class="u-Adjust_Align-center u-Adjust_Mt-24">
              <img src="<%= imgPath %>polygon.png" alt="" width="45">
            </div>
            <p class="c-Txt_Emp-01 u-Adjust_Mt-24 u-Adjust_Align-center">After your friend receives a message...</p>
            <div class="<%= namespace %>-Layout_Easy-tab-content-title-referred u-Adjust_Mt-16">
              <h3>
                <span>For referred friends</span>
              </h3>
            </div>
            <ol class="<%= namespace %>-Layout_Easy-tab-content <%= namespace %>-Layout_Easy-tab-content-01 u-Adjust_Mt-16">
              <li class="<%= namespace %>-Layout_Easy-tab-content-item u-Adjust_Align-center">
                <h4 class="c-Heading_Lv3 c-Txt_Emp-02">STEP 1</h4>
                <p class="c-Txt_Emp-01">Click the URL in the message</p>
                <div class="u-Adjust_Mt-32">
                  <img src="<%= imgPath %>line-5.png" alt="" width="144" height="226">
                </div>
              </li>
              <li class="<%= namespace %>-Layout_Easy-tab-content-item u-Adjust_Align-center">
                <h4 class="c-Heading_Lv3 c-Txt_Emp-02">STEP 2</h4>
                <p class="c-Txt_Emp-01">Log in with your Rakuten ID</p>
                <div class="u-Adjust_Mt-32">
                  <img src="<%= imgPath %>line-6.png" alt="" width="144" height="226">
                </div>
              </li>
              <li class="<%= namespace %>-Layout_Easy-tab-content-item u-Adjust_Align-center">
                <h4 class="c-Heading_Lv3 c-Txt_Emp-02">STEP 3</h4>
                <p class="c-Txt_Emp-01">
                  Apply for a plan<br>
                  & Activate it
                </p>
                <p class="c-Txt_Normal-s c-Txt_Emp-01">
                  By the end of the second month following the first login
                </p>
                <p class="u-Adjust_Mt-16 c-Txt_Cap u-Adjust_Align-left">*Logging in after application is not eligible for this campaign.<br>*Data Type is not eligible for the campaign.</p>
                <div class="u-Adjust_Mt-16">
                  <img src="<%= imgPath %>line-7.png" alt="" width="208" height="144">
                </div>
              </li>
              <li class="<%= namespace %>-Layout_Easy-tab-content-item u-Adjust_Align-center">
                <h4 class="c-Heading_Lv3 c-Txt_Emp-02">STEP 4</h4>
                <p class="c-Txt_Emp-01">
                  Call with Rakuten Link
                </p>
                <p class="c-Txt_Normal-s c-Txt_Emp-01">
                  By the end of the second month following the first login
                </p>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">*At least 10 seconds of outgoing call with Rakuten Link is required.</p>
                <div class="u-Adjust_Mt-16">
                  <img src="<%= imgPath %>line-8.png" alt="" width="208" height="189">
                </div>
              </li>
            </ol>
            <div class="u-Adjust_Align-center u-Adjust_Mt-24">
              <img src="<%= imgPath %>polygon.png" alt="" width="45">
            </div>
          </div>
        </div>

        <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
          <div class="l-System_Container u-Adjust_Pt-56">
            <div class="<%= namespace %>-Layout_Easy-tab-content-title">
              <h3>
                <span>How it works</span>
              </h3>
            </div>
            <ol class="<%= namespace %>-Layout_Easy-tab-content <%= namespace %>-Layout_Easy-tab-content-01 u-Adjust_Mt-16">
              <li class="<%= namespace %>-Layout_Easy-tab-content-item u-Adjust_Align-center">
                <h4 class="c-Heading_Lv3 c-Txt_Emp-02">STEP 1</h4>
                <div>
                  <p class="c-Txt_Emp-01">Click the button below</p>
                  <div class="u-Adjust_Mt-16">
                    <a href="https://refer.rakuten.co.jp/invitation/mail?campaign=mobile_en" target="_blank" class="c-Btn_Secondly"><span class="c-Icon_Mail-f <%= namespace %>-Layout_Here-content-icon-mail u-Adjust_Mr-8"></span><span>Invite by email<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
                  </div>
                  <div class="u-Adjust_Mt-16">
                    <img src="<%= imgPath %>email-1.png" alt="" width="158" height="122">
                  </div>
                </div>
              </li>
              <li class="<%= namespace %>-Layout_Easy-tab-content-item u-Adjust_Align-center">
                <h4 class="c-Heading_Lv3 c-Txt_Emp-02">STEP 2</h4>
                <p class="c-Txt_Emp-01">Log in with your Rakuten ID</p>
                <div class="u-Adjust_Mt-40">
                  <img src="<%= imgPath %>email-2.png" alt="" width="144" height="216">
                </div>
              </li>
              <li class="<%= namespace %>-Layout_Easy-tab-content-item u-Adjust_Align-center">
                <h4 class="c-Heading_Lv3 c-Txt_Emp-02">STEP 3</h4>
                <p class="c-Txt_Emp-01">
                  Fill out the form and<br>
                  Send email
                </p>
                <div class="u-Adjust_Mt-16">
                  <img src="<%= imgPath %>email-3.png" alt="" width="144" height="227">
                </div>
              </li>
              <li class="<%= namespace %>-Layout_Easy-tab-content-item u-Adjust_Align-center">
                <h4 class="c-Heading_Lv3 c-Txt_Emp-02">STEP 4</h4>
                <p class="c-Txt_Emp-01">This email will be sent</p>
                <div class="u-Adjust_Mt-40">
                  <img src="<%= imgPath %>email-4-240201.png" alt="" width="144" height="239">
                </div>
              </li>
            </ol>
            <div class="u-Adjust_Align-center u-Adjust_Mt-24">
              <img src="<%= imgPath %>polygon.png" alt="" width="45">
            </div>
            <p class="c-Txt_Emp-01 u-Adjust_Mt-24 u-Adjust_Align-center">After your friend receives a message...</p>
            <div class="<%= namespace %>-Layout_Easy-tab-content-title-referred u-Adjust_Mt-16">
              <h3>
                <span>For referred friends</span>
              </h3>
            </div>
            <ol class="<%= namespace %>-Layout_Easy-tab-content <%= namespace %>-Layout_Easy-tab-content-01 u-Adjust_Mt-16">
              <li class="<%= namespace %>-Layout_Easy-tab-content-item u-Adjust_Align-center">
                <h4 class="c-Heading_Lv3 c-Txt_Emp-02">STEP 1</h4>
                <p class="c-Txt_Emp-01">Click the button in the email</p>
                <div class="u-Adjust_Mt-32">
                  <img src="<%= imgPath %>email-4-240201.png" alt="" width="144" height="239">
                </div>
              </li>
              <li class="<%= namespace %>-Layout_Easy-tab-content-item u-Adjust_Align-center">
                <h4 class="c-Heading_Lv3 c-Txt_Emp-02">STEP 2</h4>
                <p class="c-Txt_Emp-01">Log in with your Rakuten ID</p>
                <div class="u-Adjust_Mt-32">
                  <img src="<%= imgPath %>email-5.png" alt="" width="144" height="216">
                </div>
              </li>
              <li class="<%= namespace %>-Layout_Easy-tab-content-item u-Adjust_Align-center">
                <h4 class="c-Heading_Lv3 c-Txt_Emp-02">STEP 3</h4>
                <p class="c-Txt_Emp-01">
                  Apply for a plan<br>
                  & Activate it
                </p>
                <p class="c-Txt_Normal-s c-Txt_Emp-01">
                  By the end of the second month following the first login
                </p>
                <p class="u-Adjust_Mt-16 c-Txt_Cap u-Adjust_Align-left">*Logging in after application is not eligible for this campaign.<br>*Data Type is not eligible for the campaign.</p>
                <div class="u-Adjust_Mt-16">
                  <img src="<%= imgPath %>line-7.png" alt="" width="208" height="189">
                </div>
              </li>
              <li class="<%= namespace %>-Layout_Easy-tab-content-item u-Adjust_Align-center">
                <h4 class="c-Heading_Lv3 c-Txt_Emp-02">STEP 4</h4>
                <p class="c-Txt_Emp-01">
                  Call with Rakuten Link
                </p>
                <p class="c-Txt_Normal-s c-Txt_Emp-01">
                  By the end of the second month following the first login
                </p>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">*At least 10 seconds of outgoing call with Rakuten Link is required.</p>
                <div class="u-Adjust_Mt-16">
                  <img src="<%= imgPath %>line-8.png" alt="" width="208" height="189">
                </div>
              </li>
            </ol>
            <div class="u-Adjust_Align-center u-Adjust_Mt-24">
              <img src="<%= imgPath %>polygon.png" alt="" width="45">
            </div>
          </div>
        </div>
        <div class="c-Tab_Panel" id="tab-content3" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu3">
          <div class="l-System_Container u-Adjust_Pt-56">
            <div class="<%= namespace %>-Layout_Easy-tab-content-title">
              <h3>
                <span>How it works</span>
              </h3>
            </div>
            <ol class="<%= namespace %>-Layout_Easy-tab-content <%= namespace %>-Layout_Easy-tab-content-01 u-Adjust_Mt-16">
              <li class="<%= namespace %>-Layout_Easy-tab-content-item u-Adjust_Align-center">
                <h4 class="c-Heading_Lv3 c-Txt_Emp-02">STEP 1</h4>
                <div class="<%= namespace %>-Utility_Show-pc">
                  <p class="c-Txt_Emp-01">Scan the above QR Code</p>
                  <div>
                    <img src="<%= imgPath %>sms-1.png" alt="" width="156" height="237">
                  </div>
                </div>
                <div class="<%= namespace %>-Utility_Show-sp">
                  <p class="c-Txt_Emp-01">Click the button below</p>
                  <div class="u-Adjust_Mt-16">
                    <a href="https://refer.rakuten.co.jp/invitation/web_share?campaign=mobile_en" target="_blank" class="c-Btn_Secondly <%= namespace %>-Layout_Easy-tab-content-01-btn"><span class="u-Adjust_Mr-8"><img src="<%= imgPath %>icon-chat-sp.png" alt="" width="18"></span><span>SMS/others<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
                  </div>
                  <img class="u-Adjust_Mt-16 <%= namespace %>-Layout_Easy-tab-content-01-img" src="<%= imgPath %>other-1.png" alt="" width="158" height="122">
                </div>
              </li>
              <li class="<%= namespace %>-Layout_Easy-tab-content-item u-Adjust_Align-center">
                <h4 class="c-Heading_Lv3 c-Txt_Emp-02">STEP 2</h4>
                <p class="c-Txt_Emp-01">Log in with your Rakuten ID</p>
                <div class="u-Adjust_Mt-40">
                  <img src="<%= imgPath %>sms-2.png" alt="" width="144" height="216">
                </div>
              </li>
              <li class="<%= namespace %>-Layout_Easy-tab-content-item u-Adjust_Align-center">
                <h4 class="c-Heading_Lv3 c-Txt_Emp-02">STEP 3</h4>
                <p class="c-Txt_Emp-01">
                  Tap the icon and<br>
                  select the app to use
                </p>
                <div class="u-Adjust_Mt-16">
                  <img src="<%= imgPath %>sms-3.png" alt="" width="144" height="227">
                </div>
              </li>
              <li class="<%= namespace %>-Layout_Easy-tab-content-item u-Adjust_Align-center">
                <h4 class="c-Heading_Lv3 c-Txt_Emp-02">STEP 4</h4>
                <p class="c-Txt_Emp-01">
                  Select friends<br>
                  and Send message!
                </p>
                <div class="u-Adjust_Mt-16">
                  <img src="<%= imgPath %>sms-4.png" alt="" width="144" height="226">
                </div>
              </li>
            </ol>

            <div class="u-Adjust_Align-center u-Adjust_Mt-24">
              <img src="<%= imgPath %>polygon.png" alt="" width="45">
            </div>
            <p class="c-Txt_Emp-01 u-Adjust_Mt-24 u-Adjust_Align-center">After your friend receives a message...</p>
            <div class="<%= namespace %>-Layout_Easy-tab-content-title-referred u-Adjust_Mt-16">
              <h3>
                <span>For referred friends</span>
              </h3>
            </div>
            <ol class="<%= namespace %>-Layout_Easy-tab-content <%= namespace %>-Layout_Easy-tab-content-01 u-Adjust_Mt-16">
              <li class="<%= namespace %>-Layout_Easy-tab-content-item u-Adjust_Align-center">
                <h4 class="c-Heading_Lv3 c-Txt_Emp-02">STEP 1</h4>
                <p class="c-Txt_Emp-01">Click the URL in the message</p>
                <div class="u-Adjust_Mt-32">
                  <img src="<%= imgPath %>sms-5.png" alt="" width="144" height="226">
                </div>
              </li>
              <li class="<%= namespace %>-Layout_Easy-tab-content-item u-Adjust_Align-center">
                <h4 class="c-Heading_Lv3 c-Txt_Emp-02">STEP 2</h4>
                <p class="c-Txt_Emp-01">Log in with your Rakuten ID</p>
                <div class="u-Adjust_Mt-32">
                  <img src="<%= imgPath %>sms-6.png" alt="" width="144" height="226">
                </div>
              </li>
              <li class="<%= namespace %>-Layout_Easy-tab-content-item u-Adjust_Align-center">
                <h4 class="c-Heading_Lv3 c-Txt_Emp-02">STEP 3</h4>
                <p class="c-Txt_Emp-01">
                  Apply for a plan<br>
                  & Activate it
                </p>
                <p class="c-Txt_Normal-s c-Txt_Emp-01">
                  By the end of the second month following the first login
                </p>
                <p class="u-Adjust_Mt-16 c-Txt_Cap u-Adjust_Align-left">*Logging in after application is not eligible for this campaign.<br>*Data Type is not eligible for the campaign.</p>
                <div class="u-Adjust_Mt-16">
                  <img src="<%= imgPath %>line-7.png" alt="" width="208" height="144">
                </div>
              </li>
              <li class="<%= namespace %>-Layout_Easy-tab-content-item u-Adjust_Align-center">
                <h4 class="c-Heading_Lv3 c-Txt_Emp-02">STEP 4</h4>
                <p class="c-Txt_Emp-01">
                  Call with Rakuten Link
                </p>
                <p class="c-Txt_Normal-s c-Txt_Emp-01">
                  By the end of the second month following the first login
                </p>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">*At least 10 seconds of outgoing call with Rakuten Link is required.</p>
                <div class="u-Adjust_Mt-16">
                  <img src="<%= imgPath %>line-8.png" alt="" width="208" height="189">
                </div>
              </li>
            </ol>
            <div class="u-Adjust_Align-center u-Adjust_Mt-24">
              <img src="<%= imgPath %>polygon.png" alt="" width="45">
            </div>
          </div>
        </div>
        <div class="<%= namespace %>-Layout_Point-wrapper">
          <div class="<%= namespace %>-Layout_Point u-Adjust_Mt-24">
            <img class="u-Adjust_Mt-24" src="<%= imgPath %>r-point.png" alt="R POINT" width="304" height="110">
            <div>
              <p class="<%= namespace %>-Layout_Point-txt">
                <span class="c-Txt_Emp-02">
                Referrers will get
                </span>
                <br class="<%= namespace %>-Utility_Show-sp">
                <span class="c-Txt_Emp-02">
                <span class="<%= namespace %>-Layout_Point-txt-emp">7,000</span>
                points/per!</span>
              </p>
              <p class="<%= namespace %>-Layout_Point-sub">
                <span class="c-Txt_Emp-02 c-Txt_Normal">
                  Referred subscribers will get<br class="<%= namespace %>-Utility_Show-sp">
                  Referred person can earn
                  <span class="c-Txt_Normal-xl">13,000</span>
                  points!*
                </span>
              </p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">
                *When transferring from another carrier (MNP). 6,000 points for other new sign-ups. Campaign offer limited to one time per person.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="l-System_Container u-Adjust_Mt-64">
        <h2 id="schedule" class="c-Heading_Lv2  u-Adjust_Align-center">Point Award Schedule for Meeting Conditions</h2>
        <p class="u-Align_Lcc u-Adjust_Mt-16">Should you meet the conditions in February, points will be awarded as per the schedule below:</p>
        <div class="c-Tab js-Tab u-Adjust_Mt-16">
          <ul class="c-Tab_Items" role="tablist">
              <li class="c-Tab_Item" id="tab-menu4" role="tab" aria-selected="true" aria-controls="tab-content4" data-ratid="campaign_referral_en_click-01_referrer" data-ratevent="click" data-ratparam="all">Referrer</li>
              <li class="c-Tab_Item" id="tab-menu5" role="tab" aria-selected="false" aria-controls="tab-content5" data-ratid="campaign_referral_en_click-02_referrer" data-ratevent="click" data-ratparam="all">Referred Customer</li>
          </ul>
          <div class="c-Tab_Panel u-Adjust_Align-center" id="tab-content4" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu4">
            <div class="<%= namespace %>-Layout_Ex-tab-content">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/referral/schedule-1-sp-240308.png" width="626" height="1110">
                <img src="<%= sitepath %>assets/img/campaign/referral/schedule-1-pc-240308.png" alt="" width="1032" height="356">
              </picture>
            </div>
          </div>
          <div class="c-Tab_Panel u-Adjust_Align-center" id="tab-content5" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu5">
            <div class="<%= namespace %>-Layout_Ex-tab-content">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/referral/schedule-2-sp-240308.png" width="626" height="1110">
                <img src="<%= sitepath %>assets/img/campaign/referral/schedule-2-pc-240308.png" alt="" width="1032" height="356" loading="lazy">
              </picture>
              <p class="c-Txt_Normal-s u-Adjust_Mt-8 u-Adjust_Align-left">*When applying for the first time by transferring from another carrier (MNP). Other new sign-ups will earn 7,000 points over 3 months: 2,000 points each after 4 and 5 months, followed by 3,000 points after 6 months.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="u-Rat_Appear-height" data-ratid="campaign_referral-en_scroll-04_saikyo-plan" data-ratevent="appear" data-ratparam="all"></div>
      <div class="u-Adjust_Mt-48 u-Adjust_Align-center">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>img-referral-offer-sp.png" width="100%">
          <img src="<%= imgPath %>img-referral-offer-pc.png" width="1032" height="725"
            alt="Spread the Word to Friends and Family!">
        </picture>
      </div>

      <div>

        <div class="l-System_Container u-Adjust_Mt-64">
          <div class="<%= namespace %>-Layout_Bnr-simulation">
            <div class="<%= namespace %>-Layout_Bnr-head-family u-Adjust_Align-center u-Adjust_Pt-16 u-Adjust_Pt-pc-24">
              <div class="<%= namespace %>-Layout_Bnr-heading">
                <div>
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/referral/bnr-family-title-en-sp-240430.png" width="318" height="214">
                    <img src="<%= sitepath %>assets/img/campaign/referral/bnr-family-title-en-pc-240430.png" width="937" height="222" alt="">
                  </picture>
                </div>
              </div>
            </div>
            <div class="<%= namespace %>-Layout_Bnr-body-family u-Adjust_Align-center">
              <div class="<%= namespace %>-Layout_Bnr-body-family-inner">
                <a href="<%= sitepath %>fee/family/en/?l-id=campaign_referral_en_fee_family_en" class="c-Btn_Secondly-large <%= namespace %>-Layout_Bnr-btn-family"><span>Learn More About SAIKYO<br class="u-Show_Sp"> FAMILY Program</span></a>
                <p class="c-Txt_Cap u-Adjust_Align-center u-Adjust_Mt-16">
                  *1 Offer applies exclusively to the family discount without additional discounts. Surveyed by our company, as of February 2024.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="l-System_Container u-Adjust_Mt-64">
          <div class="<%= namespace %>-Layout_Bnr-simulation">
            <div class="<%= namespace %>-Layout_Bnr-head u-Adjust_Align-center u-Adjust_Pb-16 u-Adjust_Pt-pc-40 u-Adjust_Pt-sp-64">
              <div class="<%= namespace %>-Layout_Bnr-heading">
                <div class="<%= namespace %>-Layout_Bnr-comment">
                  <picture>
                    <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/campaign/referral/bnr-simulation-comment-en-sp-240308.png" width="232" height="63">
                    <img src="<%= sitepath %>assets/img/campaign/referral/bnr-simulation-comment-en-pc-240308.png" width="468" height="53" alt="">
                  </picture>
                </div>
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/referral/bnr-simulation-title-en-sp-240308.png" width="593" height="213">
                  <img src="<%= sitepath %>assets/img/campaign/referral/bnr-simulation-title-en-pc-240308.png" width="505" height="50" alt="">
                </picture>
              </div>
            </div>
            <div class="<%= namespace %>-Layout_Bnr-body u-Adjust_Align-center">
              <div class="<%= namespace %>-Layout_Bnr-body-inner">
                <p>See how our plan fee stacks up against your current carrier. <br class="u-Show_Pc">Discover your savings with our rate simulation tool!</p>
                <div class="u-Show_Sp u-Adjust_Mt-16">
                  <picture >
                    <img src="<%= sitepath %>assets/img/campaign/referral/bnr-simulation-img-sp.png" width="620" height="248" alt="">
                  </picture>
                </div>
                <a href="<%= sitepath %>fee/simulation/?l-id=campaign_referral_en_fee_un-limit_simulation" class="c-Btn_Secondly-large <%= namespace %>-Layout_Bnr-btn"><span>Calculate Plan Savings</span></a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="u-Adjust_Mt-40">
        <%- include('/inc/_saikyo-en') %>
      </div>

      <div class="l-System_Container u-Adjust_Align-center u-Adjust_Mt-32">
        <a class="c-Banner_Hover-act"
          href="<%= sitepath %>service/global/overseas/en/?l-id=campaign_referral-en_service_global_overseas-en">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= imgPath %>bnr-328-185-20230303.png">
            <img src="<%= imgPath %>bnr-1032-160-20230303.png" width="1032"
              alt="We offer 2GB FREE even overseas! Use Rakuten Mobile right out of the box">
          </picture>
        </a>
      </div>

      <div class="u-Rat_Appear-height" data-ratid="campaign_referral-en_scroll-05_campaign" data-ratevent="appear" data-ratparam="all"></div>
      <section class="l-System_Container u-Adjust_Mt-64 u-Adjust_Align-center">
        <%- include('/include/_bnr-cpn-recommend-en') %>
      </section>


      <div class="l-System_Container">
        <div class="referral-en-Support">
          <p class="c-Txt_Normal">English Support</p>

          <div class="referral-en-Support_Box">
            <a href="tel:0800-805-0805" class="c-Link_Txt" data-ratid="faq_tel_11" data-ratevent="click"
              data-ratparam="all">0800-805-0805</a>
            <p class="c-Txt_Normal u-Adjust_Mt-8">Business hour : 9:00-5:00pm（open 365 days）</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">*The conversation might take place as a three-way call with you, our customer
              service staff, and the phone interpreter. (An interpretation is free of charge)</p>
          </div>
        </div>
      </div>

      <div class="u-Rat_Appear-height" data-ratid="campaign_referral-en_scroll-06_campaign-rule" data-ratevent="appear" data-ratparam="all"></div>
      <section id="campaign-rule" class="u-Adjust_Mt-48 <%= namespace %>-Utility_Bg-gray">
        <div id="campaign-rule1784" class="l-System_Container u-Adjust_Pt-48 u-Adjust_Pb-48 <%= namespace %>-Rule">

          <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1784en', level: 'h2', year: '2023', class: '' }}) %>

        </div>
      </section>
    </div>

    <div class="u-Rat_Appear-height" data-ratid="campaign_referral-en_scroll-07_footer" data-ratevent="appear" data-ratparam="all"></div>
    <footer class="g-Footer u-Adjust_Mt-64 <%= namespace %>-Layout_Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <%- include('/include/_breadcrumbs', {
          type: 'foot',
          pagetitle,
          directories,
          customroot,
        }) %>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
</body>
</html>
