<%
  const pagetitle = 'INAC神戸レオネッサ応援キャンペーン';
  const directories = [{path:"area/", label:"通信・エリア"}];
  const campaignState ='finish';
  const enddate = '2024年4月16日';
  const namespace = "inac-kobe";
  const oneEntry = "※エントリーはキャンペーン期間中にお1人様1回のみ可能です";
  const entryData = "2024年3月16日（土）00:00～2024年4月16日（火）9:59";
_%>
<%-
  include('/_header', {
    pagetitle,
    directories,
    description: '楽天モバイルご利用中の方、新規申し込みした方からINAC神戸レオネッサグッズが当たる！',
    keywords: '',
    noindex: false,
    pathname: filepath,
    browseragent: false,
    ogp_img: 'https://network.mobile.rakuten.co.jp/assets/img/area/campaign/inac-kobe/ogp.png'
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/area/campaign/campaign.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/area/campaign/inac-kobe/inackobe.css?20240424">

<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<%- include('/include/_breadcrumbs', {
  type: 'head',
  pagetitle,
  directories,
}) %>

<div class="areaCampaign-Layout_Label">
  <ul class="c-Label_List">
    <li class="c-Label_Normal">エントリー必要</li>
    <li class="c-Label_Normal">ご契約者様対象</li>
  </ul>
</div>

<div class="<%= namespace %>_Hero">
  <h1 class="<%= namespace %>_Kv">
    <picture>
      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/area/campaign/inac-kobe/img-kv-sp.png" width="100%">
      <img src="<%= sitepath %>assets/img/area/campaign/inac-kobe/img-kv-pc.png" alt="INAC神戸レオネッサ応援キャンペーン" width="1032" height="420">
    </picture>
  </h1>
</div>

<div class="u-Bg_Monotone97 u-Adjust_Pt-8 u-Adjust_Pb-24">
  <div class="l-System_Container">
    <p class="c-Txt_Cap">※1 2024年3月16日（土）0:00時点で「Rakuten最強プラン」「Rakuten最強プラン（データタイプ）」の未契約者である場合は、期間内にWeb、お近くのショップ、ノエビアスタジアム神戸楽天モバイル出張ブースのいずれかから新規お申し込みをいただくことで対象となります。※2 景品画像はイメージです。</p>
  <div class=" u-Adjust_Mt-24">
    <dl class="c-Dl_Origin-sp-2col areaCampaign-Hero_Bottom-lead">
      <div>
        <dt>エントリー<br class="u-Show_Sp">期間</dt>
        <dd class="u-Adjust_Px-8">
          <%= entryData %>
        </dd>
      </div>
      <div>
        <dt>
          <p>プランのお申し込み期間</p>
          <p class="c-Txt_Cap u-Weight_Normal">※Rakuten最強プランをご利用中でない場合</p>
        </dt>
        <dd class="u-Adjust_Px-8">
          <div>
            <p class="c-Txt_Emp-01">楽天モバイルWebサイト</p>
            <p>2024年3月16日（土）00:00～2024年4月30日（火）9:59</p>
          </div>
          <div>
            <p class="c-Txt_Emp-01">楽天モバイルショップ</p>
            <p> 2024年3月16日（土）開店～2024年4月29日（月）閉店</p>
          </div>
        </dd>
      </div>
    </dl>
  </div> 
  </div>
</div>

<div class="<%= namespace %>-Layout_Section">
  <div class="l-System_Container u-Adjust_Mt-40">
    <% if (campaignState === 'finish') { %>
      <!-- 空 -->
    <% } else { %>
      <p class="u-Adjust_Align-center">
        <a href="https://oubo.rakuten.co.jp/apply/rmobile/inac2403/?l-id=mi_rmb_web_20240316_inac_entry" class="c-Btn_Primary-large"><span>エントリーする</span></a>
      </p>
      <p class="c-Txt_Cap u-Adjust_Align-center u-Adjust_Mt-8"><%= oneEntry %></p>
    <% } %>
    <% if (campaignState === 'finish') { %>
      <div class="u-Adjust_Align-center">
        <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-40 u-Adjust_Mb-24 u-Adjust_Align-center">
          本キャンペーンは<%= enddate %>をもちまして終了いたしました。<br>
        このページに掲載されている情報は、キャンペーン終了時点のものです。</p>
        <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>campaign/?l-id=end_campaign" class="c-Link_Txt-inline">開催中のキャンペーンを見る<span class="c-Icon_Chevron-right"></span></a></p>
      </div>
    <% } %>

    <ul class="c-Link_List-horizontal-simple areaCampaign-Layout_Section-link-list u-Adjust_Mt-32 u-Adjust_Mt-pc-40">
      <li><a href="#point-acquisition-flow" class="c-Link_Txt-icon-front js-scroll" data-ratid="mi_rmb_web_20240316_inac_detail" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>キャンペーン参加方法</a></li>
      <li><a href="#campaign-rule" class="c-Link_Txt-icon-front js-scroll" data-ratid="mi_rmb_web_20240316_inac_rule" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルール</a></li>
    </ul>
    <div class="u-Adjust_Mt-48">
      <a class="c-Banner_Hover-act current-page c-Link_Txt-inline" href="https://inac-kobe.com/?l-id=mi_rmb_web_20240316_inac_support">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/area/campaign/inac-kobe/img-banner-343x240.png" width="100%">
          <img src="<%= sitepath %>assets/img/area/campaign/inac-kobe/img-banner-1032x250.png" width="1032" height="250" alt="">
        </picture>
      </a>
    </div>
  </div>
</div>

<div class="u-Bg_Monotone97 u-Adjust_Mt-64">
  <div class="l-System_Container u-Adjust_Pt-48 u-Adjust_Pb-56 u-Adjust_Pb-pc-24">
    <h2 class="c-Heading_Lv2 c-Heading u-Adjust_Align-center" data-ratid="mi_rmb_web_20240315_inac-kobe_detail" data-ratevent="appear" id="point-acquisition-flow">
      キャンペーン参加方法
    </h2>
    <!-- タブエリア -->
    <div class="c-Tab js-Tab">
      <ul class="c-Tab_Items u-Adjust_Mt-24" role="tablist">
        <li class="c-Tab_Item areaCampaign-Tab_Item" id="tab-menu-1" role="tab" aria-selected="true" aria-controls="tab-content1" data-ratid="mi_rmb_web_20240316_inac_newapplytab" data-ratevent="click" data-ratparam="all">新規お申し込みの方</li>
        <li class="c-Tab_Item areaCampaign-Tab_Item" id="tab-menu-2" role="tab" aria-selected="false" aria-controls="tab-content2" data-ratid="mi_rmb_web_20240316_inac_membertab" data-ratevent="click" data-ratparam="all">ご契約中の方</li>
      </ul>
    <!-- １パターン -->
      <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
        <!-- STEP1 -->
        <h3 class="c-Heading_Lv3 u-Adjust_Align-left u-Adjust_Mt-24 u-Adjust_Mb-24">楽天モバイルに新規でお申し込みの方</h3>
        <div class="areaCampaign-Flow_Bg u-Adjust_Align-left">
          <h3 class="c-Heading_Lv3 areaCampaign-Flow_Flex">
            <span class="c-Txt_Emp-02 u-Adjust_Mr-16">STEP 1</span>
            <span>キャンペーンにエントリーする</span>
          </h3>
          <div class="u-Adjust_Mt-16 areaCampaign-Flow_Flex">
            <div class="areaCampaign-Flow_item">
              <div class="l-Media_Image u-Align_Ccl">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/area/campaign/common/img-point-01-sp.png" width="276" height="145">
                <img src="<%= sitepath %>assets/img/area/campaign/common/img-point-01-pc.png" alt="キャンペーンにエントリーする" width="304" height="160">
              </picture>
            </div>
          </div>
            <div class="areaCampaign-Flow_Flex-item">
              <p class="u-Adjust_Mt-16 u-Adjust_Mt-pc-0">
                ご参加には、本ページからエントリーが必要です。<br>
                エントリー期間：<%= entryData %>
              </p>
              <% if (campaignState === 'finish') { %>
              <% } else { %>
                <p class="u-Adjust_Mt-16">
                  <a href="https://oubo.rakuten.co.jp/apply/rmobile/inac2403/?l-id=mi_rmb_web_20240316_inac_new_entry" class="c-Btn_Primary-large"><span>エントリーはこちら</span></a>
                </p>
                <p class="c-Txt_Cap u-Adjust_Mt-8"><%= oneEntry %></p>  
              <% } %>
            </div>
          </div>
        </div>

        <!-- STEP2 -->
        <div class="areaCampaign-Flow_Bg u-Adjust_Align-left">
          <h3 class="c-Heading_Lv3 areaCampaign-Flow_Flex">
            <span class="c-Txt_Emp-02 u-Adjust_Mr-16">STEP 2</span>
            <span>楽天モバイルのお申し込み</span>
          </h3>

          <div class="c-Accordion u-Adjust_Mt-24">
            <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"　data-ratid="mi_rmb_web_20240316_inac_step2web"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Webサイトの場合</button>
            <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
              <div class="areaCampaign-Flow_Step l-Media_Grid u-Adjust_Mt-24">
                <div class="l-Media_Image areaCampaign-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/area/campaign/common/img-point-02.png?240315" width="285" alt="お申し込みに必要なもの">
                </div>
                <div class="u-Adjust_Mt-16 u-Adjust_Mt-pc-0">
                  <h3 class="c-Heading_Lv4">お申し込みに必要なもの</h3>
                  <ul class="c-List_Text-disc areaCampaign-List_Narrow u-Adjust_Mt-8">
                    <li>
                      <a href="<%= sitepath %>guide/verify/?l-id=mi_rmb_web_20240316_inac_step2web_application_guide_verify" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a>
                    </li>
                    <li>
                      楽天会員ID、パスワード
                    </li>
                    <li>
                      <a href="<%= sitepath %>guide/payment/?l-id=mi_rmb_web_20240316_inac_step2web-creditcard" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                    </li>
                  </ul>
                  <ul class="c-Txt_Cap u-Adjust_Mt-8">
                    <li><a href="<%= sitepath %>flow/for-minors/?l-id=mi_rmb_web_20240316_inac_step2web-application_flow_for-minors" class="c-Link_Txt">※未成年の方のお申し込み方法はこちら</a></li>
                    <li>※MNPワンストップ未対応の携帯電話会社から乗り換えの方は、MNP予約番号の取得が必要です。MNPワンストップ対象の携帯電話会社は<a href="<%= sitepath %>guide/mnp/?l-id=mi_rmb_web_20240316_inac_step2web_onestop" class="c-Link_Txt">こちら</a>からご確認ください。</li>
                    <li>※ショップでのお手続きは、ワンストップ対象の他社からの転入であっても、MNP予約番号を取得のうえ、ご来店ください。</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="c-Accordion">
            <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2" data-ratid="mi_rmb_web_20240316_inac_step2shop"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ショップの場合</button>
            <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
              <div class="l-Media_Grid u-Adjust_Mt-24">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/area/campaign/common/img-point-11.png" width="285" alt="対象ショップ">
                </div>
                <div class="u-Adjust_Mt-16 u-Adjust_Mt-pc-0">
                  <h3 class="c-Heading_Lv4">対象ショップ</h3>
                  <ul class="c-List_Text-disc u-Adjust_Mt-8">
                    <li class="u-Adjust_Mt-8">
                      3月16日INAC神戸レオネッサvsジェフ千葉レディース試合会場特設ブース
                    </li>
                    <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                      <a href="<%= sitepath %>shop/?scid=trf_mno9980&trflg=1" class="c-Btn_Regular-large"><span>お近くのショップをさがす</span></a>
                    </div>
                  </ul>
                </div>
              </div>
              <div class="u-Adjust_Mb-28">
                <div class="areaCampaign-Flow_Step l-Media_Grid">
                  <div class="l-Media_Image areaCampaign-Flow_List-img">
                    <img src="<%= sitepath %>assets/img/area/campaign/common/img-point-02.png?240315" width="285" alt="お申し込みに必要なもの">
                  </div>
                  <div class="u-Adjust_Mt-16 u-Adjust_Mt-pc-0">
                    <h3 class="c-Heading_Lv4">お申し込みに必要なもの</h3>
                    <ul class="c-List_Text-disc areaCampaign-List_Narrow u-Adjust_Mt-8">
                      <li>
                        <a href="<%= sitepath %>guide/verify/?l-id=mi_rmb_web_20240316_inac_step2_application_guide_verify" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a>
                      </li>
                      <li>
                        楽天会員ID、パスワード
                      </li>
                      <li>
                        <a href="<%= sitepath %>guide/payment/?l-id=mi_rmb_web_20240316_inac_step2_application_guide_payment" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                      </li>
                      <li>
                        ご契約者名義の<a href="<%= sitepath %>guide/mnp/?l-id=mi_rmb_web_20240316_inac_step2_application_guide_mnp" class="c-Link_Txt-inline">MNP予約番号</a>（他社から乗り換えの場合）
                      </li>
                    </ul>
                    <ul class="c-Txt_Cap u-Adjust_Mt-8">
                      <li><a href="<%= sitepath %>flow/for-minors/?l-id=mi_rmb_web_20240316_inac_step2_application_flow_for-minors" class="c-Link_Txt">※未成年の方のお申し込み方法はこちら</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- STEP3 -->
        <div class="areaCampaign-Flow_Bg u-Adjust_Align-left">
          <h3 class="c-Heading_Lv3 areaCampaign-Flow_Flex">
            <span class="c-Txt_Emp-02 u-Adjust_Mr-16">STEP 3</span>
            <span>「Rakuten最強プラン」利用開始</span>
          </h3>
          <div class="l-Media_Grid u-Adjust_Mt-16">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/area/campaign/common/img-illust-01.png" width="304" alt="「Rakuten最強プラン」利用開始">
            </div>
            <div class="u-Adjust_Mt-16 u-Adjust_Mt-pc-0">
              <p><span class="c-Txt_Emp-01">期限：</span>2024年4月30日（火）23:59まで</p>
              <div class="u-Adjust_Mt-16">
                <a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/?l-id=mi_rmb_web_20240316_inac_step3_start" class="c-Btn_Regular"><span>プラン利用開始手順</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="u-Adjust_Mt-48">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/area/campaign/inac-kobe/img-event-sp.png" width="100%">
            <img src="<%= sitepath %>assets/img/area/campaign/inac-kobe/img-event-pc.png" width="1032" height="216" alt="抽選で選手直筆サイン入りグッズをプレゼント!">
          </picture>
        </div>
      </div>

      <!-- 2パターン -->
      <div class="c-Tab js-Tab u-Adjust_Mt-pc-24 u-Adjust_Mt-16">
        <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
          <h3 class="c-Heading_Lv3 u-Adjust_Align-left u-Adjust_Mt-24 u-Adjust_Mb-24">楽天モバイルをご契約中の方</h3>
          <div class="areaCampaign-Flow_Bg u-Adjust_Align-left">
            <h3 class="c-Heading_Lv3 areaCampaign-Flow_Flex">
              <span class="c-Txt_Emp-02 u-Adjust_Mr-16">STEP 1</span>
              <span>キャンペーンにエントリーする</span>
            </h3>
            <div class="u-Adjust_Mt-16 areaCampaign-Flow_Flex">
              <div class="areaCampaign-Flow_item">
                <div class="l-Media_Image u-Align_Ccl">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/area/campaign/common/img-point-01-sp.png" width="276" height="145">
                  <img src="<%= sitepath %>assets/img/area/campaign/common/img-point-01-pc.png" alt="キャンペーンにエントリーする" width="304" height="160">
                </picture>
                </div>
              </div>
              <div class="areaCampaign-Flow_Flex-item">
                <p class="u-Adjust_Mt-16 u-Adjust_Mt-pc-0">
                  ご参加には、本ページからエントリーが必要です。<br>
                  エントリー期間：<%= entryData %>
                </p>
                <% if (campaignState === 'finish') { %>
                <% } else { %>
                  <p class="u-Adjust_Mt-16">
                    <a href="https://oubo.rakuten.co.jp/apply/rmobile/inac2403/?l-id=mi_rmb_web_20240316_inac_new_entry" class="c-Btn_Primary-large"><span>エントリーはこちら</span></a>
                  </p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8"><%= oneEntry %></p>  
                <% } %>
              </div>
            </div>
          </div>
          <div class="u-Adjust_Mt-48">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/area/campaign/inac-kobe/img-event-sp.png" width="100%">
              <img src="<%= sitepath %>assets/img/area/campaign/inac-kobe/img-event-pc.png" width="1032" height="216" alt="抽選で選手直筆サイン入りグッズをプレゼント!">
            </picture>
          </div>
        </div>
      </div>
    <!-- アコディアンDONE -->
    </div>

  </div>
</div>

</div>

<!-- 最強プラン -->
<% if (campaignState === 'finish') { %>
  <!-- 削除になる -->
<% } else { %>
  <div class="u-Adjust_Mt-64">
    <%- include('/inc/_saikyo') %>
  </div>
<% } %>

<div class="<%= namespace %>-Layout_Foot u-Adjust_Mt-48">
  <div class="l-System_Container">
    <div class="u-Adjust_Mt-16">
      <div class="<%= namespace %>-Layout_Rule u-Adjust_Mt-64" id="campaign-rule">
        <h3 class="c-Heading_Lv2 u-Adjust_Mt-32 u-Adjust_Align-center">INAC神戸レオネッサ応援キャンペーン</h3>
        <% if (campaignState === 'finish') { %>
        <div class="u-Adjust_Align-center u-Adjust_Mt-32 u-Adjust_Mb-32">
          <p class="c-Txt_Normal-m c-Txt_Emp-02">
            本キャンペーンは<%= enddate %>をもちまして終了いたしました。<br>
            このページに掲載されている情報は、キャンペーン終了時点のものです。
          </p>
          <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>campaign/?l-id=end_campaign" class="c-Link_Txt-inline">開催中のキャンペーンを見る<span class="c-Icon_Chevron-right"></span></a></p>
        </div>
        <% } else { %>
        <!-- 空 -->
        <% } %>
        <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2253', level: '', year: '2024', class: '' }}) %>
      </div>
    </div>
  </div>
</div>

<footer class="g-Footer">
  <div class="g-Footer_Aside">
    <%- include('/include/footer/related/_related-news.ejs') %>
    <%- include('/include/footer/bnr/_bnr-news.ejs') %>
  </div>

  <div class="l-System_Container">
    <%- include('/include/_breadcrumbs', {
      type: 'foot',
      pagetitle,
      directories,
    }) %>
  </div>

  <%- include('/include/_footer') %>
</footer>

<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
