<% const pagetitle = "eSIMの登録先確認・変更方法" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"guide/dual-esim/", label:"デュアルeSIM利用に関する設定方法"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルでのeSIMの登録先の確認および変更方法をご案内します。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>

</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>
<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">

    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

    <p class="u-Adjust_Mt-24">
      eSIMの登録先の確認および変更方法をご案内します。
    </p>

    <ul class="<%= nameSpace %>-Layout_Anchorlink">
      <li><a href="#howto-apply" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>eSIMの登録先の確認方法</a></li>
      <li><a href="#howto-change" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>eSIMの登録先の変更方法</a></li>
    </ul>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="howto-apply">eSIMの登録先の確認方法</h2>

    <ul class="u-Adjust_Mt-16 c-Flow">
      <li>
        <h4 class="c-Heading_Lv4">
          1. ホーム画面の「設定」をタップする
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/dual-esim/registration/sim/registration_1.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </div>
      </li>
    <li>
      <h4 class="c-Heading_Lv4">
        2. 「ネットワークとインターネット」をタップする
      </h4>
      <div>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/dual-esim/registration/sim/registration_2.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </div>
    </li>
    <li>
      <h4 class="c-Heading_Lv4">
        3. 「モバイルネットワーク」をタップする
      </h4>
      <div>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/dual-esim/registration/sim/registration_3.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </div>
    </li>
    <li>
      <h4 class="c-Heading_Lv4">
        4. 各eSIMがSIM1、SIM2のどちらに登録されているか確認する
      </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/dual-esim/registration/sim/registration_4.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </div>
    </li>
  </ul>
  <p class="u-Adjust_Mt-16">以上で登録先の確認は完了です。</p>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="howto-change">eSIMの登録先の変更方法</h2>

    <p class="u-Adjust_Mt-32">
      eSIMの登録先を変更する場合、eSIMの再発行、開通手続きが必要になります。<br>
      eSIMを削除する場合は、SIM再発行手続き後に削除してください。削除すると回線が利用できなくなりますので、ご注意ください。
    </p>


    <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">STEP1. eSIMの再発行</h3>
    <ul class="u-Adjust_Mt-16 c-Flow">
      <li>
        <h4 class="c-Heading_Lv4">
          1. 「my 楽天モバイル」にログインする
        </h4>
        <div class="u-Adjust_Mt-24">
          <div class="c-Box_App">
      <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt="my 楽天モバイル"></div>
      <div class="c-Box_App-txt">
        <p class="c-Box_App-ttl">my 楽天モバイル</p>
        <ul class="c-Box_App-link u-Adjust_Mt-16">
          <li><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" height="44" alt=""></a></li>
          <li><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></li>
          <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
          <li><a href="<%= ecarepath %>my-rakuten-mobile/" class="c-Btn_Regular">Webからログインする</a></li>
        </ul>
      </div>
    </div>
        </div>
      </li>
    <li>
      <h4 class="c-Heading_Lv4">
        2. SIMの変更手続きを申し込む
      </h4>
      <p class="u-Adjust_Mt-16">
        my楽天モバイルの下部アイコン「契約プラン」を選択し、画面が変わりましたら「各種手続き」内の「SIM再発行を申請する」をタップします。
      </p>
      <div class="<%= nameSpace %>-Media_Box-col2">
        <picture class="u-Adjust_Mt-24 u-Adjust_Align-center">
          <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/guide/product/device-upgrade/device-upgrade-Sim-1-sp.png?230516" width="600" height="1202" alt="">
          <img src="<%= sitepath %>assets/img/guide/product/device-upgrade/device-upgrade-Sim-1.png?230516" class="c-Img_Capture" width="300" height="593" alt="" loading="lazy">
        </picture>
        <picture class="u-Adjust_Mt-24 u-Adjust_Align-center">
          <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/guide/product/device-upgrade/device-upgrade-Sim-2-sp.png?230516" width="600" height="1130" alt="">
          <img src="<%= sitepath %>assets/img/guide/product/device-upgrade/device-upgrade-Sim-2.png?230516" class="c-Img_Capture" width="300" height="561" alt="" loading="lazy">
        </picture>
      </div>
    </li>
    <li>
      <h4 class="c-Heading_Lv4">
        3. 申し込むSIMタイプを選ぶ
      </h4>
      <p class="u-Adjust_Mt-16">
        再発行理由と申し込むSIMタイプを選択し「再発行を申請する」をタップしてください。
      </p>
      <div>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/dual-esim/registration/esim/registration2_12-20230516.png" width="300" height="595" alt="" class="c-Img_Capture"></figure>
      </div>
    </li>
    <li>
      <h4 class="c-Heading_Lv4">
        4. ワンタイムパスワードを入力し、「認証する」をタップする
      </h4>
      <p class="u-Adjust_Mt-16 c-Txt_Cap">
        ※ワンタイムパスワードは、ご登録されているメールアドレスまたは楽天モバイル回線の携帯電話番号（SMS）に送信されます。
      </p>
      <p class="u-Adjust_Mt-8 c-Txt_Cap">
        ※ワンタイムパスワードに関してお困りの場合は<a href="<%= sitepath %>faq/detail/00001914/" class="c-Link_Txt">こちら</a>をご参照ください。
      </p>
      <div class="l-Media_Image">
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
          <img src="<%= sitepath %>assets/img/guide/dual-esim/registration/esim/registration2_13-240521.png" width="300" height="535" alt="ワンタイムパスワードを入力し、「認証する」をタップする" class="c-Img_Capture" loading="lazy">
        </figure>
      </div>
    </li>
      <li>
        <h4 class="c-Heading_Lv4">
          5. 「確定する」をタップする
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/dual-esim/registration/esim/registration2_5.png?20220214" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </div>
      </li>
  </ul>
    <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">STEP2. eSIMの開通（楽天回線手続き）</h3>
    <ul class="u-Adjust_Mt-16 c-Flow">
      <li>
        <h4 class="c-Heading_Lv4">
          1. eSIM再発行手続き完了後に届くメール「[楽天モバイル] eSIMプロファイル ダウンロードのお願い」を確認する
        </h4>
      </li>
    <li>
      <h4 class="c-Heading_Lv4">
        2. 「my 楽天モバイル」にログインする
      </h4>
      <div class="u-Adjust_Mt-24">
        <div class="c-Box_App">
    <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt="my 楽天モバイル"></div>
    <div class="c-Box_App-txt">
      <p class="c-Box_App-ttl">my 楽天モバイル</p>
      <ul class="c-Box_App-link u-Adjust_Mt-16">
        <li><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" height="44" alt=""></a></li>
        <li><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></li>
        <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
        <li><a href="<%= ecarepath %>my-rakuten-mobile/" class="c-Btn_Regular">Webからログインする</a></li>
      </ul>
    </div>
  </div>
      </div>
    </li>
    <li>
      <h4 class="c-Heading_Lv4">
        3. 画面右上の三本線を選択し、メニューを開く
      </h4>
      <div>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/dual-esim/registration/esim/registration2_11.png" width="300" height="586" alt="" class="c-Img_Capture"></figure>
      </div>
    </li>
    <li>
      <h4 class="c-Heading_Lv4">
        4. 「申し込み履歴」を選択する
      </h4>
      <div>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/dual-esim/registration/esim/registration3_4.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </div>
    </li>
      <li>
        <h4 class="c-Heading_Lv4">
          5. 該当する申込番号を選択する
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/dual-esim/registration/esim/registration3_5.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </div>
      </li>
      <li><h4 class="c-Heading_Lv4">6. 申込番号の画面が表示されるので、「開通手続きへ進む」ボタンをタップする</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/dual-esim/registration/setup29.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h4 class="c-Heading_Lv4">7. eSIMの登録先を選択する</h4>
        <div class="c-Theme-Light u-Adjust_Mt-32">
          <p class="c-Txt_Emp-02">デュアルeSIMをご利用いただく場合は、1回線目と2回線目を異なる登録先へダウンロードをする必要があります。</p>

          <p class=" u-Adjust_Mt-16">デュアルeSIMをご利用する方はこちらも併せてご確認ください。</p>
          <div class="u-Adjust_Mt-8">
            <a href="<%= sitepath %>guide/dual-esim/" class="c-Link_Txt-inline">デュアルeSIMの設定方法はこちら<span class="c-Icon_Chevron-right"></span></a>
          </div>

          <p class="c-Txt_Cap u-Adjust_Mt-8">
            ※既に利用しているeSIMの登録先がわからない方は、「<a href="<%= sitepath %>guide/dual-esim/registration/#howto-apply">eSIMの登録先の確認方法</a>」よりご確認ください。<br>
            ※誤って2回線とも同じ登録先へダウンロードした場合、「<a href="<%= sitepath %>guide/dual-esim/registration/#howto-change">eSIMの登録先の変更方法</a>」よりeSIMの変更・再発行手続きを行ってください。
          </p>
        </div>
      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/dual-esim/registration/frame01.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h4 class="c-Heading_Lv4">8. 「開通手続きを完了する」をタップする</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/dual-esim/registration/frame02.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h4 class="c-Heading_Lv4">9. アンテナマークが表示されるか確認する</h4>
        <p class="c-Txt_Cap u-Adjust_Mt-24">
          ※アンテナマークが表示されるまで、お時間がかかる場合があります。
        </p>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/setting/main-image-44.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
  </ul>
  <p class="u-Adjust_Mt-24">
    以上で楽天回線手続きの設定は完了です。
  </p>

  <div class="c-Theme-Light u-Adjust_Mt-32">
    <h3 class="c-Heading_Lv3">インターネットに接続されているか、ご確認ください。</h3>
    <p class="u-Adjust_Mt-16">しばらくお待ちいただくと、インターネットがご利用いただけます。<br>Wi-FiをOFFにし、ブラウザアプリなどをご利用いただき、Webページが表示されるかご確認ください。<br>Webページが表示されない場合は、屋外など電波状況の良い場所まで移動をお願いします。また、スマートフォンの再起動、機内モードやモバイルデータ通信のON/OFFをお試しください。</p>
  </div>

  </div>
</div>

<%- include('/include/guide/_review') %>
<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%- include('/include/footer/related/_related-service-v2.ejs') %>

  </div>
  <%- include('/include/guide/_inquiry') %>
  <div class="l-System_Container">
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>
  </div>
  <%- include('/include/_footer') %>
</footer>
</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
