<% const pagetitle = "iPhone SE（第2世代）製品情報" -%>
<% const directory = "iphone-se-2nd" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/iphone/", label:"iPhone"}] -%>
<% const currentDir = "iphone-se-2nd" %>
<% const l_id = 'product_iphone-se-2nd' %>
<% const namespace = "product-iphone-se-2nd" -%>
<%# price-detail.ejsファイルに変数の説明の記載があります -%>
<% const priceDetailConfig = {
  tradeinProductName: 'iPhone 11 Pro Max',
  optionPattern: 'tradein',
  lid: directory,
  capacity: 512,
  maxTradeinPrice: 39600,
  carrier: 'SIMフリー',
}
-%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: "【販売終了】iPhone SE（第2世代）（楽天モバイル）製品紹介。スペック・カメラ仕様・特長（軽量・小さい）ほか｜アイフォン エスイー（Apple）",
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<%- include('/include/product/_category-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/iphone/<%= directory %>/product-<%= directory %>.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/iphone/product-iphone.css?20240426">
<script src="https://r.r10s.jp/com/ap/target/phoenix-2.7.2.min.js"></script>
<%- include('/include/product/_history-css') %>
<%- include('/include/_append-head') %>
<style>
  .modaal-video-wrap {
    margin: 0 !important;
  }
  .product-iphone-se-2nd-Hero_Cta {
    display: none !important;
  }
</style>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= namespace %>-Layout_Hero">
  <div class="l-System_Container">
    <p class="c-Txt_Cap u-Adjust_Align-right">※表記の金額はすべて税込です。</p>
  </div>
  <div class="<%= namespace %>_Section-end u-Adjust_Align-center u-Adjust_Mt-32 u-Adjust_Mr-16 u-Adjust_Ml-16">
    <p class="c-Txt_Emp-01 c-Txt_Normal-l">iPhone SE（第2世代）は、販売終了をいたしました。</p>
  </div>

  <div class="l-System_Container">

    <div class="u-Adjust_Align-center u-Adjust_Mt-32">
      <a href="<%= sitepath %>product/iphone/iphone-se-3rd/?l-id=product_iphone_iphone-se-2nd_product_iphone_iphone-se-3rd" class="c-Btn_Regular-large"><span>iPhone SE（第3世代）詳細・購入はこちら</span></a>
    </div>

    <div class="u-Adjust_Align-center u-Adjust_Mt-32 u-Adjust_Mb-24">
      <a href="<%= sitepath %>product/iphone/?l-id=product_iphone_iphone-se-2nd_product_iphone" class="c-Link_Txt-inline-icon js-scroll">iPhone一覧を見る<span class="c-Icon_Chevron-right"></span></a>
    </div>
    <%
      const productInfo = {
        'name': 'iPhone SE（第2世代）',
        namespace: namespace,
        'is5g': false,
        'ctalabel': 'iPhone SE（第2世代） を購入する',
        'nostack': true,
        'nosell' : true,
        'color': [
          {
            'code': '#F3F3F3',
            'name': 'ホワイト'
          },
          {
            'code': '#262529',
            'name': 'ブラック'
          },
          {
            'code': '#A5282C',
            'name': '（PRODUCT）RED&#8482;'
          },
        ],
        'ichiba': {
          'flag': false,
          'url': '',
        },
        'slider': [
          [
            `/assets/img/product/iphone/${currentDir}/pht-device-00.png?210424`,
            `/assets/img/product/iphone/${currentDir}/pht-device-01.png?210424`,
            `/assets/img/product/iphone/${currentDir}/pht-device-02.png?210424`,
            `/assets/img/product/iphone/${currentDir}/pht-device-03.png?210424`,
          ],
          [
            `/assets/img/product/iphone/${currentDir}/pht-device-04.png?210424`,
            `/assets/img/product/iphone/${currentDir}/pht-device-05.png?210424`,
            `/assets/img/product/iphone/${currentDir}/pht-device-06.png?210424`,
            `/assets/img/product/iphone/${currentDir}/pht-device-07.png?210424`,
          ],
          [
            `/assets/img/product/iphone/${currentDir}/pht-device-08.png?210424`,
            `/assets/img/product/iphone/${currentDir}/pht-device-09.png?210424`,
            `/assets/img/product/iphone/${currentDir}/pht-device-10.png?210424`,
            `/assets/img/product/iphone/${currentDir}/pht-device-11.png?210424`,
          ],
        ],
        'movie': {
          'flag': true,
          'url': 'https://www.youtube.com/embed/xINlEDDL1Ks',
          'thumbnail': '/assets/img/product/iphone/iphone-se-2nd/apple-movie.png',
        },
      }
    %>
    <%- include('/include/product/iphone/_product-info-se.ejs', { productInfo: productInfo }) %>


  </div>
</div>

<div id="spec" class="<%= namespace %>-Appeal_Wrapper u-Adjust_Mb-64">
  <div class="l-System_Container">
    <div class="c-Tab js-Tab">
      <div class="c-Tab_Panel <%= namespace %>-Spec_Panel" id="tab-content2" role="tabpanel" aria-hidden="false" aria-labelledby="製品詳細・スペック">
        <div class="u-Adjust_Mt-40">
          <section class="<%= namespace %>-Spec_Section-1">
            <div class="<%= namespace %>-Spec_Section-1-bg">
              <div class="u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/product/iphone/iphone-se-2nd/logo-phone.png" alt="" width="121">
                <p class="<%= namespace %>-Spec_Section-1-catch">手にしたくなるものを、<br>手にしやすく。</p>
                <p class="<%= namespace %>-Spec_Section-1-lead"> 人気があるサイズに、最もパワフルなチップを入れて、<br>最も手に入れやすくしたiPhone。<br>あなたが待っていたものをお届けします。</p>
                <div class="<%= namespace %>-Spec_Section-1-btn">
                  <a href="<%= sitepath %>product/iphone/iphone-se-2nd/">購入する</a>
                </div>
                <div class="<%= namespace %>-Spec_Section-1-visual">
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-se-2nd/section-1-1.png" alt="">
                </div>
              </div>
            </div>

          </section>
          <section class="<%= namespace %>-Spec_Section-2">
            <div class="<%= namespace %>-Spec_Section-2-bg">
              <div class="<%= namespace %>-Spec_Section-2-flex">
                <div>
                  <p class="<%= namespace %>-Spec_Section-2-heading">デザイン</p>
                  <p class="<%= namespace %>-Spec_Section-2-catch">美しさを一つに。</p>
                  <div class="u-Adjust_Align-center u-Adjust_Mt-32">
                    <img class="<%= namespace %>-Utility_Disp-sp" src="<%= sitepath %>assets/img/product/iphone/iphone-se-2nd/section-2-1-sp.png" alt="">
                  </div>
                </div>
                <div>
                  <p class="<%= namespace %>-Spec_Section-2-lead">あざやかな4.7インチRetina HDディスプレイ。 ロック解除と認証がすばやく安全にできるTouch ID。 最大水深1メートルで30分間の耐水性能¹。<br>
                    そのすべてを、薄くて軽いボディに。</p>
                </div>
              </div>
              <div class="<%= namespace %>-Spec_Section-2-exp <%= namespace %>-Utility_Disp-pc">
                <div class="">
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-se-2nd/section-2-1-pc.png" width="" alt="">
                </div>
              </div>
            </div>
          </section>
          <section class="<%= namespace %>-Spec_Section-3">
            <div class="<%= namespace %>-Spec_Section-3-bg">
              <div class="<%= namespace %>-Spec_Section-3-flex">
                <div></div>
                <div>
                  <p class="<%= namespace %>-Spec_Section-3-heading">パフォーマンス</p>
                  <p class="<%= namespace %>-Spec_Section-3-catch">iPhone 11 Proと<br>同じチップ。<br>ちょっとした自慢です。</p>
                  <div class="<%= namespace %>-Spec_Section-3-visual <%= namespace %>-Utility_Disp-sp">
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-se-2nd/section-3-1-sp.png"  width="" alt="">
                  </div>
                  <p class="<%= namespace %>-Spec_Section-3-exp-1">A13 Bionicは、スマートフォンの中で最速のチップ。アプリの起動も、ゲームプレイも、あらゆることが驚くほど速くなります。</p>
                </div>
              </div>
            </div>
          </section>
          <section class="<%= namespace %>-Spec_Section-4">
            <div class="<%= namespace %>-Spec_Section-4-bg">
              <div class="<%= namespace %>-Spec_Section-4-flex">
                <div>
                  <p class="<%= namespace %>-Spec_Section-4-heading">カメラ</p>
                  <p class="<%= namespace %>-Spec_Section-4-catch">ポートレートモード。<br>さあ、にっこり。</p>
                  <div class="<%= namespace %>-Spec_Section-4-visual <%= namespace %>-Utility_Disp-sp u-Adjust_Mt-32">
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-se-2nd/section-4-1.png" alt="">
                  </div>
                  <p class="<%= namespace %>-Spec_Section-4-exp-1">A13 Bionicチップが動かす先進的なカメラシステムを搭載。 誰かを撮る時も、セルフィーでも、被写体が美しく際立つポートレートモードが使えます。</p>
                </div>
                <div>
                  <img class="<%= namespace %>-Spec_Section-4-visual <%= namespace %>-Utility_Disp-pc" src="<%= sitepath %>assets/img/product/iphone/iphone-se-2nd/section-4-1.png" alt="">
                </div>
              </div>
            </div>
          </section>
          <section class="<%= namespace %>-Spec_Section-5">
            <div class="<%= namespace %>-Spec_Section-5-bg">
              <div class="<%= namespace %>-Spec_Section-5-flex">
                <div class="">
                  <p class="<%= namespace %>-Spec_Section-5-heading">ビデオ</p>
                  <p class="<%= namespace %>-Spec_Section-5-catch">高高高高解像度。</p>
                  <p class="<%= namespace %>-Spec_Section-5-exp-1">フルHDの4倍もの細部をとらえる4Kビデオを撮影できます。 写真の撮影中にシャッターを長押しするだけでビデオ撮影を開始できるQuickTakeもついています。</p>
                </div>
                <div>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-se-2nd/section-5-1.png" alt="">
                </div>
              </div>
            </div>
          </section>
          <section class="<%= namespace %>-Spec_Section-6">
            <div class="<%= namespace %>-Spec_Section-6-bg">
              <div>
                <p class="<%= namespace %>-Spec_Section-6-heading">バッテリー</p>
                <p class="<%= namespace %>-Spec_Section-6-catch">一気見できる<br>バッテリー駆動時間。</p>
                <p class="<%= namespace %>-Spec_Section-6-exp-1">ドラマや映画の世界を次から次へと楽しめるように。 iPhone SEなら、1回の充電でビデオを最大13時間再生できます²。</p>
              </div>
            </div>
          </section>
          <section class="<%= namespace %>-Spec_Section-7">
            <div class="<%= namespace %>-Spec_Section-7-bg">
              <div class="<%= namespace %>-Spec_Section-7-flex">
                <div class="<%= namespace %>-Utility_Disp-pc">
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-se-2nd/section-7-1.png" alt="">
                </div>
                <div class="">
                  <p class="<%= namespace %>-Spec_Section-7-heading">プライバシー</p>
                  <p class="<%= namespace %>-Spec_Section-7-catch">プライバシー機能を内蔵。</p>
                  <div class="<%= namespace %>-Spec_Section-7-visual <%= namespace %>-Utility_Disp-sp u-Adjust_Mt-48">
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-se-2nd/section-7-1.png" alt="">
                  </div>
                  <p class="<%= namespace %>-Spec_Section-7-exp-1">Apple製品はプライバシーを守りながら、自分の情報を自分で管理できるように設計されています。<br>
                    決して簡単なことではありません。 でもAppleは、これこそがイノベーションだと信じています。</p>
                </div>
              </div>
            </div>
          </section>
          <section class="<%= namespace %>-Spec_Section-8">
            <div class="<%= namespace %>-Spec_Section-8-bg">
              <p class="<%= namespace %>-Spec_Section-8-catch">うれしい話がまだあります。</p>
              <dl class="<%= namespace %>-Spec_Section-8-flex">
                <div>
                  <dt class="<%= namespace %>-Spec_Section-8-exp-icon"><img src="<%= sitepath %>assets/img/product/iphone/iphone-se-2nd/section-8-1.png" width="50" alt=""></dt>
                  <dd class="<%= namespace %>-Spec_Section-8-exp-1"><span>True Tone</span>環境に合わせてホワイトバランスを調整。 ディスプレイ上の画像を自然に、目により優しく映し出します。</dd>
                </div>
                <div>
                  <dt class="<%= namespace %>-Spec_Section-8-exp-icon"><img src="<%= sitepath %>assets/img/product/iphone/iphone-se-2nd/section-8-2.png" width="50" alt=""></dt>
                  <dd class="<%= namespace %>-Spec_Section-8-exp-1"><span>触覚タッチ</span>ショートカットを使うためにアイコンを長押しすると、かすかな振動を感じます。 まるで実際にボタンを押しているようです。</dd>
                </div>
                <div>
                  <dt class="<%= namespace %>-Spec_Section-8-exp-icon"><img src="<%= sitepath %>assets/img/product/iphone/iphone-se-2nd/section-8-3.png" width="44" alt=""></dt>
                  <dd class="<%= namespace %>-Spec_Section-8-exp-1"><span>拡張現実</span>現実の世界にあるものを測定したり、夜空の星を映しながらその上に星座を描いたり。 最新のARアプリを使って様々なことができます。</dd>
                </div>
                <div>
                  <dt class="<%= namespace %>-Spec_Section-8-exp-icon"><img src="<%= sitepath %>assets/img/product/iphone/iphone-se-2nd/section-8-4.png" width="50" alt=""></dt>
                  <dd class="<%= namespace %>-Spec_Section-8-exp-1"><span>ステレオオーディオ録音</span>iPhone SEはビデオをステレオ音声で撮影できます。 映像だけでなく、サウンドにも引き込まれるはず。</dd>
                </div>
                <div>
                  <dt class="<%= namespace %>-Spec_Section-8-exp-icon"><img src="<%= sitepath %>assets/img/product/iphone/iphone-se-2nd/section-8-5.png" width="44" alt=""></dt>
                  <dd class="<%= namespace %>-Spec_Section-8-exp-1"><span>より速いWi-Fiとモバイルデータ通信</span>Wi-Fiとモバイルデータ通信。 どちらに接続していても、Wi-Fi 6とギガビット級LTEがダウンロード速度を大幅にスピードアップします³。</dd>
                </div>
                <div>
                  <dt class="<%= namespace %>-Spec_Section-8-exp-icon"><img src="<%= sitepath %>assets/img/product/iphone/iphone-se-2nd/section-8-6.png" width="79" alt=""></dt>
                  <dd class="<%= namespace %>-Spec_Section-8-exp-1"><span>オーディオの共有</span>1台のiPhoneに2組のAirPodsまたはBeatsヘッドフォンをペアリングすれば、友だちと一緒に同じプレイリストを楽しめます⁴。</dd>
                </div>
                <div>
                  <dt class="<%= namespace %>-Spec_Section-8-exp-icon"><img src="<%= sitepath %>assets/img/product/iphone/iphone-se-2nd/section-8-7.png" width="50" alt=""></dt>
                  <dd class="<%= namespace %>-Spec_Section-8-exp-1"><span>デュアルSIMで2つの電話番号を</span>eSIMによるデュアルSIMに対応。1台のiPhoneで、仕事用とプライベート用の電話番号を使い分けられます⁵。</dd>
                </div>
                <div>
                  <dt class="<%= namespace %>-Spec_Section-8-exp-icon"><img src="<%= sitepath %>assets/img/product/iphone/iphone-se-2nd/section-8-8.png" width="72" alt=""></dt>
                  <dd class="<%= namespace %>-Spec_Section-8-exp-1"><span>高速充電に対応</span>別売りの高速充電アダプタを使えば、ゼロから最大50パーセントまでの充電が30分で完了します⁶。</dd>
                </div>
              </dl>
            </div>
          </section>

          <section class="<%= namespace %>-Spec_Section-other">
            <div class="<%= namespace %>-Spec_Section-other-bg">
              <div class="<%= namespace %>-Spec_Section-other">
                <div class="<%= namespace %>-Spec_Section-other-inner">
                  <section class="<%= namespace %>-Spec_Section-other-accessory">
                    <div class="c-Theme-White u-Adjust_Mt-16">
                      <div class="<%= namespace %>-Spec_Section-other-accessory-flex">
                        <div class="">
                          <p class="<%= namespace %>-Spec_Section-other-accessory-heading">アクセサリ</p>
                          <p class="<%= namespace %>-Spec_Section-other-accessory-catch">あなたのiPhoneの<br>魅力を広げよう。</p>
                          <p class="<%= namespace %>-Spec_Section-other-accessory-exp">iPhoneのために特別に作られたケース、AirPods、写真撮影用ツール、ワイヤレス充電ドックなどもそろっています。</p>
                        </div>
                        <div class="">
                          <img class="<%= namespace %>-Utility_Disp-sp" src="<%= sitepath %>assets/img/product/iphone/iphone-se-2nd/section-other-accessory-1-sp.png" alt="">
                          <img class="<%= namespace %>-Utility_Disp-pc" src="<%= sitepath %>assets/img/product/iphone/iphone-se-2nd/section-other-accessory-1-pc.png" alt="">
                        </div>
                      </div>
                    </div>
                  </section>
                  <section class="<%= namespace %>-Spec_Section-other-care">
                    <div class="c-Theme-White u-Adjust_Mt-16">
                      <div class="<%= namespace %>-Spec_Section-other-care-flex">
                        <div class="">
                          <p class="<%= namespace %>-Spec_Section-other-care-heading">AppleCare+</p>
                          <p class="<%= namespace %>-Spec_Section-other-care-catch">Appleの専任スペシャリストによるサポートをワンストップで。</p>
                          <p class="<%= namespace %>-Spec_Section-other-care-exp">AppleCare+に加入すると、ハードウェアとソフトウェアの保証を延長できます。 iPhoneに詳しいスタッフによるサポートも優先で受けられます。</p>
                        </div>
                        <div class="">
                          <img src="<%= sitepath %>assets/img/product/iphone/iphone-se-2nd/section-other-care-1.png" alt="">
                        </div>
                      </div>
                    </div>
                  </section>
                  <section class="<%= namespace %>-Spec_Section-other-music">
                    <div class="c-Theme-White u-Adjust_Mt-16">
                      <div class="<%= namespace %>-Spec_Section-other-music-flex">
                        <div class="">
                          <div class="<%= namespace %>-Spec_Section-other-music-logo">
                            <img src="<%= sitepath %>assets/img/product/iphone/iphone-se-2nd/music.png" width="71" alt="">
                          </div>
                          <p class="<%= namespace %>-Spec_Section-other-music-catch">6,000万曲に<br>飛び込もう。</p>
                          <p class="<%= namespace %>-Spec_Section-other-music-exp">広告なしで6,000万曲をストリーミング。お気に入りの曲をダウンロードすれば、オフラインでも再生できます。</p>
                        </div>
                        <div class="">
                          <img src="<%= sitepath %>assets/img/product/iphone/iphone-se-2nd/section-other-music-1.png" alt="">
                        </div>
                      </div>
                    </div>
                  </section>
                  <section class="<%= namespace %>-Spec_Section-other-tv">
                    <div class="c-Theme-White u-Adjust_Mt-16">
                      <div class="<%= namespace %>-Spec_Section-other-tv-flex">
                        <div class="">
                          <div class="<%= namespace %>-Spec_Section-other-tv-logo">
                            <img src="<%= sitepath %>assets/img/product/iphone/iphone-se-2nd/tv.png" width="58" alt="">
                          </div>
                          <p class="<%= namespace %>-Spec_Section-other-tv-catch">テレビや映画の世界にいる最もクリエイティブな才能たちが生み出すオリジナルストーリー。</p>
                          <p class="<%= namespace %>-Spec_Section-other-tv-exp">iPhoneを購入すると3カ月間体験できます。</p>
                        </div>
                        <div>
                          <img src="<%= sitepath %>assets/img/product/iphone/iphone-se-2nd/section-other-tv-1.png" alt="">
                          <p class="c-Txt_Cap">ザ・モーニングショーはApple TVアプリで観られます。</p>
                        </div>
                      </div>
                    </div>
                  </section>
                  <div class="<%= namespace %>-Spec_Section-other-note">
                    <p class="c-Txt_Cap">1. iPhone SE（第2世代）は防沫性能、耐水性能、防塵性能を備えており、実験室の管理された条件下でのテストにより、IEC規格60529にもとづくIP67等級に適合しています（最大水深1メートルで最大30分間）。 防沫性能、耐水性能、防塵性能は永続的に維持されるものではなく、通常の使用によって耐性が低下する可能性があります。iPhoneが濡れている場合は充電しないでください。クリーニングと乾燥の方法についてはユーザガイドをご覧ください。 液体による損傷は保証の対象になりません。</p>
                    <p class="c-Txt_Cap">2. バッテリーに関する各数値はネットワーク構成やその他の多くの要素によって変わり、実際の結果は異なる場合があります。 バッテリーは充電回数に限りがあり、将来的にはApple正規サービスプロバイダによる交換が必要になる場合があります。 バッテリー駆動時間と充電サイクルは使用方法と設定によって異なります。詳しくはapple.com/jp/batteriesおよびapple.com/jp/iphone/battery.htmlをご覧ください。</p>
                    <p class="c-Txt_Cap">3. データプランが必要です。 ギガビット級LTEは特定の国の特定の通信事業者で利用できます。 速度は論理上のスループットにもとづくもので、使用する場所の条件および通信事業者によって変わります。 LTE対応の詳細については通信事業者にお問い合わせください。apple.com/jp/iphone/LTEもあわせてご覧ください。</p>
                    <p class="c-Txt_Cap">4. AirPods（第1世代以降）、Powerbeats Pro、BeatsSolo3 Wireless、BeatsX、Beats Studio3 Wireless、Powerbeats3 Wirelessに対応します。iOSの最新バージョンが必要です。</p>
                    <p class="c-Txt_Cap">5. eSIMを利用するには通信サービスプランへの加入が必要です（これには通信事業者の変更とローミングに対する制限が含まれる場合があり、契約期間終了後も制限が適用されます）。 通信事業者によってはeSIMに対応しない場合があります。 iPhoneでのeSIMの使用は、通信事業者からの購入時に無効になっている場合があります。 詳しくは通信事業者にお問い合わせください。詳細についてはsupport.apple.com/kb/HT209044をご覧ください。</p>
                    <p class="c-Txt_Cap">6. iPhone SE（第2世代）の試作ハードウェアとソフトウェア、Apple USB-C電源アダプタ（18WモデルA1720と30WモデルA1882）アクセサリを使用し、2020年2月にAppleが実施したテスト結果によります。<br>
                      高速充電のテストは、バッテリーを完全に消費したiPhoneハードウェアを使って実施しました。 充電時間は環境条件によって変わり、実際の結果は異なる場合があります。 </p>
                    <p class="c-Txt_Cap">国や地域によっては一部の機能を利用できない場合があります。</p>
                    <p class="c-Txt_Cap">iPhoneの商標は、アイホン株式会社のライセンスにもとづき使用されています。</p>
                    <p class="c-Txt_Cap">その他の免責事項：</p>
                    <p class="c-Txt_Cap">Apple Music<br>Apple Musicを利用するにはサブスクリプションが必要です。</p>
                    <p class="c-Txt_Cap">Apple TV+<br>
                      3カ月分のサブスクリプション終了後は月額600円がかかります。サブスクリプションは、ファミリー共有のグループにつき1件です。本オファーを利用するには、条件を満たすデバイスのアクティベーションから3か月以内にサブスクリプションに登録する必要があります。キャンセルしない限りサブスクリプションは自動的に更新されます。 制限およびその他の条件が適用されます。詳しくはapple.com/jp/promoをご覧ください。</p>
                  </div>
                  <div class="<%= namespace %>-Spec_Section-other-feature">
                    <p class="<%= namespace %>-Spec_Section-other-feature-catch">主な特長</p>
                    <ul class="c-List_Text-disc">
                      <li>4.7インチRetina HDディスプレイ <sub>1</sub></li>
                      <li>水深1メートルで最大30分間のIP67等級を持つ耐水性能と防塵性能 <sub>3</sub></li>
                      <li>ポートレートモード、ポートレートライティング、深度コントロール、次世代のスマートHDRに対応し、4Kビデオが撮れる12MPカメラ（広角）</li>
                      <li>ポートレートモード、ポートレートライティング、深度コントロールに対応する7MPフロントカメラ</li>
                      <li>セキュア認証とApple PayのためのTouch ID <sub>4</sub></li>
                      <li>第3世代のNeural Engineを搭載したA13 Bionicチップ</li>
                      <li>高速充電に対応</li>
                      <li>ワイヤレス充電 <sub>5</sub></li>
                      <li>再設計されたホーム画面上のウィジェット、まったく新しいAppライブラリ、AppClipなどが使えるiOS14</li>
                    </ul>
                    <p class="c-Txt_Cap u-Adjust_Mt-56">1 ディスプレイのサイズは対角線を測ったものです。<br>
                      2 バッテリー駆動時間は使用条件と構成によって異なります。詳しくはapple.com/jp/batteriesをご覧ください。<br>
                      3 iPhone SEは防沫性能、耐水性能、防塵性能を備えており、実験室の管理された条件下でテストされています。iPhone SEはIEC規格60529にもとづくIP67等級に適合しています（最大水深1メートルで最大30分間）。防沫性能、耐水性能、防塵性能は永続的に維持されるものではなく、通常の使用によって耐性が低下する可能性があります。iPhoneが濡れている場合は充電しないでください。クリーニングと乾燥の方法についてはユーザガイドをご覧ください。液体による損傷は保証の対象になりません。<br>
                      4 Apple Payは特定の国と地域で利用できます。Apple Payを利用できる国と地域の一覧についてはapple.com/jp/ios/feature-availability/#apple-payをご覧ください。Apple Payに対応しているデバイスについてはsupport.apple.com/ja-jp/HT208531をご覧ください。<br>
                      5 Qiワイヤレス充電器は別売りです。<br>
                      iPhoneの商標は、アイホン株式会社のライセンスにもとづき使用されています。
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

  </div>
</div>

<%- include('/include/product/iphone/_product-list.ejs', { l_id: '', currentDir }) %>
<%- include('/include/product/iphone/_equipment.ejs', { l_id: '' }) %>
<%- include('/include/product/iphone/_chat') %>
<div class="l-System_Container u-Adjust_Pb-64">
  <p class="c-Txt_Cap u-Adjust_Mt-64">最大水深1メートルで30分間の耐水性能。バッテリー駆動時間は使用条件と構成によって異なります。詳しくは<a href="https://www.apple.com/jp/batteries/" target="_blank" rel="noopenner noreferrer">apple.com/jp/batteries</a>をご覧ください。
    Appleは、環境に関する目標の達成に向けた取り組みを続けています。その一環として、iPhone SEには電源アダプタとEarPodsが付属していません。今お使いのApple電源アダプタとヘッドフォンを利用するか、別売りのアクセサリを購入してください。 </p>
  <p class="c-Txt_Cap u-Adjust_Mt-16">Apple、Appleのロゴ、Apple Music、iPad、iPhone、AirPods、AirPods Pro、iTunes、Safariは、米国および他の国々で登録されたApple Inc.の商標です。
    iPhoneの商標は、アイホン株式会社のライセンスに基づき使用されています。
    App Store、AppleCare、iCloud、iTunes Storeは、Apple Inc.のサービスマークです。
    iOS商標は、米国Ciscoのライセンスに基づき使用されています。
    RetinaはApple Inc.の商標です。</p>
</div>

<%- include('/include/product/iphone/_floating', {
  url: 'https://portal.mobile.rakuten.co.jp/equipment-details?exid=306002&selectAvailable=true&l-id=iphone-se-2nd_float_bss-iphone-se-2nd',
  message: 'iPhone SE（第2世代）を購入する'
}) %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-product-v2.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/product/_category-js') %>
<%- include('/include/product/_history-js') %>
<%- include('/include/_append-body') %>
<script src="<%= sitepath %>assets/js/product.iphone.common.bundle.js?20240522"></script>

</body>
</html>
