<% const namespace = 'rakuten-employee-en' _%>
<% const pagetitle = 'Rakuten UN-LIMIT VII referral program' -%>
<% const directories = [] -%>
<%-
  include('/_header', {
    pagetitle,
    // directories,
    description: 'This page explains the Rakuten UN-LIMIT VII referral program.',
    noindex: true,
    pathname: filepath,
    isEnglish: true,
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/inc/i-unlimit.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/rakuten-employee-en/rakuten-employee-en.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body class="<%= namespace %>-Base">
<%- include('/include/_prepend-body') %>

<div class="l-System">
<%- include('/include/_header-simple') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>">Top</a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= namespace %>-Layout_Kv">
  <h1>
    <picture>
      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/rakuten-employee/en/img-hero-sp-230131-2.png">
      <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/en/img-hero-pc-230131-2.png" width="2000" height="260" alt="SPECIAL INVITATION TO YOU Rakuten UN-LIMIT VII Referral program">
    </picture>
  </h1>
</div>
<div class="u-Adjust_Mt-32 l-System_Container">
<p class="c-Txt_Normal-l c-Txt_Emp-02 u-Adjust_Mt-16 u-Adjust_Mb-16 u-Adjust_Align-center">
  The Rakuten UN-LIMIT VII Referral program has ended.<br>
  Thank you very much for your support.
</p>
</div>
<div class="<%= namespace %>-Layout_Period u-Adjust_Align-center">
  1st period: Nov. 8, 2022 9:00 (Tue) - Jan. 31, 2023 23:59 (Tue)　2nd period: Feb. 1, 2023 0:00 (Wed) - Feb. 14, 2023 23:59 (Tue)
</div>
<div class="l-System_Container">
  <p class="c-Txt_Cap u-Adjust_Mt-24 u-Adjust_Mb-8 u-Adjust_Align-center">
*Your Rakuten Membership information and contract status will be provided to Rakuten Mobile, Rakuten Group employees who provided the referral code to you, and their affiliated companies for the purpose of informing you about this campaign and the status of the procedure and other information.
  </p>
  <p class="u-Adjust_Align-right u-Adjust_Mt-24">
    <a href="<%= sitepath %>campaign/rakuten-employee/?l-id=campaign_rakuten-employee-en_campaign_rakuten-employee" class="c-Link_Txt-inline">日本語<span class="c-Icon_Chevron-right"></span></a>
  </p>
</div>

<div class="l-System_Container">

  <div id="terms" class="c-Theme-Borderbox u-Adjust_Mt-32">
    <h2 class="c-Txt_Normal-ll u-Adjust_Align-center">Reward points conditions</h2>
    <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
      There are certain conditions for earning campaign points. Please check <a href="<%= sitepath %>campaign/?l-id=campaign_rakuten-employee-en_campaign01" class="c-Link_Txt">each campaign page</a> for details.
    </p>
    <div class="<%= namespace %>-Layout_Conditions u-Adjust_Mt-16">
      <div class="<%= namespace %>-Layout_Conditions-item">
        <h4 class="c-Txt_Normal-m <%= namespace %>-Layout_Conditions-title <%= namespace %>-Layout_Conditions-title-mod-1">
          Enter the "referral code" for entry
        </h4>
        <div class="<%= namespace %>-Layout_Conditions-item-sub">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/rakuten-employee/en/conditions1-sp-221012.png">
            <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/en/conditions1-221012.png" alt="">
          </picture>
          <p class="c-Txt_Cap <%= namespace %>-Layout_Conditions-item-note">*Once entered, the code cannot be changed, modified, or canceled.</p>
        </div>
      </div>
      <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/en/icon-plus.png" alt="plus" width="32" height="32">
      <div class="<%= namespace %>-Layout_Conditions-item">
        <h4 class="c-Txt_Normal-m <%= namespace %>-Layout_Conditions-title">
          Subscribe to Rakuten Mobile for the first time
        </h4>
        <div class="<%= namespace %>-Layout_Conditions-item-sub">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/rakuten-employee/en/conditions2-sp-221012.png">
            <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/en/conditions2-221012.png" alt="">
          </picture>
          <p class="<%= namespace %>-Layout_Conditions-item-note">Apply for our plan (SIM) +  specified iPhone/Android, or our plan (SIM) only.</p>
        </div>
      </div>
      <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/en/icon-plus.png" alt="plus" width="32" height="32">
      <div class="<%= namespace %>-Layout_Conditions-item">
        <h4 class="c-Txt_Normal-m <%= namespace %>-Layout_Conditions-title">
          Start using our plan
        </h4>
        <div class="<%= namespace %>-Layout_Conditions-item-sub">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/rakuten-employee/en/conditions3-sp-221012.png">
            <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/en/conditions3-221012.png" alt="">
          </picture>
          <p class="<%= namespace %>-Layout_Conditions-item-note">Deadline: 23:59 on the last day of next month following your application</p>
        </div>
      </div>
      <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/en/icon-plus.png" alt="plus" width="32" height="32">
      <div class="<%= namespace %>-Layout_Conditions-item">
        <h4 class="c-Txt_Normal-m <%= namespace %>-Layout_Conditions-title">
          Calls over 10 sec.<br>
          with Rakuten Link
        </h4>
        <div class="<%= namespace %>-Layout_Conditions-item-sub">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/rakuten-employee/en/conditions4-sp-221012.png">
            <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/en/conditions4-221012.png" alt="">
          </picture>
          <p class="<%= namespace %>-Layout_Conditions-item-note">Deadline: 23:59 on the last day of next month following your application</p>
        </div>
      </div>
    </div>

    <div class="<%= namespace %>-Layout_Accordion-card c-Accordion u-Adjust_Mt-24">
      <button id="accordion-7" class="c-Accordion_Trigger js-Accordion_Trigger u-Adjust_Align-center" aria-expanded="false" aria-controls="accordion-content-7" data-ratid="campaign_rakuten-employee_accordion-achievement-conditions" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>How to check call history on Rakuten Link</button>
      <div id="accordion-content-7" class="<%= namespace %>-Layout_Accordion-card-panel js-Accordion_Panel" role="region" aria-labelledby="accordion-7" aria-hidden="false">
        <div class="<%= namespace %>-Layout_Conditions-item-sub">
          <ol class="u-Adjust_Mt-16">
            <li>
              <p class="c-Txt_Emp-01">1. Visit "<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile?l-id=campaign_rakuten-employee-en_my-rakuten-mobile_accordion" class="c-Link_Txt">my Rakuten Mobile</a>"</p>
            </li>
            <li class="u-Adjust_Mt-32">
              <p class="c-Txt_Emp-01">2. Select "Usage Status (利用状況)" from the menu in the upper right corner</p>
              <div class="<%= namespace %>-Layout_Img-capture u-Adjust_Mt-32">
                <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/en/img-cap1.png" width="300" height="322" alt="">
              </div>
            </li>
            <li class="u-Adjust_Mt-32">
              <p class="c-Txt_Emp-01">3. Select the "Calls (通話)" tab and make sure you have <span class="c-Txt_Emp-02">a history of at least 10 seconds of outgoing calls with Rakuten Link</span></p>
              <div class="<%= namespace %>-Layout_Img-capture u-Adjust_Mt-32">
                <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/en/img-cap2.png" width="300" height="199" alt="">
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>

  </div>


  <h2 id="get-point" class="<%= namespace %>-Layout_Step-title-content c-Heading_Lv2 u-Adjust_Mt-48 u-Adjust_Pt-0">
    Flow of earning campaign points
  </h2>

  <div class="<%= namespace %>-Layout_Accordion u-Adjust_Mt-8">
    <div class="<%= namespace %>-Layout_Accordion-card c-Accordion">
      <button type="button" id="accordion-step-1-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-step-1-1" data-ratid="" data-ratevent="click" data-ratparam="all">
        <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
        <span class="<%= namespace %>-Layout_Accordion-label">
          <span class="<%= namespace %>-Layout_Accordion-label-step">STEP 1</span>
          <span>Enter your referral code in the entry form</span>
        </span>
      </button>
      <div id="accordion-content-step-1-1" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Layout_Accordion-card-panel" role="region" aria-labelledby="accordion-step-1-1" aria-hidden="true">

        <div class="l-Media_Grid">
          <div class="l-Media_Image <%= namespace %>-Layout_Flow-list-img <%= namespace %>-Layout_Flow-list-img-1">
            <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/en/img-step-1.png" width="289" height="189" alt="">
          </div>
          <div class="<%= namespace %>-Layout_Flow-list-text-1">
            <p>
              Please enter <span class="c-Txt_Emp-02">the 2-digit alphanumeric + 5-digit numeric "referral code"</span> found on the leaflet you received from your referral, and click the entry button.
            </p>
            <div class="c-Txt_Cap u-Adjust_Mt-8">
              <p>*Please log in with your Rakuten ID.</p>
              <p>*Once entered, the code cannot be changed, modified, or canceled.</p>
            </div>
            <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">
              *If you are applying for our plan (SIM) only, please check whether your smartphone is compatible with Rakuten line and unlock your SIM. <a href="<%= sitepath %>product/sim/?l-id=campaign_rakuten-employee-en_product_sim" class="c-Link_Txt">Click here for details.</a>
            </p>
            <div class="u-Adjust_Mt-24">
              <p><a href="#entry" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>Go to the entry form</a></p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="<%= namespace %>-Layout_Accordion-card c-Accordion">
      <button type="button" id="accordion-step-2-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-step-2-1" data-ratid="campaign_rakuten-employee_accordion-point-acquisition-flow-step2" data-ratevent="click" data-ratparam="all">
        <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
        <span class="<%= namespace %>-Layout_Accordion-label">
          <span class="<%= namespace %>-Layout_Accordion-label-step">STEP 2</span>
          <span>Apply for Rakuten Mobile and specified iPhone/Android</span>
        </span>
      </button>
      <div id="accordion-content-step-2-1" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Layout_Accordion-card-panel" role="region" aria-labelledby="accordion-step-2-1" aria-hidden="true">
        <div class="c-Tab js-Tab">
          <ul class="c-Tab_Items" role="tablist">
            <li class="c-Tab_Item" id="tab-menu1-1" role="tab" aria-selected="true" aria-controls="tab-content1-1" data-ratid="campaign_rakuten-employee_tab_application_web_01" data-ratevent="click" data-ratparam="all">Web</li>
            <li class="c-Tab_Item" id="tab-menu1-2" role="tab" aria-selected="false" aria-controls="tab-content1-2" data-ratid="campaign_rakuten-employee_tab_application_shop_01" data-ratevent="click" data-ratparam="all">Store</li>
          </ul>
          <div class="c-Tab_Panel" id="tab-content1-1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1-1">
            <div class="c-Theme-Borderbox u-Adjust_Mt-24">
              <div class="l-Media_Grid">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/start-point/img-point-02.png?210618" width="285" alt="">
                </div>
                <div>
                  <h3 class="c-Heading_Lv4">Items to prepare for the application</h3>
                  <ul class="c-List_Text-disc <%= namespace %>-Layout_List-narrow u-Adjust_Mt-8">
                    <li>
                      Identification documents (<a href="<%= sitepath %>guide/verify/japanese-nationals/en/?l-id=campaign_rakuten-employee-en_verify_japanese-en01" class="c-Link_Txt-inline">For Japanese nationals</a> / <a href="<%= sitepath %>guide/verify/foreigners/en/?l-id=campaign_rakuten-employee-en_verify_foreigners-en01" class="c-Link_Txt-inline">For foreign nationals</a>)
                    </li>
                    <li>
                      User ID,  Password of Rakuten Membership
                    </li>
                    <li>
                      <a href="<%= sitepath %>guide/payment/?l-id=campaign_rakuten-employee-en_guide_payment" class="c-Link_Txt-inline">Credit card or bank account information for direct debit<span class="c-Icon_Chevron-right"></span></a>
                    </li>
                    <li>
                      <a href="<%= sitepath %>guide/mnp/?l-id=campaign_rakuten-employee-en_guide_mnp" class="c-Link_Txt">MNP (Mobile Number Portability) reservation number</a> *Only when using MNP
                    </li>
                  </ul>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">
                    *Please <a href="<%= sitepath %>flow/for-minors/?l-id=campaign_rakuten-employee-en_flow_for-minors" class="c-Link_Txt <%= namespace %>-Layout_Body-txt-link">click here</a> to see how to apply for minors.
                  </p>
                </div>
              </div>
            </div>
            <div class="<%= namespace %>-Layout_Grid-2col u-Adjust_Mt-24">
              <div class="c-Theme-Borderbox">
                <h4 class="c-Heading_Lv4 <%= namespace %>-Layout_Heading-icon-front"><span class="c-Icon_New-user-f"></span>Contract with a new phone number/transfer from another carrier</h4>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <a href="<%= onboardingpath %>en/?l-id=campaign_rakuten-employee-en_ecare-en" class="c-Btn_Primary-large"><span>Apply for Rakuten UN-LIMIT VII</span></a>
                </div>
                <div class="<%= namespace %>-Utility_Align-center-left">
                  <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>fee/un-limit/en/?l-id=campaign_rakuten-employee-en_fee_un-limit-en01" class="c-Link_Txt-inline">For details of our plan<span class="c-Icon_Chevron-right"></span></a></p>
                  <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/flow/application/?l-id=campaign_rakuten-employee-en_guide_flow_application" class="c-Link_Txt-inline">How to apply<span class="c-Icon_Chevron-right"></span></a></p>
                </div>
              </div>
              <div class="c-Theme-Borderbox">
                <h4 class="c-Heading_Lv4 <%= namespace %>-Layout_Heading-icon-front"><span class="c-Icon_Paper-plane-l"></span>Rakuten Mobile (docomo/au line) plan change (Migration)</h4>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_rakuten-employee-en_ms_01&mno_migration=1" class="c-Btn_Secondly-large">
                    <span>Apply for plan migration from Super-hodai/Combination plan</span>
                  </a>
                </div>
                <div class="<%= namespace %>-Utility_Align-center-left">
                  <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/migration/?l-id=campaign_rakuten-employee-en_guide_migration" class="c-Link_Txt-inline">Comparison with Super-hodai/Combination Plan*<span class="c-Icon_Chevron-right"></span></a></p>
                  <p class="c-Txt_Cap">*Plans using docomo and au lines that were terminated on April 8, 2020</p>
                  <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/mnp/migration/?l-id=campaign_rakuten-employee-en_guide_mnp_migration" class="c-Link_Txt-inline">How to migrate to Rakuten Mobile (Rakuten Line)<span class="c-Icon_Chevron-right"></span></a></p>
                  <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>flow/mvno-user-registration/?l-id=campaign_rakuten-employee-en_flow_mvno-user-registration" class="c-Link_Txt-inline">How to migrate if you are a registered user<span class="c-Icon_Chevron-right"></span></a></p>
                </div>
              </div>
            </div>

          </div>
          <div class="c-Tab_Panel" id="tab-content1-2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu1-2">
            <div class="l-Media_Grid u-Adjust_Mt-24">
              <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                <img src="<%= sitepath %>assets/img/campaign/start-point/img-point-11.png" width="285" alt="">
              </div>
              <div>
                <a href="<%= sitepath %>shop/?l-id=campaign_rakuten-employee-en_shop" class="c-Btn_Regular"><span>Find a store near you/visit reservation</span></a>
              </div>
            </div>
            <div class="c-Theme-Borderbox u-Adjust_Mt-24">
              <div class="l-Media_Grid">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/start-point/img-point-02.png?210618" width="285" alt="">
                </div>
                <div>
                  <h3 class="c-Heading_Lv4">Items to prepare for the application</h3>
                  <ul class="c-List_Text-disc <%= namespace %>-Layout_List-narrow u-Adjust_Mt-8">
                    <li>
                      Identification documents (<a href="<%= sitepath %>guide/verify/japanese-nationals/en/?l-id=campaign_rakuten-employee-en_verify_japanese-en02" class="c-Link_Txt-inline">For Japanese nationals</a> / <a href="<%= sitepath %>guide/verify/foreigners/en/?l-id=campaign_rakuten-employee-en_verify_foreigners-en02" class="c-Link_Txt-inline">For foreign nationals</a>)
                    </li>
                    <li>
                      User ID,  Password of Rakuten Membership
                    </li>
                    <li>
                      <a href="<%= sitepath %>guide/payment/?l-id=campaign_rakuten-employee-en_guide_payment" class="c-Link_Txt-inline">Credit card or bank account information for direct debit<span class="c-Icon_Chevron-right"></span></a>
                    </li>
                    <li>
                      <a href="<%= sitepath %>guide/mnp/?l-id=campaign_rakuten-employee-en_guide_mnp" class="c-Link_Txt">MNP (Mobile Number Portability) reservation number</a> <span class="c-Txt_Cap">*Only when using MNP</span>
                    </li>
                  </ul>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">
                    *Please <a href="<%= sitepath %>flow/for-minors/?l-id=campaign_rakuten-employee-en_flow_for-minors" class="c-Link_Txt">click here</a> to see how to apply for minors.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="<%= namespace %>-Layout_Accordion-card c-Accordion">
      <button type="button" id="accordion-step-2-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-step-2-2" data-ratid="campaign_rakuten-employee_accordion-point-acquisition-flow-step2" data-ratevent="click" data-ratparam="all">
        <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
        <span class="<%= namespace %>-Layout_Accordion-label">
          <span class="<%= namespace %>-Layout_Accordion-label-step">STEP 3</span>
          <span>Start using our plan "Rakuten UN-LIMIT VII"</span>
        </span>
      </button>
      <div id="accordion-content-step-2-2" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Layout_Accordion-card-panel" role="region" aria-labelledby="accordion-step-2-2" aria-hidden="true">
        <div class="l-Media_Grid">
          <div class="l-Media_Image <%= namespace %>-Flow_List-img">
            <img src="<%= sitepath %>assets/img/campaign/start-point/img-illust-01.png" width="304" alt="">
          </div>
          <div>
            <p><span class="c-Txt_Emp-01">Deadline</span>: 23:59 on the last day of next month following your application</p>
            <div class="u-Adjust_Mt-24">
              <a href="<%= sitepath %>faq/detail/00001648/?l-id=campaign_rakuten-employee-en_faq_detail_00001648" class="c-Btn_Regular"><span>How to start using our plan</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="<%= namespace %>-Layout_Accordion-card c-Accordion">
      <button type="button" id="accordion-step-2-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-step-2-3" data-ratid="campaign_rakuten-employee_accordion-point-acquisition-flow-step2" data-ratevent="click" data-ratparam="all">
        <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
        <span class="<%= namespace %>-Layout_Accordion-label">
          <span class="<%= namespace %>-Layout_Accordion-label-step">STEP 4</span>
          <span>Calls over 10 seconds with Rakuten Link</span>
        </span>
      </button>
      <div id="accordion-content-step-2-3" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Layout_Accordion-card-panel" role="region" aria-labelledby="accordion-step-2-3" aria-hidden="true">
        <div class="l-Media_Grid">
          <div class="l-Media_Image <%= namespace %>-Flow_List-img">
            <img src="<%= sitepath %>assets/img/campaign/start-point/img-illust-03.png" width="304" alt="">
          </div>
          <div>
            <p><span class="c-Txt_Emp-01">Deadline</span>: 23:59 on the last day of next month following your application</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">*Calls to other companies' connection services starting with (0180) (0570), etc. and calls to some special numbers (188) are not eligible for free calls. Please check <a href="<%= sitepath %>terms/pdf/rakuten_mobile_exception_number_list.pdf?yymmdd" class="c-Link_Txt">the list of ineligible numbers.</a></p>
            <p class="c-Txt_Emp-02 c-Txt_Cap u-Adjust_Mt-8">*If you apply to use our plan with a mobile router that is compatible with Rakuten's line, the use of "Rakuten Link" is not required.</p>
            <p class="u-Adjust_Mt-24">
              <a href="<%= sitepath %>service/rakuten-link/?l-id=campaign_rakuten-employee-en_service_rakuten-link" class="c-Link_Txt-inline">For details of Rakuten Link app<span class="c-Icon_Chevron-right"></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="c-Theme-Borderbox <%= namespace %>-Layout_Flow-list-end">
    <div class="l-Media_Grid">
      <div class="l-Media_Image <%= namespace %>-Layout_Flow-list-img">
        <img src="<%= sitepath %>assets/img/campaign/byod/img-step-point.png?220720" width="304" alt="">
      </div>
      <div>
        <h4 class="c-Heading_Lv4 c-Txt_Emp-02">You will get campaign points!</h4>
        <p class="u-Adjust_Mt-8">
          Points will be awarded for a limited period of 6 months, including the date of the point award. Please refer to <a href="<%= sitepath %>campaign/?l-id=campaign_rakuten-employee-en_campaign02" class="c-Link_Txt">each campaign page</a> for details on campaign points and date of grant.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="l-System_Container">
  <h2 class="c-Heading_Lv2 u-Adjust_Mt-48">Frequently Asked Questions</h2>
  <p class="u-Adjust_Mt-16">The following is a list of frequently viewed questions. Please contact us if you can’t find a solution for your situation.</p>
  <ul class="c-Link_List guide-Faq_List u-Adjust_Mt-24">
    <li><a href="<%= sitepath %>faq/detail/10000729/">What should I do if my identity verification fails? <span class="c-Icon_Chevron-right"></span></a></li>
  </ul>

  <div class="<%= namespace %>-Inquiry_Box u-Adjust_Mt-32">
    <p class="c-Txt_Normal <%= namespace %>-Inquiry_Txt">English Support</p>
    <div class="c-Readmore_Content <%= namespace %>-Inquiry_Readmore-content u-Adjust_Mt-16">
      <a href="tel:0800-805-0805" class="c-Link_Txt <%= namespace %>-Inquiry_linktxt" data-ratid="faq_tel_11" data-ratevent="click" data-ratparam="all">0800-805-0805</a>
      <p class="c-Txt_Normal <%= namespace %>-Inquiry_Txt u-Adjust_Mt-8">Business hour : 9:00-5:00pm（open 365 days）</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8 <%= namespace %>-Inquiry_Cap c-Txt_Emp-02" style="color: #ff008c;">*Inquiries regarding the status of application will be accepted from the person who made the application.</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8 <%= namespace %>-Inquiry_Cap c-Txt_Emp-02" style="color: #ff008c;">*Inquiries regarding the referral campaign itself, including referral results, please contact the employee who referred you.</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8 <%= namespace %>-Inquiry_Cap">*The conversation might take place as a three-way call with you, our customer service staff, and the phone interpreter. (An interpretation is free of charge)</p>
    </div>
  </div>
</div>

<div class="<%= namespace %>-Layout_Container-adjust" style="display: none;">
  <h2 class="<%= namespace %>-Layout_Step-title-content c-Heading_Lv2 u-Adjust_Mt-64 u-Adjust_Pt-0">
    Our Plan
  </h2>
  <div class="i-Unlimit u-Adjust_Mt-24">
    <picture>
      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/rakuten-employee/en/img-unlimit-7-en-sp-230215.png">
      <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/en/img-unlimit-7-en-230215.png" width="1032" height="452" alt="Rakuten UN-LIMIT VII">
    </picture>

    <div class="i-Unlimit_Cta">
      <a href="<%= sitepath %>fee/un-limit/en/?l-id=campaign_rakuten-employee-en_fee_un-limit-en02" class="c-Btn_Primary-large"><span>For details of our price plan</span></a>
    </div>

    <p class="c-Txt_Cap i-Unlimit_Cap">
      *Call charges, etc. not included.  *2 <a href="<%= sitepath %>campaign/iphone-point/?l-id=campaign_rakuten-employee-en_campaign_iphone-point03" class="c-Link_Txt">Click here for details.</a> *4 Unlimted data applies only when connected to Rakuten base station. The communication speeds may be reduced to ensure fair use of services. *5 Outside the applicable overseas countries and regions, usable only when connected to Wi-Fi. Please check <a href="<%= sitepath %>fee/un-limit/en/?l-id=campaign_rakuten-employee-en_fee_un-limit_country#country" class="c-Link_Txt">our service areas.</a> The communication speeds are on a best effort basis (max speed based on the standards), and actual speeds may vary depending on the communications environment and situation. *6 Must be a Diamond member and have fulfilled all SPU requirements. Other conditions apply. Points limits apply. <a href="<%= sitepath %>campaign/spu/" class="c-Link_Txt">Click here for details.</a> *7 Excludes some phone numbers. *8 *For first-time users. *The fee-free period varies by service. *Conditions apply. *Excludes some services. *Offer subject to change. <a href="<%= sitepath %>campaign/digital-contents/?l-id=campaign_rakuten-employee-en_campaign_digital_contents" class="c-Link_Txt">Click here for details.</a>
    </p>
  </div>
</div>

<div class="u-Adjust_Mt-64 <%= namespace %>-Layout_Corporation <%= namespace %>-Utility_Pt-32-16 <%= namespace %>-Utility_Pb-32-16" style="display: none;">
  <div class="l-System_Container" id="plan">
    <h2 class="c-Txt_Normal-ll u-Adjust_Align-center">Introduction of business mobile phone plans</h2>
    <div class="u-Adjust_Mt-24">
      <picture>
        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/rakuten-employee/en/img-plan-en-sp.png">
        <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/en/img-plan-en.png" alt="" width="1032" height="449">
      </picture>
    </div>
    <p class="u-Adjust_Mt-16 c-Txt_Cap <%= namespace %>-Utility_Align-center-left">
      *9 Calls to other companies' connection services and some special numbers (188) are not eligible for free calls.  *10 Calls can be made only from the applicable countries and regions.
    </p>

    <h3 class="c-Txt_Normal-l u-Adjust_Mt-24 u-Adjust_Align-center">For customers who wish to consult or inquire about business mobile phone plans</h3>
    <p class="u-Adjust_Mt-24 u-Adjust_Align-center c-Txt_Emp-02">
      Please contact us at the e-mail address below.
    </p>
    <div class="c-Theme-Borderbox u-Adjust_Align-center u-Adjust_Mt-16">
      <p>Consultation regarding our business mobile phone plans</p>
      <div class="u-Adjust_Mt-8 u-Adjust_Align-center" style="font-weight: bold;">
        <a href="mailto:rm-CorpSales-GroupIntroduction@mail.rakuten.com" class="c-Link_Txt <%= namespace %>-Utility_Fs-24-16" style="text-decoration: underline;word-break: break-all;">rm-CorpSales-GroupIntroduction@mail.rakuten.com</a>
      </div>
    </div>
  </div>
</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-news.ejs') %>

    <%- include('/include/footer/bnr/_bnr-news.ejs') %>
  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot" style="margin-top: -24px;">
      <ul>
        <li><a href="<%= rootpath %>">Top</a><span class="c-Icon_Chevron-right"></span></li>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
<script src="<%= sitepath %>assets/js/campaign.rakuten-employee.bundle.js?20240521"></script>
</body>
</html>
