<% const pagetitle = "Rakuten Turboプラン料金6カ月0円&20,000ポイント還元キャンペーン | キャンペーン" -%>
<% const namespace = "turbo-campaign-Six-month-free" -%>
<% const imgDir = `${sitepath}assets/img/internet/turbo/campaign/six-month-free/` -%>
<%-
  include('/_header', {
    pagetitle,
    description: 'プラン料金6カ月0円&20,000ポイント還元キャンペーン実施中。Rakuten Turbo（ラクテン ターボ）は工事不要、欲しいときにすぐ使えるホームルーター。かんたん接続で安定した通信がデータ量無制限で使い放題。',
    noindex: false,
    pathname: filepath,
    isTurbo: true,
  });
%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/internet/turbo/campaign/six-month-free/six-month-free.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/internet/turbo/_prepend-body-internet') %>
  <div class="l-System <%= namespace %>-Layout">
    <%- include('/include/internet/turbo/_header', {
      headerType: 'static',
      pagetitle: 'Rakuten Turboプラン料金6カ月0円&20,000ポイント還元キャンペーン',
      tax: false,
    }) %>

    <section class="<%= namespace %>-Kv">
      <h1 class="<%= namespace %>-Kv_Title u-Adjust_Align-center">
        <picture class="<%= namespace %>-Kv_Image">
          <source media="(max-width:834px)" srcset="<%= imgDir %>img-kv-sp.png" width="375" height="460">
          <img src="<%= imgDir %>img-kv-pc.png" alt="工事不要！すぐに使えるおうちのWiFi プラン料金6カ月0円※1 コンセントにさすだけ！※2 スマホとセットで使うと20,000ポイント還元 7カ月以降のプラン料金（4,840円）が実質4カ月無料相当※3 さらに楽天市場のお買い物がポイント毎日全員7倍※4" width="1032" height="300">
        </picture>
      </h1>

      <div id="js-internal-moving-range" class="<%= namespace %>-Layout_Content-internal">
        <div class="l-System_Container u-Adjust_Pt-8 u-Adjust_Pb-16">
          <p class="c-Txt_Cap">※1 製品代金 別途41,580円。月額プラン料金7カ月目以降4,840円 ※2 Wi-Fiの接続が必要 ※3 ポイントは翌々月末頃に付与。「実質価格」とはおトクになる料金やポイント分を加味した価格であり、実際のお支払金額とは異なります ※4 楽天会員1倍、Rakuten Turboまたは楽天ひかりご利用で＋2倍 、Rakuten最強プランご利用で＋4倍。毎月の獲得上限ポイントはRakuten Turboまたは楽天ひかりが1,000ポイント、楽天モバイルが2,000ポイント。いずれも期間限定ポイントでの進呈 ※表記の金額は特に記載のある場合を除きすべて税込</p>
        </div>

        <div id="js-internal" class="<%= namespace %>-List_Links-internal">
          <div class="<%= namespace %>-List_Links-internal-inner">
            <ul class="<%= namespace %>-List_Links-internal-items">
              <li class="<%= namespace %>-List_Links-internal-item">
                <a href="#campaign" class="<%= namespace %>-List_Links-internal-link js-scroll" data-ratid="rmt_anchor_menu_fv_01" data-ratevent="click" data-ratparam="all">
                  <div class="<%= namespace %>-List_Links-internal-content">
                    <span class="<%= namespace %>-List_Links-internal-icon c-Icon_Arrow-down-l"></span>
                    <div class="<%= namespace %>-List_Links-internal-txt">キャンペーン<br class="u-Show_Oox">特典</div>
                  </div>
                  <span class="<%= namespace %>-List_Links-internal-image">
                    <img src="<%= imgDir %>icon-campaign.svg" width="32" height="32" alt="">
                  </span>
                </a>
              </li>
              <li class="<%= namespace %>-List_Links-internal-item">
                <a href="#about" class="<%= namespace %>-List_Links-internal-link js-scroll" data-ratid="rmt_anchor_menu_fv_02" data-ratevent="click" data-ratparam="all">
                  <div class="<%= namespace %>-List_Links-internal-content">
                    <span class="<%= namespace %>-List_Links-internal-icon c-Icon_Arrow-down-l"></span>
                    <div class="<%= namespace %>-List_Links-internal-txt">
                      Rakuten&nbsp;<br class="u-Show_Oox">Turboとは
                    </div>
                  </div>
                  <span class="<%= namespace %>-List_Links-internal-image">
                    <img src="<%= imgDir %>icon-about.svg" width="32" height="32" alt="">
                  </span>
                </a>
              </li>
              <li class="<%= namespace %>-List_Links-internal-item">
                <a href="#fee" class="<%= namespace %>-List_Links-internal-link js-scroll" data-ratid="rmt_anchor_menu_fv_03" data-ratevent="click" data-ratparam="all">
                  <div class="<%= namespace %>-List_Links-internal-content">
                    <span class="<%= namespace %>-List_Links-internal-icon c-Icon_Arrow-down-l"></span>
                    <div class="<%= namespace %>-List_Links-internal-txt">月々のお支払い料金</div>
                  </div>
                  <span class="<%= namespace %>-List_Links-internal-image">
                    <img src="<%= imgDir %>icon-fee.svg" width="32" height="32" alt="">
                  </span>
                </a>
              </li>
              <li class="<%= namespace %>-List_Links-internal-item">
                <a href="#area" class="<%= namespace %>-List_Links-internal-link js-scroll" data-ratid="rmt_anchor_menu_fv_04" data-ratevent="click" data-ratparam="all">
                  <div class="<%= namespace %>-List_Links-internal-content">
                    <span class="<%= namespace %>-List_Links-internal-icon c-Icon_Arrow-down-l"></span>
                    <div class="<%= namespace %>-List_Links-internal-txt">対応エリア</div>
                  </div>
                  <span class="<%= namespace %>-List_Links-internal-image">
                    <img src="<%= imgDir %>icon-area.svg" width="32" height="32" alt="">
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <div id="js-trigger-nav"></div>

    <section class="u-Adjust_Pt-24 u-Adjust_Pt-pc-48" id="campaign">
      <div class="l-System_Container">
        <h2 class="<%= namespace %>-Heading_Lv2">
          <span class="<%= namespace %>-Heading_Lv2-icon">
            <img src="<%= imgDir %>icon-campaign.svg" width="40" height="40" alt="">
          </span>
          キャンペーン特典
        </h2>

        <div class="<%= namespace %>-Theme_Borderbox-campaign u-Adjust_Mt-8 u-Adjust_Mt-pc-16">
          <div class="<%= namespace %>-Theme_Borderbox-campaign-content">
            <ul class="<%= namespace %>-List_Media-campaign">
              <li class="<%= namespace %>-List_Media-campaign-item">
                <div class="<%= namespace %>-Layout_Content-campaign">
                  <div>
                    <h3 class="<%= namespace %>-Heading_Lv3-campaign u-Adjust_Align-center">Rakuten Turboのお申し込み<br class="u-Show_Oox">&amp;利用開始</h3>
                    <div class="<%= namespace %>-Media_Image-campaign-01 u-Adjust_Align-center">
                      <picture>
                        <source media="(max-width:834px)" srcset="<%= imgDir %>img-campaign-sp-01.png" width="300" height="94">
                        <img src="<%= imgDir %>img-campaign-pc-01.png" width="334" height="97" alt="プラン料金6カ月0円">
                      </picture>
                    </div>
                  </div>
                  <div class="u-Adjust_Align-center u-Adjust_Mt-16 u-Adjust_Mt-pc-8">
                    <a href="<%= sitepath %>internet/turbo/flow/" class="c-Link_Txt-inline">ご利用開始までの流れを見る<span class="c-Icon_Chevron-right"></span></a>
                  </div>
                </div>
              </li>
              <li class="<%= namespace %>-List_Media-campaign-item u-Adjust_Mt-40 u-Adjust_Mt-pc-0">
                <div class="<%= namespace %>-Layout_Content-campaign">
                  <div>
                    <h3 class="<%= namespace %>-Heading_Lv3-campaign u-Adjust_Align-center u-Adjust_Pt-32 u-Adjust_Pt-pc-0">
                      <span class="<%= namespace %>-Heading_Bubble">さらに</span>
                      楽天モバイルのご利用で<span class="<%= namespace %>-Heading_Cap c-Txt_Cap">※1</span>
                    </h3>
                    <div class="<%= namespace %>-Media_Image-campaign-02 u-Adjust_Align-center">
                      <picture>
                        <source media="(max-width:834px)" srcset="<%= imgDir %>img-campaign-sp-02.png" width="296" height="125">
                        <img src="<%= imgDir %>img-campaign-pc-02.png" width="412" height="115" alt="ご利用中の方も、これからお申し込みの方も20,000ポイント還元！※2">
                      </picture>
                    </div>
                  </div>
                  <div class="u-Align_Llc u-Adjust_Mt-pc-8">
                    <a href="<%= sitepath %>fee/saikyo-plan/" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">Rakuten最強プランの詳細を見る<span class="c-Icon_New-window-l"></span></a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※1 Rakuten Turbo利用開始の翌月末日までにRakuten最強プランを利用開始が必要 ※2 ポイントは翌々月末頃に進呈</p>
        <div class="u-Adjust_Mt-24">
          <a href="#campaign-rule" class="<%= namespace %>-Link_Align-center c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>適用条件詳細をキャンペーンルールで見る</a>
        </div>
      </div>
    </section>

    <section class="<%= namespace %>-Layout_Section-about u-Adjust_Pt-48 u-Adjust_Pt-pc-40 u-Adjust_Mt-48 u-Adjust_Mt-pc-64" id="about">
      <div class="l-System_Container">
        <h2 class="<%= namespace %>-Heading_Lv2" data-ratid="rmt_scroll_ksp" data-ratevent="appear" data-ratparam="all">
          <span class="<%= namespace %>-Heading_Lv2-icon">
            <img src="<%= imgDir %>icon-about.svg" width="40" height="40" alt="">
          </span>
          Rakuten Turboとは？
        </h2>
        <p class="u-Adjust_Align-center c-Txt_Emp-01 u-Adjust_Mt-16">今すぐおうちにWi-Fi環境が欲しい方に<br class="u-Show_Oox">ぴったりなホームルーターです</p>
        <div class="u-Adjust_Align-center u-Show_Oox u-Adjust_Mt-24">
          <img src="<%= imgDir %>img-wifi.png" width="115" height="166" alt="">
        </div>

        <div class="l-Media_Grid-half u-Adjust_Mt-32 u-Adjust_Mt-pc-56">
          <div>
            <div class="u-Rat_Appear-height" data-ratid="rmt_modal_ksp_01" data-ratevent="appear" data-ratparam="all"></div>
            <a href="#modal-1" class="js-Modal c-Card_Normal <%= namespace %>-Card" data-ratid="rmt_modal_open_ksp_01" data-ratevent="click" data-ratparam="all">
              <img src="<%= imgDir %>img-card-1.jpg" width="500" height="192" alt="">
              <div class="<%= namespace %>-Card_Bottom">
                <p class="c-Txt_Emp-01">通信安定でサクサクつながる</p>
              </div>
            </a>
          </div>
          <div>
            <div class="u-Rat_Appear-height" data-ratid="rmt_modal_ksp_02" data-ratevent="appear" data-ratparam="all"></div>
            <a href="#modal-2" class="js-Modal c-Card_Normal <%= namespace %>-Card" data-ratid="rmt_modal_open_ksp_02" data-ratevent="click" data-ratparam="all">
              <img src="<%= imgDir %>img-card-2.jpg" width="500" height="192" alt="">
              <div class="<%= namespace %>-Card_Bottom">
                <p class="c-Txt_Emp-01">工事不要、欲しいときにすぐ使える</p>
              </div>
            </a>
          </div>
        </div>
        <div class="l-Media_Grid-half u-Adjust_Mt-24 u-Adjust_Mt-pc-32">
          <div>
            <div class="u-Rat_Appear-height" data-ratid="rmt_modal_ksp_03" data-ratevent="appear" data-ratparam="all"></div>
            <a href="#modal-3" class="js-Modal c-Card_Normal <%= namespace %>-Card" data-ratid="rmt_modal_open_ksp_03" data-ratevent="click" data-ratparam="all">
              <img src="<%= imgDir %>img-card-3.jpg" width="500" height="192" alt="">
              <div class="<%= namespace %>-Card_Bottom">
                <p class="c-Txt_Emp-01">かんたん接続、めんどうな設定もなし</p>
              </div>
            </a>
          </div>
          <div>
            <div class="u-Rat_Appear-height" data-ratid="rmt_modal_ksp_04" data-ratevent="appear" data-ratparam="all"></div>
            <a href="#modal-4" class="js-Modal c-Card_Normal <%= namespace %>-Card" data-ratid="rmt_modal_open_ksp_04" data-ratevent="click" data-ratparam="all">
              <img src="<%= imgDir %>img-card-4.png" width="500" height="192" alt="">
              <div class="<%= namespace %>-Card_Bottom">
                <p class="c-Txt_Emp-01">楽天ポイントが、貯まる、使える</p>
              </div>
            </a>
          </div>
        </div>

        <!-- modal-1 -->
        <div id="modal-1" style="display:none;">
          <h3 class="u-Adjust_Align-center">
            通信安定でサクサクつながる
          </h3>
          <div class="<%= namespace %>-Card_Half u-Adjust_Mt-24">
            <div>
              <h4 class="c-Heading_Lv4 u-Adjust_Align-center">5G Sub6 / 4G LTE</h4>
              <p class="u-Adjust_Align-center u-Adjust_Mt-8">
                <img src="<%= imgDir %>img-modal-01.png" width="621" height="300" alt="">
              </p>
              <p class="u-Adjust_Mt-8">
                屋内でも途切れず使える5G Sub6対応<span class="c-Txt_Cap">※1</span>。さらに、人口カバー率98%の楽天回線 4G LTEエリア対応<span class="c-Txt_Cap">※2</span>だから安心。
              </p>
            </div>
            <div>
              <h4 class="c-Heading_Lv4 u-Adjust_Align-center">家中快適、Wi-Fi6</h4>
              <p class="u-Adjust_Align-center u-Adjust_Mt-8">
                <img src="<%= imgDir %>img-modal-02.png" width="621" height="300" alt="">
              </p>
              <p class="u-Adjust_Mt-8">Wi-Fi6対応だから、家中で快適にインターネットが利用できます。<br>
                しかも最大接続台数は128台、利用するデバイスが増えても安心です。</p>
            </div>
          </div>
          <p class="c-Txt_Cap u-Adjust_Mt-24">
            ※1 5Gは一部エリアのみ※ 2 人口カバー率は国勢調査に用いられる約500m区画において50%以上の場所で通信可能なエリアを基に算出。2022年10月時点 Rakuten最強プランで利用できるサービスエリアとは異なります
          </p>
          <div class="u-Adjust_Align-center u-Adjust_Mt-24">
            <a class="c-Btn_Regular js-Modal_Close"><span>閉じる</span></a>
          </div>
        </div>
        <!-- modal-2 -->
        <div id="modal-2" style="display:none;">
          <h3 class="u-Adjust_Align-center">
            工事不要、欲しいときにすぐ使える
          </h3>
          <div class="<%= namespace %>-Card_Half u-Adjust_Mt-24">
            <div>
              <h4 class="c-Heading_Lv4 u-Adjust_Align-center">工事不要</h4>
              <p class="u-Adjust_Align-center u-Adjust_Mt-8">
                <img src="<%= imgDir %>img-modal-03.png" width="621" height="302" alt="">
              </p>
              <p class="u-Adjust_Mt-8">楽天回線につなぐだけだから、回線工事のために作業員が部屋に入る心配はありません。</p>
            </div>
            <div>
              <h4 class="c-Heading_Lv4 u-Adjust_Align-center">引っ越した日からすぐWi-Fi</h4>
              <p class="u-Adjust_Align-center u-Adjust_Mt-8">
                <img src="<%= imgDir %>img-modal-04.png" width="621" height="302" alt="">
              </p>
              <p class="u-Adjust_Mt-8">お申し込み完了から最短2日でお届け。<br>
                引っ越した日からWi-Fi生活を始めることができます。</p>
            </div>
          </div>
          <div class="u-Adjust_Align-center u-Adjust_Mt-24">
            <a class="c-Btn_Regular js-Modal_Close"><span>閉じる</span></a>
          </div>
        </div>
        <!-- modal-3 -->
        <div id="modal-3" style="display:none;">
          <h3 class="u-Adjust_Align-center">
            かんたん接続、めんどうな設定もなし
          </h3>
          <div class="<%= namespace %>-Card_Half u-Adjust_Mt-24">
            <div>
              <h4 class="c-Heading_Lv4 u-Adjust_Align-center">コンセントにさすだけ</h4>
              <p class="u-Adjust_Align-center u-Adjust_Mt-8">
                <img src="<%= imgDir %>img-modal-05.png" width="621" height="302" alt="">
              </p>
              <p class="u-Adjust_Mt-8">LANケーブルをつないだり、複雑な作業はいりません。RakutenTurboはコンセントにさすだけでOKです。</p>
            </div>
            <div>
              <h4 class="c-Heading_Lv4 u-Adjust_Align-center">QRコードを読み込むだけ</h4>
              <p class="u-Adjust_Align-center u-Adjust_Mt-8">
                <img src="<%= imgDir %>img-modal-06.png" width="621" height="302" alt="">
              </p>
              <p class="u-Adjust_Mt-8">複雑なID、パスワードの入力はいりません。スマホでQRコードを読み込むだけでかんたんに接続できます。</p>
              <p class="c-Txt_Cap">※画像はイメージです</p>
            </div>
          </div>
          <div class="u-Adjust_Align-center u-Adjust_Mt-24">
            <a class="c-Btn_Regular js-Modal_Close"><span>閉じる</span></a>
          </div>
        </div>
        <!-- modal-4 -->
        <div id="modal-4" style="display:none;">
          <h3 class="u-Adjust_Align-center">
            楽天ポイントが、貯まる、使える
          </h3>
          <div class="<%= namespace %>-Card_Half u-Adjust_Mt-24">
            <div>
              <h4 class="c-Heading_Lv4 u-Adjust_Align-center">100円（税別）お支払いごとに<br>
                1ポイント貯まる</h4>
              <p class="u-Adjust_Align-center u-Adjust_Mt-8">
                <picture>
                  <source media="(max-width:834px)" width="590" height="240" srcset="<%= imgDir %>img-modal-sp-07.png">
                  <img src="<%= imgDir %>img-modal-pc-07.png" width="357" height="170" alt="">
                </picture>
              </p>
              <p class="u-Adjust_Mt-8">Rakuten Turboの月々のお支払い100円（税別）につき1ポイントが貯まります。</p>
            </div>
            <div>
              <h4 class="c-Heading_Lv4 u-Adjust_Align-center">スマホとセットで<br>
                ポイント毎日全員7倍<span class="c-Txt_Cap">※</span>
              </h4>
              <p class="u-Adjust_Align-center u-Adjust_Mt-8">
                <picture>
                  <source media="(max-width:834px)" width="590" height="224" srcset="<%= imgDir %>img-modal-sp-08.png">
                  <img src="<%= imgDir %>img-modal-pc-08.png" width="352" height="170" alt="">
                </picture>
              </p>
              <p class="u-Adjust_Mt-8">Rakuten Turboご契約中、楽天市場のお買い物が+2倍、Rakuten最強プランご利用で+4倍。</p>
            </div>
          </div>

          <div class="u-Adjust_Mt-24">
            <h4 class="c-Heading_Lv4 u-Adjust_Align-center">毎月のお支払いに<br>
              ポイントが使える</h4>
            <div class="u-Adjust_Align-center u-Adjust_Mt-8">
              <picture>
                <source media="(max-width:834px)" width="590" height="256" srcset="<%= imgDir %>img-modal-sp-09.png">
                <img src="<%= imgDir %>img-modal-pc-09.png" width="738" height="164" alt="">
              </picture>
            </div>
          </div>
          <p class="u-Adjust_Mt-8">貯まったポイントは毎月のお支払いや、楽天市場でのお買い物に使えます。</p>
          <p class="c-Txt_Cap u-Adjust_Mt-24">※ 楽天会員1倍、Rakuten Turboまたは楽天ひかりご利用で＋2倍。楽天モバイルご利用で＋4倍（スーパーホーダイ、組み合わせプラン、コミコミプランは対象外）。毎月の獲得上限ポイントはRakuten Turboまたは楽天ひかりが1,000ポイント、楽天モバイルが2,000ポイント。いずれも期間限定ポイントでの進呈。ポイント未利用時の倍率</p>
          <div class="u-Adjust_Align-center u-Adjust_Mt-24">
            <a class="c-Btn_Regular js-Modal_Close"><span>閉じる</span></a>
          </div>
        </div>
        <!-- //Modal Area -->
      </div>

      <div class="u-Adjust_Mt-40 u-Adjust_Mt-pc-64">
        <h3 class="c-Heading_Lv3 u-Adjust_Align-center" data-ratid="rmt_scroll_product" data-ratevent="appear" data-ratparam="all">こんな人におすすめ</h3>
        <p class="u-Adjust_Align-center c-Txt_Emp-01 u-Adjust_Mt-24 u-Adjust_Mt-pc-16">すぐにWi-Fiを使いたい、<br class="u-Show_Oox">そんなときに利用されています。</p>

        <div class="u-Adjust_Mt-32">
          <ul class="<%= namespace %>-List_Media-about">
            <li>
              <picture>
                <source media="(max-width:834px)" width="250" height="368" srcset="<%= imgDir %>img-router-sp-01.jpg">
                <img src="<%= imgDir %>img-router-pc-01.jpg" width="344" height="215" alt="">
              </picture>
            </li>
            <li>
              <picture>
                <source media="(max-width:834px)" width="243" height="368" srcset="<%= imgDir %>img-router-sp-02.jpg">
                <img src="<%= imgDir %>img-router-pc-02.jpg" width="344" height="215" alt="">
              </picture>
            </li>
            <li>
              <picture>
                <source media="(max-width:834px)" width="251" height="368" srcset="<%= imgDir %>img-router-sp-03.jpg">
                <img src="<%= imgDir %>img-router-pc-03.jpg" width="344" height="215" alt="">
              </picture>
            </li>
          </ul>
        </div>
        <div class="l-System_Container u-Adjust_Mt-8">
          <ul class="<%= namespace %>-List_Txt-about c-List_Text-disc">
            <li>お引っ越し後すぐに</li>
            <li>スマートスピーカーなどを購入したとき</li>
            <li>お子様のリモート学習が必要なときに</li>
          </ul>
          <div class="u-Adjust_Align-center u-Adjust_Mt-24">
            <a href="<%= sitepath %>internet/turbo/product/" class="<%= namespace %>-Btn_Regular-large c-Btn_Regular-large" data-lid_no="01"><span>製品を見る</span></a>
          </div>
        </div>
      </div>
    </section>

    <section class="<%= namespace %>-Layout_Section-fee u-Adjust_Mt-40 u-Adjust_Mt-pc-56" id="fee">
      <div class="l-System_Container">
        <h2 class="<%= namespace %>-Heading_Lv2" data-ratid="rmt_scroll_fee" data-ratevent="appear" data-ratparam="all">
          <span class="<%= namespace %>-Heading_Lv2-icon">
            <img src="<%= imgDir %>icon-fee.svg" width="40" height="40" alt="">
          </span>
          月々のお支払い料金
        </h2>

        <div class="<%= namespace %>-Theme_Box-fee u-Adjust_Mt-16 u-Adjust_Mt-pc-32">
          <p class="u-Adjust_Align-center c-Txt_Emp-01"><span class="c-Txt_Normal-m">プラン料金＋製品代金 48回払い</span><br>（1〜6カ月目の場合）</p>
        </div>
        <div class="u-Adjust_Align-center">
          <picture>
            <source media="(max-width:834px)" width="343" height="280" srcset="<%= imgDir %>img-fee-sp.png">
            <img src="<%= imgDir %>img-fee-pc.png" width="1032" height="206" alt="866円/月〜 ※48回払いは楽天カードのみ ※初月のみ契約事務手数料3,300円あり プラン料金 1〜6カ月目 0円/月 ※7カ月目以降4,840円/月 製品代金 48回払い 866円/月 ※初回請求878円">
          </picture>
        </div>
        <div class="u-Adjust_Align-center u-Adjust_Mt-pc-24">
          <a href="<%= sitepath %>internet/turbo/fee/" class="<%= namespace %>-Btn_Regular-large c-Btn_Regular-large"><span>料金を見る</span></a>
        </div>

        <div class="<%= namespace %>-Theme_Box-spu u-Adjust_Mt-48" data-ratid="rmt_scroll_spu" data-ratevent="appear" data-ratparam="all">
          <div class="u-Adjust_Align-center">
            <picture>
              <source media="(max-width:834px)" width="311" height="184" srcset="<%= imgDir %>img-spu-sp.png">
              <img src="<%= imgDir %>img-spu-pc.png" width="744" height="99" alt="R SPU! Rakuten Turboのご契約中、楽天市場のお買い物がポイント+2倍 スマホとセットで使えばポイント毎日全員7倍">
            </picture>
          </div>
          <p class="c-Txt_Cap u-Adjust_Mt-16 u-Adjust_Mt-pc-8">※ 楽天会員1倍、Rakuten Turboまたは楽天ひかりご利用で＋2倍。楽天モバイルご利用で＋4倍（スーパーホーダイ、組み合わせプラン、コミコミプランは対象外） <a href="<%= sitepath %>internet/turbo/campaign/spu/" class="c-Link_Txt-inline">SPUの詳細はこちら</a></p>
        </div>
      </div>

      <div class="<%= namespace %>-Layout_Container-detail u-Adjust_Mt-40 u-Adjust_Mt-pc-48">
        <div class="<%= namespace %>-Theme_Borderbox-detail">
          <p class="u-Adjust_Align-center">
            <span class="c-Txt_Emp-01">8日間は返品・返金できるから安心</span><br class="u-Show_Oox">
            <span class="c-Txt_Cap">※条件あり</span>
          </p>
          <div class="u-Adjust_Align-center u-Adjust_Mt-8">
            <a href="#modal1" class="js-Modal c-Link_Txt-inline" data-ratid="rmt_modal_01" data-ratevent="click" data-ratparam="all">詳しく見る<span class="c-Icon_Zoom-in-l"></span></a>
            <div id="modal1" style="display:none;">
              <div class="<%= namespace %>-Modal">
                <h3 class="c-Heading_Lv3">返品・返金の流れ</h3>
                <p class="u-Adjust_Mt-16">製品の開封後でも、ご満足いただけない場合は3ステップで返品・返金が可能です。</p>
                <div class="c-Accordion-emp u-Adjust_Mt-24">
                  <button type="button" id="accordion-emp-1" class="<%= namespace %>-Modal_Accordion-trigger c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-emp-1-content">
                    <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
                    <span class="<%= namespace %>-Modal_Accordion-num c-Accordion-emp_Num">STEP 1</span><span class="<%= namespace %>-Modal_Accordion-trigger-txt c-Accordion-emp_Trigger-txt">製品到着から8日以内にご申告</span>
                  </button>
                  <div id="accordion-emp-1-content" class="<%= namespace %>-Modal_Accordion-panel c-Accordion-emp_Panel-step js-Accordion_Panel" role="region" aria-labelledby="accordion-emp-1" aria-hidden="false">
                    <p>リンク先ページ下部の「解決できない場合はお問い合わせ」ボタンを押下後に表示される、「お問い合わせ窓口に相談する」よりご連絡ください。</p>
                    <p class="u-Adjust_Mt-16">
                      <a href="https://portal.mobile.rakuten.co.jp/support#main" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">返品・返金の問い合せをする<span class="c-Icon_New-window-l"></span></a>
                    </p>
                  </div>
                </div>
                <div class="c-Accordion-emp u-Adjust_Mt-8">
                  <button type="button" id="accordion-emp-2" class="<%= namespace %>-Modal_Accordion-trigger c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-emp-2-content">
                    <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
                    <span class="<%= namespace %>-Modal_Accordion-num c-Accordion-emp_Num">STEP 2</span><span class="<%= namespace %>-Modal_Accordion-trigger-txt c-Accordion-emp_Trigger-txt">製品・付属品のご返送</span>
                  </button>
                  <div id="accordion-emp-2-content" class="<%= namespace %>-Modal_Accordion-panel c-Accordion-emp_Panel-step js-Accordion_Panel" role="region" aria-labelledby="accordion-emp-2" aria-hidden="true">
                    <p>製品・付属品を元払いにて当社へ返送してください。<br>返送先はSTEP1の連絡時にご案内します。</p>
                    <p class="c-Txt_Normal-s c-Txt_Emp-01 u-Adjust_Mt-16">※返送に関する注意事項</p>
                    <div class="u-Adjust_Mt-8">
                      <ul class="<%= namespace %>-Modal_List">
                        <li>返送に必要なダンボール箱などはお客様でご用意ください。</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="c-Accordion-emp u-Adjust_Mt-8">
                  <button type="button" id="accordion-emp-3" class="<%= namespace %>-Modal_Accordion-trigger c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-emp-3-content">
                    <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
                    <span class="<%= namespace %>-Modal_Accordion-num c-Accordion-emp_Num">STEP 3</span><span class="<%= namespace %>-Modal_Accordion-trigger-txt c-Accordion-emp_Trigger-txt">製品確認および返金</span>
                  </button>
                  <div id="accordion-emp-3-content" class="<%= namespace %>-Modal_Accordion-panel c-Accordion-emp_Panel-step js-Accordion_Panel" role="region" aria-labelledby="accordion-emp-3" aria-hidden="true">
                    <p>当社で製品・付属品を確認後、翌々月末までに当社指定の方法で返金します。</p>
                    <p class="c-Txt_Normal-s c-Txt_Emp-01 u-Adjust_Mt-16">※返品・返金に関する注意事項</p>
                    <p class="c-Txt_Normal-s u-Adjust_Mt-8">以下の場合は返品・返金の対象外となります</p>
                    <div class="u-Adjust_Mt-8">
                      <ul class="<%= namespace %>-Modal_List">
                        <li>製品到着から9日以降のご申告</li>
                        <li>本体・付属品に破損・欠損がある</li>
                        <li>製品到着から30日以内に、返送された製品が当社に到着しない</li>
                        <li>指定の宛先以外への返送</li>
                        <li>着払い等での返送</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="u-Adjust_Mt-24">
                  <h4 class="c-Heading_Lv4">注意事項</h4>
                  <div class="u-Adjust_Mt-8">
                    <ul class="c-List_Text-disc">
                      <li class="c-Txt_Normal-s">返品・返金の際に、通信速度を確認させていただく場合があります。詳しくは「<a href="<%= sitepath %>faq/detail/10000658/" target="_blank" rel="noopener noreferrer">返品・返金できますか？ > 通信速度の測定について<span class="c-Icon_New-window-l"></span></a>」をご覧ください。</li>
                      <li class="c-Txt_Normal-s u-Adjust_Mt-8">契約事務手数料は返金対象外です。プラン料金の課金開始日前に解約した場合、解約から2カ月以内を目安に請求いたします。</li>
                      <li class="c-Txt_Normal-s u-Adjust_Mt-8">料金プランは別途、解約の手続きが必要です。ご希望の場合は「<a href="<%= sitepath %>internet/turbo/support/contract/cancel/" target="_blank" rel="noopener noreferrer">ご解約について<span class="c-Icon_New-window-l"></span></a>」をご覧ください。</li>
                      <li class="c-Txt_Normal-s u-Adjust_Mt-8">製品到着の前にお申し込みをキャンセルしたい場合は「<a href="<%= sitepath %>faq/detail/00001971/" target="_blank" rel="noopener noreferrer">お申し込みをキャンセルしたい<span class="c-Icon_New-window-l"></span></a>」をご覧ください。</li>
                      <li class="c-Txt_Normal-s u-Adjust_Mt-8">初期契約解除をご希望の場合は「<a href="<%= sitepath %>internet/turbo/support/contract/initial-contract/" target="_blank" rel="noopener noreferrer">初期契約解除について<span class="c-Icon_New-window-l"></span></a>」をご覧ください。</li>
                      <li class="c-Txt_Normal-s u-Adjust_Mt-8">返品条件は事前予告のうえ変更する場合があります。</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="u-Adjust_Pt-40 u-Adjust_Pt-pc-64" id="area">
      <div class="l-System_Container">
        <h2 class="<%= namespace %>-Heading_Lv2" data-ratid="rmt_scroll_area" data-ratevent="appear" data-ratparam="all">
          <span class="<%= namespace %>-Heading_Lv2-icon">
            <img src="<%= imgDir %>icon-area.svg" width="40" height="40" alt="">
          </span>
          対応エリアのご確認
        </h2>
        <p class="u-Align_Llc u-Adjust_Mt-16 u-Adjust_Mt-pc-24">お申し込み前に必ず、ホームルーターをご利用する場所がRakuten Turboサービス対応エリアかご確認ください。</p>
        <p class="u-Align_Llc c-Txt_Cap u-Adjust_Mt-8">※高層階（およそ16階以上）ではない場所に設置してください</p>
        <div class="<%= namespace %>-Media_Image-area u-Adjust_Align-center u-Adjust_Mt-16 u-Adjust_Mt-pc-28">
          <img src="<%= imgDir %>img-area.svg" width="330" height="220" alt="">
        </div>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
          <a href="<%= sitepath %>internet/turbo/area/" class="<%= namespace %>-Btn_Regular-large c-Btn_Regular-large" data-lid_no="01"><span>通信・エリアを見る</span></a>
        </div>
      </div>
    </section>

    <section class="<%= namespace %>-Layout_Section-application u-Adjust_Mt-40 u-Adjust_Mt-pc-64">
      <div class="l-System_Container">
        <h2 class="<%= namespace %>-Heading_Lv2" data-ratid="rmt_scroll_application" data-ratevent="appear" data-ratparam="all">ご希望に合わせて選べる<br class="u-Show_Oox">お申し込み方法</h2>

        <ul class="<%= namespace %>-List_Media-application u-Adjust_Mt-24 u-Adjust_Mt-pc-32">
          <li class="<%= namespace %>-Theme_Box-application">
            <div class="<%= namespace %>-Layout_Content-application">
              <div>
                <p class="c-Txt_Normal-m c-Txt_Emp-02">Webでお申し込み</p>
                <p class="u-Adjust_Mt-8">製品は<span class="c-Txt_Emp-02">最短2日</span>でお届け。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※ お届けまでに1週間ほどお時間をいただく場合がございます。</p>
              </div>
              <div class="<%= namespace %>-Media_Image-application">
                <img src="<%= imgDir %>img-web.svg" alt="" width="96" height="96">
              </div>
            </div>

            <div class="u-Adjust_Align-center u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
              <a href="<%= sitepath %>internet/turbo/application/" class="<%= namespace %>-Btn_Primary-large c-Btn_Primary-large"><span>Rakuten Turboにお申し込み</span></a>
            </div>
          </li>

          <li class="<%= namespace %>-Theme_Box-application">
            <div class="<%= namespace %>-Layout_Content-application">
              <div>
                <p class="c-Txt_Normal-m c-Txt_Emp-02">ショップでお申し込み</p>
                <p class="u-Adjust_Mt-8">お申し込みから初期設定まで丁寧にサポート。</p>
              </div>
              <div class="<%= namespace %>-Media_Image-application">
                <img src="<%= imgDir %>img-shop.svg" alt="" width="96" height="96">
              </div>
            </div>

            <div class="<%= namespace %>-Layout_Select u-Adjust_Mt-24 u-Adjust_Mt-pc-8">
              <div class="c-Form_Select">
                <select name="" id="js-shop-Search_Select-pref" data-ratid="rmt_select-pref_01" data-ratevent="click" data-ratparam="all">
                  <option value="">都道府県を選択</option>
                </select>
                <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
              </div>
              <div class="c-Form_Select">
                <select name="" id="js-shop-Search_Select-city" aria-disabled="true" data-ratid="rmt_select-city_01" data-ratevent="click" data-ratparam="all" disabled>
                  <option value="">市区町村を選択</option>
                </select>
                <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
              </div>
            </div>
            <div class="u-Adjust_Align-center u-Adjust_Mt-16">
              <button id="js-shop-Search_Prefcity" class="<%= namespace %>-Btn_Secondly-large c-Btn_Secondly-large" aria-disabled="false" data-ratid="rmt_shop-search_01" data-ratevent="click" data-ratparam="all">お近くのショップを検索する</button>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section class="u-Adjust_Mt-64">
      <div class="l-System_Container">
        <h2 class="<%= namespace %>-Heading_Lv2" data-ratid="rmt_scroll_faq" data-ratevent="appear" data-ratparam="all">よくある質問</h2>
        <div class="u-Adjust_Mt-24">
          <div class="c-Accordion">
            <button id="accordion-faq-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-1" data-auto-rat="faqac"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーンの特典は2回線目以降のお申し込みも対象になりますか？</button>
            <div id="accordion-content-faq-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-1" aria-hidden="true" style="display:none;">
              <p>適用回数に制限はございません。<br>（例）1回線目に本キャンペーン適用済みで、2回線目新たにお申し込みをした場合も適用の対象。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-2" data-auto-rat="faqac"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>併用不可キャンペーンはありますか</button>
            <div id="accordion-content-faq-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-2" aria-hidden="true" style="display:none;">
              <p>併用可能なキャンペーンについてはキャンペーンルールをご確認ください。</p>
              <p class="u-Adjust_Mt-16">
                <a href="#campaign-rule" class="c-Link_Txt-inline js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルールを見る</a>
              </p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-3" data-auto-rat="faqac"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天ひかりとRakuten Turboの違いを教えてください</button>
            <div id="accordion-content-faq-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-3" aria-hidden="true" style="display:none;">
              <p>Rakuten Turboは、据え置き型ルーターを設置し、楽天モバイルの電波で接続するインターネットです。<br>楽天ひかりは、光ファイバーケーブルを建物内に直接引き込んで接続するインターネットです。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-4" data-auto-rat="faqac"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>好きな場所で使えますか？</button>
            <div id="accordion-content-faq-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-4" aria-hidden="true" style="display:none;">
              <p>日本国内の楽天回線エリア内<sup>※</sup>であればお使いいただけます。設置先の推奨環境を下記よりご確認ください。</p>
              <div class="u-Adjust_Mt-24">
                <ul class="c-List_Text-disc">
                  <li>窓際など、電波を受け取りやすい場所に設置できること</li>
                  <li class="u-Adjust_Mt-8">Wi-Fiの電波と干渉する機器（電子レンジ、テレビなど）から離して設置できること</li>
                  <li class="u-Adjust_Mt-8">高層階（およそ16階以上）ではない場所に設置できること</li>
                </ul>
              </div>
              <p class="u-Adjust_Mt-24">なお、ご登録いただいている設置先住所のみでご利用いただけます。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※「Rakuten最強プラン」で利用できるサービスエリアとは異なります</p>
              <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>internet/turbo/area/" class="c-Link_Txt-inline" data-lid_no="02">Rakuten Turbo対応エリアを見る<span class="c-Icon_Chevron-right"></span></a></p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-5" data-auto-rat="faqac"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten最強プランを契約していなくても、Rakuten Turboを契約できますか？</button>
            <div id="accordion-content-faq-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-5" aria-hidden="true" style="display:none;">
              <p>Rakuten最強プランの契約がなくてもRakuten Turboを契約できます。<br>Rakuten Turboを契約いただくことで、お手持ちの製品をWi-Fi接続しインターネットをご利用いただけます。</p>
              <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>internet/turbo/product/" class="c-Link_Txt-inline" data-lid_no="02">製品ページでRakuten Turboを見る<span class="c-Icon_Chevron-right"></span></a></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="u-Adjust_Mt-64" id="campaign-rule">
      <div class="l-System_Container">
        <h2 class="<%= namespace %>-Heading_Lv2" data-ratid="rmt_scroll_rule" data-ratevent="appear" data-ratparam="all">Rakuten Turbo <br class="u-Show_Oox">月額プラン料金6カ月間無料<br class="u-Show_Oox">キャンペーン</h2>
        <p class="u-Adjust_Mt-24">お申し込みの前にキャンペーンルールを必ず確認してください</p>
        <div class="u-Adjust_Mt-24">
          <div class="c-Accordion">
            <button id="accordion-01" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-01" data-ratid="rmt_ruleac_01" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーンルールを見る</button>
            <div id="accordion-content-01" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-01" aria-hidden="true" style="display:none;">
              <dl class="c-Dl_Origin">
                <div>
                  <dt>キャンペーンコード</dt>
                  <dd>
                    <p>2130</p>
                    <ul class="c-Cpn_List-mark-1">
                      <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン期間</dt>
                  <dd>
                    <div>
                      <p>プランのお申し込み・製品のご購入期間</p>
                      <div class="u-Adjust_Ml-8 u-Adjust_Mt-16">
                        <p>Web</p>
                        <p class="u-Adjust_Ml-8">2024年2月21日（水）9:00～終了日未定</p>
                        <p class="u-Adjust_Mt-8">店舗（楽天モバイルショップ）</p>
                        <p class="u-Adjust_Ml-8">2024年2月21日（水）開店～終了日未定</p>
                      </div>
                    </div>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン適用条件</dt>
                  <dd>
                    <div>
                      <p>上記各項目の期間内に①、②の条件をすべて満たした楽天会員の方</p>
                      <ol class="u-Adjust_Mt-16">
                        <li>
                          <p>①「Rakuten Turbo」と「Rakuten Turbo 5G」の同時申し込み</p>
                          <p>本ルール内では、Rakuten Turboはプラン名、Rakuten Turbo 5Gは製品名のことを指します</p>
                        </li>
                        <li class="u-Adjust_Mt-8">
                          <p>②「Rakuten Turbo」の利用開始日または製品の受け取り日の、いずれか早い日を1日目として9日経過</p>
                          <ul class="c-Cpn_List-mark-1">
                            <li>製品の受け取り日とは当社に配送完了データが通知された日、または店舗で受け取った日です</li>
                          </ul>
                        </li>
                      </ol>
                    </div>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン特典（プラン料金6カ月間無料）</dt>
                  <dd>
                    <div>
                      <p>プラン課金開始当月から6カ月間、プラン料金が月額0円（7カ月目以降のプラン料金より月額4,840円おトク）</p>
                      <ul class="c-Cpn_List-mark-1">
                        <li>7カ月目以降のプラン料金は月額4,840円となります</li>
                        <li>表記の金額は特に記載のある場合を除きすべて税込です</li>
                        <li>お支払い開始当月のプラン料金は0円となります（お支払い開始当月のプラン料金4,840円の日割り分から、同月のおトク分4,840円の日割り分を差し引いた金額）。7カ月目のプラン料金は、プラン料金4,840円からお支払い開始当月のおトク分4,840円の日割り分の残額を差し引いた金額となります<br>（例）課金開始日が4月15日の場合、1カ月目のお支払い額はプラン料金4,840円の日割り分2,420円から、同月のおトク分4,840円の日割り分2,420円を差し引いた0円となります。7カ月目のお支払い額は、1カ月目のおトク分4,840円の日割り分（2,420円）を差し引いた残額2,420円を、同月のプラン料金4,840円から差し引いた2,420円にて請求します。</li>
                      </ul>
                    </div>
                  </dd>
                </div>
                <div>
                  <dt>特典適用対象外</dt>
                  <dd>
                    <div>
                      <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
                      <ul class="c-Cpn_List-mark-1">
                        <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                        <li>楽天モバイルショップ、楽天モバイルオンライン以外で購入した場合</li>
                        <li>当社または楽天グループ株式会社が定める規約などに違反した場合</li>
                        <li>そのほか、当社が会員として不適格であると合理的に判断した場合</li>
                      </ul>
                    </div>
                  </dd>
                </div>
                <div>
                  <dt>併用可能キャンペーン</dt>
                  <dd>
                    <div>
                      <p>以下のキャンペーンは併用可能となります。以下記載のキャンペーン以外は併用不可となります</p>
                      <ul class="c-Cpn_List-mark-2">
                        <li>Rakuten Turbo＆楽天モバイルご利用で20,000ポイントプレゼントキャンペーン（キャンペーンコード:1895）</li>
                        <li>SPU特設 Rakuten Turboを初めてお申し込みで1,000ポイントプレゼントキャンペーン(キャンペーンコード：1919)</li>
                        <li>【ダイヤモンド会員様限定】Rakuten Turboをお申し込みで1,200ポイントプレゼントキャンペーン(キャンペーンコード：1947)</li>
                        <li>スタート1000 Rakuten Turboを初めてご利用で1,000ポイントGET!（キャンペーンコード:1950）</li>
                        <li>Rakuten Turboお申し込みと楽天市場で対象ジャンルの商品購入（1円以上）で20,000ポイント還元​キャンペーン（キャンペーンコード:2038）</li>
                      </ul>
                    </div>
                  </dd>
                </div>
                <div>
                  <dt>注意事項</dt>
                  <dd>
                    <div>
                      <ul class="c-Cpn_List-mark-1">
                        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                        <li>製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
                        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                        <li>記載の内容は2024年5月1日（水）時点の情報となります</li>
                      </ul>
                    </div>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="u-Adjust_Mt-64" id="campaign-rule02">
      <div class="l-System_Container">
        <h2 class="<%= namespace %>-Heading_Lv2" data-ratevent="appear">Rakuten Turbo＆<br class="u-Show_Oox">楽天モバイルご利用で<br class="u-Show_Oox">20,000ポイント<br>プレゼントキャンペーン</h2>
        <p class="u-Adjust_Mt-24">お申し込みの前にキャンペーンルールを必ず確認してください</p>
        <div class="u-Adjust_Mt-24">
          <div class="c-Accordion">
            <button id="accordion-02" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-02" data-ratid="rmt_ruleac_02" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーンルールを見る</button>
            <div id="accordion-content-02" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-02" aria-hidden="true" style="display:none;">
              <dl class="c-Dl_Origin">
                <div>
                  <dt>キャンペーンコード</dt>
                  <dd>
                    <div>
                      <p>1895</p>
                      <ul class="c-Cpn_List-mark-1">
                        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                      </ul>
                    </div>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン期間</dt>
                  <dd>
                    <div>
                      <p>プランのお申し込み・製品のご購入期間</p>
                      <div class="u-Adjust_Ml-8 u-Adjust_Mt-16">
                        <p>Web</p>
                        <p class="u-Adjust_Ml-8">2023年6月14日（水）9:00～終了日未定</p>
                        <p class="u-Adjust_Mt-8">店舗（楽天モバイルショップ）</p>
                        <p class="u-Adjust_Ml-8">2023年6月14日（水）開店～終了日未定</p>
                      </div>
                      <div class="u-Adjust_Mt-16">
                        <p>プラン課金開始期限</p>
                        <p class="u-Adjust_Ml-8">プランのお申し込みの翌月末日23:59まで</p>
                      </div>
                    </div>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン条件</dt>
                  <dd>
                    <div>
                      <p>上記各項目の期間内に①、②、③の条件をすべて満たした楽天会員の方</p>
                      <ol class="u-Adjust_Mt-16">
                        <li class="u-Adjust_Mt-8">
                          <p>①「Rakuten Turbo」と「Rakuten Turbo 5G」の同時申し込み</p>
                          <p>本ルール内では、Rakuten Turboはプラン名、Rakuten Turbo 5Gは製品名のことを指します</p>
                        </li>
                        <li class="u-Adjust_Mt-8">
                          <p>②「Rakuten Turbo」を期限までに課金開始</p>
                          <p>課金開始日は、本サービスの提供を開始した日、もしくは製品の着荷日<sup>※</sup>（または店舗で受け取った日）のいずれか早い日を1日目として、9日目です。</p>
                          <ul class="c-Cpn_List-mark-1">
                            <li>着荷日とは当社に配送完了データが通知された日</li>
                          </ul>
                        </li>
                        <li class="u-Adjust_Mt-8">
                          <p>③「Rakuten最強プラン・Rakuten最強プラン（データタイプ）」ご利用中、または、「Rakuten最強プラン・Rakuten最強プラン（データタイプ）」へのお申し込み＆プラン利用開始</p>
                          <p>「Rakuten Turbo」の利用課金が確認された月の翌月末日に「Rakuten最強プラン・Rakuten最強プラン（データタイプ）」のプランを利用している必要があります</p>
                        </li>
                      </ol>
                      <ul class="u-Adjust_Mt-16">
                        <li>
                          <ul class="c-Cpn_List-mark-1">
                            <li>本キャンペーン開始時点で「Rakuten最強プラン・Rakuten最強プラン（データタイプ）」を利用開始されていない場合は、プラン利用開始が必要となります。既にプラン利用開始されている場合は、新たなお手続きは不要となります</li>
                            <li>
                              本キャンペーン開始時点で「Rakuten最強プラン・Rakuten最強プラン（データタイプ）」の未契約者である場合は、下記（1）-（3）いずれかの方法で「お申し込み」いただく必要があります
                              <ol>
                                <li class="c-Txt_Cap">（1）新規お申し込み</li>
                                <li class="c-Txt_Cap">（2）他社からのMNPでお申し込み</li>
                                <li class="c-Txt_Cap">（3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
                              </ol>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <p class="c-Txt_Cap u-Adjust_Mt-16">【プラン利用開始とは】</p>
                          <ul class="c-Cpn_List-mark-1">
                            <li>新規お申し込みの場合（1）（2）のいずれか早い方がプラン利用開始となります</li>
                          </ul>
                          <ol class="u-Adjust_Mt-8">
                            <li class="c-Txt_Cap">（1）当社に配送完了データが通知された日</li>
                            <li class="c-Txt_Cap">（2）プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日</li>
                          </ol>
                        </li>
                      </ul>
                    </div>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン特典 （楽天ポイント）</dt>
                  <dd>
                    <div>
                      <p>20,000ポイントプレゼント</p>
                      <ul class="c-Cpn_List-mark-1">
                        <li>権利の譲渡はできません</li>
                      </ul>
                    </div>
                  </dd>
                </div>
                <div>
                  <dt>ポイント進呈日</dt>
                  <dd>
                    <div>
                      <p>「Rakuten Turbo」の課金が確認された月の翌々月末日ごろに進呈</p>
                      <ul class="c-Cpn_List-mark-1">
                        <li>例）6月にすべての条件を達成した場合には、その翌々月である8月末日ごろにポイント進呈となります</li>
                        <li>楽天ポイントの進呈は、楽天モバイルより行います</li>
                        <li>権利の譲渡はできません</li>
                      </ul>
                    </div>
                  </dd>
                </div>
                <div>
                  <dt>ポイント有効期間</dt>
                  <dd>
                    <div>
                      <p>ポイント進呈日を含めて6カ月</p>
                      <ul class="c-Cpn_List-mark-1">
                        <li>期間限定ポイントについて（<a href="https://ichiba.faq.rakuten.net/detail/000006532" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">https://ichiba.faq.rakuten.net/detail/000006532<span class="c-Icon_New-window-l"></span></a>）</li>
                        <li>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
                      </ul>
                    </div>
                  </dd>
                </div>
                <div>
                  <dt>特典適用対象外</dt>
                  <dd>
                    <div>
                      <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
                      <ul class="c-Cpn_List-mark-1">
                        <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                        <li>本キャンペーンの適用回数が、おひとり様1回を超える場合は対象外となります</li>
                        <li>Rakuten Turboお申し込みと楽天市場で対象ジャンルの商品購入（1円以上）で20,000ポイント還元キャンペーン（キャンペーンコード：2038）の特典進呈対象者となった場合</li>
                        <li>楽天モバイルショップ、楽天モバイルオンライン以外で購入した場合</li>
                        <li>「Rakuten最強プラン・Rakuten最強プラン（データタイプ）」の利用開始がされなかった場合<br>-プラン利用開始の手続き方法につきましては、<a href="<%= sitepath %>guide/opening/" class="c-Link_Txt">こちら</a>のSIMカード版スタートガイドまたはeSIM版スタートガイドを参照ください</li>
                        <li>期限までに「Rakuten Turbo」の課金が発生しなかった場合</li>
                        <li>「Rakuten Turbo」の課金が確認された月の翌月末日23:59までに「Rakuten最強プラン・Rakuten最強プラン（データタイプ）」を解約された場合</li>
                        <li>ポイント進呈までに「Rakuten Turbo」の解約手続きを行なった場合</li>
                        <li>ポイント進呈までに楽天会員から退会している場合</li>
                        <li>当社または楽天グループ株式会社が定める規約などに違反した場合</li>
                        <li>そのほか、当社が会員として不適格であると合理的に判断した場合</li>
                      </ul>
                    </div>
                  </dd>
                </div>
                <div>
                  <dt>併用可能キャンペーン</dt>
                  <dd>
                    <div>
                      <p>以下のキャンペーンは併用可能となります。以下記載のキャンペーン以外は併用不可となります</p>
                      <ul class="c-Cpn_List-mark-2">
                        <li>Rakuten Turbo 月額プラン料金6カ月間無料キャンペーン(キャンペーンコード：2130)</li>
                        <li>SPU特設 Rakuten Turboを初めてお申し込みで1,000ポイントプレゼントキャンペーン(キャンペーンコード：1919)</li>
                        <li>【ダイヤモンド会員様限定】Rakuten Turboをお申し込みで1,200ポイントプレゼントキャンペーン(キャンペーンコード：1947)</li>
                        <li>スタート1000 Rakuten Turboを初めてご利用で1,000ポイントGET!（キャンペーンコード：1950）</li>
                      </ul>
                    </div>
                  </dd>
                </div>
                <div>
                  <dt>注意事項</dt>
                  <dd>
                    <div>
                      <ul class="c-Cpn_List-mark-1">
                        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                        <li>本キャンペーンの特典進呈対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                        <li>製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
                        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント進呈の対象外となる場合がございます</li>
                        <li>記載の内容は2024年5月1日（水）時点の情報となります</li>
                      </ul>
                    </div>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="u-Adjust_Mt-24 u-Adjust_Mt-pc-16">
      <div class="l-System_Container">
        <a href="<%= sitepath %>terms/" class="c-Link_Txt-inline">利用規約・重要事項説明書<span class="c-Icon_Chevron-right"></span></a>
      </div>
    </div>

    <div class="u-Adjust_Mt-48 u-Adjust_Mt-pc-56">
      <div class="l-System_Container">
        <h2 class="<%= namespace %>-Heading_Lv2" data-ratid="rmt_scroll_hikaribanner" data-ratevent="appear" data-ratparam="all">今なら楽天ひかりもおトク</h2>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
          <a href="<%= sitepath %>hikari/campaign/six-month-free/?l-id=rmt_internet_turbo_campaign_six-month-free_hikari_campaign_six-month-free_01" data-ratid="rmt_internet_turbo_campaign_six-month-free_hikari_campaign_six-month-free_01" data-ratevent="click" data-ratparam="all">
            <picture>
              <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/internet/turbo/bnr/bnr-six-month-free-343-108-240122.png" width="343" height="108">
              <img src="<%= sitepath %>assets/img/internet/turbo/bnr/bnr-six-month-free-1032-160-240122.png" alt="楽天ひかり初めてお申し込み&楽天モバイルご利用で楽天ひかりの月額基本料6カ月0円 ※契約解除料、その他条件あり さらに楽天市場のお買い物がポイント毎日全員7倍" width="1032" height="160">
            </picture>
          </a>
        </div>
      </div>
    </div>

    <div class="<%= namespace %>-List_Links-fixed" id="js-fixed-nav">
      <div class="<%= namespace %>-List_Links-fixed-inner">
        <ul class="<%= namespace %>-List_Links-fixed-items">
          <li class="<%= namespace %>-List_Links-fixed-item">
            <a href="#campaign" class="<%= namespace %>-List_Links-fixed-link js-scroll" data-ratid="rmt_anchor_menu_fv_fix_01" data-ratevent="click" data-ratparam="all">
              <span class="<%= namespace %>-List_Links-fixed-icon c-Icon_Arrow-down-l"></span>
              <div class="<%= namespace %>-List_Links-fixed-txt">キャンペーン<br class="u-Show_Oox">特典</div>
              <span class="<%= namespace %>-List_Links-fixed-image">
                <img src="<%= imgDir %>icon-campaign.svg" width="32" height="32" alt="">
              </span>
            </a>
          </li>
          <li class="<%= namespace %>-List_Links-fixed-item">
            <a href="#about" class="<%= namespace %>-List_Links-fixed-link js-scroll" data-ratid="rmt_anchor_menu_fv_fix_02" data-ratevent="click" data-ratparam="all">
              <span class="<%= namespace %>-List_Links-fixed-icon c-Icon_Arrow-down-l"></span>
              <div class="<%= namespace %>-List_Links-fixed-txt">
                Rakuten&nbsp;<br class="u-Show_Oox">Turboとは
              </div>
              <span class="<%= namespace %>-List_Links-fixed-image">
                <img src="<%= imgDir %>icon-about.svg" width="32" height="32" alt="">
              </span>
            </a>
          </li>
          <li class="<%= namespace %>-List_Links-fixed-item">
            <a href="#fee" class="<%= namespace %>-List_Links-fixed-link js-scroll" data-ratid="rmt_anchor_menu_fv_fix_03" data-ratevent="click" data-ratparam="all">
              <span class="<%= namespace %>-List_Links-fixed-icon c-Icon_Arrow-down-l"></span>
              <div class="<%= namespace %>-List_Links-fixed-txt">月々のお支払い料金</div>
              <span class="<%= namespace %>-List_Links-fixed-image">
                <img src="<%= imgDir %>icon-fee.svg" width="32" height="32" alt="">
              </span>
            </a>
          </li>
          <li class="<%= namespace %>-List_Links-fixed-item">
            <a href="#area" class="<%= namespace %>-List_Links-fixed-link js-scroll" data-ratid="rmt_anchor_menu_fv_fix_04" data-ratevent="click" data-ratparam="all">
              <span class="<%= namespace %>-List_Links-fixed-icon c-Icon_Arrow-down-l"></span>
              <div class="<%= namespace %>-List_Links-fixed-txt">対応エリア</div>
              <span class="<%= namespace %>-List_Links-fixed-image">
                <img src="<%= imgDir %>icon-area.svg" width="32" height="32" alt="">
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div id="js-fixed-btn" class="<%= namespace %>-Layout_Fixed-btn">
      <div class="<%= namespace %>-Layout_Fixed-btn-inner">
        <ul class="<%= namespace %>-Layout_Fixed-btn-items">
          <li class="<%= namespace %>-Layout_Fixed-btn-item">
            <a href="<%= sitepath %>internet/turbo/application/" class="<%= namespace %>-Layout_Fixed-btn-primary" data-lid_parts="fixedbtn">
              <span class="<%= namespace %>-Layout_Fixed-btn-icon c-Icon_Cart-l"></span>
              <span>Webで<br>お申し込み</span>
            </a>
          </li>
          <li class="<%= namespace %>-Layout_Fixed-btn-item">
            <a href="<%= sitepath %>shop/?l-id=rmt_shop_01" class="<%= namespace %>-Layout_Fixed-btn-secondly" data-lid_parts="fixedbtn" data-ratid="rmt_shop_01" data-ratevent="click" data-ratparam="all">
              <span class="<%= namespace %>-Layout_Fixed-btn-icon c-Icon_Shop-l"></span>
              <span>ショップで<br>ご相談</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="u-Adjust_Mt-64">
      <%- include('/include/internet/turbo/_more-nav', {
        hiddenBnr: true,
      }) %>
    </div>

    <div class="u-Adjust_Mt-24">
      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
      <%- include('/include/internet/turbo/_footer', {
        pagetitle: 'Rakuten Turboプラン料金6カ月0円&20,000ポイント還元キャンペーン',
      }) %>
    </div>

    <div class="u-Rat_Appear-height" data-ratid="rmt_scroll_00" data-ratevent="appear" data-ratparam="all"></div>
  </div>

  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
  <%- include('/include/internet/turbo/_rex-survey-campaign') %>
  <script src="<%= sitepath %>assets/js/internet.turbo.campaign.six-month-free.bundle.js?20240521"></script>

</body>
</html>
