<% const pagetitle = "子どもと学ぶスマホのマナー" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/other/other/", label:"その他"}, {path:"guide/security/", label:"情報セキュリティ"}] -%>

<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'スマホはいつでも誰とでも繋がれる魔法のアイテム。だからこそスマホを使う前にしっかりとしたマナーを身につける必要があります。子どもと一緒に親子でスマホのマナーを学びましょう！楽天モバイルはお子さまのスマホデビューを応援します！',
    noindex: false,
    pathname: filepath
  });
%>
<% const nameSpace = "kids-manner" -%>
<% const imgPath = "assets/img/guide/security/kids-manner" -%>

<%- include('/include/_common-css-v2') %>
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/security/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
  <%- include('/include/_prepend-body') %>

  <div class="l-System">
    <%- include('/include/_header') %>

    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>

    <main>
      <div class="<%= nameSpace %>-Hero">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %><%= imgPath %>/kv-sp-230316.png">
          <img src="<%= sitepath %><%= imgPath %>/kv-pc-230316.png" width="1440" height="300" alt="子どもと学ぶスマホのマナー スマホのマナーをしっかりと身につけて安全につかおう">
        </picture>

        <div class="<%= nameSpace %>-Hero_Note">
          <p class="c-Txt_Cap">監修：慶應義塾大学大学院メディアデザイン研究科附属メディアデザイン研究所 リサーチャー　花田経子</p>
        </div>
      </div>

      <div class="<%= nameSpace %>-Content">
        <div class="<%= nameSpace %>-Content_Title">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %><%= imgPath %>/title-01-sp-230327.png" width="301" height="65">
            <img src="<%= sitepath %><%= imgPath %>/title-01-pc-230327.png" width="600" height="45" alt="いっしょに学ぼう！スマホの3つのマナー">
          </picture>
        </div>

        <div class="<%= nameSpace %>-Tab">
          <!-- tabメニュー  -->
          <div class="c-Tab js-Tab">
            <ul class="c-Tab_Items" role="tablist">
              <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">
                <span>
                  時間をまもって<wbr>つかおう
                </span>
              </li>
              <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">
                <span>
                  SNS・チャット<wbr>のマナー
                </span>
              </li>
              <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content3">
                <span>
                  セキュリティを<wbr>まもって安全に
                </span>
              </li>
            </ul>
            <!--  -->
            <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
              <div class="<%= nameSpace %>-Tab_Item">
                <h3 class="<%= nameSpace %>-Tab_Item-title">
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %><%= imgPath %>/title-manners-01-sp-230327.png" width="325" height="70">
                    <img src="<%= sitepath %><%= imgPath %>/title-manners-01-pc-230327.png" width="364" height="87"
                    alt="マナー1 セキュリティーをまもって安全に">
                  </picture>
                </h3>

                <p class="<%= nameSpace %>-Tab_Item-text">
                  はじめてのスマホは世界が広がるワクワクからつい夢中になりがち。最初に家庭のルールをしっかり作っておけば、スマホを安心して使うことができます。
                </p>

                <div class="<%= nameSpace %>-Tab_Box">
                  <h4 class="<%= nameSpace %>-Tab_Box-title">
                    <picture>
                      <source media="(max-width: 768px)" srcset="<%= sitepath %><%= imgPath %>/contents-title-sp-01-230327.png" width="193" height="22">
                      <img src="<%= sitepath %><%= imgPath %>/contents-title-pc-230327.png" width="248" height="33" alt="親子で考えてみよう!">
                    </picture>
                  </h4>

                    <div class="<%= nameSpace %>-Tab_Box-wrap">
                      <div class="<%= nameSpace %>-Tab_Box-flex">
                        <div class="<%= nameSpace %>-Tab_Box-flex-img">
                          <img src="<%= sitepath %><%= imgPath %>/parent-img-01-pc-230316.png" width="304" height="153"
                            alt="親子で考えてみよう">
                        </div>
                        <div class="<%= nameSpace %>-Tab_Box-flex-contents">
                          <img class="<%= nameSpace %>-Tab_Box-flex-contents-img" src="<%= sitepath %><%= imgPath %>/caption-point-230316.png" width="101" height="29"
                          alt="ポイント">
                          <p class="<%= nameSpace %>-Tab_Box-flex-contents-title">スマホをつかいはじめるまえに、どんなルールがひつようかな？</p>
                          <p class="<%= nameSpace %>-Tab_Box-flex-contents-title">かぞくといっしょに、スマホをつかうときのルールをきめてみよう！</p>
                        </div>
                      </div>

                      <div class="<%= nameSpace %>-Tab_Box-note">
                        <h5 class="<%= nameSpace %>-Tab_Box-note-title">保護者の方へ</h5>
                        <p class="<%= nameSpace %>-Tab_Box-note-text">心身の発達の影響により、子どもは大人よりも時間の管理を自分で行うことが苦手です。そのことを理解しながら、できることを一緒に考えてみましょう。</p>
                      </div>
                    </div>

                </div>

                <div class="<%= nameSpace %>-Tab_List">
                  <div class="<%= nameSpace %>-Tab_List-item">
                    <h3 class="<%= nameSpace %>-Tab_List-item-caption">
                      <img src="<%= sitepath %><%= imgPath %>/balloon-01-230316.png" width="282" height="57" alt="家庭でできること">
                    </h3>
                    <div class="<%= nameSpace %>-Tab_List-item-img">
                      <img src="<%= sitepath %><%= imgPath %>/img-01-230316.png" width="296" height="140" alt="家庭でできること">
                    </div>
                    <h4 class="<%= nameSpace %>-Tab_List-item-title">話しあって時間をきめる</h4>
                    <p class="<%= nameSpace %>-Tab_List-item-text">家族で利用してよい時間帯や場所をきめましょう！お互い納得できることが大事。</p>
                    <h4 class="<%= nameSpace %>-Tab_List-item-title u-Adjust_Mt-16">ルールを見えるところにはる</h4>
                    <p class="<%= nameSpace %>-Tab_List-item-text">約束ごとを書いて、家族が集うリビングなどにはりましょう。</p>
                    <p class="<%= nameSpace %>-Tab_List-item-note">子どもの年齢に合わせてルールを見直すことも大切です！</p>
                  </div>
                  <!--  -->
                  <div class="<%= nameSpace %>-Tab_List-item">
                    <h3 class="<%= nameSpace %>-Tab_List-item-caption">
                      <img src="<%= sitepath %><%= imgPath %>/balloon-02-230316.png" width="282" height="57" alt="スマホの設定でできること">
                    </h3>
                    <div class="<%= nameSpace %>-Tab_List-item-img">
                      <img src="<%= sitepath %><%= imgPath %>/img-02-230316.png" width="296" height="140" alt="スマホの設定でできること">
                    </div>
                    <h4 class="<%= nameSpace %>-Tab_List-item-title">Android（アンドロイド）</h4>
                    <p class="<%= nameSpace %>-Tab_List-item-text">お子さまのGoogleアカウントを作ることで利用時間の設定ができます。</p>
                    <a href="https://families.google/intl/ja_ALL/familylink/"
                      class="c-Link_Txt-inline u-Adjust_Mt-8" target="_blank">詳しくはこちら<span class="c-Icon_Chevron-right"></span></a>

                    <h4 class="<%= nameSpace %>-Tab_List-item-title u-Adjust_Mt-16">iPhone</h4>
                    <p class="<%= nameSpace %>-Tab_List-item-text">「スクリーンタイム」でお子さまの利用制限時間を設定できます。</p>
                    <a href="https://support.apple.com/ja-jp/HT201304"
                      class="c-Link_Txt-inline u-Adjust_Mt-8" target="_blank">詳しくはこちら<span class="c-Icon_Chevron-right"></span></a>

                    <p class="<%= nameSpace %>-Tab_List-item-note">家族間ルールで決めた時間に設定しておきましょう</p>
                  </div>
                  <!--  -->
                  <div class="<%= nameSpace %>-Tab_List-item">
                    <h3 class="<%= nameSpace %>-Tab_List-item-caption">
                      <img src="<%= sitepath %><%= imgPath %>/balloon-03-230316.png" width="282" height="57" alt="楽天モバイルでできること">
                    </h3>
                    <div class="<%= nameSpace %>-Tab_List-item-img">
                      <img src="<%= sitepath %><%= imgPath %>/img-03-230316.png" width="296" height="140" alt="楽天モバイルでできること">
                    </div>
                    <h4 class="<%= nameSpace %>-Tab_List-item-title">見守りフィルタリングサービス</h4>
                    <p class="<%= nameSpace %>-Tab_List-item-text">ご家庭でも外出先でも、お子さまのスマホ・タブレット利用を見守ります！</p>

                    <p class="u-Adjust_Align-right u-Adjust_Mt-8"><b>330</b>円／月</p>
                    <a href="<%= sitepath %>service/i-filter/?l-id=guide_security_kids-manner_service_i-filter" class="c-Btn_Secondly <%= nameSpace %>-Tab_List-item-link">あんしんコントロール by<br>i-フィルターの詳細をみる</a>
                  </div>
                  <!--  -->
                </div>
              </div>
            </div>
            <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
              <div class="<%= nameSpace %>-Tab_Item">
                <h3 class="<%= nameSpace %>-Tab_Item-title">
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %><%= imgPath %>/title-manners-02-sp-230327.png" width="308" height="68">
                    <img src="<%= sitepath %><%= imgPath %>/title-manners-02-pc-230327.png" width="352" height="87" alt="マナー2 SNS・チャットのマナー">
                  </picture>
                </h3>

                <p class="<%= nameSpace %>-Tab_Item-text">
                  SNSやチャットアプリは便利ですが、思わぬ発言が誰かに嫌な思いをさせることも。対面で会っている時と同じように礼儀正しくすることで、スマホを安心して使うことができます。
                </p>

                <div class="<%= nameSpace %>-Tab_Box">
                  <h4 class="<%= nameSpace %>-Tab_Box-title">
                    <picture>
                      <source media="(max-width: 768px)" srcset="<%= sitepath %><%= imgPath %>/contents-title-sp-02-230327.png" width="193" height="22">
                      <img src="<%= sitepath %><%= imgPath %>/contents-title-pc-230327.png" width="248" height="33" alt="親子で考えてみよう!">
                    </picture>
                  </h4>

                  <div class="<%= nameSpace %>-Tab_Box-wrap">
                    <div class="<%= nameSpace %>-Tab_Box-flex">
                      <div class="<%= nameSpace %>-Tab_Box-flex-img">
                        <img src="<%= sitepath %><%= imgPath %>/parent-img-02-pc-230316.png" width="304" height="153" alt="親子で考えてみよう">
                      </div>
                      <div class="<%= nameSpace %>-Tab_Box-flex-contents">
                        <img class="<%= nameSpace %>-Tab_Box-flex-contents-img" src="<%= sitepath %><%= imgPath %>/caption-point-230316.png" width="101" height="29" alt="ポイント">
                        <p class="<%= nameSpace %>-Tab_Box-flex-contents-title">SNS（エスエヌエス）でトラブルやはんざいにまきこまれるニュースをよく見るけど、何に気をつけたらいいんだろう？</p>
                        <p class="<%= nameSpace %>-Tab_Box-flex-contents-title">チャットアプリで友だちとトラブルにならないためのマナーって何だろう？</p>
                      </div>
                    </div>

                    <div class="<%= nameSpace %>-Tab_Box-note">
                      <h5 class="<%= nameSpace %>-Tab_Box-note-title">保護者の方へ</h5>
                      <p class="<%= nameSpace %>-Tab_Box-note-text">
                        子どもは表現方法の種類が少なかったり、その場のノリで不用意な言動を取ることもあります。そのことで誰かを傷つけたり、トラブルの入り口にならないよう、未然の防ぎ方について一緒に考えてみましょう。</p>
                    </div>
                  </div>

                </div>

                <div class="<%= nameSpace %>-Tab_Use">
                  <h3 class="<%= nameSpace %>-Tab_Use-title">
                    <img src="<%= sitepath %><%= imgPath %>/balloon-01-230316.png" width="282" height="57" alt="家庭でできること">
                  </h3>

                  <div class="<%= nameSpace %>-Tab_Use-flex">
                    <div class="<%= nameSpace %>-Tab_Use-flex-img">
                      <img src="<%= sitepath %><%= imgPath %>/use-img-01-230316.png" width="282" height="57" alt="子どもと考えられるトラブルについて話しあいましょう">
                    </div>
                    <div class="<%= nameSpace %>-Tab_Use-flex-contens">
                      <h4 class="c-Heading_Lv4">子どもと考えられるトラブルについて話しあいましょう</h4>
                      <p class="u-Adjust_Mt-8">まず、投稿をする前に6秒待って、自分が書いた投稿内容を読み返そう。その内容は誰かを傷つけていませんか？自分が見ている投稿内容は、本当に正しい情報ですか？どんな内容がいけないか考えてみよう！</p>
                      <h4 class="c-Heading_Lv4 u-Adjust_Mt-16">困った時には必ず相談</h4>
                      <p class="u-Adjust_Mt-8">怖いと感じたり困ったときには1人で解決しようとせず、「必ず大人に相談する」と約束をしましょう！</p>
                      <div class="<%= nameSpace %>-Tab_Use-note">投稿前の6秒ルール、忘れずに！</div>
                    </div>
                  </div>
                </div>

                <div class="<%= nameSpace %>-Tab_Flex u-Adjust_Mt-48 u-Adjust_Mt-sp-40">
                  <div class="<%= nameSpace %>-Tab_Use">
                    <h3 class="<%= nameSpace %>-Tab_Use-title">
                      <img src="<%= sitepath %><%= imgPath %>/balloon-02-230316.png" width="282" height="57" alt="スマホの設定でできること">
                    </h3>
                    <div class="<%= nameSpace %>-Tab_Use-flex">
                      <div class="<%= nameSpace %>-Tab_Use-flex-img <%= nameSpace %>-Tab_Use-flex-img2">
                        <picture>
                          <source media="(max-width: 768px)" srcset="<%= sitepath %><%= imgPath %>/use-img-02-sp-230316.png">
                          <img src="<%= sitepath %><%= imgPath %>/use-img-02-pc-230316.png" width="282" height="57" alt="スマホの設定でできること">
                        </picture>
                      </div>

                      <div class="<%= nameSpace %>-Tab_Use-flex-contens">
                        <h4 class="c-Heading_Lv4">Android（アンドロイド）</h4>
                        <p class="u-Adjust_Mt-8">「ファミリーリンク」を設定してお子さまのスマホの安全を守りましょう。</p>
                        <a href="https://families.google/intl/ja_ALL/familylink/" class="c-Link_Txt-inline"
                          target="_blank">詳しくはこちら<span class="c-Icon_Chevron-right"></span></a>

                        <h4 class="c-Heading_Lv4 u-Adjust_Mt-16">iPhone</h4>
                        <p class="u-Adjust_Mt-8">「スクリーンタイム」の設定でスマホの安全を守りましょう！</p>

                        <a href="https://support.apple.com/ja-jp/HT201304" class="c-Link_Txt-inline" target="_blank">詳しくはこちら<span
                          class="c-Icon_Chevron-right"></span></a>
                      </div>
                    </div>
                    <div class="<%= nameSpace %>-Tab_Use-note">アプリの利用可能年齢などの確認・設定をしておきましょう</div>
                  </div>

                  <div class="<%= nameSpace %>-Tab_Use">
                    <h3 class="<%= nameSpace %>-Tab_Use-title">
                      <img src="<%= sitepath %><%= imgPath %>/balloon-03-230316.png" width="282" height="57" alt="楽天モバイルでできること">
                    </h3>

                    <div class="<%= nameSpace %>-Tab_Use-caption">
                      <h4 class="c-Heading_Lv4">見守りフィルタリングサービス</h4>
                      <p><b>330</b>円／月</p>
                    </div>

                    <p class="u-Adjust_Mt-8">ご家庭でも外出先でも、お子さまのスマホ・タブレット利用を見守ります!</p>
                    <a href="<%= sitepath %>service/i-filter/?l-id=guide_security_kids-manner_service_i-filter"
                      class="c-Btn_Secondly">あんしんコントロール by <br class="kids-manner-Utility_Show-sp">i-フィルターの詳細をみる</a>

                    <div class="<%= nameSpace %>-Tab_Use-caption u-Adjust_Mt-16 u-Adjust_Mt-sp-24">
                      <h4 class="c-Heading_Lv4">ウイルス対策製品</h4>
                      <p><b>220</b>円／月</p>
                    </div>

                    <p class="u-Adjust_Mt-8">危険なWi-FiやWebサイトなど、さまざまなリスクから保護する機能を備えています。</p>
                    <a href="<%= sitepath %>service/norton-mobile-security/?l-id=guide_security_kids-manner_service_norton-mobile-security"
                      class="c-Btn_Secondly">ノートン™ モバイル セキュリティの<br class="kids-manner-Utility_Show-sp">詳細をみる</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-Tab_Panel" id="tab-content3" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu3">
              <div class="<%= nameSpace %>-Tab_Item">
                <h3 class="<%= nameSpace %>-Tab_Item-title">
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %><%= imgPath %>/title-manners-03-sp-230327.png" width="207" height="124">
                    <img src="<%= sitepath %><%= imgPath %>/title-manners-03-pc-230327.png" width="452" height="87" alt="マナー3 セキュリティーをまもって安全に">
                  </picture>
                </h3>

                <p class="<%= nameSpace %>-Tab_Item-text">
                  さまざまなスマホのサービスを利用するには、個人情報の登録やアカウントの設定が必要です。セキュリティを守ることで個人情報の悪用を防ぐことができ安心して使うことができます。
                </p>

                <div class="<%= nameSpace %>-Tab_Box">
                  <h4 class="<%= nameSpace %>-Tab_Box-title">
                    <picture>
                      <source media="(max-width: 768px)" srcset="<%= sitepath %><%= imgPath %>/contents-title-sp-03-230327.png" width="193" height="22">
                      <img src="<%= sitepath %><%= imgPath %>/contents-title-pc-230327.png" width="248" height="33" alt="親子で考えてみよう!">
                    </picture>
                  </h4>

                  <div class="<%= nameSpace %>-Tab_Box-wrap">
                    <div class="<%= nameSpace %>-Tab_Box-flex">
                      <div class="<%= nameSpace %>-Tab_Box-flex-img">
                        <img src="<%= sitepath %><%= imgPath %>/parent-img-03-pc-230316.png" width="304" height="153" alt="親子で考えてみよう">
                      </div>
                      <div class="<%= nameSpace %>-Tab_Box-flex-contents">
                        <img class="<%= nameSpace %>-Tab_Box-flex-contents-img" src="<%= sitepath %><%= imgPath %>/caption-point-230316.png" width="101" height="29" alt="ポイント">
                        <p class="<%= nameSpace %>-Tab_Box-flex-contents-title">ユーザーID（アイディー）とかパスワード、とうろくするたびにちがうとめんどうだな。ぜんぶ同じじゃいけないの？
                        </p>
                        <p class="<%= nameSpace %>-Tab_Box-flex-contents-title">友だちから「ゲームのほしいアイテムがあるから、ログインさせて」と言われた。ID（アイディー）とパスワードおしえてもいいの？</p>
                      </div>
                    </div>

                    <div class="<%= nameSpace %>-Tab_Box-note">
                      <h5 class="<%= nameSpace %>-Tab_Box-note-title">保護者の方へ</h5>
                      <p class="<%= nameSpace %>-Tab_Box-note-text">
                        子どもたちはパスワードの重要性を知りません。不正アクセスはサイバー犯罪につながる行為であることに注意しながら、パスワードの管理についてお子さまと一緒に考えてみましょう。</p>
                    </div>
                  </div>
                </div>

                <div class="<%= nameSpace %>-Tab_Use">
                  <h3 class="<%= nameSpace %>-Tab_Use-title">
                    <img src="<%= sitepath %><%= imgPath %>/balloon-01-230316.png" width="282" height="57" alt="家庭でできること">
                  </h3>

                  <div class="<%= nameSpace %>-Tab_Use-flex">
                    <div class="<%= nameSpace %>-Tab_Use-flex-img">
                      <img src="<%= sitepath %><%= imgPath %>/use-img-03-230316.png" width="282" height="57"
                        alt="IDとパスワードの使い回しがなぜ危険なのか理解してもらいましょう">
                    </div>
                    <div class="<%= nameSpace %>-Tab_Use-flex-contens">
                      <h4 class="c-Heading_Lv4">IDとパスワードの使い回しがなぜ危険なのか理解してもらいましょう</h4>
                      <p class="u-Adjust_Mt-8">
                        ユーザIDとパスワードは情報を守るための 鍵のようなもの。他の人に渡したら、大事な情報やお金が奪われることも。パスワードはサービスごとに変えて使うようにしよう。</p>
                      <h4 class="c-Heading_Lv4 u-Adjust_Mt-16">友達でもIDとパスワードは教えてはだめ！</h4>
                      <p class="u-Adjust_Mt-8">友達であっても、パスワードを教えることはやめましょう。また、誰かのIDを使ってログインすることは「不正アクセス」として罰せられる場合があります。</p>
                      <a href="https://www.ipa.go.jp/chocotto/pw.html" class="c-Link_Txt-inline" target="_blank">パスワードの作り方をみる<span class="c-Icon_Chevron-right"></span></a>
                      <div class="<%= nameSpace %>-Tab_Use-note">自分の情報を守ることができるのは自分だけ！</div>
                    </div>
                  </div>
                </div>

                <div class="<%= nameSpace %>-Tab_Flex u-Adjust_Mt-48 u-Adjust_Mt-sp-40">
                  <div class="<%= nameSpace %>-Tab_Use">
                    <h3 class="<%= nameSpace %>-Tab_Use-title">
                      <img src="<%= sitepath %><%= imgPath %>/balloon-02-230316.png" width="282" height="57" alt="スマホの設定でできること">
                    </h3>
                    <div class="<%= nameSpace %>-Tab_Use-flex-sm">
                      <div class="<%= nameSpace %>-Tab_Use-flex-sm-img">
                        <picture>
                          <source media="(max-width: 768px)" srcset="<%= sitepath %><%= imgPath %>/use-img-04-230327.png" width="198" height="">
                          <img src="<%= sitepath %><%= imgPath %>/use-img-04-230327.png" alt="" width="198" height="129">
                        </picture>
                      </div>

                      <div class="<%= nameSpace %>-Tab_Use-flex-sm-contens">
                        <h4 class="c-Heading_Lv4">お子さまのスマホにクレジットカードの紐付けはNG！</h4>
                        <p class="u-Adjust_Mt-8">カード登録はすぐ使えるアプリやゲームの高額請求につながりやすく危険。設定する場合には、iOS の「承認と購入のリクエスト」や、Google Play での購入の承認機能などを活用しましょう。</p>
                      </div>
                    </div>
                    <div class="<%= nameSpace %>-Tab_Use-note">二要素認証や二段階認証などを利用しましょう</div>
                  </div>

                  <div class="<%= nameSpace %>-Tab_Use">
                    <h3 class="<%= nameSpace %>-Tab_Use-title">
                      <img src="<%= sitepath %><%= imgPath %>/balloon-03-230316.png" width="282" height="57" alt="楽天モバイルでできること">
                    </h3>

                    <div class="<%= nameSpace %>-Tab_Use-caption">
                      <h4 class="c-Heading_Lv4">見守りフィルタリングサービス</h4>
                      <p><b>330</b>円／月</p>
                    </div>

                    <p class="u-Adjust_Mt-8">ご家庭でも外出先でも、お子さまのスマホ・タブレット利用を見守ります!</p>
                    <a href="<%= sitepath %>service/i-filter/?l-id=guide_security_kids-manner_service_i-filter"
                      class="c-Btn_Secondly">あんしんコントロール by <br class="kids-manner-Utility_Show-sp">i-フィルターの詳細をみる</a>

                    <div class="<%= nameSpace %>-Tab_Use-caption u-Adjust_Mt-16 u-Adjust_Mt-sp-24">
                      <h4 class="c-Heading_Lv4">ウイルス対策製品</h4>
                      <p><b>220</b>円／月</p>
                    </div>

                    <p class="u-Adjust_Mt-8">危険なWi-FiやWebサイトなど、さまざまなリスクから保護する機能を備えています。</p>
                    <a href="<%= sitepath %>service/norton-mobile-security/?l-id=guide_security_kids-manner_service_norton-mobile-security"
                      class="c-Btn_Secondly">ノートン™ モバイル セキュリティの<br class="kids-manner-Utility_Show-sp">詳細をみる</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- /.tab -->
        </div>
      </div>


      <div class="<%= nameSpace %>-Link">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">子ども関連ページ</h2>

        <ul class="<%= nameSpace %>-Link_Flex">
          <li class="c-Banner_Hover-act">
            <a href="<%= sitepath %>guide/kidsjunior/?l-id=guide_security_kids-manner_guide_kidsjunior">
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %><%= imgPath %>/bnr-01-sp-230316.png">
                <img src="<%= sitepath %><%= imgPath %>/bnr-01-pc-230316.png" width="504" height="320" alt="はじめてのスマホを安心・安全に使おう　子どもスマホ利用あんしんガイド">
              </picture>
            </a>
          </li>
          <li class="c-Banner_Hover-act">
            <a href="<%= sitepath %>guide/kids-ke-tai/?l-id=guide_security_kids-manner_guide_kids-ke-tai">
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/bnr/bnr-kids-ke-tai-504-320.png">
                <img src="<%= sitepath %>assets/img/bnr/bnr-kids-ke-tai-504-213.png" width="504" height="320" alt="楽天モバイルならキッズ・学生のスマホデビューにもおトクであんしん！">
              </picture>
            </a>
          </li>
          <li class="c-Banner_Hover-act">
            <a href="<%= sitepath %>guide/security/cyber-bousai2022/?l-id=guide_security_kids-manner_guide_security_cyber-bousai2022">
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %><%= imgPath %>/bnr-03-sp-230316.png">
                <img src="<%= sitepath %><%= imgPath %>/bnr-03-pc-230316.png" width="1032" height="160" alt="お買いものパンダと学ぼう　スミッシング対策入門">
              </picture>
            </a>
          </li>
        </ul>
      </div>

      <div class="l-System_Container u-Adjust_Mt-64">
        <!-- ReX UX Survey: Mounting point for embedded components -->
        <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
      </div>
    </main>

    <footer class="g-Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/bnr/_bnr.ejs') %>
      </div>
      <div class="c-Breadcrumbs_Foot">
        <div class="l-System_Container">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !=='undefined' ) { _%>
              <%_ let dirs=[]; _%>
                <%_ directories.forEach(function (dir) { _%>
                  <%_ if (dir.path !=="" ) { _%>
                    <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
                    <%_ } else { _%>
                    <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
                <%_ } _%>
              <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <!-- ReX UX Survey: Config -->
  <script>
    window.rexSurveyConfig = {
      "language": "ja",
      "surveyId": "40804",
      "cId": {
          "name": "answers[40804_277166]",
          "value": ""
      },
      "embedded": true,
      "url": {
          "name": "answers[40804_277167]"
      },
      "triggerIdName": "trigger",
      "reappearancePeriodWithRespond": "10",
      "reappearancePeriodWithoutRespond": "10",
      "enableDisplaySuppressionPerPage": true,
      "enableFormAction": false,
      "displayStartDate": "",
      "displayEndDate": "",
      "permission": {
          "inquiryTxt": "キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)",
          "yesBtnTxt": "協力する",
          "noBtnTxt": "今は協力しない",
          "available": true
      },
      "thanks": {
          "txt0": "ご協力ありがとうございました",
          "txt1": "いただいた情報は、サービス改善のために使用させていただきます。"
      },
      "nps": {
          "available": true,
          "question": {
              "label": "このページの総合的な「わかりやすさ」について、どのように感じましたか？"
          },
          "options": [
              {
                  "name": "answers[40804_277168]",
                  "value": "743028"
              },
              {
                  "name": "answers[40804_277168]",
                  "value": "743029"
              },
              {
                  "name": "answers[40804_277168]",
                  "value": "743030"
              },
              {
                  "name": "answers[40804_277168]",
                  "value": "743031"
              },
              {
                  "name": "answers[40804_277168]",
                  "value": "743032"
              }
          ],
          "txt0": "薦めたくない",
          "txt1": "薦めたい",
          "checked": 4
      },
      "inquiry": {
          "available": true,
          "checkList": {
              "questionType": "multipleAnswer",
              "available": true,
              "question": "このページは役に立ちましたか？",
              "shuffleChoices": true,
              "options": [
                  {
                      "name": "answers[40804_277169][]",
                      "value": "743033",
                      "label": "知りたいことがわかった"
                  },
                  {
                      "name": "answers[40804_277169][]",
                      "value": "743034",
                      "label": "もっと具体的に書いてほしい"
                  },
                  {
                      "name": "answers[40804_277169][]",
                      "value": "743035",
                      "label": "情報が多すぎた"
                  },
                  {
                      "name": "answers[40804_277169][]",
                      "value": "743036",
                      "label": "デザインが見づらい"
                  },
                  {
                      "name": "answers[40804_277169][]",
                      "value": "743037",
                      "label": "子ども向けページもほしい"
                  },
                  {
                      "name": "",
                      "value": "",
                      "label": ""
                  },
                  {
                      "name": "",
                      "value": "",
                      "label": ""
                  }
              ]
          },
          "freeInput": {
              "available": true,
              "name": "answers[40804_277170]",
              "title": "ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"
          },
          "sendBtnTxt": "送信する",
          "footerNote": {
              "available": true,
              "text": "お客様よりご提供いただく情報はサービス向上のため使用させていただきます。",
              "link": "https://privacy.rakuten.co.jp/",
              "htmlText": ""
          }
      },
      "inquiryNegative": {
          "checkList": {
              "available": false,
              "options": [
                  {
                      "name": "answers[40804_277169][]",
                      "value": "743033",
                      "label": ""
                  },
                  {
                      "name": "answers[40804_277169][]",
                      "value": "743034",
                      "label": ""
                  },
                  {
                      "name": "answers[40804_277169][]",
                      "value": "743035",
                      "label": ""
                  },
                  {
                      "name": "answers[40804_277169][]",
                      "value": "743036",
                      "label": ""
                  },
                  {
                      "name": "answers[40804_277169][]",
                      "value": "743037",
                      "label": ""
                  },
                  {
                      "name": "",
                      "value": "",
                      "label": ""
                  },
                  {
                      "name": "",
                      "value": "",
                      "label": ""
                  }
              ]
          }
      },
      "ua": {
          "name": "answers[40804_277171]"
      },
      "href": {
          "name": "answers[40804_277172]"
      },
      "cookie": {
          "available": false
      },
      "assetPaths": {
          "closeButton": "",
          "checkIcon": ""
      }
    }
  </script>
  <!-- ReX UX Survey: Script -->
  <script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/1.8.0/js/main.js" defer></script>
  <script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
  </body>
</html>
