<% const pagetitle = "料金プラン詳細" -%>
<% const directories = [{path:"fee/saikyo-plan/", label:"Rakuten最強プラン（料金プラン）"}] -%>
<% const namespace = "saikyo-plan-detail" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '楽天モバイル「Rakuten最強プラン」の料金詳細をご案内します',
    keywords: '',
    directories: directories,
    noindex: false,
    pathname: filepath,
    canonical_custom: 'https://network.mobile.rakuten.co.jp/fee/saikyo-plan/',
  });
%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/fee/saikyo-plan/detail/saikyo-plan-detail.css?20240424">
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>

  <div class="l-System">

    <%- include('/include/_header') %>

    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>

    <div class="<%= namespace %>-Layout_Detail u-Adjust_Pt-0 u-Adjust_Pb-0">
      <div class="l-System_Container">
        <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-right">※表記の金額は特に記載のある場合を除き全て税込です。</p>

        <h1 class="c-Heading_Lv1 u-Adjust_Mt-24"><%= pagetitle %></h1>

        <div class="u-Adjust_Mt-24">
          <p class="u-Adjust_Align-right">
            <a href="<%= sitepath %>fee/saikyo-plan/detail/en/?l-id=fee_saikyo-plan_detail_fee_saikyo-plan_detail_en" class="c-Link_Txt-inline">English<span class="c-Icon_Chevron-right"></span></a>
          </p>
        </div>


        <h2 class="u-Adjust_Align-center u-Adjust_Mt-24 u-Adjust_Mb-0">
          <img src="<%= sitepath %>assets/img/fee/saikyo-plan/detail/saikyo-plan-logo.png" alt="Rakuten 最強プラン" width="257" height="">
        </h2>

        <div class="c-Tab js-Tab u-Adjust_Mt-16">
          <table class="c-Table_Container <%= namespace %>-Table_Base <%= namespace %>-Table_Base-01 u-Adjust_Mt-16">
            <colgroup>
              <col>
              <col>
            </colgroup>
            <tr>
              <th class="c-Txt_Normal-m">プラン<br class="u-Show_Xxo">料金</th>
              <td>
                <div>
                  <p class="u-Adjust_Mb-16 u-Adjust_Mb-pc-8">
                    <span class="c-Txt_Emp-01 c-Txt_Normal-m">4G+5G対応はそのまま</span><br class="u-Show_Oox">
                    <span class="c-Txt_Cap">※5Gのご利用には、<a href="<%= sitepath %>area/" class="c-Link_Txt">対象エリア</a>と<a href="<%= sitepath %>product/" class="c-Link_Txt">対応製品</a>が必要です。</span>
                  </p>
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/detail/saikyo-plan-price-240221-sp.png" width="638" height="1148">
                    <img src="<%= sitepath %>assets/img/fee/saikyo-plan/detail/saikyo-plan-price-240221-pc.png" width="825" height="273" alt="最強家族プログラム適用時：100円（税別）引きで、20GB超過後どれだけ使っても無制限※1 で2,880円/月(税込3,168円)、3GB超過後20GBまでは1,880 円/月(税込2,068円)  、3GBまでは880円/月(税込968円) 。最強家族プログラム未適用時：20GB超過後どれだけ使っても無制限※1 で2,980円/月(税込3,278円) 3GB超過後20GBまでは1,980 円/月(税込2,178円)  3GBまでは980円/月(税込1,078円)">
                  </picture>
                </div>
              </td>
            </tr>
          </table>

          <div id="js-trigger"></div>

          <ul class="<%= namespace %>-Table_Note-list c-Txt_Cap u-Adjust_Mt-16">
            <li>※通話料等別</li>
            <li>※1 公平なサービス提供または環境により速度低下する場合あり </li>
          </ul>

          <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
            <a href="<%= sitepath %>fee/family/?l-id=fee_saikyo-plan-detail_fee_family" class="c-Btn_Secondly-large">最強家族プログラムの詳細を見る</a>
          </div>

          <ul class="<%= namespace %>-Layout_Link-horizontal u-Adjust_Mt-64">
            <li><a href="#ank-date" class="c-Link_Txt-inline js-scroll"><span class="c-Icon_Arrow-down-l u-Adjust_Mr-8"></span>データ通信</a></li>
            <li><a href="#call-02" class="c-Link_Txt-inline js-scroll"><span class="c-Icon_Arrow-down-l u-Adjust_Mr-8"></span>通話料金</a></li>
            <li><a href="#sms-02" class="c-Link_Txt-inline js-scroll"><span class="c-Icon_Arrow-down-l u-Adjust_Mr-8"></span>メッセージ・SMS料金</a></li>
          </ul>

          <h2 id="ank-date" class="c-Heading_Lv2 u-Adjust_Mt-64 u-Adjust_Align-center">データ通信</h2>
          <div class="<%= namespace %>-Table_Pc">
            <table class="c-Table_Container <%= namespace %>-Table_Detail <%= namespace %>-Table_Detail-01 <%= namespace %>-Table_Detail-01-color-01">
              <thead>
                <tr>
                  <th scope="col">エリア</th>
                  <th scope="row">国内</th>
                  <th scope="row">海外（指定の国と地域）</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>高速データ容量<span>※2</span></th>
                  <td>制限なし<span>※1</span>
                    <p class="c-Txt_Normal-ss">5Gエリアと対応製品利用で5G通信使い放題<span>※3</span></p>
                  </td>
                  <td>2GB/月<p class="c-Txt_Normal-ss">超過後は最大128kbps<span>※4</span></p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="<%= namespace %>-Table_Sp">
            <table class="c-Table_Container <%= namespace %>-Table_Base-sp">
              <thead>
                <tr>
                  <th>高速データ容量<span>※2</span></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>国内</th>
                </tr>
                <tr>
                  <td>
                    <p class="<%= namespace %>-Table_Base-fs-20">制限なし<span class="c-Txt_Cap">※1</span></p>5Gエリアと対応製品利用で5G通信使い放題<span>※3</span>
                  </td>
                </tr>
                <tr>
                  <th>海外（指定の国と地域）</th>
                </tr>
                <tr>
                  <td>
                    <p class="<%= namespace %>-Table_Base-fs-20">2GB/月</p>超過後は最大128kbps<span>※4</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <ul class="<%= namespace %>-Table_Note-list c-Txt_Cap u-Adjust_Mt-16">
            <li>※1 公平なサービス提供のため、速度制限の場合あり。環境により速度低下する場合あり</li>
            <li>※2 データ残量は翌月に繰り越されません。</li>
            <li>※3 5Gのご利用には、対象エリアと対応製品が必要です。5Gは一部エリアのみ。順次拡大予定。<a href="<%= sitepath %>area/?l-id=saikyo-plan-detail_area" class="c-Link_Txt">詳しくはこちら</a></li>
            <li>※4 海外ローミングエリアのデータ容量を超えた場合、海外ローミングエリアでの通信速度が最大128kbpsに制限されます。</li>
          </ul>

          <div class="<%= namespace %>-Table_Container" id="call-02">
            <h2 id="ank-tel" class="c-Heading_Lv2">通話料金</h2>

            <h3 id="tel-android" class="c-Heading_Lv3 u-Adjust_Mt-32">Androidの場合</h3>

            <div class="<%= namespace %>-Table_Pc">
              <table class="c-Table_Container <%= namespace %>-Table_Detail <%= namespace %>-Table_Detail-01 <%= namespace %>-Table_Detail-01-color-02">
                <colgroup>
                  <col>
                  <col>
                  <col>
                  <col>
                </colgroup>
                <tr>
                  <th></th>
                  <th width="20%"></th>
                  <th width="35%" scope="col">Rakuten Linkアプリを利用した場合</th>
                  <th width="35%" scope="col">Android標準の電話アプリを利用した場合</th>
                </tr>
                <tr>
                  <th rowspan="5">発信料金</th>
                  <th>Rakuten Link同士</th>
                  <td rowspan="3">無料</td>
                  <td>-</td>
                </tr>
                <tr>
                  <th>日本から日本の電話番号へかける</th>
                  <td>20円（税込22円）/30秒</td>
                </tr>
                <tr>
                  <th>海外から日本の電話番号へかける<span class="c-Txt_Cap">※5</span></th>
                  <td>国・地域別従量課金<span class="c-Txt_Cap">※6</span></td>
                </tr>
                <tr>
                  <th>日本から海外の電話番号へかける</th>
                  <td rowspan="2">国・地域別従量課金</td>
                  <td>国・地域別従量課金</td>
                </tr>
                <tr>
                  <th>海外から海外の電話番号へかける<span class="c-Txt_Cap">※5</span></th>
                  <td>国・地域別従量課金<span class="c-Txt_Cap">※6</span></td>
                </tr>
                <tr>
                  <th rowspan="2">着信料金</th>
                  <th>日本で電話をうける</th>
                  <td rowspan="2">無料</td>
                  <td>無料</td>
                </tr>
                <tr>
                  <th>海外で電話をうける<span class="c-Txt_Cap">※5</span></th>
                  <td>国・地域別従量課金<span class="c-Txt_Cap">※6</span></td>
                </tr>
              </table>
            </div>

            <div class="<%= namespace %>-Table_Sp">
              <h4 class="c-Txt_Normal c-Txt_Emp-01">Rakuten Linkアプリを利用した場合</h4>
              <table class="c-Table_Container <%= namespace %>-Table_Detail-sp">
                <colgroup>
                  <col style="width:50%;">
                  <col style="width:50%;">
                </colgroup>
                <thead>
                  <tr>
                    <th colspan="2">発信料金</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th colspan="2">RakutenLink同士</th>
                  </tr>
                  <tr>
                    <td colspan="2">無料</td>
                  </tr>
                  <tr>
                    <th class="<%= namespace %>-Table_Th-sub">日本から日本の電話番号へかける</th>
                    <th class="<%= namespace %>-Table_Th-sub">海外から日本の電話番号へかける<span class="c-Txt_Cap">※5</span></th>
                  </tr>
                  <tr>
                    <td colspan="2">無料</td>
                  </tr>
                  <tr>
                    <th class="<%= namespace %>-Table_Th-sub">日本から海外の電話番号へかける</th>
                    <th class="<%= namespace %>-Table_Th-sub">海外から海外の電話番号へかける<span class="c-Txt_Cap">※5</span></th>
                  </tr>
                  <tr>
                    <td colspan="2">国・地域別従量課金</td>
                  </tr>
                </tbody>
                <thead>
                  <tr>
                    <th colspan="2">着信料金</th>
                  </tr>
                </thead>
                <tr>
                  <th class="<%= namespace %>-Table_Th-sub">日本で電話をうける</th>
                  <th class="<%= namespace %>-Table_Th-sub">海外で電話をうける<span class="c-Txt_Cap">※5</span></th>
                </tr>
                <tbody>
                  <tr>
                    <td colspan="2">無料</td>
                  </tr>
                </tbody>
              </table>

              <h4 class="c-Txt_Normal c-Txt_Emp-01 u-Adjust_Mt-32">Android標準の電話アプリを利用した場合</h4>
              <table class="c-Table_Container <%= namespace %>-Table_Detail-sp">
                <thead>
                  <tr>
                    <th>発信料金</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>日本から日本の電話番号へかける</th>
                  </tr>
                  <tr>
                    <td>20円（税込22円）/30秒</td>
                  </tr>
                  <tr>
                    <th>海外から日本の電話番号へかける</th>
                  </tr>
                  <tr>
                    <td>国・地域別従量課金<span class="c-Txt_Cap">※6</span></td>
                  </tr>
                  <tr>
                    <th>日本から海外の電話番号へかける</th>
                  </tr>
                  <tr>
                    <td>国・地域別従量課金</td>
                  </tr>
                  <tr>
                    <th>海外から海外の電話番号へかける</th>
                  </tr>
                  <tr>
                    <td>国・地域別従量課金<span class="c-Txt_Cap">※6</span></td>
                  </tr>
                </tbody>
                <thead>
                  <tr>
                    <th>着信料金</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>日本で電話をうける</th>
                  </tr>
                  <tr>
                    <td>無料</td>
                  </tr>
                  <tr>
                    <th>海外で電話をうける</th>
                  </tr>
                  <tr>
                    <td>国・地域別従量課金<span class="c-Txt_Cap">※6</span></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <ul class="c-Txt_Cap u-Adjust_Mt-16">
              <li>※（0570）などから始まる他社接続サービス、一部特番（188）への通話については、無料通話の対象外となります。</li>
              <li>※5 Rakuten Linkアプリを利用した場合、海外の対象国と地域からのみ発着信可能となります。その他の地域に関してはWi-Fi接続中の場合のみ発着信可能となります。</li>
              <li>※6 Android標準の電話アプリを利用した場合、海外の対象国と地域でのみ発着信可能となります。</li>
            </ul>
            <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-16">
              <li>
                <p><a href="<%= sitepath %>service/standard-free-call/?l-id=saikyo-plan-detail_service_standard-free-call-01" class="c-Link_Txt-inline">15分（標準）通話かけ放題の詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
              </li>
              <li>
                <p><a href="<%= sitepath %>service/international-call/?l-id=saikyo-plan-detail_international-call_01" class="c-Link_Txt-inline">国際通話の詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
              </li>
              <li>
                <p><a href="<%= sitepath %>service/international-unlimited-talk/?l-id=saikyo-plan-detail_unlimited-talk_01" class="c-Link_Txt-inline">国際通話かけ放題の詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
              </li>
            </ul>

            <h3 id="tel-ios" class="c-Heading_Lv3 u-Adjust_Mt-32">iOSの場合</h3>
            <div class="<%= namespace %>-Table_Pc">
              <table class="c-Table_Container <%= namespace %>-Table_Detail <%= namespace %>-Table_Detail-02 <%= namespace %>-Table_Detail-01-color-02">
                <colgroup>
                  <col>
                  <col>
                  <col>
                  <col>
                </colgroup>
                <tr>
                  <th></th>
                  <th width="20%"></th>
                  <th width="35%" scope="col">Rakuten Linkアプリを利用した場合</th>
                  <th width="35%" scope="col">iOS標準の電話アプリを利用した場合</th>
                </tr>
                <tr>
                  <th rowspan="5">発信料金</th>
                  <th>Rakuten Link同士</th>
                  <td rowspan="3">無料</td>
                  <td>-</td>
                </tr>
                <tr>
                  <th>日本から日本の電話番号へかける</th>
                  <td>20円（税込22円）/30秒</td>
                </tr>
                <tr>
                  <th>海外から日本の電話番号へかける<span class="c-Txt_Cap">※5</span></th>
                  <td>国・地域別従量課金<span class="c-Txt_Cap">※7</span></td>
                </tr>
                <tr>
                  <th>日本から海外の電話番号へかける</th>
                  <td rowspan="2">国・地域別従量課金</td>
                  <td>国・地域別従量課金</td>
                </tr>
                <tr>
                  <th>海外から海外の電話番号へかける<span class="c-Txt_Cap">※5</span></th>
                  <td>国・地域別従量課金<span class="c-Txt_Cap">※7</span></td>
                </tr>
                <tr>
                  <th rowspan="2">着信料金</th>
                  <th>日本で電話をうける</th>
                  <td rowspan="2">Rakuten Linkアプリでは着信できません。iOS標準の電話アプリでの着信となります。<span class="c-Txt_Cap">※8</span></td>
                  <td>無料</td>
                </tr>
                <tr>
                  <th>海外で電話をうける</th>
                  <td>国・地域別従量課金<span class="c-Txt_Cap">※7</span></td>
                </tr>
              </table>
            </div>

            <div class="<%= namespace %>-Table_Sp">
              <h4 class="c-Txt_Normal c-Txt_Emp-01">Rakuten Linkアプリを利用した場合</h4>
              <table class="c-Table_Container <%= namespace %>-Table_Detail-sp">
                <colgroup>
                  <col style="width:50%;">
                  <col style="width:50%;">
                </colgroup>
                <thead>
                  <tr>
                    <th colspan="2">発信料金</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th colspan="2">RakutenLink同士</th>
                  </tr>
                  <tr>
                    <td colspan="2">無料</td>
                  </tr>
                  <tr>
                    <th class="<%= namespace %>-Table_Th-sub">日本から日本の電話番号へかける</th>
                    <th class="<%= namespace %>-Table_Th-sub">海外から日本の電話番号へかける<span class="c-Txt_Cap">※5</span></th>
                  </tr>
                  <tr>
                    <td colspan="2">無料</td>
                  </tr>
                  <tr>
                    <th class="<%= namespace %>-Table_Th-sub">日本から海外の電話番号へかける</th>
                    <th class="<%= namespace %>-Table_Th-sub">海外から海外の電話番号へかける<span class="c-Txt_Cap">※5</span></th>
                  </tr>
                  <tr>
                    <td colspan="2">国・地域別従量課金</td>
                  </tr>
                </tbody>
                <thead>
                  <tr>
                    <th colspan="2">着信料金</th>
                  </tr>
                </thead>
                <tr>
                  <th class="<%= namespace %>-Table_Th-sub">日本で電話をうける</th>
                  <th class="<%= namespace %>-Table_Th-sub">海外で電話をうける</th>
                </tr>
                <tbody>
                  <tr>
                    <td colspan="2">Rakuten Linkアプリでは着信できません。iOS標準の電話アプリでの着信となります。<span class="c-Txt_Cap">※8</span></td>
                  </tr>
                </tbody>
              </table>
              <h4 class="c-Txt_Normal c-Txt_Emp-01 u-Adjust_Mt-32">iOS標準の電話アプリを利用した場合</h4>
              <table class="c-Table_Container <%= namespace %>-Table_Detail-sp">
                <thead>
                  <tr>
                    <th>発信料金</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>日本から日本の電話番号へかける</th>
                  </tr>
                  <tr>
                    <td>20円（税込22円）/30秒</td>
                  </tr>
                  <tr>
                    <th>海外から日本の電話番号へかける</th>
                  </tr>
                  <tr>
                    <td>国・地域別従量課金<span class="c-Txt_Cap">※7</span></td>
                  </tr>
                  <tr>
                    <th>日本から海外の電話番号へかける</th>
                  </tr>
                  <tr>
                    <td>国・地域別従量課金</td>
                  </tr>
                  <tr>
                    <th>海外から海外の電話番号へかける</th>
                  </tr>
                  <tr>
                    <td>国・地域別従量課金<span class="c-Txt_Cap">※7</span></td>
                  </tr>
                </tbody>
                <thead>
                  <tr>
                    <th>着信料金</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>日本で電話をうける</th>
                  </tr>
                  <tr>
                    <td>無料</td>
                  </tr>
                  <tr>
                    <th>海外で電話をうける</th>
                  </tr>
                  <tr>
                    <td>国・地域別従量課金<span class="c-Txt_Cap">※7</span></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <ul class="c-Txt_Cap u-Adjust_Mt-16">
              <li>※（0570）などから始まる他社接続サービス、一部特番（188）への通話については、無料通話の対象外となります。</li>
              <li>※5 Rakuten Linkアプリを利用した場合、海外の対象国と地域からのみ発信可能となります。その他の地域に関してはWi-Fi接続中の場合のみ発信可能となります。</li>
              <li>※7 iOS標準の電話アプリを利用した場合、海外の対象国と地域でのみ発着信可能となります。</li>
              <li>※8 Rakuten Linkアプリでは着信が出来ません。iOS標準の電話アプリをご利用ください。</li>
            </ul>
            <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-32">
              <li>
                <p><a href="<%= sitepath %>service/standard-free-call/?l-id=saikyo-plan-detail_service_standard-free-call-02" class="c-Link_Txt-inline">15分（標準）通話かけ放題の詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
              </li>
              <li>
                <p><a href="<%= sitepath %>service/international-call/?l-id=saikyo-plan-detail_international-call_02" class="c-Link_Txt-inline">国際通話の詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
              </li>
              <li>
                <p><a href="<%= sitepath %>service/international-unlimited-talk/?l-id=saikyo-plan-detail_unlimited-talk_02" class="c-Link_Txt-inline">国際通話かけ放題の詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
              </li>
            </ul>
          </div>

          <div class="<%= namespace %>-Table_Container" id="sms-02">
            <h2 id="ank-sms" class="c-Heading_Lv3">メッセージ・SMS料金</h2>
            <h3 id="sms-android" class="c-Heading_Lv3 u-Adjust_Mt-24">Androidの場合</h3>
            <div class="<%= namespace %>-Table_Pc">
              <table class="c-Table_Container <%= namespace %>-Table_Detail <%= namespace %>-Table_Detail-01 <%= namespace %>-Table_Detail-01-color-02">
                <colgroup>
                  <col>
                  <col>
                  <col>
                  <col>
                </colgroup>
                <tr>
                  <th></th>
                  <th width="20%"></th>
                  <th width="35%" scope="col">Rakuten Linkアプリを利用した場合</th>
                  <th width="35%" scope="col">Android標準のメッセージアプリを利用した場合</th>
                </tr>
                <tr>
                  <th rowspan="5">送信料金</th>
                  <th>Rakuten Link同士</th>
                  <td rowspan="3">無料</td>
                  <td>-</td>
                </tr>
                <tr>
                  <th>日本から日本の電話番号へSMS送信する</th>
                  <td class="u-Adjust_Align-left">
                    1～70文字：3円（税込3.3円）<br>
                    71～134文字：6円（税込6.6円）<br>
                    135～201文字：9円（税込9.9円）<br>
                    202～268文字：12円（税込13.2円）<br>
                    269～335文字：15円（税込16.5円）<br>
                    336～402文字：18円（税込19.8円）<br>
                    403～469文字：21円（税込23.1円）<br>
                    470～536文字：24円（税込26.4円）<br>
                    537～603文字：27円（税込29.7円）<br>
                    604～670文字：30円（税込33円）
                  </td>
                </tr>
                <tr>
                  <th>海外から日本の電話番号へSMS送信する<span class="c-Txt_Cap">※9</span></th>
                  <td class="u-Adjust_Align-left">
                    <%- /* 全角 */ include('./include/_price-by-case', { fromSend: 'overseas' }) _%>
                  </td>
                </tr>
                <tr>
                  <th>日本から海外の電話番号へSMS送信する</th>
                  <td rowspan="2" class="u-Adjust_Align-left">
                    <ul class="c-List_Text-disc">
                      <li><a href="<%= sitepath %>service/global/overseas/#accordion-1" class="c-Link_Txt">海外の対象国と地域</a>：<span class="c-Txt_Emp-02">無料</span></li>
                      <li>
                        その他の地域（全角半角問わず）<br>
                        1～70文字：国・地域別従量課金（1通分）<br>
                        71～134文字：国・地域別従量課金（2通分）<br>
                        135～201文字：国・地域別従量課金（3通分）<br>
                        202～268文字：国・地域別従量課金（4通分）<br>
                        269～335文字：国・地域別従量課金（5通分）<br>
                        336～402文字：国・地域別従量課金（6通分）<br>
                        403～469文字：国・地域別従量課金（7通分）<br>
                        470～536文字：国・地域別従量課金（8通分）<br>
                        537～603文字：国・地域別従量課金（9通分）<br>
                        604～660文字：国・地域別従量課金（10通分）<br>
                      </li>
                    </ul>
                  </td>
                  <td class="u-Adjust_Align-left">
                    1～70文字：国・地域別従量課金（1通分）<br>
                    71～134文字：国・地域別従量課金（2通分）<br>
                    135～201文字：国・地域別従量課金（3通分）<br>
                    202～268文字：国・地域別従量課金（4通分）<br>
                    269～335文字：国・地域別従量課金（5通分）<br>
                    336～402文字：国・地域別従量課金（6通分）<br>
                    403～469文字：国・地域別従量課金（7通分）<br>
                    470～536文字：国・地域別従量課金（8通分）<br>
                    537～603文字：国・地域別従量課金（9通分）<br>
                    604～670文字：国・地域別従量課金（10通分）
                  </td>
                </tr>
                <tr>
                  <th>海外から海外の電話番号へSMS送信する<span class="c-Txt_Cap">※9</span></th>
                  <td class="u-Adjust_Align-left">
                    <%- /* 全角 */ include('./include/_price-by-case', { fromSend: 'overseas' }) _%>
                  </td>
                </tr>
                <tr>
                  <th rowspan="2">受信料金</th>
                  <th>日本でSMS受信する</th>
                  <td rowspan="2">無料</td>
                  <td>無料</td>
                </tr>
                <tr>
                  <th>海外でSMS受信する<span class="c-Txt_Cap">※9</span></th>
                  <td>無料<span class="c-Txt_Cap">※11</span></td>
                </tr>
              </table>
            </div>

            <div class="<%= namespace %>-Table_Sp">
              <h4 class="c-Txt_Normal c-Txt_Emp-01">Rakuten Linkアプリを利用した場合</h4>
              <table class="c-Table_Container <%= namespace %>-Table_Detail-sp">
                <colgroup>
                  <col style="width:50%;">
                  <col style="width:50%;">
                </colgroup>
                <thead>
                  <tr>
                    <th colspan="2">送信料金</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th colspan="2">RakutenLink同士</th>
                  </tr>
                  <tr>
                    <td colspan="2">無料</td>
                  </tr>
                  <tr>
                    <th class="<%= namespace %>-Table_Th-sub">日本から日本の電話番号へSMS送信する</th>
                    <th class="<%= namespace %>-Table_Th-sub">海外から日本の電話番号へSMS送信する<span class="c-Txt_Cap">※9</span></th>
                  </tr>
                  <tr>
                    <td colspan="2">無料</td>
                  </tr>
                  <tr>
                    <th class="<%= namespace %>-Table_Th-sub">日本から海外の電話番号へSMS送信する</th>
                    <th class="<%= namespace %>-Table_Th-sub">海外から海外の電話番号へSMS送信する<span class="c-Txt_Cap">※9</span></th>
                  </tr>
                  <tr>
                    <td colspan="2" class="u-Adjust_Align-left">
                      <ul class="c-List_Text-disc <%= namespace %>-Table_Base-sp-txt-normal">
                        <li><a href="<%= sitepath %>service/global/overseas/#accordion-1" class="c-Link_Txt">海外の対象国と地域</a>：<span class="c-Txt_Emp-02">無料</span></li>
                        <li>その他の地域（全角半角問わず）<br>
                          1～70文字：国・地域別従量課金（1通分）<br>
                          71～134文字：国・地域別従量課金（2通分）<br>
                          135～201文字：国・地域別従量課金（3通分）<br>
                          202～268文字：国・地域別従量課金（4通分）<br>
                          269～335文字：国・地域別従量課金（5通分）<br>
                          336～402文字：国・地域別従量課金（6通分）<br>
                          403～469文字：国・地域別従量課金（7通分）<br>
                          470～536文字：国・地域別従量課金（8通分）<br>
                          537～603文字：国・地域別従量課金（9通分）<br>
                          604～660文字：国・地域別従量課金（10通分）</li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
                <thead>
                  <tr>
                    <th colspan="2">受信料金</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="<%= namespace %>-Table_Th-sub">日本でSMS受信する</th>
                    <th class="<%= namespace %>-Table_Th-sub">海外でSMS受信する<span class="c-Txt_Cap">※9</span></th>
                  </tr>
                  <tr>
                    <td colspan="2">無料</td>
                  </tr>
                </tbody>
              </table>
              <h4 class="u-Adjust_Mt-32">Android標準のメッセージアプリを利用した場合</h4>
              <table class="c-Table_Container <%= namespace %>-Table_Detail-sp">
                <thead>
                  <tr>
                    <th>送信料金</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>日本から日本の電話番号へSMS送信する</th>
                  </tr>
                  <tr>
                    <td class="u-Adjust_Align-left">
                      1～70文字：3円（税込3.3円）<br>
                      71～134文字：6円（税込6.6円）<br>
                      135～201文字：9円（税込9.9円）<br>
                      202～268文字：12円（税込13.2円）<br>
                      269～335文字：15円（税込16.5円）<br>
                      336～402文字：18円（税込19.8円）<br>
                      403～469文字：21円（税込23.1円）<br>
                      470～536文字：24円（税込26.4円）<br>
                      537～603文字：27円（税込29.7円）<br>
                      604～670文字：30円（税込33円）
                    </td>
                  </tr>
                  <tr>
                    <th>海外から日本の電話番号へSMS送信する</th>
                  </tr>
                  <tr>
                    <td class="u-Adjust_Align-left">
                      <%- /* 全角 */ include('./include/_price-by-case', { fromSend: 'overseas' }) _%>
                    </td>
                  </tr>
                  <tr>
                    <th>日本から海外の電話番号へSMS送信する</th>
                  </tr>
                  <tr>
                    <td class="u-Adjust_Align-left">
                      1～70文字：国・地域別従量課金（1通分）<br>
                      71～134文字：国・地域別従量課金（2通分）<br>
                      135～201文字：国・地域別従量課金（3通分）<br>
                      202～268文字：国・地域別従量課金（4通分）<br>
                      269～335文字：国・地域別従量課金（5通分）<br>
                      336～402文字：国・地域別従量課金（6通分）<br>
                      403～469文字：国・地域別従量課金（7通分）<br>
                      470～536文字：国・地域別従量課金（8通分）<br>
                      537～603文字：国・地域別従量課金（9通分）<br>
                      604～670文字：国・地域別従量課金（10通分）
                    </td>
                  </tr>
                  <tr>
                    <th>海外から海外の電話番号へSMS送信する</th>
                  </tr>
                  <tr>
                    <td class="u-Adjust_Align-left">
                      <%- /* 全角 */ include('./include/_price-by-case', { fromSend: 'overseas' }) _%>
                    </td>
                  </tr>
                </tbody>
                <thead>
                  <tr>
                    <th>受信料金</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>日本でSMS受信する</th>
                  </tr>
                  <tr>
                    <td>無料</td>
                  </tr>
                  <tr>
                    <th>海外でSMS受信する</th>
                  </tr>
                  <tr>
                    <td>無料<span class="c-Txt_Cap">※11</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <ul class="c-Txt_Cap u-Adjust_Mt-16">
              <li>※9 Rakuten Linkアプリを利用した場合、海外の対象国と地域からのみ送受信可能となります。</li>
              <li>※10 Android標準のメッセージアプリを利用した場合、海外の対象国と地域でのみ送信可能となります。</li>
              <li>※11 Android標準のメッセージアプリを利用した場合、海外の対象国と地域でのみ受信可能となります。</li>
              <li>※料金の詳細につきましては日本でのご利用は<a href="<%= sitepath %>guide/international-sms/#japan" class="c-Link_Txt">こちら</a>、海外でのご利用は<a href="<%= sitepath %>guide/international-sms/overseas/#global" class="c-Link_Txt">こちら</a>をご確認ください。</li>
            </ul>
            <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-32">
              <li>
                <p><a href="<%= sitepath %>service/standard-free-call/?l-id=saikyo-plan-detail_service_standard-free-call-03" class="c-Link_Txt-inline">15分（標準）通話かけ放題の詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
              </li>
              <li>
                <p><a href="<%= sitepath %>service/international-sms/?l-id=saikyo-plan-detail_international-sms_01" class="c-Link_Txt-inline">国際SMSの詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
              </li>
            </ul>

            <h3 id="sms-ios" class="c-Heading_Lv3 u-Adjust_Mt-24">iOSの場合</h3>
            <div class="<%= namespace %>-Table_Pc">
              <table class="c-Table_Container <%= namespace %>-Table_Detail <%= namespace %>-Table_Detail-01 <%= namespace %>-Table_Detail-01-color-02">
                <colgroup>
                  <col>
                  <col>
                  <col>
                  <col>
                </colgroup>
                <tr>
                  <th></th>
                  <th width="20%"></th>
                  <th width="35%" scope="col">Rakuten Linkアプリを利用した場合</th>
                  <th width="35%" scope="col">iOS標準のメッセージアプリを利用した場合</th>
                </tr>
                <tr>
                  <th rowspan="5">送信料金</th>
                  <th>Rakuten Link同士</th>
                  <td>無料</td>
                  <td>-</td>
                </tr>
                <tr>
                  <th>日本から日本の電話番号へSMS送信する</th>
                  <td rowspan="6">Rakuten Linkアプリでは送受信できません。<br>
                    iOS標準のメッセージアプリでの送受信となります。</td>
                  <td class="u-Adjust_Align-left">
                    1～70文字：3円（税込3.3円）<br>
                    71～134文字：6円（税込6.6円）<br>
                    135～201文字：9円（税込9.9円）<br>
                    202～268文字：12円（税込13.2円）<br>
                    269～335文字：15円（税込16.5円）<br>
                    336～402文字：18円（税込19.8円）<br>
                    403～469文字：21円（税込23.1円）<br>
                    470～536文字：24円（税込26.4円）<br>
                    537～603文字：27円（税込29.7円）<br>
                    604～670文字：30円（税込33円）
                  </td>
                </tr>
                <tr>
                  <th>海外から日本の電話番号へSMS送信する</th>
                  <td class="u-Adjust_Align-left">
                    <%- /* 全角 */ include('./include/_price-by-case', { fromSend: 'overseas' }) _%>
                  </td>
                </tr>
                <tr>
                  <th>日本から海外の電話番号へSMS送信する</th>
                  <td class="u-Adjust_Align-left">
                    1～70文字：国・地域別従量課金（1通分）<br>
                    71～134文字：国・地域別従量課金（2通分）<br>
                    135～201文字：国・地域別従量課金（3通分）<br>
                    202～268文字：国・地域別従量課金（4通分）<br>
                    269～335文字：国・地域別従量課金（5通分）<br>
                    336～402文字：国・地域別従量課金（6通分）<br>
                    403～469文字：国・地域別従量課金（7通分）<br>
                    470～536文字：国・地域別従量課金（8通分）<br>
                    537～603文字：国・地域別従量課金（9通分）<br>
                    604～670文字：国・地域別従量課金（10通分）
                  </td>
                </tr>
                <tr>
                  <th>海外から海外の電話番号へSMS送信する</th>
                  <td class="u-Adjust_Align-left">
                    <%- /* 全角 */ include('./include/_price-by-case', { fromSend: 'overseas' }) _%>
                  </td>
                </tr>
                <tr>
                  <th rowspan="2">受信料金</th>
                  <th>日本でSMS受信する</th>
                  <td>無料</td>
                </tr>
                <tr>
                  <th>海外でSMS受信する</th>
                  <td>無料<span class="c-Txt_Cap">※13</span></td>
                </tr>
              </table>
            </div>

            <div class="<%= namespace %>-Table_Sp">
              <h4 class="c-Txt_Normal c-Txt_Emp-01">Rakuten Linkアプリを利用した場合</h4>
              <table class="c-Table_Container <%= namespace %>-Table_Detail-sp">
                <colgroup>
                  <col style="width:50%;">
                  <col style="width:50%;">
                </colgroup>
                <thead>
                  <tr>
                    <th colspan="2">送信料金</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th colspan="2">RakutenLink同士</th>
                  </tr>
                  <tr>
                    <td colspan="2">無料</td>
                  </tr>
                  <tr>
                    <th class="<%= namespace %>-Table_Th-sub">日本から日本の電話番号へSMS送信する</th>
                    <th class="<%= namespace %>-Table_Th-sub">海外から日本の電話番号へSMS送信する</th>
                  </tr>
                  <tr>
                    <td colspan="2">Rakuten Linkアプリでは送受信できません。<br>
                      iOS標準のメッセージアプリでの送受信となります。</td>
                  </tr>
                  <tr>
                    <th class="<%= namespace %>-Table_Th-sub">日本から海外の電話番号へSMS送信する</th>
                    <th class="<%= namespace %>-Table_Th-sub">海外から海外の電話番号へSMS送信する</th>
                  </tr>
                  <tr>
                    <td colspan="2">Rakuten Linkアプリでは送受信できません。<br>
                      iOS標準のメッセージアプリでの送受信となります。</td>
                  </tr>
                </tbody>
                <thead>
                  <tr>
                    <th colspan="2">受信料金</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="<%= namespace %>-Table_Th-sub">日本でSMS受信する</th>
                    <th class="<%= namespace %>-Table_Th-sub">海外でSMS受信する</th>
                  </tr>
                  <tr>
                    <td colspan="2">Rakuten Linkアプリでは送受信できません。<br>
                      iOS標準のメッセージアプリでの送受信となります。</td>
                  </tr>
                </tbody>
              </table>
              <h4 class="u-Adjust_Mt-32">iOS標準のメッセージアプリを利用した場合</h4>
              <table class="c-Table_Container <%= namespace %>-Table_Detail-sp">
                <thead>
                  <tr>
                    <th>送信料金</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>日本から日本の電話番号へSMS送信する</th>
                  </tr>
                  <tr>
                    <td class="u-Adjust_Align-left">
                      1～70文字：3円（税込3.3円）<br>
                      71～134文字：6円（税込6.6円）<br>
                      135～201文字：9円（税込9.9円）<br>
                      202～268文字：12円（税込13.2円）<br>
                      269～335文字：15円（税込16.5円）<br>
                      336～402文字：18円（税込19.8円）<br>
                      403～469文字：21円（税込23.1円）<br>
                      470～536文字：24円（税込26.4円）<br>
                      537～603文字：27円（税込29.7円）<br>
                      604～670文字：30円（税込33円）
                    </td>
                  </tr>
                  <tr>
                    <th>海外から日本の電話番号へSMS送信する</th>
                  </tr>
                  <tr>
                    <td class="u-Adjust_Align-left">
                      <%- /* 全角 */ include('./include/_price-by-case', { fromSend: 'overseas' }) _%>
                    </td>
                  </tr>
                  <tr>
                    <th>日本から海外の電話番号へSMS送信する</th>
                  </tr>
                  <tr>
                    <td class="u-Adjust_Align-left">
                      1～70文字：国・地域別従量課金（1通分）<br>
                      71～134文字：国・地域別従量課金（2通分）<br>
                      135～201文字：国・地域別従量課金（3通分）<br>
                      202～268文字：国・地域別従量課金（4通分）<br>
                      269～335文字：国・地域別従量課金（5通分）<br>
                      336～402文字：国・地域別従量課金（6通分）<br>
                      403～469文字：国・地域別従量課金（7通分）<br>
                      470～536文字：国・地域別従量課金（8通分）<br>
                      537～603文字：国・地域別従量課金（9通分）<br>
                      604～670文字：国・地域別従量課金（10通分）
                    </td>
                  </tr>
                  <tr>
                    <th>海外から海外の電話番号へSMS送信する</th>
                  </tr>
                  <tr>
                    <td class="u-Adjust_Align-left">
                      <%- /* 全角 */ include('./include/_price-by-case', { fromSend: 'overseas' }) _%>
                    </td>
                  </tr>
                </tbody>
                <thead>
                  <tr>
                    <th>受信料金</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>日本でSMS受信する</th>
                  </tr>
                  <tr>
                    <td>無料</td>
                  </tr>
                  <tr>
                    <th>海外でSMS受信する</th>
                  </tr>
                  <tr>
                    <td>無料<span class="c-Txt_Cap">※13</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <ul class="c-Txt_Cap u-Adjust_Mt-16">
              <li>※12 iOS標準のメッセージアプリを利用した場合、海外の対象国と地域でのみ送信可能となります。</li>
              <li>※13 iOS標準のメッセージアプリを利用した場合、海外の対象国と地域でのみ受信可能となります。</li>
              <li>※料金の詳細につきましては日本でのご利用は<a href="<%= sitepath %>guide/international-sms/#japan" class="c-Link_Txt">こちら</a>、海外でのご利用は<a href="<%= sitepath %>guide/international-sms/overseas/#global" class="c-Link_Txt">こちら</a>をご確認ください。</li>
            </ul>
            <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-32">
              <li>
                <p><a href="<%= sitepath %>service/standard-free-call/?l-id=saikyo-plan-detail_service_standard-free-call-04" class="c-Link_Txt-inline">15分（標準）通話かけ放題の詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
              </li>
              <li>
                <p><a href="<%= sitepath %>service/international-sms/?l-id=saikyo-plan-detail_international-sms_02" class="c-Link_Txt-inline">国際SMSの詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>


    <div class="l-System_Container u-Adjust_Mt-40">
      <div class="<%= namespace %>-Uservoice">
        <div class="<%= namespace %>-Uservoice_Img01">
          <img src="<%= sitepath %>assets/img/fee/un-limit/img-uservoice-01-pc.png?211029" alt="">
        </div>
        <div>
          <h2 class="<%= namespace %>-Uservoice_Ttl c-Heading_Lv2">
            <span class="<%= namespace %>-Uservoice_Ttl-logo"><img src="<%= sitepath %>assets/img/fee/un-limit/img-uservoice-title-pc.png" alt="楽天モバイルってどうですか？お客様に直接お聞きしました"></span>
            <span class="<%= namespace %>-Uservoice_Ttl-logo-sp"><img src="<%= sitepath %>assets/img/fee/un-limit/img-uservoice-title-sp.png" alt="楽天モバイルってどうですか？お客様に直接お聞きしました"></span>
            <span class="<%= namespace %>-Uservoice_Img03"><img src="<%= sitepath %>assets/img/fee/un-limit/img-uservoice-01-sp.png?211029" alt=""></span>
          </h2>
          <div class="<%= namespace %>-Uservoice_Btn"><a href="<%= sitepath %>uservoice/?l-id=saikyo-plan-detail_uservoice" class="c-Btn_Regular-large"><span>お客様の声を見る</span></a></div>
        </div>
        <div>
          <div class="<%= namespace %>-Uservoice_Img02"><img src="<%= sitepath %>assets/img/fee/un-limit/img-uservoice-02-pc.png?211029" alt=""></div>
        </div>
      </div>
      <div class="u-Adjust_Mt-40">
        <%- include('/include/_bnr-cpn-recommend-v2.ejs') %>
      </div>
    </div>

    <div class="u-Adjust_Align-center">
      <div class="l-System_Container">
        <a href="<%= sitepath %>fee/saikyo-plan/?l-id=saikyo-plan-detail_fee_saikyo-plan" class="c-Btn_Regular"><span>Rakuten最強プランページにもどる</span></a>
      </div>
    </div>

    <div class="<%= namespace %>-Cta_Apply-bottom <%= namespace %>-Cta_Apply-fee-un-limit" id="js-fixed-btn" aria-expanded="false">
      <div class="l-System_Container">
        <ul class="<%= namespace %>-Cta_Apply">
          <li>
            <a href="<%= sitepath %>guide/application/?lid-r=fee_detail_application" class="c-Btn_Primary fee-Utility_Btn">
              <span>新規／乗り換え（MNP）<span class="<%= namespace %>-Cta_Show-pc">お申し込み</span></span>
            </a>
          </li>
          <li>
            <a href="<%= sitepath %>shop/?l-id=saikyo-plan-detail_shop" class="c-Btn_Secondly fee-Utility_Btn">
              <span>
                <span class="<%= namespace %>-Cta_Apply-sub-text">
                  お近くのショップを探す・来店予約
                </span>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <footer class="g-Footer">

      <div class="g-Footer_Aside">

        <%- include('/include/footer/related/_related-un-limit-v2.ejs') %>

        <%- include('/include/footer/bnr/_bnr-news.ejs') %>

      </div>

      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>

      <%- include('/include/_footer') %>

    </footer>

  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <script src="<%= sitepath %>assets/js/fee.saikyo-plan-detail.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>

</body>

</html>
