<div class="guide-migration-Comparison_Table-pc">
  <table>
    <tr>
      <th colspan="2"></th>
      <th colspan="2" class="guide-migration-Comparison_Table-unlimit"><img src="<%= sitepath %>assets/img/guide/common/saikyo-logo-230601.png" width="246" alt="Rakuten最強プラン"></th>
      <th colspan="2" class="guide-migration-Comparison_Table-hodai">組み合わせプラン</th>
    </tr>
    <tr>
      <th rowspan="1" class="guide-migration-Comparison_Table-plan"><b>プラン<br>料金</b></th>
      <th class="guide-migration-Comparison_Table-data">データ<br>利用量</th>
      <td colspan="2" class="guide-migration-Comparison_Table-unlimit">
        <div class="guide-migration-Comparison_Table-price">
          <div class="guide-migration-Comparison_Table-price u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/migration/img-comparison-table-01-pc.png" width="478" height="216" alt="" loading="lazy">
          </div>
        </div>
      </td>
      <td colspan="2" rowspan="2">
        <ul class="u-Adjust_Mt-8">
          <li><small>※プラン名が1カ月あたりの高速データ容量です。</small></li>
        </ul>
        <ul class="guide-migration-Comparison_Table-price-packet-past">
          <li class="u-Adjust_Ml-16 u-Adjust_Align-left">3.1GBプラン</li>
          <li class="u-Adjust_Ml-16"><p>1,600円/月</p><small>（税込1,760円）※5,15</small></li>
        </ul>
        <ul class="guide-migration-Comparison_Table-price-packet-past">
          <li class="u-Adjust_Ml-16 u-Adjust_Align-left">5GBプラン</li>
          <li class="u-Adjust_Ml-16"><p>2,150円/月</p><small>（税込2,365円）※5,15</small></li>
        </ul>
        <ul class="guide-migration-Comparison_Table-price-packet-past">
          <li class="u-Adjust_Ml-16 u-Adjust_Align-left">10GBプラン</li>
          <li class="u-Adjust_Ml-16"><p>2,960円/月</p><small>（税込3,256円）※5,15</small></li>
        </ul>
        <ul class="guide-migration-Comparison_Table-price-packet-past">
          <li class="u-Adjust_Ml-16 u-Adjust_Align-left">20GBプラン</li>
          <li class="u-Adjust_Ml-16"><p>4,750円/月</p><small>（税込5,225円）※5,15</small></li>
        </ul>
      </td>
    </tr>
    <tr>
      <th rowspan="2"><b>高速データ<br>容量/月</b></th>
      <th>国内</th>
      <td colspan="2" class="guide-migration-Comparison_Table-unlimit">
        <div><b class="c-Txt_Emp-02">データ高速無制限</b><small>※2</small></div>
      </td>
    </tr>
    <tr>
      <th>海外</th>
      <td colspan="2" class="guide-migration-Comparison_Table-unlimit">
        <div class="guide-migration-Comparison_Table-heading1">
          海外ローミングエリア
          <button class="c-Tooltip js-Tooltip-inline" data-tippy-theme="default" data-tippy-content="パートナー（au）回線にてご利用可能なエリアです">
            <span class="c-Icon_Stack c-Tooltip_Icon">
              <span class="c-Icon_Sign-help-f c-Icon_Stack-icon-f"></span>
              <span class="c-Icon_Sign-help-l c-Icon_Stack-icon-l"></span>
            </span>
          </button>
        </div>
        <div><b class="c-Txt_Emp-01">高速通信で2GB</b></div>
        <div>2GB超過後は最大128kbpsで使い放題<small>※8</small></div>
      </td>
      <td colspan="2">
        利用不可
      </td>
    </tr>
    <tr>
      <th rowspan="3"><b>通話</b></th>
      <th>国内</th>
      <td colspan="2" class="guide-migration-Comparison_Table-unlimit">
        <div class="guide-migration-Comparison_Table-heading1">
          Rakuten Linkアプリ利用
        </div>
        <div><b class="c-Txt_Emp-02">かけ放題</b><small>※1</small></div>
      </td>
      <td colspan="2">
        <div class="guide-migration-Comparison_Table-heading2">
          楽天でんわアプリ利用
        </div>
        <div><b>10分かけ放題</b>　850円/月<small>（税込935円）※9,16</small></div>
      </td>
    </tr>
    <tr>
      <th rowspan="2">海外</th>
      <td class="guide-migration-Comparison_Table-unlimit">
        <div><small>海外※10 → 国内</small></div>
      </td>
      <td class="guide-migration-Comparison_Table-unlimit">
        <div class="guide-migration-Comparison_Table-heading1">
          Rakuten Linkアプリ利用
        </div>
        <div><p class="c-Txt_Emp-02">かけ放題</p><small>※3,11</small></div>
      </td>
      <td colspan="2" rowspan="2">
        国・地域別従量課金<small>※13</small>
      </td>
    </tr>
    <tr>
      <td class="guide-migration-Comparison_Table-unlimit">
        <div><small>国内/海外→ 海外※10</small></div>
      </td>
      <td class="guide-migration-Comparison_Table-unlimit">
        <div>かけ放題980円/月<small>※11,12</small></div>
      </td>
    </tr>
    <tr>
      <th rowspan="3"><b>SMS</b></th>
      <th>国内</th>
      <td colspan="2" class="guide-migration-Comparison_Table-unlimit">
        <div class="guide-migration-Comparison_Table-heading1">
          Rakuten Linkアプリ利用
        </div>
        <div><b class="c-Txt_Emp-02">使い放題</b><small>※4</small></div>
        <ul class="c-List_Text-disc u-Adjust_Mt-8 u-Adjust_Align-left">
          <li>Androidの場合：Rakuten Linkアプリ利用 使い放題</li>
          <li class="u-Adjust_Mt-8">iOSの場合：3円（税込3.3円）／70文字（全角）</li>
        </ul>
      </td>
      <td colspan="2">
        <div><p class="c-Txt_Emp-01">3円（税込3.3円）/70文字（全角）〜</p></div>
      </td>
    </tr>
    <tr>
      <th rowspan="2">海外</th>
      <td colspan="2" rowspan="2" class="guide-migration-Comparison_Table-unlimit">
        <div class="guide-migration-Comparison_Table-heading1">
          Rakuten Linkアプリ利用
        </div>
        <div>
          海外 <small>※10</small> → 国内
        </div>
        <div>
          <b class="c-Txt_Emp-02">使い放題</b><small>※11,14</small>
        </div>
        <div>
          <p class="c-Txt_Cap">※海外の対象国と地域以外：100円（不課税）／70文字（全角）。OS標準アプリ利用時、100円（不課税）／70文字（全角）。海外でご利用になる場合は、海外の対象国と地域からのみ利用可能</p>
        </div>
      </td>
      <td>
        <div>
          <p class="c-Txt_Cap">海外 → 国内</p>
        </div>
      </td>
      <td>
        <div>ドコモ回線<br>50円（不課税）/70文字(全角) 〜<small>※13</small><br>
          au回線 100円（不課税）/通(全角) 〜<small>※17</small></div>
      </td>
    </tr>
    <tr>
      <td>
        <div>
          <p class="c-Txt_Cap">海外 → 海外/国内</p>
        </div>
      </td>
      <td>
        <div>100円（不課税）/通<small>※13,17</small></div>
      </td>
    </tr>
  </table>
</div>

<div class="guide-migration-Comparison_Table-sp">
  <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">プラン料金</h4>
  <table>
    <tr>
      <th>組み合わせプラン</th>
      <th><img src="<%= sitepath %>assets/img/guide/common/saikyo-logo-230601.png" alt=""></th>
    </tr>
    <tr>
      <td>
        <div>3.1GBプラン<br><b>1,600円</b><br>（税込1,760円）<small>※5,15</small></div>
        <div class="u-Adjust_Mt-24">5GBプラン<br><b>2,150円</b><br>（税込2,365円）<small>※5,15</small></div>
        <div class="u-Adjust_Mt-24">10GBプラン<br><b>2,960円</b><br>（税込3,256円）<small>※5,15</small></div>
        <div class="u-Adjust_Mt-24">20GBプラン<br><b>4,750円</b><br>（税込5,225円）<small>※5,15</small></div>
      </td>
      <td>
        <div class="guide-migration-Comparison_Table-price u-Adjust_Align-center">
          <img src="<%= sitepath %>assets/img/guide/migration/img-comparison-table-01-sp.png" width="344" height="1026" alt="" loading="lazy">
        </div>
      </td>
    </tr>
  </table>

  <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">高速データ容量/月</h4>
  <table>
    <tr>
      <th>組み合わせプラン</th>
      <th><img src="<%= sitepath %>assets/img/guide/common/saikyo-logo-230601.png" alt=""></th>
    </tr>
    <tr>
      <td>
        <div>国内</div>
        <div class="u-Adjust_Mt-8">※プラン名が1カ月あたりの高速データ容量です。</div>
        <div><b>3.1GBプラン</b><br>1,600円/月<br>（税込1,760円）<small>※5,15</small></div>
        <div class="u-Adjust_Mt-24"><b>5GBプラン</b><br>2,150円<br>（税込2,365円）<small>※5,15</small></div>
        <div class="u-Adjust_Mt-24"><b>10GBプラン</b><br>2,960円<br>（税込3,256円）<small>※5,15</small></div>
        <div class="u-Adjust_Mt-24"><b>20GBプラン</b><br>4,750円<br>（税込5,225円）<small>※5,15</small></div>
      </td>
      <td>
        <div>国内</div>
        <div class="guide-migration-Comparison_Table-heading1">
          データ高速無制限エリア
          <button class="c-Tooltip js-Tooltip-inline" data-tippy-theme="default" data-tippy-content="楽天モバイル自社回線に接続するエリアです">
            <span class="c-Icon_Stack c-Tooltip_Icon">
              <span class="c-Icon_Sign-help-f c-Icon_Stack-icon-f"></span>
              <span class="c-Icon_Sign-help-l c-Icon_Stack-icon-l"></span>
            </span>
          </button>
        </div>
        <div><b class="c-Txt_Emp-02">高速通信で<br>無制限</b><small>※2</small></div>
        <div class="guide-migration-Comparison_Table-heading1">
          海外ローミングエリア
          <button class="c-Tooltip js-Tooltip-inline" data-tippy-theme="default" data-tippy-content="パートナー（au）回線にてご利用可能なエリアです">
            <span class="c-Icon_Stack c-Tooltip_Icon">
              <span class="c-Icon_Sign-help-f c-Icon_Stack-icon-f"></span>
              <span class="c-Icon_Sign-help-l c-Icon_Stack-icon-l"></span>
            </span>
          </button>
        </div>
        <div><b class="c-Txt_Emp-01">高速通信で5GB</b></div>
        <div>5GB超過後は最大1Mbpsで使い放題<small>※6,7</small></div>
      </td>
    </tr>
    <tr>
      <td>
        <div>海外</div>
        <div>利用不可</div>
      </td>
      <td>
        <div>海外</div>
        <div class="guide-migration-Comparison_Table-heading1">
          海外ローミングエリア
          <button class="c-Tooltip js-Tooltip-inline" data-tippy-theme="default" data-tippy-content="パートナー（au）回線にてご利用可能なエリアです">
            <span class="c-Icon_Stack c-Tooltip_Icon">
              <span class="c-Icon_Sign-help-f c-Icon_Stack-icon-f"></span>
              <span class="c-Icon_Sign-help-l c-Icon_Stack-icon-l"></span>
            </span>
          </button>
        </div>
        <div><b class="c-Txt_Emp-01">高速通信で2GB</b></div>
        <div>2GB超過後は最大128kbpsで使い放題<small>※8</small></div>
      </td>
    </tr>
  </table>

  <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">通話</h4>
  <table>
    <tr>
      <th>組み合わせプラン</th>
      <th><img src="<%= sitepath %>assets/img/guide/common/saikyo-logo-230601.png" alt=""></th>
    </tr>
    <tr>
      <td>
        <div>国内</div>
        <div class="guide-migration-Comparison_Table-heading2">
          楽天でんわアプリ利用
        </div>
        <div><b>10分かけ放題</b><small>※9,16</small></div>
      </td>
      <td>
        <div>国内</div>
        <div class="guide-migration-Comparison_Table-heading1">
          Rakuten Linkアプリ利用
        </div>
        <div><b class="c-Txt_Emp-02">かけ放題</b><small>※1</small></div>
      </td>
    </tr>
    <tr>
      <td>
        <div>海外</div>
        <div class="u-Adjust_Mt-48">国・地域別<br class="u-Show_Oox">従量課金<small>※13</small></div>
      </td>
      <td>
        <div>海外</div>
        <div><small><span class="u-Weight_Bold">海外</span>※10 <span class="u-Weight_Bold">→ 国内</span></small></div>
        <div class="guide-migration-Comparison_Table-heading1">
          Rakuten Linkアプリ利用
        </div>

        <div><p class="c-Txt_Emp-02">かけ放題</p><small>※3,11</small></div>

        <div><small><span  class="u-Weight_Bold">国内/海外 → 海外※10</span></small></div>
        <div class="u-Adjust_Mt-0">(不課税)かけ放題980円/月<small>※11,12</small></div>
      </td>
    </tr>
  </table>

  <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">SMS</h4>
  <table>
    <tr>
      <th>組み合わせプラン</th>
      <th><img src="<%= sitepath %>assets/img/guide/common/saikyo-logo-230601.png" alt=""></th>
    </tr>
    <tr>
      <td>
        <div>国内</div>
        <div><p class="c-Txt_Emp-01">3円（税込3円）/70文字（全角）〜</p></div>
      </td>
      <td>
        <div>国内</div>
        <div class="guide-migration-Comparison_Table-heading1">
          Rakuten Linkアプリ利用
        </div>
        <div><b class="c-Txt_Emp-02">使い放題</b><small>※4</small></div>
        <ul class="c-List_Text-disc u-Adjust_Mt-8 u-Adjust_Align-left">
          <li>Androidの場合：Rakuten Linkアプリ利用 使い放題</li>
          <li class="u-Adjust_Mt-0">iOSの場合：3円(税込3円)/70文字（全角）</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <div>海外</div>
        <div>海外 → 国内</div>
        <div><small><span class="u-Weight_Bold">ドコモ回線</span><br>50円（不課税）/70文字(全角) 〜 ※13</small></div>
        <div class="u-Adjust_Mt-8"><small><span class="u-Weight_Bold">au回線 </span><br>100円（不課税）/通(全角) 〜 ※17</small></div>
        <div class="u-Adjust_Mt-32"><span class="u-Weight_Bold">海外 → 海外/国内</span></div>
        <div>100円（不課税）/通<small>※13,17</small></div>
      </td>
      <td>
        <div>海外</div>
        <div class="guide-migration-Comparison_Table-heading1">
          Rakuten Linkアプリ利用
        </div>
        <div>海外<small>※10</small> → 国内</div>
        <div>
          <b class="c-Txt_Emp-02">使い放題</b><small>※11,14</small>
        </div>
        <div>
          <p class="c-Txt_Cap">※海外指定66の国と地域以外：100円（不課税）／70文字（全角）。OS標準アプリ利用時、100円（不課税）／70文字（全角）。海外でご利用になる場合は、海外指定63の国と地域からのみ利用可能</p>
        </div>
      </td>
    </tr>
  </table>
</div>
