<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "ご利用開始までの流れ" -%>
<% const directories = [] -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    description: '楽天ひかりはご利用開始まで約1カ月。お申し込みからご利用開始までの流れを、わかりやすく4ステップで説明します。',
    noindex: false,
    pathname: filepath,
    ishikari: true,
    canonical_custom: 'https://network.mobile.rakuten.co.jp/hikari/flow/',
  });
%>
<%- include('/include/hikari/_common-v2-hikari-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/flow/flow.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/module/m-hikari-cpn-v2.css?20240424">
<%- include('/include/_append-head-hikari') %>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>

<div class="l-System">

  <%- include('/hikari/include/_header', {
    headerType: 'normal',
    pagetitle: pagetitle,
    pathname: filepath,
    tax: 'true'
  }) %>

  <div class="l-hikari-Section_Main">
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1" data-ratid="scroll-01_flow" data-ratevent="appear"><%= pagetitle %></h1>
      <div class="l-hikari-Section_Main-lead">
        <p>
          お申し込みからご利用開始まで4ステップ。<br />
          楽天ひかりにお申し込みいただいた日から、最短でお申し込み当月に開通します。
        </p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※お住まいの住居環境により、ご利用開始までに1カ月以上かかる場合があります。</p>
      </div>
    </div>

    <div class="u-Adjust_Mt-40">
      <div class="l-System_Container">
        <div class="c-Tab js-Tab">
          <ul class="c-Tab_Items" role="tablist">
            <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">Webでのお申し込み</li>
            <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">ショップでのお申し込み</li>
          </ul>

          <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="Webでのお申し込み">
            <div class="hikari-flow-Step u-Adjust_Align-center">
              <div class="hikari-flow-Step_Flex">
                <div class="hikari-flow-Step_Flex-box hikari-flow-Step_Flex-step">
                  <img src="<%= sitepath %>assets/img/hikari/flow/img-step-icon-web-1.png" alt="">
                  <p class="hikari-flow-Step_Flex-step-text02">1.&nbsp;お申し込み</p>
                </div>
                <div class="hikari-flow-Step_Flex-box hikari-flow-Step_Flex-arrow">
                  <picture>
                    <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/flow/img-step-arrow_sp.png">
                    <img src="<%= sitepath %>assets/img/hikari/flow/img-step-arrow_pc.png" alt="">
                  </picture>
                </div>
                <div class="hikari-flow-Step_Flex-box hikari-flow-Step_Flex-step">
                  <img src="<%= sitepath %>assets/img/hikari/flow/img-step-icon-2.png" alt="">
                  <p class="hikari-flow-Step_Flex-step-text02">2.&nbsp;工事に関するお知らせ</p>
                </div>
                <div class="hikari-flow-Step_Flex-box hikari-flow-Step_Flex-arrow">
                  <picture>
                    <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/flow/img-step-arrow_sp.png">
                    <img src="<%= sitepath %>assets/img/hikari/flow/img-step-arrow_pc.png" alt="">
                  </picture>
                </div>
                <div class="hikari-flow-Step_Flex-box hikari-flow-Step_Flex-step">
                  <img src="<%= sitepath %>assets/img/hikari/flow/img-step-icon-3.png" alt="">
                  <p class="hikari-flow-Step_Flex-step-text02">3.&nbsp;開通工事</p>
                </div>
                <div class="hikari-flow-Step_Flex-box hikari-flow-Step_Flex-arrow">
                  <picture>
                    <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/flow/img-step-arrow_sp.png">
                    <img src="<%= sitepath %>assets/img/hikari/flow/img-step-arrow_pc.png" alt="">
                  </picture>
                </div>
                <div class="hikari-flow-Step_Flex-box hikari-flow-Step_Flex-step">
                  <img src="<%= sitepath %>assets/img/hikari/flow/img-step-icon-4.png" alt="">
                  <p class="hikari-flow-Step_Flex-step-text02">4.&nbsp;設定・ご利用開始</p>
                </div>
              </div>
            </div>

            <ol class="c-Flow u-Adjust_Mt-40">
              <li data-ratid="scroll-02_step-1" data-ratevent="appear">
                <h2 class="c-Heading_Lv2 hikari-flow-Grid_Display-sp">1.&nbsp;お申し込み</h2>
                <div class="hikari-flow-Grid l-Media_Grid">
                  <div class="l-Media_Image c-Flow_Image">
                    <picture>
                      <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/flow/img-flow-web-1_sp.png" width="184px" height="100px">
                      <img src="<%= sitepath %>assets/img/hikari/flow/img-flow-web-1_pc.png" width="160px" height="96px" alt="">
                    </picture>
                  </div>
                  <div>
                    <h2 class="c-Heading_Lv2 hikari-flow-Grid_Display-pc">1.&nbsp;お申し込み</h2>
                    <p class="u-Adjust_Mt-24">「楽天ひかりに申し込む」ボタンからお申し込みください。</p>
                    <div class="c-Infobox_Standing-warning u-Adjust_Mt-32">
                      <p>他社光コラボ<span class="hikari-flow-Txt_S">（※1）</span>、フレッツ光<span class="hikari-flow-Txt_S">（※2）</span>からお乗り換えの場合は、申し込み前に<span class="c-Txt_Emp">承諾番号の取得</span>が必要です。</p>
                      <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>hikari/flow/transfer-number/" data-lid_no="01" class="c-Link_Txt-inline">承諾番号の取得方法を見る<span class="c-Icon_Arrow-right-l"></span></a></p>
                      <dl class="u-Adjust_Mt-24 c-Txt_Cap">
                        <div>
                          <dt class="hikari-flow-Txt_Emp">お乗り換えに該当する方</dt>
                          <dd>
                            ※1 SoftBank 光、ドコモ光、OCN 光、ぷらら光、ビッグローブ光、So-net 光 プラスなどを利用<br>
                            ※2 フレッツ光といずれかのプロバイダを利用
                          </dd>
                        </div>
                        <div class="u-Adjust_Mt-8">
                          <dt class="hikari-flow-Txt_Emp">お乗り換えに該当しない方</dt>
                          <dd>※ auひかり、NURO 光、ケーブルテレビインターネット、電力系光回線などをご利用の場合は新規ご契約に該当します</dd>
                        </div>
                      </dl>
                    </div>
                  </div>
                </div>
              </li>
              <li data-ratid="scroll-03_step-2" data-ratevent="appear">
                <h2 class="c-Heading_Lv2 hikari-flow-Grid_Display-sp">2.&nbsp;工事に関するお知らせ</h2>
                <div class="hikari-flow-Grid l-Media_Grid">
                  <div class="l-Media_Image c-Flow_Image">
                    <picture>
                      <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/flow/img-flow-2_sp.png" width="184px" height="100px">
                      <img src="<%= sitepath %>assets/img/hikari/flow/img-flow-2_pc.png" width="160px" height="96px" alt="">
                    </picture>
                  </div>
                  <div>
                    <h2 class="c-Heading_Lv2 hikari-flow-Grid_Display-pc">2.&nbsp;工事に関するお知らせ</h2>
                    <div class="c-Theme-Light u-Adjust_Mt-24">
                      <h3 class="c-Heading_Lv4">新規お申し込みの場合</h3>
                      <div class="u-Adjust_Mt-16">
                        <ul class="hikari-flow-List_Case">
                          <li>お申し込みから2～3日後に、開通日・工事日に関して、楽天ひかり工事受付センターからメール、もしくは電話でお知らせします。</li>
                          <li>工事日が決まってから1週間ほどで<span class="c-Txt_Emp">「開通通知書（契約内容およびアカウントのお知らせ）」</span>を郵送でお送りします。</li>
                        </ul>
                      </div>
                    </div>
                    <div class="c-Theme-Light u-Adjust_Mt-16">
                      <h3 class="c-Heading_Lv4">他社光コラボ<span class="hikari-flow-Txt_S">（※1）</span>、フレッツ光<span class="hikari-flow-Txt_S">（※2）</span>からお乗り換えの場合</h3>
                      <div class="u-Adjust_Mt-16">
                        <ul class="hikari-flow-List_Case">
                          <li>お申し込みから2日以内に、<span class="c-Txt_Emp">申し込み完了メール</span>を送付します。</li>
                          <li><span class="c-Txt_Emp">切り替え日お知らせメール</span><span class="hikari-flow-Txt_S">（※3）</span>は、お申し込み後1～3日後に送付します。</li>
                          <li>お申し込みから1週間ほどで<span class="c-Txt_Emp">「開通通知書（契約内容およびアカウントのお知らせ）」</span>を郵送でお送りします。</li>
                        </ul>
                        <div class="u-Adjust_Mt-8 u-Adjust_Align-center">
                          <span class="c-Icon_Arrow-down-l hikari-flow-Layout_Arrow-down"></span>
                        </div>
                        <p class="u-Adjust_Mt-8">原則工事が不要のため、設定の変更も不要で、楽天ひかりの高速インターネットをご利用いただけます。</p>
                      </div>
                      <ol class="u-Adjust_Mt-16">
                        <li class="c-Txt_Cap">※1 SoftBank 光、ドコモ光、OCN 光、ぷらら光、ビッグローブ光、So-net 光 プラスなどを利用</li>
                        <li class="c-Txt_Cap">※2 フレッツ光といずれかのプロバイダを利用</li>
                        <li class="c-Txt_Cap">※3 承諾番号を未取得のお客様には、<span class="hikari-flow-Txt_Emp">承諾番号取得依頼のメール</span>を送付します。</li>
                      </ol>
                    </div>
                  </div>
                </div>
              </li>
              <li data-ratid="scroll-04_step3" data-ratevent="appear">
                <h2 class="c-Heading_Lv2 hikari-flow-Grid_Display-sp">3.&nbsp;開通工事</h2>
                <div class="hikari-flow-Grid l-Media_Grid">
                  <div class="l-Media_Image c-Flow_Image">
                    <picture>
                      <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/flow/img-flow-3_sp.png" width="184px" height="100px">
                      <img src="<%= sitepath %>assets/img/hikari/flow/img-flow-3_pc.png" width="160px" height="84px" alt="">
                    </picture>
                  </div>
                  <div>
                    <h2 class="c-Heading_Lv2 hikari-flow-Grid_Display-pc">3.&nbsp;開通工事</h2>
                    <p class="u-Adjust_Mt-16">光回線を利用するための工事があります。</p>
                    <p class="u-Adjust_Mt-8">ただし、他社光コラボ、フレッツ光からのお乗り換えの場合、原則として工事は不要です。</p>
                    <div class="c-Infobox_Standing-warning u-Adjust_Mt-32">
                      <p>開通工事までに<span class="hikari-flow-Txt_Emp">楽天ひかり対応ルーターの購入</span>が必要です。</p>
                      <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>hikari/support/wifi-router/" data-lid_no="01" class="c-Link_Txt-inline">楽天ひかり対応ルーターを見る<span class="c-Icon_Arrow-right-l"></span></a></p>
                    </div>
                    <div class="c-Infobox_Standing-warning u-Adjust_Mt-16">
                      <p>お伺いする工事の場合、工事の立ち会いをお願いします。</p>
                      <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>hikari/flow/construction/" data-lid_no="01" class="c-Link_Txt-inline">開通工事の流れを見る<span class="c-Icon_Arrow-right-l"></span></a></p>
                    </div>
                  </div>
                </div>
              </li>
              <li data-ratid="scroll-05_step-4" data-ratevent="appear">
                <h2 class="c-Heading_Lv2 hikari-flow-Grid_Display-sp">4.&nbsp;設定・ご利用開始</h2>
                <div class="hikari-flow-Grid l-Media_Grid">
                  <div class="l-Media_Image c-Flow_Image">
                    <picture>
                      <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/flow/img-flow-4_sp.png" width="184px" height="100px">
                      <img src="<%= sitepath %>assets/img/hikari/flow/img-flow-4_pc.png" width="160px" height="96px" alt="">
                    </picture>
                  </div>
                  <div>
                    <h2 class="c-Heading_Lv2 hikari-flow-Grid_Display-pc">4.&nbsp;設定・ご利用開始</h2>
                    <p class="u-Adjust_Mt-16">工事完了後、お客様で機器の設定をすると、楽天ひかりの高速インターネットをご利用いただけます。</p>
                    <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>hikari/support/setting/router/" data-lid_no="01" class="c-Link_Txt-inline">インターネット接続方法を見る<span class="c-Icon_Arrow-right-l"></span></a></p>
                  </div>
                </div>
              </li>
            </ol>
          </div>

          <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="ショップでのお申し込み">
            <div class="hikari-flow-Step u-Adjust_Align-center">
              <div class="hikari-flow-Step_Flex">
                <div class="hikari-flow-Step_Flex-box hikari-flow-Step_Flex-step">
                  <img src="<%= sitepath %>assets/img/hikari/flow/img-step-icon-shop-1.png" alt="">
                  <p class="hikari-flow-Step_Flex-step-text02">1.&nbsp;楽天モバイルショップでお申し込み</p>
                </div>
                <div class="hikari-flow-Step_Flex-box hikari-flow-Step_Flex-arrow">
                  <picture>
                    <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/flow/img-step-arrow_sp.png">
                    <img src="<%= sitepath %>assets/img/hikari/flow/img-step-arrow_pc.png" alt="">
                  </picture>
                </div>
                <div class="hikari-flow-Step_Flex-box hikari-flow-Step_Flex-step">
                  <img src="<%= sitepath %>assets/img/hikari/flow/img-step-icon-2.png" alt="">
                  <p class="hikari-flow-Step_Flex-step-text02">2.&nbsp;工事に関するお知らせ</p>
                </div>
                <div class="hikari-flow-Step_Flex-box hikari-flow-Step_Flex-arrow">
                  <picture>
                    <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/flow/img-step-arrow_sp.png">
                    <img src="<%= sitepath %>assets/img/hikari/flow/img-step-arrow_pc.png" alt="">
                  </picture>
                </div>
                <div class="hikari-flow-Step_Flex-box hikari-flow-Step_Flex-step">
                  <img src="<%= sitepath %>assets/img/hikari/flow/img-step-icon-3.png" alt="">
                  <p class="hikari-flow-Step_Flex-step-text02">3.&nbsp;開通工事</p>
                </div>
                <div class="hikari-flow-Step_Flex-box hikari-flow-Step_Flex-arrow">
                  <picture>
                    <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/flow/img-step-arrow_sp.png">
                    <img src="<%= sitepath %>assets/img/hikari/flow/img-step-arrow_pc.png" alt="">
                  </picture>
                </div>
                <div class="hikari-flow-Step_Flex-box hikari-flow-Step_Flex-step">
                  <img src="<%= sitepath %>assets/img/hikari/flow/img-step-icon-4.png" alt="">
                  <p class="hikari-flow-Step_Flex-step-text02">4.&nbsp;設定・ご利用開始</p>
                </div>
              </div>
            </div>

            <ol class="c-Flow u-Adjust_Mt-40">
              <li data-ratid="scroll-02_shop-step-1" data-ratevent="appear">
                <h2 class="c-Heading_Lv2 hikari-flow-Grid_Display-sp">1.&nbsp;楽天モバイルショップでお申し込み</h2>
                <div class="hikari-flow-Grid l-Media_Grid">
                  <div class="l-Media_Image c-Flow_Image">
                    <picture>
                      <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/flow/img-flow-shop-1_sp.png" width="184px" height="100px">
                      <img src="<%= sitepath %>assets/img/hikari/flow/img-flow-shop-1_pc.png" width="160px" height="96px" alt="">
                    </picture>
                  </div>
                  <div>
                    <h2 class="c-Heading_Lv2 hikari-flow-Grid_Display-pc">1.&nbsp;楽天モバイルショップでお申し込み</h2>
                    <p class="u-Adjust_Mt-24">
                      お近くの楽天モバイルショップでお申し込みが可能です。<br>
                      ご来店予定が決まっていれば、来店予約がおすすめです。ご来店の際は本人確認書類をご持参ください。
                    </p>
                    <div class="u-Adjust_Mt-32">
                      <div class="l-Media_Grid-half hikari-flow-Layout_Shop-search">
                        <div class="c-Form_Select">
                          <select name="" id="js-shop-Search_Select-pref">
                            <option value="">都道府県を選択</option>
                          </select>
                          <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
                        </div>
                        <div class="c-Form_Select">
                          <select name="" id="js-shop-Search_Select-city" aria-disabled="true" disabled>
                            <option value="">市区町村を選択</option>
                          </select>
                          <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
                        </div>
                      </div>
                      <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                        <button id="js-shop-Search_Prefcity" class="c-Btn_Secondly-large" aria-disabled="true" disabled><span><span>お近くのショップを検索する</span><span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span></span></button>
                      </div>
                    </div>
                    <div class="c-Infobox_Standing-warning u-Adjust_Mt-32">
                      <p>他社光コラボ<span class="hikari-flow-Txt_S">（※1）</span>、フレッツ光<span class="hikari-flow-Txt_S">（※2）</span>からお乗り換えの場合は、申し込み前に<span class="c-Txt_Emp">承諾番号の取得</span>が必要です。</p>
                      <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>hikari/flow/transfer-number/" data-lid_no="02" class="c-Link_Txt-inline">承諾番号の取得方法を見る<span class="c-Icon_Arrow-right-l"></span></a></p>
                      <dl class="u-Adjust_Mt-24 c-Txt_Cap">
                        <div>
                          <dt class="hikari-flow-Txt_Emp">お乗り換えに該当する方</dt>
                          <dd>
                            ※1 SoftBank 光、ドコモ光、OCN 光、ぷらら光、ビッグローブ光、So-net 光 プラスなどを利用<br>
                            ※2 フレッツ光といずれかのプロバイダを利用
                          </dd>
                        </div>
                        <div class="u-Adjust_Mt-8">
                          <dt class="hikari-flow-Txt_Emp">お乗り換えに該当しない方</dt>
                          <dd>※ auひかり、NURO 光、ケーブルテレビインターネット、電力系光回線などをご利用の場合は新規ご契約に該当します</dd>
                        </div>
                      </dl>
                    </div>
                  </div>
                </div>
              </li>
              <li data-ratid="scroll-03_shop-step-2" data-ratevent="appear">
                <h2 class="c-Heading_Lv2 hikari-flow-Grid_Display-sp">2.&nbsp;工事に関するお知らせ</h2>
                <div class="hikari-flow-Grid l-Media_Grid">
                  <div class="l-Media_Image c-Flow_Image">
                    <picture>
                      <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/flow/img-flow-2_sp.png" width="184px" height="100px">
                      <img src="<%= sitepath %>assets/img/hikari/flow/img-flow-2_pc.png" width="160px" height="96px" alt="">
                    </picture>
                  </div>
                  <div>
                    <h2 class="c-Heading_Lv2 hikari-flow-Grid_Display-pc">2.&nbsp;工事に関するお知らせ</h2>
                    <div class="c-Theme-Light u-Adjust_Mt-24">
                      <h3 class="c-Heading_Lv4">新規お申し込みの場合</h3>
                      <div class="u-Adjust_Mt-16">
                        <ul class="hikari-flow-List_Case">
                          <li>お申し込みから2～3日後に、開通日・工事日に関して、楽天ひかり工事受付センターからメール、もしくは電話でお知らせします。</li>
                          <li>工事日が決まってから1週間ほどで<span class="c-Txt_Emp">「開通通知書（契約内容およびアカウントのお知らせ）」</span>を郵送でお送りします。</li>
                        </ul>



                      </div>
                    </div>
                    <div class="c-Theme-Light u-Adjust_Mt-16">
                      <h3 class="c-Heading_Lv4">他社光コラボ<span class="hikari-flow-Txt_S">（※1）</span>、フレッツ光<span class="hikari-flow-Txt_S">（※2）</span>からお乗り換えの場合</h3>
                      <div class="u-Adjust_Mt-16">
                        <ul class="hikari-flow-List_Case">
                          <li>お申し込みから2日以内に、<span class="c-Txt_Emp">申し込み完了メール</span>を送付します。</li>
                          <li><span class="c-Txt_Emp">切り替え日お知らせメール</span><span class="hikari-flow-Txt_S">（※3）</span>は、お申し込み後1～3日後に送付します。</li>
                          <li>お申し込みから1週間ほどで<span class="c-Txt_Emp">「開通通知書（契約内容およびアカウントのお知らせ）」</span>を郵送でお送りします。</li>
                        </ul>


                        <div class="u-Adjust_Mt-8 u-Adjust_Align-center">
                          <span class="c-Icon_Arrow-down-l hikari-flow-Layout_Arrow-down"></span>
                        </div>
                        <p class="u-Adjust_Mt-8">原則工事が不要のため、設定の変更も不要で、楽天ひかりの高速インターネットをご利用いただけます。</p>
                      </div>
                      <ol class="u-Adjust_Mt-16">
                        <li class="c-Txt_Cap">※1 SoftBank 光、ドコモ光、OCN 光、ぷらら光、ビッグローブ光、So-net 光 プラスなどを利用</li>
                        <li class="c-Txt_Cap">※2 フレッツ光といずれかのプロバイダを利用</li>
                        <li class="c-Txt_Cap">※3 承諾番号を未取得のお客様には、<span class="hikari-flow-Txt_Emp">承諾番号取得依頼のメール</span>を送付します。</li>
                      </ol>
                    </div>
                  </div>
                </div>
              </li>
              <li data-ratid="scroll-04_shop-step-3" data-ratevent="appear">
                <h2 class="c-Heading_Lv2 hikari-flow-Grid_Display-sp">3.&nbsp;開通工事</h2>
                <div class="hikari-flow-Grid l-Media_Grid">
                  <div class="l-Media_Image c-Flow_Image">
                    <picture>
                      <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/flow/img-flow-3_sp.png" width="184px" height="100px">
                      <img src="<%= sitepath %>assets/img/hikari/flow/img-flow-3_pc.png" width="160px" height="84px" alt="">
                    </picture>
                  </div>
                  <div>
                    <h2 class="c-Heading_Lv2 hikari-flow-Grid_Display-pc">3.&nbsp;開通工事</h2>
                    <p class="u-Adjust_Mt-16">光回線を利用するための工事があります。</p>
                    <p class="u-Adjust_Mt-16">ただし、他社光コラボ、フレッツ光からのお乗り換えの場合、原則として工事は不要です。</p>
                    <div class="c-Infobox_Standing-warning u-Adjust_Mt-32">
                      <p>開通工事までに<span class="hikari-flow-Txt_Emp">楽天ひかり対応ルーターの購入</span>が必要です。</p>
                      <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>hikari/support/wifi-router/" data-lid_no="02" class="c-Link_Txt-inline">楽天ひかり対応ルーターを見る<span class="c-Icon_Arrow-right-l"></span></a></p>
                    </div>
                    <div class="c-Infobox_Standing-warning u-Adjust_Mt-16">
                      <p>お伺いする工事の場合、工事の立ち会いをお願いします。</p>
                      <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>hikari/flow/construction/" data-lid_no="02" class="c-Link_Txt-inline">開通工事の流れを見る<span class="c-Icon_Arrow-right-l"></span></a></p>
                    </div>
                  </div>
                </div>
              </li>
              <li data-ratid="scroll-05_shop-step-4" data-ratevent="appear">
                <h2 class="c-Heading_Lv2 hikari-flow-Grid_Display-sp">4.&nbsp;設定・ご利用開始</h2>
                <div class="hikari-flow-Grid l-Media_Grid">
                  <div class="l-Media_Image c-Flow_Image">
                    <picture>
                      <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/flow/img-flow-4_sp.png" width="184px" height="100px">
                      <img src="<%= sitepath %>assets/img/hikari/flow/img-flow-4_pc.png" width="160px" height="96px" alt="">
                    </picture>
                  </div>
                  <div>
                    <h2 class="c-Heading_Lv2 hikari-flow-Grid_Display-pc">4.&nbsp;設定・ご利用開始</h2>
                    <p class="u-Adjust_Mt-16">工事完了後、お客様で機器の設定をすると、楽天ひかりの高速インターネットをご利用いただけます。</p>
                    <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>hikari/support/setting/router/" data-lid_no="02" class="c-Link_Txt-inline">インターネット接続方法を見る<span class="c-Icon_Arrow-right-l"></span></a></p>
                  </div>
                </div>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="l-System_Container u-Adjust_Mt-48">
      <h3 class="c-Heading_Lv3 u-Adjust_Align-center">楽天ひかりと楽天モバイルを<br class="u-Show_Oox">セットでご利用の方へ</h3>

      <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <%- include('/include/hikari/bnr/_bnr-casa-1032-160', {
          orglid: 'rhk_hikari_flow_product_internet_rakuten-casa_01',
        }) %>
      </div>
    </div>

    <div style="border-top: 1px solid #bfbfbf; border-bottom: 1px solid #bfbfbf;" class="u-Adjust_Mt-48 u-Adjust_Pb-48">
      <div class="l-System_Container">

        <div class="u-Adjust_Mt-48">
          <h2 class="c-Heading_Lv3 u-Adjust_Align-center" data-ratid="scroll-09_turbo" data-ratevent="appear">Turboもひかりも、どちらもおトク</h2>
          <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <%- include('/include/hikari/bnr/_bnr', {
              orglid1: 'rhk_hikari_flow_internet_turbo_campaign_six-month-free_01',
              orglid2: 'rhk_hikari_flow_hikari_campaign_six-month-free_01'
            }) %>
          </div>
        </div>
      </div>
    </div>

    <div class="u-Adjust_Mt-64">
      <div class="l-System_Container">
        <div class="hikari-flow-Layout_Flow-detail">
          <h2 class="hikari-flow-Layout_Flow-detail-title" data-ratid="scroll-07_faq" data-ratevent="appear">
            ご利用開始までの流れについて、もっと詳しく
          </h2>
          <div class="hikari-flow-Layout_Flow-detail-body">
            <div class="c-Accordion">
              <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>開通まで何日ぐらいかかりますか</button>
              <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="false">
                <p>
                  開通までは約1カ月です。<br>
                  ただし、お住まいの環境により1カ月以上かかる場合があります。
                </p>
              </div>
            </div>
            <div class="c-Accordion">
              <button id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天ひかりからの連絡について</button>
              <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="false">
                <p><span class="hikari-flow-Txt_Emp">開通工事がある場合</span></p>
                <p class="u-Adjust_Mt-8">
                  お申し込みから1週間程度で、楽天ひかり工事受付センターから開通工事の日程について電話で連絡をいたします。<br>
                  ただし、住居環境により連絡までに時間がかかる場合があります。<br>
                  お申し込み時に工事日程のご予約が完了している場合はメールで連絡いたします。
                </p>
                <p class="u-Adjust_Mt-32"><span class="hikari-flow-Txt_Emp">他社からの乗り換えで、開通工事がない場合</span></p>
                <p class="u-Adjust_Mt-8">
                  お申し込みから2〜3日以内に、楽天ひかり工事受付センターからメールで連絡いたします。<br>
                  申し込み情報に不備がある場合は電話で連絡いたします。
                </p>
              </div>
            </div>
            <div class="c-Accordion">
              <button id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>土日・祝日の工事は可能ですか</button>
              <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="false">
                <p>可能です。ただし、追加料金が発生します。</p>
                <ul class="c-List_Text-disc u-Adjust_Mt-16">
                  <li>土日・祝日、 12月29日～1月3日	を指定した場合</li>
                  <li class="u-Adjust_Mt-8">時間帯を指定した場合（1時間ごとに指定可能）</li>
                  <li class="u-Adjust_Mt-8">夜間（17:00～22:00）、深夜（22:00～08:30）を指定した場合</li>
                </ul>
                <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>hikari/fee/pricelist/?l-id=rhk_fee_pricelist_01#construction" class="c-Link_Txt-inline" data-ratid="rhk_fee_pricelist_01" data-ratevent="click" data-ratparam="all">工事費の一覧を見る<span class="c-Icon_Arrow-right-l"></span></a></p>
              </div>
            </div>
            <div class="c-Accordion">
              <button id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>新型コロナ対策について</button>
              <div id="accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-5" aria-hidden="false">
                <p>感染症対策については以下のページでご確認いただけます。</p>
                <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>hikari/support/coronavirus-measures/" class="c-Link_Txt-inline">開通工事における、新型コロナウイルス感染症対策について<span class="c-Icon_Arrow-right-l"></span></a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <footer class="g-Footer" data-ratid="scroll-8_more-about-hikari" data-ratevent="appear">
    <%- include('/hikari/include/_footer', {
      pagetitle: pagetitle,
      directories: directories,
      // hiddenFooterCtaLink: '',
      hiddenFooterCtaText: '',
      // hiddenCta: true,
      // hiddenMenu: true,
      hiddenPopask: true,
      uniquePopask: 'flow',
      // hiddenBacktop: true,
      // hiddenBreadcrumbs: true
      appearTag: true
    }) _%>
  </footer>

</div>
<%- include('/include/hikari/_common-js') %>
<script src="<%= sitepath %>assets/js/hikari/flow.index.bundle.js?20240521"></script>

<%- include('/include/_append-body') %>
</body>
</html>
