<% const pagetitle = "Rakuten Open 来場者限定抽選イベント　当選者情報入力フォーム" -%>
<% const directories = [{path:"shop/", label:"ショップ"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    keywords: '',
    noindex: true,
    pathname: filepath,
  });
%>
<%- include('/include/_common-css-v2') %>
<%- include('/include/_append-head') %>

<script type="text/javascript">
function isChecked(el) {
  if (el.length) {
    for (var i = 0; i < el.length; i++) {
      if (el[i].checked) {
        return true;
      }
    }
  } else {
    if (el.checked) {
      return true;
    }
  }
  return false;
}

function isSelected(el) {
  return el.selectedIndex != 0;
}

function checkForm() {
  var el;
  var obj = document.enenForm;

  el = obj.elements['answers[38274_262222]'];
  if (!isSelected(el)) {
    alert("「抽選に参加された日付をお選びください」を選択してください。");
    return false;
  }

  el = obj.elements['answers[38274_262311][]'];
  if (!isChecked(el)) {
    alert("「プレゼントはログイン頂いた楽天会員IDに登録されている住所へお送りさせていただきます」を選択してください。");
    return false;
  }

}
</script>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

  <header class="g-Header">
    <div class="g-Header_Container">
      <div class="g-Header_Logo"><a style="pointer-events: none;">Rakuten Mobile</a></div>
    </div>
  </header>

  <form action="https://form.rakuten.co.jp/ans/apply/38274" name="enenForm" method="POST" onsubmit="return checkForm()">
    <div class="l-System_Container u-Adjust_Mt-40">
      <h1 class="c-Heading_Lv1 c-Txt_Emp-02">Rakuten Open 来場者限定抽選イベント</h1>
      <h2 class="c-Heading_Lv2 u-Adjust_Mt-48">当選者情報入力フォーム</h2>
      <div class="u-Adjust_Mt-16">
        <dl class="c-Dl_Origin">
          <div>
            <dt>抽選に参加された日付をお選びください。<span class="c-Txt_Emp-02 c-Txt_Normal-s">必須</span></dt>
            <dd>
            <div class="c-Form_Select">
              <select class="u-Adjust_Align-center" name="answers[38274_262222]">
                <option value="0">▼選択してください。</option>
                <option value="725732">10月03日（月）</option>
                <option value="725733">10月04日（火）</option>
                <option value="725734">10月05日（水）</option>
                <option value="725735">10月06日（木）</option>
                <option value="725736">10月07日（金）</option>
                <option value="725737">10月08日（土）</option>
                <option value="725738">10月09日（日）</option>
              </select>
            </div>
            </dd>
          </div>
          <div>
            <dt>プレゼントはログインいただいた楽天会員IDに登録されている住所へお送りさせていただきます。<span class="c-Txt_Emp-02 c-Txt_Normal-s">必須</span></dt>
            <dd>
              <div class="u-Adjust_Align-center">
                <label class="c-Form_Checkbox" for="a725926">
                  <input type="checkbox" name="answers[38274_262311][]" id="a725926" value="725926">
                  <span class="c-Icon_Check"></span>
                  <span class="c-Form_Checkbox-label">はい</span>
                </label>
              </div>
            </dd>
          </div>
        </dl>
      </div>

      <input type="hidden" name="c" value="楽天">
      <input type="hidden" name="l" value="ja">
      <div class="u-Adjust_Align-center u-Adjust_Mt-24 u-Adjust_Mb-64">
        <button class="c-Btn_Primary-large" type="submit"><span>送信する</span></button>
      </div>
    </div>
  </form>

</div>

<footer class="g-Footer">

  <%- include('/include/_footer-simple') %>

</footer>

<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
