<% const pagetitle = "選べる電話番号サービス（お申し込み方法）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/application/flow/", label:"お申し込み方法"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '「選べる電話番号サービス」のお申し込み方法はこちら。お申し込み時に、お好きな電話番号の下4桁を選べて、その下4桁を含んだ電話番号が回数無制限で検索できます。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
    <div class="u-Adjust_Mt-64">
      <ul>
        <li><a href="<%= sitepath %>service/select-number/" class="c-Btn_Regular-semiauto"><span>特長・サービス内容を見る</span></a></li>
      </ul>
    </div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-40">お申し込み方法</h2>
    <ol class="c-Flow">
      <li><span class="c-Txt_Alphanumeric-m">1</span>
        <p class="u-Adjust_Mt-16">新規ご契約時に、「電話番号の選択」画面で「選べる電話番号サービス」を選択してください。</p>
        <div class="guide-Layout_Flow-img">
          <img src="<%= sitepath %>assets/img/guide/select-number/img-01-230623.png" class="c-Img_Capture" alt="">
        </div>
      </li>
      <li><span class="c-Txt_Alphanumeric-m">2</span>
        <p class="u-Adjust_Mt-16">ご希望の電話番号の下4桁を半角数字で入力してください。「検索する」ボタンを押すことで、最大3つの電話番号が表示されます。</p>
        <div class="guide-Layout_Flow-img">
          <img src="<%= sitepath %>assets/img/guide/select-number/img-02-230623.png" class="c-Img_Capture" alt="">
        </div>
      </li>
      <li><span class="c-Txt_Alphanumeric-m">3</span>
        <p class="u-Adjust_Mt-16">ご希望の電話番号を選択し、「次へ進む」ボタンを押し、お申し込みを進めてください。</p>
        <div class="guide-Layout_Flow-img">
          <img src="<%= sitepath %>assets/img/guide/select-number/img-03-230623.png" class="c-Img_Capture" alt="">
        </div>
        <p>※希望する電話番号がない場合、「他の候補を見る」を押すことで、別の電話番号が案内されます。</p>
      </li>
    </ol>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">注意事項</h3>
    <ul class="c-List_Text-disc u-Adjust_Mt-16">
      <li>連続する番号（例：1234）や、4桁とも同じ番号（例：9999）は選択できません。</li>
      <li>すでに他のお客様が電話番号を選択していた場合、表示されている番号でもご利用いただけない場合があります。</li>
    </ul>

    <div class="u-Adjust_Pt-40">
      <div><a href="<%= sitepath %>support/" class="c-Btn_Regular-semiauto"><span>お客様サポートトップにもどる</span></a></div>
      <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular-semiauto"><span>楽天モバイルトップへ</span></a></div>
    </div>

  </div>
</div>


<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">



    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
