<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "ステップ3" -%>
<% const directories = [{path: hikariroot.path + "support/", label:"お客様サポート"}, {path: hikariroot.path + "support/setting/mail/", label:"メール設定方法"}, {path: "", label:"Outlook2019／Outlook2021／Microsoft365"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Outlook2019／Outlook2021／Microsoft365のメール設定方法をご案内します。',
    noindex: false,
    pathname: filepath,
    ishikari: true,
    canonical_custom: 'https://network.mobile.rakuten.co.jp/hikari/support/setting/mail/office365/step-03/',
  });
%>
<%- include('/include/hikari/_common-v2-hikari-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/support/support.css?20240424">
<%- include('/include/_append-head-hikari') %>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>

<div class="l-System">

  <style>
    .c-hikari-Breadcrumbs_Head ul li:nth-last-child(2) .c-Icon_Chevron-right,
    .c-hikari-Breadcrumbs_Foot ul li:nth-last-child(2) .c-Icon_Chevron-right {
      margin-left: 0.5em;
    }
  </style>
  <%- include('/hikari/include/_header', { headerType: 'normal', pagetitle: pagetitle, directories: directories, tax: false }) %>

  <div class="l-hikari-Section_Main">
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1">Outlook2019／Outlook2021／Microsoft365のメール設定方法</h1>
      <div class="l-hikari-Section_Main-lead">
        <p>Outlook2019／Outlook2021／Microsoft365（メールアカウントの設定確認）の方法をご案内します。</p>
        <ul class="c-Txt_Cap u-Adjust_Mt-8">
          <li><span>※</span>この説明は、Outlook2019／Outlook2021／Microsoft365が正常にインストールされていることを前提として作成しています。</li>
          <li class="u-Adjust_Mt-8"><span>※</span>本手順での画面は「Microsoft365」を使用しています。</li>
        </ul>
      </div>

      <div class="hikari-support-Nav">
        <ul>
          <li><a href="<%= sitepath %><%= hikariroot.path %>support/setting/mail/office365/step-01/" data-lid_no="01" class="c-Link_Txt-inline">ステップ1. メールアカウントの作成<span class="c-Icon_Arrow-right-l"></span></a></li>
          <li><a href="<%= sitepath %><%= hikariroot.path %>support/setting/mail/office365/step-02/" data-lid_no="01" class="c-Link_Txt-inline">ステップ2. メールアカウントの追加<span class="c-Icon_Arrow-right-l"></span></a></li>
          <li><span class="c-Txt_Emp">ステップ3. メールアカウントの設定確認</span></li>
          <li><a href="<%= sitepath %><%= hikariroot.path %>support/setting/mail/office365/step-04/" data-lid_no="01" class="c-Link_Txt-inline">ステップ4. メールの作成・送受信<span class="c-Icon_Arrow-right-l"></span></a></li>
        </ul>
      </div>

      <div class="l-hikari-Section_Sub-short">
        <h2 class="c-Heading_Lv2 u-Adjust_Txt-break">ステップ3. Outlook2019／Outlook2021／Microsoft365のメールアカウントの設定確認</h2>

      <ul class="l-hikari-Section_Sub-content-middle c-Flow">
        <li>
          <h3 class="c-Heading_Lv3">1. メニューから移動</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/office365/step-03/office365_step-03_img01.png" alt="">
              </div>
              <div>
                <p>メニューの「ファイル」を選択します。</p>
              </div>
            </div>
          </li>


          <li>
            <h3 class="c-Heading_Lv3">2. アカウント情報</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/office365/step-03/office365_step-03_img02.png" alt="">
              </div>
              <div>
                <p>情報より「アカウント設定」→「プロファイルの管理（O）」を選択します。</p>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">3. メール設定</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/office365/step-03/office365_step-03_img03.png" alt="">
              </div>
              <div>
                <p>「電子メール アカウント（E）」を選択します。</p>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">4. インターネット電子メール</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/office365/step-03/office365_step-03_img04.png" alt="">
              </div>
              <div>
                <p>「インターネット電子メール」の画面が表示された場合は「OK」を選択してください。</p>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">5. アカウントの選択</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/office365/step-03/office365_step-03_img05.png" alt="">
              </div>
              <div>
                <p>設定変更したいアカウントを選択し、「変更（A）」を選択します。</p>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">6. メールアカウントの設定</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/office365/step-03/office365_step-03_img06.png" alt="">
              </div>
              <div>
                <p>こちらの画面で設定内容を確認し、「詳細設定（M）」を選択します。</p>
                <div class="c-Table_Wrap l-hikari-Section_Sub-content-tall c-Table hikari-support-Table">
                  <table class="c-Table_Container">
                    <thead>
                      <tr>
                        <th colspan="2">ユーザー情報</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><span>1. 名前（Y）</span></td>
                        <td><span>任意のお名前を入力</span></td>
                      </tr>
                      <tr>
                        <td><span>2. 電子メールアドレス（E）</span></td>
                        <td><span>メールアドレスを入力</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="c-Table_Wrap l-hikari-Section_Sub-content-tall c-Table hikari-support-Table">
                  <table class="c-Table_Container">
                    <thead>
                      <tr>
                        <th colspan="2">サーバー情報</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><span>3. アカウントの種類（A）</span></td>
                        <td><span>POP3</span></td>
                      </tr>
                      <tr>
                        <td><span>4. 受信メールサーバー（I）</span></td>
                        <td><span>popmail.gol.com</span></td>
                      </tr>
                      <tr>
                        <td><span>5. 送信メールサーバ（SMTP）（O）</span></td>
                        <td><span>mail.gol.com</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="c-Table_Wrap l-hikari-Section_Sub-content-tall c-Table hikari-support-Table">
                  <table class="c-Table_Container">
                    <thead>
                      <tr>
                        <th colspan="2">メール サーバーへのログオン情報</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><span>6. アカウント名（U）</span></td>
                        <td><span>メールアドレス</span></td>
                      </tr>
                      <tr>
                        <td><span>7. パスワード（P）</span></td>
                        <td><span>メールのパスワード</span></td>
                      </tr>
                      <tr>
                        <td><span>8. パスワードを保存する（R）</span></td>
                        <td><span>任意</span></td>
                      </tr>
                      <tr>
                        <td><span>9. メールサーバーがセキュリティで保護されたパスワード認証（SPA）に対応している場合には、チェック ボックスをオンにしてください（Q）</span></td>
                        <td><span>チェックしない（Off）</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="c-Table_Wrap l-hikari-Section_Sub-content-tall c-Table hikari-support-Table">
                  <table class="c-Table_Container">
                    <thead>
                      <tr>
                        <th colspan="2">アカウント設定のテスト</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><span>10. アカウント設定のテスト（T）</span></td>
                        <td><span>選択しない</span></td>
                      </tr>
                      <tr>
                        <td><span>11. 「次へ」をクリックしたらアカウント設定を自動的にテストする（S）</span></td>
                        <td><span>チェックする（On）</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">7. 全般タブ設定</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/office365/step-03/office365_step-03_img07.png" alt="">
              </div>
              <div>
                <p>こちらを参考に情報を入力します。</p>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">8. 送信サーバータブ設定</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/office365/step-03/office365_step-03_img08.png" alt="">
              </div>
              <div>
                <p>「送信サーバー」タブを選択し、こちらを参考に情報を入力します。</p>
                <div class="c-Table_Wrap l-hikari-Section_Sub-content-tall c-Table hikari-support-Table">
                  <table class="c-Table_Container">
                    <thead>
                      <tr>
                        <th colspan="2">送信サーバー</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><span>1. 送信サーバー（SMTP）は認証が必要（O）</span></td>
                        <td><span>チェックする（On）</span></td>
                      </tr>
                      <tr>
                        <td><span>2. 受信メールサーバーと同じ設定を使用する（U）</span></td>
                        <td><span>チェックする（On）</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">9. 詳細設定タブ設定</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/office365/step-03/office365_step-03_img09.png" alt="">
              </div>
              <div>
                <p>「詳細設定」のタブを選択し、以下の情報を入力します。 「OK」を選択します。</p>
                <div class="c-Table_Wrap l-hikari-Section_Sub-content-tall c-Table hikari-support-Table">
                  <table class="c-Table_Container">
                    <thead>
                      <tr>
                        <th colspan="2">詳細設定</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><span>1. 受信メールサーバー（POP3）（I）</span></td>
                        <td><span>995</span></td>
                      </tr>
                      <tr>
                        <td><span>2. このサーバーは暗号化された接続（SSL/TLS）が必要（E）</span></td>
                        <td><span>チェックする（On）</span></td>
                      </tr>
                      <tr>
                        <td><span>3. 送信サーバー（SMTP）（O）</span></td>
                        <td><span>465</span></td>
                      </tr>
                      <tr>
                        <td><span>4. 使用する暗号化接続の種類</span></td>
                        <td><span>SSL／TLS</span></td>
                      </tr>
                      <tr>
                        <td><span>5. サーバーのタイムアウト（T）<br>
                          （ウイルス対策ソフトがインストールされている場合には長くしておくことを推奨いたします）</span></td>
                        <td><span>任意で設定</span></td>
                      </tr>
                      <tr>
                        <td><span>6. 配信
                          <p class="c-Txt_Cap u-Adjust_Mt-8">※上記にチェックを入れ、［サーバーから削除する］にチェックを入れない場合、メールをサーバーから削除しませんので、メールボックスが満杯となり、メールが受信できなくなる場合があります。</p></span></td>
                        <td style="width: 224px;"><span>任意で設定</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">10. アカウント設定の確認</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/office365/step-03/office365_step-03_img10.png" alt="">
              </div>
              <div>
                <p>インターネット電子メール設定がこちらのとおりになっていることを確認し、「次へ（N）」を選択します。</p>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">11. テストアカウント設定</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/office365/step-03/office365_step-03_img11.png" alt="">
              </div>
              <div>
                テストアカウント設定が正常に完了しましたら「閉じる（C）」を選択します。
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">12. 設定完了</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/office365/step-03/office365_step-03_img12.png" alt="">
              </div>
              <div>
                <p>「完了」を選択して設定終了となります。</p>
              </div>
            </div>
          </li>
        </ul>

      </div>

      <div class="hikari-support-Nav u-Adjust_Pt-48">
        <ul>
          <li><a href="<%= sitepath %><%= hikariroot.path %>support/setting/mail/office365/step-01/" data-lid_no="02" class="c-Link_Txt-inline">ステップ1. メールアカウントの作成<span class="c-Icon_Arrow-right-l"></span></a></li>
          <li><a href="<%= sitepath %><%= hikariroot.path %>support/setting/mail/office365/step-02/" data-lid_no="02" class="c-Link_Txt-inline">ステップ2. メールアカウントの追加<span class="c-Icon_Arrow-right-l"></span></a></li>
          <li><span class="c-Txt_Emp">ステップ3. メールアカウントの設定確認</span></li>
          <li><a href="<%= sitepath %><%= hikariroot.path %>support/setting/mail/office365/step-04/" data-lid_no="02" class="c-Link_Txt-inline">ステップ4. メールの作成・送受信<span class="c-Icon_Arrow-right-l"></span></a></li>
        </ul>
      </div>

    </div>
  </div>

  <footer class="g-Footer">
    <%- include('/hikari/include/_footer', { pagetitle: pagetitle, directories: directories, hiddenFooterCta: true, hiddenCta: true }) %>
  </footer>

</div>
<%- include('/include/hikari/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
