<!-- login gadget -->
<% const nameSpace = "i-Login" -%>
<div id="js-login">
  <div class="<%= nameSpace %>_Wrapper" id="pitari-non-login" style="display:none">
    <div class="u-Rat_Appear-height" data-ratid="<%= page %>-logingadget-1_not-logged" data-ratevent="appear">&nbsp;</div>
    <div class="<%= nameSpace %>">
      <div class="<%= nameSpace %>_Heading">
        <p>ようこそ楽天モバイルへ</p>
        <div>
          <a class="c-Link_Txt" href="https://grp03.id.rakuten.co.jp/rms/nid/login?service_id=rm005&client_id=rmn_app_web&redirect_uri=https%3A%2F%2Fnetwork.mobile.rakuten.co.jp%2F&err_redirect_uri=https%3A%2F%2Fnetwork.mobile.rakuten.co.jp%2F&scope=memberinfo_read_safebulk%2Cmemberinfo_read_point%2Cmemberinfo_get_card_token%2C30days%40Access%2C90days%40Refresh&contact_info_required=false&rae_service_id=rm005" data-ratid="<%= page %>-logingadget-1_login" data-ratevent="click" data-ratparam="all">
            ログイン</a> / <a class="c-Link_Txt" href="https://grp01.id.rakuten.co.jp/rms/nid/registfwd?service_id=rm005" data-ratid="<%= page %>-logingadget-1_sign-up" data-ratevent="click" data-ratparam="all">会員登録</a>
        </div>
      </div>
      <div class="<%= nameSpace %>_Body">
        <div class="<%= nameSpace %>_Img">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/common/login/txt-non-member-sp-230116.png" width="100%">
            <img src="<%= sitepath %>assets/img/common/login/txt-non-member-pc-230116.png" width="326" height="42" alt="楽天ポイントご利用であなたのスマホ代がタダ（データ3GBまで）になることも！">
          </picture>
        </div>
        <div class="<%= nameSpace %>_Btn-1">
          <a href="https://grp03.id.rakuten.co.jp/rms/nid/login?service_id=rm005&client_id=rmn_app_web&redirect_uri=https%3A%2F%2Fnetwork.mobile.rakuten.co.jp%2F&err_redirect_uri=https%3A%2F%2Fnetwork.mobile.rakuten.co.jp%2F&scope=memberinfo_read_safebulk%2Cmemberinfo_read_point%2Cmemberinfo_get_card_token%2C30days%40Access%2C90days%40Refresh&contact_info_required=false&rae_service_id=rm005" data-ratid="<%= page %>-logingadget-1_pointcheck" data-ratevent="click" data-ratparam="all">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/common/login/btn-non-member-sp.png?221130" width="100%">
              <img src="<%= sitepath %>assets/img/common/login/btn-non-member-pc.png" width="100%" alt="ご利用可能なポイントを確認">
            </picture>
          </a>
        </div>
      </div>
    </div>
    <p class="c-Txt_Cap u-Adjust_Mt-8">※プラン料金データ3GB(1,078円/月)を全額楽天ポイントで支払時。端末割賦料金を除く</p>
  </div>

  <div class="<%= nameSpace %>_Wrapper" id="pitari-non-mno-holder" style="display:none">

    <div class="u-Rat_Appear-height" id="ratid-pattern-2" data-ratid="<%= page %>-logingadget-2_0-1077" data-ratevent="appear" style="display: none;">&nbsp;</div>
    <div class="u-Rat_Appear-height" id="ratid-pattern-3" data-ratid="<%= page %>-logingadget-3_1078-2177" data-ratevent="appear" style="display: none;">&nbsp;</div>
    <div class="u-Rat_Appear-height" id="ratid-pattern-4" data-ratid="<%= page %>-logingadget-4_2178-3277" data-ratevent="appear" style="display: none;">&nbsp;</div>
    <div class="u-Rat_Appear-height" id="ratid-pattern-5" data-ratid="<%= page %>-logingadget-5_3278-12935" data-ratevent="appear" style="display: none;">&nbsp;</div>
    <div class="u-Rat_Appear-height" id="ratid-pattern-6" data-ratid="<%= page %>-logingadget-6_12936-26235" data-ratevent="appear" style="display: none;">&nbsp;</div>
    <div class="u-Rat_Appear-height" id="ratid-pattern-7" data-ratid="<%= page %>-logingadget-7_26236-39335" data-ratevent="appear" style="display: none;">&nbsp;</div>
    <div class="u-Rat_Appear-height" id="ratid-pattern-8" data-ratid="<%= page %>-logingadget-8_39336" data-ratevent="appear" style="display: none;">&nbsp;</div>

    <div class="<%= nameSpace %>">
      <div class="<%= nameSpace %>_Member">
        <!-- <div class="<%= nameSpace %>_Name-wrap" id="js-name-wrap"> -->
          <div class="<%= nameSpace %>_Name js-user-rank" id="js-sp-name"><a href="https://my.rakuten.co.jp/"><span class="js-user-name"></span></a>さん</div>
          <div class="<%= nameSpace %>_Point-total"><span class="c-Txt_Alphanumeric js-user-point"></span>ポイント</div>
        <!-- </div> -->
        <div class="<%= nameSpace %>_Point-area-wrap">
          <div class="<%= nameSpace %>_Point-area" id="js-point-area" aria-hidden="true">
            <picture>
              <img src="<%= sitepath %>assets/img/common/login/text-01.png" width="23" height="12" alt="あと">
            </picture>
            <span class="<%= nameSpace %>_Point-plus c-Txt_Alphanumeric-emp02" id="js-plus-point"></span>
            <picture>
              <img src="<%= sitepath %>assets/img/common/login/text-02.png" width="106" height="14" alt="ポイント獲得すると">
            </picture>
          </div>
          <div class="<%= nameSpace %>_Message-pc" id="js-plan-message-pc"></div>
        </div>
        <div class="<%= nameSpace %>_Divider"></div>
        <div class="<%= nameSpace %>_Message-sp" id="js-plan-message-sp"></div>

        <% if (typeof page != 'undefined' && page == 'top') { %>
        <div class="<%= nameSpace %>_Btn-2">
          <a href="#" id="js-link-plan">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/common/login/btn-plan-detail-sp.png?221129" width="100%">
              <img src="<%= sitepath %>assets/img/common/login/btn-plan-detail-pc.png?221129" width="100%" alt="料金プランを詳しくみる">
            </picture>
          </a>
        </div>
        <% } %>
      </div>
    </div>
    <div class="<%= nameSpace %>_Other">
      <p class="c-Txt_Cap" id="js-anotation"></p>
      <div class="<%= nameSpace %>_Link <%= nameSpace %>_Link-logout">
        <div><a href="<%= sitepath%>logout/" class="c-Link_Txt-inline">ログアウト<span class="c-Icon_Chevron-right"></span></a></div>
      </div>
    </div>
  </div>

  <div class="<%= nameSpace %>_Wrapper" id="pitari-mno-holder" style="display:none">
    <div class="<%= nameSpace %>">
      <div class="<%= nameSpace %>_Member-mno">
        <div class="<%= nameSpace %>_Name js-user-rank"><a href="https://my.rakuten.co.jp/"><span class="js-user-name"></span></a>さん</div>
        <div class="<%= nameSpace %>_Point-total"><span class="c-Txt_Alphanumeric js-user-point"></span>ポイント</div>
      </div>
      <div class="<%= nameSpace %>_Link <%= nameSpace %>_Link-logout">
        <div><a href="<%= sitepath%>logout/" class="c-Link_Txt-inline">ログアウト<span class="c-Icon_Chevron-right"></span></a></div>
      </div>
    </div>
  </div>
</div>
<!-- / login gadget -->
