<div id="login-Gadget_Default-logout" style="display: none;">
  <div class="i-Login-gadget_Wrapper">
    <div class="i-Login-gadget">
      <div class="i-Login-gadget_Message">
        <div class="i-Login-gadget_Message-welcome">ようこそ楽天モバイルへ</div>
        <p class="i-Login-gadget_Message-catch">楽天モバイルご契約者ならSPU+4倍に！ポイントで料金支払いも可能！<a class="c-Link_Txt" href="https://grp03.id.rakuten.co.jp/rms/nid/login?service_id=rm005&client_id=rmn_app_web&redirect_uri=https%3A%2F%2Fnetwork.mobile.rakuten.co.jp%2F<%= encodeURIComponent(url) %>&err_redirect_uri=https%3A%2F%2Fnetwork.mobile.rakuten.co.jp%2F&scope=memberinfo_read_safebulk%2Cmemberinfo_read_point%2Cmemberinfo_get_card_token%2C30days%40Access%2C90days%40Refresh&contact_info_required=false&rae_service_id=rm005" data-ratid="<%= page %>-mno_login-gadget_login_click_01" data-ratevent="click" data-ratparam="all">ご利用可能なポイントを確認</a></p>
      </div>
      <div class="i-Login-gadget_Link"><a class="c-Link_Txt" href="https://grp03.id.rakuten.co.jp/rms/nid/login?service_id=rm005&client_id=rmn_app_web&redirect_uri=https%3A%2F%2Fnetwork.mobile.rakuten.co.jp%2F<%= encodeURIComponent(url) %>&err_redirect_uri=https%3A%2F%2Fnetwork.mobile.rakuten.co.jp%2F&scope=memberinfo_read_safebulk%2Cmemberinfo_read_point%2Cmemberinfo_get_card_token%2C30days%40Access%2C90days%40Refresh&contact_info_required=false&rae_service_id=rm005" data-ratid="<%= page %>-mno_login-gadget_login_click_02" data-ratevent="click" data-ratparam="all">ログイン</a> / <a class="c-Link_Txt" href="https://grp01.id.rakuten.co.jp/rms/nid/registfwd?service_id=rm005" data-ratid="<%= page %>-mno_login-gadget_registration_click" data-ratevent="click" data-ratparam="all">会員登録</a></div>
    </div>
  </div>
  <div class="u-Rat_Appear-height" data-ratid="<%= page %>-mno_login-gadget_none-login" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
</div>

<div id="login-Gadget_Default-login" style="display: none;">
  <div class="i-Login-gadget_Wrapper">
      <div class="i-Login-gadget">
      <div class="i-Login-gadget_Member">
        <div class="i-Login-gadget_Name" id="login-Gadget_Default-rank"><a href="https://my.rakuten.co.jp/"><span id="login-Gadget_Default-name"></span>さん</a></div>
        <div class="i-Login-gadget_Point"><span class="c-Txt_Alphanumeric-m" id="login-Gadget_Default-point"></span>ポイント</div>
        <div class="i-Login-gadget_Appeal" id="pitari_gadget_01" data-phoenix-mnoprj_gadget_responsive></div>
      </div>
      <div class="i-Login-gadget_Link i-Login-gadget_Link-logout">
        <div><a href="<%= sitepath%>logout/" class="c-Link_Txt-inline" data-ratid="<%= page %>-mno_login-gadget_logout_click" data-ratevent="click" data-ratparam="all">ログアウト<span class="c-Icon_Chevron-right"></span></a></div>
      </div>
    </div>
  </div>
  <div class="u-Rat_Appear-height" data-ratid="<%= page %>-mno_login-gadget_login" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
</div>
