<%
// 引数から見出しレベルの配列を取得、デフォルトは[2, 3]
const navFamilyYouthKodomoHeadingLevels = typeof headingLevels !== 'undefined' ? headingLevels : [3, 3];
const navFamilyYouthKodomoHeading1 = navFamilyYouthKodomoHeadingLevels[0]; // 最初の見出しレベル
const navFamilyYouthKodomoHeading2 = navFamilyYouthKodomoHeadingLevels[1]; // 次の見出しレベル
const navFamilyYouthKodomoFamilyParam = typeof familyParam !== 'undefined' ? familyParam : '';
const navFamilyYouthKodomoYouthParam = typeof youthParam !== 'undefined' ? youthParam : '';
const navFamilyYouthKodomoKidsParam = typeof kidsParam !== 'undefined' ? kidsParam : '';
const navFamilyYouthKodomoShowElements = showElements || {}; // { first: 'family', second: ['youth', 'kodomo'] } のように指定
%>

<% if (navFamilyYouthKodomoShowElements.first === 'family') { %>
<!-- Familyの要素 -->
<%- `<h${navFamilyYouthKodomoHeading1} class="c-Heading_Lv${navFamilyYouthKodomoHeading1} u-Adjust_Align-center">Rakuten最強プランと<br class="u-Show_Oox">セットでさらにおトク！</h${navFamilyYouthKodomoHeading1}>` %>
<div class="i-Nav-famlily-youth-kodomo_Content-single u-Adjust_Mt-16">
  <div class="i-Nav-famlily-youth-kodomo_Content-item-single">
    <div class="i-Nav-famlily-youth-kodomo_Content-item-img">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/inc/nav-family-youth-kodomo/program-family-sp.png" width="686" height="296">
        <img src="<%= sitepath %>assets/img/inc/nav-family-youth-kodomo/program-family-wide-pc.png" class="i-Nav-famlily-youth-kodomo_Content-item-logo" loading="lazy" width="1032" height="112" alt="家族みんな 毎月ずーっと100円（税別）引き 最強家族プログラム 親戚や同居者もOK!">
      </picture>
    </div>
    <div class="i-Nav-famlily-youth-kodomo_Content-btn-wrap-family">
      <a class="c-Btn_Regular i-Nav-famlily-youth-kodomo_Content-btn-anchor" href="<%= sitepath %>fee/family/?l-id=<%= navFamilyYouthKodomoFamilyParam %>">詳細を見る</a>
    </div>
  </div>
</div>
<% } %>

<%- `<h${navFamilyYouthKodomoHeading2} class="u-Adjust_Align-center c-Heading_Lv${navFamilyYouthKodomoHeading2}${typeof navFamilyYouthKodomoShowElements.first !== 'undefined' ? ' u-Adjust_Mt-32' : ''}">0歳から22歳までは<br class="u-Show_Oxx"><span class="c-Txt_Emp-02">もーっとおトク!</span></h${navFamilyYouthKodomoHeading2}>` %>
<div class="i-Nav-famlily-youth-kodomo_Content u-Adjust_Mt-8">
<% if (navFamilyYouthKodomoShowElements.second && navFamilyYouthKodomoShowElements.second.includes('family')) { %>
  <!-- Familyの要素（後半部分） -->
  <div class="i-Nav-famlily-youth-kodomo_Content-item">
    <div class="i-Nav-famlily-youth-kodomo_Content-item-img">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/inc/nav-family-youth-kodomo/program-family-sp.png" width="686" height="296">
        <img src="<%= sitepath %>assets/img/inc/nav-family-youth-kodomo/program-family-slim-pc.png" class="i-Nav-famlily-youth-kodomo_Content-item-logo" loading="lazy" width="504" height="112" alt="家族みんな 毎月ずーっと100円（税別）引き 最強家族プログラム 親戚や同居者もOK!">
      </picture>
    </div>
    <div class="i-Nav-famlily-youth-kodomo_Content-btn-wrap-family">
      <a class="c-Btn_Regular i-Nav-famlily-youth-kodomo_Content-btn-anchor" href="<%= sitepath %>fee/family/?l-id=<%= navFamilyYouthKodomoFamilyParam %>">詳細を見る</a>
    </div>
  </div>
<% } %>
<% if (navFamilyYouthKodomoShowElements.second && navFamilyYouthKodomoShowElements.second.includes('youth')) { %>
  <!-- Youthの要素 -->
  <div class="i-Nav-famlily-youth-kodomo_Content-item">
    <div class="i-Nav-famlily-youth-kodomo_Content-item-img">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/inc/nav-family-youth-kodomo/program-seisyun-sp.png" width="686" height="296">
        <img src="<%= sitepath %>assets/img/inc/nav-family-youth-kodomo/program-seisyun-pc.png" class="i-Nav-famlily-youth-kodomo_Content-item-logo" loading="lazy" width="504" height="112" alt="22歳まで 毎月110ポイント還元! 最強青春プログラム U22 ※要エントリー">
      </picture>
    </div>
    <div class="i-Nav-famlily-youth-kodomo_Content-btn-wrap-seisyun">
      <a class="c-Btn_Regular i-Nav-famlily-youth-kodomo_Content-btn-anchor" href="<%= sitepath %>fee/youth/?l-id=<%= navFamilyYouthKodomoYouthParam %>">詳細を見る</a>
    </div>
  </div>
<% } %>
<% if (navFamilyYouthKodomoShowElements.second && navFamilyYouthKodomoShowElements.second.includes('kodomo')) { %>
  <!-- Kodomoの要素 -->
  <div class="i-Nav-famlily-youth-kodomo_Content-item">
    <div class="i-Nav-famlily-youth-kodomo_Content-item-img">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/inc/nav-family-youth-kodomo/program-kodomo-sp.png" width="686" height="296">
        <img src="<%= sitepath %>assets/img/inc/nav-family-youth-kodomo/program-kodomo-pc.png" class="i-Nav-famlily-youth-kodomo_Content-item-logo" loading="lazy" width="504" height="112" alt="新登場！ 12歳まで 毎月最大440ポイント還元 ※ 3GB超過時の還元額は110ポイント 最強こどもプログラム新登場 U12 ※要エントリー">
      </picture>
    </div>
    <div class="i-Nav-famlily-youth-kodomo_Content-btn-wrap-kodomo">
      <a class="c-Btn_Regular i-Nav-famlily-youth-kodomo_Content-btn-anchor" href="<%= sitepath %>fee/kids/?l-id=<%= navFamilyYouthKodomoKidsParam %>">詳細を見る</a>
    </div>
  </div>
<% } %>
</div>

