<% const nameSpace = "i-Poikaku-lp-bnr" -%>
<div>
  <div class="<%= nameSpace %>-nonlogin" style="display: none;">
    <a href="https://grp03.id.rakuten.co.jp/rms/nid/login?service_id=rm005&client_id=rmn_app_web&redirect_uri=https%3A%2F%2Fnetwork.mobile.rakuten.co.jp%2Ftips%2Fpoint%2F%3Fl-id%3Dpointgadget-none_include_tips_point&err_redirect_uri=https%3A%2F%2Fnetwork.mobile.rakuten.co.jp%2F&scope=memberinfo_read_safebulk%2Cmemberinfo_read_point%2Cmemberinfo_get_card_token%2C30days%40Access%2C90days%40Refresh&contact_info_required=false&rae_service_id=rm005">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-poikaku-nonlogin-343-108-230704.png" width="686">
        <img src="<%= sitepath %>assets/img/bnr/bnr-poikaku-nonlogin-1032-160-230704.png" width="2064" height="320" alt="楽天モバイルを使うだけで...楽天ポイントどのくらい貯まる!?ログインして確認する">
      </picture>
    </a>
  </div>
  <div class="<%= nameSpace %>" style="display: none;">
    <a href="<%= sitepath %>tips/point/?l-id=pointgadget_include_tips_point">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-poikaku-343-108-230704.png" width="686">
        <img src="<%= sitepath %>assets/img/bnr/bnr-poikaku-1032-160-230704.png" width="2064" height="320" alt="楽天モバイルを使うだけで...楽天ポイントどのくらい貯まる!?いますぐ確認する">
      </picture>
    </a>
  </div>
</div>