<div class="u-Rat_Appear-height" data-ratid="area-prefecture-gadget" data-ratevent="appear" data-ratparam="all"></div>
<div class="l-System_Container" id="js-prefecture" style="display: none;" data-pagename="<%= pagename %>">
  <div class="u-Rat_Appear-height" data-ratid="" data-ratevent="appear" data-ratparam="all" id="js-prefecture-appear-up"></div>
  <div class="u-Rat_Appear-height" data-ratid="" data-ratevent="appear" data-ratparam="all" id="js-prefecture-appear-all-up"></div>
  <div class="u-Adjust_Pb-16">
    <div class="i-Prefecture_Box">
      <div class="i-Prefecture_Img"><a href="<%= sitepath %>area/tokyo/" id="js-prefecture-area-img"><img src="<%= sitepath %>assets/img/common/prefecture/prefecture-map-tokyo.png" alt="" id="js-prefecture-img" width="153" height="84"></a></div>
      <div class="i-Prefecture_Wrap">
        <div class="i-Prefecture_Txt-wrap">
          <div class="i-Prefecture_Case">
            <p class="i-Prefecture_Txt"><span class="i-Prefecture_Txt-1 c-Txt_Emp-02 js-prefecture-name"></span><span class="i-Prefecture_Txt-2">でも</span><br class="u-Show_Oox"><span class="i-Prefecture_Txt-3">人口カバー率</span><span class="c-Txt_Emp-02 i-Prefecture_Txt-4"><span id="js-prefecture-share1"></span><span class="i-Prefecture_Txt-5">.<span id="js-prefecture-share2"></span><span class="i-Prefecture_Txt-6">%</span></span></span><sup class="c-Txt_Cap">※4</sup></p>
          </div>
          <p class="i-Prefecture_Txt-sub"><span class="c-Txt_Emp-02 i-Prefecture_Txt-7">全通信エリア、データ高速無制限</span><span class="i-Prefecture_Txt-8">で</span><span class="i-Prefecture_Txt-9">つながる!</span><sup class="c-Txt_Cap">※2</sup></p>
        </div>
        <div class="i-Prefecture_Link-frame">
          <div class="i-Prefecture_Btn-wrap">
            <div class="i-Prefecture_Btn-case">
              <a href="<%= sitepath %>shop/search/?l-id=top_shop_search_tokyo&prefecture=東京都&city=" class="c-Btn_Regular i-Prefecture_Btn" id="js-prefecture-shop">
                <span><span class="u-Show_Xxo">お近くの</span>ショップを探す</span>
              </a>
            </div>
            <div class="i-Prefecture_Btn-case">
              <a href="<%= sitepath %>area/?l-id=top_area" class="c-Btn_Regular i-Prefecture_Btn" id="js-prefecture-map">
              <span>サービスエリア<span class="u-Show_Xxo">マップを</span>確認</span>
              </a>
            </div>
          </div>
          <div class="i-Prefecture_Link-wrap">
            <a href="<%= sitepath %>area/tokyo/" id="js-prefecture-area" class="c-Link_Txt-inline">
              <em class="js-prefecture-name"></em>の情報をさらに詳しく<span class="c-Icon_Chevron-right"></span>
            </a>
          </div>
        </div>
        <input type="hidden" name="pitari_phx_pattern_prefecture" id="phx_pattern_name_prefecture" value="">
        <input type="hidden" name="krt_prefecture" id="krt_prefecture" value="">
      </div>
    </div>
  </div>
  <div class="u-Rat_Appear-height" data-ratid="" data-ratevent="appear" data-ratparam="all" id="js-prefecture-appear"></div>
  <div class="u-Rat_Appear-height" data-ratid="" data-ratevent="appear" data-ratparam="all" id="js-prefecture-appear-all"></div>
</div>

<div id="js-prefecture-none" style="display: none;">
  <div class="u-Rat_Appear-height" data-ratid="area_none-login-pitari" data-ratevent="appear" data-ratparam="all" id="js-prefecture-rat-none"></div>
</div>
<div id="js-prefecture-none-inhouse" style="display: none;">
  <div class="u-Rat_Appear-height" data-ratid="area_other-inhouse" data-ratevent="appear" data-ratparam="all" id="js-prefecture-rat-none-inhouse"></div>
</div>
<div id="js-prefecture-sp-inhouse" style="display: none;">
  <div class="u-Rat_Appear-height" data-ratid="area_sp-inhouse" data-ratevent="appear" data-ratparam="all" id="js-prefecture-rat-sp-inhouse"></div>
</div>
<div id="js-prefecture-appear-ip-none" style="display: none;">
  <div class="u-Rat_Appear-height" data-ratid="area_ip-inhouse" data-ratevent="appear" data-ratparam="all" id="js-prefecture-rat-ip-inhouse"></div>
</div>
<div id="js-inhouse" style="display: none;">
  <div class="u-Rat_Appear-height" data-ratid="prefecture_" data-ratevent="appear" data-ratparam="all" id="js-inhouse-accuracy"></div>
</div>
