<!-- inc price-comparison parts -->
<link rel="stylesheet" href="<%= sitepath %>assets/css/inc/i-price-comparison.css?20240424">

<div class="i-Price-comparison u-Adjust_Mt-56">
  <div class="l-System_Container">
    <div class="u-Adjust_Align-center">
      <p class="i-Price-comparison_Title c-Txt_Normal-ll">他社との料金比較</p>
      <div class="u-Adjust_Mt-32">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/inc/price-comparison/img-price-comparison-title-sp.png">
          <source srcset="<%= sitepath %>assets/img/inc/price-comparison/img-price-comparison-title-pc.png">
            <img src="<%= sitepath %>assets/img/inc/price-comparison/img-price-comparison-title-pc.png" alt="docomo au SoftBankとの比較 （5G大容量プラン+国内通話かけ放題）※光セット割なし">
        </picture>
      </div>
      <div class="u-Adjust_Mt-32">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/inc/price-comparison/img-price-comparison-sp.png?210114">
          <source srcset="<%= sitepath %>assets/img/inc/price-comparison/img-price-comparison-pc.png?210114">
            <img src="<%= sitepath %>assets/img/inc/price-comparison/img-price-comparison-pc.png?210114" alt="">
        </picture>
      </div>
    </div>

    <div class="u-Adjust_Mt-40">
      <p class="i-Price-comparison_Text">※1 <a href="<%= sitepath %>area/5g_area/" class="c-Link_Txt">対象エリア</a>をご確認ください。高速でデータ使い放題は、楽天基地局に接続時。公平にサービスを提供するため通信速度の制御を行うことあり。</p>
      <p class="i-Price-comparison_Text">※2 5G利用には<a href="<%= sitepath %>area/5g_area/" class="c-Link_Txt">対象エリア</a>と<a href="<%= sitepath %>product/" class="c-Link_Txt">対応製品</a>である必要あり。</p>
      <p class="i-Price-comparison_Text">※3 最大1Mbpsで使用時、動画再生・アプリダウンロード等では、時間がかかる場合あり。通信速度はベストエフォート（規格上の最大速度）であり、実効速度は通信環境・状況により変動します。</p>
      <p class="i-Price-comparison_Text">※4 お1人様1回線1度のみ1年無料。製品代、オプション料、通話料等は別費用。</p>
      <p class="i-Price-comparison_Text">※5 国内通話かけ放題（Rakuten Linkアプリ使用時）はプランに含まれる。アプリ未使用時30秒20円。一部対象外番号あり。</p>
      <p class="i-Price-comparison_Text">※6 2年契約N適用時、オプションサービス「通話定額2」加入の場合。一部対象外番号あり。こちらの料金から、さらに「スマホ応援割Ⅲ（2020年10月1日開始）」適用で6カ月間1,000円割引、「5Gスタート割（2020年10月1日開始）」適用で1年間1,000円割引。</p>
      <p class="i-Price-comparison_Text">※7 「データプランメリハリ」＋「基本プラン（音声）」＋「5G基本料」。オプションサービス「定額オプション＋」加入の場合。一部対象外番号あり。こちらの料金から、さらに「半年おトク割」適用で6カ月間1,000円割引、「5G 1年おトクキャンペーン」適用で1年間1,000円割引。</p>
      <p class="i-Price-comparison_Text">※8 定期契約なし、オプションサービス「かけ放題オプション」加入の場合。一部対象外番号あり。こちらの料金から、さらに「5Gギガホ割」適用で6カ月間1,000円割引。</p>
      <p class="i-Price-comparison_Text">※9 データ量無制限キャンペーン実施中。</p>
      <p class="i-Price-comparison_Text">※10 家族4人分の4年間の大手携帯キャリア3社の総額と、【「Rakuten UN-LIMIT」または「Rakuten UN-LIMIT V」お申し込みキャンペーン】プラン料金1年間無料を適用した場合の家族4人分の4年間の総額を差し引いた差額。</p>
      <p class="i-Price-comparison_Text">※11【「Rakuten UN-LIMIT」または「Rakuten UN-LIMIT V」お申し込みキャンペーン】プラン料金1年間無料を適用した場合の家族4人分の4年間の総額。</p>
      <p class="i-Price-comparison_Text">※12 ドコモで「5Gギガホ」と「かけ放題オプション」に加入、「みんなドコモ割」3回線以上、「5Gギガホ割」を適用した場合の家族4人分の4年間の総額。</p>
      <p class="i-Price-comparison_Text">※13 ソフトバンクで「メリハリプラン」と「定額オプション＋」に加入、「みんな家族割＋」4人以上、「半年おトク割」「5G 1年おトクキャンペーン」を適用した場合の家族4人分の4年間の総額。</p>
      <p class="i-Price-comparison_Text">※14 auで「データMAX 5G」と「通話定額2」に加入、「家族割プラス」4人以上、「スマホ応援割Ⅲ（2020年10月1日開始）」「5Gスタート割（2020年10月1日開始）」を適用した場合の家族4人分の4年間の総額。</p>
      <p class="i-Price-comparison_Text">※15 製品代、事務手数料、オプション料、通話料等は別費用。</p>
    </div>
  </div>
</div>

<!-- / inc price-comparison parts -->
