<div class="i-Replacement-program-product_List">
  <div class="i-Replacement-program-product_Card-outer">
    <div class="i-Replacement-program-product_Card">
      <h3 class="u-Adjust_Align-center c-Heading_Lv3 i-Replacement-program-product_Card-title">
        <img src="<%= sitepath %>assets/img/top/img-product-iphone-txt.png" width="132" height="14" alt="全通信キャリアで最安※" loading="lazy">
        <span>iPhone</span>
      </h3>
      <div class="u-Adjust_Mt-8 i-Replacement-program-product_Card-grid">
        <div class="u-Adjust_Align-center">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/top/thumb-iphone-150-110-sp.png" width="150" height="110">
            <img src="<%= sitepath %>assets/img/top/thumb-iphone-210-140-pc.png" width="210" height="140" alt="" loading="lazy">
          </picture>
        </div>
        <div class="u-Adjust_Align-center">
         <div class="c-Theme-Emphasis1 u-Color_Primary i-Replacement-program-product_Card-campaign">
            <p class="i-Replacement-program-product_Card-campaign-title">
              <span class="c-Icon_Campaign-l"></span>キャンペーン
            </p>
            <div class="i-Replacement-program-product_Card-campaign-txt">
              <div class="i-Replacement-program-product_Card-campaign-point">
                <span class="">最大</span>
                <span class="i-Replacement-program-product_Card-campaign-num">32,000</span>
                <span>円相当おトク!<span class="i-Replacement-program-product_Card-campaign-txt-note c-Txt_Cap u-Color_Primary">*2</span></span>
              </div>
            </div>
         </div>
         <div class="u-Adjust_Mt-16">
           <a href="<%= sitepath %>product/iphone/?l-id=top_p-carousel-button_product_iphone" class="c-Btn_Regular-large"><span>一覧を見る</span></a>
         </div>
        </div>
      </div>
    </div>
    <p class="c-Txt_Cap u-Adjust_Mt-8">※2024年3月27日時点。公式オンラインのiPhone本体代金の比較。</p>
  </div>
  <div class="i-Replacement-program-product_Card-outer">
    <div class="i-Replacement-program-product_Card">
      <h3 class="u-Adjust_Align-center c-Heading_Lv3 i-Replacement-program-product_Card-title i-Replacement-program-product_Card-title-android">
        Android
      </h3>
      <div class="u-Adjust_Mt-8 i-Replacement-program-product_Card-grid">
        <div class="u-Adjust_Align-center">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/top/thumb-android-150-110-sp-240417.png" width="110" height="110">
            <img src="<%= sitepath %>assets/img/top/thumb-android-210-140-pc-240417.png" width="210" height="140" alt="" loading="lazy">
          </picture>
        </div>
        <div class="u-Adjust_Align-center">
          <div class="c-Theme-Emphasis1 u-Color_Primary i-Replacement-program-product_Card-campaign">
             <p class="i-Replacement-program-product_Card-campaign-title">
               <span class="c-Icon_Campaign-l"></span>キャンペーン
             </p>
             <div class="i-Replacement-program-product_Card-campaign-txt">
                <div class="i-Replacement-program-product_Card-campaign-point">
                  <span>最大</span>
                  <span class="i-Replacement-program-product_Card-campaign-num">12,000</span>
                  <span>
                    ポイント還元!
                    <span class="i-Replacement-program-product_Card-campaign-txt-note c-Txt_Cap u-Color_Primary">*1</span>
                  </span>
                </div>
             </div>
          </div>
          <div class="u-Adjust_Mt-16">
            <a href="<%= sitepath %>product/smartphone/?l-id=top_p-carousel-button_product_smartphone" class="c-Btn_Regular-large"><span>一覧を見る</span></a>
          </div>
         </div>
      </div>
    </div>
    <p class="c-Txt_Cap u-Adjust_Mt-8">※一部対象外</p>
  </div>
</div>
