<!-- inc saikyou parts -->
<div class="i-Saikyo">
  <picture>
    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/inc/saikyo/plan-saikyo-en-sp-240430.png" width="100%">
    <img src="<%= sitepath %>assets/img/inc/saikyo/plan-saikyo-en-pc-240430.png" width="1032" alt="Rakuten SAIKYO Plan">
  </picture>
  <div>
    <ul class="i-Saikyo_Cta-list">
      <li>
        <a href="<%= sitepath %>fee/saikyo-plan/en/?l-id=plan-en_include_fee_saikyo-plan_en" class="c-Btn_Primary-large">See Price Plan Details</a>
      </li>
      <li>
        <a href="<%= sitepath %>fee/simulation/?l-id=plan-en_include_simulation_fee_simulation" class="c-Btn_Secondly-large">Simulate Your Price</a>
      </li>
    </ul>

    <p class="c-Txt_Cap u-Adjust_Mt-24 u-Adjust_Px-16">
      <span class="u-Show_Pc">
        *Product and additional option fees are billed separately. **1 Analysis based on Opensignal data as of August 2023. Achieved Rank 1 for "consistent quality" across 30 prefectures. <a href="<%= sitepath %>fee/saikyo-plan/en/?l-id=plan-en_include_fee_saikyo-plan_en#opensignal">Click here for more details.</a> **2 Speed may be restricted due to fair service provision or network environment.​ **3 Points are rewarded as time-limited points after conditions are met, around two months in. **4 Some numbers excluded. ¥22/30s without Rakuten Link app.​  **5 The maximum monthly point earning is 2,000 as time-limited points. <a href="<%= sitepath %>campaign/spu/?l-id=plan-en_include_campaign_spu">Click here for more details on SPU.</a>**6 Campaigns can change or conclude without prior notice. Other conditions apply. <a href="<%= sitepath %>campaign/digital-contents/?l-id=plan-en_include_campaign_digital-contents">Click here for more details.</a> **7 Excludes call charges and related fees. Speeds are capped at 128 kbps after 2GB. <a href="<%= sitepath %>service/global/overseas/en/?l-id=plan-en_include_service_global_overseas_en#accordion-1">Coverage areas</a> and conditions are subject to change.
      </span>
      <span class="u-Show_Sp">
        *Product and additional option fees are billed separately. **1 Speed may be restricted due to fair service provision or network environment.​ **2 Points are rewarded as time-limited points after conditions are met, around two months in. **3 Some numbers excluded. ¥22/30s without Rakuten Link app.​  **4 The maximum monthly point earning is 2,000 as time-limited points. <a href="<%= sitepath %>campaign/spu/?l-id=plan-en_include_campaign_spu">Click here for more details on SPU.</a> **5 Campaigns can change or conclude without prior notice. Other conditions apply. <a href="<%= sitepath %>campaign/digital-contents/?l-id=plan-en_include_campaign_digital-contents">Click here for more details.</a> **6 Excludes call charges and related fees. Speeds are capped at 128 kbps after 2GB. <a href="<%= sitepath %>service/global/overseas/en/?l-id=plan-en_include_service_global_overseas_en#accordion-1">Coverage areas</a> and conditions are subject to change.
      </span>
    </p>
  </div>
</div>
<!-- / inc saikyou parts -->
