<% const bgwhite = typeof _bgwhite === 'undefined' ? '' : _bgwhite -%>
<% const btnType = typeof btn === 'undefined' ? 'Primary' : btn -%>

<!-- inc saikyo-plan parts -->
<div class="l-System_Container i-Saikyo-plan">
  <h2 class="c-Heading_Lv2 u-Adjust_Align-center">楽天モバイルの<span class="txt-nl">料金プラン</span></h2>
  <div class="u-Adjust_Mt-24">
    <div class="i-Saikyo-plan_Img<%= bgwhite %>">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/inc/saikyo-plan/img-saikyo-plan-sp-240430.png" width="590" height="550">
        <img src="<%= sitepath %>assets/img/inc/saikyo-plan/img-saikyo-plan-pc-240430.png" loading="lazy" width="916" height="362" alt="使わなければ勝手に安くなるおトクなワンプラン。「最強家族プログラム」適用後100円/月（税別）引きで、20GB超過後無制限※2,880円/月（税込3,168円）、3GB超過後20GBまで1,880円/月（税込2,068円）、3GBまで880円/月（税込968円）">
      </picture>
      <p class="c-Txt_Cap u-Adjust_Mt-16 i-Saikyo-plan_Text u-Adjust_Align-center">*公平なサービス提供または環境により速度低下する場合あり※通話料等別</p>
    </div>
    <div class="i-Saikyo-plan_Detail u-Adjust_Align-center">
      <a href="<%= sitepath %>fee/saikyo-plan/?l-id=saikyo-plan-banner_fee_saikyo-plan" class="c-Btn_<%= btnType %>-large"><span>料金プラン詳細を見る</span></a>
    </div>
  </div>
</div>
<!-- / inc saikyo-plan parts -->
