<!-- inc saikyou parts -->
<div class="i-Saikyo">
  <picture>
    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/inc/saikyo/plan-saikyo-sp-240502.png">
    <img src="<%= sitepath %>assets/img/inc/saikyo/plan-saikyo-pc-240502.png" width="1032" alt="Rakuten最強プラン">
  </picture>


  <%_ if (typeof cta === 'undefined' && typeof cta !== false) { _%>
    <ul class="i-Saikyo_Cta-list">
      <li>
        <a href="<%= sitepath %>fee/saikyo-plan/?l-id=plan_include_fee_saikyo-plan" class="c-Btn_Primary-large"><span>料金プランの詳細を見る</span></a>
      </li>
      <li>
        <a href="<%= sitepath %>fee/simulation/?l-id=plan_include_fee_un-limit-simulation" class="c-Btn_Secondly-large"><span>料金シミュレーションをする</span></a>
      </li>
    </ul>
  <%_ } _%>


  <p class="c-Txt_Cap i-Saikyo_Cap">
    <span class="u-Show_Pc">
      *製品代、オプション料は別費用 *1 Opensignal社データ（2023年8月時点）の当社分析に基づく。30府県で「一貫した品質」のRank1を獲得。<a href="<%= sitepath %>#opensignal" class="c-Link_Txt">詳細はこちら</a> *2 公平なサービス提供または環境により速度低下する場合あり *3 期間限定ポイント。全ての条件を満たしたことが確認された月の翌々月末日ごろに付与 *4 一部対象外番号あり。アプリ未使用時30秒22円 *5 毎月の獲得上限ポイントは2,000ポイント。期間限定ポイント。<a href="<%= sitepath %>campaign/spu/" class="c-Link_Txt">SPUの詳細はこちら</a> *6 各キャンペーンは予告なく変更・終了する場合あり。その他一部条件あり。<a href="<%= sitepath %>campaign/digital-contents/" class="c-Link_Txt">詳細はこちら</a> *7 通話料等別。2GB超過後は最大128kbps。<a href="<%= sitepath %>service/global/overseas/#accordion-1" class="c-Link_Txt">対象エリア</a>及び条件は変更する場合あり
    </span>
    <span class="u-Show_Sp">
      *製品代、オプション料は別費用 *1 公平なサービス提供または環境により速度低下する場合あり *2 期間限定ポイント。全ての条件を満たしたことが確認された月の翌々月末日ごろに付与  *3 一部対象外番号あり。アプリ未使用時30秒22円 *4 毎月の獲得上限ポイントは2,000ポイント。期間限定ポイント。<a href="<%= sitepath %>campaign/spu/" class="c-Link_Txt">SPUの詳細はこちら</a> *5 各キャンペーンは予告なく変更・終了する場合あり。その他一部条件あり。<a href="<%= sitepath %>campaign/digital-contents/" class="c-Link_Txt">詳細はこちら</a> *6 通話料等別。2GB超過後は最大128kbps。<a href="<%= sitepath %>service/global/overseas/#accordion-1" class="c-Link_Txt">対象エリア</a>及び条件は変更する場合あり
    </span>
  </p>
</div>
<!-- / inc saikyou parts -->
