<!-- inc un-limit parts -->
<link rel="stylesheet" href="<%= sitepath %>assets/css/inc/i-unlimit.css?20240424">
<div class="i-Unlimit" style="background-color: #fff !important;">
  <picture>
    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/inc/un-limit/img-unlimit-7-sp-230215.png">
    <source srcset="<%= sitepath %>assets/img/inc/un-limit/img-unlimit-7-pc-230215.png">
      <img src="<%= sitepath %>assets/img/inc/un-limit/img-unlimit-7-pc-230215.png" width="1032" alt="Rakuten UN-LIMIT VII">
  </picture>

  <%_ if (typeof cta === 'undefined' && typeof cta !== false) { _%>
    <div class="i-Unlimit_Cta">
      <a href="<%= sitepath %>fee/un-limit/?l-id=campaign_rakuten-employee_fee_un-limit" class="c-Btn_Primary-large"><span>料金プランの詳細を見る</span></a>
    </div>
  <%_ } _%>


  <p class="c-Txt_Cap i-Unlimit_Cap">
    ※通話料等別 *1 2022年10月末までの最大4カ月間は月間データ利用量が1GB以下／月の場合、月額料金が実質無料。「実質無料」とは、キャンペーンの条件達成により後日付与されるポイントを加味した価格であり、実際のお支払い金額とは異なり、また期間によっても特典内容が異なる。実質無料特典は、ご利用中の回線の中で最初に課金開始いただいた1回線目に適用。<a href="<%= sitepath %>fee/un-limit/detail/#campaign-rule01">詳細はこちら</a> *2 楽天基地局接続時 。公平なサービス提供のため速度制御の場合あり *3 海外の対象国と地域以外は、Wi-Fi接続時のみ利用可能。<a href="<%= sitepath %>fee/un-limit/?l-id=plan_fee_un-limit_country#country">対象エリア</a>をご確認ください。通信速度はベストエフォート、実効速度は通信環境・状況により変動 *4 SPUによる最大14倍と、Rakuten UN-LIMIT VIIご契約者最大+2倍の合計で16倍。各上限・達成条件あり。<a href="https://event.rakuten.co.jp/campaign/point-up/everyday/point/">SPUの詳細はこちら</a>。最大+2倍はダイヤモンド会員に限る。<a href="<%= sitepath %>fee/un-limit/detail/#campaign-rule-current">詳細はこちら</a> *5 Rakuten Link利用時。一部対象外番号あり *6 初めて利用の場合。無料期間はサービスにより異なる。内容は変更になる場合あり。その他条件あり。<a href="<%= sitepath %>campaign/digital-contents/?l-id=plan_campaign_digital_contents">詳細はこちら</a>
  </p>
</div>
<!-- / inc un-limit parts -->
