<%_
  let _bgColor = '#fff';
  if (typeof bgColor !== 'undefined') {
    _bgColor = bgColor;
  }
_%>
<!-- inc un-limit parts -->
<link rel="stylesheet" href="<%= sitepath %>assets/css/inc/i-unlimit.css?20240424">
<div class="i-Unlimit" style="background-color: <%= _bgColor %>;">
  <picture>
    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/inc/un-limit/img-unlimit-7-en-sp-2-230215.png">
      <img src="<%= sitepath %>assets/img/inc/un-limit/img-unlimit-7-en-2-230215.png" width="1032" alt="Rakuten UN-LIMIT VII">
  </picture>

  <%_ if (typeof cta === 'undefined' && typeof cta !== false) { _%>
    <div class="i-Unlimit_Cta">
      <a href="<%= sitepath %>fee/un-limit/en/?l-id=service_global-overseas-en_fee_un-limit-en" class="c-Btn_Primary-large"><span>For details of our price plan</span></a>
    </div>
  <%_ } _%>


  <p class="c-Txt_Cap i-Unlimit_Cap">
    *Call charges, etc. not included. *2 Outside the applicable overseas countries and regions, usable only when connected to Wi-Fi. Please check <a href="<%= sitepath %>fee/un-limit/en/?l-id=service_global-overseas-en_fee_un-limit_country#country" class="c-Link_Txt">our coverage areas</a>. The communication speeds are on a best-efforts basis (max speed based on the standards), and actual speeds may vary depending on the communications environment and situation. *8 <a href="<%= sitepath %>campaign/iphone-point/?l-id=service_global-overseas-en_campaign_iphone-point" class="c-Link_Txt">Click here for details</a>. *9 Unlimited data applies only when connected to Rakuten base station. The communication speeds may be reduced to ensure fair use of services. *10 Must be a Diamond member and have fulfilled all SPU requirements. Other conditions apply. Points limits apply. <a href="<%= sitepath %>campaign/spu/?l-id=service_global-overseas-en_campaign_spu" class="c-Link_Txt">Click here for details</a>. *11 Excludes some phone numbers. *12 *For first-time users. *The fee-free period varies by service. *Conditions apply. *Excludes some services. *Offer subject to change. <a href="<%= sitepath %>campaign/digital-contents/?l-id=service_global-overseas-en_campaign_digital-contents" class="c-Link_Txt">Click here for details</a>.
  </p>
</div>
<!-- / inc un-limit parts -->
