<!-- inc unlimit-vi-plan-02 parts -->
<link rel="stylesheet" href="<%= sitepath %>assets/css/inc/i-unlimit-vi-plan-02.css?20240424">
<div class="i-Unlimit-vi-plan">
  <div class="l-System_Container i-Unlimit-vi-plan-Container">
    <picture>
      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/inc/un-limit-vi-plan-02/img-unlimit-vi-plan-sp_220311.png?220311">
      <source srcset="<%= sitepath %>assets/img/inc/un-limit-vi-plan-02/img-unlimit-vi-plan-pc_220311.png?220311">
      <img src="<%= sitepath %>assets/img/inc/un-limit-vi-plan-02/img-unlimit-vi-plan-pc_220311.png?220311" alt="">
    </picture>
      <div class="i-Unlimit-vi-plan-Detail">
      <p class="c-Txt_Cap u-Adjust_Mt-16">※1 2021年 オリコン顧客満足度&#174;調査 携帯キャリア 総合ランキング 第1位（2021年12月1日時点）<a href="https://life.oricon.co.jp/rank-mobile-carrier/" target="_blank" class="c-Link_Txt-inline">2021年 オリコン顧客満足度調査 携帯キャリアランキング<span class="c-Icon_New-window-l"></span></a> ※2 「最適」はデータ利用量に応じた料金になるという意味です。※3 製品代、オプション料、通話料等は別費用。 2回線目以降は0GB～3GBまで980円（税込1,078円）。※4 5Gサービス提供はエリアに制限あり。<a href="/area/5g_area/?l-id=un-limit-banner_fee_unlimit">対象エリア</a>をご確認ください。また、5G対応製品が必要です。※5 データ無制限は、楽天基地局に接続時。公平にサービスを提供するため通信速度の制御を行う場合があります。パートナー回線エリアは、国内は5GB超過後は最大1Mbps、海外は2GB超過後は最大128kbpsで使い放題。最大1Mbpsで使用時、動画再生・アプリダウンロード等では、時間がかかる場合あり。通信速度はベストエフォート（規格上の最大速度）であり、実効速度は通信環境・状況により変動します。</p>
        <p class="u-Adjust_Align-center u-Adjust_Mt-24"><a href="<%= sitepath %>fee/un-limit/?l-id=un-limit-banner_fee_unlimit" class="c-Btn_Secondly-large"><span>料金プラン詳細を見る</span></a></p>
    </div>
  </div>
</div>
<!-- / inc unlimit-vi-plan-02 parts -->
