<!-- inc unlimit-vi-plan parts -->
<link rel="stylesheet" href="<%= sitepath %>assets/css/inc/i-unlimit-vi-plan.css?20240424">
<h2 class="i-Unlimit-vi-plan_Heading">「Rakuten UN-LIMIT VI」のご紹介</h2>
<div class="i-Unlimit-vi-plan">
  <div class="l-System_Container">
    <picture>
      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/inc/un-limit-vi-plan/img-unlimit-vi-plan-sp.png">
      <source srcset="<%= sitepath %>assets/img/inc/un-limit-vi-plan/img-unlimit-vi-plan-pc.png">
      <img src="<%= sitepath %>assets/img/inc/un-limit-vi-plan/img-unlimit-vi-plan-pc.png" width="1032" alt="">
    </picture>
    <p class="c-Txt_Cap u-Adjust_Mt-16">※1 製品代、オプション料、通話料等は別費用。 2回線目以降は0GB～3GBまで980円。※2
      5Gサービス提供はエリアに制限あり。<a href="<%= sitepath %>area/5g_area/?l-id=un-limit-banner_fee_unlimit">対象エリア</a>をご確認ください。また、5G対応製品が必要です。※3
      データ無制限は、楽天基地局に接続時。公平にサービスを提供するため通信速度の制御を行う場合があります。パートナー回線エリアは、国内は5GB超過後は最大1Mbps、海外は2GB超過後は最大128kbpsで使い放題。最大1Mbpsで使用時、動画再生・アプリダウンロード等では、時間がかかる場合あり。通信速度はベストエフォート（規格上の最大速度）であり、実効速度は通信環境・状況により変動します。</p>
    <div class="i-Unlimit-vi-plan_Cta u-Adjust_Mt-24">
      <p class="i-Unlimit-vi-plan_Text u-Adjust_Align-center c-Txt_Emp-01">2021年4月1日、「Rakuten UN-LIMIT V」は<br class="i-Unlimit-vi-plan_Sp">「Rakuten UN-LIMIT VI」に自動でアップグレードされます。<br>アップグレードは無料で、<br class="i-Unlimit-vi-plan_Sp">お手続きも必要ありません。</p>
      <p class="u-Adjust_Align-center u-Adjust_Mt-24"><a href="<%= sitepath %>fee/un-limit/?l-id=un-limit-banner_fee_unlimit" class="c-Btn_Secondly-large"><span>詳細を見る</span></a></p>
    </div>
  </div>
</div>
<!-- / inc unlimit-vi-plan parts -->
