<% const pagetitle = "【楽天モバイル×楽天Edy】Rakuten UN-LIMIT VIIはじめてお申し込みで、1,000円分のEdyプレゼント" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "edy" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '【楽天モバイル×楽天Edy】Rakuten UN-LIMIT VIIはじめてお申し込みで、1,000円分のEdyプレゼント',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/edy/edy.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/_entry-button/rex-overwrite_v2.css?20240424">
<!-- ReX Campaign Button: stylesheet -->
<link rel="stylesheet" href="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/4.0.0/static/css/main.css?20240424" />
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<script defer="defer" src="https://r.r10s.jp/com/js/c/common/entry_button/1.0/entry_button-1.0.0.min.js"></script>
<link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
<script>
  function entryset(){
    const entset1 = document.getElementsByClassName('rex-core-link')[0];
    entset1.setAttribute('onclick', 'entbtn()');
    const entset2 = document.getElementsByClassName('rex-core-link')[1];
    entset2.setAttribute('onclick', 'entbtn()');
    const entset3 = document.getElementsByClassName('rex-core-link')[2];
    entset3.setAttribute('onclick', 'entbtn()');
  }

  setInterval(entryset, 10);
</script>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true">楽天モバイル回線申し込みで、1,000円分のEdyプレゼントキャンペーン</li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout-Label">
      <ul class="c-Label_List <%= namespace %>-Layout-Label_List">
        <li class="c-Label_Normal">全会員様対象</li>
        <li class="c-Label_Normal">エントリー必要</li>
        <li class="c-Label_Normal">プランのみ申込可</li>
        <li class="c-Label_Normal">Rakuten Link利用必要</li>
        <li><span class="<%= namespace %>-Layout-Label_point">ポイント：進呈日を含めて6カ月の期間限定ポイント</span></li>
      </ul>
    </div>

    <!-- modal -->
    <div id="entrybtn"></div>
    <div id="overlay" class="<%= namespace %>-modal_overlay"></div>
    <div id="modal_Contents" class="<%= namespace %>-modal_contents">
      <div class="<%= namespace %>-modal_contents_area">
        <p class="<%= namespace %>-Layout_Bottom-fixed-txt modal_txt">さっそくお申し込み！</p>
        <div aria-expanded="false">
          <div class="<%= namespace %>-Layout_Bottom-fixed-inner">
            <a href="/guide/application/?lid-r=campaign_<%= namespace %>_modal_guide_application1" class="c-Btn_Primary <%= namespace %>-Layout_Bottom-fixed-btn modal_btn"><span class="<%= namespace %>-Layout_Bottom-fixed-btn-txt"><span class="Bottom_txt-style">新規／乗り換え（MNP）</span><br class="<%= namespace %>-Layout-<%= namespace %>_Sp">お申し込み</span>
          </a>
            <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_<%= namespace %>_modal_ms1&mno_migration=1" class="c-Btn_Secondly <%= namespace %>-Layout_Bottom-fixed-btn modal_btn" data-ratid="campaign_<%= namespace %>_ms1" data-ratevent="click" data-ratparam="all"><span class="<%= namespace %>-Layout_Bottom-fixed-btn-txt"><span class="Bottom_txt-style">楽天モバイル（ドコモ・au回線）</span><br class="<%= namespace %>-Layout-<%= namespace %>_Sp"><span class="Bottom_txt-style">からの</span><br class="<%= namespace %>-Layout-<%= namespace %>_Pc">移行お申し込み</span>
          </a>
          </div>
        </div>
      </div>
      <div id="<%= namespace %>_btn" class="<%= namespace %>-modal_closebtn">×</div>
    </div>
    <!-- /modal -->

    <div class="<%= namespace %>-Hero_Return">
      <div class="l-System_Container <%= namespace %>-Hero_Container">
        <div class="<%= namespace %>-Hero_Main">
          <h1><img src="<%= sitepath %>assets/img/campaign/edy/img-heading-pc_220701.png?220701" alt="本ページから楽天モバイル回線申し込みで1,000円分のEdy ＋ 累計1,000円（税込）以上楽天Edyでお支払いで抽選で100名様に2,000ポイントプレゼント 要エントリー" class="<%= namespace %>-Utility_Img-pc"><img src="<%= sitepath %>assets/img/campaign/edy/img-heading-sp_220701.png?220701" alt="" class="<%= namespace %>-Utility_Img-sp"></h1>
        </div>
      </div>
    </div>
    <div class="<%= namespace %>-Layout_Body">
        <div class="l-System_Container">
          <ul class="c-Txt_Cap">
            <li><span class="c-Txt_Emp-02">※</span><span class="c-Txt_Emp-02">お申し込み後のエントリーは特典進呈の対象外となります。</span></li>
            <li><span>※</span>エントリーいただくと、両方のキャンペーンにエントリーされます。</li>
            <li><span>※</span>キャンペーンルールに記載の併用可能キャンペーン以外は併用できません。詳細は<a href="#campaign-rule" class="js-scroll">ルール</a>をご確認ください。</li>
            <li>※特典はお客様ご自身で特典受取期限までに受け取りを行っていただく必要がありますのでご注意ください(特典の受け取り方は
              <a href="https://edy.rakuten.co.jp/howto/gift/" class="js-scroll">こちら</a>)。</li>
          </ul>
        </div>

        <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは終了しました。</p>

        <div class="l-System_Container">
          <div class="u-Adjust_Align-center u-Adjust_Mt-48">
            <p class="c-Txt_Emp-01">エントリー済みの方は下記ボタンより<br class="<%= namespace %>-Layout-edy_Sp">楽天モバイルにお申し込みください！</p>
            <div class="<%= namespace %>-Layout_Entrycompleted u-Adjust_Mt-16">
              <div><a href="<%= sitepath %>guide/application/?lid-r=campaign_edy_guide_application" class="c-Btn_Secondly-large"><span>新規／乗り換え（MNP）お申し込み</span></a></div>
              <div><a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_edy_ms&mno_migration=1" class="c-Btn_Secondly-large"><span><span class="<%= namespace %>-Layout_Entrycompleted-btn">スーパーホーダイ・組み合わせプランからの</span><br>プラン変更（移行）お申し込み</span></a></div>
            </div>
            <ul class="c-Txt_Cap u-Adjust_Align-left u-Adjust_Mt-16">
              <li><span>※</span>詳しい手順は<a href="#mobile-flow" class="js-scroll">「キャンペーンの流れ」</a>をご確認ください。</li>
              <li><span>※</span>お申し込み後のエントリーは特典進呈対象外となるため、必ずエントリー後にお申し込みください。</li>
            </ul>
          </div>

          <div class="<%= namespace %>-Layout-<%= namespace %>_Pc u-Adjust_Mt-40">
            <div class="u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-06.png?220701" alt="キャンペーン情報をチェック">
            </div>
          </div>
          <div class="<%= namespace %>-Layout-<%= namespace %>_Sp u-Adjust_Mt-24">
            <div class="u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-06-sp.png?220701" alt="キャンペーン情報をチェック">
            </div>
          </div>

          <div class="<%= namespace %>_btn u-Adjust_Mt-16">
            <div>
              <a href="#mobile-flow" class="js-scroll">
                <picture>
                  <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-btn-01-sp_220701.png?220701">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-btn-01-pc_220701.png?220701" width="541" alt="楽天モバイル 条件達成でもれなく1,000円分のEdy">
                </picture>
              </a>
            </div>
            <div>
              <a href="#edy-flow" class="js-scroll">
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-btn-02-sp_220701.png?220701">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-btn-02-pc_220701.png?220701" width="541" alt="累計1,000円以上楽天Edyでお支払いで抽選で100名様に2,000ポイント">
              </picture>
              </a>
            </div>
          </div>

          <div id="mobile-flow" class="u-Adjust_Mt-24">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/edy/img-07-sp.png?220701">
              <source srcset="<%= sitepath %>assets/img/campaign/edy/img-07.png?220701">
              <img src="<%= sitepath %>assets/img/campaign/edy/img-01.png?220201" alt="エントリー後、
              楽天モバイル申し込み＆Rakuten Linkアプリ利用で1,000円分のEdyプレゼント">
            </picture>
          </div>

          <p class="u-Adjust_Mt-24 c-Txt_Emp-01">楽天モバイル回線申し込みで、1,000円分のEdyプレゼント</p>
          <div class="l-System_Container <%= namespace %>-Layout-edy u-Adjust_Mt-16">
            <div class="<%= namespace %>-Layout-edy_Period">
              <dl>
                <dt>エントリー・<br class="<%= namespace %>-Layout-edy_Sp">お申し込み<br class="<%= namespace %>-Layout-edy_Sp">期間</dt>
                <dd>2022年7月1日（金）9:00～2022年7月29日（金）8:59</dd>
              </dl>
              <dl>
                <dt>プラン利用開始期限</dt>
                <dd>2022年8月31日（水）23:59まで</dd>
              </dl>
              <dl>
                <dt>「Rakuten Link」のご利用期限</dt>
                <dd>2022年8月31日（水）23:59まで</dd>
              </dl>
            </div>
          </div>
          <ul class="c-Txt_Cap u-Adjust_Align-left u-Adjust_Mt-16">
            <li><span>※</span>2022年10月末日ごろに進呈予定です。</li>
          </ul>

          <h2 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-40">1,000円分のEdyがもらえる4ステップ</h2>
          <div class="<%= namespace %>-Layout_step u-Adjust_Mt-24">
            <div class="c-Accordion">
              <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1" data-ratid="campaign_<%= namespace %>_flow-step1" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP1　</span>キャンペーンへのエントリー</button>
              <div id="accordion-content-1" class="<%= namespace %>-Layout_step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region"
                aria-labelledby="accordion-1" aria-hidden="true">
                <ul class="<%= namespace %>-Flow_List">
                  <li>
                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                        <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-13.png?220701" alt="">
                      </div>
                      <div>
                        <h4 class="c-Heading_Lv4 u-Adjust_Mt-8 u-Adjust_Mb-16">本ページからエントリー</h4>
                        <p class="u-Adjust_Mt-16">エントリー期間：2022年7月1日（金）9:00～2022年7月29日（金）8:59</p>
                        <p class="u-Adjust_Mt-8 c-Txt_Cap c-Txt_Emp-02">※お申し込み後のエントリーは特典進呈の対象外となります。</p>
                      </div>
                    </div>

                  </li>
                </ul>
              </div>
            </div>
            <div class="c-Accordion u-Adjust_Mt-16">
              <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2" data-ratid="campaign_<%= namespace %>_flow-step2" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP2　</span>楽天モバイルのお申し込み</button>
              <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2"
                aria-hidden="true">
                <div class="u-Adjust_Mt-16">
                  <div>
                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-24">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                        <img src="<%= sitepath %>assets/img/campaign/edy/img-flow-03.png?220201" alt="">
                      </div>
                      <div>
                        <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">Webから楽天モバイル（楽天回線）に申し込む。</h4>
                        <p class="u-Adjust_Mt-8">2022年7月1日（金）9:00～2022年7月29日（金）8:59</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                          <li class="c-Txt_Emp-02"><span>※</span>未成年の方のお申し込み方法は別途こちらの<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_<%= namespace %>_flow_for-minors">ご案内ページ</a>をご確認ください。</li>
                        </ul>
                      </div>
                    </div>
                    <ul class="<%= namespace %>-Flow_List u-Adjust_Mt-16">
                      <li>
                        <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-8">
                          <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                            <img src="<%= sitepath %>assets/img/campaign/edy/img-flow-02.png?220201" alt="">
                          </div>
                          <div>
                            <p class="c-Txt_Emp-01">お申し込みに必要なもの</p>
                            <div class="u-Adjust_Mt-8">
                              <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc">
                                <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/verify/?l-id=campaign_<%= namespace %>_guide_verify" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                                <li class="u-Adjust_Mt-8">楽天会員ログイン用のユーザID、パスワード</li>
                                <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/?l-id=campaign_<%= namespace %>_guide_payment" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                                </li>
                                <li class="u-Adjust_Mt-8">ご契約者名義の<a href="<%= sitepath %>guide/mnp/?l-id=campaign_<%= namespace %>_guide_mnp" class="c-Link_Txt-inline">MNP予約番号</a>（他社から乗り換えの場合）
                                  <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                                    <span>※</span>ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001238/?l-id=campaign_<%= namespace %>_faq_00001238">こちらのご案内ページ</a>を必ず事前にご確認ください。<br>
                                  </p></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <div class="<%= namespace %>-Flow_List-step-unlimit u-Adjust_Mt-24 <%= namespace %>-Layout_step-ptn2">
                      <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-left">
                        <div class="<%= namespace %>-Flow_List-detail">
                          <div class="step-pran-change"><span class="c-Icon_New-user-f c-Txt_Emp-02"></span><h4 class="c-Heading_Lv4 u-Adjust_Mt-8 u-Adjust_Mb-16"> 新規電話番号／他社から乗り換え（MNP）</h4></div>
                          <p class="u-Adjust_Align-center"><a href="<%= sitepath %>guide/application/?lid-r=campaign_<%= namespace %>_guide_application1" class="c-Btn_Primary <%= namespace %>-Flow_List-button-secondly u-Adjust_Mt-24"><span>Rakuten UN-LIMIT VII<br class="<%= namespace %>-Layout-<%= namespace %>_Sp"> お申し込み画面に進む</span></a></p>
                          <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>fee/un-limit/?l-id=campaign_<%= namespace %>_fee_un-limit" class="c-Link_Txt-inline">Rakuten UN-LIMIT VIIの詳細<span class="c-Icon_Chevron-right"></span></a></p>
                          <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/flow/application/?l-id=campaign_<%= namespace %>_guide_flow_application" class="c-Link_Txt-inline">Rakuten UN-LIMIT VII<br class="<%= namespace %>-Layout-<%= namespace %>_Sp">お申し込み方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                        </div>
                      </div>
                      <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-right">
                        <div class="<%= namespace %>-Flow_List-detail">
                          <div class="step-pran-change"><span class="c-Icon_Paper-plane-l c-Txt_Emp-02"></span>
                          <h4 class="c-Heading_Lv4 u-Adjust_Mt-8 u-Adjust_Mb-16"> 楽天モバイル（ドコモ・au回線）からプラン変更（移行）</h4></div>
                          <div class="u-Adjust_Mt-16">
                            <p class="u-Adjust_Align-center"><a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_<%= namespace %>_ms1&mno_migration=1" class="c-Btn_Secondly <%= namespace %>-Flow_List-button-secondly u-Adjust_Mt-24" data-ratid="campaign_<%= namespace %>_ms" data-ratevent="click" data-ratparam="all"><span>メンバーズステーションからプラン変更（移行）する</span></a></p>
                            <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/migration/?l-id=campaign_<%= namespace %>_guide_migration" class="c-Link_Txt-inline">スーパーホーダイ・組み合わせプラン（※）との比較<span class="c-Icon_Chevron-right"></span></a>
                            </p>
                            <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">※2020年4月8日に受付終了のドコモ回線・au回線使用プラン
                            </p>
                            <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/mnp/migration/?l-id=campaign_<%= namespace %>_guide_mnp_migration" class="c-Link_Txt-inline">楽天モバイル（楽天回線）への<br class="<%= namespace %>-Layout-<%= namespace %>_Sp">移行方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                            <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>flow/mvno-user-registration/?l-id=campaign_<%= namespace %>_flow_mvno-user-registration" class="c-Link_Txt-inline">利用者登録でご利用中の方の<br class="<%= namespace %>-Layout-<%= namespace %>_Sp">移行方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-Accordion u-Adjust_Mt-16">
              <button type="button" id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3" data-ratid="campaign_<%= namespace %>_flow-step3" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP3　</span>「Rakuten UN-LIMIT VII」 プラン利用開始</button>
              <div id="accordion-content-3" class="<%= namespace %>-Layout_step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region"
                aria-labelledby="accordion-3" aria-hidden="true">
                <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                  <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                    <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-14.png?220701" alt="">
                  </div>
                  <div>
                    <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">楽天モバイルの開通手続きを行い「Rakuten UN-LIMIT VII」 プランを利用開始する</h4>
                    <p class="u-Adjust_Mt-8">2022年8月31日（水）23:59まで</p>
                    <ul class="<%= namespace %>-Table_Rule-Cap">
                      <li class="c-Txt_Emp-02 u-Adjust_Mt-8"><span>※</span>店舗（楽天モバイルショップ）でのお申し込みの場合、対象外となります。あらかじめご了承ください。</li>
                      <li class="u-Adjust_Mt-8"><span>※</span><a href="#PlanStart" class="js-scroll" data-ratid="campaign_<%= namespace %>_PlanStart" data-ratevent="click" data-ratparam="all">プラン利用開始日の定義はこちら</a>。</li>
                    </ul>
                    <div class="u-Adjust_Mt-8">
                      <p class="<%= namespace %>-Layout-<%= namespace %>_Sp-center-btn"><a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/" class="c-Btn_Regular <%= namespace %>-Flow_List-button">スタートガイド（利用開始手順書）<span class="txt-nl">はこちら</span></a></p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="c-Accordion u-Adjust_Mt-16">
              <button type="button" id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4" data-ratid="campaign_<%= namespace %>_flow-step4" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP4　</span>Rakuten Linkアプリから発信で10秒以上通話</button>
              <div id="accordion-content-4" class="<%= namespace %>-Layout_step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
                <ul class="<%= namespace %>-Flow_List">
                  <li>
                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                        <img src="<%= sitepath %>assets/img/campaign/edy/img-flow-10.png?220201" alt="">
                      </div>
                      <div>
                        <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">Rakuten Linkアプリで10秒以上通話する。</h4>
                        <p class="u-Adjust_Mt-8">2022年8月31日（水）23:59まで</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                          <li><span>※</span>電話の発信時、（0180）（0570）などから始まる他社接続サービス、一部特番（188）への通話については、特典対象外。</li>
                        </ul>
                        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>service/rakuten-link/?l-id=campaign_<%= namespace %>_service_rakuten-link" target="_blank" class="c-Link_Txt-inline">Rakuten Link アプリの詳細を見る<span class="c-Icon_New-window-l"></span></a></p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="u-Adjust_Align-center u-Adjust_Mt-16 step-last_arrow">
            <img src="<%= sitepath %>assets/img/campaign/edy/img-11.png?220701" alt="">
          </div>

          <div class="step-last">
            <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
              <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                <img src="<%= sitepath %>assets/img/campaign/edy/img-flow-11.png?220201" class="u-Adjust_Mt-24 <%= namespace %>-Utility_Img-pc" alt="">
                <img src="<%= sitepath %>assets/img/campaign/edy/img-flow-11-sp.png?220701" class="u-Adjust_Mt-24 <%= namespace %>-Utility_Img-sp" alt="">
              </div>
              <div>
                <div class="u-Adjust_Mt-16">
                  <img src="<%= sitepath %>assets/img/campaign/edy/img-08.png?220701" alt="" class="<%= namespace %>-Utility_Img-pc">
                </div>
                <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                  <li class="u-Adjust_Mt-8"><span>※</span>2022年10月末ごろに進呈予定です。</li>
                  <li class="u-Adjust_Mt-8"><span>※</span>特典はお客様自身で進呈日から30日間以内に受け取りを行っていただく必要があります。</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="step-last u-Adjust_Mt-16">
            <div class="u-Adjust_Align-center">
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/edy/img-09-sp.png?220701">
                <img src="<%= sitepath %>assets/img/campaign/edy/img-09.png?220701" alt="全国のコンビニエンスストアやドラッグストア、スーパーや本屋等、身近なお店でご利用いただけます！">
              </picture>
            </div>
            <p class="center-btn u-Adjust_Align-center u-Adjust_Mt-40"><a href="https://edy.rakuten.co.jp/search/merchant/" class="c-Btn_Secondly <%= namespace %>-Flow_List-button c-Link_Txt-inline" target="_blank"><span>楽天Edyが使えるお店<span class="c-Icon_New-window-l"></span></span></a></p>
          </div>
          <p class="u-Adjust_Align-center u-Adjust_Mt-32"><a href="https://edy.rakuten.co.jp/howto/gift/" class="c-Btn_Secondly <%= namespace %>-Flow_List-button c-Link_Txt-inline" target="_blank"><span>1,000円分のEdyの受け取り方はこちら<span class="c-Icon_New-window-l"></span></span></a></p>

        </div>

      <div class="l-System_Container">
        <div id="edy-flow" class="u-Adjust_Mt-40">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/edy/img-10-sp.png?220701">
            <img src="<%= sitepath %>assets/img/campaign/edy/img-10.png?220701" alt="さらに累計1,000円以上楽天Edyでお支払いで抽選で100名様に2,000ポイントプレゼント">
          </picture>
        </div>

        <p class="u-Adjust_Mt-24 c-Txt_Emp-01">エントリー後、累計1,000円（税込）以上 対象の楽天Edyでお支払いすると、抽選で100名様に2,000ポイントプレゼント</p>
        <div class="l-System_Container <%= namespace %>-Layout-edy u-Adjust_Mt-16">
          <div class="<%= namespace %>-Layout-edy_Period">
            <dl>
              <dt>エントリー・楽天Edyお支払い期間</dt>
              <dd>2022年7月1日（金）9:00～2022年7月29日（金）8:59</dd>
            </dl>
          </div>
        </div>
        <ul class="c-Txt_Cap u-Adjust_Align-left u-Adjust_Mt-16">
          <li><span>※</span>すでに楽天モバイルをご契約いただいている方も対象となります。</li>
          <li><span>※</span>エントリー、楽天ポイントを貯める設定、楽天Edyのお支払いの順序は問いません。</li>
        </ul>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-40 u-Adjust_Align-center">キャンペーンの流れ</h2>
        <div class="<%= namespace %>-Layout_step u-Adjust_Mt-24">
          <div class="c-Accordion">
            <button type="button" id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5" data-ratid="campaign_<%= namespace %>_flow-step2-1" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP1　</span>キャンペーンへのエントリー</button>
            <div id="accordion-content-5" class="<%= namespace %>-Layout_step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region"
              aria-labelledby="accordion-5" aria-hidden="true">
              <ul class="<%= namespace %>-Flow_List">
                <li>
                  <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                    <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-13.png?220701" alt="">
                    </div>
                    <div>
                      <h4 class="c-Heading_Lv4 u-Adjust_Mt-8 u-Adjust_Mb-16">本ページからエントリー</h4>
                      <p class="u-Adjust_Mt-16">エントリー期間：<span class="txt-nl">2022年7月1日（金）9:00～</span><span class="txt-nl">2022年7月29日（金）8:59</span></p>
                    </div>
                  </div>

                </li>
              </ul>
            </div>
          </div>
          <div class="c-Accordion u-Adjust_Mt-16">
            <button type="button" id="accordion-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-6" data-ratid="campaign_<%= namespace %>_flow-step2-2" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP2　</span>対象の楽天Edyで期間中累計1,000円（税込）以上お支払い</button>
            <div id="accordion-content-6" class="<%= namespace %>-Layout_step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-6" aria-hidden="true">
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/edy/img-flow-11.png?220201" class="u-Adjust_Mt-24" alt="">
                </div>
                <div>
                  <p class="u-Adjust_Mt-8">2022年7月1日（金）9:00～2022年7月29日（金）8:59</p>
                  <ul class="<%= namespace %>-Table_Rule-Cap">
                    <li class="u-Adjust_Mt-8"><span>※</span>エントリーした楽天IDで楽天ポイントを貯める設定がされている楽天Edyが対象です。<a href="https://edy.rakuten.co.jp/mypage/personal/" target="_blank" class="c-Link_Txt-inline">登録済みか確認する<span class="c-Icon_New-window-l"></span></a></li>
                    <li class="u-Adjust_Mt-8"><span>※</span>期間内であれば、楽天モバイルのお申し込みおよび楽天Edyアプリのお支払いの順序は問いません。</li>
                    <li class="u-Adjust_Mt-8"><span>※</span>楽天Edyのお支払いにはEdyの受け取りは含みませんので、ご注意ください。</li>
                    <li class="u-Adjust_Mt-8"><span>※</span>本キャンペーン期間中に楽天Edyのお支払いが完了している必要がありますので、ご注意ください。</li>
                  </ul>
                </div>
              </div>
              <div class="u-Adjust_Mt-16">
                <p class="<%= namespace %>-step-center-btn"><a href="https://edy.rakuten.co.jp/" class="c-Btn_Secondly <%= namespace %>-Flow_List-button c-Link_Txt-inline" target="_blank"><span>楽天ポイントカードを使えるお店<span class="c-Icon_New-window-l"></span></span></a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="u-Adjust_Align-center u-Adjust_Mt-16 step-last_arrow">
          <img src="<%= sitepath %>assets/img/campaign/edy/img-11.png?220701" alt="">
        </div>

        <div class="step-last">
          <h3 class="c-Heading_Lv3">抽選で100名様に2,000ポイントプレゼント！</h3>
          <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/edy/img-flow-12.png?220201" alt="">
            </div>
            <div>
              <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                <li class="u-Adjust_Mt-8"><span>※</span>2022年10月末ごろに進呈予定です。</li>
                <li class="u-Adjust_Mt-8"><span>※</span>進呈日から6カ月間有効の期間限定ポイントとなります。</li>
                <li class="u-Adjust_Mt-8"><span>※</span>当選の発表はポイントの進呈をもって代えさせていただきます。</li>
                <li class="u-Adjust_Mt-8 c-Txt_Emp-02"><span>※</span>特典はおひとり様1回のみ</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="c-Tab js-Tab" id="campaign-rule">
          <ul class="c-Tab_Items" role="tablist">
            <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">楽天モバイル</li>
            <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">楽天Edy</li>
          </ul>
          <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
            <div class="<%= namespace %>-Layout_Rule" id="mobile-rule">
              <h2>エントリー後、本ページから楽天モバイル回線申し込みで、1,000円分のEdyプレゼントキャンペーン</h2>
              <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
              <div class="u-Adjust_Mt-24">
                <dl class="c-Dl_Origin <%= namespace %>-campaign-Rule">
                  <div>
                    <dt>キャンペーンコード</dt>
                    <dd>
                      <p>1534</p>
                      <ul class="c-Txt_Cap u-Adjust_Mt-8">
                        <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                      <dt>キャンペーン期間</dt>
                      <dd>
                        <p class="c-Txt_Emp-01">エントリー期間</p>
                        <p>2022年7月1日（金）9:00～2022年7月29日（金）8:59</p>
                        <p class="c-Txt_Emp-01 u-Adjust_Mt-16">プランのお申し込み期間</p>
                        <p>- Web2022年7月1日（金）9:00～2022年7月29日（金）8:59</p>
                        <p class="c-Txt_Emp-01 u-Adjust_Mt-16">プラン利用開始期限</p>
                        <p>2022年8月31日（水）23:59まで</p>
                        <p class="c-Txt_Emp-01 u-Adjust_Mt-16">「Rakuten Link」利用期限</p>
                        <p>2022年8月31日（水）23:59まで</p>
                      </dd>
                  </div>
                  <div>
                    <dt>キャンペーン条件</dt>
                    <dd>
                      <p>上記各項目の期間内に【1】、【2】、【3】、【4】の条件をすべて満たした楽天会員の方</p>
                      <p class="u-Adjust_Mt-8">【1】キャンペーンへのエントリー<br>
                        エントリー期間内に本キャンペーンページでエントリー</p>
                        <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                          <li><span>※</span>エントリー前のお申し込みはEdy進呈の対象になりません</li>
                        </ul>
                      <p class="u-Adjust_Mt-8">【2】「Rakuten UN-LIMIT VII」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（1）新規お申し込み</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（2）他社からの乗り換え（MNP）でお申し込み</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                        <li><span>※</span>「Rakuten UN-LIMIT VI」から「Rakuten UN-LIMIT VII」への移行は対象外となります。</li>
                      </ul>
                      <p class="u-Adjust_Mt-8">【3】「Rakuten UN-LIMIT VII」プラン利用開始</p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li id="campaign-rule-plan">【プラン利用開始日とは】<br><br>
                          <span class="<%= namespace %>-Table_Rule-bold">新規お申し込みの場合※（1）（2）のいずれか早い方がプラン利用開始日となります</span><br>
                          （1）当社に配送完了データが通知された日<br>
                          （2）プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br><br>
                          <span class="<%= namespace %>-Table_Rule-bold">他社から乗り換え（MNP）の場合</span><br>
                          プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br><br>
                          <span class="<%= namespace %>-Table_Rule-bold">楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</span><br>
                          プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                      </ul>
                      <p class="u-Adjust_Mt-8">【4】「Rakuten Link」のご利用<br>「Rakuten UN-LIMIT VII」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
                      <p class="u-Adjust_Mt-16">【Rakuten Linkアプリご利用方法】<br>
                        Rakuten Linkページの「<a href="https://service.link.link/guide/" target="_blank" class="c-Link_Txt-inline">使い方<span class="c-Icon_New-window-l"></span></a>」をご確認ください</p>
                      <p class="u-Adjust_Mt-16">【Rakuten Link利用履歴の確認方法】<br>
                          「<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001962/#sec3" target="_blank" class="c-Link_Txt-inline">キャンペーンが適用されているか、いつポイントが進呈されるか知りたい<span class="c-Icon_New-window-l"></span></a>」をご確認ください</p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span>電話の発信時、（0570）（0180）などの他社接続サービス、♯ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt>キャンペーン特典</dt>
                    <dt class="<%= namespace %>-campaign-Rule_Title-sub">特典内容</dt>
                    <dd>
                      <p>1,000円分のEdyプレゼント</p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span>特典は受取期限までにお客様自身で受け取りを行っていただく必要がありますのでご注意ください。<br>
                          （プレゼントされたEdyの受け取り方法は<a href="https://edy.rakuten.co.jp/howto/gift/" target="_blank" class="c-Link_Txt-inline">こちら<span class="c-Icon_New-window-l"></span></a>）</li>
                        <li><span>※</span>特典のEdy進呈の際に別途ご連絡はいたしませんので、予めご了承ください。</li>
                        <li><span>※</span>特典のEdyの受け取りの権利を他の楽天Edyに移行することはできません。</li>
                        <li><span>※</span>楽天Edyを複数お持ちの場合は、キャンペーン開催までに登録されたEdy番号のうち、番号が大きいほうに進呈いたします。</li>
                      </ul>
                    </dd>
                    <dt class="<%= namespace %>-campaign-Rule_Title-sub">Edy進呈日</dt>
                    <dd>
                      <p>2022年10月末ごろに進呈</p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span>Edyの進呈は、楽天Edyより行います</li>
                        <li><span>※</span>権利の譲渡はできません</li>
                        <li><span>※</span>エントリーしていただいた個人情報は特典進呈のために利用します</li>
                      </ul>
                    </dd>
                    <dt class="<%= namespace %>-campaign-Rule_Title-sub">Edy受取期限</dt>
                    <dd>
                      <p>Edy進呈日を含めて30日間</p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span>特典の受け取り期間は進呈日より30日間です。受け取り期間内に特典の受け取りをされなかった場合、特典を受け取る権利を放棄したものとして取り扱わせていただきますので、あらかじめご了承ください</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt>特典適用対象外</dt>
                    <dd>
                      <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span>本ルールに記載の併用可能キャンペーンを除き、本キャンペーンより進呈ポイント数やクーポン割引額等が多い Rakuten UN-LIMIT VII お申し込みでポイントまたはクーポン等プレゼントキャンペーンが適用となった場合（複数の Rakuten UN-LIMIT VII お申し込みでポイントまたはクーポン等プレゼントキャンペーンの対象となった場合、進呈ポイント数やクーポン割引額等が一番多いキャンペーンのみが適用され、同額の場合はポイント・クーポン等問わずエントリー日時の早いキャンペーンが優先して適用されます。）</li>
                        <li><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                        <li><span>※</span>「エントリー後、本ページから楽天モバイル回線申し込みで、1,000円分のEdyプレゼントキャンペーン」の適用回数が、おひとり様1契約1回を超える場合は対象外となります</li>
                        <li><span>※</span>「Rakuten UN-LIMIT VII」のプラン利用開始がされなかった場合<br>-プラン利用開始の手続き方法につきましては、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/">こちら</a>のSIMカード版スタートガイドまたはeSIM版スタートガイドを参照ください</li>
                        <li><span>※</span>エントリー時の楽天ID、楽天モバイルにご登録の楽天ID、楽天Edyにご登録の楽天IDが同一でない場合</li>
                        <li><span>※</span>店舗（楽天モバイルショップ）でのお申し込みの場合</li>
                        <li><span>※</span>期限までに「Rakuten Link」を利用されなかった場合</li>
                        <li><span>※</span>特典進呈までに楽天会員から退会またはポイント設定を解除している場合</li>
                        <li><span>※</span>当社または楽天Edy株式会社が定める規約などに違反した場合</li>
                        <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt>併用可能キャンペーン</dt>
                    <dd>
                      <p>以下のキャンペーンは、併用可能となります</p>
                      <p>【Rakuten UN-LIMIT VII】データ1GB／月以下だった方限定！プラン料金最大4カ月実質無料キャンペーン（1527）</p>
                      <p>【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント（1526）</p>
                    </dd>
                  </div>
                  <div>
                    <dt>注意事項</dt>
                    <dd>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap">
                        <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                        <li><span>※</span>本キャンペーンの特典進呈対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                        <li><span>※</span>特典のEdyの受け取りの際、Edy残高と今回受け取るEdyの合計が5万円を超える場合は、「残高オーバー」と表示され、Edyを受け取ることができません。</li>
                        <li><span>※</span>受け取り後の残高が、5万円以下となる状態で再度Edyの受け取りを実行してください。</li>
                        <li><span>※</span>プレゼントされたEdyの受け取り方法は<a href="https://edy.rakuten.co.jp/howto/gift/" target="_blank" class="c-Link_Txt-inline">こちら<span class="c-Icon_New-window-l"></span></a></li>
                        <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                        <li><span>※</span>特典進呈のため、楽天モバイルの契約者データを楽天Edy株式会社に提供いたします。あらかじめご了承ください</li>
                        <li><span>※</span>記載の内容は2022年7月1日（金）時点の情報となります</li>
                      </ul>
                    </dd>
                  </div>
                </dl>
              </div>
            </div>

            <div class="c-Accordion u-Adjust_Mt-48" id="past-campaigns">
              <button id="accordion-7" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-7"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>過去のキャンペーン</button>
              <div id="accordion-content-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-7" aria-hidden="true">
                <div class="<%= namespace %>-Layout_Rule u-Adjust_Mt-0">
                  <h2>エントリー後、Rakuten UN-LIMIT VIはじめてお申し込みで、楽天Edyのお支払い金額の20％ポイントプレゼント</h2>
                  <div class="u-Adjust_Mt-24">
                    <dl class="c-Dl_Origin <%= namespace %>-campaign-Rule">
                      <div>
                        <dt>キャンペーンコード</dt>
                        <dd>
                          <p>1373</p>
                          <ul class="c-Txt_Cap u-Adjust_Mt-8">
                            <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                          </ul>
                        </dd>
                      </div>
                      <div>
                          <dt>キャンペーン期間</dt>
                          <dd>
                            <p class="c-Txt_Emp-01">エントリー期間</p>
                            <p>2022年2月1日（火）9:00～2022年3月1日（火）8:59</p>
                            <p class="c-Txt_Emp-01 u-Adjust_Mt-16">プランのお申し込み期間</p>
                            <p>2022年2月1日（火）9:00～2022年3月1日（火）8:59</p>
                            <p class="c-Txt_Emp-01 u-Adjust_Mt-16">プラン利用開始期限</p>
                            <p>2022年3月31日（木）23:59まで</p>
                            <p class="c-Txt_Emp-01 u-Adjust_Mt-16">「Rakuten Link」利用期限</p>
                            <p>2022年3月31日（木）23:59まで</p>
                            <p class="c-Txt_Emp-01 u-Adjust_Mt-16">楽天Edyでのお支払い期間</p>
                            <p>2022年2月1日（火）9:00～2022年3月31日（木）23:59</p>
                          </dd>
                      </div>
                      <div>
                        <dt>キャンペーン条件</dt>
                        <dd>
                          <p>上記各項目の期間内に【1】、【2】、【3】、【4】、【5】の条件をすべて満たした楽天会員の方</p>
                          <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                            <li><span>※</span>特典はおひとり様1度のみ。Rakuten UN-LIMIT VIはじめてお申し込みいただいた回線に適用となります。</li>
                          </ul>
                          <p class="u-Adjust_Mt-8">【1】キャンペーンへのエントリー<br>
                            エントリー期間内に本キャンペーンページでエントリー</p>
                          <p class="u-Adjust_Mt-8">【2】「Rakuten UN-LIMIT VI」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
                          <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（1）新規お申し込み</p>
                          <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（2）他社からの乗り換え（MNP）でお申し込み</p>
                          <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</p>
                          <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                            <li><span>※</span>エントリー前のお申し込みはポイント進呈の対象になりません。</li>
                          </ul>
                          <p class="u-Adjust_Mt-8">【3】「Rakuten UN-LIMIT VI」プラン利用開始</p>
                          <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                            <li>【プラン利用開始日とは】<br><br>
                              <span class="<%= namespace %>-Table_Rule-bold">新規お申し込みの場合　※（1）（2）のいずれか早い方がプラン利用開始日となります</span><br>
                              （1）当社に配送完了データが通知された日<br>
                              （2）プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br><br>
                              <span class="<%= namespace %>-Table_Rule-bold">他社から乗り換え（MNP）の場合</span><br>
                              プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br><br>
                              <span class="<%= namespace %>-Table_Rule-bold">楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</span><br>
                              プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                          </ul>
                          <p class="u-Adjust_Mt-8">【4】「Rakuten Link」のご利用<br>「Rakuten UN-LIMIT VI」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
                          <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                            <li><span class="c-Txt_Emp-02">※</span><span class="c-Txt_Emp-02">楽天モバイルで iPhone 13 Pro Max、iPhone 13 Pro 、iPhone 13、iPhone 13 miniいずれかををご購入された方で製品到着日(楽天モバイルに配送完了データが通知された日)がプラン利用開始期限以降の場合、製品到着日の翌月末日23:59までに[3][4]を対応でキャンペーン適用となります。</span></li>
                          </ul>
                          <p class="u-Adjust_Mt-16">【Rakuten Link アプリご利用方法】<br>下記URLの「Rakuten Linkのご利用方法」をご確認ください。<br><a target="_blank" href="<%= sitepath %>guide/rakuten-link/">https://network.mobile.rakuten.co.jp/guide/rakuten-link/</a><br>- 通話方法：『電話をかける』の項目をご確認ください。</p>
                          <p class="u-Adjust_Mt-16">【Rakuten Link利用履歴の確認方法】<br>下記URLの「キャンペーンが適用されているか、いつポイントが進呈されるか知りたい」をご確認ください。<br><a href="https://network.mobile.rakuten.co.jp/faq/detail/00001962/">https://network.mobile.rakuten.co.jp/faq/detail/00001962/</a><br>-「●適用条件を達成しているかの確認」の項目をご確認ください。</p>
                          <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                            <li><span>※</span>電話の発信時、（0570）（0180）などの他社接続サービス、♯ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります。</li>
                          </ul>
                          <p class="u-Adjust_Mt-8">【5】対象の楽天Edyでのお支払い</p>
                          <p class="u-Adjust_Mt-8">楽天Edyでのお支払い期間中のご利用合計金額に対して、20％分の楽天ポイント(期間限定ポイント)を進呈いたします。</p>
                          <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                            <li><span>※</span>期間内であれば、楽天モバイルのお申し込みおよび楽天Edyでのお支払いの順序は問いません。</li>
                          </ul>
                        </dd>
                      </div>
                      <div>
                        <dt>キャンペーン特典 （楽天ポイント）</dt>
                        <dt class="<%= namespace %>-campaign-Rule_Title-sub">特典内容</dt>
                        <dd>
                          <p>楽天Edyでのお支払い金額の20%分のポイントをプレゼント</p>
                          <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                            <li><span>※</span>おひとり様1,000ポイントを上限とさせていただきます。</li>
                            <li><span>※</span>進呈されるポイント数は小数点以下の切り捨てとなります。</li>
                          </ul>
                        </dd>
                        <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント進呈日</dt>
                        <dd>
                          <p>2022年5月末ごろに進呈</p>
                          <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                            <li><span>※</span>楽天ポイントの進呈は、楽天モバイルより行います</li>
                            <li><span>※</span>権利の譲渡はできません</li>
                            <li><span>※</span>エントリーしていただいた個人情報はポイント進呈のために利用します</li>
                          </ul>
                        </dd>
                        <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント有効期間</dt>
                        <dd>
                          <p>ポイント進呈日を含めて6カ月</p>
                          <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                            <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
                            <li><span>※</span>有効期限までにポイントをご利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。</li>
                          </ul>
                        </dd>
                        <dt class="<%= namespace %>-campaign-Rule_Title-sub">対象の楽天Edy</dt>
                        <dd>
                          <p>エントリーした楽天IDで楽天ポイントを貯める設定がされている楽天Edy</p>
                          <p>楽天ポイントを貯める設定はこちら</p>
                          <p><a href="https://edy.rakuten.co.jp/howto/osaifukeitai/point/?l-id=lid_campaign_linkage_edytype_osaifukeitai_pc/" target="_blank" class="c-Link_Txt-inline">おサイフケータイの方<span class="c-Icon_New-window-l"></span></a></p>
                          <p><a href="https://edy.rakuten.co.jp/card/edydeptop/rakuten/select?l-id=lid_campaign_linkage_edytype_edycard_pc/" target="_blank" class="c-Link_Txt-inline">カード、グッズの方<span class="c-Icon_New-window-l"></span></a></p>
                          <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                            <li><span>※</span>Edy機能付き楽天カードは既に設定されているため、登録の必要はありません。</li>
                          </ul>
                        </dd>
                      </div>
                      <div>
                        <dt>特典適用対象外</dt>
                        <dd>
                          <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
                          <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                            <li><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                            <li><span>※</span>「エントリー後、楽天モバイルお申し込みで、楽天Edyのお支払い金額20%ポイントプレゼントキャンペーン」の適用回数が、おひとり様1契約1回を超える場合は対象外となります</li>
                            <li><span>※</span>店舗（楽天モバイルショップ）でのお申し込みの場合</li>
                            <li><span>※</span>「Rakuten UN-LIMIT VI」お申し込み後に本キャンペーンにエントリーした場合</li>
                            <li><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
                            <li><span>※</span>「Rakuten UN-LIMIT VI」のプラン利用開始がされなかった場合<br>-プラン利用開始の手続き方法につきましては、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/">こちら</a>のSIMカード版スタートガイドまたはeSIM版スタートガイドを参照ください</li>
                            <li><span>※</span>期限までに「Rakuten Link」を利用されなかった場合</li>
                            <li><span>※</span>ポイント進呈までに楽天会員から退会している場合</li>
                            <li><span>※</span>当社または楽天グループ株式会社が定める規約などに違反した場合</li>
                            <li><span>※</span>Wi-Fiルーターをご利用の場合</li>
                            <li><span>※</span>キャンペーンにエントリーした楽天IDが、楽天モバイルにご登録の楽天IDと同一でない場合</li>
                            <li><span>※</span>特典進呈日までに楽天Edyのポイント設定を解除されている場合</li>
                            <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
                          </ul>
                        </dd>
                      </div>
                      <div>
                        <dt>注意事項</dt>
                        <dd>
                          <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap">
                            <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                            <li><span>※</span>本キャンペーンの特典進呈対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法上の範囲内に制限される場合があります</li>
                            <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                            <li><span>※</span>楽天Edyのお支払いにはEdyの受け取りは含みませんので、ご注意ください</li>
                            <li><span>※</span>本キャンペーン期間中に楽天Edyのお支払いが完了している必要がありますので、ご注意ください</li>
                            <li><span>※</span>エントリー、楽天ポイントを貯める設定、楽天Edyのお支払いの順序は問いません</li>
                            <li><span>※</span>記載の内容は2022年2月1日（火）時点の情報となります</li>
                          </ul>
                        </dd>
                      </div>
                    </dl>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
            <div class="<%= namespace %>-Layout_Rule" id="edy-rule">
              <h2>エントリー後、累計1,000円（税込）以上対象の楽天Edyでお支払いすると、抽選で100名様に2,000ポイントプレゼント</h2>
              <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
              <div class="u-Adjust_Mt-24">
                <dl class="c-Dl_Origin <%= namespace %>-campaign-Rule">
                  <div>
                    <dt>キャンペーンコード</dt>
                    <dd>
                      <p>1534</p>
                      <ul class="c-Txt_Cap u-Adjust_Mt-8">
                        <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                      <dt>キャンペーン期間</dt>
                      <dd>
                        <p class="c-Txt_Emp-01">エントリー期間</p>
                        <p>2022年7月1日（金）9:00～2022年7月29日（金）8:59</p>
                        <p class="c-Txt_Emp-01 u-Adjust_Mt-16">楽天Edy利用期間</p>
                        <p>2022年7月1日（金）9:00～2022年7月29日（金）8:59</p>
                      </dd>
                  </div>
                  <div>
                    <dt>キャンペーン条件</dt>
                    <dd>
                      <p>上記各項目の期間内に【1】、【2】の条件をすべて満たした楽天会員の方</p>
                      <p class="u-Adjust_Mt-8">【1】キャンペーンへのエントリー<br>
                        エントリー期間内に本キャンペーンページでエントリー</p>
                      <p class="u-Adjust_Mt-8">【2】対象の楽天Edyで期間中累計1,000円（税込）以上お支払い</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">エントリーした楽天IDで楽天ポイントを貯める設定がされている楽天Edyが対象です。</p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span>設定状況のご確認は<a href="https://edy.rakuten.co.jp/my/login/rspedy">こちら</a>からご確認ください。</li>
                        <li><span>※</span>ログイン後、お持ちのEdyカードが表示されていれば、ポイントの設定は完了しています。</li>
                        <li><span>※</span>楽天Edyの種類によって設定方法が異なりますので、楽天ポイントを貯める設定がされていない場合は以下より設定方法をご確認のうえ、設定をおこなってください。</li>
                      </ul>
                      <p><a href="https://edy.rakuten.co.jp/howto/osaifukeitai/point/?l-id=lid_campaign_linkage_edytype_osaifukeitai_pc/" target="_blank" class="c-Link_Txt-inline">おサイフケータイの方<span class="c-Icon_New-window-l"></span></a></p>
                      <p><a href="https://edy.rakuten.co.jp/card/edydeptop/rakuten/select?l-id=lid_campaign_linkage_edytype_edycard_pc/" target="_blank" class="c-Link_Txt-inline">カード、グッズの方<span class="c-Icon_New-window-l"></span></a></p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span>Edy機能付き楽天カードは既に設定されているため、登録の必要はありません。</li>
                        <li><span>※</span>エントリーした楽天IDに対して複数の楽天Edyに楽天ポイントを貯める設定がされている場合、そのすべての楽天Edyのお支払い額の累計が本キャンペーンの対象となります。</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt>キャンペーン特典 （楽天ポイント）</dt>
                    <dt class="<%= namespace %>-campaign-Rule_Title-sub">特典内容</dt>
                    <dd>
                      <p>エントリー後、累計1,000円（税込）以上対象の楽天Edyでお支払いすると、抽選で100名様に2,000ポイントプレゼント</p>
                    </dd>
                    <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント進呈日</dt>
                    <dd>
                      <p>2022年10月末ごろに進呈</p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span>楽天ポイントの進呈は、楽天Edyより行います</li>
                        <li><span>※</span>権利の譲渡はできません</li>
                      </ul>
                    </dd>
                    <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント有効期間</dt>
                    <dd>
                      <p>ポイント進呈日を含めて6カ月</p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
                        <li><span>※</span>有効期限までにポイントをご利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。</li>
                      </ul>
                    </dd>
                    <dt class="<%= namespace %>-campaign-Rule_Title-sub">対象の楽天Edy</dt>
                    <dd>
                      <p>エントリーした楽天IDで楽天ポイントを貯める設定がされている楽天Edy</p>
                      <p>楽天ポイントを貯める設定はこちら</p>
                      <p><a href="https://edy.rakuten.co.jp/howto/osaifukeitai/point/?l-id=lid_campaign_linkage_edytype_osaifukeitai_pc/" target="_blank" class="c-Link_Txt-inline">おサイフケータイの方<span class="c-Icon_New-window-l"></span></a></p>
                      <p><a href="https://edy.rakuten.co.jp/card/edydeptop/rakuten/select?l-id=lid_campaign_linkage_edytype_edycard_pc/" target="_blank" class="c-Link_Txt-inline">カード、グッズの方<span class="c-Icon_New-window-l"></span></a></p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span>Edy機能付き楽天カードは既に設定されているため、登録の必要はありません。</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt>特典適用対象外</dt>
                    <dd>
                      <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span>ポイント進呈までに楽天会員から退会している場合</li>
                        <li><span>※</span>当社または楽天グループ株式会社が定める規約などに違反した場合</li>
                        <li><span>※</span>特典進呈日までに楽天Edyのポイント設定を解除されている場合</li>
                        <li><span>※</span>楽天Edyのご利用のキャンセル等により、当社でお支払いの確認ができない場合</li>
                        <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt>注意事項</dt>
                    <dd>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap">
                        <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                        <li><span>※</span>本キャンペーン参加にかかる費用 (通信費等含む) は、お客様のご負担となりますので、あらかじめご了承ください</li>
                        <li><span>※</span>メンテナンス等でキャンペーンにご参加いただけない場合があります</li>
                        <li><span>※</span>本キャンペーンの特典進呈対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法上の範囲内に制限される場合があります</li>
                        <li><span>※</span>楽天Edyのお支払いにはEdyの受け取りは含みませんので、ご注意ください</li>
                        <li><span>※</span>本キャンペーン期間中に楽天Edyのお支払いが完了している必要がありますので、ご注意ください</li>
                        <li><span>※</span>エントリー、楽天ポイントを貯める設定、楽天Edyのお支払いの順序は問いません</li>
                        <li><span>※</span>記載の内容は2022年7月1日（金）時点の情報となります</li>
                      </ul>
                    </dd>
                  </div>
                </dl>
              </div>
            </div>

            <div class="c-Accordion u-Adjust_Mt-48" id="past-campaigns2">
              <button id="accordion-8" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-8"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>過去のキャンペーン</button>
              <div id="accordion-content-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-8" aria-hidden="true">
                <div class="<%= namespace %>-Layout_Rule u-Adjust_Mt-0">
                  <h2>エントリー後、累計10,000円（税込）以上対象の楽天Edyでお支払いすると、抽選で100名様に2,000ポイントプレゼント</h2>
                  <div class="u-Adjust_Mt-24">
                    <dl class="c-Dl_Origin <%= namespace %>-campaign-Rule">
                      <div>
                        <dt>キャンペーンコード</dt>
                        <dd>
                          <p>1373</p>
                          <ul class="c-Txt_Cap u-Adjust_Mt-8">
                            <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                          </ul>
                        </dd>
                      </div>
                      <div>
                          <dt>キャンペーン期間</dt>
                          <dd>
                            <p class="c-Txt_Emp-01">エントリー期間</p>
                            <p>2022年2月1日（火）9:00～2022年3月1日（火）8:59</p>
                            <p class="c-Txt_Emp-01 u-Adjust_Mt-16">楽天Edy利用期間</p>
                            <p>2022年2月1日（火）9:00～2022年3月1日（火）8:59</p>
                          </dd>
                      </div>
                      <div>
                        <dt>キャンペーン条件</dt>
                        <dd>
                          <p>上記各項目の期間内に【1】、【2】の条件をすべて満たした楽天会員の方</p>
                          <p class="u-Adjust_Mt-8">【1】キャンペーンへのエントリー<br>
                            エントリー期間内に本キャンペーンページでエントリー</p>
                          <p class="u-Adjust_Mt-8">【２】対象の楽天Edyで期間中累計10,000円（税込）以上お支払い</p>
                          <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">エントリーした楽天IDで楽天ポイントを貯める設定がされている楽天Edyが対象です。</p>
                          <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                            <li><span>※</span>設定状況のご確認は<a href="https://edy.rakuten.co.jp/my/login/rspedy">こちら</a>からご確認ください。</li>
                            <li><span>※</span>ログイン後、お持ちのEdyカードが表示されていれば、ポイントの設定は完了しています。</li>
                            <li><span>※</span>楽天Edyの種類によって設定方法が異なりますので、楽天ポイントを貯める設定がされていない場合は以下より設定方法をご確認のうえ、設定をおこなってください。</li>
                          </ul>
                          <p><a href="https://edy.rakuten.co.jp/howto/osaifukeitai/point/?l-id=lid_campaign_linkage_edytype_osaifukeitai_pc/" target="_blank" class="c-Link_Txt-inline">おサイフケータイの方<span class="c-Icon_New-window-l"></span></a></p>
                          <p><a href="https://edy.rakuten.co.jp/card/edydeptop/rakuten/select?l-id=lid_campaign_linkage_edytype_edycard_pc/" target="_blank" class="c-Link_Txt-inline">カード、グッズの方<span class="c-Icon_New-window-l"></span></a></p>
                          <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                            <li><span>※</span>Edy機能付き楽天カードは既に設定されているため、登録の必要はありません。</li>
                            <li><span>※</span>エントリーした楽天IDに対して複数の楽天Edyに楽天ポイントを貯める設定がされている場合、そのすべての楽天Edyのお支払い額の累計が本キャンペーンの対象となります。</li>
                          </ul>
                        </dd>
                      </div>
                      <div>
                        <dt>キャンペーン特典 （楽天ポイント）</dt>
                        <dt class="<%= namespace %>-campaign-Rule_Title-sub">特典内容</dt>
                        <dd>
                          <p>エントリー後、累計10,000円（税込）以上対象の楽天Edyでお支払いすると、抽選で100名様に2,000ポイントプレゼント</p>
                        </dd>
                        <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント付与日</dt>
                        <dd>
                          <p>2022年5月末ごろに付与</p>
                          <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                            <li><span>※</span>楽天ポイントの付与は、楽天Edyより行います</li>
                            <li><span>※</span>権利の譲渡はできません</li>
                          </ul>
                        </dd>
                        <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント有効期間</dt>
                        <dd>
                          <p>ポイント付与日を含めて6カ月</p>
                          <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                            <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
                            <li><span>※</span>有効期限までにポイントをご利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。</li>
                          </ul>
                        </dd>
                        <dt class="<%= namespace %>-campaign-Rule_Title-sub">対象の楽天Edy</dt>
                        <dd>
                          <p>エントリーした楽天IDで楽天ポイントを貯める設定がされている楽天Edy</p>
                          <p>楽天ポイントを貯める設定はこちら</p>
                          <p><a href="https://edy.rakuten.co.jp/howto/osaifukeitai/point/?l-id=lid_campaign_linkage_edytype_osaifukeitai_pc/" target="_blank" class="c-Link_Txt-inline">おサイフケータイの方<span class="c-Icon_New-window-l"></span></a></p>
                          <p><a href="https://edy.rakuten.co.jp/card/edydeptop/rakuten/select?l-id=lid_campaign_linkage_edytype_edycard_pc/" target="_blank" class="c-Link_Txt-inline">カード、グッズの方<span class="c-Icon_New-window-l"></span></a></p>
                          <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                            <li><span>※</span>Edy機能付き楽天カードは既に設定されているため、登録の必要はありません。</li>
                          </ul>
                        </dd>
                      </div>
                      <div>
                        <dt>特典適用対象外</dt>
                        <dd>
                          <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
                          <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                            <li><span>※</span>ポイント付与までに楽天会員から退会している場合</li>
                            <li><span>※</span>楽天Edyまたは楽天グループ株式会社が定める規約などに違反した場合</li>
                            <li><span>※</span>特典付与日までに楽天Edyのポイント設定を解除されている場合</li>
                            <li><span>※</span>楽天Edyのご利用のキャンセル等により、当社でお支払いの確認ができない場合</li>
                            <li><span>※</span>そのほか、楽天Edyが会員として不適格であると判断した場合</li>
                          </ul>
                        </dd>
                      </div>
                      <div>
                        <dt>注意事項</dt>
                        <dd>
                          <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap">
                            <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                            <li><span>※</span>本キャンペーン参加にかかる費用 (通信費等含む) は、お客様のご負担となりますので、あらかじめご了承ください</li>
                            <li><span>※</span>メンテナンス等でキャンペーンにご参加いただけない場合があります</li>
                            <li><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法上の範囲内に制限される場合があります</li>
                            <li><span>※</span>楽天Edyのお支払いにはEdyの受け取りは含みませんので、ご注意ください</li>
                            <li><span>※</span>本キャンペーン期間中に楽天Edyのお支払いが完了している必要がありますので、ご注意ください</li>
                            <li><span>※</span>エントリー、楽天ポイントを貯める設定、楽天Edyのお支払いの順序は問いません</li>
                            <li><span>※</span>記載の内容は2022年2月1日（火）時点の情報となります</li>
                          </ul>
                        </dd>
                      </div>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- ReX UX Survey: Mounting point for embedded components -->
    <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>

  <div id="js-fixed-btn" class="<%= namespace %>-Layout_Bottom-fixed" aria-expanded="false" role="region">
    <div class="<%= namespace %>-Layout_Bottom-fixed-inner">
      <a href="<%= sitepath %>guide/application/?lid-r=campaign_<%= namespace %>_f_guide_application" class="c-Btn_Primary <%= namespace %>-Layout_Bottom-fixed-btn"><span class="<%= namespace %>-Layout_Bottom-fixed-btn-txt"><span class="Bottom_txt-style">新規／乗り換え（MNP）</span><span class="fixed-btn-Utility_Img-pc">お申し込み</span></span>
    </a>
      <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_<%= namespace %>_f_ms&mno_migration=1" class="c-Btn_Secondly <%= namespace %>-Layout_Bottom-fixed-btn" data-ratid="campaign_<%= namespace %>_ms1" data-ratevent="click" data-ratparam="all">
        <span class="<%= namespace %>-Layout_Bottom-fixed-btn-txt">
          <span class="Bottom_txt-style">
            <span class="fixed-btn-Utility_Img-pc">スーパーホーダイ、組み合わせプランからの</span>
            <span class="fixed-btn-Utility_Img-sp"><span class="Bottom_txt-style">以前の楽天モバイルからの</span></span>
          </span><br>
            <span class="Bottom_plan_txt-style">プラン変更（移行）<span class="fixed-btn-Utility_Img-pc">お申し込み</span></span></span>
    </a>
    </div>
    <p class="<%= namespace %>-Layout_Bottom-fixed-txt u-Adjust_Mt-8">※お申し込み後のエントリーは特典進呈対象外となります。</p>
  </div>

    <footer class="g-Footer u-Adjust_Mt-64 <%= namespace %>-Layout_Footer Fin">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true">楽天モバイル回線申し込みで、1,000円分のEdyプレゼントキャンペーン</li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
  <script>
    (function($){
        $(function(){
            $('.accordion1_opan').on('click', function(){
              $('#accordion-1').attr('aria-expanded', 'true');
              $('#accordion-content-1').attr('aria-hidden', 'false');
              $('#accordion-content-1').slideDown(200);
              $('#edystep_1').addClass('brd_none');
            });
        });
    })(jQuery);
  </script>

  <script>
    function entbtn() {
        document.getElementById("entrybtn").click();
    };
  </script>

  <!-- ReX UX Survey: Config -->
  <script>
window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
  </script>
<!-- ReX UX Survey: Script -->
<script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>

<!-- ReX Campaign Entry Button: Configuration -->
<script>var rexButtons = [{"code":"/rmobile/edy/220615","theme":"red","wide":false,"showCelebration":false,"below":{"checkboxText":"メルマガやアンケートなどをSMSやメールで受け取る","html":"※楽天モバイルよりSMSや<a href=\"https://my.rakuten.co.jp/\">楽天会員情報</a><span class=\"c-Txt_Emp-01\">ご登録のメールアドレス</span>にお送りする<span class=\"c-Txt_Emp-01\">楽天モバイルニュース</span>などおトクな情報等を<span class=\"c-Txt_Emp-01\">受け取らない方はチェックを外してください。</span>","isCheckboxMandatory":false,"isChecked":true},"ids":["rex-ceb-01","rex-ceb-02","rex-ceb-03"]}]
</script>

<script>
  function modalIn() {
    $('#overlay').fadeIn(300);
    $('#modal_Contents').fadeIn(300);
  }

  function modalOut() {
    $('#overlay').fadeOut(300);
    $('#modal_Contents').fadeOut(300);
  }
  $('#entrybtn').on('click', function() {
    setTimeout(modalIn, 1000);
  });
  $('#edy_btn').on('click', modalOut);
</script>

<!-- ReX Campaign Entry Button: Script -->
<script src="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/4.0.0/static/js/main.js" defer></script>
</body>
</html>
