<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "事業者変更承諾番号 申請" -%>
<% const namespace = "hikari-number-request" %>
<% const directories = [] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    <!-- directories: directories, -->
    description: '',
    noindex: true,
    pathname: filepath,
    ishikari: true
  });
%>
<%- include('/include/hikari/_common-v2-hikari-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/form/number-request/number-request.css?20240424">
<%- include('/include/_append-head-hikari') %>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>

<div class="l-System">

  <%- include('/hikari/include/_header', { headerType: 'logo', pagetitle: pagetitle, directories: directories, tax: false }) %>

  <div class="l-hikari-Section_Main">
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
      <div class="l-hikari-Section_Main-lead">
        <p>事業者変更承諾番号は、契約者ご本人様からのみ申請していただけます。<br>申請後、3日程度で「事業者変更承諾番号」を記載したメールをお送りします。</p>
        <p class="c-Txt_Cap u-Adjust_Mt-16">※本人確認のため、契約時にご登録いただいた「契約者名」「契約者電話番号」「契約者住所」をご入力ください。なお、「契約者住所」に建物名がある場合、建物名まで正確にご入力をお願いします。任意項目もご入力いただくことで契約確認が行いやすくなり、スムーズにお手続きが進む可能性がございます。お分かりになる範囲でご入力をお願いします。</p>
        <p class="c-Txt_Cap c-Txt_Emp u-Adjust_Mt-16">※契約解除料（解約金）については、下記注意事項「10」をご確認の上、ご申請ください。<br>無料解約申請期間がお分かりにならない場合、メンバーズステーションから、ご確認をお願いいたします。</p>
        <ul>
          <li class="c-Txt_Cap c-Txt_Emp u-Adjust_Mt-16">・「無料解約申請期間の確認方法」については<a href="https://hikari.faq.rakuten.net/faq/show/1212" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">こちら<span class="c-Icon_New-window-l"></span></a></li>
          <li class="c-Txt_Cap c-Txt_Emp u-Adjust_Mt-8">・メンバーズステーションへのログインは<a href="https://ms.fusioncom.co.jp/rbb/members/?language=" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">こちら<span class="c-Icon_New-window-l"></span></a></li>
        </ul>
      </div>

      <div class="l-hikari-Section_Sub-short">
        <form id="js-hikari-number-request_Form" class="<%= namespace %>_Form" action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST">

          <input type=hidden name="orgid" value="00D2v000001WJL6">
          <input type=hidden name="recordType" value="0122v000001QuQb">
          <input type=hidden name="retURL" value="https://network.mobile.rakuten.co.jp/hikari/form/number-request/completion/">

          <!--  ----------------------------------------------------------------------  -->
          <!--  注意: これらの項目は、省略可能なデバッグ用要素です。デバッグモードでテストを行う場合は、これらの行をコメント解除してください。        -->
           <!-- <input type="hidden" name="debug" value=1>
           <input type="hidden" name="debugEmail"
           value="ts-sumio.b.arakawa@rakuten.com">                                 -->
          <!--  ----------------------------------------------------------------------  -->

          <dl class="c-Form_List">
            <div>
              <dt class="<%= namespace %>-Form_Dt">
                <p>契約者名（姓名）<span class="c-Form_List-required">必須</span></p>
              </dt>
              <dd class="<%= namespace %>-Form_Dd <%= namespace %>-Layout_Flex-pc">
                <div class="<%= namespace %>-Layout_Flex-item">
                  <span class="c-Txt_Emp">氏名（姓）</span><br><input class="c-Form_Input u-Adjust_Mt-8 js-required" id="00N2v00000JLlAA" maxlength="80" name="00N2v00000JLlAA" size="20" type="text" placeholder="例：楽天" />
                </div>
                <div class="<%= namespace %>-Layout_Flex-item">
                  <span class="c-Txt_Emp">氏名（名）</span><br><input class="c-Form_Input u-Adjust_Mt-8 js-required" id="00N2v00000JLlA6" maxlength="80" name="00N2v00000JLlA6" size="20" type="text" placeholder="例：太郎" />
                </div>
              </dd>
            </div>

            <div>
              <dt class="<%= namespace %>-Form_Dt">
                <p>ご本人様確認<span class="c-Form_List-required">必須</span></p>
              </dt>
              <dd class="<%= namespace %>-Form_Dd">
                <label class="c-Form_Checkbox u-Adjust_Mr-24 js-required">
                  <input id="00N2j000000P9DE" class="identification-check" name="00N2j000000P9DE" type="checkbox" value="1" />
                  <span class="c-Icon_Check"></span>
                  <span class="c-Form_Checkbox-label">契約者本人です</span>
                </label>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※事業者変更承諾番号の発行申し出は契約者ご本人様からのみお受けいたします。</p>
              </dd>
            </div>

            <div>
              <dt class="<%= namespace %>-Form_Dt">
                <p>契約者電話番号<span class="c-Form_List-required">必須</span></p>
              </dt>
              <dd class="<%= namespace %>-Form_Dd">
                  <input class="c-Form_Input js-required" id="phone" maxlength="13" name="phone" size="20" type="text" placeholder="例：0312345678" />
              </dd>
            </div>

            <div>
              <dt class="<%= namespace %>-Form_Dt">
                <p>契約者住所<span class="c-Form_List-required">必須</span></p>
              </dt>
              <dd class="<%= namespace %>-Form_Dd">
                <p><span class="c-Txt_Emp">郵便番号</span><span class="c-Form_List-required">必須</span></p>
                <input class="c-Form_Input u-Adjust_Mt-8 <%= namespace %>-Form_Input-zip js-hikari-inquiry_Zip2addr js-required" id="00N2v00000JLlAI" maxlength="7" name="00N2v00000JLlAI" size="20" type="text" placeholder="例：1580094" />

                <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp">都道府県</span><span class="c-Form_List-required">必須</span></p>
                <div class="c-Form_Select u-Adjust_Mt-8">
                  <select class="<%= namespace %>-Form_Select js-required" id="00N2v00000JLlAb" name="00N2v00000JLlAb" title="都道府県">
                    <option value="">都道府県</option>
                    <option value="北海道">北海道</option>
                    <option value="青森県">青森県</option>
                    <option value="岩手県">岩手県</option>
                    <option value="宮城県">宮城県</option>
                    <option value="秋田県">秋田県</option>
                    <option value="山形県">山形県</option>
                    <option value="福島県">福島県</option>
                    <option value="茨城県">茨城県</option>
                    <option value="栃木県">栃木県</option>
                    <option value="群馬県">群馬県</option>
                    <option value="埼玉県">埼玉県</option>
                    <option value="千葉県">千葉県</option>
                    <option value="東京都">東京都</option>
                    <option value="神奈川県">神奈川県</option>
                    <option value="新潟県">新潟県</option>
                    <option value="富山県">富山県</option>
                    <option value="石川県">石川県</option>
                    <option value="福井県">福井県</option>
                    <option value="山梨県">山梨県</option>
                    <option value="長野県">長野県</option>
                    <option value="岐阜県">岐阜県</option>
                    <option value="静岡県">静岡県</option>
                    <option value="愛知県">愛知県</option>
                    <option value="三重県">三重県</option>
                    <option value="滋賀県">滋賀県</option>
                    <option value="京都府">京都府</option>
                    <option value="大阪府">大阪府</option>
                    <option value="兵庫県">兵庫県</option>
                    <option value="奈良県">奈良県</option>
                    <option value="和歌山県">和歌山県</option>
                    <option value="鳥取県">鳥取県</option>
                    <option value="島根県">島根県</option>
                    <option value="岡山県">岡山県</option>
                    <option value="広島県">広島県</option>
                    <option value="山口県">山口県</option>
                    <option value="徳島県">徳島県</option>
                    <option value="香川県">香川県</option>
                    <option value="愛媛県">愛媛県</option>
                    <option value="高知県">高知県</option>
                    <option value="福岡県">福岡県</option>
                    <option value="佐賀県">佐賀県</option>
                    <option value="長崎県">長崎県</option>
                    <option value="熊本県">熊本県</option>
                    <option value="大分県">大分県</option>
                    <option value="宮崎県">宮崎県</option>
                    <option value="鹿児島県">鹿児島県</option>
                    <option value="沖縄県">沖縄県</option>
                    <option value="海外">海外</option>
                  </select>
                  <span class="<%= namespace %>-Form_Icon-select c-Form_Select-icon c-Icon_Chevron-down"></span>
                </div>

                <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp">市区町村以下</span><span class="c-Form_List-required">必須</span></p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※集合住宅の場合は建物名、部屋番号まで記入してください</p>
                <input class="c-Form_Input u-Adjust_Mt-8 js-required" id="00N2v00000JLl9z" maxlength="255" name="00N2v00000JLl9z" size="20" type="text" placeholder="例：世田谷区玉川１−２−３ＲＡＫＵＴＥＮ光アパート２０２号室" />
              </dd>
            </div>

            <div>
              <dt class="<%= namespace %>-Form_Dt">
                <p>お客様番号<span class="c-Form_List-option">任意</span></p>
              </dt>
              <dd class="<%= namespace %>-Form_Dd">
                <input class="c-Form_Input" id="00N2v00000JLlA2" maxlength="11" name="00N2v00000JLlA2" size="20" type="text" placeholder="例：20000000000もしくはC-10000000" /><br>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※お客様番号は200から始まる11桁の番号です。<br>※複数のご契約がある場合には申請したいアカウントのお客様番号を記載してください。</p>
              </dd>
            </div>

            <div>
              <dt class="<%= namespace %>-Form_Dt">
                <p>ユーザーID<span class="c-Form_List-option">任意</span></p>
              </dt>
              <dd class="<%= namespace %>-Form_Dd">
                <input class="c-Form_Input" id="00N2v00000JLlAd" maxlength="13" name="00N2v00000JLlAd" size="20" type="text" placeholder="例：ra00000000000" /><br>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※ユーザーIDはraから始まる13桁の番号です。<br>※複数のご契約がある場合には申請したいアカウントのユーザーIDを記載してください。</p>
              </dd>
            </div>

            <div>
              <dt class="<%= namespace %>-Form_Dt">
                <p>契約メールアドレス<span class="c-Form_List-option">任意</span></p>
              </dt>
              <dd class="<%= namespace %>-Form_Dd">
                <input class="c-Form_Input" id="email" maxlength="80" name="email" size="20" type="text" placeholder="例：taro@rakuten.com" />
              </dd>
            </div>

            <div>
              <dt class="<%= namespace %>-Form_Dt">
                <p>お客様回線ID<span class="c-Form_List-option">任意</span></p>
              </dt>
              <dd class="<%= namespace %>-Form_Dd">
                <input class="c-Form_Input" id="00N2j000000P9DJ" maxlength="13" name="00N2j000000P9DJ" size="20" type="text" placeholder="例：CAF5000000000" />
                <p class="c-Txt_Cap u-Adjust_Mt-8">※お客様回線IDはCAFから始まる10桁の番号です。<br>※複数のご契約がある場合には申請したいアカウントのお客様回線IDを記載してください。</p>
              </dd>
            </div>

            <div>
              <dt class="<%= namespace %>-Form_Dt">
                <p>移行先事業者名<span class="c-Form_List-required">必須</span></p>
              </dt>
              <dd class="<%= namespace %>-Form_Dd">
                <div class="c-Form_Select">
                  <select id="00N2j000000P9DO" class="<%= namespace %>-Form_Select js-required" name="00N2j000000P9DO" title="移行先事業者名">
                    <option value="">選択してください</option>
                    <option value="フレッツ光">フレッツ光</option>
                    <option value="ドコモ光">ドコモ光</option>
                    <option value="SoftBank光">SoftBank光</option>
                    <option value="ビッグローブ光">ビッグローブ光</option>
                    <option value="ぷらら光">ぷらら光</option>
                    <option value="So-net光">So-net光</option>
                    <option value="nifty光">nifty光</option>
                    <option value="該当なし">該当なし</option>
                    <option value="回答拒否">回答拒否</option>
                  </select>
                  <span class="<%= namespace %>-Form_Icon-select c-Form_Select-icon c-Icon_Chevron-down"></span>
                </div>

                <div class="<%= namespace %>-Form_Select-hide <%= namespace %>-Form_Select-hide00">
                  <p class="u-Adjust_Mt-16">該当無しの場合、移行先の事業者名を記入してください<span class="c-Form_List-option">任意</span></p>
                  <input class="c-Form_Input u-Adjust_Mt-8 <%= namespace %>-Form_other-reason-txt1" id="00N2j000000P9DT" maxlength="255" name="00N2j000000P9DT" size="20" type="text" />
                </div>
              </dd>
            </div>

            <div>
              <dt class="<%= namespace %>-Form_Dt">
                <p>移行理由１<span class="c-Form_List-required">必須</span></p>
              </dt>
              <dd class="<%= namespace %>-Form_Dd">
                <div class="c-Form_Select">
                  <select class="<%= namespace %>-Form_Select js-required" id="00N2j000000P9DY" name="00N2j000000P9DY" title="移行理由１">
                    <option value="">選択してください</option>
                    <option value="【Turbo利用】Rakuten Turboを利用するため">【Turbo利用】Rakuten Turboを利用するため</option>
                    <option value="【サービス内容】魅力的なオプションサービスがないため">【サービス内容】魅力的なオプションサービスがないため</option>
                    <option value="【サービス品質】楽天ひかりの通信速度が遅いため">【サービス品質】楽天ひかりの通信速度が遅いため</option>
                    <option value="【サービス品質】楽天ひかりはつながらないことが多いため">【サービス品質】楽天ひかりはつながらないことが多いため</option>
                    <option value="【サポート対応】オペレーターの対応に不満を感じたため">【サポート対応】オペレーターの対応に不満を感じたため</option>
                    <option value="【サポート対応】コールセンターに繋がりづらいため">【サポート対応】コールセンターに繋がりづらいため</option>
                    <option value="【他社キャンペーン】他キャリアが携帯とのセット割引を実施しているため">【他社キャンペーン】他キャリアが携帯とのセット割引を実施しているため</option>
                    <option value="【他社キャンペーン】他キャリアが魅力的なキャンペーンを実施しているため">【他社キャンペーン】他キャリアが魅力的なキャンペーンを実施しているため</option>
                    <option value="【固定回線不要】スマホ・テザリングで十分であるため">【固定回線不要】スマホ・テザリングで十分であるため</option>
                    <option value="【固定回線不要】ポケットWi-Fiを利用したいため">【固定回線不要】ポケットWi-Fiを利用したいため</option>
                    <option value="【引っ越し】引っ越し先にインターネット環境があるため">【引っ越し】引っ越し先にインターネット環境があるため</option>
                    <option value="【引っ越し】移転工事費が発生するため">【引っ越し】移転工事費が発生するため</option>
                    <option value="【引っ越し】その他">【引っ越し】その他</option>
                    <option value="【料金プラン】月額支払い料金が高いため">【料金プラン】月額支払い料金が高いため</option>
                    <option value="【料金プラン】楽天ひかりの特典が終了するため">【料金プラン】楽天ひかりの特典が終了するため</option>
                    <option value="【楽天モバイル解約】楽天モバイルを解約もしくは他社移転するに伴い、併せて楽天ひかりも解約したいため">【楽天モバイル解約】楽天モバイルを解約もしくは他社移転するに伴い、併せて楽天ひかりも解約したいため</option>
                    <option value="その他">その他</option>
                    <option value="回答拒否">回答拒否</option>
                  </select>
                  <span class="<%= namespace %>-Form_Icon-select c-Form_Select-icon c-Icon_Chevron-down"></span>
                </div>

                <div class="<%= namespace %>-Form_Select-hide <%= namespace %>-Form_Select-hide01">
                  <p class="u-Adjust_Mt-16">その他の場合、理由を記入してください</p>
                  <input class="c-Form_Input u-Adjust_Mt-8 <%= namespace %>-Form_other-reason-txt1" id="00N2j000000P9Dn" maxlength="255" name="00N2j000000P9Dn" size="20" type="text" />
                </div>
              </dd>
            </div>

            <div class="<%= namespace %>-Form_Select-row-hide <%= namespace %>-Form_Select-row-hide02" data-disp="hide">
              <dt class="<%= namespace %>-Form_Dt">
                <p>移行理由２<span class="c-Form_List-option">任意</span></p>
              </dt>
              <dd class="<%= namespace %>-Form_Dd">
                <p class="c-Txt_Cap">複数ある場合は追加で入力してください</p>
                <div class="c-Form_Select u-Adjust_Mt-8">
                  <select id="00N2j000000P9Dd" class="<%= namespace %>-Form_Select" name="00N2j000000P9Dd" title="移行理由２">
                    <option value="">選択してください</option>
                    <option value="【Turbo利用】Rakuten Turboを利用するため">【Turbo利用】Rakuten Turboを利用するため</option>
                    <option value="【サービス内容】魅力的なオプションサービスがないため">【サービス内容】魅力的なオプションサービスがないため</option>
                    <option value="【サービス品質】楽天ひかりの通信速度が遅いため">【サービス品質】楽天ひかりの通信速度が遅いため</option>
                    <option value="【サービス品質】楽天ひかりはつながらないことが多いため">【サービス品質】楽天ひかりはつながらないことが多いため</option>
                    <option value="【サポート対応】オペレーターの対応に不満を感じたため">【サポート対応】オペレーターの対応に不満を感じたため</option>
                    <option value="【サポート対応】コールセンターに繋がりづらいため">【サポート対応】コールセンターに繋がりづらいため</option>
                    <option value="【他社キャンペーン】他キャリアが携帯とのセット割引を実施しているため">【他社キャンペーン】他キャリアが携帯とのセット割引を実施しているため</option>
                    <option value="【他社キャンペーン】他キャリアが魅力的なキャンペーンを実施しているため">【他社キャンペーン】他キャリアが魅力的なキャンペーンを実施しているため</option>
                    <option value="【固定回線不要】スマホ・テザリングで十分であるため">【固定回線不要】スマホ・テザリングで十分であるため</option>
                    <option value="【固定回線不要】ポケットWi-Fiを利用したいため">【固定回線不要】ポケットWi-Fiを利用したいため</option>
                    <option value="【引っ越し】引っ越し先にインターネット環境があるため">【引っ越し】引っ越し先にインターネット環境があるため</option>
                    <option value="【引っ越し】移転工事費が発生するため">【引っ越し】移転工事費が発生するため</option>
                    <option value="【引っ越し】その他">【引っ越し】その他</option>
                    <option value="【料金プラン】月額支払い料金が高いため">【料金プラン】月額支払い料金が高いため</option>
                    <option value="【料金プラン】楽天ひかりの特典が終了するため">【料金プラン】楽天ひかりの特典が終了するため</option>
                    <option value="【楽天モバイル解約】楽天モバイルを解約もしくは他社移転するに伴い、併せて楽天ひかりも解約したいため">【楽天モバイル解約】楽天モバイルを解約もしくは他社移転するに伴い、併せて楽天ひかりも解約したいため</option>
                    <option value="その他">その他</option>
                    <option value="回答拒否">回答拒否</option>
                  </select>
                  <span class="<%= namespace %>-Form_Icon-select c-Form_Select-icon c-Icon_Chevron-down"></span>
                </div>

                <div class="<%= namespace %>-Form_Select-hide <%= namespace %>-Form_Select-hide02">
                  <p class="u-Adjust_Mt-16">その他の場合、理由を記入してください</p>
                  <input class="c-Form_Input u-Adjust_Mt-8" id="00N2j000000P9Ds" maxlength="255" name="00N2j000000P9Ds" size="20" type="text" />
                </div>
              </dd>
            </div>

            <div class="<%= namespace %>-Form_Select-row-hide <%= namespace %>-Form_Select-row-hide03" data-disp="hide">
              <dt class="<%= namespace %>-Form_Dt">
                <p>移行理由３<span class="c-Form_List-option">任意</span></p>
              </dt>
              <dd class="<%= namespace %>-Form_Dd">
                <p class="c-Txt_Cap">複数ある場合は追加で入力してください</p>
                <div class="c-Form_Select u-Adjust_Mt-8">
                  <select id="00N2j000000P9Di" class="<%= namespace %>-Form_Select" name="00N2j000000P9Di" title="移行理由３">
                    <option value="">選択してください</option>
                    <option value="【Turbo利用】Rakuten Turboを利用するため">【Turbo利用】Rakuten Turboを利用するため</option>
                    <option value="【サービス内容】魅力的なオプションサービスがないため">【サービス内容】魅力的なオプションサービスがないため</option>
                    <option value="【サービス品質】楽天ひかりの通信速度が遅いため">【サービス品質】楽天ひかりの通信速度が遅いため</option>
                    <option value="【サービス品質】楽天ひかりはつながらないことが多いため">【サービス品質】楽天ひかりはつながらないことが多いため</option>
                    <option value="【サポート対応】オペレーターの対応に不満を感じたため">【サポート対応】オペレーターの対応に不満を感じたため</option>
                    <option value="【サポート対応】コールセンターに繋がりづらいため">【サポート対応】コールセンターに繋がりづらいため</option>
                    <option value="【他社キャンペーン】他キャリアが携帯とのセット割引を実施しているため">【他社キャンペーン】他キャリアが携帯とのセット割引を実施しているため</option>
                    <option value="【他社キャンペーン】他キャリアが魅力的なキャンペーンを実施しているため">【他社キャンペーン】他キャリアが魅力的なキャンペーンを実施しているため</option>
                    <option value="【固定回線不要】スマホ・テザリングで十分であるため">【固定回線不要】スマホ・テザリングで十分であるため</option>
                    <option value="【固定回線不要】ポケットWi-Fiを利用したいため">【固定回線不要】ポケットWi-Fiを利用したいため</option>
                    <option value="【引っ越し】引っ越し先にインターネット環境があるため">【引っ越し】引っ越し先にインターネット環境があるため</option>
                    <option value="【引っ越し】移転工事費が発生するため">【引っ越し】移転工事費が発生するため</option>
                    <option value="【引っ越し】その他">【引っ越し】その他</option>
                    <option value="【料金プラン】月額支払い料金が高いため">【料金プラン】月額支払い料金が高いため</option>
                    <option value="【料金プラン】楽天ひかりの特典が終了するため">【料金プラン】楽天ひかりの特典が終了するため</option>
                    <option value="【楽天モバイル解約】楽天モバイルを解約もしくは他社移転するに伴い、併せて楽天ひかりも解約したいため">【楽天モバイル解約】楽天モバイルを解約もしくは他社移転するに伴い、併せて楽天ひかりも解約したいため</option>
                    <option value="その他">その他</option>
                    <option value="回答拒否">回答拒否</option>
                  </select>
                  <span class="<%= namespace %>-Form_Icon-select c-Form_Select-icon c-Icon_Chevron-down"></span>
                </div>

                <div class="<%= namespace %>-Form_Select-hide <%= namespace %>-Form_Select-hide03">
                  <p class="u-Adjust_Mt-16">その他の場合、理由を記入してください</p>
                  <input class="c-Form_Input u-Adjust_Mt-8" id="00N2j000000P9Dx" maxlength="255" name="00N2j000000P9Dx" size="20" type="text" />
                </div>
              </dd>
            </div>

            <div>
              <dt class="<%= namespace %>-Form_Dt">
                <p>事業者変更承諾番号を受信したいメールアドレス<span class="c-Form_List-required">必須</span></p>
              </dt>
              <dd class="<%= namespace %>-Form_Dd">
                <input class="c-Form_Input js-required" id="00N2j000000P9E2" maxlength="80" name="00N2j000000P9E2" size="20" type="text" placeholder="例：taro@rakuten.com" />
              </dd>
            </div>
          </dl>

          <h2 class="c-Heading_Lv2 u-Adjust_Mt-48">注意事項</h2>

          <div class="<%= namespace %>-Form_Note-box u-Adjust_Mt-8">
            <p class="c-Txt">楽天モバイル株式会社（以下「当社」という） ではインターネット接続サービス（以下「本サービス」という） をご利用いただくにあたって以下のサービス利用規約（以下「本規約」という） を設けております。本規約をご承諾のうえ、本サービスをご利用いただきますようお願いいたします。</p>
            <p class="<%= namespace %>-Form_Note-txt u-Adjust_Mt-16">「事業者変更」のお手続きにあたり、注意事項がいくつかございますので、ご案内いたします。<br>以下の内容につきましては、必ずご一読いただき、ご同意いただける場合は、チェックボックスにチェックをお願いいたします。ご同意がないと、事業者変更承諾番号の発行はできかねますので、ご了承ください。</p>

            <p class="<%= namespace %>-Form_Note-txt u-Adjust_Mt-8">
              <span class="<%= namespace %>-Form_Note-txt-emp">【注意事項】</span><br>
              1）「事業者変更承諾番号」発行の際に、当社にて保有している情報（契約者名、設置場所住所、利用中サービス等）を変更先事業者に開示いたします。<br>
              2）本フォームの申請から3日程度に、当社より「事業者変更承諾番号」を記載したメールを送信いたしますので、必ずご確認ください。<br>
              3）「事業者変更承諾番号」による「事業者変更」につきましては、変更先が光コラボレーション事業者である場合についてのみ、お手続きが可能でございます。<br>
              光コラボレーション事業者ではないサービス（例：au ひかり、NURO 光など）をご契約される場合につきましては「事業者変更」のお手続きはできかねます。別途、「楽天ひかり」の解約お手続きが必要となりますので、ご注意ください。<br>
              4）変更先事業者によっては、契約者名や回線名義人、回線IDが必要になる場合がございますので、ご準備のうえ、「事業者変更」のお手続きをお願いいたします。<br>
              5）「事業者変更承諾番号」の有効期限は15日間です。<br>
              期限間近の場合、変更先事業者によっては受け付けできない可能性がございますので、余裕を持ったお手続きをお願いいたします。<br>
              6）現在の「楽天ひかり」のご契約は「事業者変更」切り替え日をもって解約となります。<br>
              なお、「事業者変更」切り替え日が1日だった場合には、前月末で「楽天ひかり」は解約となります。<br>
              7）「ひかり電話」や「フレッツテレビ」などを利用されている場合は、別途、具体的に必要なお手続きを、NTTまたは変更先事業者へご相談くださいませ。<br>
              8）現在、工事費のお支払いが分割払い期間中の場合は、残債につきまして、最終請求時に一括でお支払いいただきます。<br>
              9）契約情報と回線情報などの相違により「事業者変更」のお手続きができない場合がございます。<br>
              10）解約月によっては、契約解除料（解約金）がかかる場合がございますのでご注意ください。<br>
              契約解除料は楽天ひかりお申し込み完了日によって異なります。<br>
              2022年6月30日23:59以前にお申し込み完了：10,450円<br>
              2022年7月1日0:00以降にお申し込み完了 ：ファミリープラン（戸建）5,280円 ：マンションプラン（集合住宅）4,180円<br>
              <span class="<%= namespace %>-Form_Note-txt-emp">※無料解約申請期間内に事業者変更承諾番号の発行を行い、無料解約申請期間初月から5カ月以内に他社光コラボに事業者変更が完了した場合に限り契約解除料（解約金）は発生しません。</span>
            </p>

            <label class="<%= namespace %>-Form_Agree c-Form_Checkbox u-Adjust_Mt-16 u-Adjust_Mr-24 js-required">
              <input id="00N2j000000P9D9" name="00N2j000000P9D9" type="checkbox" value="1" />
                <span class="c-Icon_Check"></span>
                <span class="c-Form_Checkbox-label">注意事項の内容を確認し、同意する<span class="c-Form_List-required">必須</span></span>
            </label>


          </div>

          <p class="u-Adjust_Align-center u-Adjust_Mt-48">
            <button id="js-hikari-number-request_Confirm" disabled type="button" aria-disabled="true" class="c-Btn_Secondly-large"><span><span>入力内容を確認する</span><span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span></span></button>
          </p>

          <div id="modal-confirm" style="display:none;">
            <h2 class="c-Heading_Lv2 u-Adjust_Mb-24">入力内容の確認</h2>
            <dl id="js-hikari-number-request_Confirm-content" class="<%= namespace %>-Form_Confirm-content c-Dl_Origin-compact">
              <div>
                <dt>ご契約者様 氏名</dt>
                <dd>
                  <span id="00N2v00000JLlAA-disp" class="u-Adjust_Txt-break u-Adjust_Mr-8"></span>
                  <span id="00N2v00000JLlA6-disp" class="u-Adjust_Txt-break u-Adjust_Mr-8"></span>
                </dd>
              </div>
              <div>
                <dt>ご本人様確認</dt>
                <dd><p id="00N2j000000P9DE-disp" class="u-Adjust_Txt-break"></p></dd>
              </div>
              <div>
                <dt>契約者電話番号</dt>
                <dd><p id="phone-disp" class="u-Adjust_Txt-break"></p></dd>
              </div>
              <div>
                <dt>契約者住所</dt>
                <dd>
                  <p id="00N2v00000JLlAI-disp" class="u-Adjust_Txt-break"></p>
                  <p id="00N2v00000JLlAb-disp" class="u-Adjust_Txt-break u-Adjust_Mt-8"></p>
                  <p id="00N2v00000JLl9z-disp" class="u-Adjust_Txt-break u-Adjust_Mt-8"></p>
                </dd>
              </div>

              <div id="00N2v00000JLlA2-row-disp">
                <dt>お客様番号</dt>
                <dd><p id="00N2v00000JLlA2-disp" class="u-Adjust_Txt-break"></p></dd>
              </div>
              <div id="00N2v00000JLlAd-row-disp">
                <dt>ユーザID</dt>
                <dd><p id="00N2v00000JLlAd-disp" class="u-Adjust_Txt-break"></p></dd>
              </div>
              <div id="email-row-disp">
                <dt>契約メールアドレス</dt>
                <dd><p id="email-disp" class="u-Adjust_Txt-break"></p></dd>
              </div>
              <div id="00N2j000000P9DJ-row-disp">
                <dt>お客様回線ID</dt>
                <dd><p id="00N2j000000P9DJ-disp" class="u-Adjust_Txt-break"></p></dd>
              </div>
              <div>
                <dt>移行先事業者名</dt>
                <dd>
                  <p id="00N2j000000P9DO-disp" class="u-Adjust_Txt-break"></p>
                  <p id="00N2j000000P9DT-disp" class="u-Adjust_Txt-break" style="display: none;"></p>
                </dd>
              </div>
              <div>
                <dt>移行理由1</dt>
                <dd>
                  <p id="00N2j000000P9DY-disp" class="u-Adjust_Txt-break"></p>
                  <p id="00N2j000000P9Dn-disp" class="u-Adjust_Txt-break u-Adjust_Mt-8" style="display: none;"></p>
                </dd>
              </div>
              <div id="00N2j000000P9Dd-row-disp">
                <dt>移行理由2</dt>
                <dd>
                  <p id="00N2j000000P9Dd-disp" class="u-Adjust_Txt-break"></p>
                  <p id="00N2j000000P9Ds-disp" class="u-Adjust_Txt-break u-Adjust_Mt-8" style="display: none;"></p>
                </dd>
              </div>
              <div id="00N2j000000P9Di-row-disp">
                <dt>移行理由3</dt>
                <dd>
                  <p id="00N2j000000P9Di-disp" class="u-Adjust_Txt-break"></p>
                  <p id="00N2j000000P9Dx-disp" class="u-Adjust_Txt-break u-Adjust_Mt-8" style="display: none;"></p>
                </dd>
              </div>
              <div>
                <dt>事業者変更承諾番号を<br>受信したいメールアドレス</dt>
                <dd><p id="00N2j000000P9E2-disp" class="u-Adjust_Txt-break"></p></dd>
              </div>
            </dl>
            <hr class="u-Adjust_Display-sp" style="border: none; background: #bfbfbf; height: 1px;">
            <div class="u-Adjust_Align-center u-Adjust_Mt-40">
              <button type="button" id="js-hikari-number-request_Submit" class="c-Btn_Primary-large"><span><span>この内容で送信する</span><span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span></span></button>
            </div>
            <div class="u-Adjust_Align-center u-Adjust_Mt-24">
              <span id="js-hikari-number-request_Confirm-close" style="margin: auto;" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-left-l"></span>修正する</span>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <footer class="g-Footer u-Adjust_Mt-64">
    <%- include('/include/_footer-simple') %>
  </footer>

</div>
<%- include('/include/hikari/_common-js', { jquery: '3.6.0' }) %>
<script src="<%= sitepath %>assets/js/hikari/form.common.index.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/hikari/form.number-request.index.bundle.js?20240521"></script>
<!-- <script src="<%= sitepath %>assets/js/library/ajaxzip3.js" charset="UTF-8"></script>
<script>
  const triggerZip2addr = document.getElementsByClassName('js-hikari-inquiry_Zip2addr');
  triggerZip2addr[0].addEventListener('blur', function(e) {
    AjaxZip3.zip2addr('00N2v00000JLlAI','','00N2v00000JLlAb','00N2v00000JLl9z');
  })
</script> -->
<%- include('/include/_append-body') %>
</body>
</html>
