<% const pagetitle = "「Rakuten UN-LIMIT」2.0にバージョンアップのお知らせ" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '2020年4月8日（水）より、月額2,980円の無制限プラン「Rakuten UN-LIMIT」（読み:ラクテン アンリミット）を2.0にバージョンアップし、サービス開始いたしました。',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css') %>

<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="l-System_Container">
  <div class="u-Adjust_Pt-32 u-Adjust_Pb-72">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

    <div class="u-Adjust_Mt-64">
      <p>2020年4月8日（水）より、月額2,980円の無制限プラン「Rakuten UN-LIMIT」（読み:ラクテン アンリミット）を2.0にバージョンアップし、サービス開始いたしました。</p>
      <p class="u-Adjust_Mt-16">パートナー回線エリアのデータ容量を2GB/月から5GB/月にアップ、さらにデータ容量超過後は、通信速度を最大128kbpsから1Mbpsにアップグレードし、無制限でご利用いただけます。※<br>「データ容量消費後の通信速度を最⼤1Mbps※」は4⽉8⽇（⽔）より、「デー
      タ容量5GB/⽉」は4⽉22⽇（⽔）より順次、「Rakuten UN-LIMIT」をご契約のすべてのお客様にご利⽤いただけるようにな
      ります。</p>
      <p class="u-Adjust_Mt-16">また現在、最大20,800ポイント還元となる「Rakuten UN-LIMIT」提供キャンペーンも開催しております。この機会に是非お申し込みください。</p>
      <p class="c-Txt_Cap u-Adjust_Mt-32">※動画再生・アプリダウンロード等では、時間がかかる場合があります。通信速度はベストエフォート（規格上の最大速度）であり、実効速度は通信環境・状況により変動します。</p>
    </div>

    <div class="u-Adjust_Mt-72">
      <h2 class="c-Heading_Lv2">Rakuten UN-LIMIT 2.0の変更点</h2>
      <div class="u-Adjust_Mt-32">
        <img src="<%= sitepath %>assets/img/fee/un-limit/info_20200408/table.png" alt="">
      </div>
      <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
        <a href="<%= sitepath %>fee/un-limit/" class="c-Btn_Primary-half"><span>Rakuten UN-LIMITの詳細を見る</span></a>
      </div>
      <ul class="u-Adjust_Mt-32 c-List_Cap-wide">
        <li><span>※1</span>おひとり様１回線１度のみ対象となります。お申し込みの状況により、人数が増加・減少する可能性があります。また、製品代、事務手数料、オプション料、通話料等は別途発生します。</li>
        <li><span>※2</span>66の国と地域が対象です。対象地域以外はWi-Fi接続時のみ利用可能です。提供エリアおよび条件は変更する場合があります。</li>
        <li><span>※3</span>楽天回線として提供する基地局の電波をご利用した場合に限ります。公平にサービスを提供するため、通信速度の制御を行うことがあります。ご利用中のデータ通信がどちらのエリアに属するかはmy 楽天モバイルアプリの「ホーム画面」にてご確認ください。</li>
        <li><span>※4</span>データ残量は翌月に繰り越されません。4/22より順次、パートナー回線エリア（国内）のデータ容量が2GB/月から5GB/月へ増量されます。</li>
        <li><span>※5</span>パートナー回線エリア（海外）とは海外ローミング（データ通信）でご利用可能な海外指定66の国と地域です。パートナー回線エリア（海外）のデータ容量を超えた場合、パートナー回線エリア（海外）での通信速度が最大128kbpsに制限されます。データ残量は翌月に繰り越されません。なお、その他の地域に関しては国・地域別に従量課金となります。</li>
        <li><span>※6</span>パートナー回線エリア（国内）のデータ容量を超えた場合、パートナー回線エリア（国内）での通信速度が最大１Mbpsに制限されます。動画再生・アプリダウンロード等では、時間がかかる場合があります。通信速度はベストエフォート（規格上の最大速度）であり、実効速度は通信環境・状況により変動します。</li>
        <li><span>※7</span>海外から国内への通話をRakuten Linkアプリを使用しご利用いただいた場合、無制限となります。アプリ未使用時は30秒20円の通話料が発生します。なお、一部対象外の番号があります。</li>
        <li><span>※8</span>オプションサービス「国際通話かけ放題」加入時の料金です。オプションに加入しない場合は国別の従量課金となります。</li>
        <li><span>※9</span>楽天モバイル 通話SIMをご契約の方が対象となります。毎月の獲得上限ポイント数は5,000ポイント（全ランク、その他会員共通）、期間限定ポイントでの付与となります。</li>
      </ul>
    </div>
  </div>
</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-news.ejs') %>

    <%- include('/include/footer/bnr/_bnr-news.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
