<% const pagetitle = "Rakuten Miniから他製品への機種変更" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/rakuten/", label:"Rakutenオリジナル"}, {path:"product/smartphone/rakuten-mini/", label:"Rakuten Mini"}, {path:"product/smartphone/rakuten-mini/support/", label:"Rakuten Miniサポート情報"}] -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Rakuten Miniから他製品への機種変更時の設定方法をご案内します',
    noindex: false,
    pathname: 'product/smartphone/rakuten-mini/support/upgrade/'
  });
%>

<%- include('/include/_common-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="u-Adjust_Pb-64">
  <div class="l-System_Container u-Adjust_Mt-32">
    <h1 class="c-Heading_Lv1">Rakuten Miniから他製品への機種変更</h1>
    <p class="u-Adjust_Mt-24">Rakuten Miniから他の製品（SIMカードが必要な製品）への機種変更の場合は「my 楽天モバイル」からお手続きが可能です。<br>
以下の手順に沿って、設定を行ってください。</p>

    <ul class="c-List_Cap u-Adjust_Mt-16"><li class="c-Txt_Emp-02"><span>※</span>SIMカード交換のお手続きを行うと、それまでご利用されたRakuten MiniのeSIMは無効になります。</li></ul>


    <ol class="c-Flow">
      <li><span class="c-Txt_Alphanumeric-m">1</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">my 楽天モバイルアプリをインストールしてください。</h4>
        <div class="c-Box_App u-Adjust_Mt-24">
          <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt="my 楽天モバイル"></div>
          <div class="c-Box_App-txt">
            <p class="c-Box_App-ttl">my 楽天モバイル</p>
            <ul class="c-Box_App-link u-Adjust_Mt-16">
              <li><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" height="44" alt=""></a></li>
              <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Link_Txt-inline">Webで「my 楽天モバイル」を使う<span class="c-Icon_Chevron-right"></span></a></li>
            </ul>
          </div>
        </div>
      </li>
      <li><span class="c-Txt_Alphanumeric-m">2</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">my 楽天モバイルアプリを起動すると、楽天会員ログイン画面が表示されます。ユーザIDとパスワードを入力し、ログインしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/upgrade/main-image-02.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><span class="c-Txt_Alphanumeric-m">3</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">my 楽天モバイルにログイン後、以下の画面が表示されます。「契約プラン」をタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/common/img-home-230609.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><span class="c-Txt_Alphanumeric-m">4</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">メニューが表示されます。「SIM交換」をタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/upgrade/main-image-04.png?211019" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><span class="c-Txt_Alphanumeric-m">5</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">SIM再発行の画面が表示されます。「その他（機種変更・故障など）」「SIMカード」をタップして「SIMの再発行を申請する」ボタンをタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/upgrade/main-image-11.png?220728" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li>
        <span class="c-Txt_Alphanumeric-m">6</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">ワンタイムパスワードを入力し、「認証する」をタップする。</h4>
        <p class="u-Adjust_Mt-16 c-Txt_Cap">
          ※ワンタイムパスワードは、ご登録されているメールアドレスまたは楽天モバイル回線の携帯電話番号（SMS）に送信されます。
        </p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">
          ※ワンタイムパスワードに関してお困りの場合は<a href="<%= sitepath %>faq/detail/00001914/" class="c-Link_Txt">こちら</a>をご参照ください。
        </p>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/upgrade/main-image-06-1-240521.png" width="300" height="535" alt="ワンタイムパスワードを入力し、「認証する」をタップする。" class="c-Img_Capture" loading="lazy"></figure>
      </li>
      <li><span class="c-Txt_Alphanumeric-m">7</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">お申し込み内容の確認画面が表示されます。「確定する」ボタンをタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/common/img-sim-230609.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><span class="c-Txt_Alphanumeric-m">8</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">SIMの再発行お手続きは完了です。SIMカードの到着までしばらくお待ちください。<br>
また、登録されたメールアドレスに確認メールをお送りしています。ご確認ください。</h4></li>
      <li><span class="c-Txt_Alphanumeric-m">9</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">SIMカードがお手元に届きましたら、新たにご利用されるスマートフォンにSIMカードを入れてください。</h4></li>
    </ol>
    <p class="u-Adjust_Mt-32">以上で設定は完了です。</p>
    <div class="c-Infobox_Standing-light u-Adjust_Mt-32">
      <h3 class="c-Heading_Lv3">インターネットに接続されているか、ご確認ください。</h3>
    <p class="u-Adjust_Mt-16">しばらくお待ちいただくと、インターネットがご利用いただけます。<br>
ブラウザアプリなど、ご利用いただき、Webページが表示されるかご確認ください。<br>
うまく開通しない場合は、Wi-Fiをオフにする、もしくは機内モードON/OFFや製品の再起動などをお試しください。<br>
また、モバイルデータ通信がOFFになっていないかご確認ください。</p>
    </div>

  </div>
</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-product.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%#- include('/faq/include/related-product.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
