<% const pagetitle = "Rakuten Handサポート情報" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/rakuten/", label:"Rakutenオリジナル"}, {path:"product/smartphone/rakuten-hand/", label:"Rakuten Hand"}] -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Rakuten Handのお客様サポートページ。ソフトウェアアップデート情報や故障・修理など、製品に関わる情報をご案内します',
    noindex: false,
    pathname: 'product/smartphone/rakuten-hand/support/index.html'
  });
%>

<%- include('/include/_common-css-v2') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<%- include('/include/_breadcrumbs', {
  type: 'head',
  pagetitle,
  directories,
}) %>

<!-- insert-info.js -->
<div id="emergency-info"></div>

<div class="u-Adjust_Pb-64">
  <div class="l-System_Container u-Adjust_Mt-32">
    <h1 class="c-Heading_Lv1">Rakuten Handサポート情報</h1>
    <p class="u-Adjust_Mt-24">
      Rakuten Handの故障・修理は、保守部品の保有期間の終了に伴い、2023年11月28日(火)をもって終了しました。<br>
      故障・修理に関するお問い合わせは2023年11月29日(水)以降対応しかねますのでご了承ください。
    </p>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">ソフトウェアアップデート</h3>
    <p class="u-Adjust_Mt-24">最新情報をご案内いたします。</p>
    <div>最終更新日：<span id="update-software"></span></div>
    <div class="u-Adjust_Mt-24">
      <a href="<%= sitepath %>information/software/rakuten-hand/" class="c-Btn_Regular"><span>ソフトウェアアップデート詳細へ</span></a>
    </div>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">故障・修理保証</h3>
    <p class="u-Adjust_Mt-24">Rakuten Handの故障・修理は、保守部品の保有期間の終了に伴い、2023年11月28日(火)をもって終了しました。</p>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">安全性に関する重要な情報</h3>
    <p class="u-Adjust_Mt-24">製品を安全に正しくご使用いただくための注意事項をご確認ください。</p>
    <div class="u-Adjust_Mt-24">
      <a href="<%= sitepath %>product/smartphone/rakuten-hand/support/safety-info/" class="c-Btn_Regular"><span>安全性に関する重要な情報を見る</span></a>
    </div>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">よくあるご質問</h3>
    <p class="u-Adjust_Mt-24">Rakuten Handに関するよくあるご質問をご確認いただけます。</p>
    <div class="u-Adjust_Mt-24">
      <a href="<%= sitepath %>faq/device/hand/" class="c-Btn_Regular"><span>よくあるご質問を見る</span></a>
    </div>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">お問い合わせ</h3>
    <p class="u-Adjust_Mt-24">製品に関するお問い合わせ、および故障・紛失など、コミュニケーションセンターのアドバイザーがしっかりサポートいたします。</p>
    <div class="u-Adjust_Mt-24">
      <a href="<%= sitepath %>inquiry/#communication-center" class="c-Btn_Regular"><span>お問い合わせ窓口を確認する</span></a>
    </div>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">初期設定方法</h3>
    <h4 class="c-Txt_Emp-01 u-Adjust_Mt-24">新規購入の場合</h4>
    <div class="u-Adjust_Mt-24">
      <a href="<%= sitepath %>product/smartphone/rakuten-hand/support/setting/" class="c-Link_Txt-inline">初期設定方法を確認する<span class="c-Icon_Chevron-right"></span></a>
    </div>

    <h4 class="c-Txt_Emp-01 u-Adjust_Mt-40">機種変更の場合</h4>
    <p class="u-Adjust_Mt-16">「my 楽天モバイル」からお手続きが可能です。</p>
    <div class="u-Adjust_Mt-24">
      <a href="<%= sitepath %>product/smartphone/rakuten-hand/support/upgrade/" class="c-Link_Txt-inline">Rakuten Handから他製品の場合<span class="c-Icon_Chevron-right"></span></a>
    </div>
    <div class="u-Adjust_Mt-24">
      <a href="<%= sitepath %>product/smartphone/rakuten-hand/support/upgrade2/" class="c-Link_Txt-inline">他製品からRakuten Handの場合<span class="c-Icon_Chevron-right"></span></a>
    </div>

    <h3 class="c-Heading_Lv4 u-Adjust_Mt-64">関連情報</h3>
    <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/sar/" class="c-Link_Txt-inline">携帯電話の比吸収率（SAR）について<span class="c-Icon_Chevron-right"></span></a></p>

  </div>
</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">
    <%- include('/include/footer/related/_related-product-v2.ejs') %>
  </div>
  <div class="l-System_Container">
    <%- include('/include/_breadcrumbs', {
      type: 'foot',
      pagetitle,
      directories,
    }) %>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/product.insert-info.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
