<a href="<%= sitepath %>campaign/applecare/?l-id=product_iphone_<%= directory %>_campaign_applecare" class="c-Banner_Hover-act">
  <picture>
    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/common/bnr-applecare-amonth-free-343-108.png" width="686" height="216">
    <img src="<%= sitepath %>assets/img/common/bnr-applecare-amonth-free-1032-160.png" width="1032" height="160" alt="故障紛失保証 with AppleCare Services（月額最大1,460円）をiPhone購入と同時申し込みで1,460ポイント還元。実質1カ月無料。">
  </picture>
</a>
