<% const iPhone15series = ['iphone-15', 'iphone-15-plus', 'iphone-15-pro', 'iphone-15-pro-max', 'iphone-14-plus', 'iphone-14', 'iphone-13', 'iphone-se-3rd'] -%>
<%_ if (iPhone15series.includes(directory)) {_%>
<div class="u-Adjust_Mt-8 u-Adjust_Align-center">
  <a class="c-Banner_Hover-act" href="<%= sitepath %>campaign/iphone-point/?l-id=product_iphone_<%= directory %>_campaign_iphone-point">
    <picture>
      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/bnr-iphone-campaign-sp-240221.png" width="686" height="104">
      <img src="<%= sitepath %>assets/img/product/iphone/common/bnr-iphone-campaign-pc-240221.png" width="1032" height="44" alt="iPhone値引きキャンペーン開催中！">
    </picture>
  </a>
</div>
<%_ } else { _%>
<div class="u-Adjust_Mt-8 u-Adjust_Align-center">
  <a class="c-Banner_Hover-act" href="<%= sitepath %>product/iphone/?l-id=product_iphone_<%= directory %>_bnr_product_iphone">
    <picture>
      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/bnr-iphone-reservation-sp-230922.png" width="100%">
      <img src="<%= sitepath %>assets/img/product/iphone/common/bnr-iphone-reservation-pc-230922.png" width="1032" height="44" alt="最新iPhoneも販売中">
    </picture>
  </a>
</div>
<%_ } _%>
