<div class="l-System_Container u-Adjust_Mt-48">
  <div class="l-Media_Grid-half">
    <div>
      <a class="c-Banner_Hover-act" href="<%= sitepath %>campaign/applewatch-insurance/?l-id=<%- cp_l_id %>_campaign_applewatch-insurance">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/bnr/bnr-campaign-watch-insurance-343-108-221101.png">
          <img src="<%= sitepath %>assets/img/bnr/bnr-campaign-watch-insurance-504-158-221114.png" alt="楽天モバイルでApple Watchご購入でワークアウト保険が2年間無料" style="border: 1px solid #D1D1D1;">
        </picture>
      </a>
    </div>
    <div>
      <a class="c-Banner_Hover-act" href="<%= sitepath %>campaign/iphone-tradein/?l-id=<%- cp_l_id %>_campaign_iphone-tradein">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/bnr/bnr-iphone-tradein-343-108-230414.png">
          <img src="<%= sitepath %>assets/img/bnr/bnr-iphone-tradein-504-158-230414.png" alt="プランお申し込みなしでもOK！iPhoneの新規購入&対象のiPhone下取りで、今なら下取り金額に加えて10,000円相当分のポイント還元！">
        </picture>
      </a>
    </div>
  </div>
</div>
