<div class="product-iphone_Equipment">
  <div class="l-System_Container">
    <h2 class="c-Heading_Lv2">Apple純正アクセサリ</h2>
    <div class="u-Adjust_Mt-24">
      <ul>
        <li class="c-Card_Normal">
          <%_ if (l_id) { _%>
            <a href="/product/accessory/apple/?l-id=<%- l_id %>_apple-audio#audio">
          <%_ } else { _%>
            <a href="/product/accessory/apple/#audio">
          <%_ } _%>
            <div>
              <img src="<%= sitepath %>assets/img/accessory/apple-rm2309069/pht-accessory-00.png" alt="AirPods">
              <h3 class="c-Heading_Lv4">AirPods</h3>
            </div>
          </a>
        </li>
        <li class="c-Card_Normal">
          <%_ if (l_id) { _%>
            <a href="/product/accessory/apple/?l-id=<%- l_id %>_apple-other#other">
          <%_ } else { _%>
            <a href="/product/accessory/apple/#other">
          <%_ } _%>
            <div>
              <img src="<%= sitepath %>assets/img/accessory/apple-rm2104016/pht-accessory-00.png" alt="AirTag">
              <h3 class="c-Heading_Lv4">AirTag＆その他</h3>
            </div>
          </a>
        </li>
        <li class="c-Card_Normal">
          <%_ if (l_id) { _%>
            <a href="/product/accessory/apple/?l-id=<%- l_id %>_apple#case">
          <%_ } else { _%>
            <a href="/product/accessory/apple/#case">
          <%_ } _%>
            <div>
              <img src="<%= sitepath %>assets/img/accessory/apple-rm2309053/pht-accessory-00.png" alt="iPhoneケース">
              <h3 class="c-Heading_Lv4">iPhoneケース</h3>
            </div>
          </a>
        </li>
        <li class="c-Card_Normal">
          <%_ if (l_id) { _%>
            <a href="/product/accessory/apple/?l-id=<%- l_id %>_apple-chargers#chargers">
          <%_ } else { _%>
            <a href="/product/accessory/apple/#chargers">
          <%_ } _%>
            <div>
              <img src="<%= sitepath %>assets/img/accessory/apple-rm213003/pht-accessory-00.png" alt="MagSafe充電器">
              <h3 class="c-Heading_Lv4">充電器＆アダプタ</h3>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
