<% const iphoneDetailPageArray = ['iphone-15-pro-max', 'iphone-15-pro', 'iphone-15-plus', 'iphone-15', 'iphone-14-plus', 'iphone-14', 'iphone-13', 'iphone-se-3rd'] -%>
<% const isIphoneDetailPage = typeof currentDir !== 'undefined' && iphoneDetailPageArray.includes(currentDir) -%>
<div id="scroll-product-iphone-list" class="<%= isIphoneDetailPage ? 'u-Adjust_Pt-56 u-Adjust_Pt-pc-24 u-Adjust_Pb-24 u-Adjust_Pb-pc-16' : 'product-iphone_List' %>">
  <div class="l-System_Container">
    <%_ if (isIphoneDetailPage) { _%>
    <h3 class="c-Heading_Lv3">他のiPhoneを見る</h3>
    <%_ } else { _%>
    <h2 class="c-Heading_Lv2">iPhone一覧</h2>
    <%_ } _%>


    <div class="c-Carousel js-Carousel-multi product-iphone_List-carousel u-Adjust_Mt-16">
      <%_ if (l_id) { _%>
        <a class="c-Card_Normal" href="/product/iphone/iphone-15-pro-max/?l-id=<%- l_id %>_iphone-15-pro-max">
      <%_ } else { _%>
        <a class="c-Card_Normal" href="/product/iphone/iphone-15-pro-max/">
      <%_ } _%>
        <div>
          <img src="/assets/img/product/iphone/iPhone_15_Pro_Max_lineup.png" alt="iPhone 15 Pro Max">
          <h3 class="c-Heading_Lv4">iPhone 15 Pro Max</h3>
        </div>
      </a>
      <%_ if (l_id) { _%>
        <a class="c-Card_Normal" href="/product/iphone/iphone-15-pro/?l-id=<%- l_id %>_iphone-15-pro">
      <%_ } else { _%>
        <a class="c-Card_Normal" href="/product/iphone/iphone-15-pro/">
      <%_ } _%>
        <div>
          <img src="/assets/img/product/iphone/iPhone_15_Pro_lineup.png" alt="iPhone 15 Pro">
          <h3 class="c-Heading_Lv4">iPhone 15 Pro</h3>
        </div>
      </a>
      <%_ if (l_id) { _%>
        <a class="c-Card_Normal" href="/product/iphone/iphone-15-plus/?l-id=<%- l_id %>_iphone-15-plus">
      <%_ } else { _%>
        <a class="c-Card_Normal" href="/product/iphone/iphone-15-plus/">
      <%_ } _%>
        <div>
          <img src="/assets/img/product/iphone/iPhone_15_plus_lineup.png" alt="iPhone 15 Plus">
          <h3 class="c-Heading_Lv4">iPhone 15 Plus</h3>
        </div>
      </a>
      <%_ if (l_id) { _%>
        <a class="c-Card_Normal" href="/product/iphone/iphone-15/?l-id=<%- l_id %>_iphone-15">
      <%_ } else { _%>
        <a class="c-Card_Normal" href="/product/iphone/iphone-15/">
      <%_ } _%>
        <div>
          <img src="/assets/img/product/iphone/iPhone_15_lineup.png" alt="iPhone 15">
          <h3 class="c-Heading_Lv4">iPhone 15</h3>
        </div>
      </a>
      <%_ if (l_id) { _%>
        <a class="c-Card_Normal" href="/product/iphone/iphone-14-plus/?l-id=<%- l_id %>_iphone-14-plus">
      <%_ } else { _%>
        <a class="c-Card_Normal" href="/product/iphone/iphone-14-plus/">
      <%_ } _%>
        <div>
          <img src="/assets/img/product/iphone/iPhone_14_plus_lineup-230915.png" alt="iPhone 14 Plus">
          <h3 class="c-Heading_Lv4">iPhone 14 Plus</h3>
        </div>
      </a>
      <%_ if (l_id) { _%>
        <a class="c-Card_Normal" href="/product/iphone/iphone-14/?l-id=<%- l_id %>_iphone-14">
      <%_ } else { _%>
        <a class="c-Card_Normal" href="/product/iphone/iphone-14/">
      <%_ } _%>
        <div>
          <img src="/assets/img/product/iphone/iPhone_14_lineup-230915.png" alt="iPhone 14">
          <h3 class="c-Heading_Lv4">iPhone 14</h3>
        </div>
      </a>
      <%_ if (l_id) { _%>
        <a class="c-Card_Normal" href="/product/iphone/iphone-13/?l-id=<%- l_id %>_iphone-13">
      <%_ } else { _%>
        <a class="c-Card_Normal" href="/product/iphone/iphone-13/">
      <%_ } _%>
        <div>
          <img src="/assets/img/product/iphone/iPhone_13_lineup-230915.png" alt="iPhone_13">
          <h3 class="c-Heading_Lv4">iPhone 13</h3>
        </div>
      </a>
      <%_ if (l_id) { _%>
        <a class="c-Card_Normal" href="/product/iphone/iphone-se-3rd/?l-id=<%- l_id %>_iphone-se-3rd">
      <%_ } else { _%>
        <a class="c-Card_Normal" href="/product/iphone/iphone-se-3rd/">
      <%_ } _%>
        <div>
          <img src="/assets/img/product/iphone/iPhone_se_3rd_lineup-230915.png" alt="iPhone_se3rd">
          <h3 class="c-Heading_Lv4">iPhone SE（第3世代）	</h3>
        </div>
      </a>
    </div>
    <div class="c-Carousel_Nav-v2-wrap">
      <div class="c-Carousel_Nav-v2"></div>
      <div class="c-Carousel_Nav-v2-bar"></div>
    </div>


    <div class="product-iphone_List-button u-Adjust_Mt-40">
      <ul>
        <li>
          <%_ if (l_id) { _%>
            <a href="/product/iphone/?l-id=<%- l_id %>_iphone" class="c-Btn_Regular"><span>iPhone一覧を見る</span></a>
          <%_ } else { _%>
            <a href="/product/iphone/" class="c-Btn_Regular"><span>iPhone一覧を見る</span></a>
          <%_ } _%>
        </li>
        <%_ if (typeof comparison === 'undefined' || comparison !== false)  { _%>
        <li>
          <%_ if (l_id) { _%>
            <a href="/product/iphone/comparison/?l-id=<%- l_id %>_comparison" class="c-Btn_Regular"><span>iPhoneを比較する</span></a>
          <%_ } else { _%>
            <a href="/product/iphone/comparison/" class="c-Btn_Regular"><span>iPhoneを比較する</span></a>
          <%_ } _%>
        </li>
        <%_ } _%>
      </ul>
    </div>
  </div>
</div>
