<div id="scroll-product-iphone-list" class="product-iphone_List">
  <div class="l-System_Container">
    <%_ if (typeof currentDir !== 'undefined') { _%>
    <%# スクロール計測 %>
    <div class="u-Rat_Appear-height" data-ratid="<%= currentDir %>_scroll-14_product-lineup" data-ratevent="appear">&nbsp;</div>
    <%_ } _%>
    <h2 class="c-Heading_Lv2">iPhone 14一覧</h2>
    <div class="product-iphone_List-model">
      <ul>
        <li class="c-Card_Normal">
          <%_ if (l_id) { _%>
            <a href="/product/iphone/iphone-14-pro-max/?l-id=<%- l_id %>_iphone-14-pro-max">
          <%_ } else { _%>
            <a href="/product/iphone/iphone-14-pro-max/">
          <%_ } _%>
            <div>
              <img src="/assets/img/product/iphone/iPhone_14_Pro_Max_lineup.png?230308" alt="iPhone 14 Pro Max">
              <h3 class="c-Heading_Lv4">iPhone 14 Pro Max</h3>
            </div>
          </a>
        </li>
        <li class="c-Card_Normal">
          <%_ if (l_id) { _%>
            <a href="/product/iphone/iphone-14-pro/?l-id=<%- l_id %>_iphone-14-pro">
          <%_ } else { _%>
            <a href="/product/iphone/iphone-14-pro/">
          <%_ } _%>
            <div>
              <img src="/assets/img/product/iphone/iPhone_14_Pro_lineup.png?230308" alt="iPhone 14 Pro">
              <h3 class="c-Heading_Lv4">iPhone 14 Pro</h3>
            </div>
          </a>
        </li>
        <li class="c-Card_Normal">
          <%_ if (l_id) { _%>
            <a href="/product/iphone/iphone-14-plus/?l-id=<%- l_id %>_iphone-14-plus">
          <%_ } else { _%>
            <a href="/product/iphone/iphone-14-plus/">
          <%_ } _%>
            <div>
              <img src="/assets/img/product/iphone/iPhone_14_plus_lineup.png?230310" alt="iPhone 14 Plus">
              <h3 class="c-Heading_Lv4">iPhone 14 Plus</h3>
            </div>
          </a>
        </li>
        <li class="c-Card_Normal">
          <%_ if (l_id) { _%>
            <a href="/product/iphone/iphone-14/?l-id=<%- l_id %>_iphone-14">
          <%_ } else { _%>
            <a href="/product/iphone/iphone-14/">
          <%_ } _%>
            <div>
              <img src="/assets/img/product/iphone/iPhone_14_lineup.png?230310" alt="iPhone 14">
              <h3 class="c-Heading_Lv4">iPhone 14</h3>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="product-iphone_List-button u-Adjust_Mt-40">
      <ul>
        <li>
          <%_ if (l_id) { _%>
            <a href="/product/iphone/?l-id=<%- l_id %>_iphone" class="c-Btn_Regular"><span>iPhone一覧を見る</span></a>
          <%_ } else { _%>
            <a href="/product/iphone/" class="c-Btn_Regular"><span>iPhone一覧を見る</span></a>
          <%_ } _%>
        </li>
        <li>
          <%_ if (l_id) { _%>
            <a href="/product/iphone/comparison/?l-id=<%- l_id %>_comparison" class="c-Btn_Regular"><span>iPhoneを比較する</span></a>
          <%_ } else { _%>
            <a href="/product/iphone/comparison/" class="c-Btn_Regular"><span>iPhoneを比較する</span></a>
          <%_ } _%>
        </li>
      </ul>
    </div>
  </div>
</div>
