<% const iPhone15series = ['iphone-15', 'iphone-15-plus', 'iphone-15-pro', 'iphone-15-pro-max'] -%>
<div id="caution" class="u-Adjust_Pb-64">
  <div class="l-System_Container">
    <div class="u-Adjust_Mt-16">
      <%# スクロール計測 %>
      <div class="u-Rat_Appear-height" data-ratid="<%= currentDir %>_scroll-12_attention" data-ratevent="appear">&nbsp;</div>
      <h3 class="c-Heading_Lv3 u-Adjust_Mt-32">注意事項</h3>
      <h4 class="c-Heading_Lv4 u-Adjust_Mt-32" id="caution-1">お支払いについて</h4>
      <p class="c-Txt_Cap u-Adjust_Mt-8">
        <span class="c-Txt_Emp-02">※1 楽天モバイル買い替え超トクプログラムは、楽天回線（Rakuten最強プラン）のお申し込みがなくてもご利用いただけます。25カ月目以降、新しい製品へ機種変更しない場合でも、お使いいただいた製品をご返却いただくことで解約となり、残りのお支払いは不要です。</span><br>
        現金販売価格と割賦販売価格（総額）は製品の支払い総額と同額。支払回数48回、支払期間48カ月、実質年率0％。割賦金算出時の端数分について、毎月の月額料金に含めて、あるいは最終月の月額料金に含めて、請求させていただきます。本プログラムの仕様上、支払回数を48回と記載していますが、25カ月目以降、新しい製品への機種変更及び解約が可能となり、弊社指定条件を満たし製品をご返却いただいた場合、残りのお支払いは不要です。<span class="c-Txt_Emp-02">機種変更の際には、事務手数料3,300円をご請求させていただきます。ご返却いただいた旧製品が当社指定状態基準を満たさない場合、当社指定の故障費用を請求、または返却いただけない場合がございます。</span>
      </p>
      <p class="c-Txt_Cap">※2 分割払いのお支払い総額は、製品の税込価格から楽天ポイントによるお支払い額を差し引きお支払い回数で分割した金額となります。正式なご請求金額はmy 楽天モバイルでご確認ください。楽天カード以外のクレジットカードで24回払いを選択した場合、分割手数料が発生します。お支払い回数にかかわらず、キャンペーンの条件を満たしていれば特典が適用されます。</p>
      <h4 class="c-Heading_Lv4 u-Adjust_Mt-32" id="caution-5">実質負担額について</h4>
      <p class="c-Txt_Cap u-Adjust_Mt-8">
        「実質負担額」とは、キャンペーンの条件達成（楽天回線を初めてお申し込み、電話番号そのままで他社から乗り換え、対象製品のご購入、Rakuten Linkアプリのご利用など）により後日付与されるポイントを加味した価格であり、実際のお支払い金額とは異なります。詳しくはキャンペーンルールをご確認ください。
      </p>
      <h4 class="c-Heading_Lv4 u-Adjust_Mt-32" id="caution-3">楽天ポイントのご利用について</h4>
      <p class="c-Txt_Cap u-Adjust_Mt-8">
        ※3 取得した楽天ポイントは楽天モバイルや楽天の各サービスでご利用できます。詳しくは<a href="<%= sitepath %>guide/point/">楽天ポイントのページ</a>をご覧ください。一度に利用できるポイント数は1～30,000 (ダイヤモンド会員の方は～500,000) ポイントです。楽天モバイル買い替え超トクプログラムにて製品をご購入の場合、お支払いに楽天ポイントはご利用いただけません。製品を24回払いにてご購入の場合、2回目以降のお支払いには楽天ポイントはご利用いただけません。<br>
      </p>
      <h4 class="c-Heading_Lv4 u-Adjust_Mt-32" id="caution-2">
        各種キャンペーンの特典について
      </h4>
      <p class="c-Txt_Cap u-Adjust_Mt-8">
        <%_ if (currentDir !== 'iphone-se-3rd') { _%>
        以下※4～6 のポイントの付与は、キャンペーンによってポイント付与時期・有効期間が異なり、分割して付与されるポイントもございます。必ず各キャンペーンルールをご確認ください。<br>
        ※4 ポイント還元は「<a href="<%= sitepath %>campaign/iphone-point/#campaign-rule1819">iPhone 対象端末ポイントバックキャンペーン</a>」適用時。<br>
        ※5 ポイント還元は「<a href="<%= sitepath %>campaign/iphone-point/#campaign-rule2091">【Rakuten最強プランはじめてお申し込み特典】他社から乗り換えでポイントプレゼント</a>」適用時。楽天回線を初めてお申し込み、かつ他社からお乗り換えいただいた場合に限ります。<br>
        ※6 ポイント還元は「<a href="<%= sitepath %>campaign/iphone-point/#campaign-rule2142">【Rakuten最強プランはじめてお申し込み特典】新規ご契約・プラン変更（移行）で2,000ポイントプレゼントキャンペーン</a>」適用時。<br>
        ※7 製品値引きは「<a href="<%= sitepath %>campaign/iphone-point/#campaign-rule2169">Rakuten最強プランご契約とiPhone対象製品を一括払いもしくは24回払いのご購入で割引キャンペーン</a>」適用時。
        <%_ } else { _%>
        以下※4～6 のポイントの付与は、キャンペーンによってポイント付与時期・有効期間が異なり、分割して付与されるポイントもございます。必ず各キャンペーンルールをご確認ください。<br>
        ※4 ポイント還元は「<a href="<%= sitepath %>campaign/iphone-point/#campaign-rule1819">iPhone 対象端末ポイントバックキャンペーン</a>」適用時。<br>
        ※5 ポイント還元は「<a href="<%= sitepath %>campaign/iphone-point/#campaign-rule2091">【Rakuten最強プランはじめてお申し込み特典】他社から乗り換えでポイントプレゼント</a>」適用時。楽天回線を初めてお申し込み、かつ他社からお乗り換えいただいた場合に限ります。<br>
        ※6 ポイント還元は「<a href="<%= sitepath %>campaign/iphone-point/#campaign-rule2142">【Rakuten最強プランはじめてお申し込み特典】新規ご契約・プラン変更（移行）で2,000ポイントプレゼントキャンペーン</a>」適用時。<br>
        ※7 製品値引きは「<a href="<%= sitepath %>campaign/iphone-point/#campaign-rule2169">Rakuten最強プランご契約とiPhone対象製品を一括払いもしくは24回払いのご購入で割引キャンペーン</a>」適用時。
        <%_ } _%>
      </p>
      <h4 class="c-Heading_Lv4 u-Adjust_Mt-32" id="caution-6">下取り価格について</h4>
      <%_
      const exceptionDirs = ['iphone-15-plus', 'iphone-15', 'iphone-14', 'iphone-14-plus', 'iphone-13']
      if (exceptionDirs.includes(currentDir)) { _%>
        <p class="c-Txt_Cap u-Adjust_Mt-8">
          *2 2024年4月26日時点。査定後の下取り価格が0円（下取り不成立）となる場合や、製品の状態によっては下取り価格が下がる場合があります。製品を査定し下取り価格を確定後、<span class="c-Txt_Emp-02">1カ月程度で電子マネーの楽天キャッシュにて還元</span>します。<a href="https://cash.rakuten.co.jp/overview/" target="_blank" rel="norefferer">楽天キャッシュの詳細はこちら</a>
        </p>
      <%_ } else if (currentDir === 'iphone-15-pro-max') { _%>
        <p class="c-Txt_Cap u-Adjust_Mt-8">
          *2 2024年3月1日時点。査定後の下取り価格が0円（下取り不成立）となる場合や、製品の状態によっては下取り価格が下がる場合があります。製品を査定し下取り価格を確定後、<span class="c-Txt_Emp-02">1カ月程度で電子マネーの楽天キャッシュにて還元</span>します。<a href="https://cash.rakuten.co.jp/overview/" target="_blank" rel="norefferer">楽天キャッシュの詳細はこちら</a>
        </p>
      <%_ } else { _%>
        <p class="c-Txt_Cap u-Adjust_Mt-8">
          *2 2024年4月1日時点。査定後の下取り価格が0円（下取り不成立）となる場合や、製品の状態によっては下取り価格が下がる場合があります。製品を査定し下取り価格を確定後、<span class="c-Txt_Emp-02">1カ月程度で電子マネーの楽天キャッシュにて還元</span>します。<a href="https://cash.rakuten.co.jp/overview/" target="_blank" rel="norefferer">楽天キャッシュの詳細はこちら</a>
        </p>
      <%_ } _%>
    </div>
  </div>
</div>
