<% const {namespace, productname, accessoryArray} = accessoryCarouselConf -%>
<section class="<%= namespace %>-Carousel" id="recommend">
  <div class="l-System_Container">
    <div class="<%= namespace %>-Carousel_Wrapper">
      <%# スクロール計測 %>
      <div class="u-Rat_Appear-height" data-ratid="<%= currentDir %>_scroll-03_accessory-lineup" data-ratevent="appear">&nbsp;</div>
        <h3 class="c-Heading_Lv3 u-Adjust_Align-center"><%- productname %> のアクセサリ一覧</h3>
        <div class="u-Adjust_Mt-16">
          <div class="c-Carousel <%= namespace %>-Carousel_Wrap js-<%= namespace %>-Carousel-product">

            <%_ accessoryArray.forEach(value => { _%>
              <a class="c-Card_Normal <%= namespace %>-Carousel_Item" href="<%- value.url %>">
                <div class="<%= namespace %>-Carousel_Flex">
                  <div class="<%= namespace %>-Carousel_Img">
                    <img src="<%- value.image %>" alt="<%- value.name %>">
                  </div>
                  <div class="<%= namespace %>-Carousel_Txt">
                    <p class="<%= namespace %>-Carousel_Name"><%- value.name %></p>
                    <%_ if(value.color) { _%>
                      <ul class="<%= namespace %>-Carousel_Color">
                        <%_ value.color.forEach(ele => { _%>
                          <li>
                            <span class="" style="background: <%- ele.code %>;"></span>
                          </li>
                        <%_ }); _%>
                      </ul>
                    <%_ } _%>
                  </div>
                </div>
                <div>
                  <p class="<%= namespace %>-Carousel_Price"><span><%- value.price %></span>円</p>
                </div>
              </a>
            <%_ }); _%>

          </div>
          <div class="c-Carousel_Nav <%= namespace %>-Carousel_Nav <%= namespace %>-Carousel_Product_Nav-sp"></div>
        </div>

    </div>
    <div class="<%= namespace %>-Carousel_Link u-Adjust_Align-center u-Adjust_Mt-16">
      <a class="c-Btn_Regular" href="<%= sitepath %>product/accessory/apple/">アクセサリ一覧を見る</a>
    </div>
  </div>

</section>
