<div class="product-iphone_Recommend">
  <div class="l-System_Container">
    <%# スクロール計測 %>
    <div class="u-Rat_Appear-height" data-ratid="<%= currentDir %>_scroll-14_option" data-ratevent="appear">&nbsp;</div>
    <h2 class="c-Heading_Lv2">iPhoneを使うなら楽天モバイルがおすすめ</h2>
    <div class="u-Adjust_Mt-24">
      <ul class="product-iphone_Recommend-list">
        <li class="c-Theme-Light">
          <p class="c-Txt_Emp-01"><a href="/service/replacement-program/?l-id=iphone_<%- currentDir %>_service_replacement-program" class="c-Link_Txt">楽天モバイル買い替え超トクプログラム</a></p>
          <div class="product-iphone_Recommend-service u-Adjust_Mt-16">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/product/img-service-upgradeprogram-2-230831.png" alt="">
            </div>
            <div>
              <p class="c-Txt_Emp-01">25カ月目以降の製品代金のお支払いが不要で、他の対象製品に機種変更いただけます。</p>
              <p class="c-Txt_Cap">※ 機種変更時に製品のご返却と事務手数料3,300円のお支払いが必要です。製品の状態によって故障費用がかかります。</p>
            </div>
          </div>
        </li>

        <%- include('/include/product/iphone/_recommend-product-iphone-apple-care', { currentDir }) %>

        <li class="c-Theme-Light">
          <p class="c-Txt_Emp-01"><a href="/service/tradein/?l-id=product_<%- currentDir %>_service_tradein" class="c-Link_Txt">スマホ下取りサービス<br>（Apple Watch・iPadも対象）</a></p>
          <div class="product-iphone_Recommend-service u-Adjust_Mt-16">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/product/img-service-tradein-230222.png" alt="">
            </div>
            <div>
              <p class="c-Txt_Emp-02 u-Adjust_Mt-8">iPhone 14 Pro Max を下取りに出すと、最大99,770円相当になります。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8"><span class="c-Txt_Emp-02">3/1よりiPhone 11などの下取り価格アップ！</span></p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">
                ※楽天モバイルの1TBを下取りに出した場合<br>
                ※下取り金額は電子マネーの楽天キャッシュで受け取ることができます。<br>
                ※上記下取り金額は2024年3月1日時点のものとなります。
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
