<%_
const lidIphoneUpgradeParam = (typeof l_id !== 'undefined') ? `?l-id=${l_id}_service_replacement-program` : '';
const lidTradinParam = (typeof l_id !== 'undefined') ? `?l-id=${l_id}_trade-in` : '';
const lidAppleCareServiceParam = (typeof l_id !== 'undefined') ? `?l-id=${l_id}_service_iphone_applecare-icloud` : '';
const adjustPb0 = (typeof pbOff !== 'undefined') ? ' u-Adjust_Pb-0' : '';
_%>
<div class="product-iphone_Recommend<%= adjustPb0 %>">
  <div class="l-System_Container">
    <h2 class="c-Heading_Lv2">iPhoneを使うなら楽天モバイルがおすすめ</h2>
    <div>
      <ul class="product-top-Layout_List">
        <li>
          <div class="c-Theme-Light">
            <p class="c-Txt_Emp-01 c-Txt_Normal-m">
              <a href="<%= sitepath %>service/replacement-program/<%= lidIphoneUpgradeParam %>" class="c-Link_Txt">楽天モバイル買い替え超トクプログラム</a>
            </p>
            <div class="product-top-Layout_Grid u-Adjust_Mt-16">
                <div class="l-Media_Image">
                  <figure><img src="/assets/img/product/img-service-upgradeprogram-2-230831.png" alt=""></figure>
                </div>
                <div>
                  <p class="c-Txt_Emp-01">25カ月目以降の製品代金のお支払いが不要で、他の対象製品に機種変更いただけます。</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※ 機種変更時に製品のご返却と事務手数料3,300円のお支払いが必要です。製品の状態によって故障費用がかかります。</p>
                </div>
            </div>
          </div>
        </li>
        <li>
          <div class="c-Theme-Light">
            <p class="c-Txt_Emp-01 c-Txt_Normal-m">
              <a href="<%= sitepath %>service/iphone/applecare-icloud/<%= lidAppleCareServiceParam %>" class="product-top-Layout_Grid-apple-care-link c-Link_Txt">故障紛失保証 with AppleCare Services & iCloud+</a>
            </p>
            <div class="product-top-Layout_Grid-apple-care u-Adjust_Mt-16">
              <img src="/assets/img/product/iphone/apple_care-240221.png" alt="">
              <p>
                <span class="c-Txt_Emp-02">加入できるのは購入時のみ！</span>
                <span class="c-Txt_Emp-01 u-Adjust_Mt-8">iPhoneもデータもオールインワンで守ります。</span>
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="c-Theme-Light">
            <p class="c-Txt_Emp-01 c-Txt_Normal-m">
              <a href="/service/tradein/<%= lidTradinParam %>" class="c-Link_Txt">スマホ下取りサービス<br>（Apple Watch・iPadも対象）</a>
            </p>
              <div class="product-top-Layout_Grid u-Adjust_Mt-16">
                <div class="l-Media_Image">
                  <figure><img src="<%= sitepath %>assets/img/product/img-service-tradein-230222.png" alt=""></figure>
                </div>
                <div class="product-iphone_Recommend-service-text">
                  <p class="c-Txt_Emp-02">iPhone 14 Pro Max を下取りに出すと、最大99,770円相当になります。</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8"><span class="c-Txt_Emp-02">3/1よりiPhone 11などの下取り価格アップ！</span></p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">
                    ※楽天モバイルの1TBを下取りに出した場合<br>
                    ※下取り金額は電子マネーの楽天キャッシュで受け取ることができます。<br>
                    ※上記下取り金額は2024年3月1日時点のものとなります。
                  </p>
                  </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
