<div class="product-iphone_Recommend">
  <div class="l-System_Container">
    <%# スクロール計測 %>
    <div class="u-Rat_Appear-height" data-ratid="<%= currentDir %>_scroll-14_option" data-ratevent="appear">&nbsp;</div>
    <h2 class="c-Heading_Lv2">iPhoneを使うなら楽天モバイルがおすすめ</h2>
    <div class="u-Adjust_Mt-24">
      <ul class="product-iphone_Recommend-list">

        <li class="c-Theme-Light">
          <p class="c-Txt_Emp-01"><a href="/service/iphone/upgrade-program/?l-id=iphone_<%- currentDir %>_service_iphone_upgrade-program" class="c-Link_Txt">楽天モバイルiPhoneアップグレードプログラム</a></p>
          <div class="product-iphone_Recommend-service u-Adjust_Mt-16">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/product/img-service-upgradeprogram-221125.png" alt="">
            </div>
            <div>
              <p class="c-Txt_Emp-01">25カ月目以降の製品代金のお支払いが不要で、他の対象製品に機種変更いただけます。</p>
              <p class="c-Txt_Cap">※ 機種変更時に製品のご返却と事務手数料3,300円のお支払いが必要です。製品の状態によって故障費用がかかります。</p>
            </div>
          </div>
        </li>

        <li class="c-Theme-Light">
          <p class="c-Txt_Emp-01"><a href="/service/iphone/applecare/" class="c-Link_Txt">故障紛失保証 with AppleCare Services</a></p>
          <div class="product-iphone_Recommend-service u-Adjust_Mt-16">
            <div class="l-Media_Image">
              <img src="/assets/img/product/iphone/apple_care.png?220413" alt="">
            </div>
            <div>
              <p class="c-Txt_Emp-02">加入できるのは購入時のみ</p>
              <p class="u-Adjust_Mt-8">あなたのiPhoneを守ろう。製品の修理や、盗難・紛失に対する保証が受けられます。</p>
            </div>
          </div>
        </li>

        <li class="c-Theme-Light">
          <p class="c-Txt_Emp-01"><a href="/service/tradein/?l-id=product_<%- currentDir %>_service_tradein" class="c-Link_Txt">スマホ下取りサービス</a></p>
          <div class="product-iphone_Recommend-service u-Adjust_Mt-16">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/product/img-service-tradein-230222.png" alt="">
            </div>
            <div>
              <p class="c-Txt_Emp-02 u-Adjust_Mt-8">iPhone 12 Pro を下取りに出すと、最大54,230円相当になります。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">
                ※楽天モバイルの512GBを下取りに出した場合<br>
                ※下取り金額は電子マネーの楽天キャッシュで受け取ることができます。
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
