<%# 予約ボタンインクルードここから %>
<div class="u-Adjust_Align-center u-Adjust_Mt-32">
  <p class="c-Heading_Lv4 c-Txt_Emp-01">9月22日（金） 午前8:00 発売</p>
  <p class="c-Txt_Cap" style="font-weight: bold">※製品の発送は9月21日（木）以降となります。</p>
</div>

<div class="u-Adjust_Align-center u-Adjust_Mt-16">
  <a href="<%- urlTop %>" class="c-Btn_Primary-large js-cta" data-ratid="<%= currentDir %>_top_bss-<%= currentDir %>" data-ratevent="click" data-ratparam="all"><%- ctalabel %></a>
</div>
<p class="c-Txt_Cap u-Adjust_Align-center u-Adjust_Mt-8">※カラーや容量、お支払い方法は購入画面で<span class="product-<%= namespace %>-Utility_Inline-block">選択してください。</span></p>
<p class="c-Txt_Emp-02 u-Adjust_Mt-8 u-Adjust_Align-center">ご好評により、一部またはすべてのカラーや容量で、お届けに時間を要する場合がございます。</p>
<p class="u-Adjust_Mt-16 u-Adjust_Align-center"><a href="<%= sitepath %>product/iphone/stock/" class="c-Link_Txt-inline">在庫状況を確認する<span class="c-Icon_Chevron-right"></span></a></p>
<%# 予約ボタンインクルードここまで %>
