<% const pagetitle = "スペック詳細" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/rakuten/", label:"Rakutenオリジナル"}, {path:"product/smartphone/rakuten-big/", label:"Rakuten BIG"}] -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '「Rakuten BIG」のスペック詳細。カメラ機能・容量・色・サイズ（解像度）・バッテリー持ちなど性能についてご覧いただけます',
    noindex: false,
    pathname: 'product/smartphone/rakuten-big/spec.html'
  });
%>

<%- include('/include/_common-css-v2') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<%- include('/include/_breadcrumbs', {
  type: 'head',
  pagetitle,
  directories,
}) %>

<div class="u-Adjust_Pb-64">
  <div class="l-System_Container u-Adjust_Mt-32">
    <h1 class="c-Heading_Lv1">Rakuten BIG</h1>

    <div class="u-Adjust_Mt-24 c-Accordion">
      <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>基本スペック</button>
      <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="false">
        <dl class="c-Dl">
          <div>
            <dt>製品名</dt>
            <dd>
              Rakuten BIG
            </dd>
          </div>
          <div>
            <dt>型番</dt>
            <dd>
              ZR01
            </dd>
          </div>
          <div>
            <dt>色</dt>
            <dd>
              ホワイト / ブラック / クリムゾンレッド
            </dd>
          </div>
          <div>
            <dt>サイズ</dt>
            <dd>
              約174 x 約80 x 約9 (mm)
            </dd>
          </div>
          <div>
            <dt>重量</dt>
            <dd>
              約227g
            </dd>
          </div>
          <div>
            <dt>ディスプレイ</dt>
            <dd>
              <p>サイズ / 種類</p>
              約6.9インチ / 有機EL
              <p class="u-Adjust_Mt-16">解像度</p>
              FHD+ / 2,460 × 1,080
            </dd>
          </div>
          <div>
            <dt>CPU</dt>
            <dd>
              Qualcomm® Snapdragon™ 765G 5G mobile platform / オクタコア 2.4GHz + 2.2GHz + 1.8GHz
            </dd>
          </div>
          <div>
            <dt>OS</dt>
            <dd>
              Android™ 10
            </dd>
          </div>
          <div>
            <dt>内蔵メモリ（RAM / ROM）</dt>
            <dd>
              6GB (RAM) / 128GB (ROM)
            </dd>
          </div>
          <div>
            <dt>外部メモリ</dt>
            <dd>
              micro SDXC™ (最大 256GB)
            </dd>
          </div>

          <div>
            <dt>バッテリー容量</dt>
            <dd>
              約4,000mAh
            </dd>
          </div>

          <div>
            <dt>ワイヤレス充電</dt>
            <dd>
              非対応
            </dd>
          </div>
          <div>
            <dt>連続待受時間</dt>
            <dd>
              <p>LTE</p>
              約530時間
              <p class="u-Adjust_Mt-16">3G</p>
              約467時間
              <p class="u-Adjust_Mt-16">GSM</p>
              非対応
            </dd>
          </div>
          <div>
            <dt>連続通話時間</dt>
            <dd>
              <p>LTE</p>
              約21.7時間
              <p class="u-Adjust_Mt-16">3G</p>
              約28.4時間
              <p class="u-Adjust_Mt-16">GSM</p>
              非対応
            </dd>
          </div>
          <div>
            <dt>通信速度※1</dt>
            <dd>
              <p>5G(Sub6)受信時</p>
              2.13Gbps
              <p class="u-Adjust_Mt-16">5G(Sub6)送信時</p>
              217Mbps
              <p class="u-Adjust_Mt-16">5G(ミリ波)受信時</p>
              2.80Gbps
              <p class="u-Adjust_Mt-16">5G(ミリ波)送信時</p>
              273Mbps
              <p class="u-Adjust_Mt-16">LTE 受信時</p>
              400Mbps
              <p class="u-Adjust_Mt-16">LTE 送信時</p>
              75Mbps
            </dd>
          </div>
          <div>
            <dt>SIM</dt>
            <dd>
              eSIM
            </dd>
          </div>
          <div>
            <dt>ワンセグ / フルセグ</dt>
            <dd>
              非対応 / 非対応
            </dd>
          </div>
          <div>
            <dt>おサイフケータイ</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>NFC</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>防水 / 防塵</dt>
            <dd>
              対応 (IPX8 / IP6X)
            </dd>
          </div>
          <div>
            <dt>耐衝撃</dt>
            <dd>
              非対応
            </dd>
          </div>
          <div>
            <dt>生体認証（指紋 / 顔）</dt>
            <dd>
              対応 / 非対応
            </dd>
          </div>
          <div>
            <dt>VoLTE（Rakuten, docomo, au, SoftBank）</dt>
            <dd>
                対応 / 非対応 / 非対応 / 非対応
            </dd>
          </div>
          <div>
            <dt>急速充電</dt>
            <dd>
              対応
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>通信</button>
      <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
        <dl class="c-Dl">
          <div>
            <dt>VoLTE (Rakuten / docomo / au / SoftBank)</dt>
            <dd>
              対応 / 非対応 / 非対応 / 非対応
            </dd>
          </div>
          <div>
            <dt>4x4 MIMO</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>256 QAM</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>Wi-Fi</dt>
            <dd>
              IEEE802.11 a/b/g/n/ac
            </dd>
          </div>
          <div>
            <dt>テザリング</dt>
            <dd>
              10台
            </dd>
          </div>
          <div>
            <dt>Bluetooth&reg;</dt>
            <dd>
              ver 5.1
            </dd>
          </div>
          <div>
            <dt>赤外線通信</dt>
            <dd>
              非対応
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>カメラ</button>
      <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
        <p class="c-Txt_Emp-01 u-Adjust_Pt-32 u-Adjust_Pb-16">メインカメラ（外側）</p>
        <dl class="c-Dl">
          <div>
            <dt>解像度</dt>
            <dd>
              約800万画素 (超広角) + 約6,400万画素 (広角) + 約200万画素 (深度測位) + 約200万画素 (マクロ)
            </dd>
          </div>
          <div>
            <dt>オプティカルズーム（写真 / 動画） ※最大</dt>
            <dd>
              非対応
            </dd>
          </div>
          <div>
            <dt>デジタルズーム（写真 / 動画） ※最大</dt>
            <dd>
              約10倍 / 10倍
            </dd>
          </div>
          <div>
            <dt>手振れ補正（写真 / 動画）</dt>
            <dd>
              対応 / 対応
            </dd>
          </div>
          <div>
            <dt>オートフォーカス</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>F値</dt>
            <dd>
              f/2.2, f/1.89, f/2.4, f/2.4
            </dd>
          </div>
          <div>
            <dt>ISO（最大）</dt>
            <dd>
              4,800, 25,600, 3,100, 25,600
            </dd>
          </div>
          <div>
            <dt>HDR</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>LEDフラッシュ</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>AIカメラ</dt>
            <dd>
              対応
            </dd>
          </div>
        </dl>

        <p class="c-Txt_Emp-01 u-Adjust_Pt-32 u-Adjust_Pb-16">フロントカメラ（内側）</p>
        <dl class="c-Dl">
          <div>
            <dt>解像度</dt>
            <dd>
              約3,200万画素
            </dd>
          </div>
          <div>
            <dt>オプティカルズーム（写真 / 動画） ※最大</dt>
            <dd>
              非対応
            </dd>
          </div>
          <div>
            <dt>デジタルズーム（写真 / 動画） ※最大</dt>
            <dd>
              約4倍 / 4倍
            </dd>
          </div>
          <div>
            <dt>手振れ補正（写真 / 動画）</dt>
            <dd>
              対応 / 非対応
            </dd>
          </div>
          <div>
            <dt>オートフォーカス</dt>
            <dd>
              非対応
            </dd>
          </div>
          <div>
            <dt>F値</dt>
            <dd>
              f/2
            </dd>
          </div>
          <div>
            <dt>ISO（最大）</dt>
            <dd>
              9,000
            </dd>
          </div>
          <div>
            <dt>HDR</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>LEDフラッシュ</dt>
            <dd>
              非対応
            </dd>
          </div>
          <div>
            <dt>AIカメラ</dt>
            <dd>
              非対応
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>付属品</button>
      <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
        <dl class="c-Dl">
          <div>
            <dt>付属品</dt>
            <dd>
              USB Type-Cケーブル / USB Type-C - 3.5mmイヤホン変換アダプター / クイックスタートガイド（保証書） / 安全上のご注意 / SDカード取り出しツール
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>その他</button>
      <div id="accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-5" aria-hidden="true">
        <dl class="c-Dl">
          <div>
            <dt>ハイレゾ・オーディオ</dt>
            <dd>
              非対応
            </dd>
          </div>
          <div>
            <dt>緊急速報機能</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>イヤホンマイクジャック</dt>
            <dd>
              非対応
            </dd>
          </div>
          <div>
            <dt>USB</dt>
            <dd>
              USB Type-C / USB 3.1 (Gen 1)
            </dd>
          </div>
          <div>
            <dt>GPS</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>動画コーデック</dt>
            <dd>

                  H.263 /

                  H.264 /

                  H.265 /

                  MPEG-2 Video /

                  MPEG-4 Video /

                  VP8 /

                  VP9 /

                  Xvid /
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-6"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>対応周波数</button>
      <div id="accordion-content-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-6" aria-hidden="true">
        <dl class="c-Dl u-Adjust_Mt-16">
          <div>
            <dt>5G (Sub6)</dt>
            <dd>
              Band n77 (3.8GHz)
            </dd>
          </div>
          <div>
            <dt>5G (ミリ波)</dt>
            <dd>
              Band n257 (28 GHz)
            </dd>
          </div>
          <div>
            <dt>LTE (FD)</dt>
            <dd>
              Band 1 (2.1GHz) / Band 3 (1.8GHz) / Band 4 (1.7GHz / 2.1GHzAWS) / Band 5 (850MHz) / Band 7 (2.6GHz) / Band 12 (700MHz) / Band 17 (700MHz) / Band 18 (800MHz) / Band 19 (800MHz) / Band 26 (800MHz) / Band 28 (700MHz APT)
            </dd>
          </div>
          <div>
            <dt>TD-LTE</dt>
            <dd>
              Band 38 (2.6GHz) / Band 41 (2.5GHz) / Band 42 (3.4GHz)
            </dd>
          </div>
          <div>
            <dt>WCDMA</dt>
            <dd>
              Band I (2.1GHz) / Band II (1.9GHz) / Band IV (1.7GHz / 2.1GHz AWS) / Band V (850MHz)
            </dd>
          </div>
          <div>
            <dt>GSM</dt>
            <dd>
              非対応
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <ul class="c-Txt_Cap u-Adjust_Mt-24">
      <li>※1 通信速度は、ベストエフォート方式により、端末で実現される理論値であり、実際の通信速度は通信環境やネットワークの混雑状況によって変化します。</li>
      <li class="c-Txt_Emp-01 u-Adjust_Mt-8">※ 充電器が付属されていません。充電器は当社推奨品をご利用ください。推奨品は<a class="c-Link_Txt" href="<%= sitepath %>product/accessory/owltech-owlapd18c1a1/">こちら</a>。</li>
      <li class="u-Adjust_Mt-8">※ IPX8とは、常温で水道水、かつ静水の水深1.5mのところに携帯電話を静かに沈め、約30分間放置後に取り出したときに通信機器としての機能を有することを意味します。</li>
      <li class="u-Adjust_Mt-8">※ IP6Xとは、保護度合いを指し、直径75μm以下の塵埃（じんあい）が入った装置に携帯電話を8時間入れてかくはんさせ、取り出したときに内部に塵埃が侵入しない機能を有することを意味します。</li>
      <li class="u-Adjust_Mt-8">※ 海外渡航時、3Gネットワークがない国では国際通話（海外でOS標準の電話アプリ利用時）サービスはご利用いただけません。Rakuten Linkアプリから通話をご利用ください。</li>
    </ul>

    <p class="u-Adjust_Mt-32"><a href="<%= sitepath %>product/smartphone/rakuten-big/" class="c-Link_Txt-icon-front"><span class="c-Icon_Chevron-left"></span>製品詳細へ戻る</a></p>

  </div>
</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">
    <%- include('/include/footer/related/_related-product-v2.ejs') %>
  </div>
  <div class="l-System_Container">
    <%- include('/include/_breadcrumbs', {
      type: 'foot',
      pagetitle,
      directories,
    }) %>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
