<% const pagetitle = "故障紛失保証 with AppleCare Services（修理のご利用方法）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/iphone/applecare/", label:"故障紛失保証 with AppleCare Services"}, {path:"guide/iphone/applecare/", label:"故障紛失保証 with AppleCare Services（ご利用方法）"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルで購入したiPhoneの保証サービス「故障紛失保証 with AppleCare Services」を利用した修理方法に関して、各サービス内容とご利用方法をご案内いたします。受付方法は「持ち込み修理」と「配送修理」がありますので、お客様のご都合にあわせて、ご利用ください。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "repair" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/iphone/applecare/<%= nameSpace %>/repair.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>

</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>
<div class="l-System">
  <div class="l-System_Container u-Adjust_Pb-24">
    <h1 class="c-Txt_Normal-xl u-Adjust_Mt-32 c-Txt_Emp-01">故障紛失保証 with AppleCare Services（修理のご利用方法）</h1>
    <p class="u-Adjust_Mt-16">故障紛失保証 with AppleCare Servicesを利用した修理サービスに関して、各サービス内容とご利用方法をご案内いたします。受付方法は2種類ありますので、お客様のご都合にあわせて、ご利用ください。</p>
    <p class="u-Adjust_Mt-8"><a href="https://support.apple.com/ja-jp/repair" class="c-Link_Txt-inline-icon" target="_blank">Apple社の修理サービスの詳細を見る<span class="c-Icon_New-window-l"></span></a></p>

    <div class="c-Tab js-Tab u-Adjust_Mt-32">
      <ul class="c-Tab_Items" role="tablist">
        <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">持ち込み修理</li>
        <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">配送修理</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
        <h2 class="c-Txt_Normal-ll c-Txt_Emp-01 u-Adjust_Mt-24">持ち込み修理</h2>
        <div class="u-Adjust_Mt-16">
          <p>お近くのApple StoreまたはApple 正規サービスプロバイダーに、故障したiPhoneをお持ちいただく方法になります。</p>
          <p class="u-Adjust_Mt-16"><a href="https://locate.apple.com/" class="c-Link_Txt-inline-icon" target="_blank">お近くのApple StoreまたはApple 正規サービスプロバイダーを確認する<span class="c-Icon_New-window-l"></span></a></p>
        </div>

        <div class="u-Adjust_Mt-24">
          <dl class="c-Dl_Origin">
            <div>
              <dt>負担額</dt>
              <dd>
                【iPhone 14,13,12シリーズ】<br>
                画面または背面ガラスの修理：3,700円<br>
                画面または背面ガラスの修理以外：12,900円
                <p class="u-Adjust_Mt-8">【上記シリーズ以外】<br>画面の修理：3,700円<br>画面の修理以外：12,900円</p>
                <ul class="c-Txt_Cap u-Adjust_Mt-16">
                  <li><span>※</span>自然故障の場合は無償</li>
                </ul>
              </dd>
            </div>
            <div>
              <dt>予約</dt>
              <dd>
                必須
              </dd>
            </div>
            <div>
              <dt>修理日数</dt>
              <dd>
                即日～
                <ul class="c-Txt_Cap">
                  <li><span>※</span>故障状況によりお預かり修理になります。</li>
                </ul>
              </dd>
            </div>
          </dl>
          <ul class="c-Txt_Cap u-Adjust_Mt-16">
            <li><span>※</span>2022年9月10日現在のご利用料金です。</li>
            <li><span>※</span>故障機の診断の結果、全損（壊滅的な損傷）や改造品であった場合、故意・過失の別なく、別途修理価格に定める保証外交換機価格をお支払いいただきます。</li>
          </ul>
        </div>

        <h2 class="c-Txt_Normal-ll c-Txt_Emp-01 u-Adjust_Mt-64">持ち込み修理のご利用方法</h2>

        <ul class="c-Flow u-Adjust_Mt-40">
          <li>
            <h3 class="c-Heading_Lv3">1. Apple サポートから申請する</h3>
            <div class="u-Adjust_Mt-16">
              <p>Apple サポートのサイトで該当するトピックを選択してから、ご希望の項目をお選びください。<br>
                ご予約の際には、あらかじめご自分の Apple IDとパスワードをご確認ください。</p>
              <p class="u-Adjust_Mt-24 u-Adjust_Align-left"><a href="https://getsupport.apple.com/" class="c-Btn_Regular" target="_blank"><span>Apple サポートにアクセスする<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></p>
              <p class="u-Adjust_Mt-24">電話でAppleCare アドバイザーにご相談いただく場合は、以下まで直接お問い合わせください。</p>
              <p class="u-Adjust_Mt-16"><a href="tel:0120-277-535" class="c-Link_Txt c-Txt_Normal-m">0120-277-535</a></p>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2. 修理の事前準備をする</h3>
            <div class="u-Adjust_Mt-16">
              <p><span class="c-Txt_Emp-02">修理の前に、必ず以下の対応を行ってください。</span><br>
                修理の過程で製品のデータは消去されますので、ご注意ください。</p>

              <ul class="c-List_Text-disc u-Adjust_Mt-16">
                <li>データのバックアップをとる。</li>
              </ul>
                <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/iphone/icloud/" class="c-Link_Txt-inline-icon">iCloudでのバックアップ方法<span class="c-Icon_Chevron-right"></span></a></p>
                <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/iphone/itunes/" class="c-Link_Txt-inline-icon">iTunesでのバックアップ方法<span class="c-Icon_Chevron-right"></span></a></p>
              <ul class="c-List_Text-disc u-Adjust_Mt-16">
                <li>アクセサリやカバーを取り外す。</li>
              </ul>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3. 来店して故障したiPhoneを渡す</h3>
            <div class="u-Adjust_Mt-16">
              <p>事前に予約した日時で、指定したApple StoreまたはApple 正規サービスプロバイダーに、故障したiPhoneを持ってご来店ください。<br>
                Apple の認定技術者が対応いたします。</p>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">4. 修理されたiPhoneを受け取る</h3>
            <div class="u-Adjust_Mt-16">
              <ul class="c-Txt_Cap">
                <li><span>※</span>受け取り方法に関しては、3.のご来店時にご確認ください。</li>
              </ul>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">5. iPhoneのセットアップを行う</h3>
            <div class="u-Adjust_Mt-16">
              <p>あらかじめバックアップしておいたデータを使用し、セットアップと初期設定を行ってください。</p>
              <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/iphone/icloud/index.html#initial_setting" class="c-Link_Txt-inline-icon">iCloudでのバックアップからの復元方法<span class="c-Icon_Chevron-right"></span></a></p>
              <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/iphone/itunes/index.html#initial_setting" class="c-Link_Txt-inline-icon">iTunesでのバックアップからの復元方法<span class="c-Icon_Chevron-right"></span></a></p>
            </div>
          </li>
        </ul>
        <p class="u-Adjust_Mt-24">以上が持ち込み修理のご利用方法になります。</p>
      </div>

      <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
        <h2 class="c-Txt_Normal-ll c-Txt_Emp-01 u-Adjust_Mt-24">配送修理</h2>
        <div class="u-Adjust_Mt-16">
          <p>宅配業者がご自宅やオフィスにiPhoneを引き取りにうかがい、修理が完了しましたら、Apple よりご返送いたします。
            修理は通常5～7営業日で完了します。</p>
        </div>

        <div class="u-Adjust_Mt-24">
          <dl class="c-Dl_Origin">
            <div>
              <dt>負担額</dt>
              <dd>
                【iPhone 14,13,12シリーズ】<br>
                画面または背面ガラスの修理：3,700円<br>
                画面または背面ガラスの修理以外：12,900円
                <p class="u-Adjust_Mt-8">【上記シリーズ以外】<br>画面の修理：3,700円<br>画面の修理以外：12,900円</p>
                <ul class="c-Txt_Cap">
                  <li class="u-Adjust_Pl-0 u-Adjust_Mt-16">※自然故障の場合は無償 ※送料無料</li>
                </ul>
              </dd>
            </div>
            <div>
              <dt>予約</dt>
              <dd>
                必須
              </dd>
            </div>
            <div>
              <dt>修理日数</dt>
              <dd>
                通常5～7営業日
                <ul class="c-Txt_Cap">
                  <li><span>※</span>故障状況により前後します。別途配送にお日にちを頂戴いたします。</li>
                </ul>
              </dd>
            </div>
          </dl>
          <ul class="c-Txt_Cap u-Adjust_Mt-16">
            <li><span>※</span>2022年9月10日現在のご利用料金です。</li>
            <li><span>※</span>故障機の診断の結果、全損（壊滅的な損傷）や改造品であった場合、故意・過失の別なく、別途修理価格に定める保証外交換機価格をお支払いいただきます。</li>
          </ul>
        </div>

        <h2 class="c-Txt_Normal-ll c-Txt_Emp-01 u-Adjust_Mt-64">配送修理のご利用方法</h2>

        <ul class="c-Flow u-Adjust_Mt-40">
          <li>
            <h3 class="c-Heading_Lv3">1. Apple サポートから申請する</h3>
            <div class="u-Adjust_Mt-16">
              <p>Apple サポートのサイトで該当するトピックを選択してから、ご希望の項目をお選びください。<br>
                ご予約の際には、あらかじめご自分の Apple IDとパスワードをご確認ください。</p>
              <p class="u-Adjust_Mt-24 u-Adjust_Align-left"><a href="https://getsupport.apple.com/" class="c-Btn_Regular" target="_blank"><span>Apple サポートにアクセスする<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></p>
              <p class="u-Adjust_Mt-24">電話でAppleCare アドバイザーにご相談いただく場合は、以下まで直接お問い合わせください。</p>
              <p class="u-Adjust_Mt-16"><a href="tel:0120-277-535" class="c-Link_Txt c-Txt_Normal-m">0120-277-535</a></p>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2. 修理の事前準備をする</h3>
            <div class="u-Adjust_Mt-16">
              <p><span class="c-Txt_Emp-02">修理の前に、必ず以下の対応を行ってください。</span><br>
                修理の過程で製品のデータは消去されますので、ご注意ください。</p>

              <ul class="c-List_Text-disc u-Adjust_Mt-16">
                <li>データのバックアップをとる。</li>
              </ul>
              <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/iphone/icloud/" class="c-Link_Txt-inline-icon">iCloudでのバックアップ方法<span class="c-Icon_Chevron-right"></span></a></p>
              <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/iphone/itunes/" class="c-Link_Txt-inline-icon">iTunesでのバックアップ方法<span class="c-Icon_Chevron-right"></span></a></p>
              <ul class="c-List_Text-disc u-Adjust_Mt-16">
                <li>パスワード  、画面ロック、「iPhoneを探す」の解除等のセキュリティ設定を無効化する。</li>
              </ul>
              <a href="<%= sitepath %>guide/iphone/find-my-iphone-off/" class="c-Link_Txt-inline-icon u-Adjust_Mt-8">「iPhoneを探す」をオフにする方法<span class="c-Icon_Chevron-right"></span></a>
              <ul class="c-List_Text-disc u-Adjust_Mt-16">
                <li>SIMを取り外す。</li>
              </ul>
              <p class="u-Adjust_Mt-8">nanoSIMをご利用の場合は iPhoneから取り外し、安全な場所に保管をお願いいたします。<br>
                eSIMをご利用の場合は、以下よりサービスの停止をお申し込みください。</p>
              <a href="<%= sitepath %>guide/sim-lost/" class="c-Link_Txt-inline-icon u-Adjust_Mt-8">利用停止・再開について<span class="c-Icon_Chevron-right"></span></a>
              <ul class="c-List_Text-disc u-Adjust_Mt-16">
                <li>アクセサリやカバーを取り外す。</li>
              </ul>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">３. 宅配業者に故障したiPhoneを渡す</h3>
            <div class="u-Adjust_Mt-16">
              <p>引き取りにきた宅配業者に故障したiPhoneをお渡しください。</p>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">4. 修理されたiPhoneを受け取る</h3>
            <div class="u-Adjust_Mt-16">
              <p>修理完了後、指定した住所にiPhoneが届きますので、お受け取りをお願いいたします。</p>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">5. iPhoneのセットアップを行う</h3>
            <div class="u-Adjust_Mt-16">
              <p>あらかじめバックアップしておいたデータを使用し、セットアップと初期設定を行ってください。</p>
              <ul class="c-Txt_Cap">
                <li><span>※</span>eSIMをご利用の場合は、<a href="<%= sitepath %>faq/detail/00002047/?l-id=search_top#eSIM">「eSIMの再発行を行う」</a>をご確認いただき、再発行を行ってください。</li>
              </ul>
              <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/iphone/icloud/index.html#initial_setting" class="c-Link_Txt-inline-icon">iCloudでのバックアップからの復元方法<span class="c-Icon_Chevron-right"></span></a></p>
              <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/iphone/itunes/index.html#initial_setting" class="c-Link_Txt-inline-icon">iTunesでのバックアップからの復元方法<span class="c-Icon_Chevron-right"></span></a></p>
            </div>
          </li>
        </ul>
        <p class="u-Adjust_Mt-24">以上が配送修理のご利用方法になります。</p>
      </div>
    </div>

  </div>

  <div class="u-Adjust_Mt-16 u-Adjust_Pb-64 l-System_Container">
    <div class="u-Adjust_Mt-16"><a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップに戻る</span></a></div>
    <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a></div>
  </div>



</div>


<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%- include('/include/footer/related/_related-service-v2.ejs') %>

  </div>
  <%- include('/include/guide/_inquiry') %>
  <div class="l-System_Container">
  <div class="c-Breadcrumbs_Foot">
    <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
  </div>
  </div>
  <%- include('/include/_footer') %>
</footer>
</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/guide/_iphone') %>
<%- include('/include/_append-body') %>
</body>
</html>
