<% const pagetitle = "YouTube Premium 3カ月無料キャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "youtubepremium" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '楽天モバイルご契約者様対象 YouTube Premium が3カ月無料でご利用いただけるキャンペーンです。',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/youtubepremium/youtubepremium.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="l-System_Container">
      <ul class="c-Label_List u-Adjust_Mt-8">
        <li class="c-Label_Normal">ご契約者様対象</li>
      </ul>
    </div>
    <div class="<%= namespace %>-Hero_Wrapper u-Adjust_Mt-8">
      <div class="<%= namespace %>-Hero">
        <h1>
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/youtubepremium/kv-sp.png">
            <img src="<%= sitepath %>assets/img/campaign/youtubepremium/kv-pc.png" alt="楽天モバイルご契約者様対象YouTube Premium初回3カ月無料 広告なしの動画や1億曲以上の音楽が視聴できる!!" width="684">
          </picture>
        </h1>
      </div>
    </div>
    <div class="l-System_Container">
      <p class="<%= namespace %>-Utility_Align-center-left c-Txt_Cap u-Adjust_Mt-24">
        ※本ページにおいて楽天モバイルご契約者様とは「Rakuten最強プラン」のご契約者様を指します
      </p>
      <p class="u-Adjust_Mt-8 u-Adjust_Align-center">
        <span class="c-Txt_Emp-01">【キャンペーン期間】</span><br class="<%= namespace %>-Utility_Show-sp">2023年5月16日（火）9:00～終了日未定
      </p>
      <ul class="<%= namespace %>-Layout_Links u-Adjust_Mt-32">
        <li>
          <a href="#campaign" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>キャンペーンの流れ</a>
        </li>
        <li>
          <a href="#faq" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>よくあるご質問</a>
        </li>
        <li>
          <a href="#campaign-rule" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルール</a>
        </li>
        <li>
          <a href="#campaign-data" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>最大1,500ポイントもらえるキャンペーン</a>
        </li>
      </ul>
    </div>
    <div class="<%= namespace %>-Utility_Theme-gray <%= namespace %>-Utility_Mt-64-48">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">YouTube Premium とは</h2>
        <p class="<%= namespace %>-Utility_Align-center-left u-Adjust_Mt-16">
          動画も音楽もノンストップ。<br>
          広告なしの YouTube と YouTube Music を、バックグラウンド再生やオフライン環境で楽しめます。
        </p>
        <ul class="<%= namespace %>-Layout_Cards u-Adjust_Mt-24">
          <li>
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/youtubepremium/playtransparent.png" width="72">
              <img src="<%= sitepath %>assets/img/campaign/youtubepremium/playtransparent.png" alt="" width="84">
            </picture>
            <div class="<%= namespace %>-Utility_Align-center-left">
              <h3 class="c-Txt_Normal-l">広告なし、<br>バックグラウンド再生</h3>
              <p class="u-Adjust_Mt-8">
                他⁠の⁠ア⁠プ⁠リ⁠を⁠使⁠用⁠し⁠て⁠い⁠る⁠間⁠も⁠、<br class="<%= namespace %>-Utility_Show-pc">
                画⁠面⁠が⁠ロ⁠ッ⁠ク⁠さ⁠れ⁠て⁠い⁠て⁠も⁠、<br class="<%= namespace %>-Utility_Show-pc">
                広⁠告⁠な⁠し⁠で動画や音楽を再生できます。
              </p>
            </div>
          </li>
          <li>
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/youtubepremium/download.png" width="72">
              <img src="<%= sitepath %>assets/img/campaign/youtubepremium/download.png" alt="" width="84">
            </picture>
            <div class="<%= namespace %>-Utility_Align-center-left">
              <h3 class="c-Txt_Normal-l">動画の一時保存</h3>
              <p class="u-Adjust_Mt-8">
                動⁠画⁠を一⁠時⁠保⁠存⁠し⁠て⁠、<br class="<%= namespace %>-Utility_Show-pc">
                インターネットが使えない<br class="<%= namespace %>-Utility_Show-pc">
                オフライン環境でも再⁠生⁠で⁠き⁠ま⁠す⁠。
              </p>
            </div>
          </li>
          <li>
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/youtubepremium/musicapp.png" width="72">
              <img src="<%= sitepath %>assets/img/campaign/youtubepremium/musicapp.png" alt="" width="84">
            </picture>
            <div class="<%= namespace %>-Utility_Align-center-left">
              <h3 class="c-Txt_Normal-l">YouTube Music Premium</h3>
              <p class="u-Adjust_Mt-8">
                1億曲以上の公式楽曲や<br class="<%= namespace %>-Utility_Show-pc">
                ライブ映像・人気急上昇中のMVを、<br class="<%= namespace %>-Utility_Show-pc">
                広告なしでバックグラウンド再生や<br class="<%= namespace %>-Utility_Show-pc">
                オフライン環境で楽しめる <br class="<%= namespace %>-Utility_Show-pc">
                YouTube Music Premium も追加料金なしでご利用いただけます。
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="l-System_Container <%= namespace %>-Utility_Mt-64-48">
      <h2 id="campaign" class="u-Adjust_Align-center c-Heading_Lv2">キャンペーンの流れ</h2>
      <ol class="c-Flow u-Adjust_Mt-24">
        <li>
          <h3 class="c-Txt_Normal-l"><span class="c-Txt_Emp-02">STEP 1　</span><br class="<%= namespace %>-Utility_Show-sp">「my 楽天モバイル」にあるキャンペーンバナーをタップ</h3>
          <p class="<%= namespace %>-Utility_Mt-24-16">
            楽天会員IDで「my 楽天モバイル」へログインし、<br class="<%= namespace %>-Utility_Show-pc">
            ページ下部にある「YouTube Premium 初回3カ月無料」バナーをタップしてください。
          </p>
          <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile?l-id=campaign_youtubepremium_my-rakuten-mobile_01" target="_blank" class="c-Btn_Primary-large"><span>my 楽天モバイルはこちら</span></a>
          </div>
          <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <span class="<%= namespace %>-Layout_Step-caption">my 楽天モバイルページ</span>
            <div class="l-Media_Image c-Flow_Image u-Adjust_Mt-8">
              <img src="<%= sitepath %>assets/img/campaign/youtubepremium/step-1-230601.png" alt="" width="300">
            </div>
          </div>
        </li>
        <li>
          <h3 class="c-Txt_Normal-l"><span class="c-Txt_Emp-02">STEP 2　</span><br class="<%= namespace %>-Utility_Show-sp">クーポンを取得する</h3>
          <p class="<%= namespace %>-Utility_Mt-24-16">
            クーポン取得ページで「クーポンを取得する」ボタンをタップすると<br class="<%= namespace %>-Utility_Show-pc">
            3カ月無料クーポンが付与され、お申し込みの際に自動で反映されます。
          </p>
          <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <span class="<%= namespace %>-Layout_Step-caption">クーポン取得ページ（取得前）</span>
            <div class="l-Media_Image c-Flow_Image u-Adjust_Mt-8">
              <img src="<%= sitepath %>assets/img/campaign/youtubepremium/step-2.png" alt="" width="300">
            </div>
          </div>
        </li>
        <li>
          <h3 class="c-Txt_Normal-l"><span class="c-Txt_Emp-02">STEP 3　</span><br class="<%= namespace %>-Utility_Show-sp">YouTube Premiumお申し込みページへ進む</h3>
          <p class="<%= namespace %>-Utility_Mt-24-16">
            クーポンを取得すると「YouTube Premiumを申し込む」ボタンが表示されます。<br class="<%= namespace %>-Utility_Show-pc">
            「YouTube Premiumを申し込む」ボタンをタップして、お申し込みページへ進んでください。
          </p>
          <p class="c-Txt_Cap u-Adjust_Mt-8">
            ※Googleアカウントへ未ログインの場合、ログイン画面が表示されます。ログインしてお申し込みを進めてください。
          </p>
          <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <span class="<%= namespace %>-Layout_Step-caption">クーポン獲得ページ（取得後）</span>
            <div class="l-Media_Image c-Flow_Image u-Adjust_Mt-8">
              <img src="<%= sitepath %>assets/img/campaign/youtubepremium/step-3.png" alt="" width="300">
            </div>
          </div>
        </li>
        <li>
          <h3 class="c-Txt_Normal-l"><span class="c-Txt_Emp-02">STEP 4　</span><br class="<%= namespace %>-Utility_Show-sp">YouTube Premium 3カ月間無料トライアルを開始</h3>
          <p class="<%= namespace %>-Utility_Mt-24-16">
            YouTube Premiumお申し込みページに「3カ月無料トライアル」と記載されていることを確認して<br class="<%= namespace %>-Utility_Show-pc">
            「使ってみる（無料）」ボタンをタップしてください。
          </p>
          <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <span class="<%= namespace %>-Layout_Step-caption">YouTube Premiumお申し込みページ</span>
            <div class="l-Media_Image c-Flow_Image u-Adjust_Mt-8">
              <img src="<%= sitepath %>assets/img/campaign/youtubepremium/step-4-230803.png" alt="" width="300">
            </div>
            <div class="u-Adjust_Mt-16">
              <span class="<%= namespace %>-Layout_Step-label">※「3か月間無料トライアル」と記載されていることを確認してください。</span>
            </div>
          </div>
        </li>
        <li>
          <h3 class="c-Txt_Normal-l"><span class="c-Txt_Emp-02">STEP 5　</span><br class="<%= namespace %>-Utility_Show-sp">購入手続き画面でお支払い方法を選択</h3>
          <p class="<%= namespace %>-Utility_Mt-24-16">
            お支払い方法を選択して、購入手続きを完了してください。
          </p>
          <div class="<%= namespace %>-Layout_Step-gray u-Adjust_Mt-16">
            <h4 class="c-Txt_Normal-m c-Txt_Emp-02">Androidご利用の方は「楽天モバイルキャリア決済」がオススメ！</h4>
            <p class="u-Adjust_Mt-8">
              Androidをご利用の方はお支払い方法に「楽天モバイル」を選択すると<br class="<%= namespace %>-Utility_Show-pc">
              無料期間終了後（4カ月目以降）、月額料金の最大2%がポイント還元となります。
            </p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap">
              ※キャリア決済ご利用1%ポイント還元＋楽天カードご利用通常ポイント1%。初めてご利用の場合は、Google Playストアで事前設定を行ってください。
            </p>
            <div class="u-Adjust_Mt-8">
              <a href="#point" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>詳細を確認</a>
            </div>
          </div>
          <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <span class="<%= namespace %>-Layout_Step-caption">YouTube Premiumお申し込みページ</span>
            <div class="l-Media_Image c-Flow_Image u-Adjust_Mt-8">
              <img src="<%= sitepath %>assets/img/campaign/youtubepremium/step-5-230701.png" alt="" width="300">
            </div>
          </div>
        </li>

        <li>
          <h3 class="c-Txt_Normal-l"><span class="c-Txt_Emp-02">YouTube Premiumが3カ月無料！</span></h3>
          <p class="<%= namespace %>-Utility_Mt-24-16">
            YouTube Premium を3カ月無料でお楽しみいただけます！
          </p>
          <p class="c-Txt_Cap u-Adjust_Mt-8">
            ※YouTube Premium 等のサービスを初めてご利用のお客様に限ります。
          </p>
          <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <div class="l-Media_Image c-Flow_Image">
              <img src="<%= sitepath %>assets/img/campaign/youtubepremium/step-6.png" alt="" width="300">
            </div>
          </div>
        </li>
      </ol>
      <div class="u-Adjust_Align-center u-Adjust_Mt-24">
        <a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile?l-id=campaign_youtubepremium_my-rakuten-mobile_02" target="_blank" class="c-Btn_Primary-large"><span>my 楽天モバイルから<br class="<%= namespace %>-Utility_Show-sp-mod-1">キャンペーンへ申し込む</span></a>
      </div>
    </div>
    <div class="<%= namespace %>-Utility_Theme-pink <%= namespace %>-Utility_Mt-64-48">
      <div id="point" class="u-Adjust_Align-center <%= namespace %>-Layout_Point-text">
        <div class="<%= namespace %>-Utility_Show-pc">
          <h3 class="c-Txt_Normal-l">＼ Androidご利用の方は4カ月目以降もおトク！／</h3>
        </div>
        <div class="<%= namespace %>-Utility_Show-sp">
          <h3 class="c-Txt_Normal-l">
            Androidご利用の方は<br>＼ 4カ月目以降もおトク！／
          </h3>
        </div>
      </div>
      <div class="<%= namespace %>-Layout_Point-settlement u-Adjust_Align-center">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/youtubepremium/point-sp-230701.png" width="356">
          <img src="<%= sitepath %>assets/img/campaign/youtubepremium/point-pc-230701.png" alt="" width="944">
        </picture>
      </div>
      <p class="u-Adjust_Align-center u-Adjust_Mt-32">
        すでにYouTube Premiumをご利用中のお客様も<br class="<%= namespace %>-Utility_Show-sp">ポイント還元の対象です
      </p>
      <div class="<%= namespace %>-Utility_Theme-white u-Adjust_Mt-24 l-System_Container">
        <div class="u-Adjust_Align-center">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/youtubepremium/free-sp-2301207.png" width="891" height="1128">
            <img src="<%= sitepath %>assets/img/campaign/youtubepremium/free-pc-2301207.png" alt="3カ月無料、4カ月目以降月額1,280円の最大2%ポイント還元！" width="742" height="222" loading="lazy">
          </picture>
        </div>
        <p class="u-Adjust_Mt-24 c-Txt_Cap">
          ※1 楽天モバイルご契約および楽天回線対応のAndroid製品をご利用の方のみ対象となります。<br>
          ※2 YouTube Premium、YouTube Music Premium、YouTube Red、Google Play Music のうち、いずれかの定期購入や無料お試しを行ったことがある場合は対象外です。<br>
          ※3 キャリア決済ご利用1%ポイント還元＋楽天カードご利用通常ポイント1%。キャリア決済ご利用に伴うポイント還元は、購入月の翌々月末日までに、楽天モバイルより期間限定ポイントで付与いたします。最大2%還元の上限は毎月最大4,000ポイントです。
        </p>
        <div class="c-Accordion u-Adjust_Mt-24">
          <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイルキャリア決済の事前設定方法（楽天モバイルキャリア決済を初めて利用する場合のみ）</button>
          <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true" style="display: none;">
            <ol class="c-Flow">
              <li>
                <h3 class="c-Txt_Normal-l"><span>1. スマートフォンで以下のリンクから Google Play ストアの「お支払い方法の追加画面にアクセスする</span></h3>
                <div class="<%= namespace %>-Utility_Mt-24-16">
                  <a href="https://play.app.goo.gl/ELvH" target="_blank" class="c-Link_Txt-inline">Google Play ストア お支払い方法の追加<span class="c-Icon_Chevron-right"></span></a>
                </div>
              </li>
              <li>
                <h3 class="c-Txt_Normal-l"><span>2. 楽天モバイルキャリア決済を有効にする</span></h3>
                <p class="u-Adjust_Mt-16">
                  「楽天モバイルのキャリア決済を有効にしますか？」の画面が表示されます。<br>
                  利用規約をご確認のうえ、楽天モバイルキャリア決済を有効にしてください。
                </p>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <div class="l-Media_Image c-Flow_Image u-Adjust_Mt-8">
                    <img src="<%= sitepath %>assets/img/campaign/youtubepremium/q-2.png" alt="" width="300">
                  </div>
                </div>
              </li>
              <li>
                <h3 class="c-Txt_Normal-l"><span>3. 「楽天モバイルのキャリア決済」を基本の決済方法に設定する</span></h3>
                <p class="u-Adjust_Mt-16">
                  「お支払い方法」画面にお客様の電話番号が表示され、「楽天モバイルのキャリア決済を利用」が基本の決済方法として設定されます。
                </p>
                <p class="u-Adjust_Mt-16 c-Txt_Cap c-Txt_Emp-02">
                  ※ キャリア決済の設定が完了すると、SMS（テキスト メッセージ）がお使いのスマートフォンに届く場合があります。このメッセージは、Google Play アカウントのキャリア決済登録を完了するためのもので、自動的に生成、送信されます。お客様でご対応いただくことは特にございません。<br>
                  ※ 楽天モバイルキャリア決済設定時に、SMS送信料3円（税込3.3円）のご請求が発生します。あらかじめご了承ください。
                </p>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <div class="l-Media_Image c-Flow_Image u-Adjust_Mt-8">
                    <img src="<%= sitepath %>assets/img/campaign/youtubepremium/q-3.png" alt="" width="300">
                  </div>
                </div>
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="l-System_Container">
        <div id="campaign-data">
          <div class="u-Adjust_Mt-48">
            <p class="u-Adjust_Align-center c-Txt_Emp-01 <%= namespace %>-Utility_Show-pc <%= namespace %>-Utility_Fs-24-20">
              ＼データ利用するだけ！最大1,500ポイントもらえる！／
            </p>
            <p class="u-Adjust_Align-center c-Txt_Emp-01 <%= namespace %>-Utility_Show-sp <%= namespace %>-Utility_Fs-24-20">
              データ利用するだけ！<br>
              ＼最大1,500ポイントもらえる！／
            </p>
          </div>
        </div>
        <div class="l-Media_Grid-half u-Adjust_Mt-8">
          <div class="l-Media_Image">
            <a href="<%= sitepath %>campaign/data3g/?l-id=campaign_youtubepremium_campaign_data3g">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-data-3g-328-185-240501.png" width="1008" height="316">
                <img src="<%= sitepath %>assets/img/bnr/bnr-data-3g-504-158-240501.png" width="504" height="158" alt="毎月開催　初めて3GBを超えたら1,000ポイントGET！※要エントリー">
              </picture>
            </a>
          </div>
          <div class="l-Media_Image">
            <a href="<%= sitepath %>campaign/data/?l-id=campaign_youtubepremium_campaign_data">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-data-20g-328-185-240501.png" width="1008" height="316">
                <img src="<%= sitepath %>assets/img/bnr/bnr-data-20g-504-158-240501.png" width="504" height="158" alt="毎月開催　初めて20GBを超えたら1,500ポイントGET！※要エントリー">
              </picture>
            </a>
          </div>
        </div>

        <p class="u-Adjust_Mt-32 u-Adjust_Align-center c-Txt_Emp-01 <%= namespace %>-Utility_Fs-24-20">
          ＼ 他にもおトクに使える！／
        </p>
        <div class="u-Adjust_Align-center u-Adjust_Mt-8">
          <a href="<%= sitepath %>campaign/payment-google/?l-id=campaign_youtubepremium_campaign_payment-google" class="c-Banner_Hover-act">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-payment-google-343-108-240201.png" width="686" height="216">
              <img src="<%= sitepath %>assets/img/bnr/bnr-payment-google-1032-160-240201.png" alt="Android™でのアプリ購入やアプリ内課金が楽天モバイルキャリア決済利用で最大2%ポイント還元" width="1032" heigh="160" loading="lazy">
            </picture>
          </a>
        </div>
        <p class="u-Adjust_Mt-32 u-Adjust_Align-center c-Txt_Emp-01 <%= namespace %>-Utility_Fs-24-20">
          ＼ さらに楽天市場でのお買い物もおトクに！／
        </p>
        <div class="u-Adjust_Align-center u-Adjust_Mt-8">
          <a href="<%= sitepath %>campaign/spu/payment/?l-id=campaign_youtubepremium_campaign_spu_payment" class="c-Banner_Hover-act">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-spu-328-185-231201.png" width="656" height="370">
              <img src="<%= sitepath %>assets/img/bnr/bnr-spu-1032-160-231201.png" alt="楽天モバイルキャリア決済（Androidのみ）を当月、合計2,000円（税込）以上ご利用で 楽天市場のお買い物がポイント+2倍※Rakuten最強プランのご契約が必要です。※楽天回線対応のAndroid製品をご利用の方が対象です。※毎月の獲得上限ポイント数は1,000ポイント。期間限定ポイントでの付与。" loading="lazy" width="1032" height="160">
            </picture>
          </a>
        </div>
      </div>
    </div>

    <section>
      <div class="l-System_Container">
        <h3 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-48" id="faq">よくあるご質問</h3>
        <div class="c-Accordion u-Adjust_Mt-24">
          <button id="accordion-faq-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-1" data-ratid="campaign_youtubepremium_faq-1" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>問い合わせ先の窓口はどこですか？</button>
          <div id="accordion-content-faq-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-1" aria-hidden="false">
            <p>クーポン・楽天モバイルに関しては<a href="<%= sitepath %>support/" class="c-Link_Txt">こちら</a>からご確認ください。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-16">※YouTube Premium の特典の詳細については、<a href="https://support.google.com/youtube/answer/6308116" class="c-Link_Txt-inline-icon" target="_blank">こちら<span class="c-Icon_New-window-l"></span></a>からご確認ください。</p>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-faq-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-2" data-ratid="campaign_youtubepremium_faq-2" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>3カ月無料の対象となるYouTube Premiumのプランを教えてください</button>
          <div id="accordion-content-faq-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-2" aria-hidden="false">
            <p>対象となるのは通常プランとなります。ファミリープランや学割プランは対象外となります。</p>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-faq-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-3" data-ratid="campaign_youtubepremium_faq-3" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイルを使用しているのに、登録時に「3カ月無料トライアル」の表示がされません</button>
          <div id="accordion-content-faq-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-3" aria-hidden="false">
            <p>YouTube Premium、YouTube Music Premium、YouTube Red、Google Play Music のうち、いずれかの定期購入や無料お試しを行ったことがあると考えられます。</p>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-faq-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-4" data-ratid="campaign_youtubepremium_faq-4" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>YouTube Premium の無料期間は、どこで確認できますか？</button>
          <div id="accordion-content-faq-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-4" aria-hidden="false">
            <p>YouTube のアカウントページからご確認いただけます。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※ 「無料トライアルは202x/xx/xxに終了します」と記載があります。</p>
            <p class="c-Txt_Cap">※ 無料期間終了日の７日前にメールのお知らせが届きます。</p>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-faq-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-5" data-ratid="campaign_youtubepremium_faq-5" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>3カ月間無料期間終了後、自動で継続更新になりますか？</button>
          <div id="accordion-content-faq-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-5" aria-hidden="false">
            <p>YouTube Premium会員の解約手続きをしない限り自動継続となります。</p>
          </div>
        </div>
      </div>
    </section>

    <section id="unlimit-vi-plan" class="u-Adjust_Mt-64 <%= namespace %>-Layout_Unlimit">
      <%- include('/inc/_saikyo') %>
    </section>
    <%# 要相談箇所 start %>
    <div class="l-System_Container">
      <!-- 申込方法 -->
      <div class="u-Adjust_Mt-64">
        <div class="u-Adjust_Align-center">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/watch-exercise/baloon3-pc-221207.png">
            <img src="<%= sitepath %>assets/img/campaign/watch-exercise/baloon3-pc-221207.png" alt="これからお申し込みの方も対象！" width="288">
          </picture>
        </div>
        <h2 class="c-Heading_Lv2 u-Adjust_Mt-8 u-Adjust_Align-center">楽天モバイルのお申し込み方法</h2>
        <div class="c-Tab js-Tab u-Adjust_Mt-24">
          <ul class="c-Tab_Items" role="tablist">
            <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">Web</li>
            <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">ショップ</li>
          </ul>
          <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
            <div class="c-Theme-Borderbox u-Adjust_Mt-24">
              <div class="l-Media_Grid">
                <div class="l-Media_Image c-Flow_Image">
                  <img src="/assets/img/campaign/newspicks/icon-flow-01.png" alt="">
                </div>
                <div>
                  <p class="c-Txt_Emp-01">お申し込みに必要なもの</p>
                  <ul class="c-List_Text-disc u-Adjust_Mt-16">
                    <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                    <li class="u-Adjust_Mt-8">楽天会員ID、パスワード</li>
                    <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a></li>
                    <li class="u-Adjust_Mt-8">ご契約者名義の<a href="<%= sitepath %>guide/mnp/">MNP予約番号</a>（他社から乗り換えの場合）</li>
                  </ul>
                  <p class="u-Adjust_Mt-8 c-Txt_Cap">※未成年の方のお申し込み方法は<a href="<%= sitepath %>flow/for-minors/">こちら</a>をご確認ください</p>
                </div>
              </div>
            </div>
            <div class="l-Media_Grid-half u-Adjust_Mt-24">
              <div class="c-Theme-Borderbox">
                <div class="u-Adjust_Align-center">
                  <%# 要相談箇所 %>
                  <p style="display: flex;align-items: center;justify-content: center;"><span class="c-Icon_New-user-f u-Adjust_Pr-8 c-Txt_Normal-ll c-Txt_Emp-02"></span><span class="c-Txt_Emp-01">新規電話番号／他社から乗り換え（MNP）</span></p>
                  <%# 要相談箇所 %>
                  <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/application/?lid-r=campaign_youtubepremium_guide_application" class="c-Btn_Primary-large">Rakuten最強プランに申し込む</a></p>
                  <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>fee/saikyo-plan/" class="c-Link_Txt-inline">プラン詳細<span class="c-Icon_Chevron-right"></span></a></p>
                  <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/flow/application/" class="c-Link_Txt-inline">お申し込み方法<span class="c-Icon_Chevron-right"></span></a></p>
                </div>
              </div>
              <div class="c-Theme-Borderbox">
                <div class="u-Adjust_Align-center">
                  <%# 要相談箇所 %>
                  <p style="display: flex;align-items: center;justify-content: center;"><span class="c-Icon_Paper-plane-l u-Adjust_Pr-8 c-Txt_Normal-ll c-Txt_Emp-02"></span><span class="c-Txt_Emp-01">楽天モバイル（ドコモ・au回線）から<br>プラン変更（移行）</span></p>
                  <%# 要相談箇所 %>
                  <p class="u-Adjust_Mt-24">
                    <a target="_blank" href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_youtubepremium&mno_migration=1" class="c-Btn_Secondly-large top-Description_Btn-text" target="_blank">
                      <span>メンバーズステーションから<br class="digital-contents-Utility_Br-pc">プラン変更（移行）する</span>
                    </a>
                  </p>
                  <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/migration/" class="c-Link_Txt-inline">スーパーホーダイ・組み合わせプラン（※）との比較<span class="c-Icon_Chevron-right"></span></a></p>
                  <p class="u-Adjust_Mt-0 c-Txt_Cap">※2020年4月8日に受付終了のドコモ回線・au回線使用プラン</p>
                  <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/mnp/migration/" class="c-Link_Txt-inline">楽天モバイル（楽天回線）への移行方法<span class="c-Icon_Chevron-right"></span></a></p>
                  <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>flow/mvno-user-registration/" class="c-Link_Txt-inline">利用者登録をされている方の移行方法 <span class="c-Icon_Chevron-right"></span></a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
            <div class="l-Media_Grid u-Adjust_Mt-24 c-Theme-Borderbox">
              <div class="l-Media_Image c-Flow_Image">
                <img src="/assets/img/campaign/newspicks/icon-flow-02.png" alt="">
              </div>
              <div>
                <p class="c-Txt_Emp-01">ショップでお申し込み</p>
                <p><a href="<%= sitepath %>shop/?l-id=campaign_youtubepremium_shop" class="c-Btn_Regular u-Adjust_Mt-16">お近くのショップを探す</a></p>
              </div>
            </div>
            <div class="c-Theme-Borderbox u-Adjust_Mt-24">
              <div class="l-Media_Grid">
                <div class="l-Media_Image c-Flow_Image">
                  <img src="/assets/img/campaign/digital-contents/icon-flow-01.png" alt="">
                </div>
                <div>
                  <p class="c-Txt_Emp-01">お申し込みに必要なもの</p>
                  <ul class="c-List_Text-disc u-Adjust_Mt-16">
                    <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                    <li class="u-Adjust_Mt-8">楽天会員ID、パスワード</li>
                    <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a></li>
                    <li class="u-Adjust_Mt-8">ご契約者名義の<a href="<%= sitepath %>guide/mnp/">MNP予約番号</a>（他社から乗り換えの場合）</li>
                  </ul>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※未成年の方のお申し込み方法は<a href="<%= sitepath %>flow/for-minors/">こちら</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="u-Adjust_Mt-64 l-System_Container u-Adjust_Align-center">
      <%- include('/include/_bnr-cpn-recommend-v2') %>
    </div>
    <%# 要相談箇所 end %>
    <div class="l-System_Container u-Adjust_Mt-64">
      <section id="campaign-rule">

        <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1680', level: 'h2', year: '2023', class: 'u-Adjust_Mt-64' }}) %>
        <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1922', level: 'h2', year: '2023', class: 'u-Adjust_Mt-64' }}) %>

      </section>

      <div class="c-Accordion u-Adjust_Mt-64" id="campaign-rule-old">
        <button id="accordion-001" class="c-Accordion_Trigger js-Accordion_Trigger un-limit-Layout_Accordion-trigger" aria-expanded="false" aria-controls="accordion-content-001"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>過去のキャンペーンルール</button>
        <div id="accordion-content-001" class="c-Accordion_Panel js-Accordion_Panel un-limit-Layout_Accordion-qapanel u-Adjust_Pt-32" role="region" aria-labelledby="accordion-001" aria-hidden="true" style="display:none;">
          <section>
            <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2087', level: 'h2', year: '2023', class: '' }}) %>
            <!-- 1061 -->
            <div class="u-Adjust_Mt-64">
              <h2 class="c-Heading_Lv2 u-Adjust_Align-left" id="campaign-rule1061">「Rakuten最強プラン」ご利用者対象 楽天モバイルキャリア決済 お支払い金額の10%分の楽天ポイント還元キャンペーン</h2>
              <div class="u-Adjust_Mt-24">
                <dl class="c-Dl_Origin">
                  <div>
                    <dt>キャンペーンコード</dt>
                    <dd>
                      <p>1061</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</p>
                    </dd>
                  </div>
                  <div>
                    <dt>キャンペーン期間</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">プランのお申し込み期間</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※本キャンペーンの終了日が記載されていますが、2023年7月1日（土）00:00以降、新キャンペーンを実施予定です。詳細は2023年7月1日（土）00:00から開始する新キャンペーンをご確認ください。</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※新キャンペーンの準備状況によっては、本キャンペーン終了日の記載に関わらず延長する場合があります。</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※2023年6月1日（木）に、キャンペーンの終了日を、終了日未定から変更しました。</p>
                    </dd>
                  </div>
                  <div>
                    <dt>キャンペーン条件</dt>
                    <dd>
                      <p>キャンペーン実施期間中に、 楽天モバイル「Rakuten最強プラン」をご利用の回線でGoogle Play ストアで有料のアプリやサービスなどの料金を、楽天モバイルキャリア決済でお支払いいただいた方。</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天回線対応のAndroid製品をご利用の方のみ対象となります。</p>
                    </dd>
                  </div>
                  <div>
                    <dt>特典内容</dt>
                    <dd>
                      <p>楽天モバイルキャリア決済を利用して、Google Play ストアでお支払いされた金額（税込）の10%分の楽天ポイントをもれなくプレゼント。</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※ポイント付与は、お一人様毎月最大20,000ポイントを上限とさせていただきます。</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天回線対応のAndroid製品をご利用の方のみ対象となります。</p>
                    </dd>
                  </div>
                  <div>
                    <dt>ポイント付与日</dt>
                    <dd>
                      <p>楽天ポイントの付与は、購入月の翌々月末日までに行います。楽天ポイントは、期間限定ポイントです。<br>例）2020年9月に購入した場合、2020年11月末日までに付与</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天ポイントの付与は、楽天モバイルより行います。</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※権利の譲渡はできません。</p>
                    </dd>
                  </div>
                  <div>
                    <dt>ポイント有効期限</dt>
                    <dd>
                      <p>ポイント付与日を含めて6カ月</p>
                    </dd>
                  </div>
                  <div>
                    <dt>特典適用対象外</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、特典適用対象外となります</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天モバイルキャリア決済でのお支払いをキャンセルされた場合</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※月の購入金額が10円に満たない場合</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※お支払いが正常に完了していない場合</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※ポイント付与までに楽天会員から退会している場合</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※当社または楽天グループ株式会社が定める規約などに違反した場合</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※そのほか、当社が会員として不適格であると合理的に判断した場合</p>
                    </dd>
                  </div>
                  <div>
                    <dt>注意事項</dt>
                    <dd>
                      <p class="c-Txt_Cap">※楽天モバイルをご解約された場合、解約した月から特典の対象外となります。</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※デジタルコンテンツのご購入ごとにクレジットカードまたはデビットカードで決済処理を実施いたします。ご利用日に対する引き落とし時期は、ご利用のカード会社またはデビットカード発行会社の規定に準じます。</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※利用設定を「無効」にしている状態では、Google Play ストアで本サービスをご利用いただくことはできません。ご利用の際は、「<a href="<%= ecarepath %>my-rakuten-mobile" class="c-Link_Txt">my 楽天モバイル</a>」にてご利用設定を「有効」にしてください。初期設定時には「有効」に設定されています。</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天モバイルキャリア決済でのお支払い分は、楽天モバイルが毎月のご利用料金に対して付与するポイントの対象外です。</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天モバイルキャリア決済サービスは、楽天回線対応のAndroid製品をご利用の方のみを対象としております。</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</p>
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <div class="u-Adjust_Mt-40 <%= namespace %>-Layout_Popask">
      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
    </div>

    <footer class="g-Footer <%= namespace %>-Layout_Footer u-Adjust_Mt-64">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>

  </div>
  <%- include('/include/_common-js') %>
    <!-- ReX UX Survey: Config -->
    <script>
      window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
    </script>
    <!-- ReX UX Survey: Script -->
    <script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>
  <%- include('/include/_append-body') %>
</body>
</html>
