<% const pagetitle = "エントリー後、オンラインで初めての楽天モバイル（楽天回線）お申し込み＆Super Point Screen条件達成で1,000ポイント進呈キャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "sps" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: 'エントリー後、オンラインで初めての楽天モバイル（楽天回線）お申し込み＆Super Point Screen条件達成で1,000ポイント進呈キャンペーン',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/sps/sps.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/_entry-button/rex-overwrite_v2.css?20240424">
<!-- ReX Campaign Button: stylesheet -->
<link rel="stylesheet" href="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/4.0.0/static/css/main.css?20240424" />
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<script defer="defer" src="https://r.r10s.jp/com/js/c/common/entry_button/1.0/entry_button-1.0.0.min.js"></script>
<link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout-Label">
      <ul class="c-Label_List <%= namespace %>-Layout-Label_List">
        <li class="c-Label_Normal">初めて申込限定</li>
        <li class="c-Label_Normal">Rakuten Link利用必要</li>
        <li class="c-Label_Normal">プランのみ申込可</li>
        <li class="c-Label_Normal">エントリー必要</li>
        <li><span class="<%= namespace %>-Layout-Label_point">ポイント：進呈日を含めて6カ月の期間限定ポイント</span></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Hero_Return">
      <div class="l-System_Container <%= namespace %>-Hero_Container">
        <div class="<%= namespace %>-Hero_Main">
          <h1><img src="<%= sitepath %>assets/img/campaign/sps/img-heading-pc.png?220719" alt="エントリー後、オンラインで初めての楽天モバイル（楽天回線）お申し込み＆Super Point Screen条件達成で1,000ポイント進呈キャンペーン" class="<%= namespace %>-Utility_Img-pc"><img src="<%= sitepath %>assets/img/campaign/sps/img-heading-sp.png?220719" alt="エントリー後、オンラインで初めての楽天モバイル（楽天回線）お申し込み＆Super Point Screen条件達成で1,000ポイント進呈キャンペーン" class="<%= namespace %>-Utility_Img-sp"></h1>
        </div>
      </div>
    </div>
    <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
    <div class="<%= namespace %>-Layout_Body">
      <div class="l-System_Container">
        <ul class="<%= namespace %>-Table_Rule-Cap">
          <li class="c-Txt_Emp-02"><span>※</span>お申し込み後のエントリーは特典進呈の対象外となります。</li>
          <li class="c-Txt_Emp-02"><span>※</span>Rakuten Linkアプリのご利用が必要です。<a href="#campaign-rule" class="js-scroll">詳細はこちら</a></li>
        </ul>
      </div>


      <div class="l-System_Container u-Adjust_Mt-48">
        <div class="<%= namespace %>-Layout-sps_Period">
          <dl>
            <dt>エントリー・<br class="<%= namespace %>-Layout-sps_Sp">お申し込み<br class="<%= namespace %>-Layout-sps_Sp">期間</dt>
            <dd>2022年7月19日（火）10:00～2022年8月22日（月）9:59</dd>
          </dl>
          <dl>
            <dt>プラン利用開始期限</dt>
            <dd>プランのお申し込みの翌月末日23:59まで</dd>
          </dl>
          <dl>
            <dt>「Rakuten Link」のご利用期限</dt>
            <dd>プランのお申し込みの翌月末日23:59まで</dd>
          </dl>
          <dl>
            <dt>Super Point Screen利用期限</dt>
            <dd>2022年7月19日（火）0:00～2022年8月31日（水）23:59</dd>
          </dl>
        </div>

        <div class="campaign_conditions">
          <h2 class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンの<span class="txt-nl">達成条件</span></h2>
          <p class="u-Adjust_Mt-16">本キャンペーンには達成条件が設定されています。詳細は<a class="rmobile-rule js-scroll" href="#campaign-rule">キャンペーンルール</a>をご確認ください。</p>

          <ul class="u-Adjust_Mt-24">
            <li>
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/sps/img-01-sp.png?220719">
                <img src="<%= sitepath %>assets/img/campaign/sps/img-01.png?220719" alt="このページからエントリー＋Webで楽天モバイルのお申し込み＋プランのご利用 期限までに、開通手続きをしてプランのご利用を開始してください＋Rakuten Linkで 10秒以上通話 期限までに、Rakuten Linkアプリを利用して10秒以上の通話をしてください。＋">
              </picture>
            </li>
            <li>
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/sps/img-02-sp.png?220719">
                <img src="<%= sitepath %>assets/img/campaign/sps/img-02.png?220719" alt="Super Point Screen アプリのご利用">
              </picture>
              <p class="conditions_anchor"><a class="accordion5_opan js-scroll" href="#accordion-5"><img src="<%= sitepath %>assets/img/campaign/sps/img-05.png?220719" alt="↓ ご利用条件はこちら"></a></p>
            </li>
          </ul>
        </div>
      </div>

      <div class="step_bg u-Adjust_Mt-40">
        <div class="l-System_Container">
          <h1 class="c-Heading_Lv1 u-Adjust_Align-center">キャンペーンの流れ</h1>
          <div class="<%= namespace %>-Layout_step u-Adjust_Mt-24">
            <div class="c-Accordion">
              <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1" data-ratid="campaign_sps_flow-step1" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP1　</span>キャンペーンへのエントリー</button>
              <div id="accordion-content-1" class="<%= namespace %>-Layout_step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region"
                aria-labelledby="accordion-1" aria-hidden="true">
                <ul class="<%= namespace %>-Flow_List">
                  <li>
                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                        <img src="<%= sitepath %>assets/img/campaign/sps/img-flow-01.png?220719" alt="">
                      </div>
                      <div>
                        <h4 class="c-Heading_Lv4 u-Adjust_Mt-8 u-Adjust_Mb-16">本ページからエントリー</h4>
                        <p class="u-Adjust_Mt-16"><span class="txt-nl">2022年7月19日（火）10:00～</span><span class="txt-nl">2022年8月22日（月）9:59</span></p>
                      </div>
                    </div>

                  </li>
                </ul>
              </div>
            </div>
            <div class="c-Accordion u-Adjust_Mt-16">
              <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2" data-ratid="campaign_sps_flow-step2" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP2　</span>楽天モバイルのお申し込み</button>
              <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2"
                aria-hidden="true">
                <div class="u-Adjust_Mt-16">
                  <div>
                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-24">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                        <img src="<%= sitepath %>assets/img/campaign/sps/img-flow-02.png?220719" alt="">
                      </div>
                      <div>
                        <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">Webから楽天モバイル（楽天回線）に申し込む。</h4>
                        <p class="u-Adjust_Mt-8"><span class="txt-nl">2022年7月19日（火）10:00～</span><span class="txt-nl">2022年8月22日（月）9:59</span></p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                          <li class="c-Txt_Emp-02"><span>※</span>未成年の方のお申し込み方法は別途こちらの<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_sps_flow_for-minors">ご案内ページ</a>をご確認ください。</li>
                          <li><span>※</span>お申し込み後のエントリーは特典進呈対象外となるため、必ずエントリー後にお申し込みください。</li>
                        </ul>
                      </div>
                    </div>
                    <ul class="<%= namespace %>-Flow_List u-Adjust_Mt-16">
                      <li>
                        <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-8">
                          <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                            <img src="<%= sitepath %>assets/img/campaign/sps/img-flow-03.png?220719" alt="">
                          </div>
                          <div>
                            <p class="c-Txt_Emp-01">お申し込みに必要なもの</p>
                            <div class="u-Adjust_Mt-8">
                              <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc">
                                <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/verify/?l-id=campaign_sps_guide_verify" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                                <li class="u-Adjust_Mt-8">楽天会員ログイン用のユーザID、パスワード</li>
                                <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/?l-id=campaign_sps_guide_payment" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                                </li>
                                <li class="u-Adjust_Mt-8">ご契約者名義の<a href="<%= sitepath %>guide/mnp/?l-id=campaign_sps_guide_mnp" class="c-Link_Txt-inline">MNP予約番号</a>（他社から乗り換えの場合）
                                  <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                                    <span>※</span>ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001238/?l-id=campaign_sps_faq_00001238">こちらのご案内ページ</a>を必ず事前にご確認ください。<br>
                                  </p></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <div class="<%= namespace %>-Flow_List-step-unlimit u-Adjust_Mt-24 <%= namespace %>-Layout_step-ptn2">
                      <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-left">
                        <div class="<%= namespace %>-Flow_List-detail">
                          <div class="step-pran-change"><span class="c-Icon_New-user-f c-Txt_Emp-02"></span><h4 class="c-Heading_Lv4 u-Adjust_Mt-8 u-Adjust_Mb-16"> 新規電話番号／他社から乗り換え（MNP）</h4></div>
                          <p class="u-Adjust_Align-center"><a href="<%= sitepath %>guide/application/?lid-r=campaign_sps_guide_application1" class="c-Btn_Primary <%= namespace %>-Flow_List-button-secondly u-Adjust_Mt-24"><span>Rakuten UN-LIMIT VII<br class="<%= namespace %>-Layout-sps_Sp"> お申し込み画面に進む</span></a></p>
                          <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>fee/un-limit/?l-id=campaign_sps_fee_un-limit" class="c-Link_Txt-inline">Rakuten UN-LIMIT VIIの詳細<span class="c-Icon_Chevron-right"></span></a></p>
                          <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/flow/application/?l-id=campaign_sps_guide_flow_application" class="c-Link_Txt-inline">Rakuten UN-LIMIT VII<br class="<%= namespace %>-Layout-sps_Sp">お申し込み方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                        </div>
                      </div>
                      <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-right">
                        <div class="<%= namespace %>-Flow_List-detail">
                          <div class="step-pran-change"><span class="c-Icon_Paper-plane-l c-Txt_Emp-02"></span>
                          <h4 class="c-Heading_Lv4 u-Adjust_Mt-8 u-Adjust_Mb-16"> 楽天モバイル（ドコモ・au回線）からプラン変更（移行）</h4></div>
                          <div class="u-Adjust_Mt-16">
                            <p class="u-Adjust_Align-center"><a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_sps_ms1&mno_migration=1" class="c-Btn_Secondly <%= namespace %>-Flow_List-button-secondly u-Adjust_Mt-24" data-ratid="campaign_sps_ms" data-ratevent="click" data-ratparam="all"><span>メンバーズステーションからプラン変更（移行）する</span></a></p>
                            <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/migration/?l-id=campaign_sps_guide_migration" class="c-Link_Txt-inline">スーパーホーダイ・組み合わせプラン（※）との比較<span class="c-Icon_Chevron-right"></span></a>
                            </p>
                            <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">※2020年4月8日に受付終了のドコモ回線・au回線使用プラン
                            </p>
                            <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/mnp/migration/?l-id=campaign_sps_guide_mnp_migration" class="c-Link_Txt-inline">楽天モバイル（楽天回線）への<br class="<%= namespace %>-Layout-sps_Sp">移行方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                            <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>flow/mvno-user-registration/?l-id=campaign_sps_flow_mvno-user-registration" class="c-Link_Txt-inline">利用者登録でご利用中の方の<br class="<%= namespace %>-Layout-sps_Sp">移行方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-Accordion u-Adjust_Mt-16">
              <button type="button" id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3" data-ratid="campaign_sps_flow-step3" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP3　</span>「Rakuten UN-LIMIT VII」 プラン利用開始</button>
              <div id="accordion-content-3" class="<%= namespace %>-Layout_step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region"
                aria-labelledby="accordion-3" aria-hidden="true">
                <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                  <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                    <img src="<%= sitepath %>assets/img/campaign/sps/img-flow-04.png?220719" alt="">
                  </div>
                  <div>
                    <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">楽天モバイルの開通手続きを行い「Rakuten UN-LIMIT VII」 プランを利用開始する</h4>
                    <p class="u-Adjust_Mt-8">プランのお申し込みの翌月末日23:59まで</p>
                    <ul class="<%= namespace %>-Table_Rule-Cap">
                      <li class="u-Adjust_Mt-8"><span>※</span><a href="#PlanStart" class="js-scroll" data-ratid="campaign_sps_PlanStart" data-ratevent="click" data-ratparam="all">プラン利用開始日の定義はこちら</a>。</li>
                    </ul>
                    <div class="u-Adjust_Mt-8">
                      <p class="<%= namespace %>-Layout-sps_Sp-center-btn"><a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/" class="c-Btn_Regular <%= namespace %>-Flow_List-button"><span>スタートガイド（利用開始手順書）はこちら</span></a></p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="c-Accordion u-Adjust_Mt-16">
              <button type="button" id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4" data-ratid="campaign_sps_flow-step4" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP4　</span>Rakuten Linkアプリで通話する</button>
              <div id="accordion-content-4" class="<%= namespace %>-Layout_step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
                <ul class="<%= namespace %>-Flow_List">
                  <li>
                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                        <img src="<%= sitepath %>assets/img/campaign/sps/img-flow-05.png?220719" alt="">
                      </div>
                      <div>
                        <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">Rakuten Linkアプリで10秒以上通話する。</h4>
                        <p class="u-Adjust_Mt-8">プランのお申し込みの翌月末日23:59まで</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                          <li><span>※</span>電話の発信時、（0180）（0570）などから始まる他社接続サービス、一部特番（188）への通話については、特典対象外。</li>
                        </ul>
                        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>service/rakuten-link/?l-id=campaign_sps_service_rakuten-link" class="c-Link_Txt-inline" target="_blank">Rakuten Link アプリの詳細を見る<span class="c-Icon_New-window-l"></span></a></p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="c-Accordion u-Adjust_Mt-16">
              <button type="button" id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5" data-ratid="campaign_sps_flow-step5" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP5　</span>Super Point Screenのアプリご利用</button>
              <div id="accordion-content-5" class="<%= namespace %>-Layout_step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-5" aria-hidden="true">
                <ul class="<%= namespace %>-Flow_List">
                  <li>
                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img <%= namespace %>-Layout-sps_Pc">
                        <img src="<%= sitepath %>assets/img/campaign/sps/img-flow-06.png?220719" alt="P1マークが付いた広告をタップ＆ページを見て毎日ポイントGET！">
                      </div>
                      <div>
                        <p class="u-Adjust_Mt-8">2022年7月19日（火）0:00～2022年8月31日（水）23:59の間に計5日間、ポイント進呈対象広告（P1マークが付いている広告）を閲覧した方</p>
                        <p class="u-Adjust_Align-center flow_img"><img src="<%= sitepath %>assets/img/campaign/sps/img-flow-06-sp.png?220719" alt="P1マークが付いた広告をタップ＆ページを見て毎日ポイントGET！" class="<%= namespace %>-Utility_Img-sp u-Adjust_Mt-40"></p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                          <li><span>※</span>STEP5は、期限内であればほかのSTEPとの順序を問いません。</li>
                          <li><span>※</span>連続した5日間でなくても期間内に計5日間閲覧すれば対象となります 。</li>
                          <li><span>※</span>対象期間外の広告閲覧はカウントされません 。</li>
                          <li><span>※</span>Super Point Screen アプリでの閲覧のみが対象。Super Point Screen Web版でのご利用は対象外です。</li>
                        </ul>
                        <p class="u-Adjust_Mt-24"><a href="https://screen.rakuten.co.jp" class="c-Btn_Secondly" target="_blank">Super Point Screenを使う<span class="c-Icon_New-window-l"></span></a></p>
                      </div>
                    </div>
                    <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>その他Super Point Screenについてご不明な点は楽天グループ株式会社「Super Point Screen」にお問い合わせください。<br>
                        <a href="https://screen.faq.rakuten.net/" target="_blank" class="c-Link_Txt-inline">FAQはこちら<span class="c-Icon_New-window-l"></span></a><br>
                        <a href="https://screen.faq.rakuten.net/form/ask" target="_blank" class="c-Link_Txt-inline">お問い合わせフォームはこちら<span class="c-Icon_New-window-l"></span></a></li>
                      <li><span>※</span>条件達成状況に関わるお問い合わせはお受けできません。</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/sps/img-03-sp.png?220719">
              <img src="<%= sitepath %>assets/img/campaign/sps/img-03.png?220719" alt="楽天ポイント1,000ポイントプレゼント！">
            </picture>
          </p>
        </div>
      </div>
      <div class="info_bg u-Adjust_Mt-40">
        <div class="l-System_Container">
          <h2 class="c-Heading_Lv2 u-Adjust_Align-center">楽天公式ポイ活アプリで簡単にポイントが貯まる！</h2>
          <div class="info_area info1 u-Adjust_Mt-40">
            <div class="u-Adjust_Align-center u-Adjust_Mt-16">
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/sps/img-04-sp.png?220719">
                <img src="<%= sitepath %>assets/img/campaign/sps/img-04.png?220719" alt="Super Point Screenは、広告を見ることでポイントが貯まるサービスです。貯まったポイントは楽天モバイルのプラン料金のお支払いにも利用できます！">
              </picture>
            </div>
            <div class="<%= namespace %>_Info-btn u-Adjust_Mt-24 u-Adjust_Align-center">
              <a href="https://screen.rakuten.co.jp" target="_blank" class="c-Btn_Secondly">Super Point Screenを使う<span class="c-Icon_New-window-l"></span></a>
            </div>
          </div>
        </div>
      </div>

      <div class="l-System_Container">
        <div class="<%= namespace %>-Layout_step u-Adjust_Mt-40">
          <div class="c-Accordion">
            <button type="button" id="accordion-11" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-11" data-ratid="campaign_sps_flow-step11" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイルご契約者様ならさらにポイントが貯まるチャンス！</button>
            <div id="accordion-content-11" class="<%= namespace %>-Layout_step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-11" aria-hidden="true">
              <div class="<%= namespace %>_content">
                <div class="u-Adjust_Align-center">
                  <div class="l-Media_Image">
                    <picture>
                      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/spu_ttl_sp_01.png">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/spu_ttl_01.png" alt="エントリー不要 楽天ポイントをザクザク貯めたいそんなあなたに">
                    </picture>
                  </div>
                </div>
                <div class="<%= namespace %>_box box01">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/spu_ttl_02.png" alt="通常のお買い物で ポイント1倍">
                </div>
                <ul class="<%= namespace %>_box box02">
                  <li>
                    <picture>
                      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/spu_ttl_sp_03.png">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/spu_ttl_03.png" alt="Rakuten UN-LIMIT VIIご契約者なら">
                    </picture>
                  </li>
                  <li class="l-Media_Image">
                    <picture>
                      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/spu_img_01_sp.png">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/spu_img_01.png" alt="楽天モバイルご利用でポイント＋1倍※1 楽天モバイルキャリア決済のご利用で＋ポイント0.5倍※2">
                    </picture>
                  </li>
                  <li>
                    <p class="box02_ttl"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/spu_ttl_04.png" alt="ポイント最大＋2倍が追加!"></p>
                    <p>
                      <picture>
                        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/spu_img_02_sp.png">
                        <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/spu_img_02.png" alt="楽天回線ご利用でポイント＋1倍 ダイヤモンド会員ならさらにポイント＋1倍">
                      </picture>
                    </p>
                    <p class="c-Txt_Cap">※毎月の獲得上限ポイント数はそれぞれ 1,000ポイント、期間限定ポイントでの進呈。「最大+2倍」の詳細は<a href="<%= sitepath %>fee/un-limit/detail/#campaign-rule-current">こちら</a></p>
                  </li>
                </ul>
                <div class="<%= namespace %>_box box03">
                  <div>
                    <picture>
                      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/spu_img_03_sp.png">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/spu_img_03.png" alt="さらにその他グループサービス利用でポイントアップ！">
                    </picture>
                  </div>
                  <div class="c-Accordion u-Adjust_Mt-24">
                    <button type="button" id="accordion-10" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-10" data-ratid="campaign_sps_faq6" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>対象サービスとポイント倍率</button>
                    <div id="accordion-content-10" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-10" aria-hidden="true">
                      <ul class="<%= namespace %>_box-list-link">
                        <li>
                          <a href="<%= sitepath %>hikari/campaign/spu/">
                            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-service-01.png" alt="">
                          </a>
                        </li>
                        <li>
                          <a href="https://www.rakuten-card.co.jp/campaign/rakuten-card/point-up/" target="_blank" rel="noopener">
                            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-service-02.png" alt="">
                          </a>
                        </li>
                        <li>
                          <a href="https://www.rakuten-card.co.jp/campaign/rakuten-card/point-up/" target="_blank" rel="noopener">
                            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-service-03.png" alt="">
                          </a>
                        </li>
                        <li>
                          <a href="https://www.rakuten-card.co.jp/campaign/premium_card/point-up/" target="_blank" rel="noopener">
                            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-service-04.png" alt="">
                          </a>
                        </li>
                        <li>
                          <a href="https://www.rakuten-bank.co.jp/campaign/spu/" target="_blank" rel="noopener">
                            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-service-05.png" alt="">
                          </a>
                        </li>
                        <li>
                          <a href="https://www.rakuten-sec.co.jp/web/campaign/spu/" target="_blank" rel="noopener">
                            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-service-06.png" alt="">
                          </a>
                        </li>
                        <li>
                          <a href="https://www.rakuten-sec.co.jp/web/campaign/spu/" target="_blank" rel="noopener">
                            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-service-07.png" alt="">
                          </a>
                        </li>
                        <li>
                          <a href="https://www.rakuten-wallet.co.jp/lp/spu/" target="_blank" rel="noopener">
                            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-service-08.png" alt="">
                          </a>
                        </li>
                        <li>
                          <a href="https://travel.rakuten.co.jp/camp/spu/" target="_blank" rel="noopener">
                            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-service-09.png" alt="">
                          </a>
                        </li>
                        <li>
                          <a href="https://event.rakuten.co.jp/campaign/point-up/app/always/" target="_blank" rel="noopener">
                            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-service-10.png" alt="">
                          </a>
                        </li>
                        <li>
                          <a href="https://books.rakuten.co.jp/event/campaign/pointup-program/" target="_blank" rel="noopener">
                            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-service-11.png" alt="">
                          </a>
                        </li>
                        <li>
                          <a href="https://books.rakuten.co.jp/event/e-book/spu/" target="_blank" rel="noopener">
                            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-service-12.png" alt="">
                          </a>
                        </li>
                        <li>
                          <a href="https://pasha.rakuten.co.jp/special/campaign/spu/" target="_blank" rel="noopener">
                            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-service-13.png" alt="">
                          </a>
                        </li>
                        <li>
                          <a href="https://brandavenue.rakuten.co.jp/guide/spu/" target="_blank" rel="noopener">
                            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-service-14.png" alt="">
                          </a>
                        </li>
                        <li>
                          <a href="https://beauty.rakuten.co.jp/cnt/topics/campaign/spu/" target="_blank" rel="noopener">
                            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-service-15.png" alt="">
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <p class="u-Adjust_Align-center u-Adjust_Mt-24"><a href="<%= sitepath %>campaign/spu/?l-id=un-limit_campaign_<%= namespace %>" class="c-Btn_Regular"><span>SPUの詳細を見る</span></a></p>
                </div>
                <div>
                  <p class="<%= namespace %>_arrow"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/spu_icon04.png" alt=""></p>
                  <div class="l-Media_Image">
                    <picture>
                      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/spu_img_04_sp.png">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/spu_img_04.png" alt="楽天市場のお買い物が合計最大 16倍！ ※3">
                    </picture>
                  </div>
                </div>
                <p class="c-Txt_Cap">※1 楽天モバイル 通話SIMをご契約の方が対象。月間上限5,000ポイント ※2 楽天モバイルキャリア決済（Androidのみ）を月間合計2,000円（税込）以上ご利用の場合に適用。月間上限5,000ポイント※3 最大16倍は、SPUによる最大14倍とダイヤモンド会員のRakuten UN-LIMITご契約者最大+2倍の合計値です。各上限・達成条件あり<br>
                  ※<a href="<%= sitepath %>fee/un-limit/#anc_note">その他条件の詳細はこちら</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Mt-40 u-Adjust_Align-center u-Adjust_Mb-16">よくあるご質問</h2>
        <div class="_sample u-Adjust_Mt-16 u-Adjust_Mb-40">
          <div class="c-Accordion">
                <button id="accordion-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-6"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>エントリーされているか、どこで確認できますか？</button>
                <div id="accordion-content-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-6" aria-hidden="true">
                    <p>エントリーされた場合、本キャンペーンページのエントリーボタンが「エントリー済みです」と表示されます。<br>
                      また、楽天PointClubの「<a href="https://oubo.rakuten.co.jp/list">キャンペーンエントリー履歴</a>」から確認することができます。</p>
                </div>
          </div>
          <div class="c-Accordion">
              <button id="accordion-7" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-7"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーン期間内に楽天モバイルに申し込みができているか、確認方法はありますか？</button>
              <div id="accordion-content-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-7" aria-hidden="true">
                  <p>以下2種類の方法があります。<br>
                    ①お申し込み完了メールを確認する<br>
                    ②「<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile">my 楽天モバイル</a>」の申し込み履歴から確認する<br>
                    詳しい手順は<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001827/">こちら</a>からもご確認いただけます。</p>
              </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-8" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-8"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ポイントの進呈はいつになりますか？</button>
            <div id="accordion-content-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-8" aria-hidden="true">
                <p>「Rakuten UN-LIMIT VII」のお申し込み後、各期限までに条件を達成した場合、プラン利用開始期限の翌々月末日ごろに進呈。<br>
                  ※全ての条件を達成した場合、7月にお申し込みした方は10月末日ごろ、8月にお申し込みした方は11月末日ごろの進呈となります<br>
                  進呈されたポイントは楽天PointClubの「<a href="https://point.rakuten.co.jp/history/">ポイント実績</a>」から確認することができます。</p>
            </div>
          </div>
        </div>
        <h1 id="rakutenmobile" class="c-Heading_Lv1 u-Adjust_Align-center">楽天モバイル<span class="txt-nl">について</span></h1>
        <p class="<%= namespace %>-Layout_step-txt u-Adjust_Mt-16 c-Txt_Emp-01">詳細は以下の各リンク先にてご確認ください</p>
        <div class="<%= namespace %>-Card u-Adjust_Mt-24">
          <a href="<%= sitepath %>fee/un-limit/?l-id=campaign_sps_fee_un-limit1" class="c-Card_Normal" target="_blank">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
            <img src="<%= sitepath %>assets/img/campaign/sps/link_img_01.png?220606" alt="">
            </div>
            <p class="u-Adjust_Mt-16 c-Txt_Emp-01">料金プラン</p>
          </a>
          <a href="<%= sitepath %>fee/zero/?l-id=campaign_sps_fee_zero" class="c-Card_Normal" target="_blank">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/sps/link_img_02.png?220606" alt="">
            </div>
            <p class="u-Adjust_Mt-16 c-Txt_Emp-01">お申し込み<span class="txt-nl">手数料</span></p>
          </a>
          <a href="<%= sitepath %>area/?l-id=campaign_sps_area" class="c-Card_Normal" target="_blank">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/sps/link_img_03.png?220606" alt="">
            </div>
            <p class="u-Adjust_Mt-16 c-Txt_Emp-01">サービス<span class="txt-nl">エリア</span></p>
          </a>
          <a href="<%= sitepath %>product/byod/?l-id=campaign_sps_product_byod" class="c-Card_Normal" target="_blank">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/sps/link_img_04.png?220606" alt="">
            </div>
            <p class="u-Adjust_Mt-16 c-Txt_Emp-01">楽天回線<span class="txt-nl">対応製品</span></p>
          </a>
          <a href="<%= sitepath %>service/?l-id=campaign_sps_service" class="c-Card_Normal" target="_blank">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/sps/link_img_05.png?220606" alt="">
            </div>
            <p class="u-Adjust_Mt-16 c-Txt_Emp-01">オプション<span class="txt-nl">サービス</span></p>
          </a>
          <a href="<%= sitepath %>guide/point/?l-id=campaign_sps_guide_point" class="c-Card_Normal" target="_blank">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/sps/link_img_06.png?220606" alt="">
            </div>
            <p class="u-Adjust_Mt-16 c-Txt_Emp-01">おトクな<span class="txt-nl">楽天ポイント</span></p>
          </a>
          <a href="<%= sitepath %>service/rakuten-link/?l-id=campaign_sps_service_rakuten-link1" class="c-Card_Normal" target="_blank">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/sps/link_img_07.png?220606" alt="">
            </div>
            <p class="u-Adjust_Mt-16 c-Txt_Emp-01">Rakuten Link<span class="txt-nl">アプリ</span></p>
          </a>
          <a href="<%= sitepath %>campaign/?l-id=campaign_sps_campaign" class="c-Card_Normal" target="_blank">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/sps/link_img_08.png?220606" alt="">
            </div>
            <p class="u-Adjust_Mt-16 c-Txt_Emp-01">キャンペーン<span class="txt-nl">一覧</span></p>
          </a>
          <a href="<%= sitepath %>product/sim/?l-id=campaign_sps_product_sim" class="c-Card_Normal" target="_blank">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/sps/link_img_09.png?220606" alt="">
            </div>
            <p class="u-Adjust_Mt-16 c-Txt_Emp-01">SIMの使い方</p>
          </a>
        </div>
      </div>



      <div class="l-System_Container u-Adjust_Mt-32" id="campaign-rule">
        <div class="u-Adjust_Mt-64">
          <div class="<%= namespace %>-Layout_Rule">
            <h2>エントリー後、オンラインで初めての楽天モバイル（楽天回線）お申し込み＆Super Point Screen条件達成で1,000ポイント進呈キャンペーン</h2>
            <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
            <div class="u-Adjust_Mt-24">
              <dl class="c-Dl_Origin <%= namespace %>-campaign-Rule">
                <div>
                  <dt>キャンペーンコード</dt>
                  <dd>
                    <p>1560</p>
                    <ul class="c-Txt_Cap u-Adjust_Mt-8">
                      <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン期間</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">エントリー期間</p>
                    <p>2022年7月19日（火）10:00～2022年8月22日（月）09:59</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">プランのお申し込み期間</p>
                    <p>- Web　2022年7月19日（火）10:00～2022年8月22日（月）09:59</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">プラン利用開始期限</p>
                    <p>プランのお申し込み月の翌月末日23:59まで</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">「Rakuten Link」利用期限</p>
                    <p>プランのお申し込み月の翌月末日23:59まで</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">Super Point Screen利用期限</p>
                    <p>2022年7月19日（火）00:00～2022年8月31日（水）23:59</p>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン条件</dt>
                  <dd>
                    <p>上記各項目の期間内に【1】、【2】、【3】、【4】、【5】の条件をすべて満たした楽天会員の方</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                      <li><span>※</span>特典はおひとり様、1度のみ、最初にお申し込みいただいた1回線目に適用となります。</li>
                    </ul>
                    <p class="u-Adjust_Mt-8">【1】キャンペーンへのエントリー<br>
                      エントリー期間内に本キャンペーンページでエントリー</p>
                    <p class="u-Adjust_Mt-8">【2】「Rakuten UN-LIMIT VII」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（1）新規お申し込み</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（2）他社からの乗り換え（MNP）でお申し込み</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                      <li><span>※</span>エントリー前のお申し込みはポイント進呈の対象になりません</li>
                    </ul>
                    <p class="u-Adjust_Mt-8">【3】「Rakuten UN-LIMIT VII」プラン利用開始</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li id="PlanStart">【プラン利用開始日とは】<br><br>
                        <span class="<%= namespace %>-Table_Rule-bold">新規お申し込みの場合　※（1）（2）のいずれか早い方がプラン利用開始日となります</span><br>
                        （1）当社に配送完了データが通知された日<br>
                        （2）プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br><br>
                        <span class="<%= namespace %>-Table_Rule-bold">他社から乗り換え（MNP）の場合</span><br>
                        プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br><br>
                        <span class="<%= namespace %>-Table_Rule-bold">楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</span><br>
                        プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                    </ul>
                    <p class="u-Adjust_Mt-8">【4】「Rakuten Link」のご利用<br>「Rakuten UN-LIMIT VII」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
                    <p class="u-Adjust_Mt-16">【Rakuten Linkアプリご利用方法】<br>
                      Rakuten Linkページの「<a href="https://service.link.link/guide/" target="_blank" class="c-Link_Txt-inline">使い方<span class="c-Icon_New-window-l"></span></a>」をご確認ください</p>
                    <p class="u-Adjust_Mt-16">【Rakuten Link利用履歴の確認方法】<br>
                        「<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001962/#sec3" target="_blank" class="c-Link_Txt-inline">キャンペーンが適用されているか、いつポイントが付与されるか知りたい<span class="c-Icon_New-window-l"></span></a>」をご確認ください</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>電話の発信時、（0570）（0180）などの他社接続サービス、♯ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</li>
                    </ul>
                    <p class="u-Adjust_Mt-8">【5】「Super Point Screen」のアプリご利用</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">2022年7月19日（火）00:00～2022年8月31日（水）23:59の間に計5日間、ポイント進呈対象広告（P1マークが付いている広告）を閲覧した方</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>Super Point Screenアプリのユーザ登録が必要となります。また、期間内であれば【1】と【5】および【2】と【5】の順序は問いません</li>
                      <li><span>※</span>広告の閲覧とは、広告をクリックして済マークが表示されることを指します。また、連続した5日間でなくても期間内に計5日間閲覧すれば対象となります</li>
                      <li><span>※</span>対象期間外の広告閲覧およびP1のマークが付いていない広告は、1日分の条件達成としてカウントされません</li>
                      <li><span>※</span>条件達成状況に関わるお問い合わせはお受けできません</li>
                      <li><span>※</span>Super Point Screen アプリでの閲覧のみが対象。Super Point Screen Web版でのご利用は対象外です</li>
                      <li><span>※</span>Super Point Screen アプリ以外で閲覧したポイント進呈対象広告を、Super Point Screen アプリで再度閲覧してもカウントされません</li>
                      <li><span>※</span>Super Point Screenアプリを新しくダウンロードする際は、楽天IDでログイン後、本人登録（SMS認証）が必要となります。ただし、ダイヤモンド会員・プラチナ会員・ゴールド会員・シルバー会員の方は本人登録（SMS認証）は不要です</li>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン特典 （楽天ポイント）</dt>
                  <dt class="<%= namespace %>-campaign-Rule_Title-sub">特典内容</dt>
                  <dd>
                    <p>期間限定ポイント1,000ポイント進呈</p>
                  </dd>
                  <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント進呈日</dt>
                  <dd>
                    <p>「Rakuten UN-LIMIT VII」のお申し込み後、各期限までに条件を達成した場合、プラン利用開始期限の翌々月末日ごろに進呈</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>全ての条件を達成した場合、7月にお申し込みした方は10月末日ごろ、8月にお申し込みした方は11月末日ごろの進呈となります</li>
                      <li><span>※</span>キャンペーン条件により期限は異なりますのでご注意ください</li>
                      <li><span>※</span>楽天ポイントの進呈は、楽天モバイルより行います</li>
                      <li><span>※</span>権利の譲渡はできません</li>
                    </ul>
                  </dd>
                  <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント有効期間</dt>
                  <dd>
                    <p>ポイント進呈日を含めて6カ月</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
                      <li><span>※</span>有効期限までにポイントをご利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>特典適用対象外</dt>
                  <dd>
                    <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>本ルールに記載の併用可能キャンペーンを除き、本キャンペーンより進呈ポイント数やクーポン割引額等が多い Rakuten UN-LIMIT VIIお申し込みでポイントまたはクーポン等進呈キャンペーンが適用となった場合<br>
                        （複数の Rakuten UN-LIMIT VII お申し込みでポイントまたはクーポン等プレゼントキャンペーンの対象となった場合、進呈ポイント数やクーポン割引額等が一番多いキャンペーンのみが適用され、同額の場合はポイント・クーポン等問わずエントリー日時の早いキャンペーンが優先して適用されます。）</li>
                      <li><span>※</span>過去に同一名義で楽天モバイル回線をご契約いただいたことがある場合は対象外となります。</li>
                      <li><span>※</span>店舗（楽天モバイルショップ）でお申し込みした場合</li>
                      <li><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                      <li><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
                      <li><span>※</span>「Rakuten UN-LIMIT VII」のプラン利用開始がされなかった場合<br>-プラン利用開始の手続き方法につきましては、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/">こちら</a>のSIMカード版スタートガイドまたはeSIM版スタートガイドを参照ください</li>
                      <li><span>※</span>期限までに「Rakuten Link」を利用されなかった場合</li>
                      <li><span>※</span>エントリー時の楽天IDと、Super Point Screenをご利用の楽天IDと、楽天モバイルにご登録の楽天IDが同一でない場合</li>
                      <li><span>※</span>メンテナンス等により、ご利用いただけない場合がございます</li>
                      <li><span>※</span>ポイント進呈までに楽天会員から退会している場合</li>
                      <li><span>※</span>当社または楽天グループ株式会社が定める規約などに違反した場合</li>
                      <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>併用可能キャンペーン</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">以下のキャンペーンは併用が可能となります</p>
                    <p>【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント（キャンペーンコード：1526）</p>
                    <p class="u-Adjust_Mt-16">【Rakuten UN-LIMIT VII】データ1GB／月以下だった方限定！プラン料金最大4カ月実質無料キャンペーン（キャンペーンコード：1527）</p>
                  </dd>
                </div>
                <div>
                  <dt>注意事項</dt>
                  <dd>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap">
                      <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                      <li><span>※</span>本キャンペーンの特典進呈対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                      <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                      <li><span>※</span>記載の内容は2022年7月19日（火）時点の情報となります</li>
                    </ul>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>

        <!--<div class="c-Accordion u-Adjust_Mt-48" id="past-campaigns">
          <button id="accordion-9" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-9"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>過去のキャンペーン</button>
          <div id="accordion-content-9" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-9" aria-hidden="true">
            <div class="<%= namespace %>-Layout_Rule u-Adjust_Mt-0">
              <h2>エントリー後、オンラインで初めての楽天モバイル（楽天回線）お申し込み＆Super Point Screen条件達成で1,000ポイント進呈キャンペーン</h2>
              <div class="u-Adjust_Mt-24">
                <dl class="c-Dl_Origin <%= namespace %>-campaign-Rule">
                  <div>
                    <dt>キャンペーンコード</dt>
                    <dd>
                      <p>1560</p>
                      <ul class="c-Txt_Cap u-Adjust_Mt-8">
                        <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt>キャンペーン期間</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">エントリー期間</p>
                      <p>2022年7月19日（火）10:00～2022年8月22日（月）09:59</p>
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">プランのお申し込み期間</p>
                      <p>- Web　2022年7月19日（火）10:00～2022年8月22日（月）09:59</p>
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">プラン利用開始期限</p>
                      <p>プランのお申し込み月の翌月末日23:59まで</p>
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">「Rakuten Link」利用期限</p>
                      <p>プランのお申し込み月の翌月末日23:59まで</p>
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">Super Point Screen利用期限</p>
                      <p>2022年7月19日（火）00:00～2022年8月31日（水）23:59</p>
                    </dd>
                  </div>
                  <div>
                    <dt>キャンペーン条件</dt>
                    <dd>
                      <p>上記各項目の期間内に【1】、【2】、【3】、【4】、【5】の条件をすべて満たした楽天会員の方</p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                        <li><span>※</span>特典はおひとり様、1度のみ、最初にお申し込みいただいた1回線目に適用となります。</li>
                      </ul>
                      <p class="u-Adjust_Mt-8">【1】キャンペーンへのエントリー<br>
                        エントリー期間内に本キャンペーンページでエントリー</p>
                      <p class="u-Adjust_Mt-8">【2】「Rakuten UN-LIMIT VII」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（1）新規お申し込み</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（2）他社からの乗り換え（MNP）でお申し込み</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                        <li><span>※</span>エントリー前のお申し込みはポイント進呈の対象になりません</li>
                      </ul>
                      <p class="u-Adjust_Mt-8">【3】「Rakuten UN-LIMIT VII」プラン利用開始</p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li id="PlanStart">【プラン利用開始日とは】<br><br>
                          <span class="<%= namespace %>-Table_Rule-bold">新規お申し込みの場合　※（1）（2）のいずれか早い方がプラン利用開始日となります</span><br>
                          （1）当社に配送完了データが通知された日<br>
                          （2）プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br><br>
                          <span class="<%= namespace %>-Table_Rule-bold">他社から乗り換え（MNP）の場合</span><br>
                          プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br><br>
                          <span class="<%= namespace %>-Table_Rule-bold">楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</span><br>
                          プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                      </ul>
                      <p class="u-Adjust_Mt-8">【4】「Rakuten Link」のご利用<br>「Rakuten UN-LIMIT VII」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
                      <p class="u-Adjust_Mt-16">【Rakuten Linkアプリご利用方法】<br>
                        Rakuten Linkページの「<a href="https://service.link.link/guide/" target="_blank" class="c-Link_Txt-inline">使い方<span class="c-Icon_New-window-l"></span></a>」をご確認ください</p>
                      <p class="u-Adjust_Mt-16">【Rakuten Link利用履歴の確認方法】<br>
                          「<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001962/#sec3" target="_blank" class="c-Link_Txt-inline">キャンペーンが適用されているか、いつポイントが付与されるか知りたい<span class="c-Icon_New-window-l"></span></a>」をご確認ください</p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span>電話の発信時、（0570）（0180）などの他社接続サービス、♯ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</li>
                      </ul>
                      <p class="u-Adjust_Mt-8">【5】「Super Point Screen」のアプリご利用</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">2022年7月19日（火）00:00～2022年8月31日（水）23:59の間に計5日間、ポイント進呈対象広告（P1マークのマークが付いている広告）を閲覧した方</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">Super Point Screenアプリのユーザ登録が必要となります。また、期間内であれば【1】と【5】および【2】と【5】の順序は問いません</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8"> 広告の閲覧とは、広告をクリックして済マークが表示されることを指します。また、連続した5日間でなくても期間内に計5日間閲覧すれば対象となります</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">対象期間外の広告閲覧およびP1のマークが付いていない広告は、1日分の条件達成としてカウントされません</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">
                        Super Point Screenアプリのユーザ登録が必要となります。【1】【2】【3】【4】との順序は問いません</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">条件達成状況に関わるお問い合わせはお受けできません</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">Super Point Screen アプリでの閲覧のみが対象。Super Point Screen でのご利用は対象外です</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">Super Point Screen アプリ以外で閲覧したポイント進呈対象広告を、Super Point Screen アプリで再度閲覧してもカウントされません</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">Super Point Screenアプリを新しくダウンロードする際は、楽天IDでログイン後、本人登録（SMS認証）が必要となります。ただし、ダイヤモンド会員・プラチナ会員・ゴールド会員・シルバー会員の方は本人登録（SMS認証）は不要です</p>
                    </dd>
                  </div>
                  <div>
                    <dt>キャンペーン特典 （楽天ポイント）</dt>
                    <dt class="<%= namespace %>-campaign-Rule_Title-sub">特典内容</dt>
                    <dd>
                      <p>期間限定ポイント1,000ポイント進呈</p>
                    </dd>
                    <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント進呈日</dt>
                    <dd>
                      <p>「Rakuten UN-LIMIT VII」のお申し込み後、各期限までに条件を達成した場合、プラン利用開始期限の翌々月末日ごろに進呈</p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span>全ての条件を達成した場合、7月お申し込み⇒10月末日ごろ、8月お申し込み⇒11月末日ごろの進呈となります</li>
                        <li><span>※</span>例）7月に「Rakuten UN-LIMIT VII」のお申し込みをし、8月末日までにすべての条件を達成した場合、その翌々月である10月末日ごろに進呈となります</li>
                        <li><span>※</span>キャンペーン条件により期限は異なりますのでご注意ください</li>
                        <li><span>※</span>楽天ポイントの進呈は、楽天モバイルより行います</li>
                        <li><span>※</span>権利の譲渡はできません</li>
                      </ul>
                    </dd>
                    <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント有効期間</dt>
                    <dd>
                      <p>ポイント進呈日を含めて6カ月</p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
                        <li><span>※</span>有効期限までにポイントをご利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt>特典適用対象外</dt>
                    <dd>
                      <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span>本ルールに記載の併用可能キャンペーンを除き、本キャンペーンより進呈ポイント数やクーポン割引額等が多い Rakuten UN-LIMIT VIIお申し込みでポイントまたはクーポン等進呈キャンペーンが適用となった場合<br>
                          （複数の Rakuten UN-LIMIT VII お申し込みでポイントまたはクーポン等プレゼントキャンペーンの対象となった場合、進呈ポイント数やクーポン割引額等が一番多いキャンペーンのみが適用され、同額の場合はポイント・クーポン等問わずエントリー日時の早いキャンペーンが優先して適用されます。）</li>
                        <li><span>※</span>過去に同一名義で楽天モバイル回線をご契約いただいたことがある場合は対象外となります。</li>
                        <li><span>※</span>開通手続きを店舗（楽天モバイルショップ）でお申し込みした場合</li>
                        <li><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                        <li><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
                        <li><span>※</span>「Rakuten UN-LIMIT VII」のプラン利用開始がされなかった場合<br>-プラン利用開始の手続き方法につきましては、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/">こちら</a>のSIMカード版スタートガイドまたはeSIM版スタートガイドを参照ください</li>
                        <li><span>※</span>期限までに「Rakuten Link」を利用されなかった場合</li>
                        <li><span>※</span>エントリー時の楽天IDと、Super Point Screenをご利用の楽天IDと、楽天モバイルにご登録の楽天IDが同一でない場合</li>
                        <li><span>※</span>メンテナンス等により、ご利用いただけない場合がございます</li>
                        <li><span>※</span>ポイント進呈までに楽天会員から退会している場合</li>
                        <li><span>※</span>当社または楽天グループ株式会社が定める規約などに違反した場合</li>
                        <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt>併用可能キャンペーン</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">以下のキャンペーンは併用が可能となります</p>
                      <p>【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント（キャンペーンコード：1526）</p>
                      <p class="u-Adjust_Mt-16">【Rakuten UN-LIMIT VII】データ1GB／月以下だった方限定！プラン料金最大4カ月実質無料キャンペーン（キャンペーンコード：1527）</p>
                    </dd>
                  </div>
                  <div>
                    <dt>注意事項</dt>
                    <dd>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap">
                        <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                        <li><span>※</span>本キャンペーンの特典進呈対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                        <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                        <li><span>※</span>記載の内容は2022年7月19日（火）時点の情報となります</li>
                      </ul>
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          </div>
        </div>-->
      </div>
    </div>

    <div id="js-fixed-btn" class="<%= namespace %>-Layout_Bottom-fixed" aria-expanded="false" role="region">

      <div class="<%= namespace %>-Layout_Bottom-fixed-inner u-Adjust_Mt-8">
        <a href="<%= sitepath %>guide/application/?lid-r=campaign_sps_f_guide_application" class="c-Btn_Primary <%= namespace %>-Layout_Bottom-fixed-btn"><span class="<%= namespace %>-Layout_Bottom-fixed-btn-txt"><span class="Bottom_txt-style">新規／乗り換え（MNP）</span><span class="fixed-btn-Utility_Img-pc">お申し込み</span></span></a>
        <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_sps_f_ms&mno_migration=1" class="c-Btn_Secondly <%= namespace %>-Layout_Bottom-fixed-btn" data-ratid="campaign_sps_ms1" data-ratevent="click" data-ratparam="all">
          <span class="<%= namespace %>-Layout_Bottom-fixed-btn-txt">
            <span class="Bottom_txt-style">
              <span class="fixed-btn-Utility_Img-pc">スーパーホーダイ、組み合わせプランからの</span>
              <span class="fixed-btn-Utility_Img-sp"><span class="Bottom_txt-style">以前の楽天モバイルからの</span></span>
            </span><br>
            <span class="Bottom_plan_txt-style">プラン変更（移行）<span class="fixed-btn-Utility_Img-pc">お申し込み</span></span></span></a>
      </div>
      <p class="<%= namespace %>-Layout_Bottom-fixed-txt u-Adjust_Mt-8">※お申し込み後のエントリーは特典進呈対象外となります。</p>
    </div>

    <!-- ReX UX Survey: Mounting point for embedded components -->
    <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>

    <footer class="g-Footer u-Adjust_Mt-64 <%= namespace %>-Layout_Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>

  <script>
    (function($){
        $(function(){
            $('.accordion5_opan').on('click', function(){
              $('#accordion-5').attr('aria-expanded', 'true');
              $('#accordion-content-5').attr('aria-hidden', 'false');
              $('#accordion-content-5').slideDown(200);
            });
        });
    })(jQuery);
  </script>
  <!-- ReX UX Survey: Config -->
  <script>
    window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
  </script>

<!-- ReX UX Survey: Script -->
<script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>

<!-- ReX Campaign Entry Button: Configuration -->
<script>var rexButtons = [{"code":"/rmobile/sps/220711","theme":"red","wide":false,"showCelebration":false,"isChecked":true,"ids":["rex-ceb-01","rex-ceb-02","rex-ceb-03"]}]</script>

<!-- ReX Campaign Entry Button: Script -->
<script src="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/4.0.0/static/js/main.js" defer></script>
</body>
</html>
