<% const pagetitle = "Apple Watch ファミリー共有 ペアリング・初期設定方法" -%>
<% const directories = [{path:"support/", label:"お客様サポート"},  {path:"support/iphone/initial-setting/", label:"初期設定（iPhone・Apple Watch）"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルの「Apple Watch ファミリー共有」サービスを利用する際の、iPhoneとApple Watchのペアリング設定方法とApple Watchの初期設定方法をご案内します。',
    noindex: false,
    pathname: filepath,
  });
%>

<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/apple-watch/apple-watch-recommend/product-apple-watch-recommend.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/guide.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<%- include('/include/_breadcrumbs', {
  type: 'head',
  pagetitle,
  directories,
}) %>

<div class="l-System_Container u-Adjust_Pt-32">
  <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
  <p class="u-Adjust_Mt-16">
    Apple Watch ファミリー共有における、iPhoneとApple Watchのペアリング設定方法とApple Watchの初期設定方法をご案内します。
  </p>
  <div class="c-Txt_Cap u-Adjust_Mt-16">
    <p>
      ※楽天モバイルでApple Watchを利用するには、<span class="c-Txt_Emp-02">iPhoneを必ず最新のiOSにアップデートしてください</span>。iOSアップデート完了後に<span class="c-Txt_Emp-02">「キャリア設定アップデート」のポップアップが表示された場合は、必ずアップデートを行ってください。</span>
    </p>
    <ul>
      <li><a href="<%= sitepath %>faq/detail/10000062/">iOSアップデート方法</a></li>
      <li><a href="<%= sitepath %>faq/detail/10000360/">キャリアアップデート方法</a></li>
    </ul>
    <p>
      ※Apple Watchを充電器に接続して、バッテリーが50％以上ある状態で設定を行ってください。<br>
      ※iOSのバージョンにより画面が異なる場合がございます。
    </p>
  </div>

  <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-24">
    <li><a href="#anc-1" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>ペアリング設定方法</a></li>
    <li><a href="#anc-2" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>Apple Watchの初期設定方法</a></li>
  </ul>

  <section class="u-Adjust_Mt-48">
    <h2 id="anc-1" class="c-Heading_Lv2 u-Adjust_Mt-48">ペアリング設定方法</h2>
    <p class="u-Adjust_Mt-16">
      Apple Watchを使用するためには、お持ちのiPhoneとペアリングする必要があります。ぺアリングすることでApple Watch のデータは、Apple WatchとペアリングしているiPhone にバックアップされます。
    </p>
    <ol class="c-Flow u-Adjust_Mt-32">
      <li>
        <h3 class="c-Heading_Lv3">1. Apple Watchアプリを起動する</h3>
        <div class="l-Media_Image u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-pairing01.png" class="c-Img_Capture" alt="" width="300" height="603">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">2. 「ペアリングを開始」をタップし、「ファミリーメンバー用に設定」をタップする</h3>
        <div class="u-Adjust_Align-center <%= nameSpace %>-Layout_Flow-img-column">
          <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-pairing02.png" class="c-Img_Capture" alt="" width="300" height="494" loading="lazy">
          <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-pairing03.png" class="c-Img_Capture" alt="" width="300" height="594" loading="lazy">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">3. 「続ける」をタップする</h3>
        <div class="l-Media_Image u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-pairing04.png" class="c-Img_Capture" alt="" width="300" height="566" loading="lazy">
        </div>
      </li>

      <li>
        <h3 class="c-Heading_Lv3">4. データとプライバシーを確認し「続ける」をタップする</h3>
        <div class="l-Media_Image u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-pairing05.png" class="c-Img_Capture" alt="" width="300" height="584" loading="lazy">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">5. ファミリー共有設定の仕組みを確認し「続ける」をタップする</h3>
        <div class="l-Media_Image u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-pairing06.png" class="c-Img_Capture" alt="" width="300" height="562" loading="lazy">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">6. iPhoneとのペアリングを開始する</h3>
        <p class="u-Adjust_Mt-16">
          iPhoneの画面に表示される枠内に、Apple Watchがおさまるようにカメラを向けてください。その後ペアリングが開始されます。
        </p>
        <div class="l-Media_Image u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-pairing07.png" class="c-Img_Capture" alt="" width="300" height="435" loading="lazy">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">7. 「Apple Watchを設定」をタップする</h3>
        <p class="u-Adjust_Mt-16">
          「Apple Watchのペアリングが完了しました」と表示されたら、「Apple Watchを設定」をタップしてください。
        </p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">
          ※バックアップから復元する場合は、<a href="https://support.apple.com/ja-jp/guide/watch/apdaa8cc32e8/watchos" target="_blank">こちら</a>をご確認ください。<br>
          ※watchOSのアップデートの案内が表示された場合は、案内に従ってアップデートを行ってください。
        </p>
        <div class="l-Media_Image u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-pairing08.png" class="c-Img_Capture" alt="" width="300" height="572" loading="lazy">
        </div>
      </li>
    </ol>
    <p class="u-Adjust_Mt-48">
      以上でペアリングの設定完了です。<br>
      引き続きApple Watchの初期設定を行ってご利用ください。
    </p>
  </section>

  <section class="u-Adjust_Mt-80">
    <h2 id="anc-2" class="c-Heading_Lv2">Apple Watchの初期設定方法</h2>
    <p class="u-Adjust_Mt-16">
      Apple Watchを使用するためには、お持ちのiPhoneとペアリングする必要があります。まずは<a class="js-scroll" href="#anc-1">ペアリング設定</a>を完了してから初期設定を行ってください。<br>
      <span class="c-Txt_Emp-02">ペアリング時に最新のwatchOSにアップデートしていない場合、事前に行ってください。</span>
    </p>
    <ol class="c-Flow u-Adjust_Mt-32">
      <li>
        <h3 class="c-Heading_Lv3">1. 装着する腕を選択し、待機する</h3>
        <p class="u-Adjust_Mt-16">Apple Watchを装着する腕（「左」または「右」）を選択し、「続ける」をタップしてください。</p>
        <div class="u-Adjust_Align-center <%= nameSpace %>-Layout_Flow-img-column">
          <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting01.png" class="c-Img_Capture" alt="" width="300" height="565" loading="lazy">
          <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting02.png" class="c-Img_Capture" alt="" width="300" height="205" loading="lazy">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">2. 利用規約の内容を確認し、「同意する」をタップする</h3>
        <div class="l-Media_Image u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting03.png" class="c-Img_Capture" alt="" width="300" height="593" loading="lazy">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">3. 文字の太さとサイズを調整し、「続ける」をタップする</h3>
        <p class="c-Txt_Cap u-Adjust_Mt-16">※後で設定することもできます。</p>
        <div class="l-Media_Image u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting04.png" class="c-Img_Capture" alt="" width="300" height="584" loading="lazy">
        </div>
      </li>

      <li>
        <h3 class="c-Heading_Lv3">4. 「パスコードを作成」をタップする</h3>
        <p class="u-Adjust_Mt-16">
          セキュリティ強化のため、パスコードを設定すると安心してご利用いただけます。
        </p>
        <div class="l-Media_Image u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting05.png" class="c-Img_Capture" alt="" width="300" height="584" loading="lazy">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">5. Apple Watchでパスコードを作成し、待機する</h3>
        <p class="u-Adjust_Mt-16">
          パスコード作成画面がApple Watchに表示されますので、パスコードを2回入力してください。
        </p>
        <div class="l-Media_Image u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting06-01.png" class="c-Img_Capture" alt="" width="300" height="161" loading="lazy">
        </div>
        <div class="l-Media_Image u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting06-02.png" class="c-Img_Capture" alt="" width="300" height="399" loading="lazy">
        </div>
        <div class="l-Media_Image u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting06-03.png" class="c-Img_Capture" alt="" width="300" height="200" loading="lazy">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">6. ファミリーメンバーを追加する</h3>
        <p class="u-Adjust_Mt-16 c-Txt_Cap">
          ※ファミリーメンバーが未登録の場合、こちらの画面は表示されません。「<a class="js-scroll" href="#setting07">7.ファミリーメンバーのApple IDを使用し、サインインする</a>」へお進みください。
        </p>
        <div class="l-Media_Image u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting07.png" class="c-Img_Capture" alt="" width="300" height="360" loading="lazy">
        </div>
      </li>
      <li>
        <h3 id="setting07" class="c-Heading_Lv3">7. ファミリーメンバーのApple IDを使用し、サインインする</h3>
        <div class="l-Media_Image u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting20.png" class="c-Img_Capture" alt="" width="300" height="589" loading="lazy">
        </div>
        <p class="u-Adjust_Mt-16">
          Apple IDをお持ちでない方は、この画面から作成いただけます。
        </p>
        <div class="c-Accordion u-Adjust_Mt-24">
          <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Apple IDを新規作成する場合</button>
          <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
            <ol>
              <li>
                <h4 class="c-Heading_Lv4">1. Apple Watchを使用する方の名前と生年月日を入力し、「続ける」をタップする</h4>
                <div class="l-Media_Image u-Adjust_Mt-24">
                  <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting08.png" class="c-Img_Capture" alt="" width="300" height="574" loading="lazy">
                </div>
              </li>
              <li class="u-Adjust_Mt-24">
                <h4 class="c-Heading_Lv4">2. Apple Watchを使用する方にApple IDを作成するよう確認する</h4>
                <div class="l-Media_Image u-Adjust_Mt-24">
                  <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting09.png" class="c-Img_Capture" alt="" width="300" height="574" loading="lazy">
                </div>
              </li>
              <li class="u-Adjust_Mt-24">
                <h4 class="c-Heading_Lv4">3. メールアドレスを入力し、「続ける」をタップする</h4>
                <p class="c-Txt_Cap u-Adjust_Mt-16">
                  ※メールアドレスをお持ちでない方は「メールアドレスを持ってない場合」より、画面に従って新規メールアドレスを作成してください。<br>
                  作成後、「<a class="js-scroll" href="#appleid05">5. Apple IDのパスワードを設定する</a>」へ進み、残りの設定を行ってください。
                </p>
                <div class="l-Media_Image u-Adjust_Mt-24">
                  <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting10.png" class="c-Img_Capture" alt="" width="300" height="575" loading="lazy">
                </div>
              </li>
              <li class="u-Adjust_Mt-24">
                <h4 class="c-Heading_Lv4">4. メールアドレスに送信された確認コードを入力する</h4>
                <div class="l-Media_Image u-Adjust_Mt-24">
                  <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting11.png" class="c-Img_Capture" alt="" width="300" height="322" loading="lazy">
                </div>
              </li>
              <li class="u-Adjust_Mt-24">
                <h4 id="appleid05" class="c-Heading_Lv4">5. Apple IDのパスワードを設定し、「続ける」をタップする</h4>
                <div class="l-Media_Image u-Adjust_Mt-24">
                  <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting12.png" class="c-Img_Capture" alt="" width="300" height="575" loading="lazy">
                </div>
              </li>
              <li class="u-Adjust_Mt-24">
                <h4 class="c-Heading_Lv4">6. 本人確認に使用できる電話番号を入力し、「続ける」をタップする</h4>
                <div class="l-Media_Image u-Adjust_Mt-24">
                  <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting13.png" class="c-Img_Capture" alt="" width="300" height="575" loading="lazy">
                </div>
              </li>
              <li class="u-Adjust_Mt-24">
                <h4 class="c-Heading_Lv4">7. SMSに送信された確認コードを入力する</h4>
                <p class="u-Adjust_Mt-16">「音声通話」を選択した場合は、入力した電話番号宛に着信があります。読み上げられたコードを入力してください。</p>
                <div class="l-Media_Image u-Adjust_Mt-24">
                  <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting14.png" class="c-Img_Capture" alt="" width="300" height="290" loading="lazy">
                </div>
              </li>
              <li class="u-Adjust_Mt-24">
                <h4 class="c-Heading_Lv4">8. 利用規約を確認し、「同意する」をタップ後待機する</h4>
                <div class="u-Adjust_Align-center <%= nameSpace %>-Layout_Flow-img-column">
                  <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting15.png" class="c-Img_Capture" alt="" width="300" height="597" loading="lazy">
                  <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting16.png" class="c-Img_Capture" alt="" width="300" height="147" loading="lazy">
                </div>
                <p class="u-Adjust_Mt-24">
                  こちらでApple IDの設定は完了です。<a class="js-scroll" href="#setting10">10.ファミリーメンバーと位置情報の共有を設定し、待機する</a>へ進み、残りの設定を行ってください。
                </p>
              </li>
            </ol>
          </div>
        </div>
        <div class="c-Accordion">
          <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>13歳未満の方のApple IDを新規作成する場合</button>
          <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
            <ol>
              <li>
                <h4 class="c-Heading_Lv4">1. Apple Watchを使用する方の名前と生年月日を入力し、「続ける」をタップする</h4>
                <div class="l-Media_Image u-Adjust_Mt-24">
                  <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting17.png" class="c-Img_Capture" alt="" width="300" height="574" loading="lazy">
                </div>
              </li>
              <li class="u-Adjust_Mt-24">
                <h4 class="c-Heading_Lv4">2. 「あなたが成人であることを確認」をタップする</h4>
                <div class="l-Media_Image u-Adjust_Mt-24">
                  <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting18.png" class="c-Img_Capture" alt="" width="300" height="561" loading="lazy">
                </div>
              </li>
              <li class="u-Adjust_Mt-24">
                <h4 class="c-Heading_Lv4">3. 支払い情報入力後、画面の案内に沿って設定を完了させる</h4>
                <p class="c-Txt_Cap u-Adjust_Mt-16">
                  ※設定しているApple IDのお支払い方法によって、表示内容は変わります。
                </p>
                <div class="l-Media_Image u-Adjust_Mt-24">
                  <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting19.png" class="c-Img_Capture" alt="" width="300" height="391" loading="lazy">
                </div>
                <p class="u-Adjust_Mt-24">
                  こちらでApple IDの設定は完了です。<a class="js-scroll" href="#setting10">10.ファミリーメンバーと位置情報の共有を設定し、待機する</a>へ進み、残りの設定を行ってください。
                </p>
              </li>
            </ol>
          </div>
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">8. ファミリーメンバーにサインインを依頼する</h3>
        <p class="u-Adjust_Mt-16">
          Apple Watchを使用する方にApple IDとパスワードの入力を依頼し、「続ける」をタップする
        </p>
        <div class="l-Media_Image u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting21.png" class="c-Img_Capture" alt="" width="300" height="571" loading="lazy">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">9. 2ファクタ認証用のコードを入力し、待機する</h3>
        <p class="u-Adjust_Mt-16">
          Apple IDを設定している製品または電話番号に送信される認証用コードを入力してください。
        </p>
        <div class="u-Adjust_Align-center <%= nameSpace %>-Layout_Flow-img-column">
          <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting22.png" class="c-Img_Capture" alt="" width="300" height="316" loading="lazy">
          <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting23.png" class="c-Img_Capture" alt="" width="300" height="170" loading="lazy">
        </div>
      </li>
      <li>
        <h3 id="setting10" class="c-Heading_Lv3">10. ファミリーメンバーと位置情報の共有を設定し、待機する</h3>
        <p class="u-Adjust_Mt-16">
          Apple Watchを使用する方と位置情報を共有するか選択ができます。
        </p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">
          ※後で設定することもできます。
        </p>
        <div class="u-Adjust_Align-center <%= nameSpace %>-Layout_Flow-img-column">
          <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting24.png" class="c-Img_Capture" alt="" width="300" height="598" loading="lazy">
          <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting25.png" class="c-Img_Capture" alt="" width="300" height="155" loading="lazy">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">11. モバイル通信設定をする</h3>
        <p class="u-Adjust_Mt-16">
          「今はしない」をタップしてください。<br>
          <a href="<%= sitepath %>guide/flow/application/apple-watch-family-sharing/">Apple Watch ファミリー共有のお申し込み</a>へ進む場合は、「モバイル通信を設定」をタップし、<a href="<%= sitepath %>guide/flow/application/apple-watch-family-sharing/#setting-mobile">お申し込み方法の手順5</a>に進んでください。初期設定完了後にお申し込みもできます。
        </p>
        <div class="l-Media_Image u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting26.png" class="c-Img_Capture" alt="" width="300" height="583" loading="lazy">
        </div>
      </li>
      <li id="apple-watch-setting">
        <h3 class="c-Heading_Lv3">12. Apple Watchの機能やデータについて画面に沿って設定する</h3>
        <p class="u-Adjust_Mt-16">
          Apple Watchの機能やデータについての設定画面が続きます。内容をご確認のうえ、各設定を行ってください。
        </p>
        <div class="c-Accordion u-Adjust_Mt-24">
          <button type="button" id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>機能やデータの設定をする</button>
          <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
            <ol>
              <li>
                <h4 class="c-Heading_Lv4">1.Apple watch用のWi-Fiを設定する</h4>
                <div class="l-Media_Image u-Adjust_Mt-24">
                  <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting27.png" class="c-Img_Capture" alt="" width="300" height="583" loading="lazy">
                </div>
              </li>
              <li class="u-Adjust_Mt-24">
                <h4 class="c-Heading_Lv4">2.位置情報サービスの使用有無を選択する</h4>
                <div class="l-Media_Image u-Adjust_Mt-24">
                  <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting28.png" class="c-Img_Capture" alt="" width="300" height="596" loading="lazy">
                </div>
              </li>
              <li class="u-Adjust_Mt-24">
                <h4 class="c-Heading_Lv4">3.Siriの使用有無を選択する</h4>
                <div class="l-Media_Image u-Adjust_Mt-24">
                  <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting29.png" class="c-Img_Capture" alt="" width="300" height="596" loading="lazy">
                </div>
              </li>
              <li class="u-Adjust_Mt-24">
                <h4 class="c-Heading_Lv4">4.Apple watchの使用状況データの共有を選択する</h4>
                <div class="l-Media_Image u-Adjust_Mt-24">
                  <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting30.png" class="c-Img_Capture" alt="" width="300" height="596" loading="lazy">
                </div>
              </li>
              <li class="u-Adjust_Mt-24">
                <h4 class="c-Heading_Lv4">5.iCloudのメッセージ保管機能の使用有無を選択する</h4>
                <div class="l-Media_Image u-Adjust_Mt-24">
                  <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting31.png" class="c-Img_Capture" alt="" width="300" height="589" loading="lazy">
                </div>
              </li>
              <li class="u-Adjust_Mt-24">
                <h4 class="c-Heading_Lv4">6.ヘルスケアデータの共有を選択する</h4>
                <div class="l-Media_Image u-Adjust_Mt-24">
                  <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting32.png" class="c-Img_Capture" alt="" width="300" height="598" loading="lazy">
                </div>
              </li>
              <li class="u-Adjust_Mt-24">
                <h4 class="c-Heading_Lv4">7.緊急通知サービスを確認する</h4>
                <div class="l-Media_Image u-Adjust_Mt-24">
                  <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting33.png" class="c-Img_Capture" alt="" width="300" height="575" loading="lazy">
                </div>
              </li>
              <li class="u-Adjust_Mt-24">
                <h4 class="c-Heading_Lv4">8.ワークアウト経路追跡機能の使用有無を選択する</h4>
                <div class="l-Media_Image u-Adjust_Mt-24">
                  <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting34.png" class="c-Img_Capture" alt="" width="300" height="593" loading="lazy">
                </div>
              </li>
              <li class="u-Adjust_Mt-24">
                <h4 class="c-Heading_Lv4">9.写真の共有を選択する</h4>
                <div class="l-Media_Image u-Adjust_Mt-24">
                  <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting35.png" class="c-Img_Capture" alt="" width="300" height="595" loading="lazy">
                </div>
              </li>
              <li class="u-Adjust_Mt-24">
                <h4 class="c-Heading_Lv4">10.Apple Watch用の連絡先を設定する</h4>
                <div class="l-Media_Image u-Adjust_Mt-24">
                  <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting36.png" class="c-Img_Capture" alt="" width="300" height="577" loading="lazy">
                </div>
                <p class="u-Adjust_Mt-24">
                  こちらで機能やデータの設定は完了です。<a class="js-scroll" href="#setting13">13. 初期設定完了</a>へお進みください。
                </p>
              </li>
            </ol>
          </div>
        </div>
      </li>
      <li>
        <h3 id="setting13" class="c-Heading_Lv3">13. 初期設定完了</h3>
        <p class="u-Adjust_Mt-16">
          「ようこそApple Watchへ」の画面が表示されたら初期設定は完了です。「OK」をタップしてご利用ください。
        </p>
        <div class="l-Media_Image u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/setting/apple-watch-family-sharing/img-setting37.png" class="c-Img_Capture" alt="" width="300" height="536" loading="lazy">
        </div>
      </li>
    </ol>
    <p class="u-Adjust_Mt-16">
      以上で初期設定は完了です。<br>
      初期設定完了後、Apple Watch ファミリー共有サービスをお申し込みする場合は<a href="<%= sitepath %>guide/flow/application/apple-watch-family-sharing/">こちら</a>を確認ください。
    </p>
  </section>

  <%- /* Apple Watchを使うなら楽天モバイルがおすすめ */ include('/include/product/apple-watch/_recommend-product-apple-watch', {
    tradeinProduct: 'Watch 7 Hermes 45mm - GPS+Cellular - Stainless',
    tradeinProductDetail: 'Watch 7 Hermes - 45mm（GPS+Cellular）ステンレスケース',
    tradeinPrice: '27,500',
    currentDir: 'guide_setting_apple-watch-family-sharing',
    date: '2023年12月22日時点',
  }) _%>

  <%- include('/include/guide/_faq') %>

  <div class="u-Adjust_Pt-64">
    <div><a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップにもどる</span></a></div>
    <div class="u-Adjust_Mt-16"><a href="<%= sitepath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a></div>
  </div>

  <div class="u-Adjust_Mt-16 guide-Btn_Bot" id="openchatbot">
    <a href="#openchatbot" data-ratId="floating-ai_chat_support" data-ratEvent="click" data-ratParam="all"><img src="<%= sitepath %>assets/img/common/img-aichat-bot.png" width="124" alt="Open chat Bot"></a>
    <div class="u-Adjust_Mt-16 guide-Btn_Bot-close">
      <div role="button" tabindex="0" id="closechatbot" class="guide-Btn_Bot-close-btn" aria-label="チャットボットを閉じる"><img src="<%= sitepath %>assets/img/common/img-aichat-close.png" width="20" alt=""></div>
    </div>
  </div>


  <%- include('/include/guide/_inquiry') %>
  <%- include('/include/guide/_review') %>
</div>

<footer class="g-Footer">
  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>
  <div class="l-System_Container">
    <%- include('/include/_breadcrumbs', {
      type: 'foot',
      pagetitle,
      directories,
    }) %>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>

<%- include('/include/_common-js') %>
<%- include('/include/guide/_generic-search-faq-js') %>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
<script>
  $(function(){
    var hash = location.hash;
    if (hash.indexOf('apple-watch-setting') > 0) {
      $('#accordion-3').click();
    }
  });
</script>
</body>
</html>
