<div class="u-Adjust_Mt-32 u-Adjust_Mb-40" id="js-faq" aria-hidden="true">
    <h2 class="c-Heading_Lv2">FAQ</h2>
    <p class="u-Adjust_Mt-16">The following is a list of frequently viewed questions. Please contact us via chat or phone from each page if you can’t find a solution for your situation.</p>
    <!-- <p class="c-Txt_Cap">*Japanese only</p> -->
    <ul class="c-Link_List guide-en-verify-Faq_List u-Adjust_Mt-24" id="js-faq-list">
    </ul>
    
    <ul class="c-Link_List guide-en-verify-Faq_List u-Adjust_Mt-24" id="js-faq-list">
        <li><a href="<%= sitepath %>faq/detail/10000652/">Can I sign a contract under a common name?<span class="c-Icon_Chevron-right"></span></a></li>
        <li><a href="<%= sitepath %>faq/detail/10000653/?l-id=verify_foreigners-en_faq_detail-10000653_02">Common mistakes made while submitting the identity verification documents<span class="c-Icon_Chevron-right"></span></a></li>
        <li><a href="<%= sitepath %>faq/detail/00001393/">I uploaded my identification  documents and applied, but my identity verification needed to be completed.<span class="c-Icon_Chevron-right"></span></a></li>
        <li><a href="<%= sitepath %>faq/detail/10000729/">What should I do if my identity verification fails?<span class="c-Icon_Chevron-right"></span></a></li>
        <li><a href="<%= sitepath %>faq/detail/00001107/">If I have uploaded the wrong information on my identification documents, how do I re-upload them?<span class="c-Icon_Chevron-right"></span></a></li>
    </ul>
</div>