<% const pagetitle = "料金シミュレーション" -%>
<% const directories = [{path:"fee/saikyo-plan/", label:"Rakuten最強プラン（料金プラン）"}] -%>
<% const namespace = "fee-simulation" -%>
<% const imgpath = `${sitepath}assets/img/fee/simulation/` %>
<%-
  include('/_header', {
    pagetitle,
    directories,
    description: '楽天モバイルに乗り換えると毎月いくらおトクになる？通話とデータ量の3ステップでわかる、かんたん料金シミュレーション！他社プランとも比較できる！現在のご利用状況からチェックしてみよう！',
    noindex: true,
    pathname: filepath,
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/fee/simulation/simulation.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
  <%- include('/include/_prepend-body') %>

  <div class="l-System">
    <%- include('/include/_header') %>
    <%- include('/include/_breadcrumbs', {
      type: 'head',
      pagetitle,
      directories,
    }) %>

    <section class="<%= namespace %>-Kv">
      <h1 class="<%= namespace %>-Kv_Img">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>kv-sp-231219.png" width="750" height="920">
          <img src="<%= imgpath %>kv-pc-231219.png" alt="お申し込み前に試してみませんか？料金シミュレーションにご回答で先着10万名様100ポイント！期間は2024年1月19日（金）8:59まで 乗り換えると毎月いくらおトクになる？他社プラント比較もできる！かんたん3ステップ！" width="1440" height="300">
        </picture>
      </h1>
    </section>

    <section class="<%= namespace %>-Main">
      <div class="l-System_Container">
        <div class="u-Adjust_Mt-16 u-Adjust_Mb-32 u-Adjust_Align-center">
          <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mb-16">本キャンペーンは2023年1月19日08:59をもちまして終了いたしました。<br>このページに記載されている情報は、キャンペーン終了時点のものです。</p>
        </div>
        <div class="u-Adjust_Align-center">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>lead-sp-231219.png" width="686" height="300">
            <img src="<%= imgpath %>lead-pc-231219.png" alt="楽天モバイルをご利用されると月平均1,388ポイントおトクに獲得！（2023年10月） 3GBまで1,078円/月 ポイント支払いで0円に※2" width="938" height="112">
          </picture>
        </div>
        <p class="c-Txt_Cap u-Align_Llc u-Adjust_Mt-8 u-Adjust_Pb-16 u-Adjust_Pb-pc-8">※1 期間限定ポイント。期間中に10万名に達した場合は特典適用の対象外 ※2 1ポイント1円としてご利用の場合 ※掲載情報は2023年10月3日時点の情報。<br class="u-Show_Xxo">あくまでも目安の金額です。実際のご利用状況によりご請求額とは異なる場合があります</p>

      </div>
    </section>

    <section class="u-Adjust_Mt-48">
      <div class="l-System_Container">
        <div class="c-Accordion">
          <button type="button" id="accordion-2152" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-2152"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>【先着10万名様限定】料金シミュレーションご回答で100ポイントプレゼントキャンペーン</button>
          <div id="accordion-content-2152" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="false">
            <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2152', level: 'h2', year: '2023', class: '', title: ''}}) %>
          </div>
      </div>
        <div class="u-Adjust_Mt-24 u-Adjust_Mt-pc-32">
          <p class="c-Txt_Cap">※製品代、契約事務手数料、データチャージを含むオプション料、通話料等は別費用。</p>
          <p class="c-Txt_Cap">※掲載している情報は2023年10月3日時点の情報です。以下の利用量でシミュレーションしています。あくまでも目安です。実際のご利用状況によりデータ利用量は変動します。1カ月は30日で計算しています。</p>
          <p class="c-Txt_Cap u-Adjust_Mt-16">
            ■LINEやメールのやりとり：7KB／1回あたりで計算<br>
            ※メール：約500KB／1通（添付ファイル含む）<br>
            ※LINE（文字）：約3KB／1トーク<br>
            ※LINE（スタンプ）：約5〜10KB／1回<br>
            ※ほとんどしない：月5回で計算
          </p>
          <p class="c-Txt_Cap u-Adjust_Mt-16">
            ■写真や動画のやりとり（送受信）：3MB／1回で計算<br>
            ※写真：300KB／1枚（低画質の場合）3MB／1枚（オリジナル画質の場合）<br>
            ※動画：約6MB（30秒）<br>
            ※画質やサイズにより異なる<br>
            ※ほとんどしない：月5回で計算
          </p>
          <p class="c-Txt_Cap u-Adjust_Mt-16">
            ■SNSやWebサイト閲覧：400MB／1時間で計算<br>
            ※SNSはサービスによって異なる<br>
            ※Google Web検索：約1.8MB／1ページ<br>
            ※ほとんど見ない：月30分で計算
          </p>
          <p class="c-Txt_Cap u-Adjust_Mt-16">
            ■動画閲覧：600MB／1時間で計算<br>
            ※YouTubeをSD画質で閲覧した場合<br>
            ※ほとんど見ない：月30分で計算
          </p>
        </div>
      </div>
    </section>

    <footer class="g-Footer u-Adjust_Mt-56 u-Adjust_Mt-pc-32">
      <div class="l-System_Container">
        <%- include('/include/_breadcrumbs', {
          type: 'foot',
          pagetitle,
          directories,
        }) %>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>

  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
</body>
</html>
