<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "光回線なら楽天ひかり | 高速安定のインターネット回線" -%>
<% const directories = [] -%>
<% const namespace = "hikari-top" -%>

<%-
 include('/_header', {
    hikaritop: true,
    testtype: '',
    pagetitle: pagetitle,
    // directories: directories,
    description: '楽天の光回線インターネットサービス、楽天ひかり。SPU対象でポイントも貯まる。次世代通信規格IPv6対応で混雑する時間帯でも快適。',
    noindex: false,
    pathname: filepath,
    ishikari: true,
    ogp_img: 'https://network.mobile.rakuten.co.jp/assets/img/hikari/top/ogp-top-230412.png',
    canonical_custom: 'https://network.mobile.rakuten.co.jp/hikari/'
  });
%>
<%- include('/include/hikari/_common-v2-hikari-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/inc/i-hikari-gauge.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/top/top.css?20240424">
<%- include('/include/_append-head-hikari') %>
</head>
<body id="hikari-top-Layout-b_Main">
<%- include('/include/_prepend-body-hikari') %>

<div class="l-System">
  <%# top:trueでパンくずと「※表記の金額は特に記載のある場合を除きすべて税込です。」を非表示 _%>
  <%- include('/hikari/include/_header', {
      top: 'true',
      headerType: 'normal',
      pagetitle: pagetitle,
      pathname: filepath,
      // customApplyBtnCpnID: '',
    })
  _%>


  <div class="hikari-top-Layout-b_Main">

    <%#- include('/include/hikari/top-carousel') %>

    <div class="hikari-top-Layout-b_Kv">
      <div class="hikari-top-Layout-b_Kv-img u-Adjust_Align-center">
        <picture>
          <source media="(max-width: 834px)" srcset="/assets/img/hikari/top/kv-231201-sp.png" width="834" height="734">
          <img src="/assets/img/hikari/top/kv-231201-pc.png" width="1440" height="300" alt="高速＆安定の光回線！月額基本料3,800円~[税込4,180円]※1 楽天モバイルとセットで使えば楽天市場のお買い物がポイント毎日全員7倍※2">
        </picture>
      </div>
      <div class="l-System_Container">
        <p class="c-Txt_Cap u-Adjust_Mt-8">※1 マンションプラン 3,800円（税込4,180円）／ファミリープラン 4,800円（税込5,280円）。※2 楽天会員1倍、Rakuten Turboまたは楽天ひかりご契約中＋2倍。楽天モバイルご利用でポイント＋4倍（スーパーホーダイ、組み合わせプラン、コミコミプランは対象外）。</p>
      </div>

      <div class="hikari-top-Information hikari-top-Information-b u-Adjust_Mt-8" aria-hidden="true">
        <div class="l-System_Container hikari-top-Information_Content">
          <div class="hikari-top-Information_Title">お知らせ</div>
          <dl class="hikari-top-Information_List" id="hikari-top-information">
          </dl>
        </div>
      </div>

      <div class="u-Adjust_Mt-32">
        <div class="l-System_Container u-Adjust_Align-center">
          <h2 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mb-16">おトクなキャンペーン<br class="u-Show_Oxx">実施中！</h2>
          <%- include('/include/hikari/bnr/_bnr-six-month-free-1032-160', {
            lidparts: 'hikari_hikari'
          }) %>
        </div>
      </div>


    <div class="hikari-top-Layout-b_Internet u-Adjust_Mt-40">
      <div class="l-System_Container">
        <h1 class="c-Heading_Lv1 u-Adjust_Align-center" data-ratid="scroll-01_speed" data-ratevent="appear">高速＆安定の光回線</h1>

        <div class="hikari-top-Layout-b_Internet-list-area">
          <div class="hikari-top-Layout-b_Internet-list-item">
            <h2 class="c-Heading_Lv4 u-Adjust_Align-center">いつでも快適</h2>
            <figure class=""><img src="/assets/img/hikari/top/kaiteki.png" alt=""></figure>
            <p class="u-Adjust_Align-center">お昼時や夜のピーク<br class="hikari-top-Layout-b_Internet-br">タイムでもサクサク！</p>
          </div>

          <div class="hikari-top-Layout-b_Internet-list-item">
            <h2 class="c-Heading_Lv4 u-Adjust_Align-center">どこでも快適</h2>
            <figure class=""><img src="/assets/img/hikari/top/dokodemo.png" alt=""></figure>
            <p class="u-Adjust_Align-center">人口密集エリアでも<br class="hikari-top-Layout-b_Internet-br">快適！</p>
          </div>

          <div class="hikari-top-Layout-b_Internet-list-item">
            <h2 class="c-Heading_Lv4 u-Adjust_Align-center">安定した通信</h2>
            <figure><img src="/assets/img/hikari/top/antei.png" alt=""></figure>
            <p class="u-Adjust_Align-center">ドラマの一気見でも<br>途切れない！</p>
          </div>

          <div class="hikari-top-Layout-b_Internet-list-item">
            <h2 class="c-Heading_Lv4 u-Adjust_Align-center">ギガ使い放題</h2>
            <figure class=""><img src="/assets/img/hikari/top/tukaihoudai.png" alt=""></figure>
            <p class="u-Adjust_Align-center">ギガは気にしなくて<br class="hikari-top-Layout-b_Internet-br">大丈夫！</p>
          </div>
        </div>

        <div class="u-Adjust_Align-center">
          <a href="<%= sitepath %>hikari/internet/" class="c-Btn_Secondly-large"><span><span>高速＆安定の光回線を詳しく見る</span><span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span></span></a>
        </div>
      </div>


    </div>


    <div id="point"></div>

    <%# 楽天モバイルとセットで使えば楽天市場のお買い物が常時ポイントUP！最大16倍！！※ ================================================================= _%>
    <div class="<%= namespace %>-Layout-b_Section-blue <%= namespace %>-Layout-b_Point_Area u-Adjust_Mt-48">

      <div class="l-System_Container">
        <h2 class="<%= namespace %>-Layout-b_Point-heading" data-ratid="scroll-02_spu" data-ratevent="appear">
          <span>
            <img src="<%= sitepath %>assets/img/hikari/top/r-point.png?220824" alt="" width="78" height="78">
          </span>
          <span>
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/hikari/top/max-7bai-231201-sp.png" width="339" height="229">
              <img src="<%= sitepath %>assets/img/hikari/top/max-7bai-231201-pc.png" alt="楽天モバイルとセットで使えば楽天市場のお買い物が常時ポイントUP！毎日全員7倍！！※" width="809" height="148">
            </picture>
          </span>
        </h2>

        <div class="<%= namespace %>-Layout-b_Point_Card_Container">
          <h3 class="u-Adjust_Align-center hikari-top-Layout-b_Point-title">楽天市場のお買い物で<span class="<%= namespace %>-Utility_Inline-block">獲得できるポイントの内訳</span></h3>

          <div class="l-Media_Grid-half u-Adjust_Mt-16 <%= namespace %>-Card_Wrap">
            <div class="<%= namespace %>-Card">
              <p class="<%= namespace %>-Card_Title">
                <span class="<%= namespace %>-Card_Txt-01">Rakuten Turbo</span>&nbsp;または&nbsp;<span class="<%= namespace %>-Card_Txt-02">楽天ひかり</span>
              </p>
              <div class="<%= namespace %>-Card_Body" style="align-items: center;">
                <picture>
                  <img src="<%= sitepath %>assets/img/hikari/top/spu.png?220824" alt="SPU" width="64">
                </picture>
                <picture>
                  <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/hikari/top/plus-2bai-sp-231201.png" width="83" height="44">
                  <img src="<%= sitepath %>assets/img/hikari/top/plus-2bai-pc-231201.png" alt="+2倍" width="86" height="42">
                </picture>
              </div>
            </div>

            <div class="<%= namespace %>-Card">
              <p class="<%= namespace %>-Card_Title">
                <span class="<%= namespace %>-Card_Txt-03">楽天モバイル</span>
              </p>

              <div class="<%= namespace %>-Card_Body">
                  <img src="<%= sitepath %>assets/img/hikari/top/spu.png?220824" alt="SPU" width="64">
                <picture>
                  <img src="<%= sitepath %>assets/img/hikari/top/max-4bai-pc-231201.png" alt="+4倍※" width="74" height="27">
                </picture>
              </div>
            </div>
          </div>

        </div>

        <div>

        <p class="c-Txt_Cap u-Adjust_Mt-24">
          ※楽天会員1倍、Rakuten Turboまたは楽天ひかりご契約中＋2倍 、楽天モバイルご利用で＋4倍（スーパーホーダイ、組み合わせプラン、コミコミプランはSPUの対象外）※楽天ひかりはプロバイダーとして楽天ブロードバンドのみ契約されている場合は特典対象外。※毎月の獲得上限ポイントはRakuten Turboまたは楽天ひかりが1,000ポイント、楽天モバイルが2,000ポイント。いずれも期間限定ポイントでの進呈 ※ポイント未利用時の倍率
          <a href="https://event.rakuten.co.jp/campaign/point-up/everyday/point/" class="c-Link_Txt-inline" target="_blank">
            SPUの詳細はこちら
            <span class="c-Icon_New-window-l"></span>
          </a>
        </p>
        </div>

        <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
          <a href="<%= sitepath %>internet/turbo/campaign/spu/?tab-list=tab-menu2&l-id=rhk_mno_internet_turbo_campaign_spu_03#tabArea" class="c-Btn_Secondly-large"><span><span>楽天ひかりのSPUを詳しく見る</span><span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span></span></a>
        </div>



      </div>
    </div>
    <%# //楽天モバイルとセットで使えば楽天市場のお買い物が常時ポイントUP！最大16倍！！※ ================================================================= _%>


    <div id="manthly-basic-fee" class="u-Adjust_Pb-48"></div>
    <div class="l-System_Container hikari-top-Layout-b_Section-white">
      <div class="hikari-top-Layout-b_Fee">
        <div class="hikari-top-Layout-b_Self-intro-wrap">
          <h2 class="c-Heading_Lv1 u-Adjust_Align-center" data-ratid="scroll-03_fee" data-ratevent="appear">
            月額基本料
          </h2>
        </div>

        <div class="hikari-top-Layout-b_Fee-img u-Adjust_Align-center u-Adjust_Mt-32">
          <picture>
            <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/top/fee-sp-230412.png" width="100%">
            <img src="<%= sitepath %>assets/img/hikari/top/fee-pc-230412.png" alt="マンションプラン（集合住宅） 3,800円(税込4,180円) ファミリープラン（戸建） 4,800円(税込5,280円)" width="728">
          </picture>
        </div>



        <div class="hikari-top-Layout-b_Sixmonth-box">
          <div class="hikari-top-Layout-b_Sixmonth-txt">
            <picture>
              <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/top/img-six-month-free-01-sp.png" width="311px" height="auto">
              <img src="<%= sitepath %>assets/img/hikari/top/img-six-month-free-01-pc.png" alt="楽天ひかり初めてお申し込み＆楽天モバイルご利用で" width="496px" height="auto">
            </picture>
          </div>

          <div class="u-Adjust_Align-center">
          <picture>
            <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/top/img-six-month-free-02-sp.png" width="295.6px" height="auto">
            <img src="<%= sitepath %>assets/img/hikari/top/img-six-month-free-02-pc.png" alt="マンションプラン（集合住宅）/ファミリープラン（戸建）どちらも6カ月0円！6カ月で最大28,800円（税込31,680円）もおトクに！※1" width="585.82px" height="auto">
          </picture>
          </div>

          <div class="c-Theme-Light u-Adjust_Align-center u-Adjust_Pt-8 u-Adjust_Pb-8">
            <p class="c-Txt_Emp">7カ月目以降</p>
            <div class="hikari-top-Layout-b_Sixmonth-flex">
              <div class="u-Adjust_Mt-8">マンションプラン（集合住宅）<br class="hikari-top-Layout-b_Btn_Sp_br"><span class="c-Txt_Emp">3,800円（税込4,180円）</span><br class="hikari-top-Layout-b_Btn_Sp_br"><span class="hikari-top-Layout-b_Sixmonth-Show-pc">/ </span></div>
              <div class="u-Adjust_Mt-8">ファミリープラン（戸建）<br class="hikari-top-Layout-b_Btn_Sp_br"><span class="c-Txt_Emp">4,800円（税込5,280円）</span></div>
            </div>
          </div>

          <p class="u-Adjust_Mt-8 c-Txt_Cap">
            ※1 ファミリープラン（戸建）の場合。マンションプラン（集合住宅）は最大22,800円（税込25,080円）<br>
            ※ 楽天モバイルRakuten最強プラン（データタイプを含む）利用中、または楽天ひかりのお申し込みの翌月15日までの利用開始で、楽天ひかりの開通月から6カ月間月額基本料0円<br>
            ※楽天ひかりにお申し込みいただいた方で、お申し込み月を1カ月目として4カ月目末日以内に開通した方<br>
            ※ 楽天ひかりは初期費用等別。契約期間中（2年ごとに更新）は契約解除料が発生。楽天ひかりお申し込み時の楽天IDと楽天モバイルへ登録されている楽天IDが異なる場合は特典対象外<br>
            ※ その他条件の詳細は<a href="<%= sitepath %>hikari/campaign/six-month-free/?l-id=rhk_campaign_six-month-free_01#anc05" data-ratid="rhk_campaign_six-month-free_01" data-ratevent="click" data-ratparam="all" class="c-Link_Txt">こちら</a>
          </p>
        </div>

        <p class="c-Txt_Cap u-Adjust_Mt-24">
          ※楽天ひかりとは、NTTの光回線を利用したインターネット回線サービスです。※初期登録費、工事費、オプション費用等は除く。契約期間中は契約解除料ファミリープラン5,280円、マンションプラン4,180円が発生（2年ごとに更新）。<br>
          ※1 SoftBank 光、ドコモ光、OCN 光、ぷらら光、ビッグローブ光、So-net 光 プラスなど他社光コラボレーション事業者から「楽天ひかり」にお乗り換えの方。
        </p>

        <p class="u-Adjust_Mt-24 u-Adjust_Align-center">
          <a href="<%= sitepath %>hikari/fee/pricelist/" class="c-Btn_Secondly-large"><span><span>各種費用を詳しく見る</span><span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span></span></a>
        </p>
      </div>
    </div>



    <!-- ================================================================= ご利用開始までの流れ　PC ========================================================================= -->

    <!-- ご利用開始までの流れ -->
    <div class="hikari-top-Layout-b_Section-blue hikari-top-Layout-b_Flow">
      <h2 class="c-Heading_Lv2 u-Adjust_Pt-48 u-Adjust_Pb-32 u-Adjust_Align-center" data-ratid="scroll-04_flow" data-ratevent="appear">ご利用開始までの流れ</h2>
      <!-- フロー図 -->
      <div class="hikari-top-Layout-b_Flow_Image_Area">

        <!-- アイコンとタグ -->
        <div class="hikari-top-Layout-b_Flow_Point">
          <!-- アイコン -->
          <div class="hikari-top-Layout-b_Flow_Point_Icon">
            <picture>
              <img src="<%= sitepath %>assets/img/hikari/top/sp-regist.png" alt="">
            </picture>
          </div>
          <!-- タグ -->
          <p class="hikari-top-Layout-b_Flow_Point_Tag">
            ステップ 1
          </p>
          <span class="c-Txt_Normal-m u-Adjust_Mt-8">お申し込み</span>
        </div>

        <!-- アイコンとタグ -->
        <div class="hikari-top-Layout-b_Flow_Point">
          <!-- アイコン -->
          <div class="hikari-top-Layout-b_Flow_Point_Icon">
            <picture>
              <img src="<%= sitepath %>assets/img/hikari/top/mail.png" alt="">
            </picture>
          </div>
          <!-- タグ -->
          <p class="hikari-top-Layout-b_Flow_Point_Tag">
            ステップ 2
          </p>
          <span class="c-Txt_Normal-m u-Adjust_Mt-8">工事に関するお知らせ</span>
        </div>

        <!-- アイコンとタグ -->
        <div class="hikari-top-Layout-b_Flow_Point">
          <!-- アイコン -->
          <div class="hikari-top-Layout-b_Flow_Point_Icon">
            <picture>
              <img src="<%= sitepath %>assets/img/hikari/top/setting.png" alt="">
            </picture>
          </div>
          <!-- タグ -->
          <p class="hikari-top-Layout-b_Flow_Point_Tag">
            ステップ 3
          </p>
          <span class="c-Txt_Normal-m u-Adjust_Mt-8">開通工事</span>
        </div>

        <!-- アイコンとタグ -->
        <div class="hikari-top-Layout-b_Flow_Point">
          <!-- アイコン -->
          <div class="hikari-top-Layout-b_Flow_Point_Icon">
            <picture>
              <img src="<%= sitepath %>assets/img/hikari/top/router.png" alt="">
            </picture>
          </div>
          <!-- タグ -->
          <p class="hikari-top-Layout-b_Flow_Point_Tag">
            ステップ 4
          </p>
          <span class="c-Txt_Normal-m u-Adjust_Mt-8">設定・ご利用開始</span>
        </div>

        <!-- 右矢印 -->
      <!-- アイコン -->
      <div class="hikari-top-Layout-b_Flow_Arrow-right hikari-top-Layout-b_Flow_Arrow-right-1">
        <picture>
          <img src="<%= sitepath %>assets/img/hikari/top/right-arrow.png" alt="">
        </picture>
      </div>

      <div class="hikari-top-Layout-b_Flow_Arrow-right hikari-top-Layout-b_Flow_Arrow-right-2">
        <picture>
          <img src="<%= sitepath %>assets/img/hikari/top/right-arrow.png" alt="">
        </picture>
      </div>

      <div class="hikari-top-Layout-b_Flow_Arrow-right hikari-top-Layout-b_Flow_Arrow-right-3">
        <picture>
          <img src="<%= sitepath %>assets/img/hikari/top/right-arrow.png" alt="">
        </picture>
      </div>
      </div>

      <p class="c-Txt_Cap u-Adjust_Mt-24 u-Adjust_Align-center">※ご利用開始の流れはご利用状況によって異なります</p>
      <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <a href="<%= sitepath %>hikari/flow/" class="c-Btn_Secondly-large" data-lid_no="02"><span><span>ご利用開始までの流れを詳しく見る</span><span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span></span></a>
      </div>
    </div>


    <!-- ================================================================= ご利用開始までの流れ　SP ========================================================================= -->
    <!-- ご利用開始までの流れ -->
    <div class="hikari-top-Layout-b_Section-blue hikari-top-Layout-b_Flow-SP">
      <h2 class="c-Heading_Lv2 u-Adjust_Pt-48 u-Adjust_Pb-32 u-Adjust_Align-center" data-ratid="scroll-04_flow" data-ratevent="appear">ご利用開始までの流れ</h2>

      <!-- フロー図 -->
      <div class="hikari-top-Layout-b_Flow_Image_Area-SP">

        <!-- アイコンとタグ -->
        <div class="hikari-top-Layout-b_Flow_Point-SP">
          <!-- アイコン -->
          <div class="hikari-top-Layout-b_Flow_Point_Icon">
            <picture>
              <img src="<%= sitepath %>assets/img/hikari/top/sp-regist.png" alt="">
            </picture>
            <!-- 下矢印 -->
            <div class="hikari-top-Layout-b_Flow_Arrow-right hikari-top-Layout-b_Flow_Arrow-down">
              <picture>
                <img src="<%= sitepath %>assets/img/hikari/top/arrow-down.png" alt="">
              </picture>
            </div>
          </div>
          <!-- タグ -->
          <div class="u-Adjust_Ml-24">
            <p class="hikari-top-Layout-b_Flow_Point_Tag">
              ステップ 1
            </p>
            <span class="c-Txt_Normal-m hikari-top-Layout-b_Flow_Point_Tag_Title">お申し込み</span>
          </div>
        </div>



        <!-- アイコンとタグ -->
        <div class="hikari-top-Layout-b_Flow_Point-SP">
          <!-- アイコン -->
          <div class="hikari-top-Layout-b_Flow_Point_Icon">
            <picture>
              <img src="<%= sitepath %>assets/img/hikari/top/mail.png" alt="">
            </picture>
            <!-- 下矢印 -->
            <div class="hikari-top-Layout-b_Flow_Arrow-right hikari-top-Layout-b_Flow_Arrow-down">
              <picture>
                <img src="<%= sitepath %>assets/img/hikari/top/arrow-down.png" alt="">
              </picture>
            </div>
          </div>
          <!-- タグ -->
          <div class="u-Adjust_Ml-24">
            <p class="hikari-top-Layout-b_Flow_Point_Tag">
              ステップ 2
            </p>
            <span class="c-Txt_Normal-m hikari-top-Layout-b_Flow_Point_Tag_Title">工事に関するお知らせ</span>
          </div>
        </div>


        <!-- アイコンとタグ -->
        <div class="hikari-top-Layout-b_Flow_Point-SP">
          <!-- アイコン -->
          <div class="hikari-top-Layout-b_Flow_Point_Icon">
            <picture>
              <img src="<%= sitepath %>assets/img/hikari/top/setting.png" alt="">
            </picture>
            <!-- 下矢印 -->
            <div class="hikari-top-Layout-b_Flow_Arrow-right hikari-top-Layout-b_Flow_Arrow-down">
              <picture>
                <img src="<%= sitepath %>assets/img/hikari/top/arrow-down.png" alt="">
              </picture>
            </div>
          </div>
          <!-- タグ -->
          <div class="u-Adjust_Ml-24">
            <p class="hikari-top-Layout-b_Flow_Point_Tag">
              ステップ 3
            </p>
            <span class="c-Txt_Normal-m hikari-top-Layout-b_Flow_Point_Tag_Title">開通工事</span>
         </div>
        </div>

        <!-- アイコンとタグ -->
        <div class="hikari-top-Layout-b_Flow_Point-SP">
          <!-- アイコン -->
          <div class="hikari-top-Layout-b_Flow_Point_Icon">
            <picture>
              <img src="<%= sitepath %>assets/img/hikari/top/router.png" alt="">
            </picture>
          </div>
          <!-- タグ -->
          <div class="u-Adjust_Ml-24">
            <p class="hikari-top-Layout-b_Flow_Point_Tag">
              ステップ 4
            </p>
            <span class="c-Txt_Normal-m hikari-top-Layout-b_Flow_Point_Tag_Title">設定・ご利用開始</span>
          </div>
        </div>
      </div>
    </div>
    <div class="hikari-top-Layout-b_Section-blue hikari-top-Layout-b_Flow_Btn-Area-SP">
      <p class="c-Txt_Cap u-Adjust_Align-center">※ご利用開始の流れはご利用状況によって異なります</p>
       <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
         <a href="<%= sitepath %>hikari/flow/" class="c-Btn_Secondly-large"><span><span>ご利用開始までの流れを<br class="hikari-top-Layout-b_Btn_Sp_br">詳しく見る</span><span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span></span></a>
      </div>
    </div>
    <!-- ================================================================= ご利用開始までの流れ　SP ========================================================================= -->


    <div class="hikari-top-Layout-b_Section-white hikari-top-Layout-b_Support_Container u-Adjust_Pb-0">
      <h2 class="c-Heading_Lv2 u-Adjust_Align-center" data-ratid="scroll-05_support" data-ratevent="appear">お客様サポート</h2>

      <div class="hikari-top-Layout-b_Support_Area">
        <div class="hikari-top-Layout-b_Support_Card">
          <div class="hikari-top-Layout-b_Support_Card_Container">

            <div class="hikari-top-Layout-b_Support_Icon">
              <picture>
                <img src="<%= sitepath %>assets/img/hikari/top/icon-support.png" alt="" width="88" height="88">
              </picture>
            </div>
            <h3 class="c-Heading_Lv4 u-Adjust_Align-center">お困りごとに合わせた<br>各種サポート</h3>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
              <a href="<%= sitepath %>hikari/support/" class="c-Btn_Secondly  hikari-top-Layout-b_Support_Btn hikari-top-Layout-b_Support_Btn--another"><span><span>お客様サポートを見る</span><span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span></span></a>
            </div>
          </div>

        </div>

        <div class="hikari-top-Layout-b_Support_Card">
          <div class="hikari-top-Layout-b_Support_Card_Container-2">
            <div class="hikari-top-Layout-b_Support_Icon">
              <picture>
                <img src="<%= sitepath %>assets/img/hikari/top/icon-setting2.png" alt="" width="88" height="88">
              </picture>
            </div>
            <h3 class="c-Heading_Lv4 u-Adjust_Align-center">料金・契約情報確認、<br>設定変更</h3>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
              <a href="https://ms.fusioncom.co.jp/rbb/members/login?campaign=web-rakuten&_ebx=6zl8wjjwg.1633393105.7lkfe8n/" target="_blank" rel="noopener" class="c-Btn_Secondly hikari-top-Layout-b_Support_Btn"><span><span>会員ページにログイン</span><span class="c-Icon_Login-l c-Btn_Icon-end" style="font-size: 24px;"></span></span></a>
            </div>
          </div>
        </div>
      </div>

      <div class="hikari-top-Layout-b_Section-blue u-Adjust_Mt-48 u-Adjust_Pt-32 u-Adjust_Pb-32">
        <div class="l-System_Container">
          <h3 class="c-Heading_Lv3 u-Adjust_Align-center">楽天ひかりと楽天モバイルを<br class="u-Show_Oox">セットでご利用の方へ</h3>

          <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <%- include('/include/hikari/bnr/_bnr-casa-1032-160', {
              orglid: 'rhk_hikari_product_internet_rakuten-casa_01',
            }) %>
          </div>
        </div>
      </div>
    </div>

    <div class="hikari-top-Layout-b_Section-white hikari-top-Layout-b_Turbo_Container u-Adjust_Align-center">
      <div class="l-System_Container">
      <h2 class="c-Heading_Lv4" data-ratid="scroll-06_turbo" data-ratevent="appear">
        <span class="hikari-top-Layout-b_Turbo-Txt">Turboもひかりも、どちらもおトク</span></h2>
        <div class="u-Adjust_Mt-16">
          <%- include('/include/hikari/bnr/_bnr', {
            orglid1: 'rhk_hikari_internet_turbo_campaign_six-month-free_01',
            orglid2: 'rhk_hikari_hikari_campaign_six-month-free_01'
          }) %>
        </div>
      </div>
    </div>

    <div class="l-System_Container u-Adjust_Mt-48">
      <h4 class="c-Heading_Lv4 u-Adjust_Align-center" data-ratid="scroll-07_other-service-info" data-ratevent="appear">楽天グループおすすめ情報</h4>
      <%- include('/include/hikari/campaign/one-year-free/_carousel-banner') %>
    </div>

  <footer class="g-Footer">
    <%- include('/hikari/include/_footer', {
      pagetitle: pagetitle,
      directories: directories,
      // hiddenFooterCtaLink: '',
      hiddenFooterCtaText: '',
      // hiddenFooterCta: true,
      // hiddenMenu: true,
      hiddenPopask: true,
      uniquePopask: 'top',
      // hiddenBacktop: true,
      hiddenBreadcrumbs: true,
      hiddenCta: true,
      appearTag: true,
      appear: true,
    }) _%>
  </footer>

</div>
</div>
<%- include('/include/hikari/_common-js') %>
<script src="<%= sitepath %>assets/js/hikari/top.index.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/library/purify.min.js"></script>
<%- include('/include/_append-body') %>
</div>
<script defer>
  jQuery(function ($) {
    // カルーセル
    const topCarouselCampaign = $('.js-oneyearfree-Carousel-campaign');

    topCarouselCampaign.each(function() {
        let $self = $(this);
        const carouselConfig = {
          respondTo: 'min',
          slidesToShow: 5,
          arrows: true,
          dots: true,
          dotsClass: 'slick-dots c-Carousel_Dots',
          infinite: true,
          prevArrow: '<button class="c-Carousel_Nav-prev c-Icon_Chevron-left" aria-label="Previous" type="button">Previous</button>',
          nextArrow: '<button class="c-Carousel_Nav-next c-Icon_Chevron-right" aria-label="Next" type="button">Next</button>',
        };
        $self.slick($.extend({}, carouselConfig, {
          appendArrows: $self.next('.c-Carousel_Nav'),
          appendDots: $self.next('.c-Carousel_Nav'),
          slidesToScroll: 1,
          responsive: [
            {
            breakpoint: 475,
              settings: {
                slidesToShow: 3,
              }
            },
          ]
        }));
    });
  });
</script>
</body>
</html>
