<% const pagetitle = "初めてのRakuten UN-LIMIT VIお申し込み限定！iPhone SE（第3世代）発売記念キャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "iphone-se-3rd" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: 'iPhone SE（第3世代）発売記念！初めてのRakuten UN-LIMIT VIお申し込み＆iPhone SE（第3世代）購入で最大30,000円相当をポイント還元！',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/iphone-se-3rd/iphone-se-3rd.css?20240424">
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout-Label">
      <ul class="c-Label_List <%= namespace %>-Layout-Label_List">
        <li class="c-Label_Normal">初めて申込限定</li>
        <li class="c-Label_Normal">対象製品限定</li>
        <li class="c-Label_Normal">Rakuten Link利用必要</li>
      </ul>
      <p class="<%= namespace %>-Layout-Label_point">ポイント：付与日を含めて6カ月の期間限定ポイント</p>
    </div>

    <div class="<%= namespace %>-Hero_Return">
      <div class="<%= namespace %>-Hero_Container">
        <div class="<%= namespace %>-Hero_Main">
          <h1>
          <div class="<%= namespace %>-Utility_Img-pc">
            <div class="<%= namespace %>-Hero_Upper">
              <div class="<%= namespace %>-Hero_Upper_container">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-heading-01-pc.png" alt="パワーをみんなの手に。iPhone SE(第3世代)なら楽天モバイル。">
              </div>
            </div>
            <div class="<%= namespace %>-Hero_Bottom">
              <div class="<%= namespace %>-Hero_Bottom_container">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-heading-02-pc.png?220614" alt="iPhone SE(第3世代)発売記念キャンペーン 最大30,000円相当分ポイント還元">
              </div>
            </div>
          </div>
          <div class="<%= namespace %>-Utility_Img-sp">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-heading3-sp.png?220614" alt="パワーをみんなの手に。iPhone SE(第3世代)なら楽天モバイル。iPhone SE(第3世代)発売記念キャンペーン 最大30,000円相当分ポイント還元">
          </div>
        </h1>
        </div>
      </div>
    </div>

    <div class="<%= namespace %>-Layout_Body u-Adjust_Pt-0">
      <div class="l-System c-Theme-Light u-Adjust_Pt-8 u-Adjust_Pb-72">
        <div class="l-System_Container">
          <div class="u-Adjust_Align-center">
            <p class="u-Adjust_Mt-8">
              <span class="c-Txt_Emp-01">【キャンペーン期間】</span><br class="<%= namespace %>-Utility_Br-sp">
              Web： 2022年3月11日（金）22:00〜6月30日（木）23:59／ショップ：2022年3月18日（金）開店〜6月30日（木）閉店</p>
              <p class="c-Txt_Emp-02 c-Txt_Normal-l u-Adjust_Mt-16 u-Adjust_Mb-16">本キャンペーンは終了しました。</p>
          </div>


          <p class="c-Txt_Cap u-Adjust_Mt-16">
            ※2022年6月14日に終了日を掲載しました。<br>
            ※お一人様一回までの適用となります。<br>
            <span class="u-Adjust_Mt-8 c-Txt_Emp-02">※製品到着または店頭で購入した日の翌月末日23:59までに「Rakuten UN-LIMIT VI」プラン利用開始とRakuten Linkのご利用でキャンペーン適用となります。</span>条件の詳細は<a href="#campaign-rule1458" class="js-scroll c-Link_Txt">こちら</a><br>
            ※<a href="#campaign-rule1458" class="js-scroll c-Link_Txt">「他社から乗り換え（MNP）限定！iPhone SE（第3世代）発売記念キャンペーン</a>」および「<a href="#campaign-rule1113" class="js-scroll c-Link_Txt">【Rakuten UN-LIMIT VIお申し込み特典】だれでも5,000ポイントプレゼント</a>」、「<a href="#campaign-rule1383" class="js-scroll c-Link_Txt">iPhoneアップグレードプログラム適用で5,000ポイント還元キャンペーン</a>」、「<a href="#campaign-rule1558" class="js-scroll c-Link_Txt">新規ご契約・プラン変更（移行）の方対象！iPhone SE（第3世代）発売記念キャンペーン</a>」適用で、最大30,000ポイント還元となります。<br>
          </p>

          <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-32">
            <li><a href="#point" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーン概要</a></li>
            <li><a href="#aboutiphonese3" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>iPhone SE（第3世代）について</a></li>
            <li><a href="#flow" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>ポイント獲得の流れ</a></li>
            <li><a href="#campaign-rule" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルール</a></li>
          </ul>

          <div class="c-Theme-White u-Adjust_Mt-32">
            <h2 class="c-Txt_Normal-ll <%= namespace %>-Conditions_Text u-Adjust_Align-center">キャンペーンの達成条件</h2>
            <p class="<%= namespace %>-Conditions_Text u-Adjust_Mt-16 u-Adjust_Align-center">本キャンペーンには達成条件が設定されています。詳細は<a href="#campaign-rule" class="c-Link_Txt js-scroll">キャンペーンルール</a>をご確認ください。</p>
            <img class="<%= namespace %>-Utility_Br-pc u-Adjust_Mt-16 <%= namespace %>-Conditions_Img" src="<%= sitepath %>assets/img/campaign/<%= namespace %>/conditions-pc.png?220614" alt="初めてのRakuten UN-LIMIT VIお申し込み＆iPhone SE（第3世代）を購入 初めてのRakuten UN-LIMIT VIお申し込みと同日中にiPhone SE（第3世代）をご購入ください。プランのご利用 お申し込みの翌月末日の23:59までに、開通手続きをしてプランのご利用を開始してください。 Rakuten Linkで10秒以上通話 お申し込みの翌月末日23:59までに、Rakuten Linkアプリを利用して10秒以上の通話をしてください。">
            <img class="<%= namespace %>-Utility_Br-sp u-Adjust_Mt-16 <%= namespace %>-Conditions_Img" src="<%= sitepath %>assets/img/campaign/<%= namespace %>/conditions-sp.png?220614" alt="初めてのRakuten UN-LIMIT VIお申し込み＆iPhone SE（第3世代）を購入 初めてのRakuten UN-LIMIT VIお申し込みと同日中にiPhone SE（第3世代）をご購入ください。プランのご利用 お申し込みの翌月末日の23:59までに、開通手続きをしてプランのご利用を開始してください。 Rakuten Linkで10秒以上通話 お申し込みの翌月末日23:59までに、Rakuten Linkアプリを利用して10秒以上の通話をしてください。">

            <div class="c-Accordion u-Adjust_Mt-24">
              <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1" data-ratid="campaign_iphone-se-3rd_accordion-achievement" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>達成状況の確認方法とポイント付与時期</button>
              <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true" style="display:none;">
                <h4 class="c-Heading_Lv4">達成状況の確認方法</h4>
                <ol class="u-Adjust_Mt-16">
                  <li>
                    <p class="c-Txt_Emp-01">1. 「<a href="<%= ecarepath %>my-rakuten-mobile?l-id=campaign_iphone-se-3rd_my-rakuten-mobile_accordion" class="c-Link_Txt">my 楽天モバイル</a>」にアクセス</p>
                  </li>
                  <li class="u-Adjust_Mt-32">
                    <p class="c-Txt_Emp-01">2. 右上のメニューから「利用状況」を選択</p>
                    <div class="<%= namespace %>-Utility_Img-capture u-Adjust_Mt-32">
                      <img src="<%= sitepath %>assets/img/campaign/common/img-cap01-0701.png" width="300" alt="">
                    </div>
                  </li>
                  <li class="u-Adjust_Mt-32">
                    <p class="c-Txt_Emp-01">3. 「通話」タブを選択して<span class="c-Txt_Emp-02">Rakuten Linkでの10秒以上の発信通話履歴</span>があることを確認してください</p>
                    <div class="<%= namespace %>-Utility_Img-capture u-Adjust_Mt-32">
                      <img src="<%= sitepath %>assets/img/campaign/common/img-cap02.png" width="300" alt="">
                    </div>
                  </li>
                </ol>
              </div>
            </div>
          </div>

          <div class="u-Adjust_Align-center u-Adjust_Mt-32">
            <a href="<%= sitepath %>product/iphone/iphone-se-3rd/?l-id=campagin_iphone-se-3rd_product_iphone_iphone-se-3rd_top" class="c-Btn_Secondly-large"><span>iPhone SE（第3世代）の詳細・購入はこちら</span></a>
          </div>
        </div>
      </div>



      <div class="u-Adjust_Mb-48">
        <div class="l-System">
          <div class="l-System_Container" id="point">
            <div class="u-Adjust_Align-center u-Adjust_Mt-48">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-point.png" alt="" width="241">
            </div>
            <h3 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-8">キャンペーン概要</h3>

            <div class="u-Adjust_Mt-32 u-Adjust_Pb-48" style="border-top: 1px solid #BFBFBF; border-bottom: 1px solid #BFBFBF;">
              <h4 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-32">
                初めてのRakuten UN-LIMIT VIお申し込みで<br class="<%= namespace %>-Utility_Br-pc">
                iPhone SE（第3世代）をご購入の場合<br class="<%= namespace %>-Utility_Br-pc">
                <span class="c-Txt_Emp-02">最大30,000ポイントプレゼント！</span>
              </h4>
              <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
                <picture>
                  <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/point-present3-01-sp.png?220614">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/point-present3-01.png?220614" alt="">
                </picture>
              </p>
              <p class="u-Adjust_Mt-16 u-Adjust_Mb-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/icon-down-arrow.png" width="80" height="24" alt=""></p>
              <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
                <picture>
                  <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/point-present2-02-sp.png?220511">
                  <source srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/point-present2-02.png?220511">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/point-present2-02.png?220511" alt="">
                </picture>
              </p>
            </div>

            <div class="u-Adjust_Mt-40">
              <h3 class="c-Heading_Lv2 u-Adjust_Align-center">「楽天モバイルiPhoneアップグレードプログラム」とは？</h3>
              <div class="u-Adjust_Mt-16">
                <div class="l-Media_Grid-half">
                  <div class="l-Media_Grid-large c-Theme-Light">
                    <div class="l-Media_Image">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/about-01.png" alt="">
                    </div>
                    <div>
                      <p>本体代のお支払いに「48回払い」を選択！24回分払ったら、<span class="c-Txt_Emp-02">いつでも最新のiPhone</span>に機種変更可能！</p>
                    </div>
                  </div>
                  <div class="l-Media_Grid-large c-Theme-Light">
                    <div class="l-Media_Image">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/about-02.png" alt="">
                    </div>
                    <div>
                      <p>最大24回分！返却するiPhoneの<span class="c-Txt_Emp-02">残りのお支払いが不要</span>に！</p>
                    </div>
                  </div>
                </div>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><a href="<%= sitepath %>service/iphone/upgrade-program/?l-id=campaign_iphone-se-3rd_service_iphone_upgrade-program" class="c-Link_Txt-inline">楽天モバイルiPhoneアップグレードプログラムの詳細はこちら<span class="c-Icon_Chevron-right"></span></a></p>

                <p class="u-Adjust_Mt-48">「実質価格」とは、キャンペーンの条件達成（Rakuten UN-LIMIT VI初めて契約、対象製品購入、Rakuten Link利用など）により後日付与されるポイントを加味した価格であり、実際のお支払い金額とは異なります。詳しくは<a href="#campaign-rule1458" class="c-Link_Txt js-scroll">キャンペーンルール</a>をご確認ください。</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="c-Theme-Light u-Adjust_Pb-56" id="aboutiphonese3">
        <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Mt-48">iPhone SE（第3世代）</h2>
        <div class="l-Media_Grid-half-reverse u-Adjust_Mt-32">
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-about-se3rd.png" alt="">
          </div>
          <div>
            <div class="<%= namespace %>-About_Border u-Adjust_Pb-32">
              <ul class="c-List_Text-disc">
                <li>超高速のA15Bionicチップと5G<span class="c-Txt_Cap">※1</span>のスピード</li>
                <li>大満足のバッテリーとスター級のカメラ</li>
                <li>あざやかな4.7インチRetina HDディスプレイ<span class="c-Txt_Cap">※2</span></li>
              </ul>
            </div>

            <div class="u-Adjust_Align-center u-Adjust_Mt-24">
              <a href="<%= sitepath %>product/iphone/iphone-se-3rd/?l-id=campagin_iphone-se-3rd_product_iphone_iphone-se-3rd_bottom" class="c-Btn_Secondly-large"><span>iPhone SE（第3世代）の詳細・購入はこちら</span></a>
            </div>

          </div>
        </div>

        <p class="c-Txt_Cap u-Adjust_Mt-32">
          ※1 5G通信は一部エリアのみ。対象エリアでご利用可能です。<br>
          ※2 ディスプレイのサイズは対角線を測ったものです。<br>
          ※3 キャンペーンによりポイント付与のタイミングは異なり、それぞれの条件達成の翌々月末頃の付与となります。詳しくはキャンペーンルールをご確認ください。
        </p>
      </div>
      </div>

      <div id="flow" class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-48">ポイント獲得の流れ</h2>
        <div class="c-Accordion <%= namespace %>-Accordion_Left u-Adjust_Mt-16">
          <button id="accordion-8" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Radius-Num" aria-expanded="false" aria-controls="accordion-content-8" data-ratid="campaign_iphone-point_step-1" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="<%= namespace %>-Accordion_Radius-Num-before">STEP1</span><span>対象製品と楽天モバイルのお申し込み</span></button>
          <div id="accordion-content-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-8" aria-hidden="true" style="display:none;">
            <div class="c-Tab js-Tab">
              <ul class="c-Tab_Items" role="tablist">
                <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1" data-ratid="campaign_iphone-point_tab_application_web" data-ratevent="click" data-ratparam="all">Web</li>
                <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2" data-ratid="campaign_iphone-point_tab_application_shop" data-ratevent="click" data-ratparam="all">ショップ</li>
              </ul>
              <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">

                <div class="c-Theme-Borderbox u-Adjust_Mt-24">
                  <div class="l-Media_Grid">
                    <div class="l-Media_Image c-Flow_Image">
                      <img src="<%= sitepath %>assets/img/campaign/iphone-point/icon-flow-02.png" alt="">
                    </div>
                    <div>
                      <p class="c-Txt_Emp-01">お申し込みに必要なもの</p>
                      <ul class="c-List_Text-disc u-Adjust_Mt-16">
                        <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/verify/?l-id=campaign_iphone-se-3rd_guide_verify" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                        <li class="u-Adjust_Mt-8">楽天会員ID、パスワード</li>
                        <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/?l-id=campaign_iphone-se-3rd_guide_payment" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a></li>
                        <li class="u-Adjust_Mt-8">ご契約者名義の<a href="<%= sitepath %>guide/mnp/?l-id=campaign_iphone-se-3rd_guide_mnp">MNP予約番号</a>（他社から乗り換えの場合）</li>
                      </ul>
                      <p class="u-Adjust_Mt-8 c-Txt_Cap">※未成年の方のお申し込み方法は<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_iphone-se-3rd_flow_for-minors">こちら</a>をご確認ください</p>
                    </div>
                  </div>
                </div>
                <div class="l-Media_Grid-half u-Adjust_Mt-24">
                  <div class="c-Theme-Borderbox">
                    <div class="u-Adjust_Align-center">
                      <p class="<%= namespace %>-Utility_Icon-title"><span class="c-Icon_New-user-f u-Adjust_Pr-8"></span><span class="c-Txt_Emp-01">新規電話番号／他社から乗り換え（MNP）</span></p>
                      <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/application/?lid-r=campaign_iphone-se-3rd_guide_application" class="c-Btn_Primary-large">Rakuten UN-LIMIT VIに申し込む</a></p>
                      <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>fee/un-limit/?l-id=campaign_iphone-se-3rd_fee_un-limit" class="c-Link_Txt-inline">Rakuten UN-LIMIT VIの詳細<span class="c-Icon_Chevron-right"></span></a></p>
                      <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/flow/application/?l-id=campaign_iphone-se-3rd_guide_flow_application" class="c-Link_Txt-inline">Rakuten UN-LIMIT VI お申し込み方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                    </div>
                  </div>
                  <div class="c-Theme-Borderbox">
                    <div class="u-Adjust_Align-center">
                      <p class="<%= namespace %>-Utility_Icon-title"><span class="c-Icon_Paper-plane-l u-Adjust_Pr-8"></span><span class="c-Txt_Emp-01">楽天モバイル（ドコモ・au回線）から<br>プラン変更（移行）</span></p>
                      <p class="u-Adjust_Mt-24">
                        <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_iphone-se-3rd&mno_migration=1" class="c-Btn_Secondly-large top-Description_Btn-text">
                          <span>メンバーズステーションから<br class="<%= namespace %>-Utility_Br-pc">プラン変更（移行）する</span>
                        </a>
                      </p>
                      <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/migration/?l-id=campaign_iphone-se-3rd_guide_migration" class="c-Link_Txt-inline">スーパーホーダイ・組み合わせプラン（※）との比較<span class="c-Icon_Chevron-right"></span></a></p>
                      <p class="u-Adjust_Mt-0 c-Txt_Cap">※2020年4月8日に受付終了のドコモ回線・au回線使用プラン</p>
                      <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/mnp/migration/?l-id=campaign_iphone-se-3rd_guide_mnp_migration" class="c-Link_Txt-inline">楽天モバイル（楽天回線）への移行方法<span class="c-Icon_Chevron-right"></span></a></p>
                      <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>flow/mvno-user-registration/?l-id=campaign_iphone-se-3rd_flow_mvno-user-registration" class="c-Link_Txt-inline">利用者登録をされている方の移行方法 <span class="c-Icon_Chevron-right"></span></a></p>
                    </div>
                  </div>
                </div>

              </div>

              <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
                <div class="l-Media_Grid u-Adjust_Mt-24">
                  <div class="l-Media_Image c-Flow_Image">
                    <img src="<%= sitepath %>assets/img/campaign/iphone-point/icon-flow-07.png" alt="">
                  </div>
                  <div>
                    <p class="c-Txt_Emp-01">対象製品と一緒に「Rakuten UN-LIMIT VI」を申し込む</p>
                    <p class="u-Adjust_Mt-8 c-Txt_Emp-02 c-Txt_Cap">※未成年の方のお申し込み方法は別途<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_iphone-se-3rd_flow_for-minors">こちら</a>のご案内ページをご確認ください。</p>
                    <p><a href="<%= sitepath %>shop/?l-id=campagin_iphone-se-3rd_shop" class="c-Btn_Regular u-Adjust_Mt-16">お近くのショップを探す</a></p>
                  </div>
                </div>
                <div class="c-Theme-Borderbox u-Adjust_Mt-24">
                  <div class="l-Media_Grid">
                    <div class="l-Media_Image c-Flow_Image">
                      <img src="<%= sitepath %>assets/img/campaign/iphone-point/icon-flow-02.png" alt="">
                    </div>
                    <div>
                      <p class="c-Txt_Emp-01">お申し込みに必要なもの</p>
                      <ul class="c-List_Text-disc u-Adjust_Mt-16">
                        <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/verify/?l-id=campaign_iphone-se-3rd_guide_verify" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                        <li class="u-Adjust_Mt-8">楽天会員ID、パスワード</li>
                        <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/?l-id=campaign_iphone-se-3rd_guide_payment" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a></li>
                        <li class="u-Adjust_Mt-8">ご契約者名義の<a href="<%= sitepath %>guide/mnp/?l-id=campaign_iphone-se-3rd_guide_mnp">MNP予約番号</a>（他社から乗り換えの場合）</li>
                      </ul>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※未成年の方のお申し込み方法は<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_iphone-se-3rd_flow_for-minors">こちら</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="c-Accordion <%= namespace %>-Accordion_Left u-Adjust_Mt-16">
          <button id="accordion-9" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Radius-Num" aria-expanded="false" aria-controls="accordion-content-9"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="<%= namespace %>-Accordion_Radius-Num-before">STEP2</span><span>「Rakuten UN-LIMIT VI」プラン利用開始</span></button>
          <div id="accordion-content-9" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-9" aria-hidden="true" style="display:none;">
            <div class="l-Media_Grid">
              <div class="l-Media_Image c-Flow_Image">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/icon-flow-05.png" alt="">
              </div>
              <div>
                <p><span class="c-Txt_Emp-01">期限</span>：プランお申し込みの翌月末日23:59まで</p>
                <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>faq/detail/00001648/" class="c-Btn_Regular">プラン利用開始手順</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="c-Accordion <%= namespace %>-Accordion_Left u-Adjust_Mt-16">
          <button id="accordion-10" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Radius-Num" aria-expanded="false" aria-controls="accordion-content-10"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="<%= namespace %>-Accordion_Radius-Num-before">STEP3</span><span>Rakuten Linkアプリから発信で10秒以上通話</span></button>
          <div id="accordion-content-10" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-10" aria-hidden="true" style="display:none;">
            <div class="l-Media_Grid">
              <div class="l-Media_Image c-Flow_Image">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/icon-flow-06.png" alt="">
              </div>
              <div>
                <p class=""><span class="c-Txt_Emp-01">期限</span>：プランお申し込みの翌月末日23:59まで</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※（0180）（0570）などから始まる他社接続サービス、一部特番（188）への通話については、無料通話の対象外となります。<a href="<%= sitepath %>terms/pdf/rakuten_mobile_exception_number_list.pdf?220701" target="_blank" class="c-Link_Txt">対象外番号一覧</a>をご確認ください。</p>
                <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>service/rakuten-link/" class="c-Link_Txt-inline">Rakuten Linkアプリの詳細<span class="c-Icon_Chevron-right"></span></a></p>
              </div>
            </div>
          </div>
        </div>


        <div>
          <p class="u-Adjust_Mt-16 u-Adjust_Mb-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/icon-down-arrow.png" width="80" height="24" alt=""></p>
          <div class="c-Theme-Borderbox">
            <div class="l-Media_Grid">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/campaign/esim-ekyc/img-esim-ekyc-14.png" alt="Rakuten POINT">
              </div>
              <div>
                <h3 class="c-Heading_Lv4 c-Txt_Emp-02">最大30,000円相当のポイント還元！</h3>
                <p class="u-Adjust_Mt-16">Rakuten Link ご利用の翌々月末日頃に、期間限定ポイントとして<br>
                  最大30,000ポイントを付与いたします。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※ポイント付与額は購入製品やお申し込み種別により異なります</p>
              </div>
            </div>
          </div>
        </div>

        <h3 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-48">よくあるご質問</h3>
        <div class="c-Accordion u-Adjust_Mt-24">
          <button id="accordion-faq-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーン対象になるためのエントリーは必要ですか</button>
          <div id="accordion-content-faq-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-1" aria-hidden="false" style="">
            <p>本キャンペーンにエントリーは必要ございません。<br>参加条件を満たしていればキャンペーンの対象となります。</p>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-faq-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーン適用条件を満たしているか確認できますか</button>
          <div id="accordion-content-faq-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-2" aria-hidden="false" style="">
            <p><a href="<%= sitepath %>faq/detail/10000090/#sec3">こちら</a>に記載の手順でご確認ください。</p>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-faq-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>他のキャンペーンと併用は可能ですか</button>
          <div id="accordion-content-faq-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-3" aria-hidden="false" style="">
            <p>併用できないキャンペーンは<a href="#campaign-rule1458" class="js-scroll">キャンペーンルール</a>の「併用不可キャンペーン」欄をご確認ください。</p>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-faq-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ポイント付与前に楽天のサービスを退会した場合どうなりますか</button>
          <div id="accordion-content-faq-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-4" aria-hidden="false" style="">
            <p>＜楽天会員を退会した場合＞<br>ポイント付与前に楽天会員を退会された場合は、ポイント付与されませんので予めご了承ください。<br><br>＜楽天モバイルを解約した場合＞<br>楽天モバイルを解約されていても、キャンペーンルールの「対象者・適用条件」を満たしている場合はポイント付与の対象となります。</p>
          </div>
        </div>

      </div>

      <div class="l-System c-Theme-Light u-Adjust_Mt-48">
        <div class="l-System_Container">
          <h3 class="c-Heading_Lv2 u-Adjust_Align-center">楽天モバイルについて</h3>
          <p class="u-Adjust_Align-center c-Txt_Emp-01 u-Adjust_Mt-8">詳細は以下の各リンク先にてご確認ください</p>
          <div class="u-Adjust_Mt-24">
            <ul class="<%= namespace %>-Card_About">
              <li>
                <a href="<%= sitepath %>fee/un-limit/" class="c-Card_Normal">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/icon-about-01.png" alt="">
                  <p class="c-Txt_Emp-01">料金プラン</p>
                </a>
              </li>
              <li>
                <a href="<%= sitepath %>fee/zero/" class="c-Card_Normal">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/icon-about-02.png" alt="">
                  <p class="c-Txt_Emp-01">お申し込み手数料</p>
                </a>
              </li>
              <li>
                <a href="<%= sitepath %>area/" class="c-Card_Normal">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/icon-about-03.png" alt="">
                  <p class="c-Txt_Emp-01">サービスエリア</p>
                </a>
              </li>
              <li>
                <a href="<%= sitepath %>product/byod/" class="c-Card_Normal">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/icon-about-04.png" alt="">
                  <p class="c-Txt_Emp-01">楽天回線対応製品</p>
                </a>
              </li>
              <li>
                <a href="<%= sitepath %>service/" class="c-Card_Normal">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/icon-about-05.png" alt="">
                  <p class="c-Txt_Emp-01">オプション<br>サービス</p>
                </a>
              </li>
              <li>
                <a href="<%= sitepath %>guide/point/" class="c-Card_Normal">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/icon-about-06.png?220309" alt="">
                  <p class="c-Txt_Emp-01">おトクな<br>楽天ポイント</p>
                </a>
              </li>
              <li>
                <a href="<%= sitepath %>service/rakuten-link/" class="c-Card_Normal">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/icon-about-07.png" alt="">
                  <p class="c-Txt_Emp-01">Rakuten Link<br>アプリ</p>
                </a>
              </li>
              <li>
                <a href="<%= sitepath %>campaign/" class="c-Card_Normal">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/icon-about-08.png" alt="">
                  <p class="c-Txt_Emp-01">キャンペーン一覧</p>
                </a>
              </li>
              <li>
                <a href="<%= sitepath %>product/sim/" class="c-Card_Normal">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/icon-about-09.png" alt="">
                  <p class="c-Txt_Emp-01">SIMの使い方</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="l-System_Container u-Adjust_Mt-64">
        <%- include('/include/_bnr-cpn-recommend-v2.ejs') %>


        <div id="campaign-rule" class="u-Adjust_Mt-64">

          <div class="<%= namespace %>-Layout_Rule">
            <!-- 1458 -->
            <h2 class="c-Heading_Lv2" id="campaign-rule1458">他社から乗り換え（MNP）限定！iPhone SE（第3世代）発売記念キャンペーン</h2>
            <p class="c-Txt_Emp-02 c-Txt_Normal-m u-Adjust_Align-center u-Adjust_Mt-16 u-Adjust_Mb-16">本キャンペーンは終了しました。</p>
            <div class="c-Table_Wrap u-Adjust_Mt-24">
              <div class="u-Adjust_Mt-24">
                <dl class="c-Dl_Origin <%= namespace %>-Dl_Rule">
                  <div>
                    <dt>キャンペーンコード</dt>
                    <dd>
                      <p>1458</p>
                      <ul class="c-Txt_Cap u-Adjust_Mt-8">
                        <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt>キャンペーン期間</dt>
                    <dd>
                      <p><span class="c-Txt_Emp-01">■ プランのお申し込み期間</span><br>
                        - Web　2022年3月11日（金）22:00～2022年6月30日（木）23:59<br>
                        - 店舗（楽天モバイルショップ）　2022年3月18日（金）開店～2022年6月30日（木）閉店<br>
                        <span class="c-Txt_Emp-02 c-Txt_Cap">※本キャンペーンは6月30日（木）23:59に終了しますが、7月1日（金）0:00より他社から乗り換え（MNP）・新規・プラン変更（移行）を対象とした16,000ポイントバックの新規キャンペーンを実施します。</span><br>
                        <span class="c-Txt_Cap">※2022年6月14日（火）に終了日を記載しました</span>
                      </p>
                      <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■ 製品のご購入期間</span><br>
                        - Web　2022年3月11日（金）22:00～2022年6月30日（木）23:59　<br>
                        - 店舗（楽天モバイルショップ）　2022年3月18日（金）開店～2022年6月30日（木）閉店<br>
                        <span class="c-Txt_Emp-02 c-Txt_Cap">※本キャンペーンは6月30日（木）23:59に終了しますが、7月1日（金）0:00より他社から乗り換え（MNP）・新規・プラン変更（移行）を対象とした16,000ポイントバックの新規キャンペーンを実施します。</span><br>
                        <span class="c-Txt_Cap">※2022年6月14日（火）に終了日を記載しました</span>
                      </p>
                      <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■ プラン利用開始期限</span><br>
                        製品到着または店頭で購入した日の翌月末日23:59まで
                      </p>
                      <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■「Rakuten Link」利用期限</span><br>
                        製品到着または店頭で購入した日の翌月末日23:59まで
                      </p>
                    </dd>
                  </div>
                  <div>
                    <dt>キャンペーン条件</dt>
                    <dd>
                      <p class="c-Txt_Emp-02">
                        上記各項目の期間内に【1】、【2】、【3】、【4】の条件をすべて満たした楽天会員の方
                      </p>
                      <p class="c-Txt_Emp-02 u-Adjust_Mt-8">お一人様１回限りの適用となります。</p>
                      <div class="u-Adjust_Mt-16">
                        <span class="c-Txt_Emp-01">【1】「Rakuten UN-LIMIT VI」へ、他社からの乗り換え（MNP）でお申し込み</span><br>
                        <ul class="c-List_Note u-Adjust_Mt-8">
                          <li>
                            <div class="c-Txt_Cap u-Adjust_Mb-8">
                              ※ 楽天モバイル（ドコモ回線・au回線）<s>のメンバーズステーション</s>*よりプラン変更（移行）した場合、楽天モバイル（旧FREETEL）通話SIMからの乗り換え（MNP）、DMMモバイル通話SIMからの乗り換え（MNP）は対象外となります<br>
                              *2022/5/27 9:00 取り消し線を加えました
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="u-Adjust_Mt-16">
                        <span class="c-Txt_Emp-01">【2】「Rakuten UN-LIMIT VI」お申し込みと同日に対象製品をご購入</span><br>
                        <p class="u-Adjust_Mt-8">
                          　- iPhone SE（第3世代）
                        </p>
                        <p class="u-Adjust_Mt-8 c-Txt_Emp-02 c-Txt_Cap">※在庫が少ない製品もございます。あらかじめご了承ください。</p>
                        <p class="u-Adjust_Mt-8 c-Txt_Emp-02 c-Txt_Cap">※製品の購入がお申し込み日と同日の場合のみキャンペーン適用となります（同一決済でなくても可）</p>
                      </div>
                      <div class="u-Adjust_Mt-16">
                        <p class="c-Txt_Emp-01">【3】製品到着※または店頭で購入した日の翌月末日23:59までに「Rakuten UN-LIMIT VI」プラン利用開始</p>
                        <ul class="c-List_Note u-Adjust_Mt-8">
                          <li>
                            <div class="c-Txt_Cap u-Adjust_Mb-8">
                              　※当社に配送完了データが通知された日
                            </div>
                          </li>
                        </ul>
                        <p class="u-Adjust_Mt-16">【プラン利用開始日とは】</p>
                        <ul>
                          <li class="u-Adjust_Mt-8">- 他社から乗り換え（MNP）の場合<br>
                            プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日
                          </li>
                        </ul>
                      </div>
                      <div class="u-Adjust_Mt-16">
                        <p class="c-Txt_Emp-01">【4】製品到着※または店頭で購入した日の翌月末日23:59までに「Rakuten Link」のご利用</p>
                        <ul class="c-List_Note u-Adjust_Mt-8">
                          <li>
                            <div class="c-Txt_Cap u-Adjust_Mb-8">
                              　※当社に配送完了データが通知された日
                            </div>
                          </li>
                        </ul>

                        <p class="u-Adjust_Mt-8">「Rakuten UN-LIMIT VI」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
                        <p class="u-Adjust_Mt-16 c-Txt_Emp-01">【Rakuten Link アプリご利用方法】</p>
                        下記URLの「Rakuten Linkのご利用方法」をご確認ください<br>
                        <a target="_blank" href="<%= sitepath %>guide/rakuten-link/" class="u-Adjust_Txt-break">https://network.mobile.rakuten.co.jp/guide/rakuten-link/</a><br>
                        - 通話方法：『電話をかける』の項目をご確認ください<br>
                        <!-- <p class="c-Txt_Cap">※「Rakuten Link」アプリ以外のメッセージやメール送信についてはキャンペーンの達成条件として適用されませんのでご注意ください</p> -->
                        <br>
                        <p class="c-Txt_Emp-01">【Rakuten Link利用履歴の確認方法】</p>
                        下記URLの「キャンペーンが適用されているか、いつポイントが付与されるか知りたい」をご確認ください<br>
                        <a href="<%= sitepath %>faq/detail/00001962/" class="u-Adjust_Txt-break">https://network.mobile.rakuten.co.jp/faq/detail/00001962/</a><br>
                        -「③ 適用条件の達成状況を確認する」の項目をご確認ください
                        <p class="c-Txt_Cap">※ 電話の発信時、（0570）（0180）などの他社接続サービス、#ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</p>
                      </div>
                    </dd>
                  </div>
                  <div>
                    <dt>キャンペーン特典</dt>
                    <dt class="<%= namespace %>_Title-sub">特典内容</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">楽天ポイント20,000円相当のポイントをプレゼント
                      </p>
                    </dd>
                  </div>
                  <div>
                    <dt class="<%= namespace %>_Title-sub">ポイント付与日</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">「Rakuten Link」の利用が確認された月の翌々月末日頃に付与</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>例）3月にすべての条件を達成した場合には、その翌々月である5月末日ごろにポイント付与となります</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>権利の譲渡はできません</p>
                    </dd>
                  </div>
                  <div>
                    <dt class="<%= namespace %>_Title-sub">ポイント有効期間</dt>
                    <dd>
                      <td>
                        <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
                        <ul class="u-Adjust_Mt-8">
                          <li class="c-Txt_Cap"><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a></li>
                          <li class="c-Txt_Cap"><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。</li>
                        </ul>
                      </td>
                    </dd>
                  </div>
                  <div>
                    <dt>特典適用対象外</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
                      <ul class="u-Adjust_Mt-16">
                        <li class="c-Txt_Cap"><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払期限までに行われなかった場合 ※未納・未払いが発生した場合</li>
                        <li class="c-Txt_Cap"><span>※</span>「新製品　発売記念キャンペーン」の適用回数が、おひとり様1契約1回を超える場合は対象外となります</li>
                        <li class="c-Txt_Cap"><span>※</span>同一回線または2回線目以降で別の製品購入キャンペーンに参加された場合、ポイント付与対象にはなりませんのでご了承ください</li>
                        <li class="c-Txt_Cap"><span>※</span>楽天モバイルショップ、楽天モバイルオンライン以外で購入した場合</li>
                        <li class="c-Txt_Cap"><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
                        <li class="c-Txt_Cap"><span>※</span>「Rakuten UN-LIMIT VI」のプラン利用開始がされなかった場合<br>
                          プラン利用開始の手続き方法につきましては、<a href="<%= sitepath %>faq/detail/00001648/">こちらのSIMカード版スタートガイドまたはeSIM版スタートガイド</a>を参照ください</li>
                        <li class="c-Txt_Cap"><span>※</span>期限までに<span class="c-Txt_Emp-01">「Rakuten Link」を利用されなかった場合</span></li>
                        <li class="c-Txt_Cap"><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                        <li class="c-Txt_Cap"><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                        <li class="c-Txt_Cap"><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt>併用可能キャンペーン</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">以下のキャンペーンは、<span class="c-Txt_Emp-02">併用可能</span>となります。</p>
                      <div class="u-Adjust_Mt-16 c-Txt_Cap">
                        <p class="u-Adjust_Mt-8">- 【Rakuten UN-LIMIT VIお申し込み特典】だれでも5,000ポイントプレゼントキャンペーン（キャンペーンコード：1113）</p>
                        <p class="u-Adjust_Mt-8">- iPhoneアップグレードプログラム適用で5,000ポイント還元キャンペーン（キャンペーンコード：1383）</p>
                        <p class="u-Adjust_Mt-8">- 【10分（標準）通話かけ放題】はじめてのお申し込み＆ご利用で最大5,000ポイントプレゼントキャンペーン（キャンペーンコード：1478）</p>
                      </div>
                    </dd>
                  </div>
                  <div>
                    <dt>併用不可キャンペーン</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">以下のキャンペーンは、<span class="c-Txt_Emp-02">併用不可</span>となります。適用されるキャンペーンによって適用対象が異なります。<br>
                        ・以下のキャンペーン特典が適用となっている場合、本キャンペーンは対象外になります。
                      </p>
                      <div class="u-Adjust_Mt-16 c-Txt_Cap">
                        <p class="u-Adjust_Mt-8">- Rakuten WiFi Pocket 2 本体価格1円キャンペーン（キャンペーンコード：1425）</p>
                        <p class="u-Adjust_Mt-8">- ショップ限定！iPhone SE（64GB）本体代１円キャンペーン（キャンペーンコード：1436）</p>
                        <p class="u-Adjust_Mt-8">- 激トク乗り換え！Androidスマホ割引キャンペーン​ （キャンペーンコード：1470）</p>
                        <p class="u-Adjust_Mt-8">- 楽天モバイル公式 楽天市場店 ショップで製品受取で最大65,000円OFFクーポン！キャンペーン​​（1466）</p>
                      </div>
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">・本キャンペーンを適用した場合、以下のキャンペーン特典は対象外となります。</p>
                      <div class="u-Adjust_Mt-16 c-Txt_Cap">
                        <p class="u-Adjust_Mt-8">- お持ちのスマホそのままで、他社から乗り換え（MNP）の方限定！通常のRakuten UN-LIMIT VIお申し込み特典に加えて、さらに15,000ポイントプレゼントキャンペーン（キャンペーンコード：1262）</p>
                        <p class="u-Adjust_Mt-8">- iPhone 13 全機種 ポイント還元キャンペーン（キャンペーンコード：1382）</p>
                        <p class="u-Adjust_Mt-8">- Rakuten Hand7,980ポイントプレゼントキャンペーン（キャンペーンコード：1391）</p>
                        <p class="u-Adjust_Mt-8">- Rakuten UN-LIMIT VI＋製品購入でポイント還元キャンペーン（キャンペーンコード：1379、1426）</p>
                        <p class="u-Adjust_Mt-8">- 【ショップ限定！】新規ご契約・プラン変更（移行）の方も対象！通常のRakuten UN-LIMIT VIお申し込み特典に加えて、さらに15,000ポイントプレゼントキャンペーン（キャンペーンコード：1428）</p>
                        <p class="u-Adjust_Mt-8">- 他社から乗り換え（MNP）限定！楽天モバイル公式 楽天市場店でiPhone SE（第3世代）発売記念キャンペーン（キャンペーンコード：1471）</p>
                        <p class="u-Adjust_Mt-8">- 回線契約のみでOK！通常のRakuten UN-LIMIT VIお申し込み特典に加えて、さらに3,000ポイントプレゼントキャンペーン（キャンペーンコード：1554）</p>
                        <p class="u-Adjust_Mt-8">- 新規ご契約・プラン変更（移行）の方対象！iPhone SE（第3世代）発売記念キャンペーン（キャンペーンコード：1558）</p>
                        <p class="u-Adjust_Mt-8">- 他社から乗り換え（MNP）限定！楽天モバイル公式 楽天市場店 iPhone SE（第3世代）と回線セットご注文で16,000ポイント（1546）</p>
                      </div>
                    </dd>
                  </div>
                  <div>
                    <dt>注意事項</dt>
                    <dd>
                      <ul>
                        <li class="c-Txt_Cap"><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                        <li class="c-Txt_Cap"><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法上の範囲内に制限される場合があります</li>
                        <li class="c-Txt_Cap"><span>※</span>製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
                        <li class="c-Txt_Cap"><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                        <li class="c-Txt_Cap"><span>※</span>2022年6月14日（火）に終了日を記載しました</li>
                      </ul>
                    </dd>
                  </div>
                </dl>
              </div>
            </div>

            <!-- 1113 -->
            <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="campaign-rule1113">【Rakuten UN-LIMIT VIお申し込み特典】だれでも5,000ポイントプレゼント ルール</h2>
            <p class="c-Txt_Emp-02 c-Txt_Normal-m u-Adjust_Align-center u-Adjust_Mt-16 u-Adjust_Mb-16">本キャンペーンは終了しました。</p>
            <div class="c-Table_Wrap u-Adjust_Mt-24">
              <div class="u-Adjust_Mt-24">
                <dl class="c-Dl_Origin <%= namespace %>-Dl_Rule">
                  <div>
                    <dt>キャンペーンコード</dt>
                    <dd>
                      <p>1113</p>
                      <ul class="c-Txt_Cap u-Adjust_Mt-8">
                        <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt>キャンペーン期間</dt>
                    <dd>
                      <p><span class="c-Txt_Emp-01">■ プランのお申し込み期間</span><br>
                        　　- Webでのお申し込み　2020年12月8日（火）9:00～<s>常時開催</s> 2022年6月30日（木）23:59<br>
                        　　- 店舗（楽天モバイルショップ）でのお申し込み　2020年12月8日（火）開店～<s>常時開催</s> 2022年6月30日（木）閉店<br>
                        　　 <span class="c-Txt_Cap">※2022年6月1日（水）にキャンペーン期間が変更となりました。ご了承ください。</span>
                      </p>
                      <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■ プラン利用開始期限</span><br>
                        　　プランのお申し込みの翌月末日23:59まで
                      </p>
                      <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■「Rakuten Link」利用期限</span><br>
                        　　プランのお申し込みの翌月末日23:59まで
                      </p>
                    </dd>
                  </div>
                  <div>
                    <dt>キャンペーン条件</dt>
                    <dd>
                      <p class="c-Txt_Emp-02">
                        以下①、②、③の条件を全て満たした楽天会員の方
                      </p>
                      <p class="c-Txt_Cap c-Txt_Emp-02">※ 特典はおひとり様1度のみ。楽天モバイルを初めてお申し込みいただいた回線に適用となります。</p>
                      <div class="u-Adjust_Mt-16">
                        <span class="c-Txt_Emp-01">①「Rakuten UN-LIMIT VI」へ、下記（1）-（3）いずれかの方法にてお申し込み</span><br>
                        <ul class="c-List_Note u-Adjust_Mt-8">
                          <li><span>(1)</span>新規お申し込み</li>
                          <li><span>(2)</span>他社からの乗り換え（MNP）でお申し込み</li>
                          <li><span>(3)</span>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
                        </ul>
                      </div>
                      <div class="u-Adjust_Mt-16">
                        <span class="c-Txt_Emp-01">②プラン利用開始</span><br>
                        <p>対象製品※1を利用し「Rakuten UN-LIMIT VI」お申し込みの翌月末日の23:59まで</p>
                        <p class="u-Adjust_Mt-16">【プラン利用開始日とは】</p>
                        <ul>
                          <li class="u-Adjust_Mt-8">- 新規お申し込みの場合 <span>※(1)(2)のいずれか早い方がプラン利用開始日となります。</span>
                            <ul class="c-List_Note">
                              <li><span>(1)</span>当社に配送完了データが通知された日</li>
                              <li><span>(2)</span>プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                            </ul>
                          </li>
                          <li class="u-Adjust_Mt-8">- 他社から乗り換え（MNP）の場合<br>
                            プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日
                          </li>
                          <li class="u-Adjust_Mt-8">- 楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合<br>
                            プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日
                          </li>
                        </ul>

                        <p class="c-Txt_Emp-01 u-Adjust_Mt-24">③対象製品※1を利用し「Rakuten UN-LIMIT VI」お申し込みの翌月末日23:59までに「Rakuten Link」のご利用</p>
                        <p class="u-Adjust_Mt-8">「Rakuten UN-LIMIT VI」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
                        <p class="u-Adjust_Mt-8"><s>「Rakuten UN-LIMIT VI」をお申し込みした回線で「Rakuten Link」を用いたメッセージ送信を1回以上利用</s>（2021年6月1日(火)0:00より、「Rakuten Link」ご利用の条件を変更しました。）</p>
                        <p class="c-Txt_Cap c-Txt_Emp-02">※iPhone 13 Pro Max、iPhone 13 Pro 、iPhone 13、iPhone 13 mini、iPhone SE（第3世代）いずれかをご購入の場合、製品到着または店頭で購入した日の翌月末日23:59までに②③を対応でキャンペーン適用となります。</p>
                        <p class="c-Txt_Cap c-Txt_Emp-02">※製品到着とは、当社に配送完了データが通知された日を指します。</p>

                        <p class="u-Adjust_Mt-16 c-Txt_Emp-01">【Rakuten Link アプリご利用方法】</p>
                        下記URLの「Rakuten Linkのご利用方法」をご確認ください<br>
                        <a target="_blank" href="<%= sitepath %>guide/rakuten-link/" class="u-Adjust_Txt-break">https://network.mobile.rakuten.co.jp/guide/rakuten-link/</a><br>
                        - 通話方法：『電話をかける』の項目をご確認ください<br>
                        - メッセージ送信方法：『メッセージを送る』の項目をご確認ください<br>
                        <p class="c-Txt_Cap">※「Rakuten Link」アプリ以外のメッセージやメール送信についてはキャンペーンの達成条件として適用されませんのでご注意ください</p>
                        <br>
                        <p class="c-Txt_Emp-01">【Rakuten Link利用履歴の確認方法】</p>
                        下記URLの「キャンペーンが適用されているか、いつポイントが付与されるか知りたい」をご確認ください<br>
                        <a href="<%= sitepath %>faq/detail/00001962/" class="u-Adjust_Txt-break">https://network.mobile.rakuten.co.jp/faq/detail/00001962/</a><br>
                        -「③ 適用条件の達成状況を確認する」の項目をご確認ください

                        <p class="c-Txt_Cap">※ 電話の発信時、（0570）（0180）などの他社接続サービス、#ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</p>
                        <br>

                        <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">
                          ※1 キャンペーン対象製品について<br>
                          【iOS版】<br>
                          iOS 14.4以降（推奨）を搭載したiPhone</p>

                        <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">【Android版】<br>
                          Android 9以降を搭載した楽天回線対応製品<a href="<%= sitepath %>product/certified-products/" class="u-Adjust_Txt-break"> https://network.mobile.rakuten.co.jp/product/certified-products/</a></p>
                        <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">
                          ※ 楽天回線対応のモバイルルーターで使用されるためにお申し込みいただいた場合は、「Rakuten Link」のご利用は必要ございません。<br>
                          ※ ご利用いただく製品によっては、次の機能が利用できない場合があります（接続回線の自動切替、緊急地震速報などの受信、高精度な位置情報測位など）ので、ご利用予定の製品の対応状況を<a href="<%= sitepath %>product/byod/">こちら</a>でご確認ください。<br>
                          ※ ご利用いただける機能であっても、OSやソフトウェアの更新等により、機能のご利用が制限される場合があります。<br>
                          ※ SIMロックの解除等が必要な場合があります。
                        </p>
                      </div>
                    </dd>
                  </div>
                  <div>
                    <dt>キャンペーン特典（楽天ポイント）</dt>
                    <dt class="<%= namespace %>_Title-sub">特典内容</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">楽天ポイント5,000円相当のポイントをプレゼント</p>
                    </dd>
                  </div>
                  <div>
                    <dt class="<%= namespace %>_Title-sub">ポイント付与日</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">「Rakuten UN-LIMIT VI」のプラン利用開始および「Rakuten Link」の利用が確認された月の翌々月末日頃に付与</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>例）6月にすべての条件を達成した場合には、その翌々月である8月末日頃にポイント付与となります</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span> 楽天ポイントの付与は、楽天モバイルより行います</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span> 権利の譲渡はできません</p>
                    </dd>
                  </div>
                  <div>
                    <dt class="<%= namespace %>_Title-sub">ポイント有効期間</dt>
                    <dd>
                      <td>
                        <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
                        <ul class="u-Adjust_Mt-8">
                          <li class="c-Txt_Cap"><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a></li>
                          <li class="c-Txt_Cap"><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。</li>
                        </ul>
                      </td>
                    </dd>
                  </div>
                  <div>
                    <dt>特典適用対象外</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
                      <ul class="u-Adjust_Mt-16">
                        <li class="c-Txt_Cap"><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払期限までに行われなかった場合 ※未納・未払いが発生した場合</li>
                        <li class="c-Txt_Cap"><span>※</span>「【Rakuten UN-LIMIT VIお申し込み特典】だれでも5,000ポイントプレゼント」の適用回数が、おひとり様１契約1回を超える場合は対象外となります</li>
                        <li class="c-Txt_Cap"><span>※</span>キャンペーン対象製品以外でプラン利用開始、「Rakuten Link」をご利用された場合</li>
                        <li class="c-Txt_Cap"><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
                        <li class="c-Txt_Cap"><span>※</span>「Rakuten UN-LIMIT VI」のプラン利用開始がされなかった場合<br>
                          プラン利用開始の手続き方法につきましては、<a href="<%= sitepath %>faq/detail/00001648/">こちらのSIMカード版スタートガイドまたはeSIM版スタートガイド</a>を参照ください</li>
                        <li class="c-Txt_Cap"><span>※</span><span class="c-Txt_Emp-01">「Rakuten Link」を利用されなかった場合</span></li>
                        <li class="c-Txt_Cap"><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                        <li class="c-Txt_Cap"><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                        <li class="c-Txt_Cap"><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt>注意事項</dt>
                    <dd>
                      <ul>
                        <li class="c-Txt_Cap"><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                        <li class="c-Txt_Cap"><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法上の範囲内に制限される場合があります</li>
                        <li class="c-Txt_Cap"><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                        <li class="c-Txt_Cap"><span>※</span>記載の内容は2022年6月1日（水）時点の情報となります</li>
                      </ul>
                    </dd>
                  </div>
                </dl>
              </div>
            </div>


            <!-- 1383 -->
            <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="campaign-rule1383">iPhoneアップグレードプログラム適用で5,000ポイント還元キャンペーン</h2>
            <div class="c-Table_Wrap u-Adjust_Mt-24">
              <div class="u-Adjust_Mt-24">
                <dl class="c-Dl_Origin <%= namespace %>-Dl_Rule">
                  <div>
                    <dt>キャンペーンコード</dt>
                    <dd>
                      <p>1383</p>
                      <ul class="c-Txt_Cap u-Adjust_Mt-8">
                        <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt>キャンペーン期間</dt>
                    <dd>
                      <p><span class="c-Txt_Emp-01">■ 製品のご購入期間</span><br>
                        　　- Web　2021年12月17日（金）9:00～終了日未定<br>
                        　　- 店舗（楽天モバイルショップ）　2021年12月17日（金）開店～終了日未定
                      </p>
                    </dd>
                  </div>
                  <div>
                    <dt>キャンペーン条件</dt>
                    <dd>
                      <p class="c-Txt_Emp-02">
                        上記各項目の期間内に以下の条件を満たした楽天会員の方
                      </p>
                      <div class="u-Adjust_Mt-16">
                        <span class="c-Txt_Emp-01">対象製品いずれかを「楽天モバイルiPhoneアップグレードプログラム」適用でご購入　</span><br>
                        <ul class="c-List_Note u-Adjust_Mt-8">
                          <li><span>-</span>iPhone 13 Pro Max</li>
                          <li><span>-</span>iPhone 13 Pro</li>
                          <li><span>-</span>iPhone 13</li>
                          <li><span>-</span>iPhone 13 mini</li>
                          <li><span>-</span>iPhone 12 Pro Max</li>
                          <li><span>-</span>iPhone 12 Pro</li>
                          <li><span>-</span>iPhone 12</li>
                          <li><span>-</span>iPhone 12 mini</li>
                          <p class="c-Txt_Cap">※2022年2月22日よりiPhone SE（第2世代）は対象外となりました。</p>
                          <li><span>-</span>iPhoneSE（第3世代）</li>
                          <p class="c-Txt_Cap">※2022年3月11日よりiPhone SE（第3世代）を追加しました。</p>
                        </ul>
                        <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※Rakuten UN-LIMIT VIとセット、製品単体購入どちらの場合もキャンペーン対象となります。</p>
                      </div>
                    </dd>
                  </div>
                  <div>
                    <dt>キャンペーン特典 （楽天ポイント）</dt>
                    <dt class="<%= namespace %>_Title-sub">特典内容</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">5,000ポイントプレゼント</p>
                    </dd>
                  </div>
                  <div>
                    <dt class="<%= namespace %>_Title-sub">ポイント付与日</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">製品ご購入月の翌々月末日ごろに付与</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>例）2021年12月に製品購入した場合には、その翌々月である2022年2月末日ごろにポイント付与となります</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>権利の譲渡はできません</p>
                    </dd>
                  </div>
                  <div>
                    <dt class="<%= namespace %>_Title-sub">ポイント有効期間</dt>
                    <dd>
                      <td>
                        <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
                        <ul class="u-Adjust_Mt-8">
                          <li class="c-Txt_Cap"><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a></li>
                          <li class="c-Txt_Cap"><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。</li>
                        </ul>
                      </td>
                    </dd>
                  </div>
                  <div>
                    <dt>特典適用対象外</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
                      <ul class="u-Adjust_Mt-16">
                        <li class="c-Txt_Cap"><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払期限までに行われなかった場合 ※未納・未払いが発生した場合</li>
                        <li class="c-Txt_Cap"><span>※</span>「本キャンペーン」の適用回数が、おひとり様1契約1回を超える場合は対象外となります</li>
                        <li class="c-Txt_Cap"><span>※</span>楽天モバイルショップ、楽天モバイルオンライン以外で購入した場合</li>
                        <li class="c-Txt_Cap"><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
                        <li class="c-Txt_Cap"><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                        <li class="c-Txt_Cap"><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                        <li class="c-Txt_Cap"><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt>注意事項</dt>
                    <dd>
                      <ul>
                        <li class="c-Txt_Cap"><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                        <li class="c-Txt_Cap"><span>※</span>製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
                        <li class="c-Txt_Cap"><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                        <li class="c-Txt_Cap"><span>※</span>記載の内容は2022年3月11日（金）時点の情報となります</li>
                      </ul>
                    </dd>
                  </div>
                </dl>
              </div>
            </div>


            <!-- 1558 -->
            <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="campaign-rule1558">新規ご契約・プラン変更（移行）の方対象！iPhone SE（第3世代）発売記念キャンペーン</h2>
            <p class="c-Txt_Emp-02 c-Txt_Normal-m u-Adjust_Align-center u-Adjust_Mt-16 u-Adjust_Mb-16">本キャンペーンは終了しました。</p>
            <div class="c-Table_Wrap u-Adjust_Mt-24">
              <div class="u-Adjust_Mt-24">
                <dl class="c-Dl_Origin <%= namespace %>-Dl_Rule">
                  <div>
                    <dt>キャンペーンコード</dt>
                    <dd>
                      <p>1558</p>
                      <ul class="c-Txt_Cap u-Adjust_Mt-8">
                        <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt>キャンペーン期間</dt>
                    <dd>
                      <div>
                        <p>
                          <span class="c-Txt_Emp-01">■ プランのお申し込み期間</span><br>
                          - Web　2022年6月14日(火)9:00～2022年6月30日(木)23:59<br>
                          - 店舗（楽天モバイルショップ）　2022年6月14日(火)開店～2022年6月30日(木)閉店
                        </p>
                        <p class="c-Txt_Cap">※本キャンペーンは6月30日(木) 23:59に終了しますが、7月1日(金)0:00より他社から乗り換え（MNP）・新規・プラン変更（移行）を対象とした16,000ポイントバックの新規キャンペーンを実施します。</p>
                      </div>
                      <div class="u-Adjust_Mt-16">
                        <p>
                          <span class="c-Txt_Emp-01">■ 製品のご購入期間</span><br>
                          - Web　2022年6月14日(火)9:00～2022年6月30日(木)23:59<br>
                          - 店舗（楽天モバイルショップ）　2022年6月14日(火)開店～2022年6月30日(木)閉店
                        </p>
                        <p class="c-Txt_Cap">※本キャンペーンは6月30日(木) 23:59に終了しますが、7月1日(金)0:00より他社から乗り換え（MNP）・新規・プラン変更（移行）を対象とした16,000ポイントバックの新規キャンペーンを実施します。</p>
                      </div>
                      <div class="u-Adjust_Mt-16">
                        <p>
                          <span class="c-Txt_Emp-01">■ プラン利用開始期限</span><br>
                          製品到着または店頭で購入した日の翌月末日23:59まで
                        </p>
                      </div>
                      <div class="u-Adjust_Mt-16">
                        <p>
                          <span class="c-Txt_Emp-01">■「Rakuten Link」利用期限</span><br>
                          製品到着または店頭で購入した日の翌月末日23:59まで
                        </p>
                      </div>
                    </dd>
                  </div>
                  <div>
                    <dt>キャンペーン条件</dt>
                    <dd>
                      <p class="c-Txt_Emp-02">
                        上記各項目の期間内に【1】、【2】、【3】、【4】の条件をすべて満たした楽天会員の方<br>
                        お一人様１回限りの適用となります。
                      </p>
                      <div class="u-Adjust_Mt-16">
                        <p class="c-Txt_Emp-01">【1】「Rakuten UN-LIMIT VI」へ、下記（1）（2）いずれかの方法にてお申し込み</p>
                        <p>
                          （1）新規お申し込み<br>
                          （2）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み<br>
                          <span class="c-Txt_Cap">※ 楽天モバイル（旧FREETEL）通話SIMからの乗り換え（MNP）、DMMモバイル通話SIMからの乗り換え（MNP）は対象となります</span>
                        </p>
                      </div>
                      <div class="u-Adjust_Mt-16">
                        <p class="c-Txt_Emp-01">【2】「Rakuten UN-LIMIT VI」お申し込みと同日に対象製品いずれかをご購入</p>
                        <p>
                          - iPhone SE（第3世代）<br>
                          <span class="c-Txt_Cap c-Txt_Emp-02">※在庫が少ない製品もございます。あらかじめご了承ください。</span><br>
                          <span class="c-Txt_Cap c-Txt_Emp-02">※製品の購入がお申し込み日と同日の場合のみキャンペーン適用となります（同一決済でなくても可）</span>
                        </p>
                      </div>
                      <div class="u-Adjust_Mt-16">
                        <p class="c-Txt_Emp-01">【3】製品到着※または店頭で購入した日の翌月末日23:59までに「Rakuten UN-LIMIT VI」「Rakuten UN-LIMIT VII」プラン利用開始</p>
                        <p class="c-Txt_Cap">※当社に配送完了データが通知された日</p>
                        <p class="u-Adjust_Mt-16">
                          <span class="c-Txt_Emp-01">【プラン利用開始日とは】</span><br>
                          - 新規お申し込みの場合<span class="c-Txt_Cap">※（1）（2）のいずれか早い方がプラン利用開始日となります</span><br>
                          （1）当社に配送完了データが通知された日<br>
                          （2）プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br>
                        </p>
                        <p>
                          - 楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合<br>
                          プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日
                        </p>
                      </div>
                      <div class="u-Adjust_Mt-16">
                        <p class="c-Txt_Emp-01">【4】製品到着※または店頭で購入した日の翌月末日23:59までに「Rakuten Link」のご利用</p>
                        <p class="c-Txt_Cap">※当社に配送完了データが通知された日</p>
                        <p>「Rakuten UN-LIMIT VI」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
                        <p class="u-Adjust_Mt-16">
                          <span class="c-Txt_Emp-01">【Rakuten Link アプリご利用方法】</span><br>
                          下記URLの「Rakuten Linkのご利用方法」をご確認ください<br>
                          <a href="<%= sitepath %>guide/rakuten-link/" class="c-Link_Txt">https://network.mobile.rakuten.co.jp/guide/rakuten-link/</a><br>
                          - 通話方法：『電話をかける』の項目をご確認ください<br>
                          <span class="c-Txt_Cap">※「Rakuten Link」アプリ以外のメッセージやメール送信についてはキャンペーンの達成条件として適用されませんのでご注意ください</span>
                        </p>
                        <p class="u-Adjust_Mt-16">
                          <span class="c-Txt_Emp-01">【Rakuten Link利用履歴の確認方法】</span><br>
                          下記URLの「キャンペーンが適用されているか、いつポイントが付与されるか知りたい」をご確認ください<br>
                          <a href="<%= sitepath %>faq/detail/00001962/" class="c-Link_Txt">https://network.mobile.rakuten.co.jp/faq/detail/00001962/</a><br>
                          -「③ 適用条件の達成状況を確認する」の項目をご確認ください<br>
                          <span class="c-Txt_Cap">※電話の発信時、（0570）（0180）などの他社接続サービス、♯ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</span>
                        </p>
                      </div>
                    </dd>
                  </div>
                  <div>
                    <dt>キャンペーン特典 （楽天ポイント）</dt>
                    <dt class="<%= namespace %>_Title-sub">特典内容</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">楽天ポイント20,000円相当のポイントをプレゼント</p>
                    </dd>
                  </div>
                  <div>
                    <dt class="<%= namespace %>_Title-sub">ポイント付与日</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">「Rakuten Link」の利用が確認された月の翌々月末日頃に付与</p>
                      <ul class="u-Adjust_Mt-8 c-Txt_Cap <%= namespace %>-campaign-Rule_List">
                        <li class="c-Txt_Cap">※例）6月にすべての条件を達成した場合には、その翌々月である8月末日ごろにポイント付与となります</li>
                        <li>※楽天ポイントの付与は、楽天モバイルより行います</li>
                        <li>※権利の譲渡はできません</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt class="<%= namespace %>_Title-sub">ポイント有効期間</dt>
                    <dd>
                      <td>
                        <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
                        <ul class="u-Adjust_Mt-8 <%= namespace %>-campaign-Rule_List">
                          <li class="c-Txt_Cap"><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a></li>
                          <li class="c-Txt_Cap"><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。</li>
                        </ul>
                      </td>
                    </dd>
                  </div>
                  <div>
                    <dt>特典適用対象外</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
                      <ul class="u-Adjust_Mt-8 c-Txt_Cap <%= namespace %>-campaign-Rule_List">
                        <li>※当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                        <li>※「新規ご契約・プラン変更（移行）の方対象！iPhone SE（第3世代）発売記念キャンペーン」の適用回数が、おひとり様1契約1回を超える場合は対象外となります</li>
                        <li>※同一回線または2回線目以降で別の製品購入キャンペーンに参加された場合、ポイント付与対象にはなりませんのでご了承ください</li>
                        <li>※楽天モバイルショップ、楽天モバイルオンライン以外で購入した場合</li>
                        <li>※ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
                        <li>
                          ※「Rakuten UN-LIMIT VI」「Rakuten UN-LIMIT VII」のプラン利用開始がされなかった場合<br>
                          -プラン利用開始の手続き方法につきましては、こちらのSIMカード版スタートガイドまたはeSIM版スタートガイドを参照ください
                        </li>
                        <li>※期限までに<span class="c-Txt_Emp-01">「Rakuten Link」を利用されなかった場合</span></li>
                        <li>※ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                        <li>※当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                        <li>※そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt>併用可能キャンペーン</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">以下のキャンペーンは、<span class="c-Txt_Emp-02">併用可能</span>となります。</p>
                      <ul class="u-Adjust_Mt-8 c-Txt_Cap <%= namespace %>-campaign-Rule_List">
                        <li>- 【Rakuten UN-LIMIT VIお申し込み特典】だれでも5,000ポイントプレゼントキャンペーン（キャンペーンコード：1113）</li>
                        <li>- iPhoneアップグレードプログラム適用で5,000ポイント還元キャンペーン（キャンペーンコード：1383）</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt>併用不可キャンペーン</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">以下のキャンペーンは、<span class="c-Txt_Emp-02">併用不可</span>となります。</p>

                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">・以下のキャンペーン特典が適用となっている場合、本キャンペーンは対象外になります。</p>
                      <ul class="u-Adjust_Mt-8 c-Txt_Cap <%= namespace %>-campaign-Rule_List">
                        <li>- Rakuten WiFi Pocket 2 本体価格1円キャンペーン（キャンペーンコード：1425）</li>
                        <li>- ショップ限定！iPhone SE(64GB)本体代１円キャンペーン（キャンペーンコード：1436）</li>
                        <li>- 他社から乗り換え（MNP）限定！iPhone SE（第3世代）発売記念キャンペーン（キャンペーンコード：1458）</li>
                        <li>- 激トク乗り換え！Androidスマホ割引キャンペーン​ (キャンペーンコード：1470）</li>
                      </ul>

                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">・本キャンペーンを適用した場合、以下のキャンペーン特典は対象外となります。</p>
                      <ul class="u-Adjust_Mt-8 c-Txt_Cap <%= namespace %>-campaign-Rule_List">
                        <li>- お持ちのスマホそのままで、他社から乗り換え（MNP）の方限定！通常のRakuten UN-LIMIT VIお申し込み特典に加えて、さらに15,000ポイントプレゼントキャンペーン（キャンペーンコード：1262）</li>
                        <li>- iPhone 13 全機種 ポイント還元キャンペーン（キャンペーンコード：1382）</li>
                        <li>- Rakuten Hand7,980ポイントプレゼントキャンペーン（キャンペーンコード：1391）</li>
                        <li>- Rakuten UN-LIMIT VI＋製品購入でポイント還元キャンペーン（キャンペーンコード：1426）</li>
                        <li>- 【ショップ限定！】新規ご契約・プラン変更（移行）の方も対象！通常のRakuten UN-LIMIT VIお申し込み特典に加えて、さらに15,000ポイントプレゼントキャンペーン（キャンペーンコード：1428）</li>
                        <li>- 他社から乗り換え（MNP）限定！楽天モバイル公式 楽天市場店でiPhone SE（第3世代）発売記念キャンペーン（キャンペーンコード：1471）</li>
                        <li>- 回線契約のみでOK！通常のRakuten UN-LIMIT VIお申し込み特典に加えて、さらに3,000ポイントプレゼントキャンペーン（キャンペーンコード：1554）</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt>注意事項</dt>
                    <dd>
                      <ul class="c-Txt_Cap <%= namespace %>-campaign-Rule_List">
                        <li>※本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                        <li>※本キャンペーンの特典付与進呈対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                        <li>※製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
                        <li>※本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                        <li>※記載の内容は2022年6月14日(火)時点の情報となります</li>
                      </ul>
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ReX UX Survey: Mounting point for embedded components -->
    <div id="rexSurveyEmbedded" class="rexSurveyNamespace u-Adjust_Mt-48"></div>

    <footer class="g-Footer <%= namespace %>-Layout_Footer u-Adjust_Mt-64">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script>
    $(function () {
      var hash = location.search;
      if (hash.indexOf('point-iphone12') > 0) {
        $('html, body').animate({
          'scrollTop': $('#point2').offset().top
        }, 300);
        $('#accordion-5').click();
      } else if (hash.indexOf('point-iphone13') > 0) {
        $('html, body').animate({
          'scrollTop': $('#point').offset().top
        }, 300);
        $('#accordion-3').click();
      }
    });
  </script>
  <%- include('/include/_append-body') %>
  <!-- ReX UX Survey: Config -->
  <script>
  window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
  </script>
  <!-- ReX UX Survey: Script -->
  <script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>
</body>

</html>
