<% const pagetitle = "楽天モバイルのホームルーターRakuten Turbo（ラクテン ターボ）" -%>
<% const namespace = "turbo-Top" -%>
<% const imgDir = `${sitepath}assets/img/internet/turbo/top/` -%>
<%
  /*
  * title: string
  * link: string
  * date: yyyy-mm-dd
  * external: boolean
  */
-%>
<%-
 include('/_header', {
    pagetitle,
    description: '楽天モバイルのホームルーターRakuten Turbo（ラクテン ターボ）。工事不要、コンセントにさすだけですぐに使えるおうちのWiFi。5G対応の高速インターネットがデータ無制限で使い放題。',
    noindex: false,
    pathname: filepath,
    isTurbo: true,
    turbotop: true,
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/internet/turbo/turbo-top.css?20240424">
<%- include('/include/_append-head') %>

</head>
<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/internet/turbo/_prepend-body-internet') %>
  <div class="l-System">
    <%- include('/include/internet/turbo/_header', {
      pagetitle: 'Rakuten Turbo',
      tax: false,
      breadcrumbs: false,
    }) %>

    <section>
      <h1 class="<%= namespace %>-Kv u-Adjust_Align-center">
        <picture>
          <source media="(max-width: 834px)" srcset="<%= imgDir %>img-kv-sp-240221.png" width="834" height="734">
          <img src="<%= imgDir %>img-kv-pc-240221.png" alt="工事不要！すぐに使えるおうちのWi-Fi  Rakuten Turbo コンセントにさすだけ！※Wi-Fiの接続が必要" width="1440" height="300">
        </picture>
      </h1>
      <div class="l-System_Container u-Adjust_Mt-32">
        <div class="<%= namespace %>-Carousel c-Carousel js-Carousel-single">
          <a href="<%= sitepath %>internet/turbo/campaign/six-month-free/?l-id=rmt_internet_turbo_carousel_internet_turbo_campaign_six-month-free_01" class="c-Banner_Hover-act" data-ratid="rmt_internet_turbo_carousel_internet_turbo_campaign_six-month-free_01" data-ratevent="click" data-ratparam="all">
            <picture>
              <source media="(max-width: 834px)" srcset="<%= imgDir %>img-carousel01-sp.png">
              <img src="<%= imgDir %>img-carousel01-pc.png" alt="Rakuten Turbo プラン料金6カ月0円 さらに、スマホとセットで使うと20,000ポイント還元！※製品代金 別途41,580円。月額プラン料金7カ月目以降4,840円。その他条件あり">
            </picture>
          </a>
          <a href="<%= sitepath %>internet/turbo/campaign/ichiba-1yen/?l-id=rmt_internet_turbo_carousel_internet_turbo_campaign_ichiba-1yen" class="c-Banner_Hover-act" data-ratid="rmt_internet_turbo_carousel_internet_turbo_campaign_ichiba-1yen" data-ratevent="click" data-ratparam="all">
            <picture>
              <source media="(max-width: 834px)" srcset="<%= imgDir %>img-carousel02-sp.png">
              <img src="<%= imgDir %>img-carousel02-pc.png" alt="Rakuten Turboお申し込み&楽天市場のお買い物で20,000ポイント還元！※条件あり">
            </picture>
          </a>
          <a href="<%= sitepath %>internet/turbo/campaign/spu/?l-id=rmt_internet_turbo_carousel_internet_turbo_campaign_spu" class="c-Banner_Hover-act" data-ratid="rmt_internet_turbo_carousel_internet_turbo_campaign_spu" data-ratevent="click" data-ratparam="all">
            <picture>
              <source media="(max-width: 834px)" srcset="<%= imgDir %>img-carousel03-sp.png">
              <img src="<%= imgDir %>img-carousel03-pc.png" alt="Rakuten Turboご契約中、楽天市場のお買い物が+2倍 スマホとセットで使えばポイント毎日全員7倍 ※獲得上限コインとあり。期間限定ポイント ※その他条件あり">
            </picture>
          </a>
          <a href="<%= sitepath %>hikari/campaign/six-month-free/?l-id=rmt_internet_turbo_carousel_hikari_campaign_six-month-free_01" class="c-Banner_Hover-act" data-ratid="rmt_internet_turbo_carousel_hikari_campaign_six-month-free_01" data-ratevent="click" data-ratparam="all">
            <picture>
              <source media="(max-width: 834px)" srcset="<%= imgDir %>img-carousel04-sp.png">
              <img src="<%= imgDir %>img-carousel04-pc.png" alt="楽天ひかり初めてお申し込み&楽天モバイルご利用で月額基本料6カ月0円 ※契約解除料、その他条件あり">
            </picture>
          </a>
        </div>
        <div class="c-Carousel_Nav-v2-wrap">
          <div class="c-Carousel_Nav-v2"></div>
        </div>

        <div class="u-Adjust_Align-center u-Adjust_Mt-16 u-Adjust_Mb-24 u-Adjust_Mb-pc-40">
          <a href="<%= sitepath %>internet/turbo/campaign/" class="c-Link_Txt-inline" data-lid_no="01">おトクなキャンペーン情報はこちら<span class="c-Icon_Chevron-right"></span></a>
        </div>
      </div>
      <div class="turbo-Top-Information" aria-hidden="true">
        <div class="turbo-Top-Information_Content">
          <div class="turbo-Top-Information_Title">お知らせ</div>
          <dl class="turbo-Top-Information_List" id="turbo-top-information_show">
          </dl>
        </div>
      </div>
    </section>

    <div id="js-fixed-btn-trigger"></div>

    <section class="u-Adjust_Pt-40" style="background-color: #F7F7F7;">
      <div class="l-System_Container">

        <!-- Modal Area -->
        <h2 id="about" class="<%= namespace %>-Util_Headding-1 u-Adjust_Align-center">Rakuten Turboとは？</h2>
        <p class="u-Adjust_Align-center c-Txt_Emp-01 u-Adjust_Mt-16">今すぐおうちにWi-Fi環境が欲しい方へ<br class="u-Show_Oox">ぴったりなホームルーターです</p>

          <!-- <div class="u-Adjust_Align-center u-Show_Oox u-Adjust_Mt-24">
            <img src="<%= imgDir %>img-wifi-01.png" alt="" width="123" height="177">
          </div> -->

          <div class="l-Media_Grid-half <%= namespace %>-Util_Mt-54-32">
          <div>
            <div class="u-Rat_Appear-height" data-ratid="rmt_modal_ksp_01" data-ratevent="appear" data-ratparam="all"></div>
            <a href="#modal-1" class="js-Modal c-Card_Normal <%= namespace %>-Card" data-ratid="rmt_modal_open_ksp_01" data-ratevent="click" data-ratparam="all">
              <img src="<%= imgDir %>img-card-1-240221.jpg" alt="" width="500" height="192">
              <div class="<%= namespace %>-Card_Bottom">
                <p class="c-Txt_Emp-01">通信安定でサクサクつながる</p>
              </div>
            </a>
          </div>
          <div>
            <div class="u-Rat_Appear-height" data-ratid="rmt_modal_ksp_02" data-ratevent="appear" data-ratparam="all"></div>
            <a href="#modal-2" class="js-Modal c-Card_Normal <%= namespace %>-Card" data-ratid="rmt_modal_open_ksp_02" data-ratevent="click" data-ratparam="all">
              <img src="<%= imgDir %>img-card-2-240221.jpg" alt="" width="500" height="192">
              <div class="<%= namespace %>-Card_Bottom">
                <p class="c-Txt_Emp-01">工事不要、欲しいときにすぐ使える</p>
              </div>
            </a>
          </div>
        </div>
        <div class="l-Media_Grid-half u-Adjust_Mt-32">
          <div>
            <div class="u-Rat_Appear-height" data-ratid="rmt_modal_ksp_03" data-ratevent="appear" data-ratparam="all"></div>
            <a href="#modal-3" class="js-Modal c-Card_Normal <%= namespace %>-Card" data-ratid="rmt_modal_open_ksp_03" data-ratevent="click" data-ratparam="all">
              <img src="<%= imgDir %>img-card-3.png" alt="" width="500" height="192">
              <div class="<%= namespace %>-Card_Bottom">
                <p class="c-Txt_Emp-01">かんたん接続、面倒な設定もなし</p>
              </div>
            </a>
          </div>
          <div>
            <div class="u-Rat_Appear-height" data-ratid="rmt_modal_ksp_04" data-ratevent="appear" data-ratparam="all"></div>
            <a href="#modal-4" class="js-Modal c-Card_Normal <%= namespace %>-Card" data-ratid="rmt_modal_open_ksp_04" data-ratevent="click" data-ratparam="all">
              <img src="<%= imgDir %>img-card-4.png" alt="" width="500" height="192">
              <div class="<%= namespace %>-Card_Bottom">
                <p class="c-Txt_Emp-01">楽天ポイントが、貯まる、使える</p>
              </div>
            </a>
          </div>
        </div>


      <!-- modal-1 -->
      <div id="modal-1" style="display:none;">
        <h3 class="u-Adjust_Align-center <%= namespace %>-Util_Headding-2">
          通信安定でサクサクつながる
        </h3>
        <div class="<%= namespace %>-Card_Herf u-Adjust_Mt-24">
          <div>
            <h4 class="c-Heading_Lv4 u-Adjust_Align-center">5G Sub6 / 4G LTE</h4>
            <p class="u-Adjust_Mt-8">
              <img src="<%= imgDir %>img-modal-01.png" alt="">
            </p>
            <p class="u-Adjust_Mt-8">
              屋内でも途切れず使える5G Sub6対応<span class="c-Txt_Cap">※1</span>。さらに、人口カバー率98%の楽天回線 4G LTEエリア対応<span class="c-Txt_Cap">※2</span>だから安心。
            </p>
          </div>
          <div>
            <h4 class="c-Heading_Lv4 u-Adjust_Align-center">家中快適、Wi-Fi6</h4>
            <p class="u-Adjust_Mt-8">
              <img src="<%= imgDir %>img-modal-02.png" alt="">
            </p>
            <p class="u-Adjust_Mt-8">Wi-Fi6対応だから、家中で快適にインターネットが利用できます。<br>
              しかも最大接続台数は128台、利用するデバイスが増えても安心です。</p>
          </div>
        </div>
        <p class="c-Txt_Cap u-Adjust_Mt-24">
          ※1 5Gは一部エリアのみ※ 2 人口カバー率は国勢調査に用いられる約500m区画において50%以上の場所で通信可能なエリアを基に算出。2022年10月時点 Rakuten最強プランで利用できるサービスエリアとは異なります
        </p>
        <div class="u-Adjust_Align-center u-Adjust_Mt-24">
          <a class="c-Btn_Regular js-Modal_Close"><span>閉じる</span></a>
        </div>
      </div>
      <!-- modal-2 -->
      <div id="modal-2" style="display:none;">
        <h3 class="u-Adjust_Align-center <%= namespace %>-Util_Headding-2">
          工事不要、欲しいときにすぐ使える
        </h3>
        <div class="<%= namespace %>-Card_Herf u-Adjust_Mt-24">
          <div>
            <h4 class="c-Heading_Lv4 u-Adjust_Align-center">工事不要</h4>
            <p class="u-Adjust_Mt-8">
              <img src="<%= imgDir %>img-modal-03.png" alt="">
            </p>
            <p class="u-Adjust_Mt-8">回線工事のために作業員が部屋に入る心配はありません。</p>
          </div>
          <div>
            <h4 class="c-Heading_Lv4 u-Adjust_Align-center">引っ越した日からすぐWi-Fi</h4>
            <p class="u-Adjust_Mt-8">
              <img src="<%= imgDir %>img-modal-04.png" alt="">
            </p>
            <p class="u-Adjust_Mt-8">お申し込み完了から最短2日でお届け。<br>
              引っ越した日からWi-Fi生活を始めることができます。</p>
          </div>
        </div>
        <div class="u-Adjust_Align-center u-Adjust_Mt-24">
          <a class="c-Btn_Regular js-Modal_Close"><span>閉じる</span></a>
        </div>
      </div>
      <!-- modal-3 -->
      <div id="modal-3" style="display:none;">
        <h3 class="u-Adjust_Align-center <%= namespace %>-Util_Headding-2">
          かんたん接続、面倒な設定もなし
        </h3>
        <div class="<%= namespace %>-Card_Herf u-Adjust_Mt-24">
          <div>
            <h4 class="c-Heading_Lv4 u-Adjust_Align-center">コンセントにさすだけ</h4>
            <p class="u-Adjust_Mt-8">
              <img src="<%= imgDir %>img-modal-05.png" alt="">
            </p>
            <p class="u-Adjust_Mt-8">LANケーブルをつないだり、複雑な作業はいりません。RakutenTurboはコンセントにさすだけでOKです。</p>
          </div>
          <div>
            <h4 class="c-Heading_Lv4 u-Adjust_Align-center">QRコードを読み込むだけ</h4>
            <p class="u-Adjust_Mt-8">
              <img src="<%= imgDir %>img-modal-06.png" alt="">
            </p>
            <p class="u-Adjust_Mt-8">ID、パスワードの入力はいりません。スマホでQRコードを読み込むだけでかんたんに接続できます。</p>
            <p class="c-Txt_Cap">※画像はイメージです</p>
          </div>
        </div>
        <div class="u-Adjust_Align-center u-Adjust_Mt-24">
          <a class="c-Btn_Regular js-Modal_Close"><span>閉じる</span></a>
        </div>
      </div>
      <!-- modal-4 -->
      <div id="modal-4" style="display:none;">
        <h3 class="u-Adjust_Align-center <%= namespace %>-Util_Headding-2">
          楽天ポイントが、貯まる、使える
        </h3>
        <div class="<%= namespace %>-Card_Herf u-Adjust_Mt-24">
          <div>
            <h4 class="c-Heading_Lv4 u-Adjust_Align-center">100円（税別）お支払いごとに<br>
              1ポイント貯まる</h4>
            <p class="u-Adjust_Mt-8">
              <picture>
                <source media="(max-width:834px)" srcset="<%= imgDir %>img-modal-07-231215-sp.png">
                <img src="<%= imgDir %>img-modal-07-231215.png" alt="">
              </picture>
            </p>
            <p class="u-Adjust_Mt-8">Rakuten Turboの月々のお支払い100円（税別）につき1ポイントが貯まります。</p>
          </div>
          <div>
            <h4 class="c-Heading_Lv4 u-Adjust_Align-center">スマホとセットで<br>
              ポイント毎日全員7倍<span class="c-Txt_Cap">※1</span></h4>
            <p class="u-Adjust_Mt-8">
              <picture>
                <source media="(max-width:834px)" srcset="<%= imgDir %>img-modal-08-sp.png">
                <img src="<%= imgDir %>img-modal-08.png" alt="">
              </picture>
            </p>
            <p class="u-Adjust_Mt-8">Rakuten Turboご契約中、楽天市場のお買い物が+2倍、Rakuten最強プランご利用で+4倍。</p>
          </div>
        </div>

        <div class="u-Adjust_Mt-24">
          <h4 class="c-Heading_Lv4 u-Adjust_Align-center">毎月のお支払いに<br>
            ポイントが使える<span class="c-Txt_Cap">※2</span></h4>
          <div class="u-Adjust_Align-center u-Adjust_Mt-8">
            <picture>
              <source media="(max-width:834px)" srcset="<%= imgDir %>img-modal-09-231215-sp.png">
              <img src="<%= imgDir %>img-modal-09-231215.png" alt="">
            </picture>
          </div>
        </div>
        <p class="u-Adjust_Mt-8">貯まったポイントは毎月のお支払いや、楽天市場でのお買い物に使えます。<span class="c-Txt_Cap">※2</span></p>
        <p class="c-Txt_Cap u-Adjust_Mt-24">
          ※1 楽天会員1倍、Rakuten Turboまたは楽天ひかりご利用で＋2倍 。楽天モバイルご利用で＋4倍（スーパーホーダイ、組み合わせプラン、コミコミプランは対象外）。毎月の獲得上限ポイントはRakuten Turboまたは楽天ひかりが1,000ポイント、楽天モバイルが2,000ポイント。いずれも期間限定ポイントでの進呈。ポイント未利用時の倍率<br>
          ※2 1ポイント=1円
        </p>
        <div class="u-Adjust_Align-center u-Adjust_Mt-24">
          <a class="c-Btn_Regular js-Modal_Close"><span>閉じる</span></a>
        </div>
      </div>
      <!-- //Modal Area -->

      <div class="u-Adjust_Align-center u-Adjust_Pt-48 u-Adjust_Pb-48">
        <a href="<%= sitepath %>internet/turbo/product/" class="c-Btn_Regular"><span>製品を見る</span></a>
      </div>

      </div>
    </section>

    <section class="u-Adjust_Mt-40 u-Adjust_Mt-pc-48">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv1 u-Adjust_Align-center <%= namespace %>-Fee_Title" data-ratid="scroll-03_fee" data-ratevent="appear">
          <img src="<%= imgDir %>icon-fee.png" width="102" height="40" alt="">
          プラン料金がおトク
        </h2>

        <div class="u-Adjust_Align-center u-Adjust_Mt-32 u-Adjust_Mt-pc-40">
          <picture>
            <source media="(max-width:834px)" srcset="<%= imgDir %>img-fee-sp-240221.png" width="343" height="249">
            <img src="<%= imgDir %>img-fee-pc-240221.png" alt="キャンペーン中はRakuten Turboにお申し込みの方全員 6カ月0円 7カ月目以降4,840円" width="600" height="232">
          </picture>
          <p class="c-Txt_Cap u-Adjust_Mt-16 u-Adjust_Mt-pc-24">※製品代金 別途41,580円</p>
          <div class="u-Adjust_Align-center u-Adjust_Mt-24">
            <a href="<%= sitepath %>internet/turbo/fee/" class="c-Btn_Regular"><span>料金を見る</span></a>
          </div>
        </div>
      </div>
    </section>

    <section class="u-Adjust_Mt-88 u-Adjust_Mt-pc-96">
      <div class="l-System_Container">
        <div class="u-Adjust_Align-center">
          <img src="<%= imgDir %>r-point.svg" width="78" height="78" alt="R POINT">
        </div>
        <h3 class="u-Adjust_Align-center u-Adjust_Mt-8">
          <picture>
            <source media="(max-width:834px)" srcset="<%= imgDir %>point-set-sp.png" width="343" height="243">
            <img src="<%= imgDir %>point-set-pc.png" alt="楽天モバイルとセットでさらにおトク 楽天市場のお買い物がポイントUP！ 毎日全員7倍！！※" width="580" height="171">
          </picture>
        </h3>

        <div class="<%= namespace %>-Theme_Box-breakdown u-Adjust_Mt-24">
          <h3 class="u-Adjust_Align-center c-Heading_Lv4">楽天市場のお買い物で<br class="u-Show_Oox">獲得できるポイントの内訳</h3>
          <div class="l-Media_Grid-half u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
              <div class="<%= namespace %>-Theme_Borderbox-breakdown u-Adjust_Mr-0 u-Adjust_Mr-pc-24">
                <picture>
                  <source media="(max-width:834px)" srcset="<%= imgDir %>img-set-turbo-01-sp.png" width="279" height="40">
                  <img src="<%= imgDir %>img-set-turbo-01-pc.png" alt="Rakuten Turbo R SPU ＋2倍" width="350" height="80">
                </picture>
              </div>
              <div class="<%= namespace %>-Theme_Borderbox-breakdown u-Adjust_Mt-16 u-Adjust_Mt-pc-0">
                <picture>
                  <source media="(max-width:834px)" srcset="<%= imgDir %>img-set-turbo-02-sp.png" width="279" height="70">
                  <img src="<%= imgDir %>img-set-turbo-02-pc.png" alt="楽天モバイル SPU ＋4倍※" width="350" height="80">
                </picture>
              </div>
          </div>
        </div>

        <div class="u-Adjust_Mt-24">
          <div class="u-Adjust_Align-center">
            <picture>
              <source media="(max-width:834px)" srcset="<%= imgDir %>icon-more-sp.png" width="168" height="50">
              <img src="<%= imgDir %>icon-more-pc.png" alt="さらに" width="168" height="55">
            </picture>
          </div>
          <div class="u-Adjust_Align-center u-Adjust_Mt-16">
            <picture>
              <source media="(max-width:834px)" srcset="<%= imgDir %>img-more-txt-sp.png" width="343" height="68">
              <img src="<%= imgDir %>img-more-txt-pc.png" alt="月々のお支払いで楽天ポイントが貯まる・使える" width="952" height="39">
            </picture>
          </div>
          <div class="u-Adjust_Align-center u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
            <a href="<%= sitepath %>internet/turbo/support/plan/point-guide/" class="c-Btn_Regular"><span>楽天ポイントが貯まる・使えるを見る</span></a>
          </div>
          <p class="c-Txt_Cap u-Adjust_Mt-24">※楽天会員1倍、Rakuten Turboまたは楽天ひかりご契約中＋2倍 、楽天モバイルご利用でポイント＋4倍（スーパーホーダイ、組み合わせプラン、コミコミプランはSPUの対象外）※楽天ひかりはプロバイダーとして楽天ブロードバンドのみ契約されている場合は特典対象外。※毎月の獲得上限ポイントはRakuten Turboまたは楽天ひかりが1,000ポイント、楽天モバイルが2,000ポイント。いずれも期間限定ポイントでの進呈</p>
          <div class="u-Adjust_Mt-16">
            <a href="<%= sitepath %>internet/turbo/campaign/spu/" class="c-Link_Txt-inline">SPUの詳細はこちら<span class="c-Icon_Chevron-right"></span></a>
          </div>
        </div>
      </div>
    </section>

    <section class="<%= namespace %>-Area u-Adjust_Mt-48">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv1 u-Adjust_Align-center <%= namespace %>-Fee_Title" data-ratid="scroll-04_area" data-ratevent="appear">
          <img src="<%= imgDir %>icon-area.png" width="102" height="39" alt="">
          5G Sub6 / 4G LTE対応の<br class="<%= namespace %>-Util_Display-sp">高速通信
        </h2>
        <p class="<%= namespace %>-Area_Lead">屋内でも途切れず使える5G Sub6<span class="c-Txt_Cap">※1</span>、もちろん人口カバー率98%<span class="c-Txt_Cap">※2</span>の楽天回線 4G LTEエリア対応<span class="c-Txt_Cap">※3</span>だから安心。</p>
        <p class="c-Txt_Cap <%= namespace %>-Area_Lead-note u-Adjust_Mt-8">
          ※1 5Gは一部エリアのみ※2 人口カバー率は、国勢調査に用いられる約500m区画において、50%以上の場所で通信可能なエリアを基に算出。2022年10月時点<br>
          <span class="c-Txt_Emp-02">※3 「Rakuten最強プラン」で利用できるサービスエリアとは異なります</span></p>

        <picture class="<%= namespace %>-Util_Display-block u-Adjust_Align-center <%= namespace %>-Area_Img">
          <source media="(max-width:834px)" srcset="<%= imgDir %>img-area-sp-240221.png" width="311" alt="181">
          <img src="<%= imgDir %>img-area-pc-240221.png" width="680" alt="208">
        </picture>

        <div class="turbo-Top-Area_Button u-Adjust_Align-center u-Adjust_Mt-24">
          <a href="<%= sitepath %>internet/turbo/area/" class="c-Btn_Regular-large"><span>エリアを見る</span></a>
        </div>
      </div>
    </section>

    <section class="<%= namespace %>-Router">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv1 u-Adjust_Align-center <%= namespace %>-Router_Title" data-ratid="scroll-05_advantages" data-ratevent="appear">
          <img src="<%= imgDir %>icon-router.png?230701" width="106" height="39" alt="">
          ホームルーターは<br class="<%= namespace %>-Util_Display-sp">こんな人におすすめ！
        </h2>

        <p class="u-Adjust_Mt-24 u-Adjust_Align-center">すぐにWi-Fiを使いたい、そんなときに利用されています。</p>

        <div class="u-Adjust_Mt-24 <%= namespace %>-Router_Flex">
          <div>
            <div>
              <picture>
                <source media="(max-width:834px)" srcset="<%= imgDir %>img-router-01-sp.png">
                <img src="<%= imgDir %>img-router-01.png" alt="">
              </picture>
            </div>
          </div>
          <div>
            <div>
              <picture>
                <source media="(max-width:834px)" srcset="<%= imgDir %>img-router-02-sp.png">
                <img src="<%= imgDir %>img-router-02.png" alt="">
              </picture>
            </div>
          </div>
          <div>
            <div>
              <picture>
                <source media="(max-width:834px)" srcset="<%= imgDir %>img-router-03-sp.png">
                <img src="<%= imgDir %>img-router-03.png" alt="">
              </picture>
            </div>
          </div>
        </div>

        <div class="u-Adjust_Mt-8 <%= namespace %>-Router_Flex-txt">
          <div>
            <ul class="c-List_Text-disc u-Adjust_Mt-8">
              <li>
                お引っ越し後すぐに
              </li>
            </ul>
          </div>
          <div>
            <ul class="c-List_Text-disc u-Adjust_Mt-8">
              <li>
                スマートスピーカーなどを購入したとき
              </li>
            </ul>
          </div>
          <div>
            <ul class="c-List_Text-disc u-Adjust_Mt-8">
              <li>
                お子様のリモート学習が必要なときに
              </li>
            </ul>
          </div>
        </div>

        <div class="<%= namespace %>-Router_Box u-Adjust_Mt-24 u-Adjust_Mt-pc-40">

          <div class="l-Media_Grid-small">
            <div class="l-Media_Image">
              <img src="<%= imgDir %>img-router-04.png" alt="" width="230" height="141">
            </div>
            <div>
              <h3 class="c-Txt_Emp-02 c-Heading_Lv4 <%= namespace %>_Utility-text-center-sp">ホームルーターとモバイルWi-Fiとの違いを徹底比較！</h3>
              <p class="u-Adjust_Mt-16">ホームルーターの特徴、おすすめのご利用シーン、モバイルWi-Fiとの違いをご紹介。</p>
              <div class="turbo-Top-Product_Button u-Adjust_Mt-16 <%= namespace %>_Utility-text-center-sp">
                <a href="/internet/turbo/product/#advantages" class="c-Btn_Regular-large" data-lid_no="03"><span>Wi-Fiルーター比較を見る</span></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="<%= namespace %>_Shop">
      <div class="l-System_Container">
        <!-- <div class="u-Rat_Appear-height" data-ratid="top_scroll-06_application" data-ratevent="appear">&nbsp;</div> -->
        <div>
          <h2 class="c-Heading_Lv2 u-Adjust_Align-center" data-ratid="scroll-07_application" data-ratevent="appear">ご希望に合わせて選べる<br class="<%= namespace %>-Util_Display-sp">お申し込み方法</h2>
          <div class="<%= namespace %>_Shop-Theme-layout">

            <div class="<%= namespace %>_Shop-Theme-white">

              <div class="<%= namespace %>_Shop-Theme-white-title-area <%= namespace %>_Shop-Theme-white-title-area--small">
                <div>
                  <h3 class="c-Heading_Lv3"><img src="<%= imgDir %>img-web-title-pc.png" alt="Webでお申し込み" width="314"></h3>
                </div>
              </div>

              <div class="l-Media_Icon <%= namespace %>-Media_Custom">
                <div>
                  <img src="<%= imgDir %>img-web-pc.png" alt="" width="72" height="72">
                </div>
                <div>
                  <p class="u-Adjust_Align-left">24時間いつでもどこでもお申し込み可能。<br>
                    製品はお申し込み完了から<span class="c-Txt_Emp-02">最短2日</span>でお届けします。<span class="c-Txt_Cap">※1</span>
                    お申し込み後、ご登録のメールアドレスに完了メールをお送りします。<span class="c-Txt_Cap">※2</span></p>
                  <p class="c-Txt_Cap u-Adjust_Align-left u-Adjust_Mt-8">
                    ※1 お届けまでに1週間ほどお時間をいただく場合がございます。<br>
                    ※2 完了メールは（＠mobile.rakuten.co.jp）のドメインで配信されます。</p>
                </div>
              </div>

                <div class="u-Adjust_Align-center <%= namespace %>-Item-button-l">
                  <a href="<%= sitepath %>internet/turbo/application/" class="c-Btn_Primary-large" data-lid_no="04"><span>Webでお申し込み</span></a>
                </div>
            </div>
            <div class="<%= namespace %>_Shop-Theme-white">
              <div class="<%= namespace %>_Shop-Theme-white-title-area">
                <div>
                 <h3 class="c-Heading_Lv3"><img src="<%= imgDir %>img-shop-title-pc.png" alt="ショップでお申し込み" width="314"></h3>
                </div>
              </div>

              <div class="l-Media_Icon <%= namespace %>-Media_Custom">
                <div>
                  <img src="<%= imgDir %>img-shop-pc.png" alt="" width="72" height="72">
                </div>
                <div>
                  <p class="u-Adjust_Align-left">楽天モバイルのショップでもお申し込み可能。<br>
                    お申し込みから初期設定まで丁寧にサポートします。</p>
                </div>
              </div>

                <div class="l-Media_Grid-half <%= namespace %>_Shop-Theme-white-shop-search">
                  <div>
                    <div class="c-Form_Select">
                      <select name="" id="js-shop-Search_Select-pref" data-ratid="rmt_select-pref_01" data-ratevent="click" data-ratparam="all">
                        <option value="">都道府県を選択</option>
                      </select>
                      <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
                    </div>
                  </div>
                  <div class="u-Adjust_Mt-0">
                    <div class="c-Form_Select">
                      <select name="" id="js-shop-Search_Select-city" aria-disabled="true" disabled data-ratid="rmt_select-city_01" data-ratevent="click" data-ratparam="all">
                        <option value="">市区町村を選択</option>
                      </select>
                      <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
                    </div>
                  </div>
                </div>
                <div class="u-Adjust_Align-center <%= namespace %>-Item-button-r">
                  <button id="js-shop-Search_Prefcity" class="c-Btn_Secondly-large" aria-disabled="false" data-ratid="rmt_shop-search_01" data-ratevent="click" data-ratparam="all">お近くのショップを検索する</button>
                </div>
            </div>
          </div>
      </div>
      </div>
    </section>

    <section class="<%= namespace %>_Faq">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center" data-ratid="scroll-08_faq" data-ratevent="appear">よくあるご質問</h2>
        <div class="u-Adjust_Mt-24">
          <div class="c-Accordion">
            <button id="accordion-faq-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-1" data-auto-rat="faqac"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天ひかりとRakuten Turboの違いを教えてください</button>
            <div id="accordion-content-faq-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-1" aria-hidden="true" style="display:none;">
              <p>Rakuten Turboは、据え置き型ルーターを設置し、楽天モバイルの電波で接続するインターネット回線です。<br>楽天ひかりは、光ファイバーケーブルを建物内に直接引き込んで接続するインターネット回線です。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-2" data-auto-rat="faqac"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten最強プランを契約していないが、Rakuten Turboを契約できますか？</button>
            <div id="accordion-content-faq-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-2" aria-hidden="true" style="display:none;">
              <p>Rakuten最強プランの契約がなくてもRakuten Turboを契約できます。<br>Rakuten Turboを契約いただくことで、お手持ちの製品をWi-Fi接続し、データ通信をご利用いただけます。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-3" data-auto-rat="faqac"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>店頭で製品を受け取ることはできますか？</button>
            <div id="accordion-content-faq-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-3" aria-hidden="true" style="display:none;">
              <p>Webでお申し込みいただいた場合は、「配送」となります。<br>「店頭受け取り」は選択できません。<br>店舗で購入いただいた場合は、「店頭受け取り」または、「配送」を選択することができます。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※店舗でご購入いただいた場合でも、在庫状況によってお引き渡し方法を選択いただけない場合がございます。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-4" data-auto-rat="faqac"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>好きな場所で使えますか？</button>
            <div id="accordion-content-faq-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-4" aria-hidden="true" style="display:none;">
              <p>日本国内の楽天回線エリア※内であればお使いいただけます。設置先の推奨環境を下記よりご確認ください。</p>
                <ul class="u-Adjust_Mt-8">
                  <li>・窓際など、電波を受け取りやすい場所に設置できること</li>
                  <li>・Wi-Fiの電波と干渉する機器（電子レンジ、テレビなど）から離して設置できること</li>
                  <li>・高層階（およそ16階以上）ではない場所に設置できること</li>
                </ul>
                <p>なお、ご登録いただいている設置先住所のみでご利用いただけます。</p>

              <p class="c-Txt_Cap u-Adjust_Mt-16">※「Rakuten最強プラン」で利用できるサービスエリアとは異なります。<a href="<%= sitepath %>internet/turbo/area/" class="c-Link_Txt-inline" data-lid_no="02">通信・エリア</a>をご確認ください</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-5" data-auto-rat="faqac"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>契約期間の縛りや最低利用期間の定めはありますか？</button>
            <div id="accordion-content-faq-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-5" aria-hidden="true" style="display:none;">
              <p>Rakuten Turboに契約期間の縛りや最低利用期間はありません。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-6" data-auto-rat="faqac"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>複数の機器で同時に利用することはできますか？</button>
            <div id="accordion-content-faq-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-6" aria-hidden="true" style="display:none;">
              <p>Rakuten Turbo 5Gは最大128台のWi-Fi機器を同時接続ができます。また、LANケーブルを接続し、有線接続で使用することができます。<br>LANケーブルの差込口は2つあり、それぞれにケーブルを挿入して有線接続で使用することができます。なお、LANケーブルを接続中も、Wi-Fi接続を利用することができます。<br>接続方法や接続可能台数等の詳細は製品の取扱説明書をご確認ください。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq-7" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-7" data-auto-rat="faqac"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>LANケーブルを繋ぐ接続ポートはありますか？</button>
            <div id="accordion-content-faq-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-7" aria-hidden="true" style="display:none;">
              <p>Rakuten Turbo 5Gには有線で接続するためのLANポートが2つあります。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq-8" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-8" data-auto-rat="faqac"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>通信速度を教えてください</button>
            <div id="accordion-content-faq-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-8" aria-hidden="true" style="display:none;">
              <p>通信速度はベストエフォート方式による提供となります。<br>実際の通信速度は、ご利用場所、通信環境、ネットワークの混雑状況、対応製品によって変わります。</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="u-Adjust_Mt-64">
      <div class="l-System_Container <%= namespace %>_Link">
        <p class="u-Adjust_Align-center <%= namespace %>_Link-item"><a href="<%= sitepath %>terms/" class="c-Link_Txt-inline">利用規約・重要事項説明書<span class="c-Icon_Chevron-right"></span></a></p>
        <p class="u-Adjust_Align-center"><a href="<%= sitepath %>internet/turbo/campaign/archive/" class="c-Link_Txt-inline">過去のキャンペーン・特典を見る<span class="c-Icon_Chevron-right"></span></a></p>
      </div>
    </section> -->


    <div class="<%= namespace %>_Fixed-btn">
      <%- include('/include/internet/turbo/_fixed-button', {
        turbotop: true,
      }) %>
    </div>

    <div class="u-Adjust_Mt-64">
      <%- include('/include/internet/turbo/_more-nav', {
        hiddenBnr: true,
      }) %>
    </div>


    <div class="u-Adjust_Pt-64">
      <div class="l-System_Container">
        <h4 class="c-Heading_Lv4" id="caution">
          注意事項
        </h4>

        <p class="c-Txt_Emp-01 u-Adjust_Mt-16">スマホとセットで20,000円相当ポイント還元について</p>

        <p class="c-Txt_Cap u-Adjust_Mt-8">
          *3 ポイントバックの条件は以下の3つ<br>
          ①Rakuten Turbo 5GとRakuten Turboをキャンペーン期間内に申し込むこと<br>
          ②Rakuten Turboを申し込みの翌月末までに課金開始すること<br>
          ③Rakuten最強プランをRakuten Turbo利用開始の翌月末に利用していること
        </p>

        <p class="c-Txt_Emp-01 u-Adjust_Mt-24">SPU 楽天モバイルとセットで楽天市場のお買い物がポイント7倍について</p>

        <p class="c-Txt_Cap u-Adjust_Mt-8">*4 楽天会員1倍、Rakuten Turboまたは楽天ひかりご利用で＋2倍 。楽天モバイルご利用で＋4倍（スーパーホーダイ、組み合わせプラン、コミコミプランは対象外）。毎月の獲得上限ポイントはRakuten Turboまたは楽天ひかりが1,000ポイント、楽天モバイルが2,000ポイント。いずれも期間限定ポイントでの進呈&nbsp;<a href="<%= sitepath %>internet/turbo/campaign/spu/" class="c-Link_Txt" data-lid_no="03">SPUの詳細はこちら</a></p>

      </div>
    </div>

    <div class="u-Adjust_Mt-48">
      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
      <%- include('/include/internet/turbo/_footer', {
        pagetitle: 'Rakuten Turbo',
        breadcrumbs: false,
      }) %>
    </div>

    <div class="u-Rat_Appear-height" data-ratid="scroll-00" data-ratevent="appear"></div>
  </div>

  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
  <%- include('/include/internet/turbo/_rex-survey-top') %>

  <script>
    const openAccordionWithHash = () => {
      let id = location.hash;
      if (!!location.hash) {
        const campaignElms = document.querySelectorAll('.js-campaign-accordion');
        campaignElms.forEach(elm => {
          if (`#${elm.id}` === location.hash) {
            const accordionTrigger = elm.querySelector('.js-Accordion_Trigger');
            const accordionPanel = elm.querySelector('.js-Accordion_Panel');
            accordionTrigger.setAttribute('aria-expanded', 'true');
            accordionPanel.setAttribute('aria-hidden', 'false');
            accordionPanel.style.display = 'block';
          }
        })
      }
    }
    openAccordionWithHash();

    window.addEventListener('hashchange', () => {
      openAccordionWithHash();
    }, false)
  </script>

<script src="<%= sitepath %>assets/js/internet.turbo.top.bundle.js?20240521"></script>

</body>
</html>
