<% const pagetitle = "サポートトップ" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    noindex: true,
    pathname: filepath
  });
%>
<% const namespace = "ecare" -%>
<% const type = "app" -%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/ecare/ecare.css?20240424">
</head>
<body id="body">

<div class="l-System" id="container">
  <div class="l-System_Container <%= namespace %>-Layout_Container">

    <p>お困りごとの解決方法や各種手続き方法をご確認いただけます。</p>


    <div class="c-Attention_Info <%= namespace %>-Info u-Adjust_Mt-24">
      <h2 class="<%= namespace %>-Heading_Lv3 u-Adjust_Mb-8">サポートに関するお知らせ</h2>
    </div>
    <!-- キャンペーンクローズ時は以下のバナーを削除する -->
    <div class="u-Adjust_Align-center u-Adjust_Mt-24">
      <a href="<%= sitepath %>campaign/support-survey/?l-id=ecare-s-app_campaign_support-survey" class="c-Banner_Hover-act" target="_blank">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-support-survey-328-185.png">
          <img src="<%= sitepath %>assets/img/bnr/bnr-support-survey-1032-160.png" alt="楽天モバイルをご利用中の方限定 お客様サポートページのご意見聞かせて！キャンペーン 抽選で100名様にアンケートに答えると1,500ポイントプレゼント！" width="1032" height="160">
        </picture>
      </a>
    </div>

    <div class="<%= namespace %>-Layout_Inquiry u-Adjust_Mt-24">
      <h2 class="<%= namespace %>-Heading_Lv2">サービスエリアに関するお問い合わせ・ご要望</h2>
      <div class="u-Adjust_Mt-8">
        <p>
          楽天モバイルご利用者様にご満足いただけるよう、電波に関する改善を行っております。<br>
          つながらない、速度が遅いと感じられる場合など、電波改善のご要望は以下のフォームよりご意見・ご要望をお聞かせください。
        </p>
        <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
          <a href="https://r10.to/hN2BFc" class="<%= namespace %>-Layout_Inquiry-btn c-Btn_Regular" href="" data-ratid="" data-ratevent="click" data-ratparam="all">電波改善要望フォーム<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></a>
        </div>
      </div>
    </div>

    <div class="<%= namespace %>-Layout_Section-first">
      <h2 class="<%= namespace %>-Heading_Lv2">よく見られているサポート情報</h2>
      <div class="u-Adjust_Mt-24">
        <%- /* 請求・お支払い方法 */ include('/include/ecare/member/_payment', { type: type, prefix: 'faq-', }); %>
        <%- /* 紛失・盗難 */ include('/include/ecare/member/_suspension', { type: type, prefix: 'faq-', }); %>
        <%- /* お申し込みからお受け取りまで */ include('/include/ecare/member/_application', { type: type, prefix: 'faq-', }); %>
        <%- /* エリア・データ */ include('/include/ecare/member/_area', { type: type, prefix: 'faq-', }); %>
      </div>
    </div>

    <div class="<%= namespace %>-Layout_Section" id="category">
      <h2 class="<%= namespace %>-Heading_Lv2">カテゴリーから探す</h2>
      <p class="u-Adjust_Mt-24">確認・変更したい内容に応じて、「my 楽天モバイル」内の手続き画面やサポートページへご案内いたします。</p>
    </div>

    <div class="c-Tab js-Tab u-Adjust_Mt-24">
      <ul class="c-Tab_Items <%= namespace %>-Tab" role="tablist">
          <li class="c-Tab_Item <%= namespace %>-Tab_Item js-tab" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1" data-ratid="ecare-s-<%= type %>_category_tab_member" data-ratevent="click" data-ratparam="all">ご利用中の方</li>
          <li class="c-Tab_Item <%= namespace %>-Tab_Item js-tab" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2" data-ratid="ecare-s-<%= type %>_category_tab_pre-member" data-ratevent="click" data-ratparam="all">ご利用開始前の方</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
        <div class="<%= namespace %>-Category_Tab">
          <%- /* ご利用中の方 */ include('/include/ecare/_category-member', { type: type,}); %>
        </div>
      </div>
      <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
        <div class="<%= namespace %>-Category_Tab">
          <%- /* ご利用開始前の方 */ include('/include/ecare/_category-pre-member', { type: type,}); %>
        </div>
      </div>
    </div>

    <div class="<%= namespace %>-Layout_Section" id="support-info">
      <h2 class="ecare-Heading_Lv2">トラブル解決ナビを使う</h2>
      <div class="<%= namespace %>-Layout_Trouble u-Adjust_Mt-24">
        <div class="<%= namespace %>-Layout_Trouble-icon">
          <img src="<%= sitepath %>assets/img/support/icon-trouble-nav.png" alt="" width="164">
        </div>
        <div class="<%= namespace %>-Layout_Trouble-item">
          お困りごとを選んでいくことで、解決方法や各種手続き方法をご案内いたします。
          <div class="u-Adjust_Mt-24 <%= namespace %>-Util_Show-pc">
            <a href="<%= sitepath %>guide/trouble-check/#/member/?l-id=support_member_guide_trouble-check" class="c-Btn_Regular" target="_blank"><span>トラブル解決ナビへ<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
          </div>
        </div>
      </div>
      <div class="u-Adjust_Mt-24 <%= namespace %>-Util_Show-sp">
        <a href="<%= sitepath %>guide/trouble-check/#/member/?l-id=support_member_guide_trouble-check" class="c-Btn_Regular" target="_blank"><span>トラブル解決ナビへ<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
      </div>
      <h2 class="<%= namespace %>-Heading_Lv2 u-Adjust_Mt-24">お客様サポート（Web）から探す</h2>
      <div class="<%= namespace %>-Layout_Fleximg">
        <div class="<%= namespace %>-Layout_Fleximg-img">
          <img src="<%= sitepath %>assets/img/ecare/illust_01.png" alt="">
        </div>
        <p class="<%= namespace %>-Layout_Fleximg-txt">
          その他のサポート情報や、よく見られているご質問などをご案内しています。<br>
          また、キーワードや簡単な文章からサポート情報を検索することもできます。
        </p>
        <div class="<%= namespace %>-Layout_Fleximg-btn">
          <a href="https://network.mobile.rakuten.co.jp/support/?l-id=ecare-s-<%= type %>_support-web" target="_blank" class="c-Btn_Regular">
            <span>お客様サポート（Web）へ<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span>
          </a>
        </div>
      </div>
    </div>

    <div class="<%= namespace %>-Layout_Section" id="maintenance-info">
      <h2 class="<%= namespace %>-Heading_Lv2">障害・メンテナンス情報</h2>
      <ul class="c-Link_List <%= namespace %>-Layout_Linklist u-Adjust_Mt-24">
        <li>
          <a href="https://network.mobile.rakuten.co.jp/information/maintenance/?l-id=ecare-s-<%= type %>_maintenance_01" target="_blank">システムメンテナンスのお知らせ<span class="c-Icon_New-window-l"></span></a>
        </li>
        <li>
          <a href="https://network.mobile.rakuten.co.jp/info/construction/?l-id=ecare-s-<%= type %>_maintenance_02" target="_blank">メンテナンス工事のお知らせ<span class="c-Icon_New-window-l"></span></a>
        </li>
        <li>
          <a href="https://network.mobile.rakuten.co.jp/information/failure/?l-id=ecare-s-<%= type %>_maintenance_03" target="_blank">障害情報のお知らせ<span class="c-Icon_New-window-l"></span></a>
        </li>
        <li>
          <a href="https://network.mobile.rakuten.co.jp/area/outage/?l-id=ecare-s-<%= type %>_maintenance_04" target="_blank">停電時に携帯電話がご利用いただけない場合がある施設・スポット<span class="c-Icon_New-window-l"></span></a>
        </li>
      </ul>
    </div>
  </div>

  <div id="select-block" class="<%= namespace %>-Review_Container">
    <h2 class="<%= namespace %>-Review_Title u-Adjust_Align-center">お困りごとは解決できましたか？</h2>
    <div class="<%= namespace %>-Review_Grid u-Adjust_Mt-16">
      <button id="review_Btn-positive" class="c-Btn_Secondly <%= namespace %>-Review_Button <%= namespace %>-Review_Button-01 js-review-btn" data-ratid="faq-Review_Btn-positive" data-ratevent="click" data-ratparam="all">
        <span class="c-Icon_Like-l"></span><span>解決できた</span>
      </button>
      <button id="review_Btn-negative" class="c-Btn_Regular <%= namespace %>-Review_Button <%= namespace %>-Review_Button-02 js-review-btn" data-ratid="faq-Review_Btn-negative" data-ratevent="click" data-ratparam="all">
        <span>解決できない場合は<br>お問い合わせ</span>
      </button>
    </div>
  </div>

  <div class="<%= namespace %>-Review_Complete-container">
    <div id="positive-block" class="<%= namespace %>-Review_Complete" aria-hidden="true">
      <div class="l-System_Container">
        <h2 class="<%= namespace %>-Review_Title u-Adjust_Align-center">ご回答ありがとうございました。</h2>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-16 u-Adjust_Align-center">抽選で1,500ポイントが当たる<br class="u-Show_Sp">キャンペーン実施中！</p>
        <p class="u-Adjust_Mt-16">本キャンペーンの抽選へ参加するには、「アンケートに回答する」ボタンをタップして、表示される案内に沿ってアンケートにご回答ください。</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※当選者のみアンケート回答月の翌々月末日頃に、期間限定ポイントを付与します。</p>
        <div class="<%= namespace %>-Review_Button-03">
          <a href="https://network.mobile.rakuten.co.jp/campaign/support-survey/?l-id=ecare-s-<%= type %>-review_positive_campaign_support-survey" target="_blank" class="c-Btn_Regular"><span>キャンペーン詳細を確認する<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
          <a href="https://network.mobile.rakuten.co.jp/campaign/support-survey/form/?l-id=faq-Review_Btn-positive" target="_blank" class="c-Btn_Secondly"><span>アンケートに回答する<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
        </div>
      </div>
    </div>

    <div id="negative-block" class="<%= namespace %>-Review_Complete" aria-hidden="true">
      <div class="l-System_Container">

        <div class="<%= namespace %>-Review_Appealbox">
          <p class="c-Txt_Emp-01 u-Adjust_Align-center">抽選で1,500ポイントが当たる<br class="u-Show_Sp">キャンペーン実施中！</p>
          <p class="u-Adjust_Mt-16">本キャンペーンの抽選へ参加するには、「アンケートに回答する」ボタンをタップして、表示される案内に沿ってアンケートにご回答ください。</p>
          <p class="c-Txt_Cap u-Adjust_Mt-8">※当選者のみアンケート回答月の翌々月末日頃に、期間限定ポイントを付与します。</p>
          <div class="<%= namespace %>-Review_Button-03">
            <a href="https://network.mobile.rakuten.co.jp/campaign/support-survey/?l-id=ecare-s-<%= type %>-review_negative_campaign_support-survey" target="_blank" class="c-Btn_Regular"><span>キャンペーン詳細を確認する<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
            <a href="https://network.mobile.rakuten.co.jp/campaign/support-survey/form/?l-id=faq-Review_Btn-negative" target="_blank" class="c-Btn_Secondly"><span>アンケートに回答する<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
          </div>
        </div>

        <div class="u-Adjust_Mt-24" id="inquiry-info">
          <h2 class="<%= namespace %>-Heading_Lv2">お問い合わせ窓口に相談する</h2>
          <p class="u-Adjust_Mt-24">各お問い合わせ窓口をご案内いたします。</p>
          <div class="c-Accordion u-Adjust_Mt-24">
            <button type="button" id="accordion-f2" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Inquiry_Parent" aria-expanded="false" aria-controls="accordion-content-f2" data-ratid="ecare-s-app_inquiry_accordion_chat" data-ratevent="click" data-ratparam="all" data-effect="false"><span class="c-Icon_Chat-f"></span>チャットで問い合わせ<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
            <div id="accordion-content-f2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-f2" aria-hidden="true">

              <p class="u-Adjust_Mt-24">
                空き時間で気軽にお問合せ。<br>
                画面右下のアイコンをタップしてご利用ください。
              </p>
              <h4 class="c-Txt_Normal-m u-Adjust_Mt-16">営業時間 9:00〜23:00</h4>
              <p class="c-Txt_Cap u-Adjust_Mt-8">
                ※Rakuten Casaに関するお問い合わせは9:00～18:00までとなります。<br>
                ※営業時間外にいただいたお問い合わせは、AIアシスタントがご回答いたします。<br>
                <span class="js-inquiry-type js-beforeUse">
                  ※ご利用開始前の方は、こちらの「<a href="<%= sitepath %>inquiry/chat_contact/?l-id=inquiry_ecare_web_inquiry_chat_contact" class="c-Link_Txt-inline-icon" target="_blank">チャット相談を利用する<span class="c-Icon_New-window-l"></span></a>」をご利用ください。
                </span>
              </p>
              <div class="u-Adjust_Mt-32 c-Theme-Light u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/ecare/inquiry/img-support-01.png?200401" width="300" alt="">
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-f3" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Inquiry_Parent" aria-expanded="false" aria-controls="accordion-content-f3" data-ratid="ecare-s-app_inquiry_accordion_tel" data-ratevent="click" data-ratparam="all" data-effect="false"><span class="c-Icon_Phone-f"></span>電話で問い合わせ<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
            <div id="accordion-content-f3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-f3" aria-hidden="true">
              <p class="u-Adjust_Mt-24">
                <a href="<%= sitepath %>information/news/other/2233/?l-id=ecare-s-app_inquiry_information_news_other_2233" class="c-Attention_Body" target="_blank">
                  【重要】お問い合わせ窓口営業時間変更のお知らせ（2月1日～）<span class="c-Icon_New-window-l" style="color: #ff008c;"></span>
                </a>
              </p>
              <p class="u-Adjust_Mt-24">電話番号のおかけ間違いにより、一般の方へご迷惑をおかけする事象が発生しております。お掛け間違いのないようお願い申し上げます。</p>
              <div class="<%= namespace %>-Layout_2ColPc">
                <div class="u-Adjust_Mt-16 c-Theme-Light js-inquiry-type js-beforeUse">
                  <p>新規/乗り換え（MNP）お申し込みを検討中の方</p>
                  <div class="u-Adjust_Mt-16">
                    <button type="button" id="more01" class="js-more-trigger <%= namespace %>-Layout_More" aria-hidden="false" data-ratid="ecare-s-app_inquiry_tel_01_more" data-ratevent="click"><span class="c-Icon_Chevron-down"></span><span><span>連絡先を見る</span></span></button>
                    <div id="contents-more01" class="c-Theme-White" aria-hidden="true">
                      <p><a href="tel:0800-805-0090" data-ratid="ecare-s-<%= type %>_inquiry_tel_01" data-ratevent="click" data-ratparam="all">0800-805-0090</a></p>
                      <p class="u-Adjust_Mt-8">営業時間 : 9:00 ～ 17:00 （年中無休）</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※通話料無料</p>
                    </div>
                  </div>
                </div>
                <div class="u-Adjust_Mt-16 c-Theme-Light js-inquiry-type js-beforeUse">
                  <p>お申し込み後～初期設定でお困りの方</p>
                  <div class="u-Adjust_Mt-16">
                    <button type="button" id="more03" class="js-more-trigger <%= namespace %>-Layout_More" aria-hidden="false" data-ratid="ecare-s-app_inquiry_tel_04_more" data-ratevent="click"><span class="c-Icon_Chevron-down"></span><span>連絡先を見る</span></button>
                    <div id="contents-more03" class="c-Theme-White" aria-hidden="true">
                      <p><a href="tel:0800-600-0700" data-ratid="ecare-s-<%= type %>_inquiry_tel_04" data-ratevent="click" data-ratparam="all">0800-600-0700</a></p>
                      <p class="u-Adjust_Mt-8">営業時間 : 9:00 ～ 17:00 （年中無休）​</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※申し込み内容のお問い合わせは、ご契約者様ご本人よりお願いいたします。ご契約者様以外のお問い合わせは、事前に<a href="<%= sitepath %>faq/detail/10000563/" target="_blank" class="c-Link_Txt-inline">こちら</a>をご確認ください。</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※通話料無料</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※営業時間外は、「最近よくあるご質問リンク集」のご案内をショートメッセージにて送付しております。ぜひご利用ください。</p>
                    </div>
                  </div>
                </div>
                <div class="u-Adjust_Mt-16 c-Theme-Light js-inquiry-type js-inUse">
                  <p>楽天モバイル（Rakuten最強プラン）をご利用中の方</p>
                  <div class="u-Adjust_Mt-16">
                    <button type="button" id="more04" class="js-more-trigger <%= namespace %>-Layout_More" aria-hidden="false" data-ratid="ecare-s-app_inquiry_tel_06_more" data-ratevent="click"><span class="c-Icon_Chevron-down"></span><span>連絡先を見る</span></button>
                    <div id="contents-more04" class="c-Theme-White" aria-hidden="true">
                      <p><a href="tel:050-5434-4653" data-ratid="ecare-s-<%= type %>_inquiry_tel_06" data-ratevent="click" data-ratparam="all">050-5434-4653</a><span>（有料 ※1）</span></p>
                      <p class="u-Adjust_Mt-8">営業時間 : 9:00 ～ 17:00 （年中無休）</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※1 Rakuten Linkからの通話は、通話料無料。通話かけ放題オプションサービス加入による対象時間内の通話は、通話料が発生しません。詳しくは<a href="<%= sitepath %>service/#service-list" target="_blank" class="c-Link_Txt-inline">こちら</a>をご確認ください。</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※契約内容や請求などのお問い合わせは、ご契約者様ご本人よりお願いいたします。ご契約者様以外のお問い合わせは、事前に<a href="<%= sitepath %>faq/detail/10000563/" target="_blank" class="c-Link_Txt-inline">こちら</a>をご確認ください。</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※営業時間外は、「最近よくあるご質問リンク集」のご案内をショートメッセージにて送付しております。ぜひご利用ください。</p>
                    </div>
                  </div>
                </div>
                <div class="u-Adjust_Mt-16 c-Theme-Light js-inquiry-type js-inUse">
                  <p>盗難・紛失/利用停止・再開</p>
                  <div class="u-Adjust_Mt-16">
                    <button type="button" id="more06" class="js-more-trigger <%= namespace %>-Layout_More" aria-hidden="false" data-ratid="ecare-s-app_inquiry_tel_07_more" data-ratevent="click"><span class="c-Icon_Chevron-down"></span><span>連絡先を見る</span></button>
                    <div id="contents-more06" class="c-Theme-White" aria-hidden="true">
                      <p><a href="tel:0800-600-0500" data-ratid="ecare-s-<%= type %>_inquiry_tel_07" data-ratevent="click" data-ratparam="all">0800-600-0500</a></p>
                      <p class="u-Adjust_Mt-8">営業時間 : 24時間 （年中無休）</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※お問い合わせは、ご契約者様ご本人よりお願いいたします。ご契約者様以外のお問い合わせは、事前に<a href="<%= sitepath %>faq/detail/10000563/" target="_blank" class="c-Link_Txt-inline">こちら</a>をご確認ください。</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※通話料無料</p>
                    </div>
                  </div>
                </div>
                <div class="u-Adjust_Mt-16 c-Theme-Light js-inquiry-type js-inUse">
                  <p>海外からのお問い合わせ</p>
                  <div class="u-Adjust_Mt-16">
                    <button type="button" id="more07" class="js-more-trigger <%= namespace %>-Layout_More" aria-hidden="false" data-ratid="ecare-s-app_inquiry_tel_08_more" data-ratevent="click"><span class="c-Icon_Chevron-down"></span><span>連絡先を見る</span></button>
                    <div id="contents-more07" class="c-Theme-White" aria-hidden="true">
                      <p class="u-Adjust_Mt-8"><a href="tel:050-5434-4633" data-ratid="ecare-s-<%= type %>_inquiry_tel_08" data-ratevent="click" data-ratparam="all">050-5434-4633</a></p>
                      <p class="u-Adjust_Mt-8">発信する国・地域ごとに所定の通話料が発生します。※1</p>
                      <p class="u-Adjust_Mt-8">営業時間 : 24時間 （年中無休）</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※1 発信する国・地域ごとの通話料は<a href="<%= sitepath %>guide/international-call/overseas/?tab-list=tab-menu6#global" target="_blank" class="c-Link_Txt-inline">こちら</a>をご確認ください。Rakuten LinkやViberからの通話は、通話料無料。</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※お問い合わせはご契約者様ご本人よりお願いいたします。ご契約者様以外のお問い合わせは、事前に<a href="<%= sitepath %>faq/detail/10000563/" target="_blank" class="c-Link_Txt-inline">こちら</a>をご確認ください。</p>
                    </div>
                  </div>
                </div>
                <div class="u-Adjust_Mt-16 c-Theme-Light js-inquiry-type js-inUse js-beforeUse">
                  <p>Rakuten Turboに関して</p>
                  <div class="u-Adjust_Mt-16">
                    <button type="button" id="more12" class="js-more-trigger <%= namespace %>-Layout_More" aria-hidden="false" data-ratid="ecare-s-app_inquiry_tel_12_more" data-ratevent="click"><span class="c-Icon_Chevron-down"></span><span>連絡先を見る</span></button>
                    <div id="contents-more12" class="c-Theme-White" aria-hidden="true">
                      <p><a href="tel:0800-805-0040" data-ratid="ecare-s-<%= type %>_inquiry_tel_12" data-ratevent="click" data-ratparam="all">0800-805-0040</a></p>
                      <p class="u-Adjust_Mt-8">営業時間　9:00 ～ 17:00 （年中無休）</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※契約内容や請求などのお問い合わせは、ご契約者様ご本人よりお願いいたします。ご契約者様以外のお問い合わせは、事前に<a href="<%= sitepath %>faq/detail/10000563/" target="_blank" class="c-Link_Txt-inline">こちら</a>をご確認ください。</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※通話料無料</p>
                    </div>
                  </div>
                </div>
                <div class="u-Adjust_Mt-16 c-Theme-Light js-inquiry-type js-inUse js-beforeUse">
                  <p>English Support</p>
                  <div class="u-Adjust_Mt-16">
                    <button type="button" id="more09" class="js-more-trigger <%= namespace %>-Layout_More" aria-hidden="false" data-ratid="ecare-s-app_inquiry_tel_11_more" data-ratevent="click"><span class="c-Icon_Chevron-down"></span><span>連絡先を見る</span></button>
                    <div id="contents-more09" class="c-Theme-White" aria-hidden="true">
                      <p><a href="tel:0800-805-0805" data-ratid="ecare-s-<%= type %>_inquiry_tel_11" data-ratevent="click" data-ratparam="all">0800-805-0805</a></p>
                      <p class="u-Adjust_Mt-8">Business hour : 9:00-5:00pm（open 365 days）</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">*Inquiries regarding contract details and claims should be made by the contract holder themselves. For anyone else, please review the information <a href="<%= sitepath %>faq/detail/10000774/" class="c-Link_Txt-inline">here</a> prior to making inquiries.</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">* The conversation might take place as a three-way call with you, our customer service staff, and the phone interpreter. (An interpretation is free of charge)</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-Adjust_Mt-64">
          <h2 class="ecare-Heading_Lv2">楽天グループのサービスに関するお問い合わせ</h2>
          <ul class="c-Link_List <%= namespace %>-Layout_Linklist u-Adjust_Mt-24">
            <li>
              <a href="https://www.rakuten.co.jp/sitemap/inquiry.html" class="c-Link_Txt-inline" target="_blank" rel="noopener" data-ratId="ecare-s-<%= type %>_inquiry_group-inquiry" data-ratEvent="click" data-ratParam="all">楽天グループ サービス一覧 | お問い合わせ<span class="c-Icon_New-window-l"></span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

<%- include('/include/_common-js') %>
<%- include('/include/inquiry/_index') %>
<%- include('/include/_append-body') %>
<script>
(function(){

  let inputHtml = "";
  $.ajax({
      url: "/api/my_rakuten_notice/",
      xhrFields: {
          withCredentials: true
      }
    }).done(function(data) {
      if(data.list.length) {
        data.list.forEach((item,index) => {
          if(index === 0) {
            inputHtml += '<div class="c-Attention_Container">'
          } else {
            inputHtml += '<div class="c-Attention_Container u-Adjust_Mt-8">'
          }
          if(item.link) {
            inputHtml += `<span class="c-Attention_Icon c-Icon_Sign-info-l"></span><a href="${item.link}" class="c-Attention_Body" target="_blank">${item.title}</a></div>`
          } else {
            inputHtml += `<span class="c-Attention_Icon c-Icon_Sign-info-l"></span><p class="c-Attention_Body">${item.title}</p></div>`
          }
        })
        $('.c-Attention_Info').append(inputHtml);
      } else {
        $('.c-Attention_Info').hide();
      }
    }).fail((error) => {
      $('.c-Attention_Info').hide();
    });


  const moreShow = () => {
    const moreTrigger = document.querySelectorAll('.js-more-trigger');
    moreTrigger.forEach(e => {
      e.addEventListener('click', e =>  {
        e.preventDefault();
        const targetid = e.currentTarget.id;
        const targetname = `contents-${targetid}`;
        const targetcontents = document.getElementById(targetname);
        e.currentTarget.setAttribute('aria-hidden', true);
        targetcontents.setAttribute('aria-hidden', false);
      });
    })
  };

  const displayInqiry = id => {
    let select = (id === 'tab-menu1') ? 'inUse' : 'beforeUse';
    const useType = `js-${select}`;
    const inquiryTypes = document.querySelectorAll('.js-inquiry-type');
    inquiryTypes.forEach(inquiryType => {
      if(inquiryType.classList.contains(useType)) {
        inquiryType.style.display = 'block';
      } else {
        inquiryType.style.display = 'none';
      }
    });
  };

  const bindTabClickAction = () => {
    const tabs = document.querySelectorAll('.js-tab');
    tabs.forEach(tab => {
      // 初回読み込み時の表示設定
      if (tab.getAttribute('aria-selected') === 'true') {
        displayInqiry(tab.id);
      }

      // タブ切り替えによる表示切り替え
      tab.addEventListener('click', () => {
        displayInqiry(tab.id);
      })
    });
  }

  const review = () => {
    const selectBlock = document.getElementById('select-block');
    const reviewBtns = document.querySelectorAll('.js-review-btn');
    reviewBtns.forEach(reviewBtn => {
      reviewBtn.addEventListener('click', e =>  {
        e.preventDefault();
        const targetid = e.currentTarget.id.split('review_Btn-')[1];
        const targetname = `${targetid}-block`;
        const targetcontents = document.getElementById(targetname);
        targetcontents.setAttribute('aria-hidden', false);
        selectBlock.setAttribute('aria-hidden', true);
      });
    });
  }

  review();
  moreShow();
  bindTabClickAction();

}());
</script>

</body>
</html>
