<% const pagetitle = "ホームインターネット" -%>
<% const namespace = "internet-Top" %>
<% const imgDir = `${sitepath}assets/img/internet/top/` %>
<%-
 include('/_header', {
    pagetitle,
    description: '楽天モバイルのホームインターネット。工事不要ですぐに使えるおうちのWiFi、Rakuten Turbo（ホームルーター）と、データ使い放題！高速＆安定の光回線、楽天ひかりをご確認いただけます',
    noindex: false,
    pathname: filepath,
    browseragent: true
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/internet/internet-top.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/internet/turbo/_prepend-body-internet') %>
  <div class="l-System">
    <%- include('/include/_header') %>

    <%- include('/include/_breadcrumbs', {
      type: 'head',
      pagetitle,
    }) %>



    <section class="<%= namespace %>-Nav">
      <div class="l-System_Container">
        <h1 class="<%= namespace %>-Nav_Head">ホームインターネット</h1>
        <div class="<%= namespace %>-Nav_Service">
          <div class="<%= namespace %>-Nav_Service-item">
            <a href="#turbo" class="<%= namespace %>-Nav_Service-button c-Banner_Hover-act js-scroll" data-ratid="rmt_anchor_01" data-ratevent="click" data-ratparam="all">
              <picture>
                <source media="(max-width: 834px)" srcset="<%= imgDir %>nav-button-turbo-sp.png" width="168" height="54">
                <img src="<%= imgDir %>nav-button-turbo-pc-20230613.png" alt="ホームルーター Rakuten Turbo" width="504" height="94">
              </picture>
            </a>
          </div>
          <div class="<%= namespace %>-Nav_Service-item">
            <a href="#hikari" class="<%= namespace %>-Nav_Service-button c-Banner_Hover-act js-scroll" data-ratid="rmt_anchor_02" data-ratevent="click" data-ratparam="all">
              <picture>
                <source media="(max-width: 834px)" srcset="<%= imgDir %>nav-button-hikari-sp.png" width="168" height="54">
                <img src="<%= imgDir %>nav-button-hikari-pc-20230613.png" alt="光回線 Rakuten光" width="504" height="94">
              </picture>
            </a>
          </div>
        </div>
        <div class="<%= namespace %>-Nav_Diagnose">
          <a href="#diagnose" class="<%= namespace %>-Nav_Diagnose-button c-Banner_Hover-act js-scroll" data-ratid="rmt_anchor_03" data-ratevent="click" data-ratparam="all">
            <picture>
              <source media="(max-width: 834px)" srcset="<%= imgDir %>nav-button-diagnose-sp-20230613.png" width="343" height="56">
              <img src="<%= imgDir %>nav-button-diagnose-pc-20230613.png" alt="Rakuten Turbo、楽天ひかり、どっちがいいの？ 10秒でわかるおうちのインターネット診断" width="540px" height="auto">
            </picture>
          </a>
        </div>

        <p class="<%= namespace %>-Nav_Attention c-Txt_Cap u-Adjust_Mt-24">※表記の金額は特に記載のある場合を除き全て税込です。</p>
      </div>
    </section>

    <section id="turbo" class="<%= namespace %>-Service <%= namespace %>-Service--Turbo">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center" data-ratid="scroll-01_turbo" data-ratevent="appear">ホームルーター</h2>
        <div class="<%= namespace %>-Service_Main">
          <div class="<%= namespace %>-Service_Main-head">
            <picture>
              <source media="(max-width: 834px)" srcset="<%= imgDir %>turbo-head-sp-230613.png">
              <img src="<%= imgDir %>turbo-head-pc-230613.png" alt="工事不要！すぐに使える、おうちのWiFi Rakuten Turbo 工事不要で使える！ コンセントにさすだけ！※1 データ無制限で使える！" width="1032" height="244" loading="lazy">
            </picture>
            <p class="<%= namespace %>-Service_Main-head-attention u-Adjust_Align-center u-Adjust_Mt-8 c-Txt_Cap">※1 Wi-Fiの接続が必要</p>
          </div>

          <div class="u-Adjust_Mt-8 u-Adjust_Align-center u-Adjust_Pr-16 u-Adjust_Pl-16">
            <picture>
              <source media="(max-width: 834px)" srcset="<%= imgDir %>img-turbo-6mf-01-sp.png">
              <img src="<%= imgDir %>img-turbo-6mf-01.png" alt="Rakuten Turboお申し込みの方全員プラン料金がおトク プラン料金6カ月0円さらにスマホとセットで使うと20,000ポイント還元！※プラン料金6カ月0円キャンペーン、20,000ポイント還元キャンペーンにはエントリー不要です。
              ※製品代金 別途41,580円。7カ月目以降4,840円
              ※初月のみ契約事務手数料3,300円あり" width="776" height="336" loading="lazy">
            </picture>
          </div>



          <div class="<%= namespace %>-Service_Main-button">
            <a href="<%= sitepath %>internet/turbo/campaign/six-month-free/?l-id=internet_internet_turbo_campaign_six-month-free_01" class="c-Btn_Primary-large" data-ratid="internet_internet_turbo_campaign_six-month-free_01" data-ratevent="click" data-ratparam="all"><span>Rakuten Turboキャンペーンを見る</span></a>
          </div>
        </div>
      </div>
    </section>

    <section id="hikari" class="<%= namespace %>-Service <%= namespace %>-Service--Hikari">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center" data-ratid="scroll-02_hikari" data-ratevent="appear">光回線</h2>
        <div class="<%= namespace %>-Service_Main">
          <div class="<%= namespace %>-Service_Main-head u-Adjust_Align-center">
            <picture>
              <source media="(max-width: 834px)" srcset="<%= imgDir %>hikari-head-sp-230613.png" width="343" height="152">
              <img src="<%= imgDir %>hikari-head-pc-230613.png" alt="データ使い放題！高速＆安定の光回線 Rakuten光 複数接続でも高速通信！ピークタイムでも安定！動画もゲームもデータは使い放題！" width="1032" height="245" loading="lazy">
            </picture>
          </div>

          <div class="u-Adjust_Mt-8 u-Adjust_Pr-16 u-Adjust_Pl-16">
            <div class="internet-Top-Box_Orange">
              <div class="u-Adjust_Align-center">
                <picture>
                  <source media="(max-width: 834px)" srcset="<%= imgDir %>img-hikari-6mf-01-240222-sp.png">
                  <img src="<%= imgDir %>img-hikari-6mf-01-240222.png" alt="楽天ひかり初めてお申し込み&楽天モバイルご利用で楽天ひかり月額基本料6カ月0円" width="495" height="129" loading="lazy">
                </picture>
              </div>
              <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
                <picture>
                  <source media="(max-width: 834px)" srcset="<%= imgDir %>img-hikari-6mf-02-sp.png">
                  <img src="<%= imgDir %>img-hikari-6mf-02.png" alt="楽天ひかりの月額基本料6カ月0円" width="670" height="115" loading="lazy">
                </picture>
              </div>
              <p class="u-Adjust_Mt-8 c-Txt_Cap internet-Top-Box_Orange-txt">
                ※ 楽天モバイルRakuten最強プラン（データタイプを含む）利用中、または楽天ひかりのお申し込みの翌月15日までの利用開始で、楽天ひかりの開通月から最大6カ月間月額基本料0円<br>
                ※ 初期費用等別。契約期間中（2年ごとに更新）は契約解除料が発生。楽天ひかりお申し込み時の楽天IDと楽天モバイルへ登録されている楽天IDが異なる場合は特典対象外<br>
                ※ その他条件の詳細は<a href="<%= sitepath %>hikari/campaign/six-month-free/" class="c-Link_Txt-white">こちら</a>
              </p>
            </div>
          </div>

          <div class="<%= namespace %>-Service_Main-button">
            <a href="<%= sitepath %>hikari/campaign/six-month-free/?l-id=internet_hikari_campaign_six-month-free_01" class="c-Btn_Primary-large <%= namespace %>_Utility-button-color-hikari" data-ratid="internet_hikari_campaign_six-month-free_01" data-ratevent="click" data-ratparam="all"><span>楽天ひかりキャンペーンを見る</span></a>
          </div>

        </div>
      </div>
    </section>

    <section id="diagnose" class="<%= namespace %>-Diagnose">
      <div class="<%= namespace %>-Diagnose_Wrap">
        <h2 class="<%= namespace %>-Diagnose_Head" data-ratid="scroll-03_simulation" data-ratevent="appear">
          <picture>
            <source media="(max-width: 834px)" srcset="<%= imgDir %>diagnose-head-sp.png" width="375" height="178">
            <img src="<%= imgDir %>diagnose-head-pc.png" alt="Rakuten Turbo、楽天ひかり、どっちがいいの？10秒でわかるおうちのインターネット診断" width="592" height="259" loading="lazy">
          </picture>
          <picture class="<%= namespace %>_Utility-display-sp <%= namespace %>-Diagnose_Head-decoration-sp">
              <img src="<%= imgDir %>diagnose-head-deco-sp.png" alt="" width="85" height="80" loading="lazy">
          </picture>
        </h2>
        <div class="l-System_Container <%= namespace %>-Diagnose_Container">
          <div>
            <div class="<%= namespace %>-Diagnose_Must" id="js-diagnose-must">
              <h3 class="<%= namespace %>-Diagnose_Must-head">おうちのネットを選ぶ時の、こだわりポイントは？</h3>
              <ul class="<%= namespace %>-Diagnose_Must-body" role="tablist">
                <li class="<%= namespace %>-Diagnose_Must-point js-point-radio" id="js-diagnose-turbo-radio" role="tab" aria-selected="false" aria-controls="js-diagnose-turbo" data-ratid="rmt_radio_01" data-ratevent="click" data-ratparam="all">
                  <span class="<%= namespace %>-Diagnose_Must-point-wrap c-Form_Radioblock-wrap">
                    <span class="<%= namespace %>-Diagnose_Must-point-icon c-Form_Radio-icon"></span>
                    <span class="c-Form_Radio-label">工事なしですぐに使いたい</span>
                  </span>
                </li>
                <li class="<%= namespace %>-Diagnose_Must-point js-point-radio" id="js-diagnose-turbo-radio-2" role="tab" aria-selected="false" aria-controls="js-diagnose-turbo" data-ratid="rmt_radio_02" data-ratevent="click" data-ratparam="all">
                  <span class="<%= namespace %>-Diagnose_Must-point-wrap c-Form_Radioblock-wrap">
                    <span class="<%= namespace %>-Diagnose_Must-point-icon c-Form_Radio-icon"></span>
                    <span class="c-Form_Radio-label">転居時の手続きをかんたんにしたい</span>
                  </span>
                </li>
                <li class="<%= namespace %>-Diagnose_Must-point js-point-radio" id="js-diagnose-hikari-radio-1" role="tab" aria-selected="false" aria-controls="js-diagnose-hikari" data-ratid="rmt_radio_03" data-ratevent="click" data-ratparam="all">
                  <span class="<%= namespace %>-Diagnose_Must-point-wrap c-Form_Radioblock-wrap">
                    <span class="<%= namespace %>-Diagnose_Must-point-icon c-Form_Radio-icon"></span>
                    <span class="c-Form_Radio-label">通信が途切れない方がいい</span>
                  </span>
                </li>
                <li class="<%= namespace %>-Diagnose_Must-point js-point-radio" id="js-diagnose-turbo-radio-3" role="tab"　aria-selected="false" aria-controls="js-diagnose-turbo" data-ratid="rmt_radio_04" data-ratevent="click" data-ratparam="all">
                  <span class="<%= namespace %>-Diagnose_Must-point-wrap c-Form_Radioblock-wrap">
                    <span class="<%= namespace %>-Diagnose_Must-point-icon c-Form_Radio-icon"></span>
                    <span class="c-Form_Radio-label">かんたんに使い始めたい</span>
                  </span>
                </li>
                <li class="<%= namespace %>-Diagnose_Must-point js-point-radio" id="js-diagnose-hikari-radio-2" role="tab" aria-selected="false" aria-controls="js-diagnose-hikari" data-ratid="rmt_radio_05" data-ratevent="click" data-ratparam="all">
                  <span class="<%= namespace %>-Diagnose_Must-point-wrap c-Form_Radioblock-wrap">
                    <span class="<%= namespace %>-Diagnose_Must-point-icon c-Form_Radio-icon"></span>
                    <span class="c-Form_Radio-label">通信速度がとにかく速いほうがいい</span>
                  </span>
                </li>
                <li class="<%= namespace %>-Diagnose_Must-point js-point-radio" id="js-diagnose-turbo-radio-4" role="tab" aria-selected="false" aria-controls="js-diagnose-turbo" data-ratid="rmt_radio_06" data-ratevent="click" data-ratparam="all">
                  <span class="<%= namespace %>-Diagnose_Must-point-wrap c-Form_Radioblock-wrap">
                    <span class="<%= namespace %>-Diagnose_Must-point-icon c-Form_Radio-icon"></span>
                    <span class="c-Form_Radio-label">楽天ポイントをおトクにためたい</span>
                  </span>
                </li>
              </ul>
              <div class="<%= namespace %>_Utility-display-pc">
                <div class="<%= namespace %>-Diagnose_Decoration-left-pc">
                  <img src="<%= imgDir %>diagnose-deco-left-pc.png" alt="" width="392" height="338" loading="lazy">
                </div>
                <div class="<%= namespace %>-Diagnose_Decoration-right-pc">
                  <img src="<%= imgDir %>diagnose-deco-right-pc.png" alt="" width="357" height="338" loading="lazy">
                </div>
              </div>
            </div>
            <div class="<%= namespace %>-Diagnose_Arrow">
              <img src="<%= imgDir %>diagnose-arrow.png" alt="" width="94" height="29" loading="lazy">
            </div>
            <div class="<%= namespace %>-Diagnose_Recommend">
              <p class="<%= namespace %>-Diagnose_Recommend-head">あなたへのおすすめは・・・</p>
              <div class="<%= namespace %>-Diagnose_Recommend-body" id="js-diagnose-default">
                <div class="<%= namespace %>-Diagnose_Recommend-body-wrap <%= namespace %>-Diagnose_Recommend-body-wrap--Default">
                  <p>質問の回答を選択すると<br class="<%= namespace %>_Utility-display-sp">診断結果が表示されます</p>
                </div>
                <div class="<%= namespace %>_Utility-display-sp u-Adjust_Mt-24">
                  <div class="<%= namespace %>-Diagnose_Decoration-sp">
                    <div class="<%= namespace %>-Diagnose_Decoration-sp-img">
                      <img src="<%= imgDir %>diagnose-deco-sp.png" alt="" width="768" height="133" loading="lazy">
                    </div>
                  </div>
                </div>
              </div>

              <div class="<%= namespace %>-Diagnose_Recommend-body" aria-hidden="true" id="js-diagnose-turbo">
                <div class="<%= namespace %>-Diagnose_Recommend-body-wrap <%= namespace %>-Diagnose_Recommend-body-wrap--Turbo">
                  <picture>
                    <source media="(max-width: 834px)" srcset="<%= imgDir %>diagnose-turbo-sp.png" width="311" height="177">
                    <img src="<%= imgDir %>diagnose-turbo-pc.png" alt="Rakuten Turbo 工事不要で使える！コンセントにさすだけ！※データ無制限で使える！" width="418" height="216" loading="lazy">
                  </picture>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※Wi-Fiの接続が必要</p>

                  <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                    <picture>
                      <source media="(max-width: 834px)" srcset="<%= imgDir %>img-turbo-6mf-01-sp.png">
                      <img src="<%= imgDir %>img-turbo-6mf-01.png" alt="Rakuten Turboお申し込みの方全員プラン料金がおトク プラン料金6カ月0円さらにスマホとセットで使うと20,000ポイント還元！※プラン料金6カ月0円キャンペーン、20,000ポイント還元キャンペーンにはエントリー不要です。
                      ※製品代金 別途41,580円。7カ月目以降4,840円
                      ※初月のみ契約事務手数料3,300円あり" width="776" height="336" loading="lazy">
                    </picture>
                  </div>

                  <div class="<%= namespace %>-Diagnose_Recommend-button">
                    <a href="<%= sitepath %>internet/turbo/campaign/six-month-free/?l-id=internet_internet_turbo_campaign_six-month-free_02" class="c-Btn_Primary-large" data-ratid="internet_internet_turbo_campaign_six-month-free_02" data-ratevent="click" data-ratparam="all"><span>Rakuten Turboキャンペーンを見る</span></a>
                  </div>
                </div>
              </div>

              <div class="<%= namespace %>-Diagnose_Recommend-body" aria-hidden="true" id="js-diagnose-hikari">
                <div class="<%= namespace %>-Diagnose_Recommend-body-wrap <%= namespace %>-Diagnose_Recommend-body-wrap--Hikari">
                  <picture>
                    <source media="(max-width: 834px)" srcset="<%= imgDir %>diagnose-hikari-sp.png" width="311" height="177">
                    <img src="<%= imgDir %>diagnose-hikari-pc.png" alt="Rakuten光 複数接続でも高速通信！ピークタイムでも安定！動画もゲームもデータは使い放題！" width="418" height="216" loading="lazy">
                  </picture>

                  <section class="u-Adjust_Mt-40">

                      <div class="internet-Top-Box_Orange">
                        <div class="u-Adjust_Align-center">
                          <picture>
                            <source media="(max-width: 834px)" srcset="<%= imgDir %>img-hikari-6mf-01-240222-sp.png">
                            <img src="<%= imgDir %>img-hikari-6mf-01-240222.png" alt="楽天ひかり初めてお申し込み&楽天モバイルご利用で楽天ひかり月額基本料6カ月0円" width="581" height="152" loading="lazy">
                          </picture>
                        </div>
                        <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
                          <picture>
                            <source media="(max-width: 834px)" srcset="<%= imgDir %>img-hikari-6mf-02-sp.png">
                            <img src="<%= imgDir %>img-hikari-6mf-02.png" alt="楽天ひかりの月額基本料6カ月0円" width="670" height="115" loading="lazy">
                          </picture>
                        </div>
                        <p class="u-Adjust_Mt-8 c-Txt_Cap internet-Top-Box_Orange-txt u-Adjust_Align-left">
                          ※ 楽天モバイルRakuten最強プラン（データタイプを含む）利用中、または楽天ひかりのお申し込みの翌月15日までの利用開始で、楽天ひかりの開通月から最大6カ月間月額基本料0円<br>
                          ※ 初期費用等別。契約期間中（2年ごとに更新）は契約解除料が発生。楽天ひかりお申し込み時の楽天IDと楽天モバイルへ登録されている楽天IDが異なる場合は特典対象外<br>
                          ※ その他条件の詳細は<a href="<%= sitepath %>hikari/campaign/six-month-free/" class="c-Link_Txt-white">こちら</a>
                        </p>
                      </div>

                    <div class="<%= namespace %>-Diagnose_Recommend-button">
                      <a href="<%= sitepath %>hikari/campaign/six-month-free/?l-id=internet_hikari_campaign_six-month-free_02" class="c-Btn_Primary-large <%= namespace %>_Utility-button-color-hikari" data-ratid="internet_hikari_campaign_six-month-free_02" data-ratevent="click" data-ratparam="all"><span>楽天ひかりキャンペーンを見る</span></a>
                    </div>
                  </section>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="g-Footer">
      <div class="l-System_Container">
        <%- include('/include/_breadcrumbs', {
          type: 'foot',
          pagetitle,
        }) %>
      </div>

      <div class="u-Rat_Appear-height" data-ratid="scroll-00" data-ratevent="appear"></div>

      <!-- Responsive footer banner -->
      <div id="mkdiv_footer_pitari"></div>

      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>

  <script>
    const inputElms = document.querySelectorAll(".js-point-radio")
    const diagnoseDefaultElm = document.getElementById('js-diagnose-default');
    const diagnoseTurboElm = document.getElementById('js-diagnose-turbo');
    const diagnoseHikariElm = document.getElementById('js-diagnose-hikari');
    const diagnoseMustElm = document.getElementById('js-diagnose-must');
    let prev = "";//前回クリックした要素を格納する

    inputElms.forEach(elm => {
      elm.addEventListener('click', () => {
        if(prev !== ""){
          prev.setAttribute("aria-selected", false);
        }

        elm.setAttribute("aria-selected", true);
        prev = elm;
        diagnoseDefaultElm.setAttribute("aria-hidden", true);
        const elmId = elm.getAttribute("id");

        if(elmId.indexOf("js-diagnose-turbo-radio") !== -1){
          diagnoseTurboElm.setAttribute('aria-labelledby', elmId);
          diagnoseTurboElm.setAttribute('aria-hidden', false);
          diagnoseHikariElm.setAttribute('aria-hidden', true);
        }
        else if(elmId.indexOf("js-diagnose-hikari-radio") !== -1){
          diagnoseHikariElm.setAttribute('aria-labelledby', elmId);
          diagnoseHikariElm.setAttribute('aria-hidden', false);
          diagnoseTurboElm.setAttribute('aria-hidden', true);
        }

        const scrollY = window.pageYOffset + diagnoseMustElm.getBoundingClientRect().bottom;
        scrollTo({ top: scrollY, left: 0, behavior: 'smooth' });
      });

    })
  </script>
</body>
</html>
