<% const pagetitle = "Rakuten Turbo 5G 管理用画面の利用方法" -%>
<% const directories = [{path:"internet/turbo/support/", label:"お客様サポート"}, {path:"internet/turbo/support/setting/", label:"操作・設定・不具合"}] -%>
<% const namespace = "support-smallcategory" -%>
<%
  const pageInfo = {
    namespace,
    isUserCategory: true
  };
%>
<%-
 include('/_header', {
    pagetitle,
    directories,
    description: '楽天モバイルのホームルーターRakuten Turbo 5Gの管理用画面の利用方法をご確認いただけます',
    noindex: false,
    pathname: filepath,
    isTurbo: true
  });
%>

<%- include('/include/_common-css-v2') %>
<%- include('/include/internet/turbo/support/_smallcategory-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/internet/turbo/support/setting/howtouse/howtouse.css?20240424">

<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/internet/turbo/_prepend-body-internet') %>
  <div class="l-System">
    <%- include('/include/internet/turbo/_header', {
      pagetitle,
      directories,
      tax: false,
    }) %>

    <div class="l-System_Container">
      <section class="u-Adjust_Mt-32">
        <h1 class="c-Heading_Lv1 <%= namespace %>-Utility_Heading_Lv1"><%= pagetitle %></h1>
        <p class="u-Adjust_Mt-24">管理用画面では、本製品の各種設定が行えます。</p>
      </section>

      <section class="u-Adjust_Mt-40">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">管理用画面のログイン方法</h2>
        <p class="u-Adjust_Mt-16">Rakuten Turboに接続したパソコンやスマートフォンのWebブラウザからアクセスし、ログインしてください。</p>

        <div class="_sample u-Adjust_Mt-24">
          <dl class="c-Dl_Origin">
              <div>
                  <dt>管理用画面のURL</dt>
                  <dd>
                    <a href="http://192.168.210.1">http://192.168.210.1</a>
                  </dd>
              </div>
              <div>
                  <dt>ユーザー名</dt>
                  <dd>
                    admin　※変更不可
                  </dd>
              </div>
              <div>
                <dt>管理用パスワード</dt>
                <dd>
                  <p>本製品底面のラベルに記載の「管理用パスワード」をご確認ください。</p>
                  <p class="u-Adjust_Mt-16 setting-Howtouse_Left-center">
                  <img src="<%= sitepath %>assets/img/internet/turbo/support/setting/howtouse/img-01.png" alt="" width="300" height="552">
                </p>
                </dd>
            </div>
          </dl>
      </div>
      </section>

      <section class="u-Adjust_Mt-56">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">管理用画面の主なメニュー</h2>
        <p class="u-Adjust_Mt-16">ログイン後の管理用画面と主なメニューについてご案内します。</p>

        <p class="u-Adjust_Mt-24 u-Adjust_Pb-24 setting-Howtouse_Left-center">
          <img src="<%= sitepath %>assets/img/internet/turbo/support/setting/howtouse/img-02.png" alt="" width="500" height="649">
        </p>


        <div class="_sample">
          <dl class="c-Dl">
            <div>
              <dd style="width: 100%;">
                <p class="c-Txt_Emp-01">①表示言語の切り替え</p>
                <p class="u-Adjust_Mt-16">表示言語を切り替えます。</p>
              </dd>
            </div>
            <div>
              <dd style="width: 100%;">
                <p class="c-Txt_Emp-01">②ログアウト</p>
                <p class="u-Adjust_Mt-16">管理用画面を終了しログアウトします。</p>
              </dd>
            </div>
            <div>
              <dd style="width: 100%;">
                <p class="c-Txt_Emp-01">③設定メニュー</p>
                <p class="u-Adjust_Mt-16">主なメニューは以下の通りです。</p>
                <div class="_sample u-Adjust_Mt-16">
                  <dl class="c-Dl_Origin">
                    <div>
                      <dt>ホーム</dt>
                      <dd>
                        ホーム画面には、各機能のメニューや本製品の動作状況が表示されます
                      </dd>
                    </div>
                    <div>
                      <dt>基本設定</dt>
                      <dd>
                        本製品のLANの設定ができます。本製品に接続する端末に割り当てられるI Pアドレスの設定ができます
                      </dd>
                    </div>
                    <div>
                      <dt>Wi-Fi</dt>
                      <dd>
                        以下の項目から本製品のWi-Fiの設定ができます
                        <ul class="c-List_Text-disc u-Adjust_Mt-16">
                          <li>［基本設定］：Wi-Fiの基本設定ができます</li>
                          <li>［無線設定］：Wi-Fi周波数の無線パラメーターを変更ができます</li>
                          <li>［WPS］：機器をWi-Fiに接続する際、パスワードの入力が不要になります</li>
                          <li>［MACフィルター］：MACフィルターの設定ができます</li>
                          <li>［接続中端末］：接続中の端末の状態を表示します</li>
                        </ul>
                      </dd>
                    </div>
                    <div>
                      <dt>詳細設定</dt>
                      <dd>
                        以下の項目から本製品のファイアウォールやアクセス管理などの設定ができます
                        <ul class="c-List_Text-disc u-Adjust_Mt-16">
                          <li>［ファイアウォール］：ネットワークを保護するファイアウォールの設定ができます</li>
                          <li>［アクセスサイト管理］：アクセスサイトの登録やブロックを管理します</li>
                          <li>［サービス管理］：サービスのブロックを管理します</li>
                          <li>［端末管理］：本製品に接続する端末を管理します</li>
                          <li>［UPnP］：メディア共有、印刷サービスなどの機能を設定できます</li>
                          <li>［システム時刻］：タイムゾーンやタイムサーバーを設定できます</li>
                          <li>［PIN管理］：SIMカードのPINステータスが表示されます</li>
                          <li>［LTE ／ 5G詳細設定］：通信に関する設定ができます</li>
                        </ul>
                      </dd>
                    </div>
                    <div>
                      <dt>メンテナンス設定</dt>
                      <dd>
                        以下の項目からファームウェアのアップデートや管理用画面のパスワードの変更などができます
                        <ul class="c-List_Text-disc u-Adjust_Mt-16">
                          <li>［システム情報］：システムのステータスの概要が表示されます</li>
                          <li>［ファームウェアアップデート］：バージョンや更新の設定ができます</li>
                          <li>［リセット］：出荷時（デフォルト）の状態に戻します</li>
                          <li>［ログイン設定］：ログインに関する設定ができます</li>
                        </ul>
                      </dd>
                    </div>
                  </dl>
                </div>
              </dd>
            </div>
            <div>
              <dd style="width: 100%;">
                <p class="c-Txt_Emp-01">④ステータス情報</p>
                <p class="u-Adjust_Mt-16">本製品の4G LTE ／ 5G電波の受信状況を表示します。</p>
              </dd>
            </div>
            <div>
              <dd style="width: 100%;">
                <p class="c-Txt_Emp-01">⑤Wi-Fi</p>
                <p class="u-Adjust_Mt-16">本製品とWi-Fiで接続中の端末を表示します。</p>
              </dd>
            </div>
            <div>
              <dd style="width: 100%;">
                <p class="c-Txt_Emp-01">⑥イーサネット</p>
                <p class="u-Adjust_Mt-16">本製品とLANケーブルで有線接続している端末を表示します。</p>
              </dd>
            </div>
            <div>
              <dd style="width: 100%;">
                <p class="c-Txt_Emp-01">⑦システム情報</p>
                <p class="u-Adjust_Mt-16">本製品のシリアル番号やファームウェアバージョンなどの情報を表示します。</p>
              </dd>
            </div>
          </dl>
          <p class="c-Txt_Cap u-Adjust_Mt-24">※さらに詳しい内容については、<a href="<%= sitepath %>assets/pdf/internet/turbo/Rakuten-Turbo-5G-manual.pdf?231102" target="_blank">取扱説明書（21-54ページ）</a>をご確認ください。
          </p>
        </div>
      </section>


    </div>

    <section class="u-Adjust_Pt-80">
      <div class="<%= namespace %>-Layout_Category">
        <div class="l-System_Container">
          <%- include('/include/internet/turbo/support/_smallcategory-category', { pageInfo }) %>
        </div>
      </div>
    </section>

    <!-- <div class="l-System_Container">
      <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">お問い合わせ</h2>
      <p class="u-Adjust_Align-center u-Adjust_Mt-16">製品に関するお問い合わせ、および故障紛失など、コミュニケーションセンターのアドバイザーがしっかりとサポートいたします。</p>

      <a href="#" class="c-Btn_Regular"><span>お問い合わせ窓口を確認する</span></a>
    </div> -->
    <div class="u-Adjust_Mt-24">
      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>

      <%- include('/include/internet/turbo/_footer', { directories, pagetitle }) %>
    </div>
  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
  <%- include('/include/internet/turbo/_rex-survey') %>

</body>

</html>
