<% const pagetitle = "キャラバンカーがやってくる「楽天モバイル　期間限定ショップ」運営しております" -%>
<% const directories = [{path:"shop/", label:"ショップ"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '車両型移動店舗「楽天モバイル キャラバンカー」運営しております！お近くにお越しになられた際には、ぜひお立ち寄りください。',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ショップ" -%>
<% const namespace = "caravan-car" -%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/shop/caravan-car/caravan-car.css?20240424">
<%- include('/include/shop/_category-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/shop/guide/guide.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <li><a href="<%= sitepath %>shop/">ショップ（店舗）</a><span class="c-Icon_Chevron-right"></span></li>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= namespace %>-Hero_Return">
  <div class="<%= namespace %>-Hero_Container">
    <div class="<%= namespace %>-Hero_Main">
      <h1>
        <img src="<%= sitepath %>assets/img/shop/caravan-car/img-heading-pc.png?211122" alt="" class="<%= namespace %>-Utility_Img-pc">
        <img src="<%= sitepath %>assets/img/shop/caravan-car/img-heading-sp.png?211122" alt="" class="<%= namespace %>-Utility_Img-sp">
      </h1>
    </div>
  </div>
</div>

<div class="l-System_Container">
  <h1 class="c-Heading_Lv3 u-Adjust_Mt-32">車両型移動店舗「楽天モバイル　キャラバンカー」を運営しております！</h1>
  <p class="u-Adjust_Mt-8">
    楽天モバイルキャラバンカーは楽天モバイルショップがない地域等へ出張し、<span class="c-Txt_Emp-02">お客様の新規・機種変更のお申し込みや携帯電話料金のご相談にお応えいたします。</span><br>
    同時に<span class="c-Txt_Emp-02">スマホ相談会も開催しています。</span>ご参加いただいたお客様には特製ノベルティ※をプレゼント！
  </p>
  <p class="u-Adjust_Mt-16">
    開催場所の近くにお越しになられた際には、ぜひお立ち寄りください。
  </p>
  <p class="c-Txt_Cap u-Adjust_Mt-8">※一部対象外の場所もございます。無くなり次第終了とさせていただきます。</p>

  <div class="c-Accordion u-Adjust_Mt-16">
    <button id="accordion-0" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-0"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ご来店に関するお願い</button>
    <div id="accordion-content-0" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-0" aria-hidden="true" style="display: none;">
      <p>新型コロナウイルス感染拡大防止のため、ご来店の際は以下のご協力をお願い申し上げます。</p>
      <ul class="c-List_Text-disc u-Adjust_Mt-16">
        <li>マスクのご着用</li>
        <li>非接触型の体温計による検温（店頭配備）</li>
        <li>アルコール消毒（店頭配備）</li>
      </ul>
      <p class="u-Adjust_Mt-8 c-Txt_Cap">※発熱・咳などの風邪の症状がある場合、体調がすぐれない、海外から帰国し2週間以内のお客様につきましては、ご来店をご遠慮いただき、Web手続きをご利用ください。<br>全てのお客様の安心と安全の確保のため、ご協力お願い申し上げます。</p>
    </div>
  </div>

  <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">キャラバンカーでできること</h2>
  <ul class="c-List_Text-disc u-Adjust_Mt-16">
    <li>料金プラン、スマートフォンに関するご相談</li>
    <li>各種お申し込み（新規契約･オプションサービス･その他楽天グループサービス）</li>
    <li>機種変更・SIMの交換</li>
  </ul>

  <h2 class="c-Heading_Lv2 u-Adjust_Mt-64 u-Adjust_Mb-16">開催スケジュール</h2>
  <p class="u-Adjust_Mt-8">今月の予定はございません。</p>

  <!--アコーディオン-->
  <!--
  <div class="c-Accordion">
    <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>栃木県　<br class="<%= namespace %>-Utility_Img-sp">2023年1月6日（金）～1月9日（月）<br class="<%= namespace %>-Utility_Img-sp">イオン栃木店</button>
    <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true" style="display: none;">
      <dl class="c-Dl_Origin">
        <div>
          <dt>開催場所</dt>
          <dd>
            イオン栃木店　1F ABCマート前<br>
            アクセス方法は<a href="https://www.aeon.com/store/%E3%82%A4%E3%82%AA%E3%83%B3/%E3%82%A4%E3%82%AA%E3%83%B3%E6%A0%83%E6%9C%A8%E5%BA%97/" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">イオン栃木店<span class="c-Icon_New-window-l"></span></a>をご確認ください。
          </dd>
        </div>
        <div>
          <dt>日程</dt>
          <dd>2023年1月6日（金）～1月9日（月）</dd>
        </div>
        <div>
          <dt>開催時間</dt>
          <dd>
            <p>10時～18時</p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap">※混雑状況によって開催時間に変動の可能性がございます。</p>
          </dd>
        </div>
        <div>
          <dt>特典</dt>
          <dd>
            <p>スマホ相談会へご参加頂いたお客様へもれなく日用品をプレゼント！</p>
          </dd>
        </div>
      </dl>
      <p class="u-Adjust_Mt-24">
        本イベントはイオン栃木店が主催のものではございませんので、店舗へのお問い合わせはお控えください。
      </p>
      <p class="u-Adjust_Mt-16">
        台風・雨天等の影響により開催が不可能と判断した場合は、イベントの内容を変更または中止させていただく可能性がございます。
      </p>
      <p class="u-Adjust_Mt-16">
        <span class="c-Txt_Emp-02">キャラバンカーイベントでは、iPhoneシリーズ、スマートフォン用アクセサリー類の取り扱いはございません。予めご了承ください。</span>
      </p>
      <p class="u-Adjust_Mt-16">
        楽天モバイルカスタマーセンターへのお問い合わせは、<a href="<%= sitepath %>support/">楽天モバイルお問い合わせページ</a>までお願いいたします。
      </p>
    </div>
  </div>
  <div class="c-Accordion">
    <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false"
      aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>埼玉県　<br
        class="<%= namespace %>-Utility_Img-sp">2023年1月13日（金）～1月16日（月）<br
        class="<%= namespace %>-Utility_Img-sp">イオンモール与野</button>
    <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2"
      aria-hidden="true" style="display: none;">
      <dl class="c-Dl_Origin">
        <div>
          <dt>開催場所</dt>
          <dd>
            イオンモール与野　2階アスビー前<br>
            アクセス方法は<a href="https://www.aeon.jp/sc/yono/" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">イオンモール与野<span class="c-Icon_New-window-l"></span></a>をご確認ください。
          </dd>
        </div>
        <div>
          <dt>日程</dt>
          <dd>2023年1月13日（金）～1月16日（月）</dd>
        </div>
        <div>
          <dt>開催時間</dt>
          <dd>
            <p>10時～18時</p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap">※混雑状況によって開催時間に変動の可能性がございます。</p>
          </dd>
        </div>
        <div>
          <dt>特典</dt>
          <dd>
            <p>スマホ相談会へご参加頂いたお客様へもれなく日用品をプレゼント！</p>
          </dd>
        </div>
      </dl>
      <p class="u-Adjust_Mt-24">
        本イベントはイオンモール与野が主催のものではございませんので、店舗へのお問い合わせはお控えください。
      </p>
      <p class="u-Adjust_Mt-16">
        台風・雨天等の影響により開催が不可能と判断した場合は、イベントの内容を変更または中止させていただく可能性がございます。
      </p>
      <p class="u-Adjust_Mt-16">
        <span class="c-Txt_Emp-02">キャラバンカーイベントでは、iPhoneシリーズ、スマートフォン用アクセサリー類の取り扱いはございません。予めご了承ください。</span>
      </p>
      <p class="u-Adjust_Mt-16">
        楽天モバイルカスタマーセンターへのお問い合わせは、<a href="<%= sitepath %>support/">楽天モバイルお問い合わせページ</a>までお願いいたします。
      </p>
    </div>
  </div>
  -->
  <!--/アコーディオン-->


  <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">来店予約</h2>
  <p class="u-Adjust_Mt-8">下記の電話番号よりご予約ください。</p>
  <p class="u-Adjust_Mt-24 c-Txt_Normal-ll c-Txt_Emp-01" style="font-family: 'Rakuten Sans',sans-serif;">050-5434-8540</p>
  <p class="u-Adjust_Mt-8">予約受付時間：10:00～20:00</p>
  <ul class="c-Txt_Cap u-Adjust_Mt-16">
    <li class="c-Txt_Emp-02"><span>※</span>上記は店舗の電話番号ではございません。</li>
    <li><span>※</span>上記専用窓口では来店予約以外の対応は行っておりません。</li>
    <li><span>※</span>ご予約の際にはキャラバンイベントWebページを見たとオペレーターにお伝えいただけますと、案内がスムーズになります。</li>
  </ul>

  <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">お申し込みに必要なもの</h2>
  <p class="u-Adjust_Mt-24">ご契約のため、以下をご準備ください。</p>

  <p class="u-Adjust_Mt-16"><a href="#shopGuide02" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>本人確認書類 </a></p>
  <p class="u-Adjust_Mt-16"><a href="#shopGuide03" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>楽天会員ユーザID、パスワード</a></p>
  <p class="u-Adjust_Mt-16"><a href="#shopGuide04" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>クレジットカード、銀行口座情報</a></p>

  <section class="shop-Layout_Section-guide u-Adjust_Mt-24" id="shopGuide02">
    <h3 class="c-Heading_Lv3">本人確認書類 </h3>
    <div class="l-Media_Grid">
      <div class="l-Media_Image">
        <p class="u-Adjust_Pt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/shop/guide/main-image-02.png?210707" alt=""></p>
      </div>
      <div>
        <p class="u-Adjust_Mt-24">必ず原本をお持ちください。コピーでは受け付けできません。</p>
        <p class="u-Adjust_Mt-24 guide-Btn"><a href="<%= sitepath %>guide/verify/" class="c-Btn_Regular"><span>本人確認書類の詳細を見る</span></a></p>
      </div>
    </div>
  </section>
  <section class="shop-Layout_Section-guide" id="shopGuide03">
    <h3 class="c-Heading_Lv3">楽天会員ログイン用のユーザID、パスワード</h3>
    <div class="l-Media_Grid">
      <div class="l-Media_Image">
        <p class="u-Adjust_Pt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/shop/guide/main-image-03.png?210707" alt=""></p>
      </div>
      <div>
        <p class="u-Adjust_Mt-24">店頭でのお申し込み時に使用します。</p>
        <p class="u-Adjust_Mt-8">
          <span class="c-Txt_Emp-02">本人確認書類の情報と楽天会員情報が一致している必要があります。</span>ご来店前にご確認・修正をお願いします。
        </p>
        <p class="u-Adjust_Mt-24 guide-Btn"><a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Btn_Regular" target="_blank"><span>楽天会員情報を確認・修正する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></p>
      </div>
    </div>
  </section>
  <section class="shop-Layout_Section-guide" id="shopGuide04">
    <h3 class="c-Heading_Lv3">クレジットカード、銀行口座など</h3>
    <div class="l-Media_Grid">
      <div class="l-Media_Image">
        <p class="u-Adjust_Pt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/shop/guide/main-image-04.png?210707" alt=""></p>
      </div>
      <div>
        <p class="u-Adjust_Mt-24">お支払い手続きに必要なものをご持参ください。</p>
        <ul class="c-Txt_Cap u-Adjust_Mt-16">
          <li><span>※</span><span class="c-Txt_Emp-02">一部の家電量販店に併設されている楽天モバイルコーナーでは、製品ご購入時に分割手数料無料の楽天カード24回、48回払い（楽天モバイル買い替え超トクプログラムを含む）をご利用いただけません。</span><br>
          ご利用可能なお支払い方法、楽天ポイントのご利用については、各店頭でご確認ください。</li>
        </ul>
        <p class="u-Adjust_Mt-24 guide-Btn"><a href="<%= sitepath %>guide/payment/" class="c-Btn_Regular"><span>お支払い方法の詳細を見る</span></a></p>
      </div>
    </div>
  </section>
  <p class="c-Txt_Cap u-Adjust_Mt-16">
    ※MNPワンストップ未対応の携帯電話会社から乗り換えの方は、MNP予約番号の取得が必要です。<br>
    MNPワンストップ対象の携帯電話会社は<a href="<%= sitepath %>guide/mnp/#carrier" class="c-Link_Txt">こちら</a>からご確認ください。<br>
    ※ショップでのお手続きは、ワンストップ対象の他社からの転入であっても、MNP予約番号を取得のうえ、ご来店ください。
  </p>

  <h2 class="c-Heading_Lv2 u-Adjust_Mt-56">その他ご確認事項</h2>

  <ul class="c-List_Text-disc u-Adjust_Mt-24">
    <li>楽天回線対応製品をご購入・ご準備ください。</li>
  </ul>
  <p class="u-Adjust_Mt-24 guide-Btn">
    <a href="<%= sitepath %>product/" class="c-Btn_Regular"><span>楽天回線対応製品を見る</span></a>
  </p>
  <p class="u-Adjust_Mt-24 guide-Btn">
    <a href="<%= sitepath %>product/byod/" class="c-Btn_Regular"><span>お持ちのスマホが使えるか確認する</span></a>
  </p>

  <ul class="c-List_Text-disc u-Adjust_Mt-24">
    <li>18歳未満のお客様の場合は、保護者（親権者）の同意書、および親権者情報の登録に加えて、「<a href="<%= sitepath %>service/i-filter/" class="c-Link_Txt">あんしんコントロール by i-フィルター</a>」のご契約が必須となります（330円／月）。</li>
  </ul>
  <p class="u-Adjust_Mt-24 guide-Btn"><a href="<%= sitepath %>flow/for-minors/" class="c-Btn_Regular"><span>未成年のお客様向けご利用の流れ</span></a></p>

</div>
<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-shop-v2.ejs') %>

    <%#- include('/include/footer/bnr/bnr-shop.ejs') %>

    <%#- include('/faq/include/related-shop.ejs') %>

  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <li><a href="<%= sitepath %>shop/">ショップ（店舗）</a><span class="c-Icon_Chevron-right"></span></li>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>


</div>
<%- include('/include/_common-js') %>
<%- include('/include/shop/_category-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
