<% const namespace = "hikari-ad-video" -%>

<%_ if (typeof text !== 'undefined' && text === false) { _%>
  <div class="l-System_Container u-Adjust_Mt-40">
    <div class="u-Adjust_Align-center">
      <a href="https://secure3.gol.com/mod-pl/rbb/rmch.cgi?scode=qngTI9rXJpRlc1l6roM&cpnkind=mnocampaign" class="c-Btn_Primary-large <%= namespace %>-Cta_Btn" data-lid_no="<%= lid %>"><span>楽天ひかりに申し込む</span></a>
    </div>
  </div>
<%_ } else { _%>
<div class="<%= namespace %>-Cta">
  <div class="l-System_Container">
    <p>
      <picture>
        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/hikari/ad/video/txt-cta-sp.png?yymmdd">
        <source srcset="<%= sitepath %>assets/img/hikari/ad/video/txt-cta-pc.png?yymmdd">
        <img src="<%= sitepath %>assets/img/hikari/ad/video/txt-cta-pc.png?yymmdd" width="797" alt="ひかりとスマホ両方お申し込みでひかりが1年無料">
      </picture>
    </p>
    <div>
      <a href="https://secure3.gol.com/mod-pl/rbb/rmch.cgi?scode=qngTI9rXJpRlc1l6roM&cpnkind=mnocampaign" class="c-Btn_Primary-large <%= namespace %>-Cta_Btn" data-lid_no="<%= lid %>"><span>楽天ひかりに申し込む</span></a>
    </div>
  </div>
</div>
<%_ } _%>
