<% const pagetitle = "Rakuten Casa 接続方法" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/product/casa/", label:"Rakuten Casa"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '「Rakuten Casa」をご自宅のインターネット回線に接続する方法をご案内いたします。',
    noindex: false,
    pathname: filepath
  });
%>
<% const namespace = "rakuten-casa" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/rakuten-casa/rakuten-casa.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= namespace %>-Layout_Container u-Adjust_Pt-32">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
    <p class="u-Adjust_Mt-24">
      Rakuten Casaをご利用中のインターネット回線に接続する方法と、接続時のトラブルシューティングをご案内いたします。
    </p>
    <div class="c-Tab js-Tab u-Adjust_Mt-24">
      <ul class="c-Tab_Items" role="tablist">
          <li class="c-Tab_Item" id="tab-menu" role="tab" aria-selected="true" aria-controls="tab-content1">Rakuten Casa（初代）</li>
          <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">Rakuten Casa 6</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu">
        <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-24">
          <li><a href="#connection" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>接続方法</a></li>
          <li><a href="#wi-fi" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>Wi-Fiの接続方法</a></li>
          <li><a href="#indicator" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>インジケーター</a></li>
          <li><a href="#startguide" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>スタートガイド</a></li>
        </ul>

        <h2 id="connection" class="c-Heading_Lv2 u-Adjust_Mt-48">接続方法</h2>
        <ol class="c-Flow <%= namespace %>-Flow <%= namespace %>-Flow_Regular u-Adjust_Mt-24">
            <li id="step1">
                <h3 class="c-Heading_Lv3">1. 設置場所を決める</h3>
                <p class="u-Adjust_Mt-16">Rakuten Casaは、屋内の湿気が少ない環境で、正面に遮蔽物のない硬く平らな場所に設置してください。</p>
                <p class="u-Adjust_Mt-8">また、電波を放出する機器（電子レンジ、コードレス電話機、無線LANルーター等）の近くに設置しないでください。</p>
                <div class="c-Theme-Light u-Adjust_Align-center u-Adjust_Mt-24 <%= namespace %>-Utility_Block" style="max-width: 656px;">
                  <h4 class="c-Heading_Lv4 u-Adjust_Align-left <%= namespace %>-Heading_Icon">
                    <span class="c-Attention_Icon c-Icon_Sign-warning-l" aria-hidden="true"></span>
                    <span>以下のような場所には設置しないでください</span>
                  </h4>
                  <ul class="<%= namespace %>-List u-Adjust_Mt-24">
                    <li>
                      <figure>
                        <figcaption class="c-Txt_Normal-s">湿気が多い場所</figcaption>
                        <img src="<%= sitepath %>assets/img/guide/rakuten-casa/connection/icon-01.png" alt="" width="80" height="80">
                      </figure>
                    </li>
                    <li>
                      <figure>
                        <figcaption class="c-Txt_Normal-s">正面に遮蔽物がある場所</figcaption>
                        <img src="<%= sitepath %>assets/img/guide/rakuten-casa/connection/icon-02.png" alt="" width="80" height="80">
                      </figure>
                    </li>
                    <li>
                      <figure>
                        <figcaption class="c-Txt_Normal-s">柔らかく平らでない場所</figcaption>
                        <img src="<%= sitepath %>assets/img/guide/rakuten-casa/connection/icon-03.png" alt="" width="80" height="80">
                      </figure>
                    </li>
                    <li class="<%= namespace %>-List_Full">
                      <dl>
                        <dt>電波を放出する機器の近く</dt>
                        <dd class="<%= namespace %>-Utility_Mt-16-8">
                          <ul class="<%= namespace %>-List-reverse">
                            <li class="<%= namespace %>-Utility_No-padding">
                              <figure>
                                <img src="<%= sitepath %>assets/img/guide/rakuten-casa/connection/icon-04.png" alt="" width="80" height="80">
                                <figcaption class="c-Txt_Normal-s">電子レンジ</figcaption>
                              </figure>
                            </li>
                            <li class="<%= namespace %>-Utility_No-padding">
                              <figure>
                                <img src="<%= sitepath %>assets/img/guide/rakuten-casa/connection/icon-05.png" alt="" width="80" height="80">
                                <figcaption class="c-Txt_Normal-s">コードレス電話機</figcaption>
                              </figure>
                            </li>
                            <li class="<%= namespace %>-Utility_No-padding">
                              <figure>
                                <img src="<%= sitepath %>assets/img/guide/rakuten-casa/connection/icon-06.png" alt="" width="80" height="80">
                                <figcaption class="c-Txt_Normal-s">無線LANルーター</figcaption>
                              </figure>
                            </li>
                          </ul>
                        </dd>
                      </dl>
                    </li>
                  </ul>
                </div>
            </li>
            <li id="step2">
                <h3 class="c-Heading_Lv3">2. 本体にLANケーブルを接続する</h3>
                <p class="u-Adjust_Mt-16">本体の黄色いWANポートとルーターを、付属のケーブルで接続します。</p>
                <div class="l-Media_Grid u-Adjust_Mt-16">
                    <div class="l-Media_Image c-Flow_Image">
                        <img src="<%= sitepath %>assets/img/guide/rakuten-casa/connection/img-02.png" alt="">
                    </div>
                    <div>
                        <ul class="c-List_Text-disc u-Adjust_Mt-16">
                          <li>インターネット回線（有線）がONUを介してルーターにつながっている場合</li>
                        </ul>
                    </div>
                </div>
                <div class="l-Media_Grid u-Adjust_Mt-16">
                    <div class="l-Media_Image c-Flow_Image">
                      <img src="<%= sitepath %>assets/img/guide/rakuten-casa/connection/img-03.png" alt="">
                    </div>
                    <div>
                      <ul class="c-List_Text-disc u-Adjust_Mt-16">
                        <li>インターネット回線（有線）が直接ルーターにつながっている場合</li>
                      </ul>
                    </div>
                </div>
                <div class="u-Adjust_Mt-40 c-Theme-Light">
                  <h4 class="c-Heading_Lv4 <%= namespace %>-Utility_W-100">ONUとは？</h4>
                  <p class="u-Adjust_Mt-8">
                    宅内の光コンセントから光ケーブル（光コード）で接続する、光回線の終端装置のこと。<br>
                    複数の機器で同時にインターネットに接続できるようにするには、ONUにルーターを接続する必要があります。
                  </p>
                </div>
            </li>
            <li id="step3">
                <h3 class="c-Heading_Lv3">3. 本体の電源を入れる</h3>
                <div class="l-Media_Grid u-Adjust_Mt-16">
                    <div class="l-Media_Image c-Flow_Image">
                        <img src="<%= sitepath %>assets/img/guide/rakuten-casa/connection/img-04.png" alt="">
                    </div>
                    <div>
                        <p>本体と電源アダプターを接続し、コンセントに接続してください。</p>
                    </div>
                </div>
            </li>
            <li id="step4">
                <h3 class="c-Heading_Lv3">4. インジケーターを確認する</h3>
                <div class="l-Media_Grid u-Adjust_Mt-16">
                    <div class="l-Media_Image c-Flow_Image">
                        <img src="<%= sitepath %>assets/img/guide/rakuten-casa/connection/img-05.png" alt="">
                    </div>
                    <div>
                        <p>
                          <span class="c-Txt_Emp-02">5～15分後</span>、本体前面のインジケーターが図のように変わったらご利用可能です。<br>
                          お手持ちの楽天回線対応製品で楽天回線に接続できるかご確認ください。
                        </p>
                        <p class="u-Adjust_Mt-24 c-Infobox_Standing-warning">
                          通常5～15分後、最大48時間程度お待ちいただき、それ以降うまく接続されない場合、LEDランプからRakuten Casaの接続状態や稼働状態が確認できますので、<a href="#indicator" class="c-Link_Txt">インジケーターの状態一覧</a>と照らし合わせてご確認ください。（待機時間はお客様のお使いの環境によって前後する可能性がございます。）
                        </p>
                    </div>
                </div>
            </li>
        </ol>
        <p class="u-Adjust_Mt-16">以上でRakuten Casaの接続は完了です。</p>

        <div id="wi-fi" class="u-Adjust_Mt-48">
          <h3 class="c-Heading_Lv3">Wi-Fiの接続方法</h3>
          <div class="l-Media_Grid u-Adjust_Mt-16">
            <div class="l-Media_Image c-Flow_Image">
              <img src="<%= sitepath %>assets/img/guide/rakuten-casa/connection/img-06.png" class="<%= namespace -%>-Utility_Show-pc" alt="">
            </div>
            <div>
              <p>Rakuten CasaはWi-Fiアクセスポイントとしてもお使いいただけます。<br>
              接続情報は本体底面のシールをご確認ください。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※Rakuten Casaに対応したルーター（ルーター一体型ONU含む）が別途必要です。</p>
              <div class="<%= namespace -%>-Utility_Show-sp u-Adjust_Mt-16"><img src="<%= sitepath %>assets/img/guide/rakuten-casa/connection/img-06.png" alt=""></div>
              <p class="u-Adjust_Mt-24">Rakuten Casaアプリをご利用いただくと、簡単にWi-Fi接続の共有が行えますので、ご利用ください。</p>
            </div>
          </div>
        </div>
        <div class="u-Adjust_Mt-24">
          <div class="c-Theme-Light">
            <div class="rakuten-casa-Layout_App">
              <div class="rakuten-casa-Layout_App-icon">
                <img src="/assets/img/guide/rakuten-casa/flow/icon_app.png" alt="">
              </div>
              <div>
                <h4 class="c-Heading_Lv4">Rakuten Casaアプリ</h4>
                <p class="u-Adjust_Mt-16">Wi-Fi接続の共有やSSID・パスワードの変更、通信速度チェックなどができます。</p>
                <div class="rakuten-casa-Layout_App-btn">
                  <p><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.casa"><img
                        src="/assets/img/guide/rakuten-casa/flow/btn_app-android.png" alt=""></a></p>
                  <p><a href="https://apps.apple.com/jp/app/rakuten-casa/id1501619474"><img
                        src="/assets/img/guide/rakuten-casa/flow/btn_app-apple.png" alt=""></a></p>
                  <p><a href="/guide/rakuten-casa/" class="c-Btn_Regular"><span>アプリのご利用方法を見る</span></a></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="indicator" class="u-Adjust_Mt-64">
          <h3 class="c-Heading_Lv3">インジケーターの一覧</h3>
          <div class="l-Media_Grid u-Adjust_Mt-16 <%= namespace %>-Flow_Order">
            <div class="l-Media_Image c-Flow_Image">
              <img src="<%= sitepath %>assets/img/guide/rakuten-casa/connection/img-07.png" alt="">
            </div>
            <div>
              <p>本体前面のLEDでRakuten Casaの接続状態や稼働状態を確認できます。</p>
            </div>
          </div>
          <div class="c-Table_Wrap-scroll">
            <div class="u-Adjust_Mt-40 js-Scrollable scroll-hint is-scrollable" id="scroll-table" style="position: relative; overflow: auto;">
              <table class="c-Table_Container" style="width: 1032px">
                <colgroup>
                  <col>
                  <col style="width: 100px">
                  <col style="width: 100px">
                  <col style="width: 100px">
                  <col>
                  <col>
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">Power</th>
                    <th scope="col">WAN</th>
                    <th scope="col">LTE</th>
                    <th scope="col">WiFi</th>
                    <th scope="col">状態</th>
                    <th scope="col">対処方法</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_b.svg" alt=""></span>
                      </div>
                      <p>緑点滅</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span><span class="rakuten-casa-Table_Lamp-line"><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_b.svg" alt=""></span>
                      </div>
                      <p>緑点灯<br>
                        または<br>
                        緑点滅</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td><p>正常稼動</p></td>
                    <td><p>ー</p></td>
                  </tr>

                  <tr>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_gray_s.svg" alt=""></span>
                      </div>
                      <p>消灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_gray_s.svg" alt=""></span>
                      </div>
                      <p>消灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_gray_s.svg" alt=""></span>
                      </div>
                      <p>消灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_gray_s.svg" alt=""></span>
                      </div>
                      <p>消灯</p>
                    </td>
                    <td>
                      <p>電源OFF</p>
                      <ul class="c-List_Cap u-Adjust_Mt-8">
                        <li><span>※</span>電源故障の可能性あり</li>
                      </ul>
                    </td>
                    <td><p>&#9312;電源ケーブルの接続を確認してください<br>&#9313;正しく接続しても電源ONにならない場合は、コミュニケーションセンターにお問い合わせください</p></td>
                  </tr>

                  <tr>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_yellow_b.svg" alt=""></span>
                      </div>
                      <p>黄点滅</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span><span class="rakuten-casa-Table_Lamp-line"><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_b.svg" alt=""></span>
                      </div>
                      <p>緑点灯<br>
                        または<br>
                        緑点滅</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td>
                      <p>正常稼働</p>
                      <ul class="c-List_Cap u-Adjust_Mt-8">
                        <li><span>※</span>10/100 Base-TのLANケーブルを使用</li>
                      </ul>
                    </td>
                    <td><p>通信速度を速くしたい場合は、1000 Base-Tに対応したLANケーブルに交換してください</p></td>
                  </tr>

                  <tr>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_gray_s.svg" alt=""></span>
                      </div>
                      <p>消灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_gray_s.svg" alt=""></span>
                      </div>
                      <p>消灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_gray_s.svg" alt=""></span>
                      </div>
                      <p>消灯</p>
                    </td>
                    <td>
                      <p>電源ON</p>
                      <ul class="c-List_Cap u-Adjust_Mt-8">
                        <li><span>※</span>数分待ってもWANランプが消灯のままの場合、インターネット接続に問題あり</li>
                      </ul>
                    </td>
                    <td><p>(1) ONU（モデム）、ルーターの接続に問題がないことを確認してください<br>(2) LANケーブルが正しく接続されていることを確認してください<br>(3) 接続先のインターネット回線に通信障害が起きている場合は、復旧するまでお待ちください<br>(1)(2)(3) に問題がない場合は、コミュニケーションセンターにお問い合わせください</p></td>
                  </tr>

                  <tr>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp"><span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_b.svg" alt=""></span><span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_yellow_b.svg" alt=""></span></div>
                      <p>緑・黄点滅</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_b.svg" alt=""></span>
                      </div>
                      <p>緑点滅</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_b.svg" alt=""></span>
                      </div>
                      <p>緑点滅</p>
                    </td>
                    <td><p>起動中</p></td>
                    <td><p>(1) 正常稼動するまで、そのままお待ちください<br>(2) 数分待っても復旧しない場合は、交換となります。コミュニケーションセンターにお問い合わせください<br>※通信速度が1,000MB以下の場合は、WANが黄色の点滅になります。</p></td>
                  </tr>

                  <tr>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_b.svg" alt=""></span>
                      </div>
                      <p>緑点滅</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_yellow_b.svg" alt=""></span>
                      </div>
                      <p>黄点滅</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td>
                      <p>LTE接続不可</p>
                    </td>
                    <td>
                      <ol>
                        <li>(1) LANケーブルを本体に接続し直してください</li>
                        <li>(2) モデム／ルーターを再起動してください</li>
                        <li>(3) ルーターの設定を確認してください<br><a href="<%= sitepath %>area/rakuten-casa/#environment" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener">Rakuten Casaを利用するための動作環境<span class="c-Icon_New-window-l"></span></a></li>
                        <li>(4) 上記を行っても復旧しない場合は、LTEリセットボタンを2秒押して再起動を行ってください</li>
                        <li>(5) リセット後も復旧しない場合は、コミュニケーションセンターにお問い合わせください</li>
                        <p class="c-Txt_Cap">※ LTEの接続上限は16台です。</p>
                      </ol>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_b.svg" alt=""></span>
                      </div>
                      <p>緑点滅</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp"><span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_b.svg" alt=""></span><span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_yellow_b.svg" alt=""></span></div>
                      <p>緑・黄点滅</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td><p>LTEファームウェアアップデート中</p></td>
                    <td><p>(1) 正常稼動するまで、そのままお待ちください<br>(2) 復旧しない場合は、コミュニケーションセンターにお問い合わせください</p></td>
                  </tr>

                  <tr>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_b.svg" alt=""></span>
                      </div>
                      <p>緑点滅</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_gray_s.svg" alt=""></span>
                      </div>
                      <p>消灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td><p>再起動中（工場出荷時の状態にもどります）</p></td>
                    <td><p>(1) 正常稼動するまで、そのままお待ちください<br>(2) 復旧しない場合は、コミュニケーションセンターにお問い合わせください</p></td>
                  </tr>

                  <tr>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_b.svg" alt=""></span>
                      </div>
                      <p>緑点滅</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_yellow_b.svg" alt=""></span><span class="rakuten-casa-Table_Lamp-joint"><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_gray_s.svg" alt=""></span>
                      </div>
                      <p>黄点滅　消灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td><p>再起動中</p></td>
                    <td><p>(1) 正常稼動するまで、そのままお待ちください<br>(2) 復旧しない場合は、コミュニケーションセンターにお問い合わせください</p></td>
                  </tr>

                  <tr>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_b.svg" alt=""></span>
                      </div>
                      <p>緑点滅</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_yellow_s.svg" alt=""></span>
                      </div>
                      <p>黄点灯</p>
                    </td>
                    <td>
                      <p>Wi-Fi接続不可</p>
                    </td>
                    <td>
                      <ol>
                        <li>(1) LANケーブルを本体に接続し直してください</li>
                        <li>(2) モデム／ルーターを再起動してください</li>
                        <li>(3) ルーターの設定を確認してください<br><a href="<%= sitepath %>area/rakuten-casa/#environment" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener">Rakuten Casaを利用するための動作環境<span class="c-Icon_New-window-l"></span></a></li>
                        <li>(4) 上記を行っても復旧しない場合は、Wi-Fiリセットボタンを2秒押して再起動を行ってください</li>
                        <li>(5) リセット後も復旧しない場合は、コミュニケーションセンターにお問い合わせください</li>
                      </ol>
                      <p class="c-Txt_Cap">※ Wi-Fiの接続上限は30台です。</p>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_b.svg" alt=""></span>
                      </div>
                      <p>緑点滅</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_yellow_b.svg" alt=""></span>
                      </div>
                      <p>黄点滅</p>
                    </td>
                    <td><p>Wi-Fiファームウェアアップデート中</p></td>
                    <td><p>(1) 正常稼動するまで、そのままお待ちください<br>(2) 復旧しない場合は、コミュニケーションセンターにお問い合わせください</p></td>
                  </tr>
                  <tr>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_b.svg" alt=""></span>
                      </div>
                      <p>緑点滅</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_gray_s.svg" alt=""></span>
                      </div>
                      <p>消灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_yellow_s.svg" alt=""></span>
                      </div>
                      <p>黄点灯</p>
                    </td>
                    <td><p>再起動中</p></td>
                    <td><p>(1) 正常稼動するまで、そのままお待ちください<br>(2) 復旧しない場合は、コミュニケーションセンターにお問い合わせください</p></td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
        </div>

        <div id="startguide" class="u-Adjust_Mt-48">
          <h3 class="c-Heading_Lv3">スタートガイド</h3>
          <p class="u-Adjust_Mt-16">Rakuten Casa本体に同梱しているスタートガイド案内になります。</p>
          <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>pdf/terms/rakuten_casa_startguide.pdf?220914" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener">Rakuten Casa（初代）のスタートガイド<span class="c-Icon_Pdf-l"></span></a></p>

          <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>support/" class="c-Btn_Regular rakuten-casa-Utility_Btn-full"><span>お客様サポートトップに戻る</span></a></p>
          <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>" class="c-Btn_Regular rakuten-casa-Utility_Btn-full"><span>楽天モバイルトップへ</span></a></p>
        </div>
      </div>
      <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
        <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-24">
          <li><a href="#connection2" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>接続方法</a></li>
          <li><a href="#wi-fi2" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>Wi-Fiの接続方法</a></li>
          <li><a href="#led-state" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>LEDランプの状態</a></li>
          <li><a href="#startguide2" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>スタートガイド</a></li>
        </ul>

        <h2 id="connection2" class="c-Heading_Lv2 u-Adjust_Mt-48">接続方法</h2>
        <ol class="c-Flow <%= namespace %>-Flow <%= namespace %>-Flow_Regular u-Adjust_Mt-24">
            <li id="step1-2">
                <h3 class="c-Heading_Lv3">1. 設置場所を決める</h3>
                <p class="u-Adjust_Mt-16">Rakuten Casaは、屋内の湿気が少ない環境で、正面に遮蔽物のない硬く平らな場所に設置してください。</p>
                <p class="u-Adjust_Mt-8">また、電波を放出する機器（電子レンジ、コードレス電話機、無線LANルーター等）の近くに設置しないでください。</p>

                <div class="c-Theme-Light u-Adjust_Align-center u-Adjust_Mt-24 <%= namespace %>-Utility_Block" style="max-width: 656px;">
                  <h4 class="c-Heading_Lv4 u-Adjust_Align-left <%= namespace %>-Heading_Icon">
                    <span class="c-Attention_Icon c-Icon_Sign-warning-l" aria-hidden="true"></span>
                    <span>以下のような場所には設置しないでください</span>
                  </h4>
                  <ul class="<%= namespace %>-List u-Adjust_Mt-24">
                    <li>
                      <figure>
                        <figcaption class="c-Txt_Normal-s">湿気が多い場所</figcaption>
                        <img src="<%= sitepath %>assets/img/guide/rakuten-casa/connection/icon-01.png" alt="" width="80" height="80">
                      </figure>
                    </li>
                    <li>
                      <figure>
                        <figcaption class="c-Txt_Normal-s">正面に遮蔽物がある場所</figcaption>
                        <img src="<%= sitepath %>assets/img/guide/rakuten-casa/connection/icon-02-2.png" alt="" width="80" height="80">
                      </figure>
                    </li>
                    <li>
                      <figure>
                        <figcaption class="c-Txt_Normal-s">柔らかく平らでない場所</figcaption>
                        <img src="<%= sitepath %>assets/img/guide/rakuten-casa/connection/icon-03-2.png" alt="" width="80" height="80">
                      </figure>
                    </li>
                    <li class="<%= namespace %>-List_Full">
                      <dl>
                        <dt>電波を放出する機器の近く</dt>
                        <dd class="<%= namespace %>-Utility_Mt-16-8">
                          <ul class="<%= namespace %>-List-reverse">
                            <li class="<%= namespace %>-Utility_No-padding">
                              <figure>
                                <img src="<%= sitepath %>assets/img/guide/rakuten-casa/connection/icon-04.png" alt="" width="80" height="80">
                                <figcaption class="c-Txt_Normal-s">電子レンジ</figcaption>
                              </figure>
                            </li>
                            <li class="<%= namespace %>-Utility_No-padding">
                              <figure>
                                <img src="<%= sitepath %>assets/img/guide/rakuten-casa/connection/icon-05.png" alt="" width="80" height="80">
                                <figcaption class="c-Txt_Normal-s">コードレス電話機</figcaption>
                              </figure>
                            </li>
                            <li class="<%= namespace %>-Utility_No-padding">
                              <figure>
                                <img src="<%= sitepath %>assets/img/guide/rakuten-casa/connection/icon-06.png" alt="" width="80" height="80">
                                <figcaption class="c-Txt_Normal-s">無線LANルーター</figcaption>
                              </figure>
                            </li>
                          </ul>
                        </dd>
                      </dl>
                    </li>
                  </ul>
                </div>
            </li>
            <li id="step2-2">
                <h3 class="c-Heading_Lv3">2. 本体にLANケーブルを接続する</h3>
                <p class="u-Adjust_Mt-16">
                  Rakuten Casa 6は、「APモード」と「ルーターモード」の2つのモードでご利用いただけます。<br>
                  詳しくは、<a href="<%= sitepath %>area/rakuten-casa/#environment" class="c-Link_Txt">Rakuten Casaを利用するための動作環境</a>をご確認ください。
                </p>

                <h4 class="c-Heading_Lv4 u-Adjust_Mt-40">APモードで接続する場合</h4>
                <p class="u-Adjust_Mt-16">
                  本体の黄色のInternetポートとルーターのLANポートを、付属のLANケーブルで接続します。<br>
                  Rakuten Casa 6をルーターと接続する場合は、本体のモード切替スイッチを「AP」モードに設定します。
                </p>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">※ Rakuten Casa 6 本体側は、必ず黄色のInternetポートに接続してください。青色のLANポートに接続してもインターネットにつながりません。</p>

                <ul class="u-Adjust_Mt-32 <%= namespace -%>-List_Figure">
                  <li>
                    <figure>
                      <figcaption>ONU一体型ルーターに接続する場合</figcaption>
                      <img src="<%= sitepath %>assets/img/guide/rakuten-casa/connection/img-casa6-02.png" alt="" width="304" height="205">

                    </figure>
                  </li>
                  <li>
                    <figure>
                      <figcaption>ONU分離型ルーターに接続する場合</figcaption>
                      <img src="<%= sitepath %>assets/img/guide/rakuten-casa/connection/img-casa6-01.png" alt="" width="304" height="205">
                    </figure>
                  </li>
                </ul>

                <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">ルーターモードで接続する場合</h4>
                <p class="u-Adjust_Mt-16">
                  ルーター機能を利用する場合は、本体のモード切替スイッチを「Router」モードに設定し、Rakuten Casa アプリで設定変更を行ってください。<span class="c-Txt_Emp-02">ルーター機能は、「楽天ひかり」のみご利用いただけます。</span> <span class="c-Txt_Cap">※2023年1月現在</span>
                </p>
                <div class="l-Media_Grid u-Adjust_Mt-32">
                  <div class="l-Media_Image">
                    <img src="<%= sitepath %>assets/img/guide/rakuten-casa/connection/img-casa6-03.png" alt="" width="304" height="205">
                  </div>
                  <div>
                    本体を電源に接続した後にアプリで設定いただけます。<br>
                    詳しい接続方法は<a href="<%= sitepath %>guide/rakuten-casa/router-mode/" class="c-Link_Txt">Rakuten Casa 6のルーターモード設定方法</a>をご覧ください。
                  </div>
              </div>
              <div class="u-Adjust_Mt-40 c-Theme-Light">
                <h4 class="c-Heading_Lv4 <%= namespace %>-Utility_W-100">ONUとは？</h4>
                <p class="u-Adjust_Mt-8">
                  宅内の光コンセントから光ケーブル（光コード）で接続する、光回線の終端装置のこと。<br>
                  複数の機器で同時にインターネットに接続できるようにするには、ONUにルーターを接続する必要があります。
                </p>
              </div>
            </li>
            <li id="step3-2">
                <h3 class="c-Heading_Lv3">3. 本体の電源を入れる</h3>
                <div class="l-Media_Grid u-Adjust_Mt-16">
                    <div class="l-Media_Image c-Flow_Image">
                        <img src="<%= sitepath %>assets/img/guide/rakuten-casa/connection/img-casa6-04.png" alt="">
                    </div>
                    <div>
                        <p>
                          本体と電源アダプターを接続し、コンセントに接続してください。<br>
                          LEDランプが図の状態になっていることを確認してください。
                        </p>
                    </div>
                </div>
            </li>
            <li id="step4-2">
                <h3 class="c-Heading_Lv3">4. LEDランプを確認する</h3>
                <div class="l-Media_Grid u-Adjust_Mt-16">
                    <div class="l-Media_Image c-Flow_Image">
                        <img src="<%= sitepath %>assets/img/guide/rakuten-casa/connection/img-casa6-05.png" alt="">
                    </div>
                    <div>
                        <p>
                          <span class="c-Txt_Emp-02">5～15分後</span>、本体前面のLEDランプが図のように変わったらご利用可能です。<br>
                          お手持ちの楽天回線対応製品で楽天回線に接続できるかご確認ください。
                        </p>
                        <div class="u-Adjust_Mt-24 c-Infobox_Standing-warning">
                          通常5～15分後、最大48時間程度お待ちいただき、それ以降うまく接続されない場合、LEDランプからRakuten Casaの接続状態や稼働状態が確認できますので、<a href="#led-state" class="c-Link_Txt js-scroll">LEDランプの状態一覧</a>と照らし合わせてご確認ください。（待機時間はお客様のお使いの環境によって前後する可能性がございます。）
                        </div>
                    </div>
                </div>
            </li>
        </ol>
        <p class="u-Adjust_Mt-16">以上でRakuten Casa 6の接続は完了です。</p>

        <div id="wi-fi2" class="u-Adjust_Mt-48">
          <h3 class="c-Heading_Lv3">Wi-Fiの接続方法</h3>
          <div class="l-Media_Grid u-Adjust_Mt-16">
            <div class="l-Media_Image c-Flow_Image">
              <img src="<%= sitepath %>assets/img/guide/rakuten-casa/connection/img-casa6-06.png" class="<%= namespace -%>-Utility_Show-pc" alt="">
            </div>
            <div>
              <p>
                Rakuten Casa 6はWi-Fiアクセスポイントとしてもお使いいただけます。本体底面または本体側面の接続情報をご確認ください。
              </p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※Rakuten Casaに対応したルーター（ルーター一体型ONU含む）が別途必要です。</p>
              <div class="<%= namespace -%>-Utility_Show-sp u-Adjust_Mt-16"><img src="<%= sitepath %>assets/img/guide/rakuten-casa/connection/img-06.png" alt=""></div>
              <p class="u-Adjust_Mt-24">Rakuten Casaアプリをご利用いただくと、簡単にWi-Fi接続の共有が行えますので、ご利用ください。</p>
            </div>
          </div>
        </div>
        <div class="u-Adjust_Mt-24">
          <div class="c-Theme-Light">
            <div class="rakuten-casa-Layout_App">
              <div class="rakuten-casa-Layout_App-icon">
                <img src="/assets/img/guide/rakuten-casa/flow/icon_app.png" alt="">
              </div>
              <div>
                <h4 class="c-Heading_Lv4">Rakuten Casaアプリ</h4>
                <p class="u-Adjust_Mt-16">Wi-Fi接続の共有やSSID・パスワードの変更、通信速度チェックなどができます。</p>
                <div class="rakuten-casa-Layout_App-btn">
                  <p>
                    <a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.casa">
                      <img src="/assets/img/guide/rakuten-casa/flow/btn_app-android.png" alt="">
                      </a>
                    </p>
                  <p>
                    <a href="https://apps.apple.com/jp/app/rakuten-casa/id1501619474">
                      <img src="/assets/img/guide/rakuten-casa/flow/btn_app-apple.png" alt="">
                    </a>
                  </p>
                  <p>
                    <a href="<%= sitepath %>guide/rakuten-casa/" class="c-Btn_Regular"><span>アプリのご利用方法を見る</span></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="led-state" class="u-Adjust_Mt-64">
          <h3 class="c-Heading_Lv3">LEDランプの状態一覧</h3>
          <div class="l-Media_Grid-small u-Adjust_Mt-16 <%= namespace %>-Flow_Order">
            <div class="l-Media_Image c-Flow_Image">
              <img src="<%= sitepath %>assets/img/guide/rakuten-casa/connection/img-casa6-07.png" alt="" width="152" height="157">
            </div>
            <div>
              <p>本体前面のLEDランプでRakuten Casa 6の接続状態や稼働状態を確認できます。</p>
            </div>
          </div>
          <div class="c-Table_Wrap-scroll">
            <div class="u-Adjust_Mt-40 js-Scrollable scroll-hint is-scrollable" id="scroll-table2" style="position: relative; overflow: auto;">
              <table class="c-Table_Container" style="width: 1032px">
                <colgroup>
                  <col>
                  <col style="width: 100px">
                  <col style="width: 100px">
                  <col style="width: 100px">
                  <col>
                  <col>
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">Power</th>
                    <th scope="col">Internet</th>
                    <th scope="col">LTE</th>
                    <th scope="col">WiFi</th>
                    <th scope="col">状態</th>
                    <th scope="col">対処方法</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_b.svg" alt=""></span>
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_yellow_b.svg" alt=""></span>
                      </div>
                      <p>
                        緑点滅<br>
                        または<br>
                        黄点滅
                      </p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_b.svg" alt=""></span>
                      </div>
                      <p>
                        緑点灯<br>
                        または<br>
                        緑点滅
                      </p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td><p>正常稼動</p></td>
                    <td><p>ー</p></td>
                  </tr>

                  <tr>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_gray_s.svg" alt=""></span>
                      </div>
                      <p>消灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_gray_s.svg" alt=""></span>
                      </div>
                      <p>消灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_gray_s.svg" alt=""></span>
                      </div>
                      <p>消灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_gray_s.svg" alt=""></span>
                      </div>
                      <p>消灯</p>
                    </td>
                    <td>
                      <p>電源OFF</p>
                      <ul class="c-List_Cap u-Adjust_Mt-8">
                        <li><span>※</span>電源故障の可能性あり</li>
                      </ul>
                    </td>
                    <td><p>&#9312;電源ケーブルの接続を確認してください<br>&#9313;正しく接続しても電源ONにならない場合は、コミュニケーションセンターにお問い合わせください</p></td>
                  </tr>

                  <tr>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_gray_s.svg" alt=""></span>
                      </div>
                      <p>消灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_gray_s.svg" alt=""></span>
                      </div>
                      <p>消灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_gray_s.svg" alt=""></span>
                      </div>
                      <p>消灯</p>
                    </td>
                    <td>
                      <p>電源ON、<br>LANケーブルが接続されていない</p>
                    </td>
                    <td>
                      <p>LANケーブルを接続してください</p>
                    </td>
                  </tr>

                  <tr>
                    <td>

                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_b.svg" alt=""></span>
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_yellow_b.svg" alt=""></span>
                      </div>
                      <p>
                        緑点滅<br>
                        または<br>
                        黄点滅
                      </p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_b.svg" alt=""></span>
                      </div>
                      <p>緑点滅</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_b.svg" alt=""></span>
                      </div>
                      <p>緑点滅</p>
                    </td>
                    <td>
                      <p>起動中</p>
                    </td>
                    <td>
                      <ol>
                        <li>(1) 正常稼動するまで、そのままお待ちください</li>
                        <li>(2) 復旧しない場合は、コミュニケーションセンターにお問い合わせください</li>
                      </ol>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_b.svg" alt=""></span>
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_yellow_b.svg" alt=""></span>
                      </div>
                      <p>
                        緑点滅<br>
                        または<br>
                        黄点滅
                      </p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_yellow_b.svg" alt=""></span>
                      </div>
                      <p>黄点滅</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td>
                      <p>LTE接続不可</p>
                    </td>
                    <td>
                      <ol>
                        <li>(1) LANケーブルを本体に接続し直してください</li>
                        <li>(2) モデム／ルーターを再起動してください</li>
                        <li>(3) ルーターの設定を確認してください<br><a href="<%= sitepath %>area/rakuten-casa/#environment" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener">Rakuten Casaを利用するための動作環境<span class="c-Icon_New-window-l"></span></a></li>
                        <li>(4) 上記を行っても復旧しない場合は、LTEリセットボタンを2秒押して再起動を行ってください</li>
                        <li>(5) リセット後も復旧しない場合は、コミュニケーションセンターにお問い合わせください</li>
                        <p class="c-Txt_Cap">※ LTEの接続上限は16台です。</p>
                      </ol>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_b.svg" alt=""></span>
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_yellow_b.svg" alt=""></span>
                      </div>
                      <p>
                        緑点滅<br>
                        または<br>
                        黄点滅
                      </p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_b.svg" alt=""></span>
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_yellow_b.svg" alt=""></span>
                      </div>
                      <p>
                        緑・黄点滅の順次繰り返し
                      </p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td>
                      <p>LTEファームウェアアップデート中</p>
                    </td>
                    <td>
                      <ol>
                        <li>(1) 正常稼動するまで、そのままお待ちください</li>
                        <li>(2) 復旧しない場合は、コミュニケーションセンターにお問い合わせください</li>
                      </ol>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_b.svg" alt=""></span>
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_yellow_b.svg" alt=""></span>
                      </div>
                      <p>
                        緑点滅<br>
                        または<br>
                        黄点滅
                      </p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_gray_s.svg" alt=""></span>
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_yellow_s.svg" alt=""></span>
                      </div>
                      <p>
                        消灯<br>
                        または<br>
                        黄点灯
                      </p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td>
                      <p>
                        LTE再起動中<br>
                        （工場出荷時の状態にもどしている場合、LTEランプの状態はOFFです）
                      </p>
                    </td>
                    <td>
                      <ol>
                        <li>(1) 正常稼動するまで、そのままお待ちください</li>
                        <li>(2) 復旧しない場合は、コミュニケーションセンターにお問い合わせください</li>
                      </ol>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_b.svg" alt=""></span>
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_yellow_b.svg" alt=""></span>
                      </div>
                      <p>
                        緑点滅<br>
                        または<br>
                        黄点滅
                      </p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_b.svg" alt=""></span>
                      </div>
                      <p>
                        緑点灯<br>
                        または<br>
                        緑点滅
                      </p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_red_s.svg" alt=""></span>
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_red_b.svg" alt=""></span>
                      </div>
                      <p>
                        赤点灯<br>
                        または<br>
                        赤点滅
                      </p>
                    </td>
                    <td><p>Wi-Fi接続不可</p></td>
                    <td>
                      <ol>
                        <li>(1) LANケーブルを本体に接続し直してください</li>
                        <li>(2) モデム／ルーターを再起動してください</li>
                        <li>(3) ルーターの設定を確認してください<br><a href="<%= sitepath %>area/rakuten-casa/#environment" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener">Rakuten Casaを利用するための動作環境<span class="c-Icon_New-window-l"></span></a></li>
                        <li>(4) 上記を行っても復旧しない場合は、Wi-Fiリセットボタンを2秒押して再起動を行ってください</li>
                        <li>(5) リセット後も復旧しない場合は、コミュニケーションセンターにお問い合わせください</li>
                      </ol>
                      <p class="c-Txt_Cap">※ Wi-Fiの接続上限は30台です。</p>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_b.svg" alt=""></span>
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_yellow_b.svg" alt=""></span>
                      </div>
                      <p>
                        緑点滅<br>
                        または<br>
                        黄点滅
                      </p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_b.svg" alt=""></span>
                      </div>
                      <p>
                        緑点灯<br>
                        または<br>
                        緑点滅
                      </p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_yellow_b.svg" alt=""></span>
                      </div>
                      <p>黄点滅</p>
                    </td>
                    <td>
                      <p>Wi-Fiファームウェアアップデート中</p>
                    </td>
                    <td>
                      <ol>
                        <li>(1) 正常稼動するまで、そのままお待ちください</li>
                        <li>(2) 復旧しない場合は、コミュニケーションセンターにお問い合わせください</li>
                      </ol>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_b.svg" alt=""></span>
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_yellow_b.svg" alt=""></span>
                      </div>
                      <p>
                        緑点滅<br>
                        または<br>
                        黄点滅
                      </p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_yellow_b.svg" alt=""></span>
                      </div>
                      <p>黄点滅</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_yellow_b.svg" alt=""></span>
                      </div>
                      <p>黄点滅</p>
                    </td>
                    <td>
                      <p>Wi-Fi再起動中</p>
                    </td>
                    <td>
                      <ol>
                        <li>(1) 正常稼動するまで、そのままお待ちください</li>
                        <li>(2) 復旧しない場合は、コミュニケーションセンターにお問い合わせください</li>
                      </ol>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_b.svg" alt=""></span>
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_yellow_b.svg" alt=""></span>
                      </div>
                      <p>
                        緑点滅<br>
                        または<br>
                        黄点滅
                      </p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_yellow_b.svg" alt=""></span>
                      </div>
                      <p>黄点滅</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_red_b.svg" alt=""></span>
                      </div>
                      <p>赤点滅</p>
                    </td>
                    <td>
                      <p>LTEおよびWi-Fi接続不可</p>
                    </td>
                    <td>
                      <ol>
                        <li>(1) LTEリセットボタンおよびWi-Fiリセットボタンを2秒押して再起動を行ってください</li>
                        <li>(2) リセット後も復旧しない場合は、コミュニケーションセンターにお問い合わせください</li>
                      </ol>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_s.svg" alt=""></span>
                      </div>
                      <p>緑点灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_green_b.svg" alt=""></span>
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_yellow_b.svg" alt=""></span>
                      </div>
                      <p>
                        緑点滅<br>
                        または<br>
                        黄点滅
                      </p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_yellow_s.svg" alt=""></span>
                      </div>
                      <p>黄点灯</p>
                    </td>
                    <td>
                      <div class="rakuten-casa-Table_Lamp">
                        <span><img src="<%= sitepath %>assets/img/area/rakuten-casa/lamp_red_s.svg" alt=""></span>
                      </div>
                      <p>赤点灯</p>
                    </td>
                    <td>
                      <p>LTEハードウェア障害</p>
                    </td>
                    <td>
                      <ol>
                        <li>(1) LTEリセットボタンを2秒押して再起動をおこなってください</li>
                        <li>(2) リセット後も復旧しない場合は、コミュニケーションセンターにお問い合わせください</li>
                      </ol>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
        </div>

        <div id="startguide2" class="u-Adjust_Mt-48">
          <h3 class="c-Heading_Lv3">スタートガイド</h3>
          <p class="u-Adjust_Mt-16">Rakuten Casa本体に同梱しているスタートガイド案内になります。</p>
          <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>terms/pdf/rakuten_casa-6_startguide.pdf?230911" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener">Rakuten Casa 6のスタートガイド<span class="c-Icon_Pdf-l"></span></a></p>

          <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>support/" class="c-Btn_Regular rakuten-casa-Utility_Btn-full"><span>お客様サポートトップに戻る</span></a></p>
          <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>" class="c-Btn_Regular rakuten-casa-Utility_Btn-full"><span>楽天モバイルトップへ</span></a></p>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">



    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>
  <div class="c-Breadcrumbs_Foot">
    <div class="l-System_Container">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/area.casa.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
