<% const pagetitle = "楽天モバイルお申し込み開始前に（楽天カード・楽天銀行）" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '楽天モバイルのお申し込み時に、楽天カード新規入会＆楽天銀行口座開設＆利用でもれなく楽天ポイント！',
    noindex: true,
    pathname: filepath
  });
%>
<% const nameSpace = "guide" -%>
<% const information = {
  campaignState:'finish',
  campaignScheduleStarl:'12月6日（水）10:00',
  campaignScheduleFinish:'12月18日（月）10:00',
  campaignScheduleCarduse:'2023年12月6日（水）～2024年1月31日（水）',
  campaignScheduleCardInformation:'2024年2月29日（木）'
}; %>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/application/campaign/guide-application-campaign.css?20240424">
<script src="https://r.r10s.jp/com/ap/target/phoenix-tracker-2.7.2.min.js"></script>
<%- include('/include/_append-head') %>
</head>
<body>
  <%- include('/include/_prepend-body') %>

  <div class="l-System" aria-hidden="false">

    <%- include('/include/_header-simple') %>

    <div class="<%= nameSpace %>-Layout_Container">
      <div class="<%= nameSpace %>-application-campaign-Layout-Label">
        <ul class="c-Label_List <%= nameSpace %>-application-campaign-Layout-Label_List">
          <li class="c-Label_Normal">楽天カード新規入会＆利用</li>
          <li class="c-Label_Normal">楽天銀行の口座開設＆入金</li>
          <li class="c-Label_Normal">楽天モバイルと楽天カードまたは楽天銀行同時申し込み</li>
        </ul>
        <p class="u-Adjust_Align-right u-Adjust_Pt-8 guide-application-campaign-Utility_Show-pc">
          <a href="#campaign_rule01" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>詳細を確認する</a>
        </p>
      </div>

    <% if (information.campaignState == 'finish') { %>
      <div class="guide-application-campaign-Hero">
        <h1 class="u-Adjust_Align-center l-System_Container">
          <img src="<%= sitepath %>assets/img/guide/application/card-bank/img-main15000-pc.png?240315" alt="はじめて楽天モバイルをお申し込み前に 楽天カードと楽天銀行を同時にお申し込みで 最大15,000ポイント" class="guide-application-campaign-Utility_Img-pc" style="max-width: 1059px;width: auto;">
          <img src="<%= sitepath %>assets/img/guide/application/card-bank/img-main15000-sp.png?240315" alt="はじめて楽天モバイルをお申し込み前に 楽天カードと楽天銀行を同時にお申し込みで 最大15,000ポイント" class="guide-application-campaign-Utility_Img-sp">
        </h1>
      </div>
    <% } else { %>
      <!-- else -->
      <div class="guide-application-campaign-Hero card-bg">
        <h1 class="u-Adjust_Align-center l-System_Container">
          <img src="<%= sitepath %>assets/img/guide/application/card-bank/img-main18000-pc.png?231206" alt="はじめて楽天モバイルをお申し込み前に 楽天カードと楽天銀行を同時にお申し込みで 期間限定！最大18,000ポイント ポイントアップ期間<%= information.campaignScheduleStarl %>～<%= information.campaignScheduleFinish %>" class="guide-application-campaign-Utility_Img-pc" style="max-width: 1059px;width: auto;">
          <img src="<%= sitepath %>assets/img/guide/application/card-bank/img-main18000-sp.png?231206" alt="はじめて楽天モバイルをお申し込み前に 楽天カードと楽天銀行を同時にお申し込みで 期間限定！最大18,000ポイント ポイントアップ期間<%= information.campaignScheduleStarl %>～<%= information.campaignScheduleFinish %>" class="guide-application-campaign-Utility_Img-sp">
        </h1>
      </div>
    <% } %>

      <div class="l-System_Container">
        <div class="u-Adjust_Mt-16">
          <p class="guide-application-campaign-Utility_Show-sp">
            <a href="#campaign_rule01" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>詳細を確認する</a>
          </p>
          <p class="c-Txt_Cap u-Adjust_Pt-8 u-Adjust_Mt-8">
            <span class="c-Txt_Emp-02">※ 楽天モバイルに他社からお乗り換えでないお客様も、初めて楽天モバイルお申し込みで最大11,000ポイント進呈。詳しくは<a href="#campaign-rule" class="js-scroll">キャンペーン詳細</a>の併用可能キャンペーン欄をご確認ください。</span><br>
            <span class="c-Txt_Emp-02">※ 2023年11月1日（水）0:00以降の 「Rakuten最強プラン」お申し込み分より、本特典は楽天回線をはじめてお申し込みいただいた場合に適用、と変更いたしました。</span><br>
            <span class="c-Txt_Emp-02">※ 「Rakuten最強プラン（データタイプ）」は対象外です。</span><br>
            ※ キャンペーンによってポイントの進呈時期・有効期間が異なり、分割して進呈される場合もあります。必ず<a href="#campaign_rule01" class="js-scroll">キャンペーン詳細</a>をご確認ください。<br>
            ※ 予告なく特典内容の変更、キャンペーンの中止を行う可能性があります。特典は今後の開催時に増減する場合もあります。<br>
            ※1 楽天カードについては、新規入会＆利用が必要です。<a href="#accordion-1" class="c-Link_Txt js-scroll js-openAccordion" data-target-accordion="#accordion-1">詳細はこちら</a>から確認してください。楽天銀行については、新規口座開設＆ご入金及びハッピープログラムへのご登録が必要です。<a href="#accordion-2" class="c-Link_Txt js-scroll js-openAccordion" data-target-accordion="#accordion-2">詳細はこちら</a>から確認してください。
          </p>
        </div>

      <% if (information.campaignState == 'finish') { %>
      <% } else { %>
        <!-- else -->
        <div class="<%= nameSpace %>-application-campaign-Layout_timer time-Count_Area hidden">
          <div class="u-Adjust_Mt-16 u-Adjust_Align-center time-Count"><div>ポイントアップ期間終了まで残り</div><div class="timer"><div id="timer_day"></div>日<div id="timer_hours"></div>時間<div id="timer_min"></div>分<div id="timer_sec"></div>秒</div></div>
          <p class="u-Adjust_Mt-16 u-Adjust_Align-center time-Count_End hidden">ポイントアップ期間は終了しました。</p>
        </div>

        <div class="<%= nameSpace %>-application-campaign-Layout_timer time-Count_Area hidden timer-Sp">
          <div class="u-Adjust_Mt-16 u-Adjust_Align-center time-Count"><div>ポイントアップ期間終了まで残り</div><div class="timer"><div id="timer_day_sp"></div>日<div id="timer_hours_sp"></div>時間<div id="timer_min_sp"></div>分<div id="timer_sec_sp"></div>秒</div></div>
          <p class="u-Adjust_Mt-16 u-Adjust_Align-center time-Count_End hidden">ポイントアップ期間は終了しました。</p>
        </div>
      <% } %>

        <p class="u-Adjust_Mt-32 u-Adjust_Align-center c-Txt_Emp-01">キャンペーン特典を適用するには下記のボタンよりお申し込みが必要です。</p>
        <ul class="u-Adjust_Align-center u-Adjust_Mt-16">
          <li><a href="https://r10.to/mobile_CB_W1" class="c-Btn_Primary-large">楽天モバイルと楽天カードと<br class="guide-application-campaign-Utility_Br-sp">楽天銀行を<br class="guide-application-campaign-Utility_Br-pc">一緒に申し込む</a></li>
        </ul>

        <p class="c-Txt_Cap <%= nameSpace %>-application-campaign-Note_Cap u-Adjust_Mt-16">
          ※楽天モバイルと楽天カードと楽天銀行をお申し込みの場合、楽天カード・楽天銀行のお申し込み完了後、楽天モバイルのお申し込み画面へ進みます。<br>
          ※楽天モバイル、または楽天カード、楽天銀行からお手続きについてのご案内メールをさせて頂く場合がございます。<br>
          ※楽天モバイルよりお手続きに関するご案内を行うため、楽天カードが楽天モバイルに対し、お客様のお申し込み情報を提供することに同意して、楽天モバイルと楽天カードを一緒に申し込みします。
        </p>

        <ul class="u-Adjust_Align-center u-Adjust_Mt-32">
          <li><a href="https://onboarding.mobile.rakuten.co.jp/?l-id=application_card-bank-campaign_button_onboarding" class="c-Btn_Secondly-large">楽天モバイルのみ申し込む</a></li>
        </ul>
      </div>

      <div id="js-trigger-nav"></div>

      <div class="<%= nameSpace %>-application-campaign-Layout_Special" id="js-fixed-nav" aria-expanded="false">
        <div class="l-System_Container">
          <h2 class="c-Heading_Lv2">同時お申し込みサービス選択</h2>
          <div class="<%= nameSpace %>-application-campaign-Layout_Special-card">
            <a href="<%= sitepath %>guide/application/card-bank-campaign/?l-id=guide_application_card-bank-campaign_bnr_card-bank-campaign" class="c-Card_Normal" aria-current="true">
              <div class="<%= nameSpace %>-application-campaign-Layout_Special-img">
                <img src="<%= sitepath %>assets/img/guide/application/card-bank/img-link-card-bank.png" width="218" alt="">
              </div>
            <% if (information.campaignState == 'finish') { %>
              <h3><img src="<%= sitepath %>assets/img/guide/application/card-bank/img-link-card-bank-txt-15000.png?240315" width="296" alt="楽天モバイル+楽天カード+楽天銀行ご契約の方最大15,000ポイント"></h3>
            <% } else { %>
              <!-- else -->
              <h3><img src="<%= sitepath %>assets/img/guide/application/card-bank/img-link-card-bank-txt-18000.png?231206" width="296" alt="楽天モバイル+楽天カード+楽天銀行ご契約の方最大18,000ポイント"></h3>
            <% } %>
            </a>
            <a href="<%= sitepath %>guide/application/card-campaign/?l-id=guide_application_card-bank-campaign_bnr_card-campaign" class="c-Card_Normal">
              <div class="<%= nameSpace %>-application-campaign-Layout_Special-img">
                <img src="<%= sitepath %>assets/img/guide/application/card-bank/img-link-card.png" width="126" alt="">
              </div>
            <% if (information.campaignState == 'finish') { %>
              <h3><img src="<%= sitepath %>assets/img/guide/application/card-bank/img-link-card-txt-14000.png?240315" width="296" alt="楽天モバイル+楽天カードご契約の方最大14,000ポイント"></h3>
            <% } else { %>
              <!-- else -->
              <h3><img src="<%= sitepath %>assets/img/guide/application/card-bank/img-link-card-txt-17000.png?231206" width="296" alt="楽天モバイル+楽天カードご契約の方最大17,000ポイント"></h3>
            <% } %>
            </a>
            <a href="<%= sitepath %>guide/application/bank-campaign/?l-id=guide_application_card-bank-campaign_bnr_bank-campaign" class="c-Card_Normal">
              <div class="<%= nameSpace %>-application-campaign-Layout_Special-img">
                <img src="<%= sitepath %>assets/img/guide/application/card-bank/img-link-bank.png" width="134" alt="">
              </div>
              <h3><img src="<%= sitepath %>assets/img/guide/application/card-bank/img-link-bank-txt-10000.png?240315" width="296" alt="楽天モバイル+楽天銀行ご契約の方最大10,000ポイント"></h3>
            </a>
          </div>
        </div>
      </div>

      <div id="js-trigger"></div>

      <div class="l-System_Container">
        <div class="u-Adjust_Mt-32" id="campaign_rule01">
          <div class="guide-application-campaign-Utility-Infobox_Standing-border">
            <h3 class="c-Heading_Lv3 guide-application-campaign-Utility_Align-title">楽天モバイル＋楽天カード＋楽天銀行お申し込みの場合</h3>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
              <div class="<%= nameSpace %>-Pointdetails <%= nameSpace %>-card-bank">
                <ul class="<%= nameSpace %>-Pointdetails_Flow">
                <% if (information.campaignState == 'finish') { %>
                  <li>
                    <div class="<%= nameSpace %>-Pointdetails_Img">
                      <picture>
                        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/application/card-bank/img-pointdetails-02-card-bank-sp.png?230801">
                        <img src="<%= sitepath %>assets/img/guide/application/card-bank/img-pointdetails-02-card-bank.png?230801" alt="楽天カード新規入会＆利用で5,000ポイント※1">
                      </picture>
                    </div>
                <% } else { %>
                  <!-- else -->
                  <li class="<%= nameSpace %>-Pointdetails_Pointup">
                    <div class="<%= nameSpace %>-Pointdetails_Pointup-callout">
                      <picture>
                        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/application/card-bank/img-pointdetails-07-card-bank-sp.png?231206">
                        <img src="<%= sitepath %>assets/img/guide/application/card-bank/img-pointdetails-07-card-bank.png?231206" alt="3,000ポイント増量中">
                      </picture>
                    </div>
                    <div class="<%= nameSpace %>-Pointdetails_Img">
                      <picture>
                        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/application/card-bank/img-pointdetails-02-card-bank-pointup-sp.png?231206">
                        <img src="<%= sitepath %>assets/img/guide/application/card-bank/img-pointdetails-02-card-bank-pointup.png?231206" alt="楽天カード新規入会＆利用で8,000ポイント※1 <%= information.campaignScheduleStarl %>～<%= information.campaignScheduleFinish %>">
                      </picture>
                    </div>
                <% } %>
                  </li>
                  <li>
                    <div class="<%= nameSpace %>-Pointdetails_Icon guide-application-campaign-Utility_Show-sp">
                      <img src="<%= sitepath %>assets/img/guide/application/card-bank/img-pointdetails-01.png?230801" alt="＋"></div>
                    <div class="<%= nameSpace %>-Pointdetails_Img">
                      <picture>
                        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/application/card-bank/img-pointdetails-03-card-bank-sp.png?230801">
                        <img src="<%= sitepath %>assets/img/guide/application/card-bank/img-pointdetails-03-card-bank.png?230801" alt="【毎月開催】楽天銀行の口座開設&入金で1,000ポイント">
                      </picture>
                    </div>
                  </li>
                </ul>
                <ul class="<%= nameSpace %>-Pointdetails_Flow u-Adjust_Mt-16">
                  <li>
                    <div class="<%= nameSpace %>-Pointdetails_Icon guide-application-campaign-Utility_Show-sp">
                      <img src="<%= sitepath %>assets/img/guide/application/card-bank/img-pointdetails-01.png?230801" alt="＋"></div>
                    <div class="<%= nameSpace %>-Pointdetails_Img">
                      <picture>
                        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/application/card-bank/img-pointdetails-04-card-bank-sp_231101.png?231101">
                        <img src="<%= sitepath %>assets/img/guide/application/card-bank/img-pointdetails-04-card-bank_231101.png?231101" alt="楽天モバイルと楽天カードまたは楽天銀行を同時申込みで3,000ポイント※2※3※4 ">
                      </picture>
                    </div>
                    <p class="u-Adjust_Align-center <%= nameSpace %>-Pointdetails_Cap">※はじめての楽天モバイル契約に限る<br>
                      ※同時申し込み特典はいずれかのお申し込みに限る ※常時開催<br>
                      <span class="c-Txt_Emp-02">※「Rakuten最強プラン（データタイプ）」は対象外</span></p>
                  </li>
                  <li>
                    <div class="<%= nameSpace %>-Pointdetails_Icon guide-application-campaign-Utility_Show-sp">
                      <img src="<%= sitepath %>assets/img/guide/application/card-bank/img-pointdetails-01.png?230801" alt="＋"></div>
                    <div class="<%= nameSpace %>-Pointdetails_Img">
                      <picture>
                        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/application/card-bank/img-pointdetails-05-card-bank-sp_231101.png?240315">
                        <img src="<%= sitepath %>assets/img/guide/application/card-bank/img-pointdetails-05-card-bank_231101.png?240315" alt="楽天モバイルはじめて＆電話番号そのまま
                        他社からお乗り換えでだれでも6,000ポイント※5">
                      </picture>
                    </div>
                    <p class="u-Adjust_Align-center <%= nameSpace %>-Pointdetails_Cap">※ほかのキャンペーンが優先的に適用されている場合、<br>
                      上記キャンペーンが併用出来ない場合があります。<br>
                      <span class="c-Txt_Emp-02">※「Rakuten最強プラン（データタイプ）」は対象外</span></p>
                  </li>
                  <li class="guide-application-campaign-Utility_Show-pc">
                    <div class="<%= nameSpace %>-Pointdetails_Icon u-Adjust_Align-center">
                      <img src="<%= sitepath %>assets/img/guide/application/card-bank/img-pointdetails-01.png?230801" alt="＋"></div>
                  </li>
                </ul>
                <div class="u-Adjust_Mt-8">
                  <picture>
                  <% if (information.campaignState == 'finish') { %>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/application/card-bank/img-pointdetails-06-card-bank-sp_231101.png?240315">
                    <img src="<%= sitepath %>assets/img/guide/application/card-bank/img-pointdetails-06-card-bank_231101.png?240315" alt="最大15,000ポイント">
                  <% } else { %>
                    <!-- else -->
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/application/card-bank/img-pointdetails-06-card-bank-pointup-sp.png?231206">
                    <img src="<%= sitepath %>assets/img/guide/application/card-bank/img-pointdetails-06-card-bank-pointup.png?231206" alt="最大18,000ポイント">
                  <% } %>
                  </picture>
                </div>
              </div>
            </div>
            <div class="c-Accordion u-Adjust_Mt-16">
              <button type="button" id="accordion-10" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-10"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>詳細を確認する　<span class="c-Txt_Cap">※必ず詳細をご確認ください</span></button>
              <div id="accordion-content-10" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-10" aria-hidden="true">
                <p class="c-Txt_Cap">
                  ※本企画は予告なく特典内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください。<br>
                  ※ 楽天カードの審査状況によっては審査完了までお時間をいただく場合があります。21:15～翌8:40にカードをお申し込みの場合は、翌8:40以降に入会審査を行います。<br>
                <% if (information.campaignState == 'finish') { %>
                  ※1 5,000ポイントのうち2,000ポイントは、入会審査の可決後に期間限定ポイントとして進呈いたします。（入会審査が可決の方へのみ進呈）<br>また本ページ以外からのお申し込みは、本日のお買い物から使える2,000ポイント進呈の対象外となりますのでご注意ください。<br>過去にカードを受け取ったことのある方、過去に入会特典ポイントを受け取ったことのある方はポイント進呈の対象外となりますのでご注意ください。<br>5,000ポイントのうち3,000ポイントは、カード初回利用日の翌月末頃に期間限定ポイントとして進呈いたします。また、お申し込み日の翌月末までにカードショッピングを1回以上ご利用が必要です。口座振替設定期限の時点で口座振替設定がされている必要がございます。詳しくは進呈条件をご確認ください。<br>
                <% } else { %>
                  <!-- else -->
                  ※1 8,000ポイントのうち、2,000ポイントは、入会審査の可決後に期間限定ポイントとして進呈いたします。（入会審査が可決の方へのみ進呈）<br>また本ページ以外からのお申し込みは、本日のお買い物から使える2,000ポイント進呈の対象外となりますのでご注意ください。<br>過去にカードを受け取ったことのある方、過去に入会特典ポイントを受け取ったことのある方はポイント進呈の対象外となりますのでご注意ください。<br>8,000ポイントのうち、6,000ポイントは、カード初回利用日の翌月末頃に期間限定ポイントとして進呈いたします。また、お申し込み日の翌月末までにカードショッピングを1回以上ご利用が必要です。口座振替設定期限の時点で口座振替設定がされている必要がございます。詳しくは進呈条件をご確認ください。<br>
                <% } %>
                  ※2 3,000ポイントは、対象期間内に楽天モバイル申し込みサイトから楽天カード新規入会が必要です。楽天カードに過去お申し込み履歴がありカード発行されたことのある方（すでに退会された方・カード切り替えのお申し込みをされた方含む）は楽天モバイル同時申し込み特典の対象外となりますのでご注意ください。なお、特典進呈の条件を達成するには、期日までに楽天モバイルプランの利用開始と、「Rakuten最強プラン」をお申し込みした回線で「Rakuten Link」を用いた発信での10秒以上の通話も必要です。詳細を必ず確認ください。詳しくは楽天モバイルと楽天カード同時申し込み進呈条件をご確認ください。<br>
                  ※3 3,000ポイントは、対象期間内に楽天モバイル申し込みサイトから楽天銀行新規口座開設申込、口座開設完了及び楽天銀行のハッピープログラムにエントリーし、登録が必要です。楽天銀行に過去にお申し込み履歴がある方は楽天モバイル同時申し込み特典の対象外となりますのでご注意ください。なお、特典進呈の条件を達成するには、期日までに楽天モバイルプランの利用開始と、「Rakuten最強プラン」をお申し込みした回線で「Rakuten Link」を用いた発信での10秒以上の通話も必要です。詳細を必ず確認ください。詳しくは楽天モバイルと楽天銀行同時申し込み進呈条件をご確認ください。<br>
                  ※4 1回線目のみ。初めてお申し込みが対象。Rakuten Link利用など条件あり。期間限定ポイントで付与<br>
                  ※5 1回線目のみ。はじめて＆電話番号そのまま、他社からのお乗り換えが対象。Rakuten Link利用など条件あり。期間限定ポイントで付与<br>
                  ※ 「Rakuten最強プラン」のプラン利用開始および「Rakuten Link」アプリの利用が確認された月の翌々末日ごろから3カ月間にわたり付与
                </p>
              </div>
            </div>


          </div>
        </div>


        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">ポイント獲得の内訳</h2>
        <h3 class="c-Heading_Lv3 u-Adjust_Mt-32">楽天カード新規入会＆利用特典</h3>
        <div class="<%= nameSpace %>-application-campaign-Utility-Infobox_Standing-border u-Adjust_Mt-16">
        <% if (information.campaignState == 'finish') { %>
        <% } else { %>
          <!-- else -->
          <div class="c-Theme-Emphasis1 u-Adjust_Mt-8 u-Adjust_Align-center u-Adjust_Pt-8 u-Adjust_Pb-8">
            <span class="c-Txt_Emp-02">【期間限定】12月18日（月）AM10時まで！</span>
          </div>
        <% } %>

        <% if (information.campaignState == 'finish') { %>
          <div class="u-Adjust_Pt-8 u-Adjust_Pb-16">
            <img src="<%= sitepath %>assets/img/guide/application/card-bank/img-card5000-pc_221101.png?221101" width="892" alt="楽天カード　年会費永年無料　新規入会＆利用でもれなく5,000ポイント" class="guide-application-campaign-Utility_Show-pc" style="margin: 0 auto;">
            <img src="<%= sitepath %>assets/img/guide/application/card-bank/img-card5000-sp_221101.png?221101" alt="楽天カード　年会費永年無料　新規入会＆利用でもれなく5,000ポイント" class="guide-application-campaign-Utility_Show-sp">
          </div>
        <% } else { %>
          <!-- else -->
          <div class="u-Adjust_Pt-8 u-Adjust_Pb-16 u-Adjust_Mt-24">
            <img src="<%= sitepath %>assets/img/guide/application/card-bank/img-card8000-pc.png?231206" width="892" alt="楽天カード　年会費永年無料　新規入会＆利用でもれなく8,000ポイント" class="guide-application-campaign-Utility_Show-pc" style="margin: 0 auto;">
            <img src="<%= sitepath %>assets/img/guide/application/card-bank/img-card8000-sp.png?231206" alt="楽天カード　年会費永年無料　新規入会＆利用でもれなくもれなく8,000ポイント" class="guide-application-campaign-Utility_Show-sp">
          </div>
        <% } %>
        <p class="guide-application-campaign-Benefit_Note">審査は最短2分～<span class="c-Txt_Cap">※1</span>。本日から楽天カードがご利用できます<br>
          審査の状況によっては審査完了までお時間をいただく場合があります。
          </p>
        <% if (information.campaignState == 'finish') { %>
        <% } else { %>
          <!-- else -->
          <h4 class="c-Heading_Lv4 u-Adjust_Align-center">【ポイントアップ期間】<br class="guide-application-campaign-Utility_Br-sp"><%= information.campaignScheduleStarl %>～<%= information.campaignScheduleFinish %></h4>
        <% } %>
          <div class="u-Adjust_Align-center u-Adjust_Pt-8 c-Txt_Emp-02">
          2022年4月1日から成人年齢が引き下げられました。正しいクレジットカード利用について詳細は<a href="https://www.rakuten-card.co.jp/support/guide/start-cardlife/?l-id=corp_sp_acqired_to_start-cardlife" target="_blank" class="c-Link_Txt-inline">こちら<span class="c-Icon_New-window-l"></span></a>
          </div>
        </div>

          <div class="c-Accordion u-Adjust_Mt-32">
          <% if (information.campaignState == 'finish') { %>
            <button type="button" id="accordion-11" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-11"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>5,000ポイント獲得の３ステップ　<br class="guide-application-campaign-Utility_Br-sp"><span class="c-Txt_Cap">※ポイント（期間限定ポイント）の進呈には条件がございます。こちらをクリックして必ずご確認ください。</span></button>
          <% } else { %>
            <!-- else -->
            <button type="button" id="accordion-11" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-11"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>8,000ポイント獲得の３ステップ　<br class="guide-application-campaign-Utility_Br-sp"><span class="c-Txt_Cap">※ポイント（期間限定ポイント）の進呈には条件がございます。こちらをクリックして必ずご確認ください。</span></button>
          <% } %>
            <div id="accordion-content-11" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-11" aria-hidden="true">

              <ol class="c-Flow u-Adjust_Mt-32">
                <li>
                  <div class="<%= nameSpace %>-application-campaign-Layout-Grid">
                    <div class="u-Adjust_Pr-24">
                      <p class="c-Txt_Emp-02 c-Txt_Normal-l">STEP1</p>
                    </div>
                    <div>
                      <div class="<%= nameSpace %>-application-campaign-Layout-Grid_Title">
                        <div>
                          <img src="<%= sitepath %>assets/img/guide/application/campaign/icon-card.png" width="66" alt="">
                        </div>
                        <div class="c-Txt_Normal-l">
                          <span class="c-Txt_Emp-01">楽天カードをお申し込み</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="<%= nameSpace %>-application-campaign-Layout-Grid">
                    <div class="u-Adjust_Pr-24">
                      <p class="c-Txt_Emp-02 c-Txt_Normal-l">STEP2</p>
                    </div>
                    <div>
                      <div class="<%= nameSpace %>-application-campaign-Layout-Grid_Title">
                        <div>
                          <img src="<%= sitepath %>assets/img/guide/application/campaign/icon-mail.png" width="66" alt="">
                        </div>
                        <div class="c-Txt_Normal-l">
                          <span class="c-Txt_Emp-01">審査結果をメールでご連絡（最短2分～）</span><span class="c-Txt_Cap">※1</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="c-Theme-Light u-Adjust_Mt-16">
                    <p class="c-Txt_Emp-01">楽天カード新規入会特典</p>
                    <p class="c-Txt_Emp-01">本ページからお申し込みの方は最短2分～<span class="c-Txt_Cap">※1</span>
                      <br class="guide-application-campaign-Utility_Br-sp">
                      で<span class="c-Txt_Normal-ll c-Txt_Emp-02">2,000</span>ポイントGET<span class="c-Txt_Cap">※2</span></p>
                    <p class="c-Txt_Emp-01">本日の楽天モバイル製品購入にも<span class="c-Txt_Normal-ll c-Txt_Emp-02">利用可能</span></p>
                  </div>
                  <p class="c-Txt_Cap u-Adjust_Mt-16">※1 審査の状況によっては審査完了までお時間をいただく場合があります。21:15～翌8:40にカードをお申し込みの場合は、翌8:40以降に入会審査を行います。</p>
                  <p class="c-Txt_Cap">※2 進呈ポイントは期間限定ポイントになります。 詳しくは進呈条件をご確認ください。</p>
                </li>

                <li>
                  <div class="<%= nameSpace %>-application-campaign-Layout-Grid">
                    <div class="u-Adjust_Pr-24">
                      <p class="c-Txt_Emp-02 c-Txt_Normal-l">STEP3</p>
                    </div>
                    <div>
                      <div class="<%= nameSpace %>-application-campaign-Layout-Grid_Title">
                        <div>
                          <img src="<%= sitepath %>assets/img/guide/application/campaign/icon-mail2.png" width="66" alt="">
                        </div>
                        <div class="c-Txt_Normal-l">
                          <span class="c-Txt_Emp-01">楽天カード初回利用</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="c-Theme-Light u-Adjust_Mt-16">
                    <p class="c-Txt_Emp-01">楽天カード利用特典</p>
                    <p class="c-Txt_Emp-01">楽天カード1回以上利用で
                      <br class="guide-application-campaign-Utility_Br-sp">
                    <% if (information.campaignState == 'finish') { %>
                      <span class="c-Txt_Normal-ll c-Txt_Emp-02">3,000</span>ポイントGET<span class="c-Txt_Cap">※</span>
                    <% } else { %>
                      <!-- else -->
                      <span class="c-Txt_Normal-ll c-Txt_Emp-02">6,000</span>ポイントGET<span class="c-Txt_Cap">※</span>
                    <% } %>
                    </p>
                  </div>
                <% if (information.campaignState == 'finish') { %>
                  <p class="c-Txt_Cap u-Adjust_Mt-16">※進呈ポイントは期間限定ポイントとなります。</p>
                <% } else { %>
                  <!-- else -->
                  <p class="c-Txt_Cap u-Adjust_Mt-16">※進呈ポイントは期間限定ポイントとなります。</p>
                <% } %>
                </li>
              </ol>

          <div class="<%= nameSpace %>-application-campaign-Utility-Infobox_Standing-light u-Adjust_Mt-16">
            <dl class="guide-application-campaign-Benefit_Box">
              <dt class="guide-application-campaign-Benefit_Box-ttl">さらに</dt>
                <dd>
                  <span class="c-Txt_Emp-01">
                    審査完了後（最短2分～）で、本日お申し込みの<span class="c-Txt_Emp-02 guide-application-campaign-Benefit_Box-emph">『楽天カード』</span>が楽天モバイルのお支払いや製品購入に利用可能！</span>

                    <ol class="c-List_Ordered u-Adjust_Mt-24 c-Txt_Normal">
                        <li>プランのお支払い方法画面にて<span class="c-Txt_Emp-02">更新ボタン</span>※1を押してアップデート</li>
                        <li>新規でお申し込みの<span class="c-Txt_Emp-02">『楽天カード』</span>が選択可能に！</li>
                        <li>楽天カードの審査完了画面に表示されたカード番号と有効期限を確認し、選択</li>
                        <li><span class="c-Txt_Emp-02">『楽天カード』</span>でお支払い設定完了！</li>
                      </ol>

                    <div class="u-Adjust_Mt-24  u-Adjust_Align-center">
                      <img src="<%= sitepath %>assets/img/guide/application/campaign/img_guide_step01.png" width="423" class="" style="margin: 0 auto;" alt="プランのお支払い方法">
                    </div>

                  <ul class="<%= nameSpace %>-application-campaign-Utility-List_Cap u-Adjust_Mt-16">
                    <li class="c-Txt_Emp-02"><span>※</span>ご利用代金お支払い口座について『インターネットで口座設定手続き』された方のみ対象となります。お手元にキャッシュカードなどをご用意ください。</li>
                    <li class="c-Txt_Emp-02"><span>※</span>審査完了のお客様は、クレジットカードが手元に届く前でも楽天カードのご利用が可能です。詳しくは完了後の画面にてご確認ください。</li>
                    <li><span>※</span><span class="c-Txt_Emp-01">カードお受け取り前のご利用には所定の審査がございます。楽天モバイルのスマートフォン購入分に限らず、その他アクセサリー購入分も対象となります。</span></li>
                    <li><span>※</span>審査完了後、<span class="c-Txt_Emp-01">審査可決の場合は申し込み完了画面にカード番号下4桁（アメリカン・エキスプレス®は5桁）とセキュリティコード3桁（アメリカン・エキスプレス®は4桁）</span>が表示されご確認いただけます。</li>
                  </ul>
              </dd>
            </dl>
          </div>

        </div>
          </div>

        <div class="c-Accordion" id="conditions">
          <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天カード新規入会＆利用進呈条件</button>
          <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
            <dl class="c-Dl_Origin">
              <div>
                <dt>期間</dt>
              <% if (information.campaignState == 'finish') { %>
                <dd>常時開催</dd>
              <% } else { %>
                <!-- else -->
                <dd>2023年<%= information.campaignScheduleStarl %>～2023年<%= information.campaignScheduleFinish %></dd>
              <% } %>
              </div>
              <div>
                <dt>カード利用期限</dt>
              <% if (information.campaignState == 'finish') { %>
                <dd>
                  カードお申し込み日の翌月末まで
                  <ul class="<%= nameSpace %>-application-campaign-Utility-List_Cap u-Adjust_Mt-8">
                    <li><span>※</span>カードお申し込み日の翌々月末までにカードご利用店舗から楽天カード（株）へのカード利用情報の到着が必須となります。</li>
                  </ul>
                </dd>
              <% } else { %>
                <!-- else -->
                <dd>
                  <%= information.campaignScheduleCarduse %>
                  <ul class="<%= nameSpace %>-application-campaign-Utility-List_Cap u-Adjust_Mt-8">
                    <li><span>※</span><%= information.campaignScheduleCardInformation %>までにカードご利用店舗から楽天カード（株）へのカード利用情報の到着が必須となります。</li>
                  </ul>
                </dd>
              <% } %>
              </div>
              <div>
                <dt>口座振替設定期限</dt>
                <dd>カードお申し込み日の翌々月25日まで</dd>
              </div>
              <div>
                <dt>特典</dt>
                <dd>【楽天カード新規入会特典】2,000ポイント （期間限定ポイント）<br>
                <% if (information.campaignState == 'finish') { %>
                  【楽天カード利用特典】3,000ポイント （期間限定ポイント）
                <% } else { %>
                  <!-- else -->
                【楽天カード利用特典】6,000ポイント （期間限定ポイント）<br>
                <p class="text-style01 u-Adjust_Mt-8">・<a href="https://point.rakuten.co.jp/guidance/terms/" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて詳細を見る<span class="c-Icon_New-window-l"></span></a></p>
                <% } %>
                </dd>
              </div>
              <div>
              <% if (information.campaignState == 'finish') { %>
                <dt>ポイント進呈日</dt>
              <% } else { %>
                <!-- else -->
                <dt>ポイント進呈予定日</dt>
              <% } %>
                <dd>【楽天カード新規入会特典】審査可決後<br>
                  審査の状況によってはポイント進呈までお時間をいただきます。その場合は、お申し込みから約2分後にメールにてご連絡申し上げます。<br>
                  21:15～翌8:40のお申し込みは、翌8:40以降の審査受け付けとなります。<br>
                  お申し込み時にログインした楽天会員登録の口座に楽天ポイントを進呈いたします。<br>
                  有効期限は入会月の5カ月後の月末までとなります。<br>
                  <br>
                  【楽天カード利用特典】カード初回利用と口座振替設定の両方が完了した月の翌月末頃<br>
                  ※諸事情によりポイント進呈が遅れる場合もございますのでご了承ください。<br>
                <% if (information.campaignState == 'finish') { %>
                  有効期限は進呈日の翌月末までとなります。
                <% } else { %>
                  <!-- else -->
                  <span class="text-style01">・<a href="https://r10.to/hrJfAM" target="_blank" class="c-Link_Txt-inline">カード利用特典の進呈タイミングについて詳細を見る<span class="c-Icon_New-window-l"></span></a></span>
                <% } %>
                </dd>
              </div>
              <div>
                <dt>進呈対象</dt>
                <dd>
                  <div>【楽天カード新規入会特典】【楽天カード利用特典】</div>
                  <ul class="c-List_Text-disc u-Adjust_Mt-8">
                    <li>新規のお申し込みで楽天カードが発行された方</li>
                    <li>本ページよりお申し込みの方</li>
                  </ul>
                  <div class="u-Adjust_Mt-16">【楽天カード利用特典】</div>
                  <ul class="c-List_Text-disc u-Adjust_Mt-8">
                    <li>カード利用期限までに1円以上、1回以上対象カード（楽天カード）を利用された方※1</li>
                    <li>口座振替設定期限の時点で口座振替設定が完了されている方※2</li>
                  </ul>
                  <ul class="<%= nameSpace %>-application-campaign-Utility-List_Cap-wide u-Adjust_Mt-8">
                    <li><span>※1</span>ご利用加盟店によってはカード利用情報の到着に時間がかかり、実際のご利用日と異なる場合がございます。<br>
                    また楽天カード株式会社へのカード利用情報到着のタイミングによって、ポイント進呈がカード初回利用日の翌々月以降になる場合や、ポイント進呈対象外となる場合がございます。</li>
                    <li><span>※2</span>お申し込み時に郵送での口座振替設定を選択された方は、口座振替設定完了までに時間がかかる場合がございます。</li>
                  </ul>
                </dd>
              </div>
              <div>
                <dt>進呈対象外</dt>
                <dd>
                  <div>【楽天カード新規入会特典】【楽天カード利用特典】</div>
                  <ul class="c-List_Text-disc u-Adjust_Mt-8">
                    <li>すでにカードをお持ちの方（お申し込み中・カードの到着をお待ちの方も含む）</li>
                    <li>カードお申し込み時の審査において、カードが発行されなかった方</li>
                  <% if (information.campaignState == 'finish') { %>
                    <li>本カード会員様が弊社会員規約(第19条)に基づく楽天カード会員資格の失効、もしくは楽天カード会員および楽天会員を退会されている場合</li>
                  <% } else { %>
                    <!-- else -->
                    <li>ポイント進呈月の前月末時点で、本カード会員様が楽天会員もしくは楽天カード会員を退会されている場合、いずれかの会員規約に違反もしくは会員資格を取り消されている場合</li>
                  <% } %>
                    <li>重複お申し込みの場合</li>
                    <li>ポイント進呈予定日の前月末時点でカードを受け取っていない場合</li>
                    <li>ポイント進呈月の前月末時点で、ご利用可能なカードをお持ちでない場合</li>
                  </ul>
                  <div class="u-Adjust_Mt-16">【楽天カード新規入会特典】</div>
                  <ul class="c-List_Text-disc u-Adjust_Mt-8">
                    <li>過去にカードを受け取ったことのある方</li>
                    <li>過去に入会特典ポイントを受け取ったことのある方</li>
                  </ul>
                  <div class="u-Adjust_Mt-16">【楽天カード利用特典】</div>
                  <ul class="c-List_Text-disc u-Adjust_Mt-8">
                    <li>過去お申し込み履歴があり、カードが発行されたことのある方（すでに退会された方・カード切り替えのお申し込みをされた方含む）</li>
                    <li>過去にカード発行履歴のある楽天IDを利用してお申し込みをされた方</li>
                    <li>1つの楽天IDを使って複数の方がカードお申し込みいただいた場合</li>
                    <li>ポイント進呈月の前月末時点で、楽天IDが弊社で特定できない場合</li>
                  </ul>
                  <div class="u-Adjust_Mt-16">＜以下のご利用分は、対象外となります。＞</div>
                  <ul class="c-List_Text-disc u-Adjust_Mt-8">
                    <li>2枚目に作成いただいた楽天カードのご利用分</li>
                    <li>楽天市場や楽天ペイなどでのポイントご利用分</li>
                    <li>キャッシングのご利用分およびATM手数料</li>
                    <li>明細書発行費用</li>
                    <li>カード年会費（ETCカード年会費など）および、楽天PINKカードの月額サービス料</li>
                    <li>キャンセルされたご利用分</li>
                  </ul>
                </dd>
              </div>
              <div>
                <dt>備考</dt>
                <dd>
                  <ul class="c-List_Text-disc">
                    <li>18歳未満、海外在住の方はカードをお申し込みいただけません。</li>
                    <li>カード発行には所定の審査がございます。</li>
                    <li>ポイント進呈までに楽天カード会員および楽天会員登録の情報変更があった場合、ポイント進呈ができない場合がございます。</li>
                    <li>本企画は、やむを得ず変更・中止する場合がございます。</li>
                    <li>弊社に登録されている楽天IDが複数ある場合、進呈されない場合がございます。</li>
                    <li>お申し込みの際には、ご本人様の楽天IDをご利用ください。</li>
                    <li>年末年始、ゴールデンウィーク、連休のお申し込みについては、通常よりもお届けが遅れる場合がございます。あらかじめご了承ください。</li>
                    <li>ポイント進呈時点で、上記以外のその他の事由により特典の進呈ができない場合がございます。</li>
                  </ul>
                  <div class="u-Adjust_Mt-16">＜楽天カードのお申し込みに関するお問い合わせ先＞</div>
                  <div class="u-Adjust_Mt-8">楽天カード株式会社コンタクトセンター</div>
                  <div class="u-Adjust_Mt-8">0570-66-6910（営業時間9:30～17:30）</div>
                  <ul class="<%= nameSpace %>-application-campaign-Utility-List_Cap u-Adjust_Mt-8">
                    <li><span>※</span>上記電話番号がご利用いただけない場合は092-474-6287をご利用ください。</li>
                  </ul>
                </dd>
              </div>
            </dl>
          </div>
        </div>


        <!-- <p class="u-Adjust_Mt-32 u-Adjust_Align-center c-Txt_Emp-01">キャンペーン特典を適用するには下記のボタンよりお申し込みが必要です。</p>
        <ul class="u-Adjust_Align-center u-Adjust_Mt-8">
          <li><a href="https://r10.to/mobile_CB_W1" class="c-Btn_Primary-large">楽天モバイルと楽天カードと<br class="guide-application-campaign-Utility_Br-sp">楽天銀行を一緒に申し込む</a></li>
        </ul>
        <ul class="guide-application-campaign-Btn_Note <%= nameSpace %>-application-campaign-Utility-List_Cap u-Adjust_Mt-16">
          <li><span>※</span>楽天モバイルと楽天カードと楽天銀行をお申し込みの場合、楽天カード・楽天銀行のお申し込み完了後、楽天モバイルのお申し込み画面へ進みます。</li>
        </ul>
        <ul class="u-Adjust_Align-center u-Adjust_Mt-16">
          <li><a href="https://r10.to/mobile_C_W2" class="c-Btn_Secondly-large">楽天モバイルと楽天カードで<br class="guide-application-campaign-Utility_Br-sp">申し込む</a></li>
        </ul> -->

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-48">楽天銀行口座開設＆入金特典</h2>
        <div class="<%= nameSpace %>-application-campaign-Utility-Infobox_Standing-border u-Adjust_Mt-16">
          <div><img src="<%= sitepath %>assets/img/guide/application/card-bank/img-bank-pc_221101.png?221101" alt="楽天銀行口座開設＆入金するともれなく1,000ポイント" class="guide-application-campaign-Utility_Show-pc"><img src="<%= sitepath %>assets/img/guide/application/card-bank/img-bank-sp_221101.png?221101" alt="楽天銀行口座開設＆入金するともれなく1,000ポイント" class="guide-application-campaign-Utility_Show-sp"></div>
          <p class="guide-application-campaign-Benefit_Note">口座開設も振込・明細チェックもスマホでOK！</p>
          <p class="guide-application-campaign-Benefit_Headline"><span class="c-Txt_Emp-02">メリットもたくさん！</span></p>
          <ul class="c-List_Text-disc u-Adjust_Mt-8">
            <li>最大月7回！ATM手数料0円</li>
            <li>スマホで24時間365日サービス利用※</li>
            <li>利用のたびに楽天ポイントが貯まるので、クレジットカードの引落や口座振替もおトク</li>
          </ul>
          <ul class="<%= nameSpace %>-application-campaign-Utility-List_Cap u-Adjust_Mt-16">
            <li><span>※</span>メンテナンス時間を除く</li>
          </ul>
        </div>

        <ul class="<%= nameSpace %>-application-campaign-Utility-List_Cap-wide u-Adjust_Mt-16">
          <li><span>※</span>詳細をご確認ください。</li>
        </ul>

        <div class="c-Accordion u-Adjust_Mt-40">
          <button id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天銀行口座開設＆入金獲得の流れ</button>
          <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">

            <ul class="guide-application-campaign-Utility-Flow_List u-Adjust_Pt-8">
              <li>
                <p class="c-Heading_Lv3"><span class="c-Txt_Emp-02">STEP1</span> 楽天銀行新規口座開設申込</p>
              </li>
              <li>
                <p class="c-Heading_Lv3"><span class="c-Txt_Emp-02">STEP2</span> 楽天銀行新規口座開設完了</p>
            </li>
              <li>
                <p class="c-Heading_Lv3"><span class="c-Txt_Emp-02">STEP3</span> 入金完了</p>
            </li>
              <li>
                <p class="c-Heading_Lv3">楽天銀行口座開設＆入会特典1,000ポイントGET(入金完了期限の翌月下旬目途で進呈)</p>
                <ul class="<%= nameSpace %>-application-campaign-Utility-List_Cap u-Adjust_Mt-8">
                  <li><span>※</span>期間限定ポイントにて進呈</li>
                  <li><span>※</span>特典進呈には条件達成が必要です。詳しくは楽天銀行口座開設＆入金進呈条件をご確認ください。</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天銀行口座開設＆入金進呈条件　<span class="c-Txt_Cap">※必ずご確認ください</span></button>
          <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
            <dl class="c-Dl_Origin">
              <div>
                <dt>特典</dt>
                <dd>1,000ポイントを進呈します。各月の日程については以下の「<a href="#accordion-13" class="c-Link_Txt js-scroll js-openAccordion" data-target-accordion="#accordion-13">日程詳細</a>」をご確認下さい</dd>
              </div>
              <div>
                <dt>条件</dt>
                <dd>
                  <p>各月の日程については以下の「<a href="#accordion-13" class="c-Link_Txt js-scroll js-openAccordion" data-target-accordion="#accordion-13">日程詳細</a>」をご確認下さい</p>
                  <p>以下の１～３の条件をすべて達成すること。各条件を満たす順番は問いません。</p>
                  <ol class="c-List_Note u-Adjust_Mt-8">
                    <li><span>1.</span>口座開設申込期間内に、当ページの「楽天銀行と一緒に申し込む」ボタンから楽天銀行口座の開設申込をおこなうこと。</li>
                    <li><span>2.</span>口座開設・入金完了期限までに口座開設と新規開設したご本人さま名義の楽天銀行口座に、「ATMから入金」または「他行から振込」にて入金をすること。</li>
                    <li><span>3.</span>入金完了期限内にハッピープログラムに登録（楽天会員リンク登録）を完了すること。</li>
                  </ol>
                  <ul class="<%= nameSpace %>-application-campaign-Utility-List_Cap u-Adjust_Mt-8">
                    <li><span>※</span>入金金額は問いません。</li>
                    <li><span>※</span>他行からの振込には、給与/賞与/年金/配当金の受取による入金を含みます。</li>
                    <li><span>※</span>アフィリエイト、キャッシュバックサイト、給与等による楽天銀行からの入金は対象外となります。</li>
                    <li><span>※</span>楽天会員リンク登録を申請してから登録完了するまでには約2～3日かかります。</li>
                  </ul>
                </dd>
              </div>
              <div>
                <dt>注意事項</dt>
                <dd>
                  <p>以下の条件に該当する場合には、対象条件を満たしていても楽天ポイントプレゼントの対象外となります。</p>
                  <ul class="<%= nameSpace %>-application-campaign-Utility-List_Cap u-Adjust_Mt-8">
                    <li><span>※</span>楽天銀行が定める基準日において楽天銀行口座が解約されている場合、または利用停止状態となっている場合。</li>
                    <li><span>※</span>その他、不正行為、利用規約違反、その他運営上の趣旨に反していると楽天銀行株式会社が判断した場合。</li>
                  </ul>

                  <div class="u-Adjust_Mt-16">楽天ポイントについて</div>
                  <ul class="<%= nameSpace %>-application-campaign-Utility-List_Cap u-Adjust_Mt-8">
                    <li><span>※</span>特典ポイントをご利用いただける期間が短いのでご注意ください。</li>
                    <li><span>※</span>期間限定ポイントを有効期限までに利用いただいた場合でも、有効期限以降にキャンセルや金額修正などを行なった場合には返還されません。</li>
                    <li><span>※</span>期間限定ポイントの詳細は楽天市場ヘルプページ でご確認ください。</li>
                  </ul>

                  <div class="u-Adjust_Mt-16">その他</div>
                  <ul class="c-List_Text-disc u-Adjust_Mt-8">
                    <li>本企画は、予告なく変更もしくは中止し、または内容を変更する場合があります。</li>
                    <li>本企画と同一の取引を対象とする他のプレゼント企画の適用対象となる場合、本プレゼント企画において提供される景品類が、景品表示法の範囲内に制限される場合があります。</li>
                    <li>口座開設申込は、システムメンテナンス等によりご利用できない場合があります。</li>
                    <li>本企画終了後、別のプレゼント企画を実施する場合があります。</li>
                    <li>本企画は、楽天銀行株式会社が主催しています。</li>
                  </ul>
                </dd>
              </div>
            </dl>
          </div>
        </div>


        <h2 id="campaign-rule" class="c-Heading_Lv2 u-Adjust_Mt-48">楽天モバイルと同時お申し込み特典</h2>
        <p class="c-Txt_Cap u-Adjust_Mt-16">※同時申し込み特典はいずれかのお申し込みに限ります</p>

        <div class="guide-application-campaign-Layout_Note u-Adjust_Mt-40">
          <div class="<%= nameSpace %>-application-campaign-Utility-Infobox_Standing-border u-Adjust_Mt-16 guide-application-campaign-Layout_Note-more-1">
            <div class="c-Theme-Emphasis1 u-Adjust_Mt-16 u-Adjust_Align-center u-Adjust_Pt-8 u-Adjust_Pb-8">
              <span class="c-Txt_Emp-02">常時開催</span>
            </div>
            <div class="u-Adjust_Mt-8 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/application/card-bank/img-mobile-card3000-pc_231101.png?231101" alt="楽天モバイルと楽天カードを同時にお申し込みで3,000ポイント" class="guide-application-campaign-Utility_Show-pc" width="1000"><img src="<%= sitepath %>assets/img/guide/application/card-bank/img-mobile-card3000-sp_231101.png?231101" alt="楽天モバイルと楽天カードを同時にお申し込みで3,000ポイント" class="guide-application-campaign-Utility_Show-sp">
            </div>
            <ul class="<%= nameSpace %>-application-campaign-Utility-List_Cap u-Adjust_Align-left u-Adjust_Mt-16">
              <li><span>※</span>はじめての楽天モバイル契約に限る</li>
              <li class="u-Adjust_Mt-0"><span>※</span>要Link利用。 詳しくは楽天モバイルと楽天カード同時申し込み進呈条件をご確認ください</li>
            </ul>
          </div>
        </div>


        <div class="c-Accordion u-Adjust_Mt-40">
          <button id="accordion-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-6"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイルと楽天カード同時申込特典獲得の流れ</button>
          <div id="accordion-content-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-6" aria-hidden="true">
            <p>対象期間・条件の詳細は<a href="#accordion-3" class="js-scroll">楽天モバイルと楽天カード同時申込進呈条件</a>にて必ずご確認ください</p>
            <ul class="guide-application-campaign-Utility-Flow_List u-Adjust_Pt-8">
              <li>
                <p class="c-Heading_Lv3"><span class="c-Txt_Emp-02">STEP1</span> 本ページより楽天カード新規入会、楽天モバイルお申し込み</p>
              </li>
              <li>
                <p class="c-Heading_Lv3"><span class="c-Txt_Emp-02">STEP2</span> 楽天モバイルプラン利用開始</p>
              </li>
              <li>
                <p class="c-Heading_Lv3"><span class="c-Txt_Emp-02">STEP3</span> 「Rakuten Link」を用いた発信で10秒以上の通話</p>
              </li>
              <li>
                <p class="c-Heading_Lv3">楽天モバイルと楽天カード同時申込特典3,000ポイントGET</p>
                <ul class="<%= nameSpace %>-application-campaign-Utility-List_Cap u-Adjust_Mt-8">
                  <li><span>※</span>期間限定ポイントにて進呈
                    <br>
                    特典進呈には条件達成が必要です。詳しくは楽天モバイルと楽天カード同時申し込み進呈条件をご確認ください。
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="c-Accordion" id="application">
          <button id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイルと楽天カード同時申し込み進呈条件<span class="c-Txt_Cap">※必ずご確認ください</span></button>
          <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
            <!-- 1238 -->
            <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1238', level: '', year: '2023', class: '' }}) %>
          </div>
        </div>

        <p class="c-Txt_Normal-l c-Txt_Emp-01 u-Adjust_Align-center u-Adjust_Mt-16">
          または
        </p>

        <div class="guide-application-campaign-Layout_Note u-Adjust_Mt-32">
          <div class="<%= nameSpace %>-application-campaign-Utility-Infobox_Standing-border u-Adjust_Mt-16 guide-application-campaign-Layout_Note-more-2">
            <div class="c-Theme-Emphasis1 u-Adjust_Mt-16 u-Adjust_Align-center u-Adjust_Pt-8 u-Adjust_Pb-8">
              <span class="c-Txt_Emp-02">常時開催</span>
            </div>
            <div class="u-Adjust_Mt-8 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/application/card-bank/img-mobile-bank3000-pc_231101.png?231101" alt="楽天モバイルと楽天銀行を同時にお申し込みで3,000ポイント" class="guide-application-campaign-Utility_Show-pc" width="1000"><img src="<%= sitepath %>assets/img/guide/application/card-bank/img-mobile-bank3000-sp_231101.png?231101" alt="楽天モバイルと楽天銀行を同時にお申し込みで3,000ポイント" class="guide-application-campaign-Utility_Show-sp">
            </div>
            <ul class="<%= nameSpace %>-application-campaign-Utility-List_Cap u-Adjust_Align-left u-Adjust_Mt-16">
              <li><span>※</span>はじめての楽天モバイル契約に限る</li>
              <li class="u-Adjust_Mt-0"><span>※</span>要Link利用。詳しくは楽天モバイルと楽天銀行同時申し込み進呈条件をご確認ください</li>
            </ul>
          </div>
        </div>

        <div class="c-Accordion u-Adjust_Mt-40">
          <button id="accordion-8" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-8"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイルと楽天銀行同時申込特典獲得の流れ</button>
          <div id="accordion-content-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-8" aria-hidden="true">
            <p>対象期間・条件の詳細は<a href="#accordion-9" class="js-scroll">楽天モバイルと楽天銀行同時申込進呈条件</a>にて必ずご確認ください</p>
            <ul class="guide-application-campaign-Utility-Flow_List u-Adjust_Pt-8">
              <li>
                <p class="c-Heading_Lv3"><span class="c-Txt_Emp-02">STEP1</span> 本ページより楽天銀行新規口座開設お申し込み、楽天モバイルお申し込み</p>
              </li>
              <li>
                <p class="c-Heading_Lv3"><span class="c-Txt_Emp-02">STEP2</span> 楽天銀行新規口座開設完了</p>
              </li>
              <li>
                <p class="c-Heading_Lv3"><span class="c-Txt_Emp-02">STEP3</span> 楽天モバイルプラン利用開始</p>
              </li>
              <li>
                <p class="c-Heading_Lv3"><span class="c-Txt_Emp-02">STEP4</span> 「Rakuten Link」を用いた発信で10秒以上の通話</p>
              </li>
              <li>
                <p class="c-Heading_Lv3">楽天モバイルと楽天銀行同時申込特典3,000ポイントGET</p>
                <ul class="<%= nameSpace %>-application-campaign-Utility-List_Cap u-Adjust_Mt-8">
                  <li><span>※</span>期間限定ポイントにて進呈
                    <br>
                    特典進呈には条件達成が必要です。詳しくは楽天モバイルと楽天銀行同時申し込み進呈条件をご確認ください。
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="c-Accordion" id="bankabout">
          <button id="accordion-9" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-9"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイルと楽天銀行 同時申し込み進呈条件　<span class="c-Txt_Cap">※必ずご確認ください</span></button>
          <div id="accordion-content-9" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-9" aria-hidden="true">
            <!-- 1242 -->
            <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1242', level: '', year: '2023', class: '' }}) %>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-13" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-13"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>日程詳細　<span class="c-Txt_Cap">※必ずご確認ください</span></button>
          <div id="accordion-content-13" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-13" aria-hidden="true">
            <!-- 1242 日程 -->
            <%- include('/include/guide/application/campaign/_guide-rule-1242-schedule.ejs') %>
          </div>
        </div>

        <!-- <p class="u-Adjust_Mt-32 u-Adjust_Align-center c-Txt_Emp-01">キャンペーン特典を適用するには下記のボタンよりお申し込みが必要です。</p>
        <ul class="u-Adjust_Align-center u-Adjust_Mt-8">
          <li><a href="https://r10.to/mobile_CB_W1" class="c-Btn_Primary-large">楽天モバイルと楽天カードと<br class="guide-application-campaign-Utility_Br-sp">楽天銀行を一緒に申し込む</a></li>
        </ul>
        <ul class="guide-application-campaign-Btn_Note <%= nameSpace %>-application-campaign-Utility-List_Cap u-Adjust_Mt-16">
          <li><span>※</span>楽天モバイルと楽天カードと楽天銀行をお申し込みの場合、楽天カード・楽天銀行のお申し込み完了後、楽天モバイルのお申し込み画面へ進みます。</li>
        </ul>
        <ul class="u-Adjust_Align-center u-Adjust_Mt-16">
          <li><a href="https://www.rakuten-bank.co.jp/rd/account/campaign/007.html?scid=wi_rmb_cardbank_web" class="c-Btn_Secondly-large">楽天モバイルと楽天銀行で<br class="guide-application-campaign-Utility_Br-sp">申し込む</a></li>
        </ul> -->


        <h2 class="c-Heading_Lv2 u-Adjust_Mt-48">楽天モバイルはじめてのお申し込み特典</h2>
        <p class="c-Txt_Cap u-Adjust_Mt-16">※はじめて申し込み特典はいずれかの特典に限ります</p>
        <div class="guide-application-campaign-Layout_Note u-Adjust_Mt-32">
          <div class="<%= nameSpace %>-application-campaign-Utility-Infobox_Standing-border u-Adjust_Mt-16 guide-application-campaign-Layout_Note-more-3">
            <div class="c-Theme-Emphasis1 u-Adjust_Mt-16 u-Adjust_Align-center u-Adjust_Pt-8 u-Adjust_Pb-8">
              <span class="c-Txt_Emp-02">常時開催</span>
            </div>
            <div class="u-Adjust_Mt-8 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/application/card-bank/img-app6000-pc.png?240315" alt="Rakuten最強プラン はじめて＆電話番号そのまま他社からお乗り換えでだれでも6,000ポイントプレゼント" class="guide-application-campaign-Utility_Show-pc" width="1000"><img src="<%= sitepath %>assets/img/guide/application/card-bank/img-app6000-sp.png?240315" alt="Rakuten最強プラン はじめて＆電話番号そのまま他社からお乗り換えでだれでも6,000ポイントプレゼント" class="guide-application-campaign-Utility_Show-sp">
            </div>
            <ul class="<%= nameSpace %>-application-campaign-Utility-List_Cap u-Adjust_Align-left">
              <li>※ 1回線目のみ。はじめて＆電話番号そのまま、他社からのお乗り換えが対象。Rakuten Link利用など条件あり。期間限定ポイントで付与</li>
              <li class="u-Adjust_Mt-0">※ キャンペーンによってポイントの進呈時期・有効期間が異なり、分割して進呈される場合もあります。必ず<a href="#campaign_rule01" class="js-scroll">キャンペーン詳細</a>をご確認ください。</li>
            </ul>
            <div class="c-Accordion u-Adjust_Mt-16">
              <button id="accordion-12" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-12"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>【Rakuten最強プランはじめてお申し込み特典】他社から乗り換えでポイントプレゼント　ルール　　<span class="c-Txt_Cap">　※必ずご確認ください</span>
                </button>
              <div id="accordion-content-12" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-12" aria-hidden="true">
                <div>
                  <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2091', level: '', year: '2023', class: '' }}) %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="c-Txt_Normal-l c-Txt_Emp-01 u-Adjust_Mt-16 u-Adjust_Align-center">もしくは</p>
        <div id="campaign_rule03" class="guide-application-campaign-Layout_Note u-Adjust_Mt-16">
          <div class="<%= nameSpace %>-application-campaign-Utility-Infobox_Standing-border u-Adjust_Mt-16">
            <div class="c-Theme-Emphasis1 u-Adjust_Mt-16 u-Adjust_Align-center u-Adjust_Pt-8 u-Adjust_Pb-8">
              <span class="c-Txt_Emp-02">常時開催</span>
            </div>
            <div class="u-Adjust_Mt-8 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/application/card-bank/img-app2000-pc.png?231101" alt="Rakuten最強プラン はじめてのお申し込みでだれでも2,000ポイントプレゼント※" class="guide-application-campaign-Utility_Show-pc" width="1000"><img src="<%= sitepath %>assets/img/guide/application/card-bank/img-app2000-sp.png?231101" alt="Rakuten最強プラン はじめてのお申し込みでだれでも2,000ポイントプレゼント※" class="guide-application-campaign-Utility_Show-sp">
            </div>
            <ul class="<%= nameSpace %>-application-campaign-Utility-List_Cap u-Adjust_Align-left">
              <li>※ 「Rakuten最強プラン」利用開始及びRakuten Linkの利用が確認された月の翌々月末日ごろから5カ月にわたって400ポイントずつ付与。ポイント有効期間はポイント付与日から3カ月後月末まで※対象プラン、Rakuten Link利用等条件あり</li>
            </ul>
            <div class="c-Accordion u-Adjust_Mt-16">
              <button id="accordion-14" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-14"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten最強プランはじめてお申し込み特典】新規ご契約・プラン変更（移行）で2,000ポイントプレゼント　ルール　　<span class="c-Txt_Cap">　※必ずご確認ください</span>
                </button>
              <div id="accordion-content-14" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-14" aria-hidden="true">
                <div>
                  <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2142', level: '', year: '2023', class: '' }}) %>
                </div>
              </div>
            </div>

          </div>
        </div>


        <div class="u-Adjust_Mt-64 u-Adjust_Align-center">
          <a href="<%= sitepath %>guide/application/card-bank-campaign/close.html" class="c-Btn_Regular-large"><span>過去のキャンペーンはこちら</span></a>
        </div>

      </div>
    </div>

    <div class="u-Adjust_Mt-64"></div>
    <!-- ReX UX Survey: Mounting point for embedded components -->
    <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>

    <div class="guide-application-campaign-Btn_Cta_Apply" id="js-fixed-btn" aria-expanded="false">
      <div class="guide-application-campaign-Btn_Cta_Apply-inner">
        <a href="https://onboarding.mobile.rakuten.co.jp/?l-id=application_card-bank-campaign_button_onboarding" class="c-Btn_Secondly guide-application-campaign-Btn_Cta_Apply-btn">
          <span><span class="guide-application-campaign-Btn_Cta_Apply-txt">楽天モバイルのみ</span>申し込む</span>
        </a>
        <a href="https://r10.to/mobile_CB_W1" class="c-Btn_Primary guide-application-campaign-Btn_Cta_Apply-btn">
          <p class="guide-application-campaign-Utility_Show-pc">
            <span><span class="guide-application-campaign-Btn_Cta_Apply-txt">楽天モバイルと楽天カードと楽天銀行を一緒に</span>申し込む</span>
          </p>
          <p class="guide-application-campaign-Utility_Show-sp">
            <span><span class="guide-application-campaign-Btn_Cta_Apply-txt">楽天モバイル・楽天カード・楽天銀行を一緒に</span>申し込む</span>
          </p>
        </a>
      </div>
    </div>

    <footer class="g-Footer u-Adjust_Mt-64">

      <%- include('/include/_footer-simple') %>

    </footer>

  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
<% if (information.campaignState == 'finish') { %>
<% } else { %>
  <!-- else -->
  <script src="<%= sitepath %>assets/js/guide.application-campaign.bundle.js?20240521"></script>
<% } %>
<!-- ReX UX Survey: Config -->
<script>
  window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
  </script>
  <!-- ReX UX Survey: Script -->
  <script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>

  <script>
    (function ($) {
      const trigger = document.getElementById('js-trigger');
      const fixedBtn = document.getElementById('js-fixed-btn');

      function fixedBottomBtn() {
        let scrollY = window.pageYOffset;
        const triggerRect = trigger.getBoundingClientRect();
        const triggerY = scrollY + triggerRect.top;

        if (scrollY + window.innerHeight > triggerY) {
          fixedBtn.setAttribute('aria-expanded', 'true');
        } else {
          fixedBtn.setAttribute('aria-expanded', 'false');
        }
      }
      if (fixedBtn && trigger) {
        window.addEventListener('scroll', fixedBottomBtn);
      }
    })();
  </script>
  <script>
    function fixedBtn(trigger2, elm) {
      let scrollY2 = window.pageYOffset;

      if (!elm || !trigger2) return;

      const triggerRect2 = trigger2.getBoundingClientRect();
      const triggerY2 = scrollY2 + triggerRect2.top;

      if (scrollY2 > triggerY2) {
        elm.setAttribute('aria-expanded', 'true');
      } else {
        elm.setAttribute('aria-expanded', 'false');
      }
    }

    function fixedBtnInit() {
      const navTrigger = document.getElementById('js-trigger-nav');
      const navBtn = document.getElementById('js-fixed-nav');

      fixedBtn(navTrigger, navBtn)
    }

    window.addEventListener('scroll', fixedBtnInit);


    $('.js-openAccordion').on('click', function(){
    let $this = $(this);
    let $target = $($this.data('target-accordion'));
    if ($target) {
        if ($target.attr('aria-expanded') === "false") {
            $target.click();
            setTimeout(function(){
                $('html, body').animate({scrollTop: $($this.attr('href')).offset().top}, 300);
            }, 300);
        }
    }
});
  </script>
</body>
</html>
