<div class="l-hikari-Bnr_Colmun2">
  <div>
    <%_ if (typeof orglid1 !=='undefined' ) { _%>
      <a class="c-Banner_Hover-act" href="<%= sitepath %>internet/turbo/campaign/six-month-free/?l-id=<%= orglid1 %>" data-ratid="<%= orglid1 %>" data-ratevent="click" data-ratparam="all">
    <%_ } else { _%>
      <a class="c-Banner_Hover-act" href="<%= sitepath %>internet/turbo/campaign/six-month-free/">
    <%_ } _%>
      <img src="<%= sitepath %>assets/img/internet/turbo/bnr/bnr-turbo_campaign_6mf-328-185.png" alt="Rakuten Turbo 工事不要！！すぐに使える おうちのWi-Fi プラン料金6カ月0円 さらにスマホとセットで使うと20,000ポイント還元 ※製品代金 別途41,580円 ※プラン料金7カ月目以降4,840円 ※その他条件あり" width="328" height="185">
      </a>
  </div>
  <div>
    <%_ if (typeof orglid2 !=='undefined' ) { _%>
      <a class="c-Banner_Hover-act" href="<%= sitepath %>hikari/campaign/six-month-free/?l-id=<%= orglid2 %>" data-ratid="<%= orglid2 %>" data-ratevent="click" data-ratparam="all">
    <%_ } else { _%>
      <a class="c-Banner_Hover-act" href="<%= sitepath %>hikari/campaign/six-month-free/">
    <%_ } _%>
      <img src="<%= sitepath %>assets/img/bnr/bnr-hikari_campaign_six-month-free-328-185-240122-2.png" alt="Rakuten光 楽天モバイルとセットで使うと！6ヶ月0円 ※ 契約解除料、その他条件あり" width="328" height="185">
    </a>
  </div>
</div>
