<%_ if (typeof orglid !=='undefined' ) { _%>
<a class="c-Banner_Hover-act" href="<%= sitepath %>product/internet/rakuten-casa/?l-id=<%= orglid %>" data-ratid="<%= orglid %>" data-ratevent="click" data-ratparam="all">
<%_ } else { _%>
<a class="c-Banner_Hover-act" href="<%= sitepath %>product/internet/rakuten-casa/">
<%_ } _%>
  <picture>
    <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/bnr/bnr-casa-343-108-240306.png" width="343" height="108">
    <img src="<%= sitepath %>assets/img/hikari/bnr/bnr-casa-1032-160-240306.png" alt="Rakuten Casa Wi-Fi機能付き[屋内用4Gホームアンテナ] おうちの楽天モバイルがさらに繋がる！ ご利用料＆製品レンタル代0円！" width="1032" height="160">
  </picture>
</a>
