<% const namespace = "oneyearfree" -%>

<div class="<%= namespace %>-Howto_Shop">
  <div class="c-Accordion">
    <button id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>北海道・東北</button>
    <div id="accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-5" aria-hidden="true">
      <p>【北海道】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/4161/">100満ボルト 札幌清田店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7451/">楽天モバイル ドン・キホーテ函館店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6111/">コジマ×ビックカメラ 函館店</a></li>
        <li><a href="<%= sitepath %>shop-detail/1921/">ビックカメラ 札幌店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5821/">楽天モバイル 札幌ポールタウン店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6251/">コジマ×ビックカメラ イオン西岡店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5871/">ヤマダデンキ テックランド札幌発寒店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5331/">100満ボルト 帯広本店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7707/">ヨドバシカメラ マルチメディア札幌店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【岩手】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/6881/">楽天モバイル イオンモール盛岡南店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【宮城】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/6791/">楽天モバイル 仙台一番町店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7631/">ヨドバシカメラ マルチメディア仙台店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7651/">LABI仙台</a></li>
        <li><a href="<%= sitepath %>shop-detail/6151/">楽天モバイル イオンモール名取店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4931/">コジマ×ビックカメラ イオンモール名取店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5281/">楽天モバイル アクロスプラザ富沢西店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【秋田】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/6091/">コジマ×ビックカメラ 卸団地店</a></li>
        <li><a href="<%= sitepath %>shop-detail/1931/">楽天モバイル 秋田 イオンモール秋田店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【福島】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/6891/">楽天モバイル イオンモールいわき小名浜店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7724/">ヨドバシカメラ マルチメディア郡山店</a></li>
      </ul>
    </div>
  </div>
  <div class="c-Accordion">
    <button id="accordion-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-6"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>関東（東京）</button>
    <div id="accordion-content-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-6" aria-hidden="true">
      <p>【東京】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/7421/">ビックカメラ 有楽町店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2411/">ビックカメラ AKIBA</a></li>
        <li><a href="<%= sitepath %>shop-detail/7591/">ヨドバシカメラ マルチメディアAKIBA店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7471/">ビックカメラ 日本橋三越</a></li>
        <li><a href="<%= sitepath %>shop-detail/6701/">ヤマダデンキ LABI東京八重洲</a></li>
        <li><a href="<%= sitepath %>shop-detail/2161/">楽天モバイル 東京 八重洲地下街店</a></li>
        <li><a href="<%= sitepath %>shop-detail/0181/">楽天モバイル 銀座店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6691/">ヤマダデンキ LABI新橋</a></li>
        <li><a href="<%= sitepath %>shop-detail/6451/">ビックカメラ 赤坂見附駅店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6421/">楽天モバイル　赤羽店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5641/">楽天モバイル 北千住店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5321/">楽天モバイル 竹ノ塚店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7401/">楽天モバイル アリオ西新井店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4271/">コジマ×ビックカメラ 江北駅前店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7718/">コジマ×ビックカメラ 足立加平店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4281/">コジマ×ビックカメラ 葛飾店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5691/">楽天モバイル 新小岩ルミエール店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2131/">楽天モバイル 錦糸町 テルミナ店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7715/">ヨドバシカメラ マルチメディア錦糸町店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4291/">コジマ×ビックカメラ 江戸川店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2391/">楽天モバイル 葛西店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7551/">楽天モバイル 有明ガーデン店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7211/">楽天モバイル アリオ北砂店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3671/">コジマ×ビックカメラ 南砂町SUNAMO店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5851/">LABI 品川大井町</a></li>
        <li><a href="<%= sitepath %>shop-detail/6991/">楽天モバイル 五反田駅前店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7461/">楽天モバイル 武蔵小山店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5531/">楽天モバイル 大森駅前店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2751/">楽天モバイル 蒲田店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4261/">コジマ×ビックカメラ 池上店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6071/">ビックカメラ 渋谷東口店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7291/">楽天モバイル 恵比寿店</a></li>
        <li><a href="<%= sitepath %>shop-detail/0111/">楽天モバイル　渋谷公園通り店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6641/">ヤマダデンキ LABI渋谷</a></li>
        <li><a href="<%= sitepath %>shop-detail/6281/">ビックカメラ 渋谷ハチ公口店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6311/">ヤマダデンキ LABI LIFE SELECT 自由が丘</a></li>
        <li><a href="<%= sitepath %>shop-detail/2591/">楽天モバイル 自由が丘店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7141/">楽天モバイル 三軒茶屋店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6141/">楽天モバイル 下北沢店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3551/">コジマ×ビックカメラ成城店</a></li>
        <li><a href="<%= sitepath %>shop-detail/0131/">楽天モバイル 二子玉川店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4251/">コジマ×ビックカメラ 用賀店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2681/">楽天モバイル 新宿サブナード店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6361/">ビックカメラ 新宿東口駅前店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7111/">ビックロ ビックカメラ新宿東口店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7728/">ヨドバシカメラ マルチメディア新宿東口店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6371/">ビックカメラ 新宿西口店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7621/">ヨドバシカメラ 新宿西口本店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7661/">ヤマダデンキ LABI新宿西口館</a></li>
        <li><a href="<%= sitepath %>shop-detail/2221/">楽天モバイル 中野サンモール店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6521/">楽天モバイル 阿佐ヶ谷店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6771/">楽天モバイル 西荻窪店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7571/">YAMADA IKEBUKUROアウトレット・リユース&TAXFREE館</a></li>
        <li><a href="<%= sitepath %>shop-detail/1591/">楽天モバイル 池袋 サンシャイン通り店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5831/">LABI1 日本総本店 池袋</a></li>
        <li><a href="<%= sitepath %>shop-detail/6261/">ビックカメラ 池袋本店パソコン館</a></li>
        <li><a href="<%= sitepath %>shop-detail/7491/">ビックカメラ 池袋本店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6271/">ビックカメラ 池袋西口店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6231/">楽天モバイル 池袋東口店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7411/">楽天モバイル ハッピーロード大山店</a></li>
        <li><a href="<%= sitepath %>shop-detail/1141/">楽天モバイル ジョーシン板橋前野店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4331/">コジマ×ビックカメラ 志村店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2011/">楽天モバイル 大泉学園店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7241/">ヤマダデンキ テックランド平和台駅前店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7723/">楽天モバイル 光が丘IMA店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7726/">ヨドバシカメラ マルチメディア上野店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7021/">ヤマダデンキ LABI吉祥寺</a></li>
        <li><a href="<%= sitepath %>shop-detail/2071/">楽天モバイル 吉祥寺サンロード店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7705/">ヨドバシカメラ マルチメディア吉祥寺店</a></li>
        <li><a href="<%= sitepath %>shop-detail/1951/">楽天モバイル 調布駅前店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6291/">ビックカメラ 京王調布店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6941/">ヤマダデンキ LABI LIFE SELECT 立川</a></li>
        <li><a href="<%= sitepath %>shop-detail/6401/">ビックカメラ 立川店</a></li>
        <li><a href="<%= sitepath %>shop-detail/1441/">楽天モバイル 立川フロム中武店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7341/">楽天モバイルららぽーと立川立飛店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4771/">楽天モバイル イオンモール日の出店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5541/">楽天モバイル イオンモール多摩平の森店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7501/">ビックカメラ JR八王子駅店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7231/">楽天モバイル 八王子店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5101/">楽天モバイル 八王子みなみ野店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5311/">楽天モバイル 八王子楢原店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7727/">ヨドバシカメラ 八王子店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6061/">楽天モバイル イーアス高尾店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2061/">楽天モバイル 町田 ジョルナ店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5681/">ビックカメラ 町田店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7703/">ヨドバシカメラ マルチメディア町田店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4721/">コジマ×ビックカメラ 西友ひばりヶ丘店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6041/">楽天モバイル 清瀬店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7191/">楽天モバイル 聖蹟桜ヶ丘OPA店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6481/">ビックカメラ 聖蹟桜ヶ丘駅店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5911/">楽天モバイル イオンモールむさし村山店</a></li>

        <li><a href="<%= sitepath %>shop-detail/7717/">コジマ×ビックカメラ 西東京店</a></li>
      </ul>
    </div>
  </div>
  <div class="c-Accordion">
    <button id="accordion-7" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-7"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>関東（茨城/栃木/群馬/埼玉/千葉/神奈川）</button>
    <div id="accordion-content-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-7" aria-hidden="true">
      <p>【茨城】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/6841/">楽天モバイル イオンモール土浦店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6031/">楽天モバイル　イオンモールつくば店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6621/">ビックカメラ水戸駅店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【栃木】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/5881/">楽天モバイル宇都宮 インターパークビレッジ店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4991/">コジマ×ビックカメラ 宇都宮本店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7713/">ヨドバシカメラ マルチメディア宇都宮店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【群馬】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/5841/">LABI1 LIFE SELECT 高崎</a></li>
        <li><a href="<%= sitepath %>shop-detail/6381/">ビックカメラ 高崎東口店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5351/">楽天モバイル 伊勢崎茂呂店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5211/">楽天モバイル 伊勢崎宮子店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4821/">楽天モバイル 前橋みなみモール店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【埼玉】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/5021/">ビックカメラ 大宮西口そごう店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2771/">楽天モバイル 大宮マルイ店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7261/">楽天モバイル 川口店</a></li>
        <li><a href="<%= sitepath %>shop-detail/1651/">ジョーシン アリオ川口店</a></li>
        <li><a href="<%= sitepath %>shop-detail/0521/">楽天モバイル ジョーシン浦和美園イオンモール店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2641/">楽天モバイル 草加マルイ店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4381/">楽天モバイル ららぽーと新三郷店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3111/">エディオン ららぽーと新三郷店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5561/">楽天モバイル レイクタウンmori店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2721/">楽天モバイル ララガーデン春日部店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6021/">楽天モバイルイオンモール春日部店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2781/">楽天モバイル モラージュ菖蒲店</a></li>
        <li><a href="<%= sitepath %>shop-detail/0531/">楽天モバイル ジョーシン羽生イオンモール店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5361/">楽天モバイル 川島インター店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7441/">楽天モバイル 川越クレアモール店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3611/">コジマ×ビックカメラ 新座店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4701/">コジマ×ビックカメラ アクロスプラザ三芳店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4591/">楽天モバイル ららぽーと富士見店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5271/">楽天モバイル 滑川店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3691/">楽天モバイル 入間店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2821/">楽天モバイル 所沢プロぺ通り店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7351/">ビックカメラ 所沢駅店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2791/">楽天モバイル ニットーモール熊谷店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5141/">楽天モバイル 本庄早稲田店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7714/">ヨドバシカメラ マルチメディアさいたま新都心駅前店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【千葉】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/2701/">楽天モバイル 千葉そごう店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6511/">楽天モバイル イオンモール幕張新都心店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7371/">楽天モバイル 稲毛店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4121/">ジョーシン 松戸店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7331/">楽天モバイル テラスモール松戸店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5651/">楽天モバイル イオンモール千葉ニュータウン店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7521/">楽天モバイルニッケコルトンプラザ市川店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3081/">ジョーシン 市川大野店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6811/">ビックカメラ 船橋駅FACE店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3831/">ジョーシン 船橋イオンモール店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7161/">楽天モバイル アクロスモール新鎌ヶ谷店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2031/">楽天モバイル ららぽーとTOKYO-BAY店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4341/">ビックカメラ 船橋東武店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5571/">楽天モバイル 津田沼店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6921/">ヤマダデンキ LABI津田沼</a></li>
        <li><a href="<%= sitepath %>shop-detail/5781/">ビックカメラ 柏店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3601/">コジマ×ビックカメラ柏店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6531/">楽天モバイル セブンパークアリオ柏店</a></li>
        <li><a href="<%= sitepath %>shop-detail/1691/">楽天モバイル 柏 高島屋ステーションモール店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7391/">楽天モバイル ベイシア佐倉店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6131/">楽天モバイル イオンモール成田店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6951/">楽天モバイル ユニモちはら台店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2851/">楽天モバイル イオンモール木更津店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7681/">家電住まいる館YAMADA幕張店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7710/">ヨドバシカメラ 千葉店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【神奈川】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/6161/">楽天モバイル 川崎ゼロゲート店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2211/">楽天モバイル グランツリー武蔵小杉店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3651/">ビックカメラ ラゾーナ川崎店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7704/">ヨドバシカメラ マルチメディア川崎ルフロン店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7301/">楽天モバイル 溝の口店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3591/">コジマ×ビックカメラ梶ヶ谷店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5801/">楽天モバイル 横浜ジョイナス店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5771/">ビックカメラ 横浜西口店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7611/">ヨドバシカメラ マルチメディア横浜店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7691/">家電住まいる館YAMADA横浜泉店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6051/">ビックカメラ 新横浜店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3961/">エディオン モザイクモール港北店</a></li>
        <li><a href="<%= sitepath %>shop-detail/1961/">楽天モバイル センター南 サウスウッド店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7671/">家電住まいる館YAMADA港北センター店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7011/">ビックカメラ イトーヨーカドーたまプラーザ店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4581/">楽天モバイル 伊勢佐木モール店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3971/">エディオン 横浜店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5861/">ヤマダデンキ LABI上大岡</a></li>
        <li><a href="<%= sitepath %>shop-detail/6711/">ヤマダデンキ テックランド横浜本店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6821/">コジマ×ビックカメラ 横須賀店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7734/">楽天モバイル 横須賀中央 駅前店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5791/">楽天モバイル ジョイナステラス二俣川店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4111/">ジョーシン 厚木下荻野店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2041/">楽天モバイル ららぽーと海老名店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2651/">楽天モバイル 西武東戸塚店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3731/">楽天モバイル 大船店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2401/">楽天モバイル ミスターマックス湘南藤沢店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3351/">ビックカメラ 藤沢店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3021/">楽天モバイル イオンモール座間店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7201/">楽天モバイル 京王橋本店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2541/">ジョーシン 相模原小山店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6801/">コジマ×ビックカメラ 相模原店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4691/">ビックカメラ 相模大野駅店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2021/">楽天モバイル ららぽーと湘南平塚店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3641/">エディオン イオン秦野店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7712/">ヨドバシカメラ マルチメディア京急上大岡店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7716/">コジマ×ビックカメラ 横浜大口店</a></li>
      </ul>
    </div>
  </div>
  <div class="c-Accordion">
    <button id="accordion-8" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-8"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>北陸・甲信越</button>
    <div id="accordion-content-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-8" aria-hidden="true">
      <p>【新潟】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/3721/">ジョーシン 長岡愛宕店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4831/">楽天モバイル 長岡古正寺店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2471/">ジョーシン 上越店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4841/">楽天モバイル 高田西店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5611/">楽天モバイル 柏崎岩上店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5121/">楽天モバイル 蔦屋書店 小出店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4851/">楽天モバイル 河渡店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4651/">ビックカメラ 新潟店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5061/">楽天モバイル 新潟ラブラ店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5161/">楽天モバイル 竹尾インター店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5081/">楽天モバイル 蔦屋書店 新潟万代店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5391/">楽天モバイル 新潟中央インター店</a></li>
        <li><a href="<%= sitepath %>shop-detail/1611/">ジョーシン 亀貝店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5591/">楽天モバイル 新発田店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3221/">ジョーシン 燕三条店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7725/">ヨドバシカメラ マルチメディア新潟駅前店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【富山】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/1191/">楽天モバイル ジョーシン富山本店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6611/">楽天モバイル イオンモール高岡店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3261/">ジョーシン 高岡店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7321/">楽天モバイル ファボーレ店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2831/">ジョーシン 富山南店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【石川】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/4571/">楽天モバイル 金沢フォーラス店</a></li>
        <li><a href="<%= sitepath %>shop-detail/1471/">100満ボルト 金沢本店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2051/">楽天モバイル 小松 イオンモール新小松店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【福井】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/7151/">楽天モバイル フェアモール福井大和田店</a></li>
        <li><a href="<%= sitepath %>shop-detail/1581/">ジョーシン 福井本店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3761/">100満ボルト 福井本店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【山梨】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/6411/">楽天モバイル　イオンモール甲府昭和店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【長野】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/5071/">楽天モバイル 長野川中島店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5631/">楽天モバイル 須坂店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4861/">楽天モバイル 佐久小諸店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5621/">楽天モバイル 上田大屋店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5481/">エディオン 松本なぎさ店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5661/">楽天モバイル イオンモール松本店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5601/">楽天モバイル 諏訪中洲店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3771/">エディオン 飯田インター店</a></li>
      </ul>
    </div>
  </div>
  <div class="c-Accordion">
    <button id="accordion-9" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-9"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>東海</button>
    <div id="accordion-content-9" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-9" aria-hidden="true">
      <p>【岐阜】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/5991/">楽天モバイル PRONTO名鉄岐阜駅店</a></li>
        <li><a href="<%= sitepath %>shop-detail/1971/">楽天モバイル モレラ岐阜店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6581/">楽天モバイル イオンモール大垣店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3471/">ジョーシン 大垣イオンモール店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2091/">楽天モバイル ジョーシンギア各務原イオンモール店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3621/">ジョーシン 多治見店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5401/">エディオン 多治見インター店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4481/">エディオン 可児今渡店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【静岡】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/7271/">楽天モバイル ららぽーと沼津店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4391/">エディオン 三島店</a></li>
        <li><a href="<%= sitepath %>shop-detail/0761/">楽天モバイル エディオンサントムーン柿田川店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3131/">エディオン クロスガーデン富士中央店</a></li>
        <li><a href="<%= sitepath %>shop-detail/1671/">楽天モバイル 新静岡 駅前店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3661/">コジマ×ビックカメラ静岡店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3441/">エディオン 藤枝店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3931/">ビックカメラ 浜松店</a></li>
        <li><a href="<%= sitepath %>shop-detail/1201/">エディオンイオンモール浜松志都呂店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7221/">楽天モバイル イオンモール浜松志都呂店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5051/">エディオン イオンモール浜松市野店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4961/">楽天モバイル ららぽーと磐田店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【愛知】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/3341/">エディオン 豊橋店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2611/">エディオン 豊川店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3821/">ジョーシン クロスモール豊川店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3681/">楽天モバイル イオン岡崎南店</a></li>
        <li><a href="<%= sitepath %>shop-detail/0731/">エディオン 岡崎本店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3361/">エディオン 西尾店</a></li>
        <li><a href="<%= sitepath %>shop-detail/0721/">楽天モバイル エディオン安城店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4751/">ジョーシン 一ツ木店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4061/">エディオン イオンタウン刈谷店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6331/">ヤマダデンキ LABI名古屋</a></li>
        <li><a href="<%= sitepath %>shop-detail/5171/">エディオン 名古屋本店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6391/">ビックカメラ 名古屋JRゲートタワー店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4551/">エディオン 小田井モゾワンダーシティ店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7431/">楽天モバイル mozoワンダーシティ店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4681/">ビックカメラ 名古屋駅西店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4731/">エディオン 千音寺アズパーク店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4561/">エディオン イオンモール名古屋茶屋店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7001/">楽天モバイル イオンモール新瑞橋店</a></li>
        <li><a href="<%= sitepath %>shop-detail/0621/">楽天モバイル ジョーシン大高イオンモール店</a></li>
        <li><a href="<%= sitepath %>shop-detail/0171/">楽天モバイル 名古屋栄店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3141/">エディオン メッツ大曽根店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5981/">楽天モバイル イオンモールナゴヤドーム前店</a></li>
        <li><a href="<%= sitepath %>shop-detail/1871/">楽天モバイル 鶴舞 イオンタウン千種店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4741/">エディオン 高辻シャンピアポート店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4881/">エディオン 天白店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6221/">楽天モバイル イオンモール東浦店</a></li>
        <li><a href="<%= sitepath %>shop-detail/0701/">楽天モバイル エディオン豊田本店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5461/">エディオン 知立店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2731/">楽天モバイル イオンモール常滑店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4401/">エディオン イオンモール扶桑店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2251/">楽天モバイル イオンモール長久手店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4951/">エディオン イオンモール長久手店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4131/">ジョーシン アピタ長久手店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3981/">エディオン 尾張旭店</a></li>
        <li><a href="<%= sitepath %>shop-detail/0741/">エディオン 一宮本店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3911/">ジョーシン 稲沢店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3811/">ジョーシン 木曽川イオンモール店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7181/">楽天モバイル イオンモール木曽川店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7091/">エディオン イオンタウン弥富店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7701/">楽天モバイル ららぽーと愛知東郷店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7711/">ヨドバシカメラ マルチメディア名古屋松坂屋店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7722/">エディオン イオンタウン岡崎美合店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【三重】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/4941/">エディオン 四日市日永店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6761/">楽天モバイル 四日市駅前店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6601/">楽天モバイル イオンモール東員店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2431/">ジョーシン 東員イオンモール店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4921/">エディオン 桑名店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3501/">エディオン イオンモール鈴鹿店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4871/">エディオン イオンモール津南店</a></li>
        <li><a href="<%= sitepath %>shop-detail/1681/">ジョーシン 津城山イオンタウン店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7051/">楽天モバイル アドバンスモール松阪店</a></li>
        <li><a href="<%= sitepath %>shop-detail/1571/">ジョーシン 明和イオンモール店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5231/">ジョーシン 伊勢ララパーク店</a></li>
      </ul>
    </div>
  </div>
  <div class="c-Accordion">
    <button id="accordion-10" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-10"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>近畿</button>
    <div id="accordion-content-10" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-10" aria-hidden="true">
      <p>【滋賀】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/3571/">ジョーシン 近江今津店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4511/">エディオン 大津一里山店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6461/">楽天モバイル イオンモール草津店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7732/">ジョーシン 彦根店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【京都】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/7511/">楽天モバイル 京都四条通店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3921/">ビックカメラ JR京都駅店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7706/">ヨドバシカメラ マルチメディア京都店</a></li>
        <li><a href="<%= sitepath %>shop-detail/0541/">ジョーシン 桂川イオンモール店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4201/">エディオン 円町店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3211/">ジョーシン 宇治店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5251/">エディオン 六地蔵MOMOテラス店</a></li>
        <li><a href="<%= sitepath %>shop-detail/1171/">楽天モバイル ジョーシン伏見店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6501/">楽天モバイル イオンモール久御山店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5761/">楽天モバイル イオンモール京都五条店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5441/">エディオン 京都ファミリー店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5951/">楽天モバイル 西友 長岡店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3481/">ジョーシン 亀岡店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7730/">エディオン イズミヤ長岡店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【大阪】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/2171/">楽天モバイル 梅田 阪急三番街店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7601/">ヨドバシカメラ マルチメディア梅田店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3881/">ジョーシン 新大阪店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5971/">楽天モバイル 十三駅前路面店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5341/">エディオン 東淡路店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5671/">楽天モバイル 京橋店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5261/">エディオン 京橋店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6591/">楽天モバイル イオンモール鶴見緑地</a></li>
        <li><a href="<%= sitepath %>shop-detail/4891/">エディオン もりのみや店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6001/">ビックカメラ なんば店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5901/">楽天モバイル なんばウォーク店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6491/">エディオン なんば本店</a></li>
        <li><a href="<%= sitepath %>shop-detail/0141/">楽天モバイル 心斎橋店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3181/">楽天モバイル 天王寺 あべのキューズモール店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6181/">ビックカメラ あべのキューズモール店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3391/">ジョーシン 平野うりわり店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6541/">楽天モバイル イオンモール大阪ドームシティ店</a></li>
        <li><a href="<%= sitepath %>shop-detail/0571/">楽天モバイル ジョーシンJ&Pテクノランド</a></li>
        <li><a href="<%= sitepath %>shop-detail/6651/">ヤマダデンキ LABI1 なんば</a></li>
        <li><a href="<%= sitepath %>shop-detail/2181/">楽天モバイル 千里中央 イオンSENRITO店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6661/">ヤマダデンキ LABI LIFE SELECT 千里</a></li>
        <li><a href="<%= sitepath %>shop-detail/3461/">エディオン 豊中店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4531/">ジョーシン 豊中インター店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5191/">エディオン ららぽーとEXPOCITY店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7361/">楽天モバイル ららぽーとEXPOCITY店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5551/">楽天モバイル イオンモール茨木店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4311/">コジマ×ビックカメラ 茨木店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7281/">楽天モバイル 高槻センター街店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4071/">エディオン 高槻宮田店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6551/">ジョーシン高槻店</a></li>
        <li><a href="<%= sitepath %>shop-detail/0501/">ジョーシン 大日イオンモール店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3901/">ジョーシン 東香里店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2531/">楽天モバイル くずはモール店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4321/">コジマ×ビックカメラ 大東店</a></li>
        <li><a href="<%= sitepath %>shop-detail/0511/">ジョーシン 四條畷イオンモール店</a></li>
        <li><a href="<%= sitepath %>shop-detail/0771/">楽天モバイル エディオン中環東大阪店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3891/">ジョーシン 東大阪店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4491/">エディオン 八尾南店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6751/">ビックカメラアリオ八尾店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5941/">楽天モバイル アリオ八尾店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2341/">ジョーシン 外環八尾</a></li>
        <li><a href="<%= sitepath %>shop-detail/4081/">ジョーシン 外環柏原店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3091/">ジョーシン 富田林店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4541/">エディオン 泉北店</a></li>
        <li><a href="<%= sitepath %>shop-detail/1181/">楽天モバイル ジョーシン泉南イオンモール店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5491/">コジマ×ビックカメラ イオンモール堺鉄砲町店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5751/">楽天モバイル イオンモール堺鉄砲町店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5041/">エディオン イオンモール堺北花田店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4101/">ジョーシン 三国ヶ丘店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3741/">ジョーシン 和泉中央店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6471/">楽天モバイル ららぽーと和泉店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5301/">エディオン 泉大津店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6571/">楽天モバイル 岸和田カンカンベイサイドモール店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7702/">エディオン 茨木藤の里店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7729/">楽天モバイル ビバモール寝屋川店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7733/">ジョーシン 岸和田店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【兵庫】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/0161/">楽天モバイル 神戸三宮店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6441/">ヤマダデンキ LABI三宮</a></li>
        <li><a href="<%= sitepath %>shop-detail/7041/">楽天モバイル 神戸ハーバーランドumie店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3121/">エディオン 神戸北町店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4781/">ジョーシン 神戸北町店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5731/">楽天モバイル イオンモール神戸北店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5221/">エディオン イオンモール神戸北店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2661/">ジョーシン 神戸南イオンモール店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4091/">ジョーシン 名谷ダイエー店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4171/">エディオン 垂水店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4521/">ジョーシン 淡路店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3841/">エディオン 御影店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2621/">エディオン JR尼崎駅店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4811/">楽天モバイル つかしん店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5291/">楽天モバイル あまがさきキューズモール店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3561/">エディオン 西宮店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6851/">楽天モバイル ららぽーと甲子園店</a></li>
        <li><a href="<%= sitepath %>shop-detail/0611/">楽天モバイル ジョーシン西宮ガーデンズ店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3101/">ジョーシン 西宮今津店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3401/">ジョーシン 伊丹昆陽イオンモール店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6871/">楽天モバイル イオンモール伊丹昆陽店</a></li>
        <li><a href="<%= sitepath %>shop-detail/0751/">楽天モバイル エディオン伊丹店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2461/">ジョーシン 中山寺店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5201/">ジョーシン 川西イオンタウン店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4761/">ジョーシン 豊岡店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5181/">ジョーシン 三田ウッディタウン店</a></li>
        <li><a href="<%= sitepath %>shop-detail/1851/">楽天モバイル 姫路 グランフェスタ店</a></li>
        <li><a href="<%= sitepath %>shop-detail/1561/">ジョーシン 姫路大津イオンモール店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7311/">楽天モバイル イオンモール姫路大津店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4211/">ジョーシン 明石店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4181/">エディオン ニッケパークタウン店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3381/">ジョーシン 加古川店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7641/">せいでん さんちか店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【奈良】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/0601/">楽天モバイル ジョーシン登美ヶ丘イオンモール店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4231/">エディオン おしくま店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6351/">楽天モバイル ならファミリー店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6321/">エディオン イオンモール橿原店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3241/">ジョーシン 斑鳩店</a></li>
        <li><a href="<%= sitepath %>shop-detail/0591/">楽天モバイル ジョーシン郡山イオンモール店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7731/">マツヤデンキ 香芝店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【和歌山】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/2441/">ジョーシン 和歌山北店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6341/">楽天モバイル イオンモール和歌山店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5131/">エディオン イオンモール和歌山店</a></li>
      </ul>
    </div>
  </div>
  <div class="c-Accordion">
    <button id="accordion-11" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-11"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>中国・四国</button>
    <div id="accordion-content-11" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-11" aria-hidden="true">
      <p>【鳥取】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/7101/">エディオン 新鳥取本店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2991/">エディオン 米子店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【島根】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/2871/">100満ボルト 松江本店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6971/">楽天モバイル ゆめタウン出雲店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【岡山】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/4351/">ビックカメラ 岡山駅前店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2551/">楽天モバイル イオンモール岡山店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5451/">エディオン 下中野店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4241/">エディオン 東川原店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3581/">エディオン 津山本店</a></li>
        <li><a href="<%= sitepath %>shop-detail/0781/">楽天モバイル エディオン倉敷本店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【広島】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/2281/">エディオン 福山本店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6931/">ヤマダデンキ LABI広島</a></li>
        <li><a href="<%= sitepath %>shop-detail/6981/">楽天モバイル 広島本通り店</a></li>
        <li><a href="<%= sitepath %>shop-detail/0711/">楽天モバイル エディオン広島本店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4981/">エディオン 八木店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6301/">コジマ×ビックカメラ 広島インター緑井店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2231/">エディオン 蔦屋家電</a></li>
        <li><a href="<%= sitepath %>shop-detail/5031/">ビックカメラ 広島駅前店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4971/">エディオン アルパーク南店</a></li>
        <li><a href="<%= sitepath %>shop-detail/1601/">楽天モバイル 広島 ゆめタウン広島店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4711/">コジマ×ビックカメラ イオンモール広島府中店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3151/">エディオン 呉本店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3941/">エディオン 廿日市店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2271/">エディオン 東広島本店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7031/">ヤマダデンキ テックランド東広島店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【山口】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/5471/">エディオン 岩国店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5511/">エディオン 周南本店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6901/">楽天モバイル シーモール下関店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5241/">エディオン 新下関店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2861/">エディオン 山口本店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5741/">楽天モバイル おのだサンパーク店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3511/">エディオン ゆめタウン宇部店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【徳島】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/2201/">楽天モバイル イオンモール徳島店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【香川】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/4371/">楽天モバイル 高松丸亀町店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4051/">エディオン ゆめタウン高松店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【愛媛】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/3031/">楽天モバイル 松山 大街道店</a></li>
        <li><a href="<%= sitepath %>shop-detail/1211/">楽天モバイル エディオン松山本店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4911/">エディオン イオンモール新居浜店</a></li>
      </ul>
    </div>
  </div>
  <div class="c-Accordion">
    <button id="accordion-12" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-12"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>九州・沖縄</button>
    <div id="accordion-content-12" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-12" aria-hidden="true">
      <p>【福岡】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/4471/">エディオン 八幡西店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3631/">ビックカメラ 天神2号館</a></li>
        <li><a href="<%= sitepath %>shop-detail/6731/">ビックカメラ 天神1号館</a></li>
        <li><a href="<%= sitepath %>shop-detail/7581/">楽天モバイル 福岡天神西通り店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5111/">コジマ×ビックカメラマークイズ福岡ももち店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7251/">家電住まいる館YAMADA福岡志免本店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4791/">エディオン イオンモール福岡店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6011/">楽天モバイル イオンモール福津店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2261/">エディオン イオンモール 福津店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3201/">楽天モバイル 博多駅地下街店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7708/">ヨドバシカメラ マルチメディア博多店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6171/">楽天モバイル　イオンモール筑紫野店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7720/">コジマ×ビックカメラ 福岡春日店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7721/">エディオン イオン原店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【佐賀】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/5581/">楽天モバイル ゆめタウン佐賀店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4901/">エディオン 佐賀本店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【長崎】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/7381/">楽天モバイル 長崎浜町店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2351/">エディオン 長崎本店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6781/">家電住まいる館YAMADA長崎本店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7131/">エディオン 諫早店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5431/">エディオン 佐世保店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7719/">楽天モバイル させぼ5番街店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【熊本】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/7061/">楽天モバイル サクラマチ熊本店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4501/">エディオン サンリブシティくまなん店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3951/">エディオン イオンモール熊本店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6671/">楽天モバイル ゆめタウン光の森店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【大分】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/6211/">楽天モバイル　パークプレイス大分店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【宮崎】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/5721/">楽天モバイル イオンモール宮崎店</a></li>
        <li><a href="<%= sitepath %>shop-detail/2331/">エディオン 宮崎本店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5411/">エディオン 都城吉尾店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【鹿児島】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/4361/">ビックカメラ 鹿児島中央駅店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3451/">エディオン 鹿児島南店</a></li>
      </ul>
      <p class="u-Adjust_Mt-24">【沖縄】</p>
      <ul class="<%= namespace %>-Howto_Shop-list c-List_Text-disc">
        <li><a href="<%= sitepath %>shop-detail/6831/">コジマ×ビックカメラ 那覇店</a></li>
        <li><a href="<%= sitepath %>shop-detail/1461/">エディオン 那覇メインプレイス店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4041/">エディオン 経塚シティ店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6681/">楽天モバイル 沖縄パルコシティ店</a></li>
        <li><a href="<%= sitepath %>shop-detail/5521/">エディオン 大山シティ店</a></li>
        <li><a href="<%= sitepath %>shop-detail/6081/">コジマ×ビックカメラ イオンモール沖縄ライカム店</a></li>
        <li><a href="<%= sitepath %>shop-detail/4411/">エディオン 西原シティ店</a></li>
        <li><a href="<%= sitepath %>shop-detail/3191/">エディオン 具志川メインシティ店</a></li>
        <li><a href="<%= sitepath %>shop-detail/7121/">エディオン 為又シティ店</a></li>
      </ul>
    </div>
  </div>
</div>
