<% const pagetitle = "各種設定（楽メール）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"guide/rakumail/", label:"楽メール（ご利用方法）"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイル「楽メール」の各種設定方法をご案内します。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>

</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>
<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">

    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

    <ul class="<%= nameSpace %>-Layout_Anchorlink">
      <li><a href="#setting01" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>メールアドレスの変更方法</a></li>
      <li><a href="#setting02" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>メールアドレスの確認方法</a></li>
      <li><a href="#setting03" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>プロフィールの設定方法</a></li>
    </ul>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="setting01">メールアドレスの変更方法</h2>
    <p class="u-Adjust_Mt-24">
      月に1回まで変更が可能です（毎月1日の0時にリセットされます）。
    </p>

    <!--  -->
    <div class="c-Tab js-Tab u-Adjust_Mt-24">
      <ul class="c-Tab_Items" role="tablist">
        <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">Webでお手続き</li>
        <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">アプリでお手続き</li>
      </ul>

      <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
        <ul class="u-Adjust_Mt-16 c-Flow">
          <li>
            <h4 class="c-Heading_Lv4">
              1. my 楽天モバイルの「ホーム」画面を開く
            </h4>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">※「ホーム画面へ進む」をタップしてログイン後、 画面を下にスクロールすると手順２の画面が表示されます。</p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap">※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/" class="c-Link_Txt">[my楽天モバイル]ログインできません</a>」をご確認ください。</p>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <a href="https://portal.mobile.rakuten.co.jp/dashboard#home" target="_blank" class="c-Btn_Secondly-large"
                data-ratId="guide_ecare_home" data-ratEvent="click" data-ratParam="all">ホーム画面へ進む</a>
            </p>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              2. ホーム画面下部「楽メール」内の「メールアドレスの変更」をタップする
            </h4>
            <div>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
                  src="<%= sitepath %>assets/img/guide/rakumail/setting/img_01_20221220.png" width="300" height="" alt=""
                  class="c-Img_Capture"></figure>
                  <!-- 画像変える -->
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              3.メールアドレスの詳細を設定する
            </h4>
            <p class="u-Adjust_Mt-24">
              新しいメールアドレスの設定と、1つ前のメールアドレスに戻す設定の2種類から選択いただけます。どちらか選択してください。
            </p>
            <div>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/setting/img_02_20221220.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
            </div>
            <p class="c-Txt_Emp-01 u-Adjust_Mt-24">
              新しくメールアドレスを設定する場合
            </p>
            <p class="u-Adjust_Mt-8">
              メールアドレス設定ルールをご確認いただき、新しいメールアドレスを入力し、「確認画面へ進む」をタップしてください。
            </p>
            <div class="c-Theme-Light u-Adjust_Mt-16">
              <p class="c-Heading_Lv4">
              メールアドレス設定ルール
              </p>
              <ul class="c-List_Text-disc u-Adjust_Mt-8">
                <li>1〜30文字まで</li>
                <li>半角英数字、「-」（ハイフン）、「.」（ドット）、「_」（アンダーバー）のみ使用可能</li>
                <li>大文字小文字の区別はなく、すべて小文字で表示</li>
                <li>アドレス内での「.」の連続使用、アドレスの最後の「.」は使用不可</li>
                <li>1つ目の文字は、アルファベットまたは数字のみ使用可能</li>
              </ul>
            </div>
            <div>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/setting/img_03_20221220.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
            </div>
            <p class="u-Adjust_Mt-24">
              入力いただいたメールアドレスがすでに使用されている場合は、別のメールアドレスを入力いただき、「確認画面へ進む」をタップしてください。
            </p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">
              ※設定いただいたメールアドレスに似たご利用可能なメールアドレス候補が3種類表示されます。
            </p>
            <div>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/setting/img_04_20221220.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
            </div>
            <p class="c-Txt_Emp-01 u-Adjust_Mt-24">
              1つ前のメールアドレスに戻す場合
            </p>
            <p class="u-Adjust_Mt-8">
              「1つ前のメールアドレスに変更する」を選択いただき、「確認画面へ進む」をタップしてください。
            </p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">
              ※2つ以上前のメールアドレスには戻すことはできません。ご注意ください。
            </p>
            <div>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/setting/img_05_20221220.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              4.設定内容を確認する
            </h4>
            <p class="u-Adjust_Mt-24">
              設定内容をご確認いただき、「この内容に変更する」をタップしてください。
            </p>
            <div>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/setting/img_06_20221220.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              5.メールアドレスの変更完了を確認する
            </h4>
            <p class="u-Adjust_Mt-24">
              以下のポップアップが表示されると、メールアドレスの変更は完了です。Rakuten Linkアプリからご確認ください。
            </p>
            <div>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/setting/2-1-step5.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
            </div>
          </li>
        </ul>
        <p class="u-Adjust_Mt-24">
          以上で設定は完了です。
        </p>
      </div>

      <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
        <ul class="u-Adjust_Mt-16 c-Flow">
          <li>
            <h4 class="c-Heading_Lv4">
              1. my 楽天モバイルを起動する
            </h4>
            <div class="u-Adjust_Mt-24">
              <div class="c-Box_App">
                <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt="my 楽天モバイル"></div>
                <div class="c-Box_App-txt">
                  <p class="c-Box_App-ttl">my 楽天モバイル</p>
                  <ul class="c-Box_App-link u-Adjust_Mt-16">
                    <li class="<%= nameSpace %>-App_Btn-store">
                      <div class="<%= nameSpace %>-App_Btn-store-item"><a
                          href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img
                            src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
                      <div class="<%= nameSpace %>-App_Btn-store-item"><a
                          href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img
                            src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
                    </li>
                    <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              2. ホーム画面下部「楽メール」内の「メールアドレスの変更」をタップする
            </h4>
            <div>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
                  src="<%= sitepath %>assets/img/guide/rakumail/setting/img_07_20221220.png" width="300" height="" alt=""
                  class="c-Img_Capture"></figure>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              3.メールアドレスの詳細を設定する
            </h4>
            <p class="u-Adjust_Mt-24">
              新しいメールアドレスの設定と、1つ前のメールアドレスに戻す設定の2種類から選択いただけます。どちらか選択してください。
            </p>
            <div>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/setting/img_02_20221220.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
            </div>
            <p class="c-Txt_Emp-01 u-Adjust_Mt-24">
              新しくメールアドレスを設定する場合
            </p>
            <p class="u-Adjust_Mt-8">
              メールアドレス設定ルールをご確認いただき、新しいメールアドレスを入力し、「確認画面へ進む」をタップしてください。
            </p>
            <div class="c-Theme-Light u-Adjust_Mt-16">
              <p class="c-Heading_Lv4">
              メールアドレス設定ルール
              </p>
              <ul class="c-List_Text-disc u-Adjust_Mt-8">
                <li>1〜30文字まで</li>
                <li>半角英数字、「-」（ハイフン）、「.」（ドット）、「_」（アンダーバー）のみ使用可能</li>
                <li>大文字小文字の区別はなく、すべて小文字で表示</li>
                <li>アドレス内での「.」の連続使用、アドレスの最後の「.」は使用不可</li>
                <li>1つ目の文字は、アルファベットまたは数字のみ使用可能</li>
              </ul>
            </div>
            <div>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/setting/img_03_20221220.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
            </div>
            <p class="u-Adjust_Mt-24">
              入力いただいたメールアドレスがすでに使用されている場合は、別のメールアドレスを入力いただき、「確認画面へ進む」をタップしてください。
            </p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">
              ※設定いただいたメールアドレスに似たご利用可能なメールアドレス候補が3種類表示されます。
            </p>
            <div>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/setting/img_04_20221220.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
            </div>
            <p class="c-Txt_Emp-01 u-Adjust_Mt-24">
              1つ前のメールアドレスに戻す場合
            </p>
            <p class="u-Adjust_Mt-8">
              「1つ前のメールアドレスに変更する」を選択いただき、「確認画面へ進む」をタップしてください。
            </p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">
              ※2つ以上前のメールアドレスには戻すことはできません。ご注意ください。
            </p>
            <div>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/setting/img_05_20221220.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              4.設定内容を確認する
            </h4>
            <p class="u-Adjust_Mt-24">
              設定内容をご確認いただき、「この内容に変更する」をタップしてください。
            </p>
            <div>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/setting/img_06_20221220.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              5.メールアドレスの変更完了を確認する
            </h4>
            <p class="u-Adjust_Mt-24">
              以下のポップアップが表示されると、メールアドレスの変更は完了です。Rakuten Linkアプリからご確認ください。
            </p>
            <div>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/setting/2-1-step5.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
            </div>
          </li>
        </ul>
        <p class="u-Adjust_Mt-24">
          以上で設定は完了です。
        </p>
      </div>
    </div>
    <!--  -->


    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="setting02">メールアドレスの確認方法</h2>
    <ul class="u-Adjust_Mt-16 c-Flow">
      <li>
        <h4 class="c-Heading_Lv4">
          1.メイン画面の左上の「メニュー」アイコンをタップする
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/setting/2-2-step1.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          2.メニュー画面の上部のプロフィール画像の下部にメールアドレスが表示される
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/setting/2-2-step2-230808.png" width="300" height="315" alt="" class="c-Img_Capture" loading="lazy"></figure>
        </div>
      </li>
    </ul>
    <p class="u-Adjust_Mt-24">
      以上で完了です。
    </p>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="setting03">プロフィールの設定方法</h2>
    <ul class="u-Adjust_Mt-16 c-Flow">
      <li>
        <h4 class="c-Heading_Lv4">
          1.メイン画面の左上の「メニュー」アイコンをタップする
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/setting/2-3-step1.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          2.メニュー画面の右上の「設定」（歯車アイコン）をタップする
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/setting/2-3-step2-230808.png" width="300" height="315" alt="" class="c-Img_Capture" loading="lazy"></figure>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          3.設定画面の上部のプロフィールをタップする
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/setting/2-3-step3.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          4.アカウント情報を設定する
        </h4>
        <p class="u-Adjust_Mt-24">
          「サムネイル」「姓」「名」の設定が可能です。入力／設定後、画面下部の「変更を保存」をタップしてください。
        </p>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/setting/2-3-step4.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </div>
      </li>
    </ul>

        <p class="u-Adjust_Mt-24">
          以上で完了です。
        </p>

    <div class="u-Adjust_Mt-64">
      <ul>
        <li><a href="<%= sitepath %>service/rakumail/" class="c-Btn_Regular"><span>特長・サービス内容を見る</span></a></li>
      </ul>
      <ul class="u-Adjust_Mt-32">
        <li><a href="<%= sitepath %>guide/rakumail/" class="c-Btn_Regular"><span>ご利用方法一覧へ戻る</span></a></li>
      </ul>
    </div>

  </div>
</div>

<%- include('/include/guide/_review') %>
<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%- include('/include/footer/related/_related-service-v2.ejs') %>

  </div>
  <%- include('/include/guide/_inquiry') %>
  <div class="l-System_Container">
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>
  </div>
  <%- include('/include/_footer') %>
</footer>
</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
