<% const pagetitle = "Rakuten Turboは楽天ポイントが貯まる・使える" -%>
<% const subCategory = "お客様サポート" -%>
<% const directories = [{path:"internet/turbo/support/", label:"お客様サポート"}] -%>
<% const namespace = "point-guide" -%>
<% const imgDir = `${sitepath}assets/img/internet/turbo/support/plan/point-guide/` %>

<%-
 include('/_header', {
    pagetitle,
    directories,
    description: '楽天モバイルのホームルーターRakuten Turboなら月々のお支払いで楽天ポイントが貯まる！おトクな楽天ポイントの貯め方や使い方をご紹介します。',
    noindex: false,
    pathname: filepath,
    isTurbo: true
  });
%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/internet/turbo/support/plan/point-guide/point-guide.css?20240424">

<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/internet/turbo/_prepend-body-internet') %>
  <div class="l-System">
    <%- include('/include/internet/turbo/_header', {
      pagetitle,
      directories,
      tax: false,
    }) %>

    <section class="<%= namespace %>-Kv">
      <div class="<%= namespace %>-Kv_Bg">
        <div class="<%= namespace %>-Kv_Container">
          <h1>
            <picture>
              <source media="(max-width:834px)" srcset="<%= imgDir %>kv-sp.png" width="100%">
              <img src="<%= imgDir %>kv-pc.png" alt="Rakuten Turboは月々のお支払いで楽天ポイントが貯まる・使える" width="1032" height="300">
            </picture>
          </h1>

        </div>
      </div>
    </section>

    <section class="u-Adjust_Pl-0 u-Adjust_Pr-0 u-Adjust_Mt-32">
      <div class="l-System_Container">
        <div class="u-Adjust_Align-center">
          <h2>
            <picture>
              <source media="(max-width:834px)" srcset="<%= imgDir %>img-ttl-01-sp.png" width="100%">
              <img src="<%= imgDir %>img-ttl-01-pc.png" alt="月々のお支払い100円（税別）につき1ポイントが貯まる!貯まったポイントはお支払いに!" width="803" height="132">
            </picture>
          </h2>
        </div>
        <div class="u-Adjust_Align-center u-Adjust_Mt-24">
          <div class="l-Media_Grid-half u-Adjust_Mt-24 <%= namespace %>-Grid">
            <div class="<%= namespace %>-Info_Container-detail u-Adjust_Align-center">
              <h3 class="c-Heading_Lv4">Rakuten Turboの月々のお支払い<br class="u-Show_Xoo">
                100円<span class="c-Txt_Normal">（税別）</span>につき<br class="u-Show_Oxx">1ポイント貯まる</h3>
              <div class="u-Adjust_Mt-8 u-Adjust_Mt-pc-40">
                <picture>
                  <source media="(max-width:834px)" srcset="<%= imgDir %>img-card-03-sp-240221.png" width="622" height="388">
                  <img src="<%= imgDir %>img-card-03-pc-240221.png" alt="" width="344" height="177">
                </picture>
              </div>
            </div>
            <div class="<%= namespace %>-Info_Container-detail u-Adjust_Align-center">
              <h3 class="c-Heading_Lv4">月々のご利用料金や製品の<br class="u-Show_Oxx">ご購入<span class="c-Txt_Cap">※</span>に<br class="u-Show_Xxo">ポイントを使える</h3>

              <div class="u-Adjust_Mt-32">
                <picture>
                  <source media="(max-width:834px)" srcset="<%= imgDir %>img-card-04-sp.png" width="622" height="251">
                  <img src="<%= imgDir %>img-card-04-pc.png" alt="" width="416" height="166">
                </picture>
              </div>
              <p class="c-Txt_Cap u-Adjust_Mt-16">
                ※製品は一括払いでの購入時のみポイント利用可<br>
                ※1ポイント＝1円
              </p>
            </div>
          </div>
          <div class="u-Adjust_Mt-32">
            <a href="<%= sitepath %>internet/turbo/support/payment/point/" class="c-Btn_Secondly-large"><span>ポイントでのお支払い方法を見る</span></a>
          </div>
        </div>
      </div>
    </section>

    <section class="u-Adjust_Mt-40 u-Adjust_Pb-48">
      <div class="l-System_Container">

        <div class="l-Media_Grid <%= namespace %>-Util_Align-center">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= imgDir %>img-emblem-2301108.png" alt="" width="342" height="118">

            <div class="u-Show_Oxx">
              <h3 class="c-Heading_Lv3"><span class="<%= namespace %>-Util_Txt-red">満足度NO.1の楽天ポイント</span>が<br class="u-Show_Oxx">ザクザク貯まる！</h3>
            </div>
          </div>
          <div class="<%= namespace %>-Grid_B">
            <div class="<%= namespace %>-Grid_B-Right">
              <h3 class="u-Show_Xoo c-Heading_Lv3 u-Adjust_Mb-8"><span class="<%= namespace %>-Util_Txt-red">満足度NO.1の楽天ポイント</span>がザクザク貯まる！</h3>
              <p>楽天ポイントは、世の中の数あるポイントの中で、<br class="u-Show_Xoo">お客様が選ぶ「ポイント総合満足度」No.1のポイントです。</p>
            </div>
            <div>
              <img src="<%= imgDir %>img-panda-01.png" alt="" width="154" height="140">
            </div>
          </div>
        </div>
        <p class="u-Adjust_Mt-16 c-Txt_Cap <%= namespace %>-Util_Pc-center">※情報元：「<a href="https://event.rakuten.co.jp/okaimonopanda/pointzukan/" class="c-Link_Txt-inline-icon" target="_blank">楽天ポイント お楽しみ図鑑<span class="c-Icon_New-window-l"></span></a>」（ポイントに関する調査、有効回答＝1,000、インターネット調査、2022年11月、実施機関：マイボイスコム）</p>
      </div>
    </section>

    <section class="c-Theme-Light u-Adjust_Pl-0 u-Adjust_Pr-0 u-Adjust_Pt-32 u-Adjust_Pb-56">
      <div class="l-System_Container">

        <h2 class="u-Adjust_Align-center">
          <span class="c-Heading_Lv2">もっと楽天ポイントを活用しよう！</span>
        </h2>
        <div class="<%= namespace %>-Anchor u-Adjust_Mt-16">
          <div class="<%= namespace %>-Anchor_Card">
            <a href="#anc01" class="js-scroll">
              <div class="<%= namespace %>-Anchor_Card-img">
                <picture>
                  <source media="(max-width:834px)" srcset="<%= imgDir %>img-icon-01-sp.png" width="93px">
                  <img src="<%= imgDir %>img-icon-01-pc.png" alt="" width="214" height="64">
                </picture>

              </div>
              <div class="<%= namespace %>-Anchor_Card-txt">
                <p class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>たくさん貯まる・便利に<br class="u-Show_Oxx">使える楽天ポイント！</p>
              </div>
            </a>
          </div>
          <div class="<%= namespace %>-Anchor_Card">
            <a href="#anc02" class="js-scroll">
              <div class="<%= namespace %>-Anchor_Card-img">
                <picture>
                  <source media="(max-width:834px)" srcset="<%= imgDir %>img-icon-02-sp.png" width="80px">
                  <img src="<%= imgDir %>img-icon-02-pc.png" alt="" width="214" height="64">
                </picture>
              </div>
              <div class="<%= namespace %>-Anchor_Card-txt">
                <p class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>SPUでポイントアップ！</p>
              </div>
            </a>
          </div>
          <div class="<%= namespace %>-Anchor_Card">
            <a href="#anc03" class="js-scroll">
              <div class="<%= namespace %>-Anchor_Card-img">
                <picture>
                  <source media="(max-width:834px)" srcset="<%= imgDir %>img-icon-03-sp.png" width="74px">
                  <img src="<%= imgDir %>img-icon-03-pc.png" alt="" width="214" height="64">
                </picture>
              </div>
              <div class="<%= namespace %>-Anchor_Card-txt">
                <p class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>さらにSPUと組み合わせで<br class="u-Show_Oxx">ポイントアップ術！</p>
              </div>
            </a>
          </div>
          <div class="<%= namespace %>-Anchor_Card">
            <a href="#anc04" class="js-scroll">
              <div class="<%= namespace %>-Anchor_Card-img">
                <picture>
                  <source media="(max-width:834px)" srcset="<%= imgDir %>img-icon-04-sp.png" width="71px">
                  <img src="<%= imgDir %>img-icon-04-pc.png" alt="" width="214" height="64">
                </picture>
              </div>
              <div class="<%= namespace %>-Anchor_Card-txt">
                <p class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>キャンペーンで<br>
                  ポイントもらえちゃう！</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="u-Adjust_Pt-40 u-Adjust_Pb-48">
      <div class="l-System_Container">
        <div class="u-Adjust_Align-center <%= namespace %>-Ttl_A">
          <h2 class="c-Heading_Lv2" id="anc01" data-ratid="scroll-01_use" data-ratevent="appear">
              <span class="c-Txt_Emp-02">たくさん貯まる・便利に使える</span><span>楽天ポイント！</span>
          </h2>
          <p class="u-Adjust_Align-center c-Txt_Emp-01 u-Adjust_Mt-8">楽天グループのサービスや街の中でも楽天ポイントはご利用になれます。</p>
        </div>
        <div class="u-Adjust_Mt-40">
          <div class="l-Media_Grid-half">
            <div class="<%= namespace %>-Card">
              <div class="<%= namespace %>-Card_Balloon">
                <div class="<%= namespace %>-Balloon">
                  楽天グループ70以上の<br>サービスで貯まる・使える
                </div>
              </div>
              <picture>
                <source media="(max-width:834px)" srcset="<%= imgDir %>img-card-01-sp.png" width="100%">
                <img src="<%= imgDir %>img-card-01-pc.png" alt="" width="448" height="129">
              </picture>

              <p class="u-Adjust_Mt-24">
                <a href="<%= sitepath %>tips/gservice/" class="c-Link_Txt-inline-icon">楽天グループのサービスを見る<span class="c-Icon_Chevron-right"></span></a>
              </p>
            </div>
            <div class="<%= namespace %>-Card">
              <div class="<%= namespace %>-Card_Balloon">
                <div class="<%= namespace %>-Balloon">
                  街のお買い物やお支払いで<br>貯まる・使える
                </div>
              </div>
              <picture>
                <source media="(max-width:834px)" srcset="<%= imgDir %>img-card-02-sp.png" width="100%">
                <img src="<%= imgDir %>img-card-02-pc.png" alt="" width="448" height="129">
              </picture>
              <p class="u-Adjust_Mt-24">
                <a href="https://pointcard.rakuten.co.jp/guidance/" class="c-Link_Txt-inline-icon">楽天ポイントのご利用ガイドを見る<span class="c-Icon_Chevron-right"></span></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="c-Theme-Light u-Adjust_Pt-56 u-Adjust_Pb-40 u-Adjust_Pl-0 u-Adjust_Pr-0">
      <div class="l-System_Container">
        <h2 class="u-Adjust_Align-center" id="anc02" data-ratid="scroll-02_spu" data-ratevent="appear">
          <span class="c-Heading_Lv2 u-Adjust_Mb-8">SPUで<br class="u-Show_Oxx">ポイントアップ！</span><br>
          <span class="c-Txt_Normal c-Txt_Emp-02">Rakuten Turboご契約中は、<br class="u-Show_Oxx">楽天市場のお買い物がポイントアップ！</span>
        </h2>
        <div class="u-Adjust_Mt-24">
          <picture>
            <source media="(max-width:834px)" srcset="<%= imgDir %>img-spu-01-sp-230711.png" width="100%">
            <img src="<%= imgDir %>img-spu-01-pc-230711.png" alt="SPU（スーパーポイントアップ）とは、対象サービスの条件を達成すると楽天市場でのお買い物がポイントアップするプログラムです。" width="1032" height="303">
          </picture>
        </div>
        <div class="u-Adjust_Mt-48 u-Adjust_Align-center">
          <picture>
            <source media="(max-width:834px)" srcset="<%= imgDir %>img-spu-02-sp-231201.png" width="100%">
            <img src="<%= imgDir %>img-spu-02-pc-231201.png" alt="楽天モバイルとセットで使えば楽天市場のお買い物がポイントUP！毎日全員7倍！！" width="819" height="137">
          </picture>
        </div>
        <div class="c-Theme-White u-Adjust_Pb-16 u-Adjust_Pt-16 u-Adjust_Pl-16 u-Adjust_Pr-16" style="border-radius: 8px;">
          <h3 class="c-Heading_Lv4 u-Adjust_Align-center">楽天市場のお買い物で獲得できる<br class="u-Show_Oxx">ポイントの内訳</h3>
          <div class="u-Adjust_Align-center">
            <picture>
              <source media="(max-width:834px)" srcset="<%= imgDir %>img-spu-03-sp-231201.png" width="100%">
              <img src="<%= imgDir %>img-spu-03-pc-231201.png" alt="Rakuten Turbo SPU＋2倍 楽天モバイル　SPU ＋4倍" width="912" height="83">
            </picture>
          </div>
        </div>
        <p class="c-Txt_Cap u-Adjust_Mt-8">
          ※楽天会員1倍、Rakuten Turboまたは楽天ひかりご契約中＋2倍 、楽天モバイルご利用でポイント＋4倍（スーパーホーダイ、組み合わせプラン、コミコミプランはSPUの対象外）　※毎月の獲得上限ポイントはRakuten Turboまたは楽天ひかりが1,000ポイント、楽天モバイルが2,000ポイント。いずれも期間限定ポイントでの進呈　※ポイント未利用時の倍率
        </p>
        <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
          <a href="<%= sitepath %>internet/turbo/campaign/spu/" data-lid_no="02" class="c-Btn_Secondly-large"><span>Rakuten TurboのSPUを見る</span></a>
        </div>
      </div>
    </section>

    <section class="u-Adjust_Pt-64 u-Adjust_Pb-64">
      <div class="l-System_Container">
        <h2 class="u-Adjust_Align-center" id="anc03" data-ratid="scroll-03_up" data-ratevent="appear">
          <span class="c-Heading_Lv2">SPUと組み合わせで、<br class="u-Show_Oxx">さらにポイントアップ術！</span>
        </h2>

        <div class="u-Adjust_Mt-32">
          <picture>
            <source media="(max-width:834px)" srcset="<%= imgDir %>img-spu-04-sp-231201.png" width="100%">
            <img src="<%= imgDir %>img-spu-04-pc-231201.png" alt="特典や仕組みを利用すれば...14倍※1" width="1032" height="576">
          </picture>
        </div>
        <p class="u-Adjust_Mt-24 <%= namespace %>-Grid_Txt">
          <span>
            <img src="<%= imgDir %>img-num-1.png" alt="①" width="28px" height="28px">
          </span>
          <span>利用の楽天サービス：楽天モバイル／Rakuten Turbo／楽天カード</span>
        </p>
        <p class="u-Adjust_Mt-8 <%= namespace %>-Grid_Txt">
          <span>
            <img src="<%= imgDir %>img-num-2.png" alt="②" width="28px" height="28px">
          </span>
          <span>利用のポイントアップ術：お買い物マラソンやスーパーセールでの買いまわり／５と０のつく日エントリー</span>
        </p>

        <p class="c-Txt_Cap u-Adjust_Mt-16">
          ※ポイント未利用時の倍率<br>
          ※1 期間限定ポイントなど条件・上限あり。各キャンペーンのルール詳細を必ずご確認ください。<br>
          ※2 楽天カード特典分は、楽天市場でのカードご利用額（消費税・送料・ラッピング料除く）100円につき1ポイント（期間限定ポイント）となります。進呈するポイント（期間限定ポイントを含む）には上限や条件があります。詳細はこちらをご覧ください。<br>
          ※3 楽天カード通常分は、楽天市場でのカードご利用額100円につき1ポイント（通常ポイント）となります。<br>
          ※4 Rakuten Turboご利用でポイント＋2倍 、毎月の獲得上限ポイントは1,000ポイント。期間限定ポイントでの進呈。<br>
          ※5 楽天モバイルご利用でポイント＋4倍（スーパーホーダイ、組み合わせプラン、コミコミプランはSPUの対象外）2,000ポイント。期間限定ポイントでの進呈。
        </p>

        <p class="u-Adjust_Mt-16">
          <a href="<%= sitepath %>guide/ichiba-lecture/" class="c-Link_Txt-inline-icon">詳しいポイント活用術を見る<span class="c-Icon_Chevron-right"></span></a>

        </p>

        <div class="<%= namespace %>-Divider u-Adjust_Mt-32">
          <img src="<%= imgDir %>img-divider.png" alt="" width="182px" height="40px">
        </div>

        <h3 class="u-Adjust_Align-center u-Adjust_Mt-32">
          <span class="c-Heading_Lv3">貯まったポイントは、Rakuten Turboのご利用料金に！</span>
        </h3>

        <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
          <picture>
            <source media="(max-width:834px)" srcset="<%= imgDir %>img-spu-05-sp-240221.png" width="688" height="358">
            <img src="<%= imgDir %>img-spu-05-pc-240221.png" alt="" width="455" height="237">
          </picture>
        </div>

        <div class="u-Adjust_Align-center u-Adjust_Mt-32">
          <a href="<%= sitepath %>internet/turbo/support/payment/point/" class="c-Btn_Secondly-large" data-lid_no="02"><span>楽天ポイントの利用（お支払い方法）を見る</span></a>
        </div>

      </div>
    </section>

    <section class="c-Theme-Light u-Adjust_Pt-56 u-Adjust_Pb-64 u-Adjust_Pl-0 u-Adjust_Pr-0">
      <div class="l-System_Container">
          <h2 class="u-Adjust_Align-center u-Adjust_Mb-16" id="anc04" data-ratid="scroll-04_campaign" data-ratevent="appear">
            <span class="c-Heading_Lv2">キャンペーンで、<br class="u-Show_Oxx">ポイントがもらえちゃう！</span>
          </h2>
          <div class="u-Adjust_Align-center">
            <picture>
              <img src="<%= imgDir %>img-ttl-02-pc-230711.png" alt="はじめよう Rakuten Turbo" width="444" height="74">
            </picture>
          </div>
          <div class="<%= namespace %>-Card_Gray u-Adjust_Mt-48">
            <div>
              <div class="<%= namespace %>-Card_Gray-balloon">
                <picture>
                  <source media="(max-width:834px)" srcset="<%= imgDir %>img-balloon-01-sp.png" width="100%">
                  <img src="<%= imgDir %>img-balloon-01-pc.png" alt="Rakuten Turboはじめてお申し込みの方限定" width="344" height="90">
                </picture>
              </div>
              <div class="u-Adjust_Align-center">
                <img src="<%= imgDir %>img-txt-01-230711.png" alt="エントリー後にお申し込み＆ご利用でもれなく1,000ポイントプレゼント" width="410" height="102">
              </div>
              <div class="u-Adjust_Mt-16">

                <a href="<%= sitepath %>internet/turbo/campaign/spu/" data-lid_no="03" class="c-Btn_Primary <%= namespace %>-Card_Gray-button">
                  <span>はじめて申し込みキャンペーンを見る
                  </span>
                </a>
              </div>
            </div>
            <div>
              <div class="<%= namespace %>-Card_Gray-balloon">
                <picture>
                  <source media="(max-width:834px)" srcset="<%= imgDir %>img-balloon-02-sp-230711.png" width="100%">
                  <img src="<%= imgDir %>img-balloon-02-pc-230711.png" alt="楽天モバイル「Rakuten最強プラン」のご利用で" width="344" height="90">
                </picture>
              </div>
              <div class="u-Adjust_Align-center">
                <img src="<%= imgDir %>img-txt-02-230711.png" alt="ご契約中の方も、新たにご契約の方も20,000円相当分ポイント還元！" width="396" height="102">
              </div>
              <div class="u-Adjust_Mt-16">
                <a href="<%= sitepath %>internet/turbo/campaign/one-year-1980/" class="c-Btn_Primary <%= namespace %>-Card_Gray-button" >
                  <span>Rakuten Turboとセットで<br>
                    もらえるキャンペーンを見る
                  </span>
                </a>
              </div>
            </div>
          </div>
      </div>
    </section>

    <section class="c-Theme-Light u-Adjust_Pl-0 u-Adjust_Pr-0 u-Adjust_Pt-40 u-Adjust_Pb-40 u-Adjust_Mt-8">
      <div class="l-System_Container">
        <h3 class="u-Adjust_Align-center">
          <span class="c-Heading_Lv3">他カテゴリーから探す</span>
        </h3>

        <div class="c-Tab js-Tab u-Adjust_Mt-24">
          <ul class="c-Tab_Items" role="tablist">
            <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">ご利用開始前の方</li>
            <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">ご利用中の方</li>
          </ul>
          <div class="c-Theme-White">
            <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
              <div class="<%= namespace %>-Grid_Link">
                <div>
                  <a href="<%= sitepath %>internet/turbo/support/product/" class="c-Link_Txt-inline">製品に関するサポート<span class="c-Icon_Chevron-right"></span></a>
                </div>
                <div>
                  <a href="<%= sitepath %>internet/turbo/support/plan/" class="c-Link_Txt-inline">プラン・サービスに関するサポート<span class="c-Icon_Chevron-right"></span></a>
                </div>
                <div>
                  <a href="<%= sitepath %>internet/turbo/support/flow/" class="c-Link_Txt-inline">申し込みからお受け取りまでに関するサポート<span class="c-Icon_Chevron-right"></span></a>
                </div>
                <div>
                  <a href="<%= sitepath %>internet/turbo/support/campaign/" class="c-Link_Txt-inline">キャンペーン<span class="c-Icon_Chevron-right"></span></a>
                </div>
              </div>
            </div>
            <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
              <div class="<%= namespace %>-Grid_Link">
                <div>
                  <a href="<%= sitepath %>internet/turbo/support/setting/" class="c-Link_Txt-inline">操作・設定・不具合に関するサポート<span class="c-Icon_Chevron-right"></span></a>
                </div>
                <div>
                  <a href="<%= sitepath %>internet/turbo/support/payment/" class="c-Link_Txt-inline">請求・お支払い方法に関するサポート<span class="c-Icon_Chevron-right"></span></a>
                </div>
                <div>
                  <a href="<%= sitepath %>internet/turbo/support/contract/" class="c-Link_Txt-inline">契約内容・お手続きに関するサポート<span class="c-Icon_Chevron-right"></span></a>
                </div>

              </div>
            </div>
          </div>

          <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <a href="<%= sitepath %>internet/turbo/support/" class="c-Btn_Regular"><span>お客様サポートトップへ</span></a>
          </div>

        </div>
      </div>
    </section>


    <div class="u-Adjust_Mt-24">
      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
      <%- include('/include/internet/turbo/_footer', { directories, pagetitle }) %>
    </div>
  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
  <%- include('/include/internet/turbo/_rex-survey') %>
  <script src="<%= sitepath %>assets/js/internet.turbo.support.category.bundle.js?20240521"></script>
  <%- include('/include/internet/turbo/support/_smallcategory-js') %>


</body>

</html>
