<% const pagetitle = "紹介プログラム 紹介コード受付完了／Referral program entry completed" -%>
<% const namespace = 'rakuten-employee-2210' _%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: 'Rakuten UN-LIMIT VII 紹介プログラム エントリー完了ページです。',
    keywords: '',
    noindex: true,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/rakuten-employee-2210/rakuten-employee-2210.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

  <%- include('/include/_header-simple') %>

  <div class="u-Adjust_Pb-80">
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1 u-Adjust_Mt-32">紹介プログラム 紹介コード受付完了／Referral program entry completed</h1>
      <div class="c-Theme-Borderbox <%= namespace %>-Layout_Thanks u-Adjust_Mt-32">
        <p class="c-Txt_Normal-m c-Txt_Emp-01 u-Adjust_Align-center">
          エントリーが完了しました。<br>
          引き続き、楽天モバイルお申し込みお手続きをお願いいたします。
        </p>

        <p class="c-Txt_Normal-m c-Txt_Emp-01 u-Adjust_Align-center u-Adjust_Mt-48">
          Your entry has been completed.<br>
          Please continue to apply for Rakuten Mobile.
        </p>

      </div>




      <h2 class="c-Txt_Normal-ll u-Adjust_Mt-32">Webでお申し込み／Apply online</h2>
      <ul class="<%= namespace %>-Layout_Btn-center u-Adjust_Mt-16">
        <li>
          <a href="<%= sitepath %>guide/application/?lid-r=campaign_rakuten-employee_form_thanks_guide_application" class="c-Btn_Primary <%= namespace %>-Layout_Btn-mod-1">新規／乗り換え（MNP）お申し込み</a>
        </li>
        <li>
          <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten" class="c-Btn_Secondly <%= namespace %>-Layout_Btn-mod-3" target="_blank" rel="noopener">
            <span class="<%= namespace %>-Layout_Btn-text-mod-1">スーパーホーダイ、組み合わせプランからの</span><br>
            <span class="<%= namespace %>-Layout_Btn-text-mod-2">プラン変更（移行）お申し込み</span>
          </a>
        </li>
      </ul>

      <p class="c-Txt_Normal-m u-Adjust_Mt-40">
        For English
      </p>
      <ul class="<%= namespace %>-Layout_Btn-center u-Adjust_Mt-16">
        <li>
          <a href="https://portal.mobile.rakuten.co.jp/en/?l-id=rakuten-employee_form-thanks_fee_ecare-en" class="c-Btn_Primary <%= namespace %>-Layout_Btn-mod-1">Apply Now (New/MNP transfer)</a>
        </li>
        <li>
          <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten" class="c-Btn_Secondly <%= namespace %>-Layout_Btn-mod-3" target="_blank" rel="noopener">
            <span class="<%= namespace %>-Layout_Btn-text-mod-1">Apply for plan migration from Super-hodai/Combination plan*</span>
          </a>
        </li>
      </ul>
      <p class="c-Txt_Cap u-Adjust_Align-right u-Adjust_Mt-16">*only in Japanese</p>


      <h2 class="c-Txt_Normal-ll u-Adjust_Mt-40">楽天モバイルショップでお申し込み／Apply at a store</h2>
      <ul class="<%= namespace %>-Layout_Btn-center u-Adjust_Mt-16">
        <li>
          <a href="<%= sitepath %>shop/?l-id=campaign_rakuten-employee_form_thanks_shop" class="c-Btn_Primary <%= namespace %>-Layout_Btn-mod-2">ショップ検索・来店予約／Find a store</a>
        </li>
      </ul>
    </div>
  </div>

</div>
<%- include('/include/_append-body') %>
</body>
</html>
