<% const pagetitle = "紹介プログラム エントリー完了ページ（ショップお申し込み） " -%>
<% const namespace = 'rakuten-employee-2210' _%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: 'Rakuten UN-LIMIT VII 紹介プログラム エントリー完了ページです。',
    keywords: '',
    noindex: true,
    pathname: filepath
  });
%>
<meta http-equiv="refresh" content="1;URL=https://network.mobile.rakuten.co.jp/shop/">
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/rakuten-employee-2210/rakuten-employee-2210.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

  <%- include('/include/_header-simple') %>

  <div class="u-Adjust_Pb-80">
    <div class="l-System_Container u-Adjust_Align-center">
      <h1 class="c-Txt_Normal-m u-Adjust_Mt-80">引き続き、楽天モバイルショップの来店予約をお願いいたします。</h1>
      <p class="u-Adjust_Mt-32">
        ショップページに自動で移動します。ページが切り替わらない場合は、こちらのボタンからお進みください。
      </p>
      <div class="u-Adjust_Mt-32"><a href="<%= sitepath %>shop/?l-id=campaign-employee_shop" class="c-Btn_Primary-large">ショップ検索・来店予約に進む</a></div>
    </div>
  </div>

</div>
<%- include('/include/_append-body') %>
</body>
</html>
