<% const namespace = "blackfriday" -%>

<div class="riCheckEntryMulti checkEntryMulti-event u-Adjust_Mt-24 u-Adjust_Mb-24" require_check="0" campaignids="93727" campaigncode="ic/blackfriday/20211118hjehn/pointup">
  <form class="riCheckEntryMulti__noLoginForm js-form-entry" action="https://oubo.rakuten.co.jp/apply/ic/blackfriday/20211118hjehn/pointup">
    <input type="checkbox" name="ekey" value="form_rakuten_mobile-mail_on" class="riCheckEntryMulti__checkBox js-hidden-entry" style="display:none;" checked>
      <!--未ログイン・JSオフ-->
      <div class="riCheckEntryMulti__noLoginButton">
        <button class="<%= namespace %>-Btn_Primary c-Btn_Primary">ポイント最大53倍のキャンペーンに<br class="blackfriday-Utility_Img-sp">エントリーする</button>

        <div class="u-Adjust_Mt-16">
          <label class="blackfriday-Form_Checkbox js-check-entry">
            <span class="blackfriday-Form_Checkbox-input js-check-entry-input" aria-checked="true"></span>
            <span class="c-Icon_Check"></span>
            <div class="blackfriday-Form_Checkbox-label"><span class="c-Txt_Emp-01">エントリーしてメルマガを購読する</span></div>
          </label>
        </div>

        <div class="u-Adjust_Align-left">
          <div class="user-friendly-campaign-entry-form-message u-Adjust_Mt-16">
            <p class="<%= namespace %>-Utility_form-message"><a href="https://my.rakuten.co.jp/">楽天会員情報</a>に<span class="c-Txt_Emp-01">ご登録されているメールアドレス</span>宛に、<span class="c-Txt_Emp-01">楽天モバイル</span>より、会員限定のキャンペーン情報や楽天グループまたはその他の企業のお得な情報などが満載の<span class="c-Txt_Emp-01">楽天モバイルニュース</span>をお送りいたします。<span class="c-Txt_Emp-01">メルマガ購読を希望されない方は、チェックを外してください。</span></p>
          </div>
        </div>
      </div>
      <!--/未ログイン・JSオフ-->
      <!--未エントリー-->
      <div class="riCheckEntryMulti__entryButton">
        <a class="riCheckEntryMulti__entryLink <%= namespace %>-Btn_Primary c-Btn_Primary js-check-entry-href" href="https://oubo.rakuten.co.jp/apply/ic/blackfriday/20201119miszg/pointup?ekey=form_rakuten_mobile-mail_on">ポイント最大53倍のキャンペーンに<br class="blackfriday-Utility_Img-sp">エントリーする</a>
        <div class="u-Adjust_Mt-16">
          <label class="blackfriday-Form_Checkbox js-check-entry">
            <span class="blackfriday-Form_Checkbox-input js-check-entry-input" aria-checked="true"></span>
            <span class="c-Icon_Check"></span>
            <div class="blackfriday-Form_Checkbox-label"><span class="c-Txt_Emp-01">エントリーしてメルマガを購読する</span></div>
          </label>
        </div>

        <div class="u-Adjust_Align-left">
          <div class="user-friendly-campaign-entry-form-message u-Adjust_Mt-16">
            <p class="<%= namespace %>-Utility_form-message"><a href="https://my.rakuten.co.jp/">楽天会員情報</a>に<span class="c-Txt_Emp-01">ご登録されているメールアドレス</span>宛に、<span class="c-Txt_Emp-01">楽天モバイル</span>より、会員限定のキャンペーン情報や楽天グループまたはその他の企業のお得な情報などが満載の<span class="c-Txt_Emp-01">楽天モバイルニュース</span>をお送りいたします。<span class="c-Txt_Emp-01">メルマガ購読を希望されない方は、チェックを外してください。</span></p>
          </div>
        </div>
      </div>
      <!--/未エントリー-->
      <!--エントリー完了-->
      <div class="riCheckEntryMulti__registeredButton <%= namespace %>-Btn_Primary"><div class="c-Btn_Primary" aria-disabled="true">エントリーが完了しました</div></div>
      <!--/エントリー完了-->

      <!--エントリー済み-->
      <div class="riCheckEntryMulti__enteredButton <%= namespace %>-Btn_Primary"><div class="c-Btn_Primary" aria-disabled="true">エントリー済みです</div></div>
      <div class="riCheckEntryMulti__enteredMessage"></div>
      <!--/エントリー済み-->
  </form>
</div>