<% const pagetitle = "故障かなと思ったら" -%>
<% const directories = [{path:"internet/turbo/support/", label:"お客様サポート"}, {path:"internet/turbo/support/setting/", label:"操作・設定・不具合"}] -%>
<% const namespace = "support-smallcategory" -%>
<%
  const pageInfo = {
    namespace,
    isUserCategory: true
  };
%>
<%-
 include('/_header', {
    pagetitle,
    directories,
    description: '楽天モバイルのホームルーターRakuten Turboが通信が繋がらない、遅い、ステータスランプが赤く点滅している、など、故障かと思った場合の対処方法をご確認いただけます',
    noindex: false,
    pathname: filepath,
    isTurbo: true
  });
%>

<%- include('/include/_common-css-v2') %>
<%- include('/include/internet/turbo/support/_smallcategory-css') %>
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/internet/turbo/_prepend-body-internet') %>
  <div class="l-System">
    <%- include('/include/internet/turbo/_header', {
      pagetitle,
      directories,
      tax: false,
    }) %>

    <div class="l-System_Container">
      <section class="u-Adjust_Mt-32">
        <h1 class="c-Heading_Lv1 <%= namespace %>-Utility_Heading_Lv1"><%= pagetitle %></h1>
        <p class="u-Adjust_Mt-24">症状によって対処方法が異なります。以下より選択してください。</p>
      </section>

      <section class="u-Adjust_Mt-48">
        <h2 id="anc01" class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">インターネットにつながらない</h2>
        <ul class="u-Adjust_Mt-24 <%= namespace %>-List_Basic">
          <li>
            <a href="<%= sitepath %>faq/detail/10000624/" class="c-Link_Txt-inline">インターネットに接続ができない<span class="c-Icon_Chevron-right"></span></a>
          </li>
          <li>
            <a href="<%= sitepath %>faq/detail/10000625/" class="c-Link_Txt-inline">本製品のLTE／5Gランプが点灯しているのに通信ができない<span class="c-Icon_Chevron-right"></span></a>
          </li>
          <li>
            <a href="<%= sitepath %>faq/detail/10000626/" class="c-Link_Txt-inline">通信がすぐに切れる<span class="c-Icon_Chevron-right"></span></a>
          </li>
          <li>
            <a href="<%= sitepath %>faq/detail/10000760/" class="c-Link_Txt-inline">利用再開したのにインターネットにつながらない<span class="c-Icon_Chevron-right"></span></a>
          </li>
        </ul>
      </section>

      <section class="u-Adjust_Mt-64">
        <h2 id="anc02" class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">Wi-Fiにつながらない</h2>
        <ul class="u-Adjust_Mt-24 <%= namespace %>-List_Basic">
          <li>
            <a href="<%= sitepath %>faq/detail/10000627/" class="c-Link_Txt-inline">Wi-Fi対応機器を本製品に接続できない<span class="c-Icon_Chevron-right"></span></a>
          </li>
          <li>
            <a href="<%= sitepath %>faq/detail/10000628/" class="c-Link_Txt-inline">本製品のWi-Fiのパスワードが間違っていると表示される<span class="c-Icon_Chevron-right"></span></a>
          </li>
          <li>
            <a href="<%= sitepath %>faq/detail/10000629/" class="c-Link_Txt-inline">本製品のWi-Fiのパスワードを忘れてしまった<span class="c-Icon_Chevron-right"></span></a>
          </li>
          <li>
            <a href="<%= sitepath %>faq/detail/10000630/" class="c-Link_Txt-inline">本製品のQRコード（かんたん接続用コード）をスキャンしてもWi-Fiが使えない<span class="c-Icon_Chevron-right"></span></a>
          </li>
        </ul>
      </section>

      <section class="u-Adjust_Mt-64">
        <h2 id="anc03" class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">速度が遅い</h2>
        <ul class="u-Adjust_Mt-24 <%= namespace %>-List_Basic">
          <li>
            <a href="<%= sitepath %>faq/detail/10000631/" class="c-Link_Txt-inline">通信速度が遅く感じる<span class="c-Icon_Chevron-right"></span></a>
          </li>
        </ul>
      </section>

      <section class="u-Adjust_Mt-64">
        <h2 id="anc04" class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">ステータスランプが点灯しない・赤点灯する</h2>
        <ul class="u-Adjust_Mt-24 <%= namespace %>-List_Basic">
          <li>
            <a href="<%= sitepath %>faq/detail/10000632/" class="c-Link_Txt-inline">Power ランプが点灯しない<span class="c-Icon_Chevron-right"></span></a>
          </li>
          <li>
            <a href="<%= sitepath %>faq/detail/10000633/" class="c-Link_Txt-inline">Wi-Fiランプが赤点灯する<span class="c-Icon_Chevron-right"></span></a>
          </li>
          <li>
            <a href="<%= sitepath %>faq/detail/10000634/" class="c-Link_Txt-inline">LTE ランプが赤点灯する<span class="c-Icon_Chevron-right"></span></a>
          </li>
          <li>
            <a href="<%= sitepath %>faq/detail/10000635/" class="c-Link_Txt-inline">5G ランプが赤点灯する<span class="c-Icon_Chevron-right"></span></a>
          </li>
          <li>
            <a href="<%= sitepath %>faq/detail/10000636/" class="c-Link_Txt-inline">ステータスランプに赤い点滅がある<span class="c-Icon_Chevron-right"></span></a>
          </li>
        </ul>
      </section>

      <section class="u-Adjust_Mt-64">
        <h2 id="anc05" class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">落下・水濡れなどにより製品を利用できない</h2>
        <p class="u-Adjust_Mt-16">お客様の過失・事故による故障の場合、保証期間にかかわらず製品保証対象外となります。</p>
        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>internet/turbo/support/product/rakuten-turbo5g/repair/" class="c-Link_Txt-inline">Rakuten Turbo 5Gの製品保証を確認する<span class="c-Icon_Chevron-right"></span></a></p>
        <p class="u-Adjust_Mt-16">以下をご確認のうえ、製品再購入のお手続きをお願いいたします。</p>
        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>faq/detail/10000637/" class="c-Link_Txt-inline">製品を再購入する<span class="c-Icon_Chevron-right"></span></a></p>
      </section>
    </div>

    <section class="u-Adjust_Pt-80">
      <div class="<%= namespace %>-Layout_Category">
        <div class="l-System_Container">
          <%- include('/include/internet/turbo/support/_smallcategory-category', { pageInfo }) %>
        </div>
      </div>
    </section>

    <div class="u-Adjust_Mt-24">
      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
      <%- include('/include/internet/turbo/_footer', { directories, pagetitle }) %>
    </div>
  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
  <%- include('/include/internet/turbo/_rex-survey') %>
  <%- include('/include/internet/turbo/support/_smallcategory-js') %>

</body>

</html>
