
<% const pagetitle = "製品受け取り前キャンセルのお手続き" -%>
<% const directories = [{path:"faq/", label:"お問い合わせ"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '',
    noindex: true,
    pathname: filepath
  });
%>

<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/faq/cancel/faq-cancel.css?20240424">
<%- include('/include/_append-head', {messaging: true}) %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="faq-cancel-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
    <p class="u-Adjust_Mt-24">楽天モバイルにお申し込み後、製品を受け取る前に限り、こちらよりお申し込みのキャンセルを承ります。</p>

    <div class="c-Accordion u-Adjust_Mt-40">
      <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンセルの流れ</button>
      <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true" style="display: none;">
        <ol class="c-List_Ordered">
          <li>本フォームの送信（お客様）</li>
          <li>送信内容の確認（弊社）
            <p class="c-Txt_Cap u-Adjust_Mb-8">※本人確認の内容と契約者情報の確認を実施</p>
          </li>
          <li>2日以内にキャンセル処理完了のご連絡
            <p class="c-Txt_Cap u-Adjust_Mb-8">※4日以上ご連絡のない場合は「<a href="<%= sitepath %>guide/my-rakuten-mobile/">my 楽天モバイル</a>」アプリよりチャットでお問い合わせください</p>
          </li>
        </ol>
      </div>
      </div>
      <div class="c-Accordion">
      <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>配達員が訪問した場合、または宅配BOXに届いた場合</button>
      <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true" style="display: none;">
        <ul class="c-List_Text-disc">
          <li>受け取り拒否の意思表示を配達員に示してください。</li>
          <li>宅配BOX含めてお受け取りになられた場合は、「<a href="<%= sitepath %>guide/my-rakuten-mobile/">my 楽天モバイル</a>」アプリよりチャットでお問い合わせください。</li>
        </ul>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>送信いただいた情報に相違があった場合</button>
      <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true" style="display: none;">
        <ul class="c-List_Text-disc">
          <li>入力情報と契約者情報に相違があった場合はキャンセルの受付ができません。</li>
          <li>「<a href="<%= sitepath %>guide/my-rakuten-mobile/">my 楽天モバイル</a>」アプリよりチャットでお問い合わせください。</li>
        </ul>
      </div>
    </div>

    <form action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST">
    <input type="hidden" name="orgid" value="00D28000000cT0x">
    <input type="hidden" name="retURL" value="http://">

    <input type="hidden" name="recordType" value="0120I000001Dmn0">
    <input type="hidden" name="00N2800000C8tB3" value="楽天回線お問い合せご要望">
    <input type="hidden" name="subject" value="MNOキャンセルフォーム">

<!--  ----------------------------------------------------------------------  -->
<!--  注意: これらの項目は、省略可能なデバッグ用要素です。デバッグモードでテストを行う場合は、これらの行をコメント解除してください。-->
<!--  <input type="hidden" name="debug" value=1>                              -->
<!--  <input type="hidden" name="debugEmail"                                  -->
<!--  value="yuri.kunimoto@rakuten.com">                                      -->
<!--  ----------------------------------------------------------------------  -->

      <dl class="c-Form_List u-Adjust_Mt-24">
        <div>
          <dt>ご契約者氏名<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <p id="err-required_name" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="false">「姓」は必須項目です</p>
            <p id="err-required_00N0I00000Jxe34" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="false">「名」は必須項目です</p>
            <dl class="c-Form_List-sub">
              <div class="u-Adjust_Mr-16">
                <dt>姓</dt>
                <dd>
                  <input class="c-Form_Input u-Adjust_W-160" maxlength="80" name="name" size="20" type="text" placeholder="例）楽天" aria-required="true" autocomplete="off" id="name" aria-invalid="true" />
                </dd>
              </div>
              <div class="u-Adjust_Mr-0">
                <dt>名</dt>
                <dd>
                  <input class="c-Form_Input u-Adjust_W-160" maxlength="80" name="00N0I00000Jxe34" size="20" type="text" placeholder="例）太郎" aria-required="true" autocomplete="off" id="00N0I00000Jxe34" aria-invalid="true" />
                </dd>
              </div>
            </dl>
          </dd>
        </div>
        <div>
          <dt>ご契約者生年月日<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <div class="faq-cancel-Form_Datepicker-container">
              <input id="00N0I00000JyFjg" name="00N0I00000JyFjg" class="c-Form_Input u-Adjust_Mb-16 js-Datepicker" maxlength="" size="" type="text" value="1990/10/01" aria-required="true">
              <span class="c-Icon_Calendar-l js-Datepicker_Btn"></span>
            </div>
          </dd>
        </div>
        <div class="faq-cancel-Form_Item-area">
          <dt>ご契約者住所<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <p class="c-Txt_Cap u-Adjust_Mb-8">※「ご契約者住所」は、my 楽天モバイルの「契約者情報」からご確認いただけます</p>
            <p class="c-Txt_Cap u-Adjust_Mb-16">※255文字以内で入力してください</p>
            <p id="err-required_00N280000095Txj" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="false">必須項目です</p>
            <input class="c-Form_Input" maxlength="255" name="00N280000095Txj" size="20" type="text" placeholder="例）東京都世田谷区玉川一丁目14番1号 楽天クリムゾンハウス" aria-required="true" autocomplete="off" id="00N280000095Txj" aria-invalid="true" />
          </dd>
        </div>
        <div>
          <dt>キャンセルしたい「お申し込み回線（電話番号） 」</dt>
          <dd>
            <p class="c-Txt_Cap u-Adjust_Mb-16">※「お申し込み回線」は、my 楽天モバイルの「申し込み履歴」からご確認いただけます</p>
            <p class="c-Txt_Cap u-Adjust_Mb-16">※半角数字10文字または半角数字11文字で入力してください</p>
            <p class="c-Txt_Cap u-Adjust_Mb-16">※ー（ハイフン）を入れずに入力してください</p>
            <p id="err-numeric_00N0I00000Jxe3E" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="false">半角数字で入力してください</p>
            <p id="err-length_00N0I00000Jxe3E" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="false">正しい電話番号を入力してください</p>
            <input class="c-Form_Input" minlength="10" maxlength="11" name="00N0I00000Jxe3E" size="20" type="text" placeholder="例）090XXXXXXXX" aria-required="true"  autocomplete="off" id="00N0I00000Jxe3E" aria-invalid="true" />
          </dd>
        </div>
        <div>
          <dt>キャンセルしたい製品（端末）の「申込番号」</dt>
          <dd>
            <p class="c-Txt_Cap u-Adjust_Mb-16">※「申込番号」は、my 楽天モバイルの「申し込み履歴」からご確認いただけます</p>
            <p class="c-Txt_Cap u-Adjust_Mb-16">※ #で始まる7-10桁の番号</p>
            <p id="err-numeric_00N2u000000Ggxq" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="false">半角数字で入力してください</p>
            <p id="err-length_00N2u000000Ggxq" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="false">正しい数字を入力してください</p>
            <input class="c-Form_Input" id="00N2u000000Ggxq" maxlength="30" name="00N2u000000Ggxq" size="20" type="text" placeholder="例）#123456789" aria-required="true"  autocomplete="off" aria-invalid="true" />
          </dd>
        </div>
        <div>
          <dt>キャンセル処理完了メールの受け取りメールアドレス<span class="c-Form_List-required">必須</span></dt>
          <dd class="u-Adjust_Pb-24">
            <p class="c-Txt_Cap u-Adjust_Mb-16">※80文字以内で入力してください</p>
            <p id="err-required_email" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="false">必須項目です</p>
            <p id="err-email_email" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="false">正しいメールアドレスを入力してください</p>
            <p id="err-email_email2" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="false">メールアドレスが一致していません</p>
            <p class="c-Txt_Normal-ss u-Adjust_Mb-8">メールアドレス</p>
            <input class="c-Form_Input u-Adjust_Mb-16" maxlength="80" name="email" size="20" type="text" placeholder="例）example@example.com" aria-required="true"  autocomplete="off" id="email" aria-invalid="true" />

            <p class="u-Adjust_Mt-16 c-Txt_Normal-ss">確認用</p>
            <input class="c-Form_Input u-Adjust_Mt-8" maxlength="80" name="" size="20" type="text" placeholder="例）example@example.com" aria-required="true"  autocomplete="off" id="" aria-invalid="true" />
          </dd>
        </div>
      </dl>

      <h2 class="c-Heading_Lv3 u-Adjust_Mt-64">個人情報の取扱いについて</h2>
      <p class="u-Adjust_Mt-24 u-Adjust_Mb-24">「<a href="https://corp.mobile.rakuten.co.jp/guide/privacy/">個人情報の取扱いについて</a>」をご確認いただき、同意される場合は「同意する」ボタンにチェックを入れてお進みください。</p>

      <div class="u-Adjust_Align-center">
        <label class="c-Form_Checkbox">
          <input type="checkbox" name="" id="" value="">
          <span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">同意する</span>
        </label>
      </div>

      <p class="u-Adjust_Align-center u-Adjust_Mt-40">
        <input type="hidden" id="external" name="external" value="1" />
        <input class="c-Btn_Secondly-half" type="submit" name="submit" value="入力内容を確認する" aria-disabled="true" disabled>
      </p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※「個人情報の取扱いについて」のチェックボックスにチェックする必要があります。</p>
    </form>
 </div>
</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/cancel/_input') %>

</body>
</html>
