<% const information = {
  campaignType:'初売り福袋特集',
  couponCode:'ICHFUK00000001',
  webApplySchedule:'2024年1月1日（月）00:00～2024年1月15日（月）9:59',
  shopingSchedule:'2024年1月1日（月）00:00～2024年1月15日（月）9:59',
  planUseSchedule:'2024年2月29日（木）23:59まで',
  appCallSchedule:'2024年2月29日（木）23:59まで',
  givePointSchedule:'2024年5月末日',
  campaignState:'finish'
}; %>
<% const hiddenItem = "false" -%>
<% const pagetitle = "楽天市場の初売り福袋特集連動企画 Rakuten最強プランのお申し込み＆期間中に楽天市場で1,000円（税込）以上お買い物で3,000ポイントプレゼントキャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "fukubukuro" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  description: '楽天市場の初売り福袋特集連動企画 Rakuten最強プランのお申し込み＆期間中に楽天市場で1,000円（税込）以上お買い物で3,000ポイントプレゼントキャンペーン',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%>
<% const finishSchedule = "2024年1月15日" -%>
<%- include('/include/_common-css-v2') %>
<%- include('/inc/_about-rakuten-mobile-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/<%= namespace %>/<%= namespace %>.css?20240424">
<%- include('/inc/_saikyo-plan-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header',{applyHide:true}) %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout_Label">
      <ul class="c-Label_List <%= namespace %>-Layout_Label-list">
        <li class="c-Label_Normal">プランのみ申込可</li>
        <li class="c-Label_Normal">Rakuten Link利用必要</li>
        <li class="<%= namespace %>-Layout_Label-right-area">
          <div class="<%= namespace %>-Layout_Label-link <%= namespace %>-Layout_Display-pc"><a href="https://www.rakuten.co.jp/?scid=wi_rmb_ich_mkdiv_mnocpn-fukubukuropage-headertext_pc_ichiba-top_20240101&trflg=1" class="c-Link_Txt-inline">楽天市場トップへ<span class="c-Icon_Chevron-right"></span></a></div>
          <div class="<%= namespace %>-Layout_Label-link <%= namespace %>-Layout_Display-sp"><a href="https://www.rakuten.co.jp/?scid=wi_rmb_ich_mkdiv_mnocpn-fukubukuropage-headertext_sp-app_ichiba-top_20240101&trflg=1" class="c-Link_Txt-inline">楽天市場トップへ<span class="c-Icon_Chevron-right"></span></a></div>
        </li>
      </ul>
    </div>
    <div class="u-Rat_Appear-height" data-ratid="campaign_bigsale_scroll-01_top" data-ratevent="appear"></div>
    <div class="<%= namespace %>-Hero_Return u-Adjust_Mt-8">
      <div class="l-System_Container <%= namespace %>-Hero_Container">
        <div class="<%= namespace %>-Hero_Main">
          <h1><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/hero-pc.png?240101" alt="福袋初売り特集 楽天モバイル初めてのお申し込み＆本ページ経由の方限定 電話番号そのまま他社からお乗り換えで 9,000ポイント 他社からじゃなくても5,000ポイント" class="<%= namespace %>-Utility_Img-pc"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/hero-sp.png?240101" alt="福袋初売り特集 楽天モバイル初めてのお申し込み＆本ページ経由の方限定 電話番号そのまま他社からお乗り換えで 9,000ポイント 他社からじゃなくても5,000ポイント" class="<%= namespace %>-Utility_Img-sp"></h1>
        </div>
      </div>
    </div>

    <div class="<%= namespace %>-Layout_Body u-Adjust_Mt-8">
      <div class="l-System_Container">
      <% if (information.campaignState == 'finish') { %>
        <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは<%= finishSchedule %>をもちまして終了いたしました。<br>
          このページに掲載されている情報は、キャンペーン終了時点のものです。</p>
      <% } else { %>
        <!-- else -->
        <p class="u-Adjust_Mt-32 u-Adjust_Mb-48 u-Adjust_Align-center time-Count_End hidden">本キャンペーンは終了しました。</p>
      <% } %>
        <ul class="<%= namespace %>-Table_Rule-Cap">
          <li class="c-Txt_Emp-02 u-Adjust_Mt-0"><span>※</span>対象期間中に楽天市場でのお買い物合計金額1,000円(税込)以上の購入が対象。Rakuten Linkの利用必要。<a data-ratid="campaign_bigsale_campaign-rule1" data-ratevent="click" data-ratparam="all" href="#campaign-rule" class="js-scroll">詳細はこちら</a>。</li>
          <li class="u-Adjust_Mt-0"><span>※</span>キャンペーンによってポイントの付与時期・有効期間が異なり、分割して付与されるポイントもございます。必ず<a data-ratid="campaign_bigsale_campaign-rule1" data-ratevent="click" data-ratparam="all" href="#campaign-rule" class="js-scroll">キャンペーン詳細</a>をご確認ください。</li>
          <li class="u-Adjust_Mt-0"><span>※</span><a href="#campaign-rule" class="js-scroll">本キャンペーンルール</a>に記載の併用可能キャンペーン以外は併用できません。</li>
          <li class="u-Adjust_Mt-0 c-Txt_Emp-02"><span>※</span>「Rakuten最強プラン（データタイプ）」は対象外です。</li>
        </ul>

        <div class="c-Accordion u-Adjust_Mt-16">
          <button id="accordion-attention" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-attention" data-ratid="campaign_bigsale_first-caution" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>本ページの「お申し込みはこちら」ボタンよりお手続きください</button>
          <div id="accordion-content-attention" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-attention" aria-hidden="true">
            <ul>
              <li class="c-Txt_Cap"><span>・</span>本ページ以外からお手続きされた場合は特典適用対象外となります。</li>
              <li class="c-Txt_Cap"><span>・</span>「お申し込み内容」画面でクーポンコード14桁の英数字が表示されていることをご確認のうえ、お申し込みを完了してください。表示されていない場合は特典適用対象外となるため、再度本ページの「お申し込みはこちら」ボタンよりお申し込みをやり直してください。</li>
            </ul>
          </div>
        </div>

      <% if (information.campaignState == 'finish') { %>
      <% } else { %>
        <!-- else -->
        <div class="time-Count_Area hidden">
          <p class="u-Adjust_Mt-16 u-Adjust_Align-center time-Count">キャンペーン終了まで<span class="timer"><span id="timer_day"></span>日<span id="timer_hours"></span>時間<span id="timer_min"></span>分<span id="timer_sec"></span>秒</span></p>
        </div>
      <% } %>
      </div>

      <div class="<%= namespace %>-Layout_Entry-Area u-Adjust_Mt-16">
        <p class="c-Txt_Emp-02 u-Adjust_Align-center">お申し込み期間：<%= information.webApplySchedule %></p>
        <p class="u-Adjust_Mt-16 c-Txt_Emp-01 u-Adjust_Align-center">クーポンコード：<%= information.couponCode %></p>
      <% if (information.campaignState == 'finish') { %>
        <div class="u-Adjust_Mt-8 u-Adjust_Align-center"><div class="c-Btn_Primary-large fin">お申し込みはこちら</div></div>
      <% } else { %>
        <!-- else -->
        <div class="u-Adjust_Mt-8 u-Adjust_Align-center"><a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=<%= information.couponCode %>&l-id=campaign_<%= namespace %>_coupon_link01" id="couponid_01" class="c-Btn_Primary-large" data-ratid="campaign_bigsale_guide-application-kanban_1" data-ratevent="click" data-ratparam="all"><span id="js-trigger">お申し込みはこちら</span></a></div>
      <% } %>
      </div>

      <div class="l-System_Container">
        <div class="u-Adjust_Align-center u-Adjust_Mt-40">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-8months-01-sp_240430.png?240430">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-9months-01_240430.png?240430" alt="家族で使えば「Rakuten最強プラン」がもっと安くなる！家族割引適用時3GBまで880円/月（税込968円）※通話料等別 本ページで電話番号そのまま他社からお乗り換え&初めてのお申し込みなら 実質9ヵ月分無料">
          </picture>
        </div>
        <ul class="c-Txt_Cap u-Adjust_Mt-16">
          <li>※詳しくは<a href="#campaign-rule" class="js-scroll">キャンペーンルール</a>をご確認ください。</li>
          <li>※予告なく内容の変更、中止する場合があります。</li>
          <li class="c-Txt_Emp-02">※「Rakuten最強プラン（データタイプ）」は対象外です。</li><li>※付与されるポイントのうち、<a href="#campaign-rule02" class="js-scroll">キャンペーンコード:2091</a>による6,000ポイントは、「Rakuten最強プラン」のプラン利用開始および「Rakuten Link」アプリの利用が確認された月の翌々末日ごろから3カ月間にわたり付与</li>
          <li>※付与されるポイントのうち、<a href="#campaign-rule" class="js-scroll">キャンペーンコード:2141</a>による3,000ポイントは「Rakuten最強プラン」のお申し込み月の翌月末日までにすべての条件を達成した場合、利用期限月の3カ月後末日ごろに付与予定</li>
          <li>※「実質価格」とは、キャンペーンの条件達成（Rakuten最強プラン初めて契約、対象製品購入、Rakuten Link利用など）により後日付与されるポイントを加味した価格であり、実際のお支払い金額とは異なります。</li>
        </ul>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-40 u-Adjust_Align-center">ポイントの内訳</h2>
        <div class="c-Tab js-Tab <%= namespace %>-Layout_Display-sp u-Adjust_Mt-16">
          <ul class="c-Tab_Items" role="tablist">
            <li class="c-Tab_Item" id="tab-menu3" role="tab" aria-selected="true" aria-controls="tab-content3">初めて＆他社から<br>お乗り換え</li>
            <li class="c-Tab_Item" id="tab-menu4" role="tab" aria-selected="false" aria-controls="tab-content4">楽天モバイル初めて<br>お申し込み</li>
          </ul>
          <ul class="<%= namespace %>-Pointdetails u-Adjust_Mt-16">
            <li>
              <div class="ttl_Img">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-02-sp.png?240101" alt="本ページから楽天モバイル初めてのお申し込みで">
              </div>
              <div class="point_Box">
                <div class="point_Img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-03-sp.png?240101" alt="もれなく3,000ポイント">
                </div>
              </div>
            </li>
            <li class="pointdetails-Icon">
              <div>
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-01.png?240101" alt="＋">
              </div>
            </li>
            <li class="c-Tab_Panel" id="tab-content3" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu3">
              <div class="ttl_Img">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-04-sp.png?240101" alt="楽天モバイル初めて＆他社からのお乗り換えで">
              </div>
              <div class="point_Box">
                <div class="point_Img">
                  <picture>
                    <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-05-sp.png?240101" alt="もれなく6,000ポイント">
                  </picture>
                </div>
              </div>
              <div class="pointdetails-Icon">
                <div>
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-12-sp.png?240101" alt="">
                </div>
              </div>
              <div class="pointdetails-All">
                <div class="ttl_Img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-09-sp.png?240101" alt="合計">
                </div>
                <div class="point_Box">
                  <div class="point_Img">
                    <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-10-sp.png?240101" alt="9,000ポイント">
                  </div>
                </div>
              </div>
            </li>
            <li class="c-Tab_Panel" id="tab-content4" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu4">
              <div class="ttl_Img">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-06-sp.png?240101" alt="楽天モバイル初めて＆他社からじゃなくても">
              </div>
              <div class="point_Box">
                <div class="point_Img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-07-sp.png?240101" alt="もれなく2,000ポイント">
                </div>
              </div>
              <div class="pointdetails-Icon">
                <div>
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-12-sp.png?240101" alt="">
                </div>
              </div>
              <div class="pointdetails-All">
                <div class="ttl_Img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-09-sp.png?240101" alt="合計">
                </div>
                <div class="point_Box">
                  <div class="point_Img">
                    <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-11-sp.png?240101" alt="5,000ポイント">
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <ul class="<%= namespace %>-Pointdetails <%= namespace %>-Layout_Display-pc u-Adjust_Mt-24">
          <li>
            <div class="ttl_Img">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-02.png?240101" alt="本ページから楽天モバイル初めてのお申し込みで">
            </div>
            <div class="point_Box">
              <div class="point_Img">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-03.png?240101" alt="もれなく3,000ポイント">
              </div>
            </div>
          </li>
          <li class="pointdetails-Icon">
            <div>
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-01.png?240101" alt="＋">
            </div>
          </li>
          <li>
            <div class="ttl_Img">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-04.png?240101" alt="楽天モバイル初めて＆他社からのお乗り換えで">
            </div>
            <div class="point_Box">
              <div class="point_Img">
                <picture>
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-05.png?240101" alt="もれなく6,000ポイント">
                </picture>
              </div>
            </div>

            <p class="pointdetails-Or u-Adjust_Align-center <%= namespace %>-Layout_Display-pc"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-08.png?240101" alt="もしくは"></p>

            <div class="ttl_Img">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-06.png?240101" alt="楽天モバイル初めて＆他社からじゃなくても">
            </div>
            <div class="point_Box">
              <div class="point_Img">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-07.png?240101" alt="もれなく2,000ポイント">
              </div>
            </div>
          </li>
          <li class="pointdetails-Icon">
            <div>
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-12.png?240101" alt="">
            </div>
          </li>
          <li class="pointdetails-All">
            <div class="ttl_Img">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-09.png?240101" alt="合計">
            </div>
            <div class="point_Box pointdetails-All_Point-9000">
              <div class="point_Img">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-10.png?240101" alt="9,000ポイント">
              </div>
            </div>
            <div class="ttl_Img">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-09.png?240101" alt="合計">
            </div>
            <div class="point_Box">
              <div class="point_Img">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-11.png?240101" alt="5,000ポイント">
              </div>
            </div>
          </li>
        </ul>
        <div class="c-Txt_Cap u-Adjust_Mt-16">
          <p><span>※</span>予告なく特典内容の変更、キャンペーンの中止を行う可能性がございます</p>
          <p><span>※</span>ほかのキャンペーンが優先的に適用されている場合、上記キャンペーンが併用出来ない場合があります</p>
          <p class="c-Txt_Emp-02"><span>※</span>「Rakuten最強プラン（データタイプ）」は対象外です。</p>
          <p class="u-Adjust_Mt-0"><span>※</span>キャンペーンによってポイントの付与時期・有効期間が異なり、分割して付与されるポイントもございます。必ず<a href="#campaign-rule" class="rmobile-rule js-scroll">キャンペーン詳細</a>をご確認ください。</p>
        </div>

        <div class="u-Rat_Appear-height" data-ratid="campaign_bigsale_scroll-02_schedule" data-ratevent="appear"></div>
        <h2 id="campaign-flow" class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンの流れ</h2>
        <p class="<%= namespace %>-Layout_Step-txt u-Adjust_Mt-16 c-Txt_Emp-01">お申し込み前の楽天市場でのお買い物も対象！</p>
        <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-schedule-01-sp.png?240101">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-schedule-01.png?240101" alt="キャンペーンの流れ">
          </picture>
        </p>
        <p class="<%= namespace %>-Layout_Display-sp u-Adjust_Mt-16 c-Txt_Normal-s u-Adjust_Align-center">ポイントは<%= information.givePointSchedule %>ごろに付与されます。</p>

        <div class="u-Rat_Appear-height" data-ratid="campaign_bigsale_scroll-03_campaign-caution" data-ratevent="appear"></div>
        <h2 id="campaign-caution" class="c-Heading_Lv2 u-Adjust_Align-center">お申し込み時の注意点</h2>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-32 <%= namespace %>-Caution_Text"><span class="c-Txt_Emp-02">ポイントを獲得するには、「お申し込みはこちら」ボタンからのお手続きが必要となります。</span><br>
          「お申し込み内容」画面でクーポンコードの表示を確認して、お申し込みを完了してください。</p>
        <ul class="<%= namespace %>-Caution_Img u-Adjust_Mt-32">
          <li class="u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-01.png?240101" alt="お申し込みはこちらボタン イメージ">
          </li>
          <li class="<%= namespace %>-Caution_Img-arrow u-Adjust_Align-center">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-arrow-01-sp.png?240101">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-arrow-01.png?240101" alt="">
            </picture>
          </li>
          <li class="u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-02.png?240101" alt="クーポンコード<%= information.couponCode%>が適用されました">
          </li>
        </ul>
        <p class="c-Txt_Cap u-Adjust_Mt-24 <%= namespace %>-Caution_Text <%= namespace %>-Caution_Text-cap">※本ページの「お申し込みはこちら」ボタン以外からお手続きされた場合には特典適用対象外となります。</p>

        <div class="c-Accordion u-Adjust_Mt-32">
          <button id="accordion-caution-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-caution-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>お申し込み画面で以下の状況が発生した場合、再度「お申し込みはこちら」ボタンからお申し込みをやり直してください。</button>
          <div id="accordion-content-caution-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-caution-1" aria-hidden="true">
            <ul class="<%= namespace %>-Caution_Img u-Adjust_Mt-32">
              <li class="u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-03.png?240101" alt="">
                <p class="c-Txt_Emp-01 u-Adjust_Mt-16">お申し込み内容にクーポンコードが<br>
                  表示されていない場合</p>
              </li>
              <li class="u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-04.png?240101" alt="">
                <p class="c-Txt_Emp-01 u-Adjust_Mt-16">システムメンテナンスの<br>
                  お知らせが表示された場合</p>
                <p class="c-Txt_Cap">※メンテナンス終了後に<br>
                  お申し込みください</p>
              </li>
              <li class="u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-05.png?240101" alt="">
                <p class="c-Txt_Emp-01 u-Adjust_Mt-16">タイムアウトが表示された場合</p>
              </li>
            </ul>
          </div>
        </div>

        <div class="c-Accordion">
          <button id="accordion-caution-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-caution-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイル（ドコモ回線・au回線）をご利用中の方も本キャンペーンにご参加いただけますが、こちらもご確認ください。</button>
          <div id="accordion-content-caution-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-caution-2" aria-hidden="true">
            <ul class="<%= namespace %>-Caution_List">
              <li><span class="num">（1）</span>メンバーズステーション経由のプラン変更（移行）は本キャンペーンの適用対象となりません。<br class="<%= namespace %>-Layout_Break-sp"><a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_bigsale_ms1&mno_migration=1">メンバーズステーション</a>にてMNP予約番号を発行のうえ、本ページからお申し込みください。</li>
              <li class="u-Adjust_Mt-8"><span class="num">（2）</span>下記に当てはまる方はメンバーズステーション経由のプラン変更（移行）をご検討ください。</li>
              <li class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01 title">オプションサービスを引き継ぎたい場合</span><br>
                本ページからお申し込みした場合、オプションサービスはすべて解約となります。</li>
            </ul>
            <p class="u-Adjust_Mt-16">上記（1）（2）は通話SIMご利用の方の注意点となります。データSIMご利用中の方は、メンバーズステーション経由のプラン移行（変更）はできないため、本キャンペーンより新規でお申し込みください。</p>
          </div>
        </div>

        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">楽天モバイルのSPUがさらにおトクに！</h2>
        <div class="<%= namespace %>-Info_Spu u-Adjust_Mt-24 u-Bg_Yellow">
          <div class="u-Adjust_Align-center">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-01-sp.png?240101">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-01.png?240101" alt="楽天モバイルご契約中は 楽天市場のお買い物ポイント+4倍 毎日全員5倍">
            </picture>
          </div>
          <div class="<%= namespace %>-Info_Spu-contents u-Adjust_Mt-24">
            <div class="u-Adjust_Align-center">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-02-sp.png?240101">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-02.png?240101" alt="たとえば、楽天市場で 月に3万円（税別）お買いものした場合… 貯まったポイントで楽天モバイルの利用料も支払える！">
              </picture>
            </div>
          </div>
          <p class="<%= namespace %>-Txt_Left-sp c-Txt_Cap u-Adjust_Mt-16">※2023年12月1日(金)0:00からSPUの獲得上限が変更になりました。</p>
        </div>
        <p class="<%= namespace %>-Txt_Left-sp c-Txt_Cap u-Adjust_Mt-8">※楽天モバイルSPU+4倍の毎月の獲得上限は2,000ポイント、期間限定ポイントでの付与。<a href="<%= sitepath %>campaign/spu/">詳細はこちらをご確認ください</a>。</p>
        <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
          <a href="<%= sitepath %>campaign/spu/" class="c-Btn_Primary-large">SPU詳細を見る</a>
        </div>


      <% if (information.campaignState == 'finish') { %>
      <% } else { %>
      <!-- else -->
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">今すぐ楽天市場の<%= information.campaignType %>をチェック！</h2>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
          <a href="https://event.rakuten.co.jp/newyear/?scid=wi_rmb_ich_mkdiv_mnocpn-fukubukuropage-banner_pc_ichicpn-fukubukuro_20240101&trflg=1" target="_blank" class="<%= namespace %>-Layout_Display-pc">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-campaign-bnr-01.png?240101" alt="福袋初売り特集 2024 人気ショップの初売り！新春クーポンも">
          </a>
          <a href="https://event.rakuten.co.jp/newyear/?scid=wi_rmb_ich_mkdiv_mnocpn-fukubukuropage-banner_sp-app_ichicpn-fukubukuro_20240101&trflg=1" target="_blank" class="<%= namespace %>-Layout_Display-sp">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-campaign-bnr-01-sp.png?240101" alt="福袋初売り特集 2024 人気ショップの初売り！新春クーポンも">
          </a>
        </div>
      <% } %>
      </div>

      <div class="<%= namespace %>-Container_Bg u-Adjust_Mt-64">
        <div class="l-System_Container step-area">
          <div class="u-Rat_Appear-height" data-ratid="campaign_bigsale_scroll-05_campaign-flow" data-ratevent="appear"></div>
          <h2 id="campaign-participation" class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンの参加方法</h2>
          <div class="<%= namespace %>-Layout_Step u-Adjust_Mt-24">
            <div class="c-Accordion-emp">
              <button type="button" id="accordion-emp-step1" class="c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-emp-step1">
                  <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
                  <span class="c-Accordion-emp_Num">STEP1</span><span class="c-Accordion-emp_Trigger-txt">楽天モバイルのお申し込み</span>
              </button>
              <div id="accordion-content-emp-step1" class="c-Accordion-emp_Panel-normal js-Accordion_Panel" role="region" aria-labelledby="accordion-emp-step1" aria-hidden="true">
                <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-24">
                  <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                    <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-01.png?240101" alt="">
                  </div>
                  <div>
                    <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">本ページから楽天モバイル初めてのお申し込み</h4>
                    <p class="u-Adjust_Mt-8"><span class="<%= namespace %>-Txt_Nl"><%= information.webApplySchedule %></span></p>
                    <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                      <li class="c-Txt_Emp-02"><span>※</span>未成年の方のお申し込み方法は別途こちらの<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_bigsale_flow_for-minors">ご案内ページ</a>をご確認ください。</li>
                    </ul>
                  </div>
                </div>
                <ul class="<%= namespace %>-Flow_List u-Adjust_Mt-16">
                  <li class="<%= namespace %>-Flow_List-content">
                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-8">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                        <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-02.png?240101" alt="">
                      </div>
                      <div>
                        <p class="c-Txt_Emp-01">お申し込みに必要なもの</p>
                        <div class="u-Adjust_Mt-8">
                          <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc">
                            <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                            <li class="u-Adjust_Mt-8">楽天ID、パスワード</li>
                            <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                              <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                                <span>※</span>ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001238/">こちらのご案内ページ</a>を必ず事前にご確認ください。<br>
                              </p>
                              <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                                <span>※</span>MNPワンストップ未対応の携帯電話会社から乗り換えの方は、MNP予約番号の取得が必要です。MNPワンストップ対象の携帯電話会社は<a href="<%= sitepath %>guide/mnp/#carrier">こちら</a>からご確認ください。</p>
                              <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                                <span>※</span>ショップでのお手続きは、ワンストップ対象の他社からの転入であっても、MNP予約番号を取得のうえ、ご来店ください。</p>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="<%= namespace %>-Flow_List-step-unlimit <%= namespace %>-Layout_Step-ptn2">
                  <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-left">
                    <div class="<%= namespace %>-Flow_List-detail">
                      <div class="step-pran-change"><span class="c-Icon_New-user-f c-Txt_Emp-02"></span><h4 class="c-Heading_Lv4 u-Adjust_Mt-8 u-Adjust_Mb-16"> 新規電話番号／他社から乗り換え（MNP）</h4></div>
                    <% if (information.campaignState == 'finish') { %>
                      <p class="u-Adjust_Align-center u-Adjust_Mt-24"><span class="c-Btn_Primary-large <%= namespace %>-Flow_List-button-secondly fin">お申し込みはこちら</span></p>
                    <% } else { %>
                      <!-- else -->
                      <p class="u-Adjust_Align-center u-Adjust_Mt-24"><a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=<%= information.couponCode %>&l-id=campaign_<%= namespace %>_coupon_link02" id="couponid_02" class="c-Btn_Primary-large" data-ratid="campaign_bigsale_guide-application-former_1" data-ratevent="click" data-ratparam="all"><span>お申し込みはこちら</span></a></p>

                    <% } %>
                      <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>fee/saikyo-plan/?l-id=campaign_bigsale_fee_saikyo-plan" class="c-Link_Txt-inline">Rakuten最強プランの詳細<span class="c-Icon_Chevron-right"></span></a></p>
                      <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/flow/application/?l-id=campaign_bigsale_guide_flow_application" class="c-Link_Txt-inline">Rakuten最強プランの<br class="<%= namespace %>-Layout_Break-sp">お申し込み方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                    </div>
                  </div>
                  <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-right">
                    <div class="<%= namespace %>-Flow_List-detail">
                      <div class="step-pran-change"><span class="c-Icon_Paper-plane-l c-Txt_Emp-02"></span>
                      <h4 class="c-Heading_Lv4 u-Adjust_Mt-8 u-Adjust_Mb-16">ドコモ回線・au回線の楽天モバイルから移行</h4></div>
                      <div class="u-Adjust_Mt-16">
                        <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-left">メンバーズステーションにてMNP予約番号を発行のうえ、本ページからお申し込みください。</p>
                        <p class="u-Adjust_Align-center"><a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_bigsale_ms1&mno_migration=1" class="c-Btn_Secondly-large <%= namespace %>-Flow_List-button-secondly u-Adjust_Mt-24"><span>メンバーズステーションにてMNP予約番号を発行する</span></a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <ul class="<%= namespace %>-Flow_List u-Adjust_Mt-16">
                  <li class="<%= namespace %>-Flow_List-Single_Arrow">
                    <div class="<%= namespace %>-Flow_List-ttl">
                      <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">「Rakuten最強プラン」お申し込み画面に移動し、お手続きください。</h4>
                      <p class="u-Adjust_Mt-8 c-Txt_Normal-s">※「お申し込みはこちら」ボタン以外からお手続きされた場合は、特典適用対象外となります。</p>
                    </div>
                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-48 top">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                        <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-coupon-01.png?240101" alt="">
                      </div>
                      <div>
                        <p class="u-Adjust_Mt-8">「お申し込みはこちら」ボタンからお申し込み画面に進み、製品選択など手順に従って進めてください。</p>
                      </div>
                    </div>
                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-48">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                        <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-coupon-02.png?240101" alt="">
                      </div>
                      <div>
                        <p class="text_cap u-Adjust_Mt-8">「お申し込み内容」でクーポンコードが表示されていることを必ずご確認のうえ、お申し込みを完了してください。</p>
                        <p class="u-Adjust_Mt-8 c-Txt_Normal-s">※該当の項目が表示されていない場合、特典適用対象外となるため、再度本ページの「お申し込みはこちら」ボタンよりお申し込みをやり直してください。</p>
                      </div>
                    </div>
                    <p class="c-Txt_Emp-02 u-Adjust_Align-center u-Adjust_Mt-40">お申し込み期間：<%= information.webApplySchedule %></p>
                    <p class="c-Txt_Emp-01 u-Adjust_Align-center">クーポンコード：<%= information.couponCode %></p>
                    <p class="u-Adjust_Mt-16 c-Txt_Normal-ss c-Txt_Emp-02"><a href="#campaign-caution" class="js-scroll" data-ratid="campaign_bigsale_index-attention2" data-ratevent="click" data-ratparam="all">お申し込み時の注意点</a>を必ずご確認のうえ、以下のお申し込みボタンよりお手続きください。</p>
                  <% if (information.campaignState == 'finish') { %>
                    <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><div class="c-Btn_Primary-large fin">お申し込みはこちら</div></div>
                  <% } else { %>
                    <!-- else -->
                    <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=<%= information.couponCode %>&l-id=campaign_<%= namespace %>_coupon_link03" id="couponid_03" class="c-Btn_Primary-large" data-ratid="campaign_bigsale_guide-application-later_1" data-ratevent="click" data-ratparam="all"><span>お申し込みはこちら</span></a></div>
                  <% } %>
                    <p class="u-Adjust_Mt-16 c-Txt_Normal-ss">本ページの「お申し込みはこちら」ボタン以外からお手続きされた場合、特典適用対象外となります。</p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="c-Accordion-emp u-Adjust_Mt-16">
              <button type="button" id="accordion-emp-step2" class="c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-emp-step2">
                  <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
                  <span class="c-Accordion-emp_Num">STEP2</span><span class="c-Accordion-emp_Trigger-txt">楽天市場でお買い物</span>
              </button>
              <div id="accordion-content-emp-step2" class="c-Accordion-emp_Panel-normal js-Accordion_Panel" role="region" aria-labelledby="accordion-emp-step2" aria-hidden="true">
                <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                  <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                    <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-03.png?240101" alt="">
                  </div>
                  <div>
                    <h4 class="u-Adjust_Mt-8 c-Heading_Lv4"><%= information.shopingSchedule %></h4>
                    <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                      <li><span>※</span>対象期間中の1ショップでのお買い物合計金額1,000円（税込）以上のみが本キャンペーンの対象。</li>
                    </ul>
                    <div class="u-Adjust_Mt-24">
                      <p class="<%= namespace %>-Layout_Break-sp-center-btn"><a href="https://www.rakuten.co.jp/?scid=wi_rmb_ich_mkdiv_mnocpn-fukubukuropage-headertext_pc_ichiba-top_20240101&trflg=1" class="c-Btn_Regular <%= namespace %>-Flow_List-button <%= namespace %>-Layout_Display-pc"><span>楽天市場でお買い物をする</span></a>
                        <a href="https://www.rakuten.co.jp/?scid=wi_rmb_ich_mkdiv_mnocpn-fukubukuropage-headertext_sp-app_ichiba-top_20240101&trflg=1" class="c-Btn_Regular <%= namespace %>-Flow_List-button <%= namespace %>-Layout_Display-sp"><span>楽天市場でお買い物をする</span></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-Accordion-emp u-Adjust_Mt-16">
              <button type="button" id="accordion-emp-step3" class="c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-emp-step3">
                  <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
                  <span class="c-Accordion-emp_Num">STEP3</span><span class="c-Accordion-emp_Trigger-txt">「Rakuten最強プラン」利用開始</span>
              </button>
              <div id="accordion-content-emp-step3" class="c-Accordion-emp_Panel-normal js-Accordion_Panel" role="region" aria-labelledby="accordion-emp-step3" aria-hidden="true">
                <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                  <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                    <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-04.png?240101" alt="">
                  </div>
                  <div>
                    <h4 class="u-Adjust_Mt-8 c-Heading_Lv4">楽天モバイルの開通手続きを行い「Rakuten最強プラン」を利用開始する</h4>
                    <p class="u-Adjust_Mt-8"><%= information.planUseSchedule %></p>
                    <ul class="<%= namespace %>-Table_Rule-Cap">
                      <li class="c-Txt_Emp-02 u-Adjust_Mt-8"><span>※</span>店舗（楽天モバイルショップ）でのお申し込みの場合、対象外となります。あらかじめご了承ください。</li>
                      <li class="u-Adjust_Mt-8"><span>※</span><a href="#campaign-rule-plan" class="js-scroll" data-ratid="campaign_bigsale_PlanStart" data-ratevent="click" data-ratparam="all">プラン利用開始日の定義はこちら</a>。</li>
                    </ul>
                    <div class="u-Adjust_Mt-24">
                      <p class="<%= namespace %>-Layout_Break-sp-center-btn"><a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/" class="c-Btn_Regular <%= namespace %>-Flow_List-button"><span>スタートガイド（利用開始手順書）はこちら</span></a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-Accordion-emp u-Adjust_Mt-16">
              <button type="button" id="accordion-emp-step4" class="c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-emp-step4">
                  <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
                  <span class="c-Accordion-emp_Num">STEP4</span><span class="c-Accordion-emp_Trigger-txt">Rakuten Linkアプリから発信で10秒以上通話</span>
              </button>
              <div id="accordion-content-emp-step4" class="c-Accordion-emp_Panel-normal js-Accordion_Panel" role="region" aria-labelledby="accordion-emp-step4" aria-hidden="true">
                <ul class="<%= namespace %>-Flow_List">
                  <li>
                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                        <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-05.png?240101" alt="">
                      </div>
                      <div>
                        <h4 class="u-Adjust_Mt-8 c-Heading_Lv4">Rakuten Linkアプリで発信し10秒以上通話する</h4>
                        <p class="u-Adjust_Mt-8"><%= information.appCallSchedule %></p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                          <li><span>※</span>電話の発信時、（0570）などから始まる他社接続サービス、一部特番（188）への通話については、特典対象外。</li>
                        </ul>
                        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>service/rakuten-link/?l-id=campaign_bigsale_service_rakuten-link" target="_blank" class="c-Link_Txt-inline">Rakuten Link アプリの詳細を見る<span class="c-Icon_New-window-l"></span></a></p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-step-01-sp.png?240101">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-step-01.png?240101" alt="楽天市場で1,000円（税込）以上お買い物で3,000ポイントプレゼント！">
            </picture>
          </p>
        </div>
      </div>

      <div class="u-Rat_Appear-height" data-ratid="campaign_bigsale_scroll-06_plan" data-ratevent="appear"></div>
      <div id="unlimit-vi-plan" class="u-Adjust_Mt-64">
        <%- include('/inc/_saikyo-plan') %>
      </div>

      <div class="u-Adjust_Py-48">
        <%- include('/inc/_about-rakuten-mobile', { baseLId: 'campaign_bigsale', ratId: 'campaign_bigsale_scroll-07_rakutenmobile' }) %>
      </div>

      <div class="l-System_Container">
        <div class="l-Media_Grid bnr-Area">
          <div class="l-Media_Image">
            <a href="<%= sitepath %>uservoice/?l-id=campaign_bigsale_uservoice">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-bnr-01-sp.png?240101">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-bnr-01.png?240101" alt="実際に使った感想をお聞きしました。楽天モバイルの評判をご紹介">
              </picture>
            </a>
          </div>
        </div>

        <div class="u-Rat_Appear-height" data-ratid="campaign_bigsale_scroll-08_faq" data-ratevent="appear"></div>
        <h2 id="faq" class="c-Heading_Lv2 u-Adjust_Align-center">よくあるご質問</h2>
        <div class="<%= namespace %>-faq u-Adjust_Mt-24">
          <div class="c-Accordion u-Adjust_Mt-16">
            <button type="button" id="accordion-faq-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-1" data-ratid="campaign_bigsale_faq1" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイルでのお買い物は対象ですか。</button>
            <div id="accordion-content-faq-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-1" aria-hidden="true">
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-faq-01.png?240101" alt="">
                </div>
                <div>
                  <p class="u-Adjust_Mt-16">楽天モバイルサイト内や楽天モバイルのショップでご購入いただいたスマートフォンなどの製品はポイント付与対象外です。</p>
                  <p>楽天市場内の「<a href="https://www.rakuten.ne.jp/gold/rakutenmobile-store/" target="_blank" class="c-Link_Txt-inline" data-ratid="campaign_bigsale_rakutenmobile-store" data-ratevent="click" data-ratparam="all">楽天モバイル公式 楽天市場店<span class="c-Icon_New-window-l"></span></a>」は対象です。</p>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-faq-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-2" data-ratid="campaign_bigsale_faq2" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイルへの申し込みはWebもショップも対象ですか。</button>
            <div id="accordion-content-faq-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-2" aria-hidden="true">
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-faq-02.png?240101" alt="">
                </div>
                <div>
                  <p class="u-Adjust_Mt-16">本キャンペーンページの「お申し込みはこちら」ボタンからお申込みの場合のみ、本キャンペーンの対象です。</p>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-faq-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-3" data-ratid="campaign_bigsale_faq3" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ポイントはいつ付与されますか。</button>
            <div id="accordion-content-faq-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-3" aria-hidden="true">
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-faq-05.png?240101" alt="">
                </div>
                <div><p class="u-Adjust_Mt-16">ポイントは<%= information.givePointSchedule %>ごろに付与されます。</p>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-faq-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-4" data-ratid="campaign_bigsale_faq4" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>本キャンペーンによる獲得ポイントはどうすれば確認できますか。</button>
            <div id="accordion-content-faq-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-4" aria-hidden="true">
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-faq-06.png?240101" alt="">
                </div>
                <div>
                  <p class="u-Adjust_Mt-16">ポイント付与時期が過ぎましたら<a href="https://point.rakuten.co.jp/history/" target="_blank" class="c-Link_Txt-inline">ポイント実績ページ<span class="c-Icon_New-window-l"></span></a>をご確認ください。</p>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-faq-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-5" data-ratid="campaign_bigsale_faq5" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>すでに楽天モバイルに契約していますが、回線を追加した場合も対象になりますか。</button>
            <div id="accordion-content-faq-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-5" aria-hidden="true">
              <p class="u-Adjust_Mt-16">対象外です。本キャンペーン中にはじめて楽天モバイルをお申し込みの場合のみ対象です。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-faq-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-6" data-ratid="campaign_bigsale_faq6" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>STEPの順序が逆になってしまいました。キャンペーン対象になりますか。</button>
            <div id="accordion-content-faq-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-6" aria-hidden="true">
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-faq-07.png?240101" alt="">
                </div>
                <div>
                  <p class="u-Adjust_Mt-16">本キャンペーンは、各STEPの対象期間中に条件を満たせば、キャンペーン対象です。</p>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq-7" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-7" data-ratid="campaign_bigsale_faq7" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーンのポイント獲得の対象になっているか確認したいです。</button>
            <div id="accordion-content-faq-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-7" aria-hidden="true">
                <p>お申し込み後に、キャンペーン適用できているかどうかは、お客様自身でご確認いただくことができません。「お申し込み内容」であらかじめクーポンコード14桁の英数字が表示されていることをご確認のうえ、お申し込みを完了してください。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq-8" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-8" data-ratid="campaign_bigsale_faq8" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>メンバーズステーションで、MNP予約番号を発行する方法を教えてください。</button>
            <div id="accordion-content-faq-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-8" aria-hidden="true">
              <p>MNP（携帯電話ナンバーポータビリティ）をご利用いただくことで、現在お使いの電話番号がそのままお使いいただけます。<br>
                <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten" target="_blank" class="c-Link_Txt-inline">メンバーズステーショントップページ<span class="c-Icon_New-window-l"></span></a>の「MNP予約番号発行・確認について」をタップし、MNP予約番号を発行してください。MNP予約番号発行手数料は発生しません。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq-9" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-9" data-ratid="campaign_bigsale_faq9" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>申し込み後に、本人確認書類の不備などで再提出になった場合でもキャンペーンは適用されますか？</button>
            <div id="accordion-content-faq-9" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-9" aria-hidden="true">
              <p>お申し込み後に、書類の再提出などいただきお申し込みが完了できた場合は、キャンペーンが適用されます。ただし、お申し込み画面内で入力された情報と本人確認書類の内容が一致しないなどの理由で楽天モバイルが定める審査に基づき、お申し込みをキャンセルさせていただく場合、キャンペーンは適用できません。</p>
            </div>
          </div>
        </div>
      </div>

      <div class="<%= namespace %>-Container_Bg u-Adjust_Mt-64">
        <div class="l-System_Container">
        <% if (information.campaignState == 'finish') { %>
        <% } else { %>
          <!-- else -->
          <h2 id="Carousel-Area" class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Pl-16">さっそく<span class="<%= namespace %>-Txt_Nl">楽天市場へ！</span></h2>

          <div class="<%= namespace %>-Carousel_Box">
            <div class="c-Carousel <%= namespace %>-Carousel_2 u-Adjust_Mt-24 <%= namespace %>-Layout_Display-pc">
              <a class="c-Banner_Hover-act" href="https://event.rakuten.co.jp/furusato/ranking/all.html?scid=wi_rmb_ich_mkdiv_mnocpn-bigsale-carousel_pc-sp-app_furusato-ranking_20221223"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/campaign_bnr_furusato.jpg?240101" alt="楽天ふるさと納税人気の返礼品は？お礼の品ランキング"></a>
              <a class="c-Banner_Hover-act" href="https://event.rakuten.co.jp/superdeal/?scid=wi_rmb_rsd_dealtop_pc"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/campaign_bnr_superdeal.png?240101" alt="ポイント還元最大50% Rakuten スーパーDEAL"></a>
              <a class="c-Banner_Hover-act" href="https://event.rakuten.co.jp/newyear/?scid=wi_rmb_ich_mkdiv_mnocpn-fukubukuropage-banner_pc_ichicpn-fukubukuro_20240101&trflg=1"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/campaign_bnr_<%= namespace %>_top.jpg?240101" alt="福袋初売り特集 2024 人気ショップの初売り！"></a>
            </div>
            <div class="c-Carousel <%= namespace %>-Carousel_2 u-Adjust_Mt-24 <%= namespace %>-Layout_Display-sp">
              <a class="c-Banner_Hover-act" href="https://event.rakuten.co.jp/furusato/ranking/all.html?scid=wi_rmb_ich_mkdiv_mnocpn-bigsale-carousel_pc-sp-app_furusato-ranking_20221223"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/campaign_bnr_furusato.jpg?240101" alt="楽天ふるさと納税人気の返礼品は？お礼の品ランキング"></a>
              <a class="c-Banner_Hover-act" href="https://event.rakuten.co.jp/superdeal/?scid=wi_rmb_rsd_dealtop_sp"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/campaign_bnr_superdeal.png?240101" alt="ポイント還元最大50% Rakuten スーパーDEAL"></a>
              <a class="c-Banner_Hover-act" href="https://event.rakuten.co.jp/newyear/?scid=wi_rmb_ich_mkdiv_mnocpn-fukubukuropage-banner_sp-app_ichicpn-fukubukuro_20240101&trflg=1"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/campaign_bnr_<%= namespace %>_top.jpg?240101" alt="福袋初売り特集 2024 人気ショップの初売り！"></a>
            </div>
          </div>
          <!-- /carousel -->
        <% } %>

          <!-- ReX UX Survey: Mounting point for embedded components -->
          <div>
            <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
          </div>

        </div>
      </div>

      <div class="l-System_Container">
        <div class="u-Rat_Appear-height" data-ratid="campaign_bigsale_scroll-09_campaign-rule" data-ratevent="appear"></div>
        <h2 id="campaign-rule" class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンルール</h2>
        <div class="<%= namespace %>-Layout_Rule u-Adjust_Pb-0">
        <% if (information.campaignState == 'finish') { %>
          <h3 class="c-Heading_Lv3">楽天市場の<%= information.campaignType %>連動企画 Rakuten最強プランのお申し込み&期間中に楽天市場で1,000円（税込）以上お買い物で2,000ポイントプレゼントキャンペーン</h3>
          <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは<%= finishSchedule %>をもちまして終了いたしました。<br>
            このページに掲載されている情報は、キャンペーン終了時点のものです。</p>
          <div>
            <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2141', level: '', year: '2024', class: '' }}) %>
          </div>
        <% } else { %>
          <!-- else -->
          <div>
            <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2141', level: 'h3', year: '2024', class: '' }}) %>
          </div>
        <% } %>
        </div>

        <div id="campaign-rule02">
          <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2091', level: 'h2', year: '2023', class: '' }}) %>
        </div>

        <div class="u-Adjust_Mt-40" id="campaign-rule03">
          <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2142', level: 'h3', year: '2023', class: '' }}) %>
        </div>

      <% if (hiddenItem == 'true') { %>
        <div class="c-Accordion">
          <button id="accordion-past-campaign" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-past-campaign"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>過去のキャンペーン</button>
          <div id="accordion-content-past-campaign" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-past-campaign" aria-hidden="true">
            <div class="<%= namespace %>-Layout_Rule u-Adjust_Mt-0">
              <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2141', level: '', year: '2023', class: '', comments:'<p class="c-Txt_Emp-01">楽天市場のお買い物マラソン連動企画 Rakuten最強プランのお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン</p>'}}) %>
            </div>
          </div>
        </div>
      <% } %>
      </div>
    </div>
  <% if (information.campaignState == 'finish') { %>
    <footer class="g-Footer <%= namespace %>-Layout_Footer cp-Fin">
  <% } else { %>
    <!-- else -->
    <div id="js-fixed-btn" class="<%= namespace %>-Layout_Bottom-fixed fixed-top" aria-expanded="false" role="region">
      <div class="<%= namespace %>-Layout_Bottom-fixed-inner">
        <div class="<%= namespace %>-Layout_Bottom-fixed-link-box-pc">
          <ul class="fixed-Link">
            <li><a href="#campaign-participation" class="js-scroll" data-ratid="campaign_bigsale-innavi-f-campaign-flow" data-ratevent="click" data-ratparam="all">キャンペーンの参加方法</a></li>
            <li><a href="#faq" class="js-scroll" data-ratid="campaign_bigsale-innavi-f-faq" data-ratevent="click" data-ratparam="all">よくあるご質問</a></li>
          </ul>
        </div>
        <div class="<%= namespace %>-Layout_Bottom-fixed-link-box-sp">
          <div class="<%= namespace %>-Layout_Bottom-fixed-link-sp">
            <ul class="fixed-Link">
              <li><a href="#campaign-participation" class="js-scroll" data-ratid="campaign_bigsale-innavi-f-campaign-flow" data-ratevent="click" data-ratparam="all">参加方法</a></li>
              <li><a href="#faq" class="js-scroll" data-ratid="campaign_bigsale-innavi-f-faq" data-ratevent="click" data-ratparam="all">FAQ</a></li>
            </ul>
          </div>
        </div>
        <div class="<%= namespace %>-Layout_Bottom-fixed-btn-box">
          <a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=<%= information.couponCode %>&l-id=campaign_<%= namespace %>_f_coupon_link" class="c-Btn_Primary-large <%= namespace %>-Layout_Bottom-fixed-btn">お申し込みはこちら</a>
          <div class="nav-Btn">
            <div class="nav-Btn_Arrow">
              <span class="c-Icon_Chevron-left"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="g-Footer <%= namespace %>-Layout_Footer">
  <% } %>
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>

  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
<% if (information.campaignState == 'finish') { %>
<% } else { %>
<!-- else -->
  <script src="<%= sitepath %>assets/js/campaign.<%= namespace %>.bundle.js?20240521"></script>
<% } %>
  <script>
    (function($){
        const trigger = document.getElementById('js-trigger');
        const fixedBtn = document.getElementById('js-fixed-btn');
        function fixedBottomBtn() {
            let scrollY = window.pageYOffset;
            const triggerRect = trigger.getBoundingClientRect();
            const triggerY = scrollY + triggerRect.top;

        if ( scrollY > triggerY ) {
          fixedBtn.setAttribute('aria-expanded', 'true');
        } else {
          fixedBtn.setAttribute('aria-expanded', 'false');
        }
      }
      if( fixedBtn && trigger ) {
        window.addEventListener('scroll', fixedBottomBtn);
      }
    })();
  </script>
  <script>
    (function($){
        $(function(){
          $('.nav-Btn').on('click',function() {
            $('.nav-Btn_Arrow').toggleClass('nav-On');
            $('.<%= namespace %>-Layout_Bottom-fixed-link-sp').slideToggle();
          });
        });
    })(jQuery);
  </script>

  <!-- ReX UX   Survey: Config -->
  <script>
    window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
  </script>
  <!-- ReX UX Survey: Script -->
  <script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>
</body>

</html>
