<% const pagetitle = "楽天市場の活用テクニック" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルご契約者は楽天市場のお買い物がおトクに！ポイントが毎日全員5倍！SPUの仕組みから、キャンペーン活用方法など、ポイントを貯めるテクニックを伝授します！',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/ichiba-lecture/ichiba-lecture.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="guide-ichiba-lecture-Hero u-Adjust_Pt-16">
  <div class="u-Adjust_Align-center">
    <h1>
      <picture>
        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/guide/ichiba-lecture/hero-sp-230901.png" width="100%">
        <img src="<%= sitepath %>assets/img/guide/ichiba-lecture/hero-pc-230901.png" alt="超カンタン！ポイントUP術 先生が教える楽天市場の活用テクニック" width="1440" height="240">
      </picture>
    </h1>
  </div>
</div>

<div class="l-System_Container guide-ichiba-lecture-Hero_Lead">
  <p>楽天モバイル（Rakuten最強プラン）ご契約者は楽天市場のお買い物がおトク。SPUのポイントアップの仕組みやキャンペーン活用方法、ふるさと納税まで伝授します。</p>
</div>

<div class="guide-ichiba-lecture-Layout_Contentslist">
  <div class="l-System_Container">
    <div class="c-Accordion">
      <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>目次</button>
      <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
        <div class="guide-ichiba-lecture-Layout_Link-horizontal-wrap">

          <div class="guide-ichiba-lecture-Layout_Link-horizontal-item">
            <h2><img src="<%= sitepath %>assets/img/guide/ichiba-lecture/icon-point.png?220228" width="24" alt="">SPU</h2>
            <ul class="guide-ichiba-lecture-Layout_Link-horizontal">
              <li><a href="#spu01" class="c-Link_Txt-icon-front js-scroll" data-ratId="guide_ichiba-lecture_mokuji1" data-ratEvent="click" data-ratParam="all"><span class="c-Icon_Arrow-down-l u-Adjust_Mr-8"></span>SPUでポイントアップ+4倍</a></li>
            </ul>
          </div>

          <div class="guide-ichiba-lecture-Layout_Link-horizontal-item">
            <h2><img src="<%= sitepath %>assets/img/guide/ichiba-lecture/icon-calendar.png?220228" width="24" alt="">5と0のつく日</h2>
            <ul class="guide-ichiba-lecture-Layout_Link-horizontal">
              <li><a href="#date01" class="c-Link_Txt-icon-front js-scroll" data-ratId="guide_ichiba-lecture_mokuji3" data-ratEvent="click" data-ratParam="all"><span class="c-Icon_Arrow-down-l u-Adjust_Mr-8"></span>5と0のつく日＆楽天カード利用で+3倍</a></li>
              <li><a href="#date02" class="c-Link_Txt-icon-front js-scroll" data-ratId="guide_ichiba-lecture_mokuji4" data-ratEvent="click" data-ratParam="all"><span class="c-Icon_Arrow-down-l u-Adjust_Mr-8"></span>【図解】5と0のつく日×SPUでポイントアップの仕組み</a></li>
            </ul>
          </div>

          <div class="guide-ichiba-lecture-Layout_Link-horizontal-item">
            <h2><img src="<%= sitepath %>assets/img/guide/ichiba-lecture/icon-cart.png?220228" width="28" alt="">ショップ買いまわり</h2>
            <ul class="guide-ichiba-lecture-Layout_Link-horizontal">
              <li><a href="#shop01" class="c-Link_Txt-icon-front js-scroll" data-ratId="guide_ichiba-lecture_mokuji5" data-ratEvent="click" data-ratParam="all"><span class="c-Icon_Arrow-down-l u-Adjust_Mr-8"></span>1,000円（税込）以上のお買い物を複数ショップで！（マンガで学ぶショップ買いまわり）</a></li>
              <li><a href="#shop02" class="c-Link_Txt-icon-front js-scroll" data-ratId="guide_ichiba-lecture_mokuji6" data-ratEvent="click" data-ratParam="all"><span class="c-Icon_Arrow-down-l u-Adjust_Mr-8"></span>【図解】ショップ買いまわり+5と0のつく日+SPUのポイント獲得例</a></li>
            </ul>
          </div>

          <div class="guide-ichiba-lecture-Layout_Link-horizontal-item">
            <h2><img src="<%= sitepath %>assets/img/guide/ichiba-lecture/icon-map.png?220228" width="23" alt="">ふるさと納税</h2>
            <ul class="guide-ichiba-lecture-Layout_Link-horizontal">
              <li><a href="#furusato01" class="c-Link_Txt-icon-front js-scroll" data-ratId="guide_ichiba-lecture_mokuji7" data-ratEvent="click" data-ratParam="all"><span class="c-Icon_Arrow-down-l u-Adjust_Mr-8"></span>ふるさと納税もポイント対象</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="guide-ichiba-lecture-Layout_Interview">
  <div class="l-System_Container">
    <div class="guide-ichiba-lecture-Layout_Interview-title u-Adjust_Align-center" id="spu01">
      <h2 class="c-Heading_Lv2 u-Adjust_Mt-8"><img src="<%= sitepath %>assets/img/guide/ichiba-lecture/icon-point-l.png?220228" alt="spu" width="48"><span>SPUでポイントアップ+4倍</span></h2>
      <h3 class="c-Heading_Lv3 u-Adjust_Mt-24">楽天モバイルご契約者は、<br class="guide-ichiba-lecture-Utility_Sp">楽天市場のお買い物が毎日全員5倍</h3>
    </div>

    <div class="guide-ichiba-lecture-Layout_Interview-content">
      <div class="guide-ichiba-lecture-Layout_Interview-content-img">
        <img src="<%= sitepath %>assets/img/guide/ichiba-lecture/avator-female-normal-230419.png" alt="先生" width="80" height="80" loading="lazy">
        <p class="guide-ichiba-lecture-Layout_Interview-content-role">先生</p>
      </div>
      <div class="guide-ichiba-lecture-Layout_Interview-content-message">
        <div class="guide-ichiba-lecture-Layout_Interview-content-txt">
          <div>
            <p>
              楽天モバイルに乗り換えたそうだね。楽天市場でのお買い物のポイント倍率が通常会員ならば1倍のところ、楽天モバイル利用者なら<span class="c-Txt_Emp-02">＋4倍</span>になるよ<span class="c-Txt_Cap">※</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="guide-ichiba-lecture-Layout_Interview-content-reverse">
      <div class="guide-ichiba-lecture-Layout_Interview-content-reverse-img">
        <img src="<%= sitepath %>assets/img/guide/ichiba-lecture/avator-male-surprised-230419.png" alt="生徒" width="80" height="80" loading="lazy">
        <p class="guide-ichiba-lecture-Layout_Interview-content-reverse-role">生徒</p>
      </div>
      <div class="guide-ichiba-lecture-Layout_Interview-content-reverse-message">
        <div class="guide-ichiba-lecture-Layout_Interview-content-reverse-txt">
          <div>
            <p>楽天市場の「<a href="#modal1" class="c-Link_Txt js-Modal">あなたのポイント合計〜倍</a>」表示のことですか？</p>
            <div id="modal1" style="display:none;">
              <div class="u-Adjust_Align-center">
                <picture>
                  <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/guide/ichiba-lecture/img-point-sp-221101.png">
                  <img src="<%= sitepath %>assets/img/guide/ichiba-lecture/img-point-pc-221101.png" width="453" alt="ポイント合計の例">
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="guide-ichiba-lecture-Layout_Interview-content">
      <div class="guide-ichiba-lecture-Layout_Interview-content-img">
       <img src="<%= sitepath %>assets/img/guide/ichiba-lecture/avator-female-smile-230419.png" alt="先生" width="80" height="80" loading="lazy">
      </div>
      <div class="guide-ichiba-lecture-Layout_Interview-content-message">
        <div class="guide-ichiba-lecture-Layout_Interview-content-txt">
          <div>そう！<span class="c-Txt_Emp-02">通常税別100円のお買い物で1ポイントが、+4倍だと楽天会員の1倍と合わせて5倍の5ポイント</span>に。</div>
        </div>
      </div>
    </div>

    <div class="guide-ichiba-lecture-Layout_Interview-content-reverse">
      <div class="guide-ichiba-lecture-Layout_Interview-content-reverse-img">
       <img src="<%= sitepath %>assets/img/guide/ichiba-lecture/avator-male-surprised-230419.png" alt="生徒" width="80" height="80" loading="lazy">
      </div>
      <div class="guide-ichiba-lecture-Layout_Interview-content-reverse-message">
        <div class="guide-ichiba-lecture-Layout_Interview-content-reverse-txt">
          <div>
            <p>50,000円（税別）の家電購入なら、通常500ポイントのところ2,500ポイントに！</p>
          </div>
        </div>
      </div>
    </div>

    <div class="c-Theme-Borderbox u-Adjust_Mt-24">
      <div class="guide-ichiba-lecture-Layout_Interview-media-spu">
        <div>
          <img src="<%= sitepath %>assets/img/guide/ichiba-lecture/img-spu.png" alt="SPU" width="150">
        </div>
        <div>
          <p class="c-Txt_Normal-m c-Txt_Emp-01">SPUとは</p>
          <ul class="c-List_Text-disc-emp u-Adjust_Mt-8">
            <li>スーパーポイントアッププログラムのこと <a href="https://event.rakuten.co.jp/campaign/point-up/everyday/point/" target="_blank" rel="noopener" class="c-Link_Txt-inline">詳細はこちら<span class="c-Icon_New-window-l"></span></a></li>
            <li>対象サービスの条件達成で楽天市場でのお買い物がポイントアップ</li>
            <li>楽天モバイルご契約者は+4倍<span class="c-Txt_Cap">※</span> <a href="<%= sitepath %>campaign/spu/" target="_blank" class="c-Link_Txt-inline">詳細はこちら<span class="c-Icon_Chevron-right"></span></a></li>
            <li>Androidご利用者なら楽天モバイルキャリア決済を当月合計2,000円（税込）以上ご利用でさらに+2倍<span class="c-Txt_Cap">※</span> </li>
          </ul>
          <p class="u-Adjust_Mt-8">
            <a href="<%= sitepath %>guide/payment/google/?l-id=guide_ichiba-lecture_guide_payment_google" class="c-Link_Txt-inline">楽天モバイルキャリア決済の詳細を見る<span class="c-Icon_Chevron-right"></span></a>
          </p>

          <div class="u-Adjust_Mt-16">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/ichiba-lecture/img-spu-table-sp-231201.png">
              <img src="<%= sitepath %>assets/img/guide/ichiba-lecture/img-spu-table-pc-231201.png" width="818" height="160" alt="楽天モバイルご契約中は楽天市場のお買い物が毎日全員5倍※楽天会員1倍と楽天モバイルSPU+4倍の合計">
            </picture>
          </div>
          <p class="c-Txt_Cap u-Adjust_Mt-8">※Rakuten最強プランご契約、期間限定ポイント、上限あり</p>
        </div>
      </div>
    </div>



    <div class="guide-ichiba-lecture-Layout_Interview-title u-Adjust_Align-center u-Adjust_Mt-48" id="date01">
      <h2 class="c-Heading_Lv2 u-Adjust_Mt-8">
        <img src="<%= sitepath %>assets/img/guide/ichiba-lecture/icon-calendar-l.png?220228" alt="" width="48">
        <div class="guide-ichiba-lecture-Layout_Interview-title-column-sp">
          <span>5と0のつく日の</span><span>楽天カード利用</span>
        </div>
      </h2>
      <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">毎月5,10,15,20,25,30日は楽天カード利用で+3倍、楽天モバイルご契約者なら合計8倍！</h4>
      <p class="c-Txt_Normal-s c-Txt_Emp-01">※エントリーは忘れずに！</p>
      <div id="modal2" style="display:none;">
        <div class="u-Adjust_Align-center">
          <img src="<%= sitepath %>assets/img/guide/ichiba-lecture/img-entry.png?220401" width="285" alt="エントリーの例">
        </div>
      </div>
    </div>

    <div class="guide-ichiba-lecture-Layout_Interview-content">
      <div class="guide-ichiba-lecture-Layout_Interview-content-img">
        <img src="<%= sitepath %>assets/img/guide/ichiba-lecture/avator-female-normal-230419.png" alt="先生" width="80" height="80" loading="lazy">
        <p class="guide-ichiba-lecture-Layout_Interview-content-role">先生</p>
      </div>
      <div class="guide-ichiba-lecture-Layout_Interview-content-message">
        <div class="guide-ichiba-lecture-Layout_Interview-content-txt">
          <div><span class="c-Txt_Emp-02">楽天市場でのお買い物は通常ポイント1倍だけど、楽天カードを使えばSPU+2倍でポイント3倍！</span><span class="c-Txt_Emp-02">！</span>さらに<a href="https://event.rakuten.co.jp/campaign/card/pointday/?scid=wi_rmb_ich_dojo_mkdiv_3" target="_blank" class="c-Link_Txt-inline">5と0のつく日にはさらに+1倍の4倍<span class="c-Icon_New-window-l"></span></a>になるって知ってる？<span class="c-Txt_Cap">※1</span></div>
        </div>
      </div>
    </div>

    <div class="guide-ichiba-lecture-Layout_Interview-content-reverse">
      <div class="guide-ichiba-lecture-Layout_Interview-content-reverse-img">
       <img src="<%= sitepath %>assets/img/guide/ichiba-lecture/avator-male-smile-230419.png" alt="生徒" width="80" height="80" loading="lazy">
       <p class="guide-ichiba-lecture-Layout_Interview-content-reverse-role">生徒</p>
      </div>
      <div class="guide-ichiba-lecture-Layout_Interview-content-reverse-message">
        <div class="guide-ichiba-lecture-Layout_Interview-content-reverse-txt">
          <div>
            <p>毎月5と0がつく日ということは、5、10、15、20、25、30日とチャンスが多いですね。<br>楽天モバイル利用中なら<span class="c-Txt_Emp-02">さらに+4倍で、合計8倍</span>にも！これはおトク！<span class="c-Txt_Cap">※2</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="guide-ichiba-lecture-Layout_Interview-content">
      <div class="guide-ichiba-lecture-Layout_Interview-content-img">
        <img src="<%= sitepath %>assets/img/guide/ichiba-lecture/avator-female-smile-230419.png" alt="先生" width="80" height="80" loading="lazy">
      </div>
      <div class="guide-ichiba-lecture-Layout_Interview-content-message">
        <div class="guide-ichiba-lecture-Layout_Interview-content-txt">
          <div>
            <p><span class="c-Txt_Emp-02">50,000円（税別）のお買い物で通常500ポイントのところ4,050ポイント</span>にもなるのよ！<span class="c-Txt_Emp-02">エントリー</span>も忘れずにね！</p>
          </div>
        </div>
      </div>
    </div>

    <div class="c-Theme-Borderbox u-Adjust_Mt-24">
      <p class="c-Txt_Normal-m c-Txt_Emp-01">5と0のつく日とは</p>
      <ul class="c-List_Text-disc-emp guide-ichiba-lecture-Layout_List-hirizontal u-Adjust_Mt-16">
        <li>毎月5,10,15,20,25,30日</li>
        <li>開催日ごとにエントリー&楽天カードの利用でポイント+3倍</li>
        <li>+3倍の内訳は、楽天カードSPU+2倍、5と0のつく日エントリー+1倍<span class="c-Txt_Cap">※1</span></li>
        <li>楽天モバイルご契約者はさらに+4倍の合計8倍<span class="c-Txt_Cap">※2</span></li>
      </ul>
      <p class="c-Txt_Cap u-Adjust_Mt-16">
        ※1「楽天カード+2倍」の内訳は「楽天カード通常分+1倍」と「楽天カード特典分+1倍」となります。ポイント未利用時の倍率です。<br>
        ※2 Rakuten最強プランご契約、期間限定ポイント、上限あり。<a href="https://event.rakuten.co.jp/campaign/card/pointday/?scid=wi_rmb_ich_dojo_mkdiv_3" class="c-Link_Txt-inline" target="_blank">5と0のつく日のルール<span class="c-Icon_New-window-l"></span></a>はこちら
      </p>
    </div>

    <div class="guide-ichiba-lecture-Layout_Interview-btn-twin-center u-Adjust_Mt-24">
      <a href="https://www.rakuten.co.jp/?scid=wi_ich_dojo_mkdiv_kaimono_3" class="c-Btn_Primary guide-ichiba-lecture-Layout_Interview-btn-large u-Adjust_Mt-16" target="_blank"><span>楽天市場でお買い物をする</span></a>
      <a href="https://ad2.trafficgate.net/t/r/12737/1441/99636_99636/" class="c-Btn_Secondly ichiba_lecture_android guide-ichiba-lecture-Layout_Interview-btn-large u-Adjust_Mt-16">楽天カードの詳細を見る</a>
      <a href="https://ad2.trafficgate.net/t/r/12736/1441/99636_99636/" class="c-Btn_Secondly ichiba_lecture_apple guide-ichiba-lecture-Layout_Interview-btn-large u-Adjust_Mt-16">楽天カードの詳細を見る</a>
      <a href="https://ad2.trafficgate.net/t/r/12845/1441/99636_99636/" class="c-Btn_Secondly ichiba_lecture_pc guide-ichiba-lecture-Layout_Interview-btn-large u-Adjust_Mt-16">楽天カードの詳細を見る</a>
    </div>

    <div class="guide-ichiba-lecture-Layout_Interview-title-noborder u-Adjust_Align-center u-Adjust_Mt-48" id="date02">
      <img src="<%= sitepath %>assets/img/guide/ichiba-lecture/icon-Illustrated.png?220228" alt="図解" width="77">
      <h2 class="c-Heading_Lv2 u-Adjust_Mt-8 guide-ichiba-lecture-Layout_Interview-title-column-sp"><span>5と0のつく日×SPUで</span><span>ポイントアップの仕組み</span></h2>
    </div>

    <div class="c-Theme-Borderbox u-Adjust_Mt-24">
      <h4 class="c-Heading_Lv4">天然水を2箱 5,000円（税別）購入する場合</h4>
      <div class="guide-ichiba-lecture-Layout_Interview-media-chart u-Adjust_Mt-16">

        <div class="l-Media_Image">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/ichiba-lecture/img-01-sp-231201.png">
            <img src="<%= sitepath %>assets/img/guide/ichiba-lecture/img-01-pc-231201.png" width="314" alt="図解">
          </picture>
        </div>

        <div>
          <p class="c-Txt_Cap">※Rakuten最強プランの場合</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※3 ポイント未利用時の倍率、消費税率を10%とした場合の獲得ポイント数です。期間限定ポイントなど条件・上限あり。各キャンペーンのルール詳細を必ずご確認ください</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※4 楽天カード通常分は、楽天市場でのお買い物ごとのカードご利用金額に対して税込100円につき1ポイント（通常ポイント）となります</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※5 楽天カード特典分は、楽天市場でのお買い物ごとのカードご利用金額（消費税・送料・ラッピング料除く）に対して100円につき1ポイント（期間限定ポイント）となります。進呈するポイント（期間限定ポイントを含む）には上限や条件があります。詳細は<a href="https://www.rakuten-card.co.jp/campaign/rakuten-card/point-up/?scid=wi_ich_whcard_spulink&l2-id=spugadget_rakutenCard" target="_blank">こちら</a>をご覧ください</p>
        </div>
      </div>
    </div>

    <div class="guide-ichiba-lecture-Layout_Interview-title u-Adjust_Align-center u-Adjust_Mt-48" id="shop01">
      <h2 class="c-Heading_Lv2 u-Adjust_Mt-8"><img src="<%= sitepath %>assets/img/guide/ichiba-lecture/icon-cart-l.png" width="48" alt=""><span>ショップ買いまわり</span></h2>
      <h3 class="c-Heading_Lv3 u-Adjust_Mt-24">1,000円（税込）以上のお買い物を複数ショップで！</h3>
    </div>

    <div class="guide-ichiba-lecture-Layout_Interview-content-reverse">
      <div class="guide-ichiba-lecture-Layout_Interview-content-reverse-img">
        <img src="<%= sitepath %>assets/img/guide/ichiba-lecture/avator-male-normal-230419.png" alt="生徒" width="80" height="80" loading="lazy">
        <p class="guide-ichiba-lecture-Layout_Interview-content-reverse-role">生徒</p>
      </div>
      <div class="guide-ichiba-lecture-Layout_Interview-content-reverse-message">
        <div class="guide-ichiba-lecture-Layout_Interview-content-reverse-txt">
          <div>
            <p><a href="https://event.rakuten.co.jp/campaign/point-up/marathon/guide/?scid=wi_rmb_ich_dojo_mkdiv_4" target="_blank" class="c-Link_Txt-inline">お買い物マラソン<span class="c-Icon_New-window-l"></span></a>や<a href="https://event.rakuten.co.jp/campaign/supersale/guide/?scid=wi_rmb_ich_dojo_mkdiv_4" target="_blank" class="c-Link_Txt-inline">楽天スーパーSALE<span class="c-Icon_New-window-l"></span></a>期間の「買いまわり」って何ですか？</p>
          </div>
        </div>
      </div>
    </div>

    <div class="guide-ichiba-lecture-Layout_Interview-content">
      <div class="guide-ichiba-lecture-Layout_Interview-content-img">
        <img src="<%= sitepath %>assets/img/guide/ichiba-lecture/avator-female-normal-230419.png" alt="先生" width="80" height="80" loading="lazy">
        <p class="guide-ichiba-lecture-Layout_Interview-content-role">先生</p>
      </div>
      <div class="guide-ichiba-lecture-Layout_Interview-content-message">
        <div class="guide-ichiba-lecture-Layout_Interview-content-txt">
          <div>
            <p><span class="c-Txt_Emp-02">1,000円（税込）以上お買い物したショップの数だけポイント倍率がアップするキャンペーン</span>だよ。<span class="c-Txt_Cap">※6</span></p>
          </div>
        </div>
      </div>
    </div>

    <div class="guide-ichiba-lecture-Layout_Interview-content-reverse">
      <div class="guide-ichiba-lecture-Layout_Interview-content-reverse-img">
        <img src="<%= sitepath %>assets/img/guide/ichiba-lecture/avator-male-smile-230419.png" alt="生徒" width="80" height="80" loading="lazy">
      </div>
      <div class="guide-ichiba-lecture-Layout_Interview-content-reverse-message">
        <div class="guide-ichiba-lecture-Layout_Interview-content-reverse-txt">
          <div>
            <p>3つのショップで1,000円（税込）以上お買い物すれば、ポイント3倍ですか？</p>
          </div>
        </div>
      </div>
    </div>

    <div class="guide-ichiba-lecture-Layout_Interview-content">
      <div class="guide-ichiba-lecture-Layout_Interview-content-img">
        <img src="<%= sitepath %>assets/img/guide/ichiba-lecture/avator-female-smile-230419.png" alt="先生" width="80" height="80" loading="lazy">
      </div>
      <div class="guide-ichiba-lecture-Layout_Interview-content-message">
        <div class="guide-ichiba-lecture-Layout_Interview-content-txt">
          <div>
            <p>3倍のうち1倍は通常ポイント分で、+2倍ということだね。<br>
              さらにSPUの倍率も加わるよ！この<a href="https://event.rakuten.co.jp/campaign/point-up/marathon/guide/case/?scid=wi_rmb_ich_dojo_mkdiv_4" class="c-Link_Txt-inline" target="_blank">マンガ<span class="c-Icon_New-window-l"></span></a>で買いまわりのコツを学べるよ！</p>
          </div>
        </div>
      </div>
    </div>

    <div class="guide-ichiba-lecture-Layout_Interview-content-reverse">
      <div class="guide-ichiba-lecture-Layout_Interview-content-reverse-img">
        <img src="<%= sitepath %>assets/img/guide/ichiba-lecture/avator-male-smile-230419.png" alt="生徒" width="80" height="80" loading="lazy">
      </div>
      <div class="guide-ichiba-lecture-Layout_Interview-content-reverse-message">
        <div class="guide-ichiba-lecture-Layout_Interview-content-reverse-txt">
          <div>
            <p>洗剤やお米、お酒の買いだめにもぴったり。次回必ずエントリーします！</p>
          </div>
        </div>
      </div>
    </div>

    <p class="u-Adjust_Mt-16 c-Txt_Cap">※6 獲得上限ポイントあり。その他のポイントアップキャンペーンの条件・上限は各キャンペーンの詳細をご確認ください。</p>
    <div class="guide-ichiba-lecture-Layout_Interview-title-noborder u-Adjust_Align-center u-Adjust_Mt-48" id="shop02">
      <img src="<%= sitepath %>assets/img/guide/ichiba-lecture/icon-Illustrated.png?220228" alt="図解" width="77">
      <h2 class="c-Heading_Lv2 u-Adjust_Mt-8 guide-ichiba-lecture-Layout_Interview-title-column-sp"><span>買いまわり+5と0のつく日</span><span>+SPUのポイント獲得例</span></h2>
    </div>

    <div class="c-Theme-Borderbox u-Adjust_Mt-24">
      <p class="c-Txt_Normal-m c-Txt_Emp-01">4ショップ買いまわり</p>
      <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/ichiba-lecture/img-02-sp-231201.png" width="100%">
          <img src="<%= sitepath %>assets/img/guide/ichiba-lecture/img-02-pc-231201.png" alt="図解" width="873">
        </picture>
      </div>
      <p class="c-Txt_Cap u-Adjust_Mt-16">
        ※Rakuten最強プランの場合<br>
        買いまわりの倍率はすべての購入商品に適用されます<br>
        ※3 ポイント未利用時の倍率、消費税率を10%とした場合の獲得ポイント数です。期間限定ポイントなど条件・上限あり。各キャンペーンのルール詳細を必ずご確認ください<br>
        ※4 楽天カード通常分は、楽天市場でのお買い物ごとのカードご利用金額に対して税込100円につき1ポイント（通常ポイント）となります<br>
        ※5 楽天カード特典分は、楽天市場でのお買い物ごとのカードご利用金額（消費税・送料・ラッピング料除く）に対して100円につき1ポイント（期間限定ポイント）となります。進呈するポイント（期間限定ポイントを含む）には上限や条件があります。詳細は<a href="https://www.rakuten-card.co.jp/campaign/rakuten-card/point-up/?scid=wi_ich_whcard_spulink&l2-id=spugadget_rakutenCard" target="_blank">こちら</a>をご覧ください
      </p>
    </div>

    <div class="c-Theme-Borderbox u-Adjust_Mt-24">
      <p class="c-Txt_Normal-m c-Txt_Emp-01">ショップ買いまわりとは</p>
      <ul class="c-List_Text-disc-emp guide-ichiba-lecture-Layout_List-hirizontal u-Adjust_Mt-16">
        <li>複数のショップでお買い物すること</li>
        <li>1,000円（税込）以上お買い物したショップ数に応じてポイントアップ</li>
        <li>お買い物マラソンやスーパーSALEの期間</li>
        <li>要エントリー</li>
      </ul>
      <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-16">
        <li><a href="https://event.rakuten.co.jp/campaign/point-up/marathon/guide/case/?scid=wi_rmb_ich_dojo_mkdiv_4" class="c-Link_Txt-inline" target="_blank">マンガでコツを学ぶ<span class="c-Icon_New-window-l"></span></a></li>
        <li><a href="https://search.rakuten.co.jp/search/mall/1000%E5%86%86+%E9%80%81%E6%96%99%E7%84%A1%E6%96%99+%E3%83%9D%E3%83%83%E3%82%AD%E3%83%AA?scid=wi_rmb_ich_dojo_mkdiv_4" class="c-Link_Txt-inline" target="_blank">1,000円ポッキリ商品をチェック<span class="c-Icon_New-window-l"></span></a></li>
      </ul>
    </div>

    <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
      <a href="https://www.rakuten.co.jp/?scid=wi_ich_dojo_mkdiv_kaimono_4" class="c-Btn_Primary-large" target="_blank"><span>楽天市場でお買い物をする</span></a>
    </div>

    <div class="guide-ichiba-lecture-Layout_Interview-content-reverse u-Adjust_Mt-48">
      <div class="guide-ichiba-lecture-Layout_Interview-content-reverse-img">
        <img src="<%= sitepath %>assets/img/guide/ichiba-lecture/avator-male-normal-230419.png" alt="生徒" width="80" height="80" loading="lazy">
        <p class="guide-ichiba-lecture-Layout_Interview-content-reverse-role">生徒</p>
      </div>
      <div class="guide-ichiba-lecture-Layout_Interview-content-reverse-message">
        <div class="guide-ichiba-lecture-Layout_Interview-content-reverse-txt">
          <div>
            <p>いやーいろんな小ワザがあるんですね！これからどんどん活用していこうと思います。</p>
          </div>
        </div>
      </div>
    </div>

    <div class="guide-ichiba-lecture-Layout_Interview-content">
      <div class="guide-ichiba-lecture-Layout_Interview-content-img">
        <img src="<%= sitepath %>assets/img/guide/ichiba-lecture/avator-female-normal-230419.png" alt="先生" width="80" height="80" loading="lazy">
        <p class="guide-ichiba-lecture-Layout_Interview-content-role">先生</p>

      </div>
      <div class="guide-ichiba-lecture-Layout_Interview-content-message">
        <div class="guide-ichiba-lecture-Layout_Interview-content-txt">
          <div>
            <p><span class="c-Txt_Emp-02">・・・・実はまだあるの！</span>ここからは上級者向けかな。</p>
            <p><span class="c-Txt_Emp-02">楽天会員だからこそ使えるテクニック</span>だから覚えておいて損はないよ！</p>
          </div>
        </div>
      </div>
    </div>

    <div class="guide-ichiba-lecture-Layout_Interview-title u-Adjust_Align-center u-Adjust_Mt-80" id="furusato01">
      <h2 class="c-Heading_Lv2 u-Adjust_Mt-8"><img src="<%= sitepath %>assets/img/guide/ichiba-lecture/icon-map-l.png" width="48" alt=""><span>楽天ふるさと納税</span></h2>
      <h3 class="c-Heading_Lv3 u-Adjust_Mt-32">「楽天ふるさと納税」なら<br class="guide-ichiba-lecture-Utility_Sp">5と0のつく日など<br class="guide-ichiba-lecture-Utility_Sp">ポイントキャンペーンの対象に</h3>
    </div>

    <div class="guide-ichiba-lecture-Layout_Interview-content">
      <div class="guide-ichiba-lecture-Layout_Interview-content-img">
        <img src="<%= sitepath %>assets/img/guide/ichiba-lecture/avator-female-normal-230419.png" alt="先生" width="80" height="80" loading="lazy">
        <p class="guide-ichiba-lecture-Layout_Interview-content-role">先生</p>
      </div>
      <div class="guide-ichiba-lecture-Layout_Interview-content-message">
        <div class="guide-ichiba-lecture-Layout_Interview-content-txt">
          <div><p>楽天市場で<a href="https://event.rakuten.co.jp/furusato/guide/rakuten_local.html?scid=wi_rmb_ich_dojo_mkdiv_5" class="c-Link_Txt-inline" target="_blank">ふるさと納税<span class="c-Icon_New-window-l"></span></a>すると、普段の利用と同じようにポイントが貯まるの知ってる？</p></div>
        </div>
      </div>
    </div>

    <div class="guide-ichiba-lecture-Layout_Interview-content-reverse">
      <div class="guide-ichiba-lecture-Layout_Interview-content-reverse-img">
        <img src="<%= sitepath %>assets/img/guide/ichiba-lecture/avator-male-surprised-230419.png" alt="生徒" width="80" height="80" loading="lazy">
        <p class="guide-ichiba-lecture-Layout_Interview-content-reverse-role">生徒</p>
      </div>
      <div class="guide-ichiba-lecture-Layout_Interview-content-reverse-message">
        <div class="guide-ichiba-lecture-Layout_Interview-content-reverse-txt">
          <div>
            <p>普段の利用と同じということはキャンペーンの対象ですか？<span class="c-Txt_Cap">※7</span></p>
          </div>
        </div>
      </div>
    </div>

    <div class="guide-ichiba-lecture-Layout_Interview-content">
      <div class="guide-ichiba-lecture-Layout_Interview-content-img">
        <img src="<%= sitepath %>assets/img/guide/ichiba-lecture/avator-female-smile-230419.png" alt="先生" width="80" height="80" loading="lazy">
      </div>
      <div class="guide-ichiba-lecture-Layout_Interview-content-message">
        <div class="guide-ichiba-lecture-Layout_Interview-content-txt">
          <div><p>そうなの！5と0のつく日やお買い物マラソン開催時にぜひチェックしてみてね。</p></div>
        </div>
      </div>
    </div>

    <p class="u-Adjust_Mt-16 c-Txt_Cap">※7ふるさと納税の寄付金もポイントキャンペーンの対象になります。各キャンペーンのルール詳細を必ずご確認ください。</p>

    <div class="c-Theme-Borderbox u-Adjust_Mt-24">
      <div class="guide-ichiba-lecture-Layout_Interview-media-furusato">
        <div>
          <img src="<%= sitepath %>assets/img/guide/ichiba-lecture/logo-furusato.png?22028" width="50" class="guide-ichiba-lecture-Utility_Sp u-Adjust_Mr-8" alt="">
          <p class="c-Txt_Normal-m c-Txt_Emp-01">ふるさと納税とは</p>
        </div>
        <div>
          <ul class="c-List_Text-disc-emp guide-ichiba-lecture-Layout_List-hirizontal">
            <li>楽天市場が提供するふるさと納税サービス</li>
            <li>寄付金額に応じてポイント進呈の対象</li>
          </ul>
          <p class="u-Adjust_Mt-16"><a href="https://event.rakuten.co.jp/furusato/guide/rakuten_local.html?scid=wi_rmb_ich_dojo_mkdiv_5" class="c-Link_Txt-inline" target="_blank">ふるさと納税が初めての方はこちら<span class="c-Icon_Chevron-right"></span></a></p>
        </div>
      </div>
    </div>

    <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
      <a href="https://www.rakuten.co.jp/?scid=wi_ich_dojo_mkdiv_kaimono_5" class="c-Btn_Primary-large" target="_blank"><span>楽天市場でお買い物をする</span></a>
    </div>

  </div>
</div>


<!-- ReX UX Survey: Mounting point for embedded components -->
<div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
<!-- ReX UX Survey: Config -->
<script>
  window.rexSurveyConfig = {
    "language": "ja",
    "surveyId": "40802",
    "cId": {
        "name": "answers[40802_277153]",
        "value": ""
    },
    "embedded": true,
    "url": {
        "name": "answers[40802_277154]"
    },
    "triggerIdName": "trigger",
    "reappearancePeriodWithRespond": 30,
    "reappearancePeriodWithoutRespond": 30,
    "enableDisplaySuppressionPerPage": true,
    "enableFormAction": false,
    "displayStartDate": "",
    "displayEndDate": "",
    "permission": {
        "inquiryTxt": "キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)",
        "yesBtnTxt": "協力する",
        "noBtnTxt": "今は協力しない",
        "available": true
    },
    "thanks": {
        "txt0": "ご協力ありがとうございました",
        "txt1": "いただいた情報は、サービス改善のために使用させていただきます。"
    },
    "nps": {
        "available": true,
        "question": {
            "label": "このページの総合的な「わかりやすさ」について、どのように感じましたか？"
        },
        "options": [
            {
                "name": "answers[40802_277155]",
                "value": "743051"
            },
            {
                "name": "answers[40802_277155]",
                "value": "743052"
            },
            {
                "name": "answers[40802_277155]",
                "value": "743053"
            },
            {
                "name": "answers[40802_277155]",
                "value": "743054"
            },
            {
                "name": "answers[40802_277155]",
                "value": "743055"
            }
        ],
        "txt0": "薦めたくない",
        "txt1": "薦めたい",
        "checked": 4
    },
    "inquiry": {
        "available": true,
        "checkList": {
            "questionType": "multipleAnswer",
            "available": true,
            "question": "あなたがこのページについて思ったことで、当てはまるものを教えてください（複数可）",
            "shuffleChoices": true,
            "options": [
                {
                    "name": "answers[40802_277156][]",
                    "value": "743056",
                    "label": "「SPU」がわかりにくい"
                },
                {
                    "name": "answers[40802_277156][]",
                    "value": "743057",
                    "label": "「5と0のつく日」がわかりにくい"
                },
                {
                    "name": "answers[40802_277156][]",
                    "value": "743058",
                    "label": "「楽天市場アプリ」がわかりにくい"
                },
                {
                    "name": "answers[40802_277156][]",
                    "value": "743059",
                    "label": "「買いまわり」がわかりにくい"
                },
                {
                    "name": "answers[40802_277156][]",
                    "value": "743060",
                    "label": "「楽天市場のふるさと納税」がわかりにくい"
                },
                {
                    "name": "answers[40802_277156][]",
                    "value": "743061",
                    "label": "特になし"
                },
                {
                    "name": "",
                    "value": "",
                    "label": ""
                }
            ]
        },
        "freeInput": {
            "available": true,
            "name": "answers[40802_277157]",
            "title": "ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"
        },
        "sendBtnTxt": "送信する",
        "footerNote": {
            "available": true,
            "text": "お客様よりご提供いただく情報はサービス向上のため使用させていただきます。",
            "link": "https://privacy.rakuten.co.jp/",
            "htmlText": ""
        }
    },
    "inquiryNegative": {
        "checkList": {
            "available": false,
            "options": [
                {
                    "name": "answers[40802_277156][]",
                    "value": "743056",
                    "label": ""
                },
                {
                    "name": "answers[40802_277156][]",
                    "value": "743057",
                    "label": ""
                },
                {
                    "name": "answers[40802_277156][]",
                    "value": "743058",
                    "label": ""
                },
                {
                    "name": "answers[40802_277156][]",
                    "value": "743059",
                    "label": ""
                },
                {
                    "name": "answers[40802_277156][]",
                    "value": "743060",
                    "label": ""
                },
                {
                    "name": "answers[40802_277156][]",
                    "value": "743061",
                    "label": ""
                },
                {
                    "name": "",
                    "value": "",
                    "label": ""
                }
            ]
        }
    },
    "ua": {
        "name": "answers[40802_277158]"
    },
    "href": {
        "name": "answers[40802_277159]"
    },
    "cookie": {
        "available": false
    },
    "assetPaths": {
        "closeButton": "",
        "checkIcon": ""
    }
  }
</script>
<!-- ReX UX Survey: Script -->
<script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/1.8.0/js/main.js" defer></script>

<footer class="g-Footer">
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>


</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.ichiba-lecture.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>


</body>
</html>
