<% const pagetitle = "日本郵政グループ従業員様・ご家族様限定！エントリー＆Rakuten最強プランのお申し込みで20,000ポイントプレゼント" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "japanpost-byod" -%>
<%-
include('/_header', {
  pagetitle,
  directories,
  description: '日本郵政グループ社員様・ご家族様限定！エントリーとRakuten最強プランのお申し込みで20,000円相当の楽天ポイントが進呈されるキャンペーンです。',
  noindex: true,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/japanpost/byod/japanpost-byod.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <%- include('/include/_breadcrumbs', {
      type: 'head',
      pagetitle,
      directories,
    }) %>
    <div class="<%= namespace %>-Layout_Label">
      <ul class="c-Label_List">
        <li class="c-Label_Normal">エントリー必要</li>
      </ul>
      <p class="<%= namespace %>-Layout_Label-txt">ポイント：付与日を含めて6カ月の期間限定ポイント</p>
    </div>

    <div class="<%= namespace %>-Hero">
      <div class="<%= namespace %>-Hero_Container">
        <h1>
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/japanpost/byod/kv-sp-231027.png" width="100%">
            <img src="<%= sitepath %>assets/img/campaign/japanpost/byod/kv-pc-231027.png" width="1440" height="345" alt="<%= pagetitle %>">
          </picture>
        </h1>
      </div>
    </div>

    <div class="l-System_Container u-Adjust_Mt-8">
      <p class="c-Txt_Cap">
        <span class="c-Txt_Emp-02">※「Rakuten最強プラン（データタイプ）」は対象外です</span><br>
        ※特典は日本郵政グループ従業員様とそのご家族様ともにキャンペーン期間中おひとり様1度のみとなります<br>
        ※進呈するポイントは期間限定ポイントとなり、条件がございます。詳しくは<a href="#campaign-rule1992" class="c-Link_Txt js-scroll">キャンペーンルール</a>をご確認ください<br>
        ※すでに楽天モバイルをご契約されている方でも、2回線目のプラン契約時にキャンペーン条件を満たせば特典対象となります<br>
        ※1 本キャンペーンにエントリー後の月末時点で、「Rakuten最強プラン」をご利用中の方が対象です<br>
        ※1 エントリーの翌月以降は、翌月以降の月末時点での「Rakuten最強プラン」のご利用状況により、特典が適用されます
      </p>
      <div class="u-Adjust_Align-center u-Adjust_Mt-24">
        <p class="c-Txt_Emp-02 c-Heading_Lv4">
          本キャンペーンは2023年12月28日23時59分をもちまして終了いたしました。<br>
          このページに掲載されている情報は、キャンペーン終了時点のものです。
        </p>
      </div>
      <div class="u-Adjust_Align-center">
        <p class="u-Adjust_Mt-16">
          <span class="c-Txt_Emp-01">【キャンペーン期間】</span><br>
          2023年8月10日（水）9:00～2023年12月28日（木）23:59
        </p>
      </div>
    </div>

    <div class="l-System_Container u-Adjust_Mt-32">
      <h2 class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンの流れ</h2>
      <ul class="<%= namespace %>-Layout_Flow c-Flow">
        <li>
          <h3><span class="<%= namespace %>-Layout_Flow-step">STEP 1</span><span>アンケートに回答してエントリー</span></h3>
          <div class="u-Adjust_Align-center u-Adjust_Mt-24">
            <p>アンケート画面に進んで設問に回答してください</p>
            <div class="u-Adjust_Mt-16">
              <a class="c-Btn_Primary-large" aria-disabled="true" disabled><span>アンケート画面に進む</span></a>
            </div>
            <p class="u-Adjust_Mt-16 c-Txt_Cap u-Adjust_Align-left">
              ※ご家族のお申し込みをされる場合でも、アンケート画面では従業員様ご本人の情報を入力してください<br>
              ※ご自身とご家族がそれぞれご契約する場合には、楽天IDが異なれば、同じ従業員様氏名で複数アンケート回答してもキャンペーン適用対象となります<br>
              <span class="c-Txt_Emp-02">※Android製品を同時に購入される場合、本キャンペーンの特典20,000ポイントから「Androidスマホ割引キャンペーン（1550）」の特典を差し引いた楽天ポイントを翌々月末日頃に進呈します。</span>特典の詳細は<a href="<%= sitepath %>campaign/start-point/?l-id=campaign_japanpost_byod_campaign_start-point">キャンペーンページ</a>をご確認ください<br>
              例）AQUOS wish3を「Androidスマホ割引キャンペーン（1550）」を適用し購入された場合、プランセット値引き6,000円の差額14,000円相当の楽天ポイントが本キャンペーン条件達成の翌々月末日頃に進呈されます
            </p>
          </div>
        </li>
        <li>
          <h3><span class="<%= namespace %>-Layout_Flow-step">STEP 2</span><span>Rakuten最強プランを申し込む</span></h3>
          <div class="<%= namespace %>-Layout_Flow-detail">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/japanpost/byod/img-01-sp.png" width="100%">
              <img src="<%= sitepath %>assets/img/campaign/japanpost/byod/img-01-pc.png" width="314" height="97" alt="<%= pagetitle %>">
            </picture>
            <div class="u-Adjust_Mt-16 u-Adjust_Mt-pc-0">
              <p>WebまたはショップでRakuten最強プランをお申し込みください</p>
              <ul class="u-Adjust_Mt-16 <%= namespace %>-Layout_Btn-col">
                <li class="<%= namespace %>-Utility_Justify-content-sp">
                  <a href="<%= sitepath %>guide/application/?lid-r=campaign_japanpost_byod_guide_application_01" class="c-Btn_Primary <%= namespace %>-Layout_Btn"><span>新規／乗り換え（MNP）お申し込み</span></a>
                </li>
                <li class="<%= namespace %>-Utility_Justify-content-sp">
                  <a href="<%= sitepath %>shop/?l-id=campaign_japanpost_byod_shop_01" class="c-Btn_Secondly <%= namespace %>-Layout_Btn"><span>お近くのショップを探す</span></a>
                </li>
              </ul>
              <p class="c-Txt_Cap u-Adjust_Mt-16 c-Txt_Emp-02">
                ※お申し込み後に本キャンペーンにエントリーした場合、特典適用対象外となります<br>
                ※ショップでご契約される場合は、本キャンペーンを適用する旨のご申告と合わせて本画面を店舗スタッフにお見せください
              </p>
            </div>
          </div>
        </li>
        <li>
          <h3>
            <span class="<%= namespace %>-Layout_Flow-step">STEP 3</span><span>Rakuten最強プラン利用開始</span>
          </h3>
          <div class="<%= namespace %>-Layout_Flow-detail">
            <img src="<%= sitepath %>assets/img/campaign/japanpost/byod/img-02-pc.png" class="u-Show_Xxo" width="314" height="104" alt="">
            <div>
              <div class="<%= namespace %>-Layout_Flow-detail-sp">
                <img src="<%= sitepath %>assets/img/campaign/japanpost/byod/img-02-sp.png" class="u-Show_Oox" width="104" height="67" alt="">
                <p><span class="c-Txt_Emp-01">【期限】</span><br class="u-Show_Oox">プランお申し込みの翌月末日23:59まで</p>
              </div>
              <div class="u-Adjust_Mt-16 <%= namespace %>-Utility_Justify-content-sp">
                <a href="<%= sitepath %>faq/detail/00001648/?l-id=campaign_japanpost_byod_faq_detail_00001648" class="c-Btn_Regular <%= namespace %>-Layout_Btn"><span>プラン利用開始手順を見る</span></a>
              </div>
            </div>
          </div>
        </li>
        <li>
          <h3><span class="<%= namespace %>-Layout_Flow-step">キャンペーン特典のポイント進呈！</span></h3>
          <div class="<%= namespace %>-Layout_Flow-detail <%= namespace %>-Layout_Flow-detail <%= namespace %>-Layout_Flow-detail-img-center">
            <div class="u-Adjust_Align-center" style="width: auto;">
              <img src="<%= sitepath %>assets/img/campaign/japanpost/byod/img-04-pc-231027.png" width="314" height="91" alt="">
            </div>
            <div>
              <div class="<%= namespace %>-Layout_Flow-detail-point">
                <div class="<%= namespace %>-Layout_Flow-detail-point-item">
                  <div class="<%= namespace %>-Layout_Flow-detail-point-title u-Adjust_Align-center">
                    <p class="c-Txt_Emp-01">初めてプランお申し込みで</p>
                    <p class="c-Txt_Emp-02">
                      <span class="<%= namespace %>-Layout_Flow-detail-point-num">20,000</span>ポイント
                    </p>
                  </div>
                  <div class="u-Adjust_Align-center u-Adjust_Mt-8">
                    <p class="c-Txt_Emp-01">【キャンペーン期間】</p>
                    <p>2023年7月26日（水）9:00～終了日未定</p>
                    <p class="u-Adjust_Mt-8"><a href="#campaign-rule1992" class="c-Link_Txt-inline js-scroll">詳しくはこちら<span class="c-Icon_Arrow-down-l"></span></a></p>
                  </div>
                </div>
                <div class="<%= namespace %>-Layout_Flow-detail-point-item">
                  <div class="<%= namespace %>-Layout_Flow-detail-point-title u-Adjust_Align-center">
                    <p class="c-Txt_Emp-01">楽天モバイルご契約中</p>
                    <p class="c-Txt_Emp-02">
                      毎月<span class="<%= namespace %>-Layout_Flow-detail-point-num">500</span>ポイント
                    </p>
                  </div>
                  <div class="u-Adjust_Align-center u-Adjust_Mt-8">
                    <p class="c-Txt_Emp-01">【キャンペーン期間】</p>
                    <p>2023年8月10日（木）9:00～ 2024年7月31日（水）23:59</p>
                    <p class="u-Adjust_Mt-8"><a href="#campaign-rule2008" class="c-Link_Txt-inline js-scroll">詳しくはこちら<span class="c-Icon_Arrow-down-l"></span></a></p>
                  </div>
                </div>
              </div>
              <p class="u-Adjust_Mt-16">キャンペーン条件達成の翌々月末日頃に、期間限定ポイントとしてを進呈します</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="l-System_Container u-Adjust_Mt-48" id="how">
      <h2 class="c-Heading_Lv2 u-Adjust_Align-center">楽天モバイルの<br class="u-Show_Oox">お申し込み方法</h2>
      <div class="c-Tab js-Tab u-Adjust_Mt-24">
        <ul class="c-Tab_Items" role="tablist">
          <li class="c-Tab_Item js-tab-nest" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">Web</li>
          <li class="c-Tab_Item js-tab-nest" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">ショップ</li>
        </ul>
        <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
          <div class="u-Adjust_Mt-24">
            <div class="l-Media_Grid c-Theme-Borderbox" style="align-items: center;">
              <div class="l-Media_Image c-Flow_Image">
                <picture>
                  <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/japanpost/byod/img-05-sp.png" width="232">
                  <img src="<%= sitepath %>assets/img/campaign/japanpost/byod/img-05-pc.png" width="280" height="180" alt="">
                </picture>
              </div>
              <div>
                <p class="c-Txt_Emp-01">お申し込みに必要なもの</p>
                <ul class="c-List_Text-disc u-Adjust_Mt-16">
                  <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/verify/?l-id=campaign_japanpost_byod_guide_verify" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                  <li class="u-Adjust_Mt-8">楽天会員ID、パスワード</li>
                  <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/?l-id=campaign_japanpost_byod_guide_payment" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a></li>
                </ul>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">※<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_japanpost_byod_flow_for-minors">未成年の方のお申し込み方法はこちら</a></p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">※MNPワンストップ未対応の携帯電話会社から乗り換えの方は、MNP予約番号の取得が必要です。MNPワンストップ対象の携帯電話会社は<a href="<%= sitepath %>guide/mnp/#career" class="c-Link_Txt">こちら</a>からご確認ください。</p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">※ ショップでのお手続きは、ワンストップ対象の他社からの転入であっても、MNP予約番号を取得のうえ、ご来店ください。</p>
              </div>
            </div>
            <div class="l-Media_Grid-half u-Adjust_Mt-24">
              <div class="c-Theme-Borderbox">
                <div class="u-Align_Lcc">
                  <p class="<%= namespace %>-Utility_Icon-title"><span class="c-Icon_New-user-f u-Adjust_Pr-8"></span><span class="c-Txt_Emp-01">新規電話番号／他社から乗り換え（MNP）</span></p>
                  <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/application/?lid-r=campaign_japanpost_byod_guide_application_02" class="c-Btn_Primary-large">Rakuten最強プランに申し込む</a></p>
                  <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>fee/saikyo-plan/?l-id=campaign_japanpost_byod_fee_saikyo-plan_02" class="c-Link_Txt-inline">Rakuten最強プランの詳細<span class="c-Icon_Chevron-right"></span></a></p>
                  <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/flow/application/?l-id=campaign_japanpost_byod_guide_flow_application_02" class="c-Link_Txt-inline">Rakuten最強プランの申し込み方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                </div>
              </div>
              <div class="c-Theme-Borderbox">
                <div class="u-Align_Lcc">
                  <p class="<%= namespace %>-Utility_Icon-title"><span class="c-Icon_Paper-plane-l u-Adjust_Pr-8"></span><span class="c-Txt_Emp-01 u-Adjust_Align-left">楽天モバイル（ドコモ・au回線）から<br class="u-Show_Xxo">プラン変更（移行）</span></p>
                  <p class="u-Adjust_Mt-24">
                    <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_japanpost_byod_ms_02&mno_migration=1" class="c-Btn_Secondly-large top-Description_Btn-text">
                      <span>メンバーズステーションから<br class="<%= namespace %>-Utility_Br-pc">プラン変更（移行）する</span>
                    </a>
                  </p>
                  <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/migration/?l-id=campaign_japanpost_byod_guide_migration_02" class="c-Link_Txt-inline">スーパーホーダイ・組み合わせプラン（※）との比較<span class="c-Icon_Chevron-right"></span></a></p>
                  <p class="u-Adjust_Mt-0 c-Txt_Cap">※2020年4月8日に受付終了のドコモ回線・au回線使用プラン</p>
                  <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/mnp/migration/?l-id=campaign_japanpost_byod_guide_mnp_migration_02" class="c-Link_Txt-inline">楽天モバイル（楽天回線）への移行方法<span class="c-Icon_Chevron-right"></span></a></p>
                  <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>flow/mvno-user-registration/?l-id=campaign_japanpost_byod_flow_mvno-user-registration_02" class="c-Link_Txt-inline">利用者登録をされている方の移行方法 <span class="c-Icon_Chevron-right"></span></a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
          <div class="u-Adjust_Align-center u-Adjust_Mt-24">
            <a href="<%= sitepath %>shop/?l-id=campaign_japanpost_byod_shop_02" class="c-Btn_Secondly-large">お近くのショップを探す</a>
          </div>
          <div class="c-Theme-Borderbox u-Adjust_Mt-24">
            <div class="l-Media_Grid" style="align-items: center;">
              <div class="l-Media_Image c-Flow_Image">
                <picture>
                  <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/japanpost/byod/img-05-sp.png" width="232">
                  <img src="<%= sitepath %>assets/img/campaign/japanpost/byod/img-05-pc.png" width="280" height="180" alt="">
                </picture>
              </div>
              <div>
                <p class="c-Txt_Emp-01">お申し込みに必要なもの</p>
                <ul class="c-List_Text-disc u-Adjust_Mt-16">
                  <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/verify/?l-id=campaign_japanpost_byod_guide_verify_shop" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                  <li class="u-Adjust_Mt-8">楽天会員ID、パスワード</li>
                  <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/?l-id=campaign_japanpost_byod_guide_payment_shop" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a></li>
                </ul>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_japanpost_byod_flow_for-minors_shop">未成年の方のお申し込み方法はこちら</a></p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※ショップでのお手続きは、ワンストップ対象の他社からの転入であっても、MNP予約番号を取得のうえ、ご来店ください。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="u-Adjust_Mt-64">
      <%- include('/inc/_saikyo') %>
    </div>

    <div class="l-System_Container u-Adjust_Mt-64">
      <div id="campaign-rule">
        <!-- 1992 -->
        <div id="campaign-rule1992">
          <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1992', level: 'h2', year: '2023', class: 'u-Adjust_Mt-24', comments: `<p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-16 u-Adjust_Align-center">本キャンペーンは2023年12月28日23時59分をもちまして終了いたしました。<br>このページに掲載されている情報は、キャンペーン終了時点のものです。</p>` }}) %>
        </div>

        <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2008', level: 'h2', year: '2023', class: 'u-Adjust_Mt-24', comments: `<p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-16 u-Adjust_Align-center">本キャンペーンは2023年12月28日23時59分をもちまして終了いたしました。<br>このページに掲載されている情報は、キャンペーン終了時点のものです。</p>` }}) %>

      </div>
    </div>

    <footer class="g-Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <%- include('/include/_breadcrumbs', {
          type: 'foot',
          pagetitle,
          directories,
        }) %>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
</body>
</html>
