<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "開通工事の流れ" -%>
<% const directories = [{path: hikariroot.path + "flow/", label:"ご利用開始までの流れ"}] -%>
<% const namespace = "hikari-construction" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '初めて光回線を利用する際の開通工事について、イラスト付きで説明します。工事前の準備もしっかり確認できます。',
    noindex: false,
    pathname: filepath,
    ishikari: true,
    canonical_custom: 'https://network.mobile.rakuten.co.jp/hikari/flow/construction/',
  });
%>
<%- include('/include/hikari/_common-v2-hikari-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/flow/construction/construction.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/module/m-hikari-cpn-v2.css?20240424">


<%- include('/include/_append-head-hikari') %>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>

<div class="l-System">

  <%- include('/hikari/include/_header', {
    headerType: 'normal',
    pagetitle: pagetitle,
    pathname: filepath,
    directories: directories,
    tax: 'true'
  }) %>

  <div class="l-hikari-Section_Main">
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
      <div class="c-Tab js-Tab u-Adjust_Mt-16">
        <ul class="c-Tab_Items" role="tablist">
          <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1" data-ratid="rhk_one-year-free_new_unlimit_rule_tab_1" data-ratevent="click" data-ratparam="all">派遣工事ありの方</li>
          <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2" data-ratid="rhk_one-year-free_new_unlimit_rule_tab_2" data-ratevent="click" data-ratparam="all">派遣工事なしの方</li>
        </ul>
        <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">

          <div class="l-hikari-Section_Main-lead">
              <p class="u-Adjust_Align-left <%= namespace %>-Layout-Display_Sp">新規で光回線を利用するには派遣工事が必要です。</p>
              <p class="u-Adjust_Align-center <%= namespace %>-Layout-Display_Pc">新規で光回線を利用するには派遣工事が必要です。</p>
              <div class="c-Infobox_Standing-info u-Adjust_Mt-24">
                  <h3 class="c-Txt_Normal">対象の方：</h3>
                  <ul class="c-List_Text-disc u-Adjust_Mt-16 c-Txt_Normal-s">
                    <li>その他の光回線（auひかり、NURO 光、J:COM光、eo光、コミュファ光 、ケーブルテレビインターネット、電力系光回線 等）を利用している</li>
                    <li>ポケットWi-Fiやテザリングを利用している</li>
                    <li>ADSL回線を利用している</li>
                    <li>インターネット回線を利用していない</li>
                  </ul>
              </div>

              <div class="u-Adjust_Mt-64">
                  <ol class="c-Flow u-Adjust_Mt-32">
                    <li>
                      <h2 class="c-Heading_Lv3 hikari-flow-Grid_Display-sp">1. 楽天ひかりに申し込む</h2>
                    </li>
                    <li>
                      <h2 class="c-Heading_Lv3 hikari-flow-Grid_Display-sp">2. 工事日程の連絡が来る</h2>
                    </li>
                    <li>
                      <h2 class="c-Heading_Lv3 hikari-flow-Grid_Display-sp">3. 工事日までに準備をする</h2>
                      <h3 class="c-Txt_Normal  u-Adjust_Mt-16"><span class=" c-Txt_Emp-underline">準備すること</span></h3>
                      <ul class="c-List_Text-disc u-Adjust_Mt-8">
                        <li>楽天ひかりのIPv6（クロスパス）対応ルーター </li>
                        <li>電源タップ（コンセント差込口）の確保  </li>
                      </ul>
                      <h3 class="c-Txt_Normal  u-Adjust_Mt-16"><span class=" c-Txt_Emp-underline">確認すること</span></h3>
                      <ul>
                        <li>
                          <h4 class="c-Txt_Normal  u-Adjust_Mt-16">賃貸住宅にお住まいの方</h4>
                          屋内に回線を引き込むため、壁に1cmほどの穴を開ける場合があります。事前に建物所有者に工事施工の承諾を得てください。
                        </li>
                        <li>
                          <h4 class="c-Txt_Normal  u-Adjust_Mt-16">アパート、マンションにお住まいの方</h4>
                          共用スペースの解錠が必要な場合があります。建物管理者に解錠を依頼してください。
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h2 class="c-Heading_Lv3 hikari-flow-Grid_Display-sp">4. 開通工事に立ち会う</h2>
                      <div class="hikari-flow-Grid l-Media_Grid u-Adjust_Mt-16">
                        <div class="l-Media_Image c-Flow_Image">
                          <picture>
                            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/hikari/flow/img-flow-3_sp.png" width="184px" height="100px">
                            <img src="<%= sitepath %>assets/img/hikari/flow/img-flow-3_pc.png" alt="">
                          </picture>
                        </div>
                        <div>
                          <p class="u-Adjust_Mt-16">NTT東日本・NTT西日本の作業員がご自宅にお伺いいたします。</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <h2 class="c-Heading_Lv3 hikari-flow-Grid_Display-sp">5. 設定・利用開始する</h2>
                      <div class="hikari-flow-Grid l-Media_Grid">

                        <div>
                          <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>hikari/support/setting/router/?l-id=internet_connect_01" class="c-Link_Txt-inline" data-ratid="internet_connect_01" data-ratevent="click" data-ratparam="all">インターネット接続方法を見る<span class="c-Icon_Arrow-right-l"></span></a></p>
                        </div>
                      </div>
                    </li>
                  </ol>
                  <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>hikari/flow/?l-id=internet_flow_01" class="c-Link_Txt-inline" data-ratid="internet_flow_01" data-ratevent="click" data-ratparam="all">ご利用開始までの流れを見る<span class="c-Icon_Arrow-right-l"></span></a></p>
              </div>

          </div>
        </div>

        <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
          <div class="l-hikari-Section_Main-lead">
            <p class="u-Adjust_Align-left <%= namespace %>-Layout-Display_Sp">光回線お乗り換えの場合、派遣工事は不要です。</p>
            <p class="u-Adjust_Align-center <%= namespace %>-Layout-Display_Pc">光回線お乗り換えの場合、派遣工事は不要です。</p>
            <div class="c-Infobox_Standing-info u-Adjust_Mt-24">
                  <h3 class="c-Txt_Normal">対象の方：</h3>
                  <ul class="c-List_Text-disc u-Adjust_Mt-16 c-Txt_Normal-s">
                    <li>他社光コラボ （ドコモ光、SoftBank 光、OCN 光、ビッグローブ光、So-net 光 プラス、ぷらら光、＠nifty光、エキサイト光 等）を利用している</li>
                    <li>フレッツ光を利用している</li>
                  </ul>
              </div>

            <div class="u-Adjust_Mt-64">
                <ol class="c-Flow u-Adjust_Mt-32">
                  <li>
                    <div class="<%= namespace %>-Layout-Display_Sp u-Adjust_Mb-24">
                      <p class="c-Txt_Normal-m c-Txt_Emp-01">楽天ひかりから郵送された機器を受け取り、お客様ご自身で接続・設定をお願いします</p>
                    </div>
                    <div class="hikari-flow-Grid l-Media_Grid">
                      <div class="l-Media_Image c-Flow_Image">
                        <picture>
                          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/hikari/flow/img-flow-5_sp.png" width="184px" height="100px">
                          <img src="<%= sitepath %>assets/img/hikari/flow/img-flow-5_pc.png" alt="">
                        </picture>
                      </div>
                      <div>
                        <p class="c-Txt_Normal-m c-Txt_Emp-01 <%= namespace %>-Layout-Display_Pc">楽天ひかりから郵送された機器を受け取り、お客様ご自身で接続・設定をお願いします</p>
                        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>hikari/support/setting/router/?l-id=internet_connect_02" class="c-Link_Txt-inline" data-ratid="internet_connect_02" data-ratevent="click" data-ratparam="all">インターネット接続方法を見る<span class="c-Icon_Arrow-right-l"></span></a></p>
                      </div>
                    </div>
                  </li>
                </ol>
                <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>hikari/flow/?l-id=internet_flow_02" class="c-Link_Txt-inline" data-ratid="internet_flow_02" data-ratevent="click" data-ratparam="all">ご利用開始までの流れを見る<span class="c-Icon_Arrow-right-l"></span></a></p>
            </div>

        </div>
        </div>

        </div>
        </div>

        <div class="l-System_Container u-Adjust_Mt-48">
          <h3 class="c-Heading_Lv3 u-Adjust_Align-center">楽天ひかりと楽天モバイルを<br class="u-Show_Oox">セットでご利用の方へ</h3>

          <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <%- include('/include/hikari/bnr/_bnr-casa-1032-160', {
              orglid: 'rhk_hikari_flow_construction_product_internet_rakuten-casa_01',
            }) %>
          </div>
        </div>

        <div style="border-top: 1px solid #bfbfbf; border-bottom: 1px solid #bfbfbf;" class="u-Adjust_Mt-48 u-Adjust_Pb-48">
          <div class="l-System_Container">

            <div class="u-Adjust_Mt-48">
              <h2 class="c-Heading_Lv3 u-Adjust_Align-center" data-ratid="scroll-09_turbo" data-ratevent="appear">Turboもひかりも、どちらもおトク</h2>
              <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
                <%- include('/include/hikari/bnr/_bnr', {
                  orglid1: 'rhk_hikari_flow_construction_internet_turbo_campaign_six-month-free_01',
                  orglid2: 'rhk_hikari_flow_construction_hikari_campaign_six-month-free_01'
                }) %>
              </div>
            </div>


          </div>
        </div>




      <div class="l-System_Container">

        <div class="u-Adjust_Mt-64">
          <div class="hikari-construction-Layout_Flow-detail">
            <h2 class="hikari-construction-Layout_Flow-detail-title">
              開通工事の流れについて、もっと詳しく
            </h2>
            <div class="hikari-construction-Layout_Flow-detail-body">
              <div class="c-Accordion" data-ratid="accordion_01" data-ratevent="click" data-ratparam="all">
                <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>派遣工事の内容を教えてください</button>
                <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="false">
                  <div class="hikari-construction-Step u-Adjust_Mt-32 u-Adjust_Align-center">
                    <div class="hikari-construction-Step-title">
                      <picture>
                        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/hikari/flow/construction/img-step-title_sp.png">
                        <img src="<%= sitepath %>assets/img/hikari/flow/construction/img-step-title_pc.png" alt="工事は1～2時間で終わります">
                      </picture>
                    </div>
                    <div class="hikari-construction-Step-flex">
                      <div class="hikari-construction-Step-flex-box hikari-construction-Step-flex-step">
                        <p class="hikari-construction-Step-flex-step-text01">ステップ 1</p>
                        <p class="hikari-construction-Step-flex-step-text02"><span>建物に</span><br class="hikari-construction-Grid_Display-pc">光ケーブルを引き込む</p>
                      </div>
                      <div class="hikari-construction-Step-flex-box hikari-construction-Step-flex-arrow">
                        <picture>
                          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/hikari/flow/construction/img-step-arrow_sp.png">
                          <img src="<%= sitepath %>assets/img/hikari/flow/construction/img-step-arrow_pc.png" alt="">
                        </picture>
                      </div>
                      <div class="hikari-construction-Step-flex-box hikari-construction-Step-flex-step">
                        <p class="hikari-construction-Step-flex-step-text01">ステップ 2</p>
                        <p class="hikari-construction-Step-flex-step-text02"><span>室内に</span><br class="hikari-construction-Grid_Display-pc">光ケーブルを通す</p>
                      </div>
                      <div class="hikari-construction-Step-flex-box hikari-construction-Step-flex-arrow">
                        <picture>
                          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/hikari/flow/construction/img-step-arrow_sp.png">
                          <img src="<%= sitepath %>assets/img/hikari/flow/construction/img-step-arrow_pc.png" alt="">
                        </picture>
                      </div>
                      <div class="hikari-construction-Step-flex-box hikari-construction-Step-flex-step">
                        <p class="hikari-construction-Step-flex-step-text01">ステップ 3</p>
                        <p class="hikari-construction-Step-flex-step-text03">光コンセント、ONUを設置</p>
                      </div>
                    </div>
                  </div>

                    <div class="l-hikari-Section_Main-lead">


                      <ol class="c-Flow u-Adjust_Mt-32">
                        <li>
                          <h2 class="c-Heading_Lv3"><span class="hikari-construction-Grid_Strong">1. 電柱から建物に</span>光ケーブルを引き込む</h2>
                          <div class="hikari-construction-Grid l-Media_Grid u-Adjust_Mt-24">
                            <div class="l-Media_Image c-Flow_Image">
                              <img src="<%= sitepath %>assets/img/hikari/flow/construction/img-flow-1.png" alt="" class="hikari-construction-Util_Img-adjust">
                            </div>
                            <div>
                              <p>
                                近くの電柱から、建物に光ケーブルを引き込みます。<br>
                                光ケーブルを固定するため、外壁に引留め用の金具を取り付けます。
                              </p>
                              <p class="u-Adjust_Mt-16">金具を固定するために壁にネジを打つ場合は、確認してから作業します。</p>
                            </div>
                          </div>
                        </li>
                        <li>
                          <h2 class="c-Heading_Lv3"><span class="hikari-construction-Grid_Strong">2. 外壁から室内に</span>光ケーブルを通す</h2>
                          <div class="u-Adjust_Mt-24">
                            <div class="hikari-construction-Grid_Flex">
                              <div>
                                <picture>
                                  <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/hikari/flow/construction/img-flow-2-1_sp.png">
                                  <img src="<%= sitepath %>assets/img/hikari/flow/construction/img-flow-2-1_pc.png" alt="電話線などの既存配管を利用" class="hikari-construction-Util_Img-adjust">
                                </picture>
                              </div>
                              <div>
                                <picture>
                                  <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/hikari/flow/construction/img-flow-2-2_sp.png">
                                  <img src="<%= sitepath %>assets/img/hikari/flow/construction/img-flow-2-2_pc.png" alt="エアコンのダクトを利用" class="hikari-construction-Util_Img-adjust">
                                </picture>
                              </div>
                              <div>
                                <picture>
                                  <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/hikari/flow/construction/img-flow-2-3_sp.png">
                                  <img src="<%= sitepath %>assets/img/hikari/flow/construction/img-flow-2-3_pc.png" alt="新規穴あけ" class="hikari-construction-Util_Img-adjust">
                                </picture>
                              </div>
                            </div>
                            <p class="u-Adjust_Mt-24">
                              室内まで光ケーブルを通します。<br>
                              設置場所や建物の構造に合わせて最適な方法を提案します。
                            </p>
                            <p class="u-Adjust_Mt-16">光ケーブルを通すために穴開けを行う場合は、確認してから作業します。</p>
                          </div>
                        </li>
                        <li>
                          <h2 class="c-Heading_Lv3"><span class="hikari-construction-Grid_Strong">3. 室内に光コンセント、ONUを設置する</span></h2>
                          <div class="hikari-construction-Grid l-Media_Grid u-Adjust_Mt-24">
                            <div class="l-Media_Image c-Flow_Image">
                              <img src="<%= sitepath %>assets/img/hikari/flow/construction/img-flow-3.png" alt="" class="hikari-construction-Util_Img-adjust">
                            </div>
                            <div>
                              <p>光コンセントを設置し、ONUとの接続確認ができたら工事は完了です。</p>
                            </div>
                          </div>
                        </li>
                      </ol>

                  </div>
                </div>
              </div>
              <div class="c-Accordion" data-ratid="accordion_02" data-ratevent="click" data-ratparam="all">
                <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>対応ルーターについて教えてください</button>
                <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="false">
                  <p>
                    楽天ひかり対応ルーターの一覧をご確認ください。
                  </p>
                  <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>hikari/support/wifi-router/?l-id=internet_router_01" class="c-Link_Txt-inline" data-ratid="internet_router_01" data-ratevent="click" data-ratparam="all">楽天ひかり対応ルーターを見る<span class="c-Icon_Arrow-right-l"></span></a></p>
                </div>
              </div>
              <div class="c-Accordion" data-ratid="accordion_03" data-ratevent="click" data-ratparam="all">
                <button id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>工事費について教えてください</button>
                <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="false">
                  <p>
                    標準工事費に加え、日時指定などにより追加工事費が発生します。<br>
                    工事費の一覧をご確認ください。
                  </p>
                  <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>hikari/fee/pricelist/?l-id=rhk_fee_pricelist_01#construction" class="c-Link_Txt-inline" data-ratid="rhk_fee_pricelist_01" data-ratevent="click" data-ratparam="all">工事費の一覧を見る<span class="c-Icon_Arrow-right-l"></span></a></p>
                </div>
              </div>
              <div class="c-Accordion" data-ratid="accordion_04" data-ratevent="click" data-ratparam="all">
                <button id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>工事時間帯は変更できますか？</button>
                <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="false">
                  <p>
                    工事の7日前まで受付可能です。<br>
                    ご案内可能な工事日は連絡をいただいた時点での最短工事日です。
                  </p>
                  <p class="u-Adjust_Mt-16"><b>楽天ひかり工事受付センター</b></p>
                  <p>
                    電話番号：0120-987-899<br>
                    営業時間：10:00-19:00（年中無休）
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>








  <footer class="g-Footer">
    <%- include('/hikari/include/_footer', {
      pagetitle: pagetitle,
      directories: directories,
      // hiddenFooterCtaLink: '',
      hiddenFooterCtaText: '',
      // hiddenCta: true,
      // hiddenMenu: true,
      // hiddenPopask: true,
      // hiddenBacktop: true,
      // hiddenBreadcrumbs: true
    }) _%>
  </footer>

</div>
<%- include('/include/hikari/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
