<% const pagetitle = "ページタイトルはここに記述" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: 'ページのdescriptionはここに記述',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/sample/sample.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<!-- ▼コンテンツここから -->
<div class="l-System_Container">
  <p class="c-Txt_Cap u-Adjust_Align-right u-Adjust_Mt-8 u-Adjust_Mb-8">※表記の金額はすべて税別です。</p>
</div>

<div class="sample-Layout">
  <div class="l-System_Container">

    <div style="height:500px;padding-top:200px;background-color:yellow;text-align:center;">
      <p>コンテンツ</p>
      <img src="<%= sitepath %>assets/img/campaign/un-limit/img_campaign_flow01.png" width="168" height="96" alt="">
    </div>
    <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>fee/un-limit/" class="c-Link_Txt-icon">リンクリンクリンク<span class="c-Icon_Chevron-right"></span></a></p>

  </div>
</div>
<!-- ▲コンテンツここまで -->

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-news.ejs') %>

    <%- include('/include/footer/bnr/_bnr-news.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
