<% const pagetitle = "紹介キャンペーン受付完了" -%>
<% const namespace = "rakuten-employee" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    keywords: '',
    noindex: true,
    pathname: filepath
  });
%>
<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/rakuten-employee/rakuten-employee.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

  <div class="l-System">
    <header class="g-Header">
      <div class="g-Header_Container">
        <div class="g-Header_Logo"><a href="/">Rakuten Mobile</a></div>
      </div>
    </header>
  </div>

  <div class="u-Adjust_Pb-80">
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv2 u-Adjust_Mt-32"><%= pagetitle %></h1>

      <div class="<%= namespace %>-Layout_Thanks">
        <p class="<%= namespace %>-Layout_Thanks-text c-Txt_Normal-l">
          <span class="c-Txt_Emp-02">ご入力情報を受け付けました。</span><br>
          <span class="c-Txt_Emp-01">引き続き、メンバーズステーションにて移行お手続きをお願いします。</span>
        </p>
        <p class="u-Adjust_Align-center u-Adjust_Mt-24">
          <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten" class="c-Link_Txt-inline">メンバーズステーション<span class="c-Icon_Chevron-right"></span></a>
        </p>
      </div>
    </div>
  </div>

</div>
<script type="text/javascript">
  setTimeout(function() {
    window.location.href = 'https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten';
  }, 15 * 1000);
</script>
<%- include('/include/_append-body') %>
</body>
</html>
