<% const pagetitle = "【ショップ限定】3Gケータイ乗り換えキャンペーン！" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "shop-feature-phone-switch" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '楽天モバイルショップ限定！3G他社ケータイ（※docomo/ソフトバンクの製品対象）から楽天モバイルに乗り換え＋対象製品をお買い上げで、最大31,980円相当のポイント還元！',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<!-- <link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/shop-limited-device/shop-limited-device.css?20240424"> -->
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/<%= namespace %>/shop-feature-phone-switch.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>


</head>

<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout-Label">
      <ul class="c-Label_List <%= namespace %>-Layout-Label_List">
        <li class="c-Label_Normal">初めて申込限定</li>
        <li class="c-Label_Normal">MNP申込限定</li>
        <li class="c-Label_Normal">対象製品限定</li>
        <li class="c-Label_Normal">Rakuten Link 利用必要</li>
      </ul>
      <p class="<%= namespace %>-Layout-Label_point">ポイント：付与日を含めて6カ月の期間限定ポイント</p>
    </div>

    <div class="<%= namespace %>-Hero_Return">
      <div class="<%= namespace %>-Hero_Container">
        <div class="<%= namespace %>-Hero_Main">
          <h1>
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img_hero_pc.png?220902" alt="" class="<%= namespace %>-Utility_Img-pc">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img_hero_sp.png?220902" alt="" class="<%= namespace %>-Utility_Img-sp">
          </h1>
        </div>
      </div>
    </div>

    <div class="<%= namespace %>-Layout_Body u-Adjust_Pt-0">
      <div class="l-System u-Adjust_Pt-8 u-Adjust_Pb-32">
        <div class="l-System_Container">
          <div class="c-Theme-Light" style="padding: 16px;">
            <p class="c-Txt_Normal-s">
              「実質価格」とは、キャンペーンの条件達成（Rakuten UN-LIMIT VII初めて契約、対象製品購入、Rakuten Link利用など）により後日付与されるポイントを加味した価格であり、実際のお支払い金額とは異なります。詳しくは<a href="#campaign-rule1586" class="c-Link_Txt js-scroll">キャンペーンルール</a>をご確認ください。
            </p>
          </div>
          <p class="c-Txt_Cap u-Adjust_Mt-16">
            <span class="c-Txt_Emp-02"><span>※</span>ご好評により、ショップによっては在庫がない場合もございますので、ご了承ください。</span>
          </p>

          <p class="u-Adjust_Align-center u-Adjust_Mt-24">
            <span class="c-Txt_Emp-01">【キャンペーン期間】</span> <br class="<%= namespace %>-Utility_Br-sp">2022年9月2日（金）開店～2022年11月30日（水）閉店
          </p>

          <p class="c-Txt_Emp-02 u-Adjust_Align-center c-Txt_Normal-m u-Adjust_Mt-24">本キャンペーンは終了しました。</p>

          <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-32 <%= namespace %>-Utility_Center-pc">
            <li><a href="#overview" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンの達成条件</a></li>
            <li><a href="#product" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>対象製品</a></li>
            <li><a href="#flow" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンの流れ</a></li>
            <li><a href="#campaign-rule1586" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルール</a></li>
          </ul>

          <div class="c-Theme-Borderbox u-Adjust_Mt-32" id="overview">
            <h2 class="c-Txt_Normal-ll <%= namespace %>-Conditions_Text">キャンペーンの達成条件</h2>
            <p class="<%= namespace %>-Conditions_Text u-Adjust_Mt-16">本キャンペーンには達成条件が設定されています。詳細は<a href="#campaign-rule1586" class="c-Link_Txt js-scroll">キャンペーンルール</a>をご確認ください。</p>
            <img class="<%= namespace %>-Utility_Br-pc u-Adjust_Mt-16 <%= namespace %>-Conditions_Img" src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img01-pc.png?220902" alt="">
            <img class="<%= namespace %>-Utility_Br-sp u-Adjust_Mt-16 <%= namespace %>-Conditions_Img" src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img01-sp.png?220902" alt="">

            <div class="u-Adjust_Align-center u-Adjust_Mt-24">
              <h3 class="c-Heading_Lv3">キャンペーンの達成状況はこちらで確認</h3>
            </div>
            <div class="c-Accordion <%= namespace %>-Accordion_Left u-Adjust_Mt-24">
              <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger u-Adjust_Align-center" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten Linkの達成状況の確認方法</button>
              <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true" style="display:none;">
                <h4 class="c-Heading_Lv4">達成状況の確認方法</h4>
                <ol class="u-Adjust_Mt-16">
                  <li>
                    <p class="c-Txt_Emp-01">1. 「<a href="<%= ecarepath %>my-rakuten-mobile?l-id=campaign_shop-feature-phone-switch_my-rakuten-mobile_accordion" class="c-Link_Txt">my 楽天モバイル</a>」にアクセス</p>
                  </li>
                  <li class="u-Adjust_Mt-32">
                    <p class="c-Txt_Emp-01">2. 右上のメニューから「利用状況」を選択</p>
                    <div class="<%= namespace %>-Utility_Img-capture u-Adjust_Mt-32">
                      <img src="<%= sitepath %>assets/img/campaign/common/img-cap01-0701.png?220701" width="300" alt="">
                    </div>
                  </li>
                  <li class="u-Adjust_Mt-32">
                    <p class="c-Txt_Emp-01">3. 「通話」タブを選択して<span class="c-Txt_Emp-02">Rakuten Linkでの10秒以上の発信通話履歴</span>があることを確認してください</p>
                    <div class="<%= namespace %>-Utility_Img-capture u-Adjust_Mt-32">
                      <img src="<%= sitepath %>assets/img/campaign/common/img-cap02.png" width="300" alt="">
                    </div>
                  </li>
                </ol>
              </div>
            </div>
          </div>

          <div class="u-Adjust_Align-center u-Adjust_Mt-24">
            <a href="<%= sitepath %>shop/?l-id=campaign_shop-feature-phone-switch_shop_button-1" class="c-Btn_Primary-large"><span>お近くのショップを探す</span></a>
          </div>

        </div>
      </div>

      <div class="u-Adjust_Mt-48">
        <div id="product" class="l-System_Container">
          <h3 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-16">対象製品</h3>

          <ul class="<%= namespace %>-smartphone-Card">
            <li>
              <a href="<%= sitepath %>product/smartphone/a55s-5g/?l-id=campaign_shop-feature-phone-switch_smartphone_a55s-5g_1" class="c-Card_Normal">
                <div>
                  <div class="<%= namespace %>-smartphone-Card_Label">
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                  </div>
                </div>
                <figure data-flag="5g"><img src="<%= sitepath %>assets/img/product/a55s-5g/pht-device-thumb.png?" alt="OPPO A55s 5G"></figure>
                <ul class="<%= namespace %>-smartphone-Card_Color">
                  <li><span class="" style="background: rgb(41, 43, 46) none repeat scroll 0% 0%;"></span></li>
                  <li><span class="" style="background: rgb(200, 230, 215) none repeat scroll 0% 0%;"></span></li>
                </ul>
                <h3 class="c-Heading_Lv3 <%= namespace %>-smartphone-Card_Name" data-gtm-vis-recent-on-screen-9148831_335="571" data-gtm-vis-first-on-screen-9148831_335="571" data-gtm-vis-total-visible-time-9148831_335="500" data-gtm-vis-has-fired-9148831_335="1">OPPO A55s 5G</h3>
                <p class="<%= namespace %>-smartphone-Card_Spec" style="display: none;">
                  バッテリー容量：4,000mAh
                </p>
                <p class="<%= namespace %>-smartphone-Card_Spec" style="display: none;">
                  画面サイズ：約6.5インチ
                </p>
                <p class="<%= namespace %>-smartphone-Card_Spec" style="display: none;">
                  発売日：2021年11月18日
                </p>
                <div>
                  <div class="<%= namespace %>-smartphone-Card_Price">
                    <dl class="<%= namespace %>-smartphone-Card_Price-detail">
                      <div>
                        <dt>製品価格（税込）</dt>
                        <dd>
                          <!----> <span class="<%= namespace %>-smartphone-Card_Price-font">25,900</span>円
                        </dd>
                      </div>
                      <div class="<%= namespace %>-smartphone-Card_Price-emp01">
                        <dt><span>プランセット値引き</span><span class="c-Txt_Normal-ss">※1</span></dt>
                        <dd><span class="<%= namespace %>-smartphone-Card_Price-font">-16,000</span>円
                        </dd>
                      </div>
                    </dl>
                    <!---->
                    <dl class="<%= namespace %>-smartphone-Card_Price-detail">
                      <div class="<%= namespace %>-smartphone-Card_Price-emp01">
                        <dt><span>最大</span><span class="c-Txt_Normal">3,000</span>ポイント<span class="c-Txt_Normal-ss">※2</span></dt>
                        <dd><span class="<%= namespace %>-smartphone-Card_Price-font">-3,000</span>pt
                        </dd>
                      </div>
                    </dl>
                    <dl class="<%= namespace %>-smartphone-Card_Price-detail">
                      <div class="<%= namespace %>-smartphone-Card_Price-emp01">
                        <dt><span>ショップ限定ポイント</span><span class="c-Txt_Normal-ss">※3,4</span></dt>
                        <dd><span class="<%= namespace %>-smartphone-Card_Price-font">-3,100</span>pt
                        </dd>
                      </div>
                    </dl>
                    <dl class="<%= namespace %>-smartphone-Card_Price-detail">
                      <div class="<%= namespace %>-smartphone-Card_Price-emp02">
                        <dt><span>3Gケータイ乗り換えキャンペーン</span><span class="c-Txt_Normal-ss">※5</span></dt>
                        <dd><span class="<%= namespace %>-smartphone-Card_Price-font">-3,799</span>pt
                        </dd>
                      </div>
                    </dl>
                    <div class="<%= namespace %>-smartphone-Card_Price-total">
                      <div>
                        <div>
                          <p class="<%= namespace %>-smartphone-Card_Price-total-emp-l"><span class="c-Txt_Normal-m">実質</span><span class="<%= namespace %>-smartphone-Card_Price-font">1</span>円
                          </p>
                        </div>
                        <!---->
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <p class="c-Txt_Cap <%= namespace %>-smartphone-Card_Price-cap">期間限定ポイントで条件達成の翌々月末日頃に付与されます。</p>
                </div>
              </a>
            </li>
            <li>
              <a href="<%= sitepath %>product/smartphone/aquos-sense6/?l-id=campaign_shop-feature-phone-switch_smartphone_aquos-sense6_1" class="c-Card_Normal">
                <div>
                  <div class="<%= namespace %>-smartphone-Card_Label">
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                  </div>
                </div>
                <figure data-flag="5g"><img src="<%= sitepath %>assets/img/product/aquos-sense6/pht-device-thumb.png?" alt="AQUOS sense6"></figure>
                <ul class="<%= namespace %>-smartphone-Card_Color">
                  <li><span class="" style="background: rgb(222, 185, 156) none repeat scroll 0% 0%;"></span></li>
                  <li><span class="" style="background: rgb(197, 201, 202) none repeat scroll 0% 0%;"></span></li>
                  <li><span class="" style="background: rgb(59, 61, 59) none repeat scroll 0% 0%;"></span></li>
                </ul>
                <h3 class="c-Heading_Lv3 <%= namespace %>-smartphone-Card_Name" data-gtm-vis-recent-on-screen-9148831_335="172920" data-gtm-vis-first-on-screen-9148831_335="172920" data-gtm-vis-total-visible-time-9148831_335="500" data-gtm-vis-has-fired-9148831_335="1">AQUOS sense6</h3>
                <p class="<%= namespace %>-smartphone-Card_Spec" style="display: none;">
                  バッテリー容量：4,570mAh
                </p>
                <p class="<%= namespace %>-smartphone-Card_Spec" style="display: none;">
                  画面サイズ：約6.1インチ
                </p>
                <p class="<%= namespace %>-smartphone-Card_Spec" style="display: none;">
                  発売日：2021年11月11日
                </p>
                <div>
                  <div class="<%= namespace %>-smartphone-Card_Price">
                    <dl class="<%= namespace %>-smartphone-Card_Price-detail">
                      <div>
                        <dt>製品価格（税込）</dt>
                        <dd>
                          <!----> <span class="<%= namespace %>-smartphone-Card_Price-font">34,980</span>円
                        </dd>
                      </div>
                      <div class="<%= namespace %>-smartphone-Card_Price-emp01">
                        <dt><span>プランセット値引き</span><span class="c-Txt_Normal-ss">※1</span></dt>
                        <dd><span class="<%= namespace %>-smartphone-Card_Price-font">-16,000</span>円
                        </dd>
                      </div>
                    </dl>
                    <!---->
                    <dl class="<%= namespace %>-smartphone-Card_Price-detail">
                      <div class="<%= namespace %>-smartphone-Card_Price-emp01">
                        <dt><span>最大</span><span class="c-Txt_Normal">3,000</span>ポイント<span class="c-Txt_Normal-ss">※2</span></dt>
                        <dd><span class="<%= namespace %>-smartphone-Card_Price-font">-3,000</span>pt
                        </dd>
                      </div>
                    </dl>
                    <dl class="<%= namespace %>-smartphone-Card_Price-detail">
                      <div class="<%= namespace %>-smartphone-Card_Price-emp01">
                        <dt><span>ショップ限定ポイント</span><span class="c-Txt_Normal-ss">※3,4</span></dt>
                        <dd><span class="<%= namespace %>-smartphone-Card_Price-font">-6,980</span>pt
                        </dd>
                      </div>
                    </dl>
                    <dl class="<%= namespace %>-smartphone-Card_Price-detail">
                      <div class="<%= namespace %>-smartphone-Card_Price-emp02">
                        <dt><span>3Gケータイ乗り換えキャンペーン</span><span class="c-Txt_Normal-ss">※5</span></dt>
                        <dd><span class="<%= namespace %>-smartphone-Card_Price-font">-6,000</span>pt
                        </dd>
                      </div>
                    </dl>
                    <div class="<%= namespace %>-smartphone-Card_Price-total">
                      <div>
                        <div>
                          <p class="<%= namespace %>-smartphone-Card_Price-total-emp"><span class="c-Txt_Normal-m">実質</span><span class="<%= namespace %>-smartphone-Card_Price-font">3,000</span>円
                          </p>
                        </div>
                        <!---->
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <p class="c-Txt_Cap <%= namespace %>-smartphone-Card_Price-cap">期間限定ポイントで条件達成の翌々月末日頃に付与されます。</p>
                </div>
              </a>
            </li>
          </ul>
          <div class="u-Adjust_Mt-16 c-Txt_Cap">
            <p>※1「<a href="<%= sitepath %>campaign/start-point/#campaign-rule1550" class="c-Link_Txt">Androidスマホ/Wi-Fiルーター割引キャンペーン</a>」適用時。</p>
            <p class="u-Adjust_Pt-8">※2「<a href="<%= sitepath %>campaign/start-point/#campaign-rule1526" class="c-Link_Txt">【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント</a>」適用時。楽天回線を初めてお申し込みいただいた場合に限ります。</p>
            <p class="u-Adjust_Pt-8">※3「<a href="<%= sitepath %>campaign/shop-limited-device/#campaign-rule1584" class="c-Link_Txt js-scroll">【ショップ限定】対象製品購入でさらにポイント還元キャンペーン</a>」適用時。</p>
            <p class="u-Adjust_Pt-8">※4「<a href="<%= sitepath %>campaign/shop-limited-device/#campaign-rule1553" class="c-Link_Txt js-scroll">【ショップ限定】対象製品と楽天回線同時申込でさらに1,000ポイントキャンペーン</a>」適用時。対象製品のみご購入でも適用となります。</p>
            <p class="u-Adjust_Pt-8">※5「<a href="#campaign-rule1586" class="c-Link_Txt js-scroll">【ショップ限定】3Gケータイ乗り換えキャンペーン</a>」適用時。</p>
            <p class="u-Adjust_Mt-8">※5Gは一部エリアのみ</p>
          </div>
        </div>



        <div class="l-System_Container" id="flow">

          <h2 class="c-Heading_Lv2 u-Adjust_Mt-64 u-Adjust_Align-center">キャンペーンの流れ</h2>

          <ul class="c-Flow u-Adjust_Mt-32">
            <li>
              <h3 class="c-Heading_Lv3 u-Adjust_Mb-16">お申し込み・お支払いに必要なものを準備する</h3>
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img02.png" alt="">
                </div>
                <div>
                  <div>
                    <h4 class="c-Heading_Lv4">必要書類</h4>
                    <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc u-Adjust_Mt-8">
                      <li><a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                    </ul>
                    <ul class="u-Adjust_Mt-16 c-List_Text-disc">
                      <li>楽天会員ログイン用のユーザID、パスワード</li>
                    </ul>
                    <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Emp-02 c-Txt_Normal-s u-Adjust_Mt-8">※本人確認書類の情報と、楽天会員情報が一致している必要があります。</p>
                    <p class="u-Adjust_Mt-8"><a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Link_Txt-inline u-Adjust_Mt-8">楽天会員情報を確認・変更する<span class="c-Icon_Chevron-right"></span></a></p>
                    <ul class="u-Adjust_Mt-16 c-List_Text-disc">
                      <li><a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                      </li>
                    </ul>
                    <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">※ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="<%= sitepath %>faq/detail/00001238/" class="c-Link_Txt-inline">こちらのご案内ページ</a>を必ず事前にご確認ください。</p>
                    <ul class="u-Adjust_Mt-16 c-List_Text-disc">
                      <li><a href="<%= sitepath %>guide/mnp/" class="c-Link_Txt-inline">ご契約者名義のMNP予約番号（他社から乗り換えの場合）<span class="c-Icon_Chevron-right"></span></a></li>
                    </ul>
                  </div>
                  <ul class="c-Txt_Cap u-Adjust_Mt-8">
                    <li><span>※</span>未成年者の方のお申し込みに必要な情報、お申し込み方法は<a href="<%= sitepath %>flow/for-minors/" class="c-Link_Txt">こちらのご案内ページ</a>をご確認ください。</li>
                  </ul>
                </div>
              </div>
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in-border u-Adjust_Mt-16">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img03.png" alt="">
                </div>
                <div>
                  <div class="u-Adjust_Mt-16">
                    <h4 class="c-Heading_Lv4">ガラケー本体</h4>
                    <ul class="c-Txt_Cap u-Adjust_Mt-8">
                      <li>※ただし、3Gサービスのみを受信している製品で、弊社側でキャンペーン対象にしている製品に限ります。</li>
                      <li>※対象外の製品もございます。あらかじめご了承ください。</li>
                      <li>※電源がつくことをお確かめください。</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in-border">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img04.png" alt="">
                </div>
                <div>
                  <div class="u-Adjust_Mt-16">
                    <h4 class="c-Heading_Lv4">3Gプランの利用明細書</h4>
                    <ul class="c-Txt_Cap u-Adjust_Mt-8">
                      <li>※ただし、利用明細書の原本、またはマイページ等でプラン名が確認でき、弊社側でキャンペーンの対象にしている3G専用プランをご利用の方に限ります。</li>
                      <li>※ご契約者様名、ご利用回線番号 、ご利用対象月（直近3か月以内）、プラン名が確認できることをお確かめください。</li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">楽天モバイルショップを探す</h3>
              <div class="l-Media_Grid u-Adjust_Mt-16">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img05.png" alt="" width="311">
                </div>
                <div>
                  <p class="u-Adjust_Mt-8">
                    ご来店の際は、Webでできる「<span class="c-Txt_Emp-02">来店予約</span>」が便利です。<br>
                    予約された方を優先的にご案内しますので、混雑を気にせずに都合の良い時間にご来店いただけます。<br>
                    <span class="c-Txt_Emp-01">各ショップページの「<span class="c-Txt_Emp-02">Webで予約する</span>」ボタンよりご予約ください。</span><br>
                    各ショップごとに製品の在庫状況が異なります。
                  </p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">
                    ※カウンターが空き次第のご案内となり、多少の待ち時間をいただく場合がございます。<br>
                    ※ショップページに「Webで予約する」ボタンがないショップでは、来店予約を行っておりません。ご了承ください。
                  </p>

                  <p class="u-Adjust_Mt-16 c-Txt_Cap c-Txt_Emp-01">Webでのご予約や店舗検索ができない場合、お電話でも承っております。</p>
                  <p class="c-u-Adjust_Mt-16 c-Txt_Emp-01">来店予約専用受付窓口</p>
                  <p class="u-Adjust_Mt-8 c-Txt_Normal-l c-Txt_Emp-01">050-5434-8540</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8 c-Txt_Emp-01">予約受付時間：10:00～20:00</p>

                  <p class="c-Txt_Cap u-Adjust_Mt-16">※上記専用窓口では<span class="c-Txt_Emp-02">来店予約以外の対応は行っておりません。</span></p>
                  <p class="c-Txt_Cap">※曜日・時間帯によって繋がりにくいことがございます。その際はWebページよりご予約いただくか、少しお時間をあけてからおかけ直しください。</p>

                  <div class="<%= namespace %>-Utility_Sp-center u-Adjust_Mt-16">
                    <a href="<%= sitepath %>shop/?l-id=campaign_shop-feature-phone-switch_shop_button-2" class="c-Btn_Primary"><span>お近くのショップを探す</span></a>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">ショップでRakuten UN-LIMIT VIIをお申し込み、製品を購入する</h3>
              <div class="l-Media_Grid u-Adjust_Mt-16">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img06.png" alt="" width="311">
                </div>
                <div>
                  <p class="u-Adjust_Mt-8">楽天モバイルショップにて、ご持参のガラケーと利用明細書がキャンペーン対象であることを確認後、楽天モバイルのお申し込みと対象製品の購入手続きを行ってください。</p>
                  <p class="u-Adjust_Mt-16 c-Txt_Emp-01">【確認事項】</p>
                  <ul class="u-Adjust_Mt-8 c-List_Text-disc">
                    <li>ガラケー本体<br>
                      キャンペーン対象製品であること、電源が入ることを確認いたします。</li>
                    <li>3Gプランの利用明細書<br>
                      利用明細書の原本、マイページ画面等で、キャンペーン対象プランであることを確認いたします。
                    </li>
                    <li>電話番号の一致<br>
                      ガラケー本体の画面上に表示される電話番号が、利用明細書に記載の電話番号、また、MNP転入する電話番号と一致することを確認いたします。
                    </li>
                  </ul>
                  <p class="c-Txt_Cap u-Adjust_Mt-16">※詳細・ご不明点などございましたら、ショップ店員にお気軽にご相談ください。</p>
                  <p class="u-Adjust_Mt-16 c-Txt_Emp-01">【お申し込みプラン】</p>
                  <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>fee/un-limit/" class="c-Link_Txt-inline">Rakuten UN-LIMIT VIIの詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>

                  <p class="u-Adjust_Mt-16 c-Txt_Emp-01">【対象製品】</p>
                  <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>product/smartphone/a55s-5g/?l-id=campaign_shop-feature-phone-switch_smartphone_a55s-5g_2" class="c-Link_Txt-inline">OPPO A55s 5Gの詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
                  <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>product/smartphone/aquos-sense6/?l-id=campaign_shop-feature-phone-switch_smartphone_aquos-sense6_2" class="c-Link_Txt-inline">AQUOS sense6の詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>

                  <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">【お申し込み期間】</span>2022年9月2日（金）開店～2022年11月30日（水）閉店</p>
                  <p class="c-Txt_Emp-02">※Webでのお申し込みは対象外です。</p>
                </div>
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">Rakuten Linkアプリで通話</h3>
              <div class="l-Media_Grid u-Adjust_Mt-16">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img07.png" alt="" width="311">
                </div>
                <div>
                  <p class="u-Adjust_Mt-8">
                    Rakuten Linkアプリで10秒以上通話する<br>
                    Rakuten Link利用開始期限：プランお申し込みの翌月末日23:59まで
                  </p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※電話の発信時、（0180）（0570）などから始まる他社接続サービス、一部特番（188）への通話は特典対象外</p>
                  <p class="u-Adjust_Mt-16"><a href="https://service.link.link/guide/" class="c-Link_Txt-inline" target="_blank" rel="noopener">Rakuten Linkアプリの詳細を見る<span class="c-Icon_New-window-l"></span></a></p>
                </div>
              </div>
            </li>
            <li id="questionnaire">
              <h3 class="c-Heading_Lv3">最大31,980円相当の特典進呈！</h3>
              <div class="l-Media_Grid u-Adjust_Mt-16">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img08.png" alt="">
                </div>
                <div>
                  <p>
                    製品価格の16,000円の値引きに加えて、Rakuten Link ご利用の翌々月末日頃に、期間限定ポイントとして3,000ポイントを付与いたします。<br>
                    さらに、<span class="c-Txt_Emp-02">ショップでの対象製品ご購入で</span>ご購入の翌々月末日頃に最大5,980ポイント、<span class="c-Txt_Emp-02">ショップでのプランお申し込みで</span>Rakuten Linkご利用の翌々月末日頃に1,000ポイント、3Gケータイからのお乗り換えでRakuten Linkご利用の翌々月末頃に最大6,000ポイントを期間限定ポイントとして付与いたします。
                  </p>

                    <div class="l-Media_Grid-half u-Adjust_Mt-32">
                      <div class="c-Theme-Light <%= namespace %>-Flow_Theme u-Adjust_Pt-16">

                        <p class="u-Adjust_Align-center">「Androidスマホ/Wi-Fiルーター割引キャンペーン」適用で</p>
                        <p class="u-Adjust_Mt-16 u-Adjust_Mt-16 u-Adjust_Align-center">
                          <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-price-02.png" alt="16000円値引き">
                        </p>
                        <p class="u-Adjust_Align-center u-Adjust_Mt-16">
                          <a href="<%= sitepath %>campaign/start-point/#campaign-rule1550" class="c-Link_Txt-inline js-scroll">詳しくはこちら<span class="c-Icon_Chevron-right"></span></a>
                        </p>
                      </div>
                      <div class="c-Theme-Light <%= namespace %>-Flow_Theme u-Adjust_Pt-16">

                        <p class="u-Adjust_Align-center">「【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼントキャンペーン」適用で</p>
                        <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
                          <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-point-02.png" alt="3,000ポイント">
                        </p>
                        <p class="u-Adjust_Align-center u-Adjust_Mt-16">
                          <a href="<%= sitepath %>campaign/start-point/#campaign-rule1526" class="c-Link_Txt-inline js-scroll">詳しくはこちら<span class="c-Icon_Chevron-right"></span></a>
                        </p>
                      </div>
                    </div>

                    <div class="l-Media_Grid-half u-Adjust_Mt-32">
                      <div class="c-Theme-Light <%= namespace %>-Flow_Theme">
                        <p class="<%= namespace %>-Flow_Theme-shop-only">ショップ限定</p>
                        <p class="u-Adjust_Align-center">「対象製品購入でさらにポイント還元キャンペーン」適用で</p>
                        <p class="u-Adjust_Mt-16 u-Adjust_Mt-16 u-Adjust_Align-center">
                          <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-price-01.png" alt="最大5,980ポイント">
                        </p>
                        <p class="u-Adjust_Align-center u-Adjust_Mt-16">
                          <a href="<%= sitepath %>campaign/shop-limited-device/#campaign-rule1584" class="c-Link_Txt-inline js-scroll">詳しくはこちら<span class="c-Icon_Chevron-right"></span></a>
                        </p>
                        <p class="c-Txt_Cap u-Adjust_Mt-16">
                          ※各対象製品でポイント付与数が異なります。
                        </p>
                      </div>
                      <div class="c-Theme-Light <%= namespace %>-Flow_Theme">
                        <p class="<%= namespace %>-Flow_Theme-shop-only">ショップ限定</p>
                        <p class="u-Adjust_Align-center">「対象製品と楽天回線同時申込でさらに1,000ポイントキャンペーン」適用で</p>
                        <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
                          <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-point-01.png" alt="最大1,000ポイント">
                        </p>
                        <p class="u-Adjust_Align-center u-Adjust_Mt-16">
                          <a href="<%= sitepath %>campaign/shop-limited-device/#campaign-rule1553" class="c-Link_Txt-inline js-scroll">詳しくはこちら<span class="c-Icon_Chevron-right"></span></a>
                        </p>
                      </div>
                    </div>

                    <div class="l-Media_Grid-half u-Adjust_Mt-32">
                      <div class="c-Theme-Light <%= namespace %>-Flow_Theme">
                        <p class="<%= namespace %>-Flow_Theme-shop-only">ショップ限定</p>
                        <p class="u-Adjust_Align-center">「3Gケータイ乗り換えキャンペーン」適用で</p>
                        <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
                          <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-point-03.png" alt="最大6,000ポイント">
                        </p>
                        <p class="u-Adjust_Align-center u-Adjust_Mt-16">
                          <a href="#campaign-rule1586" class="c-Link_Txt-inline js-scroll">詳しくはこちら<span class="c-Icon_Chevron-right"></span></a>
                        </p>
                        <p class="c-Txt_Cap u-Adjust_Mt-16">
                          ※OPPO A55s 5Gご購入の場合3,799ポイント、AQUOS sense6ご購入の場合6,000ポイントを付与いたします。
                        </p>
                      </div>
                    </div>

                  </div>

                </div>
            </li>
          </ul>

        </div>
      </div>

      <div class="l-System_Container">
        <div class="u-Adjust_Mt-64">
          <%- include('/inc/_saikyo') %>
        </div>
        <div class="u-Adjust_Align-center u-Adjust_Mt-40">
          <a href="<%= sitepath %>shop/?l-id=campaign_shop-feature-phone-switch_shop_button-3" class="c-Btn_Primary-large"><span>お近くのショップを探す</span></a>
        </div>
      </div>

      <div class="l-System c-Theme-Light u-Adjust_Mt-48">
        <div class="l-System_Container">
          <h3 class="c-Heading_Lv2 u-Adjust_Align-center">楽天モバイルについて</h3>
          <p class="u-Adjust_Align-center c-Txt_Emp-01 u-Adjust_Mt-8">詳細は以下の各リンク先にてご確認ください</p>
          <div class="u-Adjust_Mt-24">
            <ul class="<%= namespace %>-Card_About">
              <li>
                <a href="<%= sitepath %>fee/un-limit/?l-id=campaign_shop-feature-phone-switch_fee_un-limit" class="c-Card_Normal">
                  <img src="<%= sitepath %>assets/img/campaign/shop-limited-device/icon-about-01.png" alt="">
                  <p class="c-Txt_Emp-01">料金プラン</p>
                </a>
              </li>
              <li>
                <a href="<%= sitepath %>fee/zero/?l-id=campaign_shop-feature-phone-switch_fee_zero" class="c-Card_Normal">
                  <img src="<%= sitepath %>assets/img/campaign/shop-limited-device/icon-about-02.png" alt="">
                  <p class="c-Txt_Emp-01">お申し込み手数料</p>
                </a>
              </li>
              <li>
                <a href="<%= sitepath %>area/?l-id=campaign_shop-feature-phone-switch_area" class="c-Card_Normal">
                  <img src="<%= sitepath %>assets/img/campaign/shop-limited-device/icon-about-03.png" alt="">
                  <p class="c-Txt_Emp-01">サービスエリア</p>
                </a>
              </li>
              <li>
                <a href="<%= sitepath %>product/byod/?l-id=campaign_shop-feature-phone-switch_product_byod" class="c-Card_Normal">
                  <img src="<%= sitepath %>assets/img/campaign/shop-limited-device/icon-about-04.png" alt="">
                  <p class="c-Txt_Emp-01">楽天回線対応製品</p>
                </a>
              </li>
              <li>
                <a href="<%= sitepath %>service/?l-id=campaign_shop-feature-phone-switch_service" class="c-Card_Normal">
                  <img src="<%= sitepath %>assets/img/campaign/shop-limited-device/icon-about-05.png" alt="">
                  <p class="c-Txt_Emp-01">オプション<br>サービス</p>
                </a>
              </li>
              <li>
                <a href="<%= sitepath %>guide/point/?l-id=campaign_shop-feature-phone-switch_guide_point" class="c-Card_Normal">
                  <img src="<%= sitepath %>assets/img/campaign/shop-limited-device/icon-about-06.png?220309" alt="">
                  <p class="c-Txt_Emp-01">おトクな<br>楽天ポイント</p>
                </a>
              </li>
              <li>
                <a href="<%= sitepath %>service/rakuten-link/?l-id=campaign_shop-feature-phone-switch_service_rakuten-link" class="c-Card_Normal">
                  <img src="<%= sitepath %>assets/img/campaign/shop-limited-device/icon-about-07.png" alt="">
                  <p class="c-Txt_Emp-01">Rakuten Link<br>アプリ</p>
                </a>
              </li>
              <li>
                <a href="<%= sitepath %>campaign/?l-id=campaign_shop-feature-phone-switch_campaign" class="c-Card_Normal">
                  <img src="<%= sitepath %>assets/img/campaign/shop-limited-device/icon-about-08.png" alt="">
                  <p class="c-Txt_Emp-01">キャンペーン一覧</p>
                </a>
              </li>
              <li>
                <a href="<%= sitepath %>product/sim/?l-id=campaign_shop-feature-phone-switch_product_sim" class="c-Card_Normal">
                  <img src="<%= sitepath %>assets/img/campaign/shop-limited-device/icon-about-09.png" alt="">
                  <p class="c-Txt_Emp-01">SIMの使い方</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="l-System_Container u-Adjust_Mt-64">
        <%- include('/include/_bnr-cpn-recommend-v2.ejs') %>

        <div id="campaign-rule1586" class="u-Adjust_Mt-64">

          <div class="<%= namespace %>-Layout_Rule">
            <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">【ショップ限定】3Gケータイ乗り換えキャンペーン ルール</h2>
             <p class="c-Txt_Emp-02 u-Adjust_Align-center c-Txt_Normal-m u-Adjust_Mt-24">本キャンペーンは終了しました。</p>
            <div class="c-Table_Wrap u-Adjust_Mt-24">
              <div class="u-Adjust_Mt-24">
                <dl class="c-Dl_Origin <%= namespace %>-Rule">
                  <div>
                    <dt>キャンペーンコード</dt>
                    <dd>
                      <p>1586</p>
                      <ul class="c-Txt_Cap u-Adjust_Mt-8">
                        <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt>キャンペーン期間</dt>
                    <dd>
                      <p class="u-Adjust_Mt-8">
                        <span class="c-Txt_Emp-01">■ プランのお申し込み期間</span><br>
                        　- 店舗（楽天モバイルショップ）　2022年9月2日（金）開店～2022年11月30日（水）閉店<br>
                      </p>
                      <p>
                        <span class="c-Txt_Emp-01">■ 製品のご購入期間</span><br>
                        　- 店舗（楽天モバイルショップ）　2022年9月2日（金）開店～2022年11月30日（水）閉店<br>
                      </p>
                      <p class="u-Adjust_Mt-8">
                        <span class="c-Txt_Emp-01">■「Rakuten Link」利用期限</span><br>
                        　プランのお申し込み、および対象製品ご購入の翌月末日23:59まで
                      </p>
                    </dd>
                  </div>
                  <div>
                    <dt>キャンペーン条件</dt>
                    <dd>
                      <p class="c-Txt_Emp-02">上記各項目の期間内に【1】、【2】、【3】、【4】、【5】の条件をすべて満たした楽天会員の方</p>
                      <p class="c-Txt_Emp-02 u-Adjust_Mt-16">※特典はお一人様1回のみ。楽天回線を初めてお申し込みいただいた場合に適用となります。</p>
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">【1】「Rakuten UN-LIMIT VII」へ、他社からの乗り換え(MNP)でお申し込み</p>
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">【2】「Rakuten UN-LIMIT VII」お申し込みと同時に対象製品いずれかをご購入</p>
                      <p class="u-Adjust_Mt-8"> - OPPO A55s5G</p>
                      <p class="u-Adjust_Mt-8"> - AQUOS sense6</p>

                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">【3】「Rakuten Link」のご利用</p>
                      <p class="u-Adjust_Mt-8">「Rakuten UN-LIMIT VII」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
                      <p class="u-Adjust_Mt-8">　【Rakuten Link アプリご利用方法】</p>
                      <p>　　下記URLの「Rakuten Linkのご利用方法」をご確認ください</p>
                      <p>　　<a target="_blank" href="<%= sitepath %>guide/rakuten-link/" class="c-Link_Txt">https://network.mobile.rakuten.co.jp/guide/rakuten-link/</a></p>
                      <p class="u-Adjust_Mt-8">　　- 通話方法：『電話をかける』の項目をご確認ください</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">　　※「Rakuten Link」アプリ以外のメッセージやメール送信についてはキャンペーンの達成条件として適用されませんのでご注意ください</p>
                      <p class="u-Adjust_Mt-8">　【Rakuten Link利用履歴の確認方法】</p>
                      <p>　　下記URLの「キャンペーンが適用されているか、いつポイントが付与されるか知りたい」をご確認ください</p>
                      <p>　　<a href="<%= sitepath %>faq/detail/00001962/">https://network.mobile.rakuten.co.jp/faq/detail/00001802/</a></p>
                      <p class="u-Adjust_Mt-8">　　-「③ 適用条件の達成状況を確認する」の項目をご確認ください</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">　　　※　電話の発信時、（0570）（0180）などの他社接続サービス、♯ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</p>
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">【4】他社の3G専用ケータイ（フィーチャーフォン）本体を持参</p>
                      <p>　ただし、3Gサービスのみを受信している製品で、弊社側でキャンペーン対象にしている製品に限ります。<br>
                        　電源がつくことをお確かめください。</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">　※詳しくは店頭スタッフにお尋ねください。</p>

                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">【5】他社の3G専用プランのご契約が確認できる書類を持参</p>
                      <p class="c-Txt_Emp-02 c-Txt_Cap">　※解約済みの場合は対象外</p>
                      <p>　ただし、利用明細書の原本でプラン名が確認でき、弊社側でキャンペーンの対象にしている3G専用プランをご利用の方に限ります。<br>
                        　ご契約者様名、ご利用回線番号 、ご利用対象月（直近3か月以内）、プラン名が確認できることをお確かめください。</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">　※詳しくは店頭スタッフにお尋ねください。</p>
                    </dd>
                  </div>
                  <div>
                    <dt>キャンペーン特典（楽天ポイント）</dt>
                    <dt class="<%= namespace %>-Rule_Title-sub">特典内容</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">楽天ポイントプレゼント</p>
                      <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">OPPO A55s5G　3,799ポイント</span>　定価25,900円 - 併用可能CPN22,100円分 -<span class="c-Txt_Emp-02"> 本CPN3,799ポイント</span><span class="c-Txt_Emp-01"> = 実質1円</span></p>
                      <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">AQUOS sense6　6,000ポイント</span>　定価34,980円 - 併用可能CPN25,980円分 -<span class="c-Txt_Emp-02"> 本CPN6,000ポイント</span><span class="c-Txt_Emp-01"> = 実質3,000円</span></p>
                    </dd>
                    <dt class="<%= namespace %>-Rule_Title-sub">ポイント付与日</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">「Rakuten UN-LIMIT  VII」のプラン利用開始および「Rakuten Link」の利用が確認された月の翌々月末日ごろに付与</p>
                      <ul class="u-Adjust_Mt-8 c-Txt_Cap">
                        <li>　<span>※</span>　例）9月にすべての条件を達成した場合には、その翌々月である11月末日ごろにポイント付与となります</li>
                        <li>　<span>※</span>　楽天ポイントの付与は、楽天モバイルより行います</li>
                        <li>　<span>※</span>　権利の譲渡はできません</li>
                      </ul>
                    </dd>
                    <dt class="<%= namespace %>-Rule_Title-sub">ポイント有効期間</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
                      <ul class="u-Adjust_Mt-8 c-Txt_Cap">
                        <li>　<span>※</span>　<a class="c-Link_Txt" href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a></li>
                        <li>　<span>※</span>　有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt>特典適用対象外</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
                      <ul class="u-Adjust_Mt-16 c-Txt_Cap">
                        <li>　<span>※</span>　当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                        <li>　<span>※</span>　本キャンペーンの適用回数が、おひとり様1契約1回を超える場合は対象外となります</li>
                        <li>　<span>※</span>　楽天モバイルショップ以外で購入した場合</li>
                        <li>　<span>※</span>　ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
                        <li>　<span>※</span>　「Rakuten UN-LIMIT VII」のプラン利用開始がされなかった場合<br>
                        　　　 -プラン利用開始の手続き方法につきましては、こちらの<a href="<%= sitepath %>faq/detail/00001648/" class="c-Link_Txt">SIMカード版スタートガイドまたはeSIM版スタートガイド</a>を参照ください</li>

                        <li>　<span>※</span>　期限までに<span class="c-Txt_Emp-01">「Rakuten Link」を利用されなかった</span>場合</li>
                        <li>　<span>※</span>　ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                        <li>　<span>※</span>　当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                        <li>　<span>※</span>　そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt>併用可能キャンペーン</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">以下のキャンペーンは併用可能となります。</p>
                      <ul class="u-Adjust_Mt-16 c-Txt_Cap">
                        <li>　<span>※</span>　-【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント（キャンペーンコード：1526）</li>
                        <li>　<span>※</span>　- 【Rakuten UN-LIMIT VII】データ1GB／月以下だった方限定！プラン料金最大4カ月実質無料キャンペーン（キャペーンコード：1527）</li>
                        <li>　<span>※</span>　- Androidスマホ/Wi-Fiルーター割引キャンペーン（キャンペーンコード：1550）</li>
                        <li>　<span>※</span>　-【ショップ限定】対象製品と楽天回線同時申込でさらに1,000ポイントキャンペーン（キャンペーンコード：1553）</li>
                        <li>　<span>※</span>　-【ショップ限定】対象製品購入でさらにポイント還元キャンペーン（キャンペーンコード：1584）</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt>併用不可キャンペーン</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">以下のキャンペーンは、<span class="c-Txt_Emp-02">併用不可</span>となります。 </p>
                      <ul class="u-Adjust_Mt-16 c-Txt_Cap">
                        <li>　<span>※</span>　- 【ショップ限定】持ち込みスマホあんしん保証を申し込みで1300ptプレゼント（キャンペーンコード：1498）</li>
                        <li>　<span>※</span>　- iPhone 13 全機種 & iPhone SE（第3世代）ポイント還元キャンペーン（キャンペーンコード：1551）</li>
                        <li>　<span>※</span>　- Rakuten WiFi Pocket ポイントバックキャンペーン（キャンペーンコード：1552）</li>
                        <li>　<span>※</span>　- 回線契約のみでOK！通常のRakuten UN-LIMIT VIIお申し込み特典に加えて、さらに5,000ポイントプレゼントキャンペーン（キャンペーンコード：1587）</li>
                        <li>　<span>※</span>　- iPhone対象機種特価キャンペーン（キャンペーンコード：1592）</li>
                        <li>　<span>※</span>　- 【楽天モバイルショップ郵便局店限定！】10000円以上の端末購入者様から抽選で300名様にお買いものパンダスマホスタンドがあたるキャンペーン（キャンペーンコード：1610）</li>
                        <li>　<span>※</span>　- ショップでのご案内限定！回線のみ契約で、さらに3,000ポイントプレゼント（キャンペーンコード：1611）</li>
                        <li>　<span>※</span>　- 【ショップ&週末限定】OPPO A55s 5G 3,799ポイントプレゼントキャンペーン（1662)</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt>注意事項</dt>
                    <dd>
                      <ul class="c-Txt_Cap">
                        <li>　<span>※</span>　本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                        <li>　<span>※</span>　本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                        <li>　<span>※</span>　製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
                        <li>　<span>※</span>　本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                        <li>　<span>※</span>　記載の内容は2022年9月2日（金）時点の情報となります</li>
                      </ul>
                      </dd>
                  </div>
                </dl>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


    <footer class="g-Footer <%= namespace %>-Layout_Footer u-Adjust_Mt-64">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-campaign-v2.ejs') %>

        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>

  <%- include('/include/_append-body') %>

</body>
</html>
