<div class="<%= namespace %>-Hero">
  <div class="<%= namespace %>-Hero_Container">
    <h1>
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/shop-limited-byod/kv-shop-limited-byod-sp.png" width="100%">
        <img src="<%= sitepath %>assets/img/campaign/shop-limited-byod/kv-shop-limited-byod-pc.png" width="1440" height="300" alt="【ショップ＆土日祝限定】初めてのお申し込みで最大5,000円相当分ポイント還元！" loading="lazy">
      </picture>
    </h1>
  </div>
</div>
