<div class="u-Adjust_Mt-64">
  <h2 id="campaign-step" class="c-Heading_Lv2 u-Adjust_Align-center">ポイント進呈の流れ</h2>
  <div>
    <div class="c-Accordion-emp <%= namespace %>-Step_Item">
      <button type="button" id="accordion-emp-1" class="c-Accordion-emp_Trigger js-Accordion_Trigger <%= namespace %>-Step_Item-btn <%= namespace %>-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-emp-1-content">
        <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
        <h3 class="<%= namespace %>-Step_Item-btn-title">
          <span class="c-Accordion-emp_Num <%= namespace %>-Step_Item-btn-num">STEP 1</span><span class="c-Accordion-emp_Trigger-txt <%= namespace %>-Step_Item-btn-text">楽天モバイル対応製品の確認</span>
        </h3>
      </button>
      <div id="accordion-emp-1-content" class="c-Accordion-emp_Panel-step js-Accordion_Panel <%= namespace %>-Accordion_Content" role="region" aria-labelledby="accordion-emp-1" aria-hidden="true" style="display: none;">
        <h4 class="c-Heading_Lv4">お持ちの製品が楽天モバイル対応であることを下記ページでご確認ください。</h4>
        <div class="u-Adjust_Mt-16">
          <a href="<%= sitepath %>product/byod/?l-id=campaign_shop_imited_byod_product_byod" class="c-Btn_Regular">ご利用製品の対応状況確認</a>
        </div>
        <div class="l-Media_Grid c-Theme-Borderbox u-Adjust_Mt-24">
          <div class="l-Media_Image">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/shop-limited-byod/img-step1.png" width="400" height="240">
              <img src="<%= sitepath %>assets/img/campaign/shop-limited-byod/img-step1.png" width="200" height="120" alt="" loading="lazy">
            </picture>
          </div>
          <div>
            <h4 class="c-Heading_Lv4">SIMロック解除の手続きを行う</h4>
            <ul class="u-Adjust_Mt-16">
              <li class="c-Txt_Cap"><span>※</span>NTTドコモ、au、ソフトバンクなど他の携帯電話会社でご契約されていた製品は、その会社でしか利用できないよう「SIMロック」がかけられています。 <span class="c-Txt_Emp-02">SIMロックがかかっているか確認するには、現在契約中の携帯電話会社へお問い合わせください。</span>SIMロック解除の必要がない場合、次の手順にお進みください。</li>
              <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>楽天モバイル（ドコモ回線/au回線）からプラン変更（移行）のお客様は、SIMロック解除手続き不要です。</li>
            </ul>
            <ul class="c-List_Text-disc u-Adjust_Mt-16">
              <li>
                <a href="https://www.nttdocomo.co.jp/support/unlock_simcard/" class="c-Link_Txt-inline" target="_blank">docomo SIMロック解除手続き<span class="c-Icon_Chevron-right"></span></a>
              </li>
              <li class="u-Adjust_Mt-8">
                <a href="https://www.au.com/support/service/mobile/procedure/simcard/unlock/" class="c-Link_Txt-inline" target="_blank">au SIMロック解除手続き<span class="c-Icon_Chevron-right"></span></a>
              </li>
              <li class="u-Adjust_Mt-8">
                <a href="https://www.softbank.jp/mobile/support/usim/unlock_procedure/" class="c-Link_Txt-inline" target="_blank">ソフトバンク SIMロック解除手続き<span class="c-Icon_Chevron-right"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="c-Accordion-emp <%= namespace %>-Step_Item">
      <button type="button" id="accordion-emp-2" class="c-Accordion-emp_Trigger js-Accordion_Trigger <%= namespace %>-Step_Item-btn <%= namespace %>-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-emp-2-content">
        <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
        <h3 class="<%= namespace %>-Step_Item-btn-title">
          <span class="c-Accordion-emp_Num <%= namespace %>-Step_Item-btn-num">STEP 2</span><span class="c-Accordion-emp_Trigger-txt <%= namespace %>-Step_Item-btn-text"><span class="c-Txt_Emp-02">土日祝日にショップで</span>お申し込み＆プラン利用開始</span>
        </h3>
      </button>
      <div id="accordion-emp-2-content" class="c-Accordion-emp_Panel-step js-Accordion_Panel <%= namespace %>-Accordion_Content" role="region" aria-labelledby="accordion-emp-2" aria-hidden="true" style="display: none;">
        <h4 class="c-Heading_Lv4">各ショップページの「来店予約」ボタンよりご予約ください。</h4>
        <ul class="u-Adjust_Mt-16">
          <li class="c-Txt_Cap"><span>※</span>カウンターが空き次第のご案内となり、多少の待ち時間をいただく場合がございます。</li>
          <li class="c-Txt_Cap"><span>※</span>ショップページに「来店予約」ボタンがないショップでは、来店予約を行っておりません。ご了承ください。</li>
        </ul>
        <div class="u-Adjust_Mt-16">
          <a href="<%= sitepath %>shop/?l-id=campaign_shop-limited-byod_shop_02" class="c-Btn_Primary">お近くのショップを探す・来店予約</a>
        </div>
        <div class="l-Media_Grid c-Theme-Borderbox u-Adjust_Mt-24">
          <div class="l-Media_Image">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/shop-limited-byod/img-step2.png" width="400" height="240">
              <img src="<%= sitepath %>assets/img/campaign/shop-limited-byod/img-step2.png" width="200" height="120" alt="" loading="lazy">
            </picture>
          </div>
          <div>
            <h4 class="c-Heading_Lv4">お申し込みに必要なもの</h4>
            <ul class="c-List_Text-disc u-Adjust_Mt-8">
              <li>
                <a href="<%= sitepath %>guide/verify/?l-id=campaign_shop-limited-byod_guide_verify" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a>
              </li>
              <li class="u-Adjust_Mt-8">楽天会員ID、パスワード</li>
              <li class="u-Adjust_Mt-8">
                <a href="<%= sitepath %>guide/payment/?l-id=campaign_shop-limited-byod_guide_payment" class="c-Link_Txt-inline">クレジットカード、銀行口座情報 <span class="c-Icon_Chevron-right"></span></a>
              </li>
              <li class="u-Adjust_Mt-8">
                <a href="<%= sitepath %>guide/mnp/?l-id=campaign_shop-limited-byod_guide_mnp" class="c-Link_Txt-inline">MNP予約番号（他社から乗り換えの場合）<span class="c-Icon_Chevron-right"></span></a>
              </li>
            </ul>
            <ul class="c-Txt_Cap u-Adjust_Mt-16">
              <li><span>※</span><a href="<%= sitepath %>flow/for-minors/?l-id=campaign_shop-limited-byod_flow_for-minors" class="c-Link_Txt">未成年の方のお申し込み方法はこちら</a></li>
              <li class="u-Adjust_Mt-8"><span>※</span>ショップでのお手続きは、ワンストップ対象の他社からの転入であっても、MNP予約番号を取得のうえ、ご来店ください。</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="c-Accordion-emp <%= namespace %>-Step_Item">
      <button type="button" id="accordion-emp-3" class="c-Accordion-emp_Trigger js-Accordion_Trigger <%= namespace %>-Step_Item-btn <%= namespace %>-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-emp-3-content">
        <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
        <h3 class="<%= namespace %>-Step_Item-btn-title">
          <span class="c-Accordion-emp_Num <%= namespace %>-Step_Item-btn-num">STEP 3</span><span class="c-Accordion-emp_Trigger-txt <%= namespace %>-Step_Item-btn-text">Rakuten Linkアプリから発信で10秒以上通話</span>
        </h3>
      </button>
      <div id="accordion-emp-3-content" class="c-Accordion-emp_Panel-step js-Accordion_Panel <%= namespace %>-Accordion_Content" role="region" aria-labelledby="accordion-emp-3" aria-hidden="true" style="display: none;">
        <p class="c-Txt_Emp-01">期限：プランお申し込みの翌月末日23:59まで</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※（0180）（0570）などから始まる他社接続サービス、一部特番（188）への通話については、無料通話の対象外となります。<a href="<%= sitepath %>terms/pdf/rakuten_mobile_exception_number_list.pdf?220701" class="c-Link_Txt">対象外番号一覧</a>をご確認ください</p>
        <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※ 楽天回線対応のモバイルルーターで使用されるためにお申し込みいただいた場合は、「Rakuten Link」のご利用は必要ございません。</p>
        <div class="l-Media_Grid c-Theme-Borderbox u-Adjust_Mt-24">
          <div class="l-Media_Image">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/shop-limited-byod/img-step3.png" width="90" height="90">
              <img src="<%= sitepath %>assets/img/campaign/shop-limited-byod/img-step3.png" width="91" height="91" alt="" loading="lazy">
            </picture>
          </div>
          <div>
            <h4 class="c-Heading_Lv4">Rakuten Link</h4>
            <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>service/rakuten-link/?l-id=campaign_shop-limited-byod_service_rakuten-link" class="c-Link_Txt-inline">Rakuten Linkアプリの詳細<span class="c-Icon_Chevron-right"></span></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-Theme-Borderbox <%= namespace %>-Step_End">
    <div class="l-Media_Grid">
      <div class="l-Media_Image">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/shop-limited-byod/img-rpoint.png" width="136" height="136">
          <img src="<%= sitepath %>assets/img/campaign/shop-limited-byod/img-rpoint.png" width="140" height="140" alt="" loading="lazy">
        </picture>
      </div>
      <div>
        <h4 class="c-Heading_Lv4 c-Txt_Emp-02">最大5,000円相当のポイント還元！</h4>
        <p class="u-Adjust_Mt-8">Rakuten Link ご利用の翌々月末日頃に、期間限定ポイントとして最大5,000ポイントを進呈いたします。</p>
        <p class="c-Txt_Cap u-Adjust_Mt-16">※うち3,000ポイントを条件達成の翌々月末日頃に、2,000ポイントを条件達成の確認後、プランお申し込み日の4カ月後の末日頃に期間限定ポイントとして進呈いたします。</p>
      </div>
    </div>
  </div>
</div>
