<div class="c-Theme-Borderbox">
  <h2 class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンの達成条件</h2>
  <p class="u-Adjust_Mt-16 <%= namespace %>-Util_Align-cl">本キャンペーンには達成条件が設定されています。詳細は各<a href="#campaign-rule1526" class="c-Link_Txt js-scroll">キャンペーンルール</a>をご確認ください。</p>
  <div class="c-Cpn_Condition-outer u-Adjust_Mt-16 <%= namespace %>-Condition_Box">
    <div class="c-Cpn_Condition-inner-wrapper-3">
      <div class="c-Cpn_Condition-inner-box <%= namespace %>-Condition_Item">
        <div class="<%= namespace %>-Condition_Item-title">
          <p class="c-Heading_Lv4 u-Adjust_Align-center"><span class="c-Txt_Emp-02">土日祝日にショップで</span><br>初めてプランお申し込み</p>
        </div>
        <div class="<%= namespace %>-Condition_Item-wrap">
          <div class="<%= namespace %>-Condition_Item-image">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/shop-limited-byod/img-condition1-sp.png" width="178" height="181">
              <img src="<%= sitepath %>assets/img/campaign/shop-limited-byod/img-condition1-pc.png" width="88" height="88" alt="" loading="lazy">
            </picture>
          </div>
          <p class="<%= namespace %>-Condition_Item-text">製品とセットでのお申し込みや2回線目以降のお申し込みは対象外です。</p>
        </div>
      </div>
      <div class="c-Cpn_Condition-inner-box <%= namespace %>-Condition_Item">
        <div class="<%= namespace %>-Condition_Item-title">
          <p class="c-Heading_Lv4 u-Adjust_Align-center">プランの利用開始</p>
        </div>
        <div class="<%= namespace %>-Condition_Item-wrap">
          <div class="<%= namespace %>-Condition_Item-image">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/shop-limited-byod/img-condition2-sp.png" width="154" height="166">
              <img src="<%= sitepath %>assets/img/campaign/shop-limited-byod/img-condition2-pc.png" width="158" height="88" alt="" loading="lazy">
            </picture>
          </div>
          <p class="<%= namespace %>-Condition_Item-text">ショップにてプラン利用を開始してください。</p>
        </div>
      </div>
      <div class="c-Cpn_Condition-inner-box shop-limited-byod-Condition_Item">
        <div class="<%= namespace %>-Condition_Item-title">
          <p class="c-Heading_Lv4 u-Adjust_Align-center">Rakuten Linkから発信で<br>10秒以上通話</p>
        </div>
        <div class="<%= namespace %>-Condition_Item-wrap">
          <div class="<%= namespace %>-Condition_Item-image">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/shop-limited-byod/img-condition3-sp.png" width="148" height="142">
              <img src="<%= sitepath %>assets/img/campaign/shop-limited-byod/img-condition3-pc.png" width="69" height="69" alt="" loading="lazy">
            </picture>
          </div>
          <p class="<%= namespace %>-Condition_Item-text">【期限】お申し込みの翌月末日23:59まで</p>
        </div>
      </div>
    </div>
  </div>
  <div class="u-Adjust_Mt-24">
    <h3 class="c-Heading_Lv3 u-Adjust_Align-center">キャンペーンの達成状況はこちらで確認</h3>
    <div class="c-Accordion-emp u-Adjust_Mt-16">
      <button type="button" id="accordion-condition-1" class="c-Accordion-emp_Trigger js-Accordion_Trigger u-Adjust_Align-center <%= namespace %>-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-condition-1-content">
        <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
        <span class="c-Accordion-emp_Trigger-txt">達成状況の確認方法</span>
      </button>
      <div id="accordion-condition-1-content" class="c-Accordion-emp_Panel-normal js-Accordion_Panel" role="region" aria-labelledby="accordion-condition-1" aria-hidden="true" style="display: none;">
        <h4 class="c-Heading_Lv4">達成状況の確認方法</h4>
        <ol class="u-Adjust_Mt-16">
          <li>
            <p class="c-Txt_Emp-01">1. 「<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile?l-id=campaign_shop-limited-byod_my-rakuten-mobile_accordion" class="c-Link_Txt">my 楽天モバイル</a>」にアクセス</p>
          </li>
          <li class="u-Adjust_Mt-32">
            <p class="c-Txt_Emp-01">2. 右上のメニューから「利用状況」を選択</p>
            <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/common/img-cap01-230601-0000.png" width="600" height="592">
                <img src="<%= sitepath %>assets/img/campaign/common/img-cap01-230601-0000.png" width="300" height="296" alt="" loading="lazy">
              </picture>
            </div>
          </li>
          <li class="u-Adjust_Mt-32">
            <p class="c-Txt_Emp-01">3. 「通話」タブを選択して<span class="c-Txt_Emp-02">Rakuten Linkでの10秒以上の発信通話履歴</span>があることを確認してください</p>
            <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/common/img-cap02.png?220720" width="600" height="399">
                <img src="<%= sitepath %>assets/img/campaign/common/img-cap02.png?220720" width="300" height="200" alt="" loading="lazy">
              </picture>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
