<% const pagetitle = "【ショップ＆土日祝限定】初めてのお申し込みで最大5,000円相当分ポイント還元！" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "shop-limited-byod" -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルショップ＆土日祝限定！お持ちのスマホをお使いのまま、楽天モバイルに初めて申し込むと最大5,000ポイントが還元されるキャンペーンです。週末はぜひ、お近くの楽天モバイルショップへお越しください。',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<%- include('/inc/_about-rakuten-mobile-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/<%= namespace %>/<%= namespace %>.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="l-System_Container <%= namespace %>-Label">
  <ul class="c-Label_List">
    <li class="c-Label_Normal <%= namespace %>-Label_Item">ショップ申込限定</li>
    <li class="c-Label_Normal <%= namespace %>-Label_Item">初めて申込限定</li>
    <li class="c-Label_Normal <%= namespace %>-Label_Item">Rakuten Link利用必要</li>
  </ul>
  <p class="<%= namespace %>-Label_Comment">ポイント：付与日を含めて6カ月の期間限定ポイント</p>
</div>

<section>
  <%- include('./_part-hero', { namespace }) %>
  <div class="l-System_Container u-Adjust_Mt-8">
    <p class="c-Txt_Cap">
      <span class="c-Txt_Emp-02">※「Rakuten最強プラン（データタイプ）」は対象外です。</span><br>
      ※ 製品によって一部機能が利用できない場合があります。詳しくは<a href="<%= sitepath %>product/byod/?l-id=campaign_shop_imited_byod_product_byod" class="c-Link_Txt">こちら</a>をご確認ください<br>
      ※ 土日祝が定休日の店舗がございます。詳しくは<a href="<%= sitepath %>shop/?l-id=campaign_shop-limited-byod_shop_note" class="c-Link_Txt">ショップページ</a>をご確認ください<br>
    </p>
    <p class="c-Txt_Cap c-Txt_Emp-02">
      ※本キャンペーンは2023年7月6日（木）閉店をもって終了いたします。そのため本キャンペーンの最終開催日は2023年7月2日（日）となります。<br>
      ※2023年7月7日（金）開店から新たに「【ショップ限定】他社からのお乗り換え&回線のみ契約で4,000ポイントプレゼント」キャンペーンが開始します。
    </p>
  </div>
</section>

<p class="c-Txt_Normal-xl c-Txt_Emp-02 u-Adjust_Mt-16 u-Adjust_Mb-16 u-Adjust_Align-center">本キャンペーンは終了しました。</p>

<section class="u-Adjust_Mt-24">
  <div class="l-System_Container">
    <%- include('./_part-navi', { namespace }) %>
  </div>
</section>

<section class="u-Adjust_Mt-24">
  <div class="l-System_Container">
    <%- include('./_part-condition', { namespace }) %>
  </div>
</section>

<section>
  <div class="l-System_Container">
    <%- include('./_part-step', { namespace }) %>
  </div>
</section>

<section class="u-Adjust_Mt-64">
  <div class="l-System_Container">
    <%- include('/inc/_saikyo', { namespace }) %>
  </div>
</section>

<section class="u-Bg_Monotone97 u-Adjust_Mt-64 u-Adjust_Py-48">
  <%- include('/inc/_about-rakuten-mobile', { baseLId: 'campaign_shop-limited-byod' }) %>
</section>

<section class="u-Adjust_Mt-64">
  <div class="l-System_Container">
    <%- include('/include/_bnr-cpn-recommend-v2') %>
  </div>
</section>

<section id="campaign-rule" class="u-Adjust_Pt-48 u-Adjust_Pb-48">
  <div class="l-System_Container">
    <%- include('./_part-rule1526', { namespace }) %>
    <%- include('./_part-rule1943', { namespace }) %>
  </div>
</section>

<!-- ReX UX Survey: Mounting point for embedded components -->
<div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>

<footer class="g-Footer">
  <div class="g-Footer_Aside">
  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>
</div>

<%- include('/include/_common-js') %>
<!-- <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script> -->
<%- include('/include/_append-body') %>
<!-- ReX UX Survey: Config -->
<script>
  window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
</script>
<!-- ReX UX Survey: Script -->
<script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>
</body>
</html>
