<% const pagetitle = "本人確認書類アップロード方法" -%>
<% const directories = [{path:"internet/turbo/support/", label:"お客様サポート"}, {path:"internet/turbo/support/flow/", label:"申し込みからお受け取りまでの流れ"}, {path:"internet/turbo/support/flow/verify/", label:"本人確認書類"}] -%>
<% const namespace = "support-smallcategory" -%>
<%
  const pageInfo = {
    namespace,
    isUserCategory: false
  };
%>
<%-
 include('/_header', {
    pagetitle,
    directories,
    description: '楽天モバイルのホームルーターRakuten Turboの申し込みに必要な本人確認書類のアップロード方法についてご確認いただけます',
    noindex: false,
    pathname: filepath,
    isTurbo: true
  });
%>

<%- include('/include/_common-css-v2') %>
<%- include('/include/internet/turbo/support/_smallcategory-css') %>
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/internet/turbo/_prepend-body-internet') %>
  <div class="l-System">
    <%- include('/include/internet/turbo/_header', {
      pagetitle,
      directories,
      tax: false,
    }) %>

    <div class="l-System_Container">
      <section class="u-Adjust_Mt-32">
        <h1 class="c-Heading_Lv1 <%= namespace %>-Utility_Heading_Lv1"><%= pagetitle %></h1>
        <div class="c-Infobox_Standing-warning u-Adjust_Mt-24">
          <ul class="c-List_Text-disc">
            <li>全体が写るように撮影してください。</li>
            <li>画像は加工せず、原本をカラー画像でアップロードをしてください。アップロード画像を間違えた場合は再度撮影が可能です。</li>
            <li>光の反射が強いなどの理由で、書類内容が判読しづらい場合は、再度撮影してアップロードをお願いします（カメラのフラッシュ機能をOFFにすると強い反射を抑えることができます）。</li>
          </ul>
        </div>
        <p class="c-Txt_Cap u-Adjust_Mt-16">※イメージは運転免許証の場合です。</p>
        <ol class="c-Flow u-Adjust_Mt-24">
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">1. お申し込みフローで「書類画像のアップロード画面」が表示されます。</h3>
            <div class="u-Adjust_Align-center u-Adjust_Mt-24">
              <img src="<%= sitepath %>assets/img/internet/turbo/support/flow/verify/upload/main-image-upload-01.png" alt="1. お申し込みフローで「書類画像のアップロード画面」が表示されます。" width="298" height="584" class="c-Img_Capture">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">2. 「書類タイプ」をご選択いただき、読み取ってください。</h3>
            <div class="c-Infobox_Standing-warning u-Adjust_Mt-24">
              <p>以下の点に注意してください。</p>
              <ul class="c-List_Text-disc u-Adjust_Mt-8">
                <li>画像が不鮮明（ぼやけている、ぶれている、画質が荒い等）および反射していないこと</li>
                <li>全体が写っていること（文字、公安印等が切れていない）質が荒い等）および反射していないこと</li>
                <li>契約書情報の住所と本人確認書類の住所が完全一致していること</li>
                <li>画像ファイルサイズが15MB以上の場合、アップロードできません。解像度を変更するなどファイルサイズを小さくしてアップロードしてください。</li>
              </ul>
            </div>
            <div class="u-Adjust_Align-center u-Adjust_Mt-24">
              <img src="<%= sitepath %>assets/img/internet/turbo/support/flow/verify/upload/main-image-upload-02.png" alt="2. 「書類タイプ」をご選択いただき、読み取ってください。" width="298" height="467" class="c-Img_Capture">
            </div>
            <p class="c-Txt_Cap u-Adjust_Mt-24">※書類によっては、表面・裏面のアップロードが必要です。</p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">3. 「次へ進む」ボタンをタップしてください。</h3>
            <div class="u-Adjust_Align-center u-Adjust_Mt-24">
              <img src="<%= sitepath %>assets/img/internet/turbo/support/flow/verify/upload/main-image-upload-03.png" alt="3. 「次へ進む」ボタンをタップしてください。" width="298" height="467" class="c-Img_Capture">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">4. もう一度アップロードする場合は以下をタップしてください。</h3>
            <div class="u-Adjust_Align-center u-Adjust_Mt-24">
              <img src="<%= sitepath %>assets/img/internet/turbo/support/flow/verify/upload/main-image-upload-04.png" alt="4. もう一度アップロードする場合は以下をタップしてください。" width="298" height="467" class="c-Img_Capture">
            </div>
          </li>
        </ol>
        <div class="c-Theme-Light u-Adjust_Mt-24">
          <ul class="c-List_Text-disc">
            <li>本人確認が完了しましたら、ご登録のメールアドレスに本人確認完了のメールをお送りします。</li>
            <li>不備があった場合には、「【重要】[楽天モバイル]Rakuten Turbo本人確認書類の不備による再アップロードのお願い」のメールをお送りします。</li>
          </ul>
          <ul class="c-List_Note u-Adjust_Mt-16">
            <li>
              <span>※</span>本メールは、不備があったお客様にのみ、本人確認書類をご提出（アップロード）いただいた後、数時間～１営業日以内にお送りします。詳しくは以下をご確認ください。
            </li>
            <li class="u-Adjust_Mt-16">
              <a class="c-Link_Txt-inline" href="<%= sitepath %>faq/detail/10000587">「【重要】[楽天モバイル]Rakuten Turbo本人確認書類の不備による再アップロードのお願い」というメールが届きました<span class="c-Icon_Chevron-right"></span></a>
            </li>
          </ul>
        </div>
        <div class="u-Adjust_Mt-48">
          <a class="c-Btn_Regular" href="<%= sitepath %>internet/turbo/support/flow/verify/"><span>本人確認書類にもどる</span></a>
        </div>
      </section>
    </div>

    <section class="u-Adjust_Pt-80">
      <div class="<%= namespace %>-Layout_Category">
        <div class="l-System_Container">
          <%- include('/include/internet/turbo/support/_smallcategory-category', { pageInfo }) %>
        </div>
      </div>
    </section>

    <div class="u-Adjust_Mt-24">
      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
      <%- include('/include/internet/turbo/_footer', { directories, pagetitle }) %>
    </div>
  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
  <%- include('/include/internet/turbo/_rex-survey') %>

</body>

</html>
