<% const pagetitle = "電波とは？" -%>
<% const directories = [{path:"area/", label:"通信・エリア"},{path:"area/5g/", label:"5G（ファイブジー）"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルの電波とは？（通信・エリア）のページ。携帯電話やスマートフォンの電波とはそもそも何なのか、電波がつながる、電波が悪い、電波が通じない理由や電波の特徴についてご紹介します。',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/area/5g/signal/area-5g-signal.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="area-5g-signal-Hero">
  <div class="l-System_Container u-Adjust_Align-center">
    <h1><%=pagetitle %></h1>
    <p>つながる・通じない・電波が悪い？<br>電波の特性や通信・通話への影響をご紹介します。</p>
  </div>
</div>

<div class="l-System_Container area-5g-signal-Detail">
  <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>area/5g/?l-id=area_signal_area_5g-1" class="c-Link_Txt-icon-front"><span class="c-Icon_Chevron-left"></span>5G（ファイブジー）に戻る</a></p>

  <h2 class="c-Heading_Lv2 u-Adjust_Mt-48">電波って何？</h2>
  <div class="c-Theme-Light u-Adjust_Mt-16">
    <h3 class="c-Heading_Lv4">「電波」とは、300万メガヘルツ以下の周波数の電磁波のことを指します。</h3>
    <p class="u-Adjust_Mt-16">電波は、テレビやラジオ放送、携帯電話、Wi-Fiから、緊急サービス、赤ちゃんの見守りモニター、GPS、レーダーなどの通信システムに至るまで、日常の様々なサービスで無線で情報を運ぶために使用されます。</p>
    <h4 class="u-Adjust_Mt-24 c-Txt_Emp-02">いろいろな電波を比較する要素その1：「波長」</h4>
    <p class="u-Adjust_Mt-16">いろいろな種類の電波を比較する要素の1つに、波長（波の長さ）があります。波長は、はじめの波から次の波までの距離となります。波長の単位はメートル（m）です。</p>
    <div class="area-5g-signal-Detail_Col2 u-Adjust_Mt-16">
      <div>
        <img src="<%= sitepath %>assets/img/area/5g/signal/img-01.png?210909" alt="">
      </div>
      <div>
        <img src="<%= sitepath %>assets/img/area/5g/signal/img-02.png?210909" alt="">
      </div>
    </div>
    <h4 class="u-Adjust_Mt-24 c-Txt_Emp-02">いろいろな電波を比較する要素その2：「周波数」</h4>
    <div class="area-5g-signal-Detail_Col2-right u-Adjust_Mt-8">
      <p>
        電波を比較するための要素は他にもあります。周波数です。<br>
        周波数は1秒あたりに通過する波の数（電波が最初の波から遠ざかる1秒あたりに作成される波の数）を指します。周波数の単位は時間（1/秒）で割ったものであり、科学者はこれに周波数単位として、ヘルツ（Hz）という名前をつけました。<br>
        こちらのイメージのように1秒間に3つの波が発生している場合、電波の大きさ（周波数）は3Hzです。周波数の高いものを「高周波」、周波数の低いものを「低周波」といいますが、それぞれの用途に応じた使い分けがあります。
      </p>
      <div>
        <img src="<%= sitepath %>assets/img/area/5g/signal/img-03.png?210909" alt="">
      </div>
    </div>
  </div>

  <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">スマートフォン（スマホ）・携帯だけじゃない、生活に身近な電波</h2>
  <p class="u-Adjust_Mt-16">
    電波は携帯電話の通信を行うだけではなく、テレビやラジオ放送、電子レンジなど身のまわりでも利用していることに気がつきます。周波数の高いもの低いものと様々ですが、携帯電話で使用できる電波も周波数が限られています。
  </p>
  <p class="u-Adjust_Mt-24">
    携帯電話に使用される周波数帯の中でも、高い周波数（2GHz帯 ＜2.1GHz帯＞以上）は、低い周波数と比較すると、より強く光の性質を持っています。光のイメージ通り散乱しやすくもありますが、「情報量が多く、直進的」という特性があります。一方で低い周波数は高い周波数と比べて音の性質に似ており、「情報量が少なく、広範囲」に電波を届けることができます。このように携帯電話で使う電波の周波数にはいくつかの種類があり、それぞれ特徴は異なります。
  </p>
  <div class="u-Adjust_Align-center u-Adjust_Mt-16">
    <picture>
      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/area/5g/signal/img-04-sp.png?210909">
      <source srcset="<%= sitepath %>assets/img/area/5g/signal/img-04.png?210909">
        <img src="<%= sitepath %>assets/img/area/5g/signal/img-04.png?210909" width="1000" alt="">
    </picture>
  </div>

  <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">電波の特性と、通話・通信への影響</h2>
  <h3 class="c-Heading_Lv3 c-Txt_Emp-02 u-Adjust_Mt-8">電波が悪い、電波が遅いは、なぜ起きる？</h3>
  <p class="u-Adjust_Mt-16">その場から移動したり建物の外に出ると電波が良くなることは、電波について詳しくなくてもなんとなくわかりますが、基地局から届く電波は、携帯電話に届くまでにどのような影響を受けているのでしょうか？光と音に似た電波の特性についてご紹介します。</p>

  <div class="c-Theme-Light u-Adjust_Mt-32">
    <h4 class="c-Heading_Lv4">電波も通信速度も離れるほど弱く・遅くなる</h4>
    <p class="u-Adjust_Mt-16">
      電波が弱いと、通話が途切れたり、音質が悪くなり聞き取りづらくなることがあります。<br>
      電球などから出ている光は、離れるとだんだん弱くなっていきますがそれと同様に、電波を出している基地局から「離れれば離れるほど、電波は弱く」なり、通信速度も同様に基地局から「離れれば離れるほど、遅く」なり、データの読み込みに時間がかかったり、動画が途切れたりする原因になります。
    </p>
    <div class="area-5g-signal-Detail_Col2 u-Adjust_Mt-16">
      <div>
        <img src="<%= sitepath %>assets/img/area/5g/signal/img-05.png?210909" alt="">
        <p class="c-Txt_Cap u-Adjust_Mt-8">光同様に離れれば離れるほど弱くなり、通信速度も遅くなります。</p>
      </div>
      <div>
        <img src="<%= sitepath %>assets/img/area/5g/signal/img-06.png?210909" alt="">
        <p class="c-Txt_Cap u-Adjust_Mt-8">遠くなり電波が弱くなると、音質が悪くなり途切れることがあります。</p>
      </div>
    </div>
  </div>

  <div class="c-Theme-Light u-Adjust_Mt-32">
    <h4 class="c-Heading_Lv4">電波は建物などに反射・屈折する、まわりこんで伝播する</h4>
    <p class="u-Adjust_Mt-16">
      電波は建物などの障害物にあたると反射しますが、反射を繰り返すとだんだん弱くなる特性があります。 <br>
      あたる対象の物質や、電波の周波数によって反射の仕方は変わり、複数の方向へ乱反射する場合もあります。 <br>
      ビルの壁、電車や高速道路の高架など、街中には大きく様々な電波の障害物がありますが、実は私たち人や車なども電波状況に影響を与える要因の一つとされています。
    </p>
    <div class="area-5g-signal-Detail_Col2 u-Adjust_Mt-16">
      <div>
        <img src="<%= sitepath %>assets/img/area/5g/signal/img-07.png?210909" alt="">
        <p class="c-Txt_Cap u-Adjust_Mt-8">紙・木・ガラスなどは通り抜け、金属は反射します。</p>
      </div>
      <div>
        <img src="<%= sitepath %>assets/img/area/5g/signal/img-08.png?210909" alt="">
        <p class="c-Txt_Cap u-Adjust_Mt-8">電波は様々なものによる反射を経て届く・届かないが発生します。</p>
      </div>
    </div>
  </div>

  <div class="c-Theme-Light u-Adjust_Mt-32">
    <h4 class="c-Heading_Lv4">電波は通り抜けて届く</h4>
    <p class="u-Adjust_Mt-16">
      電波は反射する一方で、障害物によっては通り抜けることができます。<br>
      この性質により、屋内でも携帯電話が使えます。 ただし、「電波も通信速度も離れるほど弱く・遅くなる」でお伝えした通り、電波は障害物を通り抜けるたびに弱くなり、ビルの中心部など奥まった場所ではつながりづらくなることがあります。
    </p>
    <div class="area-5g-signal-Detail_Col2 u-Adjust_Mt-16">
      <div>
        <img src="<%= sitepath %>assets/img/area/5g/signal/img-09.png?210909" alt="">
        <p class="c-Txt_Cap u-Adjust_Mt-8">電波は建物や障害物を通り抜けて届きます。</p>
      </div>
      <div>
        <img src="<%= sitepath %>assets/img/area/5g/signal/img-10.png?210909" alt="">
        <p class="c-Txt_Cap u-Adjust_Mt-8">障害物を通り抜けるたびに電波は弱くなります。</p>
      </div>
    </div>
  </div>

  <div class="c-Theme-Light u-Adjust_Mt-32">
    <h4 class="c-Heading_Lv4">電波はまわりこんで届く</h4>
    <div class="area-5g-signal-Detail_Col2-right u-Adjust_Mt-16">
      <p>
        数本離れた通りにいても、表通りで車が走ってる音や人の話し声が聞こえることがあります。 これは、音が建物を回り込んで届いているためです。<br>
        電波にも音と同様に建物や看板などの障害物のへりに沿って裏側へ回り込む性質があります。<br>
        そのため電波が基地局から直接届かない場所でも携帯電話が使えることがあります。
      </p>
      <div>
        <img src="<%= sitepath %>assets/img/area/5g/signal/img-11.png?210909" alt="">
      </div>
    </div>
  </div>

  <div class="c-Theme-Light u-Adjust_Mt-32">
    <h4 class="c-Heading_Lv4">電波はぶつかると干渉する</h4>
    <div class="area-5g-signal-Detail_Col2-right u-Adjust_Mt-16">
      <p>
        これまでの性質から、とにかく基地局をたくさん作ればよさそうですが、電波にはぶつかると干渉する性質があります。<br>
        空中には日常的に、携帯電話以外の電波も混在していますので、常に不都合が起きる訳ではありません。<br>
        見通しの良い場所やビル密集地などは、複数の電波が様々な方向から飛んできますが、それらを携帯電話が受信する際に近い周波数の電波がぶつかり合うと、電波同士が干渉して電波が不安定になり、発信や着信ができなかったり、通話中に切れやすくなります。
      </p>
      <div>
        <img src="<%= sitepath %>assets/img/area/5g/signal/img-12.png?210909" alt="">
      </div>
    </div>
  </div>

  <p class="u-Adjust_Mt-32"><a href="<%= sitepath %>area/5g/?l-id=area_signal_area_5g-2" class="c-Link_Txt-icon-front"><span class="c-Icon_Chevron-left"></span>5G（ファイブジー）に戻る</a></p>


</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-area-v2.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%#- include('/faq/include/related-service.ejs') %>

  </div>

  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
