<ul class="apple-watch-top-Card">
  <li class="apple-watch-top-Card_Item">
    <div class="apple-watch-top-Card_Item-wrap">
      <a href="<%= sitepath %>product/apple-watch/apple-watch-series9/?l-id=<%= lId %>_product_apple-watch-series9" class="apple-watch-top-Card_Item-link c-Card_Normal">
        <ul class="apple-watch-top-Card_LabelList"></ul>
        <figure><img src="<%= sitepath %>assets/img/product/apple-watch/top/img-apple-watch-series-9.png" width="230" height="230" alt=""></figure>
        <ul class="apple-watch-top-Card_Color">
          <li><span style="background: #1A2530;"></span></li>
          <li><span style="background: #DED6D1;"></span></li>
          <li><span class="color-white" style="background: #E0E0E0;"></span></li>
          <li><span style="background: #FADCDE;"></span></li>
          <li><span style="background: #D61139;"></span></li>
          <li><span style="background: #3E3A36;"></span></li>
          <li><span class="color-white" style="background: #E6E6E7;"></span></li>
          <li><span style="background: #D4BDA1;"></span></li>
        </ul>
        <h3 class="c-Heading_Lv3 apple-watch-top-Card_Name">Apple Watch Series 9</h3>
        <div class="apple-watch-top-Card_Price">
          <dl class="apple-watch-top-Card_Price-detail">
            <div>
              <dt>製品価格</dt>
              <dd class="c-Txt_Emp-02">
                <span class="apple-watch-top-Card_Price-font">80,800</span>円〜
              </dd>
            </div>
          </dl>
        </div>
      </a>
    </div>
  </li>

  <li class="apple-watch-top-Card_Item">
    <div class="apple-watch-top-Card_Item-wrap">
      <a href="<%= sitepath %>product/apple-watch/apple-watch-ultra-2/?l-id=<%= lId %>_product_apple-watch-ultra-2" class="apple-watch-top-Card_Item-link c-Card_Normal">
        <%# 再利用可能性有り、コメントアウト
          <div class="apple-watch-top-Card_Label">
            <p class="apple-watch-top-Card_Label-discount">全通信キャリアで最安<span class="c-Txt_Cap">※1</span></p>
          </div>
        %>
        <ul class="apple-watch-top-Card_LabelList">
          <li class="apple-watch-top-Card_LabelList-item --price-down">5月22日より値下げ</li>
        </ul>
        <figure><img src="<%= sitepath %>assets/img/product/apple-watch/top/img-apple-watch-ultra-2.png" width="230" height="230" alt=""></figure>
        <ul class="apple-watch-top-Card_Color">
          <li><span style="background: #CCC4BC;"></span></li>
        </ul>
        <h3 class="c-Heading_Lv3 apple-watch-top-Card_Name">Apple Watch Ultra 2</h3>
        <div class="apple-watch-top-Card_Price">
          <dl class="apple-watch-top-Card_Price-detail">
            <div>
              <dt>製品価格</dt>
              <dd class="c-Txt_Emp-02">
                <span class="apple-watch-top-Card_Price-strikethrough"><span>136,800</span>円*→</span>
                <span class="apple-watch-top-Card_Price-font">128,800</span>円
              </dd>
            </div>
          </dl>
        </div>
          <div class="u-Adjust_Mt-8">
            <p class="c-Txt_Cap">*楽天モバイルでの販売価格（販売期間：2023年9月22日～2024年5月21日）</p>
          </div>
      </a>
    </div>
  </li>

  <li class="apple-watch-top-Card_Item">
    <div class="apple-watch-top-Card_Item-wrap">
      <a href="<%= sitepath %>product/apple-watch/apple-watch-se-2nd-2023/?l-id=<%= lId %>_product_apple-watch-se-2nd-2023" class="apple-watch-top-Card_Item-link c-Card_Normal">
        <ul class="apple-watch-top-Card_LabelList"></ul>
        <figure><img src="<%= sitepath %>assets/img/product/apple-watch/top/img-apple-watch-se-2nd-2023.png" width="230" height="230" alt=""></figure>
        <ul class="apple-watch-top-Card_Color">
          <li><span style="background: #1A2530;"></span></li>
          <li><span style="background: #DED6D1;"></span></li>
          <li><span class="color-white" style="background: #E0E0E0;"></span></li>
        </ul>
        <h3 class="c-Heading_Lv3 apple-watch-top-Card_Name">Apple Watch SE（第2世代）</h3>
        <div class="apple-watch-top-Card_Price">
          <dl class="apple-watch-top-Card_Price-detail">
            <div>
              <dt>製品価格</dt>
              <dd class="c-Txt_Emp-02">
                <span class="apple-watch-top-Card_Price-font">54,780</span>円〜
              </dd>
            </div>
          </dl>
        </div>
      </a>
    </div>
  </li>

  <li class="apple-watch-top-Card_Item">
    <div class="apple-watch-top-Card_Item-wrap">
      <a href="<%= sitepath %>product/apple-watch/apple-watch-ultra/?l-id=<%= lId %>_product_apple-watch-ultra" class="apple-watch-top-Card_Item-link c-Card_Normal">
        <ul class="apple-watch-top-Card_LabelList">
          <li class="apple-watch-top-Card_LabelList-item --price-down">4月10日より値下げ</li>
        </ul>
        <figure class="u-Adjust_Mt-16"><img src="<%= sitepath %>assets/img/product/apple-watch/top/img-apple-watch-ultra.png" width="230" height="230" alt="" loading="lazy"></figure>
        <ul class="apple-watch-top-Card_Color">
          <li><span style="background: #CCC4BC;"></span></li>
        </ul>
        <h3 class="c-Heading_Lv3 apple-watch-top-Card_Name">Apple Watch Ultra</h3>
        <div class="apple-watch-top-Card_Price">
          <dl class="apple-watch-top-Card_Price-detail">
            <div>
              <dt>製品価格</dt>
              <dd class="c-Txt_Emp-02">
                <span class="apple-watch-top-Card_Price-strikethrough"><span>119,900</span>円*→</span>
                <span class="apple-watch-top-Card_Price-font">95,800</span>円
              </dd>
            </div>
          </dl>
        </div>
        <div class="u-Adjust_Mt-8">
          <p class="c-Txt_Cap">*楽天モバイルでの販売価格（販売期間：2023年10月11日～2024年4月9日）</p>
        </div>
      </a>
    </div>
  </li>
</ul>
