<div id="caution" class="u-Adjust_Pt-56 u-Adjust_Pb-64">
  <div class="l-System_Container">
    <div class="u-Adjust_Mt-16">
      <h3 class="c-Heading_Lv3 u-Adjust_Mt-32">注意事項</h3>
      <h4 class="c-Heading_Lv4 u-Adjust_Mt-32" id="caution-1">お支払いについて</h4>
      <p class="c-Txt_Cap u-Adjust_Mt-8">
        <span class="c-Txt_Emp-02">※1 楽天モバイルiPhoneアップグレードプログラムは、楽天回線（Rakuten UN-LIMIT VI）のお申し込みがなくてもご利用いただけます。25カ月目以降、新しい製品へ機種変更しない場合でも、お使いいただいた製品をご返却いただくことで解約となり、残りのお支払いは不要です。</span><br>
        現金販売価格と割賦販売価格（総額）は製品価格と同額。支払回数48回、支払期間48カ月、実質年率0％。割賦金算出時の端数分について、毎月の月額料金に含めて、あるいは最終月の月額料金に含めて、請求させていただきます。本プログラムの仕様上、支払回数を48回と記載していますが、25カ月目以降、新しい製品への機種変更及び解約が可能となり、弊社指定条件を満たし製品をご返却いただいた場合、残りのお支払いは不要です。<span class="c-Txt_Emp-02">機種変更の際には、事務手数料3,300円をご請求させていただきます。ご返却いただいた旧製品が当社指定状態基準を満たさない場合、当社指定の故障費用を請求、または返却いただけない場合がございます。</span><br>
        ※2 分割払いのお支払い総額は、製品の税込価格から楽天ポイントによるお支払い額を差し引きお支払い回数で分割した金額となります。正式なご請求金額はmy 楽天モバイルでご確認ください。楽天カード以外のクレジットカードで24回払いを選択した場合、分割手数料が発生します。 お支払い回数にかかわらず、キャンペーンの条件を満たしていれば特典が適用されます。
      </p>
      <h4 class="c-Heading_Lv4 u-Adjust_Mt-32" id="caution-2">料金プランについて</h4>
      <p class="c-Txt_Cap u-Adjust_Mt-8">
        ※3 データ無制限は、楽天基地局に接続時。公平にサービスを提供するため通信速度の制御を行う場合があります。パートナー回線エリアは、国内は5GB超過後は最大1Mbps、海外は2GB超過後は最大128kbpsで使い放題。最大1Mbpsで使用時、動画再生・アプリダウンロード等では、時間がかかる場合あり。通信速度はベストエフォート（規格上の最大速度）であり、実効速度は通信環境・状況により変動します。<br>
        ※4 5Gサービス提供はエリアに制限あり。<a href="<%= sitepath %>area/5g_area/">対象エリア</a>をご確認ください。また、5G対応製品が必要です。
      </p>
      <h4 class="c-Heading_Lv4 u-Adjust_Mt-32" id="caution-3">各種キャンペーンのポイント還元について</h4>
      <p class="c-Txt_Cap u-Adjust_Mt-8">
        ※5 取得した楽天ポイントは楽天モバイルや楽天の各サービスでご利用できます。詳しくは<a href="<%= sitepath %>guide/point/">楽天ポイントのページ</a>をご覧ください。一度に利用できるポイント数は1～30,000 (ダイヤモンド会員の方は～500,000) ポイントです。楽天モバイルiPhoneアップグレードプログラムにて製品をご購入の場合、お支払いに楽天ポイントはご利用いただけません。製品を24回払いにてご購入の場合、2回目以降のお支払いには楽天ポイントはご利用いただけません。<br>
        ※ 楽天ポイントの付与は、「Rakuten UN-LIMIT VI」をお申し込みした回線で、「Rakuten Link」を用いた発信で10秒以上の通話、メッセージ送信の利用が確認された月の翌々月末日までに、期間限定ポイントで行います。
      </p>
      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">
        最大35,000ポイント還元について
      </p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">
        以下※6、7、8、9すべてのキャンペーンを適用した場合となります。<br>
        ※6 ポイント還元は「<a href="<%= sitepath %>campaign/iphone-point/#campaign-rule1113">【Rakuten UN-LIMIT VIお申し込み特典】だれでも5,000ポイントプレゼントキャンペーン</a>」適用時。楽天モバイルを初めてお申し込みいただいた回線に限ります。<br>
        ※7 ポイント還元は「<a href="<%= sitepath %>campaign/iphone-point/#campaign-rule1382">iPhone 13 全機種 ポイント還元キャンペーン</a>」適用時。他社から乗り換え（MNP）の場合、20,000ポイント、新規／プラン変更（移行） の場合10,000ポイント。<br>
        ※8 ポイント還元は「<a href="<%= sitepath %>campaign/iphone-point/#campaign-rule1383">iPhoneアップグレードプログラム適用で5,000ポイント還元キャンペーン</a>」適用時。<br>
        ※9 ポイント還元は「<a href="<%= sitepath %>campaign/iphone-point/#campaign-rule1446">新生活応援!iPhone アップグレードプログラム適用で5,000ポイント還元キャンペーン</a>」適用時。
      </p>
      <h4 class="c-Heading_Lv4 u-Adjust_Mt-32" id="caution-4">ショップでの購入について</h4>
      <p class="c-Txt_Cap u-Adjust_Mt-8">
      ※ 一部のショップを除き、製品単体での購入はiPhoneアップグレードプログラムの加入が必要です。楽天回線のご契約（機種変更を含む）がある場合は同プログラムに加入せずiPhoneを購入することも可能です。
      </p>
    </div>
  </div>
</div>
