<%_ isIphoneDir = typeof currentDir !== 'undefined' && currentDir.includes('iphone') _%>
<%_ currentClassName = isIphoneDir ? 'product-iphone' : 'product-apple-watch'; _%>
<%_ comparisonLid = isIphoneDir ? '_comparison' : '_bottom_apple-watch_comparison'; _%>



<div class="c-Carousel_Nav"></div>
<div id="scroll-product-iphone-list" class="product-iphone_List">
  <div class="l-System_Container">
    <h3 class="<%- isIphoneDir ? 'c-Heading_Lv2' : 'c-Heading_Lv3' %>">Apple Watch一覧</h3>
    <div class="c-Carousel js-Carousel-multi product-iphone_List-carousel product-apple-watch-Carousel_List u-Adjust_Mt-16">
      <%_ if (l_id) { _%>
        <a class="c-Card_Normal" href="/product/apple-watch/apple-watch-series9/?l-id=<%- l_id %>_apple-watch-series9">
      <%_ } else { _%>
        <a class="c-Card_Normal" href="/product/apple-watch/apple-watch-series9/">
      <%_ } _%>
        <div class="product-apple-watch-Carousel_Img">
          <img src="/assets/img/product/apple-watch/Apple_Watch_Series_9_lineup-230915.png" alt="Apple Watch Series 9">
          <h3 class="c-Heading_Lv4">Apple Watch Series 9</h3>
        </div>
      </a>
      <%_ if (l_id) { _%>
        <a class="c-Card_Normal" href="/product/apple-watch/apple-watch-ultra-2/?l-id=<%- l_id %>_apple-watch-ultra-2">
      <%_ } else { _%>
        <a class="c-Card_Normal" href="/product/apple-watch/apple-watch-ultra-2/">
      <%_ } _%>
        <div class="product-apple-watch-Carousel_Img">
          <img src="/assets/img/product/apple-watch/Apple_Watch_Ultra_2_lineup-230915.png" alt="Apple Watch Ultra 2">
          <h3 class="c-Heading_Lv4">Apple Watch Ultra 2</h3>
        </div>
      </a>
      <%_ if (l_id) { _%>
        <a class="c-Card_Normal" href="/product/apple-watch/apple-watch-se-2nd-2023/?l-id=<%- l_id %>_apple-watch-se-2nd-2023">
      <%_ } else { _%>
        <a class="c-Card_Normal" href="/product/apple-watch/apple-watch-se-2nd-2023/">
      <%_ } _%>
        <div class="product-apple-watch-Carousel_Img">
          <img src="/assets/img/product/apple-watch/Apple_Watch_SE_lineup-230915.png" alt="Apple Watch SE（第2世代）">
          <h3 class="c-Heading_Lv4">Apple Watch SE<br>（第2世代）</h3>
        </div>
      </a>

      <%_ if (l_id) { _%>
        <a class="c-Card_Normal" href="/product/apple-watch/apple-watch-ultra/?l-id=<%- l_id %>_apple-watch-ultra">
      <%_ } else { _%>
        <a class="c-Card_Normal" href="/product/apple-watch/apple-watch-ultra/">
      <%_ } _%>
        <div class="product-apple-watch-Carousel_Img">
          <img src="/assets/img/product/apple-watch/Apple_Watch_Ultra_lineup-220909.png" alt="Apple Watch Ultra">
          <h3 class="c-Heading_Lv4">Apple Watch Ultra</h3>
        </div>
      </a>
    </div>
    <div class="c-Carousel_Nav-v2-wrap">
      <div class="c-Carousel_Nav-v2"></div>
      <div class="c-Carousel_Nav-v2-bar"></div>
    </div>
    <div class="<%- currentClassName %>_List-button u-Adjust_Mt-40">
      <ul>
        <li>
          <%_ if (l_id) { _%>
            <a href="/product/apple-watch/?l-id=<%- l_id %>_apple-watch" class="c-Btn_Regular"><span>Apple Watch一覧を見る</span></a>
          <%_ } else { _%>
            <a href="/product/apple-watch/" class="c-Btn_Regular"><span>Apple Watch一覧を見る</span></a>
          <%_ } _%>
        </li>
        <li>
          <%_ if (l_id) { _%>
            <a href="/product/apple-watch/comparison/?l-id=<%- l_id %><%- comparisonLid %>" class="c-Btn_Regular"><span>Apple Watchを比較する</span></a>
          <%_ } else { _%>
            <a href="/product/apple-watch/comparison/" class="c-Btn_Regular"><span>Apple Watchを比較する</span></a>
          <%_ } _%>
        </li>
      </ul>
    </div>
  </div>
</div>
