<section class="u-Adjust_Mt-24">
<h3 class="c-Heading_Lv3 u-Adjust_Align-center">関連サービス</h3>
<p class="u-Adjust_Align-center u-Adjust_Mt-8">Apple Watchだけで音声通話・データ通信ができる！</p>
<div class="l-Media_Grid-half u-Adjust_Mt-16">
  <div class="l-Media_Image">
    <h4 class="c-Heading_Lv4 u-Adjust_Align-center">自身で利用する場合</h4>
    <div class="u-Adjust_Mt-8">
      <a class="c-Banner_Hover-act" href="<%= sitepath %>service/number-share/?l-id=<%- l_id %>_banner_service_number-share">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-number-share-343-108-240301.png" width="686" height="216">
          <img src="<%= sitepath %>assets/img/bnr/bnr-number-share-504-158-240301.png" width="504" height="158" alt="電話番号シェアサービス（月額550円）。期間中にお申し込みで3カ月分（1,650円）を1,650ポイント還元で実質3カ月無料！" loading="lazy">
        </picture>
      </a>
    </div>
  </div>
  <div class="l-Media_Image">
    <h4 class="c-Heading_Lv4 u-Adjust_Align-center">家族のApple Watchで利用する場合</h4>
    <div class="u-Adjust_Mt-8">
      <a class="c-Banner_Hover-act" href="<%= sitepath %>fee/apple-watch-family-sharing/?l-id=<%- l_id %>_banner_fee_apple-watch-family-sharing">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-apple-watch-family-sharing-343-108-240322.png" width="686" height="216">
          <img src="<%= sitepath %>assets/img/bnr/bnr-apple-watch-family-sharing-504-158-240322.png" width="504" height="158" alt="「Apple Watch ファミリー共有」たった1台のiPhoneで、家族みんなのApple Watchとつながれます。" loading="lazy">
        </picture>
      </a>
    </div>
  </div>
</div>
</section>
