<% const {namespace, accessoryArray, lid} = accessoryCarouselConf -%>
<section class="<%= namespace %>-Carousel" id="recommend">
  <div class="l-System_Container">
    <div class="<%= namespace %>-Carousel_Wrapper">

      <%_ if (currentDir === "product_apple-watch") { _%>
        <h3 class="c-Heading_Lv3">Apple Watchのバンド一覧</h3>
      <%_ } else { _%>
        <h3 class="c-Heading_Lv3 u-Adjust_Align-center">関連アクセサリ</h3>
      <%_ } _%>
        <div class="u-Adjust_Mt-16">
          <div class="c-Carousel <%= namespace %>-Carousel_Wrap js-<%= namespace %>-Carousel-product">

            <%_ accessoryArray.forEach(value => { _%>
              <a class="c-Card_Normal <%= namespace %>-Carousel_Item" href="<%- value.url %>">
                <div class="<%= namespace %>-Carousel_Flex">
                  <div class="<%= namespace %>-Carousel_Img">
                    <img src="<%- value.image %>" alt="<%- value.name %>">
                  </div>
                  <div class="<%= namespace %>-Carousel_Txt">
                    <p class="c-Txt_Emp-02 c-Txt_Normal-m"><%= value.label %></p>
                    <p class="<%= namespace %>-Carousel_Name"><%- value.name %></p>
                  </div>
                </div>
                <div>
                  <%_ if(value.price) { _%>
                    <p class="<%= namespace %>-Carousel_Price"><span><%- value.price %></span>円</p>
                  <%_ } _%>
                </div>
              </a>
            <%_ }); _%>

          </div>
          <div class="c-Carousel_Nav-v2-wrap">
            <div class="c-Carousel_Nav-v2"></div>
            <div class="c-Carousel_Nav-v2-bar"></div>
          </div>
        </div>
    </div>
    <div class="l-System_Container u-Adjust_Align-center u-Adjust_Mt-16">
      <%_ if (currentDir === "product_apple-watch") { _%>
        <a href="<%= sitepath %>product/accessory/apple/?l-id=<%= lid %>#watch" class="c-Btn_Regular"><span>Apple Watchのバンド一覧を見る</span></a>
      <%_ } else if(currentDir === "iphone-14-pro-max-b") { _%>
        <a href="<%= sitepath %>product/accessory/apple/?l-id=iphone_iphone-14-pro-max-b_accessory_apple" class="c-Btn_Regular"><span>アクセサリ一覧を見る</span></a>
      <%_ } else { _%>
        <a href="<%= sitepath %>product/accessory/apple/?l-id=<%= lid %>" class="c-Btn_Regular"><span>アクセサリ一覧を見る</span></a>
      <%_ } _%>
    </div>
  </div>
</section>
