<% const theme = 'Light' -%>

<div class="<%= namespace %>-Price_Container">
  <h4 class="c-Heading_Lv4 u-Adjust_Align-center">製品価格</h4>
  <div class="l-Media_Grid-small <%= namespace %>-Price_Grid">
  <div class="<%= namespace %>-Price_Method <%= namespace %>-Theme_<%= theme %>-method">一括払い</div>
  <div>
    <div class="<%= namespace %>-Price_Method-detail-primary <%= namespace %>-Theme_<%= theme %>-border-bottom">
      <div>
        <div>製品価格（税込）</div>
        <div class="<%= namespace %>-Price_Pay">
          <%# 値引き前の製品価格がある場合（打ち消し価格が表示される）_%>
          <span class="disp-price-pre-wrap">
            <span class="disp-price-pre"></span>円*→
          </span>
          <span id="disp-price-total" class="<%= namespace %>-Price_Num-26"></span>円
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="l-Media_Grid-small <%= namespace %>-Price_Grid">
    <div class="<%= namespace %>-Price_Method <%= namespace %>-Theme_<%= theme %>-method">分割払い</div>
    <div>
      <div class="<%= namespace %>-Price_Method-detail-secondary">
        <div class="<%= namespace %>-Price_Method-detail-secondary-inner">
          <div class="<%= namespace %>-Price_Method-detail-secondary-item">
            <div>24回払い<sub>※1</sub></div>
            <div class="u-Adjust_Align-right">
              <%# 24回払い _%>
              <span id="disp-price-24" class="<%= namespace %>-Price_Num"></span>円/月
              <br>
              <span class="c-Txt_Cap" aria-hidden="false">※初回のみ<span id="disp-price-24-init"></span>円/月</span>
            </div>
          </div>
          <div class="<%= namespace %>-Price_Method-detail-secondary-item">
            <div>48回払い<sub>※1</sub> （楽天カード限定）</div>
            <div class="u-Adjust_Align-right">
              <%# 48回払い _%>
              <span id="disp-price-48" class="<%= namespace %>-Price_Num"></span>円/月
              <br>
              <span class="c-Txt_Cap" aria-hidden="false">※初回のみ<span id="disp-price-48-init"></span>円/月</span>
            </div>
          </div>
        </div>
        <p class="<%= namespace %>-Price_Recomend <%= namespace %>-Theme_<%= theme %>-recomend u-Adjust_Mt-8"><span>ご購入は楽天カードがオススメ！</span>楽天カードなら分割手数料0円！</p>
      </div>
    </div>
  </div>
  <div id="js-disp-option-sec" class="u-Adjust_Align-right u-Adjust_Mt-16" aria-hidden="false">
    <p>+ オプション料金（月額）<span id="js-disp-option" class="<%= namespace %>-Price_Num-26"></span>円</p>
    <p id="js-disp-option-appeal" class="c-Txt_Normal-s c-Txt_Emp-02"></p>
  </div>
</div>
