<% const pagetitle = "製品に関するサポート" -%>
<% const subCategory = "製品" -%>
<% const directories = [{path:"internet/turbo/support/", label:"お客様サポート"}] -%>
<% const namespace = "support-smallcategory" -%>
<%
  const pageInfo = {
    namespace,
    subCategory,
    linkListContent: [
      {
        path: 'internet/turbo/support/product/rakuten-turbo5g/',
        name: 'Rakuten Turbo 5G サポート情報'
      }
    ],
    faqDescription: false,
    isUserCategory: false
  };
%>
<%-
 include('/_header', {
    pagetitle,
    directories,
    description: '楽天モバイルのホームルーターRakuten Turboの製品に関するサポート情報をご確認いただけます',
    noindex: false,
    pathname: filepath,
    isTurbo: true
  });
%>

<%- include('/include/_common-css-v2') %>
<%- include('/include/internet/turbo/support/_smallcategory-css') %>
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/internet/turbo/_prepend-body-internet') %>
  <div class="l-System">
    <%- include('/include/internet/turbo/_header', {
      pagetitle,
      directories,
      tax: false,
    }) %>

    <section class="<%= namespace %>-Layout_Main">
      <div class="l-System_Container">
        <%- include('/include/internet/turbo/support/_smallcategory-main', { pageInfo }) %>
      </div>
    </section>

    <section class="<%= namespace %>-Layout_Faq">
      <div class="l-System_Container">
        <%- include('/include/internet/turbo/support/_smallcategory-faq', { pageInfo }) %>
      </div>
    </section>

    <section class="<%= namespace %>-Layout_Category">
      <div class="l-System_Container">
        <%- include('/include/internet/turbo/support/_smallcategory-category', { pageInfo }) %>
      </div>
    </section>

    <div class="u-Adjust_Mt-24">
      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
      <%- include('/include/internet/turbo/_footer', {  directories, pagetitle }) %>
    </div>
  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
  <%- include('/include/internet/turbo/_rex-survey') %>
  <script src="<%= sitepath %>assets/js/internet.turbo.support.category.bundle.js?20240521"></script>
  <%- include('/include/internet/turbo/support/_smallcategory-js') %>

</body>

</html>
