<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "料金" -%>
<% const directories = [] -%>

<%-
 include('/_header', {
    pagetitle: pagetitle,
    //directories: directories,
    description: '楽天ひかりの料金プランをはじめ、初期費用やオプション、お支払い方法などをご案内します。',
    noindex: false,
    pathname: filepath,
    ishikari: true,
    canonical_custom: 'https://network.mobile.rakuten.co.jp/hikari/fee/pricelist/'
  });
%>
<%- include('/include/hikari/_common-v2-hikari-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/fee/pricelist/pricelist.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/module/m-hikari-cpn-v2.css?20240424">
<%- include('/include/_append-head-hikari') %>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>

<div class="l-System">

  <%- include('/hikari/include/_header', {
    headerType: 'normal',
    directories: directories,
    pagetitle: pagetitle,
    pathname: filepath,
    fixedmenu: 'true'
  }) %>

  <div class="l-hikari-Section_Main">
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1" data-ratid="scroll-01_fee" data-ratevent="appear"><%= pagetitle %></h1>

      <ul class="hikari-pricelist-Nav_Inline">
        <li><a href="#month" class="c-Link_Txt-icon-front js-scroll" data-ratId="rhk_fee_inpage_anchor_plan" data-ratEvent="click" data-ratParam="all"><span class="c-Icon_Arrow-down-l"></span>月額基本料</a></li>
        <li><a href="#initialcost" class="c-Link_Txt-icon-front js-scroll" data-ratId="rhk_fee_inpage_anchor_simulation" data-ratEvent="click" data-ratParam="all"><span class="c-Icon_Arrow-down-l"></span>初期登録費</a></li>
        <li><a href="#construction" class="c-Link_Txt-icon-front js-scroll" data-ratId="rhk_fee_inpage_anchor_payment" data-ratEvent="click" data-ratParam="all"><span class="c-Icon_Arrow-down-l"></span>工事費</a></li>
        <li><a href="#option" class="c-Link_Txt-icon-front js-scroll" data-ratId="rhk_fee_inpage_anchor_plan" data-ratEvent="click" data-ratParam="all"><span class="c-Icon_Arrow-down-l"></span>オプション</a></li>
        <li><a href="#payment" class="c-Link_Txt-icon-front js-scroll" data-ratId="rhk_fee_inpage_anchor_payment" data-ratEvent="click" data-ratParam="all"><span class="c-Icon_Arrow-down-l"></span>お支払い方法</a></li>
        <li><a href="#cancellationfee" class="c-Link_Txt-icon-front js-scroll" data-ratId="rhk_fee_inpage_anchor_payment" data-ratEvent="click" data-ratParam="all"><span class="c-Icon_Arrow-down-l"></span>契約解除料</a></li>
      </ul>

      <div>
        <div id="month" class="hikari-pricelist-Util_Mt-scroll">
          <div class="l-hikari-Section_Sub-content-middle">
            <h2 class="c-Heading_Lv2">月額基本料</h2>
            <div class="l-hikari-Section_Sub-content-middle">
              <table class="c-Table_Container hikari-pricelist-Table-b_Standard">
                <colgroup class="hikari-pricelist-Table-b_Col-1">
                  <col>
                  <col>
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col" width="60%">プラン名</th>
                    <th scope="col" width="40%">月額料金</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <tr>
                      <td>マンションプラン<br class="hikari-pricelist_Br-sp">（集合住宅）</td>
                      <td>3,800円（税込4,180円）</td>
                    </tr>
                    <tr>
                      <td>ファミリープラン<br class="hikari-pricelist_Br-sp">（戸建）</td>
                      <td>4,800円（税込5,280円）</td>
                    </tr>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="u-Adjust_Mt-24">
              <ul class="c-List_Text-disc u-Adjust_Mt-8">
                <li>お客様が月の途中でお申し込みの場合でも、日割り計算を行わず初月を無料とします。</li>
                <li>契約期間および契約解除料については、Webサイト上に明示します。</li>
              </ul>
              <div class="u-Adjust_Mt-8">
                <p class="c-Txt_Cap">
                  ※ 契約期間、契約解除料、無料で解約できる期間は適用されているキャンペーンによって異なります。詳細は各キャンペーンルールや、「ご契約内容のお知らせ」または、メンバーズステーションでご確認ください。
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="initialcost" class="hikari-pricelist-Util_Mt-scroll">
        <div class="l-hikari-Section_Sub-short">
          <h2 class="c-Heading_Lv2">初期登録費</h2>
          <div class="l-hikari-Section_Sub-content-middle">
            <div class="l-hikari-Section_Sub-content-middle">
              <table class="c-Table_Container">
                <colgroup class="hikari-pricelist-Table-b_Col-4">
                  <col>
                  <col>
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">契約状況</th>
                    <th scope="col">初期登録費</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>フレッツ光のご利用がない方<span class="c-Txt_Normal-ss"> ※1</span></td>
                    <td>880円（税込）</td>
                  </tr>
                  <tr>
                    <td>フレッツ光をご利用中の方（転用）<span class="c-Txt_Normal-ss">※2</span></td>
                    <td>1,980円（税込）</td>
                  </tr>
                  <tr>
                    <td>他社光コラボをご利用中の方（事業者変更）<span class="c-Txt_Normal-ss">※3</span></td>
                    <td>1,980円（税込）</td>
                  </tr>
                </tbody>
              </table>
              <div class="u-Adjust_Mt-16">
                <p class="c-Txt_Cap">
                  ※1 インターネット回線契約が何もない、フレッツ光以外の光回線（ NURO 光、auひかり、SoftBank Air、ケーブルテレビインターネット、電力系光回線、モバイルWi-Fiなど）を利用している、 ADSL回線を利用している、いずれかに当てはまる方<br>
                  ※2 フレッツ光といずれかのプロバイダーを利用されている方（転用をご希望の方）<br>
                  ※3 他社光コラボ（SoftBank 光、ドコモ光、OCN 光、ぷらら光、ビッグローブ光、So-net 光 プラスなど）を利用されている方（事業者変更をご希望の方）
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="construction" class="hikari-pricelist-Util_Mt-scroll">
        <div class="u-Adjust_Mt-32">
          <h2 class="c-Heading_Lv2" id="anc-construction" data-ratid="scroll-02_construction-fee" data-ratevent="appear">工事費</h2>
          <div class="l-hikari-Section_Sub-content-middle">
            <p>工事費は、初めて光回線をご利用になる場合の標準工事費と、時間や曜日を指定した時にかかる加算工事費、割増工事費の合計金額です。</p>

            <div class="u-Adjust_Mt-32">
              <h3 class="c-Heading_Lv3">標準工事費</h3>


              <div class="u-Adjust_Mt-8 term-Scroll" id="">
                <h4 class="u-Adjust_Mt-24"><span class="c-Txt_Emp">マンションプラン（集合住宅）</span></h4>
                <table class="c-Table_Container term-Table hikari-pricelist-Table-b_noScroll_Construction-costs u-Adjust_Align-center u-Adjust_Mt-8">
                  <colgroup>
                      <col class="u-Adjust_W-80">
                      <col class="u-Adjust_W-80">
                      <col class="u-Adjust_W-80">
                      <col class="u-Adjust_W-80">
                  </colgroup>
                  <thead>
                      <tr>
                        <th rowspan="2" colspan="1" class="term-Table_Empty"></th>
                        <th class="u-Adjust_Align-center" rowspan="1" colspan="2" scope="col">派遣工事あり</th>
                        <th class="u-Adjust_Align-center" rowspan="2" colspan="1" scope="col">派遣工事なし</th>
                      </tr>
                      <tr>
                        <th class="u-Adjust_Align-center" rowspan="1" colspan="1" scope="col">配線調整あり</th>
                        <th class="u-Adjust_Align-center" rowspan="1" colspan="1" scope="col">配線調整なし</th>
                      </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <th class="u-Adjust_Align-center">一括</th>
                      <td class="u-Adjust_Align-center">22,000円（税込）</td>
                      <td class="u-Adjust_Align-center">11,660円（税込）</td>
                      <td class="u-Adjust_Align-center">3,300円（税込）</td>
                    </tr>
                    <tr>
                      <th class="u-Adjust_Align-center">
                        分割
                        <span class="hikari-pricelist_th-Span">（24回）</span>
                      </th>
                      <td class="u-Adjust_Align-center">916円（税込）／月※1</td>
                      <td class="u-Adjust_Align-center">485円（税込）／月※2</td>
                      <td class="u-Adjust_Align-center">137円（税込）／月※3</td>
                    </tr>
                  </tbody>
                 </table>
                  <h4 class="u-Adjust_Mt-24"><span class="c-Txt_Emp">ファミリープラン（戸建）</span></h4>
                  <table class="c-Table_Container term-Table hikari-pricelist-Table-b_noScroll_Construction-costs u-Adjust_Align-center u-Adjust_Mt-8">
                    <colgroup>
                        <col class="u-Adjust_W-80">
                        <col class="u-Adjust_W-80">
                        <col class="u-Adjust_W-80">
                        <col class="u-Adjust_W-80">
                    </colgroup>
                    <thead>
                        <tr>
                          <th rowspan="2" colspan="1" class="term-Table_Empty"></th>
                          <th class="u-Adjust_Align-center" rowspan="1" colspan="2" scope="col">派遣工事あり</th>
                          <th class="u-Adjust_Align-center" rowspan="2" colspan="1" scope="col">派遣工事なし</th>
                        </tr>
                        <tr>
                          <th class="u-Adjust_Align-center" rowspan="1" colspan="1" scope="col">配線調整あり</th>
                          <th class="u-Adjust_Align-center" rowspan="1" colspan="1" scope="col">配線調整なし</th>
                        </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <th class="u-Adjust_Align-center">一括</th>
                        <td class="u-Adjust_Align-center">22,000円（税込）</td>
                        <td class="u-Adjust_Align-center">11,660円（税込）</td>
                        <td class="u-Adjust_Align-center">3,300円（税込）</td>
                      </tr>
                      <tr>
                        <th class="u-Adjust_Align-center">
                          分割
                          <span class="hikari-pricelist_th-Span">（24回）</span>
                        </th>
                        <td class="u-Adjust_Align-center">916円（税込）／月※1</td>
                        <td class="u-Adjust_Align-center">485円（税込）／月※2</td>
                        <td class="u-Adjust_Align-center">137円（税込）／月※3</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
            <div class="u-Adjust_Mt-16">
              <p class="c-Txt_Cap">※1 最終月は932円の請求。※2 最終月は505円の請求。※3 最終月は149円の請求。</p>
              <p class="c-Txt_Cap">※設置場所の環境等により、派遣工事の有無、屋内配線の新設有無、および工事費が変更になる場合があります。</p>
              <p class="c-Txt_Cap">※室内に既存の配線がある場合においても、回線を繋ぎ直したり、マンション共用設備（MDF室等）での調整作業が発生し、配線の新設時と同等の工事費が発生する場合があります。</p>
              <p class="c-Txt_Cap">※2022年6月30日以前にお申し込みの場合は工事費支払い回数やお支払い金額が異なる場合があります。</p>
            </div>


              <h4 class="u-Adjust_Mt-32" data-ratid="scroll-03_change-operator" data-ratevent="appear"><span class="c-Txt_Emp">事業者変更・転用時の工事費</span></h4>
              <p class="u-Adjust_Mt-16">基本的に工事は実施しませんが、NTT東日本・NTT西日本の回線種類変更や端末変更などで、以下の工事、および工事費が発生する場合があります。</p>
              <div class="c-Table_Wrap u-Adjust_Mt-8">
                <table class="c-Table_Container term-Table hikari-pricelist-Table-b_noScroll_Construction-costs">
                  <colgroup>
                    <col class="u-Adjust_W-80">
                    <col class="u-Adjust_W-120">
                    <col class="u-Adjust_W-120">
                    <col class="u-Adjust_W-120">
                  </colgroup>
                  <thead class="hikari-pricelist-Table-b_noScroll_Construction-costs_thead">
                    <tr>
                      <th class="u-Adjust_Align-center term-Table_Empty" rowspan="2"></th>
                      <th class="u-Adjust_Align-center" rowspan="1" scope="col">派遣工事あり</th>
                      <th class="u-Adjust_Align-center" rowspan="1" scope="col">派遣工事なし</th>
                      <th class="u-Adjust_Align-center" rowspan="1" scope="col">工事なし</th>
                    </tr>
                    <tr>
                      <th class="u-Adjust_Align-center" rowspan="1" scope="col">回線種類／<br>端末変更あり</th>
                      <th class="u-Adjust_Align-center" rowspan="1" scope="col">回線種類／<br>端末変更あり</th>
                      <th class="u-Adjust_Align-center" rowspan="1" scope="col">回線種類／<br>端末変更なし</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th class="u-Adjust_Align-center" rowspan="1" scope="row">一括</th>
                      <td class="u-Adjust_Align-center">11,660円（税込）</td>
                      <td class="u-Adjust_Align-center">3,300円（税込）</td>
                      <td class="u-Adjust_Align-center">0円</td>
                    </tr>
                    <tr>
                      <th class="u-Adjust_Align-center">
                        分割
                        <span class="hikari-pricelist_th-Span">（24回）</span>
                      </th>
                      <td class="u-Adjust_Align-center">485円（税込）／月※4</td>
                      <td class="u-Adjust_Align-center">137円（税込）／月※5</td>
                      <td class="u-Adjust_Align-center">-</td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
            <div class="u-Adjust_Mt-16">
              <p class="c-Txt_Cap">※4 最終月は505円の請求。</p>
              <p class="c-Txt_Cap">※5 最終月は149円の請求。</p>
              <p class="c-Txt_Cap">※2022年6月30日以前にお申し込みの場合は工事費支払い回数やお支払い金額が異なる場合があります。</p>
            </div>


            <div class="u-Adjust_Mt-32">
              <h3 class="c-Heading_Lv3" data-ratid="scroll-04_change-date" data-ratevent="appear">時間や曜日を指定したい場合<br class="hikari-pricelist_Br-sp">（加算工事費・割増工事費）</h3>
              <div class="l-hikari-Section_Sub-content-middle">
                <p class="u-Adjust_Mt-16">工事の時間や曜日を指定する場合は以下の料金が追加でかかります。</p>
                <h4 class="c-Heading_Lv4 u-Adjust_Mt-16">時間帯を指定する場合</h4>
                <table class="c-Table_Container hikari-pricelist-Table-b_W-semiauto u-Adjust_Mt-16">
                  <colgroup class="hikari-pricelist-Table-b_Col-9">
                    <col>
                    <col>
                  </colgroup>
                  <thead>
                    <tr>
                      <th scope="col">時間帯／<br class="hikari-pricelist_Br-sp">1 時間ごとに指定可能</th>
                      <th scope="col">金額</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>昼間（9:00~16:00）</td>
                      <td>12,100円（税込）</td>
                    </tr>
                    <tr>
                      <td>夜間（17:00~21:00）</td>
                      <td>東日本エリア 19,800円（税込）<br>西日本エリア 22,000円（税込）</td>
                    </tr>
                    <tr>
                      <td>深夜（22:00~8:00）</td>
                      <td>東日本エリア 30,800円（税込）<br>西日本エリア 33,000円（税込）</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="u-Adjust_Mt-32">
              <h4 class="c-Heading_Lv4">夜間・深夜をご希望の場合</h4>
              <div class="l-hikari-Section_Sub-content-middle">
                <table class="c-Table_Container hikari-pricelist-Table-b_W-semiauto">
                  <colgroup class="hikari-pricelist-Table-b_Col-7">
                    <col>
                    <col>
                  </colgroup>
                  <thead>
                    <tr>
                      <th scope="col">時間帯</th>
                      <th scope="col">金額</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>夜間（17:00~22:00）</td>
                      <td>（昼間の工事費-1,100円）×1.3倍＋1,100円（税込）</td>
                    </tr>
                    <tr>
                      <td>深夜（22:00~8:30）</td>
                      <td>（昼間の工事費-1,100円）×1.6倍＋1,100円（税込）</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="u-Adjust_Mt-32">
              <h4 class="c-Heading_Lv4">土日・祝日をご希望の場合</h4>
              <div class="l-hikari-Section_Sub-content-middle">
                <table class="c-Table_Container c-Table_Container hikari-pricelist-Table-b_Standard">
                  <colgroup class="hikari-pricelist-Table-b_Col-8">
                    <col>
                    <col>
                  </colgroup>
                  <thead>
                    <tr>
                      <th scope="col" width="60%">日時</th>
                      <th scope="col" width="40%">金額</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>土日・祝日</td>
                      <td>3,300円（税込）</td>
                    </tr>
                  </tbody>
                </table>
                <div class="u-Adjust_Mt-16">
                  <p class="c-Txt_Cap">※ NTT西日本エリア:工事費の合計金額が31,900円を超える場合、31,900円ごとに3,850円の加算額が発生いたします。</p>
                </div>
              </div>
            </div>


            <div class="u-Adjust_Mt-48">

              <div class="c-Accordion">
                <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天ひかりを契約したままお引越しする場合</button>
                <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">


                  <h3 class="c-Heading_Lv3">移転工事費</h3>
                  <p>原則、工事完了日の翌月にご利用料金とあわせて一括でお支払いいただきます。</p>
                  <div class="u-Adjust_Mt-8">
                    <p class="c-Txt_Cap">※2022年6月30日以前に楽天ひかりのお申し込みを完了されたお客様は、お申し込み時に選択されたお支払い方法で請求いたします。</p>
                  </div>

                  <div class="l-hikari-Section_Sub-content-middle">
                    <h4 class="c-Heading_Lv4">東日本エリアから東日本エリアへのお引越し、または西日本エリアから西日本エリアへのお引越し</h4>
                    <div class="l-hikari-Section_Sub-content-middle">
                      <table class="c-Table_Container">
                        <colgroup class="hikari-pricelist-Table-b_Col-9">
                          <col>
                          <col>
                          <col>
                        </colgroup>
                        <thead>
                          <tr>
                            <th scope="col" colspan="2">工事内容</th>
                            <th scope="col">金額</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td rowspan="2">屋内配線調整あり</td>
                            <td>戸建</td>
                            <td>11,000円（税込）</td>
                          </tr>
                          <tr>
                            <td>集合住宅</td>
                            <td>11,000円（税込）</td>
                          </tr>
                          <tr>
                            <td>屋内配線調整なし</td>
                            <td>-</td>
                            <td>9,900円（税込）</td>
                          </tr>
                          <tr>
                            <td colspan="2">派遣工事なし</td>
                            <td>3,300円（税込）</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="u-Adjust_Mt-24">
                      <h4 class="c-Heading_Lv4">東日本エリアと西日本エリアをまたぐお引越し</h4>
                      <div class="l-hikari-Section_Sub-content-middle">
                        <table class="c-Table_Container">
                          <colgroup class="hikari-pricelist-Table-b_Col-9">
                            <col>
                            <col>
                            <col>
                          </colgroup>
                          <thead>
                            <tr>
                              <th scope="col" colspan="2">工事内容</th>
                              <th scope="col">金額</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td rowspan="2">屋内配線調整あり</td>
                              <td>戸建</td>
                              <td>22,000円（税込）</td>
                            </tr>
                            <tr>
                              <td>集合住宅</td>
                              <td>22,000円（税込）</td>
                            </tr>
                            <tr>
                              <td>屋内配線調整なし</td>
                              <td>-</td>
                              <td>11,660円（税込）</td>
                            </tr>
                            <tr>
                              <td colspan="2">派遣工事なし</td>
                              <td>3,300円（税込）</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div class="u-Adjust_Mt-24">
                      <h4 class="c-Heading_Lv4">NTT回線種別、NTT機器の変更費用</h4>
                      <div class="l-hikari-Section_Sub-content-middle">
                        <table class="c-Table_Container hikari-pricelist-Table-b_W-semiauto">
                          <colgroup class="hikari-pricelist-Table-b_Col-6">
                            <col>
                            <col>
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>品目変更</th>
                              <td>3,300円（税込）</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div class="u-Adjust_Mt-24">
                      <h4 class="c-Heading_Lv4">移転登録費</h4>
                      <div class="l-hikari-Section_Sub-content-middle">
                        <table class="c-Table_Container hikari-pricelist-Table-b_W-semiauto">
                          <colgroup class="hikari-pricelist-Table-b_Col-3">
                            <col>
                            <col>
                          </colgroup>
                          <thead>
                            <tr>
                              <th scope="col">契約状況</th>
                              <th scope="col">移転登録費</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>東日本エリアと西日本エリアをまたぐお引越し</td>
                              <td>880円（税込）</td>
                            </tr>
                          </tbody>
                        </table>

                        <div class="u-Adjust_Mt-16">
                          <p class="c-Txt_Cap">※ 東日本エリアから東日本エリアのお引越し、または西日本エリアから西日本エリアへのお引越しの場合、移転登録費はかかりません。</p>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>




              <div class="c-Accordion">
                <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>手数料が必要な場合</button>
                <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">

                  <div class="u-Adjust_Mt-24">
                    <h4 class="c-Heading_Lv4">事務手数料</h4>
                    <div class="l-hikari-Section_Sub-content-middle">
                      <table class="c-Table_Container hikari-pricelist-Table-b_noScroll">
                        <colgroup class="hikari-pricelist-Table-b_Col-10">
                          <col>
                          <col>
                          <col>
                        </colgroup>
                        <thead>
                          <tr>
                            <th scope="col">支払い方法</th>
                            <th scope="col">費目</th>
                            <th scope="col">金額</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td rowspan="2">口座振替</td>
                            <td>自動口座振替事務手数料</td>
                            <td>110円（税込）</td>
                          </tr>
                          <tr>
                            <td>口座振替請求書・領収書発行事務手数料（口座振替）</td>
                            <td>110円（税込）</td>
                          </tr>
                          <tr>
                            <td>窓口払い</td>
                            <td>請求書発行費用（窓口払い）</td>
                            <td>220円（税込）</td>
                          </tr>
                          <tr>
                            <td>クレジットカード</td>
                            <td>クレジットカード事務手数料</td>
                            <td>無料</td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="u-Adjust_Mt-16">
                        <p class="c-Txt_Cap">※ 口座振替で請求書、領収書をご利用の場合、合計220円の費用が発生します。</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="c-Accordion">
                <button type="button" id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>標準工事費が免除される場合</button>
                <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">

                  <div class="u-Adjust_Mt-32">
                    <div class="l-hikari-Section_Sub-content-middle">
                      <p>ADSL回線から楽天ひかりに切り替えを行った場合、以下の条件に該当した際は標準工事費が免除になります。</p>
                      <div class="u-Adjust_Mt-8">
                        <p class="c-Txt_Cap">※2021年11月25日時点</p>
                        <p class="c-Txt_Cap">※本特典は予告なく変更または中止となる場合がございます。</p>
                      </div>
                      <table class="c-Table_Container u-Adjust_Mt-24">
                        <colgroup class="hikari-pricelist-Table-b_Col-11">
                          <col>
                          <col>
                        </colgroup>
                        <tbody>
                          <tr>
                            <th>東日本エリア</th>
                            <td>
                              <p>フレッツADSL、フレッツISDNご利用で、NTT東日本にて利用者情報が確認できること。または、以下の提供事業者からのお申し込みで、対象サービスおよび契約IDが確認ができ、2017年11月末時点で利用をされていること。</p>
                              <p class="u-Adjust_Mt-16 c-Txt_Emp">対象提供事業者</p>
                              <p>
                                ソフトバンク株式会社、株式会社TOKAIコミュニケーションズ、株式会社長野県協同電算、新潟通信サービス、飯田ケーブルテレビ、狭山ケーブルテレビ、行田ケーブルテレビ、研究学園都市コミュニティケーブルサービス、NTT東日本
                              </p>
                            </td>
                          </tr>
                          <tr>
                            <th>西日本エリア</th>
                            <td>
                              <p>フレッツADSL、フレッツISDNご利用で、NTT西日本にて利用者情報が確認できること。または、以下の提供事業者からのお申し込みで、対象サービスおよび契約IDが確認ができ、2018年9月末時点で利用をされていること。</p>
                              <p class="u-Adjust_Mt-16 c-Txt_Emp">対象提供事業者</p>
                              <p>
                                ソフトバンク株式会社、株式会社TOKAIコミュニケーションズ、宮古テレビ株式会社、出雲ケーブルビジョン株式会社、NTT西日本
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>

        <div id="option" class="hikari-pricelist-Util_Mt-scroll">
          <div class="l-hikari-Section_Sub-short">
            <h2 class="c-Heading_Lv2" data-ratid="scroll-05_option" data-ratevent="appear">オプション</h2>
            <div class="l-hikari-Section_Sub-content-middle c-Table_Wrap-scroll">
              <div class="js-scrollable">
                <table class="c-Table_Container hikari-pricelist-Table-b_Scroll">
                  <colgroup class="hikari-pricelist-Table-b_Col-2">
                    <col>
                    <col>
                    <col>
                  </colgroup>
                  <thead>
                    <tr>
                      <th scope="col">オプション</th>
                      <th scope="col">月額料金</th>
                      <th scope="col">サービス内容</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><a href="/hikari/fee/option/remote-support/" class="c-Link_Txt-inline">電話設定サポート<span class="c-Icon_Chevron-right"></span></a></td>
                      <td>2,200円（税込）／回<span class="c-Txt_Normal-ss"> ※1</span></td>
                      <td>
                        <p>パソコンやスマホのネット接続に関するお困りごとを電話や専用リモートツールにてサポート</p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※「電話設定サポート」は株式会社ソースネクストが運営しております。</p>
                      </td>
                    </tr>
                    <tr>
                      <td><a href="/hikari/fee/option/super-security/" class="c-Link_Txt-inline">スーパーセキュリティ マルチプラットフォーム版<span class="c-Icon_Chevron-right"></span></a></td>
                      <td>月額 385円（税込）<span class="c-Txt_Normal-ss"> ※2</span></td>
                      <td>ビットディフェンダー・エンジン（Bitdefender Internet Security）を搭載し、防御力も軽さも備えたセキュリティソフト。Windows、Mac、Androidの組み合わせ自由に3台まで利用可能</td>
                    </tr>
                    <tr>
                      <td><a href="/hikari/fee/option/free-mail/" class="c-Link_Txt-inline">無料メールアドレス<span class="c-Icon_Chevron-right"></span></a></td>
                      <td>無料</td>
                      <td>最大10個のメールアドレスを利用可能</td>
                    </tr>
                    <tr>
                      <td><a href="/hikari/fee/option/free-mail-plus/" class="c-Link_Txt-inline">メールプラス<span class="c-Icon_Chevron-right"></span></a></td>
                      <td>
                        1,024MB：506円（税込）<br>
                        2,048MB：1,012円（税込）<br>
                        3,072MB：1,518円（税込）
                      </td>
                      <td>
                        <p>メールボックスに容量を追加することができるサービス。標準の200MBから最大3,072MBまで増やすことが可能</p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※ ドメインに「sannet.ne.jp」または「inet-osaka.or.jp」が含まれるメールアドレスは「メールプラス」お申し込み対象外です。</p>
                      </td>
                    </tr>
                    <tr>
                      <td><a href="/hikari/fee/option/virus-filter/" class="c-Link_Txt-inline">ウイルスフィルターサービス<span class="c-Icon_Chevron-right"></span></a></td>
                      <td>無料</td>
                      <td>メール送受信によるウイルスの感染を事前に防ぐサービス</td>
                    </tr>
                    <tr>
                      <td><a href="/hikari/fee/option/advanced-spam-filter/" class="c-Link_Txt-inline">アドバンストスパムフィルタ<span class="c-Icon_Chevron-right"></span></a></td>
                      <td>無料</td>
                      <td>学習機能により高度なフィルタリングが可能。サーバごとに迷惑メールを防止するサービス</td>
                    </tr>
                    <tr>
                      <td>無線LANカード</td>
                      <td>
                        東日本エリア：月額 330円（税込）<br>
                        西日本エリア：月額 110円（税込）
                      </td>
                      <td>
                        <p>最大速度866Mbpsの802.11acに対応した無線接続が可能</p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※ 本サービスはベストエフォート方式。高速性、常時接続性の保証はなく、状況により変動。</p>
                      </td>
                    </tr>
                    <tr>
                      <td>NTTホームゲートウェイ機器レンタル</td>
                      <td>
                        月額 220円（税込）
                      </td>
                      <td>無線LANカードに対応したONU一体型ルーター</td>
                    </tr>
                    <tr>
                      <td>
                        リモートサポート<br>
                        <a href="https://flets.com/osa/remote/s_outline.html" data-lid_no="02" target="_blank" rel="noopener noreferrer" class="c-Link_Txt-inline">NTT東日本<span class="c-Icon_New-window-l"></span></a><br>
                        <a href="https://flets-w.com/opt/remote_support/" data-lid_no="02" target="_blank" rel="noopener noreferrer" class="c-Link_Txt-inline">NTT西日本<span class="c-Icon_New-window-l"></span></a>
                      </td>
                      <td>550円（税込）</td>
                      <td>NTT東日本・NTT西日本が提供するサポートサービス。インターネット接続設定・スマホやタブレットのWi-Fi設定のほか、対象ソフトウェアのインストール方法や操作方法を365日年中無休でご案内</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="<%= sitepath %>hikari/fee/option/hikari-denwa/" class="c-Link_Txt-inline">ひかり電話<span class="c-Icon_Chevron-right"></span></a><br>
                        <a href="https://flets.com/hikaridenwa/order/" data-lid_no="03" target="_blank" rel="noopener noreferrer" class="c-Link_Txt-inline">NTT東日本 ひかり電話<span class="c-Icon_New-window-l"></span></a><br>
                        <a href="https://flets-w.com/opt/hikaridenwa/#anchor03" data-lid_no="03" target="_blank" rel="noopener noreferrer" class="c-Link_Txt-inline">NTT西日本 ひかり電話<span class="c-Icon_New-window-l"></span></a>
                      </td>
                      <td>ご利用金額の請求はNTT東日本・NTT西日本から行われます。</td>
                      <td>ひかり電話はNTT東日本、NTT西日本との契約になります。</td>
                    </tr>
                    <tr>
                      <td>
                        フレッツ・テレビ<br>
                        <a href="https://flets.com/ftv/order/" target="_blank" rel="noopener noreferrer" class="c-Link_Txt-inline">NTT東日本 フレッツ・テレビ<span class="c-Icon_New-window-l"></span></a><br>
                        <a href="https://flets-w.com/opt/ftv/" target="_blank" rel="noopener noreferrer" class="c-Link_Txt-inline">NTT西日本 フレッツ・テレビ<span class="c-Icon_New-window-l"></span></a>
                      </td>
                      <td>ご利用金額の請求はNTT東日本・NTT西日本から行われます。</td>
                      <td>フレッツ・テレビはNTT東日本、NTT西日本との契約になります。</td>
                    </tr>
                  </tbody>
                </table>
                <div class="u-Adjust_Mt-16">
                  <p class="c-Txt_Cap">※1 新規工事の日を含む60日間は1回に限り無料となります。</p>
                  <p class="c-Txt_Cap">※2 1 契約者につき、12 カ月間無料となります。</p>
                  <p class="c-Txt_Cap">※ 楽天ひかりをご契約中の方でご利用中のオプションサービスについて知りたい方は、メンバーズステーションよりご確認ください。</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- ////////////////////////////////////////////////////// お支払い方法 PC ////////////////////////////////////////////////////// -->
        <div id="payment" class="hikari-pricelist-Util_Mt-scroll"></div>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-48" data-ratid="scroll-06_payment-method" data-ratevent="appear">お支払い方法</h2>

        <div id="" class="hikari-pricelist-Table-b_Pc">
          <div class="l-hikari-Section_Sub-content-middle">
            <div class="">
              <table class="c-Table_Container hikari-pricelist-Table-b_noScroll">
                <colgroup class="hikari-pricelist-Table-b_Col-10">
                  <col>
                  <col>
                  <col>
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col" colspan="2">お支払い方法</th>
                    <th scope="col">手数料</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>クレジットカード</td>
                    <td>
                      Visa  /  Master  /  JCB  /  American Express  /  Diners Club<br>
                      楽天カードならポイントが貯まる！<br>
                      <a href="https://www.rakuten-card.co.jp/" data-lid_no="02" target="_blank" rel="noopener noreferrer" class="c-Link_Txt-inline">楽天カードについて詳しく見る<span class="c-Icon_New-window-l"></span></a></td>
                    <td>無料</td>
                  </tr>
                  <tr>
                    <td>デビットカード	</td>
                    <td>楽天銀行デビットカード</td>
                    <td>無料</td>
                  </tr>
                  <tr>
                    <td rowspan="2">口座振替</td>
                    <td>楽天銀行</td>
                    <td>無料</td>
                  </tr>
                  <tr>
                    <td>その他の銀行  /  信用金庫  /  信用組合  /  農協  /  ゆうちょ銀行自動払込</td>
                    <td>110円（税込）／月</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="u-Adjust_Mt-48">
            <h3 class="c-Heading_Lv3">注意事項</h3>
            <ul class="c-List_Text-disc u-Adjust_Mt-16">
              <li>クレジットカード、振替口座のご登録をいただけない場合、窓口払い請求書を有料（220円）にて発行いたします。</li>
              <li>楽天ひかりをオンラインでお申し込みいただく際、お支払い方法はクレジットカードもしくは楽天銀行の口座引き落としのみです。楽天銀行以外の金融機関でお支払いをご希望の場合は、お申し込み後、<a href="https://ms.fusioncom.co.jp/rbb/members/login?campaign=web-rakuten?l-id=rhk_ecare_01" target="_blank" rel="noopener noreferrer" class="c-Link_Txt-inline">メンバーズステーション<span class="c-Icon_New-window-l c-List_Text-disc-linkicon"></span></a>にある「各種資料請求」から口座振替依頼書をお取り寄せしてください。</li>
              <li>すでに楽天ひかりをご利用中で、お支払い方法の登録をされていない方は、<a href="https://ms.fusioncom.co.jp/rbb/members/login?campaign=web-rakuten?l-id=rhk_ecare_02" target="_blank" rel="noopener noreferrer" class="c-Link_Txt-inline">メンバーズステーション<span class="c-Icon_New-window-l c-List_Text-disc-linkicon"></span></a>で登録をしてください。</li>
              <li>スルガ銀行デビットカードのご利用について、2022年2月以降に発行された「スルガ銀行デビットカード」はご利用いただけませんのでご注意ください。2022年1月以前に発行されたカードは、2023年1月31日（火）に取り扱い終了となりました。</li>
              <li>SANNETサービスから自動移行されたお客様におかれましては、口座振替手数料は発生しません。</li>
            </ul>
          </div>

        </div>

        <!-- ////////////////////////////////////////////////////// お支払い方法 SP ////////////////////////////////////////////////////// -->
        <div id="" class="hikari-pricelist-Table-b_Sp">

          <div class="l-hikari-Section_Sub-content-middle">
            <div class="">
              <table class="c-Table_Container hikari-pricelist-Table-b_noScroll">
                <colgroup class="hikari-pricelist-Table-b_Col-6">
                  <col>
                  <col>
                </colgroup>
                <tbody>
                  <tr>
                    <td>クレジットカード<br>手数料無料</td>
                    <td>
                      <span style="word-break: break-word;">
                        Visa  /  Master  /  JCB  /  American Express  /  Diners Club<br>
                      楽天カードならポイントが貯まる！<br>
                      </span>
                      <a href="https://www.rakuten-card.co.jp/" target="_blank" rel="noopener noreferrer" class="c-Link_Txt-inline">楽天カードについて詳しく見る<span class="c-Icon_New-window-l"></span></a></td>
                  </tr>
                  <tr>
                    <td>デビットカード<br>手数料無料</td>
                    <td>楽天銀行デビットカード</td>
                  </tr>
                  <tr>
                    <td rowspan="1">口座振替<br>手数料無料</td>
                    <td>楽天銀行</td>
                  </tr>
                  <tr>
                    <td>口座振替<br>手数料110円／月</td>
                    <td>その他の銀行  /  信用金庫  /  信用組合  /  農協  /  ゆうちょ銀行自動払込</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="u-Adjust_Mt-48">
            <h3 class="c-Heading_Lv3">注意事項</h3>
            <ul class="c-List_Text-disc u-Adjust_Mt-16">
              <li>クレジットカード、振替口座のご登録をいただけない場合、窓口払い請求書を有料（220円）にて発行いたします。</li>
              <li>楽天ひかりをオンラインでお申し込みいただく際、お支払い方法はクレジットカードもしくは楽天銀行の口座引き落としのみです。楽天銀行以外の金融機関でお支払いをご希望の場合は、お申し込み後、<a href="https://ms.fusioncom.co.jp/rbb/members/login?campaign=web-rakuten?l-id=rhk_ecare_01" target="_blank" rel="noopener noreferrer" class="c-Link_Txt-inline">メンバーズステーション<span class="c-Icon_New-window-l c-List_Text-disc-linkicon"></span></a>にある「各種資料請求」から口座振替依頼書をお取り寄せしてください。</li>
              <li>すでに楽天ひかりをご利用中で、お支払い方法の登録をされていない方は、<a href="https://ms.fusioncom.co.jp/rbb/members/login?campaign=web-rakuten?l-id=rhk_ecare_02" target="_blank" rel="noopener noreferrer" class="c-Link_Txt-inline">メンバーズステーション<span class="c-Icon_New-window-l c-List_Text-disc-linkicon"></span></a>で登録をしてください。</li>
              <li>スルガ銀行デビットカードのご利用について、2022年2月以降に発行された「スルガ銀行デビットカード」はご利用いただけませんのでご注意ください。2022年1月以前に発行されたカードは、2023年1月31日（火）に取り扱い終了となりした。</li>
              <li>SANNETサービスから自動移行されたお客様におかれましては、口座振替手数料は発生しません。</li>
            </ul>
          </div>
        </div>



          <div id="cancellationfee" class="hikari-pricelist-Util_Mt-scroll"> </div>
          <div id="" class="l-hikari-Section_Sub-short">
            <h2 class="c-Heading_Lv2" data-ratid="scroll-07_cancel-fee" data-ratevent="appear">契約解除料</h2>
            <div class="l-hikari-Section_Sub-content-middle">
              <div class="">
                <table class="c-Table_Container hikari-pricelist-Table-b_noScroll">
                  <colgroup class="hikari-pricelist-Table-b_Col-6">
                    <col>
                    <col>
                  </colgroup>
                  <thead>
                    <tr>
                      <th scope="col" width="50%">プラン名</th>
                      <th scope="col" width="50%">契約解除料</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>マンションプラン<br class="hikari-pricelist_Br-sp">（集合住宅）</td>
                      <td>3,800円<br class="hikari-pricelist_Br-sp">（税込4,180円）</td>
                    </tr>
                    <tr>
                      <td>ファミリープラン<br class="hikari-pricelist_Br-sp">（戸建）</td>
                      <td>4,800円<br class="hikari-pricelist_Br-sp">（税込5,280円）</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="u-Adjust_Mt-16">
              <p class="c-Txt_Cap">※2022年6月30日以前にお申し込みが完了したお客様は時期により契約解除料が異なりますので、メンバーズステーションまたは「ご契約内容のお知らせ」でご確認ください。</p>
            </div>


            <div class="u-Adjust_Mt-48">
              <h3 class="c-Heading_Lv3">NTT東日本・NTT西日本 レンタル機器未返却時の請求金額</h3>
              <p class="u-Adjust_Mt-16">当社で回線撤去を伴う解約申請を受け付けた後、レンタル機器のご返却が行われない場合、以下に定める金額をお支払いいただきます。</p>
                <div class="u-Adjust_Mt-16">
                  <p class="c-Txt_Cap">※記載の請求金額は上限であり、利用期間等を考慮して当社で算定する実際の請求金額とは異なる場合があります。</p>
                </div>
              <div class="l-hikari-Section_Sub-content-middle c-Table_Wrap-scroll">
                <div class="js-scrollable">
                  <table class="c-Table_Container hikari-pricelist-Table-b_Scroll">
                    <colgroup class="hikari-pricelist-Table-b_Col-2">
                      <col>
                      <col>
                      <col>
                    </colgroup>
                    <thead>
                      <tr>
                        <th scope="col" width="60%" colspan="2">NTTレンタル機器</th>
                        <th scope="col" width="40%">請求金額（上限、不課税）</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td colspan="2">回線終端装置（ONU）</td>
                        <td>14,000円</td>
                      </tr>
                      <tr>
                        <td colspan="2">VDSL宅内装置</td>
                        <td>3,000円</td>
                      </tr>
                      <tr>
                        <td rowspan="2" width="30%">無線LAN対応型ルータ機能付回線接続装置<br>ルータ機能付回線接続装置</td>
                        <td width="30%">基本装置</td>
                        <td>12,000円</td>
                      </tr>
                      <tr>
                        <td>増設用無線LANカード</td>
                        <td>1,000円</td>
                      </tr>
                      <tr>
                        <td rowspan="2">ひかり電話対応ルータ</td>
                        <td>基本装置</td>
                        <td>12,000円</td>
                      </tr>
                      <tr>
                        <td>増設用無線LANカード</td>
                        <td>1,000円</td>
                      </tr>
                      <tr>
                        <td colspan="2">オフィスタイプ対応アダプター（VG・OG）4xx／8xx</td>
                        <td>58,000円</td>
                      </tr>
                      <tr>
                        <td colspan="2">オフィスタイプ対応アダプター（VG・OG）23xxシリーズ</td>
                        <td>360,000円</td>
                      </tr>
                      <tr>
                        <td colspan="2">映像回線終端装置</td>
                        <td>12,000円</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

          </div>
        </div>

          <div class="u-Adjust_Mt-48">
            <h3 class="c-Heading_Lv3" data-ratid="scroll-08_payment-schedule" data-ratevent="appear">月々のお支払いタイミング</h3>
            <p class="u-Adjust_Mt-16">楽天ひかりのサービスをご利用になった月に料金が発生し、翌月に請求させていただきます。</p>
            <p>クレジットカード払いの場合、ご利用月の翌月中旬に請求金額が確定します。口座からの引き落とし日はカード会社によって異なります。</p>
            <p>口座振替の場合はご利用月の翌月27日に指定の口座より引き落とされます。</p>
            <div class="hikari-pricelist_Timing-Image">
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/hikari/fee/pricelist/timing-sp.png">
                <img src="<%= sitepath %>assets/img/hikari/fee/pricelist/timing-pc.png" alt="">
              </picture>
            </div>
          </div>

          <div class="u-Adjust_Mt-48">
            <h3 class="c-Heading_Lv3 u-Adjust_Align-center">楽天ひかりと楽天モバイルを<br class="u-Show_Oox">セットでご利用の方へ</h3>

            <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
              <%- include('/include/hikari/bnr/_bnr-casa-1032-160', {
                orglid: 'rhk_hikari_fee_pricelist_product_internet_rakuten-casa_01',
              }) %>
            </div>
          </div>
        </div>

        <div style="border-top: 1px solid #bfbfbf;" class="u-Adjust_Mt-48">
          <div class="l-System_Container">
            <div class="u-Adjust_Mt-48">
              <h2 class="c-Heading_Lv3 u-Adjust_Align-center" data-ratid="scroll-09_turbo" data-ratevent="appear">Turboもひかりも、どちらもおトク</h2>
              <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
                <%- include('/include/hikari/bnr/_bnr', {
                  orglid1: 'rhk_hikari_fee_pricelist_internet_turbo_campaign_six-month-free_01',
                  orglid2: 'rhk_hikari_fee_pricelist_hikari_campaign_six-month-free_01'
                }) %>
              </div>
            </div>
          </div>
        </div>

  </div>

  <footer class="g-Footer" data-ratid="scroll-10_more-about-hikari" data-ratevent="appear">
    <%- include('/hikari/include/_footer', {
      pagetitle: pagetitle,
      directories: directories,
      // hiddenFooterCtaLink: '',
      // hiddenFooterCtaText: '楽天ひかりにお申し込み',
      hiddenFooterCta: true,
      // hiddenMenu: true,
      hiddenPopask: true,
      uniquePopask: 'pricelist',
      // hiddenBacktop: true,
      // hiddenBreadcrumbs: true,
      appearTag: true,
    }) _%>
  </footer>


</div>
<%- include('/include/hikari/_common-js') %>
<script src="<%= sitepath %>assets/js/hikari/fee.pricelist.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
