<% const pagetitle = "キャリアメール持ち運びで楽天モバイルに乗り換え" -%>
<% const directories = [{path:"cm/", label:"動画・テレビCMギャラリー"}] -%>
<% const namespace = "mail_portability" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '楽天モバイルへの乗り換え時に便利な「キャリアメール持ち運びサービス」をご紹介します。今ご利用中の携帯電話会社で提供しているメールアドレス（ドコモ・au・ソフトバンク・ワイモバイルなどのドメインメール）のまま楽天モバイルに乗り換えできます。',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/cm/mail_portability/mail_portability.css?20240424">
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
  <%- include('/include/_header',{applyHide:true}) %>
  <div class="c-Breadcrumbs_Head">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <div class="<%= namespace %>-Hero_Wrapper">
    <h1 class="<%= namespace %>-Hero">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/cm/mail_portability/kv-sp.png">
        <img src="<%= sitepath %>assets/img/cm/mail_portability/kv-pc.png" alt="キャリアメール持ち運びで今お使いのメールアドレスと一緒に楽天モバイルに乗り換えできる！">
      </picture>
    </h1>
  </div>

  <div class="<%= namespace %>-Utility_Bg-gray">
    <ul class="<%= namespace %>-Layout_Nav">
      <li>
        <div class="<%= namespace %>-Utility_Show-pc">
          <a href="#sec1" class="c-Link_Txt-icon-front">
            <span class="c-Icon_Arrow-down-l"></span>
            キャリアメール持ち運び<br class="<%= namespace %>-Utility_Show-pc">サービスとは？
          </a>
        </div>
        <div class="<%= namespace %>-Utility_Show-sp">
          <a href="#sec1" class="c-Link_Txt-icon-front">
            <span class="c-Icon_Arrow-down-l"></span>
            キャリアメール持ち運びサービス
          </a>
        </div>
      </li>
      <li>
        <a href="#sec2" class="c-Link_Txt-icon-front">
          <span class="c-Icon_Arrow-down-l"></span>
          他社プランとの料金比較
        </a>
      </li>
      <li>
        <div class="<%= namespace %>-Utility_Show-pc">
          <a href="#ul7" class="c-Link_Txt-icon-front">
            <span class="c-Icon_Arrow-down-l"></span>
            楽天モバイルの料金プラン<br class="<%= namespace %>-Utility_Show-pc">Rakuten最強プラン
          </a>
        </div>
        <div class="<%= namespace %>-Utility_Show-sp">
          <a href="#ul7" class="c-Link_Txt-icon-front">
            <span class="c-Icon_Arrow-down-l"></span>
            楽天モバイルの料金プラン
          </a>
        </div>
      </li>
      <li>
        <div class="<%= namespace %>-Utility_Show-pc">
          <a href="#sec4" class="c-Link_Txt-icon-front">
            <span class="c-Icon_Arrow-down-l"></span>
            楽天モバイルのキャリア<br class="<%= namespace %>-Utility_Show-pc">メール「楽メール」
          </a>
        </div>
        <div class="<%= namespace %>-Utility_Show-sp">
          <a href="#sec4" class="c-Link_Txt-icon-front">
            <span class="c-Icon_Arrow-down-l"></span>
            楽天モバイルのキャリアメール
          </a>
        </div>
      </li>
    </ul>
  </div>
  <div class="l-System_Container">
    <h2 id="sec1" class="c-Txt_Normal-ll <%= namespace %>-Utility_Mt-32-64 u-Adjust_Align-center">キャリアメール持ち運び<br class="<%= namespace %>-Utility_Show-sp">サービスとは？</h2>
    <p class="<%= namespace %>-Utility_Align-center-left u-Adjust_Mt-24">
      月額300円（税込330円）で、今ご契約中の携帯電話会社（ドコモ／au／ソフトバンク、その他）が<br class="<%= namespace %>-Utility_Show-pc">
      提供しているメールアドレスを、回線解約後も乗り換え先で引き続き利用することができるサービスです。<br>
      クラウドで保管されているメールデータも、そのまま残すことができます。
    </p>
    <div class="<%= namespace %>-Layout_Domain u-Adjust_Mt-16">
      <div class="<%= namespace %>-Layout_Domain-title">
        <h3 class="c-Txt_Normal-l c-Txt_Emp-02 u-Adjust_Align-center">ご利用中の携帯電話会社のドメインメールがそのまま楽天モバイルで使える！</h3>
      </div>
      <div class="<%= namespace %>-Layout_Domain-inner">
        <div class="-Utility_Mt-32-16 <%= namespace %>-Layout_Domain-content-01 u-Adjust_Align-center">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/cm/mail_portability/mp-for-rakuten-sp-240105.png" width="622" height="626">
            <img src="<%= sitepath %>assets/img/cm/mail_portability/mp-for-rakuten-pc-240105.png" width="836" height="216" alt="ドコモの@docomo.ne.jpも、auの@ezweb.ne.jpも、@au.comも、ソフトバンクの@i.softbank.jpも@softbank.ne.jpもご利用中の携帯電話会社のドメインメールがそのまま楽天モバイルで使える！">
          </picture>
        </div>
        <div class="-Utility_Mt-32-16 <%= namespace %>-Layout_Domain-content-02">
          <div class="<%= namespace %>-Layout_Domain-content-02-item u-Adjust_Align-center">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/cm/mail_portability/mp-past-sp.png" width="311">
              <img src="<%= sitepath %>assets/img/cm/mail_portability/mp-past-pc.png" alt="今までの乗り換え 今まで使っていたメールアドレスが使えなくなる">
            </picture>
          </div>
          <div class="<%= namespace %>-Layout_Domain-content-02-item u-Adjust_Align-center">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/cm/mail_portability/mp-feature-sp.png" width="311">
              <img src="<%= sitepath %>assets/img/cm/mail_portability/mp-feature-pc.png" alt="キャリアメール持ち運びサービスでの乗り換え 今まで使っていたメールアドレスがそのまま使える">
            </picture>
          </div>
        </div>
        <div class="u-Adjust_Mt-16">
          <a href="#sec4" class="c-Link_Txt-icon-front">
            <span class="c-Icon_Arrow-down-l"></span>楽天モバイルのキャリアメール「楽メール（@rakumail.jp）」の詳細はこちら
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="<%= namespace %>-Utility_Bg-pink u-Adjust_Mt-56 <%= namespace %>-Utility_Pb-40-56">
    <div class="l-System_Container">
      <div class="u-Adjust_Align-center <%= namespace %>-Utility_Pt-40-56">
        <h4 class="c-Txt_Normal-m c-Txt_Emp-02">＼ ストレスなく乗り換えられる ／</h4>
        <h3 id="js-fixed-nav-target" class="c-Txt_Normal-m c-Txt_Normal-l">キャリアメール持ち運びサービスはこんな人におすすめ！</h3>
      </div>
      <div class="<%= namespace %>-Layout_Recommend <%= namespace %>-Utility_Mt-48-56">
        <div class="<%= namespace %>-Layout_Recommend-item">
          <div class="<%= namespace %>-Layout_Recommend-item-inner u-Adjust_Align-center">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/cm/mail_portability/mp-reg-sp.png" width="311">
              <img src="<%= sitepath %>assets/img/cm/mail_portability/mp-reg-pc.png" alt="各サービスの会員登録に利用中">
            </picture>
          </div>
          <p class="u-Adjust_Mt-16">
            アプリなどの会員登録用や、銀行の口座開設時にキャリアメールを使っていて、いくつもの登録変更が必要なため携帯電話会社を乗り換えられない人に。
          </p>
        </div>
        <div class="<%= namespace %>-Layout_Recommend-item">
          <div class="<%= namespace %>-Layout_Recommend-item-inner u-Adjust_Align-center">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/cm/mail_portability/mp-list-sp.png" width="311">
              <img src="<%= sitepath %>assets/img/cm/mail_portability/mp-list-pc.png" alt="よく使う連絡先として利用中">
            </picture>
          </div>
          <p class="u-Adjust_Mt-16">
            キャリアメールのアドレスを名刺に記載していたり、長年愛用しているなど、メールアドレスの変更連絡を考えると乗り換えに踏み切れない人に。
          </p>
        </div>
      </div>
      <div class="u-Adjust_Mt-24">
        <p>サービスの詳細は、ご契約中の各社のサービスページをご確認ください。</p>
        <div class="<%= namespace %>-Layout_Other">
          <a href="https://www.docomo.ne.jp/service/docomo_mail_portability/" target="_blank" class="c-Link_Txt-inline" data-ratid="mail_portability_docomo" data-ratevent="click" data-ratparam="all">ドコモ<span class="c-Icon_New-window-l"></span></a>
          <a href="https://www.au.com/mobile/service/aumail_portability/" target="_blank" class="c-Link_Txt-inline" data-ratid="mail_portability_au" data-ratevent="click" data-ratparam="all">au<span class="c-Icon_New-window-l"></span></a>
          <a href="https://www.softbank.jp/mobile/service/mail-address-portability/" target="_blank" class="c-Link_Txt-inline" data-ratid="mail_portability_softbank" data-ratevent="click" data-ratparam="all">ソフトバンク<span class="c-Icon_New-window-l"></span></a>
          <a href="https://www.softbank.jp/mobile/service/mail-address-portability/ymobile/ymobile-mail/" target="_blank" class="c-Link_Txt-inline" data-ratid="mail_portability_ymobile" data-ratevent="click" data-ratparam="all">ワイモバイル<span class="c-Icon_New-window-l"></span></a>
        </div>
      </div>
    </div>
  </div>

  <div id="sec2" class="<%= namespace %>-Utility_Bg-gray u-Adjust_Pb-64">
    <div class="l-System_Container">
      <div class="<%= namespace %>-Layout_Comp">
        <h4 class="<%= namespace %>-Utility_Fs-20-16">他社プランとの料金比較</h4>
        <h3 class="c-Txt_Emp-02 u-Adjust_Mt-8 <%= namespace %>-Utility_Fs-24-20 u-Adjust_Align-center">＼ データ無制限で使うなら ／</h3>
        <h2 class="u-Adjust_Mt-8 u-Adjust_Align-center">
          今お使いのメールのまま<br class="<%= namespace %>-Utility_Show-sp">
          楽天モバイルへの乗り換え<br class="<%= namespace %>-Utility_Show-sp">
          が断然おトク！
        </h2>
        <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/cm/mail_portability/mp-graph-sp-240221.png" width="343">
            <img src="<%= sitepath %>assets/img/cm/mail_portability/mp-graph-pc-240221.png" alt="Rakuten最強プランなら、ドコモのプランギガホ プレミアや、auのプラン使い放題MAX 5G／使い放題MAX 4Gやソフトバンクのプランメリハリ無制限+と比べて毎月約55%も安い。 +月額300円（税込330円）でキャリアメール持ち運びサービスを利用しても毎月50%も安い!">
          </picture>
        </div>
        <div class="<%= namespace %>-Utility_Mt-40-24 u-Adjust_Align-center">
          <a href="<%= sitepath %>fee/saikyo-plan/?l-id=cm_mail_portability_fee_saikyo-plan" class="c-Btn_Regular-large"><span>料金プランの詳細を見る</span></a>
        </div>
        <div class="u-Adjust_Mt-16 <%= namespace %>-Layout_Comp-link-mod-01">
          <div class="u-Adjust_Mt-16 <%= namespace %>-Layout_Comp-link-mod-01-item">
            <a href="#sec3" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>他キャリアの家族割引された料金プランとの比較</a>
          </div>
        </div>
        <p class="c-Txt_Cap u-Adjust_Mt-16">
          ※通話料等別 
          ※1 公平にサービスを提供するため通信速度の制御を行う場合があります。 ※2 「eximo」の場合 ※3 「使い放題MAX 5G／使い放題MAX 4G」の場合 ※4 「メリハリ無制限+」の場合<br>
          ※通話料等は別費用。<span class="c-Txt_Emp-02">その他、各種キャンペーンによって、割引が適用される場合あり。</span>記載された情報は2023年11月2日時点の情報
        </p>
      </div>

      <div class="u-Adjust_Mt-40 u-Adjust_Mt-sp-32 u-Adjust_Align-center">
        <a href="<%= sitepath %>fee/family/?l-id=cm_mail_portability_fee_family" class="c-Banner_Hover-act">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-saikyo-family-program-343-193-240430.png" width="343" height="193">
            <img src="<%= sitepath %>assets/img/bnr/bnr-saikyo-family-program-1032-160-240430.png" width="1032" height="160" alt="最強家族プログラムは データ３GB（家族割引のみ適用時）全キャリア最安880円/月～（税込968円～）※2024年2月時点 ※通話料等別" loading="lazy">
          </picture>
        </a>
      </div>

      <div class="<%= namespace %>-Layout_Btns u-Adjust_Mt-40 u-Adjust_Mt-sp-64">
        <a href="<%= sitepath %>guide/application/?lid-r=cm_mail_portability_onboarding" class="c-Btn_Primary-large"><span>新規／乗り換え（MNP）お申し込み</span></a>
        <a href="<%= sitepath %>shop/?l-id=cm_mail_portability_shop" class="c-Btn_Secondly-large"><span>お近くのショップを探す</span></a>
      </div>
      <p class="u-Adjust_Mt-24 <%= namespace %>-Layout_Icon-front">
        <span class="<%= namespace %>-Layout_Icon-front-icon"></span>
        <a href="<%= sitepath %>guide/application-support/?l-id=cm_mail_portability_guide_application-support" class="c-Link_Txt-inline">オペレーターと相談しながらお申し込み！詳細はこちら<span class="c-Icon_Chevron-right"></span></a>
      </p>
    </div>
  </div>
  <div id="sec3" class="l-System_Container">
    <div class="u-Adjust_Align-center u-Adjust_Mt-56">
      <img src="<%= sitepath %>assets/img/cm/mail_portability/icon-comp.png" alt="" width="65">
    </div>
    <h4 class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-8 u-Adjust_Align-center">他社プラン比較</h4>
    <h2 class="c-Txt_Normal-ll u-Adjust_Mt-8 u-Adjust_Align-center">他キャリアの家族割引された料金プランとの比較</h2>
    <p class="u-Adjust_Mt-16 u-Adjust_Align-center">楽天モバイルなら、毎月のデータ利用量でお支払い額を安くすることも可能</p>
    <div class="<%= namespace %>-Layout_Comp-table-wrapper <%= namespace %>-Utility_Mt-24-32">
      <div class="<%= namespace %>-Layout_Comp-table <%= namespace %>-Scroll js-scrollable scroll-hint is-scrollable <%= namespace %>-Utility_Show-sp">
        <img class="<%= namespace %>-Scroll_Img" src="<%= sitepath %>assets/img/cm/mail_portability/comp-table-sp-240221.svg" alt="他社プラン比較">
      </div>
      <div class="<%= namespace %>-Layout_Comp-table <%= namespace %>-Utility_Show-pc">
        <img src="<%= sitepath %>assets/img/cm/mail_portability/comp-table-pc-240221.svg" alt="他社プラン比較">
      </div>
    </div>
    <div class="u-Adjust_Mt-32 <%= namespace %>-Layout_Comp-note">
      <p class="c-Txt_Cap">
        <span class="c-Txt_Emp-02">※その他、各種キャンペーンによって、割引が適用される場合あり</span> <br class="<%= namespace %>-Utility_Show-sp">※記載された情報は2024年2月時点の情報 ※その他の条件の<a href="#note" class="c-Link_Txt js-scroll">詳細はこちら</a>
      </p>
    </div>
    <div class="<%= namespace %>-Utility_Mt-40-24 u-Adjust_Align-center">
      <a href="<%= sitepath %>fee/saikyo-plan/?l-id=cm_mail_portability_fee_saikyo-plan" class="c-Btn_Regular-large"><span>料金プランの詳細を見る</span></a>
    </div>
    <div id="ul7" class="<%= namespace %>-Layout_Fee">
      <div class="u-Adjust_Align-center u-Adjust_Mt-56">
        <img src="<%= sitepath %>assets/img/cm/mail_portability/icon-data.png" alt="" width="65">
      </div>
      <h4 class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-8 u-Adjust_Align-center">データ通信</h4>
      <div class="u-Adjust_Mt-8">
        <h2 class="c-Txt_Normal-ll u-Adjust_Align-center">
          <span class="<%= namespace %>-Utility_Show-pc">
            楽天モバイルの料金プランは使った分だけお支払い。<br>「Rakuten最強プラン」
          </span>
          <span class="<%= namespace %>-Utility_Show-sp">
            使った分だけお支払い。<br>「Rakuten最強プラン」
          </span>
        </h2>
      </div>
      <div class="u-Adjust_Mt-24 <%= namespace %>-Layout_Plan">
        <div class="<%= namespace %>-Layout_Plan-content <%= namespace %>-Utility_Mt-24-16 u-Adjust_Align-center">
          <div class="<%= namespace %>-Utility_Mt-24-16">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/cm/mail_portability/mp-fee-graph-sp-240430_2.png" width="348" height="430">
              <img src="<%= sitepath %>assets/img/cm/mail_portability/mp-fee-graph-pc-240430_2.png" alt="使わなければ勝手に安くなるおトクなワンプラン" width="855" height="437">
            </picture>
          </div>
          <div class="<%= namespace %>-Utility_Mt-24-16 <%= namespace %>-Layout_Plan-content-abroad">
            <div class="<%= namespace %>-Layout_Plan-content-abroad-item-wrapper">
              <div class="<%= namespace %>-Layout_Plan-content-abroad-item">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/cm/mail_portability/mp-fee-txt-03-sp.png" width="272">
                  <img src="<%= sitepath %>assets/img/cm/mail_portability/mp-fee-txt-03-pc.png" alt="海外でも 対象国と地域で毎月2GBまで無料で使える" width="586">
                </picture>
                <div class="<%= namespace %>-Layout_Plan-content-abroad-item-sub <%= namespace %>-Utility_Show-pc">
                  <img src="<%= sitepath %>assets/img/cm/mail_portability/mp-caution-01-pc-230601.png" alt="プランのデータ利用量に加算。通話料等別。2GB超過後は最大128kbps※6" width="350">
                  <a href="<%= sitepath %>service/global/overseas/?l-id=cm_mail_portability_service_global_overseas#accordion-1" class="c-Link_Txt-inline">対象エリアを見る<span class="c-Icon_Chevron-right"></span></a>
                </div>
                <div class="<%= namespace %>-Layout_Plan-content-abroad-item-sub-sp <%= namespace %>-Utility_Show-sp">
                  <div class="<%= namespace %>-Layout_Plan-content-abroad-item-sub-sp-inner">
                    <img src="<%= sitepath %>assets/img/cm/mail_portability/mp-caution-01-sp-230601.png" alt="プランのデータ利用量に加算。通話料等別。2GB超過後は最大128kbps※6" width="182">
                    <a href="<%= sitepath %>service/global/overseas/?l-id=cm_mail_portability_service_global_overseas#accordion-1" class="c-Link_Txt-inline">対象エリアを見る<span class="c-Icon_Chevron-right"></span></a>
                  </div>
                  <img src="<%= sitepath %>assets/img/cm/mail_portability/mp-icon-earth.png" alt="" width="75">
                </div>
              </div>
              <div class="<%= namespace %>-Utility_Show-pc">
                <img src="<%= sitepath %>assets/img/cm/mail_portability/mp-icon-earth.png" alt="" width="75">
              </div>
            </div>
          </div>
          <div class="u-Adjust_Align-center u-Adjust_Mt-16">
            <a href="<%= sitepath %>fee/saikyo-plan/?l-id=cm_mail_portability_fee_saikyo-plan" class="c-Btn_Regular-large"><span>料金プランの詳細を見る</span></a>
          </div>
        </div>
      </div>
    </div>
    <div id="sec4" class="u-Adjust_Align-center u-Adjust_Mt-56">
      <img src="<%= sitepath %>assets/img/cm/mail_portability/icon-mail.png" alt="" width="65">
    </div>
    <h4 class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-8 u-Adjust_Align-center">メール</h4>
    <h2 class="c-Txt_Normal-ll u-Adjust_Mt-8 u-Adjust_Align-center">楽天モバイルの<br class="<%= namespace %>-Utility_Show-sp">キャリアメールも使える！</h2>
    <div class="u-Adjust_Mt-24 <%= namespace %>-Layout_Mail">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/cm/mail_portability/mp-rakumail-sp.png" width="311">
        <img src="<%= sitepath %>assets/img/cm/mail_portability/mp-rakumail-pc.png" alt="安心のセキュリティ 大容量送受信 アプリで一括管理 ご利用までは簡単2ステップ" width="407">
      </picture>
      <div class="<%= namespace %>-Layout_Mail-item">
        <h2 class="c-Txt_Normal-ll <%= namespace %>-Utility_Mt-0-24">楽メール</h2>
        <p class="u-Adjust_Mt-16">楽天モバイルのドメイン（@rakumail.jp）で、メールサービスが<span class="c-Txt_Emp-01">無料</span>でご利用いただけます</p>
        <div class="<%= namespace %>-Utility_Align-left-center u-Adjust_Mt-16">
          <a href="<%= sitepath %>service/rakumail/?l-id=cm_mail_portability_service_rakumail" class="c-Btn_Regular"><span class="<%= namespace %>-Utility_Mt-16-24">詳細を見る</span></a>
        </div>
        <div class="u-Adjust_Mt-16">
          <p class="c-Txt_Cap u-Adjust_Align-left">
            ※楽天モバイル（楽天回線）のご契約、初期設定、Rakuten Linkアプリが必要。データ利用量としてカウントされます。<br>
            ※<a href="#note" class="c-Link_Txt">その他条件の詳細はこちら</a>
          </p>
        </div>
      </div>
    </div>
    <div id="note" class="<%= namespace %>-Layout_Note">
      <h4 class="c-Txt_Normal-m u-Adjust_Mt-80">注意事項</h4>
      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">料金プランについて</p>
      <p class="u-Adjust_Mt-8 c-Txt_Cap">
        ※1 公平にサービスを提供するため通信速度の制御を行う場合があります。<br>
        ※5 毎月のデータ利用量によってプラン料金が変動いたします。<br>
        ※5 ご契約1回線目において、一定期間以上回線のご利用がない場合は、回線の利用停止または解約をさせていただく場合がございます。
      </p>
      <p class="c-Txt_Emp-01 u-Adjust_Mt-24">海外の通信について</p>
      <p class="u-Adjust_Mt-8 c-Txt_Cap">
        ※6 通話料等別。プランのデータ利用量に加算。2GB超過後は最大128kbps。対象エリアおよび条件は変更する場合あり。<a href="<%= sitepath %>service/global/overseas/?l-id=cm_mail_portability_service_global_overseas/#accordion-1" class="c-Link_Txt">対象エリア</a>をご確認ください。
      </p>
      <p class="c-Txt_Emp-01 u-Adjust_Mt-24">楽メールについて</p>
      <p class="u-Adjust_Mt-8 c-Txt_Cap">
        ※楽天モバイル（楽天回線）のご契約、初期設定、Rakuten Linkアプリが必要です。データ利用量としてカウントされます。楽天IDに対して、1つのメールアドレスの設定が可能です。複数回線をご契約の場合も同様となります。ご契約中の回線を解約した場合、楽メールのご利用／閲覧ができなくなります。<br>
        ※ストレージ容量の上限を超える場合、メールの送受信が制限される場合があります。受信されなかったメールは、後日ストレージ容量が空いた場合でも受信できないことがあります。
      </p>
      <p class="c-Txt_Emp-01 u-Adjust_Mt-24">■他社プラン比較条件について</p>
      <p class="u-Adjust_Mt-8 c-Txt_Cap">
        <span class="c-Txt_Emp-02">※その他、各種キャンペーンによって、割引が適用される場合があります。</span><br>
        *1 公平なサービスのため、速度制限の場合あり。環境により速度低下する場合あり<br>
        *2 毎月のデータ利用量によってプラン料金が変動いたします。データ利用量は日本全国の通信エリアおよび海外ローミングエリアのすべてのエリアでカウントされます（データ高速モードがOFFであってもデータ利用量はカウントされます）<br>
        *3（0570）などから始まる他社接続サービス、一部特番（188）への通話については、無料通話の対象外となります。OS標準の電話アプリを利用した場合、30秒22円。国内SMSは3円（税込3.3円）／70文字（全角）～
        *4 楽天モバイル「15分（標準）通話かけ放題」は、15分超過後は30秒22円。一部対象外番号あり。SMS送信件数は1日あたりの上限あり。<br>
        *5  国内通話5分かけ放題の5分超過後は30秒22円。一部対象外番号あり<br>
        *6  一部対象外番号あり
      </p>
    </div>
  </div>
  <div id="js-fixed-nav" class="<%= namespace %>-Layout_Nav-top" aria-hidden="true">
    <ul>
      <li>
        <a href="#sec1" class="<%= namespace %>-Layout_Nav-top-link">
          <span>サービス</span>
          <img src="<%= sitepath %>assets/img/cm/mail_portability/icon-tel.png" alt="">
        </a>
      </li>
      <li>
        <a href="#sec2" class="<%= namespace %>-Layout_Nav-top-link">
          <span>他社比較</span>
          <img src="<%= sitepath %>assets/img/cm/mail_portability/icon-comp-02.png" alt="">
        </a>
      </li>
      <li>
        <a href="#sec3" class="<%= namespace %>-Layout_Nav-top-link">
          <span>料金プラン</span>
          <img src="<%= sitepath %>assets/img/cm/mail_portability/icon-money.png" alt="">
        </a>
      </li>
      <li>
        <a href="#sec4" class="<%= namespace %>-Layout_Nav-top-link">
          <span>メール</span>
          <img src="<%= sitepath %>assets/img/cm/mail_portability/icon-letter.png" alt="">
        </a>
      </li>
    </ul>
  </div>

  <div id="js-bottom-apply" class="<%= namespace %>-Layout_Apply" aria-expanded="true">
    <div class="<%= namespace %>-Layout_Btns <%= namespace %>-Layout_Apply-content">
      <a href="<%= sitepath %>guide/application/?lid-r=cm_mail_portability_onboarding" class="c-Btn_Primary-large <%= namespace %>-Utility_Show-pc">
        <span>
          新規／乗り換え（MNP）お申し込み
        </span>
      </a>
      <a href="<%= sitepath %>guide/application/?lid-r=cm_mail_portability_onboarding" class="c-Btn_Primary-large <%= namespace %>-Utility_Show-sp">
        <span>
          新規／乗り換え(MNP)
        </span>
      </a>
      <a href="<%= sitepath %>shop/?l-id=cm_mail_portability_shop" class="c-Btn_Secondly-large"><span>お近くのショップを探す</span></a>
    </div>
  </div>

  <footer class="g-Footer u-Adjust_Mt-64 <%= namespace %>-Layout_Footer">
    <div class="g-Footer_Aside">
      <%- include('/include/footer/related/_related-news.ejs') %>
      <%- include('/include/footer/bnr/_bnr-news.ejs') %>
    </div>
    <div class="l-System_Container">
      <div class="c-Breadcrumbs_Foot">
        <ul>
          <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ if (typeof directories !== 'undefined') { _%>
          <%_ let dirs = []; _%>
          <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
              <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
              <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
          <%_ }) _%>
          <%_ } _%>
          <li aria-current="true"><%= pagetitle %></li>
        </ul>
      </div>
    </div>
    <%- include('/include/_footer') %>
  </footer>

</div>

  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/cm-mail_portability.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
</body>
</html>
