<% const pagetitle = "よくあるご質問" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css') %>
<%- include('/include/faq/_category-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="faq-Layout_Container">
  <div class="l-System_Container">
    <div class="faq-Heading_Container">
      <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
    </div>
  </div>

  <div class="l-System_Container">
    <div class="faq-Ranking_Container">
      <h2 class="c-Heading_Lv2">よく見られているご質問</h2>
      <ul class="c-Link_List faq-Ranking_List">
        <li><a href="<%= sitepath %>faq/07.html">プランについて教えてください。<span class="c-Icon_Chevron-right"></span></a></li>
        <li><a href="<%= sitepath %>faq/22.html">申し込みに必要なものを教えてください。<span class="c-Icon_Chevron-right"></span></a></li>
        <li><a href="<%= sitepath %>faq/06.html">契約プランのデータ容量をオーバーした場合、データ通信ができなくなりますか？<span class="c-Icon_Chevron-right"></span></a></li>
      </ul>
    </div>
  </div>

  <%
    const cats = [
      {
        icon: 'new-application',
        title: '新規お申し込み'
      },
      {
        icon: 'plan-service',
        title: 'プラン・サービス'
      },
      {
        icon: 'campaign',
        title: 'キャンペーン・特典'
      },
      {
        icon: 'demand-sign',
        title: '請求・契約変更'
      },
      {
        icon: 'smartphone',
        title: '操作・設定・故障'
      },
      {
        icon: 'area',
        title: 'エリア・通信'
      },
      {
        icon: 'lost',
        title: '盗難・紛失'
      },
      {
        icon: 'other',
        title: 'その他'
      }
    ]

    const max = cats.length
  %>
  <div class="l-System_Container u-Adjust_Mt-64">
    <div class="faq-Ranking_Container">
      <h2 class="c-Heading_Lv2">カテゴリーから探す</h2>
      <div class="faq-Layout_Show-pc u-Adjust_Mt-24">
        <div class="faq-Layout_List">
          <% for (var i = 0; i < max; i++) { %>
            <div class="faq-Layout_List-item">
              <h3 class="c-Txt_Normal-m">
                <div class="faq-Layout_List-heading c-Icon_Product-<%= cats[i].icon %>">
                  <span class="c-Txt_Emp-01"><%= cats[i].title %></span>
                </div>
              </h3>
              <ul class="c-Link_List-bg">
                <li>
                  <a href="#">項目テキスト<span class="c-Icon_Chevron-right"></span></a>
                </li>
                <li>
                  <a href="#">項目テキスト<span class="c-Icon_Chevron-right"></span></a>
                </li>
                <li>
                  <a href="#">項目テキスト<span class="c-Icon_Chevron-right"></span></a>
                </li>
              </ul>
            </div>
          <% } %>
        </div>
      </div>
      <div class="faq-Layout_Show-sp u-Adjust_Mt-24">
        <% for (var i = 0; i < max; i++) { %>
          <div class="c-Accordion">
            <button id="accordion-<%= i + 1 %>" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-<%= i + 1 %>">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
              <div class="faq-Layout_List-heading c-Icon_Product-<%= cats[i].icon %>">
                <span class="faq-Layout_List-heading-text"><%= cats[i].title %></span>
              </div>
            </button>
            <div id="accordion-content-<%= i + 1 %>" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-<%= i + 1 %>" aria-hidden="true">
              <ul class="c-Link_List-bg">
                <li>
                  <a href="#">項目テキスト<span class="c-Icon_Chevron-right"></span></a>
                </li>
                <li>
                  <a href="#">項目テキスト<span class="c-Icon_Chevron-right"></span></a>
                </li>
                <li>
                  <a href="#">項目テキスト<span class="c-Icon_Chevron-right"></span></a>
                </li>
              </ul>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">



    <%- include('/include/footer/bnr/_bnr-faq.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
