<% const pagetitle = "不要になったスマホなどの廃棄方法について" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/product/setting/", label:"設定・操作・故障"}, {path:"guide/product-safety/", label:"スマートフォン・周辺機器などの使用に関するご注意"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'リチウムイオン電池搭載製品を廃棄する際の注意点などをご紹介いたします。',
    noindex: false,
    pathname: filepath
  });
%>
<% const namespace = "product-battery-disposal" -%>
<% const layout = `${namespace}-Layout` -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/product-safety/battery-disposal/<%= namespace %>.css?20240424">
<%- include('/include/guide/product-safety/_warranty-service-css') %>
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>

    <div class="l-System_Container u-Adjust_Pt-24">
      <section class="<%= namespace %>-Hero">
        <div>
          <h1 class="c-Heading_Lv1">不要になったスマホなどの廃棄方法について</h1>
          <p class="u-Adjust_Mt-24 u-Adjust_Mt-pc-8">
            リチウムイオン電池搭載製品を廃棄する際の注意点などをご紹介いたします。
          </p>
        </div>
        <div class="<%= namespace %>-Hero_Img">
          <img
            src="<%= sitepath %>assets/img/guide/product-safety/battery-disposal/hero.png"
            alt=""
            width="348"
            height="196"
          >
        </div>
      </section>

      <section class="u-Adjust_Mt-32">
        <h2 class="c-Heading_Lv2">
          リチウムイオン電池による火災に注意！
        </h2>
        <p class="u-Adjust_Mt-16">
          スマートフォンやモバイルバッテリーなど多くの充電式の製品には、リチウムイオン電池が使用されています。<br>
          近年ではそのリチウムイオン電池が原因で発生する、ごみ収集車やごみ処理施設内での火災が増えていますので、リチウムイオン電池搭載製品を廃棄する際は注意が必要です。
        </p>
        <section class="u-Adjust_Mt-48">
          <h3 class="c-Heading_Lv3">
            リチウムイオン電池を使用している機器例
          </h3>
          <ul class="c-List_Text-disc u-Adjust_Mt-16">
            <li>スマートフォン</li>
            <li>フィーチャーフォン</li>
            <li>タブレット</li>
            <li>モバイルバッテリー</li>
            <li>ワイヤレスイヤホン</li>
          </ul>
        </section>
      </section>

      <section class="u-Adjust_Mt-48">
        <h2 class="c-Heading_Lv2">
          リチウムイオン電池は「一般ごみ」として捨てない！
        </h2>
        <div class="l-Media_Grid u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
          <div class="l-Media_Image">
            <img
              src="<%= sitepath %>assets/img/guide/product-safety/battery-disposal/img-01.png"
              alt=""
              width="328"
              height="208"
              loading="lazy"
            >
          </div>
          <div>
            <p>
              リチウムイオン電池を「一般ごみ」として廃棄してしまうと、その後のごみ収集車内やごみ処理施設内で押しつぶされたり、外部からの衝撃が加わる可能性が高まります。<br>
              それによりリチウムイオン電池が短絡（ショート）することで発熱や発火を引き起こし、そこから火災に繋がってしまう恐れがあります。<br>
              不要になった製品を廃棄する際は、お住まいの各市町村の分別ルールを確認しましょう。<br>
              通信事業者や家電量販店などリサイクル回収しているお店にお持ちいただくのも有効です。
            </p>
          </div>
        </div>
        <section class="u-Adjust_Mt-48">
          <h3 class="c-Heading_Lv3">
            実際の火災事例
          </h3>
          <p class="u-Adjust_Mt-16">
            ごみ収集車内やごみ処理施設内の火災においては、リチウムイオン電池関連が原因と推測される火災が上位を占めています。
            東京消防庁から誤ったごみの分別による火災事例が紹介されていますので、あわせてご確認ください。
          </p>
          <p class="u-Adjust_Mt-16">
            <a
              href="https://www.tfd.metro.tokyo.lg.jp/lfe/topics/gomi/gomi.html"
              class="c-Link_Txt-inline"
              target="_blank"
              rel="noopener noreferrer">
                誤ったごみの分別により火災が発生！（東京消防庁）<span class="c-Icon_New-window-l"></span>
            </a>
          </p>
        </section>
      </section>

      <section class="u-Adjust_Mt-48 u-Adjust_Pt-48 u-Adjust_Mt-pc-72 u-Adjust_Pt-pc-72 <%= layout %>_Break">
        <h2 class="c-Heading_Lv2">
          楽天モバイルの製品リサイクル
        </h2>
        <p class="u-Adjust_Mt-16">
          楽天モバイルでは、製品リサイクルの取り組みを実施しています。<br>
          不要になった製品を回収・リサイクルをすることで、資源の有効利用にも繋がります。
        </p>
        <p class="u-Adjust_Mt-16">
          <a
            href="https://corp.mobile.rakuten.co.jp/sustainability/resource/recycle/"
            class="c-Link_Txt-inline"
            target="_blank"
            rel="noopener noreferrer">
              製品リサイクルの取り組み<span class="c-Icon_New-window-l"></span>
          </a>
        </p>
        <p class="u-Adjust_Mt-16">
          <a
            href="https://corp.mobile.rakuten.co.jp/sustainability/"
            class="c-Link_Txt-inline"
            target="_blank"
            rel="noopener noreferrer">
              楽天モバイルのサステナビリティの活動<span class="c-Icon_New-window-l"></span>
          </a>
        </p>
        <p class="u-Adjust_Mt-16">
          楽天モバイルショップの一部店舗では、以下のような不要になった製品類を無料で回収していますので、ぜひご活用ください。<br>
        </p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">
          ※ブランド・メーカーは問いません。
        </p>
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>スマートフォン</li>
          <li>フィーチャーフォン</li>
          <li>電池パック</li>
          <li>タブレット</li>
          <li>充電器／モバイルバッテリー</li>
          <li>モバイルWi-Fi製品</li>
          <li>
            Rakuten Turbo（固定ルーター）<br>
            <span class="c-Txt_Cap">※Rakuten Turbo以外の固定ルーターは対象外です。</span>
          </li>
        </ul>
        <p class="u-Adjust_Mt-24">
          <a href="<%= sitepath %>shop/" class="c-Btn_Regular" target="_blank"><span>製品回収を行っているショップを探す<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
        </p>
        <p class="c-Txt_Cap u-Adjust_Mt-24">
          ※「対応サービス・店舗条件で絞り込み」から「リサイクル」を選択し、お近くの店舗をお探しください。
        </p>
      </section>
    </div>

    <div class="u-Bg_Monotone97 u-Adjust_Mt-48 u-Adjust_Mt-pc-72 u-Adjust_Py-48">
      <div class="l-System_Container">
        <section>
          <h2 class="c-Heading_Lv2">楽天モバイルの安全啓発活動</h2>
          <p class="u-Adjust_Mt-24">
            楽天モバイルはNTTドコモ、KDDI、ソフトバンクと連携し、スマホを安全にご利用いただくための情報をご案内しています。<br>
            他事業者のご案内もご覧ください。
          </p>
          <ul class="u-Adjust_Mt-16">
            <li>
              <a href="https://www.docomo.ne.jp/support/safety/charge/lithiumion_battery" class="c-Link_Txt-inline" target="_blank" rel="noopener noreferrer">
                NTTドコモ<span class="c-Icon_New-window-l"></span>
              </a>
            </li>
            <li class="u-Adjust_Mt-8">
              <a href="https://www.au.com/mobile/gimon/lp/ts202401/" class="c-Link_Txt-inline" target="_blank" rel="noopener noreferrer">
                KDDI<span class="c-Icon_New-window-l"></span>
              </a>
            </li>
            <li class="u-Adjust_Mt-8">
              <a href="https://www.softbank.jp/sbnews/entry/20220325_01" class="c-Link_Txt-inline" target="_blank" rel="noopener noreferrer">
                ソフトバンク<span class="c-Icon_New-window-l"></span>
              </a>
            </li>
          </ul>
          <p class="u-Adjust_Mt-32">
            業界団体である<a href="https://www.mcpc-jp.org/" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">モバイルコンピューティング推進コンソーシアム（MCPC）<span class="c-Icon_New-window-l"></span></a>を通じて、他の携帯電話会社や製品メーカー、アクセサリメーカーとともに安全啓発活動を実施しています。
          </p>
          <div class="u-Adjust_Mt-16">
            <a href="https://www.mcpc-jp.org/safe/#tab02" class="c-Link_Txt-inline" target="_blank" rel="noopener noreferrer">
              MCPC『気をつけて！スマートフォンの使い方』のページはこちら<span class="c-Icon_New-window-l"></span>
            </a>
          </div>
        </section>
      </div>
    </div>

    <%- include('/include/guide/product-safety/_warranty-service', { lid: 'guide_product-safety-battery-disposal' }) %>
    <%- include('/include/guide/_inquiry') %>
    <%- include('/include/guide/_review') %>

    <footer class="g-Footer">
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>

  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
  <script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
</body>
</html>
