<% const pagetitle = "Rakuten Miniをご利用のお客様へ" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/rakuten/", label:"Rakutenオリジナル"}, {path:"product/smartphone/rakuten-mini/", label:"Rakuten Mini"}, {path:"product/smartphone/rakuten-mini/support/", label:"Rakuten Miniサポート情報"}] -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '',
    noindex: true,
    pathname: 'product/smartphone/rakuten-mini/support/setting/'
  });
%>

<%- include('/include/_common-css') %>

<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="u-Adjust_Pb-64">
  <div class="l-System_Container u-Adjust_Mt-32">
    <h1 class="c-Heading_Lv1">Rakuten Miniをご利用のお客様へ</h1>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">画像のダウンロード方法</h2>
    <ol class="c-Flow">
      <li><span class="c-Txt_Alphanumeric-m">1</span>
        <h4 class="c-Heading_Lv4 u-Adjust_Align-center">Rakuten Mini上でメールを表示して<br>該当のリンクをクリックしてください。</h4>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
            src="<%= sitepath %>assets/img/product/rakuten-mini/support/technical/technical-image-01.png" width="300" height=""
            alt="" class="c-Img_Capture"></figure>
      </li>
      <li><span class="c-Txt_Alphanumeric-m">2</span>
        <h4 class="c-Heading_Lv4 u-Adjust_Align-center">右上のアイコンをタップしてメニュー表示してください。<br>※デフォルトのGmailアプリでの挙動になります。</h4>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
            src="<%= sitepath %>assets/img/product/rakuten-mini/support/technical/technical-image-02.png" width="300" height=""
            alt="" class="c-Img_Capture"></figure>
      </li>
      <li><span class="c-Txt_Alphanumeric-m">3</span>
        <h4 class="c-Heading_Lv4 u-Adjust_Align-center">表示されるオプションメニューから<br>ダウンロードアイコンをタップしてください。</h4>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
            src="<%= sitepath %>assets/img/product/rakuten-mini/support/technical/technical-image-03.png" width="300" height=""
            alt="" class="c-Img_Capture"></figure>
      </li>
      <li><span class="c-Txt_Alphanumeric-m">4</span>
        <h4 class="c-Heading_Lv4 u-Adjust_Align-center">ダウンロードが完了するとダウンロードが完了した旨が通知されます。</h4>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
            src="<%= sitepath %>assets/img/product/rakuten-mini/support/technical/technical-image-04.png" width="300" height=""
            alt="" class="c-Img_Capture"></figure>
      </li>
      <li><span class="c-Txt_Alphanumeric-m">5</span>
        <h4 class="c-Heading_Lv4 u-Adjust_Align-center">通知をタップするとダウンロードした<br>画像が表示されます。</h4>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
            src="<%= sitepath %>assets/img/product/rakuten-mini/support/technical/technical-image-05.png" width="300" height=""
            alt="" class="c-Img_Capture"></figure>
      </li>
    </ol>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">画像の閲覧方法</h2>


    <ol class="c-Flow">
      <li><span class="c-Txt_Alphanumeric-m">1</span>
        <h4 class="c-Heading_Lv4 u-Adjust_Align-center">プリインストールされているFilesアプリをタップしてください。</h4>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
            src="<%= sitepath %>assets/img/product/rakuten-mini/support/technical/technical-image-06.png" width="300" height=""
            alt="" class="c-Img_Capture"></figure>
      </li>
      <li><span class="c-Txt_Alphanumeric-m">2</span>
        <h4 class="c-Heading_Lv4 u-Adjust_Align-center">表示されるダウンロードフォルダを<br>タップしてください。</h4>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
            src="<%= sitepath %>assets/img/product/rakuten-mini/support/technical/technical-image-07.png" width="300" height=""
            alt="" class="c-Img_Capture"></figure>
      </li>
      <li><span class="c-Txt_Alphanumeric-m">3</span>
        <h4 class="c-Heading_Lv4 u-Adjust_Align-center">ダウンロードフォルダよりダウンロードされたファイルをご確認ください。</h4>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
            src="<%= sitepath %>assets/img/product/rakuten-mini/support/technical/technical-image-08.png" width="300" height=""
            alt="" class="c-Img_Capture"></figure>
      </li>
      <li><span class="c-Txt_Alphanumeric-m">4</span>
        <h4 class="c-Heading_Lv4 u-Adjust_Align-center">ファイル名称をタップすることで<br>上記画像が表示されます。</h4>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
            src="<%= sitepath %>assets/img/product/rakuten-mini/support/technical/technical-image-09.png" width="300" height=""
            alt="" class="c-Img_Capture"></figure>
      </li>
    </ol>







    <div class="u-Adjust_Pt-48">
      <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular-semiauto"><span>楽天モバイルトップへ</span></a></div>
    </div>

  </div>
</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-product.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%#- include('/faq/include/related-product.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
