<% const namespace = 'rakuten-employee-2210' _%>
<% const pagetitle = 'Rakuten UN-LIMIT VII 紹介プログラム' -%>
<% const directories = [] -%>
<%-
  include('/_header', {
    pagetitle,
    // directories,
    description: 'Rakuten UN-LIMIT VII 紹介プログラムのページです。',
    noindex: true,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/rakuten-employee-2210/rakuten-employee-2210.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">
<%- include('/include/_header-simple') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= namespace %>-Layout_Kv">
  <h1>
    <picture>
      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/rakuten-employee/kv-sp-230131-2.png" width="100%">
      <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/kv-pc-230131-2.png" width="1995" alt="特別なお客様へのご案内 Rakuten UN-LIMIT VII 紹介プログラム">
    </picture>
  </h1>
</div>
<div class="u-Adjust_Mt-32 l-System_Container">
<p class="c-Txt_Normal-l c-Txt_Emp-02 u-Adjust_Mt-16 u-Adjust_Mb-16 u-Adjust_Align-center">
  Rakuten UN-LIMIT VII 紹介プログラムは終了いたしました。<br>
  多大なるご協力を賜り、誠にありがとうございました。
</p>
</div>
<div class="<%= namespace %>-Layout_Period u-Adjust_Align-center">
  第1弾：2022年11月8日（火）9:00～2023年1月31日（火）23:59　第2弾：2023年2月1日（水）0:00～2023年2月14日（火）23:59
</div>

  <div class="l-System_Container <%= namespace %>-Utility_Pb-48-32 u-Adjust_Pt-16">
    <p class="c-Txt_Cap u-Adjust_Mb-32 u-Adjust_Align-center">
      ※エントリーいただいた楽天会員情報及びお客様の契約状況に関する情報は、本キャンペーン遂行、手続き状況等をお知らせする目的で楽天モバイル及びお客様に紹介コードを提供した楽天グループ従業員、ならびにその所属会社に提供します。
    </p>
    <p class="u-Adjust_Align-right">
      <a href="" class="c-Link_Txt-inline js-to-en">English<span class="c-Icon_Chevron-right"></span></a>
    </p>
    <div class="<%= namespace %>-Layout_Message-body" style="display: none;">
      <div>
        <div class="<%= namespace %>-Layout_Message-title"><span class="js-name"></span></div>
        <p class="<%= namespace %>-Layout_Message-txt">
          是非この機会に、世界初<sup>*</sup>のテクノロジーで創る高品質な通信サービス「楽天モバイル」を<br class="rakuten-employee-2210-Utility_Show-pc">お申し込みいただき、ご家族やご友人にもおすすめいただけますと幸いです。<br>
          ※紹介いただく際は、このページのURLをお伝えください。
        </p>
      </div>
      <div class="<%= namespace %>-Layout_Message-btn">
        <div><a href="mailto:?subject=%E6%A5%BD%E5%A4%A9%E3%83%A2%E3%83%90%E3%82%A4%E3%83%AB%E3%82%92%E3%81%94%E7%B4%B9%E4%BB%8B%E3%81%97%E3%81%BE%E3%81%99&body=%E4%B8%96%E7%95%8C%E5%88%9D%E3%81%AE%E3%83%86%E3%82%AF%E3%83%8E%E3%83%AD%E3%82%B8%E3%83%BC%E3%81%A7%E5%89%B5%E3%82%8B%E9%AB%98%E5%93%81%E8%B3%AA%E3%81%AA%E9%80%9A%E4%BF%A1%E3%82%B5%E3%83%BC%E3%83%93%E3%82%B9%E3%80%8C%E6%A5%BD%E5%A4%A9%E3%83%A2%E3%83%90%E3%82%A4%E3%83%AB%E3%80%8D%E3%82%92%E3%81%94%E7%B4%B9%E4%BB%8B%E8%87%B4%E3%81%97%E3%81%BE%E3%81%99%E3%80%82+%0D%0A%0D%0A%0D%0A%E6%98%AF%E9%9D%9E%E4%B8%8B%E8%A8%98%E3%83%AA%E3%83%B3%E3%82%AF%E3%82%92%E3%81%94%E8%A6%A7%E3%81%84%E3%81%9F%E3%81%A0%E3%81%8D%E3%80%81%E3%81%8A%E7%94%B3%E3%81%97%E8%BE%BC%E3%81%BF%E4%B8%8B%E3%81%95%E3%81%84%E3%81%BE%E3%81%9B%E3%80%82+%0D%0A%E3%80%90%E3%81%94%E7%B4%B9%E4%BB%8B%E8%80%85%E3%81%B8%E3%81%AE%E3%81%8A%E9%A1%98%E3%81%84%E3%80%91%E3%83%9A%E3%83%BC%E3%82%B8URL%E3%82%92%E3%82%B3%E3%83%94%E3%83%BC%E3%81%97%E3%81%A6%E3%81%93%E3%81%AE%E8%A1%8C%E3%81%AB%E8%B2%BC%E3%82%8A%E4%BB%98%E3%81%91%E3%81%A6%E4%B8%8B%E3%81%95%E3%81%84%E3%80%82%0D%0A%0D%0A%E5%88%9D%E3%82%81%E3%81%A6%E3%81%8A%E7%94%B3%E3%81%97%E8%BE%BC%E3%81%BF%E3%81%AE%E3%81%8A%E5%AE%A2%E6%A7%98%E5%90%91%E3%81%91%E3%81%AE%E3%83%9D%E3%82%A4%E3%83%B3%E3%83%88%E3%82%AD%E3%83%A3%E3%83%B3%E3%83%9A%E3%83%BC%E3%83%B3%E3%82%82%E9%96%8B%E5%82%AC%E4%B8%AD%E3%81%A7%E3%81%99%E3%80%82+" class="c-Btn_Regular"><span>メールで他の方にもすすめる</span></a></div>
      </div>
    </div>
    <p class="c-Txt_Cap u-Adjust_Pt-16" style="display: none;">
      *世界初の完全仮想化クラウドネイティブモバイルネットワーク：大規模商用ネットワークとして（2019年10月1日時点／ステラアソシエ調べ）
    </p>
  </div>

  <div class="<%= namespace %>-Layout_Section-1" style="display: none;">
    <div class="l-System_Container <%= namespace %>-Utility_Pb-48-32 u-Adjust_Pt-16">
      <div class="<%= namespace %>-Layout_Nav u-Adjust_Mt-16">
        <a href="#terms" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>ポイント獲得達成条件</a>
        <a href="#get-point" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>ポイント獲得の流れ</a>
        <a href="#plan" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>法人専用プランのご案内</a>
      </div>
      <div class="l-System_Container u-Adjust_Align-center">
        <p class="c-Txt_Emp-01 c-Txt_Normal-l u-Adjust_Mt-48">Rakuten UN-LIMIT VII 紹介プログラムにご協力いただき、誠にありがとうございます。</p>
        <p class="c-Txt_Emp-02 u-Adjust_Mt-24">「お客様ご本人の楽天ID」でログインしていることを必ずご確認のうえ、<br>下記3ついずれかのボタンからお手続きをお願いいたします。</p>
        <div class="<%= namespace %>-Layout_Entry-theme u-Adjust_Mt-32">
          <p class="c-Txt_Emp-02 c-Heading_Lv2">まずは下のボタンから<br class="<%= namespace %>-Utility_Show-sp">エントリー</p>
          <p class="c-Txt_Emp-01 u-Adjust_Mt-8">エントリー後は、自動でお申し込み画面／ショップページに移動します。</p>
          <div class="u-Adjust_Mt-24">
            <div class="<%= namespace %>-Layout_Entry-btn">
              <div>
                <a href="" class="c-Btn_Primary-large js-mno"><span>MNP（乗り換え）・新規電話番号で<br>お申し込みの方はこちら</span></a>
              </div>
              <div>
                <a href="" class="c-Btn_Secondly-large js-shop"><span>ショップ検索・来店予約の方はこちら</span></a>
              </div>
            </div>
            <div class="u-Adjust_Mt-24">
              <a href="" class="c-Btn_Secondly js-mvno"><span>スーパーホーダイ、組み合わせプランからの<br>プラン変更（移行）お申し込みの方はこちら</span></a>
            </div>
          </div>
          <p class="u-Adjust_Mt-32">エントリーいただいた楽天会員情報及びお客様の契約状況に関する情報は、本キャンペーン遂行、手続き状況等をお知らせする目的で楽天モバイル及びお客様に紹介コードを提供した楽天グループ従業員、ならびにその所属会社に提供します。</p>
        </div>
      </div>
    </div>
  </div>


<div class="u-Adjust_Mt-32 l-System_Container" style="display: none;">
  <h2 class="c-Heading_Lv2 u-Adjust_Align-center">初めて楽天モバイルお申し込みのお客様向けキャンペーン開催中</h2>
  <p class="c-Txt_Emp-02 u-Adjust_Mt-8 u-Adjust_Align-center">※お申し込みは、このページのボタンよりお願いいたします</p>
  <div class="js-bnr-carousel c-Carousel u-Adjust_Mt-16">
    <a href="<%= sitepath %>campaign/byod/?l-id=campaign_rakuten-employee_campaign_byod">
      <img src="<%= sitepath %>assets/img/bnr/bnr-220809-byod-328-185.png" alt="Rakuten UN-LIMIT 初めてお申し込みでお持ちのスマホそのままOK!最大8,000円相当分">
    </a>
    <a href="<%= sitepath %>campaign/iphone-point/?l-id=campaign_rakuten-employee_campaign_iphone-point">
      <img src="<%= sitepath %>assets/img/bnr/bnr-iphone-point-328-185-221003.png" alt="iPhoneトク得乗り換えキャンペーン！最大24,000円相当分ポイント還元">
    </a>
    <a href="<%= sitepath %>campaign/start-point/?l-id=campaign_rakuten-employee_campaign_start-point">
      <img src="<%= sitepath %>assets/img/bnr/bnr-220701-start-point-328-185.png" alt="スマホ/Wi-Fiトク得乗り換えキャンペーン！最大19,000円相当分おトク！">
    </a>
    <a href="<%= sitepath %>product/smartphone/rakuten-hand-5g/?l-id=campaign_rakuten-employee_product_rakuten-hand-5g">
      <img src="<%= sitepath %>assets/img/bnr/bnr-rakuten-hand-5g-328-185-220701.png" alt="Rakuten Hand 5Gが実質1円！">
    </a>
    <a href="<%= sitepath %>campaign/rakuten-wifi-pocket-2b/?l-id=campaign_rakuten-employee_campaign_rakuten-wifi-pocket-2b">
      <img src="<%= sitepath %>assets/img/bnr/bnr-rakuten-wifi-pocket-2b-328-185-220701.png" alt="モバイルWi-Fi実質0円キャンペーン">
    </a>
    <a href="<%= sitepath %>campaign/shop-limited-iphone-se-3rd/?l-id=campaign_rakuten-employee_campaign_shop-limited-iphone-se-3rd">
      <img src="<%= sitepath %>assets/img/bnr/bnr-shop-limited-iphone-se-3rd-328-185-221021.png" alt="【ショップ限定】iPhone SE（第3世代）64GBポイントバックキャンペーン">
    </a>
    <a href="<%= sitepath %>campaign/shop-limited-device/?l-id=campaign_rakuten-employee_campaign_shop-limited-device">
      <img src="<%= sitepath %>assets/img/bnr/bnr-shop-limited-device-328-185-220729.png" alt="【ショップ限定】対象製品購入でさらにポイント還元キャンペーン">
    </a>
    <a href="<%= sitepath %>campaign/shop-feature-phone-switch/?l-id=campaign_rakuten-employee_campaign_shop-feature-phone-switch">
      <img src="<%= sitepath %>assets/img/bnr/bnr-shop-feature-phone-switch-328-185-220902.png" alt="【ショップ限定】3Gケータイ乗り換えキャンペーン">
    </a>
    <a href="<%= sitepath %>campaign/assignment/?l-id=campaign_rakuten-employee_campaign_assignment">
      <img src="<%= sitepath %>assets/img/bnr/bnr-assignment-328-185-221027.png" alt="ご家族まとめてお申し込みがおトク！全員に3,000ポイントプレゼントキャンペーン">
    </a>
  </div>
  <div class="c-Carousel_Nav <%= namespace %>-Layout_Carousel-nav"></div>

  <div class="l-Media_Grid-half u-Adjust_Mt-32">
    <div class="l-Media_Image">
      <a href="<%= sitepath %>product/sim/dual-sim/?l-id=campaign_rakuten-employee-entry_product_dual-sim" class="c-Banner_Hover-act">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/bnr/bnr-dual-sim-343-108.png">
          <img src="<%= sitepath %>assets/img/bnr/bnr-dual-sim-504-158.png" alt="">
        </picture>
      </a>
    </div>
    <div class="l-Media_Image">
      <a href="<%= sitepath %>service/global/overseas/?l-id=campaign_rakuten-employee-entry_service_overseas" class="c-Banner_Hover-act">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/bnr/bnr-overseas-343-108.png">
          <img src="<%= sitepath %>assets/img/bnr/bnr-overseas-504-158.png" alt="">
        </picture>
      </a>
    </div>
  </div>
  </div>

<div class="u-Adjust_Mt-32 l-System_Container">
  <div id="terms" class="c-Theme-Borderbox u-Adjust_Mt-32">
    <h2 class="c-Txt_Normal-ll u-Adjust_Align-center">キャンペーンポイント獲得の達成条件</h2>
    <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
      ポイント獲得には達成条件が設定されています。詳細は<a href="<%= sitepath %>campaign/?l-id=campaign_rakuten-employee_campaign01" class="c-Link_Txt">各キャンペーンページ</a>をご確認ください。
    </p>
    <div class="<%= namespace %>-Layout_Conditions u-Adjust_Mt-16">
      <div class="<%= namespace %>-Layout_Conditions-item">
        <h4 class="c-Txt_Normal-m <%= namespace %>-Layout_Conditions-title <%= namespace %>-Layout_Conditions-title-mod-1">
          このページから<br>エントリー
        </h4>
        <div class="<%= namespace %>-Layout_Conditions-item-sub">
          <div class="u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/campaign/rakuten-employee/conditions1-entry.png" alt="" width="79"></div>
          <p class="<%= namespace %>-Layout_Conditions-item-note">楽天モバイルお申し込みをされるお客様ご本人の楽天IDでエントリーしてください。</p>
        </div>
      </div>
      <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/plus-221012.png" alt="">
      <div class="<%= namespace %>-Layout_Conditions-item">
        <h4 class="c-Txt_Normal-m <%= namespace %>-Layout_Conditions-title">
          初めてのお申し込み
        </h4>
        <div class="<%= namespace %>-Layout_Conditions-item-sub">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/rakuten-employee/conditions2-sp-221012.png">
            <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/conditions2-221012.png" alt="初めてのお申し込み">
          </picture>
          <p class="<%= namespace %>-Layout_Conditions-item-note">対象iPhone/Android購入＋プランお申し込み、もしくはプラン（SIM）のみお申し込みください。</p>
        </div>
      </div>
      <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/plus-221012.png" alt="">
      <div class="<%= namespace %>-Layout_Conditions-item">
        <h4 class="c-Txt_Normal-m <%= namespace %>-Layout_Conditions-title">
          プランのご利用
        </h4>
        <div class="<%= namespace %>-Layout_Conditions-item-sub">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/rakuten-employee/conditions3-sp-221012.png">
            <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/conditions3-221012.png" alt="プランのご利用">
          </picture>
          <p class="<%= namespace %>-Layout_Conditions-item-note">【期限】お申し込みの翌月末日23:59まで</p>
        </div>
      </div>
      <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/plus-221012.png" alt="">
      <div class="<%= namespace %>-Layout_Conditions-item">
        <h4 class="c-Txt_Normal-m <%= namespace %>-Layout_Conditions-title">
          Rakuten Linkで<br class="<%= namespace %>-Utility_Show-pc">10秒以上通話
        </h4>
        <div class="<%= namespace %>-Layout_Conditions-item-sub">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/rakuten-employee/conditions4-sp-221012.png">
            <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/conditions4-221012.png" alt="Rakuten Linkで10秒以上通話">
          </picture>
          <p class="<%= namespace %>-Layout_Conditions-item-note">【期限】お申し込みの翌月末日23:59まで</p>
        </div>
      </div>
    </div>

    <div class="<%= namespace %>-Layout_Accordion-card c-Accordion u-Adjust_Mt-24">
      <button id="accordion-7" class="c-Accordion_Trigger js-Accordion_Trigger u-Adjust_Align-center" aria-expanded="false" aria-controls="accordion-content-7" data-ratid="campaign_rakuten-employee_accordion-achievement-conditions" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten Linkで10秒以上通話の確認方法</button>
      <div id="accordion-content-7" class="<%= namespace %>-Layout_Accordion-card-panel js-Accordion_Panel" role="region" aria-labelledby="accordion-7" aria-hidden="false">
        <h4 class="c-Heading_Lv4">Rakuten Linkで10秒以上通話の確認方法</h4>
        <div class="<%= namespace %>-Layout_Conditions-item-sub">
          <ol class="u-Adjust_Mt-16">
            <li>
            <p class="c-Txt_Emp-01">1. 「<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile?l-id=campaign_rakuten-employee_my-rakuten-mobile_accordion" class="c-Link_Txt">my 楽天モバイル</a>」にアクセス</p>
          </li>
          <li class="u-Adjust_Mt-32">
            <p class="c-Txt_Emp-01">2. 右上のメニューから「利用状況」を選択</p>
            <div class="<%= namespace %>-Layout_Img-capture u-Adjust_Mt-32">
              <img src="<%= sitepath %>assets/img/campaign/common/img-cap01-0701.png?220720" width="300" alt="">
            </div>
          </li>
          <li class="u-Adjust_Mt-32">
            <p class="c-Txt_Emp-01">3. 「通話」タブを選択して<span class="c-Txt_Emp-02">Rakuten Linkでの10秒以上の発信通話履歴</span>があることを確認してください</p>
            <div class="<%= namespace %>-Layout_Img-capture u-Adjust_Mt-32">
              <img src="<%= sitepath %>assets/img/campaign/common/img-cap02.png?220720" width="300" alt="">
            </div>

          </li>
        </ol>
      </div>
    </div>

  </div>


  <h2 id="get-point" class="<%= namespace %>-Layout_Step-title-content c-Heading_Lv2 u-Adjust_Mt-48 u-Adjust_Pt-0">
    各キャンペーンポイント獲得の流れ
  </h2>

  <div class="<%= namespace %>-Layout_Accordion u-Adjust_Mt-8">
    <div class="<%= namespace %>-Layout_Accordion-card c-Accordion">
      <button type="button" id="accordion-step-1-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-step-1-1" data-ratid="" data-ratevent="click" data-ratparam="all">
        <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
        <span class="<%= namespace %>-Layout_Accordion-label">
          <span class="<%= namespace %>-Layout_Accordion-label-step">STEP 1</span>
          <span>このページからエントリー</span>
        </span>
      </button>
      <div id="accordion-content-step-1-1" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Layout_Accordion-card-panel" role="region" aria-labelledby="accordion-step-1-1" aria-hidden="true">

        <div class="l-Media_Grid">
          <div class="l-Media_Image <%= namespace %>-Layout_Flow-list-img <%= namespace %>-Layout_Flow-list-img-1">
            <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/step-1-emp-entry.png" width="170" alt="">
          </div>
          <div class="<%= namespace %>-Layout_Flow-list-text-1">
            <p>
              必ず、お申し込みをされるお客様ご本人の楽天IDでエントリーしてください。エントリー完了後は、お申し込みページ・ショップ検索ページに自動で遷移します。
            </p>
            <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">
              ※プラン（SIM）のみお申し込みの方は、楽天回線対応製品の確認、SIMロック解除お手続きをお願いします。<a href="<%= sitepath %>product/sim/?l-id=campaign_rakuten-employee_product_sim" class="c-Link_Txt">詳しくはこちら</a>
            </p>
          </div>
        </div>

      </div>
    </div>

    <div class="<%= namespace %>-Layout_Accordion-card c-Accordion">
      <button type="button" id="accordion-step-2-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-step-2-1" data-ratid="campaign_rakuten-employee_accordion-point-acquisition-flow-step2" data-ratevent="click" data-ratparam="all">
        <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
        <span class="<%= namespace %>-Layout_Accordion-label">
          <span class="<%= namespace %>-Layout_Accordion-label-step">STEP 2</span>
          <span>対象製品と楽天モバイルのお申し込み</span>
        </span>
      </button>
      <div id="accordion-content-step-2-1" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Layout_Accordion-card-panel" role="region" aria-labelledby="accordion-step-2-1" aria-hidden="true">
        <div class="c-Tab js-Tab">
          <ul class="c-Tab_Items" role="tablist">
            <li class="c-Tab_Item" id="tab-menu1-1" role="tab" aria-selected="true" aria-controls="tab-content1-1" data-ratid="campaign_rakuten-employee_tab_application_web_01" data-ratevent="click" data-ratparam="all">Web</li>
            <li class="c-Tab_Item" id="tab-menu1-2" role="tab" aria-selected="false" aria-controls="tab-content1-2" data-ratid="campaign_rakuten-employee_tab_application_shop_01" data-ratevent="click" data-ratparam="all">ショップ</li>
          </ul>
          <div class="c-Tab_Panel" id="tab-content1-1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1-1">
            <div class="c-Theme-Borderbox u-Adjust_Mt-24">
              <div class="l-Media_Grid">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/start-point/img-point-02.png?210618" width="285" alt="">
                </div>
                <div>
                  <h3 class="c-Heading_Lv4">お申し込みに必要なもの</h3>
                  <ul class="c-List_Text-disc <%= namespace %>-Layout_List-narrow u-Adjust_Mt-8">
                    <li>
                      <a href="<%= sitepath %>guide/verify/?l-id=campaign_rakuten-employee_guide_verify" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a>
                    </li>
                    <li>
                      楽天会員ID、パスワード
                    </li>
                    <li>
                      <a href="<%= sitepath %>guide/payment/?l-id=campaign_rakuten-employee_guide_payment" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                    </li>
                    <li>
                      ご契約者名義の<a href="<%= sitepath %>guide/mnp/?l-id=campaign_rakuten-employee_guide_mnp">MNP予約番号</a>（他社から乗り換えの場合）
                    </li>
                  </ul>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">
                    ※<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_rakuten-employee_flow_for-minors" class="c-Link_Txt <%= namespace %>-Layout_Body-txt-link">未成年の方のお申し込み方法はこちら</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="<%= namespace %>-Layout_Grid-2col u-Adjust_Mt-24">
              <div class="c-Theme-Borderbox">
                <h4 class="c-Heading_Lv4 <%= namespace %>-Layout_Heading-icon-front"><span class="c-Icon_New-user-f"></span>新規電話番号／他社から乗り換え（MNP）</h4>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <a href="" class="c-Btn_Primary-large js-mno"><span>Rakuten UN-LIMIT VIIに申し込む</span></a>
                </div>
                <div class="<%= namespace %>-Utility_Align-center-left">
                  <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>fee/un-limit/?l-id=campaign_rakuten-employee_fee_un-limit" class="c-Link_Txt-inline">プラン詳細<span class="c-Icon_Chevron-right"></span></a></p>
                  <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/flow/application/?l-id=campaign_rakuten-employee_guide_flow_application" class="c-Link_Txt-inline">お申し込み方法<span class="c-Icon_Chevron-right"></span></a></p>
                </div>
              </div>
              <div class="c-Theme-Borderbox">
                <h4 class="c-Heading_Lv4 <%= namespace %>-Layout_Heading-icon-front"><span class="c-Icon_Paper-plane-l"></span>楽天モバイル（ドコモ・au回線）からプラン変更（移行）</h4>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <a href="" class="c-Btn_Secondly-large js-mvno">
                    <span>メンバーズステーションから<br class="<%= namespace %>-Utility_Br-pc">プラン変更（移行）する</span>
                  </a>
                </div>
                <div class="<%= namespace %>-Utility_Align-center-left">
                  <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/migration/?l-id=campaign_rakuten-employee_guide_migration" class="c-Link_Txt-inline">スーパーホーダイ・組み合わせプラン（※）との比較<span class="c-Icon_Chevron-right"></span></a></p>
                  <p class="c-Txt_Cap">※2020年4月8日に受付終了のドコモ回線・au回線使用プラン</p>
                  <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/mnp/migration/?l-id=campaign_rakuten-employee_guide_mnp_migration" class="c-Link_Txt-inline">楽天モバイル（楽天回線）への移行方法<span class="c-Icon_Chevron-right"></span></a></p>
                  <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>flow/mvno-user-registration/?l-id=campaign_rakuten-employee_flow_mvno-user-registration" class="c-Link_Txt-inline">利用者登録でご利用中の方の移行方法<span class="c-Icon_Chevron-right"></span></a></p>
                </div>
              </div>
            </div>
            <div class="<%= namespace %>-Layout_Entry-note u-Adjust_Mt-32">
              <p>エントリーいただいた楽天会員情報及びお客様の契約状況に関する情報は、本キャンペーン遂行、手続き状況等をお知らせする目的で楽天モバイル及びお客様に紹介コードを提供した楽天グループ従業員、ならびにその所属会社に提供します。</p>
            </div>

          </div>
          <div class="c-Tab_Panel" id="tab-content1-2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu1-2">
            <div class="l-Media_Grid u-Adjust_Mt-24">
              <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                <img src="<%= sitepath %>assets/img/campaign/start-point/img-point-11.png" width="285" alt="">
              </div>
              <div>
                <a href="" class="c-Btn_Regular js-shop"><span>ショップ検索・来店予約</span></a>
              </div>
            </div>
            <div class="c-Theme-Borderbox u-Adjust_Mt-24">
              <div class="l-Media_Grid">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/start-point/img-point-02.png?210618" width="285" alt="">
                </div>
                <div>
                  <h3 class="c-Heading_Lv4">お申し込みに必要なもの</h3>
                  <ul class="c-List_Text-disc <%= namespace %>-Layout_List-narrow u-Adjust_Mt-8">
                    <li>
                      <a href="<%= sitepath %>guide/verify/?l-id=campaign_rakuten-employee_guide_verify_shop" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a>
                    </li>
                    <li>
                      楽天会員ID、パスワード
                    </li>
                    <li>
                      <a href="<%= sitepath %>guide/payment/?l-id=campaign_rakuten-employee_guide_payment_shop" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                    </li>
                    <li>
                      ご契約者名義の<a href="<%= sitepath %>guide/mnp/?l-id=campaign_rakuten-employee_guide_mnp_shop">MNP予約番号</a>（他社から乗り換えの場合）
                    </li>
                  </ul>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">
                    ※<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_rakuten-employee_flow_for-minors_shop" class="c-Link_Txt <%= namespace %>-Layout_Body-txt-link">未成年の方のお申し込み方法はこちら</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="<%= namespace %>-Layout_Entry-note u-Adjust_Mt-32">
              <p>エントリーいただいた楽天会員情報及びお客様の契約状況に関する情報は、本キャンペーン遂行、手続き状況等をお知らせする目的で楽天モバイル及びお客様に紹介コードを提供した楽天グループ従業員、ならびにその所属会社に提供します。</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="<%= namespace %>-Layout_Accordion-card c-Accordion">
      <button type="button" id="accordion-step-2-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-step-2-2" data-ratid="campaign_rakuten-employee_accordion-point-acquisition-flow-step2" data-ratevent="click" data-ratparam="all">
        <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
        <span class="<%= namespace %>-Layout_Accordion-label">
          <span class="<%= namespace %>-Layout_Accordion-label-step">STEP 3</span>
          <span>「Rakuten UN-LIMIT VII」プラン利用開始</span>
        </span>
      </button>
      <div id="accordion-content-step-2-2" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Layout_Accordion-card-panel" role="region" aria-labelledby="accordion-step-2-2" aria-hidden="true">
        <div class="l-Media_Grid">
          <div class="l-Media_Image <%= namespace %>-Flow_List-img">
            <img src="<%= sitepath %>assets/img/campaign/start-point/img-illust-01.png" width="304" alt="">
          </div>
          <div>
            <p><span class="c-Txt_Emp-01">期限</span>：プランお申し込みの翌月末日23:59まで</p>
            <div class="u-Adjust_Mt-24">
              <a href="<%= sitepath %>faq/detail/00001648/?l-id=campaign_rakuten-employee_faq_detail_00001648" class="c-Btn_Regular"><span>プラン利用開始手順</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="<%= namespace %>-Layout_Accordion-card c-Accordion">
      <button type="button" id="accordion-step-2-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-step-2-3" data-ratid="campaign_rakuten-employee_accordion-point-acquisition-flow-step2" data-ratevent="click" data-ratparam="all">
        <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
        <span class="<%= namespace %>-Layout_Accordion-label">
          <span class="<%= namespace %>-Layout_Accordion-label-step">STEP 4</span>
          <span>Rakuten Linkアプリから発信で10秒以上通話</span>
        </span>
      </button>
      <div id="accordion-content-step-2-3" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Layout_Accordion-card-panel" role="region" aria-labelledby="accordion-step-2-3" aria-hidden="true">
        <div class="l-Media_Grid">
          <div class="l-Media_Image <%= namespace %>-Flow_List-img">
            <img src="<%= sitepath %>assets/img/campaign/start-point/img-illust-03.png" width="304" alt="">
          </div>
          <div>
            <p><span class="c-Txt_Emp-01">期限</span>：プランお申し込みの翌月末日23:59まで</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※（0180）（0570）などから始まる他社接続サービス、一部特番（188）への通話については、無料通話の対象外となります。<a href="<%= sitepath %>terms/pdf/rakuten_mobile_exception_number_list.pdf?220701">対象外番号一覧</a>をご確認ください。</p>
            <p class="c-Txt_Emp-02 c-Txt_Cap u-Adjust_Mt-8">※ 楽天回線対応のモバイルルーターで使用されるためにお申し込みいただいた場合は、「Rakuten Link」のご利用は必要ございません。</p>
            <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>service/rakuten-link/?l-id=campaign_rakuten-employee_service_rakuten-link" class="c-Link_Txt-inline">Rakuten Linkアプリの詳細<span class="c-Icon_Chevron-right"></span></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>


    <div class="c-Theme-Borderbox <%= namespace %>-Layout_Flow-list-end">
      <div class="l-Media_Grid">
        <div class="l-Media_Image <%= namespace %>-Layout_Flow-list-img">
          <img src="<%= sitepath %>assets/img/campaign/byod/img-step-point.png?220720" width="304" alt="">
        </div>
        <div>
          <h4 class="c-Heading_Lv4 c-Txt_Emp-02">キャンペーンポイントプレゼント！</h4>
          <p class="u-Adjust_Mt-8">
            ポイント付与日を含めて6カ月間の期間限定ポイントとして付与いたします。キャンペーンポイント、付与日の詳細は、<a href="<%= sitepath %>campaign/?l-id=campaign_rakuten-employee_campaign02" class="c-Link_Txt">各キャンペーンページ</a>でご確認ください。
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="l-System_Container u-Adjust_Align-center u-Adjust_Mt-32" style="display: none;">
    <p class="c-Txt_Emp-02">「お客様ご本人の楽天ID」でログインしていることを必ずご確認のうえ、<br>下記3ついずれかのボタンからお手続きをお願いいたします。</p>
    <div class="<%= namespace %>-Layout_Entry-theme-2 u-Adjust_Mt-32">
      <p class="c-Txt_Emp-02 c-Heading_Lv2">まずは下のボタンから<br class="<%= namespace %>-Utility_Show-sp">エントリー</p>
      <p class="c-Txt_Emp-01 u-Adjust_Mt-8">エントリー後は、自動でお申し込み画面／ショップページに移動します。</p>
      <div class="u-Adjust_Mt-24">
        <div class="<%= namespace %>-Layout_Entry-btn">
          <div>
            <a href="" class="c-Btn_Primary-large js-mno"><span>MNP（乗り換え）・新規電話番号で<br>お申し込みの方はこちら</span></a>
          </div>
          <div>
            <a href="" class="c-Btn_Secondly-large js-shop"><span>ショップ検索・来店予約の方はこちら</span></a>
          </div>
        </div>
        <div class="u-Adjust_Mt-24">
          <a href="" class="c-Btn_Secondly js-mvno"><span>スーパーホーダイ、組み合わせプランからの<br>プラン変更（移行）お申し込みの方はこちら</span></a>
        </div>
      </div>
      <p class="u-Adjust_Mt-32">エントリーいただいた楽天会員情報及びお客様の契約状況に関する情報は、本キャンペーン遂行、手続き状況等をお知らせする目的で楽天モバイル及びお客様に紹介コードを提供した楽天グループ従業員、ならびにその所属会社に提供します。</p>
    </div>
  </div>
  <h2 class="<%= namespace %>-Layout_Step-title-content c-Heading_Lv2 u-Adjust_Mt-64 u-Adjust_Pt-0" style="display: none;">
    楽天モバイルの料金プラン
  </h2>
  <div class="u-Adjust_Mt-24" style="display: none;">
    <%- include('/inc/_saikyo') %>
  </div>
</div>


<div class="u-Adjust_Mt-64 <%= namespace %>-Layout_Corporation <%= namespace %>-Utility_Pt-32-16 <%= namespace %>-Utility_Pb-32-16" style="display: none;">
  <div class="l-System_Container" id="plan">
    <h2 class="c-Txt_Normal-ll u-Adjust_Align-center">法人専用プランのご案内</h2>
    <div class="u-Adjust_Mt-24">
      <picture>
        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/rakuten-employee/plan-sp-221012.png">
        <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/plan-pc-221012.png" alt="Rakuten Mobile 法人プラン 3つの特長 1 法人様専用の特別サービスプランをご用意 2 専用のRakuten Linkアプリをご利用で国内通話0円※1 3 専用のRakuten Linkアプリ同士なら国際通話0円※2">
      </picture>
    </div>
    <p class="u-Adjust_Mt-16 c-Txt_Cap <%= namespace %>-Utility_Align-center-left">
      ※1 他社接続サービス、一部特番（188）への通話については、無料通話の対象外。※2 海外の対象国と地域からのみ発信可能
    </p>
    <h3 class="c-Txt_Normal-l u-Adjust_Mt-24 u-Adjust_Align-center">法人専用プランへのご相談・お問い合わせのお客様へ</h3>
    <p class="u-Adjust_Mt-24 u-Adjust_Align-center">
      下記メールアドレスよりお問い合わせください。
    </p>
    <div class="c-Theme-Borderbox u-Adjust_Align-center u-Adjust_Mt-16">
      <p>楽天モバイル法人専用プランご相談窓口</p>
      <div class="u-Adjust_Mt-8 u-Adjust_Align-center" style="font-weight: bold;">
        <a href="mailto:rm-CorpSales-GroupIntroduction@mail.rakuten.com" class="c-Link_Txt <%= namespace %>-Utility_Fs-24-16" style="text-decoration: underline;word-break: break-all;">rm-CorpSales-GroupIntroduction@mail.rakuten.com</a>
      </div>
    </div>
  </div>
</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-news.ejs') %>

    <%- include('/include/footer/bnr/_bnr-news.ejs') %>
  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot" style="margin-top: -24px;">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
<script src="<%= sitepath %>assets/js/campaign.rakuten-employee.bundle.js?20240521"></script>
</body>
</html>
