<% const pagetitle = "料金チェックの結果をシェアしよう！キャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "x-simulation-result" -%>
<% const information = {
  campaignState:'start'
}; %>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '料金チェックの結果をシェアしよう！キャンペーン',
  keywords: '',
  noindex: true,
  pathname: filepath
});
%>
<% const finishSchedule = "2024年x月xx日" -%>
<% const hiddenItem = "false" -%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/<%= namespace %>/<%= namespace %>.css?20240424">
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header',{applyHide:true}) %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout_Label">
      <ul class="c-Label_List <%= namespace %>-Layout_Label-list">
        <li class="c-Label_Normal">全会員様対象</li>
        <li><span class="<%= namespace %>-Layout_Label-point">ポイント：獲得日を含めて3カ月の期間限定ポイント</span></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Hero_Return">
      <div class="l-System_Container <%= namespace %>-Hero_Container">
        <div class="<%= namespace %>-Hero_Main">
          <h1><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-heading-pc_240329.png?240329" alt="スマホ料金チェックの結果をシェアしよう！キャンペーン 楽天モバイル公式X（旧Twitter）をフォロー＆料金チェックの結果をポストすると 抽選で20名様 10,000ポイント！！" class="<%= namespace %>-Utility_Img-pc"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-heading-sp_240329.png?240329" alt="スマホ料金チェックの結果をシェアしよう！キャンペーン 楽天モバイル公式X（旧Twitter）をフォロー＆料金チェックの結果をポストすると 抽選で20名様 10,000ポイント！！" class="<%= namespace %>-Utility_Img-sp"></h1>
        </div>
      </div>
    </div>

    <div class="<%= namespace %>-Layout_Body">
      <div class="l-System_Container">
        <ul class="<%= namespace %>-Table_Rule-Cap">
          <li><span>※</span>期間限定ポイント。条件あり。詳しくは<a href="#campaign-rule" class="accordion1_opan js-scroll">キャンペーンルール</a>をご確認ください。</li>
        </ul>

      <% if (information.campaignState == 'finish') { %>
        <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-16 u-Adjust_Align-center">本キャンペーンは<%= finishSchedule %>をもちまして終了いたしました。<br>このページに掲載されている情報は、キャンペーン終了時点のものです。</p>
        <div class="u-Adjust_Align-center">
          <a href="<%= sitepath %>campaign/?l-id=end_campaign" class="c-Link_Txt-inline">開催中のキャンペーンを見る<span class="c-Icon_Chevron-right"></span></a>
        </div>
      <% } %>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-40 u-Adjust_Align-center">キャンペーンの流れ</h2>
        <ul class="c-Flow u-Adjust_Mt-24">
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Txt_Left-sp">
              <span class="<%= namespace %>-Flow_Title">
                <span class="<%= namespace %>-Flow_Title-num c-Txt_Emp-02">STEP 1</span>
                <span class="<%= namespace %>-Flow_Title-txt">楽天モバイル公式アカウントをフォロー</span>
              </span>
            </h3>
            <div class="u-Adjust_Align-center">
                <a href="https://twitter.com/Rakuten_Mobile/" class="c-Btn_Primary">楽天モバイル公式アカウント</a>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Txt_Left-sp">
              <span class="<%= namespace %>-Flow_Title">
                <span class="<%= namespace %>-Flow_Title-num c-Txt_Emp-02">STEP 2</span>
                <span class="<%= namespace %>-Flow_Title-txt">料金チェックをしてスクリーンショットを撮る</span>
              </span>
            </h3>
            <p class="u-Adjust_Mt-16 <%= namespace %>-Txt_Left-sp">
              以下のように スクリーンショットしてXに貼り付け（※画像はイメージ）
            </p>
            <div class="<%= namespace %>-Flow_Img u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-step-01.png?240306" alt="">
            </div>
            <div class="u-Adjust_Mt-24">
              <div class="c-Accordion">
                <button type="button" id="accordion-screenshot" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-screenshot"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>スクリーンショットの撮り方</button>
                <div id="accordion-content-screenshot" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-screenshot" aria-hidden="true">
                  <div><a href="https://support.apple.com/ja-jp/guide/iphone/iphc872c0115/ios" class="c-Link_Txt-inline" target="_blank">iPhone<span class="c-Icon_New-window-l"></span></a>　／　<a href="https://support.google.com/android/answer/9075928?hl=ja" class="c-Link_Txt-inline" target="_blank">Android<span class="c-Icon_New-window-l"></span></a><br class="<%= namespace %>-Layout_Break-sp"><span class="<%= namespace %>-Layout_Break-pc">　／　</span><a href="https://support.microsoft.com/ja-jp/office/%E3%82%A6%E3%82%A3%E3%83%B3%E3%83%89%E3%82%A6%E3%81%BE%E3%81%9F%E3%81%AF%E7%94%BB%E9%9D%A2%E3%81%AE%E5%86%85%E5%AE%B9%E3%82%92%E3%82%B3%E3%83%94%E3%83%BC%E3%81%99%E3%82%8B-98c41969-51e5-45e1-be36-fb9381b32bb7" class="c-Link_Txt-inline" target="_blank">Windows<span class="c-Icon_New-window-l"></span></a>　／　<a href="https://support.apple.com/ja-jp/guide/mac-help/mh26782/mac" class="c-Link_Txt-inline" target="_blank">Mac<span class="c-Icon_New-window-l"></span></a></div>
                </div>
              </div>
              <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <a href="<%= sitepath %>campaign/fee-simulation/?l-id=campaign_<%= namespace %>_campaign_fee-simulation" class="c-Btn_Secondly" target="_blank">もう一度料金チェックをする<span class="c-Icon_New-window-l"></span></a>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Txt_Left-sp">
              <span class="<%= namespace %>-Flow_Title">
                <span class="<%= namespace %>-Flow_Title-num c-Txt_Emp-02">STEP 3</span>
                <span class="<%= namespace %>-Flow_Title-txt">下記の案内文とハッシュタグをXにコピー＆ペースト</span>
              </span>
            </h3>
            <div class="u-Adjust_Mt-16">
              <p id="copy-Txt">スマホ料金をチェックで100ポイント<br>
→https://r10.to/hUapQT<br>
#楽天モバイル料金チェック</p>
            <% if (information.campaignState !== 'finish') { %>
              <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
                <button id="copy-Btn" class="c-Btn_Regular">文章をコピーする</button>
              </div>
            <% } %>
            </div>
          </li>
          <li>
            <div>
              <h3 class="c-Heading_Lv3 <%= namespace %>-Txt_Left-sp">
                <span class="<%= namespace %>-Flow_Title">
                  <span class="<%= namespace %>-Flow_Title-num c-Txt_Emp-02">STEP 4</span>
                  <span class="<%= namespace %>-Flow_Title-txt">内容を確認してポスト</span>
                </span>
              </h3>
              <div class="<%= namespace %>-Flow_Img u-Adjust_Align-center">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-step-02-sp.png?240306">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-step-02.png?240306" alt="">
                </picture>
              </div>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <a href="https://twitter.com/" class="c-Btn_Regular">X（旧Twitter）はこちら</a>
              </div>
            </div>
          </li>
          <li>
            <div class="u-Adjust_Align-left <%= namespace %>-Flow_Inner">
              <h3 class="c-Heading_Lv3">
                抽選で20名様に<span class="c-Txt_Emp-02">10,000ポイントプレゼント</span>
              </h3>
              <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                <li><span>※</span>当選者には楽天モバイルX公式アカウントよりダイレクトメッセージ（DM）にて、<a href="#campaign-finish" class="js-scroll">キャンペーン終了日の翌月末日ごろ</a>にご連絡をいたします。</li>
                <li class="u-Adjust_Mt-0"><span>※</span>「すべてのアカウントからのメッセージリクエストを許可する」の設定をオンにしてください。</li>
                <li class="u-Adjust_Mt-0"><span>※</span>期間限定ポイント。条件あり。詳しくは<a href="#campaign-rule" class="accordion1_opan js-scroll">キャンペーンルール</a>をご確認ください。</li>
              </ul>
            </div>
          </li>
        </ul>

        <div id="campaign-rule" class="u-Adjust_Mt-40">
        <% if (information.campaignState == 'finish') { %>
          <h3 class="c-Heading_Lv3">料金チェックの結果をシェアしよう！キャンペーン</h3>
          <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-16 u-Adjust_Align-center">本キャンペーンは<%= finishSchedule %>をもちまして終了いたしました。<br>
            このページに掲載されている情報は、キャンペーン終了時点のものです。</p>
            <div class="u-Adjust_Align-center u-Adjust_Mb-48">
              <a href="<%= sitepath %>campaign/?l-id=end_campaign" class="c-Link_Txt-inline">開催中のキャンペーンを見る<span class="c-Icon_Chevron-right"></span></a>
            </div>
          <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2298', level: '', year: '2024', class: '' }}) %>
        <% } else { %>
          <!-- else -->
          <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2298', level: 'h3', year: '2024', class: '' }}) %>
        <% } %>
        </div>
        <div class="u-Adjust_Mt-40">
          <div class="c-Accordion">
            <button id="accordion-past-rule" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-past-rule"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>過去のキャンペーン</button>
            <div id="accordion-content-past-rule" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-past-rule" aria-hidden="true">
              <div class="<%= namespace %>-Layout_Rule u-Adjust_Mt-0">
                <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2252', level: '', year: '2024', class: '', comments: '<p class="c-Txt_Emp-01">料金チェックの結果をシェアしよう！キャンペーン</p>' }}) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="g-Footer <%= namespace %>-Layout_Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
<% if (information.campaignState !== 'finish') { %>
  <script>
    const co_btn = document.getElementById("copy-Btn");
    const co_txt = document.getElementById("copy-Txt").textContent;
    co_btn.addEventListener("click", () => {
      navigator.clipboard
      .writeText(co_txt)
    });
  </script>
<% } %>
</body>
</html>
