<div class="turbo-Fee-Simulation js-Tab">
  <div id="js-simulation-container" class="l-System_Container">
    <div class="turbo-Fee-Simulation_Tab">
      <p class="turbo-Fee-Simulation_Tab-txt">Rakuten Turbo 5G（製品）の<br class="turbo-Fee-Utility_Display-sp">お支払い回数を選択</p>
      <ul class="turbo-Fee-Simulation_Tab-items" role="tablist">
        <li class="turbo-Fee-Simulation_Tab-item js-Tab_Item" id="payment-methods01" role="tab" aria-selected="false" aria-controls="simulation-result01" data-ratid="rmt_simulation_01" data-ratevent="click" data-ratparam="all">
            <span class="turbo-Fee-Simulation_Radio"></span>48回
        </li>
        <li class="turbo-Fee-Simulation_Tab-item js-Tab_Item" id="payment-methods02" role="tab" aria-selected="false" aria-controls="simulation-result02" data-ratid="rmt_simulation_02" data-ratevent="click" data-ratparam="all">
          <span class="turbo-Fee-Simulation_Radio"></span>24回
        </li>
        <li class="turbo-Fee-Simulation_Tab-item js-Tab_Item" id="payment-methods03" role="tab" aria-selected="false" aria-controls="simulation-result03" data-ratid="rmt_simulation_03" data-ratevent="click" data-ratparam="all">
          <span class="turbo-Fee-Simulation_Radio"></span>一括
        </li>
      </ul>
    </div>
    <div class="turbo-Fee-Simulation_Btn u-Adjust_Pt-24 u-Adjust_Pb-32 u-Adjust_Align-center">
        <button id="js-simulation-btn" class="c-Btn_Secondly-large" aria-disabled="true" data-ratid="simulation-button_01" data-ratevent="click" data-ratparam="all"><span>月々のお支払いを確認する</span></button>
    </div>
  </div>

  <div class="turbo-Fee-Simulation_Content js-Tab_Panel">
    <div class="turbo-Fee-Simulation_Content-inner">
      <div class="turbo-Fee-Simulation_Icon-arrow">
        <img src="<%= sitepath %>assets/img/internet/turbo/fee/icon-arrow.svg" alt="" width="60" height="30">
      </div>
      <div class="turbo-Fee-Simulation_Panel" id="simulation-result01" role="tabpanel" aria-hidden="true" aria-labelledby="payment-methods01">
        <div class="u-Rat_Appear-height" data-ratid="scroll-03_result-48times" data-ratevent="appear"></div>
        <div class="u-Adjust_Align-center">
          <picture>
            <source media="(max-width:834px)" srcset="<%= sitepath %>assets/img/internet/turbo/fee/img-simulation01-sp-240221.png" width="343" height="494">
            <img src="<%= sitepath %>assets/img/internet/turbo/fee/img-simulation01-pc-240221.png" alt="月々のお支払い料金 1カ月目 4,178円 2カ月~6カ月 866円 7カ月~48カ月 5,706円 49カ月以降 4,840円 内訳 プラン料金 1カ月目 0円/月 2カ月~6カ月 0円/月 7カ月~48カ月 4,840円/月 49カ月以降 4,840円/月 契約事務手数料 1カ月目 3,300円 製品代金（48回※2） 1カ月目 878円※1  2カ月~6カ月 866円 7カ月~48カ月 866円" width="1032" height="297">
          </picture>
        </div>
      </div>
      <div class="turbo-Fee-Simulation_Panel" id="simulation-result02" role="tabpanel" aria-hidden="true" aria-labelledby="payment-methods02">
        <div class="u-Rat_Appear-height" data-ratid="scroll-03_result-24times" data-ratevent="appear"></div>
        <div class="u-Adjust_Align-center">
          <picture>
            <source media="(max-width:834px)" srcset="<%= sitepath %>assets/img/internet/turbo/fee/img-simulation02-sp-240221.png" width="343" height="494">
            <img src="<%= sitepath %>assets/img/internet/turbo/fee/img-simulation02-pc-240221.png" alt="月々のお支払い料金 1カ月目 5,044円 2カ月~6カ月 1,732円 7カ月~24カ月 6,572円 25カ月以降 4,840円 内訳 プラン料金 1カ月目 0円/月 2カ月~6カ月 0円/月 7カ月~24カ月 4,840円/月 25カ月以降 4,840円/月 契約事務手数料 1カ月目 3,300円 製品代金（24回） 1カ月目 1,744円 2カ月~6カ月 1,732円 7カ月~24カ月 1,732円" width="1032" height="297">
          </picture>
        </div>
      </div>
      <div class="turbo-Fee-Simulation_Panel" id="simulation-result03" role="tabpanel" aria-hidden="true" aria-labelledby="payment-methods03">
        <div class="u-Rat_Appear-height" data-ratid="scroll-03_result-1time" data-ratevent="appear"></div>
        <div class="u-Adjust_Align-center">
          <picture>
            <source media="(max-width:834px)" srcset="<%= sitepath %>assets/img/internet/turbo/fee/img-simulation03-sp-240221.png" width="343" height="444">
            <img src="<%= sitepath %>assets/img/internet/turbo/fee/img-simulation03-pc-240221.png" alt="月々のお支払い料金 1カ月目 44,880円 2カ月~6カ月 0円 7カ月以降 4,840円 内訳 プラン料金 1カ月目 0円/月 2カ月~6カ月 0円/月 7カ月以降 4,840円/月 契約事務手数料 1カ月目 3,300円 製品代金（一括） 1カ月目 41,580円" width="1032" height="297">
          </picture>
        </div>
      </div>
      <div class="u-Adjust_Mt-8">
        <ol>
          <li class="c-Txt_Cap">※1 Rakuten TurboとRakuten Turbo 5Gの同時契約が必要。製品代金 別途41,580円 ※2 プラン料金の課金開始日より前にご解約した場合、ご解約から2カ月以内を目安に請求いたします </li>
          <li class="c-Txt_Cap">※3 製品代金（41,580円）48回払いは楽天カードのみ</li>
        </ol>
      </div>
      <div class="turbo-Fee-Simulation_Box u-Adjust_Mt-48">
        <div class="u-Rat_Appear-height" data-ratid="scroll-04_point" data-ratevent="appear"></div>
        <p class="turbo-Fee-Simulation_Box-txt">さらにRakuten Turboなら <br class="turbo-Fee-Utility_Display-sp"><span class="c-Txt_Normal-l">楽天ポイントが<br class="turbo-Fee-Utility_Display-sp">貯まる！使える！</span></p>
      </div>
      <div class="turbo-Fee-Simulation_List">
        <ul class="turbo-Fee-Simulation_List-items">
          <li>
            <div class="u-Adjust_Align-center">
              <picture>
                <source media="(max-width:834px)" srcset="<%= sitepath %>assets/img/internet/turbo/fee/img-spu-sp-231201.png" width="343" height="171">
                <img src="<%= sitepath %>assets/img/internet/turbo/fee/img-spu-pc-231201.png" alt="Rakuten Turboをご契約中は楽天市場のお買い物が R SPU ポイント+2倍 ※毎月の獲得上限ポイント数は1,000ポイント、期間限定ポイントでの進呈" width="418" height="134">
              </picture>
            </div>
          </li>
          <li>
            <div class="u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/internet/turbo/fee/img-check01.svg" alt="あわせてチェック" width="195" height="28">
            </div>
            <div class="u-Adjust_Align-center u-Adjust_Mt-8">
              <a href="<%= sitepath %>internet/turbo/support/plan/point-guide/" class="c-Banner_Hover-act">
                <picture>
                  <source media="(max-width:834px)" srcset="<%= sitepath %>assets/img/internet/turbo/fee/img-check02-sp.png" width="343" height="108">
                  <img src="<%= sitepath %>assets/img/internet/turbo/fee/img-check02-pc.png" alt="Rakuten Turboは月々のお支払いで楽天ポイントが貯まる・使える" width="504" height="158">
                </picture>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
