<% const pagetitle = "おサイフケータイロックの設定・解除方法" -%>
<% const directories = [{path:"support/", label:"お客様サポート"},{path:"support/setting/android/", label:"Android製品の設定手順に関するサポート"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'おサイフケータイの機能を無断で使われることを防ぐために、おサイフケータイの機能をロックすることができます。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>

  <div class="l-System">

    <%- include('/include/_header') %>

    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>

    <div class="<%= nameSpace %>-Layout_Container">
      <div class="l-System_Container">
        <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

        <p class="u-Adjust_Mt-24">おサイフケータイの機能を無断で使われることを防ぐために、おサイフケータイの機能をロックすることができます。</p>
        <ul class="c-List_Cap c-Txt_Cap u-Adjust_Mt-24">
          <li><span>※</span>設定・解除に必要なパスワードの取り扱いには十分ご注意ください。</li>
          <li><span>※</span>おサイフケータイ ロック設定中に電源を切ったり、電池残量がなくなって電源が切れたりした場合でもロックは解除されません。</li>
        </ul>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-48">設定・解除方法</h2>
        <div class="c-Tab js-Tab u-Adjust_Mt-24">
          <ul class="c-Tab_Items" role="tablist">
            <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">ロック設定する</li>
            <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">ロック解除する</li>
          </ul>
          <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
            <ol class="c-Flow u-Adjust_Mt-32">
              <li>
                <h3 class="c-Heading_Lv3">1. おサイフケータイアプリを起動する</h3>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/osaifu-lock/img-guide-osaifu-lock-1.png" alt="" class="c-Img_Capture">
                </p>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">2. 右上の鍵のアイコンをタップする</h3>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/osaifu-lock/img-guide-osaifu-lock-2.png" alt="" class="c-Img_Capture">
                </p>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">3. パスワードを入力して「ロック」ボタンをタップする</h3>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">※パスワードはロック解除時に必要になりますので忘れずにお控えください。</p>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/osaifu-lock/img-guide-osaifu-lock-6.png" alt="" class="c-Img_Capture">
                </p>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">4. おサイフケータイがロックされます</h3>
                <p class="u-Adjust_Mt-16">右上の鍵アイコンが閉じられていればロック設定完了です。</p>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/osaifu-lock/img-guide-osaifu-lock-3.png" alt="" class="c-Img_Capture">
                </p>
              </li>
            </ol>
            <p class="u-Adjust_Mt-16">以上で完了です。</p>
          </div>
          <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
            <ol class="c-Flow u-Adjust_Mt-32">
              <li>
                <h3 class="c-Heading_Lv3">1. おサイフケータイアプリを起動する</h3>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/osaifu-lock/img-guide-osaifu-lock-1.png" alt="" class="c-Img_Capture">
                </p>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">2. 右上の鍵のアイコンをタップする</h3>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/osaifu-lock/img-guide-osaifu-lock-3.png" alt="" class="c-Img_Capture">
                </p>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">3. パスワードを入力して「ロック解除」ボタンをタップする</h3>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">※パスワードはロック設定時にご入力頂いたものになります。</p>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/osaifu-lock/img-guide-osaifu-lock-5.png" alt="" class="c-Img_Capture">
                </p>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">4. おサイフケータイがロック解除されます</h3>
                <p class="u-Adjust_Mt-16">右上の鍵アイコンが開いていればロック解除完了です。</p>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/osaifu-lock/img-guide-osaifu-lock-2.png" alt="" class="c-Img_Capture">
                </p>
              </li>
            </ol>
            <p class="u-Adjust_Mt-16">以上で完了です。</p>
          </div>
        </div>
        <div class="u-Adjust_Pt-40">
          <div><a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップにもどる</span></a></div>
          <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a></div>
        </div>

      </div>
    </div>

    <%- include('/include/guide/_review') %>
    <%- include('/include/guide/_inquiry') %>

    <footer class="g-Footer">

      <div class="g-Footer_Aside">

        <%- include('/include/footer/bnr/_bnr.ejs') %>

      </div>

      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>

      <%- include('/include/_footer') %>

    </footer>

  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
  <script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
</body>

</html>
