<% const pagetitle = "Rakuten Mini本体価格1円キャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "rakuten-mini" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'キャンペーン期間中にRakuten UN-LIMIT VIに申し込みで、Rakuten Miniを1円でご購入いただけます。',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/rakuten-mini/rakuten-mini.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= namespace %>-Hero_Return" id="js-trigger">
  <div class="l-System_Container <%= namespace %>-Hero_Container">
    <div class="<%= namespace %>-Hero_Main">
      <h1><img src="<%= sitepath %>assets/img/campaign/rakuten-mini/img-rakuten-mini-heading-pc.png?210401" alt="Rakuten UN-LIMIT VI お申し込みで Mini 1円" height="460" class="<%= namespace %>-Utility_Img-pc"><img src="<%= sitepath %>assets/img/campaign/rakuten-mini/img-rakuten-mini-heading-sp.png?210401" alt="Rakuten UN-LIMIT VI お申し込みで Mini 1円" class="<%= namespace %>-Utility_Img-sp"></h1>
    </div>
  </div>
</div>

<div class="<%= namespace %>-Layout_Body">

  <div class="l-System_Container">
    <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-16 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
    <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【キャンペーン期間】</span>Web：2021年1月22日（金）9:00～2021年12月21日（火）8:59 / ショップ：2021年1月22日（金）開店～2021年12月20日（月）閉店</p>
    <p class="u-Adjust_Align-center u-Adjust_Mt-32 c-Txt_Emp-02">ご好評により、現在Webお申し込みは在庫切れです。</p>
    <div class="u-Adjust_Align-center u-Adjust_Mt-8 <%= namespace %>-Btn">
      <a href="<%= sitepath %>product/smartphone/rakuten-mini/?l-id=campaign_rakuten-mini_product_rakuten-mini" class="c-Btn_Primary-large">
        <span>Rakuten Miniの詳細はこちら</span>
      </a>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※Rakuten Mini詳細ページに移動します。</p>
    </div>

    <div class="u-Adjust_Mt-48">
      <h3 class="c-Heading_Lv3 u-Adjust_Align-center u-Adjust_Mt-16">「Rakuten UN-LIMIT VI」お申し込みで、Rakuten Miniを1円でご購入いただけます！</h3>
    </div>

    <ul class="c-List_Cap u-Adjust_Mt-16 rakuten-mini-Layout_Section-cap c-Txt_Normal">
      <li>※ 本キャンペーンは予告なく内容の変更もしくは中止させていただく場合がございます。あらかじめご了承ください。</li>
      <li class="c-Txt_Emp-02">※ 特典はおひとり様1回のみとさせていただきます。</li>
      <li class="c-Txt_Emp-02">※ 製品＋プランをセットでご購入ください。</li>
    </ul>



  <div class="<%= namespace %>-Block_Products_area">
    <div class="<%= namespace %>-Block_Products_area_in">
      <div class="u-Adjust_Align-center">
          <div class="<%= namespace %>-Block_Media">
            <div>
              <img src="<%= sitepath %>assets/img/campaign/rakuten-mini/img-rakuten-mini-01.png?210122" width="" alt="" class="<%= namespace %>-Utility_Img-sp">
            </div>
            <div class="u-Adjust_Align-left <%= namespace %>-Block_Media-left">
              <h3 class="c-Heading_Lv2 u-Adjust_Mt-8">Rakuten Mini</h3>
              <p class="u-Adjust_Mt-8"><b>世界最小、最軽量</b><span class="c-Txt_Cap">※</span>、<b>おサイフケータイ対応</b></p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※モバイルFeliCa搭載のスマートフォンにおいて。2019年7月当社調べ。「最小」は体積による比較。</p>
              <p class="u-Adjust_Mt-8 u-Adjust_Align-right">プランセット購入で、一括払い<b class="c-Txt_Normal-ll">1</b>円</p>
              <p class="c-Txt_Emp-02 u-Adjust_Mt-8 u-Adjust_Align-right">5,000円相当のポイント還元 <span class="c-Txt_Cap">※1</span></p>
              <p class="c-Txt_Emp-02 u-Adjust_Align-right c-Txt_Cap">※製品＋プランセット購入の場合</p>

              <p class="u-Adjust_Align-center u-Adjust_Mt-32 c-Txt_Emp-02">ご好評により、現在Webお申し込みは在庫切れです。</p>

              <div class="<%= namespace %>-Utility_Img-pc <%= namespace %>-Btn">
                <a href="<%= sitepath %>product/smartphone/rakuten-mini/?l-id=campaign_rakuten-mini_product_rakuten-mini" class="c-Btn_Primary-large u-Adjust_Mt-8">
                  <span>Rakuten Miniの<br>詳細はこちら</span>
                </a>
                <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-center">※Rakuten Mini詳細ページに移動します。</p>
              </div>
            </div>
            <div class="<%= namespace %>-Block_Media-right">
              <div class="u-Adjust_Align-center <%= namespace %>-Block_Media-right-imgBlock">
                <img src="<%= sitepath %>assets/img/campaign/rakuten-mini/img-rakuten-mini-01.png?210122" width="" alt="" class="<%= namespace %>-Utility_Img-pc">

                <!-- <p class="u-Adjust_Align-center u-Adjust_Mt-32 c-Txt_Emp-02">ご好評により、現在Webお申し込みは在庫切れです。</p> -->

                <div class="<%= namespace %>-Utility_Img-sp <%= namespace %>-Btn">
                  <a href="<%= sitepath %>product/smartphone/rakuten-mini/?l-id=campaign_rakuten-mini_product_rakuten-mini" class="c-Btn_Primary-large">
                    <span>Rakuten Miniの<br>詳細はこちら</span>
                  </a>
                  <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-center">※Rakuten Mini詳細ページに移動します。</p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <ul class="c-List_Cap u-Adjust_Mt-16">
      <li><span>※</span>「<a href="<%= sitepath %>campaign/start-point/">【Rakuten UN-LIMIT VIお申し込み特典】だれでも5,000ポイントプレゼント</a>」が適用されて5,000ポイント還元された場合。</li>
    </ul>
  </div>
</div>

<div class="rakuten-mini-Description">
  <ul class="rakuten-mini-Description_Btn">
    <li><a href="#join_campaign" class="c-Btn_Regular c-Btn_Icon rakuten-mini-Description_Btn-icon js-scroll" data-ratId="fee-un-limit-btn_01" data-ratEvent="click" data-ratParam="all"><span class="c-Icon_Arrow-down-l c-Txt_Emp-02"></span><span>キャンペーン参加<br class="<%= namespace %>-Utility_Br-sp">方法を確認する</span></a></li>
    <li><a href="#campaign-rule" class="c-Btn_Regular c-Btn_Icon rakuten-mini-Description_Btn-icon js-scroll" data-ratId="fee-un-limit-btn_01" data-ratEvent="click" data-ratParam="all"><span class="c-Icon_Arrow-down-l c-Txt_Emp-02"></span><span>キャンペーン<br class="<%= namespace %>-Utility_Br-sp">ルールを見る</span></a></li>
  </ul>
</div>


  <div class="l-System_Container u-Adjust_Mt-56">
    <div id="campaign-flow">
      <h3 class="c-Heading_Lv3" id="join_campaign">キャンペーン参加方法</h3>
    </div>

    <div class="c-Tab js-Tab u-Adjust_Mt-16">
      <ul class="c-Tab_Items" role="tablist">
        <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">Webで購入</li>
        <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">ショップで購入</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
        <ul class="<%= namespace %>-Flow_List">
          <li>
            <h3 class="c-Heading_Lv4">楽天モバイル（楽天回線）の申し込みと、製品の購入を行う</h3>
            <div class="<%= namespace %>-Flow_List-detail">
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/rakuten-mini/img-point-03.png" width="" alt="">
                </div>
                <div>
                  <p>Webよりお申し込みを完了させてください。</p>
                  <p class="u-Adjust_Mt-24">お申し込み期間：2021年1月22日（金）9:00～2021年12月21日（火）8:59</p>
                  <p class="u-Adjust_Mt-24">
                    <a href="<%= sitepath %>fee/un-limit/" class="c-Link_Txt-icon">Rakuten UN-LIMIT VIの詳細を見る<span class="c-Icon_Chevron-right"></span></a>
                  </p>
                </div>
              </div>
            </div>
            <div class="c-Accordion u-Adjust_Mt-16">
              <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten UN-LIMIT VIとRakuten Miniを購入する方法を見る</button>
              <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
                <p class="u-Adjust_Mt-8 c-Txt_Emp-02">「新規電話番号／他社から乗り換え（MNP）お申し込み」のフローになります。</p>
                <ul class="rakuten-mini-Flow_List">
                  <li class="c-Infobox_Standing-light c-Attention_Info" style="border:none;">
                    <h3 class="c-Heading_Lv4">お申し込み・お支払いに必要なものを準備する</h3>
                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-16">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                        <p class="u-Adjust_Align-center u-Adjust_Mt-16"><img src="<%= sitepath %>assets/img/campaign/rakuten-mini/img-point-09.png" width="" alt=""></p>
                      </div>
                      <div>
                        <p class="u-Adjust_Mt-16">ご契約・お支払いに必要なものをご用意ください。</p>
                        <ul class="<%= namespace %>-Flow_List-link <%= namespace %>-Block_List c-List_Text-disc u-Adjust_Mt-16">
                          <li>
                            <a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-icon">本人確認書類<span class="c-Icon_Chevron-right"></span></a>
                          </li>
                          <li class="u-Adjust_Mt-16">
                            <p>楽天会員ログイン用のユーザID、パスワード</p>
                            <p class="c-Txt_Emp-02 c-Txt_Normal-s u-Adjust_Mt-8">※本人確認書類の情報と、楽天会員情報が一致している必要があります。</p>
                            <p class="u-Adjust_Mt-8">
                              <a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Link_Txt-icon">楽天会員情報を確認・変更する<span class="c-Icon_Chevron-right"></span></a>
                            </p>
                          </li>
                          <li class="u-Adjust_Mt-16">
                            <a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-icon">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                            <p class="c-Txt_Cap u-Adjust_Mt-16">
                              ※ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="<%= sitepath %>faq/detail/00001238/">こちらのご案内ページ</a>を必ず事前にご確認ください。
                            </p>
                          </li>
                          <li class="u-Adjust_Mt-16">
                            <a href="<%= sitepath %>guide/mnp/" class="c-Link_Txt-icon">ご契約者本人名義のMNP予約番号（他社から乗り換えの場合）<span class="c-Icon_Chevron-right"></span></a>

                            <p class="c-Txt_Cap u-Adjust_Mt-8">
                              ※未成年者の方のお申し込みに必要な情報、お申し込み方法は<a href="<%= sitepath %>flow/for-minors/">こちらのご案内ページ</a>をご確認ください。<br>
                            </p>
                            <p class="c-Txt_Cap u-Adjust_Mt-8">
                              ※Webページにて、楽天モバイル（ドコモ回線・au回線）から移行お手続き後に、Rakuten UN-LIMIT VIにお申し込みいただく場合、MNP予約番号と本人確認書類はご準備不要です。
                            </p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li class="c-Infobox_Standing-light c-Attention_Info" style="border:none;">
                    <h3 class="c-Heading_Lv4 u-Adjust_Pt-16">Rakuten Miniの詳細ページへ移動し、購入するカラーのボタンを押す</h3>
                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-16">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                        <p class="u-Adjust_Align-center u-Adjust_Mt-16"><img src="<%= sitepath %>assets/img/campaign/rakuten-mini/img-rakuten-mini-04.png?20210401" width="228" alt=""></p>
                      </div>
                      <div>
                        <p class="u-Adjust_Mt-16">Rakuten Miniの詳細ページに移動し、ページ内の購入するカラーのボタンを押してください。</p>

                        <p class="u-Adjust_Align-center u-Adjust_Mt-32 c-Txt_Emp-02">ご好評により、現在Webお申し込みは在庫切れです。</p>

                        <div class="u-Adjust_Align-center u-Adjust_Mt-8 <%= namespace %>-Btn">
                          <a href="<%= sitepath %>product/smartphone/rakuten-mini/?l-id=campaign_rakuten-mini_product_rakuten-mini" class="c-Btn_Primary-large">
                            <span>Rakuten Miniの<br>購入はこちら</span>
                          </a>
                          <p class="c-Txt_Cap u-Adjust_Mt-8">※Rakuten Mini詳細ページに移動します。</p>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>

              </div>
            </div>
            <div class="c-Accordion">
              <button id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイル（ドコモ・au回線）から移行する方法を見る</button>
              <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
                <p class="u-Adjust_Mt-8 c-Txt_Emp-02">「楽天モバイル（ドコモ・au回線）からのプラン変更（移行）お申し込み」のフローになります。</p>
                <div class="<%= namespace %>-Block_Innercont u-Adjust_Mt-16">
                  <div class="<%= namespace %>-Block_Innercont-left c-Attention_Info">
                    <h3 class="c-Heading_Lv4">お申し込み・お支払いに必要なものを準備する</h3>
                    <p class="u-Adjust_Align-center u-Adjust_Mt-16"><img src="<%= sitepath %>assets/img/campaign/rakuten-mini/img-point-09.png" width="" alt=""></p>
                    <p class="u-Adjust_Mt-16">ご契約・お支払いに必要なものをご用意ください。</p>
                    <ul class="<%= namespace %>-Flow_List-link <%= namespace %>-Block_List c-List_Text-disc u-Adjust_Mt-16">
                      <li class="u-Adjust_Mt-16">
                        <p>楽天会員ログイン用のユーザID、パスワード</p>
                        <p class="c-Txt_Emp-02 c-Txt_Normal-s u-Adjust_Mt-8">※本人確認書類の情報と、楽天会員情報が一致している必要があります。</p>
                        <p class="u-Adjust_Mt-8">
                          <a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Link_Txt-icon">楽天会員情報を確認・変更する<span class="c-Icon_Chevron-right"></span></a>
                        </p>
                      </li>
                      <li class="u-Adjust_Mt-16">
                        <a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-icon">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                        <p class="c-Txt_Cap u-Adjust_Mt-16">
                          ※Webページにて、楽天モバイル（ドコモ回線・au回線）から移行お手続き後に、Rakuten UN-LIMIT VIにお申し込みいただく場合、MNP予約番号と本人確認書類はご準備不要です。
                        </p>
                      </li>
                    </ul>
                  </div>
                  <div class="<%= namespace %>-Block_Innercont-right c-Attention_Info">
                    <h3 class="c-Heading_Lv4">プラン変更（移行）の申し込み後、WebサイトでRakuten UN-LIMIT VIとRakuten Miniを購入する</h3>
                    <p class="u-Adjust_Align-center u-Adjust_Mt-16"><img src="<%= sitepath %>assets/img/campaign/rakuten-mini/img-point-07.png" width="" alt=""></p>
                    <p class="u-Adjust_Mt-16">メンバーズステーションより、移行のお申し込みを行ってください。楽天回線へのお申し込み完了後、引き続きRakuten UN-LIMIT VIのお申し込みにお進みいただきます。</p>
                    <p class="u-Adjust_Mt-24">画面の案内に従って、Rakuten UN-LIMIT VIのお申し込みと製品（rakuten-mini）の購入手続きを行ってください。</p>
                    <p class="u-Adjust_Align-center u-Adjust_Mt-24">
                      <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&mno_migration=1" class="c-Btn_Primary-large"><span>メンバーズステーションに進む</span></a>
                    </p>
                    <p>
                      <a href="<%= sitepath %>guide/mnp/migration/" class="c-Link_Txt-icon u-Adjust_Mt-16">楽天モバイル（楽天回線）への移行方法を確認する<span class="c-Icon_Chevron-right"></span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv4">お申し込み完了</h3>
            <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-16">
              <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                <img src="<%= sitepath %>assets/img/campaign/rakuten-mini/img-point-06.png" width=""  alt="">
              </div>
              <div>
                <p>本人確認の審査が完了次第、製品を発送させていただきます。本人確認の審査状況、発送状況は「my 楽天モバイル」でご確認いただけます。</p>

                <p class="u-Adjust_Mt-8"> 楽天モバイル」でご確認いただけます。</p>
                <div class="u-Adjust_Align-left u-Adjust_Mt-24">
                  <a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile" class="c-Btn_Regular-auto <%= namespace %>-Flow_List-in-btn"><span>my 楽天モバイル</span></a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv4">製品到着後、初期設定を行いご利用開始</h3>
            <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-16">
              <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                <img src="<%= sitepath %>assets/img/campaign/rakuten-mini/img-rakuten-mini-02.png" width="248" alt="">
              </div>
              <div>
                <p>製品がお手元に届きましたら、製品購入月の翌月末までに初期設定を行い、ご利用を開始してください。（Rakuten MiniはeSIM搭載製品のため、SIMカードの発送はありません。）</p>
                <div class="u-Adjust_Align-left u-Adjust_Mt-16">
                  <a href="<%= sitepath %>product/smartphone/rakuten-mini/support/setting/" class="c-Btn_Regular-auto <%= namespace %>-Flow_List-in-btn"><span>Rakuten Miniの初期設定方法を確認</span></a>
                </div>
              </div>
            </div>
          </li>
        </ul>


      </div>
      <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">

      <ul class="<%= namespace %>-Flow_List">
        <li>
          <h3 class="c-Heading_Lv4">ショップで楽天モバイルのお申し込みと製品を購入する</h3>
          <div class="<%= namespace %>-Flow_List-detail">
            <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
              <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                <img src="<%= sitepath %>assets/img/campaign/rakuten-mini/img-point-10.png" width="" alt="">
              </div>
              <div>
                <p>楽天モバイルショップにて、楽天モバイルのお申し込みとRakuten Miniの購入手続きを行ってください。</p>
                <p class="u-Adjust_Mt-8">【お申し込み期間】<br>
                  2021年1月22日（金）開店～2021年12月20日（月）閉店</p>
                <div class="u-Adjust_Align-left u-Adjust_Mt-32">
                  <a href="<%= sitepath %>shop/" class="c-Btn_Regular-auto <%= namespace %>-Flow_List-in-btn"><span>お近くのショップを探す</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion u-Adjust_Mt-16">
            <button id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>新規契約時に必要なものを確認する</button>
            <div id="accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-5" aria-hidden="true">
              <p class="u-Adjust_Mt-16">ご契約・お支払いに必要なものをご用意ください。</p>
              <ul class="<%= namespace %>-Flow_List-link <%= namespace %>-Block_List c-List_Text-disc u-Adjust_Mt-16">
                <li>
                  <a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-icon">本人確認書類<span class="c-Icon_Chevron-right"></span></a>
                </li>
                <li class="u-Adjust_Mt-16">
                  <p>楽天会員ログイン用のユーザID、パスワード</p>
                  <p class="c-Txt_Emp-02 c-Txt_Normal-s u-Adjust_Mt-8">※本人確認書類の情報と、楽天会員情報が一致している必要があります。</p>
                  <p class="u-Adjust_Mt-8">
                    <a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Link_Txt-icon">楽天会員情報を確認・変更する<span class="c-Icon_Chevron-right"></span></a>
                  </p>
                </li>
                <li class="u-Adjust_Mt-16">
                  <a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-icon">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                  <p class="c-Txt_Cap u-Adjust_Mt-16">
                    ※ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="<%= sitepath %>faq/detail/00001238/">こちらのご案内ページ</a>を必ず事前にご確認ください。
                  </p>
                </li>
                <li class="u-Adjust_Mt-16">
                  <a href="<%= sitepath %>guide/mnp/" class="c-Link_Txt-icon">ご契約者本人名義のMNP予約番号（他社から乗り換えの場合）<span class="c-Icon_Chevron-right"></span></a>
                </li>
              </ul>
              <p class="c-Txt_Cap u-Adjust_Mt-16">
                ※楽天モバイル（ドコモ回線・au回線）からの移行お申し込みをご希望のお客様は、メンバーズステーショントップページの「MNP予約番号発行・確認」をタップし、MNP予約番号を発行してください。MNP予約番号発行手数料は発生しません。
              </p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">
                ※未成年者の方のお申し込みに必要な情報、お申し込み方法は<a href="<%= sitepath %>flow/for-minors/">こちらのご案内ページ</a>をご確認ください。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">
                ※Webページにて、楽天モバイル（ドコモ回線・au回線）から移行お手続き後に、Rakuten UN-LIMIT VIにお申し込みいただく場合、MNP予約番号と本人確認書類はご準備不要です。</p>
            </div>
          </div>
        </li>
      </ul>

      </div>

      <p class="u-Adjust_Mt-24 <%= namespace %>-Layout_Note"><a href="#campaign-rule">キャンペーンルール</a>をご確認のうえ、ご購入ください。</p>

      <p class="u-Adjust_Align-center u-Adjust_Mt-32 c-Txt_Emp-02">ご好評により、現在Webお申し込みは在庫切れです。</p>

      <div class="u-Adjust_Align-center u-Adjust_Mt-8 <%= namespace %>-Btn">
        <a href="<%= sitepath %>product/smartphone/rakuten-mini/?l-id=campaign_rakuten-mini_product_rakuten-mini" class="c-Btn_Primary-large">
          <span>Rakuten Miniの詳細はこちら</span>
        </a>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※Rakuten Mini詳細ページに移動します。</p>
      </div>
    </div>

    <div class="<%= namespace %>-Layout_Rule" id="campaign-rule">
      <h2>Rakuten Mini本体価格1円キャンペーン</h2>
      <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-16 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
      <div class="c-Table_Wrap u-Adjust_Mt-24">
        <table class="c-Table_Container <%= namespace %>-Table_Rule">
          <colgroup>
            <col>
            <col>
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th colspan="2">キャンペーンコード</th>
              <td>
                <p class="u-Adjust_Mt-8">
                  1154
                </p>
                <ul class="c-List_Cap u-Adjust_Mt-8">
                  <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th colspan="2">キャンペーン期間</th>
              <td>
                <p>Web：2021年1月22日（金）9:00～2021年12月21日（火）8:59 /<br>
                  ショップ：2021年1月22日（金）開店～2021年12月20日（月）閉店
                </p>
              </td>
            </tr>
            <tr>
              <th colspan="2">対象者・適用条件</th>
              <td>
                <p class="u-Adjust_Mt-8">
                  以下条件を満たした楽天会員の方
                </p>
                <p class="u-Adjust_Mt-16 c-Txt_Emp-01">
                  キャンペーン期間中に、「Rakuten UN-LIMIT VI」と「Rakuten Mini」をセットでご購入
                </p>
                <ul class="c-List_Cap u-Adjust_Mt-8">
                  <li><span>※</span>特典はおひとり様1回のみとさせていただきます</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th rowspan="2">キャンペーン特典</th>
            </tr>
            <tr>
              <th>特典内容</th>
              <td>
                <p>Rakuten Miniを1円で販売させていただきます</p>
              </td>
            </tr>
            <tr>
              <th rowspan="3">注意事項</th>
              <th>特典適用対象外</th>
              <td>
                <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
                <ul class="c-List_Cap u-Adjust_Mt-16">
                  <li><span>※</span>2020年5月27日(水)9:00～2020年6月17日（水)8:59に実施していた【Rakuten UN-LIMITお申し込み特典】Rauten Mini本体代が1円キャンペーンを適用している場合</li>
                  <li><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
                  <li><span>※</span>当社または楽天株式会社が定める規約などに違反した場合</li>
                  <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>併用不可キャンペーン</th>
              <td>
                <ul class="c-List_Cap">
                  <li><span>※</span>Rakuten MiniとRakuten Handをご購入した場合、本キャンペーンが適用され、「Rakuten Hand19,999ポイントプレゼントキャンペーン」は対象外となります。</li>
                  <li><span>※</span>Rakuten Miniと「Rakuten UN-LIMIT VI＋製品購入でポイント還元キャンペーン」（キャンペーンコード：1121、1145、1160、1186、1251*、1315、1379）対象製品をご購入した場合、本キャンペーンが適用され、「Rakuten UN-LIMIT VI＋製品購入でポイント還元キャンペーン」（キャンペーンコード：1121、1145、1160、1186、1251*、1315、1379）は対象外となります。(*2021年6月22日追記）</li>
                  <li><span>※</span>Rakuten Miniと楽天モバイル公式 楽天市場店で「【リニューアル記念キャンペーン】楽天モバイル公式 楽天市場店で製品を購入＆楽天回線(プラン)お申し込みでポイント最大20倍」対象製品をご購入した場合、本キャンペーンが適用され、「【リニューアル記念キャンペーン】楽天モバイル公式 楽天市場店で製品を購入＆楽天回線(プラン)お申し込みでポイント最大20倍」は対象外となります。</li>
                  <li><span>※</span>Rakuten Miniと楽天モバイル公式 楽天市場店で「【リニューアル記念キャンペーン】楽天モバイル公式 楽天市場店でiPhoneを購入＆Rakuten UN-LIMIT VIお申し込みでポイント10倍」対象製品をご購入した場合、本キャンペーンが適用され、「【リニューアル記念キャンペーン】楽天モバイル公式 楽天市場店でiPhoneを購入＆Rakuten UN-LIMIT VIお申し込みでポイント10倍」は対象外となります。</li>
                  <li><span>※</span>Rakuten Miniと「期間限定増額！Rakuten UN-LIMIT VI＋製品購入で、さらにポイントプレゼントキャンペーン 」（キャンペーンコード：1148）対象製品をご購入した場合、本キャンペーンが適用され、「期間限定増額！Rakuten UN-LIMIT VI＋製品購入で、さらにポイントプレゼントキャンペーン 」（キャンペーンコード：1148）は対象外となります。</li>
                  <li><span>※</span>Rakuten Miniと「期間限定！Rakuten UN-LIMIT VI＋製品購入でポイント還元キャンペーン」（キャンペーンコード：1168）対象製品をご購入した場合、本キャンペーンのみが適用されます。(2021年2月2日追記）</li>
                  <li><span>※</span>Rakuten Miniを購入し、iPhone製品を新規購入した場合、または楽天モバイル（ドコモ回線・au回線）の料金プランから移行手続き後にご購入した場合、本キャンペーンが適用され、「iPhone発売記念キャンペーン」は対象外となります。</li>
                  <li><span>※</span>Rakuten MiniとiPhone製品をご購入した場合、本キャンペーンが適用され、「プラン変更（移行）限定！iPhone購入で5,000ポイント還元キャンペーン」は対象外となります。</li>
                  <li><span>※</span>Rakuten Miniと同時に、iPhone製品を他社からの乗り換え（MNP）購入した場合、「他社から乗り換え（MNP）でiPhone割引キャンペーン」が適用され、本キャンペーンは対象外となります。<br>
                  iPhoneを楽天モバイルiPhoneアップグレードプログラムで購入された場合は、本キャンペーンが適用され、「他社から乗り換え（MNP）でiPhone割引キャンペーン」は対象外となります。</li>
                  <li><span>※</span>Rakuten Miniと楽天モバイル公式 楽天市場店で「楽天モバイル公式 楽天市場店でiPhoneのお買い物ポイントが最大20倍」対象製品をご購入した場合、本キャンペーンが適用され、「楽天モバイル公式 楽天市場店でiPhoneのお買い物ポイントが最大20倍」は対象外となります。</li>
                  <li><span>※</span>Rakuten MiniとRakuten Handをご購入した場合、本キャンペーンが適用され、「Rakuten Hand15,000ポイントプレゼントキャンペーン」は対象外となります。</li>
                  <li><span>※</span>Rakuten Miniを購入し、「3Gケータイ乗り換えキャンペーン」を申し込みした場合、本キャンペーンが適用され、「3Gケータイ乗り換えキャンペーン」は対象外となります</li>
                  <li><span>※</span>Rakuten Miniと楽天モバイル公式 楽天市場店で「楽天モバイル公式 楽天市場店 対象製品と楽天回線セットご注文で最大ポイント20倍」対象製品をご購入した場合、本キャンペーンが適用され、「楽天モバイル公式 楽天市場店 対象製品と楽天回線セットご注文で最大ポイント20倍」は対象外となります。</li>
                  <li><span>※</span>Rakuten Miniを購入し、楽天モバイル公式 楽天市場店で「AQUOS sense5G大幅値引きキャンペーン」を申し込みした場合、本キャンペーンが適用され、「AQUOS sense5G大幅値引きキャンペーン」は対象外となります</li>
                  <li><span>※</span>Rakuten Miniと楽天モバイル公式 楽天市場店で「楽天モバイル公式 楽天市場店 対象製品と楽天回線セットご注文で最大7,000ポイント」対象製品をご購入した場合、本キャンペーンが適用され、「楽天モバイル公式 楽天市場店 対象製品と楽天回線セットご注文で最大7,000ポイント」は対象外となります。</li>
                  <li><span>※</span>Rakuten Miniと「iPhone 13 全機種 ポイント還元キャンペーン」（1382）対象製品をご購入した場合、本キャンペーンが適用され、「iPhone 13 全機種 ポイント還元キャンペーン」（1382）は対象外となります。</li>
                </ul>
                <p class="u-Adjust_Mt-16 c-Txt_Emp-01">他社から乗り換え（MNP）でRakuten Miniをご購入し、条件を満たした場合には、以下のキャンペーンは適用されず、本キャンペーンが対象となりますので、ご注意ください。</p>
                <p><a href="<%= sitepath %>campaign/start-point/#campaign-rule03">お持ちのスマホそのままで、他社から乗り換え（MNP）の方限定！通常のRakuten UN-LIMIT VIお申し込み特典に加えて、さらに15,000ポイントプレゼントキャンペーン</a></p>
              </td>
            </tr>
            <tr>
              <th>その他注意事項</th>
              <td>
                <ul class="c-List_Cap">
                  <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                  <li><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われている他のキャンペーンの対象から除外、または特典総額が景品表示法上の範囲内に制限される場合があります</li>
                  <li><span>※</span>製品の台数に限りがございます。無くなり次第終了とさせていただく場合があります</li>
                  <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                  <li><span>※</span>記載の内容は2021年6月18日（金）時点の情報となります</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <p class="u-Adjust_Align-center u-Adjust_Mt-32 c-Txt_Emp-02">ご好評により、現在Webお申し込みは在庫切れです。</p>

      <div class="u-Adjust_Align-center u-Adjust_Mt-8 <%= namespace %>-Btn">
        <a href="<%= sitepath %>product/smartphone/rakuten-mini/?l-id=campaign_rakuten-mini_product_rakuten-mini" class="c-Btn_Primary-large">
          <span>Rakuten Miniの購入はこちら</span>
        </a>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※Rakuten Mini詳細ページに移動します。</p>
      </div>
    </div>
  </div>

</div>


<footer class="g-Footer u-Adjust_Pb-80">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-news.ejs') %>

    <%- include('/include/footer/bnr/_bnr-news.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>

<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/campaign.rakuten-hand.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
