<% const pagetitle = "Rakuten最強プランへの乗り換え手順" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/application/mnp/", label:"他社からの乗り換え（MNP）"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '他社からの乗り換え（MNP）やプラン変更（移行）のお申し込み方法・MNP予約番号取得方法をご案内します。楽天モバイルへのりかえ後も現在お使いの電話番号をそのままお使いいただけます。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

      <p class="c-Txt_Normal u-Adjust_Mt-24">こちらのページでは、他社や他プランからRakuten最強プランへお乗り換えの際に必要な手続きについてご案内します。</p>
      <ul class="<%= nameSpace %>-Link_Flex u-Adjust_Mt-24">
        <li><a href="#procedure-1" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>他社からお乗り換えのお客様</a></li>
        <li><a href="#procedure-2" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>楽天モバイル（ドコモ回線・au回線）からのプラン変更（移行）のお客様</a></li>
      </ul>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-48" id="procedure-1">他社からお乗り換えのお客様</h3>

    <div class="c-Tab js-Tab u-Adjust_Mt-32">
      <ul class="c-Tab_Items" role="tablist">
        <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">ご契約者とご利用者が異なる場合</li>
        <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">ご自身の名義でご契約中の場合</li>
      </ul>

    <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
      <p class="u-Adjust_Mt-16">MNPワンストップ未対応の携帯電話会社からの申し込みは、手順1から、MNPワンストップでの申し込みは、手順2からお願いいたします。</p>
      <ul class="u-Adjust_Mt-16 <%= nameSpace %>-Flow_List">
        <li>
          <h4 class="c-Heading_Lv4">
            1. ご契約中の携帯電話会社でのお手続き
          </h4>
          <div class="l-Media_Grid-reverse">
            <div>
              <p class="u-Adjust_Mt-16">楽天モバイルへのお乗り換えの前に、下記の手続きを完了してください。<br>
                他社にて利用者登録制度をお使いのお客様は、事前に利用者登録を解除した後、ご契約者名義の方がMNP転出手続きを行う必要があります。</p>
              <ul class="c-List_Text-disc u-Adjust_Mt-16">
                <li>
                  <span class="c-Txt_Emp-02">利用者登録の解除</span>
                </li>
                <li class="u-Adjust_Mt-16">
                  MNP予約番号の取得
                </li>
              </ul>
              <p class="u-Adjust_Mt-16">
                <a href="<%= sitepath %>guide/mnp/" class="c-Link_Txt-icon">他社から乗り換え（MNP）<span class="c-Icon_Chevron-right"></span></a>
              </p>
              <p class="u-Adjust_Mt-8">
                各社のショップ・電話・Webサイトにて「MNP転出」の希望を伝え、取得してください。
              </p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※Webページからお申し込みの場合は、MNP有効期間が「7日以上」残っているMNP予約番号が必要です。<br>
                　店舗（楽天モバイルショップ）でお申し込みの場合は、MNP有効期間内であればお手続き可能です。</p>
              <p class="c-Txt_Cap">
                ※お申し込みの際、<span class="c-Txt_Emp-02">MNP有効期限の入力も必要です。</span>MNP予約番号取得の際に忘れずにお控えください。</p>
                <p class="c-Txt_Cap">
                  ※現在契約中の名義と楽天モバイルでご契約いただく名義が同一である必要があります。<span class="c-Txt_Emp-02">名義が異なる場合は、<br>
                  　現在の携帯電話会社で名義を変更した後に、MNP予約番号を取得してください。</span></p>
              </div>
              <div class="l-Media_Image u-Adjust_Mt-0">
                  <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/mnp/procedure/img_01.png" width="300" height="" alt=""></figure>
              </div>
            </div>
        </li>
        <li>
          <h4 class="c-Heading_Lv4">
            2. Rakuten最強プランのお申し込み
          </h4>
          <div class="l-Media_Grid-reverse">
            <div class="u-Adjust_Mt-40">
              <a href="<%= sitepath %>guide/application/?lid-r=guide_mnp_procedure_guide_application_01" class="c-Btn_Primary-large">
                Rakuten最強プランを申し込む
              </a>
              <p class="u-Adjust_Mt-16">
                <a href="<%= sitepath %>guide/flow/application/" class="c-Link_Txt-icon">Rakuten最強プランのお申し込み方法を見る<span class="c-Icon_Chevron-right"></span></a>
              </p>
            </div>
            <div class="l-Media_Image">
                <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/mnp/procedure/img_02.png" width="300" height="" alt=""></figure>
            </div>
          </div>
        </li>
        <li>
          <h4 class="c-Heading_Lv4">
            3. 楽天モバイルでのMNP開通手続き
          </h4>
          <div class="l-Media_Grid-reverse">
          <div>
            <p class="u-Adjust_Mt-16">製品・SIMカード到着後、お手持ち※のスマートフォンやタブレット、パソコンから「my 楽天モバイル」にアクセスし、お手続きください。</p>
            <div class="u-Adjust_Mt-16">
              <a href="<%= sitepath %>guide/mnp/flow/" class="c-Btn_Regular-auto"><span>MNP開通手続きの詳細を見る</span></a>
            </div>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">※楽天モバイルで新しくご利用いただく製品（SIM）<span class="c-Txt_Emp-02">以外</span>で、アクセスしてください。</p>

            <div class="u-Adjust_Mt-16">
              <table class="c-Table_Container">
                  <colgroup>
                      <col class="u-Adjust_W-160">
                      <col class="u-Adjust_W-160">
                      <col>
                  </colgroup>
                  <thead>
                      <tr>
                          <th scope="col">受付時間</th>
                          <th scope="col">MNP完了時間</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>9:00~21:00</td>
                          <td>当日中</td>
                      </tr>
                      <tr>
                          <td>21:01~翌8:59</td>
                          <td>翌9:00以降</td>
                      </tr>
                  </tbody>
              </table>
          </div>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">※商品の受け取り直後や21:00直前に申し込むと翌日開通となる場合があります。</p>
          </div>
          <div class="l-Media_Image u-Adjust_Mt-0">
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/mnp/procedure/img_03.png?210322" width="300" height="" alt=""></figure>
          </div>
        </div>
        </li>
        <li>
          <h4 class="c-Heading_Lv4">
            4. 契約者名義の変更・譲渡
          </h4>
          <div class="l-Media_Grid-reverse">
            <div>
              <div class="c-Txt_Normal u-Adjust_Mt-24">
                <p>MNP開通手続き完了後、利用者様本人への契約者名義の変更をお願いいたします。</p>
                <div class="u-Adjust_Mt-16">
                  <a href="<%= sitepath %>guide/contract-transfer/" class="c-Btn_Regular-auto"><span>ご契約者変更手続きの詳細を見る</span></a>
                </div>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">※Rakuten最強プランでは「利用者登録」の制度はございません。</p>
              </div>
            </div>
            <div class="l-Media_Image">
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/mnp/procedure/img_04.png?210322" width="300" height="" alt=""></figure>
            </div>
          </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              5. お手続きの完了
            </h4>
          </li>
        </ul>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※現在お使いの電話番号を変更されるお客様は、ご契約中のプランを解約後にRakuten最強プランをお申し込みください。</p>
    </div>

    <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">

      <ul class="u-Adjust_Mt-16 <%= nameSpace %>-Flow_List">
        <li>
          <h4 class="c-Heading_Lv4">
            1. ご契約中の携帯電話会社でのお手続き
          </h4>
          <div class="l-Media_Grid-reverse">
            <div>
              <p class="u-Adjust_Mt-16">楽天モバイルへのお乗り換えの前に、下記の手続きを完了してください。</p>
              <ul class="c-List_Text-disc u-Adjust_Mt-16">
                <li class="u-Adjust_Mt-16">
                  MNP予約番号の取得
                </li>
              </ul>
              <p class="u-Adjust_Mt-16">
                <a href="<%= sitepath %>guide/mnp/" class="c-Link_Txt-icon">他社から乗り換え（MNP）<span class="c-Icon_Chevron-right"></span></a>
              </p>
              <p class="u-Adjust_Mt-8">
                各社のショップ・電話・Webサイトにて「MNP転出」の希望を伝え、取得してください。
              </p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※Webページからお申し込みの場合は、MNP有効期間が「7日以上」残っているMNP予約番号が必要です。<br>
                　店舗（楽天モバイルショップ）でお申し込みの場合は、MNP有効期間内であればお手続き可能です。</p>
              <p class="c-Txt_Cap">
                ※お申し込みの際、<span class="c-Txt_Emp-02">MNP有効期限の入力も必要です。</span>MNP予約番号取得の際に忘れずにお控えください。</p>
                <p class="c-Txt_Cap">
                  ※現在契約中の名義と楽天モバイルでご契約いただく名義が同一である必要があります。<span class="c-Txt_Emp-02">名義が異なる場合は、<br>
                  　現在の携帯電話会社で名義を変更した後に、MNP予約番号を取得してください。</span></p>
            </div>
            <div class="l-Media_Image u-Adjust_Mt-0">
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/mnp/procedure/img_01.png" width="300" height="" alt=""></figure>
            </div>
          </div>
        </li>
        <li>
          <h4 class="c-Heading_Lv4">
            2. Rakuten最強プランのお申し込み
          </h4>
          <div class="l-Media_Grid-reverse">
            <div class="u-Adjust_Mt-40">
              <a href="<%= sitepath %>guide/application/?lid-r=guide_mnp_procedure_guide_application_02" class="c-Btn_Primary-large">
                Rakuten最強プランを申し込む
              </a>
              <p class="u-Adjust_Mt-16">
                <a href="<%= sitepath %>guide/flow/application/" class="c-Link_Txt-icon">Rakuten最強プランのお申し込み方法を見る<span class="c-Icon_Chevron-right"></span></a>
              </p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※MNP有効期限を実際の期日と異なる期日を入力した場合、製品到着後、再度MNP予約番号の取得が必要となる場合があります。</p>
            </div>
            <div class="l-Media_Image">
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/mnp/procedure/img_02.png" width="300" height="" alt=""></figure>
            </div>
          </div>
        </li>
        <li>
          <h4 class="c-Heading_Lv4">
            3. 楽天モバイルでのMNP開通手続き
          </h4>
          <div class="l-Media_Grid-reverse">
          <div>
            <p class="u-Adjust_Mt-16">製品・SIMカード到着後、お手持ち※のスマートフォンやタブレット、パソコンから「my 楽天モバイル」にアクセスし、お手続きください。</p>
            <div class="u-Adjust_Mt-16">
              <a href="<%= sitepath %>guide/mnp/flow/" class="c-Btn_Regular-auto"><span>MNP開通手続きの詳細を見る</span></a>
            </div>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">※楽天モバイルで新しくご利用いただく製品（SIM）<span class="c-Txt_Emp-02">以外</span>で、アクセスしてください。</p>

            <div class="u-Adjust_Mt-16">
              <table class="c-Table_Container">
                  <colgroup>
                      <col class="u-Adjust_W-160">
                      <col class="u-Adjust_W-160">
                      <col>
                  </colgroup>
                  <thead>
                      <tr>
                          <th scope="col">受付時間</th>
                          <th scope="col">MNP完了時間</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>9:00~21:00</td>
                          <td>当日中</td>
                      </tr>
                      <tr>
                          <td>21:01~翌8:59</td>
                          <td>翌9:00以降</td>
                      </tr>
                  </tbody>
              </table>
          </div>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">※商品の受け取り直後や21:00直前に申し込むと翌日開通となる場合があります。</p>
          </div>
          <div class="l-Media_Image u-Adjust_Mt-0">
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/mnp/procedure/img_03.png" width="300" height="" alt=""></figure>
          </div>
        </div>
        </li>
        <li>
          <h4 class="c-Heading_Lv4">
            4. お手続きの完了
          </h4>
        </li>
        </ul>
    </div>
  </div>


<div class="<%= nameSpace %>-Link_Top u-Adjust_Mt-40">
  <a href="#top" class="js-scroll c-Link_Anchor c-Link_Txt-icon">
    <span class="c-Icon_Arrow-up-l c-Link_Icon u-Adjust_Pr-8"></span>ページトップへ
  </a>
</div>


    <h3 class="c-Heading_Lv3 u-Adjust_Mt-64" id="procedure-2">楽天モバイル（ドコモ回線・au回線）からのプラン変更（移行）のお客様</h3>

    <div class="c-Tab js-Tab u-Adjust_Mt-32">
      <ul class="c-Tab_Items" role="tablist">
        <li class="c-Tab_Item" id="tab-menu3" role="tab" aria-selected="true" aria-controls="tab-content3">ご契約者とご利用者が異なる場合</li>
        <li class="c-Tab_Item" id="tab-menu4" role="tab" aria-selected="false" aria-controls="tab-content4">ご自身の名義でご契約中の場合</li>
      </ul>



    <div class="c-Tab_Panel" id="tab-content3" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu3">
    <ul class="u-Adjust_Mt-16 <%= nameSpace %>-Flow_List">
      <li>
        <h4 class="c-Heading_Lv4">
          1. ご利用中のプランの利用者登録の解除・名義変更
        </h4>
        <div class="l-Media_Grid-reverse">
                <div>
                  <p class="u-Adjust_Mt-16">プラン変更（移行）お申し込み前に、利用者様本人への契約者名義の変更をお願いいたします。
                    お手続き完了まで<span class="c-Txt_Emp-02">20営業日程度</span>頂戴しておりますので、あらかじめご了承ください。</p>
                  <div class="u-Adjust_Mt-16">
                    <a href="<%= sitepath %>flow/mvno-user-registration/" class="c-Btn_Regular-auto"><span>契約者名義変更手続きの詳細を見る</span></a>
                  </div>
            </div>
            <div class="l-Media_Image">
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/mnp/procedure/img_04.png" width="300" height="" alt=""></figure>
          </div>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          2. Rakuten最強プランへのプラン変更（移行）のお申し込み
        </h4>
        <div class="l-Media_Grid-reverse">
              <div>
                <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-02">18歳未満のご利用者様は保護者様ご同伴の上、楽天モバイルショップ（店舗）に
                  お越しください。</span>Webページからはお手続きいただけませんのでご注意ください。</p>
                <p class="u-Adjust_Mt-16 u-Adjust_Mb-24">
                  <a href="<%= sitepath %>flow/mvno-user-registration/" class="c-Btn_Regular-auto"><span>Rakuten最強プランへの移行手続きの詳細を見る</span></a>
                </p>
              </div>
              <div class="l-Media_Image">
                <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/mnp/procedure/img_02.png" width="300" height="" alt=""></figure>
            </div>
            </div>
        </li>
        <li>
          <h4 class="c-Heading_Lv4">
            3. お手続きの完了
          </h4>
        </li>
      </ul>
  </div>

  <div class="c-Tab_Panel" id="tab-content4" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu4">
    <ul class="u-Adjust_Mt-16 <%= nameSpace %>-Flow_List">
      <li>
        <h4 class="c-Heading_Lv4">
          1. Rakuten最強プランへのプラン変更（移行）のお申し込み
        </h4>
        <div class="l-Media_Grid-reverse">
              <div>
                <p class="u-Adjust_Mt-16">下記の手順に沿ってお手続きを進めてください。</p>
                <p class="u-Adjust_Mt-24 u-Adjust_Mb-24">
                  <a href="<%= sitepath %>flow/mvno-user-registration/" class="c-Btn_Regular-auto"><span>Rakuten最強プランへの移行手続きの詳細を見る</span></a>
                </p>
              </div>
              <div class="l-Media_Image">
                <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/mnp/procedure/img_02.png" width="300" height="" alt=""></figure>
            </div>
            </div>
        </li>
        <li>
          <h4 class="c-Heading_Lv4">
            2. お手続きの完了
          </h4>
        </li>
    </ul>
  </div>
</div>

<div class="<%= nameSpace %>-Link_Top u-Adjust_Mt-40">
  <a href="#top" class="js-scroll c-Link_Anchor c-Link_Txt-icon">
    <span class="c-Icon_Arrow-up-l c-Link_Icon u-Adjust_Pr-8"></span>ページトップへ
  </a>
</div>

    <div class="u-Adjust_Align-center u-Adjust_Mt-40">
      <p><a href="<%= sitepath %>fee/family/?l-id=guide_mnp-procedure_fee_family">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/bnr/fee-unlimit-family-343-108-230601.png">
          <source srcset="<%= sitepath %>assets/img/bnr/fee-unlimit-family-1032-160-230601.png">
          <img src="<%= sitepath %>assets/img/bnr/fee-unlimit-family-343-108-230601.png" alt="Rakuten最強プラン家族みんなでおトクに使える">
        </picture>
      </a></p>
    </div>

    <div class="u-Adjust_Mt-40">
      <%- include('/inc/_saikyo') %>
    </div>


  </div>
</div>


<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">



    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
