<% const pagetitle = "Rakuten Hand 5Gサポート情報" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/smartphone/", label:"Android"}, {path:"product/smartphone/rakuten-hand-5g/", label:"Rakuten Hand 5G"}] -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Rakuten Hand 5Gのお客様サポートページ。ソフトウェアアップデート情報や故障・修理など、製品に関わる情報をご案内します',
    noindex: false,
    pathname: 'product/smartphone/rakuten-hand-5g/support/index.html'
  });
%>

<%- include('/include/_common-css-v2') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<!-- insert-info.js -->
<div id="emergency-info"></div>

<div class="u-Adjust_Pb-64">
  <div class="l-System_Container u-Adjust_Mt-32">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
    <p class="u-Adjust_Mt-24">お客様に安心してご利用いただくために、Rakuten Hand 5Gのサポート情報をご案内いたします。</p>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">ソフトウェアアップデート</h3>

    <p class="u-Adjust_Mt-24">最新情報をご案内いたします。</p>
    <div>最終更新日：<span id="update-software"></span></div>
    <div class="u-Adjust_Mt-24">
      <a href="/information/software/rakuten-hand-5g/" class="c-Btn_Regular"><span>ソフトウェアアップデート詳細へ</span></a>
    </div>


    <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">故障・修理保証</h3>
    <p class="u-Adjust_Mt-24">製品の修理や交換が必要な場合は、製品修理保証をご確認いただき、お問い合わせください。</p>
    <div class="u-Adjust_Mt-24">
      <a href="<%= sitepath %>product/smartphone/rakuten-hand-5g/support/repair-warranty/" class="c-Btn_Regular"><span>製品修理保証を見る</span></a>
    </div>
    <div class="u-Adjust_Mt-24">
      <a href="<%= sitepath %>product/smartphone/rakuten-hand-5g/support/repair/" class="c-Link_Txt-inline">修理・交換のお手続き方法を確認する<span class="c-Icon_Chevron-right"></span></a>
    </div>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">製品交換時の初期設定方法</h3>
    <p class="u-Adjust_Mt-16">お手元に交換品が届きましたら、以下の手順に沿って初期設定を行ってください。</p>
    <div class="u-Adjust_Mt-16">
      <a href="<%= sitepath %>product/smartphone/rakuten-hand-5g/support/exchange-setting/" class="c-Btn_Regular"><span>初期設定方法を確認する</span></a>
    </div>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">デュアルeSIM利用に関する設定方法</h3>
    <p class="u-Adjust_Mt-24">Rakuten Hand 5Gでご利用いただけるデュアルeSIMの設定を行う場合は、以下の手順に沿って各種設定を行ってください。</p>
    <div class="u-Adjust_Mt-24">
      <a href="<%= sitepath %>guide/dual-esim/" class="c-Btn_Regular"><span>デュアルeSIM利用に関する設定方法を確認する</span></a>
    </div>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">安全性に関する重要な情報</h3>
    <p class="u-Adjust_Mt-24">製品を安全に正しくご使用いただくための注意事項をご確認ください。</p>
    <div class="u-Adjust_Mt-24">
      <a href="<%= sitepath %>product/smartphone/rakuten-hand-5g/support/safety-info/" class="c-Btn_Regular"><span>安全性に関する重要な情報を見る</span></a>
    </div>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">よくあるご質問</h3>
    <p class="u-Adjust_Mt-24">Rakuten Hand 5Gに関するよくあるご質問をご確認いただけます。</p>
    <div class="u-Adjust_Mt-24">
      <a href="<%= sitepath %>support/product/hand-5g/" class="c-Btn_Regular"><span>よくあるご質問を見る</span></a>
    </div>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">お問い合わせ</h3>
    <p class="u-Adjust_Mt-24">製品に関するお問い合わせ、および故障・紛失など、コミュニケーションセンターのアドバイザーがしっかりサポートいたします。</p>
    <div class="u-Adjust_Mt-24">
      <a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お問い合わせ窓口を確認する</span></a>
    </div>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">初期設定方法</h3>
    <h4 class="c-Txt_Emp-01 u-Adjust_Mt-24">新規購入の場合</h4>
    <div class="u-Adjust_Mt-24">
      <a href="<%= sitepath %>product/smartphone/rakuten-hand-5g/support/setting/" class="c-Link_Txt-inline">初期設定方法を確認する<span class="c-Icon_Chevron-right"></span></a>
    </div>

    <h4 class="c-Txt_Emp-01 u-Adjust_Mt-40">機種変更の場合</h4>
    <p class="u-Adjust_Mt-16">「my 楽天モバイル」からお手続きが可能です。</p>
    <div class="u-Adjust_Mt-24">
      <a href="<%= sitepath %>product/smartphone/rakuten-hand-5g/support/upgrade/" class="c-Link_Txt-inline">Rakuten Hand 5Gから他製品の場合<span class="c-Icon_Chevron-right"></span></a>
    </div>
    <div class="u-Adjust_Mt-24">
      <a href="<%= sitepath %>product/smartphone/rakuten-hand-5g/support/upgrade2/" class="c-Link_Txt-inline">他製品からRakuten Hand 5Gの場合<span class="c-Icon_Chevron-right"></span></a>
    </div>

    <h3 class="c-Heading_Lv4 u-Adjust_Mt-64">関連情報</h3>
    <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/sar/" class="c-Link_Txt-inline">携帯電話の比吸収率（SAR）について<span class="c-Icon_Chevron-right"></span></a></p>

  </div>
</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-product-v2.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%#- include('/faq/include/related-product.ejs') %>


  </div>
  <div class="l-System_Container">
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>
</div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/product.insert-info.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
