<% const pagetitle = "【岩手県・岡山県・岐阜県・佐賀県 スペシャルキャンペーン】初めてお申し込み＆月間データ利用量1GB超で最大13,000円相当分のポイント還元！" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<%
  const namespace = "limited-area"
  const point = '13,000'
-%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '岩手県、岡山県、岐阜県、佐賀県にお住まいの方なら、楽天モバイル「Rakuten UN-LIMIT VII」へ初めてお申し込み＆月間データ利用量1GB超で回線契約（SIM）のみでも最大13,000円相当分をポイント還元！',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/limited-area/limited-area.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true" class="<%= namespace %>-Util_Kerning"><%= pagetitle %></li>
      </ul>
    </div>

    <div class="<%= namespace %>-Hero">
      <div class="<%= namespace %>-Hero_Title">
        <h1>
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-main-sp.png" width="100%">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-main.png" width="1440" height="400" alt="岩手県、岡山県、岐阜県、佐賀県にお住まいの方なら、Rakuten UN-LIMIT VIIを初めてお申し込み&月間データ利用量1GB超で最大13,000円相当分ポイント還元">
          </picture>
        </h1>
      </div>
      <div class="l-System_Container">
        <p class="<%= namespace %>-Hero_Note c-Txt_Cap u-Adjust_Mt-8">
          ※Rakuten Linkアプリ利用等条件あり※2022年3月末時点。人口カバー率は、国勢調査に用いられる約500m区画において、50％以上の場所で通信可能なエリアを基に算出。<br>
          <span class="c-Txt_Emp-02">※楽天回線と製品をセットで購入するキャンペーンが適用された場合は、本キャンペーンは適用されません。</span>
        </p>

        <div class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-32 u-Adjust_Align-center">本キャンペーンは終了しました。</div>

        <p class="<%= namespace %>-Hero_Schedule u-Adjust_Mt-24">
          <span class="c-Txt_Emp-01">【キャンペーン期間】</span><br class="<%= namespace %>-Util_Sp">
          Web：2022年8月1日（月）9:00～2022年9月30日（金）8:59<br>
          ショップ：2022年8月1日（月）開店～2022年9月29日（木）閉店<br>
          <span class="c-Txt_Emp-02 c-Txt_Cap">※2022年9月16日（金）にキャンペーン期間が変更となりました。ご了承ください。</span>
        </p>
      </div>
    </div>


    <div class="l-System_Container u-Adjust_Mt-32">
      <div class="<%= namespace %>-MainNav">
        <ul>
          <li><a href="#conditions" class="c-Link_Txt-icon-front js-scroll" data-ratid="campaign_limited-area_index-achievement-conditions" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>キャンペーンの達成条件</a></li>
          <li><a href="#flow" class="c-Link_Txt-icon-front js-scroll" data-ratid="campaign_limited-area_index-point-acquisition-flow" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>ポイント獲得の流れ</a></li>
          <li><a href="#rule" class="c-Link_Txt-icon-front js-scroll" data-ratid="campaign_limited-area_index-rule" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルール</a></li>
        </ul>
      </div>
    </div>

    <section class="<%= namespace %>-Description">
      <div class="l-System_Container">
        <div class="<%= namespace %>-Description_Block">
          <h2>
            <span>岩手県、岡山県、岐阜県、佐賀県</span><br class="<%= namespace %>-Util_Sp">にお住まいの方なら<br>ポイント還元キャンペーンが<br class="<%= namespace %>-Util_Sp">もっとおトク！
          </h2>
          <div class="<%= namespace %>-Description_Block-Inner">
            <div>
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-description-sp.png" width="100%">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-description.png" width="970" height="250" alt="お持ちのスマホのまま回線契約で最大13,000円相当分ポイント還元">
              </picture>
            </div>
            <p class="c-Txt_Cap u-Adjust_Mt-16">
              ※1 楽天回線と製品をセットで購入するキャンペーンが適用された場合は、本キャンペーンは適用されません。<br>
              ※2 楽天回線対応製品に限ります。詳細は<a href="#campaign-rule1587" class="c-Link_Txt js-scroll">こちら</a>をご確認ください。<br>
              ※各キャンペーン条件の詳細は<a href="#rule" class="c-Link_Txt js-scroll">こちら</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <div id="conditions" class="l-System_Container <%= namespace %>-Terms">
      <section class="c-Theme-Borderbox">
        <div class="u-Rat_Appear-height" data-ratid="campaign_limited-area_scroll-01_condition" data-ratevent="appear">&nbsp;</div>
        <h2 class="c-Txt_Normal-ll <%= namespace %>-Conditions_Text">キャンペーンの達成条件</h2>
        <p class="<%= namespace %>-Conditions_Text u-Adjust_Mt-16">本キャンペーンには達成条件が設定されています。詳細は<a href="#rule" class="c-Link_Txt js-scroll">キャンペーンルール</a>をご確認ください。</p>
        <div class="u-Adjust_Mt-16">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-terms-sp.png" width="100%">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-terms.png" width="984" height="285" alt="">
          </picture>
        </div>
        <div class="u-Adjust_Align-center u-Adjust_Mt-24">
          <h3 class="c-Heading_Lv3">キャンペーンの達成状況はこちらで確認</h3>
        </div>
        <div class="<%= namespace %>-Accordion_Card c-Accordion u-Adjust_Mt-24">
          <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger u-Adjust_Align-center" aria-expanded="false" aria-controls="accordion-content-1" data-ratid="campaign_limited-area_accordion-achievement-conditions" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>達成状況の確認方法</button>
          <div id="accordion-content-1" class="<%= namespace %>-Accordion_Card-panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="false">
            <h4 class="c-Heading_Lv4">達成状況の確認方法</h4>
            <p class="<%= namespace %>-Accordion_Card-subTitle u-Adjust_Mt-16">Rakuten Linkで10秒以上通話</p>
            <ol class="u-Adjust_Mt-16">
              <li>
                <p class="c-Txt_Emp-01">1. 「<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile?l-id=campaign_limited-area_my-rakuten-mobile-01" class="c-Link_Txt">my 楽天モバイル</a>」にアクセス</p>
              </li>
              <li class="u-Adjust_Mt-32">
                <p class="c-Txt_Emp-01">2. 右上のメニューから「利用状況」を選択</p>
                <div class="<%= namespace %>-Util_Img-capture u-Adjust_Mt-32">
                  <img src="<%= sitepath %>assets/img/campaign/common/img-cap01-0701.png" width="300" alt="">
                </div>
              </li>
              <li class="u-Adjust_Mt-32">
                <p class="c-Txt_Emp-01">3. 「通話」タブを選択して<span class="c-Txt_Emp-02">Rakuten Linkでの10秒以上の発信通話履歴</span>があることを確認してください</p>
                <div class="<%= namespace %>-Util_Img-capture u-Adjust_Mt-32">
                  <img src="<%= sitepath %>assets/img/campaign/common/img-cap02.png" width="300" alt="">
                </div>
              </li>
            </ol>
            <div  class="<%= namespace %>-Accordion_Card-more">
              <p class="<%= namespace %>-Accordion_Card-subTitle">1GB超データ利用</p>
              <p class="u-Adjust_Pt-16">
                データ利用量は<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile?l-id=campaign_limited-area_my-rakuten-mobile-02" class="c-Link_Txt">my 楽天モバイル</a>でご確認いただけます。データ利用量が1GB超えるとグラフが青色へ変化します（3GBまでの利用）。<br>
                詳細は<a href="<%= sitepath %>guide/data-traffic/#confirm1" class="c-Link_Txt">データ利用量の確認方法</a>をご確認ください。
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="<%= namespace %>_pink-area u-Adjust_Pt-16" id="">
        <div class="u-Rat_Appear-height" data-ratid="campaign_limited-area_scroll-02_byod-explanation" data-ratevent="appear">&nbsp;</div>
        <h2 class="u-Adjust_Align-center">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-hukidashi-sp.png">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-hukidashi.png" width="351" alt="楽天モバイルのSIMへの交換で">
          </picture>
          <span class="c-Heading_Lv2 u-Adjust_Mt-8 c-Txt_Emp-02">お持ちのスマホを<span class="<%= namespace %>-Util_Inline-block">そのままご利用できます！</span></span>
        </h2>

        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-sim-sp.png">
          <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-sim.png" width="351" alt="楽天モバイルのSIMへの交換で" class="u-Adjust_Mt-24">
        </picture>

        <p class="u-Adjust_Mt-24 u-Adjust_Align-center">
          楽天回線対応製品であれば、楽天モバイルのSIMをお申し込みいただき、<br>
          いまお使いのスマートフォンのSIMを楽天モバイルのSIMに交換することで、<br>
          楽天モバイル「Rakuten UN-LIMIT VII」のご利用が可能になります。
        </p>

        <div class="c-Theme-Borderbox u-Adjust_Mt-24 <%= namespace %>_pink-area-dual">
          <p class="<%= namespace %>_pink-area-dual-txt">サブ回線が持てる！<br class="<%= namespace %>-Util_Sp">2つのSIM使い分けで<br class="<%= namespace %>-Util_Sp">さらに便利に！</p>
          <h3 class="c-Heading_Lv3 c-Txt_Emp-02">デュアルSIM</h3>
          <div class="<%= namespace %>_pink-area-dual-detail">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-sim-02-sp.png">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-sim-02.png" width="305" alt="SIMカード2枚、eSIM + SIMカード">
            </picture>
            <div>
              <p>
                デュアルSIMとは、スマホ1台で2種類のSIMを使い分けできる機能です。<br>
                たとえば、2018年9月以降に発売されたiPhone XR以降はSIMカードとeSIMの利用が可能なので、2つのSIMそれぞれで回線契約が可能です。また、お持ちのスマホにSIMカード挿入スロットが2つある場合は、スマホへ2種類のSIMカードを挿入してお使いいただけます。
              </p>
              <p class="<%= namespace %>_pink-area-dual-link">
                <a href="<%= sitepath %>product/sim/?l-id=campaign_limited-area_product_sim" class="c-Link_Txt-inline">eSIM×eKYCでの<br class="<%= namespace %>-Util_Sp">iPhone乗り換え方法を見る<span class="c-Icon_Chevron-right"></span></a>
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="<%= namespace %>-Point">
        <div class="<%= namespace %>-Point-head">
          <h2 class="u-Adjust_Align-center">欲しいスマホが<br class="<%= namespace %>-Util_Sp">「トク得乗り換えキャンペーン」<br class="<%= namespace %>-Util_Sp">対象外でも大丈夫！</h2>
          <p class="c-Txt_Emp-01 u-Adjust_Align-center u-Adjust_Mt-8">本キャンペーンのご利用で最大13,000円<br class="<%= namespace %>-Util_Sp">相当分ポイント還元されるから、<br class="<%= namespace %>-Util_Sp">今おトクにスマホをご購入いただけます</p>
        </div>
        <p class="<%= namespace %>-Point-subtitle">回線とセット購入で本キャンペーンが適用される製品</p>
        <dl class="<%= namespace %>-Point-data">
          <div>
            <dt>最大18,000<br class="<%= namespace %>-Util_Sp">ポイント還元</dt>
            <dd>
              <p class="<%= namespace %>-Point-hline">
                <span class="c-Txt_Emp-02">楽天モバイルiPhoneアップグレードプログラムご利用でさらに5,000ポイント還元<sup>※3</sup></span>
              </p>
              <ul class="<%= namespace %>-Point-list">
                <li>
                  <a href="<%= sitepath %>product/iphone/iphone-12-pro-max/?l-id=campaign_limited-area_product_iphone-12-pro-max" class="c-Link_txt">iPhone 12 Pro Max</a>
                </li>
                <li>
                  <a href="<%= sitepath %>product/iphone/iphone-12-pro/?l-id=campaign_limited-area_product_iphone-12-pro" class="c-Link_txt">iPhone 12 Pro</a>
                </li>
                <li>
                  <a href="<%= sitepath %>product/iphone/iphone-12/?l-id=campaign_limited-area_product_iphone-12" class="c-Link_txt">iPhone 12</a>
                </li>
                <li>
                  <a href="<%= sitepath %>product/iphone/iphone-12-mini/?l-id=campaign_limited-area_product_iphone-12-mini" class="c-Link_txt">iPhone 12 mini</a>
                </li>
              </ul>
            </dd>
          </div>
          <div>
            <dt>最大13,000<br class="<%= namespace %>-Util_Sp">ポイント還元</dt>
            <dd>
              <ul class="<%= namespace %>-Point-list">
                <li>
                  <a href="<%= sitepath %>product/smartphone/a73/?l-id=campaign_limited-area_product_a73" class="c-Link_txt">OPPO A73</a>
                </li>
                <li>
                  <a href="<%= sitepath %>product/smartphone/aquos-sense4-lite/?l-id=campaign_limited-area_product_aquos-sense4-lite" class="c-Link_txt">AQUOS sense4 lite</a>
                </li>
              </ul>
            </dd>
          </div>
        </dl>
        <p class="c-Txt_Cap u-Adjust_Mt-16">
          ※3 ポイント還元は「<a href="<%= sitepath %>campaign/iphone-point/#campaign-rule1383" class="c-Link_Txt">iPhoneアップグレードプログラム適用で5,000ポイント還元キャンペーン</a>」適用時。
        </p>
      </section>

      <section id="flow">
        <div class="u-Rat_Appear-height" data-ratid="campaign_limited-area_scroll-04_point-acquisition-flow" data-ratevent="appear">&nbsp;</div>
        <h2 id="get-point" class="<%= namespace %>-Step_Title-content u-Adjust_Mt-48 u-Adjust_Pt-0">
          最大<span><%= point %></span>ポイント<br class="<%= namespace %>-Util_Sp">獲得の流れ
        </h2>

        <div class="<%= namespace %>-Step_Accordion u-Adjust_Mt-8">
          <div id="products" class="<%= namespace %>-Accordion_Card c-Accordion">
            <button type="button" id="accordion-step1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-step1">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
              <span class="<%= namespace %>-Accordion_Label">
                <span class="<%= namespace %>-Accordion_Label-step">STEP 1</span>
                <span>楽天モバイル対応製品の確認</span>
              </span>
            </button>
            <div id="accordion-content-step1" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Card-panel" role="region" aria-labelledby="accordion-step1" aria-hidden="true">

              <div class="l-Media_Grid">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-illust-04.png" width="304" alt="">
                </div>
                <div>
                  <p>お持ちの製品の対応状況を下記ページでご確認ください</p>
                  <div class="u-Adjust_Mt-24">
                    <a href="<%= sitepath %>product/certified-products/?l-id=campaign_limited-area_product_certified-products" class="c-Btn_Regular"><span>ご利用製品の対応状況確認</span></a>
                  </div>
                </div>
              </div>
              <div class="c-Theme-Borderbox u-Adjust_Mt-24">
                <div class="l-Media_Grid">
                  <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                    <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-illust-05.png" width="304" alt="">
                  </div>
                  <div>
                    <p class="c-Txt_Emp-01">SIMロック解除の手続きを行う</p>
                    <p class="c-Txt_Cap u-Adjust_Mt-16">※NTTドコモ、au、ソフトバンクなど他の携帯電話会社でご契約されていた製品は、その会社でしか利用できないよう「SIMロック」がかけられています。<span class="c-Txt_Emp-02">SIMロックがかかっているか確認するには、現在契約中の携帯電話会社へお問い合わせください。</span>SIMロック解除の必要がない場合、次の手順にお進みください。</p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天モバイル（ドコモ回線/au回線）からプラン変更（移行）のお客様は、SIMロック解除手続き不要です。</p>
                    <ul class="c-List_Text-disc <%= namespace %>-List_Narrow u-Adjust_Mt-16">
                      <li>
                        <a href="https://www.nttdocomo.co.jp/support/unlock_simcard/" target="_blank" rel="noopener noreferrer" class="c-Link_Txt-inline">docomo SIMロック解除手続き<span class="c-Icon_Chevron-right"></span></a>
                      </li>
                      <li>
                        <a href="https://www.au.com/support/service/mobile/procedure/simcard/unlock/" target="_blank" rel="noopener noreferrer" class="c-Link_Txt-inline">au SIMロック解除手続き<span class="c-Icon_Chevron-right"></span></a>
                      </li>
                      <li>
                        <a href="https://www.softbank.jp/mobile/support/usim/unlock_procedure/" target="_blank" rel="noopener noreferrer" class="c-Link_Txt-inline">ソフトバンク SIMロック解除手続き<span class="c-Icon_Chevron-right"></span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="<%= namespace %>-Accordion_Card c-Accordion">
            <button type="button" id="accordion-step2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-step2">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
              <span class="<%= namespace %>-Accordion_Label">
                <span class="<%= namespace %>-Accordion_Label-step">STEP 2</span>
                <span>楽天モバイルのお申し込み</span>
              </span>
            </button>
            <div id="accordion-content-step2" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Card-panel" role="region" aria-labelledby="accordion-step2" aria-hidden="true">
              <div class="c-Tab js-Tab">
                <ul class="c-Tab_Items" role="tablist">
                  <li class="c-Tab_Item" id="tab-menu2-1" role="tab" aria-selected="true" aria-controls="tab-content2-1" data-ratid="campaign_byod_tab_application_web" data-ratevent="click" data-ratparam="all">Web</li>
                  <li class="c-Tab_Item" id="tab-menu2-2" role="tab" aria-selected="false" aria-controls="tab-content2-2" data-ratid="campaign_byod_tab_application_shop" data-ratevent="click" data-ratparam="all">ショップ</li>
                </ul>
                <div class="c-Tab_Panel" id="tab-content2-1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu2-1">
                  <div class="c-Theme-Borderbox u-Adjust_Mt-24">
                    <div class="l-Media_Grid">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                        <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-point-02.png" width="304" alt="">
                      </div>
                      <div>
                        <h3 class="c-Heading_Lv4">お申し込みに必要なもの</h3>
                        <ul class="c-List_Text-disc <%= namespace %>-List_Narrow u-Adjust_Mt-8">
                          <li>
                            <a href="<%= sitepath %>guide/verify/?l-id=campaign_limited-area_guide_verify" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a>
                          </li>
                          <li>
                            楽天会員ID、パスワード
                          </li>
                          <li>
                            <a href="<%= sitepath %>guide/payment/?l-id=campaign_limited-area_guide_payment" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                          </li>
                          <li>
                            ご契約者名義の<a href="<%= sitepath %>guide/mnp/?l-id=campaign_limited-area_guide_mnp">MNP予約番号</a>（他社から乗り換えの場合）
                          </li>
                        </ul>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">
                          ※<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_limited-area_flow_for-minors" class="c-Link_Txt <%= namespace %>-Layout_Body-txt-link">未成年の方のお申し込み方法はこちら</a>
                        </p>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="c-Tab_Panel" id="tab-content2-2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2-2">
                  <div class="l-Media_Grid u-Adjust_Mt-24">
                    <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-point-11.png" width="285" alt="">
                    </div>
                    <div>
                      <a href="<%= sitepath %>shop/?l-id=campaign_limited-area_shop-02" class="c-Btn_Regular"><span>お近くのショップを探す</span></a>
                    </div>
                  </div>
                  <div class="c-Theme-Borderbox u-Adjust_Mt-24">
                    <div class="l-Media_Grid">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                        <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-point-02.png" width="285" alt="">
                      </div>
                      <div>
                        <h3 class="c-Heading_Lv4">お申し込みに必要なもの</h3>
                        <ul class="c-List_Text-disc <%= namespace %>-List_Narrow u-Adjust_Mt-8">
                          <li>
                            <a href="<%= sitepath %>guide/verify/?l-id=campaign_limited-area_guide_verify-02" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a>
                          </li>
                          <li>
                            楽天会員ID、パスワード
                          </li>
                          <li>
                            <a href="<%= sitepath %>guide/payment/?l-id=campaign_limited-area_guide_payment-02" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                          </li>
                          <li>
                            ご契約者名義の<a href="<%= sitepath %>guide/mnp/?l-id=campaign_limited-area_guide_mnp-02">MNP予約番号</a>（他社から乗り換えの場合）
                          </li>
                        </ul>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">
                          ※<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_limited-area_flow_for-minors-02" class="c-Link_Txt <%= namespace %>-Layout_Body-txt-link">未成年の方のお申し込み方法はこちら</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="<%= namespace %>-Accordion_Card c-Accordion">
            <button type="button" id="accordion-step3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-step3">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
              <span class="<%= namespace %>-Accordion_Label">
                <span class="<%= namespace %>-Accordion_Label-step">STEP 3</span>
                <span>「Rakuten UN-LIMIT VII」プラン利用開始</span>
              </span>
            </button>
            <div id="accordion-content-step3" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Card-panel" role="region" aria-labelledby="accordion-step3" aria-hidden="true">
              <div class="l-Media_Grid">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-illust-01.png" width="304" alt="">
                </div>
                <div>
                  <p><span class="c-Txt_Emp-01">期限</span>：プランお申し込みの翌月末日23:59まで</p>
                  <div class="u-Adjust_Mt-24">
                    <a href="<%= sitepath %>faq/detail/00001648/?l-id=campaign_limited-area_faq_detail_00001648" class="c-Btn_Regular"><span>プラン利用開始手順</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="<%= namespace %>-Accordion_Card c-Accordion">
            <button type="button" id="accordion-step4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-step4">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
              <span class="<%= namespace %>-Accordion_Label">
                <span class="<%= namespace %>-Accordion_Label-step">STEP 4</span>
                <span>Rakuten Linkアプリから発信で10秒以上通話</span>
              </span>
            </button>
            <div id="accordion-content-step4" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Card-panel" role="region" aria-labelledby="accordion-step4" aria-hidden="true">
              <div class="l-Media_Grid">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-illust-03.png" width="304" alt="">
                </div>
                <div>
                  <p><span class="c-Txt_Emp-01">期限</span>：プランお申し込みの翌月末日23:59まで</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※電話の発信時、（0180）（0570）などから始まる他社接続サービス、一部特番（188）への通話は特典対象外</p>
                  <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>service/rakuten-link/?l-id=campaign_limited-area_service_rakuten-link" class="c-Link_Txt-inline">Rakuten Linkアプリの詳細<span class="c-Icon_Chevron-right"></span></a></p>
                </div>
              </div>
            </div>
          </div>

          <div class="<%= namespace %>-Accordion_Card c-Accordion">
            <button type="button" id="accordion-step5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-step5">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
              <span class="<%= namespace %>-Accordion_Label">
                <span class="<%= namespace %>-Accordion_Label-step">STEP 5</span>
                <span>月1GB超データ通信を利用</span>
              </span>
            </button>
            <div id="accordion-content-step5" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Card-panel" role="region" aria-labelledby="accordion-step5" aria-hidden="true">
              <div class="l-Media_Grid">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-illust-06.png" width="304" alt="">
                </div>
                <div>
                  <p><span class="c-Txt_Emp-01">期限</span>：プランお申し込みの翌月末日23:59まで</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※お申し込み月の月間データ利用量が1GBを超えた場合、翌月以降のデータ利用量にかかわらず条件達成<br>
                    ※月間データ利用量が1GBを超えた月は、「【Rakuten UN-LIMIT VII】データ1GB／月以下だった方限定！プラン料金最大4カ月実質無料キャンペーン（1527）」の特典対象外となります。</p>
                  <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/data-traffic/#confirm1" class="c-Link_Txt-inline">データ利用量の確認はこちら<span class="c-Icon_Chevron-right"></span></a></p>
                </div>
              </div>
            </div>
          </div>

          <div class="c-Theme-Borderbox <%= namespace %>-Flow_List-end">
            <div class="l-Media_Grid">
              <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-step-point.png" width="304" alt="">
              </div>
              <div>
                <h4 class="c-Heading_Lv4 c-Txt_Emp-02">最大<%= point %>円相当分ポイント還元！</h4>
                <p class="u-Adjust_Mt-8">すべての条件を達成した翌々月末日ごろに、期間限定ポイントとして最大<%= point %>ポイントを付与いたします。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天回線と製品をセットで購入するキャンペーンが適用された場合は、本キャンペーンは適用されません。<br>
                  ※ご契約後、ポイント付与時までにお引越しされた方は、対象外となる場合がございます。</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>


    <div id="unlimit-vi-plan" class="u-Adjust_Mt-56">
      <%- include('/inc/_saikyo') %>
    </div>

    <div class="l-System_Container u-Adjust_Mt-56">
      <%- include('/include/_bnr-cpn-recommend-v2.ejs') %>
    </div>

    <div id="rule" class="l-System_Container">
      <div id="campaign-rule1596" class="<%= namespace %>-Layout_Rule">
        <%# 1596 #################################### %>
        <h2 class="c-Heading_Lv2">【岩手県・岡山県・岐阜県・佐賀県 スペシャルキャンペーン】回線のみでOK！<br>Rakuten UN-LIMIT VIIお申し込みで、5,000ポイントプレゼント</h2>

    <div class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-8 u-Adjust_Align-center">本キャンペーンは終了しました。</div>

        <div class="c-Table_Wrap u-Adjust_Mt-24">
          <div class="u-Adjust_Mt-24">
            <dl class="c-Dl_Origin <%= namespace %>-Dl_Rule">
              <div>
                <dt>キャンペーンコード</dt>
                <dd>
                  <p>1596</p>
                  <ul class="c-Txt_Cap u-Adjust_Mt-8">
                    <li>※ 本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                  </ul>
                </dd>
              </div>
              <div>
                <dt>キャンペーン期間</dt>
                <dd>
                  <p>
                    <span class="c-Txt_Emp-01">■ プランのお申し込み期間</span><br>
                    <span class="<%= namespace %>-Dl_Rule-indent">- Web　2022年8月1日（月）9:00～<br class="<%= namespace %>-Util_Sp"><span class="c-Txt_Emp-02"><s>終了日未定</s> 2022年9月30日（金）8:59</span></span>
                    <span class="<%= namespace %>-Dl_Rule-indent">- 店舗（楽天モバイルショップ）　2022年8月1日（月）開店～<br class="<%= namespace %>-Util_Sp"><span class="c-Txt_Emp-02"><s>終了日未定</s> 2022年9月29日（木）閉店</span></span>
                  </p>
                  <ul class="c-Txt_Cap u-Adjust_Mt-8 <%= namespace %>-Dl_Rule-indent">
                    <li class="c-Txt_Emp-02">※ 2022年9月16日（金）にキャンペーン期間が変更となりました。ご了承ください。</li>
                  </ul>

                  <p class="u-Adjust_Mt-16">
                    <span class="c-Txt_Emp-01">■ プラン利用開始期限</span><br>
                    <span class="<%= namespace %>-Dl_Rule-indent">プランのお申し込みの翌月末日23:59まで</span>
                  </p>
                  <p class="u-Adjust_Mt-16">
                    <span class="c-Txt_Emp-01">■「Rakuten Link」利用期限</span><br>
                    <span class="<%= namespace %>-Dl_Rule-indent">プランのお申し込みの翌月末日23:59まで</span>
                  </p>
                  <p class="u-Adjust_Mt-16">
                    <span class="c-Txt_Emp-01">■ データ利用量1GB超のご利用期間</span><br>
                    <span class="<%= namespace %>-Dl_Rule-indent">プランのお申し込みの翌月末日23:59まで</span>
                  </p>
                </dd>
              </div>
              <div>
                <dt>キャンペーン条件</dt>
                <dd>
                  <p class="c-Txt_Emp-02">
                    上記各項目の期間内に【1】、【2】、【3】、【4】、【5】の条件をすべて満たした楽天会員の方
                  </p>
                  <p class="u-Adjust_Mt-16">
                    <span class="c-Txt_Emp-01">【1】楽天モバイルのご契約住所が岩手県・岡山県・岐阜県・佐賀県である</span><br>
                    <span class="<%= namespace %>-Dl_Rule-indent c-Txt_Cap">※ ご契約後、ポイント付与時までにお引越しされた方は、対象外となる場合がございます。</span>
                  </p>

                  <div class="u-Adjust_Mt-16">
                    <span class="c-Txt_Emp-01">【2】「Rakuten UN-LIMIT VII」へ、下記（1）～（3）いずれかの方法にてお申し込み</span><br>
                    <span class="<%= namespace %>-Dl_Rule-indent c-Txt_Emp-02 c-Txt_Cap">※ 特典はおひとり様1度のみ。楽天回線を初めてお申し込みいただいた場合に適用となります</span>
                    <ul class="u-Adjust_Mt-8 <%= namespace %>-Dl_Rule-indent">
                      <li>（1）新規お申し込み</li>
                      <li>
                        <p>（2）他社からの乗り換え（MNP）でお申し込み</p>
                        <p class="c-Txt_Cap <%= namespace %>-Dl_Rule-indent">※ 楽天モバイル（旧FREETEL）通話SIMからの乗り換え（MNP）、DMMモバイル通話SIMからの乗り換え（MNP）の場合も含む</p>
                      </li>
                      <li>（3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
                    </ul>
                  </div>

                  <div class="u-Adjust_Mt-16">
                    <p class="c-Txt_Emp-01">【3】お持ちの楽天回線対応製品※1を利用し「Rakuten UN-LIMIT VII」プラン利用開始</p>
                    <div class="u-Adjust_Mt-8">
                      <p>【プラン利用開始日とは】</p>
                      <div class="<%= namespace %>-Dl_Rule-indent">
                        <p class="u-Adjust_Mt-8">
                          - 新規お申し込みの場合　　※（1）（2）のいずれか早い方がプラン利用開始日となります<br>
                          <span class="<%= namespace %>-Dl_Rule-indent">（1）当社に配送完了データが通知された日</span>
                          <span class="<%= namespace %>-Dl_Rule-indent">（2）プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</span>
                        </p>
                        <p class="u-Adjust_Mt-8">
                          - 他社から乗り換え（MNP）の場合<br>
                          <span class="<%= namespace %>-Dl_Rule-indent">プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</span>
                        </p>
                        <p class="u-Adjust_Mt-8">
                          - 楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合<br>
                          <span class="<%= namespace %>-Dl_Rule-indent">プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</span>
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="u-Adjust_Mt-16">
                    <p class="c-Txt_Emp-01">【4】お持ちの楽天回線対応製品※1を利用し「Rakuten Link」のご利用</p>
                    <p class="u-Adjust_Mt-8">「Rakuten UN-LIMIT  VII」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
                    <div class="u-Adjust_Mt-16">
                      <p class="c-Txt_Emp-01">【Rakuten Link アプリご利用方法】</p>
                      <p class="u-Adjust_Mt-8 <%= namespace %>-Dl_Rule-indent">
                        下記URLの「Rakuten Linkのご利用方法」をご確認ください<br>
                        <a href="<%= sitepath %>guide/rakuten-link/" class="c-Link_Txt">https://network.mobile.rakuten.co.jp/guide/rakuten-link/</a><br>
                        - 通話方法：『電話をかける』の項目をご確認ください
                      </p>
                    </div>
                    <div class="u-Adjust_Mt-16">
                      <p class="c-Txt_Emp-01">【Rakuten Link利用履歴の確認方法】</p>
                      <p class="u-Adjust_Mt-8 <%= namespace %>-Dl_Rule-indent">
                        下記URLの「キャンペーンが適用されているか、いつポイントが付与されるか知りたい」をご確認ください<br>
                        <a href="<%= sitepath %>faq/detail/00001962/" class="c-Link_Txt">https://network.mobile.rakuten.co.jp/faq/detail/00001962/</a><br>
                        -「 適用条件を達成状況の確認する」の項目をご確認ください<br>
                        <span class="c-Txt_Cap">※ 電話の発信時、（0570）（0180）などの他社接続サービス、♯ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</span>
                      </p>
                    </div>
                  </div>

                  <p class="u-Adjust_Mt-16">
                    <span class="c-Txt_Emp-01">【5】「Rakuten UN-LIMIT VII」プランで月間データ利用量1GB超をご利用</span><br>
                    <span class="<%= namespace %>-Dl_Rule-indent c-Txt_Cap">※「Rakuten UN-LIMIT VII」をお申し込みした回線で、お申し込み月または翌月で条件達成した方が対象で、ポイント付与は1度のみ。<br>
                      例えば、8月にお申し込みされた方が、8月に条件を達成された場合、9月は対象外となります。</span>
                  </p>

                  <div class="u-Adjust_Mt-16 c-Txt_Cap">
                    <p class="c-Txt_Emp-02">
                      ※1 キャンペーン対象製品について
                    </p>
                    <p class="c-Txt_Emp-02 u-Adjust_Mb-16">
                      【iOS版】<br>
                      iOS 14.4以降（推奨）を搭載したiPhone
                    </p>
                    <p class="c-Txt_Emp-02 u-Adjust_Mb-16">
                      【Android版】<br>
                      Android 9以降を搭載した<a href="<%= sitepath %>product/certified-products/" class="c-Link_Txt">楽天回線対応製品</a>
                    </p>
                    <p class="c-Txt_Emp-02 c-Txt_Cap u-Adjust_Mb-16">
                      ※ ご利用いただく製品によっては、次の機能が利用できない場合があります（接続回線の自動切替、緊急地震速報などの受信、高精度な位置情報測位など）ので、ご利用予定の製品の対応状況を<a href="<%= sitepath %>product/certified-products/" class="c-Link_Txt">こちら</a>でご確認ください。<br>
                      ※ ご利用いただける機能であっても、OSやソフトウェアの更新等により、機能のご利用が制限される場合があります。<br>
                      ※ SIMロックの解除等が必要な場合があります。
                    </p>
                  </div>
                </dd>
              </div>
              <div>
                <dt>キャンペーン特典 （楽天ポイント）</dt>
                <dt class="<%= namespace %>_Title-sub">特典内容</dt>
                <dd>
                  <p class="c-Txt_Emp-01">通常のお申し込み特典に加えて、さらに5,000ポイントプレゼント</p>
                </dd>
              </div>
              <div>
                <dt class="<%= namespace %>_Title-sub">ポイント付与日</dt>
                <dd>
                  <p class="c-Txt_Emp-01">「Rakuten UN-LIMIT  VII」のプラン利用開始および「Rakuten Link」「月間データ利用量1GB超」の利用が確認された月の翌々月末日ごろに付与</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-16">※ 例）8月に「Rakuten UN-LIMIT VII」のお申し込みをし、9月末日までにすべての条件を達成した場合、その翌々月である11月末日ごろに付与となります</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※ 楽天ポイントの付与は、楽天モバイルより行います</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※ 権利の譲渡はできません</p>
                </dd>
              </div>
              <div>
                <dt class="<%= namespace %>_Title-sub">ポイント有効期間</dt>
                <dd>
                  <td>
                    <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
                    <ul class="u-Adjust_Mt-8">
                      <li class="c-Txt_Cap">※ <a href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a></li>
                      <li class="c-Txt_Cap">※ 有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。</li>
                    </ul>
                  </td>
                </dd>
              </div>
              <div>
                <dt>特典適用対象外</dt>
                <dd>
                  <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
                  <ul class="u-Adjust_Mt-16 c-Txt_Cap <%= namespace %>-Dl_Rule-list">
                    <li>※当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                    <li>※すでに同一名義で「Rakuten UN-LIMIT VII」を1回線以上ご契約いただいたことがある場合</li>
                    <li>※楽天モバイル公式 楽天市場店でお申し込みした場合</li>
                    <li>※ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
                    <li>
                      ※「Rakuten UN-LIMIT  VII」のプラン利用開始がされなかった場合<br>
                      <span class="<%= namespace %>-Dl_Rule-indent">-プラン利用開始の手続き方法につきましては、<a href="<%= sitepath %>faq/detail/00001648/" class="c-Link_Txt">こちらのSIMカード版スタートガイドまたはeSIM版スタートガイド</a>を参照ください</span>
                    </li>
                    <li>※期限までに<span class="c-Txt_Emp-01">「Rakuten Link」を利用されなかった</span>場合</li>
                    <li>※ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                    <li>※当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                    <li>※そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
                  </ul>
                </dd>
              </div>
              <div>
                <dt>併用可能キャンペーン</dt>
                <dd>
                  <p class="c-Txt_Emp-01">以下のキャンペーンは<span class="c-Txt_Emp-02">併用可能</span>となります。以下記載のキャンペーン以外は併用不可となります。</p>
                  <ul class="u-Adjust_Mt-16 <%= namespace %>-Dl_Rule-list c-Txt_Cap">
                    <li>- 【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント（キャンペーンコード：1526）</li>
                    <li>- iPhoneアップグレードプログラム適用で5,000ポイント還元キャンペーン（キャンペーンコード：1383）</li>
                    <li>- 回線契約のみでOK！通常のRakuten UN-LIMIT VIIお申し込み特典に加えて、さらに5,000ポイントプレゼントキャンペーン（キャンペーンコード：1587）</li>
                  </ul>
                </dd>
              </div>
              <div>
                <dt>併用不可キャンペーン</dt>
                <dd>
                  <p class="c-Txt_Emp-01">以下のキャンペーンは、<span class="c-Txt_Emp-02">併用不可</span>となります。</p>
                  <ul class="u-Adjust_Mt-16 <%= namespace %>-Dl_Rule-list c-Txt_Cap">
                    <li>- Androidスマホ/Wi-Fiルーター割引キャンペーン（キャンペーンコード：1550）</li>
                    <li>- iPhone 13 全機種 & iPhone SE（第3世代）ポイント還元キャンペーン（キャンペーンコード：1551）</li>
                    <li>- 【ショップ限定】対象製品と楽天回線同時申込でさらに1,000ポイントキャンペーン（キャンペーンコード：1553）</li>
                    <li>- 楽天モバイル公式 楽天市場店 対象Apple製品と楽天回線セットご注文で16,000円OFFクーポン（キャンペーンコード：1545）</li>
                    <li>- 他社から乗り換え（MNP）限定！楽天モバイル公式 楽天市場店 iPhone SE（第3世代）と回線セットご注文で16,000ポイント（キャンペーンコード：1546）</li>
                    <li>- 楽天モバイル公式 楽天市場店 対象Android製品と楽天回線セットご注文で最大16,000円OFFクーポン（キャンペーンコード：1547）</li>
                    <li>-【ショップ限定】3Gケータイ乗り換えキャンペーン（キャンペーンコード：1586）</li>
                    <li>- iPhone 14 全機種発売記念キャンペーン（キャンペーンコード：1639）</li>
                  </ul>
                  <p class="c-Txt_Emp-01 u-Adjust_Mt-16">本キャンペーンを適用した場合、以下のキャンペーン特典は対象外となります。</p>
                  <ul class="u-Adjust_Mt-16 <%= namespace %>-Dl_Rule-list c-Txt_Cap">
                    <li>- ショップでのご案内限定！回線のみ契約にて、さらに3,000ポイントプレゼント（キャンペーンコード：1611）<br>
                    　※上記キャンペーン適用でご契約後、ポイント付与時までにお引越しされた方は、「【岩手県・岡山県・岐阜県・佐賀県 スペシャルキャンペーン】回線のみでOK！Rakuten UN-LIMIT VIIお申し込みで、5,000ポイントプレゼント（キャンペーンコード：1596）」が適用となる場合がございます。</li>
                  </ul>
                </dd>
              </div>
              <div>
                <dt>注意事項</dt>
                <dd>
                  <ul class="c-Txt_Cap <%= namespace %>-Dl_Rule-list">
                    <li>※本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                    <li>※本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                    <li>※本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                    <li>※記載の内容は2022年9月29日（木）時点の情報となります</li>
                </ul>
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
      <div id="campaign-rule1526" class="<%= namespace %>-Layout_Rule">
        <%# 1526 #################################### %>
        <h2 class="c-Heading_Lv2">【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント</h2>
        <div class="c-Table_Wrap u-Adjust_Mt-24">
          <div class="u-Adjust_Mt-24">
            <dl class="c-Dl_Origin <%= namespace %>-Dl_Rule">
              <div>
                <dt>キャンペーンコード</dt>
                <dd>
                  <p>1526</p>
                  <ul class="c-Txt_Cap u-Adjust_Mt-8">
                    <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                  </ul>
                </dd>
              </div>
              <div>
                <dt>キャンペーン期間</dt>
                <dd>
                  <p><span class="c-Txt_Emp-01">■ プランのお申し込み期間</span><br>
                    　- Web　2022年7月1日（金）0:00～終了日未定<br>
                    　- 店舗（楽天モバイルショップ）　2022年7月1日（金）開店～終了日未定<br>
                  </p>

                  <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■ プラン利用開始期限</span><br>
                    　　プランのお申し込みの翌月末日23:59まで
                  </p>
                  <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■「Rakuten Link」利用期限</span><br>
                    　　プランのお申し込みの翌月末日23:59まで
                  </p>
                </dd>
              </div>
              <div>
                <dt>キャンペーン条件</dt>
                <dd>
                  <p class="c-Txt_Emp-02">
                    上記各項目の期間内に【1】、【2】、【3】の条件をすべて満たした楽天会員の方
                  </p>
                  <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※ 特典はおひとり様1度のみ。楽天回線を初めてお申し込みいただいた場合に適用となります</p>
                  <div class="u-Adjust_Mt-16">
                    <span class="c-Txt_Emp-01">【1】「Rakuten UN-LIMIT VII」へ、下記（1）～（3）いずれかの方法にてお申し込み</span><br>
                    <ul class="c-List_Note u-Adjust_Mt-8">
                      <li><span>(1)</span>新規お申し込み</li>
                      <li><span>(2)</span>他社からの乗り換え（MNP）でお申し込み<br>
                        <span class="c-Txt_Cap">※楽天モバイル（旧FREETEL）通話SIMからの乗り換え（MNP）、DMMモバイル通話SIMからの乗り換え（MNP）の場合も含む</span>
                      </li>
                      <li><span>(3)</span>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
                    </ul>
                    <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※ 「Rakuten UN-LIMIT VI」から「Rakuten UN-LIMIT VII」への移行は対象外となります</p>
                  </div>
                  <div class="u-Adjust_Mt-16">
                    <p class="c-Txt_Emp-01">【2】「Rakuten UN-LIMIT VII」プラン利用開始</p>
                    <p class="u-Adjust_Mt-16">【プラン利用開始日とは】</p>
                    <ul>
                      <li class="u-Adjust_Mt-8">- 新規お申し込みの場合 <span>※(1)(2)のいずれか早い方がプラン利用開始日となります。</span>
                        <ul class="c-List_Note">
                          <li><span>(1)</span>当社に配送完了データが通知された日</li>
                          <li><span>(2)</span>プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                        </ul>
                      </li>
                      <li class="u-Adjust_Mt-8">- 他社から乗り換え（MNP）の場合<br>
                        プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日
                      </li>
                      <li class="u-Adjust_Mt-8">- 楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合<br>
                        プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日
                      </li>
                    </ul>
                  </div>
                  <div class="u-Adjust_Mt-16">
                    <p class="c-Txt_Emp-01">【3】対象製品※1を利用し「Rakuten Link」のご利用</p>
                    <p class="u-Adjust_Mt-8">「Rakuten UN-LIMIT VII」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
                    <p class="u-Adjust_Mt-8 c-Txt_Emp-02 c-Txt_Cap">※iPhoneをご購入の場合、製品到着または店頭で購入した日の翌月末日23:59までに【2】【3】の条件を満たすことでキャンペーン適用となります</p>
                    <p class="u-Adjust_Mt-8 c-Txt_Emp-02 c-Txt_Cap">※製品到着とは、当社に配送完了データが通知された日を指します。</p>
                    <p class="u-Adjust_Mt-16 c-Txt_Emp-01">【Rakuten Link アプリご利用方法】</p>
                    下記URLの「Rakuten Linkのご利用方法」をご確認ください<br>
                    <a target="_blank" href="<%= sitepath %>guide/rakuten-link/" class="u-Adjust_Txt-break">https://network.mobile.rakuten.co.jp/guide/rakuten-link/</a>
                    <br>
                    - 通話方法：『電話をかける』の項目をご確認ください
                    <p class="c-Txt_Emp-01">【Rakuten Link利用履歴の確認方法】</p>
                    下記URLの「キャンペーンが適用されているか、いつポイントが付与されるか知りたい」をご確認ください<br>
                    <a href="<%= sitepath %>faq/detail/00001962/" class="u-Adjust_Txt-break">https://network.mobile.rakuten.co.jp/faq/detail/00001962/</a><br>
                    -「③ 適用条件の達成状況を確認する」の項目をご確認ください
                    <p class="c-Txt_Cap">※ 電話の発信時、（0570）（0180）などの他社接続サービス、#ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</p>
                    <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">
                      ※1 キャンペーン対象製品について<br>
                    【iOS版】<br>
                    iOS 14.4以降（推奨）を搭載したiPhone</p>

                    <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">【Android版】<br>
                    Android 9以降を搭載した<a href="<%= sitepath %>product/certified-products/" class="u-Adjust_Txt-break">楽天回線対応製品</a></p>
                    <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">
                    ※ 楽天回線対応のモバイルルーターで使用されるためにお申し込みいただいた場合は、「Rakuten Link」のご利用は必要ございません。<br>
                    ※ ご利用いただく製品によっては、次の機能が利用できない場合があります（接続回線の自動切替、緊急地震速報などの受信、高精度な位置情報測位など）ので、ご利用予定の製品の対応状況を<a href="<%= sitepath %>product/<%= namespace %>/">こちら</a>でご確認ください。<br>
                    ※ ご利用いただける機能であっても、OSやソフトウェアの更新等により、機能のご利用が制限される場合があります。<br>
                    ※ SIMロックの解除等が必要な場合があります。
                    </p>
                  </div>
                </dd>
              </div>
              <div>
                <dt>キャンペーン特典 （楽天ポイント）</dt>
                <dt class="<%= namespace %>_Title-sub">特典内容</dt>
                <dd>
                  <p class="c-Txt_Emp-01">3,000ポイントプレゼント</p>
                </dd>
              </div>
              <div>
                <dt class="<%= namespace %>_Title-sub">ポイント付与日</dt>
                <dd>
                  <p class="c-Txt_Emp-01">「Rakuten UN-LIMIT VII」のプラン利用開始および「Rakuten Link」の利用が確認された月の翌々月末日ごろに付与</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>例）7月にすべての条件を達成した場合には、その翌々月である9月末日ごろにポイント付与となります</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>権利の譲渡はできません</p>
                </dd>
              </div>
              <div>
                <dt class="<%= namespace %>_Title-sub">ポイント有効期間</dt>
                <dd>
                  <td>
                    <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
                    <ul class="u-Adjust_Mt-8">
                      <li class="c-Txt_Cap"><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a></li>
                      <li class="c-Txt_Cap"><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。</li>
                    </ul>
                  </td>
                </dd>
              </div>
              <div>
                <dt>特典適用対象外</dt>
                <dd>
                  <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
                  <ul class="u-Adjust_Mt-16">
                    <li class="c-Txt_Cap"><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払期限までに行われなかった場合 ※未納・未払いが発生した場合</li>
                    <li class="c-Txt_Cap"><span>※</span>「【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼントキャンペーン」の適用回数が、おひとり様1契約1回を超える場合は対象外となります</li>
                    <li class="c-Txt_Cap"><span>※</span>楽天モバイルショップ、楽天モバイルオンライン、楽天モバイル公式 楽天市場店以外でお申し込みした場合</li>
                    <li class="c-Txt_Cap"><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
                    <li class="c-Txt_Cap"><span>※</span>「Rakuten UN-LIMIT VII」のプラン利用開始がされなかった場合<br>
                      プラン利用開始の手続き方法につきましては、<a href="<%= sitepath %>faq/detail/00001648/">こちらのSIMカード版スタートガイドまたはeSIM版スタートガイド</a>を参照ください</li>
                    <li class="c-Txt_Cap"><span>※</span>期限までに<span class="c-Txt_Emp-01">「Rakuten Link」を利用されなかった場合</span></li>
                    <li class="c-Txt_Cap"><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                    <li class="c-Txt_Cap"><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                    <li class="c-Txt_Cap"><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
                  </ul>
                </dd>
              </div>
              <div>
                <dt>注意事項</dt>
                <dd>
                  <ul>
                    <li class="c-Txt_Cap"><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                    <li class="c-Txt_Cap"><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                    <li class="c-Txt_Cap"><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                    <li class="c-Txt_Cap"><span>※</span>記載の内容は2023年3月24日（金）時点の情報となります</li>
                  </ul>
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
      <div id="campaign-rule1587" class="<%= namespace %>-Layout_Rule">
        <%# 1587 #################################### %>
        <h2 class="c-Heading_Lv2">回線契約のみでOK！通常のRakuten UN-LIMIT VIIお申し込み特典に加えて、さらに5,000ポイントプレゼントキャンペーン</h2>
        <div class="c-Table_Wrap u-Adjust_Mt-24">
          <div class="u-Adjust_Mt-24">
            <dl class="c-Dl_Origin <%= namespace %>-Dl_Rule">
              <div>
                <dt>キャンペーンコード</dt>
                <dd>
                  <p>1587</p>
                  <ul class="c-Txt_Cap u-Adjust_Mt-8">
                    <li>※ 本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                  </ul>
                </dd>
              </div>
              <div>
                <dt>キャンペーン期間</dt>
                <dd>
                  <p>
                    <span class="c-Txt_Emp-01">■ プランのお申し込み期間</span><br>
                    <span class="<%= namespace %>-Dl_Rule-indent">- Web　2022年7月20日（水）9:00～終了日未定</span>
                    <span class="<%= namespace %>-Dl_Rule-indent">- 店舗（楽天モバイルショップ）　2022年7月20日（水）開店～終了日未定</span>
                  </p>
                  <p class="u-Adjust_Mt-16">
                    <span class="c-Txt_Emp-01">■ プラン利用開始期限</span><br>
                    <span class="<%= namespace %>-Dl_Rule-indent">プランのお申し込みの翌月末日23:59まで</span>
                  </p>
                  <p class="u-Adjust_Mt-16">
                    <span class="c-Txt_Emp-01">■「Rakuten Link」利用期限</span><br>
                    <span class="<%= namespace %>-Dl_Rule-indent">プランのお申し込みの翌月末日23:59まで</span>
                  </p>
                </dd>
              </div>
              <div>
                <dt>キャンペーン条件</dt>
                <dd>
                  <p class="c-Txt_Emp-02">
                    上記各項目の期間内に【1】、【2】、【3】の条件をすべて満たした楽天会員の方
                  </p>
                  <p class="c-Txt_Cap c-Txt_Emp-02">※ 特典はおひとり様1度のみ。楽天モバイルを初めてお申し込みいただいた回線に適用となります</p>
                  <div class="u-Adjust_Mt-16">
                    <span class="c-Txt_Emp-01">【1】「Rakuten UN-LIMIT VII」へ、下記（1）～（3）いずれかの方法にてお申し込み</span><br>
                    <ul class="u-Adjust_Mt-8 <%= namespace %>-Dl_Rule-indent">
                      <li>（1）新規お申し込み</li>
                      <li>
                        <p>（2）他社からの乗り換え（MNP）でお申し込み</p>
                        <p class="c-Txt_Cap <%= namespace %>-Dl_Rule-indent">※ 楽天モバイル（旧FREETEL）通話SIMからの乗り換え（MNP）、DMMモバイル通話SIMからの乗り換え（MNP）の場合も含む</p>
                      </li>
                      <li>（3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
                    </ul>
                  </div>

                  <div class="u-Adjust_Mt-16">
                    <p class="c-Txt_Emp-01">【2】お持ちの楽天回線対応製品※1を利用し「Rakuten UN-LIMIT VII」プラン利用開始</p>
                    <div class="u-Adjust_Mt-8">
                      <p>【プラン利用開始日とは】</p>
                      <div class="<%= namespace %>-Dl_Rule-indent">
                        <p class="u-Adjust_Mt-8">
                          - 新規お申し込みの場合　　※（1）（2）のいずれか早い方がプラン利用開始日となります<br>
                          <span class="<%= namespace %>-Dl_Rule-indent">（1）当社に配送完了データが通知された日</span>
                          <span class="<%= namespace %>-Dl_Rule-indent">（2）プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</span>
                        </p>
                        <p class="u-Adjust_Mt-8">
                          - 他社から乗り換え（MNP）の場合<br>
                          <span class="<%= namespace %>-Dl_Rule-indent">プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</span>
                        </p>
                        <p class="u-Adjust_Mt-8">
                          - 楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合<br>
                          <span class="<%= namespace %>-Dl_Rule-indent">プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</span>
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="u-Adjust_Mt-16">
                    <p class="c-Txt_Emp-01">【3】お持ちの楽天回線対応製品※1を利用し「Rakuten Link」のご利用</p>
                    <p>「Rakuten UN-LIMIT  VII」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
                    <div class="u-Adjust_Mt-16">
                      <p class="c-Txt_Emp-01">【Rakuten Link アプリご利用方法】</p>
                      <p class="u-Adjust_Mt-8 <%= namespace %>-Dl_Rule-indent">
                        下記URLの「Rakuten Linkのご利用方法」をご確認ください<br>
                        <a href="<%= sitepath %>guide/rakuten-link/" class="c-Link_Txt">https://network.mobile.rakuten.co.jp/guide/rakuten-link/</a><br>
                        - 通話方法：『電話をかける』の項目をご確認ください
                      </p>
                    </div>
                    <div class="u-Adjust_Mt-16">
                      <p class="c-Txt_Emp-01">【Rakuten Link利用履歴の確認方法】</p>
                      <p class="u-Adjust_Mt-8 <%= namespace %>-Dl_Rule-indent">
                        下記URLの「キャンペーンが適用されているか、いつポイントが付与されるか知りたい」をご確認ください<br>
                        <a href="<%= sitepath %>faq/detail/00001962/" class="c-Link_Txt">https://network.mobile.rakuten.co.jp/faq/detail/00001962/</a><br>
                        -「 適用条件を達成状況の確認する」の項目をご確認ください<br>
                        <span class="c-Txt_Cap">※ 電話の発信時、（0570）（0180）などの他社接続サービス、♯ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</span>
                      </p>
                    </div>
                    <div class="u-Adjust_Mt-16 c-Txt_Emp-02 c-Txt_Cap">
                      <p>※1 キャンペーン対象製品について</p>
                      <p class="u-Adjust_Mt-8">
                        【iOS版】<br>
                        iOS 14.4以降（推奨）を搭載したiPhone
                      </p>
                      <p class="u-Adjust_Mt-8">
                        【Android版】<br>
                        Android 9以降を搭載した<a href="<%= sitepath %>product/certified-products/" class="c-Link_Txt">楽天回線対応製品</a>
                      </p>
                      <p class="u-Adjust_Mt-8">
                        ※ ご利用いただく製品によっては、次の機能が利用できない場合があります（接続回線の自動切替、緊急地震速報などの受信、高精度な位置情報測位など）ので、ご利用予定の製品の対応状況を<a href="<%= sitepath %>product/byod" class="c-Link_Txt"></a>こちらでご確認ください。<br>
                        ※ ご利用いただける機能であっても、OSやソフトウェアの更新等により、機能のご利用が制限される場合があります。<br>
                        ※ SIMロックの解除等が必要な場合があります。
                      </p>
                    </div>
                  </div>
                </dd>
              </div>
              <div>
                <dt>キャンペーン特典 （楽天ポイント）</dt>
                <dt class="<%= namespace %>_Title-sub">特典内容</dt>
                <dd>
                  <p class="c-Txt_Emp-01">通常のお申し込み特典に加えて、さらに5,000ポイントプレゼント</p>
                </dd>
              </div>
              <div>
                <dt class="<%= namespace %>_Title-sub">ポイント付与日</dt>
                <dd>
                  <p class="c-Txt_Emp-01">「Rakuten UN-LIMIT VII」のプラン利用開始および「Rakuten Link」の利用が確認された月の翌々月末日ごろに付与</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-16">※ 例）7月に「Rakuten UN-LIMIT VII」のお申し込みをし、8月末日までにすべての条件を達成した場合、その翌々月である10月末日ごろに付与となります</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※ 楽天ポイントの付与は、楽天モバイルより行います</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※ 権利の譲渡はできません</p>
                </dd>
              </div>
              <div>
                <dt class="<%= namespace %>_Title-sub">ポイント有効期間</dt>
                <dd>
                  <td>
                    <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
                    <ul class="u-Adjust_Mt-8">
                      <li class="c-Txt_Cap">※ <a href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a></li>
                      <li class="c-Txt_Cap">※ 有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。</li>
                    </ul>
                  </td>
                </dd>
              </div>
              <div>
                <dt>特典適用対象外</dt>
                <dd>
                  <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
                  <ul class="u-Adjust_Mt-16 c-Txt_Cap <%= namespace %>-Dl_Rule-list">
                    <li>※当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                    <li>※すでに同一名義で「Rakuten UN-LIMIT VII」を1回線以上ご契約いただいたことがある場合</li>
                    <li>※楽天モバイル公式 楽天市場店で購入した場合</li>
                    <li>※ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
                    <li>
                      ※「Rakuten UN-LIMIT  VII」のプラン利用開始がされなかった場合<br>
                      <span class="<%= namespace %>-Dl_Rule-indent">-プラン利用開始の手続き方法につきましては、<a href="<%= sitepath %>faq/detail/00001648/" class="c-Link_Txt">こちらのSIMカード版スタートガイドまたはeSIM版スタートガイド</a>を参照ください</span>
                    </li>
                    <li>※期限までに<span class="c-Txt_Emp-01">「Rakuten Link」を利用されなかった</span>場合</li>
                    <li>※ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                    <li>※当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                    <li>※そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
                  </ul>
                </dd>
              </div>
              <div>
                <dt>併用可能キャンペーン</dt>
                <dd>
                  <p class="c-Txt_Emp-01">以下のキャンペーンは<span class="c-Txt_Emp-02">併用可能</span>となります。以下記載のキャンペーン以外は併用不可となります。</p>
                  <ul class="u-Adjust_Mt-16 <%= namespace %>-Dl_Rule-list c-Txt_Cap">
                    <li>- 【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント（キャンペーンコード：1526）</li>
                    <li>- 【Rakuten UN-LIMIT VII】データ1GB／月以下だった方限定！プラン料金最大4カ月実質無料キャンペーン（キャンペーンコード：1527）</li>
                    <li>- iPhoneアップグレードプログラム適用で5,000ポイント還元キャンペーン（キャンペーンコード：1383）</li>
                  </ul>
                </dd>
              </div>
              <div>
                <dt>併用不可キャンペーン</dt>
                <dd>
                  <p class="c-Txt_Emp-01">以下のキャンペーンは、<span class="c-Txt_Emp-02">併用不可</span>となります。</p>
                  <ul class="u-Adjust_Mt-16 <%= namespace %>-Dl_Rule-list c-Txt_Cap">
                    <li> - Androidスマホ/Wi-Fiルーター割引キャンペーン（キャンペーンコード：1550）</li>
                    <li>- iPhone 13 全機種 & iPhone SE（第3世代）ポイント還元キャンペーン（キャンペーンコード：1551）</li>
                    <li>- 【ショップ限定】対象製品と楽天回線同時申込でさらに1,000ポイントキャンペーン（キャンペーンコード：1553）</li>
                    <li>- 【楽天モバイル】楽天市場でお買い物された方へ　Rakuten UN-LIMIT VIIのお申し込みで1,000円相当のポイントGETキャンペーン（キャンペーンコード：1056）</li>
                    <li>- 楽天モバイル公式 楽天市場店 対象Apple製品と楽天回線セットご注文で16,000円OFFクーポン（キャンペーンコード：1545）</li>
                    <li>- 他社から乗り換え（MNP）限定！楽天モバイル公式 楽天市場店 iPhone SE（第3世代）と回線セットご注文で16,000ポイント（キャンペーンコード：1546）</li>
                    <li>- 楽天モバイル公式 楽天市場店 対象Android製品と楽天回線セットご注文で最大16,000円OFFクーポン（キャンペーンコード：1547）</li>
                    <li>-【ショップ限定】3Gケータイ乗り換えキャンペーン（キャンペーンコード：1586）</li>
                    <li>- iPhone 14 全機種発売記念キャンペーン（キャンペーンコード：1639）</li>
                  </ul>
                </dd>
              </div>
              <div>
                <dt>注意事項</dt>
                <dd>
                  <ul class="c-Txt_Cap <%= namespace %>-Dl_Rule-list">
                    <li>※本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                    <li>※本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                    <li>※製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
                    <li>※本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                    <li>※記載の内容は2022年9月29日（木）時点の情報となります</li>
                </ul>
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="g-Footer <%= namespace %>-Layout_Footer u-Adjust_Mt-64">
    <div class="l-System_Container">
      <div class="c-Breadcrumbs_Foot">
        <ul>
          <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ if (typeof directories !== 'undefined') { _%>
          <%_ let dirs = []; _%>
          <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
          <%_ }) _%>
          <%_ } _%>
          <li aria-current="true" class="<%= namespace %>-Util_Kerning"><%= pagetitle %></li>
        </ul>
      </div>
    </div>
    <%- include('/include/_footer') %>
  </footer>

  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
</body>
</html>
