<% const pagetitle = "Rakuten Casa（ご利用方法）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '屋内に楽天回線を構築し、通信環境の改善にご利用いただける小さな4G基地局「Rakuten Casa（楽天カーサ）」のご利用方法についてご案内します。',
    noindex: true,
    pathname: filepath,
    canonical_custom: 'https://network.mobile.rakuten.co.jp/guide/rakuten-casa/flow/',
  });
%>
<% const nameSpace = "rakuten-casa" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/faq/faq.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container u-Adjust_Pt-32 rakuten-casa-Layout_Btn-fullwide">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
    <p class="u-Adjust_Mt-24">
      Rakuten Casaのお申し込み方法や接続方法をご案内いたします。<br>
      Rakuten Casaをご利用いただくための条件もご案内しますので、お申し込み前にご確認ください。
    </p>
    <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-24">
      <li><a href="#flow" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>ご利用の流れ</a></li>
      <li><a href="#if-01" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>契約解除した場合の対応</a></li>
      <li><a href="#if-02" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>住所変更した場合の対応</a></li>
    </ul>

    <h2 id="flow" class="c-Heading_Lv2 u-Adjust_Mt-48">ご利用の流れ</h2>
  </div>
  <div class="c-Theme-Light u-Adjust_Mt-32">
      <div class="rakuten-casa-Layout_Step">
        <div class="rakuten-casa-Layout_Step-anker"><a href="#step1" class="js-scroll">
          <img src="<%= sitepath %>assets/img/guide/rakuten-casa/flow/flow_step_01-pc.png" class="rakuten-casa-Layout_Detail-pc" alt="">
          <img src="<%= sitepath %>assets/img/guide/rakuten-casa/flow/flow_step_01-sp.png" class="rakuten-casa-Layout_Detail-sp" alt="">
        </a></div>
        <div class="rakuten-casa-Layout_Step-anker"><a href="#step2" class="js-scroll">
          <img src="<%= sitepath %>assets/img/guide/rakuten-casa/flow/flow_step_02-pc.png" class="rakuten-casa-Layout_Detail-pc" alt="">
          <img src="<%= sitepath %>assets/img/guide/rakuten-casa/flow/flow_step_02-sp.png" class="rakuten-casa-Layout_Detail-sp" alt="">
        </a></div>
        <div class="rakuten-casa-Layout_Step-anker"><a href="#step3" class="js-scroll">
          <img src="<%= sitepath %>assets/img/guide/rakuten-casa/flow/flow_step_03-pc.png" class="rakuten-casa-Layout_Detail-pc" alt="">
          <img src="<%= sitepath %>assets/img/guide/rakuten-casa/flow/flow_step_03-sp.png" class="rakuten-casa-Layout_Detail-sp" alt="">
        </a></div>
        <div class="rakuten-casa-Layout_Step-anker"><a href="#step4" class="js-scroll">
          <img src="<%= sitepath %>assets/img/guide/rakuten-casa/flow/flow_step_04-pc.png" class="rakuten-casa-Layout_Detail-pc" alt="">
          <img src="<%= sitepath %>assets/img/guide/rakuten-casa/flow/flow_step_04-sp.png" class="rakuten-casa-Layout_Detail-sp" alt="">
        </a></div>
      </div>
  </div>
  <div class="l-System_Container">
    <ol class="c-Flow u-Adjust_Mt-32">
        <li id="step1">
            <h3 class="c-Heading_Lv3">1. 申し込み条件と動作環境を確認する</h3>
            <div class="l-Media_Grid u-Adjust_Mt-24 rakuten-casa-Layout_Flow">
                <div class="l-Media_Image c-Flow_Image">
                    <img src="<%= sitepath %>assets/img/guide/rakuten-casa/flow/img-01.png" alt="">
                </div>
                <div>
                    <p class="c-Txt_Emp-02">Rakuten Casaをご利用いただくためには必要な条件があります。必ずお申し込み前にご確認ください。</p>
                    <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>area/rakuten-casa/#application" class="c-Btn_Regular" target="_blank"><span>お申し込み条件を見る<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></p>
                    <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>area/rakuten-casa/#environment" class="c-Btn_Regular" target="_blank"><span>動作環境（ルーターの設定）を見る<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></p>
                </div>
            </div>
        </li>
        <li id="step2">
            <h3 class="c-Heading_Lv3">2. Rakuten Casaを申し込む</h3>
            <div class="l-Media_Grid u-Adjust_Mt-24 rakuten-casa-Layout_Flow">
                <div class="l-Media_Image c-Flow_Image">
                    <img src="<%= sitepath %>assets/img/guide/rakuten-casa/flow/img-02.png" alt="">
                </div>
                <div>
                    <p>Rakuten CasaはWebからお申し込みいただけます。</p>
                    <p class="c-Txt_Emp-02 u-Adjust_Mt-24">以下3点の情報をお手元にご用意のうえ、お申し込みにお進みください。</p>
                    <ul class="c-List_Text-disc u-Adjust_Mt-16">
                      <li>インターネット回線ご契約名義</li>
                      <li>ひかり電話番号（ひかり電話をご契約の場合）もしくは連絡先電話番号</li>
                      <li>サービス名（ファミリータイプ／マンションタイプ／戸建タイプ）</li>
                    </ul>
                    <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/flow/rakuten-casa/" class="c-Btn_Regular"><span>申し込み方法の詳細を見る</span></a></p>
                    <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>area/rakuten-casa/checklist-private/?l-id=casa_guide_onboarding" class="c-Btn_Primary-large"><span>Rakuten Casaを申し込む</span></a></p>
                </div>
            </div>
        </li>
        <li id="step3">
            <h3 class="c-Heading_Lv3">3. Rakuten Casaを受け取る</h3>
            <div class="l-Media_Grid u-Adjust_Mt-24 rakuten-casa-Layout_Flow">
                <div class="l-Media_Image c-Flow_Image">
                    <img src="<%= sitepath %>assets/img/guide/rakuten-casa/flow/img-03.png" alt="">
                </div>
                <div>
                    <p>当社側でインターネット回線のご契約者様情報を確認し、確認が完了しましたら、「お申し込み完了のお知らせ」メールをお送りします。</p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8">※お申し込み確認後、インターネット回線のご契約者様情報の確認のため、お電話をさせていただく場合があります。</p>
                    <p class="u-Adjust_Mt-24">その後、通常10営業日程でRakuten Casaが発送されますので、到着までお待ちください。</p>
                </div>
            </div>
        </li>
        <li id="step4">
            <h3 class="c-Heading_Lv3">4. Rakuten Casaをインターネットに接続する</h3>
            <div class="l-Media_Grid u-Adjust_Mt-24 rakuten-casa-Layout_Flow">
                <div class="l-Media_Image c-Flow_Image">
                    <img src="<%= sitepath %>assets/img/guide/rakuten-casa/flow/img-04.png" alt="">
                </div>
                <div>
                    <p>届いたRakuten Casaをご自宅やオフィスのインターネット回線に接続し、本体電源を入れて、アクティベーションを完了してください。</p>
                    <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/rakuten-casa/connection/" class="c-Btn_Regular"><span>接続方法の詳細を見る</span></a></p>
                </div>
            </div>
        </li>
    </ol>

    <div class="c-Theme-Light u-Adjust_Mt-24">
      <h3 class="c-Heading_Lv3">Rakuten Casaアプリについて</h3>
      <p class="u-Adjust_Mt-16">Rakuten Casaアプリを使用することでWi-Fi接続の共有やSSIDの変更ができます。Rakuten CasaでWi-Fiを使用する場合は、ご利用ください。</p>
      <div class="rakuten-casa-Layout_App rakuten-casa-Layout_App-inner u-Adjust_Mt-16">
        <div class="rakuten-casa-Layout_App-icon">
          <img src="<%= sitepath %>assets/img/guide/rakuten-casa/flow/icon_app.png" alt="">
        </div>
        <div>
          <h4 class="c-Heading_Lv4">Rakuten Casaアプリ</h4>
          <div class="rakuten-casa-Layout_App-btn">
            <p><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.casa"><img src="<%= sitepath %>assets/img/guide/rakuten-casa/flow/btn_app-android.png" alt=""></a></p>
            <p><a href="https://apps.apple.com/jp/app/rakuten-casa/id1501619474"><img src="<%= sitepath %>assets/img/guide/rakuten-casa/flow/btn_app-apple.png" alt=""></a></p>
            <p><a href="<%= sitepath%>guide/rakuten-casa/" class="c-Btn_Regular"><span>アプリのご利用方法を見る</span></a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="u-Adjust_Mt-48">
      <h2 id="if-01" class="c-Heading_Lv2">契約解除した場合の対応（返却方法）</h2>
      <p class="u-Adjust_Mt-16">
        契約解除料はかかりません。契約終了後は速やかに返送をお願いいたします。<br>
        契約終了後相当期間経過後も返却しなかった場合は、違約金として20,000円（非課税）を請求することがあります。<br>
        <br>
        Rakuten Casaのご解約およびご返却をご希望の場合は、<a href="#inquiry" class="c-Link_Txt js-scroll">コミュニケーションセンター</a>までお問い合わせください。ご返却方法についてご案内いたします。
      </p>
    </div>
    <div class="u-Adjust_Mt-64">
      <h2 id="if-02" class="c-Heading_Lv2">住所変更した場合の対応</h2>
      <p class="u-Adjust_Mt-16">
        引っ越しなどでRakuten Casaの設置住所が変更になる場合は、Rakuten Casaのご解約およびご返却のお手続きが必要となります。<br>
        新しい場所に設置される場合は改めてのご契約となります。<br>
        ご解約およびご返却のお手続きは、<a href="#inquiry" class="c-Link_Txt js-scroll">コミュニケーションセンター</a>までお問い合わせください。
      </p>
    </div>


      <h2 id="inquiry" class="c-Heading_Lv2 u-Adjust_Mt-64">お問い合わせ窓口</h2>
      <p class="u-Adjust_Mt-16">
        「<a href="<%= sitepath %>area/rakuten-casa/#faq" class="c-Link_Txt">よくあるご質問</a>」で問題が解決しない場合は以下にご連絡ください。
      </p>
      <div class="c-Theme-Light u-Adjust_Mt-48">
        <h3 class="c-Heading_Lv3">コミュニケーションセンター</h3>
        <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">電話でお問い合わせ</h4>
        <h5 class="c-Heading_Lv4 u-Adjust_Mt-8">【個人・法人のお客様】</h5>
        <p class="u-Adjust_Mt-16">お問い合わせ先 0800-805-0400（通話料無料）<br>
          営業時間 【個人のお客様】9:00～17:00／無休【法人のお客様】9:00～18:00／土日祝日・年末年始（12/31～1/3）を除く</p>

      <h4 id="movechat" class="c-Heading_Lv4 u-Adjust_Mt-32">チャットでお問い合わせ</h4>
      <h5 class="c-Heading_Lv4 u-Adjust_Mt-8">【個人のお客様のみ】</h5>
      <p class="u-Adjust_Mt-16">空き時間で気軽にお問合わせ。</p>
      <p class="u-Adjust_Mt-16">【ご注意】iOS15でチャット、AIチャット相談をご利用の方へ<br>
        iOS15にて上記チャットサービスをご使用される場合、メッセージの送信ボタンが正しく表示されない事象が確認できております。<br>
        詳しくは<a href="https://network.mobile.rakuten.co.jp/faq/detail/10000269/?l-id=faq_faq_10000269" class="c-Link_Txt">こちら</a>をご確認ください。</p>

      <div class="l-Media_Grid-half faq-Layout_Chat u-Adjust_Mt-16">
        <div class="c-Infobox_Standing-white" style="padding: 16px;background-color: #fff;">
          <h4 class="c-Heading_Lv4 u-Adjust_Mb-8">お申し込み前の方（個人契約をご検討のお客様）</h4>
          <p class="js-waiting-non_member-message u-Adjust_Mt-16 u-Adjust_Mb-24"></p>
          <div class="faq-Layout_Btn-large u-Adjust_Mt-0 u-Adjust_Align-center">
            <div id="ndep-chat-btn" class="target-messaging faq-Drilldown_Trigger chat_img">
              <button
                class="c-Btn_Regular"
                onclick="Inq.fireCustomEvent('NDEPembeddedChat')"
                data-ratId="faq_web_chat"
                data-ratEvent="click"
                data-ratParam="all">
                <span>チャット相談を利用する</span>
              </button>
            </div>
            <button id="js-use-chat-consultation" class="c-Btn_Primary faq-Layout_Btn-use-chat-consultation u-Adjust_Mb-24" aria-disabled="true" style="display: none;" disabled><span>チャット相談を利用する</span></button>
            <p class="c-Txt_Normal-m u-Adjust_Mt-24 u-Adjust_Align-center">営業時間 9:00〜18:00</p>
            <p class="c-Txt_Cap u-Adjust_Mt-16 u-Adjust_Align-center">※営業時間外はチャットをご利用いただけません。<br>※Rakuten Casaに関するお問い合わせは9:00～18:00までとなります。<br>画面右下に表示されている「AIに相談する」をご利用ください。</p>
          </div>
          <div class="js-waiting-non_member-message-forecast faq-Contact_Chat-forecast u-Adjust_Mt-56">
            <a href="#modal_chat_availability_nonmember" class="js-Modal c-Link_Txt-icon-front"><span class="c-Icon_Zoom-in-l"></span>混雑予測はこちら</a>
          </div>
          <div id="modal_chat_availability_nonmember" style="display:none;">
            <%- include('/include/faq/_chat-waiting.ejs') %>
          </div>
        </div>
        <div class="c-Infobox_Standing-white" id="anc01" style="padding: 16px;background-color: #fff;">
          <h4 class="c-Heading_Lv4">お申し込み済み・ご契約中の方（個人契約のお客様）</h4>
          <p class="js-waiting-member-message u-Adjust_Mt-16 u-Adjust_Mb-24"></p>

          <a class="c-Btn_Regular u-Adjust_Mb-24" href="<%= ecarepath %>technical-operation?action=supportChat" data-ratId="faq_myrakuten_web" data-ratEvent="click" data-ratParam="all" style="display: block;"><span>Webで「my 楽天モバイル」を使う</span></a>

          <div class="c-Accordion u-Adjust_Mt-24">
            <button id="accordion-99" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-99"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>公式アプリ「my 楽天モバイル」</button>
            <div id="accordion-content-99" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-99" aria-hidden="true">
              <div class="faq-Layout_App">
                <div class="faq-Layout_Img"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" width="96" alt=""></div>
                <div class="faq-Layout_Txt">
                  <h4 class="c-Heading_Lv4">「my 楽天モバイル」公式アプリ</h4>
                  <p class="u-Adjust_Mt-16">空き時間で気軽にお問い合わせ（コミュニケーションセンターの営業時間 9:00〜23:00）</p>
                  <p class="u-Adjust_Mt-16"></p>
                  <ul class="c-Box_App-link faq-Layout_App-box u-Adjust_Mt-16">
                    <li class="faq-Layout_Btn-store">
                      <div class="faq-Layout_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank" data-ratId="faq_myrakuten_google" data-ratEvent="click" data-ratParam="all"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
                      <div class="faq-Layout_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank" data-ratId="faq_myrakuten_apple" data-ratEvent="click" data-ratParam="all"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
                    </li>
                  </ul>
                </div>
              </div>
              <p class="u-Adjust_Mt-16"><a href="#modal-chat-howto" class="js-Modal c-Link_Txt-icon-front" data-ratId="faq_myrakuten_modal_howto" data-ratEvent="click" data-ratParam="all"><span class="c-Icon_Zoom-in-l"></span>チャット相談の利用方法を見る</a></p>
              <div id="modal-chat-howto" style="display:none;">
                <h4 class="c-Heading_Lv2">ご利用の流れ</h4>
                <ol class="c-Flow">
                  <li><span class="c-Txt_Alphanumeric-m">1</span>
                    <h4 class="c-Heading_Lv4">my 楽天モバイルを起動し、画面右下のアイコンをタップ</h4>
                    <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/inquiry/img-flow-1.png?200401" class="c-Img_Capture" alt=""></div>
                  </li>
                  <li><span class="c-Txt_Alphanumeric-m">2</span>
                    <h4 class="c-Heading_Lv4">質問を入力。オペレーターが回答いたします。</h4>
                    <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/inquiry/img-flow-3.png" class="c-Img_Capture" alt=""></div>
                  </li>
                </ol>
              </div>
            </div>
          </div>
          <div class="js-waiting-member-message-forecast faq-Contact_Chat-forecast u-Adjust_Mt-16">
            <a href="#modal_chat_availability_nonmember" class="js-Modal c-Link_Txt-icon-front"><span class="c-Icon_Zoom-in-l"></span>混雑予測はこちら</a>
          </div>
        </div>
      </div>

      </div>


    <div class="u-Adjust_Mt-48">
      <p><a href="<%= sitepath %>product/internet/rakuten-casa/" class="c-Link_Txt-icon-front"><span class="c-Icon_Chevron-left"></span>Rakuten Casaの詳細に戻る</a></p>
      <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップに戻る</span></a></p>
      <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a></p>
    </div>
  </div>
</div>

<%- include('/include/guide/_review') %>
<%- include('/include/guide/_inquiry') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>
  <div class="c-Breadcrumbs_Foot">
    <div class="l-System_Container">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
