<% const pagetitle = "利用明細と支払い証明書の確認方法" -%>
<% const directories = [{path:"internet/turbo/support/", label:"お客様サポート"}, {path:"internet/turbo/support/payment/", label:"請求・お支払い方法"}] -%>
<% const namespace = "support-smallcategory" -%>
<%
  const pageInfo = {
    namespace,
    ancList: [
      {
        path: '#anc01',
        name: '各明細が発行されるタイミングについて'
      },
      {
        path: '#anc02',
        name: '利用内訳の確認と各明細のダウンロード方法',
      },
      {
        path: '#anc03',
        name: '各明細の確認方法',
      }
    ],
    isUserCategory: true
  };
%>
<%-
 include('/_header', {
    pagetitle,
    directories,
    description: '楽天モバイルのホームルーターRakuten Turboをご契約中の方が、利用明細と支払い証明書をmy 楽天モバイル（アプリ・Web）で確かめる方法をご確認いただけます',
    noindex: false,
    pathname: filepath,
    isTurbo: true
  });
%>

<%- include('/include/_common-css-v2') %>
<%- include('/include/internet/turbo/support/_smallcategory-css') %>
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/internet/turbo/_prepend-body-internet') %>
  <div class="l-System">
    <%- include('/include/internet/turbo/_header', {
      pagetitle,
      directories,
      tax: false,
    }) %>

    <section class="u-Adjust_Mt-32">
      <div class="l-System_Container">
        <h1 class="c-Heading_Lv1 <%= namespace %>-Utility_Heading_Lv1"><%= pagetitle %></h1>
        <p class="u-Adjust_Mt-24">Rakuten Turboの利用明細と支払い証明書は「my 楽天モバイル」からご確認いただけます。</p>
      </div>
      <div class="l-System c-Theme-Light u-Adjust_Mt-24 <%= namespace %>-Anchor">
        <div class="l-System_Container">
          <ul class="<%= namespace %>-Anchor_Area">
            <% pageInfo.ancList.forEach(function(item) { -%>
            <li>
              <a href="<%= item.path %>" class="js-scroll c-Link_Txt-icon-front" data-auto-rat="anchor"><span class="c-Icon_Arrow-down-l"></span><%= item.name %></a>
            </li>
            <% }); -%>
          </ul>
        </div>
      </div>
    </section>

    <div class="l-System_Container">
      <section class="u-Adjust_Mt-48">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2" id="anc01">各明細が発行されるタイミングについて</h2>
        <p class="u-Adjust_Mt-16">ご利用月の翌月4日以降順次、以下のタイミングで利用明細と支払い証明書が発行されます。各明細は「my 楽天モバイル」からダウンロードが可能です。</p>
        <p class="u-Adjust_Mt-16 c-Txt_Cap">※楽天モバイルやRakuten Turboを複数回線ご契約されている場合、各明細にはそれぞれのサービスのご利用料金をまとめて表示いたします。</p>
        <p class="u-Adjust_Mt-16">
          <span class="c-Txt_Emp-01">利用月翌月4日以降</span><br>
          利用明細
        </p>
        <p class="u-Adjust_Mt-16 c-Txt_Cap">※ 楽天ポイント利用前の金額となります。</p>
        <p class="u-Adjust_Mt-16">
          <span class="c-Txt_Emp-01">利用月翌月12日頃</span><br>
          支払い証明書
        </p>
        <p class="u-Adjust_Mt-16 c-Txt_Cap">※ クレジットカード／デビットカードの場合</p>
        <p class="u-Adjust_Mt-16">
          <span class="c-Txt_Emp-01">利用月翌々月1日頃</span><br>
          支払い証明書
        </p>
        <p class="u-Adjust_Mt-16 c-Txt_Cap">※ 口座振替利用の場合</p>
        <p class="u-Adjust_Mt-16">詳細は「<a href="<%= sitepath %>internet/turbo/support/payment/flow/" class="c-Link_Txt">請求金額の確定と請求スケジュールについて</a>」をご確認ください。</p>
      </section>

      <section class="u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2" id="anc02">利用内訳の確認と各明細のダウンロード方法</h2>
        <p class="u-Adjust_Mt-16">利用内訳の確認方法と、利用明細と支払い証明書のダウンロード方法をご案内いたします。</p>
        <p class="u-Adjust_Mt-16 c-Txt_Cap">※各明細は最大で過去12カ月分をご確認いただけます。</p>
        <div class="c-Tab js-Tab u-Adjust_Mt-24">
          <ul class="c-Tab_Items" role="tablist">
            <li class="c-Tab_Item" id="tab-method-menu1" role="tab" aria-selected="true" aria-controls="tab-method-content1">Webで確認する</li>
            <li class="c-Tab_Item" id="tab-method-menu2" role="tab" aria-selected="false" aria-controls="tab-method-content2">アプリで確認する</li>
          </ul>
          <div class="c-Tab_Panel" id="tab-method-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-method-menu1">
            <ol class="c-Flow u-Adjust_Mt-24">
              <li>
                <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">1. my 楽天モバイル「利用料金」画面を開く</h3>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">※「利用料金へ進む」をタップしてログインすると、手順２の画面が表示されます。</p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">※「ログイン出来ない場合、<a href="<%= sitepath %>faq/detail/00001207/">[my 楽天モバイル]ログインできません。</a>をご参照ください。</p>
                <a href="<%= ecarepath %>dashboard#billing" data-lid_no="02" target="_blank" rel="noopener noreferrer" class="c-Btn_Secondly u-Adjust_Mt-16"><span>利用料金へ進む<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
              </li>
              <li>
                <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">2. 「利用料金」画面上部から、確認したい利用月を選択し、「利用明細を見る」をタップする</h3>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">※左右の矢印ボタンをタップすることで、表示する利用月を変更できます。</p>
                <p class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/internet/turbo/support/payment/certificate/cap-01.png" alt="2. 「利用料金」画面上部から、確認したい利用月を選択し、「利用明細を見る」をタップする" width="300" height="380" class="c-Img_Capture">
                </p>
              </li>
              <li>
                <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">3. 「利用内訳」でご利用料金の内訳を確認する</h3>
                <p class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/internet/turbo/support/payment/certificate/cap-02.png" alt="3. 「利用内訳」でご利用料金の内訳を確認する" width="300" height="472" class="c-Img_Capture">
                </p>
              </li>
              <li>
                <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">4. お支払い情報の下の「利用明細ダウンロード」より各明細をダウンロードする</h3>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">※Web版では「利用明細・支払い証明書」と表示されます</p>
                <p class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/internet/turbo/support/payment/certificate/cap-03-220608.png" alt="4. お支払い情報の下の「利用明細ダウンロード」より各明細をダウンロードする" width="300" height="362" class="c-Img_Capture">
                </p>
              </li>
            </ol>
          </div>
          <div class="c-Tab_Panel" id="tab-method-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-method-menu2">
            <p class="u-Adjust_Mt-16">※アプリが最新バージョンでない場合、一部機能が利用できなかったり、ご案内した内容や見た目が異なる場合があります。その場合は、アプリのバージョンをアップデートいただくか、Web版のmy 楽天モバイルをご利用ください</p>
            <ol class="c-Flow u-Adjust_Mt-24">
              <li>
                <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">1. my 楽天モバイルを起動する</h3>
                <div class="c-Box_App u-Adjust_Mt-16">
                  <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt="my 楽天モバイル" width="96" height="96"></div>
                  <div class="c-Box_App-txt">
                    <p class="c-Box_App-ttl">my 楽天モバイル</p>
                    <p class="u-Adjust_Mt-8">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                    <ul class="c-Box_App-link u-Adjust_Mt-16 <%= namespace %>-Layout_Contract_App-link">
                      <li class="<%= namespace %>-Layout_Contract_App-link-item">
                        <div><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank" rel="noopener noreferrer"><img src="<%= sitepath %>assets/img/internet/turbo/common/btn-googleplay.png" width="162" height="48" alt="Google Play"></a></div>
                        <div><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank" rel="noopener noreferrer"><img src="<%= sitepath %>assets/img/internet/turbo/common/btn-appstore.png" width="131" height="48" alt="Apple Store"></a></div>
                      </li>
                      <li>
                        <a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular"><span>詳細を見る</span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">2. 画面下の「利用料金」をタップする</h3>
                <p class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/internet/turbo/support/payment/certificate/cap-app-01.png" alt="2. 画面下の「利用料金」をタップする" width="621" height="116">
                </p>
              </li>
              <li>
                <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">3. 「利用料金」画面上部から、確認したい利用月を選択し、「利用明細を見る」をタップする</h3>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">※左右の矢印ボタンをタップすることで、表示する利用月を変更できます。</p>
                <p class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/internet/turbo/support/payment/certificate/cap-app-02.png" alt="3. 「利用料金」画面上部から、確認したい利用月を選択し、「利用明細を見る」をタップする" width="300" height="380" class="c-Img_Capture">
                </p>
              </li>
              <li>
                <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">4. 「利用内訳」でご利用料金の内訳を確認する</h3>
                <p class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/internet/turbo/support/payment/certificate/cap-app-03.png" alt="4. 「利用内訳」でご利用料金の内訳を確認する" width="300" height="547" class="c-Img_Capture">
                </p>
              </li>
              <li>
                <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">5. お支払い情報の下の「利用明細ダウンロード」より各明細をダウンロードする</h3>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">※Web版では「利用明細・支払い証明書」と表示されます</p>
                <p class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/internet/turbo/support/payment/certificate/cap-app-04.png" alt="5. お支払い情報の下の「利用明細ダウンロード」より各明細をダウンロードする" width="300" height="400" class="c-Img_Capture">
                </p>
              </li>
            </ol>
          </div>
        </div>
      </section>

      <section class="u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2" id="anc03">各明細の確認方法</h2>
        <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3 u-Adjust_Mt-16">利用明細</h3>
        <div class="l-Media_Grid u-Adjust_Mt-24">
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/internet/turbo/support/payment/certificate/cap-04-20230904.png" alt="利用明細" width="328" height="227" class="c-Img_Capture">
          </div>
          <div>
            <dl class="c-Dl_Origin">
              <div>
                <dt>1. 対象月の請求金額合計</dt>
                <dd>課税・非課税金額の内訳と、ポイント利用分、消費税を合算した金額です。こちらの金額は税込み表示となります。</dd>
              </div>
              <div>
                <dt>2. お支払い方法／請求番号</dt>
                <dd>ご登録済みのお支払い方法と請求番号をご確認いただけます。</dd>
              </div>
              <div>
                <dt>3. 契約回線に紐づくご利用料金</dt>
                <dd>
                  利用した回線に紐づく利用料金です。 以下の項目が記載されています。<br>
                  <ul>
                    <li>・プラン料金</li>
                    <li>・ユニバーサルサービス料</li>
                    <li>・電話リレーサービス料</li>
                  </ul>
                </dd>
              </div>
            </dl>
          </div>
        </div>
        <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3 u-Adjust_Mt-40">支払い証明書</h3>
        <div class="l-Media_Grid-reverse u-Adjust_Mt-24">
          <div>
            <p class="u-Adjust_Mt-16">お支払い完了後に、領収書の代わりとなる支払い証明書をご確認いただけます。</p>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">※製品の購入に関する証明書は、「<a href="<%= sitepath %>faq/detail/00001911/" class="c-Link_Txt">端末購入証明書や製品の支払い証明書は、「my 楽天モバイル」で確認やダウンロードができますか？</a>」をご確認ください。</p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap">※支払い証明書の表示期間は12カ月です。</p>
          </div>
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/internet/turbo/support/payment/certificate/cap-05.png" alt="支払い証明書" width="328" height="295" class="c-Img_Capture">
          </div>
        </div>
      </section>
    </div>

    <section class="u-Adjust_Pt-80">
      <div class="<%= namespace %>-Layout_Category">
        <div class="l-System_Container">
          <%- include('/include/internet/turbo/support/_smallcategory-category', { pageInfo }) %>
        </div>
      </div>
    </section>

    <div class="u-Adjust_Mt-24">
      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
      <%- include('/include/internet/turbo/_footer', { directories, pagetitle }) %>
    </div>
  </div>

  <%- include('/include/_common-js') %>
  <%- include('/include/internet/turbo/support/_smallcategory-js') %>
  <%- include('/include/_append-body') %>
  <%- include('/include/internet/turbo/_rex-survey') %>

</body>

</html>
