<% const pagetitle = "プライバシーポリシー" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/policy/policy.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>
<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>


<div class="l-System_Container">
  <div class="policy-Layout">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-40">1.個人情報の適切な管理について</h2>
    <p class="u-Adjust_Mt-24">
      楽天モバイル株式会社（以下、「当社」といいます。）は、「楽天モバイル」の各種サービスをご利用いただくにあたって取得するお客さまの氏名、住所等の個人情報を、個人情報の保護に関する法律の規定および通信の秘密に係る電気通信事業法第4条その他の関連規定を遵守して取り扱うことといたします。
    </p>


    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">2.個人情報の収集について</h2>
    <p class="u-Adjust_Mt-24">
      当社は、「楽天モバイル」の各種サービスの提供にあたり、主に以下のような、お客様に関する情報を取得します。なお、以下は例示であり、また、情報の具体的内容によっては個人情報に該当しない場合もあります。
    </p>

    <h3 class="c-Heading_Lv4 u-Adjust_Mt-24">（1）お客様から提供される情報</h3>
    <p class="u-Adjust_Mt-24">
      氏名（フリガナを含む）、住所、電話番号（携帯電話・FAXを含む）、電子メールアドレス、携帯メールアドレス、会社名・団体名、部署名・役職、勤務先所在地、その他連絡先に関する情報、ニックネーム、生年月日、性別、クレジットカード情報など、お客様から当社に提供される一切の情報
    </p>

    <h3 class="c-Heading_Lv4 u-Adjust_Mt-24">（2）サービスの利用に関連して取得される情報</h3>
    <p class="u-Adjust_Mt-24">
      お客様が当社の商品またはサービスの予約・入札・購入、プレゼント応募、その他の取引を申し込まれた場合の、お客様を識別できる情報と紐づいた状態での取引履歴に関する情報
    </p>
    <ul class="c-List_Cap u-Adjust_Mt-16">
      <li><span>※</span>当社からのメールマガジンなどの購読に関する情報</li>
      <li><span>※</span>楽天ポイントの獲得に関する情報</li>
    </ul>
    <p class="u-Adjust_Mt-16">
      電話や電子メールその他の手段により、アンケートキャンペーンに参加する、掲示板を利用する、またはサービスを評価するなどを行った場合の、その発言または記載内容に関する情報
    </p>

    <h3 class="c-Heading_Lv4 u-Adjust_Mt-24">（3）アクセスしたことを契機として機械的に取得される情報</h3>
    <p class="u-Adjust_Mt-16">
      お客様のコンピューターがインターネットに接続するときに使用されるIPアドレス、携帯端末の機体識別に関する情報及びお客様がCookie等（ウェブビーコン、UID、その他の技術を含み、以下単に「Cookie等」といいます。）を有効にしている場合、Cookie等を通じた情報<br>
      当社は、情報通信端末およびCookie等から以下のような情報を取得しますが、当該情報は、お客様がお客様のアカウントでログインした場合にのみ、お客様の個人情報として保管されます。
    </p>
    <ul class="c-List_Text-disc u-Adjust_Mt-16">
      <li>端末ID等の情報通信端末の機体識別に関する情報</li>
      <li>情報通信端末のOS情報、インターネットへの接続に関する情報</li>
      <li>位置情報</li>
      <li>リファラ</li>
      <li>IPアドレス</li>
      <li>閲覧したURLおよび閲覧した日時に関するタイムスタンプ</li>
      <li>上記以外のサーバログ情報</li>
      <li>表示もしくは検索された商品またはサービス等に関する情報</li>
    </ul>
    <p class="u-Adjust_Mt-16">
      また、Cookie等についての詳細および行動ターゲティング広告の設定は、別途定める「Cookieポリシー」をご確認ください。
    </p>


    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">3.個人情報の利用目的</h2>
    <ul class="c-List_Note-wide u-Adjust_Mt-16">
      <li><span>(1)</span>当社の役務の請求・通知・停止・解除・購入・商品の配送・役務の提供・代金決済・お客さまからのお問い合わせへの対応・業務委託先からお客さまへのお問い合わせ・関連するアフターサービス・その他取引遂行にあたって必要な業務</li>
      <li><span>(2)</span> 楽天モバイルカスタマーセンターへのお問い合わせ内容の確認やオペレーターの品質の維持、向上、評価等、サービス向上のため、当サービスが定める業務の遂行上必要な範囲内における通話の録音及び利用</li>
      <li><span>(3)</span> 当社または業務取引先の広告宣伝及びマーケティング</li>
      <li><span>(4)</span>お客さま向け各種メールマガジンなどの情報提供</li>
      <li><span>(5)</span>サービスについての電子メール、郵便、電話などによる情報提供</li>
      <li><span>(6)</span>お客さまがご覧になるコンテンツや広告を、お客さまの性別、年齢、居住地、趣味・嗜好など個人の属性または購入履歴、ウェブサイトの閲覧履歴、IPアドレス等のアクセスログなどによりパーソナライズするため</li>
      <li><span>(7)</span>お客さまによるサービスの利用を分析し、新規サービスの開発や既存サービスの改善をするため</li>
      <li><span>(8)</span>アンケート、キャンペーン、掲示板などの意見・情報の交換、日記等のサービスに関連して、お客さまと連絡をとること</li>
      <li><span>(9)</span>楽天ポイントの獲得・付与・使用に関する情報を、楽天ポイント等のポイントプログラムの運営等のため</li>
      <li><span>(10)</span>当社が提供する電気通信サービス等にける申込受付時の加入審査に活用するため</li>
    </ul>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">4.個人情報の第三者提供</h2>
    <p class="u-Adjust_Mt-16">A. 当社は、下記の通りお客さまの個人情報を、楽天株式会社及び楽天コミュニケーションズ株式会社に対して提供いたします。</p>
    <ul class="c-List_Note-wide u-Adjust_Mt-16">
      <li><span>(1)</span>提供される個人情報は、「2.個人情報の収集について」における「（1）お客様から提供される情報」、「（2）サービスの利用に関連して取得される情報」及び「(3) アクセスしたことを契機として機械的に取得される情報」です。</li>
      <li><span>(2)</span>当社から楽天株式会社及び楽天コミュニケーションズ株式会社に提供される個人情報の利用目的は以下の通りです。
        <ul class="c-List_Cap u-Adjust_Mt-16">
          <li><span>※</span>楽天モバイルの各種サービスの提供及び楽天会員・楽天ポイントの運営並びに楽天株式会社及び楽天コミュニケーションズ株式会社の運営するサービスの提供、広告宣伝、マーケティング、営業行為</li>
          <li><span>※</span>上記の他これらに付随する業務の履行</li>
        </ul>
        <p class="u-Adjust_Mt-16">個人情報は、書面または電子媒体を用いて楽天株式会社及び楽天コミュニケーションズ株式会社に提供します。</p>
      </li>
      <li><span>(3)</span>当社から楽天株式会社及び楽天コミュニケーションズ株式会社に提供された個人情報につきましては、楽天株式会社及び楽天コミュニケーションズ株式会社が定める個人情報保護方針が適用されます。</li>
    </ul>

    <p class="u-Adjust_Mt-16">B. 当社は、契約終了後においても料金等の未払いがあるお客さま並びに偽造あるいは改ざんされた証明書を利用した契約者申込者の個人情報（以下「不払い者等情報」）を、携帯電話、PHS、BWAサービスを提供する事業者間で交換いたします。</p>
    <ul class="c-List_Note-wide u-Adjust_Mt-16">
      <li><span>(1)</span>交換する個人情報は、氏名・住所・郵便番号・生年月日・性別・電話番号・料金未払いの状況・偽造または改ざんされた証明書に記載されている情報（氏名・住所・生年月日・性別等）です。</li>
      <li><span>(2)</span>交換する事業者の範囲は、以下のとおりです。
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>株式会社NTTドコモ</li>
          <li>KDDI株式会社</li>
          <li>ソフトバンク株式会社</li>
          <li>株式会社ラネット</li>
          <li>UQコミュニケーションズ株式会社</li>
          <li>株式会社ケイ・オプティコム</li>
          <li>ニフティ株式会社</li>
          <li>トーンモバイル株式会社</li>
          <li>ビッグローブ株式会社</li>
          <li>BTV株式会社</li>
        </ul>
      </li>
      <li><span>(3)</span>交換の目的は、不払い者等情報を事業者間で交換し、その情報を契約申込受付時の加入審査に活用することにより、料金等の未払いの再発並びに不正契約の発生を防止するためです。</li>
      <li><span>(4)</span>不払い者等情報は、暗号化後、ファイルストレージを介して、事業者間で交換します。</li>
      <li><span>(5)</span>不払い者等情報の取扱いについては、一般社団法人テレコムサービス協会が定める規約等に従い運用を行います。</li>
      <li><span>(6)</span>交換される不払い者等情報の管理について責任を有する者は、楽天モバイル株式会社です。</li>
    </ul>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">5.個人情報の預託</h2>
    <p class="u-Adjust_Mt-24">
      当社では、業務の全部または一部を外部に委託する際に、委託先に個人情報を預託する場合があります。この場合、当社が定める委託先選定基準に則り確実に安全対策等を実施している委託先のみを選定するとともに、委託先に対し適切に管理・監督を行います。
    </p>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">6.クレジットカード情報の取扱いについて</h2>
    <p class="u-Adjust_Mt-24">当社がクレジットカード情報を取得するその利用目的、ならびにクレジットカード情報の提供先は以下のとおりです。</p>
    <p class="u-Adjust_Mt-16">株式会社日本カードネットワーク又はGMO ペイメントゲートウェイ株式会社（旧FREETEL SIM）</p>
    <p>利用目的：提供するサービスの代金を決済するため</p>
    <p>保存期間：法令等の規定に基づき、当社サービスの利用契約解除後７年間</p>


    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">7.個人情報の開示、訂正等</h2>
    <p class="u-Adjust_Mt-24">
      当社が保有する個人情報について開示、訂正等（訂正、追加、もしくは削除または利用の停止もしくは第三者への提供の停止をいいます。）のお申し出があった場合は、お客さま本人からの請求であることを確認させていただいたうえで、すみやかに開示、訂正等を行います。ただし、以下の事由により開示、訂正等を行わない場合があります。その場合は、開示、訂正等を行わない旨を通知いたします。
    </p>
    <ul class="c-List_Note u-Adjust_Mt-16">
      <li><span>(1)</span>お客さま本人または第三者の生命、身体、財産その他の権利利益を害するおそれがある場合</li>
      <li><span>(2)</span>当社の業務の適正な実施に著しい支障を及ぼすおそれがある場合</li>
      <li><span>(3)</span>他の法令の規定により特別の手続が定められている場合</li>
    </ul>
    <p class="u-Adjust_Mt-16">
      個人情報の保有期間について<br>
      当社が保有する個人情報の保有期間は、個人情報の利用目的達成に必要な範囲内とし、その期間は法令等の規定に基づき、当社のサービス利用契約解除後７年間とします。なお、保有期間が終了した個人情報は、適切な方法により消去いたします。
    </p>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">8.16歳未満のお客さまへのお願い</h2>
    <p class="u-Adjust_Mt-24">
      16歳未満のお客さまが個人情報を当社にご提供される場合は、保護者の方の同意のもとにご提供くださるようお願いいたします。
    </p>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">9.個人情報を提供されることの任意性について</h2>
    <p class="u-Adjust_Mt-24">
      お客さまの個人情報を当社に提供されるかは、お客さまの任意によるものです。ただし、ご希望されるサービスを提供する上で必要な個人情報を提供されない場合は、適切な状態でサービスを提供できないことがありますので、予めご了承ください。
    </p>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">10.個人情報に関する問合せ窓口</h2>
    <p class="u-Adjust_Mt-24">
      当社が保有する個人情報に関するお問い合わせ、または個人情報の開示、訂正等のお申し出については、下記の窓口までご連絡ください。
    </p>
    <p class="u-Adjust_Mt-16">
      楽天モバイルカスタマーセンター　TEL：050-5212-6913<br>
      9：00～18：00（年中無休）
    </p>
    <ul class="c-List_Cap u-Adjust_Mt-16">
      <li><span>※</span>Viberアプリからの発信は無料です。</li>
      <li><span>※</span>Viberアプリを利用せずに発信されると、ご契約内容に応じた通常の通話料が発生します。</li>
      <li><span>※</span>Viberアプリのダウンロードおよび詳細はこちら</li>
    </ul>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">11.通話の録音について</h2>
    <p class="u-Adjust_Mt-24">
      お客さまからのお問い合わせやお申し込み等に際して、内容を正確に把握するため通話を録音させていただく場合があります。
    </p>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">12.「情報管理責任者」の設置</h2>
    <p class="u-Adjust_Mt-24">
    「情報管理責任者」を専任で設置すると共に、その役割を明確にし、情報管理責任者が適切に個人情報管理に関する活動を行えるように社内統制をして参ります。
    </p>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">13.「楽天モバイル」ウェブサイトの運営について</h2>
    <p class="u-Adjust_Mt-24">
      「楽天モバイル」ウェブサイト（以下、本ウェブサイト）は、楽天モバイルの各種サービスの情報を提供することを目的として運営しております。お客さまが本ウェブサイトをご利用になる場合、サービスのお申し込み、お問い合わせ、アンケート等、一部のページでお客さまの個人情報をお伺いする場合がございますが、あくまでお客さまが任意に選択可能なものとなっております。なお、サービスのお申し込みに関しては、当社がサービス提供に必要なお客さまの個人情報のご提供が必須となっております。<br>
      本ウェブサイトサイトでは、Cookie等を使用することがあります。Cookie等を利用して取得した情報は、本プライバシーポリシーに基づいてお取り扱いいたします。Cookie等に関するより詳細な情報及びCookie等による情報取得のオプトアウトにつきましては、楽天株式会社個人情報保護方針に付随する<a href="https://grp12.ias.rakuten.co.jp/optout/" target="_blank">楽天モバイル株式会社行動ターゲティング広告の説明とその無効化について<span class="c-Icon_New-window-l"></span></a>をご覧ください。<br>
      本ウェブサイトのご利用は、お客さまの責任において行われるものとします。本ウェブサイト及び本ウェブサイトにリンクが設定されている他のウェブサイトから取得された各種情報の利用によって生じた損害に関して、当社は原則として責任を負いません。
    </p>

    <p class="u-Adjust_Align-right u-Adjust_Mt-24">以上</p>


  </div>
</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>


