<div id="js-faq" class="l-System_Container" aria-hidden="true">
  <h2 class="c-Heading_Lv2 u-Adjust_Mt-24">はじめに、こちらをご確認ください。</h2>
  <div id="js-faq1" class="u-Adjust_Mt-32" aria-hidden="true">
    <p class="u-Adjust_Mt-16">
      異なった楽天IDとパスワードを入力した場合、正常に動作しない場合があります。
      今一度以下をご確認ください。
    </p>
    <ul class="c-List_Text-disc u-Adjust_Mt-8">
      <li>my 楽天モバイルへのログインの際に使用した楽天IDとパスワードを入力されているか</li>
      <li>入力欄に半角スペースが入っていないか</li>
      <li>楽天回線対応製品をご利用されているか</li>
      <li>楽天回線またはパートナー回線に接続されているか</li>
    </ul>
    <p class="u-Adjust_Mt-16">
      詳細については、<a href="https://ichiba.faq.rakuten.net/detail/000006620" target="_blank" class="c-Link_Txt-inline" rel="noopener">こちら<span class="c-Icon_New-window-l"></span></a>をご確認ください。
    </p>
  </div>
  <div id="js-faq2" class="u-Adjust_Mt-32" aria-hidden="true">
    <p class="u-Adjust_Mt-16">
      エラーメッセージが表示される場合、今一度以下をご確認ください。
    </p>
    <ul class="c-List_Text-disc u-Adjust_Mt-8">
      <li>楽天回線対応製品をご利用されていないか</li>
      <li>Wi-Fiをご利用の場合は接続を切断し、楽天回線またはパートナー回線のみに接続されているか</li>
      <li>ご契約時の楽天IDでログインされていないか</li>
      <li>ご契約のSIMカードに紐づく電話番号をご入力されているか</li>
    </ul>
    <p class="u-Adjust_Mt-16">
      楽天ログイン画面での詳細については、<a href="https://ichiba.faq.rakuten.net/detail/000006620" target="_blank" class="c-Link_Txt-inline" rel="noopener">こちら<span class="c-Icon_New-window-l"></span></a>をご確認ください。
    </p>
  </div>
  <div id="js-faq3" class="u-Adjust_Mt-32" aria-hidden="true">
    <p class="u-Adjust_Mt-16">
      Wi-Fiをご利用の場合は接続を切断し、良好なLTE通信環境下のもと、再度ログインをお試しいただくようお願いいたします。
    </p>
  </div>
  <div id="js-faq4" class="u-Adjust_Mt-32" aria-hidden="true">
    <p class="u-Adjust_Mt-16">
      近接センサーが影響を及ぼしている可能性がございます。<br>
      設定については各端末のメーカーにご確認ください。
    </p>
    <p class="c-Txt_Cap u-Adjust_Mt-16">
      ※近接センサーとは通話中に端末を顔に近づけたままにしていることを検出して画面をオフにし、電力消費を抑える機能のことです。
    </p>
  </div>
  <div id="js-faq5" class="u-Adjust_Mt-32" aria-hidden="true">
    <p class="u-Adjust_Mt-16">
      お相手様の設定、もしくは電波の悪い場所にいらっしゃる場合、音声ガイダンスが流れることがございます。
    </p>
  </div>
  <div id="js-faq6" class="u-Adjust_Mt-32" aria-hidden="true">
    <p class="u-Adjust_Mt-16">
      楽天回線、もしくはパートナー回線に接続していない場合、非通知での発信となります。<br>
      Wi-Fiをオフにし、いずれかの回線で良好な通信環境下のもとご利用をお願いいたします。<br>
      詳細については、<a href="<%= sitepath %>faq/detail/00001428/" target="_blank" class="c-Link_Txt-inline" rel="noopener">こちら<span class="c-Icon_New-window-l"></span></a>をご確認ください。
    </p>
  </div>
  <div id="js-faq7" class="u-Adjust_Mt-32" aria-hidden="true">
    <p class="u-Adjust_Mt-16">
      Rakuten Link内で設定していただいた着信音は一度ログアウトをすると既定の着信音に戻る仕組みです。
      再度ログインの上、設定をお願いいたします。<br>
      また、着信音の設定方法に関しては<a href="<%= sitepath %>faq/detail/00001627/" target="_blank" class="c-Link_Txt-inline" rel="noopener">こちら<span class="c-Icon_New-window-l"></span></a>をご確認ください。
    </p>
  </div>
  <div id="js-faq8" class="u-Adjust_Mt-32" aria-hidden="true">
    <p class="u-Adjust_Mt-16">
      通話料金が発生している場合は下記2つに該当することが考えられます。
    </p>
    <ul class="c-List_Text-disc u-Adjust_Mt-8">
      <li>当社が指定する電話番号へ発信をされた場合</li>
      <li>OS標準の電話アプリで発信をされた場合（OS標準の通話履歴やWEBサイト上の電話番号など）</li>
    </ul>
    <p class="u-Adjust_Mt-16">
      詳細については、<a href="<%= sitepath %>faq/detail/00001823/" target="_blank" class="c-Link_Txt-inline" rel="noopener">こちら<span class="c-Icon_New-window-l"></span></a>をご確認ください。
    </p>
  </div>
  <div id="js-faq9" class="u-Adjust_Mt-32" aria-hidden="true">
    <p class="u-Adjust_Mt-16">
      Rakuten Linkでは企業からのメッセージを受け取ることができない仕組みとなっております。<br>
      標準メッセージアプリで受信されているかをご確認ください。
    </p>
    <p class="u-Adjust_Mt-16">
      詳細については、<a href="<%= sitepath %>faq/detail/00001362/" target="_blank" class="c-Link_Txt-inline" rel="noopener">こちら<span class="c-Icon_New-window-l"></span></a>をご確認ください。
    </p>
  </div>
  <div id="js-faq10" class="u-Adjust_Mt-32" aria-hidden="true">
    <p class="u-Adjust_Mt-16">
      楽天IDやGoogleアカウント・iCloudのアカウントをご家族や知人と共用した場合には、連絡先が同期されます。
    </p>
    <p class="u-Adjust_Mt-16">
      同期に関する詳細については、<a href="<%= sitepath %>faq/detail/10000271/" target="_blank" class="c-Link_Txt-inline" rel="noopener">こちら<span class="c-Icon_New-window-l"></span></a>をご確認ください。
    </p>
  </div>
  <div id="js-faq11" class="u-Adjust_Mt-32" aria-hidden="true">
    <p class="u-Adjust_Mt-16">
      各ゲームのお問い合わせ窓口までご連絡いただくようお願いいたします。
    </p>
  </div>
  <div id="js-faq12" class="u-Adjust_Mt-32" aria-hidden="true">
    <p class="u-Adjust_Mt-16">
      iOS版Rakuten Linkでは下記挙動が仕様となっております。<a href="<%= sitepath %>information/news/service/647/" target="_blank" class="c-Link_Txt-inline" rel="noopener">こちら</a>からお客様の事象が該当するかご確認ください。
    </p>
  </div>
  <div id="js-faq13" class="u-Adjust_Mt-32" aria-hidden="true">
    <p class="u-Adjust_Mt-16">
      楽メールのご利用にはmy 楽天モバイルでの初期設定が必要です。<br>
      詳細については、<a href="<%= sitepath %>guide/rakumail/initial-setting/" target="_blank" class="c-Link_Txt-inline" rel="noopener">こちら</a>をご確認ください。
    </p>
  </div>
  <div id="js-faq14" class="u-Adjust_Mt-32" aria-hidden="true">
    <p class="u-Adjust_Mt-16">
      メールアドレスの変更はmy 楽天モバイルの楽メール画面より可能です。なおメールアドレスの変更可能回数には制限を設けております。詳細については、<a href="<%= sitepath %>guide/rakumail/setting/" target="_blank" class="c-Link_Txt-inline" rel="noopener">こちら</a>をご確認ください。
    </p>
  </div>
  <div id="js-faq15" class="u-Adjust_Mt-32" aria-hidden="true">
    <p class="u-Adjust_Mt-16">
      メールを送信できない場合以下の条件に当てはまる可能性がございます。
    </p>
    <ul class="c-List_Text-disc u-Adjust_Mt-8">
      <li>送られたメールアドレスが存在しない、あるいは無効のアドレスの場合</li>
      <li>送信先のメールアドレスに迷惑メールの受信拒否を設定されている場合</li>
      <li>送信メールの容量が大きすぎる場合</li>
    </ul>
    <p class="u-Adjust_Mt-16">
      送信メールの容量については、<a href="<%= sitepath %>faq/detail/10000306/" target="_blank" class="c-Link_Txt-inline" rel="noopener">こちら</a>をご確認ください。
    </p>
  </div>
  <div id="js-faq16" class="u-Adjust_Mt-32" aria-hidden="true">
    <p class="u-Adjust_Mt-16">
      メールを受信できない場合以下の条件に当てはまる可能性がございます。
    </p>
    <ul class="c-List_Text-disc u-Adjust_Mt-8">
      <li>迷惑メールフィルターの設定をされている場合</li>
      <li>受信メールの容量が大きすぎる場合</li>
      <li>保存データ容量または格納可能なメール件数の上限に達した場合</li>
    </ul>
    <p class="u-Adjust_Mt-16">
      受信容量については、<a href="<%= sitepath %>faq/detail/10000306/" target="_blank" class="c-Link_Txt-inline" rel="noopener">こちら</a>をご確認ください。
    </p>
  </div>
  <div id="js-faq17" class="u-Adjust_Mt-32" aria-hidden="true">
    <p class="u-Adjust_Mt-16">
      迷惑メールフィルター設定の「拒否リスト」に追加することで、特定のメールアドレスのみを拒否するように設定できます。<br>
      詳細については、<a href="<%= sitepath %>guide/rakumail/filter/" target="_blank" class="c-Link_Txt-inline" rel="noopener">こちら</a>をご確認ください。
    </p>
  </div>
  <div id="js-faq18" class="u-Adjust_Mt-32" aria-hidden="true">
    <p class="u-Adjust_Mt-16">
      Linkアプリ内でメール通知が無効になっていないかご確認ください。<br>
      操作方法の詳細については、<a href="<%= sitepath %>faq/detail/10000307/" target="_blank" class="c-Link_Txt-inline" rel="noopener">こちら</a>をご確認ください。
    </p>
  </div>
  <div id="js-faqA" class="u-Adjust_Mt-32" aria-hidden="true">
    <p class="u-Adjust_Mt-16">
      Rakuten Link をご利用でない相手との通話・SMS の際は、Rakuten Link デスクトップ版がログイン元スマートフォンと同一の Rakuten Link アカウントでログインの上、パソコンがそのスマートフォンとテザリングをしている、または同じ Wi-Fi 環境にいることが条件となります。<br>
    </p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">※一部のネットワーク環境(公衆 Wi-Fi など)では Wi-Fi 環境設定により Rakuten Link 同士以外の通話・SMSがご利用いただけない場合があります。その場合、テザリングでご利用ください。</p>
    <p class="u-Adjust_Mt-8">
      Rakuten Linkデスクトップ版アプリの通話に関しては、<a href="https://r10.to/Link137" target="_blank" class="c-Link_Txt-inline" rel="noopener">こちら<span class="c-Icon_New-window-l"></span></a>をご確認ください。
    </p>
  </div>
  <div id="js-faqB" class="u-Adjust_Mt-32" aria-hidden="true">
    <p class="u-Adjust_Mt-16">
      スマートフォンでRakuten Link iOS版アプリをご利用されている場合、デスクトップ版ではRakuten Link以外をご利用のお客様からの着信やメッセージの送受信をご利用いただくことができません。デスクトップ版ではそれらの機能につきましては、スマートフォンでRakuten Link Android版アプリをご利用されている場合のみご利用いただくことができます。
    </p>
    <p class="u-Adjust_Mt-16">
      Rakuten Link Android版アプリとiOS版アプリの機能の差については、<a href="https://r10.to/Link136" target="_blank" class="c-Link_Txt-inline" rel="noopener">こちら<span class="c-Icon_New-window-l"></span></a>をご確認ください。
    </p>
  </div>
  <div id="js-faqC" class="u-Adjust_Mt-32" aria-hidden="true">
    <p class="u-Adjust_Mt-16">
      一部のネットワーク環境（公衆 Wi-Fi など）では Wi-Fi 環境設定により Rakuten Link 同士以外の通話・SMSがご利用いただけない場合があります。その場合、テザリングでご利用ください。
    </p>
  </div>
</div>
