<% const namespace = "support-link-form" -%>

<% const ios_q2 = [
  '初期設定時の認証・ログイン',
  'アプリのインストール・アップデート',
  'アプリの起動、動作',
  '音声通話、通話履歴',
  'メッセージ',
  '連絡先',
  '留守番電話・着信転送・割込通話',
  'ニュース、ウォレット、探す、ミッション、Super Point Screen',
  'メニュー',
  '楽メール'
] -%>

<% const android_q2 = [
  '初期設定時の認証・ログイン',
  'アプリのインストール・アップデート',
  'アプリの起動、動作',
  '音声通話、通話履歴',
  'ビデオ通話',
  'メッセージ・SMS(他アプリの認証SMS等を含む)',
  '連絡先',
  '留守番電話・着信転送・割込通話',
  'ニュース、ウォレット、探す、ミッション、Super Point Screen',
  'メニュー',
  '楽メール'
] -%>

<% const desktop_q2 = [
  'iOS',
  'Android',
] -%>

<% ios_q2.forEach(function (value, key) { %>
  <li class="u-Adjust_Pt-16 js-ios" aria-hidden="true">
    <label class="c-Form_Radioblock">
      <input type="radio" name="00N2r0000021LNy" class="js-radio" data-q="q2<%= key +1 %>" value="<%= value %>">
      <span class="c-Form_Radioblock-wrap <%= namespace %>-Form_Select-radio">
        <span class="c-Form_Radio-icon"></span>
        <span class="c-Form_Radioblock-label"><%= value %></span>
      </span>
    </label>
  </li>
<% }); %>

<% android_q2.forEach(function (value, key) { %>
  <li class="u-Adjust_Pt-16 js-android" aria-hidden="true">
    <label class="c-Form_Radioblock">
      <input type="radio" name="00N2r0000021LNy" class="js-radio" data-q="q2<%= key +1 %>" value="<%= value %>">
      <span class="c-Form_Radioblock-wrap <%= namespace %>-Form_Select-radio">
        <span class="c-Form_Radio-icon"></span>
        <span class="c-Form_Radioblock-label"><%= value %></span>
      </span>
    </label>
  </li>
<% }); %>

<% desktop_q2.forEach(function (value, key) { %>
  <li class="u-Adjust_Pt-16 js-desktop" aria-hidden="true">
    <label class="c-Form_Radioblock">
      <input type="radio" name="00N2r0000021LNy" class="js-radio" data-q="q2<%= key +1 %>" value="<%= value %>">
      <span class="c-Form_Radioblock-wrap <%= namespace %>-Form_Select-radio">
        <span class="c-Form_Radio-icon"></span>
        <span class="c-Form_Radioblock-label"><%= value %></span>
      </span>
    </label>
  </li>
<% }); %>
