<% const namespace = "support-link-form" -%>

<% const ios_q4 = [
  [
    '「ログインが失敗しました。再度実行しますか？」',
    '「ユーザーIDが無効です」または 「ユーザーID、パスワードの入力に誤りがあるか登録されていません。」',
    '「ネットワーク障害が発生しました。」'
  ],
  [
    '「電話番号認証にエラーが発生しました。しばらく経ってから再度お試しください。」',
    '「無効な電話番号です。」',
    '「複数回認証に失敗したため、アカウントが一時的にロックされました。」',
    '「ログインした楽天IDでご契約された楽天モバイルの電話番号ではないため、認証に失敗しました。正しい楽天モバイルの電話番号を入力してください。」',
    '「ご利用端末が楽天回線対応製品であり、楽天回線またはパートナー回線に接続していることをご確認ください。」',
    '「Rakuten Linkアプリのご利用には楽天モバイルのお申込が必要です。」',
    '「ネットワーク障害が発生しました。」'
  ],
  [null],
  [null],[null],[null],
  [null],[null],[null],[null],[null],[null],[null],
  [
    '発信できない',
    '非通知発信になる',
    'その他'
  ],
  [
    'Rakuten Linkをお使いの方から着信できない',
    'Rakuten Link以外をお使いの方から着信できない'
  ],
  [
    '通話中にダイヤルパッドが操作できない',
    'お互いの音声が聞こえない',
    '相手もしくは自分の声が聞こえない',
    '通話が途中で終了してしまう',
    '通話中の音質が悪い・会話が途切れ途切れになる',
    'その他'
  ],
  [
    '履歴が新たに更新されない',
    'その他'
  ],
  ['アプリを利用して料金が発生した'],
  [
    'Rakuten Linkをご利用のお相手に送信できない',
    'Rakuten Linkをご利用されていないお相手に送信できない',
    '画面表示が崩れてメッセージが送れない(メッセージの入力欄が表示されない)',
    'その他'
  ],
  [
    'Rakuten Linkをご利用のお相手から受信できない',
    'Rakuten Linkをご利用されていないお相手から受信できない',
    '他アプリや企業等からの認証コードを含むSMSが受け取れない',
    '受信時の通知'
  ],
  ['アプリを利用して料金が発生した'],
  [
    'メッセージ履歴が更新されない',
    'その他'
  ],
  [
    '連絡先情報が全く同期されない',
    '連絡先情報が同期されたが不足している',
    '連絡先情報が消えた（写真や住所等も含む）',
    'その他'
  ],
  [
    '連絡先情報を追加で登録できない（写真や住所等も含む）',
    '連絡先情報が編集できない（写真や住所等も含む）',
    '連絡先情報が消えた（写真や住所等も含む）',
    'その他'
  ],
  [
    '設定をオンにしても作動しない',
    '設定をオフにしても作動する',
    '応答時間設定が反映されない',
    'その他'
  ],
  [
    '設定をオンにしても作動しない',
    '設定をオフにしても作動する',
    'その他'
  ],
  [
    '設定をオンにしても作動しない',
    '設定をオフにしても作動する',
    'その他'
  ],
  [null],[null],[null],[null],[null],
  [null],
  [
    '初期設定時に関するお問い合わせ',
    'アカウント管理・設定'
  ],
  [
    '楽メールが起動できない',
    '起動時に関するその他のお問い合わせ'
  ],
  [
    'メールを送信できない',
    '送信時に関するその他のお問い合わせ'
  ],
  [
    'メールを受信できない',
    '受信したメールを開封できない',
    '迷惑メールを拒否したい',
    'メールの通知が届かない',
    '受信時に関するその他のお問い合わせ'
  ],
  [null]
] -%>

<% const android_q4 = [
  [
    '「ログインが失敗しました。再度実行しますか？」',
    '「ユーザーIDが無効です」 または 「ユーザーID、パスワードの入力に誤りがあるか登録されていません。」',
    '「ネットワーク障害が発生しました。」'
  ],
  [
    '「電話番号認証にエラーが発生しました。しばらく経ってから再度お試しください。」',
    '「無効な電話番号です。」',
    '「複数回認証に失敗したため、アカウントが一時的にロックされました。」',
    '「ログインした楽天IDでご契約された楽天モバイルの電話番号ではないため、認証に失敗しました。正しい楽天モバイルの電話番号を入力してください。」',
    '「ご利用端末が楽天回線対応製品であり、楽天回線またはパートナー回線に接続していることをご確認ください。」',
    '「Rakuten Linkアプリのご利用には楽天モバイルのお申込が必要です。」',
    '「ネットワーク障害が発生しました。」'
  ],
  [
    '「ネットワーク障害が発生しました。」',
    'その他'
  ],
  [
    '「ネットワーク障害が発生しました。」',
    'その他'
  ],
  [null],
  [null],[null],[null],
  [null],[null],[null],[null],[null],[null],[null],[null],
  [
    '発信できない',
    '非通知発信になる',
    'その他'
  ],
  [
    'Rakuten Linkから着信できない',
    'Rakuten Link以外から着信できない',
    '着信時の通知',
    'その他'
  ],
  [
    '通話中にダイヤルパッドが操作できない',
    'お互いの音声が聞こえない',
    '相手もしくは自分の声が聞こえない',
    '通話が途中で終了してしまう',
    '通話中の音質が悪い・会話が途切れ途切れになる',
    '通話中に画面が暗くなる',
    'その他'
  ],
  [
    '履歴が新たに更新されない',
    'その他'
  ],
  ['アプリを利用して料金が発生した'],
  [null],[null],[null],[null],
  [
    'Rakuten Linkをご利用のお相手に送信できない',
    'Rakuten Linkをご利用されていないお相手に送信できない',
    '画面表示が崩れてメッセージが送れない(メッセージの入力欄が表示されない)',
    'その他'
  ],
  [
    'Rakuten Linkをご利用のお相手から受信できない',
    'Rakuten Linkをご利用されていないお相手から受信できない',
    '他アプリや企業等からの認証コードを含むSMSが受け取れない',
    '受信時の通知',
    'その他'
  ],
  ['アプリを利用して料金が発生した'],
  [
    'メッセージ履歴が更新されない',
    'その他'
  ],
  [
    '連絡先情報が全く同期されない',
    '連絡先情報が同期されたが不足している',
    '連絡先情報が消えた（写真や住所等も含む）',
    'その他'
  ],
  [
    '連絡先情報を追加で登録できない（写真や住所等も含む）',
    '連絡先情報が編集できない（写真や住所等も含む）',
    '連絡先情報が消えた（写真や住所等も含む）',
    'その他'
  ],
  [
    '設定をオンにしても作動しない',
    '設定をオフにしても作動する',
    '応答時間設定が反映されない',
    'その他'
  ],
  [
    '設定をオンにしても作動しない',
    '設定をオフにしても作動する',
    'その他'
  ],
  [
    '設定をオンにしても作動しない',
    '設定をオフにしても作動する',
    'その他'
  ],
  [null],[null],[null],[null],[null],
  [null],
  [
    '初期設定時に関するお問い合わせ',
    'アカウント管理・設定'
  ],
  [
    '楽メールが起動できない',
    '起動時に関するその他のお問い合わせ'
  ],
  [
    'メールを送信できない',
    '送信時に関するその他のお問い合わせ'
  ],
  [
    'メールを受信できない',
    '受信したメールを開封できない',
    '迷惑メールを拒否したい',
    'メールの通知が届かない',
    '受信時に関するその他のお問い合わせ'
  ],
  [null]
] -%>

<% const desktop_q4 = [
  // ios
  [null], // 初期設定時の認証・ログイン
  [null], // アプリのインストール・アップデート
  [null], // アプリの起動、動作
  // 音声通話、通話履歴
  [
    'Rakuten Linkをご利用のお相手に発信できない',
    'Rakuten Linkをご利用されていないお相手に発信できない',
    'Rakuten Linkをご利用のお相手から着信できない',
    'Rakuten Linkをご利用されていないお相手から着信できない',
    'その他',
  ],
  [null], // ビデオ通話
  // メッセージ・SMS(他アプリの認証SMS等を含む)
  [
    'Rakuten Linkをご利用のお相手にメッセージを送信できない',
    'Rakuten Linkをご利用されていないお相手にメッセージを送信できない',
    'Rakuten Linkをご利用のお相手からメッセージを受信できない',
    'Rakuten Linkをご利用されていないお相手からメッセージを受信できない',
    '他アプリや企業等からの認証コードを含むSMSが受け取れない',
    'その他',
  ],
  [null], // 連絡先
  [null], // 留守番電話・着信転送・割込通話
  [null], // その他
  // Android
  [null],// ログイン
  [null],// アプリのインストール・アップデート
  [null],// アプリの起動、動作
  // 音声通話、通話履歴
  [
    'Rakuten Linkをご利用のお相手に発信できない',
    'Rakuten Linkをご利用されていないお相手に発信できない',
    'Rakuten Linkをご利用のお相手から着信できない',
    'Rakuten Linkをご利用されていないお相手から着信できない',
    'その他',
  ],
  [null], // ビデオ通話
  // メッセージ・SMS(他アプリの認証SMS等を含む)
  [
  'Rakuten Linkをご利用のお相手にメッセージを送信できない',
  'Rakuten Linkをご利用されていないお相手にメッセージを送信できない',
  'Rakuten Linkをご利用のお相手からメッセージを受信できない',
  'Rakuten Linkをご利用されていないお相手からメッセージを受信できない',
  '他アプリや企業等からの認証コードを含むSMSが受け取れない',
  'その他',
  ],
  [null], // 連絡先
  [null], // 留守番電話・着信転送・割込通話
  [null], // その他
] -%>

<% let ios_q4Cnt = 1 %>
<% for (let i = 0; i < ios_q4.length; i++) { %>
<% ios_q4[i].forEach(function (value, key) { %>
  <li class="u-Adjust_Pt-16 js-ios" data-show="q3<%= i +1 %>" aria-hidden="true">
    <label class="c-Form_Radioblock">
      <input type="radio" name="00N2r0000021LO0" class="js-radio" data-q="q4<%= ios_q4Cnt++ %>" value="<%= value %>">
      <span class="c-Form_Radioblock-wrap <%= namespace %>-Form_Select-radio">
        <span class="c-Form_Radio-icon"></span>
        <span class="c-Form_Radioblock-label"><%= value %></span>
      </span>
    </label>
  </li>
<% }); %>
<% } %>

<% let android_q4Cnt = 1 %>
<% for (let i = 0; i < android_q4.length; i++) { %>
<% android_q4[i].forEach(function (value, key) { %>
  <li class="u-Adjust_Pt-16 js-android" data-show="q3<%= i +1 %>" aria-hidden="true">
    <label class="c-Form_Radioblock">
      <input type="radio" name="00N2r0000021LO0" class="js-radio" data-q="q4<%= android_q4Cnt++ %>" value="<%= value %>">
      <span class="c-Form_Radioblock-wrap <%= namespace %>-Form_Select-radio">
        <span class="c-Form_Radio-icon"></span>
        <span class="c-Form_Radioblock-label"><%= value %></span>
      </span>
    </label>
  </li>
<% }); %>
<% } %>

<% let desktop_q4Cnt = 1 %>
<% for (let i = 0; i < desktop_q4.length; i++) { %>
<% desktop_q4[i].forEach(function (value, key) { %>
  <li class="u-Adjust_Pt-16 js-desktop" data-show="q3<%= i +1 %>" aria-hidden="true">
    <label class="c-Form_Radioblock">
      <input type="radio" name="00N2r0000021LO0" class="js-radio" data-q="q4<%= desktop_q4Cnt++ %>" value="<%= value %>">
      <span class="c-Form_Radioblock-wrap <%= namespace %>-Form_Select-radio">
        <span class="c-Form_Radio-icon"></span>
        <span class="c-Form_Radioblock-label"><%= value %></span>
      </span>
    </label>
  </li>
<% }); %>
<% } %>
