<% const namespace = "support-link-form" -%>

<% const ios_q5 = [
  [null],[null],[null],
  [null],[null],[null],[null],[null],[null],[null],
  [null],
  [null],[null],[null],
  [null],[null],[null],[null],[null],[null],[null],
  [
    'Rakuten Linkに発信できない',
    'Rakuten Link以外に発信できない',
    'アナウンスが流れて相手に繋がらない'
  ],
  [null],[null],
  [
    '着信音(バイブレーション)が鳴らず、着信画面も出ない',
    '着信音(バイブレーション)は鳴るが、着信画面が出ない',
    '着信応答ボタンを押しても反応しない',
    '着信後すぐに留守番電話になる',
    '着信音(バイブレーション)は鳴るが、着信画面が出ない',
    'その他'
  ],
  ['着信音(バイブレーション)が鳴らず、着信画面も出ない'],
  [null],[null],[null],[null],[null],[null],
  [null],[null],[null],
  [null],[null],[null],[null],
  [null],[null],[null],
  [
    '通知音(バイブレーション)が鳴らない',
    '受信通知が届かない',
    'その他'
  ],
  [null],[null],[null],
  [null],[null],[null],[null],
  [null],[null],[null],[null],
  [null],[null],[null],[null],
  [null],[null],[null],
  [null],[null],[null],
  [null],[null],[null],[null],[null],
  [null],
  [null],
  [
    'メールアドレスが変更できない',
    'プロフィールに関するお問い合わせ',
    'アカウント管理・設定に関するその他のお問い合わせ'
  ],
  [null],[null],[null],[null],[null],[null],[null],[null],[null],[null],
] -%>

<% const android_q5 = [
  [null],[null],[null],
  [null],[null],[null],[null],[null],[null],[null],
  [null],[null],[null],[null],
  [null],
  [null],[null],[null],
  [null],[null],[null],[null],[null],[null],[null],[null],
  [
    'Rakuten Linkに発信できない',
    'Rakuten Link以外に発信できない',
    'アナウンスが流れて相手に繋がらない'
  ],
  [null],[null],
  [
    '着信音(バイブレーション)が鳴らず、着信画面も出ない',
    '着信音(バイブレーション)は鳴るが、着信画面が出ない',
    '着信応答ボタンを押しても反応しない',
    '着信後すぐに留守番電話になる',
    'その他'
  ],
  [
    '着信音(バイブレーション)が鳴らず、着信画面も出ない',
    '着信音(バイブレーション)は鳴るが、着信画面が出ない',
    '着信応答ボタンを押しても反応しない',
    '着信後すぐに留守番電話になる',
    'その他'
  ],
  [
    '不在着信が履歴に残らない',
    '着信音(バイブレーション)が鳴らない',
    '着信音(バイブレーション)は鳴るが、着信画面が出ない',
    '通話に出た後も着信音が鳴り続ける',
    '着信音が小さい',
    '着信音を変更できない',
    'その他'
  ],
  [null],
  [null],[null],[null],[null],[null],[null],[null],
  [null],[null],[null],
  [null],[null],[null],[null],
  [null],[null],[null],[null],
  [null],[null],[null],
  [
    '通知音(バイブレーション)が鳴らない',
    '通知音が小さい',
    '通知音が変更できない',
    '受信通知が届かない',
    'その他'
  ],
  [null],
  [null],[null],[null],
  [null],[null],[null],[null],
  [null],[null],[null],[null],
  [null],[null],[null],[null],
  [null],[null],[null],
  [null],[null],[null],
  [null],[null],[null],[null],[null],
  [null],
  [null],
  [
    'メールアドレスが変更できない',
    'プロフィールに関するお問い合わせ',
    'アカウント管理・設定に関するその他のお問い合わせ'
  ],
  [null],[null],[null],[null],[null],[null],[null],[null],[null],[null],
] -%>

<%_ const desktop_q5 = [
  [null], [null], [null],
  [null],
  [
    'Rakuten Link スマートフォン版と同一のアカウントでログインし同じ Wi-Fi 環境にいる',
    'Rakuten Link スマートフォン版と同一のアカウントでログインしていない、または同じ Wi-Fi 環境にいない'
  ],
  [null], [null], [null],
  [null],
  [null], [null], [null], [null], [null], [null],
  [null],
  [null],
  [null],
  [null],
  [null],
  [null],
  [null],
  [
    'Rakuten Link スマートフォン版と同一のアカウントでログインし同じ Wi-Fi 環境にいる',
    'Rakuten Link スマートフォン版と同一のアカウントでログインしていない、または同じ Wi-Fi 環境にいない'
  ],
  [null],
  [
    'Rakuten Link スマートフォン版と同一のアカウントでログインし同じ Wi-Fi 環境にいる',
    'Rakuten Link スマートフォン版と同一のアカウントでログインしていない、または同じ Wi-Fi 環境にいない'
  ],
  [null],
  [null],
  [null],
  [
    'Rakuten Link スマートフォン版と同一のアカウントでログインし同じ Wi-Fi 環境にいる',
    'Rakuten Link スマートフォン版と同一のアカウントでログインしていない、または同じ Wi-Fi 環境にいない'
  ],
  [null],
  [
    'Rakuten Link スマートフォン版と同一のアカウントでログインし同じ Wi-Fi 環境にいる',
    'Rakuten Link スマートフォン版と同一のアカウントでログインしていない、または同じ Wi-Fi 環境にいない'
  ],
  [null],
  [null],
  [null],
  [null],
  [null],
] _%>

<% let ios_q5Cnt = 1 %>
<% for (let i = 0; i < ios_q5.length; i++) { %>
<% ios_q5[i].forEach(function (value, key) { %>
  <li class="u-Adjust_Pt-16 js-ios" data-show="q4<%= i +1 %>" aria-hidden="true">
    <label class="c-Form_Radioblock">
      <input type="radio" name="00N2r0000021LO1" class="js-radio" data-q="q5<%= ios_q5Cnt++ %>" value="<%= value %>">
      <span class="c-Form_Radioblock-wrap <%= namespace %>-Form_Select-radio">
        <span class="c-Form_Radio-icon"></span>
        <span class="c-Form_Radioblock-label"><%= value %></span>
      </span>
    </label>
  </li>
<% }); %>
<% } %>

<% let android_q5Cnt = 1 %>
<% for (let i = 0; i < android_q5.length; i++) { %>
<% android_q5[i].forEach(function (value, key) { %>
  <li class="u-Adjust_Pt-16 js-android" data-show="q4<%= i +1 %>" aria-hidden="true">
    <label class="c-Form_Radioblock">
      <input type="radio" name="00N2r0000021LO1" class="js-radio" data-q="q5<%= android_q5Cnt++ %>" value="<%= value %>">
      <span class="c-Form_Radioblock-wrap <%= namespace %>-Form_Select-radio">
        <span class="c-Form_Radio-icon"></span>
        <span class="c-Form_Radioblock-label"><%= value %></span>
      </span>
    </label>
  </li>
<% }); %>
<% } %>

<% let desktop_q5Cnt = 1 %>
<% for (let i = 0; i < desktop_q5.length; i++) { %>
<% desktop_q5[i].forEach(function (value, key) { %>
  <li class="u-Adjust_Pt-16 js-desktop" data-show="q4<%= i +1 %>" aria-hidden="true">
    <label class="c-Form_Radioblock">
      <input type="radio" name="00N2r0000021LO1" class="js-radio" data-q="q5<%= desktop_q5Cnt++ %>" value="<%= value %>">
      <span class="c-Form_Radioblock-wrap <%= namespace %>-Form_Select-radio">
        <span class="c-Form_Radio-icon"></span>
        <span class="c-Form_Radioblock-label"><%= value %></span>
      </span>
    </label>
  </li>
<% }); %>
<% } %>
