<% const namespace = "support-link-form" -%>
<%_ const zeroPadding = (num, len) => {
	return ( Array(len).join('0') + num ).slice( -len );
} -%>

<% const android = [
  { // 1
    title: "Rakuten Linkアプリの再インストール／ログイン",
    text : "Rakuten Linkアプリを一度ログアウトしたのち、アプリをアンインストールして、再度アプリストアからインストールし、ご利用の楽天IDでログインしてください。<br><br>\
    解決しない場合は、お使いの製品の再起動をお試しください。",
    flow : [
      {
        title: "1. 左上のメニューにある「ログアウト」をタップします。",
        img : 2
      },
      {
        title: "2. ホーム画面に戻り、Rakuten Linkアプリを長押しし「アンインストール」をタップします。",
        img : 1
      },
      {
        title: "3. Google Playストアより「インストール」をタップします。",
        img : 1
      },
      {
        title: "4. アプリを起動後、各同意ボタンをタップしインストールを完了します。",
        img : 3
      },
      {
        title: "5. 楽天IDでログインします。",
        text: "my 楽天モバイルへのログインの際に使用したユーザIDとパスワードを入力してください。",
        cap: "※楽天会員でない場合は、「楽天会員に登録（無料）」をタップし、新規にアカウントを作成してください。",
        img : 1
      }
    ]
  },
  { // 2
    title: "OSを最新に更新／ファームウェアのバージョンアップ",
    text : "OS、ファームウェアが最新のバージョンになっていない場合は更新をしてください。",
    flow : [
      {
        title: "1. 「設定」をタップします。",
        img : 1
      },
      {
        title: "2. 「システム」をタップします。",
        img : 1
      },
      {
        title: "3. 「詳細設定」をタップします。",
        img : 1
      },
      {
        title: "4. 「システムアップデート」をタップします。",
        img : 1
      },
      {
        title: "5. お使いのシステムが最新の状態か確認します。",
        text: "OS、ファームウェアが最新のバージョンになっていない場合は更新をしてください。",
        img : 1
      }
    ]
  },
  { // 3
    title: "機内モードのON／OFF",
    text : "「設定」から、機内モードを一度ONにしてからOFFにしてください。",
  },
  { // 4
    title: "SIMカードの抜き差し",
    text : "一度Rakuten Linkアプリからログアウトし、本体の電源を切った後、SIMカードを抜いて再度差し込んでください。 また、SIMカードがご契約者ご本人のものかご確認ください。",
  },
  // {
  //   title: "ご契約情報のご確認",
  //   text : "my 楽天モバイルへログインをされる前に、ユーザID、電話番号などがご契約時のものかどうか、 また、ユーザID 、パスワードを入力時に半角スペースなどが入っていないかご確認ください。<br>\
  //   <a href=\"/guide/my-rakuten-mobile/\" target=\"_blank\" class=\"c-Link_Txt-inline\">ご契約情報に関しては、こちらのmy 楽天モバイルにてご確認ください。<span class=\"c-Icon_New-window-l\"></span></a><br>\
  //   <a href=\"/faq/detail/00001207/\" target=\"_blank\" class=\"c-Link_Txt-inline\">ユーザID、パスワードの再設定に関しては、こちらをご確認ください。<span class=\"c-Icon_New-window-l\"></span></a>",
  // },
  // {
  //   title: "Rakuten Linkアプリのキャッシュ削除、ストレージ消去",
  //   text : "Rakuten Linkアプリのキャッシュを削除してください。それでも改善されない場合は、ストレージを消去してください。",
  //   flow : [
  //     {
  //       title: "1. 「設定」をタップします。",
  //       img : 1
  //     },
  //     {
  //       title: "2. 「アプリと通知」をタップします。",
  //       img : 1
  //     },
  //     {
  //       title: "3. 「詳細設定」をタップします。",
  //       img : 1
  //     },
  //     {
  //       title: "4. 「Link」をタップします。",
  //       img : 1
  //     },
  //     {
  //       title: "5. 「ストレージとキャッシュ」をタップします。",
  //       img : 1
  //     },
  //     {
  //       title: "6.「キャッシュを削除」をタップします。",
  //       text: "「①キャッシュを削除」をタップしてキャッシュを削除します。①を試しても改善されない場合は、「②ストレージを消去」をタップしてください。",
  //       img : 1
  //     },
  //   ]
  // },
  { // 5
    title: "アプリ内の通知すべてON",
    text : "Rakuten Linkアプリの通知をすべてONにしてください。",
    flow : [
      {
        title: "1. 「設定」をタップします。",
        img : 1
      },
      {
        title: "2. 「アプリと通知」をタップします。",
        img : 1
      },
      {
        title: "3. 「●個のアプリをすべて表示」をタップします。",
        img : 1
      },
      {
        title: "4. 「Link」をタップします。",
        img : 1
      },
      {
        title: "5. 「通知」をタップします。",
        img : 1
      },
      {
        title: "6.「Linkのすべての通知」をONにします。",
        img : 1
      },
    ]
  },
  { // 6
    title: "サイレントモードを解除",
    text : "「設定」から、サイレントモード（DNDモード、おやすみモード、スリープモード）をOFFにしてください。",
    flow : [
      {
        title: "1. 「設定」をタップします。",
        img : 1
      },
      {
        title: "2. 「音」をタップします。",
        img : 1
      },
      {
        title: "3. 「サイレントモード」をタップします。",
        img : 1
      },
      {
        title: "4. 「今すぐOFFにする」をタップします。",
        img : 1
      }
    ]
  },
  // {
  //   title: "メッセージの着信拒否を確認",
  //   text : "メッセージの着信拒否設定がされているかご確認ください。",
  //   flow : [
  //     {
  //       title: "1. 「メッセージ」アプリをタップします。",
  //       img : 1
  //     },
  //     {
  //       title: "2. 右上のメニューをタップします。",
  //       img : 1
  //     },
  //     {
  //       title: "3. 「スパム/ブロック中」をタップします。",
  //       cap: "※メーカーやシステム環境により、名称が「着信拒否」等の場合があります。",
  //       img : 1
  //     },
  //     {
  //       title: "4. 着信拒否（スパム/ブロック中）されていないか確認します。",
  //       cap: "※着信拒否（スパム/ブロック中）を解除したい場合は、ユーザー名をタップして解除することができます。",
  //       img : 1
  //     }
  //   ]
  // },
  // {
  //   title: "Google アシスタントをOFF",
  //   text : "Google アシスタントがONになっている場合にはOFFにしてください。",
  //   flow : [
  //     {
  //       title: "1. 「設定」をタップします。",
  //       img : 1
  //     },
  //     {
  //       title: "2. 「Google」をタップします。",
  //       img : 1
  //     },
  //     {
  //       title: "3. 「Googleアプリの設定」をタップします。",
  //       cap: "※メーカーやシステム環境により、名称が「着信拒否」等の場合があります。",
  //       img : 1
  //     },
  //     {
  //       title: "4. 「検索、アシスタントと音声」をタップします。",
  //       img : 1
  //     },
  //     {
  //       title: "5. 「Google アシスタント」をタップします。",
  //       img : 1
  //     },
  //     {
  //       title: "6. 「アシスタント」をタップします。",
  //       img : 1
  //     },
  //     {
  //       title: "7. 「スマートフォン」をタップします。",
  //       img : 1
  //     },
  //     {
  //       title: "8. 「Google アシスタント」をOFFにします。",
  //       img : 1
  //     }
  //   ]
  // },
  // {
  //   title: "GboardをOFF",
  //   text : "GboardがONになっている場合には、OFFにしてご使用ください。",
  //   flow : [
  //     {
  //       title: "1. 「設定」をタップします。",
  //       img : 1
  //     },
  //     {
  //       title: "2. 「設定を検索」で「Gboard」を検索します。",
  //       img : 1
  //     },
  //     {
  //       title: "3. 「Gboard」をタップします。",
  //       img : 1
  //     },
  //     {
  //       title: "4. 「無効にする」をタップします。",
  //       img : 1
  //     }
  //   ]
  // },
] -%>


<% const ios = [
  { // 1
    title: "Rakuten Linkアプリの再インストール／ログイン",
    text : "Rakuten Linkアプリを一度ログアウトしたのち、アプリをアンインストールして、再度アプリストアからインストールし、ご利用の楽天IDでログインしてください。<br><br>\
    解決しない場合は、お使いの製品の再起動をお試しください。",
    flow : [
      {
        title: "1. 左上のメニューにある「ログアウト」をタップします。",
        img : 2
      },
      {
        title: "2. ホーム画面に戻り、Rakuten Linkアプリを長押しし「Appを削除」をタップします。",
        img : 1
      },
      {
        title: "3. App Storeより再度インストールします。",
        img : 1
      },
      {
        title: "4. アプリを起動後、各同意ボタンをタップしインストールを完了します。",
        img : 3
      },
      {
        title: "5. 楽天IDでログインします。",
        text: "my 楽天モバイルへのログインの際に使用したユーザIDとパスワードを入力してください。",
        cap: "※楽天会員でない場合は、「楽天会員に登録（無料）」をタップし、新規にアカウントを作成してください。",
        img : 1
      },
      {
        title: "6. 電話番号を入力して認証します。",
        img : 1
      }
    ]
  },
  { // 2
    title: "OSを最新に更新／ファームウェアのバージョンアップ",
    text : "OS、ファームウェアが最新のバージョンになっていない場合は更新をしてください。",
    flow : [
      {
        title: "1. 「設定」をタップします。",
        img : 1
      },
      {
        title: "2. 「一般」をタップします。",
        img : 1
      },
      {
        title: "3. 「ソフトウェア・アップデート」をタップします。",
        img : 1
      },
      {
        title: "4. お使いのシステムが最新の状態か確認します。",
        text: "OS、ファームウェアが最新のバージョンになっていない場合は更新をしてください。",
        img : 1
      },
    ]
  },
  { // 3
    title: "機内モードのON／OFF",
    text : "「設定」から、機内モードを一度ONにしてからOFFにしてください。",
  },
  { // 4
    title: "SIMカードの抜き差し",
    text : "一度Rakuten Linkアプリからログアウトし、本体の電源を切った後、SIMカードを抜いて再度差し込んでください。 また、SIMカードがご契約者ご本人のものかご確認ください。",
  },
  // {
  //   title: "ご契約情報のご確認",
  //   text : "my 楽天モバイルへログインをされる前に、ユーザID、電話番号などがご契約時のものかどうか、 また、ユーザID 、パスワードを入力時に半角スペースなどが入っていないかご確認ください。<br>\
  //   <a href=\"/guide/my-rakuten-mobile/\" target=\"_blank\" class=\"c-Link_Txt-inline\">ご契約情報に関しては、こちらのmy 楽天モバイルにてご確認ください。<span class=\"c-Icon_New-window-l\"></span></a><br>\
  //   <a href=\"/faq/detail/00001207/\" target=\"_blank\" class=\"c-Link_Txt-inline\">ユーザID、パスワードの再設定に関しては、こちらをご確認ください。<span class=\"c-Icon_New-window-l\"></span></a>",
  // },
  // {
  //   title: "Rakuten Linkアプリを強制終了",
  //   text : "バックグラウンドのRakuten Linkアプリを上にスワイプして強制終了してください。",
  //   cap: "※これによりお客様の連絡先情報や通話履歴が消去されることはございません。",
  // },
  { // 5
    title: "本体の権限、通知すべてON​",
    text : "Rakuten Linkアプリの通知をすべてONにしてください。",
    flow : [
      {
        title: "1. 「設定」をタップします。",
        img : 1
      },
      {
        title: "2. 「Link」をタップします。",
        img : 1
      },
      {
        title: "3. 権限をすべてONにします。",
        img : 1
      },
      {
        title: "4. 「通知」をタップし「通知を許可」をONにします。",
        img : 2
      },
    ]
  },
  { // 6
    title: "おやすみモードを解除",
    text : "「設定」から、おやすみモードをOFFにしてください。",
    flow : [
      {
        title: "1. 「設定」をタップします。",
        img : 1
      },
      {
        title: "2. 「おやすみモード」をタップします。",
        img : 1
      },
      {
        title: "3. 「おやすみモード」をOFFにします。",
        img : 1
      },
    ]
  },
  // {
  //   title: "iPhoneのiMessageの設定をOFF",
  //   text : "iPhoneでiMessageをご利用の方は、こちらの設定をOFFにしてください。",
  //   flow : [
  //     {
  //       title: "1. 「設定」をタップします。",
  //       img : 1
  //     },
  //     {
  //       title: "2. 「メッセージ」をタップします。",
  //       img : 1
  //     },
  //     {
  //       title: "3. 「iMessage」をOFFにします。",
  //       img : 1
  //     },
  //   ]
  // },
  // {
  //   title: "メッセージの着信拒否を確認",
  //   text : "メッセージの着信拒否設定がされているかご確認ください。",
  //   flow : [
  //     {
  //       title: "1. 「設定」をタップします。",
  //       img : 1
  //     },
  //     {
  //       title: "2. 「メッセージ」をタップします。",
  //       img : 1
  //     },
  //     {
  //       title: "3. 「着信拒否した連絡先」をタップします。",
  //       img : 1
  //     },
  //     {
  //       title: "4. 着信拒否されていないか確認します。",
  //       cap: "※着信拒否を解除したい場合は、ユーザー名をタップして解除することができます。",
  //       img : 1
  //     },
  //   ]
  // },
] -%>

<%_ const desktop = [
  { // 1
    title: "インターネット接続のON／OFF",
    text : "<p>Wi-Fi等のインターネット接続をOFFにしてからONにし、再度インターネットに接続してください。</p>",
    flow : [],
  },
  { // 2
    title: "VPN（バーチャルプライベートネットワーク）接続の確認",
    text : `<p>VPN（バーチャルプライベートネットワーク）に接続している場合、通話がご利用できない場合があります。現在使用中のVPNをOFFにして再度お試しください。<br>
          <span class="c-Txt_Cap">※VPNサービスをご利用時に行った操作・通話については、Rakuten Linkの動作保証対象外です。</span></p>`,
    flow : [],
  },
  { // 3
    title: "ご利用製品のOSアップデート",
    text : `<p>2023年8月現在、Rakuten Linkデスクトップ版をご利用いただくには、下記のOSを搭載した製品が必要です。<br>最新版のOSにアップデートしてご利用ください。</p>
          <ul class="c-List_Text-disc u-Adjust_Mt-16 support-link-form-List">
            <li>Windows: Windows10 以降</li>
            <li>MacOS: MacOS10.15 以降</li>
          </ul>
          <p class="u-Adjust_Mt-16">OSに関するご不明点がある際は、ご利用製品の提供元へお問い合わせください。</p>
          <p class="u-Adjust_Mt-16">以上で終了です。</p>`,
    flow : [],
  },
  { // 4
    title: "Rakuten Linkデスクトップ版の推奨利用環境を確認",
    text : `
      <p>Rakuten Linkデスクトップ版の推奨利用環境については以下の通りになります。<br>
      快適にご利用いただくには、推奨利用環境での利用をお願いいたします。</p>
      <h3 class="c-Heading_Lv4 u-Adjust_Mt-32">Rakuten Linkデスクトップ版対応OS</h3>
      <ul class="c-List_Text-disc u-Adjust_Mt-16 support-link-form-List">
        <li>Windows: Windows10 以降</li>
        <li>MacOS: MacOS10.15 以降</li>
      </ul>
      <h3 class="c-Heading_Lv4 u-Adjust_Mt-32">CPU</h3>
      <ul class="c-List_Text-disc u-Adjust_Mt-16 support-link-form-List">
        <li>1.80GHz以上</li>
      </ul>
      <h3 class="c-Heading_Lv4 u-Adjust_Mt-32">メモリ</h3>
      <ul class="c-List_Text-disc u-Adjust_Mt-16 support-link-form-List">
        <li>1GB以上</li>
      </ul>
      <h3 class="c-Heading_Lv4 u-Adjust_Mt-32">ストレージ</h3>
      <ul class="c-List_Text-disc u-Adjust_Mt-16 support-link-form-List">
        <li>空き容量4GB以上</li>
      </ul>
      <h3 class="c-Heading_Lv4 u-Adjust_Mt-32">Rakuten Linkスマートフォン版アプリバージョン</h3>
      <ul class="c-List_Text-disc u-Adjust_Mt-16 support-link-form-List">
        <li>Android: 2.16以降</li>
        <li>iOS: 2.14.1以降</li>
      </ul>
      <h3 class="c-Heading_Lv4 u-Adjust_Mt-32">対象スマートフォン</h3>
      <ul class="c-List_Text-disc u-Adjust_Mt-16 support-link-form-List">
        <li>上記アプリバージョンに対応するスマートフォン機種は<a href="https://r10.to/Link135" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener">こちら<span class="c-Icon_New-window-l"></span></a>より、ご確認ください。</li>
      </ul>
      <h3 class="c-Heading_Lv4 u-Adjust_Mt-32">ご注意</h3>
      <ul class="c-List_Text-disc u-Adjust_Mt-16 support-link-form-List">
        <li>楽天モバイルをご契約中のお客様のみご利用できます。</li>
        <li>Rakuten Link をご利用でない自社回線、他社回線や固定電話のお相手との通話<li>SMS の際は、Rakuten Link デスクトップ版がログイン元スマートフォンと同一の Rakuten Link アカウントでログインの上、パソコンがそのスマートフォンとテザリングをしている、または同じ Wi-Fi 環境にいることが条件となります。</li>
        <li>推奨環境でない機器でもご利用いただけることがありますが動作保証外となります。<br>また、今後の仕様の変更などによりご利用いただけなくなる可能性がございます。</li>
        <li>推奨環境を満たしている場合でもお客様個別の環境により動作しないことがございます。</li>
      </ul>
    `,
    flow : [],
  },
  { // 5
    title: "Rakuten Linkデスクトップ版アプリの再インストール／ログイン／パソコンの再起動",
    text : `<p>Rakuten Linkデスクトップ版アプリを一度ログアウトしたのち、アプリをアンインストールして、パソコンを再起動してください。<br>
      その後、Rakuten Linkデスクトップ版アプリを<a href="https://r10.to/Link134" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener">こちら<span class="c-Icon_New-window-l"></span></a>からインストールし、パソコンを再起動後、QRコードをスキャンしてログインしてください。</p>`,
    flow : [
      {
        title: "1. 左上のプロフィール画像をクリックし、一覧にある「ログアウト」をタップします。",
        // text: '',
        // cap'',
        img : 3,
      },
      {
        title: "2. Rakuten Linkデスクトップ版アプリを「アンインストール」します。",
        text: `<p>ご利用の製品によってアンインストール方法が異なります。<br>
              恐れ入りますが、ご利用の製品に合わせてアンインストールの対応をお願いいたします。</p>`,
        // cap'',
        // img : 3,
      },
      {
        title: "3. パソコンを再起動します。",
        text: `<p>ご利用の製品によって再起動方法が異なります。<br>
          恐れ入りますが、ご利用の製品に合わせて再起動の対応をお願いいたします。</p>`,
        // cap'',
        // img : 3,
      },
      {
        title: "4. 再インストールします。",
        text: `<p><a href="https://r10.to/Link134" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener">こちら<span class="c-Icon_New-window-l"></span></a>よりRakuten Linkデスクトップ版アプリをインストールします。</p>`,
        // cap'',
        // img : 3,
      },
      {
        title: "5. パソコンを再起動します。",
        text: `<p>ご利用の製品によって再起動方法が異なります。<br>
          恐れ入りますが、ご利用の製品に合わせて再起動の対応をお願いいたします。</p>`,
        // cap'',
        // img : 3,
      },
      {
        title: "6. QRコードをスキャンしてログインします。",
        text: `<p>Rakuten Linkデスクトップ版アプリを起動後、QRコードをスキャンしてログインします。</p>`,
        // cap'',
        img : 1,
      },
    ],
  },
] _%>

<div class="<%= namespace %>-Layout_Container" id="js-solution" aria-hidden="true">
  <div class="l-System_Container">
    <div id="js-solution-head" aria-hidden="true">
      <h2 class="c-Heading_Lv2">トラブルシューティングをお試しください。</h2>
      <p class="u-Adjust_Mt-16">
        多くの場合、以下のトラブルシューティングを行うことで問題は解決いたします。<br>
        お手数をお掛けいたしますが、以下の項目を上から順番にすべてお試しください。なお、ご利用の製品やOSバージョンによって一部順序や表記が異なる場合がございます。恐れ入りますが詳細につきましては製品メーカーへご確認ください。
      </p>
      <p><a href="<%= sitepath %>guide/inquiry/" target="_blank" class="c-Link_Txt-inline-icon">メーカー別 問い合わせ先一覧はこちら<span class="c-Icon_New-window-l"></span></a></p>
    </div>
    <div id="js-solution-android" aria-hidden="true">
    <% for ( let i = 0; i < android.length; i++ ) { %>
    <%_ if ( i === 0 ) { _%>
    <div class="c-Accordion u-Adjust_Mt-24" id="js-solution-android-<%- i+1 %>" aria-hidden="true">
    <% } else { %>
    <div class="c-Accordion" id="js-solution-android-<%- i+1 %>" aria-hidden="true">
    <% }; %>
      <button type="button" id="accordion-a<%- i+1 %>" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-a<%- i+1 %>"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><%- android[i].title %></button>
      <div id="accordion-content-a<%- i+1 %>" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-a<%- i+1 %>" aria-hidden="true">
        <p><%- android[i].text %></p>
        <%_ if ( android[i].flow !== undefined ) { _%>
        <ol class="c-Flow u-Adjust_Mt-24">
          <% for ( let j = 0; j < android[i].flow.length; j++ ) { %>
          <li>
            <div class="l-Media_Grid-capture-reverse">
              <div>
                <h3 class="c-Heading_Lv3"><%- android[i].flow[j].title %></h3>
                <%_ if ( android[i].flow[j].text !== undefined ) { _%>
                <p class="u-Adjust_Mt-16"><%- android[i].flow[j].text %></p>
                <% }; %>
                <%_ if ( android[i].flow[j].cap !== undefined ) { _%>
                <p class="c-Txt_Cap u-Adjust_Mt-8"><%- android[i].flow[j].cap %></p>
                <% }; %>
              </div>
              <div class="l-Media_Image">
                <% for ( let k = 0; k < android[i].flow[j].img; k++ ) { %>
                  <%_ if ( k === 0 ) { _%>
                  <div><img data-src="<%= sitepath %>assets/img/support/rakuten-link-form/android-<%= zeroPadding(i+1, 2) %>-setup<%= zeroPadding(j+1, 2) %>.png?240417" width="300" class="c-Img_Capture lazyload" alt=""></div>
                  <% } else { %>
                  <div class="u-Adjust_Mt-16"><img data-src="<%= sitepath %>assets/img/support/rakuten-link-form/android-<%= zeroPadding(i+1, 2) %>-setup<%= zeroPadding(j+1, 2) %>-<%- k+1 %>.png?240417" width="300" class="c-Img_Capture lazyload" alt=""></div>
                  <% }; %>
                <% }; %>
              </div>
            </div>
          </li>
          <% }; %>
        </ol>
        <% }; %>
        <p class="u-Adjust_Mt-16">以上で終了です。</p>
      </div>
    </div>
    <% }; %>
    </div>

    <div id="js-solution-ios" aria-hidden="true">
    <% for ( let i = 0; i < ios.length; i++ ) { %>
    <%_ if ( i === 0 ) { _%>
    <div class="c-Accordion u-Adjust_Mt-24" id="js-solution-ios-<%- i+1 %>" aria-hidden="true">
    <% } else { %>
    <div class="c-Accordion" id="js-solution-ios-<%- i+1 %>" aria-hidden="true">
    <% }; %>
      <button type="button" id="accordion-i<%- i+1 %>" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-i<%- i+1 %>"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><%- ios[i].title %></button>
      <div id="accordion-content-i<%- i+1 %>" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-i<%- i+1 %>" aria-hidden="true">
        <p><%- ios[i].text %></p>
        <%_ if ( ios[i].flow !== undefined ) { _%>
        <ol class="c-Flow u-Adjust_Mt-24">
          <% for ( let j = 0; j < ios[i].flow.length; j++ ) { %>
          <li>
            <div class="l-Media_Grid-capture-reverse">
              <div>
                <h3 class="c-Heading_Lv3"><%- ios[i].flow[j].title %></h3>
                <%_ if ( ios[i].flow[j].text !== undefined ) { _%>
                <p class="u-Adjust_Mt-16"><%- ios[i].flow[j].text %></p>
                <% }; %>
                <%_ if ( ios[i].flow[j].cap !== undefined ) { _%>
                <p class="c-Txt_Cap u-Adjust_Mt-8"><%- ios[i].flow[j].cap %></p>
                <% }; %>
              </div>
              <div class="l-Media_Image">
                <% for ( let k = 0; k < ios[i].flow[j].img; k++ ) { %>
                  <%_ if ( k === 0 ) { _%>
                  <div><img data-src="<%= sitepath %>assets/img/support/rakuten-link-form/ios-<%= zeroPadding(i+1, 2) %>-setup<%= zeroPadding(j+1, 2) %>.png" width="300" class="c-Img_Capture lazyload" alt=""></div>
                  <% } else { %>
                  <div class="u-Adjust_Mt-16"><img data-src="<%= sitepath %>assets/img/support/rakuten-link-form/ios-<%= zeroPadding(i+1, 2) %>-setup<%= zeroPadding(j+1, 2) %>-<%- k+1 %>.png" width="300" class="c-Img_Capture lazyload" alt=""></div>
                  <% }; %>
                <% }; %>
              </div>
            </div>
          </li>
          <% }; %>
        </ol>
        <% }; %>
        <p class="u-Adjust_Mt-16">以上で終了です。</p>
      </div>
    </div>
    <% }; %>
    </div>

    <div id="js-solution-desktop" aria-hidden="true">
    <% for ( let i = 0; i < desktop.length; i++ ) { %>
    <%_ if ( i === 0 ) { _%>
    <div class="c-Accordion u-Adjust_Mt-24" id="js-solution-desktop-<%- i+1 %>" aria-hidden="true">
    <% } else { %>
    <div class="c-Accordion" id="js-solution-desktop-<%- i+1 %>" aria-hidden="true">
    <% }; %>
      <button type="button" id="accordion-desktop<%- i+1 %>" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-desktop<%- i+1 %>"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><%- desktop[i].title %></button>
      <div id="accordion-content-desktop<%- i+1 %>" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-desktop<%- i+1 %>" aria-hidden="true">
        <div><%- desktop[i].text %></div>
        <%_ if ( desktop[i].flow !== undefined ) { _%>
        <ol class="c-Flow u-Adjust_Mt-24">
          <% for ( let j = 0; j < desktop[i].flow.length; j++ ) { %>
          <li>
            <div>
              <h3 class="c-Heading_Lv3"><%- desktop[i].flow[j].title %></h3>
              <%_ if ( desktop[i].flow[j].text !== undefined ) { _%>
              <div class="u-Adjust_Mt-16"><%- desktop[i].flow[j].text %></div>
              <% }; %>
              <%_ if ( desktop[i].flow[j].cap !== undefined ) { _%>
              <p class="c-Txt_Cap u-Adjust_Mt-8"><%- desktop[i].flow[j].cap %></p>
              <% }; %>
            </div>
            <% for ( let k = 0; k < desktop[i].flow[j].img; k++ ) { %>
              <div class="u-Adjust_Mt-16"><img data-src="<%= sitepath %>assets/img/support/rakuten-link-form/desktop-<%= zeroPadding(i+1, 2) %>-setup<%= zeroPadding(j+1, 2) %>-<%- k+1 %>.png" width="504" class="<%= namespace %>-Img_Capture lazyload" alt=""></div>
            <% }; %>
          </li>
          <% }; %>
        </ol>
        <% }; %>
        <p class="u-Adjust_Mt-16">以上で終了です。</p>
      </div>
    </div>
    <% }; %>
    </div>

    <div class="u-Adjust_Mt-32">
      <div id="js-no-form" aria-hidden="true">
        <div>
          <a href="/support/?l-id=support_rakuten-link-form_support" class="c-Btn_Regular"><span>お客様サポートトップへ</span></a>
        </div>
        <div class="u-Adjust_Mt-16">
          <a href="https://service.link.link/guide/" target="_blank" data-ratid="support_rakuten-link-form_link_guide" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular"><span>Rakuten Linkの使い方を見る</span></a>
        </div>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">
          ※Rakuten LinkのWebサイトへアクセスします。
        </p>
      </div>
      <div id="js-goto-form" aria-hidden="true">
        <label class="c-Form_Checkbox u-Adjust_Mt-16">
          <input type="checkbox" name="gotoform" id="" value="">
          <span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">トラブルシューティングを全て実行したが、解決しなかった。</span>
        </label>
        <div class="u-Adjust_Mt-16">
          <a href="#" id="js-form-display" disabled aria-disabled="true" class="c-Btn_Regular">
            <span>お問い合わせフォームへ</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
