<% const pagetitle = "Rakuten Linkに関するお問い合わせ" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}] -%>
<% const namespace = "support-link-form" -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Rakuten Linkアプリに関するトラブル解決方法を、メールでご案内いたします。項目を選択のうえ、必要情報をご入力ください。',
    noindex: true,
    pathname: filepath
  });
%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/support/rakuten-link-form/link-form.css?20240424">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js" async></script>
<%- include('/include/_append-head', {messaging: true}) %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= namespace %>-Layout_Load <%= namespace %>-Layout_Container" id="js-contents-load">
  <div class="<%= namespace %>-Layout_Load-icon">読み込み中</div>
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
    <p class="u-Adjust_Mt-24">
      以下からお問い合わせされたい項目をご選択ください。適切な解決法をこのページですぐにご案内いたします。<br>
      万が一解決しない場合にはメールにてご案内いたしますので、必要な項目をご入力いただきお問い合わせください。<br>
      お手数をお掛けいたしますがお問い合わせされたい内容が複数ある場合にはこちらのページにて、項目を一つづつご選択後、表示される内容をご確認、あるいはトラブルシューティングをお試しください。
    </p>
  </div>

  <!-- 本番 -->
    <form id="js-rakutenlink_Form" action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST">
    <input type="hidden" name="orgid" value="00D2r000000CtMv">
  <!-- // 本番 -->
  <!-- Sandbox -->
    <!-- <form id="js-rakutenlink_Form" action="https://rmcs--link.my.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST">
    <input type="hidden" name="orgid" value="00D0l0000003BpR"> -->
  <!-- // Sandbox -->

    <input type="hidden" name="subject" value="Rakuten Linkに関するお問い合わせ">
    <input type="hidden" name="retURL" value="https://network.mobile.rakuten.co.jp/support/rakuten-link-form/thanks.html">

    <%- /*ご利用のOSをお選びください。*/ include('/support/rakuten-link-form/_select') %>

    <%- include('/support/rakuten-link-form/_faq') %>

    <%- include('/support/rakuten-link-form/_solution') %>


    <div class="l-System_Container" id="js-rakutenlink_Form-content" aria-hidden="true">

      <%- include('/support/rakuten-link-form/_select-confirm') %>

      <dl class="c-Form_List u-Adjust_Mt-32">
        <div class="<%= namespace %>-Form_Item-area js-rakutenlink_Item-area">
          <dt>ご契約電話番号<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <p class="c-Txt_Cap u-Adjust_Mb-16">
              ※「電話番号」は、my 楽天モバイルの「申し込み履歴」からご確認いただけます<br>
              ※半角数字10文字または半角数字11文字で入力してください<br>
              ※ー（ハイフン）を入れずに入力してください
            </p>
            <p id="err-required_00N2r000000gl6S" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <p id="err-numeric_00N2r000000gl6S" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">半角数字で入力してください</p>
            <p id="err-length_00N2r000000gl6S" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">正しい電話番号を入力してください</p>
            <input class="c-Form_Input" minlength="10" maxlength="11" name="00N2r000000gl6S" size="20" type="text" placeholder="例）070XXXXXXXX" aria-required="true" data-validate="required length numeric" autocomplete="off">
          </dd>
        </div>

        <div class="<%= namespace %>-Form_Item-area js-rakutenlink_Item-area">
          <dt>ご契約者 氏名<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <p id="err-required_00N2r000000gl6P" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">「姓」は必須項目です</p>
            <p id="err-required_00N2r000000gl6N" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">「名」は必須項目です</p>
            <dl class="c-Form_List-sub">
              <div>
                <dt>姓</dt>
                <dd>
                  <input class="c-Form_Input u-Adjust_W-160" maxlength="80" name="00N2r000000gl6P" size="20" type="text" placeholder="例）楽天" aria-required="true" data-validate="required" autocomplete="off">
                </dd>
              </div>
              <div>
                <dt>名</dt>
                <dd><input class="c-Form_Input u-Adjust_W-160" maxlength="80" name="00N2r000000gl6N" size="20" type="text" placeholder="例）太郎" aria-required="true" data-validate="required" autocomplete="off"></dd>
              </div>
            </dl>
          </dd>
        </div>

        <div class="<%= namespace %>-Form_Item-area js-rakutenlink_Item-area">
          <dt>事象発生日時<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <p class="u-Adjust_Mb-16">事象発生日</p>
            <p id="err-required_00N2r0000021LO8" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <div class="<%= namespace %>-Form_Datepicker-container">
              <input id="00N2r0000021LO8" name="00N2r0000021LO8" class="c-Form_Input u-Adjust_Mb-16 js-Datepicker" maxlength="" size="" type="text" placeholder="" aria-required="true" data-validate="required" readonly>
              <span class="c-Icon_Calendar-l js-Datepicker_Btn"></span>
            </div>

            <p id="err-required_00N2r0000021LO9" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <p id="err-required_00N2r000001lWWS" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>

            <div class="<%= namespace %>-Form_Selct-time">
              <div class="c-Form_Select">
                <select name="00N2r0000021LO9" id="00N2r0000021LO9" aria-required="true" data-validate="required">
                  <option value="00">00</option>
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                </select>
                <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
              </div>
              時
              <div class="c-Form_Select">
                <select name="00N2r000001lWWS" id="00N2r000001lWWS" aria-required="true" data-validate="required">
                  <option value="00">00</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="30">30</option>
                  <option value="40">40</option>
                  <option value="50">50</option>
                </select>
                <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
              </div>
              分
            </div>
          </dd>
        </div>

        <div class="<%= namespace %>-Form_Item-area js-rakutenlink_Item-area">
          <dt>OSバージョン<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <p class="u-Adjust_Mb-16 c-Txt_Cap">
              ※デスクトップ版を利用されている方は、スマートフォンとパソコンの両方のOSバージョンを記載してください。<br>
              例）スマートフォン:Android 12／パソコン:Windows 10
            </p>
            <p id="err-required_00N2r000001lWVo" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <p id="err-alphanum_00N2r000001lWVo" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">半角英数字で入力してください</p>
            <input class="c-Form_Input" minlength="1" maxlength="255" name="00N2r000001lWVo" size="20" type="text" placeholder="例）スマートフォン:Android 12" data-validate="required alphanum" autocomplete="off">
          </dd>
        </div>

        <div class="<%= namespace %>-Form_Item-area js-rakutenlink_Item-area">
          <dt>製品名<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <p class="u-Adjust_Mb-16">スマートフォンのメーカー名</p>
            <p id="err-required_00N2r000001lWVt" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <div class="c-Form_Select">
              <select name="00N2r000001lWVt" aria-required="true" data-validate="required">
                <option value="">選択してください</option>
                <option value="楽天モバイル">楽天モバイル</option>
                <option value="Apple">Apple</option>
                <option value="ASUS">ASUS</option>
                <option value="Fujitsu Connected Technologies">Fujitsu Connected Technologies</option>
                <option value="Google">Google</option>
                <option value="HUAWEI">HUAWEI</option>
                <option value="Inseego">Inseego</option>
                <option value="Lenovo">Lenovo</option>
                <option value="NEC Platforms">NEC Platforms</option>
                <option value="OPPO">OPPO</option>
                <option value="SAMSUNG ELECTRONICS JAPAN">SAMSUNG ELECTRONICS JAPAN</option>
                <option value="SHARP">SHARP</option>
                <option value="Sony">Sony</option>
                <option value="Xiaomi">Xiaomi</option>
              </select>
              <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
            </div>

            <p class="u-Adjust_Mb-16 u-Adjust_Mt-32">製品名</p>
            <p class="u-Adjust_Mb-16 c-Txt_Cap">
              ※デスクトップ版を利用されている方は、スマートフォンとパソコンの両方の製品名を記載してください。<br>
              例）スマートフォン:AQUOS sense 7／パソコン:NEC VersaPro VK20EA
            </p>
            <p id="err-required_00N2r000001lWVy" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <p id="err-alphanum_00N2r000001lWVy" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">半角英数字で入力してください</p>
            <input class="c-Form_Input" minlength="1" maxlength="255" name="00N2r000001lWVy" size="20" type="text" placeholder="例）AQUOS sense 7" data-validate="required alphanum" autocomplete="off">
          </dd>
        </div>

        <div class="<%= namespace %>-Form_Item-area js-rakutenlink_Item-area">
          <dt>Rakuten Linkアプリバージョン<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <p class="u-Adjust_Mb-16 c-Txt_Cap">
              ※デスクトップ版を利用されている方は、スマートフォン版とデスクトップ版の両方のアプリバージョンを記載してください。<br>
              例）スマートフォン版:2.14.2／デスクトップ版:1.8.1
            </p>
            <p id="err-required_00N2r000001lWW3" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <p id="err-alphanum_00N2r000001lWW3" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">半角英数字で入力してください</p>
            <input class="c-Form_Input" minlength="1" maxlength="255" name="00N2r000001lWW3" size="20" type="text" placeholder="例）2.14.2" data-validate="required alphanum" autocomplete="off">
          </dd>
        </div>

        <div class="<%= namespace %>-Form_Item-area js-rakutenlink_Item-area js-hidden">
          <dt>通信エリア<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <p class="c-Txt_Cap u-Adjust_Mb-16">※接続されている回線エリアは「<a href="/faq/detail/00001520/" target="_blank" class="c-Link_Txt-inline">楽天回線とパートナー回線の調べ方<span class="c-Icon_New-window-l"></span></a>」よりご確認ください</p>
            <p id="err-required_00N2r000001lWW8" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <div class="c-Form_Select">
              <select name="00N2r000001lWW8" aria-required="true" data-validate="required">
                <option value="">選択してください</option>
                <option value="LTE">LTE</option>
                <option value="Wi-Fi＋LTE">Wi-Fi＋LTE</option>
                <option value="Wi-Fi＋機内モード／圏外">Wi-Fi＋機内モード／圏外</option>
                <option value="わからない">わからない</option>
              </select>
              <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
            </div>
          </dd>
        </div>

        <div class="<%= namespace %>-Form_Item-area js-rakutenlink_Item-area">
          <dt>LTE回線の強度<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <p id="err-required_00N2r000001lWWD" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <div class="c-Form_Select">
              <select name="00N2r000001lWWD" aria-required="true" data-validate="required">
                <option value="">選択してください</option>
                <option value="強い（3本以上）">強い（3本以上）</option>
                <option value="弱い（1～2本）">弱い（1～2本）</option>
                <option value="0本あるいは圏外">0本あるいは圏外</option>
              </select>
              <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
            </div>
          </dd>
        </div>

        <div class="<%= namespace %>-Form_Item-area js-rakutenlink_Item-area js-hidden">
          <dt>相手先電話番号</dt>
          <dd>
            <p class="c-Txt_Cap u-Adjust_Mb-16">
              ※半角数字10文字または半角数字11文字で入力してください<br>
              ※ー（ハイフン）を入れずに入力ください
            </p>
            <p id="err-numeric_00N2r0000021LO5" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">半角数字で入力してください</p>
            <p id="err-length_00N2r0000021LO5" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">正しい電話番号を入力してください</p>
            <input class="c-Form_Input" minlength="10" maxlength="11" name="00N2r0000021LO5" size="20" type="text" placeholder="例）070XXXXXXXX" data-validate="length numeric" autocomplete="off">
          </dd>
        </div>

        <div class="<%= namespace %>-Form_Item-area js-rakutenlink_Item-area js-hidden">
          <dt>相手先キャリア</dt>
          <dd>
            <p class="c-Txt_Cap u-Adjust_Mb-16">
              ※キャリアを選択してください
            </p>
            <div class="c-Form_Select">
              <select name="00N2r0000021LO4">
                <option value="">選択してください</option>
                <option value="楽天モバイル（楽天回線）">楽天モバイル（楽天回線）</option>
                <option value="楽天モバイル以外のキャリア">楽天モバイル以外のキャリア</option>
                <option value="固定電話（特番を含む）">固定電話（特番を含む）</option>
                <option value="国際電話">国際電話</option>
                <option value="その他/わからない">その他/わからない</option>
              </select>
              <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
            </div>
          </dd>
        </div>

        <div class="<%= namespace %>-Form_Item-area js-rakutenlink_Item-area">
          <dt>連絡用メールアドレス<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <p class="c-Txt_Cap u-Adjust_Mb-16">
              ※ご入力いただいたメールアドレスへご連絡いたしますので、現在ご利用されているアドレスをご入力ください<br>
              ※80文字以内で入力してください
            </p>
            <p class="u-Adjust_Mb-16">メールアドレス</p>
            <p id="err-required_00N2r000000gl6J" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <p id="err-email_00N2r000000gl6J" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">正しいメールアドレスを入力してください</p>
            <input class="c-Form_Input" maxlength="80" name="00N2r000000gl6J" size="20" type="text" placeholder="例）example@example.com" aria-required="true" data-validate="required email" autocomplete="off">
            <p class="u-Adjust_Mb-16 u-Adjust_Mt-32">確認用</p>
            <p id="err-required_confirm-email" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <p id="err-match_confirm-email" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">メールアドレスが一致していません</p>
            <input class="c-Form_Input" maxlength="80" name="confirm-email" size="20" type="text" placeholder="例）example@example.com" aria-required="true" data-validate="required confirmEmail" autocomplete="off">
          </dd>
        </div>

        <div class="<%= namespace %>-Form_Item-area js-rakutenlink_Item-area">
          <dt>連絡用電話番号<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <p class="c-Txt_Cap u-Adjust_Mb-16">
              ※お問い合わせには原則メールにてご連絡いたしますのでご了承ください<br>
              ※半角数字10文字または半角数字11文字で入力してください<br>
              ※ー（ハイフン）を入れずに入力ください
            </p>
            <p id="err-required_00N2r000000gl6K" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <p id="err-numeric_00N2r000000gl6K" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">半角数字で入力してください</p>
            <p id="err-length_00N2r000000gl6K" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">正しい電話番号を入力してください</p>
            <input class="c-Form_Input" minlength="10" maxlength="11" name="00N2r000000gl6K" size="20" type="text" placeholder="例）070XXXXXXXX" aria-required="true" data-validate="required length numeric" autocomplete="off">
          </dd>
        </div>

        <div class="<%= namespace %>-Form_Item-area js-rakutenlink_Item-area">
          <dt>お問い合わせの詳細<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <p class="c-Txt_Cap u-Adjust_Mb-16">
              ※お困りごとを詳細にご入力ください<br>
              （お困りごと詳細／発生時状況／発生頻度 等）<br>
              ※複数ある場合もこちらにご入力ください<br>
              ※255文字以内で入力してください<br>
            </p>
            <p id="err-required_00N2r0000021LO3" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <textarea class="c-Form_Input" maxlength="255" name="00N2r0000021LO3" placeholder="" aria-required="true" data-validate="required"></textarea>
          </dd>
        </div>
      </dl>

      <h2 class="c-Heading_Lv3 u-Adjust_Mt-48">個人情報の取扱いについて</h2>
      <p class="u-Adjust_Mt-16">
        お客様のお問い合わせを調査するにあたり正確な問題の把握の為に端末内に保存されているアプリ動作の履歴を確認する場合がございます。これには個人を特定できる情報は一切含まれません。弊社のポリシーについては「<a href="https://corp.mobile.rakuten.co.jp/guide/privacy/" target="_blank" class="c-Link_Txt-inline">個人情報の取扱いについて<span class="c-Icon_New-window-l"></span></a>」をご確認いただき、同意される場合は下記のチェックボタンをチェックしてください。
      </p>

      <label class="c-Form_Checkbox u-Adjust_Mt-16">
        <input type="checkbox" name="agree" id="" value="">
        <span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">個人情報の取扱いに同意します</span>
      </label>

      <div class="u-Adjust_Align-center u-Adjust_Mt-40">
        <button type="button" id="js-rakutenlink_Confirm" disabled class="c-Btn_Secondly-large" aria-disabled="true"><span>入力内容を確認する</span></button>
      </div>

      <p class="c-Txt_Cap u-Adjust_Mt-16">
        ※「個人情報の取り扱いに同意します」にチェックする必要があります。
      </p>

      <div id="modal-confirm" style="display:none;">
        <h2 class="c-Heading_Lv3 u-Adjust_Mb-32">入力内容の確認</h2>
        <dl class="c-Form_List-confirm" id="result-confirm2" style="border-bottom: 0;"></dl>
        <dl class="c-Form_List-confirm">
          <div class="<%= namespace %>-Form_Item-area js-rakutenlink_Item-area">
            <dt>ご契約電話番号</dt>
            <dd><p id="disp-00N2r000000gl6S" class="u-Adjust_Txt-break"></p></dd>
          </div>
          <div class="<%= namespace %>-Form_Item-area js-rakutenlink_Item-area">
            <dt>ご契約者 氏名</dt>
            <dd>
              <p>
                <span id="disp-00N2r000000gl6P" class="u-Adjust_Txt-break"></span>
                <span id="disp-00N2r000000gl6N" class="u-Adjust_Txt-break"></span>
              </p>
            </dd>
          </div>
          <div class="<%= namespace %>-Form_Item-area js-rakutenlink_Item-area">
            <dt>事象発生日時</dt>
            <dd>
              <p>
                <span id="disp-00N2r0000021LO8" class="u-Adjust_Txt-break"></span>
                <span id="disp-00N2r0000021LO9" class="u-Adjust_Txt-break"></span>時
                <span id="disp-00N2r000001lWWS" class="u-Adjust_Txt-break"></span>分
              </p>
            </dd>
          </div>
          <div class="<%= namespace %>-Form_Item-area js-rakutenlink_Item-area">
            <dt>OSバージョン</dt>
            <dd><p id="disp-00N2r000001lWVo" class="u-Adjust_Txt-break"></p></dd>
          </div>
          <div class="<%= namespace %>-Form_Item-area js-rakutenlink_Item-area">
            <dt>製品名</dt>
            <dd>
              <p id="disp-00N2r000001lWVt" class="u-Adjust_Txt-break"></p>
              <p id="disp-00N2r000001lWVy" class="u-Adjust_Txt-break"></p>
            </dd>
          </div>
          <div class="<%= namespace %>-Form_Item-area js-rakutenlink_Item-area">
            <dt>Rakuten Linkアプリバージョン</dt>
            <dd><p id="disp-00N2r000001lWW3" class="u-Adjust_Txt-break"></p></dd>
          </div>
          <div class="<%= namespace %>-Form_Item-area js-rakutenlink_Item-area js-hidden">
            <dt>通信エリア</dt>
            <dd><p id="disp-00N2r000001lWW8" class="u-Adjust_Txt-break"></p></dd>
          </div>
          <div class="<%= namespace %>-Form_Item-area js-rakutenlink_Item-area">
            <dt>LTE回線の強度</dt>
            <dd><p id="disp-00N2r000001lWWD" class="u-Adjust_Txt-break"></p></dd>
          </div>
          <div class="<%= namespace %>-Form_Item-area js-rakutenlink_Item-area js-hidden">
            <dt>相手先電話番号</dt>
            <dd><p id="disp-00N2r0000021LO5" class="u-Adjust_Txt-break"></p></dd>
          </div>
          <div class="<%= namespace %>-Form_Item-area js-rakutenlink_Item-area js-hidden">
            <dt>相手先キャリア</dt>
            <dd><p id="disp-00N2r0000021LO4" class="u-Adjust_Txt-break"></p></dd>
          </div>
          <div class="<%= namespace %>-Form_Item-area js-rakutenlink_Item-area">
            <dt>連絡用メールアドレス</dt>
            <dd><p id="disp-00N2r000000gl6J" class="u-Adjust_Txt-break"></p></dd>
          </div>
          <div class="<%= namespace %>-Form_Item-area js-rakutenlink_Item-area">
            <dt>連絡用電話番号</dt>
            <dd><p id="disp-00N2r000000gl6K" class="u-Adjust_Txt-break"></p></dd>
          </div>
          <div class="<%= namespace %>-Form_Item-area js-rakutenlink_Item-area">
            <dt>お問い合わせの詳細</dt>
            <dd><p id="disp-00N2r0000021LO3" class="u-Adjust_Txt-break"></p></dd>
          </div>
        </dl>
        <div class="u-Adjust_Align-center u-Adjust_Mt-40">
          <button type="button" id="js-rakutenlink_Submit" class="c-Btn_Primary-large"><span>この内容で送信する</span></button>
        </div>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
          <button type="button" id="js-rakutenlink_Confirm-close" class="c-Btn_Regular-large"><span>修正する</span></button>
        </div>
      </div>

    </div>

  </form>
</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">
    <%- include('/include/footer/bnr/_bnr.ejs') %>
  </div>

  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<script src="<%= sitepath %>assets/js/library/jquery-3.5.0.min.js"></script>
<script src="<%= sitepath %>assets/js/common.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/vendor.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/search.common.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/support.rakuten-link-form.bundle.js?20240521" defer></script>
<%- include('/include/_append-body') %>
</body>
</html>
