<% const namespace = "dmm" -%>
<%_
if (typeof key === 'undefined') {
  key = '';
}
_%>
<div class="l-System_Container">
  <div class="<%= namespace %>-Toyou">
    <h3 class="c-Heading_migration/dmm/_common013 <%= namespace %>-Toyou_Heading"><span>そんなあなたに</span>楽天モバイルなら</h3>
    <div class="<%= namespace %>-Toyou_Body">
      <div class="<%= namespace %>-Toyou_Inner">
        <h4 class="<%= namespace %>-Toyou_Title">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/guide/migration/dmm/toyou-ttl-2-1-sp.svg">
            <img src="<%= sitepath %>assets/img/guide/migration/dmm/toyou-ttl-2-1-pc.svg" width="383" alt="毎月の通話を0円で使うことも※" class="<%= namespace %>-Toyou_Title-ja">
          </picture>
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/guide/migration/dmm/toyou-ttl-2-2-sp.svg">
            <img src="<%= sitepath %>assets/img/guide/migration/dmm/toyou-ttl-2-2-pc.svg" width="504" alt="" class="u-Adjust_Mt-8">
          </picture>
        </h4>
        <div class="u-Adjust_Pt-32">
          <div class="l-Media_List-2 <%= namespace %>-List_2">
            <div>
              <div>
                <h5 class="c-Heading_Lv4">友達とも、家族とも、何時間話しても<span class="c-Txt_Emp-02">0円<sub>※</sub></span></h5>
              </div>
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/guide/migration/dmm/toyou-2-1.png?210806" width="310" alt="" class="u-Adjust_Mt-8">
              </div>
            </div>
            <div>
              <div>
                <h5 class="c-Heading_Lv4 <%= namespace %>-Heading_Cap-position">Rakuten Linkを利用していないスマホや固定電話への通話も<span class="c-Txt_Emp-02">かけ放題<sub>※</sub></span></h5>
              </div>
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/guide/migration/dmm/toyou-2-2.png?210825" width="310" alt="" class="u-Adjust_Mt-8">
              </div>
            </div>
          </div>
        </div>
        <p class="u-Adjust_Mt-8 <%= namespace %>-Utility_Align-center-left">アプリを利用しない場合は通常の通話料金30秒20円（税込22円）がかかります。<br>また、一部対象外番号があります。</p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap <%= namespace %>-Utility_Align-center-left">※ 国内通話かけ放題（Rakuten Linkアプリ使用時）はプランに含まれる。</p>
        <h4 class="c-Heading_Lv4 u-Adjust_Mt-40 <%= namespace %>-Txt_Flex-center">データ通信は毎月使った分だけお支払いなので、今よりプラン料金が安くなることも</h4>
        <%- include('/include/guide/migration/dmm/_toyou-cta') %>
      </div>
    </div>
  </div>
</div>
