<% const pagetitle = "契約者情報・契約内容の確認・変更" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/contract-detail/confirmation/", label:"契約内容の確認・変更"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '契約者情報・契約内容の確認・変更方法をご案内します。my 楽天モバイル（アプリ・Web）からかんたんに変更のお手続きが可能です',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/family/guide-family.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

    <p class="u-Adjust_Mt-40">契約者情報や契約内容の確認・変更方法についてご案内いたします。</p>
    <p class="u-Adjust_Mt-16 c-Txt_Cap c-Txt_Emp-02">※楽天IDの会員情報を変更しても、楽天モバイルの契約者情報は変更されません。詳しくは<a href="#contract_change">契約者情報・契約内容の変更方法</a>をご確認ください。</p>
    <p class="u-Adjust_Mt-16 c-Txt_Cap">※楽天モバイル（ドコモ回線・au回線）をご利用中のお客様は、<a href="#rakutenmobile" class="c-Link_Txt">こちら</a>をご確認ください。</p>
    <div id="anc-2" class="c-Theme-Light u-Adjust_Mt-40">
          <ul class="guide-Anchor">
            <li>
          <a href="#contract_info" class="guide-Anchor_Basic js-scroll">
            <span class="c-Icon_Arrow-down-l"></span>
            契約者情報の確認方法
          </a>
            </li>
            <li>
          <a href="#contract_confirm" class="guide-Anchor_Basic js-scroll">
            <span class="c-Icon_Arrow-down-l"></span>
            契約内容の確認方法
          </a>
            </li>
            <li>
             <a href="#contract_change" class="guide-Anchor_Basic js-scroll">
            <span class="c-Icon_Arrow-down-l"></span>
            契約者情報・契約内容の変更方法
          </a>
            </li>
            <li>
              <a href="#rakutenmobile" class="guide-Anchor_Basic js-scroll">
                <span class="c-Icon_Arrow-down-l"></span>
                楽天モバイル（ドコモ回線・au回線）、旧FREETEL、YAMADA SIM PLUS、DMM mobileの契約者の契約者情報・契約内容の変更方法
              </a>
            </li>
          </ul>
    </div>
    <h2 class="c-Heading_Lv2 u-Adjust_Mt-40" id="contract_info">契約者情報の確認方法</h2>

    <p class="u-Adjust_Mt-16">契約者情報として登録している以下の項目をご確認いただけます。</p>

    <ul class="c-List_Text-disc u-Adjust_Mt-16">
      <li>契約者の名義、生年月日、性別</li>
      <li>連絡先電話番号、連絡先メールアドレス</li>
      <li>契約住所、請求先住所</li>
    </ul>


<div class="c-Tab js-Tab u-Adjust_Mt-40">
  <ul class="c-Tab_Items" role="tablist">
    <li class="c-Tab_Item" id="tab-menu3" role="tab" aria-selected="true" aria-controls="tab-content3">Webで確認する</li>
    <li class="c-Tab_Item" id="tab-menu4" role="tab" aria-selected="false" aria-controls="tab-content4">アプリで確認する</li>
  </ul>
  <div class="c-Tab_Panel" id="tab-content3" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu3">
    <ul class="u-Adjust_Mt-16 c-Flow">
      <li>
        <h4 class="c-Heading_Lv4">
          1. my 楽天モバイル「契約者情報」を開く
        </h4>
        <p class="u-Adjust_Mt-16 c-Txt_Cap">※「契約者情報へ進む」をタップしてログインすると、手順２の画面が表示されます。</p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/" class="c-Link_Txt">[my
            楽天モバイル]ログインできません</a>」をご確認ください。</p>
        <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
          <a href="https://portal.mobile.rakuten.co.jp/dashboard?scrollTo=contactInfo#personal-info" target="_blank" class="c-Btn_Secondly-large"
            data-ratId="guide_ecare_plans" data-ratEvent="click" data-ratParam="all">契約者情報へ進む</a>
        </p>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          2. 登録している「契約者情報」を確認する
        </h4>
        <div class="c-Accordion u-Adjust_Mt-16">
          <button id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
            ご契約時の情報を確認する場合
          </button>

          <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
            <h5 class="c-Heading_Lv5">1. 「契約情報」をタップする</h5>

            <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/users-information/img-11.png" alt="" class="c-Img_Capture"></p>

            <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">2. 「ご契約内容のダウンロード」をタップし、内容を確認する</h5>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/users-information/img-12.png" alt="" class="c-Img_Capture"></p>
          </div>
        </div>
        <p class="u-Adjust_Mt-24 u-Adjust_Align-center">
          <img src="<%= sitepath %>assets/img/guide/users-information/img-13.png" width="300" height="" alt="" class="c-Img_Capture">
        </p>
      </li>
    </ul>
  </div>

  <div class="c-Tab_Panel" id="tab-content4" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu4">
    <ul class="u-Adjust_Mt-16 c-Flow">
      <li>
        <h4 class="c-Heading_Lv4">
          1. my 楽天モバイルを起動する
        </h4>
        <div class="u-Adjust_Mt-24">
          <div class="c-Box_App">
            <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt="my 楽天モバイル"></div>
            <div class="c-Box_App-txt">
              <p class="c-Box_App-ttl">my 楽天モバイル</p>
              <p class="u-Adjust_Mt-8">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
              <ul class="c-Box_App-link u-Adjust_Mt-16">
                <li><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img
                      src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" height="44" alt=""></a></li>
                <li><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img
                      src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></li>
                <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          2. 画面下メニュー「ホーム」から「ご登録情報の表示・設定」をタップする
        </h4>
        <div>
          <div class="l-Media_Image">
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
                src="<%= sitepath %>assets/img/guide/users-information/img-14.png" width="300" height="" alt=""
                class="c-Img_Capture"></figure>
          </div>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          3. 「契約者情報」として登録している内容を確認する
        </h4>
        <div class="c-Accordion u-Adjust_Mt-16">
          <button id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
            ご契約時の情報を確認する場合
          </button>
          <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
            <h5 class="c-Heading_Lv5">1. 「契約情報」をタップする</h5>

            <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/users-information/img-11.png" alt="" class="c-Img_Capture"></p>

            <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">2. 「ご契約内容のダウンロード」をタップし、内容を確認する</h5>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/users-information/img-12.png" alt="" class="c-Img_Capture"></p>
          </div>
        </div>
        <p class="u-Adjust_Mt-24 u-Adjust_Align-center">
          <img src="<%= sitepath %>assets/img/guide/users-information/img-13.png" width="300" height="" alt="" class="c-Img_Capture">
        </p>
      </li>
    </ul>
  </div>
</div>
<p class="u-Adjust_Mt-32">以上で完了です。</p>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-40" id="contract_confirm">契約内容の確認方法</h2>

    <p class="u-Adjust_Mt-16">契約内容に関する以下の情報をご確認いただけます。</p>

    <ul class="c-List_Text-disc u-Adjust_Mt-16">
      <li>契約中の電話番号</li>
      <li>契約中のオプションサービス</li>
      <li>プラン利用開始日（課金開始日）</li>
      <li>通話サービス・保証サービスを除くオプションサービスの利用開始日</li>
    </ul>


<div class="c-Tab js-Tab u-Adjust_Mt-40">
  <ul class="c-Tab_Items" role="tablist">
    <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">Webで確認する</li>
    <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">アプリで確認する</li>
  </ul>
  <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
    <ul class="u-Adjust_Mt-16 c-Flow">
      <li>
        <h4 class="c-Heading_Lv4">
          1. my 楽天モバイル「契約プラン」画面を開く
        </h4>
        <p class="u-Adjust_Mt-16 c-Txt_Cap">※「契約プランへ進む」をタップしてログインすると、手順２の画面が表示されます。</p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/" class="c-Link_Txt">[my
            楽天モバイル]ログインできません</a>」をご確認ください。</p>
        <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
          <a href="https://portal.mobile.rakuten.co.jp/dashboard#plans" target="_blank" class="c-Btn_Secondly-large"
            data-ratId="guide_ecare_plans" data-ratEvent="click" data-ratParam="all">契約プランへ進む</a>
        </p>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          2. 契約内容を確認する
        </h4>
        <div class="c-Accordion u-Adjust_Mt-16">
          <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
            楽天モバイルを2回線以上ご契約中の場合
          </button>

          <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
            <p>手続きを行う電話番号が表示されているか、事前にご確認ください。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※一番最後にご契約された電話番号が自動で表示されています。<br>※表示されている電話番号を切替えた場合、my 楽天モバイルからログアウト（自動ログアウト含む）するまでは切替えた状態が維持されます。</p>
            <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">電話番号の切替え方法</h4>

            <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">1 表示されている電話番号をタップする</h5>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/users-information/tel_01_20221220.png" alt="" class="c-Img_Capture"></p>

            <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">2 手続きを行う電話番号をタップする</h5>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/users-information/tel_02_20221220.png" alt="" class="c-Img_Capture"></p>

            <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">3 選択した電話番号が表示されていることを確認する</h5>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/users-information/tel_03_20221220.png" alt="" class="c-Img_Capture"></p>
            <p class="u-Adjust_Mt-16">以上で完了です。手順2の操作へお進みください。</p>
          </div>
        </div>
        <p class="c-Txt_Emp-02 u-Adjust_Mt-16">※オプションサービスに加入していない場合、「ご加入中のオプションサービス」欄は表示されません。</p>
        <p class="u-Adjust_Mt-24 u-Adjust_Align-center">
          <img src="<%= sitepath %>assets/img/guide/users-information/img-15.png" width="300" height="" alt="" class="c-Img_Capture">
        </p>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          3. プラン名の右にある「i」マークをタップする
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
              src="<%= sitepath %>assets/img/guide/users-information/img-08-230919.png" width="300" height="" alt=""
              class="c-Img_Capture"></figure>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          4. ポップアップが表示されたら「プラン・サービスの利用開始日を見る」をタップする
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
              src="<%= sitepath %>assets/img/guide/users-information/img-09-230919.png" width="300" height="" alt=""
              class="c-Img_Capture"></figure>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          5. ご契約のプラン・サービスとその利用開始日が表示される
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
              src="<%= sitepath %>assets/img/guide/users-information/img-10-230919.png" width="300" height="" alt=""
              class="c-Img_Capture"></figure>
        </div>
      </li>
    </ul>
  </div>

  <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
    <ul class="u-Adjust_Mt-16 c-Flow">
      <li>
        <h4 class="c-Heading_Lv4">
          1. my 楽天モバイルを起動する
        </h4>
        <div class="u-Adjust_Mt-24">
          <div class="c-Box_App">
            <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt="my 楽天モバイル"></div>
            <div class="c-Box_App-txt">
              <p class="c-Box_App-ttl">my 楽天モバイル</p>
              <p class="u-Adjust_Mt-8">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
              <ul class="c-Box_App-link u-Adjust_Mt-16">
                <li><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img
                      src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" height="44" alt=""></a></li>
                <li><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img
                      src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></li>
                <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          2. 画面下の「契約プラン」をタップする
        </h4>
        <div>
          <p class="u-Adjust_Mt-16">現在の通話サービスやオプションサービスのご契約状況をご確認いただけます。</p>
          <div class="l-Media_Image">
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
                src="<%= sitepath %>assets/img/guide/users-information/img-01.png?210930" width="300" height="" alt=""
                class="c-Img_Capture"></figure>
          </div>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          3. 契約内容を確認する
        </h4>
        <div class="c-Accordion u-Adjust_Mt-16">
          <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
            楽天モバイルを2回線以上ご契約中の場合
          </button>
          <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
            <p>手続きを行う電話番号が表示されているか、事前にご確認ください。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">
              ※一番最後にご契約された電話番号が自動で表示されています。<br>※表示されている電話番号を切替えた場合、my 楽天モバイルアプリからのログアウト、またアプリを強制的に終了するまでは切替えた状態が維持されます。
            </p>
            <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">電話番号の切替え方法</h4>

            <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">1 表示されている電話番号をタップする</h5>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/users-information/tel_01_20221220.png" alt="" class="c-Img_Capture"></p>

            <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">2 手続きを行う電話番号をタップする</h5>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/users-information/tel_04_20221220.png" alt="" class="c-Img_Capture"></p>

            <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">3 選択した電話番号が表示されていることを確認する</h5>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/users-information/tel_03_20221220.png" alt="" class="c-Img_Capture"></p>
            <p class="u-Adjust_Mt-16">以上で完了です。手順3の操作へお進みください。</p>
          </div>
        </div>
        <p class="c-Txt_Emp-02 u-Adjust_Mt-16">※オプションサービスに加入していない場合、「ご加入中のオプションサービス」欄は表示されません。</p>
        <p class="u-Adjust_Mt-24 u-Adjust_Align-center">
          <img src="<%= sitepath %>assets/img/guide/users-information/img-15.png" width="300" height="" alt="" class="c-Img_Capture">
        </p>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          4. プラン名の右にある「i」マークをタップする
        </h4>
        <div>
          <div class="l-Media_Image">
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
                src="<%= sitepath %>assets/img/guide/users-information/img-08-230919.png" width="300" height="" alt=""
                class="c-Img_Capture"></figure>
          </div>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          5. ポップアップが表示されたら「プラン・サービスの利用開始日を見る」をタップする
        </h4>
        <div>
          <div class="l-Media_Image">
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
                src="<%= sitepath %>assets/img/guide/users-information/img-09-230919.png" width="300" height="" alt=""
                class="c-Img_Capture"></figure>
          </div>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          6. ご契約のプラン・サービスとその利用開始日が表示される
        </h4>
        <div>
          <div class="l-Media_Image">
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
                src="<%= sitepath %>assets/img/guide/users-information/img-10-230919.png" width="300" height="" alt=""
                class="c-Img_Capture"></figure>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<p class="u-Adjust_Mt-32">以上で完了です。</p>


<h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="contract_change">契約者情報・契約内容の変更方法</h2>

<h2 class="c-Heading_Lv3 u-Adjust_Mt-32" id="contract_change">契約者情報を変更する</h2>

<p class="u-Adjust_Mt-16">契約者情報として登録している各種情報の変更方法は、以下よりご確認ください。</p>

<p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">※楽天IDの会員情報を変更しても、楽天モバイルの契約者情報は変更されません。my 楽天モバイルなどで変更手続きを行ってください。</p>

<div class="c-Accordion u-Adjust_Mt-16">
  <button id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
    メールアドレスの変更方法
  </button>
  <div id="accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-5" aria-hidden="true">
    <p>ご契約時に登録したメールアドレスは、my 楽天モバイルで変更のお手続きができます。</p>
    <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
      <a href="<%= sitepath %>guide/change-email/" target="_blank" class="c-Btn_Secondly-large">メールアドレスの変更方法を確認する</a>
    </p>
  </div>
</div>
<div class="c-Accordion">
  <button id="accordion-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-6"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
    契約住所の変更方法
  </button>
  <div id="accordion-content-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-6" aria-hidden="true">
    <p>契約住所は、my 楽天モバイルで変更のお手続きができます。</p>
    <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
      <a href="<%= sitepath %>guide/change-address/" target="_blank" class="c-Btn_Secondly-large">契約住所の変更方法を確認する</a>
    </p>
  </div>
</div>
<div class="c-Accordion">
  <button id="accordion-7" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-7"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
    請求先住所の変更方法
  </button>
  <div id="accordion-content-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-7" aria-hidden="true">
    <p>請求先住所は、my 楽天モバイルで変更のお手続きができます。</p>
    <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
      <a href="<%= sitepath %>guide/change-billing-address/" target="_blank" class="c-Btn_Secondly-large">請求先住所の変更方法を確認する</a>
    </p>
  </div>
</div>
<div class="c-Accordion">
  <button id="accordion-8" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-8"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
    性別の変更方法
  </button>
  <div id="accordion-content-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-8" aria-hidden="true">
    <p>登録した性別から変更が必要な場合は、my 楽天モバイルからコミュニケーションセンターまでお問い合わせください。</p>
    <p class="c-Txt_Cap u-Adjust_Mt-16">※チャットのご利用にはログインが必要です。</p>
    <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
      <a href="https://portal.mobile.rakuten.co.jp/technical-operation?action=supportChat" class="c-Btn_Secondly-large">チャットで問い合わせる</a>
    </p>
  </div>
</div>
<div class="c-Accordion">
  <button id="accordion-9" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-9"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
    生年月日の変更方法
  </button>
  <div id="accordion-content-9" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-9" aria-hidden="true">
    <p>楽天モバイルをご利用中に生年月日を変更することはできません。<br>
      <br>
      万が一、登録した生年月日に関するお困りごとがある場合は、my 楽天モバイルからコミュニケーションセンターまでお問い合わせください。</p>
    <p class="c-Txt_Cap u-Adjust_Mt-16">※チャットのご利用にはログインが必要です。</p>
    <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
      <a href="https://portal.mobile.rakuten.co.jp/technical-operation?action=supportChat" class="c-Btn_Secondly-large">チャットで問い合わせる</a>
    </p>
  </div>
</div>
<div class="c-Accordion">
  <button id="accordion-10" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-10"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
    連絡先電話番号の変更方法
  </button>
  <div id="accordion-content-10" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-10" aria-hidden="true">
    <p>登録した連絡先電話番号の変更に関しては、my 楽天モバイルからコミュニケーションセンターまでお問い合わせください。</p>
    <p class="c-Txt_Cap u-Adjust_Mt-16">※チャットのご利用にはログインが必要です。</p>
    <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
      <a href="https://portal.mobile.rakuten.co.jp/technical-operation?action=supportChat" class="c-Btn_Secondly-large">チャットで問い合わせる</a>
    </p>
  </div>
</div>

<h2 class="c-Heading_Lv3 u-Adjust_Mt-32" id="contract_change">契約内容を変更する</h2>

<p class="u-Adjust_Mt-16">「通話サービス」や「オプションサービス」の契約状況の変更方法は、以下よりご確認ください。</p>

<div class="c-Accordion u-Adjust_Mt-16">
  <button id="accordion-11" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-11"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
    通話サービスの追加・解約（一時停止）・設定方法
  </button>
  <div id="accordion-content-11" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-11" aria-hidden="true">
    <p>通話サービスは、my 楽天モバイルで変更のお手続きができます。</p>
    <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
      <a href="<%= sitepath %>guide/call-service-settings/" target="_blank" class="c-Btn_Secondly-large">通話サービスの追加・解約（一時停止）・設定方法を確認する</a>
    </p>
  </div>
</div>
<div class="c-Accordion">
  <button id="accordion-12" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-12"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
    オプションサービスの追加・解約方法
  </button>
  <div id="accordion-content-12" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-12" aria-hidden="true">
    <p>オプションサービスは、my 楽天モバイルで変更のお手続きができます。</p>
    <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
      <a href="<%= sitepath %>guide/change-options/" target="_blank" class="c-Btn_Secondly-large">オプションサービスの追加・解約方法を確認する</a>
    </p>
  </div>
</div>

<h2 class="c-Heading_Lv2 u-Adjust_Mt-48" id="rakutenmobile">楽天モバイル(ドコモ回線・au回線)、旧FREETEL、YAMADA SIM PLUS、DMM mobileをご利用の場合</h2>
<h2 class="c-Heading_Lv3 u-Adjust_Mt-32">楽天モバイル(ドコモ回線・au回線)の契約者情報の変更方法</h2>
<p class="u-Adjust_Mt-16 u-Adjust_Mb-16">楽天モバイル（ドコモ回線・au回線）ご利用中の方は、メンバーズステーションで契約者情報・契約の内容の確認と変更ができます。</p>

<dl class="c-Dl_Origin u-Adjust_Mt-16">
  <div>
    <dt>対象プラン</dt>
    <dd>
      <ul class="c-List_Text-disc">
        <li>スーパーホーダイ</li>
        <li>組み合わせプラン</li>
        <li>コミコミプラン</li>
      </ul>
    </dd>
  </div>
</dl>

<p class="u-Adjust_Mt-16 u-Adjust_Mb-16">メンバーズステーションへログイン後、内容の確認・変更手続きを行ってください。</p>
<p class="u-Adjust_Mt-16 u-Adjust_Mb-16">※ログインが行えない場合は「<a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten">メンバーズステーションへは、どうしたらログインできますか</a>」をご確認ください。</p>

<p class="u-Adjust_Mt-16 u-Adjust_Align-center">
  <a href="https://mobile.faq.rakuten.net/s/detail/000004620" target="_blank" class="c-Btn_Regular">メンバーズステーションにアクセスする<span class="c-Icon_New-window-l"></span></a>
</p>

<h2 class="c-Heading_Lv2 u-Adjust_Mt-32">旧FREETELの契約者情報の変更方法</h2>
<p class="u-Adjust_Mt-16">マイページでお手続きいただけます。</p>
<p class="u-Adjust_Mt-16 u-Adjust_Align-center">
  <a href="https://mypage.freetel.jp/login" target="_blank" class="c-Btn_Regular" rel="noopener noreferrer">FREETELマイページにアクセスする<span class="c-Icon_New-window-l"></span></a>
</p>
<h2 class="c-Heading_Lv2 u-Adjust_Mt-32">DMM mobileの契約者情報の変更方法</h2>
<p class="u-Adjust_Mt-16">マイページでお手続きいただけます。</p>
<p class="u-Adjust_Mt-16 u-Adjust_Align-center">
  <a href="https://mvno.dmm.com/mypage/-/status/log/" target="_blank" class="c-Btn_Regular" rel="noopener noreferrer">DMM mobileマイページにアクセスする<span class="c-Icon_New-window-l"></span></a>
</p>
<h2 class="c-Heading_Lv2 u-Adjust_Mt-32">YAMADA SIM PLUSの契約者情報の変更方法</h2>
<p class="u-Adjust_Mt-16">クレジットカード情報のみ変更いただけます。<br>その他の情報を変更する場合、マイページからお問い合わせください。</p>
<p class="u-Adjust_Mt-16 u-Adjust_Align-center u-Adjust_Mb-40">
  <a href="https://yam-mypage.freetel.jp/login" target="_blank" class="c-Btn_Regular" rel="noopener noreferrer">YAMADA SIM PLUSマイページにアクセスする<span class="c-Icon_New-window-l"></span></a>
</p>

<%- include('/include/guide/_faq') %>
  </div>
</div>




<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>

  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>



</body>
</html>
