<% const pagetitle = "スペック詳細" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/smartphone/", label:"Android"}, {path:"product/smartphone/reno-a/", label:"OPPO Reno A 128GB"}] -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '「OPPO Reno A 128GB（OPPO）｜オッポ リノエー（オッポ）」のスペック詳細。カメラ機能・容量・色・サイズ（解像度）・バッテリー持ちなど性能についてご覧いただけます',
    noindex: false,
    pathname: 'product/smartphone/reno-a/spec.html'
  });
%>

<%- include('/include/_common-css-v2') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<%- include('/include/_breadcrumbs', {
  type: 'head',
  pagetitle,
  directories,
}) %>

<div class="u-Adjust_Pb-64">
  <div class="l-System_Container u-Adjust_Mt-32">
    <h1 class="c-Heading_Lv1">OPPO Reno A 128GB</h1>

    <div class="u-Adjust_Mt-24 c-Accordion">
      <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>基本スペック</button>
      <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="false">
        <dl class="c-Dl">
          <div>
            <dt>メーカー</dt>
            <dd>
            オウガ・ジャパン株式会社
            </dd>
          </div>
          <div>
            <dt>製品名</dt>
            <dd>
              OPPO Reno A 128GB
            </dd>
          </div>
          <div>
            <dt>色</dt>
            <dd>
              ブルー / ブラック
            </dd>
          </div>
          <div>
            <dt>サイズ</dt>
            <dd>
              約158.4 x 約75.4 x 約7.8 (mm)
            </dd>
          </div>
          <div>
            <dt>重量</dt>
            <dd>
              約169.5g
            </dd>
          </div>
          <div>
            <dt>ディスプレイ</dt>
            <dd>
              <p>サイズ / 種類</p>
              約6.4インチ / AMOLED
              <p class="u-Adjust_Mt-16">解像度</p>
              FHD+ / 2,340 × 1,080
            </dd>
          </div>
          <div>
            <dt>CPU</dt>
            <dd>
              Qualcomm® Snapdragon™ 710 / オクタコア 2.2GHz + 1.7GHz
            </dd>
          </div>
          <div>
            <dt>OS</dt>
            <dd>
              Android™ 9 Pie
            </dd>
          </div>
          <div>
            <dt>内蔵メモリ（RAM / ROM）</dt>
            <dd>
              6GB (RAM) / 128GB (ROM)※楽天モバイル限定
            </dd>
          </div>
          <div>
            <dt>外部メモリ</dt>
            <dd>
              micro SDXC™ (最大 256GB)
            </dd>
          </div>

          <div>
            <dt>バッテリー容量</dt>
            <dd>
              約3,600mAh
            </dd>
          </div>

          <div>
            <dt>ワイヤレス充電</dt>
            <dd>
              非対応
            </dd>
          </div>
          <div>
            <dt>連続待受時間</dt>
            <dd>
              <p>LTE</p>
              約300時間
              <p class="u-Adjust_Mt-16">3G</p>
              約300時間
              <p class="u-Adjust_Mt-16">GSM</p>
              約300時間
            </dd>
          </div>
          <div>
            <dt>連続通話時間</dt>
            <dd>
              <p>LTE</p>
              約21時間
              <p class="u-Adjust_Mt-16">3G</p>
              約24時間
              <p class="u-Adjust_Mt-16">GSM</p>
              約30時間
            </dd>
          </div>
          <div>
            <dt>通信速度※1</dt>
            <dd>
              <p>LTE 受信時</p>
              200Mbps
              <p class="u-Adjust_Mt-16">LTE 送信時</p>
              75Mbps
            </dd>
          </div>
          <div>
            <dt>SIM</dt>
            <dd>
              nanoSIM x 2
            </dd>
          </div>
          <div>
            <dt>ワンセグ / フルセグ</dt>
            <dd>
              非対応 / 非対応
            </dd>
          </div>
          <div>
            <dt>おサイフケータイ</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>NFC</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>防水 / 防塵</dt>
            <dd>
              対応 (IPX7 / IP6X)
            </dd>
          </div>
          <div>
            <dt>耐衝撃</dt>
            <dd>
              非対応
            </dd>
          </div>
          <div>
            <dt>生体認証（指紋 / 顔）</dt>
            <dd>
              対応 / 対応
            </dd>
          </div>
          <div>
            <dt>急速充電</dt>
            <dd>
              非対応
            </dd>
          </div>
          <div>
            <dt>付属品</dt>
            <dd>

                ケース / 保護フィルム（貼付済み） /

                ACアダプタ /

                USB Type-Cケーブル /

                3.5ｍｍ　イヤホン /

                安全ガイド / クイックガイド /

                SIM取り出しツール /
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>通信</button>
      <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
        <dl class="c-Dl">
          <div>
            <dt>VoLTE（Rakuten / docomo / au / SoftBank）</dt>
            <dd>
                対応 / 対応 / 対応 / 非対応
            </dd>
          </div>
          <div>
            <dt>4x4 MIMO</dt>
            <dd>
              非対応
            </dd>
          </div>
          <div>
            <dt>256 QAM</dt>
            <dd>
              非対応
            </dd>
          </div>
          <div>
            <dt>Wi-Fi</dt>
            <dd>
                IEEE802.11 a/b/g/n/ac
            </dd>
          </div>
          <div>
            <dt>テザリング</dt>
            <dd>
              10台
            </dd>
          </div>
          <div>
            <dt>Bluetooth&reg;</dt>
            <dd>
              ver 5.0
            </dd>
          </div>
          <div>
            <dt>赤外線通信</dt>
            <dd>
              非対応
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>カメラ</button>
      <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
        <p class="c-Txt_Emp-01 u-Adjust_Pt-32 u-Adjust_Pb-16">メインカメラ（外側）</p>
        <dl class="c-Dl">
          <div>
            <dt>解像度</dt>
            <dd>
              約1,600万画素 (カラー) + 約200万画素 (カラー)
            </dd>
          </div>
          <div>
            <dt>オプティカルズーム（写真 / 動画） ※最大</dt>
            <dd>
              非対応
            </dd>
          </div>
          <div>
            <dt>デジタルズーム（写真 / 動画） ※最大</dt>
            <dd>
               約10倍 / 10倍
            </dd>
          </div>
          <div>
            <dt>手振れ補正（写真 / 動画）</dt>
            <dd>
              非対応 / 対応
            </dd>
          </div>
          <div>
            <dt>オートフォーカス</dt>
            <dd>
               対応
            </dd>
          </div>
          <div>
            <dt>F値</dt>
            <dd>
               f/1.7, f/2.4
            </dd>
          </div>
          <div>
            <dt>ISO（最大）</dt>
            <dd>
               9,000, 9,000
            </dd>
          </div>
          <div>
            <dt>HDR</dt>
            <dd>
               対応
            </dd>
          </div>
          <div>
            <dt>LEDフラッシュ</dt>
            <dd>
               対応
            </dd>
          </div>
          <div>
            <dt>AIカメラ</dt>
            <dd>
               対応
            </dd>
          </div>
        </dl>

        <p class="c-Txt_Emp-01 u-Adjust_Pt-32 u-Adjust_Pb-16">フロントカメラ（内側）</p>
        <dl class="c-Dl">
          <div>
            <dt>解像度</dt>
            <dd>
              約2,500万画素
            </dd>
          </div>
          <div>
            <dt>オプティカルズーム（写真 / 動画） ※最大</dt>
            <dd>
              非対応
            </dd>
          </div>
          <div>
            <dt>デジタルズーム（写真 / 動画） ※最大</dt>
            <dd>
              非対応
            </dd>
          </div>
          <div>
            <dt>手振れ補正（写真 / 動画）</dt>
            <dd>
              非対応 / 非対応
            </dd>
          </div>
          <div>
            <dt>オートフォーカス</dt>
            <dd>
               対応
            </dd>
          </div>
          <div>
            <dt>F値</dt>
            <dd>
               f/2
            </dd>
          </div>
          <div>
            <dt>ISO（最大）</dt>
            <dd>
               3,200
            </dd>
          </div>
          <div>
            <dt>HDR</dt>
            <dd>
               対応
            </dd>
          </div>
          <div>
            <dt>LEDフラッシュ</dt>
            <dd>
              非対応
            </dd>
          </div>
          <div>
            <dt>AIカメラ</dt>
            <dd>
               対応
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>その他</button>
      <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
        <dl class="c-Dl">
          <div>
            <dt>ハイレゾ・オーディオ</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>緊急速報機能</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>イヤホンマイクジャック</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>USB</dt>
            <dd>
              USB Type-C / USB 2.0
            </dd>
          </div>
          <div>
            <dt>GPS</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>動画コーデック</dt>
            <dd>

                  H.263 /

                  H.264 /

                  H.265 /

                  MPEG-2 Video /

                  MPEG-4 Video /

                  VP8 /

                  VP9 /

                  Xvid /
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>対応周波数</button>
      <div id="accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-5" aria-hidden="true">
        <dl class="c-Dl">
          <div>
            <dt>FDD-LTE</dt>
            <dd>

                  Band 1 (2.1GHz) /

                  Band 2 (1.9GHz) /

                  Band 3 (1.8GHz) /

                  Band 4 (1.7GHz/2.1GHz AWS) /

                  Band 5 (850MHz) /

                  Band 7 (2.6GHz) /

                  Band 8 (900MHz) /

                  Band 18 (800MHz) /

                  Band 19 (800MHz) /

                  Band 26 (800MHz) /

                  Band 28 (700MHz APT) /
            </dd>
          </div>
          <div>
            <dt>TD-LTE</dt>
            <dd>

                  Band 38 (2.6GHz) /

                  Band 39 (1.9GHz) /

                  Band 40 (2.3GHz) /

                  Band 41 (2.5GHz) /
            </dd>
          </div>
          <div>
            <dt>WCDMA</dt>
            <dd>

                  Band I (2.1GHz) /

                  Band II (1.9GHz) /

                  Band IV (1.7GHz/2.1GHz AWS) /

                  Band V (850MHz) /

                  Band VI (800MHz) /

                  Band VIII (900MHz) /

                  Band X IX (800MHz) /
            </dd>
          </div>
          <div>
            <dt>GSM</dt>
            <dd>

                  850MHz /

                  900MHz /

                  1.8GHz /

                  1.9GHz
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <ul class="c-Txt_Cap u-Adjust_Mt-32">
      <!-- <li><span>※1</span>発売時点のOSのバージョンを記載しています。最新のOSバージョン情報は<a href="<%= sitepath %>information/software/reno-a/">こちら</a>をご確認ください。</li> -->
      <li>※1 通信速度は、ベストエフォート方式による理論値であり、実際の通信速度は通信環境やネットワークの混雑状況によって変化します。</li>
    </ul>
    <p class="u-Adjust_Mt-32"><a href="<%= sitepath %>product/smartphone/reno-a/" class="c-Link_Txt-icon-front"><span class="c-Icon_Chevron-left"></span>製品詳細へ戻る</a></p>

  </div>
</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">
    <%- include('/include/footer/related/_related-product-v2.ejs') %>
  </div>
  <div class="l-System_Container">
    <%- include('/include/_breadcrumbs', {
      type: 'foot',
      pagetitle,
      directories,
    }) %>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
