<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "光回線の通信速度改善" -%>
<% const directories = [{path: hikariroot.path + "support/", label:"お客様サポート"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天ひかり回線の通信速度をもっと早くするには？通信速度を改善するための、回線、LAN、ルーター/Wi-Fi、PC、配線、計5箇所の見直し案をご案内します。',
    noindex: false,
    pathname: filepath,
    ishikari: true,
    canonical_custom: 'https://network.mobile.rakuten.co.jp/hikari/support/speed/improvement/',
  });
%>
<%- include('/include/hikari/_common-v2-hikari-css') %>
<%- include('/include/hikari/_common-v2-hikari-css-only-hf') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/support-v2/support-v2.css?20240424">


<%- include('/include/_append-head-hikari') %>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>

<div class="l-System">
  <%- include('/hikari/include/_header', { headerType: 'normal', pagetitle: pagetitle, directories: directories, tax: false }) %>

  <div class="l-hikari-Section_Main">
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
      <p class="l-hikari-Section_Main-lead">インターネット通信を改善していくには様々な要因を考える必要があります。<br>
        主な改善箇所は、以下の5項目です。<br>
        各パートで改善できるところがないか見ていきましょう！</p>

        <ul class="hikari-support-Nav_Inline">
          <li><a href="#line" class="c-Link_Txt-inline js-scroll" data-ratId="rhk_improvement_inpage_anchor_line" data-ratEvent="click" data-ratParam="all">1. 回線<span class="c-Icon_Arrow-down-l"></span></a></li>
          <li><a href="#lan" class="c-Link_Txt-inline js-scroll" data-ratId="rhk_improvement_inpage_anchor_lan" data-ratEvent="click" data-ratParam="all">2. LAN<span class="c-Icon_Arrow-down-l"></span></a></li>
          <li><a href="#router" class="c-Link_Txt-inline js-scroll" data-ratId="rhk_improvement_inpage_anchor_router" data-ratEvent="click" data-ratParam="all">3. ルーター／Wi-Fi<span class="c-Icon_Arrow-down-l"></span></a></li>
          <li><a href="#pc" class="c-Link_Txt-inline js-scroll" data-ratId="rhk_improvement_inpage_anchor_pc" data-ratEvent="click" data-ratParam="all">4. パソコン<span class="c-Icon_Arrow-down-l"></span></a></li>
          <li><a href="#wiring" class="c-Link_Txt-inline js-scroll" data-ratId="rhk_improvement_inpage_anchor_wiring" data-ratEvent="click" data-ratParam="all">5. 配線<span class="c-Icon_Arrow-down-l"></span></a></li>
        </ul>

      <div class="l-hikari-Section_Sub-short">
        <h2 class="c-Heading_Lv2 hikari-support-Util_Mt-scroll" id="line">1. 回線</h2>

        <div class="l-hikari-Section_Sub-content-middle">
          <div class="hikari-support-Media">
            <img src="<%= sitepath %>assets/img/hikari/support/speed/improvement/img01-220911.png" alt="">
          </div>
        </div>


          <div class="l-hikari-Section_Sub-content-tall">
            <h3 class="c-Heading_Lv3">サービス</h3>
            <div class="u-Adjust_Mt-16">
              <div>
                <p>契約しているサービスに見直す余地がないか確認します。<br>
                  通信速度にかかわるIPv6に対応していれば利用開始の手続きを行ってみましょう。</p>
              </div>
              <div>
                <div class="c-Table_Wrap u-Adjust_Mt-16 hikari-support-Layout_Ipv-table">
                  <table class="c-Table_Container">
                    <thead>
                      <tr>
                        <th>サービス</th>
                        <th>IPv6対応状況</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><span>楽天ひかり</span></td>
                        <td><span>IPv6（IPoE／IPv4 over IPv6）に対応</span></td>
                      </tr>
                      <tr>
                        <td><span>楽天ブロードバンド提供のドコモ光</span></td>
                        <td><span>IPv6（IPoE）</span></td>
                      </tr>
                      <tr>
                        <td><span>楽天ブロードバンド提供のフレッツ光</span></td>
                        <td><span>非対応</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>


          <div class="u-Adjust_Mt-40">
            <h3 class="c-Heading_Lv3">回線プラン</h3>
            <p class="u-Adjust_Mt-16">回線タイプを確認し、速度上限の低いプランであれば見直しましょう。<br>
              主に100Mbps、200Mbps、1Gbpsと種類を分けてプランを提供しております。<br>
              ご利用回線の速度上限は、お手持ちの「ご契約内容のお知らせ」やメンバーズステーションで確認いただけます。<br>
              楽天ひかりで回線タイプを変更する場合はメンバーズステーションでお申し込みいただくか、以下の問い合わせ窓口までご連絡ください。
            </p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">
              ※ 速度はおおよその最大値で、記載の速度に達しない場合があります。ベストエフォート方式のためインターネット利用時の速度は機器や回線混雑状況等により異なります。
            </p>
          </div>

          <div class="c-Theme-Borderbox l-hikari-Section_Sub-content-tall">
            <h4 class="c-Heading_Lv4">記載例：ご契約内容のお知らせ</h4>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/speed/improvement/img02-220911.png" alt="">
              </div>
              <div>
                <p>「ご契約内容のお知らせ」サービス内容の備考欄に契約中の回線プランが記載されています。</p>
              </div>
            </div>
          </div>

          <div class="c-Theme-Borderbox l-hikari-Section_Sub-content-tall">
            <h4 class="c-Heading_Lv4">記載例：メンバーズステーション</h4>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/speed/improvement/img03-220911.png" alt="">
              </div>
              <div>
                <p>メンバーズステーションの登録情報・設定変更からご確認いただけます。</p>
              </div>
            </div>
          </div>

          <div class="l-hikari-Section_Sub-content-tall">
            <dl class="c-Dl_Origin">
                <div>
                    <dt>メンバーズステーション</dt>
                    <dd>
                        <p>メンバーズステーションにログイン後、「会員メニュー ＞ 登録情報・設定変更 ＞ 楽天ひかり 回線タイプ変更」よりお手続きください。</p>
                        <p class="u-Adjust_Mt-16">
                          <a href="https://ms.fusioncom.co.jp/rbb/members/login?campaign=web-rakuten" target="_blank" class="c-Link_Txt-inline">メンバーズステーションへログイン<span class="c-Icon_New-window-l"></span></a>
                        </p>
                    </dd>
                </div>
                <div>
                  <dt class="c-Txt_Emp">電話問い合わせ窓口</dt>
                  <dd><p>ご契約者様専用電話番号<br><a href="tel:0120-987-300">0120-987-300</a><br>受付時間：9:00〜18:00</p></dd>
              </div>
            </dl>
          </div>
      </div>

      <div class="l-hikari-Section_Sub-tall">
        <h2 class="c-Heading_Lv2 hikari-support-Util_Mt-scroll" id="lan">2. LAN</h2>

        <div class="l-hikari-Section_Sub-content-middle">
          <div class="hikari-support-Media">
            <img src="<%= sitepath %>assets/img/hikari/support/speed/improvement/img04-220911.png" alt="">
          </div>
        </div>


          <div class="l-hikari-Section_Sub-content-tall">
            <h3 class="c-Heading_Lv3">LANケーブル</h3>
            <div class="hikari-support-Layout_Column2">
              <div>
                <p>LANケーブルのカテゴリーが通信速度に影響します。LANケーブルのカテゴリーはCATxx（xxには数字や英字が入ります）で定められていて、一般的に数字が大きくなれば通信速度も改善する傾向にあります。</p>
              </div>
            <div>
              <div class="c-Table_Wrap">
                <table class="c-Table_Container">
                  <thead>
                    <tr>
                      <th>カテゴリ</th>
                      <th>通信速度</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><span>CAT8</span></td>
                      <td><span>40Gbps</span></td>
                    </tr>
                    <tr>
                      <td><span>CAT7</span></td>
                      <td><span>10Gbps</span></td>
                    </tr>
                    <tr>
                      <td><span>CAT6A</span></td>
                      <td><span>10Gbps</span></td>
                    </tr>
                    <tr>
                      <td><span>CAT6</span></td>
                      <td><span>1Gbps</span></td>
                    </tr>
                    <tr>
                      <td><span>CAT5e</span></td>
                      <td><span>1Gbps</span></td>
                    </tr>
                    <tr>
                      <td><span>CAT5</span></td>
                      <td><span>100Mbps</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        <div class="u-Adjust_Mt-40">
          <h3 class="c-Heading_Lv3">LANポート</h3>
          <p class="u-Adjust_Mt-16">ご使用されているパソコン等の機器を有線接続されている場合は、LANポートの規格も通信速度に影響してきます。LANポートの規格は10BASE-T、100BASE-TX、1000BASE-Tなどがあります。<br>
            高速通信するためには、1000BASE-T規格に対応した機器であることをおすすめいたします。</p>
        </div>
      </div>


      <div class="l-hikari-Section_Sub-tall">
        <h2 class="c-Heading_Lv2 hikari-support-Util_Mt-scroll" id="router">3. ルーター／Wi-Fi</h2>

          <div class="l-hikari-Section_Sub-content-middle">
            <div class="hikari-support-Media">
              <img src="<%= sitepath %>assets/img/hikari/support/speed/improvement/img05-220911.png" alt="">
            </div>
          </div>


          <div class="l-hikari-Section_Sub-content-tall">
            <h3 class="c-Heading_Lv3">Wi-Fi規格の確認</h3>
            <p class="u-Adjust_Mt-16">無線LAN機器等のスペックも通信速度に影響します。無線LAN機器等を介した通信は、ご利用の機器の規格に準拠した通信速度になります。一般的な無線LANの規格には 主に「a/b/g/n/ac」といった種類があり、ご利用の無線ルーターやパソコンがnやacに対応していないと速度が出ない場合があります。</p>
            <div class="l-hikari-Section_Sub-content-middle">
              <div class="c-Table_Wrap-scroll c-Table-Scroll js-scrollable">
                <table class="c-Table_Container" style="width:1032px">
                  <thead>
                    <tr>
                      <th>無線LANの規格</th>
                      <th>周波数帯域</th>
                      <th>通信速度</th>
                      <th>メリット</th>
                      <th>デメリット</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><span>IEEE802.11a</span></td>
                      <td><span>5GHz</span></td>
                      <td><span>最大54Mbps</span></td>
                      <td><span>混信がない</span></td>
                      <td><span>障害物に弱い。 11bと互換性なし</span></td>
                    </tr>
                    <tr>
                      <td><span>IEEE802.11b</span></td>
                      <td><span>2.4GHz</span></td>
                      <td><span>最大11Mbps</span></td>
                      <td><span>多くの製品に対応</span></td>
                      <td><span>速度が遅い</span></td>
                    </tr>
                    <tr>
                      <td><span>IEEE802.11g</span></td>
                      <td><span>2.4GHz</span></td>
                      <td><span>最大54Mbps</span></td>
                      <td><span>11bと互換性あり</span></td>
                      <td><span>混信あり</span></td>
                    </tr>
                    <tr>
                      <td><span>IEEE802.11n</span></td>
                      <td><span>2.4GHz/5GHz</span></td>
                      <td><span>最大450Mbps</span></td>
                      <td><span>速度が早い</span></td>
                      <td><span>特になし</span></td>
                    </tr>
                    <tr>
                      <td><span>IEEE802.11ac</span></td>
                      <td><span>5GHz</span></td>
                      <td><span>最大1.3Gbps</span></td>
                      <td><span>速度が速い<br>混信がない</span></td>
                      <td><span>障害物に弱い</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        <div class="u-Adjust_Mt-40">
          <h3 class="c-Heading_Lv3">Wi-Fi環境の確認</h3>
          <p class="u-Adjust_Mt-16">ルーターと通信機器を無線で接続する場合は以下の点に注意しましょう。</p>
        </div>

        <div class="u-Adjust_Mt-32">
          <h4 class="c-Heading_Lv4">ルーターと通信機器の間に距離や物理的遮蔽物がないかを確認</h4>
            <div class="l-Media_Grid u-Adjust_Mt-16">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/speed/improvement/img11-220911.png" alt="">
              </div>
              <div>
                <p>通信機器とルーターが極度に離れていたり、間に物理的な遮蔽物がある場合は、Wi-Fiの電波が届きにくくなる場合があります。<br>
                  なるべくルーターと通信機器の距離を短くし、遮蔽物を取り除くようにしましょう。</p>
              </div>
            </div>
        </div>

        <div class="u-Adjust_Mt-32">
          <h4 class="c-Heading_Lv4">電子レンジといった電波を発する電子機器の近くで使用していないかを確認</h4>
          <div class="l-Media_Grid u-Adjust_Mt-16">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/hikari/support/speed/improvement/img12-220911.png" alt="">
            </div>
            <div>
              <p>一部の家電とWi-Fiの周波数が同じになる場合があり、電波干渉を受けて通信が不安定になることがあります。 その際、ルーターの周波数を変更すると通信状況が改善する場合があります。</p>
            </div>
          </div>
        </div>


      </div>


      <div class="l-hikari-Section_Sub-tall">
        <h2 class="c-Heading_Lv2 hikari-support-Util_Mt-scroll" id="pc">4. パソコン</h2>

          <div class="l-hikari-Section_Sub-content-middle">
            <div class="hikari-support-Media">
              <img src="<%= sitepath %>assets/img/hikari/support/speed/improvement/img06-220911.png" alt="">
            </div>
          </div>

          <div class="l-hikari-Section_Sub-content-tall">
            <h3 class="c-Heading_Lv3">セキュリティソフトの確認</h3>
            <p class="u-Adjust_Mt-16">セキュリティソフトのウイルス監視処理で速度低下する場合があります。設定の見直しやセキュリティソフトの入れ替えを検討しましょう。
              またセキュリティソフトが複数インストールされている場合は、不要なソフトをアンインストールしてください。</p>
          </div>
      </div>

      <div class="l-hikari-Section_Sub-tall">
        <h2 class="c-Heading_Lv2 hikari-support-Util_Mt-scroll" id="wiring">5. 配線</h2>

          <div class="l-hikari-Section_Sub-content-middle">
            <div class="hikari-support-Media">
              <img src="<%= sitepath %>assets/img/hikari/support/speed/improvement/img07-220911.png" alt="">
            </div>
          </div>



          <div class="l-hikari-Section_Sub-content-tall">
            <h3 class="c-Heading_Lv3">お住まいの配線方式の確認</h3>
            <div class="hikari-support-Layout_Column2">
              <div>
                <p>マンションや集合住宅にお住まいの方におかれましては、お住まいの建物ごとに配線方式が 定められており、その配線方式によって通信速度に影響する場合もありますので、新住居をご検討される際には考慮に入れていただいてもよいかもしれません。</p>
              </div>
              <div>
                <div class="c-Table_Wrap">
                  <table class="c-Table_Container">
                    <thead>
                      <tr>
                        <th>配線方式</th>
                        <th>通信速度目安<span class="c-Txt_Cap">※</span></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><span>光配線方式</span></td>
                        <td><span>1Gbps</span></td>
                      </tr>
                      <tr>
                        <td><span>LAN配線方式</span></td>
                        <td><span>100Mbps～</span></td>
                      </tr>
                      <tr>
                        <td><span>VDSL方式</span></td>
                        <td><span>100Mbps</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※ 速度はおおよその最大値で、記載の速度に達しない場合があります。ベストエフォート方式のためインターネット利用時の速度は機器や回線混雑状況等により異なります。</p>
              </div>
          </div>
        </div>
      </div>

      <div class="l-hikari-Section_Sub-short">
        <div class="l-hikari-Section_Sub-content-tall">
          <h3 class="c-Heading_Lv3">光配線方式</h3>
          <div class="l-Media_Grid u-Adjust_Mt-8">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/hikari/support/speed/improvement/img08-220911.png" alt="">
            </div>
            <div>
              <h4 class="c-Heading_Lv4">光配線方式（専有型）の特長</h4>
                <ul class="c-List_Text-disc u-Adjust_Mt-8">
                  <li>すべての住居に1本ずつ光回線を引き込む。</li>
                  <li>各戸に安定したインターネット環境を供給。</li>
                </ul>
            </div>
          </div>
        </div>

        <div class="u-Adjust_Mt-40">
          <h3 class="c-Heading_Lv3">LAN配線方式</h3>
          <div class="l-Media_Grid u-Adjust_Mt-8">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/hikari/support/speed/improvement/img09-220911.png" alt="">
            </div>
            <div>
              <h4 class="c-Heading_Lv4">LAN方式（シェアード型）の特長</h4>
                <ul class="c-List_Text-disc u-Adjust_Mt-16">
                  <li>マンションの建物までは光回線が接続され、各戸へはLANケーブルで接続。</li>
                </ul>
            </div>
          </div>
        </div>

        <div class="u-Adjust_Mt-40">
          <h3 class="c-Heading_Lv3">VDSL方式</h3>
          <div class="l-Media_Grid u-Adjust_Mt-8">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/hikari/support/speed/improvement/img10-220911.png" alt="">
            </div>
            <div>
              <h4 class="c-Heading_Lv4">VDSL方式（シェアード型）の特長</h4>
                <ul class="c-List_Text-disc u-Adjust_Mt-16">
                  <li>マンションの建物までは光回線ですが、各戸へは一般電話回線（メタルケーブル）での接続。</li>
                </ul>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>


  <footer class="g-Footer">
    <%- include('/hikari/include/_footer', { pagetitle: pagetitle, directories: directories, hiddenFooterCta: true, hiddenCta: true }) %>
  </footer>

</div>
<%- include('/include/hikari/_common-js') %>
<script src="<%= sitepath %>assets/js/hikari/support.speed.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
