<% const pagetitle = "契約者情報の変更手続き（改姓・改名）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/contract-detail/confirmation/", label:"契約内容の確認・変更"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'ご契約者様のお名前が変わった場合のお手続きついてご案内します。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "契約者情報の変更手続き（改姓・改名）" -%>
<% const nameSpace = "contractor-name-change" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/contractor-name-change/contractor-name-change.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="l-System_Container">
  <h1 class="c-Heading_Lv1 u-Adjust_Mt-24"><%= pagetitle %></h1>
  <p class="u-Adjust_Mt-16">
    ご契約者様のお名前が変わった場合のお手続きについてご案内します。<br>
    契約者情報の変更とあわせて、楽天モバイルのお支払い方法の名義変更もお願いいたします。
  </p>
  <ul class="c-Txt_Cap u-Adjust_Mt-8">
    <li>※楽天モバイル（ドコモ回線・au回線）をご利用中の方は<a href="https://mobile.faq.rakuten.net/s/detail/000004839/" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">楽天モバイルヘルプページ<span class="c-Icon_New-window-l"></span></a>をご確認ください。</li>
    <li>※通信サービスの契約者をご家族、第三者へと変更する場合は「<a href="<%= sitepath %>guide/contract-transfer/?l-id=guide_contractor-name-change_guide_contract-transfer" class="c-Link_Txt-inline">契約者変更手続き（譲渡）</a>」をご確認ください。</li>
    <li>※ご契約者様が逝去され、通信サービス契約を家族（相続人）が引き継いでご利用する場合は「<a href="<%= sitepath %>guide/contract-succession/?l-id=guide_contractor-name-change_guide_contract-succession" class="c-Link_Txt-inline">契約者変更手続き（承継）</a>」をご確認ください。</li>
  </ul>
  <div class="u-Adjust_Mt-16">
    <a href="#anc-1" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>お手続きについて</a><br>
    <a href="#anc-2" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l u-Adjust_Mt-16"></span>お手続きに必要なもの</a><br>
    <a href="#anc-3" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l u-Adjust_Mt-16"></span>お手続きの流れ</a>
  </div>


  <h2 class="c-Txt_Normal-ll u-Adjust_Mt-64" id="anc-1">お手続きについて</h2>
  <p class="u-Adjust_Mt-16">
    お手続き方法や手数料など、お手続きの詳細については以下をご確認ください。
  </p>
  <div class="u-Adjust_Mt-16">
    <dl class="c-Dl_Origin">
        <div>
            <dt>お手続き方法</dt>
            <dd>
              郵送のみ
            </dd>
        </div>
        <div>
            <dt>手数料</dt>
            <dd>
                <div>
                  0円
                </div>
            </dd>
        </div>
        <div>
            <dt>お手続き完了までの目安</dt>
            <dd>
                <div>
                    <p>約2週間</p>
                    <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">※現在多数のお手続き希望をいただいており、2週間以上お時間をいただく場合がございます。</p>
                    <p class="c-Txt_Cap">※必要書類に不備があった場合や交通事情などにより、お時間がかかる場合があります。 </p>
                </div>
            </dd>
        </div>
    </dl>
  </div>

  <h2 class="c-Txt_Normal-ll u-Adjust_Mt-64" id="anc-2">お手続きに必要なもの</h2>
  <p class="u-Adjust_Mt-16">
    お手続きに必要なものについては以下をご準備ください。
  </p>

  <h3 class="c-Heading_Lv3 u-Adjust_Mt-32" id="anc-flow-1">楽天モバイル 名義変更（改姓）届</h3>
  <p class="u-Adjust_Mt-16">
    「楽天モバイル 名義変更（改姓）届」をダウンロードし、「対象回線の契約者情報」を記入してください。
  </p>
  <p class="c-Txt_Cap u-Adjust_Mt-16">
    ※A4サイズで印刷してください。<br>
    ※「楽天モバイル 名義変更（改姓）届」となっておりますが、改名のお手続きにもご利用いただけます。
  </p>
  <div class="u-Adjust_Mt-16">
    <a href="<%= sitepath %>assets/pdf/download/kaisei-20240507.pdf" class="c-Btn_Regular <%= nameSpace %>-Btn_Size <%= nameSpace %>-Btn_Layout-icon" target="_blank"><span>楽天モバイル 名義変更（改姓）届をダウンロードする<span class="c-Icon_Pdf-l c-Btn_Icon-end"></span></span></a>
  </div>

  <h3 class="c-Heading_Lv3 u-Adjust_Mt-32" id="anc-flow-2">変更前と変更後の氏名が確認できる公的書類のコピー</h3>
  <p class="u-Adjust_Mt-16">
    氏名が変更されたことを確認する書類として、変更前と変更後の氏名が記載されている公的書類<span class="c-Txt_Emp-02">いずれか1点のコピー</span>をご準備ください。
  </p>
  <p class="u-Adjust_Mt-16 c-Txt_Cap">
    ※書類は返却できませんので、原本を送付されないようご注意ください。
  </p>

  <div class="u-Adjust_Mt-16">
    <div class="c-Accordion">
      <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>運転免許証（表面・裏面）</button>
      <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
        <p class="c-Txt_Emp-01">注意事項</p>
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>
            公安委員会から発行されたものが必要です。<br>
            <span class="c-Txt_Cap">※コピーする際は記載情報、顔写真、公安印が鮮明に写っていることをご確認ください。</span>
          </li>
          <li>表面と裏面のご提出が必要です。</li>
        </ul>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="accordion-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-6"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>運転経歴証明書（表面・裏面）</button>
      <div id="accordion-content-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-6" aria-hidden="true">
        <p class="c-Txt_Emp-01">注意事項</p>
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>
            公安委員会から発行されたものが必要です。<br>
            <span class="c-Txt_Cap">※コピーする際は記載情報、顔写真、公安印が鮮明に写っていることをご確認ください。</span>
          </li>
          <li>表面と裏面のご提出が必要です。</li>
          <li>交付年月日が平成24年4月1日以降のもの。</li>
        </ul>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>マイナンバーカード（個人番号カード）</button>
      <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
        <p class="c-Txt_Emp-01">注意事項</p>
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>
            表面（顔写真が確認できる面）のコピーのみご提出が必要です。<br>
            <span class="c-Txt_Cap">※裏面のコピーが送付された場合、弊社にて書類の破棄を行います。表面のコピーのみ、再度ご提出をお願いいたします。</span>
          </li>
          <li class="c-Txt_Emp-02">マイナンバー通知カードは公的書類として受付できません。</li>
        </ul>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>住民票</button>
      <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
        <p class="c-Txt_Emp-01">注意事項</p>
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>
            発行から3カ月以内のものが必要です。
          </li>
          <li>住民票を取得する際には、本籍地、個人番号（マイナンバー）の記載がないものを準備してください。<br>
            <span class="c-Txt_Cap">※本籍地、個人番号（マイナンバー）が記載されている場合、マスキング処理（付箋などで隠す、塗りつぶす等）を行ったものをコピーし、ご送付ください。</span></li>
        </ul>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>戸籍謄（抄）本</button>
      <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
        <p class="c-Txt_Emp-01">注意事項</p>
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>発行から3カ月以内のものが必要です。</li>
        </ul>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>健康保険証</button>
      <div id="accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-5" aria-hidden="true">
        <p class="c-Txt_Emp-01">注意事項</p>
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>カード型の健康保険証の場合は、表面と裏面のコピーが必要です。</li>
          <li>裏面に住所の記載が必要な場合は、事前にご記入ください。</li>
          <li>紙型の保険証の場合、被扶養者はご自身の氏名が記載されている部分のご提出が必要です。</li>
          <li>
            <span class="c-Txt_Emp-02">2020年10月1日施行の健康保険法改正に基づき、「記号」「番号」「保険者番号」情報のマスキング処理（付箋などで隠す、塗りつぶす等）を行った状態でコピーしてください。</span><br>
            <span class="c-Txt_Cap">※詳細は「<a href="<%= sitepath %>faq/detail/00001860/?l-id=guide_contractor-name-change_faq_00001860" class="c-Link_Txt-inline">本人確認書類に健康保険証を使用する場合、マスキングをするのはなぜでしょうか。マスキングはどのようにすればよいですか</a>」をご確認ください。</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <h3 class="c-Heading_Lv3 u-Adjust_Mt-32" id="anc-flow-3">本人確認書類のコピー</h3>
  <p class="u-Adjust_Mt-16">
    契約者であることを確認する書類として、本人確認書類の<span class="c-Txt_Emp-02">コピー</span>をご準備ください。
  </p>
  <ul class="u-Adjust_Mt-16 c-Txt_Cap">
    <li class="c-Txt_Emp-02">※公的書類のコピーで運転免許証またはマイナンバーカード（個人番号カード）を利用する場合は不要です。</li>
    <li class="c-Txt_Emp-02">※本人確認書類に記載の住所とご登録の住所（現住所）が異なる場合、あらかじめ「<a href="https://portal.mobile.rakuten.co.jp/dashboard#personal-info" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">契約者情報（my 楽天モバイル）<span class="c-Icon_New-window-l"></span></a>」より変更手続きをお願いします。</li>
    <li>※「楽天モバイル 名義変更（改姓）届」に「療育手帳」の記載がありませんが、お手続きは可能です。</li>
    <li>※書類は返却できませんので、原本を送付されないようご注意ください。</li>
  </ul>
  <div class="u-Adjust_Mt-16">
      <a href="<%= sitepath %>guide/verify/" class="c-Btn_Regular <%= nameSpace %>-Btn_Size"><span>本人確認書類を確認する</span></a>
  </div>

  <h2 class="c-Txt_Normal-ll u-Adjust_Mt-64" id="anc-3">お手続きの流れ</h2>
  <ol class="c-Flow u-Adjust_Mt-32">
    <li>
      <h3 class="c-Heading_Lv3">1. お手続きに必要な書類を準備する</h3>
      <p class="u-Adjust_Mt-16">以下の必要書類3点をご準備ください。</p>
      <p class="u-Adjust_Mt-16 c-Txt_Emp-01">必要書類</p>
      <ul class="u-Adjust_Mt-16 c-List_Text-disc">
        <li><a href="#anc-flow-1" class="c-Link_Txt-inline">楽天モバイル 名義変更（改姓）届</a></li>
        <li><a href="#anc-flow-2" class="c-Link_Txt-inline">変更前と変更後の氏名が確認できる公的書類のコピー</a></li>
        <li><a href="#anc-flow-3" class="c-Link_Txt-inline">本人確認書類のコピー</a><br>
          <span class="c-Txt_Cap c-Txt_Emp-02">※公的書類のコピーで運転免許証またはマイナンバーカード（個人番号カード）を利用する場合は不要です。</span>
        </li>
      </ul>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">2. 必要書類を郵送する</h3>
      <p class="u-Adjust_Mt-16">以下の宛先までご郵送ください。</p>
      <p class="u-Adjust_Mt-16 c-Txt_Emp-01">必要書類の郵送先</p>
      <p class="u-Adjust_Mt-16">
        〒158－0094<br>
        東京都世田谷区玉川1-14-1<br>
        楽天クリムゾンハウス<br>
        楽天コミュニケーションズ（株）内<br>
        「楽天モバイル 氏名変更受付係」行
      </p>
      <ul class="c-Txt_Cap u-Adjust_Mt-16">
        <li>※送料はお客様負担となります。</li>
        <li>※郵送方法に指定はありません。</li>
        <li>※書類は返却できませんので、原本を送付されないようご注意ください。</li>
        <li>※書類に不備がある場合のみ、お客様にご連絡いたします。</li>
      </ul>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">3. 名義変更完了のお知らせメールを受け取る</h3>
      <p class="u-Adjust_Mt-16">必要書類郵送後、約2週間で手続きが完了します。</p>
      <p class="c-Txt_Cap c-Txt_Emp-02">※現在多数のお手続き希望をいただいており、2週間以上お時間をいただく場合がございます。</p>
      <p class="u-Adjust_Mt-16">名義変更完了後、ご登録メールアドレス宛に、「［楽天モバイル］ご契約者様情報の変更完了のお知らせ」のメールをお送りします。</p>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">4. my 楽天モバイルから変更された名義を確認する</h3>
      <p class="u-Adjust_Mt-16">ご契約者様の楽天IDにてmy 楽天モバイルへログインし、登録されているご契約者名義をご確認ください。</p>
      <p class="u-Adjust_Mt-16 c-Txt_Cap">※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/" class="c-Link_Txt-inline">[my 楽天モバイル]ログインできません</a>」をご確認ください。</p>
      <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
        <a href="https://portal.mobile.rakuten.co.jp/dashboard#personal-info" class="c-Btn_Secondly <%= nameSpace %>-Btn_Size <%= nameSpace %>-Btn_Layout-icon" target="_blank"><span>ご契約者情報（my 楽天モバイル）へ進む<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
      </div>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">5. お支払い方法の名義を変更する</h3>
      <p class="u-Adjust_Mt-16">クレジットカード・デビットカード・銀行口座の名義を変更された場合は、楽天モバイルのお支払い方法の名義変更も必要です。</p>
      <p class="u-Adjust_Mt-16">変更されていない場合、引き落としができず未払いとなる可能性がございます。</p>
      <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
        <a href="<%= sitepath %>guide/payment/change/" class="c-Btn_Regular <%= nameSpace %>-Btn_Size"><span>お支払い方法の確認・変更方法を見る</span></a>
      </div>
    </li>
  </ol>
  <p class="u-Adjust_Mt-16">
    以上で契約者情報の変更手続き（改姓・改名）は完了です。
  </p>

  <div class="u-Adjust_Pt-64">
    <div class="u-Adjust_Align-center"><a href="<%= sitepath %>support/" class="c-Btn_Regular <%= nameSpace %>-Btn_Size-s"><span>お客様サポートトップにもどる</span></a></div>
    <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><a href="<%= sitepath %>" class="c-Btn_Regular <%= nameSpace %>-Btn_Size-s"><span>楽天モバイルトップへ</span></a></div>
  </div>

</div>


<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">
  <div class="g-Footer_Aside">
    <%- include('/include/footer/bnr/_bnr.ejs') %>
  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>

</body>
</html>
