<% const pagetitle = "デュアルSIMスペシャルキャンペーン！抽選で10名様に10,000ポイントプレゼント！" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "twitter-dual-sim" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: 'デュアルSIMの活用方法をTwitterで投稿しよう！エントリー、公式ツイッターアカウントのフォロー、キャンペーン投稿の引用リツイート、指定の内容を投稿すると抽選で10名様に10,000ポイントが当たるキャンペーンです',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/twitter-dual-sim/twitter-dual-sim.css?20240424">
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
  function doTrim(el) {
    el.value = el.value.replace(/^\s+|\s+$/g, '');
  }

  function isInput(el) {
    return el.value.length != 0;
  }

  function isLength(el, len) {
    if ("え".length == 2) {
      len *= 2;
    }
    return el.value.length <= len;
  }

  function zen2han(el) {
    el.value = el.value.replace(/[０]/g, "0");
    el.value = el.value.replace(/[１]/g, "1");
    el.value = el.value.replace(/[２]/g, "2");
    el.value = el.value.replace(/[３]/g, "3");
    el.value = el.value.replace(/[４]/g, "4");
    el.value = el.value.replace(/[５]/g, "5");
    el.value = el.value.replace(/[６]/g, "6");
    el.value = el.value.replace(/[７]/g, "7");
    el.value = el.value.replace(/[８]/g, "8");
    el.value = el.value.replace(/[９]/g, "9");
  }

  function checkForm() {
    var el;
    var obj = document.enenForm;

    el = obj.elements['answers[38246_262087]'];
    doTrim(el);
    zen2han(el);
    if (!isInput(el)) {
      alert("Twitterのユーザー名を入力してください。");
      return false;
    }

    if (!isLength(el, 50)) {
      alert("Twitterのユーザー名は50文字以内で入力してください。");
      return false;
    }

  }
</script>

</head>

<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout-Label">
      <ul class="c-Label_List">
        <li class="c-Label_Normal">全会員様対象</li>
      </ul>
      <p class="<%= namespace %>-Layout-Label_point">ポイント：付与日を含めて6カ月の期間限定ポイント</p>
    </div>

    <div class="<%= namespace %>-Hero_Bg">
      <div class="<%= namespace %>-Hero_Bg-in">
        <h1>
          <img src="<%= sitepath %>assets/img/campaign/twitter-dual-sim/kv-pc-221007.png" class="<%= namespace%>-Utility_Img-pc" width="" alt="">
          <img src="<%= sitepath %>assets/img/campaign/twitter-dual-sim/kv-sp-221007.png" class="<%= namespace%>-Utility_Img-sp" width="" alt="">
        </h1>
      </div>
    </div>
    <div class="<%= namespace %>-Layout_Section u-Adjust_Pt-0">
      <div class="l-System">
        <div class="l-System_Container">

          <p class="c-Txt_Normal-l c-Txt_Emp-02 u-Adjust_Align-center u-Adjust_Mb-16 u-Adjust_Mt-24">本キャンペーンは終了しました。</p>

          <p class="c-Txt_Cap u-Adjust_Mt-16">
            ※エントリー、楽天モバイル公式Twitterアカウントのフォロー、キャンペーン投稿の引用リツイート、指定の内容を投稿<br>
            ※キャンペーンのご応募には楽天会員への登録が必要です<br>
            ※楽天モバイルご契約者様以外もご参加いただけます
          </p>
          <div class="u-Adjust_Mt-32">
            <a href="<%= sitepath %>product/sim/dual-sim/?l-id=campaign_twitter-dual-sim_product_sim_dual-sim" class="c-Banner_Hover-act">
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/twitter-dual-sim/bnr-dsim-sp-221007.png">
                <img src="<%= sitepath %>assets/img/campaign/twitter-dual-sim/bnr-dsim-pc-221007.png" alt="">
              </picture>
            </a>
          </div>

          <h2 class="c-Heading_Lv2 u-Adjust_Mt-40 u-Adjust_Align-center" id="campaign-flow">キャンペーンの流れ</h2>
          <ul class="c-Flow u-Adjust_Mt-24">
            <li>
              <h3 class="c-Heading_Lv3 <%= namespace %>-Layout-inner">
                <div class="<%= namespace %>-Flow_Title"><p class="c-Txt_Emp-02 u-Adjust_Mr-16">STEP1</p><p>キャンペーンにエントリー</p></div>
              </h3>
              <p class="u-Adjust_Mt-16 <%= namespace %>-Layout-inner <%= namespace %>-Utility_Br-pc">
                ＠から始まるTwitterのユーザー名を入力してエントリーしてください
              </p>
<!--
              <form action="https://form.rakuten.co.jp/ans/apply/38246" name="enenForm" method="POST" onSubmit="return checkForm()">

                <dl class="c-Dl_Origin u-Adjust_Mt-24">
                  <div>
                    <dt>
                      Twitterのユーザー名 <span class="c-Txt_Emp-02 c-Txt_Normal-ss">必須</span>
                    </dt>
                    <dd>
                      <p class="c-Txt_Cap u-Adjust_Mb-8">4文字以上15文字以内</p>

                      <table style="border: none;">
                          <tbody>
                              <tr>
                                <td>@</td>
                                <td>
                                  <textarea name="answers[38246_262087]" rows="1" cols="40" class="c-Form_Input js-cancelEnter" placeholder="Twitterのユーザー名を入力してください"></textarea>
                                </td>
                            </tr>
                        </tbody>
                      </table>

                    </dd>
                  </div>
                </dl>

                <p class="u-Adjust_Mt-16 <%= namespace %>-Utility_Br-sp">
                  ＠から始まるTwitterのユーザー名を入力してエントリーしてください
                </p>
                <div class="u-Adjust_Align-center u-Adjust_Mt-24 u-Adjust_Mb-24">
                  <input type="hidden" name="c" value="楽天">
                  <input type="hidden" name="l" value="ja">
                  <button class="c-Btn_Primary-large" type="submit"><span>エントリーする</span></button>
                </div>
                <p class="<%= namespace %>-Flow_Box-container c-Txt_Cap u-Adjust_Mt-16 c-Txt_Emp-02">
                  ※エントリー後は、「入力を受け付けました」と表示され、エントリーが完了します。<br>
                  ※キャンペーンはRakuten PointClubのエントリー履歴には反映されませんのでご了承ください。
                </p>
              </form>
-->
              </li>
              <li>
                <h3 class="c-Heading_Lv3 <%= namespace %>-Layout-inner">
                <div class="<%= namespace %>-Flow_Title"><p class="c-Txt_Emp-02 u-Adjust_Mr-16">STEP2</p><p>楽天モバイル公式アカウントをフォロー</p></div>
                </h3>
                <div class="l-Media_Grid">
                  <div class="l-Media_Image">
                    <img src="<%= sitepath %>assets/img/campaign/twitter-dual-sim/twitter-dsim-2-221007.svg" width="107" alt="">
                  </div>
                  <div class="u-Adjust_Align-left">
                    <p  class="u-Adjust_Mt-16 <%= namespace %>-Layout-inner">
                      Twitter公式アカウント「<span class="c-Txt_Emp-02">@Rakuten_Mobile</span>」をフォロー
                    </p>
                    <div class="u-Adjust_Align-center u-Adjust_Mt-24 u-Adjust_Mb-24 <%= namespace %>-Utility_Br-sp">
                    <a href="https://twitter.com/Rakuten_Mobile/" class="c-Btn_Primary-large" target="_blank"><span>楽天モバイル公式アカウント</span></a>
                    </div>
                  </div>
                </div>
                <div class="u-Adjust_Align-center u-Adjust_Mb-24 <%= namespace %>-Utility_Br-pc" style="margin-top:-40px;">
                <a href="https://twitter.com/Rakuten_Mobile/" class="c-Btn_Primary-large" target="_blank"><span>楽天モバイル公式アカウント</span></a>
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3 <%= namespace %>-Layout-inner">
                <div class="<%= namespace %>-Flow_Title"><p class="c-Txt_Emp-02 u-Adjust_Mr-16">STEP3</p><p>本キャンペーンの投稿を引用リツイート</p></div>
                </h3>
                <div class="l-Media_Grid">
                  <div class="l-Media_Image">
                    <img src="<%= sitepath %>assets/img/campaign/twitter-dual-sim/twitter-dsim-3-221007.svg" width="107" alt="">
                  </div>
                  <div class="u-Adjust_Align-left">

                    <p class="u-Adjust_Mt-16 <%= namespace %>-Layout-inner">
                      楽天モバイル公式アカウントで10月14日(金)に投稿された本キャンペーンに<br class="<%= namespace %>-Utility_Br-pc">関するツイートを<span class="c-Txt_Emp-02">引用リツイート</span>
                    </p>
                    <!--p class="u-Adjust_Mt-16">
                    <a href="#" class="c-Link_Txt-inline">Twitter投稿のリンク<span class="c-Icon_Chevron-right"></span></a>
                    </p-->
                  </div>
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3 <%= namespace %>-Layout-inner">
                <div class="<%= namespace %>-Flow_Title"><p class="c-Txt_Emp-02 u-Adjust_Mr-16">STEP4</p><p>達成条件の内容を記載して投稿</p></div>
                </h3>
                <div class="<%= namespace %>-Layout-inner <%= namespace %>-Utility_Br-pc">
                  <h4 class="c-Heading_Lv4 u-Adjust_Mt-16">キャンペーンの達成条件</h4>
                  <ul>
                    <li><span class="c-Txt_Emp-02 c-Txt_Normal-m u-Adjust_Mr-8">&#10102;</span>本キャンペーンに関するツイートを<span class="c-Txt_Emp-02">引用リツイート</span></li>
                    <li><span class="c-Txt_Emp-02 c-Txt_Normal-m u-Adjust_Mr-8">&#10103;</span><span class="c-Txt_Emp-02">実践中または興味のある「デュアルSIMの活用方法」</span>を本文に記載</li>
                    <li><span class="c-Txt_Emp-02 c-Txt_Normal-m u-Adjust_Mr-8">&#10104;</span>ハッシュタグ<span class="c-Txt_Emp-02">「#デュアルSIM」</span>をつける</li>
                    <li><span class="c-Txt_Emp-02 c-Txt_Normal-m u-Adjust_Mr-8">&#10105;</span>ツイート内容を確認して投稿！</li>
                  </ul>
                </div>
                <div class="<%= namespace %>-Utility_Br-sp">
                  <p class="c-Txt_Normal-m c-Txt_Emp-01 u-Adjust_Mt-24">
                    キャンペーンの達成条件
                  </p>
                  <ul class="u-Adjust_Mt-8">
                    <li style="display:flex;align-items:baseline;"><p class="c-Txt_Emp-02 c-Txt_Normal-m u-Adjust_Mr-8">&#10102;</p><p>本キャンペーンに関するツイートを<span class="c-Txt_Emp-02">引用リツイート</span></p></li>
                    <li style="display:flex;align-items:baseline;"><p class="c-Txt_Emp-02 c-Txt_Normal-m u-Adjust_Mr-8 u-Adjust_Mt-16">&#10103;</p><p><span class="c-Txt_Emp-02">実践中または興味のある「デュアルSIMの活用方法」</span>を本文に記載</p></li>
                    <li style="display:flex;align-items:baseline;"><p class="c-Txt_Emp-02 c-Txt_Normal-m u-Adjust_Mr-8 u-Adjust_Mt-16">&#10104;</p><p>ハッシュタグ<span class="c-Txt_Emp-02">「#デュアルSIM」</span>をつける</p></li>
                    <li style="display:flex;align-items:baseline;"><p class="c-Txt_Emp-02 c-Txt_Normal-m u-Adjust_Mr-8 u-Adjust_Mt-16">&#10105;</p><p>ツイート内容を確認して投稿！</p></li>
                  </ul>
                </div>
                <div class="l-Media_Image <%= namespace %>-Layout-s4img">
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/twitter-dual-sim/twitter-dsim-sp-4-221007.png" >
                    <img src="<%= sitepath %>assets/img/campaign/twitter-dual-sim/twitter-dsim-pc-4-221007.png" width="424" alt="">
                  </picture>
                </div>
              </li>
              <li>
                <div class="l-Media_Grid">
                  <div class="l-Media_Image" style="display:flex;align-items:center;justify-content:center;">
                    <img src="<%= sitepath %>assets/img/campaign/twitter-dual-sim/twitter-dsim-5-221007.svg" width="107" alt="">
                  </div>
                  <div class="u-Adjust_Align-left <%= namespace %>-Layout-inner">

                    <h3 class="c-Heading_Lv3">
                      抽選で10名様に<span class="c-Txt_Emp-02">10,000</span>ポイントをプレゼント！
                    </h3>
                    <p class="u-Adjust_Mt-16">
                      期間限定ポイントで2022年12月末日ごろに付与いたします
                    </p>
                    <p class="c-Txt_Cap u-Adjust_Mt-16">
                      ※当選者には楽天モバイルTwitter公式アカウントよりダイレクトメッセージ（DM）にて、12月末までにご連絡します<br>
                      ※「すべてのアカウントからのメッセージリクエストを許可する」の設定をオンにしてください
                    </p>
                  </div>
                </div>
              </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="Container_bg u-Adjust_Mt-48">
        <div class="l-System_Container">
          <div class="u-Adjust_Align-center">
            <h1 id="rakutenmobile" class="c-Heading_Lv1">楽天モバイル<span class="txt-nl">について</span></h1>
            <p class="<%= namespace %>-Layout_step-txt u-Adjust_Mt-16 c-Txt_Emp-01">詳細は以下の各リンク先にてご確認ください</p>
          </div>
          <div class="<%= namespace %>-Card u-Adjust_Mt-24">
            <a href="<%= sitepath %>fee/un-limit/?l-id=campaign_twitter-dual-sim_fee_un-limit" class="c-Card_Normal">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/marathon/link_img_01.png?220107" alt="">
                </div>
                <p class="u-Adjust_Mt-16 c-Txt_Emp-01">料金プラン</p>
            </a>
            <a href="<%= sitepath %>fee/zero/?l-id=campaign_twitter-dual-sim_fee_zero" class="c-Card_Normal">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/marathon/link_img_02.png?220107" alt="">
                </div>
                <p class="u-Adjust_Mt-16 c-Txt_Emp-01">お申し込み<span class="txt-nl">手数料</span></p>
            </a>
            <a href="<%= sitepath %>area/?l-id=campaign_twitter-dual-sim_area" class="c-Card_Normal">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/marathon/link_img_03.png?220107" alt="">
                </div>
                <p class="u-Adjust_Mt-16 c-Txt_Emp-01">サービス<span class="txt-nl">エリア</span></p>
            </a>
            <a href="<%= sitepath %>product/byod/?l-id=campaign_twitter-dual-sim_product_byod" class="c-Card_Normal">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/marathon/link_img_04.png?220107" alt="">
                </div>
                <p class="u-Adjust_Mt-16 c-Txt_Emp-01">楽天回線<span class="txt-nl">対応製品</span></p>
            </a>
            <a href="<%= sitepath %>service/?l-id=campaign_twitter-dual-sim_service" class="c-Card_Normal">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/marathon/link_img_05.png?220107" alt="">
                </div>
                <p class="u-Adjust_Mt-16 c-Txt_Emp-01">オプション<span class="txt-nl">サービス</span></p>
            </a>
            <a href="<%= sitepath %>guide/point/?l-id=campaign_twitter-dual-sim_guide_point" class="c-Card_Normal">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/marathon/link_img_06.png?220107" alt="">
                </div>
                <p class="u-Adjust_Mt-16 c-Txt_Emp-01">おトクな<span class="txt-nl">楽天ポイント</span></p>
            </a>
            <a href="<%= sitepath %>service/rakuten-link/?l-id=campaign_twitter-dual-sim_service_rakuten-link" class="c-Card_Normal">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/marathon/link_img_07.png?220107" alt="">
                </div>
                <p class="u-Adjust_Mt-16 c-Txt_Emp-01">Rakuten Link<span class="txt-nl">アプリ</span></p>
            </a>
            <a href="<%= sitepath %>campaign/?l-id=campaign_twitter-dual-sim_campaign" class="c-Card_Normal">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/marathon/link_img_08.png?220107" alt="">
                </div>
                <p class="u-Adjust_Mt-16 c-Txt_Emp-01">キャンペーン<span class="txt-nl">一覧</span></p>
            </a>
            <a href="<%= sitepath %>product/sim/?l-id=campaign_twitter-dual-sim_product_sim" class="c-Card_Normal">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/marathon/link_img_09.png?220107" alt="">
                </div>
                <p class="u-Adjust_Mt-16 c-Txt_Emp-01">SIMの使い方</p>
            </a>
          </div>
        </div>
      </div>

      <div class="l-System_Container u-Adjust_Mt-64">
        <%- include('/include/_bnr-cpn-recommend-v2.ejs') %>
      </div>

      <div id="campaign-rule" class="u-Adjust_Mt-64">
        <div class="Container_bg u-Adjust_Pt-48 u-Adjust_Pb-48">
          <div class="l-System_Container">
            <h2 class="c-Heading_Lv2" id="campaign-rule">【デュアルSIMスペシャルキャンペーン】Twitterフォロー＆リツイートで、抽選で10名様に10,000ポイントプレゼント！</h2>
            <p class="c-Txt_Normal-l c-Txt_Emp-02 u-Adjust_Align-center u-Adjust_Mt-24">本キャンペーンは終了しました。</p>

            <div class="c-Table_Wrap u-Adjust_Mt-24">
            <table class="c-Table_Container <%= namespace %>-Table_Rule">
            <colgroup>
            <col>
            <col>
            </colgroup>
            <tbody>
            <tr>
            <th>キャンペーンコード</th>
            <td>
              <p>1641</p>
              <ul class="c-Txt_Cap u-Adjust_Mt-8">
                <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
              </ul>
            </td>
            </tr>
            <tr>
            <th>キャンペーン期間</th>
            <td>
              <p class="c-Txt_Emp-01">■ エントリー期間</p>
              <p>2022年10月14日（金）10:00～2022年10月28日（金）9:59</p>
            </td>
            </tr>
            <tr>
            <th>キャンペーン条件</th>
            <td>
              <p class="c-Txt_Emp-02">
                上記各項目の期間内に【1】、【2】、【3】の条件をすべて満たした楽天会員の方（順不同）
              </p>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">
                【1】キャンペーンへのエントリー
              </p>
              <div class="u-Adjust_Ml-16">
              <p class="u-Adjust_Mt-8">エントリー期間内に本キャンペーンページでエントリー</p>
              </div>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">
                【2】楽天モバイル公式Twitterアカウントをフォロー
              </p>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">
                【3】下記（1）（2）を投稿テキストに記載して、対象ツイートを引用リツイート
              </p>
              <div class="u-Adjust_Ml-16">
              <p class="u-Adjust_Mt-8">　（1）「#デュアルSIM」を投稿テキストに記載</p>
              <p class="u-Adjust_Mt-8">　（2）実践している、もしくは、興味のある「デュアルSIMの活用方法」を投稿テキストに記載</p>
              </div>
            </td>
            </tr>
            <tr>
            <th>キャンペーン特典 （楽天ポイント）</th>
            <td>
              <p class="c-Txt_Emp-01">
                ■特典内容
              </p>
              <div class="u-Adjust_Ml-16">
              <p class="c-Txt_Emp-01 u-Adjust_Mt-8">抽選で10名様に10,000ポイントプレゼント</p>
            </div>
            <p class="c-Txt_Emp-01 u-Adjust_Mt-16">
              ■ポイント付与日
            </p>
            <div class="u-Adjust_Ml-16">
            <p class="c-Txt_Emp-01 u-Adjust_Mt-8">2022年12月末日ごろに付与</p>
            <ul class="c-Txt_Cap u-Adjust_Mt-8">
              <li><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</li>
              <li><span>※</span>権利の譲渡はできません</li>
              <li><span>※</span>当選者には楽天モバイルTwitter公式アカウントよりダイレクトメッセージ（DM）にて、12月末までにご連絡をいたします</li>
            </ul>
            </div>
            <p class="c-Txt_Emp-01 u-Adjust_Mt-16">
            ■ポイント有効期間
            </p>
            <div class="u-Adjust_Ml-16">
            <p class="c-Txt_Emp-01 u-Adjust_Mt-8">ポイント付与日を含めて6カ月</p>
            <ul class="c-Txt_Cap u-Adjust_Mt-8">
            <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank">期間限定ポイントについて</a></li>
            <li><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
            </ul>
            </div>
            </td>
            </tr>
            <tr>
            <th>特典適用対象外</th>
            <td><p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
              <ul class="c-Txt_Cap u-Adjust_Mt-8">
                <li><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                <li><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                <li><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格</span>であると判断した場合</li>
              </ul>
            </td>
            </tr>
            <tr>
            <th>注意事項</th>
            <td>
              <ul class="c-Txt_Cap">
                <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                <li><span>※</span>取得した個人情報は<a href="https://corp.mobile.rakuten.co.jp/guide/privacy/policy/" target="_blank" rel="noopener">個人情報保護方針</a>に基づいてお取り扱いいたします</li>
                <li><span>※</span>楽天モバイルの契約有無は問いません</li>
                <li><span>※</span>記載の内容は2022年10月14日（金）時点の情報となります</li>
              </ul>
            </td>
            </tr>
            </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>


    <footer class="g-Footer <%= namespace %>-Layout_Footer u-Adjust_Mt-64">
      <div class="g-Footer_Aside">

        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  <%- include('/include/_common-js') %>

  <%- include('/include/_append-body') %>
  <script>
    $(function () {
      $('.js-cancelEnter').on('keydown', function (e) {
        if (e.key == 'Enter') {
          return false;
        }
      });
    });
  </script>

</body>
</html>
