<% const pagetitle = "Xperia 5 V" -%>
<% const directory = "xperia-5m5" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/smartphone/", label:"Android"}] -%>
<% const namespace = "product-xperia-5m5" -%>
<% const theme = "Light" -%>
<% const point = 6000 -%>
<%# const pointModel = 2000 -%>
<%# const pointEntry = 5000 -%>
<%# price-detail.ejsファイルに変数の説明の記載があります -%>

<%
/* insert Modal /*
/*
  ストア遷移 → 'bundle'
  在庫あり → 'stock'
  在庫切れ → 'soldout'
  入荷待ち → 'backorder'
*/
const bundleFlag = 'bundle';
const exid = 600668;
-%>

<% const priceDetailConfig = {
  bundleFlag: bundleFlag,
  theme: theme,
  price: 152400,
  // priceBefore: 119900,
  PriceBeforeUnnumberedAnnotationText: '',
  // pointBackPriceModel: pointModel,
  pointBackPrice: point,
  // pointModelText: `<span>製品購入で<span class="product-detail-Price_Pointback-num">${pointModel.toLocaleString()}</span>ポイント<sub>※1</sub></span>`,
  pointBackTextA: `<span>楽天モバイルお申し込みで<br class="product-detail-Utility_Show-sp"><span class="product-detail-Price_Pointback-num">${point.toLocaleString()}</span>円相当のポイント還元<sub>※1,4</sub></span>`,
  // pointEntryText: `さらに、エントリー＆抽選で<span class="product-detail-Price_Pointback-num">2,000</span>ポイント<sub>※2</sub>`,
  division24: 6350,
  // division24Before: ,
  division48: 3175,
  // division48Before: ,
  division48last: 3175,
  tradeinProductName: 'Xperia 5 IV',
  optionPattern: 'one-option',
  maxTradeinPrice: 25200,
  tradeinPoint: 5000,
  lid: directory,
  capacity: 128,
  pointAppealBtnCapNo: 5,
  carrier: '楽天モバイル',
  //　notificationEmail: 'true',
  //　notificationEmailLink: '/product/reservation/xperia-5m5/'
  discountPrice: 6000,
  applyPoint: 6000,
  firstTimeApplyPoint: 6000,
  // mnp: false,
  anchorId: 'campaign-rule1526',
  trakingId: 'xperia-5m5',
  exid: exid,
  year: 2023,
  month: 9,
  day: 22,
  btnLabel: 'Xperia 5 Vを予約注文する',
}
-%>
<% const tradeinUrl = sitepath + "service/tradein/?l-id=product_" + directory + "_cpn_02" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: "Xperia 5 V（エクスペリア）の価格・特徴・スペックの確認と購入はこちら。最大12,000ポイント還元※も！オンライン簡単手続きが便利！※初めて申込等条件あり",
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<%- include('/include/product/_category-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/inc/i-product-head.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/<%= directory %>/product-<%= directory %>.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/smartphone/purchase-modal-drilldown.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/product/_history-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%
const modalInfo = [
  {
    question: {
      title: '色を選択',
      warning: '購入する製品の色を選択してください。',
      type: 'color',
      value: 'color',
      select: [
        {
          'id': 'platinumSilver',
          'name': 'Platinum silver',
          'sub': '',
          'color': '#C9C9C8',
          'checked': false,
          'disabled': false,
        },
        {
          'id': 'black',
          'name': 'Black',
          'sub': '',
          'color': '#494D53',
          'checked': false,
          'disabled': false,
        }
      ],
      upperinfo: ``,
      lowerinfo: ``
    },
  },
  {
    question: {
      title: 'SIMタイプ・プラン（Rakuten UN-LIMIT VI）を選択',
      warning: 'プランを選択してください。',
      type: 'radio',
      value: 'plan',
      select: [
        {
          'id': 'sim',
          'name': 'nanoSIM＋プランで申し込む',
          'sub': '',
          'checked': false,
          'disabled': false,
          'soldout' : '',
        },
        {
          'id': 'nosim',
          'name': 'プランを申し込まない（製品のみ購入）',
          'sub': '',
          'checked': false,
          'disabled': false,
          'soldout' : '',
        },
      ],
      upperinfo: ``,
      lowerinfo: `
        <p class="c-Txt_Cap">※製品のみ購入の場合、SIM購入（プラン選択）は不要です。</p>
      `
    }
  },
  {
    question: {
      title: 'スマホ交換保証プラスを選択',
      warning: 'スマホ交換保証プラスを選択してください。',
      type: 'radio',
      value: 'warranty',
      select: [
        {
          'id': 'warranty',
          'name': '申し込む：715円／月（税込）',
          'sub': '',
          'checked': true,
          'disabled': false,
          'soldout' : '',
        },
        {
          'id': 'nowarranty',
          'name': '申し込まない',
          'sub': '',
          'checked': false,
          'disabled': false,
          'soldout' : '',
        },
      ],
      upperinfo: `
        <p class="c-Txt_Emp-02">加入できるのは購入時のみ</p>
        <p class="u-Adjust_Mt-8">楽天モバイルで購入したスマートフォンやモバイルルーターの故障・紛失時に、最短で当日<sub>※</sub>に新品同等の同一機種を交換品としてお届けします。</p>
        <small>※対象地域：東京／神奈川／千葉／埼玉（12時までに受付の場合）</small>
        <p>サービスの詳細は、こちらの<a href="/service/replacement-warranty-plus/?l-id=product_xperia-5m5_cpn_01">スマホ交換保証プラス</a>をご参照ください。</p>
      `,
      lowerinfo: ``
    }
  }
]
%>
<%_ if (bundleFlag !== true) { _%>
<script>
const urlList = {
  'ecruWhite_sim_warranty': '/',
  'ecruWhite_sim_nowarranty': '/',
  'ecruWhite_nosim_warranty': '/',
  'ecruWhite_nosim_nowarranty': '/',
  'black_sim_warranty': '/',
  'black_sim_nowarranty': '/',
  'black_nosim_warranty': '/',
  'black_nosim_nowarranty': '',
}
</script>
<%- include('/include/product/_purchase-modal', { modalInfo: modalInfo }) %>
<%_ } _%>

<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<%
  const NavItems = [
    {label: '価格', href: 'price'},
    {label: '関連アクセサリ', href: 'accessory'},
    {label: '特長', href: 'feature'},
    {label: 'スペック', href: 'spec'}
  ]
%>

<div id="js-header-nav-dummy"></div>
<%- include('/include/product/smartphone/_nav-follow-btn', {pagetitle, NavItems, directory, exid, }) %>

<div>
  <div class="product-detail-Layout_Hero-with-bnr <%= namespace %>_Hero">
    <div class="l-System_Container u-Adjust_Pt-16">
      <%- include('/include/product/bnr/_product-head-bnr-7', {
        lid: 'product_smartphone_' + directory + '_campaign_start-point',
        isDark: false,
        isShow: true,
    }) _%>

      <section class="product-detail-Hero">
        <div class="product-detail-Hero_Data">
          <div>
            <h1 class="co-Heading_Lv1 product-detail-Hero_Name"><img src="<%= sitepath %>assets/img/product/<%= directory %>/logo.svg" alt="<%= pagetitle %>"></h1>
            <p class="product-detail-Hero_Maker">Sony</p>
            <p class="product-detail-Hero_Copy">新しいスマホ。新しいワタシ。</p>
            <div class="product-detail-Utility_Show-pc">
              <div class="u-Adjust_Mt-16">
                <%_ if (bundleFlag === 'bundle') { _%>
                  <div class="u-Adjust_Align-center <%= bundleFlag %>">
                    <a href="<%= onboardingpath2 %>equipment-details?exid=<%= exid %>&selectAvailable=true" class="c-Btn_Primary-large" data-ratid="product_detail-page_order-button-1_bss" data-ratevent="click" data-ratparam="all">購入する</a>
                  </div>
                <%_ } else if(bundleFlag === 'stock') { _%>
                  <div class="u-Adjust_Align-center"><a class="c-Btn_Primary-large">購入する</a></div>
                <%_ } else if(bundleFlag === 'soldout') { _%>
                  <div class="u-Adjust_Align-center"><a class="c-Btn_Primary-large" aria-disabled="true">10月13日（金）発売予定</a></div>
                <%_ } else if(bundleFlag === 'backorder') { _%>
                  <div class="u-Adjust_Align-center"><a class="c-Btn_Primary-large" aria-disabled="true">現在入荷待ち</a></div>
                <%_ } else if(bundleFlag === 'reserve') { _%>
                  <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                    <a href="<%= onboardingpath2 %>equipment-details?exid=<%= exid %>&selectAvailable=true" class="c-Btn_Primary-large" data-ratid="product_detail-page_order-button-2_bss" data-ratevent="click" data-ratparam="all">
                      <%_ if (typeof btnLabel !== 'undefined') { _%><%= btnLabel %><%_ } else { _%>Xperia 5 Vを予約注文する<%_ } _%>
                    </a>
                  </div>
                <%_ } _%>
                <p class="u-Adjust_Mt-24  u-Adjust_Align-center <%= namespace %>_Icon-front">
                  <span class="<%= namespace %>_Icon-front-icon"></span>
                  <a href="<%= sitepath %>guide/application-support/?l-id=product_smartphone_xperia-5m5_guide_application-support" class="c-Link_Txt-inline">オペレーターと相談しながらお申し込み！詳細はこちら<span class="c-Icon_Chevron-right"></span></a>
                </p>

                <p class="u-Adjust_Mt-16 c-Txt_Cap">
                  ※5G通信は対応エリアでご利用可能です。
                </p>
              </div>

            </div>
          </div>
        </div>
        <div class="product-detail-Hero_Main u-Adjust_Mt-0">
          <ul class="product-detail-Hero_Main-device c-Carousel js-main1 js-device" aria-hidden="false">
            <li><img src="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-00.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-01.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-02.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-03.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-04.png" alt=""></li>
          </ul>
          <ul class="product-detail-Hero_Main-device c-Carousel js-main2 js-device" aria-hidden="true">
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-05.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-06.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-07.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-08.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-09.png" alt=""></li>
          </ul>

          <ul class="product-detail-Hero_Main-color product-detail-Theme_<%= theme %>-color">
            <li class="js-color js-color1" aria-current="true" data-ratevent="click" data-ratparam="all" data-ratid="xperia-5m5_color-01"><span style="background:#C9C9C8"></span></li>
            <li class="js-color js-color2" aria-current="false" data-ratevent="click" data-ratparam="all" data-ratid="xperia-5m5_color-02"><span style="background:#494D53"></span></li>
          </ul>

          <ul class="product-detail-Hero_Main-thumbnail c-Carousel js-thumbnail1 js-device" aria-hidden="false">
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-00.png" alt="" data-ratevent="click" data-ratparam="all" data-ratid="xperia-5m5_color-01_thumbnail-01"></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-01.png" alt="" data-ratevent="click" data-ratparam="all" data-ratid="xperia-5m5_color-01_thumbnail-02"></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-02.png" alt="" data-ratevent="click" data-ratparam="all" data-ratid="xperia-5m5_color-01_thumbnail-03"></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-03.png" alt="" data-ratevent="click" data-ratparam="all" data-ratid="xperia-5m5_color-01_thumbnail-04"></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-04.png" alt="" data-ratevent="click" data-ratparam="all" data-ratid="xperia-5m5_color-01_thumbnail-05"></li>
          </ul>
          <ul class="product-detail-Hero_Main-thumbnail c-Carousel js-thumbnail2 js-device" aria-hidden="true">
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-05.png" data-ratevent="click" data-ratparam="all" data-ratid="xperia-5m5_color-02_thumbnail-01" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-06.png" data-ratevent="click" data-ratparam="all" data-ratid="xperia-5m5_color-02_thumbnail-02" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-07.png" data-ratevent="click" data-ratparam="all" data-ratid="xperia-5m5_color-02_thumbnail-03" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-08.png" data-ratevent="click" data-ratparam="all" data-ratid="xperia-5m5_color-02_thumbnail-04" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-09.png" data-ratevent="click" data-ratparam="all" data-ratid="xperia-5m5_color-02_thumbnail-05" alt=""></li>
          </ul>
        </div>
      </section>

      <div class="product-detail-Hero_Show-sp product-detail-Utility_Show-sp u-Adjust_Mt-24">
        <div class="product-detail-Utility_Show-sp">
          <div class="u-Adjust_Mt-16">
            <%_ if (bundleFlag === 'bundle') { _%>
              <div class="u-Adjust_Align-center <%= bundleFlag %>">
                <a href="<%= onboardingpath2 %>equipment-details?exid=<%= exid %>&selectAvailable=true" class="c-Btn_Primary-large" data-ratid="product_detail-page_order-button-1_bss" data-ratevent="click" data-ratparam="all">購入する</a>
              </div>
            <%_ } else if(bundleFlag === 'stock') { _%>
              <div class="u-Adjust_Align-center"><a class="c-Btn_Primary-large">購入する</a></div>
            <%_ } else if(bundleFlag === 'soldout') { _%>
              <div class="u-Adjust_Align-center"><a class="c-Btn_Primary-large" aria-disabled="true">2022年10月21日発売予定</a></div>
            <%_ } else if(bundleFlag === 'backorder') { _%>
              <div class="u-Adjust_Align-center"><a class="c-Btn_Primary-large" aria-disabled="true">現在入荷待ち</a></div>
            <%_ } else if(bundleFlag === 'reserve') { _%>
              <p class="c-Txt_Emp-02 u-Adjust_Align-center u-Adjust_Mt-24">
                予約注文受付中<br>
                10月13日（金）発売予定</p>
              <div class="u-Adjust_Align-center u-Adjust_Mt-8">
                <a href="<%= onboardingpath2 %>equipment-details?exid=<%= exid %>&selectAvailable=true" class="c-Btn_Primary-large" data-ratid="product_detail-page_order-button-2_bss" data-ratevent="click" data-ratparam="all">
                  <%_ if (typeof btnLabel !== 'undefined') { _%><%= btnLabel %><%_ } else { _%>Xperia 5 Vを予約注文する<%_ } _%>
                </a>
              </div>
            <%_ } _%>

            <p class="u-Adjust_Mt-24  u-Adjust_Align-center <%= namespace %>_Icon-front">
              <span class="<%= namespace %>_Icon-front-icon"></span>
              <a href="<%= sitepath %>guide/application-support/?l-id=product_smartphone_xperia-5m5_guide_application-support" class="c-Link_Txt-inline">オペレーターと相談しながらお申し込み！詳細はこちら<span class="c-Icon_Chevron-right"></span></a>
            </p>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">
              ※5G通信は対応エリアでご利用可能です。
            </p>
          </div>

        </div>

      </div>

    </div>
  </div>

  <div class="<%= namespace %>_Main">
    <div class="product-detail-Price product-detail-Theme_<%= theme %>-price">
      <%- include('/include/product/smartphone/_price-detail-basic', {priceDetailConfig, bundleFlag}) %>

    <div class="l-System_Container u-Adjust_Mt-48">
      <p class="u-Adjust_Align-center c-Txt_Emp-01" style="font-size: 18px;">【ご購入前にご確認ください】</p>
      <ul class="c-List_Text-disc u-Adjust_Mt-16">
        <li>購入手続き後、当社で審査を実施し、完了をもって購入契約成立となります。ただし、当社所定の条件に該当する場合、注文キャンセルとなる可能性がございます。キャンセルの際は、登録メールアドレス宛にご連絡します。</li>
        <li><span class="c-Txt_Emp-02">充電器・ケーブルは別売りとなっております。</span>「購入する」ボタンを押下後、製品をカートに追加する際に、必要なアクセサリも同時にご購入ください。アクセサリの詳細は「関連アクセサリ」からご確認ください。</li>
      </ul>
    </div>

    <%
    const relatedAccessoryConf = {
      namespace,
      directory,
      relatedAccessory: [
        {
          title: 'OwltechAC充電器（20W）',
          url: 'product/accessory/owltech-apd20c1a1bk/?l-id=product_xperia-5m5_owltech-apd20c1a1bk',
          image: 'assets/img/accessory/owltech-apd20c1a1bk/pht-accessory-00.png',
          price: '2,618'
        },
        {
          title: 'USB Type-A to Type-C シリコンケーブル 1m（ブラック/ホワイト）',
          url: `product/accessory/owltech-owlcbsac10bk/?l-id=product_${directory}_owltech-owlcbsac10bk`,
          image: 'assets/img/accessory/owltech-owlcbsac10bk/pht-accessory-00.png',
          price: '1,080'
        },
        {
          title: 'USB Type-C to Type-C シリコンケーブル 2m（ブラック）',
          url: 'product/accessory/mot-scbccg200-bk/?l-id=product_xperia-5m5_mot-scbccg200-bk',
          image: 'assets/img/accessory/mot-scbccg200-bk/pht-accessory-00.png',
          price: '1,480'
        },
        {
          title: 'USB Type-A to Type-C シリコンケーブル 2m（ブラック/ホワイト）',
          url: 'product/accessory/mot-scbacg200-bk/?l-id=product_xperia-5m5_mot-scbacg200-bk',
          image: 'assets/img/accessory/mot-scbacg200-bk/pht-accessory-00.png',
          price: '1,280'
        },
        {
          title: 'Xperia 5 V 全面ガラスフィルム 高光沢 ブルーライトカット',
          url: 'product/accessory/rselect-rmsoxpravvf0232cl/?l-id=product_xperia-5m5_rselect-rmsoxpravvf0232cl',
          image: 'assets/img/accessory/rselect-rmsoxpravvf0232cl/pht-accessory-00.png',
          price: '2,480'
        }
      ]
    }
    -%>
    <div id="accessory">
      <%- include('/include/product/_related-carousel', { relatedAccessoryConf }) _%>
    </div>

    <%- include('/include/product/smartphone/_price-detail-notes') _%>
    </div>

    <div class="<%= namespace %>_Spec-wrap">
      <div class="l-System_Container">

        <div class="product-detail-Spec">
          <ul class="product-detail-Spec_<%= theme %>">
            <li aria-current="true"><span class="c-Icon_Product-waterproof"></span>防水</li>
            <li aria-current="true"><span class="c-Icon_Product-price-yen"></span>おサイフ<br>ケータイ</li>
            <li aria-current="true"><span class="c-Icon_Product-hi-res"></span>ハイレゾ<br>オーディオ</li>
            <li aria-current="false"><span class="c-Icon_Product-faceid"></span>顔認証</li>
            <li aria-current="true"><span class="c-Icon_Product-finger"></span>指紋認証</li>
            <li aria-current="true"><span class="c-Icon_Product-charger"></span>ワイヤレス<br>充電</li>
            <li aria-current="true"><span class="c-Icon_Product-connection"></span>高速通信</li>
          </ul>
          <p class="u-Adjust_Mt-64"><a href="#spec" class="c-Link_Txt-icon-front js-scroll" data-ratevent="click" data-ratparam="all" data-ratid="xperia-5m5_spec-anchor"><span class="c-Icon_Arrow-down-l"></span>基本スペックを見る</a></p>
        </div>

        <section id="feature" class="product-detail-Layout_Section">
          <h2 class="c-Heading_Lv2-rich" data-ratid="xperia-5m5_scroll-03_feature" data-ratevent="appear">特長</h2>

          <ul class="product-detail-Catch <%= namespace %>_Catch">
            <li><a href="#feature1" class="js-scroll" data-ratevent="click" data-ratparam="all" data-ratid="xperia-5m5_feature-anchor-01"><span class="c-Icon_Arrow-down-l product-detail-Catch_Icon"></span><span class="product-detail-Catch_Txt">いい音で感動。もっと頑張れる</span></a></li>
            <li><a href="#feature2" class="js-scroll" data-ratevent="click" data-ratparam="all" data-ratid="xperia-5m5_feature-anchor-02"><span class="c-Icon_Arrow-down-l product-detail-Catch_Icon"></span><span class="product-detail-Catch_Txt">大切な思い出をありのままに残すからシェアしたくなる</span></a></li>
            <li><a href="#feature3" class="js-scroll" data-ratevent="click" data-ratparam="all" data-ratid="xperia-5m5_feature-anchor-03"><span class="c-Icon_Arrow-down-l product-detail-Catch_Icon"></span><span class="product-detail-Catch_Txt">いつでもサクサク・快適。<br>バテない、バッテリー</span></a></li>
          </ul>

          <section class="product-detail-Feature" id="feature1">
            <h2 class="c-Heading_Lv2">いい音で感動。もっと頑張れる</h2>
            <figure class="product-detail-Feature_Img u-Adjust_Mt-24"><img src="<%= sitepath %>assets/img/product/<%= directory %>/main-image-01.png" alt=""></figure>
            <p class="product-detail-Feature_Txt">
              いつも聴いている曲も、Xperia™ならワンランク上の音に生まれ変わります。スピーカー、ワイヤレス 、有線、どんな聴き方でもいい音になるから、いつでも気分UP。さらに、きれいなディスプレイで動画も思いっきり楽しめます。
            </p>
          </section>
          <section class="product-detail-Feature" id="feature2">
            <h2 class="c-Heading_Lv2">大切な思い出をありのままに残すからシェアしたくなる</h2>
            <figure class="product-detail-Feature_Img u-Adjust_Mt-24"><img src="<%= sitepath %>assets/img/product/<%= directory %>/main-image-02.png?221125" alt=""></figure>
            <p class="product-detail-Feature_Txt">
              スマホとは思えない驚きのカメラ性能。暗い場所でも明るくきれいに撮れます。さらに、美しいぼけを活かした撮影も可能。思い出をありのままに残せるから、「いいね！」と言われる1枚に。
            </p>
          </section>
          <section class="product-detail-Feature" id="feature3">
            <h2 class="c-Heading_Lv2">いつでもサクサク・快適。
              バテない、バッテリー</h2>
            <figure class="product-detail-Feature_Img u-Adjust_Mt-24"><img src="<%= sitepath %>assets/img/product/<%= directory %>/main-image-03.png" alt=""></figure>
            <p class="product-detail-Feature_Txt">
              卓越したパフォーマンスを誇る、高速のSnapdragon® 8 Gen 2 Mobile Platformを搭載。また、Xperia 5 Vなら、1日使ってもバッテリー容量が約50%残ります<span class="c-Txt_Cap">※1</span>。持ちやすいスリムなボディで、毎日の生活を支えます。
            </p>
            <ul class="c-Txt_Cap u-Adjust_Mt-16">
              <li><span class="c-Txt_Cap">※1 Xperiaユーザーのバッテリー使用プロファイル標準値から、インターネット閲覧・動画閲覧・ゲーム・その他の機能を1日あたり360分利用（1080分の待機時間）を想定したテストに基づく推定値です。実際のバッテリー残量はお客さまのご利用状況や使用環境によって異なります。</span></li>
            </ul>
          </section>
        </section>

        <div class="product-detail-Layout_Sub <%= namespace %>_Sub">
          <section class="product-detail-Layout_Section">
            <section class="product-detail-Feature_Sub">
              <h3 class="c-Heading_Lv4 u-Show_Oxx u-Adjust_Mb-16" data-ratid="xperia-5m5_scroll-04_feature" data-ratevent="appear">かんたん・手軽にワタシらしい表現を</h3>
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-01.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4 u-Show_Xoo" data-ratid="xperia-5m5_scroll-04_feature" data-ratevent="appear">かんたん・手軽にワタシらしい表現を</h3>
                <p>
                  撮りためた写真や動画を選択するだけで、自動に動画を生成。約1分でかんたんにVlogが完成します。また、好みの色合いでクリエイティブな撮影も楽しめます。
                </p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <h3 class="c-Heading_Lv4 u-Show_Oxx u-Adjust_Mb-16">贅沢な音と映像の世界へようこそ</h3>
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-02.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4 u-Show_Xoo">贅沢な音と映像の世界へようこそ</h3>
                <p>ソニーだからできる、幅広い音と映像の体験を。360 Reality Audioや360 Upmix<span class="c-Txt_Cap">※2</span>で、ライブステージの最前列にいるような臨場感あふれる視聴ができます。また、クリエイターの意図した映像を忠実に再現。話題の映画やミュージックビデオなども、作品の世界にどっぷり入り込めます。</p>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">※2 ヘッドホンのみ対応。設定ON時に有効です。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <h3 class="c-Heading_Lv4 u-Show_Oxx u-Adjust_Mb-16">ゲームはまだまだ楽しめる</h3>
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-03.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4 u-Show_Xoo">ゲームはまだまだ楽しめる</h3>
                <p>プレーヤーのポテンシャルを最大限に引き出す、こだわりの機能がいっぱい。プロeスポーツプレーヤーと共同開発した高速タッチ検出で素早い動きにも対応する<span class="c-Txt_Cap">※3</span>ほか、充電による熱の発生を抑制する機能も搭載。</p>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">※3 ゲームアプリの仕様により、効果は異なります。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <h3 class="c-Heading_Lv4 u-Show_Oxx u-Adjust_Mb-16">「ながら使い」もラクラク</h3>
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-04.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4 u-Show_Xoo">「ながら使い」もラクラク</h3>
                <p>画面を2分割して使えるうえ、画面上にもう1つのアプリを重ねて表示＆操作が可能。動画を観ながらSNSをしたり、メッセージをしながら地図を確認したり、とっても便利。<span class="c-Txt_Cap">※4</span></p>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">※4 アプリの仕様により非対応の場合があります。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <h3 class="c-Heading_Lv4 u-Show_Oxx u-Adjust_Mb-16">スマートな使い心地</h3>
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-05.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4 u-Show_Xoo">スマートな使い心地</h3>
                <p>パッと置くだけでかんたん充電！Qi規格のワイヤレス充電に対応しているから、ワイヤレスヘッドホンや他のスマホどに充電をおすそわけできます<span class="c-Txt_Cap">※5</span>。さらに、指紋認証や画面スクロール時のなめらかな表示<span class="c-Txt_Cap">※6</span>など、操作も快適。</p>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">
                  ※5 すべてのQi対応機器を保証するものではありません。特定のデバイスでは動作しないことがあります。<br>
                  ※6 設定が必要です。ディスプレイリフレッシュレートは、コンテンツやアプリの仕様により異なる場合があります。
                </p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-06.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4 u-Show_Xoo">ずっと寄り添う​安心感​</h3>
                <p>高熱化を防ぐ熱拡散シートで、パフォーマンスをキープ。また、いたわり充電とXperia独自の充電最適化技術により、充電時のバッテリーへの負荷を軽減。3年<span class="c-Txt_Cap">※7</span>使い続けても劣化しにくい長寿命バッテリーを実現します。</p>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">※7 同タイプバッテリーで充放電を繰り返すシミュレーションに基づく（USB充電の場合）。バッテリーの寿命は利用状況によって変化します。</p>
              </div>
            </section>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="product-detail-Layout_Other">
  <div class="l-System_Container">

    <%- include('/include/product/_compensation') %>

    <section class="product-detail-Layout_Section" id="spec">
      <h2 class="c-Heading_Lv2" data-ratid="xperia-5m5_scroll-06_spec" data-ratevent="appear">スペック</h2>
      <dl class="c-Dl">
        <div>
          <dt>製品名</dt>
          <dd>
            Xperia 5 V
          </dd>
        </div>
        <div>
          <dt>色</dt>
          <dd>
            ブラック / プラチナシルバー
          </dd>
        </div>
        <div>
          <dt>サイズ</dt>
          <dd>
            約154 x 約68 x 約8.6 (mm)
          </dd>
        </div>
        <div>
          <dt>質量</dt>
          <dd>
            約182g
          </dd>
        </div>
        <div>
          <dt>ディスプレイ</dt>
          <dd>
            <p>サイズ / 種類</p>
            約6.1インチ / Glass-OLED
            <p class="u-Adjust_Mt-16">解像度</p>
            FHD+ / 1,080 × 2,520
          </dd>
        </div>
        <div>
          <dt>連続待受時間（LTE）</dt>
          <dd>
            約630時間
          </dd>
        </div>
        <div>
          <dt>連続通話（通信）時間（LTE）</dt>
          <dd>
            約50時間
          </dd>
        </div>
        <div>
          <dt>CPU</dt>
          <dd>
            Snapdragon® 8 Gen2 Mobile Platform / オクタコア 3.2GHz x 1 + 2.8GHz x 4 + 2GHz x 3
          </dd>
        </div>
        <div>
          <dt>OS<span class="c-Txt_Cap">※1</span></dt>
          <dd>
            Android™ 13
          </dd>
        </div>
        <div>
          <dt>内部メモリ（RAM / ROM）</dt>
          <dd>
            8GB (RAM) / 128GB (ROM)
          </dd>
        </div>
        <div>
          <dt>メインカメラ（外側）</dt>
          <dd>
            約4,800万画素 (広角) + 約1,200万画素 (超広角)
          </dd>
        </div>
        <div>
          <dt>フロントカメラ（内側）</dt>
          <dd>
            約1,200万画素 (広角)
          </dd>
        </div>
        <div>
          <dt>バッテリー容量</dt>
          <dd>
            5,000mAh
          </dd>
        </div>
        <div>
          <dt>ワイヤレス充電</dt>
          <dd>
            対応
          </dd>
        </div>
        <div>
          <dt>おサイフケータイ / NFC</dt>
          <dd>
            対応 / 対応
          </dd>
        </div>
        <div>
          <dt>防水 / 防塵</dt>
          <dd>
            対応 (IPX5 / IPX8 / IP6X)
          </dd>
        </div>
        <div>
          <dt>生体認証（指紋 / 顔）</dt>
          <dd>
            対応 / 非対応
          </dd>
        </div>
        <div>
          <dt>Wi-Fi規格</dt>
          <dd>
            IEEE 802.11 a/b/g/n/ac/ax/ax(6GHz)
          </dd>
        </div>
        <div>
          <dt>テザリング（Wi-Fi）</dt>
          <dd>
            10台
          </dd>
        </div>
        <div>
          <dt>SIMタイプ</dt>
          <dd>
            nanoSIM / eSIM
          </dd>
        </div>
        <div>
          <dt>付属品</dt>
          <dd>
            取扱説明書 ～ 重要なお知らせ x 1 / 保証書 x 1
          </dd>
        </div>
      </dl>
      <p class="u-Adjust_Mt-16 c-Txt_Cap">※1 発売時点のOSのバージョンを記載しています。最新のOSバージョン情報は<a href="<%= sitepath %>information/software/xperia-5m5/" class="c-Link_Txt">こちら</a>をご確認ください。</p>
      <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>product/smartphone/<%= directory %>/spec.html?l-id=product_xperia-5m5_spec_xperia-5m5" class="c-Link_Txt-inline-icon">スペック詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>

      <div class="u-Adjust_Mt-32">
        <%_ if (bundleFlag === 'bundle') { _%>
        <div class="u-Adjust_Align-center <%= bundleFlag %>">
          <a href="https://onboarding.mobile.rakuten.co.jp/equipment-details?exid=<%= exid %>&selectAvailable=true" class="c-Btn_Primary-large" data-ratid="product_detail-page_order-button-3_bss" data-ratevent="click" data-ratparam="all">購入する</a>
        </div>
        <%_ } else if(bundleFlag === 'stock') { _%>
        <div class="u-Adjust_Align-center"><a class="c-Btn_Primary-large">購入する</a></div>
        <%_ } else if(bundleFlag === 'soldout') { _%>
        <div class="u-Adjust_Align-center"><a class="c-Btn_Primary-large" aria-disabled="true">2022年10月21日発売予定</a></div>
        <%_ } else if(bundleFlag === 'backorder') { _%>
        <div class="u-Adjust_Align-center"><a class="c-Btn_Primary-large" aria-disabled="true">現在入荷待ち</a></div>
        <%_ } else if(bundleFlag === 'reserve') { _%>
          <div class="u-Adjust_Align-center u-Adjust_Mt-8">
            <a href="<%= onboardingpath2 %>equipment-details?exid=<%= exid %>&selectAvailable=true" class="c-Btn_Primary-large" data-ratid="product_detail-page_order-button-2_bss" data-ratevent="click" data-ratparam="all">
              <%_ if (typeof btnLabel !== 'undefined') { _%><%= btnLabel %><%_ } else { _%>Xperia 5 Vを予約注文する<%_ } _%>
            </a>
          </div>
        <%_ } _%>
        <p class="u-Adjust_Mt-24  u-Adjust_Align-center <%= namespace %>_Icon-front">
          <span class="<%= namespace %>_Icon-front-icon"></span>
          <a href="<%= sitepath %>guide/application-support/?l-id=product_smartphone_xperia-5m5_guide_application-support" class="c-Link_Txt-inline">オペレーターと相談しながらお申し込み！詳細はこちら<span class="c-Icon_Chevron-right"></span></a>
        </p>
      </div>
    </section>

    <div id="previously-seen"></div>
    <div id="js-same-brand"></div>

    <section class="product-detail-Layout_Section">
      <h2 class="c-Heading_Lv2">設定・サポート</h2>
      <div>
        <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/inquiry/?l-id=product_xperia-5m5_guide_inquiry" class="c-Link_Txt-inline-icon">製品の初期不良による交換・設定・修理等サポートについて<span class="c-Icon_Chevron-right"></span></a></p>
      </div>
    </section>

    <div class="u-Adjust_Mt-64">
      <%- include('/inc/_saikyo') %>
    </div>

  </div>
  <div class="u-Adjust_Mt-40">
    <%- include('/include/product/_support') %>
    <%- include('/include/product/smartphone/_footer-notes') _%>
  </div>
</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-product-v2.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>


  </div>
  <div class="c-Breadcrumbs_Foot">
    <div class="l-System_Container">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/product/_category-js') %>
<%- include('/include/product/_history-js') %>
<%- include('/include/product/_same-brand-js') %>
<script src="<%= sitepath %>assets/js/product.android-tradein.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>

</body>
</html>
