<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "楽天ひかりUN-LIMITキャンペーン" -%>
<% const directories = [{path: hikariroot.path + "campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "hikari" -%>
<% const isClosed = "true" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    // directories: directories,
    description: 'おうちのネットがタダ！！SPU対象でポイントが貯まる。楽天モバイルをあわせて使うと、楽天ひかりの月額基本料が1年無料。ひかり回線もスマホもおトクなプランで通信費が節約できる。回線速度最大1Gbps、IPv6対応で混雑する時間帯も快適。',
    noindex: false,
    pathname: filepath,
    ishikari: true,
  });
%>
<%- include('/include/_append-head') %>

<%- include('/include/hikari/_common-js') %>
<script src="https://www.rakuten.co.jp/com/advance/mobile/mnoprj_hikari_oneyearfree/responsive/condition.js"></script>
<script src="https://r.r10s.jp/com/ap/target/phoenix-2.9.0.min.js"></script>
<meta http-equiv="refresh" content="5; URL=/hikari/campaign/one-year-free/new.html">
<%- include('/include/_append-head-hikari') %>
</head>
<body data-phoenix-mnoprj_hikari_oneyearfree_responsive>
<%- include('/include/_prepend-body-hikari') %>
<%- include('/include/_append-body') %>
</body>
</html>
