<% const pagetitle = "国際通話（海外でのご利用方法）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '「国際通話」の海外でのご利用方法はこちら。現在利用中のスマートフォン(スマホ)から、手続きなしで国際通話が利用できます。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>
<% const nameSpace2 = "guide-international" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/guide.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/international/international.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

    <div class="u-Adjust_Mt-32">
      <ul>
        <li><a href="<%= sitepath %>service/international-call/" class="c-Btn_Regular"><span>特長・サービス内容を見る</span></a></li>
      </ul>
    </div>

    <ul class="<%= nameSpace2 %>-simple u-Adjust_Mt-40">
      <li><a href="#howto" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>国際通話のかけ方</a></li>
      <li><a href="#kaigai" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>海外で利用するときの開始 ／停止設定</a></li>
      <li><a href="#fee" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>ご利用可能な国・地域／料金表・国番号</a></li>
      <li><a href="#seikyu" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>請求方法</a></li>
      <li><a href="#chui" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>注意事項</a></li>
    </ul>
    <a href="<%= sitepath %>guide/international-call/" class="c-Link_Txt-icon-front js-scroll">日本でのご利用方法はこちら<span class="c-Icon_Chevron-right"></span></a>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-40" id="howto">国際通話のかけ方</h2>
    <div class="c-Infobox_Standing-border u-Adjust_Mt-24">
      <p class="c-Txt_Emp-01">例：イギリスの 07X XXXX XXXX にかける場合</p>
      <picture>
        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/guide/international-call/img-01-sp.png?210311">
        <img src="<%= sitepath %>assets/img/guide/international-call/img-01-pc.png?210311" width="1032" alt="010 または ＋（0を長押し）→相手先の国番号44→相手先の電話番号7X XXXX XXXX→発信" class="u-Adjust_Mt-16">
      </picture>
    </div>
    <p class="u-Adjust_Mt-16 c-Txt_Cap">※相手先電話番号が「0」で始まる場合は、「0」を除いてダイヤルしてください。<br>
      ※国番号は下記をご覧ください。<br>
      ※海外でOS標準の電話アプリから日本の電話番号へ電話をかける場合も国番号（&#43;81）が必要です。<br>
        <span class="c-Txt_Emp-02">※海外でOS標準の電話アプリで電話をかける場合は、「&#43;」→「国番号」→「電話番号」の順番で入力してください。「&#43;」の代わりに「010」を利用することはできません。</span><br>
        <span class="c-Txt_Emp-02">※Rakuten Linkアプリから日本の電話番号に電話をかける場合、「+ または 010」「国番号」は必要ありません。</span>
    </p>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="kaigai">海外で利用するときの開始 ／停止設定</h2>
    <h3 class="c-Heading_Lv3 u-Adjust_Mt-24">Rakuten Linkアプリをご利用の場合</h3>
    <p class="u-Adjust_Mt-16">Rakuten Linkアプリを使用する際は、海外ローミングエリアの通信事業者、またはWi-Fiに接続する必要があります。
      海外ローミングエリアの通信事業者をご利用の場合、<a href="<%= sitepath %>guide/international-roaming/">海外ローミング（データ通信）ご利用方法</a>をご確認いただき、海外ローミングの設定を行ってください。
    </p>
    <p class="u-Adjust_Mt-16">ご利用の前に、「<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile/">my 楽天モバイル</a>」の契約プラン画面で「国際通話・国際SMS」がONになっていることをご確認ください。</p>


    <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">OS標準のアプリをご利用の場合</h3>

    <div class="c-Tab js-Tab">
      <ul class="c-Tab_Items-bg u-Adjust_Mt-16" role="tablist">
          <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">開始設定（出発前）</li>
          <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">停止設定</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
        <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">開始設定（出発前）</h4>
        <p class="u-Adjust_Mt-8">渡航先に出発する前に、日本国内で事前に開始設定を行ってください。</p>
        <ol class="c-Flow u-Adjust_Mt-24">
          <li>
            <h3 class="c-Heading_Lv3">1.「my 楽天モバイル」にログイン</h3>
            <div class="c-Box_App u-Adjust_Mt-16">
              <div class="c-Box_App-icon"><img src="/assets/img/common/icon-rmb-app.png" alt="my 楽天モバイル"></div>
              <div class="c-Box_App-txt">
                <p class="c-Box_App-ttl">my 楽天モバイル</p>
                <ul class="c-Box_App-link u-Adjust_Mt-16">
                  <li class="guide-App_Btn-store">
                    <div class="guide-App_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="/assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
                    <div class="guide-App_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="/assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
                  </li>
                  <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                  <li><a href="<%= ecarepath %>my-rakuten-mobile/" class="c-Btn_Regular">Webからログインする</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2.「契約プラン」画面に移動</h3>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/international-call/img-cap-01.png" class="c-Img_Capture" alt="">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3.「海外ローミング（データ通信）」をONにする</h3>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/international-call/img-cap-02.png" class="c-Img_Capture" alt="">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">4.「国際通話・国際SMS（海外でOS標準の電話アプリ・メッセージアプリ利用時）」をONにする</h3>
            <ul class="c-List_Text-disc u-Adjust_Mt-16">
              <li>一部のエリアでは、VoLTE海外ローミング（4Gネットワークを利用した「国際通話・国際SMS（海外でOS標準の電話アプリ・メッセージアプリ利用時）」）をご利用いただけます。詳しくは<a href="#aboutvolte" class="c-Link_Txt">VoLTE海外ローミングについて</a>をご確認ください。</li>
            </ul>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/international-call/img-cap-03.png" class="c-Img_Capture" alt="">
            </div>
          </li>
        </ol>
        <ul class="c-List_Text-disc u-Adjust_Mt-24">
          <li>上記の設定後も利用できない場合は、接続しているネットワークが、OS標準の電話アプリを使用した、海外での国際通話の利用に対応していない可能性があります。その際は<a href="#accordion-1" class="js-scroll">ネットワーク変更方法</a>をご確認のうえ、設定の変更をお願いいたします。ネットワークの対応有無は、<a href="<%= sitepath %>guide/international-call/overseas/?tab-list=tab-menu6#fee" class="c-Link_Txt">ご利用可能な国・地域／料金表・国番号</a>でご確認ください。</li>
        </ul>
        <h4 class="u-Adjust_Mt-24 c-Txt_Normal-m" id="aboutvolte">VoLTE海外ローミングについて</h4>
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>ネットワーク接続<br>ご利用には対応しているネットワークに接続している必要があります。渡航先での、VoLTE海外ローミングのサービスの対応状況とご利用製品の対応状況は<a href="<%= sitepath %>support/international-roaming/area/" class="c-Link_Txt">海外ローミング対応エリア・料金</a>をご確認ください。</li>
          <li>製品の利用設定<br>VoLTE海外ローミングのご利用には、ご利用の製品や渡航先によって製品の設定を行う必要がある場合があります。詳しくは<a href="#accordion-5" class="c-Link_Txt">VoLTE海外ローミング設定方法</a>をご確認ください。</li>
          <li>VoLTEを利用した音声通話は、通常の国際通話と同じ料金でご利用いただけます。</li>
          <li>VoLTE海外ローミングサービスに関する詳しい情報は<a href="<%= sitepath %>faq/detail/10000402/" class="c-Link_Txt">VoLTE海外ローミングとは何か知りたい</a>からご確認ください。</li>
        </ul>
      </div>
      <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
        <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">停止設定</h4>
        <ol class="c-Flow u-Adjust_Mt-24">
          <li>
            <h3 class="c-Heading_Lv3">1.「my 楽天モバイル」にログイン</h3>
            <div class="c-Box_App u-Adjust_Mt-16">
              <div class="c-Box_App-icon"><img src="/assets/img/common/icon-rmb-app.png" alt="my 楽天モバイル"></div>
              <div class="c-Box_App-txt">
                <p class="c-Box_App-ttl">my 楽天モバイル</p>
                <ul class="c-Box_App-link u-Adjust_Mt-16">
                  <li class="guide-App_Btn-store">
                    <div class="guide-App_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="/assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
                    <div class="guide-App_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="/assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
                  </li>
                  <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                  <li><a href="<%= ecarepath %>my-rakuten-mobile/" class="c-Btn_Regular">Webからログインする</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2.「契約プラン」画面に移動</h3>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/international-call/img-cap-04.png" class="c-Img_Capture" alt="">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3.「国際通話・国際SMS（海外でOS標準の電話アプリ・メッセージアプリ利用時）」をOFFにする</h3>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/international-call/img-cap-05.png" class="c-Img_Capture" alt="">
            </div>
          </li>
        </ol>
      </div>
    </div>
    <div class="c-Accordion u-Adjust_Mt-24">
      <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ネットワーク変更方法</button>
      <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">

        <div class="c-Tab js-Tab">
          <ul class="c-Tab_Items-bg" role="tablist">
              <li class="c-Tab_Item" id="tab-menu3" role="tab" aria-selected="true" aria-controls="tab-content3">Android版</li>
              <li class="c-Tab_Item" id="tab-menu4" role="tab" aria-selected="false" aria-controls="tab-content4">iOS版</li>
          </ul>
          <div class="c-Tab_Panel" id="tab-content3" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu3">
            <p class="c-Txt_Cap u-Adjust_Mt-16">※製品やOSのバージョンにより、表示が一部異なる場合があります。</p>
            <ol class="c-Flow u-Adjust_Mt-32">
              <li>
                <h3 class="c-Heading_Lv3">1. 「設定」をタップ</h3>
                <figure class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/international-call/img-android01.png" width="300" alt="" class="c-Img_Capture">
                </figure>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">2. 「ネットワークとインターネット」をタップ</h3>
                <figure class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/international-call/img-android02.png" width="300" alt="" class="c-Img_Capture">
                </figure>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">3. 「モバイルネットワーク」をタップ</h3>
                <figure class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/international-call/img-android03.png" width="300" alt="" class="c-Img_Capture">
                </figure>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">4. 「詳細設定」をタップ</h3>
                <figure class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/international-call/img-android04.png" width="300" alt="" class="c-Img_Capture">
                </figure>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">5. 「ネットワークを自動的に選択」をオフにする</h3>
                <figure class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/international-call/img-android05.png" width="300" alt="" class="c-Img_Capture">
                </figure>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">6. 「ネットワークを選択」をタップ</h3>
                <figure class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/international-call/img-android06.png?210628" width="300" alt="" class="c-Img_Capture">
                </figure>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">7. 利用したいネットワークを選択</h3>
                <figure class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/international-call/img-android07.png" width="300" alt="" class="c-Img_Capture">
                </figure>
              </li>
            </ol>
            <p class="u-Adjust_Mt-16">以上でネットワークの変更は完了です。</p>
            <p class="u-Adjust_Mt-16">通信事業者を手動で設定した場合、国・地域を移動することなどにより、利用中の通信事業者のネットワークが圏外になった際に設定は変更されず圏外のままとなります（自動的にネットワークを検索して他の通信事業者に接続しなおすには、ネットワークサーチ設定を「自動」に設定してください）。<br>
              <br>
              帰国後は、海外通信事業者の設定を「自動」、もしくは手動で「Rakuten」に設定してください。</p>
          </div>
          <div class="c-Tab_Panel" id="tab-content4" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu4">
            <p class="c-Txt_Cap u-Adjust_Mt-16">※製品やOSのバージョンにより、表示が一部異なる場合があります。</p>
            <ol class="c-Flow u-Adjust_Mt-32">
              <li>
                <h3 class="c-Heading_Lv3">1. 「設定」をタップ</h3>
                <figure class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/international-call/img-ios01.png" width="300" alt="" class="c-Img_Capture">
                </figure>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">2. 「モバイル通信」をタップ</h3>
                <figure class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/international-call/img-ios02.png" width="300" alt="" class="c-Img_Capture">
                </figure>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">3. 「ネットワーク選択」をタップ</h3>
                <figure class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/international-call/img-ios03.png" width="300" alt="" class="c-Img_Capture">
                </figure>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">4. 「自動」をオフにする</h3>
                <figure class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/international-call/img-ios04.png" width="300" alt="" class="c-Img_Capture">
                </figure>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">5. 利用したいネットワークを選択</h3>
                <figure class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/international-call/img-ios05.png" width="300" alt="" class="c-Img_Capture">
                </figure>
              </li>
            </ol>
            <p class="u-Adjust_Mt-16">以上でネットワークの変更は完了です。</p>
            <p class="u-Adjust_Mt-16">通信事業者を手動で設定した場合、国・地域を移動することなどにより、利用中の通信事業者のネットワークが圏外になった際に設定は変更されず圏外のままとなります（自動的にネットワークを検索して他の通信事業者に接続しなおすには、ネットワークサーチ設定を「自動」に設定してください）。<br>
              <br>
              帰国後は、海外通信事業者の設定を「自動」、もしくは手動で「Rakuten」に設定してください。</p>
          </div>
        </div>
      </div>
    </div>

    <div class="c-Accordion">
      <button type="button" id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>VoLTE海外ローミング設定方法</button>
      <div id="accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-5" aria-hidden="true">

        <div class="c-Tab js-Tab">
          <ul class="c-Tab_Items-bg" role="tablist">
              <li class="c-Tab_Item" id="tab-menu7" role="tab" aria-selected="true" aria-controls="tab-content7">Android版</li>
              <li class="c-Tab_Item" id="tab-menu8" role="tab" aria-selected="false" aria-controls="tab-content8">iOS版</li>
          </ul>
          <div class="c-Tab_Panel" id="tab-content7" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu7">
            <p class="c-Txt_Cap u-Adjust_Mt-16">※渡航後にご利用の製品でVoLTEがオンになっていることをご確認ください。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※製品やOSのバージョンにより、表示が一部異なる場合があります。</p>
            <ol class="c-Flow u-Adjust_Mt-32">
              <li>
                <h3 class="c-Heading_Lv3">1. 「設定」をタップ</h3>
                <figure class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/international-call/volte-android-1-220616.png" width="300" alt="" class="c-Img_Capture">
                </figure>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">2. 「接続」をタップ</h3>
                <figure class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/international-call/volte-android-2-220616.png" width="300" alt="" class="c-Img_Capture">
                </figure>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">3. 「ローミング設定」をタップ</h3>
                <figure class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/international-call/volte-android-3-220616.png" width="300" alt="" class="c-Img_Capture">
                </figure>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">4. 「4G設定」をオンにする</h3>
                <figure class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/international-call/volte-android-4-220616.png" width="300" alt="" class="c-Img_Capture">
                </figure>
              </li>
            </ol>
          </div>
          <div class="c-Tab_Panel" id="tab-content8" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu8">
            <p class="c-Txt_Cap u-Adjust_Mt-16">※渡航後にご利用の製品でVoLTEがオンになっていることをご確認ください。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※製品やOSのバージョンにより、表示が一部異なる場合があります。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※iOS製品でVoLTE海外ローミングをご利用の際は、iOS 14.4以降にアップデートされている必要があります。</p>

            <ol class="c-Flow u-Adjust_Mt-32">
              <li>
                <h3 class="c-Heading_Lv3">1. 「設定」をタップ</h3>
                <figure class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/international-call/volte-ios-1-220616.png" width="300" alt="" class="c-Img_Capture">
                </figure>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">2. 「モバイル通信」をタップ</h3>
                <figure class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/international-call/volte-ios-2-220616.png" width="300" alt="" class="c-Img_Capture">
                </figure>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">3. 「通信のオプション」をタップ</h3>
                <figure class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/international-call/volte-ios-3-220616.png" width="300" alt="" class="c-Img_Capture">
                </figure>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">4. 「音声通話とデータ」をタップ</h3>
                <figure class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/international-call/volte-ios-4-220616.png" width="300" alt="" class="c-Img_Capture">
                </figure>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">5. 「4G」をタップし「VoLTE」をオンにする</h3>
                <figure class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/international-call/volte-ios-5-220616.png" width="300" alt="" class="c-Img_Capture">
                </figure>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="fee">ご利用可能な国・地域／料金表・国番号</h2>
    <div class="u-Adjust_Mt-8">（2023年6月1日時点）</div>
    <p class="u-Adjust_Mt-16">利用する国やアプリによって対応状況や料金が異なりますのでご注意ください。</p>

    <div class="c-Theme-Light u-Adjust_Mt-32">
      <p>ご利用の製品の渡航先での利用可否は、以下をご確認ください。</p>
      <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>support/international-roaming/area/" class="c-Link_Txt-inline">海外ローミング　対応エリア・料金<span class="c-Icon_Chevron-right"></span></a></p>
    </div>

    <div class="l-Media_Grid u-Adjust_Mt-16">
      <div>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※ Rakuten Linkアプリ同士の通話は無料です。<br>
          ※iOS製品をご利用の場合、Rakuten Linkで着信はご利用いただけません。<br>
          ※OS標準の電話アプリでの発着信には一部制限があります。詳しくは<a href="<%= sitepath %>service/international-call/#fee">料金のご案内</a>をご確認ください。</p>
      </div>
    </div>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-64" id="global">海外で国際通話を利用する場合</h3>

    <div class="c-Tab js-Tab">
      <ul class="c-Tab_Items-bg u-Adjust_Mt-16" role="tablist">
        <li class="c-Tab_Item" id="tab-menu5" role="tab" aria-selected="true" aria-controls="tab-content5">Rakuten Linkアプリを使用する</li>
        <li class="c-Tab_Item" id="tab-menu6" role="tab" aria-selected="false" aria-controls="tab-content6">OS標準のアプリを使用する</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content5" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu5">
        <div class="l-Media_Grid u-Adjust_Mt-16">
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/guide/international-call/global-link.png" alt="" width="343">
          </div>
          <div>
            <p class="c-Txt_Emp-02 u-Adjust_Mt-32">海外でRakuten Linkアプリを使用して、国際通話を利用する方が対象になります。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※相手の電話番号の国・地域によって異なります。<br>
              ※（0570）などから始まる他社接続サービス、一部特番（188）への通話については、海外からはご利用いただけません。</p>
          </div>
        </div>
        <div id="countryCode_Link"></div>
      </div>
      <div class="c-Tab_Panel" id="tab-content6" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu6">
        <div class="l-Media_Grid u-Adjust_Mt-16">
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/guide/international-call/global-os.png" alt="" width="343">
          </div>
          <div>
            <p class="c-Txt_Emp-02 u-Adjust_Mt-32">海外でOS標準のアプリを使用して、国際通話を利用する方が対象になります。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※お客様が滞在している国・地域の通信事業者によって異なります。</p>
            <p class="c-Txt_Cap">※事業者名はご利用のデバイスによって表示が異なります。</p>
            <p class="c-Txt_Cap">※アメリカ（本土）・アラスカ・ハワイ・プエルトリコ・米領バージン諸島の地域の着信料金は、2023年4月1日より195円／分となります。</p>
          </div>
        </div>
        <div id="countryCode_OS"><%#
          vue rendering area
          - src/vue/guide/InternationalCall-os.vue
          - src/csv/guide-international.csv
        _%></div>
      </div>
    </div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="seikyu">請求方法</h2>
    <p class="u-Adjust_Mt-16">本サービスは当社にて、サービスごとに毎月のご利用限度額を設定しています。</p>
    <ul class="c-List_Text-disc u-Adjust_Mt-24">
      <li><a href="#accordion-3" class="js-scroll js-openAccordion" data-target-accordion="#accordion-3">国際通話・国際SMSサービス</a>: 毎月のご利用限度額 20,000円</li>
      <li><a href="#accordion-4" class="js-scroll js-openAccordion" data-target-accordion="#accordion-4">国際通話・国際SMS（海外でOS標準の電話アプリ・メッセージアプリ利用時）サービス</a>: 毎月のご利用限度額 20,000円</li>
    </ul>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="chui">注意事項</h2>
    <div class="c-Accordion u-Adjust_Mt-16">
      <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>国際通話・国際SMSサービス全体に関する注意事項</button>
      <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="false">
        <ul class="c-List_Text-disc">
          <li>相手国の電話会社のガイダンスに接続した場合や呼び出し音が鳴った場合など、相手国の電話会社の通信事情などにより（フリーダイヤルで無料と案内された場合でも）通話・通信料が発生することがあります。</li>
          <li>特定の電話番号（例：117や119等の電話の3桁番号サービス、衛星電話）は海外ローミング先のネットワークによって利用可否が異なる場合があります。</li>
          <li>発信者番号非通知を設定していても、海外ローミング先のネットワークによって「通話不可能」や「非通知」など正しい番号表示にならない場合があります。</li>
          <li>ご利用の機種や、海外ローミング先のネットワーク、または通信先の相手国のネットワークの通信事情により、一覧にある事業者でサービスをご利用いただけない場合があっても当社は一切の責任を負いません。</li>
          <li>各種料金割引サービスの対象外となります。</li>
          <li>通話・通信料は、毎月のご利用料金と合算しての請求となります。</li>
          <li>国際通話・国際SMSのサービスエリア・提供条件は予告なく変更になる場合があります。</li>
          <li>各海外／国際サービスのご利用料金は、不課税です。</li>
          <li>本サービスの通信料は、日本国内の通信料とは異なります。</li>
          <li>Rakuten LinkアプリiOS版をご利用のお客様は、相手がRakuten Linkを利用していない場合、iOS標準の電話アプリに着信いたします。海外にいるときは着信料が発生いたしますのでご注意ください。</li>
          <li>一部の海外通信事業者で90日以上のサービスのご利用は許可されない場合がございます。</li>
          <li>通話先の相手国・地域によっては、現地事業者の設備などの都合により接続できない場合あります。</li>
          <li>国際通話・国際SMS（海外でOS標準の電話アプリ・メッセージアプリ利用時）のサービスエリア・提供条件は予告なく変更になる場合があります。</li>
          <li>国際通話・国際SMS、国際通話・国際SMS（海外でOS標準の電話アプリ・メッセージアプリ利用時）の月ごとのご利用限度額、またmy 楽天モバイル上のご利用量とご利用限度額表示は目安であり反映されない場合があります。実際のご利用量と請求金額については毎月の請求書に反映されますのでご確認ください。</li>
          <li>国際通話、国際通話（海外でOS標準の電話アプリ利用時）は、通話が終了した後に利用時間を当社にて確認するため、1回で長時間の通話をご利用の際は通話料がご利用限度額（20,000円）を超えて高額となる可能性があります。予め料金表をご確認の上、ご利用ください。</li>
          <li>国際通話・国際SMS（海外でOS標準の電話アプリ・メッセージアプリ利用時）のご利用額、および、海外での着信転送サービスのご利用額は、翌月の利用分と合算してご請求する場合があります。</li>
        </ul>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>国際通話・国際SMSに関する注意事項</button>
      <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="false">
        <ul class="c-List_Text-disc">
          <li>海外／国際サービス「国際通話・国際SMS 」は当社にて毎月のご利用限度額 （20,000円）を設定しています。海外／国際サービス「国際通話・国際SMS」のご利用額の合計が、ご利用限度額を超過したことを当社にて確認できた時点で「国際通話・国際SMS」サービスの利用を停止させていただきます。また、当該料金の支払いが確認できるまでの期間、当サービスの利用を停止する場合があります。ご利用を再開するには全利用額を精算いただく必要があります。利用停止の解除をご希望のお客様は、050-5434-4633までご連絡ください。</li>
        </ul>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>国際通話・国際SMS（海外でOS標準の電話アプリ・メッセージアプリご利用時）に関する注意事項</button>
      <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="false">
        <ul class="c-List_Text-disc">
          <li>海外でOS標準の電話アプリ・メッセージアプリを利用して通話を行う・メッセージを送受信する場合は、my 楽天モバイルの契約プラン画面で、「国際通話・国際SMS（海外でOS標準の電話アプリ・メッセージアプリご利用時） 」サービスがオンになっていること、また、<a href="#global" class="js-scroll js-openTab" data-target-tab="#tab-menu6">ご利用の国・地域のネットワークの対応可否</a>をご確認ください。</li>
          <li>海外／国際サービス「国際通話・国際SMS（海外でOS標準の電話アプリ・メッセージアプリ利用時）」は当社にて毎月のご利用限度額（20,000円）を設定しています。海外／国際サービス「国際通話（海外でOS標準の電話アプリ・メッセージアプリ利用時）」のご利用額の合計が、ご利用限度額を超過したことを当社にて確認できた時点で、「国際通話（海外でOS標準の電話アプリ・メッセージアプリ利用時）」サービスの利用を停止させていただきます。また、当該料金の支払いが確認できるまでの期間、当サービスの利用を停止する場合があります。利用停止の解除をご希望のお客様は、Rakuten Linkアプリから050-5434-4633までご連絡ください。ご利用を再開するには全利用額を精算いただく必要があります。</li>
          <li>海外／国際サービス「国際通話・国際SMS（海外でOS標準の電話アプリ・メッセージアプリ利用時）」の毎月のご利用額が、5,000円を超過するごとに、利用を一時停止させていただきます。再開をご希望のお客様は、my 楽天モバイルの契約プラン画面から「国際通話（海外でOS標準の電話アプリ・メッセージアプリ利用時）」サービスをオンにしてください。</li>
          <li>海外／国際サービス「国際通話・国際SMS（海外でOS標準の電話アプリ・メッセージアプリ利用時）」は、国際通話のかけ放題の対象とはならず、従量課金となります。</li>
          <li>海外渡航時、2G非対応製品をご利用の場合、3Gネットワークがない国では国際通話（海外でOS標準の電話アプリ利用時）サービスはご利用いただけません。Rakuten Linkアプリから通話をご利用ください。</li>
          <li>VoLTE海外ローミングをご利用の前に、ご利用の製品と現地の海外通信事業者のサービス対応状況を<a href="<%= sitepath %>support/international-roaming/area/" class="c-Link_Txt">海外ローミング対応エリア・料金</a>にてご確認ください。</li>
          <li>iOS製品でVoLTE海外ローミングをご利用の際は、iOS 14.4以降にアップデートされている必要があります。</li>
          <li>海外でVoLTE通話中の方が、VoLTE海外ローミングのエリア外に移動した場合、通話は切断されます。</li>
          <li>滞在国内宛の発信であっても、発信の際に「＋」と相手先の国番号の入力が必要になることがあります。</li>
          <li>VoLTE海外ローミングについての詳細は<a href="<%= sitepath %>faq/detail/10000402/" class="c-Link_Txt">VoLTE海外ローミングとは何か知りたい</a>でご確認ください。</li>
        </ul>
      </div>
    </div>

    <div class="u-Adjust_Pt-40">
      <div><a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップに戻る</span></a></div>
      <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a></div>
    </div>

  </div>
</div>



<%- include('/include/guide/_review') %>
<%- include('/include/guide/_inquiry') %>
<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <div class="l-System_Container">
      <div class="c-Breadcrumbs_Foot">
        <ul>
          <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ if (typeof directories !== 'undefined') { _%>
          <%_ let dirs = []; _%>
          <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
              <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
              <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
          <%_ }) _%>
          <%_ } _%>
          <li aria-current="true"><%= pagetitle %></li>
        </ul>
      </div>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.international-call.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
