<% const pagetitle = "故障紛失保証 with AppleCare Services & iCloud+（「iCloud+ 50GBストレージ付き」のご利用方法）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/iphone/product-warranty/", label:"製品保証サービス（iPhone・Apple Watch）に関するサポート"}, {path:"guide/iphone/applecare-icloud/", label:"故障紛失保証 with AppleCare Services & iCloud+（お申し込み方法・ご利用方法）"}] -%>
<%-
 include('/_header', {
    pagetitle,
    directories,
    description: '楽天モバイルで購入したiPhoneの保証サービス「故障紛失保証 with AppleCare Services & iCloud+」を利用した「iCloud+ 50GBストレージ付き」のご利用方法に関して、各サービス内容とご利用方法をご案内いたします。ご利用方法は「無料プラン（5GB）をご利用の方」、「50GBプランをご利用の方」、「200GB以上のプランをご利用の方」がありますので、お客様のご都合にあわせて、ご利用ください。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "repair" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/iphone/applecare/<%= nameSpace %>/repair.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>

</head>
<body>
  <%- include('/include/_prepend-body') %>

  <div class="l-System">

    <%- include('/include/_header') %>

    <%- include('/include/_breadcrumbs', {
      type: 'head',
      pagetitle,
      directories,
    }) %>
    <div class="l-System">
      <div class="l-System_Container u-Adjust_Pb-24">
        <h1 class="c-Txt_Normal-xl u-Adjust_Mt-32 c-Txt_Emp-01"><%= pagetitle %></h1>
        <p class="u-Adjust_Mt-16">「iCloud+ 50GBストレージ付き」のご利用開始方法は、お客様の現在のiCloudストレージプランのご利用状況に応じて異なります。<br>該当するプランにあわせてご利用ください。</p>
        <p class="u-Adjust_Mt-8"><a href="https://support.apple.com/ja-jp/guide/icloud/mmfc854d9604/icloud" class="c-Link_Txt-inline-icon" target="_blank">Apple社のiCloud+の詳細を見る<span class="c-Icon_New-window-l"></span></a></p>

        <p class="u-Adjust_Mt-16">「故障紛失保証 with AppleCare Services」をご利用のお客様はこちらをご確認ください。</p>
        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>service/iphone/applecare/" class="c-Link_Txt-inline">故障紛失保証 with AppleCare Services<span class="c-Icon_Chevron-right"></span></a></p>

        <div class="c-Tab js-Tab u-Adjust_Mt-32">
          <ul class="c-Tab_Items" role="tablist">
            <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">無料プラン（5GB）をご利用の方</li>
            <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">50GBプランをご利用の方</li>
            <li class="c-Tab_Item" id="tab-menu3" role="tab" aria-selected="false" aria-controls="tab-content3">200GB以上のプランをご利用の方</li>
          </ul>
          <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
            <h2 class="c-Heading_Lv2 u-Adjust_Mt-24">無料プラン（5GB）をご利用の方</h2>
            <div class="u-Adjust_Mt-16">
              <p>「iCloud+ 50GBストレージ付き」をご利用いただくには、あらかじめ以下の設定が必要です。</p>
              <ul class="c-List_Text-disc u-Adjust_Mt-16">
                <li>Apple IDでiCloudにサインインしている必要があります。</li>
              </ul>
            </div>

            <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">「iCloud+ 50GBストレージ付き」のご利用方法</h3>
            <ul class="c-Flow u-Adjust_Mt-24">
              <li>
                <h3 class="c-Heading_Lv3">1.ご購入いただいた製品に通知が来ていることを確認する</h3>
                <p class="c-Txt_Cap u-Adjust_Mt-16">
                  ※ご購入いただいた製品がお手元に届いた日の翌日以降に、製品に通知が届きます。<br>※通知をタップする場合は手順4へお進みください。
                </p>
                <p class="u-Adjust_Mt-8">
                  <a href="#notifications-off" class="js-scroll c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>通知を消してしまった場合</a>
                </p>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/howto-flow-01.png" class="c-Img_Capture" width="300" height="602" alt="">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">2.「設定」をタップする</h3>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/howto-flow-02.png" class="c-Img_Capture" width="300" height="602" alt="">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">3.「iCloud+のオファーを使用」をタップする</h3>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/howto-flow-03.png" class="c-Img_Capture" width="300" height="602" alt="" loading="lazy">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">4.「ストレージを追加」をタップする</h3>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/howto-flow-04.png" class="c-Img_Capture" width="300" height="602" alt="" loading="lazy">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">5.「iCloud+を無料で楽しむ」をタップする</h3>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/howto-flow-05.png" class="c-Img_Capture" width="300" height="602" alt="" loading="lazy">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">6.ストレージプランが50GB無料となっていることを確認する</h3>
                <p class="u-Adjust_Mt-16">「完了」をタップし、「有効なAppleCareプランで無料」の表記をご確認ください。ご確認後、セットアップと初期設定を行ってください。</p>
                <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/iphone/icloud/" class="c-Link_Txt-inline-icon">iCloudでのバックアップ作成と復元方法<span class="c-Icon_Chevron-right"></span></a></p>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/howto-flow-06-01.png" class="c-Img_Capture" width="300" height="602" alt="" loading="lazy">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/howto-flow-06-02.png" class="c-Img_Capture u-Adjust_Ml-pc-24 u-Adjust_Mt-sp-8" width="300" height="602" alt="" loading="lazy">
                </div>
              </li>
            </ul>
            <p class="u-Adjust_Mt-24">以上が「iCloud+ 50GBストレージ付き」のご利用方法になります。</p>

            <h3 class="c-Heading_Lv3 u-Adjust_Mt-40" id="notifications-off">通知を消してしまった場合</h3>
            <p class="u-Adjust_Mt-8">以下の手順で「iCloud+ 50GBストレージ付き」の利用を開始してください。</p>
            <ul class="c-Flow u-Adjust_Mt-24">
              <li>
                <h3 class="c-Heading_Lv3">1.「設定」をタップする</h3>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/notifications-off-flow-01.png" class="c-Img_Capture" width="300" height="602" alt="" loading="lazy">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">2.「ユーザー名」をタップする</h3>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/notifications-off-flow-02.png" class="c-Img_Capture" width="300" height="602" alt="" loading="lazy">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">3.「iCloud」をタップする</h3>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/notifications-off-flow-03.png" class="c-Img_Capture" width="300" height="602" alt="" loading="lazy">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">4.「アカウントのストレージを管理」をタップする</h3>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/notifications-off-flow-04.png" class="c-Img_Capture" width="300" height="602" alt="" loading="lazy">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">5.「ストレージプランを変更」 をタップする</h3>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/notifications-off-flow-05.png" class="c-Img_Capture" width="300" height="602" alt="" loading="lazy">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">6.「50GB」をタップし、その後、右上の「購入する」をタップする</h3>
                <p class="u-Adjust_Mt-16">「有効なAppleCare プランで無料」と表示されていることをご確認ください。</p>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/notifications-off-flow-06.png" class="c-Img_Capture" width="300" height="602" alt="" loading="lazy">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">7.ストレージプランが50GB無料となっていることを確認する</h3>
                <p class="u-Adjust_Mt-16">「ストレージプランを変更」 をタップし、「有効なAppleCareプランで無料」の表記をご確認ください。ご確認後、セットアップと初期設定を行ってください。</p>
                <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/iphone/icloud/" class="c-Link_Txt-inline-icon">iCloudでのバックアップ作成と復元方法<span class="c-Icon_Chevron-right"></span></a></p>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/notifications-off-flow-07-01.png" class="c-Img_Capture" width="300" height="602" alt="" loading="lazy">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/notifications-off-flow-07-02.png" class="c-Img_Capture u-Adjust_Ml-pc-24 u-Adjust_Mt-sp-8" width="300" height="602" alt="" loading="lazy">
                </div>
              </li>
            </ul>
            <p class="u-Adjust_Mt-24">以上が通知を消してしまった場合の「iCloud+ 50GBストレージ付き」のご利用方法になります。</p>
          </div>

          <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
            <h2 class="c-Heading_Lv2 u-Adjust_Mt-24">50GBプランをご利用の方</h2>
            <div class="u-Adjust_Mt-16">
              <p class="c-Txt_Emp-02">50GB 有料ストレージプランの月額料金に残期間がある場合には、日割計算で Apple社から返金されます。</p>
              <p>「iCloud+ 50GBストレージ付き」をご利用いただくには、あらかじめ以下の設定が必要です。</p>
              <ul class="c-List_Text-disc u-Adjust_Mt-16">
                <li>Apple IDでiCloudにサインインしている必要があります。</li>
              </ul>
            </div>

            <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">「iCloud+ 50GBストレージ付き」のご利用方法</h3>
            <ul class="c-Flow u-Adjust_Mt-24">
              <li>
                <h3 class="c-Heading_Lv3">1.ご購入いただいた製品に通知が来ていることを確認する</h3>
                <p class="u-Adjust_Mt-16">49GB以上の容量をすでに使用している場合、有効化の通知は届きません。「通知を消してしまった場合」の手順より、「iCloud+ 50GBストレージ付き」の利用を開始してください。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-16">
                  ※ご購入いただいた製品がお手元に届いた日の翌日以降に、製品に通知が届きます。<br>※通知をタップする場合は手順4へお進みください。
                </p>
                <p class="u-Adjust_Mt-8">
                  <a href="#notifications-off-50GB" class="js-scroll c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>通知を消してしまった場合</a>
                </p>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/howto-flow-01.png" class="c-Img_Capture" width="300" height="602" alt="">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">2.「設定」をタップする</h3>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/howto-flow-02.png" class="c-Img_Capture" width="300" height="602" alt="">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">3.「iCloud+のオファーを使用」をタップする</h3>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/howto-flow-03.png" class="c-Img_Capture" width="300" height="602" alt="">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">4.「ストレージを追加」をタップする</h3>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/howto-flow-04.png" class="c-Img_Capture" width="300" height="602" alt="">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">5.「iCloud+を無料で楽しむ」をタップする</h3>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/howto-flow-05.png" class="c-Img_Capture" width="300" height="602" alt="">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">6.ストレージプランが50GB無料となっていることを確認する</h3>
                <p class="u-Adjust_Mt-16">「完了」をタップし、「有効なAppleCareプランで無料」の表記をご確認ください。ご確認後、セットアップと初期設定を行ってください。</p>
                <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/iphone/icloud/" class="c-Link_Txt-inline-icon">iCloudでのバックアップ作成と復元方法<span class="c-Icon_Chevron-right"></span></a></p>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/howto-flow-06-01.png" class="c-Img_Capture" width="300" height="602" alt="">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/howto-flow-06-02.png" class="c-Img_Capture u-Adjust_Ml-pc-24 u-Adjust_Mt-sp-8" width="300" height="602" alt="" loading="lazy">
                </div>
              </li>
            </ul>
            <p class="u-Adjust_Mt-24">以上が「iCloud+ 50GBストレージ付き」のご利用方法になります。</p>

            <h3 class="c-Heading_Lv3 u-Adjust_Mt-40" id="notifications-off-50GB">通知を消してしまった場合</h3>
            <p class="u-Adjust_Mt-8">以下の手順で「iCloud+ 50GBストレージ付き」の利用を開始してください。</p>
            <ul class="c-Flow u-Adjust_Mt-24">
              <li>
                <h3 class="c-Heading_Lv3">1.「設定」をタップする</h3>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/notifications-off-flow-01.png" class="c-Img_Capture" width="300" height="602" alt="" loading="lazy">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">2.「ユーザー名」をタップする</h3>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/notifications-off-flow-02.png" class="c-Img_Capture" width="300" height="602" alt="" loading="lazy">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">3.「iCloud」をタップする</h3>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/notifications-off-flow-03.png" class="c-Img_Capture" width="300" height="602" alt="" loading="lazy">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">4.「アカウントのストレージを管理」をタップする</h3>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/notifications-off-flow-04.png" class="c-Img_Capture" width="300" height="602" alt="" loading="lazy">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">5.「ストレージプランを変更」 をタップする</h3>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/notifications-off-flow-05.png" class="c-Img_Capture" width="300" height="602" alt="" loading="lazy">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">6.「50GB」をタップし、その後、右上の「購入する」をタップする</h3>
                <p class="u-Adjust_Mt-16">「有効なAppleCare プランで無料」と表示されていることをご確認ください。</p>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/notifications-off-flow-06.png" class="c-Img_Capture" width="300" height="602" alt="" loading="lazy">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">7.ストレージプランが50GB無料となっていることを確認する</h3>
                <p class="u-Adjust_Mt-16">「ストレージプランを変更」 をタップし、「有効なAppleCareプランで無料」の表記をご確認ください。ご確認後、セットアップと初期設定を行ってください。</p>
                <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/iphone/icloud/" class="c-Link_Txt-inline-icon">iCloudでのバックアップ作成と復元方法<span class="c-Icon_Chevron-right"></span></a></p>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/notifications-off-flow-07-01.png" class="c-Img_Capture" width="300" height="602" alt="" loading="lazy">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/notifications-off-flow-07-02.png" class="c-Img_Capture u-Adjust_Ml-pc-24 u-Adjust_Mt-sp-8" width="300" height="602" alt="" loading="lazy">
                </div>
              </li>
            </ul>
            <p class="u-Adjust_Mt-24">以上が通知を消してしまった場合の「iCloud+ 50GBストレージ付き」のご利用方法になります。</p>
          </div>

          <div class="c-Tab_Panel" id="tab-content3" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu3">
            <h2 class="c-Heading_Lv2 u-Adjust_Mt-24">200GB以上のプランをご利用の方</h2>
            <div class="u-Adjust_Mt-16">
              <p class="c-Txt_Emp-02">200GB以上のプランをご利用の方が「iCloud+ 50GBストレージ付き」をご利用になる場合、一度200GB以上のプランを解約いただく必要があります。ご解約は以下の手順をご参照ください。</p>
              <p class="u-Adjust_Mt-16"><a href="https://support.apple.com/ja-jp/HT207594" class="c-Link_Txt-inline-icon" target="_blank">iCloud+ プランをダウングレードまたは解約する<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-16">ご解約完了後は、以下の手順でご利用を開始してください。<br>なお、ご解約せずそのまま200GB以上のプランをご利用いただくことも可能です。今までと同じ通常の月額料金がApple社から請求されます。</p>
            </div>

            <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">「iCloud+ 50GBストレージ付き」のご利用方法</h3>
            <ul class="c-Flow u-Adjust_Mt-24">
              <li>
                <h3 class="c-Heading_Lv3">1.「設定」をタップする</h3>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/notifications-off-flow-01.png" class="c-Img_Capture" width="300" height="602" alt="">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">2.「ユーザー名」をタップする</h3>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/notifications-off-flow-02.png" class="c-Img_Capture" width="300" height="602" alt="">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">3.「iCloud」をタップする</h3>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/notifications-off-flow-03.png" class="c-Img_Capture" width="300" height="602" alt="">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">4.「アカウントのストレージを管理」をタップする</h3>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/notifications-off-flow-04.png" class="c-Img_Capture" width="300" height="602" alt="">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">5.「ストレージプランを変更」 をタップする</h3>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/notifications-off-flow-05.png" class="c-Img_Capture" width="300" height="602" alt="">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">6.「50GB」をタップし、その後、右上の「購入する」をタップする</h3>
                <p class="u-Adjust_Mt-16">「有効なAppleCare プランで無料」と表示されていることをご確認ください。</p>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/notifications-off-flow-06.png" class="c-Img_Capture" width="300" height="602" alt="">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">7.ストレージプランが50GB無料となっていることを確認する</h3>
                <p class="u-Adjust_Mt-16">「ストレージプランを変更」 をタップし、「有効なAppleCareプランで無料」の表記をご確認ください。ご確認後、セットアップと初期設定を行ってください。</p>
                <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/iphone/icloud/" class="c-Link_Txt-inline-icon">iCloudでのバックアップ作成と復元方法<span class="c-Icon_Chevron-right"></span></a></p>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/notifications-off-flow-07-01.png" class="c-Img_Capture" width="300" height="602" alt="">
                  <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/notifications-off-flow-07-02.png" class="c-Img_Capture u-Adjust_Ml-pc-24 u-Adjust_Mt-sp-8" width="300" height="602" alt="" loading="lazy">
                </div>
              </li>
            </ul>
            <p class="u-Adjust_Mt-24">以上が「iCloud+ 50GBストレージ付き」のご利用方法になります。</p>
          </div>
        </div>
      </div>

      <div class="c-Accordion l-System_Container u-Adjust_Mt-32 u-Adjust_Mb-16">
        <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ご利用上の注意</button>
        <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="false">
          <ul class="c-List_Text-disc">
            <li>
              故障紛失保証 with AppleCare Servicesをご契約の方（2024/2/20以前にお申し込みされた方）は「iCloud+ 50GBストレージ付き」のサービスをご利用いただけません。「故障紛失保証 with AppleCare Services」をご利用のお客様はこちらをご確認ください。<br>
              <a href="<%= sitepath %>service/iphone/applecare/" class="c-Link_Txt-inline">故障紛失保証 with AppleCare Services<span class="c-Icon_Chevron-right"></span></a>
            </li>
            <li>「iCloud+ 50GBストレージ付き」のサービスをご利用いただくには、お客様のApple IDは日本国内で設定されたアカウントである事が必要です。</li>
            <li>1AppleIDにつき1度のみ「iCloud+ 50GBストレージ付き」をご利用いただけます。Apple製品を複数台保有され、「故障紛失保証 with AppleCare Services & iCloud+」に複数加入されている場合でも、同一のApple IDを使用している場合は台数分「iCloud+ 50GBストレージ付き」が提供されるわけではありません。</li>
            <li>一度「iCloud+ 50GBストレージ付き」をご利用いただいた後、お客様はいつでも200GB以上のストレージプランにアップグレードしていただけます。ただし、それに応じた通常の月額料金がApple社から請求されます。</li>
            <li>一度「iCloud+ 50GBストレージ付き」をご利用いただいた後、ストレージプランをアップグレードもしくはダウングレードされると、
「iCloud+ 50GBストレージ付き」は再度ご利用いただけなくなりますのでご注意ください。（iCloud+ 50GBのストレージプランを再度ご利用いただく場合、通常の月額料金がApple社から請求されます。）</li>
            <li>「故障紛失保証 with AppleCare Services & iCloud+」をご解約すると、猶予期間として解約日を含めた28日間はiCloud+50GBを無料で継続使用できます。猶予期間終了後は通常の「iCloud+ 50GB」のご契約として、月額料金がApple社から請求されます。「iCloud+ 50GB」のご利用もあわせてご解約の場合は「<a class="c-Link_Txt" href="https://support.apple.com/ja-jp/HT207594">iCloud+ プランをダウングレードまたは解約する</a>」の手順を参考に、別途お手続きをお願いいたします。</li>
          </ul>
          <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">本オプションサービス解約時の<br class="u-Show_Oox">iCloud+ご利用可能期間とご請求の例</h4>
          <div class="u-Adjust_Mt-8">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/term-sp.png" width="686" height="992">
              <img src="<%= sitepath %>assets/img/guide/iphone/applecare-icloud/icloud/term-pc.png" alt="" width="1032" height="351" loading="lazy">
            </picture>
          </div>
          <p class="c-Txt_Cap u-Adjust_Mt-8">※「iCloud＋50GB」ご利用の場合。</p>
        </div>
      </div>

      <div class="u-Adjust_Mt-16 u-Adjust_Pb-64 l-System_Container">
        <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップに戻る</span></a></div>
        <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><a href="<%= rootpath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a></div>
      </div>
    </div>

    <%- include('/include/guide/_review') %>

    <footer class="g-Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/bnr/_bnr.ejs') %>
        <%- include('/include/footer/related/_related-service-v2.ejs') %>
      </div>
      <%- include('/include/guide/_inquiry') %>
      <div class="l-System_Container">
        <%- include('/include/_breadcrumbs', {
          type: 'foot',
          pagetitle,
          directories,
        }) %>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
  <script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
  <%- include('/include/guide/_iphone') %>
  <%- include('/include/_append-body') %>
</body>
</html>
