<% const pagetitle = "Rakuten UN-LIMIT V お申し込みに加えて、下取り成約で楽天キャッシュ3,000円分プレゼントキャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "trade-in" -%>

<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'キャンペーン期間中に「スマホ下取りサービス」の成約および「Rakuten UN-LIMIT Ⅴ」の申し込みおよび開通をした場合、楽天キャッシュ3,000円分をプレゼントいたします。',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/tradein/trade-in.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= namespace %>-Hero">
  <div class="<%= namespace %>-Hero_Container">
    <div class="l-System_Container <%= namespace %>-Hero_Head-note-container">
      <p class="<%= namespace %>-Hero_Head-note">※表記の金額はすべて税別です。</p>
    </div>
    <div class="<%= namespace %>-Hero_Main">
      <h1 class="<%= namespace %>-Hero_Main-image">
        <img src="<%= sitepath %>assets/img/campaign/tradein/img_hero-pc.png?201221" alt="" class="<%= namespace %>-Utility_Img-pc"><img src="<%= sitepath %>assets/img/campaign/tradein/img_hero-sp.png?201221" alt="" class="<%= namespace %>-Utility_Img-sp">
      </h1>
    </div>
  </div>
</div>

<p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-48 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは終了しました。</p>

<div class="<%= namespace %>-Hero_Main-image-sub-text">
  【下取りお申し込み期間】2020年12月21日（月）00:00～2021年1月31日（日）23:59<br>
  【下取り成約・プラン開通期間】2020年12月21日（月）00:00～2021年2月28日（日）23:59<br>
      <div class="c-Txt_Emp-02 c-Txt_Normal-s u-Adjust_Mt-8 u-Adjust_Mb-8">※キャンペーン対象となる下取りのお申し込み受付期間は終了いたしました。通常の下取りお申し込みは受け付けしております。</div>
  <span>※本特典は予告なく内容の変更もしくは中止させていただく場合がございます。あらかじめご了承ください。</span>
</div>

  <div class="<%= namespace %>-Layout_Section <%= namespace %>-Section_List">
    <div class="<%= namespace %>-Step">
      <div class="l-System_Container">
        <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-16">
          <li><a href="#campaign-rule01" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルールを見る</a></li>
        </ul>
        <div class="c-Heading_Lv2 u-Adjust_Mt-32">
          キャンペーン参加方法
        </div>
        <div class="<%= namespace %>-Step_Detail u-Adjust_Mt-32">
          <div class="<%= namespace %>-Step_Detail">
            <p class="<%= namespace %>-Step_Detail-step">STEP1</p>
            <p class="<%= namespace %>-Step_Detail-title">スマホ下取りサービスに申し込み、下取りを成約</p>
            <section class="<%= namespace %>_Section <%= namespace %>_Section-02 u-Adjust_Mt-16">
              <div>
                <ol class="<%= namespace %>-Step-Layout_Flow">
                  <li class="<%= namespace %>-Step-Layout_Flow-item c-Infobox_Standing-border u-Adjust_Pt-16 u-Adjust_Pb-24">
                    <div class="l-Media_Grid-reverse">
                      <div>
                        <p>
                          <span class="c-Txt_Emp-02">2021年1月31日（日）23:59</span>までに「スマホ下取りサービス」をお申し込み後、<br>
                          <span class="c-Txt_Emp-02">2021年2月28日（日）23:59</span>までに下取り価格に承諾し、下取り取引を成約します。
                        </p>
                        <a href="<%= sitepath %>service/tradein/?l-id=campaign_tradein_service_tradein1" class="<%= namespace %>_Btn-half c-Btn_Primary-half u-Adjust_Mt-24"><span>スマホ下取りサービスの詳細を見る</span></a>
                      </div>

                      <div class="l-Media_Image">
                        <img src="<%= sitepath %>assets/img/campaign/tradein/img-step1.png" alt="" class="u-Adjust_Mt-8">
                      </div>
                    </div>
                  </li>
                </ol>
              </div>
            </section>

            <p class="<%= namespace %>-Step_Detail-step u-Adjust_Mt-32">STEP2</p>
            <p class="<%= namespace %>-Step_Detail-title">楽天モバイル（楽天回線）に申し込む</p>

            <div class="c-Tab js-Tab u-Adjust_Mt-16">
              <ul class="c-Tab_Items" role="tablist">
                <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">
                  Webでお申し込み</li>
                <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">
                  ショップでお申し込み</li>
              </ul>
              <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
                <ul class="<%= namespace %>-Flow_List">
                  <li>
                    <h3 class="c-Heading_Lv4">お申し込み・お支払いに必要なものを準備する</h3>
                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-16">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                        <img src="<%= sitepath %>assets/img/campaign/byod/img-point-02.png" width="" alt="">
                      </div>
                      <div>

                        <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc">
                          <li>
                            <a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-icon">本人確認書類<span class="c-Icon_Chevron-right"></span></a>
                          </li>
                          <li class="u-Adjust_Mt-16">
                            <p>楽天会員ログイン用のユーザID、パスワード</p>
                            <p class="c-Txt_Emp-02 c-Txt_Normal-s u-Adjust_Mt-8">※本人確認書類の情報と、楽天会員情報が一致している必要があります。</p>
                            <p class="u-Adjust_Mt-16"><a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Link_Txt-icon">楽天会員情報を確認・変更する<span class="c-Icon_Chevron-right"></span></a></p>
                          </li>
                          <li class="u-Adjust_Mt-32">
                            <a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-icon">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                            <p class="c-Txt_Cap u-Adjust_Mt-8">※ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="<%= sitepath %>flow/for-minors/" class="c-Link_Txt  <%= namespace %>-Layout_Body-txt-link">こちらのご案内ページ</a>を必ず事前にご確認ください。</p>
                          </li>
                          <li class="u-Adjust_Mt-24">
                            <a href="<%= sitepath %>guide/mnp/" class="c-Link_Txt-icon">ご契約者名義のMNP予約番号（他社から電話番号乗り換え）<span class="c-Icon_Chevron-right"></span></a>

                            <p class="c-Txt_Cap u-Adjust_Mt-24">
                              ※未成年者の方のお申し込みに必要な情報、お申し込み方法は<a href="<%= sitepath %>flow/for-minors/" class="c-Link_Txt  <%= namespace %>-Layout_Body-txt-link">こちらのご案内ページ</a>をご確認ください。<br>
                              ※WEBページにて、楽天モバイル（ドコモ回線・au回線）から移行手続き後に、Rakuten UN-LIMIT Vにお申し込み頂く場合、MNP予約番号と本人確認書類はご準備不要です。
                            </p>
                          </li>
                        </ul>

                      </div>
                    </div>
                  </li>
                  <li>
                    <h3 class="c-Heading_Lv4">Rakuten UN-LIMIT Vを申し込む</h3>
                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-16">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img <%= namespace %>-Flow_List-img">
                        <img src="<%= sitepath %>assets/img/campaign/byod/img-point-03.png" width="" alt="">
                      </div>
                      <div>
                        <p><a href="<%= sitepath %>fee/un-limit/" class="c-Link_Txt-icon">Rakuten UN-LIMIT Vの詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
                      </div>
                      <div class="<%= namespace %>-Flow_List-step-unlimit u-Adjust_Mt-32">
                        <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-left <%= namespace %>-Flow_List-content-new">
                          <div class="<%= namespace %>-Flow_List-detail">
                            <ul class="c-List_Text-disc-emp">
                              <li class="c-Txt_Emp-01">新規電話番号／他社から乗り換え（MNP）で申し込み</li>
                            </ul>
                            <p class="u-Adjust_Mt-16 <%= namespace %>-Utility_Br-sp"><a href="#migration1" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>楽天モバイル（ドコモ回線・au回線）から移行の方はこちら</a></p>
                            <div class="u-Adjust_Mt-24">
                              <div class="l-Media_Image <%= namespace %>-Flow_List-detail-image-wrapper">
                                <img class="<%= namespace %>-Flow_List-detail-image" src="<%= sitepath %>assets/img/campaign/byod/img-point-04.png?20200930" width="" alt="">
                              </div>
                            </div>
                            <p class="c-Txt_Normal u-Adjust_Mt-24">下記ボタンよりお申し込み画面に進み、プラン（Rakuten UN-LIMIT V）を選択し、手順に従ってお申し込みを完了させてください。</p>
                            <a href="<%= sitepath %>guide/application/" class="c-Btn_Primary <%= namespace %>-Flow_List-button_secondly u-Adjust_Mt-24"><span>Rakuten UN-LIMIT Vお申し込み画面に進む</span></a>
                            <a href="<%= sitepath %>guide/flow/application/" class="c-Link_Txt-inline <%= namespace %>-Flow_List-button_secondly u-Adjust_Mt-24 <%= namespace %>-Flow_List-detail-inline-text">Rakuten UN-LIMIT Vお申し込み方法を確認する<span class="c-Icon_Chevron-right"></span></a>
                          </div>
                        </div>
                        <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-right">
                          <div class="<%= namespace %>-Flow_List-detail" id="migration1">
                            <ul class="c-List_Text-disc-emp">
                              <li class="c-Txt_Emp-01">楽天モバイル（ドコモ・au回線）から移行申し込み</li>
                            </ul>
                            <div class="u-Adjust_Mt-24">
                              <div class="l-Media_Image <%= namespace %>-Flow_List-detail-image-wrapper">
                                <img class="<%= namespace %>-Flow_List-detail-image" src="<%= sitepath %>assets/img/campaign/byod/img-point-05.png" width="" alt="">
                              </div>
                              <p class="c-Txt_Normal u-Adjust_Mt-24">
                                メンバーズステーションより、移行のお申し込みを行ってください。楽天回線へのお申し込み完了後、引き続きRakuten UN-LIMIT Vのお申し込みにお進みいただきます。
                              </p>
                              <p class="c-Txt_Normal">画面の案内に従って、Rakuten UN-LIMIT Vのお申し込み手続きを行ってください。</p>
                              <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&mno_migration=1" class="c-Btn_Primary u-Adjust_Mt-24"><span>メンバーズステーションに進む</span></a>
                              <a href="<%= sitepath %>guide/mnp/migration/" class="c-Link_Txt-inline u-Adjust_Mt-24 <%= namespace %>-Flow_List-detail-inline-text">楽天モバイル（楽天回線）への移行方法を確認する<span class="c-Icon_Chevron-right"></span></a>
                              <a href="<%= sitepath %>flow/mvno-user-registration/" class="c-Link_Txt-inline u-Adjust_Mt-24 <%= namespace %>-Flow_List-detail-inline-text">利用者登録でご利用中の方の移行方法を確認する<span class="c-Icon_Chevron-right"></span></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                      <div>
                        <p class="c-Heading_Lv4">楽天モバイルの開通手続き（アクティベーション）を行う</p>
                      </div>
                    </div>

                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                      <div class="<%= namespace %>-Flow_List-step-unlimit u-Adjust_Mt-24">
                        <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-left">
                          <div class="<%= namespace %>-Flow_List-detail">
                            <ul class="c-List_Text-disc-emp">
                              <li class="c-Txt_Emp-01">SIMカードでお申し込みの場合</li>
                            </ul>
                            <p class="c-Txt_Normal u-Adjust_Mt-24"><a href="<%= sitepath %>assets/pdf/product/START-GUIDE-SIM-CARD.pdf?20201016">SIMカード版スタートガイド</a>に従って開通（アクティベート）を行っていただきますようお願いいたします。<br>
                              nanoSIMは、カード台から切り出した状態のmicroSIMからさらに切り出しが必要です。</p>
                            <div class="u-Adjust_Mt-32">
                              <div class="l-Media_Image <%= namespace %>-Flow_List-detail-image-wrapper">
                                <img class="<%= namespace %>-Flow_List-detail-image" src="<%= sitepath %>assets/img/campaign/byod/img-point-09.png" width="" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-right">
                          <div class="<%= namespace %>-Flow_List-detail">
                            <ul class="c-List_Text-disc-emp">
                              <li class="c-Txt_Emp-01">eSIMでお申し込みの場合 </li>
                            </ul>
                            <p class="c-Txt_Normal u-Adjust_Mt-24">eSIMはデジタルSIMなので物理的なカードはありません。<br>
                              開通（アクティベート）のためのQRコードがございますので<a href="<%= sitepath %>assets/pdf/product/START-GUIDE-eSIM.pdf?20201016">eSIM版 START
                                GUIDE</a>に従って開通を行っていただきますようお願いいたします。</p>
                            <div class="u-Adjust_Mt-32">
                              <div class="l-Media_Image <%= namespace %>-Flow_List-detail-image-wrapper">
                                <img class="<%= namespace %>-Flow_List-detail-image" src="<%= sitepath %>assets/img/campaign/byod/img-point-10.png" width="336" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">

                <ul class="<%= namespace %>-Flow_List">
                  <li>
                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img <%= namespace %>-Flow_List-img">
                        <img src="<%= sitepath %>assets/img/campaign/vissel-kobe/img-point-02.png" width="" alt="">
                      </div>
                      <div>
                        <h3 class="c-Heading_Lv4 u-Adjust_Mt-16">お申し込み・お支払いに必要なものを準備する</h3>
                        <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc u-Adjust_Mt-24 <%= namespace %>-Flow_List-back">
                          <span class="c-Txt_Emp-01">すべてのお客様に必要なもの</span>
                          <li>
                            <a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-icon">本人確認書類<span
                                class="c-Icon_Chevron-right"></span></a>
                          </li>
                          <li class="u-Adjust_Mt-16">
                            <p>楽天会員ログイン用のユーザID、パスワード</p>
                            <p class="c-Txt_Emp-02 c-Txt_Normal-s u-Adjust_Mt-8">※本人確認書類の情報と、楽天会員情報が一致している必要があります。</p>
                            <p class="u-Adjust_Mt-16">
                              <a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Link_Txt-icon">楽天会員情報を確認・変更する<span class="c-Icon_Chevron-right"></span></a>
                            </p>
                          </li>
                          <li class="u-Adjust_Mt-32">
                            <a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-icon">ご契約者名義のクレジットカード、銀行口座情報<span
                                class="c-Icon_Chevron-right"></span></a>
                          </li>
                        </ul>
                        <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc u-Adjust_Mt-24 <%= namespace %>-Flow_List-back">
                          <span class="c-Txt_Emp-01">他社から乗り換え（MNP）のお客様に追加で必要なもの</span>
                          <li class="u-Adjust_Mt-24">ご利用中のスマートフォン</li>
                          <li class="u-Adjust_Mt-24">
                            <a href="<%= sitepath %>guide/mnp/" class="c-Link_Txt-icon">ご契約者名義のMNP予約番号（他社から電話番号乗り換え）<span
                                class="c-Icon_Chevron-right"></span></a>
                          </li>
                        </ul>
                        <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc u-Adjust_Mt-24 <%= namespace %>-Flow_List-back">
                          <span class="c-Txt_Emp-01">プラン変更（移行）のお客様に追加で必要なもの</span>
                          <li class="u-Adjust_Mt-24">ご利用中のスマートフォン</li>
                          <li class="u-Adjust_Mt-24">メンバーズステーションで発行されるMNP予約番号<br><br>メンバーズステーショントップページの「MNP予約番号発行・確認」をタップし、
                            MNP予約番号を発行してください。MNP予約番号発行手数料は発生しません。</li>
                            <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&mno_migration=1" class="c-Btn_Primary u-Adjust_Mt-24 <%= namespace %>-Flow_List-btn"><span>メンバーズステーションに進む</span></a>
                            <a href="<%= sitepath %>guide/mnp/migration/" class="c-Link_Txt-inline u-Adjust_Mt-24 <%= namespace %>-Flow_List-detail-inline-text u-Adjust_Align-center">楽天モバイル（楽天回線）への移行方法を確認する<span class="c-Icon_Chevron-right"></span></a>
                        </ul>
                        <p class="c-Txt_Cap u-Adjust_Mt-24">
                          ※未成年者の方のお申し込みに必要な情報、お申し込み方法は<a href="<%= sitepath %>flow/for-minors/"
                            class="c-Link_Txt  <%= namespace %>-Layout_Body-txt-link">こちらのご案内ページ</a>をご確認ください</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                        <img src="<%= sitepath %>assets/img/campaign/vissel-kobe/img-point-11.png" width="" alt="">
                      </div>
                      <div>
                        <p class="c-Heading_Lv4">ショップでRakuten UN-LIMIT Vをお申し込み</p>
                        <p class="c-Txt_Normal u-Adjust_Mt-16">楽天モバイルショップにて、お申し込み手続きを行ってください。</p>
                        <a href="<%= sitepath %>shop/"
                          class="c-Btn_Secondly <%= namespace %>-Layout_Body-content-left u-Adjust_Mt-40"><span>お近くのショップを探す</span></a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <section class="<%= namespace %>_Section <%= namespace %>_Section-03 u-Adjust_Mt-32">
                <div>
                  <p class="<%= namespace %>-Step_Detail-step u-Adjust_Mt-32">STEP3</p>
                  <p class="<%= namespace %>-Step_Detail-title">Rakuten UN-LIMIT Vを開通する</p>
                  <ul class="byod-Layout_Flow u-Adjust_Mt-16">
                    <li class="byod-Layout_Flow-item c-Infobox_Standing-border">
                      <h4 class="c-Heading_Lv4">初期設定・APN設定を行い、開通手続きを完了する</h4>
                      <div class="l-Media_Grid-reverse u-Adjust_Mt-16">
                        <div>
                          <p>期限：2021年2月28日（日）23:59まで</p>
                          <a href="<%= sitepath %>guide/setting/" class="<%= namespace %>_Btn-half c-Btn_Regular-half u-Adjust_Mt-16"><span>各種製品の初期設定方法を見る</span></a>
                        </div>
                        <div class="l-Media_Image">
                          <img src="<%= sitepath %>assets/img/campaign/byod/img-11.png" alt="">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </section>

              <section class="<%= namespace %>_Section <%= namespace %>_Section-03 u-Adjust_Mt-32">
                <div>
                  <p class="<%= namespace %>-Step_Detail-step u-Adjust_Mt-32">STEP4</p>
                  <p class="<%= namespace %>-Step_Detail-title">楽天キャッシュ獲得</p>
                  <ul class="byod-Layout_Flow u-Adjust_Mt-16">
                    <li class="byod-Layout_Flow-item c-Infobox_Standing-border">
                      <h4 class="c-Heading_Lv4 c-Txt_Emp-02">楽天キャッシュ3,000円分プレゼント！</h4>
                      <p class="c-Txt_Emp-02">さらにお使いのスマホの下取りも楽天キャッシュで受け取ることができます！</p>
                      <div class="l-Media_Grid-reverse u-Adjust_Mt-16">
                        <div>
                          <div class="<%= namespace %>-Step_Detail-inner">
                            <p class="c-Txt_Emp-01">キャンペーン適用で</p>
                            <div class="c-Txt_Emp-02 u-Adjust_Align-center u-Adjust_Mt-16"><span class="c-Heading_Lv4">楽天キャッシュ3,000円分</span>※</div>
                            <p class="c-Txt_Cap u-Adjust_Mt-8">※「Rakuten UN-LIMIT V」の開通および「スマホ下取りサービス」で下取りの成約が確認された後、2021年4月中旬に楽天キャッシュ3,000円分を付与いたします。</p>
                          </div>
                          <div class="c-Txt_Emp-02 u-Adjust_Align-center c-Heading_Lv3">＋</div>
                          <div class="<%= namespace %>-Step_Detail-inner">
                            <p class="c-Txt_Emp-01">お使いのスマホの下取りで</p>
                            <div class="c-Txt_Emp-02 u-Adjust_Align-center u-Adjust_Mt-16"><span class="c-Heading_Lv4">楽天キャッシュ最大55,300円分</span>※</div>
                            <p class="c-Txt_Cap u-Adjust_Mt-8">
                              ※楽天キャッシュは下取り価格確定後、約1カ月でチャージされます。<br>
                              ※SIMロックフリーのiPhone 11 Pro Max 512GBを下取りに出した場合<br>
                              ※下取りに出していただく製品、製品の状態によって下取り価格は変動いたします。詳しくはこちらの<a href="<%= sitepath %>service/tradein/?l-id=campaign_tradein_service_tradein2">スマホ下取りサービス</a>をご確認ください。<br>
                              ※記載の内容は2020年12月21日（月）時点の情報となります。
                            </p>
                          </div>
                        </div>
                        <div class="l-Media_Image">
                          <img src="<%= sitepath %>assets/img/campaign/tradein/img-step4.png" alt="">
                        </div>
                      </div>
                    </li>
                  </ul>
                  <p class="u-Adjust_Mt-16"><a href="#campaign-rule01">キャンペーンルール</a>をご確認のうえ、お申し込みください。</p>
                </div>
              </section>

            </div>

          </div>
        </div>
      </div>
    </div>
	</div>

<div class="<%= namespace %>-Layout_Foot">
  <div class="l-System_Container">

    <div class="u-Adjust_Mt-64">
      <div class="<%= namespace %>-Layout_Rule" id="campaign-rule01">

        <h2 class="c-Heading_Lv2">Rakuten UN-LIMIT V お申し込みに加えて、下取り成約で楽天キャッシュ3,000円分プレゼントキャンペーン</h2>
        <div class="c-Table_Wrap u-Adjust_Mt-24">
          <dl class="c-List_Dl-origin">
            <div>
              <dt>キャンペーンコード</dt>
              <dd>1115<br>※本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</dd>
            </div>
            <div>
              <dt>キャンペーン期間</dt>
              <dd>[Web]：12月21日 00:00～2021年1月31日 23:59予定<br>
                  [店舗（楽天モバイルショップ）]：下取り申し込み対象外<br>
              </dd>
            </div>
            <div>
              <dt>対象者・適用条件</dt>
              <dd>
                <p>以下①、②、③の条件を全て満たした楽天会員の方</p>
                <p class="u-Adjust_Mt-16">
                  <span class="c-Txt_Emp-01">①「楽天スマホ下取りサービス」で下取りを成約</span><br>
                  <span>キャンペーン期間中に、楽天モバイルのWebサイトから「楽天スマホ下取りサービス」をお申し込み後、2月28日の23：59までに下取り価格に承諾し、下取り取引を成約。</span>
                </p>
                <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">②「Rakuten UN-LIMIT V」のお申込み</span></p>
                <p>キャンペーン開始日から2月28日の23：59までに、楽天モバイルのWebサイト、またはSHOPから「Rakuten UN-LIMIT V」を以下いずれかの方法でお申し込み。</p>
                <ul class="c-List_Text-disc u-Adjust_Mt-16">
                  <li>「Rakuten UN-LIMIT V」に新規お申し込み</li>
                  <li>「Rakuten UN-LIMIT V」に他社からの乗り換え（MNP）でお申し込み</li>
                  <li>「Rakuten UN-LIMIT V」に楽天モバイル（ドコモ回線・au回線）の料金プランから移行手続き後、お申し込み</li>
                </ul>

                <p class="u-Adjust_Mt-16">
                  <span class="c-Txt_Emp-01">③「Rakuten UN-LIMIT V」の開通</span><br>
                  「Rakuten UN-LIMIT V」お申し込み、および2月28日の23:59までに開通
                </p>
                <p class="u-Adjust_Mt-16">※開通日とは下記を指します。</p>
                <ul class="c-List_Cap u-Adjust_Mt-16">
                  <li><span>・</span>新規お申し込みの場合：プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日、または当社に配送完了データが通知された日のいずれか早い方</li>
                  <li><span>・</span>他社から乗り換え（MNP）の場合：プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                  <li><span>・</span>楽天モバイル（ドコモ回線・au回線）の料金プランから移行した場合：プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                </ul>


              </dd>
            </div>
            <div>
              <dt>特典内容</dt>
              <dd>対象期間内に「楽天スマホ下取りサービス」の成約および「Rakuten UN-LIMIT Ⅴ」の申し込みおよび開通をした場合<br>
              楽天キャッシュ3,000円相当をプレゼント</dd>
            </div>
            <div>
              <dt>楽天キャッシュ付与日</dt>
              <dd>キャンペーン特典：2021年4月中旬に付与<br>
              下取り製品分：価格確定後1カ月後程度</dd>
            </div>
            <div>
              <dt>楽天キャッシュ有効期間</dt>
              <dd>キャッシュ付与日を含めて10年間</dd>
            </div>
            <div>
              <dt>楽天キャッシュ金額</dt>
              <dd>楽天キャッシュ3,000円分<br>
                ※　楽天キャッシュの付与は、楽天モバイルより行います
                ※　権利の譲渡はできません<br></dd>
            </div>
            <div>
              <dt>特典適用対象外</dt>
              <dd>以下の条件に当てはまる場合は、特典適用対象外となります<br>
                <ul class="c-List_Cap u-Adjust_Mt-16">
                  <li><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
                  <li><span>※</span>「Rakuten UN-LIMIT V」が開通されなかった場合<br>開通の手続き方法につきましては、こちらのマルチSIM版スタートガイドまたはeSIM版スタートガイドを参照ください</li>
                  <li><span>※</span>楽天キャッシュ付与までに楽天会員から退会している場合</li>
                  <li><span>※</span>楽天キャッシュ付与までに登録された楽天キャッシュ口座を削除された場合</li>
                  <li><span>※</span>当社の提供するサービスなどの料金のお支払いを、お支払期限までに行わなかった場合</li>
                  <li><span>※</span>当社または楽天株式会社が定める規約などに違反した場合</li>
                  <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
                </ul>
                </dd>
            </div>
            <div>
              <dt>併用不可キャンペーン</dt>
              <dd>併用不可キャンペーンはございません。</dd>
            </div>
            <div>
              <dt>その他注意事項</dt>
              <dd>
                <ul class="c-List_Cap">
                  <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                  <li><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われている他のキャンペーンの対象から除外、または特典総額が景品表示法上の範囲内に制限される場合があります</li>
                  <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                  <li><span>※</span>記載の内容は2020年12月21日（月）時点の情報となります</li>
                </ul>
              </dd>
            </div>
          </dl>
        </div>


      </div>
    </div>


  </div>

</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-news.ejs') %>

    <%- include('/include/footer/bnr/_bnr-news.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
