<% const pagetitle = "先着3,000名！対象のAQUOSシリーズスマホ購入＋エントリーで、楽天マガジン1年無料クーポン＆1,000ポイントプレゼントキャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "aquos-magazine-point" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'キャンペーン期間中にエントリーし、AQUOS sense4 plusかAQUOSR5Gをご購入いただいた方、先着で3,000名様に楽天マガジン1年無料クーポン＆1,000円相当のポイントをプレゼントいたします。',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/aquos-magazine-point/aquos-magazine-point.css?20240424">
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<script src="https://r.r10s.jp/com/js/d/rjs/rjs_helpers-1.1.0.min.js"></script>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>
<div class="<%= namespace %>-Layout-Label">
  <ul class="c-Label_List <%= namespace %>-Layout-Label_List">
    <li class="c-Label_Normal <%= namespace %>-Layout-Label_pink">対象者限定</li>
    <li class="c-Label_Normal <%= namespace %>-Layout-Label_pink">エントリー必要</li>
  </ul>
</div>

<div class="<%= namespace %>-Hero_Return">
  <div class="l-System_Container <%= namespace %>-Hero_Container">
    <div class="<%= namespace %>-Hero_Main">
      <h1><img src="<%= sitepath %>assets/img/campaign/aquos-magazine-point/img-heading-pc.png" alt="" height="460" class="<%= namespace %>-Utility_Img-pc"><img src="<%= sitepath %>assets/img/campaign/aquos-magazine-point/img-heading-sp.png" alt="" class="<%= namespace %>-Utility_Img-sp"></h1>
    </div>
  </div>
</div>

<div class="<%= namespace %>-Layout_Body riCheckEntry" id="checkEntry1">
  <div class="l-System_Container">
    <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
    <p class="u-Adjust_Mt-8">【エントリー期間】Web：2020年11月25日（水）9:00～2021年2月26日（金）8:59</p>
    <p>【購入期間】Web：2020年11月25日（水）9:00～2021年2月26日（金）8:59／ショップ：2020年11月25日（水）開店～2021年2月25日（木）閉店</p>

    <ul class="c-List_Cap u-Adjust_Mt-8">
      <li><span>※</span>本キャンペーンは予告なく内容の変更もしくは中止させていただく場合がございます。あらかじめご了承ください。</li>
      <li><span>※</span>エントリーと製品購入の順序は問いません。</li>
      <li class="c-Txt_Emp-02"><span>※</span>購入期間について、Webのみ早期終了する場合がございます。</li>
      <li class="c-Txt_Emp-02"><span>※</span>一部の楽天モバイルショップでは品切れの可能性がございます。</li>
      <li class="c-Txt_Emp-02"><span>※</span>楽天マガジンをすでにご契約の方は楽天マガジン1年間無料特典の適用対象外となります。</li>
    </ul>

    <ul class="u-Adjust_Mt-24">
      <li><a href="#campaign-flow" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーン参加方法を確認する</a></li>
      <li class="u-Adjust_Mt-16"><a href="#campaign-rule" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルールを見る</a></li>
    </ul>

    <div class="u-Adjust_Mt-64">
      <h3 class="c-Heading_Lv3 u-Adjust_Mt-16">対象製品の購入＋エントリーで、先着で3,000名様に楽天マガジン1年無料クーポン＆1,000円相当のポイントをプレゼント！</h3>
    </div>
  </div>

  <div class="<%= namespace %>-Block_Products_area u-Adjust_Mt-56">
    <div class="<%= namespace %>-Block_Products_area_in u-Adjust_Pb-40">
      <h3 class="c-Heading_Lv3">キャンペーン対象製品</h3>
      <div class="u-Adjust_Align-center u-Adjust_Mt-24">
        <div class="c-Infobox_Standing-border">
          <div class="<%= namespace %>-Block_Media Media-Block2">
            <div class="u-Adjust_Align-center <%= namespace %>-Block_Media-left">
              <p class="c-Txt_Emp-02 c-Txt_Normal-m u-Adjust_Align-center <%= namespace %>-Block_Media-left-newBlock">NEW</p>
              <h3 class="c-Heading_Lv2 u-Adjust_Mt-8">AQUOS sense4 plus</h3>
              <p class="u-Adjust_Mt-8"><b>AQUOS史上最大。迫力の大画面</b><br>
                <span class="c-Txt_Normal-ss sense4plus_Annotation">※ スマートフォンAQUOSにおいて。</span>
              </p>
              <ul class="<%= namespace %>-Block_Media-checklist u-Adjust_Mt-24">
                <li><span class="c-Icon_Check c-Txt_Emp-02"></span><span class="c-Tooltip_Icon">AQUOS史上最大のディスプレイ</span></li>
                <li><span class="c-Icon_Check c-Txt_Emp-02"></span><span class="c-Tooltip_Icon">高性能CPU「SnapdragonTM720G」</span></li>
                <li><span class="c-Icon_Check c-Txt_Emp-02"></span><span class="c-Tooltip_Icon">多彩な撮影を楽しめる4眼カメラ</span></li>
              </ul>
            </div>
            <div class="<%= namespace %>-Block_Media-right">
              <div class="u-Adjust_Align-center <%= namespace %>-Block_Media-right-imgBlock">
                <img src="<%= sitepath %>assets/img/campaign/aquos-magazine-point/img-point-01.png" width="" alt="">
                <p class="u-Adjust_Mt-8 u-Adjust_Align-right c-Txt_Normal-s">一括払い<b><span class="c-Heading_Lv2">39,819円</span>（税別）</b></p>
                <p class="u-Adjust_Mt-8 u-Adjust_Align-right"><span class="c-Txt_Emp-02">先着3,000名様に</span></p>
                <p class="u-Adjust_Align-right"><b><span class="c-Heading_Lv2 c-Txt_Emp-02">1,000</span></b><span class="c-Txt_Emp-02">円相当のポイント還元</span></p>
              </div>
            </div>
          </div>
          <div class="u-Adjust_Align-center u-Adjust_Mt-32">
            <div><a href="<%= sitepath %>product/smartphone/aquos-sense4-plus/" class="c-Btn_Regular-large"><span class="">AQUOS sense4 plusの詳細・購入はこちら</span></a></div>
          </div>
          <p class="u-Adjust_Align-center c-Txt_Emp-02 u-Adjust_Mt-8 c-Txt_Normal-s">※ AQUOS sense4 plus 詳細ページに移動します。</p>
        </div>
        <div class="c-Infobox_Standing-border u-Adjust_Mt-16">
          <div class="<%= namespace %>-Block_Media Media-Block2">
            <div class="u-Adjust_Align-center <%= namespace %>-Block_Media-left">
              <h3 class="c-Heading_Lv2 u-Adjust_Mt-8">AQUOS R5G</h3>
              <p class="u-Adjust_Mt-8"><b>新時代の頂を約束する。</b></p>
              <ul class="<%= namespace %>-Block_Media-checklist u-Adjust_Mt-24">
                <li><span class="c-Icon_Check c-Txt_Emp-02"></span><span class="c-Tooltip_Icon">IGZOが5Gの映像体験を変える</span></li>
                <li><span class="c-Icon_Check c-Txt_Emp-02"></span><span class="c-Tooltip_Icon">8K動画＆AI対応4眼カメラ</span></li>
                <li><span class="c-Icon_Check c-Txt_Emp-02"></span><span class="c-Tooltip_Icon">持続するハイパフォーマンス</span></li>
              </ul>
              <p class="u-Adjust_Mt-8"><span class="c-Txt_Normal-ss R5G_Annotation">※ 5G利用は一部エリアに限ります。<a href="<%= sitepath %>area/">5G対象エリア</a>をご確認ください。</span></p>
            </div>
            <div class="<%= namespace %>-Block_Media-right">
              <div class="u-Adjust_Align-center <%= namespace %>-Block_Media-right-imgBlock">
                <img src="<%= sitepath %>assets/img/campaign/aquos-magazine-point/img-point-012.png" width="" alt="">
                <p class="u-Adjust_Mt-8 u-Adjust_Align-right c-Txt_Normal-s">一括払い<b><span class="c-Heading_Lv2">117,091円</span>（税別）</b></p>
                <p class="u-Adjust_Mt-8 u-Adjust_Align-right"><span class="c-Txt_Emp-02">先着3,000名様に</span></p>
                <p class="u-Adjust_Align-right"><b><span class="c-Heading_Lv2 c-Txt_Emp-02">1,000</span></b><span class="c-Txt_Emp-02">円相当のポイント還元</span></p>
              </div>
            </div>
          </div>
          <div class="u-Adjust_Align-center u-Adjust_Mt-32">
            <div><a href="<%= sitepath %>product/smartphone/aquos-r5g/" class="c-Btn_Regular-large"><span class="">AQUOS R5Gの詳細・購入はこちら</span></a></div>
          </div>
          <p class="u-Adjust_Align-center c-Txt_Emp-02 u-Adjust_Mt-8 c-Txt_Normal-s">※ AQUOS R5G 詳細ページに移動します。</p>
        </div>
      </div>
    </div>
  </div>

  <div class="l-System_Container">
    <div class="u-Adjust_Mt-32">
      <h3 class="c-Heading_Lv3">楽天マガジンとは</h3>
    </div>
    <div class="u-Adjust_Mt-16">
      <div class="c-Infobox_Standing-border">

          <div class="u-Adjust_Align-center">
            <img class="<%= namespace %>-Utility_Img-pc" src="<%= sitepath %>assets/img/campaign/aquos-magazine-point/img_magazine01.png?201202" alt="">
            <img class="<%= namespace %>-Utility_Img-sp" src="<%= sitepath %>assets/img/campaign/aquos-magazine-point/img_magazine_sp01.png?201202" alt="">
          </div>
          <p class="u-Adjust_Mt-16 aquos-magazine-point-Layout-magazine_Txt">バックナンバーから最新号まで読み放題！<br class="<%= namespace %>-Layout-PcDisplay">事前にダウンロードしておくことで、オフラインで読むこともできる。</p>
          <ul class="c-List_Cap-wide u-Adjust_Mt-16">
            <li><span>※2</span>2020年11月現在 別冊・ムック含む</li>
            <li><span>※3</span>新規で「年額プラン」に申し込んだ場合のみ。詳細は<a href="#campaign-rule">キャンペーンルール</a>をご確認ください</li>
          </ul>
          <div class="u-Adjust_Align-center u-Adjust_Mt-16 u-Adjust_Mb-8"><a href="https://magazine.rakuten.co.jp/" class="c-Btn_Regular-auto"><span>楽天マガジンの詳細を見る</span></a></div>
      </div>
    </div>

    <div class="u-Adjust_Mt-32" id="campaign-flow">
      <h3 class="c-Heading_Lv3">キャンペーン参加方法</h3>
    </div>

    <div class="c-Tab js-Tab u-Adjust_Mt-16">
      <ul class="c-Tab_Items" role="tablist">
        <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">Webで購入</li>
        <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">ショップで購入</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
        <ul class="<%= namespace %>-Flow_List">
          <li>
            <h3 class="c-Heading_Lv4 u-Adjust_Mb-16">本キャンペーンページからエントリーする</h3>
            <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
              <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                <img src="<%= sitepath %>assets/img/campaign/aquos-magazine-point/img-point-02.png" width="" alt="">
              </div>
              <div>
                <p class="">「エントリーする」ボタンをタップし、エントリーを完了してください。<br>
                  エントリー完了後、こちらのキャンペーンページに戻ります。</p>
                <p class="u-Adjust_Mt-24">エントリー期限：2021年2月26日（金）8:59まで</p>
                <p class="c-Txt_Normal-ss u-Adjust_Mt-16">※キャンペーン期間内にエントリー、対象製品をご購入いただければ、エントリーと製品購入の順序は問いません。</p>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv4">Webサイトで製品を購入する</h3>
            <div class="<%= namespace %>-Flow_List-detail">
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/aquos-magazine-point/img-point-03.png" width="" alt="">
                </div>
                <div>
                  <p>購入期間内に製品を購入してください。</p>
                  <p class="u-Adjust_Mt-24">Web購入期間：2020年11月25日（水）9:00～2021年2月26日（金）8:59</p>
                </div>
              </div>
            </div>
            <div class="c-Accordion u-Adjust_Mt-16">
              <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>製品のみ購入する方法を見る</button>
              <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
                <div class="<%= namespace %>-Flow_List-detail">
                  <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                    <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                      <img src="<%= sitepath %>assets/img/campaign/aquos-magazine-point/img-point-04.png" width="" alt="">
                    </div>
                    <div>
                      <h4 class="c-Txt_Normal-m">AQUOS sense4 plusを購入する</h4>
                      <p>「AQUOS sense4 plusの詳細・購入はこちら」ボタンより詳細ページに移動し、ページ内の「購入する」ボタンをタップしてください。<br>プラン選択時に 「プランを申し込まない（製品のみ購入）」を選択し、手順に従ってお申し込みを完了させてください。</p>
                      <div class="u-Adjust_Align-left u-Adjust_Mt-16">
                        <div class="<%= namespace %>-Btn_Purchase"><a href="<%= sitepath %>product/smartphone/aquos-sense4-plus/" class="c-Btn_Primary-large"><span class="">AQUOS sense4 plusの詳細・購入はこちら</span></a></div>
                      </div>
                      <h4 class="c-Txt_Normal-m u-Adjust_Mt-32">AQUOS R5Gを購入する</h4>
                      <p>「AQUOS R5Gの詳細・購入はこちら」ボタンより詳細ページに移動し、「機種変更をご希望の方はこちらのお申し込みページよりお進みいただき、製品のみご購入ください。」のリンクよりご購入へお進みください。</p>
                      <div class="u-Adjust_Align-left u-Adjust_Mt-16">
                        <div class="<%= namespace %>-Btn_Purchase u-Adjust_Mt-8"><a href="<%= sitepath %>product/smartphone/aquos-r5g/" class="c-Btn_Primary-large"><span class="">AQUOS R5Gの詳細・購入はこちら</span></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-Accordion">
              <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten UN-LIMIT Vと製品を購入する方法を見る</button>
              <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
                <p class="u-Adjust_Mt-8 c-Txt_Emp-02">「新規電話番号／他社から乗り換え（MNP）お申し込み」のフローになります。</p>
                <div class="<%= namespace %>-Block_Innercont u-Adjust_Mt-16">
                  <div class="<%= namespace %>-Block_Innercont-left c-Attention_Info">
                    <h3 class="c-Heading_Lv4">お申し込み・お支払いに必要なものを準備する</h3>
                    <p class="u-Adjust_Align-center u-Adjust_Mt-16"><img src="<%= sitepath %>assets/img/campaign/aquos-magazine-point/img-point-09.png" width="" alt=""></p>
                    <p class="u-Adjust_Mt-16">ご契約・お支払いに必要なものをご用意ください。</p>
                    <ul class="<%= namespace %>-Flow_List-link <%= namespace %>-Block_List c-List_Text-disc u-Adjust_Mt-16">
                      <li>
                        <a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-icon">本人確認書類<span class="c-Icon_Chevron-right"></span></a>
                      </li>
                      <li class="u-Adjust_Mt-16">
                        <p>楽天会員ログイン用のユーザID、パスワード</p>
                        <p class="c-Txt_Emp-02 c-Txt_Normal-s u-Adjust_Mt-8">※ご契約者本人確認書類の情報と、楽天会員情報が一致している必要があります。</p>
                        <p class="u-Adjust_Mt-8">
                          <a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Link_Txt-icon">楽天会員情報を確認・変更する<span class="c-Icon_Chevron-right"></span></a>
                        </p>
                      </li>
                      <li class="u-Adjust_Mt-16">
                        <a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-icon">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">
                          ※ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="/faq/detail/00001238/">こちらのご案内ページ</a>を、必ず事前にご確認ください。<br>
                        </p>
                      </li>
                      <li class="u-Adjust_Mt-16">
                        <a href="<%= sitepath %>guide/mnp/" class="c-Link_Txt-icon">ご契約者本人名義のMNP予約番号（他社から乗り換えの場合）<span class="c-Icon_Chevron-right"></span></a>

                        <p class="c-Txt_Cap u-Adjust_Mt-8">
                          ※未成年者の方のお申し込みに必要な情報、お申し込み方法は<a href="<%= sitepath %>flow/for-minors/">こちらのご案内ページ</a>をご確認ください。<br>
                        </p>
                      </li>
                    </ul>
                  </div>
                  <div class="<%= namespace %>-Block_Innercont-right c-Attention_Info">
                    <h3 class="c-Heading_Lv4">WebサイトでRakuten UN-LIMIT Vと製品を購入する</h3>

                    <p class="c-Txt_Emp-01 u-Adjust_Mt-24">AQUOS sense4 plusの場合</p>
                    <p class="u-Adjust_Align-center u-Adjust_Mt-16"><img src="<%= sitepath %>assets/img/campaign/aquos-magazine-point/img-point-016.png" width="" alt=""></p>
                    <p class=" u-Adjust_Mt-16">「AQUOS sense4 plusの詳細・購入はこちら」ボタンより詳細ページに移動し、ページ内の「購入する」ボタンをタップしてください。<br>
                      プラン選択時に 「nanoSIM＋プランで申し込む」を選択し、手順に従ってお申し込みを完了させてください。</p>
                    <p class="u-Adjust_Align-center u-Adjust_Mt-16">
                      <a href="<%= sitepath %>product/smartphone/aquos-sense4-plus/" class="c-Btn_Primary-large c-Txt_Normal"><span c>AQUOS sense4 plusの詳細・購入はこちら</span></a>
                    </p>

                    <p class="c-Txt_Emp-01 u-Adjust_Mt-32">AQUOS R5Gの場合</p>
                    <p class="u-Adjust_Align-center u-Adjust_Mt-16"><img src="<%= sitepath %>assets/img/campaign/aquos-magazine-point/img-point-017.png" width="" alt=""></p>
                    <p class=" u-Adjust_Mt-16">「AQUOS R5Gの詳細・購入はこちら」ボタンより詳細ページに移動し、お好きなカラー＋Rakuten UN-LIMIT Vのお申し込みボタンをタップしてください。手順に従ってお申し込みを完了させてください。</p>
                    <p class="u-Adjust_Align-center u-Adjust_Mt-16 u-Adjust_Mb-8">
                      <a href="<%= sitepath %>product/smartphone/aquos-r5g/" class="c-Btn_Primary-large c-Txt_Normal"><span>AQUOS R5Gの詳細・購入はこちら</span></a>
                    </p>


                  </div>
                </div>
              </div>
            </div>
            <div class="c-Accordion">
              <button id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイル（ドコモ・au回線）からプラン変更（移行）する方法を見る</button>
              <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
                <p class="u-Adjust_Mt-8 c-Txt_Emp-02">「楽天モバイル（ドコモ・au回線）からのプラン変更（移行）お申し込み」のフローになります。</p>
                <div class="<%= namespace %>-Block_Innercont u-Adjust_Mt-16">
                  <div class="<%= namespace %>-Block_Innercont-left c-Attention_Info">
                    <h3 class="c-Heading_Lv4">お申し込み・お支払いに必要なものを準備する</h3>
                    <p class="u-Adjust_Align-center u-Adjust_Mt-16"><img src="<%= sitepath %>assets/img/campaign/aquos-magazine-point/img-point-09.png" width="" alt=""></p>
                    <p class="u-Adjust_Mt-16">ご契約・お支払いに必要なものをご用意ください。</p>
                    <ul class="<%= namespace %>-Flow_List-link <%= namespace %>-Block_List c-List_Text-disc u-Adjust_Mt-16">
                      <li class="u-Adjust_Mt-16">
                        <p>楽天会員ログイン用のユーザID、パスワード</p>
                        <p class="c-Txt_Emp-02 c-Txt_Normal-s u-Adjust_Mt-8">※ご契約者本人確認書類の情報と、楽天会員情報が一致している必要があります。</p>
                        <p class="u-Adjust_Mt-8">
                          <a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Link_Txt-icon">楽天会員情報を確認・変更する<span class="c-Icon_Chevron-right"></span></a>
                        </p>
                      </li>
                      <li class="u-Adjust_Mt-16">
                        <a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-icon">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">
                          ※ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="/faq/detail/00001238/">こちらのご案内ページ</a>を、必ず事前にご確認ください。<br>
                        </p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">
                          ※Webページにて、楽天モバイル（ドコモ回線・au回線）から移行お手続き後に、Rakuten UN-LIMIT Vにお申し込みいただく場合、MNP予約番号とご契約者本人確認書類はご準備不要です。
                        </p>
                      </li>
                    </ul>
                  </div>
                  <div class="<%= namespace %>-Block_Innercont-right c-Attention_Info">
                    <h3 class="c-Heading_Lv4">WebサイトでRakuten UN-LIMIT Vと製品を購入する</h3>
                    <p class="u-Adjust_Align-center u-Adjust_Mt-16"><img src="<%= sitepath %>assets/img/campaign/aquos-magazine-point/img-point-07.png" width="" alt=""></p>
                    <p class="u-Adjust_Mt-16">メンバーズステーションより、移行のお申し込みを行ってください。楽天回線へのお申し込み完了後、引き続きRakuten UN-LIMIT Vのお申し込みにお進みいただきます。</p>
                    <p class="u-Adjust_Mt-24">画面の案内に従って、Rakuten UN-LIMIT Vのお申し込みと製品（AQUOS sense4 plusもしくはAQUOS R5G）の購入手続きを行ってください。</p>
                    <p class="u-Adjust_Align-center u-Adjust_Mt-16">
                      <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&mno_migration=1" class="c-Btn_Primary-large"><span>メンバーズステーションに進む</span></a>
                    </p>
                    <p>
                      <a href="<%= sitepath %>guide/mnp/migration/" class="c-Link_Txt-icon u-Adjust_Mt-16">楽天モバイル（楽天回線）への移行方法を確認する<span class="c-Icon_Chevron-right"></span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv4">お申し込み完了</h3>
            <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-16">
              <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                <img src="<%= sitepath %>assets/img/campaign/aquos-magazine-point/img-point-06.png" width=""  alt="">
              </div>
              <div>
                <p class="c-Txt_Emp-01">Rakuten UN-LIMIT Vと製品を購入された方</p>
                <p class="u-Adjust_Mt-8">本人確認の審査が完了次第、製品を発送させていただきます。本人確認の審査状況、発送状況は「my 楽天モバイル」でご確認いただけます。</p>
                <p class="c-Txt_Emp-01 u-Adjust_Mt-48">製品のみ購入、もしくは楽天モバイル（ドコモ・au回線）からプラン変更（移行）された方</p>
                <p class="u-Adjust_Mt-8">本人確認の審査はございません。お申し込み完了次第、製品を発送いたします。発送状況は「my 楽天モバイル」でご確認いただけます。</p>
                <div class="u-Adjust_Align-left u-Adjust_Mt-32 u-Adjust_Mb-16">
                  <a href="<%= sitepath %>my-rakuten-mobile" class="c-Btn_Regular-auto <%= namespace %>-Btn_full-width-sp"><span class="">my 楽天モバイル</span></a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv4">製品到着後、初期設定を行いご利用開始</h3>
            <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-16">
              <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                <img src="<%= sitepath %>assets/img/campaign/aquos-magazine-point/img-point-08.png" width="" alt="">
              </div>
              <div>
                <p class="">製品がお手元に届きましたら、初期設定を行い、ご利用を開始してください。</p>
                <div class="u-Adjust_Align-left u-Adjust_Mt-16">
                  <a href="<%= sitepath %>guide/setting/aquos-sense4-plus/" class="c-Btn_Regular-auto"><span class="">AQUOS sense4 plusの初期設定方法を確認する</span></a>
                </div>
                <div class="u-Adjust_Align-left u-Adjust_Mt-16">
                  <a href="<%= sitepath %>guide/setting/aquos-r5g/" class="c-Btn_Regular-auto"><span class="">AQUOS R5Gの初期設定方法を確認する</span></a>
                </div>
              </div>
            </div>
          </li>
          <h3 class="c-Txt_Emp-02 c-Heading_Lv3 <%= namespace %>-Flow_List_title-Arrow">先着3,000名様に特典プレゼント！</h3>
          <li class="u-Adjust_Mt-8">
            <h3 class="c-Txt_Emp-02 c-Heading_Lv4">特典1：楽天マガジン1年無料クーポンプレゼント！</h3>
            <p class="u-Adjust_Mt-8">先着3,000名様に楽天マガジン1年間無料クーポンをプレゼントいたします。期限までに下記の手順に従って楽天マガジンのお申し込みを完了させてください。</p>
            <p class="u-Adjust_Mt-8">【クーポンコード発行期間】2020年11月25日（水）9:00～2021年3月12日（金）8:59<br>
            【クーポンコード使用期限】2021年3月25日（木）8:59</p>

            <ul class="c-List_Cap u-Adjust_Mt-8">
              <li class="c-Txt_Emp-02"><span>※</span>本特典の獲得方法の詳細は、楽天モバイルより、ご登録済みのメールアドレス宛に、エントリーと製品購入完了（製品お届け完了後）の1週間後を目途にご案内いたします。</li>
              <li><span>※</span>クーポンのご案内は、ログイン時に入力いただいた会員情報に紐づくメールアドレスへお送りいたします。</li>
              <li><span>※</span>「information@mobile.rakuten.co.jp」のアドレスからお送りいたしますので、迷惑メールの設定解除をお願いいたします。</li>
              <li><span>※</span>期日までに楽天マガジンのお申し込みを完了いただけなかった場合、1年無料は適用となりません。</li>
            </ul>
            <div class="<%= namespace %>-Flow_List-in <%= namespace %>-Flow_HowToGet u-Adjust_Mt-16">
              <div class="<%= namespace %>-Flow_List-HowToGet">
                <p class="text-label u-Adjust_Mt-16">1年無料特典の獲得方法</p>
                <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-02">楽天マガジン1年無料特典の獲得方法ご案内メールに記載されたボタンより</span>楽天マガジンキャンペーンページにお進みいただき、ページ内の「特典のクーポンを取得する」ボタンをタップしてください。クーポンコードが発行されます。</p>
                <div class="l-Media_Image <%= namespace %>-Flow_List-img u-Adjust_Mt-24">
                  <img class="<%= namespace %>-Utility_Img-pc" src="<%= sitepath %>assets/img/campaign/aquos-magazine-point/img-point-013.png" width=""  alt="">
                  <img class="<%= namespace %>-Utility_Img-sp" src="<%= sitepath %>assets/img/campaign/aquos-magazine-point/img-point-013_sp.png" width=""  alt="">
                </div>
                <p class="text-Arrow">クーポンコードをご確認のうえ、「クーポンを利用し、楽天マガジンに申し込む」から、楽天マガジンお申し込み画面にお進みください。</p>
                <div class="l-Media_Image <%= namespace %>-Flow_List-img u-Adjust_Mt-24">
                  <img class="<%= namespace %>-Utility_Img-pc" src="<%= sitepath %>assets/img/campaign/aquos-magazine-point/img-point-015.png" width=""  alt="">
                  <img class="<%= namespace %>-Utility_Img-sp" src="<%= sitepath %>assets/img/campaign/aquos-magazine-point/img-point-015_sp.png" width=""  alt="">
                </div>
                <p class="text-Arrow">楽天マガジンお申し込み画面で「年額プラン」が選択されていることをご確認のうえ、画面下部の「クーポンコードの入力」欄に発行されたクーポンコードをご入力ください。</p>
                <ul class="c-List_Cap u-Adjust_Mt-8">
                  <li><span>※</span>通常、クーポンコードは自動で入力された状態で表示されます。発行されたクーポンコードと差異がないかご確認ください。</li>
                  <li><span>※</span>「月額プラン」を選択された場合、クーポンは適用となりません。</li>
                </ul>
                <div class="l-Media_Image <%= namespace %>-Flow_List-img u-Adjust_Mt-24">
                  <img class="<%= namespace %>-Utility_Img-pc" src="<%= sitepath %>assets/img/campaign/aquos-magazine-point/img-point-014.png" width=""  alt="">
                  <img class="<%= namespace %>-Utility_Img-sp" src="<%= sitepath %>assets/img/campaign/aquos-magazine-point/img-point-014_sp.png" width=""  alt="">
                </div>
                <p class="text-Arrow u-Adjust_Mb-16">お申し込み内容確認画面で「年額プラン」の選択と、無料お試し期間が1年間と表示されていることをご確認のうえ、お申し込み手続きを完了させてください。</p>
              </div>
            </div>
          </li>
          <li class="not_Arrow">
            <h3 class="c-Txt_Emp-02 c-Heading_Lv4">特典2：1,000円相当のポイントプレゼント！</h3>
            <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-16">
              <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                <img src="<%= sitepath %>assets/img/campaign/aquos-magazine-point/img-point-11.png" width=""  alt="">
              </div>
              <div>
                <p class="">先着3,000名様に1,000ポイントを付与いたします。ポイントの付与は対象製品のご購入とエントリーの両方が完了した
                  翌々月末日までに行います。</p>
                <ul class="c-List_Cap-wide u-Adjust_Mt-8">
                  <li><span>※</span>本特典の適用対象となられたかどうかのご連絡はポイントの付与をもってかえさせていただきます。</li>
                </ul>
              </div>
            </div>
          </li>
        </ul>


      </div>
      <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">

      <ul class="<%= namespace %>-Flow_List">
        <li>
          <h3 class="c-Heading_Lv4 u-Adjust_Mb-16">本キャンペーンページからエントリーする</h3>
          <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/aquos-magazine-point/img-point-02.png" width="" alt="">
            </div>
            <div>
              <p class="">「エントリーする」ボタンをタップし、エントリーを完了してください。<br>
                エントリー完了後、こちらのキャンペーンページに戻ります。</p>
              <p class="u-Adjust_Mt-24">エントリー期限：2021年2月26日（金）8:59まで</p>
              <p class="c-Txt_Normal-ss u-Adjust_Mt-16">※キャンペーン期間内にエントリー、対象製品をご購入いただければ、エントリーと製品購入の順序は問いません。</p>
            </div>
          </div>
        </li>
        <li>
          <h3 class="c-Heading_Lv4">ショップで製品を購入する</h3>
          <div class="<%= namespace %>-Flow_List-detail">
            <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
              <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                <img src="<%= sitepath %>assets/img/campaign/aquos-magazine-point/img-point-10.png" width="" alt="">
              </div>
              <div>
                <p>楽天モバイルショップにて、購入期間内にお申し込み手続きを行ってください。<br><br>
                ショップ購入期間：2020年11月25日（水）開店～2021年2月25日（木）閉店</p>
                <div class="u-Adjust_Align-left u-Adjust_Mt-32">
                  <a href="<%= sitepath %>shop/" class="c-Btn_Regular-auto"><span class="">お近くのショップを探す</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion u-Adjust_Mt-16">
            <button id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>新規契約時に必要なものを確認する</button>
            <div id="accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-5" aria-hidden="true">
              <p class="u-Adjust_Mt-16">ご契約・お支払いに必要なものをご用意ください。</p>
              <ul class="<%= namespace %>-Flow_List-link <%= namespace %>-Block_List c-List_Text-disc u-Adjust_Mt-16">
                <li>
                  <a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-icon">本人確認書類<span class="c-Icon_Chevron-right"></span></a>
                </li>
                <li class="u-Adjust_Mt-16">
                  <p>楽天会員ログイン用のユーザID、パスワード</p>
                  <p class="c-Txt_Emp-02 c-Txt_Normal-s u-Adjust_Mt-8">※ご契約者本人確認書類の情報と、楽天会員情報が一致している必要があります。</p>
                  <p class="u-Adjust_Mt-8">
                    <a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Link_Txt-icon">楽天会員情報を確認・変更する<span class="c-Icon_Chevron-right"></span></a>
                  </p>
                </li>
                <li class="u-Adjust_Mt-16">
                  <a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-icon">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">
                    ※ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="/faq/detail/00001238/">こちらのご案内ページ</a>を、必ず事前にご確認ください。<br>
                  </p>
                </li>
                <li class="u-Adjust_Mt-16">
                  <a href="<%= sitepath %>guide/mnp/" class="c-Link_Txt-icon">ご契約者本人名義のMNP予約番号（他社から乗り換えの場合）<span class="c-Icon_Chevron-right"></span></a>
                </li>
              </ul>
              <p class="c-Txt_Cap u-Adjust_Mt-16">
                ※楽天モバイル（ドコモ回線・au回線）からの移行お申し込みをご希望のお客様は、メンバーズステーショントップページの「MNP予約番号発行・確認」をタップし、MNP予約番号を発行してください。MNP予約番号発行手数料は発生しません。
              </p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">
                ※未成年者の方のお申し込みに必要な情報、お申し込み方法は<a href="<%= sitepath %>flow/for-minors/">こちらのご案内ページ</a>をご確認ください。</p>
            </div>
          </div>
        </li>
        <li>
          <h3 class="c-Txt_Emp-02 c-Heading_Lv4">特典1：楽天マガジン1年無料クーポンプレゼント！</h3>
          <p class="u-Adjust_Mt-8">先着3,000名様に楽天マガジン1年間無料クーポンをプレゼントいたします。</p>
          <div class="<%= namespace %>-Flow_List-in <%= namespace %>-Flow_HowToGet u-Adjust_Mt-24">
            <div class="<%= namespace %>-Flow_List-HowToGet">
              <p class="text-label u-Adjust_Mt-16">1年無料特典の獲得方法</p>
              <p class="u-Adjust_Mt-16">店頭でR CREWが1年無料クーポンコードを取得し、楽天マガジンのお申し込みを進めさせていただきます。</p>
              <ul class="c-List_Cap-wide u-Adjust_Mt-8 u-Adjust_Mb-8">
                <li><span>※</span>一部量販店の場合、Webと同様にメールにてクーポンコードを送付する場合がございます。</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="not_Arrow">
          <h3 class="c-Txt_Emp-02 c-Heading_Lv4">特典2：1,000円相当のポイントプレゼント！</h3>
          <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-16">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/aquos-magazine-point/img-point-11.png" width=""  alt="">
            </div>
            <div>
              <p class="">先着3,000名様に1,000ポイントを付与いたします。ポイントの付与は対象製品のご購入とエントリーの両方が完了した翌々月末日までに行います。</p>
              <ul class="c-List_Cap-wide u-Adjust_Mt-8">
                <li><span>※</span>本特典の適用対象となられたかどうかのご連絡はポイントの付与をもってかえさせていただきます。</li>
              </ul>
            </div>
          </div>
        </li>
      </ul>

      </div>

      <p class=" u-Adjust_Mt-24"><a href="#campaign-rule">キャンペーンルール</a>をご確認のうえ、エントリーへお進みください。</p>
    </div>
    <div class="<%= namespace %>-Layout_Rule" id="campaign-rule">
      <h2>先着3,000名！対象のAQUOSシリーズスマホ購入＋エントリーで、楽天マガジン1年無料クーポン＆1,000ポイントプレゼントキャンペーンルール</h2>
      <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
      <div class="c-Table_Wrap u-Adjust_Mt-24">
        <table class="c-Table_Container <%= namespace %>-Table_Rule">
          <colgroup>
            <col>
            <col>
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th colspan="2">キャンペーンコード</th>
              <td>
                <p class="u-Adjust_Mt-8">
                  1103
                </p>
                <ul class="c-List_Cap u-Adjust_Mt-8">
                  <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th colspan="2">キャンペーン期間</th>
              <td>
                <ul class="c-List_Text-disc u-Adjust_Mt-8">
                  <li>購入期間<br>
                    Web：2020年11月25日（水）9:00～2021年2月26日（金）8:59<br>
                    店舗（楽天モバイルショップ）：2020年11月25日（水）9:00～2021年2月25日（木）閉店</li>
                  <li>エントリー期間<br>
                    2020年11月25日（水）9:00～2021年2月26日（金）8:59</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th colspan="2">対象者・適用条件</th>
              <td>
                <p class="u-Adjust_Mt-8">
                  以下①、②の条件をすべて満たした楽天会員の方の中から先着で3,000名
                </p>
                <p class="u-Adjust_Mt-16">
                  ①購入期間内にAQUOS sense4 plusまたはAQUOS R5Gをご購入（対象製品を複数ご購入の場合、先に購入した製品を対象とします）
                </p>
                <p class="u-Adjust_Mt-16">
                  ②エントリー期間内にキャンペーンページでエントリー
                </p>
                <ul class="c-List_Cap u-Adjust_Mt-8">
                  <li><span>※</span>エントリーと製品購入の順序は問いません。</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th rowspan="7">キャンペーン特典</th>
              <th>特典内容</th>
              <td>
                <p>
                  ①楽天マガジン1年無料クーポン
                </p>
                <ul class="c-List_Cap u-Adjust_Mt-8">
                  <li><span>※</span>クーポンのご利用期限は、2021年3月25日（木）8:59までとなります。</li>
                </ul>
                <p class="u-Adjust_Mt-16">
                  ②楽天ポイント1,000円相当のポイントをプレゼント
                </p>
              </td>
            </tr>
            <tr>
              <th> 楽天マガジン1年無料クーポン</th>
              <td>
                <p>
                  [Webで購入]メールにてクーポンコードを送付いたします。<br>
                  エントリーと購入完了（製品お届け完了後）の1週間後を目処に送付いたします。<br>
                  メールに掲載される楽天マガジン特設ページにて、キャンペーン用のクーポンコードを入力して「年額プラン」にお申し込みください。
                  </p>
                  <p class="u-Adjust_Mt-16">
                    [店舗（楽天モバイルショップ）で購入]クーポンコードは店舗にてR CREWが入力を行います。即日楽天マガジン1年間無料がご利用可能となります。
                  </p>
                  <ul class="c-List_Cap u-Adjust_Mt-8">
                    <li><span>※</span>一部量販店の場合、Webと同様にメールにてクーポンコードを送付する場合がございます。</li>
                  </ul>
              </td>
            </tr>
            <tr>
              <th>楽天ポイント付与</th>
              <td>
                <p>対象製品のご購入とエントリー完了の翌々月末日までに通常ポイントで付与</p>
              </td>
            </tr>
            <tr>
              <th>ポイント有効期間</th>
              <td>
                <p>ポイントの有効期限は、最後にポイントを獲得した月を含めて1年間（詳細は<a href="https://point.rakuten.co.jp/doc/article/20170501/article_20170501.html">こちら</a>）。</p>
              </td>
            </tr>
            <tr>
              <th>ポイント数</th>
              <td>
                <p>1,000ポイント</p>
                <ul class="c-List_Cap u-Adjust_Mt-16">
                  <li><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</li>
                  <li><span>※</span>権利の譲渡はできません</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>特典適用対象外</th>
              <td>
                <p>以下の条件に当てはまる場合は、特典適用対象外となります。</p>
                <ul class="c-List_Text-disc u-Adjust_Mt-16">
                  <li>楽天モバイルショップ、楽天モバイルオンライン、楽天モバイル楽天市場店、Rakuten Mobileスマホ専門店以外で購入した場合</li>
                  <li>ポイント付与までに楽天会員から退会している場合</li>
                  <li>ポイント付与までに登録された楽天ポイント口座を削除された場合</li>
                  <li>当社の提供するサービスなどの料金のお支払いを、お支払期限までに行わなかった場合</li>
                  <li>当社または楽天株式会社が定める規約などに違反した場合</li>
                  <li>そのほか、当社が会員として不適格であると判断した場合</li>
                  <li>楽天マガジンを2021年3月25日（木）8:59までにお申し込み完了いただけなかった場合、1年無料は適用となりません。</li>
                  <li>楽天マガジンで開催しているほかのキャンペーンと重複して付与対象となることはできませんので、ご注意ください。楽天マガジンで開催しているほかのキャンペーンと重複してご参加いただいている場合、本キャンペーンが最優先での適用となり、ほかのキャンペーンの適用対象にはなりませんのでご注意ください。</li>
                  <li>楽天マガジンをすでにご契約の方は楽天マガジン1年間無料特典クーポンコードをご利用になれません。</li>
                  <li>楽天マガジンお申し込み時に、クーポンコードを誤って入力した場合、1年無料の特典が付与できません。</li>
                  <li>楽天マガジンお申し込み時に、クーポンコードを入力していても、「月額プラン」を選択された場合特典が付与できませんので、「年額プラン」にお申し込みください。</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>その他注意事項</th>
              <td>
                <ul class="c-List_Text-disc u-Adjust_Mt-16">
                  <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください。</li>
                  <li>購入期間についてWebのみ早期終了する場合がございます。あらかじめご了承ください。</li>
                  <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法上の範囲内に制限される場合があります。</li>
                  <li>製品の台数に限りがございます。なくなり次第終了とさせていただく場合があります。</li>
                  <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります。</li>
                  <li>楽天マガジンで1年無料期間が終了した後は自動更新となりますので、年額プラン利用料金が自動で決済されます。</li>
                  <li>記載の内容は2020年11月25日（水）時点の情報となります。</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-news.ejs') %>

    <%- include('/include/footer/bnr/_bnr-news.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
