<% const pagetitle = "楽天モバイル買い替え超トクプログラムで新規購入&下取りで、最大10,000ポイント還元！" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "iphone-upg-tradein" -%>

<%-
 include('/_header', {
    pagetitle,
    directories,
    description: 'プランお申し込みなしでもOK！楽天モバイル買い替え超トクプログラムを利用して対象のiPhoneを購入&下取りすると、今なら下取り金額に加えて最大10,000ポイント還元！最新機種（iPhone 15 Pro Max、iPhone 15 Pro、iPhone 15 Plus、iPhone 15）購入も対象！',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%><%- include('/include/_common-css-v2') %>
<%- include('/inc/_about-rakuten-mobile-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/iphone-upg-tradein/iphone-upg-tradein.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
  <%- include('/include/_prepend-body') %>

  <div class="l-System">

    <%- include('/include/_header') %>

    <%- include('/include/_breadcrumbs', {
      type: 'head',
      pagetitle,
      directories,
    }) %>

    <div class="<%= namespace %>-Layout_Label">
      <ul class="c-Label_List">
        <li class="c-Label_Normal">対象製品限定</li>
      </ul>
      <p class="<%= namespace %>-Layout_Label-point">ポイント：付与日を含めて6カ月の期間限定ポイント</p>
    </div>

    <div class="<%= namespace %>-Hero">

      <div class="<%= namespace %>-Hero_Inner">
        <div class="<%= namespace %>-Hero_Wrap">
          <h1 class="<%= namespace %>-Hero_Kv">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/hero-sp-20230915.png" width="100%">
              <img src="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/hero-pc-20230915.png" alt="プラン申し込みなしでもOK！楽天モバイル買い替え超トクプログラムご利用＋対象のiPhone下取りで、今なら下取り金額に加えて最大10,000ポイント還元！" width="1440" height="300">
            </picture>
          </h1>
        </div>
      </div>

      <div class="l-System_Container">
        <div class="<%= namespace %>-Hero_Description">
          <p class="c-Txt_Cap">
            ※ iPhoneは楽天モバイル（Web、または楽天モバイルショップ）で購入してください。楽天モバイル公式 楽天市場店での購入は対象外です。<br>
            ※ 楽天ポイントの付与は条件達成月の翌々月末日ごろに、付与日を含めた6カ月間の期間限定ポイントで付与いたします。<br>
            ※ おひとり様1回限りの適用となります。 <br>
            ※ 最大10,000ポイントとなる下取り機種の対象は、iPhone 7、iPhone 7 Plus、iPhone 8、iPhone 8 Plus、iPhone Xです。 <br>
            ※ 下取り金額は電子マネーの楽天キャッシュにチャージされます。<a href="https://cash.rakuten.co.jp/overview/" class="c-Link_Txt">楽天キャッシュの詳細はこちら</a>をご覧ください。<br>
            ※ 「楽天モバイル買い替え超トクプログラム」は 楽天カード48回払いの場合のみ、プランのお申込みなしでもご利用いただけます。
          </p>
          <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
            <p><span class="c-Txt_Emp-01">【キャンペーン期間】</span> <br class="u-Show_Sp">2023年9月12日（火）9:00～2023年12月22日（金）8:59 </p>
            <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【スマホ下取りサービスのお申し込み期限】</span> <br class="u-Show_Sp">対象製品ご購入申し込みの翌々月末日23:59まで</p>
          </div>
          <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <p class="c-Txt_Emp-02 c-Txt_Normal-m">
              本キャンペーンは2023年12月22日（金）をもちまして終了いたしました。<br>
              このページに掲載されている情報は、キャンペーン終了時点のものです。
            </p>
          </div>
          <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <a href="<%= sitepath %>campaign/?l-id=end_campaign" class="c-Link_Txt-inline">開催中のキャンペーンを見る<span class="c-Icon_Chevron-right"></span></a>
          </div>
        </div>

        <ul class="<%= namespace %>-Hero_Nav u-Adjust_Mt-24">
          <li><a href="#condition" class="c-Link_Txt-icon-front js-scroll" data-ratid="campaign_iphone-upg-tradein_index-condition" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>キャンペーンの達成条件</a></li>
          <li><a href="#product" class="c-Link_Txt-icon-front js-scroll" data-ratid="campaign_iphone-upg-tradein_index-product" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>キャンペーン対象製品</a></li>
          <li><a href="#flow" class="c-Link_Txt-icon-front js-scroll" data-ratid="campaign_iphone-upg-tradein_index-flow" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>キャンペーンの流れ</a></li>
          <li><a href="#campaign-rule" class="c-Link_Txt-icon-front js-scroll" data-ratid="campaign_iphone-upg-tradein_index-rule" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルール</a></li>
        </ul>
      </div>
    </div>

    <section class="<%= namespace %>-Condition u-Adjust_Mt-32" id="condition">
      <div class="l-System_Container">
        <div class="c-Theme-White">
          <h2 class="c-Heading_Lv2 u-Adjust_Align-center" data-ratid="campaign_iphone-upg-tradein_scroll-01_condition" data-ratevent="appear" data-ratparam="all">キャンペーンの達成条件</h2>
          <p class="<%= namespace %>-Utility_Text-center-pc u-Adjust_Mt-8">本キャンペーンには達成条件が設定されています。詳細は<a href="#campaign-rule1899" class="c-Link_Txt js-scroll">キャンペーンルール</a>をご確認ください。</p>
          <div class="<%= namespace %>-Condition_Items u-Adjust_Mt-24">

            <div class="<%= namespace %>-Condition_Item">
              <h3 class="<%= namespace %>-Condition_Item-title c-Heading_Lv4 u-Adjust_Align-center">
                「楽天モバイル買い替え超トクプログラム」で<br>
                対象iPhoneを購入＆<br>
                「スマホ下取りサービス」で<br>
                対象iPhone下取り成立
              </h3>
              <div class="u-Adjust_Mt-16">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/fukidashi-text-sp-230912.png" width="100%">
                  <img src="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/fukidashi-text-pc-230912.png" alt="対象製品購入申し込みから" width="362" height="58">
                </picture>
              </div>
              <ul class="c-List_Text-disc u-Adjust_Mt-16">
                <li>下取り申込：翌々月の末日まで</li>
                <li class="u-Adjust_Mt-8">下取り成立：3カ月後の末日まで</li>
              </ul>
              <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Mb-16 u-Adjust_Align-center">※製品実査定は製品到着後、7日程度かかります。<br>
                ※対象iPhone購入時のお支払いに48回払い（楽天カードのみ）を選択。</p>
              <div class="<%= namespace %>-Condition_Item-whiteblock">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/point-text-02-sp.png" width="279" height="68">
                  <img src="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/point-text-02-pc.png" alt="下取り金額に加えて5,000ポイント還元" width="226" height="51">
                </picture>
              </div>
            </div>

            <div class="<%= namespace %>-Condition_Item">
              <div class="<%= namespace %>-Condition_Item-deco"><img src="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/icon-joint.png" alt="" width="36" height="36" loading="lazy"></div>
              <h3 class="<%= namespace %>-Condition_Item-title  c-Heading_Lv4 u-Adjust_Align-center">
                iPhone 7 / iPhone 7 Plus / iPhone 8 /<br class="u-Show_Pc">iPhone 8 Plus / iPhone X<br>
                を下取りの場合
              </h3>
              <div class="u-Adjust_Mt-16">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/fukidashi-text-sp-230912.png" width="100%">
                  <img src="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/fukidashi-text-pc-230912.png" alt="対象製品購入申し込みから" width="362" height="58">
                </picture>
              </div>
              <ul class="c-List_Text-disc u-Adjust_Mt-16">
                <li>下取り申込：翌々月の末日まで</li>
                <li class="u-Adjust_Mt-8">下取り成立：3カ月後の末日まで</li>
              </ul>
              <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Mb-16  u-Adjust_Align-center">※製品実査定は製品到着後、7日程度かかります。</p>
              <div class="<%= namespace %>-Condition_Item-whiteblock">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/point-text-02-sp.png" width="279" height="68">
                  <img src="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/point-text-02-pc.png" alt="下取り金額に加えて5,000ポイント還元" width="226" height="51">
                </picture>
              </div>
            </div>

          </div>


          <div class="u-Adjust_Mt-40">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/point-text-03-sp-230912.png" width="100%">
              <img src="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/point-text-03-pc-230912.png" alt="条件達成で最大10,000ポイント還元" width="984" height="88">
            </picture>
          </div>
          <p class="c-Txt_Cap u-Adjust_Mt-8">
            <span class="c-Txt_Emp-02">※ 「楽天モバイル買い替え超トクプログラム」を利用してiPhoneを新規購入後に、指定期間内に下取りサービスを申し込み成立した場合、最大10,000ポイント還元の対象。</span><br>
            ※ 楽天モバイル公式 楽天市場店でのご購入は最大10,000ポイント還元対象外となります。<br>
            ※ 下取り査定金額に加えて、ポイント付与がされます。<br>
            ※ 回線と同時購入をした場合には、回線の利用が確認されるまで購入が完了していないとみなされるためご注意ください。
          </p>


          <div class="c-Accordion <%= namespace %>-Accordion u-Adjust_Mt-24">
            <button id="accordion-about1" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Head" aria-expanded="false" aria-controls="accordion-content-about1" data-ratid="campaign_iphone-upg-tradein_accordion-upg" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
              <span>「楽天モバイル買い替え超トクプログラム」とは？<span class="c-Txt_Cap">※1</span></span>
            </button>
            <div id="accordion-content-about1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-about1" aria-hidden="true" style="display:none;">
              <div class="<%= namespace %>-Condition_About-upgrade">
                <div class="<%= namespace %>-Condition_About-upgrade-item">
                  <div class="l-Media_Grid">
                    <div class="l-Media_Image">
                      <img src="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/icon-new.png" width="142" height="96" alt="">
                    </div>
                    <div>
                      <p>本体代のお支払いに「48回払い」を選択！24回分払ったら、<span class="c-Txt_Emp-02">いつでも最新の製品</span>に機種変更可能！</p>
                    </div>
                  </div>

                </div>
                <div class="<%= namespace %>-Condition_About-upgrade-item">
                  <div class="l-Media_Grid">
                    <div class="l-Media_Image">
                      <img src="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/icon-pay.png" width="142" height="84" alt="">
                    </div>
                    <div>
                      <p>最大24回分！当社が回収した製品の<span class="c-Txt_Emp-02">残りのお支払いが不要</span>に！<span class="c-Txt_Cap">※2</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
                <a href="<%= sitepath %>service/replacement-program/?l-id=campaign_iphone-upg-tradein_service_replacement-program" class="c-Btn_Regular" style="min-width:210px"><span>詳細はこちら</span></a>
              </div>
              <p class="c-Txt_Cap u-Adjust_Mt-16">
                ※1 楽天カードのみ。現金販売価格と割賦販売価格（総額）は製品価格と同額。支払回数48回、支払期間48カ月、実質年率0％。<span class="c-Txt_Emp-02">機種変更またはお使いいただいた製品を当社が回収する際には事務手数料3,300円のお支払いが必要。</span><br>
                ※2 <span class="c-Txt_Emp-02">24回分お支払い後、25カ月目に製品を当社が回収した場合。当社が回収した旧製品が当社指定の状態基準を満たさない場合、故障費用22,000円（不課税）のお支払いが必要となる、または当社が回収できない場合あり。</span><br>
                ※各種保証サービスに加入されている方は保証を利用することで負担額が抑えられる場合がございます。以下は保証の一例です。<br>
                ＜iPhoneをご利用の方＞<a href="<%= sitepath %>service/iphone/applecare/?l-id=campaign_iphone-upg-tradein_service_iphone_applecare">故障紛失保証 with AppleCare Services</a>ご加入の場合、画面修理は3,700円の負担。<br>
                ＜Androidをご利用の方＞<a href="<%= sitepath %>service/replacement-warranty-plus/?l-id=campaign_iphone-upg-tradein_service_replacement-warranty-plus">スマホ交換保証プラス</a>ご加入の場合、損傷の種類に関係なく6,600円の負担。
              </p>
            </div>
          </div>

          <div class="c-Accordion <%= namespace %>-Accordion u-Adjust_Mt-16">
            <button id="accordion-about2" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Head" aria-expanded="false" aria-controls="accordion-content-about2" data-ratid="campaign_iphone-upg-tradein_accordion-tradein" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
              <span>スマホ下取りサービスとは?</span>
            </button>
            <div id="accordion-content-about2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-about2" aria-hidden="true" style="display:none;">
              <div class="l-Media_Grid u-Adjust_Mt-16">
                <div class="l-Media_Image">
                  <img src="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/img-about.png" width="303" height="175" alt="" loading="lazy">
                </div>
                <div>
                  <ul class="<%= namespace %>-Condition_About-description c-List_Text-disc">
                    <li>あなたのスマホを楽天キャッシュ（オンライン電子マネー）で下取り。<br class="u-Show_Pc">楽天ポイントと同様にお買い物でご利用可能。</li>
                    <li class="u-Adjust_Mt-8">下取り製品の個人情報は専門業者が適正に消去するので安心、安全。</li>
                  </ul>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">
                    <span class="c-Txt_Emp-02">※査定後、製品の状態により下取り価格が変更になる場合がございます。査定結果に変更がある場合でも、お申し込み後にキャンセルを行うことはできません。<br>
                      ※本サービスは18歳以上のお客様のみご利用いただけます。<br>
                    </span>
                    ※下取りのお申し込みには、<a href="<%= sitepath %>guide/verify/?l-id=campaign_iphone-upg-tradein_guide_verify">本人確認書類</a>が必要です。
                  </p>
                </div>
              </div>
              <div class="<%= namespace %>-Condition_About-tail">
                <div>
                  <div class="<%= namespace %>-Condition_About-example">
                    <p class="<%= namespace %>-Condition_About-example-head">下取り金額例</p>
                    <div class="<%= namespace %>-Condition_About-example-body">
                      <p class="<%= namespace %>-Condition_About-example-body-device">Apple iPhone 13 Pro Max 1TB</p>
                      <p>最大<span class="<%= namespace %>-Condition_About-example-body-price">81,000</span>円</p>
                    </div>
                  </div>
                  <p class="<%= namespace %>-Condition_About-example-attention c-Txt_Cap">※2023年11月28日時点 ※製品の状態によっては下取り価格が下がる場合があります。※表示価格は税込です。</p>
                </div>
                <div class="u-Adjust_Mt-16">
                  <div>
                    <a href="<%= sitepath %>service/tradein/?l-id=campaign_iphone-upg-tradein_service_tradein#js-content-top" class="c-Btn_Regular"><span>下取り金額を確認する</span></a>
                  </div>
                  <p class="u-Adjust_Mt-16 u-Align_Ccl"><a href="https://cash.rakuten.co.jp/overview/" class="c-Link_Txt-inline" target="_blank">楽天キャッシュの詳細を見る<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="<%= namespace %>-Product u-Adjust_Mt-48" id="product">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center" data-ratid="campaign_iphone-upg-tradein_scroll-02_product" data-ratevent="appear" data-ratparam="all">キャンペーン対象製品</h2>
        <div class="<%= namespace %>-Product_Items u-Adjust_Mt-16">
          <div class="<%= namespace %>-Product_Item">
            <h3 class="<%= namespace %>-Product_Item-title" id="purchase-product">購入対象製品</h3>
            <p class="<%= namespace %>-Utility_Text-space-thick-sp c-Txt_Emp-02 u-Adjust_Mt-16 u-Adjust_Align-center">楽天モバイルで販売している<br class="u-Show_Sp">下記のiPhone</p>
            <div class="<%= namespace %>-Product_Item-devices-wrap">
              <ul class="<%= namespace %>-Product_Item-devices <%= namespace %>-Product_Item-devices-sp-1col u-Adjust_Mt-16 u-Adjust_Pb-24">
                <li><a href="<%= sitepath %>product/iphone/iphone-15-pro-max/?l-id=campaign_iphone-upg-tradein_product_iphone_iphone-15-pro-max">iPhone 15 Pro Max</a></li>
                <li><a href="<%= sitepath %>product/iphone/iphone-15-pro/?l-id=campaign_iphone-upg-tradein_product_iphone_iphone-15-pro">iPhone 15 Pro</a></li>
                <li><a href="<%= sitepath %>product/iphone/iphone-15-plus/?l-id=campaign_iphone-upg-tradein_product_iphone_iphone-15-plus">iPhone 15 Plus</a></li>
                <li><a href="<%= sitepath %>product/iphone/iphone-15/?l-id=campaign_iphone-upg-tradein_product_iphone_iphone-15">iPhone 15</a></li>
                <li><a href="<%= sitepath %>product/iphone/iphone-14-pro-max/?l-id=campaign_iphone-upg-tradein_product_iphone_iphone-14-pro-max">iPhone 14 Pro Max</a></li>
                <li><a href="<%= sitepath %>product/iphone/iphone-14-pro/?l-id=campaign_iphone-upg-tradein_product_iphone_iphone-14-pro">iPhone 14 Pro</a></li>
                <li><a href="<%= sitepath %>product/iphone/iphone-14-plus/?l-id=campaign_iphone-upg-tradein_product_iphone_iphone-14-plus">iPhone 14 Plus</a></li>
                <li><a href="<%= sitepath %>product/iphone/iphone-14/?l-id=campaign_iphone-upg-tradein_product_iphone_iphone-14">iPhone 14 </a></li>
                <li><a href="<%= sitepath %>product/iphone/iphone-13/?l-id=campaign_iphone-upg-tradein_product_iphone_iphone-13">iPhone 13</a></li>
                <li><a href="<%= sitepath %>product/iphone/iphone-se-3rd/?l-id=campaign_iphone-upg-tradein_product_iphone_iphone-se-3rd">iPhone SE (第3世代)</a></li>
              </ul>
            </div>
            <div class="u-Adjust_Align-center">
              <a href="<%= sitepath %>product/iphone/?l-id=campaign_iphone-upg-tradein_product_iphone" class="<%= namespace %>-Product_Item-btn c-Btn_Regular"><span>iPhone一覧を見る</span></a>
            </div>
          </div>
          <div class="<%= namespace %>-Product_Item">
            <h3 class="<%= namespace %>-Product_Item-title" id="tradein-product">下取り対象製品</h3>
            <p class="c-Txt_Cap u-Adjust_Mt-16 u-Adjust_Align-center">※日本国内にて楽天モバイル以外でご購入された製品でも、下取り対象製品であればお申し込み可能です。<br>
              ※下記以外の製品の下取りは本キャンペーンの対象外となります。<br>
              ※iOS 17 は、iPhone XS および iPhone XR 以降に対応します。<br>
              ※楽天モバイル買い替え超トクプログラム加入中の製品は、スマホ下取りサービスの対象外となります。スマホ下取りサービスへのお申し込みはできませんのでご注意ください。
            </p>

            <div class="<%= namespace %>-Product_Item-tradein u-Adjust_Mt-8 u-Adjust_Pb-24">
              <p class="c-Txt_Emp-02 c-Txt_Normal-l u-Adjust_Align-center u-Adjust_Mt-24">最大10,000ポイント還元 <br class="u-Show_Sp">対象製品<span class="c-Txt_Cap">※1,2</span></p>
              <ul class="<%= namespace %>-Product_Item-devices u-Adjust_Mt-16">
                <li>iPhone 7</li>
                <li>iPhone 7 Plus</li>
                <li>iPhone 8</li>
                <li>iPhone 8 Plus</li>
                <li>iPhone X</li>
              </ul>
            </div>

            <div class="<%= namespace %>-Product_Item-tradein u-Adjust_Mt-16 u-Adjust_Pb-24">
              <p class="c-Txt_Emp-02 c-Txt_Normal-l u-Adjust_Align-center u-Adjust_Mt-24">最大5,000ポイント還元<br class="u-Show_Sp"> 対象製品<span class="c-Txt_Cap">※1</span></p>
              <ul class="<%= namespace %>-Product_Item-devices u-Adjust_Mt-16">
                <li>iPhone XR</li>
                <li>iPhone XS</li>
                <li>iPhone XS Max</li>
                <li>iPhone 11</li>
                <li>iPhone 11 Pro</li>
                <li>iPhone 11 Pro Max</li>
                <li>iPhone SE（第2世代）</li>
                <li>iPhone 12</li>
                <li>iPhone 12 mini</li>
                <li>iPhone 12 Pro</li>
                <li>iPhone 12 Pro Max</li>
                <li>iPhone 13</li>
                <li>iPhone 13 mini</li>
                <li>iPhone 13 Pro</li>
                <li>iPhone 13 Pro Max</li>
                <li>iPhone SE（第3世代）</li>
                <li>iPhone 14</li>
                <li>iPhone 14 Plus</li>
                <li>iPhone 14 Pro</li>
                <li>iPhone 14 Pro Max</li>
              </ul>
            </div>

            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <a href="<%= sitepath %>service/tradein/?l-id=campaign_iphone-upg-tradein_service_tradein02" class="<%= namespace %>-Product_Item-btn c-Btn_Primary"><span>下取りのお申し込みはこちら</span></a>
            </div>
          </div>
        </div>

        <p class="c-Txt_Cap u-Adjust_Mt-24">
          ※1 ポイント還元は「<a href="#campaign-rule1899" class="c-Link_Txt js-scroll">楽天モバイル買い替え超トクプログラムを利用してiPhone購入&iPhone下取りで5,000ポイント還元！キャンペーン</a> 」適用時。<br>
          ※2 ポイント還元は「<a href="#campaign-rule2004" class="c-Link_Txt js-scroll">iPhone購入＆対象のiPhone下取りで、5,000ポイント還元キャンペーン</a> 」適用時。
        </p>

      </div>
    </section>

    <section class="<%= namespace %>-Flow u-Adjust_Mt-48" id="flow">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center" data-ratid="campaign_iphone-upg-tradein_scroll-03_flow" data-ratevent="appear" data-ratparam="all">最大10,000ポイント獲得の流れ</h2>
        <ol class="<%= namespace %>-Flow_List u-Adjust_Mt-16">
          <li class="<%= namespace %>-Flow_Item">
            <h3 class="c-Heading_Lv3"><span class="c-Txt_Emp-02 u-Adjust_Mr-32">STEP 1</span><br class="u-Show_Sp">「楽天モバイル買い替え超トクプログラム」で対象iPhoneを購入する</h3>
            <div class="l-Media_Grid u-Adjust_Mt-16">
              <div class="l-Media_Image">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/step1-sp.png" width="311" height="121">
                  <img src="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/step1-pc.png" width="304" height="180" alt="" loading="lazy">
                </picture>
              </div>
              <div>
                <p>楽天モバイル（Web、または楽天モバイルショップ）で購入してください。</p>
                <p class="c-Txt_Emp-02 c-Txt_Cap">※本プログラムは18歳以上のお客様のみご利用いただけます。</p>
                <p class="<%= namespace %>-Utility_Text-center-sp u-Adjust_Mt-16"><span class="c-Txt_Emp-01">【製品のご購入期間】</span><br>
                  Web：2023年9月12日（火）9:00～<br class="u-Show_Sp">2023年12月22日（金）8:59<br>
                  ショップ：2023年9月12日（火）開店～<br class="u-Show_Sp">2023年12月21日（木）閉店</p>
                <p class="c-Txt_Cap u-Adjust_Mt-16">
                  <span class="c-Txt_Emp-02">※製品の受け取り完了期限は、ご購入申し込みの翌々月末日まで</span><br>
                  ※楽天モバイル買い替え超トクプログラムを利用してiPhoneを新規購入後に、下取りサービスを申し込み成立した場合、特典適用の対象。<br>
                  ※新規購入対象機種は、楽天モバイルで扱っているすべてのiPhoneが対象です。<br>
                  ※楽天モバイル公式 楽天市場店での購入は対象外です。<br>
                  ※回線契約なしでも対象です。
                </p>
                <div class="u-Adjust_Mt-16 u-Align_Cll">
                  <a href="#purchase-product" class="c-Link_Txt-inline js-scroll" data-ratid="campaign_iphone-upg-tradein_purchase-product" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-up-l"></span>購入対象製品を見る</a>
                </div>
              </div>
            </div>
          </li>

          <li class="<%= namespace %>-Flow_Item">
            <h3 class="c-Heading_Lv3"><span class="c-Txt_Emp-02 u-Adjust_Mr-32">STEP 2</span><br class="u-Show_Sp">対象のiPhoneをスマホ下取りサービスに申し込み、製品を送付する</h3>
            <div class="l-Media_Grid u-Adjust_Mt-16">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/step2-pc-231004.png" width="304" height="180" alt="" loading="lazy">
              </div>
              <div>
                <p>下取りのお申し込みページから、下取り希望製品の情報を入力してください。</p>
                <p class="c-Txt_Emp-02 c-Txt_Cap">※本サービスは18歳以上のお客様のみご利用いただけます。</p>
                <p class="<%= namespace %>-Utility_Text-center-sp u-Adjust_Mt-16"><span class="c-Txt_Emp-01">【スマホ下取りサービスのお申し込み期限】</span><br>対象製品ご購入申し込みの翌々月末日23:59まで</p>
                <p class="u-Adjust_Mt-16">本サービスお申し込み時に、下取り希望製品の引取り日時予約をお願いいたします。お客様が指定された引取り日時に、配達員がお客様のご自宅に伺い、製品を回収します。<br>下取り希望製品は申込後 14日以内にご返送をお願いします。</p>

                <p class="u-Adjust_Mt-16 c-Txt_Emp-02 c-Txt_Cap">※楽天モバイル買い替え超トクプログラム加入中の製品は、スマホ下取りサービスの対象外となります。スマホ下取りサービスへのお申し込みはできませんのでご注意ください。</p>

                <p class="u-Adjust_Mt-16 c-Txt_Cap">
                  ※製品受け渡し時に配達員からお客様控えを受け取ってください。控えにある伝票番号を利用し、製品の到着状況を「<a href="https://toi.kuronekoyamato.co.jp/cgi-bin/tneko" class="c-Link_Txt-inline-icon" target="_blank">ヤマト運輸 荷物お問い合わせシステム<span class="c-Icon_New-window-l"></span></a>」にてご確認いただけます。<br>
                  ※「スマホ下取りサービス」についてご不明な点がございましたら「<a href="#questions">よくあるご質問</a>」をご確認ください。
                </p>

                <div class="u-Adjust_Mt-16">
                  <a href="<%= sitepath %>service/tradein/?l-id=campaign_iphone-upg-tradein_service_tradein03" class="c-Btn_Primary"><span>下取りのお申し込みはこちら</span></a>
                </div>
                <div class="u-Adjust_Mt-16 u-Align_Cll">
                  <a href="#tradein-product" class="c-Link_Txt-inline js-scroll" data-ratid="campaign_iphone-upg-tradein_tradein-product" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-up-l"></span>下取り対象製品を見る</a>
                </div>
              </div>
            </div>
          </li>

          <li class="<%= namespace %>-Flow_Item">
            <h3 class="c-Heading_Lv3"><span class="c-Txt_Emp-02 u-Adjust_Mr-32">STEP 3</span><br class="u-Show_Sp">下取りの成立</h3>
            <div class="l-Media_Grid u-Adjust_Mt-16">
              <div class="l-Media_Image">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/step3-sp.png" width="311" height="126">
                  <img src="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/step3-pc.png" width="304" height="152" alt="" loading="lazy">
                </picture>
              </div>
              <div>
                <p>製品査定後、金額をメールにてお知らせします。</p>
                <p class="<%= namespace %>-Utility_Text-center-sp u-Adjust_Mt-16"><span class="c-Txt_Emp-01">【スマホ下取りサービスのご成約期限】</span><br>対象製品ご購入申し込みから3カ月後の末日23:59まで</p>
                <p class="c-Txt_Cap u-Adjust_Mt-16">
                  ※製品実査定は製品到着後、7日程度かかります。<br>
                  ※査定完了メールをご確認ください。<br>
                  ※査定後、製品の状態により下取り価格が変更になった場合も、本キャンペーンの対象となります。<br>
                  ※査定後、製品の状態により下取り価格が0円と判断された場合は、本キャンペーンの対象外となります。（ご送付いただいた製品は返送いたします）
                </p>
              </div>
            </div>
          </li>

          <li class="<%= namespace %>-Flow_Item <%= namespace %>-Flow_Item-reward">
            <div class="<%= namespace %>-Flow_Reward <%= namespace %>-Flow_Reward-cash">
              <div class="u-Rat_Appear-height" data-ratid="campaign_iphone-upg-tradein_scroll-04_Item-reward" data-ratevent="appear" data-ratparam="all"></div>
              <div class="<%= namespace %>-Flow_Reward-container u-Adjust_Mt-16">
                <div class="<%= namespace %>-Flow_Reward-title">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/flow-cash-text-sp.png" width="296" height="56">
                    <img src="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/flow-cash-text-pc.png" alt="下取り金額を楽天キャッシュで受け取り" width="498" height="27" loading="lazy">
                  </picture>
                </div>
                <div class="<%= namespace %>-Flow_Reward-img u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/flow-cash.png" width="303" height="93" alt="" loading="lazy">
                </div>
                <p class="<%= namespace %>-Flow_Reward-desc c-Txt_Cap u-Adjust_Mt-8">※価格確定後1カ月程度で楽天キャッシュにチャージされます。<br>※付与される楽天キャッシュの有効期間は10年です。</p>
              </div>
            </div>
            <div class="<%= namespace %>-Flow_Reward <%= namespace %>-Flow_Reward-point u-Adjust_Mt-16">
              <div class="<%= namespace %>-Flow_Reward-deco"><img src="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/icon-joint.png" alt="" width="36" height="36" loading="lazy"></div>
              <div class="<%= namespace %>-Flow_Reward-container u-Adjust_Mt-16">
                <div class="<%= namespace %>-Flow_Reward-title">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/flow-point-text-01-sp-20230912.png" width="307" height="43">
                    <img src="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/flow-point-text-01-pc-20230912.png" alt="最大10,000円相当のポイント還元！" width="344" height="49" loading="lazy">
                  </picture>
                </div>
                <div class="<%= namespace %>-Flow_Reward-img u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/flow-point.png" width="252" height="122" alt="" loading="lazy">
                </div>
                <p class="<%= namespace %>-Flow_Reward-desc c-Txt_Cap">※楽天ポイントの付与は条件達成月の翌々月末日ごろに、付与日を含めた6カ月間の期間限定ポイントで付与いたします。</p>
              </div>
              <div class="<%= namespace %>-Flow_Reward-detail">

                <div class="<%= namespace %>-Flow_Reward-detail-item">
                  <p class="c-Heading_Lv4 u-Adjust_Mb-16" style="font-size: 19px;">「楽天モバイル買い替え<br class="u-Show_Sp">超トクプログラム」で<br>対象iPhone購入＆<br class="u-Show_Sp">下取り成立で</p>
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/flow-point-text-03-sp.png" width="253" height="37">
                    <img src="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/flow-point-text-03-pc.png" alt="5,000ポイント" width="191" height="36" loading="lazy">
                  </picture>
                  <p class="u-Adjust_Mt-16"><a href="#campaign-rule1899" class="c-Link_Txt-inline"><span class="c-Icon_Arrow-down-l"></span>詳しくはこちら</a></p>
                  <p class="u-Adjust_Mt-8 c-Txt_Cap">※新規購入したiPhoneがお手元に届き、かつ下取りが成立した時点で条件達成となります。</p>
                </div>

                <div class="<%= namespace %>-Flow_Reward-detail-item">
                  <p class="c-Heading_Lv4 u-Adjust_Mb-16" style="font-size: 19px;">
                    iPhone 7 / iPhone 7 Plus <br class="u-Show_Sp"><span class="u-Show_Pc">/ </span>iPhone 8 /<br class="u-Show_Pc"> iPhone 8 Plus <br class="u-Show_Sp"><span class="u-Show_Pc">/ </span>iPhone Xを下取りの場合
                  </p>
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/flow-point-text-03-sp.png" width="253" height="37">
                    <img src="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/flow-point-text-03-pc.png" alt="5,000ポイント" width="191" height="36" loading="lazy">
                  </picture>
                  <p class="u-Adjust_Mt-16"><a href="#campaign-rule2004" class="c-Link_Txt-inline"><span class="c-Icon_Arrow-down-l"></span>詳しくはこちら</a></p>
                  <p class="u-Adjust_Mt-8 c-Txt_Cap">※新規購入したiPhoneがお手元に届き、かつ下取りが成立した時点で条件達成となります。</p>
                </div>

              </div>
            </div>
          </li>
        </ol>
      </div>
    </section>

    <section class="l-System_Container u-Adjust_Mt-48">
      <div class="u-Show_Xxo">
        <div class="u-Adjust_Mt-64 u-Adjust_Align-center">
          <h2 class="<%= namespace %>-Appeal_Title">
            <img src="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/appeal-title-pc.png?230620" alt="プランお申し込みなら、さらにおトクなキャンペーン開催中！" width="715" height="114" loading="lazy">
          </h2>
          <div class="c-Theme-Borderbox <%= namespace %>-Appeal">
            <p class="u-Adjust_Mt-16">
              <img src="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/flow-point-data-00-20231101.png" alt="" width="492" height="37" loading="lazy">
            </p>
            <!--<p class="u-Adjust_Mt-8"><span class="c-Heading_Lv3"><span class="c-Txt_Emp-02">最大<span class="c-Heading_Lv1">24,000</span>ポイント</span>還元!</span></p>-->
            <ul class="<%= namespace %>-Appeal_Card u-Adjust_Mt-24">
              <li class="<%= namespace %>-Appeal_Item u-Adjust_Pb-24">
                <p class="<%= namespace %>-Appeal_Item-ttl c-Txt_Emp-01">初めてプラン申し込み<br>＆他社から乗り換えで</p>
                <p class="u-Adjust_Align-center <%= namespace %>-Utility_Mt-8-pc">
                  <img src="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/flow-point-data-02-20230901.png" alt="" width="195" height="35" loading="lazy">
                </p>
                <p class="u-Adjust_Mt-8">
                  <a href="<%= sitepath %>campaign/iphone-point/#campaign-rule2091" class="c-Link_Txt-inline">詳しくはこちら<span class="c-Icon_Chevron-right"></span></a>
                </p>
              </li>
              <li class="<%= namespace %>-Appeal_Item u-Adjust_Pb-24">
                <p class="<%= namespace %>-Appeal_Item-ttl c-Txt_Emp-01">対象製品購入<br>＆初めてプラン申し込みで</p>
                <p class="u-Adjust_Align-center <%= namespace %>-Utility_Mt-8-pc">
                  <img src="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/flow-point-data-02-20230901.png" alt="" width="195" height="35" loading="lazy">
                </p>
                <p class="u-Adjust_Mt-8">
                  <a href="<%= sitepath %>campaign/iphone-point/#campaign-rule1819" class="c-Link_Txt-inline">詳しくはこちら<span class="c-Icon_Chevron-right"></span></a>
                </p>
              </li>
              <!--
              <li class="<%= namespace %>-Appeal_Item">
                <p class="<%= namespace %>-Appeal_Item-ttl c-Txt_Emp-01">楽天モバイル買い替え<br>超トクプログラムで</p>
                <p class="c-Txt_Emp-02"><span class="c-Heading_Lv2">10,000</span><span class="c-Heading_Lv4">ポイント</span></p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※本体代48回払いの場合</p>
              </li>
              <li class="<%= namespace %>-Appeal_Item">
                <p class="<%= namespace %>-Appeal_Item-ttl c-Txt_Emp-01">対象のiPhone<br>下取りで</p>
                <p class="c-Txt_Emp-02"><span class="c-Heading_Lv2">5,000</span><span class="c-Heading_Lv4">ポイント</span></p>
              </li>
              -->
            </ul>
            <!--
            <div class="u-Adjust_Mb-16 u-Adjust_Mt-16">
              <a class="c-Banner_Hover-act" href="<%= sitepath %>campaign/iphone-point/?l-id=campaign_iphone-upg-tradein_campaign_iphone-point">
                <img src="<%= sitepath %>assets/img/bnr/bnr-iphone-point-1032-160-230831.png?230831" width="1032" height="160" alt="iPhoneトク得乗り換え！楽天モバイルを初めてお申し込み&対象のiPhone購入＆買い替え超トクプログラムご利用＆対象iPhone下取りで最大24,000ポイント還元">
              </a>
            </div>
            -->
            <div class="u-Adjust_Mt-24">
              <a href="<%= sitepath %>campaign/iphone-point/" class="c-Btn_Regular-large"><span>キャンペーン詳細を見る</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="u-Show_Oox">
        <div class="<%= namespace %>-Appeal_Title-sp u-Adjust_Align-center">
          <img src="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/appeal-title-sp.png?230620" alt="プランお申し込みなら、さらにおトクなキャンペーン開催中！" width="331" height="142" loading="lazy">
        </div>
        <div class="c-Theme-Borderbox <%= namespace %>-Appeal">
          <div class="u-Adjust_Align-center u-Adjust_Mt-24">
            <div>
              <span class="c-Heading_Lv4">キャンペーン併用で</span><br>
              <p class="u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/flow-point-data-00-sp-20231101.png" alt="" width="218" height="35" loading="lazy">
              </p>
            </div>
            <ul class="<%= namespace %>-Appeal_Card u-Adjust_Mt-16">
              <li class="<%= namespace %>-Appeal_Item u-Adjust_Pb-24">
                <p class="<%= namespace %>-Appeal_Item-ttl c-Txt_Emp-01">初めてプラン申し込み<br>＆他社から乗り換えで</p>
                <div class="u-Adjust_Mb-8">
                  <p class="u-Adjust_Align-center">
                    <img src="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/flow-point-data-02-sp-20230901.png" alt="" width="195" height="35" loading="lazy">
                  </p>
                </div>
                <a href="<%= sitepath %>campaign/iphone-point/#campaign-rule2091" class="c-Link_Txt-inline">詳しくはこちら<span class="c-Icon_Chevron-right"></span></a>
              </li>
              <li class="<%= namespace %>-Appeal_Item u-Adjust_Pb-24">
                <p class="<%= namespace %>-Appeal_Item-ttl c-Txt_Emp-01">対象製品購入<br>＆初めてプラン申し込みで</p>
                <div class="u-Adjust_Mb-8">
                  <p class="u-Adjust_Align-center">
                    <img src="<%= sitepath %>assets/img/campaign/iphone-upg-tradein/flow-point-data-02-sp-20230901.png" alt="" width="195" height="35" loading="lazy">
                  </p>
                </div>
                <a href="<%= sitepath %>campaign/iphone-point/#campaign-rule1819" class="c-Link_Txt-inline">詳しくはこちら<span class="c-Icon_Chevron-right"></span></a>
              </li>
              <!--
              <li class="<%= namespace %>-Appeal_Item">
                <p class="<%= namespace %>-Appeal_Item-ttl c-Txt_Emp-01">楽天モバイル買い替え<br>超トクプログラムで</p>
                <p class="c-Txt_Emp-02"><span class="c-Heading_Lv2">10,000</span><span class="c-Heading_Lv4">ポイント</span></p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※本体代48回払いの場合</p>
              </li>
              <li class="<%= namespace %>-Appeal_Item">
                <p class="<%= namespace %>-Appeal_Item-ttl c-Txt_Emp-01">対象のiPhone<br>下取りで</p>
                <p class="c-Txt_Emp-02"><span class="c-Heading_Lv2">5,000</span><span class="c-Heading_Lv4">ポイント</span></p>
              </li>
              -->
            </ul>
            <!--
            <p class="u-Adjust_Mt-16"><span class="c-Heading_Lv3"><span class="c-Txt_Emp-02">最大<span class="c-Heading_Lv1">24,000</span>ポイント</span><br>還元！</span></p>
            <div class="u-Adjust_Mt-24">
              <a class="c-Banner_Hover-act" href="<%= sitepath %>campaign/iphone-point/?l-id=campaign_iphone-upg-tradein_campaign_iphone-point">
                <img src="<%= sitepath %>assets/img/bnr/bnr-iphone-point-343-108-230725.png" width="802" height="253" alt="iPhoneトク得乗り換え！楽天モバイルを初めてお申し込み&対象のiPhone購入＆iPhoneアップグレードプログラムご利用＆対象iPhone下取りで最大24,000ポイント還元">
              </a>
            </div>
            -->
            <div class="u-Adjust_Mt-24">
              <a href="<%= sitepath %>campaign/iphone-point/" class="c-Btn_Regular-large"><span>キャンペーン詳細を見る</span></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="l-System_Container u-Adjust_Mt-48">
      <h3 id="questions" class="c-Heading_Lv2 u-Adjust_Align-center" data-ratid="campaign_iphone-upg-tradein_scroll-05_question" data-ratevent="appear" data-ratparam="all">よくあるご質問</h3>
      <div class="c-Accordion u-Adjust_Mt-24">
        <button id="accordion-faq-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-1" data-ratid="campaign_iphone-upg-tradein_faq-1" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
          スマホ下取りサービスの申し込み方法を教えてほしい
        </button>
        <div id="accordion-content-faq-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-1" aria-hidden="false">
          <p>スマホ下取りサービスは<a href="<%= sitepath %>service/tradein/?l-id=support_category_guide#service_flow" class="c-Link_Txt">こちら</a>のWebページよりお申し込みが可能です。店舗やお電話でお申し込みいただくことは出来ません。</p>
        </div>
      </div>
      <div class="c-Accordion">
        <button id="accordion-faq-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-2" data-ratid="campaign_iphone-upg-tradein_faq-2" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
          製品の到着状況について教えてほしい
        </button>
        <div id="accordion-content-faq-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-2" aria-hidden="false">
          <p>製品受け渡し時に配達員からお客様控えを受け取ってください。控えにあるお問合せ伝票番号を利用し「<a href="https://toi.kuronekoyamato.co.jp/cgi-bin/tneko" class="c-Link_Txt-inline-icon" target="_blank">ヤマト運輸 荷物お問い合わせシステム<span class="c-Icon_New-window-l"></span></a>」にてご確認いただけます。</p>
        </div>
      </div>
      <div class="c-Accordion">
        <button id="accordion-faq-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-3" data-ratid="campaign_iphone-upg-tradein_faq-3" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
          スマホ下取りサービスの申し込み期限が過ぎてしまった場合、キャンペーンの対象になりますか
        </button>
        <div id="accordion-content-faq-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-3" aria-hidden="false">
          <p>対象製品ご購入申し込み後から翌々月末日23:59までの期限が過ぎてしまった場合、対象外となります。</p>
          <p class="u-Adjust_Mt-16">詳しくはキャンペーンルールをご確認ください。</p>
        </div>
      </div>
      <div class="c-Accordion">
        <button id="accordion-faq-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-4" data-ratid="campaign_iphone-upg-tradein_faq-4" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
          下取り希望製品の発送が14日を超えてしまった場合キャンペーンは対象になりますか
        </button>
        <div id="accordion-content-faq-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-4" aria-hidden="false">
          <p>
            下取り希望製品はスマホ下取りサービスの<span class="c-Txt_Emp-01">お申し込み日から</span>14日以内に返送をお願いいたします。<br>
            なお、14日を超えて製品が返送された場合、下取り金額が減額される、あるいは下取りが成立しない場合がございます。<br>
            スマホ下取りサービスが不成立となった場合、本キャンペーンは対象外となります。
          </p>
        </div>
      </div>
      <div class="c-Accordion">
        <button id="accordion-faq-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-5" data-ratid="campaign_iphone-upg-tradein_faq-5" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
          スマホ下取りサービスをキャンセルしたい
        </button>
        <div id="accordion-content-faq-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-5" aria-hidden="false">
          <p>お申し込み後のキャンセルは、「<a href="https://auth.trade-in.device-service.mobile.rakuten.net/checkstatus" target="_blank" class="c-Link_Txt">手続き状況</a>」より、サービスお申し込みの当日中（23:59まで）のみお手続き可能です。</p>
          <p class="u-Adjust_Mt-16">
            なお、スマホ下取りサービスのキャンセル前に製品引取り日時の予約を完了している場合は、お客様ご自身で以下のクロネコヤマト電話窓口にご連絡の上、製品引取り予約のキャンセルをお願いします。
          </p>
          <p class="u-Adjust_Mt-16">
            ヤマトカスタマーサポートセンター<br>
            受付時間 8:00～21:00 年中無休<br>
            携帯電話ご利用の場合：0570-200-000<br>
            固定電話ご利用の場合：0120-019-625
          </p>
          <p class="u-Adjust_Mt-16">
            引取り予約確認のため、電話口担当者に以下の３点をお伝えください。<br>
            ・申込者名<br>
            ・製品引取り日時<br>
            ・製品引取り住所
          </p>
        </div>
      </div>
      <div class="c-Accordion">
        <button id="accordion-faq-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-6" data-ratid="campaign_iphone-upg-tradein_faq-6" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
          キャンペーン特典と下取り金額の進呈について教えてほしい
        </button>
        <div id="accordion-content-faq-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-6" aria-hidden="false">
          <p>
            本キャンペーンの特典（楽天ポイント）はキャンペーン条件達成の翌々月末日ごろに付与いたします。<br>
            なお、下取り金額については楽天キャッシュにて価格確定後1カ月程度でチャージされます。
          </p>
          <p class="u-Adjust_Mt-16">本キャンペーンの特典・下取り金額の進呈状況は「<a href="https://point.rakuten.co.jp/" target="_blank" rel="noopener noreferrer" class="c-Link_Txt">楽天PointClub</a>」にてログイン後、「ポイント実績」をクリックしてご確認ください。</p>
        </div>
      </div>
      <div class="c-Accordion">
        <button id="accordion-faq-7" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-7" data-ratid="campaign_iphone-upg-tradein_faq-7" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
          製品の引取り日時の変更はどうすればいいですか？
        </button>
        <div id="accordion-content-faq-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-7" aria-hidden="false">
          <p>
            製品引取り日時の変更をご希望の場合は、お客様ご自身で以下のクロネコヤマト電話窓口までご連絡をお願いします。
          </p>
          <p class="u-Adjust_Mt-16">
            ヤマトカスタマーサポートセンター<br>
            受付時間 8:00～21:00 年中無休<br>
            携帯電話ご利用の場合：0570-200-000<br>
            固定電話ご利用の場合：0120-019-625
          </p>
          <p class="u-Adjust_Mt-16">
            引取り予約確認のため、電話口担当者に以下の３点をお伝えください。<br>
            ・申込者名<br>
            ・製品引取り日時<br>
            ・製品引取り住所
          </p>
          <p class="c-Txt_Cap u-Adjust_Mt-16">※製品引取り日時の予約をキャンセルしてしまった場合、引取り日時の再予約はできず、スマホ下取りサービスの再申し込みが必要となります。再申し込みは最初のお申し込みから15日後より可能です。</p>
        </div>
      </div>
    </section>

    <section class="u-Bg_Monotone97 u-Adjust_Mt-80 u-Adjust_Py-48">
      <%- include('/inc/_about-rakuten-mobile', { baseLId: 'campaign_iphone-upg-tradein', ratId: 'campaign_iphone-upg-tradein_scroll-06_rakuten' }) %>
    </section>

    <section class="u-Adjust_Mt-64" id="campaign-rule">
      <div class="l-System_Container">

        <div class="u-Rat_Appear-height" data-ratid="campaign_iphone-upg-tradein_scroll-07_rule" data-ratevent="appear" data-ratparam="all">&nbsp;</div>

        <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
          <p class="c-Txt_Emp-02 c-Txt_Normal-m">
            本キャンペーンは2023年12月22日（金）をもちまして終了いたしました。<br>
            このページに掲載されている情報は、キャンペーン終了時点のものです。
          </p>
        </div>
        <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
          <a href="<%= sitepath %>campaign/?l-id=end_campaign" class="c-Link_Txt-inline">開催中のキャンペーンを見る<span class="c-Icon_Chevron-right"></span></a>
        </div>

        <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1899', level: 'h2', year: '2023', class: 'u-Adjust_Mt-64' }}) %>

        <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2004', level: 'h2', year: '2023', class: 'u-Adjust_Mt-64' }}) %>

        <!-- 過去キャンペーン -->
        <div class="c-Accordion u-Adjust_Mt-64" id="campaign-rule-old">
          <button id="accordion-001" class="c-Accordion_Trigger js-Accordion_Trigger un-limit-Layout_Accordion-trigger" aria-expanded="false" aria-controls="accordion-content-001"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>過去のキャンペーンルール</button>
          <div id="accordion-content-001" class="c-Accordion_Panel js-Accordion_Panel un-limit-Layout_Accordion-qapanel u-Adjust_Pt-32" role="region" aria-labelledby="accordion-001" aria-hidden="true" style="display:none;">

            <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1900', level: 'h2', year: '2023', class: 'u-Adjust_Mt-24' }}) %>

          </div>
        </div>

      </div>
    </section>

    <footer class="g-Footer u-Adjust_Mt-64">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <%- include('/include/_breadcrumbs', {
          type: 'foot',
          pagetitle,
          directories,
        }) %>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>

  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
</body>
</html>
