<% const pagetitle = "Price Plan Details" -%>
<% const sitetitle = "Top" -%>
<% const directories = [{path:"fee/saikyo-plan/en/", label:"Rakuten SAIKYO Plan (Price plan)"}] -%>
<% const namespace = "saikyo-plan-detail" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: 'Discover the pricing details of Rakuten Mobile’s Rakuten SAIKYO plan',
    keywords: '',
    directories: directories,
    noindex: false,
    pathname: filepath,
    canonical_custom: 'https://network.mobile.rakuten.co.jp/fee/saikyo-plan/en/',
    isEnglish: true,
  });
%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/fee/saikyo-plan/detail/saikyo-plan-detail.css?20240424">
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>

  <div class="l-System">

    <%- include('/include/_header') %>

    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>

    <div class="<%= namespace %>-Layout_Detail u-Adjust_Pt-0 u-Adjust_Pb-0">
      <div class="l-System_Container">
        <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-right">*Prices include taxes unless stated otherwise.</p>

        <h1 class="c-Heading_Lv1 u-Adjust_Mt-24"><%= pagetitle %></h1>
        <h2 class="u-Adjust_Align-center u-Adjust_Mt-24 u-Adjust_Mb-0">
          <img src="<%= sitepath %>assets/img/fee/saikyo-plan/detail/en/saikyo-plan-logo.png" alt="Rakuten SAIKYO plan" width="257" height="">
        </h2>

        <div class="c-Tab js-Tab u-Adjust_Mt-16">
          <table class="c-Table_Container <%= namespace %>-Table_Base <%= namespace %>-Table_Base-01 u-Adjust_Mt-16">
            <colgroup>
              <col>
              <col>
            </colgroup>
            <tr>
              <th>Plan Details</th>
              <td>
                <p class="u-Adjust_Mb-16 u-Adjust_Mb-pc-8">
                  <span class="c-Txt_Emp-01 c-Txt_Normal-m">4G+5G</span><br class="u-Show_Oox"><span class="c-Txt_Cap u-Adjust_Pl-8">*5G service requires <a href="<%= sitepath %>area/?l-id=saikyo-plan-detail-en_area02" class="c-Link_Txt">network coverage</a> and <a href="<%= sitepath %>product/?l-id=saikyo-plan-detail-en_product" class="c-Link_Txt">compatible devices</a>.</span>
                </p>
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/detail/en/saikyo-plan-price-sp-240322.png" width="639" height="1132">
                  <img src="<%= sitepath %>assets/img/fee/saikyo-plan/detail/en/saikyo-plan-price-pc-240322.png" width="825" height="271" alt="When plan fee with SAIKYO FAMILY Program applied: Enjoy a 100 yen discount (excl. tax) and pay 3,168 yen/mo. (incl. tax) for unlimited data, or 2,068 yen/mo. (incl. tax) for 3GB to more than 20GB, or 968 yen (incl. tax) for up to 3GB.">
                </picture>
              </td>
            </tr>
          </table>

          <div id="js-trigger"></div>

          <ul class="<%= namespace %>-Table_Note-list c-Txt_Cap u-Adjust_Mt-16">
            <li>*Call charges and additional fees are not included.</li>
            <li>*1 Speed may be limited for fair service provision. Speed may decrease depending on the environment.</li>
            <li>*Conditions apply for SAIKYO FAMILY Program.</li>
          </ul>

          <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
            <a href="<%= sitepath %>fee/family/?l-id=fee_saikyo-plan_detail_en_saikyo-family-program_fee_family" class="c-Btn_Secondly-large">Learn More About<br class="u-Show_Oox"> SAIKYO FAMILY Program </a>
          </div>

          <ul class="<%= namespace %>-Layout_Link-horizontal u-Adjust_Mt-40">
            <li><a href="#ank-date" class="c-Link_Txt-inline js-scroll"><span class="c-Icon_Arrow-down-l u-Adjust_Mr-8"></span>Data Charges</a></li>
            <li><a href="#call-02" class="c-Link_Txt-inline js-scroll"><span class="c-Icon_Arrow-down-l u-Adjust_Mr-8"></span>Call Charges</a></li>
            <li><a href="#sms-02" class="c-Link_Txt-inline js-scroll"><span class="c-Icon_Arrow-down-l u-Adjust_Mr-8"></span>Texting and SMS Charges</a></li>
          </ul>

          <h2 id="ank-date" class="c-Heading_Lv2 u-Adjust_Mt-64 u-Adjust_Align-center">Data Charges</h2>
          <div class="<%= namespace %>-Table_Pc">
            <table class="c-Table_Container <%= namespace %>-Table_Detail <%= namespace %>-Table_Detail-01 <%= namespace %>-Table_Detail-01-color-01">
              <thead>
                <tr>
                  <th scope="col">Coverage</th>
                  <th scope="row">Domestic</th>
                  <th scope="row">International (selected countries and regions)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>High-speed data allowance <span>*2</span></th>
                  <td>Unlimited <span>*1</span>
                    <p class="c-Txt_Normal-ss">Limitless 5G connectivity in 5G areas with compatible devices <span>*3</span></p>
                  </td>
                  <td>2GB/mo.<p class="c-Txt_Normal-ss">Speeds capped at 128kbps after limit is reached <span>*4</span></p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="<%= namespace %>-Table_Sp">
            <table class="c-Table_Container <%= namespace %>-Table_Base-sp">
              <thead>
                <tr>
                  <th>High-speed data allowance<span>※2</span></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Domestic</th>
                </tr>
                <tr>
                  <td>
                    <p class="<%= namespace %>-Table_Base-fs-20">Unlimited<span class="c-Txt_Cap">*1</span></p>Limitless 5G connectivity in 5G areas with compatible devices<span>*3</span>
                  </td>
                </tr>
                <tr>
                  <th>International (selected countries and regions)</th>
                </tr>
                <tr>
                  <td>
                    <p class="<%= namespace %>-Table_Base-fs-20">2GB/mo.</p>Speeds capped at 128kbps after limit is reached <span>*4</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <ul class="<%= namespace %>-Table_Note-list c-Txt_Cap u-Adjust_Mt-16">
            <li>*1 Speed may be limited for fair service provision. Speed may decrease depending on the environment.</li>
            <li>*2 Unused data will not roll over to the next month.</li>
            <li>*3 5G availability is limited to certain areas and is progressively expanding. Accessing 5G requires compatible devices. <a href="<%= sitepath %>area/?l-id=saikyo-plan-detail-en_area" class="c-Link_Txt-inline">Click here for details .</a></li>
            <li>*4 Exceeding the data limit while roaming overseas will result in a speed restriction of up to 128 kbps in those areas.</li>
          </ul>

          <div class="<%= namespace %>-Table_Container" id="call-02">
            <h2 id="ank-tel" class="c-Heading_Lv2">Call Charges</h2>

            <h3 id="tel-android" class="c-Heading_Lv3 u-Adjust_Mt-32">Android</h3>

            <div class="<%= namespace %>-Table_Pc">
              <table class="c-Table_Container <%= namespace %>-Table_Detail <%= namespace %>-Table_Detail-01 <%= namespace %>-Table_Detail-01-color-02">
                <colgroup>
                  <col>
                  <col>
                  <col>
                  <col>
                </colgroup>
                <tr>
                  <th></th>
                  <th width="20%"></th>
                  <th width="35%" scope="col">Using Rakuten Link App</th>
                  <th width="35%" scope="col">Using Standard Android Phone App</th>
                </tr>
                <tr>
                  <th rowspan="5">Outgoing Call Charges</th>
                  <th>Rakuten Link to Rakuten Link</th>
                  <td rowspan="3">Free</td>
                  <td>-</td>
                </tr>
                <tr>
                  <th>From Japan to Japanese Numbers</th>
                  <td>¥20 (¥22 tax incl.)/30 sec.</td>
                </tr>
                <tr>
                  <th>From Overseas to Japanese Numbers <span class="c-Txt_Cap">*5</span></th>
                  <td>Country/Region Rates <span class="c-Txt_Cap">*6</span></td>
                </tr>
                <tr>
                  <th>From Japan to International Numbers</th>
                  <td rowspan="2">Country/Region Rates</td>
                  <td>Country/Region Rates</td>
                </tr>
                <tr>
                  <th>International to International Numbers <span class="c-Txt_Cap">*5</span></th>
                  <td>Country/Region Rates <span class="c-Txt_Cap">*6</span></td>
                </tr>
                <tr>
                  <th rowspan="2">Incoming Call Charges</th>
                  <th>In Japan</th>
                  <td rowspan="2">Free</td>
                  <td>Free</td>
                </tr>
                <tr>
                  <th>Overseas <span class="c-Txt_Cap">*5</span></th>
                  <td>Country/Region Rates <span class="c-Txt_Cap">*6</span></td>
                </tr>
              </table>
            </div>

            <div class="<%= namespace %>-Table_Sp">
              <h4 class="c-Txt_Normal c-Txt_Emp-01">Using Rakuten Link App</h4>
              <table class="c-Table_Container <%= namespace %>-Table_Detail-sp">
                <colgroup>
                  <col style="width:50%;">
                  <col style="width:50%;">
                </colgroup>
                <thead>
                  <tr>
                    <th colspan="2">Outgoing Call Charges</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th colspan="2">Rakuten Link to Rakuten Link</th>
                  </tr>
                  <tr>
                    <td colspan="2">Free</td>
                  </tr>
                  <tr>
                    <th class="<%= namespace %>-Table_Th-sub">From Japan to Japanese Numbers</th>
                    <th class="<%= namespace %>-Table_Th-sub">From Overseas to Japanese Numbers <span class="c-Txt_Cap">*5</span></th>
                  </tr>
                  <tr>
                    <td colspan="2">Free</td>
                  </tr>
                  <tr>
                    <th class="<%= namespace %>-Table_Th-sub">From Japan to International Numbers</th>
                    <th class="<%= namespace %>-Table_Th-sub">International to International Numbers <span class="c-Txt_Cap">*5</span></th>
                  </tr>
                  <tr>
                    <td colspan="2">Country/Region Rates</td>
                  </tr>
                </tbody>
                <thead>
                  <tr>
                    <th colspan="2">Incoming Call Charges</th>
                  </tr>
                </thead>
                <tr>
                  <th class="<%= namespace %>-Table_Th-sub">In Japan</th>
                  <th class="<%= namespace %>-Table_Th-sub">Overseas <span class="c-Txt_Cap">*5</span></th>
                </tr>
                <tbody>
                  <tr>
                    <td colspan="2">Free</td>
                  </tr>
                </tbody>
              </table>

              <h4 class="c-Txt_Normal c-Txt_Emp-01 u-Adjust_Mt-32">Using Standard Android Phone App</h4>
              <table class="c-Table_Container <%= namespace %>-Table_Detail-sp">
                <thead>
                  <tr>
                    <th>Outgoing Call Charges</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>From Japan to Japanese Numbers</th>
                  </tr>
                  <tr>
                    <td>¥20 (¥22 tax incl.)/30 sec.</td>
                  </tr>
                  <tr>
                    <th>From Overseas to Japanese Numbers</th>
                  </tr>
                  <tr>
                    <td>Country/Region Rates <span class="c-Txt_Cap">*6</span></td>
                  </tr>
                  <tr>
                    <th>From Japan to International Numbers</th>
                  </tr>
                  <tr>
                    <td>Country/Region Rates</td>
                  </tr>
                  <tr>
                    <th>International to International Numbers</th>
                  </tr>
                  <tr>
                    <td>Country/Region Rates <span class="c-Txt_Cap">*6</span></td>
                  </tr>
                </tbody>
                <thead>
                  <tr>
                    <th>Incoming Call Charges</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>In Japan</th>
                  </tr>
                  <tr>
                    <td>Free</td>
                  </tr>
                  <tr>
                    <th>Overseas</th>
                  </tr>
                  <tr>
                    <td>Country/Region Rates <span class="c-Txt_Cap">*6</span></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <ul class="c-Txt_Cap u-Adjust_Mt-16">
              <li>*Calls to certain numbers, including other carriers’ connection services (starting with 0570) and specific numbers (such as 188), are not included in the free call offer.</li>
              <li>*5 With the Rakuten Link app, calls can only be made and received from countries and regions outside Japan. For calls to other areas, a Wi-Fi connection is required.</li>
              <li>*6 When using the standard Android phone app, both incoming and outgoing calls are restricted to specific countries and regions outside Japan.</li>
            </ul>
            <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-16">
              <li>
                <p><a href="<%= sitepath %>service/standard-free-call/?l-id=saikyo-plan-detail-en_service_standard-free-call-01" class="c-Link_Txt-inline">Details for unlimited 15-minute standard calls<span class="c-Icon_Chevron-right"></span></a></p>
              </li>
              <li>
                <p><a href="<%= sitepath %>service/international-call/?l-id=saikyo-plan-detail-en_international-call_01" class="c-Link_Txt-inline">Details for international calls<span class="c-Icon_Chevron-right"></span></a></p>
              </li>
              <li>
                <p><a href="<%= sitepath %>service/international-unlimited-talk/?l-id=saikyo-plan-detail-en_unlimited-talk_01" class="c-Link_Txt-inline">Details for unlimited international calls<span class="c-Icon_Chevron-right"></span></a></p>
              </li>
            </ul>

            <h3 id="tel-ios" class="c-Heading_Lv3 u-Adjust_Mt-32">iOS</h3>
            <div class="<%= namespace %>-Table_Pc">
              <table class="c-Table_Container <%= namespace %>-Table_Detail <%= namespace %>-Table_Detail-02 <%= namespace %>-Table_Detail-01-color-02">
                <colgroup>
                  <col>
                  <col>
                  <col>
                  <col>
                </colgroup>
                <tr>
                  <th></th>
                  <th width="20%"></th>
                  <th width="35%" scope="col">Using Rakuten Link App</th>
                  <th width="35%" scope="col">Using Standard iOS Phone App</th>
                </tr>
                <tr>
                  <th rowspan="5">Outgoing Call Charges</th>
                  <th>Rakuten Link to Rakuten Link</th>
                  <td rowspan="3">Free</td>
                  <td>-</td>
                </tr>
                <tr>
                  <th>From Japan to Japanese Numbers</th>
                  <td>¥20 (¥22 tax incl.)/30 sec.</td>
                </tr>
                <tr>
                  <th>From Overseas to Japanese Numbers <span class="c-Txt_Cap">*5</span></th>
                  <td>Country/Region Rates <span class="c-Txt_Cap">*7</span></td>
                </tr>
                <tr>
                  <th>From Japan to International Numbers</th>
                  <td rowspan="2">Country/Region Rates</td>
                  <td>Country/Region Rates</td>
                </tr>
                <tr>
                  <th>International to International Numbers <span class="c-Txt_Cap">*5</span></th>
                  <td>Country/Region Rates <span class="c-Txt_Cap">*7</span></td>
                </tr>
                <tr>
                  <th rowspan="2">Incoming Call Charges</th>
                  <th>In Japan</th>
                  <td rowspan="2">Calls can only be received through the standard iOS phone app, not with the Rakuten Link app. <span class="c-Txt_Cap">*8</span></td>
                  <td>Free</td>
                </tr>
                <tr>
                  <th>Overseas</th>
                  <td>Country/Region Rates <span class="c-Txt_Cap">*7</span></td>
                </tr>
              </table>
            </div>

            <div class="<%= namespace %>-Table_Sp">
              <h4 class="c-Txt_Normal c-Txt_Emp-01">Using Rakuten Link App</h4>
              <table class="c-Table_Container <%= namespace %>-Table_Detail-sp">
                <colgroup>
                  <col style="width:50%;">
                  <col style="width:50%;">
                </colgroup>
                <thead>
                  <tr>
                    <th colspan="2">Outgoing Call Charges</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th colspan="2">Rakuten Link to Rakuten Link</th>
                  </tr>
                  <tr>
                    <td colspan="2">Free</td>
                  </tr>
                  <tr>
                    <th class="<%= namespace %>-Table_Th-sub">From Japan to Japanese Numbers</th>
                    <th class="<%= namespace %>-Table_Th-sub">From Overseas to Japanese Numbers <span class="c-Txt_Cap">*5</span></th>
                  </tr>
                  <tr>
                    <td colspan="2">Free</td>
                  </tr>
                  <tr>
                    <th class="<%= namespace %>-Table_Th-sub">From Japan to International Numbers</th>
                    <th class="<%= namespace %>-Table_Th-sub">International to International Numbers <span class="c-Txt_Cap">*5</span></th>
                  </tr>
                  <tr>
                    <td colspan="2">Country/Region Rates</td>
                  </tr>
                </tbody>
                <thead>
                  <tr>
                    <th colspan="2">Incoming Call Charges</th>
                  </tr>
                </thead>
                <tr>
                  <th class="<%= namespace %>-Table_Th-sub">In Japan</th>
                  <th class="<%= namespace %>-Table_Th-sub">Overseas</th>
                </tr>
                <tbody>
                  <tr>
                    <td colspan="2">Calls can only be received through the standard iOS phone app, not with the Rakuten Link app.<span class="c-Txt_Cap">*8</span></td>
                  </tr>
                </tbody>
              </table>
              <h4 class="c-Txt_Normal c-Txt_Emp-01 u-Adjust_Mt-32">Using Standard iOS Phone App</h4>
              <table class="c-Table_Container <%= namespace %>-Table_Detail-sp">
                <thead>
                  <tr>
                    <th>Outgoing Call Charges</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>From Japan to Japanese Numbers</th>
                  </tr>
                  <tr>
                    <td>¥20 (¥22 tax incl.)/30 sec.</td>
                  </tr>
                  <tr>
                    <th>From Overseas to Japanese Numbers</th>
                  </tr>
                  <tr>
                    <td>Country/Region Rates<span class="c-Txt_Cap">*7</span></td>
                  </tr>
                  <tr>
                    <th>From Japan to International Numbers</th>
                  </tr>
                  <tr>
                    <td>Country/Region Rates</td>
                  </tr>
                  <tr>
                    <th>From Japan to International Numbers</th>
                  </tr>
                  <tr>
                    <td>Country/Region Rates<span class="c-Txt_Cap">*7</span></td>
                  </tr>
                </tbody>
                <thead>
                  <tr>
                    <th>Incoming Call Charges</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>In Japan</th>
                  </tr>
                  <tr>
                    <td>Free</td>
                  </tr>
                  <tr>
                    <th>Overseas</th>
                  </tr>
                  <tr>
                    <td>Country/Region Rates<span class="c-Txt_Cap">*7</span></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <ul class="c-Txt_Cap u-Adjust_Mt-16">
              <li>*Calls to certain numbers, including other carriers’ connection services (starting with 0570) and specific numbers (such as 188), are not included in the free call offer.</li>
              <li>*5 With the Rakuten Link app, calls can only be made and received from countries and regions outside Japan. For calls to other areas, a Wi-Fi connection is required.</li>
              <li>*7 When using the standard iOS phone app, both incoming and outgoing calls are restricted to specific countries and regions outside Japan.</li>
              <li>*8 The Rakuten Link app does not support call reception. Please use the standard iOS phone app for receiving calls.</li>
            </ul>
            <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-24">
              <li>
                <p><a href="<%= sitepath %>service/standard-free-call/?l-id=saikyo-plan-detail-en_service_standard-free-call-02" class="c-Link_Txt-inline">Details for unlimited 15-minute standard calls<span class="c-Icon_Chevron-right"></span></a></p>
              </li>
              <li>
                <p><a href="<%= sitepath %>service/international-call/?l-id=saikyo-plan-detail-en_international-call_02" class="c-Link_Txt-inline">Details for international calls<span class="c-Icon_Chevron-right"></span></a></p>
              </li>
              <li>
                <p><a href="<%= sitepath %>service/international-unlimited-talk/?l-id=saikyo-plan-detail-en_unlimited-talk_02" class="c-Link_Txt-inline">Details for unlimited international calls<span class="c-Icon_Chevron-right"></span></a></p>
              </li>
            </ul>
          </div>

          <div class="<%= namespace %>-Table_Container" id="sms-02">
            <h2 id="ank-sms" class="c-Heading_Lv3">Texting and SMS Charges</h2>
            <h3 id="sms-android" class="c-Heading_Lv3 u-Adjust_Mt-24">Android</h3>
            <div class="<%= namespace %>-Table_Pc">
              <table class="c-Table_Container <%= namespace %>-Table_Detail <%= namespace %>-Table_Detail-01 <%= namespace %>-Table_Detail-01-color-02">
                <colgroup>
                  <col>
                  <col>
                  <col>
                  <col>
                </colgroup>
                <tr>
                  <th></th>
                  <th width="20%"></th>
                  <th width="35%" scope="col">Using Rakuten Link App</th>
                  <th width="35%" scope="col">Using Standard Android Phone App</th>
                </tr>
                <tr>
                  <th rowspan="5">SMS Sending Charges</th>
                  <th>Rakuten Rakuten Link to Rakuten Link</th>
                  <td rowspan="3">Free</td>
                  <td>-</td>
                </tr>
                <tr>
                  <th>From Japan to Japanese Numbers</th>
                  <td class="u-Adjust_Align-left">
                    1-70 chars: ¥3 (¥3.3 tax incl.)<br>
                    71-134 chars: ¥6 (¥6.6 tax incl.)<br>
                    135-201chars: ¥9 (¥9.9 tax incl.)<br>
                    202-268 chars: ¥12 (¥13.2 tax incl.)<br>
                    269-335 chars: ¥15 (¥16.5 tax incl.)<br>
                    336-402 chars: ¥18 (¥19.8 tax incl.)<br>
                    403-469 chars: ¥21 (¥23.1 tax incl.)<br>
                    470-536 chars: ¥24 (¥26.4 tax incl.)<br>
                    537-603 chars: ¥27 (¥29.7 tax incl.)<br>
                    604-670 chars: ¥30 (¥33 tax incl.)<br>
                  </td>
                </tr>
                <tr>
                  <th>From Overseas to Japanese Numbers <span class="c-Txt_Cap">*9</span></th>
                  <td class="u-Adjust_Align-left">
                    <%- /* 全角 */ include('./include/_price-by-case', { fromSend: 'overseas' }) _%>
                  </td>
                </tr>
                <tr>
                  <th>From Japan to International Numbers</th>
                  <td rowspan="2" class="u-Adjust_Align-left">
                    <ul class="c-List_Text-disc">
                      <li><a href="<%= sitepath %>service/global/overseas/en/#accordion-1" class="c-Link_Txt">Eligible Countries and Regions</a>：<span class="c-Txt_Emp-02 <%= namespace %>-Table_Normal-txt">Free</span></li>
                      <li>Other Regions (No preference for full-width or half-width characters.)<br>
                        1-70 chars: Country/Region Rates (for 1 mail)<br>
                        71-134 chars: Country/Region Rates (for 2 mails)<br>
                        135-201chars: Country/Region Rates (for 3 mails)<br>
                        202-268 chars: Country/Region Rates (for 4 mails)<br>
                        269-335 chars: Country/Region Rates (for 5 mails)<br>
                        336-402 chars: Country/Region Rates (for 6 mails)<br>
                        403-469 chars: Country/Region Rates (for 7 mails)<br>
                        470-536 chars: Country/Region Rates (for 8 mails)<br>
                        537-603 chars: Country/Region Rates (for 9 mails)<br>
                        604-670 chars: Country/Region Rates (for 10 mails)<br>
                      </li>
                    </ul>
                  </td>
                  <td class="u-Adjust_Align-left">
                    1-70 chars: Country/Region Rates (for 1 mail)<br>
                    71-134 chars: Country/Region Rates (for 2 mails)<br>
                    135-201chars: Country/Region Rates (for 3 mails)<br>
                    202-268 chars: Country/Region Rates (for 4 mails)<br>
                    269-335 chars: Country/Region Rates (for 5 mails)<br>
                    336-402 chars: Country/Region Rates (for 6 mails)<br>
                    403-469 chars: Country/Region Rates (for 7 mails)<br>
                    470-536 chars: Country/Region Rates (for 8 mails)<br>
                    537-603 chars: Country/Region Rates (for 9 mails)<br>
                    604-670 chars: Country/Region Rates (for 10 mails)<br>
                  </td>
                </tr>
                <tr>
                  <th>International to International Numbers <span class="c-Txt_Cap">*9</span></th>
                  <td class="u-Adjust_Align-left">
                    <%- /* 全角 */ include('./include/_price-by-case', { fromSend: 'overseas' }) _%>
                  </td>
                </tr>
                <tr>
                  <th rowspan="2">SMS Receiving Charges</th>
                  <th>In Japan</th>
                  <td rowspan="2">Free</td>
                  <td>Free</td>
                </tr>
                <tr>
                  <th>Overseas<span class="c-Txt_Cap">*9</span></th>
                  <td>Free<span class="c-Txt_Cap">*10</span></td>
                </tr>
              </table>
            </div>

            <div class="<%= namespace %>-Table_Sp">
              <h4 class="c-Txt_Normal c-Txt_Emp-01">Using Rakuten Link App</h4>
              <table class="c-Table_Container <%= namespace %>-Table_Detail-sp">
                <colgroup>
                  <col style="width:50%;">
                  <col style="width:50%;">
                </colgroup>
                <thead>
                  <tr>
                    <th colspan="2">SMS Sending Charges</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th colspan="2">Rakuten Link to Rakuten Link</th>
                  </tr>
                  <tr>
                    <td colspan="2">Free</td>
                  </tr>
                  <tr>
                    <th class="<%= namespace %>-Table_Th-sub">From Japan to Japanese Numbers</th>
                    <th class="<%= namespace %>-Table_Th-sub">From Overseas to Japanese Numbers<span class="c-Txt_Cap">*9</span></th>
                  </tr>
                  <tr>
                    <td colspan="2">Free</td>
                  </tr>
                  <tr>
                    <th class="<%= namespace %>-Table_Th-sub">From Japan to International Numbers</th>
                    <th class="<%= namespace %>-Table_Th-sub">International to International Numbers<span class="c-Txt_Cap">*9</span></th>
                  </tr>
                  <tr>
                    <td colspan="2" class="u-Adjust_Align-left">
                      <ul class="c-List_Text-disc <%= namespace %>-Table_Base-sp-txt-normal">
                        <li><a href="<%= sitepath %>service/global/overseas/en/#accordion-1" class="c-Link_Txt">Eligible Countries and Regions</a>：<span class="c-Txt_Emp-02">Free</span></li>
                        <li>Other Regions (No preference for full-width or half-width characters.)<br>
                          1-70 chars: Country/Region Rates (for 1 mail)<br>
                          71-134 chars: Country/Region Rates (for 2 mails)<br>
                          135-201chars: Country/Region Rates (for 3 mails)<br>
                          202-268 chars: Country/Region Rates (for 4 mails)<br>
                          269-335 chars: Country/Region Rates (for 5 mails)<br>
                          336-402 chars: Country/Region Rates (for 6 mails)<br>
                          403-469 chars: Country/Region Rates (for 7 mails)<br>
                          470-536 chars: Country/Region Rates (for 8 mails)<br>
                          537-603 chars: Country/Region Rates (for 9 mails)<br>
                          604-670 chars: Country/Region Rates (for 10 mails)</li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
                <thead>
                  <tr>
                    <th colspan="2">SMS Receiving Charges</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="<%= namespace %>-Table_Th-sub">In Japan</th>
                    <th class="<%= namespace %>-Table_Th-sub">Overseas<span class="c-Txt_Cap">*9</span></th>
                  </tr>
                  <tr>
                    <td colspan="2">Free</td>
                  </tr>
                </tbody>
              </table>
              <h4 class="u-Adjust_Mt-32">Using Standard Android Phone App</h4>
              <table class="c-Table_Container <%= namespace %>-Table_Detail-sp">
                <thead>
                  <tr>
                    <th>SMS Sending Charges</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>From Japan to Japanese Numbers</th>
                  </tr>
                  <tr>
                    <td class="u-Adjust_Align-left">
                      1-70 chars: ¥3 (¥3.3 tax incl.)<br>
                      71-134 chars: ¥6 (¥6.6 tax incl.)<br>
                      135-201chars: ¥9 (¥9.9 tax incl.)<br>
                      202-268 chars: ¥12 (¥13.2 tax incl.)<br>
                      269-335 chars: ¥15 (¥16.5 tax incl.)<br>
                      336-402 chars: ¥18 (¥19.8 tax incl.)<br>
                      403-469 chars: ¥21 (¥23.1 tax incl.)<br>
                      470-536 chars: ¥24 (¥26.4 tax incl.)<br>
                      537-603 chars: ¥27 (¥29.7 tax incl.)<br>
                      604-670 chars: ¥30 (¥33 tax incl.)<br>
                    </td>
                  </tr>
                  <tr>
                    <th>From Overseas to Japanese Numbers</th>
                  </tr>
                  <tr>
                    <td class="u-Adjust_Align-left">
                      <%- /* 全角 */ include('./include/_price-by-case', { fromSend: 'overseas' }) _%>
                    </td>
                  </tr>
                  <tr>
                    <th>From Japan to International Numbers</th>
                  </tr>
                  <tr>
                    <td class="u-Adjust_Align-left">
                      1-70 chars: Country/Region Rates (for 1 mail)<br>
                      71-134 chars: Country/Region Rates (for 2 mails)<br>
                      135-201chars: Country/Region Rates (for 3 mails)<br>
                      202-268 chars: Country/Region Rates (for 4 mails)<br>
                      269-335 chars: Country/Region Rates (for 5 mails)<br>
                      336-402 chars: Country/Region Rates (for 6 mails)<br>
                      403-469 chars: Country/Region Rates (for 7 mails)<br>
                      470-536 chars: Country/Region Rates (for 8 mails)<br>
                      537-603 chars: Country/Region Rates (for 9 mails)<br>
                      604-670 chars: Country/Region Rates (for 10 mails)
                    </td>
                  </tr>
                  <tr>
                    <th>International to International Numbers</th>
                  </tr>
                  <tr>
                    <td class="u-Adjust_Align-left">
                      <%- /* 全角 */ include('./include/_price-by-case', { fromSend: 'overseas' }) _%>
                    </td>
                  </tr>
                </tbody>
                <thead>
                  <tr>
                    <th>SMS Receiving Charges</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>In Japan</th>
                  </tr>
                  <tr>
                    <td>Free</td>
                  </tr>
                  <tr>
                    <th>Overseas</th>
                  </tr>
                  <tr>
                    <td>Free<span class="c-Txt_Cap">*10</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <ul class="c-Txt_Cap u-Adjust_Mt-16">
              <li>*9 Using Rakuten Link app, sending and receiving messages is only possible in eligible countries and regions outside Japan.</li>
              <li>*10 With the standard Android Messaging app, receiving messages is restricted to eligible countries and regions outside Japan.
              </li>
              <li>*For price details, <a href="<%= sitepath %>guide/international-sms/#japan" class="c-Link_Txt">click here</a> for domestic use and <a href="<%= sitepath %>guide/international-sms/overseas/#global" class="c-Link_Txt">here</a> for international use.</li>
            </ul>
            <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-24">
              <li>
                <p><a href="<%= sitepath %>service/standard-free-call/?l-id=saikyo-plan-detail-en_service_standard-free-call-03" class="c-Link_Txt-inline">Details for unlimited 15-minute standard calls<span class="c-Icon_Chevron-right"></span></a></p>
              </li>
              <li>
                <p><a href="<%= sitepath %>service/international-sms/?l-id=saikyo-plan-detail-en_international-sms_01" class="c-Link_Txt-inline">Details for international SMS	<span class="c-Icon_Chevron-right"></span></a></p>
              </li>
            </ul>

            <h3 id="sms-ios" class="c-Heading_Lv3 u-Adjust_Mt-24">iOS</h3>
            <div class="<%= namespace %>-Table_Pc">
              <table class="c-Table_Container <%= namespace %>-Table_Detail <%= namespace %>-Table_Detail-01 <%= namespace %>-Table_Detail-01-color-02">
                <colgroup>
                  <col>
                  <col>
                  <col>
                  <col>
                </colgroup>
                <tr>
                  <th></th>
                  <th width="20%"></th>
                  <th width="35%" scope="col">Using Rakuten Link App</th>
                  <th width="35%" scope="col">Using Standard iOS Phone App</th>
                </tr>
                <tr>
                  <th rowspan="5">SMS Sending Charges</th>
                  <th>Rakuten Link to Rakuten Link</th>
                  <td>Free</td>
                  <td>-</td>
                </tr>
                <tr>
                  <th>From Japan to Japanese Numbers</th>
                  <td rowspan="6">Messages can only be sent or received through the standard iOS phone app, not with the Rakuten Link app.</td>
                  <td class="u-Adjust_Align-left">
                    1-70 chars: ¥3 (¥3.3 tax incl.)<br>
                    71-134 chars: ¥6 (¥6.6 tax incl.)<br>
                    135-201chars: ¥9 (¥9.9 tax incl.)<br>
                    202-268 chars: ¥12 (¥13.2 tax incl.)<br>
                    269-335 chars: ¥15 (¥16.5 tax incl.)<br>
                    336-402 chars: ¥18 (¥19.8 tax incl.)<br>
                    403-469 chars: ¥21 (¥23.1 tax incl.)<br>
                    470-536 chars: ¥24 (¥26.4 tax incl.)<br>
                    537-603 chars: ¥27 (¥29.7 tax incl.)<br>
                    604-670 chars: ¥30 (¥33 tax incl.)<br>
                  </td>
                </tr>
                <tr>
                  <th>From Overseas to Japanese Numbers<span class="c-Txt_Cap">*9</span></th>
                  <td class="u-Adjust_Align-left">
                    <%- /* 全角 */ include('./include/_price-by-case', { fromSend: 'overseas' }) _%>
                  </td>
                </tr>
                <tr>
                  <th>From Japan to International Numbers</th>
                  <td class="u-Adjust_Align-left">
                    <%- /* 全角 */ include('./include/_price-by-case', { fromSend: 'overseas' }) _%>
                  </td>
                </tr>
                <tr>
                  <th>International to International Numbers</th>
                  <td class="u-Adjust_Align-left">
                    <%- /* 全角 */ include('./include/_price-by-case', { fromSend: 'overseas' }) _%>
                  </td>
                </tr>
                <tr>
                  <th rowspan="2">SMS Receiving Charges</th>
                  <th>In Japan</th>
                  <td>Free</td>
                </tr>
                <tr>
                  <th>Overseas</th>
                  <td>Free<span class="c-Txt_Cap">*11</span></td>
                </tr>
              </table>
            </div>

            <div class="<%= namespace %>-Table_Sp">
              <h4 class="c-Txt_Normal c-Txt_Emp-01">Using Rakuten Link App</h4>
              <table class="c-Table_Container <%= namespace %>-Table_Detail-sp">
                <colgroup>
                  <col style="width:50%;">
                  <col style="width:50%;">
                </colgroup>
                <thead>
                  <tr>
                    <th colspan="2">SMS Sending Charges</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th colspan="2">Rakuten Link to Rakuten Link</th>
                  </tr>
                  <tr>
                    <td colspan="2">Free</td>
                  </tr>
                  <tr>
                    <th class="<%= namespace %>-Table_Th-sub">From Japan to Japanese Numbers</th>
                    <th class="<%= namespace %>-Table_Th-sub">From Overseas to Japanese Numbers</th>
                  </tr>
                  <tr>
                    <td colspan="2">Messages can only be sent or received through the standard iOS phone app, not with the Rakuten Link app.</td>
                  </tr>
                  <tr>
                    <th class="<%= namespace %>-Table_Th-sub">From Japan to International Numbers</th>
                    <th class="<%= namespace %>-Table_Th-sub">International to International Numbers</th>
                  </tr>
                  <tr>
                    <td colspan="2">Messages can only be sent or received through the standard iOS phone app, not with the Rakuten Link app.</td>
                  </tr>
                </tbody>
                <thead>
                  <tr>
                    <th colspan="2">SMS Receiving Charges</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="<%= namespace %>-Table_Th-sub">In Japan</th>
                    <th class="<%= namespace %>-Table_Th-sub">Overseas</th>
                  </tr>
                  <tr>
                    <td colspan="2">Messages can only be sent or received through the standard iOS phone app, not with the Rakuten Link app.</td>
                  </tr>
                </tbody>
              </table>
              <h4 class="u-Adjust_Mt-32">Using Standard iOS Messaging App</h4>
              <table class="c-Table_Container <%= namespace %>-Table_Detail-sp">
                <thead>
                  <tr>
                    <th>SMS Sending Charges</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>From Japan to Japanese Numbers</th>
                  </tr>
                  <tr>
                    <td class="u-Adjust_Align-left">
                      1-70 chars: ¥3 (¥3.3 tax incl.)<br>
                      71-134 chars: ¥6 (¥6.6 tax incl.)<br>
                      135-201chars: ¥9 (¥9.9 tax incl.)<br>
                      202-268 chars: ¥12 (¥13.2 tax incl.)<br>
                      269-335 chars: ¥15 (¥16.5 tax incl.)<br>
                      336-402 chars: ¥18 (¥19.8 tax incl.)<br>
                      403-469 chars: ¥21 (¥23.1 tax incl.)<br>
                      470-536 chars: ¥24 (¥26.4 tax incl.)<br>
                      537-603 chars: ¥27 (¥29.7 tax incl.)<br>
                      604-670 chars: ¥30 (¥33 tax incl.)<br>
                    </td>
                  </tr>
                  <tr>
                    <th>From Overseas to Japanese Numbers</th>
                  </tr>
                  <tr>
                    <td class="u-Adjust_Align-left">
                      <%- /* 全角 */ include('./include/_price-by-case', { fromSend: 'overseas' }) _%>
                    </td>
                  </tr>
                  <tr>
                    <th>From Japan to International Numbers</th>
                  </tr>
                  <tr>
                    <td class="u-Adjust_Align-left">
                      1-70 chars: Country/Region Rates (for 1 mail)<br>
                      71-134 chars: Country/Region Rates (for 2 mails)<br>
                      135-201chars: Country/Region Rates (for 3 mails)<br>
                      202-268 chars: Country/Region Rates (for 4 mails)<br>
                      269-335 chars: Country/Region Rates (for 5 mails)<br>
                      336-402 chars: Country/Region Rates (for 6 mails)<br>
                      403-469 chars: Country/Region Rates (for 7 mails)<br>
                      470-536 chars: Country/Region Rates (for 8 mails)<br>
                      537-603 chars: Country/Region Rates (for 9 mails)<br>
                      604-670 chars: Country/Region Rates (for 10 mails)
                    </td>
                  </tr>
                  <tr>
                    <th>International to International Numbers</th>
                  </tr>
                  <tr>
                    <td class="u-Adjust_Align-left">
                      <%- /* 全角 */ include('./include/_price-by-case', { fromSend: 'overseas' }) _%>
                    </td>
                  </tr>
                </tbody>
                <thead>
                  <tr>
                    <th>SMS Receiving Charges</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>In Japan</th>
                  </tr>
                  <tr>
                    <td>Free</td>
                  </tr>
                  <tr>
                    <th>Overseas</th>
                  </tr>
                  <tr>
                    <td>Free<span class="c-Txt_Cap">*11</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <ul class="c-Txt_Cap u-Adjust_Mt-16">
              <li>*11 With the standard Android Messaging app, receiving messages is restricted to eligible countries and regions outside Japan.</li>
              <li>*For price details, <a href="<%= sitepath %>guide/international-sms/#japan" class="c-Link_Txt">click here</a> for domestic use and <a href="<%= sitepath %>guide/international-sms/overseas/#global" class="c-Link_Txt">here</a> for international use.</li>
            </ul>
            <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-24">
              <li>
                <p><a href="<%= sitepath %>service/standard-free-call/?l-id=saikyo-plan-detail-en_service_standard-free-call-04" class="c-Link_Txt-inline">Details for unlimited 15-minute standard calls<span class="c-Icon_Chevron-right"></span></a></p>
              </li>
              <li>
                <p><a href="<%= sitepath %>service/international-sms/?l-id=saikyo-plan-detail-en_international-sms_02" class="c-Link_Txt-inline">Details for international SMS	<span class="c-Icon_Chevron-right"></span></a></p>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="u-Adjust_Align-center u-Adjust_Mt-56">
      <div class="l-System_Container">
        <a href="<%= sitepath %>fee/saikyo-plan/en/?l-id=saikyo-plan-detail-en_fee_saikyo-plan-en" class="c-Btn_Regular"><span>Go Back to Rakuten SAIKYO Plan page</span></a>
      </div>
    </div>

    <div class="l-System_Container u-Adjust_Mt-40 u-Adjust_Pb-24">
      <div class="u-Adjust_Align-center">
        <h2 class="c-Heading_Lv2">Campaigns & Recommendations</h2>
        <p class="c-Txt_Cap">*Japanese only</p>
      </div>
      <div class="c-Carousel js-Carousel-multi u-Adjust_Mt-24">
        <%- include('/include/_bnr-cpn-recommend-bnr') %>
      </div>
      <div class="c-Carousel_Nav-v2-wrap">
        <div class="c-Carousel_Nav-v2"></div>
        <div class="c-Carousel_Nav-v2-bar"></div>
      </div>
    </div>

    <div class="<%= namespace %>-Cta_Apply-bottom <%= namespace %>-Cta_Apply-fee-un-limit" id="js-fixed-btn" aria-expanded="false">
      <div class="l-System_Container">
        <ul class="<%= namespace %>-Cta_Apply">
          <li>
            <a href="https://onboarding.mobile.rakuten.co.jp/?l-id=fee_saikyo-plan-detail_en_footer_onb&locale=en" class="c-Btn_Primary fee-Utility_Btn">
              <span>Apply Here (New/MNP Transfer)</span>
            </a>
          </li>
          <li>
            <a href="<%= sitepath %>shop/en/?l-id=fee_saikyo-plan-detail-en_floating_shop_en" class="c-Btn_Secondly fee-Utility_Btn">
              <span class="<%= namespace %>-Cta_Apply-sub-text">
                Find a Shop Near You
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <footer class="g-Footer">

      <div class="g-Footer_Aside">

        <%- include('/include/footer/bnr/_bnr-news.ejs') %>

      </div>

      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>

      <%- include('/include/_footer') %>

    </footer>

  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <script src="<%= sitepath %>assets/js/fee.saikyo-plan-detail.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>

</body>

</html>
