<% const pagetitle = "楽天モバイル 楽天回線の電波がつながりにくいお客様へ" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}] -%>
<% const namespace = "support-substitute" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '',
    noindex: true,
    pathname: filepath
  });
%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/support/substitute/substitute.css?20240424">
<%- include('/include/_append-head', {messaging: true}) %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= namespace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
    <div id="paramFalse" class="<%= namespace %>-Form_Next u-Adjust_Pt-32" aria-hidden="true">
      <p>URLが無効です。メール「【楽天モバイル】楽天回線の電波がつながりにくいお客様へ」に記載のURLをもう一度ご確認のうえアクセスしてください。</p>
      <div class="u-Adjust_Align-center u-Adjust_Mt-16">
        <a class="c-Btn_Regular-half u-Adjust_Mt-32" href="<%= sitepath %>">楽天モバイルトップへ</a>
      </div>
    </div>
    <div id="paramTrue" class="<%= namespace %>-Form_Next u-Adjust_Pt-48" aria-hidden="true">
      <p>
        ご申告いただきました事象は、お客様のご利用地域がパートナー回線エリアから楽天回線エリアへ移行した際のエリア差分により、発生した可能性がございます。お客様にご不便をおかけしておりますことを、深くお詫び申し上げます。
      </p>
      <p class="u-Adjust_Mt-16">
        応急対策として楽天モバイル（ドコモ回線）をご利用いただける代用機の貸出を行っております。<br>
        貸出ご希望のお客様は、大変お手数ではございますが、下記にて「代用機」をご選択のうえ、お進みください。
      </p>
      <p class="u-Adjust_Mt-16">
        また改めてのご案内にはなりますが、ご契約住所内でお困りの場合、ご自宅のインターネット回線に接続して小さな楽天回線エリアを作り出す、屋内専用の小型基地局「<a href="<%= sitepath %>area/rakuten-casa/" target="_blank" class="c-Link_Txt-inline-icon">Rakuten Casa<span class="c-Icon_New-window-l"></span></a>」の設置も再度ご検討いただけますと幸いです。「Rakuten Casa」設置ご希望の場合には、下記にて「Rakuten Casa」をご選択のうえ、お進みください。
      </p>

      <h2 class="c-Heading_Lv2 u-Adjust_Mt-40">ご案内希望</h2>
      <p class="u-Adjust_Mt-16">どちらのご案内をご希望でしょうか。</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※どちらか一方のみご案内・お貸出し可能となっております。あらかじめご了承ください。</p>

      <div class="<%= namespace %>-Layout_Radio-col">
        <div>
          <label class="c-Form_Radioblock">
            <input type="radio" name="select_info" id="" value="代用機" autocomplete="off">
            <span class="c-Form_Radioblock-wrap <%= namespace %>-Layout_Radio-width">
              <span class="c-Form_Radio-icon"></span><span class="c-Form_Radioblock-label <%= namespace %>-Layout_Radio-width">代用機<span class="c-Txt_Normal-s">※</span></span>
            </span>
          </label>
        </div>
        <p class="c-Txt_Cap u-Adjust_Mt-8">
          ※お貸出の代用機の電話番号と、現在楽天回線でご契約いただいている電話番号は<span class="c-Txt_Emp-02">異なります</span>。あらかじめご了承ください。
        </p>
        <div>
          <label class="c-Form_Radioblock">
            <input type="radio" name="select_info" id="" value="Rakuten Casa" autocomplete="off">
            <span class="c-Form_Radioblock-wrap <%= namespace %>-Layout_Radio-width">
              <span class="c-Form_Radio-icon"></span><span class="c-Form_Radioblock-label <%= namespace %>-Layout_Radio-width">Rakuten Casa</span>
            </span>
          </label>
        </div>
      </div>
      <p class="u-Adjust_Mt-16">
        また、お客様よりご申告いただきました情報を元に、電波状況の調査・改善に着手しております。<br>
        代用機およびRakuten Casaの貸出を希望されない場合、電波状況が改善されるまで、お待ちいただきますようお願い申し上げます。
      </p>

      <section class="<%= namespace %>-Layout_Section" id="js-select-casa" aria-hidden="true">
        <h2 class="c-Heading_Lv3 u-Adjust_Mt-40">Rakuten Casa希望の場合</h2>
        <p class="u-Adjust_Mt-16">
          Rakuten Casaご案内希望を承ります。<br>
          下記よりお申し込み条件をご確認の上、申し込みにお進みください。お客様の環境によっては、導入できない可能性もございます。あらかじめご了承ください。
        </p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= sitepath %>product/internet/rakuten-casa/" class="c-Btn_Regular-large"><span>Rakuten Casaのご案内</span></a>
        </div>

      </section>

      <section class="<%= namespace %>-Layout_Section" id="js-select-device" aria-hidden="true">
        <h2 class="c-Heading_Lv3 u-Adjust_Mt-40">代用機貸出の希望の場合</h2>
        <p class="u-Adjust_Mt-16">
          代用機ご案内希望を承ります。<br>
          大変お手数ではございますが、以下項目のご入力をお願いいたします。<br>
          ご入力いただいた内容とmy 楽天モバイルにご登録の内容に相違があった場合は、大変申し訳ありませんが代用機の貸出はできかねます。あらかじめご了承ください。
        </p>
        <p class="u-Adjust_Mt-16">
          現在のご登録情報は「<a href="https://portal.mobile.rakuten.co.jp/dashboard#plans" target="_blank" rel="noopener" class="c-Link_Txt-inline-icon">my 楽天モバイル<span class="c-Icon_New-window-l"></span></a>」でご確認ください。<br>
        </p>

        <form id="js-substitute_Form" action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST">
        <!-- <form id="js-substitute_Form" action="https://dp0000000dthaeas--denpa.my.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST"> -->
          <input type="hidden" name="recordType" value="0120I000001Dmn0">
          <input type="hidden" name="00N2800000C8tB3" value="楽天回線お問い合せご要望">
          <input type="hidden" name="subject" value="MNO代用機貸し出しフォーム">
          <!-- <input type="hidden" name="orgid" value="00D28000000cT0x"> -->
          <input type="hidden" name="orgid" value="00D28000000cT0x">
          <input type="hidden" id="00N2u000000P1gm" name="00N2u000000P1gm" value="0">
          <input type="hidden" name="retURL" value="https://network.mobile.rakuten.co.jp/support/substitute-mail/thanks.html">

          <div class="c-Accordion u-Adjust_Mt-32">
            <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>お手続きの流れ</button>
            <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="false">
              <ol class="c-List_Ordered">
                <li>本フォームの送信（お客様）</li>
                <li>
                  送信内容の確認（弊社）<br>
                  <span class="c-Txt_Cap">※本人確認の内容とご契約者情報の確認を実施</span>
                </li>
                <li>
                  代用機貸出処理完了のご連絡<br>
                  <span class="c-Txt_Cap">※5営業日以上ご連絡のない場合は「<a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Link_Txt-inline-icon" target="_blank">my 楽天モバイル<span class="c-Icon_New-window-l"></span></a>」アプリよりチャットでお問い合わせください</span>
                </li>
              </ol>
            </div>
          </div>

          <p class="u-Adjust_Mt-32"><a href="#modal1" class="js-Modal c-Link_Txt-icon-front"><span class="c-Icon_Zoom-in-l"></span>ご契約情報の確認方法はこちら</a></p>
          <div id="modal1" style="display:none;">
            <div>
              <h2 class="c-Txt_Normal-ll">ご契約情報の確認</h2>
              <p class="u-Adjust_Mt-24">ご準備いただくものはそれぞれ下記より確認いただけます。</p>
              <ol class="c-List_Ordered u-Adjust_Mt-24">
                <li>ご契約電話番号</li>
                <li>楽天モバイルID</li>
                <li>ご契約住所</li>
                <li>ご契約者氏名</li>
                <li>ご契約者生年月日</li>
              </ol>
              <div class="u-Adjust_Mt-24">
                <div>
                  <a href="<%= sitepath %>my-rakuten-mobile/" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">my 楽天モバイルにログインする<span class="c-Icon_New-window-l"></span></a>
                </div>
                <div class="u-Adjust_Mt-16">
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/inquiry/img-info-login.png" width="600" height="436">
                    <img src="<%= sitepath %>assets/img/support/substitute/img-info-login.png" width="300" height="218" alt="my 楽天モバイルにログインする" style="border: 1px solid #e0e0e0;">
                  </picture>
                </div>
              </div>
              <div class="u-Adjust_Mt-48">
                <div>
                  <a href="https://portal.mobile.rakuten.co.jp/dashboard#contracts" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">ご契約内容の案内をダウンロードする<span class="c-Icon_New-window-l"></span></a>
                </div>
                <p class="u-Adjust_Mt-16">「ご契約内容のダウンロード」より下図のようなご契約内容を参照できます。</p>
                <div class="u-Adjust_Mt-16">
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/support/substitute/img-info-download.png" width="600" height="231">
                    <img src="<%= sitepath %>assets/img/support/substitute/img-info-download.png" width="300" height="216" alt="ご契約内容のダウンロード" style="border: 1px solid #e0e0e0;">
                  </picture>
                </div>
              </div>
              <div class="u-Adjust_Mt-48">
                <div>
                  <a href="https://portal.mobile.rakuten.co.jp/dashboard?scrollTo=contactInfo#personal-info" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">契約者情報を確認する<span class="c-Icon_New-window-l"></span></a>
                </div>
                <div class="u-Adjust_Mt-16">
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/support/substitute/img-info-personal.png" width="600" height="802">
                    <img src="<%= sitepath %>assets/img/support/substitute/img-info-personal.png" width="300" height="401" alt="契約者情報を確認する" style="border: 1px solid #e0e0e0;">
                  </picture>
                </div>
              </div>
            </div>
          </div>

          <dl class="c-Form_List u-Adjust_Mt-32">
            <div class="<%= namespace %>-Form_Item-area js-substitute_Item-area">
              <dt>お貸出し方法<span class="c-Form_List-required">必須</span></dt>
              <dd>
                <p id="err-required_00N2u000000jNq0" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
                <div>
                  <label class="c-Form_Radio">
                    <input type="radio" name="00N2u000000jNq0" id="" value="SIMのみ" aria-required="true" data-validate="required" autocomplete="off">
                    <span class="c-Form_Radio-icon"></span><span class="c-Form_Radio-label">SIMのみ</span>
                  </label>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">
                    ※ご自身の端末にSIMを挿入し、ご利用ください。お持ちの端末が楽天モバイル（ドコモ回線）のSIMに対応しているか<a href="https://mobile.rakuten.co.jp/device/?l-id=support_substitute_device" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener">こちら<span class="c-Icon_New-window-l"></span></a>よりご確認ください。
                  </p>
                </div>
                <div class="u-Adjust_Mt-16">
                  <label class="c-Form_Radio">
                    <input type="radio" name="00N2u000000jNq0" id="" value="代用機（SIM挿入済み）" aria-required="true" data-validate="required" autocomplete="off">
                    <span class="c-Form_Radio-icon"></span><span class="c-Form_Radio-label">代用機（SIM挿入済み）</span>
                  </label>
                </div>
              </dd>
            </div>
            <div class="<%= namespace %>-Form_Item-area js-substitute_Item-area">
              <dt>楽天モバイルID<span class="c-Form_List-required">必須</span></dt>
              <dd>
                <p class="c-Txt_Cap u-Adjust_Mb-16">
                  ※20から始まる13桁の数字を入力してください
                </p>
                <p id="err-required_00N2u000000PsQI" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
                <p id="err-numeric_00N2u000000PsQI" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">半角数字で入力してください</p>
                <p id="err-length_00N2u000000PsQI" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">正しい番号を入力してください</p>
                <input class="c-Form_Input" minlength="13" maxlength="13" name="00N2u000000PsQI" size="20" type="text" placeholder="例）20XXXXXXXXXXX" aria-required="true" data-validate="required length numeric" autocomplete="off">
              </dd>
              <input id="00N2u000000PsQD" maxlength="8" name="00N2u000000PsQD" size="8" type="text" style="display: none;">
            </div>

          </dl>

          <h3 class="c-Heading_Lv3 u-Adjust_Mt-32">免責事項</h3>
          <p class="u-Adjust_Mt-16 u-Adjust_Mb-32">代用機貸出は、以下事項をご確認のうえ同意いただいた方のみお申し込みいただけます。</p>
          <ul class="c-List_Text-disc u-Adjust_Mt-16">
            <li>代用機のご利用は、ご申告されたご本人のみとなります。</li>
            <li>ご申告情報を元に、ご契約状況の確認をさせていただきます。</li>
            <li>ご利用途中で代用機やSIMの破損および紛失が発生した場合、交換は致しかねます。</li>
            <li>代用機の返却タイミングは、弊社にて判断させていただきます。</li>
            <li>弊社より代用機返却をお客様へ求めた場合は速やかに返却いただく必要があります。</li>
            <li>代用機ではデータチャージを含むオプションサービスはご利用できません。</li>
            <li>お客様の携帯電話から代用機へ着信転送を行った際に発生する料金はお客様へ請求を行わせていただきます。</li>
            <li>その他、利用条件等は下記の「楽天モバイル端末貸与プログラム説明書」をよくお読みになり、理解いただいたうえでご利用ください。</li>
            <br>
            <p class="u-Adjust_Mt-16">以下の場合にはお貸し出しできかねますので、あらかじめご了承ください。</p>
            <li>ご契約確認が取れない場合</li>
            <li>既に代用機のお貸し出しをし、現時点でご利用中であることが確認された場合</li>
            <li>弊社にてお貸し出し困難と判断した場合</li>
            <br>
            <p class="u-Adjust_Mt-16">以下の場合、違約金が発生する可能性がございます。</p>
            <li>代用機を破損、紛失した場合</li>
            <li>代用機を売却または第三者へ貸与および譲渡した場合</li>
            <li>弊社より返却を求め、それに一定期間応じていただけなかった場合</li>
            <p class="u-Adjust_Mt-16">※弊社にて代用機のご返却が確認できない場合も上記に含みます。</p>
          </ul>
          <label class="c-Form_Checkbox u-Adjust_Mt-40">
            <input type="checkbox" name="agree" id="" value="" autocomplete="off">
            <span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">免責事項を確認しました</span>
          </label>

          <h3 class="c-Heading_Lv3 u-Adjust_Mt-48">重要事項説明書</h3>
          <div class="u-Adjust_Mt-16">
            <%- include('/include/support/substitute/_important-text') %>
          </div>

          <label class="c-Form_Checkbox u-Adjust_Mt-16">
            <input type="checkbox" name="agree" id="" value="" autocomplete="off">
            <span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">重要事項説明書を確認しました</span>
          </label>

          <h3 class="c-Heading_Lv3 u-Adjust_Mt-48">個人情報の取扱いについて</h3>
          <p class="u-Adjust_Mt-16">「<a href="https://corp.mobile.rakuten.co.jp/guide/privacy/" target="_blank" rel="noopener" class="c-Link_Txt-inline-icon">個人情報の取扱いについて<span class="c-Icon_New-window-l"></span></a>」をご確認いただき、同意される場合は下記のチェックボタンをチェックしてください。</p>
          <label class="c-Form_Checkbox u-Adjust_Mt-16">
            <input type="checkbox" name="agree" id="" value="" autocomplete="off">
            <span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">個人情報の取扱いに同意します</span>
          </label>
          <p class="c-Txt_Cap u-Adjust_Mt-40">
            お申し込みは1回のみ受付いたします。複数回お申し込みいただきましてもお貸出し方法の変更はお受けしかねますので、ご了承ください。
          </p>
          <div class="u-Adjust_Align-center u-Adjust_Mt-24">
            <button type="button" id="js-substitute_Confirm" disabled class="c-Btn_Secondly-large" aria-disabled="true"><span>入力内容を確認する</span></button>
          </div>

          <div class="u-Adjust_Align-center u-Adjust_Mt-16">
            <button type="button" class="js-substitute_Back c-Btn_Regular-large" aria-disabled="false"><span>戻る</span></button>
          </div>

          <p class="c-Txt_Cap u-Adjust_Mt-16">
            ※「代用機貸出の希望の確認」「免責事項」「重要事項説明書」「個人情報の取扱いについて」のチェックボックスにチェックする必要があります。
          </p>

          <div id="modal-confirm" style="display:none;">
            <h2 class="c-Heading_Lv3 u-Adjust_Mb-32">入力内容の確認</h2>
            <dl class="c-Form_List-confirm">
              <div class="<%= namespace %>-Form_Item-area js-substitute_Item-area">
                <dt>お貸出し方法</dt>
                <dd><p id="disp-00N2u000000jNq0" class="u-Adjust_Txt-break"></p></dd>
              </div>
              <div class="<%= namespace %>-Form_Item-area js-substitute_Item-area">
                <dt>楽天モバイルID</dt>
                <dd><p id="disp-00N2u000000PsQI" class="u-Adjust_Txt-break"></p></dd>
              </div>
            </dl>
            <div class="u-Adjust_Align-center u-Adjust_Mt-40">
              <button type="button" id="js-substitute_Submit" class="c-Btn_Primary-large"><span>この内容で送信する</span></button>
            </div>
            <div class="u-Adjust_Align-center u-Adjust_Mt-16">
              <button type="button" id="js-substitute_Confirm-close" class="c-Btn_Regular-large"><span>修正する</span></button>
            </div>
          </div>
        </form>
      </section>
    </div>

 </div>
</div>



<footer class="g-Footer">

  <div class="g-Footer_Aside">
    <%- include('/include/footer/bnr/_bnr.ejs') %>
  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<script src="<%= sitepath %>assets/js/library/jquery-3.5.0.min.js"></script>
<script src="<%= sitepath %>assets/js/common.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/vendor.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/search.common.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/support.substitute-mail.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
