<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "開通通知発行のお申し込み" -%>
<% const directories = [{path: hikariroot.path + "inquiry/", label:"お問い合わせ"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天ひかりの開通通知発行のお申し込みのメールフォームはこちらです。',
    noindex: false,
    pathname: filepath,
    ishikari: true,
  });
%>
<%- include('/include/hikari/_common-v2-hikari-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/inquiry/form/consult/consult.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/inquiry/form/reissuance/reissuance.css?20240424">
<%- include('/include/_append-head-hikari') %>

<style>
  #00N2v00000JLl9w[aria-invalid=true] + .c-Icon_Check {
    border-color: #ff4747;
    background-color: #fff0f0;
    color: #fff0f0;
  }
</style>

</head>
<body>

<%- include('/include/_prepend-body-hikari') %>

<div class="l-System">
  <%- include('/hikari/include/_header', { headerType: 'normal', pagetitle: pagetitle, directories: directories, tax: false }) %>
  <div class="l-hikari-Section_Main">
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
      <p class="u-Adjust_Mt-24">
        開通通知（ご契約内容、アカウントのお知らせ）を書面でお求めの場合、必要事項をご入力のうえ、お申し込みください。お申し込み後1週間～10日ほどで、ご契約の住所に郵送します。<br>
        <span class="c-Txt_Emp">紛失された場合の再発行は「アカウントのお知らせ」のみ発送いたします。</span>
      </p>
      <p class="u-Adjust_Mt-8">メンバーズステーションへのログイン、ルーター設定のため、すぐにユーザーID、パスワードを確認したい場合は「ユーザーIDの確認、パスワードの再設定」からご確認いただけます。</p>
      <div class="u-Adjust_Mt-16">
        <a href="https://secure3.gol.com/pwreset/rbb/" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">ユーザーIDの確認、パスワードの再設定を見る<span class="c-Icon_New-window-l"></span></a>
      </div>


      <form id="js-hikari-inquiry_Form" action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST" class="u-Adjust_Mt-48">
      <!-- <form id="js-hikari-inquiry_Form" action="" method="POST"> -->
        <input type=hidden name="orgid" value="00D2v000001WJL6">
        <input type=hidden name="recordType" value="0122v000001QuQc">
        <input type=hidden name="subject" value="楽天ひかり 開通通知発行のお申し込み">
        <input type=hidden name="00N2v00000JLlAZ" value="楽天ひかり">
        <input type=hidden name="retURL" value="https://network.mobile.rakuten.co.jp/hikari/inquiry/form/reissuance/completion/">


          <dl id="js-hikari-inquiry_Form-top" class="c-Form_List u-Adjust_Mt-24">
            <div>
              <dt>ご契約者様 氏名<span class="c-Form_List-required">必須</span></dt>
              <dd class="">
                <div><input id="00N2v00000JLlAA" name="00N2v00000JLlAA" class="c-Form_Input js-required" maxlength="40" size="20" type="text" placeholder="例：楽天太郎" autocomplete="off"></div>
              </dd>
            </div>
            <div>
              <dt>ユーザーID<!--<span style="font-weight: bold;color: #4D4D4D;margin-left: 12px;font-size: 13px">任意</span>--></dt>
              <dd class="">
                <div><input id="00N2v00000JLlAd" name="00N2v00000JLlAd" class="c-Form_Input" maxlength="13" size="20" type="text" placeholder="例：ra12345678901" autocomplete="off"></div>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">
                  ※ユーザーIDはraから始まる13桁の番号です。<br>
                  ※複数のご契約がある場合には再発行したいアカウントのユーザーIDを入力してください。
                </p>
              </dd>
            </div>
            <div>
              <dt>お客様番号<!--<span style="font-weight: bold;color: #4D4D4D;margin-left: 12px;font-size: 13px">任意</span>--></dt>
              <dd>
                <input id="00N2v00000JLlA2" name="00N2v00000JLlA2" class="c-Form_Input" maxlength="11" size="20" type="text" placeholder="例：20012345678" autocomplete="off">
                <p class="u-Adjust_Mt-8 c-Txt_Cap">
                  ※お客様番号は200から始まる11桁の番号です。<br>
                  ※複数のご契約がある場合には再発行したいアカウントのお客様番号を入力してください。
                </p>
              </dd>
            </div>
            <div>
              <dt>郵便番号<span class="c-Form_List-required">必須</span></dt>
              <dd>
                <div class="inquiry-Form_Auxiliary">
                  <input id="00N2v00000JLlAI" name="00N2v00000JLlAI" class="c-Form_Input js-required hikari-inquiry-form-reissuance-Form_Auxiliary-item u-Adjust_W-160 js-hikari-inquiry_Zip2addr" maxlength="8" size="20" type="text" placeholder="例：1234567">
                </div>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">
                  ※郵便番号の入力で「都道府県・市区町村」は自動で入力されます。
                </p>
              </dd>
            </div>
            <div>
              <dt>都道府県<span class="c-Form_List-required">必須</span></dt>
              <dd>
                <div class="c-Form_Select">
                  <select id="00N2v00000JLlAb" name="00N2v00000JLlAb" size="1" autocomplete="off" class="js-required hikari-inquiry-form-reissuance-Form_Select">
                    <option value="">選択してください</option>
                    <option value="北海道">北海道</option>
                    <option value="青森県">青森県</option>
                    <option value="岩手県">岩手県</option>
                    <option value="宮城県">宮城県</option>
                    <option value="秋田県">秋田県</option>
                    <option value="山形県">山形県</option>
                    <option value="福島県">福島県</option>
                    <option value="茨城県">茨城県</option>
                    <option value="栃木県">栃木県</option>
                    <option value="群馬県">群馬県</option>
                    <option value="埼玉県">埼玉県</option>
                    <option value="千葉県">千葉県</option>
                    <option value="東京都">東京都</option>
                    <option value="神奈川県">神奈川県</option>
                    <option value="新潟県">新潟県</option>
                    <option value="富山県">富山県</option>
                    <option value="石川県">石川県</option>
                    <option value="福井県">福井県</option>
                    <option value="山梨県">山梨県</option>
                    <option value="長野県">長野県</option>
                    <option value="岐阜県">岐阜県</option>
                    <option value="静岡県">静岡県</option>
                    <option value="愛知県">愛知県</option>
                    <option value="三重県">三重県</option>
                    <option value="滋賀県">滋賀県</option>
                    <option value="京都府">京都府</option>
                    <option value="大阪府">大阪府</option>
                    <option value="兵庫県">兵庫県</option>
                    <option value="奈良県">奈良県</option>
                    <option value="和歌山県">和歌山県</option>
                    <option value="鳥取県">鳥取県</option>
                    <option value="島根県">島根県</option>
                    <option value="岡山県">岡山県</option>
                    <option value="広島県">広島県</option>
                    <option value="山口県">山口県</option>
                    <option value="徳島県">徳島県</option>
                    <option value="香川県">香川県</option>
                    <option value="愛媛県">愛媛県</option>
                    <option value="高知県">高知県</option>
                    <option value="福岡県">福岡県</option>
                    <option value="佐賀県">佐賀県</option>
                    <option value="長崎県">長崎県</option>
                    <option value="熊本県">熊本県</option>
                    <option value="大分県">大分県</option>
                    <option value="宮崎県">宮崎県</option>
                    <option value="鹿児島県">鹿児島県</option>
                    <option value="沖縄県">沖縄県</option>
                    <option value="海外">海外</option>
                  </select>
                  <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
                </div>
              </dd>
            </div>
            <div>
              <dt>現在ご契約の住所<span class="c-Form_List-required">必須</span></dt>
              <dd>
                <input id="00N2v00000JLl9z" name="00N2v00000JLl9z" class="c-Form_Input js-required" size="20" type="text" placeholder="例：世田谷区玉川一丁目14番1号　楽天クリムゾンハウス" autocomplete="off">
                <p class="u-Adjust_Mt-8 c-Txt_Cap">
                  ※ご契約の住所に合わせて、番地、建物名まで入力してください。
                </p>
              </dd>
            </div>
            <div>
              <dt>ご契約の電話番号<span class="c-Form_List-required">必須</span></dt>
              <dd>
                <input id="phone" name="phone" class="c-Form_Input js-required js-chkfixedline" maxlength="13" size="20" type="text" placeholder="例：0312345678" autocomplete="off">
                <p class="u-Adjust_Mt-8 c-Txt_Cap">
                  ※ご登録の電話番号を入力してください。未登録の場合は「0000000000」（0を10個）を入力してください。
                </p>
              </dd>
            </div>
            <div>
              <dt>連絡先メールアドレス<span class="c-Form_List-required">必須</span></dt>
              <dd>
                <input id="email" name="email" class="c-Form_Input js-required js-chkmail" size="20" type="text" placeholder="例：info@rakuten.com" autocomplete="off">
              </dd>
            </div>
            <div>
              <dt>お申し込みの理由<span class="c-Form_List-required">必須</span></dt>
              <dd>
                <div class="c-Form_Select">
                  <select id="00N2j000000GbEH" name="00N2j000000GbEH" size="1" autocomplete="off" class="js-required hikari-inquiry-form-reissuance-Form_Select">
                    <option value="">選択してください</option>
                    <option value="開通通知（ご契約内容、アカウントのお知らせ）が一度も届いていないため">開通通知（ご契約内容、アカウントのお知らせ）が一度も届いていないため</option>
                    <option value="紛失したため">紛失したため</option>
                  </select>
                  <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
                </div>

                <div class="u-Adjust_Mt-16" id="js-hikari-Reason-agreement" style="display: none;">
                  「開通通知（ご契約内容、アカウントのお知らせ）」を発送いたします。
                </div>
                <div class="u-Adjust_Mt-16" id="js-hikari-Reason-checkbox" style="display: none;">
                  <p class="u-Adjust_Mb-16">
                    「アカウントのお知らせ」のみ発送いたします。<br>
                    <br>
                    発行手数料550円（税込）がかかります。<br>
                    請求は開通通知が発行された翌月に合算されます。<br>
                    ご同意いただける場合はチェックをつけてください。
                  </p>
                  <label class="c-Form_Checkbox js-required">
                    <input type="checkbox" name="00N2v00000JLl9w" id="00N2v00000JLl9w" value="1">
                    <span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">同意する</span>
                  </label>
                </div>
              </dd>
            </div>
          </dl>

          <h2 class="c-Txt_Normal-m u-Adjust_Mt-48">注意事項</h2>
          <p class="u-Adjust_Mt-8">ご入力内容に不備がある場合、開通通知は発行されませんのでご注意ください。</p>

          <h2 class="c-Txt_Normal-m u-Adjust_Mt-32">個人情報の取扱いについて</h2>
          <p class="u-Adjust_Mt-8">ご入力いただいた個人情報は請求された資料発送に利用いたします。</p>
          <div>
            <a href="https://corp.mobile.rakuten.co.jp/guide/privacy/" target="_blank" rel="noopener" class="c-Link_Txt-inline">個人情報の取扱いについて<span class="c-Icon_New-window-l"></span></a>
          </div>


          <p class="u-Adjust_Align-center u-Adjust_Mt-40">
            <button id="js-hikari-inquiry_Confirm" type="button" class="c-Btn_Secondly-large"><span><span>お申し込み内容を確認する</span><span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span></span></button>
          </p>

          <div id="modal-confirm" style="display:none;">
            <h2 class="c-Heading_Lv3 u-Adjust_Mb-24">お申し込み内容の確認</h2>
            <dl class="c-Form_List-confirm">
              <div>
                <dt>氏名</dt>
                <dd>
                  <span id="00N2v00000JLlAA-disp" class="u-Adjust_Txt-break u-Adjust_Mr-8"></span>
                </dd>
              </div>
              <div>
                <dt>ユーザーID</dt>
                <dd><p id="00N2v00000JLlAd-disp" class="u-Adjust_Txt-break"></p></dd>
              </div>
              <div>
                <dt>お客様番号</dt>
                <dd><p id="00N2v00000JLlA2-disp" class="u-Adjust_Txt-break"></p></dd>
              </div>
              <div>
                <dt>郵便番号</dt>
                <dd><p id="00N2v00000JLlAI-disp" class="u-Adjust_Txt-break"></p></dd>
              </div>
              <div>
                <dt>都道府県</dt>
                <dd><p id="00N2v00000JLlAb-disp" class="u-Adjust_Txt-break"></p></dd>
              </div>
              <div>
                <dt>市区町村以下</dt>
                <dd><p id="00N2v00000JLl9z-disp" class="u-Adjust_Txt-break"></p></dd>
              </div>
              <div>
                <dt>ご契約の電話番号</dt>
                <dd><p id="phone-disp" class="u-Adjust_Txt-break"></p></dd>
              </div>
              <div>
                <dt>メールアドレス</dt>
                <dd><p id="email-disp" class="u-Adjust_Txt-break"></p></dd>
              </div>
              <div>
                <dt>お申し込みの理由</dt>
                <dd><p id="00N2j000000GbEH-disp" class="u-Adjust_Txt-break"></p></dd>
              </div>
            </dl>
            <div class="u-Adjust_Align-center u-Adjust_Mt-40">
              <button type="button" id="js-hikari-inquiry_Submit" class="c-Btn_Primary-large"><span><span>お申し込み内容を確定する</span><span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span></span></button>
            </div>
            <div class="u-Adjust_Align-center u-Adjust_Mt-24">
              <span id="js-hikari-inquiry_Confirm-close" style="margin: auto;" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-left-l"></span>戻る</span>

            </div>
          </div>
        </form>
    </div>
  </div>


  <footer class="g-Footer">
    <%- include('/hikari/include/_footer', { pagetitle: pagetitle, directories: directories, hiddenFooterCta: true, hiddenCta: true, hiddenMenu: true, hiddenPopask: true }) %>
  </footer>

</div>
<%- include('/include/hikari/_common-js') %>
<script src="<%= sitepath %>assets/js/hikari/inquiry.form.reissuance.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/library/ajaxzip3.js" charset="UTF-8"></script>
<script>
  const triggerZip2addr = document.getElementsByClassName('js-hikari-inquiry_Zip2addr');
  triggerZip2addr[0].addEventListener('blur', function(e) {
    AjaxZip3.zip2addr('00N2v00000JLlAI','','00N2v00000JLlAb','00N2v00000JLl9z');
  })
</script>
<%- include('/include/_append-body') %>
</body>
</html>
