<% const pagetitle = "楽天の通信技術の特長" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/area/area.css?240513">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <li><a href="<%= sitepath %>area/">エリア</a><span class="c-Icon_Chevron-right"></span></li>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="l-System_Container">
  <div class="area-Layout_Detail-main">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
    <h2 class="c-Heading_Lv2 u-Adjust_Mt-24">楽天クラウドプラットフォーム（RCP）</h2>
    <p class="u-Adjust_Mt-16">～世界初の完全仮想化クラウドネイティブネットワーク～</p>
    <p class="u-Adjust_Mt-32 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/area/technology-image.jpg" alt=""></p>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">世界初のネットワーク技術で 低価格な通信サービスを提供</h3>
    <p class="u-Adjust_Mt-16">楽天モバイルが、日々新たなネットワーク網を拡大しながら、低価格な通信サービスを提供し続けられる理由、それは、最新のIT技術を結集した、独自の「楽天クラウドプラットフォーム（RCP）」にあります。</p>
    <p class="u-Adjust_Mt-16">従来のモバイルネットワークは、何百種類もの専用ハードウェアとソフトウェアの組み合わせで構成されているため、基地局の構築にも運用にも、膨大なコストと時間がかかっていました。</p>
    <p class="u-Adjust_Mt-16">それに対し楽天モバイルは、完全に新しい独自のモバイルネットワークの開発に取り組み、世界初の完全仮想化クラウドネイティブネットワークを構築しました。</p>
    <p class="u-Adjust_Mt-16">この「楽天クラウドプラットフォーム（RCP）」では、主要な機能をクラウド上のソフトウェアが担うことで、専用ハードウェアをなくし、汎用ハードウェアの種類と数も大幅に削減。これにより、汎用性の高い機器で、シンプルかつコンパクトな基地局を日本中で設置することができます。基地局信号処理機能も仮想化することにより、導入や世代交代をソフトの更新のみで可能となります。また、ネットワークオペレーションを自動化・簡素化することでコストの低減を実現し、クラウド環境の柔軟性を活かしたサービス展開が可能です。</p>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">サービス開始時から「5Gレディ」 将来を見据えたシステム構造</h3>
    <p class="u-Adjust_Mt-16">さらに、「楽天クラウドプラットフォーム（RCP）」はサービス開始時から5G（第5世代移動通信システム）への展開を見据えた「5Gレディ」なネットワークです。4Gのアンテナ局に5Gのアンテナを追加、ソフトウェアのアップグレードを行うだけで、5Gネットワークが稼働します。</p>
    <p class="u-Adjust_Mt-16">高速大容量・低遅延・多接続を特長とする5Gでは、あらゆるモノが通信機能を持ってネットワークにつながることで、さまざまな新しいサービスが可能になります。たとえば、リアルタイムの通訳サービスが提供されたり、すべてシステムが制御する自動運転、遠隔地からロボットを操作して行う手術なども可能です。外出先から高精細な動画をスムーズに見ることができ、混雑した場所でも快適にインターネットを利用できるようになります。</p>
    <p class="u-Adjust_Mt-16">楽天モバイルでは、5Gの特性を活かしたプラットフォームを充実させ、新たなビジネスモデルを創出するとともに、お客様へ常に魅力的なサービスを提供し続ける楽天エコシステムのさらなる拡大を図っていきます。</p>
  </div>
</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-area.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%#- include('/faq/include/related-area.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <li><a href="<%= sitepath %>area/">エリア</a><span class="c-Icon_Chevron-right"></span></li>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>


