<% const pagetitle = "Apple Watch ファミリー共有 お申し込み方法" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/application/flow/", label:"お申し込み方法"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルの「Apple Watch ファミリー共有」サービスのお申し込み方法をご案内します。「Apple Watch ファミリー共有」はiPhoneを持っていない家族もApple Watchだけで音声通話やデータ通信を利用できるサービスです。',
    noindex: false,
    pathname: filepath,
  });
%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/guide.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<%- include('/include/_breadcrumbs', {
  type: 'head',
  pagetitle,
  directories,
}) %>

<div class="l-System_Container u-Adjust_Pt-32">
  <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
  <p class="u-Adjust_Mt-16">
    iPhoneを持っていない家族もApple Watchだけで音声通話やデータ通信を利用できる「Apple Watch ファミリー共有」のお申し込み方法をご案内します。
  </p>
  <p class="c-Txt_Emp-02 u-Adjust_Mt-16">
    本手続きはRakuten最強プランをご利用中のiPhone（親回線）で行う場合の手順です。
  </p>
  <div class="u-Adjust_Mt-16">
    <a href="<%= sitepath %>fee/apple-watch-family-sharing/" class="c-Btn_Regular"><span>特長・サービス内容を見る</span></a>
  </div>

  <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-24">
    <li><a href="#attention" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>ご利用にあたっての注意事項</a></li>
    <li><a href="#apply" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>お申し込み方法</a></li>
  </ul>

  <section class="u-Adjust_Mt-48">
    <h2 id="attention" class="c-Heading_Lv2 u-Adjust_Mt-48">ご利用にあたっての注意事項</h2>
    <ul class="c-List_Text-disc u-Adjust_Mt-24">
      <li>本サービスは、iPhone（iPhone XR以降の親回線）と、Apple Watch（Series 4以降のCellularモデル）の両方をお持ちの場合のみご加入いただけます。ご利用できる製品は<a href="<%= sitepath %>fee/apple-watch-family-sharing/#product">対象製品一覧</a>をご確認ください。
      </li>
      <li>
        以下の場合は楽天モバイルショップでのお申し込みとなります。
        <ul class="c-List_Text-disc">
          <li>
            契約者または利用者が18歳未満の場合
          </li>
          <li>
            iPhone（親回線）で、Rakuten最強プラン（データタイプ）や他キャリアをご利用の場合
          </li>
        </ul>
      </li>
    </ul>
    <div class="c-Accordion u-Adjust_Mt-16">
      <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイルショップでお申し込みする際に必要なもの・注意事項</button>
      <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
        <ul class="c-List_Text-disc u-Adjust_Mb-16">
          <li>
            ショップへご来店する際は、以下をお持ちください。
            <ul class="c-List_Text-disc">
              <li>
                <a href="<%= sitepath %>guide/verify/">本人確認書類</a>
              </li>
              <li>
                楽天会員のユーザーID・パスワード
              </li>
              <li>
                <a href="/guide/payment/">クレジットカード/銀行口座情報</a>
              </li>
              <li>
                iPhone（親回線）およびApple Watch本体とそのEIDが確認できるもの
                <p class="c-Txt_Cap" style="text-indent: 0px;">
                  ※EIDは、32桁のeSIM識別番号です。確認方法は<a href="<%= sitepath %>faq/detail/10000896/">こちら</a>をご確認ください。
                </p>
              </li>
              <li>
                MNP予約番号
                <span class="c-Txt_Cap">
                  ※他社から乗り換えの場合のみ
                </span>
              </li>
            </ul>
          </li>
          <li>
            お申し込みと同時にApple Watch（Series4以降のCellularモデル）をご購入いただく場合は、初期設定の必要がございますので、お時間に余裕をもってお越しください。
          </li>
          <li>
            利用者が18歳未満の場合はショップにて設定のサポートを行います。
          </li>
        </ul>
        <a href="<%= sitepath %>shop/guide/" class="c-Link_Txt-inline">ショップでのお申し込みに関する詳細はこちら<span class="c-Icon_Chevron-right"></span>
        </a>
      </div>
    </div>
  </section>

  <section>
    <h2 id="apply" class="c-Heading_Lv2 u-Adjust_Mt-64">お申し込み方法</h2>
    <h3 class="c-Heading_Lv3 u-Adjust_Mt-16">事前準備について</h3>
    <ul class="c-List_Text-disc u-Adjust_Mt-16">
      <li>iOS・watchOSは最新のものにアップデートをお願いします。iOS 17.0以上、watchOS 10.0以上に対応しています。</li>
      <li class="c-Txt_Emp-01">iPhoneとApple Watchのペアリング、Apple Watchの初期設定が未設定の方はお申し込み前に行ってください。</li>
    </ul>
    <div class="u-Adjust_Mt-16">
      <a href="<%= sitepath %>guide/setting/apple-watch-family-sharing/#anc-1" class="c-Btn_Regular"><span>ペアリング・初期設定方法を見る</span></a>
    </div>

    <ol class="c-Flow u-Adjust_Mt-32">
      <li>
        <h3 class="c-Heading_Lv3">1. Apple Watchアプリを起動する</h3>
        <div class="l-Media_Image u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/flow/application/apple-watch-family-sharing/img-flow01.png" class="c-Img_Capture" alt="" width="300" height="603" loading="lazy">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">2. 「すべてのWatch」画面で対象のApple Watchをタップする</h3>
        <p class="c-Txt_Cap u-Adjust_Mt-16">
          ※画面が自動で表示されない場合は、上部の「すべてのWatch」をタップし、対象のApple Watchを選択してください。<br>
          ※対象のApple Watchが表示されない場合は、お申し込み前に「<a href="<%= sitepath %>guide/setting/apple-watch-family-sharing/">ペアリング・初期設定</a>」を行ってください。
        </p>
        <div class="l-Media_Image u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/flow/application/apple-watch-family-sharing/img-flow02.png" class="c-Img_Capture" alt="" width="300" height="475" loading="lazy">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">3. 「モバイル通信」をタップする</h3>
        <div class="l-Media_Image u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/flow/application/apple-watch-family-sharing/img-flow03.png" class="c-Img_Capture" alt="" width="300" height="491" loading="lazy">
        </div>
      </li>

      <li>
        <h3 class="c-Heading_Lv3">4. 「モバイル通信を設定」をタップする</h3>
        <p class="c-Txt_Cap u-Adjust_Mt-16">
          ※対象外の製品またはRakuten最強プラン（データタイプ）を利用している場合、モバイル通信は設定できません。<br>
          ※「モバイル通信を設定」が表示されない場合は、機内モードのON・OFFやiPhoneの再起動を行ってください。
        </p>
        <div class="l-Media_Image u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/flow/application/apple-watch-family-sharing/img-flow04.png" class="c-Img_Capture" alt="" width="300" height="206" loading="lazy">
        </div>
      </li>
      <li>
        <h3 id="setting-mobile" class="c-Heading_Lv3">5. 「モバイル通信を設定」をタップし、待機する</h3>
        <div class="u-Adjust_Align-center <%= nameSpace %>-Layout_Flow-img-column">
          <img src="<%= sitepath %>assets/img/guide/flow/application/apple-watch-family-sharing/img-flow05.png" class="c-Img_Capture" alt="" width="300" height="581" loading="lazy">
          <img src="<%= sitepath %>assets/img/guide/flow/application/apple-watch-family-sharing/img-flow06.png" class="c-Img_Capture" alt="" width="300" height="214" loading="lazy">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">6.利用規約などを確認し、チェックボックスにチェックを入れ、「申し込みに進む」をタップする</h3>
        <p class="c-Txt_Cap u-Adjust_Mt-16">
          ※楽天モバイル以外の携帯電話会社を利用していると、利用中の携帯電話会社の画面が表示される場合があります。その際は楽天モバイルショップにてお申し込みください。</p>
        <div class="l-Media_Image u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/flow/application/apple-watch-family-sharing/img-flow07.png" class="c-Img_Capture" alt="" width="300" height="625" loading="lazy">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">7.ご契約者様の楽天IDでログインし、リダイレクトが完了するまで待機する</h3>
        <p class="u-Adjust_Mt-16">
          ペアリングしたiPhoneの楽天回線の契約に紐づけられている、楽天会員のユーザIDとパスワードを入力してください。
        </p>
        <p class="c-Txt_Cap u-Adjust_Mt-16">
          ※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/">[my 楽天モバイル]ログインできません</a>」をご確認ください。</p>
        <div class="u-Adjust_Align-center <%= nameSpace %>-Layout_Flow-img-column">
          <img src="<%= sitepath %>assets/img/guide/flow/application/apple-watch-family-sharing/img-flow08.png" class="c-Img_Capture" alt="" width="300" height="550" loading="lazy">
          <img src="<%= sitepath %>assets/img/guide/flow/application/apple-watch-family-sharing/img-flow09.png" class="c-Img_Capture" alt="" width="300" height="451" loading="lazy">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">8. お申し込み前の注意事項を確認し、「次へ進む」をタップする</h3>
        <div class="l-Media_Image u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/flow/application/apple-watch-family-sharing/img-flow10.png" class="c-Img_Capture" alt="" width="300" height="587" loading="lazy">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">9. ご契約者様の情報を入力し、チェックボックスにチェックを入れ、「申し込みを完了する」をタップする</h3>
        <p class="u-Adjust_Mt-16">楽天モバイルにご登録済みの情報と入力した情報が異なる場合、エラーとなります。必ず同じ内容を入力してください。</p>
        <p class="u-Adjust_Mt-16 c-Txt_Cap">※「＊」マークのある項目は必須情報となりますので、漏れなく入力してください。</p>
        <div class="l-Media_Image u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/flow/application/apple-watch-family-sharing/img-flow11.png" class="c-Img_Capture" alt="" width="300" height="570" loading="lazy">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">10. ご契約プランの内容を確認後、「申し込む」をタップし待機する</h3>
        <div class="u-Adjust_Align-center <%= nameSpace %>-Layout_Flow-img-column">
          <img src="<%= sitepath %>assets/img/guide/flow/application/apple-watch-family-sharing/img-flow12.png" class="c-Img_Capture" alt="" width="300" height="590" loading="lazy">
          <img src="<%= sitepath %>assets/img/guide/flow/application/apple-watch-family-sharing/img-flow13.png" class="c-Img_Capture" alt="" width="300" height="249" loading="lazy">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">11. お申し込み手続きが完了するので、「閉じる」をタップする</h3>
        <p class="u-Adjust_Mt-16">お申し込み受付完了後、ご登録メールアドレス宛に、「[楽天モバイル]Apple Watch ファミリー共有プランお申し込み完了のお知らせ」のメールをお送りします。</p>
        <div class="l-Media_Image u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/flow/application/apple-watch-family-sharing/img-flow14.png" class="c-Img_Capture" alt="" width="300" height="319" loading="lazy">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">12. 「完了」をタップし、楽天回線の開通設定に進む</h3>
        <div class="l-Media_Image u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/flow/application/apple-watch-family-sharing/img-flow15.png" class="c-Img_Capture" alt="" width="300" height="572" loading="lazy">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">13.「Rakuten」の表示が待機中からアクティベート中に変わり、楽天回線の開通がはじまる</h3>
        <div class="u-Adjust_Align-center <%= nameSpace %>-Layout_Flow-img-column">
          <img src="<%= sitepath %>assets/img/guide/flow/application/apple-watch-family-sharing/img-flow16.png" class="c-Img_Capture" alt="" width="300" height="184" loading="lazy">
          <img src="<%= sitepath %>assets/img/guide/flow/application/apple-watch-family-sharing/img-flow17.png" class="c-Img_Capture" alt="" width="300" height="184" loading="lazy">
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">14. ポップアップ表示後、「Rakuten」だけの表示になると開通完了</h3>
        <div class="u-Adjust_Align-center <%= nameSpace %>-Layout_Flow-img-column">
          <img src="<%= sitepath %>assets/img/guide/flow/application/apple-watch-family-sharing/img-flow18.png" class="c-Img_Capture" alt="" width="300" height="184" loading="lazy">
          <img src="<%= sitepath %>assets/img/guide/flow/application/apple-watch-family-sharing/img-flow19.png" class="c-Img_Capture" alt="" width="300" height="184" loading="lazy">
        </div>
      </li>
    </ol>
    <p class="u-Adjust_Mt-16">
      以上でお申し込みは完了です。<br>
      初期設定が完了していない場合は、「<a href="<%= sitepath %>guide/setting/apple-watch-family-sharing/#apple-watch-setting">Apple Watchの初期設定方法の手順12</a>」をご確認ください。
    </p>
  </section>

  <%- include('/include/guide/_faq') %>

  <div class="u-Adjust_Pt-64">
    <div><a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップにもどる</span></a></div>
    <div class="u-Adjust_Mt-16"><a href="<%= sitepath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a></div>
  </div>

  <div class="u-Adjust_Mt-16 guide-Btn_Bot" id="openchatbot">
    <a href="#openchatbot" data-ratId="floating-ai_chat_support" data-ratEvent="click" data-ratParam="all"><img src="<%= sitepath %>assets/img/common/img-aichat-bot.png" width="124" alt="Open chat Bot"></a>
    <div class="u-Adjust_Mt-16 guide-Btn_Bot-close">
      <div role="button" tabindex="0" id="closechatbot" class="guide-Btn_Bot-close-btn" aria-label="チャットボットを閉じる"><img src="<%= sitepath %>assets/img/common/img-aichat-close.png" width="20" alt="" width="300" height="" width="300"></div>
    </div>
  </div>


  <%- include('/include/guide/_inquiry') %>
  <%- include('/include/guide/_review') %>
</div>

<footer class="g-Footer">
  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>
  <div class="l-System_Container">
    <%- include('/include/_breadcrumbs', {
      type: 'foot',
      pagetitle,
      directories,
    }) %>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>

<%- include('/include/_common-js') %>
<%- include('/include/guide/_generic-search-faq-js') %>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>

</body>
</html>
