<% const pagetitle = "Rakuten UN-LIMITお申し込みでRakuten Mini本体代が1円" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "mini-discount" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Rakuten UN-LIMITにお申し込みいただくと、Rakuten Miniを本体代1円でご購入いただけます。2020年5月27日9:00～6月17日8:59の期間限定！',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/mini-discount/mini-discount.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= namespace %>-Hero_Return">
  <div class="l-System_Container <%= namespace %>-Hero_Container">
    <p class="<%= namespace %>-Hero_Head-note">※表記の金額はすべて税別です。</p>
    <div class="<%= namespace %>-Hero_Main u-Adjust_Pt-8">
      <h1><img src="<%= sitepath %>assets/img/campaign/mini-discount/img_discount-mini_01.png?200525" alt="" width="857" height="426" class="<%= namespace %>-Utility_Img-tb"><img src="<%= sitepath %>assets/img/campaign/mini-discount/img_mini-discount_sp01.png?200525" alt="" class="<%= namespace %>-Utility_Img-spw"></h1>
    </div>
  </div>
</div>

<div class="<%= namespace %>-Layout_Body">
  <div class="l-System_Container">
    <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><span class="c-Txt_Emp-01">キャンペーン期間</span>　2020年5月27日(水)9:00～2020年6月17日(水)8:59</p>
    <p class="u-Adjust_Mt-8 u-Adjust_Align-center c-Txt_Cap">※ショップは6月16日（火）閉店まで</p>

    <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-16 u-Adjust_Align-center">本キャンペーンは終了しました。</p>

    <p class="u-Adjust_Mt-24 u-Adjust_Align-center">「オンライン契約で3,000ポイントプレゼントキャンペーン」の適用について
      本キャンペーン適用の場合、Rakuten Miniのお届けに時間をいただいている為、特典条件である開通と「Rakuten Link」の初回アクティベーション（利用登録後SMS認証が完了）の実施期限を2020年9月30日（水）23:59までに延長させていただきます。楽天ポイントの付与は、2020年10月下旬ごろまでに行います。
      </p>

    <div class="<%= namespace %>-Layout_Rule" id="campaign-rule">
      <h2>【Rakuten UN-LIMITお申し込み特典】Rakuten Mini本体代が1円キャンペーン</h2>
      <div class="c-Table_Wrap u-Adjust_Mt-24">
        <table class="c-Table_Container <%= namespace %>-Table_Rule">
          <colgroup>
            <col>
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th>キャンペーン期間</th>
              <td>
                <p>Web：2020年5月27日(水)9:00～2020年6月17日(水)8:59<br>Shop：2020年5月27日(水)開店～2020年6月16日(火)閉店</p>
                <ul class="c-List_Cap u-Adjust_Mt-16">
                  <li><span>※</span>「プラン料金1年間無料キャンペーン」のお申し込みが300万名に達し次第終了</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>特典</th>
              <td>
                <p>Rakuten Mini本体代1円</p>
              </td>
            </tr>
            <tr>
              <th>特典対象</th>
              <td>
                <p>以下の条件を全て満たした楽天会員の方</p>
                <ul class="c-List_Text-disc u-Adjust_Mt-8">
                  <li>ーキャンペーン期間中に、「Rakuten UN-LIMIT」を以下いずれかの方法でお申し込み、Rakuten Miniをご購入<br>
                    -「Rakuten UN-LIMIT」に新規お申し込み<br>
                    -「Rakuten UN-LIMIT」に他社から乗り換え（MNP）でお申し込み<br>
                    -「Rakuten UN-LIMIT」に楽天モバイル（ドコモ回線・au回線）の料金プランから移行お申し込み
                  </li>
                </ul>
                <ul class="c-List_Cap u-Adjust_Mt-16">
                  <li><span>※</span>特典はお一人様１回限りとさせていただきます</li>
                  <li class="c-Txt_Emp-02"><span>※</span>「Rakuten UN-LIMIT」とRakuten Miniのセットでお申し込みが必須となります</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>特典対象外</th>
              <td>
                <p>以下の条件に当てはまる場合は、特典適用対象外となります。</p>
                <ul class="c-List_Cap u-Adjust_Mt-8">
                  <li><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
                  <li><span>※</span>当社の提供するサービスなどの料金のお支払いを、お支払期限までに行わなかった場合</li>
                  <li><span>※</span>無料サポータープログラム「100GB無料プラン」から「Rakuten UN-LIMIT」へプラン変更した場合</li>
                  <li><span>※</span>本人確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
                  <li><span>※</span>当社の提供するサービスなどの料金のお支払いを、お支払期限までに行わなかった場合</li>
                  <li><span>※</span>当社または楽天株式会社が定める規約などに違反した場合</li>
                  <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
                  <li><span>※</span>楽天モバイルスマホ専門店で購入した場合</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>注意事項</th>
              <td>
                <ul class="c-List_Cap u-Adjust_Mt-8 c-Txt_Emp-02">
                  <li><span>※</span>Rakuten UN-LIMITご紹介特典との併用はできません。紹介者様の楽天モバイルIDを入力しても無効になります</li>
                  <li><span>※</span>1回線のお申し込み内で、【楽天モバイル（ドコモ回線・au回線）ユーザー限定】スマホ本体代ほぼ全額分返ってくるキャンペーンとの併用はできません</li>
                  <li><span>※</span>1回線のお申し込み内で、【楽天モバイル】Rakuten UN-LIMIT対象製品購入でポイント還元キャンペーンとの併用はできません</li>
                </ul>
                <ul class="c-List_Cap u-Adjust_Mt-8">
                  <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合がございます。あらかじめご了承ください</li>
                  <li><span>※</span>製品の台数に限りがございます。無くなり次第終了とさせていただく場合がございます</li>
                  <li><span>※</span>不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合がございます</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-news.ejs') %>

    <%- include('/include/footer/bnr/_bnr-news.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
