<% const namespace = "ecare" -%>
<!---  campaign -->
<div class="c-Accordion">
  <button type="button" id="<%= prefix %>accordion-pre-member-campaign" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Parent" aria-expanded="false" aria-controls="<%= prefix %>accordion-pre-member-content-campaign" data-effect="false" data-ratid="ecare-s-<%= type %>_category_pre-member_campaign" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Campaign-f"></span>キャンペーン<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
  <div id="<%= prefix %>accordion-pre-member-content-campaign" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-pre-member-campaign" aria-hidden="true">

    <div class="c-Accordion u-Adjust_Mt-24">
      <button type="button" id="<%= prefix %>accordion-pre-member-campaign-1" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-pre-member-campaign-1" data-ratid="ecare-s-<%= type %>_pre-member_campaign_accordion_01" data-ratevent="click" data-ratparam="all" data-effect="false">キャンペーンの適用条件を知りたい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-pre-member-campaign-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-pre-member-campaign-1" aria-hidden="true">
        <p>以下のページで参加されたキャンペーンの「キャンペーン条件」をご確認いただき、必要な条件を満たしているかご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/h6wPlI" target="_blank" class="c-Link_Txt-inline">「キャンペーン・特典」（キャンペーンページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hMtVk8" target="_blank" class="c-Link_Txt-inline">「過去のキャンペーン・特典」（キャンペーンページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16">キャンペーンに関するその他よく見られている質問は、以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
            <a href="https://r10.to/h674bB" target="_blank" class="c-Link_Txt-inline">「キャンペーンの適用条件・確認に関するサポート」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-pre-member-campaign-2" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-pre-member-campaign-2" data-ratid="ecare-s-<%= type %>_pre-member_campaign_accordion_02" data-ratevent="click" data-ratparam="all" data-effect="false">キャンペーンの付与時期を確認したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-pre-member-campaign-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-pre-member-campaign-2" aria-hidden="true">
          <p>以下のページで参加されたキャンペーンの「キャンペーンルール」をご確認ください。</p>
          <p class="u-Adjust_Mt-8">
            <a href="https://r10.to/hNOqbH" target="_blank" class="c-Link_Txt-inline">「キャンペーン・特典」（キャンペーンページへ）<span class="c-Icon_New-window-l"></span></a>
          </p>
          <p class="u-Adjust_Mt-8">
            <a href="https://r10.to/ha5cWE" target="_blank" class="c-Link_Txt-inline">「過去のキャンペーン・特典」（キャンペーンページへ）<span class="c-Icon_New-window-l"></span></a>
          </p>
          <p class="u-Adjust_Mt-16">以下のページで詳細をご確認ください。</p>
          <p class="u-Adjust_Mt-8">
            <a href="https://r10.to/TAUC84" target="_blank" class="c-Link_Txt-inline">「キャンペーンの条件やポイント付与時期に関するご質問」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
          </p>
      </div>
    </div>

  </div>
</div>
<!--- / campaign -->
