<% const namespace = "ecare" -%>
<!---  initial-setting -->
<div class="c-Accordion">
  <button type="button" id="<%= prefix %>accordion-pre-member-initial-setting" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Parent" aria-expanded="false" aria-controls="<%= prefix %>accordion-pre-member-content-initial-setting" data-effect="false" data-ratid="ecare-s-<%= type %>_category_pre-member_initial-setting" data-ratevent="click" data-ratparam="all"><span class="c-Icon_New-user-f"></span>ご利用開始までの設定<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
  <div id="<%= prefix %>accordion-pre-member-content-initial-setting" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-pre-member-initial-setting" aria-hidden="true">

    <div class="c-Accordion u-Adjust_Mt-24">
      <button type="button" id="<%= prefix %>accordion-pre-member-initial-setting-1" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-pre-member-initial-setting-1" data-ratid="ecare-s-<%= type %>_pre-member_initial-setting_accordion_01" data-ratevent="click" data-ratparam="all" data-effect="false">初期設定をしたい（Android）<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-pre-member-initial-setting-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-pre-member-initial-setting-1" aria-hidden="true">
        <p>以下のページで該当する製品をタップし、初期設定方法をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/h6PjrC" target="_blank" class="c-Link_Txt-inline">「各種製品の初期設定」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16">楽天モバイル以外で購入したAndroid製品で楽天回線がご利用できるかは、以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hNjw1B" target="_blank" class="c-Link_Txt-inline">「ご利用製品の対応状況確認」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-pre-member-initial-setting-2" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-pre-member-initial-setting-2" data-ratid="ecare-s-<%= type %>_pre-member_initial-setting_accordion_02" data-ratevent="click" data-ratparam="all" data-effect="false">初期設定をしたい（iPhone）<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-pre-member-initial-setting-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-pre-member-initial-setting-2" aria-hidden="true">
        <p>SIMタイプ別の初期設定方法は以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/huNgEo" target="_blank" class="c-Link_Txt-inline">「iPhone＋プランセット購入者向け初期設定方法（SIMカード）」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/h6ThgB" target="_blank" class="c-Link_Txt-inline">「iPhone＋プランセット購入者向け初期設定方法（eSIM）」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hNXMpa" target="_blank" class="c-Link_Txt-inline">「iPhone 14＋プランセット購入者向け初期設定方法（eSIM利用）「AIかんたん本人確認（eKYC）」にてご契約」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-24 c-Txt_Emp-01">お申し込みしたSIMタイプが不明な場合</p>
        <p class="u-Adjust_Mt-16">
          下記より「回線開通完了」と記載された申込番号を選択し、表示されたSIMのアイコンをご確認ください。<br>
          eSIMの場合は「eSIM」と記載があり、SIMカードには文字の記載はありません。
        </p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard#orders" target="_parent" data-ratid="ecare-s-<%= type %>_object_02_04_002" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">申し込み履歴へ進む</a>
        </div>
      </div>
    </div>

  </div>
</div>
<!--- / initial-setting -->
