<% const namespace = "ecare" -%>
<!---  other -->
<div class="c-Accordion">
  <button type="button" id="<%= prefix %>accordion-pre-member-other" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Parent" aria-expanded="false" aria-controls="<%= prefix %>accordion-pre-member-content-other" data-effect="false" data-ratid="ecare-s-<%= type %>_category_pre-member_other" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Meatball-horizontal-f"></span>その他<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
  <div id="<%= prefix %>accordion-pre-member-content-other" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-pre-member-other" aria-hidden="true">

    <div class="c-Accordion u-Adjust_Mt-24">
      <button type="button" id="<%= prefix %>accordion-pre-member-other-1" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-pre-member-other-1" data-ratid="ecare-s-<%= type %>_pre-member_other_accordion_01" data-ratevent="click" data-ratparam="all" data-effect="false">楽天グループの問い合わせ窓口を知りたい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-pre-member-other-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-pre-member-other-1" aria-hidden="true">
        <p>以下のページより対象のサービスをお選びいただき、お問い合わせください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/h6dt9K" target="_blank" class="c-Link_Txt-inline">「楽天グループ　サービス一覧」（楽天グループページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-pre-member-other-" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-pre-member-other-2" data-ratid="ecare-s-<%= type %>_pre-member_other_accordion_02" data-ratevent="click" data-ratparam="all" data-effect="false">その他<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-pre-member-other-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-pre-member-other-2" aria-hidden="true">
        <p>お困りごとについて該当する項目がない場合、お客様サポートでご案内している場合があります。<br>
          キーワード検索のご利用や該当するカテゴリでお探しの情報がないかご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hayMr9" target="_blank" class="c-Link_Txt-inline">「お客様サポート」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>

  </div>
</div>
<!--- / other -->
