<% const namespace = "ecare" -%>
<!---  plan -->
<div class="c-Accordion">
  <button type="button" id="<%= prefix %>accordion-pre-member-plan" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Parent" aria-expanded="false" aria-controls="<%= prefix %>accordion-pre-member-content-plan" data-effect="false" data-ratid="ecare-s-<%= type %>_category_pre-member_plan" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Price-f"></span>プラン・サービス<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
  <div id="<%= prefix %>accordion-pre-member-content-plan" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-pre-member-plan" aria-hidden="true">

    <div class="c-Accordion u-Adjust_Mt-24">
      <button type="button" id="<%= prefix %>accordion-pre-member-plan-1" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-pre-member-plan-1" data-ratid="ecare-s-<%= type %>_pre-member_plan_accordion_01" data-ratevent="click" data-ratparam="all" data-effect="false">楽天モバイルの料金プランについて知りたい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-pre-member-plan-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-pre-member-plan-1" aria-hidden="true">
        <p>以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/haHB9g" target="_blank" class="c-Link_Txt-inline">「料金プラン」（料金プランページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/h6weZ9" target="_blank" class="c-Link_Txt-inline">「料金プラン詳細」（料金プランページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16">プラン料金は、毎月のデータ利用量によって変動します。<br>
          データ利用量としてカウントする通信サービスは以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
            <a href="https://r10.to/huvwiu" target="_blank" class="c-Link_Txt-inline">「データ利用量の確認」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-pre-member-plan-2" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-pre-member-plan-2" data-ratid="ecare-s-<%= type %>_pre-member_plan_accordion_02" data-ratevent="click" data-ratparam="all" data-effect="false">通話／通信サービス（国内）について知りたい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-pre-member-plan-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-pre-member-plan-2" aria-hidden="true">
          <p>以下の各サービスページで詳細をご確認ください。</p>
          <p class="u-Adjust_Mt-8">
            <a href="https://r10.to/hkC8pD" target="_blank" class="c-Link_Txt-inline">「15分（標準）通話かけ放題」<span class="c-Icon_New-window-l"></span></a>
          </p>
          <p class="u-Adjust_Mt-8">
            <a href="https://r10.to/hM5rjD" target="_blank" class="c-Link_Txt-inline">「留守番電話を設定・再生（Rakuten Link利用）」<span class="c-Icon_New-window-l"></span></a>
          </p>
          <p class="u-Adjust_Mt-8">
            <a href="https://r10.to/hMgMLb" target="_blank" class="c-Link_Txt-inline">「発信者番号非通知」<span class="c-Icon_New-window-l"></span></a>
          </p>
          <p class="u-Adjust_Mt-8">
            <a href="https://r10.to/huMgA6" target="_blank" class="c-Link_Txt-inline">「特番通話」<span class="c-Icon_New-window-l"></span></a>
          </p>
          <p class="u-Adjust_Mt-8">
            <a href="https://r10.to/hM4Q4E" target="_blank" class="c-Link_Txt-inline">「着信転送」<span class="c-Icon_New-window-l"></span></a>
          </p>
          <p class="u-Adjust_Mt-8">
            <a href="https://r10.to/hMdBSg" target="_blank" class="c-Link_Txt-inline">「割込通話／通話保留」<span class="c-Icon_New-window-l"></span></a>
          </p>
          <p class="u-Adjust_Mt-24">その他、よく見られている質問などは以下のページで詳細をご確認ください。</p>
          <p class="u-Adjust_Mt-8">
            <a href="https://r10.to/hMqBLj" target="_blank" class="c-Link_Txt-inline">「通話/通信サービス（国内）に関するサポート」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
          </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-pre-member-plan-3" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-pre-member-plan-3" data-ratid="ecare-s-<%= type %>_pre-member_plan_accordion_03" data-ratevent="click" data-ratparam="all" data-effect="false">通話／通信サービス（国際）について知りたい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-pre-member-plan-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-pre-member-plan-3" aria-hidden="true">
          <p>以下の各サービスページで詳細をご確認ください。</p>
          <p class="u-Adjust_Mt-8">
            <a href="https://r10.to/haJ7ZT" target="_blank" class="c-Link_Txt-inline">「海外ローミング（データ通信）」<span class="c-Icon_New-window-l"></span></a>
          </p>
          <p class="u-Adjust_Mt-8">
            <a href="https://r10.to/haROa2" target="_blank" class="c-Link_Txt-inline">「海外ローミング　対応エリア・料金」<span class="c-Icon_New-window-l"></span></a>
          </p>
          <p class="u-Adjust_Mt-8">
            <a href="https://r10.to/ha349y" target="_blank" class="c-Link_Txt-inline">「国際通話」<span class="c-Icon_New-window-l"></span></a>
          </p>
          <p class="u-Adjust_Mt-8">
            <a href="https://r10.to/ha341S" target="_blank" class="c-Link_Txt-inline">「国際通話かけ放題」<span class="c-Icon_New-window-l"></span></a>
          </p>
          <p class="u-Adjust_Mt-8">
            <a href="https://r10.to/h6kSKx" target="_blank" class="c-Link_Txt-inline">「国際SMS（日本でのご利用方法)」<span class="c-Icon_New-window-l"></span></a>
          </p>
          <p class="u-Adjust_Mt-24">以下のページで、海外利用に関する詳細をご確認ください。</p>
          <p class="u-Adjust_Mt-8">
            <a href="https://r10.to/hMjel2" target="_blank" class="c-Link_Txt-inline">「海外で利用するための設定方法」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
          </p>
          <p class="u-Adjust_Mt-8">
            <a href="https://r10.to/haWfsF" target="_blank" class="c-Link_Txt-inline">「通話/通信サービス（国際）に関するサポート」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
          </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-pre-member-plan-4" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-pre-member-plan-4" data-ratid="ecare-s-<%= type %>_pre-member_plan_accordion_04" data-ratevent="click" data-ratparam="all" data-effect="false">メール・SMSサービスについて知りたい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-pre-member-plan-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-pre-member-plan-4" aria-hidden="true">
          <p>以下の各サービスページで詳細をご確認ください。</p>
          <p class="u-Adjust_Mt-8">
            <a href="https://r10.to/h6qzk8" target="_blank" class="c-Link_Txt-inline">「楽メール」<span class="c-Icon_New-window-l"></span></a>
          </p>
          <p class="u-Adjust_Mt-8">
            <a href="https://r10.to/h5NZok" target="_blank" class="c-Link_Txt-inline">「SMS」<span class="c-Icon_New-window-l"></span></a>
          </p>
          <p class="u-Adjust_Mt-8">
            <a href="https://r10.to/haBKL7" target="_blank" class="c-Link_Txt-inline">「緊急速報メール」<span class="c-Icon_New-window-l"></span></a>
          </p>
          <p class="u-Adjust_Mt-8">
            <a href="https://r10.to/haAcgd" target="_blank" class="c-Link_Txt-inline">「着信SMS通知」<span class="c-Icon_New-window-l"></span></a>
          </p>
          <p class="u-Adjust_Mt-24">その他、よく見られている質問などは以下のページで詳細をご確認ください。</p>
          <p class="u-Adjust_Mt-8">
            <a href="https://r10.to/hMBH9M" target="_blank" class="c-Link_Txt-inline">「メール・SMSサービスに関するサポート」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
          </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-pre-member-plan-5" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-pre-member-plan-5" data-ratid="ecare-s-<%= type %>_pre-member_plan_accordion_05" data-ratevent="click" data-ratparam="all" data-effect="false">オプションサービスについて知りたい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-pre-member-plan-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-pre-member-plan-5" aria-hidden="true">
        <p>以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/TAUCeC" target="_blank" class="c-Link_Txt-inline">「オプションサービス」（オプションサービスページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16">対象iPhoneとセットでお申し込み可能な「楽天モバイルiPhoneアップグレードプログラム」は以下のページで詳細をご確認ください</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/haVbcl" target="_blank" class="c-Link_Txt-inline">「楽天モバイルiPhoneアップグレードプログラム」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-pre-member-plan-6" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-pre-member-plan-6" data-ratid="ecare-s-<%= type %>_pre-member_plan_accordion_06" data-ratevent="click" data-ratparam="all" data-effect="false">スマホ下取りサービスについて知りたい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-pre-member-plan-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-pre-member-plan-6" aria-hidden="true">
        <p>楽天モバイルのスマホ下取りサービスでは、お客様がお持ちの対象製品を下取りいたします。<br>
          下取り金額は電子マネーの楽天キャッシュでお支払いいたします</p>
        <p class="u-Adjust_Mt-16">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/h6fd7R" target="_blank" class="c-Link_Txt-inline">「スマホ下取りサービス」（オプションサービスページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-pre-member-plan-7" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-pre-member-plan-7" data-ratid="ecare-s-<%= type %>_pre-member_plan_accordion_07" data-ratevent="click" data-ratparam="all" data-effect="false">保証サービスが追加できない<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-pre-member-plan-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-pre-member-plan-7" aria-hidden="true">
        <p>以下の保証オプションサービスは対象製品購入時のみお申し込みできます。</p>
        <ul class="u-Adjust_Mt-16 c-List_Text-disc">
          <li>故障紛失保証 with AppleCare Services & iCloud+</li>
          <li>あんしん保証with AppleCare Services for Apple Watch</li>
          <li>楽天モバイルiPhoneアップグレードプログラム</li>
          <li>スマホ交換保証プラス</li>
        </ul>
        <p class="u-Adjust_Mt-16">以下の保証オプションサービスはSIMのみ購入時、または回線開通日から30日以内にお申し込みできます。</p>
        <ul class="u-Adjust_Mt-16 c-List_Text-disc">
          <li>持ち込みスマホあんしん保証</li>
        </ul>
      </div>
    </div>

  </div>
</div>
<!--- / plan -->
