<% const pagetitle = "日本郵政グループ従業員様・ご家族様限定！エントリー＆楽天モバイルご利用で毎月500ポイントプレゼント" -%>
<% const directories = [{path:"area/", label:"通信・エリア"}] -%>
<% const namespace = "japanpost-pointback"
const entryData = "2024年5月13日（月）9:00～2024年10月31日（木）23:59"
const campaignState = ""
const enddate = "2025年10月31日"
const pointback = "日本郵政グループ従業員様・ご家族様限定"
const japanpostdata = "日本郵政グループ従業員・ご家族様限定キャンペーン窓口 050-5443-6493(営業時間9:00-17:00※定休日無し)"

-%>
<%-
include('/_header', {
  pagetitle,
  directories,
  description: '日本郵政グループ従業員様・ご家族様限定！エントリー＆楽天モバイルご利用で毎月500ポイントプレゼントです。',
  noindex: false,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/area/campaign/japanpost/pointback/japanpost-pointback.css">
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <%- include('/include/_breadcrumbs', {
      type: 'head',
      pagetitle,
      directories,
    }) %>
    <div class="<%= namespace %>-Layout_Label">
      <ul class="c-Label_List">
        <li class="c-Label_Normal">エントリー必要</li>
        <li class="c-Label_Normal">ご契約者様対象</li>
      </ul>
      <p class="<%= namespace %>-Layout_Label-txt">ポイント：付与日を含めて6カ月の期間限定ポイント</p>
    </div>

    <div class="<%= namespace %>-Hero">
      <div class="<%= namespace %>-Hero_Container">
        <p class="<%= namespace %>_kv"><%= pointback %></p>
        <h1>
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/area/campaign/japanpost/pointback/jp-pointpack-KV-sp.png" width="100%">
            <img src="<%= sitepath %>assets/img/area/campaign/japanpost/pointback/jp-pointpack-KV-pc.png" width="1440" height="300" alt="<%= pagetitle %>">
          </picture>
        </h1>
      </div>
    </div>
    <div class="<%= namespace %>_Top u-Adjust_Pb-24 u-Adjust_Pt-8">
      <div class="l-System_Container">
        <p class="c-Txt_Cap">
          ※アンケートを送信するとエントリー完了となります<br>
          ※特典の対象は、おひとり様1回線のみとなります
        </p>
        <% if (campaignState === 'finish') { %>
          <div class="u-Adjust_Align-center u-Adjust_Mt-24">
            <p class="c-Txt_Emp-02 c-Heading_Lv4">
              本キャンペーンは2024年10月31日23時59分をもちまして終了いたしました。<br>
              このページに掲載されている情報は、キャンペーン終了時点のものです。
            </p>
          </div>
        <% } %>

        <div class="u-Adjust_Align-center">
          <p class="c-Txt_Normal-s u-Adjust_Mt-8"><%= japanpostdata %></p>
          <p class="u-Adjust_Mt-24">
            <span class="c-Txt_Emp-01 ">【キャンペーン期間】</span>
            <br class="u-Show_Sp">
            <%= entryData %>
          </p>
        </div>
      </div>
    </div>

    <div class="l-System_Container u-Adjust_Mt-56">
      <h2 class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンの流れ</h2>
      <ul class="<%= namespace %>-Layout_Flow c-Flow">
        <li>
          <h3 class="c-Heading_Lv3 u-Adjust_Mb-16">
            <span class="<%= namespace %>-Layout_Flow-step">STEP1</span>
            アンケートに回答してエントリー
          </h3>
          <div class="l-Media_Grid">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/campaign/japanpost/pointback/img-01.png" alt="アンケートに回答してエントリー" width="304" height="160">
            </div>
            <div class="u-Adjust_Mt-16">
              <p class="c-Txt_Normal-s u-Adjust_Mt-8">アンケート画面に進んで設問に回答してください</p>
              <div class="u-Adjust_Mt-16 <%= namespace %>-Layout_Btn">
                <a class="c-Btn_Primary-large" aria-disabled="false" href="<%= sitepath %>area/questionare/japanpost/?cp=pointback&l-id=mi_rmb_web_20240415_jp_pointback_questionnare"><span>アンケート画面に進む</span></a>
              </div>
              <p class="u-Adjust_Mt-16 c-Txt_Normal-s u-Adjust_Align-left">
                <span class="c-Txt_Emp-02">※ご家族がご利用される場合でも、アンケート画面では従業員様ご本人の情報を入力してください</span><br>
                ※ご自身とご家族がそれぞれエントリーする場合には、楽天IDが異なれば、同じ社員番号で複数アンケート回答してもキャンペーン適用対象となります<br>
                ※アンケートは初回のみで、毎月の回答は不要
              </p>
            </div>
          </div>
        </li>
        <li>
          <h3 class="c-Heading_Lv3 u-Adjust_Mb-16 c-Txt_Emp-02">毎月500ポイントプレゼント！</h3>
          <div class="l-Media_Grid <%= namespace %>-Layout_Flex-center">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/campaign/japanpost/pointback/img-02.png" alt="毎月500ポイントプレゼント！" width="304" height="140">
            </div>
            <div>
              <p class="c-Txt_Normal">キャンペーン条件達成の6ヶ月後の末日頃から毎月付与</p>
              <p class="c-Txt_Cap">
                ※ポイント付与期間は<%= enddate %>(金)までとなります
              </p>
            </div>
          </div>
        </li>
      </ul>
      <div class="l-Media_Grid-half u-Adjust_Mt-64">
        <div class="l-Media_Image">
          <a class="c-Banner_Hover-act" href="<%= sitepath %>tips/gservice/?l-id=campaign_japanpost_pointback_tips_gservice">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/japanpost/pointback/brn-tips-gservice-343-108.png" width="686" height="216">
              <img src="<%= sitepath %>assets/img/campaign/japanpost/pointback/brn-tips-gservice-1032-160.png" width="1032" height="160" alt="70以上のサービスの中から楽天モバイルご契約者様向けに厳選 楽天のおトクなサービス">
            </picture>
          </a>
        </div>
        <div class="l-Media_Image">
        <a class="c-Banner_Hover-act" href="<%= sitepath %>guide/point/?l-id=campaign_japanpost_pointback_guide_point">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/japanpost/pointback/brn-guide-point-343-108.png" width="686" height="216">
            <img src="<%= sitepath %>assets/img/campaign/japanpost/pointback/brn-guide-point-1032-160.png" width="1032" height="160" alt="楽天ポイント スマホ本体代や月々のお支払いにも使える!">
          </picture>
        </a>
        </div>
      </div>
    </div>
    <div class="<%= namespace %>-Layout_Campaign">
      <div class="l-System_Container">
        <%_ if (campaignState === "finish") { _%>
          <div class="u-Adjust_Align-center u-Adjust_Mt-32 u-Adjust_Mb-32">
            <p class="c-Txt_Normal-m c-Txt_Emp-02">
              本キャンペーンは<%= enddate %>をもちまして終了いたしました。<br>
              このページに掲載されている情報は、キャンペーン終了時点のものです。
            </p>
          </div>
        <%_ } _%>
        <!-- 2262 -->
        <div id="campaign-rule2262">
          <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2262', level: 'h2', year: '2024', class: 'u-Adjust_Mt-24' }}) %>
        </div>
      </div>
    </div>

    <footer class="g-Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <%- include('/include/_breadcrumbs', {
          type: 'foot',
          pagetitle,
          directories,
        }) %>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
</body>
</html>
