<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "ステップ1" -%>
<% const directories = [{path: hikariroot.path + "support/", label:"お客様サポート"}, {path: hikariroot.path + "support/setting/mail/", label:"メール設定方法"}, {path: "", label:"Outlook2019／Outlook2021／Microsoft365"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Outlook2019／Outlook2021／Microsoft365のメール設定方法をご案内します。',
    noindex: false,
    pathname: filepath,
    ishikari: true,
    canonical_custom: 'https://network.mobile.rakuten.co.jp/hikari/support/setting/mail/office365/step-01/',
  });
%>
<%- include('/include/hikari/_common-v2-hikari-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/support/support.css?20240424">
<%- include('/include/_append-head-hikari') %>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>

<div class="l-System">

  <style>
    .c-hikari-Breadcrumbs_Head ul li:nth-last-child(2) .c-Icon_Chevron-right,
    .c-hikari-Breadcrumbs_Foot ul li:nth-last-child(2) .c-Icon_Chevron-right {
      margin-left: 0.5em;
    }
  </style>
  <%- include('/hikari/include/_header', { headerType: 'normal', pagetitle: pagetitle, directories: directories, tax: false }) %>

  <div class="l-hikari-Section_Main">
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1">Outlook2019／Outlook2021／Microsoft365のメール設定方法</h1>
      <div class="l-hikari-Section_Main-lead">
        <p>Outlook2019／Outlook2021／Microsoft365（メールアカウントの作成）の方法をご案内します。</p>
        <ul class="c-Txt_Cap u-Adjust_Mt-8">
          <li><span>※</span>この説明は、Outlook2019／Outlook2021／Microsoft365が正常にインストールされていることを前提として作成しています。</li>
          <li class="u-Adjust_Mt-8"><span>※</span>本手順での画面は「Microsoft365」を使用しています。</li>
        </ul>
      </div>

      <div class="hikari-support-Nav">
        <ul>
          <li><span class="c-Txt_Emp">ステップ1. メールアカウントの作成</span></li>
          <li><a href="<%= sitepath %><%= hikariroot.path %>support/setting/mail/office365/step-02/" data-lid_no="01" class="c-Link_Txt-inline">ステップ2. メールアカウントの追加<span class="c-Icon_Arrow-right-l"></span></a></li>
          <li><a href="<%= sitepath %><%= hikariroot.path %>support/setting/mail/office365/step-03/" data-lid_no="01" class="c-Link_Txt-inline">ステップ3. メールアカウントの設定確認<span class="c-Icon_Arrow-right-l"></span></a></li>
          <li><a href="<%= sitepath %><%= hikariroot.path %>support/setting/mail/office365/step-04/" data-lid_no="01" class="c-Link_Txt-inline">ステップ4. メールの作成・送受信<span class="c-Icon_Arrow-right-l"></span></a></li>
        </ul>
      </div>

      <div class="l-hikari-Section_Sub-short">
      <h2 class="c-Heading_Lv2 u-Adjust_Txt-break">ステップ1. Outlook2019／Outlook2021／Microsoft365のメールアカウントの作成手順</h2>

        <ul class="l-hikari-Section_Sub-content-middle c-Flow">
          <li>
            <h3 class="c-Heading_Lv3">1. 初回起動時</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/office365/step-01/office365_step-01_img01.png" alt="">
              </div>
              <div>
                <p>起動後、こちらの画面にメールアドレスを入力して「詳細オプション」を選択します。選択後表示される「自分で自分のアカウントを手動で設定」にチェックし、「接続」を選択します。</p>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">2. サービスの選択</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/office365/step-01/office365_step-01_img02.png" alt="">
              </div>
              <div>
                <p>「POP」を選択します。</p>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">3. POPアカウントの設定</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/office365/step-01/office365_step-01_img04-240214.png" alt="">
              </div>
              <div>
                <p>パスワードを入力、接続をクリックします。</p>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">4. インターネット電子メール</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/office365/step-01/office365_step-01_img11.png" alt="">
              </div>
              <div>
                <p>「インターネット電子メール」の画面が表示された場合、自動で設定される値と異なるため、ここでは「キャンセル」を選択してください。</p>
              </div>
            </div>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/office365/step-01/office365_step-01_img12.png" alt="">
              </div>
              <div>
                <p>「問題が発生しました」と表示されますので、「アカウント設定の変更」を選択します。</p>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">5. POPアカウントの設定</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/office365/step-01/office365_step-01_img03.png" alt="">
              </div>
              <div>
                <p>以下の情報を入力し、「次へ」を選択します。</p>
                <div class="c-Table_Wrap l-hikari-Section_Sub-content-tall c-Table hikari-support-Table">
                  <table class="c-Table_Container">
                    <thead>
                      <tr>
                        <th colspan="2">受信メール</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><span>1. サーバー</span></td>
                        <td><span>popmail.gol.com</span></td>
                      </tr>
                      <tr>
                        <td><span>2. ポート</span></td>
                        <td><span>995</span></td>
                      </tr>
                      <tr>
                        <td><span>3. このサーバーでは暗号化された接続（SSL／TLS）が必要</span></td>
                        <td><span>チェックする（On）</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="c-Table_Wrap l-hikari-Section_Sub-content-tall c-Table hikari-support-Table">
                  <table class="c-Table_Container">
                    <thead>
                      <tr>
                        <th colspan="2">送信メール</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><span>4. サーバー</span></td>
                        <td><span>mail.gol.com</span></td>
                      </tr>
                      <tr>
                        <td><span>5. ポート</span></td>
                        <td><span>465</span></td>
                      </tr>
                      <tr>
                        <td><span>6. 暗号化方法</span></td>
                        <td><span>［SSL／TLS］を選択</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">6. パスワード設定</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/office365/step-01/office365_step-01_img04-240214.png" alt="">
              </div>
              <div>
                <p>パスワードを入力し、「接続」を選択します。</p>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">7. POPアカウント設定完了</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/office365/step-01/office365_step-01_img05.png" alt="">
              </div>
              <div>
                <p>「Outlook Mobile をスマートフォンにも設定する」のチェックを外し、「完了」を選択します。</p>
              </div>
            </div>
        </li>

          <li>
            <h3 class="c-Heading_Lv3">8. メール設定の開始</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/office365/step-01/office365_step-01_img06.png" alt="">
              </div>
              <div>
                <p>受信トレイ画面に戻り、「ファイル」を選択します。</p>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">9. アカウント情報を設定</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/office365/step-01/office365_step-01_img07.png" alt="">
              </div>
              <div>
                <p>「アカウント設定」を選択すると表示される「アカウント設定（A）」を選択します。</p>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">10. アカウント設定の変更</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/office365/step-01/office365_step-01_img08.png" alt="">
              </div>
              <div>
                <p>「変更（A）」を選択します。</p>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">11. メールアカウントの設定</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/office365/step-01/office365_step-01_img09-240214.png" alt="">
              </div>
              <div>
                <p>以下を参考に情報を入力し、「次へ」を選択します。</p>
                <div class="c-Table_Wrap l-hikari-Section_Sub-content-tall c-Table hikari-support-Table">
                  <table class="c-Table_Container">
                    <thead>
                      <tr>
                        <th colspan="2">全般設定</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><span>1. 自分のお名前</span></td>
                        <td><span>任意のお名前を入力</span></td>
                      </tr>
                      <tr>
                        <td><span>2. アカウント名</span></td>
                        <td><span>メールアドレスを入力</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="c-Table_Wrap l-hikari-Section_Sub-content-tall c-Table hikari-support-Table">
                  <table class="c-Table_Container">
                    <thead>
                      <tr>
                        <th colspan="2">メールの設定（任意）</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><span><p>3. サーバーにメッセージのコピーを残す</p>
                          <p class="c-Txt_Cap u-Adjust_Mt-8">※上記にチェックを入れ、［サーバーから削除する］にチェックを入れない場合、メールボックスが満杯となりメールが受信できなくなる場合があります。</p></span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">12. セットアップ完了</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/office365/step-01/office365_step-01_img10-240214.png" alt="">
              </div>
              <div>
                <p>「完了」を選択して設定終了となります。</p>
              </div>
            </div>
          </li>
        </ul>

      </div>

      <div class="hikari-support-Nav u-Adjust_Pt-48">
        <ul>
          <li><span class="c-Txt_Emp">ステップ1. メールアカウントの作成</span></li>
          <li><a href="<%= sitepath %><%= hikariroot.path %>support/setting/mail/office365/step-02/" data-lid_no="02" class="c-Link_Txt-inline">ステップ2. メールアカウントの追加<span class="c-Icon_Arrow-right-l"></span></a></li>
          <li><a href="<%= sitepath %><%= hikariroot.path %>support/setting/mail/office365/step-03/" data-lid_no="02" class="c-Link_Txt-inline">ステップ3. メールアカウントの設定確認<span class="c-Icon_Arrow-right-l"></span></a></li>
          <li><a href="<%= sitepath %><%= hikariroot.path %>support/setting/mail/office365/step-04/" data-lid_no="02" class="c-Link_Txt-inline">ステップ4. メールの作成・送受信<span class="c-Icon_Arrow-right-l"></span></a></li>
        </ul>
      </div>

    </div>
  </div>

  <footer class="g-Footer">
    <%- include('/hikari/include/_footer', { pagetitle: pagetitle, directories: directories, hiddenFooterCta: true, hiddenCta: true }) %>
  </footer>

</div>
<%- include('/include/hikari/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
