<% const pagetitle = "楽天モバイルキャリア決済 お支払い金額の最大2%分の楽天ポイント還元キャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "payment-google" -%>
<% const namespace2 = "vissel-kobe" -%>
<% const isEntry = false -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '「楽天モバイルキャリア決済」利用で楽天ポイントがゲットできるお得なキャンペーンのご案内です。キャンペーン期間中にAndroid™でのアプリ購入やアプリ内課金を、「楽天モバイルキャリア決済」でお支払いいただいた方に、支払い金額（税込）の最大2％分の楽天ポイントを還元します。',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/vissel-kobe/vissel-kobe.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/payment-google/payment-google.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/_entry-button/rex-overwrite_v5.css?20240424">
<%- include('/include/_append-head') %>
<link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<%- include('/include/_breadcrumbs', {
  type: 'head',
  directories,
  pagetitle,
}) %>
<!--
<div class="<%= namespace %>-Layout-Label">
  <ul class="c-Label_List <%= namespace %>-Layout-Label_List">
    <li class="c-Label_Normal">ご契約者様対象</li>
    <li class="c-Label_Normal">対象製品限定</li>
    <li class="c-Label_Normal">エントリー必要</li>
  </ul>
  <p class="<%= namespace %>-Layout-Label_Point">ポイント：付与日を含めて6カ月の期間限定ポイント</p>
</div>
-->
<div class="<%= namespace %>-Hero">
  <div class="<%= namespace %>-Hero_Main" style="background-image: none;">
    <h1>
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/payment-google/hero-375-240-240201.png">
        <img src="<%= sitepath %>assets/img/campaign/payment-google/hero-1440-300-240201.png" width="2000" height="300" alt="Android™でのアプリ購入やアプリ内課金が楽天モバイルキャリア決済利用で最大2％ポイント還元！">
      </picture>
    </h1>
  </div>
</div>

<div class="l-System_Container">
  <div class="<%= namespace %>-Layout_Section <%= namespace %>-Section_List">
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      <span class="c-Txt_Emp-02">※「Rakuten最強プラン（データタイプ）」は対象外です。</span><br>
      ※1 楽天カードご利用通常ポイント1%＋キャリア決済ご利用1%ポイント還元。<br>
      ※本キャンペーンは予告なく内容の変更もしくは中止させていただく場合がございます。あらかじめご了承ください。
    </p>
    <%_ if (isEntry) { _%>
      <div class="u-Adjust_Align-center u-Adjust_Mt-16">
        <p class="c-Txt_Emp-02">
          【キャンペーン期間 ／エントリー期間】<br>
          2023年12月1日（金）0:00～2024年1月31日（水）23:59
        </p>
        <div class="<%= namespace %>-Layout_Btn-center">
          <!-- mounting point for button 1 -->
          <div id="rex-ceb-01" class="campaign-Rexoverwrite campaign-Rexoverwrite-center"></div>
        </div>
      </div>
    <%_ } _%>
    <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-32">
      <li><a href="#campaign-flow" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーン参加方法を確認する</a></li>
      <li><a href="#campaign-rule" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルールを見る</a></li>
    </ul>
  </div>
</div>

<div class="c-Theme-Light u-Adjust_Mt-16">
  <div class="l-System_Container">

    <div class="u-Adjust_Align-center u-Adjust_Mt-16 <%= namespace %>-Layout_Appeal" data-ratId="campaign_payment-google_scroll-01_details" data-ratevent="appear" data-ratparam="all">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/payment-google/img-01-sp-240201.png">
        <img src="<%= sitepath %>assets/img/campaign/payment-google/img-01-pc-240201.png" width="1032" height="339" alt="いつものAndroid™でのアプリ購入やアプリ内課金を楽天モバイルキャリア決済に変えるだけで最大2％ポイント還元！" loading="lazy">
      </picture>
    </div>


    <p class="c-Txt_Cap u-Adjust_Mt-16">※1 ポイントは付与日を含めて6カ月の期間限定ポイントとなります。</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">※ 楽天カードでのお支払いは100円につき１ポイント付与です。楽天カードでのお支払いの詳細は<a href="<%= sitepath %>guide/payment/" class="c-Link_Txt">こちら</a>をご確認ください。</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">※ Android、Google Play、Google Play ロゴは Google LLC の商標です。</p>
  </div>
</div>

<div class="l-System_Container">
  <div class="<%= namespace %>-Layout_Foot">
    <div class="u-Adjust_Mt-40">
      <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="payment" data-ratId="campaign_payment-google_scroll-02_about" data-ratevent="appear" data-ratparam="all">楽天モバイルキャリア決済とは？</h2>

      <div class="l-Media_Grid">
        <div class="l-Media_Image">
          <div class="u-Adjust_Align-center u-Adjust_Mt-24">
            <img src="<%= sitepath %>assets/img/campaign/payment-google/img-02-221215.png" alt="">
          </div>
        </div>
        <div class="u-Adjust_Align-left u-Adjust_Mt-24">
          <p class="u-Adjust_Mt-16">Google Playストアでダウンロードしたゲームアプリ内での課金や、LINEコイン、YouTube Premium、電子マガジン、Google Oneなどの料金支払いを楽天モバイルのお支払いと同じ方法で決済できるサービスです。<br>
          楽天回線対応のAndroid製品の場合、「Rakuten最強プラン」ご契約者様はGoogle Play ストアの設定だけでご利用になれます。</p>

          <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>Google Play ストアの設定以外に、「<a href="<%= ecarepath %>my-rakuten-mobile" class="c-Link_Txt">my 楽天モバイル</a>」でご利用設定を「有効」にする必要があります。初期設定時は「有効」に設定されています。</p>
          <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>LINEコインは、LINE株式会社の商標または登録商標です。</p>

          <p class="c-Txt_Emp-02 u-Adjust_Mt-16">本サービスは、楽天モバイルのお支払い方法としてクレジットカードまたはデビットカードを設定済みの方のみ対象です。<br>
    クレジットカード払いまたはデビットカード払い以外のお客様がご利用設定を「有効」にされても、Google Play ストアで本サービスをご利用いただくことはできません。</p>
          <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/payment/google/setting/" class="c-Link_Txt-inline u-Adjust_Mt-24 c-Link_Txt">ご利用限度額（初期設定）と月額最大利用料の変更方法<span class="c-Icon_Chevron-right"></span></a></p>
          <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/payment/card/" class="c-Link_Txt-inline u-Adjust_Mt-24 c-Link_Txt">クレジットカード・デビットカードでのお支払い方法<span class="c-Icon_Chevron-right"></span></a></p>
          <div class="u-Adjust_Mt-32">
            <a href="<%= sitepath %>guide/payment/google/?l-id=campaign_payment-google_guide_payment-google" class="c-Btn_Secondly u-Adjust_Pt-16 u-Adjust_Pb-16"><span>楽天モバイルキャリア決済 詳細を見る</span></a>
          </div>
        </div>
      </div>
    </div>
          <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
            <a href="<%= sitepath %>campaign/spu/payment/?l-id=campaign_payment-google_spu_payment" class="c-Banner_Hover-act">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/payment-google/img-spu-343-108-20240401.png">
                <img src="<%= sitepath %>assets/img/campaign/payment-google/img-spu-1032-160-20240401.png" width="1032" height="160" alt="SPU（スーパーポイントアップ）楽天市場のお買い物がポイント最大17倍※条件あり 楽天モバイルキャリア決済ご利用でポイント＋2倍" loading="lazy">
              </picture>
            </a>
          </div>

          <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
            <a href="<%= sitepath %>campaign/youtubepremium/?l-id=campaign_payment_campaign_youtubepremium" class="c-Banner_Hover-act">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/network-343-108-20230510.png" width="686" height="216">
                <img src="<%= sitepath %>assets/img/bnr/network-1032-160-20230510.png" width="1032" height="160" alt="YouTube Premium 3カ月無料キャンペーン" loading="lazy">
              </picture>
            </a>
          </div>
  </div>
</div>
  <div id="campaign-flow" class="c-Theme-Light u-Adjust_Mt-64">
    <div class="l-System_Container payment-google-Step">
      <h2 class="c-Heading_Lv2" data-ratId="campaign_payment-google_scroll-03_step" data-ratevent="appear" data-ratparam="all">
        最大2％ポイントを受け取るための4つのステップ
      </h2>
      <div class="c-Accordion u-Adjust_Mt-24">
        <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
          <span class="c-Txt_Emp-02 u-Adjust_Mr-8 u-Adjust_Ml-8">STEP 1</span>
        <span>お支払い方法を楽天カードに設定する</span>
        </button>
        <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
          <div class="u-Adjust_Mr-16 u-Adjust_Ml-16 u-Adjust_Pb-24">
            <p class="u-Adjust_Mt-8 u-Adjust_Align-left">楽天モバイルキャリア決済をご利用いただくためには、お支払い方法にクレジットカード・デビットカードを設定する必要があります。</p>
            <p class="c-Txt_Emp-02">楽天カードを設定すると、お支払い金額の1%がポイント還元となります。</p>
            <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/payment/change/?l-id=campaign_payment-google_guide_payment_change#anc02" class="c-Link_Txt-inline">設定方法を見る<span
                class="c-Icon_Chevron-right"></span></a>
            </p>
            <p class="u-Adjust_Mt-16">
              <a href="https://ad2.trafficgate.net/t/r/11262/1441/99636_99636/" target="_blank" class="c-Link_Txt-inline">楽天カードの詳細を見る<span
                  class="c-Icon_New-window-l"></span></a>
            </p>
          </div>
        </div>
      </div>
      <div class="c-Accordion">
        <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
          <span class="c-Txt_Emp-02 u-Adjust_Mr-8 u-Adjust_Ml-8">STEP 2</span>
        <span>「my 楽天モバイル」で利用設定をする</span>
        </button>
        <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
          <div class="u-Adjust_Mr-16 u-Adjust_Ml-16 u-Adjust_Pb-24">
          <p class="u-Adjust_Mt-8 u-Adjust_Align-left">楽天モバイルキャリア決済をご利用いただくには、「my 楽天モバイル」でキャリア決済の利用設定が「有効」になっている必要があります。</p>
          <p class="c-Txt_Cap u-Adjust_Mt-16 c-Txt_Emp-02 u-Adjust_Align-left">※初期設定時は「有効」に設定されています。</p>

          <ul class="c-Flow">
            <li class="u-Adjust_Align-left">
              <h3 class="c-Heading_Lv4">1. 「my 楽天モバイル」にログインする</h3>
              <div class="c-Box_App u-Adjust_Pt-16 u-Adjust_Mt-16">
                <div class="c-Box_App-icon"><img src="/assets/img/common/icon-rmb-app.png" alt="my 楽天モバイル" class="u-Adjust_Mt-0"></div>
                <div class="c-Box_App-txt">
                  <p class="c-Box_App-ttl">my 楽天モバイル</p>
                  <p>各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                  <ul class="c-Box_App-link u-Adjust_Mt-16">
                    <li class="guide-App_Btn-store">
                      <div class="guide-App_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="/assets/img/common/btn-googleplay.png" width="149" alt="Google Play" class="u-Adjust_Mt-0 u-Adjust_Pt-16" loading="lazy"></a></div>
                    </li>
                    <li>
                      <div class="guide-App_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="/assets/img/common/btn-appstore.png" width="149" alt="Apple Store" class="u-Adjust_Mt-0 u-Adjust_Pt-16" loading="lazy"></a></div>
                    </li>
                  </ul>
                  <ul class="c-Box_App-link u-Adjust_Mt-16">
                    <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                    <li><a href="<%= ecarepath %>my-rakuten-mobile/" class="c-Btn_Regular">Webからログインする</a></li>
                  </ul>
                </div>
              </div>
            </li>

            <li class="u-Adjust_Align-left">
              <h3 class="c-Heading_Lv4">2. 「利用料金」をタップする</h3>
              <div class="u-Adjust_Pt-16">
                      <div class="l-Media_Image">
                          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/google/setting/img-23-230718.png" width="300" height="596" alt="" class="c-Img_Capture u-Adjust_Mt-0" loading="lazy"></figure>
                      </div>
                  </div>
            </li>
            <li class="u-Adjust_Align-left">
              <h3 class="c-Heading_Lv4">3. キャリア決済の「設定・ご利用明細確認」をタップする</h3>
              <div class="u-Adjust_Pt-16">
                      <div class="l-Media_Image">
                          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/google/setting/img-22-230718.png" width="300" height="257" alt="" class="c-Img_Capture u-Adjust_Mt-0" loading="lazy"></figure>
                      </div>
                  </div>
            </li>
            <li class="u-Adjust_Align-left">
              <h3 class="c-Heading_Lv4">4. 利用設定を有効にする</h3>
              <p class="u-Adjust_Mt-8">キャリア決済の画面が表示されますので、設定を「有効」（ピンク枠の状態）に変更してください。</p>

              <div class="u-Adjust_Pt-16">
                <div class="l-Media_Image">
                  <figure class="u-Adjust_Mt-16 u-Adjust_Align-center"><img
                      src="<%= sitepath %>assets/img/guide/payment/google/setting/img-04-230718.png" width="300" height="354"
                      alt="" class="c-Img_Capture u-Adjust_Mt-0" loading="lazy"></figure>
                </div>
              </div>
              <div class="u-Adjust_Pt-16">
                <p class="c-Txt_Normal u-Adjust_Mt-32">
                  切り替え後、ポップアップが表示されます。「OK」をタップしてください。
                </p>
                <div class="l-Media_Image">
                  <figure class="u-Adjust_Mt-16 u-Adjust_Align-center"><img
                      src="<%= sitepath %>assets/img/guide/payment/google/setting/img-05.png?210820" width="300" height="244" alt=""
                      class="c-Img_Capture u-Adjust_Mt-0" loading="lazy"></figure>
                </div>
              </div>
            </li>
          </ul>
            <p class="u-Adjust_Mt-8 u-Adjust_Align-left">以上で「my 楽天モバイル」でのキャリア決済利用設定は完了です。</p>
          </div>
        </div>
      </div>
      <div class="c-Accordion">
        <button id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true"
          aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
          <span class="c-Txt_Emp-02 u-Adjust_Mr-8 u-Adjust_Ml-8">STEP 3</span>
          <span>Google Play ストアの決済方法を設定する（初めてGoogle Play ストアで購入する場合のみ）</span>
        </button>
        <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3"
          aria-hidden="true" style="">
          <div class="u-Adjust_Mr-16 u-Adjust_Ml-16 u-Adjust_Pb-24">
            <ul class="c-Flow">
              <li class="u-Adjust_Align-left">
                <h3 class="c-Heading_Lv4">1. スマートフォンで以下のリンクから Google Play ストアの「お支払い方法の追加」画面にアクセスする</h3>
                <p class="u-Adjust_Mt-8">
                <a href="https://play.app.goo.gl/ELvH" class="c-Link_Txt-inline" target="_blank">Google Play ストア お支払い方法の追加<span class="c-Icon_Chevron-right"></span></a>
              </p>
              </li>
              <li class="u-Adjust_Align-left">
                <h3 class="c-Heading_Lv4">2. 楽天モバイルキャリア決済を有効にする</h3>
                <p class="u-Adjust_Mt-8">「楽天モバイルのキャリア決済を有効にしますか？」の画面が表示されます。<br>
                利用規約をご確認のうえ、楽天モバイルキャリア決済を有効にしてください。</p>
            <div class="u-Adjust_Pt-16 u-Adjust_Align-center">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/campaign/payment-google/img-flow-05.png" alt="" class="c-Img_Capture u-Adjust_Mt-0" width="300" height="429" loading="lazy">
              </div>
            </div>
              </li>
              <li class="u-Adjust_Align-left">
                <h3 class="c-Heading_Lv4">3. 「楽天モバイルのキャリア決済」を基本の決済方法に設定する</h3>
                <p class="u-Adjust_Mt-8">「お支払い方法」画面にお客様の電話番号が表示され、「楽天モバイルのキャリア決済を利用」が基本の決済方法として設定されます。</p>
                <p class="u-Adjust_Mt-8 c-Txt_Emp-02 c-Txt_Cap">※ キャリア決済の設定が完了すると、SMS（テキスト メッセージ）がお使いのスマートフォンに届く場合があります。<br>
                このメッセージは、Google Play アカウントのキャリア決済登録を完了するためのもので、自動的に生成、送信されます。お客様でご対応いただくことは特にございません。</p>
                <p class="u-Adjust_Mt-8 c-Txt_Emp-02 c-Txt_Cap">※ 楽天モバイルキャリア決済設定時に、SMS送信料3円（税込3.3円）のご請求が発生します。あらかじめご了承ください。</p>
                <div class="u-Adjust_Pt-16 u-Adjust_Align-center">
                  <div class="l-Media_Image">
                    <img src="<%= sitepath %>assets/img/campaign/payment-google/img-flow-06.png" alt="" class="c-Img_Capture u-Adjust_Mt-0" width="300" height="420" loading="lazy">
                  </div>
                </div>
              </li>
            </ul>
            <p class="u-Adjust_Mt-8 u-Adjust_Align-left">以上でGoogle Play ストアの設定は完了です。</p>
          </div>
        </div>
      </div>
      <div class="c-Accordion">
        <button id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true"
          aria-controls="accordion-content-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
          <span class="c-Txt_Emp-02 u-Adjust_Mr-8 u-Adjust_Ml-8">STEP 4</span>
          <span>楽天モバイルキャリア決済を利用してアプリ購入やアプリ内課金をする</span>
        </button>
        <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true" style="">
          <div class="u-Adjust_Mr-16 u-Adjust_Ml-16 u-Adjust_Pb-24">
            <div class="c-Tab js-Tab u-Adjust_Mt-8">
              <ul class="c-Tab_Items" role="tablist">
                <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">
                  すでにGoogle Play ストアで購入したことがある場合</li>
                <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">
                  初めてGoogle Play ストアで購入する場合</li>
              </ul>
              <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
                <p class="u-Adjust_Mt-8 u-Adjust_Align-left">対象のコンテンツご購入時、前回利用したお支払い方法が選択されていますので、<span class="c-Txt_Emp-02">お支払い方法を「楽天モバイルのキャリア決済」に変更</span>してください。</p>
                <p class="u-Adjust_Mt-8 c-Txt_Emp-02 c-Txt_Cap u-Adjust_Align-left">※「楽天モバイルキャリア決済」でのご購入がキャンペーン対象となります。</p>
                <ul class="c-Flow u-Adjust_Mt-24">
                  <li class="u-Adjust_Align-left">
                    <h3 class="c-Heading_Lv4">1. コンテンツ購入画面の支払い方法をタップする</h3>
                    <p class="u-Adjust_Mt-8">例）前回クレジットカードでお支払いをしていた場合</p>
                    <div class="u-Adjust_Pt-16 u-Adjust_Align-center">
                      <div class="l-Media_Image">
                        <img src="<%= sitepath %>assets/img/campaign/payment-google/img-flow-14.png" alt="" class="c-Img_Capture u-Adjust_Mt-0" width="300" height="609" loading="lazy">
                      </div>
                    </div>
                  </li>
                  <li class="u-Adjust_Align-left">
                    <h3 class="c-Heading_Lv4">2. お支払い方法を「楽天モバイルのキャリア決済」に変更する</h3>
                    <p class="u-Adjust_Mt-8">楽天モバイルの電話番号をタップし、お支払い方法を「楽天モバイルのキャリア決済」に変更してください。<br>次回以降は、「楽天モバイルの決済を利用」が基本の決済方法として設定されます。</p>
                <div class="u-Adjust_Pt-16 u-Adjust_Align-center">
                  <div class="l-Media_Image">
                    <img src="<%= sitepath %>assets/img/campaign/payment-google/img-flow-15.png" width="300" height="579" alt="" class="c-Img_Capture u-Adjust_Mt-0" loading="lazy">
                  </div>
                </div>
                  </li>
                  <li class="u-Adjust_Align-left">
                    <h3 class="c-Heading_Lv4">3. 楽天モバイルキャリア決済でコンテンツを購入する</h3>
                    <p class="u-Adjust_Mt-8">お支払い方法が「楽天モバイルのキャリア決済」になっている（楽天モバイルの電話番号が表示されている）ことをご確認のうえ、ご購入手続きを完了してください。</p>
                <div class="u-Adjust_Pt-16 u-Adjust_Align-center">
                  <div class="l-Media_Image">
                    <img src="<%= sitepath %>assets/img/campaign/payment-google/img-flow-16.png" alt="" width="300" height="609" class="c-Img_Capture u-Adjust_Mt-0" loading="lazy">
                  </div>
                </div>
                  </li>
                </ul>
                <p class="u-Adjust_Mt-8 u-Adjust_Align-left">以上で購入完了です。</p>

              </div>
              <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
                <p class="u-Adjust_Mt-8 u-Adjust_Align-left">対象のコンテンツご購入時、お支払い方法が「楽天モバイルのキャリア決済」になっている（楽天モバイルの電話番号が表示されている）ことをご確認のうえ、ご購入手続きを完了してください。</p>
                <p class="u-Adjust_Mt-8 c-Txt_Emp-02 c-Txt_Cap u-Adjust_Align-left">※「楽天モバイルキャリア決済」でのご購入がキャンペーン対象となります。</p>
                <div class="u-Adjust_Pt-16 u-Adjust_Align-center">
                  <div class="l-Media_Image">
                    <img src="<%= sitepath %>assets/img/campaign/payment-google/img-flow-16.png" alt="" class="c-Img_Capture u-Adjust_Mt-0" width="300" height="609" loading="lazy">
                  </div>
                  <div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="u-Adjust_Pt-24 u-Adjust_Pb-24 u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/campaign/payment-google/img-flow-13.png" alt="" width="70" height="18" loading="lazy">
      </div>
      <div class="c-Infobox_Standing-info" style="background: #fff;border: 1px solid #e0e0e0;">
        <div class="u-Adjust_Align-center">
          <span class="c-Txt_Normal-l c-Txt_Emp-01">お支払い金額の</span>
          <span class="c-Txt_Normal-xl c-Txt_Emp-02"><br class="u-Show_Sp">最大2％</span>
          <span class="c-Txt_Normal-l c-Txt_Emp-01">分のポイントが後日付与されます！</span>
        </div>
        <div class="u-Adjust_Mt-16">
          <p class="u-Adjust_Align-left">キャリア決済ご利用に伴うポイント還元は、購入月の翌々月末日までに、付与いたします。</p>
        </div>
        <p class="c-Txt_Cap u-Adjust_Mt-8">
          ※1%分は楽天モバイルより期間限定ポイントで、1%分は楽天カードから通常ポイントで付与されます
        </p>
      </div>
      <div class="u-Adjust_Align-center u-Adjust_Mt-48">
        <a href="<%= sitepath %>guide/payment/google/google-setting/?l-id=campaign_payment-google_guide_payment-google-setting" class="c-Btn_Secondly u-Adjust_Pt-16 u-Adjust_Pb-16"><span>楽天モバイルキャリア決済のご利用方法を見る</span></a>
      </div>
    </div>
  </div>
  <div class="l-System_Container">
          <div class="u-Adjust_Mt-48">

  <h2 class="c-Heading_Lv2 u-Adjust_Mt-34" data-ratId="campaign_payment-google_scroll-04_faq" data-ratevent="appear" data-ratparam="all">よくあるご質問</h2>
  <div class="c-Accordion u-Adjust_Mt-24">
    <button type="button" id="high-freqency-accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="high-freqency-accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイルキャリア決済の利用方法を教えてほしい</button>
    <div id="high-freqency-accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="high-freqency-accordion-1" aria-hidden="true">
      <p><a href="<%= sitepath %>guide/payment/google/" class="c-Link_Txt">こちら</a>をご確認ください。</p>
    </div>
  </div>
  <div class="c-Accordion">
    <button type="button" id="high-freqency-accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="high-freqency-accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーン特典（楽天ポイント）の付与を受ける為に決済金額の最低利用金額はありますか</button>
    <div id="high-freqency-accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="high-freqency-accordion-2" aria-hidden="true">
      <p>最低100円以上ご利用いただく必要がございます。</p>
    </div>
  </div>
  <div class="c-Accordion">
    <button type="button" id="high-freqency-accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="high-freqency-accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>過去に楽天モバイルキャリア決済を利用したことがある場合、再度、楽天モバイルキャリア決済を利用しても対象になりますか</button>
    <div id="high-freqency-accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="high-freqency-accordion-3" aria-hidden="true">
      <p>再度楽天モバイルキャリア決済を設定していただければ対象となります。</p>
    </div>
  </div>
  <div class="c-Accordion">
    <button type="button" id="high-freqency-accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="high-freqency-accordion-content-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>複数回線所持している場合は、合算で付与されますか</button>
    <div id="high-freqency-accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="high-freqency-accordion-4" aria-hidden="true">
      <p>キャンペーン特典 （楽天ポイント）はご利用の回線ごとに算出し、合算したポイント数を進呈いたします。なお、複数回線所有している場合は、回線毎に設定が必要です。</p>
    </div>
  </div>
  <div class="c-Accordion">
    <button type="button" id="high-freqency-accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="high-freqency-accordion-content-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイルキャリア決済でのお支払いをキャンセルした場合どうなりますか</button>
    <div id="high-freqency-accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="high-freqency-accordion-5" aria-hidden="true">
      <p>お支払いをキャンセルされた場合は、本キャンペーンの特典適用対象外となります。</p>
    </div>
  </div>
  <div class="c-Accordion">
    <button type="button" id="high-freqency-accordion-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="high-freqency-accordion-content-6"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイルを解約した場合どうなりますか</button>
    <div id="high-freqency-accordion-content-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="high-freqency-accordion-6" aria-hidden="true">
      <p>ご解約された月から特典適用対象外となります。</p>
    </div>
  </div>

  <section id="campaign-rule" class="u-Adjust_Mt-64" data-ratId="campaign_payment-google_scroll-05_rule" data-ratevent="appear" data-ratparam="all">

    <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1922', level: 'h2', year: '2023', class: 'u-Adjust_Mt-24' }}) %>

  </section>

  <div class="c-Accordion u-Adjust_Mt-64" id="campaign-rule-old">
    <button id="accordion-001" class="c-Accordion_Trigger js-Accordion_Trigger un-limit-Layout_Accordion-trigger" aria-expanded="false" aria-controls="accordion-content-001"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>過去のキャンペーンルール</button>
    <div id="accordion-content-001" class="c-Accordion_Panel js-Accordion_Panel un-limit-Layout_Accordion-qapanel u-Adjust_Pt-32" role="region" aria-labelledby="accordion-001" aria-hidden="true" style="display:none;">
      <section>
        <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2087', level: 'h2', year: '2023', class: '' }}) %>
        <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1923', level: 'h2', year: '2023', class: 'u-Adjust_Mt-24' }}) %>
        <div class="u-Adjust_Mt-64">
          <h2 class="c-Heading_Lv2 u-Adjust_Align-left" id="campaign-rule1061">「Rakuten最強プラン」ご利用者対象 楽天モバイルキャリア決済 お支払い金額の10%分の楽天ポイント還元キャンペーン</h2>
          <div class="u-Adjust_Mt-24">
            <dl class="c-Dl_Origin">
              <div>
                <dt>キャンペーンコード</dt>
                <dd>
                  <p>1061</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</p>
                </dd>
              </div>
              <div>
                <dt>キャンペーン期間</dt>
                <dd>
                  <p class="c-Txt_Emp-01">プランのお申し込み期間</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※本キャンペーンの終了日が記載されていますが、2023年7月1日（土）00:00以降、新キャンペーンを実施予定です。詳細は2023年7月1日（土）00:00から開始する新キャンペーンをご確認ください。</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※新キャンペーンの準備状況によっては、本キャンペーン終了日の記載に関わらず延長する場合があります。</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※2023年6月1日（木）に、キャンペーンの終了日を、終了日未定から変更しました。</p>
                </dd>
              </div>
              <div>
                <dt>キャンペーン条件</dt>
                <dd>
                  <p>キャンペーン実施期間中に、 楽天モバイル「Rakuten最強プラン」をご利用の回線でGoogle Play ストアで有料のアプリやサービスなどの料金を、楽天モバイルキャリア決済でお支払いいただいた方。</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天回線対応のAndroid製品をご利用の方のみ対象となります。</p>
                </dd>
              </div>
              <div>
                <dt>特典内容</dt>
                <dd>
                  <p>楽天モバイルキャリア決済を利用して、Google Play ストアでお支払いされた金額（税込）の10%分の楽天ポイントをもれなくプレゼント。</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※ポイント付与は、お一人様毎月最大20,000ポイントを上限とさせていただきます。</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天回線対応のAndroid製品をご利用の方のみ対象となります。</p>
                </dd>
              </div>
              <div>
                <dt>ポイント付与日</dt>
                <dd>
                  <p>楽天ポイントの付与は、購入月の翌々月末日までに行います。楽天ポイントは、期間限定ポイントです。<br>例）2020年9月に購入した場合、2020年11月末日までに付与</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天ポイントの付与は、楽天モバイルより行います。</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※権利の譲渡はできません。</p>
                </dd>
              </div>
              <div>
                <dt>ポイント有効期限</dt>
                <dd>
                  <p>ポイント付与日を含めて6カ月</p>
                </dd>
              </div>
              <div>
                <dt>特典適用対象外</dt>
                <dd>
                  <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、特典適用対象外となります</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天モバイルキャリア決済でのお支払いをキャンセルされた場合</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※月の購入金額が10円に満たない場合</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※お支払いが正常に完了していない場合</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※ポイント付与までに楽天会員から退会している場合</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※当社または楽天グループ株式会社が定める規約などに違反した場合</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※そのほか、当社が会員として不適格であると合理的に判断した場合</p>
                </dd>
              </div>
              <div>
                <dt>注意事項</dt>
                <dd>
                  <p class="c-Txt_Cap">※楽天モバイルをご解約された場合、解約した月から特典の対象外となります。</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※デジタルコンテンツのご購入ごとにクレジットカードまたはデビットカードで決済処理を実施いたします。ご利用日に対する引き落とし時期は、ご利用のカード会社またはデビットカード発行会社の規定に準じます。</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※利用設定を「無効」にしている状態では、Google Play ストアで本サービスをご利用いただくことはできません。ご利用の際は、「<a href="<%= ecarepath %>my-rakuten-mobile" class="c-Link_Txt">my 楽天モバイル</a>」にてご利用設定を「有効」にしてください。初期設定時には「有効」に設定されています。</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天モバイルキャリア決済でのお支払い分は、楽天モバイルが毎月のご利用料金に対して付与するポイントの対象外です。</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天モバイルキャリア決済サービスは、楽天回線対応のAndroid製品をご利用の方のみを対象としております。</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</p>
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </section>
    </div>
  </div>

    <div class="<%= namespace %>-Layout_Section-btn u-Adjust_Mt-24">
      <p class="u-Adjust_Align-center"><a href="<%= sitepath %>guide/application/?lid-r=campaign_payment-google_guide_application" class="c-Btn_Primary-large"><span>楽天モバイルのお申し込みはこちらから</span></a></p>
    </div>
    <div class="<%= namespace %>-Bnr_Container">
      <h2 class="c-Heading_Lv2">楽天グループおすすめ情報</h2>
      <ul class="<%= namespace %>-Bnr_List">
        <li>
          <a href="https://event.rakuten.co.jp/computer/gpgiftcard/" target="_blank">
            <img src="<%= sitepath %>assets/img/bnr/gpgiftcard-480x270.png?210524" alt="GooglePlayギフトコード" width="480" height="270" loading="lazy">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- ReX UX Survey: Mounting point for embedded components -->
<div id="rexSurveyEmbedded" class="rexSurveyNamespace u-Adjust_Mt-48"></div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-un-limit-v2.ejs') %>

    <%- include('/include/footer/bnr/_bnr-news.ejs') %>

  </div>
  <div class="l-System_Container">
    <%- include('/include/_breadcrumbs', {
      type: 'foot',
      pagetitle,
      directories,
    }) %>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
<!-- ReX UX Survey: Config -->
  <!-- ReX Campaign Entry Button: Configuration -->
  <script>var rexButtons = {language: 'ja', buttons: [{"code":"/rmobile/cb8percent/231121","theme":"red","wide":false,"showCelebration":false,"alreadyAppliedText":"エントリー済みです","ids":["rex-ceb-01","rex-ceb-02"]}]}
  </script>
  <!-- ReX Campaign Entry Button: Script -->
  <script src="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/5.0.0/static/js/main.js" defer></script>

<script>
window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
</script>
<!-- ReX UX Survey: Script -->
<script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>
</body>
</html>
