<% const pagetitle = "Apple Watch SE（第2世代）製品情報" -%>
<% const directory = "apple-watch-se-2nd" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/apple-watch/", label:"Apple Watch"}] -%>
<% const currentDir = "apple-watch-se-2nd" %>
<% const l_id = 'product_apple-watch_apple-watch-se-2nd_shop' %>
<% const namespace = "product-apple-watch-se-2nd" -%>
<% const cp_l_id = 'product_apple-watch-se-2nd' -%>
<%
  const productInfo = {
    'name': 'Apple Watch SE（第2世代）',
    namespace: namespace,
    ctalabel: 'Apple Watch SE（第2世代） を購入する',
    casesize: [
      {
        'name': '40mm'
      },
      {
        'name': '44mm'
      }
    ],
    'color1': [
      {
        'code': '#1A2530',
        'name': 'ミッドナイトアルミニウム',
        'output': 'ミッドナイト<br>アルミニウム'
      },
      {
        'code': '#DED6D1',
        'name': 'スターライトアルミニウム',
        'output': 'スターライト<br>アルミニウム'
      },
      {
        'code': '#E0E0E0',
        'name': 'シルバーアルミニウム',
        'output': 'シルバー<br>アルミニウム'
      },
    ],
    'urlTop': 'https://onboarding.mobile.rakuten.co.jp/equipment-details?exid=600462',
    'urlFeeSimulation': 'https://onboarding.mobile.rakuten.co.jp/equipment-details?exid=600462',
    'ichiba': {
      'flag': false,
      'url': '',
    },
    'slider': [
      [//1
        `/assets/img/product/apple-watch/${currentDir}/pht-device-00.png?220909`,
        `/assets/img/product/apple-watch/${currentDir}/pht-device-01.png?220909`,
        `/assets/img/product/apple-watch/${currentDir}/pht-device-02.png?220909`,
        `/assets/img/product/apple-watch/${currentDir}/pht-device-03.png?220909`,
        `/assets/img/product/apple-watch/${currentDir}/pht-device-04.png?220909`,
      ],
      [//2
        `/assets/img/product/apple-watch/${currentDir}/pht-device-05.png?220909`,
        `/assets/img/product/apple-watch/${currentDir}/pht-device-06.png?220909`,
        `/assets/img/product/apple-watch/${currentDir}/pht-device-02.png?220909`,
        `/assets/img/product/apple-watch/${currentDir}/pht-device-03.png?220909`,
        `/assets/img/product/apple-watch/${currentDir}/pht-device-07.png?220909`,
      ],
      [//3
        `/assets/img/product/apple-watch/${currentDir}/pht-device-08.png?220909`,
        `/assets/img/product/apple-watch/${currentDir}/pht-device-09.png?220909`,
        `/assets/img/product/apple-watch/${currentDir}/pht-device-02.png?220909`,
        `/assets/img/product/apple-watch/${currentDir}/pht-device-03.png?220909`,
        `/assets/img/product/apple-watch/${currentDir}/pht-device-10.png?220909`,
      ],
      [//4
        `/assets/img/product/apple-watch/${currentDir}/pht-device-11.png?220909`,
        `/assets/img/product/apple-watch/${currentDir}/pht-device-12.png?220909`,
        `/assets/img/product/apple-watch/${currentDir}/pht-device-02.png?220909`,
        `/assets/img/product/apple-watch/${currentDir}/pht-device-03.png?220909`,
        `/assets/img/product/apple-watch/${currentDir}/pht-device-13.png?220909`,
      ],
      [//5
        `/assets/img/product/apple-watch/${currentDir}/pht-device-14.png?220909`,
        `/assets/img/product/apple-watch/${currentDir}/pht-device-15.png?220909`,
        `/assets/img/product/apple-watch/${currentDir}/pht-device-02.png?220909`,
        `/assets/img/product/apple-watch/${currentDir}/pht-device-03.png?220909`,
        `/assets/img/product/apple-watch/${currentDir}/pht-device-16.png?220909`,
      ],
      [//6
        `/assets/img/product/apple-watch/${currentDir}/pht-device-17.png?220909`,
        `/assets/img/product/apple-watch/${currentDir}/pht-device-18.png?220909`,
        `/assets/img/product/apple-watch/${currentDir}/pht-device-02.png?220909`,
        `/assets/img/product/apple-watch/${currentDir}/pht-device-03.png?220909`,
        `/assets/img/product/apple-watch/${currentDir}/pht-device-19.png?220909`,
      ],
    ],
    'movie': {
      'flag': false,
      'url': 'https://www.youtube.com/embed/Qddv4KKP0P0',
      'thumbnail': `/assets/img/product/apple-watch/${currentDir}/pht-device-05.png?210424-01`,
    },
  }
%>

<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: "Apple Watch SE（第2世代）（楽天モバイル）製品紹介。価格・スペック・特長ほか｜アップル ウォッチ エスイー ダイニセダイ（Apple）",
    noindex: false,
    pathname: filepath,
    canonical_custom: 'https://network.mobile.rakuten.co.jp/product/apple-watch/apple-watch-se-2nd-2023/'
  });
%>
<%- include('/include/_common-css-v2') %>
<%- include('/include/product/_category-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/apple-watch/<%= directory %>/product-<%= directory %>.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/apple-watch/product-apple-watch.css?20240426">
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/apple-watch/apple-watch-top.css?20240424">

<%- include('/include/product/_history-css') %>
<%- include('/include/_append-head') %>
<style>
  .modaal-video-wrap {
    margin: 0 !important;
  }
</style>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= namespace %>-Layout_Hero">
  <div class="l-System_Container">
    <p class="c-Txt_Cap u-Adjust_Align-right">※表記の金額はすべて税込です。</p>
  </div>
  <div class="l-System_Container u-Adjust_Mt-24">
    <p class="u-Adjust_Align-center">
      <span class="c-Txt_Emp-01 c-Txt_Normal-l">こちらのページでは、販売を終了いたしました。<br>
      最新のApple Watch SE（第2世代）は以下で取り扱っております。</span>
    </p>
    <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><a class="c-Btn_Regular" href="<%= sitepath %>product/apple-watch/apple-watch-se-2nd-2023/?l-id=end_product_apple-watch">最新のApple Watch SE（第2世代）を見る</a></div>
  </div>

  <div class="l-System_Container">
    <div class="<%= namespace %>-Utility_Disp-sp u-Adjust_Mt-16">
      <h1 class="c-Heading_Lv1 <%= namespace %>-Hero_Name">Apple Watch<br> SE（第2世代）</h1>
      <div class="<%= namespace %>-Hero_Reference u-Adjust_Mt-8 u-Adjust_Mb-24">
        <a href="<%= sitepath %>product/apple-watch/comparison/?l-id=apple-watch-se_top_apple-watch_comparison" class="c-Link_Txt-inline-icon js-scroll">ほかのApple Watchと比較する<span class="c-Icon_Chevron-right"></span></a>
      </div>
    </div>
    <section class="<%= namespace %>-Hero">
      <div class="<%= namespace %>-Hero_Main">
        <%_ productInfo.slider.forEach((value, index) => { _%>
          <%_ if( productInfo.color1.length <= 0 ) { _%>
            <ul class="<%= namespace %>-Hero_Main-view c-Carousel js-product-main js-device">
          <%_ } else if( index === 0 ) { _%>
            <ul class="<%= namespace %>-Hero_Main-view c-Carousel js-main<%- index + 1 %> js-device" aria-hidden="false">
          <%_ } else { _%>
            <ul class="<%= namespace %>-Hero_Main-view c-Carousel js-main<%- index + 1 %> js-device" aria-hidden="true">
          <%_ } _%>
            <%_ value.forEach((ele, index) => { _%>
              <li><span><img data-lazy="<%- ele %>" alt=""></span></li>
            <%_ }); _%>
            </ul>

          <%_ if( index === 0 ) { _%>
            <ul class="<%= namespace %>-Hero_Main-thumbnail thumbnail<%- index + 1 %> is-open">
          <%_ } else { _%>
            <ul class="<%= namespace %>-Hero_Main-thumbnail thumbnail<%- index + 1 %>">
          <%_ } _%>
            <%_ value.forEach((ele, index) => { _%>
              <li class="thumbnail-item"><span><img src="<%- ele %>" alt=""></span></li>
            <%_ }); _%>
            <%_ if( productInfo.movie.flag ) { _%>
              <li>
                <a class="js-video" href="<%- productInfo.movie.url %>">
                  <span><img src="<%- productInfo.movie.thumbnail %>" alt=""></span>
                </a>
              </li>
            <%_ } _%>
            </ul>
        <%_ }); _%>
        <p class="c-Txt_Cap u-Adjust_Align-center u-Adjust_Mt-16 u-Adjust_Mb-40">※GPS + Cellularモデルのみの取扱いとなります。</p>
        <div class="c-Carousel_Nav <%= namespace %>-Layout_Carousel"></div>
      </div>

      <div class="<%= namespace %>-Hero_Data">
        <div>
          <div class="<%= namespace %>-Layout_PC u-Adjust_Mt-16">
            <h1 class="c-Heading_Lv1 <%= namespace %>-Hero_Name"><%- productInfo.name %></h1>
            <div class="<%= namespace %>-Hero_Reference u-Adjust_Mt-8 u-Adjust_Mb-24">
              <a href="<%= sitepath %>product/apple-watch/comparison/?l-id=apple-watch-se_top_apple-watch_comparison" class="c-Link_Txt-inline-icon">ほかのApple Watchと比較する<span class="c-Icon_Chevron-right"></span></a>
            </div>
          </div>
          <h4 class="c-Heading_Lv4">ケースのサイズ</h4>
          <ul class="<%= namespace %>-Hero_Casesize-list u-Adjust_Mt-16">
            <li>
              <label class="c-Form_Radioblock-vertical">
                <input type="radio" name="casesize" value="40" checked autocomplete="off">
                <span class="c-Form_Radioblock-wrap <%= namespace %>-Hero_Casesize-list-wrap">
                  <span class="c-Form_Radio-icon"></span><span class="c-Form_Radioblock-label <%= namespace %>-Hero_Casesize-list-label">40mm</span>
                </span>
              </label>
            </li>
            <li>
              <label class="c-Form_Radioblock-vertical">
                <input type="radio" name="casesize" value="44" autocomplete="off">
                <span class="c-Form_Radioblock-wrap <%= namespace %>-Hero_Casesize-list-wrap">
                  <span class="c-Form_Radio-icon"></span><span class="c-Form_Radioblock-label <%= namespace %>-Hero_Casesize-list-label">44mm</span>
                </span>
              </label>
            </li>
          </ul>
          <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">ケース</h4>
          <%_ if( productInfo.color1.length > 0 ) { _%>
            <ul class="<%= namespace %>-Hero_Color-1 u-Adjust_Mt-16">
              <%_ productInfo.color1.forEach((value, index) => { _%>
                <%_ if( index === 0 ) { _%>
                  <li class="js-color-m js-color<%- index + 1 %>" data-casetype="<%- value.name %>" aria-current="true">
                <%_ } else { _%>
                  <li class="js-color-m js-color<%- index + 1 %>" data-casetype="<%- value.name %>" aria-current="false">
                <%_ } _%>
                  <%_ if( value.name === 'ホワイト' ) { _%>
                    <div style="background: <%- value.code %>; border: 1px solid #D1D1E0;"></div>
                    <p><%- value.name %></p>
                  <%_ } else if ( value.name === '(PRODUCT)RED' ) { _%>
                    <div style="background: <%- value.code %>"></div>
                    <p class="u-Adjust_Mt-8" >（PRODUCT）<br>RED&#8482;</p>
                  <%_ } else { _%>
                    <div style="background: <%- value.code %>"></div>
                    <p><%- value.output %></p>
                  <%_ } _%>
                  </li>
              <%_ }); _%>
            </ul>
          <%_ } _%>
          <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">バンド</h4>
          <ul class="<%= namespace %>-Hero_Band-list u-Adjust_Mt-16">
            <li class="<%= namespace %>-Hero_Band-list-elem" aria-hidden="false">
              <label class="c-Form_Radioblock-vertical">
                <input type="radio" name="band" value="ミッドナイトスポーツバンド" checked autocomplete="off">
                <span class="c-Form_Radioblock-wrap <%= namespace %>-Hero_Band-list-wrap">
                  <span class="c-Form_Radio-icon"></span><span class="c-Form_Radioblock-label <%= namespace %>-Hero_Band-list-label">ミッドナイトスポーツバンド</span>
                </span>
              </label>
            </li>
            <li class="<%= namespace %>-Hero_Band-list-elem" aria-hidden="true">
              <label class="c-Form_Radioblock-vertical">
                <input type="radio" name="band" value="ホワイトスポーツバンド" autocomplete="off">
                <span class="c-Form_Radioblock-wrap <%= namespace %>-Hero_Band-list-wrap">
                  <span class="c-Form_Radio-icon"></span><span class="c-Form_Radioblock-label <%= namespace %>-Hero_Band-list-label">ホワイトスポーツバンド</span>
                </span>
              </label>
            </li>
            <li class="<%= namespace %>-Hero_Band-list-elem" aria-hidden="true">
              <label class="c-Form_Radioblock-vertical">
                <input type="radio" name="band" value="スターライトスポーツバンド" autocomplete="off">
                <span class="c-Form_Radioblock-wrap <%= namespace %>-Hero_Band-list-wrap">
                  <span class="c-Form_Radio-icon"></span><span class="c-Form_Radioblock-label <%= namespace %>-Hero_Band-list-label">スターライトスポーツバンド</span>
                </span>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="l-System_Container u-Adjust_Mb-48">
  <%- include('/include/product/apple-watch/spec/_se-2nd', { namespace, currentDir: 'apple-watch-se-2nd', deviceName: 'se-2nd' , ratidDir: 'apple-watch-se-2nd' }) %>
</div>

<%- include('/include/product/apple-watch/_apple-watch-list', { l_id: 'apple-watch-se-2nd' , currentDir }) %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-product-v2.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/product/_category-js') %>
<%- include('/include/_append-body') %>
<script src="<%= sitepath %>assets/js/product.apple-watch.apple-watch-se-2nd.index.bundle.js?20240521"></script>

</body>
</html>
