<% const pagetitle = "SIMカードの再発行・紛失・盗難" -%>
<% const directories = [{path:"internet/turbo/support/", label:"お客様サポート"}, {path:"internet/turbo/support/contract/", label:"契約内容・お手続き"}] -%>
<% const namespace = "support-smallcategory" -%>
<%
  const pageInfo = {
    namespace,
    isUserCategory: true
  };
%>
<%-
 include('/_header', {
    pagetitle,
    directories,
    description: '楽天モバイルのホームルーターRakuten Turbo専用機器、Rakuten Turbo 5GのSIMカードの再発行・紛失・盗難してしまった場合の利用停止、再開についてご確認いただけます',
    noindex: false,
    pathname: filepath,
    isTurbo: true
  });
%>

<%- include('/include/_common-css-v2') %>

<%- include('/include/internet/turbo/support/_smallcategory-css') %>
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/internet/turbo/_prepend-body-internet') %>
  <div class="l-System">
    <%- include('/include/internet/turbo/_header', {
      pagetitle,
      directories,
      tax: false,
    }) %>

    <div class="l-System_Container">
      <section class="u-Adjust_Mt-32">
        <h1 class="c-Heading_Lv1 <%= namespace %>-Utility_Heading_Lv1"><%= pagetitle %></h1>
        <p class="u-Adjust_Mt-16">
          SIMカードの再発行方法をご案内します。<br>

          紛失・盗難の際は利用停止も同時にお申し込みいただけます。
        </p>
      </section>

      <section class="u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">SIMカードの再発行方法（有償）</h2>
        <p class="u-Adjust_Mt-16">SIMカードの再発行が必要な場合は、「<a href="#anc01" class="c-Link_Txt-inline js-scroll" data-ratid="rmt_mno_02">楽天モバイルコミュニケーションセンター</a>」にてお手続きを行ってください。</p>
          <dl class="c-Dl_Origin u-Adjust_Mt-24">
            <div>
              <dt>SIMカード再発行手数料</dt>
              <dd>3,300円</dd>
            </div>
            <div>
              <dt>送料</dt>
              <dd>0円</dd>
            </div>
          </dl>
      </section>

      <section class="u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">紛失・盗難などによる利用停止、再開</h2>
        <p class="u-Adjust_Mt-16">
          回線の利用停止、または再開したい場合は、 「<a href="#anc01" class="c-Link_Txt-inline js-scroll">楽天モバイルコミュニケーションセンター</a>」にてお手続きを行ってください。<br>
          SIMカードの再発行と同時にお手続きいただけます。
        </p>
        <ul class="c-Txt_Cap u-Adjust_Mt-16">
          <li>※楽天モバイルでは製品の位置検索サービスは提供しておりません。</li>
          <li>※回線の利用停止、再開は手続き完了後即時に反映されます。</li>
          <li>※製品の紛失・盗難の際、継続してサービスをご利用いただくためには新たに製品をご購入いただく必要がございます。詳細は<a href="<%= sitepath %>faq/detail/10000637/" class="c-Link_Txt-inline">製品を再購入する</a>をご確認ください。</li>
        </ul>
      </section>

      <section class="u-Adjust_Mt-64">
        <h2 id="anc01" class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">楽天モバイルコミュニケーションセンター</h2>
        <div class="c-Theme-Light u-Adjust_Mt-16">
          <p class="c-Txt_Cap">※チャット相談のご利用にはmy 楽天モバイルへのログインが必要です。</p>
          <div class="u-Adjust_Mt-24">
            <a href="https://portal.mobile.rakuten.co.jp/technical-operation?action=supportChat" target="_blank" rel="noopener noreferrer" class="c-Btn_Regular"><span>「my 楽天モバイル」を使う<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
          </div>
          <p class="u-Adjust_Mt-16">営業時間　9:00 ～ 23:00</p>
        </div>
        <div class="c-Theme-Light u-Adjust_Mt-16">
          <p>電話でお問い合わせ</p>
          <p class="<%= namespace %>-Utility_Disp-tab c-Txt_Emp-01 u-Adjust_Mt-16">電話番号：<a href="tel:08008050040" class="c-Txt_Alphanumeric">0800-805-0040</a></p>
          <p class="<%= namespace %>-Utility_Disp-pc c-Txt_Emp-01 u-Adjust_Mt-16">電話番号：<span class="c-Txt_Alphanumeric">0800-805-0040</span></p>
          <p class="u-Adjust_Mt-16">営業時間　9:00 ～ 17:00（年中無休）</p>
        </div>
      </section>
    </div>

    <section class="u-Adjust_Pt-80">
      <div class="<%= namespace %>-Layout_Category">
        <div class="l-System_Container">
          <%- include('/include/internet/turbo/support/_smallcategory-category', { pageInfo }) %>
        </div>
      </div>
    </section>

    <div class="u-Adjust_Mt-24">
      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
      <%- include('/include/internet/turbo/_footer', { directories, pagetitle }) %>
    </div>
  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/internet/turbo/support/_smallcategory-js') %>
  <%- include('/include/_append-body') %>
  <%- include('/include/internet/turbo/_rex-survey') %>

</body>

</html>
