<% const pagetitle = "OPPO Reno7 A" -%>
<% const directory = "reno7-a" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/smartphone/", label:"Android"}] -%>
<% const namespace = "product-reno7-a" -%>
<% const theme = "Light" -%>
<% const point = 3000 -%>
<%# const pointModel = 2000 -%>
<%# const pointEntry = 5000 -%>
<%# price-detail.ejsファイルに変数の説明の記載があります -%>

<%
/* insert Modal /*
/*
  ストア遷移 → 'bundle'
  在庫あり → 'stock'
  在庫切れ → 'soldout'
  入荷待ち → 'backorder'
*/
const bundleFlag = 'bundle';
const exid = 600378;
-%>

<% const priceDetailConfig = {
  bundleFlag: bundleFlag,
  theme: theme,
  price: 21980,
  priceBefore: 34980,
  PriceBeforeUnnumberedAnnotationText: '楽天モバイルでの販売価格（販売期間：2023年5月16日～2023年10月10日）',
  addAnnotation: '*',
  // pointBackPriceModel: pointModel,
  pointBackPrice: point,
  // pointModelText: `<span>製品購入で<span class="product-detail-Price_Pointback-num">${pointModel.toLocaleString()}</span>ポイント<sub>※1</sub></span>`,
  pointBackTextA: `<span>楽天モバイルお申し込みで<br class="product-detail-Utility_Show-sp"><span class="product-detail-Price_Pointback-num">${point.toLocaleString()}</span>円相当のポイント還元<sub>※1,3</sub></span>`,
  // pointEntryText: `さらに、エントリー＆抽選で<span class="product-detail-Price_Pointback-num">2,000</span>ポイント<sub>※2</sub>`,
  division24: 915,
  // division24Before: ,
  division48: 457,
  // division48Before: ,
  tradeinProductName: 'OPPO Reno5 A',
  optionPattern: 'one-option',
  lid: directory,
  capacity: 128,
  maxTradeinPrice: 4320,
  pointAppealBtnCapNo: 6,
  carrier: '楽天モバイル',
  //　notificationEmail: 'true',
  //　notificationEmailLink: '/product/reservation/reno7-a/'
  discountPrice: 6000,
  applyPoint: 6000,
  firstTimeApplyPoint: 6000,
  mnp: false,
  anchorId: 'campaign-rule1526',
  trakingId: 'reno7-a',
  exid: exid,
  year: 2023,
  month: 6,
  day: 23,
}
-%>
<% const tradeinUrl = sitepath + "service/tradein/?l-id=product_" + directory + "_cpn_02" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: "OPPO Reno7 A（オッポ）の特長・スペックなどをご確認いただけます。楽天モバイル対応Android製品。オンライン簡単手続きが便利！",
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<%- include('/include/product/_category-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/inc/i-product-head.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/<%= directory %>/product-<%= directory %>.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/smartphone/purchase-modal-drilldown.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/product/_history-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%
const modalInfo = [
  {
    question: {
      title: '色を選択',
      warning: '購入する製品の色を選択してください。',
      type: 'color',
      value: 'color',
      select: [
        {
          'id': 'black',
          'name': 'ブラック',
          'sub': '',
          'color': '#292B2E',
          'checked': false,
          'disabled': false,
        },
        {
          'id': 'green',
          'name': 'グリーン',
          'sub': '',
          'color': '#C8E6D7',
          'checked': false,
          'disabled': false,
        }
      ],
      upperinfo: ``,
      lowerinfo: ``
    },
  },
  {
    question: {
      title: 'SIMタイプ・プラン（Rakuten UN-LIMIT VI）を選択',
      warning: 'プランを選択してください。',
      type: 'radio',
      value: 'plan',
      select: [
        {
          'id': 'sim',
          'name': 'nanoSIM＋プランで申し込む',
          'sub': '',
          'checked': false,
          'disabled': false,
          'soldout' : '',
        },
        {
          'id': 'nosim',
          'name': 'プランを申し込まない（製品のみ購入）',
          'sub': '',
          'checked': false,
          'disabled': false,
          'soldout' : '',
        },
      ],
      upperinfo: ``,
      lowerinfo: `
        <p class="c-Txt_Cap">※製品のみ購入の場合、SIM購入（プラン選択）は不要です。</p>
      `
    }
  },
  {
    question: {
      title: 'スマホ交換保証プラスを選択',
      warning: 'スマホ交換保証プラスを選択してください。',
      type: 'radio',
      value: 'warranty',
      select: [
        {
          'id': 'warranty',
          'name': '申し込む：715円／月（税込）',
          'sub': '',
          'checked': true,
          'disabled': false,
          'soldout' : '',
        },
        {
          'id': 'nowarranty',
          'name': '申し込まない',
          'sub': '',
          'checked': false,
          'disabled': false,
          'soldout' : '',
        },
      ],
      upperinfo: `
        <p class="c-Txt_Emp-02">加入できるのは購入時のみ</p>
        <p class="u-Adjust_Mt-8">楽天モバイルで購入したスマートフォンやモバイルルーターの故障・紛失時に、最短で当日<sub>※</sub>に新品同等の同一機種を交換品としてお届けします。</p>
        <small>※対象地域：東京／神奈川／千葉／埼玉（12時までに受付の場合）</small>
        <p>サービスの詳細は、こちらの<a href="/service/replacement-warranty-plus/?l-id=product_reno7-a_cpn_01">スマホ交換保証プラス</a>をご参照ください。</p>
      `,
      lowerinfo: ``
    }
  }
]
%>
<%_ if (bundleFlag !== true) { _%>
<script>
const urlList = {
  'black_sim_warranty': '/',
  'black_sim_nowarranty': '/',
  'black_nosim_warranty': '/',
  'black_nosim_nowarranty': 'https://onboarding.mobile.rakuten.co.jp/equipment-details?exid=<%= exid %>&selectAvailable=true',
  'green_sim_warranty': '/',
  'green_sim_nowarranty': '/',
  'green_nosim_warranty': '/',
  'green_nosim_nowarranty': '/',
}
</script>
<%- include('/include/product/_purchase-modal', { modalInfo: modalInfo }) %>
<%_ } _%>

<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="l-System_Container u-Adjust_My-24 u-Adjust_Align-center">
  <p class="c-Txt_Emp-01 c-Txt_Normal-xl">OPPO Reno7 Aは販売を終了いたしました。</p>
  <div class="u-Adjust_Mt-24">
    <a href="/product/smartphone/?l-id=end_product_smartphone" class="c-Btn_Regular-large"><span>販売中のAndroid製品を見る</span></a>
  </div>
</div>

  <div class="product-detail-Layout_Hero-with-bnr <%= namespace %>_Hero">
    <div class="l-System_Container u-Adjust_Pt-16">
      <section class="product-detail-Hero">
        <div class="product-detail-Hero_Data">
          <div>
            <h1 class="co-Heading_Lv1 product-detail-Hero_Name"><img src="<%= sitepath %>assets/img/product/<%= directory %>/logo.svg" alt="<%= pagetitle %>"></h1>
            <p class="product-detail-Hero_Maker">OPPO</p>
            <p class="product-detail-Hero_Copy">ときめき、長持ち。</p>
          </div>
        </div>
        <div class="product-detail-Hero_Main u-Adjust_Mt-0">
          <ul class="product-detail-Hero_Main-device c-Carousel js-main1 js-device" aria-hidden="false">
            <li><img src="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-00.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-01.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-02.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-03.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-04.png" alt=""></li>
          </ul>
          <ul class="product-detail-Hero_Main-device c-Carousel js-main2 js-device" aria-hidden="true">
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-05.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-06.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-07.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-08.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-09.png" alt=""></li>
          </ul>

          <ul class="product-detail-Hero_Main-color product-detail-Theme_<%= theme %>-color">
            <li class="js-color js-color1"  data-ratevent="click" data-ratparam="all" data-ratid="reno7-a_color-01" aria-current="true"><span style="background:#94B2C0"></span></li>
            <li class="js-color js-color2"  data-ratevent="click" data-ratparam="all" data-ratid="reno7-a_color-02" aria-current="false"><span style="background:#121317"></span></li>
          </ul>

          <ul class="product-detail-Hero_Main-thumbnail c-Carousel js-thumbnail1 js-device" aria-hidden="false">
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-00.png"  data-ratevent="click" data-ratparam="all" data-ratid="reno7-a_color-01_thumbnail-01" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-01.png"  data-ratevent="click" data-ratparam="all" data-ratid="reno7-a_color-01_thumbnail-02" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-02.png"  data-ratevent="click" data-ratparam="all" data-ratid="reno7-a_color-01_thumbnail-03" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-03.png"  data-ratevent="click" data-ratparam="all" data-ratid="reno7-a_color-01_thumbnail-04" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-04.png"  data-ratevent="click" data-ratparam="all" data-ratid="reno7-a_color-01_thumbnail-05" alt=""></li>
          </ul>
          <ul class="product-detail-Hero_Main-thumbnail c-Carousel js-thumbnail2 js-device" aria-hidden="true">
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-05.png" data-ratevent="click" data-ratparam="all" data-ratid="reno7-a_color-02_thumbnail-01" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-06.png" data-ratevent="click" data-ratparam="all" data-ratid="reno7-a_color-02_thumbnail-02" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-07.png" data-ratevent="click" data-ratparam="all" data-ratid="reno7-a_color-02_thumbnail-03" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-08.png" data-ratevent="click" data-ratparam="all" data-ratid="reno7-a_color-02_thumbnail-04" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-09.png" data-ratevent="click" data-ratparam="all" data-ratid="reno7-a_color-02_thumbnail-05" alt=""></li>
          </ul>
        </div>
      </section>
      </div>
    </div>

  <div class="product-detail-Layout_Main">
    <div class="<%= namespace %>_Bg u-Adjust_Pb-32">
      <div class="l-System_Container">
        <div class="product-detail-Spec">
          <ul class="product-detail-Spec_<%= theme %>">
            <li aria-current="true"><span class="c-Icon_Product-waterproof"></span>防水</li>
            <li aria-current="true"><span class="c-Icon_Product-price-yen"></span>FeliCa</li>
            <li aria-current="true"><span class="c-Icon_Product-hi-res"></span>ハイレゾ<br>オーディオ</li>
            <li aria-current="true"><span class="c-Icon_Product-faceid"></span>顔認証</li>
            <li aria-current="true"><span class="c-Icon_Product-finger"></span>指紋認証</li>
            <li aria-current="false"><span class="c-Icon_Product-charger"></span>ワイヤレス<br>充電</li>
            <li aria-current="true"><span class="c-Icon_Product-connection"></span>高速通信</li>
          </ul>
          <p class="u-Adjust_Mt-64"><a href="#spec" class="c-Link_Txt-icon-front js-scroll"  data-ratevent="click" data-ratparam="all" data-ratid="reno7-a_spec-anchor"><span class="c-Icon_Arrow-down-l"></span>基本スペックを見る</a></p>
        </div>

        <section id="feature" class="product-detail-Layout_Section">
          <h2 class="c-Heading_Lv2-rich" data-ratid="reno7-a_scroll-03_feature" data-ratevent="appear">特長</h2>

          <div style="position: relative; display: block;max-width: 768px;margin-left: auto;margin-right: auto;"><div style="padding-top: 56.25%;border: solid 1px #ecf6f1;"><iframe src="https://players.brightcove.net/5068808272001/default_default/index.html?videoId=6307399628112" allowfullscreen="" allow="encrypted-media" style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;border: solid 1px #ecf6f1;"></iframe></div></div>

          <ul class="product-detail-Catch <%= namespace %>_Catch <%= namespace %>_Catch">
            <li><a href="#feature1" class="js-scroll"  data-ratevent="click" data-ratparam="all" data-ratid="reno7-a_feature-anchor-01">画面も背面も、見とれる美しさ。</a></li>
            <li><a href="#feature2" class="js-scroll"  data-ratevent="click" data-ratparam="all" data-ratid="reno7-a_feature-anchor-02">薄くて軽いのに、バッテリー長持ち。</a></li>
            <li>
              <a href="#feature3" class="js-scroll" data-ratid="reno7-a_feature-anchor-03">
                サクサクな操作感、36ヶ月続く。<span class="c-Txt_Cap">※1</span><br>
                <span class="c-Txt_Cap">※1 OPPO調べ。使用状況や環境によって変動します。</span>
              </a>
            </li>
          </ul>

          <section class="product-detail-Feature" id="feature1">
            <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/main-image-01.png" alt=""></figure>
            <h3 class="c-Heading_Lv3">つい触れたくなる輝き、指先で感じる質感。</h3>
            <p class="product-detail-Feature_Txt">
              独自の背面加工「OPPO Glow（オッポ グロウ）」と、なめらかさと鮮やかさを兼ね備えた高精細ディスプレイを搭載。<br>
              見て触れるたびに感性を刺激します。
            </p>
          </section>
          <section class="product-detail-Feature" id="feature2">
          <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/main-image-02.png" alt=""></figure>
            <h3 class="c-Heading_Lv3">こんなに薄くて軽いのに、バッテリーはたっぷり長持ち。<span class="c-Txt_Cap">※2</span></h3>
            <p class="product-detail-Feature_Txt">
              手で持つ時も、ポケットに入れる時も、負担を感じない約7.6mmのボディ。薄くなったのに、バッテリー容量はパワーアップ。
            </p>
            <p class="c-Txt_Cap u-Adjust_Mt-16">※2 お客様の使用環境やご利用状況により使用可能時間は異なります。</p>
          </section>
          <section class="product-detail-Feature" id="feature3">
          <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/main-image-03.png" alt=""></figure>
            <h3 class="c-Heading_Lv3">サクサクな操作感、快適な使い心地が長く続く。</h3>
            <p class="product-detail-Feature_Txt">
              スマホは私たちの生活の一部だからこそ、より長く使い続けられるように、デザインだけはなくソフトウェアにもシステム劣化防止装置を搭載しました。36ヶ月使ってもシステムの劣化具合はわずか5％以内<span class="c-Txt_Cap">※3</span>です。
            </p>
            <p class="c-Txt_Cap u-Adjust_Mt-16">※3 OPPO実験室で収集されたデータに基づいています。お客様の使用状況や使用環境によって異なります。
            </p>
          </section>
        </section>

        <div class="product-detail-Layout_Sub <%= namespace %>_Sub">
          <div class="l-System_Container">
            <section class="product-detail-Layout_Section">
              <section class="product-detail-Feature_Sub">
                <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-01.png" alt=""></figure>
                <div class="product-detail-Feature_Txt">
                  <h3 class="c-Heading_Lv4" data-ratid="reno7-a_scroll-04_feature" data-ratevent="appear">ハロー! OPPO Glow</h3>
                  <p>星空のような輝きとOPPOならではの質感。汚れの付きにくいマット仕上げが手に馴染みます。</p>
                </div>
              </section>
              <section class="product-detail-Feature_Sub">
                <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-02.png" alt=""></figure>
                <div class="product-detail-Feature_Txt">
                  <h3 class="c-Heading_Lv4">広くて鮮やか、しかもなめらか</h3>
                  <p>リフレッシュレートが90Hz<span class="c-Txt_Cap">※4</span>（90回/ 秒の画面更新）となめらかな画面表示で、スクロールなどの操作も快適です。</p>
                  <p class="u-Adjust_Mt-16 c-Txt_Cap">※4 一部のアプリやコンテンツにはご利用いただけません。</p>
                </div>
              </section>
              <section class="product-detail-Feature_Sub">
                <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-03.png" alt=""></figure>
                <div class="product-detail-Feature_Txt">
                  <h3 class="c-Heading_Lv4">余裕のバッテリーと、急速充電<span class="c-Txt_Cap">※5</span></h3>
                  <p>コンパクトボディに4,500mAh の大容量バッテリーを搭載。電池残量を気にするストレスから解放されます。</p>
                  <p class="u-Adjust_Mt-16 c-Txt_Cap">※5 18W PD 2.0急速充電に対応。約30分で40％まで充電できます。充電器は同梱されていません。急速充電対応充電器が必要になります。</p>
                </div>
              </section>
              <section class="product-detail-Feature_Sub">
                <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-04.png" alt=""></figure>
                <div class="product-detail-Feature_Txt">
                  <h3 class="c-Heading_Lv4">防水防塵（IPX8<span class="c-Txt_Cap">※6</span>/IP6X<span class="c-Txt_Cap">※7</span>）・おサイフケータイ®対応</h3>
                  <p>IP68の防水防塵に対応でもしもの時も安心。また、おサイフケータイ®機能で日常の支払いが快適です。</p>
                  <p class="u-Adjust_Mt-16 c-Txt_Cap">
                    ※6 IPX8とは、常温で水道水、かつ静水の水深1.5mのところに携帯電話を静かに沈め、約30分間放置後に取り出したときに通信機器としての機能を有することを意味します。<br>
                    ※7 IP6Xとは、保護度合いを指し、直径75μm以下の塵埃（じんあい）が入った装置に携帯電話を8時間入れてかくはんさせ、取り出したときに内部に塵埃が侵入しない機能を有することを意味します。
                  </p>
                </div>
              </section>
              <section class="product-detail-Feature_Sub">
                <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-05.png" alt=""></figure>
                <div class="product-detail-Feature_Txt">
                  <h3 class="c-Heading_Lv4">RAMの拡張</h3>
                  <p>余裕の6GB 大容量メモリに加えて、最大5GB までの仮想メモリを拡張することで、ゲームも日常使用ももっと快適。</p>
                </div>
              </section>
              <section class="product-detail-Feature_Sub">
                <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-06.png" alt=""></figure>
                <div class="product-detail-Feature_Txt">
                  <h3 class="c-Heading_Lv4">ディスプレイ指紋認証</h3>
                  <p>顔認証だけでなく、ディスプレイ指紋認証にも対応。マスクを外さず、指を画面にタップするだけでロックを解除。</p>
                </div>
              </section>
              <section class="product-detail-Feature_Sub">
                <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-07.png" alt=""></figure>
                <div class="product-detail-Feature_Txt">
                  <h3 class="c-Heading_Lv4">メインカメラは最大4,800万画素</h3>
                  <p>約4,800万画素の写真は拡大してもディテールがつぶれず、目の前の風景を高精細でありのままに記録できます。</p>
                </div>
              </section>
              <section class="product-detail-Feature_Sub">
                <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-08.png" alt=""></figure>
                <div class="product-detail-Feature_Txt">
                  <h3 class="c-Heading_Lv4">ネオンポートレート</h3>
                  <p>インカメラにも対応したネオンポートレート機能で、人物や街をより幻想的に撮影します。</p>
                </div>
              </section>
              <section class="product-detail-Feature_Sub">
                <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-09.png" alt=""></figure>
                <div class="product-detail-Feature_Txt">
                  <h3 class="c-Heading_Lv4">AI パレット</h3>
                  <p>思い出の１枚に、別の写真の色合いを反映し、 好きな写真の雰囲気に寄せて仕上げます。</p>
                </div>
              </section>
              <section class="product-detail-Feature_Sub">
                <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-10.png" alt=""></figure>
                <div class="product-detail-Feature_Txt">
                  <h3 class="c-Heading_Lv4">アウト/イン同時動画撮影</h3>
                  <p>ワンタップで同時撮影。自分と相手が一緒に映るので、楽しさは無限大です。</p>
                </div>
              </section>
              <section class="product-detail-Feature_Sub">
                <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-11.png" alt=""></figure>
                <div class="product-detail-Feature_Txt">
                  <h3 class="c-Heading_Lv4">ColorOS 12</h3>
                  <p>Android™ 11をベースとし、ユーザー目線で便利機能を追加したのがOPPOのColorOS 12。初めてOPPOのスマートフォンを使う方でも様々な機能を簡単にお使いいただけます。</p>
                </div>
              </section>
              <section class="product-detail-Feature_Sub">
                <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-12.png" alt=""></figure>
                <div class="product-detail-Feature_Txt">
                  <h3 class="c-Heading_Lv4">データ移行</h3>
                  <p>アプリを起動し、移行元の端末から引き継ぎたい項目を選ぶだけで簡単に移行できます。<span class="c-Txt_Cap">※8</span></p>
                  <p class="u-Adjust_Mt-16 c-Txt_Cap">
                    ※8 Android端末からの移行は写真、連絡先、アプリ、音楽、動画などのデータを移行できます。アプリ内のデータは移行されません。Android端末にデータ移行アプリ（Android 4.4 以降に対応）をインストールして移行作業を行います。 iPhoneからの移行は、連絡先と写真、動画データが移行できます。iPhone にデータ移行アプリ（ iOS 10.0 以降に対応）をインストールして移行作業を行います。
                  </p>
                </div>
              </section>
              <section class="product-detail-Feature_Sub">
                <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-13.png" alt=""></figure>
                <div class="product-detail-Feature_Txt">
                  <h3 class="c-Heading_Lv4">スクリーンショット</h3>
                  <p>3本指で画面を上からなぞるだけ。縦長のWebページも1枚の画像に。さらに画像内の文字をお好きな言語に翻訳する便利機能も。</p>
                </div>
              </section>
              <section class="product-detail-Feature_Sub">
                <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-14.png" alt=""></figure>
                <div class="product-detail-Feature_Txt">
                  <h3 class="c-Heading_Lv4">通知のぞき見防止</h3>
                  <p>自分以外の顔を検知したら通知内容を非表示に。電車の中など混みあった場所でプライバシーを守ります。</p>
                </div>
              </section>
              <section class="product-detail-Feature_Sub">
                <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-15.png" alt=""></figure>
                <div class="product-detail-Feature_Txt">
                  <h3 class="c-Heading_Lv4">アイコンプルダウンジェスチャー</h3>
                  <p>画面の端を下から上になぞると、ホーム画面にある全アプリが親指の届きやすい場所に集まる、片手操作に優しい機能。</p>
                </div>
              </section>
              <section class="product-detail-Feature_Sub">
                <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-16.png" alt=""></figure>
                <div class="product-detail-Feature_Txt">
                  <h3 class="c-Heading_Lv4">クイック起動</h3>
                  <p>ロック画面からすぐに起動したいアプリを設定しておけば、指紋認証によるロック解除と一緒に、すぐにアクセス可能。</p>
                </div>
              </section>
            </section>
          </div>
        </div>
        <div class="product-detail-Layout_Sub <%= namespace %>_Sub u-Adjust_Mt-64">
          <div class="l-System_Container">
            <section class="product-detail-Layout_Section u-Adjust_Mt-24">
              <h3 class="c-Txt_Normal-l u-Adjust_Mb-24" data-ratid="reno7-a_scroll-05_feature" data-ratevent="appear">OPPOとは</h3>
              <section class="product-detail-Feature_Sub u-Adjust_Mt-0">
                <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-17.png" alt=""></figure>
                <div class="product-detail-Feature_Txt">
                  <h3 class="c-Heading_Lv4">グローバルなスマホブランド</h3>
                  <p>OPPOは海外市場の開拓を続けており、現在は50以上の国と地域の市場をカバーしています。IDCの調査で世界スマートフォン市場シェア第4位<span class="c-Txt_Cap">※9</span>にランクインしました。</p>
                  <p class="u-Adjust_Mt-16 c-Txt_Cap">※9 出典：IDC Quarterly Mobile Phone Tracker, Q2 2022/IDC declares a statistical tie in the worldwide smartphone market when there is a difference of 0.1% or less in the share of revenues or shipments among two or more vendors.</p>
                </div>
              </section>
              <section class="product-detail-Feature_Sub">
                <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-18.png" alt=""></figure>
                <div class="product-detail-Feature_Txt">
                  <h3 class="c-Heading_Lv4">世界中で信頼されています</h3>
                  <p>技術に裏打ちされた高い品質が支持され、世界中で5億人以上の人々が使用しています。<span class="c-Txt_Cap">※10</span></p>
                  <p class="u-Adjust_Mt-16 c-Txt_Cap">※10 OPPOリサーチセンター調べ 2022年1月時点</p>
                </div>
              </section>
              <section class="product-detail-Feature_Sub">
                <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-19.png" alt=""></figure>
                <div class="product-detail-Feature_Txt">
                  <h3 class="c-Heading_Lv4">徹底された品質管理</h3>
                  <p>最高のユーザー体験を提供するため、OPPOがこれまでの知識と経験で積み上げた数多くの品質検査項目を実行しています。</p>
                </div>
              </section>
              <section class="product-detail-Feature_Sub">
                <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-20.png" alt=""></figure>
                <div class="product-detail-Feature_Txt">
                  <h3 class="c-Heading_Lv4">総出願件数80,000件以上<span class="c-Txt_Cap">※11</span></h3>
                  <p>2021年、国際特許出願件数（PCT制度）で企業別6位<span class="c-Txt_Cap">※12</span>にランクインしました。</p>
                  <p class="u-Adjust_Mt-16 c-Txt_Cap">
                    ※11 OPPOリサーチセンター調べ 2022年6月時点<br>
                    ※12 世界知的所有権機関(WIPO)の2021年特許協力条約に基づく国際特許出願レポートによる
                  </p>
                </div>
              </section>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="product-detail-Layout_Other">
  <div class="l-System_Container">

    <%- include('/include/product/_compensation') %>

    <section class="product-detail-Layout_Section" id="spec">
      <h2 class="c-Heading_Lv2"  data-ratid="reno7-a_scroll-06_spec" aria-relevant="appear">スペック</h2>
      <dl class="c-Dl">
        <div>
          <dt>製品名</dt>
          <dd>
            OPPO Reno7 A
          </dd>
        </div>
        <div>
          <dt>色</dt>
          <dd>
            ドリームブルー / スターリーブラック
          </dd>
        </div>
        <div>
          <dt>サイズ</dt>
          <dd>
            約159.7 x 約73.4 x 約7.6 (mm)
          </dd>
        </div>
        <div>
          <dt>質量</dt>
          <dd>
            約175g
          </dd>
        </div>
        <div>
          <dt>ディスプレイ</dt>
          <dd>
            <p>サイズ / 種類</p>
            約6.4インチ / AMOLED
            <p class="u-Adjust_Mt-16">解像度</p>
            FHD+ / 2,400 × 1,080
          </dd>
        </div>
        <div>
          <dt>連続待受時間（LTE）</dt>
          <dd>
            約440時間
          </dd>
        </div>
        <div>
          <dt>連続通話（通信）時間（LTE）</dt>
          <dd>
            約32.5時間
          </dd>
        </div>
        <div>
          <dt>CPU</dt>
          <dd>
            Qualcomm® Snapdragon™ 695 5G Mobile Platform / オクタコア 2.2GHz x2+ 1.8GHz x6
          </dd>
        </div>
        <div>
          <dt>OS<span class="c-Txt_Cap">※1</span></dt>
          <dd>
            Android™ 11
          </dd>
        </div>
        <div>
          <dt>内部メモリ（RAM / ROM）</dt>
          <dd>
            6GB (RAM) / 128GB (ROM)
          </dd>
        </div>
        <div>
          <dt>メインカメラ（外側）</dt>
          <dd>
            約4,800万画素 (広角) + 約800万画素 (超広角) + 約200万画素 (マクロ)
          </dd>
        </div>
        <div>
          <dt>フロントカメラ（内側）</dt>
          <dd>
            約1,600万画素 (広角)
          </dd>
        </div>
        <div>
          <dt>バッテリー容量</dt>
          <dd>
            4,500mAh
          </dd>
        </div>
        <div>
          <dt>ワイヤレス充電</dt>
          <dd>
            非対応
          </dd>
        </div>
        <div>
          <dt>おサイフケータイ / NFC</dt>
          <dd>
            対応 / 対応
          </dd>
        </div>
        <div>
          <dt>防水 / 防塵</dt>
          <dd>
            対応 (IPX8 / IP6X)
          </dd>
        </div>
        <div>
          <dt>生体認証（指紋 / 顔）</dt>
          <dd>
            対応 / 対応
          </dd>
        </div>
        <div>
          <dt>Wi-Fi規格</dt>
          <dd>
            Wi-Fi®：IEEE 802.11a/b/g/n/ac
          </dd>
        </div>
        <div>
          <dt>テザリング（Wi-Fi）</dt>
          <dd>
            10台
          </dd>
        </div>
        <div>
          <dt>SIMタイプ</dt>
          <dd>
            nanoSIM x 2 / eSIM<span class="c-Txt_Cap">※2</span><br>
            (デュアルSIMでのご利用は、nanoSIM x 2 または nanoSIM/eSIM でご利用可能です)
          </dd>
        </div>
        <div>
          <dt>付属品</dt>
          <dd>
            保護ケース×1 / 保護フィルム（貼付済み）×1 / 安全ガイド×1 / クイックガイド×1 / SIM取出し用ピン×1
          </dd>
        </div>
      </dl>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※1 発売時点のOSのバージョンを記載しています。最新のOSバージョン情報は<a href="<%= sitepath %>information/software/reno7-a/" class="c-Link_Txt">こちら</a>をご確認ください。</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※2 nanoSIM×2の場合 microSDカードの利用はできません。</p>
      <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>product/smartphone/<%= directory %>/spec.html?l-id=product_reno7-a_spec_reno7-a" class="c-Link_Txt-inline-icon">スペック詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
    </section>

    <section class="product-detail-Layout_Section">
      <h2 class="c-Heading_Lv2">設定・サポート</h2>
      <div>
        <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/inquiry/?l-id=product_reno7-a_guide_inquiry" class="c-Link_Txt-inline-icon">メーカーへのお問い合わせ<span class="c-Icon_Chevron-right"></span></a></p>
      </div>
    </section>

    <div id="previously-seen"></div>
  </div>
  <div class="u-Adjust_Mt-40">
    <%- include('/include/product/_support') %>
  </div>
</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-product-v2.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>


  </div>
  <div class="c-Breadcrumbs_Foot">
    <div class="l-System_Container">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/product/_category-js') %>
<%- include('/include/product/_history-js') %>
<%- include('/include/_append-body') %>
<script src="<%= sitepath %>assets/js/product.reno7-a.bundle.js?20240521"></script>

</body>
</html>
