<% const slidePc = [
  {//iPhone 15 Pro_230922
    path: `${sitepath}product/iphone/iphone-15-pro/?l-id=product_carousel_iphone_iphone-15-pro`,
    img: `${sitepath}assets/img/bnr/bnr-iphone-15-pro-1032-300-230922.png`,
    alt: 'iPhone 15 Pro Titanium。全通信キャリアで最安※ ※2023年9月15日時点。弊社調べ'
  },
  {//Apple Watch_最安あり_231101
    path: `${sitepath}product/apple-watch/apple-watch-series9/?l-id=product_carousel_product_apple-watch-series9`,
    img: `${sitepath}assets/img/bnr/bnr-apple-watch-1032-300-231101.png`,
    alt: 'Apple Watch Series 9 頭脳、明るさ、パワーの未来形。全通信キャリアで最安※ ※2023年10月11日時点。弊社調べ'
  },
  {//Android CPN_231101
    path: `${sitepath}campaign/start-point/?l-id=product_carousel_campaign_start-point`,
    img: `${sitepath}assets/img/bnr/bnr-start-point-1032-300-231101.png`,
    alt: 'スマホトク得乗り換えキャンペーン！最大32,000円相当分おトク！'
  },
  {//買い替え超トクプログラム_231110
    path: `${sitepath}service/replacement-program/?l-id=product_carousel_service_replacement-program`,
    img: `${sitepath}assets/img/bnr/bnr-replacement-program-1032-300-231222.png`,
    alt: '楽天モバイル買い替え超トクプログラムで対象のiPhoneを購入すると、本体代が最大半額分支払い不要に。'
  },
  {//iPhone 15_230922
    path: `${sitepath}product/iphone/iphone-15/?l-id=product_carousel_iphone_iphone-15`,
    img: `${sitepath}assets/img/bnr/bnr-iphone-15-tactical-1032-300-230922.png`,
    alt: 'iPhone 15 うっとり。全通信キャリアで最安※ ※2023年9月15日時点。弊社調べ'
  },
  {//iPhone CPN_231101
    path: `${sitepath}campaign/iphone-point/?l-id=product_carousel_campaign_iphone-point`,
    img: `${sitepath}assets/img/bnr/bnr-iphone-point-1032-300-231222.png`,
    alt: '楽天モバイルを初めて申し込み＆電話番号そのまま他社から乗り換え＆対象iPhone購入で最大12,000ポイント還元！'
  },
  {//スマホランキングバナー_211203
    path: `${sitepath}product/ranking/?l-id=product_carousel_smartphone_ranking`,
    img: `${sitepath}assets/img/bnr/popular-1032-300.png`,
    alt: '人気スマホランキング 売れ筋機種をチェック！'
  },
  {//スマホ下取り_230417
    path: `${sitepath}service/tradein/?l-id=product_carousel_service_tradein`,
    img: `${sitepath}assets/img/bnr/service-tradein-1032-300-230407.png`,
    alt: 'ご不要なスマホありませんか？ iPad・Apple Watchも下取り対象! 他社での購入品も下取り可能 手数料・送料完全無料 本体のみでOK!箱・付属品不要 ※下取りには一定の条件があります。'
  },
  {//ショップ限定 Android CPN_231101
    path: `${sitepath}campaign/shop-limited-android/?l-id=product_carousel_campaign_shop-limited-android`,
    img: `${sitepath}assets/img/bnr/bnr-shop-limited-android-1032-300-231101.png`,
    alt: '【ショップ限定】他社から乗り換え、初めてお申し込み＋Xperia 5 IVを買い替え超トクプログラムにてご購入で最大29,748ポイント還元！'
  },
  {//1円CPN_231017
    path: `${sitepath}campaign/hand-5g-wifi-pocket-1yen/?l-id=product_carousel_campaign_hand-5g-wifi-pocket-1yen`,
    img: `${sitepath}assets/img/bnr/bnr-hand-5g-wifi-pocket-1yen-1032-300-230802.png`,
    alt: '2回線目以降でも対象！楽天モバイルへお申し込みでRakuten Hand 5GまたはRakuten WiFi Pocket 2Cが1円で購入できるお得なキャンペーン'
  },
  {//Apple Watchを選ぶ理由_230915
    path: `${sitepath}product/apple-watch/why-apple-watch/?l-id=product_carousel_product_apple-watch_why-apple-watch/`,
    img: `${sitepath}assets/img/bnr/bnr-watch-health-1032-300-240222.png`,
    alt: 'Apple Watchを選ぶ理由'
  },
  {//電話番号シェアサービスCPN_231222
    path: `${sitepath}service/number-share/?l-id=product_carousel_service_number-share`,
    img: `${sitepath}assets/img/bnr/bnr-number-share-1032-300-231222.png`,
    alt: '電話番号シェアサービス（月額550円）。期間中にお申し込みで3カ月分（1,650円）を1,650ポイント還元で実質3カ月無料！'
  },
  {//NDA_231020
    path: `${sitepath}fee/apple-watch-family-sharing/?l-id=service_carousel_fee_apple-watch-family-sharing`,
    img: `${sitepath}assets/img/bnr/bnr-apple-watch-family-sharing-1032-300.png`,
    alt: '「Apple Watch ファミリー共有」たった1台のiPhoneで、家族みんなのApple Watchとつながれます。'
  },
  {//アクセサリ分割払い_230315
    path: `${sitepath}product/accessory/?l-id=product_carousel_product_accessory`,
    img: `${sitepath}assets/img/bnr/bnr-product-split-1032-300_220916.png`,
    alt: 'ご購入方法をより自由に すべてのアクセサリが分割払い可能に！ スマホと一緒でも、アクセサリだけでも、分割払いOK！'
  },
]
const slideSp = [
  {//iPhone 15 Pro_230922
    path: `${sitepath}product/iphone/iphone-15-pro/?l-id=product_carousel_iphone_iphone-15-pro`,
    img: `${sitepath}assets/img/bnr/bnr-iphone-15-pro-375-192-230922.png`,
    alt: 'iPhone 15 Pro Titanium。全通信キャリアで最安※ ※2023年9月15日時点。弊社調べ'
  },
  {//Apple Watch_最安あり_231101
    path: `${sitepath}product/apple-watch/apple-watch-series9/?l-id=product_carousel_product_apple-watch-series9`,
    img: `${sitepath}assets/img/bnr/bnr-apple-watch-375-192-231101.png`,
    alt: 'Apple Watch Series 9 頭脳、明るさ、パワーの未来形。全通信キャリアで最安※ ※2023年10月11日時点。弊社調べ'
  },
  {//Android CPN_231101
    path: `${sitepath}campaign/start-point/?l-id=product_carousel_campaign_start-point`,
    img: `${sitepath}assets/img/bnr/bnr-start-point-375-192-231101.png`,
    alt: 'スマホトク得乗り換えキャンペーン！最大32,000円相当分おトク！'
  },
  {//買い替え超トクプログラム_231110
    path: `${sitepath}service/replacement-program/?l-id=product_carousel_service_replacement-program`,
    img: `${sitepath}assets/img/bnr/bnr-replacement-program-375-192-231222.png`,
    alt: '楽天モバイル買い替え超トクプログラムで対象のiPhoneを購入すると、本体代が最大半額分支払い不要に。'
  },
  {//iPhone 15_230922
    path: `${sitepath}product/iphone/iphone-15/?l-id=product_carousel_iphone_iphone-15`,
    img: `${sitepath}assets/img/bnr/bnr-iphone-15-tactical-375-192-230922.png`,
    alt: 'iPhone 15 うっとり。全通信キャリアで最安※ ※2023年9月15日時点。弊社調べ'
  },
  {//iPhone CPN_231101
    path: `${sitepath}campaign/iphone-point/?l-id=product_carousel_campaign_iphone-point`,
    img: `${sitepath}assets/img/bnr/bnr-iphone-point-375-192-231222.png`,
    alt: '楽天モバイルを初めて申し込み＆電話番号そのまま他社から乗り換え＆対象iPhone購入で最大12,000ポイント還元！'
  },
  {//スマホランキングバナー_211203
    path: `${sitepath}product/ranking/?l-id=product_carousel_smartphone_ranking`,
    img: `${sitepath}assets/img/bnr/popular-375-192.png`,
    alt: '人気スマホランキング 売れ筋機種をチェック！'
  },
  {//スマホ下取り_230417
    path: `${sitepath}service/tradein/?l-id=product_carousel_service_tradein`,
    img: `${sitepath}assets/img/bnr/service-tradein-375-192-230407.png`,
    alt: 'ご不要なスマホありませんか？ iPad・Apple Watchも下取り対象! 他社での購入品も下取り可能 手数料・送料完全無料 本体のみでOK!箱・付属品不要 ※下取りには一定の条件があります。'
  },
  {//ショップ限定 Android CPN_231101
    path: `${sitepath}campaign/shop-limited-android/?l-id=product_carousel_campaign_shop-limited-android`,
    img: `${sitepath}assets/img/bnr/bnr-shop-limited-android-375-192-231101.png`,
    alt: '【ショップ限定】他社から乗り換え、初めてお申し込み＋Xperia 5 IVを買い替え超トクプログラムにてご購入で最大29,748ポイント還元！'
  },
  {//1円CPN_231017
    path: `${sitepath}campaign/hand-5g-wifi-pocket-1yen/?l-id=product_carousel_campaign_hand-5g-wifi-pocket-1yen`,
    img: `${sitepath}assets/img/bnr/bnr-hand-5g-wifi-pocket-1yen-375-192-230802.png`,
    alt: '2回線目以降でも対象！楽天モバイルへお申し込みでRakuten Hand 5GまたはRakuten WiFi Pocket 2Cが1円で購入できるお得なキャンペーン'
  },
  {//Apple Watchを選ぶ理由_230915
    path: `${sitepath}product/apple-watch/why-apple-watch/?l-id=product_carousel_product_apple-watch_why-apple-watch/`,
    img: `${sitepath}assets/img/bnr/bnr-watch-health-375-192-240222.png`,
    alt: 'Apple Watchを選ぶ理由'
  },
  {//電話番号シェアサービスCPN_231222
    path: `${sitepath}service/number-share/?l-id=product_carousel_service_number-share`,
    img: `${sitepath}assets/img/bnr/bnr-number-share-375-192-231222.png`,
    alt: '電話番号シェアサービス（月額550円）。期間中にお申し込みで3カ月分（1,650円）を1,650ポイント還元で実質3カ月無料！'
  },
  {//NDA_231020
    path: `${sitepath}fee/apple-watch-family-sharing/?l-id=service_carousel_fee_apple-watch-family-sharing`,
    img: `${sitepath}assets/img/bnr/bnr-apple-watch-family-sharing-375-192.png`,
    alt: '「Apple Watch ファミリー共有」たった1台のiPhoneで、家族みんなのApple Watchとつながれます。'
  },
  {//アクセサリ分割払い_230315
    path: `${sitepath}product/accessory/?l-id=product_carousel_product_accessory`,
    img: `${sitepath}assets/img/bnr/bnr-product-split-375-192_220916.png`,
    alt: 'ご購入方法をより自由に すべてのアクセサリが分割払い可能に！ スマホと一緒でも、アクセサリだけでも、分割払いOK！'
  },

]
-%>
<div class="c-Carousel_Main product-top-Utility_Show-pc">
  <div class="c-Carousel c-Carousel_Main-wrap-v2 js-c-Carousel-v2_Main">
  <%_ slidePc.forEach((value, index, array) => { _%>
    <%_ if( index === 0 || index === 1 || index === array.length - 1 ) { _%>
    <a href="<%- value.path %>"<% if( value.target ) { %> target="_blank"<%_ } _%>>
      <img src="<%- value.img %>" alt="<%- value.alt %>">
    </a>
    <%_ } else { _%>
    <a href="<%- value.path %>"<% if( value.target ) { %> target="_blank"<%_ } _%>>
      <img data-lazy="<%- value.img %>" alt="<%- value.alt %>">
    </a>
    <%_ } _%>
  <%_ }); _%>
  </div>
  <div class="c-Carousel_Nav-v2-wrap">
    <div class="c-Carousel_Nav-v2"></div>
  </div>
</div>


<div class="c-Carousel_Main product-top-Utility_Show-sp">
  <div class="c-Carousel c-Carousel_Main-wrap-v2 js-c-Carousel-v2_Main-sp">
  <%_ slideSp.forEach((value, index, array) => { _%>
    <%_ if( index === 0 ) { _%>
    <a href="<%- value.path %>"<% if( value.target ) { %> target="_blank"<%_ } _%>>
      <img src="<%- value.img %>" alt="<%- value.alt %>">
    </a>
    <%_ } else { _%>
    <a href="<%- value.path %>"<% if( value.target ) { %> target="_blank"<%_ } _%>>
      <img data-lazy="<%- value.img %>" alt="<%- value.alt %>">
    </a>
    <%_ } _%>
  <%_ }); _%>
  </div>
  <div class="l-System_Container">
    <div class="c-Carousel_Nav-v2"></div>
  </div>
</div>
