<% const pagetitle = "【毎月開催】楽天モバイルご契約者様限定！エントリー＋楽天証券口座開設で2,000ポイントプレゼント！" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "sec-for-member" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '【毎月開催】楽天モバイルご契約者様限定！エントリー＋楽天証券口座開設で2,000ポイントプレゼント！',
  keywords: '',
  noindex: true,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/<%= namespace %>/<%= namespace %>.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/_entry-button/rex-overwrite_v2.css?20240424">
<!-- ReX Campaign Button: stylesheet -->
<link rel="stylesheet" href="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/4.0.0/static/css/main.css?20240424" />
<%- include('/include/_append-head') %>
<%- include('/include/poikaku-gadget/_css') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<script defer="defer" src="https://r.r10s.jp/com/js/c/common/entry_button/1.1/entry_button-1.1.0.min.js"></script>
<script>
function entryset(){
  const entset1 = document.getElementsByClassName('rex-button')[0];
  entset1.setAttribute('onclick', 'entbtn1()');
  const entset2 = document.getElementsByClassName('rex-button')[1];
  entset2.setAttribute('onclick', 'entbtn2()');
  const entset3 = document.getElementsByClassName('rex-button')[2];
  entset3.setAttribute('onclick', 'entbtn3()');
}

setInterval(entryset, 10);
</script>
<link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">

<script src="https://www.rakuten.co.jp/com/advance/mobile/point_gadget_test/responsive/condition.js"></script>
<script src="https://r.r10s.jp/com/ap/target/phoenix-3.2.2.min.js"></script>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <%- include('/inc/_poikaku',{ pagename: namespace, type: 'gadjet', withFloat: true }) %>
    <div class="<%= namespace %>-Layout-Label">
      <ul class="c-Label_List <%= namespace %>-Layout-Label_List">
        <li class="c-Label_Normal">ご契約者様限定</li>
        <li class="c-Label_Normal">エントリー必要</li>
      </ul>
      <p class="<%= namespace %>-Layout-Label_link <%= namespace %>-Layout-Display_Pc"><a href="http://account.rakuten-sec.co.jp/cgi-bin/btracking?bname=&accInputRoute=17&URL=https://www.rakuten-sec.co.jp/?scid%3Dwi_MobileCPN_202012-05" class="c-Link_Txt-inline">楽天証券トップへ<span class="c-Icon_Chevron-right"></span></a></p>
      <p class="<%= namespace %>-Layout-Label_link <%= namespace %>-Layout-Display_Sp"><a href="http://account.rakuten-sec.co.jp/cgi-bin/btracking?bname=&accInputRoute=17&URL=https://www.rakuten-sec.co.jp/?scid%3Dwi_MobileCPN_202012-06" class="c-Link_Txt-inline">楽天証券トップへ<span class="c-Icon_Chevron-right"></span></a></p>
    </div>
    <div class="<%= namespace %>-Hero_Return-bg-a">
      <div class="<%= namespace %>-Hero_Return <%= namespace %>-Hero_Return-a">
        <div class="l-System_Container <%= namespace %>-Hero_Container">
          <div class="<%= namespace %>-Hero_Main">
            <h1><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-heading-a-pc_240405.png?240405" alt="楽天モバイルご契約者様限定 毎月開催 エントリー＋楽天証券口座開設で2,000円相当分ポイントプレゼント！ ※期間限定ポイント" class="<%= namespace %>-Utility_Img-pc"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-heading-a-sp_240405.png?240405" alt="楽天モバイルご契約者様限定 毎月開催 エントリー＋楽天証券口座開設で2,000円相当分ポイントプレゼント！ ※期間限定ポイント" class="<%= namespace %>-Utility_Img-sp"></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="js-non-poikaku u-Rat_Appear-height" data-ratid="pointgadget-ab_<%= namespace %>_scroll-00" data-ratevent="appear">&nbsp;</div>
    <div class="<%= namespace %>-Layout_Body">
        <div class="l-System_Container">
          <ul class="c-Txt_Cap">
            <li><span>※</span>進呈するポイントは期間限定ポイントになります。</li>
            <li><span class="c-Txt_Emp-02">※</span><span class="c-Txt_Emp-02">口座開設後のエントリーは対象外となります。</span>詳しくは<a href="#campaign-rule-terms" class="js-scroll">キャンペーン条件</a>をご確認ください。</li>
            <li><span class="c-Txt_Emp-02">※</span><span class="c-Txt_Emp-02">本ページ経由以外で楽天証券口座をお申し込みされた場合は対象外となります。</span></li>
            <li>※常時開催：景品進呈の集計の関係上、エントリー期間や口座開設申込期間などに期間を設けさせていただいております。下記<a href="#campaign-term" class="js-scroll">日程詳細</a>を必ずご確認ください。</li>
            <li><span>※</span>「楽天モバイルご契約者様」とは、「Rakuten最強プラン・Rakuten最強プラン（データタイプ）」のご契約者様です。</li>
            <li><span>※</span>期間内に楽天モバイルをご契約された方も対象となります。</li>
          </ul>
          <div class="u-Adjust_Align-center u-Adjust_Mt-32">
            <div class="<%= namespace %>-Layout-Display_Pc"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-01.png?220107" alt="Step1エントリー Step2最短5分！証券口座お申し込み Step3証券口座開設"></div>
            <div class="<%= namespace %>-Layout-Display_Sp"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-01-sp.png?220107" alt="Step1エントリー Step2最短5分！証券口座お申し込み Step3証券口座開設"></div>
          </div>
        </div>

        <div class="<%= namespace %>-Btn_Entry u-Adjust_Mt-40">
          <!-- ReX Campaign Entry Button: Mounting points -->
          <div data-ratId="campaign_<%= namespace %>-entrybutton1" data-ratEvent="click" data-ratParam="all" id="entrybtn1"></div>
          <!-- mounting point for button 1 --><div id="rex-ceb-01" class="campaign-Rexoverwrite"></div>
        </div>

        <div class="l-System_Container">
          <p class="<%= namespace %>-Btn_Primary02 <%= namespace %>-Btn_Icon u-Adjust_Mt-24"><a href="https://r10.to/hUF60Y" target="_blank" class="c-Btn_Secondly"><span>楽天証券の口座開設<br class="<%= namespace %>-Layout-Display_Sp">お申し込みはこちら</span><span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></a></p>
          <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-32" id="js-trigger">
            <li><a href="#campaign-flow" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンの流れ</a></li>
            <li><a href="#campaign-rule" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルール</a></li>
          </ul>
        </div>
        <div class="<%= namespace %>-Layout_Spu u-Adjust_Mt-32">
          <div class="u-Adjust_Pt-40">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-spu-01-sp.png?231201">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-spu-01.png?231201" alt="楽天証券ご利用のメリット ①ポイントを使って投資信託を購入可能 ②ポイント投資をするとポイント最大＋1倍 ③100円（＝100ポイント）から投資信託！1ポイントから利用可能で、現金との組み合わせもOK">
            </picture>
          </div>
          <div class="<%= namespace %>-Flow_Spu-in-botton">
            <p class="u-Adjust_Align-center"><a href="https://r10.to/hMEQBW" class="c-Btn_Regular <%= namespace %>-Layout_Body-content-center <%= namespace %>-Flow_Spu-button u-Adjust_Mt-24 c-Link_Txt-inline" target="_blank">詳細を確認する<span class="c-Icon_New-window-l"></span></a></p>
          </div>
          <ul class="c-Txt_Cap u-Adjust_Mt-24 u-Adjust_Align-left">
            <li><span>※1</span>ポイント投資（国内株式・バイナリーオプション）はSPU判定の対象外です。楽天ポイントコースとマネーブリッジを設定の上、当月合計30,000円以上のポイント投資（投資信託）でポイント＋0.5倍、当月合計30,000円以上のポイント投資（米国株式 円貨決済）でポイント＋0.5倍</li>
            <li class="u-Adjust_Mt-16"><span>※</span>米株積立および買付手数料無料海外ETF除く。<a href="https://www.rakuten-sec.co.jp/web/campaign/spu/" target="_blank" class="c-Link_Txt-inline">詳しくはこちら<span class="c-Icon_New-window-l"></span></a></li>
            <li><span>※</span>上限あり。期間限定ポイント</li>
            <li><span>※</span>期間限定ポイント（SPUで獲得した楽天ポイント含む）はポイント投資に利用できません。</li>
          </ul>
        </div>
        <div class="l-System_Container">
          <p class="<%= namespace %>-Btn_Primary02 <%= namespace %>-Btn_Icon u-Adjust_Mt-40"><a href="https://r10.to/hUF60Y" target="_blank" class="c-Btn_Secondly"><span>楽天証券の口座開設<br class="<%= namespace %>-Layout-Display_Sp">お申し込みはこちら</span><span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></a></p>

          <h2 class="c-Heading_Lv2 u-Adjust_Mt-64 u-Adjust_Align-center" id="campaign-flow">キャンペーンの流れ</h2>
          <ul class="<%= namespace %>-Flow_List">
            <li class="flow_entry">
              <h3 class="c-Heading_Lv3 u-Adjust_Mt-8 u-Adjust_Mb-16">このページからエントリー</h3>
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-01_231002.png?231002" alt="">
                </div>
                <div>
                  <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                    <li><span class="c-Txt_Emp-02">※</span><span class="c-Txt_Emp-02">口座開設後のエントリーは対象外となります。</span>詳しくは<a href="#campaign-rule-terms" class="js-scroll">キャンペーン条件</a>をご確認ください。</li>
                    <li><span>※</span>楽天モバイル未契約の方は、期限内にお申し込みをしてください。詳しくは<a href="#campaign-term" class="js-scroll">キャンペーン期間</a>をご確認ください。</li>
                  </ul>
                </div>
              </div>
              <div class="<%= namespace %>-Btn_Entry u-Adjust_Mb-16">
                <!-- ReX Campaign Entry Button: Mounting points -->
          <div data-ratId="campaign_<%= namespace %>-entrybutton2" data-ratEvent="click" data-ratParam="all" id="entrybtn2"></div>
                <!-- mounting point for button 2 --><div id="rex-ceb-02" class="campaign-Rexoverwrite"></div>
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3 u-Adjust_Mt-8 u-Adjust_Mb-16">期限までに楽天証券口座開設完了</h3>
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-02.png?210802" alt="">
                </div>
                <div>
                  <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                    <li><span>※</span>口座開設お申し込み手続き後、開設完了まで数日要する場合がございます。</li>
                    <li><span class="c-Txt_Emp-02">※</span><span class="c-Txt_Emp-02">本ページ経由以外で楽天証券口座をお申し込みされた場合は対象外となります。</span></li>
                  </ul>
                  <p class="<%= namespace %>-Btn_Primary02 <%= namespace %>-Btn_Icon u-Adjust_Mt-16 u-Adjust_Mb-16"><a href="https://r10.to/hUF60Y" target="_blank" class="c-Btn_Secondly"><span>楽天証券の口座開設<br class="<%= namespace %>-Layout-Display_Sp">お申し込みはこちら</span><span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></a></p>
                </div>
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3 u-Adjust_Mt-8 u-Adjust_Mb-16">楽天ポイント2,000円相当分ポイントプレゼント！</h3>
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div>
                  <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                    <li><span>※</span>キャンペーン終了月の翌月末日ごろに進呈いたします。</li>
                    <li><span>※</span>進呈日から6カ月間有効の期間限定ポイントとなります。</li>
                    <li><span class="c-Txt_Emp-02">※</span><span class="c-Txt_Emp-02">特典はおひとり様1回のみ対象です。</span></li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
          <h2 class="c-Heading_Lv2 u-Adjust_Mt-56 u-Adjust_Mb-16 u-Adjust_Align-center">よくあるご質問</h2>
          <p class="c-Txt_Cap">※キャンペーン詳細は、<a class="js-scroll" href="#campaign-rule">こちら</a>からご確認ください。</p>
          <div class="_sample u-Adjust_Mt-16 u-Adjust_Mb-40">
            <div class="c-Accordion">
                <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>総合口座開設時に必要な本人確認書類を教えてください。</button>
                <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
                    <p>総合口座開設時に必要な本人確認書類については<a href="https://faq.rakuten-sec.co.jp/10001535?cgi-bin/btracking?bname=&accInputRoute=17&scid%3Dwi_MobileCPN_202012-08" class="c-Link_Txt-inline" target="_blank">こちら<span class="c-Icon_New-window-l"></span></a>をご確認ください。</p>
                </div>
            </div>
            <div class="c-Accordion">
              <button id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>SPU達成のためのポイント投資の方法を教えてください。</button>
              <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
                  <p>SPU対象のポイント投資は、投資信託の「スポット購入」「積立注文」から選べます。<br>
                    ※SPUの対象となるには1注文あたり500円以上の買付及び、1ポイント以上のポイント利用が必要です。<br>
                    併せて月末時点で楽天ポイントコースに設定していることが条件です。<br>
                    <a href="https://faq.rakuten-sec.co.jp/10002417?cgi-bin/btracking?bname=&accInputRoute=17&scid%3Dwi_MobileCPN_202012-09" class="c-Link_Txt-inline" target="_blank">詳しくはこちら<span class="c-Icon_New-window-l"></span></a>をご確認ください。</p>
              </div>
            </div>
            <div class="c-Accordion">
              <button id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天ポイントで投資信託を買うことはできますか？</button>
              <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
                  <p>ポイントコース設定が「楽天ポイントコース」であれば、投資信託の購入時にご利用いただけます。<br>
                    ただし、期間限定ポイントや他ポイントから交換済みのポイントはご利用いただけません。<a href="https://faq.rakuten-sec.co.jp/10001788?cgi-bin/btracking?bname=&accInputRoute=17&scid%3Dwi_MobileCPN_202012-10" class="c-Link_Txt-inline" target="_blank">詳しくはこちら<span class="c-Icon_New-window-l"></span></a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="<%= namespace %>-Btn_Entry u-Adjust_Mt-40">
          <!-- ReX Campaign Entry Button: Mounting points -->
          <div data-ratId="campaign_<%= namespace %>-entrybutton3" data-ratEvent="click" data-ratParam="all" id="entrybtn3"></div>
          <!-- mounting point for button 3 --><div id="rex-ceb-03" class="campaign-Rexoverwrite"></div>
        </div>

        <div class="l-System_Container">
          <p class="<%= namespace %>-Btn_Primary02 <%= namespace %>-Btn_Icon u-Adjust_Mt-40"><a href="https://r10.to/hUF60Y" target="_blank" class="c-Btn_Secondly"><span>楽天証券の口座開設<br class="<%= namespace %>-Layout-Display_Sp">お申し込みはこちら</span><span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></a></p>

          <div class="u-Adjust_Mt-32" id="campaign-rule">
            <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2249', level: 'h3', year: '2024', class: '', comments: '' }}) %>
          </div>
          <div id="campaign-term" class="c-Accordion u-Adjust_Mt-32">
            <button id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーン期間</button>
            <div id="accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-5" aria-hidden="false">
              <div class="<%= namespace %>-Rule_Table u-Adjust_Mt-24">
                <table>
                  <thead>
                    <tr>
                      <th></th>
                      <td><p><span class="c-Txt_Emp-01">期間・期限</span></p></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>3月度</th>
                      <td>
                        <p id="entry_term"><span class="c-Txt_Emp-01">エントリー期間</span></p>
                        <p class="u-Adjust_Pl-16">2024年3月1日（金）9:00～2024年4月1日（月）8:59まで</p>
                        <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">楽天証券口座開設お申し込み期間</span></p>
                        <p class="u-Adjust_Pl-16">2024年3月1日（金）9:00～2024年4月1日（月）8:59まで</p>
                        <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">楽天証券口座開設期間</span></p>
                        <p class="u-Adjust_Pl-16">2024年3月1日（金）9:00～2024年4月15日（月）23:59まで</p>
                        <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">【楽天モバイル未契約の場合】</span></p>
                        <p class="u-Adjust_Pl-16">以下期間中に楽天モバイル新規お申し込みが必要です。</p>
                        <p class="u-Adjust_Pl-16">[Web]：2024年3月1日（金）9:00～2024年4月1日（月）8:59まで</p>
                        <p class="u-Adjust_Pl-16">[店舗（楽天モバイルショップ）]：2024年3月1日（金）開店～2024年3月31日（日）閉店まで</p>
                        <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">ポイント進呈日</span></p>
                        <p class="u-Adjust_Pl-16">2024年5月末日ごろ</p>
                      </td>
                    </tr>
                    <tr>
                      <th>4月度</th>
                      <td>
                        <p><span class="c-Txt_Emp-01">エントリー期間</span></p>
                        <p class="u-Adjust_Pl-16">2024年4月1日（月）9:00～2024年5月1日（水）8:59まで</p>
                        <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">楽天証券口座開設お申し込み期間</span></p>
                        <p class="u-Adjust_Pl-16">2024年4月1日（月）9:00～2024年5月1日（水）8:59まで</p>
                        <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">楽天証券口座開設期間</span></p>
                        <p class="u-Adjust_Pl-16">2024年4月1日（月）9:00～2024年5月15日（水）23:59まで</p>
                        <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">【楽天モバイル未契約の場合】</span></p>
                        <p class="u-Adjust_Pl-16">以下期間中に楽天モバイル新規お申し込みが必要です。</p>
                        <p class="u-Adjust_Pl-16">[Web]：2024年4月1日（月）9:00～2024年5月1日（水）8:59まで</p>
                        <p class="u-Adjust_Pl-16">[店舗（楽天モバイルショップ）]：2024年4月1日（月）開店～2024年4月30日（火）閉店まで</p>
                        <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">ポイント進呈日</span></p>
                        <p class="u-Adjust_Pl-16">2024年6月末日ごろ</p>
                      </td>
                    </tr>
                    <tr>
                      <th>5月度</th>
                      <td>
                        <p><span class="c-Txt_Emp-01">エントリー期間</span></p>
                        <p class="u-Adjust_Pl-16">2024年5月1日（水）9:00～2024年6月3日（月）8:59まで</p>
                        <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">楽天証券口座開設お申し込み期間</span></p>
                        <p class="u-Adjust_Pl-16">2024年5月1日（水）9:00～2024年6月3日（月）8:59まで</p>
                        <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">楽天証券口座開設期間</span></p>
                        <p class="u-Adjust_Pl-16">2024年5月1日（水）9:00～2024年6月17日（月）23:59まで</p>
                        <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">【楽天モバイル未契約の場合】</span></p>
                        <p class="u-Adjust_Pl-16">以下期間中に楽天モバイル新規お申し込みが必要です。</p>
                        <p class="u-Adjust_Pl-16">[Web]：2024年5月1日（水）9:00～2024年6月3日（月）8:59まで</p>
                        <p class="u-Adjust_Pl-16">[店舗（楽天モバイルショップ）]：2024年5月1日（水）開店～2024年6月2日（日）閉店まで</p>
                        <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">ポイント進呈日</span></p>
                        <p class="u-Adjust_Pl-16">2024年7月末日ごろ</p>
                      </td>
                    </tr>
                    <tr>
                      <th>6月度</th>
                      <td>
                        <p><span class="c-Txt_Emp-01">エントリー期間</span></p>
                        <p class="u-Adjust_Pl-16">2024年6月3日（月）9:00～2024年7月1日（月）8:59まで</p>
                        <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">楽天証券口座開設お申し込み期間</span></p>
                        <p class="u-Adjust_Pl-16">2024年6月3日（月）9:00～2024年7月1日（月）8:59まで</p>
                        <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">楽天証券口座開設期間</span></p>
                        <p class="u-Adjust_Pl-16">2024年6月3日（月）9:00～2024年7月15日（月）23:59まで</p>
                        <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">【楽天モバイル未契約の場合】</span></p>
                        <p class="u-Adjust_Pl-16">以下期間中に楽天モバイル新規お申し込みが必要です。</p>
                        <p class="u-Adjust_Pl-16">[Web]：2024年6月3日（月）9:00～2024年7月1日（月）8:59まで</p>
                        <p class="u-Adjust_Pl-16">
                          [店舗（楽天モバイルショップ）]：2024年6月3日（月）開店～2024年6月30日（日）閉店まで</p>
                        <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">ポイント進呈日</span></p>
                        <p class="u-Adjust_Pl-16">2024年8月末日ごろ</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="u-Adjust_Align-center u-Adjust_Mt-48">
            <a href="https://network.mobile.rakuten.co.jp/tips/gservice/?l-id=campaign_<%= namespace %>_tips_gservice" target="_blank">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-10-sp_230106.png?230106">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-10_230106.png?230106" alt="楽天モバイルご契約者様へ　楽天のおトクなサービス">
              </picture>
            </a>
          </div>
          <div class="c-Accordion u-Adjust_Mt-48" id="past-campaigns">
            <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>過去のキャンペーン</button>
            <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
              <div class="<%= namespace %>-Layout_Rule u-Adjust_Mt-0">
                <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2211', level: 'h3', year: '2024', class: '', comments: '' }}) %>
              </div>
              <div class="<%= namespace %>-Layout_Rule">
                <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2185', level: 'h3', year: '2024', class: '', comments: '' }}) %>
              </div>
              <div class="<%= namespace %>-Layout_Rule">
                <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2146', level: 'h3', year: '2024', class: '', comments: '' }}) %>
              </div>
              <div class="<%= namespace %>-Layout_Rule">
                <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2100', level: 'h3', year: '2023', class: '', comments: '' }}) %>
              </div>
              <div class="<%= namespace %>-Layout_Rule">
                <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2080', level: 'h3', year: '2023', class: '', comments: '' }}) %>
              </div>
              <div class="<%= namespace %>-Layout_Rule">
                <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2054', level: 'h3', year: '2023', class: '', comments: '' }}) %>
              </div>
              <div class="<%= namespace %>-Layout_Rule">
                <h2>【毎月開催】楽天モバイルご契約者様限定！エントリー＋楽天証券口座開設で2,000ポイントプレゼント！</h2>
                <div class="u-Adjust_Mt-24">
                  <div class="c-Dl_Origin <%= namespace %>-campaign-Rule">
                    <dl>
                      <dt>キャンペーンコード</dt>
                      <dd>
                        <p>2030</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt>キャンペーン条件</dt>
                      <dd>
                        <p>以下【1】～【3】の条件をすべて満たした楽天会員の方</p>
                        <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【1】キャンペーンへのエントリー</span></p>
                        <p>2023年9月1日（金）9:00～2023年10月2日（月）8:59まで本キャンペーンページでエントリー</p>
                        <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【2】本ページから証券口座申込・開設</span></p>
                        <p>2023年10月2日（月）8:59までに新規お申し込みし、2023年10月16日（月）23:59までに開設</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8 u-Adjust_Pl-16">
                          <li><span>※</span>エントリー前の楽天証券口座開設はポイント進呈の対象外です。</li>
                          <li><span>※</span>期間中に、本ページより楽天証券口座をお申し込み、開設することが必要となります。</li>
                          <li><span>※</span>本ページ経由以外で楽天証券口座をお申し込みされた場合は対象外となります。</li>
                        </ul>
                        <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【3】「Rakuten最強プラン」を利用開始している。または、キャンペーン期間中に「Rakuten最強プラン」へのお申し込み</span></p>
                        <p class="u-Adjust_Pl-16">本キャンペーン開始時点で「Rakuten最強プラン」の未契約者である場合は、各種期日までに下記（1）-（3）いずれかの方法で「お申し込み」にて適用となります。<br>
                          [Web]：2023年9月1日（金）9:00～2023年10月2日（月）8:59まで<br>
                          [店舗（楽天モバイルショップ）]：2023年9月1日（金）開店～2023年10月1日（日）閉店まで</p>
                        <p class="u-Adjust_Mt-16 u-Adjust_Pl-16">
                          （1）新規お申し込み<br>
                          （2）他社からの乗り換え（MNP）でお申し込み<br>
                          （3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8 u-Adjust_Pl-16">
                          <li><span>※</span>楽天モバイル未契約の方は、エントリー後、楽天証券口座開設の順序が満たされていれば、「Rakuten最強プラン」のお申し込みの順序については問いません。</li>
                          <li><span>※</span>エントリー前の楽天証券口座開設は対象外となりますので、ご注意ください。</li>
                          <li>（例1）楽天モバイルにお申し込み後、期間中に本ページにてエントリーしてから楽天証券口座を開設された場合は、ポイント進呈の対象となります。</li>
                          <li>（例2）期間中に本ページにてエントリーし、楽天証券口座を開設後、楽天モバイルにお申し込みの場合はポイント進呈の対象となります。</li>
                          <li>（例3）楽天証券口座を開設後、期間中に本ページにてエントリーされた場合はポイント進呈の対象外です。</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt>キャンペーン特典（楽天ポイント）</dt>
                      <dt class="<%= namespace %>-campaign-Rule_Title-sub">特典内容</dt>
                      <dd>
                        <p>2,000ポイントプレゼント（期間限定ポイント）</p>
                      </dd>
                      <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント進呈日</dt>
                      <dd>
                        <p>該当するキャンペーン開始月の翌々月末日ごろに進呈</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li><span>※</span>楽天ポイントの進呈は、楽天モバイルより行います</li>
                          <li><span>※</span>権利の譲渡はできません</li>
                        </ul>
                      </dd>
                      <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント有効期間</dt>
                      <dd>
                        <p>ポイント進呈日を含めて6カ月</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
                          <li><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt>特典適用対象外</dt>
                      <dd>
                        <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li><span>※</span>当社楽天モバイル株式会社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                          <li><span>※</span>「【毎月開催】楽天モバイルご契約者様限定！エントリー＋楽天証券口座開設で、もれなく2,000円相当分ポイントプレゼント！」の適用回数が、おひとり様1回を超える場合は対象外となります</li>
                          <li><span>※</span>期間中に契約者変更（譲渡・承継）を受けた場合</li>
                          <li><span>※</span>ポイント進呈までに楽天会員から退会している場合</li>
                          <li><span>※</span>楽天モバイル株式会社または楽天グループ株式会社が定める規約などに違反した場合</li>
                          <li><span>※</span>そのほか、当社が会員として不適格であると合理的な根拠に基づき判断した場合</li>
                          <li><span>※</span>未成年のお客様、法人のお客様、IFA（金融商品仲介業）のお客様の場合</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt>注意事項</dt>
                      <dd>
                        <ul class="<%= namespace %>-Table_Rule-Cap">
                          <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください。</li>
                          <li><span>※</span>キャンペーンの特典は今後の開催時に増額または減額、条件変更される場合があります。</li>
                          <li><span>※</span>本キャンペーンの特典進呈対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法上の範囲内に制限される場合があります。</li>
                          <li><span>※</span>本キャンペーン開始前に「Rakuten最強プラン」を解約された場合でも、キャンペーン期間中に「Rakuten最強プラン」を再度お申し込みいただければ対象となります。</li>
                          <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント進呈の対象外となる場合がございます。</li>
                          <li><span>※</span>ポイント進呈のため、キャンペーン対象者様の楽天IDを楽天モバイル株式会社と楽天証券株式会社間で受け渡しいたします。あらかじめご了承ください。</li>
                          <li><span>※</span>楽天証券口座をお持ちでない方が対象となります。</li>
                          <li><span>※</span>楽天証券口座のお申し込み後に口座開設が完了した方のみが対象です。</li>
                          <li><span>※</span>口座開設には本人確認書類のアップロードが必要です。</li>
                          <li><span>※</span>期間中に、本ページより楽天証券口座をお申し込み、開設することが必要となります。</li>
                          <li><span>※</span>本ページ経由以外で楽天証券口座をお申し込みされた場合は対象外となります。</li>
                          <li><span>※</span>楽天証券株式会社の方針に基づき、口座開設をご遠慮いただくことがございます。</li>
                          <li><span>※</span>口座開設には、数日お時間がかかる場合がございます。締切間際でのお手続きの際はご注意ください。</li>
                          <li><span>※</span>エントリーした楽天ID、証券口座を開設した楽天ID、楽天モバイルにご登録の楽天IDが同一でない場合、ポイントは進呈されませんのでご注意ください。</li>
                          <li><span>※</span>記載の内容は2023年9月1日（金）時点の情報となります。</li>
                        </ul>
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="<%= namespace %>-Layout_Rule">
                <h2>【毎月開催】楽天モバイルご契約者様限定！エントリー＋楽天証券口座開設で2,000ポイントプレゼント！</h2>
                <div class="u-Adjust_Mt-24">
                  <div class="c-Dl_Origin <%= namespace %>-campaign-Rule">
                    <dl>
                      <dt>キャンペーンコード</dt>
                      <dd>
                        <p>1994</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt>キャンペーン条件</dt>
                      <dd>
                        <p>以下【1】～【3】の条件をすべて満たした楽天会員の方</p>
                        <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【1】キャンペーンへのエントリー</span></p>
                        <p>2023年8月1日（火）9:00～2023年9月1日（金）8:59まで本キャンペーンページでエントリー</p>
                        <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【2】本ページから証券口座申込・開設</span></p>
                        <p>2023年9月1日（金）8:59までに新規お申し込みし、2023年9月15日（金）23:59までに開設</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8 u-Adjust_Pl-16">
                          <li><span>※</span>エントリー前の楽天証券口座開設はポイント進呈の対象外です。</li>
                          <li><span>※</span>期間中に、本ページより楽天証券口座をお申し込み、開設することが必要となります。</li>
                          <li><span>※</span>本ページ経由以外で楽天証券口座をお申し込みされた場合は対象外となります。</li>
                        </ul>
                        <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【3】「Rakuten最強プラン」を利用開始している。または、キャンペーン期間中に「Rakuten最強プラン」へのお申し込み</span></p>
                        <p class="u-Adjust_Pl-16">本キャンペーン開始時点で「Rakuten最強プラン」の未契約者である場合は、各種期日までに下記（1）-（3）いずれかの方法で「お申し込み」にて適用となります。<br>
                        [Web]：2023年8月1日（火）9:00～2023年9月1日（金）8:59まで<br>
                        [店舗（楽天モバイルショップ）]：2023年8月1日（火）開店～2023年8月31日（木）閉店まで</p>
                        <p class="u-Adjust_Mt-16 u-Adjust_Pl-16">
                          （1）新規お申し込み<br>
                          （2）他社からの乗り換え（MNP）でお申し込み<br>
                          （3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8 u-Adjust_Pl-16">
                          <li><span>※</span>楽天モバイル未契約の方は、エントリー後、楽天証券口座開設の順序が満たされていれば、「Rakuten最強プラン」のお申し込みの順序については問いません。</li>
                          <li><span>※</span>エントリー前の楽天証券口座開設は対象外となりますので、ご注意ください。</li>
                          <li>（例1）楽天モバイルにお申し込み後、期間中に本ページにてエントリーしてから楽天証券口座を開設された場合は、ポイント進呈の対象となります。</li>
                          <li>（例2）期間中に本ページにてエントリーし、楽天証券口座を開設後、楽天モバイルにお申し込みの場合はポイント進呈の対象となります。</li>
                          <li>（例3）楽天証券口座を開設後、期間中に本ページにてエントリーされた場合はポイント進呈の対象外です。</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt>キャンペーン特典（楽天ポイント）</dt>
                      <dt class="<%= namespace %>-campaign-Rule_Title-sub">特典内容</dt>
                      <dd>
                        <p>2,000ポイントプレゼント（期間限定ポイント）</p>
                      </dd>
                      <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント進呈日</dt>
                      <dd>
                        <p>該当するキャンペーン開始月の翌々月末日ごろに進呈</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li><span>※</span>楽天ポイントの進呈は、楽天モバイルより行います</li>
                          <li><span>※</span>権利の譲渡はできません</li>
                        </ul>
                      </dd>
                      <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント有効期間</dt>
                      <dd>
                        <p>ポイント進呈日を含めて6カ月</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
                          <li><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt>特典適用対象外</dt>
                      <dd>
                        <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li><span>※</span>当社楽天モバイル株式会社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                          <li><span>※</span>「【毎月開催】楽天モバイルご契約者様限定！エントリー＋楽天証券口座開設で、もれなく2,000円相当分ポイントプレゼント！」の適用回数が、おひとり様1回を超える場合は対象外となります</li>
                          <li><span>※</span>期間中に契約者変更（譲渡・承継）を受けた場合</li>
                          <li><span>※</span>ポイント進呈までに楽天会員から退会している場合</li>
                          <li><span>※</span>楽天モバイル株式会社または楽天グループ株式会社が定める規約などに違反した場合</li>
                          <li><span>※</span>そのほか、当社が会員として不適格であると合理的な根拠に基づき判断した場合</li>
                          <li><span>※</span>未成年のお客様、法人のお客様、IFA（金融商品仲介業）のお客様の場合</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt>注意事項</dt>
                      <dd>
                        <ul class="<%= namespace %>-Table_Rule-Cap">
                          <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください。</li>
                          <li><span>※</span>キャンペーンの特典は今後の開催時に増額または減額、条件変更される場合があります。</li>
                          <li><span>※</span>本キャンペーンの特典進呈対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法上の範囲内に制限される場合があります。</li>
                          <li><span>※</span>本キャンペーン開始前に「Rakuten最強プラン」を解約された場合でも、キャンペーン期間中に「Rakuten最強プラン」を再度お申し込みいただければ対象となります。</li>
                          <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント進呈の対象外となる場合がございます。</li>
                          <li><span>※</span>ポイント進呈のため、キャンペーン対象者様の楽天IDを楽天モバイル株式会社と楽天証券株式会社間で受け渡しいたします。あらかじめご了承ください。</li>
                          <li><span>※</span>楽天証券口座をお持ちでない方が対象となります。</li>
                          <li><span>※</span>楽天証券口座のお申し込み後に口座開設が完了した方のみが対象です。</li>
                          <li><span>※</span>口座開設には本人確認書類のアップロードが必要です。</li>
                          <li><span>※</span>期間中に、本ページより楽天証券口座をお申し込み、開設することが必要となります。</li>
                          <li><span>※</span>本ページ経由以外で楽天証券口座をお申し込みされた場合は対象外となります。</li>
                          <li><span>※</span>楽天証券株式会社の方針に基づき、口座開設をご遠慮いただくことがございます。</li>
                          <li><span>※</span>口座開設には、数日お時間がかかる場合がございます。締切間際でのお手続きの際はご注意ください。</li>
                          <li><span>※</span>エントリーした楽天ID、証券口座を開設した楽天ID、楽天モバイルにご登録の楽天IDが同一でない場合、ポイントは進呈されませんのでご注意ください。</li>
                          <li><span>※</span>記載の内容は2023年8月1日（火）時点の情報となります。</li>
                        </ul>
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="<%= namespace %>-Layout_Rule">
                <h2>【毎月開催】楽天モバイルご契約者様限定！エントリー＋楽天証券口座開設で2,000ポイントプレゼント！</h2>
                <div class="u-Adjust_Mt-24">
                  <div class="c-Dl_Origin <%= namespace %>-campaign-Rule">
                    <dl>
                      <dt>キャンペーンコード</dt>
                      <dd>
                        <p>1954</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt>キャンペーン条件</dt>
                      <dd>
                        <p>以下【1】～【3】の条件をすべて満たした楽天会員の方</p>
                        <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【1】キャンペーンへのエントリー</span></p>
                        <p>2023年7月3日（月）9:00～2023年8月1日（火）8:59まで本キャンペーンページでエントリー</p>
                        <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【2】本ページから証券口座申込・開設</span></p>
                        <p>2023年8月1日（火）8:59までに新規お申し込みし、2023年8月18日（金）23:59までに開設</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8 u-Adjust_Pl-16">
                          <li><span>※</span>エントリー前の楽天証券口座開設はポイント進呈の対象外です。</li>
                          <li><span>※</span>期間中に、本ページより楽天証券口座をお申し込み、開設することが必要となります。</li>
                          <li><span>※</span>本ページ経由以外で楽天証券口座をお申し込みされた場合は対象外となります。</li>
                        </ul>
                        <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【3】「Rakuten最強プラン」を利用開始している。または、キャンペーン期間中に「Rakuten最強プラン」へのお申し込み</span></p>
                        <p class="u-Adjust_Pl-16">本キャンペーン開始時点で「Rakuten最強プラン」の未契約者である場合は、各種期日までに下記（1）-（3）いずれかの方法で「お申し込み」にて適用となります。<br>
                        [Web]：2023年7月3日（月）9:00～2023年8月1日（火）8:59まで<br>
                        [店舗（楽天モバイルショップ）]：2023年7月3日（月）開店～2023年7月31日（月）閉店まで</p>
                        <p class="u-Adjust_Mt-16 u-Adjust_Pl-16">
                          （1）新規お申し込み<br>
                          （2）他社からの乗り換え（MNP）でお申し込み<br>
                          （3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8 u-Adjust_Pl-16">
                          <li><span>※</span>楽天モバイル未契約の方は、エントリー後、楽天証券口座開設の順序が満たされていれば、「Rakuten最強プラン」のお申し込みの順序については問いません。</li>
                          <li><span>※</span>エントリー前の楽天証券口座開設は対象外となりますので、ご注意ください。</li>
                          <li>（例1）楽天モバイルにお申し込み後、期間中に本ページにてエントリーしてから楽天証券口座を開設された場合は、ポイント進呈の対象となります。</li>
                          <li>（例2）期間中に本ページにてエントリーし、楽天証券口座を開設後、楽天モバイルにお申し込みの場合はポイント進呈の対象となります。</li>
                          <li>（例3）楽天証券口座を開設後、期間中に本ページにてエントリーされた場合はポイント進呈の対象外です。</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt>キャンペーン特典（楽天ポイント）</dt>
                      <dt class="<%= namespace %>-campaign-Rule_Title-sub">特典内容</dt>
                      <dd>
                        <p>2,000ポイントプレゼント（期間限定ポイント）</p>
                      </dd>
                      <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント進呈日</dt>
                      <dd>
                        <p>該当するキャンペーン開始月の翌々月末日ごろに進呈</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li><span>※</span>楽天ポイントの進呈は、楽天モバイルより行います</li>
                          <li><span>※</span>権利の譲渡はできません</li>
                        </ul>
                      </dd>
                      <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント有効期間</dt>
                      <dd>
                        <p>ポイント進呈日を含めて6カ月</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
                          <li><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt>特典適用対象外</dt>
                      <dd>
                        <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li><span>※</span>当社楽天モバイル株式会社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                          <li><span>※</span>「【毎月開催】楽天モバイルご契約者様限定！エントリー＋楽天証券口座開設で、もれなく2,000円相当分ポイントプレゼント！」の適用回数が、おひとり様1回を超える場合は対象外となります</li>
                          <li><span>※</span>期間中に契約者変更（譲渡・承継）を受けた場合</li>
                          <li><span>※</span>ポイント進呈までに楽天会員から退会している場合</li>
                          <li><span>※</span>楽天モバイル株式会社または楽天グループ株式会社が定める規約などに違反した場合</li>
                          <li><span>※</span>そのほか、当社が会員として不適格であると合理的な根拠に基づき判断した場合</li>
                          <li><span>※</span>未成年のお客様、法人のお客様、IFA（金融商品仲介業）のお客様の場合</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt>注意事項</dt>
                      <dd>
                        <ul class="<%= namespace %>-Table_Rule-Cap">
                          <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください。</li>
                          <li><span>※</span>キャンペーンの特典は今後の開催時に増額または減額、条件変更される場合があります。</li>
                          <li><span>※</span>本キャンペーンの特典進呈対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法上の範囲内に制限される場合があります。</li>
                          <li><span>※</span>本キャンペーン開始前に「Rakuten最強プラン」を解約された場合でも、キャンペーン期間中に「Rakuten最強プラン」を再度お申し込みいただければ対象となります。</li>
                          <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント進呈の対象外となる場合がございます。</li>
                          <li><span>※</span>ポイント進呈のため、キャンペーン対象者様の楽天IDを楽天モバイル株式会社と楽天証券株式会社間で受け渡しいたします。あらかじめご了承ください。</li>
                          <li><span>※</span>楽天証券口座をお持ちでない方が対象となります。</li>
                          <li><span>※</span>楽天証券口座のお申し込み後に口座開設が完了した方のみが対象です。</li>
                          <li><span>※</span>口座開設には本人確認書類のアップロードが必要です。</li>
                          <li><span>※</span>期間中に、本ページより楽天証券口座をお申し込み、開設することが必要となります。</li>
                          <li><span>※</span>本ページ経由以外で楽天証券口座をお申し込みされた場合は対象外となります。</li>
                          <li><span>※</span>楽天証券株式会社の方針に基づき、口座開設をご遠慮いただくことがございます。</li>
                          <li><span>※</span>口座開設には、数日お時間がかかる場合がございます。締切間際でのお手続きの際はご注意ください。</li>
                          <li><span>※</span>エントリーした楽天ID、証券口座を開設した楽天ID、楽天モバイルにご登録の楽天IDが同一でない場合、ポイントは進呈されませんのでご注意ください。</li>
                          <li><span>※</span>記載の内容は2023年7月3日（月）時点の情報となります。</li>
                        </ul>
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="<%= namespace %>-Layout_Rule">
                <h2>【毎月開催】楽天モバイルご契約者様限定！エントリー＋楽天証券口座開設で2,000ポイントプレゼント！</h2>
                <div class="u-Adjust_Mt-24">
                  <div class="c-Dl_Origin <%= namespace %>-campaign-Rule">
                    <dl>
                      <dt>キャンペーンコード</dt>
                      <dd>
                        <p>1925</p>
                      </dd>
                    </dl>
                    <dl>
                      <dt>キャンペーン条件</dt>
                      <dd>
                        <p>以下【1】～【3】の条件をすべて満たした楽天会員の方</p>
                        <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【1】キャンペーンへのエントリー</span></p>
                        <p>2023年6月1日（木）9:00～2023年7月3日（月）8:59まで本キャンペーンページでエントリー</p>
                        <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【2】本ページから証券口座申込・開設</span></p>
                        <p>2023年7月3日（月）8:59までに新規お申し込みし、2023年7月19日（水）23:59までに開設</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8 u-Adjust_Pl-16">
                          <li><span>※</span>エントリー前の楽天証券口座開設はポイント進呈の対象外です。</li>
                          <li><span>※</span>期間中に、本ページより楽天証券口座をお申し込み、開設することが必要となります。</li>
                          <li><span>※</span>本ページ経由以外で楽天証券口座をお申し込みされた場合は対象外となります。</li>
                        </ul>
                        <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【3】「Rakuten最強プラン」を利用開始している。または、キャンペーン期間中に「Rakuten最強プラン」へのお申し込み</span></p>
                        <p class="u-Adjust_Pl-16">本キャンペーン開始時点で「Rakuten最強プラン」の未契約者である場合は、各種期日までに下記（1）-（3）いずれかの方法で「お申し込み」にて適用となります。<br>
                        [Web]：2023年6月1日（木）9:00～2023年7月3日（月）8:59まで<br>
                        [店舗（楽天モバイルショップ）]：2023年6月1日（木）開店～2023年7月2日（日）閉店まで</p>
                        <p class="u-Adjust_Mt-16 u-Adjust_Pl-16">
                          （1）新規お申し込み<br>
                          （2）他社からの乗り換え（MNP）でお申し込み<br>
                          （3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8 u-Adjust_Pl-16">
                          <li><span>※</span>「Rakuten UN-LIMIT VII」から「Rakuten最強プラン」への移行は対象外となります。</li>
                          <li><span>※</span>楽天モバイル未契約の方は、エントリー後、楽天証券口座開設の順序が満たされていれば、「Rakuten最強プラン」のお申し込みの順序については問いません。</li>
                          <li><span>※</span>エントリー前の楽天証券口座開設は対象外となりますので、ご注意ください。</li>
                          <li>（例1）楽天モバイルにお申し込み後、期間中に本ページにてエントリーしてから楽天証券口座を開設された場合は、ポイント進呈の対象となります。</li>
                          <li>（例2）期間中に本ページにてエントリーし、楽天証券口座を開設後、楽天モバイルにお申し込みの場合はポイント進呈の対象となります。</li>
                          <li>（例3）楽天証券口座を開設後、期間中に本ページにてエントリーされた場合はポイント進呈の対象外です。</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt>キャンペーン特典（楽天ポイント）</dt>
                      <dt class="<%= namespace %>-campaign-Rule_Title-sub">特典内容</dt>
                      <dd>
                        <p>2,000ポイントプレゼント（期間限定ポイント）</p>
                      </dd>
                      <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント進呈日</dt>
                      <dd>
                        <p>該当するキャンペーン開始月の翌々月末日ごろに進呈</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li><span>※</span>楽天ポイントの進呈は、楽天モバイルより行います</li>
                          <li><span>※</span>権利の譲渡はできません</li>
                        </ul>
                      </dd>
                      <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント有効期間</dt>
                      <dd>
                        <p>ポイント進呈日を含めて6カ月</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
                          <li><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt>特典適用対象外</dt>
                      <dd>
                        <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li><span>※</span>当社楽天モバイル株式会社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                          <li><span>※</span>「【毎月開催】楽天モバイルご契約者様限定！エントリー＋楽天証券口座開設で、もれなく2,000円相当分ポイントプレゼント！」の適用回数が、おひとり様1回を超える場合は対象外となります</li>
                          <li><span>※</span>期間中に契約者変更（譲渡・承継）を受けた場合</li>
                          <li><span>※</span>ポイント進呈までに楽天会員から退会している場合</li>
                          <li><span>※</span>楽天モバイル株式会社または楽天グループ株式会社が定める規約などに違反した場合</li>
                          <li><span>※</span>そのほか、当社が会員として不適格であると合理的な根拠に基づき判断した場合</li>
                          <li><span>※</span>未成年のお客様、法人のお客様、IFA（金融商品仲介業）のお客様の場合</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt>注意事項</dt>
                      <dd>
                        <ul class="<%= namespace %>-Table_Rule-Cap">
                          <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください。</li>
                          <li><span>※</span>キャンペーンの特典は今後の開催時に増額または減額、条件変更される場合があります。</li>
                          <li><span>※</span>本キャンペーンの特典進呈対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法上の範囲内に制限される場合があります。</li>
                          <li><span>※</span>本キャンペーン開始前に「Rakuten最強プラン」を解約された場合でも、キャンペーン期間中に「Rakuten最強プラン」を再度お申し込みいただければ対象となります。</li>
                          <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります。</li>
                          <li><span>※</span>ポイント進呈のため、キャンペーン対象者様の楽天IDを楽天モバイル株式会社と楽天証券株式会社間で受け渡しいたします。あらかじめご了承ください。</li>
                          <li><span>※</span>楽天証券口座をお持ちでない方が対象となります。</li>
                          <li><span>※</span>楽天証券口座のお申し込み後に口座開設が完了した方のみが対象です。</li>
                          <li><span>※</span>口座開設には本人確認書類のアップロードが必要です。</li>
                          <li><span>※</span>期間中に、本ページより楽天証券口座をお申し込み、開設することが必要となります。</li>
                          <li><span>※</span>本ページ経由以外で楽天証券口座をお申し込みされた場合は対象外となります。</li>
                          <li><span>※</span>楽天証券株式会社の方針に基づき、口座開設をご遠慮いただくことがございます。</li>
                          <li><span>※</span>口座開設には、数日お時間がかかる場合がございます。締切間際でのお手続きの際はご注意ください。</li>
                          <li><span>※</span>エントリーした楽天ID、証券口座を開設した楽天ID、楽天モバイルにご登録の楽天IDが同一でない場合、ポイントは進呈されませんのでご注意ください。</li>
                          <li><span>※</span>記載の内容は2023年6月1日（木）時点の情報となります。</li>
                        </ul>
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="<%= namespace %>-Layout_Rule">
                <h2>【毎月開催】楽天モバイルご契約者様限定！エントリー＋楽天証券口座開設で2,000ポイントプレゼント！</h2>
                <div class="u-Adjust_Mt-24">
                  <div class="c-Dl_Origin <%= namespace %>-campaign-Rule">
                    <dl>
                      <dt>キャンペーンコード</dt>
                      <dd>
                        <p>1892</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt>キャンペーン条件</dt>
                      <dd>
                        <p>以下【1】～【3】の条件をすべて満たした楽天会員の方</p>
                        <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【1】キャンペーンへのエントリー</span></p>
                        <p>2023年5月1日（月）9:00～2023年6月1日（木）8:59まで本キャンペーンページでエントリー</p>
                        <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【2】本ページから証券口座申込・開設</span></p>
                        <p>2023年6月1日（木）8:59まで新規お申し込みし、2023年6月15日（木）23:59まで開設</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8 u-Adjust_Pl-16">
                          <li><span>※</span>エントリー前の楽天証券口座開設はポイント進呈の対象外です。</li>
                          <li><span>※</span>期間中に、本ページより楽天証券口座をお申し込み、開設することが必要となります。</li>
                          <li><span>※</span>本ページ経由以外で楽天証券口座をお申し込みされた場合は対象外となります。</li>
                        </ul>
                        <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【3】「Rakuten最強プラン」を利用開始している。または、キャンペーン期間中に「Rakuten最強プラン」へのお申し込み</span></p>
                        <p class="u-Adjust_Pl-16">本キャンペーン開始時点で「Rakuten最強プラン」の未契約者である場合は、各種期日までに下記（1）-（3）いずれかの方法で「お申し込み」にて適用となります。<br>
                          [Web]：2023年5月1日（月）9:00～2023年6月1日（木）8:59まで<br>
                          [店舗（楽天モバイルショップ）]：2023年5月1日（月）開店～2023年5月31日（水）閉店まで</p>
                        <p class="u-Adjust_Mt-16 u-Adjust_Pl-16">
                          （1）新規お申し込み<br>
                          （2）他社からの乗り換え（MNP）でお申し込み<br>
                          （3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8 u-Adjust_Pl-16">
                          <li><span>※</span>「Rakuten UN-LIMIT VII」から「Rakuten最強プラン」への移行は対象外となります。</li>
                          <li><span>※</span>楽天モバイル未契約の方は、エントリー後、楽天証券口座開設の順序が満たされていれば、「Rakuten最強プラン」のお申し込みの順序については問いません。</li>
                          <li><span>※</span>エントリー前の楽天証券口座開設は対象外となりますので、ご注意ください。</li>
                          <li>（例1）楽天モバイルにお申し込み後、期間中に本ページにてエントリーしてから楽天証券口座を開設された場合は、ポイント進呈の対象となります。</li>
                          <li>（例2）期間中に本ページにてエントリーし、楽天証券口座を開設後、楽天モバイルにお申し込みの場合はポイント進呈の対象となります。</li>
                          <li>（例3）楽天証券口座を開設後、期間中に本ページにてエントリーされた場合はポイント進呈の対象外です。</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt>キャンペーン特典（楽天ポイント）</dt>
                      <dt class="<%= namespace %>-campaign-Rule_Title-sub">特典内容</dt>
                      <dd>
                        <p>2,000ポイントプレゼント（期間限定ポイント）</p>
                      </dd>
                      <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント進呈日</dt>
                      <dd>
                        <p>該当するキャンペーン開始月の翌々月末日ごろに進呈</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li><span>※</span>楽天ポイントの進呈は、楽天モバイルより行います</li>
                          <li><span>※</span>権利の譲渡はできません</li>
                        </ul>
                      </dd>
                      <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント有効期間</dt>
                      <dd>
                        <p>ポイント進呈日を含めて6カ月</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
                          <li><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt>特典適用対象外</dt>
                      <dd>
                        <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li><span>※</span>当社楽天モバイル株式会社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                          <li><span>※</span>「【毎月開催】楽天モバイルご契約者様限定！エントリー＋楽天証券口座開設で、もれなく2,000円相当分ポイントプレゼント！」の適用回数が、おひとり様1回を超える場合は対象外となります</li>
                          <li><span>※</span>期間中に契約者変更（譲渡・承継）を受けた場合</li>
                          <li><span>※</span>ポイント進呈までに楽天会員から退会している場合</li>
                          <li><span>※</span>楽天モバイル株式会社または楽天グループ株式会社が定める規約などに違反した場合</li>
                          <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
                          <li><span>※</span>未成年のお客様、法人のお客様、IFA（金融商品仲介業）のお客様の場合</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt>注意事項</dt>
                      <dd>
                        <ul class="<%= namespace %>-Table_Rule-Cap">
                          <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください。</li>
                          <li><span>※</span>キャンペーンの特典は今後の開催時に増額または減額、条件変更される場合があります。</li>
                          <li><span>※</span>本キャンペーンの特典進呈対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法上の範囲内に制限される場合があります。</li>
                          <li><span>※</span>本キャンペーン開始前に「Rakuten最強プラン」を解約された場合でも、キャンペーン期間中に「Rakuten最強プラン」を再度お申し込みいただければ対象となります。</li>
                          <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります。</li>
                          <li><span>※</span>ポイント進呈のため、キャンペーン対象者様の楽天IDを楽天モバイル株式会社と楽天証券株式会社間で受け渡しいたします。あらかじめご了承ください。</li>
                          <li><span>※</span>楽天証券口座をお持ちでない方が対象となります。</li>
                          <li><span>※</span>楽天証券口座のお申し込み後に口座開設が完了した方のみが対象です。</li>
                          <li><span>※</span>口座開設には本人確認書類のアップロードが必要です。</li>
                          <li><span>※</span>期間中に、本ページより楽天証券口座をお申し込み、開設することが必要となります。</li>
                          <li><span>※</span>本ページ経由以外で楽天証券口座をお申し込みされた場合は対象外となります。</li>
                          <li><span>※</span>楽天証券株式会社の方針に基づき、口座開設をご遠慮いただくことがございます。</li>
                          <li><span>※</span>口座開設には、数日お時間がかかる場合がございます。締切間際でのお手続きの際はご注意ください。</li>
                          <li><span>※</span>エントリーした楽天ID、証券口座を開設した楽天ID、楽天モバイルにご登録の楽天IDが同一でない場合、ポイントは進呈されませんのでご注意ください。</li>
                          <li><span>※</span>記載の内容は2023年6月1日（木）時点の情報となります。</li>
                        </ul>
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="<%= namespace %>-Layout_Rule">
                <h2>【毎月開催】楽天モバイルご契約者様限定！エントリー＋楽天証券口座開設で2,000ポイントプレゼント！</h2>
                <div class="u-Adjust_Mt-24">
                  <div class="c-Dl_Origin <%= namespace %>-campaign-Rule">
                    <dl>
                      <dt>キャンペーンコード</dt>
                      <dd>
                        <p>1854</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt>キャンペーン条件</dt>
                      <dd>
                        <p>以下【1】～【3】の条件をすべて満たした楽天会員の方</p>
                        <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【1】キャンペーンへのエントリー</span></p>
                        <p>2023年4月3日（月）9:00～2023年5月1日（月）8:59まで本キャンペーンページでエントリー</p>
                        <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【2】本ページから証券口座申込・開設</span></p>
                        <p>2023年5月1日（月）8:59まで新規お申し込みし、2023年5月17日（水）23:59まで開設
                        </p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8 u-Adjust_Pl-16">
                          <li><span>※</span>エントリー前の楽天証券口座開設はポイント進呈の対象外です。</li>
                          <li><span>※</span>期間中に、本ページより楽天証券口座をお申し込み、開設することが必要となります。</li>
                          <li><span>※</span>本ページ経由以外で楽天証券口座をお申し込みされた場合は対象外となります。</li>
                        </ul>
                        <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【3】「Rakuten UN-LIMIT VII」プランご利用中である。または、キャンペーン期間中に「Rakuten UN-LIMIT VII」へのお申し込み</span></p>
                        <p class="u-Adjust_Pl-16">本キャンペーン開始時点で「Rakuten UN-LIMIT VII」の未契約者である場合は、各種期日までに下記（1）-（3）いずれかの方法で「お申し込み」にて適用となります。<br>
                          [Web]：2023年4月3日（月）9:00～2023年5月1日（月）8:59まで<br>
                          [店舗（楽天モバイルショップ）]：2023年4月3日（月）開店～2023年4月30日（日）閉店まで</p>
                        <p class="u-Adjust_Mt-16 u-Adjust_Pl-16">
                          （1）新規お申し込み<br>
                          （2）他社からの乗り換え（MNP）でお申し込み<br>
                          （3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8 u-Adjust_Pl-16">
                          <li><span>※</span>楽天モバイル未契約の方は、エントリー後、楽天証券口座開設の順序が満たされていれば、「Rakuten UN-LIMIT VII」のお申し込みの順序については問いません。</li>
                          <li><span>※</span>エントリー前の楽天証券口座開設は対象外となりますので、ご注意ください。</li>
                          <li>（例1）楽天モバイルにお申し込み後、期間中に本ページにてエントリーしてから楽天証券口座を開設された場合は、ポイント進呈の対象となります。</li>
                          <li>（例2）期間中に本ページにてエントリーし、楽天証券口座を開設後、楽天モバイルにお申し込みの場合はポイント進呈の対象となります。</li>
                          <li>（例3）楽天証券口座を開設後、期間中に本ページにてエントリーされた場合はポイント進呈の対象外です。</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt>キャンペーン特典（楽天ポイント）</dt>
                      <dt class="<%= namespace %>-campaign-Rule_Title-sub">特典内容</dt>
                      <dd>
                        <p>2,000ポイントプレゼント（期間限定ポイント）</p>
                      </dd>
                      <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント進呈日</dt>
                      <dd>
                        <p>該当するキャンペーン開始月の翌々月末日ごろに進呈</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li><span>※</span>楽天ポイントの進呈は、楽天モバイルより行います</li>
                          <li><span>※</span>権利の譲渡はできません</li>
                        </ul>
                      </dd>
                      <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント有効期間</dt>
                      <dd>
                        <p>ポイント進呈日を含めて6カ月</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
                          <li><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt>特典適用対象外</dt>
                      <dd>
                        <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li><span>※</span>当社楽天モバイル株式会社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                          <li><span>※</span>「【毎月開催】楽天モバイルご契約者様限定！エントリー＋楽天証券口座開設で、もれなく2,000円相当分ポイントプレゼント！」「【毎月開催】楽天モバイルご契約者様限定！エントリー＋楽天証券口座開設で2,000ポイントプレゼント！さらに12月度・1月度限定で1,000ポイントプラス！※期間限定ポイント」の合計適用回数が、おひとり様1回を超える場合は対象外となります</li>
                          <li><span>※</span>期間中に契約者変更（譲渡・承継）を受けた場合</li>
                          <li><span>※</span>ポイント進呈までに楽天会員から退会している場合</li>
                          <li><span>※</span>楽天モバイル株式会社または楽天グループ株式会社が定める規約などに違反した場合</li>
                          <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
                          <li><span>※</span>未成年のお客様、法人のお客様、IFA（金融商品仲介業）のお客様の場合</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt>注意事項</dt>
                      <dd>
                        <ul class="<%= namespace %>-Table_Rule-Cap">
                          <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください。</li>
                          <li><span>※</span>キャンペーンの特典は今後の開催時に増額または減額、条件変更される場合があります。</li>
                          <li><span>※</span>本キャンペーンの特典進呈対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法上の範囲内に制限される場合があります。</li>
                          <li><span>※</span>本キャンペーン開始前に「Rakuten UN-LIMIT VII」を解約された場合でも、キャンペーン期間中に「Rakuten UN-LIMIT VII」を再度お申し込みいただければ対象となります。</li>
                          <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります。</li>
                          <li><span>※</span>ポイント進呈のため、キャンペーン対象者様の楽天IDを楽天モバイル株式会社と楽天証券株式会社間で受け渡しいたします。あらかじめご了承ください。</li>
                          <li><span>※</span>楽天証券口座をお持ちでない方が対象となります。</li>
                          <li><span>※</span>楽天証券口座のお申し込み後に口座開設が完了した方のみが対象です。</li>
                          <li><span>※</span>口座開設には本人確認書類のアップロードが必要です。</li>
                          <li><span>※</span>期間中に、本ページより楽天証券口座をお申し込み、開設することが必要となります。</li>
                          <li><span>※</span>本ページ経由以外で楽天証券口座をお申し込みされた場合は対象外となります。</li>
                          <li><span>※</span>楽天証券株式会社の方針に基づき、口座開設をご遠慮いただくことがございます。</li>
                          <li><span>※</span>口座開設には、数日お時間がかかる場合がございます。締切間際でのお手続きの際はご注意ください。</li>
                          <li><span>※</span>エントリーした楽天ID、証券口座を開設した楽天ID、楽天モバイルにご登録の楽天IDが同一でない場合、ポイントは進呈されませんのでご注意ください。</li>
                          <li><span>※</span>記載の内容は2023年4月3日（月）時点の情報となります。</li>
                        </ul>
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="<%= namespace %>-Layout_Rule">
                <h2>【毎月開催】楽天モバイルご契約者様限定！エントリー＋楽天証券口座開設で2,000ポイントプレゼント！</h2>
                <div class="u-Adjust_Mt-24">
                  <div class="c-Dl_Origin <%= namespace %>-campaign-Rule">
                    <dl>
                      <dt>キャンペーンコード</dt>
                      <dd>
                        <p>1804</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt>キャンペーン条件</dt>
                      <dd>
                        <p>以下【1】～【3】の条件をすべて満たした楽天会員の方</p>
                        <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【1】キャンペーンへのエントリー</span></p>
                        <p>2023年3月1日（水）9:00～2023年4月3日（月）8:59まで本キャンペーンページでエントリー</p>
                        <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【2】本ページから証券口座申込・開設</span></p>
                        <p>2023年4月3日（月）8:59まで新規お申し込みし、2023年4月18日（火）23:59まで開設</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8 u-Adjust_Pl-16">
                          <li><span>※</span>エントリー前の楽天証券口座開設はポイント進呈の対象外です。</li>
                          <li><span>※</span>期間中に、本ページより楽天証券口座をお申し込み、開設することが必要となります。</li>
                          <li><span>※</span>本ページ経由以外で楽天証券口座をお申し込みされた場合は対象外となります。</li>
                        </ul>
                        <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【3】「Rakuten UN-LIMIT VII」プランご利用中である。または、キャンペーン期間中に「Rakuten UN-LIMIT VII」へのお申し込み</span></p>
                        <p class="u-Adjust_Pl-16">本キャンペーン開始時点で「Rakuten UN-LIMIT VII」の未契約者である場合は、各種期日までに下記（1）-（3）いずれかの方法で「お申し込み」にて適用となります。<br>
                          [Web]：2023年3月1日（水）9:00～2023年4月3日（月）8:59まで<br>
                          [店舗（楽天モバイルショップ）]：[店舗（楽天モバイルショップ）]：2023年3月1日（水）開店～2023年4月2日（日）閉店まで
                        </p>
                        <p class="u-Adjust_Mt-16 u-Adjust_Pl-16">
                          （1）新規お申し込み<br>
                          （2）他社からの乗り換え（MNP）でお申し込み<br>
                          （3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8 u-Adjust_Pl-16">
                          <li><span>※</span>楽天モバイル未契約の方は、エントリー後、楽天証券口座開設の順序が満たされていれば、「Rakuten UN-LIMIT VII」のお申し込みの順序については問いません。</li>
                          <li><span>※</span>エントリー前の楽天証券口座開設は対象外となりますので、ご注意ください。</li>
                          <li>（例1）楽天モバイルにお申し込み後、期間中に本ページにてエントリーしてから楽天証券口座を開設された場合は、ポイント進呈の対象となります。</li>
                          <li>（例2）期間中に本ページにてエントリーし、楽天証券口座を開設後、楽天モバイルにお申し込みの場合はポイント進呈の対象となります。</li>
                          <li>（例3）楽天証券口座を開設後、期間中に本ページにてエントリーされた場合はポイント進呈の対象外です。</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt>キャンペーン特典（楽天ポイント）</dt>
                      <dt class="<%= namespace %>-campaign-Rule_Title-sub">特典内容</dt>
                      <dd>
                        <p>2,000ポイントプレゼント（期間限定ポイント）</p>
                      </dd>
                      <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント進呈日</dt>
                      <dd>
                        <p>該当するキャンペーン開始月の翌々月末日ごろに進呈</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li><span>※</span>楽天ポイントの進呈は、楽天モバイルより行います</li>
                          <li><span>※</span>権利の譲渡はできません</li>
                        </ul>
                      </dd>
                      <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント有効期間</dt>
                      <dd>
                        <p>ポイント進呈日を含めて6カ月</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
                          <li><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt>特典適用対象外</dt>
                      <dd>
                        <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li><span>※</span>当社楽天モバイル株式会社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                          <li><span>※</span>「【毎月開催】楽天モバイルご契約者様限定！エントリー＋楽天証券口座開設で、もれなく2,000円相当分ポイントプレゼント！」「【毎月開催】楽天モバイルご契約者様限定！エントリー＋楽天証券口座開設で2,000ポイントプレゼント！さらに12月度・1月度限定で1,000ポイントプラス！※期間限定ポイント」の合計適用回数が、おひとり様1回を超える場合は対象外となります</li>
                          <li><span>※</span>期間中に契約者変更（譲渡・承継）を受けた場合</li>
                          <li><span>※</span>ポイント進呈までに楽天会員から退会している場合</li>
                          <li><span>※</span>楽天モバイル株式会社または楽天グループ株式会社が定める規約などに違反した場合</li>
                          <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
                          <li><span>※</span>未成年のお客様、法人のお客様、IFA（金融商品仲介業）のお客様の場合</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt>注意事項</dt>
                      <dd>
                        <ul class="<%= namespace %>-Table_Rule-Cap">
                          <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください。</li>
                          <li><span>※</span>キャンペーンの特典は今後の開催時に増額または減額、条件変更される場合があります。</li>
                          <li><span>※</span>本キャンペーンの特典進呈対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法上の範囲内に制限される場合があります。</li>
                          <li><span>※</span>本キャンペーン開始前に「Rakuten UN-LIMIT VII」を解約された場合でも、キャンペーン期間中に「Rakuten UN-LIMIT VII」を再度お申し込みいただければ対象となります。</li>
                          <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります。</li>
                          <li><span>※</span>ポイント進呈のため、キャンペーン対象者様の楽天IDを楽天モバイル株式会社と楽天証券株式会社間で受け渡しいたします。あらかじめご了承ください。</li>
                          <li><span>※</span>楽天証券口座をお持ちでない方が対象となります。</li>
                          <li><span>※</span>楽天証券口座のお申し込み後に口座開設が完了した方のみが対象です。</li>
                          <li><span>※</span>口座開設には本人確認書類のアップロードが必要です。</li>
                          <li><span>※</span>期間中に、本ページより楽天証券口座をお申し込み、開設することが必要となります。</li>
                          <li><span>※</span>本ページ経由以外で楽天証券口座をお申し込みされた場合は対象外となります。</li>
                          <li><span>※</span>楽天証券株式会社の方針に基づき、口座開設をご遠慮いただくことがございます。</li>
                          <li><span>※</span>口座開設には、数日お時間がかかる場合がございます。締切間際でのお手続きの際はご注意ください。</li>
                          <li><span>※</span>エントリーした楽天ID、証券口座を開設した楽天ID、楽天モバイルにご登録の楽天IDが同一でない場合、ポイントは進呈されませんのでご注意ください。</li>
                          <li><span>※</span>記載の内容は2023年3月1日（水）時点の情報となります。</li>
                        </ul>
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="<%= namespace %>-Layout_Rule">
                <h2>【毎月開催】楽天モバイルご契約者様限定！エントリー＋楽天証券口座開設で2,000ポイントプレゼント！</h2>
                <div class="u-Adjust_Mt-24">
                  <div class="c-Dl_Origin <%= namespace %>-campaign-Rule">
                    <dl>
                      <dt>キャンペーンコード</dt>
                      <dd>
                        <p>1776</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt>キャンペーン条件</dt>
                      <dd>
                        <p>以下【1】～【3】の条件をすべて満たした楽天会員の方</p>
                        <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【1】キャンペーンへのエントリー</span></p>
                        <p>2023年2月1日（水）9:00～2023年3月1日（水）8:59まで</p>
                        <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【2】本ページから証券口座申込・開設</span></p>
                        <p>2023年2月1日（水）9:00～2023年3月15日（水）23:59まで</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8 u-Adjust_Pl-16">
                          <li><span>※</span>エントリー前の楽天証券口座開設はポイント付与の対象外です。</li>
                          <li><span>※</span>期間中に、本ページより楽天証券口座をお申し込み、開設することが必要となります。</li>
                          <li><span>※</span>本ページ経由以外で楽天証券口座をお申し込みされた場合は対象外となります。</li>
                        </ul>
                        <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【3】「Rakuten UN-LIMIT VII」プランご利用中である。または、キャンペーン期間中に「Rakuten UN-LIMIT VII」へのお申し込み</span></p>
                        <p class="u-Adjust_Pl-16">本キャンペーン開始時点で「Rakuten UN-LIMIT VII」の未契約者である場合は、各種期日までに下記（1）-（3）いずれかの方法で「お申し込み」にて適用となります。<br>
                          [Web]：2023年2月1日（水）9:00～2023年3月1日（水）8:59まで<br>
                          [店舗（楽天モバイルショップ）]：2023年2月1日（水）開店～2023年2月28日（火）閉店まで
                        </p>
                        <p class="u-Adjust_Mt-16 u-Adjust_Pl-16">
                          （1）新規お申し込み<br>
                          （2）他社からの乗り換え（MNP）でお申し込み<br>
                          （3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8 u-Adjust_Pl-16">
                          <li><span>※</span>楽天モバイル未契約の方は、エントリー後、楽天証券口座開設の順序が満たされていれば、「Rakuten UN-LIMIT VII」のお申し込みの順序については問いません。</li>
                          <li><span>※</span>エントリー前の楽天証券口座開設は対象外となりますので、ご注意ください。</li>
                          <li>（例1）楽天モバイルにお申し込み後、期間中に本ページにてエントリーしてから楽天証券口座を開設された場合は、ポイント進呈の対象となります。</li>
                          <li>（例2）期間中に本ページにてエントリーし、楽天証券口座を開設後、楽天モバイルにお申し込みの場合はポイント進呈の対象となります。</li>
                          <li>（例3）楽天証券口座を開設後、期間中に本ページにてエントリーされた場合はポイント進呈の対象外です。</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt>キャンペーン特典（楽天ポイント）</dt>
                      <dt class="<%= namespace %>-campaign-Rule_Title-sub">特典内容</dt>
                      <dd>
                        <p>2,000ポイントプレゼント（期間限定ポイント）</p>
                      </dd>
                      <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント付与日</dt>
                      <dd>
                        <p>該当するキャンペーン開催月の翌々月末日ごろに進呈</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li><span>※</span>楽天ポイントの進呈は、楽天モバイルより行います</li>
                          <li><span>※</span>権利の譲渡はできません</li>
                        </ul>
                      </dd>
                      <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント有効期間</dt>
                      <dd>
                        <p>ポイント進呈日を含めて6カ月</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
                          <li><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt>特典適用対象外</dt>
                      <dd>
                        <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li><span>※</span>当社楽天モバイル株式会社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                          <li><span>※</span>「【毎月開催】楽天モバイルご契約者様限定！エントリー＋楽天証券口座開設で、もれなく2,000円相当分ポイントプレゼント！」「【毎月開催】楽天モバイルご契約者様限定！エントリー＋楽天証券口座開設で2,000ポイントプレゼント！さらに12月度・1月度限定で1,000ポイントプラス！※期間限定ポイント」の合計適用回数が、おひとり様1回を超える場合は対象外となります</li>
                          <li><span>※</span>期間中に契約者変更（譲渡・承継）を受けた場合</li>
                          <li><span>※</span>ポイント進呈までに楽天会員から退会している場合</li>
                          <li><span>※</span>楽天モバイル株式会社または楽天グループ株式会社が定める規約などに違反した場合</li>
                          <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
                          <li><span>※</span>未成年のお客様、法人のお客様、IFA（金融商品仲介業）のお客様の場合</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt>注意事項</dt>
                      <dd>
                        <ul class="<%= namespace %>-Table_Rule-Cap">
                          <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください。</li>
                          <li><span>※</span>キャンペーンの特典は今後の開催時に増額または減額、条件変更される場合があります。</li>
                          <li><span>※</span>本キャンペーンの特典進呈対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法上の範囲内に制限される場合があります。</li>
                          <li><span>※</span>本キャンペーン開始前に「Rakuten UN-LIMIT VII」を解約された場合でも、キャンペーン期間中に「Rakuten UN-LIMIT VII」を再度お申し込みいただければ対象となります。</li>
                          <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります。</li>
                          <li><span>※</span>ポイント進呈のため、キャンペーン対象者様の楽天IDを楽天モバイル株式会社と楽天証券株式会社間で受け渡しいたします。あらかじめご了承ください。</li>
                          <li><span>※</span>楽天証券口座をお持ちでない方が対象となります。</li>
                          <li><span>※</span>楽天証券口座のお申し込み後に口座開設が完了した方のみが対象です。</li>
                          <li><span>※</span>口座開設には本人確認書類のアップロードが必要です。</li>
                          <li><span>※</span>期間中に、本ページより楽天証券口座をお申し込み、開設することが必要となります。</li>
                          <li><span>※</span>本ページ経由以外で楽天証券口座をお申し込みされた場合は対象外となります。</li>
                          <li><span>※</span>楽天証券株式会社の方針に基づき、口座開設をご遠慮いただくことがございます。</li>
                          <li><span>※</span>口座開設には、数日お時間がかかる場合がございます。締切間際でのお手続きの際はご注意ください。</li>
                          <li><span>※</span>エントリーした楽天ID、証券口座を開設した楽天ID、楽天モバイルにご登録の楽天IDが同一でない場合、ポイントは進呈されませんのでご注意ください。</li>
                          <li><span>※</span>記載の内容は2023年2月1日（水）時点の情報となります。</li>
                        </ul>
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <!-- ReX UX Survey: Mounting point for embedded components -->
    <div class="u-Adjust_Mt-24">
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
    </div>

    <footer class="g-Footer u-Adjust_Mt-64 <%= namespace %>-Layout_Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>

      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>

  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
  <%- include('/include/poikaku-gadget/_js') %>
  <script>
    $('#close').click(function() {
      $('.g-Footer').removeClass('<%= namespace %>-Layout_Footer');
      $('.<%= namespace %>-Layout_Bottom-fixed').addClass('hidden');
    })
  </script>
  <script>
  function entbtn1() {
    document.getElementById("entrybtn1").click();
  };
  function entbtn2() {
    document.getElementById("entrybtn2").click();
  };
  function entbtn3() {
    document.getElementById("entrybtn3").click();
  };

  </script>
  <!-- ReX UX Survey: Config -->
  <script>
  window.rexSurveyConfig = {"surveyId":"36980","cId":{"name":"answers[36980_254387]","value":""},"embedded":true,"url":{"name":"answers[36980_254388]"},"triggerIdName":"trigger","expirationPeriod":30,"enableDisplaySuppressionPerPage":true,"enableFormAction":true,"permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問) ","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":true},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。"},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[36980_254389]","value":"704767"},{"name":"answers[36980_254389]","value":"704768"},{"name":"answers[36980_254389]","value":"704769"},{"name":"answers[36980_254389]","value":"704770"},{"name":"answers[36980_254389]","value":"704771"}],"txt0":"薦めたくない","txt1":"薦めたい","checked":4},"inquiry":{"checkList":{"available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","options":[{"name":"answers[36980_254390][]","value":"704772","label":"キャンペーン特典が魅力的でない"},{"name":"answers[36980_254390][]","value":"704773","label":"キャンペーンの達成条件が分かりにくい"},{"name":"answers[36980_254390][]","value":"704774","label":"キャンペーンのWebサイトが分かりにくい"},{"name":"answers[36980_254390][]","value":"704775","label":"キャンペーンの期間が短い"},{"name":"answers[36980_254390][]","value":"704776","label":"キャンペーン対象のサービス特性が分かりにくい"},{"name":"answers[36980_254390][]","value":"704777","label":"特になし"},{"name":"answers[36980_254390][]","value":"704778","label":""}]},"freeInput":{"available":true,"name":"answers[36980_254391]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のためご利用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[36980_254390][]","value":"704772","label":""},{"name":"answers[36980_254390][]","value":"704773","label":""},{"name":"answers[36980_254390][]","value":"704774","label":""},{"name":"answers[36980_254390][]","value":"704775","label":""},{"name":"answers[36980_254390][]","value":"704776","label":""},{"name":"answers[36980_254390][]","value":"704777","label":""},{"name":"answers[36980_254390][]","value":"704778","label":""}]}},"ua":{"name":"answers[36980_254392]"},"href":{"name":"answers[36980_254393]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
  </script>
  <!-- ReX UX Survey: Script -->
  <script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/1.5.0/js/main.js" defer></script>

  <!-- ReX Campaign Entry Button: Configuration -->
  <script>
  var rexButtons = [{"code":"/rmobile/secbanner1/240401","theme":"red","wide":false,"showCelebration":false,"redirection":{"enabled":true,"url":"https://r10.to/hUF60Y","pageTitle":"総合口座の申込み","linkText":"総合口座の申込み"},"below":{"checkboxText":"メルマガやアンケートなどをSMSやメールで受け取る","html":"※楽天モバイルよりSMSや<a href=\"https://my.rakuten.co.jp/\">楽天会員情報</a><span class=\"c-Txt_Emp-01\">ご登録のメールアドレス</span>にお送りする<span class=\"c-Txt_Emp-01\">楽天モバイルニュース</span>などおトクな情報等を<span class=\"c-Txt_Emp-01\">受け取らない方はチェックを外してください。</span>","isCheckboxMandatory":false,"isChecked":true},"ids":["rex-ceb-01","rex-ceb-02","rex-ceb-03"]}]
  </script>

  <!-- ReX Campaign Entry Button: Script -->
  <script src="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/4.0.0/static/js/main.js" defer></script>

</body>
</html>
