<% const pagetitle = "【Rakuten GirlsAwardチケット抽選申し込み限定】楽天モバイルも申し込みで5,000ポイント" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "girls-award2024aw" -%>
<% const information = {
  campaignState:'finish'
}; %>
<% const kvAlt = "Rakuten GirlsAward 2024 AUTUMN/WINTER 楽天モバイルに新規契約＆次回チケット（抽選）お申し込みの方に5,000円相当ポイントプレゼント！ Rakuten GirlsAward 2024 AUTUMN/WINTERのチケットが（10,000円以下の席） 実質半額以下に！*" -%>
<% const couponCode = "RTKGAD00000001" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '【Rakuten GirlsAwardチケット抽選申し込み限定】楽天モバイルも申し込みで5,000ポイント',
  keywords: '',
  noindex: false,
  pathname: filepath,
});
%>
<% const finishSchedule = "2024年5月13日" -%>
<% const hiddenItem = "false" -%>
<%- include('/include/_common-css-v2') %>
<% if (information.campaignState !== 'finish') { %>
<%- include('/inc/_saikyo-css') %>
<% } %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/<%= namespace %>/<%= namespace %>.css?240503">
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header',{applyHide:true}) %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout_Label">
      <ul class="c-Label_List <%= namespace %>-Layout_Label-list">
        <li class="c-Label_Normal">対象者限定</li>
        <li class="c-Label_Normal">プランのみ申込可</li>
        <li><span class="<%= namespace %>-Layout_Label-point">ポイント：付与日を含めて6カ月の期間限定ポイント</span></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Hero">
      <div class="<%= namespace %>-Hero_Return">
        <div class="<%= namespace %>-Hero_Main">
          <h1>
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-heading-01-pc.png?240503" alt="<%= kvAlt %>" class="<%= namespace %>-Utility_Img-pc">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-heading-01-sp.png?240503" alt="<%= kvAlt %>" class="<%= namespace %>-Utility_Img-sp">
          </h1>
        </div>
      </div>
    </div>

    <div class="<%= namespace %>-Layout_Body">
      <div class="l-System_Container">
        <% if (information.campaignState == 'finish') { %>
          <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-24 u-Adjust_Align-center">本キャンペーンは<%= finishSchedule %>をもちまして終了いたしました。<br>
            このページに掲載されている情報は、キャンペーン終了時点のものです。</p>
          <div class="u-Adjust_Align-center u-Adjust_Mb-24">
            <a href="<%= sitepath %>campaign/?l-id=end_campaign" class="c-Link_Txt-inline">開催中のキャンペーンを見る<span class="c-Icon_Chevron-right"></span></a>
          </div>
        <% } else { %>
          <!-- else -->
        <% } %>
        <ul class="<%= namespace %>-Table_Rule-Cap">
          <li class="c-Txt_Emp-02"><span>※</span>予告なく特典内容の変更、キャンペーンが中止となる可能性がございます。</li>
          <li class="u-Adjust_Mt-0"><span>※</span>2024年9月末日ごろにポイント付与、ポイント有効期間はポイント付与日を含めて6カ月となります。詳しくは<a href="#campaign-rule" class="js-scroll">キャンペーンルール</a>をご確認ください。</li>
          <li class="u-Adjust_Mt-0"><span>*</span>「実質価格」とはキャンペーンの条件達成により後日付与されるポイントを加味した価格であり、実際のお支払い金額とは異なります。詳しくは<a href="#campaign-rule" class="js-scroll">キャンペーンルール</a>をご確認ください。</li>
        </ul>

        <div class="c-Accordion u-Adjust_Mt-16">
          <button id="accordion-attention" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-attention" data-ratid="campaign_<%= namespace %>_first-caution" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>本ページの「楽天モバイルお申し込みはこちら」ボタンよりお手続きください</button>
          <div id="accordion-content-attention" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-attention" aria-hidden="true">
            <ul>
              <li class="c-Txt_Cap"><span>・</span>本ページ以外からお手続きされた場合は特典適用対象外となります。</li>
              <li class="c-Txt_Cap"><span>・</span>「申し込み内容」画面でクーポンコード14桁の英数字が表示されていることをご確認のうえ、お申し込みを完了してください。表示されていない場合は特典適用対象外となるため、再度本ページの「楽天モバイルお申し込みはこちら」ボタンよりお申し込みをやり直してください。</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="<%= namespace %>-Layout_Entry-Area u-Adjust_Mt-16 u-Adjust_Align-center">
        <div class="<%= namespace %>-Emphasis_Ttl">
          <p class="c-Txt_Emp-02">チケット代が実質半額以下*に！</p>
        </div>

        <p class="u-Adjust_Mt-16 c-Txt_Emp-01 <%= namespace %>-Utility_Mt-unique u-Adjust_Align-center">2024年5月13日（月）08:59まで<br>
          クーポンコード：<%= couponCode %></p>

        <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
        <% if (information.campaignState == 'finish') { %>
          <div class="c-Btn_Primary-large cp-Fin">楽天モバイルお申し込みはこちら</div>
        <% } else { %>
          <!-- else -->
          <a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=<%= couponCode %>&l-id=campaign_<%= namespace %>_coupon_link01" class="c-Btn_Primary-large"><span id="js-trigger">楽天モバイルお申し込みはこちら</span></a>
        <% } %>
        </div>
        <div class="<%= namespace %>-Emphasis_Ttl u-Adjust_Mt-16">
          <p class="c-Txt_Emp-02">チケットお申し込みがまだの方は</p>
        </div>
        <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
        <% if (information.campaignState == 'finish') { %>
          <div class="c-Btn_Primary-large cp-Fin <%= namespace %>-Btn_Ticket-app">最速先行チケット（抽選）<br class="<%= namespace %>-Layout_Break-sp">お申し込みはこちら</div>
        <% } else { %>
          <!-- else -->
          <a href="https://r-t.jp/ga2024aw" class="<%= namespace %>-Btn_Ticket-app c-Btn_Secondly-large">最速先行チケット（抽選）<br class="<%= namespace %>-Layout_Break-sp">お申し込みはこちら</a>
        <% } %>
        </div>
      </div>

      <div class="u-Bg_Monotone97 u-Adjust_Mt-24 u-Adjust_Pt-24 u-Adjust_Pt-pc-32 u-Adjust_Pb-24 u-Adjust_Pb-pc-32">
        <div class="l-System_Container">
          <ul class="<%= namespace %>-Main_Anchor">
            <li><a href="#campaign-conditions" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>キャンペーンの達成条件</a></li>
            <li><a href="#pointdetails" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>初めてのお申し込みなら</a></li>
            <li><a href="#campaign-rule" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルール</a></li>
          </ul>
        </div>
      </div>

      <div class="l-System_Container">
        <div id="campaign-conditions" class="<%= namespace %>-Conditions nav-Pad_True">
          <h2 class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンの達成条件</h2>
          <ul class="<%= namespace %>-Conditions_Flow u-Adjust_Mt-16">
            <li>
              <div class="l-Media_Icon">
                <div class="<%= namespace %>-Conditions_Img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-conditions-01.png?240501" alt="">
                </div>
                <div>
                  <h4 class="c-Heading_Lv4">Rakuten GirlsAward  2024 AUTUMN/WINTERチケットお申し込み（抽選販売）</h4>
                </div>
              </div>
              <div class="<%= namespace %>-Conditions_Schedule <%= namespace %>-Conditions_Schedule-step1">
                <p class="u-Adjust_Align-center">2024年5月13日（月） 08:59まで</p>
                <ul class="<%= namespace %>-Table_Rule-Cap">
                  <li><span>※</span>抽選結果は2024年5月14日（火）ごろにRakuten Ticketよりメールにて通知予定です。</li>
                  <li class="u-Adjust_Mt-0"><span>※</span>Rakuten GirlsAward 2024 AUTUMN/WINTERは2024年10月19日（土）幕張メッセで開催予定です。</li>
                </ul>
              </div>
            </li>
            <li>
              <div class="<%= namespace %>-Conditions_Icon"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-conditions-04.png?240501" alt="＋"></div>
              <div class="l-Media_Icon">
                <div class="<%= namespace %>-Conditions_Img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-conditions-02.png?240501" alt="">
                </div>
                <div>
                  <h4 class="c-Heading_Lv4">本ページまたは5/3開催のイベント会場内特設ブースから楽天モバイルお申し込み</h4>
                </div>
              </div>
              <div class="<%= namespace %>-Conditions_Schedule <%= namespace %>-Conditions_Schedule-step2">
                <p class="u-Adjust_Align-center">2024年5月13日（月） 08:59まで</p>
                <ul class="<%= namespace %>-Table_Rule-Cap">
                  <li><span>※</span>2024年5月3日（金）Rakuten GirlsAward  2024 SPRING/SUMMERのイベント当日に会場内での申し込みを実施しております。</li>
                </ul>
              </div>
            </li>
            <li>
              <div class="<%= namespace %>-Conditions_Icon"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-conditions-04.png?240501" alt="＋"></div>
              <div class="l-Media_Icon">
                <div class="<%= namespace %>-Conditions_Img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-conditions-03.png?240501" alt="">
                </div>
                <div>
                  <h4 class="c-Heading_Lv4">Rakuten最強プランのご利用開始</h4>
                </div>
              </div>
              <div class="<%= namespace %>-Conditions_Schedule <%= namespace %>-Conditions_Schedule-step3">
                <p class="u-Adjust_Align-center">2024年6月30日（日）23:59まで</p>
              </div>
            </li>
          </ul>
        </div>

        <div class="u-Adjust_Align-center u-Adjust_Mt-16 <%= namespace %>-Step_Last-arrow">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-step-arrow-01.png?240501" alt="">
        </div>

        <div class="<%= namespace %>-Step_Last">
          <h3 class="c-Txt_Emp-02 u-Adjust_Align-center"><span class="c-Txt_Normal-l">5,000ポイントプレゼント</span>で<br>
            Rakuten GirlsAward 2024 AUTUMN/<br class="<%= namespace %>-Layout_Break-sp">WINTERのチケットが<br class="<%= namespace %>-Layout_Break-sp">（10,000円以下の席）<br>
            実質<span class="c-Txt_Normal-l">半額以下</span>に！*</h3>
          <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
            <li><span>※</span>2024年9月末日ごろにポイント付与、ポイント有効期間はポイント付与日を含めて6カ月となります。詳しくは<a href="#campaign-rule" class="js-scroll">キャンペーンルール</a>をご確認ください。</li>
            <li class="u-Adjust_Mt-0"><span>*</span>「実質半額」とはキャンペーンの条件達成により後日付与されるポイントを加味した価格であり、実際のお支払い金額とは異なります。詳しくは<a href="#campaign-rule" class="js-scroll">キャンペーンルール</a>をご確認ください。</li>
          </ul>
          <div class="<%= namespace %>-Emphasis_Ttl u-Adjust_Mt-16">
            <p class="c-Txt_Emp-02">チケットお申し込みがまだの方は</p>
          </div>
          <p class="c-Txt_Emp-01 u-Adjust_Mt-16 u-Adjust_Align-center">2024年5月13日（月）08:59まで</p>
          <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
          <% if (information.campaignState == 'finish') { %>
            <div class="c-Btn_Primary-large cp-Fin <%= namespace %>-Btn_Ticket-app">最速先行チケット（抽選）<br class="<%= namespace %>-Layout_Break-sp">お申し込みはこちら</div>
          <% } else { %>
            <!-- else -->
            <a href="https://r-t.jp/ga2024aw" class="<%= namespace %>-Btn_Ticket-app c-Btn_Secondly-large">最速先行チケット（抽選）<br class="<%= namespace %>-Layout_Break-sp">お申し込みはこちら</a>
          <% } %>
          </div>
        </div>
      <% if (information.campaignState !== 'finish') { %>
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-40">22歳までならプラン料金がずーっとおトク！</h2>
        <div class="<%= namespace %>-Utility_Bnr u-Adjust_Align-center u-Adjust_Mt-24">
          <a href="<%= sitepath %>fee/youth/?l-id=campaign_<%= namespace %>_fee_youth">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-bnr-saikyo-seisyun-01-sp.png?240501">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-bnr-saikyo-seisyun-01.png?240501" alt="新登場！最強青春プログラムU22">
            </picture>
          </a>
        </div>
      <% } %>
      </div>

    <% if (information.campaignState !== 'finish') { %>
      <div class="u-Adjust_Mt-24">
        <%- include('/inc/_saikyo') %>
      </div>
    <% } %>

      <div class="l-System_Container u-Adjust_Mt-24">
        <h2 id="pointdetails" class="c-Heading_Lv2 nav-Pad_False u-Adjust_Align-center">初めてのお申し込みならもっとポイントがもらえる！</h2>
        <div class="c-Tab js-Tab <%= namespace %>-Layout_Display-sp u-Adjust_Mt-16">
          <ul class="c-Tab_Items" role="tablist">
            <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">初めて＆他社から<br>お乗り換え</li>
            <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">楽天モバイル初めて<br>お申し込み</li>
          </ul>
          <ul class="<%= namespace %>-Pointdetails u-Adjust_Mt-16">
            <li>
              <div class="ttl_Img">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-02-sp.png?240501" alt="本ページから楽天モバイルのお申し込み＆Rakuten GirlsAward 2024 AUTUMN/WINTERチケットお申し込みで">
              </div>
              <div class="point_Box">
                <div class="point_Img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-03-sp.png?240501" alt="もれなく5,000ポイント">
                </div>
              </div>
            </li>
            <li class="pointdetails-Icon">
              <div>
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-01.png?240501" alt="＋">
              </div>
            </li>
            <li class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
              <div class="ttl_Img">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-04-sp.png?240501" alt="楽天モバイル初めて＆他社からのお乗り換えで">
              </div>
              <div class="point_Box">
                <div class="point_Img">
                  <picture>
                    <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-05-sp.png?240501" alt="もれなく6,000ポイント">
                  </picture>
                </div>
              </div>
              <div class="pointdetails-Icon">
                <div>
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-12-sp.png?240501" alt="">
                </div>
              </div>
              <div class="pointdetails-All">
                <div class="ttl_Img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-09-sp.png?240501" alt="合計">
                </div>
                <div class="point_Box">
                  <div class="point_Img">
                    <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-10-sp.png?240501" alt="11,000ポイント">
                  </div>
                </div>
              </div>
            </li>
            <li class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
              <div class="ttl_Img">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-06-sp.png?240501" alt="楽天モバイル初めて＆他社からじゃなくても">
              </div>
              <div class="point_Box">
                <div class="point_Img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-07-sp.png?240501" alt="もれなく2,000ポイント">
                </div>
              </div>
              <div class="pointdetails-Icon">
                <div>
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-12-sp.png?240501" alt="">
                </div>
              </div>
              <div class="pointdetails-All">
                <div class="ttl_Img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-09-sp.png?240501" alt="合計">
                </div>
                <div class="point_Box">
                  <div class="point_Img">
                    <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-11-sp.png?240501" alt="7,000ポイント">
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <ul class="<%= namespace %>-Pointdetails <%= namespace %>-Layout_Display-pc u-Adjust_Mt-24">
          <li>
            <div class="ttl_Img">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-02.png?240501" alt="本ページから楽天モバイルのお申し込み＆Rakuten GirlsAward 2024 AUTUMN/WINTERチケットお申し込みで">
            </div>
            <div class="point_Box">
              <div class="point_Img">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-03.png?240501" alt="もれなく5,000ポイント">
              </div>
            </div>
          </li>
          <li class="pointdetails-Icon">
            <div>
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-01.png?240501" alt="＋">
            </div>
          </li>
          <li>
            <div class="ttl_Img">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-04.png?240501" alt="楽天モバイル初めて＆他社からのお乗り換えで">
            </div>
            <div class="point_Box">
              <div class="point_Img">
                <picture>
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-05.png?240501" alt="もれなく6,000ポイント">
                </picture>
              </div>
            </div>

            <p class="pointdetails-Or u-Adjust_Align-center <%= namespace %>-Layout_Display-pc"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-08.png?240501" alt="もしくは"></p>

            <div class="ttl_Img">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-06.png?240501" alt="楽天モバイル初めて＆他社からじゃなくても">
            </div>
            <div class="point_Box">
              <div class="point_Img">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-07.png?240501" alt="もれなく2,000ポイント">
              </div>
            </div>
          </li>
          <li class="pointdetails-Icon">
            <div>
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-12.png?240501" alt="">
            </div>
          </li>
          <li class="pointdetails-All">
            <div class="ttl_Img">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-09.png?240501" alt="合計">
            </div>
            <div class="point_Box pointdetails-All_Point-9000">
              <div class="point_Img">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-10.png?240501" alt="11,000ポイント">
              </div>
            </div>
            <div class="ttl_Img">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-09.png?240501" alt="合計">
            </div>
            <div class="point_Box">
              <div class="point_Img">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-11.png?240501" alt="7,000ポイント">
              </div>
            </div>
          </li>
        </ul>
        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
          <li><span>※</span>Rakuten Link利用等条件あり。詳しくは<a href="#campaign-rule" class="js-scroll">キャンペーンルール</a>をご確認ください。</li>
          <li class="u-Adjust_Mt-0"><span>※</span>予告なく内容の変更、中止する場合があります。</li>
          <li class="u-Adjust_Mt-0 c-Txt_Emp-02"><span>※</span>「Rakuten最強プラン（データタイプ）」は対象外です。</li>
          <li class="u-Adjust_Mt-0"><span>※</span>キャンペーンによってポイントの付与時期・有効期間が異なり、分割して付与されるポイントもございます。必ず<a href="#campaign-rule" class="js-scroll">キャンペーン詳細</a>をご確認ください。</li>
        </ul>
      </div>

      <div class="<%= namespace %>-Layout_Entry-Area u-Adjust_Mt-16 u-Adjust_Align-center">
        <p class="c-Txt_Emp-01 <%= namespace %>-Utility_Mt-unique u-Adjust_Align-center">2024年5月13日（月）08:59まで<br>
          クーポンコード：<%= couponCode %></p>
        <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
        <% if (information.campaignState == 'finish') { %>
          <div class="c-Btn_Primary-large cp-Fin">楽天モバイルお申し込みはこちら</div>
        <% } else { %>
          <!-- else -->
          <a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=<%= couponCode %>&l-id=campaign_<%= namespace %>_coupon_link02" class="c-Btn_Primary-large">楽天モバイルお申し込みはこちら</a>
        <% } %>
        </div>
        <div class="<%= namespace %>-Emphasis_Ttl u-Adjust_Mt-16">
          <p class="c-Txt_Emp-02">チケットお申し込みがまだの方は</p>
        </div>
        <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
        <% if (information.campaignState == 'finish') { %>
          <div class="c-Btn_Primary-large cp-Fin <%= namespace %>-Btn_Ticket-app">最速先行チケット（抽選）<br class="<%= namespace %>-Layout_Break-sp">お申し込みはこちら</div>
        <% } else { %>
          <!-- else -->
          <a href="https://r-t.jp/ga2024aw" class="<%= namespace %>-Btn_Ticket-app c-Btn_Secondly-large">最速先行チケット（抽選）<br class="<%= namespace %>-Layout_Break-sp">お申し込みはこちら</a>
        <% } %>
        </div>
      </div>
      <div class="l-System_Container">

        <h2 id="campaign-caution" class="c-Heading_Lv2 nav-Pad_True u-Adjust_Align-center">お申し込み時の注意点</h2>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-32 <%= namespace %>-Caution_Text"><span class="c-Txt_Emp-02">ポイントを獲得するには、「楽天モバイルお申し込みはこちら」ボタンからのお手続きが必要となります。</span><br>
          「お申し込み内容」画面であらかじめクーポンコードが表示されていることをご確認のうえ、<span class="<%= namespace %>-Txt_Nl">お申し込みを完了してください。</span></p>
        <ul class="<%= namespace %>-Caution_Img u-Adjust_Mt-32">
          <li class="u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-01.png?240501" alt="楽天モバイルお申し込みはこちらボタン">
          </li>
          <li class="<%= namespace %>-Caution_Img-arrow u-Adjust_Align-center">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-arrow-01-sp.png?240501">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-arrow-01.png?240501" alt="">
            </picture>
          </li>
          <li class="u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-02.png?240501" alt="クーポンコード<%= couponCode %>が適用されました">
          </li>
          <li class="<%= namespace %>-Caution_Img-arrow u-Adjust_Align-center">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-arrow-01-sp.png?240501">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-arrow-01.png?240501" alt="">
            </picture>
          </li>
          <li class="u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-03.png?240501" alt="<%= couponCode %> クーポンが適用されています">
          </li>
        </ul>
        <p class="c-Txt_Cap u-Adjust_Mt-24 <%= namespace %>-Caution_Text <%= namespace %>-Caution_Text-cap">※本ページの「楽天モバイルお申し込みはこちら」ボタン以外からお手続きされた場合には特典適用対象外となります。</p>

        <div class="c-Accordion u-Adjust_Mt-32">
          <button id="accordion-Caution1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-Caution1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>お申し込み画面で以下の状況が発生した場合、再度「楽天モバイルお申し込みはこちら」ボタンからお申し込みをやり直してください。</button>
          <div id="accordion-content-Caution1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-Caution1" aria-hidden="true">
            <ul class="<%= namespace %>-Caution_Img u-Adjust_Mt-32">
              <li class="u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-04.png?240501" alt="">
                <p class="c-Txt_Emp-01 u-Adjust_Mt-16">お申し込み内容にクーポンコードが<br>
                  表示されていない場合</p>
              </li>
              <li class="u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-05.png?240501" alt="">
                <p class="c-Txt_Emp-01 u-Adjust_Mt-16">システムメンテナンスの<br>
                  お知らせが表示された場合</p>
                <p class="c-Txt_Cap">※メンテナンス終了後に<br>
                  お申し込みください</p>
              </li>
              <li class="u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-06.png?240501" alt="">
                <p class="c-Txt_Emp-01 u-Adjust_Mt-16">タイムアウトが表示された場合</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-Caution2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-Caution2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイル（ドコモ回線・au回線）をご利用中の方も本キャンペーンにご参加いただけますが、こちらもご確認ください。</button>
          <div id="accordion-content-Caution2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-Caution2" aria-hidden="true">
            <ul class="caution-list">
              <li><span class="num">（1）</span>メンバーズステーション経由のプラン変更（移行）は本キャンペーンの適用対象となりません。<a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_<%= namespace %>_ms1&mno_migration=1">メンバーズステーション</a>にてMNP予約番号を発行のうえ、本ページからお申し込みください。</li>
              <li class="u-Adjust_Mt-8"><span class="num">（2）</span>下記に当てはまる方はメンバーズステーション経由のプラン変更（移行）をご検討ください。</li>
              <li class="u-Adjust_Mt-8"><span class="title c-Txt_Emp-01">オプションサービスを引き継ぎたい場合</span><br>
                本ページからお申し込みした場合、オプションサービスはすべて解約となります。</li>
            </ul>
            <p class="u-Adjust_Mt-16">上記（1）（2）は通話SIMご利用の方の注意点となります。データSIMご利用中の方は、メンバーズステーション経由のプラン移行（変更）はできないため、本キャンペーンより新規でお申し込みください。</p>
          </div>
        </div>

        <h3 class="c-Heading_Lv3 u-Adjust_Align-center u-Adjust_Mt-40">楽天モバイルのお申し込みに必要なものをチェック！</h3>
        <div class="<%= namespace %>-Utility_Bnr u-Adjust_Align-center u-Adjust_Mt-16">
          <a href="<%= sitepath %>guide/procedure/?l-id=campaign_<%= namespace %>_guide_procedure" target="_blank">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-bnr-guide-procedure-sp.png?240501">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-bnr-guide-procedure.png?240501" alt="はじめてでも安心！ お申し込みガイド ご利用開始までかんたん4ステップでご案内します">
            </picture>
          </a>
        </div>
        <ul class="u-Adjust_Mt-16 <%= namespace %>-Table_Rule-Cap bnr-Cap">
          <li class="c-Txt_Emp-02"><span>※</span>Webでのお申し込みで本ページの「楽天モバイルお申し込みはこちら」ボタン以外からお手続きされた場合、特典適用対象外となりますのでご注意ください。</li>
        </ul>

        <h2 id="faq" class="c-Heading_Lv2 nav-Pad_True u-Adjust_Align-center">よくあるご質問</h2>
        <div class="u-Adjust_Mt-16">
          <div class="c-Accordion">
            <button id="accordion-faq1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーンのポイント獲得の対象になっているか確認したいです。</button>
            <div id="accordion-content-faq1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq1" aria-hidden="true">
              <p>「<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile">my 楽天モバイル</a>」の申し込み履歴から、クーポンの利用状況をご確認いただけます。<br>
                詳しい手順は<a href="https://network.mobile.rakuten.co.jp/faq/detail/10000792/">こちら</a>からご確認ください。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※ ログインができない場合は、「<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001207/">my 楽天モバイルにログインできない場合どうすればよいですか？</a>」をご確認ください。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーン期間内に楽天モバイルに申し込みができているか、確認方法はありますか？</button>
            <div id="accordion-content-faq2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq2" aria-hidden="true">
              <p>以下2種類の方法があります。<br>
                ①お申し込み完了メールを確認する<br>
                ②「<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile">my 楽天モバイル</a>」の申し込み履歴から確認する<br>
                詳しい手順は<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001827/">こちら</a>からもご確認いただけます。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>メンバーズステーションで、MNP予約番号を発行する方法を教えてください。</button>
            <div id="accordion-content-faq3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq3" aria-hidden="true">
              <p>MNP（携帯電話ナンバーポータビリティ）をご利用いただくことで、現在お使いの電話番号がそのままお使いいただけます。<br>
                <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_<%= namespace %>_ms2&mno_migration=1">メンバーズステーショントップページ</a>の「MNP予約番号発行・確認について」をタップし、MNP予約番号を発行してください。MNP予約番号発行手数料は発生しません。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>申し込み後に、本人確認書類の不備などで再提出になった場合でもキャンペーンは適用されますか？</button>
            <div id="accordion-content-faq4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq4" aria-hidden="true">
              <p>お申し込み後に、書類の再提出などいただきお申し込みが完了できた場合は、キャンペーンが適用されます。ただし、お申し込み画面内で入力された情報と本人確認書類の内容が一致しないなどの理由で楽天モバイルが定める審査に基づき、お申し込みをキャンセルさせていただく場合、キャンペーンは適用できません。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ポイントの付与はいつになりますか？</button>
            <div id="accordion-content-faq5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq5" aria-hidden="true">
              <p>2024年9月末日ごろに楽天モバイルにご登録の楽天IDにポイントを付与いたします。<br>
                付与されたポイントは楽天PointClubの「<a href="https://point.rakuten.co.jp/history/">ポイント実績</a>」から確認することができます。</p>
            </div>
          </div>
        </div>

        <div id="campaign-rule" class="nav-Pad_True">
        <% if (information.campaignState == 'finish') { %>
          <h3 class="c-Heading_Lv3">【楽天カード会員様限定】楽天モバイル初めてお申し込みで20,000ポイントプレゼント</h3>
          <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-24 u-Adjust_Align-center">本キャンペーンは<%= finishSchedule %>をもちまして終了いたしました。<br>
            このページに掲載されている情報は、キャンペーン終了時点のものです。</p>
          <div class="u-Adjust_Align-center">
            <a href="<%= sitepath %>campaign/?l-id=end_campaign" class="c-Link_Txt-inline">開催中のキャンペーンを見る<span class="c-Icon_Chevron-right"></span></a>
          </div>
          <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2288', level: '', year: '2024', class: '' }}) %>
        <% } else { %>
          <!-- else -->
          <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2288', level: 'h3', year: '2024', class: '' }}) %>
        <% } %>
        </div>

        <div id="campaign-rule02" class="u-Adjust_Mt-40">
          <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2091_girls_award2024aw', level: 'h3', year: '2023', class: '' }}) %>
        </div>

        <div id="campaign-rule03" class="u-Adjust_Mt-40">
          <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2142_girls_award2024aw', level: 'h3', year: '2023', class: '' }}) %>
        </div>

      <% if (hiddenItem == 'true') { %>
        <div class="c-Accordion">
          <button id="accordion-past-rule" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-past-rule"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>過去のキャンペーン</button>
          <div id="accordion-content-past-rule" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-past-rule" aria-hidden="true">
            <div>
              <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2288_240501', level: '', year: '2024', class: '', comments: '<p class="c-Txt_Emp-01">【Rakuten GirlsAwardチケット抽選申し込み限定】楽天モバイルも申し込みで5,000ポイント</p>' }}) %>
            </div>
          </div>
        </div>
      <% } %>

        <div class="u-Adjust_Mt-40">
          <!-- ReX UX Survey: Mounting point for embedded components -->
          <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
        </div>
      </div>
    </div>

  <% if (information.campaignState !== 'finish') { %>
    <div id="js-fixed-btn" class="<%= namespace %>-Layout_Bottom-fixed fixed-top" aria-expanded="false" role="region">
      <div class="<%= namespace %>-Layout_Bottom-fixed-inner">
        <div class="<%= namespace %>-Layout_Bottom-fixed-link-box-pc">
          <ul class="fixed-Link">
            <li><a href="#campaign-conditions" class="js-scroll">キャンペーンの達成条件</a></li>
            <li><a href="#faq" class="js-scroll">よくあるご質問</a></li>
            <li><a href="#campaign-rule" class="js-scroll">キャンペーンルール</a></li>
          </ul>
        </div>
        <div class="<%= namespace %>-Layout_Bottom-fixed-link-box-sp">
          <div class="<%= namespace %>-Layout_Bottom-fixed-link-sp">
            <ul class="fixed-Link">
              <li><a href="#campaign-conditions" class="js-scroll">達成条件</a></li>
              <li><a href="#faq" class="js-scroll">FAQ</a></li>
              <li><a href="#campaign-rule" class="js-scroll">キャンペーンルール</a></li>
            </ul>
          </div>
        </div>
        <div class="<%= namespace %>-Layout_Bottom-fixed-btn-box">
          <a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=<%= couponCode %>&l-id=campaign_<%= namespace %>_f_coupon_link" class="c-Btn_Primary-large <%= namespace %>-Layout_Bottom-fixed-btn">楽天モバイルお申し込みはこちら</a>
          <div class="nav-Btn">
            <div class="nav-Btn_Arrow">
              <span class="c-Icon_Chevron-left"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% } %>
    <footer class="g-Footer <%= namespace %>-Layout_Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
  <script>
    (function($){
        const trigger = document.getElementById('js-trigger');
        const fixedBtn = document.getElementById('js-fixed-btn');
        function fixedBottomBtn() {
            let scrollY = window.pageYOffset;
            const triggerRect = trigger.getBoundingClientRect();
            const triggerY = scrollY + triggerRect.top;

        if ( scrollY > triggerY ) {
          fixedBtn.setAttribute('aria-expanded', 'true');
        } else {
          fixedBtn.setAttribute('aria-expanded', 'false');
        }
      }
      if( fixedBtn && trigger ) {
        window.addEventListener('scroll', fixedBottomBtn);
      }
    })();
  </script>
  <script>
    (function($){
      $(function(){
        $('.nav-Btn').on('click',function() {
          $('.nav-Btn_Arrow').toggleClass('nav-On');
          $('.<%= namespace %>-Layout_Bottom-fixed-link-sp').slideToggle();
        });
      });
    })(jQuery);
  </script>

  <!-- ReX UX Survey: Config -->
  <script>
    window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
  </script>
  <!-- ReX UX Survey: Script -->
  <script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>
</body>
</html>
