<% const pagetitle = "楽天モバイル（楽天回線）の開通手順" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/iphone/initial-setting/", label:"初期設定（iPhone・Apple Watch）"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'ご契約内容を選択すると、楽天モバイル（楽天回線）の開通までの流れをご案内いたします。',
    noindex: false,
    pathname: filepath
  });
%>
<% const namespace = "guide-opening" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/opening/guide-opening.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>
<div class="l-System">
  <%- include('/include/_header') %>
  <div class="c-Breadcrumbs_Head">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>
  <div class="l-System_Container u-Adjust_Mt-32">
    <h1 class="c-Txt_Normal-xl">楽天モバイル（楽天回線）の開通手順</h1>
    <div class="c-Theme-Borderbox u-Adjust_Mt-16">
      <p>
        「Rakuten最強プラン（データタイプ）」をお申し込みの方は、以下のページをご確認ください。
      </p>
      <p class="u-Adjust_Mt-16">
        <a class="<%= namespace %>-Layout_Link-nav" href="<%= sitepath %>guide/setting/data-type-esim/?l-id=guide_opening_guide_setting_data-type-esim">
          <span>Rakuten最強プラン（データタイプ）eSIMの開通手続き方法</span><span class="c-Icon_Chevron-right"></span>
        </a>
      </p>
      <p class="u-Adjust_Mt-16">
        <a class="<%= namespace %>-Layout_Link-nav" href="<%= sitepath %>guide/setting/data-type-sim/?l-id=guide_opening_guide_setting_data-type-sim">
          <span>Rakuten最強プラン（データタイプ）SIMカードの開通手続き方法</span><span class="c-Icon_Chevron-right"></span>
        </a>
      </p>
    </div>
    <h2 class="c-Txt_Normal-ll u-Adjust_Mt-pc-32 u-Adjust_Mt-sp-24">
      契約内容の選択
    </h2>
    <p class="u-Adjust_Mt-pc-24 u-Adjust_Mt-sp-16">
      ご契約内容を選択すると、楽天モバイル（楽天回線）の開通までの流れをご案内いたします。
    </p>
    <div id="js-choices-1" class="js-choices-1">
      <h2 class="c-Txt_Normal-l u-Adjust_Mt-24">
        お申し込みをしたSIMタイプ
      </h2>
      <div class="<%= namespace %>-Layout_Btns u-Adjust_Mt-16">
        <label class="c-Form_Radioblock">
          <input id="js-btn-1_e-sim" class="js-btns-control" type="radio" name="sim-type" id="" value="1_e-sim">
          <span class="c-Form_Radioblock-wrap">
            <span class="c-Form_Radio-icon"></span><span class="c-Form_Radioblock-label">eSIM</span></span>
        </label>
        <label class="c-Form_Radioblock">
          <input class="js-btns-control" type="radio" name="sim-type" id="" value="1_sim-card">
          <span class="c-Form_Radioblock-wrap">
            <span class="c-Form_Radio-icon"></span><span class="c-Form_Radioblock-label">SIMカード</span>
          </span>
        </label>
      </div>
    </div>
    <div id="js-choices-2" class="<%= namespace %>-Utility_Aria-hidden" aria-hidden="true">
      <h2 class="c-Txt_Normal-l u-Adjust_Mt-24">
        お申し込み内容の種類
      </h2>
      <div class="<%= namespace %>-Layout_Btns u-Adjust_Mt-16">
        <label class="c-Form_Radioblock">
          <input class="js-btns-control" type="radio" name="content-type" id="" value="2_other">
          <span class="c-Form_Radioblock-wrap">
            <span class="c-Form_Radio-icon"></span><span class="c-Form_Radioblock-label">他社から乗り換え（MNP）／プラン変更（移行）</span></span>
        </label>
        <label class="c-Form_Radioblock">
          <input class="js-btns-control" type="radio" name="content-type" id="" value="2_new">
          <span class="c-Form_Radioblock-wrap">
            <span class="c-Form_Radio-icon"></span><span class="c-Form_Radioblock-label">新規</span>
          </span>
        </label>
        <label class="c-Form_Radioblock">
          <input class="js-btns-control" type="radio" name="content-type" id="" value="2_existing">
          <span class="c-Form_Radioblock-wrap">
            <span class="c-Form_Radio-icon"></span><span class="c-Form_Radioblock-label">SIM交換／機種変更</span>
          </span>
        </label>
      </div>
    </div>
    <div id="js-choices-3" class="<%= namespace %>-Utility_Aria-hidden" aria-hidden="true">
      <h2 class="c-Txt_Normal-l u-Adjust_Mt-24">
        製品のセット購入
      </h2>
      <div class="<%= namespace %>-Layout_Btns u-Adjust_Mt-16">
        <label class="c-Form_Radioblock">
          <input class="js-btns-control" type="radio" name="purchase" id="" value="3_purchasing">
          <span class="c-Form_Radioblock-wrap">
            <span class="c-Form_Radio-icon"></span><span class="c-Form_Radioblock-label">購入している</span></span>
        </label>
        <label class="c-Form_Radioblock">
          <input class="js-btns-control" type="radio" name="purchase" id="" value="3_not-purchased">
          <span class="c-Form_Radioblock-wrap">
            <span class="c-Form_Radio-icon"></span><span class="c-Form_Radioblock-label">購入していない</span>
          </span>
        </label>
      </div>
    </div>
    <div id="js-choices-4" class="<%= namespace %>-Utility_Aria-hidden" aria-hidden="true">
      <h2 class="c-Txt_Normal-l u-Adjust_Mt-24">
        購入した製品
      </h2>
      <div class="<%= namespace %>-Layout_Btns u-Adjust_Mt-16">
        <label id="js-btns-control-purchased-1" class="c-Form_Radioblock" aria-hidden="true">
          <input class="js-btns-control" type="radio" name="product" id="" value="4_iphone-14-or-later">
          <span class="c-Form_Radioblock-wrap">
            <span class="c-Form_Radio-icon"></span><span class="c-Form_Radioblock-label">iPhone 14以降</span></span>
        </label>
        <label id="js-btns-control-purchased-2" class="c-Form_Radioblock" aria-hidden="true">
          <input class="js-btns-control" type="radio" name="product" id="" value="4_other-iphones">
          <span class="c-Form_Radioblock-wrap">
            <span class="c-Form_Radio-icon"></span><span class="c-Form_Radioblock-label">その他のiPhone</span>
          </span>
        </label>
        <label id="js-btns-control-purchased-3" class="c-Form_Radioblock" aria-hidden="true">
          <input class="js-btns-control" type="radio" name="product" id="" value="4_iphones">
          <span class="c-Form_Radioblock-wrap">
            <span class="c-Form_Radio-icon"></span><span class="c-Form_Radioblock-label">iPhone</span>
          </span>
        </label>
        <label id="js-btns-control-purchased-4" class="c-Form_Radioblock" aria-hidden="true">
          <input class="js-btns-control" type="radio" name="product" id="" value="4_android">
          <span class="c-Form_Radioblock-wrap">
            <span class="c-Form_Radio-icon"></span><span class="c-Form_Radioblock-label">Android</span>
          </span>
        </label>
      </div>
    </div>
    <div id="js-choices-5" class="<%= namespace %>-Utility_Aria-hidden" aria-hidden="true">
      <h2 class="c-Txt_Normal-l u-Adjust_Mt-24">
        お申し込み時の本人確認方法
      </h2>
      <div class="<%= namespace %>-Layout_Btns u-Adjust_Mt-16">
        <label class="c-Form_Radioblock">
          <input class="js-btns-control" type="radio" name="confirm" id="" value="5_ekyc">
          <span class="c-Form_Radioblock-wrap">
            <span class="c-Form_Radio-icon"></span><span class="c-Form_Radioblock-label">AIかんたん本人確認（eKYC）</span></span>
        </label>
        <label class="c-Form_Radioblock">
          <input class="js-btns-control" type="radio" name="confirm" id="" value="5_omit">
          <span class="c-Form_Radioblock-wrap">
            <span class="c-Form_Radio-icon"></span><span class="c-Form_Radioblock-label">2回線目のため省略</span>
          </span>
        </label>
        <label class="c-Form_Radioblock">
          <input class="js-btns-control" type="radio" name="confirm" id="" value="5_submitted">
          <span class="c-Form_Radioblock-wrap">
            <span class="c-Form_Radio-icon"></span><span class="c-Form_Radioblock-label">楽天グループに提出済みの書類で確認</span>
          </span>
        </label>
        <label class="c-Form_Radioblock">
          <input class="js-btns-control" type="radio" name="confirm" id="" value="5_other">
          <span class="c-Form_Radioblock-wrap">
            <span class="c-Form_Radio-icon"></span><span class="c-Form_Radioblock-label">その他</span>
          </span>
        </label>
      </div>
    </div>
    <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
      <span id="js-open-procedure" class="c-Btn_Primary-large" aria-disabled="true"><span>選択した内容で開通手順を確認する</span></span>
    </div>
  </div>
  <div id="js-disp-result" class="<%= namespace %>-Utility_Aria-hidden" aria-hidden="true">
    <div class="u-Adjust_Mt-40">
      <div class="c-Theme-Emphasis2 u-Adjust_Pt-pc-72 u-Adjust_Pb-pc-56 u-Adjust_Pt-sp-32 u-Adjust_Pb-sp-16">
        <div class="l-System_Container <%= namespace %>-Utility_P-sp-0">
          <h2 class="c-Txt_Normal-l">
            お手続きに必要なもの
          </h2>
          <ul class="<%= namespace %>-Layout_Card u-Adjust_Mt-24">
            <li id="js-card-1" class="<%= namespace %>-Layout_Card-item <%= namespace %>-Utility_Aria-hidden js-card-control js-card-1" aria-hidden="true">
              <img src="/assets/img/guide/opening/icon-need-for-the-procedure-1.png" alt="">
              <div>
                <p>楽天回線を利用する製品</p>
                <p class="u-Adjust_Mt-8">楽天回線対応の製品である必要があります。</p>
              </div>
            </li>
            <li id="js-card-2" class="<%= namespace %>-Layout_Card-item <%= namespace %>-Utility_Aria-hidden js-card-control js-card-2" aria-hidden="true">
              <img src="/assets/img/guide/opening/icon-need-for-the-procedure-2.png" alt="">
              <div>
                <p>現在ご利用中の製品</p>
                <p class="u-Adjust_Mt-8">転入手続きで使用します。</p>
              </div>
            </li>
            <li id="js-card-3" class="<%= namespace %>-Layout_Card-item <%= namespace %>-Utility_Aria-hidden js-card-control js-card-3" aria-hidden="true">
              <img src="/assets/img/guide/opening/icon-need-for-the-procedure-3.png" alt="">
              <div>
                <p>SIMカード</p>
                <p class="u-Adjust_Mt-8">SIMカードの到着後にお手続きをしてください。</p>
              </div>
            </li>
            <li id="js-card-4" class="<%= namespace %>-Layout_Card-item <%= namespace %>-Utility_Aria-hidden js-card-control js-card-4" aria-hidden="true">
              <img src="/assets/img/guide/opening/icon-need-for-the-procedure-4.png" alt="">
              <div>
                <p>Wi-Fiネットワーク</p>
                <p class="u-Adjust_Mt-8">開通手続きで使用しますので、必ずWi-Fiに接続できる環境でお手続きを行ってください。</p>
              </div>
            </li>
            <li id="js-card-5" class="<%= namespace %>-Layout_Card-item <%= namespace %>-Utility_Aria-hidden js-card-control js-card-5" aria-hidden="true">
              <img src="/assets/img/guide/opening/icon-need-for-the-procedure-5.png" alt="">
              <div>
                <p>スタートガイド</p>
                <p class="u-Adjust_Mt-8">「eSIMのお申込み時の本人確認方法」で「その他」を選択した方は、裏面のQRコードの読み取りが必要です。スタートガイド到着時にお手続きをしてください。</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="c-Theme-Light u-Adjust_Pt-pc-72 u-Adjust_Pb-pc-56 u-Adjust_Pt-sp-32 u-Adjust_Pb-sp-16">
      <div class="l-System_Container <%= namespace %>-Utility_P-sp-0">
        <h2 class="c-Txt_Normal-l">
          開通手順
        </h2>
        <ol id="js-rendering-area" class="<%= namespace %>-Layout_Step c-Flow"></ol>
      </div>
    </div>
  </div>

  <%- include('/include/guide/_inquiry') %>
  <%- include('/include/guide/_review') %>

  <footer class="g-Footer">
    <div class="g-Footer_Aside">
      <%- include('/include/footer/bnr/_bnr.ejs') %>
    </div>
    <div class="l-System_Container">
      <div class="c-Breadcrumbs_Foot">
        <ul>
          <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ if (typeof directories !== 'undefined') { _%>
          <%_ let dirs = []; _%>
          <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
              <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
              <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
          <%_ }) _%>
          <%_ } _%>
          <li aria-current="true"><%= pagetitle %></li>
        </ul>
      </div>
    </div>

    <%- include('/include/_footer') %>

  </footer>

</div>

<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.opening.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
