<% const pagetitle = "お手持ちのiPhone・iPadで楽天モバイルを使用するための初期設定方法" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/iphone/initial-setting/", label:"初期設定（iPhone・Apple Watch）"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '初期設定方法（iPhone・iPad）はこちら。SIMカードでご契約の楽天モバイル（楽天モバイル）について、iPhone・iPadの初期設定方法をご案内します。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
  <%- include('/include/_prepend-body') %>

  <div class="l-System">

    <%- include('/include/_header') %>

    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>

    <div class="<%= nameSpace %>-Layout_Container">
      <div class="l-System_Container">
        <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
        <p class="u-Adjust_Mt-24">お手持ちのiPhone・iPadで楽天モバイルを使用するお客様向けに、iPhone・iPadの初期設定方法をご案内します。</p>

        <p class="u-Adjust_Mt-32">楽天モバイルでiPhone（eSIM・nanoSIM）をプランとセットで購入した方は、以下の初期設定方法をご確認ください。</p>
        <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-16">
          <li><a href="<%= sitepath %>guide/iphone/setting/nanosim/" class="c-Link_Txt-inline">iPhone＋プランセット購入者向け初期設定方法
            （nanoSIM）<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/iphone/setting/esim/" class="c-Link_Txt-inline">iPhone＋プランセット購入者向け初期設定方法
            （eSIM）<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/ios/" class="c-Link_Txt-inline">お手持ちのiPhone・iPadで楽天モバイルを使用するための初期設定方法
            <span class="c-Icon_Chevron-right"></span></a></li>
        </ul>
        <p class="u-Adjust_Mt-24">楽天モバイルを2回線目として利用するデュアルSIMの設定方法は<a href="https://www.pip-maker.com/?view=nmj5" class="c-Link_Txt" target="_blank">こちらの動画</a>をご確認ください。</p>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-32">ご利用前の確認事項</h2>

        <p class="u-Adjust_Mt-24">以下をご確認のうえ、ご利用ください。</p>
        <h3 class="c-Heading_Lv3 u-Adjust_Mt-32">楽天回線対応製品以外のご利用について</h3>
        <ul class="c-List_Text-disc u-Adjust_Mt-24">
          <li>当社の動作保証対象外となります。</li>
          <li>OSやソフトウェアの更新等により、機能のご利用が制限される場合があります。</li>
          <li>楽天モバイルでは、製品の設定、操作方法についてのご質問対応や「あんしん操作サポート」「データ移行サポート」等のアフターサービスを提供できません。</li>
        </ul>
        <h3 class="c-Heading_Lv3 u-Adjust_Mt-32">SIMロック解除について</h3>
        <ul class="c-List_Text-disc u-Adjust_Mt-24">
          <li>他の携帯電話会社でご利用されていた製品は、MNP転入前にSIMロック解除が必要な場合があります。</li>
          <li>詳しくは、ご購入元の携帯電話会社のWebサイトをご確認ください。</li>
        </ul>

        <div class="c-Accordion u-Adjust_Mt-32">
          <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>主な携帯電話会社のSIMロック解除手続き方法</button>
          <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
            <ol class="c-Flow u-Adjust_Mt-0">
              <ul class="c-List_Text-disc u-Adjust_Mt-24 u-Adjust_Mb-24">
                <li><a href="https://www.docomo.ne.jp/support/unlock_simcard/" target="_blank">NTTドコモ</a><span class="c-Icon_New-window-l c-Txt_Emp-02" style="padding-left: 4px;"></span></li>
                <li><a href="https://www.au.com/support/service/mobile/procedure/simcard/unlock/" class="c-Link_Txt-inline" target="_blank">au／沖縄セルラー</a><span class="c-Icon_New-window-l c-Txt_Emp-02" style="padding-left: 4px;"></span></li>
                <li><a href="https://www.softbank.jp/mobile/support/usim/unlock_procedure/" class="c-Link_Txt-inline" target="_blank">SoftBank</a><span class="c-Icon_New-window-l c-Txt_Emp-02" style="padding-left: 4px;"></span></li>
                <li><a href="https://www.ymobile.jp/support/process/unlock_procedure/" class="c-Link_Txt-inline" target="_blank">ワイモバイル</a><span class="c-Icon_New-window-l c-Txt_Emp-02" style="padding-left: 4px;"></span></li>
                <li><a href="https://www.uqwimax.jp/mobile/support/contract/guide/sim_unlock/" class="c-Link_Txt-inline" target="_blank">UQモバイル</a><span class="c-Icon_New-window-l c-Txt_Emp-02" style="padding-left: 4px;" ></span></li>
              </ul>
            </ol>
          </div>
        </div>




    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="iphoneAnchor">iPhoneの設定方法</h2>

    <div class="c-Tab js-Tab u-Adjust_Mt-16">
      <ul class="c-Tab_Items" role="tablist">
        <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">nanoSIM</li>
        <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">eSIM</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
        <p class="u-Adjust_Mt-24 c-Txt_Cap">※設定時の選択によって、遷移する画面や表示内容が異なる場合があります。画面の案内に従って手続きを行ってください。</p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※iOSのバージョンにより画面が異なる場合がございます。</p>
        <ol class="c-Flow u-Adjust_Mt-32">
            <li>
              <h3 class="c-Heading_Lv4">1. OSをアップデート</h3>
              <p class="u-Adjust_Mt-16">楽天モバイルをご利用いただくには、最新のOSへアップデートが必要です。<br>
                Wi-Fi接続やテザリング接続を行っていただき、案内に沿ってアップデートを行ってください。</p>
              <div class="c-Accordion u-Adjust_Mt-32">
                <button id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>OSのバージョン確認とアップデート方法</button>
                <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
                <ol class="c-Flow u-Adjust_Mt-0">
                  <li>
                    <h3 class="c-Heading_Lv4">1. 一般画面を開く</h3>
                    <p class="u-Adjust_Mt-16">設定にある「一般」をタップしてください。</p>
                    <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/ios/img-01.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
                    <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/ios/img-02.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
                  </li>
                  <li>
                    <h3 class="c-Heading_Lv4">2. 「ソフトウェア・アップデート」をタップ</h3>
                    <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/ios/img-03.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
                  </li>
                  <li>
                    <h3 class="c-Heading_Lv4">3. 「ダウンロードしてインストール」をタップ</h3>
                    <p class="u-Adjust_Mt-16">OSが最新版ではない場合、最新版のソフトウェアのダウンロード・インストールが案内されます。<br>
                      「ダウンロードしてインストール」をタップし、画面の案内に沿ってインストールを行ってください。</p>
                    <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/ios/img-04.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
                  </li>
                </ol>
                <p class="u-Adjust_Mt-32">以上でOSのバージョン確認とアップデートは完了です。</p>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv4">2. MNP転入／プラン変更（移行）手続き</h3>
            <p class="u-Adjust_Mt-16">以下の方は、別途MNP転入／プラン変更（移行）の手続きを行ってください。</p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap">※「MNP転入／プラン変更（移行）手続き」は新規契約の方は不要です。</p>
            <ul class="c-List_Text-disc u-Adjust_Mt-24">
              <li>他社から乗り換え（MNP）</li>
              <li>楽天モバイル（ドコモ回線／au回線）の通話SIM料金プラン「スーパーホーダイ」「組み合わせプラン」「コミコミプラン」からの、「Rakuten最強プラン」へのプラン変更（移行）</li>
            </ul>
            <a href="<%= sitepath %>guide/mnp/flow/" class="c-Btn_Regular u-Adjust_Mt-16">MNP開通手続きの詳細を見る</a>
          </li>
          <li id="delete-apn-profile">
            <h3 class="c-Heading_Lv4">3. APN構成プロファイルを削除</h3>
            <p class="u-Adjust_Mt-16">楽天モバイル（ドコモ回線・au回線）、ワイモバイル、UQモバイルなどでiPhoneをご利用されていた方は、APN構成プロファイルの削除を行ってください。<br>
              ドコモ、au、ソフトバンクをご利用されていた方は、削除は不要です。</p>
            <a href="<%= sitepath %>guide/setting/profile_delete/"
              class="c-Btn_Regular u-Adjust_Mt-16">iPhone用のAPN構成プロファイル削除方法を見る</a>
          </li>
          <li>
            <h3 class="c-Heading_Lv4">4. nanoSIMを挿しかえる</h3>
            <p class="u-Adjust_Mt-16">お手持ちのiPhoneの電源を切り、nanoSIMを外してください。<br>
              次に、楽天モバイルで購入した新しいnanoSIMを挿入して、電源を入れてください。</p>
          </li>
          <li>
            <h3 class="c-Heading_Lv4">5. キャリア設定をアップデートする</h3>
            <p class="u-Adjust_Mt-16 c-Txt_Emp-02">下記のポップアップが表示されるので、必ず「アップデート」をタップしてください。</p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap c-Txt_Emp-01">※「今はしない」をタップした場合、ホーム画面より「設定」→「一般」→「情報」の順に進むと、ポップアップが表示されるので「アップデート」をタップしてしばらくお待ちください。</p>
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/ios/img-05.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
          </li>
          <li>
            <h3 class="c-Heading_Lv4">6. 楽天モバイルの開通を確認する</h3>
            <p class="u-Adjust_Mt-16">Wi-FiをOFFにし、画面上のアンテナマークの隣に「4G」または「5G」と表示されているかご確認ください。</p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap">※開通後、my 楽天モバイルに情報が反映されるまで最大1日程度お時間がかかる場合がありますが、通話・データ通信はお使いいただけます。</p>
          </li>
        </ol>
        <p class="u-Adjust_Mt-32">以上でiPhone（nanoSIM）の設定は完了です。</p>
    </div>

    <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
      <p class="u-Adjust_Mt-24 c-Txt_Cap">※設定時の選択によって、遷移する画面や表示内容が異なる場合があります。画面の案内に従って手続きを行ってください。</p>
      <p class="u-Adjust_Mt-8 c-Txt_Cap">※iOSのバージョンにより画面が異なる場合がございます。</p>
      <ol class="c-Flow u-Adjust_Mt-32">
        <li>
          <h3 class="c-Heading_Lv4">1. OSをアップデート</h3>
          <p class="u-Adjust_Mt-16">楽天モバイルをご利用いただくには、最新のOSへアップデートが必要です。<br>
            Wi-Fi接続やテザリング接続を行っていただき、案内に沿ってアップデートを行ってください。</p>
          <div class="c-Accordion u-Adjust_Mt-32">
            <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>OSのバージョン確認とアップデート方法</button>
            <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
              <ol class="c-Flow u-Adjust_Mt-0">
                <li>
                  <h3 class="c-Heading_Lv4">1. 一般画面を開く</h3>
                  <p class="u-Adjust_Mt-16">設定にある「一般」をタップしてください。</p>
                  <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/ios/img-01.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
                  <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/ios/img-02.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
                </li>
                <li>
                  <h3 class="c-Heading_Lv4">2. 「ソフトウェア・アップデート」をタップ</h3>
                  <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/ios/img-03.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
                </li>
                <li>
                  <h3 class="c-Heading_Lv4">3. 「ダウンロードしてインストール」をタップ</h3>
                  <p class="u-Adjust_Mt-16">OSが最新版ではない場合、最新版のソフトウェアのダウンロード・インストールが案内されます。<br>
                    「ダウンロードしてインストール」をタップし、画面の案内に沿ってインストールを行ってください。</p>
                  <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/ios/img-04.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
                </li>
              </ol>
              <p class="u-Adjust_Mt-32">以上でOSのバージョン確認とアップデートは完了です。</p>
            </div>
          </div>
        </li>
        <li>
          <h3 class="c-Heading_Lv4">2. 「my 楽天モバイル」アプリをインストールする</h3>
          <p class="u-Adjust_Mt-16">以下のQRコードを読み込んでApp Storeより「my 楽天モバイル」アプリをインストールしてください。</p>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/ios/img-06.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </li>
        <li>
          <h3 class="c-Heading_Lv4">3. 位置情報提供を選択する</h3>
          <p class="u-Adjust_Mt-16">位置情報提供協力のお願いの画面が表示されますので、どちらか選択してタップしてください。</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※「同意しない」をタップしてもアプリはご利用いただけます。</p>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/ios/img-07.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </li>
        <li>
          <h3 class="c-Heading_Lv4">4. アプリからの通知許可の設定をする</h3>
          <p class="u-Adjust_Mt-16">アプリからの通知許可について、どちらか選択してタップしてください。</p>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/ios/img-08.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </li>
        <li>
          <h3 class="c-Heading_Lv4">5. 位置情報の使用を許可する</h3>
          <p class="u-Adjust_Mt-16">位置情報の使用許可について「Appの使用中は許可」をタップしてください。</p>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/ios/img-09.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </li>
        <li>
          <h3 class="c-Heading_Lv4">6. ログインする</h3>
          <p class="u-Adjust_Mt-16">「Rakuten IDでログイン」をタップし、お申し込み時に利用した楽天IDとパスワードを入力しログインしてください。</p>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/ios/img-010.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/ios/img-011.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </li>
        <li>
          <h3 class="c-Heading_Lv4">7. APN構成プロファイルを削除</h3>
          <p class="u-Adjust_Mt-16">楽天モバイル（ドコモ回線・au回線）、ワイモバイル、UQモバイルなどでiPhoneをご利用されていた方は、APN構成プロファイルの削除を行ってください。<br>
            ドコモ、au、ソフトバンクをご利用されていた方は、削除は不要です。</p>
          <a href="<%= sitepath %>guide/setting/profile_delete/" class="c-Btn_Regular u-Adjust_Mt-16">iPhone用のAPN構成プロファイル削除方法を見る</a>
        </li>
        <li>
          <h3 class="c-Heading_Lv4">8. スタートガイド裏面のQRコードを確認する</h3>
          <p class="u-Adjust_Mt-16">製品と同梱されている「スタートガイド」の裏面のQRコードの有無を確認し、次の手順に進んでください。</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※「AIかんたん本人確認（eKYC）」か、「楽天グループに提出済みの書類で確認」の本人確認方法でお申し込みされている、またはプラン変更（移行）の場合は、QRコードはありません。</p>
          <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-16">
            <li><a href="#9" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>QRコードあり（9へ）</a></li>
            <li><a href="#11" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>QRコードなし（11へ）</a></li>
          </ul>
        </li>
        <li>
          <h3 class="c-Heading_Lv4" id="9">9. QRコードを読み込む</h3>
          <p class="u-Adjust_Mt-16">カメラを起動し、スタートガイド裏面のQRコードを読み込んでください。</p>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/ios/img-012.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
          <p class="u-Adjust_Mt-16">カメラをQRコードにかざすと、上部にポップアップが表示されますので、タップしてください。</p>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/ios/img-013.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </li>
        <li>
          <h3 class="c-Heading_Lv4">10. 「申し込み履歴を開く」をタップ</h3>
          <p class="u-Adjust_Mt-16">「申し込み履歴を開く」をタップし申し込み履歴画面が表示された事を確認してください。</p>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/ios/img-014.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/ios/img-015.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </li>
        <li>
          <h3 class="c-Heading_Lv4" id="11">11. MNP転入／プラン変更（移行）手続き</h3>
          <p class="u-Adjust_Mt-16">以下の方は、別途MNP転入／プラン変更（移行）の手続きを行ってください。</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※「MNP転入／プラン変更（移行）手続き」は新規契約の方は不要です。</p>
          <ul class="c-List_Text-disc u-Adjust_Mt-24">
            <li>他社から乗り換え（MNP）</li>
            <li>楽天モバイル（ドコモ回線／au回線）の通話SIM料金プラン「スーパーホーダイ」「組み合わせプラン」「コミコミプラン」からの、「Rakuten最強プラン」へのプラン変更（移行）</li>
          </ul>
          <a href="<%= sitepath %>guide/mnp/flow/" class="c-Btn_Regular u-Adjust_Mt-16">MNP開通手続きの詳細を見る</a>
        </li>
        <li id="tap-on-mrmappnum">
          <h3 class="c-Heading_Lv4">12. my 楽天モバイルアプリの申込番号をタップ</h3>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※引き続きWi-Fi接続の状態で設定を行ってください。</p>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/ios/img-016.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </li>
        <li>
          <h3 class="c-Heading_Lv4">13. 「開通手続きをする」をタップ</h3>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/ios/img-017-230601.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </li>
        <li>
          <h3 class="c-Heading_Lv4">14. モバイル通信プランを追加する</h3>
          <p class="u-Adjust_Mt-16">モバイル通信プランのインストール画面が表示されますので、「続ける」をタップしてください。</p>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/ios/img-018.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
          <p class="u-Adjust_Mt-16">モバイル通信プランの追加画面が表示されますので、「モバイル通信プランの追加」をタップしてください。<br>
            開通手続きが行われますので、そのまましばらくお待ちください。</p>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/ios/img-019.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </li>
        <li>
          <h3 class="c-Heading_Lv4">15. キャリア設定をアップデートする</h3>
          <p class="u-Adjust_Mt-16 c-Txt_Emp-02">開通手続きが完了すると「キャリア設定アップデート」が表示されるので必ず「アップデート」をタップしてください。</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap c-Txt_Emp-01">※「今はしない」をタップした場合、ホーム画面より「設定」→「一般」→「情報」の順に進むと、ポップアップが表示されるので「アップデート」をタップしてしばらくお待ちください。</p>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/ios/img-020-230601.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/ios/img-021-230601.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </li>
        <li>
          <h3 class="c-Heading_Lv4">16. 楽天モバイルの開通を確認する</h3>
          <p class="u-Adjust_Mt-16">Wi-FiをOFFにし、画面上のアンテナマークの隣に「4G」または「5G」と表示されているかご確認ください。</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※開通後、my 楽天モバイルに情報が反映されるまで最大1日程度お時間がかかる場合がありますが、通話・データ通信はお使いいただけます。</p>
        </li>
      </ol>
      <p class="u-Adjust_Mt-32">以上でiPhone（eSIM）の設定は完了です。</p>
      </div>
    </div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="ipadAnchor">iPadの設定方法</h2>
    <p class="u-Adjust_Mt-24">以下の手順に沿って、APN設定を行ってください。
      他社からの電話番号乗り換え（MNP）の方は、APN設定の前にMNP開通手続きを行ってください。</p>
    <a href="<%= sitepath %>guide/mnp/flow/" class="c-Btn_Regular u-Adjust_Mt-16">MNP開通手続きの詳細を見る</a>

    <ol class="c-Flow u-Adjust_Mt-32">
      <li>
        <h3 class="c-Heading_Lv4">1. SIMを挿入します。</h3>
      </li>
      <li>
        <h3 class="c-Heading_Lv4">2. 設定を起動し、「モバイル通信」を選択してください。</h3>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/ios/setup-10.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
      <li>
        <h3 class="c-Heading_Lv4">3. 「APN設定」を選択します。</h3>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/ios/setup-11.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
      <li>
        <h3 class="c-Heading_Lv4">4. 「モバイルデータ通信」と「インターネット共有」の「APN」入力エリアにAPNを設定してください。入力は「rakuten.jp」となります。<br>
      入力後左上の「＜」で戻ります。</h3>
      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/ios/setup-12.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
      <li>
        <h3 class="c-Heading_Lv4">5. 4までの手順で「インターネット共有」も利用できるようになり、「オフ」と表示されます。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/ios/setup-13.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
    </ol>
    <p class="u-Adjust_Mt-32">以上でAPNの設定は完了です。</p>

    <%- include('/include/guide/_faq') %>

        <div class="u-Adjust_Pt-64">
          <div class="u-Adjust_Mt-16"><a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップにもどる</span></a></div>
          <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a></div>
        </div>

      </div>
    </div>




    <%- include('/include/guide/_review') %>
    <%- include('/include/guide/_inquiry') %>

    <footer class="g-Footer">

      <div class="g-Footer_Aside">

        <%- include('/include/footer/bnr/_bnr.ejs') %>

      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
          <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ if (typeof directories !== 'undefined') { _%>
          <%_ let dirs = []; _%>
          <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
          <%_ }) _%>
          <%_ } _%>
          <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>

      <%- include('/include/_footer') %>

    </footer>

  </div>
  <%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>



</body>
</html>
