<% const pagetitle = "スミッシング対策入門" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/other/other/", label:"その他"}, {path:"guide/security/", label:"情報セキリュティ"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: 'お買いものパンダと一緒に学べるスミッシング対策と対処法をご紹介します。大事な個人情報を守りましょう。',
    noindex: false,
    pathname: filepath
  });
%>
<% const namespace = "cyber-bousai2022" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/security/cyber-bousai2022/cyber-bousai2022.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>

  <div class="l-System">

    <%- include('/include/_header') %>

    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>


    <div class="<%= namespace %>-Hero">

      <div class="<%= namespace %>-Hero-Inr">
        <h1>
          <img src="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-hero-pc.png" alt="お買いものパンダと学ぼう スミッシング＋フィッシング 対策入門" class="<%= namespace %>-Utility_Show-pc">
          <img src="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-hero-sp.png" alt="お買いものパンダと学ぼう スミッシング＋フィッシング 対策入門" class="<%= namespace %>-Utility_Show-sp">
        </h1>
      </div>

    </div>

    <main>
      <div class="l-System_Container">

        <div class="<%= namespace %>-Content_Box1">

          <div class="<%= namespace %>-Content_Box1_Title">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-title1-sp.png">
              <source srcset="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-title1-pc.png">
              <img src="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-title1-pc.png" alt="スミッシングって何？">
            </picture>
          </div>
          <p>
            フィッシング詐欺を聞いたことはありませんか？<br>
            <span class="c-Txt_Emp-02">メールに送られてくるURLをクリックすることで不正なウェブサイトにアクセスさせる手口</span>です。<br>
            スミッシング（Smishing）は、携帯電話やスマートフォンで受け取るSMSとフィッシングを掛け合わせた造語で、SMSに送られてくるフィッシングメッセージです。
          </p>
          <div class="<%= namespace %>-Content_Box1_Img">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-img1-sp.png">
              <source srcset="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-img1-pc.png">
              <img src="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-img1-pc.png" alt="">
            </picture>
          </div>
        </div>

        <h2 class="u-Adjust_Align-center u-Adjust_Mt-48">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-title2-sp.png">
            <source srcset="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-title2-pc.png">
            <img src="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-title2-pc.png" alt="こんなSMS（メッセージ）が届いたことはありませんか？">
          </picture>
        </h2>
      </div>

      <div class="c-Theme-Emphasis2 u-Adjust_Mt-8 u-Adjust_Pl-0 u-Adjust_Pr-0 u-Adjust_Pb-16">
        <div class="l-System_Container">
          <div class="u-Adjust_Mt-8 u-Adjust_Align-center">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-img2-sp.png">
              <source srcset="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-img2-pc.png">
              <img src="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-img2-pc.png" alt="" width="856">
            </picture>
          </div>
          <div class="u-Adjust_Align-center u-Adjust_Mt-8">
            <img src="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-arrow.png" alt="" width="64">
          </div>
          <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-img3-sp.png">
              <source srcset="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-img3-pc.png">
              <img src="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-img3-pc.png" alt="" width="856">
            </picture>
          </div>
          <div class="u-Adjust_Align-center u-Adjust_Mt-8">
            <img src="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-arrow.png" alt="" width="64">
          </div>
          <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-img4-sp.png">
              <source srcset="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-img4-pc.png">
              <img src="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-img4-pc.png" alt="" width="856">
            </picture>
          </div>
          <div class="u-Adjust_Mt-72 u-Adjust_Align-center">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-title3-sp.png">
              <source srcset="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-title3-pc.png">
              <img src="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-title3-pc.png" alt="そのリンク、本当にクリックしても大丈夫？" width="581.5">
            </picture>
          </div>
          <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-img5-sp.png">
              <source srcset="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-img5-pc.png">
              <img src="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-img5-pc.png" alt="スミッシングについてくるURLは偽物！認証情報や個人情報等は絶対に入力しないでください個人情報やカード情報などが抜き取られる可能性があります。必ず企業や商品の公式HP・アプリで確認！SMS内のURLは絶対にクリックしない！">
            </picture>
          </div>
          <div class="u-Adjust_Align-center u-Adjust_Mt-16 <%= namespace %>-Content_Arrow2">
            <img src="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-arrow2.png" alt="" width="43">
          </div>
        </div>
      </div>
      <div class="l-System_Container">
        <div class="<%= namespace %>-Content_Box2">
          <div class="<%= namespace %>-Content_Box2_Title">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-title4-sp.png">
              <source srcset="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-title4-pc.png">
              <img src="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-title4-pc.png" alt="詐欺メッセージのリンクをクリックしてしまったら">
            </picture>
          </div>
          <p>
            スミッシングの被害にあうと意図せず端末が<span class="c-Txt_Emp-02">マルウェア（悪意のあるコード/プログラムの総称）</span>に感染してしまう場合があります。<br>
            疑わしいファイルをダウンロードしてしまった場合はすぐに削除しましょう！
          </p>
          <div class="<%= namespace %>-Content_Flex u-Adjust_Mt-40">
            <div class="<%= namespace %>-Content_Flex_left">
              <p class="c-Txt_Emp-02 c-Txt_Normal-l">マルウェアに感染すると…</p>
              <p>端末が勝手にSMSを送ってしまったり、外部に自分の情報が漏洩してしまう！</p>
              <div class="c-Theme-Light u-Adjust_Mt-24">
                <p class="c-Txt_Emp-01">【マルウェア】まるうぇあ</p>
                <p class="u-Adjust_Mt-8">
                  悪意のあるコードまたはプログラムの総称。実行するとパソコンやスマホなどのデバイスが意図せず不正かつ有害な動作をしてしまう。
                </p>
              </div>
            </div>
            <div class="<%= namespace %>-Content_Flex_right">
              <img src="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-img6.png" alt="">
            </div>
          </div>
        </div>
        <h3 class="c-Heading_Lv3 u-Adjust_Mt-16 u-Adjust_Align-center">いますぐ対処しましょう！</h3>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
          <a href="<%= sitepath %>guide/malware-recovery/?l-id=guide_security_cyber-bousai2022_guide_malware-recovery" class="c-Btn_Primary-large"><span>マルウェアの削除方法を見る</span></a>
        </div>
      </div>
      <div class="c-Theme-Emphasis2 u-Adjust_Pl-0 u-Adjust_Pr-0 u-Adjust_Mt-56">
        <div class="l-System_Container">
          <h2 class="u-Adjust_Align-center u-Adjust_Mt-24">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-title5-sp.png">
              <source srcset="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-title5-pc.png">
              <img src="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-title5-pc.png" alt="こんなSMSには要注意！">
            </picture>
          </h2>
          <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
            例にあげたようなSMSには危険が潜んでいます！よくある例を普段から覚えておきましょう！
          </p>
          <div class="l-Media_List-2 u-Adjust_Mb-32 u-Adjust_Mt-8">
            <div class="u-Adjust_Mt-24">
              <div class="<%= namespace %>-Card">
                <div class="<%= namespace %>-Card_Head">
                  <p class="c-Heading_Lv4">宅配業者を装ったSMS</p>
                </div>
                <div class="<%= namespace %>-Card_Body">
                  <img src="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-card1.png" alt="" width="288">
                </div>
              </div>
            </div>
            <div class="u-Adjust_Mt-24">
              <div class="<%= namespace %>-Card">
                <div class="<%= namespace %>-Card_Head">
                  <p class="c-Heading_Lv4">通信事業者を装ったSMS</p>
                </div>
                <div class="<%= namespace %>-Card_Body">
                  <img src="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-card2.png" alt="" width="288">
                </div>
              </div>
            </div>
            <div class="u-Adjust_Mt-24">
              <div class="<%= namespace %>-Card">
                <div class="<%= namespace %>-Card_Head">
                  <p class="c-Heading_Lv4">ネットショップを装ったSMS</p>
                </div>
                <div class="<%= namespace %>-Card_Body">
                  <p>
                    <img src="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-card3.png" alt="" width="288">
                  </p>
                  <p class="u-Adjust_Mt-16">
                    <a href="https://ichiba.faq.rakuten.net/detail/000010078?scid=wi_ich_detail_000010078" class="c-Link_Txt-inline-icon u-Adjust_Mt-16" target="_blank">楽天市場を装った不審なSMSの例を見る<span class="c-Icon_New-window-l"></span></a>
                  </p>
                </div>
              </div>
            </div>
            <div class="u-Adjust_Mt-24">
              <div class="<%= namespace %>-Card">
                <div class="<%= namespace %>-Card_Head">
                  <p class="c-Heading_Lv4">金融機関を装ったSMS</p>
                </div>
                <div class="<%= namespace %>-Card_Body">
                  <p><img src="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-card4.png" alt="" width="288"></p>
                  <p class="u-Adjust_Mt-16">
                    <a href="https://www.rakuten-bank.co.jp/security/trend/account_management/phishing.html?scid=wi_bank_account_management_phishing" class="c-Link_Txt-inline-icon u-Adjust_Mt-16" target="_blank ">楽天銀行：フィッシング詐欺の傾向を見る<span class="c-Icon_New-window-l"></span></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="u-Adjust_Align-center u-Adjust_Mt-16 <%= namespace %>-Content_Arrow2">
            <img src="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-arrow2.png" alt="" width="43">
          </div>
        </div>
      </div>
      <div class="c-Theme-Emphasis1 <%= namespace %>-Content_Pb0-48 u-Adjust_Pr-0 u-Adjust_Pl-0">
        <div class="l-System_Container <%= namespace %>-Content_Panda">

          <h2 class="u-Adjust_Align-center u-Adjust_Pt-32">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-title6-sp.png">
              <source srcset="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-title6-pc.png">
              <img src="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-title6-pc.png" alt="安全なモバイルライフのために必要な3つのポイント！" width="390">
            </picture>
          </h2>

          <p class="u-Adjust_Mt-16 u-Adjust_Mb-16 u-Adjust_Align-center">
            大事な個人情報を守るのは自分自身です。3つのポイントを覚えておきましょう。
          </p>

          <div class="l-Media_List-3 u-Adjust_Mb-32 u-Adjust_Mt-0">
            <div class="u-Adjust_Mt-24">
              <div class="<%= namespace %>-Card-2">
                <div class="<%= namespace %>-Card-2_Head">
                  <img src="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-no1.png" alt="Point1" width="73">
                </div>
                <div class="<%= namespace %>-Card-2_Body">
                  <p class="<%= namespace %>-Card-2_l-txt">
                    企業名に騙されない！そのクリックちょっと待って！
                  </p>
                  <p class="u-Adjust_Mt-16">
                    SMSの送信者名が大手企業や大手サービスであっても、すぐにクリックするのは危険です。リンク先の偽サイトは、本物そっくりに作られています。必ずブックマークした公式HPや、公式からダウンロードしたアプリで情報を確認しましょう。
                  </p>
                </div>
              </div>
            </div>
            <div class="u-Adjust_Mt-24">
              <div class="<%= namespace %>-Card-2">
                <div class="<%= namespace %>-Card-2_Head">
                  <img src="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-no2.png" alt="Point2" width="73">
                </div>
                <div class="<%= namespace %>-Card-2_Body">
                  <p class="<%= namespace %>-Card-2_l-txt">
                    提供元不明アプリをインストールしないで！
                  </p>
                  <p class="u-Adjust_Mt-16">
                    正規のストア（Google Play / App Store）以外からアプリをインストールすることは危険！偽サイトでは、不正アプリのダウンロードを要求されることもあります。また、正規のストアで「提供元不明のアプリ」と表示がされる場合は、インストールを許可しないようにしましょう。
                  </p>
                </div>
              </div>
            </div>
            <div class="u-Adjust_Mt-24">
              <div class="<%= namespace %>-Card-2">
                <div class="<%= namespace %>-Card-2_Head">
                  <img src="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-no3.png" alt="Point3" width="73">
                </div>
                <div class="<%= namespace %>-Card-2_Body">
                  <p class="<%= namespace %>-Card-2_l-txt">
                    気軽に大切な個人情報を入力しないで！
                  </p>
                  <p class="u-Adjust_Mt-16">
                    公式のアプリやサイト以外で安易にID・パスワード、カード情報を入力しないで！あなたの大切な個人情報が盗み取られる危険があります。
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="l-System_Container u-Adjust_Pb-64">
          <h2 class="u-Adjust_Align-center u-Adjust_Mt-64">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-title7-sp.png">
              <source srcset="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-title7-pc.png">
              <img src="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-title7-pc.png" alt="困った時は相談窓口へ！" width="295">
            </picture>
          </h2>

          <p class="u-Adjust_Mt-24 u-Adjust_Mb-40 u-Adjust_Align-center">
            気をつけていても、間違ってクリックしてしまうことも。そんな時には相談窓口へすぐに連絡しましょう！
          </p>

          <div class="<%= namespace %>-Content_Box3">
            <div class="l-Media_Grid-reverse">
              <div>
                <ul class="c-List_Text-disc">
                  <li>
                    <a href="<%= sitepath %>guide/anti-spam/?l-id=guide_security_cyber-bousai2022_guide_anti-spam" class="c-Link_Txt">楽天モバイル不正SMS報告先：迷惑メールを申告する方法</a>
                  </li>
                  <li>
                    <a href="https://www.npa.go.jp/cyber/policy/phishing/phishing110.htm" class="c-Link_Txt-inline-icon" target="_blank">警察へ連絡（相談）：フィッシング 110 番<span class="c-Icon_New-window-l u-Adjust_Pl-16"></span></a>
                  </li>
                  <li>
                    <a href="https://www.kokusen.go.jp/" class="c-Link_Txt-inline-icon" target="_blank">国民生活センターまたは各地の消費生活センター（相談）<span class="c-Icon_New-window-l u-Adjust_Pl-16"></span></a>
                  </li>
                  <li>
                    <a href="https://www.houterasu.or.jp/" class="c-Link_Txt-inline-icon" target="_blank">法テラス（相談）<span class="c-Icon_New-window-l u-Adjust_Pl-16"></span></a>
                  </li>
                  <li>
                    <a href="https://www.antiphishing.jp/" class="c-Link_Txt-inline-icon" target="_blank">フィッシング対策協議会（情報提供）<span class="c-Icon_New-window-l u-Adjust_Pl-16"></span></a>
                  </li>
                </ul>
              </div>
              <div class="l-Media_Image u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-panda2.png" alt="" width="188">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="c-Theme-Emphasis1 u-Adjust_Pr-0 u-Adjust_Pl-0">
        <div class="l-System_Container u-Adjust_Mb-24">

          <div class="u-Adjust_Align-center u-Adjust_Mt-16">
            <img src="<%= sitepath %>assets/img/guide/security/cyber-bousai2022/cyber-bousai-panda3.png" alt="" width="258">
          </div>
          <p class="c-Txt_Normal-l c-Txt_Emp-02 u-Adjust_Align-center u-Adjust_Mt-24">
            楽天モバイルでは、みなさまが安心・安全にスマホをお使いいただけるよう、<br>
            引き続きセキュリティ対策に取り組んで参ります。
          </p>
          <p class="u-Adjust_Align-center u-Adjust_Mt-24">
            <a href="<%= sitepath %>guide/security/?l-id=guide_security_cyber-bousai2022_guide_security" class="c-Link_Txt-inline">楽天モバイル　情報セキュリティを見る<span class="c-Icon_Chevron-right"></span></a>
          </p>
          <p class="u-Adjust_Align-center u-Adjust_Mt-8">
            <a href="<%= sitepath %>guide/security/kids-manner/?l-id=guide_security_cyber-bousai2022_guide_security_kids-manner" class="c-Link_Txt-inline">子どもと学ぶスマホのマナーを見る<span class="c-Icon_Chevron-right"></span></a>
          </p>
        </div>
      </div>

      <div class="u-Adjust_Mt-32">
        <!--共通アンケート-->
        <div id="survey_area"></div>
        <!--共通アンケート -->
      </div>

    </main>


    <%- include('/include/guide/_inquiry') %>
    <footer class="g-Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/bnr/_bnr.ejs') %>
      </div>
      <div class="c-Breadcrumbs_Foot">
        <div class="l-System_Container">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>

  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>

  <script type="text/javascript" src="https://event.rakuten.co.jp/group/survey/_cmn/js/jquery.survey-plugin_v3.js" charset="UTF-8"></script>
<script>
$(function(){
$('#survey_area').survey(2,'');
});
</script>

</body>

</html>
