<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "ウイルスフィルタサービス" -%>
<% const directories = [{path: hikariroot.path + "fee/", label:"料金"}, {path: hikariroot.path + "fee/pricelist/", label:"料金表・お支払い方法"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '無料ウイルスフィルタサービス。メール送受信によるウイルスの感染を事前に防ぎ、感染したメールは自動で削除されます。ウイルス情報は最新に自動更新されます。',
    noindex: false,
    pathname: filepath,
    ishikari: true,
    canonical_custom: 'https://network.mobile.rakuten.co.jp/hikari/fee/option/virus-filter/'
  });
%>
<%- include('/include/hikari/_common-v2-hikari-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/fee/option/option.css?20240424">
<%- include('/include/_append-head-hikari') %>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>

<div class="l-System">

  <%- include('/hikari/include/_header', {
    headerType: 'normal',
    pagetitle: pagetitle,
    pathname: filepath,
    directories: directories
  }) %>


  <div class="l-hikari-Section_Main">
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
      <div class="l-hikari-Section_Main-lead">
        <p>メール送受信によるウイルスの感染を事前に防ぐサービスです。</p>
        <dl class="c-Dl_Origin u-Adjust_Mt-32">
          <div>
            <dt>月額料金</dt>
            <dd>
              <span class="c-Txt_Emp">無料</span>
            </dd>
          </div>
        </dl>
      </div>

      <div class="l-hikari-Section_Sub-short">
        <h2 class="c-Heading_Lv2">ウイルスから徹底ガード！</h2>

        <div class="l-Media_Grid l-hikari-Section_Sub-content-tall">
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/hikari/fee/option/virus-filter/img01.png?211114" alt="" width="328" height="188">
          </div>
          <div>
            <h3 class="c-Heading_Lv3">特長</h3>
            <ul class="c-List_Text-disc l-hikari-Section_Sub-content-short">
              <li>受信メールと送信メール、どちらにもフィルタが適用されます。</li>
              <li>ウイルスに感染したメールは自動で削除されます。</li>
              <li>ウイルス情報は自動的に更新され、常に最新のファイルが適用されます。</li>
              <li>圧縮されたファイルやZIPファイルなどの添付ファイルもチェックされます。</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="l-hikari-Section_Sub-short">
        <h2 class="c-Heading_Lv2">ウイルスフィルタのお申し込み方法</h2>
        <div class="l-hikari-Section_Sub-content-tall">
          <ol class="c-Flow">
            <li>
              <h3 class="c-Heading_Lv3">1.「メンバーズステーション」ログイン画面の「メールアカウントの確認・手続きへ」へ入力し、ログイン</h3>
              <div class="l-hikari-Section_Sub-content-middle">
                <div>
                  <p>下記の情報を入力してください。<br>
                    ユーザーID：無料メールアドレス、または無料メールアドレスの@マークの前のユーザID <br>
                    パスワード：無料メールアドレスのパスワード
                  </p>
                  <p class="c-Txt_Cap u-Adjust_Mt-16">
                    ※「サービスの利用状況」等を確認するための楽天ブロードバンドユーザーIDとはユーザIDが異なりますのでご注意下さい。
                  </p>
                </div>
                <div class="u-Adjust_Mt-24 hikari-option-Flow_Img">
                  <img src="<%= sitepath %>assets/img/hikari/fee/option/virus-filter/img-flow01.png" alt="「メンバーズステーション」ログイン画面の「メールアカウントの確認・手続きへ」へ入力し、ログイン" width="300" height="131">
                </div>
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">2. 会員メニューの中から「スパム/ウィルスフィルタ」をクリック</h3>
              <div class="l-hikari-Section_Sub-content-middle hikari-option-Flow_Img">
                <img src="<%= sitepath %>assets/img/hikari/fee/option//virus-filter/img-flow02.png" alt="会員メニューの中から「スパム/ウィルスフィルタ」をクリック" width="300" height="153">
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">3.お申し込みを行うオプションにチェックを入れ、「確認画面へ」ボタンをクリック</h3>
              <div class="l-hikari-Section_Sub-content-middle hikari-option-Flow_Img">
                <img src="<%= sitepath %>assets/img/hikari/fee/option//virus-filter/img-flow03.png" alt="お申し込みを行うオプションにチェックを入れ、「確認画面へ」ボタンをクリック" width="300" height="372">
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">4.お申し込み内容を確認し、「お申し込み」ボタンをクリック</h3>
              <div class="l-hikari-Section_Sub-content-middle hikari-option-Flow_Img">
                <img src="<%= sitepath %>assets/img/hikari/fee/option//virus-filter/img-flow04.png" alt="お申し込み内容を確認し、「お申し込み」ボタンをクリック" width="300" height="191">
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">5.お申し込み完了</h3>
              <div class="l-hikari-Section_Sub-content-middle hikari-option-Flow_Img">
                <img src="<%= sitepath %>assets/img/hikari/fee/option//virus-filter/img-flow05.png" alt="お申し込み完了" width="300" height="131">
              </div>
            </li>
          </ol>

        </div>
      </div>
    </div>

    <div class="l-System_Container">
      <div class="l-hikari-Section_Sub-tall">
        <div class="c-Accordion">
          <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>注意事項</button>
          <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
            <ul class="c-List_Text-disc">
              <li>ウイルスフィルタは楽天ひかりのメールサーバを通る送受信メールのみをフィルタします。</li>
              <li>データの紛失、またはハードウェアやソフトウェアへのダメージの責任を負いかねます。 </li>
              <li>ウイルスフィルタはWebサイト、ダウンロード、外部メモリ（USBメモリ・SDカード等）からのウイルス感染は防げません。 </li>
            </ul>
          </div>
        </div>
      </div>
    </div>



    <div class="hikari-option-Layout_Ms">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv3">オプションのお申し込みはメンバーズステーションへ</h2>
        <div class="hikari-option-Layout_Ms-body">
          <p>メンバーズステーションログインページ＞メールアカウントの確認・手続きへ、よりログインの上、会員メニュー＞オプションサービスの申し込み＞スパム / ウィルスフィルタよりお手続きください。</p>
          <p class="c-Txt_Cap u-Adjust_Mt-8">※ 無料メールアドレスサービスにお申し込みのないお客様には本オプションメニューは表示されませんので、ご注意ください。</p>
          <div class="u-Adjust_Mt-24">
            <a href="https://ms.fusioncom.co.jp/rbb/members/login?campaign=web-rakuten" target="_blank" class="c-Btn_Primary-large">
              <span><span>メンバーズステーションへログイン</span><span class="c-Icon_Login-l c-Btn_Icon-end"></span></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="g-Footer">
    <%- include('/hikari/include/_footer', {
      pagetitle: pagetitle,
      directories: directories,
      // hiddenFooterCtaText: '',
      // hiddenFooterCtaLink: '',
      hiddenFooterCta: true,
      // hiddenMenu: true,
      // hiddenPopask: false,
      // hiddenBacktop: false,
      // hiddenBreadcrumbs: false,
    }) %>
  </footer>

</div>
<%- include('/include/hikari/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
