<% const pagetitle = "OPPO Reno5 A" -%>
<% const directory = "reno5-a" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/smartphone/", label:"Android"}] -%>
<% const namespace = "product-Oppo-reno5-a" -%>
<% const theme = "Light" -%>
<% const point = 3000 -%>
<%# const pointModel = 2000 -%>
<%# const pointEntry = 5000 -%>
<%# price-detail.ejsファイルに変数の説明の記載があります -%>

<%
/* insert Modal /*
/*
  ストア遷移 → 'bundle'
  在庫あり → 'stock'
  在庫切れ → 'soldout'
  入荷待ち → 'backorder'
*/
const bundleFlag = 'bundle';
const exid = 555309;
-%>

<% const priceDetailConfig = {
  bundleFlag: bundleFlag,
  theme: theme,
  price: 30780,
  // priceBefore: ,
  // pointBackPriceModel: pointModel,
  pointBackPrice: point,
  // pointModelText: `<span>製品購入で<span class="product-detail-Price_Pointback-num">${pointModel.toLocaleString()}</span>ポイント<sub>※1</sub></span>`,
  pointBackTextA: `<span>楽天モバイルお申し込みで<br class="product-detail-Utility_Show-sp"><span class="product-detail-Price_Pointback-num">${point.toLocaleString()}</span>円相当のポイント還元<sub>※1</sub></span>`,
  // pointEntryText: `さらに、エントリー＆抽選で<span class="product-detail-Price_Pointback-num">2,000</span>ポイント<sub>※2</sub>`,
  division24: 1282,
  // division24Before: ,
  division48: 641,
  // division48Before: ,
  tradeinProductName: 'OPPO Reno3 A',
  optionPattern: 'one-option',
  lid: directory,
  capacity: 128,
  maxTradeinPrice: 2160,
  pointAppealBtnCapNo: 3,
  carrier: '楽天モバイル',
  //　notificationEmail: 'true',
  //　notificationEmailLink: '/product/reservation/reno5-a/'
  discountPrice: 6000,
  // mnp: true,
  trakingId: 'reno5-a',
  exid: exid,
}
-%>
<% const tradeinUrl = sitepath + "service/tradein/?l-id=product_" + directory + "_cpn_02" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: "OPPO Reno5 A（オッポ）のスペック・特徴などをご確認いただけます。楽天モバイル対応Android製品。オンライン簡単手続きが便利！",
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<%- include('/include/product/_category-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/inc/i-product-head.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/<%= directory %>/product-<%= directory %>.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/smartphone/purchase-modal-drilldown.css?20240424">
<%- include('/include/product/_history-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%
const modalInfo = [
  {
    question: {
      title: '色を選択',
      warning: '購入する製品の色を選択してください。',
      type: 'color',
      value: 'color',
      select: [
        {
          'id': 'iceblue',
          'name': 'アイスブルー',
          'sub': '',
          'color': '#C0D4D8',
          'checked': false,
          'disabled': false,
        },
        {
          'id': 'silverblack',
          'name': 'シルバーブラック',
          'sub': '',
          'color': '#262322',
          'checked': false,
          'disabled': false,
        }
      ],
      upperinfo: ``,
      lowerinfo: ``
    },
  },
  {
    question: {
      title: 'SIMタイプ・プラン（Rakuten UN-LIMIT VI）を選択',
      warning: 'プランを選択してください。',
      type: 'radio',
      value: 'plan',
      select: [
        {
          'id': 'sim',
          'name': 'nanoSIM＋プランで申し込む',
          'sub': '',
          'checked': false,
          'disabled': false,
          'soldout' : '',
        },
        {
          'id': 'nosim',
          'name': 'プランを申し込まない（製品のみ購入）',
          'sub': '',
          'checked': false,
          'disabled': false,
          'soldout' : '',
        },
      ],
      upperinfo: ``,
      lowerinfo: `
        <p class="c-Txt_Cap">※製品のみ購入の場合、SIM購入（プラン選択）は不要です。</p>
      `
    }
  },
  {
    question: {
      title: 'スマホ交換保証プラスを選択',
      warning: 'スマホ交換保証プラスを選択してください。',
      type: 'radio',
      value: 'warranty',
      select: [
        {
          'id': 'warranty',
          'name': '申し込む：715円／月（税込）',
          'sub': '',
          'checked': true,
          'disabled': false,
          'soldout' : '',
        },
        {
          'id': 'nowarranty',
          'name': '申し込まない',
          'sub': '',
          'checked': false,
          'disabled': false,
          'soldout' : '',
        },
      ],
      upperinfo: `
        <p class="c-Txt_Emp-02">加入できるのは購入時のみ</p>
        <p class="u-Adjust_Mt-8">楽天モバイルで購入したスマートフォンやモバイルルーターの故障・紛失時に、最短で当日<sub>※</sub>に新品同等の同一機種を交換品としてお届けします。</p>
        <small>※対象地域：東京／神奈川／千葉／埼玉（12時までに受付の場合）</small>
        <p>サービスの詳細は、こちらの<a href="/service/replacement-warranty-plus/" class="c-Link_Txt">スマホ交換保証プラス</a>をご参照ください。</p>
      `,
      lowerinfo: ``
    }
  }
]
%>
<%_ if (bundleFlag !== true) { _%>
<script>
const urlList = {
  'iceblue_sim_warranty': '/',
  'iceblue_sim_nowarranty': '/',
  'iceblue_nosim_warranty': '/',
  'iceblue_nosim_nowarranty': 'https://onboarding.mobile.rakuten.co.jp/equipment-details?exid=555309&selectAvailable=true',
  'silverblack_sim_warranty': '/',
  'silverblack_sim_nowarranty': '/',
  'silverblack_nosim_warranty': '/',
  'silverblack_nosim_nowarranty': '/',
}
</script>
<%- include('/include/product/_purchase-modal', { modalInfo: modalInfo }) %>
<%_ } _%>

<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="u-Adjust_Pt-16 u-Adjust_Pr-16 u-Adjust_Pl-16 u-Adjust_Pb-16 l-System_Container u-Adjust_Align-center">
  <p class="c-Txt_Emp-01 c-Txt_Normal-l">OPPO Reno5 Aは販売を終了いたしました。</p>
  <div class="u-Adjust_Pt-16 u-Adjust_Align-center">
    <a class="c-Btn_Regular" href="/product/smartphone/?l-id=end_product_smartphone"><span>販売中のAndroid製品を見る</span></a>
  </div>
</div>

<div class="">
  <div class="product-detail-Layout_Hero-with-bnr <%= namespace %>_Hero">
    <div class="l-System_Container u-Adjust_Pt-16">

      <section class="product-detail-Hero">
        <div class="product-detail-Hero_Data">
          <div>
            <h1 class="co-Heading_Lv1 product-detail-Hero_Name"><img src="<%= sitepath %>assets/img/product/<%= directory %>/logo.svg" alt="<%= pagetitle %>"></h1>
            <p class="product-detail-Hero_Maker">OPPO</p>
            <p class="product-detail-Hero_Copy">カメラで選ばれたい5Gスマホ<span style="font-size: 12px;">※</span></p>
          </div>
        </div>
        <div class="product-detail-Hero_Main u-Adjust_Mt-0">
          <ul class="product-detail-Hero_Main-device c-Carousel js-main1 js-device" aria-hidden="false">
            <li><img src="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-00.png?210823" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-01.png?210823" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-02.png?210823" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-03.png?210823" alt=""></li>
          </ul>
          <ul class="product-detail-Hero_Main-device c-Carousel js-main2 js-device" aria-hidden="true">
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-04.png?210823" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-05.png?210823" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-06.png?210823" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-07.png?210823" alt=""></li>
          </ul>

          <ul class="product-detail-Hero_Main-color product-detail-Theme_<%= theme %>-color">
            <li class="js-color js-color1" aria-current="true"><span style="background:#C0D4D8" data-ratevent="click" data-ratparam="all" data-ratid="reno5-a_color-01"></span></li>
            <li class="js-color js-color2" aria-current="false"><span style="background:#262322" data-ratevent="click" data-ratparam="all" data-ratid="reno5-a_color-02"></span></li>
          </ul>

          <ul class="product-detail-Hero_Main-thumbnail c-Carousel js-thumbnail1 js-device" aria-hidden="false">
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-00.png?210823" alt="" data-ratevent="click" data-ratparam="all" data-ratid="reno5-a_color-01_thumbnail-01"></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-01.png?210823" alt="" data-ratevent="click" data-ratparam="all" data-ratid="reno5-a_color-01_thumbnail-02"></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-02.png?210823" alt="" data-ratevent="click" data-ratparam="all" data-ratid="reno5-a_color-01_thumbnail-03"></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-03.png?210823" alt="" data-ratevent="click" data-ratparam="all" data-ratid="reno5-a_color-01_thumbnail-04"></li>
          </ul>
          <ul class="product-detail-Hero_Main-thumbnail c-Carousel js-thumbnail2 js-device" aria-hidden="true">
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-04.png?210823" alt="" data-ratevent="click" data-ratparam="all" data-ratid="reno5-a_color-02_thumbnail-01"></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-05.png?210823" alt="" data-ratevent="click" data-ratparam="all" data-ratid="reno5-a_color-02_thumbnail-02"></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-06.png?210823" alt="" data-ratevent="click" data-ratparam="all" data-ratid="reno5-a_color-02_thumbnail-03"></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-07.png?210823" alt="" data-ratevent="click" data-ratparam="all" data-ratid="reno5-a_color-02_thumbnail-04"></li>
          </ul>
        </div>
      </section>
    </div>
  </div>

  <div class="product-detail-Layout_Main">

    <div class="l-System_Container">
      <div class="product-detail-Spec">
        <ul class="product-detail-Spec_<%= theme %>">
          <li aria-current="true"><span class="c-Icon_Product-waterproof"></span>防水</li>
          <li aria-current="true"><span class="c-Icon_Product-price-yen"></span>FeliCa</li>
          <li aria-current="true"><span class="c-Icon_Product-hi-res"></span>ハイレゾ<br>オーディオ</li>
          <li aria-current="true"><span class="c-Icon_Product-faceid"></span>顔認証</li>
          <li aria-current="true"><span class="c-Icon_Product-finger"></span>指紋認証</li>
          <li aria-current="false"><span class="c-Icon_Product-charger"></span>ワイヤレス<br>充電</li>
          <li aria-current="true"><span class="c-Icon_Product-connection"></span>高速通信</li>
        </ul>
        <p class="u-Adjust_Mt-64"><a href="#spec" class="c-Link_Txt-icon-front js-scroll" data-ratevent="click" data-ratparam="all" data-ratid="reno5-a_spec-anchor" ><span class="c-Icon_Arrow-down-l"></span>基本スペックを見る</a></p>
      </div>

      <section id="feature" class="product-detail-Layout_Section">
        <h2 class="c-Heading_Lv2-rich" data-ratid="reno5-a_scroll-03_feature" data-ratevent="appear">特長</h2>

        <ul class="product-detail-Catch <%= namespace %>_Catch">
          <li><a href="#feature1" class="js-scroll" data-ratevent="click" data-ratparam="all" data-ratid="reno5-a_feature-anchor-01">動画も充実した4眼カメラ</a></li>
          <li><a href="#feature2" class="js-scroll" data-ratparam="all" data-ratid="reno5-a_feature-anchor-02">5Gでの動画視聴もゲームも余裕</a></li>
          <li><a href="#feature3" class="js-scroll" data-ratparam="all" data-ratid="reno5-a_feature-anchor-03">おサイフケータイ®+防水防塵</a></li>
        </ul>

        <section class="product-detail-Feature" id="feature1">
          <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/main-image-01.png" alt=""></figure>
          <h3 class="c-Heading_Lv3">ワンランク上の6,400万画素メインカメラ。 写真と動画のいろいろな撮影機能も充実</h3>
          <p class="product-detail-Feature_Txt">超広角カメラを含む4種類のカメラを搭載。さらに動画の手ブレを軽減して安定した動画に。写真も動画も、美しく撮影できる機能が 充実。日常の様々なシーンで大活躍します。</p>
        </section>
        <section class="product-detail-Feature" id="feature2">
        <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/main-image-02.png" alt=""></figure>
          <h3 class="c-Heading_Lv3">大画面＋5Gで動画やゲームもストレスフリー。ハイパフォーマンスチップセット搭載</h3>
          <p class="product-detail-Feature_Txt">反応速度が速く色鮮やかなディスプレイです。大画面でゲームも動画 も、お好きなコンテンツをたくさんお楽しみいただけます。5G※に対応したチップセットで処理性能も優れもの。</p>
          <ul class="c-Txt_Cap u-Adjust_Mt-16">
            <li style="color: #676767;"><span>※</span>5G通信はdocomo/au/SoftBank/Y!mobile/Rakutenのsub6に対応。(2021年6月現在、自社での検証結果に基づきます)5G対応バンドはn3/n28/n77/n78となります。</li>
            <li style="color: #676767;"><span>※</span>5G通信は対応エリアでご利用可能です。</li>
          </ul>
        </section>
        <section class="product-detail-Feature" id="feature3">
        <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/main-image-03.png" alt=""></figure>
          <h3 class="c-Heading_Lv3">急速充電＋おサイフケータイ®で便利・快適。 安心して使える防水・防塵と指紋認証</h3>
          <p class="product-detail-Feature_Txt">うれしい急速充電に対応。大容量4,000mAhを30分で約41%※ 充電します。毎日便利なおサイフケータイ®を搭載。さらに最高等級の防水・防塵なので、安心です。</p>
          <ul class="c-Txt_Cap u-Adjust_Mt-16">
            <li style="color: #676767;"><span>※</span>充電器は同梱されていません。急速充電は対応充電器が必要になります。</li>
          </ul>
        </section>
      </section>

      <div class="product-detail-Layout_Sub <%= namespace %>_Sub">
        <div class="l-System_Container">
          <section class="product-detail-Layout_Section">
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-01.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4" data-ratid="reno5-a_scroll-04_feature" data-ratevent="appear">ネオンポートレート</h3>
                <p>夜の街中での撮影が一気にロマンチックに。光が玉のようにボケて、 人物も綺麗に撮影します。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-02.png?220331" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">マクロカメラ</h3>
                <p>被写体に4cmまで近づいてもしっかりピントが合います。距離感が変わると、いつもと違った撮影体験が楽しめます。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-07.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">超高解像度モード</h3>
                <p>1億800万相当の画素数で撮影可能。遠くの景色などを細部までよりクリアに撮りたい時におすすめです。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-08.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">超広角カメラ</h3>
                <p>画角119°で広々とダイナミックでありながら、ゆがみの少ない仕上がりに。景色や大人数の撮影がより一層楽しめます。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-09.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">夜景を綺麗に明るく</h3>
                <p>ウルトラナイトモードが簡単にノイズの少ない夜景に。さらに三脚モードで光を長く取り込むとプロっぽい撮影ができます。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-10.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">AIビューティー</h3>
                <p>起動すると年齢、性別などに応じて自動補正。肌や目鼻などパーツ別に補正強度を調整することもできます。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-03.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">アウト/イン同時動画撮影</h3>
                <p>アウトカメラとインカメラで同時に動画撮影できます。お互いの様子が一緒に楽しめる機能です。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-04.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">AIハイライトビデオ</h3>
                <p>逆光や暗い場面で撮影する際、明るさのバランスを全体調整して簡 単に素敵な動画にします。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-11.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">安定した手ブレ補正</h3>
                <p>アウトカメラもインカメラも手ブレ補正が動画の揺れを軽減させます。お子様やペットの撮影にも最適です。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-05.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">高性能CPU搭載</h3>
                <p>Qualcomm® Snapdragon™ 765Gに加えて、6GB RAMと128GB大容量ストレージを搭載。処理速度の高速化と低消費電力の両立を実現。複数アプリの起動も、たくさんの写真や動画も、存分に楽しめます。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-06.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">おサイフケータイ®・防水防塵</h3>
                <p>駅の改札やお買いものはスマートフォンをかざすだけ。IP68等級の 防水防塵対応で毎日安心して使えます。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-12.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">指紋で情報を保護</h3>
                <p>顔認証と背面指紋認証で端末のロック解除が可能です。精度が高くスピーディーに反応します。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-13.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">ColorOS 11</h3>
                <p>Android™ 11をベースとし、ユーザー目線で便利機能を追加したのがOPPOのColorOS 11。初めてOPPOのスマートフォンを使う方でも様々な機能を簡単にお使いいただけます。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-14.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">スクリーンショット</h3>
                <p>3本指で画面を上からなぞるだけ。縦長のWEBページも1枚の画像に。さらに画像内の文字をお好きな言語に翻訳する新機能も。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-15.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">キッズスペース</h3>
                <p>お子さまにスマホを渡す際、使用時間やアプリなど様々な制限の設定が可能。お子さまの誤操作を防ぐことができます。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-16.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">シンプルモード</h3>
                <p>アプリアイコンやフォントサイズが最大になり、操作がしやすくなります。スマホ初心者の方にもピッタリです。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-17.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">2つのアプリを同時起動</h3>
                <p>同時に2つのアプリを立ち上げられます。マルチタスクをサポートします。</p>
              </div>
            </section>
          </section>
        </div>
      </div>


<div class="product-detail-Layout_Sub <%= namespace %>_Sub">
  <div class="l-System_Container">
    <h3 class="c-Heading_Lv3 u-Adjust_Mt-24" data-ratid="reno5-a_scroll-05_feature" data-ratevent="appear">OPPOとは</h3>
    <section class="product-detail-Layout_Section">
      <section class="product-detail-Feature_Sub u-Adjust_Mt-0">
        <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-18.png" alt=""></figure>
        <div class="product-detail-Feature_Txt">
          <h3 class="c-Heading_Lv4">グローバルなスマホブランド</h3>
          <p>OPPOは海外市場の開拓を続けており、現在は50以上の国と地域の市場をカバーしています。IDCの調査で世界スマートフォン市場シェア第4位<span class="c-Txt_Cap">※1</span>にランクインしました。</p>
          <p class="u-Adjust_Mt-16 c-Txt_Cap">※1 出典：IDC Quarterly Mobile Phone Tracker, Q2 2022/IDC declares a statistical tie in the worldwide smartphone market when there is a difference of 0.1% or less in the share of revenues or shipments among two or more vendors.</p>
        </div>
      </section>
      <section class="product-detail-Feature_Sub">
        <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-20.png" alt=""></figure>
        <div class="product-detail-Feature_Txt">
          <h3 class="c-Heading_Lv4">世界中で信頼されています</h3>
          <p>技術に裏打ちされた高い品質が支持され、世界中で5億人以上の人々が使用しています。<span class="c-Txt_Cap">※2</span></p>
          <p class="u-Adjust_Mt-16 c-Txt_Cap">※2 OPPOリサーチセンター調べ 2022年1月時点</p>
        </div>
      </section>
      <section class="product-detail-Feature_Sub">
        <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-23.png" alt=""></figure>
        <div class="product-detail-Feature_Txt">
          <h3 class="c-Heading_Lv4">徹底された品質管理</h3>
          <p>最高のユーザー体験を提供するため、OPPOがこれまでの知識と経験で積み上げた数多くの品質検査項目を実行しています。</p>
        </div>
      </section>
      <section class="product-detail-Feature_Sub">
        <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-22.png" alt=""></figure>
        <div class="product-detail-Feature_Txt">
          <h3 class="c-Heading_Lv4">総出願件数80,000件以上<span class="c-Txt_Cap">※3</span></h3>
          <p>2021年、国際特許出願件数（PCT制度）で企業別6位<span class="c-Txt_Cap">※4</span>にランクインしました。</p>
          <p class="u-Adjust_Mt-16 c-Txt_Cap">
            ※3 OPPOリサーチセンター調べ 2022年6月時点<br>
            ※4 世界知的所有権機関(WIPO)の2021年特許協力条約に基づく国際特許出願レポートによる
          </p>
        </div>
      </section>
    </section>
  </div>
</div>


</div>
</div>

<div class="product-detail-Layout_Other">
  <div class="l-System_Container">

    <%- include('/include/product/_compensation') %>

    <section class="product-detail-Layout_Section" id="spec">
      <h2 class="c-Heading_Lv2" data-ratid="reno5-a_scroll-06_spec" data-ratevent="appear">スペック</h2>
      <dl class="c-Dl">
        <div>
          <dt>製品名</dt>
          <dd>
            OPPO Reno5 A
          </dd>
        </div>
        <div>
          <dt>色</dt>
          <dd>
            アイスブルー / シルバーブラック
          </dd>
        </div>
        <div>
          <dt>サイズ</dt>
          <dd>
            約162 x 約74.6 x 約8.2 (mm)
          </dd>
        </div>
        <div>
          <dt>質量</dt>
          <dd>
            約182g
          </dd>
        </div>
        <div>
          <dt>ディスプレイ</dt>
          <dd>
            <p>サイズ / 種類</p>
              約6.5インチ / TFT
              <p class="u-Adjust_Mt-16">解像度</p>
              FHD+ / 2,400 × 1,080
          </dd>
        </div>
        <div>
          <dt>連続待受時間（LTE）</dt>
          <dd>
            約350時間
          </dd>
        </div>
        <div>
          <dt>連続通話（通信）時間（LTE）</dt>
          <dd>
            約24時間
          </dd>
        </div>
        <div>
          <dt>CPU</dt>
          <dd>
            Qualcomm® Snapdragon™ 765G / オクタコア 2.4GHz + 2.2GHz + 1.8GHz
          </dd>
        </div>
        <div>
          <dt>OS※1</dt>
          <dd>
            ColorOS 11 based on Android™ 11
          </dd>
        </div>
        <div>
          <dt>内部メモリ（RAM / ROM）</dt>
          <dd>
            6GB (RAM) / 128GB (ROM)
          </dd>
        </div>
        <div>
          <dt>メインカメラ（外側）</dt>
          <dd>
            約6,400万画素 (メイン) + 約800万画素 (超広角) + 約200万画素 (マクロ) + 約200万画素 (モノクロ)
          </dd>
        </div>
        <div>
          <dt>フロントカメラ（内側）</dt>
          <dd>
            約1,600万画素
          </dd>
        </div>
        <div>
          <dt>バッテリー容量</dt>
          <dd>
            約4,000mAh
          </dd>
        </div>
        <div>
          <dt>ワイヤレス充電</dt>
          <dd>
            非対応
          </dd>
        </div>
        <div>
          <dt>おサイフケータイ / NFC</dt>
          <dd>
            対応 / 対応
          </dd>
        </div>
        <div>
          <dt>防水 / 防塵</dt>
          <dd>
            対応 (IPX8 / IP6X)
          </dd>
        </div>
        <div>
          <dt>生体認証（指紋 / 顔）</dt>
          <dd>
            対応 / 対応
          </dd>
        </div>
        <div>
          <dt>VoLTE（Rakuten, docomo, au, SoftBank）</dt>
          <dd>
            対応 / 対応 / 対応 / 非対応
          </dd>
        </div>
        <div>
          <dt>Wi-Fi規格</dt>
          <dd>
            IEEE802.11 a/b/g/n/ac
          </dd>
        </div>
        <div>
          <dt>テザリング（Wi-Fi）</dt>
          <dd>
            10台
          </dd>
        </div>
        <div>
          <dt>SIMタイプ</dt>
          <dd>
            nanoSIM x 2 / eSIM<span class="c-Txt_Cap">※2</span><br>
            (デュアルSIMでのご利用は、nanoSIM x 2 または nanoSIM/eSIM でご利用可能です)
          </dd>
        </div>
        <div>
          <dt>付属品</dt>
          <dd>
            保護ケース×1 / 保護フィルム（貼付済み）×1 / クイックガイド×1  / 安全ガイド×1 / SIMカード取出し用ピン×1
          </dd>
        </div>
      </dl>

      <ul class="c-Txt_Cap u-Adjust_Mt-16">
        <li><span>※1</span>発売時点のOSのバージョンを記載しています。最新のOSバージョン情報は<a href="<%= sitepath %>information/software/reno5-a/" class="c-Link_Txt">こちら</a>をご確認ください。</li>
        <li><span>※2</span>nanoSIM×2の場合 microSDカードの利用はできません。</li>
      </ul>

      <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>product/smartphone/<%= directory %>/spec.html?l-id=product_reno5-a_spec_reno5-a " class="c-Link_Txt-inline">スペック詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>


    </section>

    <section class="product-detail-Layout_Section">
      <h2 class="c-Heading_Lv2">設定・サポート</h2>
      <div>
        <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/inquiry/?l-id=product_reno5-a_guide_inquiry" class="c-Link_Txt-inline">メーカーへのお問い合わせ<span class="c-Icon_Chevron-right"></span></a></p>
      </div>
    </section>

    <div id="previously-seen"></div>
  </div>
  <div class="u-Adjust_Mt-40">
    <%- include('/include/product/_support') %>
  </div>
</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-product-v2.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>

  <div class="l-System_Container">
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>
</div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/product/_category-js') %>
<%- include('/include/product/_history-js') %>
<%- include('/include/_append-body') %>
</div>

<script src="<%= sitepath %>assets/js/product.reno5-a.bundle.js?20240521"></script>
</body>
</html>
