<% const pagetitle = "初期契約解除について" -%>
<% const directories = [{path:"internet/turbo/support/", label:"お客様サポート"}, {path:"internet/turbo/support/contract/", label:"契約内容・お手続き"}] -%>
<% const namespace = "support-smallcategory" -%>
<%
  const pageInfo = {
    namespace,
    isUserCategory: true
  };
%>
<%-
 include('/_header', {
    pagetitle,
    directories,
    description: '楽天モバイルのホームルーターRakuten Turboをご契約中の方が、初期契約解除をご希望の場合に必要なお手続きについてご確認いただけます',
    noindex: false,
    pathname: filepath,
    isTurbo: true
  });
%>

<%- include('/include/_common-css-v2') %>
<%- include('/include/internet/turbo/support/_smallcategory-css') %>
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/internet/turbo/_prepend-body-internet') %>
  <div class="l-System">
    <%- include('/include/internet/turbo/_header', {
      pagetitle,
      directories,
      tax: false,
    }) %>

    <div class="l-System_Container">
      <section class="u-Adjust_Mt-32">
        <h1 class="c-Heading_Lv1 <%= namespace %>-Utility_Heading_Lv1"><%= pagetitle %></h1>
        <p class="u-Adjust_Mt-24">初期契約解除は、起算日（お申し込み時の「ご契約内容の通知方法」による）から8日間、書面により契約回線の解除を行うことができるものです。</p>
      </section>

      <section class="u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">注意事項</h2>
        <ul class="u-Adjust_Mt-16 c-List_Text-disc-emp <%= namespace %>-List_Basic">
          <li class="c-Txt_Emp-02">初期契約解除を行った場合でも、契約履歴は残ります。再度ご契約いただいた場合、1回線目だけに適用されるキャンペーンや、1度だけ適用されるキャンペーンなどは適用されません。</li>
          <li class="c-Txt_Emp-02">初期契約解除の対象は、回線の契約を含むSIMのみで、製品および付属品は初期契約解除の対象外です。SIMカード、製品および付属品等一切のご返却は不要です。付属品に関する詳細は、「取扱説明書」をご確認ください。</li>
        </ul>
        <ul class="u-Adjust_Mt-16 c-List_Text-disc <%= namespace %>-List_Basic">
          <li>書面の切手代金は、お客様にご負担いただきます。</li>
          <li>弊社が初期契約解除制度について不実のことを告げたことによりお客様が告げられた内容が事実であるとの誤認をし、これによって8日間を経過するまでに契約を解除しなかった場合、ご契約を解除することができる旨を記載して交付した書面を受領した日から起算して8日を経過するまでの間であれば、書面により、契約を解除することができます。</li>
          <li>
            製造番号（IMEI）は、パッケージ（箱）側面に貼り付けられているラベル、または製品底面のラベルからご確認いただけます。また、my 楽天モバイルからもご確認いただけます。詳しくは製造番号（IMEI）の確認方法をご確認ください。<br>
            <a href="<%= sitepath %>internet/turbo/support/contract/check-imei/" class="c-Link_Txt-inline u-Adjust_Mt-8" style="display: inline-block;">製造番号（IMEI）の確認方法を見る<span class="c-Icon_Chevron-right"></span></a>
          </li>
        </ul>

      </section>

      <section class="u-Adjust_Mt-64">
        <h2 id="anc01" class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">初期契約解除のお手続き</h2>
        <ol class="c-Flow u-Adjust_Mt-40">
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">1. 初期契約解除申請書に必要情報を記入する</h3>
            <p class="u-Adjust_Mt-16">以下のボタンより「初期契約解除申請書」をダウンロードし、印刷後、必要情報を記入してください。</p>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <a href="<%= sitepath %>assets/pdf/internet/turbo/rakuten_turbo_plan_cancellation.pdf" class="c-Btn_Secondly-large"><span>初期契約解除申請書ダウンロード<span class="c-Icon_Pdf-l c-Btn_Icon-end"></span></span></a>
            </p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">2．初期契約解除申請書を郵送する</h3>
            <p class="u-Adjust_Mt-16">ご記入いただいた初期契約解除申請書を、下記住所へご送付ください。</p>
            <div class="u-Adjust_Mt-16">
              〒213-0012<br>
              神奈川県川崎市高津区坂戸3丁目2-1<br>
              かながわサイエンスパーク R&DビジネスパークビルA棟７F 東<br>
              楽天モバイル オペレーションセンター
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">3．解約完了のメールのお届け</h3>
            <p class="u-Adjust_Mt-16">
              初期契約解除申請書の書類に不備がない場合は、解約後、解約完了のメールを送信いたします。<br>
              「解約完了のお知らせ」メールをもって、解約手続き完了とさせていただきます。</p>
          </li>
        </ol>
        <p class="u-Adjust_Mt-64">以上で完了です。</p>
      </section>
    </div>

    <section class="u-Adjust_Pt-80">
      <div class="<%= namespace %>-Layout_Category">
        <div class="l-System_Container">
          <%- include('/include/internet/turbo/support/_smallcategory-category', { pageInfo }) %>
        </div>
      </div>
    </section>

    <div class="u-Adjust_Mt-24">
      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
      <%- include('/include/internet/turbo/_footer', { directories, pagetitle }) %>
    </div>
  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/internet/turbo/support/_smallcategory-js') %>
  <%- include('/include/_append-body') %>
  <%- include('/include/internet/turbo/_rex-survey') %>

</body>

</html>
