<% const pagetitle = '楽天モバイル紹介キャンペーン！紹介された方に10,000ポイントプレゼント' -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "japanpost-referral-application" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '楽天モバイルご契約者様からの紹介で申し込むと10,000ポイントを進呈するキャンペーンです。',
  noindex: true,
  pathname: filepath
});
%><%- include('/include/_common-css-v2') %>
<%- include('/inc/_about-rakuten-mobile-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/japanpost/referral-application/japanpost-referral-application.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
  <%- include('/include/_prepend-body') %>

  <div class="l-System">
    <%- include('/include/_header') %>
    <%- include('/include/_breadcrumbs', {
      type: 'head',
      pagetitle,
      directories,
    }) %>

    <div class="<%= namespace %>-Layout_Label">
      <ul class="c-Label_List">
        <li class="c-Label_Normal">プランのみ申込可</li>
      </ul>
      <p class="<%= namespace %>-Layout_Label-point">ポイント：進呈日を含めて6カ月の期間限定ポイント</p>
    </div>

    <section class="<%= namespace %>-Hero">
      <div class="<%= namespace %>-Hero_Main">
        <h1>
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/japanpost/referral-application/kv-sp.png" width="750" height="540">
            <img src="<%= sitepath %>assets/img/campaign/japanpost/referral-application/kv-pc.png" alt="日本郵政グループ従業員様・ご家族様限定 楽天モバイル紹介キャンペーン 初めて本キャンペーンからのお申し込みで10,000円相当ポイントプレゼント！" width="1440" height="321">
          </picture>
        </h1>
      </div>
      <div class="<%= namespace %>-Util_Bg-gray <%= namespace %>-Hero_Bottom">
        <div class="l-System_Container">
          <div class="u-Adjust_Align-center u-Adjust_Mt-24">
            <p class="c-Txt_Emp-02 c-Heading_Lv4">
              本キャンペーンは2023年12月28日23時59分をもちまして終了いたしました。<br>
              このページに掲載されている情報は、キャンペーン終了時点のものです。<br>
              ※キャンペーン終了後のご紹介は無効となりますのでご留意ください。<br>
            </p>
          </div>

          <p class="u-Adjust_Align-center u-Adjust_Mt-24"><span class="c-Txt_Emp-01">【キャンペーン期間】</span> 2023年8月10日（木）9:00～2023年12月28日（木）23:59</p>
          <div class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-left">
            <ul class="c-Txt_Cap">
              <li class="c-Txt_Emp-02">※日本郵政グループ従業員様・ご家族様がお申し込みをされる場合は<a href="<%= sitepath %>campaign/japanpost/byod/?l-id=campaign_japanpost_referral-application_campaign_japanpost_byod" class="c-Link_Txt">「【日本郵政グループ従業員様・ご家族様限定】Rakuten最強プランのお申し込みで、20,000ポイントプレゼントキャンペーン（1992）」</a>をご利用ください</li>
              <li class="c-Txt_Emp-02">※「Rakuten最強プラン（データタイプ）」は対象外です</li>
              <li>※ポイントは期間限定ポイントとして進呈いたします</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <div class="l-System_Container">
      <div class="c-Accordion u-Adjust_Mt-32 u-Adjust_Mt-pc-24">
        <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
          Webでお申し込みの場合、本ページの「お申し込みはこちら」ボタンよりお手続きください
        </button>
        <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
          <ul class="c-Txt_Cap">
            <li>・Webでお申し込みの場合、本ページ以外からお手続きされた場合は特典適用対象外となります。</li>
            <li>・ショップでお申し込みの場合、お申し込み手続き前に、店舗スタッフに本ページのクーポンコードを提示してください。お申し込み後のご提示は特典適用対象外となります。</li>
            <li>・「お申し込み内容」画面でクーポンコード14桁の英数字が表示されていることをご確認のうえ、お申し込みを完了してください。表示されていない場合は特典適用対象外となるため、再度本ページの「お申し込みはこちら」ボタンよりお申し込みをやり直してください。</li>
          </ul>
        </div>
      </div>
    </div>

    <section class="<%= namespace %>-Cta">
      <div class="l-System_Container u-Adjust_Mt-32 u-Adjust_Mt-pc-24">
        <div class="<%= namespace %>-Cta_Box">
          <p class="u-Adjust_Align-center c-Txt_Emp-01">クーポンコード：JPRFRL00000002</p>
          <ul class="<%= namespace %>-List_Btn <%= namespace %>-Cta_Btn u-Adjust_Mt-16">
            <li>
              <a class="c-Btn_Primary-large" aria-disabled="true" disabled><span>お申し込みはこちら</span></a>
            </li>
            <li>
              <a href="<%= sitepath %>shop/?l-id=campaign_japanpost_referral-application_shop_top" class="c-Btn_Secondly-large"><span>お近くのショップを探す</span></a>
            </li>
          </ul>
          <ul class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">
            <li>※ショップでのお申し込みの場合は、本キャンペーンを適用する旨をご申告の上、お申し込み画面にてお客様自身でクーポンコード「JPRFRL00000002」を入力してください</li>
            <li>※クーポンコードが正しく入力できていない場合、本キャンペーンは適用対象外となります</li>
          </ul>
        </div>
      </div>
    </section>

    <div class="l-System_Container u-Adjust_Pb-48">
      <section class="u-Adjust_Mt-56">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">お申し込み時の注意点</h2>
        <p class="u-Adjust_Mt-32 u-Adjust_Mt-sp-24 u-Align_Llc">
          <span class="c-Txt_Emp-02">ポイントを獲得するには、「お申し込みはこちら」ボタンからのお手続きが必要となります。</span><br>
          <span class="c-Txt_Emp-01">「お申し込み内容」画面であらかじめクーポンコードが表示されていることをご確認のうえ、お申し込みを完了してください。</span>
        </p>

        <div class="<%= namespace %>-List_Column-3-wrap990 u-Adjust_Mt-32 u-Adjust_Mt-sp-24">
          <ul class="<%= namespace %>-List_Column-3-arrow">
            <li><img src="<%= sitepath %>assets/img/campaign/japanpost/referral-application/img-01.png" width="291" height="143" alt=""></li>
            <li><img src="<%= sitepath %>assets/img/campaign/japanpost/referral-application/img-02.png" width="291" height="143" alt=""></li>
            <li><img src="<%= sitepath %>assets/img/campaign/japanpost/referral-application/img-03.png" width="291" height="143" alt=""></li>
          </ul>
        </div>

        <p class="c-Txt_Cap u-Adjust_Mt-16 u-Adjust_Mt-sp-24 c-Txt_Emp-02 u-Align_Llc c-Txt_Weight-normal">
          ※本ページの「お申し込みはこちら」ボタン以外からお手続きされた場合には特典適用対象外となります。
        </p>

        <div class="c-Accordion u-Adjust_Mt-32 u-Adjust_Mt-sp-24">
          <button type="button" id="accordion-001" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-001"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
            お申し込み画面で以下の状況が発生した場合、再度「お申し込みはこちら」ボタンからお申し込みをやり直してください。
          </button>
          <div id="accordion-content-001" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-001" aria-hidden="true">
            <ul class="<%= namespace %>-List_Column-3 u-Adjust_Align-center">
              <li>
                <img src="<%= sitepath %>assets/img/campaign/japanpost/referral-application/img-04.png" width="291" height="143" alt="" loading="lazy">
                <p class="u-Adjust_Mt-16 <%= namespace %>-Util_Font-m c-Txt_Emp-01">お申し込み内容にクーポンコードが<br>表示されていない場合</p>
              </li>
              <li>
                <img src="<%= sitepath %>assets/img/campaign/japanpost/referral-application/img-05.png" width="291" height="143" alt="" loading="lazy">
                <p class="u-Adjust_Mt-16 <%= namespace %>-Util_Font-m c-Txt_Emp-01">システムメンテナンスの<br>お知らせが表示された場合</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※メンテナンス終了後に<br>お申し込みください</p>
              </li>
              <li>
                <img src="<%= sitepath %>assets/img/campaign/japanpost/referral-application/img-06.png" width="291" height="143" alt="" loading="lazy">
                <p class="u-Adjust_Mt-16 <%= namespace %>-Util_Font-m c-Txt_Emp-01">タイムアウトが表示された場合</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="c-Accordion">
          <button type="button" id="accordion-002" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-002"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
            楽天モバイル（ドコモ回線・au回線）をご利用中の方も本キャンペーンにご参加いただけますが、こちらもご確認ください。
          </button>
          <div id="accordion-content-002" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-002" aria-hidden="true">
            <ol class="<%= namespace %>-List_Ol">
              <li>
                <span>（1）</span>
                <p>
                  メンバーズステーション経由のプラン変更（移行）は本キャンペーンの適用対象となりません。<br>
                  <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_japanpost_referral-application_ms&mno_migration=1" class="c-Link_Txt">メンバーズステーション</a>にてMNP予約番号を発行のうえ、本ページからお申し込みください。
                </p>
              </li>
              <li>
                <span>（2）</span>
                <div>
                  <p>下記に当てはまる方はメンバーズステーション経由のプラン変更（移行）をご検討ください。</p>
                  <p class="u-Adjust_Mt-8">
                    <span class="c-Txt_Emp-01">オプションサービスを引き継ぎたい場合</span><br>
                    本ページからお申し込みした場合、オプションサービスはすべて解約となります。
                  </p>
                </div>
              </li>
            </ol>
            <p class="u-Adjust_Mt-16">
              上記（1）（2）は通話SIMご利用の方の注意点となります。データSIMご利用中の方は、メンバーズステーション経由のプラン移行（変更）はできないため、本キャンペーンより新規でお申し込みください。
            </p>
          </div>
        </div>
      </section>
    </div>

    <section class="<%= namespace %>-Section_Adjust <%= namespace %>-Step <%= namespace %>-Util_Bg-gray">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンの流れ</h2>
        <ol class="<%= namespace %>-Step_Accordion u-Adjust_Mt-8">

          <li class="<%= namespace %>-Accordion_Card c-Accordion">
            <button type="button" id="accordion-step-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-step-1" data-ratId="campaign_japanpost_referral-application_accordion-step1_01" data-ratevent="click" data-ratparam="all">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
              <span class="<%= namespace %>-Accordion_Label">
                <span class="<%= namespace %>-Accordion_Label-step">STEP 1</span>
                <span>楽天モバイルのお申し込み</span>
              </span>
            </button>
            <div id="accordion-content-step-1" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Card-panel" role="region" aria-labelledby="accordion-step-1" aria-hidden="true">
              <div class="c-Tab js-Tab">
                <ul class="c-Tab_Items" role="tablist">
                  <li class="c-Tab_Item" id="tab-menu1-1" role="tab" aria-selected="true" aria-controls="tab-content1-1" data-ratId="campaign_japanpost_referral-application_tab_application_web_01 " data-ratevent="click" data-ratparam="all">Web</li>
                  <li class="c-Tab_Item" id="tab-menu1-2" role="tab" aria-selected="false" aria-controls="tab-content1-2" data-ratId="campaign_japanpost_referral-application_tab_application_shop_01" data-ratevent="click" data-ratparam="all">ショップ</li>
                </ul>
                <div class="c-Tab_Panel" id="tab-content1-1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1-1">
                  <div class="c-Theme-Borderbox u-Adjust_Mt-24">
                    <div class="l-Media_Grid">
                      <div class="l-Media_Image">
                        <img src="<%= sitepath %>assets/img/campaign/japanpost/referral-application/img-point-02.png" width="285" height="169" alt="" loading="lazy">
                      </div>
                      <div>
                        <h3 class="c-Heading_Lv4">お申し込みに必要なもの</h3>
                        <ul class="c-List_Text-disc <%= namespace %>-List_Narrow u-Adjust_Mt-8">
                          <li>
                            <a href="<%= sitepath %>guide/verify/?l-id=campaign_japanpost_referral-application_guide_verify_01" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a>
                          </li>
                          <li>
                            楽天会員ID、パスワード
                          </li>
                          <li>
                            <a href="<%= sitepath %>guide/payment/?l-id=campaign_japanpost_referral-application_guide_payment_01" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                          </li>
                        </ul>
                        <ul class="c-Txt_Cap u-Adjust_Mt-8">
                          <li>※未成年の方のお申し込み方法は<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_japanpost_referral-application_flow_for-minors" class="c-Link_Txt">こちら</a></li>
                          <li>※MNPワンストップ未対応の携帯電話会社から乗り換えの方は、MNP予約番号の取得が必要です。MNPワンストップ対象の携帯電話会社は<a href="<%= sitepath %>guide/mnp/#career" class="c-Link_Txt">こちら</a>からご確認ください。</li>
                          <li>※ショップでのお手続きは、ワンストップ対象の他社からの転入であっても、MNP予約番号を取得のうえ、ご来店ください。</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="<%= namespace %>-Grid_2col u-Adjust_Mt-24">
                    <div class="c-Theme-Borderbox">
                      <h4 class="c-Heading_Lv4 <%= namespace %>-Heading_Icon-front"><span class="c-Icon_New-user-f"></span>新規電話番号／他社から乗り換え（MNP）</h4>
                      <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                        <a class="c-Btn_Primary-large" aria-disabled="true" disabled><span>お申し込みはこちら</span></a>
                      </div>
                      <div class="u-Adjust_Align-center">
                        <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>fee/saikyo-plan/?l-id=campaign_japanpost_referral-application_fee_saikyo-plan" class="c-Link_Txt-inline">Rakuten最強プランの詳細<span class="c-Icon_Chevron-right"></span></a></p>
                        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/flow/application/?l-id=campaign_japanpost_referral-application_guide_flow_application" class="c-Link_Txt-inline">Rakuten最強プランのお申し込み方法<span class="c-Icon_Chevron-right"></span></a></p>
                      </div>
                    </div>
                    <div class="c-Theme-Borderbox">
                      <h4 class="c-Heading_Lv4 <%= namespace %>-Heading_Icon-front"><span class="c-Icon_Paper-plane-l"></span>楽天モバイル（ドコモ・au回線）からプラン変更（移行）</h4>
                      <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                        <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_japanpost_referral-application_ms1&mno_migration=1" class="c-Btn_Secondly-large">
                          <span>メンバーズステーションから<br class="u-Show_Xxo">MNP予約番号を発行する</span>
                        </a>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="c-Tab_Panel" id="tab-content1-2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu1-2">
                  <div class="l-Media_Grid u-Adjust_Mt-24">
                    <div class="l-Media_Image">
                      <img src="<%= sitepath %>assets/img/campaign/japanpost/referral-application/img-point-01.png" width="303" height="138" alt="" loading="lazy">
                    </div>
                    <div>
                      <a href="<%= sitepath %>shop/?l-id=campaign_japanpost_referral-application_shop_01" class="c-Btn_Regular"><span>お近くのショップを探す</span></a>
                      <ul class="u-Adjust_Mt-16 c-Txt_Cap c-Txt_Emp-02">
                        <li>※ショップでのお申し込みの場合は、本キャンペーンを適用する旨をご申告の上、お申し込み画面にてお客様自身でクーポンコード「JPRFRL00000002」を入力してください</li>
                        <li>※クーポンコードが正しく入力できていない場合、本キャンペーンは適用対象外となります</li>
                      </ul>
                    </div>
                  </div>
                  <div class="c-Theme-Borderbox u-Adjust_Mt-24">
                    <div class="l-Media_Grid">
                      <div class="l-Media_Image">
                        <img src="<%= sitepath %>assets/img/campaign/japanpost/referral-application/img-point-02.png?210618" width="285" height="169" alt="" loading="lazy">
                      </div>
                      <div>
                        <h3 class="c-Heading_Lv4">お申し込みに必要なもの</h3>
                        <ul class="c-List_Text-disc <%= namespace %>-List_Narrow u-Adjust_Mt-8">
                          <li>
                            <a href="<%= sitepath %>guide/verify/?l-id=campaign_japanpost_referral-application_guide_verify_shop_02" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a>
                          </li>
                          <li>
                            楽天会員ID、パスワード
                          </li>
                          <li>
                            <a href="<%= sitepath %>guide/payment/?l-id=campaign_japanpost_referral-application_guide_payment_shop_02" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                          </li>
                        </ul>
                        <ul class="c-Txt_Cap u-Adjust_Mt-8">
                          <li>※未成年の方のお申し込み方法は<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_japanpost_referral-application_flow_for-minors_shop_02" class="c-Link_Txt">こちら</a></li>
                          <li>※ショップでのお手続きは、ワンストップ対象の他社からの転入であっても、MNP予約番号を取得のうえ、ご来店ください。</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="<%= namespace %>-Accordion_Card c-Accordion">
            <button type="button" id="accordion-step-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-step-2" data-ratId="campaign_referral-application_accordion-step2_01" data-ratevent="click" data-ratparam="all">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
              <span class="<%= namespace %>-Accordion_Label">
                <span class="<%= namespace %>-Accordion_Label-step">STEP 2</span>
                <span>「Rakuten最強プラン」利用開始</span>
              </span>
            </button>
            <div id="accordion-content-step-2" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Card-panel" role="region" aria-labelledby="accordion-step-2" aria-hidden="true">
              <div class="l-Media_Grid">
                <div class="l-Media_Image">
                  <img src="<%= sitepath %>assets/img/campaign/japanpost/referral-application/img-illust-01.png" width="304" height="136" alt="" loading="lazy">
                </div>
                <div>
                  <p><span class="c-Txt_Emp-01">期限：紹介メッセージ経由でのログイン日の翌々月末日23:59まで</span></p>
                  <div class="u-Adjust_Mt-24">
                    <a href="<%= sitepath %>faq/detail/00001648/?l-id=campaign_japanpost_referral-application_faq_detail_00001648" class="c-Btn_Regular"><span>プラン利用開始手順</span></a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="c-Theme-Borderbox <%= namespace %>-Util_Bg-white">
            <div class="l-Media_Grid-reverse">
              <div>
                <h4 class="<%= namespace %>-Heading_Referral">
                  紹介された方に<br class="u-Show_Oox"><span class="c-Txt_Emp-02"><em class="<%= namespace %>-Txt_Emp-num">10,000</em>ポイントプレゼント！</span>
                </h4>
                <p class="c-Txt_Cap u-Adjust_Mt-8">
                  ※プラン利用開始した月の翌々月末日頃に6か月間の期間限定ポイントとして進呈<br>
                  ※本キャンペーンの適用はおひとり様1回限り
                </p>
              </div>
              <div class="l-Media_Image">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/japanpost/referral-application/img-step-point.png" width="212" height="92">
                  <img src="<%= sitepath %>assets/img/campaign/japanpost/referral-application/img-step-point.png" width="304" height="110" alt="" loading="lazy">
                </picture>
              </div>
            </div>
          </li>
        </ol>
      </div>
    </section>

    <section class="<%= namespace %>-Section_Bnr">
      <div class="l-System_Container">
        <div class="<%= namespace %>-Bnr_Simulation">
          <div class="<%= namespace %>-Bnr_Head u-Adjust_Align-center u-Adjust_Pb-16 u-Adjust_Pt-48">
            <div class="<%= namespace %>-Bnr_Heading">
              <div class="<%= namespace %>-Bnr_Comment">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/japanpost/referral-application/bnr-simulation-comment-sp.png" width="480" height="128">
                  <img src="<%= sitepath %>assets/img/campaign/japanpost/referral-application/bnr-simulation-comment-pc.png" width="468" height="54" alt="楽天モバイルを使うとこんなにおトク！を伝えよう" loading="lazy">
                </picture>
              </div>
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/japanpost/referral-application/bnr-simulation-title-sp.png" width="620" height="216">
                <img src="<%= sitepath %>assets/img/campaign/japanpost/referral-application/bnr-simulation-title-pc.png" width="780" height="43" alt="家族やお友達がいくらおトクになるのかシミュレーション！" loading="lazy">
              </picture>
            </div>
          </div>
          <div class="<%= namespace %>-Bnr_Body u-Adjust_Align-center">
            <div class="<%= namespace %>-Bnr_Body-inner">
              <p>現在お使いのキャリアとプラン料金を比較できます。<br class="u-Show_Pc">料金シミュレーションでどれくらい節約できるのか今すぐチェック！</p>
              <div class="u-Show_Sp u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/campaign/japanpost/referral-application/bnr-simulation-img-sp.png" width="620" height="248" alt="プラン料金をシミュレーション" loading="lazy">
              </div>
              <a href="<%= sitepath %>fee/simulation/?l-id=campaign_japanpost_referral-application_fee_un-limit_simulation" class="c-Btn_Secondly-large <%= namespace %>-Bnr_Btn"><span>プラン料金をシミュレーションする</span></a>
            </div>
          </div>
        </div>
        <div class="<%= namespace %>-Bnr_Link">
          <div class="u-Show_Oox u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/campaign/japanpost/referral-application/bnr-link-1.png" width="109" height="114" alt="" loading="lazy">
          </div>
          <p class="<%= namespace %>-Bnr_Link-title u-Adjust_Align-center">Rakuten Linkアプリ利用で国内通話かけ放題！<span class="<%= namespace %>-Bnr_Link-annotation">※6</span></p>
          <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/japanpost/referral-application/bnr-link-2-sp.png" width="622" height="204">
              <img src="<%= sitepath %>assets/img/campaign/japanpost/referral-application/bnr-link-2-pc.png" width="925" height="202" alt="" loading="lazy">
            </picture>
          </div>
          <div class="u-Adjust_Mt-16 u-Adjust_Mt-pc-32 u-Adjust_Align-center">
            <a href="<%= sitepath %>service/rakuten-link/?l-id=campaign_japanpost_referral-application_service_rakuten-link" class="c-Btn_Regular-large <%= namespace %>-Bnr_Link-btn"><span>詳細を見る</span></a>
          </div>
          <p class="<%= namespace %>-Bnr_Link-annotation u-Adjust_Mt-16">
            ※（0570）などから始まる他社接続サービス、一部特番（188）への通話については、無料通話の対象外となります。OS標準の電話アプリを利用した場合、30秒22円</p>
        </div>
      </div>
    </section>

    <section class="u-Bg_Monotone97 <%= namespace %>-Section">
      <%- /* 楽天モバイルについて */ include('/inc/_about-rakuten-mobile', { baseLId: 'campaign_japanpost_referral-application' }) %>
    </section>

    <section id="campaign-rule" class="<%= namespace %>-Section <%= namespace %>-Util_Bg-gray">
      <div class="l-System_Container <%= namespace %>-Rule">
        <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1993', level: 'h2', year: '2023', class: '', comments: `<p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-16 u-Adjust_Align-center">本キャンペーンは2023年12月28日23時59分をもちまして終了いたしました。<br>このページに掲載されている情報は、キャンペーン終了時点のものです。</p>` }}) %>
      </div>
    </section>

    <footer class="g-Footer">
      <div class="l-System_Container">
        <%- include('/include/_breadcrumbs', {
          type: 'foot',
          pagetitle,
          directories,
        }) %>
      </div>
      <%- include('/include/_footer') %>
    </footer>

  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
</body>
</html>
