<% const pagetitle = "Galaxy A23 5G" -%>
<% const directory = "galaxy-a23-5g" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/smartphone/", label:"Android"}] -%>
<% const namespace = "product-galaxy-a23-5g" -%>
<%# const theme = "Dark" -%>
<% const theme = "Light" -%>
<% const point = 3000 -%>
<%# const pointModel = 2000 -%>
<%# const pointEntry = 5000 -%>
<%
/* insert Modal /*
/*
  ストア遷移 → 'bundle'
  在庫あり → 'stock'
  在庫切れ → 'soldout'
  入荷待ち → 'backorder'
  近くのショップをすすめる → 'recommend-shop'
*/
const bundleFlag = 'bundle';
const exid = 600602;
-%>
<%# price-detail.ejsファイルに変数の説明の記載があります -%>
<% const priceDetailConfig = {
  bundleFlag: bundleFlag,
  theme: theme,
  price: 26400,
  //priceBefore: 28600,
  // pointBackPriceModel: pointModel,
  pointBackPrice: point,
  // pointModelText: `<span>製品購入で<span class="product-detail-Price_Pointback-num">${pointModel.toLocaleString()}</span>ポイント<sub>※1</sub></span>`,
  pointBackTextA: `<span>楽天モバイルお申し込みで<br class="product-detail-Utility_Show-sp"><span class="product-detail-Price_Pointback-num">${point.toLocaleString()}</span>円相当のポイント還元<sub>※1,3</sub></span>`,
  // pointEntryText: `さらに、エントリー＆抽選で<span class="product-detail-Price_Pointback-num">2,000</span>ポイント<sub>※2</sub>`,
  division24: 1100,
  // division24Before: ,
  division48: 550,
  // division48Before: ,
  division48last: 550,
  tradeinProductName: 'Galaxy A22 5G',
  optionPattern: 'one-option',
  lid: directory,
  capacity: 64,
  maxTradeinPrice: 2160,
  pointAppealBtnCapNo: 4,
  addAnnotation:'*',
  carrier: 'docomo',
  // notificationEmail: 'true',
  // notificationEmailLink: '/product/reservation/reno7-a/'
  discountPrice: 6000,
  applyPoint: 0,
  firstTimeApplyPoint: 13000,
  mnp: false,
  anchorId: 'campaign-rule1526',
  trakingId: directory,
  exid: exid,
  year: 2023,
  month: 11,
  day: 28,
  // PriceBeforeUnnumberedAnnotationText: '楽天モバイルでの販売価格（販売期間：2023年12月6日～2024年1月16日）',
}
-%>
<% const tradeinUrl = sitepath + "service/tradein/?l-id=product_" + directory + "_cpn_02" -%>
<%-
 include('/_header', {
    pagetitle,
    directories,
    description: "Galaxy A23 5G（サムスン）の特長・スペックなどをご確認いただけます。楽天モバイル対応Android製品。オンライン簡単手続きが便利！",
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<%- include('/include/product/_category-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/inc/i-product-head.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/<%= directory %>/product-<%= directory %>.css?20240522">
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/smartphone/purchase-modal-drilldown.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/product/_history-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%
const modalInfo = [
  {
    question: {
      title: '色を選択',
      warning: '購入する製品の色を選択してください。',
      type: 'color',
      value: 'color',
      select: [
        {
          'id': 'black',
          'name': 'ブラック',
          'sub': '',
          'color': '#292B2E',
          'checked': false,
          'disabled': false,
        },
        {
          'id': 'green',
          'name': 'グリーン',
          'sub': '',
          'color': '#C8E6D7',
          'checked': false,
          'disabled': false,
        }
      ],
      upperinfo: ``,
      lowerinfo: ``
    },
  },
  {
    question: {
      title: 'SIMタイプ・プラン（Rakuten UN-LIMIT VI）を選択',
      warning: 'プランを選択してください。',
      type: 'radio',
      value: 'plan',
      select: [
        {
          'id': 'sim',
          'name': 'nanoSIM＋プランで申し込む',
          'sub': '',
          'checked': false,
          'disabled': false,
          'soldout' : '',
        },
        {
          'id': 'nosim',
          'name': 'プランを申し込まない（製品のみ購入）',
          'sub': '',
          'checked': false,
          'disabled': false,
          'soldout' : '',
        },
      ],
      upperinfo: ``,
      lowerinfo: `
        <p class="c-Txt_Cap">※製品のみ購入の場合、SIM購入（プラン選択）は不要です。</p>
      `
    }
  },
  {
    question: {
      title: 'スマホ交換保証プラスを選択',
      warning: 'スマホ交換保証プラスを選択してください。',
      type: 'radio',
      value: 'warranty',
      select: [
        {
          'id': 'warranty',
          'name': '申し込む：715円／月（税込）',
          'sub': '',
          'checked': true,
          'disabled': false,
          'soldout' : '',
        },
        {
          'id': 'nowarranty',
          'name': '申し込まない',
          'sub': '',
          'checked': false,
          'disabled': false,
          'soldout' : '',
        },
      ],
      upperinfo: `
        <p class="c-Txt_Emp-02">加入できるのは購入時のみ</p>
        <p class="u-Adjust_Mt-8">楽天モバイルで購入したスマートフォンやモバイルルーターの故障・紛失時に、最短で当日<sub>※</sub>に新品同等の同一機種を交換品としてお届けします。</p>
        <small>※対象地域：東京／神奈川／千葉／埼玉（12時までに受付の場合）</small>
        <p>サービスの詳細は、こちらの<a href="/service/replacement-warranty-plus/?l-id=product_reno7-a_cpn_01">スマホ交換保証プラス</a>をご参照ください。</p>
      `,
      lowerinfo: ``
    }
  }
]
%>

<%_ if (bundleFlag !== true) { _%>
<script>
const urlList = {
  'black_sim_warranty': '/',
  'black_sim_nowarranty': '/',
  'black_nosim_warranty': '/',
  'black_nosim_nowarranty': 'https://onboarding.mobile.rakuten.co.jp/equipment-details?exid=<%= exid %>&selectAvailable=true',
  'green_sim_warranty': '/',
  'green_sim_nowarranty': '/',
  'green_nosim_warranty': '/',
  'green_nosim_nowarranty': '/',
}
</script>
<%- include('/include/product/_purchase-modal', { modalInfo: modalInfo }) %>
<%_ } _%>

<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="u-Adjust_Pt-16 u-Adjust_Pr-16 u-Adjust_Pl-16 u-Adjust_Pb-16 l-System_Container u-Adjust_Align-center">
  <p class="c-Txt_Emp-01 c-Txt_Normal-l">Galaxy A23 5Gは販売を終了いたしました。</p>
  <div class="u-Adjust_Pt-16 u-Adjust_Align-center">
    <a class="c-Btn_Regular" href="/product/smartphone/?l-id=end_product_smartphone"><span>販売中のAndroid製品を見る</span></a>
  </div>
</div>

<div>
  <div class="product-detail-Layout_Hero <%= namespace %>_Hero">
    <div class="l-System_Container u-Adjust_Pt-16">
      <section class="product-detail-Hero">
        <div class="product-detail-Hero_Data">
          <div>
            <h1 class="co-Heading_Lv1 product-detail-Hero_Name"><img src="<%= sitepath %>assets/img/product/<%= directory %>/logo.svg" alt="<%= pagetitle %>"></h1>
            <p class="product-detail-Hero_Maker">Samsung</p>
            <p class="product-detail-Hero_Copy">はじめてスマホは、「ちょっとイイ」がちょうどイイ。</p>
          </div>
        </div>
        <div class="product-detail-Hero_Main u-Adjust_Mt-0">
          <ul class="product-detail-Hero_Main-device c-Carousel js-main1 js-device" aria-hidden="false">
            <li><img src="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-00.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-01.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-02.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-03.png" alt=""></li>
          </ul>
          <ul class="product-detail-Hero_Main-device c-Carousel js-main2 js-device" aria-hidden="true">
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-04.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-05.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-06.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-07.png" alt=""></li>
          </ul>
          <ul class="product-detail-Hero_Main-device c-Carousel js-main3 js-device" aria-hidden="true">
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-08.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-09.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-10.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-11.png" alt=""></li>
          </ul>

          <ul class="product-detail-Hero_Main-color product-detail-Theme_<%= theme %>-color">
            <li data-ratid="<%= directory %>_color-01" data-ratevent="click" data-ratparam="all" class="js-color js-color1" aria-current="true"><span style="background:#91484D"></span></li>
            <li data-ratid="<%= directory %>_color-02" data-ratevent="click" data-ratparam="all" class="js-color js-color2" aria-current="false"><span style="background:#F0F0F1"></span></li>
            <li data-ratid="<%= directory %>_color-03" data-ratevent="click" data-ratparam="all" class="js-color js-color3" aria-current="false"><span style="background:#3D4043"></span></li>
          </ul>

          <ul class="product-detail-Hero_Main-thumbnail c-Carousel js-thumbnail1 js-device" aria-hidden="false">
            <li><img id="<%= directory %>_color-01_thumbnail-01" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-00.png" alt=""></li>
            <li><img id="<%= directory %>_color-01_thumbnail-02" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-01.png" alt=""></li>
            <li><img id="<%= directory %>_color-01_thumbnail-03" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-02.png" alt=""></li>
            <li><img id="<%= directory %>_color-01_thumbnail-04" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-03.png" alt=""></li>
          </ul>
          <ul class="product-detail-Hero_Main-thumbnail c-Carousel js-thumbnail2 js-device" aria-hidden="true">
            <li><img id="<%= directory %>_color-02_thumbnail-01" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-04.png" alt=""></li>
            <li><img id="<%= directory %>_color-02_thumbnail-02" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-05.png" alt=""></li>
            <li><img id="<%= directory %>_color-02_thumbnail-03" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-06.png" alt=""></li>
            <li><img id="<%= directory %>_color-02_thumbnail-04" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-07.png" alt=""></li>
          </ul>
          <ul class="product-detail-Hero_Main-thumbnail c-Carousel js-thumbnail3 js-device" aria-hidden="true">
            <li><img id="<%= directory %>_color-03_thumbnail-01" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-08.png" alt=""></li>
            <li><img id="<%= directory %>_color-03_thumbnail-02" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-09.png" alt=""></li>
            <li><img id="<%= directory %>_color-03_thumbnail-03" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-10.png" alt=""></li>
            <li><img id="<%= directory %>_color-03_thumbnail-04" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-11.png" alt=""></li>
          </ul>

          <%# サムネクリック計測 %>
          <div id="js-force-click-target" data-ratid="dummy" data-ratevent="click" data-ratparam="all"></div>
        </div>
      </section>
    </div>
  </div>

  <div class="product-detail-Layout_Main <%= namespace %>_Main">
    <div class="l-System_Container">
      <div class="product-detail-Spec">
        <ul class="product-detail-Spec_<%= theme %>">
          <li aria-current="true"><span class="c-Icon_Product-waterproof"></span>防水</li>
          <li aria-current="true"><span class="c-Icon_Product-price-yen"></span>おサイフケータイ</li>
          <li aria-current="false"><span class="c-Icon_Product-hi-res"></span>ハイレゾ<br>オーディオ</li>
          <li aria-current="true"><span class="c-Icon_Product-faceid"></span>顔認証</li>
          <li aria-current="true"><span class="c-Icon_Product-finger"></span>指紋認証</li>
          <li aria-current="false"><span class="c-Icon_Product-charger"></span>ワイヤレス<br>充電</li>
          <li aria-current="true"><span class="c-Icon_Product-connection"></span>高速通信</li>
        </ul>
        <p class="u-Adjust_Mt-64"><a data-ratid="<%= directory %>_spec-anchor" data-ratevent="click" data-ratparam="all" href="#spec" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>基本スペックを見る</a></p>
      </div>

        <section id="feature" class="product-detail-Layout_Section">
          <%# スクロール計測 %>
          <h2 data-ratid="<%= directory %>_scroll-03_feature" data-ratevent="appear" data-ratparam="all" class="c-Heading_Lv2-rich">特長</h2>

          <ul class="product-detail-Catch <%= namespace %>_Catch" style="font-feature-settings: 'palt';">
            <li><a data-ratid="<%= directory %>_feature-anchor-01" data-ratevent="click" data-ratparam="all" href="#feature1" class="js-scroll"><span class="c-Icon_Arrow-down-l product-detail-Catch_Icon"></span><span class="product-detail-Catch_Txt">かんたん操作とボタン1つでつながる使い方相談で、はじめてスマホもあんしんに</span></a></li>
            <li><a data-ratid="<%= directory %>_feature-anchor-02" data-ratevent="click" data-ratparam="all" href="#feature2" class="js-scroll" style="font-feature-settings: 'palt' on;"><span class="c-Icon_Arrow-down-l product-detail-Catch_Icon"></span><span class="product-detail-Catch_Txt">見やすく持ちやすいサイズ感に、<br>あんしん長持ちバッテリー</span></a></li>
            <li><a data-ratid="<%= directory %>_feature-anchor-03" data-ratevent="click" data-ratparam="all" href="#feature3" class="js-scroll"><span class="c-Icon_Arrow-down-l product-detail-Catch_Icon"></span><span class="product-detail-Catch_Txt">より鮮明な5,000万画素カメラで、<br>スマホを思い出いっぱいのアルバムに</span></a></li>
          </ul>

          <section class="product-detail-Feature" id="feature1">
            <h2 class="c-Heading_Lv2">かんたん操作とボタン1つでつながる使い方相談で、はじめてスマホもあんしんに</h2>
            <figure class="product-detail-Feature_Img">
              <img src="<%= sitepath %>assets/img/product/<%= directory %>/main-image-01.png" alt="">
            </figure>
            <h3 class="c-Heading_Lv3">かんたんモード</h3>
            <p class="product-detail-Feature_Txt">
              大きい文字とアイコンで、見やすく分かりやすいのはもちろん、デザイン性も重視したシンプル＆おしゃれなホーム画面。<br>
              「よく使う連絡先」もホーム画面に登録できるので、スマホに慣れていない人でもかんたんに発信できます。
            </p>
            <h3 class="c-Heading_Lv3">スマホ操作で困ったときは、ワンタップでつながる使い方相談<span class="c-Txt_Cap" style="font-weight: normal;">※1</span></h3>
            <p class="product-detail-Feature_Txt">
              購入後、スマホの使い方に困ったときのサポートも充実。<br>
              スマートフォンの使い方を無料で電話相談できる「Galaxy使い方相談」を搭載。
            </p>
            <p class="c-Txt_Cap u-Adjust_Mt-16">
              <span class="c-Txt_Cap">※1</span>  Galaxy使い方相談の受付時間は9:00～20:00 年中無休です。<br>
              ※ フリーダイヤルのため通話料は無料となります。<br>
              ※ かんたんモード設定時にご利用になれます。
            </p>
          </section>
          <section class="product-detail-Feature" id="feature2">
            <h2 class="c-Heading_Lv2">見やすく持ちやすいサイズ感に、あんしん長持ちバッテリー</h2>
            <figure class="product-detail-Feature_Img">
              <img src="<%= sitepath %>assets/img/product/<%= directory %>/main-image-02.png" alt="">
            </figure>
            <h3 class="c-Heading_Lv3">約5.8インチの画面</h3>
            <p class="product-detail-Feature_Txt">
              横幅もスリムなので持ちやすくちょうどイイサイズ感。
            </p>
            <h3 class="c-Heading_Lv3">長く使えるバッテリー<span class="c-Txt_Cap" style="font-weight: normal;">※2</span></h3>
            <p class="product-detail-Feature_Txt">
              AIによるサポートでバッテリー劣化も少なく、長期間ご利用可能です。
            </p>
            <p class="c-Txt_Cap u-Adjust_Mt-16">
              <span class="c-Txt_Cap">※2</span> お客様のご使用環境やご利用状況により使用可能時間は異なります。
            </p>
          </section>
          <section class="product-detail-Feature" id="feature3">
            <h2 class="c-Heading_Lv2">鮮明な5,000万画素カメラで、スマホを思い出いっぱいのアルバムに</h2>
            <figure class="product-detail-Feature_Img">
              <img src="<%= sitepath %>assets/img/product/<%= directory %>/main-image-03.png" alt="">
            </figure>
            <h3 class="c-Heading_Lv3">約5,000万画素の高精細レンズを搭載<span class="c-Txt_Cap" style="font-weight: normal;">※3</span></h3>
            <p class="product-detail-Feature_Txt">
              約5,000万画素のレンズは細かい部分まで鮮明に映し出します。<br>
              またナイトモードやシーン判別機能も搭載しているので、かんたんにキレイな写真が撮れます。
            </p>
            <p class="c-Txt_Cap u-Adjust_Mt-16">
              <span class="c-Txt_Cap">※3</span> メインカメラのみ。
            </p>
          </section>
        </section>
      </div>

      <%# スクロール計測 %>
      <div class="u-Rat_Appear-height" data-ratid="<%= directory %>_scroll-04_feature" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
      <div class="product-detail-Layout_Sub <%= namespace %>_Sub">
        <div class="l-System_Container">
          <section class="product-detail-Layout_Section">
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-01.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">お子様のご利用にも最適 "端末リモート追跡"</h3>
                <p>Webで「端末リモート追跡」と検索すれば、スマホからでもPCからでもGalaxyをお持ちのお子様がどこにいるのか確認できます</p>
                <div class="c-Txt_Cap u-Adjust_Mt-16">
                  <p>※ご利用にはGalaxyアカウントの登録が必要です。</p>
                  <p>※地下街、建物内、乗り物内、ビルの陰などの電波播環境やGPS衛星環境によっては、位置確認の精度が低くなる場合があります。</p>
                </div>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-02.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">万が一のトラブル対策にあってよかった "通話自動録音"<span class="c-Txt_Cap" style="font-weight: normal;">※4</span></h3>
                <p>
                  通話自動録音<span class="c-Txt_Cap">※4</span>機能を標準搭載。<br>
                  あとからいつでも通話内容を聞き返すことができるので、メモを取り切れない時にも大変役立つ便利機能。<br>
                  トラブル対策はもちろん、大切なひととの通話記録にもお使いいただけます。
                </p>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">※4 ご利用には設定が必要です。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-03.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">スマホからでも、フィーチャーフォンからでもデータ移行がかんたん便利に "Smart Switch"</h3>
                <p>
                  携帯電話に保存している電話帳や写真など、残したいデータをあらかじめmicroSDカードに移しておけば、データ移行アプリ「Smart Switch」を使ってかんたんにスマホに移せます。
                </p>
                <p class="c-Txt_Cap u-Adjust_Mt-16">※アプリのダウンロードが必要です。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-04.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">防水<span class="c-Txt_Cap" style="font-weight: normal;">※5 ※6</span>・防塵対応<span class="c-Txt_Cap" style="font-weight: normal;">※7</span></h3>
                <p>キッチンなど水にぬれやすい場所や突然の雨でも気にせず使えます。</p>
                <div class="c-Txt_Cap u-Adjust_Mt-16">
                  <p><span class="c-Txt_Cap">※5</span> キャップ類（SIMトレー）は確実に取り付けてください。海水・プール・温水の中に浸けないでください。本体内に水分が残っている状態で充電はできません。</p>
                  <p><span class="c-Txt_Cap">※6</span> 防水：IPX5・IPX8に対応。IPX5とは、内径6.3mmの注水ノズルを使用し、約3mの距離から1分あたり12.5リットルの水を最低3分間注水する条件であらゆる方向から噴流を当てても、通信機器としての機能を有することを意味します。IPX8とは、常温で水道水、かつ静水の水深1.5mのところに携帯電話を静かに沈め、約30分間放置後に取り出したときに通信機器としての機能を有することを意味します。</p>
                  <p><span class="c-Txt_Cap">※7</span> 防塵（ぼうじん）：IP6Xに対応。IP6Xとは、保護度合いを指し、直径75μm以下の塵埃（じんあい）が入った装置に携帯電話を8時間入れてかくはんさせ、取り出したときに内部に塵埃が侵入しない機能を有することを意味します。</p>
                </div>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-05.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">お買い物もセキュリティも<br>毎日をちょっと便利に、スマートに</h3>
                <p class="u-Adjust_Mt-16">便利な指紋認証、おサイフケータイにも対応しています。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-06.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">クイック起動＆手のひらシャッター</h3>
                <p>
                  いつでもサイドキー（電源ボタン）を二度押しするだけで、カメラアプリがすぐ起動。<br>
                  撮影時、カメラに手のひらを向けると手のひらを自動で検知して撮影してくれる「手のひらシャッター」にも対応し、撮影もかんたんです。
                </p>
              </div>
            </section>
          </section>
        </div>
      </div>
    </div>
</div>

<div style="background: #F7F7F7;">
  <div class="product-detail-Layout_Other">
    <div class="l-System_Container">

      <%- include('/include/product/_compensation') %>

      <section class="product-detail-Layout_Section" id="spec">
        <h2 data-ratid="<%= directory %>_scroll-06_spec" data-ratevent="appear" data-ratparam="all" class="c-Heading_Lv2">スペック</h2>
        <dl class="c-Dl">
          <div>
            <dt>製品名</dt>
            <dd>
              Galaxy A23 5G
            </dd>
          </div>
          <div>
            <dt>色</dt>
            <dd>
              レッド / ホワイト / ブラック
            </dd>
          </div>
          <div>
            <dt>サイズ</dt>
            <dd>
              約150 x 約71 x 約9 (mm)
            </dd>
          </div>
          <div>
            <dt>質量</dt>
            <dd>
              約168g
            </dd>
          </div>
          <div>
            <dt>ディスプレイ</dt>
            <dd>
              <p>サイズ / 種類</p>
              約5.8インチ / TFT
              <p class="u-Adjust_Mt-16">解像度</p>
              HD+ / 720 × 1,560
            </dd>
          </div>
          <div>
            <dt>連続待受時間（LTE）</dt>
            <dd>
              約480時間
            </dd>
          </div>
          <div>
            <dt>連続通話（通信）時間（LTE）</dt>
            <dd>
              約31時間
            </dd>
          </div>
          <div>
            <dt>CPU</dt>
            <dd>
              MediaTek™Dimensity®700 / オクタコア 2.2GHz×2 + 2GHz×6
            </dd>
          </div>
          <div>
            <dt>OS<span class="c-Txt_Cap">※1</span></dt>
            <dd>
              Android™ 12
            </dd>
          </div>
          <div>
            <dt>内部メモリ（RAM / ROM）</dt>
            <dd>
              4GB (RAM) / 64GB (ROM)
            </dd>
          </div>
          <div>
            <dt>メインカメラ（外側）</dt>
            <dd>
              約5,000万画素 (広角)
            </dd>
          </div>
          <div>
            <dt>フロントカメラ（内側）</dt>
            <dd>
              約500万画素 (広角)
            </dd>
          </div>
          <div>
            <dt>バッテリー容量</dt>
            <dd>
              4,000mAh
            </dd>
          </div>
          <div>
            <dt>ワイヤレス充電</dt>
            <dd>
              非対応
            </dd>
          </div>
          <div>
            <dt>おサイフケータイ / NFC</dt>
            <dd>
              対応 / 対応
            </dd>
          </div>
          <div>
            <dt>防水 / 防塵</dt>
            <dd>
              対応 (IPX5 / IPX8 / IP6X)
            </dd>
          </div>
          <div>
            <dt>生体認証（指紋 / 顔）</dt>
            <dd>
              対応 / 対応
            </dd>
          </div>
          <div>
            <dt>Wi-Fi規格</dt>
            <dd>
              IEEE802.11 a/b/g/n/ac
            </dd>
          </div>
          <div>
            <dt>テザリング（Wi-Fi）</dt>
            <dd>
              10台
            </dd>
          </div>
          <div>
            <dt>SIMタイプ</dt>
            <dd>
              nanoSIM / eSIM
            </dd>
          </div>
          <div>
            <dt>付属品</dt>
            <dd>
              クイックスタートガイド×1セット <span class="c-Txt_Cap">※2</span> / SIM取り出しツール(試供品)×1
            </dd>
          </div>
        </dl>
        <ul class="c-Txt_Cap u-Adjust_Mt-16">
          <li><span class="c-Txt_Cap">※1</span> 発売時点のOSのバージョンを記載しています。最新のOSバージョン情報は<a href="<%= sitepath %>information/software/galaxy-a23-5g/" class="c-Link_Txt">こちら</a>をご確認ください。</li>
          <li><span class="c-Txt_Cap">※2</span> 付属品（「取扱説明書×1セット」から「クイックスタートガイド×1セット」に変更）の情報を修正いたしました。（2024年2月2日）</li>
        </ul>
        <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>product/smartphone/<%= directory %>/spec.html?l-id=product_<%= directory %>_spec_<%= directory %>" class="c-Link_Txt-inline-icon">スペック詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
      </section>

      <div id="previously-seen"></div>

      <section class="product-detail-Layout_Section">
        <h2 class="c-Heading_Lv2">設定・サポート</h2>
        <div>
          <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/inquiry/?l-id=product_<%= directory %>_guide_inquiry" class="c-Link_Txt-inline-icon">製品の初期不良による交換・設定・修理等サポートについて<span class="c-Icon_Chevron-right"></span></a></p>
        </div>
      </section>
    </div>
    <div class="u-Adjust_Mt-40">
      <%- include('/include/product/_support') %>
    </div>
  </div>
</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-product-v2.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>


  </div>
  <div class="c-Breadcrumbs_Foot">
    <div class="l-System_Container">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/product/_category-js') %>
<%- include('/include/product/_history-js') %>
<%- include('/include/product/_same-brand-js') %>
<script src="<%= sitepath %>assets/js/product.android-tradein.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>

<script>
  const deviceName01 = 'galaxy-a23-5g_color-01_thumbnail-';
  const deviceName02 = 'galaxy-a23-5g_color-02_thumbnail-';
  const deviceName03 = 'galaxy-a23-5g_color-03_thumbnail-';
  const ratIds = [
    `${deviceName01}01'`,
    `${deviceName01}02'`,
    `${deviceName01}03'`,
    `${deviceName01}04'`,
    `${deviceName02}01'`,
    `${deviceName02}02'`,
    `${deviceName02}03'`,
    `${deviceName02}04'`,
    `${deviceName03}01'`,
    `${deviceName03}02'`,
    `${deviceName03}03'`,
    `${deviceName03}04'`,
  ];
  const forceClickRatId = e => {
    const forceClickTarget = document.getElementById('js-force-click-target');
    forceClickTarget.dataset.ratid = e.target.id;
    forceClickTarget.click();
  }
  ratIds.forEach(e => document.getElementById(e).addEventListener('click', forceClickRatId));
</script>

</body>
</html>
