<% const pagetitle = "AQUOS R5Gの5G通信のためのシステムアップデート方法" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/smartphone/", label:"Android"}, {path:"product/smartphone/aquos-r5g/", label:"AQUOS R5G"}] -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'AQUOS R5Gの5G通信のためのシステムアップデート方法をご案内します',
    noindex: false,
    pathname: 'product/smartphone/aquos-r5g/support/update/'
  });
%>

<%- include('/include/_common-css-v2') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<%- include('/include/_breadcrumbs', {
  type: 'head',
  pagetitle,
  directories,
}) %>

<div class="u-Adjust_Pb-64">
  <div class="l-System_Container u-Adjust_Mt-32">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
    <p class="u-Adjust_Mt-24">AQUOS R5Gで5G通信を行っていただくためのシステムアップデート方法をご案内いたします。<br>
下記の内容をご確認いただき、アップデートを行ってください。</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      ※5G通信は、<a class="c-Link_Txt" href="<%= sitepath %>area/">対象エリア</a>でご利用いただけます。
    </p>

    <ul class="u-Adjust_Mt-32">
      <li class="u-Adjust_Mt-16"><a href="#feature1" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>STEP1. システムアップデート手順</a></li>
      <li class="u-Adjust_Mt-16"><a href="#feature2" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>STEP2. ネットワークの設定</a></li>
      <li class="u-Adjust_Mt-16"><a href="#feature3" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>STEP3. 5G対応プランへのアップグレードのお手続き</a></li>
    </ul>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="feature1">STEP1. システムアップデート手順</h2>

    <ol class="c-Flow">
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">1. アプリ一覧から[設定]をタップしてください。</h3>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/aquos-r5g/support/update/main-image-01.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">2. [システム]をタップしてください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/aquos-r5g/support/update/main-image-02.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">3. [詳細設定]をタップしてください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/aquos-r5g/support/update/main-image-03.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">4. [システム アップデート]をタップしてください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/aquos-r5g/support/update/main-image-04.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">5. 1 [システム アップデート利用可能]と表示されている場合<br>
<br>
[ダウンロードとインストール]をタップしてください。再起動が行われた後、最新の状態か確認するために再度<a class="c-Link_Txt" href="#feature1" class="js-scroll">STEP1. システムアップデートの手順</a>に従って手順5まで進んでください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/aquos-r5g/support/update/main-image-05.png" width="300" height="" alt="" class="c-Img_Capture"></figure>

<h3 class="c-Heading_Lv4 u-Adjust_Align-center u-Adjust_Mt-48">2 [お使いのシステムは最新の状態です]と表示されている場合<br>
<br>
次のネットワークの設定に進んでください。</h3>
<figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/aquos-r5g/support/update/main-image-06.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
</li>
    </ol>


    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="feature2">STEP2. ネットワークの設定</h2>
    <ol class="c-Flow">
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">1. アプリ一覧から[設定]をタップしてください。</h3>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/aquos-r5g/support/update/main-image-07.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">2. [ネットワークとインターネット]をタップしてください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/aquos-r5g/support/update/main-image-08.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">3. [モバイル ネットワーク]をタップしてください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/aquos-r5g/support/update/main-image-09.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">4. [優先ネットワークの種類]をタップしてください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/aquos-r5g/support/update/main-image-10.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">5. [5G（推奨）]をタップしてください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/aquos-r5g/support/update/main-image-11.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
    </ol>


    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="feature3">STEP3. 5G対応プランへのアップグレードのお手続き</h2>

    <p class="u-Adjust_Mt-24">5G通信をご利用いただくには、5G対応プラン「Rakuten UN-LIMIT VII」へのアップグレードが必要です。下記のページよりアップグレードの手順をご確認いただき、アップグレードを行ってください。</p>

<p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/flow/unlimit-upgrade/" class="c-Link_Txt-inline">Rakuten UN-LIMIT VIIへのアップグレード方法を見る<span class="c-Icon_Chevron-right"></span></a></p>

    <ul class="c-Txt_Cap u-Adjust_Mt-16">
      <li>※ 「Rakuten UN-LIMIT VII」へのアップグレードは無料です。</li>
      <li class="u-Adjust_Mt-8">※ 5G通信は、<a class="c-Link_Txt" href="<%= sitepath %>area/">対象エリア</a>でご利用いただけます。</li>
   </ul>

    <p class="u-Adjust_Mt-32">以上で5G通信のための設定・お手続きは完了です。</p>

    <div class="u-Adjust_Pt-64">
      <div><a href="<%= sitepath %>product/smartphone/aquos-r5g/support/" class="c-Btn_Regular"><span>AQUOS R5Gサポート情報に戻る</span></a></div>
      <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a></div>
    </div>

  </div>
</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">
    <%- include('/include/footer/related/_related-product-v2.ejs') %>
  </div>
  <div class="l-System_Container">
    <%- include('/include/_breadcrumbs', {
      type: 'foot',
      pagetitle,
      directories,
    }) %>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
