<% const {namespace, point, stageJa, stageId} = rankData -%>
<div class="<%= namespace %>-Campaign u-Adjust_Pb-32">
  <h2 class="c-Txt_Normal-ll c-Txt_Emp u-Adjust_Mt-16">キャンペーンの流れ</h2>
  <div class="<%= namespace %>-Campaign_Applicable u-Adjust_Mt-16">
    <div class="<%= namespace %>-Campaign_Applicable-content <%= namespace %>-Campaign_Applicable-content-1st">
      <div>
        <img src="<%= sitepath %>assets/img/hikari/campaign/rank/img-flow-step-01.png" class="<%= namespace %>-Campaign_Show-pc" alt="">
        <img src="<%= sitepath %>assets/img/hikari/campaign/rank/img-flow-step-01-sp.png" class="<%= namespace %>-Campaign_Show-sp" alt="">
      </div>
      <img class="<%= namespace %>-Campaign_Show-pc" src="<%= sitepath %>assets/img/hikari/campaign/rank/img-normal-section1-step1.png?211125" alt="">
      <div class="u-Adjust_Mt-8">
        <a href="<%= sitepath %>guide/application/" class="c-Btn_Secondly <%= namespace %>-Campaign_Applicable-btn u-Adjust_Mt-8" target="_blank"><span>楽天モバイルに申し込む<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
      </div>
      <div class="u-Adjust_Mt-16">
      <a href="<%= sitepath %>fee/un-limit/" class="c-Link_Txt-inline <%= namespace %>-Campaign_Applicable-link" target="_blank">Rakuten UN-LIMIT VIIの詳細を見る<span class="c-Icon_New-window-l"></span></a>
      </div>
    </div>
    <div class="<%= namespace %>-Campaign_Applicable-content <%= namespace %>-Campaign_Applicable-content-1st">
      <div>
        <img src="<%= sitepath %>assets/img/hikari/campaign/rank/img-flow-step-02.png" class="<%= namespace %>-Campaign_Show-pc" alt="">
        <img src="<%= sitepath %>assets/img/hikari/campaign/rank/img-flow-step-02-sp.png" class="<%= namespace %>-Campaign_Show-sp" alt="">
      </div>
      <img class="<%= namespace %>-Campaign_Show-pc" src="<%= sitepath %>assets/img/hikari/campaign/rank/img-normal-section1-step2.png?211125" alt="">
      <div class="u-Adjust_Mt-16">
        <%_ if (stageId === 'd') { _%>
          <a href="https://secure3.gol.com/mod-pl/rbb/rmch.cgi?scode=qngTI9rXJpRlc1l6roM&cpnkind=dpgd2209nd0&l-id=rhk_onb_02" data-ratid="rhk_onb_02" data-ratevent="click" data-ratparam="all" class="c-Btn_Secondly <%= namespace %>-Cta_Btn <%= namespace %>-Hero-Btn hikari-campaign-rank-Flow_Item-sub">楽天ひかりに申し込む</a>
        <%_ } else if (stageId === 'p') { _%>
          <a href="https://secure3.gol.com/mod-pl/rbb/rmch.cgi?scode=qngTI9rXJpRlc1l6roM&cpnkind=dpgp2012n18&l-id=rhk_onb_02" data-ratid="rhk_onb_02" data-ratevent="click" data-ratparam="all" class="c-Btn_Secondly <%= namespace %>-Cta_Btn <%= namespace %>-Hero-Btn hikari-campaign-rank-Flow_Item-sub">楽天ひかりに申し込む</a>
        <%_ } else if (stageId === 'g') { _%>
          <a href="https://secure3.gol.com/mod-pl/rbb/rmch.cgi?scode=qngTI9rXJpRlc1l6roM&cpnkind=dpgg2012n20&l-id=rhk_onb_02" data-ratid="rhk_onb_02" data-ratevent="click" data-ratparam="all" class="c-Btn_Secondly <%= namespace %>-Cta_Btn <%= namespace %>-Hero-Btn hikari-campaign-rank-Flow_Item-sub">楽天ひかりに申し込む</a>
        <%_ } _%>
      </div>
      <div class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>hikari/flow/index_a.html" class="c-Link_Txt-inline <%= namespace %>-Campaign_Applicable-link">申し込みまでの流れを見る<span class="c-Icon_Chevron-right"></span></a>
      </div>
    </div>
    <div class="<%= namespace %>-Campaign_Applicable-content <%= namespace %>-Campaign_Applicable-content-last <%= namespace %>-Campaign_Applicable-content-3rd">
      <div>
        <div class="<%= namespace %>-Campaign_Show-pc">
          <div>
            <img src="<%= sitepath %>assets/img/hikari/campaign/rank/img-flow-04-<%= point %>-pc.png?220701" alt="" width="296" height="147">
          </div>
        </div>
        <div class="<%= namespace %>-Campaign_Applicable-content <%= namespace %>-Campaign_Show-sp">
          <img class="<%= namespace %>-Campaign_Show-sp" src="<%= sitepath %>assets/img/hikari/campaign/rank/img-flow-04-<%= point %>-sp.png?220701" alt="">
        </div>
      </div>
    </div>
  </div>
  <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-left">
    ※ 楽天モバイル（Rakuten UN-LIMIT VII）利用中、または楽天ひかり申し込みの翌月15日までに新規申し込みの方は楽天ひかりの月額基本料が開通月から最大12カ月間無料。初期費用等別。契約解除料ファミリープラン5,280円、マンションプラン4,180円が発生（2年ごとに更新）。楽天モバイル未加入時の月額基本料は、開通月無料、翌月から12カ月間マンションプラン1,980円、ファミリープラン3,080円。※ 楽天ひかりを開通で、期間限定ポイントを進呈。<br>
    ※ <a href="#notes-01" class="c-Link_Txt js-scroll">その他条件の詳細を見る</a>
  </p>
</div>
