<% const {namespace, stageId} = rankData -%>
<div class="l-System_Container <%= namespace %>-Free">
  <div class="<%= namespace %>-Layout-section <%= namespace %>-Lead">
    <div class="<%= namespace %>-Lead_Img">
      <picture>
        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/hikari/campaign/rank/img-title-sp.png?210402">
        <source srcset="<%= sitepath %>assets/img/hikari/campaign/rank/img-title-pc.png?210402">
        <img src="<%= sitepath %>assets/img/hikari/campaign/rank/img-title-pc.png?210402" width="633" alt="楽天モバイルを申し込むと楽天ひかりが1年無料！">
      </picture>
    </div>
  </div>

  <div id="basic-charge" class="l-System_Container <%= namespace %>-Basic-charge">
    <div class="<%= namespace %>-Layout-section <%= namespace %>-Basic-charge-inner">
      <div class="<%= namespace %>-Plan">
        <div class="<%= namespace %>-Plan_Box">
          <h3><img src="<%= sitepath %>assets/img/hikari/campaign/rank/ttl-01-pc.png" width="538" class="<%= namespace %>-Utility_Img-pc" alt="スマホとひかり回線両方お申し込みの方"><img src="<%= sitepath %>assets/img/hikari/campaign/rank/ttl-01-sp.png" width="230" class="<%= namespace %>-Utility_Img-sp" alt="スマホとひかり回線両方お申し込みの方"></h3>
          <ul class="<%= namespace %>-Plan_Detail-1">
            <li>
              <img src="<%= sitepath %>assets/img/hikari/campaign/rank/txt-plan-01-pc.png?210323" width="450" class="<%= namespace %>-Utility_Img-pc" alt="マンションプラン（集合住宅）月額基本料1年無料 2年目以降3,800円(税込4,180円）">
              <img src="<%= sitepath %>assets/img/hikari/campaign/rank/txt-plan-01-sp.png?210323" width="311" class="<%= namespace %>-Utility_Img-sp" alt="マンションプラン（集合住宅）月額基本料1年無料 2年目以降3,800円(税込4,180円）">
            </li>
            <li>
              <img src="<%= sitepath %>assets/img/hikari/campaign/rank/txt-plan-02-pc.png?210323" width="450" class="<%= namespace %>-Utility_Img-pc" alt="ファミリープラン（戸建）月額基本料1年無料 2年目以降4,800円（税込5,280円）">
              <img src="<%= sitepath %>assets/img/hikari/campaign/rank/txt-plan-02-sp.png?210323" width="311" class="<%= namespace %>-Utility_Img-sp" alt="ファミリープラン（戸建）月額基本料1年無料 2年目以降4,800円（税込5,280円）">
            </li>
          </ul>
        </div>
        <div class="<%= namespace %>-Plan_Box">
          <h3><img src="<%= sitepath %>assets/img/hikari/campaign/rank/ttl-02-pc.png" width="390" class="<%= namespace %>-Utility_Img-pc" alt="ひかり回線のみお申し込みの方"><img src="<%= sitepath %>assets/img/hikari/campaign/rank/ttl-02-sp.png" width="240" class="<%= namespace %>-Utility_Img-sp" alt="ひかり回線のみお申し込みの方"></h3>
          <ul class="<%= namespace %>-Plan_Detail-2">
            <li>
              <img src="<%= sitepath %>assets/img/hikari/campaign/rank/txt-plan-03-pc.png?210323" width="450" class="<%= namespace %>-Utility_Img-pc" alt="マンションプラン（集合住宅）月額基本料1,800円（税込1,980円）2年目以降3,800円(税込4,180円）">
              <img src="<%= sitepath %>assets/img/hikari/campaign/rank/txt-plan-03-sp.png?210323" width="311" class="<%= namespace %>-Utility_Img-sp" alt="マンションプラン（集合住宅）月額基本料1,800円（税込1,980円）2年目以降3,800円(税込4,180円）">
            </li>
            <li>
              <img src="<%= sitepath %>assets/img/hikari/campaign/rank/txt-plan-04-pc.png?210323" width="450" class="<%= namespace %>-Utility_Img-pc" alt="ファミリープラン（戸建）月額基本料2,800円（税込3,080円） 2年目以降4,800円（税込5,280円）">
              <img src="<%= sitepath %>assets/img/hikari/campaign/rank/txt-plan-04-sp.png?210323" width="311" class="<%= namespace %>-Utility_Img-sp" alt="ファミリープラン（戸建）月額基本料2,800円（税込3,080円） 2年目以降4,800円（税込5,280円）">
            </li>
          </ul>
        </div>
      </div>


      <div class="u-Adjust_Mt-24">
        <p class="c-Txt_Cap">※ 楽天ひかり（マンションプランまたはファミリープラン）申し込み月を1カ月目として4カ月目末日までに開通、かつ楽天会員の方が対象。NTT東日本・NTT西日本のフレッツ光回線を楽天ブロードバンドで利用中の方は対象外。</p>
        <p class="c-Txt_Cap">※ 楽天モバイル（Rakuten UN-LIMIT VI）利用中、または楽天ひかり申し込みの翌月15日までに新規申し込みの方は、楽天ひかりの月額基本料が開通月から最大12カ月間無料。13カ月目以降は月額基本料マンションプラン3,800円（税込4,180円）、ファミリープラン4,800円（税込5,280円）。楽天ひかり申し込み時にログインされた楽天IDが楽天モバイルへ登録のIDと異なる場合、または登録の楽天IDを変更した場合特典対象外。楽天モバイル未加入時の月額基本料は、開通月無料、翌月から12カ月間マンションプラン1,800円（税込1,980円）、ファミリープラン2,800円（税込3,080円）。開通から14カ月目以降はマンションプラン3,800円（税込4,180円）、ファミリープラン4,800円（税込5,280円）。</p>
        <p class="c-Txt_Cap">※ 初期登録費、工事費、オプション費用等は除く。契約期間中（3年ごとに更新）は契約解除料10,450円。</p>
      </div>

      <div class="u-Adjust_Mt-24">
        <div class="c-Accordion">
          <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1" data-ratid="rhk_rank_<%= stageId %>_fee_01" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>初期費用</button>
          <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
            <div class="<%= namespace %>-Scroll c-Table_Wrap-scroll c-Table-Scroll js-scrollable scroll-hint is-scrollable" id="scroll-table">
              <table class="c-Table_Container <%= namespace %>-Table">
                <colgroup>
                  <col class="u-Adjust_W-240">
                  <col class="u-Adjust_W-240">
                  <col class="u-Adjust_W-240">
                  <col class="u-Adjust_W-240">
                </colgroup>
                <thead>
                  <tr>
                    <th class="<%= namespace %>-Table_Empty"></th>
                    <th scope="col" class="u-Adjust_Align-center">フレッツ光の<br>
                      ご利用がない方</th>
                    <th scope="col" class="u-Adjust_Align-center">他社ひかりコラボを<br>
                      ご利用中の方（事業者変更）<span class="c-Txt_Cap">※1</span></th>
                    <th scope="col" class="u-Adjust_Align-center">フレッツ光を<br>
                      ご利用中の方（転用）</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">初期登録費</th>
                    <td class="u-Adjust_Align-center"><span class="c-Txt_Emp">880円</span></td>
                    <td class="u-Adjust_Align-center"><span class="c-Txt_Emp">1,980円</span></td>
                    <td class="u-Adjust_Align-center"><span class="c-Txt_Emp">1,980円</span></td>
                  </tr>
                  <tr>
                    <th scope="row">標準工事費<span class="c-Txt_Normal-ss">※2</span></th>
                    <td class="u-Adjust_Align-center">下記の表を参照</td>
                    <td class="u-Adjust_Align-center">工事不要0円 <span class="c-Txt_Normal-ss">※3</span></td>
                    <td class="u-Adjust_Align-center">工事不要0円 <span class="c-Txt_Normal-ss">※3</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="u-Adjust_Mt-8">
              <p class="c-Txt_Cap">※1 現在の光コラボレーション契約と楽天ひかり契約は同一契約名義・同一設置先であることが前提。auひかり、NURO 光等をご利用の場合は、新規扱い。</p>
              <p class="c-Txt_Cap">※2 居宅設備の都合等で追加工事費が発生する場合、標準工事費との合計金額。工事時間の指定や夜間・深夜および土日・休日工事 をご希望の場合、別途加算・割増工事費が発生。</p>
              <p class="c-Txt_Cap">※3 回線の種類変更・機器変更が伴う場合、工事が必要な場合あり。</p>
            </div>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2" data-ratid="rhk_rank_<%= stageId %>_fee_02" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>【フレッツ光のご利用がない方】標準工事費詳細（お支払い方法は分割払いのみ）</button>
          <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
            <div class="<%= namespace %>-Scroll c-Table_Wrap-scroll c-Table-Scroll js-scrollable scroll-hint is-scrollable" id="scroll-table3">
              <table class="c-Table_Container <%= namespace %>-Table u-Adjust_Mt-16">
                <colgroup>
                  <col class="u-Adjust_W-200">
                  <col>
                  <col class="u-Adjust_W-200">
                  <col class="u-Adjust_W-200">
                  <col>
                </colgroup>
                <thead>
                  <tr>
                    <th>回線プラン</th>
                    <th scope="col" class="u-Adjust_Align-center">お支払い額 詳細</th>
                    <th scope="col" class="u-Adjust_Align-center">工事先への人員派遣</th>
                    <th scope="col" class="u-Adjust_Align-center">屋内配線の新設</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row" rowspan="3">マンションプラン<br>
                      （集合住宅）</th>
                      <td>458円／月 × 36回 <span class="c-Txt_Normal-ss">※1</span>（総額16,500円）</td>
                    <td class="u-Adjust_Align-center">あり</td>
                    <td class="u-Adjust_Align-center">あり</td>
                  </tr>
                  <tr>
                    <td>232円／月 × 36回 <span class="c-Txt_Normal-ss">※2</span>（総額8,360円）</td>
                    <td class="u-Adjust_Align-center">あり</td>
                    <td class="u-Adjust_Align-center">なし</td>
                  </tr>
                  <tr>
                    <td>61円／月 × 36回 <span class="c-Txt_Normal-ss">※3</span>（総額2,200円）</td>
                    <td class="u-Adjust_Align-center">なし</td>
                    <td class="u-Adjust_Align-center">ー</td>
                  </tr>
                  <tr>
                    <th scope="row" rowspan="3">ファミリープラン<br>
                      （戸建）</th>
                      <td>550円／月 × 36回（総額19,800円）</td>
                    <td class="u-Adjust_Align-center">あり</td>
                    <td class="u-Adjust_Align-center">あり</td>
                  </tr>
                  <tr>
                    <td>232円／月 × 36回 <span class="c-Txt_Normal-ss">※2</span>（総額8,360円）</td>
                    <td class="u-Adjust_Align-center">あり</td>
                    <td class="u-Adjust_Align-center">なし</td>
                  </tr>
                  <tr>
                    <td>61円／月 × 36回 <span class="c-Txt_Normal-ss">※3</span>（総額2,200円）</td>
                    <td class="u-Adjust_Align-center">なし</td>
                    <td class="u-Adjust_Align-center">ー</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="u-Adjust_Mt-8">
              <p class="c-Txt_Cap">※1 最終月は470円の請求。</p>
              <p class="c-Txt_Cap">※2 最終月は240円の請求。</p>
              <p class="c-Txt_Cap">※3 最終月は65円の請求。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
