<% const {namespace, stageId} = rankData -%>
<div class="<%= namespace %>-Layout-section-bg <%= namespace %>-Link">
  <div class="l-System_Container">
    <ul class="<%= namespace %>-Link_List-horizontal-3col">
      <li>
        <a href="#merit" class="c-Link_Txt-icon-front js-scroll" data-ratid="rhk_rank_<%= stageId %>_feature" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>楽天ひかりの特長</a>
      </li>
      <li>
        <a href="#opening" class="c-Link_Txt-icon-front js-scroll" data-ratid="rhk_rank_<%= stageId %>_date" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>開通日の目安</a>
      </li>
      <li>
        <a href="#qa" class="c-Link_Txt-icon-front js-scroll" data-ratid="rhk_rank_<%= stageId %>_faq_00" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>よくあるご質問</a>
      </li>
    </ul>
  </div>
</div>