<% const {namespace, stageId} = rankData -%>
<div id="js-trigger" class="c-Theme-Light <%= namespace %>-Period">
  <div class="l-System_Container <%= namespace %>-Period-inner">
    <p class="u-Adjust_Align-center <%= namespace %>-Period-title"><span class="c-Txt_Emp">【キャンペーン期間】</span><br class="<%= namespace %>-Period-enter">2020年12月2日（水）10:00～2023年4月2日（日）9:59</p>
    <div class="u-Adjust_Mt-16">
      <p class="c-Txt_Cap">
        ※ 楽天ひかりの月額基本料が開通月から最大12カ月間無料。初期登録費、工事費、オプション費用等は除く。契約期間中（3年ごとに更新）は契約解除料10,450円が発生。 NTT東日本・NTT西日本のフレッツ光回線を楽天ブロードバンドで利用中の方は対象外。その他条件あり。期間限定ポイントでの進呈。詳細条件はページ下部のキャンペーンルール参照。<br>※ 表記の金額は特に記載のある場合を除きすべて税込です。
      </p>
    </div>
    <a href="#rule" class="c-Link_Txt-icon-front u-Adjust_Mt-16 js-scroll" data-ratid="rhk_rank_<%= stageId %>_rule_01" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>キャンペーン詳細を見る</a>
  </div>
</div>
