<% const pagetitle = "夏のスマートフォン取り扱いについて" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/product/setting/", label:"設定・操作・故障"}, {path:"guide/product-safety/", label:"スマートフォン・周辺機器などの使用に関するご注意"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '暑い夏はスマートフォンも熱がこもりやすくなります。夏にスマートフォンを安全にご使用いただくための方法をご案内します。',
    noindex: false,
    pathname: filepath
  });
%>
<% const namespace = "product-safety-summer" -%>
<% const layout = `${namespace}-Layout` -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/product-safety/summer/<%= namespace %>.css?20240424">
<%- include('/include/guide/product-safety/_warranty-service-css') %>
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>

    <div class="l-System_Container">
      <section class="<%= namespace %>-Hero">
        <div>
          <h1 class="c-Heading_Lv1">夏のスマートフォン取り扱いについて</h1>
          <p class="u-Adjust_Mt-24 u-Adjust_Mt-pc-8">
            暑い夏はスマートフォンも熱がこもりやすくなります。夏にスマートフォンを安全にご使用いただくための方法をご案内します。
          </p>
        </div>
        <div class="<%= namespace %>-Hero_Img">
          <img src="<%= sitepath %>assets/img/guide/product-safety/summer/hero.png" alt="" width="348" height="225">
        </div>
      </section>

      <section class="u-Adjust_Mt-32">
        <h2 class="c-Heading_Lv2">夏のスマホの放置は危険！</h2>
        <p class="u-Adjust_Mt-16">
          夏に直射日光のあたるところに置いておくと、スマホの表面温度が高温になり大変危険です。<br>特にスマホに使用されるリチウムイオン電池は熱に弱く電池の劣化から、膨張や発火のリスクがあります。
        </p>
        <div class="u-Adjust_Mt-24 u-Adjust_Mt-pc-32 <%= layout %>_Pc3col">
          <div>
            <p class="c-Txt_Emp-01">屋内に30分間放置した場合の温度変化</p>
            <img src="<%= sitepath %>assets/img/guide/product-safety/summer/img-01.png" alt="" width="343" height="195">
          </div>
          <div>
            <p class="c-Txt_Emp-01">車内に30分間放置した場合の温度変化</p>
            <img src="<%= sitepath %>assets/img/guide/product-safety/summer/img-02.png" alt="" width="343" height="195">
          </div>
          <div>
            <p class="c-Txt_Emp-01">屋外に30分間放置した場合の温度変化</p>
            <img src="<%= sitepath %>assets/img/guide/product-safety/summer/img-03.png" alt="" width="343" height="195">
          </div>
        </div>
        <p class="u-Adjust_Mt-32">NITE（独立行政法人製品評価技術基盤機構）においても、熱の影響で電池が破裂・発火するおそれがあると注意喚起されています。</p>
        <p class="u-Adjust_Mt-16"><a href="https://www.nite.go.jp/jiko/chuikanki/poster/kaden/23062701.html" class="c-Link_Txt-inline" target="_blank" rel="noopener noreferrer">モバイルバッテリー「6.高温下に放置して発火」<span class="c-Icon_New-window-l"></span></a></p>

        <div class="u-Adjust_Mt-48">
          <h3 class="c-Heading_Lv3">スマホが熱くなった時の対処法！</h3>
          <div class="l-Media_Grid u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/product-safety/summer/img-04.png" alt="" width="328" height="222" loading="lazy">
            </div>
            <div>
              <p>スマホが熱くなってしまった際は、以下のような対処方法で熱を放出させましょう。</p>
              <ul class="c-List_Text-disc u-Adjust_Mt-16">
                <li>スマホカバーを外す</li>
                <li>電源を切る</li>
                <li>日陰で熱をさます</li>
              </ul>
              <dl class="u-Adjust_Mt-16">
                <dt>スマホが熱くなってしまった時の対処法について、以下の記事もあわせてご確認ください。</dt>
                <dd class="u-Adjust_Mt-16"><a href="https://network.mobile.rakuten.co.jp/sumakatsu/contents/articles/2022/00048/" class="c-Link_Txt-inline" target="_blank" rel="noopener noreferrer">スマホが熱いときはどうすれば良い？発熱する原因と対処法<span class="c-Icon_New-window-l"></span></a></dd>
              </dl>
            </div>
          </div>
        </div>
      </section>

      <section class="u-Adjust_Mt-24 u-Adjust_Mt-pc-72">
        <h2 class="c-Heading_Lv2">スマホ搭載の電池保護機能！</h2>
        <div class="u-Adjust_Mt-24">
          <h3 class="c-Heading_Lv3">高温時の保護機能</h3>
          <div class="l-Media_Grid u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/product-safety/summer/img-05.png" alt="" width="328" height="275" loading="lazy">
            </div>
            <div>
              <p>
                電池の劣化を防ぐために、高温になるとスマホの一部機能を制限する機能が搭載されています。<br>下記の動作は故障ではなく、高温時にスマホを保護するための機能です。
              </p>
              <ul class="c-List_Text-disc u-Adjust_Mt-16">
                <li>カメラアプリなど、アプリの動作を制限する</li>
                <li>データ通信機能を制限する</li>
                <li>充電機能を制限・停止する</li>
                <li>スマホの電源を切る</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="c-Accordion u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
          <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>なぜ電池が高温になるとよくないのか？</button>
          <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true" style="display: none;">
            <p>リチウムイオン電池は高温状態になると、電池内の電解液の分解など不可逆な化学反応が進みやすくなり、結果として電池の劣化につながります。</p>
          </div>
        </div>
        <div class="u-Adjust_Mt-48">
          <h3 class="c-Heading_Lv3">長時間充電した時の保護機能</h3>
          <div class="l-Media_Grid u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/product-safety/summer/img-06.png" alt="" width="328" height="275" loading="lazy">
            </div>
            <div>
              <p>長時間充電による電池の劣化を防ぐため、一定まで電池残量が下がるまで充電を再開しない機能が搭載されています。</p>
            </div>
          </div>
        </div>
        <div class="c-Accordion u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
          <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>なぜ電池を長時間充電するとよくないのか？</button>
          <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true" style="display: none;">
            <p>リチウムイオン電池は長時間充電されている状態が継続されると、電池内の電解液の分解など不可逆な化学反応が進みやすくなり、結果として電池の劣化につながります。</p>
          </div>
        </div>
        <div class="u-Adjust_Mt-48">
          <h3 class="c-Heading_Lv3">電池を長持ちさせるための機能</h3>
          <div class="l-Media_Grid u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/product-safety/summer/img-07.png" alt="" width="328" height="275" loading="lazy">
            </div>
            <div>
              <p>スマホには、電池を長持ちさせる充電機能が搭載されている製品があります。<br>取扱説明書などをご確認のうえ、積極的にご利用ください。</p>
            </div>
          </div>
          <h3 class="c-Heading_Lv3 u-Adjust_Mt-40 u-Adjust_Mt-pc-48">電池の劣化を検出する機能</h3>
          <p class="c-Txt_Cap u-Adjust_Mt-8">※機能が搭載されている製品の一例：Rakuten Hand</p>
          <div class="l-Media_Grid u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/product-safety/summer/img-08.png" alt="" width="328" height="275" loading="lazy">
            </div>
            <div>
              <p>
                <span class="c-Txt_Emp-02">電池の状態を毎日チェックし、劣化していると判定されたら交換をおすすめします。</span><br>
                電池が劣化した状態で使用を続けると、以下のような不具合の原因となります。
              </p>
              <ul class="c-List_Text-disc u-Adjust_Mt-16">
                <li>充電切れになるまでの時間が短くなる</li>
                <li>発熱する可能性が高まる</li>
                <li>使用中に突然電源が切れる</li>
                <li>使用中にアプリが停止する</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="c-Accordion u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
          <button type="button" id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten
            Handのバッテリーヘルスチェック機能</button>
          <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true" style="display: none;">
            <p>内蔵電池の劣化を検知して、お客様にお知らせします。</p>
            <div class="u-Adjust_Mt-16 u-Adjust_Mt-pc-24 u-Adjust_Align-center">
              <p class="c-Txt_Emp-01">設定メニュー</p>
              <div class="u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/product-safety/summer/img-09.png" class="c-Img_Capture" alt="" width="300" height="440" loading="lazy">
              </div>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-24">ポップアップ</p>
              <div class="u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/product-safety/summer/img-10.png" class="c-Img_Capture" alt="" width="300" height="263" loading="lazy">
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="u-Adjust_Mt-24 u-Adjust_Mt-pc-72">
        <h2 class="c-Heading_Lv2">スマホを安全に使うために</h2>
        <p class="u-Adjust_Mt-16 u-Adjust_Mt-pc-24">大切なスマホを長くご使用いただくには、熱以外にも水没や衝撃にも気をつけましょう。</p>
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>充電端子に水などを付着させたまま充電をしない</li>
          <li>ポケットに入れたまま座らない</li>
          <li>踏みつけや落下による衝撃を与えない</li>
        </ul>
        <p class="u-Adjust_Mt-16">そのほかの注意事項については、以下のページもご確認ください。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= sitepath %>guide/product-safety/" class="c-Link_Txt-inline">スマートフォン・周辺機器などの使用に対するご注意<span class="c-Icon_Chevron-right"></span></a>
        </div>
        <div class="l-Media_Grid-half u-Adjust_Mt-24">
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/guide/product-safety/summer/img-11.png" alt="" width="501" height="313" loading="lazy">
          </div>
          <div class="u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/product-safety/summer/img-12.png" alt="" width="501" height="313" loading="lazy">
          </div>
        </div>
        <div class="u-Adjust_Mt-40 u-Adjust_Mt-pc-48">
          <h3 class="c-Heading_Lv3">推奨されるアクセサリ</h3>
          <p class="u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
            安全にお使いいただくため、 ACアダプタ（充電器）やUSBケーブルといったアクセサリも重要です。<br>
            楽天モバイルでは、それぞれ以下のような製品を推奨しています。
          </p>
          <dl class="c-Dl_Origin u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
            <div>
              <dt>ACアダプタ（充電器）</dt>
              <dd>
                <ul class="c-List_Text-disc">
                  <li>メーカー純正品</li>
                  <li>携帯電話会社で販売している製品</li>
                  <li>
                    PSEマーク付きの製品
                  </li>
                </ul>
                <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/product-safety/summer/img-13.png" alt="" width="311" height="180" loading="lazy">
                  <p><span class="u-Adjust_Mt-8 c-Txt_Cap">※出典：<a href="https://www.meti.go.jp/policy/consumer/seian/denan/act_outline.html"
                      class="c-Link_Txt-inline" target="_blank" rel="noopener noreferrer">経済産業省ウェブサイト<span
                        class="c-Icon_New-window-l"></span></a></span></p>
                </div>
              </dd>
            </div>
            <div>
              <dt>USBケーブル</dt>
              <dd>
                <ul class="c-List_Text-disc">
                  <li>メーカー純正品</li>
                  <li>携帯電話会社で販売している製品</li>
                  <li>USB認証マーク付きの製品</li>
                </ul>
              </dd>
            </div>
          </dl>
        </div>
      </section>
    </div>

    <div class="<%= layout %>_Bg-monotone-97">
      <div class="l-System_Container">
        <section>
          <h2 class="c-Heading_Lv2">楽天モバイルの安全啓発活動</h2>
          <p class="u-Adjust_Mt-16">楽天モバイルでは、業界団体であるモバイルコンピューティング推進コンソーシアム（MCPC）を通じて、他の携帯電話会社や製品メーカー、アクセサリメーカーとともに安全啓発活動を実施しています。</p>
          <div class="u-Adjust_Mt-24 u-Adjust_Mt-pc-32 <%= layout %>_Pc2col">
            <div>
              <p class="c-Txt_Emp-01">安全啓発ロゴ・キャッチフレーズ</p>
              <img src="<%= sitepath %>assets/img/guide/product-safety/summer/img-14.png" alt="キケン！水ぬれ充電 あぶない！電池への衝撃" width="504" height="287" loading="lazy">
              <p class="u-Adjust_Mt-8">広く知っていただくために、ロゴ・キャッチフレーズを制作し、水ぬれ充電の危険性を訴求しています。</p>
            </div>
            <div>
              <p class="c-Txt_Emp-01">安全啓発動画</p>
              <img src="<%= sitepath %>assets/img/guide/product-safety/summer/img-15.png" alt="MCPC スマホ使うなら気をつけて" width="504" height="287" loading="lazy">
              <p class="u-Adjust_Mt-8">スマートフォンを充電する際の注意動画を制作し、幅広い利用者層に訴求しています。</p>
              <p class="u-Adjust_Mt-8">
                <a href="https://www.youtube.com/watch?v=cTZ-8cgqIt4" class="c-Link_Txt-inline" target="_blank" rel="noopener noreferrer">安全啓発動画を見る<span class="c-Icon_New-window-l"></span></a>
              </p>
            </div>
          </div>
          <p class="u-Adjust_Mt-32 u-Adjust_Mt-pc-24">
            <a href="https://www.mcpc-jp.org/safe/#tab02" class="c-Link_Txt-inline" target="_blank" rel="noopener noreferrer">MCPC『気をつけて！スマートフォンの使い方』のページはこちら<span class="c-Icon_New-window-l"></span></a>
          </p>
          <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">他通信業者でも同様のテーマで安全啓発活動を行っています。</h4>
          <ul class="c-List_Text-disc u-Adjust_Mt-16">
            <li><a href="https://apprev.smt.docomo.ne.jp/article/2158416/?utm_source=tw&utm_medium=social&utm_campaign=dapp_202307_4carrier-rm" class="c-Link_Txt-inline" target="_blank" rel="noopener noreferrer">NTTドコモ<span class="c-Icon_New-window-l"></span></a></li>
            <li><a href="https://www.au.com/mobile/gimon/lp/ts202302/" class="c-Link_Txt-inline" target="_blank" rel="noopener noreferrer">KDDI<span class="c-Icon_New-window-l"></span></a></li>
            <li><a href="https://www.softbank.jp/sbnews/entry/20180803_01" class="c-Link_Txt-inline" target="_blank" rel="noopener noreferrer">ソフトバンク<span class="c-Icon_New-window-l"></span></a></li>
          </ul>
        </section>
      </div>
    </div>

    <%- include('/include/guide/product-safety/_warranty-service', { lid: 'guide_product-safety-summer' }) %>
    <%- include('/include/guide/_inquiry') %>
    <%- include('/include/guide/_review') %>

    <footer class="g-Footer">
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>

  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
  <script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
</body>
</html>
