<% const pagetitle = "Wi-Fiルーター／周辺機器" -%>
<% const directories = [{path:"product/", label:"製品"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルのWi-Fiルーターと周辺機器のラインアップ。Rakuten WiFi Pocket 2Cなどのモバイルルーターのスペックがご覧いただけます',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/product-top.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/internet/internet-top.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

  <%- include('/include/_header') %>

  <div class="c-Breadcrumbs_Head">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <div class="l-System_Container">
    <p class="c-Txt_Cap u-Adjust_Align-right u-Adjust_Mt-8">※表記の金額はすべて税込です。</p>
    <h1 class="c-Heading_Lv1 u-Adjust_Mt-8"><%= pagetitle %></h1>
    <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
      <a href="<%= sitepath %>campaign/hand-5g-wifi-pocket-1yen/?l-id=product_internet_campaign_hand-5g-wifi-pocket-1yen" class="c-Banner_Hover-act">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/internet/top/rakuten-hand-5g-343-108-231124.png" width="686" height="216">
          <img src="<%= sitepath %>assets/img/product/internet/top/rakuten-hand-5g-1032-160-231124.png" width="1032" height="160" alt="2回線目以降でも対象！楽天モバイルへお申し込みでRakuten WiFi Pocket 2Cが1円で購入できるお得なキャンペーン">
        </picture>
      </a>
    </div>
  </div>

  <div class="internet-top-Layout_Main">
    <div class="js-Tab">
      <div class="internet-top-Layout_Scroll internet-top-Layout_Scroll-border">
        <ul role="tablist" class="internet-top-List">
          <!-- <li id="tab-menu1" role="tab" aria-selected="false" aria-controls="tab-content1" data-ratId="product_internet_home-antenna" data-ratEvent="click" data-ratParam="all">ホームアンテナ</li> -->
          <li id="tab-menu2" role="tab" aria-selected="true" aria-controls="tab-content2" data-ratId="product_internet_mobile-router" data-ratEvent="click" data-ratParam="all">モバイルルーター</li>
        </ul>
      </div>
      <div class="internet-top-Layout_Item">
        <div class="l-System_Container">
          <!-- <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu1">
            <ul class="internet-top-Card">
              <li>
                <a href="<%= sitepath %>product/internet/rakuten-casa/" class="c-Card_Normal">
                  <div class="internet-top-Card_Label"></div>
                  <figure><img src="<%= sitepath %>assets/img/product/internet/rakuten-casa/pht-device-00.png" alt=""></figure>
                  <ul class="internet-top-Card_Color">
                    <li><span class="color-white" style="background: #ffffff;"></span></li>
                    <li><span style="background: #222222;"></span></li>
                  </ul>
                  <h3 class="c-Heading_Lv3 internet-top-Card_Name">Rakuten Casa</h3>
                  <div class="internet-top-Card_Price">
                    <div class="u-Adjust_Mt-16 u-Adjust_Align-right c-Txt_Emp-02 c-Txt_Normal-ss">
                      ※事務手数料3,000円（税込）<br>
                      ※設置後3,000ポイント還元
                    </div>
                    <p class="u-Adjust_Mt-16 u-Adjust_Align-right"><span class="internet-top-Card_Price-font c-Txt_Emp-01 c-Txt_Normal-ll">0</span>円</p>
                  </div>
                </a>
              </li>
            </ul>
          </div> -->
          <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu2">
            <ul class="internet-top-Card">
              <li>
                <a href="<%= sitepath %>product/internet/rakuten-wifi-pocket-2c/?l-id=product_internet_rakuten-wifi-pocket-2c" class="c-Card_Normal">
                  <!-- <div class="internet-top-Card_Label"><div class="internet-top-Card_Label-special">製品＋プランセット購入で1円※1</div></div> -->
                  <p class="u-Adjust_Align-center u-Adjust_Mt-8"><span class="c-Txt_Emp-02">&nbsp;</span></p>
                  <figure class="u-Adjust_Mt-16"><img src="<%= sitepath %>assets/img/product/internet/top/img-usb-typec.png" alt=""></figure>
                  <ul class="internet-top-Card_Color">
                    <li><span class="color-white" style="background: #ffffff;"></span></li>
                    <li><span style="background: #222222;"></span></li>
                  </ul>
                  <h3 class="c-Heading_Lv3 internet-top-Card_Name">Rakuten WiFi Pocket 2C</h3>
                  <div class="internet-top-Card_Price">
                    <dl class="internet-top-Card_Price-detail">
                      <div>
                        <dt>製品価格（税込）</dt>
                        <dd>
                          <span class="internet-top-Card_Price-font">7,980</span>円
                        </dd>
                      </div>
                      <div>
                        <dt><span class="c-Txt_Normal">プランセット値引き</span><span class="c-Txt_Normal-ss">※1</span></dt>
                        <dd><span class="internet-top-Card_Price-font">-7,979</span>円</dd>
                      </div>
                    </dl>
                    <div class="internet-top-Card_Price-total u-Adjust_Mt-pc-64">
                      <p class="internet-top-Card_Price-total-zero"><span></span><span class="internet-top-Card_Price-font">1</span>円</p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
            <ul class="u-Adjust_Mt-24 c-Txt_Cap">
              <li><span>※1</span>「<a href="<%= sitepath %>campaign/hand-5g-wifi-pocket-1yen/#campaign-rule1875" class="c-Link_Txt">Rakutenオリジナル製品 1円キャンペーン</a>」適用時。おひとり様につき、1点までの適用となります。</li>
              <li><span>※</span>取得した楽天ポイントは楽天モバイルや楽天の各サービスでご利用できます。詳しくは<a href="<%= sitepath %>guide/point/" class="c-Link_Txt">楽天ポイントのページ</a>をご覧ください。</li>
              <li><span>※</span>モバイルルーターでは「Rakuten Link」をご利用いただけません。「Rakuten Link」をご利用いただく場合は、楽天回線対応のスマートフォンが必要になります。</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  <div class="l-System_Container">
    <h2 class="c-Heading_Lv2 u-Adjust_Mt-48">おすすめオプション</h2>
    <ul class="internet-top-Layout_List">
      <li>
        <div class="c-Theme-Light">
          <p class="c-Txt_Emp-01 c-Txt_Normal-m u-Adjust_Mt-8">
            <a href="<%= sitepath %>service/iphone/upgrade-program/?l-id=product_top_service_iphone_upgrade-program" class="c-Link_Txt">スマホ交換保証プラス</a>
          </p>
          <div class="internet-top-Layout_Grid u-Adjust_Mt-16">
              <div class="l-Media_Image">
                <figure><img src="<%= sitepath %>assets/img/product/img-service-replacement.png?220413" alt=""></figure>
              </div>
              <div>
                <p class="c-Txt_Emp-02">加入できるのは購入時のみ</p>
                <p class="u-Adjust_Mt-8">故障・紛失時に新品同等の同一機種に交換！最短当日中※にお届け</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※対象地域：東京／神奈川／千葉／埼玉（12時までに受付の場合）</p>
              </div>
          </div>
        </div>
      </li>
      <li>
        <div class="c-Theme-Light">
          <p class="c-Txt_Emp-01 c-Txt_Normal-m u-Adjust_Mt-8">
            <a href="<%= sitepath %>service/iphone/applecare/?l-id=product_top_service_iphone_applecare" class="c-Link_Txt">スマホ下取りサービス</a>
          </p>
          <div class="internet-top-Layout_Grid u-Adjust_Mt-16">
              <div class="l-Media_Image">
                <figure><img src="<%= sitepath %>assets/img/product/img-service-tradein-230222.png" alt=""></figure>
              </div>
              <div>
                <p>Webで簡単査定。お使いのスマホを高額下取りします。</p>
              </div>
          </div>
        </div>
      </li>
    </ul>

    <div class="u-Adjust_Mt-48">
      <%- include('/include/hikari/usecase/_bnr', {lid: 'product_internet'}) %>
    </div>

    <div class="u-Adjust_Mt-48">
      <%- include('/include/service/check/_bnr', {lid: 'product_internet_service_check'}) %>
    </div>

    <div class="u-Adjust_Mt-48 u-Adjust_Align-center">
      <a class="c-Banner_Hover-act" href="<%= sitepath %>fee/simulation/?l-id=product_internet_fee_un-limit_simulation">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-fee-simulation-343-108-240216.png" width="686" height="216">
          <img src="<%= sitepath %>assets/img/bnr/bnr-fee-simulation-1032-160-240216.png" alt="楽天モバイルに乗り換えるだけでどれだけおトクになる？3ステップでわかる！料金＆ポイントかんたんシミュレーション！他社プランと比較もできる" width="1032" height="160" loading="lazy">
        </picture>
      </a>
    </div>

  </div>

  </div>

  <footer class="g-Footer">

    <div class="g-Footer_Aside">

      <%- include('/include/footer/related/_related-product-top-v2.ejs') %>

      <%- include('/include/footer/bnr/_bnr.ejs') %>

      <%#- include('/faq/include/related-product.ejs') %>

    </div>
    <div class="l-System_Container">
      <div class="c-Breadcrumbs_Foot">
        <ul>
          <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ if (typeof directories !== 'undefined') { _%>
          <%_ let dirs = []; _%>
          <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
              <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
              <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
          <%_ }) _%>
          <%_ } _%>
          <li aria-current="true"><%= pagetitle %></li>
        </ul>
      </div>
    </div>

    <%- include('/include/_footer') %>

  </footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
