<% const pagetitle = "ショップ（店舗）" -%>
<%-
 include('/_header', {
    pagetitle,
    description: '楽天モバイルのショップ（店舗）ページ。日本全国にある、お近くの楽天モバイル店舗の検索ができます。お店ではスタッフによる料金シミュレーション、料金プランのご案内のほか、新商品をお試しいただけます。ご来店の際は、事前予約をおすすめしております。',
    noindex: false,
    pathname: filepath,
    browseragent: true,
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/shop/shop-top/shop-top.css?20240424">
<%- include('/include/_append-head') %>
<style>
  .pac-container {
    display: none !important;
  }
</style>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<%- include('/include/_breadcrumbs', {
  type: 'head',
  pagetitle,
}) %>

<div id="attention"></div>
<div class="c-Hero shop-Top_Hero">
  <div class="c-Hero_Content shop-Top_Hero_Content">
    <h1><span><%= pagetitle %></span></h1>
  </div>
</div>

<div class="shop-Layout_Top-main">

  <div class="shop-Top_Appeal">
    <ul class="shop-Top_Appeal-list">
      <li>
        <img src="<%= sitepath %>assets/img/common/icon-clock.svg?20230804" alt="電話番号そのままで即日使えます" width="64" height="64">
        <div>電話番号<br class="u-Show_Sp">そのままで<br><span>即日使えます</span></div>
      </li>
      <li>
        <img src="<%= sitepath %>assets/img/common/icon-setting.svg?20230804" alt="お申し込みから初期設定まで丁寧にサポートします" width="64" height="64">
        <div>お申し込みから<br class="u-Show_Sp">初期設定まで<br><span>丁寧にサポートします</span></div>
      </li>
      <li>
        <img src="<%= sitepath %>assets/img/common/icon-try-phone.svg?20230804" alt="気になる最新スマホをお試しできます" width="64" height="64">
        <div>気になる<br class="u-Show_Sp">最新スマホを<br><span>お試しできます</span></div>
      </li>
    </ul>
  </div>

  <div class="shop-Top_Notice">
    <div>
      <p><span class="c-Icon_Sign-info-l"></span>ご来店の際は事前の来店予約がおすすめです</p>
    </div>
  </div>

  <div class="l-System_Container u-Adjust_Mt-8 u-Adjust_Align-right">
    <a href="<%= sitepath %>shop/en/?l-id=shop_shop_en" class="c-Link_Txt-inline-icon">English<span class="c-Icon_Chevron-right"></span></a>
  </div>

  <div class="shop-Top_Anchor">
    <ul class="shop-Top_Anchor-link">
      <li><a href="#shop" class="c-Link_Txt-inline js-scroll" data-ratid="shop_find-shop" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>ショップを探す</a></li>
      <li><a href="#cando" class="c-Link_Txt-inline js-scroll" data-ratid="shop_service" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>ショップでできること</a></li>
      <li><a href="#before" class="c-Link_Txt-inline js-scroll" data-ratid="shop_belongings" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>ご来店の前に</a></li>
    </ul>
  </div>

  <div class="l-System_Container u-Adjust_Mt-40">
    <a href="<%= sitepath %>shop/panda-desgin-shop/?l-id=shop_shop_panda-desgin-shop" class="c-Banner_Hover-act">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-panda-design-shop-328-185-240220.png" width="100%">
        <img src="<%= sitepath %>assets/img/bnr/bnr-panda-design-shop-1032-160-240220.png" width="1032" height="160" alt="楽天モバイルショップ全店舗がお買いものパンダデザインにリニューアル！">
      </picture>
    </a>
  </div>

  <div class="l-System_Container u-Adjust_Mt-40">
    <div class="js-shop-Carousel c-Carousel">
      <div>
        <a href="<%= sitepath %>shop/weekday-reservation/?l-id=shop_shop_weekday-reservation">
          <img src="<%= sitepath %>assets/img/bnr/bnr-weekday-reservation-328-185.png" width="480" height="270"
            alt="平日限定！楽天モバイルショップの来店予約とご来店アンケートに回答で100ポイント！">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/referral/?l-id=shop_campaign_referral">
          <img src="<%= sitepath %>assets/img/bnr/bnr-referral-328-185-240201.png" width="480" height="270"
            alt="楽天モバイル紹介キャンペーン">
        </a>
      </div>
      <div>
        <a href="https://event.rakuten.co.jp/okaimonopanda/line/mobileshop/?scid=wi_grp_gmx_linemobileshop_mno_shop_top" target="_blank">
          <img src="<%= sitepath %>assets/img/bnr/bnr-panda-line-stamp-328-185.png" width="480" height="270"
            alt="お買いものパンダ「最強ポジティブ」LINEスタンプGET！">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/iphone-point/?l-id=shop_campaign_iphone-point">
          <img src="<%= sitepath %>assets/img/bnr/bnr-iphone-point-328-185-240517.png" width="480" height="270"
            alt="対象iPhoneを一括または24回払いで購入＆楽天モバイルへ初めて申し込み＆他社から電話番号そのまま乗り換えで最大32,000円相当おトク！">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/android-discount/?l-id=shop_campaign_android-discount">
          <img src="<%= sitepath %>assets/img/bnr/bnr-android-discount-328-185-240522.png" width="480" height="270"
            alt="楽天モバイルお申し込み＆対象製品ご購入で最大26,930円値引き！">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/start-point/?l-id=shop_campaign_start-point">
          <img src="<%= sitepath %>assets/img/bnr/bnr-start-point-328-185-240522.png" width="480" height="270"
            alt="楽天モバイルへ初めてお申し込み＋他社から電話番号そのまま乗り換え＋対象のAndroid製品をご購入いただくと最大12,000ポイント還元！他社から乗り換え以外の方でも最大8,000ポイント還元中！">
        </a>
      </div>
      <div>
        <a href="https://event.rakuten.co.jp/mobile/popup/?scid=wi_ich_mobile_life_plus_store_5kaime_raitenyoyaku" target="_blank">
          <img src="<%= sitepath %>assets/img/bnr/bnr-ichiba-popup-328-185.png" width="480" height="270"
            alt="楽天モバイルショップ対象店舗限定。楽天市場POPUPイベント開催！">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>fee/simulation/?l-id=shop_fee_un-limit_simulation">
          <img src="<%= sitepath %>assets/img/bnr/bnr-fee-simulation-328-185-240216.png" width="480" height="270"
            alt="楽天モバイルに乗り換えるだけでどれだけおトクになる？3ステップでわかる！料金＆ポイントかんたんシミュレーション！他社プランと比較もできる">
        </a>
      </div>
    </div>
    <div class="c-Carousel_Nav-v2-wrap">
      <div class="c-Carousel_Nav-v2"></div>
      <div class="c-Carousel_Nav-v2-bar"></div>
    </div>
  </div>

  <div class="l-System_Container">
    <div class="c-Accordion u-Adjust_Mt-40">
      <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>店頭でのiPhone購入について</button>
      <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel u-Adjust_Align-left" role="region" aria-labelledby="accordion-2" aria-hidden="true" style="display: none;">
        <p>製品（iPhone）をお引渡しする際に、楽天モバイルのSIM、他社のSIM、店内Wi-Fiのいずれかを用いたネットワーク接続確認を行います。ネットワーク接続確認の実施に同意いただけない場合は、製品（iPhone）の 販売をお断りさせていただきます。<br>あらかじめご了承ください。</p>
      </div>
    </div>
  </div>

  <div class="l-System_Container u-Adjust_Mt-56">
    <h2 class="c-Heading_Lv2 u-Adjust_Align-center" id="shop">ショップ（店舗）を探す</h2>

    <h3 class="shop-Top_Heading c-Heading_Lv3 u-Adjust_Mt-32">都道府県から探す</h3>
    <div class="l-Media_List-2 shop-Layout_Media">
      <div>
        <div class="c-Form_Select">
          <select name="" id="js-shop-Search_Select-pref">
            <option value="">都道府県を選択</option>
          </select>
          <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
        </div>
      </div>
      <div>
        <div class="c-Form_Select">
          <select name="" id="js-shop-Search_Select-city" aria-disabled="true" disabled>
            <option value="">市区町村を選択</option>
          </select>
          <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
        </div>
      </div>
    </div>

    <div class="u-Adjust_Align-center u-Adjust_Mt-24">
      <button data-ratid="shop_shop_search" data-ratevent="click" data-ratparam="all" id="js-shop-Search_Prefcity" class="js-Modal_Close c-Btn_Secondly-large" aria-disabled="true" disabled><span>検索する</span></button>
    </div>

    <h3 class="shop-Top_Heading c-Heading_Lv3 u-Adjust_Mt-56" id="js-shop-Search">現在地・キーワードから探す</h3>
    <div class="shop-Search_Map">
      <div id="filter-by-service" class="shop-Search_Filters" aria-hidden="false">
        <div class="c-Data">
            <div>
                <a data-ratid="shop_shop-Search_Filter" data-ratevent="click" data-ratparam="all" href="#shop-Search_Filter" class="c-Link_Txt-inline js-Modal" style="white-space:nowrap;"><span class="c-Icon_Sliders-l c-Data_Icon"></span>対応サービス・店舗条件で絞り込む</a>
                <div id="shop-Search_Filter" style="display:none;">
                  <ul class="shop-Search_Service-list">
                    <li id="service-15" aria-hidden="true">
                      <label class="c-Form_Checkboxblock">
                        <input type="checkbox" name="js-shop-Search_Map-filtervalue" value="15" data-filterlabel="iPhone取扱い">
                        <span class="c-Form_Checkboxblock-wrap">
                          <span class="c-Icon_Check"></span><span class="c-Form_Checkboxblock-label">iPhone取扱い</span>
                        </span>
                      </label>
                    </li>
                    <li id="service-2" aria-hidden="true">
                      <label class="c-Form_Checkboxblock">
                        <input type="checkbox" name="js-shop-Search_Map-filtervalue" value="2" data-filterlabel="Apple Watch取扱い">
                        <span class="c-Form_Checkboxblock-wrap">
                          <span class="c-Icon_Check"></span><span class="c-Form_Checkboxblock-label">Apple Watch取扱い</span>
                        </span>
                      </label>
                    </li>
                    <li id="service-9" aria-hidden="true">
                      <label class="c-Form_Checkboxblock">
                        <input type="checkbox" name="js-shop-Search_Map-filtervalue" value="9" data-filterlabel="Rakuten Turbo取扱い">
                        <span class="c-Form_Checkboxblock-wrap">
                          <span class="c-Icon_Check"></span><span class="c-Form_Checkboxblock-label">Rakuten Turbo取扱い</span>
                        </span>
                      </label>
                    </li>
                    <li id="service-1" aria-hidden="true">
                      <label class="c-Form_Checkboxblock">
                        <input type="checkbox" name="js-shop-Search_Map-filtervalue" value="1" data-filterlabel="SIMタイプ変更／再発行">
                        <span class="c-Form_Checkboxblock-wrap">
                          <span class="c-Icon_Check"></span><span class="c-Form_Checkboxblock-label">SIMタイプ変更／再発行</span>
                        </span>
                      </label>
                    </li>
                    <li id="service-3" aria-hidden="true">
                      <label class="c-Form_Checkboxblock">
                        <input type="checkbox" name="js-shop-Search_Map-filtervalue" value="3" data-filterlabel="機種変更">
                        <span class="c-Form_Checkboxblock-wrap">
                          <span class="c-Icon_Check"></span><span class="c-Form_Checkboxblock-label">機種変更</span>
                        </span>
                      </label>
                    </li>
                    <li id="service-4" aria-hidden="true">
                      <label class="c-Form_Checkboxblock">
                        <input type="checkbox" name="js-shop-Search_Map-filtervalue" value="4" data-filterlabel="アクセサリ">
                        <span class="c-Form_Checkboxblock-wrap">
                          <span class="c-Icon_Check"></span><span class="c-Form_Checkboxblock-label">アクセサリ</span>
                        </span>
                      </label>
                    </li>
                    <li id="service-7" aria-hidden="true">
                      <label class="c-Form_Checkboxblock">
                        <input type="checkbox" name="js-shop-Search_Map-filtervalue" value="7" data-filterlabel="ひかり">
                        <span class="c-Form_Checkboxblock-wrap">
                          <span class="c-Icon_Check"></span><span class="c-Form_Checkboxblock-label">ひかり</span>
                        </span>
                      </label>
                    </li>
                    <li id="service-8" aria-hidden="true">
                      <label class="c-Form_Checkboxblock">
                        <input type="checkbox" name="js-shop-Search_Map-filtervalue" value="8" data-filterlabel="でんき">
                        <span class="c-Form_Checkboxblock-wrap">
                          <span class="c-Icon_Check"></span><span class="c-Form_Checkboxblock-label">でんき</span>
                        </span>
                      </label>
                    </li>
                    <li id="service-6" aria-hidden="true">
                      <label class="c-Form_Checkboxblock">
                        <input type="checkbox" name="js-shop-Search_Map-filtervalue" value="6" data-filterlabel="楽天カード">
                        <span class="c-Form_Checkboxblock-wrap">
                          <span class="c-Icon_Check"></span><span class="c-Form_Checkboxblock-label">楽天カード</span>
                        </span>
                      </label>
                    </li>
                    <li id="service-5" aria-hidden="true">
                      <label class="c-Form_Checkboxblock">
                        <input type="checkbox" name="js-shop-Search_Map-filtervalue" value="5" data-filterlabel="ガラスコーティング">
                        <span class="c-Form_Checkboxblock-wrap">
                          <span class="c-Icon_Check"></span><span class="c-Form_Checkboxblock-label">ガラスコーティング</span>
                        </span>
                      </label>
                    </li>
                    <li id="service-13" aria-hidden="true">
                      <label class="c-Form_Checkboxblock">
                        <input type="checkbox" name="js-shop-Search_Map-filtervalue" value="13" data-filterlabel="リサイクル">
                        <span class="c-Form_Checkboxblock-wrap">
                          <span class="c-Icon_Check"></span><span class="c-Form_Checkboxblock-label">リサイクル</span>
                        </span>
                      </label>
                    </li>
                    <li id="service-14" aria-hidden="true">
                      <label class="c-Form_Checkboxblock">
                        <input type="checkbox" name="js-shop-Search_Map-filtervalue" value="14" data-filterlabel="故障受付">
                        <span class="c-Form_Checkboxblock-wrap">
                          <span class="c-Icon_Check"></span><span class="c-Form_Checkboxblock-label">故障受付</span>
                        </span>
                      </label>
                    </li>
                    <li id="service-12" aria-hidden="true">
                      <label class="c-Form_Checkboxblock">
                        <input type="checkbox" name="js-shop-Search_Map-filtervalue" value="12" data-filterlabel="あんしん操作サポート">
                        <span class="c-Form_Checkboxblock-wrap">
                          <span class="c-Icon_Check"></span><span class="c-Form_Checkboxblock-label">あんしん操作サポート</span>
                        </span>
                      </label>
                    </li>
                    <li id="service-16" aria-hidden="true">
                      <label class="c-Form_Checkboxblock">
                        <input type="checkbox" name="js-shop-Search_Map-filtervalue" value="16" data-filterlabel="データ移行サポート">
                        <span class="c-Form_Checkboxblock-wrap">
                          <span class="c-Icon_Check"></span><span class="c-Form_Checkboxblock-label">データ移行サポート</span>
                        </span>
                      </label>
                    </li>
                    <li id="service-10" aria-hidden="true">
                      <label class="c-Form_Checkboxblock">
                        <input type="checkbox" name="js-shop-Search_Map-filtervalue" value="10" data-filterlabel="駅近">
                        <span class="c-Form_Checkboxblock-wrap">
                          <span class="c-Icon_Check"></span><span class="c-Form_Checkboxblock-label">駅近</span>
                        </span>
                      </label>
                    </li>
                    <li id="service-11" aria-hidden="true">
                      <label class="c-Form_Checkboxblock">
                        <input type="checkbox" name="js-shop-Search_Map-filtervalue" value="11" data-filterlabel="駐車場">
                        <span class="c-Form_Checkboxblock-wrap">
                          <span class="c-Icon_Check"></span><span class="c-Form_Checkboxblock-label">駐車場</span>
                        </span>
                      </label>
                    </li>
                  </ul>
                  <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                    <button type="button" id="js-shop-Search_Map-filter" class="c-Btn_Secondly-large js-Modal_Close">検索する</button>
                  </div>
                </div>
            </div>
        </div>
        <div id="js-shop-Search_Map-filters" class="shop-Search_Filters-label"></div>
      </div>
      <div class="shop-Search_Map-head">
        <!-- <div class="c-Search_Container form-group"> -->
        <div class="c-Search_Container">
          <span class="glyphicon glyphicon-search"></span>
          <input type="text" class="form-control controls c-Search_Input" id="js-shop-Search_Map-input" aria-describedby="searchHelp" placeholder="住所・建物名で探す" autocomplete="off">
          <div class="c-Search_Btn js-shop-Search_Btn" data-ratid="shop_map_search" data-ratevent="click" data-ratparam="all"><input type="submit" value="" class="c-Search_Submit"><span class="c-Icon_Search c-Search_Icon"></span></div>
        </div>
      </div>
      <div class="shop-Search_Map-body">
        <button type="button" class="shop-Search_Map-button c-Btn_Regular" id="js-shop-Search_Map-location"><span>現在地</span></button>
        <div class="shop-Search_Map-container" id="js-shop-Search_Map"></div>
        <div class="shop-Search_Map-loading js-shop-Search_Map-loading">
          <div>読み込み中…</div>
        </div>
      </div>

      <div class="shop-Search_Map-foot">
        <div class="shop-Search_Map-msg c-Form_Txt-error" aria-hidden="true">
          <p>該当するショップが見つかりませんでした。<br>
          条件を変更して、検索ください。</p>
        </div>
      </div>
    </div>

    <div class="shop-Top_Bnr u-Adjust_Align-center">
      <picture>
        <source media="(max-width: 768px)" width="343" height="351" srcset="<%= sitepath %>assets/img/shop/reserve-sp-230804.png">
        <img src="<%= sitepath %>assets/img/shop/reserve-230804.png" width="1032" height="146" alt="事前の来店予約がおすすめです 混雑時も優先してご案内 必要書類も事前確認できて安心 お近くのショップを検索 「予約する」ボタンから予約 ご予約日時にご来店">
      </picture>
    </div>
    <div class="u-Align_Llc u-Bg_Pink5 u-Adjust_Px-16">
      <p class="u-Adjust_Pb-16 c-Txt_Emp-01 ">
        <span class="c-Txt_Emp-02">お電話でも来店予約</span>を受け付けています。店舗ページに記載の<span class="c-Txt_Emp-02">電話番号</span>からご予約ください
      </p>
    </div>

    <div class="shop-Top_Bnr u-Adjust_Align-center u-Adjust_Mt-40">
      <a href="<%= sitepath %>guide/application-support/?l-id=shop_guide_application-support01" class="c-Banner_Hover-act">
        <picture>
          <source media="(max-width: 768px)" width="343" height="351" srcset="<%= sitepath %>assets/img/shop/application-support-sp.png">
          <img src="<%= sitepath %>assets/img/shop/application-support.png" width="1032" height="72" alt="お近くにショップがない ショップに行く時間がないお客様に！ 電話またはビデオ通話で相談しながらお申し込みいただけます">
        </picture>
      </a>
    </div>

  </div>

  <div class="c-Theme-Light u-Adjust_Pb-48 u-Adjust_Mt-56">
    <div class="l-System_Container shop-Layout_Cando-container">
      <h2 class="c-Txt_Normal-ll u-Adjust_Mt-40 u-Adjust_Align-center c-Txt_Emp-01" id="cando">ショップでできること</h2>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center">お申し込み・ご購入後も安心のサポートサービスをご用意しております。</p>
      <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8 u-Adjust_Align-center">※家電量販店、郵便局内の店舗では一部対応を行っておりません</p>
      <ul class="shop-Layout_Cando u-Adjust_Mt-24">
        <li class="c-Theme-White">
          <h3 class="c-Txt_Normal-l u-Adjust_Align-center c-Txt_Emp-01">お申し込み・お見積り</h3>
          <p class="u-Adjust_Mt-16">料金プラン・各種オプションサービス、おすすめの製品など、分かりやすくご案内します。</p>
          <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/shop/img-03.png" width="200" height="140" alt="">
          </div>
        </li>
        <li class="c-Theme-White">
          <h3 class="c-Txt_Normal-l u-Adjust_Align-center c-Txt_Emp-01">お申し込み後のサポート</h3>
          <p class="u-Adjust_Mt-16">データ移行や保護フィルム貼付、Rakutenオリジナル製品の故障受付など、お申し込み後も丁寧にサポートします。</p>
          <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/shop/img-04.png" width="456" height="140" alt="">
          </div>
        </li>
        <li class="shop-Layout_Cando-wide c-Theme-White">
          <h3 class="c-Txt_Normal-l u-Adjust_Align-center c-Txt_Emp-01">インターネットオプション</h3>
          <p class="u-Adjust_Mt-8 u-Adjust_Align-center">ご自宅のインターネット環境のご相談、お申し込みもお受けしています。</p>
          <div class="shop-Layout_Option u-Adjust_Mt-16">
            <dl class="shop-Layout_Option-hikari u-Adjust_Align-center">
              <dt><img src="<%= sitepath %>assets/img/shop/logo-hikari.png" width="118" height="25" alt="Rakuten 光"></dt>
              <dd>
                <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/shop/txt-hikari.png" width="286" height="30" alt="高速＆安定の光回線！">
                </div>
                <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <a class="c-Btn_Regular" href="<%= sitepath %>hikari/?l-id=shop_hikari">楽天ひかりをもっと詳しく</a>
                </div>
              </dd>
            </dl>
            <dl class="shop-Layout_Option-turbo u-Adjust_Align-center">
              <dt><img src="<%= sitepath %>assets/img/shop/logo-turbo.png" width="150" height="26" alt="Rakuten Turbo"></dt>
              <dd>
                <div class="u-Adjust_Align-center">
                  <p class="c-Heading_Lv4 c-Txt_Emp-02">工事不要ですぐに使える！<br>
                    おうちのWiFi</p>
                </div>
                <div class="u-Adjust_Mt-8 u-Adjust_Align-center">
                  <a class="c-Btn_Regular" href="<%= sitepath %>internet/turbo/?l-id=shop_internet_turbo">Rakuten Turboをもっと詳しく</a>
                </div>
              </dd>
            </dl>
          </div>
        </li>
      </ul>
      <div class="u-Adjust_Mt-24 u-Adjust_Pb-8 u-Adjust_Align-center">
        <a class="c-Btn_Secondly" href="<%= sitepath %>shop/shop-support/?l-id=shop_shop_shop-support">ショップでのサービス詳細を見る</a>
      </div>
      <ul class="shop-Layout_Cando u-Adjust_Mt-24">
        <li class="shop-Layout_Cando-wide c-Theme-White">
          <h3 class="c-Txt_Normal-l u-Adjust_Align-center c-Txt_Emp-01">その他サービスのお申し込みもショップでサポート!</h3>
          <div class="shop-Layout_Service">
            <ul class="shop-Layout_Service-list">
              <li>
                <p><img src="<%= sitepath %>assets/img/shop/img-service-01.png" alt="法人プラン" width="295" height="53"></p>
                <div>ニーズに合わせて選べる<br>おトクな法人プランをご案内中！</div>
              </li>
              <li>
                <p><img src="<%= sitepath %>assets/img/shop/img-service-02.png" alt="楽天カード" width="295" height="53"></p>
                <div>楽天ポイントがザクザク貯まる。<br>毎日をもっとおトクに！</div>
              </li>
              <li>
                <p><img src="<%= sitepath %>assets/img/shop/img-service-03-231001.png" alt="楽天ペイ" width="295" height="53"></p>
                <div>楽天ポイントを貯める！使う！なら<br>楽天ペイで</div>
              </li>
            </ul>
          </div>
        </li>
      </ul>

      <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
        <p><img src="<%= sitepath %>assets/img/shop/img-shop-01.png" alt="あんしんショップ" width="208" height="96" loading="lazy"></p>
        <div class="c-Txt_Cap u-Adjust_Mt-8">楽天モバイルは、一般社団法人全国携帯電話販売代理店協会ならびに、<br class="u-Show_Xxo">
        あんしんショップ認定協議会が運営する「あんしんショップ認定制度」に協力しています。</div>
      </div>

    </div>
  </div>

  <div class="l-System_Container">
    <div class="shop-Layout_Section">
      <div id="top-news"></div>
    </div>
  </div>

  <div class="shop-Top_Beforecomming" id="before">
    <div class="l-System_Container">
      <div class="shop-Top_Beforecomming-contents u-Adjust_Align-center">
        <div>
          <img src="<%= sitepath %>assets/img/shop/img-05.png" width="119" height="157" alt="">
        </div>
        <div>
          <h2 class="c-Heading_Lv2">ご来店の前に</h2>
          <p class="c-Txt_Normal-l u-Adjust_Mt-16 c-Txt_Emp-01">当日ご持参いただくものを、必ずご確認ください。</p>
          <div class="u-Adjust_Mt-16">
            <a href="<%= sitepath %>shop/guide/" class="c-Btn_Regular">
              <span>ご来店時に必要なものを確認する</span>
            </a>
          </div>
        </div>
        <div>
          <picture>
            <source media="(max-width: 1064px)" srcset="<%= sitepath %>assets/img/shop/img-01-sp.png" width="280" height="156">
            <img src="<%= sitepath %>assets/img/shop/img-01.png?20210707" width="207" height="131" alt="">
          </picture>
        </div>
      </div>
    </div>
  </div>

  <div class="l-System_Container u-Adjust_Mt-56">
    <h2 class="c-Heading_Lv2" id="campaign">おすすめ情報</h2>
    <%- include('/include/footer/bnr/_bnr-shop-v2.ejs') %>
  </div>

</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-shop-v2.ejs') %>

    <%#- include('/include/footer/bnr/bnr-shop.ejs') %>

    <%#- include('/faq/include/related-shop.ejs') %>
  </div>
  <div class="l-System_Container">
    <%- include('/include/_breadcrumbs', {
      type: 'foot',
      pagetitle,
    }) %>
  </div>

  <%- include('/include/_footer') %>

</footer>


</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/shop.top.bundle.js?20240521"></script>
<script>
  const sitepath = '/';
  const mapContainer = document.getElementById('js-shop-Search_Map');
  const mapInput = document.getElementById('js-shop-Search_Map-input');
  const mapLocation = document.getElementById('js-shop-Search_Map-location');
  const mapFilter = document.getElementById('js-shop-Search_Map-filter');
  const mapMsg = document.getElementsByClassName('shop-Search_Map-msg')[0];
  const mapSelectedFilters = document.getElementById('js-shop-Search_Map-filters');
  const selectPref = document.getElementById('js-shop-Search_Select-pref');
  const selectCity = document.getElementById('js-shop-Search_Select-city');
  const searchByPrefCity = document.getElementById('js-shop-Search_Prefcity');
  const mapLoading = document.getElementsByClassName('js-shop-Search_Map-loading')[0];
  const mapSetting = {
      apiUrl: 'https://maps.googleapis.com/maps/api/js',
      channel: '000-000791',
      client: 'gme-rakuteninc2',
      libraries: ['places', 'geometry']
  };
  const mapDefaultCenter = {
      lat: Number('35.661853'),
      lng: Number('139.700184')
  };
  const mapDefaultZoom = 13;
  const mapOption = {
      center: mapDefaultCenter,
      mapTypeControl: false,
      fullscreenControl: false,
      streetViewControl: false,
      zoom: mapDefaultZoom
  };
  const clusterStyles = [
  {
      textColor: 'white',
      url: '/assets/img/common/mc/m0.png',
      height: 36,
      width: 36
  }
  ];
  const markerImgSmall = '/assets/img/common/icon-location-s.png';
  const markerImgLarge = '/assets/img/common/icon-location-l.png';

  let today = new Date();
  const filterPublication = function(value) {
      const publicationStartDatetime= value.announcement_info.publication_start_datetime.replace(/-/g, '/');
      const termStart = new Date(publicationStartDatetime);
      if (termStart <= today) {
          if (typeof value.announcement_info.publication_end_datetime !== 'undefined') {
              const publicationEndDatetime = value.announcement_info.publication_end_datetime.replace(/-/g, '/');
              const termEnd = new Date(publicationEndDatetime);
              return today <= termEnd ? true : false;
          } else {
              return true;
          }
      } else {
          return false;
      }
  };
  const checkAvailableService = function(value) {
      const allServices = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16];
      const availableServices = [];
      value.forEach(elem => {
          const arr = elem.supported_features.services;
          availableServices.push.apply(availableServices, arr);
      });
      const availableServicesTrimmed = [...new Set(availableServices)];
      const availableServicesSorted = availableServicesTrimmed.sort((a, b) => a - b);
      const filteredServices = allServices
          .filter(elem => availableServicesSorted.indexOf(elem) > -1);
      return filteredServices;
  }

  function initMap() {

    if (mapContainer) {
        $.ajaxSetup({
            cache: false
        });

        // PROD
        $.getJSON('https://network.mobile.rakuten.co.jp/shopmaster-public/v1/shops')
        // $.getJSON('/assets/json/shop_dummy2.json')
        // $.getJSON('/assets/json/shop_dummy.json')
        // $.getJSON('/assets/json/shop_dummy20230227.json')
            .done(function(rawData) {
                const data = rawData.filter(elem => filterPublication(elem));
                const availableServices = checkAvailableService(data);
                if (availableServices.length !== 0) {
                    filterServices(availableServices);
                } else {
                    hideFilterByService();
                }
                buildMap(data, mapDefaultCenter, false);
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position) {
                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        buildMap(data, pos, true);
                    });
                }
                if (selectPref) {
                    let uniqueCities= setPrefectures(data);
                    selectPref.addEventListener('change', function() {
                      if (selectCity) {
                          setCities(selectPref.value, uniqueCities);
                      }
                      enableSearchByPrefCity();
                    });
                }
                if (selectCity) {
                    selectCity.addEventListener('change', function() {
                        enableSearchByPrefCity();
                    });
                }
                if (searchByPrefCity) {
                    searchByPrefCity.addEventListener('click', function(e) {
                        window.location.href = searchByPrefCity.getAttribute('data-href');
                    });
                }
            })
            .fail(function( jqxhr, textStatus, error ) {
                console.log('error.');
            });
    }
  }

  function buildMap (shopList, pos, isGeolocationEnabled) {
      mapOption.center = pos;
      let filteredList = [];

      let map = new google.maps.Map(mapContainer, mapOption);
      let service = new google.maps.places.PlacesService(map);
      let mc = new MarkerClusterer(map, [],
          {
              gridSize: 60,
              maxZoom: 20,
              styles: clusterStyles
          }
      );
      filteredList = setFilters(shopList);
      setShopmarker(google.maps, map, filteredList, mc);
      calcDistances(google.maps, map, filteredList);

      const checkSessionStRequest = sessionStorage.getItem('shopSessionStRequest')
      const checkSessionStAutoComp = sessionStorage.getItem('shopSessionStAutoComp')
      let inputFormValue = document.querySelector('#js-shop-Search_Map-input');

      if(checkSessionStRequest) {
        const shopSessionStRequest = sessionStorage.getItem('shopSessionStRequest');
        const shopSessionStResults = sessionStorage.getItem('shopSessionStResults');
        const shopSessionStStatus = sessionStorage.getItem('shopSessionStStatus');
        const shopSessionStResultsForArray = JSON.parse(shopSessionStResults);
        map.setCenter(shopSessionStResultsForArray[0].geometry.location);
        map.setZoom(mapDefaultZoom);
        inputFormValue.value = JSON.parse(shopSessionStRequest).query;
      }

      if(checkSessionStAutoComp) {
        const shopSessionStAutoCompForJson = JSON.parse(checkSessionStAutoComp);
        let sw = new google.maps.LatLng(shopSessionStAutoCompForJson.south, shopSessionStAutoCompForJson.west);
        let ne = new google.maps.LatLng(shopSessionStAutoCompForJson.north, shopSessionStAutoCompForJson.east);
        let sessionStAutoBounds = new google.maps.LatLngBounds(sw, ne);
        map.fitBounds(sessionStAutoBounds);
        filteredList = setFilters(shopList);
        setShopmarker(google.maps, map, filteredList, mc);
        calcDistances(google.maps, map, filteredList);
        let shopSessionStAutoCompValueInput = sessionStorage.getItem('shopSessionStAutoCompValue');
        inputFormValue.value = shopSessionStAutoCompValueInput;
        map.setZoom(mapDefaultZoom);
      }

      if (mapInput) {
          let autocomplete = new google.maps.places.Autocomplete(mapInput);
          autocomplete.bindTo('bounds', map);
          autocomplete.setFields(['address_components', 'geometry', 'icon', 'name']);

          const searchShop = place => {
              if (!place.geometry) {
                  let request = {
                      query: mapInput.value,
                      fields: ['name', 'geometry'],
                  };
                  service.findPlaceFromQuery(request, function(results, status) {

                let forSessionStRequest = JSON.stringify({
                  "query": request.query,
                  "fields": [request.fields]
                })
                let forSessionStResults = JSON.stringify(results);
                let forSessionStStatus = JSON.stringify(status);
                sessionStorage.setItem('shopSessionStRequest', forSessionStRequest);
                sessionStorage.setItem('shopSessionStResults', forSessionStResults);
                sessionStorage.setItem('shopSessionStStatus', forSessionStStatus);
                if (status === google.maps.places.PlacesServiceStatus.OK) {
                    map.setCenter(results[0].geometry.location);
                    map.setZoom(mapDefaultZoom);
                    filteredList = setFilters(shopList);
                    setShopmarker(google.maps, map, filteredList, mc);
                    calcDistances(google.maps, map, filteredList);
                    //text検索
                    sessionStorage.setItem('sessionStInputFormValue', inputFormValue.value);
                    sessionStorage.removeItem('shopSessionStAutoComp');
                }
                  });
                  return;
              }
              if (place.geometry.viewport) {
                let shopSessionStAutoComp = JSON.stringify(place.geometry.viewport);
                sessionStorage.setItem('shopSessionStAutoComp', shopSessionStAutoComp);
                  map.fitBounds(place.geometry.viewport);
                  filteredList = setFilters(shopList);
                  setShopmarker(google.maps, map, filteredList, mc);
                  calcDistances(google.maps, map, filteredList);
                  //google検索
                  let shopSessionStAutoCompValue = document.querySelector('#js-shop-Search_Map-input');
                  sessionStorage.setItem('shopSessionStAutoCompValue', shopSessionStAutoCompValue.value);
                  sessionStorage.removeItem('shopSessionStStatus');
                  sessionStorage.removeItem('shopSessionStRequest');
                  sessionStorage.removeItem('shopSessionStResults');
              } else {
                  map.setCenter(place.geometry.location);
                  map.setZoom(mapDefaultZoom);
                  filteredList = setFilters(shopList);
                  setShopmarker(google.maps, map, filteredList, mc);
                  calcDistances(google.maps, map, filteredList);
              }
          };

          autocomplete.addListener('place_changed', function() {
              const place = autocomplete.getPlace();
              searchShop(place);
          });

          const shopSearchBtn = document.querySelector('.js-shop-Search_Btn');
          shopSearchBtn.addEventListener('click', () => {
            searchShop(inputFormValue.value);
          });
      }

      if (mapLocation && isGeolocationEnabled) {
          mapLocation.addEventListener('click', function() {
              map.setCenter(pos);
              map.setZoom(mapDefaultZoom);
              calcDistances(google.maps, map, filteredList);
          });
      } else {
          mapLocation.style.display = 'none';
      }

      if (mapFilter) {
          mapFilter.addEventListener('click', function() {
              filteredList = setFilters(shopList);
              setShopmarker(google.maps, map, filteredList, mc);
              calcDistances(google.maps, map, filteredList);

              const rect = mapInput.getBoundingClientRect();
              const position = rect.top + window.pageYOffset;
              document.documentElement.scrollTop = position;
          });
      }
      mapLoading.setAttribute('aria-hidden', true);
  }

  function setShopmarker(googleMaps, map, shopList, mc) {
      let markers =[];
      let infoWindow = new googleMaps.InfoWindow({
          maxWidth: 320
      });
      const regIcon = {
          url: markerImgSmall,
          scaledSize: new googleMaps.Size(32, 32)
      };
      const largeIcon = {
          url: markerImgLarge,
          scaledSize: new googleMaps.Size(48, 48)
      };

      if (mapMsg) {
          if (shopList.length === 0) {
              mapMsg.setAttribute('aria-hidden', false);
          } else {
              mapMsg.setAttribute('aria-hidden', true);
          }
      }
      const formatDate = function(value) {
          const date = new Date(value);
          return `${date.getFullYear()}年${date.getMonth() + 1}月${date.getDate()}日`;
      };
      const openSign = function(value) {
          const startDate = new Date(value);
          const term = new Date(value);
          term.setDate(term.getDate() + 14);
          if (startDate > today) {
              return `${formatDate(value)}オープン予定`;
          } else if (today <= term) {
              return `${formatDate(value)}オープン`;
          } else {
              return false;
          }
      };
      shopList.forEach(function(shop, index) {
          let position = new googleMaps.LatLng(shop.location.latitude, shop.location.longitude);
          let infoWindowContent = '';
          if (openSign(shop.start_date)) {
              infoWindowContent += `<p class="shop-Search_Infowindow-opensign"><span class="c-Txt_Emp-02">${openSign(shop.start_date)}</span></p>`;
          }
          infoWindowContent += '<p class="shop-Search_Infowindow-title"><a href="/shop-detail/';
          infoWindowContent += shop.code + '">';
          infoWindowContent += shop.name + '</a></p><p class="shop-Search_Infowindow-text">';
          infoWindowContent += shop.location.prefecture + shop.location.city + shop.location.address + ' ' + shop.location.building_name + '</p>';
          if (shop.reservation_info.link_url) {
              infoWindowContent += '<a href="';
              infoWindowContent += shop.reservation_info.link_url;
              infoWindowContent += '" class="c-Btn_Secondly shop-Search_Infowindow-btn"><span>来店予約をする</span></a>';
          }

          markers[index] = new googleMaps.Marker({
              icon: regIcon,
              animation: googleMaps.Animation.DROP,
              position: position
          });
          markers[index].addListener('click', function() {
              markers.forEach(function(marker) {
                  marker.setIcon(regIcon);
              });
              this.setIcon(largeIcon);
              infoWindow.setContent(infoWindowContent);
              infoWindow.open(map, this);
          });
      });

      mc.clearMarkers();
      mc.addMarkers(markers);
  }

  function calcDistances(googleMaps, map, shopList) {
      let center = map.getCenter();
      let nearestLoc = {
          distance: 0
      };
      let bounds = new googleMaps.LatLngBounds();

      shopList.forEach(function(shop, index) {
          let position = new googleMaps.LatLng(shop.location.latitude, shop.location.longitude);
          let distance = Math.round(googleMaps.geometry.spherical.computeDistanceBetween(center, position));

          shop.distance = distance;

          if (index === 0) {
              nearestLoc = shop;
          }
          nearestLoc = nearestLoc.distance > shop.distance ? shop: nearestLoc;
      });

      if (nearestLoc.distance > 4000) {
          bounds.extend(center);
          bounds.extend(new googleMaps.LatLng(nearestLoc.location.latitude, nearestLoc.location.longitude));
          map.fitBounds(bounds);
      }
  }

  function setFilters(data) {
      let filters = [];
      let filterLabels = [];
      let filtervalue = document.querySelectorAll('[name="js-shop-Search_Map-filtervalue"]:checked');


      filtervalue.forEach(function(checked) {
          filters.push(parseInt(checked.value, 10));
          filterLabels.push(checked.getAttribute('data-filterlabel'));
      });

      if (mapSelectedFilters && filterLabels.length > 0) {
          mapSelectedFilters.textContent = '絞り込み条件：' + filterLabels.join(' / ');
      } else {
          mapSelectedFilters.textContent = '';
      }

      return data.filter(function(shop) {
          let services = shop.supported_features.services;
          return filters.every(function(filter) {
              return services.includes(filter);
          });
      });
  }

  function filterServices(arr) {
      arr.forEach(elem => {
          const str = 'service-' + elem;
          const node = document.getElementById(str);
          return node.setAttribute('aria-hidden', 'false');
      })
  }
  function hideFilterByService() {
      const node = document.getElementById('filter-by-service');
      node.setAttribute('aria-hidden', 'true');
  }

  function setPrefectures(data) {
      let options = ['<option value="">都道府県を選択</option>'];
      let flgment = '';
      let uniqueCities = filterUniqueCities(data)
          .map(function(item, index) {
              return {order: getPrefectureCode(item.location.prefecture), region: item.location.region, zipcd: item.location.zip_code.replace('-', '').replace('‐', ''), prefecture: item.location.prefecture, city: item.location.city};
          })
          .sort(function(a, b) {
              return parseInt((a.order + '' + a.zipcd), 10) - parseInt((b.order + '' + b.zipcd), 10);
          });
      uniqueCities.forEach(function(item) {
          flgment = '<option value="' + item.prefecture + '">' + item.prefecture + '</option>';
          if (options.indexOf(flgment) < 0) {
              options.push(flgment);
          }
      });
      selectPref.innerHTML = options.join();

      return uniqueCities;
  }

  function setCities(pref, cities) {
      let options = ['<option value="">市区町村を選択</option>'];
      let flgment = '';
      const sortedCities = cities.sort((a, b) => {
        return a.city < b.city ? -1 : a.city > b.city ? 1 : 0;
      });
      sortedCities.forEach(function(item) {
          flgment = '<option value="' + item.city + '">' + item.city + '</option>';
          if (item.prefecture === pref && options.indexOf(flgment) < 0) {
              options.push(flgment);
          }
      });
      selectCity.innerHTML = options.join();
      if (options.length === 1) {
          selectCity.setAttribute('aria-disabled', true);
          selectCity.setAttribute('disabled', true);
      }
      else {
          selectCity.setAttribute('aria-disabled', false);
          selectCity.removeAttribute('disabled');
      }
  }

  function filterUniqueCities (array) {
    let cities = array.map(function(item) {
      return item.location.prefecture + item.location.city;
    });
    return array.filter(function(item, index) {
      return cities.indexOf(item.location.prefecture + item.location.city) === index;
    });
  }

  function getPrefectureCode(name) {
      const list = ["北海道",
          "青森県","岩手県","宮城県","秋田県","山形県","福島県",
          "茨城県","栃木県","群馬県","埼玉県","千葉県","東京都","神奈川県",
          "新潟県","富山県","石川県","福井県","山梨県","長野県",
          "岐阜県","静岡県","愛知県","三重県",
          "滋賀県","京都府","大阪府","兵庫県","奈良県","和歌山県",
          "鳥取県","島根県","岡山県","広島県","山口県",
          "徳島県","香川県","愛媛県","高知県",
          "福岡県","佐賀県","長崎県","熊本県","大分県","宮崎県","鹿児島県","沖縄県"
      ];
      return list.indexOf(name) + 1;
  }

  function enableSearchByPrefCity() {
      if (searchByPrefCity) {
          let url = sitepath + 'shop/search/?prefecture=' + encodeURI(selectPref.value) + '&city=' + selectCity.value;
          if (selectPref.value !== '') {
              searchByPrefCity.setAttribute('data-href', url);
              searchByPrefCity.setAttribute('aria-disabled', false);
              searchByPrefCity.removeAttribute('disabled');
          } else {
              searchByPrefCity.setAttribute('data-href', '');
              searchByPrefCity.setAttribute('aria-disabled', true);
              searchByPrefCity.setAttribute('disabled', true);
          }
      }
  }
</script>
<script src="<%= sitepath %>assets/js/library/markerclustererplus.min.js?200408"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmiYC8QLzg9uN_RVQ2jkWNR5YRf1z7dfo&libraries=places,geometry&callback=initMap" async defer></script>
<%- include('/include/_append-body') %>
</body>
</html>
