<% const pagetitle = "口座振替でのお支払い方法" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/payment/payment/", label:"支払い方法の確認・変更"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '口座振替でのお支払い方法のご案内。月額料金を、銀行口座の口座振替でお支払いいただけます。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/payment/payment.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <p class="c-Txt_Cap u-Adjust_Align-right">※表記の金額は特に記載のある場合を除きすべて税込です。</p>
    <h1 class="c-Heading_Lv1 u-Adjust_Mt-8">口座振替でのお支払い方法</h1>
    <p class="c-Txt_Normal u-Adjust_Mt-16">
      月額料金のお支払いに、銀行口座からの引き落とし（口座振替）をご利用いただけます。
    </p>
    <h2 class="c-Heading_Lv2 u-Adjust_Mt-40">お選びいただけるお支払い項目</h2>

    <div class="c-Table_Wrap-scroll u-Adjust_Mt-24">
      <table class="c-Table_Container u-Adjust_W-360">
        <colgroup>
          <col class="u-Adjust_W-120">
          <col class="u-Adjust_W-120">
          <col class="u-Adjust_W-120">
          <col>
        </colgroup>
        <thead>
          <tr>
            <th scope="col" colspan="2">お支払い方法</th>
            <th scope="col">口座振替</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2">月額料金、各種手数料<sup>※1</sup>
              <button class="c-Tooltip js-Tooltip-inline" data-tippy-theme="default" data-tippy-content="有料サービス料金が含まれます">
                <span class="c-Icon_Stack c-Tooltip_Icon">
                  <span class="c-Icon_Sign-help-f c-Icon_Stack-icon-f"></span>
                  <span class="c-Icon_Sign-help-l c-Icon_Stack-icon-l"></span>
                </span>
              </button>
            </td>
            <td class="u-Adjust_Align-center">○</td>
          </tr>
          <tr>
            <td rowspan="3">製品代金
              <button class="c-Tooltip js-Tooltip-inline" data-tippy-theme="default" data-tippy-content="スマートフォン、アクセサリー代金が含まれます">
                <span class="c-Icon_Stack c-Tooltip_Icon">
                  <span class="c-Icon_Sign-help-f c-Icon_Stack-icon-f"></span>
                  <span class="c-Icon_Sign-help-l c-Icon_Stack-icon-l"></span>
                </span>
              </button>
            </td>
            <td>一括払い</td>
            <td class="u-Adjust_Align-center">×</td>
          </tr>
          <tr>
            <td>24回払い</td>
            <td class="u-Adjust_Align-center">×</td>
          </tr>
          <tr>
            <td>48回払い</td>
            <td class="u-Adjust_Align-center">×</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ul class="c-List_Cap u-Adjust_Mt-8">
      <li><span>※</span>SIMカード1枚につき1回線での提供となり、1楽天IDにつき、楽天モバイル10回線・Rakuten Turbo 5回線まで契約可能です。</li>
      <li><span>※</span>同一金融機関口座を設定できるのは、2楽天IDまでとなります。</li>
      <li><span>※</span>毎月の引き落とし時に、手数料110円をいただきます。</li>
      <li><span>※</span>口座振替の場合、<a href="<%= sitepath %>guide/payment/point/" class="c-Link_Txt">楽天ポイントをお支払いに利用</a>の適用対象外となります。</li>
    </ul>
    <ul class="c-List_Cap-wide u-Adjust_Mt-8">
      <li><span>※1</span>楽天モバイルの各種手数料は<a href="<%= sitepath %>guide/commission/">こちら</a>をご確認ください。Rakuten Turboの各種手数料は<a href="<%= sitepath %>internet/turbo/fee/">こちら</a>をご確認ください。</li>
    </ul>

    <div class="c-Accordion u-Adjust_Mt-24">
      <button id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>口座振替を指定した場合の、製品代金のお支払いについて</button>
      <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
        <p class="c-Txt_Normal u-Adjust_Pt-16">口座振替で製品代金のお支払いは行えません。下記の代替方法をご検討ください。</p>
        <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/payment/daibiki/" class="c-Link_Txt-inline">代金引換を利用する<span class="c-Icon_Chevron-right"></span></a></p>

        <div class="l-Media_Grid">
          <div class="l-Media_Image">
            <p class="u-Adjust_Mt-32 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/autopay-image-1.png?210719" alt=""></p>
          </div>

        </div>

      </div>
    </div>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-40" id="anc-financial">ご利用可能な金融機関</h3>
    <p class="c-Txt_Normal u-Adjust_Mt-24">楽天銀行、三菱UFJ銀行、みずほ銀行、三井住友銀行、りそな銀行、埼玉りそな銀行、ゆうちょ銀行、PayPay銀行、ソニー銀行、住信SBIネット銀行、セブン銀行、auじぶん銀行、イオン銀行、新生銀行、信用金庫 ほか</p>

    <ul class="c-List_Cap u-Adjust_Mt-24">
      <li><span>※</span>楽天モバイルは、三菱UFJファクター株式会社の「ネット口座振替受付サービス」を利用しております。</li>
      <li><span>※</span>ご利用可能な金融機関、銀行によりお申し込みできない時間帯や、対応していない銀行がございます。（法人口座は対応しておりません。）また、口座登録の際、ご本人確認に必要な項目がございます。<span class="c-Txt_Emp-02">お申し込み前に、下記の「ネット口座振替受付サービス　ご利用可能金融機関一覧」のページにて、ご利用されたい銀行のご利用可能時間、およびご本人確認に必要な項目を、必ずご確認ください。</span></li>
      <li><span>※</span>「ネット口座振替受付サービスご利用可能金融機関一覧」に、「ゆうちょ銀行（金融機関受付方式）」の記載がありますが、楽天モバイルのお支払いではご利用いただけません。「ゆうちょ銀行（Web受付方式）」をご利用ください。</li>
    </ul>
    <p class="u-Adjust_Mt-8">
      <a href="https://www.muf.bk.mufg.jp/collect/net_bank.html" class="c-Link_Txt-inline" target="_blank">ネット口座振替受付サービス ご利用可能金融機関一覧はこちら<span class="c-Icon_New-window-l"></span></a>
    </p>

    <div class="c-Accordion u-Adjust_Mt-40">
      <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>注意事項</button>
      <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
        <ul class="c-List_Text-disc u-Adjust_Pt-16">
          <li>製品の購入金額が一定金額未満の場合、お選びいただけるお支払い方法はクレジットカード／デビットカード払いのみとなります。</li>
          <li>月額料金確定後（毎月4日から10日頃）に口座振替でご請求料金を支払えなかった場合は、別途お送りする請求書にてお支払いください。また請求書発行・発送にあたり、請求書発行費用が発生し、ご利用料金と合算して請求いたします。あらかじめご了承ください。</li>
          <li>一度口座情報が無効となったお客様は、ご利用料金の円滑なお支払いのため、再度のご登録が必要となります。再登録がない場合、以降のお支払いは振込用紙を発送させていただきます。</li>
        </ul>
      </div>
    </div>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-40" id="other">その他のお支払い方法</h3>
    <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/payment/card/" class="c-Link_Txt-inline">クレジットカード・デビットカードでお支払い<span class="c-Icon_Chevron-right"></span></a></p>
    <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/payment/daibiki/" class="c-Link_Txt-inline">代金引換（お届け時現金払い）でお支払い<span class="c-Icon_Chevron-right"></span></a></p>
    <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/payment/point/" class="c-Link_Txt-inline">楽天ポイントをお支払いに利用<span class="c-Icon_Chevron-right"></span></a></p>

    <%- include('/include/guide/_faq') %>

  </div>
</div>




<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">



    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>



</body>
</html>
