<% const pagetitle = "故障紛失保証 with AppleCare Services（交換のご利用方法）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/iphone/applecare/", label:"故障紛失保証 with AppleCare Services"}, {path:"guide/iphone/applecare/", label:"故障紛失保証 with AppleCare Services & iCloud+（お申し込み方法・ご利用方法）"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルで購入したiPhoneの保証サービス「故障紛失保証 with AppleCare Services & iCloud+」を利用した際の交換方法に関して、各サービス内容とご利用方法をご案内いたします。故障の場合は「エクスプレス交換サービス」、盗難・紛失の場合は「盗難・紛失プラン」をご利用ください。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "replacement" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/iphone/applecare/<%= nameSpace %>/replacement.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>

</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>
<div class="l-System">
  <div class="l-System_Container u-Adjust_Pb-24">
    <h1 class="c-Txt_Normal-xl u-Adjust_Mt-32 c-Txt_Emp-01">故障紛失保証 with AppleCare Services & iCloud+（交換のご利用方法）</h1>
    <p class="u-Adjust_Mt-16">故障紛失保証 with AppleCare Services & iCloud+を利用した交換サービスに関して、各サービス内容とご利用方法をご案内いたします。故障か盗難・紛失かで、ご利用いただくサービスが異なりますので、お客様の状況にあわせて、ご利用ください。</p>
    <p class="u-Adjust_Mt-16"><a href="https://support.apple.com/ja-jp/iphone/repair/service/express-replacement" class="c-Link_Txt-inline-icon" target="_blank">Apple社のエクスプレス交換サービスの詳細を見る<span class="c-Icon_New-window-l"></span></a></p>
    <p class="u-Adjust_Mt-16"><a href="https://support.apple.com/ja-jp/HT208491" class="c-Link_Txt-inline-icon" target="_blank">Apple社の盗難・紛失プランの補償請求および詳細を見る<span class="c-Icon_New-window-l"></span></a></p>
    <p class="u-Adjust_Mt-16">「故障紛失保証 with AppleCare Services」をご利用のお客様はこちらをご確認ください。</p>
    <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>service/iphone/applecare/" class="c-Link_Txt-inline">故障紛失保証 with AppleCare Services<span class="c-Icon_Chevron-right"></span></a></p>


    <div class="c-Tab js-Tab u-Adjust_Mt-32">
      <ul class="c-Tab_Items" role="tablist">
        <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">エクスプレス交換サービス</li>
        <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">盗難・紛失プラン</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
        <h2 class="c-Txt_Normal-ll c-Txt_Emp-01 u-Adjust_Mt-24">エクスプレス交換サービス</h2>
        <div class="u-Adjust_Mt-16">
          <p>故障で交換をご希望の場合は、エクスプレス交換サービスをご利用ください。最短翌日でご指定の住所にApple から交換品が届きます。</p>
          <ul class="c-Txt_Cap u-Adjust_Mt-16">
            <li><span>※</span>iPhone本体のみ対象です。画面交換サービスやアクセサリなどは対象外となります。</li>
            <li><span>※</span>Appleが修理または交換サービスで提供する交換品には、Appleの機能要件検査に合格した新品または中古のApple純正パーツが含まれます。</li>
            <li><span>※</span>対象地域：日本国内（離島などの一部地域を除く）</li>
          </ul>
        </div>

        <div class="u-Adjust_Mt-24">
          <dl class="c-Dl_Origin">
            <div>
              <dt>負担額</dt>
              <dd>
                12,900円
                <ul class="c-Txt_Cap">
                  <li><span>※</span>自然故障の場合は無償 ※送料無料 </li>
                </ul>
              </dd>
            </div>
            <div>
              <dt>申請</dt>
              <dd>
                必須
              </dd>
            </div>
            <div>
              <dt>配送日数</dt>
              <dd>
                最短翌日
                <ul class="c-Txt_Cap">
                  <li><span>※</span>交通状況や天候の影響で遅延する可能性があります。</li>
                  <li><span>※</span>対象地域：日本国内（離島などの一部地域を除く）</li>
                </ul>
              </dd>
            </div>
          </dl>
          <ul class="c-Txt_Cap u-Adjust_Mt-16">
            <li><span>※</span>2024年2月21日現在のご利用料金です。</li>
          </ul>
        </div>

        <h2 class="c-Txt_Normal-ll c-Txt_Emp-01 u-Adjust_Mt-64">エクスプレス交換サービスのご利用方法</h2>

        <ul class="c-Flow u-Adjust_Mt-40">
          <li>
            <h3 class="c-Heading_Lv3">1. 電話かチャットで申請する</h3>
            <div class="u-Adjust_Mt-16">
              <p>電話かAppleサポートのチャットでAppleCare アドバイザーにお問い合わせください。<br>
                あらかじめご自分の Apple IDとパスワードをご確認ください。</p>
              <p class="u-Adjust_Mt-16"><a href="tel:0120-277-535" class="c-Link_Txt c-Txt_Normal-m">0120-277-535</a></p>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2. 交換の事前準備をする</h3>
            <div class="u-Adjust_Mt-16">
              <p><span class="c-Txt_Emp-02">交換の前に、必ず以下の対応を行ってください。</span></p>

              <ul class="c-List_Text-disc u-Adjust_Mt-16">
                <li>データのバックアップをとる。</li>
              </ul>
              <div class="u-Adjust_Mt-8">
                <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/iphone/icloud/" class="c-Link_Txt-inline-icon u-Adjust_Mt-8">iCloudでのバックアップ方法<span class="c-Icon_Chevron-right"></span></a></p>
                <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/iphone/itunes/" class="c-Link_Txt-inline-icon u-Adjust_Mt-8">iTunesでのバックアップ方法<span class="c-Icon_Chevron-right"></span></a></p>
              </div>
              <ul class="c-List_Text-disc u-Adjust_Mt-16">
                <li>パスワード、画面ロック、「iPhoneを探す」の解除等のセキュリティ設定を無効化する。</li>
              </ul>
              <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/iphone/find-my-iphone-off/" class="c-Link_Txt-inline-icon">「iPhoneを探す」をオフにする方法<span class="c-Icon_Chevron-right"></span></a></p>
              <ul class="c-List_Text-disc u-Adjust_Mt-16">
                <li>SIMを取り外す。</li>
              </ul>
              <p class="u-Adjust_Mt-8">nanoSIMをご利用の場合は iPhoneから取り外し、安全な場所に保管をお願いいたします。<br>
                eSIMをご利用の場合は、以下よりサービスの停止をお申し込みください。</p>
              <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/sim-lost/" class="c-Link_Txt-inline-icon">利用停止・再開について<span class="c-Icon_Chevron-right"></span></a></p>
              <ul class="c-List_Text-disc u-Adjust_Mt-16">
                <li>アクセサリやカバーを取り外す。</li>
              </ul>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3. 宅配業者に故障したiPhoneを渡し、交換品を受け取る</h3>
            <div class="u-Adjust_Mt-16">
              <p>宅配業者に故障したiPhoneをお渡しいただき、交換品をお受け取りください。</p>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">4. iPhoneのセットアップを行う</h3>
            <div class="u-Adjust_Mt-16">
              <p class="u-Adjust_Mt-8">あらかじめバックアップしておいたデータを使用し、セットアップと初期設定を行ってください。</p>
              <ul class="c-Txt_Cap u-Adjust_Mt-8">
                <li><span>※</span>eSIMをご利用の場合は、<a href="<%= sitepath %>faq/detail/00002047/">「eSIMの再発行を行う」</a>をご確認いただき、再発行を行ってください。</li>
              </ul>
              <div>
                <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/iphone/icloud/index.html#initial_setting" class="c-Link_Txt-inline-icon">iCloudでのバックアップからの復元方法<span class="c-Icon_Chevron-right"></span></a></p>
                <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/iphone/itunes/index.html#initial_setting" class="c-Link_Txt-inline-icon">iTunesでのバックアップからの復元方法<span class="c-Icon_Chevron-right"></span></a></p>
              </div>
            </div>
          </li>
        </ul>
        <p class="u-Adjust_Mt-24">以上がエクスプレス交換サービスのご利用方法になります。</p>
      </div>

      <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
        <h2 class="c-Txt_Normal-ll c-Txt_Emp-01 u-Adjust_Mt-24">盗難・紛失プラン</h2>
        <div class="u-Adjust_Mt-24">
          <p>盗難・紛失の場合は、「盗難・紛失プラン」がご利用できるすべての国で、新品または新品同様の同一機種をお届けします。</p>
          <ul class="c-Txt_Cap u-Adjust_Mt-16">
            <li><span>※</span>iPhone本体のみ対象です。アクセサリなどは対象外となります。</li>
            <li><span>※</span>ご利用には、盗難・紛失される前に「iPhone を探す」がオンになっている必要があります。</li>
            <li><span>※</span>Appleが修理または交換サービスで提供する交換品には、Appleの機能要件検査に合格した新品または中古のApple純正パーツが含まれます。</li>
            <li><span>※</span>盗難・紛失保証申請手続きの際、新しいデバイスの支給を受ける前に、紛失したデバイスのデータ消去、無効化、所有権の譲渡を求められます。</li>
            <li><span>※</span>海外での交換は、在庫が限られていたり、地域やiPhoneのモデルによってオプションが異なり場合があります。</li>
          </ul>
        </div>

        <div class="u-Adjust_Mt-24">
          <dl class="c-Dl_Origin">
            <div>
              <dt>負担額</dt>
              <dd>
                12,900円
                <ul class="c-Txt_Cap">
                  <li><span>※</span>自然故障の場合は無償 ※送料無料 </li>
                </ul>
              </dd>
            </div>
            <div>
              <dt>申請</dt>
              <dd>
                必須
              </dd>
            </div>
            <div>
              <dt>配送日数</dt>
              <dd>
                2～3営業日
                <ul class="c-Txt_Cap">
                  <li><span>※</span>補償請求が承認がされた場合</li>
                </ul>
              </dd>
            </div>
          </dl>
          <ul class="c-Txt_Cap u-Adjust_Mt-16">
            <li><span>※</span>2024年2月21日現在のご利用料金です。</li>
          </ul>
        </div>

        <h2 class="c-Txt_Normal-ll c-Txt_Emp-01 u-Adjust_Mt-64">盗難・紛失プランのご利用方法</h2>

        <ul class="c-Flow u-Adjust_Mt-40">
          <li>
            <h3 class="c-Heading_Lv3">1. 申請の事前準備をする</h3>
            <div class="u-Adjust_Mt-16">
              <p><span class="c-Txt_Emp-02">申請の前に、必ず以下の対応を行ってください。</span></p>

              <ul class="c-List_Text-disc u-Adjust_Mt-16">
                <li><a href="https://icloud.com/find" class="c-Link_Txt-inline u-Adjust_Pr-8" target="_blank">iCloud.com<span class="c-Icon_New-window-l u-Adjust_Pl-24" style="color: #ff008c;"></span></a>の「iPhoneを探す」で紛失モードをオンにする。</li>
              </ul>
              <ul class="c-Txt_Cap">
                <li><span>※</span>補償請求が完全に承認されるまでデバイスをアカウントから削除しないでください。</li>
              </ul>
              <p class="u-Adjust_Mt-16"><a href="https://support.apple.com/ja-jp/guide/icloud/mmfc0f0165/icloud" class="c-Link_Txt-inline-icon" target="_blank">紛失モードの設定方法を確認する<span class="c-Icon_New-window-l"></span></a></p>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2. Appleの補償手続きサイトから請求する</h3>
            <div class="u-Adjust_Mt-16">
              <p>Appleのサイトからオンラインで手続きを開始してください。<br>
                手続きの際には、あらかじめご自分の Apple IDとパスワードをご確認ください。</p>

                <a href="https://support.apple.com/ja-jp/iphone/theft-loss-claims" class="c-Btn_Regular u-Adjust_Mt-16" target="_blank"><span>Apple の補償手続きを開始する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a>

                <p class="u-Adjust_Mt-16">
                  電話でAppleCare アドバイザーにご相談いただく場合は、以下まで直接お問い合わせください。
                </p>

                <p class="u-Adjust_Mt-16"><a href="tel:0120-277-535" class="c-Link_Txt c-Txt_Normal-m">0120-277-535</a></p>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3. 交換品を受け取る</h3>
            <div class="u-Adjust_Mt-16">
              <p>指定した住所にiPhoneが届きますので、お受け取りをお願いいたします。</p>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">4. iPhoneのセットアップを行う</h3>
            <div class="u-Adjust_Mt-16">
              <p>セットアップと初期設定を行ってください。</p>
              <ul class="c-Txt_Cap u-Adjust_Mt-8">
                <li><span>※</span>eSIMをご利用の場合は、<a href="<%= sitepath %>faq/detail/00002047/">「eSIMの再発行を行う」</a>をご確認いただき、再発行を行ってください。</li>
              </ul>
              <div>
                <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/iphone/setting/nanosim/" class="c-Link_Txt-inline-icon">iPhoneの初期設定方法（SIMカード）<span class="c-Icon_Chevron-right"></span></a></p>
                <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/iphone/setting/esim/" class="c-Link_Txt-inline-icon">iPhoneの初期設定方法（eSIM）<span class="c-Icon_Chevron-right"></span></a></p>
              </div>
              <p class="u-Adjust_Mt-16">あらかじめバックアップしておいたデータを使用し、セットアップと初期設定を行ってください。</p>
              <div>
                <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/iphone/icloud/index.html#initial_setting" class="c-Link_Txt-inline-icon u-Adjust_Mt-8">iCloudでのバックアップからの復元方法<span class="c-Icon_Chevron-right"></span></a></p>
                <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/iphone/itunes/index.html#initial_setting" class="c-Link_Txt-inline-icon u-Adjust_Mt-8">iTunesでのバックアップからの復元方法<span class="c-Icon_Chevron-right"></span></a></p>
              </div>
            </div>
          </li>
        </ul>
        <p class="u-Adjust_Mt-24">以上が盗難・紛失プランのご利用方法になります。</p>
      </div>
    </div>

  </div>

  <div class="u-Adjust_Mt-16 u-Adjust_Pb-64 l-System_Container">
    <div class="u-Adjust_Mt-16"><a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップに戻る</span></a></div>
    <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a></div>
  </div>



</div>


<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%- include('/include/footer/related/_related-service-v2.ejs') %>

  </div>
  <%- include('/include/guide/_inquiry') %>
  <div class="l-System_Container">
  <div class="c-Breadcrumbs_Foot">
    <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
  </div>
  </div>
  <%- include('/include/_footer') %>
</footer>
</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/guide/_iphone') %>
<%- include('/include/_append-body') %>
</body>
</html>
