<%_ const accessories = accessoryInfo; _%>

<ul class="accessory-top-List_Item_Wrapper">
  <%_ accessories.forEach(accessory => { _%>
    <%_ const { category, link, imgPc, imgSp, alt } = accessory; _%>
    <%_ const _imgSp = imgSp || imgPc; _%>

    <li class="c-Card_Normal">
      <a href="<%= sitepath %><%= link %>">
        <div class="accessory-top-List_Item">
          <div class="accessory-top-List_ImgWrapper">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %><%= _imgSp %>">
              <img src="<%= sitepath %><%= imgPc %>" alt="<%= alt %>">
            </picture>
          </div>
          <p class="accessory-top-List_Txt"><%= category %></p>
        </div>
      </a>
    </li>
  <%_ }); _%>
</ul>
