<div class="accessory-detail_Recommend">
  <h2 class="c-Heading_Lv2 u-Adjust_Mt-32">iPhoneを使うなら楽天モバイルがおすすめ</h2>
  <div>
    <ul class="accessory-detail_Recommend-list">
      <li class="c-Theme-Light">
        <p class="c-Txt_Emp-01">
          <%_ if (l_id) { _%>
            <a href="<%= sitepath %>service/replacement-program/?l-id=product_<%- l_id %>_service_replacement-program" class="c-Link_Txt">楽天モバイル買い替え超トクプログラム</a>
          <%_ } else { _%>
            <a href="<%= sitepath %>service/replacement-program/" class="c-Link_Txt">楽天モバイル買い替え超トクプログラム</a>
          <%_ } _%>
        </p>
        <div class="accessory-detail_Recommend-service">
            <div class="l-Media_Image">
              <figure><img src="<%= sitepath %>assets/img/product/img-chotoku-program-logo.png" alt="" width="256" height="172" loading="lazy"></figure>
            </div>
            <div>
              <p class="c-Txt_Emp-01">25カ月目以降の製品代金のお支払いが不要で、他の対象製品に機種変更いただけます。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※ 機種変更時に製品のご返却と事務手数料3,300円のお支払いが必要です。製品の状態によって故障費用がかかります。</p>
            </div>
        </div>
      </li>
      <li class="c-Theme-Light">
        <p class="c-Txt_Emp-01">
          <%_ if (l_id === 'accessory') { _%>
            <%# /product/accessory/専用の対応 %>
            <a href="/service/iphone/applecare-icloud/?l-id=product_accessory_service_iphone_applecare-icloud" class="c-Link_Txt accessory-detail_Recommend-service-apple-care-link">故障紛失保証 with AppleCare Services & iCloud+</a>
          <%_ } else { _%>
            <a href="/service/iphone/applecare-icloud/?l-id=product_accessory_<%- l_id %>_service_iphone_applecare-icloud" class="c-Link_Txt accessory-detail_Recommend-service-apple-care-link">故障紛失保証 with AppleCare Services & iCloud+</a>
          <%_ } _%>
        </p>
        <div class="accessory-detail_Recommend-service-apple-care u-Adjust_Mt-16">
          <img src="/assets/img/product/iphone/apple_care-240221.png" alt="">
          <p>
            <span class="c-Txt_Emp-02">加入できるのは購入時のみ！</span>
            <span class="c-Txt_Emp-01 u-Adjust_Mt-8">iPhoneもデータもオールインワンで守ります。</span>
          </p>
        </div>
      </li>
      <li class="c-Theme-Light">
        <p class="c-Txt_Emp-01"><a href="/service/tradein/?l-id=<%- l_id %>_tradein" class="c-Link_Txt">スマホ下取りサービス<br>（Apple Watch・iPadも対象）</a></p>
        <div class="accessory-detail_Recommend-service">
          <div>
            <img src="<%= sitepath %>assets/img/product/img-service-tradein-230222.png" alt="">
          </div>
          <div>
            <p class="c-Txt_Emp-02 u-Adjust_Mt-8">iPhone 14 Pro Max を下取りに出すと、最大99,770円相当になります。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8"><span class="c-Txt_Emp-02">3/1よりiPhone 11などの下取り価格アップ！</span></p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天モバイルの1TBを下取りに出した場合</p>
            <p class="c-Txt_Cap">※下取り金額は電子マネーの楽天キャッシュで受け取ることができます。</p>
            <p class="c-Txt_Cap">※上記下取り金額は2024年3月1日時点のものとなります。</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
