<section class="accessory-detail-Layout_Section">
  <h2 class="c-Heading_Lv2">お取り扱いショップ</h2>
  <div>
    <div class="c-Accordion">
      <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>北海道・東北</button>
      <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
        <p>【北海道】</p>
        <p><a href="<%= sitepath %>shop-detail/5821/">楽天モバイル ポールタウン札幌店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7451/">楽天モバイル ドン・キホーテ函館店</a></p>
        <p class="u-Adjust_Mt-8">【岩手】</p>
        <p><a href="<%= sitepath %>shop-detail/6881/">楽天モバイル イオンモール盛岡南店</a></p>
        <p class="u-Adjust_Mt-8">【宮城】</p>
        <p><a href="<%= sitepath %>shop-detail/6791/">楽天モバイル 仙台一番町店</a></p>
        <p class="u-Adjust_Mt-8">【福島】</p>
        <p><a href="<%= sitepath %>shop-detail/6891/">楽天モバイル イオンモールいわき小名浜店</a></p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>関東（東京）</button>
      <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
        <p>【東京】</p>
        <p><a href="<%= sitepath %>shop-detail/0181/">楽天モバイル 銀座店</a></p>
        <p><a href="<%= sitepath %>shop-detail/0111/">楽天モバイル 渋谷公園通り店</a></p>
        <p><a href="<%= sitepath %>shop-detail/0131/">楽天モバイル 二子玉川店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7401/">楽天モバイル アリオ西新井店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7211/">楽天モバイル アリオ北砂店</a></p>
        <p><a href="<%= sitepath %>shop-detail/6991/">楽天モバイル 五反田駅前店</a></p>
        <p><a href="<%= sitepath %>shop-detail/5531/">楽天モバイル 大森駅前店</a></p>
        <p><a href="<%= sitepath %>shop-detail/6141/">楽天モバイル 下北沢店</a></p>
        <p><a href="<%= sitepath %>shop-detail/6521/">楽天モバイル 阿佐ヶ谷店</a></p>
        <p><a href="<%= sitepath %>shop-detail/6771/">楽天モバイル 西荻窪店</a></p>
        <p><a href="<%= sitepath %>shop-detail/6231/">楽天モバイル 池袋東口店</a></p>
        <p><a href="<%= sitepath %>shop-detail/5541/">楽天モバイル イオンモール多摩平の森店</a></p>
        <p><a href="<%= sitepath %>shop-detail/6061/">楽天モバイル イーアス高尾店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7191/">楽天モバイル 聖蹟桜ヶ丘OPA店</a></p>
        <p><a href="<%= sitepath %>shop-detail/5911/">楽天モバイル イオンモールむさし村山店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7291/">楽天モバイル 恵比寿店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7551/">楽天モバイル 有明ガーデン店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7772/">楽天モバイル ハッピーロード大山店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7771/">楽天モバイル 赤羽店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7764/">楽天モバイル 葛西店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7754/">楽天モバイル 上野広小路店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7752/">楽天モバイル 六本木店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7797/">楽天モバイル 仙川店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7777/">楽天モバイル 神保町店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7773/">楽天モバイル 武蔵小山店</a></p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>関東（茨城/栃木/群馬/埼玉/千葉/神奈川）</button>
      <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
        <p>【茨城】</p>
        <p><a href="<%= sitepath %>shop-detail/6841/">楽天モバイル イオンモール土浦店</a></p>
        <p><a href="<%= sitepath %>shop-detail/6031/">楽天モバイル イオンモールつくば店</a></p>
        <p class="u-Adjust_Mt-8">【埼玉】</p>
        <p><a href="<%= sitepath %>shop-detail/5561/">楽天モバイル レイクタウンmori店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7767/">楽天モバイル ららぽーと新三郷店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7441/">楽天モバイル 川越クレアモール店</a></p>
        <p><a href="<%= sitepath %>shop-detail/6021/">楽天モバイル イオンモール春日部店</a></p>
        <p class="u-Adjust_Mt-8">【千葉】</p>
        <p><a href="<%= sitepath %>shop-detail/6511/">楽天モバイル イオンモール幕張新都心店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7371/">楽天モバイル 稲毛店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7161/">楽天モバイル アクロスモール新鎌ヶ谷店</a></p>
        <p><a href="<%= sitepath %>shop-detail/6531/">楽天モバイル セブンパークアリオ柏店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7769/">楽天モバイル イオンモール成田店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7768/">楽天モバイル イオンモール千葉ニュータウン店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7765/">楽天モバイル イオンモール木更津店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7391/">楽天モバイル ベイシア佐倉店</a></p>
        <p class="u-Adjust_Mt-8">【神奈川】</p>
        <p><a href="<%= sitepath %>shop-detail/6161/">楽天モバイル 川崎ゼロゲート店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7301/">楽天モバイル 溝の口店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7201/">楽天モバイル 京王橋本店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7776/">楽天モバイル 湘南台店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7766/">楽天モバイル 大船店</a></p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>北陸・甲信越</button>
      <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
        <p>【富山】</p>
        <p><a href="<%= sitepath %>shop-detail/7321/">楽天モバイル ファボーレ店</a></p>
        <p class="u-Adjust_Mt-8">【福井】</p>
        <p><a href="<%= sitepath %>shop-detail/7151/">楽天モバイル フェアモール福井大和田店</a></p>

      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>東海</button>
      <div id="accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-5" aria-hidden="true">
        <p>【岐阜】</p>
        <p><a href="<%= sitepath %>shop-detail/6581/">楽天モバイル イオンモール大垣店</a></p>
        <p class="u-Adjust_Mt-8">【静岡】</p>
        <p><a href="<%= sitepath %>shop-detail/7221/">楽天モバイル イオンモール浜松志都呂店</a></p>
        <p class="u-Adjust_Mt-8">【愛知】</p>
        <p><a href="<%= sitepath %>shop-detail/0171/">楽天モバイル 名古屋栄店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7001/">楽天モバイル イオンモール新瑞橋店</a></p>
        <p><a href="<%= sitepath %>shop-detail/5981/">楽天モバイル イオンモールナゴヤドーム前店</a></p>
        <p><a href="<%= sitepath %>shop-detail/6221/">楽天モバイル イオンモール東浦店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7181/">楽天モバイル イオンモール木曽川店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7756/">楽天モバイル 名古屋ユニモール店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7431/">楽天モバイル mozoワンダーシティ店</a></p>
        <p class="u-Adjust_Mt-8">【三重】</p>
        <p><a href="<%= sitepath %>shop-detail/6761/">楽天モバイル 四日市駅前店</a></p>
        <p><a href="<%= sitepath %>shop-detail/6601/">楽天モバイル イオンモール東員店</a></p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="accordion-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-6"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>関西</button>
      <div id="accordion-content-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-6" aria-hidden="true">
        <p>【京都】</p>
        <p><a href="<%= sitepath %>shop-detail/6501/">楽天モバイル イオンモール久御山店</a></p>
        <p><a href="<%= sitepath %>shop-detail/5761/">楽天モバイル イオンモール京都五条店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7511/">楽天モバイル 京都四条通店</a></p>
        <p class="u-Adjust_Mt-8">【大阪】</p>
        <p><a href="<%= sitepath %>shop-detail/0141/">楽天モバイル 心斎橋店</a></p>
        <p><a href="<%= sitepath %>shop-detail/5971/">楽天モバイル 十三駅前路面店</a></p>
        <p><a href="<%= sitepath %>shop-detail/6591/">楽天モバイル イオンモール鶴見緑地店</a></p>
        <p><a href="<%= sitepath %>shop-detail/5901/">楽天モバイル なんばウォーク店</a></p>
        <p><a href="<%= sitepath %>shop-detail/6541/">楽天モバイル イオンモール大阪ドームシティ店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7361/">楽天モバイル ららぽーとEXPOCITY店</a></p>
        <p><a href="<%= sitepath %>shop-detail/5551/">楽天モバイル イオンモール茨木店</a></p>
        <p><a href="<%= sitepath %>shop-detail/7281/">楽天モバイル 高槻センター街店</a></p>
        <p><a href="<%= sitepath %>shop-detail/5941/">楽天モバイル アリオ八尾店</a></p>
        <p><a href="<%= sitepath %>shop-detail/5751/">楽天モバイル イオンモール堺鉄砲町店</a></p>
        <p><a href="<%= sitepath %>shop-detail/6571/">楽天モバイル 岸和田カンカンベイサイドモール店</a></p>
        <p><a href="<%= sitepath %>shop-detail/6471/">楽天モバイル ららぽーと和泉店</a></p>
        <p class="u-Adjust_Mt-8">【兵庫】</p>
        <p><a href="<%= sitepath %>shop-detail/7750/">楽天モバイル 神戸三宮センタープラザ店</a></p>
        <p><a href="<%= sitepath %>shop-detail/5731/">楽天モバイル イオンモール神戸北店</a></p>
        <p><a href="<%= sitepath %>shop-detail/6851/">楽天モバイル ららぽーと甲子園店</a></p>
        <p><a href="<%= sitepath %>shop-detail/0161/">楽天モバイル 神戸三宮センター街2丁目店</a></p>
        <p class="u-Adjust_Mt-8">【奈良】</p>
        <p><a href="<%= sitepath %>shop-detail/6351/">楽天モバイル ならファミリー店</a></p>
        <p class="u-Adjust_Mt-8">【和歌山】</p>
        <p><a href="<%= sitepath %>shop-detail/6341/">楽天モバイル イオンモール和歌山店</a></p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="accordion-7" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-7"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>中国・四国</button>
      <div id="accordion-content-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-7" aria-hidden="true">
        <p>【広島】</p>
        <p><a href="<%= sitepath %>shop-detail/6981/">楽天モバイル 広島本通り店</a></p>
        <p class="u-Adjust_Mt-8">【島根】</p>
        <p><a href="<%= sitepath %>shop-detail/6971/">楽天モバイル ゆめタウン出雲店</a></p>
        <p class="u-Adjust_Mt-8">【山口】</p>
        <p><a href="<%= sitepath %>shop-detail/6901/">楽天モバイル シーモール下関店</a></p>
        <p><a href="<%= sitepath %>shop-detail/5741/">楽天モバイル おのだサンパーク店</a></p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="accordion-8" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-8"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>九州・沖縄</button>
      <div id="accordion-content-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-8" aria-hidden="true">
        <p>【福岡】</p>
        <p><a href="<%= sitepath %>shop-detail/7581/">楽天モバイル 福岡天神西通り店</a></p>
        <p><a href="<%= sitepath %>shop-detail/6011/">楽天モバイル イオンモール福津店</a></p>
        <p class="u-Adjust_Mt-8">【宮崎】</p>
        <p><a href="<%= sitepath %>shop-detail/5721/">楽天モバイル イオンモール宮崎店</a></p>
      </div>
    </div>
  </div>
</section>

<script>
      const $triggers = $('.js-shoplist-sony-xqzcbbt').find('.js-Accordion_Trigger');

$triggers.each(function() {
    let $self = $(this);
    let $panel = $('#' + $self.attr('aria-controls'));
    let opt = {
        duration: 0,
        queue: false
    };
    let effect = $self.data('effect');

    if ($panel[0]) {
        if ($self.attr('aria-expanded') === 'false') {
            $panel.hide();
        }

        $self.on('click', function() {

            if (effect === false) {
                opt.duration = 0;
            }
            else {
                opt.duration = 200;
            }

            if ($self.attr('aria-expanded') === 'true') {
                $self.attr('aria-expanded', 'false');
                $panel.attr('aria-hidden', 'true');
                $panel.stop().slideUp(opt);
            } else {
                $self.attr('aria-expanded', 'true');
                $panel.attr('aria-hidden', 'false');
                $panel.stop().slideDown(opt);
            }
        });
    }
});
</script>

