<% const pagetitle = "発信者番号非通知（ご利用方法）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/plan/internal-voice/", label:"通話/通信サービス（国内）"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '「発信者番号非通知」サービスのご利用方法をご案内します。スマートフォン(スマホ)で電話をかけたときに、電話番号（発信者番号）を相手に通知しない、非通知機能です',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

    <div class="u-Adjust_Mt-32">
      <a href="<%= sitepath %>service/caller-id/" class="c-Btn_Regular"><span>特長・サービス内容を見る</span></a>
    </div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-32">ご利用方法</h2>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">開始／停止設定</h3>

    <div class="c-Tab js-Tab">
      <ul class="c-Tab_Items-bg u-Adjust_Mt-16" role="tablist">
        <li class="c-Tab_Item u-Adjust_Align-center" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">Webでお手続き</li>
        <li class="c-Tab_Item u-Adjust_Align-center" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">アプリでお手続き</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
        <ul class="c-Flow u-Adjust_Mt-24">
          <li>
            <h3 class="c-Heading_Lv3">1. my 楽天モバイル「契約プラン」「プランに含まれるオプションサービス」画面を開く</h3>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">※「プランに含まれるオプションサービスへ進む」をタップしてログインすると、手順２の画面が表示されます。</p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap">※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/" class="c-Link_Txt">[my
                楽天モバイル]ログインできません</a>」をご確認ください。</p>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <a href="https://portal.mobile.rakuten.co.jp/dashboard?scrollTo=domesticServices#plans" target="_blank" class="c-Btn_Secondly-large"
                data-ratId="guide_ecare_plans_domesticServices" data-ratEvent="click" data-ratParam="all">プランに含まれる<br>オプションサービスへ進む</a>
            </p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2. 「発信者番号非通知」のON／OFFを切り替える</h3>

            <div class="c-Accordion u-Adjust_Mt-16">
              <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                楽天モバイルを2回線以上ご契約中の場合
              </button>
              <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
                <p class="u-Adjust_Mt-16">画面上部へスクロールし、手続きを行う電話番号が表示されているか、事前にご確認ください。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">
                ※一番最後にご契約された電話番号が自動で表示されています。<br>※表示されている電話番号を切替えた場合、my 楽天モバイルからログアウト（自動ログアウト含む）するまでは切替えた状態が維持されます。
                </p>
                <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">電話番号の切替え方法</h4>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">1 表示されている電話番号をタップする</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/caller-id/tel_01_20221220.png" alt="" class="c-Img_Capture"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">2 手続きを行う電話番号をタップする</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/caller-id/tel_02_20221220.png" alt="" class="c-Img_Capture"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">3 選択した電話番号が表示されていることを確認する</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/caller-id/tel_03_20221220.png" alt="" class="c-Img_Capture"></p>
                <p class="u-Adjust_Mt-16">以上で完了です。手順2の操作へお進みください。</p>
              </div>
            </div>

            <p class="u-Adjust_Mt-24 c-Txt_Cap">※画面はONの状態です。</p>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/caller-id/img_01_20221220.png" alt="" class="c-Img_Capture"></p>
          </li>
        </ul>
      </div>

      <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
        <ul class="c-Flow u-Adjust_Mt-24">
          <li>
            <h3 class="c-Heading_Lv3">1. my 楽天モバイルを起動する</h3>
            <div class="c-Box_App u-Adjust_Mt-24">
              <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt=""></div>
              <div class="c-Box_App-txt">
                <p class="c-Box_App-ttl">my 楽天モバイル</p>
                <p class="u-Adjust_Mt-16">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                <ul class="c-Box_App-link u-Adjust_Mt-16">
                  <li class="<%= nameSpace %>-App_Btn-store">
                    <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
                    <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
                  </li>
                  <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2. 画面下の「契約プラン」をタップする</h3>
            <p class="u-Adjust_Mt-24">現在の通話サービスやオプションサービスのご契約状況をご確認いただけます。</p>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/users-information/img-01.png" alt="" class="c-Img_Capture"></p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3. 「プランに含まれるオプションサービス」内の「発信者番号非通知」のON／OFFを切り替える</h3>

            <div class="c-Accordion u-Adjust_Mt-16">
              <button id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                楽天モバイルを2回線以上ご契約中の場合
              </button>
              <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
                <p class="u-Adjust_Mt-16">手続きを行う電話番号が表示されているか、事前にご確認ください。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">
                ※一番最後にご契約された電話番号が自動で表示されています。<br>※表示されている電話番号を切替えた場合、my 楽天モバイルアプリからのログアウト、またアプリを強制的に終了するまでは切替えた状態が維持されます。
                </p>
                <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">電話番号の切替え方法</h4>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">1 表示されている電話番号をタップする</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/caller-id/tel_01_20221220.png" alt="" class="c-Img_Capture"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">2 手続きを行う電話番号をタップする</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/caller-id/tel_04_20221220.png" alt="" class="c-Img_Capture"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">3 選択した電話番号が表示されていることを確認する</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/caller-id/tel_03_20221220.png" alt="" class="c-Img_Capture"></p>
                <p class="u-Adjust_Mt-16">以上で完了です。手順3の操作へお進みください。</p>
              </div>
            </div>
            <p class="u-Adjust_Mt-24 c-Txt_Cap">※画面はONの状態です。</p>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/caller-id/img_02_20221220.png" alt="" class="c-Img_Capture"></p>
          </li>
        </ul>
      </div>
    </div>


    <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">操作方法</h3>
    <p class="u-Adjust_Mt-24">
      my 楽天モバイルから開始設定をしていただくことで、非通知で発信することができます。
    </p>
    <p class="u-Adjust_Mt-24">
      通話ごとに発信者番号の通知と非通知を切り替えたい場合は、以下の方法で発信してください。
    </p>
    <p class="u-Adjust_Mt-24">
      通話ごとの通知設定：186＋相手先電話番号にてダイヤルしてください。<br>
      通話ごとの非通知設定：184＋相手先電話番号にてダイヤルしてください。
    </p>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">設定</h3>
    <p class="u-Adjust_Mt-24">
      my 楽天モバイルから、以下の設定ができます。
    </p>
    <ul class="c-List_Text-disc u-Adjust_Mt-24">
      <li>発信者番号非通知の開始・停止</li>
    </ul>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">注意事項</h3>
    <ul class="c-List_Text-disc u-Adjust_Mt-16">
      <li>相手の電話機がデジタル端末で発信者番号非表示が可能な時だけ利用可能です。</li>
      <li>緊急通報は電話番号を非通知にした場合でも電話番号が表示されますので、あらかじめご了承ください。<br>また電話番号を非通知にしても、相手の方の電話機やネットワークによっては、電話番号が表示されることがあります。</li>
      <li>発信者番号非通知を設定していた場合、海外ローミング中に海外の電話番号へ発信しようとすると、海外通信事業者によっては発信がブロックされて、通話が発信できない場合があります。発信ができない場合、発信者番号非通知の機能をOFFにすることで、発信できるようになる場合があります。</li>
      <li>海外から発信した場合、相手に電話番号が表示される場合があります。</li>
    </ul>

    <%- include('/include/guide/_faq') %>

    <div class="u-Adjust_Pt-40">
      <div><a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップにもどる</span></a></div>
      <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a></div>
    </div>

  </div>
</div>




<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">



    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>

  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
    </div>
  </div>
  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>



</body>
</html>
