<%# @param
  id[string] : CPNコード(必須)
  level[string]: 見出しタグ
  class[string]: 外枠class(マージン調整)
  year[]string: CPN年度(必須)
  end[string] : キャンペーン状況（終了時：true）
  title[string]: CPN名
  comments[string] : CPN名の下の注釈
%>
<% include('./_master2023.ejs'); -%>
<% include('./_master2024.ejs'); -%>

<%
let rulesCurrentMaster;

switch (campaign.year) {
  case '2023' :
    rulesCurrentMaster = campaignRulesMaster2023;
    break;
  case '2024' :
    rulesCurrentMaster = campaignRulesMaster2024;
    break;
  default :
    console.log('please check year!!');
}

const masterKey = 'r' + campaign.id;
const campaignInfo = {...rulesCurrentMaster[masterKey], ...campaign};
-%>

<% if (rulesCurrentMaster.hasOwnProperty(masterKey)) { %>
  <% if (campaignInfo.class !== '') { %>
  <div class="<%= campaignInfo.class %>">
  <% } else { %>
  <div>
  <% } %>
    <% if (campaignInfo.level === 'h3' && campaignInfo.title !== '') { %>
      <h3 class="c-Heading_Lv3 u-Adjust_Align-left" id="campaign-rule<%= campaignInfo.id %>"><%= campaignInfo.title %></h3>
    <% } else if (campaignInfo.level === 'h2' && campaignInfo.title !== '') { %>
      <h2 class="c-Heading_Lv2 u-Adjust_Align-left" id="campaign-rule<%= campaignInfo.id %>"><%= campaignInfo.title %></h2>
    <% } %>
    <% if (campaignInfo.end === true) { %>
    <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-32 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
    <% } %>
    <% if (campaignInfo.comments !== '') { %>
      <%- campaignInfo.comments %>
    <% } %>
    <div class="u-Adjust_Mt-24">
      <%- include('/include/campaign/rules/' + campaignInfo.year + '/_campaign-rule-' + campaignInfo.id +'.ejs') %>
    </div>
  </div>
<% } %>
