<% const nameSpace = "fee-un-limit" -%>
<!-- 特典 -->
<div class="fee-Utility_Bg-mono97">
  <div id="benefits" class="l-System_Container u-Adjust_Pt-64 u-Adjust_Pb-40">
    <div class="fee-Benefits_Head">
      <div class="u-Rat_Appear-height" data-ratid="fee-un-limit_scroll-09_benefit" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
      <img src="<%= sitepath %>assets/img/fee/un-limit/img-icon-benefits-head.png?220701" alt="" width="65">
      <h2>
        <small class="c-Txt_Emp-02">特典</small>
        <span class="c-Heading_Lv2">「Rakuten UN-LIMIT VII」特典が盛りだくさん</span>
      </h2>
    </div>
    <ul class="fee-Benefits_List u-Adjust_Mt-40">
      <li id="benefits1">
        <div class="u-Adjust_Align-center">
          <div class="l-Media_Image">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/fee/un-limit/fee-un-limit-ttl-sp-230316.png" width="628" height="512">
              <img src="<%= sitepath %>assets/img/fee/un-limit/fee-un-limit-ttl-pc-230316.png" alt="楽天ポイントをザクザク貯めたい そんなあなたに　楽天モバイルご利用で楽天市場のお買い物がいつでもポイント最大＋3倍!※2" width="692" height="169" loading="lazy">
            </picture>
          </div>
        </div>
        <div class="<%= nameSpace %>_Box box01">
          <img src="<%= sitepath %>assets/img/fee/un-limit/<%= nameSpace %>_ttl_02.png?220701" alt="" width="392">
        </div>
        <div class="<%= nameSpace %>_Box box02">
          <div class="c-Theme-White box05">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/fee/un-limit/fee-un-limit-spu-img-01-sp-230401.png" width="590" height="676">
            <img src="<%= sitepath %>assets/img/fee/un-limit/fee-un-limit-spu-img-01-pc-230316.png" alt="Rakuten UN-LIMIT VII ご契約中でダイヤモンド会員 +3倍 上限：7,000ポイント Rakuten UN-LIMIT VII ご契約中でダイヤモンド会員以外※11 +2倍 上限：6,000ポイント" width="850" height="342" loading="lazy">
          </picture>
          <div class="c-Theme-White u-Adjust_Pt-0">
          <p class="c-Heading_Lv4 u-Adjust_Mb-8">例えば<br class="fee-Utility_Br-sp">楽天モバイルに契約していたら、<br class="fee-Utility_Br-sp"><span class="c-Txt_Emp-02" style="color: #BF0000;">楽天市場のお買い物</span>が...</p>
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/fee/un-limit/<%= nameSpace %>_spu_img_05_sp.png">
            <img src="<%= sitepath %>assets/img/fee/un-limit/<%= nameSpace %>_spu_img_05.png" alt="">
          </picture>
          <p class="u-Adjust_Mt-8 c-Txt_Cap u-Adjust_Align-left">※「通常のお買い物1倍」を除く楽天モバイル契約者特典分</p>
          </div>
          </div>
        </div>
        <div class="<%= nameSpace %>_Box box03">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/fee/un-limit/<%= nameSpace %>_ttl_sp_221025.png">
            <img src="<%= sitepath %>assets/img/fee/un-limit/<%= nameSpace %>_point_pc_221025.png" alt="">
          </picture>
        </div>
        <div class="<%= nameSpace %>_Box box04">
          <div>
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/fee/un-limit/<%= nameSpace %>_spu_img_03_sp.png?220701">
              <img src="<%= sitepath %>assets/img/fee/un-limit/<%= nameSpace %>_spu_img_03.png?220701" alt="">
            </picture>
          </div>
          <div class="c-Accordion u-Adjust_Mt-24 <%= nameSpace %>_Box-accordion">
            <button type="button" id="accordion-tokutenmorimori-01" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-tokutenmorimori-01" data-ratid="campaign_ichiba_point_faq6" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>対象サービスとポイント倍率</button>
            <div id="accordion-content-tokutenmorimori-01" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-tokutenmorimori-01" aria-hidden="true">

              <ul class="<%= nameSpace %>_Box-list-link">
                <li>
                  <a href="<%= sitepath %>hikari/campaign/spu/">
                    <img src="<%= sitepath %>assets/img/fee/un-limit/img-service-01.png" alt="">
                  </a>
                </li>
                <li>
                  <a href="https://www.rakuten-card.co.jp/campaign/rakuten-card/point-up/" target="_blank" rel="noopener">
                    <img src="<%= sitepath %>assets/img/fee/un-limit/img-service-02.png" alt="">
                  </a>
                </li>
                <li>
                  <a href="https://www.rakuten-card.co.jp/campaign/rakuten-card/point-up/" target="_blank" rel="noopener">
                    <img src="<%= sitepath %>assets/img/fee/un-limit/img-service-03.png" alt="">
                  </a>
                </li>
                <li>
                  <a href="https://www.rakuten-card.co.jp/campaign/premium_card/point-up/" target="_blank" rel="noopener">
                    <img src="<%= sitepath %>assets/img/fee/un-limit/img-service-04.png" alt="">
                  </a>
                </li>
                <li>
                  <a href="https://www.rakuten-bank.co.jp/campaign/spu/" target="_blank" rel="noopener">
                    <img src="<%= sitepath %>assets/img/fee/un-limit/img-service-05.png" alt="">
                  </a>
                </li>
                <li>
                  <a href="https://www.rakuten-sec.co.jp/web/campaign/spu/" target="_blank" rel="noopener">
                    <img src="<%= sitepath %>assets/img/fee/un-limit/img-service-06.png" alt="">
                  </a>
                </li>
                <li>
                  <a href="https://www.rakuten-sec.co.jp/web/campaign/spu/" target="_blank" rel="noopener">
                    <img src="<%= sitepath %>assets/img/fee/un-limit/img-service-07.png" alt="">
                  </a>
                </li>
                <li>
                  <a href="https://www.rakuten-wallet.co.jp/lp/spu/" target="_blank" rel="noopener">
                    <img src="<%= sitepath %>assets/img/fee/un-limit/img-service-08.png" alt="">
                  </a>
                </li>
                <li>
                  <a href="https://travel.rakuten.co.jp/camp/spu/" target="_blank" rel="noopener">
                    <img src="<%= sitepath %>assets/img/fee/un-limit/img-service-09.png" alt="">
                  </a>
                </li>
                <li>
                  <a href="https://event.rakuten.co.jp/campaign/point-up/app/always/" target="_blank" rel="noopener">
                    <img src="<%= sitepath %>assets/img/fee/un-limit/img-service-10.png" alt="">
                  </a>
                </li>
                <li>
                  <a href="https://books.rakuten.co.jp/event/campaign/pointup-program/" target="_blank" rel="noopener">
                    <img src="<%= sitepath %>assets/img/fee/un-limit/img-service-11.png" alt="">
                  </a>
                </li>
                <li>
                  <a href="https://books.rakuten.co.jp/event/e-book/spu/" target="_blank" rel="noopener">
                    <img src="<%= sitepath %>assets/img/fee/un-limit/img-service-12.png" alt="">
                  </a>
                </li>
                <li>
                  <a href="https://pasha.rakuten.co.jp/special/campaign/spu/" target="_blank" rel="noopener">
                    <img src="<%= sitepath %>assets/img/fee/un-limit/img-service-13.png" alt="">
                  </a>
                </li>
                <li>
                  <a href="https://brandavenue.rakuten.co.jp/guide/spu/" target="_blank" rel="noopener">
                    <img src="<%= sitepath %>assets/img/fee/un-limit/img-service-14.png" alt="">
                  </a>
                </li>
                <li>
                  <a href="https://beauty.rakuten.co.jp/cnt/topics/campaign/spu/" target="_blank" rel="noopener">
                    <img src="<%= sitepath %>assets/img/fee/un-limit/img-service-15.png" alt="">
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <p class="u-Adjust_Align-center u-Adjust_Mt-24">
            <a href="<%= sitepath %>campaign/spu/?l-id=un-limit_campaign_spu" class="c-Btn_Regular"><span>SPUの詳細を見る</span></a>
          </p>
        </div>
        <p class="<%= nameSpace %>_Arrow"><img src="<%= sitepath %>assets/img/fee/un-limit/<%= nameSpace %>_icon04.png?220701" alt=""></p>
        <div class="l-Media_Image">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/fee/un-limit/fee-un-limit-spu-img-04-sp-230224.png">
            <img src="<%= sitepath %>assets/img/fee/un-limit/fee-un-limit-spu-img-04-pc-230224.png" alt="" width="523">
          </picture>
        </div>
        <p class="c-Txt_Cap u-Adjust_Align-left u-Adjust_Mt-16">
          ※3 達成条件（会員ランク含む）・獲得ポイント上限あり。詳細は<a href="<%= sitepath %>campaign/spu/">こちら</a> ※11 プラチナ・ゴールド・シルバー・レギュラー会員 ※12 楽天モバイルキャリア決済（Androidのみ）を月間合計2,000円（税込）以上ご利用の場合に適用。月間上限5,000ポイント<br>
          ※<a href="<%= sitepath %>fee/un-limit/#anc_note">その他条件の詳細はこちら</a>
        </p>
      </li>
      <li>
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/fee/un-limit/img-benefits-03-sp-221026.png">
          <img src="<%= sitepath %>assets/img/fee/un-limit/img-benefits-03-pc-221026.png" width="1008" alt="">
        </picture>
        <div class="u-Adjust_Align-left">
          <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>fee/un-limit/detail/#campaign-rule02" class="c-Link_Txt-inline">キャンペーンルールを見る<span class="c-Icon_Chevron-right"></span></a></p>
          <p class="c-Txt_Cap u-Adjust_Mt-8">
            ※13 1回線目のみ。初めてお申し込みが対象。Rakuten Link利用など条件あり。期間限定ポイントで付与<br>
            ※<a href="#anc_note" class="c-Link_Txt js-scroll">その他条件の詳細はこちら</a>
          </p>
        </div>
      </li>
      <li id="benefits4">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/un-limit/img-benefits-04-sp-230510.png" width="697" height="2227">
          <img src="<%= sitepath %>assets/img/fee/un-limit/img-benefits-04-pc-230510.png" width="948" height="726" alt="" loading="lazy">
        </picture>
        <div class="fee-Benefits_List-button">
          <a href="<%= sitepath %>campaign/digital-contents/?l-id=un-limit_campaign_digital_contents" class="c-Btn_Regular u-Adjust_Mt-8">
            コンテンツ特典の詳細を見る
          </a>
        </div>
      </li>
    </ul>
    <p class="c-Txt_Cap u-Adjust_Mt-16">
      ※各キャンペーンは予告なく変更・終了する場合あり。NBAはベーシックパス限定。一部条件あり<br>
      ※<a href="#anc_note" class="c-Link_Txt js-scroll">その他条件の詳細はこちら</a>
    </p>
  </div>
</div>
<!-- //特典 -->
