<!-- 通話 -->
<div id="call" class="fee-Call">
  <div class="l-System_Container">
    <div class="fee-Call_Head">
      <div class="u-Rat_Appear-height" data-ratid="fee-un-limit_scroll-07_call" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
      <img src="<%= sitepath %>assets/img/fee/un-limit/img-icon-call-head.png?220701" alt="">
      <h2><span class="c-Txt_Normal-m">通話</span>国内通話はかけ放題</h2>
    </div>

    <div class="c-Theme-White u-Adjust_Mt-24">
      <div class="fee-Call_Content">
        <div class="l-Media_Grid">
          <div class="fee-Call_Content-img-adjust">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/fee/un-limit/img-call-group-01-230411-sp.png" width="85%">
              <img src="<%= sitepath %>assets/img/fee/un-limit/img-call-group-01-230411-pc.png" alt="" width="278">
            </picture>
          </div>
          <div>
            <h3 class="fee-Call_Content-title">「Rakuten Link」アプリ利用で<strong>国内通話無料</strong><span class="c-Txt_Cap">※5</span></h3>
            <p class="u-Adjust_Mt-16">お使いの電話番号そのままで、他キャリアのスマホや、<br class="fee-Utility_Br-pc">固定電話にもご利用いただけます</p>
            <div class="u-Adjust_Mt-16">
              <a href="<%= sitepath %>service/rakuten-link/?l-id=fee_un_limit_service_rakuten-link" class="c-Btn_Regular">
                詳細を見る
              </a>
            </div>
          </div>
        </div>
        <div class="fee-Call_Card u-Adjust_Mt-40">
          <div class="fee-Call_Card-eyecatching">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/fee/un-limit/img-call-eyecatching-sp-230301.png" width="600" height="81">
              <img src="<%= sitepath %>assets/img/fee/un-limit/img-call-eyecatching-pc-230301.png" alt="よりクリアで快適な通話にこだわるなら" width="784" height="89" loading="lazy">
            </picture>
          </div>
          <div class="l-Media_Grid">
            <div class="fee-Call_Card-img">
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/fee/un-limit/img-call-group-02-left-sp-230301.png" width="298" height="272">
                <img src="<%= sitepath %>assets/img/fee/un-limit/img-call-group-02-left-pc-230301.png" alt="オプションサービス 1回15分何度でも" width="303" height="174">
              </picture>
            </div>
            <div>
              <h3 class="c-Heading_Lv3">15分（標準）通話<br class="fee-Utility_Show-sp">かけ放題<span class="c-Txt_Cap">※9</span></h3>
              <p class="u-Adjust_Mt-8">OS標準アプリでの通話・SMSが使い放題でご利用いただけます</p>
              <p>
                <picture>
                  <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/fee/un-limit/img-call-group-02-right-sp-221024.png">
                  <img src="<%= sitepath %>assets/img/fee/un-limit/img-call-group-02-right-221024.png" alt="1,100円／月（税込）が3ヶ月無料※10" width="292">
                </picture>
              </p>
              <a href="<%= sitepath %>service/standard-free-call/?l-id=un-limit_service_standard-free-call" class="c-Btn_Regular u-Adjust_Mt-8">
                詳細を見る
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p class="c-Txt_Cap u-Adjust_Mt-24">
      ※5 一部対象外番号あり。アプリ未使用時30秒22円  ※9 SMSは一日の送付上限あり。一部対象外番号あり ※10 かけ放題の初回お申し込み時<br>
      ※<a href="#anc_note" class="c-Link_Txt js-scroll">その他条件の詳細はこちら</a>
    </p>
  </div>
</div>
<!-- //通話 -->
