<!-- データ -->
<div id="data" class="l-System_Container u-Adjust_Pt-64 u-Adjust_Pb-16">
  <div class="u-Rat_Appear-height" data-ratid="fee-un-limit_scroll-05_data01" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
  <div class="fee-Data_Head">
    <img src="<%= sitepath %>assets/img/fee/un-limit/img-icon-data-head-230411.png" alt="">
    <h2>
      <span class="c-Txt_Normal-m">データ通信</span>
      <span class="c-Heading_Lv2 fee-Data_Head-txt">使った分だけお支払い。おトクなワンプラン</span>
    </h2>
  </div>

  <div class="fee-Data_Content-Upper">
    <picture>
      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/fee/un-limit/img-data-type-sp-02-221024.png">
      <img src="<%= sitepath %>assets/img/fee/un-limit/img-data-type-pc-02-221024.png" alt="">
    </picture>
  </div>

  <div class="fee-Data_Content u-Adjust_Mt-32 u-Adjust_Pb-24">
    <div id="js-trigger" class="c-Theme-Borderbox fee-Utility_Round-8">
      <div class="u-Adjust_Align-center">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/fee/un-limit/img-data-price-sp-02-230301.png" width="622" height="1268">
          <img src="<%= sitepath %>assets/img/fee/un-limit/img-data-price-pc-02-230301.png" alt="楽天回線エリア データ無制限で2,980円（税込3,278円）。さらに使わなければ勝手に安くなる!" width="856" height="447">
        </picture>
      </div>


      <div class="fee-Data_Content-borderbox">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/fee/un-limit/img-data-price-sp-03-230224.png">
          <img src="<%= sitepath %>assets/img/fee/un-limit/img-data-price-pc-03-230224.png" width="605" alt="">
        </picture>
        <div class="fee-Data_Content-btns">
          <div>
            <a href="<%= sitepath %>service/global/overseas/?l-id=un-limit_service_global_overseas" class="c-Btn_Regular">
              詳細を見る
            </a>
          </div>
          <p class="u-Adjust_Mt-16">
            <a href="<%= sitepath %>fee/un-limit/#country" class="c-Link_Txt-inline">対象エリアを見る<span class="c-Icon_Chevron-right"></span></a>
          </p>
        </div>
      </div>

      <div class="u-Adjust_Align-center u-Adjust_Mt-16">
        <a href="<%= sitepath %>fee/un-limit/detail/?l-id=fee_un_limit_detail_2" class="c-Btn_Regular">
          料金プランの詳細を見る
        </a>
      </div>

      <p class="u-Adjust_Mt-16 fee-Utility_sp_left">
      <a href="#anc01" class="js-scroll c-Link_Txt-inline fee-Utility_center"><span class="c-Icon_Arrow-down-l"></span>データ利用量のカウント方法を確認する</a>
      </p>
    </div>
  </div>

  <div class="fee-Data_Head u-Adjust_Mt-64">
    <div class="u-Rat_Appear-height" data-ratid="fee-un-limit_scroll-06_data02" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
    <img src="<%= sitepath %>assets/img/fee/un-limit/img-icon-data-head-230411.png" alt="">
    <h2>
      <span class="c-Txt_Normal-m">どのくらいデータを使う?</span>
      <span>毎月のお支払い額は<br class="fee-Utility_Br-sp">あなた次第。</span>
    </h2>
  </div>
  <div class="fee-Data_How u-Adjust_Mt-32 u-Adjust_Pb-24">
    <ul>
      <li>
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/fee/un-limit/img-data-case-01-sp-230404.png">
          <img src="<%= sitepath %>assets/img/fee/un-limit/img-data-case-01-pc-230404.png" alt="">
        </picture>
      </li>
      <li>
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/fee/un-limit/img-data-case-02-sp-230404.png">
          <img src="<%= sitepath %>assets/img/fee/un-limit/img-data-case-02-pc-230404.png" alt="">
        </picture>
      </li>
      <li>
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/fee/un-limit/img-data-case-03-sp-230404.png">
          <img src="<%= sitepath %>assets/img/fee/un-limit/img-data-case-03-pc-230404.png" alt="">
        </picture>
      </li>
    </ul>
    <p class="c-Txt_Cap u-Adjust_Mt-16 fee-Utility_Center-sp">
      ※1  無制限は楽天基地局接続時。公平なサービス提供のため速度制限する場合あり。通話料等別<br>
      ※<a href="#anc_note" class="js-scroll c-Link_Txt c-Link_Txt">その他条件の詳細はこちら </a>
    </p>
  </div>
</div>
<!-- //データ -->
