<!-- ナビ2 -->
<div class="fee-Description_Follow" id="js-fixed-nav" aria-expanded="false">
  <div class="fee-Description_Follow-inner">
    <ul class="fee-Description_List">
      <li class="fee-Description_Follow-List">
        <a href="#data" class="c-Link_Txt-icon-front js-fee-scroll">
          <span class="c-Icon_Arrow-down-l"></span>
          <div><p>データ<span class="fee-Cta_Show-pc">通信</span></p></div>
          <img src="<%= sitepath %>assets/img/fee/un-limit/img-icon-data-230411.png" alt="">
        </a>
      </li>
      <li class="fee-Description_Follow-List">
        <a href="#call" class="c-Link_Txt-icon-front js-fee-scroll">
          <span class="c-Icon_Arrow-down-l"></span>
          <div><p>通話</p></div>
          <img src="<%= sitepath %>assets/img/fee/un-limit/img-icon-call.png?220701" alt="">
        </a>
      </li>
      <li class="fee-Description_Follow-List">
        <a href="#mail" class="c-Link_Txt-icon-front js-fee-scroll">
          <span class="c-Icon_Arrow-down-l"></span>
          <div><p>メール</p></div>
          <img src="<%= sitepath %>assets/img/fee/un-limit/img-icon-mail.png?220701" alt="">
        </a>
      </li>
      <li class="fee-Description_Follow-List">
        <a href="#price" class="c-Link_Txt-icon-front js-fee-scroll">
          <span class="c-Icon_Arrow-down-l"></span>
          <div><p><span class="fee-Utility_Img-pc">プラン料金</span><span class="fee-Utility_Img-sp">料金</span></p></div>
          <img src="<%= sitepath %>assets/img/fee/un-limit/img-icon-yen.png?220701" alt="">
        </a>
      </li>
      <li class="fee-Description_Follow-List">
        <a href="#compareother" class="c-Link_Txt-icon-front js-fee-scroll">
          <span class="c-Icon_Arrow-down-l"></span>
          <div><p>他社<br class="fee-Utility_Br-sp">比較</p></div>
          <img src="<%= sitepath %>assets/img/fee/un-limit/img-icon-compare.png?220701" class="fee-Cta_Show-pc" alt="">
        </a>
      </li>
    </ul>
  </div>

</div>
<!-- //ナビ2 -->
