<!-- ナビ1 -->
<div class="fee-Description">
  <h3 class="c-Heading_Lv3">使う人も使わない人もこれでイイ、<span>Rakuten UN-LIMIT VII</span></h3>
  <ul class="fee-Description_List">
    <li>
      <a href="#data" class="c-Link_Txt-icon-front js-fee-scroll">
        <span class="c-Icon_Arrow-down-l"></span>
        <div><p>データ通信</p></div>
        <img src="<%= sitepath %>assets/img/fee/un-limit/img-icon-data-230411.png" alt="">
      </a>
    </li>
    <li>
      <a href="#call" class="c-Link_Txt-icon-front js-fee-scroll">
        <span class="c-Icon_Arrow-down-l"></span>
        <div><p>通話</p></div>
        <img src="<%= sitepath %>assets/img/fee/un-limit/img-icon-call.png?220701" alt="">
      </a>
    </li>
    <li>
      <a href="#mail" class="c-Link_Txt-icon-front js-fee-scroll">
        <span class="c-Icon_Arrow-down-l"></span>
        <div><p>メール</p></div>
        <img src="<%= sitepath %>assets/img/fee/un-limit/img-icon-mail.png?220701" alt="">
      </a>
    </li>
    <li>
      <a href="#price" class="c-Link_Txt-icon-front js-fee-scroll">
        <span class="c-Icon_Arrow-down-l"></span>
        <div><p>プラン料金</p></div>
        <img src="<%= sitepath %>assets/img/fee/un-limit/img-icon-yen.png?220701" alt="">
      </a>
    </li>
    <li>
      <a href="#compareother" class="c-Link_Txt-icon-front js-fee-scroll">
        <span class="c-Icon_Arrow-down-l"></span>
        <div><p>他社比較</p></div>
        <img src="<%= sitepath %>assets/img/fee/un-limit/img-icon-compare.png?220701" alt="">
      </a>
    </li>
  </ul>
  <p class="u-Adjust_Mt-16 fee-Utility_Flex-center"><a href="#benefits" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>「Rakuten UN-LIMIT VII」特典の詳細</a></p>
</div>
<!-- //ナビ1 -->
