<!-- プラン料金 -->
<div id="price" class="l-System_Container u-Adjust_Pt-64 u-Adjust_Pb-40">
  <div class="fee-Price_Head">
    <div class="u-Rat_Appear-height" data-ratid="fee-un-limit_scroll-10_price" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
    <img src="<%= sitepath %>assets/img/fee/un-limit/img-icon-yen-head.png?220701" alt="">
    <h2><span>プラン料金</span><br>Rakuten UN-LIMIT VII</h2>
  </div>

  <div class="fee-Price_Content u-Adjust_Pb-16">
    <div class="fee-Price_Content-Upper">
      <h3 class="c-Heading_Lv3 u-Adjust_Mb-0">プラン料金（4G/5G共通）</h3>
      <p class="c-Txt_Normal-ss">5Gサービスは一部エリアのみ</p>
      <table class="c-Table_Container fee-Price_Content-table u-Adjust_Mt-8">
        <colgroup>
          <col>
          <col>
          <col>
        </colgroup>
        <thead>
          <tr>
            <th>データ利用量</th>
            <th>月額料金</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>3GBまで</th>
            <td>
              <p>980円<br><span class="c-Txt_Cap">（税込1,078円）</span></p>
            </td>
          </tr>
          <tr>
            <th>20GBまで</th>
            <td>
              <p>1,980円<br><span class="c-Txt_Cap">（税込2,178円）</span></p>
            </td>
          </tr>
          <tr>
            <th><span class="c-Txt_Emp-02">無制限</span> <span class="c-Txt_Cap">※1</span><br>
            <span class="c-Txt_Normal-ss fee-Utility_font-normal">楽天回線エリア外は最大<br>1Mbpsで使い放題</span><span class="c-Txt_Cap">※1</span>
            </th>
            <td>
              <p>2,980円<br><span class="c-Txt_Cap">（税込3,278円）</span></p>
            </td>
          </tr>
        </tbody>
      </table>
      <p class="c-Txt_Cap u-Adjust_Mt-16">
        ※1つの楽天IDにつき最大10回線まで契約可能。詳しくは「<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001243/">契約可能上限数を教えてください</a>」をご確認ください。複数の楽天IDを作成/保有することは禁止しております。
      </p>
      <div class="fee-Price_Content-foot">
        <div class="fee-Price_Content-foot-title">海外データ通信</div>
        <div>
          <p class="c-Txt_Emp-01">対象国と地域で毎月<span class="c-Txt_Emp-02">2GBまで無料</span>で使える</p>
          <p class="c-Txt_Normal-s">プランのデータ利用量に加算。2GB超過後は最大128kbps※5</p>
        </div>
      </div>
      <!-- <p class="c-Txt_Cap u-Adjust_Align-left u-Adjust_Mt-8">
        ※速度制限の有無にかかわらず、データ利用量としてカウントされます。<br>
        ※ご契約1回線目において、一定期間以上回線のご利用がない場合は、回線の利用停止または解約をさせていただく場合がございます。<br>
        ※3 データ無制限は、楽天基地局に接続時。公平にサービスを提供するため通信速度の制御を行う場合があります。パートナー回線エリアは、国内は5GB超過後は最大1Mbps、海外は2GB超過後は最大128kbpsで使い放題。最大1Mbpsで使用時、動画再生・アプリダウンロード等では、時間がかかる場合あり。通信速度はベストエフォート（規格上の最大速度）であり、実効速度は通信環境・状況により変動します。
      </p> -->
    </div>
    <div class="fee-Price_Content-Lower">
      <h3 class="c-Heading_Lv3 u-Adjust_Mb-32">各エリアの通信速度</h3>
      <div class="fee-Price_Content-Lower-area">
        <p>楽天回線エリア</p>
        <p>高速でデータ無制限<span class="c-Txt_Cap">※1</span><br>
          <span class="c-Txt_Cap">※楽天回線エリア外は最大1Mbpsで使い放題</span>
        </p>
      </div>
      <div class="fee-Price_Content-Lower-area">
        <p>パートナー回線エリア（国内）</p>
        <p>5GB超過後は最大1Mbpsで使い放題<span class="c-Txt_Cap">※14</span></p>
      </div>
      <div class="fee-Price_Content-Lower-area">
        <p>パートナー回線エリア（海外）</p>
        <p>2GB超過後は最大128kbpsで使い放題<span class="c-Txt_Cap">※8</span></p>
      </div>
    </div>
  </div>

  <div class="u-Adjust_Mt-24">
  <h4 id="anc01" class="c-Heading_Lv4 fee-Utility_ancpos">データ利用量のカウント方法</h4>
  </div>
  <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-02">すべての回線エリアのデータ消費が「データ利用量」としてカウントされます。</span><br>
    <span class="c-Txt_Cap">※低速通信にてご利用の場合でも、高速通信と同様にカウントされます。</span></p>

  <div class="c-Accordion u-Adjust_Mt-16">
    <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>カウント方法例</button>
    <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true" style="display: none;">
      <img src="<%= sitepath %>assets/img/fee/un-limit/img-data-count-pc-02.png?220701" alt="" class="fee-Utility_Img-pc">
      <img src="<%= sitepath %>assets/img/fee/un-limit/img-data-count-sp-02.png?220701" alt="" class="fee-Utility_Img-sp u-Adjust_Mb-24">
      <div class="c-Txt_Emp-01">以下のような低速通信でご利用の場合でも、高速通信と同様「データ利用量」としてカウントされます。</div>
      <ol class="u-Adjust_Mt-16 c-List_Ordered">
        <li>パートナー回線エリア（国内）で高速データ容量5GBを消費し、最大1Mbpsでご利用いただいている場合</li>
        <li>パートナー回線エリア（海外）で高速データ容量2GBを消費し、最大128kbpsでご利用いただいている場合</li>
        <li>パートナー回線エリア（国内・海外）の「データ高速モード」をOFFにし、低速モードでご利用いただいている場合※</li>
      </ol>
      <p class="c-Txt_Cap u-Adjust_Align-left u-Adjust_Mt-8">※パートナー回線エリア（国内・海外）の「データ高速モード」をOFFにすると、パートナー回線エリアの高速データ容量（パートナー回線エリア国内：5GB、海外：2GB）は消費されません。</p>
      <p class="c-Txt_Cap u-Adjust_Align-left u-Adjust_Mt-8">※「Rakuten Link」アプリおよび「my 楽天モバイル（一部機能を除く）」アプリを利用した際のデータ通信は、パートナー回線エリアの高速データ容量としてカウントせず、高速データ容量を超えた場合でも速度制限なくご利用いただけます。なお、この点は予告なく変更になる場合があります。</p>
    </div>
  </div>

  <p class="c-Txt_Cap u-Adjust_Mt-24">
    ※各エリアは<a href="<%= sitepath %>area/">サービスエリアマップ</a>をご確認ください ※1データ無制限は楽天基地局接続時。公平なサービス提供のため速度制御の場合あり<br>
    <span class="c-Txt_Emp-02">※データ利用量の確認方法は</span><a href="<%= sitepath %>guide/data-traffic/">こちら</a><br>
    ※<a href="#anc_note" class="js-scroll c-Link_Txt">その他条件の詳細はこちら</a>
  </p>

  <div class="u-Adjust_Mt-64">
    <h3 class="c-Heading_Lv3 fee-Utility_sp_center">音声通話／SMS</h3>
    <table class="c-Table_Container fee-detail-Table_Rule u-Adjust_Mt-16">
      <colgroup>
        <col>
        <col>
      </colgroup>
      <tbody>
        <tr>
          <th>Rakuten Linkアプリ</th>
          <td>
            <h4 class="c-Heading_Lv4">Rakuten Link同士の場合</h4>
            <ul class="c-List_Text-disc u-Adjust_Mt-8">
              <li>国内／海外通話：無料</li>
              <li class="u-Adjust_Mt-8">国内／海外メッセージ：無料</li>
            </ul>
            <p class="c-Txt_Cap u-Adjust_Align-left u-Adjust_Mt-8">※国内通話無料はアプリ利用時。一部対象外番号あり</p>
            <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">相手がRakuten Link以外の場合</h4>
            <p class="u-Adjust_Mt-16">
              <a href="<%= sitepath %>fee/un-limit/detail/?l-id=un-limit_un-limit-detail_call#call-02" class="c-Link_Txt-inline">Rakuten Link以外との通話の詳細を見る<span class="c-Icon_Chevron-right"></span></a>
            </p>
            <p class="u-Adjust_Mt-16">
              <a href="<%= sitepath %>fee/un-limit/detail/?l-id=un-limit_un-limit-detail_sms#sms-02" class="c-Link_Txt-inline">Rakuten Link以外とのSMSの詳細を見る<span class="c-Icon_Chevron-right"></span></a>
            </p>
          </td>
        </tr>
        <tr>
          <th>OS標準の電話アプリ</th>
          <td>
            <ul class="c-List_Text-disc u-Adjust_Mt-8">
              <li>国内通話：30秒20円（税込22円）</li>
            </ul>
            <p>
              <a href="<%= sitepath %>service/standard-free-call/?l-id=un-limit_service_standard-free-call_3" class="c-Link_Txt-inline u-Adjust_Mt-8">15分（標準）通話かけ放題（オプションサービス）<span class="c-Icon_Chevron-right"></span></a>
            </p>
            <p class="c-Txt_Cap u-Adjust_Align-left u-Adjust_Mt-8">※一部対象外番号あり</p>
            <ul class="c-List_Text-disc u-Adjust_Mt-8">
              <li class="u-Adjust_Pt-8 u-Adjust_Mt-8">海外通話：国内から海外は、国・地域別従量課金</li>
            </ul>
            <p>
              <a href="<%= sitepath %>service/international-unlimited-talk/?l-id=un-limit_international-unlimited-talk" class="c-Link_Txt-inline u-Adjust_Mt-8">国際通話かけ放題（オプションサービス）<span class="c-Icon_Chevron-right"></span></a>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="padding-top:90px;">
    <div id="country" class="fee-Utility_Anc">
  <div class="c-Accordion">
    <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>海外の対象国と地域</button>
    <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
      <p>アイスランド、アイルランド、アメリカ（ハワイ）、アメリカ本土、アラブ首長国連邦、アンドラ、イギリス、イタリア、インド、インドネシア、エストニア、オーストラリア、オーストリア、オランダ、カタール、カナダ、カンボジア、韓国、キプロス、ギリシャ、グアドループ、グアム、クウェート、クロアチア、サイパン、ジブラルタル、シンガポール、スイス、スウェーデン、スペイン、スロバキア、スロベニア、タイ、台湾、チェコ共和国、中国、デンマーク、ドイツ、トルコ、ニュージーランド、ノルウェー、ハンガリー、フィリピン、フィンランド、ブラジル、フランス、フランス領ギアナ、ブルガリア、ベトナム、ペルー、ベルギー、ポーランド、ポルトガル、香港、マカオ、マルタ、マルティニーク、マレーシア、南アフリカ、ミャンマー、メキシコ、モロッコ、ラトビア、リトアニア、リヒテンシュタイン、ルーマニア、ルクセンブルク、レユニオン、ロシア（2023年1月27日時点）</p>
      <ul class="c-List_Cap u-Adjust_Mt-16">
        <li class="c-Txt_Emp-02 c-Txt_Cap"><span>※</span>アラブ首長国連邦、カタール、クウェートは、国際通話かけ放題、また国際SMS送信の無料対象国には入らないためご注意ください。</li>
        <li class="c-Txt_Cap"><span>※</span>海外ローミング（データ通信）および国際通話、国際SMS、国際通話かけ放題のサービスエリア・提供条件は予告なく変更になる場合があります。</li>
      </ul>
    </div>
  </div>
  </div>
  </div>
  <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>service/international-roaming/?l-id=fee_un_limit_service_international-roaming" class="c-Link_Txt-inline">海外ローミング（データ通信）の詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
  <div class="fee-Price_Detail u-Adjust_Mt-40">
    <div class="fee-Price_Detail-Upper">
      <h3 class="c-Heading_Lv3">各種手数料</h3>
      <div class="u-Adjust_Mt-8 u-Adjust_Ml-8 u-Adjust_Mr-8">
        <img src="<%= sitepath %>assets/img/fee/un-limit/img-price-fee-01.png?220701" alt="">
      </div>
    </div>
    <div class="fee-Price_Detail-Lower">
      <div>
        <h3 class="c-Heading_Lv3">お申し込み受付</h3>
        <div class="u-Adjust_Mt-8 u-Adjust_Ml-8 u-Adjust_Mr-8"><img src="<%= sitepath %>assets/img/fee/un-limit/img-price-fee-02-230411.png" alt=""></div>
      </div>
      <p class="u-Adjust_Align-center u-Adjust_Mt-16"><a href="<%= sitepath %>shop/" class="c-Link_Txt-inline">お近くのショップ（店舗）を探す<span class="c-Icon_Chevron-right"></span></a></p>
      <p class="u-Adjust_Align-center u-Adjust_Mt-16"><a href="<%= sitepath %>guide/application-support/?l-id=fee_un-limit_guide_application-support02" class="c-Link_Txt-inline">お申し込みの電話サポートの詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
    </div>
  </div>
  <div class="u-Adjust_Align-center u-Adjust_Mt-24">
    <a href="<%= sitepath %>fee/un-limit/detail/?l-id=fee_un_limit_detail" class="c-Btn_Regular"><span>料金プランの詳細を見る</span></a>
    <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>support/plan/detail/#smallcategory-faq" class="c-Link_Txt-inline">料金プランに関するよくある質問を確認する<span class="c-Icon_Chevron-right"></span></a></p>
  </div>
  <div class="fee-Price_Point u-Adjust_Mt-80 u-Adjust_Pb-16">
    <div class="fee-Price_Point-content">
      <div class="fee-Price_Point-content-left"><img src="<%= sitepath %>assets/img/fee/un-limit/img-price-point-01.png?220701" alt=""></div>
      <div class="fee-Price_Point-content-right">
        <h3 class="c-Heading_Lv3">製品購入や月々のお支払いに楽天ポイントが使える！<span>※</span></h3>
      </div>
    </div>
    <div class="fee-Price_Point-content-02">
      <div class="fee-Price_Point-content-02-left"><img src="<%= sitepath %>assets/img/fee/un-limit/img-price-point-02.png?220701" alt=""></div>
      <div class="fee-Price_Point-content-02-right">
        <ul class="c-List_Text-disc u-Adjust_Mt-8">
          <li>1ポイント＝1円としてご利用可能</li>
          <li class="u-Adjust_Pt-8 u-Adjust_Mt-8">ポイント利用額を設定しておけば、毎月自動的に充当されて便利</li>
        </ul>
        <p class="u-Adjust_Align-left u-Adjust_Mt-16"><a href="<%= sitepath %>guide/payment/point/?l-id=un-limit_guide_payment-point" class="c-Link_Txt-inline">楽天ポイント利用の詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※月々のお支払いに口座振替をご指定の場合は、楽天ポイントをご利用いただけません。利用上限あり</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※<a href="#anc_note" class="js-scroll c-Link_Txt">その他条件の詳細はこちら</a></p>

      </div>
    </div>
  </div>

  <h3 class="c-Heading_Lv3 u-Adjust_Mt-32" data-gtm-vis-first-on-screen-9148831_335="4454" data-gtm-vis-total-visible-time-9148831_335="500" data-gtm-vis-has-fired-9148831_335="1">オプションサービス</h3>

<div class="c-Theme-Light u-Adjust_Mt-24">
  <h4 class="c-Heading_Lv4">プランに含まれているサービス</h4>

  <table class="fee-Price_Service-link u-Adjust_Mt-8">
    <tbody>
      <tr>
        <td><a href="<%= sitepath %>service/voice-mail/?l-id=fee_un_limit_service_voice_mail" class="c-Link_Txt-inline">留守番電話<span class="c-Icon_Chevron-right"></span></a></td>
        <td><a href="<%= sitepath %>service/call-waiting/?l-id=fee_un_limit_service_call-waiting" class="c-Link_Txt-inline">割込通話／通話保留<span class="c-Icon_Chevron-right"></span></a></td>
      </tr>
      <tr>
        <td><a href="<%= sitepath %>service/international-sms/?l-id=fee_un_limit_service_sms" class="c-Link_Txt-inline">国際SMS<span class="c-Icon_Chevron-right"></span></a></td>
        <td><a href="<%= sitepath %>service/call-forwarding/?l-id=fee_un_limit_service_call-forwarding" class="c-Link_Txt-inline">通話転送<span class="c-Icon_Chevron-right"></span></a></td>
      </tr>
      <tr>
        <td><a href="<%= sitepath %>service/sms/?l-id=fee_un_limit_service_sms" class="c-Link_Txt-inline">SMS<span class="c-Icon_Chevron-right"></span></a></td>
        <td><a href="<%= sitepath %>service/tethering/?l-id=fee_un_limit_service_tethering" class="c-Link_Txt-inline">テザリング<span class="c-Icon_Chevron-right"></span></a></td>
      </tr>
    </tbody>
  </table>

  <p class="c-Txt_Cap u-Adjust_Mt-8">※ 国内SMS：アプリ未使用時3.3円（税込）／全角70文字</p>
  <p class="c-Txt_Cap u-Adjust_Mt-8">※ 国際SMSの送信は海外の対象国と地域以外：100円（不課税）／70文字（全角）。OS標準アプリ利用時：100円（不課税）／70文字（全角）。海外での利用時、海外の対象国と地域からのみ利用可能</p>

  <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>service/global/?l-id=fee_un-limit_service_global" class="c-Link_Txt-inline">海外で使える国際サービスを見る<span class="c-Icon_Chevron-right"></span></a></p>
</div>

  <ul class="fee-Price_Option-list">
    <li class="c-Theme-Light">
      <div>
        <p class="c-Txt_Normal-m u-Adjust_Mt-16"><a href="<%= sitepath %>service/standard-free-call/?l-id=un-limit_service_standard-free-call_2" class="c-Link_Txt-inline">15分（標準）通話かけ放題</a></p>
        <div class="fee-Price_Option-service fee-Price_Option-service-first">
          <p class="u-Adjust_Align-left u-Adjust_Mt-8">1,000円／月（税込1,100円）</p>
          <div class="u-Adjust_Mt-16">
            <img src="/assets/img/fee/un-limit/img-06-230411.png" width="472" alt="">
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="c-Theme-Light">

        <div class="fee-Price_Option-service">
          <div>
            <img src="/assets/img/fee/un-limit/img-04.png?220701" width="136" alt="">
          </div>
          <div>
            <p class="c-Txt_Normal-m u-Adjust_Mt-8"><a href="<%= sitepath %>service/international-unlimited-talk/?l-id=fee_un_limit_service_international-unlimited-talk" class="c-Link_Txt-inline">国際通話かけ放題</a></p>
            <p>980円/月（不課税）</p>
          </div>
        </div>
      </div>
      <div class="c-Theme-Light fee-Price_Option-list-item u-Adjust_Mt-16">
        <div class="fee-Price_Option-service">
          <div>
            <img src="/assets/img/fee/un-limit/img-05-230411.png" width="136" alt="">
          </div>
          <div>
            <p class="c-Txt_Normal-m"><a href="<%= sitepath %>service/data-charge/?l-id=fee_un_limit_service_data-charge" class="c-Link_Txt-inline">データチャージ</a></p>
            <p classs="u-Adjust_Mt-8">1GBあたり600円（税込660円）</p>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="u-Adjust_Align-center u-Adjust_Mt-16">
    <a href="<%= sitepath %>service/?l-id=fee_un_limit_service" class="c-Btn_Regular fee-Utility_Btn">オプションサービス一覧へ</a>
  </div>
</div>
<!-- //プラン料金 -->
