<% const pagetitle = "動画・テレビCMギャラリー" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '女優の米倉涼子さんをイメージキャラクターに起用した楽天モバイルのテレビCMギャラリー。スマホユーザーの持つ携帯電話サービスへの疑問や不満に対して、楽天モバイルからのメッセージをお届けします。',
    noindex: false,
    pathname: filepath,
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/cm/cm.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="cm-Layout">
  <div class="cm-Layout_Heading">
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1 u-Adjust_Mt-32"><%= pagetitle %></h1>
    </div>
  </div>
  <div class="u-Adjust_Mt-24 l-System_Container">
    <div class="cm-Layout_Bnr">
      <a href="<%= sitepath %>ad/lp/uservoice/?l-id=cm_ad_lp_uservoice">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/bnr/bnr-uservoice-328-185-240327.png" width="328" height="185">
          <img src="<%= sitepath %>assets/img/bnr/bnr-uservoice-1032-160-240327.png" width="1032" height="160" alt="Rakuten最強プランを使いこなしている人たちの声を見てみましょう。">
        </picture>
      </a>
    </div>
  </div>
  <div class="cm-Layout_Detail u-Adjust_Mt-32">
    <div class="l-System_Container">
      <h2 class="c-Heading_Lv2 u-Adjust_Align-center">楽天モバイルの最新CM</h2>
      <div class="u-Adjust_Mt-16">
        <div class="l-Media_Grid-half u-Adjust_Mt-24">
          <div class="cm-List_Item">
            <div class="cm-List_Movie u-Adjust_Align-center">
              <iframe src="https://players.brightcove.net/5068808272001/default_default/index.html?videoId=6347966035112"
                allowfullscreen="" allow="encrypted-media"
                style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"></iframe>
            </div>
            <p class="cm-List_Name">「My Rakuten最強プラン ゲームに動画 篇」</p>
            <p class="cm-List_Detail">
              ゲームに動画、ギガを気にせず楽しみたいあなたに。楽天モバイルなら、月々のお支払いが家族割引適用で2,880円（税込3,168円）<span class="c-Txt_Cap">※1※2※3</span><br>
              Rakuten最強プランの使い方を今田美桜さんが紹介します。
            </p>
            <p class="cm-List_Actor">出演: 今田美桜さん​</p>
            <p class="c-Txt_Cap u-Adjust_Mt-16">
              ※1 公平なサービス提供または環境により速度制限する場合あり<br>
              ※2 通話料等別<br>
              ※3 条件あり
            </p>
          </div>
          <div class="cm-List_Item">
            <div class="cm-List_Movie u-Adjust_Align-center">
              <iframe src="https://players.brightcove.net/5068808272001/default_default/index.html?videoId=6347968894112"
                allowfullscreen="" allow="encrypted-media"
                style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"></iframe>
            </div>
            <p class="cm-List_Name">「My Rakuten最強プラン テザリング 篇」</p>
            <p class="cm-List_Detail">
              いつでもどこでもギガを気にせず使いたいあなたに。<br>
              楽天モバイルなら、月々のお支払いが家族割引適用で2,880円（税込3,168円）。<span class="c-Txt_Cap">※1※2※3</span>
            </p>
            <p class="c-Txt_Cap u-Adjust_Mt-16">
              ※1 公平なサービス提供または環境により速度制限する場合あり<br>
              ※2 通話料等別<br>
              ※3 条件あり
            </p>
          </div>
        </div>
        <div class="l-Media_Grid-half u-Adjust_Mt-24">
          <div class="cm-List_Item">
            <div class="cm-List_Movie u-Adjust_Align-center">
              <iframe src="https://players.brightcove.net/5068808272001/default_default/index.html?videoId=6347967621112"
                allowfullscreen="" allow="encrypted-media"
                style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"></iframe>
            </div>
            <p class="cm-List_Name">「My Rakuten最強プラン ワンプラン 篇」</p>
            <p class="cm-List_Detail">
              無駄が嫌いなあなたのために。楽天モバイルなら、月々のお支払いが家族割引適用で3GBまでなら880円（税込968円）<span class="c-Txt_Cap">※1※2</span>
            </p>
            <p class="c-Txt_Cap u-Adjust_Mt-16">
              ※1 条件あり<br>
              ※2 通話料等別
            </p>
          </div>
          <div class="cm-List_Item">
            <div class="cm-List_Movie u-Adjust_Align-center">
              <iframe src="https://players.brightcove.net/5068808272001/default_default/index.html?videoId=6347968794112"
                allowfullscreen="" allow="encrypted-media"
                style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"></iframe>
            </div>
            <p class="cm-List_Name">「My Rakuten最強プラン わたしも家族もおトク 篇」</p>
            <p class="cm-List_Detail">
              わたしも家族もおトクに。家族3人で使っても月々のお支払いが1万円以下<span class="c-Txt_Cap">※3</span>！しかも！家族割引適用で3GBまで月々880円（税込968円）<span class="c-Txt_Cap">※1※2</span>
            </p>
            <p class="c-Txt_Cap u-Adjust_Mt-16">
              ※1 条件あり<br>
              ※2 通話料等別<br>
              ※3 プラン料金の3回線分として
            </p>
          </div>
        </div>
        <div class="l-Media_Grid-half u-Adjust_Mt-24">
          <div class="cm-List_Item">
            <div class="cm-List_Movie">
              <iframe src="https://players.brightcove.net/5068808272001/default_default/index.html?videoId=6346837691112"
                    allowfullscreen="" allow="encrypted-media"></iframe>
            </div>
            <p class="cm-List_Name">「スマホ料金のお支払いが０円に！？篇」</p>
            <p class="cm-List_Detail">
              楽天モバイルなら、楽天ポイントでお買い物すると、ポイントが毎日５倍貯まる！<span class="c-Txt_Cap">※1</span><br>
              だから、貯まったポイントで全額支払えばスマホ料金のお支払いが0円になることも！<span class="c-Txt_Cap">※2</span><br>
              これぞ、楽天モバイル式節約術！
            </p>
            <p class="c-Txt_Cap u-Adjust_Mt-16">
              ※1 楽天市場のSPUが5倍。プラン指定あり　獲得上限、利用条件あり。詳細は<a href="<%= sitepath %>campaign/spu/?l-id=cm_campaign_spu" class="c-Link_Txt">こちら</a><br>
              ※2 利用条件等あり
            </p>
          </div>
          <div class="cm-List_Item">
          </div>
        </div>
      </div>


      <h2 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-40">500万回線突破記念動画</h2>
      <div class="u-Adjust_Mt-16">
        <div class="l-Media_Grid-half u-Adjust_Mt-24">
          <div class="cm-List_Item">
            <div class="cm-List_Movie">
              <iframe src="https://players.brightcove.net/5068808272001/default_default/index.html?videoId=6337186595112"
                    allowfullscreen="" allow="encrypted-media"></iframe>
            </div>
            <p class="cm-List_Name">「軌跡」</p>
          </div>
          <div class="cm-List_Item">
            <div class="cm-List_Movie">
              <iframe src="https://players.brightcove.net/5068808272001/default_default/index.html?videoId=6342753768112" allowfullscreen="" allow="encrypted-media"></iframe>
            </div>
            <p class="cm-List_Name">「実際のお客様の声」</p>
          </div>
        </div>
      </div>


      <h2 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-40">お客様座談会動画</h2>
      <div class="u-Adjust_Mt-16">
        <div class="l-Media_Grid-half u-Adjust_Mt-24">
          <div class="cm-List_Item">
            <div class="cm-List_Movie">
              <video
                class="video-js video-js-custom"
                data-account="5068808272001"
                data-player="ahYJfhujM"
                data-embed="default"
                controls=""
                data-video-id="6350541793112"
                data-playlist-id=""
                data-application-id=""
                data-rat-media='{ "measure":true, "mediaId": "movie_simulation" }'
              ></video>
              <script src="https://players.brightcove.net/5068808272001/ahYJfhujM_default/index.min.js"></script>
            </div>
            <p class="cm-List_Name">「みんなで料金シミュレーション」</p>
            <p class="cm-List_Detail">
              楽天モバイルの料金プランは圧倒的低価格！
              <br>
              「現在契約しているプランは高いけど仕方ない」、「価格をもっと抑えられるプランがあったら乗り換えたい」、そんなお悩みをお持ちの方々に、かんたん3ステップで他社プランと比較もできる、料金シミュレーションを体験いただきました。
            </p>
          </div>
          <div class="cm-List_Item">
            <div class="cm-List_Movie">
              <video
                class="video-js video-js-custom"
                data-account="5068808272001"
                data-player="ahYJfhujM"
                data-embed="default"
                controls=""
                data-video-id="6350543468112"
                data-playlist-id=""
                data-application-id=""
                data-rat-media='{ "measure":true, "mediaId": "movie_application" }'
              ></video>
              <script src="https://players.brightcove.net/5068808272001/ahYJfhujM_default/index.min.js"></script>
            </div>
            <p class="cm-List_Name">「みんなでWeb申し込み体験」</p>
            <p class="cm-List_Detail">
              楽天モバイルのWeb申し込みはとても簡単！「乗り換え手続きって大変そう」、「店舗に行く時間がない」、そんな心配をお持ちの方々に、いつでも・どこでも・簡単にできるWeb申し込みを体験いただきました。
            </p>
          </div>
        </div>
      </div>


      <div class="u-Adjust_Mt-40">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">サポート動画</h2>
        <div class="u-Adjust_Mt-16">
          <a href="<%= sitepath %>guide/support-movie/?l-id=cm_bnr_guide_support-movie" class="c-Banner_Hover-act">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/bnr/support-inst-movie-343-108-220922.png">
              <img src="<%= sitepath %>assets/img/bnr/support-inst-movie-1032-120-220922.png" width="1032" alt="スマホの初期設定 Rakuten Linkの使い方 などを 動画でわかりやすく解説! サポート動画一覧はこちら">
            </picture>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="l-System_Container u-Adjust_Mt-64">
    <%- include('/include/_bnr-cpn-recommend-v2') %>
  </div>
</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">
    <%- include('/include/footer/related/_related-cm-v2.ejs') %>
  </div>

  <div class="l-System_Container">
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
<script src="https://r.r10s.jp/com/rat/plugin/media/main-0.2.0.js"></script>
<script type="text/javascript">
  window.RAT.MediaTracker({
    params: {
      acc: 1312,
      aid: 1,
      pgn: location.pathname,
    },
    configs: {
      measure: true,
    }
  })
</script>
</body>
</html>
