<% const pagetitle = "お客様サポート" -%>
<% const namespace = "support" -%>
<%
  const beforeUserFaqList = [
    {
      path: 'faq/detail/10000589/',
      name: '管理用画面はどのようにアクセスできますか？'
    },
    {
      path: 'faq/detail/10000713/',
      name: '口座振替やクレジットカードで引き落としができなかった場合、支払いはどうなりますか？',
      dataLid: '02'
    },
    {
      path: 'faq/detail/10000676/',
      name: 'SSIDとWi-Fiパスワードを確認／変更できますか？'
    },
    {
      path: 'faq/detail/10000624/',
      name: 'インターネットに接続ができないときはどうすればよいですか？'
    },
    {
      path: 'faq/detail/10000658/',
      name: '返品・返金できますか？'
    }
  ];
%>
<%
  const userFaqList = [
    {
      path: 'faq/detail/10000671/',
      name: '5Gサービスが利用できるエリアはどこですか？'
    },
    {
      path: 'faq/detail/10000616/',
      name: '楽天ひかりとの違いは何ですか？'
    },
    {
      path: 'faq/detail/10000694/',
      name: '解約するとき、契約解除料は発生しますか？'
    },
    {
      path: 'faq/detail/10000657/',
      name: '店頭で製品を受け取ることはできますか？'
    },
    {
      path: 'faq/detail/10000584/',
      name: '好きな場所で使えますか？'
    }
  ];
%>
<%-
 include('/_header', {
    pagetitle,
    description: '楽天モバイルのホームルーターRakuten TurboのWi-Fiルーター設定方法、各種お手続き方法、ご契約時に必要なこと、お問い合わせ（問合せ）、紛失・故障・修理などをご確認いただけます',
    noindex: false,
    pathname: filepath,
    isTurbo: true
  });
%>

<%- include('/include/_common-css-v2') %>
<%- include('/include/internet/turbo/support/_smallcategory-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/internet/turbo/support/support.css?20240424">
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/internet/turbo/_prepend-body-internet') %>
  <div class="l-System">

    <%- include('/include/internet/turbo/_header', {
      pagetitle,
      tax: false,
    }) %>
    <!-- トップお知らせエリア。新規追加された時用に残しています。
    <div class="c-Attention_Info">
      <div class="c-Attention_Container"><span class="c-Attention_Icon c-Icon_Sign-info-l"></span>
        <p class="c-Attention_Body"><a href="<%= sitepath %>information/maintenance/2478/?l-id=rmt_mno_information_maintenance_2478"> 【完了】チャット相談窓口システムメンテナンスのお知らせ（10月23日午前9時00分時点）</a></p>
      </div>
    </div>
    -->
    <section class="c-Hero <%= namespace %>-Kv">
      <div class="l-System_Container c-Hero-content">
        <h1 class="<%= namespace %>-Kv_Heading">お客様サポート</h1>
        <p class="u-Adjust_Mt-16">お困りごとに合わせた、<br>最適な解決方法とお問い合わ<br class="<%= namespace %>-Utility_Disp-sp">せ先をご案内いたします。</p>
        <p class="u-Adjust_Mt-16"><a href="https://business.mobile.rakuten.co.jp/support/solution-turbo/plan/" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">法人のお客様はこちら<span class="c-Icon_New-window-l"></span></a></p>
      </div>
    </section>

    <section class="<%= namespace %>-Utility_Mt-32-40">
      <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2 u-Adjust_Align-center">カテゴリーから探す</h2>
      <div class="c-Tab js-Tab">
        <div class="<%= namespace %>-Layout_Tab">
          <ul class="c-Tab_Items <%= namespace %>-Layout_Tab-inner" role="tablist">
            <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1" data-auto-rat="tab">ご利用中の方</li>
            <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2" data-auto-rat="tab">ご利用開始前の方</li>
          </ul>
        </div>
        <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
          <div class="<%= namespace %>-Category_Container u-Adjust_Pb-40">
            <div class="l-System_Container">
              <div class="<%= namespace %>-Layout_Card">
                <div id="category-setting" class="<%= namespace %>-Card_Basic">
                  <span class="c-Icon_Settings-f"></span>
                  <div class="<%= namespace %>-Accordion">
                    <button id="accordion-setting" class="<%= namespace %>-Accordion_Trigger js-<%= namespace %>-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-setting">
                      <h3 class="c-Heading_Lv4 <%= namespace %>-Utility_Heading_Lv4"><span class="c-Icon_Settings-f"></span>操作・設定・不具合</h3>
                      <span class="c-Icon_Chevron-down <%= namespace %>-Accordion_Arrow"></span>
                    </button>
                    <div id="accordion-content-setting" class="<%= namespace %>-Accordion_Panel js-<%= namespace %>-Accordion_Panel" role="region" aria-labelledby="accordion-setting" aria-hidden="true">
                      <ul>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/setting/usage/"><span>製品の設置から接続まで</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/setting/check/"><span>Rakuten Turboで接続中の回線を確認する方法</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/setting/howtouse/"><span>Rakuten Turbo 5G 管理用画面の利用方法</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/information/"><span>メンテナンス・障害等のお知らせ</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/setting/troubleshooting/"><span>故障かなと思ったら</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/setting/#faq"><span>よくあるご質問を見る</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div id="category-payment" class="<%= namespace %>-Card_Basic">
                  <span class="c-Icon_Credit-card-f"></span>
                  <div class="<%= namespace %>-Accordion">
                    <button id="accordion-payment" class="<%= namespace %>-Accordion_Trigger js-<%= namespace %>-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-payment" data-auto-rat="accordion">
                      <h3 class="c-Heading_Lv4 <%= namespace %>-Utility_Heading_Lv4"><span class="c-Icon_Credit-card-f"></span>請求・お支払い方法</h3>
                      <span class="c-Icon_Chevron-down <%= namespace %>-Accordion_Arrow"></span>
                    </button>
                    <div id="accordion-content-payment" class="<%= namespace %>-Accordion_Panel js-<%= namespace %>-Accordion_Panel" role="region" aria-labelledby="accordion-payment" aria-hidden="true">
                      <ul>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/payment/flow/"><span>Rakuten Turboの請求金額の確定とお支払いまでの流れ</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/payment/certificate/"><span>利用明細と各種明細の確認方法</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/payment/method/"><span>お支払い方法</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/payment/change/"><span>お支払い方法の確認・変更</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>guide/payment/invoice/flow/"><span> 未払い料金のお支払い方法</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>guide/payment/invoice/unpaid/"><span>未払い料金発生からご利用停止・契約解除まで</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/payment/commission/"><span>各種手数料</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/plan/point-guide/" data-lid_no="02"><span>Rakuten Turboは楽天ポイントが貯まる・使える</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/payment/point/"><span>楽天ポイント（お支払い方法設定）</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/payment/#faq"><span>よくあるご質問を見る</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div id="category-contract" class="<%= namespace %>-Card_Basic">
                  <span class="c-Icon_Rakuten-account-f"></span>
                  <div class="<%= namespace %>-Accordion">
                    <button id="accordion-contract" class="<%= namespace %>-Accordion_Trigger js-<%= namespace %>-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-contract" data-auto-rat="accordion">
                      <h3 class="c-Heading_Lv4 <%= namespace %>-Utility_Heading_Lv4"><span class="c-Icon_Rakuten-account-f"></span>契約内容・お手続き</h3>
                      <span class="c-Icon_Chevron-down <%= namespace %>-Accordion_Arrow"></span>
                    </button>
                    <div id="accordion-content-contract" class="<%= namespace %>-Accordion_Panel js-<%= namespace %>-Accordion_Panel" role="region" aria-labelledby="accordion-contract" aria-hidden="true">
                      <ul>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/contract/details/"><span>契約内容・登録内容の確認・変更</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/contract/house-moving/"><span>お引越しの手続き</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/contract/my-rakuten-mobile/"><span>my 楽天モバイル</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/contract/rakuten-mobile-id/"><span>楽天モバイルIDの確認方法</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/contract/sim/"><span>SIMカードの再発行・紛失・盗難</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/contract/initial-contract/" data-lid_no="02"><span>初期契約解除について</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/contract/cancel/"><span>ご解約について</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/contract/check-imei/"><span>製造番号（IMEI）の確認方法</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/contract/#faq"><span>よくあるご質問を見る</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <section class="<%= namespace %>-Layout_Faq">
            <div class="l-System_Container">
              <div class="u-Adjust_Align-center">
                <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">よく見られているご質問</h2>
              </div>

              <ul class="c-Link_List <%= namespace %>-Main_List u-Adjust_Mt-24">
                <% beforeUserFaqList.forEach(function(item) { -%>
                  <%_ if (!item.dataLid) { _%>
                    <li>
                      <a href="<%= sitepath %><%= item.path %>"><%= item.name %><span class="c-Icon_Chevron-right"></span></a>
                    </li>
                  <%_ } else { _%>
                    <li>
                      <a href="<%= sitepath %><%= item.path %>" data-lid_no="<%= item.dataLid %>"><%= item.name %><span class="c-Icon_Chevron-right"></span></a>
                    </li>
                  <%_ } _%>
                <% }); -%>
              </ul>
            </div>
          </section>
        </div>
        <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
          <div class="<%= namespace %>-Category_Container">
            <div class="l-System_Container">
              <div class="<%= namespace %>-Layout_Card">
                <div id="category-product" class="<%= namespace %>-Card_Basic">
                  <span class="<%= namespace %>-Utility_Icon_Product-f"></span>
                  <div class="<%= namespace %>-Accordion">
                    <button id="accordion-product" class="<%= namespace %>-Accordion_Trigger js-<%= namespace %>-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-product" data-auto-rat="accordion">
                      <h3 class="c-Heading_Lv4 <%= namespace %>-Utility_Heading_Lv4"><span class="<%= namespace %>-Utility_Icon_Product-f"></span>製品</h3> <!-- TODO Rexアイコンに変更(登録申請中)*/ -->
                      <span class="c-Icon_Chevron-down <%= namespace %>-Accordion_Arrow"></span>
                    </button>
                    <div id="accordion-content-product" class="<%= namespace %>-Accordion_Panel js-<%= namespace %>-Accordion_Panel" role="region" aria-labelledby="accordion-product" aria-hidden="true">
                      <ul>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/product/rakuten-turbo5g/"><span>Rakuten Turbo 5G サポート情報</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/product/#faq"><span>よくあるご質問を見る</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div id="category-plan" class="<%= namespace %>-Card_Basic">
                  <span class="c-Icon_Price-f"></span>
                  <div class="<%= namespace %>-Accordion">
                    <button id="accordion-plan" class="<%= namespace %>-Accordion_Trigger js-<%= namespace %>-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-plan" data-auto-rat="accordion">
                      <h3 class="c-Heading_Lv4 <%= namespace %>-Utility_Heading_Lv4"><span class="c-Icon_Price-f"></span>プラン・サービス</h3>
                      <span class="c-Icon_Chevron-down <%= namespace %>-Accordion_Arrow"></span>
                    </button>
                    <div id="accordion-content-plan" class="<%= namespace %>-Accordion_Panel js-<%= namespace %>-Accordion_Panel" role="region" aria-labelledby="accordion-plan" aria-hidden="true">
                      <ul>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/fee/" data-lid_no="01"><span>料金プラン</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>terms/"><span>重要事項・利用規約</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/plan/point-guide/"><span>Rakuten Turboは楽天ポイントが貯まる・使える</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/plan/#faq"><span>よくあるご質問を見る</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div id="category-flow" class="<%= namespace %>-Card_Basic">
                  <span class="c-Icon_List-f"></span>
                  <div class="<%= namespace %>-Accordion">
                    <button id="accordion-flow" class="<%= namespace %>-Accordion_Trigger js-<%= namespace %>-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-flow" data-auto-rat="accordion">
                      <h3 class="c-Heading_Lv4 <%= namespace %>-Utility_Heading_Lv4"><span class="c-Icon_List-f"></span>申し込みからお受け取りまで</h3>
                      <span class="c-Icon_Chevron-down <%= namespace %>-Accordion_Arrow"></span>
                    </button>
                    <div id="accordion-content-flow" class="<%= namespace %>-Accordion_Panel js-<%= namespace %>-Accordion_Panel" role="region" aria-labelledby="accordion-flow" aria-hidden="true">
                      <ul>
                        <!-- <li>
                          <a href="<%= sitepath %>internet/turbo/application/"><span>お申し込みの前に</span><span class="c-Icon_Chevron-right"></span></a>
                        </li> -->
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/flow/application/"><span>Rakuten Turboのお申し込み方法</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/flow/verify/"><span>本人確認書類</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/flow/delivery/"><span>Rakuten Turboの配送について</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/contract/initial-contract/" data-lid_no="01"><span>初期契約解除について</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/flow/#faq"><span>よくあるご質問を見る</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div id="category-campaign" class="<%= namespace %>-Card_Basic">
                  <span class="c-Icon_Campaign-f"></span>
                  <div class="<%= namespace %>-Accordion">
                    <button id="accordion-campaign" class="<%= namespace %>-Accordion_Trigger js-<%= namespace %>-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-campaign" data-auto-rat="accordion">
                      <h3 class="c-Heading_Lv4 <%= namespace %>-Utility_Heading_Lv4"><span class="c-Icon_Campaign-f"></span>キャンペーン</h3>
                      <span class="c-Icon_Chevron-down <%= namespace %>-Accordion_Arrow"></span>
                    </button>
                    <div id="accordion-content-campaign" class="<%= namespace %>-Accordion_Panel js-<%= namespace %>-Accordion_Panel" role="region" aria-labelledby="accordion-campaign" aria-hidden="true">
                      <ul>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/campaign/"><span>キャンペーン</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/campaign/archive/"><span>過去のキャンペーン・特典</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                        <li>
                          <a href="<%= sitepath %>internet/turbo/support/campaign/#faq"><span>よくあるご質問を見る</span><span class="c-Icon_Chevron-right"></span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <section class="<%= namespace %>-Layout_Faq">
            <div class="l-System_Container">
              <div class="u-Adjust_Align-center">
                <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">よく見られているご質問</h2>
              </div>

              <ul class="c-Link_List <%= namespace %>-Main_List u-Adjust_Mt-24">
                <% userFaqList.forEach(function(item) { -%>
                <li>
                  <a href="<%= sitepath %><%= item.path %>"><%= item.name %><span class="c-Icon_Chevron-right"></span></a>
                </li>
                <% }); -%>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </section>

    <section class="u-Adjust_Mt-64">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">Turboもひかりも、どちらもおトク</h2>
      </div>
      <div class="u-Adjust_Mt-24">
        <%- include('/include/internet/turbo/common/_bnr', {
          orglid1: 'rmt_internet_turbo_support_internet_turbo_campaign_six-month-free_01',
          orglid2: 'rmt_internet_turbo_support_hikari_campaign_six-month-free_01'
        }) %>
      </div>
    </section>

    <section class="u-Adjust_Mt-64">
      <div class="l-System_Container">
        <div class="c-Infobox_Standing-border <%= namespace %>-App_Infobox c-Theme-Borderbox">
          <div class="u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" width="64" height="64" alt="my 楽天モバイル">
          </div>
          <h3 class="c-Heading_Lv4 u-Adjust_Align-center u-Adjust_Mt-16">my 楽天モバイル</h3>
          <p class="u-Adjust_Align-center u-Adjust_Mt-8">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
          <div class="<%= namespace %>-App_Store u-Adjust_Mt-24">
            <div>
              <a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank" rel="noopener noreferrer"><img src="<%= sitepath %>assets/img/internet/turbo/common/btn-googleplay.png" width="162" height="48" alt="Google Play"></a>
            </div>
            <div>
              <a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank" rel="noopener noreferrer"><img src="<%= sitepath %>assets/img/internet/turbo/common/btn-appstore.png" width="131" height="48" alt="Apple Store"></a>
            </div>
          </div>
          <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">my 楽天モバイルとは</a>
          </div>
          <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <a href="<%= ecarepath %>my-rakuten-mobile" data-lid_no="02" target="_blank" rel="noopener noreferrer" class="c-Link_Txt-inline">Webで「my 楽天モバイル」を使う<span class="c-Icon_New-window-l"></span></a>
          </div>
        </div>
      </div>
    </section>

    <div class="u-Adjust_Mt-56">
      <%- include('/include/internet/turbo/_more-nav', {
        hiddenBnr: true,
      }) %>
    </div>

    <div class="u-Adjust_Mt-24">
      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
      <%- include('/include/internet/turbo/_footer', { pagetitle }) %>
    </div>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/internet.turbo.support.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
  <%- include('/include/internet/turbo/_rex-survey') %>

</body>

</html>
