<% const pagetitle = "楽天モバイルご利用で、ヴィッセル神戸を強くしよう！キャンペーン参加者数に応じて、強化費をクラブに還元" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "visselkobe-supporters" -%>
<% const subNamespace = "mamawari-debut" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '楽天モバイルご利用で、ヴィッセル神戸を強くしよう！キャンペーン参加者数に応じて、強化費をクラブに還元',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/visselkobe-supporters/visselkobe-supporters.css?240430">
<%- include('/include/_append-head') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/mamawari-debut/mamawari-debut.css?20240424">
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout_Label">
      <ul class="c-Label_List">
        <li class="c-Label_Normal">ご契約者様対象</li>
        <li class="c-Label_Normal">エントリー必要</li>
      </ul>
    </div>


    <section class="<%= namespace %>-Hero">
      <div class="<%= namespace %>-Hero_Container">
        <h1>
          <picture>
            <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/campaign/visselkobe-supporters/kv-sp-20240228.png" width="100%">
            <img src="<%= sitepath %>assets/img/campaign/visselkobe-supporters/kv-pc-20240228.png" width="1440" height="300" alt="<%= pagetitle %>">
          </picture>
        </h1>
      </div>
      <div class="l-System_Container">
        <p class="u-Adjust_Align-center c-Txt_Emp-02 c-Heading_Lv3 u-Adjust_Mt-16">
          本キャンペーンは2024年4月30日（火）をもちまして終了いたしました。<br>
          このページに掲載されている情報は、キャンペーン終了時点のものです。
        </p>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16 u-Adjust_Mb-16">
          <a href="<%= sitepath %>campaign/?l-id=end_campaign" class="c-Link_Txt-inline">開催中のキャンペーンを見る<span class="c-Icon_Chevron-right"></span></a>
        </div>
      </div>
      <div class="<%= namespace %>-Hero_Period">
        【エントリー期間】<br class="u-Show_Sp"> 2023年8月23日（水）～ 2024年4月30日（火）
        <p class="u-Show_Sp u-Adjust_Mt-16">ご契約者様はエントリーするだけで特典対象になります。</p>
        <div class="u-Show_Sp u-Adjust_Mt-16">
          <button class="c-Btn_Primary-large" aria-disabled="true" disabled><span>エントリーはこちら</span></button>
        </div>
      </div>
    </section>

    <section class="<%= namespace %>-Benefit">
      <div class="<%= namespace %>-Benefit_Title u-Adjust_Mb-16">キャンペーン特典</div>
      <div class="<%= namespace %>-Benefit_Container">
        <div class="<%= namespace %>-Benefit_Container-item">
          <div class="u-Adjust_Mb-16 u-Adjust_Align-center">特典</div>
          <div class="u-Adjust_Mb-16 u-Adjust_Align-center">売上の一部がヴィッセル<br class="u-Show_Xxo">神戸の強化費に！</div>
          <img src="<%= sitepath %>assets/img/campaign/visselkobe-supporters/group-portrait-20230823.png" alt="">
          <div class="u-Adjust_Mt-24">キャンペーン参加者数に応じて、楽天モバイル売上の一部がヴィッセル神戸の強化費に充てられます。</div>
          <p class="end-txt">本特典は<br class="u-Show_Sp">2024年4月30日（火）で<br>終了いたしました</p>
        </div>
        <div class="<%= namespace %>-Benefit_Container-item">
          <div class="u-Adjust_Mb-16 u-Adjust_Align-center">特典</div>
          <div class="u-Adjust_Mb-16 u-Adjust_Align-center">ホームゲームで<br class="u-Show_Xxo">ドリンク1杯無料！</div>
          <img src="<%= sitepath %>assets/img/campaign/visselkobe-supporters/free-drink-20230823.png" alt="">
          <div class="u-Adjust_Mt-24">Rakuten Linkアプリご提示で、ホームゲームご来場時にドリンク1杯無料でプレゼントします。</div>
          <div class="u-Adjust_Mt-24">
            <a href="#campaign-rule" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>詳細を見る</a>
          </div>
          <p class="c-Txt_Cap u-Adjust_Mt-24">※条件あり</p>
          <p class="end-txt">本特典は<br class="u-Show_Sp">2024年2月29日（木）で<br>終了いたしました</p>
        </div>
      </div>
    </section>

    <section class="u-Show_Xxo">
      <div class="l-System_Container">
        <div class="u-Adjust_Align-center u-Adjust_Mt-48 u-Adjust_Mb-32">
          <p class="c-Heading_Lv2 u-Adjust_Mt-16">まずはエントリー</p>
          <p class="u-Adjust_Mt-32">【エントリー期間】2023年8月23日（水）～ 2024年4月30日（火）</p>
          <div class="u-Adjust_Mt-16">
            <button
              class="c-Btn_Primary-large" aria-disabled="true" disabled><span>エントリーはこちら</span></button>
          </div>
          <p class="c-Txt_Emp-02 u-Adjust_Mt-16">ご契約者様はエントリーするだけで特典対象になります。</p>
          <p class="c-Txt_Cap u-Adjust_Mt-8">
            ※エントリー、お申し込みの順番は問いません。<br>
          </p>
        </div>
      </div>
    </section>

    <section id="js-trigger" class="<%= namespace %>-Flow u-Adjust_Mt-48">
      <h2 class="c-Heading_Lv2 u-Adjust_Mt-16 u-Adjust_Align-center">キャンペーンの流れ</h2>
      <div class="l-System_Container u-Adjust_Mt-24">
        <div class="c-Tab js-Tab">
          <ul class="c-Tab_Items" role="tablist">
            <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="false" aria-controls="tab-content1">ご契約中の方</li>
            <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="true" aria-controls="tab-content2">新規お申し込みの方</li>
          </ul>
          <!--  -->
          <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu1">
            <h3 class="c-Heading_Lv3 u-Adjust_Mt-24 u-Adjust_Align-center">ご契約中の方</h3>

            <div class="u-Adjust_Mt-24">
              <div class="<%= namespace %>-Layout_Step-Accordion c-Accordion u-Adjust_Mt-16">
                <button type="button" id="accordion-contract-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-contract-1" ><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP1　</span>キャンペーンにエントリーする</button>
                <div id="accordion-content-contract-1" class="<%= namespace %>-Layout_Step-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-contract-1"
                  aria-hidden="true">
                  <div class="l-Media_Grid u-Adjust_Mt-16">
                    <div class="l-Media_Image c-Flow_Image">
                      <img src="<%= sitepath %>assets/img/campaign/visselkobe-supporters/flow-existing-1-20230823.png" alt="">
                    </div>
                    <div>
                      <p class="c-Txt_Emp-01">エントリー期間：2023年8月23日（水）～ 2024年4月30日（火）</p>
                      <div class="u-Adjust_Mt-24">
                        <button
                          class="c-Btn_Primary-large" aria-disabled="true" disabled><span>エントリーはこちら</span></button>
                      </div>
                      <p class="c-Txt_Emp-02 u-Adjust_Mt-16">ご契約者様はエントリーするだけで特典対象になります。</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-16">
                        ※エントリー、お申し込みの順番は問いません。
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="<%= namespace %>-Layout_Step-Accordion c-Accordion u-Adjust_Mt-16">
                <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-contract-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP2　</span>ヴィッセル神戸を応援！</button>
                <div id="accordion-content-contract-2" class="<%= namespace %>-Layout_Step-Accordion_Panel js-Accordion_Panel" role="region"
                  aria-labelledby="accordion-2" aria-hidden="true">
                  <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
                    <img src="<%= sitepath %>assets/img/campaign/visselkobe-supporters/flow-existing-2-20230823.png" alt="" class="c-Img_Capture">
                  </p>
                </div>
              </div>
              <!--  -->
            </div>

            <div class="u-Adjust_Mt-24 c-Accordion">
              <button id="accordion-note-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false"
                aria-controls="accordion-note-content-2"><span
                  class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイル（ドコモ回線・au回線）をご利用中の方も本キャンペーンにご参加いただけますが、こちらもご確認ください。</button>
              <div id="accordion-note-content-2" class="<%= namespace %>-Layout_Step-Accordion_Panel js-Accordion_Panel" role="region"
                aria-labelledby="accordion-note-2" aria-hidden="true" style="display: none;">
                <ol class="<%= namespace %>-Note-third-list">
                  <li>メンバーズステーション経由のプラン変更（移行）は本キャンペーンの適用対象となりません。<br class="u-Show_Sp"><a
                      href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&amp;campaign=web-rakuten&amp;l-id=campaign_bigsale_ms1&amp;mno_migration=1">メンバーズステーション</a>にてMNP予約番号を発行のうえ、本ページからお申し込みください。
                  </li>
                  <li class="u-Adjust_Mt-8">
                    下記に当てはまる方はメンバーズステーション経由のプラン変更（移行）をご検討ください。<br>
                    <span class="c-Txt_Emp-01 title">オプションサービスを引き継ぎたい場合</span><br>
                    本ページからお申し込みした場合、オプションサービスはすべて解約となります。
                  </li>
                </ol>
                <p class="u-Adjust_Mt-16">
                  上記（1）（2）は通話SIMご利用の方の注意点となります。データSIMご利用中の方は、メンバーズステーション経由のプラン移行（変更）はできないため、本キャンペーンより新規でお申し込みください。</p>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu2">

            <div class="c-Accordion u-Adjust_Mt-24">
              <button type="button" id="accordion-flow-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-flow-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Webでお申し込みの場合、本ページの「お申し込みはこちら」ボタンよりお手続きください</button>
              <div id="accordion-flow-content-1" class="<%= namespace %>-Layout_Step-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-flow-1" aria-hidden="true">
                <ul class="c-List_Text-disc">
                  <li>Webでお申し込みの場合、本ページ以外からお手続きされた場合は特典適用対象外となります。</li>
                  <li>「お申し込み内容」画面でクーポンコード14桁の英数字が表示されていることをご確認のうえ、お申し込みを完了してください。表示されていない場合は特典適用対象外となるため、再度本ページの「お申し込みはこちら」ボタンよりお申し込みをやり直してください。</li>
                </ul>
              </div>
            </div>
            <div class="<%= namespace %>-Layout_Step u-Adjust_Mt-24">
              <div class="<%= namespace %>-Layout_Step-Accordion c-Accordion u-Adjust_Mt-16">
                <button type="button" id="accordion-new-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-new-1" ><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP1　</span>キャンペーンにエントリーする</button>
                <div id="accordion-content-new-1" class="<%= namespace %>-Layout_Step-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-new-1"
                  aria-hidden="true">
                  <div class="l-Media_Grid u-Adjust_Mt-16">
                    <div class="l-Media_Image c-Flow_Image">
                      <img src="<%= sitepath %>assets/img/campaign/visselkobe-supporters/flow-existing-1-20230823.png" alt="">
                    </div>
                    <div>
                      <p class="c-Txt_Emp-01">エントリー期間：2023年8月23日（水）～ 2024年4月30日（火）</p>
                      <div class="u-Adjust_Mt-24">
                        <button
                          class="c-Btn_Primary-large" aria-disabled="true" disabled><span>エントリーはこちら</span></button>
                      </div>
                      <p class="c-Txt_Emp-02 u-Adjust_Mt-16">お申し込み後、エントリーするだけで特典対象になります</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-16">
                        ※ヴィッセル神戸を強くしよう！キャンペーンのエントリーです
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="<%= namespace %>-Layout_Step-Accordion c-Accordion u-Adjust_Mt-16">
                <button type="button" id="accordion-new-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-new-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP2　</span>楽天モバイルのお申し込み</button>
                <div id="accordion-content-new-2" class="<%= namespace %>-Layout_Step-Accordion_Panel js-Accordion_Panel" role="region"
                  aria-labelledby="accordion-new-2" aria-hidden="true">
                  <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-24">
                    <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                      <img src="<%= sitepath %>assets/img/campaign/mamawari-debut/img-flow-01.png?230308" alt="">
                    </div>
                    <div>
                      <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">本ページから楽天モバイルに申し込む</h4>
                      <p class="u-Adjust_Mt-16 c-Txt_Emp-01">お申し込み期間：2023年8月23日（水）9:00～2023年9月25日（月）08:59</p>
                      <p class="u-Adjust_Mt-16">
                        <a href="">お申し込み時の注意点</a>を必ずご確認のうえ、以下のお申し込みボタンよりお手続きください。
                      </p>

                      <ul class="<%= subNamespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                        <li class="c-Txt_Emp-02"><span>※</span>本ページの「お申し込みはこちら」ボタン以外からお手続きされた場合、特典適用対象外となります。</li>
                        <li><span>※</span>未成年の方のお申し込み方法は別途こちらのご案内ページをご確認ください。</li>
                      </ul>

                      <p class="u-Adjust_Mt-24 c-Txt_Emp-01">クーポンコード：VSKREG00000001</p>
                    </div>
                  </div>
                  <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                    <button
                      class="c-Btn_Primary-large" aria-disabled="true" disabled><span>お申し込みはこちら</span></button>
                  </div>
                  <!--  -->
                  <div class="<%= namespace %>-Layout_Bg u-Adjust_Mt-24">
                    <p class="u-Adjust_Align-center">
                      <img src="<%= sitepath %>assets/img/campaign/visselkobe-supporters/detail-img-20230913.png" alt="" class="c-Img_Capture">
                    </p>

                    <div>
                      <p class="c-Txt_Emp-01" style="color: #A35E04;">「お申し込み内容」でクーポンコードが表示されていることを必ずご確認のうえ、お申し込みを完了してください。</p>
                      <p class="u-Adjust_Mt-16 c-Txt_Cap">
                        ※該当の項目が表示されてない場合、特典適用対象外となるため、再度本ページの「お申し込みはこちら」ボタンよりお申し込みをやり直してください。
                      </p>
                      <p class="u-Adjust_Mt-16 c-Txt_Cap">
                        ※実際に表示されるクーポンコードはVSKREG00000001です。
                      </p>
                    </div>
                  </div>

                  <ul class="<%= subNamespace %>-Flow_List u-Adjust_Mt-24">
                    <li>
                      <div>
                        <div class="step-pran-change  u-Adjust_Mt-8 u-Adjust_Mb-16 u-Adjust_Align-center">
                          <span class="c-Icon_Paper-plane-l c-Txt_Emp-02"></span>
                          <h4 id="members" class="c-Heading_Lv4">ドコモ回線・au回線の楽天モバイルから移行</h4>
                        </div>
                        <div class="u-Adjust_Mt-16">
                          <p class="u-Adjust_Mt-8 u-Adjust_Align-center">
                            メンバーズステーションにてMNP予約番号を発行のうえ、本ページからお申し込みください。</p>
                          <p class="u-Adjust_Align-center">
                            <button
                              class="c-Btn_Secondly-large <%= subNamespace %>-Flow_List-button-secondly u-Adjust_Mt-24" aria-disabled="true" disabled><span>メンバーズステーションにてMNP予約番号を発行する</span></button>
                          </p>
                        </div>
                        <div class="u-Adjust_Mt-24 c-Accordion">
                          <button id="accordion-note-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false"
                            aria-controls="accordion-note-content-3"><span
                              class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイル（ドコモ回線・au回線）をご利用中の方も本キャンペーンにご参加いただけますが、こちらもご確認ください。</button>
                          <div id="accordion-note-content-3" class="<%= namespace %>-Layout_Step-Accordion_Panel js-Accordion_Panel" role="region"
                            aria-labelledby="accordion-note-3" aria-hidden="true" style="display: none;">
                            <ol class="<%= namespace %>-Note-third-list">
                              <li>メンバーズステーション経由のプラン変更（移行）は本キャンペーンの適用対象となりません。<br class="u-Show_Sp"><a
                                  href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&amp;campaign=web-rakuten&amp;l-id=campaign_bigsale_ms1&amp;mno_migration=1">メンバーズステーション</a>にてMNP予約番号を発行のうえ、本ページからお申し込みください。
                              </li>
                              <li class="u-Adjust_Mt-8">
                                下記に当てはまる方はメンバーズステーション経由のプラン変更（移行）をご検討ください。<br>
                                <span class="c-Txt_Emp-01 title">オプションサービスを引き継ぎたい場合</span><br>
                                本ページからお申し込みした場合、オプションサービスはすべて解約となります。
                              </li>
                            </ol>
                            <p class="u-Adjust_Mt-16">
                              上記（1）（2）は通話SIMご利用の方の注意点となります。データSIMご利用中の方は、メンバーズステーション経由のプラン移行（変更）はできないため、本キャンペーンより新規でお申し込みください。</p>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <ul class="<%= subNamespace %>-Flow_List u-Adjust_Mt-24">
                    <li>
                      <div class="l-Media_Grid <%= subNamespace %>-Flow_List-in u-Adjust_Mt-8">
                        <div class="l-Media_Image <%= subNamespace %>-Flow_List-img">
                          <img src="<%= sitepath %>assets/img/campaign/mamawari-debut/img-flow-02.png?230308" alt="">
                        </div>
                        <div>
                          <p class="c-Txt_Emp-01">お申し込みに必要なもの</p>
                          <div class="u-Adjust_Mt-8">
                            <ul class="<%= subNamespace %>-Flow_List-link c-List_Text-disc">
                              <li class="u-Adjust_Mt-8"><a
                                  href="<%= sitepath %>guide/verify/?l-id=campaign_visselkobe-supporters_verfy_guide"
                                  class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                              <li class="u-Adjust_Mt-8"><a
                                  href="https://member.id.rakuten.co.jp/rms/nid/menufwd/?l-id=campaign_visselkobe-supporters_nid_menufwd"
                                  class="c-Link_Txt-inline">楽天ID、パスワード<span class="c-Icon_Chevron-right"></span></a></li>
                              <li class="u-Adjust_Mt-8"><a
                                  href="<%= sitepath %>faq/detail/00001238/?l-id=campaign_visselkobe-supporters_detail_faq_00001238"
                                  class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                                <p class="<%= subNamespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                                  <span>※</span>ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a
                                    href="https://network.mobile.rakuten.co.jp/faq/detail/00001238/">こちらのご案内ページ</a>を必ず事前にご確認ください。<br>
                                </p>
                                <p class="<%= subNamespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                                  <span>※</span>MNPワンストップ未対応の携帯電話会社から乗り換えの方は、MNP予約番号の取得が必要です。MNPワンストップ対象の携帯電話会社は<a
                                    href="<%= sitepath %>guide/mnp/#career/?l-id=campaign_visselkobe-supporters_mnp_guide">こちら</a>からご確認ください。
                                </p>
                                <p class="<%= subNamespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                                  <span>※</span>ショップでのお手続きは、ワンストップ対象の他社からの転入であっても、MNP予約番号を取得のうえ、ご来店ください。
                                </p>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <!--  -->
                </div>
              </div>
              <!--  -->
              <div class="<%= namespace %>-Layout_Step-Accordion c-Accordion u-Adjust_Mt-16">
                <button type="button" id="accordion-new-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false"
                  aria-controls="accordion-content-new-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span
                    class="c-Txt_Emp-02 step-no">STEP3　</span>ヴィッセル神戸を応援！</button>
                <div id="accordion-content-new-3" class="<%= namespace %>-Layout_Step-Accordion_Panel js-Accordion_Panel"
                  role="region" aria-labelledby="accordion-new-3" aria-hidden="true">
                  <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
                    <img src="<%= sitepath %>assets/img/campaign/visselkobe-supporters/flow-existing-2-20230823.png" alt=""
                      class="c-Img_Capture">
                  </p>
                </div>
              </div>
            </div>
            <!--  -->
          </div>
        </div>
      </div>
    </section>

    <!-- お申し込み時の注意点 -->
    <section class="l-System_Container <%= namespace %>-Note">
      <h3 id="campaign-caution" class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-48">お申し込み時の注意点</h3>
      <p class="c-Txt_Emp-02 u-Adjust_Align-center u-Adjust_Mt-24">ポイントを獲得するには、「お申し込みはこちら」ボタンからのお手続きが必要となります。</p>
      <p class="c-Txt_Emp-01 u-Adjust_Align-center">「お申し込み内容」画面であらかじめクーポンコードが表示されていることをご確認のうえ、お申し込みを完了してください。</p>
      <ul class="u-Adjust_Mt-24 <%= namespace %>-Note-first-list">
        <li>
          <img src="<%= sitepath %>assets/img/campaign/visselkobe-supporters/img-coupon-01_230823.png" alt="">
        </li>
        <li>
          <img src="<%= sitepath %>assets/img/campaign/visselkobe-supporters/img-coupon-02_230823.png" alt="">
        </li>
      </ul>
      <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-24 u-Adjust_Align-center">※本ページの「お申し込みはこちら」ボタン以外からお手続きされた場合には特典適用対象外となります。</p>
      <p class="c-Txt_Cap u-Adjust_Align-center">※表示されるクーポンコードはVSKREG00000001</p>

      <div class="c-Accordion u-Adjust_Mt-32">
        <button id="accordion-note-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-note-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>お申し込み画面で以下の状況が発生した場合、再度「お申し込みはこちら」ボタンからお申し込みをやり直してください。</button>
        <div id="accordion-note-content-1" class="<%= namespace %>-Layout_Step-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-note-1" aria-hidden="false">
          <ul class="<%= namespace %>-Note-second-list u-Adjust_Mt-32">
            <li class="u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/campaign/visselkobe-supporters/img-coupon-03_230823.png" alt="">
              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">お申し込み内容にクーポンコードが<br>
                表示されていない場合</p>
            </li>
            <li class="u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/campaign/visselkobe-supporters/img-coupon-04_230823.png" alt="">
              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">システムメンテナンスの<br>
                お知らせが表示された場合</p>
              <p class="c-Txt_Cap">※メンテナンス終了後に<br>
                お申し込みください</p>
            </li>
            <li class="u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/campaign/visselkobe-supporters/img-coupon-05_230823.png" alt="">
              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">タイムアウトが表示された場合</p>
            </li>
          </ul>
        </div>
      </div>



    </section>

    <section class="l-System_Container u-Adjust_Mt-48">
      <h3 class="c-Heading_Lv2 u-Adjust_Align-center">よくあるご質問</h3>

      <div class="c-Accordion u-Adjust_Mt-24">
        <button id="accordion-faq-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-1" data-ratid="campaign_iphone-upg-tradein_faq-1" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
          楽天モバイルへの申し込みはwebもshopも対象ですか
        </button>
        <div id="accordion-content-faq-1" class="<%= namespace %>-Layout_Step-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-1" aria-hidden="true" style="display: none;">


          <div class="l-Media_Grid-capture">
            <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/campaign/visselkobe-supporters/img-faq-01-230823.png">
            </div>
            <div>
              <p>本ページからのお申し込みのみ対象です</p>
            </div>
          </div>

        </div>
      </div>

      <div class="c-Accordion">
        <button id="accordion-faq-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-3" data-ratid="campaign_iphone-upg-tradein_faq-3" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
          申し込みとエントリーの順番はありますか
        </button>
        <div id="accordion-content-faq-3" class="<%= namespace %>-Layout_Step-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-3" aria-hidden="false" style="display: none;">
          <p>順不同です。エントリーを先に終えた場合、試合日までに楽天モバイルのプラン利用開始が必要となります</p>
        </div>
      </div>

    </section>

    <section id="campaign-rule">
      <div class="l-System_Container">
        <p class="u-Adjust_Align-center c-Txt_Emp-02 c-Heading_Lv3 u-Adjust_Mt-48">
          本キャンペーンは2024年4月30日（火）をもちまして終了いたしました。<br>
          このページに掲載されている情報は、キャンペーン終了時点のものです。
        </p>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16 u-Adjust_Mb-16">
          <a href="<%= sitepath %>campaign/?l-id=end_campaign" class="c-Link_Txt-inline">開催中のキャンペーンを見る<span class="c-Icon_Chevron-right"></span></a>
        </div>

        <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1934', level: 'h2', year: '2023', class: '' }}) %>

      </div>
    </section>


    <div class="l-System_Container u-Adjust_Mt-64">
      <div class="c-Accordion" id="campaign-rule-old">
        <button id="accordion-001" class="c-Accordion_Trigger js-Accordion_Trigger un-limit-Layout_Accordion-trigger" aria-expanded="false" aria-controls="accordion-content-001"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>過去のキャンペーンルール</button>
        <div id="accordion-content-001" class="c-Accordion_Panel js-Accordion_Panel un-limit-Layout_Accordion-qapanel u-Adjust_Pt-32" role="region" aria-labelledby="accordion-001" aria-hidden="true" style="display:none;">
          <section>
            <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1934_visselkobe_supporters', level: 'h2', year: '2023'}}) %>
          </section>
        </div>
      </div>
    </div>

  <div class="u-Rat_Appear-height" data-ratid="campaign_digital-contents_scroll-08_popask" data-ratevent="appear">&nbsp;</div>

  <!-- ReX UX Survey: Mounting point for embedded components -->
  <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>

  <footer class="g-Footer <%= namespace %>-Layout_Footer u-Adjust_Mt-64">
    <div class="g-Footer_Aside">
      <%- include('/include/footer/related/_related-news.ejs') %>
      <%- include('/include/footer/bnr/_bnr-news.ejs') %>
    </div>
    <div class="l-System_Container">
      <div class="c-Breadcrumbs_Foot">
        <ul>
          <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ if (typeof directories !== 'undefined') { _%>
          <%_ let dirs = []; _%>
          <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
          <%_ }) _%>
          <%_ } _%>
          <li aria-current="true"><%= pagetitle %></li>
        </ul>
      </div>
    </div>
    <%- include('/include/_footer') %>
  </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>


<!-- ReX UX Survey: Config -->
<script>
  window.rexSurveyConfig = {"surveyId":"36980","cId":{"name":"answers[36980_254387]","value":""},"embedded":true,"url":{"name":"answers[36980_254388]"},"triggerIdName":"trigger","expirationPeriod":30,"enableDisplaySuppressionPerPage":true,"enableFormAction":true,"permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問) ","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":true},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。"},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[36980_254389]","value":"704767"},{"name":"answers[36980_254389]","value":"704768"},{"name":"answers[36980_254389]","value":"704769"},{"name":"answers[36980_254389]","value":"704770"},{"name":"answers[36980_254389]","value":"704771"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"checkList":{"available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","options":[{"name":"answers[36980_254390][]","value":"704772","label":"キャンペーン特典が魅力的でない"},{"name":"answers[36980_254390][]","value":"704773","label":"キャンペーンの達成条件が分かりにくい"},{"name":"answers[36980_254390][]","value":"704774","label":"キャンペーンのWebサイトが分かりにくい"},{"name":"answers[36980_254390][]","value":"704775","label":"キャンペーンの期間が短い"},{"name":"answers[36980_254390][]","value":"704776","label":"キャンペーン対象のサービス特性が分かりにくい"},{"name":"answers[36980_254390][]","value":"704777","label":"特になし"},{"name":"answers[36980_254390][]","value":"704778","label":""}]},"freeInput":{"available":true,"name":"answers[36980_254391]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のためご利用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[36980_254390][]","value":"704772","label":""},{"name":"answers[36980_254390][]","value":"704773","label":""},{"name":"answers[36980_254390][]","value":"704774","label":""},{"name":"answers[36980_254390][]","value":"704775","label":""},{"name":"answers[36980_254390][]","value":"704776","label":""},{"name":"answers[36980_254390][]","value":"704777","label":""},{"name":"answers[36980_254390][]","value":"704778","label":""}]}},"ua":{"name":"answers[36980_254392]"},"href":{"name":"answers[36980_254393]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
</script>
<!-- ReX UX Survey: Script -->
<script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/1.5.0/js/main.js" defer></script>

<script>
  (function($){
    const trigger1 = document.getElementById('js-trigger');
    const trigger2 = document.getElementById('js-trigger-2');
    const fixedBtn = document.getElementById('js-fixed-btn');

    function fixedBottomBtn() {
      let scrollY = window.pageYOffset;
      const trigger1Rect = trigger1.getBoundingClientRect();
      const trigger1Y = scrollY + trigger1Rect.top;

      const trigger2Rect = trigger2.getBoundingClientRect();
      const trigger2Y = scrollY + trigger2Rect.top;

      if (scrollY + window.innerHeight > trigger1Y || scrollY + window.innerHeight > trigger2Y) {
        fixedBtn.setAttribute('aria-expanded', 'true');
      } else {
        fixedBtn.setAttribute('aria-expanded', 'false');
      }
    }

    if (fixedBtn && trigger1 && trigger2) {
      window.addEventListener('scroll', fixedBottomBtn);
    }
  })();
</script>
</body>
</html>
