<% const pagetitle = "eKYCからのeSIM開通方法" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/setting/android/", label:"Android製品の設定手順"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'eKYCでお申し込みいただいた方の楽天回線（eSIM）開通方法をご案内いたします。',
    noindex: false,
    pathname: filepath
  });
%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1">eKYCでお申し込みいただいた方の楽天回線（eSIM）開通方法</h1>

    <p class="u-Adjust_Mt-32">すでにiPhone XS／XR以降の製品や、Rakutenオリジナル製品などのeSIM対応製品をお持ちで、eKYCによりeSIMのお申し込みを完了された方の楽天回線（eSIM）の開通手続きをご案内いたします。<span class="c-Txt_Emp-02">楽天回線の開通手続きには、Wi-Fiもしくは、モバイル通信でのデータ通信が必要となります。</span></p>
    <div class="u-Adjust_Mt-16">
      <a href="<%= sitepath %>guide/verify/ekyc/#support" class="c-Btn_Regular">eSIM対応製品を見る</a>
    </div>
    <ul class="c-Theme-Light u-Adjust_Mt-24 c-List_Text-disc">
      <h2 class="c-Txt_Normal-l">開通の前に</h2>
      <li>MNP転入の方は、MNP開通手続き方法をご覧のうえ、お手続きをお済ませになってから、以下よりお進みください。</li>
      <div class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>guide/mnp/flow/" class="c-Btn_Regular">MNP開通手続き方法を見る</a>
      </div>
      <li class="u-Adjust_Mt-32">iPhoneで開通される方はこちらをご覧ください。</li>
      <div class="u-Adjust_Mt-8">
        <a href="<%= sitepath %>guide/setting/ios/index.html?tab-list=tab-menu2" class="c-Link_Txt-inline">初期設定方法（iPhone・iPad）<span class="c-Icon_Chevron-right"></span></a>
      </div>
      <li class="u-Adjust_Mt-32">以下のRakutenオリジナル製品を初めてお使いになる場合は、初期設定をお願いいたします。</li>
    <div class="u-Adjust_Mt-8">
      <a href="<%= sitepath %>product/smartphone/rakuten-big-s/support/setting/" class="c-Link_Txt-inline u-Adjust_Mt-8">Rakuten BIG s初期設定方法<span class="c-Icon_Chevron-right"></span></a>
    </div>
    <div class="u-Adjust_Mt-8">
      <a href="<%= sitepath %>product/smartphone/rakuten-big/support/setting/" class="c-Link_Txt-inline u-Adjust_Mt-8">Rakuten BIG初期設定方法<span class="c-Icon_Chevron-right"></span></a>
    </div>
    <div class="u-Adjust_Mt-8">
      <a href="<%= sitepath %>product/smartphone/rakuten-hand/support/setting/" class="c-Link_Txt-inline u-Adjust_Mt-8">Rakuten Hand初期設定方法<span class="c-Icon_Chevron-right"></span></a>
    </div>
    <div class="u-Adjust_Mt-8">
      <a href="<%= sitepath %>product/smartphone/rakuten-mini/support/setting/" class="c-Link_Txt-inline u-Adjust_Mt-8">Rakuten Mini初期設定方法<span class="c-Icon_Chevron-right"></span></a>
    </div>
    </ul>

    <div class="c-Tab js-Tab u-Adjust_Mt-24">
      <ul class="c-Tab_Items" role="tablist">
        <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">Webから申し込んだ場合</li>
        <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">アプリから申し込んだ場合</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
        <p class="u-Adjust_Mt-16">Webのお申し込み画面または、Web版の「my 楽天モバイル」からeSIMをeKYCでお申し込みいただいた場合、開通手続きはアプリが便利です。開通したいスマートフォンに、「my 楽天モバイル」アプリをインストールしてください。</p>
        <div class="c-Box_App u-Adjust_Mt-16">
          <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt=""></div>
          <div class="c-Box_App-txt">
            <p class="c-Box_App-ttl">my 楽天モバイル</p>
            <p class="u-Adjust_Mt-16">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
            <ul class="c-Box_App-link u-Adjust_Mt-16">
              <li class="<%= nameSpace %>-App_Btn-store">
                <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
                <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
              </li>
              <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">my 楽天モバイルとは</a></li>
            </ul>
          </div>
        </div>

        <div>
          <ol class="c-Flow">
            <li>
              <h2 class="c-Heading_Lv3">1.アプリにログインし、申し込み履歴を開く</h2>
              <p class="u-Adjust_Mt-16">「my 楽天モバイル」アプリを起動し、「ログイン」をタップしてログイン画面にお進みください。ログイン画面では、お申し込みに使用したユーザIDとパスワードをご入力のうえ、「ログイン」をタップしてください。</p>
              <div class="u-Adjust_Mt-24">
                <div class="l-Media_Image u-Adjust_Align-center">
                    <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/web/setup01-20220701.png?20220701" class="c-Img_Capture" alt="">
                </div>
              </div>
              <p class="u-Adjust_Mt-16">ログイン後、画面上部に表示される「申し込み番号」をタップしてください。</p>
              <div class="u-Adjust_Mt-24">
                <div class="l-Media_Image u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/image-02.png" class="c-Img_Capture" alt="">
                </div>
              </div>
            </li>
            <li>
              <h2 class="c-Heading_Lv3">2. 5分ほど経ってからページを更新</h2>
              <p class="u-Adjust_Mt-16">本人確認書類の審査が入るため、お申し込み完了後、5分ほど経ってから、画面を「下にスワイプ（スマートフォンの画面を指で押した状態のまま、下に滑らせる）」して表示を更新してください。手順3の「開通手続きをする」ボタンが表示されていれば、本人確認が完了しています。</p>
              <div class="u-Adjust_Mt-24">
                <div class="l-Media_Image u-Adjust_Align-center">
                    <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/web/setup02.png" class="c-Img_Capture" alt="">
                </div>
              </div>
            </li>
            <li>
              <h2 class="c-Heading_Lv3">3. 「開通手続きへ進む」をタップ</h2>
              <p class="u-Adjust_Mt-16">画面を更新し、「開通手続きへ進む」ボタンが表示されたら、それをタップします。</p>

              <div class="u-Adjust_Mt-24">
                <div class="l-Media_Image u-Adjust_Align-center">
                    <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/web/setup03.png" class="c-Img_Capture" alt="">
                </div>
              </div>
              <p class="u-Adjust_Mt-16">「eSIM開通用のQRコードを表示する」ボタンが表示された場合は、Web版の「my 楽天モバイル」にログインしているか、eSIM対応製品以外でログインしています。</p>
              <ul class="c-List_Text-disc u-Adjust_Mt-16">
    <li>開通したいスマートフォン（eSIM対応製品）にてWeb版の「my 楽天モバイル」にログインしている場合は、手順1に戻りアプリから操作を開始してください。</li>
    <li>パソコンなど、eSIM対応製品以外でログインしている場合は、「eSIM開通用のQRコードを表示する」をタップして表示されたQRコードを、開通したいスマートフォンにて読み取っていただくことで開通できます。</li>
  </ul>
              <a href="#esim" class="c-Link_Txt-icon-front u-Adjust_Mt-8"><span class="c-Icon_Arrow-down-l"></span>「eSIM開通用のQRコードを表示する」ボタンから開通する方法</a>
              <div class="u-Adjust_Mt-24">
                <div class="l-Media_Image u-Adjust_Align-center">
                    <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/web/setup03-2.png" class="c-Img_Capture" alt="">
                </div>
              </div>
            </li>
            <li>
              <h2 class="c-Heading_Lv3">4. 「続ける」をタップ</h2>
              <p class="u-Adjust_Mt-16">お使いのスマートフォンによっては、この画面が表示されない場合があります。手順10へお進みください。</p>
              <div class="u-Adjust_Mt-24">
                <div class="l-Media_Image u-Adjust_Align-center">
                    <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/web/setup04.png" class="c-Img_Capture" alt="">
                </div>
              </div>
            </li>
            <li>
              <h2 class="c-Heading_Lv3">5. 「モバイル通信プランを追加」をタップ</h2>
              <div class="u-Adjust_Mt-24">
                <div class="l-Media_Image u-Adjust_Align-center">
                    <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/web/setup05.png" class="c-Img_Capture" alt="">
                </div>
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">6. 「続ける」をタップ</h3>
              <div class="u-Adjust_Mt-24">
                <div class="l-Media_Image u-Adjust_Align-center">
                    <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/web/setup06.png" class="c-Img_Capture" alt="">
                </div>
              </div>
            </li>

            <li>
              <h3 class="c-Heading_Lv3">7. 「続ける」をタップ</h3>
              <div class="u-Adjust_Mt-24">
                <div class="l-Media_Image u-Adjust_Align-center">
                    <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/web/setup07.png" class="c-Img_Capture" alt="">
                </div>
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">8. 「続ける」をタップ</h3>
              <div class="u-Adjust_Mt-24">
                <div class="l-Media_Image u-Adjust_Align-center">
                    <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/web/setup08.png" class="c-Img_Capture" alt="">
                </div>
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">9. 「続ける」をタップ</h3>
              <div class="u-Adjust_Mt-24">
                <div class="l-Media_Image u-Adjust_Align-center">
                    <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/web/setup09.png" class="c-Img_Capture" alt="">
                </div>
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">10. 「開通手続きが完了しました」の表示を確認</h3>
              <p class="u-Adjust_Mt-16">画面が切り替わるまでそのままでお待ちいただくと、「開通手続きが完了しました」と表示されます。これで開通手続きは完了です。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※「準備中」のステータスが「完了」に変わるまでお時間がかかる場合があります。</p>
              <div class="u-Adjust_Mt-24">
                <div class="l-Media_Image u-Adjust_Align-center">
                    <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/web/setup10.png" class="c-Img_Capture" alt="">
                </div>
              </div>
            </li>
          </ol>
        </div>


            <h2 class="c-Heading_Lv2 u-Adjust_Mt-32" id="esim">「eSIM開通用のQRコードを表示する」ボタンから開通する方法</h2>
            <div>
              <ol class="c-Flow">
                <li>
                  <h2 class="c-Heading_Lv3">1. eSIM開通用のQRコードを確認</h2>
                  <p class="u-Adjust_Mt-16">開通したいスマートフォン（eSIM対応製品）にて、表示されたQRコードを読み取っていただくことで開通していただけます。</p>
                  <div class="u-Adjust_Mt-24">
                    <div class="l-Media_Image u-Adjust_Align-center">
                        <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/esim/setup01.png?210701" class="c-Img_Capture" alt="">
                    </div>
                  </div>
                </li>
                <li>
                  <h2 class="c-Heading_Lv3">2. <span class="c-Txt_Emp-02">これから楽天回線を開通するスマートフォン</span>にて、「設定」をタップ</h2>
                  <p class="u-Adjust_Mt-16">ここからは、これから楽天回線を開通するスマートフォン（eSIM対応製品）にて行ってください。</p>
                  <div class="u-Adjust_Mt-24">
                    <div class="l-Media_Image u-Adjust_Align-center">
                        <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/esim/setup02.png" class="c-Img_Capture" alt="">
                    </div>
                  </div>
                </li>
                <li>
                  <h2 class="c-Heading_Lv3">3. 「モバイル通信」をタップ</h2>
                  <div class="u-Adjust_Mt-24">
                    <div class="l-Media_Image u-Adjust_Align-center">
                        <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/esim/setup03.png" class="c-Img_Capture" alt="">
                    </div>
                  </div>
                </li>
                <li>
                  <h2 class="c-Heading_Lv3">4. 「モバイル通信プランを追加」をタップ</h2>
                  <div class="u-Adjust_Mt-24">
                    <div class="l-Media_Image u-Adjust_Align-center">
                        <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/esim/setup04.png" class="c-Img_Capture" alt="">
                    </div>
                  </div>
                </li>
                <li>
                  <h2 class="c-Heading_Lv3">5. QRコードを読み取る</h2>
                  <p class="u-Adjust_Mt-16">カメラが起動しますので、手順1で確認したQRコードを読み取ってください。</p>
                  <div class="u-Adjust_Mt-24">
                    <div class="l-Media_Image u-Adjust_Align-center">
                        <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/esim/setup05.png" class="c-Img_Capture" alt="">
                    </div>
                  </div>
                </li>
                <li>
                  <h3 class="c-Heading_Lv3">6. 「モバイル通信プランを追加」をタップ</h3>
                  <div class="u-Adjust_Mt-24">
                    <div class="l-Media_Image u-Adjust_Align-center">
                        <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/esim/setup06.png" class="c-Img_Capture" alt="">
                    </div>
                  </div>
                </li>
              </ol>
            </div>

            <p class="u-Adjust_Mt-16">この先の手順からiOSのバー ジョンによって、表示・操作が 一部異なります。</p>

            <ul class="<%= nameSpace %>-Layout_Anchorlink u-Adjust_Mt-16">
              <li><a href="#ios13" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>iOS13の場合</a></li>
              <li><a href="#ios14" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>iOS14の場合</a></li>
            </ul>

            <h3 class="c-Heading_Lv3 u-Adjust_Mt-32" id="ios13">iOS13の場合</h3>
            <div>
              <ol class="c-Flow">
                <li>
                  <h3 class="c-Heading_Lv3">7. 「副回線」をタップ</h3>
                  <div class="u-Adjust_Mt-24">
                    <div class="l-Media_Image u-Adjust_Align-center">
                        <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/ios13/setup07.png" class="c-Img_Capture" alt="">
                    </div>
                  </div>
                </li>
                <li>
                  <h3 class="c-Heading_Lv3">8. 「音声通話とデータ」をタップ</h3>
                  <div class="u-Adjust_Mt-24">
                    <div class="l-Media_Image u-Adjust_Align-center">
                        <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/ios13/setup08.png" class="c-Img_Capture" alt="">
                    </div>
                  </div>
                </li>
                <li>
                  <h3 class="c-Heading_Lv3">9. 「LTE, VoLTEオン」をタップ</h3>
                  <div class="u-Adjust_Mt-24">
                    <div class="l-Media_Image u-Adjust_Align-center">
                        <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/ios13/setup09.png" class="c-Img_Capture" alt="">
                    </div>
                  </div>
                </li>
                <li>
                  <h3 class="c-Heading_Lv3">10. 「OK」をタップ</h3>
                  <div class="u-Adjust_Mt-24">
                    <div class="l-Media_Image u-Adjust_Align-center">
                        <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/ios13/setup10.png" class="c-Img_Capture" alt="">
                    </div>
                  </div>
                </li>
                <li>
                  <h3 class="c-Heading_Lv3">11.  「VoLTE」がオンになっていることを確認し、「＜」をタップ</h3>
                  <div class="u-Adjust_Mt-24">
                    <div class="l-Media_Image u-Adjust_Align-center">
                        <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/ios13/setup11.png" class="c-Img_Capture" alt="">
                    </div>
                  </div>
                </li>
                <li>
                  <h3 class="c-Heading_Lv3">12. 「Rakuten」と表示されることを確認し、「モバイルデータ通信ネットワーク」をタップ</h3>
                  <div class="u-Adjust_Mt-24">
                    <div class="l-Media_Image u-Adjust_Align-center">
                        <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/ios13/setup12.png" class="c-Img_Capture" alt="">
                    </div>
                  </div>
                </li>
                <li>
                  <h3 class="c-Heading_Lv3">13. 「モバイルデータ通信」と「インターネット共有」にrakuten.jpを入力</h3>
                  <div class="u-Adjust_Mt-24">
                    <div class="l-Media_Image u-Adjust_Align-center">
                        <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/ios13/setup13.png" class="c-Img_Capture" alt="">
                    </div>
                  </div>
                </li>
              </ol>
            </div>
            <p class="u-Adjust_Mt-16">以上で開通手続きは完了です。</p>

            <h3 class="c-Heading_Lv3 u-Adjust_Mt-32" id="ios14">iOS14の場合</h3>

            <div>
              <ol class="c-Flow">
                <li>
                  <h3 class="c-Heading_Lv3">7. 「OK」をタップ</h3>
                  <div class="u-Adjust_Mt-24">
                    <div class="l-Media_Image u-Adjust_Align-center">
                        <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/ios14/setup07.png" class="c-Img_Capture" alt="">
                    </div>
                  </div>
                </li>
                <li>
                  <h3 class="c-Heading_Lv3">8. 「通信のオプション」をタップ</h3>
                  <div class="u-Adjust_Mt-24">
                    <div class="l-Media_Image u-Adjust_Align-center">
                        <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/ios14/setup08.png" class="c-Img_Capture" alt="">
                    </div>
                  </div>
                </li>
                <li>
                  <h3 class="c-Heading_Lv3">9. 「VoLTE」の設定ボタンをタップ</h3>
                  <div class="u-Adjust_Mt-24">
                    <div class="l-Media_Image u-Adjust_Align-center">
                        <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/ios14/setup09.png" class="c-Img_Capture" alt="">
                    </div>
                  </div>
                </li>
                <li>
                  <h3 class="c-Heading_Lv3">10. 「OK」をタップ</h3>
                  <div class="u-Adjust_Mt-24">
                    <div class="l-Media_Image u-Adjust_Align-center">
                        <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/ios14/setup10.png" class="c-Img_Capture" alt="">
                    </div>
                  </div>
                </li>
                <li>
                  <h3 class="c-Heading_Lv3">11. 「VoLTE」に色がつき、オンになっていることを確認し、「戻る」をタップ</h3>
                  <div class="u-Adjust_Mt-24">
                    <div class="l-Media_Image u-Adjust_Align-center">
                        <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/ios14/setup11.png" class="c-Img_Capture" alt="">
                    </div>
                  </div>
                </li>
                <li>
                  <h3 class="c-Heading_Lv3">12. 「Rakuten」と表示されることを確認し、「モバイルデータ通信ネットワーク」をタップ</h3>
                  <div class="u-Adjust_Mt-24">
                    <div class="l-Media_Image u-Adjust_Align-center">
                        <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/ios14/setup12.png" class="c-Img_Capture" alt="">
                    </div>
                  </div>
                </li>
                <li>
                  <h3 class="c-Heading_Lv3">13. 「モバイルデータ通信」と「インターネット共有」にrakuten.jpを入力</h3>
                  <div class="u-Adjust_Mt-24">
                    <div class="l-Media_Image u-Adjust_Align-center">
                        <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/ios14/setup13.png" class="c-Img_Capture" alt="">
                    </div>
                  </div>
                </li>
              </ol>
            </div>
            <p class="u-Adjust_Mt-16">以上で開通手続きは完了です。</p>

      </div>
      <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
        <p class="u-Adjust_Mt-16">「my 楽天モバイル」アプリからeSIMをeKYCでお申し込みいただいた場合、お申し込み完了後の画面から、そのまま開通手続きへ進んでいただけます。</p>
        <div>
          <ol class="c-Flow">
            <li>
              <h2 class="c-Heading_Lv3">1. お申し込み完了後の画面にて、「設定・確認画面へ進む」をタップ</h2>
              <div class="u-Adjust_Mt-24">
                <div class="l-Media_Image u-Adjust_Align-center">
                    <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/apl/setup01.png" class="c-Img_Capture" alt="">
                </div>
              </div>
            </li>
            <li>
              <h2 class="c-Heading_Lv3">2. 申し込み履歴から該当のお申し込みをタップ</h2>
              <div class="u-Adjust_Mt-24">
                <div class="l-Media_Image u-Adjust_Align-center">
                    <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/apl/setup02.png" class="c-Img_Capture" alt="">
                </div>
              </div>
            </li>
            <li>
              <h2 class="c-Heading_Lv3">3. 5分ほど経ってからページを更新</h2>
              <p class="u-Adjust_Mt-16">本人確認書類の審査が入るため、お申し込み完了後、5分ほど経ってから、画面を「下にスワイプ（スマートフォンの画面を指で押した状態のまま、下に滑らせる）」して表示を更新してください。手順4の「開通手続きをする」ボタンが表示されていれば、本人確認が完了しています。</p>
              <div class="u-Adjust_Mt-24">
                <div class="l-Media_Image u-Adjust_Align-center">
                    <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/web/setup02.png" class="c-Img_Capture" alt="">
                </div>
              </div>
            </li>
            <li>
              <h2 class="c-Heading_Lv3">4. 「開通手続きへ進む」をタップ</h2>
              <p class="u-Adjust_Mt-16">画面を更新し、「開通手続きへ進む」ボタンが表示されたら、それをタップします。</p>
              <div class="u-Adjust_Mt-24">
                <div class="l-Media_Image u-Adjust_Align-center">
                    <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/web/setup03.png" class="c-Img_Capture" alt="">
                </div>
              </div>
            </li>

                        <li>
                          <h2 class="c-Heading_Lv3">5. 「続ける」をタップ</h2>
                          <p class="u-Adjust_Mt-16">お使いのスマートフォンによっては、この画面が表示されない場合があります。手順11へお進みください。</p>
                          <div class="u-Adjust_Mt-24">
                            <div class="l-Media_Image u-Adjust_Align-center">
                                <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/web/setup04.png" class="c-Img_Capture" alt="">
                            </div>
                          </div>
                        </li>
                        <li>
                          <h2 class="c-Heading_Lv3">6. 「モバイル通信プランを追加」をタップ</h2>
                          <div class="u-Adjust_Mt-24">
                            <div class="l-Media_Image u-Adjust_Align-center">
                                <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/web/setup05.png" class="c-Img_Capture" alt="">
                            </div>
                          </div>
                        </li>
                        <li>
                          <h3 class="c-Heading_Lv3">7. 「続ける」をタップ</h3>
                          <div class="u-Adjust_Mt-24">
                            <div class="l-Media_Image u-Adjust_Align-center">
                                <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/web/setup06.png" class="c-Img_Capture" alt="">
                            </div>
                          </div>
                        </li>

                        <li>
                          <h3 class="c-Heading_Lv3">8. 「続ける」をタップ</h3>
                          <div class="u-Adjust_Mt-24">
                            <div class="l-Media_Image u-Adjust_Align-center">
                                <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/web/setup07.png" class="c-Img_Capture" alt="">
                            </div>
                          </div>
                        </li>
                        <li>
                          <h3 class="c-Heading_Lv3">9. 「続ける」をタップ</h3>
                          <div class="u-Adjust_Mt-24">
                            <div class="l-Media_Image u-Adjust_Align-center">
                                <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/web/setup08.png" class="c-Img_Capture" alt="">
                            </div>
                          </div>
                        </li>
                        <li>
                          <h3 class="c-Heading_Lv3">10. 「続ける」をタップ</h3>
                          <div class="u-Adjust_Mt-24">
                            <div class="l-Media_Image u-Adjust_Align-center">
                                <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/web/setup09.png" class="c-Img_Capture" alt="">
                            </div>
                          </div>
                        </li>
                        <li>
                          <h3 class="c-Heading_Lv3">11. 「開通手続きが完了しました」の表示を確認</h3>
                          <p class="u-Adjust_Mt-16">画面が切り替わるまでそのままでお待ちいただくと、「開通手続きが完了しました」と表示されます。</p>
                          <div class="u-Adjust_Mt-24">
                            <div class="l-Media_Image u-Adjust_Align-center">
                                <img src="<%= sitepath %>assets/img/guide/verify/ekyc-esim-activation/web/setup10.png" class="c-Img_Capture" alt="">
                            </div>
                          </div>
                        </li>
          </ol>
        </div>
        <p class="u-Adjust_Mt-16">以上で開通手続きは完了です。</p>

      </div>
    </div>

    <div class="u-Adjust_Pt-64 u-Adjust_Mb-48">
      <div><a href="<%= sitepath %>guide/verify/ekyc/" class="c-Btn_Regular"><span>「eKYCとは」を見る</span></a></div>
    </div>

  </div>
</div>


<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
