<% const pagetitle = "コンビニ払込票（ハガキ）の再発行申請" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}] -%>
<% const namespace = "cvs-payment-form" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'コンビニ払込票（ハガキ）の再発行を希望される場合は、こちらより申請をお願いいたします。',
    noindex: true,
    pathname: filepath
  });
%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/support/cvs-payment-form/cvs-payment-form.css?20240424">
<%- include('/include/_append-head', {messaging: true}) %>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

  <%- include('/include/_header') %>

  <div class="c-Breadcrumbs_Head">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1 u-Adjust_Mt-32">コンビニ払込票（ハガキ）の再発行申請</h1>
    <p class="u-Adjust_Mt-24">コンビニ払込票（ハガキ）の再発行をご希望の場合は、下記より申請をお願いいたします。</p>
    <p class="u-Adjust_Mt-16">
      お客様のご請求先住所は、今回申請いただいた内容に変更され、新しいご請求先住所に再発行したコンビニ払込票（ハガキ）を発送いたします。<br>
      お急ぎの場合には、my 楽天モバイルからもお支払いいただけます。詳しくは「<a href="<%= sitepath %>guide/payment/invoice/flow/?l-id=support_cvs-payment-form_guide_payment_invoice_flow" target="_blank" class="c-Link_Txt-inline-icon">未払い料金のお支払い方法<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
    </p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      ※今後未払い料金が発生した場合のコンビニ払込票（ハガキ）の郵送先は今回お届けするご住所に変更となります。<br>
      ※本再発行受付フォームでの申請後、通常7～12日ほどでコンビニ払込票（ハガキ）を請求先住所にお届けします。<br>
      ※普通郵便での発送となるため発送状況についてはお問い合わせいただいても回答できませんのでご了承ください。<br>
      ※利用停止日や契約解除日等の変更は承っておりません。ご了承ください。<br>
      ※コンビニ払込票（ハガキ）については「<a href="<%= sitepath %>faq/detail/00001261/?l-id=support_cvs-payment-form_faq_detail_00001261" class="c-Link_Txt-inline-icon" target="_blank">コンビニ払込票（ハガキ）が届きました<span class="c-Icon_New-window-l"></span></a>」をご確認ください。<br>
      ※当月の再発行申請はお1人様1回限りとなります。<br>
      ※申請後、メールで申請結果をお送りいたします。ドメインメール「@mobile.rakuten.co.jp」が受信可能であることをご確認ください。また入力間違いにはお気をつけください。申請結果はメールのみでの回答となっております。<br>
      ※17時以降のご申請は翌日の処理となります。
    </p>

    <div id="js-before-input" class="<%= namespace %>-Layout_Before" aria-hidden="false">
      <div>
        <p class="c-Txt_Normal-ll c-Txt_Emp-01 u-Adjust_Mt-32">再発行申請は契約者ご本人のみ可能です</p>
        <div class="u-Adjust_Mt-16">
          <label class="c-Form_Checkbox">
            <input type="checkbox" name="" id="js-chk-identification" value="" autocomplete="off">
            <span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">契約者本人です</span>
          </label>
        </div>
      </div>
      <div class="u-Adjust_Mt-48">
        <h2 class="c-Txt_Normal-ll">注意事項について</h2>
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>コンビニ払込票（ハガキ）の再発行は、未払い分すべて発行となります。</li>
          <li>再発行可能期間でない場合はご申請いただいたとしても、再発行をお受けすることが出来ません。
            <p class="u-Adjust_Mt-8 c-Txt_Cap c-Txt_Emp-02" style="text-indent: 0;">
              ※再発行が可能な日程は毎月異なります。詳細は「<a href="<%= sitepath %>faq/detail/10000649/?l-id=support_cvs-payment-form_faq_detail_10000649" class="c-Link_Txt-inline-icon" target="_blank">コンビニ払込票（ハガキ）の再発行はいつできますか<span class="c-Icon_New-window-l"></span></a>」からご確認ください。
            </p>
          </li>
        </ul>
        <p id="err-required_chk-notes" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
        <label class="c-Form_Checkbox u-Adjust_Mt-16">
          <input type="checkbox" name="" id="js-chk-notes" value="1" autocomplete="off" disabled>
          <span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">注意事項を確認しました</span>
        </label>
      </div>

      <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <span id="js-btn-identification" class="c-Btn_Regular-large" data-ratid="cvs-payment-form_input" data-ratevent="click" data-ratparam="all" aria-disabled="true"><span>再発行に必要な情報を入力する</span></span>
      </div>
    </div>

    <div id="js-input-form" class="u-Adjust_Mt-32 <%= namespace %>-Form_Wrapper" aria-hidden="true">
      <p class="u-Adjust_Mt-16">
        お客様のご契約情報の確認をさせていただきます。<span class="c-Txt_Emp-02">my 楽天モバイルにご登録の情報と、ご入力いただいた情報に相違があった場合、再発行できない可能性がございます</span>ので、あらかじめご了承ください。
      </p>

      <form id="js-btn-confirmation_Form" class="u-Adjust_Mt-32 <%= namespace %>-Form" action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST">
        <input type="hidden" name="subject" value="コンビニ払込票（ハガキ）再発行申請フォーム">
        <input type=hidden name="orgid" value="00D2r000000CtMv">
        <input type=hidden name="retURL" value="https://network.mobile.rakuten.co.jp/support/cvs-payment-form/thanks.html">
        <!--sandbox-->
        <!--<input type=hidden name="retURL" value="http://mobile.rakuten.co.jp">-->

        <dl class="c-Form_List">
          <div>
            <dt>ご契約者 氏名<span class="c-Form_List-required">必須</span></dt>
            <dd>
              <p class="c-Txt_Cap u-Adjust_Mb-16">
                ※英字以外は全角で入力してください
              </p>
              <p id="err-required_00N2r000000gl6P" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">「姓」は必須項目です</p>
              <p id="err-required_00N2r000000gl6N" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">「名」は必須項目です</p>
              <p id="err-fhwdth_00N2r000000gl6P" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">「姓」は全角で入力してください</p>
              <p id="err-fhwdth_00N2r000000gl6N" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">「名」は全角で入力してください</p>
              <p id="err-exception_00N2r000000gl6P" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">「姓」は英字以外は全角で入力してください</p>
              <p id="err-exception_00N2r000000gl6N" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">「名」は英字以外は全角で入力してください</p>
              <p id="err-numeric_00N2r000000gl6P" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">「姓」は半角英字で入力してください</p>
              <p id="err-numeric_00N2r000000gl6N" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">「名」は半角英字で入力してください</p>
              <p id="err-required_00N2r000000gl6O" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">「セイ」は必須項目です</p>
              <p id="err-required_00N2r000000gl6M" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">「メイ」は必須項目です</p>
              <p id="err-kana_00N2r000000gl6O" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">「セイ」は全角カナで入力してください</p>
              <p id="err-kana_00N2r000000gl6M" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">「メイ」は全角カナで入力してください</p>
              <dl class="c-Form_List-sub <%= namespace %>-Form_Name">
                <div>
                  <dt>姓</dt>
                  <dd>
                    <input class="c-Form_Input u-Adjust_W-160" id="00N2r000000gl6P" maxlength="80" name="00N2r000000gl6P" size="20" type="text" placeholder="例）楽天" aria-required="true" data-validate="required fhwdth" autocomplete="off">
                  </dd>
                </div>
                <div>
                  <dt>名</dt>
                  <dd><input class="c-Form_Input u-Adjust_W-160" id="00N2r000000gl6N" maxlength="80" name="00N2r000000gl6N" size="20" type="text" placeholder="例）太郎" aria-required="true" data-validate="required fhwdth" autocomplete="off"></dd>
                </div>
              </dl>
              <p class="c-Txt_Cap u-Adjust_Mt-16 u-Adjust_Mb-16">
                ※全角カナで入力してください
              </p>
              <dl class="c-Form_List-sub <%= namespace %>-Form_Name">
                <div>
                  <dt>セイ</dt>
                  <dd>
                    <input class="c-Form_Input u-Adjust_W-160" id="00N2r000000gl6O" maxlength="80" name="00N2r000000gl6O" size="20" type="text" placeholder="例）ラクテン" aria-required="true" data-validate="required kana" autocomplete="off">
                  </dd>
                </div>
                <div>
                  <dt>メイ</dt>
                  <dd><input class="c-Form_Input u-Adjust_W-160" id="00N2r000000gl6M" maxlength="80" name="00N2r000000gl6M" size="20" type="text" placeholder="例）タロウ" aria-required="true" data-validate="required kana" autocomplete="off"></dd>
                </div>
              </dl>
            </dd>
          </div>

          <div class="">
            <dt>ご契約電話番号<span class="c-Form_List-required">必須</span></dt>
            <dd>
              <p class="c-Txt_Cap u-Adjust_Mb-16">
                ※「電話番号」は、my 楽天モバイルの「申し込み履歴」からご確認ください<br>
                ※半角数字11文字で入力してください<br>
                ※ー（ハイフン）を入れずに入力してください
              </p>
              <p id="err-required_00N2r000000gl6K" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
              <p id="err-numeric_00N2r000000gl6K" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">半角数字で入力してください</p>
              <p id="err-length_00N2r000000gl6K" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">正しい電話番号を入力してください</p>
              <input id="00N2r000000gl6K" class="c-Form_Input" minlength="10" maxlength="11" name="00N2r000000gl6K" size="20" type="text" placeholder="例）090XXXXXXXX" aria-required="true" data-validate="required length numeric" autocomplete="off">
            </dd>
          </div>

          <div class="">
            <dt>ご契約者 生年月日<span class="c-Form_List-required">必須</span></dt>
            <dd>
              <p class="c-Txt_Cap u-Adjust_Mb-16">
                ※カレンダー上部の年月をクリックすると、年月の変更が可能です
              </p>
              <div class="<%= namespace %>-Form_Datepicker-container">
                <input id="00N2r000000gl6G" name="00N2r000000gl6G" class="c-Form_Input u-Adjust_Mb-16 js-Datepicker2" maxlength="" size="" type="text" placeholder="" aria-required="true"　data-validate="required" readonly>
                <span class="c-Icon_Calendar-l js-Datepicker_Btn2"></span>
              </div>
            </dd>
          </div>

          <div class="">
            <dt>返信用メールアドレス<span class="c-Form_List-required">必須</span></dt>
            <dd>
              <p class="c-Txt_Cap u-Adjust_Mb-16">
                ※ご入力いただいたメールアドレスへご連絡いたしますので、現在ご利用されているアドレスを入力してください<br>
                ※80文字以内で入力してください
              </p>
              <p class="u-Adjust_Mb-16">メールアドレス</p>
              <p id="err-required_00N2r000000gl6J" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
              <p id="err-email_00N2r000000gl6J" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">正しいメールアドレスを入力してください</p>
              <input id="00N2r000000gl6J" class="c-Form_Input" maxlength="80" name="00N2r000000gl6J" size="20" type="text" placeholder="例）example@example.com" aria-required="true" data-validate="required email" autocomplete="off">

              <p class="u-Adjust_Mb-16 u-Adjust_Mt-32">確認用</p>
              <p id="err-required_confirm-email" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
              <p id="err-match_confirm-email" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">メールアドレスが一致していません</p>
              <p id="err-email_confirm-email" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">正しいメールアドレスを入力してください</p>
              <input class="c-Form_Input" maxlength="80" name="confirm-email" size="20" type="text" placeholder="例）example@example.com" aria-required="true" data-validate="required email confirmEmail" autocomplete="off">
            </dd>
          </div>

          <div class="">
            <dt>ご契約者本人からのお問い合わせですか？<span class="c-Form_List-required">必須</span></dt>
            <dd>
              <p class="c-Txt_Cap u-Adjust_Mb-16">
                ※ご契約者本人以外の再発行申請は承っておりません
              </p>
              <p id="err-required_00N2r000001lfWN" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
              <label class="c-Form_Checkbox">
                <input type="checkbox" name="00N2r000001lfWN" id="00N2r000001lfWN" value="1" data-validate="required" autocomplete="off">
                <span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">契約者本人です</span>
              </label>
            </dd>
          </div>

          <div class="">
            <dt>ご契約住所<span class="c-Form_List-required">必須</span></dt>
            <dd>
              <p class="c-Txt_Cap u-Adjust_Mt-16">※半角数字7文字で入力してください</p>
                  <p id="err-required_00N2r000000l7x7" class="c-Form_Txt-error u-Adjust_Mt-16" aria-hidden="true">必須項目です</p>
                  <p id="err-numeric_00N2r000000l7x7" class="c-Form_Txt-error u-Adjust_Mt-16" aria-hidden="true">半角数字で入力してください</p>
                  <p id="err-length_00N2r000000l7x7" class="c-Form_Txt-error u-Adjust_Mt-16" aria-hidden="true">7文字で入力してください</p>
              <dl class="c-Form_List-sub">
                <div>
                  <dt class="u-Adjust_Mt-16">郵便番号<span class="c-Form_List-required">必須</span></dt>
                  <input id="00N2r000000l7x7" name="00N2r000000l7x7" class="c-Form_Input u-Adjust_Mt-16 u-Adjust_W-160" minlength="7" maxlength="7" name="00N2u000000PkFW" size="7" type="text" placeholder="例）1580094" aria-required="true" data-validate="required length numeric" autocomplete="off">
                </div>
                <button type="button" class="c-Btn_Regular js-zip2addr <%= namespace %>-Form_Btn-address"><span>郵便番号から住所表示</span></button>
              </dl>

              <p class="u-Adjust_Mb-16 u-Adjust_Mt-16">住所<span class="c-Form_List-required">必須</span></p>
              <p class="c-Txt_Cap u-Adjust_Mt-16">
                ※「ご契約先住所」は、my 楽天モバイルの「契約者情報」からご確認いただけます。引っ越しなどによる住所変更は、my 楽天モバイルで変更のお手続きができますので、変更完了したうえでお申し込みください<br>
                ※郵便番号からご入力ください<br>
                ※255文字以内で入力してください
              </p>
              <p id="err-required_00N2r000001uRyW" class="c-Form_Txt-error u-Adjust_Mt-16" aria-hidden="true">必須項目です</p>
              <input id="00N2r000001uRyW" class="c-Form_Input u-Adjust_Mt-16" maxlength="255" name="00N2r000001uRyW" size="20" type="text" placeholder="例）東京都世田谷区玉川1-14-1" aria-required="true" data-validate="required" autocomplete="off">
            </dd>
          </div>

          <div class="">
            <dt>ご請求先住所<span class="c-Form_List-required">必須</span></dt>
            <dd>
              <p id="err-required_00N2r000000l75o" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
              <label class="c-Form_Checkbox">
                <input type="checkbox" name="00N2r000000l75o" id="00N2r000000l75o" value="1" autocomplete="off">
                <span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">ご契約住所と同じ</span>
              </label>
              <div id="js-input-billing">
                <p class="c-Txt_Cap u-Adjust_Mt-16">※半角数字7文字で入力してください</p>
                <p id="err-required_00N2r000000l7x2" class="c-Form_Txt-error u-Adjust_Mt-16" aria-hidden="true">必須項目です</p>
                <p id="err-numeric_00N2r000000l7x2" class="c-Form_Txt-error u-Adjust_Mt-16" aria-hidden="true">半角数字で入力してください</p>
                <p id="err-length_00N2r000000l7x2" class="c-Form_Txt-error u-Adjust_Mt-16" aria-hidden="true">7文字で入力してください</p>
                <dl class="c-Form_List-sub">
                  <div>
                    <dt class="u-Adjust_Mt-16">郵便番号<span class="c-Form_List-required">必須</span></dt>
                    <input id="00N2r000000l7x2" name="00N2r000000l7x2" class="c-Form_Input u-Adjust_Mt-16 u-Adjust_W-160" minlength="7" maxlength="7" name="00N2u000000PkFW" size="7" type="text" placeholder="例）1580094" aria-required="true" data-validate="required length numeric" autocomplete="off">
                  </div>
                  <button type="button" class="c-Btn_Regular js-zip2addr <%= namespace %>-Form_Btn-address"><span>郵便番号から住所表示</span></button>
                </dl>

                <p class="u-Adjust_Mb-16 u-Adjust_Mt-16">住所<span class="c-Form_List-required">必須</span></p>
                <p class="c-Txt_Cap u-Adjust_Mt-16">
                  ※「ご請求先住所」は、my 楽天モバイルの「契約者情報」からご確認いただけます<br>
                  ※255文字以内で入力してください
                </p>
                <p id="err-required_00N2r000000l75K" class="c-Form_Txt-error u-Adjust_Mt-16" aria-hidden="true">必須項目です</p>
                <input id="00N2r000000l75K" class="c-Form_Input u-Adjust_Mt-16" maxlength="255" name="00N2r000000l75K" size="20" type="text" placeholder="例）東京都世田谷区玉川1-14-1" aria-required="true" data-validate="required" autocomplete="off">
              </div>
            </dd>
          </div>
        </dl>

        <div id="modal-confirm" style="display:none;">
          <h2 class="c-Heading_Lv3 u-Adjust_Mb-32">入力内容の確認</h2>
          <dl class="c-Form_List-confirm">
            <div class="<%= namespace %>-Form_Item-area">
              <dt>ご契約者 氏名</dt>
              <dd>
                <span id="disp-00N2r000000gl6P" class="u-Adjust_Txt-break"></span> <span id="disp-00N2r000000gl6N" class="u-Adjust_Txt-break"></span>
                <br>
                <span id="disp-00N2r000000gl6O" class="u-Adjust_Txt-break"></span> <span id="disp-00N2r000000gl6M" class="u-Adjust_Txt-break"></span>
              </dd>
            </div>
            <div class="<%= namespace %>-Form_Item-area">
              <dt>ご契約電話番号</dt>
              <dd><p id="disp-00N2r000000gl6K" class="u-Adjust_Txt-break"></p></dd>
            </div>
            <div class="<%= namespace %>-Form_Item-area">
              <dt>ご契約者 生年月日</dt>
              <dd><p id="disp-00N2r000000gl6G" class="u-Adjust_Txt-break"></p></dd>
            </div>
            <div class="<%= namespace %>-Form_Item-area">
              <dt>返信用メールアドレス</dt>
              <dd><p id="disp-00N2r000000gl6J" class="u-Adjust_Txt-break"></p></dd>
            </div>
            <div class="<%= namespace %>-Form_Item-area">
              <dt>契約者ご本人からの問い合わせですか？</dt>
              <dd><p class="u-Adjust_Txt-break">契約者本人です</p></dd>
            </div>
            <div class="<%= namespace %>-Form_Item-area">
              <dt>ご契約住所</dt>
              <dd>
                <p id="disp-00N2r000000l7x7" class="u-Adjust_Txt-break u-Adjust_Mt-8"></p>
                <p id="disp-00N2r000001uRyW" class="u-Adjust_Txt-break u-Adjust_Mt-8"></p>
              </dd>
            </div>
            <div class="<%= namespace %>-Form_Item-area">
              <dt>ご請求先住所</dt>
              <dd>
                <p id="disp-00N2r000000l7x2" class="u-Adjust_Txt-break u-Adjust_Mt-8"></p>
                <p id="disp-00N2r000000l75K" class="u-Adjust_Txt-break u-Adjust_Mt-8"></p>
              </dd>
            </div>
          </dl>
          <div class="u-Adjust_Align-center u-Adjust_Mt-40">
            <button type="button" id="js-btn-confirmation-submit" class="c-Btn_Primary <%= namespace %>-Form_Btn" data-ratid="cvs-payment-form_send" data-ratevent="click" data-ratparam="all"><span>この内容で送信する</span></button>
          </div>
          <div class="u-Adjust_Align-center u-Adjust_Mt-16">
            <button type="button" id="js-btn-confirmation-close" class="c-Btn_Regular <%= namespace %>-Form_Btn"><span>修正する</span></button>
          </div>
        </div>
      </form>

      <div class="u-Adjust_Mt-48">
        <h2 class="c-Txt_Normal-ll">個人情報の取扱いについて</h2>
        <div class="u-Adjust_Mt-16">
          「<a href="https://corp.mobile.rakuten.co.jp/guide/privacy/" target="_blank" class="c-Link_Txt">個人情報の取扱いについて</a>」をご確認いただき、同意される場合は下記のチェックボックスをチェックしてください。
        </div>
        <p id="err-required_chk-notes" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
        <label class="c-Form_Checkbox u-Adjust_Mt-16">
          <input type="checkbox" name="" id="js-chk-privacy" value="1" autocomplete="off">
          <span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">個人情報の取扱いに同意します</span>
        </label>
      </div>
      <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <span id="js-btn-confirmation" class="c-Btn_Regular-large" data-ratid="cvs-payment-form_confirm" data-ratevent="click" data-ratparam="all" aria-disabled="true"><span>入力内容を確認する</span></span>
      </div>
      <p class="c-Txt_Cap u-Adjust_Mt-24">
        「個人情報の取扱いについて」のチェックボックスにチェックする必要があります。
      </p>
    </div>
  </div>

  <footer class="g-Footer" style="margin-top: 200px;">
    <div class="l-System_Container">
      <div class="c-Breadcrumbs_Foot">
        <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
      </div>
    </div>
    <%- include('/include/_footer') %>
  </footer>

</div>
<script src="<%= sitepath %>assets/js/library/jquery-3.5.0.min.js"></script>
<script src="<%= sitepath %>assets/js/common.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/vendor.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/search.common.bundle.js?20240521"></script>
<script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
<script>
  var triggerZip2addr = document.getElementsByClassName('js-zip2addr');
  triggerZip2addr[0].addEventListener('click', function(e) {
      AjaxZip3.zip2addr('00N2r000000l7x7','','00N2r000001uRyW','00N2r000001uRyW');
  })
  triggerZip2addr[1].addEventListener('click', function(e) {
      AjaxZip3.zip2addr('00N2r000000l7x2','','00N2r000000l75K','00N2r000000l75K');
  })
</script>
<script src="<%= sitepath %>assets/js/support.cvs-payment-form.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
