<% const pagetitle = "重要事項説明動画一覧" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '楽天モバイル（楽天回線）の重要事項説明動画をご確認いただけます',
    noindex: true,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/terms/terms.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_header-simple') %>

  <div class="terms-Layout-Movie_Wrapper u-Adjust_Mt-24">
    <div class="l-System terms-Layout-Movie_Bg u-Adjust_Pb-24">
      <div class="l-System_Container">
        <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
        <p class="u-Adjust_Mt-16">楽天モバイル（楽天回線）の重要事項説明動画をご確認いただけます。</p>
      </div>
    </div>

    <div class="l-System">
      <div class="l-System_Container u-Adjust_Pt-24 u-Adjust_Pb-24 u-Adjust_Align-center">
        <p>※ 動画が再生されます（The video will be played）</p>

        <div class="c-Infobox_Standing-border u-Adjust_Mt-32 u-Adjust_Align-center terms-Layout-Movie_InfoBox">
          <h3>18歳以上のお客様</h3>
          <p>（Customers over 18 years old）</p>
          <div class="terms-Layout-Movie_Box">
            <a href="https://reserve.mobile.rakuten.net/movie/movie_disclosure_statement_ov18.html" class="c-Btn_Secondly" target="_blank">
              日本語版
              <span class="c-Icon_New-window-l c-Btn_Icon-end"></span>
            </a>
            <a href="https://reserve.mobile.rakuten.net/movie/movie_disclosure_statement_ov18_eng.html" class="c-Btn_Secondly second" target="_blank">
              English version
              <span class="c-Icon_New-window-l c-Btn_Icon-end"></span>
            </a>
          </div>
        </div>

        <div class="c-Infobox_Standing-border u-Adjust_Mt-32 u-Adjust_Align-center terms-Layout-Movie_InfoBox">
          <h3>18歳未満のお客様</h3>
          <p>（Customers under the age of 18）</p>
          <div class="terms-Layout-Movie_Box">
            <a href="https://reserve.mobile.rakuten.net/movie/movie_disclosure_statement_un17.html" class="c-Btn_Secondly" target="_blank">
              日本語版
              <span class="c-Icon_New-window-l c-Btn_Icon-end"></span>
            </a>
            <a href="https://reserve.mobile.rakuten.net/movie/movie_disclosure_statement_un17_eng.html" class="c-Btn_Secondly second" target="_blank">
              English version
              <span class="c-Icon_New-window-l c-Btn_Icon-end"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="g-Footer_Nav-simple terms-Layout-Movie_Footer">
    <small class="g-Footer_Copyright-simple u-Adjust_Align-center">&copy; Rakuten Mobile, Inc.</small>
  </footer>

<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
