<% const pagetitle = "ご利用までの流れ" -%>
<% const namespace = "turbo-Flow" %>
<% const imgDir = `${sitepath}assets/img/internet/turbo/flow/` %>
<%-
 include('/_header', {
    pagetitle,
    description: '楽天モバイルのホームルーターRakuten Turboのお申し込みからご利用開始までの流れをご確認いただけます',
    noindex: false,
    pathname: filepath,
    isTurbo: true,
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/internet/turbo/flow/flow.css?20240424">
<%- include('/include/_append-head') %>

</head>
<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/internet/turbo/_prepend-body-internet') %>
  <div class="l-System">
    <%- include('/include/internet/turbo/_header', {
      pagetitle,
      tax: false,
    }) %>

    <section class="<%= namespace %>-Head u-Adjust_Mt-32">
      <div class="l-System_Container">
        <h1 class="<%= namespace %>-Head_Text">ご利用までの流れ</h1>
        <p class="u-Adjust_Mt-16">Rakuten TurboはWebでもショップでもお申し込み可能です。</p>
      </div>
        <div class="c-Tab js-Tab u-Adjust_Mt-24">
          <div class="<%= namespace %>_Tab">
            <ul class="c-Tab_Items <%= namespace %>_Tab-inner" role="tablist">
                <li class="c-Tab_Item" id="tab-menu-flow1" role="tab" aria-selected="true" aria-controls="tab-content-flow1">Webでお申し込み</li>
                <li class="c-Tab_Item" id="tab-menu-flow2" role="tab" aria-selected="false" aria-controls="tab-content-flow2">ショップでお申し込み</li>
            </ul>
          </div>
          <div class="c-Tab_Panel" id="tab-content-flow1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu-flow1">
            <div class="<%= namespace %>-Head_Nav">
              <div class="l-System_Container">
                <div class="<%= namespace %>-Head_Nav-container">
                  <div class="<%= namespace %>-Head_Nav-item">
                    <a href="#step1" class="<%= namespace %>-Head_Nav-link c-Banner_Hover-act js-scroll" data-auto-rat="anchor">
                      <div class="<%= namespace %>-Head_Nav-item-img">
                        <picture>
                          <source media="(max-width: 834px)" srcset="<%= imgDir %>head-step1-sp.png" width="268" height="56">
                          <img src="<%= imgDir %>head-step1-pc.png" alt="STEP1 対応エリアを確認" width="220" height="140">
                        </picture>
                      </div>
                    </a>
                    <div class="<%= namespace %>-Head_Nav-arrow">
                      <svg width="15" height="32" viewbox="0 0 15 32" fill="none" xmlns="http://www.w3.org/2000/svg" class="<%= namespace %>_Utility-display-pc">
                        <path d="M15 16L-4.4509e-07 32L9.53674e-07 -6.55671e-07L15 16Z" fill="#FF66BA"/>
                      </svg>
                      <svg width="29" height="10" viewbox="0 0 29 10" fill="none" xmlns="http://www.w3.org/2000/svg" class="<%= namespace %>_Utility-display-sp">
                        <path d="M14.5 9.99951L0.500001 -0.000485961L28.5 -0.00048542L14.5 9.99951Z" fill="#FF66BA"/>
                      </svg>
                    </div>
                  </div>
                  <div class="<%= namespace %>-Head_Nav-item">
                    <a href="#step2" class="<%= namespace %>-Head_Nav-link c-Banner_Hover-act js-scroll" data-auto-rat="anchor">
                      <div class="<%= namespace %>-Head_Nav-item-img">
                        <picture>
                          <source media="(max-width: 834px)" srcset="<%= imgDir %>head-step2-sp.png" width="268" height="56">
                          <img src="<%= imgDir %>head-step2-pc.png" alt="STEP2 WEBでお申込み" width="220" height="140">
                        </picture>
                      </div>
                    </a>
                    <div class="<%= namespace %>-Head_Nav-arrow">
                      <svg width="15" height="32" viewbox="0 0 15 32" fill="none" xmlns="http://www.w3.org/2000/svg" class="<%= namespace %>_Utility-display-pc">
                        <path d="M15 16L-4.4509e-07 32L9.53674e-07 -6.55671e-07L15 16Z" fill="#FF66BA"/>
                      </svg>
                      <svg width="29" height="10" viewbox="0 0 29 10" fill="none" xmlns="http://www.w3.org/2000/svg" class="<%= namespace %>_Utility-display-sp">
                        <path d="M14.5 9.99951L0.500001 -0.000485961L28.5 -0.00048542L14.5 9.99951Z" fill="#FF66BA"/>
                      </svg>
                    </div>
                  </div>
                  <div class="<%= namespace %>-Head_Nav-item">
                    <a href="#step3" class="<%= namespace %>-Head_Nav-link c-Banner_Hover-act js-scroll" data-auto-rat="anchor">
                      <div class="<%= namespace %>-Head_Nav-item-img">
                        <picture>
                          <source media="(max-width: 834px)" srcset="<%= imgDir %>head-step3-sp.png" width="268" height="56">
                          <img src="<%= imgDir %>head-step3-pc.png" alt="STEP3 製品を受け取る" width="220" height="140">
                        </picture>
                      </div>
                    </a>
                    <div class="<%= namespace %>-Head_Nav-arrow">
                      <svg width="15" height="32" viewbox="0 0 15 32" fill="none" xmlns="http://www.w3.org/2000/svg" class="<%= namespace %>_Utility-display-pc">
                        <path d="M15 16L-4.4509e-07 32L9.53674e-07 -6.55671e-07L15 16Z" fill="#FF66BA"/>
                      </svg>
                      <svg width="29" height="10" viewbox="0 0 29 10" fill="none" xmlns="http://www.w3.org/2000/svg" class="<%= namespace %>_Utility-display-sp">
                        <path d="M14.5 9.99951L0.500001 -0.000485961L28.5 -0.00048542L14.5 9.99951Z" fill="#FF66BA"/>
                      </svg>
                    </div>
                  </div>
                  <div class="<%= namespace %>-Head_Nav-item">
                    <a href="#step4" class="<%= namespace %>-Head_Nav-link c-Banner_Hover-act js-scroll" data-auto-rat="anchor">
                      <div class="<%= namespace %>-Head_Nav-item-img">
                        <picture>
                          <source media="(max-width: 834px)" srcset="<%= imgDir %>head-step4-sp.png" width="268" height="56">
                          <img src="<%= imgDir %>head-step4-pc.png" alt="STEP4 設定・ご利用開始" width="220" height="140">
                        </picture>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <section class="<%= namespace %>-Main">
                <div class="l-System_Container">
                  <ul class="c-Flow">
                    <li id="step1" class="<%= namespace %>-Main_Item">
                      <div class="<%= namespace %>_Utility-display-pc"><img src="<%= imgDir %>step1-2-img.png" alt="" width="160" height="107"></div>
                      <div class="<%= namespace %>-Main_Item-content">
                        <h2 class="<%= namespace %>-Main_Item-head">
                          <img class="<%= namespace %>-Main_Item-step" src="<%= imgDir %>step1-text.png" alt="STEP1" width="74" height="37"><br class="<%= namespace %>_Utility-display-sp"><span class="<%= namespace %>-Main_Item-head-text">お申し込み前に対応エリアを確認</span>
                        </h2>
                        <div class="<%= namespace %>_Utility-display-sp u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= imgDir %>step1-img.png" alt="" width="160" height="107"></div>
                        <p class="u-Adjust_Mt-16">お申し込み前に必ず、ホームルーターをご利用する場所がRakuten Turboサービス対応エリアかご確認ください。</p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※高層階（およそ16階以上）ではない場所に設置してください。</p>
                      <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>internet/turbo/area/" class="c-Link_Txt-inline">Rakuten Turboのエリアを見る<span class="c-Icon_Chevron-right"></span></a></p>
                      </div>
                    </li>
                    <li id="step2" class="<%= namespace %>-Main_Item">
                      <div class="<%= namespace %>_Utility-display-pc"><img src="<%= imgDir %>step2-img.png" alt="" width="160" height="94"></div>
                      <div class="<%= namespace %>-Main_Item-content">
                        <h2 class="<%= namespace %>-Main_Item-head">
                          <img class="<%= namespace %>-Main_Item-step" src="<%= imgDir %>step2-text.png" alt="STEP2" width="79" height="37"><br class="<%= namespace %>_Utility-display-sp"><span class="<%= namespace %>-Main_Item-head-text">Webサイトからお申し込み</span>
                        </h2>
                        <div class="<%= namespace %>_Utility-display-sp u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= imgDir %>step2-img.png" alt="" width="160" height="94" loading="lazy"></div>
                        <p class="u-Adjust_Mt-16">Rakuten Turboにお申し込みください。<br>お申し込み後、ご登録のメールアドレスに完了メールをお送りします。</p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※完了メールは（＠mobile.rakuten.co.jp）のドメインで配信されます。</p>
                        <div class="u-Adjust_Mt-16">
                          <a href="<%= sitepath %>internet/turbo/application/" class="c-Btn_Primary-large"><span>Webでお申し込み</span></a>
                        </div>
                        <div class="u-Adjust_Mt-32 c-Infobox_Standing-warning">
                          <h3 class="c-Txt_Emp-01 c-Heading_Lv4">お申し込み前に、以下の内容をご準備ください</h3>
                          <ul class="c-List_Text-disc u-Adjust_Mt-16 <%= namespace %>-Main_Item-list <%= namespace %>_Utility-show-sp">
                            <li>楽天IDとパスワード</li>
                            <li>本人確認書類（運転免許証やマイナンバーカード等）</li>
                            <li>製品の配送先住所や設置先住所</li>
                            <li>クレジットカードや銀行口座の情報</li>
                          </ul>
                          <ul class="c-List_Text-disc u-Adjust_Mt-16 <%= namespace %>-Main_Item-list <%= namespace %>_Utility-show-pc">
                            <li>楽天IDとパスワード</li>
                            <li>製品の配送先住所や設置先住所</li>
                            <li>本人確認書類（運転免許証やマイナンバーカード等）</li>
                            <li>クレジットカードや銀行口座の情報</li>
                          </ul>
                          <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>internet/turbo/support/flow/verify/" class="c-Link_Txt-inline">本人確認書類を見る<span class="c-Icon_Chevron-right"></span></a></p>
                        </div>
                      </div>
                    </li>
                    <li id="step3" class="<%= namespace %>-Main_Item">
                      <div class="<%= namespace %>_Utility-display-pc"><img src="<%= imgDir %>step3-img.png" alt="" width="160" height="107" loading="lazy"></div>
                      <div class="<%= namespace %>-Main_Item-content">
                        <h2 class="<%= namespace %>-Main_Item-head">
                          <img class="<%= namespace %>-Main_Item-step" src="<%= imgDir %>step3-text.png" alt="STEP3" width="79" height="37" loading="lazy"><br class="<%= namespace %>_Utility-display-sp"><span class="<%= namespace %>-Main_Item-head-text">製品を受け取る</span>
                        </h2>
                        <div class="<%= namespace %>_Utility-display-sp u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= imgDir %>step3-img.png" alt="" width="160" height="107" loading="lazy"></div>
                        <p class="u-Adjust_Mt-16">本人確認が完了後、製品をご指定の住所にお届けいたします。</p>
                      </div>
                    </li>
                    <li id="step4" class="<%= namespace %>-Main_Item">
                      <div class="<%= namespace %>_Utility-display-pc"><img src="<%= imgDir %>step4-img.png" alt="" width="160" height="107" loading="lazy"></div>
                      <div class="<%= namespace %>-Main_Item-content">
                        <h2 class="<%= namespace %>-Main_Item-head">
                          <img class="<%= namespace %>-Main_Item-step" src="<%= imgDir %>step4-text.png" alt="STEP4" width="80" height="37" loading="lazy"><br class="<%= namespace %>_Utility-display-sp"><span class="<%= namespace %>-Main_Item-head-text">コンセントにさしてWi-Fiを設定、ご利用開始</span>
                        </h2>
                        <div class="<%= namespace %>_Utility-display-sp u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= imgDir %>step4-img.png" alt="" width="160" height="107" loading="lazy"></div>
                        <p class="u-Adjust_Mt-16">ルーターをコンセントにさしてWi-Fiの設定をすれば、すぐにRakuten Turboのインターネットをご利用いただけます。</p>
                        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>internet/turbo/support/setting/" class="c-Link_Txt-inline">設定方法についてを見る<span class="c-Icon_Chevron-right"></span></a></p>
                      </div>
                    </li>
                  </ul>
                </div>
            </section>
          </div>

          <div class="c-Tab_Panel" id="tab-content-flow2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu-flow2">
            <div class="<%= namespace %>-Head_Nav">
              <div class="l-System_Container">
                <div class="<%= namespace %>-Head_Nav-container">
                  <div class="<%= namespace %>-Head_Nav-item">
                    <a href="#step1-2" class="<%= namespace %>-Head_Nav-link c-Banner_Hover-act js-scroll" data-auto-rat="anchor">
                      <div class="<%= namespace %>-Head_Nav-item-img">
                        <picture>
                          <source media="(max-width: 834px)" srcset="<%= imgDir %>head-step1-2-sp.png" width="268" height="56">
                          <img src="<%= imgDir %>head-step1-2-pc.png" alt="STEP1 対応エリアを確認" width="220" height="140">
                        </picture>
                      </div>
                    </a>
                    <div class="<%= namespace %>-Head_Nav-arrow">
                      <svg width="15" height="32" viewbox="0 0 15 32" fill="none" xmlns="http://www.w3.org/2000/svg" class="<%= namespace %>_Utility-display-pc">
                        <path d="M15 16L-4.4509e-07 32L9.53674e-07 -6.55671e-07L15 16Z" fill="#FF66BA"/>
                      </svg>
                      <svg width="29" height="10" viewbox="0 0 29 10" fill="none" xmlns="http://www.w3.org/2000/svg" class="<%= namespace %>_Utility-display-sp">
                        <path d="M14.5 9.99951L0.500001 -0.000485961L28.5 -0.00048542L14.5 9.99951Z" fill="#FF66BA"/>
                      </svg>
                    </div>
                  </div>
                  <div class="<%= namespace %>-Head_Nav-item">
                    <a href="#step2-2" class="<%= namespace %>-Head_Nav-link c-Banner_Hover-act js-scroll" data-auto-rat="anchor">
                      <div class="<%= namespace %>-Head_Nav-item-img <%= namespace %>-Head_Nav-item-img--m">
                        <picture>
                          <source media="(max-width: 834px)" srcset="<%= imgDir %>head-step2-2-sp.png" width="268" height="66">
                          <img src="<%= imgDir %>head-step2-2-pc.png" alt="STEP2 ショップでお申し込み" width="220" height="140">
                        </picture>
                      </div>
                    </a>
                    <div class="<%= namespace %>-Head_Nav-arrow">
                      <svg width="15" height="32" viewbox="0 0 15 32" fill="none" xmlns="http://www.w3.org/2000/svg" class="<%= namespace %>_Utility-display-pc">
                        <path d="M15 16L-4.4509e-07 32L9.53674e-07 -6.55671e-07L15 16Z" fill="#FF66BA"/>
                      </svg>
                      <svg width="29" height="10" viewbox="0 0 29 10" fill="none" xmlns="http://www.w3.org/2000/svg" class="<%= namespace %>_Utility-display-sp">
                        <path d="M14.5 9.99951L0.500001 -0.000485961L28.5 -0.00048542L14.5 9.99951Z" fill="#FF66BA"/>
                      </svg>
                    </div>
                  </div>
                  <div class="<%= namespace %>-Head_Nav-item">
                    <a href="#step3-2" class="<%= namespace %>-Head_Nav-link c-Banner_Hover-act js-scroll" data-auto-rat="anchor">
                      <div class="<%= namespace %>-Head_Nav-item-img <%= namespace %>-Head_Nav-item-img--l">
                        <picture>
                          <source media="(max-width: 834px)" srcset="<%= imgDir %>head-step3-2-sp.png" width="268" height="72">
                          <img src="<%= imgDir %>head-step3-2-pc.png" alt="STEP3 製品を受け取る※在庫がない場合は後日郵送いたします" width="220" height="140">
                        </picture>
                      </div>
                    </a>
                    <div class="<%= namespace %>-Head_Nav-arrow">
                      <svg width="15" height="32" viewbox="0 0 15 32" fill="none" xmlns="http://www.w3.org/2000/svg" class="<%= namespace %>_Utility-display-pc">
                        <path d="M15 16L-4.4509e-07 32L9.53674e-07 -6.55671e-07L15 16Z" fill="#FF66BA"/>
                      </svg>
                      <svg width="29" height="10" viewbox="0 0 29 10" fill="none" xmlns="http://www.w3.org/2000/svg" class="<%= namespace %>_Utility-display-sp">
                        <path d="M14.5 9.99951L0.500001 -0.000485961L28.5 -0.00048542L14.5 9.99951Z" fill="#FF66BA"/>
                      </svg>
                    </div>
                  </div>
                  <div class="<%= namespace %>-Head_Nav-item">
                    <a href="#step4-2" class="<%= namespace %>-Head_Nav-link c-Banner_Hover-act js-scroll" data-auto-rat="anchor">
                      <div class="<%= namespace %>-Head_Nav-item-img">
                        <picture>
                          <source media="(max-width: 834px)" srcset="<%= imgDir %>head-step4-sp.png" width="268" height="56">
                          <img src="<%= imgDir %>head-step4-2-pc.png" alt="STEP4 設定・ご利用開始" width="220" height="140">
                        </picture>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <section class="<%= namespace %>-Main">
                <div class="l-System_Container">
                  <ul class="c-Flow">
                    <li id="step1-2" class="<%= namespace %>-Main_Item">
                      <div class="<%= namespace %>_Utility-display-pc"><img src="<%= imgDir %>step1-2-img.png" alt="" width="160" height="107"></div>
                      <div class="<%= namespace %>-Main_Item-content-2">
                        <h2 class="<%= namespace %>-Main_Item-head">
                          <img class="<%= namespace %>-Main_Item-step" src="<%= imgDir %>step1-text.png" alt="STEP1" width="74" height="37"><br class="<%= namespace %>_Utility-display-sp"><span class="<%= namespace %>-Main_Item-head-text">ご来店前に対応エリアを確認</span>
                        </h2>
                        <div class="<%= namespace %>_Utility-display-sp u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= imgDir %>step1-2-img.png" alt="" width="160" height="107"></div>
                        <p class="u-Adjust_Mt-16">ご来店前にホームルーターをご利用する場所がRakuten Turboサービス対応エリアかご確認ください。</p>
                        <div class="u-Adjust_Mt-16">
                          <a href="<%= sitepath %>internet/turbo/area/" class="c-Link_Txt-inline" data-lid_no="02">Rakuten Turboのエリアを見る<span class="c-Icon_Chevron-right"></span></a>
                        </div>
                      </div>
                    </li>
                    <li id="step2-2" class="<%= namespace %>-Main_Item">
                      <div class="<%= namespace %>_Utility-display-pc"><img src="<%= imgDir %>step2-2-img.png" alt="" width="160" height="94"></div>
                      <div class="<%= namespace %>-Main_Item-content-2">
                        <h2 class="<%= namespace %>-Main_Item-head">
                          <img class="<%= namespace %>-Main_Item-step" src="<%= imgDir %>step2-text.png" alt="STEP2" width="79" height="37"><br class="<%= namespace %>_Utility-display-sp"><span class="<%= namespace %>-Main_Item-head-text">楽天モバイルショップでお申し込み</span>
                        </h2>
                        <div class="<%= namespace %>_Utility-display-sp u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= imgDir %>step2-2-img.png" alt="" width="160" height="94" loading="lazy"></div>
                        <p class="u-Adjust_Mt-16">
                          お近くの楽天モバイルショップでお申し込みが可能です。<br>
                          ご来店予定が決まっていれば、来店予約がおすすめです。ご来店の際は本人確認書類をご持参ください。</p>
                          <div>
                            <div class="l-Media_Grid-half <%= namespace %>-Shop_Theme-white-shop-search">
                              <div>
                                <div class="c-Form_Select">
                                  <select name="" id="js-shop-Search_Select-pref">
                                    <option value="">都道府県を選択</option>
                                  </select>
                                  <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
                                </div>
                              </div>
                              <div class="u-Adjust_Mt-0">
                                <div class="c-Form_Select">
                                  <select name="" id="js-shop-Search_Select-city" aria-disabled="true" disabled>
                                    <option value="">市区町村を選択</option>
                                  </select>
                                  <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
                                </div>
                              </div>
                            </div>
                            <div class="u-Adjust_Align-center u-Adjust_Mt-16 <%= namespace %>-Main_Item-button">
                              <button id="js-shop-Search_Prefcity" class="c-Btn_Secondly-large" aria-disabled="true" disabled>お近くのショップを検索する</button>
                            </div>
                          </div>
                      </div>
                    </li>
                    <li id="step3-2" class="<%= namespace %>-Main_Item">
                      <div class="<%= namespace %>_Utility-display-pc"><img src="<%= imgDir %>step3-2-img.png" alt="" width="160" height="107" loading="lazy"></div>
                      <div class="<%= namespace %>-Main_Item-content-2">
                        <h2 class="<%= namespace %>-Main_Item-head">
                          <img class="<%= namespace %>-Main_Item-step" src="<%= imgDir %>step3-text.png" alt="STEP3" width="79" height="37" loading="lazy"><br class="<%= namespace %>_Utility-display-sp"><span class="<%= namespace %>-Main_Item-head-text">製品を受け取る</span>
                        </h2>
                        <div class="<%= namespace %>_Utility-display-sp u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= imgDir %>step3-2-img.png" alt="" width="160" height="107" loading="lazy"></div>
                        <p class="u-Adjust_Mt-16">ショップで購入いただいた場合は、「店頭受け取り」または「配送」を選択することができます。</p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※ショップでご購入いただいた場合でも、在庫状況によってお引き渡し方法を選択いただけない場合がございます。</p>
                      </div>
                    </li>
                    <li id="step4-2" class="<%= namespace %>-Main_Item">
                      <div class="<%= namespace %>_Utility-display-pc"><img src="<%= imgDir %>step4-img.png" alt="" width="160" height="107" loading="lazy"></div>
                      <div class="<%= namespace %>-Main_Item-content-2">
                        <h2 class="<%= namespace %>-Main_Item-head">
                          <img class="<%= namespace %>-Main_Item-step" src="<%= imgDir %>step4-text.png" alt="STEP4" width="80" height="37" loading="lazy"><br class="<%= namespace %>_Utility-display-sp"><span class="<%= namespace %>-Main_Item-head-text">コンセントにさしてWi-Fiを設定、ご利用開始</span>
                        </h2>
                        <div class="<%= namespace %>_Utility-display-sp u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= imgDir %>step4-img.png" alt="" width="160" height="107" loading="lazy"></div>
                        <p class="u-Adjust_Mt-16">ルーターをコンセントにさしてWi-Fiの設定をすれば、すぐにRakuten Turboのインターネットをご利用いただけます。</p>
                        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>internet/turbo/support/setting/?l-id=rmt_support_setting_02" class="c-Link_Txt-inline" data-ratid="02">設定方法についてを見る<span class="c-Icon_Chevron-right"></span></a></p>
                      </div>
                    </li>
                  </ul>
                </div>
            </section>
          </div>
        </div>



    </section>

    <section class="u-Adjust_Mt-64">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">よくあるご質問</h2>
        <div class="u-Adjust_Mt-24">
          <div class="c-Accordion">
            <button id="accordion-faq-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-1" data-auto-rat="faqac"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天ひかりとRakuten Turboの違いを教えてください</button>
            <div id="accordion-content-faq-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-1" aria-hidden="true" style="display:none;">
              <p>Rakuten Turboは、据え置き型ルーターを設置し、楽天モバイルの電波で接続するインターネット回線です。<br>楽天ひかりは、光ファイバーケーブルを建物内に直接引き込んで接続するインターネット回線です。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-2" data-auto-rat="faqac"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten最強プランを契約していないが、Rakuten Turboを契約できますか？</button>
            <div id="accordion-content-faq-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-2" aria-hidden="true" style="display:none;">
              <p>Rakuten最強プランの契約がなくてもRakuten Turboを契約できます。<br>Rakuten Turboを契約いただくことで、お手持ちの製品をWi-Fi接続し、データ通信をご利用いただけます。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-3" data-auto-rat="faqac"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>未成年の申し込みに必要な本人確認書類は何ですか？</button>
            <div id="accordion-content-faq-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-3" aria-hidden="true" style="display:none;">
              <p>お客様のニーズに合わせて本人確認を行っていただけます。</p>
              <div class="u-Adjust_Mt-16">
                <p class="c-Txt_Emp-01">日本国籍のお客様</p>
                <p>運転免許証／運転経歴証明書／マイナンバーカード（個人番号カード）／精神障がい者保健福祉手帳／療育手帳／身体障がい者手帳／健康保険証<span class="c-Txt_Cap">※</span>／日本国パスポート<span class="c-Txt_Cap">※</span>／住民基本台帳カード<span class="c-Txt_Cap">※</span></p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※補助書類必要</p>
              </div>
              <div class="u-Adjust_Mt-16">
                <p class="c-Txt_Emp-01">外国籍のお客様</p>
                <p>在留カード／特別永住者証明書</p>
              </div>
              <div class="u-Adjust_Mt-16">
                <p class="c-Txt_Emp-01">AIかんたん本人確認（eKYC）</p>
                <p>運転免許証またはマイナンバーカードをお持ちであれば、その場で本人確認が完了する「AIかんたん本人確認（eKYC）」がご利用いただけます。</p>
              </div>
              <div class="u-Adjust_Mt-16">
                <p class="c-Txt_Emp-01">受け取り時に自宅で確認</p>
                <p>Webからのお申し込み時に本人確認をスキップし、商品のお受け取りの際にご自宅で本人確認を行えます。<br>運転免許証<span class="c-Txt_Cap">※1</span>／マイナンバーカード（個人番号カード）／日本国パスポート<span class="c-Txt_Cap">※2</span></p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※1 運転経歴証明書は不可 ※2 補助書類必要</p>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-4" data-auto-rat="faqac"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>申し込み完了後、どのくらいで商品は届きますか？</button>
            <div id="accordion-content-faq-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-4" aria-hidden="true" style="display:none;">
              <p>お申し込み完了から最短2日でお届けします。
お客様の審査状況や天候、配送状況によっては、お届けまでに数日もしくは1週間ほどお時間をいただく場合がございます。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-5" data-auto-rat="faqac"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>店頭で製品を受け取ることはできますか？</button>
            <div id="accordion-content-faq-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-5" aria-hidden="true" style="display:none;">
              <p>Webでお申し込みいただいた場合は、「配送」となります。<br>
                「店頭受け取り」は選択できません。<br>
                店舗で購入いただいた場合は、「店頭受け取り」または、「配送」を選択することができます。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※店舗でご購入いただいた場合でも、在庫状況によってお引き渡し方法を選択いただけない場合がございます。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-6" data-auto-rat="faqac"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>好きな場所で使えますか？</button>
            <div id="accordion-content-faq-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-6" aria-hidden="true" style="display:none;">
              <p>日本国内の楽天回線エリア内※であればお使いいただけます。設置先の推奨環境を下記よりご確認ください。</p>
              <ul class="u-Adjust_Mt-8">
                <li>・窓際など、電波を受け取りやすい場所に設置できること</li>
                <li>・Wi-Fiの電波と干渉する機器（電子レンジ、テレビなど）から離して設置できること</li>
                <li>・高層階（およそ16階以上）ではない場所に設置できること</li>
              </ul>
              <p>なお、ご登録いただいている設置先住所のみでご利用いただけます。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-16">※ 楽天モバイル「Rakuten最強プラン」で利用できるサービスエリアとは異なります。<a href="<%= sitepath %>internet/turbo/area/" class="c-Link_Txt-inline" data-lid_no="03">通信・エリア</a>をご確認ください</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq-7" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-7" data-auto-rat="faqac"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>契約期間の縛りや最低利用期間の定めはありますか？</button>
            <div id="accordion-content-faq-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-7" aria-hidden="true" style="display:none;">
              <p>Rakuten Turboに契約期間の縛りや最低利用期間はありません。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq-8" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-8" data-auto-rat="faqac"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>通信速度を教えてください</button>
            <div id="accordion-content-faq-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-8" aria-hidden="true" style="display:none;">
              <p>通信速度はベストエフォート方式による提供となります。<br>実際の通信速度は、ご利用場所、通信環境、ネットワークの混雑状況、対応製品によって変わります。</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="u-Adjust_Mt-64">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">Turboもひかりも、どちらもおトク</h2>
      </div>
      <div class="u-Adjust_Mt-24">
        <%- include('/include/internet/turbo/common/_bnr', {
          orglid1: 'rmt_internet_turbo_flow_internet_turbo_campaign_six-month-free_01',
          orglid2: 'rmt_internet_turbo_flow_hikari_campaign_six-month-free_01'
        }) %>
      </div>
    </section>

    <%- include('/include/internet/turbo/_fixed-button') %>

    <div class="u-Adjust_Mt-64">
      <%- include('/include/internet/turbo/_more-nav', {
        hiddenBnr: true,
      }) %>
    </div>

    <div class="u-Adjust_Mt-24">
      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
      <%- include('/include/internet/turbo/_footer', {
        pagetitle,
      }) %>
    </div>
  </div>

  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
  <%- include('/include/internet/turbo/_rex-survey-flow') %>

  <script src="<%= sitepath %>assets/js/internet.turbo.flow.bundle.js?20240521"></script>

</body>
</html>
