<% const pagetitle = "Galaxy Z Flip4を購入すると先着順でBTSグッズ 3点セットをプレゼント" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "galaxy-z-flip4" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '【楽天モバイル限定】Galaxy Z Flip4購入で必ずBTSグッズがもらえるプレゼントキャンペーン！',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/galaxy-z-flip4/galaxy-z-flip4.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout_Label">
      <ul class="c-Label_List">
        <li class="c-Label_Normal">対象製品限定</li>
      </ul>
    </div>

    <div class="<%= namespace %>-Hero_Kv">
      <picture>
        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/galaxy-z-flip4/kv-sp-221017.png">
        <img src="<%= sitepath %>assets/img/campaign/galaxy-z-flip4/kv-pc-221017.png" alt="">
      </picture>
    </div>
    <div class="l-System_Container">
      <div class="<%= namespace %>-Utility_Pb-64-40">
        <p class="c-Txt_Cap u-Adjust_Mt-24">
          ※本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください。<br>
          ※先着順で景品もしくは対象製品がなくなり次第終了とさせていただきます。<br>
          ※本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります。
        </p>
        <p class="u-Adjust_Align-center <%= namespace %>-Utility_Mt-32-24">
          <span class="c-Txt_Emp-01">【キャンペーン期間】</span><br>
          Web：2022年10月17日（月）9:00～2023年1月6日（金）23:59<br>
          店舗（楽天モバイルショップ）：2022年10月17日（月）開店～2023年1月6日（金）閉店
        </p>
        <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-16 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
        <ul class="<%= namespace %>-Hero_Nav u-Adjust_Mt-32">
          <li><a href="#campaign-item" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーン対象製品</a></li>
          <li><a href="#campaign-rule1660" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルール</a></li>
        </ul>
      </div>
    </div>

    <section class="<%= namespace %>-Present">
      <div class="l-System_Container">
        <div class="<%= namespace %>-Utility_Pb-37-16">
          <h2 class="c-Heading_Lv2 u-Adjust_Align-center">
            Galaxy Z Flip4ご購入でBTSグッズ3点セットをプレゼント！
          </h2>
          <p class="<%= namespace %>-Present_Txt1 <%= namespace %>-Utility_Mt-8-16">楽天モバイル（Web、または楽天モバイルショップ）でキャンペーン期間内にご購入ください。</p>
        </div>
        <div class="<%= namespace %>-Present_2col">
          <div class="<%= namespace %>-Present_2col-item">
            <div>
              <h4 class="c-Heading_Lv4 u-Adjust_Align-center u-Adjust_Pb-16"><span class="<%= namespace %>-Present_num">&#10102;</span>クリアケース</h4>
              <img src="<%= sitepath %>assets/img/campaign/galaxy-z-flip4/img-00-221017.png" width="246px" alt="">
              <p class="<%= namespace %>-Present_Txt2 u-Adjust_Mt-16 u-Adjust_Align-center">
                〔Size〕74×90×167.4mm／15ｇ<br>
                ※クリアケースはBTS仕様ではございません。
              </p>
            </div>
          </div>
          <div class="<%= namespace %>-Present_2col-item">
            <div>
              <div class="<%= namespace %>-Present_2col-inner u-Adjust_Pb-16"><h4 class="c-Heading_Lv4"><span class="<%= namespace %>-Present_num">&#10103;</span>フリップカード</h4><p>（着せ替えカード）</p></div>
                <img src="<%= sitepath %>assets/img/campaign/galaxy-z-flip4/img-01-221017.png" width="472px" alt="">
              <div class="u-Adjust_Align-center">
                <p class="<%= namespace %>-Utility_Mt-16-12">クリアケースに挟んで使用する<br class="<%= namespace %>-Utility_Br-sp">着せ替えカードです。</p>
                <p class="<%= namespace %>-Present_Txt2">〔Size〕63×74mm／<br class="<%= namespace %>-Utility_Br-sp">Galaxy Z Flip4にフィットするサイズ</p>
              </div>
            </div>
          </div>
        </div>
        <div class="<%= namespace %>-Present_poster">
          <div class="u-Adjust_Align-center">
            <h4 class="c-Heading_Lv4 u-Adjust_Pb-16"><span class="<%= namespace %>-Present_num">&#10104;</span>ポスター</h4>
            <img src="<%= sitepath %>assets/img/campaign/galaxy-z-flip4/img-02-221017.png" width="600px" alt="">
            <p class="<%= namespace %>-Present_Txt2 u-Adjust_Mt-16">〔Size〕594×335mm</p>
          </div>
        </div>
        <p class="c-Txt_Cap <%= namespace %>-Utility_Mt-32-16">
          ※製品の購入日から約1ヶ月程度で発送。<br>
          ※発送状況により、配送が遅れる場合がございます。<br>
          ※配送先は日本国内に限らせていただきます。<br>
          ※景品は製品を購入した際に楽天モバイルにご登録いただいた氏名、住所に発送いたします。<br>
          ※景品進呈までに楽天会員から退会している場合、特典適用対象外となります。<br>
          ※景品の数には限りがございます。先着順で景品もしくは対象製品がなくなり次第終了とさせていただきます。
        </p>
      </div>
    </section>

    <%_ const adInfo = `<h3 class="c-Heading_Lv3">Galaxy Z Flip4</h3>
    <p class="u-Adjust_Mt-8">「新しいケータイ」持ってみない？<br>おしゃれでコンパクトな次世代スマホ</p>`; _%>
    <section id="campaign-item" class="<%= namespace %>-Target">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーン対象製品</h2>
        <div class="<%= namespace %>-Target_Desc <%= namespace %>-Utility_Mt-24-16">
          <p>「実質価格」とは、キャンペーンの条件達成（楽天モバイルを初めてお申し込み、対象製品のご購入、Rakuten Linkアプリのご利用など）により後日付与されるポイントを加味した価格であり、実際のお支払い金額とは異なります。詳しくは<a href="#campaign-rule1660" class="js-scroll">キャンペーンルール</a>をご確認ください。</p>
        </div>
        <div class="<%= namespace %>-Target_Main <%= namespace %>-Utility_Mt-24-16">
          <div class="<%= namespace %>-Target_Main-wrapper">
            <div class="<%= namespace %>-Target_Product">
              <div class="<%= namespace %>-Utility_Disp-sp u-Adjust_Align-center u-Adjust_Pb-16">
                <%- adInfo %>
              </div>
              <div class="<%= namespace %>-Target_Product-inner">
                <img src="<%= sitepath %>assets/img/campaign/galaxy-z-flip4/img-03-221017.png" alt="">
                <ul class="<%= namespace %>-Target_Color">
                  <li class="<%= namespace %>-Target_Color-purple"></li>
                  <li class="<%= namespace %>-Target_Color-black"></li>
                </ul>
              </div>
            </div>
            <div class="<%= namespace %>-Target_Price">
              <div class="<%= namespace %>-Target_Price-inner">
                <div class="<%= namespace %>-Target_Price-border">
                  <div class="<%= namespace %>-Utility_Disp-pc u-Adjust_Align-center">
                    <%- adInfo %>
                  </div>
                  <div class="<%= namespace %>-Target_Price-price <%= namespace %>-Utility_Mt-24-16">
                    <p>製品価格（税込）</p>
                    <p class="<%= namespace %>-Target_Price-Txt3">139,800<span class="<%= namespace %>-Target_Price-Txt2">円</span></p>
                  </div>
                  <div class="<%= namespace %>-Target_Price-price <%= namespace %>-Utility_Mt-14">
                    <p class="-Target_Price-Txt2 c-Txt_Emp-02">プランセット値引き<span class="<%= namespace %>-Target_Price-Txt4">※2</span></p>
                    <p class="-Target_Price-Txt1 c-Txt_Emp-02"><span class="<%= namespace %>-Target_Price-Txt1">-16,000</span>円</p>
                  </div>
                  <div class="<%= namespace %>-Target_Price-price <%= namespace %>-Utility_Mt-14 <%= namespace %>-Utility_Pb-12">
                    <p class="<%= namespace %>-Target_Price-Txt2 c-Txt_Emp-02">最大<span class="<%= namespace %>-Target_Price-Txt5">3,000</span>ポイント<span class="<%= namespace %>-Target_Price-Txt4">※1</span></p>
                    <p class="<%= namespace %>-Target_Price-Txt1 c-Txt_Emp-02">-3,000<span class="<%= namespace %>-Target_Price-Txt2">pt</span></p>
                  </div>
                </div>
                <p class="<%= namespace %>-Utility_Mt-10-8 <%= namespace %>-Target_Price-Txt2 <%= namespace %>-Target_Price-Adjust u-Adjust_Align-right c-Txt_Emp-02" style="height:36px">実質<span class="<%= namespace %>-Target_Price-Txt1">120,800</span>円</p>
              </div>
            </div>
          </div>
          <p class="c-Txt_Cap u-Adjust_Mt-16">
            ※5G通信は対応エリアでご利用可能です。<br>
            ※1「<a href="<%= sitepath %>campaign/start-point/#campaign-rule1526">【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼントキャンペーン</a>」適用時。楽天回線を初めてお申し込みいただいた場合に限ります。期間限定ポイントで条件達成の翌々月末日頃に付与されます。<br>
            ※2「<a href="<%= sitepath %>campaign/start-point/#campaign-rule1550">Androidスマホ/Wi-Fiルーター割引キャンペーン</a>」適用時。<br>
          </p>
          <div class="<%= namespace %>-Target_Btns">
            <div class="<%= namespace %>-Target_Btns-inner">
              <a href="<%= sitepath %>product/smartphone/galaxy-z-flip4/?l-id=campaign_galaxy-z-flip4_product_smartphone_galaxy-z-flip4" class="c-Btn_Primary-large"><span>Galaxy Z Flip4の詳細・Webで購入はこちら</span></a>
              <a href="<%= sitepath %>shop/?l-id=campaign_galaxy-z-flip4_shop" class="c-Btn_Secondly-large"><span>来店予約をする</span></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="l-System">
      <div class="l-System_Container">
        <div class="u-Adjust_Mt-48 u-Adjust_Align-center">
          <a href="#campaign-rule1740" class="c-Banner_Hover-act js-scroll">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/galaxy-z-flip4/img-04-343-108.png">
                  <img src="<%= sitepath %>assets/img/campaign/galaxy-z-flip4/img-04-1032-160.png" alt="対象の楽天モバイルショップ限定 Galaxy Z Flip4のお試し操作＆アンケートに回答していただくと、合計1万名様にBTSポスターをプレゼント！">
            </picture>
          </a>
      </div>
      <p class="<%= namespace %>-Utility_Disp-sp c-Txt_Cap u-Adjust_Mt-8">
        ※在庫がなくなり次第終了<br>
        ※お一人様一回限りの適用
      </p>
    </div>

    <div id="unlimit-vi-plan" class="u-Adjust_Mt-48">
      <%- include('/inc/_saikyo') %>
    </div>

    <div class="l-System c-Theme-Light u-Adjust_Mt-48">
      <div class="l-System_Container">
        <h3 class="c-Heading_Lv2 u-Adjust_Align-center">楽天モバイルについて</h3>
        <p class="u-Adjust_Align-center c-Txt_Emp-01 u-Adjust_Mt-8">詳細は以下の各リンク先にてご確認ください</p>
        <div class="u-Adjust_Mt-24">
          <ul class="<%= namespace %>-Card_About">
            <li>
              <a href="<%= sitepath %>fee/un-limit/?l-id=campaign_galaxy-z-flip4_fee_un-limit" class="c-Card_Normal">
                <img src="<%= sitepath %>assets/img/campaign/galaxy-z-flip4/icon-about-01.png" alt="">
                <p class="c-Txt_Emp-01">料金プラン</p>
              </a>
            </li>
            <li>
              <a href="<%= sitepath %>fee/zero/?l-id=campaign_galaxy-z-flip4_fee_zero" class="c-Card_Normal">
                <img src="<%= sitepath %>assets/img/campaign/galaxy-z-flip4/icon-about-02.png" alt="">
                <p class="c-Txt_Emp-01">お申し込み手数料</p>
              </a>
            </li>
            <li>
              <a href="<%= sitepath %>area/?l-id=campaign_galaxy-z-flip4_area" class="c-Card_Normal">
                <img src="<%= sitepath %>assets/img/campaign/galaxy-z-flip4/icon-about-03.png" alt="">
                <p class="c-Txt_Emp-01">サービスエリア</p>
              </a>
            </li>
            <li>
              <a href="<%= sitepath %>product/byod/?l-id=campaign_galaxy-z-flip4_product_byod" class="c-Card_Normal">
                <img src="<%= sitepath %>assets/img/campaign/galaxy-z-flip4/icon-about-04.png" alt="">
                <p class="c-Txt_Emp-01">楽天回線対応製品</p>
              </a>
            </li>
            <li>
              <a href="<%= sitepath %>service/?l-id=campaign_galaxy-z-flip4_service" class="c-Card_Normal">
                <img src="<%= sitepath %>assets/img/campaign/galaxy-z-flip4/icon-about-05.png" alt="">
                <p class="c-Txt_Emp-01">オプション<br>サービス</p>
              </a>
            </li>
            <li>
              <a href="<%= sitepath %>guide/point/?l-id=campaign_galaxy-z-flip4_guide_point" class="c-Card_Normal">
                <img src="<%= sitepath %>assets/img/campaign/galaxy-z-flip4/icon-about-06.png?220309" alt="">
                <p class="c-Txt_Emp-01">おトクな<br>楽天ポイント</p>
              </a>
            </li>
            <li>
              <a href="<%= sitepath %>service/rakuten-link/?l-id=campaign_galaxy-z-flip4_service_rakuten-link" class="c-Card_Normal">
                <img src="<%= sitepath %>assets/img/campaign/galaxy-z-flip4/icon-about-07.png" alt="">
                <p class="c-Txt_Emp-01">Rakuten Link<br>アプリ</p>
              </a>
            </li>
            <li>
              <a href="<%= sitepath %>campaign/?l-id=campaign_galaxy-z-flip4_campaign" class="c-Card_Normal">
                <img src="<%= sitepath %>assets/img/campaign/galaxy-z-flip4/icon-about-08.png" alt="">
                <p class="c-Txt_Emp-01">キャンペーン一覧</p>
              </a>
            </li>
            <li>
              <a href="<%= sitepath %>product/sim/?l-id=campaign_galaxy-z-flip4_product_sim" class="c-Card_Normal">
                <img src="<%= sitepath %>assets/img/campaign/galaxy-z-flip4/icon-about-09.png" alt="">
                <p class="c-Txt_Emp-01">SIMの使い方</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="l-System_Container u-Adjust_Mt-64">
      <%- include('/include/_bnr-cpn-recommend-v2.ejs') %>
    </div>
  </div>

  <div class="l-System_Container">

    <!-- 1660 -->
    <h2 class="c-Heading_Lv2" id="campaign-rule1660">Galaxy Z Flip4を購入すると先着順でBTSグッズ 3点セットをプレゼント</h2>
    <p class="c-Txt_Emp-02 c-Txt_Normal-l u-Adjust_Mt-16 u-Adjust_Align-center">本キャンペーンは終了しました。</p>

    <div class="c-Table_Wrap u-Adjust_Mt-24">
      <div class="u-Adjust_Mt-24">
        <dl class="c-Dl_Origin <%= namespace %>-Dl_Rule">
          <div>
            <dt>キャンペーンコード</dt>
            <dd>
              <p>1660</p>
              <ul class="c-Txt_Cap u-Adjust_Mt-8">
                <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
              </ul>
            </dd>
          </div>
          <div>
            <dt>キャンペーン期間</dt>
            <dd>
              <p><span class="c-Txt_Emp-01">■ 製品のご購入期間</span><br>
                　- Web　2022年10月17日（月）09:00～2023年1月6日（金）23:59<br>
                　- 店舗（楽天モバイルショップ）　2022年10月17日（月）開店～2023年1月6日（金）閉店
              </p>
            </dd>
          </div>

          <div>
            <dt>キャンペーン条件</dt>
            <dd>
              <p class="c-Txt_Emp-02">上記各項目の期間内に以下の条件を満たした楽天会員の方</p>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">Webまたは店舗（楽天モバイルショップ）にてGalaxy Z Flip4を購入</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8" style="line-height:2.2;">
                ※Webで購入された方は製品のお申し込み日を購入日とみなします<br>
                ※製品が届くまでにご注文をキャンセルされた場合、本キャンペーンの対象外となります
              </p>
            </dd>
          </div>
          <div>
            <dt>キャンペーン特典</dt>
            <dt class="<%= namespace %>-Dl_Title-sub">特典内容</dt>
            <dd>
              <p class="c-Txt_Emp-01">対象期間内にGalaxy Z Flip4 ご購入でBTSグッズ3点セットをプレゼント</p>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">①　クリアケース</p>
              <p class="c-Txt_Emp-01">②　フリップカード</p>
              <p class="c-Txt_Emp-01">③　ポスター</p>
            </dd>
            <dt class="<%= namespace %>-Dl_Title-sub">景品の発送日</dt>
            <dd>
              <p class="c-Txt_Cap" style="line-height:2.2;">
                ※製品の購入日から約1ヶ月程度で発送<br>
                ※発送状況により、配送が遅れる場合がございます<br>
                ※配送先は日本国内に限らせていただきます<br>
                ※景品は製品を購入した際に楽天モバイルにご登録いただいた氏名、住所に発送いたします
              </p>
            </dd>
          </div>
          <div>
            <dt>特典適用対象外</dt>
            <dd>
              <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
              <ul class="u-Adjust_Mt-16">
                <li class="c-Txt_Cap"><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                <li class="c-Txt_Cap"><span>※</span>楽天モバイルショップ、楽天モバイルオンライン以外で購入した場合</li>
                <li class="c-Txt_Cap"><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
                <li class="c-Txt_Cap"><span>※</span>景品進呈までに楽天会員から退会している場合</li>
                <li class="c-Txt_Cap"><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                <li class="c-Txt_Cap"><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
                <li class="c-Txt_Cap"><span>※</span>Webで製品をご購入し、製品がお手元に届くまでにご注文をキャンセルされた場合</li>
              </ul>
            </dd>
          </div>
          <div>
            <dt>注意事項</dt>
            <dd>
              <ul>
                <li class="c-Txt_Cap"><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                <li class="c-Txt_Cap"><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                <li class="c-Txt_Cap"><span>※</span>景品の数には限りがございます。先着順で景品もしくは対象製品がなくなり次第終了とさせていただきます</li>
                <li class="c-Txt_Cap"><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                <li class="c-Txt_Cap"><span>※</span>記載の内容は2022年10月17日（月）時点の情報となります</li>
              </ul>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <!-- 1740 -->
    <h2 class="c-Heading_Lv2 u-Adjust_Mt-48" id="campaign-rule1740">合計1万名様！楽天モバイルショップでGalaxy Z Flip４のお試し操作＆アンケート回答でBTSポスターを進呈！</h2>
    <p class="c-Txt_Emp-02 c-Txt_Normal-l u-Adjust_Mt-16 u-Adjust_Align-center">本キャンペーンは終了しました。</p>

    <div class="c-Table_Wrap u-Adjust_Mt-24 u-Adjust_Mb-48">
      <div class="u-Adjust_Mt-24">
        <dl class="c-Dl_Origin <%= namespace %>-Dl_Rule">
          <div>
            <dt>キャンペーンコード</dt>
            <dd>
              <p>1740</p>
              <ul class="c-Txt_Cap u-Adjust_Mt-8">
                <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
              </ul>
            </dd>
          </div>
          <div>
            <dt>実施期間</dt>
            <dd>
              <p><span class="c-Txt_Emp-01">■ 実施期間</span><br>
                店舗（一部楽天モバイルショップ）2022年12月23日（金）開店～2023年1月6日（金）閉店
              </p>
              <p class="c-Txt_Cap u-Adjust_Mt-8" style="line-height:2.2;">
                ※在庫がなくなり次第終了
              </p>
            </dd>
          </div>
          <div>
            <dt>参加条件</dt>
            <dd>
              <p class="c-Txt_Emp-02">上記各項目の期間内に【1】、【2】の条件をすべて満たした楽天会員の方</p>
              <p class="c-Txt_Emp-02">お一人様一回限りの適用となります。</p>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">【1】Galaxy Z Flip4のお試し操作を店舗にて行っていただく</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8" style="line-height:2.2;">
                ※量販店内店舗・郵便局内店舗・蔦屋書店内店舗・キャラバンカー店舗は対象外です
              </p>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">【2】店頭アンケートにご参加</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8" style="line-height:2.2;">
                ※楽天会員のログインが必要です
              </p>
            </dd>
          </div>
          <div>
            <dt>参加報酬</dt>
            <dt class="<%= namespace %>-Dl_Title-sub">報酬内容</dt>
            <dd>
              <p class="c-Txt_Emp-01">BTSポスターを楽天モバイルショップにて進呈</p>
              <p class="c-Txt_Cap" style="line-height:2.2;">
                ※キャンペーンではなく、端末体験と店頭アンケートにご協力いただいた謝礼として、BTSポスターを進呈します。
              </p>
            </dd>
          </div>
            <div>
              <dt>個人情報の利用目的</dt>
              <dd>
                <p class="c-Txt_Cap">※参加情報は楽天グループ株式会社により取得され、楽天の個人情報保護方針に則って利用されます。<br>
                楽天グループ株式会社の個人情報保護方針に同意の上、ご参加ください。<br>
                <a href="https://privacy.rakuten.co.jp/" class="c-Link_Txt">楽天グループ株式会社の個人情報保護方針はこちら</a>
                </p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※アンケートで入力いただいた情報は、楽天モバイル株式会社によって取得され、楽天モバイル株式会社の個人情報保護方針に規定する目的で利用されます。<br>
                <a href="https://corp.mobile.rakuten.co.jp/guide/privacy/policy/" class="c-Link_Txt">楽天モバイル株式会社の個人情報保護方針はこちら</a></p>
              </dd>
            </div>
          <div>
            <dt>注意事項</dt>
            <dd>
              <ul>
                <li class="c-Txt_Cap"><span>※</span>おひとり様1回限りご参加いただけます。</li>
                <li class="c-Txt_Cap"><span>※</span>BTSポスターの在庫がなくなり次第終了です。</li>
                <li class="c-Txt_Cap"><span>※</span>本ポスターを転売等の営利目的で利用した場合、損害賠償を請求させていただく場合があります。</li>
                <li class="c-Txt_Cap"><span>※</span>メンテナンス等の理由により、ご利用・ご参加いただけない場合がございます。あらかじめご了承ください。</li>
                <li class="c-Txt_Cap"><span>※</span>ご登録されている楽天会員情報に虚偽や誤りがあった場合は、ポスター進呈の対象外となる場合があります。</li>
                <li class="c-Txt_Cap"><span>※</span>同一会員とおぼしき複数回のお申込みが確認された場合には、ポスター進呈の対象外とさせていただきます。</li>
                <li class="c-Txt_Cap"><span>※</span>以下の条件に当てはまる場合は、ポスター進呈の対象外となります。<br>
                ・店頭アンケートの利用目的・守秘義務に同意頂けない場合<br>
                ・当社または楽天グループ株式会社が定める規約などに違反した場合<br>
                ・そのほか、当社が会員として不適格であると判断した場合<br></li>
                <li class="c-Txt_Cap"><span>※</span>不正行為、その他運営上の趣旨に反していると弊社が判断した場合はポスター進呈の対象外とし、本アンケート参加資格の剥奪、アカウントの停止などの対応をさせていただきます。</li>
                <li class="c-Txt_Cap"><span>※</span>予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください。</li>
                <li class="c-Txt_Cap"><span>※</span>記載の内容は2022年12月23日（金）時点の情報となります</li>
              </ul>
            </dd>
          </div>
        </dl>
      </div>
    </div>

  </div>

  <!-- ReX UX Survey: Mounting point for embedded components -->
  <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>

  <footer class="g-Footer <%= namespace %>-Layout_Footer u-Adjust_Mt-64">
    <div class="g-Footer_Aside">
      <%- include('/include/footer/related/_related-news.ejs') %>
      <%- include('/include/footer/bnr/_bnr-news.ejs') %>
    </div>
    <div class="l-System_Container">
      <div class="c-Breadcrumbs_Foot">
        <ul>
          <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ if (typeof directories !== 'undefined') { _%>
          <%_ let dirs = []; _%>
          <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
          <%_ }) _%>
          <%_ } _%>
          <li aria-current="true"><%= pagetitle %></li>
        </ul>
      </div>
    </div>
    <%- include('/include/_footer') %>
  </footer>

  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>


  <!-- ReX UX Survey: Config -->
<script>
  window.rexSurveyConfig = {"surveyId":"36980","cId":{"name":"answers[36980_254387]","value":""},"embedded":true,"url":{"name":"answers[36980_254388]"},"triggerIdName":"trigger","expirationPeriod":30,"enableDisplaySuppressionPerPage":true,"enableFormAction":true,"permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問) ","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":true},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。"},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[36980_254389]","value":"704767"},{"name":"answers[36980_254389]","value":"704768"},{"name":"answers[36980_254389]","value":"704769"},{"name":"answers[36980_254389]","value":"704770"},{"name":"answers[36980_254389]","value":"704771"}],"txt0":"薦めたくない","txt1":"薦めたい","checked":4},"inquiry":{"checkList":{"available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","options":[{"name":"answers[36980_254390][]","value":"704772","label":"キャンペーン特典が魅力的でない"},{"name":"answers[36980_254390][]","value":"704773","label":"キャンペーンの達成条件が分かりにくい"},{"name":"answers[36980_254390][]","value":"704774","label":"キャンペーンのWebサイトが分かりにくい"},{"name":"answers[36980_254390][]","value":"704775","label":"キャンペーンの期間が短い"},{"name":"answers[36980_254390][]","value":"704776","label":"キャンペーン対象のサービス特性が分かりにくい"},{"name":"answers[36980_254390][]","value":"704777","label":"特になし"},{"name":"answers[36980_254390][]","value":"704778","label":""}]},"freeInput":{"available":true,"name":"answers[36980_254391]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のためご利用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[36980_254390][]","value":"704772","label":""},{"name":"answers[36980_254390][]","value":"704773","label":""},{"name":"answers[36980_254390][]","value":"704774","label":""},{"name":"answers[36980_254390][]","value":"704775","label":""},{"name":"answers[36980_254390][]","value":"704776","label":""},{"name":"answers[36980_254390][]","value":"704777","label":""},{"name":"answers[36980_254390][]","value":"704778","label":""}]}},"ua":{"name":"answers[36980_254392]"},"href":{"name":"answers[36980_254393]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
  </script>
  <!-- ReX UX Survey: Script -->
  <script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/1.5.0/js/main.js" defer></script>



  <script>
    (function($){
      const trigger = document.getElementById('js-trigger');
      const fixedBtn = document.getElementById('js-fixed-btn');
      function fixedBottomBtn() {
          let scrollY = window.pageYOffset;
          const triggerRect = trigger.getBoundingClientRect();
          const triggerY = scrollY + triggerRect.top;

          if ( scrollY + window.innerHeight > triggerY ) {
              fixedBtn.setAttribute('aria-expanded', 'true');
          } else {
              fixedBtn.setAttribute('aria-expanded', 'false');
          }
      }
      if( fixedBtn && trigger ) {
          window.addEventListener('scroll', fixedBottomBtn);
      }
    })();
  </script>
</body>
</html>
