<div class="l-System_Container u-Adjust_Pb-24">
  <p class="c-Txt_Normal-ll c-Txt_Emp-01">楽天モバイルのおトクなキャンペーン</p>
  <div class="c-Carousel js-Carousel-multi u-Adjust_Mt-24">
    <a href="<%= sitepath %>campaign/marathon/?l-id=campaign_start-point_campaign_marathon">
      <img src="<%= sitepath %>assets/img/bnr/marathon-2108-480-270.png" alt="お買い物マラソン">
    </a>
    <a href="<%= sitepath %>campaign/rakuten-hand/?l-id=campaign_start-point_campaign_rakuten-hand">
      <img src="<%= sitepath %>assets/img/bnr/hand-480x270.png" alt="Rakuten Hand CPN">
    </a>
    <a href="<%= sitepath %>campaign/rakuten-mini/?l-id=campaign_start-point_campaign_rakuten-mini">
      <img src="<%= sitepath %>assets/img/bnr/mini-480x270.png?210401" alt="Rakuten Mini CPN">
    </a>
    <a href="<%= sitepath %>campaign/rakuten-wifi-pocket/?l-id=campaign_start-point_campaign_rakuten-wifi-pocket">
      <img src="<%= sitepath %>assets/img/bnr/wifi-pocket-480x270.png?210401" alt="Rakuten UN-LIMIT V 初めてのお申し込みで だれでも実質0円 お試しキャンペーン Rakuten WiFi Pocket ※プランセット購入で本体価格1円。※アンケート回答で後日1ポイント還元。ポイント付与時期は翌々月末日。※2回線目として申込の場合、プラン料金は初月から2980円/月（税別）">
    </a>
    <a href="<%= sitepath %>hikari/campaign/one-year-free/?210708&l-id=campaign_start-point_campaign_hikari">
      <img src="<%= sitepath %>assets/img/bnr/bnr-hikari-campaign-328-185.png?220604" alt="楽天ひかりはSPU対象 おうちのネットがタダ！！スマホとひかり回線両方お申し込みでひかりの月額基本料1年無料 ※契約解除料/その他条件あり">
    </a>
  </div>
  <div class="c-Carousel_Nav u-Adjust_Mt-32"></div>
</div>
