<div class="c-Carousel js-Carousel-multi u-Adjust_Mt-24">
  <a class="c-Banner_Hover-act" href="<%= sitepath %>guide/iphone/?l-id=product_byod_guide_iphone">
    <img src="<%= sitepath %>assets/img/bnr/campaign-esim-ekyc-328-185.png?210818" alt="「eSIM対応 iPhone」でeKYCご利用の場合 WEBでお申し込み後 ※審査状況による 約5分で乗り替え">
  </a>
  <a class="c-Banner_Hover-act" href="<%= sitepath %>campaign/iphone/?l-id=product_byod_campaign_iphone">
    <img src="<%= sitepath %>assets/img/bnr/campaign-iphone-328-185.png?210729" alt="回線のみでOK！お持ちのiPhoneで超トクのりかえ Rakuten UN-LIMIT VIに他社から乗り換え(MNP)で最大20,000ポイント還元中！※初めてのお申し込みに限る等条件あり">
  </a>
  <a class="c-Banner_Hover-act" href="<%= sitepath %>campaign/start-point/?l-id=product_byod-campaign_start-point">
    <img src="<%= sitepath %>assets/img/bnr/campaign-start-point-328-185.png?210618-02" alt="お乗り換えが超おトク！対象スマホとプランセット申込みで最大25,000円相当分ポイント還元中 ※初めてのお申し込みに限る・対象機種等条件あり">
  </a>
  <a class="c-Banner_Hover-act" href="https://event.rakuten.co.jp/mobile/product/?scid=event_mobile_product_network_mobile_05">
    <img src="<%= sitepath %>assets/img/bnr/ichiba-product-328-185.png?211227" alt="Androidスマホ 楽天回線対応のSIMフリースマホを、楽天市場ショップでも販売中!">
  </a>
  <a class="c-Banner_Hover-act" href="<%= sitepath %>service/replacement-warranty-sim/?l-id=product_byod_service_replacement-warranty-sim">
    <img src="<%= sitepath %>assets/img/bnr/warranty-sim-328-185.png?210430" alt="持ち込みスマホあんしん保証">
  </a>
</div>
<div class="c-Carousel_Nav"></div>
