<div class="l-System_Container">
  <div class="c-Carousel js-Carousel-multi u-Adjust_Mt-24">
    <a class="c-Banner_Hover-act" href="<%= sitepath %>shop/consultation-seminar/?l-id=shop_consultation-seminar">
      <img src="<%= sitepath %>assets/img/bnr/consultation-seminar-328-185.png?210610" alt="総務省 令和4年度デジタル活用支援推進事業 スマートフォンを用いた行政手続き講習会">
    </a>
    <a class="c-Banner_Hover-act" href="<%= sitepath %>campaign/iphone-discount/?l-id=shop_campaign_iphone-discount">
      <img src="<%= sitepath %>assets/img/bnr/campaign-iphone-discount-328-185.png?210729" alt="Rakuten UN-LIMIT VI に他社から乗り換え（MNP）+ iPhone購入でiPhone 12 Pro、iPhone 12が 22,000円割引！※一括払い、または24回払いの場合※同時購入が必要※お一人様一回限り">
    </a>
    <a class="c-Banner_Hover-act" href="<%= sitepath %>campaign/start-point/?l-id=shop_bnr_campaign_start-point">
      <img src="<%= sitepath %>assets/img/bnr/campaign-start-point-328-185.png?210618-02" alt="お乗り換えが超おトク！対象スマホとプランセット申込みで最大25,000円相当分ポイント還元中 ※初めてのお申し込みに限る・対象機種等条件あり">
    </a>
    <a class="c-Banner_Hover-act" href="<%= sitepath %>fee/un-limit/detail/?l-id=shop_bnr_fee_un-limit_detail#campaign-rule02">
      <img src="<%= sitepath %>assets/img/bnr/fee-un-limit-480-270.png?220125" alt="Rakuten UN-LIMIT VI　プラン料金最大2,980円／月（税込3,278円）→3ヶ月無料※ ※通話料等は別費用 ※条件あり">
    </a>
  </div>
  <div class="c-Carousel_Nav u-Adjust_Mt-32"></div>
</div>
