<% const pagetitle = "はじめてのユーザーガイド 楽天モバイル活用術「もっと！楽天ポイントをもらう編」" -%>
<% const directories = [] -%>
<% const namespace = "tips" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  // directories: directories,
  description: 'Rakuten最強プランご契約者だけのおトクな情報。楽天モバイルをはじめとした楽天グループでおトクに貯まる・使える楽天ポイントをご紹介します。ご契約者限定のキャンペーン情報もお見逃しなく。',
  keywords: '',
  noindex: false,
  pathname: filepath,
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/tips/1st-step-point/tips.css?20240424">
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true">Rakuten最強プランユーザー向け：<%= pagetitle %></li>
      </ul>
    </div>

    <div class="<%= namespace %>-Hero">
      <div class="<%= namespace %>-Hero_Container">
        <h1>
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/1st-step-point/img-hero-sp.png">
            <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-hero.png" alt="はじめてのユーザーガイド楽天モバイル活用術もっと！楽天ポイントをもらう編" width="706" height="234">
          </picture>
        </h1>
      </div>
    </div>

    <div class="<%= namespace %>-Layout_Main">
      <nav class="<%= namespace %>-Layout_Nav">
        <ul class="l-System_Container <%= namespace %>-Layout_Nav-list">
          <li>
            <a href="<%= sitepath %>tips/1st-step-feature/" class="c-Banner_Hover-act">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/1st-step-point/img-nav-1-sp.png">
                <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-nav-1.png" width="504" alt="かんたん！便利な機能を使いこなす編はこちら">
              </picture>
            </a>
          </li>
          <li>
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/1st-step-point/img-nav-2-sp.png">
              <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-nav-2.png" width="504" alt="もっと！楽天ポイントをもらう編">
            </picture>
          </li>
        </ul>
      </nav>

      <div class="<%= namespace %>-Layout_Section-yellow">
        <div class="l-System_Container">
          <h2 class="<%= namespace %>-Gooddeal_Heading">
            <small>
              <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-title-1.png" alt="限定キャンペーン ポイント" width="253">
            </small>
            <span>Rakuten最強プラン<br class="<%= namespace %>-Util_Sp"> ご契約者だけの<br class="<%= namespace %>-Util_Sp"> <span class="c-Txt_Emp-02">おトクな情報！</span></span>
          </h2>
          <%# スクロール計測 _%>
          <div class="u-Rat_Appear-height" data-ratid="1st-step-point_scroll-01_lead" data-ratevent="appear">&nbsp;</div>

          <p class="u-Adjust_Mt-16 <%= namespace %>-Txt_Left-center">
            ご契約中もずっとおトクに。本編では、<strong class="<%= namespace %>-Txt_Marker">楽天モバイルをはじめとした楽天グループでおトクに貯まる・使える楽天ポイント</strong>をご紹介します。<br>
            ご契約者限定のキャンペーン情報もお見逃しなく。
          </p>

          <div class="<%= namespace %>-Layout_440">
            <h2 class="<%= namespace %>-Gooddeal_Heading-sub">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/1st-step-point/img-title-2-sp.png">
                <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-title-2.png" width="100%" alt="知らないと損？ザクザク貯まる・使える楽天ポイント">
              </picture>
            </h2>
          </div>
          <nav class="<%= namespace %>-Gooddeal_Nav">
            <ul>
              <li>
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/1st-step-point/img-nav-title-1-sp.png">
                  <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-nav-title-1.png" alt="はじめてのポイ活は楽天ポイントで" class="<%= namespace %>-Gooddeal_Nav-title">
                </picture>

                <div>
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/1st-step-point/img-nav-img-1-sp.png">
                    <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-nav-img-1.png" width="100%" alt="" class="<%= namespace %>-Gooddeal_Nav-img">
                  </picture>
                </div>

                <p class="<%= namespace %>-Txt_Left-center">
                  <a href="#sec01" class="js-scroll">どこでもらえる・使える？<br>
                    <span class="<%= namespace %>-Util_Pc-size-19">楽天ポイントを知ろう！</span>
                  </a>
                </p>
                <p class="<%= namespace %>-Gooddeal_Nav-arrow"><span class="c-Icon_Arrow-down-l"></span></p>
              </li>
              <li>
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/1st-step-point/img-nav-title-2-sp.png">
                  <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-nav-title-2.png" alt="SPUなら楽天ポイントが賢く貯まる" class="<%= namespace %>-Gooddeal_Nav-title">
                </picture>
                <div>
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/1st-step-point/img-nav-img-2-sp.png">
                    <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-nav-img-2.png" width="100%" alt="" class="<%= namespace %>-Gooddeal_Nav-img">
                  </picture>
                </div>
                <p class="<%= namespace %>-Txt_Left-center">
                  <a href="#sec02" class="js-scroll">楽天ポイントを<br>
                    <span>もっともらおう！</span>
                  </a>
                </p>
                <p class="<%= namespace %>-Gooddeal_Nav-arrow"><span class="c-Icon_Arrow-down-l"></span></p>
              </li>
              <li>
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/1st-step-point/img-nav-title-3-sp.png">
                  <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-nav-title-3.png" alt="ポイントはこんな使い方がおすすめ" class="<%= namespace %>-Gooddeal_Nav-title">
                </picture>
                <div>
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/1st-step-point/img-nav-img-3-sp.png">
                    <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-nav-img-3.png" width="100%" alt="" class="<%= namespace %>-Gooddeal_Nav-img">
                  </picture>
                </div>
                <p class="<%= namespace %>-Txt_Left-center">
                  <a href="#sec03" class="js-scroll">貯まった楽天ポイントを<br>
                    <span>使ってみよう！</span>
                  </a>
                </p>
                <p class="<%= namespace %>-Gooddeal_Nav-arrow"><span class="c-Icon_Arrow-down-l"></span></p>
              </li>
              <li>
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/1st-step-point/img-nav-title-4-sp.png">
                  <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-nav-title-4.png" alt="ポイントもおトクもいいとこ取り！" class="<%= namespace %>-Gooddeal_Nav-title">
                </picture>
                <div>
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/1st-step-point/img-nav-img-4-sp.png">
                    <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-nav-img-4.png" width="100%" alt="" class="<%= namespace %>-Gooddeal_Nav-img">
                  </picture>
                </div>
                <p class="<%= namespace %>-Txt_Left-center">
                  <a href="#sec04" class="js-scroll">楽天モバイルユーザー向け<br>
                    <span>キャンペーン</span>
                  </a>
                </p>
                <p class="<%= namespace %>-Gooddeal_Nav-arrow"><span class="c-Icon_Arrow-down-l"></span></p>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div id="sec01" class="<%= namespace %>-Layout_Section">
        <%# スクロール計測 _%>
        <div class="u-Rat_Appear-height" data-ratid="1st-step-point_scroll-02_step1-what" data-ratevent="appear">&nbsp;</div>

        <div class="l-System_Container">
          <h2 class="<%= namespace %>-Heading u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-myrakuten-baloon-1.png" alt="はじめてのポイ活は楽天ポイントで" width="292">
            <span>
              どこでもらえる・使える？<br class="<%= namespace %>-Util_Sp">楽天ポイントを知ろう！
            </span>
          </h2>

          <p class="<%= namespace %>-Util_Mt-16-24 <%= namespace %>-Txt_Left-center">
            楽天ポイントは楽天モバイルだけでなく、<span class="c-Txt_Emp-02">楽天グループの多彩なサービスの共通ポイントとしてザクザク貯めて、使うことができます。</span><br>
            楽天市場でのお買い物はもちろん、旅行や投資・保険、ご近所のお店でも！さまざまなシーンで使うことができるポイントサービスです。
          </p>

          <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <a href="https://point.rakuten.co.jp/?scid=wi_rmb_1st-step-point_point" class="c-Btn_Secondly" target="_blank"><span>現在のポイント数を確認する<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
          </div>

          <div class="<%= namespace %>-Container_Magenta u-Adjust_Mt-64">
            <div class="<%= namespace %>-Container_Magenta-Head">
              <p class="<%= namespace %>-Heading-s">
                <b><span class="<%= namespace %>-Util_Pc">＼</span> ポイントがもらえるチャンスを<br class="<%= namespace %>-Util_Sp"><span class="<%= namespace %>-Util_Sp">＼</span> 逃していませんか？／</b>
              </p>
              <p class="<%= namespace %>-Heading-l"><b>
                楽天モバイルご契約時の<br class="<%= namespace %>-Util_Sp"><span class="<%= namespace %>-Heading-ll <%= namespace %>-Container_Magenta-Yellow">キャンペーン条件を達成</span>しよう！
              </b></p>
            </div>
            <div class="<%= namespace %>-Container_Magenta-Body">
              <div class="l-Media_Grid-small">
                <div class="l-Media_Image">
                  <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-redcontainer-01.png" alt="" width="240px">
                </div>
                <div class="">
                  <p>
                    楽天モバイルには、キャンペーン達成条件に「Rakuten Linkで10秒以上の通話」が必要な場合があります。<br>
                    <b><a href="<%= sitepath %>campaign/?l-id=tips_1st-step-point_campaign" class="c-Link_Txt">キャンペーンページ</a></b><span class="c-Txt_Emp-01">に記載の期日まで</span>に、<span class="c-Txt_Emp-02">Rakuten Linkアプリから、Rakuten
                      Linkアプリを利用していない相手への10秒以上の通話</span>をして、キャンペーンポイントを忘れずに獲得しましょう！
                  </p>
                  <p class="c-Txt_Cap u-Adjust_Mt-16">
                    ※電話の発信時、（0570）などから始まる他社接続サービス、一部特番（188）への通話については特典対象外。
                  </p>
                  <p class="u-Adjust_Mt-16">
                    <a href="<%= sitepath %>tips/1st-step-feature/?l-id=tips_1st-step-point_1st-step-feature#anc01" class="c-Link_Txt-inline">達成状況の確認方法を見る<span class="c-Icon_Chevron-right"></span></a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div id="js-trigger-nav"></div>

          <div class="u-Adjust_Mt-64 c-Theme-Borderbox <%= namespace %>-Util_Radius <%= namespace %>-Util_Custom-Padding-02">
            <h3 class="c-Txt_Emp-02 <%= namespace %>-Heading-ll u-Adjust_Align-center">
              楽天モバイルご利用中は<br class="<%= namespace %>-Util_Sp">
              <span class="c-Txt_Emp-01 <%= namespace %>-Heading-ll-2">何もしなくても自動でポイントがどんどんもらえる！</span>
            </h3>
            <p class="<%= namespace %>-Txt_Left-center u-Adjust_Mt-16">
              楽天ポイントは、楽天モバイルの月々のお支払い100円（税別）につき1ポイントが貯まります。<br>
              自動的に毎月ポイントがもらえておトク！
            </p>
            <div class="u-Adjust_Align-center u-Adjust_Mt-40 <%= namespace %>-Layout_440">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/1st-step-point/img-point-1-sp.png">
                <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-point-1.png" width="864" alt="">
              </picture>
            </div>
          </div>

          <h3 class="<%= namespace %>-Heading-ll-2 u-Adjust_Mt-64 u-Adjust_Align-center">
            初心者におすすめ！<br class="<%= namespace %>-Util_Sp">楽天ポイントの貯め方・使い方
          </h3>
          <p class="<%= namespace %>-Txt_Left-center u-Adjust_Mt-16">
            楽天モバイル利用のほかにも、楽天サービスの利用でポイントを賢く貯めて、使ってみましょう。<br class="<%= namespace %>-Util_Pc">
            すでにもらったポイントを楽しんでいるみんなの使い方・貯め方もご紹介します！
          </p>
          <div class="l-Media_Grid-half u-Adjust_Mt-24">
            <div>
              <a href="https://event.rakuten.co.jp/group/sbc/?scid=wi_grp_gmx_sbcex_mno_pointguide" class="c-Card_Normal <%= namespace %>-Layout_480" target="_blank">

                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/1st-step-point/img-bnr-1-sp.png">
                  <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-bnr-1.png" alt="初回利用でザクザク！楽天の各サービスをまだ使っていないならまずはエントリー！あなたの初めてを応援スタート1000。楽天グループの対象サービスを初めて使うごとにもれなく1000ポイントずつGET！エントリーして対象サービスを見る">
                </picture>

                <p class="u-Adjust_Align-center u-Adjust_Mt-16">対象の楽天サービスを初めて使うごとに<br>
                  もれなく1000ポイントがもらえる！</p>
              </a>
            </div>
            <div>
              <a href="https://event.rakuten.co.jp/okaimonopanda/pointzukan/enjoypoints/?scid=wi_rmb_1st-step-point_pointzukan_enjoypoints" class="c-Card_Normal <%= namespace %>-Layout_480" target="_blank">

                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/1st-step-point/img-bnr-2-sp.png">
                  <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-bnr-2.png" alt="ポイント愛が止まらない。もらった楽天ポイントの楽しみ方。すでにもらった楽天ポイントを楽しんでいるみなさまの特におすすめの使い方・貯め方をご紹介します！みんなのおすすめの楽しみ方を見る">
                </picture>

                <p class="u-Adjust_Align-center u-Adjust_Mt-16">楽天ポイントをご利用中の方の<br>
                  おすすめの使い方・貯め方をご紹介！</p>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div id="sec02" class="<%= namespace %>-Layout_Section-gray">
        <%# スクロール計測 _%>
        <div class="u-Rat_Appear-height" data-ratid="1st-step-point_scroll-03_step2-get" data-ratevent="appear">&nbsp;</div>

        <div class="l-System_Container">
          <h2 class="<%= namespace %>-Heading u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-myrakuten-baloon-2.png" alt="SPUなら楽天ポイントが賢く貯まる" width="292">
            <span>
              楽天ポイントをもっと<br class="<%= namespace %>-Util_Sp">もらおう！
            </span>
          </h2>
          <h3 class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/1st-step-point/img-sec2-01-sp.png">
              <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-sec2-01.png" alt="SPU 楽天グループサービスを使えば使うほど、楽天市場のお買い物でもらえるポイント倍率アップ！" width="856" class="u-Adjust_Mt-16 <%= namespace %>-Layout_480">
            </picture>
          </h3>
          <p class="<%= namespace %>-Txt_Left-center u-Adjust_Mt-16">
            SPU（スーパーポイントアッププログラム）とは、<span class="c-Txt_Emp-01">楽天グループの対象サービスの条件を達成することで、楽天市場のお買い物でもらえるポイントが最大17倍<span class="c-Txt_Cap">※1</span>にポイントアップ</span>するプログラムです。楽天モバイルのご契約者はSPU対象となります<span class="c-Txt_Cap">※2</span>。
          </p>
          <div class="<%= namespace %>-Label">エントリー不要</div>
          <h4 class="<%= namespace %>-Heading u-Adjust_Align-center u-Adjust_Mt-64">
            <span class="<%= namespace %>-Heading-l">楽天市場のお買い物でもらえるポイントが</span>
            SPUで<br class="<%= namespace %>-Util_Sp">さらにポイントアップ！
          </h4>
          <div class="<%= namespace %>-Layout_Section-white">
            <div class="<%= namespace %>-Container_Red u-Adjust_Mt-24 <%= namespace %>-Layout_480">
              <div class="<%= namespace %>-Container_Red-Head">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/1st-step-point/img-sec2-02-sp-240401.png?240401">
                  <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-sec2-02-240401.png?240401" alt="＼対象は全部で15サービス／ ポイント最大倍17倍" width="441" height="70" loading="lazy">
                </picture>
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/1st-step-point/img-sec2-03-sp-231201.png">
                  <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-sec2-03-231201.png" alt="楽天市場 ポイント1倍。Rakuten最強プランご利用で ポイント最大＋3倍。楽天カード ポイント＋2倍。楽天トラベル ポイント＋1倍。" width="680" height="169" loading="lazy" class="u-Adjust_Mt-16">
                </picture>
              </div>
              <div class="<%= namespace %>-Container_Red-Body">
                <p class="<%= namespace %>-Txt_Left-center">
                  <a href="https://event.rakuten.co.jp/campaign/point-up/everyday/point/?scid=wi_rmb_1st-step-point_campaign_point-up_everyday_point" class="c-Link_Txt-inline">その他のSPU対象11サービスを含む詳細はこちら<span class="c-Icon_Chevron-right"></span></a>
                </p>
                <p class="c-Txt_Cap <%= namespace %>-Txt_Left-center u-Adjust_Mt-8">
                  ※上限あり、期間限定ポイントを含む
                </p>

                <div class="u-Adjust_Pt-24 u-Adjust_Align-center">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/1st-step-point/img-tab01-img-01-sp-231201.png">
                    <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-tab01-img-01-231201.png" alt="楽天モバイルご契約中はなにもしなくても楽天市場のお買い物でポイント5倍" width="662" height="420" loading="lazy">
                  </picture>
                </div>
              </div>
            </div>

            <div class="<%= namespace %>-Container_White">
              <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/1st-step-point/img-tab01-img-02-sp-231201.png">
                  <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-tab01-img-02-231201.png" alt="データ3GBまでプラン料金1,078円/月（税込）をご利用中の場合、楽天市場でひと月に税別23,000円のお買い物をすると、プラン料金の支払いに全額ポイント利用で無料に！" width="904">
                </picture>
              </div>

              <!-- アコーディオン -->
              <div class="<%= namespace %>-Container_Accordion c-Accordion u-Adjust_Mt-32" style="background-color:transparent;">
                <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false"
                  aria-controls="accordion-content-1" data-ratid="tips_1st-step-point_scroll_spu" data-ratevent="click" data-ratparam="all"><span
                    class="c-Icon_Chevron-right c-Accordion_Arrow"></span>使えば使うほどおトクな仕組み</button>
                <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1"
                  aria-hidden="true">
                  <div class="u-Adjust_Align-center">
                    <picture>
                      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/1st-step-point/img-acco-1-01-sp.png">
                      <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-acco-1-01.png" width="952"
                        alt="楽天市場で1万円分（税別）のお買い物をした場合...">
                    </picture>
                  </div>
                  <div class="u-Adjust_Align-center">
                    <picture>
                      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/1st-step-point/img-acco-1-02-sp-231201.png">
                      <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-acco-1-02-231201.png" width="590" height="48" alt="2つのSPUサービスと特典を組み合わせると">
                    </picture>
                  </div>

                  <div class="u-Adjust_Align-center u-Adjust_Mt-16 <%= namespace %>-Layout_Relative <%= namespace %>-Container_Red">
                    <picture>
                      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/1st-step-point/img-acco-1-03-sp-231201.png">
                      <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-acco-1-03-231201.png" width="904" alt="楽天モバイル契約者が２つのSPUサービスを利用すると、ご利用でポイント7倍「楽天市場 ポイント1倍。Rakuten最強プランご利用で ポイント＋3倍。楽天カードポイント＋1倍（楽天カード通常分） ポイント＋1倍（楽天カード特典分）」" height="281" loading="lazy">
                    </picture>
                  </div>

                  <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                    <picture>
                      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/1st-step-point/img-acco-1-04-sp-231201.png">
                      <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-acco-1-04-231201.png" width="904"alt="ポイント進呈710円相当" height="160" loading="lazy">
                    </picture>
                  </div>

                  <div class="c-Theme-Light">
                    <p class="c-Heading_Lv2 u-Adjust_Align-center">
                      <span class="<%= namespace %>-Txt_Red">月内はさかのぼって</span>適用
                    </p>
                    <p class="<%= namespace %>-Txt_Left-center u-Adjust_Mt-24">
                      SPUは月末までに条件を達成した場合、<br class="<%= namespace %>-Util_Pc">
                      1日から月末までのお買い物にはすべて<strong class="<%= namespace %>-Txt_Red">合計ポイント倍率が適用</strong>されます。
                    </p>
                    <div class="u-Adjust_Align-center u-Adjust_Mt-40 <%= namespace %>-Layout_480">
                      <picture>
                        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/1st-step-point/img-acco-1-07-sp-231201.png">
                        <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-acco-1-07-231201.png" width="840" alt="" height="773" loading="lazy">
                      </picture>
                    </div>
                    <p class="c-Txt_Cap u-Adjust_Mt-40">
                      ※ 各種毎月の獲得上限あり、期間限定ポイントでの付与。ポイント未利用時の倍率。<a href="https://event.rakuten.co.jp/campaign/point-up/everyday/point/?scid=wi_rmb_1st-step-point_acc_campaign_point-up_spu" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">SPUの詳細はこちら<span class="c-Icon_New-window-l"></span></a><br>
                      ※1 楽天カードでのお支払い等条件有り<br>
                      ※2 ご契約中は楽天市場のお買い物（初日～末日まで）がポイントアップ対象<br>
                      ※3 楽天カード通常分は、楽天市場でのカードご利用額100円につき1ポイント（通常ポイント）となります。楽天カード特典分は、楽天市場でのカードご利用額（消費税・送料・ラッピング料除く）100円につき1ポイント（期間限定ポイント）となります。 進呈するポイント（期間限定ポイントを含む）には上限や条件があります。<a href="https://www.rakuten-card.co.jp/campaign/rakuten-card/point-up/?scid=wi_rmb_1st-step-point_acc_rakuten-card_point-up#spu_detail">詳細はこちら</a>をご確認ください<br>
                      ※4 楽天カードでお支払い後、引落日当日に引落がされた楽天市場のお買い物分のみ対象となります。「楽天銀行+楽天カード」に関する進呈上限は1回の引落で5,000ポイントとなります。<a href="https://www.rakuten-card.co.jp/campaign/rakuten-card/point-up/?scid=wi_rmb_1st-step-point_acc2_rakuten-card_point-up" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">SPUの詳細<span class="c-Icon_New-window-l"></span></a>をご確認ください<br>
                      ※5 税込5,000円以上のご予約＆翌々月末までのご利用分がポイントUP対象。Racoupon(ラ・クーポン）ご利用の場合、クーポン割引後の税込金額合計が5,000円以上が条件となります
                    </p>
                  </div>
                </div>
              </div>

              <div class="u-Adjust_Align-center u-Adjust_Mt-40">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)"
                    srcset="<%= sitepath %>assets/img/tips/1st-step-point/img-tab01-img-03-sp-221101.png">
                  <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-tab01-img-03-221101.png"
                    alt="貯まったポイントは楽天市場のお買い物や、楽天モバイルのお支払いに利用できる" width="840">
                </picture>
              </div>

              <div class="u-Adjust_Align-center u-Adjust_Mt-40">
                <a href="<%= sitepath %>campaign/spu/?l-id=tips_1st-step-point_campaign_spu_plus3"
                  class="c-Btn_Primary-large"><span>SPUの詳細を見る</span></a>
              </div>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <a href="<%= sitepath %>guide/ichiba-lecture/?l-id=tips_1st-step-point_guide_ichiba-lecture"
                  class="c-Btn_Secondly-large"><span>楽天市場の超カンタン<br class="<%= namespace %>-Util_Sp">ポイントアップ術</span></a>
              </div>
              <!--  -->
            </div>
          </div>

          <div class="u-Adjust_Mt-40">
            <%- include('/inc/_poikaku-lp-bnr') %>
          </div>

        </div>
      </div>

      <div id="sec03" class="<%= namespace %>-Layout_Section">
        <%# スクロール計測 _%>
        <div class="u-Rat_Appear-height" data-ratid="1st-step-point_scroll-04_step3-use" data-ratevent="appear">&nbsp;</div>

        <div class="l-System_Container">
          <h2 class="<%= namespace %>-Heading u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-myrakuten-baloon-3.png" alt="ポイントはこんな使い方がおすすめ" width="292">
            <span>
              貯まった楽天ポイントを使ってみよう！
            </span>
          </h2>
          <p class="<%= namespace %>-Txt_Left-center u-Adjust_Mt-16">
            もらった楽天ポイントをさっそく使ってみましょう！<span class="c-Txt_Emp-01">ポイントは楽天モバイルの月々のお支払いにもご利用できます。</span><br>
            ポイントが利用できるサービスの一覧は、<a href="https://point.rakuten.co.jp/use/?scid=wi_rmb_1st-step-point_point_use" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">楽天ポイントが使えるサービス<span class="c-Icon_New-window-l"></span></a>をご確認ください。
          </p>
          <h3 class="<%= namespace %>-Heading-ll-2 u-Adjust_Mt-64 u-Adjust_Align-center"><span class="c-Txt_Emp-02">楽天モバイルの月々の<br class="<%= namespace %>-Util_Sp">お支払い</span>にポイントを使う</h3>
          <div class="c-Theme-Borderbox <%= namespace %>-Util_Radius u-Adjust_Mt-24 <%= namespace %>-Util_Custom-Padding-02">
            <p class="<%= namespace %>-Heading-l-2 <%= namespace %>-Txt_Left-center c-Txt_Emp-01">
              ご契約期間中、月々のお支払いに使える！
            </p>
            <div class="u-Adjust_Align-center <%= namespace %>-Util_Custom-Padding-03">
              <div class="<%= namespace %>-Layout_480">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/1st-step-point/img-sec3-01-sp.png">
                  <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-sec3-01.png" width="504" alt="">
                </picture>
              </div>
              <p class="u-Adjust_Mt-24 <%= namespace %>-Txt_Left-center">
                楽天ポイントは、楽天モバイルの月々のお支払いにご利用いただけます。プラン料金などの固定費のお支払いに役立ち、<br class="<%= namespace %>-Util_Pc">
                お財布の心づよい味方になります。月々のスマホ利用料金をゼロにすることも夢じゃないかも？
              </p>
              <div class="l-Media_Grid-half u-Adjust_Mt-32 u-Adjust_Align-center" style="max-width:668px;margin:0 auto;">
                <div>
                  <a href="<%= sitepath %>guide/point-payment/?l-id=tips_1st-step-point_guide_point-payment_fee&tab-list=tab-menu2" class="c-Btn_Regular"><span>月々のお支払いに<br class="<%= namespace %>-Util_Sp">ポイントを使う方法</span></a>
                </div>
                <div>
                  <a href="<%= sitepath %>guide/point-payment/?l-id=tips_1st-step-point_guide_point-payment_product&tab-list=tab-menu1" class="c-Btn_Regular"><span>製品のお支払いに<br class="<%= namespace %>-Util_Sp">ポイントを使う方法</span></a>
                </div>
              </div>
              <p class="c-Txt_Cap u-Adjust_Mt-32">
                ※ スマホ本体代へのポイント利用は一括払いのみ ※ 月々のお支払いに口座振替をご指定の場合は、楽天ポイントをご利用いただけません。利用上限あり ※ 一度にご利用できるポイント数は1～30,000（ダイヤモンド会員の方は～500,000）ポイントです
              </p>
            </div>
          </div>

          <h3 class="<%= namespace %>-Heading-ll-2 u-Adjust_Mt-64 u-Adjust_Align-center"><span class="c-Txt_Emp-02">楽天市場のお買い物</span>で<br class="<%= namespace %>-Util_Sp">ポイントを使う</h3>

          <div class="c-Accordion u-Adjust_Mt-24">
            <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2" data-effect="false"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天市場でのポイントの使い方</button>
            <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
              <ol class="c-Flow u-Adjust_Mt-32">
                <li>
                  <p class="c-Txt_Normal-m c-Txt_Emp-01">1. 「<a href="https://www.rakuten.ne.jp/?scid=wi_rmb_1st-step-point_use-acc_rakuten-ichiba" class="c-Link_Txt" target="_blank">楽天市場</a>」にアクセス</p>
                </li>
                <li>
                  <p class="c-Txt_Normal-m c-Txt_Emp-01">2. 欲しい商品を買い物かごに追加し、｢買い物かご｣から｢ご購入手続き｣に進む</p>
                  <div class="<%= namespace %>-Layout_Accoitem u-Adjust_Mt-16">
                    <div class="l-Media_Grid-half">
                      <div class="l-Media_Image">
                        <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-acco-2-01.png" width="300" alt="" class="c-Img_Capture">
                      </div>
                      <div class="l-Media_Image">
                        <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-acco-2-02.png" width="300" alt="" class="c-Img_Capture">
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <p class="c-Txt_Normal-m c-Txt_Emp-01">3. ログイン後の｢支払いと配送方法｣画面にて支払い方法と配送方法を選択</p>
                  <p class="u-Adjust_Mt-16">クレジットカード情報を登録されているお客様は省略される場合があります。4. へお進みください。</p>
                  <p class="u-Adjust_Mb-8 c-Txt_Cap">※ポイントを利用する場合は次ステップの｢注文確認｣にて変更できます。</p>
                </li>
                <li>
                  <p class="c-Txt_Normal-m c-Txt_Emp-01">4. ｢注文確認｣画面にて、ポイント利用の項目の｢変更｣をタップ</p>
                  <p class="u-Adjust_Mt-24">一部のポイントを使用する方は「一部のポイントを使う」にチェック、すべてのポイントを使用される方は「すべてのポイントを使う」にチェックを入れます。</p>
                  <div class="<%= namespace %>-Layout_Accoitem u-Adjust_Mt-16">
                    <div class="l-Media_Grid-half">
                      <div class="l-Media_Image">
                        <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-acco-2-03.png" width="300" alt="" class="c-Img_Capture">
                      </div>
                      <div class="l-Media_Image">
                        <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-acco-2-04.png" width="300" alt="" class="c-Img_Capture">
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <p class="c-Txt_Normal-m c-Txt_Emp-01">5. 内容をご確認のうえ、注文を確定するとお買い物完了</p>
                  <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                    <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-acco-2-05.png" width="300" alt="" class="c-Img_Capture">
                  </div>
                </li>
              </ol>
            </div>
          </div>
          <div class="u-Adjust_Align-center u-Adjust_Mt-40">
            <a href="https://www.rakuten.ne.jp/?scid=wi_rmb_1st-step-point_use_rakuten-ichiba" class="c-Btn_Primary-large" target="_blank"><span>楽天市場でお買い物をする<span class="c-Icon_New-window-f c-Btn_Icon-end"></span></span></a>
          </div>
        </div>
      </div>

      <div id="sec04" class="<%= namespace %>-Layout_Section-gray">
        <%# スクロール計測 _%>
        <div class="u-Rat_Appear-height" data-ratid="1st-step-point_scroll-05_step4-campaign" data-ratevent="appear">&nbsp;</div>

        <div class="l-System_Container">
          <h2 class="<%= namespace %>-Heading u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-myrakuten-baloon-4.png" alt="ポイントもおトクもいいとこ取り！" width="292">
            <span>
              楽天モバイルユーザー向け<br class="<%= namespace %>-Util_Sp">キャンペーン
            </span>
          </h2>
          <p class="<%= namespace %>-Txt_Left-center u-Adjust_Mt-16">
            <span class="c-Txt_Emp-01">初回無料で使える！サービス利用中はずっと楽天ポイントがもらえる！契約者向けキャンペーン</span>が目白押し。<br>
            楽天モバイルはご契約時だけはでなく、ご契約後もおトクなキャンペーンが豊富です。
          </p>

          <h3 class="<%= namespace %>-Heading-ll-2 u-Adjust_Align-center <%= namespace %>-Util_Custom-Padding-04">
            ご利用中もおトク！<br class="<%= namespace %>-Util_Sp">ご契約者限定キャンペーン
          </h3>
          <div class="u-Adjust_Align-center u-Adjust_Mt-24">
            <div class="<%= namespace %>-Layout_480">
            <a href="<%= sitepath %>campaign/member/?l-id=tips_1st-step-point_campaign_member" class="c-Banner_Hover-act">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/1st-step-point/img-bnr-1-328-185.png">
                <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-bnr-1-1032-160.png" width="1032" alt="">
              </picture>
            </a>
            </div>
          </div>

          <h3 class="<%= namespace %>-Heading-ll-2 u-Adjust_Align-center <%= namespace %>-Util_Custom-Padding-04">
            広告なしの動画や１億曲以上の音楽が視聴できる！
          </h3>
          <div class="u-Adjust_Align-center u-Adjust_Mt-24">
            <div class="<%= namespace %>-Layout_480">
              <a href="<%= sitepath %>campaign/youtubepremium/?l-id=tips_1st-step-feature_campaign_youtubepremium" class="c-Banner_Hover-act">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)"
                    srcset="<%= sitepath %>assets/img/tips/1st-step-point/ytp-bnr-230822-sp.png">
                  <img src="<%= sitepath %>assets/img/tips/1st-step-point/ytp-bnr-230822-pc.png" width="1032"
                    alt="広告なしの動画や１億曲以上の音楽が視聴できる！">
                </picture>
              </a>
            </div>
          </div>

          <h3 class="<%= namespace %>-Heading-ll-2 u-Adjust_Align-center <%= namespace %>-Util_Custom-Padding-04">
            サービスを使うと楽天ポイントがどんどん貯まる！
          </h3>
          <div class="u-Adjust_Align-center u-Adjust_Mt-24">
            <div class="<%= namespace %>-Layout_480">
              <a href="<%= sitepath %>tips/gservice/?l-id=tips_1st-step-point_tips_gservice" class="c-Banner_Hover-act">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/gservice/bnr-gservice-328-185.png">
                  <img src="<%= sitepath %>assets/img/tips/gservice/bnr-gservice-1032-160.png" width="1032" alt="70以上のサービスの中から楽天モバイルご契約者様向けに厳選！楽天のおトクなサービス">
                </picture>
              </a>
            </div>
          </div>


          <h3 class="<%= namespace %>-Heading-ll-2 u-Adjust_Align-center <%= namespace %>-Util_Custom-Padding-04">
            楽天モバイルのおトクな<br class="<%= namespace %>-Util_Sp">情報をメールで受け取る
          </h3>
          <div class="c-Theme-White u-Adjust_Mt-24 <%= namespace %>-Util_Custom-Padding-01">
            <div class="l-Media_Grid-large-reverse">
              <div class="_sample-bg">
                <h4 class="<%= namespace %>-Heading-l-2 u-Adjust_Align-center">楽天モバイルニュース</h4>
                <p class="u-Adjust_Mt-16 <%= namespace %>-Txt_Left-center">
                  楽天会員情報にご登録されているメールアドレス宛に、<br class="<%= namespace %>-Util_Pc">
                  楽天モバイルまたは楽天グループのおトクな情報をお送りいたします。
                </p>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center <%= namespace %>-Util_Pc">
                  <a href="https://emagazine.rakuten.co.jp/ne?n=353" class="c-Btn_Primary-large"><span>メールマガジンを登録する</span></a>
                </div>
              </div>
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-sec4-02.png" width="301" alt="">
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center <%= namespace %>-Util_Sp">
                  <a href="https://emagazine.rakuten.co.jp/ne?n=353" class="c-Btn_Primary-large"><span>メールマガジンを登録する</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <nav class="<%= namespace %>-Layout_Nav">
        <ul class="l-System_Container <%= namespace %>-Layout_Nav-list <%= namespace %>-Layout_Nav-list-bottom">
          <li>
            <a href="<%= sitepath %>tips/1st-step-feature/" class="c-Banner_Hover-act">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/1st-step-point/img-nav-1-bottom-sp.png">
                <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-nav-1-bottom.png" width="504" alt="かんたん！便利な機能を使いこなす編はこちら">
              </picture>
            </a>
          </li>
          <li>
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/tips/1st-step-point/img-nav-2-bottom-sp.png">
              <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-nav-2-bottom.png" width="504" alt="もっと！楽天ポイントをもらう編">
            </picture>
          </li>
        </ul>
      </nav>

      <div class="l-System_Container u-Adjust_Mt-80">
        <div class="<%= namespace %>-Bnr_4col">
          <div>
            <a href="https://www.rakuten.ne.jp/gold/rakutenmobile-store/?scid=wi_rmb_and-rakuten-mobile_gold_rakutenmobile-store" class="c-Banner_Hover-act">
              <img src="<%= sitepath %>assets/img/bnr/ichiba-apple-case-328-185.png" alt="ご要望にお応えして楽天モバイル公式 楽天市場店アクセサリ全品送料無料!" class="">
            </a>
          </div>
          <div>
            <a href="<%= sitepath %>support/?l-id=tips_and-rakuten-mobile_support" class="c-Banner_Hover-act">
              <img src="<%= sitepath %>assets/img/bnr/user-support-328-185.png" alt="お客様サポートお困りごとに合わせた最適な解決方法とお問い合わせ先をご案内" class="">
            </a>
          </div>
        </div>
      </div>

      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace u-Adjust_Mt-48"></div>

      <div class="l-System_Container u-Adjust_Mt-56" id="attention">
        <h2 class="hikari-campaign-sps-Heading_Lv2 u-Adjust_Align-center">注意事項</h2>

        <p class="c-Txt_Emp-01 u-Adjust_Mt-16">
          ■楽天市場のお買い物がおトクになるSPUプログラムについて
        </p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">
          ※ 楽天カードでのお支払い等条件有り ※楽天モバイルご契約中は楽天市場でのお買い物（初日～末日まで）がポイントアップ対象。毎月の獲得上限ポイント数は2,000ポイント、期間限定ポイントでの付与。獲得したポイントは、楽天PointClubの「ポイント実績」ページよりご確認いただけます。<br>
          SPUが適用される内容につきまして、予告なく変更になる可能性があります。倍率の反映タイミングは、開通してから2-3日かかります。<a href="<%= sitepath %>campaign/spu/?l-id=tips_1st-step-point_campaign_spu_notes1" class="c-Link_Txt">倍率の反映タイミング</a>をご確認ください<br>
          ※ 毎月の獲得上限は2,000ポイント。期間限定ポイントでの付与。<a href="<%= sitepath %>campaign/spu/?l-id=tips_1st-step-point_campaign_spu_program-notes3">詳細はこちら</a>
        </p>

        <p class="c-Txt_Emp-01 u-Adjust_Mt-24">
          ■「楽天市場のお買い物がSPUとあわせて最大17倍」特典について
        </p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">
          ※ 特典進呈には条件達成が必要。楽天カードの特典進呈には楽天カードをお申込みいただき楽天市場でのお買い物は楽天カードでのお支払いが必要です<br>
          ※ SPUで獲得いただける「楽天カードポイント+2倍」の内訳は、「楽天カード通常分1倍」と「楽天カード特典分1倍」となります<br>
          ※ポイント未利用時の倍率です<br>
          ※ ご契約中は楽天市場のお買い物（初日～末日まで）がポイントアップ対象。<br>
          ※ 毎月の獲得上限は2,000ポイント。期間限定ポイントでの付与。<a href="<%= sitepath %>campaign/spu/?l-id=tips_1st-step-point_campaign_spu_notes3" class="c-Link_Txt">詳細はこちら</a>
        </p>
      </div>
    </div>

    <div class="<%= namespace %>-Description_Follow" id="js-fixed-nav" aria-expanded="false">
      <div class="<%= namespace %>-Description_Follow-inner">
        <ul class="<%= namespace %>-Description_List">
          <li class="<%= namespace %>-Description_Follow-List">
            <a href="#sec01" class="c-Link_Txt-icon-front js-scroll">
              <span class="c-Icon_Arrow-down-l"></span>
              <div>
                <p>ポイントを<br class="<%= namespace %>-Util_Sp">知ろう</p>
              </div>
              <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-fixnav-icon-01.png" alt="">
            </a>
          </li>
          <li class="<%= namespace %>-Description_Follow-List">
            <a href="#sec02" class="c-Link_Txt-icon-front js-scroll">
              <span class="c-Icon_Arrow-down-l"></span>
              <div>
                <p>ポイントを<br class="<%= namespace %>-Util_Sp">もらう</p>
              </div>
              <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-fixnav-icon-02.png" alt="">
            </a>
          </li>
          <li class="<%= namespace %>-Description_Follow-List">
            <a href="#sec03" class="c-Link_Txt-icon-front js-scroll">
              <span class="c-Icon_Arrow-down-l"></span>
              <div>
                <p>ポイントを<br class="<%= namespace %>-Util_Sp">使う</p>
              </div>
              <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-fixnav-icon-03.png" alt="">
            </a>
          </li>
          <li class="<%= namespace %>-Description_Follow-List">
            <a href="#sec04" class="c-Link_Txt-icon-front js-scroll">
              <span class="c-Icon_Arrow-down-l"></span>
              <div>
                <p>キャン<br class="<%= namespace %>-Util_Sp">ペーン</p>
              </div>
              <img src="<%= sitepath %>assets/img/tips/1st-step-point/img-fixnav-icon-04.png" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <footer class="g-Footer <%= namespace %>-Layout_Footer u-Adjust_Mt-64">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true">Rakuten最強プランユーザー向け：<%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>

  <%- include('/include/_common-js') %>
  <%- include('/include/poikaku-lp-bnr/_js') %>
  <%- include('/include/_append-body') %>

  <script>
    (() => {
    const locationoParams = location.search.substring(1).split('&');
    if (locationoParams[0] !== '') {
        const locationoAccordionParam = locationoParams.filter(param => /accordion/.test(param))[0];
        const locationHash = location.hash;
        const targetElem = document.querySelector(locationHash);

        if (
            locationoAccordionParam === 'accordion=open'
            && targetElem
            && targetElem.classList.contains('js-Accordion_Trigger')
        ) {
            if (targetElem.getAttribute('aria-expanded') === 'false') {
                targetElem.setAttribute('aria-expanded', 'true');
            }
        }
    }
})();

    let beforePageYOffset;
    function fixedBtn(trigger, elm) {
      let scrollY = window.pageYOffset;

      if (!elm || !trigger) return;

      const triggerRect = trigger.getBoundingClientRect();
      const triggerY = scrollY + triggerRect.top;

      if (scrollY > triggerY) {
        elm.setAttribute('aria-expanded', 'true');
      } else {
        elm.setAttribute('aria-expanded', 'false');
      }
    }

    function fixedBtnInit() {
      const bottomTrigger = document.getElementById('js-trigger');
      const bottomBtn = document.getElementById('js-fixed-btn');
      const navTrigger = document.getElementById('js-trigger-nav');
      const navBtn = document.getElementById('js-fixed-nav');

      fixedBtn(bottomTrigger, bottomBtn);
      // fixedBtn(navTrigger, navBtn);

      if (beforePageYOffset > window.pageYOffset - 1) {
        fixedBtn(navTrigger, navBtn);
      } else {
        navBtn.setAttribute('aria-expanded', 'false');
      }
      beforePageYOffset = window.pageYOffset;
    }
    window.addEventListener('scroll', fixedBtnInit);


  </script>

  <!-- ReX UX Survey: Config -->
  <script>
    window.rexSurveyConfig = {
      "language": "ja",
      "surveyId": "40805",
      "cId": {
          "name": "answers[40805_277173]",
          "value": ""
      },
      "embedded": true,
      "url": {
          "name": "answers[40805_277174]"
      },
      "triggerIdName": "trigger",
      "reappearancePeriodWithRespond": "10",
      "reappearancePeriodWithoutRespond": "10",
      "enableDisplaySuppressionPerPage": true,
      "enableFormAction": true,
      "displayStartDate": "",
      "displayEndDate": "",
      "permission": {
          "inquiryTxt": "キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)",
          "yesBtnTxt": "協力する",
          "noBtnTxt": "今は協力しない",
          "available": true
      },
      "thanks": {
          "txt0": "ご協力ありがとうございました",
          "txt1": "いただいた情報は、サービス改善のために使用させていただきます。"
      },
      "nps": {
          "available": true,
          "question": {
              "label": "このページの総合的な「わかりやすさ」について、どのように感じましたか？"
          },
          "options": [
              {
                  "name": "answers[40805_277175]",
                  "value": "724797"
              },
              {
                  "name": "answers[40805_277175]",
                  "value": "724798"
              },
              {
                  "name": "answers[40805_277175]",
                  "value": "724799"
              },
              {
                  "name": "answers[40805_277175]",
                  "value": "724800"
              },
              {
                  "name": "answers[40805_277175]",
                  "value": "724801"
              }
          ],
          "txt0": "わかりづらかった",
          "txt1": "わかりやすかった",
          "checked": 4
      },
      "inquiry": {
          "available": true,
          "checkList": {
              "questionType": "multipleAnswer",
              "available": true,
              "question": "あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ",
              "shuffleChoices": false,
              "options": [
                  {
                      "name": "answers[40805_277176][]",
                      "value": "724802",
                      "label": "「ポイントのもらい方」がわからない"
                  },
                  {
                      "name": "answers[40805_277176][]",
                      "value": "724803",
                      "label": "「月々のお支払いにポイントを使う方法」がわからない"
                  },
                  {
                      "name": "answers[40805_277176][]",
                      "value": "724804",
                      "label": "楽天モバイル以外での「ポイントの使い方」がわからない"
                  },
                  {
                      "name": "answers[40805_277176][]",
                      "value": "724805",
                      "label": "「SPU」がわからない"
                  },
                  {
                      "name": "answers[40805_277176][]",
                      "value": "724806",
                      "label": "「楽天グループサービスのキャンペーン」がわからない"
                  },
                  {
                      "name": "",
                      "value": "",
                      "label": ""
                  },
                  {
                      "name": "",
                      "value": "",
                      "label": ""
                  }
              ]
          },
          "freeInput": {
              "available": true,
              "name": "answers[40805_277177]",
              "title": "ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"
          },
          "sendBtnTxt": "送信する",
          "footerNote": {
              "available": true,
              "text": "お客様よりご提供いただく情報はサービス向上のため使用させていただきます。",
              "link": "https://privacy.rakuten.co.jp/",
              "htmlText": ""
          }
      },
      "inquiryNegative": {
          "checkList": {
              "available": false,
              "options": [
                  {
                      "name": "answers[40805_277176][]",
                      "value": "724802",
                      "label": ""
                  },
                  {
                      "name": "answers[40805_277176][]",
                      "value": "724803",
                      "label": ""
                  },
                  {
                      "name": "answers[40805_277176][]",
                      "value": "724804",
                      "label": ""
                  },
                  {
                      "name": "answers[40805_277176][]",
                      "value": "724805",
                      "label": ""
                  },
                  {
                      "name": "answers[40805_277176][]",
                      "value": "724806",
                      "label": ""
                  },
                  {
                      "name": "",
                      "value": "",
                      "label": ""
                  },
                  {
                      "name": "",
                      "value": "",
                      "label": ""
                  }
              ]
          }
      },
      "ua": {
          "name": "answers[40805_277178]"
      },
      "href": {
          "name": "answers[40805_277179]"
      },
      "cookie": {
          "available": false
      },
      "assetPaths": {
          "closeButton": "",
          "checkIcon": ""
      }
    }
  </script>
  <!-- ReX UX Survey: Script -->
  <script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/1.5.0/js/main.js" defer></script>

</body>
</html>
