<% const pagetitle = "楽天モバイル エントリー＆初めての20GB超過利用で1,500ポイント" -%>
<% const directories = [{path:"https://event.rakuten.co.jp/group/sbc/", label:"スタート1000トップ"}] -%>
<% const namespace = "start-1000-data" -%>
<% const information = {
  campaignState:'start'
}; %>
<% const hiddenItem = "false" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '楽天モバイル エントリー＆初めての20GB超過利用で1,500ポイント',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%>
<% const finishSchedule = "202x年x月xx日" -%>
<%- include('/include/_common-css-v2') %>
<!-- ReX Campaign Button: stylesheet -->
<link rel="stylesheet" href="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/4.0.0/static/css/main.css?240327" />
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/_entry-button/rex-overwrite_v2.css?240327">
<!-- design-template -->
<link rel="stylesheet" href="https://r.r10s.jp/evt/event/group/sbc/assets/css/design-template/1.4.0/detail.css?240415">
<!-- /design-template -->
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/<%= namespace %>/<%= namespace %>.css?240501">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<script defer="defer" src="https://r.r10s.jp/com/js/c/common/entry_button/1.1/entry_button-1.1.0.min.js"></script>
<!-- design-template -->
<script type="text/javascript" src="https://r.r10s.jp/evt/event/group/sbc/assets/js/design-template/1.4.0/detail.js?240415"></script>
<!-- /design-template -->

<link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header',{applyHide:true}) %>
    <div id="start1000-ddt"
      data-servicepanel = "<%= sitepath %>assets/img/campaign/<%= namespace %>/img-heading-01.png?240501"
      data-servicepanel-SP = "<%= sitepath %>assets/img/campaign/<%= namespace %>/img-heading-01.png?240501"
      data-servicename = "楽天モバイル"
      data-achievement-condition = "初めて20GBを超えるデータ利用で"
      data-incentive-amount-max = ""
      data-incentive-amount = "1500"
      data-cta-text = ""
      data-cta-url = ""
      data-cta-ratid1 = ""
      data-cta-ratid2 = ""
      data-achievement-note = ""
      data-annotation = ""
      data-step-layout = "3"
      data-step1-img = "<%= sitepath %>assets/img/campaign/<%= namespace %>/img-data-step-01.png?240501"
      data-step2-img = "<%= sitepath %>assets/img/campaign/<%= namespace %>/img-data-step-02.png?240501"
      data-step3-img = ""
      data-step1-img-SP = "<%= sitepath %>assets/img/campaign/<%= namespace %>/img-data-step-01.png?240501"
      data-step2-img-SP = "<%= sitepath %>assets/img/campaign/<%= namespace %>/img-data-step-02.png?240501"
      data-step3-img-SP = ""
      data-section-title = ""
      data-appeal-mode = "3"
      data-appeal-img1 = "<%= sitepath %>assets/img/campaign/<%= namespace %>/img-features-01.png?240501"
      data-appeal-img2 = "<%= sitepath %>assets/img/campaign/<%= namespace %>/img-features-02.png?240501"
      data-appeal-img3 = "<%= sitepath %>assets/img/campaign/<%= namespace %>/img-features-03.png?240501"
      data-appeal-text1 = "通勤・通学中でも"
      data-appeal-text2 = "旅行先でも"
      data-appeal-text3 = "動画視聴やゲームも"
      data-appeal-detail1 = " "
      data-appeal-detail2 = " "
      data-appeal-detail3 = " "
      data-appeal-detail-note1 = ""
      data-appeal-detail-note2 = ""
      data-appeal-detail-note3 = ""
      data-stepdetail-title1 = "本ページから<br class='<%= namespace %>-Layout_Break-pc'>お申し込み"
      data-stepdetail-title2 = "「Rakuten<br class='<%= namespace %>-Layout_Break-pc'>最強プラン」<br>利用開始"
      data-stepdetail-title3 = "Rakuten Link<br>アプリで発信し<br>10秒以上通話する"
      data-stepdetail-img1 = ""
      data-stepdetail-img2 = ""
      data-stepdetail-img3 = ""
      data-stepdetail-img1-SP = ""
      data-stepdetail-img2-SP = ""
      data-stepdetail-img3-SP = ""
      data-stepdetail-description1 = ""
      data-stepdetail-description2 = ""
      data-stepdetail-description3 = ""
      data-stepdetail-description4 = ""
      data-additionalinfo-title1 = ""
      data-additionalinfo-title2 = ""
      data-additionalinfo-title3 = ""
      data-additionalinfo-img1 = ""
      data-additionalinfo-img2 = ""
      data-additionalinfo-img3 = ""
      data-additionalinfo-img1-SP = ""
      data-additionalinfo-img2-SP = ""
      data-additionalinfo-img3-SP = ""
      data-additionalinfo-annotation1 = ""
      data-additionalinfo-annotation2 = ""
      data-additionalinfo-annotation3 = "">
    </div>

    <div class="c-Breadcrumbs_Head">
      <ul>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="https://event.rakuten.co.jp/group/sbc/"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="sbcWrap">
      <main id="start1000_container">
        <div class="contents_block">
          <div id="header-code" class="header-block"></div>
          <div id="main-area">
          </div>
          <div id="sv-entry-btn">
            <!-- mounting point for button 1 --><div id="rex-ceb-01" class="campaign-Rexoverwrite hidden"></div>
            <div id="js-trigger"></div>
            <ul class="<%= namespace %>-Kv_Cap c-Txt_Cap u-Adjust_Align-center">
              <li>特典内容はキャンペーン開催月により増減する場合あり</li>
              <li>キャンペーン開始時点で「Rakuten最強プラン」ご利用中の方が対象</li>
              <li><span class="accordion_rule_opan c-Link_Txt-inline js-ac js-ac-rule01">キャンペーン詳細を確認する<span class="c-Icon_Arrow-down-l"></span></span></li>
            </ul>
          </div>
          <div class="area-container">
            <div class="contents-inner">
              <div class="step-block-area"></div>
              <div class="item-wrap-col-area">
                <h2 class="section-title hidden"><em>いつでも・どこでも<br class="is-SP">データを利用して楽しもう！</em></h2>
              </div>
            </div>
          </div>
          <div class="<%= namespace %>-Info l-System_Container">
            <h2 class="section-title"><em>楽天モバイルには移動時間や<br class="is-SP">
              待ち時間を楽しめる<br>
              「おトクな特典」がいっぱい！</em></h2>
              <div class="<%= namespace %>-Utility_Bnr l-Media_Grid-half">
                <div class="l-Media_Image">
                  <a href="<%= sitepath %>campaign/digital-contents/?l-id=campaign_<%= namespace %>_campaign_digital-contents">
                    <picture>
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-bnr-nba.png" alt="NBA、パ・リーグ、ミュージックが楽天モバイルなら追加料金0円で楽しめる！※ミュージックは30日ごとに5時間無料">
                    </picture>
                  </a>
                </div>
                <div class="l-Media_Image">
                  <a href="<%= sitepath %>campaign/youtubepremium/?l-id=campaign_<%= namespace %>_campaign_youtubepremium">
                    <picture>
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-bnr-youtube.png" alt="YouTube Premium 楽天モバイルご契約者様対象 初回3カ月無料 広告なしの動画や1億曲以上の音楽が視聴できる！！">
                    </picture>
                  </a>
                </div>
              </div>
          </div>
          <div class="area-container-end container-End_Mt u-Adjust_Mt-0 u-Adjust_Mt-pc-64">
            <div class="area-rule">
              <dl id="rule">
                <dt id="rule-ac" class="rule-toggle js-rule-toggle sv-ta-l is-open">キャンペーンルール詳細</dt>
                <dd id="rule-ac-content" class="rule-contents" style="display: block;">
                  <div class="container standardization-rule">
                    <h3 class="rule-ttl-main">楽天モバイル 初めての20GB超過利用で1,500ポイントプレゼント</h3>
                    <div class="rule-1723">
                      <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1723', level: '', year: '2024', class: '' }}) %>
                    </div>
                  </div>
                </dd>
              <% if (hiddenItem == 'true') { %>
                <dt class="rule-toggle js-rule-toggle sv-ta-l">キャンペーンルール詳細<br class="is-SP">（2024年x月分）</dt>
                <dd class="rule-contents">
                  <div class="container standardization-rule">
                    <h3 class="rule-ttl-main">楽天モバイル 初めての20GB超過利用で1,500ポイントプレゼント</h3>
                    <div class="rule-1723">
                      <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1723', level: '', year: '2024', class: '' }}) %>
                    </div>
                  </div>
                </dd>
              <% } %>
              </dl>
            </div>
            <div class="btn-home">
              <a href="https://event.rakuten.co.jp/group/sbc/">スタート1000トップへ</a>
            </div>
          </div>
        </div><!-- /contents-wrap -->
      </main>
    </div>

    <div class="u-Adjust_Mt-40">
      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
    </div>

  <% if (information.campaignState == 'finish') { %>
    <footer class="g-Footer <%= namespace %>-Layout_Footer cp-Fin">
  <% } else { %>
    <!-- else -->
    <div id="js-fixed-btn" class="<%= namespace %>-Layout_Bottom-fixed" aria-expanded="false" role="region">
      <div class="<%= namespace %>-Layout_Bottom-fixed-inner">
        <!-- mounting point for button 2 --><div id="rex-ceb-02" class="campaign-Rexoverwrite hidden"></div>
      </div>
    </div>
    <footer class="g-Footer <%= namespace %>-Layout_Footer">
  <% } %>
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="https://event.rakuten.co.jp/group/sbc/"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
  <!-- ReX UX Survey: Config -->
  <script>
    window.rexSurveyConfig = {"surveyId":"36980","cId":{"name":"answers[36980_254387]","value":""},"embedded":true,"url":{"name":"answers[36980_254388]"},"triggerIdName":"trigger","expirationPeriod":30,"enableDisplaySuppressionPerPage":true,"enableFormAction":true,"permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問) ","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":true},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。"},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[36980_254389]","value":"704767"},{"name":"answers[36980_254389]","value":"704768"},{"name":"answers[36980_254389]","value":"704769"},{"name":"answers[36980_254389]","value":"704770"},{"name":"answers[36980_254389]","value":"704771"}],"txt0":"薦めたくない","txt1":"薦めたい","checked":4},"inquiry":{"checkList":{"available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","options":[{"name":"answers[36980_254390][]","value":"704772","label":"キャンペーン特典が魅力的でない"},{"name":"answers[36980_254390][]","value":"704773","label":"キャンペーンの達成条件が分かりにくい"},{"name":"answers[36980_254390][]","value":"704774","label":"キャンペーンのWebサイトが分かりにくい"},{"name":"answers[36980_254390][]","value":"704775","label":"キャンペーンの期間が短い"},{"name":"answers[36980_254390][]","value":"704776","label":"キャンペーン対象のサービス特性が分かりにくい"},{"name":"answers[36980_254390][]","value":"704777","label":"特になし"},{"name":"answers[36980_254390][]","value":"704778","label":""}]},"freeInput":{"available":true,"name":"answers[36980_254391]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のためご利用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[36980_254390][]","value":"704772","label":""},{"name":"answers[36980_254390][]","value":"704773","label":""},{"name":"answers[36980_254390][]","value":"704774","label":""},{"name":"answers[36980_254390][]","value":"704775","label":""},{"name":"answers[36980_254390][]","value":"704776","label":""},{"name":"answers[36980_254390][]","value":"704777","label":""},{"name":"answers[36980_254390][]","value":"704778","label":""}]}},"ua":{"name":"answers[36980_254392]"},"href":{"name":"answers[36980_254393]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
  </script>
  <!-- ReX UX Survey: Script -->
  <script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/1.5.0/js/main.js" defer></script>

  <!-- rexicon -->
  <svg width="32" height="32" xmlns="http://www.w3.org/2000/svg" class="sbc-svg-embed">
    <defs>
      <symbol id="num-01" viewBox="0 0 82 120">
        <path d="M46.5 10L5.20001 44.7L18 60L41.8 40L26.9 110H55.6L76.8 10H46.5Z" fill="#BF0000"/>
      </symbol>
      <symbol id="num-02" viewBox="0 0 97 120">
        <path d="M77.3804 62.1C86.1896 56.1 91.2949 46.9 91.2949 37C91.2949 17.8 72.9758 8 55.5577 8C29.0302 8 14.3149 25.9 12.4129 42H38.9405C38.9405 41.5 39.0406 41 39.1407 40.5C40.8424 33.2 44.6464 28.3 51.6537 28.3C59.4618 28.3 63.4659 34.4 63.4659 39.2C63.4659 43.7 61.8643 47.1 59.2616 49.3L7.30758 87L5.00519 110H81.6849L87.3908 87H43.0447L77.3804 62.1Z" fill="#BF0000"/>
      </symbol>
      <symbol id="num-03" viewBox="0 0 97 120">
        <path d="M69.6 58.2C81.8 54.5 91.2 47 91.2 35.1C91.2 15.6 73.6 8 56.8 8C31.2 8 20.2 21.2 15.2 35.5C14.7 37 14.4 38.6 14.5 40H40.9V39.9C42.6 33.5 47.1 30 54.5 30C60.9 30 65.4 33.8 65.4 38.9C65.4 44 59.9 48 52.7 48H38.3L36.4 67.4H46.7C53.8 67.4 58.7 72 58.7 78.3C58.7 84.6 52.6 89.4 44.8 89.4C36.2 89.4 31.7 83.9 31.7 79.5C31.7 79.3 31.7 79.1 31.7 78.9L5 90C8.3 102.2 21.5 112 45.2 112C72.7 112 86.2 99.2 86.2 83.9C86.2 73.8 81.3 63.7 69.6 58.2Z" fill="#BF0000"/>
      </symbol>
      <symbol id="num-04" viewBox="0 0 105 120">
        <path d="M99.1049 72H85.3181L98.5055 10H59.2431L7.29299 72L4.99521 95H51.9501L48.7532 110H77.3258L80.5227 95H93.4103L99.1049 72ZM35.9655 72L63.8387 38.7L56.7455 72H35.9655Z" fill="#BF0000"/>
      </symbol>
      <symbol id="num-05" viewBox="0 0 98 120">
        <path d="M55.6143 43.6C50.604 43.6 45.9945 44.3 41.6857 45.5L44.3912 33H86.6782L92.4901 10H20.6424L7.61563 71H33.7694C36.0742 65.5 41.3851 62.6 47.5979 62.6C54.7125 62.6 59.6226 68.2 59.6226 75.9C59.6226 83.6 53.51 89.4 45.6939 89.4C39.3809 89.4 35.2725 85.8 33.569 81.7L5.0103 93.6C11.6239 105.8 26.755 112 41.3851 112C70.9458 112 89.3838 92.4 89.3838 74C89.3838 58.5 76.5574 43.6 55.6143 43.6Z" fill="#BF0000"/>
      </symbol>
      <symbol id="num-06" viewBox="0 0 98 120">
        <path d="M66.9 43.6C63 42.6 60.1 42.6 57.4 42.9L85.1 10H53.8L13.5 58.1C8 64.2 5 71.7 5 79.8C5 101.1 25.3 112 44.6 112C74.1 112 92.5 92.4 92.5 74C92.5 58.5 80 46.9 66.9 43.6ZM48.8 89.4C40.2 89.4 35.7 82.7 35.7 77.3C35.7 67.7 42.5 62.6 50.7 62.6C57.7999 62.6 62.7 68.2 62.7 75.9C62.7 83.6 56.6 89.4 48.8 89.4Z" fill="#BF0000"/>
      </symbol>
      <symbol id="num-07" viewBox="0 0 99 120">
        <path d="M14 10L11.7 33H58.9L5 110H34.3L88.2 33L94 10H14Z" fill="#BF0000"/>
      </symbol>
      <symbol id="num-08" viewBox="0 0 97 120">
        <path d="M70.4 58.2C82.6 54.5 92 47 92 35.1C92 15.6 74.4 8 57.6 8C32 8 16 21.1 16 35.5C16 44.1 21.2 51.6 29.8 56.2C11.9 60.8 5 72 5 83.9C5 98.9 18.5 112 46 112C73.5 112 87 99.2 87 83.9C87 73.8 82.1 63.7 70.4 58.2ZM45.7 88.3C39.6 88.3 36.5 83.5 36.5 79.7C36.5 72.9 41.3 69.3 47.1 69.3C52.1 69.3 55.6 73.3 55.6 78.7C55.5 84.2 51.2 88.3 45.7 88.3ZM53.1 48C48.9 48 46 44.6 46 40.1C46 35.6 49.6 32 54.3 32C59.4 32 62.1 36 62.1 39.2C62 44.9 58 48 53.1 48Z" fill="#BF0000"/>
      </symbol>
      <symbol id="num-09" viewBox="0 0 98 120">
        <path d="M30.6 76.4C34.5 77.4 37.4 77.4 40.1 77.1L12.4 110H43.7L84 61.9C89.5 55.8 92.5001 48.3 92.5001 40.2C92.5001 18.9 72.2 8 52.9 8C23.4 8 5 27.6 5 46C5 61.5 17.5 73.1 30.6 76.4ZM48.7 30.6C57.3 30.6 61.8 37.3 61.8 42.7C61.8 52.3 55 57.4 46.8 57.4C39.7 57.4 34.8 51.8 34.8 44.1C34.8 36.4 40.9 30.6 48.7 30.6Z" fill="#BF0000"/>
      </symbol>
      <symbol id="num-00" viewBox="0 0 102 120">
        <path d="M5 71.3C5 34.6 26.6 8.29999 56.8 8.29999C80.4 8.29999 96.2 24.4 96.2 48.4C96.2 85.1 74.3 111.7 44 111.7C20.7 111.7 5 95.5 5 71.3ZM45.2 89.3C56.4 89.3 66.5 70.2 66.5 49.1C66.5 36.9 62.8 30.6 55.7 30.6C44.5 30.6 34.6 49.4 34.6 70.6C34.7 82.9 38.3 89.3 45.2 89.3Z" fill="#BF0000"/>
      </symbol>
      <symbol id="num-point" viewBox="0 0 652 100">
        <path d="M525.635 26.2864L530.688 6.07562H469.188L460.384 93.9244H521.234L526.286 73.7136H484.067L486.268 59.2374H521.234L526.286 39.0266H489.275L491.196 26.2864H525.635Z"/>
        <path d="M539.492 26.2864H562.709L555.952 93.9244H576.596L586.764 26.2864H609.113L614.166 6.07562H541.506L539.492 26.2864Z"/>
        <path d="M650.682 6.07562H625.604L621.792 69.3428H638.655L650.682 6.07562Z"/>
        <path d="M616.801 93.9244H637.477L640.111 76.3484H618.568L616.801 93.9244Z"/>
        <path d="M425.976 26.2864L427.712 33.323L451.798 30.9051L446.838 6.07562H379.572L372.567 73.5276L396.869 93.9244H443.211L450.992 42.0955H416.739L414.693 62.3062H425.697L424.55 73.7136H405.611L395.691 65.4061L401.581 26.2864H425.976Z"/>
        <path d="M92.9014 47.0552L70.2108 49.3491L77.7123 79.2932L90.2356 89.8016L103.782 73.6206L97.0861 68.0409L92.9014 47.0552Z"/>
        <path d="M10.0124 70.5208L0 78.9523L13.5462 95.1023L29.2622 81.9281L37.4147 49.3491L14.7241 47.0552L10.0124 70.5208Z"/>
        <path d="M103.131 20.3968H96.7451C99.411 18.3509 100.899 15.3441 100.372 12.3373C99.5349 7.59455 94.0173 4.61873 88.0657 5.67267C82.114 6.7266 77.9603 11.4073 78.7972 16.15C79.0762 17.8239 79.9751 19.2809 81.2461 20.3968H81.1531H69.9007L71.8846 7.22257H46.8381L45.5052 20.3968H12.5852L10.5703 40.6076H43.4903L38.0347 95.0713H58.6794L66.8629 40.6076H98.047L103.131 20.3968ZM89.6156 17.421C87.4767 17.421 86.3607 15.7471 86.3607 14.4141C86.3607 12.0273 88.0347 10.7564 90.0805 10.7564C91.8474 10.7564 93.0563 12.1513 93.0563 14.0732C93.0873 15.964 91.5684 17.421 89.6156 17.421Z"/>
        <path d="M144.978 35.2139L108.4 52.2629L117.328 71.3887L142.715 59.5164L139.151 95.1023H159.795L167.483 43.8314L191.878 23.3726L178.332 7.22258L144.978 35.2139Z"/>
        <path d="M210.769 11.6331L200.664 29.1357L229.575 45.8282L239.681 28.3256L210.769 11.6331Z"/>
        <path d="M243.707 68.0099L204.185 71.4507L206.014 92.4675L256.448 88.0657H256.479L287.136 34.9349L272.722 17.7309L243.707 68.0099Z"/>
        <path d="M322.35 35.4929L326.751 6.07564H301.705L292.932 93.9244H313.577L319.312 55.7037H360.167L363.205 35.4929H322.35Z"/>
      </symbol>
      <symbol id="num-point-min" viewBox="0 0 188 100">
        <g clip-path="url(#clip0)">
        <path d="M47.9137 21.4548L36.2111 22.6219L40.08 38.0655L46.5228 43.4852L53.5252 35.1559L50.072 32.2622L47.9137 21.4548Z"/>
        <path d="M5.16387 33.5572L0 37.8897L6.98641 46.219L15.0919 39.4245L19.2966 22.6219L7.59392 21.4548L5.16387 33.5572Z"/>
        <path d="M53.1895 7.70581H49.8961C51.271 6.65066 52.0384 5.0999 51.7666 3.54914C51.3349 1.1031 48.4892 -0.431675 45.4197 0.11189C42.3501 0.655455 40.2078 3.06952 40.6395 5.51557C40.7834 6.37888 41.247 7.13028 41.9025 7.70581H41.8545H36.0512L37.0744 0.91125H24.1567L23.4692 7.70581H6.50682L5.46765 18.1295H22.4461L19.6323 46.219H30.2798L34.5004 18.1295H50.5835L53.1895 7.70581ZM46.219 6.17104C45.1159 6.17104 44.5404 5.30773 44.5404 4.62028C44.5404 3.38927 45.4037 2.73379 46.4588 2.73379C47.3701 2.73379 47.9936 3.45322 47.9936 4.44442C48.0096 5.41964 47.2262 6.17104 46.219 6.17104Z"/>
        <path d="M74.7722 15.3317L55.9073 24.1247L60.4956 33.9888L73.6051 27.8817L71.7666 46.219H82.4141L86.3789 19.7922L98.9608 9.24059L91.9744 0.911255L74.7722 15.3317Z"/>
        <path d="M108.698 3.16809L103.486 12.195L118.397 20.8041L123.609 11.7772L108.698 3.16809Z"/>
        <path d="M125.691 32.2462L105.308 34.0367L106.251 44.8601L132.262 42.5899V42.6059L148.09 15.1878L140.655 6.3309L125.691 32.2462Z"/>
        <path d="M166.251 15.4916L168.521 0.303741H155.604L151.079 45.6275H161.727L164.684 25.9153H185.755L187.322 15.4916H166.251Z"/>
        <path d="M84.4125 65.1159L87.0184 54.6923H55.2998L50.7754 100H82.1583L84.7642 89.5764H62.9736L64.1087 82.1103H82.1583L84.7642 71.6867H65.6595L66.6507 65.1159H84.4125Z"/>
        <path d="M91.5587 65.1159H103.533L100.048 100H110.695L115.939 65.1159H127.466L130.072 54.6923H92.5979L91.5587 65.1159Z"/>
        <path d="M148.905 54.6923H135.971L134.005 87.3221H142.702L148.905 54.6923Z"/>
        <path d="M131.431 100H142.094L143.453 90.9353H132.342L131.431 100Z"/>
        <path d="M33.0136 65.1159L33.9249 68.745L46.331 67.498L43.773 54.6923H9.08076L5.46765 89.4804L18.0016 100H41.9025L45.9153 73.2694H28.2494L27.2103 83.6931H32.8697L32.2782 89.5764H22.51L17.3941 85.2918L20.4317 65.1159H33.0136Z"/>
        </g>
        <defs>
        <clipPath id="clip0">
        <rect width="187.322" height="100" fill="white"/>
        </clipPath>
        </defs>
      </symbol>
      <symbol id="num-maximum" viewBox="0 0 37 17">
        <path d="M6.66221 14.9307C4.85609 15.2556 4.85609 15.2556 2.7603 15.5635C1.23532 15.7944 0.570804 15.8884 0.0766751 15.9825L0 14.0585C0.136311 14.0585 0.212986 14.0585 0.3067 14.0585C0.613401 14.0585 1.12457 14.0414 1.91688 13.9815L2.93921 8.17515C2.12134 8.17515 1.66129 8.19226 1.07345 8.26922L1.38867 6.47344C1.87428 6.55041 2.34285 6.56751 3.29703 6.56751H16.4851C17.4393 6.56751 17.9164 6.55041 18.4446 6.47344L18.1294 8.26922C17.5501 8.19226 17.0985 8.17515 16.187 8.17515H9.69514L8.4939 15.0333C9.52475 14.6912 10.4449 14.2295 11.2627 13.6993C10.743 12.9553 10.4619 12.4166 9.9848 11.3135L11.6887 10.6294H11.1946C10.6067 10.6294 10.2574 10.6465 9.78885 10.7063L10.0956 8.95332C10.5045 9.01318 10.8793 9.03028 11.6631 9.03028H14.8068C15.4373 9.03028 15.8973 9.01318 16.2125 8.95332L16.9963 10.0222C16.8344 10.1933 16.7833 10.2702 16.5959 10.5524C15.7695 11.7924 14.8324 12.904 13.9038 13.7421C14.6449 14.2979 15.5991 14.7169 16.9793 15.0761C16.5022 15.6319 16.0933 16.2048 15.7014 16.906C13.8526 16.145 13.3926 15.8542 12.3873 14.9563C11.3053 15.7174 10.4789 16.1963 9.15841 16.7692C9.03914 16.1621 8.78356 15.6404 8.45982 15.2043C8.32351 15.9654 8.24683 16.5041 8.23831 17.0001H6.18512C6.33848 16.5383 6.46627 16.0424 6.62814 15.1103L6.66221 14.9307ZM16.8004 4.33562C16.6726 5.04538 16.6215 5.48149 16.5959 5.94326C16.1614 5.90906 15.5054 5.8834 14.875 5.8834H5.40985C4.57495 5.8834 4.0723 5.90051 3.47594 5.94326C3.61225 5.48149 3.71448 5.02827 3.83376 4.33562L4.27677 1.81298C4.40456 1.10322 4.45568 0.667106 4.48975 0.188232C5.11167 0.248092 5.58024 0.265194 6.45775 0.265194H15.5906C16.4681 0.265194 16.9622 0.248092 17.6012 0.188232C17.4649 0.650003 17.3712 1.08612 17.2434 1.81298L16.8004 4.33562ZM7.06263 12.6389H3.97859L3.77412 13.8019C4.70274 13.7078 5.13723 13.648 6.92632 13.4L7.06263 12.6389ZM7.45452 10.3899H4.37048L4.21713 11.2707H7.30117L7.45452 10.3899ZM7.84642 8.17515H4.76238L4.61755 9.01318H7.70159L7.84642 8.17515ZM5.73359 4.50664H14.8239L14.9602 3.74558H5.86139L5.73359 4.50664ZM6.09141 2.46288H15.1902L15.3265 1.70181H6.22772L6.09141 2.46288ZM11.7739 10.6208C12.0976 11.5786 12.3191 11.9805 12.7451 12.5705C13.4352 11.9805 13.8441 11.5187 14.4746 10.6208H11.7739Z"/>
        <path d="M29.4518 6.22535C29.6307 7.90996 30.2867 9.72284 31.2749 11.1167C32.3654 12.6987 33.737 13.7676 35.8073 14.6911C35.049 15.4351 34.7083 15.837 34.0608 16.8461C32.2461 15.8114 31.1216 14.8451 30.0566 13.4256C29.0684 12.1087 28.4209 10.6207 28.0375 8.88481C27.1259 10.8174 25.8736 12.4336 24.1101 13.9044C22.6192 15.1444 21.1282 16.0423 19.1432 16.8461C18.9473 16.1363 18.6491 15.5463 18.172 14.8793C19.5947 14.3491 20.4126 13.9472 21.4775 13.2716C24.2804 11.5186 25.9077 9.41499 26.9044 6.22535H22.5254C21.3498 6.22535 20.7875 6.24246 20.1485 6.33652L20.5574 3.98491C21.1368 4.06187 21.7928 4.09608 22.9003 4.09608H27.4838C27.6882 3.16398 27.7393 2.85614 27.9183 1.86419C28.0546 1.08602 28.1142 0.513079 28.1057 0H30.5763C30.3633 0.667002 30.2952 0.932093 30.0566 2.21479C29.9288 2.97586 29.8266 3.42052 29.6903 4.10463H34.6401C35.688 4.10463 36.361 4.07042 37 3.99346L36.5911 6.34507C35.8839 6.26811 35.2961 6.2339 34.2908 6.2339H29.4518V6.22535Z"/>
      </symbol>
      <symbol id="num-box-tx" viewBox="0 0 105 99">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M97.1415 59.0652C97.7051 56.0916 98 53.0229 98 49.8854C98 22.8234 76.062 0.885376 49 0.885376C21.938 0.885376 0 22.8234 0 49.8854C0 76.9473 21.938 98.8854 49 98.8854C68.9455 98.8854 86.1077 86.9683 93.7546 69.8659L104.367 62.4347L97.1415 59.0652Z" fill="#BF0000"/>
        <path d="M16.2634 45.5114L23.39 43.6018L24.4372 47.5099C25.2116 50.4 25.9841 51.7066 27.4503 52.5809C29.0919 53.5842 31.812 53.489 36.3113 52.2834C41.2703 50.9546 43.697 49.1076 44.4621 46.0514C44.8654 44.5354 44.7721 43.3988 44.0769 40.8043C43.7601 39.622 43.4984 38.777 42.8831 37.0059L39.8617 37.8155L38.9729 34.4985L27.7083 37.5168L26.7315 33.8714L37.9961 30.8531L36.7201 26.0911L25.4555 29.1094L24.2323 24.5444L18.6821 26.0316L19.9053 30.5966L12.9429 32.4622L14.2189 37.2242L21.1813 35.3586L22.1581 39.004L15.0315 40.9136L16.2634 45.5114ZM37.479 39.8267C37.8767 40.9169 38.1208 41.6963 38.2352 42.1232C39.0008 44.9804 37.9183 46.3265 34.1086 47.3473C32.5323 47.7696 31.5511 47.7862 30.9681 47.4496C30.3851 47.113 30.1546 46.6468 29.653 44.7748L28.9402 42.1146L37.479 39.8267Z" fill="white"/>
        <path d="M51.716 31.612C50.6629 33.7245 50.6477 33.799 48.4165 37.952L50.4405 45.5055C50.7354 44.8985 50.8949 44.5742 50.943 44.4909L51.8694 42.6939C52.4746 41.4053 52.8985 40.623 53.74 39.1655L55.9135 47.2774L61.1353 45.8782L57.6242 32.7744C58.6228 30.8525 59.0731 30.1686 61.0587 27.595C62.6332 25.5892 63.3727 24.9334 64.2594 24.6958C64.7849 24.555 65.3567 24.7186 65.6505 25.0271C65.9115 25.3443 66.0412 25.6968 66.3404 26.8134L66.4747 27.4462L68.6496 36.6137L68.7903 37.1391C69.3799 39.3395 69.9811 40.2696 71.2216 40.958C72.5782 41.6857 74.2185 41.6334 77.3384 40.7974C77.7325 40.6918 79.0374 40.3069 80.178 39.9661L78.7261 34.5473C77.7825 34.8353 77.2898 34.9673 76.9614 35.0553C76.0419 35.3017 75.4484 35.3199 74.9575 35.0643C74.5082 34.8327 74.0407 34.0075 73.86 33.0704L73.7873 32.6675L72.1645 25.4288C71.8717 24.2049 71.6582 23.2765 71.5966 23.0466C71.1566 21.4046 70.292 20.0171 69.2222 19.1773C67.8017 18.0796 66.2968 17.8492 64.3263 18.3772C62.0931 18.9756 60.3338 20.2918 58.3875 22.7493C57.9348 23.293 57.4821 23.8367 57.071 24.4044C56.7714 24.7311 56.3515 25.266 55.7938 25.9434L53.3299 16.7478L48.1081 18.147L49.4809 23.2702L45.3428 24.379L46.7068 29.4694L50.8448 28.3607L51.716 31.612Z" fill="white"/>
        <path d="M20.8425 65.2281L22.2241 70.3842L26.5592 69.2226C27.0748 77.3211 27.1007 78.8629 26.77 86.1674L32.2545 84.6978C32.5092 79.7369 32.3681 75.2692 31.8138 67.8146L37.2326 66.3626L35.8511 61.2065L31.4503 62.3857C31.2889 61.1266 31.2778 60.9536 30.8998 58.0981L25.3825 59.5765C25.6758 61.3282 25.7797 62.11 25.9329 63.8641L20.8425 65.2281ZM42.3266 71.58C41.4944 71.627 41.0915 71.6998 40.566 71.8406C36.001 73.0637 33.5658 76.849 34.6657 80.9542C35.1145 82.6291 35.9703 83.9838 37.1058 84.8059C39.1269 86.3059 41.5913 86.7016 44.3828 85.9536C47.2072 85.1968 49.0779 83.6396 49.833 81.4661C50.298 80.1799 50.2815 79.1987 49.872 77.4077C51.7669 77.7799 52.6038 78.0133 55.3275 79.1138L53.6291 72.7754C52.0538 72.2824 51.8632 72.2278 48.1678 71.7044L46.0998 63.9867L50.4021 62.8339L49.0029 57.6121L39.2818 60.2169L42.3266 71.58ZM41.5488 76.8219C42.961 76.4435 43.9756 76.9461 44.2924 78.1283C44.6532 79.4749 43.9865 80.5335 42.6071 80.9031C41.1949 81.2815 39.9809 80.6916 39.6553 79.4765C39.3385 78.2942 40.1037 77.2091 41.5488 76.8219Z" fill="white"/>
        <path d="M66.914 48.6593L60.4107 62.616C60.0525 63.3808 59.988 64.4541 60.2608 65.4722C60.5776 66.6545 61.0011 67.3154 61.8691 67.9276L63.6885 69.2L74.3289 77.12L82.1451 75.0256L68.8309 65.5342C67.3951 64.5109 67.1605 64.2922 66.9757 63.6025C66.7909 62.9128 66.9234 61.9622 67.3298 61.1141L73.9421 46.7761L66.914 48.6593Z" fill="white"/>
      </symbol>
      <symbol id="boxPC-point" viewBox="0 0 188 100">
        <path d="M47.9137 21.4548L36.2111 22.6219L40.08 38.0655L46.5228 43.4852L53.5252 35.1559L50.072 32.2622L47.9137 21.4548Z" fill="#BF0000"/>
        <path d="M5.16387 33.5572L0 37.8897L6.98641 46.219L15.0919 39.4245L19.2966 22.6219L7.59392 21.4548L5.16387 33.5572Z" fill="#BF0000"/>
        <path d="M53.1895 7.70581H49.8961C51.271 6.65066 52.0384 5.0999 51.7666 3.54914C51.3349 1.1031 48.4892 -0.431675 45.4197 0.11189C42.3501 0.655455 40.2078 3.06952 40.6395 5.51557C40.7834 6.37888 41.247 7.13028 41.9025 7.70581H41.8545H36.0512L37.0744 0.91125H24.1567L23.4692 7.70581H6.50682L5.46765 18.1295H22.4461L19.6323 46.219H30.2798L34.5004 18.1295H50.5835L53.1895 7.70581ZM46.219 6.17104C45.1159 6.17104 44.5404 5.30773 44.5404 4.62028C44.5404 3.38927 45.4037 2.73379 46.4588 2.73379C47.3701 2.73379 47.9936 3.45322 47.9936 4.44442C48.0096 5.41964 47.2262 6.17104 46.219 6.17104Z" fill="#BF0000"/>
        <path d="M74.7722 15.3317L55.9073 24.1247L60.4956 33.9888L73.6051 27.8817L71.7666 46.219H82.4141L86.3789 19.7922L98.9608 9.24059L91.9744 0.911255L74.7722 15.3317Z" fill="#BF0000"/>
        <path d="M108.698 3.16806L103.486 12.1949L118.397 20.8041L123.609 11.7772L108.698 3.16806Z" fill="#BF0000"/>
        <path d="M125.691 32.2462L105.308 34.0368L106.251 44.8601L132.262 42.5899V42.6059L148.09 15.1878L140.655 6.33093L125.691 32.2462Z" fill="#BF0000"/>
        <path d="M166.251 15.4916L168.521 0.303711H155.604L151.079 45.6275H161.727L164.684 25.9152H185.755L187.322 15.4916H166.251Z" fill="#BF0000"/>
        <path d="M84.4125 65.1159L87.0184 54.6923H55.2998L50.7754 100H82.1583L84.7642 89.5764H62.9736L64.1087 82.1103H82.1583L84.7642 71.6867H65.6595L66.6507 65.1159H84.4125Z" fill="#BF0000"/>
        <path d="M91.5587 65.1159H103.533L100.048 100H110.695L115.939 65.1159H127.466L130.072 54.6923H92.5979L91.5587 65.1159Z" fill="#BF0000"/>
        <path d="M148.905 54.6923H135.971L134.005 87.3221H142.702L148.905 54.6923Z" fill="#BF0000"/>
        <path d="M131.431 100H142.094L143.453 90.9353H132.342L131.431 100Z" fill="#BF0000"/>
        <path d="M33.0136 65.1159L33.9249 68.745L46.331 67.498L43.773 54.6923H9.08076L5.46765 89.4804L18.0016 100H41.9025L45.9153 73.2694H28.2494L27.2103 83.6931H32.8697L32.2782 89.5764H22.51L17.3941 85.2918L20.4317 65.1159H33.0136Z" fill="#BF0000"/>
      </symbol>
      <symbol id="boxSP-point" viewBox="0 0 437 61">
        <path d="M63.0551 27.8907L47.8429 29.4286L52.8721 49.5037L61.2679 56.5486L70.3494 45.7006L65.8606 41.9599L63.0551 27.8907Z" fill="#BF0000"/>
        <path d="M7.48495 43.6224L0.772491 49.2751L9.85406 60.1023L20.3904 51.2701L25.8559 29.4286L10.6438 27.8907L7.48495 43.6224Z" fill="#BF0000"/>
        <path d="M69.913 10.0185H65.632C67.4192 8.64693 68.4167 6.63111 68.0634 4.61529C67.5023 1.4357 63.8032 -0.559341 59.8131 0.147235C55.823 0.853811 53.0383 3.99184 53.5994 7.17143C53.7864 8.29364 54.3891 9.27038 55.2412 10.0185H55.1788H47.6351L48.9651 1.18632H32.1735L31.2799 10.0185H9.20982L7.85901 23.5681H29.9291L26.2715 60.0815H40.1121L45.5985 23.5681H66.5048L69.913 10.0185ZM60.8522 8.02348C59.4183 8.02348 58.6701 6.90127 58.6701 6.00766C58.6701 4.40747 59.7923 3.55542 61.1639 3.55542C62.3485 3.55542 63.159 4.4906 63.159 5.77906C63.1797 7.04674 62.1614 8.02348 60.8522 8.02348Z" fill="#BF0000"/>
        <path d="M97.9682 19.9521L73.4459 31.3821L79.431 44.2043L96.4512 36.245L94.0613 60.1023H107.902L113.056 25.7294L129.411 12.0136L120.329 1.18632L97.9682 19.9521Z" fill="#BF0000"/>
        <path d="M142.076 4.14319L135.301 15.8772L154.683 27.0681L161.458 15.3341L142.076 4.14319Z" fill="#BF0000"/>
        <path d="M164.158 41.9391L137.661 44.2459L138.887 58.3358L172.699 55.3849H172.72L193.273 19.7651L183.609 8.23129L164.158 41.9391Z" fill="#BF0000"/>
        <path d="M216.881 20.1392L219.832 0.417389H203.04L197.159 59.3126H211L214.844 33.6888H242.234L244.271 20.1392H216.881Z" fill="#BF0000"/>
        <path d="M353.167 13.967L356.554 0.417389H315.323L309.422 59.3126H350.216L353.603 45.7629H325.299L326.774 36.0579H350.216L353.603 22.5083H328.79L330.078 13.967H353.167Z" fill="#BF0000"/>
        <path d="M362.456 13.967H378.022L373.491 59.3126H387.332L394.148 13.967H409.132L412.519 0.417389H363.807L362.456 13.967Z" fill="#BF0000"/>
        <path d="M437 0.417389H420.188L417.632 42.8327H428.937L437 0.417389Z" fill="#BF0000"/>
        <path d="M414.286 59.3126H428.147L429.913 47.5294H415.47L414.286 59.3126Z" fill="#BF0000"/>
        <path d="M286.354 13.967L287.518 18.6845L303.665 17.0635L300.34 0.417389H255.244L250.547 45.6382L266.84 59.3126H297.908L303.125 24.5657H280.161L278.789 38.1153H286.167L285.398 45.7629H272.7L266.05 40.1935L269.999 13.967H286.354Z" fill="#BF0000"/>
      </symbol>
    </defs>
  </svg>
  <script>
    (function($){
        const trigger = document.getElementById('js-trigger');
        const fixedBtn = document.getElementById('js-fixed-btn');
        function fixedBottomBtn() {
            let scrollY = window.pageYOffset;
            const triggerRect = trigger.getBoundingClientRect();
            const triggerY = scrollY + triggerRect.top;

        if ( scrollY > triggerY ) {
          fixedBtn.setAttribute('aria-expanded', 'true');
        } else {
          fixedBtn.setAttribute('aria-expanded', 'false');
        }
      }
      if( fixedBtn && trigger ) {
        window.addEventListener('scroll', fixedBottomBtn);
      }
    })();
  </script>
  <script>
    (function($){
      $(function(){
        $('.accordion_rule_opan').on('click', function(){
          $('#rule-ac').addClass('is-open');
          $('#rule-ac-content').css('display','block');
        });
        $('.js-ac-rule01').on('click',function() {
          var n = window.location.href.slice(window.location.href.indexOf('?') + 4);
          var p = $("#rule").offset().top;
          $('html,body').animate({ scrollTop: p }, 'slow');
          return false;
        });
      });
    })(jQuery);
  </script>

<!-- ReX Campaign Entry Button: Configuration -->
<script>
var rexButtons = [{"code":"/rmobile/start1000data/240425","theme":"red","wide":false,"showCelebration":false,"below":{"checkboxText":"メルマガやアンケートなどをSMSやメールで受け取る","isCheckboxMandatory":false,"isChecked":true},"ids":["rex-ceb-01","rex-ceb-02"]}]
</script>

<!-- ReX Campaign Entry Button: Script -->
<script src="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/4.0.0/static/js/main.js" defer></script>
<script>
  var contentsSet = function() {
    $('.step-block').insertAfter('.step-block-area');
    $('.step-block').removeClass('hidden');
    $('.section-title').removeClass('hidden');
    $('.item-wrap-col').insertAfter('.item-wrap-col-area');
    $('.item-wrap-col').removeClass('hidden');
    var entrybtntxt = $(".sc-fznKkj").text();
    if ( entrybtntxt.indexOf('エントリーはこちら') != -1) {
      var entrybtntxt = $(".sc-fznKkj").text("今すぐエントリーする");
    }
    $('.campaign-Rexoverwrite').removeClass('hidden');
  };
  $(function(){
    setTimeout(contentsSet,1000);
  });
</script>
</body>
</html>
