<% const pagetitle = "夏のスマホ大特価キャンペーン開催記念！抽選で100名様に720円相当のポイントプレゼント" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "a5-sense3-lite-twitter" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイル公式Twitterアカウントをフォローし、対象ツイートのリツイートとエントリーを完了すると、抽選で100名様に720ポイントをプレゼントいたします。',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/a5-sense3-lite-twitter/a5-sense3-lite-twitter.css?20240424">
<%- include('/include/_append-head') %>
<script type="text/javascript">
<!--
function doTrim(el) {
  el.value = el.value.replace(/^\s+|\s+$/g, '');
}

function isInput(el) {
  return el.value.length != 0;
}

function isLength(el, len) {
  if ("え".length == 2) {
    len *= 2;
  }
  return el.value.length <= len;
}

function zen2han(el) {
  el.value = el.value.replace(/[０]/g, "0");
  el.value = el.value.replace(/[１]/g, "1");
  el.value = el.value.replace(/[２]/g, "2");
  el.value = el.value.replace(/[３]/g, "3");
  el.value = el.value.replace(/[４]/g, "4");
  el.value = el.value.replace(/[５]/g, "5");
  el.value = el.value.replace(/[６]/g, "6");
  el.value = el.value.replace(/[７]/g, "7");
  el.value = el.value.replace(/[８]/g, "8");
  el.value = el.value.replace(/[９]/g, "9");
}

function checkForm() {
  var el;
  var obj = document.enenForm;

  el = obj.elements['answers[34557_237623]'];
  doTrim(el);
  zen2han(el);
  if (!isInput(el)) {
    alert("「@から始まるTwitterアカウントを入力ください。」を入力してください。");
    return false;
  }

  if (!isLength(el, 50)) {
    alert("「@から始まるTwitterアカウントを入力ください。」は50文字以内で入力してください。");
    return false;
  }

}
// -->
</script>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= namespace %>-Hero_Bg">
  <div class="<%= namespace %>-Hero_Bg-in"></div>
</div>

  <div class="<%= namespace %>-Layout_Section <%= namespace %>-Section_List">
		<div class="l-System_Container">
      <p class="u-Adjust_Align-center u-Adjust_Mt-16">キャンペーン期間：2020年7月29日（水）10:00～2020年8月5日（水）8:59</p>
      <p class="u-Adjust_Align-center c-Txt_Cap u-Adjust_Mt-16">※本キャンペーンは予告なく内容の変更もしくは中止させていただく場合がございます。あらかじめご了承ください。</p>
      <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-16 u-Adjust_Align-center">本キャンペーンは終了しました。</p>

      <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-32">
        <li><a href="#campaign-rule" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルールを見る</a></li>
      </ul>

      <h2 class="c-Heading_Lv2 u-Adjust_Mt-40" id="campaign-flow">キャンペーン応募方法</h2>
      <ul class="<%= namespace %>-Flow_List u-Adjust_Mt-24">
        <li>
          <h3 class="c-Heading_Lv4">1. 楽天モバイル公式Twitterアカウント「<a href="https://twitter.com/Rakuten_Mobile" target="_blank">@Rakuten_Mobile</a>」をフォロー</h3>
        </li>
        <li>
          <h3 class="c-Heading_Lv4">2. <a href="https://twitter.com/Rakuten_Mobile/status/1288280166242955274" target="_blank">対象ツイート</a>をリツイート</h3>
        </li>
        <li>
          <h3 class="c-Heading_Lv4">3. ツイッター名を入力して「エントリーする」ボタンをクリック</h3>
          <ul class="c-List_Cap u-Adjust_Mt-8">
            <li><span>※</span>エントリーするには楽天IDでのログインが必要です。</li>
          </ul>
        </li>
        <li>
          <h3 class="c-Heading_Lv4">4.抽選で100名様に720円相当のポイントプレゼント</h3>

          <div class="l-Media_Grid">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/campaign/a5-sense3-lite-twitter/img_campaign_flow01.png" width="336" alt="">
            </div>
            <div>
              <p class="u-Adjust_Mt-16">ポイントの付与は、2020年9月下旬頃までに行います。当選はポイント付与をもってご確認ください。</p>
            </div>
          </div>

        </li>
      </ul>
		</div>
</div>

<div class="<%= namespace %>-Layout_Foot">
  <div class="l-System_Container">


    <div class="<%= namespace %>-Layout_Rule" id="campaign-rule">
      <h2 class="c-Heading_Lv2">夏のスマホ大特価キャンペーン開催記念！抽選で100名様に720円相当のポイントプレゼント</h2>
      <div class="c-Table_Wrap u-Adjust_Mt-24">
        <table class="c-Table_Container <%= namespace %>-Table_Rule">
          <colgroup>
            <col>
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th>キャンペーンコード</th>
              <td>
                <p>1047</p>
              </td>
            </tr>
            <tr>
              <th>キャンペーン期間</th>
              <td><p>2020年7月29日（水）10:00〜2020年8月5日（水）8:59</p>
              </td>
            </tr>
            <tr>
              <th>応募方法</th>
              <td>
                <p>1.楽天モバイル公式Twitterアカウント｢@Rakuten_Mobile｣をフォローしてください。</p>
                <p class="u-Adjust_Mt-8">2.@Rakuten_Mobileアカウントがツイートするキャンペーン対象ツイートをリツイート</p>
                <p class="u-Adjust_Mt-8">3.本ページでツイッター名を入力してエントリーを完了させる</p>
              </td>
            </tr>
            <tr>
              <th>応募条件</th>
              <td>
                <p>以下の条件を全て満たした方</p>
                <ul class="c-List_Text-disc u-Adjust_Mt-8"><li>Twitterアカウントをお持ちであること</li>
                  <li>楽天モバイル公式Twitterアカウント｢@Rakuten_Mobile｣をフォローしていること</li>
                  <li>対象ツイートをリツイートしていること</li>
                  <li>Twitterのアカウントを公開に設定していること</li>
                  <li>本ページでツイッター名を入力してエントリーを完了していること</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>特典</th>
              <td><p>100名様に楽天ポイント720ポイントをプレゼント</p>
              </td>
            </tr>
            <tr>
              <th>ポイント付与</th>
              <td>
                <ul class="c-List_Text-disc u-Adjust_Mt-8">
                  <li>楽天ポイントの付与は、2020年9月末日までに行います。</li>
                  <li>楽天ポイントの付与を受けるには、楽天会員への会員登録（無料）が必要です。</li>
                  <li>付与される楽天ポイントの有効期間はポイント付与日を含めて6カ月です。</li>
                </ul>
                <ul class="c-List_Cap u-Adjust_Mt-8">
                  <li><span>※</span>楽天ポイントの付与は、楽天モバイルより行います。</li>
                  <li><span>※</span>権利の譲渡はできません。</li>
                  <li><span>※</span>当選はポイント付与をもってご確認ください。</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>注意事項</th>
              <td>
                <ul class="c-List_Text-disc u-Adjust_Mt-8">
                  <li>本キャンペーンは予告なく内容の変更もしくは中止させていただく場合がございます。あらかじめご了承ください。</li>
                  <li>当選は、お一人様一回までとなります。</li>
                  <li>当選の権利は、ご本人のみ有効とし、第三者への譲渡はできません。</li>
                  <li>本キャンペーンの抽選、当選結果等に関するお問い合わせにはお答えいたしかねます。あらかじめご了承ください。</li>
                  <li>個人情報の取り扱いに関しては、当社のプライバシーポリシーに準じます。</li>
                  <li>以下の条件に当てはまる場合は、当選が無効となります。</li>
                </ul>
                <ul class="c-List_Cap u-Adjust_Mt-8">
                  <li><span>※</span>楽天モバイル公式Twitterアカウント｢@Rakuten_Mobile｣のフォローが解除された場合</li>
                  <li><span>※</span>本キャンペーンに投稿されたツイートまたはリツイートが削除された場合</li>
                  <li><span>※</span>Twitterアカウントを非公開に設定されている（鍵が付いている)場合</li>
                  <li><span>※</span>本キャンペーンに応募したTwitterアカウントが削除された場合</li>
                  <li><span>※</span>第三者の投稿コメントや画像のコピーを利用して投稿された場合</li>
                  <li><span>※</span>そのほか、当社が不適切と判断した投稿をされた場合</li>
                  <li><span>※</span>ポイント付与月の前月末までに、楽天ポイント口座が登録されていない場合</li>
                  <li><span>※</span>ポイント付与時に、登録された楽天ポイント口座を削除された場合</li>
                  <li><span>※</span>楽天会員から退会している場合</li>
                  <li><span>※</span>当社が定める規約などに違反した場合</li>
                  <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-news.ejs') %>

    <%- include('/include/footer/bnr/_bnr-news.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
