<% const pagetitle = "エントリー＆楽天モバイルショップに来店で200ポイント 来店確認フォーム" -%>
<% const directories = [{path:"shop/", label:"ショップ（店舗）"}] -%>
<%-
include('/_header', {
  pagetitle,
  directories,
  description: '。',
  noindex: true,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header-simple') %>
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1 u-Adjust_Mt-32"><%= pagetitle %></h1>
      <p class="c-Txt_Emp-01 u-Adjust_Mt-24">コード入力が必要です。入力するコードは店舗スタッフにご確認ください。</p>
      <form action="https://form.rakuten.co.jp/ans/apply/39595" name="enenForm" method="POST" onsubmit="return checkForm()">
        <p class="u-Adjust_Mt-24 c-Form_List-required u-Adjust_Ml-0">必須</p>
        <div class="u-Adjust_Mt-16">
          <input class="c-Form_Input" value="" name="answers[39595_270170]" placeholder="">
        </div>
        <input type="hidden" name="c" value="楽天">
        <input type="hidden" name="l" value="ja">
        <div class="u-Adjust_Mt-24 u-Adjust_Mb-32 u-Adjust_Align-center">
          <input type="submit" class="c-Btn_Primary-large" value="送信する">
        </div>
      </form>
    </div>
    <footer class="g-Footer">
      <%- include('/include/_footer-simple') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>

<script>
  function doTrim(el) {
    el.value = el.value.replace(/^\s+|\s+$/g, '');
  }

  function isInput(el) {
    return el.value.length != 0;
  }

  function isNum(el) {
    return (el.value == "" || /^[0-9]+$/.test(el.value));
  }

  function isLength(el, len) {
    if ("え".length == 2) {
      len *= 2;
    }
    return el.value.length <= len;
  }

  function zen2han(el) {
    el.value = el.value.replace(/[０]/g, "0");
    el.value = el.value.replace(/[１]/g, "1");
    el.value = el.value.replace(/[２]/g, "2");
    el.value = el.value.replace(/[３]/g, "3");
    el.value = el.value.replace(/[４]/g, "4");
    el.value = el.value.replace(/[５]/g, "5");
    el.value = el.value.replace(/[６]/g, "6");
    el.value = el.value.replace(/[７]/g, "7");
    el.value = el.value.replace(/[８]/g, "8");
    el.value = el.value.replace(/[９]/g, "9");
  }

  function checkForm() {
    var el;
    var obj = document.enenForm;

    el = obj.elements['answers[39595_270170]'];
    doTrim(el);
    zen2han(el);
    if (!isInput(el)) {
      alert("「コード入力が必要です。入力するコードは店舗スタッフにご確認ください。」を入力してください。");
      return false;
    }

    if (!isNum(el)) {
      alert("「コード入力が必要です。入力するコードは店舗スタッフにご確認ください。」は数値で入力してください。");
      return false;
    }

    if (!isLength(el, 4)) {
      alert("「コード入力が必要です。入力するコードは店舗スタッフにご確認ください。」は4文字以内で入力してください。");
      return false;
    }
  }
</script>

</body>
</html>
