<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "ひかり電話" -%>
<% const directories = [{path: hikariroot.path + "fee/", label:"料金"}, {path: hikariroot.path + "fee/pricelist/", label:"料金表・お支払い方法"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天ひかりでも、NTT東日本・NTT西日本提供のひかり電話が利用できます。必要な手続きなどをご案内します。',
    noindex: false,
    pathname: filepath,
    ishikari: true,
    canonical_custom: 'https://network.mobile.rakuten.co.jp/hikari/fee/option/hikari-denwa/'
  });
%>
<%- include('/include/hikari/_common-v2-hikari-css') %>
<%- include('/include/_append-head-hikari') %>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>

<div class="l-System">

  <%- include('/hikari/include/_header', {
    headerType: 'normal',
    pagetitle: pagetitle,
    pathname: filepath,
    directories: directories
  }) %>

  <div class="l-hikari-Section_Main">
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
      <div class="l-hikari-Section_Main-lead">
        <p>楽天ひかりでも、安心して、ひかり電話サービスをご利用いただけます。</p>
      </div>

      <div class="c-Theme-Light l-hikari-Section_Sub-short">
        <h2 class="c-Heading_Lv3">ひかり電話の請求について</h2>
        <div class="l-hikari-Section_Sub-content-short">
          <div class="l-Media_Grid">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/hikari/fee/option/hikari-denwa/img01.png?211211" alt="" width="311" height="160">
            </div>
            <div>
              <p>ひかり電話をご利用される場合は、NTT東日本・NTT西日本との契約になりますので、利用金額の請求はNTT東日本・NTT西日本から行われます。</p>
            </div>
          </div>
        </div>
      </div>

      <div class="l-hikari-Section_Sub-short">
        <h2 class="c-Heading_Lv2">必要なお手続きについて</h2>
        <div class="l-hikari-Section_Sub-content-short">
          <p>楽天ひかりでひかり電話を利用される際にはご状況に合わせNTT東日本・NTT西日本にお申し込みください。</p>
          <p class="c-Txt_Cap u-Adjust_Mt-8">※ 楽天ひかりでは、ひかり電話の申し込みは受け付けておりません。</p>

          <div class="c-Accordion u-Adjust_Mt-24">
            <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>他社光コラボでひかり電話をご利用されている場合</button>
            <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
              <p>お客様にて事業者変更番号を取得された後、NTTよりお客様に電話で必要な手続きが案内されます。</p>
              <ol class="c-Flow u-Adjust_Mt-16">
                <li>
                  <p class="c-Txt_Normal-m c-Txt_Emp">1. 事業者変更承諾番号の取得</p>
                  <div class="l-Media_Grid u-Adjust_Mt-16">
                    <div class="l-Media_Image">
                      <img src="<%= sitepath %>assets/img/hikari/fee/option/hikari-denwa/img02.png?211211" alt="" width="304" height="143">
                    </div>
                    <div>
                      <p>「事業者変更承諾番号」とは、11桁の英数字で構成された事業者変更手続きの際に必要な番号です。現在ご契約中の光コラボ事業者より発行されます。</p>
                      <p class="u-Adjust_Mt-8"><a href="<%= sitepath %><%= hikariroot.path %>flow/" class="c-Link_Txt-inline">事業者変更の詳細はこちら<span class="c-Icon_Chevron-right"></span></a></p>
                    </div>
                  </div>
                </li>

                <li>
                  <p class="c-Txt_Normal-m c-Txt_Emp">2. NTT東日本・NTT西日本より電話で必要な手続きについて案内</p>
                </li>
              </ol>
            </div>
          </div>

          <div class="c-Accordion">
            <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>フレッツ光からの転用の場合</button>
            <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
              <p>転用の場合、お手続きは不要になります。<br>
                今までのとおり、ひかり電話に関する料金がNTT東日本・NTT西日本から請求されます。</p>
            </div>
          </div>

          <div class="c-Accordion">
            <button id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天ひかりを新規でご契約の場合</button>
            <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
              <p>楽天ひかりを新規でお申し込みをされた後、弊社工事受付センターからインターネット回線の工事日調整に関してお客様へお電話がございます。その際に、ひかり電話申込をご希望の旨をお伝えください。<br>
                後日、NTT東日本・NTT西日本よりお客様へお電話がございます。
              </p>
            </div>
          </div>

          <div class="c-Accordion">
            <button id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ひかり電話のみを新規で申し込みをする場合</button>
            <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
              <p>NTT東日本・NTT西日本へひかり電話新規契約のお申し込みをお願いいたします。<br>
              お申し込みについては、以下のサイトもしくは電話番号をご参照ください。</p>

              <dl class="c-Dl_Origin u-Adjust_Mt-16">
                <div>
                  <dt>NTT東日本エリアにお住まいの方</dt>
                  <dd>
                    <p><span class="c-Txt_Emp">電話番号：</span><a href="tel:0120-116-116">0120-116-116</a><br>
                    受付時間：9:00~17:00</p>
                    <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp">WEB：</span><a href="https://flets.com/hikaridenwa/subscription/" target="_blank" class="c-Link_Txt-inline">NTT東日本 | ひかり電話お申し込み方法<span class="c-Icon_New-window-l"></span></a></p>
                  </dd>
                </div>
                <div>
                  <dt>NTT西日本エリアにお住まいの方</dt>
                  <dd>
                    <p><span class="c-Txt_Emp">電話番号：</span><a href="tel:0120-116-116">0120-116-116</a><br>
                    受付時間：9:00~17:00</p>
                    <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp">WEB：</span><a href="https://flets-w.com/opt/hikaridenwa/" target="_blank" class="c-Link_Txt-inline">NTT西日本 | ひかり電話<span class="c-Icon_New-window-l"></span></a></p>
                  </dd>
                </div>
              </dl>

              <p class="c-Txt_Cap u-Adjust_Mt-8">※ 携帯電話・PHSからもご利用いただけます。</p>
            </div>
          </div>
        </div>
      </div>

      <div class="l-hikari-Section_Sub-short">
        <h2 class="c-Heading_Lv2">ひかり電話対応機器の設置方法</h2>
        <div class="l-hikari-Section_Sub-content-short">
          <p>以下の接続図を参考に、ひかり電話を設置してください。</p>
          <div class="u-Adjust_Mt-24">
            <div>
              <img src="<%= sitepath %>assets/img/hikari/fee/option/hikari-denwa/img03.png?211211" alt="" width="343" height="230">
            </div>

            <ol class="c-List_Ordered u-Adjust_Mt-16">
              <li>ひかり電話対応機器で無線LANカードをご利用中の場合、ひかり電話対応機器に装着されている無線LANカードを取り外します。取り外し方法は取扱説明書をご確認ください。</li>
              <li>「ひかり電話対応機器」 の電源がOffになっていることを確認します。</li>
              <li>「ルーター」のマニュアルと本体を用意します。</li>
              <li>「ルーター」背面の「モード切替スイッチ」が「RT」側になっていることを確認します。</li>
              <li>「ひかり電話対応機器」の「LANポート」と、「ルーター」背面の「WANポート」をLANケーブルで接続します。</li>
              <li>「ひかり電話対応機器」の電源を入れ、約1分待ちます。</li>
              <li>有線接続を行う場合、「ルーター」背面の「LANポート」と、電源が入っていないパソコンの「LANポート」をLANケーブルで接続します。</li>
              <li>「ルーター」の電源を入れ、約1分～2分待ちます。</li>
              <li>「ルーター」のマニュアルに書かれている方法で、正常に接続できているか確認を行い問題がなければ配線は完了です。</li>
            </ol>

            <div class="c-Txt_Cap u-Adjust_Mt-16">
              <p>※ 接続の確認方法はご利用の機器によって異なります。</p>
              <p>※ 上記説明の表記は機器によって異なる場合があります。</p>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <footer class="g-Footer">
    <%- include('/hikari/include/_footer', {
      pagetitle: pagetitle,
      directories: directories,
      // hiddenFooterCtaText: '',
      // hiddenFooterCtaLink: '',
      hiddenFooterCta: true,
      // hiddenMenu: true,
      // hiddenPopask: true,
      // hiddenBacktop: true,
      // hiddenBreadcrumbs: true,
    }) %>
  </footer>

</div>
<%- include('/include/hikari/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
