<% const pagetitle = "【楽天モバイルご契約者様限定】楽天イーグルスの観戦チケットを抽選で2,100組4,200名様にプレゼント" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "supernighter2024" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '楽天イーグルスの試合観戦チケットを楽天モバイルご契約者様限定でプレゼントいたします！',
  noindex: true,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/supernighter2024/supernighter2024.css?20240604-test">
<!-- ReX Campaign Button: stylesheet -->
<link rel="stylesheet" href="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/5.1.0/static/css/main.css?240327"/>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/_entry-button/rex-overwrite_v6.css?20240424">
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<script defer="defer" src="https://r.r10s.jp/com/js/c/common/entry_button/1.1/entry_button-1.1.0.min.js"></script>
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout_Label">
      <ul class="c-Label_List">
        <li class="c-Label_Normal">ご契約者様対象</li>
        <li class="c-Label_Normal">エントリー必要</li>
      </ul>
    </div>

    <div class="<%= namespace %>-Hero">
      <div class="<%= namespace %>-Hero_Container">
        <h1>
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/supernighter2024/hero-sp_02_240604.png?_240604-test" width="100%">
            <img src="<%= sitepath %>assets/img/campaign/supernighter2024/hero-pc_02_240604.png?_240604-test" width="1440" height="420" alt="楽天モバイルご契約者様限定！＆要エントリー　楽天イーグルス観戦チケット抽選で2,100組4,200名様分にプレゼント！">
          </picture>
        </h1>
      </div>
    </div>

    <div class="l-System_Container u-Adjust_Mt-24">
      <p class="u-Align_Lcc c-Txt_Emp-01">【エントリー期間】2024年6月12日（水）10:00 ～ 2024年6月26日（水）09:59</p>
      <div class="u-Adjust_Mt-24 u-Align_Ccc">
        <!-- ReX Campaign Entry Button: Mounting points -->
        <!-- mounting point for button 1 -->
        <div id="rex-ceb-01" class="campaign-Rexoverwrite"></div>
        <div id="js-trigger"></div>
      </div>
      <div class="<%= namespace %>-Utility_Justify-content">
        <p class="c-Txt_Cap u-Adjust_Mt-16">
          ※ 抽選に当選された方を対象に、後日送付されるご案内メールより観戦チケットの本申し込みが必要となります。<br>
          ※ キャンペーン対象条件は<a href="#campaign-rule" class="c-Link_Txt js-scroll">キャンペーンルール</a>をご確認ください<br>
          ※ 「Rakuten最強プラン」「Rakuten最強プラン（データタイプ）」をご契約中のお客様がキャンペーン対象となります。お申し込みは<a href="#apply" class="c-Link_Txt js-scroll">こちら</a>。
        </p>
      </div>
    </div>

    <div class="l-System_Container u-Adjust_Mt-32">
      <div class="c-Accordion">
        <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
          キャンペーン期間
        </button>
        <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
          <div class="c-Table">
            <div class="c-Table_Wrap">
              <table class="c-Table_Container">
                <tr>
                  <th scope="row">エントリー<br class="u-Show_Oox">期間</th>
                  <td>2024年6月12日（水）10:00 ～ 2024年6月26日（水）09:59</td>
                </tr>
                <tr>
                  <th scope="row">お申し込み<br class="u-Show_Oox">期間</th>
                  <td>
                    -Web 2024年6月12日（水）10:00 ～ 2024年6月26日（水）09:59<br>
                    -店舗（楽天モバイルショップ） 2024年6月12日（水）開店 ～ 2024年6月25日（火）閉店
                  </td>
                </tr>
                <tr>
                  <th scope="row">プラン利用<br class="u-Show_Oox">開始期限</th>
                  <td>2024年6月26日（水）23:59まで</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="l-System_Container u-Adjust_Mt-32 u-Adjust_Mt-pc-40 u-Adjust_Mt-sp-32">
      <div class="">
        <ul class="<%= namespace %>-Layout_List u-Adjust_Pt-32 ">
          <li class="<%= namespace %>-Layout_Item">
            <a href="#how" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span><span>キャンペーン参加方法</span></a>
          </li>
          <li class="<%= namespace %>-Layout_Item">
            <a href="#flow" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span><span>キャンペーンの流れ</span></a>
          </li>
          <li class="<%= namespace %>-Layout_Item">
            <a href="#campaign-rule" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span><span>キャンペーンルール</span></a>
          </li>
        </ul>
        </div>
    </div>

    <div class="c-Theme-Light <%= namespace %>-Layout_Theme-light">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv4 u-Adjust_Align-center c-Txt_Normal-ll">楽天スーパーナイター</h2>
        <div class="c-Theme-White u-Adjust_Mt-16 <%= namespace %>-Layout_Theme-Pc">
          <div class="l-Media_Grid-reverse">
            <div>
              <p class="u-Adjust_Mt-16">
                楽天グループによる冠協賛デー「Rakuten SUPER ナイター」は、関東近郊の方をはじめ、本拠地の楽天モバイルパーク宮城まで足を運ぶことが難しい方にも楽天イーグルスの一軍公式戦をお楽しみいただけるよう、東京ドームで開催します。「スポーツとともに、もっといい未来へ。A BETTER FUTURE TOGETHER」というテーマのもと、よりよい未来を感じる特別な1日に。ぜひ、ご来場ください！<a href="https://r10.to/hkBHK2" target="_blank">詳細はこちら<span class="c-Icon_New-window-l"></span></a>
              </p>
            </div>
            <div class="l-Media_Image">
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/supernighter2024/img-01-sp_240604.png?_240604-test" width="100%">
                <img src="<%= sitepath %>assets/img/campaign/supernighter2024/img-01-pc_240604.png?_240604-test" width="314" height="209" alt="">
              </picture>
            </div>
          </div>
        </div>
        <div class="c-Theme-White u-Adjust_Mt-16 <%= namespace %>-Layout_Theme-Sp">
          <div class="l-Media_Grid">
            <div class="l-Media_Image">
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/supernighter2024/img-01-sp_240604.png?_240604-test" width="100%">
                <img src="<%= sitepath %>assets/img/campaign/supernighter2024/img-01-pc_240604.png?_240604-test" width="314" height="209" alt="">
              </picture>
            </div>
          </div>
          <div>
            <p class="u-Adjust_Mt-16">
              楽天グループによる冠協賛デー「Rakuten SUPER ナイター」は、関東近郊の方をはじめ、本拠地の楽天モバイルパーク宮城まで足を運ぶことが難しい方にも楽天イーグルスの一軍公式戦をお楽しみいただけるよう、東京ドームで開催します。「スポーツとともに、もっといい未来へ。A BETTER FUTURE TOGETHER」というテーマのもと、よりよい未来を感じる特別な1日に。ぜひ、ご来場ください！<a href="https://r10.to/hkBHK2" target="_blank">詳細はこちら<span class="c-Icon_New-window-l"></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <section class="l-System_Container" id="how">

      <div class="<%= namespace %>-Layout_Conditions u-Adjust_Mt-24 u-Adjust_Mt-pc-40">
        <h2 class="c-Heading_Lv2  u-Adjust_Align-center" data-ratid="campaign_supernighter2024_scroll-01" data-ratevent="appear">キャンペーンの参加方法</h2>
        <p class="<%= namespace %>-Txt_Left-sp u-Adjust_Mt-16 u-Adjust_Align-center">本キャンペーンには達成条件が設定されています。詳細は<a href="#campaign-rule" class="js-scroll">キャンペーンルール</a>をご確認ください。</p>
        <ul class="<%= namespace %>-Layout_Conditions-Flow u-Adjust_Mt-24">
          <li>
            <div class="l-Media_Icon">
              <div class="<%= namespace %>-Layout_Conditions-Img">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-conditions-01.png?240604-test" alt="">
              </div>
              <div>
                <h4 class="c-Heading_Lv4">このページからエントリー</h4>
              </div>
            </div>
            <div class="<%= namespace %>-Layout_Conditions-Schedule <%= namespace %>-Layout_Conditions-Schedule-step1 c-Txt_Cap">
              <p>※抽選に当選された方を対象に後日送付されるご案内メールより観戦チケットの本申し込みが必要となります。</p>
            </div>
          </li>
          <li>
            <div class="<%= namespace %>-Layout_Conditions-Icon"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-conditions-04.png?240604-test" alt="＋"></div>
            <div class="l-Media_Icon">
              <div class="<%= namespace %>-Layout_Conditions-Img">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-conditions-02.png?240604-test" alt="">
              </div>
              <div>
                <h4 class="c-Heading_Lv4">Rakuten最強プランにご契約中または新規ご契約</h4>
              </div>
            </div>
            <div class="<%= namespace %>-Layout_Conditions-Schedule ">
              <p class="c-Txt_Normal">これからお申し込みの方も、プランご利用開始後から対象となります。</p>
              <p><span class="c-Icon_Arrow-down-l"></span><a href="#tab-menu1" class="c-Link_Txt-inline">お申し込みはこちら</a></p>
            </div>
          </li>
        </ul>
        <ul class="<%= namespace %>-Table_Rule-Cap-wide u-Adjust_Mt-16">
          <li class="c-Txt_Cap"><span>※</span>エントリー、お申し込みの順番は問いません。</li>
        </ul>
      </div>
    </section>

    <section class="l-System_Container" id="flow">
      <h2 class="c-Heading_Lv1 u-Adjust_Align-center u-Adjust_Mt-64">キャンペーンの流れ</h2>
      <div class="c-Tab js-Tab u-Adjust_Mt-24" id="apply">
        <ul class="c-Tab_Items" role="tablist">
          <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1" data-ratid="campaign_supernighter2024_scroll-02" data-ratevent="appear">新規お申し込みの方</li>
          <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2" data-ratid="campaign_supernighter2024_scroll-03" data-ratevent="appear">ご契約中の方</li>
        </ul>
        <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
          <div class="c-Accordion <%= namespace %>-Accordion_Left u-Adjust_Mt-24">
            <button id="accordion-9" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Left-num" aria-expanded="false" aria-controls="accordion-content-9"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="<%= namespace %>-Accordion_Left-num-before">STEP1</span><span>キャンペーンにエントリーする</span></button>
            <div id="accordion-content-9" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-9" aria-hidden="true" style="display:none;">
              <div class="l-Media_Grid">
                <div class="l-Media_Image c-Flow_Image">
                  <img src="<%= sitepath %>assets/img/campaign/supernighter2024/img-flow-01.png" width="305" height="159" alt="">
                </div>
                <div>
                  <p><span class="<%= namespace %>-Utility_Block-sp u-Adjust_Mb-8"><span class="c-Label_Emp c-Txt_Emp-02 u-Adjust_Mr-8">エントリー期間</span></span>2024年6月12日（水）10:00 ～ 2024年6月26日（水）09:59</p>
                  <div class="u-Adjust_Mt-24">
                    <!-- ReX Campaign Entry Button: Mounting points -->
                    <!-- mounting point for button 2 -->
                    <div id="rex-ceb-02" class="campaign-Rexoverwrite"></div>
                  </div>
                  <p class="c-Txt_Cap u-Adjust_Mt-16">
                    ※ エントリー、お申し込みの順番は問いません。<br>
                    ※ 後日送付されるご案内メールより観戦チケットの本申し込みが必要となります。
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion <%= namespace %>-Accordion_Left u-Adjust_Mt-24">
            <button id="accordion-8" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Left-num" aria-expanded="false" aria-controls="accordion-content-8"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="<%= namespace %>-Accordion_Left-num-before">STEP2</span><span>楽天モバイルのお申し込み</span></button>
            <div id="accordion-content-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-8" aria-hidden="true" style="display:none;">
              <div class="c-Tab">
                <ul class="c-Tab_Items" role="tablist">
                  <li class="c-Tab_Item js-tab-nest" id="tab-menu3" aria-selected="true" aria-controls="tab-content3">Web</li>
                  <li class="c-Tab_Item js-tab-nest" id="tab-menu4" aria-selected="false" aria-controls="tab-content4">ショップ</li>
                </ul>
                <div class="c-Tab_Panel js-panel-nest" id="tab-content3" aria-hidden="false" aria-labelledby="tab-menu3">

                  <div class="u-Adjust_Mt-24">
                    <div class="l-Media_Grid" style="align-items: center;">
                      <div class="l-Media_Image c-Flow_Image">
                        <img src="<%= sitepath %>assets/img/campaign/supernighter2024/img-flow-02.png" width="234" height="138" alt="">
                      </div>
                      <div>
                        <p><span class="<%= namespace %>-Utility_Block-sp"><span class="c-Label_Emp c-Txt_Emp-02 u-Adjust_Mr-8">プランのお申し込み期間</span></span>2024年6月12日（水）10:00 ～ 2024年6月26日（水）09:59</p>
                        <div class="<%= namespace %>-Utility_Btn u-Adjust_Mt-24" >
                          <p class="u-Adjust_Align-center u-Adjust_Mt-16">
                            <a href="<%= sitepath %>guide/application/?lid-r=campaign_supernighter2024_guide_application">
                              <span class="c-Btn_Primary"> 楽天モバイルのお申し込み</span>
                            </a>
                          </p>
                          <p class="u-Adjust_Align-center u-Adjust_Mt-16">
                            <a href="<%= sitepath %>guide/procedure/?l-id=campaign_supernighter2024_guide_procedure">
                              <span class="c-Btn_Regular"> お申し込み方法を確認する</span>
                            </a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="c-Tab_Panel js-panel-nest" id="tab-content4" aria-hidden="true" aria-labelledby="tab-menu4">
                  <div class="l-Media_Grid u-Adjust_Mt-24">
                    <div class="l-Media_Image c-Flow_Image">
                      <img src="<%= sitepath %>assets/img/campaign/supernighter2024/img-flow-02.png" width="234" height="138" alt="">
                    </div>
                    <div class="u-Adjust_Mt-16">
                      <p><span class="<%= namespace %>-Utility_Block-sp u-Adjust_Mb-8"><span class="c-Label_Emp c-Txt_Emp-02 u-Adjust_Mr-8">プランのお申し込み期間</span></span>2024年6月12日（水）開店 ～ 2024年6月25日（火）閉店</p>
                      <div class="u-Adjust_Mt-24 <%= namespace %>-Utility_Btn">
                        <p class="u-Adjust_Align-center u-Adjust_Mt-16">
                          <a href="<%= sitepath %>shop/?l-id=campaign_supernighter2024_shop" class="c-Btn_Regular">お近くのショップを探す</a>
                        </p>
                        <p class="u-Adjust_Align-center u-Adjust_Mt-16">
                          <a href="<%= sitepath %>shop/?l-id=campaign_supernighter2024_shop" class="c-Btn_Regular">お申し込み方法を確認する</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion <%= namespace %>-Accordion_Left u-Adjust_Mt-24">
            <button id="accordion-10" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Left-num" aria-expanded="false" aria-controls="accordion-content-10"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="<%= namespace %>-Accordion_Left-num-before">STEP3</span><span>「Rakuten最強プラン」利用開始</span></button>
            <div id="accordion-content-10" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-10" aria-hidden="true" style="display:none;">
              <div class="l-Media_Grid">
                <div class="l-Media_Image c-Flow_Image">
                  <img src="<%= sitepath %>assets/img/campaign/supernighter2024/img-flow-04.png" width="305" height="159" alt="">
                </div>
                <div>
                  <p><span class="c-Label_Emp c-Txt_Emp-02 u-Adjust_Mr-8">期限</span>2024年6月26日（水）23:59まで</p>
                  <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>faq/detail/00001648/?l-id=campaign_supernighter2024_faq_detail_00001648" class="c-Btn_Regular">プラン利用開始手順</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion <%= namespace %>-Accordion_Left u-Adjust_Mt-24">
            <button id="accordion-11" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Left-num" aria-expanded="false" aria-controls="accordion-content-11"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="<%= namespace %>-Accordion_Left-num-before">STEP4</span><span>観戦チケット申し込みメールから本申し込みをする</span></button>
            <div id="accordion-content-11" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-11" aria-hidden="true" style="display:none;">
              <div class="l-Media_Grid">
                <div class="l-Media_Image c-Flow_Image">
                  <img src="<%= sitepath %>assets/img/campaign/supernighter2024/img-flow-05.png" width="305" height="159" alt="">
                </div>
                <div>
                  <p>
                    本キャンペーンにエントリーかつ楽天モバイルをご契約中、または新規ご契約いただいた方を対象に抽選を実施いたします。<br>
                    <span class="c-Txt_Emp-01">ご当選者には、7月10日（水）以降に観戦チケット申し込みのご案内メールをお送りします。期限内にメールに記載されたURLより本申し込みを完了させてください。</span>
                  </p>
                  <p class="u-Adjust_Mt-24"><span class="c-Label_Emp c-Txt_Emp-02 u-Adjust_Mr-8">期限</span>2024年x月xx日（x）xx:xxまで</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-16">
                    ※ ご案内メールはcmo-rsuper-baseballgame-cpn@mail.rakuten.co.jpから配信されます。「mail.rakuten.co.jp」ドメインからのメールが受信できるように設定してください。
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <p class="u-Adjust_Mt-16 u-Adjust_Mb-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/campaign/iphone-point/icon-down-arrow.png" width="80" height="24" alt=""></p>
            <div class="c-Theme-Borderbox">
              <h3 class="c-Heading_Lv3">試合当日に観戦チケットと引き換え</h3>
              <div class="l-Media_Grid u-Adjust_Mt-16">
                <div class="l-Media_Image">
                  <img src="<%= sitepath %>assets/img/campaign/supernighter2024/img-flow-06.png" width="303" height="159" alt="">
                </div>
                <div>
                  <p class="u-Adjust_Mt-16">試合当日お申し込み完了メールを引き換えブースにて表示し、観戦チケットとお引き換えください。</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※ 引き換えについての詳細はSTEP4の本申し込み完了メールにてご確認ください。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
          <div class="c-Accordion <%= namespace %>-Accordion_Left u-Adjust_Mt-24">
            <button id="accordion-90" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Left-num" aria-expanded="false" aria-controls="accordion-content-90"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="<%= namespace %>-Accordion_Left-num-before">STEP1</span><span>キャンペーンにエントリーする</span></button>
            <div id="accordion-content-90" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-90" aria-hidden="true" style="display:none;">
              <div class="l-Media_Grid">
                <div class="l-Media_Image c-Flow_Image">
                  <img src="<%= sitepath %>assets/img/campaign/supernighter2024/img-flow-01.png" width="305" height="159" alt="">
                </div>
                <div>
                  <p><span class="<%= namespace %>-Utility_Block-sp u-Adjust_Mb-8"><span class="c-Label_Emp c-Txt_Emp-02 u-Adjust_Mr-8">エントリー期間</span></span>2024年6月12日（水）10:00 ～ 2024年6月26日（水）09:59</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-16">
                    <span class="c-Txt_Emp-02">※ ご契約中の方は、別途回線の申し込みは不要です。</span><br>
                    ※ 後日送付されるご案内メールより観戦チケットの本申し込みが必要となります。
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion <%= namespace %>-Accordion_Left u-Adjust_Mt-24">
            <button id="accordion-110" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Left-num" aria-expanded="false" aria-controls="accordion-content-110"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="<%= namespace %>-Accordion_Left-num-before">STEP2</span><span>観戦チケット申し込みメールから本申し込みをする</span></button>
            <div id="accordion-content-110" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-110" aria-hidden="true" style="display:none;">
              <div class="l-Media_Grid">
                <div class="l-Media_Image c-Flow_Image">
                  <img src="<%= sitepath %>assets/img/campaign/supernighter2024/img-flow-05.png" width="305" height="159" alt="">
                </div>
                <div>
                  <p>
                    本キャンペーンにエントリーかつ楽天モバイルをご契約中、または新規ご契約いただいた方を対象に抽選を実施いたします。<br>
                    <span class="c-Txt_Emp-01">ご当選者には、7月10日（水）以降に観戦チケット申し込みのご案内メールをお送りします。期限内にメールに記載されたURLより本申し込みを完了させてください。</span>
                  </p>
                  <p class="u-Adjust_Mt-24"><span class="c-Label_Emp c-Txt_Emp-02 u-Adjust_Mr-8">期限</span>20xx年x月xx日（日）23:59まで</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-16">
                    ※ ご案内メールはcmo-rsuper-baseballgame-cpn@mail.rakuten.co.jpから配信されます。「mail.rakuten.co.jp」ドメインからのメールが受信できるように設定してください。
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <p class="u-Adjust_Mt-16 u-Adjust_Mb-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/campaign/iphone-point/icon-down-arrow.png" width="80" height="24" alt=""></p>
            <div class="c-Theme-Borderbox">
              <h3 class="c-Heading_Lv3">試合当日に観戦チケットを引き換え</h3>
              <div class="l-Media_Grid u-Adjust_Mt-16">
                <div class="l-Media_Image">
                  <img src="<%= sitepath %>assets/img/campaign/supernighter2024/img-flow-06.png" width="303" height="159" alt="">
                </div>
                <div>
                  <p class="u-Adjust_Mt-16">試合当日お申し込み完了メールを引き換えブースにて表示し、観戦チケットとお引き換えください。</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※ 引き換えについての詳細はSTEP4の本申し込み完了メールにてご確認ください。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="l-System_Container u-Adjust_Mt-64">

      <div id="campaign-rule" class="u-Adjust_Mt-64">
        <!-- 2328 -->
        <h2 class="c-Heading_Lv2">【楽天モバイルご契約者様限定】楽天イーグルスの観戦チケットを抽選で2,100組4,200名様にプレゼントキャンペーン</h2>
      </div>

    </div>

    <div class="<%= namespace %>-Layout_Bottom-fixed" id="js-fixed-btn" aria-expanded="false">
      <div class="l-System_Container">
        <ul class="<%= namespace %>-Layout_Bottom-cta">
          <li>
            <a href="#rex-ceb-01" class="c-Btn_Primary-large"><span>エントリーはこちら</span></a>
          </li>
          <li>
            <a href="<%= sitepath %>guide/application/?lid-r=campaign_supernighter2024_guide_application_02" class="c-Btn_Secondly-large"><span>楽天モバイルのお申し込み</span></a>
          </li>
        </ul>
      </div>
    </div>

    <footer class="g-Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
  <script>
    (function(){
      const tabs = document.querySelectorAll('.js-tab-nest');
      const panels = document.querySelectorAll('.js-panel-nest');
      tabs.forEach(tab => {
        tab.addEventListener('click', e => {
          let self = e.currentTarget;
          let target= document.getElementById(self.getAttribute('aria-controls'));

          tabs.forEach(tab => {
              tab.setAttribute('aria-selected', false);
          });
          panels.forEach(panel => {
              panel.setAttribute('aria-hidden', true);
          });
          self.setAttribute('aria-selected', true);
          target.setAttribute('aria-hidden', false);
        });
      });

      const trigger = document.getElementById('js-trigger');
      const fixedBtn = document.getElementById('js-fixed-btn');
      function fixedBottomBtn() {
          let scrollY = window.pageYOffset;
          const triggerRect = trigger.getBoundingClientRect();
          const triggerY = scrollY + triggerRect.top;

          if ( scrollY + window.innerHeight > triggerY ) {
              fixedBtn.setAttribute('aria-expanded', 'true');
          } else {
              fixedBtn.setAttribute('aria-expanded', 'false');
          }
      }
      if( fixedBtn && trigger ) {
          window.addEventListener('scroll', fixedBottomBtn);
      }
    })();
    </script>

    <!-- ReX Campaign Entry Button: Configuration -->
    <script>
      var rexButtons = {language: 'ja', buttons: [{"code":"/rmobile/supernighter2024/240425","theme":"red","wide":false,"showCelebration":false,"alreadyAppliedText":"エントリー済みです","ids":["rex-ceb-01","rex-ceb-02"]}]}
    </script>
    <!-- ReX Campaign Entry Button: Script -->
    <script src="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/5.1.0/static/js/main.js" defer></script>
</body>
</html>
