<% const pagetitle = "Xperia 10 V" -%>
<% const directory = "xperia-10m5" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/smartphone/", label:"Android"}] -%>
<% const namespace = "product-Xperia-10m5" -%>
<%# const theme = "Dark" -%>
<% const theme = "Light" -%>
<% const point = 3000 -%>
<%# const pointModel = 2000 -%>
<%# const pointEntry = 5000 -%>
<%
/* insert Modal /*
/*
  ストア遷移 → 'bundle'
  在庫あり → 'stock'
  在庫切れ → 'soldout'
  入荷待ち → 'backorder'
  予約注文 → 'reserve'

*/
const bundleFlag = 'bundle';
const exid = 600645;
-%>
<%# price-detail.ejsファイルに変数の説明の記載があります -%>
<% const priceDetailConfig = {
  bundleFlag: bundleFlag,
  theme: theme,
  price: 59290,
  //priceBefore: 72800,
  // pointBackPriceModel: pointModel,
  pointBackPrice: point,
  // pointModelText: `<span>製品購入で<span class="product-detail-Price_Pointback-num">${pointModel.toLocaleString()}</span>ポイント<sub>※1</sub></span>`,
  pointBackTextA: `<span>楽天モバイルお申し込みで<br class="product-detail-Utility_Show-sp"><span class="product-detail-Price_Pointback-num">${point.toLocaleString()}</span>円相当のポイント還元<sub>※1,4</sub></span>`,
  // pointEntryText: `さらに、エントリー＆抽選で<span class="product-detail-Price_Pointback-num">2,000</span>ポイント<sub>※2</sub>`,
  division24: 2470,
  // division24Before: ,
  division48: 1235,
  // division48Before: ,
  division48last: 1245,
  tradeinProductName: 'Xperia 10 Ⅳ',
  optionPattern: 'one-option',
  lid: directory,
  capacity: 128,
  maxTradeinPrice: 17300,
  pointAppealBtnCapNo: 4,
  tradeinPoint: 3000,
  carrier: 'docomo',
  //　notificationEmail: 'true',
  //　notificationEmailLink: '/product/reservation/reno7-a/'
  discountPrice: 6000,
  applyPoint: 0,
  firstTimeApplyPoint: 13000,
  mnp: false,
  anchorId: 'campaign-rule1526',
  trakingId: directory,
  exid: exid,
  btnLabel: 'Xperia 10 Vを購入する',
  // PriceBeforeUnnumberedAnnotationText: '楽天モバイルでの販売価格（販売期間：2023年7月6日～2024年1月16日）',
}
-%>
<% const tradeinUrl = sitepath + "service/tradein/?l-id=product_" + directory + "_cpn_02" -%>
<%-
 include('/_header', {
    pagetitle,
    directories,
    description: "Xperia 10 V（エクスペリア）の価格・特徴・スペックの確認と購入はこちら。楽天モバイルお申し込み＆Xperia 10 Vご購入で26,930円値引き！※対象プラン等条件あり",
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<%- include('/include/product/_category-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/inc/i-product-head.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/<%= directory %>/product-<%= directory %>.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/product/_history-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<%
  const NavItems = [
    {label: '価格', href: 'price'},
    {label: '関連アクセサリ', href: 'accessory'},
    {label: '特長', href: 'feature'},
    {label: 'スペック', href: 'spec'}
  ]
%>

<div id="js-header-nav-dummy"></div>
<%- include('/include/product/smartphone/_nav-follow-btn', {pagetitle, NavItems, directory, exid, }) %>

<div class="product-detail-Layout_Hero-with-bnr <%= namespace %>_Hero">
  <div class="l-System_Container u-Adjust_Pt-16">
    <%- include('/include/product/bnr/_product-head-bnr', {
      lid: 'product_' + directory + '_bnr_campaign_start-point',
      isDark: false,
      isShow: false,
    }) _%>

    <a class="c-Banner_Hover-act" href="<%= sitepath %>campaign/android-discount/?l-id=product_smartphone_xperia-10m5_campaign_android-discount">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-discount-xperia-10m5-sp.png" width="343" height="76">
        <img src="<%= sitepath %>assets/img/bnr/bnr-discount-xperia-10m5-pc.png" width="1032" height="75" alt="楽天モバイルお申し込み＆Xperia 10 Vご購入で26,930円値引き" loading="lazy">
      </picture>
    </a>
    <section class="product-detail-Hero">
      <div class="product-detail-Hero_Data">
        <div>
          <h1 class="co-Heading_Lv1 product-detail-Hero_Name"><img src="<%= sitepath %>assets/img/product/<%= directory %>/logo.png" alt="<%= pagetitle %>" width="340"></h1>
          <p class="product-detail-Hero_Maker">Sony</p>
          <p class="product-detail-Hero_Copy">たっぷり使えて、どっぷりハマる</p>
          <div class="product-detail-Utility_Show-pc">
            <div>
              <%_ if (bundleFlag === 'bundle') { _%>
                <div class="u-Adjust_Align-center u-Adjust_Mt-16 <%= bundleFlag %>">
                  <a href="<%= onboardingpath2 %>equipment-details?exid=<%= exid %>&selectAvailable=true" class="c-Btn_Primary-large" data-ratid="product_detail-page_order-button-1_bss" data-ratevent="click" data-ratparam="all">購入する</a>
                </div>
                <%_ } else if(bundleFlag === 'stock') { _%>
                <div class="u-Adjust_Align-center u-Adjust_Mt-16"><a class="c-Btn_Primary-large">購入する</a>
                </div>
                <%_ } else if(bundleFlag === 'soldout') { _%>
                <div class="u-Adjust_Align-center u-Adjust_Mt-16"><a class="c-Btn_Primary-large" aria-disabled="true">2022年6月30日発売予定</a></div>
                <%_ } else if(bundleFlag === 'backorder') { _%>
                <div class="u-Adjust_Align-center u-Adjust_Mt-16"><a class="c-Btn_Primary-large" aria-disabled="true">現在入荷待ち</a></div>
                <%_ } else if(bundleFlag === 'reserve') { _%>
                  <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                    <a href="<%= onboardingpath2 %>equipment-details?exid=<%= exid %>&selectAvailable=true" class="c-Btn_Primary-large" data-ratid="product_detail-page_order-button-1_bss" data-ratevent="click" data-ratparam="all">Xperia 10 Vを予約注文する</a>
                  </div>
                <%_ } _%>
            </div>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center <%= namespace %>_Icon-front">
              <span class="<%= namespace %>_Icon-front-icon"></span>
              <a href="<%= sitepath %>guide/application-support/?l-id=product_smartphone_<%= directory %>_guide_application-support" class="c-Link_Txt-inline">オペレーターと相談しながらお申し込み！詳細はこちら<span class="c-Icon_Chevron-right"></span></a>
            </p>
            <p class="c-Txt_Cap u-Adjust_Mt-16">※5G通信は対応エリアでご利用可能です。</p>
          </div>
        </div>
      </div>
      <div class="product-detail-Hero_Main u-Adjust_Mt-0">
        <ul class="product-detail-Hero_Main-device c-Carousel js-main1 js-device" aria-hidden="false">
          <li><img src="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-00.png" alt=""></li>
          <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-01.png" alt=""></li>
          <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-02.png" alt=""></li>
          <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-03.png" alt=""></li>
          <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-04.png" alt=""></li>
        </ul>
        <ul class="product-detail-Hero_Main-device c-Carousel js-main2 js-device" aria-hidden="true">
          <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-05.png" alt=""></li>
          <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-06.png" alt=""></li>
          <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-07.png" alt=""></li>
          <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-08.png" alt=""></li>
          <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-09.png" alt=""></li>
        </ul>
        <ul class="product-detail-Hero_Main-device c-Carousel js-main3 js-device" aria-hidden="true">
          <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-15.png" alt=""></li>
          <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-16.png" alt=""></li>
          <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-17.png" alt=""></li>
          <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-18.png" alt=""></li>
          <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-19.png" alt=""></li>
        </ul>
        <ul class="product-detail-Hero_Main-device c-Carousel js-main4 js-device" aria-hidden="true">
          <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-10.png" alt=""></li>
          <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-11.png" alt=""></li>
          <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-12.png" alt=""></li>
          <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-13.png" alt=""></li>
          <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-14.png" alt=""></li>
        </ul>

        <ul class="product-detail-Hero_Main-color product-detail-Theme_<%= theme %>-color">
          <li data-ratid="<%= directory %>_color-01" data-ratevent="click" data-ratparam="all" class="js-color js-color1" aria-current="true"><span style="background:#A4ABD5"></span></li>
          <li data-ratid="<%= directory %>_color-02" data-ratevent="click" data-ratparam="all" class="js-color js-color2" aria-current="false"><span style="background:#BDD5BC"></span></li>
          <li data-ratid="<%= directory %>_color-03" data-ratevent="click" data-ratparam="all" class="js-color js-color3" aria-current="false"><span style="background:#FFFFFF"></span></li>
          <li data-ratid="<%= directory %>_color-04" data-ratevent="click" data-ratparam="all" class="js-color js-color4" aria-current="false"><span style="background:#39373B"></span></li>
        </ul>

        <ul class="product-detail-Hero_Main-thumbnail c-Carousel js-thumbnail1 js-device" aria-hidden="false">
          <li><img id="<%= directory %>_color-01_thumbnail-01" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-00.png" alt=""></li>
          <li><img id="<%= directory %>_color-01_thumbnail-02" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-01.png" alt=""></li>
          <li><img id="<%= directory %>_color-01_thumbnail-03" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-02.png" alt=""></li>
          <li><img id="<%= directory %>_color-01_thumbnail-04" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-03.png" alt=""></li>
          <li><img id="<%= directory %>_color-01_thumbnail-05" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-04.png" alt=""></li>
        </ul>
        <ul class="product-detail-Hero_Main-thumbnail c-Carousel js-thumbnail2 js-device" aria-hidden="true">
          <li><img id="<%= directory %>_color-02_thumbnail-01" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-05.png" alt=""></li>
          <li><img id="<%= directory %>_color-02_thumbnail-02" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-06.png" alt=""></li>
          <li><img id="<%= directory %>_color-02_thumbnail-03" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-07.png" alt=""></li>
          <li><img id="<%= directory %>_color-02_thumbnail-04" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-08.png" alt=""></li>
          <li><img id="<%= directory %>_color-02_thumbnail-05" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-09.png" alt=""></li>
        </ul>
        <ul class="product-detail-Hero_Main-thumbnail c-Carousel js-thumbnail3 js-device" aria-hidden="true">
          <li><img id="<%= directory %>_color-03_thumbnail-01" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-15.png" alt=""></li>
          <li><img id="<%= directory %>_color-03_thumbnail-02" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-16.png" alt=""></li>
          <li><img id="<%= directory %>_color-03_thumbnail-03" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-17.png" alt=""></li>
          <li><img id="<%= directory %>_color-03_thumbnail-04" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-18.png" alt=""></li>
          <li><img id="<%= directory %>_color-03_thumbnail-05" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-19.png" alt=""></li>
        </ul>
        <ul class="product-detail-Hero_Main-thumbnail c-Carousel js-thumbnail4 js-device" aria-hidden="true">
          <li><img id="<%= directory %>_color-04_thumbnail-01" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-10.png" alt=""></li>
          <li><img id="<%= directory %>_color-04_thumbnail-02" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-11.png" alt=""></li>
          <li><img id="<%= directory %>_color-04_thumbnail-03" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-12.png" alt=""></li>
          <li><img id="<%= directory %>_color-04_thumbnail-04" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-13.png" alt=""></li>
          <li><img id="<%= directory %>_color-04_thumbnail-05" data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-14.png" alt=""></li>
        </ul>
        <%# サムネクリック計測 %>
        <div id="js-force-click-target" data-ratid="dummy" data-ratevent="click" data-ratparam="all"></div>
      </div>
    </section>

    <div class="product-detail-Hero_Show-sp product-detail-Utility_Show-sp u-Adjust_Mt-24">
      <div>
        <%_ if (bundleFlag === 'bundle') { _%>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16 <%= bundleFlag %>">
          <a href="<%= onboardingpath2 %>equipment-details?exid=<%= exid %>&selectAvailable=true" class="c-Btn_Primary-large" data-ratid="product_detail-page_order-button-1_bss" data-ratevent="click" data-ratparam="all">購入する</a>
        </div>
        <%_ } else if(bundleFlag === 'stock') { _%>
        ≈<a class="c-Btn_Primary-large">購入する</a>
        </div>
        <%_ } else if(bundleFlag === 'soldout') { _%>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16"><a class="c-Btn_Primary-large" aria-disabled="true">2023年4月20日発売予定</a></div>
        <%_ } else if(bundleFlag === 'backorder') { _%>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16"><a class="c-Btn_Primary-large" aria-disabled="true">現在入荷待ち</a></div>
        <%_ } else if(bundleFlag === 'reserve') { _%>
          <div class="u-Adjust_Align-center u-Adjust_Mt-16">
            <a href="<%= onboardingpath2 %>equipment-details?exid=<%= exid %>&selectAvailable=true" class="c-Btn_Primary-large" data-ratid="product_detail-page_order-button-1_bss" data-ratevent="click" data-ratparam="all">Xperia 10 Vを予約注文する</a>
          </div>
        <%_ } _%>
      </div>
      <p class="u-Adjust_Mt-24 u-Adjust_Align-center <%= namespace %>_Icon-front">
        <span class="<%= namespace %>_Icon-front-icon"></span>
        <a href="<%= sitepath %>guide/application-support/?l-id=product_smartphone_<%= directory %>_guide_application-support" class="c-Link_Txt-inline">オペレーターと相談しながらお申し込み！詳細はこちら<span class="c-Icon_Chevron-right"></span></a>
      </p>
      <p class="u-Adjust_Mt-24" style="font-size: 12px;">
        ※5G通信は対応エリアでご利用可能です。
      </p>
    </div>
  </div>
</div>

<div class="product-detail-Layout_Main">
  <div class="product-detail-Price product-detail-Theme_<%= theme %>-price u-Adjust_Mt-16">
    <%- include('/include/product/smartphone/_price-detail-basic', {priceDetailConfig, bundleFlag}) %>
    <div class="l-System_Container u-Adjust_Mt-32">
      <p class="u-Adjust_Align-center c-Txt_Emp-01" style="font-size: 18px;">【ご購入前にご確認ください】</p>
      <ul class="c-List_Text-disc u-Adjust_Mt-16">
        <li>購入手続き後、当社で審査を実施し、完了をもって購入契約成立となります。ただし、当社所定の条件に該当する場合、注文キャンセルとなる可能性がございます。キャンセルの際は、登録メールアドレス宛にご連絡します。</li>
        <li><span class="c-Txt_Emp-02">充電器は別売りとなっております。</span>「購入する」ボタンを押下後、製品をカートに追加する際に、必要なアクセサリも同時にご購入ください。アクセサリの詳細は「関連アクセサリ」からご確認ください。</li>
      </ul>
    </div>

    <%
    const relatedAccessoryConf = {
      namespace,
      directory,
      relatedAccessory: [
        {
          title: 'OwltechAC充電器（20W）',
          url: `product/accessory/owltech-apd20c1a1bk/?l-id=product_${directory}_owltech-apd20c1a1bk`,
          image: 'assets/img/accessory/owltech-apd20c1a1bk/pht-accessory-00.png',
          price: '2,618'
        },
        {
          title: 'Xperia 10 V ハイブリッドクリアケース',
          url: `product/accessory/rselect-rmsoxpraxvc0226cl/?l-id=product_${directory}_rselect-rmsoxpraxvc0226cl`,
          image: 'assets/img/accessory/rselect-rmsoxpraxvc0226cl/pht-accessory-00.png',
          price: '2,280'
        },
        {
          title: 'Xperia 10 V Style Cover with Stand ブラック',
          url: `product/accessory/sony-xqzcbdcbjpcx/?l-id=product_${directory}_sony-xqzcbdcbjpcx`,
          image: 'assets/img/accessory/sony-xqzcbdcbjpcx/pht-accessory-00.png',
          price: '4,400'
        },
        {
          title: 'Xperia 10 V 平面ガラスフィルム ブルーライトカット',
          url: `product/accessory/rselect-rmsoxpraxvf0225cl/?l-id=product_${directory}_rselect-rmsoxpraxvf0225cl`,
          image: 'assets/img/accessory/rselect-rmsoxpraxvf0225cl/pht-accessory-00.png',
          price: '2,480'
        },
        {
          title: 'Xperia 10 V 平面ガラスフィルム 高光沢',
          url: `product/accessory/rselect-rmsoxpraxvf0224cl/?l-id=product_${directory}_rselect-rmsoxpraxvf0224cl`,
          image: 'assets/img/accessory/rselect-rmsoxpraxvf0224cl/pht-accessory-00.png',
          price: '2,280'
        },
      ]
    }
    -%>
    <div id="accessory">
      <%- include('/include/product/_related-carousel', { relatedAccessoryConf }) _%>
    </div>

    <%- include('/include/product/smartphone/_price-detail-notes-discount') _%>
  </div>

  <div class="u-Adjust_Mt-56 u-Adjust_Pb-56">
    <div class="l-System_Container">
      <div class="product-detail-Spec">
        <ul class="product-detail-Spec_<%= theme %>">
          <li aria-current="true"><span class="c-Icon_Product-waterproof"></span>防水</li>
          <li aria-current="true"><span class="c-Icon_Product-price-yen"></span>おサイフケータイ</li>
          <li aria-current="true"><span class="c-Icon_Product-hi-res"></span>ハイレゾ<br>オーディオ</li>
          <li aria-current="false"><span class="c-Icon_Product-faceid"></span>顔認証</li>
          <li aria-current="true"><span class="c-Icon_Product-finger"></span>指紋認証</li>
          <li aria-current="false"><span class="c-Icon_Product-charger"></span>ワイヤレス<br>充電</li>
          <li aria-current="true"><span class="c-Icon_Product-connection"></span>高速通信</li>
        </ul>
        <p class="u-Adjust_Mt-64"><a data-ratid="<%= directory %>_spec-anchor" data-ratevent="click" data-ratparam="all" href="#spec" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>基本スペックを見る</a></p>
      </div>

      <section id="feature" class="product-detail-Layout_Section">
        <%# スクロール計測 %>
        <h2 data-ratid="<%= directory %>_scroll-03_feature" data-ratevent="appear" data-ratparam="all" class="c-Heading_Lv2-rich">特長</h2>

        <ul class="product-detail-Catch <%= namespace %>_Catch">
          <li><a data-ratid="<%= directory %>_feature-anchor-01" data-ratevent="click" data-ratparam="all" href="#feature1" class="js-scroll"><span class="c-Icon_Arrow-down-l product-detail-Catch_Icon"></span><span class="product-detail-Catch_Txt">”聴く”も”観る”もリッチにたのしむ</span></a></li>
          <li><a data-ratid="<%= directory %>_feature-anchor-02" data-ratevent="click" data-ratparam="all" href="#feature2" class="js-scroll"><span class="c-Icon_Arrow-down-l product-detail-Catch_Icon"></span><span class="product-detail-Catch_Txt">いつでもお手軽ベストショット</span></a></li>
          <li><a data-ratid="<%= directory %>_feature-anchor-03" data-ratevent="click" data-ratparam="all" href="#feature3" class="js-scroll"><span class="c-Icon_Arrow-down-l product-detail-Catch_Icon"></span><span class="product-detail-Catch_Txt">バテない、バッテリー</span></a></li>
        </ul>

        <section class="product-detail-Feature" id="feature1">
          <h2 class="c-Heading_Lv2">ソニークオリティの音と映像で、あふれる臨場感。</h2>
          <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/main-image-01.png" width="1032" height="386" alt=""></figure>
          <p class="product-detail-Feature_Txt">フロントステレオスピーカーを10シリーズに初搭載。前面に配置した2つのスピーカーと、明るくなった <span class="c-Txt_Cap">※1</span> 鮮やかな有機ELディスプレイにより、流行りのドラマや映画、音楽ライブ映像などを臨場感あふれるサウンドと映像で楽しめます。</p>
          <p class="c-Txt_Cap u-Adjust_Mt-16">※1 Xperia 10 IV比で約1.5倍向上。</p>
        </section>

        <section class="product-detail-Feature" id="feature2">
          <h2 class="c-Heading_Lv2">どんなシーンでも、かんたん・きれいに撮影できる。</h2>
          <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/main-image-02.png" width="1032" height="386" alt=""></figure>
          <p class="product-detail-Feature_Txt">超広角、広角、望遠と３つのレンズを搭載。使い勝手のよい広角レンズはセンサーサイズが大きく<span class="c-Txt_Cap">※2</span> なり、より明るく鮮明な撮影が可能に。被写体や撮影環境を自動で判断し、最適な設定を自動で選択してくれる機能や、光学式手ブレ補正も搭載<span class="c-Txt_Cap">※3</span> しているので、カメラ任せで美しい思い出を残せます。</p>
          <p class="c-Txt_Cap u-Adjust_Mt-16">
            ※2 Xperia 10 IV比較。1/2.0インチセンサーを搭載。<br><span class="c-Txt_Cap">※3</span> 広角レンズのみ。
          </p>
        </section>
        <section class="product-detail-Feature" id="feature3">
          <h2 class="c-Heading_Lv2">たっぷり使えて3年 <span class="c-Txt_Cap">※4</span> 長持ち。</h2>
          <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/main-image-03.png" width="1032" height="386" alt=""></figure>
          <p class="product-detail-Feature_Txt">
            約34時間の連続動画再生も可能<span class="c-Txt_Cap">※5</span> な5000mAhの大容量バッテリーを搭載。省電力だから、終日の外出や旅先でも心配いらず。1日中<span class="c-Txt_Cap">※6</span> めいっぱい使えるスタミナを備えています。<br>
            また、バッテリーの負荷を軽減する「いたわり充電」とXperia独自の「充電最適化技術」により、3年<span class="c-Txt_Cap">※4</span> 使っても劣化しにくい長持ちバッテリーを実現しています。
          </p>
          <p class="c-Txt_Cap u-Adjust_Mt-16">
            ※4 同タイプバッテリーで充放電を繰り返すシミュレーションに基づく。バッテリーの寿命は利用状況によって変化します。<br>
            ※5 ダウンロード再生時。お客さまのご使用環境やご利用状況により再生可能時間は異なります。<br>
            ※6 お客さまのご使⽤環境やご利⽤状況により使⽤可能時間は異なります。
          </p>
        </section>
      </section>

      <%# スクロール計測 %>
      <div class="u-Rat_Appear-height" data-ratid="<%= directory %>_scroll-04_feature" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
      <div class="product-detail-Layout_Sub <%= namespace %>_Sub">
        <div class="l-System_Container">
          <section class="product-detail-Layout_Section">
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-01.png" width="488" height="182" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">大好きな曲を彩る、高音質</h3>
                <p>有線はもちろん、LDAC対応なのでワイヤレスでもハイレゾを満喫。さらに、ストリーミングサービスなどの圧縮音源をハイレゾ相当の音質に変換するDSEE Ultimate <span class="c-Txt_Cap">※7</span> を搭載。最新曲もハイクオリティで楽しめます。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-16">
                  ※7 DSEE Ultimateの設定ON時に有効です。<br>
                  ※ハイレゾコンテンツやハイレゾ相当の⾳質で楽しむには、ハイレゾ対応ヘッドホン（別売）が必要です。
                </p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-02.png"  width="488" height="182" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">「ながら使い」で、高タイムパフォーマンス</h3>
                <p>便利な21：9マルチウィンドウを使えば、毎日がより効率的に。通学・通勤時に動画を観ながらSNSをしたり、待ち合わせ時にメッセージをしながら地図を確認したり、使い方は無限大です。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-03.png" width="488" height="182" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">手ブレを抑えてクリアに撮影</h3>
                <p>光学式手ブレ補正搭載で、夜間や室内などのうす暗いシーンでも、手ブレを抑え、より明るく、くっきりと撮影できます。<br>動画撮影時には電子式手ブレ補正と組み合わせたハイブリッド手ブレ補正で、クリアな動画を撮影可能です。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-16">※広角のみ。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-04.png" width="488" height="182" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">世界最軽量<span class="c-Txt_Cap">※8</span>＆持ちやすいスリムボディ</h3>
                <p>驚くほど軽い約159gのボディは世界最軽量 <span class="c-Txt_Cap">※8</span> 。さらに、誰でも持ちやすいスリムな形状で、持ち歩きや長時間利用にも最適です。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-16">※8 5000mAh以上のバッテリーを搭載する5G対応スマートフォンにおいて。2023年5月11日時点。ソニー調べ。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-05.png" width="488" height="182" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">充実の基本性能で、毎日を支える安心感</h3>
                <p>キッチンやアウトドアでも、水濡れを気にせず使用OK <span class="c-Txt_Cap">※9</span> 。さらに、ディスプレイはCorning® Gorilla® Glass Victus®を採用。衝撃にも強いタフなボディです。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-16">※9 IPX5/8に対応。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-06.png" width="488" height="182" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">心はずむ色合いと触り心地のよいマット仕上げ</h3>
                <p>毎日のコーディネートを引き立たせる、ポップなカラーリングが登場。背面側は指紋がつきにくいマット加工を施した特殊なポリカーボネート樹脂素材で、さらりとした触り心地の質感に仕上げました。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-07.png" width="488" height="182" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">環境配慮への取り組み</h3>
                <p>商品箱と本体トレイにはソニー独自開発のオリジナルブレンドマテリアルを使用し、個装パッケージのプラスチック使用量ゼロを実現しています<span class="c-Txt_Cap">※10</span> 。また、本体の内外に用いる部品の一部原料には環境配慮型プラスチックSORPLAS™を使用しています。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-16">※10 個装パッケージは、個装の商品箱、箱内のトレイ、包装材、スリーブを指します。コーティングや接着で用いる材料は除きます。</p>
              </div>
            </section>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="product-detail-Layout_Other">
  <div class="l-System_Container">

    <%- include('/include/product/_compensation') %>

    <section class="product-detail-Layout_Section" id="spec">
      <h2 data-ratid="<%= directory %>_scroll-06_spec" data-ratevent="appear" data-ratparam="all" class="c-Heading_Lv2">スペック</h2>
      <dl class="c-Dl">
        <div>
          <dt>製品名</dt>
          <dd>
            <%= pagetitle %>
          </dd>
        </div>
        <div>
          <dt>色</dt>
          <dd>
            ラベンダー / セージグリーン / ホワイト / ブラック
          </dd>
        </div>
        <div>
          <dt>サイズ</dt>
          <dd>
            約155 x 約68 x 約8.3（mm）
          </dd>
        </div>
        <div>
          <dt>質量</dt>
          <dd>
            約159g
          </dd>
        </div>
        <div>
          <dt>ディスプレイ</dt>
          <dd>
            <p>サイズ / 種類</p>
            約6.1インチ / OLED
            <p class="u-Adjust_Mt-16">解像度</p>
            FHD+ / 1,080 × 2,520
          </dd>
        </div>
        <div>
          <dt>連続待受時間（LTE）</dt>
          <dd>
            約1085時間
          </dd>
        </div>
        <div>
          <dt>連続通話（通信）時間（LTE）</dt>
          <dd>
            約42時間
          </dd>
        </div>
        <div>
          <dt>CPU</dt>
          <dd>
            Snapdragon® 695 5G Mobile Platform / オクタコア 2.2GHz x 2 + 1.8GHz x 6
          </dd>
        </div>
        <div>
          <dt>OS<span class="c-Txt_Cap">※1</span></dt>
          <dd>
            Android™ 13
          </dd>
        </div>
        <div>
          <dt>内部メモリ（RAM / ROM）</dt>
          <dd>
            6GB（RAM）/ 128GB（ROM）
          </dd>
        </div>
        <div>
          <dt>メインカメラ（外側）</dt>
          <dd>
            約4,800万画素（約1,200万画素記録）（広角） + 約800万画素（望遠） + 約800万画素（超広角）
          </dd>
        </div>
        <div>
          <dt>フロントカメラ（内側）</dt>
          <dd>
            約800万画素（標準）
          </dd>
        </div>
        <div>
          <dt>バッテリー容量</dt>
          <dd>
            5,000mAh
          </dd>
        </div>
        <div>
          <dt>ワイヤレス充電</dt>
          <dd>
            非対応
          </dd>
        </div>
        <div>
          <dt>おサイフケータイ / NFC</dt>
          <dd>
            対応 / 対応
          </dd>
        </div>
        <div>
          <dt>防水 / 防塵</dt>
          <dd>
            対応（IPX5・IPX8 / IP6X）
          </dd>
        </div>
        <div>
          <dt>生体認証（指紋 / 顔）</dt>
          <dd>
            対応 / 非対応
          </dd>
        </div>
        <div>
          <dt>Wi-Fi規格</dt>
          <dd>
            IEEE 802.11 a/b/g/n/ac
          </dd>
        </div>
        <div>
          <dt>テザリング（Wi-Fi）</dt>
          <dd>
            10台
          </dd>
        </div>
        <div>
          <dt>SIMタイプ</dt>
          <dd>
            nanoSIM / eSIM
          </dd>
        </div>
        <div>
          <dt>付属品</dt>
          <dd>
            取扱説明書 ～ 重要なお知らせ x 1 / 保証書 x 1
          </dd>
        </div>
      </dl>
      <p class="u-Adjust_Mt-16 c-Txt_Cap">※1 発売時点のOSのバージョンを記載しています。最新のOSバージョン情報は<a href="<%= sitepath %>information/software/xperia-10m5/" class="c-Link_Txt">こちら</a>をご確認ください。</p>
      <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>product/smartphone/<%= directory %>/spec.html?l-id=product_<%= directory %>_spec_<%= directory %>" class="c-Link_Txt-inline-icon">スペック詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>

      <div class="u-Adjust_Mt-32">
        <%_ if (bundleFlag === 'bundle') { _%>
        <div class="u-Adjust_Align-center <%= bundleFlag %>">
          <a href="<%= onboardingpath2 %>equipment-details?exid=<%= exid %>&selectAvailable=true" class="c-Btn_Primary-large" data-ratid="product_detail-page_order-button-3_bss" data-ratevent="click" data-ratparam="all">購入する</a>
        </div>
        <%_ } else if(bundleFlag === 'stock') { _%>
        <div class="u-Adjust_Align-center"><a class="c-Btn_Primary-large">購入する</a></div>
        <%_ } else if(bundleFlag === 'soldout') { _%>
        <div class="u-Adjust_Align-center"><a class="c-Btn_Primary-large" aria-disabled="true">2022年6月30日発売予定</a></div>
        <%_ } else if(bundleFlag === 'backorder') { _%>
        <div class="u-Adjust_Align-center"><a class="c-Btn_Primary-large" aria-disabled="true">現在入荷待ち</a></div>
        <%_ } else if(bundleFlag === 'reserve') { _%>
          <div class="u-Adjust_Align-center u-Adjust_Mt-16">
            <a href="<%= onboardingpath2 %>equipment-details?exid=<%= exid %>&selectAvailable=true" class="c-Btn_Primary-large" data-ratid="product_detail-page_order-button-3_bss" data-ratevent="click" data-ratparam="all">Xperia 10 Vを予約注文する</a>
          </div>
        <%_ } _%>
      </div>

      <p class="u-Adjust_Mt-24 u-Adjust_Align-center <%= namespace %>_Icon-front">
        <span class="<%= namespace %>_Icon-front-icon"></span>
        <a data-ratid="product_detail-page_order-button-3_bss" data-ratevent="click" data-ratparam="all" href="<%= sitepath %>guide/application-support/?l-id=product_smartphone_<%= directory %>_guide_application-support" class="c-Link_Txt-inline">オペレーターと相談しながらお申し込み！詳細はこちら<span class="c-Icon_Chevron-right"></span></a>
      </p>
    </section>

    <div id="previously-seen"></div>
    <div id="js-same-brand"></div>

    <section class="product-detail-Layout_Section">
      <h2 class="c-Heading_Lv2">設定・サポート</h2>
      <div>
        <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/inquiry/?l-id=product_<%= directory %>_guide_inquiry" class="c-Link_Txt-inline-icon">製品の初期不良による交換・設定・修理等サポートについて<span class="c-Icon_Chevron-right"></span></a></p>
      </div>
    </section>

    <div class="u-Adjust_Mt-64">
      <%- include('/inc/_saikyo') %>
    </div>

  </div>
  <div class="u-Adjust_Mt-40">
    <%- include('/include/product/_support') %>
    <%- include('/include/product/smartphone/_footer-notes-discount') _%>
  </div>
</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-product-v2.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>


  </div>
  <div class="c-Breadcrumbs_Foot">
    <div class="l-System_Container">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/product/_category-js') %>
<%- include('/include/product/_history-js') %>
<%- include('/include/product/_same-brand-js') %>
<script src="<%= sitepath %>assets/js/product.android-tradein.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>

<script>
  const deviceName01 = '<%= directory %>_color-01_thumbnail-';
  const deviceName02 = '<%= directory %>_color-02_thumbnail-';
  const deviceName03 = '<%= directory %>_color-03_thumbnail-';
  const deviceName04 = '<%= directory %>_color-04_thumbnail-';

  const ratIds = [
    `${deviceName01}01`,
    `${deviceName01}02`,
    `${deviceName01}03`,
    `${deviceName01}04`,
    `${deviceName01}05`,
    `${deviceName02}01`,
    `${deviceName02}02`,
    `${deviceName02}03`,
    `${deviceName02}04`,
    `${deviceName02}05`,
    `${deviceName03}01`,
    `${deviceName03}02`,
    `${deviceName03}03`,
    `${deviceName03}04`,
    `${deviceName03}05`,
    `${deviceName04}01`,
    `${deviceName04}02`,
    `${deviceName04}03`,
    `${deviceName04}04`,
    `${deviceName04}05`,
  ];
  const forceClickRatId = e => {
    const forceClickTarget = document.getElementById('js-force-click-target');
    forceClickTarget.dataset.ratid = e.target.id;
    forceClickTarget.click();
  }
  ratIds.forEach(e => document.getElementById(e).addEventListener('click', forceClickRatId));
</script>

</body>
</html>
