<% const pagetitle = "楽天回線をもう1回線お申し込みで3,000円相当ポイントプレゼント！" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "extra-sim" -%>
<%-
include('/_header', {
  pagetitle,
  directories,
  description: 'Rakuten最強プランをもう1回線お申し込みで3,000円相当分のポイント還元キャンペーン開催中！2台目スマホやタブレットのご利用に、ぜひご利用ください。仕事とプライベートでの回線の使い分けにも！',
  noindex: false,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/extra-sim/extra-sim.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/_entry-button/rex-overwrite_v5.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <%- include('/include/_breadcrumbs', {
      type: 'head',
      pagetitle,
      directories,
    }) %>
    <div class="<%= namespace %>-Layout_Label">
      <ul class="c-Label_List">
        <li class="c-Label_Normal">ご契約者様対象</li>
        <li class="c-Label_Normal">エントリー必要</li>
      </ul>
      <p class="<%= namespace %>-Layout_Label-txt">ポイント：付与日を含めて6カ月の期間限定ポイント</p>
    </div>

    <div class="<%= namespace %>-Hero">
      <div class="<%= namespace %>-Hero_Container">
        <h1>
          <picture>
            <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/campaign/extra-sim/hero-sp-230707.png" width="100%">
            <img src="<%= sitepath %>assets/img/campaign/extra-sim/hero-pc-230707.png" width="851" height="300" alt="<%= pagetitle %>">
          </picture>
        </h1>
      </div>
    </div>

    <div class="l-System_Container u-Adjust_Mt-8">
      <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-8 u-Adjust_Mb-16 u-Adjust_Align-center">
        本キャンペーンは2023年10月31日23時59分をもちまして終了いたしました。<br>
        このページに掲載されている情報は、キャンペーン終了時点のものです。
      </p>
      <p class="c-Txt_Emp-02 c-Txt_Cap">※ 「Rakuten最強プラン（データタイプ）」は対象外です</p>
      <!-- <p class="c-Txt_Cap u-Show_Oox">※おひとり様1回限り</p> -->
      <p class="c-Txt_Emp-02 c-Txt_Cap">※ 2023年8月1日 9:00より併用可能キャンペーン、及びポイント付与日を変更しております。詳細は<a href="#campaign-rule1896" class="c-Link_Txt">キャンペーンルール</a>をご確認ください</p>
      <p class="c-Txt_Cap">※ 製品によって一部機能が利用できない場合があります。詳しくは<a href="<%= sitepath %>product/byod/?l-id=campaign_extra-sim_product_byod" class="c-Link_Txt">こちら</a>をご確認ください</p>
      <p class="c-Txt_Cap">※ 1回線目が通常タイプの場合のみ、本人確認書類の提出を省略できます（ショップでの申し込みを除く）</p>
      <p class="c-Txt_Cap">※ <a href="<%= sitepath %>campaign/referral/?l-id=campaign_extra-sim_campaign_referral" class="c-Link_Txt">紹介キャンペーン</a>経由でのお申し込みは対象外です</p>
      <p class="c-Txt_Cap">※ 終了日未定で実施しておりました本キャンペーンは、2023年10月31日（火）23:59をもって終了いたします。</p>
    </div>

    <div class="l-System_Container u-Adjust_Mt-32">
      <h2 class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンの流れ</h2>
      <ul class="<%= namespace %>-Layout_Flow">
        <li>
          <h3><span class="<%= namespace %>-Layout_Flow-step">STEP 1</span><span>まずはエントリー！</span></h3>
          <div class="<%= namespace %>-Layout_Flow-detail">
            <img src="<%= sitepath %>assets/img/campaign/extra-sim/img-01-pc.png" class="u-Show_Xxo" width="314" height="97" alt="">
            <div>
              <div class="<%= namespace %>-Layout_Flow-detail-sp">
                <img src="<%= sitepath %>assets/img/campaign/extra-sim/img-01-sp.png" class="u-Show_Oox" width="104" height="80" alt="">
                <p><sapn class="c-Txt_Emp-01">【エントリー期間】</sapn><br class="u-Show_Oox">2023年4月14日（金）9:00～2023年10月31日（火）23:59<br>
                  <span class="c-Txt_Emp-02 c-Txt_Cap u-Adjust_Mt-8">
                    ※ただし、毎月1日0:00～8:59はエントリーいただけません
                  </span>
                </p>
              </div>
              <div class="u-Adjust_Mt-16 <%= namespace %>-Utility_Justify-content-sp">
                <button class="c-Btn_Primary" aria-disabled="true" disabled><span>エントリーする</span></button>
              </div>
            </div>
          </div>
        </li>
        <li>
          <h3><span class="<%= namespace %>-Layout_Flow-step">STEP 2</span><span>楽天モバイルに2回線目以降の<br class="u-Show_Oox">お申し込み</span></h3>
          <div class="<%= namespace %>-Layout_Flow-detail">
            <img src="<%= sitepath %>assets/img/campaign/extra-sim/img-02-pc.png" class="u-Show_Xxo" width="314" height="112" alt="">
            <div>
              <div class="<%= namespace %>-Layout_Flow-detail-sp">
                <img src="<%= sitepath %>assets/img/campaign/extra-sim/img-02-sp.png" class="u-Show_Oox" width="104" height="82" alt="">
                <p><span class="c-Txt_Emp-01">【お申し込み期限】</span><br class="u-Show_Oox">エントリー月の末日23:59まで</p>
              </div>
              <ul class="u-Adjust_Mt-16 <%= namespace %>-Layout_Btn-col">
                <li class="<%= namespace %>-Utility_Justify-content-sp">
                  <a href="<%= sitepath %>guide/application/?lid-r=campaign_extra-sim_guide_application_top" class="c-Btn_Primary <%= namespace %>-Layout_Btn"><span>新規／乗り換え（MNP）お申し込み</span></a>
                </li>
                <li class="<%= namespace %>-Utility_Justify-content-sp">
                  <a href="<%= sitepath %>shop/?l-id=campaign_extra-sim_shop_top" class="c-Btn_Secondly <%= namespace %>-Layout_Btn"><span>お近くのショップを探す</span></a>
                </li>
              </ul>
              <p class="c-Txt_Cap u-Adjust_Mt-16">
                ※お申し込み方法の詳細は<a href="#how" class="c-Link_Txt js-scroll">こちら</a><br class="u-Show_Oox">  ※エントリー前のお申し込みはキャンペーンが適用されません
              </p>
            </div>
          </div>
        </li>
        <li>
          <h3>
            <span class="<%= namespace %>-Layout_Flow-step">STEP 3</span><span>Rakuten最強プラン<br class="u-Show_Oox">
            利用開始</span>
          </h3>
          <div class="<%= namespace %>-Layout_Flow-detail">
            <img src="<%= sitepath %>assets/img/campaign/extra-sim/img-03-pc.png" class="u-Show_Xxo" width="314" height="104" alt="">
            <div>
              <div class="<%= namespace %>-Layout_Flow-detail-sp">
                <img src="<%= sitepath %>assets/img/campaign/extra-sim/img-03-sp.png" class="u-Show_Oox" width="104" height="67" alt="">
                <p><sapn class="c-Txt_Emp-01">【開始期限】</sapn><br class="u-Show_Oox">プランお申し込みの翌月末日23:59まで</p>
              </div>
              <div class="u-Adjust_Mt-16 <%= namespace %>-Utility_Justify-content-sp">
                <a href="<%= sitepath %>faq/detail/00001648/?l-id=campaign_extra-sim_faq_detail_00001648" class="c-Btn_Secondly <%= namespace %>-Layout_Btn"><span>プラン利用開始手順を見る</span></a>
              </div>
            </div>
          </div>
        </li>
        <li>
          <h3><span class="<%= namespace %>-Layout_Flow-step">3,000円相当のポイント還元！</span></h3>
          <div class="<%= namespace %>-Layout_Flow-detail">
            <img src="<%= sitepath %>assets/img/campaign/extra-sim/img-04-pc.png" class="u-Show_Xxo" width="314" height="91" alt="">
            <div>
              <div class="<%= namespace %>-Layout_Flow-detail-sp">
                <img src="<%= sitepath %>assets/img/campaign/extra-sim/img-04-sp.png" class="u-Show_Oox" width="104" height="67" alt="">
                <p>※ 条件達成の4カ月後の末日頃・5カ月後の末日頃・6カ月後の末日頃にそれぞれ1,000ポイントを期間限定ポイントとして進呈いたします。</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="l-System_Container u-Adjust_Mt-48">
      <h2 class="c-Heading_Lv2 u-Adjust_Align-center">ポイント進呈時期の具体例</h2>
      <p class="u-Adjust_Mt-16 u-Align_Lcc">4月に条件を達成した場合、以下の予定でポイントが進呈されます</p>
      <div class="u-Adjust_Mt-16">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/extra-sim/img-05-sp-230801.png" width="100%">
          <img src="<%= sitepath %>assets/img/campaign/extra-sim/img-05-pc-230801.png" width="1032" height="301" alt="">
        </picture>
      </div>

    </div>


    <div class="l-System_Container u-Adjust_Mt-48">
      <h2 class="c-Heading_Lv2 u-Adjust_Align-center">2回線目以降なら<br class="u-Show_Oox">手続き簡単！</h2>
      <div class="u-Adjust_Mt-16">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/extra-sim/img-07-sp.png" width="100%">
          <img src="<%= sitepath %>assets/img/campaign/extra-sim/img-07-pc.png" width="1032" height="307" alt="">
        </picture>
      </div>

    </div>


    <div class="l-System_Container u-Adjust_Mt-48" id="how">
      <h2 class="c-Heading_Lv2 u-Adjust_Align-center">楽天モバイルの<br class="u-Show_Oox">お申し込み方法</h2>
      <div class="c-Tab js-Tab u-Adjust_Mt-24">
        <ul class="c-Tab_Items" role="tablist">
          <li class="c-Tab_Item js-tab-nest" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">Web</li>
          <li class="c-Tab_Item js-tab-nest" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">ショップ</li>
        </ul>
        <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
          <div class="u-Adjust_Mt-24">
            <div class="l-Media_Grid" style="align-items: center;">
              <div class="l-Media_Image c-Flow_Image">
                <picture>
                  <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/extra-sim/img-06-sp.png" width="232">
                  <img src="<%= sitepath %>assets/img/campaign/extra-sim/img-06-pc.png" width="280" height="180" alt="">
                </picture>
              </div>
              <div>
                <p class="c-Txt_Emp-01 u-Adjust_Mt-16">お申し込みに必要なもの</p>
                <ul class="c-List_Text-disc u-Adjust_Mt-16">
                  <li class="u-Adjust_Mt-8">
                    <a href="<%= sitepath %>guide/verify/?l-id=campaign_extra-sim_guide_verify" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a>

                    <div class="<%= namespace %>-Layout_Notice">
                      <h3 class="c-Txt_Emp-02">2回線目以降のお申し込み</h3>
                      <p class="u-Adjust_Mt-16">以下の条件が揃っている場合、2回線目以降の回線契約時に本人確認書類の提出が不要です。</p>
                      <p class="u-Adjust_Mt-16">・現在Rakuten最強プランを契約中である</p>
                      <p>・直近のご契約時から住所・氏名・生年月日が変更されていない</p>
                      <p>・直近のご契約時と同じ楽天IDでログインができる</p>
                      <p>・お申し込みされる方が18歳以上である</p>
                    </div>
                  </li>
                  <li class="u-Adjust_Mt-8">楽天会員ID、パスワード</li>
                  <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/?l-id=campaign_extra-sim_guide_payment" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a></li>
                </ul>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">※<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_extra-sim_flow_for-minors">未成年の方のお申し込み方法はこちら</a></p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">※MNPワンストップ未対応の携帯電話会社から乗り換えの方は、MNP予約番号の取得が必要です。MNPワンストップ対象の携帯電話会社は<a href="<%= sitepath %>guide/mnp/?l-id=campaign_extra-sim_guide_mnp#carrier" class="c-Link_Txt">こちら</a>からご確認ください。</p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">※ショップでのお手続きは、ワンストップ対象の他社からの転入であっても、MNP予約番号を取得のうえ、ご来店ください。</p>
              </div>
            </div>
          </div>

          <div class="l-Media_Grid-half u-Adjust_Mt-24">
            <div class="c-Theme-Borderbox">
              <div class="u-Align_Lcc">
                <p class="<%= namespace %>-Utility_Icon-title"><span class="c-Icon_New-user-f u-Adjust_Pr-8"></span><span class="c-Txt_Emp-01">新規電話番号／他社から乗り換え（MNP）</span></p>
                <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/application/?lid-r=campaign_extra-sim_guide_application" class="c-Btn_Primary-large">Rakuten最強プランに申し込む</a></p>
                <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>fee/saikyo-plan/?l-id=campaign_extra-sim_fee_saikyo-plan" class="c-Link_Txt-inline">Rakuten最強プランの詳細<span class="c-Icon_Chevron-right"></span></a></p>
                <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/flow/application/?l-id=campaign_extra-sim_guide_flow_application" class="c-Link_Txt-inline">Rakuten最強プランの申し込み方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
              </div>
            </div>
            <div class="c-Theme-Borderbox">
              <div class="u-Align_Lcc">
                <p class="<%= namespace %>-Utility_Icon-title"><span class="c-Icon_Paper-plane-l u-Adjust_Pr-8"></span><span class="c-Txt_Emp-01 u-Adjust_Align-left">楽天モバイル（ドコモ・au回線）から<br class="u-Show_Xxo">プラン変更（移行）</span></p>
                <p class="u-Adjust_Mt-24">
                  <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_extra-sim_ms&mno_migration=1" class="c-Btn_Secondly-large top-Description_Btn-text">
                    <span>メンバーズステーションから<br class="<%= namespace %>-Utility_Br-pc">プラン変更（移行）する</span>
                  </a>
                </p>
                <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/migration/?l-id=campaign_extra-sim_guide_migration" class="c-Link_Txt-inline">スーパーホーダイ・組み合わせプラン（※）との比較<span class="c-Icon_Chevron-right"></span></a></p>
                <p class="u-Adjust_Mt-0 c-Txt_Cap">※2020年4月8日に受付終了のドコモ回線・au回線使用プラン</p>
                <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/mnp/migration/?l-id=campaign_extra-sim_guide_mnp_migration" class="c-Link_Txt-inline">楽天モバイル（楽天回線）への移行方法<span class="c-Icon_Chevron-right"></span></a></p>
                <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>flow/mvno-user-registration/?l-id=campaign_extra-sim_flow_mvno-user-registration" class="c-Link_Txt-inline">利用者登録をされている方の移行方法 <span class="c-Icon_Chevron-right"></span></a></p>
              </div>
            </div>
          </div>
        </div>

        <!--  -->
        <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
          <div class="l-Media_Grid u-Adjust_Mt-24">
            <div class="l-Media_Image c-Flow_Image">
              <img src="<%= sitepath %>assets/img/campaign/extra-sim/img-flow-shop.png" width="329" height="159" alt="">
            </div>
            <div>
              <div class="u-Align_Ccl u-Adjust_Mt-24">
                <a href="<%= sitepath %>shop/?l-id=campaign_extra-sim_shop" class="c-Btn_Regular <%= namespace %>-Layout_Btn">お近くのショップを探す</a>
              </div>
            </div>
          </div>

          <div class="c-Theme-Borderbox u-Adjust_Mt-24">
            <div class="l-Media_Grid" style="align-items: center;">
              <div class="l-Media_Image c-Flow_Image">
                <picture>
                  <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/extra-sim/img-06-sp.png" width="232">
                  <img src="<%= sitepath %>assets/img/campaign/extra-sim/img-06-pc.png" width="280" height="180" alt="">
                </picture>
              </div>
              <div>
                <p class="c-Txt_Emp-01">お申し込みに必要なもの</p>
                <ul class="c-List_Text-disc u-Adjust_Mt-16">
                  <li class="u-Adjust_Mt-8">
                    <a href="<%= sitepath %>guide/verify/?l-id=campaign_extra-sim_guide_verify_shop" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a>
                  </li>
                  <li class="u-Adjust_Mt-8">楽天会員ID、パスワード</li>
                  <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/?l-id=campaign_extra-sim_guide_payment_shop" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a></li>
                  <li class="u-Adjust_Mt-8">ご契約者名義の<a href="<%= sitepath %>guide/mnp/?l-id=campaign_extra-sim_guide_mnp_shop">MNP予約番号</a>（他社から乗り換えの場合）</li>
                </ul>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_extra-sim_flow_for-minors_shop">未成年の方のお申し込み方法はこちら</a></p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※ショップでのお手続きは、ワンストップ対象の他社からの転入であっても、MNP予約番号を取得のうえ、ご来店ください。</p>
              </div>
            </div>
          </div>
        </div>
        <!--  -->
      </div>
    </div>

    <div class="<%= namespace %>-Layout_Cta u-Adjust_Mt-48">
      <div class="l-System_Container">
        <h3 class="c-Heading_Lv3">＼まずはエントリー！／</h3>
        <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">【エントリー期間】</span><br class="u-Show_Oox">2023年4月14日（金）9:00～2023年10月31日（火）23:59</p>
        <div class="u-Adjust_Mt-16">
          <button class="c-Btn_Primary" aria-disabled="true" disabled><span>エントリーする</span></button>
        </div>
      </div>
    </div>

    <div class="l-System_Container u-Adjust_Mt-48">
      <h2 class="c-Heading_Lv2 u-Adjust_Align-center">対象のAndroidご購入で最大29,000ポイント還元！</h2>
      <div class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>campaign/start-point/?l-id=campaign_extra-sim_campaign_start-point" class="c-Banner_Hover-act">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-start-point-343-108-230922.png" width="343" height="108">
            <img src="<%= sitepath %>assets/img/bnr/bnr-start-point-1032-160-230922.png" alt="スマホトク得乗り換えキャンペーン！最大29,000ポイント還元！" width="1032" height="160" loading="lazy">
          </picture>
        </a>
      </div>
    </div>

    <div class="l-System_Container u-Adjust_Mt-48">
      <h2 class="c-Heading_Lv2 u-Adjust_Align-center">よくあるご質問</h2>
      <div class="c-Accordion u-Adjust_Mt-24">
        <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーン対象になるためのエントリーは必要ですか</button>
        <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
          <p>
            本キャンペーンでは、<span class="c-Txt_Emp-02">お申し込みの前</span>に本キャンペーンページよりエントリーをする必要があります。<br>
            エントリー状況は、楽天PointClub内の「<a href="https://oubo.rakuten.co.jp/list" target="_blank" class="c-Link_Txt-inline-icon" rel="noopener">キャンペーンエントリー履歴<span class="c-Icon_New-window-l"></span></a>」からご確認いただけます。
          </p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※毎月エントリーが可能ですので、エントリー期間が楽天モバイルの申し込みを予定している月のエントリーであることをご確認ください。</p>
        </div>
      </div>
      <div class="c-Accordion">
        <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>どのような申し込み方法が本キャンペーンの対象になりますか</button>
        <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
          <p>下記のどちらかの条件に当てはまるお申し込みであれば対象になります。</p>
          <ol class="u-Adjust_Mt-8">
            <li>
              （1）「Rakuten最強プラン」を既に1回線以上ご利用中またはお申し込み中の方<br>
              　　　→2回線目以降を本キャンペーン経由でお申し込みされた場合
            </li>
            <li>
              （2）初めてRakuten最強プランにお申し込みされる方<br>
              　　　→同時に2回線以上をお申し込みされた場合
            </li>
          </ol>
          <p class="c-Txt_Cap u-Adjust_Mt-8">
            ※本キャンペーン適用には、お申し込み後にプランのご利用を開始する必要があります。<br>
            ※（1）ですでにお申し込み済みの回線をキャンセルした（利用開始しなかった）場合は、本キャンペーンで申し込んだ回線が1回線目となりますので、本キャンペーンは対象外となります。
          </p>
        </div>
      </div>
      <div class="c-Accordion">
        <button type="button" id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>エントリー月の末日までに申し込みができなかった場合はキャンペーン対象外ですか</button>
        <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
          <p> 対象外になります。<br>なお、エントリーは毎月行うことができますので、本キャンペーンを適用したい場合、再度エントリーしてお申し込みすることで本キャンペーンの対象となります。</p>
          <p class="c-Txt_Cap u-Adjust_Mt-8">※ただし、申し込み後のエントリーは無効ですので、必ずお申し込み前にエントリーしてください。</p>
        </div>
      </div>
      <div class="c-Accordion">
        <button type="button" id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>契約者変更手続き（譲渡）した場合、本キャンペーンが適用になりますか</button>
        <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
          <p>
            申し込んだ回線がルールを満たしていれば、利用開始後に契約者変更手続き（譲渡）がされた場合でも本キャンペーンの適用対象となります。<br>
            また、その際のポイント付与先は旧ご契約者様になります。
          </p>
        </div>
      </div>
    </div>

    <div class="u-Adjust_Mt-64">
      <%- include('/inc/_saikyo') %>
    </div>

    <div class="l-System_Container u-Adjust_Mt-64">

      <%- include('/include/_bnr-cpn-recommend-v2.ejs') %>

      <div id="campaign-rule" class="u-Adjust_Mt-64">

        <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1896', level: 'h2', year: '2023', class: 'u-Adjust_Mt-32', comments: `<p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-16 u-Adjust_Align-center">本キャンペーンは2023年10月31日23時59分をもちまして終了いたしました。<br>このページに掲載されている情報は、キャンペーン終了時点のものです。</p>` }}) %>

      </div>

      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace u-Adjust_Mt-48"></div>

    </div>

    <footer class="g-Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <%- include('/include/_breadcrumbs', {
          type: 'foot',
          pagetitle,
          directories,
        }) %>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>

  <!-- ReX UX Survey: Config -->
  <script>
  window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
  </script>
  <!-- ReX UX Survey: Script -->
  <script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>

</body>
</html>
