<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "スーパーセキュリティ マルチプラットフォーム版" -%>
<% const directories = [{path: hikariroot.path + "fee/", label:"料金"}, {path: hikariroot.path + "fee/pricelist/", label:"料金表・お支払い方法"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'セキュリティーソフトを3台まで利用できます。パソコン・スマートフォン・タブレットなど組み合わせ自由。未知のウイルスに強い特性を持ち、軽さと防御力を兼ね備えたソースネクスト社の製品です。',
    noindex: false,
    pathname: filepath,
    ishikari: true,
    canonical_custom: 'https://network.mobile.rakuten.co.jp/hikari/fee/option/super-security/'
  });
%>

<%- include('/include/hikari/_common-v2-hikari-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/fee/option/option.css?20240424">
<%- include('/include/_append-head-hikari') %>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>

<div class="l-System">

  <%- include('/hikari/include/_header', {
    headerType: 'normal',
    pagetitle: pagetitle,
    pathname: filepath,
    directories: directories
  }) %>



  <div class="l-hikari-Section_Main">
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1">スーパーセキュリティ マルチプラットフォーム版</h1>
      <div class="l-hikari-Section_Main-lead">
        <p>ビットディフェンダー・エンジン（Bitdefender Internet Security）を搭載で、防御力も軽さも備えたセキュリティソフトです。<br>
          Windows、Mac、Androidの組み合わせ自由に3台までご利用いただけます。</p>
        <dl class="c-Dl_Origin u-Adjust_Mt-32">
          <div>
            <dt>月額料金</dt>
            <dd>
              <p class="c-Txt_Emp">
                <span>3台まで12カ月間</span><span class="c-Txt_Normal-ll u-Adjust_Ml-8">無料</span>
              </p>
              <ul class="c-Txt_Cap u-Adjust_Mt-8">
                <li><span>※</span>無料期間経過後、自動的に有料（月額385円）サービスへ変更になります</li>
              </ul>
            </dd>
          </div>
        </dl>
      </div>

      <div class="l-hikari-Section_Sub-short">
        <h2 class="c-Heading_Lv2">未知ウイルスに強い先進技術</h2>

        <div class="l-Media_Grid l-hikari-Section_Sub-content-tall">
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/hikari/fee/option/super-security/img01.png?211114" alt="" width="328" height="191">
          </div>
          <div>
            <h3 class="c-Heading_Lv3">危険な動作をその場で防御</h3>
            <p class="l-hikari-Section_Sub-content-short">ビットディフェンダーは､ワクチン不要の「ふるまい検知」を開発したメーカー。その最新技術を駆使したATD（Advanced Threat Defense）は、パソコン内のプログラムを監視し、危険な動作をその場でブロックし、潜伏するタイプのウイルスにも安心です。<br>
              クラウド・ネットワークとATD。これらの多重的な防御が高レベルの安全を実現します。</p>
          </div>
        </div>

        <div class="l-Media_Grid l-hikari-Section_Sub-content-tall">
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/hikari/fee/option/super-security/img02.png?211114" alt="" width="328" height="155">
          </div>
          <div>
            <h3 class="c-Heading_Lv3">身代金ウイルス（ランサムウェア）への防御力を強化</h3>
            <p class="l-hikari-Section_Sub-content-short">ビットディフェンダー製品は、近年猛威を振るった身代金ウイルスも話題になる前から検知していますが、さらなる安全のためにさまざまな機能の強化や追加が図られています。</p>
          </div>
        </div>

        <div class="l-Media_Grid l-hikari-Section_Sub-content-tall">
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/hikari/fee/option/super-security/img03.png?211114" alt="" width="328" height="168">
          </div>
          <div>
            <h3 class="c-Heading_Lv3">防御力と軽さの両立</h3>
            <p class="l-hikari-Section_Sub-content-short">ビットディフェンダー・エンジンは、軽さでも高い評価を受けています。ムダな検査を徹底的に省き、狙われやすいところを集中監視したり、ユーザーの作業にパワーを多く配分します。それが軽さの理由です。</p>
          </div>
        </div>
      </div>

      <div class="l-hikari-Section_Sub-short">
        <h2 class="c-Heading_Lv2">その他機能</h2>

        <div class="l-Media_Grid l-hikari-Section_Sub-content-short">
          <p>ネットバンキングやショッピング、インターネット、Wi-Fiを安心してお使いいただける機能や、パスワード管理、迷惑メールの自動振り分けなど、あなたがお使いになる端末を脅威から守ります。<br>
            最新のサービス詳細は、ソースネクスト社のWebサイト「ZEROスーパーセキュリティ」ページをご確認ください。
          </p>
          <p class="u-Adjust_Mt-16">
            <a href="https://www.sourcenext.com/product/security/zero-super-security/" target="_blank" rel="noopener noreferrer" class="c-Link_Txt-inline">ZEROスーパーセキュリティの詳細を見る<span class="c-Icon_New-window-l"></span></a>
          </p>
          <p class="c-Txt_Cap u-Adjust_Mt-8">※ 対応OSについては「ZEROスーパーセキュリティ」とは異なり、「スーパーセキュリティ マルチプラットフォーム版」はiOS非対応です。</p>
        </div>
      </div>

      <div class="l-hikari-Section_Sub-tall">
        <div class="c-Accordion">
          <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>動作環境</button>
          <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
            <dl class="c-Dl_Origin">
              <div>
                <dt>対応OS</dt>
                <dd>
                  <ul class="c-List_Text-disc">
                    <li>Windows® 11</li>
                    <li>Windows® 10（32ビット/64ビット版）</li>
                    <li>macOS Monterey（v12.0）</li>
                    <li>macOS Big Sur（v11.0）</li>
                    <li>macOS Catalina（v10.15）</li>
                    <li>macOS Mojave（v10.14）</li>
                    <li>macOS High Sierra（v10.13）</li>
                    <li>Android OS 5.0以上を搭載した機種</li>
                  </ul>
                </dd>
              </div>
              <div>
                <dt>Windows版の動作環境</dt>
                <dd>
                  <ul class="c-List_Text-disc">
                    <li>CPU： 1GHz以上</li>
                    <li>推奨メモリ容量： 1GB以上</li>
                    <li>ハードディスク空き容量： 800MB以上推奨</li>
                    <li>インストール容量： 約500MB</li>
                    <li>インターネットが使えること</li>
                    <li>メールアドレスが必要</li>
                    <li>最新のサービスパック、セキュリティ修正プログラムを適用済みであること</li>
                  </ul>
                </dd>
              </div>
              <div>
                <dt>Windows版の注意事項</dt>
                <dd>
                  <ul class="c-List_Text-disc">
                    <li>迷惑メール対策機能のプラグイン対応ソフト
                      <ul class="c-List_Text-disc">
                        <li>Outlook 2013/2016/2019</li>
                        <li>Thunderbird</li>
                      </ul>
                    </li>
                    <li>SNS保護、ペアレンタルコントロール、サーチアドバイザ機能の対応ソフト
                      <ul class="c-List_Text-disc">
                        <li>Internet Explorer 10以上</li>
                        <li>Firefox</li>
                        <li>Google Chrome</li>
                        <li>Microsoft Edge（パスワード管理機能はMicrosoft Edgeには非対応）</li>
                      </ul>
                    </li>
                    <li>同種製品との併用はできません。</li>
                  </ul>
                </dd>
              </div>
              <div>
                <dt>Android版の注意事項</dt>
                <dd>
                  <ul class="c-List_Text-disc">
                    <li>本製品をインストールするには、Google Playストアアプリが必要です。</li>
                    <li>盗難対策機能を利用するには、スマートフォンの「位置情報サービス」が有効に設定されている必要があります。</li>
                    <li>EMUIなどのAndroidベースの独自OSは動作保証対象外、サポート対象外です。</li>
                    <li>Fire OSは非対応です。</li>
                  </ul>
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="c-Accordion">
          <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>注意事項</button>
          <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
            <ul class="c-List_Text-disc">
              <li>本製品は、1シリアルにつき、合計で3台までのパソコン（Windows、Mac）・タブレット・スマートフォンにインストール可能となります。詳細は、お申し込み前に表示される「使用許諾条件書」にてご確認ください。</li>
              <li>無料期間経過後は自動的に有料サービス（月額385円）へ変更となり、楽天モバイルより料金を別途請求させていただきます。</li>
              <li>インストール型コンピューターウィルス対策ソフトウェアとは併用できません。お申し込み後、ご用途に応じてWindows用（約500MB）、Mac用（200MB以上）Android用（約5MB）、それぞれのソフトウエアをダウンロードしていただきます。ダウンロードにはお時間がかかりますので、あらかじめご了承ください。</li>
              <li>インストール方法は、ダウンロードされたソフトに含まれている、インストール方法説明書（PDFファイル）に記載しておりますので、ご一読ください。</li>
              <li>解約は楽天ブロードバンドカスタマーセンターにて承ります。解約の締め切りは、毎月25日までとなります。25日までに弊社で受理した解約申請は、当月末をもって解約となります。なお、26日以降の解約申請は翌月末での解約となり、翌月末までのご利用料金が発生します。<br><br>
              楽天ブロードバンドカスタマーセンター<br>
              0120-987-300<br>
              受付時間：9:00-18:00（年中無休）</li>
            </ul>
          </div>
        </div>

        <div class="c-Accordion">
          <button id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>お問い合わせ窓口</button>
          <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
            <p>「スーパーセキュリティ マルチプラットフォーム版」月額サービスの機能および操作に関するお問い合わせ</p>
            <dl class="c-List_Dl-origin u-Adjust_Mt-16">
              <div>
                  <dt>「スーパーセキュリティ」専用窓口</dt>
                  <dd>
                    電話番号：<a href="tel:0570-002-208" class="c-Link_Txt">0570-002-208</a><br>
                    （IP電話の場合：<a href="tel:082-553-1083" class="c-Link_Txt">082-553-1083</a>）<br>
                    受付時間：10:00～18:00（年中無休）
                  </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>

    <div class="hikari-option-Layout_Ms">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv3">オプションのお申し込みはメンバーズステーションへ</h2>
        <div class="hikari-option-Layout_Ms-body">
          <p>メンバーズステーションにログイン後、会員メニュー＞オプションサービスの申し込み＞スーパーセキュリティーサービス、よりお手続きください。</p>
          <div class="u-Adjust_Mt-24">
            <a href="https://ms.fusioncom.co.jp/rbb/members/login?campaign=web-rakuten" target="_blank" class="c-Btn_Primary-large">
              <span><span>メンバーズステーションへログイン</span><span class="c-Icon_Login-l c-Btn_Icon-end"></span></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="g-Footer">
    <%- include('/hikari/include/_footer', {
      pagetitle: pagetitle,
      directories: directories,
      // hiddenFooterCtaText: hiddenFooterCtaText,
      // hiddenFooterCtaLink: hiddenFooterCtaLink,
      hiddenFooterCta: true,
      // hiddenMenu: true,
      // hiddenPopask: true,
      // hiddenBacktop: true,
      // hiddenBreadcrumbs: true,
    }) %>
  </footer>

</div>
<%- include('/include/hikari/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
