<% const pagetitle = "楽天イーグルス感謝祭！抽選で1,500名様に総額100万円分プレゼント" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "eagles-member" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '楽天イーグルス感謝祭開催中！Rakuten UN-LIMIT VIIご契約者限定！抽選で楽天イーグルス選手直筆サイン入りグッズなど1,500名様に総額100万円分の景品がプレゼントされるキャンペーンです',
  keywords: '',
  noindex: true,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/eagles/member/eagles-member.css?20240424">
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
  function isChecked(el) {
    if (el.length) {
      for (var i = 0; i < el.length; i++) {
        if (el[i].checked) {
          return true;
        }
      }
    } else {
      if (el.checked) {
        return true;
      }
    }
    return false;
  }
  function checkForm() {
    var el;
    var obj = document.enenForm;
    el = obj.elements['answers[38339_262611]'];
    if (!isChecked(el)) {
      alert("ご希望のプレゼントを選択してください。");
      return false;
    }
  }
</script>

</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>

    <div class="l-System_Container">
      <ul class="c-Label_List <%= namespace %>-Hero_Label-list">
        <li class="c-Label_Normal">全会員様対象</li>
        <li class="<%= namespace %>-Hero_Label-list-nolabel">ポイント：付与日を含めて6カ月の期間限定ポイント</li>
      </ul>
    </div>

    <div class="<%= namespace %>-Hero">
      <div class="<%= namespace %>-Hero_Container">
        <div class="<%= namespace %>-Hero_Main">
          <h1>
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/eagles/member/img-hero-logo-sp.png">
              <img src="<%= sitepath %>assets/img/campaign/eagles/member/img-hero-logo.png" alt="楽天イーグルス感謝祭" width="1007" height="85">
            </picture>
          </h1>
          <p>
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/eagles/member/img-hero-label-sp.png">
              <img src="<%= sitepath %>assets/img/campaign/eagles/member/img-hero-label.png" alt="Rakuten UN-LIMIT VII ご契約者様限定" width="465" height="41">
            </picture>
          </p>
          <p>
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/eagles/member/img-hero-catch-sp.png">
              <img src="<%= sitepath %>assets/img/campaign/eagles/member/img-hero-catch.png" alt="抽選で1,500名様に、総額100万円分プレゼント！GETのチャンスは2回！" width="879" height="54">
            </picture>
          </p>

          <ul class="<%= namespace %>-Hero_List">
            <li class="<%= namespace %>-Hero_Card">
              <dl>
                <dt class="<%= namespace %>-Hero_Card-title">
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/eagles/member/img-hero-title01-sp.png">
                    <img src="<%= sitepath %>assets/img/campaign/eagles/member/img-hero-title01.png" alt="チャンス1 楽天モバイル3GB超 利用で" width="392" height="42">
                  </picture>
                </dt>
                <dd class="<%= namespace %>-Hero_Card-body">
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/eagles/member/img-hero-card01-sp.png">
                    <img src="<%= sitepath %>assets/img/campaign/eagles/member/img-hero-card01.png" alt="">
                  </picture>
                  <a href="#chance1" class="c-Banner_Hover-act">
                    <picture>
                      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/eagles/member/eagles-member-btn-sp.png">
                      <img src="<%= sitepath %>assets/img/campaign/eagles/member/eagles-member-btn.png" alt="詳しく見る" width="180" height="27" class="u-Adjust_Mt-8">
                    </picture>
                  </a>
                </dd>
              </dl>
            </li>
            <li class="<%= namespace %>-Hero_Card">
              <dl>
                <dt class="<%= namespace %>-Hero_Card-title">
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/eagles/member/img-hero-title02-sp.png">
                    <img src="<%= sitepath %>assets/img/campaign/eagles/member/img-hero-title02.png" alt="チャンス2 分（標準）通話かけ放題を初めてお申し込みで" width="332" height="56">
                  </picture>
                </dt>
                <dd class="<%= namespace %>-Hero_Card-body">
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/eagles/member/img-hero-card02-sp.png">
                    <img src="<%= sitepath %>assets/img/campaign/eagles/member/img-hero-card02.png" alt="">
                  </picture>
                  <a href="#chance2" class="c-Banner_Hover-act">
                    <picture>
                      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/eagles/member/eagles-member-btn-sp.png">
                      <img src="<%= sitepath %>assets/img/campaign/eagles/member/eagles-member-btn.png" alt="詳しく見る" width="180" height="27" class="u-Adjust_Mt-8">
                    </picture>
                  </a>
                </dd>
              </dl>
            </li>
          </ul>
          <p class="<%= namespace %>-Hero_Txt-cap">
            ※イメージです ※サインを入れる選手は指定できません <br class="<%= namespace %>-Utility_Br-sp">※応募が必要となります ※各種条件あり
          </p>
        </div>
      </div>
    </div>

    <nav id="js-nav-sticky" class="<%= namespace %>-Layout_Nav-sticky" aria-hidden="true">
      <ul>
        <li>
          <a href="#chance1">
            <span>
              <img src="<%= sitepath %>assets/img/campaign/eagles/member/chance1.svg" alt="チャンス1" width="73" height="22">
            </span>
            <span class="<%= namespace %>-Layout_Nav-sticky-txt">データ利用で豪華景品プレゼント</span>
          </a>
        </li>
        <li>
          <a href="#chance2">
            <span>
              <img src="<%= sitepath %>assets/img/campaign/eagles/member/chance2.svg" alt="チャンス2" width="77" height="22">
            </span>
            <span class="<%= namespace %>-Layout_Nav-sticky-txt">オプションお申し込みで豪華景品プレゼント</span>
          </a>
        </li>
      </ul>
    </nav>

    <div id="js-sticky-start" class="l-System_Container u-Adjust_Mt-24">
      <p class="c-Txt_Normal-xl c-Txt_Emp-02 u-Adjust_Mt-16 u-Adjust_Mb-16 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
      <p class="<%= namespace %>-Utility_Left-sp">
        【開催期間】 2022年10月26日（水）10:00 ～ 10月31日（月）23:59
      </p>
    </div>

    <h2 id="chance1" class="<%= namespace %>-Heading_l u-Adjust_Mt-32">
      <span class="<%= namespace %>-Heading_icon"><img src="<%= sitepath %>assets/img/campaign/eagles/member/eagles-member-icon-01.png" alt="チャンス1" width="98"></span>
      <span>
        楽天モバイル3GB超 利用! <br class="<%= namespace %>-Utility_Br-sp">抽選で豪華景品プレゼント
      </span>
    </h2>

  <div class="l-System_Container u-Adjust_Mt-24">
    <div class="c-Theme-Borderbox">
      <form action="https://form.rakuten.co.jp/ans/apply/38339" name="enenForm" method="POST" onsubmit="return checkForm()">
        <div class="l-Media_Grid-half">
          <div class="<%= namespace %>-Lightbox">
            <h4 class="<%= namespace %>-Heading_s">【1】3GB超 達成コース</h4>
            <div class="c-Theme-Light <%= namespace %>-Lightbox_Top">
              <label for="a726688" class="c-Form_Radio">
                <input type=radio name="answers[38339_262611]" id="a726688" value="726688">
                <span class="c-Form_Radio-icon"></span>
                <span class="c-Form_Radio-label c-Txt_Emp-01">チケットホルダー（400名様）</span>
              </label>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/campaign/eagles/member/eagles-member-item01.png" alt="" width="130" class="<%= namespace %>-Lightbox_Img">
              </div>
            </div>

            <div class="c-Theme-Light <%= namespace %>-Lightbox_Bottom">
              <label for="a726689" class="c-Form_Radio">
                <input type=radio name="answers[38339_262611]" id="a726689" value="726689">
                <span class="c-Form_Radio-icon"></span>
                <span class="c-Form_Radio-label">
                  <span class="c-Txt_Emp-01">楽天ポイント500ポイント（500名様）</span><br>
                  <span class="c-Txt_Cap">※期間限定ポイント</span>
                </span>
              </label>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/campaign/eagles/member/eagles-member-item02.png" alt="" width="216" class="<%= namespace %>-Lightbox_Img">
              </div>
            </div>

          </div>
          <div class="<%= namespace %>-Lightbox">
            <h4 class="<%= namespace %>-Heading_s">【2】20GB超 達成コース</h4>
            <div class="c-Theme-Light <%= namespace %>-Lightbox_Top">
              <label for="a726690" class="c-Form_Radio">
                <input type=radio name="answers[38339_262611]" id="a726690" value="726690">
                <span class="c-Form_Radio-icon"></span>
                <span class="c-Form_Radio-label c-Txt_Emp-01">楽天イーグルス選手直筆サイン入りグッズ（計4名様）</span>
              </label>
              <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">
                ※画像はイメージです ※景品やサインを入れる選手の指定はできません
              </p>
              <ul class="<%= namespace %>-Lightbox_List u-Adjust_Align-center u-Adjust_Mt-16">
                <li>
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/eagles/member/eagles-member-item03-01-sp.png">
                    <img src="<%= sitepath %>assets/img/campaign/eagles/member/eagles-member-item03-01-pc.png" alt="" width="103">
                  </picture>
                  <p>楽天イーグルス選手直筆<br class="<%= namespace %>-Utility_Br-sp">サイン入りユニフォーム<br class="<%= namespace %>-Utility_Br-pc">（2名様）</p>
                </li>
                <li>
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/eagles/member/eagles-member-item03-02-sp.png">
                    <img src="<%= sitepath %>assets/img/campaign/eagles/member/eagles-member-item03-02-pc.png" alt="" width="112">
                  </picture>
                  <p>楽天イーグルス選手直筆<br>サイン入りボール<br class="<%= namespace %>-Utility_Br-pc">（2名様）</p>
                </li>
              </ul>
            </div>

            <div class="c-Theme-Light <%= namespace %>-Lightbox_Bottom <%= namespace %>-Layout_lastbox">
              <label for="a726691" class="c-Form_Radio">
                <input type=radio name="answers[38339_262611]" id="a726691" value="726691">
                <span class="c-Form_Radio-icon"></span>
                <span class="c-Form_Radio-label">
                  <span class="c-Txt_Emp-01">楽天ポイント1,500ポイント（100名様）</span><br>
                  <span class="c-Txt_Cap">※期間限定ポイント</span>
                </span>
              </label>
              <img src="<%= sitepath %>assets/img/campaign/eagles/member/eagles-member-item04.png" alt="" width="85">
            </div>
          </div>
        </div>
        <p class="u-Adjust_Mt-24 u-Adjust_Align-center c-Txt_Emp-02">
          ※ご応募は上記のいずれか1点、おひとり様1回限り<br>
          ※10月または11月分のデータ利用量が条件を達成した場合に抽選対象となります
        </p>
        <input type="hidden" name="c" value="楽天">
        <input type="hidden" name="l" value="ja">

        <p class="c-Txt_Normal-xl c-Txt_Emp-02 u-Adjust_Mt-16 u-Adjust_Mb-16 u-Adjust_Align-center"> 終了しました</p>
        <p class="u-Adjust_Mt-16 <%= namespace %>-Utility_Left-sp">
          【応募期間】 2022年10月26日（水）10:00 ～ 10月31日（月）23:59
        </p>
      </form>

      <p class="u-Adjust_Mt-16 <%= namespace %>-Utility_Flex-center">
        <a href="#campaign-rule" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルール</a>
      </p>
    </div>

    <div class="u-Adjust_Mt-32 c-Theme-Borderbox">
      <h3 id="anc01" class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンの<span class="txt_nl">達成条件</span></h3>
      <p class="u-Adjust_Mt-16 <%= namespace %>-Utility_Left-sp">本キャンペーンには達成条件が設定されています。詳細は<a class="accordion9_opan" href="#campaign-rule">キャンペーンルール</a>をご確認ください。</p>

      <ul class="<%= namespace %>-Campaign_Conditions-list u-Adjust_Mt-16">
        <li class="c-Theme-Light <%= namespace %>-Campaign_Conditions-item <%= namespace %>-Campaign_Conditions-grid">
          <div class="<%= namespace %>-Campaign_Conditions-grid-image">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/eagles/member/img-illust-01-sp.png">
              <img src="<%= sitepath %>assets/img/campaign/eagles/member/img-illust-01.png" alt="" width="120" height="120">
            </picture>
          </div>
          <h4 class="c-Heading_Lv4 <%= namespace %>-Campaign_Conditions-grid-title">プレゼントに応募する</h4>
          <p class="u-Adjust_Mt-8 <%= namespace %>-Campaign_Conditions-grid-txt">
            <a href="#chance1" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-up-l"></span>応募はこちら</a>
          </p>
        </li>
        <li class="c-Theme-Light <%= namespace %>-Campaign_Conditions-item <%= namespace %>-Campaign_Conditions-grid">
          <div class="<%= namespace %>-Campaign_Conditions-grid-image">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/eagles/member/img-illust-02-sp.png">
              <img src="<%= sitepath %>assets/img/campaign/eagles/member/img-illust-02.png" alt="" width="120" height="120">
            </picture>
          </div>
          <h4 class="c-Heading_Lv4 <%= namespace %>-Campaign_Conditions-grid-title">応募したコースの<br class="<%= namespace %>-Utility_Br-pc">データ利用量を達成</h4>
          <div class="<%= namespace %>-Campaign_Conditions-grid-txt">
            <p class="u-Adjust_Mt-8">
              ※10月または11月分のデータ利用量が対象
            </p>
            <p class="u-Adjust_Mt-8">
              <a href="<%= sitepath %>guide/data-traffic/?l-id=campaign_eagles_member_guide_data-traffic" class="c-Link_Txt-inline">データ利用量の確認方法はこちら<span class="c-Icon_Chevron-right"></span></a>
            </p>
          </div>
        </li>
      </ul>
    </div>

    <div class="u-Adjust_Mt-56 c-Theme-Borderbox <%= namespace %>-Flow_Arrow-to">
      <div class="l-Media_Grid">
        <div class="l-Media_Image">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/eagles/member/img-illust-03-sp.png">
            <img src="<%= sitepath %>assets/img/campaign/eagles/member/img-illust-03.png" alt="" width="304" height="156">
          </picture>
        </div>
        <div>
          <h4 class="<%= namespace %>-Heading_Lv4 c-Txt_Emp-02">抽選で豪華景品プレゼント</h4>
          <p class="u-Adjust_Mt-8">当選者には2023年1月末日ごろに景品の発送、または期間限定ポイントの付与をもってお知らせとなります。景品は楽天モバイルにご登録の氏名・契約者住所に発送しますので、ご登録情報にお間違いがないかご確認ください。</p>
          <p class="u-Adjust_Mt-8">
            <a href="<%= sitepath %>guide/change-address/?l-id=campaign_eagles_member_guide_change-address" class="c-Link_Txt-inline">契約者住所の確認はこちら<span class="c-Icon_Chevron-right"></span></a>
          </p>
        </div>
      </div>
    </div>

    <div class="u-Adjust_Mt-56 c-Theme-Emphasis1 <%= namespace %>-Utility_Pos-relative">
      <div class="l-Media_Grid <%= namespace %>-Layout_Grid-adjust">
        <div class="l-Media_Image <%= namespace %>-Layout_Grid-adjust-img">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/eagles/member/img-illust-04-sp.png">
            <img src="<%= sitepath %>assets/img/campaign/eagles/member/img-illust-04.png" alt="" width="304" height="156">
          </picture>
        </div>
        <div>
          <dl class="<%= namespace %>-Layout_Grid-adjust-txt">
            <dt>
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/eagles/member/img-hukidashi-01-sp.png">
                <img src="<%= sitepath %>assets/img/campaign/eagles/member/img-hukidashi-01.png" alt="人気サービスのデータ利用量はこのくらい" width="360" height="56">
              </picture>
            </dt>
            <dd>
              <span>例えば、</span>
              <ul class="c-List_Text-disc">
                <li class="u-Adjust_Mt-0">2.5時間の映画をNetflixで1作品見ると、<span class="c-Txt_Emp-02">約2.5GB</span></li>
                <li class="u-Adjust_Mt-0">通学・通勤時間に約1時間YouTubeを見ると、<span class="c-Txt_Emp-02">約0.7GB</span></li>
                <li class="u-Adjust_Mt-0">1カ月に映画を3本、YouTubeを1日1時間（20日間）視聴した場合、<span class="c-Txt_Emp-02">約21.5GB</span></li>
              </ul>
              <p class="u-Adjust_Mt-16">スキマ時間に動画を楽しんで応募条件を達成できます！</p>
              <p class="u-Adjust_Mt-8">
                <a href="<%= sitepath %>guide/data-traffic/?l-id=campaign_eagles_member_guide_data-traffic" class="c-Link_Txt-inline">データ利用量の確認方法<span class="c-Icon_Chevron-right"></span></a>
              </p>
            </dd>
          </dl>
        </div>
      </div>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/eagles/member/img-bnr-01-sp.png">
          <img src="<%= sitepath %>assets/img/campaign/eagles/member/img-bnr-01.png" alt="楽天回線エリアなら20GBを超えても2,980円/月（税込3,278円）※通話料等別" width="734" height="74">
        </picture>
      </p>
    </div>
  </div>

  <h2 id="chance2" class="<%= namespace %>-Heading_l u-Adjust_Mt-80">
    <span class="<%= namespace %>-Heading_icon"><img src="<%= sitepath %>assets/img/campaign/eagles/member/eagles-member-icon-03.png" alt="チャンス2" width="98"></span>
    <span>
      <span class="c-Txt_Normal-l">15分（標準）通話かけ放題を初めてお申し込み 抽選で</span>豪華景品プレゼント
    </span>
  </h2>

  <div class="l-System_Container">
    <div id="oubo03" class="u-Adjust_Align-center u-Adjust_Mt-32">
      <h3 class="<%= namespace %>-Heading_Chance-2">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/eagles/member/img-chance2-ttl-sp.png">
          <img src="<%= sitepath %>assets/img/campaign/eagles/member/img-chance2-ttl.png" alt="抽選で515Go!15分かけ放題!名様に当たる!豪華プレゼント一覧" width="670">
        </picture>
      </h3>

      <div class="c-Theme-Borderbox">
        <ul class="<%= namespace %>-List_Divider c-Theme-Light">
          <li>
            <div class="<%= namespace %>-List_Divider-img">
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/eagles/member/img-item01-sp.png">
                <img src="<%= sitepath %>assets/img/campaign/eagles/member/img-item01.png" alt="">
              </picture>
            </div>
            <p class="u-Adjust_Mt-8 c-Txt_Emp-01">楽天イーグルス選手直筆<br>サイン入りユニフォーム(1名様)</p>
          </li>
          <li>
            <div class="<%= namespace %>-List_Divider-img">
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/eagles/member/img-item02-sp.png">
                <img src="<%= sitepath %>assets/img/campaign/eagles/member/img-item02.png" alt="">
              </picture>
            </div>
            <p class="u-Adjust_Mt-8 c-Txt_Emp-01">楽天イーグルス選手直筆<br>サイン入りキャップ（2名様）</p>
          </li>
          <li>
            <div class="<%= namespace %>-List_Divider-img">
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/eagles/member/img-item03-sp.png">
                <img src="<%= sitepath %>assets/img/campaign/eagles/member/img-item03.png" alt="">
              </picture>
            </div>
            <p class="u-Adjust_Mt-8 c-Txt_Emp-01">楽天イーグルス選手直筆<br>サイン入りボール（1名様）</p>
          </li>
          <li>
            <div class="<%= namespace %>-List_Divider-img">
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/eagles/member/img-item04-sp.png">
                <img src="<%= sitepath %>assets/img/campaign/eagles/member/img-item04.png" alt="">
              </picture>
            </div>
            <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">楽天ポイント1,000ポイント<br>（511名様）</span> <span class="c-Txt_Cap">※期間限定ポイント</span></p>
          </li>
        </ul>
        <p class="u-Adjust_Mt-16 c-Txt_Emp-02">※画像はイメージです ※景品やサインを入れる選手の指定はできません</p>

        <p class="c-Txt_Normal-xl c-Txt_Emp-02 u-Adjust_Mt-16 u-Adjust_Mb-16 u-Adjust_Align-center"> 終了しました</p>

        <p class="u-Adjust_Mt-16 <%= namespace %>-Utility_Left-sp">
          【応募期間】 2022年10月26日（水）10:00 ～ 10月31日（月）23:59
        </p>

        <p class="u-Adjust_Mt-16 <%= namespace %>-Utility_Flex-center">
          <a href="#campaign-rule" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルール</a>
        </p>
      </div>
    </div>

    <div class="u-Adjust_Mt-32 c-Theme-Borderbox">
      <h3 class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンの<span class="txt_nl">達成条件</span></h3>
      <p class="u-Adjust_Mt-16 <%= namespace %>-Utility_Left-sp">本キャンペーンには達成条件が設定されています。詳細は<a class="accordion9_opan" href="#campaign-rule">キャンペーンルール</a>をご確認ください。</p>

      <ul class="<%= namespace %>-Campaign_Conditions-list u-Adjust_Mt-16">
        <li class="c-Theme-Light <%= namespace %>-Campaign_Conditions-item <%= namespace %>-Campaign_Conditions-grid">
          <div class="<%= namespace %>-Campaign_Conditions-grid-image">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/eagles/member/img-illust-01-sp.png">
              <img src="<%= sitepath %>assets/img/campaign/eagles/member/img-illust-01.png" alt="" width="120" height="120">
            </picture>
          </div>
          <h4 class="c-Heading_Lv4 <%= namespace %>-Campaign_Conditions-grid-title">プレゼントに応募する</h4>
          <p class="u-Adjust_Mt-8 <%= namespace %>-Campaign_Conditions-grid-txt">
            <a href="#chance2" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-up-l"></span>応募はこちら</a>
          </p>
        </li>
        <li class="c-Theme-Light <%= namespace %>-Campaign_Conditions-item <%= namespace %>-Campaign_Conditions-grid">
          <div class="<%= namespace %>-Campaign_Conditions-grid-image">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/eagles/member/img-illust-05-sp.png">
              <img src="<%= sitepath %>assets/img/campaign/eagles/member/img-illust-05.png" alt="" width="120" height="120">
            </picture>
          </div>
          <h4 class="c-Heading_Lv4 <%= namespace %>-Campaign_Conditions-grid-title">「15分（標準）通話かけ放題」に初めてお申し込む</h4>
          <div class="<%= namespace %>-Campaign_Conditions-grid-txt">
            <p class="u-Adjust_Mt-8">
              <a href="<%= sitepath %>service/standard-free-call/?l-id=campaign_eagles_member_service_standard-free-call" class="c-Link_Txt-inline">詳しくはこちら<span class="c-Icon_Chevron-right"></span></a>
            </p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap">
              ※過去に同サービスまたは「10分（標準）通話かけ放題」へのお申し込み履歴があるお客様は対象外
            </p>
          </div>
        </li>
      </ul>
    </div>

    <div class="u-Adjust_Mt-56 c-Theme-Borderbox <%= namespace %>-Flow_Arrow-to">
      <div class="l-Media_Grid">
        <div class="l-Media_Image">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/eagles/member/img-illust-03-sp.png">
            <img src="<%= sitepath %>assets/img/campaign/eagles/member/img-illust-03.png" alt="" width="304" height="156">
          </picture>
        </div>
        <div class="_sample-bg">
          <h4 class="<%= namespace %>-Heading_Lv4 c-Txt_Emp-02">抽選で豪華景品プレゼント</h4>
          <p class="u-Adjust_Mt-8">当選者には2023年1月末日ごろに景品の発送、または期間限定ポイントの付与をもってお知らせとなります。景品は楽天モバイルにご登録の氏名・契約者住所に発送しますので、ご登録情報にお間違いがないかご確認ください。</p>
          <p class="u-Adjust_Mt-8">
            <a href="<%= sitepath %>guide/change-address/?l-id=campaign_eagles_member_guide_change-address" class="c-Link_Txt-inline">契約者住所の確認はこちら<span class="c-Icon_Chevron-right"></span></a>
          </p>
        </div>
      </div>
    </div>

    <div class="u-Adjust_Mt-56 c-Theme-Emphasis1">
      <picture>
        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/eagles/member/img-hukidashi-02-sp.png">
        <img src="<%= sitepath %>assets/img/campaign/eagles/member/img-hukidashi-02.png" alt="15分（標準）通話かけ放題とは?" width="360" height="56" class="<%= namespace %>-Layout_Hukidashi">
      </picture>

      <ul class="<%= namespace %>-Layout_List <%= namespace %>-Utility_Mt-0-8">
        <li>
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/eagles/member/img-15min01-sp.png">
            <img src="<%= sitepath %>assets/img/campaign/eagles/member/img-15min01.png" alt="15分以内の国内通話が何度でもかけ放題 ※1回あたりの通話時間が15分を超過した場合、超過分については30秒20円（税込22円）の通話料がかかります。 ※一部対象外番号あり" width="312" height="275">
          </picture>
        </li>
        <li>
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/eagles/member/img-15min02-sp.png">
            <img src="<%= sitepath %>assets/img/campaign/eagles/member/img-15min02.png" alt="国内でのSMSが送信し放題 ※1日の送信上限があります。" width="312" height="275">
          </picture>
        </li>
        <li>
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/eagles/member/img-15min03-sp.png">
            <img src="<%= sitepath %>assets/img/campaign/eagles/member/img-15min03.png" alt="初めてのお申し込みで3カ月無料 1,100円/月→3ヵ月無料! ※一部対象外番号あり ※条件あり" width="312" height="275">
          </picture>
        </li>
      </ul>

      <div class="<%= namespace %>-Utility_Flex-center u-Adjust_Mt-16">
        <a href="<%= sitepath %>service/standard-free-call/?l-id=campaign_eagles_member_service_standard-free-call" class="c-Btn_Secondly"><span>15分（標準）通話かけ放題の詳細を見る</span></a>
      </div>
    </div>
  </div>


  <div class="l-System_Container">
    <h2 id="anc04" class="c-Heading_Lv2 u-Adjust_Mt-56 u-Adjust_Mb-16 u-Adjust_Align-center">よくあるご質問</h2>

    <p class="c-Txt_Emp-01 u-Adjust_Mt-24">■ 【楽天イーグルス感謝祭】楽天モバイル3GB超過で豪華景品プレゼント</p>
    <div class="_sample u-Adjust_Mt-16">
      <div class="c-Accordion">
        <button id="accordion-faq1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ポイントの付与はいつごろになりますか？</button>
        <div id="accordion-content-faq1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq1" aria-hidden="true">
          <p>2023年1月末日頃を予定しています。</p>
        </div>
      </div>
      <div class="c-Accordion">
        <button id="accordion-faq2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>景品の発送はいつごろになりますか？</button>
        <div id="accordion-content-faq2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq2" aria-hidden="true">
          <p>2023年1月末日頃を予定しています。</p>
        </div>
      </div>
      <div class="c-Accordion">
        <button id="accordion-faq3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>どの景品に応募したか確認することはできますか？</button>
        <div id="accordion-content-faq3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq3" aria-hidden="true">
          <p>申し訳ございませんが、確認することはできません。事前にお間違いがないかをご確認の上、ご応募ください。</p>
        </div>
      </div>
      <div class="c-Accordion">
        <button id="accordion-faq4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>パートナー回線でのデータ利用もキャンペーン条件のデータ利用量に含まれますか？</button>
        <div id="accordion-content-faq4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq4" aria-hidden="true">
          <p>はい、含まれます。データ利用量は<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile/">my 楽天モバイル</a>の「ホーム」、または「利用状況」からご確認いただけます。</p>
        </div>
      </div>
    </div>



    <p class="c-Txt_Emp-01 u-Adjust_Mt-40">■ 【楽天イーグルス感謝祭】 15分（標準）通話かけ放題に初めてお申し込みで豪華景品プレゼント</p>
    <div class="_sample u-Adjust_Mt-16">
      <div class="c-Accordion">
        <button id="accordion-faq5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>エントリーされているか、どこで確認できますか？</button>
        <div id="accordion-content-faq5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq5" aria-hidden="true">
          <p>楽天Pointclubの「<a href="https://oubo.rakuten.co.jp/list" class="c-Link_Txt">キャンペーンエントリー履歴</a>」から確認することができます。</p>
        </div>
      </div>
      <div class="c-Accordion">
        <button id="accordion-faq6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq6"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ポイントの付与はいつごろになりますか？</button>
        <div id="accordion-content-faq6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq6" aria-hidden="true">
          <p>2023年1月末日頃を予定しています。</p>
        </div>
      </div>
      <div class="c-Accordion">
        <button id="accordion-faq7" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq7"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>景品の発送はいつごろになりますか？</button>
        <div id="accordion-content-faq7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq7" aria-hidden="true">
          <p>2023年1月末日頃を予定しています。</p>
        </div>
      </div>
      <div class="c-Accordion">
        <button id="accordion-faq8" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq8"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>「10分（標準）通話かけ放題」を過去に申し込みしていた場合も対象ですか？</button>
        <div id="accordion-content-faq8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq8" aria-hidden="true">
          <p>「10分（標準）通話かけ放題」を過去に申し込みしていた場合は、対象外です。</p>
        </div>
      </div>
      <div class="c-Accordion">
        <button id="accordion-faq9" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq9"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>「15分（標準）通話かけ放題」に申込完了しているかどうかはどこで確認できますか？</button>
        <div id="accordion-content-faq9" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq9" aria-hidden="true">
          <p>「<a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Link_Txt">my 楽天モバイル</a>」からご確認いただけます。</p>
        </div>
      </div>
    </div>
  </div>

  <div class="<%= namespace %>-Layout_Entry-Area u-Adjust_Mt-64 u-Adjust_Align-center">
    <div>
      <a href="<%= sitepath %>campaign/eagles/?l-id=campaign_eagles_member_campaign_eagles" class="c-Banner_Hover-act">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/eagles/member/eagles-bnr-1-sp.png">
          <img src="<%= sitepath %>assets/img/campaign/eagles/member/eagles-bnr-1.png" alt="" width="700px">
        </picture>
      </a>
    </div>
    <div class="<%= namespace %>-Utility_Mt-24-32">
      <a href="https://event.rakuten.co.jp/group/eagles/thankscampaign/2022/?scid=wi_egl_cpn2022_mno_000" class="c-Banner_Hover-act">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/eagles/member/eagles-bnr-2-sp.png">
          <img src="<%= sitepath %>assets/img/campaign/eagles/member/eagles-bnr-2.png" alt="" width="700px">
        </picture>
      </a>
    </div>
  </div>

  <div class="l-System_Container u-Adjust_Mt-64 u-Adjust_Align-center">
    <%- include('/include/_bnr-cpn-recommend-v2.ejs') %>
  </div>

  <div class="l-System_Container">
    <div id="campaign-rule" class="<%= namespace %>-Layout_Rule u-Adjust_Mt-64">
      <h2>【楽天イーグルス感謝祭】楽天モバイル3GB超過で豪華景品プレゼント</h2>
      <div class="u-Adjust_Mt-24">
        <dl class="c-Dl_Origin <%= namespace %>-campaign-Rule">
          <dt>キャンペーンコード</dt>
          <dd>
            <p>1642</p>
            <ul class="c-Txt_Cap u-Adjust_Mt-8">
              <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
            </ul>
          </dd>
          <dt>キャンペーン期間</dt>
          <dd>
            <p class="c-Txt_Emp-01">■ エントリー期間</p>
            <p>2022年10月26日（水）10:00～2022年10月31日（月）23:59</p>
            <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■ データ利用期間</p>
            <p>2022年10月1日（土）0:00～2022年10月31日（月）23:59</p>
            <p>2022年11月1日（火）0:00～2022年11月30日（水）23:59</p>
          </dd>
          <dt>キャンペーン条件</dt>
          <dd>
            <p class="c-Txt_Emp-02">上記各項目の期間内に【1】、【2】、【3】の条件をすべて満たした楽天会員の方</p>
            <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【1】キャンペーンへのエントリー</span><br>
            　エントリー期間内に本キャンペーンページでエントリー<br>
            　3GB超過コース、または20GB超過コースからお好きな景品を選んでエントリーしてください
            </p>
            <p class="u-Adjust_Mt-8 c-Txt_Emp-01">【2】「Rakuten UN-LIMIT VII」ご利用中、または「Rakuten UN-LIMIT VII」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
            <p class="u-Adjust_Mt-8">（1）新規お申し込み</p>
            <p class="u-Adjust_Mt-8">（2）他社からの乗り換え（MNP）でお申し込み</p>
            <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
              <li><span>※</span> 楽天モバイル（旧FREETEL）通話SIMからの乗り換え（MNP）、DMMモバイル通話SIMからの乗り換え（MNP）の場合も含む</li>
            </ul>
            <p class="u-Adjust_Mt-8">（3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</p>
            <p class="u-Adjust_Mt-8 c-Txt_Emp-01">【3】キャンペーン対象となるデータ利用量を使用する</p>
            <p class="u-Adjust_Mt-8">
              キャンペーン開催月である10月1日から31日、または11月1日から30日までの各月のデータ利用量の通算で判定いたします<br>
              <span class="c-Txt_Cap">※ 上記のどちらかの月において対象となるデータ利用量を超えていた場合、本キャンペーンの対象となります</span>
            </p>
            <p class="u-Adjust_Mt-8">
              ご自身のデータ利用量はmy楽天モバイルの「ホーム」、または「利用状況」からご確認いただけます<br>
              <span class="c-Txt_Cap">※ my 楽天モバイルで表示されるデータ利用量は概算となり、実際のデータ利用量と異なる場合があります</span>
            </p>
            <p class="u-Adjust_Mt-8">
              キャンペーン対象となるデータ利用量は下記です<br>
              （1）500ポイントまたはチケットホルダー：3GBを超過した利用<br>
              （2）1,500ポイントまたはサイン入りユニフォームまたはサイン入りボール：20GBを超過した利用<br>
              <span class="c-Txt_Cap">※ 月を跨いでデータ通信を行った場合、当該通信は翌月分のデータ利用量として算定いたします。また、当月末日のデータ通信の一部は翌月分のデータ利用量として算定される場合がございます</span>
            </p>
          </dd>
          <dt>キャンペーン特典</dt>
          <dt class="<%= namespace %>-campaign-Rule_Title-sub">特典内容</dt>
          <dd>
            <p class="c-Txt_Emp-01">抽選で1,004名様に以下の景品をプレゼント</p>
            <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
              <li><span>※</span>当選は商品の発送・ポイントの付与をもってお知らせさせていただきます</li>
            </ul>
            <p class="u-Adjust_Mt-8">
              【3GB超過コース】<br>
              -500ポイント（500名様）<br>
              -チケットホルダー（400名様）
            </p>
            <p class="u-Adjust_Mt-8">
              【20GB超過コース】<br>
              -1,500ポイント（100名様）<br>
              -選手直筆サイン入りボール（2名様）または選手直筆サイン入りユニフォーム（2名様）
            </p>
            <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
              <li><span>※</span>選手を指定して応募することはできません</li>
            </ul>
          </dd>
          <dt class="<%= namespace %>-campaign-Rule_Title-sub">景品発送日</dt>
          <dd>
            <p class="c-Txt_Emp-01">2023年1月末日ごろに発送</p>
            <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
              <li><span>※</span>景品は、楽天モバイルにご登録いただいている氏名、住所に発送いたします</li>
              <li><span>※</span>配送先は、日本国内に限らせていただきます</li>
              <li><span>※</span>景品発送後のトラブルにつきましては、弊社は一切の責任を負いかねます</li>
              <li><span>※</span>宛先不明で返送された場合、当選は無効とさせていただきます</li>
              <li><span>※</span>権利の譲渡はできません</li>
            </ul>
          </dd>
          <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント付与日</dt>
          <dd>
            <p class="c-Txt_Emp-01">2023年1月末日ごろに付与</p>
            <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
              <li><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</li>
              <li><span>※</span>権利の譲渡はできません</li>
            </ul>
          </dd>
          <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント有効期間</dt>
          <dd>
            <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>

            <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
              <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" class="c-Link_Txt">期間限定ポイントについて</a></li>
              <li><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
            </ul>
          </dd>
          <dt>特典適用対象外</dt>
          <dd>
            <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
            <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
              <li><span>※</span>エントリーした楽天IDと異なる楽天IDに紐づく回線でデータ利用をした場合</li>
              <li><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
              <li><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
              <li><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
              <li><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
            </ul>
          </dd>
          <dt>注意事項</dt>
          <dd>
            <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap">
              <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
              <li><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
              <li><span>※</span>楽天グループの役職員及び関係者は応募できません</li>
              <li><span>※</span>繰り下げ当選は実施しません（例：サイン入りユニフォームを選択し、エントリーしていただいた場合→データ利用が20GB以下だった際は本キャンペーンの対象外となり、チケットホルダーに自動で繰り下がらない）</li>
              <li><span>※</span>おひとり様1回限り。複数回線でキャンペーン対象となるデータの利用があった場合も、一度のみのエントリー（抽選への応募）となります</li>
              <li><span>※</span>「Rakuten UN-LIMIT VII」のデータ利用量のみ対象となり、楽天モバイル（ドコモ回線・au回線）でのデータ利用は対象外となります</li>
              <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
              <li><span>※</span>記載の内容は2022年10月26日（水）時点の情報となります</li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>



    <div id="campaign-rule2" class="<%= namespace %>-Layout_Rule u-Adjust_Mt-64">
      <h2>【楽天イーグルス感謝祭】 15分（標準）通話かけ放題に初めてお申し込みで豪華景品プレゼント</h2>
      <div class="u-Adjust_Mt-24">
        <dl class="c-Dl_Origin <%= namespace %>-campaign-Rule">
          <dt>キャンペーンコード</dt>
          <dd>
            <p>1640</p>
            <ul class="c-Txt_Cap u-Adjust_Mt-8">
              <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
            </ul>
          </dd>
          <dt>キャンペーン期間</dt>
          <dd>
            <p class="c-Txt_Emp-01">■ お申し込み期間</p>
            <p>- Web　2022年10月26日（水）10:00　～　2022年10月31日（月）23:59</p>
            <p>- 店舗（楽天モバイルショップ）　2022年10月26日（水）10:00　～　2022年10月31日（月）閉店</p>
          </dd>
          <dt>キャンペーン条件</dt>
          <dd>
            <p class="c-Txt_Emp-02">上記キャンペーン期間内に【1】、【2】、【3】の条件を満たした楽天会員の方</p>
            <p class="u-Adjust_Mt-8 c-Txt_Emp-01">【1】「Rakuten UN-LIMIT VII」プランご利用中、または、キャンペーン期間中に「Rakuten UN-LIMIT VII」へのお申し込み＆プラン利用開始</p>
            <ul class="c-Txt_Cap u-Adjust_Mt-8">
              <li><span>※</span>本キャンペーン開始時点で「Rakuten UN-LIMIT VII」の未契約者である場合は、下記(1)-(3)いずれかの方法で「お申し込み」いただく必要があります</li>
            </ul>
            <p class="u-Adjust_Mt-8">
              （1） 新規お申し込み<br>
              （2） 他社からのMNPでお申し込み<br>
              （3） 楽天モバイル(ドコモ回線・au回線)の料金プランからプラン変更(移行)手続き後、お申し込み
            </p>
            <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
              <li><span>※</span>本キャンペーン開始前に楽天モバイル(Rakuten UN-LIMIT VI)をご利用の場合、キャンペーン開始と同時に「Rakuten UN-LIMIT VII」プランに移行しております</li>
            </ul>

            <p class="c-Txt_Emp-02 u-Adjust_Mt-16 c-Txt_Cap">
              【プラン利用開始とは】<br>
              - 新規お申し込みの場合 ※（1）（2）のいずれか早い方がプラン利用開始となります<br>
            （1）当社に配送完了データが通知されたこと<br>
            （2）プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになったこと
            </p>


            <p class="u-Adjust_Mt-8 c-Txt_Emp-01">【2】キャンペーンへのエントリー</p>
            <p class="u-Adjust_Mt-8">
              エントリー期間内に本キャンペーンページでエントリー
            </p>

            <p class="u-Adjust_Mt-8 c-Txt_Emp-01">【3】「15分（標準）通話かけ放題」オプションに、はじめてのお申し込み</p>

          </dd>
          <dt>キャンペーン特典</dt>
          <dt class="<%= namespace %>-campaign-Rule_Title-sub">特典内容</dt>
          <dd>
            <p class="c-Txt_Emp-01">抽選で、515名様に以下のいずれかの景品をプレゼント</p>

            <p>
              - 選手直筆サイン入りユニフォーム　ネーム＆ナンバー入り　（1名）<br>
              - 選手直筆サイン入りキャップ　（2名）<br>
              - 選手直筆サイン入りボール　（1名）<br>
              - 1,000円分相当の楽天ポイント　（511名）
            </p>

            <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
              <li><span>※</span>上記プレゼントの指定、選手を指定して応募することはできません</li>
              <li><span>※</span>当選者様は、楽天モバイルのスタッフが厳正なる抽選の上選定させていただきます</li>
              <li><span>※</span>楽天グループの役職員及び関係者は応募できません</li>
            </ul>
          </dd>
          <dt class="<%= namespace %>-campaign-Rule_Title-sub">景品の発送日</dt>
          <dd>
            <p class="c-Txt_Emp-01">2023年1月末日ごろに発送</p>
            <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
              <li><span>※</span>景品は、楽天モバイルにご登録いただいている氏名、住所に発送いたします</li>
              <li><span>※</span>配送先は、日本国内に限らせていただきます</li>
              <li><span>※</span>商品発送後のトラブルにつきましては、弊社は一切の責任を負いかねます</li>
              <li><span>※</span>宛先不明で返送された場合、当選は無効とさせていただきます</li>
            </ul>
          </dd>
          <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント付与日</dt>
          <dd>
            <p class="c-Txt_Emp-01">2023年1月末日ごろに付与</p>
            <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
              <li><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</li>
              <li><span>※</span>権利の譲渡はできません</li>
            </ul>
          </dd>
          <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント有効期間</dt>
          <dd>
            <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>

            <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
              <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" class="c-Link_Txt">期間限定ポイントについて</a></li>
              <li><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
            </ul>
          </dd>
          <dt>特典適用対象外</dt>
          <dd>
            <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
            <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
              <li><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
              <li><span>※</span>「15分（標準）通話かけ放題」オプションの<span class="c-Txt_Emp-01">申し込みがキャンセル</span>となった場合</li>
              <li><span>※</span>「Rakuten UN-LIMIT VII」のプランが利用開始されなかった場合</li>
              <li><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
              <li><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
              <li><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
            </ul>
          </dd>
          <dt>注意事項</dt>
          <dd>
            <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
              <li class="c-Txt_Emp-02"><span>※</span>本キャンペーンの抽選、当選結果等に関するお問い合わせにはお答えいたしかねます。あらかじめご了承ください</li>
              <li class="c-Txt_Emp-02"><span>※</span>選手直筆サイングッズの指定、選手を指定して応募することはできません</li>
              <li><span>※</span>本キャンペーンは「【15分（標準）通話かけ放題】料金3カ月無料特典」の併用が可能です</li>
              <li><span>※</span>当選は、お一人様一回までとなります</li>
              <li><span>※</span>当選の権利は、ご本人のみ有効とし、第三者への譲渡はできません</li>
              <li><span>※</span>本キャンペーンの特典をオークションに出品する等の転売行為は禁止いたします</li>
              <li><span>※</span>個人情報の取り扱いに関しては、当社のプライバシーポリシーに準じます</li>
              <li><span>※</span>楽天グループの役職員及び関係者は応募できません</li>
              <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
              <li><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法上・電気通信事業法上の範</li>囲内に制限される場合があります
              <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
              <li><span>※</span>記載の内容は2022年10月26日（水）時点の情報となります</li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>

  </div>

    <footer class="g-Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <script src="<%= sitepath %>assets/js/campaign.eagles-member.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>

<!-- ReX Campaign Entry Button: Configuration -->
<script>
var rexButtons = [{"wide":false,"showCelebration":false,"theme":"red","code":"/rmobile/freecall/campaign/eagleswin","ids":["rex-ceb-01", "rex-ceb-02"]}]
</script>
<!-- ReX Campaign Entry Button: Script -->
<script src="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/4.4.0/static/js/main.js" defer></script>


<script>
  setTimeout(function() {
		$(".RexButton-message").text("プレゼントに応募する")
	}, 1000);
</script>

</body>
</html>
