<% const pagetitle = "【楽天カード会員様限定】エントリー後、楽天モバイルお申し込みでもれなく2,000ポイントプレゼントキャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "rakuten-card" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '楽天モバイルお申し込みで、2,000円相当のポイントプレゼント！楽天モバイルにするなら今がチャンス！',
  keywords: '',
  noindex: true,
  pathname: filepath
});
%>
<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/rakuten-card/rakuten-card.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout-Label">
      <ul class="c-Label_List <%= namespace %>-Layout-Label_List">
        <li class="c-Label_Normal <%= namespace %>-Layout-Label_pink">対象者限定</li>
        <li class="c-Label_Normal <%= namespace %>-Layout-Label_pink">エントリー必要</li>
      </ul>
      <p class="<%= namespace %>-Layout-Label_link <%= namespace %>-Layout-Display_Pc"><a href="https://www.rakuten-card.co.jp/" class="c-Link_Txt-inline">楽天カードトップへ<span class="c-Icon_Chevron-right"></span></a></p>
      <p class="<%= namespace %>-Layout-Label_link <%= namespace %>-Layout-Display_Sp"><a href="https://www.rakuten-card.co.jp/" class="c-Link_Txt-inline">楽天カードトップへ<span class="c-Icon_Chevron-right"></span></a></p>
    </div>
    <div class="<%= namespace %>-Hero_Return">
      <div class="l-System_Container <%= namespace %>-Hero_Container">
        <div class="<%= namespace %>-Hero_Main">
          <h1><img src="<%= sitepath %>assets/img/campaign/rakuten-card/img-heading-pc.png" alt="エントリー後、オンラインで楽天モバイルお申し込みでもれなく2,000ポイントプレゼント" class="<%= namespace %>-Utility_Img-pc"><img src="<%= sitepath %>assets/img/campaign/rakuten-card/img-heading-sp.png" alt="" class="<%= namespace %>-Utility_Img-sp"></h1>
        </div>
      </div>
    </div>
    <div class="<%= namespace %>-Layout_Body">
          <div class="l-System_Container">
          <ul class="c-Txt_Cap">
            <li><span>※</span>付与されるポイントは期間限定ポイントになります。</li>
            <li><span>※</span>特典ポイント付与は2021年6月末日ごろとなります。</li>
            <li class="c-Txt_Emp-02"><span>※</span>楽天モバイルお申し込み後のエントリーは特典付与の対象外となります。</li>
            <li><span>※</span>本ページ内のエントリーボタンにてエントリーせずお申し込みされた場合は、本特典の対象外となります。</li>
            <li><span>※</span>付与されるポイントには条件がございます。詳しくは<a href="#campaign-rule" class="js-scroll">キャンペーン詳細</a>をご確認ください。</li>
          </ul>

          <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-48 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは終了しました。</p>

          <div class="l-System_Container <%= namespace %>-Layout-rakuten-card u-Adjust_Mt-48">
            <div class="<%= namespace %>-Layout-rakuten-card_Period">
              <dl>
                <dt>エントリー・<br class="<%= namespace %>-Layout-rakuten-card_Sp">楽天モバイル<br class="<%= namespace %>-Layout-rakuten-card_Sp">お申し込み期間</dt>
                <dd>2021年3月1日（月）9:00～2021年4月1日（木）8:59</dd>
              </dl>
              <dl>
                <dt>プラン利用開始期限<br class="<%= namespace %>-Layout-rakuten-card_Sp"></dt>
                <dd>2021年4月30日（金）23:59まで</dd>
              </dl>
            </div>
          </div>
          <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-40">
            <li><a href="#campaign-flow" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンの流れ</a></li>
            <li><a href="#campaign-rule" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルール</a></li>
          </ul>
        </div>


        <div class="l-System_Container">
          <h2 class="c-Heading_Lv2 u-Adjust_Mt-48" id="campaign-flow">キャンペーンの流れ</h2>
          <ul class="<%= namespace %>-Flow_List">
            <li>
              <h3 class="c-Heading_Lv3 u-Adjust_Mt-8 u-Adjust_Mb-16">このページからエントリー</h3>
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/rakuten-card/img-point-01.png?200717" alt="">
                </div>
                <div>
                  <p>2021年3月1日（月）9:00～2021年4月1日（木）8:59</p>
                  <p class="c-Txt_Emp-02 u-Adjust_Mt-16">※楽天モバイルお申し込み後のエントリーは特典付与の対象外となります。</p>
                </div>
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3 u-Adjust_Mt-8 u-Adjust_Mb-16">お申し込み・お支払いに必要なものを準備する</h3>
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/rakuten-card/img-point-02.png?200717" alt="">
                </div>
                <div>
                  <div class="u-Adjust_Mt-16">
                    <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc">
                      <li><a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-icon">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                      <li>楽天会員ログイン用のユーザID、パスワード
                        <p class="c-Txt_Emp-02 c-Txt_Normal-s u-Adjust_Mt-8">※本人確認書類の情報と、楽天会員情報が一致している必要があります。</p>
                        <a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Link_Txt-icon u-Adjust_Mt-8">楽天会員情報を確認・変更する<span class="c-Icon_Chevron-right"></span></a>
                      </li>
                      <li><a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-icon">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                        <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                          <span>※</span>ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="/faq/detail/00001238/">こちらのご案内ページ</a>を必ず事前にご確認ください。<br>
                        </p>
                      </li>
                      <li><a href="<%= sitepath %>guide/mnp/" class="c-Link_Txt-icon">ご契約者名義のMNP予約番号（他社から乗り換えの場合）<span class="c-Icon_Chevron-right"></span></a></li>
                    </ul>
                  </div>
                  <ul class="c-List_Cap u-Adjust_Mt-8">
                    <li><span>※</span>未成年者の方のお申し込みに必要な情報、お申し込み方法は<a href="/faq/detail/00001238/">こちらのご案内ページ</a>をご確認ください。</li>
                    <li><span>※</span>Webページにて、楽天モバイル（ドコモ回線・au回線）からプラン変更（移行）お手続き後に、Rakuten UN-LIMIT VIにお申し込みいただく場合、MNP予約番号と本人確認書類はご準備不要です。</li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3 u-Adjust_Mt-8 u-Adjust_Mb-16">Webページより「Rakuten UN-LIMIT VI」に申し込む</h3>
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image">
                  <img src="<%= sitepath %>assets/img/campaign/rakuten-card/img-point-03.png?200717" alt="">
                </div>
                <div class="<%= namespace %>-Flow_List-in-second">
                  <p class="u-Adjust_Mt-16">2021年3月1日（月）9:00～2021年4月1日（木）8:59</p>
                  <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>fee/un-limit/" class="c-Link_Txt-icon">Rakuten UN-LIMIT VIの詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
                  <p class="c-Txt_Emp-02 u-Adjust_Mt-16">※必ずご利用される製品が、楽天回線対応製品かご確認のうえ手続きを進めてください。</p>
                  <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>product/byod/" class="c-Link_Txt-icon">楽天回線対応製品一覧へ<span class="c-Icon_Chevron-right"></span></a></p>
                </div>
                <div class="<%= namespace %>-Flow_List-step-unlimit u-Adjust_Mt-32">
                  <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-left <%= namespace %>-Flow_List-content-new">
                    <div class="<%= namespace %>-Flow_List-detail">
                      <ul class="c-List_Text-disc-emp">
                        <li class="c-Txt_Emp-01">新規電話番号／他社から乗り換え（MNP）でお申し込み</li>
                      </ul>
                      <div class="u-Adjust_Mt-16">
                        <div class="l-Media_Image <%= namespace %>-Flow_List-detail-image-wrapper">
                          <img class="<%= namespace %>-Flow_List-detail-image" src="<%= sitepath %>assets/img/campaign/rakuten-card/img-point-04.png?210401" alt="">
                        </div>
                      </div>
                      <p class="c-Txt_Normal u-Adjust_Mt-16">下記ボタンよりお申し込み画面に進み、プラン（Rakuten UN-LIMIT VI）、製品などを選択し、手順に従ってお申し込みを完了させてください。</p>
                      <a href="<%= onboardingpath %>" class="c-Btn_Secondly <%= namespace %>-Flow_List-button_secondly u-Adjust_Mt-24"><span>Rakuten UN-LIMIT VI お申し込み画面に進む</span></a>
                      <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/flow/application/" class="c-Link_Txt-icon">Rakuten UN-LIMIT VI お申し込み方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                    </div>
                  </div>
                  <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-right">
                    <div class="<%= namespace %>-Flow_List-detail">
                      <ul class="c-List_Text-disc-emp">
                        <li class="c-Txt_Emp-01">楽天モバイル（ドコモ・au回線）からプラン変更（移行）お申し込み</li>
                      </ul>
                      <div class="u-Adjust_Mt-16">
                        <div class="l-Media_Image <%= namespace %>-Flow_List-detail-image-wrapper">
                          <img class="<%= namespace %>-Flow_List-detail-image" src="<%= sitepath %>assets/img/campaign/rakuten-card/img-point-10.png?210323" alt="">
                        </div>
                        <p class="u-Adjust_Mt-16">メンバーズステーションより、プラン変更（移行）のお申し込みを行ってください。楽天回線へのお申し込み完了後、引き続きRakuten UN-LIMIT VIのお申し込みにお進みいただきます。</p>
                        <p class="u-Adjust_Mt-24">画面の案内に従って、Rakuten UN-LIMIT VIのお申し込み手続きを行ってください。</p>
                        <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&amp;campaign=web-rakuten&amp;mno_migration=1" class="c-Btn_Secondly u-Adjust_Mt-24"><span>メンバーズステーションに進む</span></a>
                        <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/mnp/migration/" class="c-Link_Txt-icon">楽天モバイル（ドコモ回線／au回線）からのプラン変更（移行）方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                        <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>flow/mvno-user-registration/" class="c-Link_Txt-icon">利用者登録でご利用中の方の移行方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3 u-Adjust_Mt-8 u-Adjust_Mb-16">製品・SIM受け取り～開通</h3>
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/pointback-diamond/img_campaign_flow02.png" width="336" alt="">
                </div>
                <div>
                  <p class="c-Txt_Normal u-Adjust_Mt-16">楽天モバイルの開通手続き（アクティベーション）を行う</p>
                </div>
              </div>
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="<%= namespace %>-Flow_List-step-unlimit u-Adjust_Mt-24">
                  <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-left">
                    <div class="<%= namespace %>-Flow_List-detail">
                      <ul class="c-List_Text-disc-emp">
                        <li class="c-Txt_Emp-01">SIMカードでお申し込みの場合</li>
                      </ul>
                      <p class="c-Txt_Normal u-Adjust_Mt-24"><a
                          href="<%= sitepath %>assets/pdf/product/START-GUIDE-SIM-CARD.pdf">SIMカード版スタートガイド</a>に従って開通（アクティベート）を行っていただきますようお願いいたします。<br>
                          nanoSIMは、カード台から切り出した状態のmicroSIMからさらに切り出しが必要です。</p>
                      <div class="u-Adjust_Mt-32">
                        <div class="l-Media_Image <%= namespace %>-Flow_List-detail-image-wrapper">
                          <img class="<%= namespace %>-Flow_List-detail-image"
                            src="<%= sitepath %>assets/img/campaign/pointback-diamond/img_campaign_flow09.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-right">
                    <div class="<%= namespace %>-Flow_List-detail">
                      <ul class="c-List_Text-disc-emp">
                        <li class="c-Txt_Emp-01">eSIMでお申し込みの場合 </li>
                      </ul>
                      <p class="c-Txt_Normal u-Adjust_Mt-24">eSIMはデジタルSIMなので物理的なカードはありません。<br>
                        開通（アクティベート）のためのQRコードがございますので<a
                          href="<%= sitepath %>assets/pdf/product/START-GUIDE-eSIM.pdf">eSIM版 START
                          GUIDE</a>に従って開通を行っていただきますようお願いいたします。</p>
                      <div class="u-Adjust_Mt-32">
                        <div class="l-Media_Image <%= namespace %>-Flow_List-detail-image-wrapper">
                          <img class="<%= namespace %>-Flow_List-detail-image"
                            src="<%= sitepath %>assets/img/campaign/pointback-diamond/img_campaign_flow10.png" width="336" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <a href="<%= sitepath %>guide/setting/"
                  class="c-Btn_Regular-semiauto <%= namespace %>-Layout_Body-content-center <%= namespace %>-Flow_List-button u-Adjust_Mt-24"><span>各種製品の初期設定方法を見る</span></a>
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3 u-Adjust_Mt-8 u-Adjust_Mb-16">期限までにプラン利用開始手続き完了</h3>
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/rakuten-card/img-point-07.png?200717" alt="">
                </div>
                <div>
                  <p class="u-Adjust_Mt-16">2021年4月30日（金）23:59まで</p>
                  <ul class="c-List_Cap u-Adjust_Mt-24">
                    <li><span>※</span><a href="#campaign-rule-plan">プラン利用開始日の定義はこちら。</a></li>
                    <li><span>※</span>開通手続き後、開通完了まで数日要する場合がございます。</li>
                    <li class="c-Txt_Emp-02"><span>※</span>開通手続きを店舗（楽天モバイルショップ）で行った場合、対象外となります。あらかじめご了承ください。</li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3 u-Adjust_Mt-8 u-Adjust_Mb-16">楽天ポイント2,000ポイントプレゼント！</h3>
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/rakuten-card/img-point-08.png?200717" alt="">
                </div>
                <div>
                  <p class="u-Adjust_Mt-16">※2021年6月末日ごろまでに付与予定です。</p>
                  <p>※付与日から6カ月間有効の期間限定ポイントとなります。</p>
                  <ul class="c-List_Cap u-Adjust_Mt-0">
                    <li class="c-Txt_Emp-02"><span>※</span>特典はおひとり様1回のみ</li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>

          <h2 class="u-Adjust_Mt-64">楽天カードをまだお持ちでない方はこちら</h2>
          <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <a href="https://ad2.trafficgate.net/t/r/12317/1441/99636_99636/" target="_blank">
              <img class="<%= namespace %>-Layout-Display_Pc" src="<%= sitepath %>assets/img/campaign/rakuten-card/img-01.png" alt="楽天カード新規入会＆利用で5,000ポイントプレゼント">
              <img class="<%= namespace %>-Layout-Display_Sp" src="<%= sitepath %>assets/img/campaign/rakuten-card/img-01-sp.png" alt="楽天カード新規入会＆利用で5,000ポイントプレゼント">
            </a>
          </div>

          <div class="<%= namespace %>-Layout_Rule" id="campaign-rule">
            <h2>【楽天カード会員様限定】エントリー後、楽天モバイルお申し込みでもれなく2,000ポイントプレゼントキャンペーン　ルール</h2>

            <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-48 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは終了しました。</p>

            <div class="c-Table_Wrap u-Adjust_Mt-24">
              <table class="c-Table_Container <%= namespace %>-Table_Rule">
                <colgroup>
                  <col>
                  <col>
                  <col>
                </colgroup>
                <tbody>
                  <tr>
                    <th colspan="2">キャンペーンコード</th>
                    <td>
                      <p>1162</p>
                      <ul class="c-List_Cap u-Adjust_Mt-16">
                        <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください。</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th colspan="2">キャンペーン期間</th>
                    <td>
                      <p class="c-Txt_Emp-01">エントリー・楽天モバイルお申し込み期間</p>
                      <p>2021年3月1日（月）9:00～2021年4月1日（木）8:59</p>
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">プラン利用開始期限</p>
                      <p>2021年4月30日（金）23:59まで</p>
                    </td>
                  </tr>
                  <tr>
                    <th colspan="2">キャンペーン条件</th>
                    <td>
                      <p>以下&#9312;、&#9313;、&#9314;の条件を全て満たした楽天会員の方</p>
                      <p class="u-Adjust_Mt-8">&#9312;キャンペーン期間内に本ページでエントリー</p>
                      <ul class="c-List_Cap u-Adjust_Mt-8">
                        <li><span>※</span>楽天会員情報にご登録されているメールアドレス宛に、楽天モバイルより、会員限定のキャンペーン情報や楽天グループまたはその他の企業のお得な情報などが満載の楽天モバイルニュースをお送りいたします。メルマガ購読を希望されない方は、「エントリーしてメルマガを購読する」のチェックを外してください。</li>
                      </ul>
                      <p class="u-Adjust_Mt-8">&#9313;キャンペーン期間内にオンラインでお申し込み　下記（1）-（3）いずれかの方法にてお申し込み</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（1）「Rakuten UN-LIMIT VI」に新規お申し込み</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（2）「Rakuten UN-LIMIT VI」に他社からの乗り換え（MNP）でお申し込み</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（3）「Rakuten UN-LIMIT VI」に楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</p>
                      <ul class="c-List_Cap u-Adjust_Mt-8">
                        <li><span>※</span>エントリー前のお申し込みはポイント付与の対象になりません。</li>
                      </ul>
                      <p class="u-Adjust_Mt-8">&#9314;プラン利用開始期限<br>2021年4月30日（金）23:59まで</p>
                      <ul class="c-List_Cap u-Adjust_Mt-16">
                        <li id="campaign-rule-plan"><span>※</span>プラン利用開始日とは<br><br>
                          <span class="<%= namespace %>-Table_Rule-bold">新規お申し込みの場合　※&#9312;&#9313;のどちらか早い方がプラン利用開始日となります。</span><br>
                          &#9312;プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br>
                          &#9313;当社に配送完了データが通知された日<br><br>
                          <span class="<%= namespace %>-Table_Rule-bold">【他社から乗り換え（MNP）の場合】もしくは【楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合】
                            ※&#9312;&#9313;のどちらか早い方がプラン利用開始日となります。</span><br>
                          &#9312;プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br>
                          &#9313;楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合：プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th rowspan="3">キャンペーン特典</th>
                    <th>特典内容</th>
                    <td>
                      <p>楽天ポイント2,000ポイントをプレゼント（期間限定ポイント）</p>
                    </td>
                  </tr>
                  <tr>
                    <th>ポイント付与日</th>
                    <td>
                      <p>2021年6月末日頃に付与</p>
                      <ul class="c-List_Cap u-Adjust_Mt-16">
                        <li><span>※</span>楽天ポイントの付与は、楽天モバイルより行います。</li>
                        <li><span>※</span>権利の譲渡はできません。</li>
                        <li><span>※</span>楽天モバイルにご登録の楽天IDにポイント付与いたします。</li>
                        <li><span>※</span>楽天ポイント付与のため、キャンペーン対象者様の楽天IDを楽天モバイル株式会社より楽天カード株式会社に提供いたします。あらかじめご了承ください。</li>
                        <li><span>※</span>獲得された楽天ポイントは、楽天PointClubポイント獲得・履歴画面でご確認いただけます。</li>
                        <li><span>※</span>キャンペーン対象者様の個人情報はポイント付与のために利用します。</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>ポイント有効期間</th>
                    <td>
                      <p>ポイント付与日を含めて6カ月</p>
                      <ul class="c-List_Cap u-Adjust_Mt-16">
                        <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank">期間限定ポイントについて</a></li>
                        <li><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th rowspan="3">注意事項</th>
                    <th>特典適用対象外</th>
                    <td>
                      <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
                      <ul class="c-List_Cap u-Adjust_Mt-16">
                        <li><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払期限までに行われなかった場合 ※未納・未払いが発生した場合</li>
                        <li><span>※</span>「【楽天カード会員様限定】エントリー後、楽天モバイルお申し込みでもれなく2,000ポイントプレゼントキャンペーン」の適用回数が、おひとり様1契約1回を超える場合は対象外となります。</li>
                        <li><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
                        <li><span>※</span>「Rakuten UN-LIMIT V」または「Rakuten UN-LIMIT VI」がプラン利用開始されなかった場合<br>-プラン利用開始の手続き方法につきましては、こちらのマルチSIM版スタートガイドまたはeSIM版スタートガイドを参照ください。</li>
                        <li><span>※</span>ポイント付与までに楽天会員から退会している場合</li>
                        <li><span>※</span>ポイント付与までに登録された楽天ポイント口座を削除された場合</li>
                        <li><span>※</span>当社または楽天株式会社が定める規約などに違反した場合</li>
                        <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
                        <li><span>※</span>プラン利用開始手続きを店舗（楽天モバイルショップ）で行った場合</li>
                        <li><span>※</span>2021年5月末時点で楽天カード会員様がカード会員規約（第19条）に基づく楽天カード会員資格の失効、もしくは楽天カード会員および楽天会員を退会されている場合</li>
                        <li><span>※</span>楽天モバイルにご登録の楽天IDと楽天カードにご登録の楽天IDが同一でない場合</li>
                        <li><span>※</span>家族カードでのエントリーおよびお申し込みは対象外となります。</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>併用不可キャンペーン</th>
                    <td>
                      <p>以下のキャンペーンは、併用不可となります。</p>
                      <p>-本キャンペーンと同一期間に楽天e-NAVIで開催されている【楽天カード会員様限定】エントリー後、楽天モバイルお申し込みでもれなく2,000ポイントプレゼントキャンペーン</p>
                      <ul class="c-List_Cap u-Adjust_Mt-16">
                        <li><span>※</span>楽天e-NAVIで開催されている【楽天カード会員様限定】エントリー後、楽天モバイルお申し込みでもれなく2,000ポイントプレゼントキャンペーンと本キャンペーンを申し込みした場合、楽天e-NAVIで開催されている【楽天カード会員様限定】エントリー後、楽天モバイルお申し込みでもれなく2,000ポイントプレゼントキャンペーンが適用され、本キャンペーンは対象外となります。</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>その他注意事項</th>
                    <td>
                      <ul class="c-List_Cap u-Adjust_Mt-16">
                        <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください。</li>
                        <li><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われている他のキャンペーンの対象から除外、または特典総額が景品表示法上の範囲内に制限される場合があります。</li>
                        <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります。</li>
                        <li><span>※</span>記載の内容は2021年3月1日（月）時点の情報となります。</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th colspan="2">お問い合わせ先</th>
                    <td>
                      <p>＜本企画のエントリーおよび楽天モバイルに関しての各種お問い合わせ＞</p>
                      <p class="u-Adjust_Mt-8"><a href="/inquiry/">https://network.mobile.rakuten.co.jp/inquiry/</a></p>
                      <ul class="c-List_Cap u-Adjust_Mt-8">
                        <li><span>※</span>上記、ページよりお問い合わせください。<br>
                          ・楽天モバイルの新規契約方法について<br>
                          ・楽天モバイルの契約プランについて
                        </li>
                      </ul>
                      <p class="u-Adjust_Mt-16">＜楽天カードに関するお問い合わせ先＞</p>
                      <p class="u-Adjust_Mt-8">楽天カード株式会社コンタクトセンター</p>
                      <p class="u-Adjust_Mt-8">0570-66-6910（営業時間9:30～17:30）</p>
                      <p class="u-Adjust_Mt-8">※上記電話番号がご利用いただけない場合は092-474-6287をご利用ください。</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
    <footer class="g-Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
        <div class="g-Footer_Pagetop">
          <a href="#top" class="js-scroll">
            <span class="c-Icon_Arrow-up-l"></span>
          </a>
        </div>
      </div>
      <div class="c-Breadcrumbs_Foot">
        <ul>
          <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ if (typeof directories !== 'undefined') { _%>
          <%_ let dirs = []; _%>
          <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
              <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
              <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
          <%_ }) _%>
          <%_ } _%>
          <li aria-current="true"><%= pagetitle %></li>
        </ul>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
  <script src="https://r.r10s.jp/com/js/d/merged/rjs-h110s112.min.js?v=201701122100"></script>
  <script type="text/javascript" src="https://r.r10s.jp/com/js/d/check_entry_multi/2.3/check_entry_multi-2.3.1.min.js"></script>
  <script>
    (function ($) {
      $(function () {
        var url_entry = 'https://oubo.rakuten.co.jp/apply/rmobile/card/210301';
        var val_email = 'mail_on';
        var val_fixed = '';
        var $hidden = $('.js-hidden-entry');
        var $href = $('.js-check-entry-href');
        var $inputs = $('.js-check-entry-input');

        $('.js-check-entry').on('click', function () {
          var $this = $(this);
          var $input = $(this).find('.js-check-entry-input');
          var is_checked = $input.attr('aria-checked') === 'true';
          if (is_checked) {
            $inputs.attr('aria-checked', 'false');
            $hidden.attr('value', val_fixed);
            $href.attr('href', url_entry);
          }
          else {
            $inputs.attr('aria-checked', 'true');
            $hidden.attr('value', val_fixed + val_email);
            $href.attr('href', url_entry + '?ekey=' + val_email);
          }
        });
      });
    })(jQuery);
  </script>
</body>
</html>
