<% const pagetitle = "楽メール持ち運び（お申し込み・ご利用・解約方法）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/plan/service/", label:"オプションサービス"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルの「楽メール持ち運び」のお申し込み方法や各種設定方法をご案内します。「楽メール持ち運び」は、楽天モバイル（楽天回線）を解約、譲渡もしくは、MNP転出後も引き続き、「楽メール」をご利用いただけるオプションサービスです。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>
<% const nameSpace2 = "guide-rakumail-portability" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<link rel="stylesheet"
  href="<%= sitepath %>assets/css/<%= nameSpace %>/rakumail-portability/rakumail-portability.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>

  <div class="l-System">

    <%- include('/include/_header') %>

    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>

    <div class="l-System_Container u-Adjust_Mt-8">
      <p class="c-Txt_Cap u-Adjust_Align-right">※表記の金額はすべて税込です。</p>
    </div>
    <div class="<%= nameSpace %>-Layout_Container">
      <div class="l-System_Container">
        <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

        <div class="u-Adjust_Mt-32">
          <ul>
            <li>楽天モバイルの「楽メール持ち運び」のお申し込み方法や各種設定方法をご案内します。</li>
            <li class="u-Adjust_Mt-16">
              <a href="<%= sitepath %>service/rakumail-portability/?l-id=guide_rakumail-portability_service_rakumail-portability" class="c-Link_Txt-inline">特長・サービス内容を見る<span class="c-Icon_Chevron-right"></span></a></li>
          </ul>
        </div>

        <ul class="<%= nameSpace %>-rakumail-portability-Layout_Anker u-Adjust_Mt-24">
          <li><a href="#howto-apply" class="c-Link_Txt-icon-front js-scroll"><span
          class="c-Icon_Arrow-down-l"></span>お申し込み方法</a></li>
          <li><a href="#howto-use" class="c-Link_Txt-icon-front js-scroll"><span
            class="c-Icon_Arrow-down-l"></span>ご利用方法</a></li>
          <li><a href="#howto-cancel" class="c-Link_Txt-icon-front js-scroll"><span
              class="c-Icon_Arrow-down-l"></span>解約方法</a></li>
          <li><a href="#notes" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>注意事項</a>
          </li>
        </ul>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-40" id="howto-apply">お申し込み方法</h2>

        <p class="u-Adjust_Mt-16">「楽メール持ち運び」は、<span class="c-Txt_Emp-02">楽天モバイル（楽天回線）を解約、譲渡、MNP転出後に、お申し込みいただけます。</span><br>
          お申し込み可能期間は、<span class="c-Txt_Emp-02">解約日を含めた31日間</span>です。
        </p>
        <p class="c-Txt_Cap u-Adjust_Mt-16 c-Txt_Emp-02">※「楽メール持ち運び」は、my 楽天モバイルアプリからのお申し込みはできません。</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8 c-Txt_Emp-02">※楽天モバイル（楽天回線）解約時に楽メールのアカウントをお持ちでない場合は、「楽メール持ち運び」にはお申し込みいただけません。</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天モバイル（楽天回線）契約中は、お申し込みいただけません。</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※お申し込み期間を過ぎた場合、メールアカウントが削除され、楽メールで送受信したメールやサービスご利用に係る情報等が閲覧できなくなります。</p>

        <ul class="u-Adjust_Mt-16 c-Flow">
          <li>
            <h4 class="c-Heading_Lv4">
              1.「my 楽天モバイル」にログインする
            </h4>
            <div class="u-Adjust_Align-center u-Adjust_Mt-16">
              <a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile" target="_blank" class="c-Btn_Secondly-large"><span>ログインする<span class="c-Icon_New-window-l"></span></span></a>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              2.「楽メール持ち運びのお申し込み」をタップ
            </h4>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail-portability/img01-04.png" alt="" class="c-Img_Capture"></p>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              3.内容を確認し、「申し込みを完了する」をタップ
            </h4>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail-portability/img01-05.png" alt="" class="c-Img_Capture"></p>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              4.お申し込み完了
            </h4>
            <p class="u-Adjust_Mt-16">お申し込み内容は、メールアドレスにお送りする「お申し込み完了メール」もしくは「my 楽天モバイル」の「申込履歴」画面よりご確認ください。</p>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail-portability/img01-06.png" alt="" class="c-Img_Capture"></p>
          </li>
        </ul>
        <p class="u-Adjust_Mt-32">以上でお申し込みは完了です。</p>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="howto-use">ご利用方法</h2>
        <p class="u-Adjust_Mt-32">メールアプリの設定方法は、各メールアプリの案内をご確認ください。</p>
        <p class="u-Adjust_Mt-16">例：</p>
        <p class="u-Adjust_Mt-8"><a href="https://support.google.com/mail/answer/6078445?hl=ja&co=GENIE.Platform%3DAndroid" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">Gmail<span class="c-Icon_New-window-l"></span></a></p>
        <p class="u-Adjust_Mt-8"><a href="https://support.apple.com/ja-jp/HT201320" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">iPhone<span class="c-Icon_New-window-l"></span></a></p>
        <p class="u-Adjust_Mt-16">他のメールアプリ（Outlook、Mail.app、Thunderbirdなど）を利用するには以下のIMAP／SMTP設定を参照ください。</p>

        <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">IMAP／SMTP設定</h3>
        <table class="c-Table_Container u-Adjust_Mt-16">
          <colgroup>
            <col width="50%">
            <col width="50%">
          </colgroup>
          <thead>
            <tr>
              <th scope="row">設定項目<br class="<%= nameSpace %>-rakumail-portability-Utility_Br-sp">（お使いのメールサービスにより異なります）</th>
              <th scope="row">設定内容</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="c-Txt_Emp-01">IMAPサーバー名</td>
              <td class="c-Txt_Emp-01">mail.rakumail.jp</td>
            </tr>
            <tr>
              <td>ポート番号</td>
              <td>993</td>
            </tr>
            <tr>
              <td>暗号化方式</td>
              <td>TLS.1.2</td>
            </tr>
            <tr>
              <td class="c-Txt_Emp-01">SMTPサーバー名</td>
              <td class="c-Txt_Emp-01">mail.rakumail.jp</td>
            </tr>
            <tr>
              <td>ポート番号</td>
              <td>465</td>
            </tr>
            <tr>
              <td>暗号化方式</td>
              <td>TLS.1.2</td>
            </tr>
          </tbody>
        </table>

        <div class="c-Accordion u-Adjust_Mt-40">
          <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>IMAPパスワードの変更方法</button>
          <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
            <p>IMAPパスワードは、my 楽天モバイルから変更することができます。IMAPパスワードをお忘れの場合は、my 楽天モバイルにログインしてご変更ください。</p>
            <p class="c-Txt_Cap">※設定できるパスワードは、半角英数8文字以上20文字以下です。</p>

            <ul class="u-Adjust_Mt-16 c-Flow">
              <li>
                <h4 class="c-Heading_Lv4">
                  1.「my 楽天モバイル」にログイン
                </h4>
                <div class="c-Box_App u-Adjust_Mt-16">
                  <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt=""></div>
                  <div class="c-Box_App-txt">
                    <p class="c-Box_App-ttl">my 楽天モバイル</p>
                    <p class="u-Adjust_Mt-16">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                    <ul class="c-Box_App-link u-Adjust_Mt-16">
                      <li class="<%= nameSpace %>-App_Btn-store">
                        <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
                        <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
                      </li>
                      <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                      <li><p><a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile" class="c-Link_Txt-inline">Webで「my 楽天モバイル」を使う<span class="c-Icon_Chevron-right"></span></a></p></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <h4 class="c-Heading_Lv4">
                  2.「パスワード設定」をタップし、新しいパスワードを入力して、「設定する」を選択する
                </h4>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail-portability/img02-01.png" alt="" class="c-Img_Capture"></p>
              </li>
              <li>
                <h4 class="c-Heading_Lv4">
                  3.新しいパスワードに変更完了
                </h4>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail-portability/img02-02.png" alt="" class="c-Img_Capture"></p>
              </li>
            </ul>
            <p class="u-Adjust_Mt-16">以上で完了です。</p>
          </div>
        </div>


        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="howto-cancel">解約方法</h2>

        <ul class="u-Adjust_Mt-16 c-Flow">
          <li>
            <h4 class="c-Heading_Lv4">
              1.「my 楽天モバイル」にログイン
            </h4>
            <div class="c-Box_App u-Adjust_Mt-16">
              <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt=""></div>
              <div class="c-Box_App-txt">
                <p class="c-Box_App-ttl">my 楽天モバイル</p>
                <p class="u-Adjust_Mt-16">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                <ul class="c-Box_App-link u-Adjust_Mt-16">
                  <li class="<%= nameSpace %>-App_Btn-store">
                    <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
                    <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
                  </li>
                  <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                  <li><p><a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile" class="c-Link_Txt-inline">Webで「my 楽天モバイル」を使う<span class="c-Icon_Chevron-right"></span></a></p></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              2.「楽メール持ち運びオプションの解約」をタップ
            </h4>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail-portability/img03-01.png" alt="" class="c-Img_Capture"></p>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              3.内容を確認し、「解約する」をタップ
            </h4>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail-portability/img03-02.png" alt="" class="c-Img_Capture"></p>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              4.解約完了
            </h4>
            <p class="u-Adjust_Mt-16">解約後は楽メール持ち運びはご利用いただけません。また、解約後に楽メール持ち運びを再度申込むことはできませんのでご注意ください。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※解約と同時にメールアカウントとメールボックスが削除されるため、データの復旧はできません。</p>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail-portability/img03-03.png" alt="" class="c-Img_Capture"></p>
          </li>
        </ul>
        <p class="u-Adjust_Mt-16">以上で完了です。</p>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="notes">注意事項</h2>
        <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">お申し込みについて</h3>

        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li><span class="c-Txt_Emp-02">「楽メール持ち運び」は、my 楽天モバイルアプリからのお申し込みはできません。</span></li>
          <li><span class="c-Txt_Emp-02">ご契約中の楽天モバイル（楽天回線）を解約、譲渡もしくは、MNP転出時に、楽メールのアカウントを所有していたお客様のみ</span>「楽メール持ち運び」にお申し込み可能です。お申し込み可能期間は<span class="c-Txt_Emp-02">楽天モバイル（楽天回線）を解約した日を含めて31日間</span>です。</li>
          <li>楽天モバイル（楽天回線）解約時に楽メールのアカウントを所有していなかった場合、「楽メール持ち運び」にはお申し込みいただけません。</li>
          <li>楽天モバイル（楽天回線）契約中は、「楽メール持ち運び」にはお申し込みいただけません。「<a href="<%= sitepath %>service/rakumail/?l-id=guide_rakumail-portability_service_rakumail">楽メール</a>」サービスをご利用ください。</li>
          <li><span class="c-Txt_Emp-02">楽天モバイル（楽天回線）を解約した日を含めて31日間を過ぎると、お客様が楽天モバイル（楽天回線）ご契約中に楽メールで使用していたメールアカウントは削除されます。削除後は「楽メール持ち運び」のお申し込みはできません。</span><br>
            【8/10 9:00に解約した場合】31日目となる9/9 23:59まで申し込み可能。9/10 0:00にメールアカウントが削除。
            </li>
        </ul>

        <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">料金の未払い</h3>

        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>「楽メール持ち運び」の料金未払いの場合、楽天モバイル（楽天回線）契約者同様のスケジュールでサービスの利用停止、契約解除等の措置を行います。</li>
        </ul>
        <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/payment/invoice/flow/" class="c-Link_Txt-inline">料金未払いのお知らせが届いた、未払い料金を支払いたい<span class="c-Icon_Chevron-right"></span></a></p>
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
            <li><span class="c-Txt_Emp-02">メールアカウントが停止している間に届いたメールは受信できません。また、停止中に送られてきたメールは、利用再開後も受信することはできません。<br>
            未納状態が続き、契約解除となった場合、メールアカウントが削除されます。その場合、アカウントを復旧することはできません。</span></li>
        </ul>

        <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">楽天回線の再契約</h3>

        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>「楽メール持ち運び」を利用中のユーザーが、再度楽天モバイル（楽天回線）を申し込む場合、「楽メール持ち運び」は自動解約され、通常の楽メールの利用契約申込があったものとみなされます。「楽メール持ち運び」でご利用いただいていたメールアカウントは、楽メールの利用契約が承認された後、通常の楽メールに引き継がれます。<br>
            <span class="c-Txt_Emp-02">利用していたIMAPパスワードはリセットされ、任意のメールアプリで楽メールを利用することはできなくなります。</span></li>
        </ul>

        <div class="u-Adjust_Mt-64 u-Adjust_Align-center">
          <a href="<%= sitepath %>service/rakumail-portability/?l-id=guide_rakumail-portability_service_rakumail-portability" class="c-Btn_Regular-large"><span>特長・サービス内容を見る</span></a>
        </div>

      </div>
    </div>


    <%- include('/include/guide/_review') %>
    <%- include('/include/guide/_inquiry') %>

    <footer class="g-Footer">

      <div class="g-Footer_Aside">

        <%- include('/include/footer/bnr/_bnr.ejs') %>

      </div>

      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
          <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ if (typeof directories !== 'undefined') { _%>
          <%_ let dirs = []; _%>
          <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
              <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
              <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
          <%_ }) _%>
          <%_ } _%>
          <li aria-current="true"><%= pagetitle %></li>
        </ul>
        </div>
      </div>

      <%- include('/include/_footer') %>

    </footer>

  </div>
  <%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
</body>

</html>
