<% const namespace = "hikari-ad-fee" -%>
<div class="<%= namespace %>-Application_Area">
  <div class="l-System_Container">
    <p class="<%= namespace %>-Application_Title">
      <img class="<%= namespace %>-Utility_Img-pc" src="<%= sitepath %>assets/img/hikari/ad/fee/ad-fee-application_pc.png" alt="スマホとひかり両方お申し込みでひかりが1年無料" width="797">
      <img class="<%= namespace %>-Utility_Img-sp" src="<%= sitepath %>assets/img/hikari/ad/fee/ad-fee-application_sp.png" alt="スマホとひかり両方お申し込みでひかりが1年無料">

    </p>
    <% if (typeof lidno != 'undefined') { %>
    <a href="https://secure3.gol.com/mod-pl/rbb/rmch.cgi?scode=qngTI9rXJpRlc1l6roM&cpnkind=mnocampaign" data-lid_no="<%- lidno %>" class="c-Btn_Primary-large <%= namespace %>-Application_Button">
      楽天ひかりに申し込む
    </a>
    <% } %>
  </div>
</div>

