<% const pagetitle = "Rakuten Turbo 5G 保証交換のお手続き" -%>
<% const directories = [{path:"internet/turbo/support/", label:"お客様サポート"}, {path:"internet/turbo/support/product/", label:"製品"}, {path:"internet/turbo/support/product/rakuten-turbo5g/", label:"Rakuten Turbo 5G サポート情報"}] -%>
<% const namespace = "support-smallcategory" -%>
<%
  const pageInfo = {
    namespace,
    isUserCategory: false
  };
%>
<%-
 include('/_header', {
    pagetitle,
    directories,
    description: '楽天モバイルのホームルーターRakuten Turbo専用機器、Rakuten Turbo 5Gの交換のお手続きについてご確認いただけます',
    noindex: false,
    pathname: filepath,
    isTurbo: true
  });
%>

<%- include('/include/_common-css-v2') %>
<%- include('/include/internet/turbo/support/_smallcategory-css') %>
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/internet/turbo/_prepend-body-internet') %>
  <div class="l-System">
    <%- include('/include/internet/turbo/_header', {
      pagetitle,
      directories,
      tax: false,
    }) %>

    <div class="l-System_Container">
      <section class="u-Adjust_Mt-32">
        <h1 class="c-Heading_Lv1 <%= namespace %>-Utility_Heading_Lv1"><%= pagetitle %></h1>
        <p class="u-Adjust_Mt-24">Rakuten Turbo 5G保証交換の手続きをご案内いたします。<br>保証期間が過ぎている場合や、保証対象外の条件に該当した場合は、<a href="<%= sitepath %>faq/detail/10000637/" class="c-Link_Txt" data-lid_no="01">製品の再購入手続き</a>を行ってください。</p>
      </section>

      <section class="u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">Rakuten Turbo 5G保証交換における注意事項</h2>
        <p class="u-Adjust_Mt-24">故障機の発送は、交換機の受け取り後14日以内にお願いいたします。返却期日までに弊社にて受け取りが確認できない場合は、違約金33,000円（税込）を請求させていただく場合がございます。</p>
      </section>

      <section class="u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">Rakuten Turbo 5G保証交換のお手続き方法</h2>
        <ol class="c-Flow u-Adjust_Mt-24">
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">1. お手続きの前に</h3>
            <p class="u-Adjust_Mt-16">製品の交換が必要な場合は、製品保証をご確認ください。</p>
            <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>internet/turbo/support/product/rakuten-turbo5g/repair/" class="c-Link_Txt-inline">Rakuten Turbo 5Gの製品保証を見る<span class="c-Icon_Chevron-right"></span></a></p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">2. コミュニケーションセンターへご連絡</h3>
            <p class="u-Adjust_Mt-16">
              以下よりご連絡いただき、不具合内容等をお知らせ下さい。交換が必要と判断した場合、交換の受付手続きを取らせていただきます。<br>
              製品保証規定に基づき、保証対象の場合は無償にて交換をいたします。保証期間内でも、故障診断の結果、保証対象外と判断した場合は製品再購入のご提案をさせていただきます。<br>
              詳細は「<a href="<%= sitepath %>faq/detail/10000637/" class="c-Link_Txt" data-lid_no="02">製品を再購入する</a>」をご確認ください。
            </p>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">
              ※故障物品により金額が異なります。<br>
              （製品本体33,000円、ACアダプター4,180円）有償になる場合、楽天モバイルコミュニケーションセンターよりご連絡差し上げます。
            </p>
            <div class="c-Theme-Light u-Adjust_Mt-16">
              <p class="c-Txt_Cap">※チャット相談のご利用にはmy 楽天モバイルへのログインが必要です。</p>
              <div class="u-Adjust_Mt-24">
                <a href="https://portal.mobile.rakuten.co.jp/technical-operation?action=supportChat" target="_blank" rel="noopener noreferrer" class="c-Btn_Regular"><span>「my 楽天モバイル」を使う<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
              </div>
              <p class="u-Adjust_Mt-16">営業時間　9:00 ～ 23:00</p>
            </div>
            <div class="c-Theme-Light u-Adjust_Mt-16">
              <p>電話でお問い合わせ</p>
              <p class="<%= namespace %>-Utility_Disp-tab c-Txt_Emp-01 u-Adjust_Mt-16">電話番号：<a href="tel:08008050040" class="c-Txt_Alphanumeric">0800-805-0040</a></p>
              <p class="<%= namespace %>-Utility_Disp-pc c-Txt_Emp-01 u-Adjust_Mt-16">電話番号：<span class="c-Txt_Alphanumeric">0800-805-0040</span></p>
              <p class="u-Adjust_Mt-16">営業時間　9:00 ～ 17:00（年中無休）</p>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">3. 交換機の発送</h3>
            <p class="u-Adjust_Mt-16">
              電話・チャット受付後に交換が必要と判断された場合、交換機を先に発送させていただきます。<br>
              なお、交換機の発送時に、故障機の返送専用箱も同梱しておりますので、故障機の返送時まで大切に保管いただき返送時にご使用ください。
            </p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">4. SIMカードの入れ替え</h3>
            <p class="u-Adjust_Mt-16">
              以下の手順に沿って、故障機からSIMカードを取り出し、交換機へ取り付けてください。SIMカードの取り付け後、ACアダプターを接続、製品を起動し動作確認をしてください。
            </p>
            <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>internet/turbo/support/product/rakuten-turbo5g/setup/" class="c-Link_Txt-inline">Rakuten Turbo 5G交換機到着後の<br class="<%= namespace %>-Utility_Disp-tab">設定方法を見る<span class="c-Icon_Chevron-right"></span></a></p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">5. 故障機の発送</h3>
            <p class="u-Adjust_Mt-16">
              交換機の発送時に同梱しております返送専用箱に入れて、交換機の受取後14日以内に発送をお願いいたします。<br>
              ご返却にあたり、必ず以下をご確認ください。
            </p>
            <div class="c-Infobox_Standing-light u-Adjust_Mt-32">
              <p class="c-Txt_Emp-01 u-Adjust_Mt-8">[製品のご準備]</p>
              <ul class="c-Theme-Light c-List_Text-disc u-Adjust_Mt-24">
                <li>SIMカードは故障品から取り外して発送いただくようお願いいたします。取り外したSIMカードは新しく届いた交換機に挿入してご利用ください。</li>
                <li>故障機内の設定は回収後消去されますので、必要に応じてご自身でメモ等に控えておいてください。</li>
                <li>
                  お手持ちの付属品（ACアダプター・LANケーブル）、個装箱を全てご返却ください。また、製品に含まれない物品は取り外してご返送ください。<br>
                  <span class="c-Txt_Cap">※ACアダプター未返却の場合は違約金が発生します。</span>
                </li>
                <li>データの消失や付属品の紛失に関し、当社では一切の責任を負いかねます。あらかじめご了承お願い致します。</li>
              </ul>
            </div>
          </li>
        </ol>
      </section>
    </div>

    <section class="u-Adjust_Pt-80">
      <div class="<%= namespace %>-Layout_Category">
        <div class="l-System_Container">
          <%- include('/include/internet/turbo/support/_smallcategory-category', { pageInfo }) %>
        </div>
      </div>
    </section>

    <div class="u-Adjust_Mt-24">
      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
      <%- include('/include/internet/turbo/_footer', { directories, pagetitle }) %>
    </div>
  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
  <%- include('/include/internet/turbo/_rex-survey') %>

</body>

</html>
