<% const pagetitle = " 楽天ひかりとRakuten Casaの接続検証済みルーター一覧" -%>
<% const directories = [{path:"area/", label:"通信・エリア"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: ' 楽天ひかりで「Rakuten Casa」との接続が問題なく行えるルーターの一覧になります。※Rakuten Casaは、屋内に楽天回線を構築し、通信環境を改善できる小さな4G基地局です。',
    keywords: '',
    noindex: true,
    pathname: filepath
  });
%>
<% const directory = "rakuten-casa" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/area/casa/checked-router/area-casa-checked-router.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="area-casa-checked-router-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

    <p class="u-Adjust_Mt-32">楽天ひかりでRakuten Casaとの接続が問題なく行えるルーターの一覧になります。</p>
    <p class="c-Txt_Cap">※2020年11月25日現在</p>

    <p class="u-Adjust_Mt-24">ルーターのファームウェアは最新版でお試しください。</p>
    <p class="c-Txt_Cap">※各機種の最新ファームウェアはメーカーHPをご参照ください。</p>

    <div class="c-Accordion u-Adjust_Mt-48">
      <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>NEC</button>
      <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
        <ul class="area-casa-checked-router-List_Router">
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WG1200HS4</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WG1200HS4/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WG2600HP3</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WG2600HP3/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WG2600HS</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WG2600HS/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WG1800HP4</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WG1800HP4/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WG1200HP3</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WG1200HP3/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WG1200HP4</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WG1200HP4/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WG2600HP4</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WG2600HP4/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WG2600HS2</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WG2600HS2/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
        </ul>
        <a href="https://www.aterm.jp/product/atermstation/" class="c-Link_Txt-icon-front u-Adjust_Mt-40" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a>
      </div>
    </div>

    <div class="c-Accordion">
      <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>バッファロー</button>
      <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
        <ul class="area-casa-checked-router-List_Router">
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WXR-5950AX12</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WXR-5950AX12/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WSR-2533DHPL2</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WSR-2533DHPL2/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WSR-1166DHPL2</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WSR-1166DHPL2/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WTR-M2133HS</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WTR-M2133HS/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WTR-M2133HP</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WTR-M2133HP/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WRM-D2133HS</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WRM-D2133HS/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WRM-D2133HP</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WRM-D2133HP/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WSR-2533DHP3</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WSR-2533DHP3/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WSR-2533DHP2</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WSR-2533DHP2/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WSR-A2533DHP3</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WSR-A2533DHP3/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WSR-A2533DHP2</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WSR-A2533DHP2/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WXR-1900DHP</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WXR-1900DHP/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WXR-1900DHP2</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WXR-1900DHP2/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WXR-1900DHP3</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WXR-1900DHP3/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WXR-1901DHP3</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WXR-1901DHP3/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WXR-1750DHP2</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WXR-1750DHP2/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WXR-1751DHP2</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WXR-1751DHP2/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
        </ul>
        <a href="https://www.buffalo.jp/" class="c-Link_Txt-icon-front u-Adjust_Mt-40" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a>
      </div>
    </div>

    <div class="c-Accordion">
      <button id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>IO-DATA</button>
      <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
        <ul class="area-casa-checked-router-List_Router">
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WN-DAX1800GR</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WN-DAX1800GR/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WN-DX1200GR</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WN-DX1200GR/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WN-DX1167R</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WN-DX1167R" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WN-TX4266GR</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WN-TX4266GR/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WN-AX2033GR2</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WN-AX2033GR2/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WN-AX1167GR2</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WN-AX1167GR2/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WN-DX2033GR</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WN-DX2033GR/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WN-DX1167GR</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WN-DX1167GR/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WN-SX300FR</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WN-SX300FR/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WN-SX300GR</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WNSX300GR/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
        </ul>
        <a href="https://www.iodata.jp/index.htm" class="c-Link_Txt-icon-front u-Adjust_Mt-40" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a>
      </div>
    </div>

    <div class="c-Accordion">
      <button id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ELECOM</button>
      <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
        <ul class="area-casa-checked-router-List_Router">
          <li>
            <div class="area-casa-checked-router-Layout_List-item">
              <h3 class="c-Heading_Lv4">WRC-1167GS2-B</h3>
              <ul class="area-casa-checked-router-List_Router-item u-Adjust_Mt-8">
                <li><a href="https://search.rakuten.co.jp/search/mall/WRC-1167GS2-B/" class="c-Btn_Secondly" target="_blank"><span>楽天市場で購入する<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a></li>
              </ul>
            </div>
          </li>
        </ul>
        <a href="https://www.elecom.co.jp/" class="c-Link_Txt-icon-front u-Adjust_Mt-40" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a>
      </div>
    </div>

    <!-- <ul class="u-Adjust_Mt-64">
      <li><a href="<%= sitepath %>area/rakuten-casa/" class="c-Btn_Regular-semiauto"><span>Rakuten Casaの案内を見る</span></a></li>
    </ul> -->

  </div>
</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">
    <%- include('/include/footer/related/_related-service-v2.ejs') %>
  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/area.casa.checklist.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
