<% const pagetitle = "楽天モバイル 二子玉川店" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css') %>
<%- include('/include/shop/_category-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <li><a href="<%= sitepath %>shop/">ショップ</a><span class="c-Icon_Chevron-right"></span></li>
    <li area-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="c-Heading_Hero-basic">
  <div class="l-System_Container">
    <div class="c-Heading_Hero-ttl">
      <span class="shop-Detail_Label-header c-Txt_Alphanumeric-s">12/27 NEW OPEN</span>
      <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
    </div>
  </div>
</div>

<div class="shop-Layout_Detail-main">
  <div class="l-System_Container">
    <div class="shop-Detail_Contents">
      <div class="shop-Map test" data-shopname="楽天モバイル 二子玉川店" data-lat="35.61034421822453" data-lng="139.6299438888889">
        <div class="shop-Map_Container test">
          <iframe src="https://maps.google.co.jp/maps?&output=embed&q=35.61034421822453,139.6299438888889" width="600" height="240" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <ul class="shop-Map_Btns">
          <li><a href="https://www.google.com/maps?q=35.61034421822453,139.6299438888889" class="c-Btn_Regular-auto shop-Map_Btn-gmap test" target="_blank"><span>Google mapで開く</span></a></li>
          <li><a href="#submap" class="c-Btn_Regular-auto js-Modal"><span>案内図を見る</span></a></li>
        </ul>
        <div id="submap" style="display:none;">
          <p class="shop-Map_Sub">
            <img data-src="https://dummyimage.com/600x600/d1d1d1/fff.png&text=SubMap" class="js-lazy" alt="">
          </p>
        </div>
      </div>

      <ul class="shop-Bnr_Top">
        <li><a href="#"><img src="<%= sitepath %>assets/img/bnr/bnr_sample-2.png" width="300" height="100" alt=""></a></li>
      </ul>

      <div class="shop-Detail_Info">
        <div class="c-Infobox_Standing-info">
          <p>10/5は、館内点検のため、休業となります。予めご了承ください。</p>
        </div>
      </div>

      <div class="shop-Reservation" data-reservationkey="KR00179660">

        <%- include('/include/shop/_flow') %>

        <div class="shop-Reservation_Head">
          <h2 class="shop-Reservation_Title">来店予約</h2>
          <p class="shop-Reservation_Waiting">（ただ今の待ち人数:<span id="waitcount">1組</span>）</p>
        </div>
        <div class="shop-Reservation_Body">
          <div>
            <a href="#" class="c-Btn_Secondly-auto shop-Reservation_Btn"><span>Webで予約する（翌日以降）</span></a>
          </div>
          <div class="shop-Reservation_Tel">
            <p class="shop-Reservation_Tel-title">当日のご予約はお電話にて</p>
            <a href="tel:xxxxxxxxxxx" class="c-Txt_Alphanumeric">xxx-xxxx-xxxx</a>
          </div>
          <p class="shop-Reservation_Time">予約受付時間：（全日11:00〜18:00）</p>
          <p class="c-Txt_Cap u-Adjust_Mt-8">※注釈テキストがはいります。</p>
        </div>
        <div class="shop-Reservation_Foot">
          <a href="<%= sitepath %>guide/1.html" class="c-Btn_Regular-auto shop-Reservation_Link"><span>ご来店時に持参いただく物はこちら</span></a>
        </div>
      </div>
      <div class="shop-Reservation" data-reservationkey="KR00179660">

        <%- include('/include/shop/_flow') %>

        <div class="shop-Reservation_Head">
          <h2 class="shop-Reservation_Title">来店予約</h2>
        </div>
        <div class="shop-Reservation_Body">
          <div>
            <a href="#" class="c-Btn_Secondly-auto shop-Reservation_Btn"><span>Webで予約する（翌日以降）</span></a>
          </div>
          <p class="c-Txt_Cap u-Adjust_Mt-8">※注釈テキストがはいります。</p>
        </div>
        <div class="shop-Reservation_Foot">
          <a href="<%= sitepath %>guide/1.html" class="c-Btn_Regular-auto shop-Reservation_Link"><span>ご来店時に持参いただく物はこちら</span></a>
        </div>
      </div>
      <div class="shop-Reservation" data-reservationkey="KR00179660">

        <%- include('/include/shop/_flow') %>

        <div class="shop-Reservation_Head">
          <h2 class="shop-Reservation_Title">来店予約</h2>
          <p class="shop-Reservation_Waiting">（ただ今の待ち人数:<span id="waitcount">1組</span>）</p>
        </div>
        <div class="shop-Reservation_Body">
          <div class="shop-Reservation_Tel">
            <p class="shop-Reservation_Tel-title">電話でのご予約はこちら</p>
            <a href="tel:xxxxxxxxxxx" class="c-Txt_Alphanumeric">xxx-xxxx-xxxx</a>
          </div>
          <p class="shop-Reservation_Time">予約受付時間：（全日11:00〜18:00）</p>
          <p class="c-Txt_Cap u-Adjust_Mt-8">※注釈テキストがはいります。</p>
        </div>
        <div class="shop-Reservation_Foot">
          <a href="<%= sitepath %>guide/1.html" class="c-Btn_Regular-auto shop-Reservation_Link"><span>ご来店時に持参いただく物はこちら</span></a>
        </div>
      </div>
      <div class="shop-Reservation" data-reservationkey="KR00179660">

        <%- include('/include/shop/_flow') %>

        <div class="shop-Reservation_Foot">
          <a href="<%= sitepath %>guide/1.html" class="c-Btn_Regular-auto shop-Reservation_Link"><span>ご来店時に持参いただく物はこちら</span></a>
        </div>
      </div>

      <dl class="c-List_Dl shop-Detail_Spec">
        <dt>営業時間</dt>
        <dd>
          <ul>
            <li>
              <span class="c-Txt_Emp-01">平日</span> 10:00~20:00<br>
              <span class="c-Txt_Cap">※受付時間は19:00まで</span>
            </li>
            <li class="u-Adjust_Mt-24">
              <span class="c-Txt_Emp-01">土日祝</span> 10:00~20:00<br>
              <span class="c-Txt_Cap">※受付時間は19:00まで</span>
            </li>
          </ul>
        </dd>
        <dt>定休日</dt>
        <dd>第３日曜日</dd>
        <dt>住所</dt>
        <dd>〒158-0094<br>
          東京都世田谷区玉川1丁目14-1 二子玉川ライズ・ショッピングセンター テラスマーケットE2020
          <p class="u-Adjust_Mt-16"><a href="#" class="c-Link_Txt-icon" target="_blank">施設の詳細情報はこちら<span class="c-Icon_New-window-l"></span></a></p>
        </dd>
        <dt>対応サービス</dt>
        <dd>
          <ul class="c-Label_List">
            <li class="c-Label_Normal">SIMサイズ変更</li>
            <li class="c-Label_Normal">中古買取</li>
            <li class="c-Label_Normal">機種変更</li>
            <li class="c-Label_Normal">アクセサリ</li>
            <li class="c-Label_Normal">プリペイドSIM</li>
            <li class="c-Label_Normal">修理・交換</li>
            <li class="c-Label_Normal">ひかり</li>
            <li class="c-Label_Normal">でんき</li>
            <li class="c-Label_Normal">フィルム貼付</li>
            <li class="c-Label_Normal">駐車場</li>
            <li class="c-Label_Normal">駅近</li>
          </ul>
        </dd>
      </dl>

      <section class="shop-Layout_Section">
        <div class="c-Infobox_Standing-border">
          <h2 class="c-Heading_Lv4 u-Adjust_Mt-8">お知らせ/ご案内</h2>
          <ul class="shop-Detail_News">
            <li><span class="shop-Detail_News-heading">受付時間につきまして</span>
              <a href="#">テキストテキストテキストテキストテキストテキストテキストテキストテキスト</a>
            </li>
            <li><span class="shop-Detail_News-heading">一部端末のお取り扱いについて</span>
              テキストテキストテキストテキストテキストテキスト<a href="#">テキストテキスト</a>
            </li>
            <li><span class="shop-Detail_News-heading">一部端末のお取り扱いについて</span>
              テキストテキストテキストテキストテキストテキスト<a href="#">テキストテキスト</a>
            </li>
            <%- include('/shop/include/_shop-detail') %>
          </ul>
        </div>
      </section>

      <ul class="shop-Bnr_Bottom">
        <li><a href="#"><img src="<%= sitepath %>assets/img/bnr/bnr_sample-1.png" width="300" height="100" alt=""></a></li>
        <li><a href="#"><img src="<%= sitepath %>assets/img/bnr/bnr_sample-2.png" width="300" height="100" alt=""></a></li>
      </ul>


      <section class="shop-Layout_Section">
        <ul class="c-Carousel js-Carousel-single shop-Carousel">
          <li><img data-lazy="https://mobile.rakuten.co.jp/resource/common/img/shop/prefecture/city/shop1.jpg" alt="slide-1"></li>
          <li><img data-lazy="https://mobile.rakuten.co.jp/resource/common/img/shop/prefecture/city/shop2.jpg" alt="slide-2"></li>
          <li><img data-lazy="https://mobile.rakuten.co.jp/resource/common/img/shop/prefecture/city/shop3.jpg" alt="slide-3"></li>
          <li><img data-lazy="https://mobile.rakuten.co.jp/resource/common/img/shop/prefecture/city/shop4.jpg" alt="slide-4"></li>
          <li><img data-lazy="https://mobile.rakuten.co.jp/resource/common/img/shop/prefecture/city/shop5.jpg" alt="slide-5"></li>
        </ul>
        <div class="c-Carousel_Nav"></div>
      </section>
    </div>
  </div>
</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-shop.ejs') %>

    <%- include('/include/footer/bnr/_bnr-shop.ejs') %>

    <%#- include('/faq/include/related-shop.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <li><a href="<%= sitepath %>shop/">ショップ</a><span class="c-Icon_Chevron-right"></span></li>
      <li area-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>


</div>
<%- include('/include/_common-js') %>
<%- include('/include/shop/_category-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
