<% const pagetitle = "楽天マジ得フェスティバル カードお申し込み完了ページ" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "card-mobile-majitoku" -%>
<% const information = {
  campaignState:'start'
}; %>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '楽天マジ得フェスティバル カードお申し込み完了ページ',
  keywords: '',
  noindex: true,
  pathname: filepath
});
%>
<meta http-equiv="refresh" content="3; url=https://onboarding.mobile.rakuten.co.jp/coupon_link?id=RKCMJT00000001&l-id=campaign_card-mobile-majitoku_application_coupon">
<% const hiddenItem = "false" -%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/<%= namespace %>/application/application.css?20240424">
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header-simple',{applyHide:true}) %>

    <div class="<%= namespace %>-Layout_Label">
    </div>
    <div class="<%= namespace %>-Hero_Return">
      <div class="l-System_Container <%= namespace %>-Hero_Container">
        <div class="<%= namespace %>-Hero_Main u-Adjust_Align-center">
          <h1 class="u-Adjust_Mt-64">楽天カードのお申し込みが完了しました</h1>
          <p class="u-Adjust_Mt-16 c-Txt_Normal u-Color_Light-black">審査完了後、通常1週間程度でのお届けとなります</p>
          <h2 class="u-Adjust_Mt-48">続いて楽天モバイルのお申し込み画面に移動します。手順に従ってお手続きください</h2>
          <p class="u-Adjust_Mt-16 c-Txt_Normal  u-Color_Light-black">※ページは自動で切り替わります。切り替わらない場合は、画像をクリックしてください</p>
        </div>
      </div>
    </div>
    <div class="l-System_Container">
      <p class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=RKCMJT00000001&l-id=campaign_card-mobile-majitoku_application_coupon_banner">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/application/img-bnr-01-sp_240327.png?240327">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/application/img-bnr-01_240327.png?240327" alt="楽天マジ得フェスティバル　楽天モバイル初めてのお申し込みで20,000ポイント　お申し込みは4月15日（月）10:00まで">
          </picture>
        </a>
      </p>
    </div>

    <footer class="g-Footer <%= namespace %>-Layout_Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
</body>
</html>
