<%_
  const mtClass = (typeof mt !== 'undefined') ? `u-Adjust_Mt-${mt}` : '';
  const lId = (typeof lid !== 'undefined') ? `?l-id=${lid}` : '';
  const imgParam = (typeof imgUpdate !== 'undefined') ? `?${imgUpdate}` : '';
  const termText = (typeof term !== 'undefined') ? `※条件あり ${term}01:59まで` : '';
_%>
<p class="<%= mtClass %>">
  <a href="<%= sitepath %>campaign/marathon/<%= lId %>">
    <picture>
      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/bnr/marathon-480-180.png<%= imgParam %> ">
      <img src="<%= sitepath %>assets/img/bnr/marathon-950-100.png<%= imgParam %> " alt="お買いものマラソン 楽天市場ポイント最大43.5倍 楽天モバイルお申し込みで＋9倍　楽天市場のお買いものがポイント最大52.5倍！ <%= termText %>">
    </picture>
  </a>
</p>
