<% const pagetitle = "Rakuten Turboお申し込み&楽天市場の対象ジャンルを1円以上お買い物で20,000ポイント還元キャンペーン | キャンペーン" -%>
<% const namespace = "turbo-campaign-Ichiba-1yen" -%>
<% const imgDir = `${sitepath}assets/img/internet/turbo/campaign/ichiba-1yen/` -%>
<% const directories = [{path:"internet/turbo/campaign/", label:"キャンペーン"}] -%>
<%-
  include('/_header', {
    pagetitle,
    description: 'Rakuten Turboお申し込み&楽天市場の対象ジャンルを1円以上お買い物で20,000ポイント還元キャンペーン実施中。楽天モバイルのホームルーターRakuten Turbo（ラクテン ターボ）は工事不要、コンセントにさすだけですぐに使えるおうちのWiFi。5G対応の高速インターネットがデータ無制限で使い放題。',
    noindex: false,
    pathname: filepath,
    isTurbo: true,
  });
%>
<% //start or finish
  const information = {
  campaignState:'start'
}; %>
<!-- start or finish -->
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/internet/turbo/turbo-top.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/internet/turbo/campaign/ichiba-1yen/ichiba-1yen.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body class="<%= namespace %>-Layout">
  <%- include('/include/_prepend-body') %>
  <%- include('/include/internet/turbo/_prepend-body-internet') %>
  <div class="l-System">
    <%- include('/include/internet/turbo/_header', {
      headerType: 'static',
      headerApplyBtnHidden: true,
      pagetitle: 'Rakuten Turboお申し込み&楽天市場の対象ジャンルを1円以上お買い物で20,000ポイント還元キャンペーン',
      tax: false,
      directories,
    }) %>

    <div class="<%= namespace %>-Utility_Show-sp u-Adjust_Pt-8 u-Adjust_Pr-8 u-Adjust_Pb-8 u-Adjust_Pl-8">
      <span class="<%= namespace %>-Utility_Display-inline-block c-Label_Normal">エントリー必要</span>
    </div>

    <section class="<%= namespace %>-Kv">
      <h1 class="u-Adjust_Align-center">
        <picture class="<%= namespace %>-Kv_Image">
          <source media="(max-width:834px)" srcset="<%= imgDir %>img-kv-sp.png" width="750" height="480">
          <img src="<%= imgDir %>img-kv-pc.png" alt="【要エントリー】Rakuten Turboお申し込み&楽天市場の対象ジャンルを1円以上お買い物で20,000ポイント還元" width="1440" height="300">
        </picture>
      </h1>
    </section>

    <div class="l-System_Container u-Adjust_Mt-16">
      <p class="u-Adjust_Align-center"><span class="c-Txt_Emp-01">【キャンペーン期間】</span><br>2023年11月1日（水）10:00〜終了日未定</p>

      <div style="display: none">
        <!-- ReX Campaign Entry Button: Mounting points -->
        <!-- mounting point for button 1 -->
        <div id="rex-ceb-01"></div>
      </div>

      <% if (information.campaignState !=='finish' ) { %>
        <div class="js-notEntered u-Adjust_Mt-8 u-Adjust_Align-center">
          <a href="https://oubo.rakuten.co.jp/apply/rmobile/turboichiba/231013" class="c-Btn_Primary-large js-entry-btn" data-lid_no="01">
            <span>
              <span>エントリーする</span>
            </span>
          </a>
        </div>
        <div class="js-Entered u-Adjust_Align-center u-Adjust_Mt-8" style="display: none;">
          <a href="<%= sitepath %>internet/turbo/application/" class="c-Btn_Primary-large" data-lid_no="01">
            <span>
              <span>Rakuten Turbo お申し込み</span>
            </span>
          </a>
          <div class="u-Adjust_Align-center u-Adjust_Mt-8 u-Adjust_Mb-16 u-Adjust_Align-center">
            <span class="<%= namespace %>-Utility_Txt-success">
              <span class="c-Icon_Check"></span><span>エントリー済みです</span>
            </span>
          </div>
        </div>
      <% } %>

      <div class="u-Adjust_Mt-16">
        <ul>
          <li class="c-Txt_Cap u-Adjust_Align-center">※ポイント還元には条件があります。詳細は<a href="#anc05" class="js-scroll">キャンペーンルール</a>をご確認ください</li>
          <li class="c-Txt_Cap u-Adjust_Align-center">※Rakuten Turboの申込月と同月内に購入した商品が還元対象になります</li>
          <li class="c-Txt_Cap u-Adjust_Align-center">※本キャンペーンにエントリーされた方は、特典進呈のために、楽天モバイル株式会社へ楽天市場での購入情報が提供されます。あらかじめご了承ください</li>
        </ul>
      </div>
    </div>

    <div class="<%= namespace %>-Layout_Container-internal u-Adjust_Mt-32 u-Adjust_Mt-pc-56">
      <ul class="<%= namespace %>-List_Links-internal">
        <li class="<%= namespace %>-List_Links-internal-item">
          <a href="#anc01" class="<%= namespace %>-List_Links-internal-link js-scroll" data-ratid="rmt_anchor_menu_01" data-ratevent="click" data-ratparam="all">
            <span class="<%= namespace %>-List_Links-internal-arrow c-Icon_Arrow-down-l"></span>
            <span class="<%= namespace %>-List_Links-internal-txt">ポイント還元<br class="<%= namespace %>-Utility_Show-sp">対象商品</span>
            <span class="<%= namespace %>-List_Links-internal-icon c-Icon_Cart-l"></span>
          </a>
        </li>
        <li class="<%= namespace %>-List_Links-internal-item">
          <a href="#anc02" class="<%= namespace %>-List_Links-internal-link js-scroll" data-ratid="rmt_anchor_menu_02" data-ratevent="click" data-ratparam="all">
            <span class="<%= namespace %>-List_Links-internal-arrow c-Icon_Arrow-down-l"></span>
            <span class="<%= namespace %>-List_Links-internal-txt">ポイント<br class="<%= namespace %>-Utility_Show-sp">還元例</span>
            <span class="<%= namespace %>-List_Links-internal-icon c-Icon_Point-l"></span>
          </a>
        </li>
        <li class="<%= namespace %>-List_Links-internal-item">
          <a href="#anc03" class="<%= namespace %>-List_Links-internal-link js-scroll" data-ratid="rmt_anchor_menu_03" data-ratevent="click" data-ratparam="all">
            <span class="<%= namespace %>-List_Links-internal-arrow c-Icon_Arrow-down-l"></span>
            <span class="<%= namespace %>-List_Links-internal-txt">ポイント還元<br class="<%= namespace %>-Utility_Show-sp">の流れ</span>
            <span class="<%= namespace %>-List_Links-internal-icon c-Icon_List-view-l"></span>
          </a>
        </li>
        <li class="<%= namespace %>-List_Links-internal-item">
          <a href="#anc04" class="<%= namespace %>-List_Links-internal-link js-scroll" data-ratid="rmt_anchor_menu_04" data-ratevent="click" data-ratparam="all">
            <span class="<%= namespace %>-List_Links-internal-arrow c-Icon_Arrow-down-l"></span>
            <span class="<%= namespace %>-List_Links-internal-txt">Rakuten <br class="<%= namespace %>-Utility_Show-sp">Turboの魅力</span>
            <span class="<%= namespace %>-List_Links-internal-icon">
              <img src="<%= imgDir %>icon-about.svg" alt="" width="32" height="32">
            </span>
          </a>
        </li>
      </ul>
    </div>

    <div id="js-trigger-nav"></div>

    <section class="<%= namespace %>-Layout_Section-bargain u-Adjust_Mt-0 u-Adjust_Mt-pc-32">
      <div class="c-Theme-Light">
        <h2 class="<%= namespace %>-Heading_Lv2-bargain" data-ratid="scroll-01_CPN-info" data-ratevent="appear"><span class="c-Txt_Emp-02">ポイント還元</span>で<br class="<%= namespace %>-Utility_Show-sp">お買い物が<span class="c-Txt_Emp-02">おトク</span>に！</h2>

        <div class="u-Adjust_Mt-16">
          <div class="c-Theme-White u-Adjust_Pt-16 u-Adjust_Pr-16 u-Adjust_Pb-16 u-Adjust_Pl-16">
            <p class="<%= namespace %>-Utility_Txt-bargain">
              <span class="<%= namespace %>-Utility_Txt-bargain-icon">
                <img src="<%= imgDir %>icon-cart.svg" alt="" width="26" height="22">
              </span>
              <span><span class="c-Txt_Emp-02">税別10,000円分</span>の<br class="<%= namespace %>-Utility_Show-sp">お買い物をした場合...</span>
            </p>

            <div class="<%= namespace %>-Cpn_Condition u-Adjust_Mt-16">
              <div class="<%= namespace %>-Cpn_Condition-box1">
                <div class="<%= namespace %>-Cpn_Condition-box1-content">
                  <p class="<%= namespace %>-Cpn_Condition-box1-txt">キャンペーン特典</p>
                  <p class="<%= namespace %>-Cpn_Condition-box1-txt-image">
                    <img src="<%= imgDir %>img-privilege-text.png" alt="20,000ポイント還元" width="372" height="71">
                  </p>
                </div>
                <div class="<%= namespace %>-Cpn_Condition-box1-icon">
                  <img src="<%= imgDir %>icon-coins.svg" alt="" width="122" height="85">
                </div>
              </div>
              <div class="<%= namespace %>-Cpn_Condition-box2">
                <p class="<%= namespace %>-Cpn_Condition-box2-txt">
                  <img src="<%= imgDir %>img-more-bubble.svg" alt="さらに" width="54" height="21">
                  <span>通常のお買い物分1倍と<br class="<%= namespace %>-Utility_Show-sp">SPU+2倍のポイント</span>
                </p>
                <div class="<%= namespace %>-Cpn_Condition-box2-content">
                  <p class="<%= namespace %>-Cpn_Condition-box2-txt-image">
                    <img src="<%= imgDir %>img-more-text-231201.png" alt="300ポイント" width="232" height="71">
                  </p>
                  <div class="<%= namespace %>-Cpn_Condition-box2-icon">
                    <img src="<%= imgDir %>icon-coin.svg" alt="" width="64" height="65">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="l-System_Container u-Adjust_Mt-8">
        <ul>
          <li class="c-Txt_Cap"><span class="c-Txt_Emp-02">※ 本キャンペーンのポイント還元とは別に、楽天市場での商品購入に対するSPUでもポイント獲得できます。</span><a href="https://event.rakuten.co.jp/campaign/point-up/everyday/point/" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer" data-lid_no="01">詳細はこちら<span class="c-Icon_New-window-l u-Adjust_Valign-bottom"></span></a></li>
          <li class="c-Txt_Cap">※ Rakuten TurboのSPU＋2倍は、Rakuten Turboの課金開始が確認できた月からの楽天市場での商品購入が対象となります</li>
        </ul>
      </div>
    </section>

    <div id="js-fixed-btn-trigger"></div>

    <section id="anc01" class="u-Adjust_Pt-32 u-Adjust_Pt-pc-40">
      <div class="l-System_Container">
        <div class="<%= namespace %>-Theme_Box-genre">
          <div class="<%= namespace %>-Theme_Box-genre-head">
            <h2 class="<%= namespace %>-Theme_Box-genre-title">&#9678;<span>ポイント還元対象商品(ジャンル別)</span></h2>
          </div>
          <div class="<%= namespace %>-Theme_Box-genre-content">
            <ul class="<%= namespace %>-List_Card">
              <li class="<%= namespace %>-List_Card-item">
                <a href="https://www.rakuten.co.jp/category/562637/" class="<%= namespace %>-List_Card-link c-Card_Normal" target="_blank" rel="noopener noreferrer" data-lid_no="01">
                  <p class="<%= namespace %>-List_Card-txt">家電</p>
                  <div class="<%= namespace %>-List_Card-image">
                    <img src="<%= imgDir %>img-genre-electronics.jpg" alt="" width="75" height="75">
                  </div>
                </a>
              </li>
              <li class="<%= namespace %>-List_Card-item">
                <a href="https://www.rakuten.co.jp/category/211742/" class="<%= namespace %>-List_Card-link c-Card_Normal" target="_blank" rel="noopener noreferrer" data-lid_no="02">
                  <p class="<%= namespace %>-List_Card-txt-appliance">TV・オーディオ・カメラ</p>
                  <div class="<%= namespace %>-List_Card-image">
                    <img src="<%= imgDir %>img-genre-appliance.jpg" alt="" width="75" height="75">
                  </div>
                </a>
              </li>
              <li class="<%= namespace %>-List_Card-item">
                <a href="https://www.rakuten.co.jp/category/564500/
                " class="<%= namespace %>-List_Card-link c-Card_Normal" target="_blank" rel="noopener noreferrer" data-lid_no="03">
                  <p class="<%= namespace %>-List_Card-txt">タブレットPC・スマートフォン</p>
                  <div class="<%= namespace %>-List_Card-image">
                    <img src="<%= imgDir %>img-genre-smartdevice.jpg" alt="" width="75" height="75">
                  </div>
                </a>
              </li>
              <li class="<%= namespace %>-List_Card-item">
                <a href="https://www.rakuten.co.jp/category/100026/" class="<%= namespace %>-List_Card-link c-Card_Normal" target="_blank" rel="noopener noreferrer" data-lid_no="04">
                  <p class="<%= namespace %>-List_Card-txt">パソコン・<br class="<%= namespace %>-Utility_Show-pc">周辺機器</p>
                  <div class="<%= namespace %>-List_Card-image">
                    <img src="<%= imgDir %>img-genre-pc.jpg" alt="" width="75" height="75">
                  </div>
                </a>
              </li>
              <li class="<%= namespace %>-List_Card-item">
                <a href="https://www.rakuten.co.jp/category/101205/" class="<%= namespace %>-List_Card-link c-Card_Normal" target="_blank" rel="noopener noreferrer" data-lid_no="05">
                  <p class="<%= namespace %>-List_Card-txt">ゲーム</p>
                  <div class="<%= namespace %>-List_Card-image">
                    <img src="<%= imgDir %>img-genre-game.jpg" alt="" width="75" height="75">
                  </div>
                </a>
              </li>
            </ul>
            <div class="<%= namespace %>-Utility_Txt-center-pc u-Adjust_Mt-16">
              <span class="c-Txt_Cap">※キャンペーン対象商品のジャンルをご確認ください。他ジャンルの商品は還元対象外です</span>
              <a href="#modal1" class="<%= namespace %>-Layout_Btn-modal js-Modal"><span class="c-Icon_Sign-help-l"></span></a>
              <div id="modal1" style="display:none;">
                <p>楽天市場トップページの「ジャンルから探す」より、キャンペーン対象ジャンルを選択し、<br class="<%= namespace %>-Utility_Show-pc">ご購入ください。</p>
                <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                  <img src="<%= imgDir %>img-modal-01.png" alt="" width="300" height="483">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="u-Adjust_Mt-24 u-Adjust_Mt-pc-40">
      <div class="l-System_Container">
        <div class="<%= namespace %>-Theme_Box-warning">
          <div class="<%= namespace %>-Theme_Box-warning-head">
            <h2 class="<%= namespace %>-Theme_Box-warning-title" data-ratid="scroll-02_product" data-ratevent="appear">
              <span class="<%= namespace %>-Theme_Box-warning-icon c-Icon_Sign-warning-f"></span>
              <span class="u-Adjust_Pl-8">ポイント還元対象外商品</span></h2>
          </div>
          <div class="<%= namespace %>-Theme_Box-warning-content">
            <div class="<%= namespace %>-Layout_Grid-warning">
              <div class="<%= namespace %>-Layout_Grid-warning-content">
                <ul class="c-List_Text-disc">
                  <li class="u-Adjust_Mt-8">対象ジャンルに含まれない商品</li>
                  <li class="u-Adjust_Mt-8">ギフトカード類</li>
                  <li class="u-Adjust_Mt-8">在庫切れまたはキャンセルされたお買い物</li>
                </ul>
                <p class="u-Adjust_Mt-8 u-Adjust_Mt-pc-16">
                  <a href="#anc06" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>その他キャンペーン対象外商品の詳細を見る</a>
                </p>
              </div>
              <div class="<%= namespace %>-Layout_Grid-warning-image">
                <img src="<%= imgDir %>icon-ineligible.svg" alt="" width="148" height="103">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="anc02" class="u-Adjust_Pt-40 u-Adjust_Pt-pc-56">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">ポイント還元例</h2>
        <p class="u-Adjust_Align-center u-Adjust_Mt-24">Rakuten Turboの<span class="c-Txt_Emp-02">お申し込み月と同月内に購入</span>した商品がポイント還元対象になります</p>
        <p class="c-Txt_Cap u-Adjust_Align-center u-Adjust_Mt-16">※エントリー、お申し込み、商品購入の順番は問いませんが、Rakuten Turboお申し込み月末日までにエントリーが必要です</p>

        <div class="u-Adjust_Mt-24 u-Adjust_Mt-pc-32">
          <ul class="<%= namespace %>-List_Media-example">
            <li>
              <picture>
                <source media="(max-width:834px)" srcset="<%= imgDir %>img-example-01-sp.png" width="343" height="226">
                <img src="<%= imgDir %>img-example-01-pc.png" alt="商品購入前にお申し込みした場合 11月5日からエントリーした例 エントリー後にRakuten Turboお申し込みを行った後、商品購入すると11月30日にポイントが還元される。" width="504" height="257">
              </picture>
            </li>
            <li>
              <picture>
                <source media="(max-width:834px)" srcset="<%= imgDir %>img-example-02-sp.png" width="343" height="226">
                <img src="<%= imgDir %>img-example-02-pc.png" alt="商品購入後にお申し込みした場合 11月8日から商品購入した例 商品購入後にRakuten Turboお申し込みを行った後、エントリーすると11月30日にポイントが還元される。" width="504" height="257">
              </picture>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section id="anc03" class="u-Adjust_Mt-40 u-Adjust_Mt-pc-56">
      <div class="c-Theme-Light u-Adjust_Pt-40 u-Adjust_Pt-pc-56 u-Adjust_Pr-0 u-Adjust_Pb-56 u-Adjust_Pl-0">
        <div class="l-System_Container">
          <div class="c-Theme-White u-Adjust_Pt-24 u-Adjust_Pt-pc-32 u-Adjust_Pr-pc-32 u-Adjust_Pb-24 u-Adjust_Pb-pc-32 u-Adjust_Pl-pc-32">
            <h2 class="c-Heading_Lv2 u-Adjust_Align-center" data-ratid="scroll-03_point" data-ratevent="appear">ポイント還元の流れ</h2>
            <p class="c-Txt_Cap u-Adjust_Align-center u-Adjust_Mt-16 u-Adjust_Mt-pc-8">※ポイント還元には条件があります。詳細は<a href="#anc05" class="js-scroll">キャンペーンルール</a>をご確認ください</p>

            <div class="u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
              <ol>
                <li>
                  <div class="c-Accordion-emp">
                    <button type="button" id="accordion-emp-1" class="c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-emp-1-content" data-ratid="rmt_step_01" data-ratevent="click" data-ratparam="all">
                      <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
                      <span class="<%= namespace %>-Layout_Flow-num c-Accordion-emp_Num">STEP 1</span><span class="c-Accordion-emp_Trigger-txt">お申し込み前に対応エリアを確認する</span>
                    </button>
                    <div id="accordion-emp-1-content" class="c-Accordion-emp_Panel-step js-Accordion_Panel" role="region" aria-labelledby="accordion-emp-1" aria-hidden="false">
                      <div class="<%= namespace %>-Layout_Flow-grid">
                        <div class="<%= namespace %>-Layout_Flow-image">
                          <img src="<%= imgDir %>img-flow-map.png" width="234" height="159" alt="">
                        </div>
                        <div>
                          <p>お申し込み前に必ず、ホームルーターをご利用する場所がRakuten Turboサービス対応エリアかご確認ください。</p>
                          <p class="c-Txt_Cap u-Adjust_Mt-8">※高層階（およそ16階以上）ではない場所に設置してください</p>
                          <p class="u-Adjust_Mt-8 u-Adjust_Mt-pc-16">
                            <a href="<%= sitepath %>internet/turbo/area/" class="c-Link_Txt-inline" data-lid_no="01">Rakuten Turboのエリアを見る<span class="c-Icon_Chevron-right"></span></a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
                  <div class="c-Accordion-emp">
                    <button type="button" id="accordion-emp-2" class="c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-emp-2-content" data-ratid="rmt_step_02" data-ratevent="click" data-ratparam="all">
                      <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
                      <span class="<%= namespace %>-Layout_Flow-num c-Accordion-emp_Num">STEP 2</span><span class="c-Accordion-emp_Trigger-txt">キャンペーンにエントリーする＆Rakuten Turboに申し込む</span>
                    </button>
                    <div id="accordion-emp-2-content" class="c-Accordion-emp_Panel-step js-Accordion_Panel" role="region" aria-labelledby="accordion-emp-2" aria-hidden="true">
                      <p>お申し込み完了後にご登録のメールアドレス宛に完了メールをお送りします。</p>
                      <div class="u-Adjust_Mt-8">
                        <ul>
                          <li class="c-Txt_Cap">※完了メールは（@mobile.rakuten.co.jp）のドメインで配信されます</li>
                          <li class="c-Txt_Cap">※本キャンペーンはWeb限定です。ショップからのお申し込みはキャンペーン適用外になります</li>
                        </ul>
                      </div>
                      <% if (information.campaignState !=='finish' ) { %>
                        <div class="<%= namespace %>-Layout_Entry-btn-wrapper">
                          <div class="js-notEntered u-Adjust_Mt-16 u-Adjust_Align-center">
                            <a href="https://oubo.rakuten.co.jp/apply/rmobile/turboichiba/231013" class="c-Btn_Primary-large js-entry-btn" data-lid_no="02">
                              <span>
                                <span>エントリーする</span>
                              </span>
                            </a>
                          </div>
                          <div class="js-Entered u-Adjust_Align-center u-Adjust_Mt-16" style="display: none;">
                            <a href="<%= sitepath %>internet/turbo/application/" class="c-Btn_Primary-large" data-lid_no="02">
                              <span>
                                <span>Rakuten Turbo お申し込み</span>
                              </span>
                            </a>
                            <div class="u-Adjust_Align-center u-Adjust_Mt-8 u-Adjust_Align-center">
                              <span class="<%= namespace %>-Utility_Txt-success">
                                <span class="c-Icon_Check"></span><span>エントリー済みです</span>
                              </span>
                            </div>
                          </div>
                        </div>
                      <% } %>
                    </div>
                  </div>
                </li>
                <li class="u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
                  <div class="c-Accordion-emp">
                    <button type="button" id="accordion-emp-3" class="c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-emp-3-content" data-ratid="rmt_step_03" data-ratevent="click" data-ratparam="all">
                      <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
                      <span class="<%= namespace %>-Layout_Flow-num c-Accordion-emp_Num">STEP 3</span><span class="c-Accordion-emp_Trigger-txt">Rakuten Turboの課金を開始する</span>
                    </button>
                    <div id="accordion-emp-3-content" class="c-Accordion-emp_Panel-step js-Accordion_Panel" role="region" aria-labelledby="accordion-emp-3" aria-hidden="true">
                      <p>お申し込み月の翌月末日までにプラン料金の課金を開始してください。</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Mt-pc-16">
                        <a href="#anc05" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>プラン料金の課金開始とは</a>
                      </p>
                    </div>
                  </div>
                </li>
                <li class="u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
                  <div class="c-Accordion-emp">
                    <button type="button" id="accordion-emp-4" class="c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-emp-4-content" data-ratid="rmt_step_04" data-ratevent="click" data-ratparam="all">
                      <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
                      <span class="<%= namespace %>-Layout_Flow-num c-Accordion-emp_Num">STEP 4</span><span class="c-Accordion-emp_Trigger-txt">楽天市場で商品を購入する</span>
                    </button>
                    <div id="accordion-emp-4-content" class="c-Accordion-emp_Panel-step js-Accordion_Panel" role="region" aria-labelledby="accordion-emp-4" aria-hidden="true">
                      <p>Rakuten Turboのお申し込み月と同月内に対象商品のお買い物をお楽しみください！</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Mt-pc-16">
                        <a href="#anc01" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-up-l"></span>対象商品を見る</a>
                      </p>
                    </div>
                  </div>
                </li>
              </ol>

              <div class="u-Adjust_Align-center u-Adjust_Mt-24 u-Adjust_Mt-pc-32 u-Adjust_Mb-16 u-Adjust_Mb-pc-24">
                <img src="<%= imgDir %>img-down.svg" width="46" height="27" alt="">
              </div>

              <div class="<%= namespace %>-Theme_Box-flow c-Theme-Emphasis1">
                <div class="<%= namespace %>-Theme_Box-flow-grid">
                  <p class="<%= namespace %>-Theme_Box-flow-grid-image">
                    <img src="<%= imgDir %>img-flow-point.png" width="304" height="110" alt="R POINT">
                  </p>
                  <div class="<%= namespace %>-Theme_Box-flow-grid-content">
                    <p>
                      <picture>
                        <source media="(max-width:834px)" srcset="<%= imgDir %>img-flow-text-sp.png" width="274" height="99">
                        <img src="<%= imgDir %>img-flow-text-pc.png" alt="20,000ポイント還元！" width="405" height="49">
                      </picture>
                    </p>
                    <p class="<%= namespace %>-Theme_Box-flow-grid-txt">
                      <span class="<%= namespace %>-Theme_Box-flow-grid-txt-image">
                        <img src="<%= imgDir %>img-flow-bubble.svg" alt="さらに" width="80" height="32">
                      </span>
                      <span>通常のお買い物分1倍と<br class="<%= namespace %>-Utility_Show-sp">SPU+2倍のポイントも獲得</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="anc04" class="u-Adjust_Pt-40 u-Adjust_Pt-pc-56">
      <div class="<%= namespace %>-Layout_Container-appeal">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center" data-ratid="scroll-04_about-turbo" data-ratevent="appear">Rakuten Turboの魅力</h2>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16 u-Adjust_Mt-pc-32">
          <picture>
            <source media="(max-width:834px)" srcset="<%= imgDir %>img-appeal-sp.jpg" width="834" height="802">
            <img src="<%= imgDir %>img-appeal-pc.jpg" alt="コンセントにさすだけ! ※Wi-Fiの接続が必要 [5G対応]Rakuten Turbo(ターボ)5G ※5Gは一部エリアのみ" width="1032" height="392">
          </picture>
        </div>
      </div>

      <section class="u-Adjust_Mt-40 u-Adjust_Mt-pc-56">
        <div class="l-System_Container">
          <h3 class="c-Heading_Lv3 u-Adjust_Align-center">月額プラン料金</h3>
          <p class="u-Adjust_Align-center u-Adjust_Mt-16">
            <picture>
              <source media="(max-width:834px)" srcset="<%= imgDir %>img-price-01-sp-240221.png" width="343" height="249">
              <img src="<%= imgDir %>img-price-01-pc-240221.png" alt="キャンペーン中はRakuten Turboにお申し込みの方全員 6カ月0円 7カ月目以降4,840円" width="600" height="232">
            </picture>
          </p>
          <p class="c-Txt_Cap u-Adjust_Align-center u-Adjust_Mt-16">※製品代金 別途41,580円</p>

          <div class="u-Adjust_Align-center u-Adjust_Mt-24">
            <a href="<%= sitepath %>internet/turbo/fee/" class="c-Btn_Regular <%= namespace %>-Layout_Btn-sub" data-lid_no="01"><span>プラン料金の詳細を見る</span></a>
          </div>
        </div>
      </section>

      <section class="<%= namespace %>-Layout_Section-price u-Adjust_Mt-40">
        <div class="l-System_Container">
          <h3 class="c-Heading_Lv4 u-Adjust_Align-center">
            <span class="<%= namespace %>-Heading_Balloon-price">
              <img src="<%= imgDir %>img-price-bubble.svg" alt="さらに" width="92" height="44">
            </span>
            <span class="c-Txt_Marker-accent3">月々のお支払いで楽天ポイントが貯まる・使える</span>
          </h3>
          <p class="u-Adjust_Mt-16 <%= namespace %>-Utility_Txt-center-pc">楽天ポイントは、Rakuten Turboの月々のお支払い100円（税別）につき1ポイントが貯まります。<br>自動的に毎月ポイントがもらえておトク！</p>

          <div class="u-Adjust_Mt-24">
            <ul class="<%= namespace %>-List_Borderbox1">
              <li class="<%= namespace %>-List_Borderbox1-item">
                <div class="<%= namespace %>-Theme_Borderbox1-content">
                  <div>
                    <h4 class="u-Adjust_Align-center c-Heading_Lv4">100円（税別）お支払いで<br>1ポイント貯まる</h4>
                    <div class="l-Media_Image u-Adjust_Mt-16 u-Adjust_Mt-pc-32">
                      <picture>
                        <source media="(max-width:834px)" srcset="<%= imgDir %>img-price-02-sp-240221.png" width="277" height="199">
                        <img src="<%= imgDir %>img-price-02-pc-240221.png" alt="1年目は毎月のお支払い 税別1,800円で18ポイント貯まる！ 2年目以降は毎月のお支払い 税別4,400円で44ポイント貯まる！" width="344" height="167">
                      </picture>
                    </div>
                  </div>
                  <div class="<%= namespace %>-Theme_Borderbox1-btn u-Adjust_Align-center u-Adjust_Mt-24">
                    <a href="<%= sitepath %>internet/turbo/support/plan/point-guide/" class="c-Btn_Regular-large"><span class="c-Txt_Normal">貯まる・使えるの詳細を見る</span></a>
                  </div>
                </div>
              </li>
              <li class="<%= namespace %>-List_Borderbox1-item">
                <div class="<%= namespace %>-Theme_Borderbox1-content">
                  <div>
                    <h4 class="u-Adjust_Align-center c-Heading_Lv4">毎月のお支払いや製品の<br class="<%= namespace %>-Utility_Show-sp">ご購入<span class="c-Txt_Cap">※</span>に<br class="<%= namespace %>-Utility_Show-pc">ポイントを使う</h4>
                    <div class="l-Media_Image u-Adjust_Mt-24 u-Adjust_Mt-pc-32">
                      <picture>
                        <source media="(max-width:834px)" srcset="<%= imgDir %>img-price-03-231215-sp.png" width="277" height="110">
                        <img src="<%= imgDir %>img-price-03-231215-pc.png" alt="月々のお支払いが、ポイント利用分を引いた差額をお支払いへ" width="416" height="166">
                      </picture>
                    </div>
                    <p class="u-Adjust_Align-center c-Txt_Cap u-Adjust_Mt-16">
                      ※製品は一括払いでの購入時のみポイント利用可<br>
                      ※1ポイント=1円
                    </p>
                  </div>

                  <div class="<%= namespace %>-Theme_Borderbox1-btn u-Adjust_Align-center u-Adjust_Mt-24">
                    <a href="<%= sitepath %>internet/turbo/support/payment/point/" class="c-Btn_Regular-large"><span class="c-Txt_Normal">楽天ポイントの利用を見る</span></a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="u-Adjust_Mt-80 u-Adjust_Mt-pc-40">
        <div class="l-System_Container">
          <h3 class="c-Heading_Lv4 u-Adjust_Align-center">楽天モバイルとセットで使えば<span class="<%= namespace %>-Utility_Display-block c-Txt_Normal u-Weight_Normal u-Adjust_Mt-8">楽天市場のお買い物がポイントUP！毎日全員7倍※もらえる！</span></h3>

          <div class="u-Adjust_Mt-24">
            <div class="<%= namespace %>-Theme_Box-light">
              <h4 class="<%= namespace %>-Heading_Lv4-breakdown">楽天市場のお買い物で<br class="<%= namespace %>-Utility_Show-sp">獲得できるポイントの内訳</h4>

              <div class="u-Adjust_Mt-16">
                <ul class="<%= namespace %>-List_Borderbox2">
                  <li class="<%= namespace %>-List_Borderbox2-item">
                    <div class="<%= namespace %>-Theme_Borderbox2-content">
                      <div class="u-Adjust_Align-center">
                        <picture>
                          <source media="(max-width:834px)" srcset="<%= imgDir %>img-breakdown-01-sp-231201.png" width="267" height="74">
                          <img src="<%= imgDir %>img-breakdown-01-pc-231201.png" alt="Rakuten Turboまたは楽天ひかり R SPU +2倍" width="301" height="79">
                        </picture>
                      </div>
                    </div>
                  </li>
                  <li class="<%= namespace %>-List_Borderbox2-item">
                    <div class="<%= namespace %>-Theme_Borderbox2-content">
                      <div class="u-Adjust_Align-center">
                        <picture>
                          <source media="(max-width:834px)" srcset="<%= imgDir %>img-breakdown-02-sp-231201.png" width="185" height="73">
                          <img src="<%= imgDir %>img-breakdown-02-pc-231201.png" alt="楽天モバイル R SPU +4倍※" width="189" height="82">
                        </picture>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <p class="c-Txt_Cap u-Adjust_Mt-24">※楽天会員1倍、Rakuten Turboまたは楽天ひかりご契約中＋2倍 、楽天モバイルご利用で＋4倍（スーパーホーダイ、組み合わせプラン、コミコミプランはSPUの対象外）※楽天ひかりはプロバイダーとして楽天ブロードバンドのみ契約されている場合は特典対象外。※毎月の獲得上限ポイントはRakuten Turboまたは楽天ひかりが1,000ポイント、楽天モバイルが2,000ポイント。いずれも期間限定ポイントでの進呈 ※ポイント未利用時の倍率</p>
          </div>
        </div>
      </section>

    </section>

    <section class="u-Adjust_Mt-64">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">よくあるご質問</h2>

        <div class="u-Adjust_Mt-24">
          <div class="c-Accordion">
            <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1" data-ratid="rmt_question_01" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>好きな場所で使えますか？</button>
            <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
              <p>日本国内の楽天回線エリア内<sup>※</sup>であればお使いいただけます。設置先の推奨環境を下記よりご確認ください。</p>
              <div class="u-Adjust_Mt-24">
                <ul class="c-List_Text-disc">
                  <li>窓際など、電波を受け取りやすい場所に設置できること</li>
                  <li class="u-Adjust_Mt-8">Wi-Fiの電波と干渉する機器（電子レンジ、テレビなど）から離して設置できること</li>
                  <li class="u-Adjust_Mt-8">高層階（およそ16階以上）ではない場所に設置できること</li>
                </ul>
              </div>
              <p class="u-Adjust_Mt-24">なお、ご登録いただいている設置先住所のみでご利用いただけます。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※「Rakuten最強プラン」で利用できるサービスエリアとは異なります</p>
              <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>internet/turbo/area/" class="c-Link_Txt-inline" data-lid_no="02">Rakuten Turbo対応エリアを見る<span class="c-Icon_Chevron-right"></span></a></p>
            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2" data-ratid="rmt_question_02" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten最強プランを契約していなくても、Rakuten Turboを契約できますか？</button>
            <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
              <p>Rakuten最強プランの契約がなくてもRakuten Turboを契約できます。<br>Rakuten Turboを契約いただくことで、お手持ちの製品をWi-Fi接続しインターネットをご利用いただけます。</p>
              <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>internet/turbo/product/" class="c-Link_Txt-inline">製品ページでRakuten Turboを見る<span class="c-Icon_Chevron-right"></span></a></p>
            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3" data-ratid="rmt_question_03" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>解約した場合、製品代金の支払いはどうなりますか？</button>
            <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
              <p>製品を分割払いで購入した場合は、引き続き残りの金額をお支払いいただく必要がございます。<br>残りのお支払い回数やお支払い金額についてはクレジットカード会社へお問い合わせください。</p>
              <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>internet/turbo/fee/" class="c-Link_Txt-inline" data-lid_no="02">料金プランを見る<span class="c-Icon_Chevron-right"></span></a></p>
            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4" data-ratid="rmt_question_04" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ポイント還元はいつ受け取れますか？</button>
            <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
              <p>Rakuten Turboの課金（利用）開始の翌々月末日ごろにご登録の楽天IDにポイントを進呈いたします。<br>受け取ったポイントは楽天PointClubの「ポイント実績」から確認することができます。</p>
              <p class="u-Adjust_Mt-16"><a href="https://point.rakuten.co.jp/" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">ポイント実績を見る<span class="c-Icon_New-window-l"></span></a></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="anc05" class="u-Adjust_Mt-64">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center" data-ratid="scroll-05_rule" data-ratevent="appear">Rakuten Turboお申し込みと楽天市場で対象ジャンルの商品購入（1円以上）で20,000ポイント還元キャンペーン</h2>

        <div class="u-Adjust_Mt-24">
          <dl class="c-Dl_Origin">
            <div>
              <dt>キャンペーンコード</dt>
              <dd>
                <p>2038</p>
                <ul class="c-Cpn_List-mark-1">
                  <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                </ul>
              </dd>
            </div>
            <div>
              <dt>キャンペーン期間</dt>
              <dd>
                <p class="c-Txt_Emp-01">■ エントリー期間</p>
                <p class="c-Txt_Emp-01 u-Adjust_Mt-8">&lt;常時開催&gt;</p>
                <ul class="c-Cpn_List-mark-2-normal">
                  <li>
                    <p>2023年11月1日（水）10:00 ～ 終了日未定</p>
                    <ul class="c-Cpn_List-mark-1 u-Adjust_Mb-8">
                      <li>本企画は、途中で変更・中止する場合がございます</li>
                    </ul>
                  </li>
                </ul>
                <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■ プランのお申し込み期間</p>
                <ul class="c-Cpn_List-mark-2-normal">
                  <li>Web　2023年11月1日（水）10:00 ～ 終了日未定</li>
                </ul>
                <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■ プラン課金開始期限</p>
                <ul class="c-Cpn_List-mark-2-normal">
                  <li>プランのお申し込みの翌月末日23:59まで</li>
                </ul>
              </dd>
            </div>
            <div>
              <dt>キャンペーン条件</dt>
              <dd>
                <p class="c-Txt_Emp-02">上記各項目の期間内に【1】、【2】、【3】、【4】の条件をすべて満たした楽天会員の方</p>
                <div class="u-Adjust_Mt-16">
                  <p><span class="c-Txt_Emp-01">【1】キャンペーンへのエントリー</span><br>
                    「Rakuten Turbo」と「Rakuten Turbo 5G」をお申し込みをした月の末日までにエントリーしている必要があります
                  </p>
                </div>
                <div class="u-Adjust_Mt-16">
                  <p class="c-Txt_Emp-01">【2】「Rakuten Turbo」と「Rakuten Turbo 5G」をお申し込み</p>
                  <p class="u-Adjust_Mt-8">本ルール内では、Rakuten Turboはプラン名、Rakuten Turbo 5Gは製品名のことを指します</p>
                </div>
                <div class="u-Adjust_Mt-16">
                  <p class="c-Txt_Emp-01">【3】「Rakuten Turbo」を期限までに課金開始</p>
                  <p class="u-Adjust_Mt-8">課金開始日は、本サービスの提供を開始した日、もしくは製品の着荷日（または店舗で受け取った日）のいずれか早い日を1日目として、9日目です</p>
                  <ul class="c-Cpn_List-mark-1">
                    <li>製品の着荷日とは当社に配送完了データが通知された日のことを指します</li>
                  </ul>
                </div>
                <div class="u-Adjust_Mt-16">
                  <p class="c-Txt_Emp-01">【4】「Rakuten Turbo」と「Rakuten Turbo 5G」のお申し込み同月内に、楽天市場で対象ジャンルの商品1円(税込)以上をご購入</p>
                  <ul class="c-Cpn_List-mark-1">
                    <li>
                      <p>以下のジャンル内にある製品が対象となります</p>
                      <p class="u-Adjust_Mt-8">
                        <a href="https://www.rakuten.co.jp/category/562637/" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer" data-lid_no="06">【家電】<span class="c-Icon_New-window-l u-Adjust_Valign-bottom"></span></a>、
                        <a href="https://www.rakuten.co.jp/category/211742/" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer" data-lid_no="07">【TV・オーディオ・カメラ】<span class="c-Icon_New-window-l u-Adjust_Valign-bottom"></span></a>、
                        <a href="https://www.rakuten.co.jp/category/564500/ " class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer" data-lid_no="08">【タブレットPC・スマートフォン】<span class="c-Icon_New-window-l u-Adjust_Valign-bottom"></span></a>、
                        <a href="https://www.rakuten.co.jp/category/100026/" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer" data-lid_no="09">【パソコン・周辺機器】<span class="c-Icon_New-window-l u-Adjust_Valign-bottom"></span></a>、
                        <a href="https://www.rakuten.co.jp/category/101205/" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer" data-lid_no="10">【ゲーム】<span class="c-Icon_New-window-l u-Adjust_Valign-bottom"></span></a>
                      </p>
                    </li>
                  </ul>
                </div>
              </dd>
            </div>
            <div>
              <dt>キャンペーン特典 （楽天ポイント）</dt>
              <dd>
                <div>
                  <div>
                    <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
                    <p>20,000ポイント還元</p>
                  </div>
                  <div class="u-Adjust_Mt-16">
                    <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント進呈日</p>
                    <p>「Rakuten Turbo」の課金が確認された月の翌々月末日ごろに進呈</p>
                    <ul class="c-Cpn_List-mark-1">
                      <li>例）11月にすべての条件を達成した場合には、その翌々月である1月末日ごろにポイント進呈となります</li>
                      <li>楽天ポイントの付与は、楽天モバイルより行います</li>
                      <li>権利の譲渡はできません</li>
                    </ul>
                  </div>
                  <div class="u-Adjust_Mt-16">
                    <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント有効期間</p>
                    <p>ポイント付与日を含めて6カ月</p>
                    <ul class="c-Cpn_List-mark-1">
                      <li><a href="https://ichiba.faq.rakuten.net/detail/000006532" class="c-Link_Txt" target="_blank" rel="noopener">期間限定ポイントについて</a></li>
                      <li>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
                    </ul>
                  </div>
                </div>
              </dd>
            </div>
            <div id="anc06">
              <dt>楽天市場購入対象外製品</dt>
              <dd>
                <p>以下の楽天市場のお買い物およびサービスは対象外となります</p>
                <div class="u-Adjust_Mt-8">
                  <ul class="c-List_Text-disc">
                    <li>Google Play ギフトコード認定店</li>
                    <li class="u-Adjust_Mt-8">DAZN認定店</li>
                    <li class="u-Adjust_Mt-8">Apple Gift Card 認定店</li>
                  </ul>
                </div>
              </dd>
            </div>
            <div>
              <dt>特典適用対象外</dt>
              <dd>
                <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
                <ul class="c-Cpn_List-mark-1">
                  <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                  <li>本キャンペーンの適用回数が、おひとり様1回を超える場合は対象外となります</li>
                  <li>過去にRakuten Turbo&楽天モバイルご利用で20,000ポイントプレゼントキャンペーン(キャンペーンコード：1895)の特典進呈対象者となった場合</li>
                  <li>特典ポイント進呈時点で注文がキャンセルされている場合</li>
                  <li>転売行為が多く見られる商品について、同一商品を転売・換金目的で複数注文したと判断された場合</li>
                  <li>Rakuten Turbo 5Gを楽天モバイルオンライン以外で購入した場合</li>
                  <li>期限までに「Rakuten Turbo」の課金が発生しなかった場合</li>
                  <li>ポイント進呈までに「Rakuten Turbo」の解約手続きを行なった場合</li>
                  <li>ポイント進呈までに楽天会員から退会している場合</li>
                  <li>当社または楽天グループ株式会社が定める規約などに違反した場合</li>
                  <li>そのほか、当社が会員として不適格であると合理的に判断した場合</li>
                </ul>
              </dd>
            </div>
            <div>
              <dt>併用可能キャンペーン</dt>
              <dd>
                <p class="c-Txt_Emp-02">以下のキャンペーンは併用可能となります</p>
                <ul class="c-Cpn_List-mark-2">
                  <li>Rakuten Turbo 月額プラン料金6カ月間無料キャンペーン(キャンペーンコード：2130)</li>
                  <li>SPU特設 Rakuten Turboを初めてお申し込みで1,000ポイントプレゼントキャンペーン（キャンペーンコード：1919）</li>
                  <li>【ダイヤモンド会員様限定】Rakuten Turboをお申し込みで1,200ポイントプレゼントキャンペーン（キャンペーンコード：1947）</li>
                  <li>スタート1000 Rakuten Turboを初めてご利用で1,000ポイントGET!（キャンペーンコード：1950）</li>
                </ul>
              </dd>
            </div>
            <div>
              <dt>注意事項</dt>
              <dd>
                <ul class="c-Cpn_List-mark-1">
                  <li>本キャンペーンで進呈されるポイント数は、ポイント進呈後、楽天ポイントクラブ上のポイント実績でご確認いただけます</li>
                  <li>「Rakuten Turbo」と「Rakuten Turbo 5G」お申し込み時の楽天IDと楽天市場でお買い物された楽天IDが異なる場合、そのお買い物は本キャンペーンの対象外となります</li>
                  <li>本キャンペーンとRakuten Turbo&楽天モバイルご利用で20,000ポイントプレゼントキャンペーン(キャンペーンコード：1895)の特典進呈対象者となった場合、本キャンペーンが適用されます</li>
                  <li>不正行為、利用規約違反、その他運営上の趣旨に反していると弊社が判断した場合は、キャンペーン対象外とし、特典の返還または特典に相当する金額のお支払いを求める場合があります</li>
                  <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                  <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                  <li>製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
                  <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント進呈の対象外となる場合がございます</li>
                  <li>記載の内容は2024年5月1日（水）時点の情報となります</li>
                </ul>
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </section>

    <section class="u-Adjust_Mt-40 u-Adjust_Mt-pc-56">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">おすすめ対象商品特集</h2>

        <div class="u-Adjust_Mt-24 u-Adjust_Mt-pc-16">
          <div class="turbo-Carousel js-Carousel-bnr">
            <a href="https://event.rakuten.co.jp/appliance/refrigerator/" class="c-Banner_Hover-act u-Adjust_Valign-bottom" target="_blank" rel="noopener noreferrer" data-lid_no="02">
              <div class="turbo-Carousel_Image">
                <img data-lazy="<%= imgDir %>img-carousel01.jpg" alt="作り置きやまとめ買いも。 冷蔵庫特集">
              </div>
            </a>
            <a href="https://event.rakuten.co.jp/computer/pc/" class="c-Banner_Hover-act u-Adjust_Valign-bottom" target="_blank" rel="noopener noreferrer" data-lid_no="03">
              <div class="turbo-Carousel_Image">
                <img data-lazy="<%= imgDir %>img-carousel02.jpg" alt="『ほしい』が見つかるノートパソコン特集">
              </div>
            </a>
            <a href="https://event.rakuten.co.jp/mobile/product/" class="c-Banner_Hover-act u-Adjust_Valign-bottom" target="_blank" rel="noopener noreferrer" data-lid_no="04">
              <div class="turbo-Carousel_Image">
                <img data-lazy="<%= imgDir %>img-carousel03.jpg" alt="対象アイテム限定 スマホが超お得 1,000円OFFクーポン">
              </div>
            </a>
          </div>
          <div class="turbo-Carousel_Nav"></div>
        </div>
      </div>
    </section>

    <section class="u-Adjust_Mt-48">
      <div class="l-System_Container">
        <%- include('/include/internet/turbo/_bnr-six-month-free', {
          lidparts: 'internet_turbo_campaign_ichiba-1yen'
        }) %>
      </div>
    </section>

    <div class="<%= namespace %>-List_Links-fixed" id="js-fixed-nav">
      <div class="<%= namespace %>-List_Links-fixed-inner">
        <ul class="<%= namespace %>-List_Links-fixed-items">
          <li class="<%= namespace %>-List_Links-fixed-item">
            <a href="#anc01" class="<%= namespace %>-List_Links-fixed-link js-fixed-link-scroll" data-ratid="rmt_anchor_menu_fix_01" data-ratevent="click" data-ratparam="all">
              <span class="<%= namespace %>-List_Links-fixed-arrow c-Icon_Arrow-down-l"></span>
              <div class="<%= namespace %>-List_Links-fixed-txt">ポイント還元<br class="<%= namespace %>-List_Links-fixed-break">対象商品</div>
              <span class="<%= namespace %>-List_Links-fixed-icon c-Icon_Cart-l"></span>
            </a>
          </li>

          <li class="<%= namespace %>-List_Links-fixed-item">
            <a href="#anc02" class="<%= namespace %>-List_Links-fixed-link js-fixed-link-scroll" data-ratid="rmt_anchor_menu_fix_02" data-ratevent="click" data-ratparam="all">
              <span class="<%= namespace %>-List_Links-fixed-arrow c-Icon_Arrow-down-l"></span>
              <div class="<%= namespace %>-List_Links-fixed-txt">ポイント<br class="<%= namespace %>-List_Links-fixed-break">還元例</div>
              <span class="<%= namespace %>-List_Links-fixed-icon c-Icon_Point-l"></span>
            </a>
          </li>

          <li class="<%= namespace %>-List_Links-fixed-item">
            <a href="#anc03" class="<%= namespace %>-List_Links-fixed-link js-fixed-link-scroll" data-ratid="rmt_anchor_menu_fix_03" data-ratevent="click" data-ratparam="all">
              <span class="<%= namespace %>-List_Links-fixed-arrow c-Icon_Arrow-down-l"></span>
              <div class="<%= namespace %>-List_Links-fixed-txt">ポイント還元<br class="<%= namespace %>-List_Links-fixed-break">の流れ</div>
              <span class="<%= namespace %>-List_Links-fixed-icon c-Icon_List-view-l"></span>
            </a>
          </li>

          <li class="<%= namespace %>-List_Links-fixed-item">
            <a href="#anc04" class="<%= namespace %>-List_Links-fixed-link js-fixed-link-scroll" data-ratid="rmt_anchor_menu_fix_05" data-ratevent="click" data-ratparam="all">
              <span class="<%= namespace %>-List_Links-fixed-arrow c-Icon_Arrow-down-l"></span>
              <div class="<%= namespace %>-List_Links-fixed-txt">Rakuten <br class="<%= namespace %>-List_Links-fixed-break">Turboの魅力</div>
              <span class="<%= namespace %>-List_Links-fixed-icon">
                <img src="<%= imgDir %>icon-about.svg" alt="" width="32" height="32">
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="u-Rat_Appear-height" data-ratid="scroll-00" data-ratevent="appear"></div>

    <div class="u-Adjust_Mt-24">
      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
      <%- include('/include/internet/turbo/_footer', {
        pagetitle: 'Rakuten Turboお申し込み&楽天市場の対象ジャンルを1円以上お買い物で20,000ポイント還元キャンペーン',
        breadcrumbs: true,
        directories,
      }) %>
    </div>

    <div id="js-fixed-btn" class="<%= namespace %>-Layout_Btn-fixed" aria-expanded="false" role="region">
      <div class="<%= namespace %>-Layout_Btn-fixed-inner">
        <% if (information.campaignState !=='finish' ) { %>
          <div class="js-notEntered u-Adjust_Align-center">
            <a href="https://oubo.rakuten.co.jp/apply/rmobile/turboichiba/231013" class="c-Btn_Primary-large js-entry-btn" data-lid_no="03">
              <span>
                <span>エントリーする</span>
              </span>
            </a>
          </div>
          <div class="js-Entered u-Adjust_Align-center" style="display: none;">
            <a href="<%= sitepath %>internet/turbo/application/" class="c-Btn_Primary-large" data-lid_no="03">
              <span>
                <span>Rakuten Turbo お申し込み</span>
              </span>
            </a>
          </div>
        <% } %>
      </div>
    </div>
  </div>

  <!-- ReX Campaign Entry Button: Configuration -->
  <script>
    var rexButtons = [{ "wide": false, "showCelebration": false, "theme": "red", "code": "/rmobile/turboichiba/231013", "ids": ["rex-ceb-01"] }]
  </script>
  <!-- ReX Campaign Entry Button: Script -->
  <script src="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/4.4.0/static/js/main.js" defer></script>

  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
  <%- include('/include/internet/turbo/_rex-survey-campaign') %>
  <script src="<%= sitepath %>assets/js/internet.turbo.campaign.ichiba-1yen.bundle.js?20240521"></script>
  <script>
  // エントリーボタン切り替え処理
  (() => {
    var notEntered = document.getElementsByClassName('js-notEntered');
    var Entered = document.getElementsByClassName('js-Entered');

    var CampaignButton;
    var entryBtn = document.getElementsByClassName('js-entry-btn');

    var chkCampaignButton = function () {
      CampaignButton = document.getElementsByClassName('CampaignButton');
      // console.log(CampaignButton[0].innerText);
      if (CampaignButton[0].innerText == 'エントリーはこちら' || CampaignButton[0].innerText == 'エントリー済みです' || CampaignButton[0].innerText == 'エントリーが完了しました' || CampaignButton[0].innerText == 'Click here for entry' || CampaignButton[0].innerText == 'Entry has been completed' || CampaignButton[0].innerText == 'Entry completed') {
        if (CampaignButton[0].innerText == 'エントリー済みです' || CampaignButton[0].innerText == 'エントリーが完了しました' || CampaignButton[0].innerText == 'Entry has been completed' || CampaignButton[0].innerText == 'Entry completed') {
          for (var i = 0; i < notEntered.length; i++) {
            notEntered[i].style.display = 'none';
          }
          for (var j = 0; j < Entered.length; j++) {
            Entered[j].style.display = 'block';
          }
        } else {
          for (var i = 0; i < notEntered.length; i++) {
            notEntered[i].style.display = 'block';
          }
          for (var j = 0; j < Entered.length; j++) {
            Entered[j].style.display = 'none';
          }
        }
      }
    }

    window.onload = function () {
      var chkCampaignButtonInterval = setInterval(function () {
        CampaignButton = document.getElementsByClassName('CampaignButton');
        // console.log(CampaignButton[0].innerText);
        if (CampaignButton[0].innerText == 'エントリーはこちら' || CampaignButton[0].innerText == 'エントリー済みです' || CampaignButton[0].innerText == 'エントリーが完了しました' || CampaignButton[0].innerText == 'Click here for entry' || CampaignButton[0].innerText == 'Entry has been completed' || CampaignButton[0].innerText == 'Entry completed') {
          clearInterval(chkCampaignButtonInterval);
          if (CampaignButton[0].innerText == 'エントリー済みです' || CampaignButton[0].innerText == 'エントリーが完了しました' || CampaignButton[0].innerText == 'Entry has been completed' || CampaignButton[0].innerText == 'Entry completed') {
            for (var i = 0; i < notEntered.length; i++) {
              notEntered[i].style.display = 'none';
            }
            for (var j = 0; j < Entered.length; j++) {
              Entered[j].style.display = 'block';
            }
          } else {
            for (var i = 0; i < notEntered.length; i++) {
              notEntered[i].style.display = 'block';
            }
            for (var j = 0; j < Entered.length; j++) {
              Entered[j].style.display = 'none';
            }
          }
        }
      }, 10000);

      var chkCampaignButtonTimeout = setTimeout(chkCampaignButton, 500);
      var chkCampaignButtonTimeout = setTimeout(chkCampaignButton, 1000);
      var chkCampaignButtonTimeout = setTimeout(chkCampaignButton, 50000);
    }
  })();
  </script>
</body>
</html>
