<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "電話設定サポート" -%>
<% const directories = [{path: hikariroot.path + "fee/", label:"料金"}, {path: hikariroot.path + "fee/pricelist/", label:"料金表・お支払い方法"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'インターネット接続設定を電話でサポートするサービス。パソコン・スマホ・タブレットなどの設定を、開通後60日以内1回まで無料でサポートします。',
    noindex: false,
    pathname: filepath,
    ishikari: true,
    canonical_custom: 'https://network.mobile.rakuten.co.jp/hikari/fee/option/remote-support/'
  });
%>
<%- include('/include/hikari/_common-v2-hikari-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/fee/option/option.css?20240424">
<%- include('/include/_append-head-hikari') %>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>

<div class="l-System">

  <%- include('/hikari/include/_header', {
    headerType: 'normal',
    pagetitle: pagetitle,
    pathname: filepath,
    directories: directories
  }) %>

  <div class="l-hikari-Section_Main">
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
      <div class="l-hikari-Section_Main-lead">
        <p>パソコンやスマホのネット接続に関するお困りごとを電話や専用リモートツールにてサポートします。</p>
        <dl class="c-Dl_Origin u-Adjust_Mt-32">
          <div>
            <dt>料金</dt>
            <dd>
              <p class="c-Txt_Emp">
                <span>開通後60日以内</span><span class="c-Txt_Normal-ll u-Adjust_Ml-8">初回無料</span>
              </p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※ 無料期間後・2回目以降は2,200円</p>
            </dd>
          </div>
        </dl>
      </div>

      <div class="l-hikari-Section_Sub-short">
        <h2 class="c-Heading_Lv2">面倒な設定をサポートします</h2>

        <div class="l-hikari-Section_Sub-content-tall">
          <h3 class="c-Heading_Lv3">サポート内容の例</h3>
          <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/hikari/fee/option/remote-support/img01.png?211114" alt="" width="328" height="187">
            </div>
            <div>
              <ul class="c-List_Text-disc">
                <li>パソコンのインターネット接続</li>
                <li>Wi-Fiルーターの初期設定</li>
                <li>スマホ、タブレットの設定</li>
                <li>Webブラウザのトップページの初期設定</li>
                <li>メールの設定</li>
                <li>セキュリティソフトのインストール</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="l-hikari-Section_Sub-content-tall">
          <h3 class="c-Heading_Lv3">サポート台数</h3>
          <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/hikari/fee/option/remote-support/img02.png?211114" alt="" width="328" height="187">
            </div>
            <div>
              <p>パソコン1台及びスマホ、タブレット、ゲーム、TVのいずれか2台まで（上限を超えた場合も有償でサポートいたします）</p>
            </div>
          </div>
        </div>

        <div class="l-hikari-Section_Sub-content-tall">
          <h3 class="c-Heading_Lv3">受付時間</h3>
          <div class="l-hikari-Section_Sub-content-middle">
            <p>9:00～21:00（年中無休）</p>
          </div>
        </div>
      </div>
    </div>


    <div class="c-Theme-Light l-hikari-Section_Sub-tall">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv3 u-Adjust_Align-center u-Adjust_Mt-16">お申し込み方法</h2>
        <p class="u-Adjust_Mt-24">専用ダイヤルにお電話いただき、お電話口で「電話設定サポート専用シリアル番号」をお伝えの上、お申し込みください。</p>
        <ul class="c-List_Text-disc u-Adjust_Mt-16 u-Adjust_Mb-16">
          <li>専用ダイヤルはご契約時にお送りする書面に記載があります。</li>
          <li>「電話設定サポート専用シリアル番号」は、「契約内容のお知らせ」裏面に記載があります。
            <p class="c-Txt_Cap u-Adjust_Mt-8">※ シリアル番号がない場合、サポートが受けられませんのでご注意ください。</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="l-System_Container">
      <div class="l-hikari-Section_Sub-tall">
        <div class="c-Accordion">
          <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>注意事項</button>
          <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
            <ul class="c-List_Text-disc">
              <li>トラブル診断およびトラブル対応はサポートの対象外です。</li>
              <li>パソコンやインターネットの基本操作指導、パソコンのトラブル診断・ウイルス駆除等はサポート対象外です。</li>
              <li>サポート対象OSはマイクロソフト、アップルまたはグーグルがサポートしている範囲の日本語版のOSです。上記以外のPCおよびOS以外に関わる周辺機器、ソフトウェア、サービスなどは対象外です。</li>
              <li>サポート対象OSへの対応表明がされていない周辺機器、ソフトウェア、サービス等の設定サポートをご希望の場合、<br>ご希望に添えない場合や作業が完了できない場合、もしくは作業自体が行えない場合がございます。</li>
              <li>設定を行うホームページ閲覧ソフト（Webブラウザ）、電子メールソフトはOSに標準搭載のソフトになります。</li>
              <li>標準搭載以外の設定をご希望の場合は対応できない場合もございます。<br>セキュリティサービスの設定をご希望の場合、対象外のOSもございます。</li>
              <li>回線に関わる専用機器は回線事業者が動作保証したものを対象とさせていただきます。</li>
              <li>外国語OSまたは外国語での設定サポート、マルチブートマシンへの設定作業、室内の配線工事には対応しておりません。</li>
              <li>データの保証は致しかねます。必要なデータは作業前までにお客さまご自身でバックアップを行ってください。</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

  <footer class="g-Footer">
    <%- include('/hikari/include/_footer', {
      pagetitle: pagetitle,
      directories: directories,
      // hiddenFooterCtaText: '',
      // hiddenFooterCtaLink: '',
      hiddenFooterCta: true,
      // hiddenMenu: true,
      // hiddenPopask: true,
      // hiddenBacktop: true,
      // hiddenBreadcrumbs: true,
    }) _%>
  </footer>

</div>
<%- include('/include/hikari/_common-js') %>
<%- include('/include/_append-body') %>
<div></div>
</body>
</html>
