<% const pagetitle = "お手持ちのiPhone・iPadで楽天回線を使用するためのAPN構成プロファイル削除方法" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/iphone/initial-setting/", label:"初期設定（iPhone・Apple Watch）"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'お手持ちのiPhone・iPadで楽天回線を使用するためのAPN構成プロファイル削除方法をご案内します。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
  <%- include('/include/_prepend-body') %>

  <div class="l-System">

    <%- include('/include/_header') %>

    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>

    <div class="<%= nameSpace %>-Layout_Container">
      <div class="l-System_Container">
        <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
        <p class="u-Adjust_Mt-32">楽天モバイル（ドコモ回線・au回線）、ワイモバイル、UQモバイル、IIJmio、LINEモバイル、mineoなどでiPhoneをご利用されていた方は、MNP開通手続きやAPN設定の前に、プロファイルの削除を行ってください。</p>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="iphoneAnchor">APN構成プロファイルの削除手順</h2>

        <ol class="c-Flow">
            <li><h3 class="c-Heading_Lv3">1. 「設定」をタップする</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/profile_delete/setup-1.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
            <li><h3 class="c-Heading_Lv3">2. 「一般」をタップする</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/profile_delete/setup-2.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
        </ol>
        <p class="u-Adjust_Mt-16">この先の手順からiOSのバー ジョンによって、表示・操作が 一部異なります。</p>

        <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-24">
          <li><a href="#ios14" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>iOS14の場合</a></li>
          <li><a href="#ios15" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>iOS15の場合</a></li>
        </ul>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-48" id="ios14">iOS14の場合</h3>
    <ol class="c-Flow">
        <li><h3 class="c-Heading_Lv3">3. 「プロファイル※」をタップする</h3><p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>「プロファイルとデバイス管理」と表示される場合もあります。</p><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/profile_delete/setup-3.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
        <li><h3 class="c-Heading_Lv3">4. 削除をする「構成プロファイル」をタップする</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/profile_delete/setup-4.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
        <li><h3 class="c-Heading_Lv3">5. 「プロファイルを削除」をタップする</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/profile_delete/setup-5.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
        <li><h3 class="c-Heading_Lv3">6. パスコードを入力する</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/profile_delete/setup-6.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
        <li><h3 class="c-Heading_Lv3">7. 構成プロファイルが削除されたことを確認する</h3><p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>削除後、プロファイルが1つもない場合には、手順3の画面に「プロファイルとデバイス管理」メニューは表示されません。</p><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/profile_delete/setup-7.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
    </ol>
    <p class="u-Adjust_Mt-24">以上でiOS14のAPN構成プロファイル の削除は完了です。</p>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-48" id="ios15">iOS15の場合</h3>
        <ol class="c-Flow">
            <li><h3 class="c-Heading_Lv3">3. 「VPNとデバイス管理」をタップする</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/profile_delete/setup-8.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
            <li><h3 class="c-Heading_Lv3">4. 削除をする「構成プロファイル」をタップする</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/profile_delete/setup-9.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
            <li><h3 class="c-Heading_Lv3">5. 「プロファイルを削除」をタップする</h3>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/profile_delete/setup-10.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
            <li><h3 class="c-Heading_Lv3">6. パスコードを入力する</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/profile_delete/setup-11.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
            <li><h3 class="c-Heading_Lv3">7. 構成プロファイルが削除されたことを確認する</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/profile_delete/setup-12.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
        </ol>
        <p class="u-Adjust_Mt-24">以上でiOS15のAPN構成プロファイル の削除は完了です。</p>
        <p class="u-Adjust_Mt-24">楽天回線をiOSで使うための初期設定は下記をご覧ください。</p>
        <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/setting/ios/" class="c-Link_Txt-inline">お手持ちのiPhone・iPadで楽天回線を使用するための初期設定方法を見る<span class="c-Icon_Chevron-right"></span></a></p>

        <%- include('/include/guide/_faq') %>

        <div class="u-Adjust_Pt-64">
          <div><a href="<%= sitepath %>inquiry/?status=initial" class="c-Btn_Regular"><span>お問い合わせページへ</span></a></div>
          <div class="u-Adjust_Mt-16"><a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップにもどる</span></a></div>
          <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a></div>
        </div>

      </div>
    </div>




    <%- include('/include/guide/_review') %>
    <%- include('/include/guide/_inquiry') %>

    <footer class="g-Footer">

      <div class="g-Footer_Aside">

        <%- include('/include/footer/bnr/_bnr.ejs') %>

      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
          <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ if (typeof directories !== 'undefined') { _%>
          <%_ let dirs = []; _%>
          <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
              <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
              <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
          <%_ }) _%>
          <%_ } _%>
          <li aria-current="true"><%= pagetitle %></li>
        </ul>
        </div>
      </div>

      <%- include('/include/_footer') %>

    </footer>

    </div>
    <%- include('/include/_common-js') %>
    <script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
    <script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
    <%- include('/include/_append-body') %>



    </body>
    </html>
