<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "楽天ひかりのご解約手順について（注意事項）" -%>
<% const directories = [{path: hikariroot.path + "support/", label:"お客様サポート"}] -%>
<% const namespace = "hikari-flow-cancellation" -%>
<% const orglid1 = "rhk_hikari_support_cancellation_internet_turbo_campaign_six-month-free" -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天ひかりのご解約方法、解約前の注意事項や他社へのお乗り換え等のお手続き方法をご案内いたします。',
    noindex: false,
    pathname: filepath,
    ishikari: true,
    canonical_custom: 'https://network.mobile.rakuten.co.jp/hikari/support/cancellation/',
  });
%>
<%- include('/include/hikari/_common-v2-hikari-css') %>
<%- include('/include/hikari/_common-v2-hikari-css-only-hf') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/support/cancellation/cancellation.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/module/m-hikari-cpn-v2.css?20240424">
<%- include('/include/_append-head-hikari') %>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>

<div class="l-System">
  <%- include('/hikari/include/_header', { headerType: 'normal', pagetitle: pagetitle, directories: directories, tax: false }) %>

  <div class="l-hikari-Section_Main">
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

      <div class="c-Infobox_Standing-warning u-Adjust_Mt-24">
        <h2 class="c-Heading_Lv2 c-Txt_Emp-warning">ご解約前の注意事項</h2>
        <ol>
          <li class="u-Adjust_Mt-24">
            <p class="c-Txt_Normal-m c-Txt_Emp">①&nbsp;楽天ひかりご解約に伴い以下のサービスは使えなくなります</p>
            <ul class="c-List_Text-disc">
              <li class="u-Adjust_Mt-8">楽天ひかりのインターネット</li>
              <li class="u-Adjust_Mt-8">オプションサービス</li>
              <li class="u-Adjust_Mt-8">「楽天ポイント＋2倍」</li>
            </ul>
          </li>
          <li class="u-Adjust_Mt-24">
            <p class="c-Txt_Normal-m c-Txt_Emp">②&nbsp;ご解約の際に契約解除料が発生する場合があります</p>
            <p class="u-Adjust_Mt-8">
              <a href="https://hikari.faq.rakuten.net/faq/show/1212" class="c-Link_Txt-inline">契約解除料を見る<span class="c-Icon_Arrow-right-l"></span></a>
            </p>
          </li>
          <li class="u-Adjust_Mt-24">
            <p class="c-Txt_Normal-m c-Txt_Emp">③&nbsp;ご解約希望日の20日前までに解約申請を行ってください</p>
            <p class="u-Adjust_Mt-8">お手続きや工事の状況により、ご解約希望日に添えない場合があります。</p>
          </li>
        </ol>
      </div>
    </div>

    <div class="u-Adjust_Mt-48">
      <div class="l-System_Container">
        <h3 class="c-Heading_Lv3">ご解約手順のご案内前に、楽天ひかりのご解約を検討する理由やご不満があれば教えてください</h3>
      </div>
      <div class="<%= namespace %>-Tab js-Tab">
        <div class="<%= namespace %>-Tab_Header js-Tab_Header">
          <ul class="<%= namespace %>-Tab_Header-items" role="tablist">
            <li class="<%= namespace %>-Tab_Header-item js-Tab_Item" id="tab01" role="tab" aria-selected="false" aria-controls="suggestion01" data-ratid="cancellation_suggestion_01" data-ratevent="click" data-ratparam="all">
                <span class="<%= namespace %>-Tab_Radio"></span>料金が高い
            </li>
            <li class="<%= namespace %>-Tab_Header-item js-Tab_Item" id="tab02" role="tab" aria-selected="false" aria-controls="suggestion02" data-ratid="cancellation_suggestion_02" data-ratevent="click" data-ratparam="all">
              <span class="<%= namespace %>-Tab_Radio"></span>引越しをする
            </li>
            <li class="<%= namespace %>-Tab_Header-item js-Tab_Item" id="tab03" role="tab" aria-selected="false" aria-controls="suggestion03" data-ratid="cancellation_suggestion_03" data-ratevent="click" data-ratparam="all">
              <span class="<%= namespace %>-Tab_Radio"></span>あまり使わなくなった
            </li>
            <li class="<%= namespace %>-Tab_Header-item js-Tab_Item" id="tab04" role="tab" aria-selected="false" aria-controls="suggestion04" data-ratid="cancellation_suggestion_04" data-ratevent="click" data-ratparam="all">
              <span class="<%= namespace %>-Tab_Radio"></span>他サービスに乗り換える
            </li>
            <li class="<%= namespace %>-Tab_Header-item js-Tab_Item" id="tab05" role="tab" aria-selected="false" aria-controls="suggestion05" data-ratid="cancellation_suggestion_05" data-ratevent="click" data-ratparam="all">
              <span class="<%= namespace %>-Tab_Radio"></span>その他
            </li>
          </ul>
        </div>

        <div class="<%= namespace %>-Tab_Panel u-Adjust_Mt-24" id="suggestion01" role="tabpanel" aria-hidden="true" aria-labelledby="tab01">
          <div class="<%= namespace %>-Tab_Panel-inner">
            <div class="<%= namespace %>-Bubble">
              <div class="<%= namespace %>-Bubble-inner">
                <div class="<%= namespace %>-Bubble_Content">
                  <h4 class="<%= namespace %>-Bubble_Title">「楽天ひかりの料金が高い...」と感じた方へ</h4>
                </div>
              </div>
            </div>
            <div class="<%= namespace %>-Lead">
              <div class="<%= namespace %>-Lead_Content">
                <p class="<%= namespace %>-Lead_Txt-fee">楽天ひかりは<span class="<%= namespace %>-Lead_Txt-emp">おトク</span>がたくさんあります！</p>
                <div class="<%= namespace %>-Lead_Media">
                  <img src="<%= sitepath %>assets/img/hikari/support/cancellation/img-staff.svg" width="112" height="99" alt="">
                </div>
              </div>
            </div>

            <div class="<%= namespace %>-Theme_Box-light u-Adjust_Pt-32 u-Adjust_Pb-32">
              <h5 class="<%= namespace %>-Theme_Box-title u-Adjust_Align-center">
                <mark class="c-Txt_Emp-underline">楽天ひかりなら楽天ポイントがおトクに貯まる</mark>
              </h5>
              <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/hikari/support/cancellation/img-logo.svg" width="78" height="78" alt="R POINT">
              </div>
              <p class="<%= namespace %>-Theme_Box-lead">楽天ひかりは<span class="c-Txt_Emp">SPU（スーパーポイントアッププログラム）対象</span>です！<br>楽天モバイルとセットで使っていれば、楽天市場のお買い物でもらえるポイントが<span class="c-Txt_Emp">常時最大4倍</span>になります。</p>
              <div class="<%= namespace %>-Theme_Box-white u-Adjust_Mt-24">
                <div class="<%= namespace %>-Theme_Box-white-inner">
                  <p class="c-Txt_Normal-m c-Txt_Emp u-Adjust_Align-center">楽天市場のお買い物で獲得できるポイントの内訳</p>
                  <div class="u-Adjust_Mt-16">
                    <ul class="<%= namespace %>-List_Borderbox">
                      <li class="<%= namespace %>-List_Borderbox-item">
                        <div class="<%= namespace %>-Theme_Borderbox-orange">
                          <div class="u-Adjust_Align-center">
                            <picture>
                              <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/support/cancellation/img-breakdown-01-sp-240408.png" width="156" height="76">
                              <img src="<%= sitepath %>assets/img/hikari/support/cancellation/img-breakdown-01-pc-240408.png" width="176" height="82" alt="楽天ひかり R SPU +2倍">
                            </picture>
                          </div>
                        </div>
                      </li>
                      <li class="<%= namespace %>-List_Borderbox-item">
                        <div class="<%= namespace %>-Theme_Borderbox-gray">
                          <div class="u-Adjust_Align-center">
                            <picture>
                              <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/support/cancellation/img-breakdown-02-sp-240408.png" width="156" height="56">
                              <img src="<%= sitepath %>assets/img/hikari/support/cancellation/img-breakdown-02-pc-240408.png" width="176" height="82" alt="楽天モバイル R SPU ＋4倍※">
                            </picture>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <div class="u-Adjust_Align-center">
                      <picture>
                        <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/support/cancellation/img-breakdown-03-sp-240408.png" width="311" height="86">
                        <img src="<%= sitepath %>assets/img/hikari/support/cancellation/img-breakdown-03-pc-240408.png" width="450" height="110" alt="毎日全員7倍!!※">
                      </picture>
                    </div>
                    <div class="<%= namespace %>-Theme_Box-breakdown">
                      <div class="u-Adjust_Align-center">
                        <picture>
                          <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/support/cancellation/img-breakdown-04-sp-240408.png"  width="273" height="52">
                          <img src="<%= sitepath %>assets/img/hikari/support/cancellation/img-breakdown-04-pc-240408.png" width="494" height="52" alt="その他グループサービスと合わせてポイント最大17倍">
                        </picture>
                      </div>
                    </div>
                    <div class="<%= namespace %>-Txt_Align-center-pc u-Adjust_Mt-16">
                      <p class="c-Txt_Cap">
                        ※楽天会員1倍、Rakuten Turboまたは楽天ひかりご契約中＋2倍 、楽天モバイルご利用で＋4倍（スーパーホーダイ、組み合わせプラン、コミコミプランはSPUの対象外）※楽天ひかりはプロバイダーとして楽天ブロードバンドのみ契約されている場合は特典対象外。※毎月の獲得上限ポイントはRakuten Turboまたは楽天ひかりが1,000ポイント、楽天モバイルが2,000ポイント。いずれも期間限定ポイントでの進呈 ※ポイント未利用時の倍率
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <p class="<%= namespace %>-Txt_Emp-merit">光回線を使いながらポイントが<br class="<%= namespace %>-Txt_Br-sp">貯まるのは、楽天ひかりだけ！</p>
              </div>
            </div>
            <div class="<%= namespace %>-Theme_Box-light u-Adjust_Pt-32 u-Adjust_Pb-32">
              <h5 class="<%= namespace %>-Theme_Box-title u-Adjust_Align-center">
                <span class="<%= namespace %>-Theme_Box-title-icon">
                  <img src="<%= sitepath %>assets/img/hikari/support/cancellation/icon-service.svg" width="106" height="39" alt="">
                </span>
                その他おすすめサービス
              </h5>
              <p class="<%= namespace %>-Txt_Align-center-pc u-Adjust_Mt-16">今ならプラン料金が<span class="c-Txt_Emp">1年間1,980円／月！</span><br>データ無制限のホームルーターです。データの追加料金なしで安心してお使いいただけます。</p>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <a class="c-Banner_Hover-act" href="<%= sitepath %>internet/turbo/campaign/six-month-free/?l-id=<%= orglid1 %>_01" data-ratid="<%= orglid1 %>_01" data-ratevent="click" data-ratparam="all">
                  <picture>
                    <source media="(max-width: 834px)" srcset="/assets/img/internet/turbo/bnr/bnr-turbo_campaign_6mf-343-108.png" width="343" height="108">
                    <img src="/assets/img/internet/turbo/bnr/bnr-turbo_campaign_6mf-1032-160.png" alt="Rakuten Turbo 工事不要！！すぐに使える おうちのWi-Fi プラン料金6カ月0円 さらにスマホとセットで使うと20,000ポイント還元 ※製品代金 別途41,580円 ※プラン料金7カ月目以降4,840円 ※その他条件あり" width="1032" height="160" loading="lazy">
                  </picture>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="<%= namespace %>-Tab_Panel u-Adjust_Mt-24" id="suggestion02" role="tabpanel" aria-hidden="true" aria-labelledby="tab02">
          <div class="<%= namespace %>-Tab_Panel-inner">
            <div class="<%= namespace %>-Bubble">
              <div class="<%= namespace %>-Bubble-inner">
                <div class="<%= namespace %>-Bubble_Content">
                  <h4 class="<%= namespace %>-Bubble_Title">お引越しをされる方へ</h4>
                </div>
              </div>
            </div>
            <div class="<%= namespace %>-Lead">
              <div class="<%= namespace %>-Lead_Content">
                <p class="<%= namespace %>-Lead_Txt-moving">楽天ひかりは<span class="<%= namespace %>-Lead_Txt-emp">契約はそのまま</span>でお引越しが可能です！</p>
                <div class="<%= namespace %>-Lead_Media">
                  <img src="<%= sitepath %>assets/img/hikari/support/cancellation/img-staff.svg" width="112" height="99" alt="">
                </div>
              </div>
            </div>

            <div class="<%= namespace %>-Theme_Box-light u-Adjust_Pt-32 u-Adjust_Pb-32">
              <h5 class="c-Txt_Normal-l u-Adjust_Align-center">お引越しのお手続きについてご確認されましたか？</h5>
              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <img src="<%= sitepath %>assets/img/hikari/support/cancellation/img-moving.svg" width="254" height="94" alt="">
              </div>
              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <a href="<%= sitepath %>hikari/support/house-moving/" class="c-Btn_Secondly-large"><span><span>引越しのお手続きを見る</span><span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span></span></a>
              </div>
            </div>
            <div class="<%= namespace %>-Theme_Box-light u-Adjust_Pt-32 u-Adjust_Pb-32">
              <h5 class="<%= namespace %>-Theme_Box-title u-Adjust_Align-center">
                <span class="<%= namespace %>-Theme_Box-title-icon">
                  <img src="<%= sitepath %>assets/img/hikari/support/cancellation/icon-service.svg" width="106" height="39" alt="">
                </span>
                その他おすすめサービス
              </h5>
              <p class="<%= namespace %>-Txt_Align-center-pc u-Adjust_Mt-16">Rakuten Turboなら<span class="c-Txt_Emp">お引越しが簡単！</span><br>工事不要なホームルーターです。お引越し先でコンセントにさしたらすぐにインターネットをお使いいただけます。</p>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <a class="c-Banner_Hover-act" href="<%= sitepath %>internet/turbo/campaign/six-month-free/?l-id=<%= orglid1 %>_02" data-ratid="<%= orglid1 %>_02" data-ratevent="click" data-ratparam="all">
                  <picture>
                    <source media="(max-width: 834px)" srcset="/assets/img/internet/turbo/bnr/bnr-turbo_campaign_6mf-343-108.png" width="343" height="108">
                    <img src="/assets/img/internet/turbo/bnr/bnr-turbo_campaign_6mf-1032-160.png" alt="Rakuten Turbo 工事不要！！すぐに使える おうちのWi-Fi プラン料金6カ月0円 さらにスマホとセットで使うと20,000ポイント還元 ※製品代金 別途41,580円 ※プラン料金7カ月目以降4,840円 ※その他条件あり" width="1032" height="160" loading="lazy">
                  </picture>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="<%= namespace %>-Tab_Panel u-Adjust_Mt-24" id="suggestion03" role="tabpanel" aria-hidden="true" aria-labelledby="tab03">
          <div class="<%= namespace %>-Tab_Panel-inner">
            <div class="<%= namespace %>-Bubble">
              <div class="<%= namespace %>-Bubble-inner">
                <div class="<%= namespace %>-Bubble_Content">
                  <h4 class="<%= namespace %>-Bubble_Title">「光回線を使わなくなった...」と感じた方へ</h4>
                </div>
              </div>
            </div>
            <div class="<%= namespace %>-Lead">
              <div class="<%= namespace %>-Lead_Content">
                <p class="<%= namespace %>-Lead_Txt-rarely"><span class="<%= namespace %>-Lead_Txt-emp">光回線より手軽に使える</span>ホームルーターを<br class="<%= namespace %>-Txt_Br-pc">ご紹介します！</p>
                <div class="<%= namespace %>-Lead_Media">
                  <img src="<%= sitepath %>assets/img/hikari/support/cancellation/img-staff.svg" width="112" height="99" alt="">
                </div>
              </div>
            </div>

            <div class="<%= namespace %>-Theme_Box-light u-Adjust_Pt-32 u-Adjust_Pb-32">
              <h5 class="<%= namespace %>-Theme_Box-title u-Adjust_Align-center">
                <span class="<%= namespace %>-Theme_Box-title-icon">
                  <img src="<%= sitepath %>assets/img/hikari/support/cancellation/icon-service.svg" width="106" height="39" alt="">
                </span>
                おすすめサービス
              </h5>
              <p class="<%= namespace %>-Txt_Align-center-pc u-Adjust_Mt-16">Rakuten Turboはコンセントにさしたらすぐに使える、<span class="c-Txt_Emp">工事不要なホームルーター</span>です。<br>光回線より手軽にインターネットを使いたい方におすすめです。<br class="<%= namespace %>-Txt_Br-sp">家中つなげても快適な高速Wi-Fiをお使いいただけます。</p>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <a class="c-Banner_Hover-act" href="<%= sitepath %>internet/turbo/campaign/six-month-free/?l-id=<%= orglid1 %>_03" data-ratid="<%= orglid1 %>_03" data-ratevent="click" data-ratparam="all">
                  <picture>
                    <source media="(max-width: 834px)" srcset="/assets/img/internet/turbo/bnr/bnr-turbo_campaign_6mf-343-108.png" width="343" height="108">
                    <img src="/assets/img/internet/turbo/bnr/bnr-turbo_campaign_6mf-1032-160.png" alt="Rakuten Turbo 工事不要！！すぐに使える おうちのWi-Fi プラン料金6カ月0円 さらにスマホとセットで使うと20,000ポイント還元 ※製品代金 別途41,580円 ※プラン料金7カ月目以降4,840円 ※その他条件あり" width="1032" height="160" loading="lazy">
                  </picture>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="<%= namespace %>-Tab_Panel u-Adjust_Mt-24" id="suggestion04" role="tabpanel" aria-hidden="true" aria-labelledby="tab04">
          <div class="<%= namespace %>-Tab_Panel-inner">
            <div class="<%= namespace %>-Bubble">
              <div class="<%= namespace %>-Bubble-inner">
                <div class="<%= namespace %>-Bubble_Content">
                  <h4 class="<%= namespace %>-Bubble_Title">他サービスへお乗り換えを<br class="<%= namespace %>-Txt_Br-sp">検討している方へ</h4>
                </div>
              </div>
            </div>
            <div class="<%= namespace %>-Lead">
              <div class="<%= namespace %>-Lead_Content">
                <p class="<%= namespace %>-Lead_Txt-transfer">楽天ひかりは<span class="<%= namespace %>-Lead_Txt-emp">他サービスにはないおトク</span>が<br class="<%= namespace %>-Txt_Br-pc">たくさんあります！</p>
                <div class="<%= namespace %>-Lead_Media">
                  <img src="<%= sitepath %>assets/img/hikari/support/cancellation/img-staff.svg" width="112" height="99" alt="">
                </div>
              </div>
            </div>

            <div class="<%= namespace %>-Theme_Box-light u-Adjust_Pt-32 u-Adjust_Pb-32">
              <h5 class="<%= namespace %>-Theme_Box-title u-Adjust_Align-center">
                <mark class="c-Txt_Emp-underline">楽天ひかりなら楽天ポイントがおトクに貯まる</mark>
              </h5>
              <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/hikari/support/cancellation/img-logo.svg" width="78" height="78" alt="R POINT">
              </div>
              <p class="<%= namespace %>-Theme_Box-lead">楽天ひかりは<span class="c-Txt_Emp">SPU（スーパーポイントアッププログラム）対象</span>です！<br>楽天モバイルとセットで使っていれば、楽天市場のお買い物でもらえるポイントが<span class="c-Txt_Emp">常時最大4倍</span>になります。</p>
              <div class="<%= namespace %>-Theme_Box-white u-Adjust_Mt-24">
                <div class="<%= namespace %>-Theme_Box-white-inner">
                  <p class="c-Txt_Normal-m c-Txt_Emp u-Adjust_Align-center">楽天市場のお買い物で獲得できるポイントの内訳</p>
                  <div class="u-Adjust_Mt-16">
                    <ul class="<%= namespace %>-List_Borderbox">
                      <li class="<%= namespace %>-List_Borderbox-item">
                        <div class="<%= namespace %>-Theme_Borderbox-orange">
                          <div class="u-Adjust_Align-center">
                            <picture>
                              <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/support/cancellation/img-breakdown-01-sp-240408.png" width="156" height="76">
                              <img src="<%= sitepath %>assets/img/hikari/support/cancellation/img-breakdown-01-pc-240408.png" width="176" height="82" alt="楽天ひかり R SPU +2倍">
                            </picture>
                          </div>
                        </div>
                      </li>
                      <li class="<%= namespace %>-List_Borderbox-item">
                        <div class="<%= namespace %>-Theme_Borderbox-gray">
                          <div class="u-Adjust_Align-center">
                            <picture>
                              <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/support/cancellation/img-breakdown-02-sp-240408.png" width="156" height="56">
                              <img src="<%= sitepath %>assets/img/hikari/support/cancellation/img-breakdown-02-pc-240408.png" width="176" height="82" alt="楽天モバイル R SPU ＋4倍※">
                            </picture>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <div class="u-Adjust_Align-center">
                      <picture>
                        <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/support/cancellation/img-breakdown-03-sp-240408.png" width="311" height="86">
                        <img src="<%= sitepath %>assets/img/hikari/support/cancellation/img-breakdown-03-pc-240408.png" width="450" height="110" alt="毎日全員7倍!!※">
                      </picture>
                    </div>
                    <div class="<%= namespace %>-Theme_Box-breakdown">
                      <div class="u-Adjust_Align-center">
                        <picture>
                          <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/support/cancellation/img-breakdown-04-sp-240408.png"  width="273" height="52">
                          <img src="<%= sitepath %>assets/img/hikari/support/cancellation/img-breakdown-04-pc-240408.png" width="494" height="52" alt="その他グループサービスと合わせてポイント最大17倍">
                        </picture>
                      </div>
                    </div>
                    <div class="<%= namespace %>-Txt_Align-center-pc u-Adjust_Mt-16">
                      <p class="c-Txt_Cap">※楽天会員1倍、Rakuten Turboまたは楽天ひかりご契約中＋2倍 、楽天モバイルご利用で＋4倍（スーパーホーダイ、組み合わせプラン、コミコミプランはSPUの対象外）※楽天ひかりはプロバイダーとして楽天ブロードバンドのみ契約されている場合は特典対象外。※毎月の獲得上限ポイントはRakuten Turboまたは楽天ひかりが1,000ポイント、楽天モバイルが2,000ポイント。いずれも期間限定ポイントでの進呈 ※ポイント未利用時の倍率</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <p class="<%= namespace %>-Txt_Emp-merit">光回線を使いながらポイントが<br class="<%= namespace %>-Txt_Br-sp">貯まるのは、楽天ひかりだけ！</p>
              </div>
            </div>
            <div class="<%= namespace %>-Theme_Box-light u-Adjust_Pt-32 u-Adjust_Pb-32">
              <h5 class="<%= namespace %>-Theme_Box-title u-Adjust_Align-center">
                <span class="<%= namespace %>-Theme_Box-title-icon">
                  <img src="<%= sitepath %>assets/img/hikari/support/cancellation/icon-service.svg" width="106" height="39" alt="">
                </span>
                その他おすすめサービス
              </h5>
              <p class="<%= namespace %>-Txt_Align-center-pc u-Adjust_Mt-16">Rakuten Turboは<span class="c-Txt_Emp">工事不要のホームルーター</span>です。<br class="<%= namespace %>-Txt_Br-pc">お乗り換えもとても簡単で、コンセントにさしたらすぐにインターネットをお使いいただけます。</p>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <a class="c-Banner_Hover-act" href="<%= sitepath %>internet/turbo/campaign/six-month-free/?l-id=<%= orglid1 %>_04" data-ratid="<%= orglid1 %>_04" data-ratevent="click" data-ratparam="all">
                  <picture>
                    <source media="(max-width: 834px)" srcset="/assets/img/internet/turbo/bnr/bnr-turbo_campaign_6mf-343-108.png" width="343" height="108">
                    <img src="/assets/img/internet/turbo/bnr/bnr-turbo_campaign_6mf-1032-160.png" alt="Rakuten Turbo 工事不要！！すぐに使える おうちのWi-Fi プラン料金6カ月0円 さらにスマホとセットで使うと20,000ポイント還元 ※製品代金 別途41,580円 ※プラン料金7カ月目以降4,840円 ※その他条件あり" width="1032" height="160" loading="lazy">
                  </picture>
                </a>
              </div>
            </div>
          </div>
          <div class="u-Adjust_Mt-24">
            <div class="l-System_Container">
              <div class="c-Infobox_Standing-info u-Adjust_Pt-32 u-Adjust_Pb-32">
                <h5 class="<%= namespace %>-Txt_Emp-info c-Txt_Normal-l">ご解約の前に...</h5>
                <p class="u-Adjust_Mt-16">他社光コラボ・フレッツ光に乗り換えの場合、<span class="c-Txt_Emp">事業者変更承諾番号の取得</span>が必要です。</p>
                <p class="u-Adjust_Mt-16">これから取得される方は取得方法をご確認ください。</p>
                <p class="u-Adjust_Mt-8">
                  <a href="https://hikari.faq.rakuten.net/faq/show/7517" class="c-Link_Txt-inline">事業者変更承諾番号の取得方法を見る<span class="c-Icon_Arrow-right-l"></span></a>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="<%= namespace %>-Tab_Panel u-Adjust_Mt-24" id="suggestion05" role="tabpanel" aria-hidden="true" aria-labelledby="tab05">
          <div class="<%= namespace %>-Tab_Panel-inner">
            <div class="<%= namespace %>-Bubble">
              <div class="<%= namespace %>-Bubble-inner">
                <div class="<%= namespace %>-Bubble_Content">
                  <h4 class="<%= namespace %>-Bubble_Title">楽天ひかりのご解約を<br class="<%= namespace %>-Txt_Br-sp">検討している方へ</h4>
                </div>
              </div>
            </div>
            <div class="<%= namespace %>-Lead">
              <div class="<%= namespace %>-Lead_Content">
                <p class="<%= namespace %>-Lead_Txt-other">楽天ひかりは<span class="<%= namespace %>-Lead_Txt-emp">おトク</span>がたくさんあります！</p>
                <div class="<%= namespace %>-Lead_Media">
                  <img src="<%= sitepath %>assets/img/hikari/support/cancellation/img-staff.svg" width="112" height="99" alt="">
                </div>
              </div>
            </div>

            <div class="<%= namespace %>-Theme_Box-light u-Adjust_Pt-32 u-Adjust_Pb-32">
              <h5 class="<%= namespace %>-Theme_Box-title u-Adjust_Align-center">
                <mark class="c-Txt_Emp-underline">楽天ひかりなら楽天ポイントがおトクに貯まる</mark>
              </h5>
              <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/hikari/support/cancellation/img-logo.svg" width="78" height="78" alt="R POINT">
              </div>
              <p class="<%= namespace %>-Theme_Box-lead">楽天ひかりは<span class="c-Txt_Emp">SPU（スーパーポイントアッププログラム）対象</span>です！<br>楽天モバイルとセットで使っていれば、楽天市場のお買い物でもらえるポイントが<span class="c-Txt_Emp">常時最大4倍</span>になります。</p>
              <div class="<%= namespace %>-Theme_Box-white u-Adjust_Mt-24">
                <div class="<%= namespace %>-Theme_Box-white-inner">
                  <p class="c-Txt_Normal-m c-Txt_Emp u-Adjust_Align-center">楽天市場のお買い物で獲得できるポイントの内訳</p>
                  <div class="u-Adjust_Mt-16">
                    <ul class="<%= namespace %>-List_Borderbox">
                      <li class="<%= namespace %>-List_Borderbox-item">
                        <div class="<%= namespace %>-Theme_Borderbox-orange">
                          <div class="u-Adjust_Align-center">
                            <picture>
                              <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/support/cancellation/img-breakdown-01-sp-240408.png" width="156" height="76">
                              <img src="<%= sitepath %>assets/img/hikari/support/cancellation/img-breakdown-01-pc-240408.png" width="176" height="82" alt="楽天ひかり R SPU +2倍">
                            </picture>
                          </div>
                        </div>
                      </li>
                      <li class="<%= namespace %>-List_Borderbox-item">
                        <div class="<%= namespace %>-Theme_Borderbox-gray">
                          <div class="u-Adjust_Align-center">
                            <picture>
                              <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/support/cancellation/img-breakdown-02-sp-240408.png" width="156" height="56">
                              <img src="<%= sitepath %>assets/img/hikari/support/cancellation/img-breakdown-02-pc-240408.png" width="176" height="82" alt="楽天モバイル R SPU ＋4倍※">
                            </picture>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <div class="u-Adjust_Align-center">
                      <picture>
                        <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/support/cancellation/img-breakdown-03-sp-240408.png" width="311" height="86">
                        <img src="<%= sitepath %>assets/img/hikari/support/cancellation/img-breakdown-03-pc-240408.png" width="450" height="110" alt="毎日全員7倍!!※">
                      </picture>
                    </div>
                    <div class="<%= namespace %>-Theme_Box-breakdown">
                      <div class="u-Adjust_Align-center">
                        <picture>
                          <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/support/cancellation/img-breakdown-04-sp-240408.png"  width="273" height="52">
                          <img src="<%= sitepath %>assets/img/hikari/support/cancellation/img-breakdown-04-pc-240408.png" width="494" height="52" alt="その他グループサービスと合わせてポイント最大17倍">
                        </picture>
                      </div>
                    </div>

                    <div class="<%= namespace %>-Txt_Align-center-pc u-Adjust_Mt-16">
                      <p class="c-Txt_Cap">※楽天会員1倍、Rakuten Turboまたは楽天ひかりご契約中＋2倍 、楽天モバイルご利用で＋4倍（スーパーホーダイ、組み合わせプラン、コミコミプランはSPUの対象外）※楽天ひかりはプロバイダーとして楽天ブロードバンドのみ契約されている場合は特典対象外。※毎月の獲得上限ポイントはRakuten Turboまたは楽天ひかりが1,000ポイント、楽天モバイルが2,000ポイント。いずれも期間限定ポイントでの進呈 ※ポイント未利用時の倍率</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <p class="<%= namespace %>-Txt_Emp-merit">光回線を使いながらポイントが<br class="<%= namespace %>-Txt_Br-sp">貯まるのは、楽天ひかりだけ！</p>
              </div>
            </div>
            <div class="<%= namespace %>-Theme_Box-light u-Adjust_Pt-32 u-Adjust_Pb-32">
              <h5 class="<%= namespace %>-Theme_Box-title u-Adjust_Align-center">
                <span class="<%= namespace %>-Theme_Box-title-icon">
                  <img src="<%= sitepath %>assets/img/hikari/support/cancellation/icon-service.svg" width="106" height="39" alt="">
                </span>
                その他おすすめサービス
              </h5>
              <p class="<%= namespace %>-Txt_Align-center-pc u-Adjust_Mt-16">Rakuten Turboはコンセントにさしたらすぐに使える、<span class="c-Txt_Emp">工事不要なホームルーター</span>です。<br>光回線より手軽に、家中つなげても快適な高速Wi-Fiをお使いいただけます。</p>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <a class="c-Banner_Hover-act" href="<%= sitepath %>internet/turbo/campaign/six-month-free/?l-id=<%= orglid1 %>_05" data-ratid="<%= orglid1 %>_05" data-ratevent="click" data-ratparam="all">
                  <picture>
                    <source media="(max-width: 834px)" srcset="/assets/img/internet/turbo/bnr/bnr-turbo_campaign_6mf-343-108.png" width="343" height="108">
                    <img src="/assets/img/internet/turbo/bnr/bnr-turbo_campaign_6mf-1032-160.png" alt="Rakuten Turbo 工事不要！！すぐに使える おうちのWi-Fi プラン料金6カ月0円 さらにスマホとセットで使うと20,000ポイント還元 ※製品代金 別途41,580円 ※プラン料金7カ月目以降4,840円 ※その他条件あり" width="1032" height="160" loading="lazy">
                  </picture>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="u-Adjust_Align-center u-Adjust_Pt-24 u-Adjust_Pb-56 js-confirm" style="display: none;">
        <div class="l-System_Container">
          <button type="button" rel="noopener" class="c-Btn_Secondly-large js-confirm-btn" data-ratid="cancellation_confirm_btn" data-ratevent="click" data-ratparam="all"><span><span>ご解約の手順を確認する</span></span></button>
        </div>
      </div>

      <div class="js-confirm-target u-Adjust_Pt-24 u-Adjust_Pb-56" style="display: none;">
        <div class="l-System_Container">
          <div class="c-Infobox_Standing-warning">
            <p class="<%= namespace %>-Txt_Align-center-pc c-Txt_Normal-ll c-Txt_Emp-warning">ご確認ください</p>
            <p class="<%= namespace %>-Txt_Align-center-pc c-Txt_Normal-m c-Txt_Emp u-Adjust_Mt-24">月途中で解約工事が完了しても、解約日まで月額利用料は発生いたします</p>
            <p class="<%= namespace %>-Txt_Align-center-pc u-Adjust_Mt-8">
              <a href="https://hikari.faq.rakuten.net/faq/show/1189" class="c-Link_Txt-inline">「解約日」について見る<span class="c-Icon_Arrow-right-l"></span></a>
            </p>
          </div>
        </div>

        <div class="u-Adjust_Mt-24">
          <div class="<%= namespace %>-Layout_Flow">
            <div class="<%= namespace %>-Theme_Box-light-secondary">
              <h5 class="<%= namespace %>-Txt_Align-center-pc c-Txt_Normal-ll c-Txt_Emp">ご解約の手順</h5>
              <div class="u-Adjust_Mt-24">
                <div class="<%= namespace %>-Layout_Accordion">
                  <div class="c-Accordion-Emphasis">
                    <button type="button" id="accordion-1" class="c-Accordion-Emphasis_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1" data-ratid="cancellation_accordion_01" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion-Emphasis_Arrow"></span>メンバーズステーションにログインし、解約申請を行ってください</button>
                    <div id="accordion-content-1" class="c-Accordion-Emphasis_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
                      <ol class="c-Flow u-Adjust_Mt-0">
                        <li>
                          <p class="c-Txt_Normal-m c-Txt_Emp">1.&nbsp;ページ下の「解約申請に進む」のボタンをクリックし、メンバーズステーションにログインする</p>
                          <p class="u-Adjust_Mt-24">メンバーズステーションのユーザーID・パスワードがわからない場合は、下記のFAQをご覧ください。</p>
                          <p class="u-Adjust_Mt-8">
                            <a href="https://hikari.faq.rakuten.net/faq/show/9391" class="c-Link_Txt-inline">「ユーザID」「パスワード」の確認方法を見る<span class="c-Icon_Arrow-right-l"></span></a>
                          </p>
                        </li>
                        <li>
                          <p class="c-Txt_Normal-m c-Txt_Emp">2.&nbsp;メンバーズステーションにログイン後、「会員メニュー」の「解約申請」をクリックする</p>
                          <div class="<%= namespace %>-Theme_Borderbox-image u-Adjust_Align-center u-Adjust_Mt-24">
                            <picture>
                              <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/support/cancellation/img-flow-01-sp.png" width="300" height="476">
                              <img src="<%= sitepath %>assets/img/hikari/support/cancellation/img-flow-01-pc.png" width="504" height="330" alt="">
                            </picture>
                          </div>
                        </li>
                        <li>
                          <p class="c-Txt_Normal-m c-Txt_Emp">3.&nbsp;注意事項を確認後、「解約手続きへ」をクリックする</p>
                          <div class="<%= namespace %>-Theme_Borderbox-image u-Adjust_Align-center u-Adjust_Mt-24">
                            <picture>
                              <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/support/cancellation/img-flow-02-sp.png" width="300" height="443">
                              <img src="<%= sitepath %>assets/img/hikari/support/cancellation/img-flow-02-pc.png" width="504" height="444" alt="">
                            </picture>
                          </div>
                        </li>
                        <li>
                          <p class="c-Txt_Normal-m c-Txt_Emp">4.&nbsp;表示される「ご契約アカウント」、「解約月・契約解除手数料」の内容を確認する。<br>確認後、「解約をご希望するサービスの選択」で「全解約」を選択して必要事項を入力する</p>
                          <div class="<%= namespace %>-Theme_Borderbox-image u-Adjust_Align-center u-Adjust_Mt-24">
                            <picture>
                              <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/support/cancellation/img-flow-03-sp.png" width="300" height="361">
                              <img src="<%= sitepath %>assets/img/hikari/support/cancellation/img-flow-03-pc.png" width="504" height="527" alt="">
                            </picture>
                          </div>
                        </li>
                        <li>
                          <p class="c-Txt_Normal-m c-Txt_Emp">5.&nbsp;表示される「注意事項」の内容を確認後、「上記注意事項を全て確認した上で、次に進む。」にチェックを入れ、「確認画面へ」をクリックする</p>
                          <div class="<%= namespace %>-Theme_Borderbox-image u-Adjust_Align-center u-Adjust_Mt-24">
                            <picture>
                              <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/hikari/support/cancellation/img-flow-04-sp.png" width="300" height="124">
                              <img src="<%= sitepath %>assets/img/hikari/support/cancellation/img-flow-04-pc.png" width="504" height="140" alt="">
                            </picture>
                          </div>
                        </li>
                      </ol>
                      <p class="u-Adjust_Mt-24">以上で解約の手続きは完了となります。</p>
                      <div class="c-Theme-Light u-Adjust_Mt-40">
                        <p class="c-Txt_Normal-m c-Txt_Emp">解約申請後のご連絡について</p>
                        <p class="u-Adjust_Mt-8">解約にあたり訪問工事が必要な場合、回線撤去工事の日程調整のため、担当者よりお電話いたします。<br>また、訪問工事が必要ない場合、メールでインターネット停止の確定日をお送りします。</p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※お客様の設備の状況により、ご連絡までお時間がかかる場合がございます。ご了承ください。</p>
                      </div>
                      <div class="c-Theme-Light u-Adjust_Mt-24">
                        <p class="c-Txt_Normal-m c-Txt_Emp">レンタル機器の返却もお忘れなく</p>
                        <p class="u-Adjust_Mt-8">
                          <a href="https://hikari.faq.rakuten.net/faq/show/1221" class="c-Link_Txt-inline">機器の返却方法を見る<span class="c-Icon_Arrow-right-l"></span></a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="c-Accordion-Emphasis u-Adjust_Mt-16">
                    <button type="button" id="accordion-2" class="c-Accordion-Emphasis_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2" data-ratid="cancellation_accordion_02" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion-Emphasis_Arrow"></span>【他社へのお乗り換えの場合】<br>他社光コラボ・フレッツ光にお乗り換えの場合は事業者変更承諾番号を取得してください</button>
                    <div id="accordion-content-2" class="c-Accordion-Emphasis_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
                      <p>他社光コラボ・フレッツ光に乗り換えの場合、当ページからの解約申請は不要です。<br>以下のフォームより必要事項をご記入のうえ、事業者変更承諾番号の申請をお願いいたします。</p>
                      <p class="u-Adjust_Mt-8">
                        <a href="<%= sitepath %>hikari/form/number-request/" class="c-Link_Txt-inline">事業者変更承諾番号 申請フォーム<span class="c-Icon_Arrow-right-l"></span></a>
                      </p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※事業者変更承諾番号の有効期限は15日間です。（発行日を含む）有効期限を過ぎた場合、自動でキャンセルされます。</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="u-Adjust_Mt-40">
          <div class="l-System_Container">
            <div class="u-Adjust_Align-center">
              <a href="https://ms.fusioncom.co.jp/rbb/members/login?campaign=web-rakuten&" class="c-Btn_Primary-large"><span><span>解約申請に進む</span><span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span></span></a>
            </div>
            <p class="c-Txt_Cap u-Adjust_Align-center u-Adjust_Mt-8">※メンバーズステーションへログインします</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="g-Footer">
    <%- include('/hikari/include/_footer', { pagetitle: pagetitle, directories: directories, hiddenCta: true, hiddenFooterCta: true }) %>
  </footer>

</div>
<%- include('/include/hikari/_common-js') %>
<%- include('/include/_append-body') %>
<script>
  (() => {
      const headerContainer = document.querySelector('.g-hikari-Header-new_Container');
      const tabHeader = document.querySelector('.js-Tab_Header');
      const tabItems = document.querySelectorAll('.js-Tab_Item');
      const confirm = document.querySelector('.js-confirm');
      const confirmBtn = document.querySelector('.js-confirm-btn');
      const confirmTarget = document.querySelector('.js-confirm-target');

      // タブ押下後のスクロールの処理
      tabItems.forEach(elm => {
          elm.addEventListener('click', () => {
              if(!tabHeader) return;
              const scrollY = window.pageYOffset + tabHeader.getBoundingClientRect().bottom - headerContainer.clientHeight;
              scrollTo({ top: scrollY, left: 0, behavior: 'smooth' });
              confirm.style.display = 'block';
              confirmTarget.style.display = 'none';
          });
      });

      // 「ご解約の手順を確認する」ボタン押下後の処理
      confirmBtn.addEventListener('click', () => {
          if(!confirmTarget) return;
          confirmTarget.style.display = 'block';
          const scrollY = window.pageYOffset + confirm.getBoundingClientRect().bottom - headerContainer.clientHeight;
          scrollTo({ top: scrollY, left: 0, behavior: 'smooth' });
      });
  })()
</script>
</body>
</html>
