<%
  const pagetitle = '#ここでもつながる楽天モバイル 日本列島宝探し';
  const directories = [{path:"area/", label:"通信・エリア"}];
  const entryrange = "2024年4月25日（木）10:00～2024年5月27日（月）10:00";
  const campaignrange = "2024年4月25日（木）10:00～2024年5月27日（月）10:00";
  <!-- campaignrangeはキャンペーン期間とエントリー期間が同じ場合は不要 -->
  const campaignstatus = "held";
  <!-- 終了の場合はfinishにする -->
  const enddate = "2024年5月27日";
  const namespace = "treasureHunt";
_%>
<%-
  include('/_header', {
    pagetitle,
    directories,
    description: '楽天モバイルのつながりやすさを日本全国で体験！総額650万ポイントがあたる！楽天会員なら参加OK。謎を解いて秘宝を発見せよ！日本列島宝さがし',
    keywords: '',
    noindex: false,
    pathname: filepath,
    browseragent: false,
    ogp_img: 'https://network.mobile.rakuten.co.jp/assets/img/area/campaign/treasure-hunt/ogp.png'
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/area/campaign/campaign.css?240315">
<link rel="stylesheet" href="<%= sitepath %>assets/css/area/campaign/treasure-hunt/treasure-hunt.css?20240508">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<%- include('/include/_breadcrumbs', {
  type: 'head',
  pagetitle,
  directories,
}) %>

<%- include('/area/campaign/treasure-hunt/include/_hero.ejs') %>

<%- include('/area/campaign/treasure-hunt/include/_anchor.ejs') %>

<%- include('/area/campaign/treasure-hunt/include/_followmenu.ejs') %>

<%- include('/area/campaign/treasure-hunt/include/_flow.ejs') %>

<%- include('/area/campaign/treasure-hunt/include/_mission.ejs') %>

<%- include('/area/campaign/treasure-hunt/include/_quiz.ejs') %>

<%- include('/area/campaign/treasure-hunt/include/_sns.ejs') %>

<%- include('/area/campaign/treasure-hunt/include/_voice.ejs') %>

<%- include('/area/campaign/treasure-hunt/include/_faq.ejs') %>

<div class="u-Adjust_Mt-64">
  <div class="l-System_Container">

  <div class="u-Adjust_Mt-16">
    <div class="areaCampaign-Layout_Rule u-Adjust_Mt-64" id="campaign-rule">
      <h3 class="c-Heading_Lv2 u-Adjust_Mt-32">#ここでもつながる楽天モバイル「日本列島宝探し」</h3>
      <%_ if (campaignstatus === "finish") { _%>
        <div class="u-Adjust_Align-center u-Adjust_Mt-32 u-Adjust_Mb-32">
          <p class="c-Txt_Normal-m c-Txt_Emp-02">
            本キャンペーンは<%= enddate %>をもちまして終了いたしました。<br>
            このページに掲載されている情報は、キャンペーン終了時点のものです。
          </p>
          <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>campaign/?l-id=end_campaign" class="c-Link_Txt-inline">開催中のキャンペーンを見る<span class="c-Icon_Chevron-right"></span></a></p>
        </div>
      <%_ } _%>
      <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2245', level: '', year: '2024', class: '' }}) %>
    </div>
  </div>
  </div>
</div>

<!-- ReX UX Survey: Mounting point for embedded components -->
<div id="rexSurveyEmbedded" class="rexSurveyNamespace u-Adjust_Mt-40"></div>

<footer class="g-Footer areaCampaign-Layout_Footer u-Adjust_Mt-40">
  <div class="g-Footer_Aside">
  </div>

  <div class="l-System_Container">
    <%- include('/include/_breadcrumbs', {
      type: 'foot',
      pagetitle,
      directories,
    }) %>
  </div>

  <%- include('/include/_footer') %>
</footer>
</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/area.campaign.treasure-hunt.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
<!-- ReX UX Survey: Config -->
<script>
window.rexSurveyConfig = {"language":"ja","surveyId":"40722","cId":{"name":"answers[40722_276745]","value":""},"embedded":true,"url":{"name":"answers[40722_276746]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":30,"reappearancePeriodWithoutRespond":30,"enableDisplaySuppressionPerPage":false,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"今後も楽天モバイルにオンラインとリアル両方で参加できる企画をやってほしいと思いますか。"},"options":[{"name":"answers[40722_276747][]","value":"768132"},{"name":"answers[40722_276747][]","value":"768133"},{"name":"answers[40722_276747][]","value":"768134"},{"name":"answers[40722_276747][]","value":"768135"},{"name":"answers[40722_276747][]","value":"768136"}],"txt0":"全く思わない","txt1":"とてもそう思う","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"singleAnswer","available":true,"question":"この企画を知った今、あなたの楽天モバイルに対する印象はどう変わりましたか。【必須】","shuffleChoices":false,"options":[{"name":"answers[40722_276748][]","value":"768137","label":"とてもつながる印象を持った"},{"name":"answers[40722_276748][]","value":"768138","label":"つながる印象を持った"},{"name":"answers[40722_276748][]","value":"768139","label":"どちらともいえない"},{"name":"answers[40722_276748][]","value":"768140","label":"つながる印象を持たなかった"},{"name":"answers[40722_276748][]","value":"768141","label":"全くつながる印象を持たなかった"},{"name":"","value":"","label":""},{"name":"","value":"","label":""}]},"freeInput":{"available":true,"name":"answers[40722_276749]","title":"この企画に参加して、楽天モバイルを魅力的に感じた、または今後楽天モバイルに期待していることを具体的に教えてください。【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[40722_276748][]","value":"768137","label":""},{"name":"answers[40722_276748][]","value":"768138","label":""},{"name":"answers[40722_276748][]","value":"768139","label":""},{"name":"answers[40722_276748][]","value":"768140","label":""},{"name":"answers[40722_276748][]","value":"768141","label":""},{"name":"","value":"","label":""},{"name":"","value":"","label":""}]}},"ua":{"name":"answers[40722_276750]"},"href":{"name":"answers[40722_276751]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
</script>
<!-- ReX UX Survey: Script -->
<script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>
</body>
</html>
