<% const pagetitle = "#ここでもつながる楽天モバイル 日本列島宝探し" -%>
<% const directories = [{ label:"通信・エリア", path:"area/", subpath:"area/campaign/treasure-hunt/" ,sublabel:"#ここでもつながる楽天モバイル 日本列島宝探し" }] -%>
<% const description = "楽天モバイルのつながりやすさを日本全国で体験！総額650万ポイントがあたる！楽天会員なら参加OK。謎を解いて秘宝を発見せよ！日本列島宝さがし" -%>
<% const info = "最後の謎解き" -%>
<% const namespace = "treasureHunt-Final" -%>
<%- include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description,
  pathname: filepath,
  noindex: false,
  ogp_img: 'https://network.mobile.rakuten.co.jp/assets/img/area/campaign/treasure-hunt/ogp.png'
  }); %>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/area/campaign/treasure-hunt/final/treasure-hunt-final.css?20240508">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <% directories.forEach(function (dir) { %>
    <li><a href="<%= sitepath + dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
    <% if (dir.subpath) { %>
    <li><a href="<%= sitepath + dir.subpath %>"><%= dir.sublabel %></a><span class="c-Icon_Chevron-right"></span></li>
    <% } %>
    <% }) %>
    <li aria-current="true"><%= info %></li>
  </ul>
</div>

<div class="<%= namespace %>_Wrapper u-Adjust_Pt-16 u-Adjust_Pb-56 u-Adjust_Pb-pc-64">
  <div class="<%= namespace %>_Container">
    <p class="c-Txt_Emp-02 <%= namespace %>_Tag u-Adjust_Align-center u-Adjust_Pb-16">#ここでもつながる楽天モバイル</p>
    <h1 class="u-Adjust_Align-center <%= namespace %>_Title">
      <span>最後の謎 <br class="u-Show_Oox">エントリー完了</span>
    </h1>
    <div class="u-Adjust_Align-center">

      <div class="u-Adjust_Mt-24">
        <p class="<%= namespace %>_Lead u-Weight_Bold">エントリーが完了しました。<br>
          ご参加ありがとうございました！
        </p>
      </div>

      <div class="u-Adjust_Mt-32">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/area/campaign/treasure-hunt/final/img-complete-sp.png" width="343">
          <img src="<%= sitepath %>assets/img/area/campaign/treasure-hunt/final/img-complete-pc.png" alt="これからも、つながる安心感と共におでかけしよう！" width="500">
        </picture>
      </div>

    </div>
  </div>
  <div class="<%= namespace %>_Container <%= namespace %>_Container--narrow">

      <div class="u-Adjust_Align-center u-Adjust_Mt-48">
        <p class="c-Txt_Emp-02">＼ まだX投稿をしてない人におすすめ ／</p>
        <a href="https://twitter.com/intent/tweet?text=楽天モバイルの“日本列島宝探し”に参加中！%20https://r10.to/hUeex6&hashtags=ここでもつながる楽天モバイル&scid=mi_rmb_web_202404_treasure-hunt_last_x" class="c-Btn_Secondly-large u-Adjust_Mt-8" target="_blank" rel="noopener noreferrer">Xで宝探しの感想を投稿する<span class="c-Icon_New-window-l"></span></a>
      </div>

      <div class="u-Adjust_Align-center u-Adjust_Mt-16">
        <p>Xで「<span class="u-Weight_Bold">#ここでもつながる楽天モバイル</span>」をつけて宝探しの感想を投稿すると、<br class="u-Show_Pc">
          特典2の抽選権を<span class="u-Weight_Bold">5口さらにゲット</span>できます！</p>
      </div>

      <div class="c-Accordion-emp u-Adjust_Mt-16">
        <button type="button" id="accordion-emp-caution-2" class="c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-emp-caution-2-content">
            <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
            <span class="c-Accordion-emp_Trigger-txt">X投稿に関する注意事項</span>
        </button>
        <div id="accordion-emp-caution-2-content" class="c-Accordion-emp_Panel-normal js-Accordion_Panel u-Adjust_Align-left" role="region" aria-labelledby="accordion-emp-caution-2" aria-hidden="true">
          <h3 class="c-Heading_Lv4">特典対象となる投稿条件</h3>
          <p>本キャンペーンの宝探しに参加している様子や感想などを、指定のハッシュタグ<br>
            「<span class="c-Txt_Emp-02">#ここでもつながる楽天モバイル</span>」をつけてXで投稿する。
          </p>
          <div class="u-Adjust_Mt-16">
            <div class="u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/area/campaign/treasure-hunt/quiz/img-post.png" alt="投稿例" width="247">
            </div>
            <p class="c-Txt_Cap u-Adjust_Mt-16">
              ※Xアカウントを公開設定にしてポストしてください。非公開ポストは特典対象外となるためご注意ください。<br>
              ※投稿いただいた写真や動画などのポスト内容を「#ここでもつながる楽天モバイル 日本列島宝探し」の特設ページ（本ページ）でご紹介させていただく場合がございます。<br>
            <span class="c-Txt_Emp-02">※投稿タイミングはキャンペーン期間中（2024/4/25 10:00～2024/5/27 10:00）ならいつでもOK！</span>
            </p>
          </div>
          <h3 class="c-Heading_Lv4 u-Adjust_Mt-16">その他</h3>
          <p class="u-Adjust_Mt-8">多くの方に謎解きをお楽しみいただくために、謎解きの解答や宝箱設置箇所の詳細情報をブログやSNS、インターネット上に公開することはお控えください。</p>
          <p class="u-Adjust_Mt-8">ただし、謎解きの正解に関わらない宝箱周辺の景色などの写真などは、ぜひご投稿ください。本キャンペーンを楽しんでいる様子をぜひSNSにて発信していただければ幸いです。</p>
        </div>
      </div>

  </div>
</div>

<div class="l-System">
  <div class="l-System_Container">
    <div class="u-Adjust_Align-center u-Adjust_Mt-24 u-Adjust_Pb-40">
      <a href="./#treasure-question" class="c-Btn_Regular-large"><span><span>キャンペーンページへ戻る</span></span></a>
    </div>
  </div>
</div>

<!-- ReX UX Survey: Mounting point for embedded components -->
<div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>

<footer class="g-Footer">
  <div class="g-Footer_Aside">
    <%- include('/include/footer/related/_related-news.ejs') %>
    <%- include('/include/footer/bnr/_bnr-news.ejs') %>
  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !=='undefined' ) { _%>
        <%_ let dirs=[]; _%>
          <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !=="" ) { _%>
              <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <li><a href="<%= sitepath %><%= dir.subpath %>"><%= dir.sublabel %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
              <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
          <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= info %></li>
      </ul>
    </div>
  </div>
  <%- include('/include/_footer') %>
</footer>
</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/area.campaign.treasure-hunt.final.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
<!-- ReX UX Survey: Config -->
<script>
window.rexSurveyConfig = {"language":"ja","surveyId":"40722","cId":{"name":"answers[40722_276745]","value":""},"embedded":true,"url":{"name":"answers[40722_276746]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":30,"reappearancePeriodWithoutRespond":30,"enableDisplaySuppressionPerPage":false,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"今後も楽天モバイルにオンラインとリアル両方で参加できる企画をやってほしいと思いますか。"},"options":[{"name":"answers[40722_276747][]","value":"768132"},{"name":"answers[40722_276747][]","value":"768133"},{"name":"answers[40722_276747][]","value":"768134"},{"name":"answers[40722_276747][]","value":"768135"},{"name":"answers[40722_276747][]","value":"768136"}],"txt0":"全く思わない","txt1":"とてもそう思う","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"singleAnswer","available":true,"question":"この企画を知った今、あなたの楽天モバイルに対する印象はどう変わりましたか。【必須】","shuffleChoices":false,"options":[{"name":"answers[40722_276748][]","value":"768137","label":"とてもつながる印象を持った"},{"name":"answers[40722_276748][]","value":"768138","label":"つながる印象を持った"},{"name":"answers[40722_276748][]","value":"768139","label":"どちらともいえない"},{"name":"answers[40722_276748][]","value":"768140","label":"つながる印象を持たなかった"},{"name":"answers[40722_276748][]","value":"768141","label":"全くつながる印象を持たなかった"},{"name":"","value":"","label":""},{"name":"","value":"","label":""}]},"freeInput":{"available":true,"name":"answers[40722_276749]","title":"この企画に参加して、楽天モバイルを魅力的に感じた、または今後楽天モバイルに期待していることを具体的に教えてください。【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[40722_276748][]","value":"768137","label":""},{"name":"answers[40722_276748][]","value":"768138","label":""},{"name":"answers[40722_276748][]","value":"768139","label":""},{"name":"answers[40722_276748][]","value":"768140","label":""},{"name":"answers[40722_276748][]","value":"768141","label":""},{"name":"","value":"","label":""},{"name":"","value":"","label":""}]}},"ua":{"name":"answers[40722_276750]"},"href":{"name":"answers[40722_276751]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
</script>
<!-- ReX UX Survey: Script -->
<script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>
</body>
</html>
