<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "引越しのお手続き" -%>
<% const directories = [{path: hikariroot.path + "support/", label:"お客様サポート"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'お引越し（移転）先の状況やひかり回線設置場所の環境によって、工事期間や料金が変わります。同エリア内、別エリア内それぞれの移転工事費、事前に必要な情報、お引越し手続きの流れについてのご案内です。',
    noindex: false,
    pathname: filepath,
    ishikari: true,
    canonical_custom: 'https://network.mobile.rakuten.co.jp/hikari/support/house-moving/',
  });
%>
<%- include('/include/hikari/_common-v2-hikari-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/support/housemoving/housemoving.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/module/m-hikari-cpn-v2.css?20240424">


<%- include('/include/_append-head-hikari') %>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>

<div class="l-System">
  <%- include('/hikari/include/_header', { headerType: 'normal', pagetitle: pagetitle, directories: directories, tax: false }) %>

  <div class="l-hikari-Section_Main">
    <p class="c-Txt_Cap l-hikari-Section_Main-cap">※表記の金額は特に記載のある場合を除きすべて税込です。</p>
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

      <div class="l-hikari-Section_Sub-short">
        <h2 class="c-Heading_Lv2">お手続き前のご確認事項</h2>
        <div class="l-hikari-Section_Sub-content-short">
          <p>楽天ひかりをご契約中の方で、お引越しをされる場合、お引越し（移転）先の状況や設置場所の環境により、工事期間や費用が異なります。<br>また、あらかじめ必要となる情報もございますので、ご確認をお願いいたします。</p>

          <div class="u-Adjust_Mt-32">
            <h3 class="c-Heading_Lv3">お引越しの手続きの流れ</h3>
            <div class="l-hikari-Section_Sub-content-short">
              <p>お引越し手続きは大きく4つのステップがあります。</p>
              <ul class="c-Flow u-Adjust_Mt-16 hikari-flow-housemoving-Detail">
                <li>
                  <h4 class="c-Heading_Lv4">1. 設置場所変更のお手続き</h4>
                  <div class="l-hikari-Section_Sub-content-short">
                    <p>メンバーズステーションより設置場所変更のお手続きをお願いします。<br>
                      メンバーズステーションにログイン後、会員メニュー ＞ 登録情報・設定変更 ＞ 「楽天ひかり 設置場所変更」よりお手続きください。
                    </p>
                    <p class="u-Adjust_Mt-16">
                      <a href="https://ms.fusioncom.co.jp/rbb/members/login?campaign=web-rakuten" data-lid_no="01" target="_blank" class="c-Btn_Primary"><span><span><span><span class="hikari-flow-housemoving-Util_Br-sp">メンバーズステーションへログイン</span></span></span><span class="c-Icon_Login-l c-Btn_Icon-end"></span></span></a>
                    </p>
                    <ul class="c-Txt_Cap u-Adjust_Mt-16">
                      <li><span>※</span>開通工事は1カ月程度かかる場合がございますのでなるべくお早めにお手続きください。</li>
                      <li><span>※</span>地域によっては1カ月以上かかる場合がございます。</li>
                      <li><span>※</span>既に引越し済みのお客様は、契約情報（住所）の変更も同時に行ってください。</li>
                    </ul>
                  </div>
                </li>
                <li>
                  <h4 class="c-Heading_Lv4">2. 工事日などのご連絡</h4>
                  <div class="l-hikari-Section_Sub-content-short">
                    <p>工事日の調整などにつきまして、楽天ひかり工事受付センターよりご案内のお電話をいたします。工事日が決まりましたら、お引越し前の住所に「アカウントのお知らせ」を郵送にてお送りします。</p>
                  </div>
                </li>
                <li class="hikari-flow-housemoving-Detail_Noborder">
                  <div class="hikari-flow-housemoving-Detail_Img"><img src="<%= sitepath %>assets/img/hikari/flow/house-moving/img01.png?211213" alt="お引越し"></div>
                </li>
                <li>
                  <h4 class="c-Heading_Lv4">3. お引越し先での工事</h4>
                  <div class="l-hikari-Section_Sub-content-short">
                    <p>お引越し先にNTT東日本・NTT西日本の作業員の担当者が伺い、工事を行います。</p>
                    <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
                      <div class="l-Media_Image">
                        <img src="<%= sitepath %>assets/img/hikari/flow/house-moving/img02.png?211213" alt="">
                      </div>
                      <div>
                        <h5 class="c-Txt_Emp c-Txt_Normal">戸建て、集合住宅に変更される場合</h5>
                        <p class="u-Adjust_Mt-8">
                          お引越しに伴って住宅が、戸建てから集合住宅、もしくは集合住宅から戸建てに変わる場合、ご利用サービスの変更が必要です。<br>
                          引越し前の住所に郵送にてお届けする「アカウントのお知らせ」の内容を参考に、機器の設置時にインターネット接続設定の変更を行ってください。
                        </p>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <h4 class="c-Heading_Lv4">4. 契約情報（住所）の変更</h4>
                  <div class="l-hikari-Section_Sub-content-short">
                    <p>引越し後の工事、接続が完了しましたら、契約情報を引越し後の住所に変更してください。<br>
                      変更は、メンバーズステーションにログイン後、会員メニュー ＞ 登録情報・設定変更 ＞「 ご契約者さま情報」から確認・変更いただけます。</p>
                      <p class="u-Adjust_Mt-16">
                        <a href="https://ms.fusioncom.co.jp/rbb/members/login?campaign=web-rakuten" data-lid_no="02" target="_blank" class="c-Btn_Primary"><span><span><span class="hikari-flow-housemoving-Util_Br-sp">メンバーズステーションへログイン</span></span><span class="c-Icon_Login-l c-Btn_Icon-end"></span></span></a>
                      </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="u-Adjust_Mt-32">
            <h3 class="c-Heading_Lv3">移転工事費</h3>
            <div class="l-hikari-Section_Sub-content-middle">
              <h4 class="c-Heading_Lv4">同エリア内のお引越し</h4>
              <div class="l-hikari-Section_Sub-content-short">
                <p>東日本エリアから東日本エリアへのお引越し、または西日本エリアから西日本エリアへのお引越し </p>
                <div class="c-Table_Wrap u-Adjust_Mt-16">
                  <table class="c-Table_Container hikari-flow-housemoving-Detail_Table">
                    <thead>
                      <tr>
                        <th colspan="2">工事内容</th>
                        <th>金額</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td rowspan="2">屋内配線あり</td>
                        <td>戸建て</td>
                        <td>11,000円（税込）</td>
                      </tr>
                      <tr>
                        <td>集合住宅</td>
                        <td>11,000円（税込）</td>
                      </tr>
                      <tr>
                        <td>屋内配線なし</td>
                        <td>ー</td>
                        <td>9,900円（税込）</td>
                      </tr>
                      <tr>
                        <td colspan="2">派遣工事なし</td>
                        <td>3,300円（税込）</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <p class="c-Txt_Cap u-Adjust_Mt-16">
                  ※工事費の合計額は、代表的な工事費となります。居宅設備の都合等で追加工事費が発生する場合があります。また、工事時間の指定や夜間・深夜および土日・休日工事をご希望の場合、別途加算・割増工事費がかかります。<br>
                  工事の人派遣が必要かどうかは、電話でご利用開始のご案内をする際に楽天ひかり工事受付センターからお知らせします。
                </p>
              </div>
              <div class="u-Adjust_Mt-32">
                <h4 class="c-Heading_Lv4">別エリアのお引越し</h4>
                <div class="l-hikari-Section_Sub-content-short">
                  <p>東日本エリアと西日本エリアをまたぐお引越し</p>
                  <div class="c-Table_Wrap u-Adjust_Mt-16">
                    <table class="c-Table_Container hikari-flow-housemoving-Detail_Table">
                      <thead>
                        <tr>
                          <th colspan="2">工事内容</th>
                          <th>金額</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td rowspan="2">屋内配線あり</td>
                          <td>戸建て</td>
                          <td>22,000円（税込）</td>
                        </tr>
                        <tr>
                          <td>集合住宅</td>
                          <td>22,000円（税込）</td>
                        </tr>
                        <tr>
                          <td>屋内配線なし</td>
                          <td>ー</td>
                          <td>11,660円（税込）</td>
                        </tr>
                        <tr>
                          <td colspan="2">派遣工事なし</td>
                          <td>3,300円（税込）</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <p class="c-Txt_Cap u-Adjust_Mt-16">
                    工事費の合計額は、代表的な工事費となります。居宅設備の都合等で追加工事費が発生する場合があります。また、工事時間の指定や夜間・深夜および土日・休日工事をご希望の場合、別途加算・割増工事費がかかります。<br>
                    工事の人派遣が必要かどうかは、電話でご利用開始のご案内をする際に楽天ひかり工事受付センターお知らせします。
                  </p>
                </div>
              </div>
              <div class="u-Adjust_Mt-32">
                <h4 class="c-Heading_Lv4">エリアがわからない場合</h4>
                <div class="l-hikari-Section_Sub-content-short">
                  <p>エリアの確認は利用可能エリアページよりご確認いただけます。</p>
                  <p class="u-Adjust_Mt-8">
                    <a href="<%= sitepath %><%= hikariroot.path %>internet/area/" class="c-Link_Txt-inline">利用可能エリア<span class="c-Icon_Arrow-right-l"></span></a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="u-Adjust_Mt-32">
            <h3 class="c-Heading_Lv3">引越しのお手続きに必要な情報</h3>
            <div class="l-hikari-Section_Sub-content-short">
            <p>引越しにあたって、お客様の情報が必要となります。</p>
              <div class="c-Table_Wrap u-Adjust_Mt-16">
                <table class="c-Table_Container hikari-flow-housemoving-Detail_Table">
                  <colgroup class="hikari-flow-housemoving-Detail_Table-col">
                    <col>
                    <col>
                  </colgroup>
                  <tbody>
                    <tr>
                      <th>電話番号</th>
                      <td>日中ご連絡が可能な電話番号</td>
                    </tr>
                    <tr>
                      <th>設置先電話番号</th>
                      <td>
                        NTT固定電話の電話番号
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※NTT固定電話の電話番号をお持ちでない場合は、近隣の電話番号の下4桁を「0000」にしたダミー番号を入力してください。（例：0312340000）</p>
                      </td>
                    </tr>
                    <tr>
                      <th>設置先住所</th>
                      <td>お引越し先の住所</td>
                    </tr>
                    <tr>
                      <th>電話回線ご名義人</th>
                      <td>
                        電話回線の契約者様の名義
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※電話回線名義人がご不明な場合は、局番なし116で確認可能</p>
                      </td>
                    </tr>
                    <tr>
                      <th>移転予定日</th>
                      <td>
                        新居の入居日
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="u-Adjust_Mt-24">
                <h4 class="c-Heading_Lv4">契約内容の確認</h4>
                <div class="l-hikari-Section_Sub-content-short">
                  <p>現在の契約内容の確認をしたいときは、メンバーズステーションからご確認ください。</p>
                  <p class="u-Adjust_Mt-16">
                    <a href="https://ms.fusioncom.co.jp/rbb/members/login?campaign=web-rakuten" data-lid_no="03" target="_blank" class="c-Btn_Primary"><span><span>メンバーズステーションへログイン</span><span class="c-Icon_Login-l c-Btn_Icon-end"></span></span></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="border-top: 1px solid #bfbfbf;" class="u-Adjust_Mt-48">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv3 u-Adjust_Align-center u-Adjust_Mt-48">Turboもひかりも、どちらもおトク</h2>

        <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
          <%- include('/include/hikari/bnr/_bnr', {
            orglid1: 'rhk_hikari_support_house-moving_internet_turbo_campaign_six-month-free_01',
            orglid2: 'rhk_hikari_support_house-moving_hikari_campaign_six-month-free_01'
          }) %>
        </div>
      </div>
    </div>

  </div>

  <footer class="g-Footer">
    <%- include('/hikari/include/_footer', { pagetitle: pagetitle, directories: directories, hiddenCta: true, hiddenFooterCtaText: '' }) %>
  </footer>

</div>
<%- include('/include/hikari/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
