<% const pagetitle = "子どもスマホ利用あんしんガイド" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/application/flow/", label:"お申し込み方法"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'はじめてスマホを持つお子さまや、未成年のご契約についてご案内します。18歳未満のお客様の場合、Webや楽天モバイルショップ（店舗）のいずれでもお申し込みいただけます。楽天モバイルショップ（店舗）でのお申し込みの場合は保護者様のご同伴が必要になります。',
    noindex: false,
    pathname: filepath
  });
%>
<% const nameSpace = "kidsjunior" -%>

<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>


<div class="<%= nameSpace %>-Hero">
  <div class="l-System_Container">
    <div class="<%= nameSpace %>-Hero_Title">
    <h1>
      <small class="<%= nameSpace %>-Hero_Title_subText">はじめてのスマホを<br class="kidsjunior-Utility_Show-sp">安心・安全に使おう</small>
      <span class="<%= nameSpace %>-Hero_Title_mainText">子どもスマホ利用<br>あんしんガイド</span>
    </h1>
    </div>
  </div>
</div>

  <div class="l-System_Container">
    <p class="u-Adjust_Mt-16">はじめてスマホを持つお子さまや、未成年のお客様のお申し込みについてご案内します。</p>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-48">お申し込みについて</h2>
     <p class="u-Adjust_Mt-16">18歳未満のお客様の場合、Webや楽天モバイルショップ（店舗）のいずれでもお申し込みいただけます。<br>
     楽天モバイルショップ（店舗）でのお申し込みの場合は保護者様のご同伴が必要になります。</p>

      <ul class="c-Link_List u-Adjust_Mt-16">
        <li><a href="<%= sitepath %>flow/for-minors/">未成年のお客様のお申し込みについて<span class="c-Icon_Chevron-right"></span></a></li>
        <li><a href="<%= sitepath %>service/i-filter/">「あんしんコントロール by i-フィルター」について<span class="c-Icon_Chevron-right"></span></a></li>
      </ul>

       <h2 class="c-Heading_Lv2 u-Adjust_Mt-56">フィルタリングサービスの重要性について</h2>
       <p class="u-Adjust_Mt-16">スマホをあんしんしてご利用いただくため、携帯電話各社と楽天モバイルはフィルタリングサービスを提供中です。<br>一般社団法人電気通信事業者協会と携帯電話事業者各社は、より多くの方々にフィルタリングサービスの重要性を知っていただくため、一般社団法人ABJの協力のもと人気漫画「僕のヒーローアカデミア」とタイアップした総務省の啓発用動画の制作に協力し、フィルタリングサービスのご利用を促進してまいります。</p>
       <h3 class="u-Adjust_Mt-24">動画はこちら</h3>
       <div class="l-System_Container" style="margin: 24px auto 0; max-width: 720px;">
        <div style="position: relative; padding-bottom: 56.25%;">
          <iframe
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
            src="https://www.youtube.com/embed/Rc44QUARkqQ"
            frameborder="0"
            allow="autoplay;
            encrypted-media"
            allowfullscreen>
          </iframe>
        </div>
      </div>
      <h3 class="u-Adjust_Mt-32">フルバージョンはこちら</h3>
      <ul class="c-Link_List u-Adjust_Mt-16">
        <li><a href="https://youtu.be/M8AdADzRjGE" target="_blank">楽天モバイル【公式】YouTubeチャンネル<span class="c-Icon_New-window-l"></span></a></li>
      </ul>
      <p class="u-Adjust_Mt-16">スマホの使い方は家族でよく話し合ってルールを作ることも大事です。<br>ぜひご家族と一緒にご覧ください。</p>
  </div>

  <section class="<%= nameSpace %>-Style u-Adjust_Mt-64 u-Adjust_Align-center">
    <div class="l-System_Container">
      <img src="<%= sitepath %>assets/img/guide/kidsjunior/img-security.png" alt="" width="56px">
      <h2 class="c-Heading_Lv2 kidsjunior-Style_Title">あんしんコントロール by i-フィルターで安心·安全対策</h2>
        <p class="u-Adjust_Mt-16 kidsjunior-Style_Title">簡単に情報が手に入るスマホは、誘惑や危険ととなり合わせです。考えられる5つのケースと共に、<br class="kidsjunior-Utility_Show-pc">
          「あんしんコントロール by i-フィルター」でどのように対策できるかご紹介します。</p>
          <section class="<%= nameSpace %>-Flow">
            <ol class="<%= nameSpace %>-Flow_List">
              <li>
                <p class="<%= nameSpace %>-Flow_List-subtitle">CASE. <span class="<%= nameSpace %>-Flow_List-subtitle-number">1</span></p>
                <h3 class="c-Heading_Lv3 u-Adjust_Mt-8">お子さまが投稿した写真がつきまとい被害のきっかけに</h3>
                  <div class="l-Media_Grid u-Adjust_Mt-16 <%= nameSpace %>-Flow_List-box">
                    <div class="l-Media_Image">
                      <img src="<%= sitepath %>assets/img/guide/kidsjunior/img_05.png" alt="">
                    </div>
                    <div>
                      <p class="u-Adjust_Align-left">楽しい気持ちで投稿したSNSがきっかけで、お子さまやその友達が被害者になる可能性があります。<br>
                        ひとつひとつの写真やコメントでは、どの場所か誰なのかわからなくても、いくつかを組み合わせて考えると、わかってしまうことがあります。</p>
                    </div>
                  </div>
                  <div class="<%= nameSpace %>-Flow_List-box <%= nameSpace %>-Flow_List-box-pink">
                    <div>
                      <img src="<%= sitepath %>assets/img/guide/kidsjunior/img-security.png" alt="" class="kidsjunior-Utility_Show-pc">
                    </div>
                    <div>
                      <p class="c-Txt_Emp-01 c-Txt_Cap <%= nameSpace %>-Flow_List-icontext"><span class="kidsjunior-Utility_Show-sp"><img src="<%= sitepath %>assets/img/guide/kidsjunior/img-security.png" alt=""></span><span>あんしんコントロール<br class="kidsjunior-Utility_Show-sp"> by i-フィルターなら！</span></p>
                      <p class="c-Txt_Emp-02 u-Adjust_Mt-8 c-Heading_Lv4">Webとアプリのフィルタリングで、不要なSNSをブロック</p>
                      <p class="u-Adjust_Mt-8">お子さまが投稿内容の良し悪しを判断できるようになるまで、SNSの利用を制限できます。</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※アプリのフィルタリングはAndroid版のみの機能</p>
                    </div>
                  </div>
              </li>
              <li>
                <p class="<%= nameSpace %>-Flow_List-subtitle">CASE. <span class="<%= nameSpace %>-Flow_List-subtitle-number">2</span></p>
                <h3 class="c-Heading_Lv3 u-Adjust_Mt-8">SNSで知り合った人に会いに行ったら性犯罪被害に</h3>
                <div class="l-Media_Grid u-Adjust_Mt-16 <%= nameSpace %>-Flow_List-box">
                  <div class="l-Media_Image">
                    <img src="<%= sitepath %>assets/img/guide/kidsjunior/img_01.png" alt="">
                  </div>
                  <div>
                    <p class="u-Adjust_Align-left">SNSの利用者の中には、未成年を狙う目的で性別や年齢を別人のようになりすましている犯罪者もいます。<br>
                      いい人そうに思えても絶対に会わないことが、お子さまを守るためのルールです。</p>
                  </div>
                </div>
                <div class="<%= nameSpace %>-Flow_List-box <%= nameSpace %>-Flow_List-box-pink">
                  <div>
                    <img src="<%= sitepath %>assets/img/guide/kidsjunior/img-security.png" alt="" class="kidsjunior-Utility_Show-pc">
                  </div>
                  <div>
                    <p class="c-Txt_Emp-01 c-Txt_Cap <%= nameSpace %>-Flow_List-icontext"><span class="kidsjunior-Utility_Show-sp"><img src="<%= sitepath %>assets/img/guide/kidsjunior/img-security.png" alt=""></span><span>あんしんコントロール<br class="kidsjunior-Utility_Show-sp"> by i-フィルターなら！</span></p>
                    <p class="c-Txt_Emp-02 u-Adjust_Mt-8 c-Heading_Lv4">Webとアプリのフィルタリングで、出会い系のキケンがあるSNSや掲示板をブロック</p>
                    <p class="u-Adjust_Mt-8">プロフィール交換のSNS利用を制限するとともに、ネットで知り合った人にお子さまだけで会いに行く危険性について、家族で話し合うのも大切です。</p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8">※アプリのフィルタリングはAndroid版のみの機能</p>
                  </div>
                </div>
              </li>
              <li>
                <p class="<%= nameSpace %>-Flow_List-subtitle">CASE. <span class="<%= nameSpace %>-Flow_List-subtitle-number">3</span></p>
                <h3 class="c-Heading_Lv3 u-Adjust_Mt-8">非公式アプリを利用したら迷惑メールが届くように</h3>
                <div class="l-Media_Grid u-Adjust_Mt-16 <%= nameSpace %>-Flow_List-box">
                  <div class="l-Media_Image">
                    <img src="<%= sitepath %>assets/img/guide/kidsjunior/img_02.png" alt="">
                  </div>
                  <div>
                    <p class="u-Adjust_Align-left">公式アプリストアで取り扱いのないアプリの中には、連絡帳などのデータを盗むことを目的にした悪意のあるアプリがあり、必要のない個人データへのアクセスを許可してしまう場合があります。</p>
                  </div>
                </div>
                <div class="<%= nameSpace %>-Flow_List-box <%= nameSpace %>-Flow_List-box-pink">
                  <div>
                    <img src="<%= sitepath %>assets/img/guide/kidsjunior/img-security.png" alt="" class="kidsjunior-Utility_Show-pc">
                  </div>
                  <div>
                    <p class="c-Txt_Emp-01 c-Txt_Cap <%= nameSpace %>-Flow_List-icontext"><span class="kidsjunior-Utility_Show-sp"><img src="<%= sitepath %>assets/img/guide/kidsjunior/img-security.png" alt=""></span><span>あんしんコントロール<br class="kidsjunior-Utility_Show-sp"> by i-フィルターなら！</span></p>
                    <p class="c-Txt_Emp-02 u-Adjust_Mt-8 c-Heading_Lv4">アプリのフィルタリングで、許可したアプリ以外をブロック</p>
                    <p class="u-Adjust_Mt-8">アプリ使用中に「○○の利用を許可します」と聞かれたときは「OK」する前に、家族に相談するように決めておくのもおすすめです。</p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8">※アプリのフィルタリングはAndroid版のみの機能</p>
                  </div>
                </div>
              </li>
              <li>
                <p class="<%= nameSpace %>-Flow_List-subtitle">CASE. <span class="<%= nameSpace %>-Flow_List-subtitle-number">4</span></p>
                <h3 class="c-Heading_Lv3 u-Adjust_Mt-8">スマホに夢中になって<br class="kidsjunior-Utility_Show-sp">睡眠不足に</h3>
                <div class="l-Media_Grid u-Adjust_Mt-16 <%= nameSpace %>-Flow_List-box">
                  <div class="l-Media_Image">
                    <img src="<%= sitepath %>assets/img/guide/kidsjunior/img_03.png" alt="">
                  </div>
                  <div>
                    <p class="u-Adjust_Align-left">友達とSNSで盛り上がっているからやめられない、ネットゲームを一緒にプレイしているからやめられないなど、お子さまには、さまざまな「スマホをやめられない理由」があります。</p>
                  </div>
                </div>
                <div class="<%= nameSpace %>-Flow_List-box <%= nameSpace %>-Flow_List-box-pink">
                  <div>
                    <img src="<%= sitepath %>assets/img/guide/kidsjunior/img-security.png" alt="" class="kidsjunior-Utility_Show-pc">
                  </div>
                  <div>
                    <p class="c-Txt_Emp-01 c-Txt_Cap <%= nameSpace %>-Flow_List-icontext"><span class="kidsjunior-Utility_Show-sp"><img src="<%= sitepath %>assets/img/guide/kidsjunior/img-security.png" alt=""></span><span>あんしんコントロール<br class="kidsjunior-Utility_Show-sp"> by i-フィルターなら！</span></p>
                    <p class="c-Txt_Emp-02 u-Adjust_Mt-8 c-Heading_Lv4">曜日ごとに利用時間を制限して使いすぎを防ぐ</p>
                    <p class="u-Adjust_Mt-8">「我が家のルール」としてスマホを使う時間を決めましょう。友達にも理由を話しやすくなります。</p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8">※アプリのフィルタリングはAndroid版のみの機能</p>
                  </div>
                </div>
              </li>
              <li>
                <p class="<%= nameSpace %>-Flow_List-subtitle">CASE. <span class="<%= nameSpace %>-Flow_List-subtitle-number">5</span></p>
                <h3 class="c-Heading_Lv3 u-Adjust_Mt-8">「基本無料」のゲームで遊んでいたら高額請求が届いた</h3>
                <div class="l-Media_Grid u-Adjust_Mt-16 <%= nameSpace %>-Flow_List-box">
                  <div class="l-Media_Image">
                    <img src="<%= sitepath %>assets/img/guide/kidsjunior/img_04.png" alt="">
                  </div>
                  <div>
                    <p class="u-Adjust_Align-left">アプリは無料でも遊ぶのに必要なアイテムの課金メッセージがわかりにくいなど、悪意をもって有料課金に誘導するゲームもあります。</p>
                  </div>
                </div>
                <div class="<%= nameSpace %>-Flow_List-box <%= nameSpace %>-Flow_List-box-pink">
                  <div>
                    <img src="<%= sitepath %>assets/img/guide/kidsjunior/img-security.png" alt="" class="kidsjunior-Utility_Show-pc">
                  </div>
                  <div>
                    <p class="c-Txt_Emp-01 c-Txt_Cap <%= nameSpace %>-Flow_List-icontext"><span class="kidsjunior-Utility_Show-sp"><img src="<%= sitepath %>assets/img/guide/kidsjunior/img-security.png" alt=""></span><span>あんしんコントロール<br class="kidsjunior-Utility_Show-sp"> by i-フィルターなら！</span></p>
                    <p class="c-Txt_Emp-02 u-Adjust_Mt-8 c-Heading_Lv4">アプリのフィルタリングで、許可したゲーム以外をブロック</p>
                    <p class="u-Adjust_Mt-8">ゲーム内でアイテムを入手するとき、有料なのか無料なのかを確認するようにしましょう。また、大人が使っていたスマホをお子さまに譲るとき、クレジットカードの情報が保存されていないかどうか、確認しておくことも必要です。</p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8">※アプリのフィルタリングはAndroid版のみの機能</p>
                    <hr class="u-Adjust_Mt-16">
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">店頭配布チラシ</p>
                    <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>assets/pdf/manual/SP_anshin_guide.pdf" target="_blank" class="c-Link_Txt-inline">「インターネットの危険から子どもを守る スマホあんしんガイド」<span class="c-Icon_Pdf-l u-Adjust_Pl-0"></span></a>はこちらからご確認いただけます。</p>
                  </div>
                </div>
              </li>
            </ol>
        </section>
    </div>
  </section>

<section class="u-Adjust_Mt-40">
  <div class="l-System_Container">
    <h2 class="c-Heading_Lv2">あんしんコントロール by i-フィルター</h2>
    <p class="u-Adjust_Mt-16">楽天モバイルでは、ご家庭でも外出先でも、お子さまのスマホ・タブレット利用を見守る、あんしん・便利なフィルタリングサービスをご提供しております。</p>
    <div class="l-Media_Grid c-Infobox_Standing-light u-Adjust_Mt-24">
      <div class="l-Media_Image">
        <img src="<%= sitepath %>assets/img/guide/kidsjunior/img-safety.png" alt="">
      </div>
      <div>
        <h3 class="u-Adjust_Mt-8">あんしん・安全なインターネット利用のために<br class="kidsjunior-Utility_Show-pc">危険なサイトをブロック！</h3>
        <p class="u-Adjust_Mt-16">有害なサイトにアクセスしてしまった、詐欺サイトにひっかかってしまった…などなど、インターネット上のトラブルに巻き込まれる件数が年々増加している中、安心してスマートフォンやタブレットをご利用いただくために必要不可欠な機能を備えています。</p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※18歳未満の方に楽天モバイルをご利用いただく場合、あんしんコントロール by i-フィルターのご契約が必須となります。</p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※18歳以上の方にもご契約いただけます</p>
      </div>
      </div>

    <div class="u-Adjust_Align-center u-Adjust_Mt-32">
      <a href="<%= sitepath %>service/i-filter/" class="c-Btn_Primary-large"><span>あんしんコントロール by i-フィルターの詳細を見る</span></a>
      <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/i-filter/" class="c-Link_Txt-icon kidsjunior-Style_Link-center">お申し込み・ご利用方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
    </div>

    <ul class="u-Adjust_Mt-40 <%= nameSpace %>-List_Bnr">
      <li>
        <a href="<%= sitepath %>guide/security/?l-id=guide_kidsjunior_guide_security" class="c-Banner_Hover-act">
          <img src="<%= sitepath %>assets/img/bnr/guide-security-504-160.png" alt="情報セキュリティ 楽天モバイルの情報セキュリティへの取り組みをご紹介" width="504" height="160" class="<%= nameSpace %>-Utility_Img-border">
        </a>
      </li>
      <li>
        <a href="<%= sitepath %>guide/security/kids-manner/?l-id=guide_kidsjunior_guide_security_kids-manner" class="c-Banner_Hover-act">
          <img src="<%= sitepath %>assets/img/bnr/bnr-kids-manner-arrow-504-160.png" alt="子どもと学ぶスマホのマナー スマホのマナーをしっかりと身につけて安全につかおう" width="504" height="160" class="<%= nameSpace %>-Utility_Img-border">
        </a>
      </li>
    </ul>

    <div class="u-Adjust_Mt-24">
      <a href="<%= sitepath %>guide/security/cyber-bousai2022/?l-id=guide_security_guide_security_cyber-bousai2022" class="c-Banner_Hover-act">
        <img class="<%= nameSpace %>-Utility_Show-pc" src="<%= sitepath %>assets/img/bnr/bnr-cyber-bousai2022-1032-160.png" alt="お買いものパンダと学ぼうスミッシング対策入門 SMS+フィッシング">
        <img class="<%= nameSpace %>-Utility_Show-sp" src="<%= sitepath %>assets/img/bnr/bnr-cyber-bousai2022-328-185.png" alt="お買いものパンダと学ぼうスミッシング対策入門 SMS+フィッシング">
      </a>
    </div>


      <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">SNSはルールを守って使おう</h2>
      <p class="u-Adjust_Mt-16">SNSは簡単に誰とでもつながれる便利なコミュニケーションサービスです。気軽につながれるからこそ、使い方には気をつけましょう。お子さまが送ろうとしているメッセージには、もしかすると相手を傷つけてしまう言葉が含まれているかもしれません。悪気のない投稿が、別の意味で受け取られてしまうこともあります。<br>
        下記に紹介するWebページを参考に、受け取る側の気持ちを考えながら、安全にSNSを使っていくためのルールをお子さまと一緒に確認してください。
        </p>

       <ul class="c-Link_List u-Adjust_Mt-16">
         <li><a href="https://no-heart-no-sns.smaj.or.jp/" target="_blank">総務省：#NoHeartNoSNS（ハートがなけりゃSNSじゃない！）<span class="c-Icon_New-window-l"></span></a></li>
         <li><a href="https://www.gov-online.go.jp/useful/article/202011/2.html" target="_blank">政府広報オンライン：SNSの誹謗中傷　あなたが奪うもの、失うもの～＃NoHeartNoSNS～<span class="c-Icon_New-window-l"></span></a></li>
         <li><a href="https://nettv.gov-online.go.jp/prg/prg21546.html" target="_blank">政府インターネットテレビ：SNSの誹謗中傷　あなたが奪うもの、失うもの～＃NoHeartNoSNS<span class="c-Icon_New-window-l"></span></a></li>
       </ul>

       <h2 class="c-Heading_Lv2 u-Adjust_Mt-48">総務省  インターネット利用のためのご案内</h2>
       <p class="u-Adjust_Mt-16">青少年・保護者・教職員向けのインターネットに関わるトラブル事例集や、高齢者・低年齢層（～6歳程度）がスマートフォン等を安心・安全に利用するための啓発教材を総務省が作成し公開しています。</p>

        <ul class="c-Link_List u-Adjust_Mt-16">
          <li><a href="https://www.soumu.go.jp/main_content/000707803.pdf" target="_blank">インターネットトラブル事例集<span class="c-Icon_Pdf-l"></span></a></li>
          <li><a href="https://www.soumu.go.jp/main_content/000705808.pdf" target="_blank">トラブル対策ブック（アクティブシニア対象）<span class="c-Icon_Pdf-l"></span></a></li>
          <li><a href="https://www.soumu.go.jp/main_content/000705809.pdf" target="_blank">デジタル時代の子育てを一緒に考えてみよう！（低年齢層（～6歳程度）の保護者対象）<span class="c-Icon_Pdf-l"></span></a></li>
        </ul>
    </div>
</section>


<footer class="g-Footer kidsjunior-Style_Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
