<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "お客様サポート" -%>
<% const directories = [] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    // directories: directories,
    description: '楽天ひかりのサポートページです。お申し込みからご利用開始までの流れ、ご契約情報の確認・変更、インターネット接続に関するトラブルの解決方法など、各種サポート情報をご案内します。',
    noindex: false,
    pathname: filepath,
    ishikari: true,
    canonical_custom: 'https://network.mobile.rakuten.co.jp/hikari/support/'
  });
%>
<%- include('/include/hikari/_common-v2-hikari-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/support-v2/support-top-v2.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/support/support.css?20240424">

<%- include('/include/_append-head-hikari') %>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>

<div class="l-System">

  <%- include('/hikari/include/_header', {
    headerType: 'normal',
    pagetitle: pagetitle,
    pathname: filepath,
    directories: directories,
    tax: 'true'
  }) %>

  <div class="l-hikari-Section_Main u-Adjust_Mb-0">
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1" data-ratid="scroll-01_support" data-ratevent="appear"><%= pagetitle %></h1>
      <div class="l-hikari-Section_Main-lead">
        <p>お客様の疑問や問題の解決方法など、楽天ひかりのサポート情報をご案内します。</p>

        <div class="c-Infobox_Standing-info u-Adjust_Mt-32 u-Adjust_Pt-16 u-Adjust_Pb-16">
          <div class="c-Attention_Container hikari-support-top-Layout_Attention">
            <span class="c-Attention_Icon c-Icon_Sign-info-l"></span>
            <p class="c-Attention_Body">
              <a href="<%= sitepath %>hikari/support/coronavirus-measures/">開通工事における、新型コロナウイルス感染症対策について</a>
            </p>
          </div>
        </div>






      </div>
    </div>

    <div class="hikari-support-top-Category_Container u-Adjust_Mt-24 u-Adjust_Pb-0 u-Adjust_Pt-0">
      <div class="l-System_Container">
        <div class="c-Tab js-Tab">
          <ul class="c-Tab_Items" role="tablist">
            <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">新規お申し込みの方</li>
            <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">ご契約中の方</li>
          </ul>
          <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="新規お申し込みの方">

            <div class="support-Search_Paper u-Adjust_Mt-16">
              <div id="support-search-b"></div>
            </div>



            <!-- <h2 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-32" data-ratid="scroll-03_faq" data-ratevent="appear">よくあるご質問</h2>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center">お客様からよくいただくご質問をまとめました。</p>
            <div class="u-Adjust_Mt-24">
              <ul>
                <li>
                  <a href="https://hikari.faq.rakuten.net/faq/show/1259?site_domain=default" class="c-Link_Txt-inline">申し込み手続き後、楽天ひかり利用開始までの流れを教えてください。<span class="c-Icon_Arrow-right-l"></span></a>
                </li>
                <li class="u-Adjust_Mt-16">
                  <a href="https://hikari.faq.rakuten.net/faq/show/5842?site_domain=default" class="c-Link_Txt-inline">光回線の開通工事をする際、事前に確認することはありますか？<span class="c-Icon_Arrow-right-l"></span></a>
                </li>
                <li class="u-Adjust_Mt-16">
                  <a href="https://hikari.faq.rakuten.net/faq/show/8395?site_domain=default" class="c-Link_Txt-inline">楽天ひかりのIPv6（クロスパス）はいつから利用可能ですか？<span class="c-Icon_Arrow-right-l"></span></a>
                </li>
                <li class="u-Adjust_Mt-16">
                  <a href="https://hikari.faq.rakuten.net/faq/show/1138?site_domain=default" class="c-Link_Txt-inline">楽天ひかりに切り替える場合に必要な料金<span class="c-Icon_Arrow-right-l"></span></a>
                </li>
              </ul>
              <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                <a href="https://hikari.faq.rakuten.net/category/show/159?site_domain=default" rel="noopener" class="c-Btn_Secondly-large"><span><span>その他のご質問を見る</span><span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span></span></a>
              </div>
            </div> -->
            <h2 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-64" data-ratid="scroll-04_support-category" data-ratevent="appear">カテゴリーから探す</h2>
            <div class="hikari-support-top-Layout_Card">

              <div id="category-link" class="hikari-support-top-Card_Basic">
                <img src="<%= sitepath %>assets/img/hikari/support/icon-tool.png" width="32px" alt="">
                <div class="hikari-support-top-Accordion">
                  <button id="accordion-1" class="hikari-support-top-Accordion_Trigger js-hikari-support-top-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1">
                    <strong class="c-Heading_Lv4"><span><img src="<%= sitepath %>assets/img/hikari/support/icon-tool.png" width="32px" alt=""></span>お申し込みから開通工事まで</strong>
                    <span class="hikari-support-top-Icon_Chevron-right-l hikari-support-top-Accordion_Arrow"></span>
                  </button>
                  <div id="accordion-content-1" class="hikari-support-top-Accordion_Panel js-hikari-support-top-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
                    <ul>
                      <li>
                        <a href="<%= sitepath %>hikari/flow/" class="c-Link_Txt-inline">ご利用開始までの流れ<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                      <li>
                        <a href="<%= sitepath %>hikari/flow/construction/" class="c-Link_Txt-inline">開通工事の流れ<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                      <li>
                        <a href="<%= sitepath %>hikari/flow/transfer-number/" class="c-Link_Txt-inline">承諾番号の取得方法（事業者変更・転用）<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                      <li>
                        <a href="<%= sitepath %>hikari/support/wifi-router/" class="c-Link_Txt-inline" data-lid_no="02">IPv6（クロスパス）対応ルーター<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                    </ul>
                    <hr class="hikari-support-top-Layout_Hr u-Adjust_Mt-24 u-Adjust_Mb-16">
                    <p class="u-Adjust_Mb-16"><b>よくあるご質問</b></p>
                    <ul>
                      <li>
                        <a href="https://hikari.faq.rakuten.net/faq/show/1098?site_domain=default" class="c-Link_Txt-inline">申し込み後のキャンセルは可能ですか？<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                      <li>
                        <a href="https://hikari.faq.rakuten.net/faq/show/4078?site_domain=default" class="c-Link_Txt-inline">開通までに準備が必要なもの<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                      <li>
                        <a href="https://hikari.faq.rakuten.net/faq/show/3892?site_domain=default" class="c-Link_Txt-inline">インターネットで訪問工事当日の進捗確認はできますか？<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div id="category-plan" class="hikari-support-top-Card_Basic">
                <span class="c-Icon_Price-f"></span>
                <div class="hikari-support-top-Accordion">
                  <button id="accordion-2" class="hikari-support-top-Accordion_Trigger js-hikari-support-top-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2">
                    <strong class="c-Heading_Lv4"><span><img src="<%= sitepath %>assets/img/hikari/support/icon-yen.png" width="32px" alt=""></span>料金</strong>
                    <span class="hikari-support-top-Icon_Chevron-right-l hikari-support-top-Accordion_Arrow"></span>
                  </button>
                  <div id="accordion-content-2" class="hikari-support-top-Accordion_Panel js-hikari-support-top-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
                    <ul>
                      <li>
                        <a href="<%= sitepath %>hikari/fee/" class="c-Link_Txt-inline">料金<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                      <li>
                        <a href="<%= sitepath %>hikari/fee/pricelist/" class="c-Link_Txt-inline">料金表・お支払い方法<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                    </ul>
                    <hr class="hikari-support-top-Layout_Hr u-Adjust_Mt-24 u-Adjust_Mb-16">
                    <p class="u-Adjust_Mb-16"><b>よくあるご質問</b></p>
                    <ul>
                      <li>
                        <a href="https://hikari.faq.rakuten.net/faq/show/1144?site_domain=default" class="c-Link_Txt-inline">楽天ひかりのIPv6（クロスパス）通信を利用するのに料金は必要ですか？<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                      <li>
                        <a href="https://hikari.faq.rakuten.net/faq/show/1137?site_domain=default" class="c-Link_Txt-inline">新規／転用／事業者変更の事務手数料<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div id="category-setting" class="hikari-support-top-Card_Basic">
                <img src="<%= sitepath %>assets/img/hikari/support/icon-option.png" width="32px" alt="">
                <div class="hikari-support-top-Accordion">
                  <button id="accordion-3" class="hikari-support-top-Accordion_Trigger js-hikari-support-top-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3">
                    <strong class="c-Heading_Lv4"><span><img src="<%= sitepath %>assets/img/hikari/support/icon-option.png" width="32px" alt=""></span>オプションサービス</strong>
                    <span class="hikari-support-top-Icon_Chevron-right-l hikari-support-top-Accordion_Arrow"></span>
                  </button>
                  <div id="accordion-content-3" class="hikari-support-top-Accordion_Panel js-hikari-support-top-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
                    <ul>
                      <li>
                        <a href="<%= sitepath %>hikari/fee/option/super-security/" class="c-Link_Txt-inline">スーパーセキュリティ マルチプラットフォーム版<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                      <li>
                        <a href="<%= sitepath %>hikari/fee/option/virus-filter/" class="c-Link_Txt-inline">ウイルスフィルタサービス<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                      <li>
                        <a href="<%= sitepath %>hikari/fee/option/advanced-spam-filter/" class="c-Link_Txt-inline">アドバンストスパムフィルタ<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                      <li>
                        <a href="<%= sitepath %>hikari/fee/option/free-mail/" class="c-Link_Txt-inline">無料メールアドレス<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                      <li>
                        <a href="<%= sitepath %>hikari/fee/option/free-mail-plus/" class="c-Link_Txt-inline">メールプラス<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                      <li>
                        <a href="<%= sitepath %>hikari/fee/option/remote-support/" class="c-Link_Txt-inline">電話設定サポート<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                      <li>
                        <a href="<%= sitepath %>hikari/fee/option/hikari-denwa/" class="c-Link_Txt-inline">ひかり電話<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                    </ul>
                    <hr class="hikari-support-top-Layout_Hr u-Adjust_Mt-24 u-Adjust_Mb-16">
                    <p class="u-Adjust_Mb-16"><b>よくあるご質問</b></p>
                    <ul>
                      <li>
                        <a href="https://hikari.faq.rakuten.net/faq/show/1135?site_domain=default" class="c-Link_Txt-inline">ひかり電話の電話番号は、楽天ひかり加入後も継続利用は可能？<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                      <li>
                        <a href="https://hikari.faq.rakuten.net/faq/show/3397?site_domain=default" class="c-Link_Txt-inline">ひかりTVは利用できますか？<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                      <li>
                        <a href="https://hikari.faq.rakuten.net/faq/show/6802?site_domain=default" class="c-Link_Txt-inline">楽天ひかりでVPNは利用できますか？<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div id="category-application" class="hikari-support-top-Card_Basic">
                <img src="<%= sitepath %>assets/img/hikari/support/icon-campaign.png" width="32px" alt="">
                <div class="hikari-support-top-Accordion">
                  <button id="accordion-4" class="hikari-support-top-Accordion_Trigger js-hikari-support-top-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4">
                    <strong class="c-Heading_Lv4"><span><img src="<%= sitepath %>assets/img/hikari/support/icon-campaign.png" width="32px" alt=""></span>キャンペーン・ポイント</strong>
                    <span class="hikari-support-top-Icon_Chevron-right-l hikari-support-top-Accordion_Arrow"></span>
                  </button>
                  <div id="accordion-content-4" class="hikari-support-top-Accordion_Panel js-hikari-support-top-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
                    <ul>
                      <li>
                        <a href="<%= sitepath %>hikari/campaign/spu/" class="c-Link_Txt-inline">SPU（スーパーポイントアッププログラム）<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                      <li>
                        <a href="<%= sitepath %>hikari/campaign/archive/" class="c-Link_Txt-inline">終了したキャンペーン情報<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                    </ul>
                    <hr class="hikari-support-top-Layout_Hr u-Adjust_Mt-24 u-Adjust_Mb-16">
                    <p class="u-Adjust_Mb-16"><b>よくあるご質問</b></p>
                    <ul>
                      <li>
                        <a href="https://hikari.faq.rakuten.net/faq/show/1148?site_domain=defaul" class="c-Link_Txt-inline">楽天ポイントで支払いはできますか？<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                      <li>
                        <a href="https://hikari.faq.rakuten.net/faq/show/1149?site_domain=default" class="c-Link_Txt-inline">楽天ポイント口座の登録・変更方法<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div id="category-product-android" class="hikari-support-top-Card_Basic">
                <img src="/assets/img/support/img-hikari.svg" width="32px" alt="">
                <div class="hikari-support-top-Accordion">
                  <button id="accordion-5" class="hikari-support-top-Accordion_Trigger js-hikari-support-top-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5">
                    <strong class="c-Heading_Lv4"><span><img src="<%= sitepath %>assets/img/hikari/support/icon-hikari.png" width="32px" alt=""></span>光回線サービス</strong>
                    <span class="hikari-support-top-Icon_Chevron-right-l hikari-support-top-Accordion_Arrow"></span>
                  </button>
                  <div id="accordion-content-5" class="hikari-support-top-Accordion_Panel js-hikari-support-top-Accordion_Panel" role="region" aria-labelledby="accordion-5" aria-hidden="true">
                    <ul>
                      <li>
                        <a href="<%= sitepath %>hikari/internet/" class="c-Link_Txt-inline">速さと安定のIPv6通信<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                    </ul>
                    <hr class="hikari-support-top-Layout_Hr u-Adjust_Mt-24 u-Adjust_Mb-16">
                    <p class="u-Adjust_Mb-16"><b>よくあるご質問</b></p>
                    <ul>
                      <li>
                        <a href="https://hikari.faq.rakuten.net/faq/show/3411?site_domain=default" class="c-Link_Txt-inline">速度制限がありますか？<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                      <li>
                        <a href="https://hikari.faq.rakuten.net/faq/show/1124?site_domain=default" class="c-Link_Txt-inline">楽天ひかりのIPv6（クロスパス）通信を利用するメリット<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                      <li>
                        <a href="https://hikari.faq.rakuten.net/faq/show/1260?site_domain=default" class="c-Link_Txt-inline">利用できるエリアか確認できますか？<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="ご契約中の方">



        <div class="support-Search_Paper u-Adjust_Mt-16">
          <div id="support-search-b-2"></div>
        </div>


            <!-- <h2 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-32">よくあるご質問</h2>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center">お問い合わせの多いご質問から、お困りごとの解決方法をお探しいただけます。</p>
            <div class="u-Adjust_Mt-24">
              <ul>
                <li>
                  <a href="https://hikari.faq.rakuten.net/faq/show/1167?site_domain=default" class="c-Link_Txt-inline">自身の回線が楽天ひかりのIPv6（クロスパス）に接続しているか知りたい<span class="c-Icon_Arrow-right-l"></span></a>
                </li>
                <li class="u-Adjust_Mt-16">
                  <a href="https://hikari.faq.rakuten.net/faq/show/1075?site_domain=default" class="c-Link_Txt-inline">インターネットが突然つながらなくなった<span class="c-Icon_Arrow-right-l"></span></a>
                </li>
                <li class="u-Adjust_Mt-16">
                  <a href="https://hikari.faq.rakuten.net/faq/show/1170?site_domain=default" class="c-Link_Txt-inline">他社のIPv6契約が残っている場合、楽天ひかりのIPv6（クロスパス）は利用できないですか？<span class="c-Icon_Arrow-right-l"></span></a>
                </li>
                <li class="u-Adjust_Mt-16">
                  <a href="https://hikari.faq.rakuten.net/faq/show/1212?site_domain=default" class="c-Link_Txt-inline">解約した場合、契約解除料（解約金）は必要ですか？<span class="c-Icon_Arrow-right-l"></span></a>
                </li>
              </ul>
              <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                <a href="https://hikari.faq.rakuten.net/category/show/151?site_domain=default" target="_blank" rel="noopener" class="c-Btn_Secondly-large"><span><span>その他のご質問を見る</span><span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span></span></a>
              </div>
            </div> -->
            <h2 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-64">カテゴリーから探す</h2>
            <div class="hikari-support-top-Layout_Card">
              <div id="category-procedure" class="hikari-support-top-Card_Basic">
                <span class="c-Icon_Rakuten-account-f"></span>
                <div class="hikari-support-top-Accordion">
                  <button id="accordion-6" class="hikari-support-top-Accordion_Trigger js-hikari-support-top-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-6">
                    <strong class="c-Heading_Lv4"><span class="c-Icon_Rakuten-account-f"></span>契約内容の確認・お手続き</strong>
                    <span class="hikari-support-top-Icon_Chevron-right-l hikari-support-top-Accordion_Arrow"></span>
                  </button>
                  <div id="accordion-content-6" class="hikari-support-top-Accordion_Panel js-hikari-support-top-Accordion_Panel" role="region" aria-labelledby="accordion-6" aria-hidden="true">
                    <ul>
                      <li>
                        <a href="<%= sitepath %>hikari/support/house-moving/" class="c-Link_Txt-inline">引越しのお手続き<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                      <li>
                        <a href="<%= sitepath %>hikari/support/members-station/" class="c-Link_Txt-inline">メンバーズステーションのご利用方法<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                      <li>
                        <a href="<%= sitepath %>hikari/support/cancellation/" class="c-Link_Txt-inline">ご解約手順について（注意事項）<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                    </ul>
                    <hr class="hikari-support-top-Layout_Hr u-Adjust_Mt-24 u-Adjust_Mb-16">
                    <p class="u-Adjust_Mb-16"><b>よくあるご質問</b></p>
                    <ul>
                      <li>
                        <a href="https://hikari.faq.rakuten.net/faq/show/1194?site_domain=default" class="c-Link_Txt-inline">契約内容の確認方法が知りたい<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                      <li>
                        <a href="https://hikari.faq.rakuten.net/faq/show/9963?site_domain=default" class="c-Link_Txt-inline">支払い方法の確認・変更（クレジットカード払い）<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div id="category-error" class="hikari-support-top-Card_Basic">
                <span class="c-Icon_Sign-warning-f"></span>
                <div class="hikari-support-top-Accordion">
                  <button id="accordion-7" class="hikari-support-top-Accordion_Trigger js-hikari-support-top-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-7">
                    <strong class="c-Heading_Lv4"><span class="c-Icon_Sign-warning-f"></span>エラー・トラブル</strong>
                    <span class="hikari-support-top-Icon_Chevron-right-l hikari-support-top-Accordion_Arrow"></span>
                  </button>
                  <div id="accordion-content-7" class="hikari-support-top-Accordion_Panel js-hikari-support-top-Accordion_Panel" role="region" aria-labelledby="accordion-7" aria-hidden="true">
                    <ul>
                      <li>
                        <a href="<%= sitepath %>hikari/support/troubleshooting/" class="c-Link_Txt-inline">インターネット接続がご利用いただけない場合の対処法<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                      <li>
                        <a href="<%= sitepath %>hikari/support/speed/improvement/" class="c-Link_Txt-inline">光回線の通信速度改善<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                    </ul>
                    <hr class="hikari-support-top-Layout_Hr u-Adjust_Mt-24 u-Adjust_Mb-16">
                    <p class="u-Adjust_Mb-16"><b>よくあるご質問</b></p>
                    <ul>
                      <li>
                        <a href="https://hikari.faq.rakuten.net/faq/show/6896?site_domain=default" class="c-Link_Txt-inline">楽天ひかりのIPv6（クロスパス）に接続ができない場合の対処方法<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                      <li>
                        <a href="https://hikari.faq.rakuten.net/faq/show/1084?site_domain=default" class="c-Link_Txt-inline">レンタル機器（モデム）が故障しました<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                      <li>
                        <a href="https://hikari.faq.rakuten.net/faq/show/1077?site_domain=default" class="c-Link_Txt-inline">インターネットの速度が遅く感じられる場合<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div id="category-set" class="hikari-support-top-Card_Basic">
                <span class="c-Icon_List-f"></span>
                <div class="hikari-support-top-Accordion">
                  <button id="accordion-8" class="hikari-support-top-Accordion_Trigger js-hikari-support-top-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-8">
                    <strong class="c-Heading_Lv4"><span class="c-Icon_List-f"></span>各種設定方法</strong>
                    <span class="hikari-support-top-Icon_Chevron-right-l hikari-support-top-Accordion_Arrow"></span>
                  </button>
                  <div id="accordion-content-8" class="hikari-support-top-Accordion_Panel js-hikari-support-top-Accordion_Panel" role="region" aria-labelledby="accordion-8" aria-hidden="true">
                    <ul>
                      <li>
                        <a href="<%= sitepath %>hikari/support/setting/router/" class="c-Link_Txt-inline">インターネット接続方法<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                      <li>
                        <a href="<%= sitepath %>hikari/support/wifi-router/" class="c-Link_Txt-inline">楽天ひかりのIPv6（クロスパス）対応ルーター<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                      <li>
                        <a href="<%= sitepath %>hikari/support/setting/mail/" class="c-Link_Txt-inline">メール設定方法<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                    </ul>
                    <hr class="hikari-support-top-Layout_Hr u-Adjust_Mt-24 u-Adjust_Mb-16">
                    <p class="u-Adjust_Mb-16"><b>よくあるご質問</b></p>
                    <ul>
                      <li>
                        <a href="https://hikari.faq.rakuten.net/faq/show/9391?site_domain=default" class="c-Link_Txt-inline">「ユーザID」「パスワード」の確認方法<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                      <li>
                        <a href="https://hikari.faq.rakuten.net/faq/show/1090?site_domain=default" class="c-Link_Txt-inline">お客様回線ID、アクセスキーがわからない<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                      <li>
                        <a href="https://hikari.faq.rakuten.net/faq/show/1223?site_domain=default" class="c-Link_Txt-inline">設定のサポートをしてほしい<span class="c-Icon_Arrow-right-l"></span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <hr class="hikari-support-top-Layout_Hr u-Adjust_Mt-40 u-Adjust_Mb-32">
            <div class="u-Adjust_Align-center">
              <h2 class="c-Heading_Lv2">ログイン</h2>
              <p class="u-Adjust_Mt-16">ご契約情報の確認・変更のお手続きはこちらから行えます。</p>
              <div class="u-Adjust_Mt-24">
                <a href="https://ms.fusioncom.co.jp/rbb/members/login?campaign=web-rakuten" target="_blank" rel="noopener" class="c-Btn_Secondly-large"><span><span>会員ページにログイン</span><span class="c-Icon_Login-l"></span></span></a>
              </div>
            </div>
            <hr class="hikari-support-top-Layout_Hr u-Adjust_Mt-40 u-Adjust_Mb-40">
            <div class="u-Adjust_Align-center">
              <h2 class="c-Heading_Lv2">フレッツ光のメンテナンス・障害情報</h2>
              <p class="u-Adjust_Mt-16">フレッツ光のメンテナンス・障害情報は、NTT東日本・NTT西日本のWebサイトをご覧ください。</p>
              <div class="u-Adjust_Mt-24">
                <ul class="hikari-support-top-Layout_Maintenance">
                  <li>
                    <a href="http://flets.com/customer/const2/" target="_blank" rel="noopener" class="c-Link_Txt-inline">NTT東日本<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></a>
                  </li>
                  <li>
                    <a href="http://www.info-construction.ntt-west.co.jp/info-report/ku010/kU010010/" target="_blank" rel="noopener" class="c-Link_Txt-inline">NTT西日本<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="u-Adjust_Mt-48">
          <div class="hikari-support-top-Layout_Flex">
            <div class="u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/hikari/support/icon-headphone.png" width="42px" alt="">
              <h2 class="c-Heading_Lv2 u-Adjust_Mt-8">お問い合わせ</h2>
              <p class="u-Adjust_Mt-16">上記をご覧になってもお困りごとが解決しない場合は、こちらからお問い合わせください。</p>
              <div class="u-Adjust_Mt-16">
                <a href="<%= sitepath %>hikari/inquiry/" class="c-Link_Txt-inline">お問い合わせ窓口<span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span></a>
              </div>
            </div>
            <div class="u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/hikari/support/icon-sign-info.png" width="42px" alt="">
              <h2 class="c-Heading_Lv2 u-Adjust_Mt-8">お知らせ</h2>
              <p class="u-Adjust_Mt-16">楽天ひかりからのお知らせです。障害やメンテナンスの情報も、こちらからご確認ください。</p>
              <div class="u-Adjust_Mt-16">
                <a href="<%= sitepath %>hikari/information/" class="c-Link_Txt-inline">お知らせ一覧<span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <footer class="g-Footer" data-ratid="scroll-05_more-about-hikari" data-ratevent="appear">
    <%- include('/hikari/include/_footer', {
      pagetitle: pagetitle,
      directories: directories,
      hiddenFooterCta:true,
      hiddenCta: true,
      appearTag: true
    }) %>

  </footer>

</div>
<%- include('/include/hikari/_common-js') %>
<script src="<%= sitepath %>assets/js/hikari/support.index.bundle.js?20240521"></script>


<%- include('/include/_append-body') %>

</body>
</html>
