<% const pagetitle = "スマホ料金をチェックするだけで100ポイントプレゼント！" -%>
<% const directories = [{path:"fee/saikyo-plan/", label:"Rakuten最強プラン（料金プラン）"}] -%>
<% const namespace = "fee-simulation" -%>
<% const imgpath = `${sitepath}assets/img/fee/simulation/` %>

<%
  // wifi環境下がどうとかの説明いるくない？
  const TXT_TRAFFIC_OFFSET = 7; //7KB/1回
  const MEDIA_TRAFFIC_OFFSET = 3 * 1024; // 3MB/1回
  const WEB_TRAFFIC_OFFSET = 400 * 1024; // 400MB/1時間
  const MOVIE_TRAFFIC_OFFSET = 600 * 1024; // 600MB/1時間

  const askCallList = [
    {label: 'たくさんする', value: 'frequently'},
    {label: 'たまにする', value: 'occasionally'},
    {label: 'ほとんどしない', value: 'rarely'},
  ];

  // 1ヶ月の使用量(KB) ?KB/月
  const askTxtList = [
    {label: 'ほとんどしない', value: 0}, // 0KB/月
    {label: '10回', value: 10 * TXT_TRAFFIC_OFFSET * 30},
    {label: '30回', value: 30 * TXT_TRAFFIC_OFFSET * 30},
    {label: '50回', value: 50 * TXT_TRAFFIC_OFFSET * 30},
    {label: '100回以上', value: 100 * TXT_TRAFFIC_OFFSET * 30}
  ];
  const askMediaList = [
    {label: 'ほとんどしない' , value: 0.5 * 1024}, // 0.5MB/月
    {label: '5回' , value: 5 * MEDIA_TRAFFIC_OFFSET * 30},
    {label: '10回' , value: 10 * MEDIA_TRAFFIC_OFFSET * 30},
    {label: '30回' , value: 30 * MEDIA_TRAFFIC_OFFSET * 30},
    {label: '50回以上' , value: 50 * MEDIA_TRAFFIC_OFFSET * 30}
  ];
  const askWebList = [
    {label: 'ほとんど見ない' , value: 6.6 * 1024}, // 6.6MB/月
    {label: '10分' , value: 10 / 60 * WEB_TRAFFIC_OFFSET * 30},
    {label: '30分' , value: 30 / 60 * WEB_TRAFFIC_OFFSET * 30},
    {label: '1時間' , value: 1 * WEB_TRAFFIC_OFFSET * 30},
    {label: '3時間' , value: 3 * WEB_TRAFFIC_OFFSET * 30},
    {label: '5時間以上' , value: 5 * WEB_TRAFFIC_OFFSET * 30}
  ];
  const askMovieList = [
    {label: 'ほとんど見ない' , value: 10 * 1024}, // 10MB/月
    {label: '10分' , value: 10 / 60 * MOVIE_TRAFFIC_OFFSET * 30},
    {label: '30分' , value: 30 / 60 * MOVIE_TRAFFIC_OFFSET * 30},
    {label: '1時間' , value: 1 * MOVIE_TRAFFIC_OFFSET * 30},
    {label: '3時間' , value: 3 * MOVIE_TRAFFIC_OFFSET * 30},
    {label: '5時間以上' , value: 5 * MOVIE_TRAFFIC_OFFSET * 30}
  ];

  const askDataSizeList = [
    {label: '0.5GB以下', value: 'under_0.5'},
    {label: '1GB以下', value: 'under_1'},
    {label: '2GB以下', value: 'under_2'},
    {label: '3GB以下', value: 'under_3'},
    {label: '4GB以下', value: 'under_4'},
    {label: '5GB以下', value: 'under_5'},
    {label: '6GB以下', value: 'under_6'},
    {label: '7GB以下', value: 'under_7'},
    {label: '9GB以下', value: 'under_9'},
    {label: '15GB以下', value: 'under_15'},
    {label: '20GB以下', value: 'under_20'},
    {label: '25GB以下', value: 'under_25'},
    {label: '30GB以下', value: 'under_30'},
    {label: '50GB以下', value: 'under_50'},
    {label: '60GB以下', value: 'under_60'},
    {label: '100GB以下', value: 'under_100'},
    {label: '150GB以下', value: 'under_150'},
    {label: '150GB超', value: 'over_150'},
    {label: '分からない', value: 'unknown'},
  ];

  const carrierList = [
    {label: 'docomo <br class="u-Show_Oox">-<span class="plan-jp">従来のプラン</span>-', value: 'docomo'},
    {label: 'au', value: 'au'},
    {label: 'SoftBank', value: 'softbank'},
    {label: 'Y!mobile', value: 'ymobile'},
    {label: 'UQ <span>mobile</span>', value: 'uqmobile'},
    {label: 'ahamo', value: 'ahamo'},
    {label: 'povo2.0', value: 'povo'},
    {label: 'LINEMO', value: 'linemo'},
    {label: 'docomo <br class="u-Show_Oox">-eximo-', value: 'docomo_eximo'},
    {label: 'docomo <br class="u-Show_Oox">-irumo-', value: 'docomo_irumo'},
    {label: 'SoftBank <br class="u-Show_Oox">-<span class="plan-jp">ペイトク</span>-', value: 'softbank_paytoku'},
    {label: 'ahamo <br class="u-Show_Oox">-<span class="plan-jp">ポイ活</span>-', value: 'ahamo_poikatsu'},
    {label: 'その他', value: 'other'},
  ];
%>

<%-
  include('/_header', {
    pagetitle,
    directories,
    description: 'どれだけおトクになるか試してみませんか？スマホ料金をチェックするだけで100ポイントプレゼント！3ステップでわかる！料金＆ポイント かんたんシミュレーション！',
    noindex: true,
    pathname: filepath,
  });
%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/fee/simulation/simulation.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
  <%- include('/include/_prepend-body') %>

  <div class="l-System">
    <%- include('/include/_header') %>
    <%- include('/include/_breadcrumbs', {
      type: 'head',
      pagetitle,
      directories,
    }) %>

    <section class="<%= namespace %>-Kv">
      <h1 class="<%= namespace %>-Kv_Img">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>cpn/kv-sp-240201.png" width="750" height="920">
          <img src="<%= imgpath %>cpn/kv-pc-240201.png" alt="毎月どれだけおトクになる？スマホ料金をチェックするだけで100ポイントプレゼント（※1）！3ステップでわかる！料金＆ポイント かんたんシミュレーション！" width="1440" height="300">
        </picture>
      </h1>
    </section>

    <section class="<%= namespace %>-Main">
      <div class="l-System_Container">
        <p class="u-Adjust_Align-center u-Adjust_Mt-8 u-Adjust_Mt-pc-0"><span class="c-Txt_Emp-01">【キャンペーン期間】</span><br class="u-Show_Oox">2024年2月1日（木）00:00～終了日未定</p>
        <p class="c-Txt_Cap u-Align_Llc u-Adjust_Mt-8">※1 期間限定ポイント ※掲載情報は2024年4月19日時点の情報。あくまでも目安の金額です。実際のご利用状況によりご請求額とは異なる場合があります</p>
        <div class="<%= namespace %>-Main_Steps">
          <div class="<%= namespace %>-Main_Step js-ask" data-ratid="simulation-data_scroll-01" data-ratevent="appear">
            <div class="<%= namespace %>-Main_Step-container">
              <p class="<%= namespace %>-Main_Step-head">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>step1-sp.png" width="155" height="31">
                  <img src="<%= imgpath %>step1-pc.png" alt="STEP1" width="153" height="34">
                </picture>
              </p>
              <div class="<%= namespace %>-Main_Step-body">
                <div class="<%= namespace %>-Main_Step-ask <%= namespace %>-Main_Step-ask--ask2 <%= namespace %>-Main_Deco-panda-wrap">
                  <h2>
                    <picture>
                      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>ask1-sp-240419.png" width="343" height="66">
                      <img src="<%= imgpath %>ask1-pc-240419.png" alt="どのくらいデータを使いますか？" width="454" height="48">
                    </picture>
                  </h2>
                  <p class="u-Adjust_Mt-8">Wi-Fi接続時のデータ利用は含めずに選択してね</p>
                  <div class="<%= namespace %>-Main_Deco-panda1">
                    <img src="<%= imgpath %>panda-1-240419.png" alt="" width="122" height="102">
                  </div>
                </div>
                <div class="<%= namespace %>-Main_Step-tab c-Tab js-Tab">
                  <ul class="c-Tab_Items" role="tablist">
                    <li class="c-Tab_Item js-data-tab-trigger" id="tab-menu2" role="tab" aria-selected="true" aria-controls="tab-content2" data-ratid="simulation_tab-menu2_click" data-ratevent="click" data-ratparam="all">データ利用量で選ぶ</li>
                    <li class="c-Tab_Item js-data-tab-trigger" id="tab-menu1" role="tab" aria-selected="false" aria-controls="tab-content1" data-ratid="simulation_tab-menu1_click" data-ratevent="click" data-ratparam="all">利用頻度で選ぶ</li>
                  </ul>

                  <%# 元々逆だったので数字2からに %>
                  <div class="<%= namespace %>-Main_Step-tab-panel c-Tab_Panel js-main-tab-panel" id="tab-content2" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu2">
                    <div class="<%= namespace %>-Main_Step-sub js-sub-ask js-ask-data-size">
                      <h3 class="<%= namespace %>-Main_Step-sub-ask">
                        <picture>
                          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>ask-data-size-sp.png" width="288" height="24">
                          <img src="<%= imgpath %>ask-data-size-pc.png" alt="" width="357" height="28">
                        </picture>
                      </h3>
                      <div class="<%= namespace %>-Main_Step-sub-ask-pulldown">
                        <p class="<%= namespace %>-Main_Error-txt u-Adjust_Mt-8 js-error-txt" style="display:none;">いちばん近いものを選んでね</p>
                        <div class="c-Form_Select u-Adjust_Mt-8">
                          <select data-ratid="simulation_data-select_click" data-ratevent="click" data-ratparam="all">
                            <option value="" selected disabled hidden>選択してください</option>
                            <% askDataSizeList.forEach(data => { %>
                              <option value=<%= data.value %>><%= data.label %></option>
                            <% }) %>
                          </select>
                          <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="<%= namespace %>-Main_Step-tab-panel c-Tab_Panel js-main-tab-panel" id="tab-content1" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu1">
                    <div class="<%= namespace %>-Main_Step-sub js-sub-ask js-ask-data-frequency">
                      <h3 class="<%= namespace %>-Main_Step-sub-ask">
                        <picture>
                          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>ask2-sub1-sp.png" width="311" height="53">
                          <img src="<%= imgpath %>ask2-sub1-pc.png" alt="LINEやメールで、文字やスタンプを1日にどのくらいやりとりしますか？" width="689" height="32">
                        </picture>
                      </h3>
                      <p class="<%= namespace %>-Main_Error-txt u-Adjust_Mt-8 js-error-txt" style="display:none;">いちばん近いものを選んでね</p>
                      <div class="<%= namespace %>-Main_Step-sub-items-wrap <%= namespace %>-Main_Deco-panda-wrap">
                        <div class="<%= namespace %>-Main_Deco-panda4">
                          <img src="<%= imgpath %>panda-4-240419.png" alt="" width="154" height="118">
                        </div>
                        <div class="<%= namespace %>-Main_Step-sub-items">
                          <% askTxtList.forEach((item, idx) => { %>
                            <label class="<%= namespace %>-Main_Step-sub-item <%= (idx === 0) ? `${namespace}-Main_Step-sub-item--large` : '' %> c-Form_Radioblock">
                              <input type="radio" name="askTxt" id="askTxt<%= idx %>" value=<%= item.value %> class="">
                              <span class="<%= namespace %>-Main_Step-sub-item-wrap c-Form_Radioblock-wrap">
                                <span class="c-Form_Radio-icon"></span>
                                <span class="c-Form_Radio-label"><%= item.label %></span>
                              </span>
                            </label>
                          <% }) %>
                        </div>
                      </div>
                      <div class="<%= namespace %>-Main_Step-sub-arrow <%= namespace %>-Main_Step-sub-arrow-mg-1">
                        <svg width="92" height="27" viewBox="0 0 92 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M44.7255 23.1507L46 23.906L47.2745 23.1507L74.2745 7.15073L82.1226 2.5L73 2.5L19 2.5L9.87739 2.49999L17.7255 7.15072L44.7255 23.1507Z" fill="#FF008C" stroke="white" stroke-width="5"/>
                        </svg>
                      </div>
                    </div>

                    <div class="<%= namespace %>-Main_Step-sub js-sub-ask js-ask-data-frequency" data-ratid="simulation-data_scroll-02" data-ratevent="appear">
                      <h3 class="<%= namespace %>-Main_Step-sub-ask">
                        <picture>
                          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>ask2-sub2-sp.png" width="259" height="49">
                          <img src="<%= imgpath %>ask2-sub2-pc.png" alt="写真や動画などのデータを1日にどのくらいやりとりしますか？" width="607" height="32" loading="lazy">
                        </picture>
                      </h3>
                      <p class="<%= namespace %>-Main_Error-txt u-Adjust_Mt-8 js-error-txt" style="display:none;">いちばん近いものを選んでね</p>
                      <div class="<%= namespace %>-Main_Step-sub-items-wrap">
                        <div class="<%= namespace %>-Main_Step-sub-items">
                          <% askMediaList.forEach((item, idx) => { %>
                            <label class="<%= namespace %>-Main_Step-sub-item <%= (idx === 0) ? `${namespace}-Main_Step-sub-item--large` : '' %> c-Form_Radioblock">
                              <input type="radio" name="askMedia" id="askMedia<%= idx %>" value=<%= item.value %> class="">
                              <span class="<%= namespace %>-Main_Step-sub-item-wrap c-Form_Radioblock-wrap">
                                <span class="c-Form_Radio-icon"></span>
                                <span class="c-Form_Radio-label"><%= item.label %></span>
                              </span>
                            </label>
                          <% }) %>
                        </div>
                      </div>
                      <div class="<%= namespace %>-Main_Step-sub-arrow">
                        <svg width="92" height="27" viewBox="0 0 92 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M44.7255 23.1507L46 23.906L47.2745 23.1507L74.2745 7.15073L82.1226 2.5L73 2.5L19 2.5L9.87739 2.49999L17.7255 7.15072L44.7255 23.1507Z" fill="#FF008C" stroke="white" stroke-width="5"/>
                        </svg>
                      </div>
                    </div>

                    <div class="<%= namespace %>-Main_Step-sub js-sub-ask js-ask-data-frequency" data-ratid="simulation-data_scroll-03" data-ratevent="appear">
                      <h3 class="<%= namespace %>-Main_Step-sub-ask">
                        <picture>
                          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>ask2-sub3-sp.png" width="220" height="52">
                          <img src="<%= imgpath %>ask2-sub3-pc.png" alt="SNSやWebサイトは１日に何時間くらい見ますか？" width="501" height="33" loading="lazy">
                        </picture>
                      </h3>
                      <p class="<%= namespace %>-Main_Error-txt u-Adjust_Mt-8 js-error-txt" style="display:none;">いちばん近いものを選んでね</p>
                      <div class="<%= namespace %>-Main_Step-sub-items-wrap <%= namespace %>-Main_Deco-panda-wrap <%= namespace %>-Main_Deco-panda-wrap--panda4">
                        <div class="<%= namespace %>-Main_Deco-panda5">
                          <img src="<%= imgpath %>panda-5-240419.png" alt="" width="186" height="134" loading="lazy">
                        </div>
                        <div class="<%= namespace %>-Main_Step-sub-items">
                          <% askWebList.forEach((item, idx) => { %>
                            <label class="<%= namespace %>-Main_Step-sub-item <%= (idx === 0) ? `${namespace}-Main_Step-sub-item--large` : '' %> c-Form_Radioblock">
                              <input type="radio" name="askWeb" id="askWeb<%= idx %>" value=<%= item.value %> class="">
                              <span class="<%= namespace %>-Main_Step-sub-item-wrap c-Form_Radioblock-wrap">
                                <span class="c-Form_Radio-icon"></span>
                                <span class="c-Form_Radio-label"><%= item.label %></span>
                              </span>
                            </label>
                          <% }) %>
                        </div>
                      </div>
                      <div class="<%= namespace %>-Main_Step-sub-arrow <%= namespace %>-Main_Step-sub-arrow-mg-2">
                        <svg width="92" height="27" viewBox="0 0 92 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M44.7255 23.1507L46 23.906L47.2745 23.1507L74.2745 7.15073L82.1226 2.5L73 2.5L19 2.5L9.87739 2.49999L17.7255 7.15072L44.7255 23.1507Z" fill="#FF008C" stroke="white" stroke-width="5"/>
                        </svg>
                      </div>
                    </div>

                    <div class="<%= namespace %>-Main_Step-sub js-sub-ask js-ask-data-frequency" data-ratid="simulation-data_scroll-04" data-ratevent="appear">
                      <h3 class="<%= namespace %>-Main_Step-sub-ask">
                        <picture>
                          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>ask2-sub4-sp.png" width="291" height="24">
                          <img src="<%= imgpath %>ask2-sub4-pc.png" alt="動画は1日に何時間くらい見ますか？" width="371" height="27" loading="lazy">
                        </picture>
                      </h3>
                      <p class="<%= namespace %>-Main_Error-txt u-Adjust_Mt-8 js-error-txt" style="display:none;">いちばん近いものを選んでね</p>
                      <div class="<%= namespace %>-Main_Step-sub-items-wrap">
                        <div class="<%= namespace %>-Main_Step-sub-items">
                          <% askMovieList.forEach((item, idx) => { %>
                            <label class="<%= namespace %>-Main_Step-sub-item <%= (idx === 0) ? `${namespace}-Main_Step-sub-item--large` : '' %> c-Form_Radioblock">
                              <input type="radio" name="askMovie" id="askMovie<%= idx %>" value=<%= item.value %> class="">
                              <span class="<%= namespace %>-Main_Step-sub-item-wrap c-Form_Radioblock-wrap">
                                <span class="c-Form_Radio-icon"></span>
                                <span class="c-Form_Radio-label"><%= item.label %></span>
                              </span>
                            </label>
                          <% }) %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="js-ask-carrier-wrap">
            <div class="<%= namespace %>-Main_Step-arrow">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>arrow-sp.png" width="85" height="18">
                <img src="<%= imgpath %>arrow-pc.png" alt="" width="60" height="22" loading="lazy">
              </picture>
            </div>

            <div class="<%= namespace %>-Main_Step js-ask js-ask-carrier" data-ratid="simulation-data_scroll-02-2" data-ratevent="appear">
              <div class="<%= namespace %>-Main_Step-container <%= namespace %>-Main_Step-container-narrow">
                <p class="<%= namespace %>-Main_Step-head">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>step2-sp.png" width="155" height="44">
                    <img src="<%= imgpath %>step2-pc.png" alt="STEP2" width="153" height="44" loading="lazy">
                  </picture>
                </p>
                <div class="<%= namespace %>-Main_Step-body">
                  <div class="<%= namespace %>-Main_Step-ask <%= namespace %>-Main_Step-ask--ask2 <%= namespace %>-Main_Deco-panda-wrap">
                    <h2>
                      <picture>
                        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>ask2-sp-240419.png" width="311" height="61">
                        <img src="<%= imgpath %>ask2-pc-240419.png" alt="いまどの携帯電話会社を使っていますか？" width="553" height="48" loading="lazy">
                      </picture>
                    </h2>
                    <div class="<%= namespace %>-Main_Deco-panda2">
                      <img src="<%= imgpath %>panda-2-240419.png" alt="" width="200" height="160" loading="lazy">
                    </div>
                    <p class="<%= namespace %>-Main_Step-comment c-Txt_Cap u-Adjust_Mt-8">※選択したデータ利用量に応じた携帯電話会社が表示されます</p>
                  </div>

                  <p class="<%= namespace %>-Main_Error-txt u-Adjust_Mt-8 js-error-txt" style="display:none;">ひとつ選んでね</p>
                  <div class="u-Adjust_Mt-16">
                    <div class="<%= namespace %>-Main_Step-ask-items <%= namespace %>-Main_Step-ask-items--sp-col2 js-ask-radio">
                      <% carrierList.forEach((carrier, idx) => { %>
                        <label class="<%= namespace %>-Main_Step-ask-item c-Form_Radioblock js-carrier-radio">
                          <input type="radio" name="carrier" id="<%= carrier.value %>" value="<%= carrier.value %>" data-ratid="simulation-result_<%= carrier.value %>_click" data-ratevent="click" disabled>
                          <span class="<%= namespace %>-Main_Step-ask-item-wrap c-Form_Radioblock-wrap">
                            <span class="c-Form_Radio-icon"></span>
                            <span class="c-Form_Radio-label <%= namespace %>-Main_Step-ask-item-carrier <%- carrier.value %>"><%- carrier.label %></span>
                          </span>
                        </label>
                      <% }) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="js-ask-family-wrap">
            <div class="<%= namespace %>-Main_Step-arrow">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>arrow-sp.png" width="85" height="18">
                <img src="<%= imgpath %>arrow-pc.png" alt="" width="60" height="22">
              </picture>
            </div>

            <div class="<%= namespace %>-Main_Step js-ask js-family-plan" data-ratid="simulation-data_scroll-03-2" data-ratevent="appear">
              <div class="<%= namespace %>-Main_Step-container <%= namespace %>-Main_Step-container-narrow">
                <p class="<%= namespace %>-Main_Step-head">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>step3-sp.png" width="155" height="44">
                    <img src="<%= imgpath %>step3-pc.png" alt="STEP3" width="153" height="44" loading="lazy">
                  </picture>
                </p>
                <div class="<%= namespace %>-Main_Step-body">
                  <div class="<%= namespace %>-Main_Step-ask <%= namespace %>-Main_Step-ask--ask3 <%= namespace %>-Main_Deco-panda-wrap">
                    <h2>
                      <picture>
                        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>ask3-sp-240419.png" width="311" height="61">
                        <img src="<%= imgpath %>ask3-pc-240419.png" alt="家族割引を使っていますか？" width="398" height="48" loading="lazy">
                      </picture>
                    </h2>
                    <p class="u-Adjust_Mt-8">ご契約中の回線数を選択してね</p>
                    <div class="<%= namespace %>-Main_Deco-panda3">
                      <img src="<%= imgpath %>panda-3-240419.png" alt="" width="138" height="144" loading="lazy">
                    </div>
                  </div>
                  <div class="<%= namespace %>-Main_Step-ask-option">
                    <div class="<%= namespace %>-Main_Step-ask-items <%= namespace %>-Main_Step-ask-items--center <%= namespace %>-Main_Step-ask-items--sp-col2 u-Adjust_Mt-16">
                      <label class="<%= namespace %>-Main_Step-ask-item c-Form_Radioblock js-family-plan-radio">
                        <input type="radio" name="familyPlan" id="familyPlanNone" value="" data-ratid="simulation-result_no_click" data-ratevent="click" disabled>
                        <span class="<%= namespace %>-Main_Step-ask-item-wrap c-Form_Radioblock-wrap">
                          <span class="c-Form_Radio-icon"></span>
                          <span class="c-Form_Radio-label">なし</span>
                        </span>
                      </label>
                      <label class="<%= namespace %>-Main_Step-ask-item c-Form_Radioblock js-family-plan-radio">
                        <input type="radio" name="familyPlan" id="familyPlan2" value="family_2" data-ratid="simulation-result_2_click" data-ratevent="click" disabled>
                        <span class="<%= namespace %>-Main_Step-ask-item-wrap c-Form_Radioblock-wrap">
                          <span class="c-Form_Radio-icon"></span>
                          <span class="c-Form_Radio-label">2回線</span>
                        </span>
                      </label>
                      <label class="<%= namespace %>-Main_Step-ask-item c-Form_Radioblock js-family-plan-radio">
                        <input type="radio" name="familyPlan" id="familyPlan3" value="family_3_over" data-ratid="simulation-result_3_click" data-ratevent="click" disabled>
                        <span class="<%= namespace %>-Main_Step-ask-item-wrap c-Form_Radioblock-wrap">
                          <span class="c-Form_Radio-icon"></span>
                          <span class="c-Form_Radio-label">3回線以上</span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="u-Adjust_Align-center u-Adjust_Mt-24" data-ratid="simulation-data_scroll-05" data-ratevent="appear">
          <p class="c-Txt_Emp-02">ピンクのボタンから結果を見ると100ポイントもらえるよ</p>
          <p class="c-Txt_Cap">※楽天会員ログインが必要です</p>
        </div>
        <div class="u-Adjust_Mt-16">
          <div class="<%= namespace %>-Main_Deco-panda-btn">
            <img src="<%= imgpath %>panda-btn.png" alt="" width="936" height="228" loading="lazy">
          </div>
          <div class="<%= namespace %>-Main_Btn"><a href="https://grp03.id.rakuten.co.jp/rms/nid/login?service_id=rm005&client_id=rmn_app_web&redirect_uri=https%3A%2F%2Fnetwork.mobile.rakuten.co.jp%2Fcampaign%2Ffee-simulation%2Fresult%2F%3Fl-id%3Dcampaign_fee-simulation_campaign_fee-simulation-result&err_redirect_uri=https%3A%2F%2Fnetwork.mobile.rakuten.co.jp%2F&scope=memberinfo_read_safebulk%2Cmemberinfo_read_point%2Cmemberinfo_get_card_token%2C30days%40Access%2C90days%40Refresh&contact_info_required=false&rae_service_id=rm005" class="c-Btn_Primary js-simulation-btn-cpn" data-ratid="campaign-simulation-result_click" data-ratevent="click" data-ratparam="all">シミュレーション結果を見る</a></div>
        </div>
        <div class="u-Align_Llc u-Adjust_Mt-16">
          <p class="c-Txt_Cap">※自動で楽天会員ログイン画面に遷移します <br class="u-Show_Oox">※ログイン情報は楽天モバイルがお客様へのポイント進呈およびサービス向上のために使用します</p>
        </div>
        <div class="c-Theme-White u-Adjust_Mt-16">
          <div class="u-Adjust_Align-center">
            <label class="fee-simulation-Main_CheckBox">
              <span class="c-Form_Checkbox">
                <input type="checkbox" name="mailmagazine-permission-checkbox" id="js-mailmagazine-permission-checkbox-01" value="mailmagazinepermissionok" checked>
                <span class="c-Icon_Check"></span>
              </span>
              <span class="fee-simulation-Main_CheckBox-label">メルマガやアンケートなどをSMSやメールで受け取る</span>
            </label>
          </div>
          <div class="u-Align_Llc u-Adjust_Mt-8">
            <p class="c-Txt_Cap">※楽天モバイルよりSMSや<a href="https://my.rakuten.co.jp/">楽天会員情報</a>ご登録のメールアドレスにお送りする楽天モバイルニュースなどおトクな情報等を受け取らない方はチェックを外してください</p>
          </div>
        </div>
        <div class="u-Align_Llc u-Adjust_Mt-16">
          <a href="<%= sitepath %>fee/simulation/result/?l-id=campaign_fee-simulation_fee-simulation_result" class="c-Link_Txt-inline js-simulation-btn-normal">ログインせずにシミュレーション結果を見る<span class="c-Icon_Chevron-right"></span></a>
        </div>
      </div>
    </section>

    <section class="u-Adjust_Mt-48">
      <div class="l-System_Container">
        <div class="c-Accordion">
          <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1" data-ratid="simulation-data-open_click" data-ratevent="click"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>データ利用量の消費の目安ってどのくらい？</button>
          <div id="accordion-content-1" class="js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true" style="display:none;">
            <div class="u-Adjust_Pt-8 u-Adjust_Pb-32">
              <p class="c-Txt_Cap">
                ※下記はあくまで1コンテンツを単独で利用した目安のデータ量です。写真や動画については画質やサイズなどによって使用するデータ通信量が変動いたします<br>
                ※ご利用状況や操作内容の組み合わせにより、ご利用できる内容は変動します<br>
                ※掲載の商品名称やサービス名称などは、一般に各社の商標または登録商標です<br>
                ※各社の商標記載においては™や®などの商標表示を省略する場合があります
              </p>
              <div class="u-Adjust_Mt-24">
                <h4 class="c-Heading_Lv4">■Google（Web検索）</h4>
                <p class="u-Adjust_Mt-16">約1.8MB／1ページ</p>
                <table class="c-Table_Container u-Adjust_Mt-16">
                  <thead>
                    <tr>
                      <th scope="col">データ利用量</th>
                      <th scope="col">利用可能目安</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1GB</td>
                      <td>約625ページ</td>
                    </tr>
                  </tbody>
                </table>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※1ページ閲覧で1.8MB消費した場合</p>
              </div>
              <div class="u-Adjust_Mt-32">
                <h4 class="c-Heading_Lv4">■Google マップ</h4>
                <p class="u-Adjust_Mt-16">約1MB／1経路検索</p>
                <table class="c-Table_Container u-Adjust_Mt-16">
                  <thead>
                    <tr>
                      <th scope="col">データ利用量</th>
                      <th scope="col">利用可能目安</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1GB</td>
                      <td>約1,000回</td>
                    </tr>
                  </tbody>
                </table>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※1経路の検索あたり約1MB消費した場合</p>
              </div>
              <div class="u-Adjust_Mt-32">
                <h4 class="c-Heading_Lv4">■Google 翻訳</h4>
                <p class="u-Adjust_Mt-16">約2MB／10文</p>
                <table class="c-Table_Container u-Adjust_Mt-16">
                  <thead>
                    <tr>
                      <th scope="col">データ利用量</th>
                      <th scope="col">利用可能目安</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1GB</td>
                      <td>約5,000文</td>
                    </tr>
                  </tbody>
                </table>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※10文の翻訳で約2MB消費した場合</p>
              </div>
              <div class="u-Adjust_Mt-32">
                <h4 class="c-Heading_Lv4">■メール送信</h4>
                <div class="u-Adjust_Mt-16">
                  <p>テキスト送信：約5KB／1通</p>
                  <table class="c-Table_Container u-Adjust_Mt-16">
                    <thead>
                      <tr>
                        <th scope="col">データ利用量</th>
                        <th scope="col">利用可能目安</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1GB</td>
                        <td>約20万通</td>
                      </tr>
                    </tbody>
                  </table>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※1通のテキスト送信で約5KB消費した場合</p>
                </div>
                <div class="u-Adjust_Mt-24">
                  <p>写真添付送信：約500KB／1通</p>
                  <table class="c-Table_Container u-Adjust_Mt-16">
                    <thead>
                      <tr>
                        <th scope="col">データ利用量</th>
                        <th scope="col">利用可能目安</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1GB</td>
                        <td>約2,000通</td>
                      </tr>
                    </tbody>
                  </table>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※1通の写真添付送信で約500KB消費した場合</p>
                </div>
              </div>
              <div class="u-Adjust_Mt-32">
                <h4 class="c-Heading_Lv4">■LINE</h4>
                <div class="u-Adjust_Mt-16">
                  <p>テキスト送信：約3KB／1トーク</p>
                  <table class="c-Table_Container u-Adjust_Mt-16">
                    <thead>
                      <tr>
                        <th scope="col">データ利用量</th>
                        <th scope="col">利用可能目安</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1GB</td>
                        <td>約33万回</td>
                      </tr>
                    </tbody>
                  </table>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※1トーク送信するのに約3KB消費した場合</p>
                </div>
                <div class="u-Adjust_Mt-24">
                  <p>無料通話：約0.3MB／1分</p>
                  <table class="c-Table_Container u-Adjust_Mt-16">
                    <thead>
                      <tr>
                        <th scope="col">データ利用量</th>
                        <th scope="col">利用可能目安</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1GB</td>
                        <td>約55時間</td>
                      </tr>
                    </tbody>
                  </table>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※1分無料通話するのに約0.3MB消費した場合</p>
                </div>
                <div class="u-Adjust_Mt-24">
                  <p>ビデオ通話：約5.1MB／1分</p>
                  <table class="c-Table_Container u-Adjust_Mt-16">
                    <thead>
                      <tr>
                        <th scope="col">データ利用量</th>
                        <th scope="col">利用可能目安</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1GB</td>
                        <td>約3時間</td>
                      </tr>
                    </tbody>
                  </table>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※1分ビデオ通話するのに約5.1MB消費した場合</p>
                </div>
              </div>
              <div class="u-Adjust_Mt-32">
                <h4 class="c-Heading_Lv4">■YouTube</h4>
                <p class="u-Adjust_Mt-16">標準画質：約450MB／1時間</p>
                <table class="c-Table_Container u-Adjust_Mt-16">
                  <thead>
                    <tr>
                      <th scope="col">データ利用量</th>
                      <th scope="col">利用可能目安</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1GB</td>
                      <td>約2.2時間</td>
                    </tr>
                  </tbody>
                </table>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※標準画質で1時間視聴するのに約450MB消費した場合</p>
              </div>
              <div class="u-Adjust_Mt-32">
                <h4 class="c-Heading_Lv4">■動画配信サービス（Netflix）</h4>
                <p class="u-Adjust_Mt-16">Netflix（HD画質）：約1,300MB／1時間</p>
                <table class="c-Table_Container u-Adjust_Mt-16">
                  <thead>
                    <tr>
                      <th scope="col">データ利用量</th>
                      <th scope="col">利用可能目安</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1GB</td>
                      <td>約0.8時間</td>
                    </tr>
                  </tbody>
                </table>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※Netflix（HD画質）で1時間視聴するのに約1,300MB消費した場合</p>
              </div>
            </div>
          </div>
        </div>
        <div class="c-Accordion">
          <button type="button" id="accordion-2152" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-2152"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>スマホ料金をチェックするだけで100ポイントプレゼントキャンペーン</button>
          <div id="accordion-content-2152" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="false">
            <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2215', level: 'h2', year: '2024', class: '', title: ''}}) %>
          </div>
      </div>
        <div class="u-Adjust_Mt-24 u-Adjust_Mt-pc-32">
          <p class="c-Txt_Cap">※製品代、契約事務手数料、データチャージを含むオプション料、通話料等は別費用。</p>
          <p class="c-Txt_Cap">※掲載している情報は2024年4月19日時点の情報です。以下の利用量でシミュレーションしています。あくまでも目安です。実際のご利用状況によりデータ利用量は変動します。1カ月は30日で計算しています。</p>
          <p class="c-Txt_Cap u-Adjust_Mt-16">
            ■LINEやメールのやりとり：7KB／1回あたりで計算<br>
            ※メール：約500KB／1通（添付ファイル含む）<br>
            ※LINE（文字）：約3KB／1トーク<br>
            ※LINE（スタンプ）：約5〜10KB／1回<br>
            ※ほとんどしない：月5回で計算
          </p>
          <p class="c-Txt_Cap u-Adjust_Mt-16">
            ■写真や動画のやりとり（送受信）：3MB／1回で計算<br>
            ※写真：300KB／1枚（低画質の場合）3MB／1枚（オリジナル画質の場合）<br>
            ※動画：約6MB（30秒）<br>
            ※画質やサイズにより異なる<br>
            ※ほとんどしない：月5回で計算
          </p>
          <p class="c-Txt_Cap u-Adjust_Mt-16">
            ■SNSやWebサイト閲覧：400MB／1時間で計算<br>
            ※SNSはサービスによって異なる<br>
            ※Google Web検索：約1.8MB／1ページ<br>
            ※ほとんど見ない：月30分で計算
          </p>
          <p class="c-Txt_Cap u-Adjust_Mt-16">
            ■動画閲覧：600MB／1時間で計算<br>
            ※YouTubeをSD画質で閲覧した場合<br>
            ※ほとんど見ない：月30分で計算
          </p>
        </div>
      </div>
    </section>

    <footer class="g-Footer u-Adjust_Mt-56 u-Adjust_Mt-pc-32">

      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-simulation.ejs') %>
      </div>

      <div class="l-System_Container">
        <%- include('/include/_breadcrumbs', {
          type: 'foot',
          pagetitle,
          directories,
        }) %>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>

  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/fee.simulation-cpn.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
</body>
</html>
