<% const pagetitle = "その他のフィルター設定（楽メール）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"guide/rakumail/", label:"楽メール（ご利用方法）"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイル「楽メール」の各種フィルター機能の操作方法をご案内します。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>

</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>
<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">

    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

    <ul class="<%= nameSpace %>-Layout_Anchorlink">
      <li><a href="#setting01" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>おすすめのメールフィルターを設定する</a></li>
      <li><a href="#setting02" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>携帯／Webメール拒否の設定をする</a></li>
      <li><a href="#setting03" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>URLリンクメールフィルターの設定をする</a></li>
      <li><a href="#setting04" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>なりすましメールフィルターの設定をする</a></li>
      <li><a href="#setting05" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>大量送信者フィルターの設定をする</a></li>
      <li><a href="#setting06" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>ウイルスメールフィルターの設定をする</a></li>
    </ul>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="setting01">おすすめのメールフィルターを設定する</h2>
    <ul class="u-Adjust_Mt-16 c-Flow">
      <li>
        <h4 class="c-Heading_Lv4">
          1.メイン画面の左上の「メニュー」アイコンをタップする
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/filter_2/7-1-step1.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          2.メニュー画面の右上の「設定」（歯車アイコン）をタップする
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/filter_2/7-1-step2-230808.png" width="300" height="315" alt="" class="c-Img_Capture"></figure>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          3.設定画面で「おすすめフィルター設定」をタップする
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/filter_2/7-1-step3.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          4.「オフ」「強」「標準」からお好みの設定を選択する
        </h4>
        <p class="u-Adjust_Mt-24">
          <span class="c-Txt_Emp-01">おすすめフィルター設定</span><br>
・オフ：すべてのフィルターがOFF<br>
・強：ウイルスメールフィルター、大量送信者フィルター、なりすましメールフィルターがON<br>
・標準：大量送信者フィルター、なりすましメールフィルターがON<br>
        </p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">
          ※デフォルトはおすすめフィルター設定（強）
        </p>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/filter_2/7-1-step4.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </div>
      </li>
    </ul>
    <p class="u-Adjust_Mt-24">
      以上で完了です。
    </p>

  <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="setting02">携帯／Webメール拒否の設定をする</h2>
    <ul class="u-Adjust_Mt-16 c-Flow">
      <li>
        <h4 class="c-Heading_Lv4">
          1.メイン画面の左上の「メニュー」アイコンをタップする
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/filter_2/7-2-step1.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          2.メニュー画面の右上の「設定」（歯車アイコン）をタップする
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/filter_2/7-1-step2-230808.png" width="300" height="315" alt="" class="c-Img_Capture" loading="lazy"></figure>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          3.設定画面で「携帯／Webメール拒否設定」をタップする
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/filter_2/7-2-step3.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          4.キャリア等のON／OFFを設定する
        </h4>
        <p class="u-Adjust_Mt-8">
          右側のトグルでのON／OFFの切り替えが可能です。
        </p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">
          ※メール受信先が迷惑メール対策としてメール送信元を制限（メール受信設定、ドメイン指定受信など）している等の理由により、送信したメールが正常に届かないことがあります。
        </p>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/filter_2/7-2-step4.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </div>
      </li>
    </ul>
    <p class="u-Adjust_Mt-24">
      以上で完了です。
    </p>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="setting03">URLリンクメールフィルターの設定をする</h2>
    <ul class="u-Adjust_Mt-16 c-Flow">
      <li>
        <h4 class="c-Heading_Lv4">
          1.メイン画面の左上の「メニュー」アイコンをタップする
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/filter_2/7-3-step1.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          2.メニュー画面の右上の「設定」（歯車アイコン）をタップする
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/filter_2/7-1-step2-230808.png" width="300" height="315" alt="" class="c-Img_Capture" loading="lazy"></figure>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          3.設定画面で「URLリンクメールフィルター」のON／OFFを設定する
        </h4>
        <p class="u-Adjust_Mt-8">
          右側のトグルでのON／OFFの切り替えが可能です。
        </p>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/filter_2/7-3-step3.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </div>
      </li>
    </ul>
    <p class="u-Adjust_Mt-24">
      以上で完了です。
    </p>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="setting04">なりすましメールフィルターの設定をする</h2>
    <ul class="u-Adjust_Mt-16 c-Flow">
      <li>
        <h4 class="c-Heading_Lv4">
          1.メイン画面の左上の「メニュー」アイコンをタップする
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/filter_2/7-4-step1.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          2.メニュー画面の右上の「設定」（歯車アイコン）をタップする
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/filter_2/7-1-step2-230808.png" width="300" height="315" alt="" class="c-Img_Capture" loading="lazy"></figure>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          3.設定画面で「なりすましメールフィルター」のON／OFFを設定する
        </h4>
        <p class="u-Adjust_Mt-8">
          右側のトグルでのON／OFFの切り替えが可能です。
        </p>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/filter_2/7-4-step3.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </div>
      </li>
    </ul>
    <p class="u-Adjust_Mt-24">
      以上で完了です。
    </p>

    <p class="u-Adjust_Mt-16">
      なりすましメールを受け取ってしまった場合は、以下のページより対策方法をご確認ください。
    </p>

    <p class="u-Adjust_Mt-8">
      <a href="<%= sitepath %>guide/spoofing-email/" class="c-Link_Txt-inline">なりすましメールの対処方法<span class="c-Icon_Chevron-right"></span></a>
    </p>


    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="setting05">大量送信者フィルターの設定をする</h2>
    <ul class="u-Adjust_Mt-16 c-Flow">
      <li>
        <h4 class="c-Heading_Lv4">
          1.メイン画面の左上の「メニュー」アイコンをタップする
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/filter_2/7-5-step1.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          2.メニュー画面の右上の「設定」（歯車アイコン）をタップする
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/filter_2/7-1-step2-230808.png" width="300" height="315" alt="" class="c-Img_Capture" loading="lazy"></figure>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          3.設定画面で「大量送信者フィルター」のON／OFFを設定する
        </h4>
        <p class="u-Adjust_Mt-8">
          右側のトグルでのON／OFFの切り替えが可能です。
        </p>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/filter_2/7-5-step3.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </div>
      </li>
    </ul>
    <p class="u-Adjust_Mt-24">
      以上で完了です。
    </p>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="setting06">ウイルスメールフィルターの設定をする</h2>
    <ul class="u-Adjust_Mt-16 c-Flow">
      <li>
        <h4 class="c-Heading_Lv4">
          1.メイン画面の左上の「メニュー」アイコンをタップする
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/filter_2/7-6-step1.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          2.メニュー画面の右上の「設定」（歯車アイコン）をタップする
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/filter_2/7-1-step2-230808.png" width="300" height="315" alt="" class="c-Img_Capture" loading="lazy"></figure>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          3.設定画面で「ウイルスメールフィルター」のON／OFFを設定する
        </h4>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/rakumail/filter_2/7-6-step3.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        </div>
      </li>
    </ul>

        <p class="u-Adjust_Mt-24">
          以上で完了です。
        </p>

    <div class="u-Adjust_Mt-64">
      <ul>
        <li><a href="<%= sitepath %>service/rakumail/" class="c-Btn_Regular"><span>特長・サービス内容を見る</span></a></li>
      </ul>
      <ul class="u-Adjust_Mt-32">
        <li><a href="<%= sitepath %>guide/rakumail/" class="c-Btn_Regular"><span>ご利用方法一覧へ戻る</span></a></li>
      </ul>
    </div>

  </div>
</div>

<%- include('/include/guide/_review') %>
<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%- include('/include/footer/related/_related-service-v2.ejs') %>

  </div>
  <%- include('/include/guide/_inquiry') %>
  <div class="l-System_Container">
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>
  </div>
  <%- include('/include/_footer') %>
</footer>
</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
