<% const pagetitle = "過去楽天モバイル契約者様限定！ただいまキャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "tadaima" -%>
<% const information = {
  campaignState:'start'
}; %>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '過去楽天モバイル契約者様限定！ただいまキャンペーン',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%>
<% const finishSchedule = "2024年4月1日" -%>
<% const hiddenItem = "true" -%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/<%= namespace %>/<%= namespace %>.css?240521-02">
<%_  if (information.campaignState !== 'finish') { _%>
<%- include('/inc/_saikyo-plan-css') %>
<%_ } _%>
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
<script src="//www.rakuten.co.jp/com/advance/mobile/mnoprj_tadaima_02/responsive/18342/condition.js"></script>
<script src="//r.r10s.jp/com/ap/target/phoenix-2.9.0.min.js"></script>
</head>
<body data-phoenix-mnoprj_tadaima_02_responsive>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header',{applyHide:true}) %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout_Label">
      <ul class="c-Label_List <%= namespace %>-Layout_Label-list">
        <li class="c-Label_Normal">Rakuten Link利用必要</li>
        <li><span class="<%= namespace %>-Layout_Label-point">ポイント：付与日を含めて6カ月の期間限定ポイント</span></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Hero_Return">
      <div class="l-System_Container <%= namespace %>-Hero_Container">
        <div class="<%= namespace %>-Hero_Main">
          <h1><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-heading-pc_240401.png?240401" alt="過去、楽天モバイルを契約していた方限定！ 楽天モバイルただいまキャンペーン 毎月開催 他社から電話番号そのまま乗り換えで データ3GB（税込1,081円）×2カ月分の2,162ポイント還元 3GB/月までの利用ならプラン料金実質2カ月無料！" class="<%= namespace %>-Utility_Img-pc"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-heading-sp_240401.png?240401" alt="過去、楽天モバイルを契約していた方限定！ 楽天モバイルただいまキャンペーン 毎月開催 他社から電話番号そのまま乗り換えで データ3GB（税込1,081円）×2カ月分の2,162ポイント還元 3GB/月までの利用ならプラン料金実質2カ月無料！" class="<%= namespace %>-Utility_Img-sp"></h1>
        </div>
      </div>
    </div>

    <div class="<%= namespace %>-Layout_Body">
      <div class="l-System_Container">
        <% if (information.campaignState == 'finish') { %>
          <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは<%= finishSchedule %>をもちまして終了いたしました。<br>
            このページに掲載されている情報は、キャンペーン終了時点のものです。</p>
        <% } else { %>
          <!-- else -->
        <% } %>
        <ul class="<%= namespace %>-Table_Rule-Cap">
          <li class="u-Adjust_Mt-0"><span>※</span>予告なく特典内容の変更、キャンペーンの中止を行う可能性があります。</li>
          <li class="u-Adjust_Mt-0"><span>※</span>「Rakuten最強プラン（データタイプ）」は対象外</li>
          <li class="u-Adjust_Mt-0"><span>※</span>キャンペーン開始時点で解約から2カ月以内の方は対象外</li>
          <li class="u-Adjust_Mt-0 c-Txt_Emp-02"><span>※</span>「実質価格」とは、キャンペーンの条件達成により後日付与されるポイントを加味した価格であり、実際のお支払い金額とは異なります。詳細は<a href="#campaign-rule" class="js-scroll">キャンペーンルール</a>をご確認ください。</li>
          <li class="u-Adjust_Mt-0"><span>※</span>ポイントは付与初月：1,081ポイント、翌月：1,081ポイントの2カ月間にわたり付与</li>
        </ul>

        <div class="c-Accordion u-Adjust_Mt-16">
          <button id="accordion-attention" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-attention"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Webでお申し込みの場合、本ページの「お申し込みはこちら」ボタンよりお手続きください</button>
          <div id="accordion-content-attention" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-attention" aria-hidden="true">
            <ul>
              <li class="c-Txt_Cap"><span>・</span>Webでお申し込みの場合、本ページ以外からお手続きされた場合は特典適用対象外となります。</li>
              <li class="c-Txt_Cap"><span>・</span>「お申し込み内容」画面でクーポンコード14桁の英数字が表示されていることをご確認のうえ、お申し込みを完了してください。表示されていない場合は特典適用対象外となるため、再度本ページの「お申し込みはこちら」ボタンよりお申し込みをやり直してください。</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="<%= namespace %>-Layout_Entry-Area u-Adjust_Mt-16">
        <div class="c-Txt_Emp-02 <%= namespace %>-Utility_Mt-unique u-Adjust_Align-center">
          <p>お申し込み期間</p>
          <p>Web：2024年5月1日（水）09:00～2024年6月3日（月）08:59</p>
          <p>ショップ：2024年5月1日（水）開店〜2024年6月2日（日）閉店</p>
        </div>
        <p class="u-Adjust_Mt-16 c-Txt_Emp-01 <%= namespace %>-Utility_Mt-unique u-Adjust_Align-center">クーポンコード：CMBREG00000002</p>

        <div class="u-Adjust_Mt-8 u-Adjust_Align-center">
        <% if (information.campaignState == 'finish') { %>
          <div class="c-Btn_Primary-large cp-Fin">お申し込みはこちら</div>
        <% } else { %>
          <!-- else -->
          <a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=CMBREG00000002&l-id=campaign_<%= namespace %>_coupon_link01" class="c-Btn_Primary-large"><span id="js-trigger">お申し込みはこちら</span></a>
        <% } %>
        </div>
      </div>

      <div class="l-System_Container">
        <div class="u-Rat_Appear-height" data-ratid="campaign_<%= namespace %>_scroll-01_participate" data-ratevent="appear"></div>
        <div id="campaign-conditions" class="<%= namespace %>-Conditions nav-Pad_Default">
          <h2 class="c-Heading_Lv2 u-Adjust_Align-center">参加方法</h2>
          <ul class="<%= namespace %>-Conditions_Flow u-Adjust_Mt-16">
            <li>
              <div class="l-Media_Icon">
                <div class="<%= namespace %>-Conditions_Img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-conditions-01.png?240301" alt="">
                </div>
                <div>
                  <h4 class="c-Heading_Lv4">他社から電話番号そのまま乗り換え（MNP）</h4>
                </div>
              </div>
              <div class="<%= namespace %>-Conditions_Schedule <%= namespace %>-Conditions_Schedule-step1">
                <p>【期間】2024年5月1日（水）09:00～2024年6月3日（月）08:59<br>
                  おひとり様1回線までとなります。</p>
              </div>
            </li>
            <li>
              <div class="<%= namespace %>-Conditions_Icon"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-conditions-04.png?240301" alt="＋"></div>
              <div class="l-Media_Icon">
                <div class="<%= namespace %>-Conditions_Img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-conditions-02.png?240301" alt="">
                </div>
                <div>
                  <h4 class="c-Heading_Lv4">プランのご利用</h4>
                </div>
              </div>
              <div class="<%= namespace %>-Conditions_Schedule">
                <p>【期限】2024年6月30日（日）23:59まで</p>
              </div>
            </li>
            <li>
              <div class="<%= namespace %>-Conditions_Icon"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-conditions-04.png?240301" alt="＋"></div>
              <div class="l-Media_Icon">
                <div class="<%= namespace %>-Conditions_Img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-conditions-03.png?240301" alt="">
                </div>
                <div>
                  <h4 class="c-Heading_Lv4">Rakuten Linkアプリで10秒以上通話</h4>
                </div>
              </div>
              <div class="<%= namespace %>-Conditions_Schedule">
                <p>【期限】2024年6月30日（日）23:59まで</p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div id="campaign-info" class="nav-Pad_Default">
        <div class="<%= namespace %>-Info_Bg">
          <div class="<%= namespace %>-Info">
            <div class="u-Rat_Appear-height" data-ratid="campaign_<%= namespace %>_scroll-02_goodpoints" data-ratevent="appear"></div>
            <h2 class="c-Heading_Lv2 u-Adjust_Align-center">楽天モバイルの魅力</h2>
            <div class="<%= namespace %>-Info_Inner u-Bg_White u-Adjust_Mt-24">
              <h3 class="c-Heading_Lv3 c-Txt_Emp-02 u-Adjust_Align-center">楽天市場のお買い物で楽天ポイントがザクザク貯まる</h3>
              <p class="<%= namespace %>-Txt_Left-sp u-Adjust_Mt-16">Rakuten最強プランご契約で楽天市場のお買い物がポイント毎日全員5倍！</p>
              <div class="<%= namespace %>-Info_Img-spu u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-01.png?240301" alt="SPU">
              </div>
              <div class="<%= namespace %>-Info_Grid-arrow">
                <div class="l-Media_Grid-half">
                  <div class="<%= namespace %>-Info_Inner-contents">
                    <div class="u-Adjust_Align-center">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-02.png?240301" alt="Rakuten最強プラン ご契約者 ポイント毎日全員5倍※1">
                    </div>
                    <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-center">※楽天会員1倍と楽天モバイルSPU+4倍の合計</p>
                  </div>
                  <div class="<%= namespace %>-Info_Inner-contents">
                    <div class="u-Adjust_Align-center">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-03_240401.png?240401" alt="さらに その他グループサービスご利用で ポイント最大17倍※2">
                    </div>
                    <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-center">※SPU全達成の場合。獲得ポイント上限あり</p>
                  </div>
                </div>
              </div>
              <div class="u-Adjust_Align-center">
                <a href="<%= sitepath %>campaign/spu/?l-id=campaign_<%= namespace %>_campaign_spu" class="c-Btn_Regular-large">SPUの詳細を見る</a>
              </div>
              <ul class="<%= namespace %>-Table_Rule-Cap-wide">
                <li><span>※1</span>「楽天市場のお買い物ポイント毎日全員5倍」は楽天会員1倍と楽天モバイルSPU+4倍の合計。楽天モバイルSPUの毎月の獲得上限ポイント数は2,000ポイント。期間限定ポイントでの付与</li>
                <li><span>※2</span>SPUによる楽天モバイル対象プランご契約者特典+4倍とその他グループサービスご利用で最大13倍の合計値です。達成条件、獲得ポイント上限あり。期間限定ポイントでの付与。<a href="<%= sitepath %>campaign/spu/">SPUの詳細</a>をご確認ください。</li>
              </ul>
            </div>
            <div class="<%= namespace %>-Info_Inner u-Bg_White">
              <div class="u-Rat_Appear-height" data-ratid="campaign_<%= namespace %>_scroll-03_plan" data-ratevent="appear"></div>
              <h3 class="c-Heading_Lv3 c-Txt_Emp-02 u-Adjust_Align-center">料金プラン</h3>
              <p class="<%= namespace %>-Txt_Left-sp u-Adjust_Mt-16">楽天モバイルなら、毎月のデータ利用量でお支払い額を安くすることも可能。<br>
                さらに、家族で使えば「Rakuten最強プラン」がもっと安くなる！</p>
              <% if (information.campaignState == 'finish') { %>
              <% } else { %>
                <!-- else -->
                <div id="unlimit-vi-plan" class="u-Adjust_Mt-40">
                  <%- include('/inc/_saikyo-plan') %>
                </div>
              <% } %>
              <div class="<%= namespace %>-Info_Img-bnr u-Adjust_Align-center">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-bnr-01-sp.png?240301">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-bnr-01.png?240301" alt="楽天モバイルに乗り換えるだけでどれだけおトクになる？ 他社プランと比較もできる！ 3ステップでわかる 料金＆ポイント かんたんシミュレーション">
                </picture>
              </div>
              <div class="u-Adjust_Align-center">
                <a href="<%= sitepath %>fee/simulation/?l-id=campaign_<%= namespace %>_fee_simulation" class="c-Btn_Regular-large">かんたん料金シミュレーションへ</a>
              </div>
            </div>
            <div class="<%= namespace %>-Info_Inner u-Bg_White">
              <div class="u-Rat_Appear-height" data-ratid="campaign_<%= namespace %>_scroll-04_area" data-ratevent="appear"></div>
              <h3 class="c-Heading_Lv3 c-Txt_Emp-02 u-Adjust_Align-center">日本全国の通信エリアどこでもデータ高速無制限<sup>※3</sup></h3>
              <div class="u-Adjust_Mt-24">
                <div class="l-Media_Grid-large">
                  <div class="l-Media_Image">
                    <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-05.png?240301" alt="" class="<%= namespace %>-Layout_Display-pc">
                    <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-05-sp.png?240301" alt="業界最高水準人口カバー率99.9％※4" class="<%= namespace %>-Layout_Display-sp">
                  </div>
                  <div>
                    <div class="<%= namespace %>-Layout_Display-pc u-Adjust_Align-center u-Adjust_Mt-64">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-06.png?240301" alt="業界最高水準人口カバー率99.9％※4">
                    </div>
                    <p class="<%= namespace %>-Info_Txt-area-1 c-Txt_Emp-01">4キャリア中、最も多くの地域で業界最高水準の通信品質評価を獲得！</p>
                    <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li class="u-Adjust_Mt-0"><span>※</span>Opensignal社データ（2023年8月時点）の当社分析に基づく。30府県で「一貫した品質」のRank1を獲得。詳細は「<a href="<%= sitepath %>fee/saikyo-plan/#opensignal">Opensignal社データについて＞</a>」に記載</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="u-Adjust_Align-center">
                <a href="<%= sitepath %>area/?l-id=campaign_<%= namespace %>_area" class="c-Btn_Regular-large">通信エリアを見る</a>
              </div>
              <div class="<%= namespace %>-Info_Inner-contents u-Adjust_Mt-40">
                <ul class="<%= namespace %>-Info_Inner-box">
                  <li>
                    <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-07.png?240301" alt="">
                  </li>
                  <li>
                    <div class="<%= namespace %>-Info_Img-ttl">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-08.png?240301" alt="海外でも">
                    </div>
                    <p class="c-Txt_Emp-01 <%= namespace %>-Txt_Left-pc">対象の国と地域で高速データ通信が毎月2GB無料<sup>※5</sup></p>
                    <div class="<%= namespace %>-Layout_Display-sp u-Adjust_Mt-16 u-Adjust_Mb-16">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-07.png?240301" alt="">
                    </div>
                    <p class="<%= namespace %>-Txt_Left-pc c-Txt_Cap">※プランのデータ利用量に加算</p>
                  </li>
                  <li><a href="<%= sitepath %>service/global/overseas/?l-id=campaign_<%= namespace %>_service_global_overseas" class="c-Link_Txt-inline">詳細を見る<span class="c-Icon_Chevron-right"></span></a></li>
                </ul>
              </div>
              <ul class="<%= namespace %>-Table_Rule-Cap-wide u-Adjust_Mt-16">
                <li class="u-Adjust_Mt-0"><span>※3</span>公平なサービス提供または環境により速度低下する場合あり</li>
                <li class="u-Adjust_Mt-0"><span>※4</span>2023年9月時点。人口カバー率は、国勢調査に用いられる約500m区画において、50%以上の場所で通信可能なエリアを基に算出</li>
                <li class="u-Adjust_Mt-0"><span>※5</span>通話料等別。2GB超過後は最大128kbps</li>
              </ul>
            </div>
            <div class="<%= namespace %>-Info_Inner u-Bg_White">
              <div class="u-Rat_Appear-height" data-ratid="campaign_<%= namespace %>_scroll-05_quality" data-ratevent="appear"></div>
              <h3 class="c-Heading_Lv3 c-Txt_Emp-02 u-Adjust_Align-center">継続した通信品質改善により、業界最高水準の評価を獲得</h3>
              <div class="<%= namespace %>-Info_Inner-Project u-Adjust_Mt-24">
                <div>
                  <p class="u-Adjust_Align-center u-Adjust_Mt-pc-24">
                    <picture>
                      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/oricon-text-sp-240521.png" width="177" height="63">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/oricon-text-pc-240521.png" width="299" height="50" alt="2023年オリコン顧客満足度調査 「携帯キャリア」" loading="lazy">
                    </picture>
                  </p>
                  <!-- <h3 class="<%= namespace %>-Info_Inner-Project-heading-sub u-Adjust_Mt-16">オリコン顧客満足® 調査<br>携帯キャリア<br class="u-Show_Oox"><span class="c-Txt_Emp-02">料金プラン3年連続No.1</span></h3> -->
                  <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
                    <picture>
                      <img class="oricon-img" src="<%= sitepath %>assets/img/campaign/<%= namespace %>/oricon-badge.png" width="153" height="165" alt="おかげさまで顧客満足度総合No.1" loading="lazy">
                    </picture>
                  </div>
                  <p class="oricon-text u-Adjust_Mt-16 c-Txt_Cap">
                    ※2023年 オリコン顧客満足度®調査「携帯キャリア」総合第1位<a href="https://life.oricon.co.jp/rank-mobile-carrier/" class="c-Link_Txt-inline" target="_blank">調査結果はこちら<span class="c-Icon_New-window-l"></span></a>
                  </p>
                </div>

                <div>
                  <div class="u-Adjust_Align-center">
                    <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/logo-opensignal.png" width="133" height="22" alt="Opensignal" loading="lazy">
                  </div>
                  <h3 class="<%= namespace %>-Info_Inner-Project-heading-sub">グローバル・モバイル・<br class="u-Show_Oox">ネットワーク・<br class="u-Show_Xxo">エクスペリエンス・<br class="u-Show_Oox">アワード 2024 <span class="c-Txt_Emp-02">世界最高評価を獲得</span><span class="c-Txt_Cap">※</span></h3>
                  <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                    <picture>
                      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-opensignal-01-sp.png" width="630" height="310">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-opensignal-01-pc.png" width="471" height="156" alt="2部門で世界最高評価を獲得(音声アプリ通話体感受賞 モバイルゲーム体感受賞) 1部門でグローバル・リーダーに選出(アップロードスピード体感受賞)">
                    </picture>
                  </div>
                  <p class="c-Txt_Cap u-Adjust_Mt-16">
                    ※Opensignal Awards「Opensignal Global Awards 2024 — Group 1（2024年1月）／データ収集期間（2023年7月1日 ～2023年12月27日）」© 2024 Opensignal Inc.詳しくは、<a href="https://corp.mobile.rakuten.co.jp/news/press/2024/0227_01/" class="c-Link_Txt-inline-icon" target="_blank">当社プレスリリース<span class="c-Icon_New-window-l"></span></a>をご確認ください。
                  </p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="l-System_Container">
        <div class="u-Rat_Appear-height" data-ratid="campaign_<%= namespace %>_scroll-06_flow" data-ratevent="appear"></div>
        <h2 id="campaign-flow" class="c-Heading_Lv2 nav-Pad_Default u-Adjust_Align-center">ポイント獲得の流れ</h2>
        <div class="<%= namespace %>-Layout_Step u-Adjust_Mt-24">
          <div class="c-Accordion-emp u-Adjust_Mt-16">
            <button type="button" id="accordion-emp-step1" class="c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-emp-step1" data-ratid="campaign_<%= namespace %>_step1" data-ratevent="click" data-ratparam="all">
                <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
                <span class="c-Accordion-emp_Num">STEP 1</span><span class="c-Accordion-emp_Trigger-txt">他社から電話番号そのまま乗り換え（MNP）で楽天モバイルにお申し込み</span>
            </button>
            <div id="accordion-content-emp-step1" class="c-Accordion-emp_Panel-normal js-Accordion_Panel" role="region" aria-labelledby="accordion-emp-step1" aria-hidden="true">
              <div class="c-Tab js-Tab">
                <ul class="c-Tab_Items" role="tablist">
                  <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1" data-ratid="campaign_<%= namespace %>_web" data-ratevent="click" data-ratparam="all">Web</li>
                  <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2" data-ratid="campaign_<%= namespace %>_shop" data-ratevent="click" data-ratparam="all">ショップ</li>
                </ul>
                <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
                  <h4 class="c-Heading_Lv4 u-Adjust_Mt-16">本ページから楽天モバイルに申し込む</h4>
                  <p class="u-Adjust_Mt-8">期間：2024年5月1日（水）09:00～2024年6月3日（月）08:59</p>
                  <ul class="<%= namespace %>-Flow_List u-Adjust_Mt-16">
                    <li>
                      <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-8">
                        <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                          <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-01.png?240301" alt="">
                        </div>
                        <div>
                          <p class="c-Txt_Emp-01">お申し込みに必要なもの</p>
                          <div class="u-Adjust_Mt-8">
                            <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc">
                              <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/verify/?l-id=campaign_<%= namespace %>_guide_verify" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                              <li class="u-Adjust_Mt-8">楽天ID、パスワード</li>
                              <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/?l-id=campaign_<%= namespace %>_guide_payment" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                                <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                                  <span>※</span>ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001238/?l-id=campaign_<%= namespace %>_faq_00001238">こちらのご案内ページ</a>を必ず事前にご確認ください。</p>
                                <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                                  <span>※</span>MNPワンストップ未対応の携帯電話会社から乗り換えの方は、MNP予約番号の取得が必要です。MNPワンストップ対象の携帯電話会社は<a href="<%= sitepath %>guide/mnp/#carrier">こちら</a>からご確認ください。</p>
                                <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                                  <span>※</span><a href="/flow/for-minors/?l-id=campaign_<%= namespace %>_flow_for-minors">未成年の方のお申し込み方法はこちら</a></p></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <ul class="<%= namespace %>-Flow_List u-Adjust_Mt-16">
                    <li>
                      <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-8">
                        <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                          <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-02.png?240301" alt="">
                        </div>
                        <div>
                          <h4 class="c-Heading_Lv4 <%= namespace %>-Txt_Left-pc">他社から電話番号そのまま乗り換え（MNP）</h4>
                          <div class="u-Adjust_Mt-24 <%= namespace %>-Txt_Left-pc">
                          <% if (information.campaignState == 'finish') { %>
                            <div class="c-Btn_Primary-large cp-Fin">お申し込みはこちら</div>
                          <% } else { %>
                            <!-- else -->
                            <a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=CMBREG00000002&l-id=campaign_<%= namespace %>_coupon_link02" class="c-Btn_Primary-large">お申し込みはこちら</a>
                            <% } %>
                          </div>
                          <p class="u-Adjust_Mt-24 <%= namespace %>-Txt_Left-pc"><a href="<%= sitepath %>guide/mnp/?l-id=campaign_<%= namespace %>_guide_mnp" class="c-Link_Txt-inline">乗り換え手順について<span class="c-Icon_Chevron-right"></span></a></p>
                          <p class="c-Txt_Cap u-Adjust_Mt-24">※ 本ページの「お申し込みはこちら」ボタン以外からお手続きされた場合は、特典適用対象外となります。</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <ul class="<%= namespace %>-Flow_List u-Adjust_Mt-16">
                    <li class="<%= namespace %>-Flow_List-Single_Arrow">
                      <div class="list_ttl">
                        <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">「Rakuten最強プラン」お申し込み画面に移動し、お手続きください。</h4>
                      </div>
                      <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-48 top">
                        <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                          <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-coupon-01.png?240301" alt="">
                        </div>
                        <div>
                          <p class="u-Adjust_Mt-8">「お申し込みはこちら」ボタンからお申し込み画面に進み、手順に従って進めてください。</p>
                        </div>
                      </div>
                      <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-48">
                        <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                          <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-coupon-02.png?240301" alt="">
                        </div>
                        <div>
                          <p class="text_cap u-Adjust_Mt-8">「お申し込み内容」でクーポンコードが表示されていることを必ずご確認のうえ、お申し込みを完了してください。</p>
                          <p class="u-Adjust_Mt-8 c-Txt_Normal-s">※該当の項目が表示されていない場合、特典適用対象外となるため、再度本ページの「お申し込みはこちら」ボタンよりお申し込みをやり直してください。</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
                  <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-16">
                    <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-05.png?240321" alt="">
                    </div>
                    <div>
                      <h4 class="c-Heading_Lv4">ショップで楽天モバイルに申し込む</h4>
                      <p class="u-Adjust_Mt-8">期間：2024年5月1日（水）開店〜2024年6月2日（日）閉店</p>
                      <p class="u-Adjust_Mt-8">ショップでお申し込みの場合は、お申し込み手続き前に、店舗スタッフに本ページのクーポンコードを提示してください。お申し込み後に提示いただきましてもキャンペーンを適用することはできませんのでご了承ください。</p>
                      <p class="c-Txt_Emp-02 c-Txt_Cap u-Adjust_Mt-8">※未成年の方のお申し込み方法は別途<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_<%= namespace %>_flow_for-minors02">こちらのご案内ページ</a>をご確認ください。</p>
                      <div class="u-Adjust_Mt-24">
                        <a href="<%= sitepath %>shop/?l-id=campaign_<%= namespace %>_shop" class="c-Btn_Regular">お近くのショップを探す</a>
                      </div>
                    </div>
                  </div>
                  <ul class="<%= namespace %>-Flow_List u-Adjust_Mt-16">
                    <li>
                      <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-8">
                        <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                          <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-01.png?240301" alt="">
                        </div>
                        <div>
                          <p class="c-Txt_Emp-01">お申し込みに必要なもの</p>
                          <div class="u-Adjust_Mt-8">
                            <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc">
                              <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/verify/?l-id=campaign_<%= namespace %>_guide_verify_shop" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                              <li class="u-Adjust_Mt-8">楽天ID、パスワード</li>
                              <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/?l-id=campaign_<%= namespace %>_guide_payment_shop" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a></li>
                              <li class="u-Adjust_Mt-8">ご契約者名義の<a href="<%= sitepath %>guide/mnp/?l-id=campaign_<%= namespace %>_guide_mnp_shop">MNP予約番号</a>（他社から乗り換えの場合）<br>
                                <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                                  <span>※</span>ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001238/?l-id=campaign_<%= namespace %>_faq_00001238_shop">こちらのご案内ページ</a>を必ず事前にご確認ください。</p></li>
                              <li class="u-Adjust_Mt-8">クーポンコード：CMBREG00000002</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion-emp u-Adjust_Mt-16">
            <button type="button" id="accordion-emp-step2" class="c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-emp-step2" data-ratid="campaign_<%= namespace %>_step2" data-ratevent="click" data-ratparam="all">
              <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
              <span class="c-Accordion-emp_Num">STEP 2</span><span class="c-Accordion-emp_Trigger-txt">「Rakuten最強プラン」利用開始</span>
            </button>
            <div id="accordion-content-emp-step2" class="c-Accordion-emp_Panel-normal js-Accordion_Panel" role="region" aria-labelledby="accordion-emp-step2" aria-hidden="true">
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-03.png?240301" alt="">
                </div>
                <div>
                  <p class="u-Adjust_Mt-8">期限：2024年6月30日（日）23:59まで</p>
                  <div class="u-Adjust_Mt-16">
                    <p><a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/?l-id=campaign_<%= namespace %>_faq_detail_00001648" class="c-Btn_Regular-large <%= namespace %>-Flow_List-button"><span>プラン利用開始手順</span></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion-emp u-Adjust_Mt-16">
            <button type="button" id="accordion-emp-step3" class="c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-emp-step3" data-ratid="campaign_<%= namespace %>_step3" data-ratevent="click" data-ratparam="all">
                <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
                <span class="c-Accordion-emp_Num">STEP 3</span><span class="c-Accordion-emp_Trigger-txt">Rakuten Linkアプリから発信で10秒以上通話</span>
            </button>
            <div id="accordion-content-emp-step3" class="c-Accordion-emp_Panel-normal js-Accordion_Panel" role="region" aria-labelledby="accordion-emp-step3" aria-hidden="true">
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-04.png?240301" alt="">
                </div>
                <div>
                  <p class="u-Adjust_Mt-8">期限：2024年6月30日（日）23:59まで</p>
                  <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                    <li><span>※</span>電話の発信時、（0570）などから始まる他社接続サービス、一部特番（188）への通話については、特典対象外。</li>
                  </ul>
                  <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>service/rakuten-link/?l-id=campaign_<%= namespace %>_service_rakuten-link" class="c-Link_Txt-inline" target="_blank">Rakuten Link アプリの詳細<span class="c-Icon_Chevron-right"></span></a></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="u-Adjust_Align-center u-Adjust_Mt-16 <%= namespace %>-Step_Last-arrow">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-step-arrow-01.png?231201" alt="">
        </div>

        <div class="<%= namespace %>-Step_Last">
          <div class="u-Adjust_Align-center">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-step-01-sp.png?231201">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-step-01.png?231201" alt="データ3GB（税込1,081円）×2カ月分のポイント還元 2,162ポイントプレゼント!">
            </picture>
          </div>
          <ul class="<%= namespace %>-Table_Rule-Cap">
            <li class="u-Adjust_Mt-8"><span>※</span>ポイントは2024年9月末ごろより付与初月：1,081ポイント、翌月：1,081ポイントの2カ月間にわたり付与</li>
            <li class="u-Adjust_Mt-0"><span>※</span>特典はおひとり様1回のみ。付与日から6カ月間有効の期間限定ポイント</li>
          </ul>
        </div>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-40 u-Adjust_Mb-16 u-Adjust_Align-center">よくあるご質問</h2>
        <div class="u-Adjust_Mt-16">
          <div class="c-Accordion">
            <button id="accordion-faq1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーンのポイント獲得の対象になっているか確認したいです。</button>
            <div id="accordion-content-faq1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq1" aria-hidden="true">
                <p>「<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile">my 楽天モバイル</a>」の申し込み履歴から、クーポンの利用状況をご確認いただけます。<br>
                  詳しい手順は<a href="https://network.mobile.rakuten.co.jp/faq/detail/10000792/">こちら</a>からご確認ください。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※ ログインができない場合は、「<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001207/">my 楽天モバイルにログインできない場合どうすればよいですか？</a>」をご確認ください。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーン期間内に楽天モバイルに申し込みができているか、確認方法はありますか？</button>
            <div id="accordion-content-faq2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq2" aria-hidden="true">
              <p>以下2種類の方法があります。<br>
                ①お申し込み完了メールを確認する<br>
                ②「<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile">my 楽天モバイル</a>」の申し込み履歴から確認する<br>
                詳しい手順は<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001827/">こちら</a>からもご確認いただけます。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>申し込み後に、本人確認書類の不備などで再提出になった場合でもキャンペーンは適用されますか？</button>
            <div id="accordion-content-faq3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq3" aria-hidden="true">
              <p>お申し込み後に、書類の再提出などいただきお申し込みが完了できた場合は、キャンペーンが適用されます。ただし、お申し込み画面内で入力された情報と本人確認書類の内容が一致しないなどの理由で楽天モバイルが定める審査に基づき、お申し込みをキャンセルさせていただく場合、キャンペーンは適用できません。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ポイントの付与はいつになりますか？</button>
            <div id="accordion-content-faq4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq4" aria-hidden="true">
              <p>お申し込みされた楽天IDに2024年9月末ごろより2カ月間にわたりポイントを付与いたします。<br>
                付与されたポイントは楽天PointClubの「<a href="https://point.rakuten.co.jp/history/">ポイント実績</a>」から確認することができます。</p>
            </div>
          </div>
        </div>

        <div class="u-Adjust_Mt-40">
          <!-- ReX UX Survey: Mounting point for embedded components -->
          <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
        </div>

        <div id="campaign-rule" class="nav-Pad_Rule">
        <% if (information.campaignState == 'finish') { %>
          <h3 class="c-Heading_Lv3 u-Adjust_Mt-32">【毎月開催】ただいまキャンペーン</h3>
          <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは<%= finishSchedule %>をもちまして終了いたしました。<br>このページに掲載されている情報は、キャンペーン終了時点のものです。</p>
          <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2207', level: '', year: '2024', class: '' }}) %>
        <% } else { %>
          <!-- else -->
          <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2207', level: 'h3', year: '2024', class: '' }}) %>
        <% } %>
        </div>
      <% if (hiddenItem == 'true') { %>
        <div class="c-Accordion u-Adjust_Mt-40">
          <button id="accordion-past-rule" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-past-rule"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>過去のキャンペーン</button>
          <div id="accordion-content-past-rule" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-past-rule" aria-hidden="true">
            <div class="<%= namespace %>-Layout_Rule u-Adjust_Mt-0">
              <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2207_240401', level: '', year: '2024', class: '', comments: '<p class="c-Txt_Emp-01">【毎月開催】ただいまキャンペーン</p>' }}) %>
            </div>
            <div class="<%= namespace %>-Layout_Rule">
              <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2207_240301', level: '', year: '2024', class: '', comments: '<p class="c-Txt_Emp-01">【毎月開催】ただいまキャンペーン</p>' }}) %>
            </div>
          </div>
        </div>
      <% } %>
      </div>
    </div>

  <% if (information.campaignState == 'finish') { %>
  <% } else { %>
    <!-- else -->
    <div id="js-fixed-btn" class="<%= namespace %>-Layout_Bottom-fixed fixed-top" aria-expanded="false" role="region">
      <div class="<%= namespace %>-Layout_Bottom-fixed-inner">
        <div class="<%= namespace %>-Layout_Bottom-fixed-link-box-pc">
          <ul class="fixed-Link">
            <li><a href="#campaign-conditions" class="js-scroll">参加方法</a></li>
            <li><a href="#campaign-info" class="js-scroll">楽天モバイルの魅力</a></li>
            <li><a href="#campaign-flow" class="js-scroll">ポイント獲得の流れ</a></li>
          </ul>
        </div>
        <div class="<%= namespace %>-Layout_Bottom-fixed-link-box-sp">
          <div class="<%= namespace %>-Layout_Bottom-fixed-link-sp">
            <ul class="fixed-Link">
              <li><a href="#campaign-conditions" class="js-scroll">参加方法</a></li>
              <li><a href="#campaign-info" class="js-scroll">楽天モバイル<br>の魅力</a></li>
              <li><a href="#campaign-flow" class="js-scroll">ポイント獲得<br>の流れ</a></li>
            </ul>
          </div>
        </div>
        <div class="<%= namespace %>-Layout_Bottom-fixed-btn-box">
          <a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=CMBREG00000002&l-id=campaign_<%= namespace %>_f_coupon_link" class="c-Btn_Primary-large <%= namespace %>-Layout_Bottom-fixed-btn">お申し込みはこちら</a>
          <div class="nav-Btn">
            <div class="nav-Btn_Arrow">
              <span class="c-Icon_Chevron-left"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% } %>

    <footer class="g-Footer <%= namespace %>-Layout_Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
  <script>
    (function($){
        const trigger = document.getElementById('js-trigger');
        const fixedBtn = document.getElementById('js-fixed-btn');
        function fixedBottomBtn() {
            let scrollY = window.pageYOffset;
            const triggerRect = trigger.getBoundingClientRect();
            const triggerY = scrollY + triggerRect.top;

        if ( scrollY > triggerY ) {
          fixedBtn.setAttribute('aria-expanded', 'true');
        } else {
          fixedBtn.setAttribute('aria-expanded', 'false');
        }
      }
      if( fixedBtn && trigger ) {
        window.addEventListener('scroll', fixedBottomBtn);
      }
    })();
  </script>
  <script>
    (function($){
      $(function(){
        $('.nav-Btn').on('click',function() {
          $('.nav-Btn_Arrow').toggleClass('nav-On');
          $('.<%= namespace %>-Layout_Bottom-fixed-link-sp').slideToggle();
        });
      });
    })(jQuery);
  </script>
  <!-- ReX UX Survey: Config -->
  <script>
    window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
  </script>

  <!-- ReX UX Survey: Script -->
  <script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>
</body>
</html>
