<% const pagetitle = "【楽天モバイルショップ限定】楽天回線をもう1回線お申し込みで3,000ポイントプレゼント！" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "shop-extra-sim" -%>
<%-
include('/_header', {
  pagetitle,
  directories,
  description: '楽天モバイルショップ限定！Rakuten最強プランをもう1回線お申し込みで3,000ポイントプレゼントキャンペーン開催中！2台目スマホやタブレットのご利用に、ぜひご利用ください。仕事とプライベートでの回線の使い分けにも！',
  noindex: false,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/4.0.0/static/css/main.css?20240424" />
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/_entry-button/rex-overwrite_v6.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/shop-extra-sim/shop-extra-sim.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <%- include('/include/_breadcrumbs', {
      type: 'head',
      pagetitle,
      directories,
    }) %>
    <div class="<%= namespace %>-Layout_Label">
      <ul class="c-Label_List">
        <li class="c-Label_Normal">ご契約者様対象</li>
        <li class="c-Label_Normal">エントリー必要</li>
      </ul>
      <p class="<%= namespace %>-Layout_Label-txt">ポイント：付与日を含めて6カ月の期間限定ポイント</p>
    </div>

    <div class="<%= namespace %>-Hero">
      <div class="<%= namespace %>-Hero_Container">
        <h1>
          <picture>
            <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/campaign/shop-extra-sim/hero-sp.png" width="100%">
            <img src="<%= sitepath %>assets/img/campaign/shop-extra-sim/hero-pc.png" width="746" height="278" alt="<%= pagetitle %>">
          </picture>
        </h1>
      </div>
    </div>

    <div class="l-System_Container u-Adjust_Mt-8">
      <p class="c-Txt_Emp-02 c-Txt_Cap">※ 「Rakuten最強プラン（データタイプ）」は対象外です</p>
      <p class="c-Txt_Cap">※ 製品によって一部機能が利用できない場合があります。詳しくは<a href="<%= sitepath %>product/byod/?l-id=campaign_shop-extra-sim_product_byod" class="c-Link_Txt">こちら</a>をご確認ください</p>
      <p class="c-Txt_Cap">※ キャンペーン適用はおひとり様1回限りです。</p>
    </div>

    <div class="<%= namespace %>-Layout_Cta u-Adjust_Mt-32">
      <div class="l-System_Container">
        <h3 class="c-Heading_Lv3">＼まずはエントリー！／</h3>
        <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">【キャンペーン期間】</span><br class="u-Show_Oox">2024年3月15日（金）開店～2024年4月30日（火）閉店</p>
        <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【エントリー期間】</span><br class="u-Show_Oox">2024年3月15日（金）09:00～2024年4月30日（火）23:59</p>
        <p class="c-Txt_Emp-02 u-Adjust_Align-center u-Adjust_Mt-8">※キャンペーン期間内に本キャンペーンページでエントリーが必要です</p>
      </div>
    </div>

    <div class="l-System_Container u-Adjust_Mt-32">

      <div class="u-Adjust_Mt-16 u-Adjust_Mb-40">
        <p class="u-Adjust_Align-center c-Txt_Emp-02 c-Heading_Lv3">
          本キャンペーンは2024年4月30日をもちまして終了いたしました。<br>
          このページに掲載されている情報は、キャンペーン終了時点のものです。
        </p>
      </div>

      <h2 class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンの流れ</h2>
      <ul class="<%= namespace %>-Layout_Flow">
        <li>
          <h3><span class="<%= namespace %>-Layout_Flow-step">STEP 1</span><span>まずはエントリー！</span></h3>
          <div class="<%= namespace %>-Layout_Flow-detail">
            <img src="<%= sitepath %>assets/img/campaign/shop-extra-sim/img-01-pc.png" class="u-Show_Xxo" width="314" height="97" alt="">
            <div>
              <div class="<%= namespace %>-Layout_Flow-detail-sp">
                <img src="<%= sitepath %>assets/img/campaign/shop-extra-sim/img-01-sp.png" class="u-Show_Oox" width="104" height="80" alt="">
                <div>
                  <p><sapn class="c-Txt_Emp-01">【キャンペーン期間】</sapn><br class="u-Show_Oox">2024年3月15日（金）開店 ～ 2024年4月30日（火）閉店</p>
                  <p><sapn class="c-Txt_Emp-01">【エントリー期間】</sapn><br class="u-Show_Oox">2024年3月15日（金）09:00 ～ 2024年4月30日（火）23:59</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <h3><span class="<%= namespace %>-Layout_Flow-step">STEP 2</span><span>ショップに来店</span></h3>
          <div class="<%= namespace %>-Layout_Flow-detail">
            <img src="<%= sitepath %>assets/img/campaign/shop-extra-sim/img-02-01-pc.png" class="u-Show_Xxo" width="314" height="112" alt="">
            <div>
              <div class="<%= namespace %>-Layout_Flow-detail-sp">
                <img src="<%= sitepath %>assets/img/campaign/shop-extra-sim/img-02-01-sp.png" class="u-Show_Oox" width="104" height="65" alt="">
                <p>楽天モバイルショップに来店する。</p>
              </div>
              <ul class="u-Adjust_Mt-16 <%= namespace %>-Layout_Btn-col">
                <li class="<%= namespace %>-Utility_Justify-content-sp">
                  <a href="<%= sitepath %>shop/?l-id=campaign_shop-extra-sim_shop_01" class="c-Btn_Secondly <%= namespace %>-Layout_Btn"><span>お近くのショップを探す</span></a>
                </li>
              </ul>
              <p class="c-Txt_Cap u-Adjust_Mt-16">
                ※楽天モバイルリモートショップ郵便局店は対象外です。
              </p>
            </div>
          </div>
          <div class="<%= namespace %>-Layout_Flow-detail">
            <img src="<%= sitepath %>assets/img/campaign/shop-extra-sim/img-02-02-pc.png" class="u-Show_Xxo" width="314" height="112" alt="">
            <div>
              <h4 class="c-Heading_Lv4 u-Show_Xxo">お申し込みに必要なもの</h4>
              <ul class="c-List_Text-disc">
                <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/verify/?l-id=campaign_shop-extra-sim_guide_verify" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                <li class="u-Adjust_Mt-8">楽天会員ID、パスワード</li>
                <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/?l-id=campaign_shop-extra-sim_guide_payment" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                </li>
                <li class="u-Adjust_Mt-8">ご契約者名義の<a href="<%= sitepath %>guide/mnp/?l-id=campaign_shop-extra-sim_guide_mnp" class="c-Link_Txt-inline">MNP予約番号</a>（他社から乗り換えの場合）
                </li>
              </ul>
              <p class="c-Txt_Cap u-Adjust_Mt-8">
                <span>※</span>未成年の方のお申し込み方法は<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_shop-extra-sim_flow_for-minors">こちら</a>
              </p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">
                <span>※</span>ショップでのお手続きは、ワンストップ対象の他社からの転入であっても、MNP予約番号を取得のうえ、ご来店ください
              </p>
            </div>
          </div>

        </li>
        <li>
          <h3><span class="<%= namespace %>-Layout_Flow-step">STEP 3</span><span>楽天モバイルに2回線目以降の<br class="u-Show_Oox">お申し込み</span></h3>
          <div class="<%= namespace %>-Layout_Flow-detail">
            <img src="<%= sitepath %>assets/img/campaign/shop-extra-sim/img-03-pc.png" class="u-Show_Xxo" width="314" height="112" alt="">
            <div>
              <div class="<%= namespace %>-Layout_Flow-detail-sp">
                <img src="<%= sitepath %>assets/img/campaign/shop-extra-sim/img-03-sp.png" class="u-Show_Oox" width="104" height="82" alt="">
                <div>
                  <p>楽天モバイルショップにて、2回線目以降のRakuten最強プランをお申し込みする。</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">
                    ※エントリー前のお申し込みはキャンペーンが適用されません。
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <h3>
            <span class="<%= namespace %>-Layout_Flow-step">STEP 4</span><span>Rakuten最強プラン<br class="u-Show_Oox">
            利用開始</span>
          </h3>
          <div class="<%= namespace %>-Layout_Flow-detail">
            <img src="<%= sitepath %>assets/img/campaign/shop-extra-sim/img-04-pc.png" class="u-Show_Xxo" width="314" height="104" alt="">
            <div>
              <div class="<%= namespace %>-Layout_Flow-detail-sp">
                <img src="<%= sitepath %>assets/img/campaign/shop-extra-sim/img-04-sp.png" class="u-Show_Oox" width="104" height="67" alt="">
                <p><sapn class="c-Txt_Emp-01">【開始期限】</sapn><br class="u-Show_Oox">プランお申し込みの翌月末日23:59まで</p>
              </div>
              <div class="u-Adjust_Mt-16 <%= namespace %>-Utility_Justify-content-sp">
                <a href="<%= sitepath %>faq/detail/00001648/?l-id=campaign_shop-extra-sim_faq_detail_00001648" class="c-Btn_Secondly <%= namespace %>-Layout_Btn"><span>プラン利用開始手順を見る</span></a>
              </div>
            </div>
          </div>
        </li>
        <li>
          <h3><span class="<%= namespace %>-Layout_Flow-step">3,000ポイントプレゼント！</span></h3>
          <div class="<%= namespace %>-Layout_Flow-detail">
            <img src="<%= sitepath %>assets/img/campaign/shop-extra-sim/img-05-pc.png" class="u-Show_Xxo" width="314" height="91" alt="">
            <div>
              <div class="<%= namespace %>-Layout_Flow-detail-sp">
                <img src="<%= sitepath %>assets/img/campaign/shop-extra-sim/img-05-sp.png" class="u-Show_Oox" width="104" height="67" alt="">
                <p>「Rakuten最強プラン」のお申し込み月の、4カ月後末日ごろに期間限定ポイントとして付与いたします。</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="l-System_Container u-Adjust_Mt-24">
      <div>
        <p class="u-Adjust_Align-center">
          <a
            class="c-Btn_Secondly-large"
            href="<%= sitepath %>shop/?l-id=campaign_shop-extra-sim_shop_02"
            ><span>お近くのショップを探す</span></a>
        </p>
        <p class="c-Txt_Cap u-Adjust_Align-center u-Adjust_Mt-16">※楽天モバイルリモートショップ郵便局店は対象外です。</p>
      </div>

      <div id="campaign-rule" class="u-Adjust_Mt-64">
        <p class="u-Adjust_Align-center c-Txt_Emp-02 c-Heading_Lv3">
          本キャンペーンは2024年4月30日をもちまして終了いたしました。<br>
          このページに掲載されている情報は、キャンペーン終了時点のものです。
        </p>

        <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2227', level: 'h2', year: '2024', class: 'u-Adjust_Mt-64' }}) %>

      </div>
    </div>

    <footer class="g-Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <%- include('/include/_breadcrumbs', {
          type: 'foot',
          pagetitle,
          directories,
        }) %>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
  <!-- ReX Campaign Entry Button: Configuration -->
  <script>
    var rexButtons = {language: 'ja', buttons: [{"code":"/rmobile/shopextrasim/240305","theme":"pink","wide":true,"showCelebration":false,"ids":["rex-ceb-01","rex-ceb-02"]}]};
  </script>
  <!-- ReX Campaign Entry Button: Script -->
  <script src="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/5.1.0/static/js/main.js" defer></script>
</body>
</html>
