<%_
  const brPc = `<br class="${commonNamespace}-Spec_Util-pc">` 
  const brSp = `<br class="${commonNamespace}-Spec_Util-sp">`
_%>
<section class="<%= commonNamespace %>-Spec_Section-visual">
  <div class="<%= commonNamespace %>-Spec_Section-visual-01">
    <div class="<%= commonNamespace %>-Spec_Section-visual-first">
      <h2>
        <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-14-pro/img-devicename-221110.png" width="296" height="38" loading="lazy" class="<%= commonNamespace %>-Spec_Section-visual-first-devicename" alt="<%- productName %>">
      </h2>
      <h3>プロを超えたプロ。</h3>
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-14-pro/img-device-sp-240207.png" width="253" height="368">
        <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-14-pro/img-device-pc-240207.png" width="974" height="396" loading="lazy" class="<%= commonNamespace %>-Spec_Section-visual-first-kv" alt="">
      </picture>
    </div>
  </div>
  <div class="<%= commonNamespace %>-Spec_Section-visual-02 u-Adjust_Mt-88">
    <div class="<%= commonNamespace %>-Spec_Section-visual-dynamic u-Adjust_Mt-56 u-Adjust_Mt-pc-0">
      <div>
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-14-pro/img-dinamic-sp-240207.png" width="281" height="277">
          <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-14-pro/img-dinamic-pc-240207.png" width="281" height="314" loading="lazy" alt="">
        </picture>
      </div>
      <div>
        <p>Dynamic Island</p>
        <p>
          見たこともない<br>
          iPhoneの<%- brPc %>操作システム。
        </p>
      </div>
    </div>
    <div class="<%= commonNamespace %>-Spec_Section-visual-camera">
      <div class="<%= commonNamespace %>-Spec_Section-visual-bg">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-14-pro/img-camera-sp-240207.png" width="350" height="447">
          <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-14-pro/img-camera-pc-240207.png" width="275" height="349" loading="lazy" alt="">
        </picture>
      </div>
      <div>
        <p>
          48MPメインカメラ。<br>
          迫力のディテール。
        </p>
      </div>
    </div>
  </div>
  <div class="<%= commonNamespace %>-Spec_Section-visual-03">
    <div class="<%= commonNamespace %>-Spec_Section-visual-a16">
      <div class="<%= commonNamespace %>-Spec_Section-visual-bg">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-14-pro/img-a16-sp-240207.png" width="350" height="301">
          <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-14-pro/img-a16-pc-240207.png" width="421" height="351" loading="lazy" alt="">
        </picture>
      </div>
      <div>
        <p>
          すべてを動かす心臓部に、<br>
          とてつもなく速いチップ。
        </p>
      </div>
    </div>
    <div class="<%= commonNamespace %>-Spec_Section-visual-battery">
      <div>
        <p>Proのバッテリーは</p>
        <p>
          一日中、<br>
          フル稼働<%- diamond %>。
        </p>
      </div>
    </div>
  </div>
  <div class="<%= commonNamespace %>-Spec_Section-visual-04">
    <div class="<%= commonNamespace %>-Spec_Section-visual-cinema">
      <div class="<%= commonNamespace %>-Spec_Section-visual-bg">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-14-pro/img-cinema-sp-240207.png" width="347" height="332">
          <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-14-pro/img-cinema-pc-240207.png" width="568" height="350" loading="lazy" alt="">
        </picture>
      </div>
      <div>
        <p>シネマティックモード</p>
        <p>
          何を撮っても映画になる。<%- brSp %>24fpsの4K HDRに対応。
        </p>
      </div>
    </div>
    <div class="<%= commonNamespace %>-Spec_Section-visual-display">
      <div>
        <p>
          常時表示ディスプレイ。<br>
          サッと見る。パッと知る。
        </p>
      </div>
      <div>
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-14-pro/img-display-sp-240207.png" width="273" height="277">
          <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-14-pro/img-display-pc-240207.png" width="235" height="231" loading="lazy" alt="">
        </picture>
      </div>
    </div>
  </div>
  <div class="<%= commonNamespace %>-Spec_Section-visual-05">
    <div class="<%= commonNamespace %>-Spec_Section-visual-water">
      <div class="<%= commonNamespace %>-Spec_Section-visual-bg">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-14-pro/img-water-sp-240207.png" width="347" height="333">
          <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-14-pro/img-water-pc-240207.png" width="238" height="306" loading="lazy" alt="">
        </picture>
      </div>
      <div>
        <p>耐水性能<%- diamond %></p>
        <p>（ホッ）</p>
      </div>
    </div>
    <div class="<%= commonNamespace %>-Spec_Section-visual-tough">
      <div>
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-14-pro/img-tough-sp-240207.png" width="255" height="279">
          <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-14-pro/img-tough-pc-240207.png" width="222" height="310" loading="lazy" alt="">
        </picture>
      </div>
      <div>
        <p>Ceramic Shield</p>
        <p>
          耐久性を<%- brPc %>デザインしました。
        </p>
      </div>
    </div>
  </div>
  <div class="<%= commonNamespace %>-Spec_Section-visual-06">
    <div class="<%= commonNamespace %>-Spec_Section-visual-movie">
      <div class="<%= commonNamespace %>-Spec_Section-visual-bg">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-14-pro/img-movie-sp-240207.png" width="347" height="444">
          <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-14-pro/img-movie-pc-240207.png" width="568" height="" alt="351">
        </picture>
      </div>
      <div>
        <p>アクションモード</p>
        <p class="<%= commonNamespace %>-Spec_Section-cap"> 手ぶれに負けない<%- brSp %>ビデオ撮影を。</p>
      </div>
    </div>
    <div class="<%= commonNamespace %>-Spec_Section-visual-accident">
      <div>
        <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-14-pro/img-accident-240207.png" width="250" height="250" loading="lazy" alt="">
        <p>衝突事故<br>検出<%- diamond %></p>
      </div>
    </div>
  </div>
  <div class="<%= commonNamespace %>-Spec_Section-visual-07">
    <div class="<%= commonNamespace %>-Spec_Section-visual-selfy">
      <div>
        <p>
          セルフィーも<br>
          iPhone史上最高。
        </p>
      </div>
      <div>
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-14-pro/img-selfy-sp-240207.png" width="312" height="184">
          <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-14-pro/img-selfy-pc-240207.png" width="356" height="176" loading="lazy" alt="">
        </picture>
      </div>
    </div>
    <div class="<%= commonNamespace %>-Spec_Section-visual-size">
      <div>
        <p><span>6.7</span>インチ</p>
        <p class="<%- commonNamespace %>-Spec_Util-pc">iPhone 14 Pro Max<%- diamond %></p>
        <div>
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-14-pro/img-size-1-sp-240207.png" width="106" height="230">
            <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-14-pro/img-size-1-pc-240207.png" width="162" height="223" loading="lazy" alt="">
          </picture>  
        </div>
      </div>
      <div>
        <p><span>6.1</span>インチ</p>
        <p class="<%- commonNamespace %>-Spec_Util-pc">iPhone 14 Pro<%- diamond %></p>
        <div>
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-14-pro/img-size-2-sp-240207.png" width="106" height="212">
            <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-14-pro/img-size-2-pc-240207.png" width="147" height="" alt="195">
          </picture>  
        </div>
      </div>
      <div class="<%- commonNamespace %>-Spec_Util-sp">
        <p>iPhone 14 Pro Max<%- diamond %></p>
        <p>iPhone 14 Pro<%- diamond %></p>
      </div>
    </div>
  </div>
</section>
