<%_
  const brPc = `<br class="${commonNamespace}-Spec_Util-pc">` 
  const brSp = `<br class="${commonNamespace}-Spec_Util-sp">`
_%>
<section class="<%= commonNamespace %>-Spec_Section-visual">
  <div class="<%= commonNamespace %>-Spec_Section-visual-01">
    <div class="<%= commonNamespace %>-Spec_Section-visual-first">
      <h2>
        <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-14/img-devicename-221110.png" width="222" height="36" loading="lazy" class="<%= commonNamespace %>-Spec_Section-visual-first-devicename u-Adjust_Mt-40" alt="<%- productName %>">
      </h2>
      <h3>あふれる<%- brSp %>ワンダフル</h3>
      <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-14/img-device-240207.png" width="898" height="454" loading="lazy" class="<%= commonNamespace %>-Spec_Section-visual-first-kv" alt="">
    </div>
  </div>
  <div class="<%= commonNamespace %>-Spec_Section-visual-02 u-Adjust_Mt-60 u-Adjust_Mt-pc-56">
    <div class="<%= commonNamespace %>-Spec_Section-visual-size">
      <p>ビッグと超ビッグ。</p>
      <div class="<%= commonNamespace %>-Spec_Section-visual-size-body">
        <div>
          <p>iPhone 14<%- diamond %></p>
          <p><span>6.1</span>インチ</p>
        </div>
        <div><img src="<%= sitepath %>assets/img/product/iphone/common/iphone-14/img-size-2400207.png" width="193" height="263" loading="lazy" alt=""></div>
        <div>
          <p>iPhone 14 Plus<%- diamond %></p>
          <p><span>6.7</span>インチ</p>
        </div>
      </div>
    </div>
    <div class="<%= commonNamespace %>-Spec_Section-visual-battery">
      <div>
        <p>
          大きく<br>
          進化した<br>
          バッテリー<br>
          　駆動時間<%- diamond %>。
        </p>
        <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-14/img-battery-240207.png" width="221" height="72" loading="lazy" alt="">
      </div>
    </div>
  </div>
  <div class="<%= commonNamespace %>-Spec_Section-visual-03">
    <div class="<%= commonNamespace %>-Spec_Section-visual-tough">
      <div class="<%= commonNamespace %>-Spec_Section-visual-bg">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-14/img-tough-sp-240207.png" width="267" height="141">
          <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-14/img-tough-pc-240207.png" width="303" height="386" loading="lazy" alt="">
        </picture>
      </div>
      <div>
        <p>Ceramic Shield</p>
        <p>
          耐久性をデザイン<br>しました。
        </p>
      </div>
    </div>
    <div class="<%= commonNamespace %>-Spec_Section-visual-action">
      <div class="<%= commonNamespace %>-Spec_Section-visual-bg">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-14/img-action-sp-240207.png" width="320" height="306">
          <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-14/img-action-pc-240207.png" width="644" height="398" loading="lazy" alt="">
        </picture>
      </div>
      <div>
        <p>アクションモード</p>
        <p>
          手ぶれに負けない<%- brSp %>ビデオ撮影を。
        </p>
      </div>
    </div>
  </div>
  <div class="<%= commonNamespace %>-Spec_Section-visual-04">
    <div class="<%= commonNamespace %>-Spec_Section-visual-camera">
      <div class="<%= commonNamespace %>-Spec_Section-visual-bg">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-14/img-camera-sp-240207.png" width="320" height="420">
          <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-14/img-camera-pc-240207.png" width="644" height="398" loading="lazy" alt="">
        </picture>
      </div>
      <div>
        <p>
          プロレベルのカメラ。<br>見とれるショット。
        </p>
      </div>
    </div>
    <div class="<%= commonNamespace %>-Spec_Section-visual-water">
      <div class="<%= commonNamespace %>-Spec_Section-visual-bg">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-14/img-water-sp-240207.png" width="320" height="306">
          <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-14/img-water-pc-240207.png" width="303" height="386" loading="lazy" alt="">
        </picture>
      </div>
      <div>
        <p>耐水性能<%- diamond %>。</p>
        <p>（ホッ）</p>
      </div>
    </div>
  </div>
  <div class="<%= commonNamespace %>-Spec_Section-visual-05">
    <div class="<%= commonNamespace %>-Spec_Section-visual-5g">
      <div>
        <p class="<%= commonNamespace %>-Spec_Section-cap">超高速<%- diamond %></p>
        <div><img src="<%= sitepath %>assets/img/product/iphone/common/iphone-14/img-5g-240207.png" width="359" height="110" loading="lazy" alt=""></div>
      </div>
    </div>
    <div class="<%= commonNamespace %>-Spec_Section-visual-a15">
      <div class="<%= commonNamespace %>-Spec_Section-visual-bg">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-14/img-a15-sp-240207.png" width="320" height="306">
          <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-14/img-a15-pc-240207.png" width="477" height="397" loading="lazy" alt="">
        </picture>
      </div>
      <div>
        <p>A15 Bionic。<br>この速さは、ずっと続く。</p>
      </div>
    </div>
  </div>
  <div class="<%= commonNamespace %>-Spec_Section-visual-06">
    <div class="<%= commonNamespace %>-Spec_Section-visual-movie">
      <div class="<%= commonNamespace %>-Spec_Section-visual-bg">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-14/img-movie-sp-240207.png" width="320" height="306">
          <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-14/img-movie-pc-240207.png" width="644" height="398" loading="lazy" alt="">
        </picture>
      </div>
      <div>
        <p>シネマティックモード</p>
        <p><span>ホームビデオを、<br>Hollywoodムービーに。</span></p>
      </div>
    </div>
    <div class="<%= commonNamespace %>-Spec_Section-visual-accident">
      <div>
        <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-14/img-accident-240207.png" width="277" height="277" loading="lazy" alt="">
        <p>衝突事故<br>&emsp;検出<%- diamond %></p>
      </div>
    </div>
  </div>
  <div class="<%= commonNamespace %>-Spec_Section-visual-07">
    <div class="<%= commonNamespace %>-Spec_Section-visual-selfy">
      <div class="<%= commonNamespace %>-Spec_Section-visual-bg">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-14/img-selfy-sp-240207.png" width="320" height="420">
          <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-14/img-selfy-pc-240207.png" width="477" height="397" loading="lazy" alt="">
        </picture>
      </div>
      <div>
        <p>速く、賢く、美しく。<br>セルフィーが進化する。</p>
      </div>
    </div>
    <div class="<%= commonNamespace %>-Spec_Section-visual-custom">
      <div>
        <p>カスタマイズ</p>
        <p>
          好きな写真で、<%- brPc %>フォントで、<br>ウィジェットで、<br>あなた好みの<%- brPc %>iPhoneを。
        </p>
      </div>
      <div>
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-14/img-custom-sp-240207.png" width="191" height="287">
          <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-14/img-custom-pc-240207.png" width="238" height="362" loading="lazy" alt="">
        </picture>
      </div>
    </div>
  </div>
</section>
