<%_
  const brPc = `<br class="${commonNamespace}-Spec_Util-pc">`
  const brSp = `<br class="${commonNamespace}-Spec_Util-sp">`
_%>
<section class="<%= commonNamespace %>-Spec_Section-visual">
  <div class="<%= commonNamespace %>-Spec_Section-visual-01">
    <div class="<%= commonNamespace %>-Spec_Section-visual-first">
      <div>
        <h2>
          <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-15-pro/img-devicename-240515.png" width="137" height="17" loading="lazy" class="<%= commonNamespace %>-Spec_Section-visual-first-devicename" alt="iphone-15">
        </h2>
        <h3>さあ<span>、</span>今すぐ<br>　アップグレード。</h3>
      </div>
      <div class="<%= commonNamespace %>-Spec_Section-visual-first-kv">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-15-pro/img-device-sp-240515.png" width="426" height="391">
          <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-15-pro/img-device-pc-240515.png" width="334" height="429" loading="lazy" alt="">
        </picture>
      </div>
    </div>
  </div>
  <div class="<%= commonNamespace %>-Spec_Section-visual-02">
    <%_ if (currentDir === 'iphone-15-pro') { _%>
    <p>iPhone 15 Pro(128GB)なら<%- brSp %>買い替え超トクプログラムご利用で<span>、</span><%- brSp %>3,639円/月〜(全48回払い)</p>
    <p>※現金一括払い/割賦販売価格174,700円、<%- brSp %>楽天カード支払い48回（48回目のみ3,667円/月）支払期間48カ月、<%- brSp %>実質年率0%。事務手数料3,300円。</p>
    <%_ } else if (currentDir === 'iphone-15-pro-max') { _%>
    <p>iPhone 15 Pro Max(256GB)なら<%- brSp %>買い替え超トクプログラムご利用で<span>、</span><%- brSp %>4,391円/月〜(全48回払い)</p>
    <p>※現金一括払い/割賦販売価格210,800円、<%- brSp %>楽天カード支払い48回（48回目のみ4,423円/月）支払期間48カ月、<%- brSp %>実質年率0%。事務手数料3,300円。</p>
    <%_ } _%>
  </div>
  <div class="<%= commonNamespace %>-Spec_Section-visual-03">
    <div class="<%= commonNamespace %>-Spec_Section-visual-camera">
      <p class="<%= commonNamespace %>-Spec_Section-visual-txt">
        iPhone史上最大の<br>
        光学ズーム。<br>
        iPhone 15 Pro Maxに搭載。
      </p>
      <div class="<%= commonNamespace %>-Spec_Section-visual-bg">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-15-pro/img-camera-sp-240515.png" width="320" height="360">
          <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-15-pro/img-camera-pc-240515.png" width="463" height="532" loading="lazy" alt="">
        </picture>
      </div>
    </div>
    <div class="<%= commonNamespace %>-Spec_Section-visual-portrait">
      <p class="<%= commonNamespace %>-Spec_Section-visual-txt">
        次世代のポートレート。<br>
        焦点コントロールに対応。
      </p>
      <div>
        <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-15-pro/img-portrait-240515.png" width="398" height="422" loading="lazy" alt="">
      </div>
    </div>
  </div>
  <div class="<%= commonNamespace %>-Spec_Section-visual-04">
    <div class="<%= commonNamespace %>-Spec_Section-visual-storage">
      <p class="<%= commonNamespace %>-Spec_Section-visual-txt">
        iPhone 15 Proは最大1TBの<br>
        ストレージを内蔵。はるかに多くの<br>
        写真を保存できます<%- diamond %>。
      </p>
      <div>
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-15-pro/img-storage-sp-240515.png" width="162" height="246">
          <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-15-pro/img-storage-pc-240515.png" width="411" height="454" loading="lazy" alt="">
        </picture>
      </div>
    </div>
  </div>
  <div class="<%= commonNamespace %>-Spec_Section-visual-05">
    <div class="<%= commonNamespace %>-Spec_Section-visual-battery">
      <div>
        <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-15-pro/img-battery-240515.png" width="156" height="76" loading="lazy" alt="">
      </div>
      <p class="<%= commonNamespace %>-Spec_Section-visual-txt">
        一日中使えるバッテリー。<br>
        最大29時間のビデオ再生<%- diamond %>。
      </p>
    </div>
    <div class="<%= commonNamespace %>-Spec_Section-visual-chip">
      <p class="<%= commonNamespace %>-Spec_Section-visual-txt">
        Proという名のチップ。<br>
        別格のパフォーマンス。
      </p>
      <div>
        <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-15-pro/img-chip-240515.png" width="223" height="223" loading="lazy" alt="A17 PRO">
      </div>
    </div>
  </div>
  <div class="<%= commonNamespace %>-Spec_Section-visual-06">
    <div class="<%= commonNamespace %>-Spec_Section-visual-usbc">
      <div>
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-15-pro/img-usbc-sp-240515.png" width="320" height="360">
          <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-15-pro/img-usbc-pc-240515.png" width="418" height="464" loading="lazy" alt="">
        </picture>
      </div>
      <p class="<%= commonNamespace %>-Spec_Section-visual-txt">
        ほかのデバイスに使っている<br>
        USB-Cケーブルで<br>
        iPhone 15を充電できます。
      </p>
    </div>
  </div>
  <div class="<%= commonNamespace %>-Spec_Section-visual-07">
    <div class="<%= commonNamespace %>-Spec_Section-visual-titanium">
      <p class="<%= commonNamespace %>-Spec_Section-visual-txt">
        チタニウム。この強さ。<br>
        この軽さ。これぞ、Pro。
      </p>
      <div>
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-15-pro/img-titanium-sp-240515.png" width="300" height="100">
          <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-15-pro/img-titanium-pc-240515.png" width="458" height="307" loading="lazy" alt="">
        </picture>
      </div>
    </div>
    <div class="<%= commonNamespace %>-Spec_Section-visual-dynamic">
      <p class="<%= commonNamespace %>-Spec_Section-visual-txt">
        Dynamic Island。通話や音楽<br>
        などの情報が浮かび上がります。
      </p>
      <div>
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-15-pro/img-dynamic-island-sp-240515.png" width="201" height="231">
          <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-15-pro/img-dynamic-island-pc-240515.png" width="464" height="407" loading="lazy" alt="">
        </picture>
      </div>
    </div>
    <div class="<%= commonNamespace %>-Spec_Section-visual-accident">
      <p class="<%= commonNamespace %>-Spec_Section-visual-txt">
        緊急事態の時も、<br>
        iPhoneが助けになります。
      </p>
      <div class="<%= commonNamespace %>-Spec_Section-visual-bg">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/common/iphone-15-pro/img-accident-sp-240515.png" width="320" height="400">
          <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-15-pro/img-accident-pc-240515.png" width="464" height="531" loading="lazy" alt="">
        </picture>
      </div>
    </div>
    <div class="<%= commonNamespace %>-Spec_Section-visual-5g">
      <p class="<%= commonNamespace %>-Spec_Section-visual-txt">
        超高速の5G<%- diamond %>。<br>
        より速いワイヤレス通信をもたらす<br>
        Wi-Fi 6E<%- diamond %>。
      </p>
      <div>
        <img src="<%= sitepath %>assets/img/product/iphone/common/iphone-15-pro/img-5g-240515.png" width="380" height="107" loading="lazy" alt="5G">
      </div>
    </div>
  </div>
</section>
