<%
  const pagetitle = '【特別なお客様向け】Rakuten最強プランのお申し込みで楽天ポイントプレゼントキャンペーン';
  const directories = [{path:"area/", label:"通信・エリア"}];
  const namespace = "corporation";
_%>
<%-
  include('/_header', {
    pagetitle,
    directories,
    description: '特別なお客様向け　本キャンペーンページ「同意してキャンペーンに申し込む」ボタン（【WEBでプランご契約】または【ショップでプランご契約】）を押下し、Rakuten最強プランのお申し込みで楽天ポイントプレゼント！',
    keywords: '',
    noindex: false,
    pathname: filepath,
    browseragent: false
  });
%>
<meta http-equiv="refresh" content="1; URL=<%= sitepath %>shop/?l-id=mi_rmb_web_20240415_thanks_shop#shop">
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/area/campaign/campaign.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/area/campaign/corporation/corporation.css">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header-simple') %>

<%- include('/area/campaign/corporation/include/_hero.ejs') %>

<div class="u-Adjust_Align-center u-Adjust_Mt-64">
  <p class="<%= namespace %>-Thanks_Text">ありがとうございます。<br>
    キャンペーンのお申し込みが<br class="u-Show_Sp">完了しました。</p>
  <p class="<%= namespace %>-Thanks_Text2 u-Adjust_Mt-24">このページから自動で<span class="c-Txt_Emp-02">ショップ（店舗）を探すページ</span>に移動します。<br>
    しばらくお待ちください。</p>
</div>


</div>

<footer class="g-Footer u-Adjust_Mt-64">
  <%- include('/include/_footer-simple') %>
</footer>

<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
