<% const pagetitle = "Rakuten WiFi Pocket 2 本体価格実質0円キャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "rakuten-wifi-pocket-2b" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Rakuten UN-LIMITに初めての申し込みで、Rakuten WiFi Pocket 2BまたはRakuten WiFi Pocket 2Cを実質0円でご購入いただけるキャンペーンを実施してます。',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%><%- include('/include/_common-css-v2') %>
<%- include('/inc/_about-rakuten-mobile-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/rakuten-wifi-pocket-2b/rakuten-wifi-pocket-2b.css?20240424">
<%- include('/include/_append-head') %>

</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>
<div class="<%= namespace %>-Hero">

  <div class="<%= namespace %>-Hero_Main">
    <div>
      <div class="<%= namespace %>-Hero_Main-img u-Adjust_Align-center">
        <img class="<%= namespace %>-Utility_Pc-only" src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket-2b/img-hero-pc-2-230227.png" alt="モバイルWi-Fi 実質0円キャンペーン実施中。楽天モバイルへ初めてのお申し込みでWi-Fi本体代4,401円、さらに4,401ポイント還元でおトク！※お一人様一度のみ。ポイントは期間限定ポイントで、付与時期は開通月の翌々月末日。">
      </div>
    </div>
    <div class="<%= namespace %>-Hero_Main-img u-Adjust_Align-center">
      <img class="<%= namespace %>-Utility_Sp-only" src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket-2b/img-hero-sp-2-230227.png" alt="モバイルWi-Fi 実質0円キャンペーン実施中。楽天モバイルへ初めてのお申し込みでWi-Fi本体代4,401円、さらに4,401ポイント還元でおトク！※お一人様一度のみ。ポイントは期間限定ポイントで、付与時期は開通月の翌々月末日。">
    </div>
  </div>

  <div class="<%= namespace %>-Hero_Term">

    <div class="l-System_Container">
      <p class="c-Txt_Cap"> ※ 「<a href="<%= sitepath %>campaign/start-point/?l-id=campaign_rakuten-wifi-pocket-2b_campaign_start-point#campaign-rule1550" class="c-Link_Txt">Androidスマホ/Wi-Fiルーター割引キャンペーン</a>」および「<a href="<%= sitepath %>campaign/rakuten-wifi-pocket-2b/?l-id=campaign_campaign_rakuten-wifi-pocket-2b#campaign-rule1552" class="c-Link_Txt">Rakuten WiFi Pocket ポイントバックキャンペーン</a>」、「<a href="<%= sitepath %>campaign/start-point/?l-id=campaign_rakuten-wifi-pocket-2b_campaign_start-point#campaign-rule1526" class="c-Link_Txt">【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント</a>」（楽天回線を初めてお申し込みいただいた場合に限ります）適用時。<span class="c-Txt_Emp-02">Rakuten Hand 5G,Rakuten WiFi Pocket 2Cご購入の方は対象外。</span></p>

      <!-- <div class="<%= namespace %>-Hero_Term-bnr-first u-Adjust_Mt-32">
        <a href="#campaign-detail" class="js-scroll">
          <img class="<%= namespace %>-Utility_Sp-only" src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket-2b/img-bnr-0yen-sp.svg?220226" alt="キャンペーン期間中にRakuten UN-LIMIT VIに初めての申し込みで、Rakuten WiFi Pocket 2Bを実質0円でご購入いただけます。さらに！お申し込み時の契約事務手数料も0円">
        </a>
        <a href="<%= sitepath %>campaign/start-point/#campaign-rule01">
        </a>
      </div> -->

      <div class="u-Adjust_Mt-32">
        <p class="u-Adjust_Align-center"><span class="c-Txt_Emp-01">【キャンペーン期間】</span><br class="<%= namespace %>-Utility_Sp-only"> Web：2022年7月1日（金） 0:00～2023年4月14日（金）08:59 / ショップ：2022年7月1日（金）開店～2023年4月13日（木）閉店</p>
      </div>

      <div class="l-System_Container u-Adjust_Pt-48 u-Adjust_Pb-48">
        <p class="u-Adjust_Align-center c-Txt_Emp-02 c-Heading_Lv3">
          本キャンペーンは2023年4月14日をもちまして終了いたしました<br>このページに掲載されている情報は、キャンペーン終了時点のものです。</p>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
          <a href="<%= sitepath %>campaign/?l-id=end_campaign" class="c-Link_Txt-inline">開催中のキャンペーンを見る<span class="c-Icon_Chevron-right"></span></a>
        </div>
      </div>

      <div class="u-Adjust_Mt-32">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンの達成条件</h2>
        <div class="u-Adjust_Mt-8">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket-2b/img-cpn-01-sp-230222.png" width="100%">
            <img src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket-2b/img-cpn-01-230222.png" width="1032" height="54" alt="対象製品を購入＆初めてプラン申し込み + プランの利用開始">
          </picture>
        </div>
        <p class="u-Adjust_Mt-8 u-Adjust_Align-center c-Txt_Cap">※ 2回線目以降のお申込みは対象外。プランの利用開始期限はお申し込みの翌月末日23:59までとなります。詳細は<a href="#campaign-rule1552" class="c-Link_Txt">キャンペーンルール</a>をご確認ください。</p>

        <div class="<%= namespace %>-Layout_Btn-2col u-Adjust_Mt-40">
          <a href="https://onboarding.mobile.rakuten.co.jp/equipment-details?exid=600328&selectAvailable=true" class="c-Btn_Primary" data-ratid="campaign_rakuten-wifi-pocket-2b_order-button-1_bss" data-ratevent="click">WebでRakuten WiFi Pocket 2Cを購入する</a>
          <a href="<%= sitepath %>shop/?l-id=campaign_rakuten-wifi-pocket-2b_shop_1" class="c-Btn_Secondly">お近くのショップを探す</a>
        </div>
        <p class="u-Adjust_Align-center u-Adjust_Mt-16"><a href="<%= sitepath %>product/internet/rakuten-wifi-pocket-2c/?l-id=campaign_rakuten-wifi-pocket-2b_product_internet_rakuten-wifi-pocket-2c_1" class="c-Link_Txt-inline">Rakuten WiFi Pocket 2Cの詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
        <p class="u-Adjust_Align-center c-Txt_Cap u-Adjust_Mt-8">※ Rakuten WiFi Pocket 2Bは現在入荷待ちとなっております。</p>
      </div>
    </div>
  </div>
</div>

<div id="campaign-detail" class="c-Theme-Light u-Adjust_Mt-64">

  <ul class="<%= namespace %>-Hero_Term-nav u-Adjust_Mt-32">
    <li>
      <a href="#product" class="c-Link_Txt-inline js-scroll" data-ratid="campaign_rakuten-wifi-pocket-2b_product" data-ratevent="click"><span class="c-Icon_Arrow-down-l u-Adjust_Mr-8"></span>対象商品</a>
    </li>
    <li>
      <a href="#plan" class="c-Link_Txt-inline js-scroll" data-ratid="campaign_rakuten-wifi-pocket-2b_plan"
      data-ratevent="click"><span class="c-Icon_Arrow-down-l u-Adjust_Mr-8"></span>料金プラン</a>
    </li>
    <li>
      <a href="#point-acquisition-flow" class="c-Link_Txt-inline js-scroll" data-ratid="campaign_rakuten-wifi-pocket-2b_point-acquisition-flow"
      data-ratevent="click"><span class="c-Icon_Arrow-down-l u-Adjust_Mr-8"></span>特典進呈の流れ</a>
    </li>
    <li>
      <a href="#campaign-rule1552" class="c-Link_Txt-inline js-scroll" data-ratid="campaign_rakuten-wifi-pocket-2b_rule-1552"
      data-ratevent="click"><span class="c-Icon_Arrow-down-l u-Adjust_Mr-8"></span>キャンペーンルール</a>
    </li>
  </ul>
  <h2 id="product" class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-64" data-ratid="campaign_rakuten-wifi-pocket-2b_scroll-01_product"
  data-ratevent="appear">キャンペーン対象製品</h2>
  <div class="<%= namespace %>-Merit_Main u-Adjust_Pb-40 u-Adjust_Mt-16">
    <div class="<%= namespace %>-Layout_Content">

      <div class="<%= namespace %>-Layout_Box-w">
        <p class="c-Txt_Cap">「実質価格」とは、キャンペーンの条件達成（楽天モバイルに初めて契約、対象製品購入、Rakuten Link利用など）により後日付与されるポイントを加味した価格であり、実際のお支払い金額とは異なります。詳しくは<a href="<%= sitepath %>campaign/rakuten-wifi-pocket-2b/?l-id=campaign_campaign_rakuten-wifi-pocket-2b#campaign-rule1552" class="c-Link_Txt">キャンペーンルール</a>をご確認ください。</p>
      </div>

      <div class="c-Theme-White u-Adjust_Mt-32">
        <div class="<%= namespace %>-Layout_Content-about">
          <div>
              <img src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket-2b/img-content-01-230222.png" width="388" height="216" alt="Rakuten WiFi Pocket 2B/2C">
          </div>
          <div>
            <h3 class="c-Heading_Lv2 <%= namespace %>-Utility_Sp-center">Rakuten WiFi Pocket 2B/2C</h3>
            <ul class="<%= namespace %>-Layout_Content-about-list u-Adjust_Mt-16">
              <li>楽天回線エリアデータ<span class="c-Txt_Emp-02">無制限</span><span class="c-Txt_Cap">※1</span></li>
              <li>契約事務手数料・契約解除料<span class="c-Txt_Emp-02">0円</span></li>
              <li>スタイリッシュで携帯しやすいデザイン</li>
            </ul>
            <p class="<%= namespace %>-Layout_Content-about-price u-Adjust_Align-center  u-Adjust_Mt-8">製品価格<span class="<%= namespace %>-Layout_Content-about-price-l">7,980</span>円<span class="<%= namespace %>-Layout_Content-about-price-s">（税込）</span></p>
          </div>
        </div>
        <div>
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket-2b/img-content-02-sp-230222.png" width="100%">
            <img src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket-2b/img-content-02-230222.png" width="960" height="290" alt="Rakuten WiFi Pocket 2B/2Cの購入と同時に初めて楽天モバイルへ申し込むと3,579円値引きで本体代が4,401円 さらに最大4,401ポイント還元で本体代実質0円※2,3,4 プラン料金のみでご利用できます！">
          </picture>
        </div>
        <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><a href="<%= sitepath %>product/internet/rakuten-wifi-pocket-2c/?l-id=campaign_rakuten-wifi-pocket-2b_product_internet_rakuten-wifi-pocket-2c_2" class="c-Btn_Secondly">Rakuten WiFi Pocket 2Cの詳細を見る</a></p>
        <p class="u-Adjust_Align-center c-Txt_Cap u-Adjust_Mt-8">※ Rakuten WiFi Pocket 2Bは現在入荷待ちとなっております。</p>
      </div>

      <div class="<%= namespace %>-Layout_Btn-2col u-Adjust_Mt-40">
        <a href="https://onboarding.mobile.rakuten.co.jp/equipment-details?exid=600328&selectAvailable=true" class="c-Btn_Primary" data-ratid="campaign_rakuten-wifi-pocket-2b_order-button-2_bss" data-ratevent="click">WebでRakuten WiFi Pocket 2Cを購入する</a>
        <a href="<%= sitepath %>shop/?l-id=campaign_rakuten-wifi-pocket-2b_shop_2" class="c-Btn_Secondly">お近くのショップを探す</a>
      </div>
      <p class="u-Adjust_Align-center c-Txt_Cap u-Adjust_Mt-8">※ Rakuten WiFi Pocket 2Bは現在入荷待ちとなっております。</p>

      <div class="u-Adjust_Mt-32">
        <p class="c-Txt_Cap">※1 楽天基地局接続時。公平なサービス提供のため速度制御の場合あり。楽天回線エリア詳細は<a href="<%= sitepath %>area/?l-id=campaign_rakuten-wifi-pocket-2b_area" class="c-Link_Txt">こちら</a>。</p>
        <p class="c-Txt_Cap">※2 「<a href="<%= sitepath %>campaign/start-point/?l-id=campaign_rakuten-wifi-pocket-2b_campaign_start-point#campaign-rule1550" class="c-Link_Txt">Androidスマホ/Wi-Fiルーター割引キャンペーン</a>」適用時。</p>
        <p class="c-Txt_Cap">※3 「<a href="<%= sitepath %>campaign/start-point/?l-id=campaign_rakuten-wifi-pocket-2b_campaign_start-point#campaign-rule1526" class="c-Link_Txt">【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント</a>」適用時。楽天回線を初めてお申し込みいただいた場合に限ります。<span class="c-Txt_Emp-02">Rakuten Hand 5G,Rakuten WiFi Pocket 2Cご購入の方は対象外。</span></p>
        <p class="c-Txt_Cap">※4 「<a href="<%= sitepath %>campaign/rakuten-wifi-pocket-2b/?l-id=campaign_campaign_rakuten-wifi-pocket-2b#campaign-rule1552" class="c-Link_Txt">Rakuten WiFi Pocket ポイントバックキャンペーン</a>」適用時。対象製品のみご購入時でも適用となります。</p>
        <p class="c-Txt_Cap">※ 楽天回線エリア外は5GB/月を超過すると最大1Mbpsで使い放題。最大1Mbpsで使用時、動画再生・アプリダウンロード等では、時間がかかる場合あり。通信速度はベストエフォート（規格上の最大速度）であり、実効速度は通信環境・状況により変動します。</p>
      </div>

    </div>
  </div>
</div>

<div class="l-System_Container u-Adjust_Pt-64">
  <div id="campaign-flow">
    <h2 id="point-acquisition-flow" class="c-Heading_Lv3 u-Adjust_Align-center" data-ratid="campaign_rakuten-wifi-pocket-2b_scroll-03_point-acquisition-flow"
    data-ratevent="appear">特典進呈の流れ</h2>
    <div class="c-Tab js-Tab u-Adjust_Mt-16">
      <ul class="c-Tab_Items" role="tablist">
        <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1" data-ratid="campaign_rakuten-wifi-pocket-2b__index-web"
        data-ratevent="click">Webで購入</li>
        <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2" data-ratid="campaign_rakuten-wifi-pocket-2b__index-shop"
        data-ratevent="click">ショップで購入</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
        <ul class="<%= namespace %>-Flow_List c-Flow">
          <li>
            <h3 class="c-Heading_Lv4 u-Adjust_Mb-16">お申し込み・お支払いに必要なものを準備する</h3>
            <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
              <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                <img src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket-2b/img-flow-1.png" alt="お申し込み・お支払いに必要なものを準備する">
              </div>
              <div>
                <div class="u-Adjust_Mt-16">
                  <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc">
                    <li><a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-icon">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                  </ul>
                  <ul class="u-Adjust_Mt-16 c-List_Text-disc">
                    <li>楽天会員ログイン用のユーザID、パスワード</li>
                  </ul>
                  <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Emp-02 c-Txt_Normal-s u-Adjust_Mt-8">※本人確認書類の情報と、楽天会員情報が一致している必要があります。</p>
                  <p class="u-Adjust_Mt-8"><a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Link_Txt-icon u-Adjust_Mt-8">楽天会員情報を確認・変更する<span class="c-Icon_Chevron-right"></span></a></p>
                  <ul class="u-Adjust_Mt-16 c-List_Text-disc">
                    <li><a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-icon">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                    </li>
                  </ul>
                  <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">※ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="<%= sitepath %>faq/detail/00001238/">こちらのご案内ページ</a>を必ず事前にご確認ください。</p>
                  <ul class="u-Adjust_Mt-16 c-List_Text-disc">
                    <li><a href="<%= sitepath %>guide/mnp/" class="c-Link_Txt-icon">ご契約者名義のMNP予約番号（他社から乗り換えの場合）<span class="c-Icon_Chevron-right"></span></a></li>
                  </ul>
                </div>
                <ul class="c-Txt_Cap u-Adjust_Mt-8">
                  <li><span>※</span>未成年者の方のお申し込みに必要な情報、お申し込み方法は<a href="<%= sitepath %>flow/for-minors/">こちらのご案内ページ</a>をご確認ください。</li>
                  <li><span>※</span>Webページにて、楽天モバイル（ドコモ回線・au回線）から移行お手続き後に、Rakuten UN-LIMIT VIIにお申し込みいただく場合、MNP予約番号と本人確認書類はご準備不要です。</li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv4 u-Adjust_Mb-16">Webで楽天モバイルをお申し込み、製品を購入する</h3>
            <div class="l-Media_Grid">
              <div class="l-Media_Image <%= namespace %>-Flow_List-img-center">
                <img src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket-2b/img-usb-typec.png" alt="" style="max-width: 212px;">
              </div>
              <div>
                <p>「WebでRakuten WiFi Pocket 2Cを購入する」ボタンを押下後、ご希望のカラーとRakuten UN-LIMIT VIIをカートに追加し、手順に従ってお申し込みを完了させてください。<br>
                  製品とRakuten UN-LIMIT VIIをカートに追加すると3,579円値引きが適用されます。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-16">※Rakuten WiFi Pocket 2Bは現在入荷待ちとなっております。</p>
                <div class="u-Adjust_Mt-16">
                  <a href="https://onboarding.mobile.rakuten.co.jp/equipment-details?exid=600328&selectAvailable=true" class="c-Btn_Primary" data-ratid="campaign_rakuten-wifi-pocket-2b_order-button-3_bss" data-ratevent="click">WebでRakuten WiFi Pocket 2Cを購入する</a>
                </div>

                <div class="c-Theme-Emphasis1 u-Adjust_Mt-16 u-Adjust_Align-center">
                  <p class="c-Txt_Emp-01">プランお申し込みとWi-Fi同時購入で</p>
                  <p class="<%= namespace %>-Flow_List-Present-txt <%= namespace %>-Flow_List-Present-txt_Link">
                    本体代<span class="<%= namespace %>-Flow_List-Present-txt-big u-Adjust_Ml-8">4,401</span><span class="<%= namespace %>-Flow_List-Present-txt-small">円</span>
                    <a href="<%= sitepath %>campaign/start-point/?l-id=campaign_rakuten-wifi-pocket-2b_campaign_start-point#campaign-rule1550" class="c-Link_Txt-inline js-scroll">詳しくはこちら<span class="c-Icon_Chevron-right"></span></a>
                  </p>
                </div>
                <div class="u-Adjust_Mt-16">
                  <p><a href="<%= sitepath %>product/internet/rakuten-wifi-pocket-2c/?l-id=campaign_rakuten-wifi-pocket-2b_product_internet_rakuten-wifi-pocket-2c_3" class="c-Link_Txt-inline">Rakuten WiFi Pocket 2Cの詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
                  <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>fee/un-limit/?l-id=campaign_rakuten-wifi-pocket-2b_fee_un-limit_2" class="c-Link_Txt-inline">Rakuten UN-LIMIT VIIの詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
                </div>


              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv4">お申し込み完了</h3>
            <div class="l-Media_Grid u-Adjust_Mt-16">
              <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                <img src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket-2b/img-flow-3.png" alt="お申し込み完了">
              </div>
              <div>
                <p class="u-Adjust_Mt-8">本人確認の審査が完了次第、製品を発送させていただきます。本人確認の審査状況、発送状況は「my 楽天モバイル」でご確認いただけます。</p>
                <div class="<%= namespace %>-Utility_Sp-center u-Adjust_Mt-32">
                  <a href="<%= sitepath %>my-rakuten-mobile" class="c-Btn_Regular <%= namespace %>-Component_Btn-sp-full"><span>my 楽天モバイル</span></a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv4">最大4,401ポイント還元！</h3>
            <div class="<%= namespace %>-Flow_List-Present_Point_Container u-Adjust_Mt-16">
              <div class="l-Media_Image <%= namespace %>-Flow_List-img <%= namespace %>-Flow_List-img-Point" style="max-width: 260px;">
                <img src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket-2b/img-flow-4.png" alt="ポイント">
              </div>
              <div class="<%= namespace %>-Flow_List-Present_Right">
                <p>製品購入時の3,579円の値引きに加えて、「Rakuten UN-LIMIT VII」の開通が確認された月の翌々月末までに4,401ポイントを付与いたします。</p>
                <div class="<%= namespace %>-Flow_List-Present u-Adjust_Mt-16">
                  <div class="<%= namespace %>-Flow_List-Present_Flex">
                    <div class="<%= namespace %>-Flow_Flex-align c-Theme-Emphasis1 u-Adjust_Mt-16 ">
                      <p class="c-Txt_Emp-01">Rakuten WiFi Pocket ポイントバック<br>キャンペーン適用で</p>
                      <div class="">
                        <p class="<%= namespace %>-Flow_List-Present-txt">
                          <span class="<%= namespace %>-Flow_List-Present-txt-big">1,401</span><span class="<%= namespace %>-Flow_List-Present-txt-small">ポイント</span>
                        </p>
                        <p><a href="<%= sitepath %>campaign/rakuten-wifi-pocket-2b/?l-id=campaign_campaign_rakuten-wifi-pocket-2b#campaign-rule1552" class="c-Link_Txt-inline">詳しくはこちら<span class="c-Icon_Chevron-right"></span></a></p>
                      </div>
                    </div>

                    <div class="<%= namespace %>-Flow_Flex-align c-Theme-Emphasis1 u-Adjust_Mt-16">
                      <p class="c-Txt_Emp-01">【Rakuten UN-LIMIT VIIお申し込み特典】<br>だれでも3,000ポイントプレゼント<br>キャンペーン適用で</p>
                      <div class="">
                        <p class="<%= namespace %>-Flow_List-Present-txt">
                          <span class="<%= namespace %>-Flow_List-Present-txt-big">3,000</span><span class="<%= namespace %>-Flow_List-Present-txt-small">ポイント</span>
                        </p>
                        <p><a href="<%= sitepath %>campaign/start-point/?l-id=campaign_rakuten-wifi-pocket-2b_campaign_start-point#campaign-rule1526" class="c-Link_Txt-inline">詳しくはこちら<span class="c-Icon_Chevron-right"></span></a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
        <ul class="<%= namespace %>-Flow_List c-Flow">
          <li>
            <h3 class="c-Heading_Lv4 u-Adjust_Mb-16">お申し込み・お支払いに必要なものを準備する</h3>
            <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
              <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                <img src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket-2b/img-flow-1.png" alt="お申し込み・お支払いに必要なものを準備する">
              </div>
              <div>
                <div class="u-Adjust_Mt-16">
                  <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc">
                    <li><a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-icon">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                  </ul>
                  <ul class="u-Adjust_Mt-16 c-List_Text-disc">
                    <li>楽天会員ログイン用のユーザID、パスワード</li>
                  </ul>
                  <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Emp-02 c-Txt_Normal-s u-Adjust_Mt-8">※本人確認書類の情報と、楽天会員情報が一致している必要があります。</p>
                  <p class="u-Adjust_Mt-8"><a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Link_Txt-icon u-Adjust_Mt-8">楽天会員情報を確認・変更する<span class="c-Icon_Chevron-right"></span></a></p>
                  <ul class="u-Adjust_Mt-16 c-List_Text-disc">
                    <li><a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-icon">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                    </li>
                  </ul>
                  <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">※ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="<%= sitepath %>faq/detail/00001238/">こちらのご案内ページ</a>を必ず事前にご確認ください。</p>
                  <ul class="u-Adjust_Mt-16 c-List_Text-disc">
                    <li><a href="<%= sitepath %>guide/mnp/" class="c-Link_Txt-icon">ご契約者名義のMNP予約番号（他社から乗り換えの場合）<span class="c-Icon_Chevron-right"></span></a></li>
                  </ul>
                </div>
                <ul class="c-Txt_Cap u-Adjust_Mt-8">
                  <li><span>※</span>未成年者の方のお申し込みに必要な情報、お申し込み方法は<a href="<%= sitepath %>flow/for-minors/">こちらのご案内ページ</a>をご確認ください。</li>
                  <li><span>※</span>Webページにて、楽天モバイル（ドコモ回線・au回線）から移行お手続き後に、Rakuten UN-LIMIT VIIにお申し込みいただく場合、MNP予約番号と本人確認書類はご準備不要です。</li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv4">ショップで楽天モバイルのお申し込みと製品を購入する</h3>
            <div class="l-Media_Grid u-Adjust_Mt-16">
              <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                <img src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket-2b/img-flow-5.png" alt="ショップで楽天モバイルのお申し込みと製品を購入する">
              </div>
              <div>
                <p class="u-Adjust_Mt-8">
                  楽天モバイルショップにて、楽天モバイルのお申し込みとRakuten WiFi Pocket 2Cの購入手続きを行ってください。<br>
                  製品購入時に3,579円値引きが適用されます。<br>
                  【お申し込み期間】店舗（楽天モバイルショップ）：2022年7月1日（金）開店～2023年4月13日（木）閉店
                </p>
                <div class="c-Theme-Emphasis1 u-Adjust_Mt-16 u-Adjust_Align-center">
                  <p class="c-Txt_Emp-01">プランお申し込みとWi-Fi同時購入で</p>
                  <p class="<%= namespace %>-Flow_List-Present-txt <%= namespace %>-Flow_List-Present-txt_Link">
                    本体代<span class="<%= namespace %>-Flow_List-Present-txt-big u-Adjust_Ml-8">4,401</span><span class="<%= namespace %>-Flow_List-Present-txt-small">円</span>
                    <a href="<%= sitepath %>campaign/start-point/?l-id=campaign_rakuten-wifi-pocket-2b_campaign_start-point#campaign-rule1550" class="c-Link_Txt-inline js-scroll">詳しくはこちら<span class="c-Icon_Chevron-right"></span></a>
                  </p>
                </div>
                <div class="<%= namespace %>-Utility_Sp-center u-Adjust_Mt-32">
                  <a href="<%= sitepath %>shop/?l-id=campaign_rakuten-wifi-pocket-2b_shop_3" class="c-Btn_Regular <%= namespace %>-Component_Btn-sp-full"><span>お近くのショップを探す</span></a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv4">最大4,401ポイント還元！</h3>
            <div class="<%= namespace %>-Flow_List-Present_Point_Container u-Adjust_Mt-16">
              <div class="l-Media_Image <%= namespace %>-Flow_List-img <%= namespace %>-Flow_List-img-Point" style="max-width: 260px;">
                <img src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket-2b/img-flow-4.png" alt="ポイント">
              </div>
              <div class="<%= namespace %>-Flow_List-Present_Right">
                <p>製品購入時の3,579円の値引きに加えて、「Rakuten UN-LIMIT VII」の開通が確認された月の翌々月末までに4,401ポイントを付与いたします。</p>
                <div class="<%= namespace %>-Flow_List-Present">
                  <div class="<%= namespace %>-Flow_List-Present_Flex">
                    <div class="<%= namespace %>-Flow_Flex-align c-Theme-Emphasis1 u-Adjust_Mt-16">
                      <p class="c-Txt_Emp-01">Rakuten WiFi Pocket ポイントバック<br>キャンペーン適用で</p>
                      <div class="">
                        <p class="<%= namespace %>-Flow_List-Present-txt">
                          <span class="<%= namespace %>-Flow_List-Present-txt-big">1,401</span><span class="<%= namespace %>-Flow_List-Present-txt-small">ポイント</span>
                        </p>
                        <p><a href="<%= sitepath %>campaign/rakuten-wifi-pocket-2b/?l-id=campaign_campaign_rakuten-wifi-pocket-2b#campaign-rule1552" class="c-Link_Txt-inline">詳しくはこちら<span class="c-Icon_Chevron-right"></span></a></p>
                      </div>
                    </div>

                    <div class="<%= namespace %>-Flow_Flex-align c-Theme-Emphasis1 u-Adjust_Mt-16">
                      <p class="c-Txt_Emp-01">【Rakuten UN-LIMIT VIIお申し込み特典】<br>だれでも3,000ポイントプレゼント<br>キャンペーン適用で</p>
                      <div class="">
                        <p class="<%= namespace %>-Flow_List-Present-txt">
                          <span class="<%= namespace %>-Flow_List-Present-txt-big">3,000</span><span class="<%= namespace %>-Flow_List-Present-txt-small">ポイント</span>
                        </p>
                        <p><a href="<%= sitepath %>campaign/start-point/?l-id=campaign_rakuten-wifi-pocket-2b_campaign_start-point#campaign-rule1526" class="c-Link_Txt-inline">詳しくはこちら<span class="c-Icon_Chevron-right"></span></a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <h2 class="c-Heading_Lv2 u-Adjust_Mt-72" data-ratid="campaign_rakuten-wifi-pocket-2b_scroll-04_faq"
  data-ratevent="appear">よくあるご質問</h2>
  <div class="<%= namespace %>-Step_Accordion u-Adjust_Mt-24">
    <div class="c-Accordion">
      <button id="accordion-faq-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーン対象になるためのエントリーは必要ですか</button>
      <div id="accordion-content-faq-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-1" aria-hidden="false">
        <p>本キャンペーンにエントリーは必要ございません。<br>参加条件を満たしていればキャンペーンの対象となります。</p>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-faq-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーン適用条件を満たしているか確認できますか</button>
      <div id="accordion-content-faq-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-2" aria-hidden="false">
        <p><a href="<%= sitepath %>faq/detail/00001802/">こちら</a>に記載の手順でご確認ください。</p>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-faq-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>製品を2台以上同時に購入した場合、キャンペーンは適用されますか</button>
      <div id="accordion-content-faq-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-5" aria-hidden="false">
        <p>ポイント還元対象製品1台分のみがキャンペーン適用となります。<br>
          購入した製品の特典ポイント数が異なる場合、特典ポイント数の多い製品がキャンペーン対象となります。</p>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-faq-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-6"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ポイント付与前に楽天のサービスを退会した場合どうなりますか</button>
      <div id="accordion-content-faq-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-6" aria-hidden="false">
        <p>＜楽天会員を退会した場合＞<br>ポイント付与前に楽天会員を退会された場合は、ポイント付与されませんので予めご了承ください。<br><br>＜楽天モバイルを解約した場合＞<br>楽天モバイルを解約されていても、キャンペーンルールの「対象者・適用条件」を満たしている場合はポイント付与の対象となります。</p>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-faq-7" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-7"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>「Rakuten UN-LIMIT VII」の申し込みに手数料かかりますか</button>
      <div id="accordion-content-faq-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-7" aria-hidden="false">
        <p>契約事務手数料は無料です。その他お申し込みについては「<a href="<%= sitepath %>guide/commission/">各種手数料</a>」をご確認ください。</p>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-faq-8" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-8"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>解約はいつでもできますか</button>
      <div id="accordion-content-faq-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-8" aria-hidden="false">
        <p>いつでも楽天モバイルの回線を解約できます。最低利用期間・契約解除料はございません。<br>
          月途中で解約した場合、プラン料金は解約までにご利用いただいたデータ利用量に応じてご請求いたします。<br>
          その他解約時における請求についてについては<a href="<%= sitepath %>faq/detail/00001250/">こちら</a>をご確認ください。</p>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-faq-9" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-9"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten Linkを利用しなくても「【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント」は適用されますか</button>
      <div id="accordion-content-faq-9" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-9" aria-hidden="false">
        <p>製品（Rakuten WifiPocket 2BまたはRakuten WifiPocket 2C）と、プランを同時にお申込みいただければ、Link通話の利用がなくても「だれでも3,000ポイントプレゼントキャンペーン（1526）」の3,000ポイントは付与されます。</p>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-faq-10" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-10"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>製品とプランを同日もしくは別日にそれぞれ購入した場合にキャンペーンは適用されますか</button>
      <div id="accordion-content-faq-10" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-10" aria-hidden="false">
        <p>「Rakuten WiFi Pocket ポイントバックキャンペーン（1552）」はキャンペーン期間内に対象製品を購入いただければ適用となります。
「プランお申し込みとWi-Fi同時購入でWi-Fi本体価格4,401円キャンペーン（1550）」と「だれでも3,000ポイントプレゼントキャンペーン（1526）」は、対象製品とプランの購入が同時でない場合適用されません。</p>
      </div>
    </div>
  </div>
</div>


<div class="u-Bg_Monotone97 u-Adjust_Py-48 u-Adjust_Mt-64">
  <%- include('/inc/_about-rakuten-mobile', { baseLId: 'campaign_rakuten-wifi-pocket-2b' }) %>
</div>



<div class="l-System_Container">
  <div class="u-Adjust_Pt-48">
    <p class="u-Adjust_Align-center c-Txt_Emp-02 c-Heading_Lv3">
      本キャンペーンは2023年4月14日をもちまして終了いたしました<br>このページに掲載されている情報は、キャンペーン終了時点のものです。</p>
    <div class="u-Adjust_Align-center u-Adjust_Mt-16">
      <a href="<%= sitepath %>campaign/?l-id=end_campaign" class="c-Link_Txt-inline">開催中のキャンペーンを見る<span
          class="c-Icon_Chevron-right"></span></a>
    </div>
  </div>

  <div class="u-Rat_Appear-height" data-ratid="campaign_rakuten-wifi-pocket-2b_scroll-06_rule-1552" data-ratevent="appear"></div>
  <div class="u-Adjust_Mt-64" id="campaign-rule1552">
    <h2>Rakuten WiFi Pocket ポイントバックキャンペーン</h2>
    <div class="u-Adjust_Mt-24">
      <dl class="c-Dl_Origin <%= namespace %>-campaign-Rule">
        <div>
          <dt>キャンペーンコード</dt>
          <dd>
            <p>1552</p>
            <ul class="c-Txt_Cap u-Adjust_Mt-8">
              <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
            </ul>
          </dd>
        </div>
        <div>
          <dt>キャンペーン期間</dt>
          <dd>
            <p>
              <span class="c-Txt_Emp-01">■ 製品のご購入期間</span><br>
              　- Web　2022年7月1日（金）0:00～2023年4月14日（金）08:59<br>
              　- 店舗（楽天モバイルショップ）　2022年7月1日（金）開店～2023年4月13日（木）閉店<br>
            </p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">
              ※2023年4月1日（土）終了日を変更しました。
            </p>
          </dd>
        </div>
        <div>
          <dt>キャンペーン条件</dt>
          <dd>
            <p class="c-Txt_Emp-02">
            上記各項目の期間内に下記条件を満たした楽天会員の方<br>
            ※お一人様１回限りの適用となります。
            </p>
            <div class="u-Adjust_Mt-16">
              <span class="c-Txt_Emp-01">対象製品いずれかをご購入</span><br>
              <ul class="c-List_Note u-Adjust_Mt-8 u-Adjust_Ml-16">
                <li><span>-</span>Rakuten WifiPocket 2B</li>
                <li><span>-</span>Rakuten WifiPocket 2C</li>
              </ul>
            </div>
          </dd>
        </div>
        <div>
          <dt>キャンペーン特典（楽天ポイント）</dt>
          <dt class="<%= namespace %>-campaign-Rule_Title-sub">特典内容</dt>
          <dd>
            <p class="c-Txt_Emp-01 u-Adjust_Mt-8">1,401ポイントプレゼント</p>
          </dd>
          <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント付与日</dt>
          <dd>
            <p class="c-Txt_Emp-01 u-Adjust_Mt-8">製品ご購入月の翌々月末日ごろに付与</p>
            <ul class="u-Adjust_Mt-16">
              <li class="c-Txt_Cap"><span>※</span>例）2022年7月にすべての条件を達成した場合には、その翌々月である9月末日ごろにポイント付与となります</li>
              <li class="c-Txt_Cap"><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</li>
              <li class="c-Txt_Cap"><span>※</span>権利の譲渡はできません</li>
            </ul>
          </dd>
          <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント有効期間</dt>
          <dd>
            <p class="c-Txt_Emp-01 u-Adjust_Mt-8">ポイント付与日を含めて6カ月</p>
            <ul class="u-Adjust_Mt-16">
              <li class="c-Txt_Cap"><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a></li>
              <li class="c-Txt_Cap"><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
            </ul>
          </dd>
        </div>
        <div>
          <dt>特典適用対象外</dt>
          <dd>
            <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
            <ul class="u-Adjust_Mt-16">
              <li class="c-Txt_Cap"><span>※</span>「Rakuten WiFi Pocket ポイントバックキャンペーン」の適用回数が、おひとり様1回を超える場合は対象外となります</li>
              <li class="c-Txt_Cap"><span>※</span>楽天モバイルショップ、楽天モバイルオンライン以外で購入した場合</li>
              <li class="c-Txt_Cap"><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
              <li class="c-Txt_Cap"><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反した場合</span></li>
              <li class="c-Txt_Cap"><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
            </ul>
          </dd>
        </div>
        <div>
          <dt>注意事項</dt>
          <dd>
            <ul>
              <li class="c-Txt_Cap"><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
              <li class="c-Txt_Cap"><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
              <li class="c-Txt_Cap"><span>※</span>製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
              <li class="c-Txt_Cap"><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
              <li class="c-Txt_Cap"><span>※</span>記載の内容は2023年4月1日（土）時点の情報となります</li>
            </ul>
          </dd>
        </div>
      </dl>
    </div>
  </div>

</div>

<div class="u-Adjust_Mt-48">
  <!-- ReX UX Survey: Mounting point for embedded components -->
  <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
</div>

<footer class="g-Footer u-Adjust_Mt-64">
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
              <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
<!-- ReX UX Survey: Config -->
<script>
window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
</script>
<!-- ReX UX Survey: Script -->
<script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>
</body>
</html>
