<% const pagetitle = "楽天モバイルの料金プランを徹底比較" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/plan/detail/", label:"プランの詳細"}] -%>
<% const namespace = "guide-migration" -%>
<%-
 include('/_header', {
    pagetitle,
    directories,
    description: 'これまでの楽天モバイル（MVNO）料金プラン「スーパーホーダイ」「組み合わせプラン」と、MNOの新料金プラン「Rakuten UN-LIMIT VII（ラクテンアンリミットセブン）」を徹底比較します。',
    noindex: false,
    pathname: filepath,
    canonical_custom: 'https://network.mobile.rakuten.co.jp/fee/saikyo-plan/',
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/guide.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/migration/guide-migration.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<%- include('/include/_breadcrumbs', {
  type: 'head',
  pagetitle,
  directories,
}) %>

<div class="<%= namespace %>-Hero">
  <div class="l-System_Container <%= namespace %>-Hero_Main">
    <p>※表記の金額は特に記載のある場合を除き全て税込です。</p>
    <h1 class="u-Adjust_Pt-16 u-Adjust_Pb-16">
      <picture>
        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/guide/migration/hero-sp-230601.png">
        <source srcset="<%= sitepath %>assets/img/guide/migration/hero-pc-230601.png">
        <img src="<%= sitepath %>assets/img/guide/migration/hero-pc-230601.png" alt="<%= pagetitle %>">
      </picture>
    </h1>
  </div>
</div>

<div class="l-System_Container">

  <div class="<%= namespace %>-Nav">
    <ul>
      <li>
        <a href="#migration-data" data-ratId="migration-data" data-ratEvent="click" data-ratParam="all" class="js-scroll">
          <div><span class="<%= namespace %>-Nav_Font-s">快適データ通信で</span><span>使った分だけ</span><span class="<%= namespace %>-Nav_Font-m">お支払い</span></div>
          <span class="c-Icon_Chevron-down <%= namespace %>-Nav_Down"></span>
        </a>
      </li>
      <li>
        <a href="#migration-freecall" data-ratId="migration-freecall" data-ratEvent="click" data-ratParam="all" class="js-scroll">
          <div><span class="<%= namespace %>-Nav_Font-s">Rakuten Linkアプリ</span><span>国内通話</span><span class="<%= namespace %>-Nav_Font-m">かけ放題！<small class="c-Txt_Normal-ss c-Txt_Weight-normal">※1</small></span></div>
          <span class="c-Icon_Chevron-down <%= namespace %>-Nav_Down"></span>
        </a>
      </li>
      <li>
        <a href="#migration-fee-comparison" data-ratId="migration-fee-comparison" data-ratEvent="click" data-ratParam="all" class="js-scroll">
          <div><span class="<%= namespace %>-Nav_Font-s">新旧</span>プラン・料金<span class="<%= namespace %>-Nav_Font-m">比較</span></div>
          <span class="c-Icon_Chevron-down <%= namespace %>-Nav_Down"></span>
        </a>
      </li>
      <li>
        <a href="#migration-flow" data-ratId="migration-flow" data-ratEvent="click" data-ratParam="all" class="js-scroll">
          <div><span class="<%= namespace %>-Nav_Font-s">かんたん！</span><span>プラン変更</span><span class="<%= namespace %>-Nav_Font-m">手続きの流れ</span></div>
          <span class="c-Icon_Chevron-down <%= namespace %>-Nav_Down"></span>
        </a>
      </li>
      <li>
        <a href="#migration-faq" data-ratId="migration-faq" data-ratEvent="click" data-ratParam="all" class="js-scroll">
          <div>よくある<br>ご質問</div>
          <span class="c-Icon_Chevron-down <%= namespace %>-Nav_Down"></span>
        </a>
      </li>
      <li>
        <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=guide_migration1_ms&mno_migration=1">
          <div>プラン変更<br>お申し込み</div>
        </a>
      </li>
    </ul>
  </div>

  <div class="<%= namespace %>-Cta u-Adjust_Mt-32">
    <p>2014年10月29日～2020年4月8日に楽天モバイル（ドコモ回線・au回線） をご契約のお客様は、こちらからプラン変更いただけます。</p>
      <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=guide_migration1_ms&mno_migration=1" class="c-Btn_Primary <%= namespace %>-Cta_Btn">
        <span>以前からご利用中の楽天モバイルからの</span>
        <span>プラン変更（移行）お申し込み</span>
      </a>
      <p class="u-Adjust_Mt-8 guide-Layout_HideSp"><a href="https://network.mobile.rakuten.co.jp/guide/flow/application/?l-id=guide_migration_guide_flow_application" class="c-Link_Txt-inline">お申し込み方法を見る<span class="c-Icon_Chevron-right"></span></a></p>
  </div>

  <div class="<%= namespace %>-Feature">
    <div id="migration-data" class="<%= namespace %>-Feature_Title-container">
      <h2 class="<%= namespace %>-Feature_Title-1">
        <span>
          <span class="<%= namespace %>-Nav_Font-m-normal">快適データ通信で</span><br><span>毎月、使った分だけ<br class="<%= namespace %>-Utility_Sp">お支払い</span>
        </span>
      </h2>
    </div>
    <ul class="c-Flow">
      <li class="u-Adjust_Align-center c-Theme-Light <%= namespace %>-Feature_Flow-first">
        <div class="<%= namespace %>-Feature_Flow-label1">これまでの</div>
        <p class="u-Adjust_Mt-8 u-Adjust_Mb-8">「<a href="https://mobile.rakuten.co.jp/fee/super_hodai/?l-id=guide_migration_fee_super_hodai" target="_blank" class="c-Link_Txt-inline">スーパーホーダイ<span class="c-Icon_New-window-l"></span></a>」「<a href="https://mobile.rakuten.co.jp/fee/alacarte/?l-id=guide_migration_fee_alacarte" target="_blank" class="c-Link_Txt-inline">組み合わせプラン<span class="c-Icon_New-window-l"></span></a>」は....</p>
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/guide/migration/img-01-sp.png?210820">
          <source srcset="<%= sitepath %>assets/img/guide/migration/img-01-pc.png?210820">
          <img src="<%= sitepath %>assets/img/guide/migration/img-01-pc.png?210820" width="903" alt="月によってギガを全然使わなかったり使いすぎて低速になったり...毎月おトクに使いたい！">
        </picture>
      </li>
      <li>
        <div class="<%= namespace %>-Feature_Flow-label2">NEW</div>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
          <p class="c-Txt_Normal-m c-Txt_Emp-02">Rakuten最強プランなら</p>
          <h3 class="u-Adjust_Mt-8">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/migration/title-01-sp.png?210825">
              <source srcset="<%= sitepath %>assets/img/guide/migration/title-01-pc.png?210820">
              <img src="<%= sitepath %>assets/img/guide/migration/title-01-pc.png?210820" width="536" alt="毎月のデータ利用量でお支払い金額が決まる">
            </picture>
          </h3>
          <div class="u-Adjust_Mt-24">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/migration/plan-01-sp-240430.png" width="100%">
              <source srcset="<%= sitepath %>assets/img/guide/migration/plan-01-pc-240430.png">
              <img src="<%= sitepath %>assets/img/guide/migration/plan-01-pc-240430.png" width="830" height="400" alt="使わなければ勝手に安くなるおトクなワンプラン。「最強家族プログラム」適用後100円/月（税別）引きで、20GB超過後無制限※2,880円/月（税込3,168円）、3GB超過後20GBまで1,880円/月（税込2,068円）、3GBまで880円/月（税込968円）">
            </picture>
          </div>
          <p class="c-Txt_Cap u-Adjust_Mt-8">*公平なサービス提供または環境により速度低下する場合あり※通話料等別</p>
          <div class="<%= namespace %>-Cta">
            <a href="<%= sitepath %>fee/saikyo-plan/?l-id=guide_migration1_fee_saikyo-plan1" class="c-Btn_Secondly <%= namespace %>-Cta_Btn">
              <span>Rakuten最強プランの詳細を見る</span>
            </a>
          </div>
        </div>
      </li>
    </ul>

    <ul class="<%= namespace %>-Feature_Flow-border u-Adjust_Mt-32 c-Flow">
      <li class="u-Adjust_Align-center">
        <p class="<%= namespace %>-Feature_Flow-txt1"><span>自社回線だから混み合う時間帯も</span>速度制限もなし<br>4G＋5Gも使える！</p>
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/guide/migration/img-02-sp.png?210820">
          <source srcset="<%= sitepath %>assets/img/guide/migration/img-02-pc.png?210820">
          <img src="<%= sitepath %>assets/img/guide/migration/img-02-pc.png?210820" width="904" alt="さらに自社回線だから混み合う時間帯も速度制限もなし">
        </picture>
        <p class="c-Txt_Cap u-Adjust_Mt-24">※楽天基地局に接続時。公平にサービスを提供するため通信速度の制御を行うことあり。</p>

        <div class="u-Adjust_Mt-32">
          <p>楽天ポイントが断然貯まる！</p>
          <h3 class="c-Heading_Lv3 u-Adjust_Mt-8">楽天市場のお買い物がポイントアップ</h3>
          <p class="u-Adjust_Mt-16">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/guide/migration/img-15-sp-20240401.png">
              <img src="<%= sitepath %>assets/img/guide/migration/img-15-pc-20240401.png" width="856" alt="楽天モバイルご利用でポイント毎日全員5倍※ その他グループサービスと合わせてポイント最大17倍※">
            </picture>
          </p>
          <div class="u-Adjust_Align-center u-Adjust_Mt-16">
            <a href="<%= sitepath %>campaign/spu/?l-id=guide_migration_campaign_spu" class="c-Btn_Regular">SPUの詳細を見る</a>
          </div>
          <div class="u-Adjust_Mt-16 u-Adjust_Align-left">
            <p class="c-Txt_Cap">※ 毎月の獲得上限ポイント数は2,000ポイント。期間限定ポイントでの付与。</p>
            <p class="c-Txt_Cap">※ SPUによる楽天モバイル対象プランご契約者特典+4倍とその他グループサービスご利用で最大13倍の合計値です。達成条件、獲得ポイント上限あり。期間限定ポイントでの付与。<a href="https://event.rakuten.co.jp/campaign/point-up/everyday/point/" target="_blank" class="c-Link_Txt-inline">SPUの詳細<span class="c-Icon_New-window-l"></span></a>をご確認ください。
              ※その他条件の<a href="/feature/why-rakuten-mobile/#notice" class="c-Link_Txt-inline">詳細はこちら</a>
            </p>
          </div>
        </div>
      </li>
    </ul>

    <div class="u-Adjust_Mt-16 u-Adjust_Align-right">
      <a href="#top" class="c-Link_Txt-inline js-scroll"><span class="c-Icon_Arrow-up-l"></span>トップに戻る</a>
    </div>

    <div id="migration-freecall" class="<%= namespace %>-Feature_Title-container u-Adjust_Mt-64">
      <h2 class="<%= namespace %>-Feature_Title-2">国内通話かけ放題！<span class="c-Txt_Cap c-Txt_Emp-02 c-Txt_Weight-normal">※1</span></h2>
    </div>
    <p class="c-Txt_Normal-ss u-Adjust_Align-center c-Txt_Emp-02 c-Txt_Weight-normal">※Rakuten Linkアプリ利用時</p>
    <ul class="c-Flow">
      <li class="u-Adjust_Align-center c-Theme-Light <%= namespace %>-Feature_Flow-first">
        <div class="<%= namespace %>-Feature_Flow-label1">これまでの</div>
        <p class="u-Adjust_Mt-8 u-Adjust_Mb-8">「<a href="https://mobile.rakuten.co.jp/fee/super_hodai/?l-id=guide_migration_fee_super_hodai" target="_blank" class="c-Link_Txt-inline">スーパーホーダイ<span class="c-Icon_New-window-l"></span></a>」「<a href="https://mobile.rakuten.co.jp/fee/alacarte/?l-id=guide_migration_fee_alacarte" target="_blank" class="c-Link_Txt-inline">組み合わせプラン<span class="c-Icon_New-window-l"></span></a>」は....</p>
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/guide/migration/img-04-sp.png?210820">
          <source srcset="<%= sitepath %>assets/img/guide/migration/img-04-pc.png?210820">
          <img src="<%= sitepath %>assets/img/guide/migration/img-04-pc.png?210820" width="903" alt="スーパーホーダイは10分かけ放題。もっと話したい！楽天でんわかけ放題オプション月額850円分を節約したいな...。">
        </picture>
      </li>
      <li>
        <div class="<%= namespace %>-Feature_Flow-label2">NEW</div>
        <div class="u-Adjust_Align-center u-Adjust_Mt-8">
          <p class="c-Txt_Normal-m c-Txt_Emp-02">Rakuten最強プランなら</p>
          <h3 class="u-Adjust_Mt-8 guide-migration-Feature_Flow-h3posi">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/guide/migration/title-02-sp.png">
              <source srcset="<%= sitepath %>assets/img/guide/migration/title-02-pc.png?210820">
              <img src="<%= sitepath %>assets/img/guide/migration/title-02-pc.png?210820" width="800" alt="Rakuten Linkアプリ利用で国内通話かけ放題※1">
            </picture>
          </h3>
          <div class="l-Media_List-2">
            <div>
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/guide/migration/img-05.png?210820" alt="">
              </div>
              <div class="u-Adjust_Align-left">
                <ul class="c-List_Text-disc u-Adjust_Mt-8">
                  <li>Rakuten Linkを利用していないスマホや固定電話への通話もかけ放題</li>
                  <li>海外から国内への通話もかけ放題<small>※3</small></li>
                </ul>
                <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※アプリを利用しない場合は通常の通話料金（30秒20円（税込22円））がかかります。</p>
              </div>
            </div>
            <div>
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/guide/migration/img-14.png?210820" alt="">
              </div>
              <div class="u-Adjust_Align-left">
                <ul class="c-List_Text-disc u-Adjust_Mt-8">
                  <li>Rakuten Linkアプリの通話やSMSのデータ利用量は、月々のプラン料金のデータ利用量にはカウントされない</li>
                  <li>高速データ容量を消費せず、速度制限なくご利用可能</li>
                </ul>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※予告なく変更になる場合があります。</p>
                <p class="c-Txt_Cap">※Rakuten Linkアプリ以外からのSMS送受信はAndroidのみ。</p>
              </div>
            </div>
          </div>

          <div class="u-Adjust_Mt-24">
            <p class="<%= namespace %>-Feature_Detail-app">
              Rakuten Linkアプリとは？
            </p>
            <div class="c-Box_App <%= namespace %>-Feature_Detail-appbox u-Adjust_Align-left">
              <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rakuten-link.png" alt="Rakuten Link"></div>
              <div class="c-Box_App-txt">
                <p>無料通話、無料メッセージやグループメッセージ、ニュースの閲覧や、毎日ポイントが貯まるミッション機能が加わった、楽天モバイルオリジナルの次世代メッセージサービスアプリです。楽天でんわアプリの代わりとして、ご利用いただけます。</p>
                <a href="<%= sitepath %>service/rakuten-link/?l-id=guide_migration_service_rakuten-link" class="c-Btn_Regular u-Adjust_Mt-16">
                  Rakuten Linkアプリの詳細を見る
                </a>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">
                  ※1 国内通話かけ放題（Rakuten Linkアプリ使用時）はプランに含まれる。アプリ未使用時30秒20円（税込22円）。一部対象外番号あり。<br>
                  ※3 Rakuten Linkアプリ使用時。通話料には消費税相当額は加算されません。海外の対象国と地域からのみ利用可能。その他の地域に関してはWi-Fi接続中のみ利用可能。対象エリアおよび条件は変更する場合あり。<a href="<%= sitepath %>service/global/overseas/#accordion-1">対象エリア</a>をご確認ください。また、OS標準の電話アプリを利用した場合、海外の対象国と地域でのみ国・地域別従量課金で利用可能。なお、iOSの場合、Rakuten Linkアプリでは着信できないため、 iOS標準の電話アプリでの着信となり、海外での着信も国・地域別従量課金となります。
                </p>
              </div>
            </div>
          </div>

        </div>
      </li>
    </ul>

    <div class="u-Adjust_Mt-32">
      <a href="<%= sitepath %>service/standard-free-call/?l-id=guide_migration_service_standard-free-call" class="c-Banner_Hover-act">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/bnr/bnr-standard-free-call-328-185-230720.png">
          <img src="<%= sitepath %>assets/img/bnr/bnr-standard-free-call-1032-160-230720.png" width="1032" height="160" alt="15分（標準）通話かけ放題 ※15分超過後は30秒20円（税込22円） ※一部対象外番号あり">
        </picture>
      </a>
    </div>

    <div class="<%= namespace %>-Cta">
      <a href="<%= sitepath %>fee/saikyo-plan/?l-id=guide_migration_fee_saikyo-plan2" class="c-Btn_Secondly <%= namespace %>-Cta_Btn">
        <span>Rakuten最強プランの詳細を見る</span>
      </a>
      <p class="u-Adjust_Mt-48">2014年10月29日～2020年4月8日に楽天モバイル（ドコモ回線・au回線） をご契約のお客様は、こちらからプラン変更いただけます。</p>
      <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=guide_migration2_ms&mno_migration=1" class="c-Btn_Primary <%= namespace %>-Cta_Btn">
        <span>以前からご利用中の楽天モバイルからの</span>
        <span>プラン変更（移行）お申し込み</span>
      </a>
      <div class="u-Adjust_Mt-16">
        <p class="u-Adjust_Mt-8"><a href="https://network.mobile.rakuten.co.jp/guide/flow/application/?l-id=guide_migration_guide_flow_application" class="c-Link_Txt-inline">お申し込み方法を見る<span class="c-Icon_Chevron-right"></span></a></p>
      </div>
    </div>
    <div class="u-Adjust_Mt-16 u-Adjust_Align-right">
      <a href="#top" class="c-Link_Txt-inline js-scroll"><span class="c-Icon_Arrow-up-l"></span>トップに戻る</a>
    </div>
  </div>


  <div class="<%= namespace %>-Comparison" id="migration-fee-comparison">
    <div id="migration-plan" class="<%= namespace %>-Feature_Title-container u-Adjust_Mt-64 guide-migration-Feature">
      <h2 class="<%= namespace %>-Feature_Title-3">新旧プラン・料金比較</h2>
    </div>
    <h3 class="c-Heading_Lv3 u-Adjust_Mt-24">スーパーホーダイとの比較</h3>
    <p class="u-Adjust_Mt-24"><a href="#comparison2" class="js-scroll c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>組み合わせプランとの比較はこちら</a></p>

    <%- include('/include/guide/migration/_comparison1') %>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-48 js-scroll" id="comparison2">組み合わせプランとの比較</h3>

    <%- include('/include/guide/migration/_comparison2') %>

    <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
      <h4 class="c-Heading_Lv4">「スーパーホーダイ」「組み合わせプラン」「コミコミプラン」からのプラン変更の場合</h4>
      <div class="u-Adjust_Mt-16">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/guide/migration/txt-06-sp.png?200824">
          <source srcset="<%= sitepath %>assets/img/guide/migration/txt-06-pc.png?200824">
          <img src="<%= sitepath %>assets/img/guide/migration/txt-06-pc.png?200824" width="589" alt="現在ご契約中の料金プランの契約解除料 MNP転出手数料が0円">
        </picture>
      </div>
    </div>

    <div class="<%= namespace %>-Cta">

      <p class="u-Adjust_Mt-48">2014年10月29日～2020年4月8日に楽天モバイル（ドコモ回線・au回線） をご契約のお客様は、こちらからプラン変更いただけます。</p>


      <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=guide_migration3_ms&mno_migration=1" class="c-Btn_Primary <%= namespace %>-Cta_Btn">
        <span>以前からご利用中の楽天モバイルからの</span>
        <span>プラン変更（移行）お申し込み</span>
      </a>
      <p class="u-Adjust_Mt-8 guide-Layout_HideSp"><a href="https://network.mobile.rakuten.co.jp/guide/flow/application/?l-id=guide_migration_guide_flow_application" class="c-Link_Txt-inline">お申し込み方法を見る<span class="c-Icon_Chevron-right"></span></a></p>
    </div>


    <div class="u-Adjust_Mt-48 u-Adjust_Align-center">
      <h3 class="c-Heading_Lv3  c-Txt_Emp-02">楽天回線にプラン変更（移行）する方に<br>おすすめのキャンペーン</h3>
  </div>
    <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
      <h4 class="c-Heading_Lv4">iPhoneをご利用のお客様におすすめ！</h4>
  </div>
    <div class="u-Adjust_Align-center u-Adjust_Mt-8">
      <a href="<%= sitepath %>campaign/iphone-point/?l-id=guide_migration_campaign_iphone-point">
        <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-iphone-point-343-108-240517.png" width="686" height="216">
        <img src="<%= sitepath %>assets/img/bnr/bnr-iphone-point-1032-160-240517.png" width="1032" height="160" alt="対象iPhoneを一括または24回払いで購入＆楽天モバイルへ初めて申し込み＆他社から電話番号そのまま乗り換えで最大32,000円相当おトク！" class="<%= namespace %>-Utility_Link-img" loading="lazy">
        </picture>
      </a>
    </div>
    <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
      <h4 class="c-Heading_Lv4">Androidをご利用のお客様におすすめ！</h4>
  </div>
    <div class="u-Adjust_Align-center u-Adjust_Mt-8">
      <a href="<%= sitepath %>campaign/start-point/?l-id=guide_migration_campaign_start-point1">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-start-point-343-108-240522.png" width="686" height="216">
          <img src="<%= sitepath %>assets/img/bnr/bnr-start-point-1032-160-240522.png" alt="楽天モバイルへ初めてお申し込み＋他社から電話番号そのまま乗り換え＋対象のAndroid製品をご購入いただくと最大12,000ポイント還元！他社から乗り換え以外の方でも最大8,000ポイント還元中！" width="1032" height="160" loading="lazy">
        </picture>
      </a>
    </div>

    <ul class="<%= namespace %>-List c-Txt_Cap c-List_Cap-wide u-Adjust_Mt-32">
      <li><span>※2</span>公平なサービス提供のため速度制限する場合あり。環境により速度低下する場合あり</li>
      <li><span>※4</span>Rakuten Linkアプリ未使用時は3円（税込3.3円）/ 70文字（全角）。iOSの場合、Rakuten Linkアプリ以外からのSMSの送受信はできません。iOS標準のメッセージアプリでの送受信となります。</li>
      <li><span>※5</span>製品代、オプション料、通話料等は別費用</li>
      <li><span>※6</span>最大1Mbpsで使用時、動画再生・アプリダウンロード等では、時間がかかる場合あり。通信速度はベストエフォート（規格上の最大速度）であり、実効速度は通信環境・状況により変動します。</li>
      <li><span>※7</span>5GB超過後は最大1Mbps。超過後は1GBあたり600円（税込660円）のデータチャージにて、高速通信の利用が可能。最大1Mbpsで使用時、動画再生・アプリダウンロード等で、時間がかかる場合あり。通信速度はベストエフォートであり、実効速度は通信環境・状況により変動します。「Rakuten最強プラン」でデータ無制限もしくは使い放題となるのは、20GB超過後の2,980円（税込3,278円）の場合となります。</li>
      <li><span>※8</span>2GB超過後は最大128kbps。超過後は1GBあたり500円（不課税）のデータチャージにて、高速通信の利用が可能。海外の対象国と地域以外は、Wi-Fi接続時のみ利用可能。対象エリア及び条件は変更する場合あり。<a href="<%= sitepath %>area/?l-id=guide_migration_area_5g-area">対象エリア</a>をご確認ください。「Rakuten最強プラン」でデータ無制限もしくは使い放題となるのは、20GB超過後の2,980円（税込3,278円）の場合となります。</li>
      <li><span>※9</span>国内通話のみ。「楽天でんわアプリ」を使用、もしくは「003768」を通話番号の先頭に付けて発信した場合。10分以降は30秒10円（税込11円）。楽天でんわ未使用時は30秒20円（税込22円）。一部対象外番号あり。</li>
      <li><span>※10</span>通話・通信料には消費税相当額は加算されません。</li>
      <li><span>※11</span>海外では、通常の電話を利用した発着信、SMSの送受信はできませんので、Rakuten Linkをご利用ください。</li>
      <li><span>※12</span>オプションサービス「国際通話かけ放題」加入時。オプションに加入しない場合、国別の従量課金。Rakuten Linkアプリ使用時。通話料には消費税相当額は加算されません。海外の対象国と地域からのみ利用可能。その他の地域に関してはWi-Fi接続中のみ利用可能。対象エリアおよび条件は変更する場合あり。<a href="<%= sitepath %>area/?l-id=guide_migration_area_5g-area">対象エリア</a>をご確認ください。また、OS標準の電話アプリを利用した場合、海外の対象国と地域でのみ国・地域別従量課金で利用可能。なお、iOSの場合、Rakuten Linkアプリでは着信できないため、 iOS標準の電話アプリでの着信となり、海外での着信も国・地域別従量課金となります。</li>
      <li><span>※13</span>ドコモ回線の対象エリア等はNTTドコモのサイト「<a href="https://www.nttdocomo.co.jp/service/world/" target="_blank" class="c-Link_Txt-inline">海外でつかう・海外へかける<span class="c-Icon_New-window-l"></span></a>」をご確認ください。</li>
      <li><span>※14</span>国際SMSの送信は海外の対象国と地域以外：100円（不課税）／70文字（全角）。OS標準アプリ利用時、100円（不課税）／70文字（全角）。海外でご利用になる場合は、海外の対象国と地域からのみ利用いただけます。</li>
      <li><span>※15</span>データ容量（3.1GB/5GB/10GB/20GB）を超えた場合、通信速度が最大200kbpsに制限されます。</li>
      <li><span>※16</span>オプションサービス「楽天でんわ10分かけ放題 by楽天モバイル」加入時。</li>
      <li><span>※17</span>au回線の対象エリア等はauのサイト「<a href="https://www.au.com/mobile/service/global/" target="_balnk" class="c-Link_Txt-inline">海外・国際サービス<span class="c-Icon_New-window-l"></span></a>」をご確認ください。</li>
    </ul>
    <div class="u-Adjust_Mt-16 u-Adjust_Align-right">
      <a href="#top" class="c-Link_Txt-inline js-scroll"><span class="c-Icon_Arrow-up-l"></span>トップに戻る</a>
    </div>
  </div>


  <div class="<%= namespace %>-Flow" id="migration-flow">
    <h2 class="c-Heading_Lv2 u-Adjust_Align-center">
      <picture>
        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/guide/migration/title-03-sp.png?210820">
        <source srcset="<%= sitepath %>assets/img/guide/migration/title-03-pc.png?210820">
        <img src="<%= sitepath %>assets/img/guide/migration/title-03-pc.png?210820" width="589" alt="プラン変更手続きの流れ">
      </picture>
    </h2>
    <div class="c-Tab js-Tab u-Adjust_Mt-24">
      <ul class="c-Tab_Items" role="tablist">
        <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">今のスマホをそのまま使う</li>
        <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">新しくスマホを購入する</li>
      </ul>
      <div class="<%= namespace %>-Flow_Tab-panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
        <ul class="c-Flow">
          <li>
            <h3 class="c-Heading_Lv3">1. お持ちのスマホが楽天回線対応製品かを確認する</h3>
            <div class="l-Media_Grid u-Adjust_Mt-24">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/guide/migration/img-06.png?210820" alt="">
              </div>
              <div>
                <p>楽天回線対応製品をお持ちのお客様は、今お使いの製品のSIMを差し替えるだけ※で、ご利用いただけます。</p>
                <p class="u-Adjust_Mt-16 c-Txt_Emp-02 c-Txt_Weight-normal">ご利用可能な製品を必ず事前にご確認いただき、お申し込みください。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※eSIMの場合、SIMの入れ替えは不要で、別途設定が必要です。</p>
                <div class="u-Adjust_Mt-24">
                  <a href="<%= sitepath %>product/byod/?l-id=guide_migration_product_byod" class="c-Btn_Secondly">
                    利用できるスマホを確認する
                  </a>
                </div>
                <div class="u-Adjust_Mt-24">
                  <a href="<%= sitepath %>guide/iphone/?l-id=guide_migration_guide_iphone" class="c-Btn_Regular">
                    楽天回線でiPhoneを使う
                  </a>
                </div>
              </div>
            </div>
            <div class="c-Theme-Light u-Adjust_Mt-24">
              <h4 class="c-Heading_Lv4">メンバーズステーションでの確認方法</h4>
              <div class="l-Media_Grid u-Adjust_Mt-24">
                <div class="l-Media_Image">
                  <img src="<%= sitepath %>assets/img/guide/migration/img-07.png" alt="">
                </div>
                <div>
                  <p>「楽天回線へのプラン変更（移行）」画面で、過去に購入された楽天回線対応製品をご確認いただけます。</p>
                  <p class="u-Adjust_Mt-24">
                    <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=guide_migration4_ms&mno_migration=1" class="c-Link_Txt-inline">メンバーズステーションへ<span class="c-Icon_Chevron-right"></span></a>
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="<%= namespace %>-Flow_Tab-panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
        <ul class="c-Flow">
          <li>
            <h3 class="c-Heading_Lv3">1. 楽天回線対応製品を確認する</h3>
            <div class="l-Media_Grid u-Adjust_Mt-24">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/guide/migration/img-11.png" alt="">
              </div>
              <div>
                <p>事前に製品ラインアップをご確認の上、プラン変更（移行）お手続き後に、お申し込み画面でご購入ください。</p>
                <div class="u-Adjust_Mt-24">
                  <a href="<%= sitepath %>product/?l-id=guide_migration_product" class="c-Btn_Secondly">
                    楽天回線対応製品を確認する
                  </a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="c-Tab js-Tab u-Adjust_Mt-64">
      <ul class="c-Tab_Items" role="tablist">
        <li class="c-Tab_Item" id="tab-menu3" role="tab" aria-selected="true" aria-controls="tab-content3">Webでお申し込み</li>
        <li class="c-Tab_Item" id="tab-menu4" role="tab" aria-selected="false" aria-controls="tab-content4">ショップでお申し込み</li>
      </ul>
      <div class="<%= namespace %>-Flow_Tab-panel" id="tab-content3" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu3">
        <ul class="<%= namespace %>-Flow_List">
          <li>
            <h3 class="c-Heading_Lv3">2. メンバーズステーションで、プラン変更（移行）の申し込みを行う</h3>
            <div class="l-Media_Grid u-Adjust_Mt-24">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/guide/migration/img-08.png?210401-01" alt="">
              </div>
              <div>
                <p>「メンバーズステーションに進む」ボタンをタップすると、メンバーズステーション「楽天回線への移行」画面に移動します。画面の案内にしたがって移行のお申し込みを行い、その後Rakuten最強プランのお申し込みにお進みください。</p>
                <div class="u-Adjust_Mt-24">
                  <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=guide_migration5_ms&mno_migration=1" class="c-Btn_Primary">
                    メンバーズステーションに進む
                  </a>
                </div>
                <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/mnp/migration/?l-id=guide_migration_guide_mnp_migration" class="c-Link_Txt">楽天モバイル（楽天回線）へのプラン変更（移行）方法を確認する</a></p>
                <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>flow/mvno-user-registration/?l-id=guide_migration_flow_mvno-user-registration" class="c-Link_Txt">利用者登録でご利用中の方のプラン変更（移行）方法を確認する</a></p>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3. お申し込み完了</h3>
            <div class="l-Media_Grid u-Adjust_Mt-24">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/guide/migration/img-09.png?210820" alt="">
              </div>
              <div>
                <p>お申し込みが完了しましたら、[楽天モバイル] お申し込み完了のお知らせ メールをお送りします。発送状況は「my 楽天モバイル」でご確認いただけます。</p>
                <div class="u-Adjust_Mt-24">
                  <a href="<%= ecarepath %>my-rakuten-mobile?l-id=guide_migration" class="c-Btn_Primary">
                    my 楽天モバイル
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">4. 初期設定を行い、ご利用開始</h3>
            <div class="l-Media_Grid u-Adjust_Mt-24">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/guide/migration/img-10.png?210820" alt="">
              </div>
              <div>
                <p>製品／SIMカードがお手元に届きましたら初期設定を行い、ご利用を開始してください。</p>
                <div class="u-Adjust_Mt-24">
                  <a href="<%= sitepath %>guide/setting/?l-id=guide_migration_guide_setting" class="c-Btn_Regular">
                    初期設定方法を確認する
                  </a>
                </div>
                <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>faq/detail/00001494/?l-id=guide_migration_faq_detail_00001494">発送・お届けについてよくあるお問い合わせ	</a></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="<%= namespace %>-Flow_Tab-panel" id="tab-content4" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu4">
        <ul class="<%= namespace %>-Flow_List">
          <li>
            <h3 class="c-Heading_Lv3">２. 必要な情報を準備し、楽天モバイルショップでプラン変更（移行）手続きを行う</h3>
            <p class="u-Adjust_Mt-16">一部の対象ショップではQRコードをご持参いただくだけで、MNPの予約番号発行不要でかんたんにプラン変更（移行）ができます。まずは、QRコード対応の楽天モバイルショップ（店舗）をご確認ください。</p>
            <div class="u-Adjust_Mt-24">
              <a href="<%= sitepath %>shop/migration-qr-shop/" class="c-Btn_Regular-large"><span>QRコード対応の楽天モバイルショップを確認する</span></a>
            </div>
            <p class="u-Adjust_Mt-24"><a href="#anc_01" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>QRコード対応ショップでプラン変更（移行）する</a></p>
            <p class="u-Adjust_Mt-16"><a href="#anc_02" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>QRコード未対応のショップでプラン変更（移行）する</a></p>
            <div class="c-Theme-Light u-Adjust_Mt-40">
              <h4 id="anc_01" class="c-Heading_Lv4">QRコード対応ショップでプラン変更（移行）する</h4>
              <div class="l-Media_Grid u-Adjust_Mt-24">
                <div class="l-Media_Image">
                  <img src="<%= sitepath %>assets/img/guide/migration/img-shop-01.png" alt="">
                </div>
                <div>
                  <p>メンバーズステーショントップページからプラン変更（移行）手続き画面に進みます。</p>
                  <div class="u-Adjust_Mt-32">
                    <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=guide_migration7_ms&mno_migration=1" class="c-Btn_Primary"><span>メンバーズステーションに進む</span></a>
                  </div>
                  <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>flow/mvno-user-registration/?l-id=guide_migration_flow_mvno-user-registration" class="c-Link_Txt-inline">利用者登録でご利用中の方のプラン変更（移行）方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                </div>
              </div>
              <div class="u-Adjust_Mt-24 u-Adjust_Align-center c-Txt_Normal-ll">
                <span class="c-Icon_Arrow-down-l"></span>
              </div>
              <div class="l-Media_Grid u-Adjust_Mt-24">
                <div class="l-Media_Image">
                  <img src="<%= sitepath %>assets/img/guide/migration/img-shop-02.png" alt="">
                </div>
                <div>
                  <p>「楽天回線へのプラン変更（移行）」画面の内容をご確認いただき、ページ中段の<span class="c-Txt_Emp-02">「楽天モバイルショップ（店舗）で楽天回線へプラン変更（移行）する」からQRコードを発行の上、お早めにショップにご来店ください。</span></p>
                </div>
              </div>
              <div class="u-Adjust_Mt-24 u-Adjust_Align-center c-Txt_Normal-ll">
                <span class="c-Icon_Arrow-down-l"></span>
              </div>
              <div class="l-Media_Grid u-Adjust_Mt-24">
                <div class="l-Media_Image">
                  <img src="<%= sitepath %>assets/img/guide/migration/img-shop-03.png" alt="">
                </div>
                <div>
                  <p><span class="c-Txt_Emp-02">ご来店の際は以下を必ずご持参ください</span></p>
                  <p class="u-Adjust_Mt-8">Rakuten最強プランへのプラン変更（移行）でご来店された旨をR CREW（店舗スタッフ）にお伝えの上、お手続きください。</p>
                  <p class="c-Txt_Cap c-Txt_Emp-02">
                    ※QRコードを発行する場合、MNP予約番号は不要です
                  </p>
                  <ul class="c-List_Text-disc u-Adjust_Mt-24">
                    <li>上記で発行したQRコード</li>
                    <li>本人確認書類</li>
                    <li>現在のご契約で利用している、楽天会員ユーザID、パスワード</li>
                    <li>ご利用中のスマートフォン</li>
                  </ul>
                  <p class="c-Txt_Cap">
                    ※店頭でSIMカードを差し替えます。
                  </p>
                  <div class="guide-migration-Flow_Twin-mini-wrap">
                    <div class="u-Adjust_Mt-24">
                      <a href="<%= sitepath %>shop/migration-qr-shop/" class="c-Btn_Regular guide-migration-Flow_Twin-mini-btn"><span>ショップを予約する</span></a>
                    </div>
                    <div class="u-Adjust_Mt-24">
                      <a href="<%= sitepath %>shop/guide/" class="c-Btn_Regular guide-migration-Flow_Twin-mini-btn"><span>ご来店の前に</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-Theme-Light u-Adjust_Mt-32">
              <h4 id="anc_02" class="c-Heading_Lv4">QRコード未対応のショップでプラン変更（移行）する</h4>
              <div class="l-Media_Grid u-Adjust_Mt-24">
                <div class="l-Media_Image">
                  <img src="<%= sitepath %>assets/img/guide/migration/img-shop-04.png" alt="">
                </div>
                <div>
                  <p>メンバーズステーショントップページの「MNP予約番号発行・確認」をタップし、MNP予約番号を発行してください。MNP予約番号発行手数料は発生しません。</p>
                  <div class="u-Adjust_Mt-32">
                    <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=guide_migration7_ms&mno_migration=1" class="c-Btn_Primary"><span>メンバーズステーションに進む</span></a>
                  </div>
                  <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>flow/mvno-user-registration/?l-id=guide_migration_flow_mvno-user-registration" class="c-Link_Txt-inline">利用者登録でご利用中の方のプラン変更（移行）方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                </div>
              </div>
              <div class="u-Adjust_Mt-24 u-Adjust_Align-center c-Txt_Normal-ll">
                <span class="c-Icon_Arrow-down-l"></span>
              </div>
              <div class="l-Media_Grid u-Adjust_Mt-24">
                <div class="l-Media_Image">
                  <img src="<%= sitepath %>assets/img/guide/migration/img-shop-05.png" alt="">
                </div>
                <div>
                  <p><span class="c-Txt_Emp-02">ご来店の際は以下を必ずご持参ください</span></p>
                  <p class="u-Adjust_Mt-8">Rakuten最強プランへのプラン変更（移行）でご来店された旨をR CREW（店舗スタッフ）にお伝えの上、お手続きください。</p>
                  <ul class="c-List_Text-disc u-Adjust_Mt-24">
                    <li>上記で発行したMNP予約番号</li>
                    <li>本人確認書類</li>
                    <li>現在のご契約で利用している、楽天会員ユーザID、パスワード<br>
                      <a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Link_Txt-inline-icon">楽天会員情報を確認・変更する<span class="c-Icon_New-window-l u-Adjust_Pl-16"></span></a></li>
                    <li>ご利用中のスマートフォン</li>
                  </ul>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">
                    ※店頭でSIMカードを差し替えます。
                  </p>
                  <div class="guide-migration-Flow_Twin-mini-wrap">
                    <div class="u-Adjust_Mt-24">
                      <a href="<%= sitepath %>shop/" class="c-Btn_Regular guide-migration-Flow_Twin-mini-btn"><span>お近くのショップを探す</span></a>
                    </div>
                    <div class="u-Adjust_Mt-24">
                      <a href="<%= sitepath %>shop/guide/" class="c-Btn_Regular guide-migration-Flow_Twin-mini-btn"><span>ご来店の前に</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <!-- <li>
            <h3 class="c-Heading_Lv3">3. 楽天モバイルショップでお手続きを行う</h3>
            <div class="l-Media_Grid u-Adjust_Mt-24">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/guide/migration/img-13.png?210820" alt="">
              </div>
              <div>
                <p>Rakuten UN-LIMIT VIIへのプラン変更（移行）でご来店された旨をR CREW（店舗スタッフ）にお伝えの上、お手続きください。</p>
                <p class="u-Adjust_Mt-8 c-Txt_Emp-02">※ご来店の際は、以下を必ずご持参ください。</p>
                <ul class="c-List_Text-disc u-Adjust_Mt-8">
                  <li>2.で発行したMNP予約番号</li>
                  <li><a href="<%= sitepath %>guide/verify/?l-id=guide_migration_guide_verify">本人確認書類</a></li>
                  <li>現在のご契約で利用している、楽天会員ユーザID、パスワード</li>
                </ul>
                <p class="u-Adjust_Mt-8">
                  <a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" target="blank" class="c-Link_Txt-inline">楽天会員情報を確認・変更する<span class="c-Icon_New-window-l"></span></a>
                </p>
                <ul class="c-List_Text-disc u-Adjust_Mt-8">
                  <li>ご利用中のスマートフォン</li>
                </ul>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※店頭でSIMカードを差し替えます。</p>

                <div class="u-Adjust_Mt-8">
                  <a href="<%= sitepath %>shop/guide/?l-id=guide_migration_shopde_migration_flow_mvno-user-registration" class="c-Btn_Secondly">
                    お近くのショップを探す
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">4. ご利用開始</h3>
            <div class="l-Media_Grid u-Adjust_Mt-24">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/guide/migration/img-10.png?210820" alt="">
              </div>
              <div>
                <p>Rakuten UN-LIMIT VIIをご利用いただけます。これまでの料金プランの契約解除料、MNP転出手数料は発生しません。</p>
                <div class="u-Adjust_Mt-24">
                  <a href="<%= sitepath %>guide/setting/?l-id=guide_migration_guide_setting" class="c-Btn_Regular">
                    初期設定方法を確認する
                  </a>
                </div>
              </div>
            </div>
          </li> -->
        </ul>
      </div>
    </div>

    <!-- <div class="<%= namespace %>-Cta">
      <a href="<%= sitepath %>fee/un-limit/?l-id=guide_migration2_fee_un-limit4" class="c-Btn_Secondly <%= namespace %>-Cta_Btn">
        <span>Rakuten UN-LIMIT VIの詳細を見る</span>
      </a>
      <p class="u-Adjust_Mt-48">2014年10月29日～2020年4月8日に楽天モバイル（ドコモ回線・au回線） をご契約のお客様は、こちらからプラン変更いただけます。</p>
      <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=guide_migration6_ms&mno_migration=1" class="c-Btn_Primary <%= namespace %>-Cta_Btn">
        <span>以前からご利用中の楽天モバイルからの</span>
        <span>プラン変更（移行）お申し込み</span>
      </a>
      <p class="u-Adjust_Mt-8"><a href="https://network.mobile.rakuten.co.jp/guide/flow/application/?l-id=guide_migration_guide_flow_application" class="c-Link_Txt-inline">動画でかんたん！お申し込み方法を見る<span class="c-Icon_Chevron-right"></span></a></p>
    </div> -->

  </div>


  <div class="<%= namespace %>-Faq" id="migration-faq">
    <h2 class="c-Heading_Lv2 u-Adjust_Align-center">
      <!-- <picture>
        <source media="(max-width: 768px)" srcset="/assets/img/guide/migration/title-00-sp.png">
        <source srcset="/assets/img/guide/migration/title-03-pc.png">
        <img src="/assets/img/guide/migration/title-00-pc.png" width="589" alt="">
      </picture> -->
      <img src="<%= sitepath %>assets/img/guide/migration/sp_QA.png?210820" width="343" alt="">
    </h2>
    <div class="c-Accordion u-Adjust_Mt-16">
      <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>今のスマホはそのまま使えますか？</button>
      <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
        <p>
          「<a href="<%= sitepath %>product/certified-products/?l-id=guide_migration_faq_product_certified-products">楽天回線対応製品</a>」であればご利用いただけます。現在のご契約（楽天モバイル ドコモ回線／au回線）でご利用いただいている製品でも、すべての機能がご利用可能／一部機能がご利用可能／ご利用不能な製品がありますので、<span class="c-Txt_Emp-02">必ずお手続き前に、ご利用可能な楽天回線対応製品を下記ページよりご確認ください。</span>
        </p>
        <p><a href="<%= sitepath %>product/byod/?l-id=guide_migration_faq_product_byod">Rakuten最強プランで利用できるスマホを確認する</a></p>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>プラン変更（楽天回線への移行）時に追加費用や違約金は発生しますか？</button>
      <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
        <p>契約解除料（違約金）、MNP転出手数料は発生しません。</p>
        <p class="c-Txt_Cap">※楽天回線側で、新たにお申し込みいただいたオプションサービスにつきましては、月額利用料が発生いたしますのでご了承ください。</p>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイル（ドコモ回線／au回線）から楽天回線へプラン変更（移行）時、料金の請求はどうなりますか？</button>
      <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
        <p>同月内で、楽天モバイル（ドコモ回線／au回線）から、Rakuten最強プランの楽天回線にプラン変更（移行）する場合、移行月は、楽天モバイル（ドコモ回線／au回線）の月額料金のみのご請求となります。※1<br>
          楽天回線の料金と引き継いだオプションサービスの月額利用料については、ご請求を取り消します。※2<br>
          例：8月15日に楽天モバイル（ドコモ回線／au回線）から楽天回線に移行した場合<br>
          8月分のご請求：楽天モバイル（ドコモ回線／au回線）の月額料金のみ<br>
          9月以降のご請求：楽天回線の月額料金のみ
          </p>
        <p class="c-Txt_Cap">
          ※1 楽天回線側で、新たにお申し込みいただいたオプションサービスにつきましては、月額利用料が発生いたしますのでご了承ください。<br>
          ※2 楽天モバイルショップでプラン変更（移行）お手続きを行った場合は対象外となります。
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>メンバーズステーションで、楽天回線へのプラン変更（移行）手続き画面が見当たりません。</button>
      <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
        <p>下記に該当するお客様は、楽天回線への移行画面やご案内バナー画像が表示されず、楽天回線へのプラン変更（移行）手続きができません。詳しくは、<a href="<%= sitepath %>faq/detail/00001512/?l-id=guide_migration_faq_0000151">よくあるご質問ページをご覧ください</a></p>
        <ul class="c-List_Text-disc">
          <li class="u-Adjust_Mt-16">楽天モバイル（データSIM）をご利用中</li>
          <li class="u-Adjust_Mt-8">楽天モバイル（プリペイドSIM）をご利用中</li>
          <li class="u-Adjust_Mt-8">機種変更、製品追加購入を申請中</li>
          <li class="u-Adjust_Mt-8">ドコモ回線、au回線内でプラン変更申請中</li>
          <li class="u-Adjust_Mt-8">ご利用停止中（お客様からご希望の利用停止を含みます）</li>
          <li class="u-Adjust_Mt-8">解約申請中</li>
          <li class="u-Adjust_Mt-8">すでにMNP予約番号発行を依頼中、もしくは予約番号発行済</li>
          <li class="u-Adjust_Mt-8">「利用者登録」でご利用中　<a href="<%= sitepath %>flow/mvno-user-registration/?l-id=guide_migration_flow_mvno-user-registration">利用者登録でのプラン変更（移行）手続きの詳細を見る</a></li>
        </ul>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>データ容量は繰り越せますか？</button>
      <div id="accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-5" aria-hidden="true">
        <p>現在楽天モバイル（ドコモ回線／au回線）でご利用いただいているプラン（スーパーホーダイ／組み合わせプラン／コミコミプラン）のデータ残量は、楽天回線移行後のプラン「Rakuten最強プラン」には引き継がれませんのでご了承ください。<br>
          また、楽天回線では、当月に余ったデータ残量は翌月に繰り越せず、当月内のみのご利用となります。</p>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-7" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-7"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rメール（@rakuten.jp）は継続して利用できますか？</button>
      <div id="accordion-content-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-7" aria-hidden="true">
        <p>継続してご利用いただけます。プラン変更（移行）後もご利用を希望される場合は、必ずプラン変更手続き前に <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=guide_migration5_ms&mno_migration=1">メンバーズステーション</a>にてraから始まるユーザIDとパスワードをご確認ください。</p>
      </div>
    </div>

    <%- include('/include/guide/_faq') %>

    <div class="u-Adjust_Align-center u-Adjust_Mt-16">
      <a href="<%= sitepath %>support/?l-id=guide_migration_support" class="c-Btn_Regular fee-Utility_Btn u-Adjust_Mt-8">お客様サポートトップへ</a>
    </div>
  </div>

</div>


<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">
  <div class="g-Footer_Aside">
    <%- include('/include/footer/bnr/_bnr.ejs') %>
  </div>
  <div class="l-System_Container">
    <%- include('/include/_breadcrumbs', {
      type: 'foot',
      pagetitle,
      directories,
    }) %>
  </div>
  <%- include('/include/_footer') %>
</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>

</body>
</html>
