<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "速さと安定のIPv6通信" -%>
<% const directories = [] -%>
<% const namespace = "oneyearfree" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '楽天ひかりは、おうちで使うのにちょうどいい光回線。高速で安定したIPv6通信だから、快適にインターネットを利用できます。',
    noindex: false,
    pathname: filepath,
    canonical_custom: 'https://network.mobile.rakuten.co.jp/hikari/internet/',
    ishikari: true
  });
%>
<%- include('/include/hikari/_common-v2-hikari-css') %>


<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/inc/i-hikari-gauge-b.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/internet/internet.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/module/m-hikari-cpn-v2.css?20240424">


<%- include('/include/_append-head-hikari') %>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>

<div class="l-System">

  <%- include('/hikari/include/_header', {
    tax: 'false',
    headerType: 'normal',
    pagetitle: pagetitle,
    pathname: filepath,
  }) %>


  <div class="l-hikari-Section_Main">
    <div class="l-System_Container">

      <h1 class="c-Heading_Lv1 u-Adjust_Mt-32" data-ratid="scroll-01_speed" data-ratevent="appear"><%= pagetitle %></h1>
      <p class="l-hikari-Section_Main-lead">
        楽天ひかりはIPv6通信に対応しています。<br>
        安定した通信のIPv6なら、4K動画がサクサク見れます。<br>
        また、家族みんなでスマホをWi-Fiに繋いでも余裕があり、ご自宅で使うのにちょうどいい光回線です。
      </p>

      <div class="l-hikari-Section_Sub-short u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2" data-ratid="scroll-02_benefits" data-ratevent="appear">最速の通信規格IPv6だから、快適インターネット</h2>

        <div class="hikari-internet-Layout-b_List_Area">
          <div class="hikari-internet-Layout-b_List-item">
            <h4 class="c-Heading_Lv4">いつでも快適</h4>
            <figure class=""><img src="<%= sitepath %>assets/img/hikari/internet/kaiteki.png?220615" alt=""></figure>
            <p>お昼時や夜のピークタイムでもサクサク！</p>
          </div>

          <div class="hikari-internet-Layout-b_List-item">
            <h4 class="c-Heading_Lv4">どこでも快適</h4>
            <figure class=""><img src="<%= sitepath %>assets/img/hikari/internet/dokodemo.png?220615" alt=""></figure>
            <p>人口密集エリアでも快適！</p>
          </div>

          <div class="hikari-internet-Layout-b_List-item">
            <h4 class="c-Heading_Lv4">安定した通信</h4>
            <figure class="hikari-internet-Layout-b_List-item_Antei"><img src="<%= sitepath %>assets/img/hikari/internet/antei.png?220615" alt=""></figure>
            <p>ドラマの一気見でも途切れない！</p>
          </div>

          <div class="hikari-internet-Layout-b_List-item">
            <h4 class="c-Heading_Lv4">ギガ使い放題</h4>
            <figure class=""><img src="<%= sitepath %>assets/img/hikari/internet/tukaihoudai.png?220615" alt=""></figure>
            <p>ギガは気にしなくて大丈夫！</p>
          </div>
        </div>
      </div>

      <div class="l-hikari-Section_Sub-short hikari-internet-Layout-b_Router u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2" data-ratid="scroll-03_router" data-ratevent="appear">対応ルーターならかんたん接続</h2>
        <div class="hikari-internet-Layout-b_Router_Area">
          <div class="hikari-internet-Layout-b_Router_Image_Area">
            <div class="hikari-internet-Layout-b_Router_Image">
              <figure class="u-Adjust_Mt-16"><img src="<%= sitepath %>assets/img/hikari/internet/router.png?220615" alt=""></figure>
            </div>
          </div>
          <div class="hikari-internet-Layout-b_Router_Comment">
            <p>楽天ひかり向けIPv6に対応したルーターなら、高速通信をご利用いただけます。</p>
            <p class=""><a href="<%= rootpath %><%= hikariroot.path %>support/wifi-router/" class="c-Link_Txt-inline">楽天ひかりのIPv6対応ルーターを見る<span class="c-Icon_Arrow-right-l"></span></a></p>
          </div>
        </div>
      </div>

      <div class="l-hikari-Section_Sub-short hikari-internet-Layout-b_Support-Area u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2" data-ratid="scroll-04_area" data-ratevent="appear">フレッツ光回線の提供エリアでご利用いただけます</h2>
        <p class="u-Adjust_Mt-24">楽天ひかりは、NTT東日本・NTT西日本フレッツ光回線の提供エリアでご利用いただけます。</p>
        <p>NTTフレッツ光回線のWebサイトにて、利用可能エリアをご確認ください。</p>

        <div class="hikari-internet-Layout-b_Support-Area_body u-Adjust_Mt-24">
          <div class="hikari-internet-Layout-b_Support-Area_Image_Area">
            <div class="hikari-internet-Layout-b_Support-Area_Image">
              <figure><img src="<%= sitepath %>assets/img/hikari/internet/japan.png?220615" alt=""></figure>
            </div>
          </div>


          <div class="hikari-internet-Layout-b_Support-Area_Address_Area">

            <div class="hikari-internet-Layout-b_Support-Area_Content">
              <p class="c-Txt_Emp"><span style="color:#D96F6F">■</span>NTT東日本</p>
              <p>北海道、青森県、岩手県、宮城県、秋田県、山形県、福島県、茨城県、栃木県、群馬県、埼玉県、千葉県、東京都、神奈川県、新潟県、山梨県、長野県、静岡(熱海市、裾野市の一部）</p>
              <p><a href="https://flets.com/" target="_blank" class="c-Link_Txt-inline">NTT東日本 フレッツ光の提供エリアを確認する<span class="c-Icon_New-window-l"></span></a></p>
            </div>

            <div class="hikari-internet-Layout-b_Support-Area_Content u-Adjust_Mt-40">
              <p class="c-Txt_Emp"><span style="color: #6FB0A0">■</span>NTT西日本</p>
              <p>富山県、石川県、福井県、岐阜県、静岡(熱海市、裾野市の一部を除く)、愛知県、三重県、滋賀県、京都府、大阪府、兵庫県、奈良県、和歌山県、鳥取県、島根県、岡山県、広島県、山口県、徳島県、香川県、愛媛県、高知県、福岡県、佐賀県、長崎県、熊本県、大分県、宮崎県、鹿児島県、沖縄県</p>
              <p><a href="https://flets-w.com/cart/?etc_data_kks=kantan%3D1%40" target="_blank" class="c-Link_Txt-inline">NTT西日本 フレッツ光の提供エリアを確認する<span class="c-Icon_New-window-l"></span></a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="u-Adjust_Mt-48">
        <h3 class="c-Heading_Lv3 u-Adjust_Align-center">楽天ひかりと楽天モバイルを<br class="u-Show_Oox">セットでご利用の方へ</h3>

        <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
          <%- include('/include/hikari/bnr/_bnr-casa-1032-160', {
            orglid: 'rhk_hikari_internet_product_internet_rakuten-casa_01',
          }) %>
        </div>
      </div>
    </div>

    <div style="border-top: 1px solid #bfbfbf;" class="u-Adjust_Mt-48">
      <div class="l-System_Container">

        <div class="u-Adjust_Mt-48">
          <h2 class="c-Heading_Lv3 u-Adjust_Align-center" data-ratid="scroll-09_turbo" data-ratevent="appear">Turboもひかりも、どちらもおトク</h2>
          <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <%- include('/include/hikari/bnr/_bnr', {
              orglid1: 'rhk_hikari_internet_internet_internet_turbo_campaign_six-month-free_01',
              orglid2: 'rhk_hikari_internet_hikari_turbo_campaign_six-month-free_01'
            }) %>
          </div>
        </div>

      </div>
    </div>

  </div>

  <footer class="g-Footer" data-ratid="scroll-06_more-about-hikari" data-ratevent="appear">
    <%- include('/hikari/include/_footer', {
      pagetitle: pagetitle,
      directories: directories,
      // hiddenFooterCtaLink: '',
      hiddenFooterCtaText: '',
      // hiddenFooterCta: true,
      // hiddenMenu: true,
      // hiddenPopask: true,
      // hiddenBacktop: true,
      // hiddenBreadcrumbs: true,
      appearTag: true,
    }) _%>
  </footer>

</div>
<%- include('/include/hikari/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
<script src="https://r.r10s.jp/com/ap/target/phoenix-tracker-2.9.0.min.js"></script>
<script src="<%= sitepath %>assets/js/library/purify.min.js"></script>
<script src="<%= sitepath %>assets/js/library/gauge-b.js?220621"></script>

<script src="<%= sitepath %>assets/js/hikari/internet.speed-b.bundle.js?20240521"></script>
