<% const pagetitle = " スマホあんしんセット最大1,500円相当分ポイント還元キャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "anshin-set" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: 'Rakuten UN-LIMIT VIIのお申し込みと、「持ち込みスマホあんしん保証」「ノートン™ モバイル セキュリティ」のオプションサービス新規加入で最大1,500円相当分をポイント還元！',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/anshin-set/anshin-set.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/_entry-button/rex-overwrite_v2.css?20240424">
<!-- ReX Campaign Button: stylesheet -->
<link rel="stylesheet" href="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/4.0.0/static/css/main.css?20240424" />
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<script defer="defer" src="https://r.r10s.jp/com/js/c/common/entry_button/1.0/entry_button-1.0.0.min.js"></script>
<link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout-Label">
      <ul class="c-Label_List <%= namespace %>-Layout-Label_List">
        <li class="c-Label_Normal">エントリー必要</li>
        <li class="c-Label_Normal">プランのみ申込可</li>
        <li><span class="<%= namespace %>-Layout-Label_point">ポイント：付与日を含めて6カ月の期間限定ポイント</span></li>
      </ul>
    </div>


    <div class="<%= namespace %>-Hero_Return">
      <div class="l-System_Container <%= namespace %>-Hero_Container">
        <div class="<%= namespace %>-Hero_Main">
          <h1>
            <img src="<%= sitepath %>assets/img/campaign/anshin-set/img-heading-pc-2.png?220728" alt="" class="<%= namespace %>-Utility_Img-pc">
            <img src="<%= sitepath %>assets/img/campaign/anshin-set/img-heading-sp.png?220728" alt="" class="<%= namespace %>-Utility_Img-sp">
          </h1>
        </div>
      </div>
    </div>

    <div class="Container_bg">
      <div class="l-System_Container">
        <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Pt-32 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
        <p class="c-Txt_Cap u-Adjust_Pt-16">※1 保証対象製品をお持ちの方が対象。加入後保証対象製品の登録が必要。加入できるのは、SIMのみでプランお申し込み時、もしくは楽天回線の開通日から30日以内 ※ポイントは付与日を含めて6カ月の期間限定ポイントとなります。※併用可能なキャンペーンに関しては、<a href="#campaign-rule" class="js-scroll">キャンペーンルール</a>をご確認ください。</p>

        <div class="u-Adjust_Mt-48 u-Adjust_Pb-48">
          <dl class="c-Dl_Origin anshin-set-Utility_Bg-white">
            <div>
              <dt>エントリー期間</dt>
              <dd>2022年7月28日（木）9:00～2022年8月28日（日）8:59</dd>
            </div>
            <div>
              <dt>オプションの加入期間</dt>
              <dd>2022年7月28日（木）9:00～2022年8月28日（日）8:59</dd>
            </div>
          </dl>

          <ul class="<%= namespace %>-Link u-Adjust_Align-center">
            <li>
              <a href="#condition" class="c-Link_Txt-inline-icon js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーン達成条件</a>
            </li>
            <li>
              <a href="#flow" class="c-Link_Txt-inline-icon js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンの流れ</a>
            </li>
            <li>
              <a href="#campaign-rule" class="c-Link_Txt-inline-icon js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルール</a>
            </li>
          </ul>


          <div class="campaign_conditions">
            <h2 id="condition" class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンの<span class="txt-nl">達成条件</span></h2>
            <p class="u-Adjust_Mt-16">本キャンペーンには達成条件が設定されています。詳細は<a class="c-Link_Txt js-scroll" href="#campaign-rule">キャンペーンルール</a>をご確認ください。</p>

            <div class="u-Adjust_Align-center u-Adjust_Mt-16">
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/anshin-set/img-01-sp-2.png">
                <img src="<%= sitepath %>assets/img/campaign/anshin-set/img-01-2.png" alt="">
              </picture>
            </div>
            <p class="u-Adjust_Mt-8 u-Adjust_Align-right"><a href="<%= sitepath %>service/replacement-warranty-sim/price-list/?l-id=campaign_anshin-set_service_replacement-warranty-sim_price-list_1" class="c-Link_Txt-inline">持ち込みスマホあんしん保証の保証対象製品はこちら<span class="c-Icon_Chevron-right"></span></a></p>
          </div>
          <div class="<%= namespace %>-Layout_Borderbox u-Adjust_Mt-24 u-Adjust_Align-center">

            <h2 class="c-Heading_Lv2">2つのオプションサービスで、故障・破損時やセキュリティ対策も安心！</h2>
            <div class="l-Media_List-2 u-Adjust_Mt-0">
              <div class="c-Theme-Light u-Adjust_Mt-16">
                <h3 class="c-Heading_Lv4 u-Adjust_Align-center">持ち込みスマホあんしん保証</h3>
                <div class="u-Adjust_Mt-16">
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/anshin-set/img-05-sp.png">
                    <img src="<%= sitepath %>assets/img/campaign/anshin-set/img-05.png" alt="">
                  </picture>
                </div>
                <div class="u-Adjust_Align-left u-Adjust_Mt-24">
                  <p class="c-Txt_Cap">※ <a href="<%= sitepath %>service/replacement-warranty-sim/price-list/?l-id=campaign_anshin-set_service_replacement-warranty-sim_price-list_2" class="c-Link_Txt">保証対象製品</a>をお持ちの方が対象となります。<br>
                    ※ 加入できるのは、SIMのみでプランお申し込み時、もしくは楽天回線の開通日から30日以内</p>
                </div>
                <div class="u-Adjust_Mt-16">
                  <a href="<%= sitepath %>service/replacement-warranty-sim/?l-id=campaign_anshin-set_service_replacement-warranty-sim_1" class="c-Btn_Regular"><span>持ち込みスマホあんしん保証の詳細を見る</span></a>
                </div>
                </div>
                <div class="c-Theme-Light u-Adjust_Mt-16">
                  <h3 class="c-Heading_Lv4 u-Adjust_Align-center">ノートン™ モバイル セキュリティ</h3>
                  <div class="u-Adjust_Mt-16">
                    <picture>
                      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/anshin-set/img-06-sp.png">
                      <img src="<%= sitepath %>assets/img/campaign/anshin-set/img-06.png" alt="">
                    </picture>
                  </div>
                  <div class="u-Adjust_Mt-72">
                    <a href="<%= sitepath %>service/norton-mobile-security/?l-id=campaign_anshin-set_service_norton-mobile-security_1" class="c-Btn_Regular"><span>ノートン™ モバイル セキュリティの詳細を見る</span></a>
                  </div>
                </div>
            </div>

        </div>
        <p class="c-Txt_Cap u-Adjust_Align-left u-Adjust_Mt-8">※表記の金額はすべて税込です。</p>
      </div>
    </div>
  </div>
      <div class="l-System_Container u-Adjust_Mt-48">
          <h2 id="flow" class="u-Adjust_Align-center">最大<span class="anshin-set-Utility_Txt-40">1,500</span>ポイント<br class="<%= namespace %>-Utility_Sp">獲得の流れ</h2>
          <div class="<%= namespace %>-Layout_step u-Adjust_Mt-24">
            <div class="c-Accordion">
              <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1" data-ratid="campaign_anshin-set_flow-step1" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP1　</span>キャンペーンへのエントリー</button>
              <div id="accordion-content-1" class="<%= namespace %>-Layout_step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region"
                aria-labelledby="accordion-1" aria-hidden="true">
                <ul class="<%= namespace %>-Flow_List">
                  <li>
                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                        <img src="<%= sitepath %>assets/img/campaign/anshin-set/img-flow-01.png?220728" alt="">
                      </div>
                      <div>
                        <p class="c-Txt_Emp-01 u-Adjust_Mt-16">エントリー期間：2022年7月28日（木）9:00～2022年8月28日（日）8:59</p>
                        <p class="c-Txt_Cap c-Txt_Emp-02">※期間内であれば、STEP 1、2、3、4の順序は問いません。</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="c-Accordion u-Adjust_Mt-16">
              <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2" data-ratid="campaign_anshin-set_flow-step2" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP2　</span>楽天モバイルのお申し込み</button>
              <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2"
                aria-hidden="true">
                <div class="u-Adjust_Mt-16">
                  <div>
                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-24">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                        <img src="<%= sitepath %>assets/img/campaign/anshin-set/img-flow-02.png?220728" alt="">
                      </div>
                      <div>
                        <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">Webから楽天モバイル（楽天回線）に申し込む</h4>
                        <p class="u-Adjust_Mt-8">お持ちの製品が楽天モバイルで使えるかどうか下記ページでご確認ください。</p>
                        <div class="u-Adjust_Mt-8">
                          <p class="<%= namespace %>-Layout-anshin-set_Sp-center-btn"><a href="<%= sitepath %>product/byod/?l-id=campaign_anshin-set_product_byod" class="c-Btn_Regular <%= namespace %>-Flow_List-button"><span>ご利用製品の対応状況を確認する</span></a></p>
                        </div>
                        <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                          ※エントリー期間前にプラン申し込みした方も、キャンペーン対象になります。オプション加入期間内での、プランご利用開始と、各オプション加入、ならびに利用開始を行ってください。
                        </p>
                      </div>
                    </div>


                    <ul class="<%= namespace %>-Flow_List u-Adjust_Mt-16">
                      <li>
                        <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-8">
                          <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                            <img src="<%= sitepath %>assets/img/campaign/anshin-set/img-flow-03.png?220728" alt="">
                          </div>
                          <div>
                            <p class="c-Txt_Emp-01">お申し込みに必要なもの</p>
                            <div class="u-Adjust_Mt-8">
                              <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc">
                                <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/verify/?l-id=campaign_anshin-set_guide_verify" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                                <li class="u-Adjust_Mt-8">楽天会員ID、パスワード</li>
                                <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/?l-id=campaign_anshin-set_guide_payment" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                                </li>
                                <li class="u-Adjust_Mt-8">ご契約者名義の<a href="<%= sitepath %>guide/mnp/?l-id=campaign_anshin-set_guide_mnp" class="c-Link_Txt-inline">MNP予約番号</a>（他社から乗り換えの場合）
                                  <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                                    <span>※</span>ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001238/?l-id=campaign_anshin-set_faq_00001238">こちらのご案内ページ</a>を必ず事前にご確認ください。<br>
                                  </p></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <div class="<%= namespace %>-Flow_List-step-unlimit u-Adjust_Mt-24 <%= namespace %>-Layout_step-ptn2">
                      <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-left c-Theme-Borderbox">
                        <div class="step-pran-change"><span class="c-Icon_New-user-f c-Txt_Emp-02"></span><h4 class="c-Heading_Lv4 u-Adjust_Mt-8 u-Adjust_Mb-16"> 新規電話番号／他社から乗り換え（MNP）</h4></div>
                        <p class="u-Adjust_Align-center"><a href="<%= sitepath %>guide/application/?lid-r=campaign_anshin-set_guide_application1" class="c-Btn_Primary <%= namespace %>-Flow_List-button-secondly u-Adjust_Mt-24"><span>Rakuten UN-LIMIT VII<br class="<%= namespace %>-Layout-anshin-set_Sp"> お申し込み画面に進む</span></a></p>
                        <div class="<%= namespace %>-Utility_Align-center-left">
                          <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>fee/un-limit/?l-id=campaign_anshin-set_fee_un-limit" class="c-Link_Txt-inline">Rakuten UN-LIMIT VIIの詳細<span class="c-Icon_Chevron-right"></span></a></p>
                          <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/flow/application/?l-id=campaign_anshin-set_guide_flow_application" class="c-Link_Txt-inline">Rakuten UN-LIMIT VII<br class="<%= namespace %>-Layout-anshin-set_Sp">お申し込み方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                        </div>
                      </div>
                      <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-right c-Theme-Borderbox">
                        <div class="step-pran-change"><span class="c-Icon_Paper-plane-l c-Txt_Emp-02"></span>
                        <h4 class="c-Heading_Lv4 u-Adjust_Mt-8 u-Adjust_Mb-16"> 楽天モバイル（ドコモ・au回線）からプラン変更（移行）</h4></div>
                        <div class="u-Adjust_Mt-16">
                          <p class="u-Adjust_Align-center"><a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_anshin-set_ms1&mno_migration=1" class="c-Btn_Secondly <%= namespace %>-Flow_List-button-secondly u-Adjust_Mt-24" data-ratid="campaign_anshin-set_ms" data-ratevent="click" data-ratparam="all"><span>メンバーズステーションから<br>プラン変更（移行）する</span></a></p>
                          <div class="<%= namespace %>-Utility_Align-center-left">
                            <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/migration/?l-id=campaign_anshin-set_guide_migration" class="c-Link_Txt-inline">スーパーホーダイ・組み合わせプラン（※）との比較<span class="c-Icon_Chevron-right"></span></a></p>
                            <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">※2020年4月8日に受付終了のドコモ回線・au回線使用プラン</p>
                            <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/mnp/migration/?l-id=campaign_anshin-set_guide_mnp_migration" class="c-Link_Txt-inline">楽天モバイル（楽天回線）への<br class="<%= namespace %>-Layout-anshin-set_Sp">移行方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                            <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>flow/mvno-user-registration/?l-id=campaign_anshin-set_flow_mvno-user-registration" class="c-Link_Txt-inline">利用者登録でご利用中の方の<br class="<%= namespace %>-Layout-anshin-set_Sp">移行方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-Accordion u-Adjust_Mt-16">
              <button type="button" id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3" data-ratid="campaign_anshin-set_flow-step3" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP3　</span>「Rakuten UN-LIMIT VII」 プラン利用開始</button>
              <div id="accordion-content-3" class="<%= namespace %>-Layout_step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region"
                aria-labelledby="accordion-3" aria-hidden="true">
                <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                  <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                    <img src="<%= sitepath %>assets/img/campaign/anshin-set/img-flow-04.png?220728" alt="">
                  </div>
                  <div>
                    <h4 class="c-Heading_Lv4">楽天モバイルの開通手続きを行い「Rakuten UN-LIMIT VII」 プランを利用開始する</h4>
                    <p class="u-Adjust_Mt-24">2022年8月28日（日）8:59まで</p>
                    <div class="u-Adjust_Mt-24">
                      <p class="<%= namespace %>-Layout-anshin-set_Sp-center-btn"><a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/" class="c-Btn_Regular <%= namespace %>-Flow_List-button"><span>スタートガイド（利用開始手順書）はこちら</span></a></p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="c-Accordion u-Adjust_Mt-16">
              <button type="button" id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-4" data-ratid="campaign_anshin-set_flow-step4" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP4　</span>対象オプションに新規加入し、ご利用を開始</button>
              <div id="accordion-content-4" class="<%= namespace %>-Layout_step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="false">
                <p class="c-Txt_Emp-01 u-Adjust_Mt-28">どちらか一方のオプションへ加入した場合、そのオプションに対するポイントのみが付与されます。</p>
                <p class="u-Adjust_Mt-8">オプションの加入期間：2022年7月28日（木）9:00～2022年8月28日（日）8:59</p>
                <div class="c-Theme-Borderbox u-Adjust_Mt-32 u-Adjust_Align-center">

                  <h4 class="c-Heading_Lv4">「持ち込みスマホあんしん保証」に新規加入、保証対象製品の登録を完了</h4>
                  <ul class="<%= namespace %>-Conditions_List">
                    <li class="c-Theme-Light">
                      <p class="c-Txt_Normal c-Txt_Emp-01 u-Adjust_Align-center">「持ち込みスマホあんしん保証」に新規加入</p>
                      <div class="u-Adjust_Align-center u-Adjust_Mt-8">
                        <picture>
                          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/anshin-set/img-flow-05-sp.png?220728">
                          <img src="<%= sitepath %>assets/img/campaign/anshin-set/img-flow-05.png?220728" width="160" alt="">
                        </picture>
                      </div>
                      <a href="<%= sitepath %>guide/replacement-warranty-sim/application/?l-id=campaign_anshin-set_guide_replacement-warranty-sim_application" class="c-Btn_Regular-large u-Adjust_Mt-16"><span>お申し込み方法を見る</span></a>
                    </li>
                    <li class="c-Theme-Light">
                      <p class="c-Txt_Normal c-Txt_Emp-01 u-Adjust_Align-center">保証対象とする製品を登録</p>
                      <div class="u-Adjust_Align-center u-Adjust_Mt-8">
                        <picture>
                          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign//anshin-set/img-flow-06-sp.png?220728">
                          <img src="<%= sitepath %>assets/img/campaign/anshin-set/img-flow-06.png?220728" width="160" alt="">
                        </picture>
                      </div>
                      <a href="<%= sitepath %>guide/replacement-warranty-sim/device-resistration/?l-id=campaign_anshin-set_guide_replacement-warranty-sim_device-resistration" class="c-Btn_Regular-large u-Adjust_Mt-16"><span>保証対象とする製品の登録方法を見る</span></a>
                      <p class="c-Txt_Cap u-Adjust_Mt-16 u-Adjust_Align-left">※回線開通日から30日以内にオンラインで加入手続きと保証対象製品を登録してください。オプションの加入期間内に登録を完了した方がポイント付与対象となります。</p>
                    </li>
                  </ul>
                  <div class="<%= namespace %>-Utility_Align-center-left">
                    <p class="c-Txt_Emp-02 u-Adjust_Mt-16">保証対象製品の登録まで完了することで、1,300ポイントプレゼントの条件達成となります。</p>
                    <p class="u-Adjust_Mt-32">お申し込み方法、製品登録方法をPDFでもご確認いただけます。</p>
                    <p><a href="<%= sitepath %>terms/pdf/replacement-warranty-sim_start-guide.pdf" class="c-Link_Txt-inline u-Adjust_Mt-8">ご利用ガイド（PDF）を見る<span class="c-Icon_Pdf-l"></span></a></p>
                  </div>
                  <div class="c-Theme-Emphasis1 u-Adjust_Mt-24">
                    <p class="c-Txt_Emp-02 u-Adjust_Align-center"><span class="c-Heading_Lv4">楽天ポイント<br class="anshin-set-Utility_Br-sp"><span class="c-Heading_Lv1">1,300</span>ポイント プレゼント</span></p>
                  </div>
              </div>
              <div class="c-Theme-Borderbox u-Adjust_Mt-32 u-Adjust_Align-center">
                <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">「ノートン™ モバイル セキュリティ」に新規加入</h4>
                <div class="u-Adjust_Align-center u-Adjust_Mt-8">
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/anshin-set/img-flow-07-sp.png?220728">
                    <img src="<%= sitepath %>assets/img/campaign/anshin-set/img-flow-07.png?220728" width="240" alt="">
                  </picture>
                  <div>
                    <a href="<%= sitepath %>guide/norton-mobile-security/?l-id=campaign_anshin-set_guide_norton-mobile-security" class="c-Btn_Regular-large u-Adjust_Mt-16"><span>お申し込み方法・ご利用方法を見る</span></a>
                  </div>
                  <div class="c-Theme-Emphasis1 u-Adjust_Mt-16">
                    <p class="c-Txt_Emp-02 u-Adjust_Align-center"><span class="c-Heading_Lv4">楽天ポイント<br class="anshin-set-Utility_Br-sp"><span class="c-Heading_Lv1">200</span>ポイント プレゼント</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Theme-Borderbox <%= namespace %>-Flow_List-end">
            <p class="u-Adjust_Align-center">
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/anshin-set/img-07-sp.png?220728">
                <img src="<%= sitepath %>assets/img/campaign/anshin-set/img-07.png?220728" alt="">
              </picture>
            </p>
          </div>
      </div>

      <div>
        <h2 class="c-Heading_Lv2 u-Adjust_Mt-40 u-Adjust_Align-center u-Adjust_Mb-16">よくあるご質問</h2>
        <div class="_sample u-Adjust_Mt-16 u-Adjust_Mb-40">
          <div class="c-Accordion">
                <button id="accordion-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-6"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>エントリーされているか、どこで確認できますか？</button>
                <div id="accordion-content-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-6" aria-hidden="true">
                    <p class="u-Adjust_Mt-16">エントリーされた場合、本キャンペーンページのエントリーボタンが「エントリー済みです」と表示されます。<br>
                      また、楽天PointClubの「<a href="https://oubo.rakuten.co.jp/list">キャンペーンエントリー履歴</a>」から確認することができます。</p>
                </div>
          </div>
          <div class="c-Accordion">
              <button id="accordion-7" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-7"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーン期間内に楽天モバイルに申し込みができているか、確認方法はありますか？</button>
              <div id="accordion-content-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-7" aria-hidden="true">
                  <p class="u-Adjust_Mt-16">以下2種類の方法があります。<br>
                    ①お申し込み完了メールを確認する<br>
                    ②「<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile">my 楽天モバイル</a>」の申し込み履歴から確認する<br>
                    詳しい手順は<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001827/">こちら</a>からもご確認いただけます。</p>
              </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-8" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-8"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ポイントの付与はいつになりますか？</button>
            <div id="accordion-content-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-8" aria-hidden="true">
                <p class="u-Adjust_Mt-16">2022年10月末日ごろに楽天モバイルにご登録の楽天IDにポイントを付与いたします。<br>
                  付与されたポイントは楽天PointClubの「<a href="https://point.rakuten.co.jp/history/">ポイント実績</a>」から確認することができます。</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="Container_bg u-Adjust_Mt-48">
      <div class="l-System_Container u-Adjust_Pt-24 u-Adjust_Pb-48" id="campaign-rule">
        <div>
          <div class="<%= namespace %>-Layout_Rule">
            <h2 class="c-Heading_Lv2 u-Adjust_Align-center">スマホあんしんセット最大1,500円相当分ポイント還元キャンペーン</h2>
            <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Pt-32 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
            <div class="u-Adjust_Mt-24">
              <dl class="c-Dl_Origin <%= namespace %>-campaign-Rule">
                <div>
                  <dt>キャンペーンコード</dt>
                  <dd>
                    <p>1566</p>
                    <ul class="c-Txt_Cap u-Adjust_Mt-8">
                      <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン期間</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">■ エントリー期間</p>
                    <p>　　2022年7月28日（木）9:00～2022年8月28日（日）8:59</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■ オプションの加入期間</p>
                    <p>　　2022年7月28日（木）9:00～2022年8月28日（日）8:59</p>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン条件</dt>
                  <dd>
                    <p class="c-Txt_Emp-02">上記各項目の期間内に【1】、【2】、【3】の条件をすべて満たした楽天会員の方</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-8">【1】キャンペーンへのエントリー</p>
                      <p>　エントリー期間内に本キャンペーンページでエントリー</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-8">【2】「Rakuten UN-LIMIT VII」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">　（1）新規お申し込み</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">　（2）他社からの乗り換え（MNP）でお申し込み</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">　（3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                      <li><span>　※</span>「Rakuten UN-LIMIT VII」へ既にお申し込み済の方は【2】の対応は不要となります</li>
                    </ul>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-8">【3】キャンペーン期間(オプションの加入期間)中に以下の対象オプションにお申し込みし、ご利用を開始</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">　- 「持ち込みスマホあんしん保証」へ申し込みし、オプションの加入期間内に保証対象製品の登録を完了</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">　- 「Nortonモバイルセキュリティ」へオプションの加入期間内にお申し込み</p>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン特典 （楽天ポイント）</dt>
                  <dt class="<%= namespace %>-campaign-Rule_Title-sub">特典内容</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">最大1,500ポイントプレゼント</p>
                    <p class="c-Txt_Emp-01">①「持ち込みスマホあんしん保証」へ申し込みし、オプションのご加入期間内に保証対象製品の登録を完了した方に1,300ポイント</p>
                    <p class="c-Txt_Emp-01">②「Nortonモバイルセキュリティ」へオプションのご加入期間内にお申し込み完了した方に200ポイント</p>
                  </dd>
                  <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント付与日</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">2022年10月末日頃に付与</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>　※</span>　例）オプションの加入期間内に「持ち込みスマホあんしん保証」の保証対象製品の登録が完了した方には1,300ポイントが付与され<br>
                        　「Nortonモバイルセキュリティ」のお申し込みを完了した場合には、200ポイントが付与されます。<br>
                        　どちらか片方のサービスのみ条件を満たした場合は完了したサービス分のみが付与されます。
                      </li>
                      <li><span>　※</span>　楽天ポイントの付与は、楽天モバイルより行います</li>
                      <li><span>　※</span>　権利の譲渡はできません</li>
                    </ul>
                  </dd>
                  <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント有効期間</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>　※</span>　<a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
                      <li><span>　※</span>　有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>特典適用対象外</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>　※</span>　当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                      <li><span>　※</span>　「スマホあんしんセット1,500円相当分ポイント還元キャンペーン」の適用回数が、おひとり様1契約1回を超える場合は対象外となります</li>
                      <li><span>　※</span>　オプションを楽天モバイルオンライン以外でお申し込みした場合</li>
                      <li><span>　※</span>　ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
                      <li><span>　※</span>　「Rakuten UN-LIMIT VII」のプラン利用開始がされなかった場合<br>
                        　 -プラン利用開始の手続き方法につきましては、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/">こちらのSIMカード版スタートガイドまたはeSIM版スタートガイド</a>を参照ください</li>
                      <li><span>　※</span>　ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                      <li><span>　※</span>　当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                      <li><span>　※</span>　そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
                      <li><span>　※</span>　本ルールに記載の併用可能キャンペーンを除き、本キャンペーンより還元ポイント数やクーポン割引額が多い Rakuten UN-LIMIT Ⅶ 申し込みでポイントまたはクーポンプレゼントキャンペーンが適用となった場合</li>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>併用可能キャンペーン</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">以下のキャンペーンのみ、<span class="c-Txt_Emp-02">併用可能</span>となります</p>
                    <p class="c-Txt_Normal-s">　- 【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント（キャンペーンコード：1526）</p>
                    <p class="c-Txt_Normal-s">　- 【Rakuten UN-LIMIT VII】データ1GB／月以下だった方限定！プラン料金最大4カ月実質無料キャンペーン（キャンペーンコード：1527）</p>
                  </dd>
                </div>
                <div>
                  <dt>注意事項</dt>
                  <dd>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap">
                      <li><span>　※</span>　本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                      <li><span>　※</span>　本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                      <li><span>　※</span>　本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                      <li><span>　※</span>　記載の内容は2022年7月28日（木）時点の情報となります</li>
                    </ul>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- ReX UX Survey: Mounting point for embedded components -->
    <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>

    <div id="js-fixed-btn" class="<%= namespace %>-Layout_Bottom-fixed" aria-expanded="false" role="region">
      <div class="<%= namespace %>-Layout_Bottom-fixed-inner">
        <a href="<%= sitepath %>guide/application/?lid-r=campaign_anshin-set_f_guide_application" class="c-Btn_Primary <%= namespace %>-Layout_Bottom-fixed-btn"><span class="<%= namespace %>-Layout_Bottom-fixed-btn-txt"><span class="Bottom_txt-style">新規／乗り換え（MNP）</span><span class="fixed-btn-Utility_Img-pc">お申し込み</span></span></a>
        <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_anshin-set_f_ms&mno_migration=1" class="c-Btn_Secondly <%= namespace %>-Layout_Bottom-fixed-btn" data-ratid="campaign_anshin-set_ms1" data-ratevent="click" data-ratparam="all">
          <span class="<%= namespace %>-Layout_Bottom-fixed-btn-txt">
            <span class="Bottom_txt-style">
              <span class="fixed-btn-Utility_Img-pc">スーパーホーダイ、組み合わせプランからの</span>
              <span class="fixed-btn-Utility_Img-sp"><span class="Bottom_txt-style">以前の楽天モバイルからの</span></span>
            </span><br>
              <span class="Bottom_plan_txt-style">プラン変更（移行）<span class="fixed-btn-Utility_Img-pc">お申し込み</span></span></span></a>
      </div>
    </div>

    <footer class="g-Footer u-Adjust_Mt-64 <%= namespace %>-Layout_Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>

  <!-- ReX UX Survey: Config -->
  <script>
  window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
  </script>
<!-- ReX UX Survey: Script -->
<script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>

<!-- ReX Campaign Entry Button: Configuration -->
<script>var rexButtons = [{"code":"/rmobile/campaign/sumahoanshinset","theme":"red","wide":false,"showCelebration":false,"isanshin-seted":true,"ids":["rex-ceb-01","rex-ceb-02","rex-ceb-03","rex-ceb-04"]}]</script>

<!-- ReX Campaign Entry Button: Script -->
<script src="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/4.0.0/static/js/main.js" defer></script>
</body>
</html>
