<% const pagetitle = "SPU（スーパーポイントアップ） | 楽天モバイルキャリア決済" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "payment" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'SPU（スーパーポイントアッププログラム）は楽天ポイントがお得に貯まる。楽天モバイルキャリア決済（Androidのみ）を当月、合計2,000円（税込）以上ご利用でその月の楽天市場でのお買い物がポイント+0.5倍に！',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/spu/payment/payment.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>

<!--/.spuCommonHeader-->
<link rel="stylesheet" type="text/css" href="https://r.r10s.jp/evt/event/campaign/point-up/everyday/point/_cmn/css/spu_common_header_pc_20231201_2.css?20240424" media="all and (min-width: 701px)">
<link rel="stylesheet" type="text/css" href="https://r.r10s.jp/evt/event/campaign/point-up/everyday/point/_cmn/css/spu_common_header_sp_20231201_2.css?20240424" media="all and (min-width: 0px) and (max-width: 700px)">
<script type="text/javascript" src="https://r.r10s.jp/evt/event/campaign/point-up/everyday/point/_cmn/js/spu_common_header-1.1.0.min.js?v=01" defer></script>

<style>
  @media screen and (min-width:700px) and (max-width:769px){
  .spuCommonHeader__slideshowContainer {
      height: auto;
  }
}
@media screen and (min-width:700px) and (max-width:1032px){
  h1.spuCommonHeader__kanban{
      height: auto;
  }
}
</style>

</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true">SPU（スーパーポイントアップ）</li>
  </ul>
</div>

<div class="l-System_Container">
  <p class="c-Txt_Cap u-Adjust_Align-right u-Adjust_Mt-8 u-Adjust_Mb-8">※表記の金額は特に記載がない限り税込です。</p>
</div>

<div class="spuCommonHeader">
  <h1 class="spuCommonHeader__kanban">
    <a class="spuCommonHeader__kanbanLink" href="https://rd.rakuten.co.jp/s/?R2=https%3A%2F%2Fevent.rakuten.co.jp%2Fcampaign%2Fpoint-up%2Feveryday%2Fpoint%2F&D2=1.53089.255283.910529.32323402&C3=55158ec1ebb3455e2756c67775435377ba7b4d9c">
      <img class="spuCommonHeader__kanbanImage spuCommonHeader__kanbanImage--pc" src="https://r.r10s.jp/evt/event/campaign/point-up/everyday/point/_cmn/img/20240401under_spu/pc_kasou_kanban_20240401.png" alt="" width="100%">
      <img class="spuCommonHeader__kanbanImage spuCommonHeader__kanbanImage--sp" src="https://r.r10s.jp/evt/event/campaign/point-up/everyday/point/_cmn/img/20240401under_spu/sp_kasou_kanban_20240401.png" alt=""></a>
  </h1>
	<!--/.spuCommonHeader__kanban-->
		<!--/.spuCommonHeader__kanban-->
	<div class="spuCommonHeader__serviceContainer">
		<div class="spuCommonHeader__serviceScroller">
			<ul class="spuCommonHeader__services">
				<li class="spuCommonHeader__service spuCommonHeader__service--rakutenmobile">
					<a class="spuCommonHeader__serviceLink" href="https://rd.rakuten.co.jp/s/?R2=https%3A%2F%2Fmobile.rakuten.co.jp%2Fcampaign%2Fspu%2F%3Fscid%3Dwi_ich_spu_subpage_pc&D2=1.53089.255283.910529.32366346&C3=552ce00abe82f2a50ed9ade392a31f87b4dbba56">楽天モバイル</a>
				</li><li class="spuCommonHeader__service spuCommonHeader__service--rakutencareer spuCommonHeader__service--active">
					<a class="spuCommonHeader__serviceLink" href="https://rd.rakuten.co.jp/s/?R2=https%3A%2F%2Fnetwork.mobile.rakuten.co.jp%2Fcampaign%2Fspu%2Fpayment%2F%3Fscid%3Dwi_ich_spu_subpage_payment&D2=1.53089.255283.910529.32388468&C3=c5ef26d0b5775fcdfe5c78eb6cef9b5230a714f9">楽天モバイル<br>キャリア決済</a>
				</li><li class="spuCommonHeader__service spuCommonHeader__service--rakutenhikari">
					<a class="spuCommonHeader__serviceLink" href="https://rd.rakuten.co.jp/s/?R2=https%3A%2F%2Fnetwork.mobile.rakuten.co.jp%2Finternet%2Fturbo%2Fcampaign%2Fspu%2F%3Fscid%3Dwi_ich_subpage_spu_turbo-hikari_sp&D2=1.53089.255283.910478.32392028&C3=1ac4114f9d3c4cb223277a8bc9cb54a4866e50ba">Rakuten Turbo<br>／楽天ひかり</a>
				</li><li class="spuCommonHeader__service spuCommonHeader__service--rakutencard">
					<a class="spuCommonHeader__serviceLink" href="https://rd.rakuten.co.jp/s/?R2=https%3A%2F%2Fwww.rakuten-card.co.jp%2Fcampaign%2Frakuten-card%2Fpoint-up%2F&D2=1.53089.255283.910529.32297795&C3=789ae2144b46021470370ea0fae2573602f61238">楽天カード<br>通常分</a>
				</li><li class="spuCommonHeader__service spuCommonHeader__service--rakutencard">
					<a class="spuCommonHeader__serviceLink" href="https://rd.rakuten.co.jp/s/?R2=https%3A%2F%2Fwww.rakuten-card.co.jp%2Fcampaign%2Frakuten-card%2Fpoint-up%2F&D2=1.53089.255283.910529.32297795&C3=789ae2144b46021470370ea0fae2573602f61238">楽天カード<br>特典分</a>
				</li><li class="spuCommonHeader__service spuCommonHeader__service--rakutenbank">
					<a class="spuCommonHeader__serviceLink" href="https://rd.rakuten.co.jp/s/?R2=https%3A%2F%2Fwww.rakuten-bank.co.jp%2Fcampaign%2Fspu%2F%3Fscid%3Dwi_ich_spu_spusubtab&D2=1.53089.255283.910529.32307748&C3=f80cb13037f111e38586c2833ce92eaae8ef8392">楽天銀行<br>＋楽天カード</a>
				</li><li class="spuCommonHeader__service spuCommonHeader__service--rakutensecurities">
					<a class="spuCommonHeader__serviceLink" href="https://rd.rakuten.co.jp/s/?R2=https%3A%2F%2Fr10.to%2Fhv65fA&D2=1.53089.255283.910529.32313410&C3=67fbec01f06a4192a25f0b52deb89fb4048bf757">楽天証券<br>投資信託</a>
				</li><li class="spuCommonHeader__service spuCommonHeader__service--rakutensecurities_us">
					<a class="spuCommonHeader__serviceLink" href="https://www.rakuten-sec.co.jp/web/campaign/spu_us/?scid=wi_ich_spu_sputop_sp">楽天証券<br>米国株式</a>
				</li><li class="spuCommonHeader__service  spuCommonHeader__service--rakutenwallet">
					<a class="spuCommonHeader__serviceLink" href="https://rd.rakuten.co.jp/c/?R2=https%3A%2F%2Fwww.rakuten-wallet.co.jp%2Flp%2Fspu%2F%3Fscid%3Dwi_ich_spu_sp&D2=1.0.255283.910530.32390078&C3=a55b58a237e8914fe16ef6ce879f641db2de4bdb">楽天ウォレット</a>
				</li><li class="spuCommonHeader__service spuCommonHeader__service--energy">
					<a class="spuCommonHeader__serviceLink spuCommonHeader__service--new" href="https://energy.rakuten.co.jp/campaign/lp/spu/?scid=wi_ich_energy_spulink_gbanner_sp">楽天でんき</a>
				</li><li class="spuCommonHeader__service spuCommonHeader__service--rakutentravel">
					<a class="spuCommonHeader__serviceLink" href="https://rd.rakuten.co.jp/s/?R2=https%3A%2F%2Ftravel.rakuten.co.jp%2Fcamp%2Fspu%2F%3Fscid%3Dwi_trv_spu_tlb_pc&D2=1.53089.255283.910529.32297793&C3=ecbd7eae35d072f1d7148ddb24e5e41fb0b2bb9e">楽天トラベル</a>
				</li><li class="spuCommonHeader__service spuCommonHeader__service--books">
					<a class="spuCommonHeader__serviceLink" href="https://rd.rakuten.co.jp/s/?R2=https%3A%2F%2Fbooks.rakuten.co.jp%2Fevent%2Fcampaign%2Fpointup-program%2F%3Fscid%3Dwi_ich_special_all_spu_link01a&D2=1.53089.255283.910529.32297801&C3=a5d39c594f8bb0e6c2a474b1174faf27ba142ca3">楽天ブックス</a>
				</li><li class="spuCommonHeader__service spuCommonHeader__service--kobo">
					<a class="spuCommonHeader__serviceLink" href="https://rd.rakuten.co.jp/s/?R2=https%3A%2F%2Fbooks.rakuten.co.jp%2Fevent%2Fe-book%2Fspu%2F%3Fscid%3Dwi_ich_special_kobo_spu_02&D2=1.53089.255283.910529.32333857&C3=dc2c224daa6b7f17f458f21f194a2ace3b82fcd8">楽天Kobo</a>
				</li><li class="spuCommonHeader__service spuCommonHeader__service--pasha">
					<a class="spuCommonHeader__serviceLink" href="https://rd.rakuten.co.jp/c/?R2=https%3A%2F%2Fpasha.rakuten.co.jp%2Fspecial%2Fcampaign%2Fspu%2F%3Fref%3Dspugadget_pasha_sp&D2=1.0.255283.910530.32390079&C3=d176e3b5e721aa7796ab71d95b53511f9329c88e">Rakuten<br>Pasha</a>
				</li><li class="spuCommonHeader__service spuCommonHeader__service--rakutenrba">
					<a class="spuCommonHeader__serviceLink" href="https://rd.rakuten.co.jp/s/?R2=https%3A%2F%2Fbrandavenue.rakuten.co.jp%2Fguide%2Fspu%2F%3Fscid%3Dbrn_spu_main&D2=1.53089.255283.910529.32333864&C3=f2cc92a8d543f9ba89c36ef41839708ef7af76e2">Rakuten<br>Fashionアプリ</a>
				</li><li class="spuCommonHeader__service spuCommonHeader__service--rakutenbeauty">
					<a class="spuCommonHeader__serviceLink" href="https://rd.rakuten.co.jp/s/?R2=https%3A%2F%2Fbeauty.rakuten.co.jp%2Fcnt%2Ftopics%2Fcampaign%2Fspu%2F%3Fscid%3Dwi_ich_spu_tab_pc&D2=1.53089.255283.910529.32333863&C3=66bfe6fb42a7e346ac03e45a0098ed2bf46553c2">楽天ビューティ</a>
				</li>
			</ul>
		</div>
	</div>
	<!--/.spuCommonHeader__serviceContainer-->
	<div class="spuCommonHeader__slideshowContainer">
		<div class="spuCommonHeader__slideshowFrame">
			<div class="spuCommonHeader__slideshowPrev"></div>
			<div class="spuCommonHeader__slideshowBody"></div>
			<div class="spuCommonHeader__slideshowNext"></div>
		</div>
	</div>
	<!--/.spuCommonHeader__slideshowContainer-->
</div>

<div class="<%= namespace %>-Layout_Spu <%= namespace %>-Util_Mt-52-8">
  <div class="l-System_Container">
    <div class="<%= namespace %>-Main">
      <div class="<%= namespace %>-Main_Head">
        <h1 class="c-Heading_Lv1 <%= namespace %>-Flex-center"><img src="<%= sitepath %>assets/img/campaign/spu/payment/spu-payment-logo.png" alt="" width="72px" class="<%= namespace %>-Main_Head-logo">楽天モバイルキャリア決済ご利用でポイント＋2倍</h1>
      </div>
      <div class="<%= namespace %>-Main_Head <%= namespace %>-justify-content-end">
        <ul class="c-Txt_Cap">
          <li>上限ポイントあり</li>
          <li>期間限定ポイント</li>
        </ul>
      </div>
      <div class="<%= namespace %>-Contents">
        <h2 class="<%= namespace %>-Contents_Ttl u-Adjust_Align-center">楽天モバイルキャリア決済（Androidのみ）を<br class="<%= namespace %>_Br-pc">
          当月、合計2,000円（税込）以上ご利用で</h2>
        <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/spu/payment/spu-payment-img-01-sp-231201.png" width="100%">
            <img src="<%= sitepath %>assets/img/campaign/spu/payment/spu-payment-img-01-pc-231201.png" width="480" height="150" alt="その月の楽天市場でのお買い物がポイント+2倍">
          </picture>
        </div>
        <p class="<%= namespace %>-Util_Rcolor <%= namespace %>-Util_Center-pc u-Adjust_Mt-16">
          ※Rakuten最強プランのご契約が必要です。<br>
          ※楽天回線対応のAndroid製品をご利用の方が対象です。<br>
          <span class="c-Txt_Emp-02">※「Rakuten最強プラン（データタイプ）」は対象外です。</span>
        </p>

        <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><a href="#campaign-rule" class="c-Link_Txt-icon-front js-scroll <%= namespace %>-Flex-center-center"><span class="c-Icon_Arrow-down-l"></span>条件に関する詳細について</a></div>

        <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
          <!--
          <img src="<%= sitepath %>assets/img/campaign/spu/payment/spu-payment-img-02-pc.png?210901" class="<%= namespace %>-Util_Img-pc" width="856" alt="例えばGoogle Playストアで アプリ購入代1,000円（税込）＋ゲームアプリ内のサービス料金1,000円（税込）当月合わせて2,000円（税込）購入で…＞当月の楽天市場でのお買い物がポイント＋0.5倍">
          <img src="<%= sitepath %>assets/img/campaign/spu/payment/spu-payment-img-02-sp.png?210901" class="<%= namespace %>-Util_Img-sp" alt="例えばGoogle Playストアで アプリ購入代1,000円（税込）＋ゲームアプリ内のサービス料金1,000円（税込）当月合わせて2,000円（税込）購入で…＞当月の楽天市場でのお買い物がポイント＋0.5倍">
          -->
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/spu/payment/spu-payment-img-02-sp-231201.png" width="100%">
            <img src="<%= sitepath %>assets/img/campaign/spu/payment/spu-payment-img-02-pc-231201.png" width="856" height="209" alt="例えばGoogle Playストアで アプリ購入代1,000円（税込）＋ゲームアプリ内のサービス料金1,000円（税込）当月合わせて2,000円（税込）購入で…＞当月の楽天市場でのお買い物がポイント＋0.5倍">
          </picture>
        </div>

        <p class="u-Adjust_Align-center u-Adjust_Mt-24"><a href="<%= sitepath %>fee/saikyo-plan/?l-id=campaign_spu_payment_fee_saikyo-plan" class="c-Btn_Primary-large"><span>楽天モバイルに申し込む</span></a></p>

        <p class="c-Txt_Cap u-Adjust_Align-center u-Adjust_Mt-16 <%= namespace %>_Sp-left">
          ※楽天モバイルキャリア決済ポイント+2倍は、Rakuten最強プランで楽天回線対応のAndroid製品をご利用の方が対象となりますので、楽天モバイル（ドコモ回線・au回線）をご利用の方は、Rakuten最強プランにプラン変更（移行）が必要となります。
        </p>

        <div class="c-Infobox_Standing-light u-Adjust_Mt-32">
          <p class="c-Txt_Normal-m c-Txt_Emp-01 u-Adjust_Align-center">貯まったポイントを楽天モバイルの月々のお支払いに<span class="c-Txt_Normal-s">※</span></p>
          <div class="l-Media_Grid u-Adjust_Mt-16">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/campaign/spu/payment/spu-payment-img-03.png?210901" alt="">
            </div>
            <div>
              <p>期間限定ポイントを使い切るなら支払いを楽天ポイント利用でおトクに！</p>
              <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/payment/point/?l-id=campaign_spu_payment_point" class="c-Btn_Regular">詳細はこちら</a></p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※毎月の端末割賦費用は対象外となります<br>
                ※楽天モバイルキャリア決済のお支払いにポイントはご利用いただけません
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="u-Adjust_Mt-64">
      <div class="<%= namespace %>-System_Container_sp">
        <div class="c-Infobox_Standing-border <%= namespace %>_Info-box">
          <h2 class="c-Heading_Lv2">楽天モバイルキャリア決済とは？</h2>
          <div class="l-Media_Grid-small u-Adjust_Mt-16">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/campaign/spu/payment/spu-payment-img-04.png?210901" alt="" width="288">
            </div>
            <div>
              <h3 class="c-Heading_Lv3">特長</h3>
              <p class="u-Adjust_Mt-8">Google Playストアでダウンロードしたゲームアプリ内での課金や、LINEコイン、YouTube Premium、電子マガジン、Google Oneなどの料金支払いを楽天モバイルのお支払いと同じ方法で決済できるサービスです。</p>
              <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/payment/google/?l-id=campaign_spu_payment_guide" class="c-Link_Txt-inline">詳しくみる<span class="c-Icon_Chevron-right"></span></a></p>
            </div>
          </div>

          <div class="l-Media_List-3 u-Adjust_Mt-16">
            <div>
              <div>
                <h3 class="c-Heading_Lv3">簡単</h3>
                <p>Google Playストアのお支払い方法を設定するだけでご利用可能！<span class="c-Txt_Normal-s">※</span></p>
              </div>
            </div>
            <div>
              <div>
                <h3 class="c-Heading_Lv3">便利</h3>
                <p>毎月の楽天モバイルのお支払いと同じ方法で決済できる！</p>
              </div>
            </div>
            <div>
              <div>
                <h3 class="c-Heading_Lv3">安心</h3>
                <p>楽天モバイルの提供する決済サービスだから安心！</p>
              </div>
            </div>
          </div>

          <p class="c-Txt_Cap u-Adjust_Mt-16">
            ※Google Playストアの設定以外に、「my 楽天モバイル」でご利用設定を「有効」にする必要があります。初期設定時は「有効」に設定されています。<br>
            <a href="<%= sitepath %>guide/payment/google/setting/index.html#google-1" class="c-Link_Txt">ご利用設定（有効／無効）の変更方法を見る</a>
          </p>

          <p class="u-Adjust_Align-center u-Adjust_Mt-24"><a href="<%= sitepath %>guide/payment/google/google-setting/?l-id=campaign_spu_payment_setting" class="c-Btn_Primary-large"><span>Google Playストアの設定方法を確認して利用開始する</span></a></p>
          <p class="u-Adjust_Align-center u-Adjust_Mt-16"><a href="<%= sitepath %>guide/payment/google/google-setting/?l-id=campaign_spu_payment_setting_under" class="c-Btn_Regular"><span>ご利用情報の変更・利用履歴の確認方法を見る</span></a></p>

          <h2 class="c-Heading_Lv2 u-Adjust_Mt-32">お支払い方法</h2>

          <p class="u-Adjust_Mt-16">キャリア決済を利用するには「my 楽天モバイル」のお支払い方法をクレジットカードまたはデビットカードに設定しておく必要があります。</p>
          <p class="c-Txt_Emp-02 c-Txt_Normal-s">※楽天モバイルキャリア決済設定時に、SMS送信料3円（税込3.3円）のご請求が発生します。あらかじめご了承ください。</p>


          <div class="l-Media_Grid-small u-Adjust_Mt-16">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/campaign/spu/payment/spu-payment-img-13.png?210901" alt="" width="288">
            </div>
            <div>

              <p class="c-Txt_Emp-02">クレジットカード払いまたはデビットカード払い以外を選択されているお客様は、本サービスをご利用いただくことはできません。ご利用の前にお支払い方法の変更を行ってください。</p>

              <p class="c-Txt_Cap u-Adjust_Mt-8">
                ※ご購入ごとにクレジットカードまたはデビットカード決済処理を実施いたします。ご利用日に対する引き落とし時期は、ご利用のカード会社またはデビットカード発行会社の規定に準じます。<br>
                ※楽天モバイルキャリア決済でのお支払いは、ポイント付与対象外です。
              </p>

              <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/payment/change/?l-id=campaign_spu_payment_guide_payment_change" class="c-Link_Txt-inline">お支払い方法の確認・変更方法<span class="c-Icon_Chevron-right"></span></a></p>
              <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/payment/card/" class="c-Link_Txt-inline u-Adjust_Mt-24 c-Link_Txt">クレジットカード・デビットカードでのお支払い方法<span class="c-Icon_Chevron-right"></span></a></p>
            </div>
          </div>

          <!-- <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <a href="<%= sitepath %>campaign/payment-google/?l-id=campaign_spu_payment_cam" class="c-Banner_Hover-act">
              <img src="<%= sitepath %>assets/img/campaign/spu/payment/spu-payment-bnr-01-pc.png" class="<%= namespace %>-Util_Img-pc" width="680" alt="">
              <img src="<%= sitepath %>assets/img/campaign/spu/payment/spu-payment-bnr-01-sp.png" class="<%= namespace %>-Util_Img-sp" alt="">
            </a>
          </div> -->
          <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
            <a href="<%= sitepath %>campaign/payment-google/?l-id=campaign_spu_payment_cam" class="c-Banner_Hover-act">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-payment-google-343-108-240201.png" width="656" height="370">
                <img src="<%= sitepath %>assets/img/bnr/bnr-payment-google-1032-160-240201.png" width="1032" height="160" alt="Android™でのアプリ購入やアプリ内課金が楽天モバイルキャリア決済利用で最大2%ポイント還元" loading="lazy">
              </picture>
            </a>
          </div>

        </div>
        <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
          <a href="<%= sitepath %>campaign/spu/?l-id=campaign_spu_payment_campaign_spu#beginners" class="c-Banner_Hover-act">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/spu/payment/spu-payment-bnr-02-sp-240315.png?240501" width="564" height="444">
              <img src="<%= sitepath %>assets/img/campaign/spu/payment/spu-payment-bnr-02-pc-240315.png?240501" width="1032" height="278" alt="楽天モバイルをはじめてお申し込みの方限定" loading="lazy">
            </picture>
          </a>
        </div>
      </div>
    </div>

  </div>

</div>


<div class="<%= namespace %>-Layout_Body u-Adjust_Mt-64">

  <div class="l-System_Container">
      <%- include('/inc/_saikyo') %>
  </div>

  <div class="l-System_Container">
    <div class="<%= namespace %>-Layout_Rule" id="campaign-rule">
      <h2>楽天モバイルキャリア決済ご利用者はポイント+2倍</h2>
      <div class="c-Table_Wrap u-Adjust_Mt-24">
        <table class="c-Table_Container <%= namespace %>-Table_Rule">
          <colgroup>
            <col>
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th>対象者</th>
              <td>
                <p>楽天モバイルキャリア決済（Androidのみ）のご利用が月に合計2,000円（税込）以上の楽天モバイル「Rakuten最強プラン」ご契約者様</p>
                <ul class="c-Txt_Cap u-Adjust_Mt-8">
                  <li><span>※</span>楽天回線対応のAndroid製品をご利用の方のみ対象となります</li>
                  <li class="c-Txt_Emp-02"><span>※</span>「Rakuten最強プラン（データタイプ）」は対象外です </li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>キャンペーン特典</th>
              <td>
                <p>ポイント+2倍</p>

                <p class="u-Adjust_Mt-16"><b>＜ポイント付与対象＞</b><br>
                  当月の楽天市場でのお買い物
                </p>
                <p class="u-Adjust_Mt-16"><b>＜ポイント付与予定日＞</b><br>
                  <span>楽天市場でのお買い物月の翌月15日</span>
                </p>
                <p class="u-Adjust_Mt-16">
                  <b>＜ポイント期限＞</b><br>
                  付与の翌月末日 23:59
                </p>
                <p><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_Chevron-right"></span></a></p>
                <p class="u-Adjust_Mt-16">
                  <b>＜月間獲得上限ポイント数＞</b><br>
                  1,000ポイント
                </p>
              </td>
            </tr>
            <tr>
              <th>対象サービス</th>
              <td>
                <p>
                  楽天モバイルキャリア決済（Androidのみ）を月に合計2,000円（税込）以上ご利用<br>
                  対象プラン：Rakuten最強プラン
                </p>
                <ul class="c-Txt_Cap u-Adjust_Mt-8">
                  <li><span>※</span>楽天回線対応のAndroid製品をご利用の方のみ対象となります</li>
                  <li class="c-Txt_Emp-02"><span>※</span>「Rakuten最強プラン（データタイプ）」は対象外です </li>
                </ul>
                <p class="u-Adjust_Mt-16"><b>＜注意事項＞</b></p>
                <ul class="c-Txt_Cap u-Adjust_Mt-8">
                  <li><span>※</span>月の合計利用金額が2,000円（税込）未満だった場合、本キャンペーンの対象外となります。</li>
                  <li><span>※</span>楽天モバイルキャリア決済サービスは、楽天回線対応のAndroid製品をご利用の方のみを対象としております。</li>
                  <li><span>※</span>既に楽天モバイルをご利用の方も対象になります。</li>
                  <li><span>※</span>ドコモ回線・au回線用プランのスーパーホーダイ、組み合わせプラン、コミコミプランは、SPUの対象外となります。</li>
                  <li><span>※</span>旧FREETEL SIM、DMM mobile SIMは特典対象外となります。</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>その他注意事項</th>
              <td>
                <ul class="c-List_Text-disc">
                  <li>楽天モバイルキャリア決済のご利用が確認できた月の楽天市場での商品購入が対象となります。</li>
                  <li>ポイントは条件達成月より特典対象となります。当月中のお買い物に適用され、月中に条件達成された場合、月初まで遡ってその月の楽天市場での購入分が特典対象となります</li>
                  <li>Google Playストアの設定以外に、「my 楽天モバイル」でご利用設定を「有効」にする必要があります。</li>
                  <li>表示上、ポイント倍率や獲得予定ポイント数に「SPU＋2倍」の情報が反映されるのは、楽天モバイルキャリア決済（Androidのみ）を月間合計2,000円（税込）以上ご利用後2-3日かかります。予めご了承ください。</li>
                  <li>楽天モバイルをご解約された場合、解約した月から特典の対象外となります。</li>
                  <li>以下の条件に当てはまる場合は、ポイント付与対象外となります。</li>
                </ul>
                <ul class="c-Txt_Cap u-Adjust_Mt-16">
                  <li><span>※</span>楽天モバイルキャリア決済のご利用が確認できない場合</li>
                  <li><span>※</span>楽天モバイルにご登録の楽天IDを削除された場合</li>
                  <li><span>※</span>楽天モバイルキャリア決済をご利用時の楽天ポイント口座を変更された場合</li>
                  <li><span>※</span>当社の提供するサービスなどの料金のお支払いを、お支払期限までに行わなかった場合</li>
                  <li><span>※</span>当社が定める規約などに違反した場合</li>
                  <li><span>※</span>そのほか、当社が会員として不適格であると合理的に判断した場合</li>
                  <li class="c-Txt_Emp-02"><span>※</span>「Rakuten最強プラン（データタイプ）」は対象外です </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="<%= namespace %>-Layout_Section-btn u-Adjust_Mt-24">
      <p class="u-Adjust_Align-center"><a href="<%= sitepath %>fee/saikyo-plan/?l-id=campaign_spu_payment_fee_saikyo-plan" class="c-Btn_Primary-large"><span>楽天モバイルに申し込む</span></a></p>
    </div>

    <div class="u-Adjust_Mt-64">
      <%- include('/include/_bnr-cpn-recommend-v2.ejs') %>
    </div>

  </div>
</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-news.ejs') %>

    <%- include('/include/footer/bnr/_bnr-news.ejs') %>

  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
