<% const pagetitle = "Step-by-Step Application Guide" -%>
<% const directories = [] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: 'Explore Rakuten Mobile’s Step-by Step Application Guide. Simplify your journey from application to usage with our comprehensive 4-step guide. Learn how to seamlessly navigate the Rakuten Mobile process today.',
    keywords: '',
    noindex: false,
    pathname: filepath,
    isEnglish: true
  });
%>

<% const nameSpace = "procedure-en" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/procedure/en/procedure-en.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body class="procedure-en-Base">
<%- include('/include/_prepend-body') %>
<div class="l-System">
<%- include('/include/_header') %>
<%- include('/include/_breadcrumbs', {
  type: 'head',
  pagetitle,
  directories,
}) %>

<div class="<%= nameSpace %>-Hero">
  <h1 class="u-Adjust_Align-center">
    <picture>
      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/procedure/en/hero-en-sp.png">
      <img src="<%= sitepath %>assets/img/guide/procedure/en/hero-en-pc.png" width="1440" height="420" alt="New to Rakuten Mobile? Step-by-Step Application Guide">
    </picture>
  </h1>
</div>

<section class="<%= nameSpace %>-Anchor_Wrapper">
  <div class="l-System_Container">
    <h2 class="c-Heading_Lv2 u-Adjust_Align-center"><span class="c-Txt_Emp-02">Simple Steps</span> <br class="u-Show_Oox" />to Get Started</h2>
    <p class="u-Align_Lcc u-Adjust_Mt-16">Rakuten Mobile provides a single plan based on your monthly data usage, <span class="<%= nameSpace %>-Utility_Bg">simplifying the need for complex choices!</span></p>
    <ul class="<%= nameSpace %>-Anchor_List">
      <li class="<%= nameSpace %>-Anchor_Item">
        <a href="?l-id=top-modal_guide_procedure_en#step1" class="<%= nameSpace %>-Anchor_Link js-scroll">
          <p class="c-Txt_Emp-02 u-Adjust_Align-center">STEP1</p>
          <div class="<%= nameSpace %>-Anchor_Img">
            <img src="<%= sitepath %>assets/img/guide/procedure/en/anchor-en-02.png" width="118" height="53" alt="">
          </div>
          <p class="<%= nameSpace %>-Anchor_Text c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>Gather the required documents.</p>
        </a>
      </li>
      <li class="<%= nameSpace %>-Anchor_Item">
        <a href="?l-id=top-modal_guide_procedure_en#step2" class="<%= nameSpace %>-Anchor_Link js-scroll">
          <p class="c-Txt_Emp-02 u-Adjust_Align-center">STEP2</p>
          <div class="<%= nameSpace %>-Anchor_Img">
            <img src="<%= sitepath %>assets/img/guide/procedure/en/anchor-en-01.png" width="80" height="64" alt="">
          </div>
          <p class="<%= nameSpace %>-Anchor_Text c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>Choose your smartphone.</p>
        </a>
      </li>
      <li class="<%= nameSpace %>-Anchor_Item">
        <a href="?l-id=top-modal_guide_procedure_en#step3" class="<%= nameSpace %>-Anchor_Link js-scroll">
          <p class="c-Txt_Emp-02 u-Adjust_Align-center">STEP3</p>
          <div class="<%= nameSpace %>-Anchor_Img">
            <img src="<%= sitepath %>assets/img/guide/procedure/en/anchor-en-03.png" width="143" height="51" alt="">
          </div>
          <p class="<%= nameSpace %>-Anchor_Text c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>Apply through your preferred method.</p>
        </a>
      </li>
      <li class="<%= nameSpace %>-Anchor_Item">
        <a href="?l-id=top-modal_guide_procedure_en#step4" class="<%= nameSpace %>-Anchor_Link js-scroll">
          <p class="c-Txt_Emp-02 u-Adjust_Align-center">STEP4</p>
          <div class="<%= nameSpace %>-Anchor_Img">
            <img src="<%= sitepath %>assets/img/guide/procedure/en/anchor-en-04.png" width="80" height="64" alt="">
          </div>
          <p class="<%= nameSpace %>-Anchor_Text c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>Complete the initial setup and start using!</p>
        </a>
      </li>
    </ul>
  </div>
</section>

<section class="<%= nameSpace %>-Step1_Wrapper">
  <div class="l-System_Container" id="step1">
    <h2 class="c-Heading_Lv2 u-Align_Llc"><span class="c-Heading_Lv4 c-Txt_Emp-02 <%= nameSpace %>-Step2_Title-sub">STEP1</span>Gather the required documents</h2>
    <p class="u-Adjust_Align-center c-Heading_Lv4 u-Adjust_Mt-16"><span class="<%= nameSpace %>-Utility_Bg">Select the items you’d like to use</span></p>
    <ul class="<%= nameSpace %>-Step1_List">
      <li class="<%= nameSpace %>-Step1_Item" id="step1-link-other" aria-selected="true" aria-controls="step1-content-other">
        <a href="?l-id=top-modal_guide_procedure_en#step1-contents" class="<%= nameSpace %>-Step1_Link js-scroll-guide">
          <p class="<%= nameSpace %>-Step1_Link-title">Switch from another carrier</p>
          <div class="<%= nameSpace %>-Step1_Img u-Adjust_Mt-8 u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/procedure/en/step2-en-01.png" width="150" height="94" alt="">
          </div>
        </a>
      </li>
      <li class="<%= nameSpace %>-Step1_Item" id="step1-link-new" aria-selected="false" aria-controls="step1-content-new">
        <a href="?l-id=top-modal_guide_procedure_en#step1-contents" class="<%= nameSpace %>-Step1_Link js-scroll-guide">
          <p class="<%= nameSpace %>-Step1_Link-title">Get a new number</p>
          <div class="<%= nameSpace %>-Step1_Img u-Adjust_Mt-8 u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/procedure/en/step2-en-02.png" width="150" height="94" alt="">
          </div>
        </a>
      </li>
      <li class="<%= nameSpace %>-Step1_Item" id="step1-link-change" aria-selected="false" aria-controls="step1-content-change">
        <a href="?l-id=top-modal_guide_procedure_en#step1-contents" class="<%= nameSpace %>-Step1_Link js-scroll-guide">
          <p class="<%= nameSpace %>-Step1_Link-title">Upgrade to a new model</p>
          <div class="<%= nameSpace %>-Step1_Img u-Adjust_Mt-8 u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/procedure/en/step2-en-03.png" width="150" height="94" alt="">
          </div>
        </a>
      </li>
      <li class="<%= nameSpace %>-Step1_Item" id="step1-link-rakuten" aria-selected="false" aria-controls="step1-content-rakuten">
        <a href="?l-id=top-modal_guide_procedure_en#step1-contents" class="<%= nameSpace %>-Step1_Link js-scroll-guide">
          <p class="<%= nameSpace %>-Step1_Link-title direction-column <%= nameSpace %>-Step1_Link-title-size-m">Switch from Rakuten Mobile<span>(using docomo or au line)</span></p>
          <div class="<%= nameSpace %>-Step1_Img u-Adjust_Mt-8 u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/procedure/en/step2-en-04.png" width="150" height="82" alt="">
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="<%= nameSpace %>-Step1_Content-wrapper" id="step1-contents">
    <div class="l-System_Container">
      <div id="step1-content-other" class="<%= nameSpace %>-Step1_Content" aria-expanded="true" labelledby="step1-link-other">
          <h3 class="c-Heading_Lv3 u-Align_Llc">Requirements for switching from another carrier (MNP)</h3>
          <ul class="<%= nameSpace %>-Step1_List-accordion">
            <li class="<%= nameSpace %>-Step1_Item-accordion">
              <button id="accordion-other01" class="<%= nameSpace %>-Step1_Accordion-button c-Accordion_Trigger js-Accordion_Trigger c-Txt_Emp-01" aria-expanded="true" aria-controls="accordion-content-other01"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Identity verification documents</button>
              <div id="accordion-content-other01" class="<%= nameSpace %>-Step1_Accordion-content c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-other01" aria-hidden="false">
                <div class="<%= nameSpace %>-Step1_Item-flex">
                  <div class="<%= nameSpace %>-Step1_Item-flex-left">
                    <img src="<%= sitepath %>assets/img/guide/procedure/en/step2-en-05.png" width="125" height="78" alt="">
                  </div>
                  <div class="<%= nameSpace %>-Step1_Item-flex-right">
                    <p class="c-Txt_Emp-01">Driver’s licence, My Number card, etc.</p>
                    <p class="<%= nameSpace %>-Step1_Item-annotation">*Foreign customers require different identification. </p>
                    <div class="u-Align_Ccl u-Adjust_Mt-16">
                      <a href="<%= sitepath %>guide/verify/en/?l-id=guide_procedure_en_guide_verify_en" class="<%= nameSpace %>-Step1_Button c-Btn_Regular">Check accepted identity verification documents</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="<%= nameSpace %>-Step1_Item-accordion">
              <button id="accordion-other02" class="<%= nameSpace %>-Step1_Accordion-button default-close c-Accordion_Trigger js-Accordion_Trigger c-Txt_Emp-01" aria-expanded="false" aria-controls="accordion-content-other02"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>MNP reservation number<span class="<%= nameSpace %>-Step1_Accordion-annotation">*Necessary for in-store applicants or those switching from carriers not supporting MNP One-Stop.</span></button>
              <div id="accordion-content-other02" class="<%= nameSpace %>-Step1_Accordion-content default-close c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-other02" aria-hidden="true">
                <div class="<%= nameSpace %>-Step1_Item-flex">
                  <div class="<%= nameSpace %>-Step1_Item-flex-left">
                    <img src="<%= sitepath %>assets/img/guide/procedure/en/step2-en-09.png" width="105" height="120" alt="">
                  </div>
                  <div class="<%= nameSpace %>-Step1_Item-flex-right">
                    <p>If you're applying in-store or switching from a carrier that does not support MNP One-Stop, get an <span class="<%= nameSpace %>-Utility_Bg">MNP reservation number from your current carrier</span> first.</p>
                    <div class="<%= nameSpace %>-Step1_Button-wrapper">
                      <div class="u-Align_Ccl u-Adjust_Mt-16">
                        <a href="<%= sitepath %>guide/mnp/?l-id=guide_procedure_en_guide_mnp#howToSignUp" class="<%= nameSpace %>-Step1_Button c-Btn_Regular">How to get your <br class="u-Show_Ooo" />MNP reservation number</a>
                      </div>
                      <div class="u-Align_Ccl u-Adjust_Mt-16">
                        <a href="<%= sitepath %>guide/mnp/?l-id=guide_procedure_en_guide_mnp#career" class="<%= nameSpace %>-Step1_Button c-Btn_Regular">List of companies <br class="u-Show_Ooo" />supporting MNP One-Stop</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="<%= nameSpace %>-Step1_Item-accordion">
              <button id="accordion-other03" class="<%= nameSpace %>-Step1_Accordion-button default-close c-Accordion_Trigger js-Accordion_Trigger c-Txt_Emp-01" aria-expanded="false" aria-controls="accordion-content-other03"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten member ID and password</button>
              <div id="accordion-content-other03" class="<%= nameSpace %>-Step1_Accordion-content default-close c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-other03" aria-hidden="true">
                <div class="<%= nameSpace %>-Step1_Item-flex">
                  <div class="<%= nameSpace %>-Step1_Item-flex-left">
                    <img src="<%= sitepath %>assets/img/guide/procedure/en/step2-en-06.png" width="125" height="68" alt="">
                  </div>
                  <div class="<%= nameSpace %>-Step1_Item-flex-right">
                    <div class="<%= nameSpace %>-Step1_Flex">
                      <div>
                        <p class="<%= nameSpace %>-Step1_Flex-text c-Txt_Emp-01">Non-Rakuten members</p>
                        <p class="u-Adjust_Mt-8 u-Adjust_Mt-pc-16">If you don’t have a Rakuten ID, please sign up for a free Rakuten membership. </p>
                        <div class="u-Align_Ccl u-Adjust_Mt-pc-40 u-Adjust_Mt-sp-16">
                          <a href="https://www.rakuten.co.jp/myrakuten/help/" class="<%= nameSpace %>-Step1_Button-small <%= nameSpace %>-Step1_Button-blank c-Btn_Regular" target="_blank" rel="noopener">Sign up for membership<span class="c-Icon_New-window-l"></span></a>
                        </div>
                      </div>
                      <div>
                        <p class="<%= nameSpace %>-Step1_Flex-text c-Txt_Emp-01">Rakuten members</p>
                        <p class="u-Adjust_Mt-8 u-Adjust_Mt-pc-16">Ensure your registered details are current and consistent with your application.</p>
                        <div class="u-Align_Ccl u-Adjust_Mt-16">
                          <a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="<%= nameSpace %>-Step1_Button-small <%= nameSpace %>-Step1_Button-blank c-Btn_Regular" target="_blank" rel="noopener">Update or check your <br class="u-Show_Ooo" />Rakuten membership<span class="c-Icon_New-window-l"></span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="<%= nameSpace %>-Step1_Item-accordion">
              <button id="accordion-other04" class="<%= nameSpace %>-Step1_Accordion-button default-close c-Accordion_Trigger js-Accordion_Trigger c-Txt_Emp-01" aria-expanded="false" aria-controls="accordion-content-other04"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Credit card / bank account information</button>
              <div id="accordion-content-other04" class="<%= nameSpace %>-Step1_Accordion-content default-close c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-other04" aria-hidden="true">
                <div class="<%= nameSpace %>-Step1_Item-flex">
                  <div class="<%= nameSpace %>-Step1_Item-flex-left">
                    <img src="<%= sitepath %>assets/img/guide/procedure/en/step2-en-07.png" width="125" height="78" alt="">
                  </div>
                  <div class="<%= nameSpace %>-Step1_Item-flex-right">
                    <p>Provide your credit card or bank account information for monthly payments or direct debits.</p>
                    <div class="u-Align_Ccl u-Adjust_Mt-16 u-Adjust_Mt-pc-8">
                      <a href="<%= sitepath %>guide/payment/?l-id=guide_procedure_en_guide_payment" class="<%= nameSpace %>-Step1_Button c-Btn_Regular">Check payment methods</a>
                    </div>
                    <p class="<%= nameSpace %>-Step1_Item-annotation">*When using a payment method that is not in your name, you must be accompanied by the named account/cardholder.</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="<%= nameSpace %>-Step1_Notes">
            <p class="c-Txt_Emp-01">Notes</p>
            <p class="c-Txt_Emp-01 u-Adjust_Mt-8">■For subscribers who are not the primary user</p>
            <p class="u-Adjust_Mt-8">If you are registered as a user, but not as the primary subscriber on your current mobile plan, you must first cancel your user registration. Then, the person named as the subscriber on your current plan must complete the MNP transfer-out process. For more information on how to cancel your user registration, please contact your current mobile carrier.</p>
            <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■For individuals under 18</p>
            <p class="u-Adjust_Mt-8">In addition to the requirements above, individuals under 18 must provide a written consent and signature from a legal representative (e.g., a parent or guardian). <a href="<%= sitepath %>flow/for-minors/?l-id=guide_procedure_en_flow_for-minors" class="c-Link_Txt">Click here</a> for more details.</p>
          </div>
      </div>
      <div id="step1-content-new" class="<%= nameSpace %>-Step1_Content" aria-expanded="false" labelledby="step1-link-new">
          <h3 class="c-Heading_Lv3 u-Align_Llc">Requirements for getting a new number</h3>
          <ul class="<%= nameSpace %>-Step1_List-accordion">
            <li class="<%= nameSpace %>-Step1_Item-accordion">
              <button id="accordion-new01" class="<%= nameSpace %>-Step1_Accordion-button c-Accordion_Trigger js-Accordion_Trigger c-Txt_Emp-01" aria-expanded="true" aria-controls="accordion-content-new01"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Identity verification documents<span class="<%= nameSpace %>-Step1_Accordion-annotation">*Not needed for data type applications.</span></button>
              <div id="accordion-content-new01" class="<%= nameSpace %>-Step1_Accordion-content c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-new01" aria-hidden="false">
                <div class="<%= nameSpace %>-Step1_Item-flex">
                  <div class="<%= nameSpace %>-Step1_Item-flex-left">
                    <img src="<%= sitepath %>assets/img/guide/procedure/en/step2-en-05.png" width="125" height="78" alt="">
                  </div>
                  <div class="<%= nameSpace %>-Step1_Item-flex-right">
                    <p class="c-Txt_Emp-01">Driver’s licence, My Number card, etc.</p>
                    <p class="<%= nameSpace %>-Step1_Item-annotation">*Foreign customers require different identification. </p>
                    <div class="u-Align_Ccl u-Adjust_Mt-16">
                      <a href="<%= sitepath %>guide/verify/en/?l-id=guide_procedure_en_guide_verify_en" class="<%= nameSpace %>-Step1_Button c-Btn_Regular">Check accepted identity verification documents</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="<%= nameSpace %>-Step1_Item-accordion">
              <button id="accordion-new02" class="<%= nameSpace %>-Step1_Accordion-button default-close c-Accordion_Trigger js-Accordion_Trigger c-Txt_Emp-01" aria-expanded="false" aria-controls="accordion-content-new02"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten member ID and password</button>
              <div id="accordion-content-new02" class="<%= nameSpace %>-Step1_Accordion-content default-close c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-new02" aria-hidden="true">
                <div class="<%= nameSpace %>-Step1_Item-flex">
                  <div class="<%= nameSpace %>-Step1_Item-flex-left">
                    <img src="<%= sitepath %>assets/img/guide/procedure/en/step2-en-06.png" width="125" height="68" alt="">
                  </div>
                  <div class="<%= nameSpace %>-Step1_Item-flex-right">
                    <div class="<%= nameSpace %>-Step1_Flex">
                      <div>
                        <p class="<%= nameSpace %>-Step1_Flex-text c-Txt_Emp-01">Non-Rakuten members</p>
                        <p class="u-Adjust_Mt-8 u-Adjust_Mt-pc-16">If you don’t have a Rakuten ID, please sign up for a free Rakuten membership. </p>
                        <div class="u-Adjust_Align-center u-Adjust_Mt-pc-40 u-Adjust_Mt-sp-16">
                          <a href="https://www.rakuten.co.jp/myrakuten/help/" class="<%= nameSpace %>-Step1_Button-small <%= nameSpace %>-Step1_Button-blank c-Btn_Regular" target="_blank" rel="noopener">Sign up for membership<span class="c-Icon_New-window-l"></span></a>
                        </div>
                      </div>
                      <div>
                        <p class="<%= nameSpace %>-Step1_Flex-text c-Txt_Emp-01">Rakuten members</p>
                        <p class="u-Adjust_Mt-8 u-Adjust_Mt-pc-16">Ensure your registered details are current and consistent with your application.</p>
                        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                          <a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="<%= nameSpace %>-Step1_Button-small <%= nameSpace %>-Step1_Button-blank c-Btn_Regular" target="_blank" rel="noopener">Update or check your Rakuten membership<span class="c-Icon_New-window-l"></span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="<%= nameSpace %>-Step1_Item-accordion">
              <button id="accordion-new03" class="<%= nameSpace %>-Step1_Accordion-button default-close c-Accordion_Trigger js-Accordion_Trigger c-Txt_Emp-01" aria-expanded="false" aria-controls="accordion-content-new03"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Credit card / bank account information</button>
              <div id="accordion-content-new03" class="<%= nameSpace %>-Step1_Accordion-content default-close c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-new03" aria-hidden="true">
                <div class="<%= nameSpace %>-Step1_Item-flex">
                  <div class="<%= nameSpace %>-Step1_Item-flex-left">
                    <img src="<%= sitepath %>assets/img/guide/procedure/en/step2-en-07.png" width="125" height="78" alt="">
                  </div>
                  <div class="<%= nameSpace %>-Step1_Item-flex-right">
                    <p>Provide your credit car or bank account information for monthly payments or direct debits.</p>
                    <div class="u-Align_Ccl u-Adjust_Mt-16 u-Adjust_Mt-pc-8">
                      <a href="<%= sitepath %>guide/payment/?l-id=guide_procedure_en_guide_payment" class="<%= nameSpace %>-Step1_Button c-Btn_Regular">Check payment methods</a>
                    </div>
                    <p class="<%= nameSpace %>-Step1_Item-annotation">*When using a payment method that is not in your name, you must be accompanied by the named account/cardholder.</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="<%= nameSpace %>-Step1_Notes">
            <p class="c-Txt_Emp-01">Notes</p>
            <p class="c-Txt_Emp-01">■For individuals under 18</p>
            <p class="u-Adjust_Mt-8">In addition to the requirements above, individuals under 18 must provide a written consent and signature from a legal representative (e.g., a parent or guardian). <a href="<%= sitepath %>flow/for-minors/?l-id=guide_procedure_en_flow_for-minors" class="c-Link_Txt">Click here</a> for more details.</p>
          </div>
      </div>
      <div id="step1-content-change" class="<%= nameSpace %>-Step1_Content" aria-expanded="false" labelledby="step1-link-change">
          <h3 class="c-Heading_Lv3 u-Align_Llc">Requirements for upgrading to a new model</h3>
          <ul class="<%= nameSpace %>-Step1_List-accordion">
            <li class="<%= nameSpace %>-Step1_Item-accordion">
              <button id="accordion-change01" class="<%= nameSpace %>-Step1_Accordion-button c-Accordion_Trigger js-Accordion_Trigger c-Txt_Emp-01" aria-expanded="true" aria-controls="accordion-content-change01"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten member ID and password</button>
              <div id="accordion-content-change01" class="<%= nameSpace %>-Step1_Accordion-content c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-change01" aria-hidden="false">
                <div class="<%= nameSpace %>-Step1_Item-flex">
                  <div class="<%= nameSpace %>-Step1_Item-flex-left">
                    <img src="<%= sitepath %>assets/img/guide/procedure/en/step2-en-06.png" width="125" height="68" alt="">
                  </div>
                  <div class="<%= nameSpace %>-Step1_Item-flex-right">
                    <div class="<%= nameSpace %>-Step1_Flex">
                      <div>
                        <p class="<%= nameSpace %>-Step1_Flex-text c-Txt_Emp-01">Non-Rakuten members</p>
                        <p class="u-Adjust_Mt-8 u-Adjust_Mt-pc-16">If you don’t have a Rakuten ID, please sign up for a free Rakuten membership. </p>
                        <div class="u-Adjust_Align-center u-Adjust_Mt-pc-40 u-Adjust_Mt-sp-16">
                          <a href="https://www.rakuten.co.jp/myrakuten/help/" class="<%= nameSpace %>-Step1_Button-small <%= nameSpace %>-Step1_Button-blank c-Btn_Regular" target="_blank" rel="noopener">Sign up for membership<span class="c-Icon_New-window-l"></span></a>
                        </div>
                      </div>
                      <div>
                        <p class="<%= nameSpace %>-Step1_Flex-text c-Txt_Emp-01">Rakuten members</p>
                        <p class="u-Adjust_Mt-8 u-Adjust_Mt-pc-16">Ensure your registered details are current and consistent with your application.</p>
                        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                          <a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="<%= nameSpace %>-Step1_Button-small <%= nameSpace %>-Step1_Button-blank c-Btn_Regular" target="_blank" rel="noopener">Update or check your Rakuten membership<span class="c-Icon_New-window-l"></span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="<%= nameSpace %>-Step1_Item-accordion">
              <button id="accordion-change02" class="<%= nameSpace %>-Step1_Accordion-button default-close c-Accordion_Trigger js-Accordion_Trigger c-Txt_Emp-01" aria-expanded="false" aria-controls="accordion-content-change02"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Credit card / bank account information</button>
              <div id="accordion-content-change02" class="<%= nameSpace %>-Step1_Accordion-content default-close c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-change02" aria-hidden="true">
                <div class="<%= nameSpace %>-Step1_Item-flex">
                  <div class="<%= nameSpace %>-Step1_Item-flex-left">
                    <img src="<%= sitepath %>assets/img/guide/procedure/en/step2-en-07.png" width="125" height="78" alt="">
                  </div>
                  <div class="<%= nameSpace %>-Step1_Item-flex-right">
                    <p>Provide your credit car or bank account information for monthly payments or direct debits.</p>
                    <div class="u-Align_Ccl u-Adjust_Mt-16 u-Adjust_Mt-pc-8">
                      <a href="<%= sitepath %>guide/payment/?l-id=guide_procedure_en_guide_payment" class="<%= nameSpace %>-Step1_Button c-Btn_Regular">Check payment methods</a>
                    </div>
                    <p class="<%= nameSpace %>-Step1_Item-annotation">*When using a payment method that is not in your name, you must be accompanied by the named account/cardholder.</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="<%= nameSpace %>-Step1_Item-accordion">
              <button id="accordion-change03" class="<%= nameSpace %>-Step1_Accordion-button default-close c-Accordion_Trigger js-Accordion_Trigger c-Txt_Emp-01" aria-expanded="false" aria-controls="accordion-content-change03"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Identity verification documents</button>
              <div id="accordion-content-change03" class="<%= nameSpace %>-Step1_Accordion-content default-close c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-change03" aria-hidden="true">
                <div class="<%= nameSpace %>-Step1_Item-flex">
                  <div class="<%= nameSpace %>-Step1_Item-flex-left">
                    <img src="<%= sitepath %>assets/img/guide/procedure/en/step2-en-05.png" width="125" height="78" alt="">
                  </div>
                  <div class="<%= nameSpace %>-Step1_Item-flex-right">
                    <p class="c-Txt_Emp-01">Driver’s licence, My Number card, etc.</p>
                    <p class="<%= nameSpace %>-Step1_Item-annotation u-Adjust_Mt-16">*Foreign customers require different identification. </p>
                    <div class="u-Align_Ccl u-Adjust_Mt-16">
                      <a href="<%= sitepath %>guide/verify/en/?l-id=guide_procedure_en_guide_verify_en" class="<%= nameSpace %>-Step1_Button c-Btn_Regular">Check accepted identity verification documents</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="<%= nameSpace %>-Step1_Notes">
            <p class="c-Txt_Emp-01">Notes</p>
            <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■For individuals under 18</p>
            <p class="u-Adjust_Mt-8">In addition to the requirements above, individuals under 18 must provide a written consent and signature from a legal representative (e.g., a parent or guardian). <a href="<%= sitepath %>flow/for-minors/?l-id=guide_procedure_en_flow_for-minors" class="c-Link_Txt">Click here</a> for more details.</p>
          </div>
      </div>
      <div id="step1-content-rakuten" class="<%= nameSpace %>-Step1_Content" aria-expanded="false" labelledby="step1-link-rakuten">
          <h3 class="c-Heading_Lv3 u-Align_Llc">Requirements for switching from Rakuten Mobile (using docomo or au line)</h3>
          <ul class="<%= nameSpace %>-Step1_List-accordion">
            <li class="<%= nameSpace %>-Step1_Item-accordion">
              <button id="accordion-rakute01" class="<%= nameSpace %>-Step1_Accordion-button c-Accordion_Trigger js-Accordion_Trigger c-Txt_Emp-01" aria-expanded="true" aria-controls="accordion-content-rakute01"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten member ID and password</button>
              <div id="accordion-content-rakute01" class="<%= nameSpace %>-Step1_Accordion-content c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-rakute01" aria-hidden="false">
                <div class="<%= nameSpace %>-Step1_Item-flex">
                  <div class="<%= nameSpace %>-Step1_Item-flex-left">
                    <img src="<%= sitepath %>assets/img/guide/procedure/en/step2-en-06.png" width="125" height="68" alt="">
                  </div>
                  <div class="<%= nameSpace %>-Step1_Item-flex-right">
                    <p>Ensure your registered details are current and consistent with your application.</p>
                    <div class="u-Adjust_Mt-16">
                      <a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="<%= nameSpace %>-Step1_Button-small <%= nameSpace %>-Step1_Button-blank c-Btn_Regular" target="_blank" rel="noopener">Update or check your Rakuten membership<span class="c-Icon_New-window-l"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="<%= nameSpace %>-Step1_Item-accordion">
              <button id="accordion-rakute02" class="<%= nameSpace %>-Step1_Accordion-button default-close c-Accordion_Trigger js-Accordion_Trigger c-Txt_Emp-01" aria-expanded="false" aria-controls="accordion-content-rakute02"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Identity verification documents<span class="<%= nameSpace %>-Step1_Accordion-annotation">*Only for in-store applicants</span></button>
              <div id="accordion-content-rakute02" class="<%= nameSpace %>-Step1_Accordion-content default-close c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-rakute02" aria-hidden="true">
                <div class="<%= nameSpace %>-Step1_Item-flex">
                  <div class="<%= nameSpace %>-Step1_Item-flex-left">
                    <img src="<%= sitepath %>assets/img/guide/procedure/en/step2-en-05.png" width="125" height="78" alt="">
                  </div>
                  <div class="<%= nameSpace %>-Step1_Item-flex-right">
                    <p class="c-Txt_Emp-01">Driver’s licence, My Number card, etc.</p>
                    <p class="<%= nameSpace %>-Step1_Item-annotation">*Foreign customers require different identification. </p>
                    <div class="u-Align_Ccl u-Adjust_Mt-16">
                      <a href="<%= sitepath %>guide/verify/en/?l-id=guide_procedure_en_guide_verify_en" class="<%= nameSpace %>-Step1_Button c-Btn_Regular">Check accepted identity verification documents</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="<%= nameSpace %>-Step1_Item-accordion">
              <button id="accordion-rakute03" class="<%= nameSpace %>-Step1_Accordion-button default-close c-Accordion_Trigger js-Accordion_Trigger c-Txt_Emp-01" aria-expanded="false" aria-controls="accordion-content-rakute03"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>QR code / MNP reservation number<span class="<%= nameSpace %>-Step1_Accordion-annotation">*Only for in-store applicants</span></button>
              <div id="accordion-content-rakute03" class="<%= nameSpace %>-Step1_Accordion-content default-close c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-rakute03" aria-hidden="true">
                <div class="<%= nameSpace %>-Step1_Item-flex">
                  <div class="<%= nameSpace %>-Step1_Item-flex-left">
                    <img src="<%= sitepath %>assets/img/guide/procedure/en/step2-en-11.png" width="200" height="96" alt="">
                  </div>
                  <div class="<%= nameSpace %>-Step1_Item-flex-right">
                    <p>At select participating shops, you can modify or switch your plan using a QR code. Please verify which locations accept QR codes before visiting.</p>
                    <div class="<%= nameSpace %>-Step1_Button-wrapper">
                      <div class="u-Align_Ccl u-Adjust_Mt-pc-40 u-Adjust_Mt-sp-16">
                        <a href="<%= sitepath %>shop/migration-qr-shop/" class="<%= nameSpace %>-Step1_Button c-Btn_Regular">See which shops accept QR codes</a>
                      </div>
                      <div class="u-Align_Ccl u-Adjust_Mt-16">
                        <a href="<%= sitepath %>guide/migration/?tab-list=tab-menu4#anc_02" class="<%= nameSpace %>-Step1_Button c-Btn_Regular">Learn how to obtain an MNP reservation number</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="<%= nameSpace %>-Step1_Notes">
            <p class="c-Txt_Emp-01">Notes</p>
            <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■For individuals under 18</p>
            <p class="u-Adjust_Mt-8">In addition to the requirements above, individuals under 18 must provide a written consent and signature from a legal representative (e.g., a parent or guardian). <a href="<%= sitepath %>flow/for-minors/?l-id=guide_procedure_en_flow_for-minors" class="c-Link_Txt">Click here</a> for more details.</p>
            <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■For subscribers who are not the primary user</p>
            <p class="u-Adjust_Mt-8">Before requesting a plan modification or transfer, cancel your current plan registration and update your name. For more details, <a href="<%= sitepath %>flow/mvno-user-registration/?l-id=guide_procedure_en_flow_mvno-user-registration" class="c-Link_Txt">click here.</a></p>
          </div>
      </div>
    </div>
  </div>
</section>

<section class="<%= nameSpace %>-Step2_Wrapper">
  <div class="l-System_Container" id="step2">
    <h2 class="c-Heading_Lv2 u-Align_Llc"><span class="c-Heading_Lv4 c-Txt_Emp-02 <%= nameSpace %>-Step2_Title-sub">STEP2</span>Choose your smartphone</h2>
    <ul class="<%= nameSpace %>-Step2_List">
      <li class="<%= nameSpace %>-Step2_Item">
        <div class="<%= nameSpace %>-Step2_Item-head">
          <div>
            <img src="<%= sitepath %>assets/img/guide/procedure/en/step1-en-03.png" width="56" height="56" alt="">
          </div>
          <h3 class="c-Heading_Lv3">To use your <span class="c-Txt_Emp-02">current</span> smartphone</h3>
        </div>
        <div class="<%= nameSpace %>-Step2_Item-body">
          <div class="<%= nameSpace %>-Step2_Inner">
            <p class="c-Heading_Lv4 u-Adjust_Align-center">Check these two things:</p>
            <ol class="<%= nameSpace %>-Step2_List-order">
              <li class="<%= nameSpace %>-Step2_Item-order">
                <p class="c-Heading_Lv4 u-Adjust_Align-center">1. Is your device compatible with Rakuten Mobile? </p>
                <p class="u-Adjust_Mt-16">To find out, answer a few questions on our compatibility checker. </p>
                <p class="c-Txt_Cap u-Color_Primary u-Adjust_Mt-16">*While a smartphone may be compatible with Rakuten Mobile, its usability may vary depending on the country of purchase. For more information, please contact your purchase carrier.</p>
                <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/procedure/step1-04-sp.png" width="231" height="113">
                    <img src="<%= sitepath %>assets/img/guide/procedure/en/step1-en-04-pc.png" width="312" height="153" alt="">
                  </picture>
                </div>
                <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                  <a href="<%= sitepath %>product/byod/?l-id=guide_procedure_en_product_byod01" class="<%= nameSpace %>-Step2_Button c-Btn_Regular">Compatibility checker</a>
                </div>
              </li>
              <li class="<%= nameSpace %>-Step2_Item-order">
                <p class="c-Heading_Lv4 u-Adjust_Align-center">2. Is the SIM unlocked?</p>
                <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">Devices purchased before October 2021</span> may require a “SIM unlock” procedure.</p>
                <div class="<%= nameSpace %>-Step2_Flex">
                  <div class="<%= nameSpace %>-Step2_Flex-left u-Adjust_Align-center">
                    <div>
                      <img src="<%= sitepath %>assets/img/guide/procedure/en/step1-en-07.png" width="20" height="20" alt="">
                    </div>
                    <p>SIM-unlocked devices</p>
                    <div>
                      <img src="<%= sitepath %>assets/img/guide/procedure/en/step1-en-08.png" width="127" height="79" alt="">
                    </div>
                    <p>Can be used with any mobile carrier.</p>
                  </div>
                  <div class="<%= nameSpace %>-Step2_Flex-right u-Adjust_Align-center">
                    <div>
                      <img src="<%= sitepath %>assets/img/guide/procedure/en/step1-en-05.png" width="22" height="22" alt="">
                    </div>
                    <p>SIM-locked devices</p>
                    <div>
                      <img src="<%= sitepath %>assets/img/guide/procedure/en/step1-en-06.png" width="127" height="79" alt="">
                    </div>
                    <p>Can only be used with your current carrier.</p>
                  </div>
                </div>
                <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                  <a href="<%= sitepath %>faq/detail/10000070/?l-id=guide_procedure_en_faq-10000070" class="<%= nameSpace %>-Step2_Button-small c-Btn_Regular">How to unlock SIM</a>
                </div>
              </li>
            </ol>
          </div>
        </div>
      </li>
      <li class="<%= nameSpace %>-Step2_Item u-Adjust_Mt-16">
        <div class="<%= nameSpace %>-Step2_Item-head">
          <div>
            <img src="<%= sitepath %>assets/img/guide/procedure/en/step1-en-01.png" width="64" height="64" alt="">
          </div>
          <h3 class="c-Heading_Lv3">To purchase a <span class="c-Txt_Emp-02">new</span> smartphone</h3>
        </div>
        <div class="<%= nameSpace %>-Step2_Item-body">
          <p class="c-Heading_Lv4 u-Adjust_Pt-16 u-Adjust_Align-center">Find the smartphone you want</p>
          <div class="<%= nameSpace %>-Step2_Flex-link">
            <div class="u-Adjust_Px-16">
              <div class="u-Adjust_Align-center u-Adjust_Mt-16 u-Adjust_Mt-pc-0">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/procedure/step1-02-sp.png" width="207" height="96">
                  <img src="<%= sitepath %>assets/img/guide/procedure/en/step1-en-02-pc.png" width="265" height="123" alt="">
                </picture>
              </div>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <a href="<%= sitepath %>product/?l-id=guide_procedure_en_product" class="<%= nameSpace %>-Step2_Button c-Btn_Regular">Search by product list</a>
              </div>
            </div>
            <div>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-32 u-Adjust_Mt-pc-0 u-Adjust_Align-center">Search by product type</p>
              <ul class="<%= nameSpace %>-Step2_List-link u-Adjust_Mt-8">
                <li class="<%= nameSpace %>-Step2_Item-link">
                  <a href="<%= sitepath %>product/iphone/?l-id=guide_procedure_en_product_iPhone" class="<%= nameSpace %>-Step2_Link-flex c-Link_Txt-inline">iPhone<span class="c-Icon_Chevron-right"></span></a>
                </li>
                <li class="<%= nameSpace %>-Step2_Item-link">
                  <a href="<%= sitepath %>product/smartphone/?l-id=guide_procedure_en_product_smartphone" class="<%= nameSpace %>-Step2_Link-flex c-Link_Txt-inline">Android<span class="c-Icon_Chevron-right"></span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="<%= nameSpace %>-Step3_Wrapper">
  <div class="l-System_Container" id="step3">
    <h2 class="c-Heading_Lv2 u-Align_Llc"><span class="c-Heading_Lv4 c-Txt_Emp-02 <%= nameSpace %>-Step2_Title-sub">STEP3</span>Apply through your preferred method.</h2>
    <p class="u-Adjust_Mt-16 u-Align_Llc">You can apply in-store, online, or over the phone. Please choose the method that works best for you.</p>
    <div class="<%= nameSpace %>-Step3_Flex">
      <div class="<%= nameSpace %>-Step3_Flex-left">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/procedure/en/step3-en-01-sp.png">
          <img src="<%= sitepath %>assets/img/guide/procedure/en/step3-en-01-pc.png" width="1032" height="67" alt="">
        </picture>
      </div>
      <div class="<%= nameSpace %>-Step3_Flex-right">
        <div>
          <ul class="<%= nameSpace %>-Step3_List">
            <li class="<%= nameSpace %>-Step3_Item-01">
              <div class="<%= nameSpace %>-Step3_Item-inner">
                <div class="<%= nameSpace %>-Step3_Item-head-01">
                  <p class="<%= nameSpace %>-Step3_Item-head-text-01">It’s simpler than you think!</p>
                  <h3 class="c-Heading_Lv3">Online</h3>
                </div>
                <div class="u-Adjust_Mt-16">
                  <img src="<%= sitepath %>assets/img/guide/procedure/en/step3-en-02.png" width="258" height="96" alt="">
                </div>
                <div class="u-Adjust_Mt-16">
                  <a href="<%= sitepath %>guide/procedure/online-application/?l-id=guide_procedure_en_guide_online_application" class="<%= nameSpace %>-Step3_Button c-Btn_Secondly">Application procedure</a>
                </div>
                <div class="u-Adjust_Mt-16">
                  <a href="<%= sitepath %>guide/application/?lid-r=guide_procedure_en_guide_application" class="<%= nameSpace %>-Step3_Button c-Btn_Primary">Apply here</a>
                </div>
              </div>
              <div class="<%= nameSpace %>-Step3_Item-inner">
                <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=guide_procedure_en_ms&mno_migration=1" class="<%= nameSpace %>-Step3_Link c-Link_Txt-inline">Switching from Rakuten Mobile (using docomo or au line)<span class="c-Icon_Chevron-right"></span></a>
              </div>
            </li>
            <li class="<%= nameSpace %>-Step3_Item-02">
              <div class="<%= nameSpace %>-Step3_Item-inner">
                <div class="<%= nameSpace %>-Step3_Item-head-02">
                  <p class="<%= nameSpace %>-Step3_Item-head-text-02">Get instant clarity on all your questions!</p>
                  <h3 class="c-Heading_Lv3">Phone<span class="<%= nameSpace %>-Step3_Item-head-comment">*1</span></h3>
                </div>
                <div class="u-Adjust_Mt-16">
                  <img src="<%= sitepath %>assets/img/guide/procedure/en/step3-en-03.png" width="258" height="96" alt="">
                </div>
                <ul class="<%= nameSpace %>-Step3_List-check">
                  <li class="<%= nameSpace %>-Step3_Item-check">
                    <div class="<%= nameSpace %>-Step3_Item-check-img">
                      <img src="<%= sitepath %>assets/img/guide/procedure/en/step3-en-04.png" width="24" height="24" alt="">
                    </div>
                    <p>From initial inquiries to full application assistance.</p>
                  </li>
                  <li class="<%= nameSpace %>-Step3_Item-check">
                    <div class="<%= nameSpace %>-Step3_Item-check-img">
                      <img src="<%= sitepath %>assets/img/guide/procedure/en/step3-en-04.png" width="24" height="24" alt="">
                    </div>
                    <p>We also offer video consultations via Zoom.</p>
                  </li>
                </ul>
                <div class="u-Adjust_Mt-16">
                  <p class="<%= nameSpace %>-Step3_Button-comment">*Japanese only</p>
                  <a href="<%= sitepath %>guide/application-support/?l-id=guide_procedure_en_guide_application-support" class="<%= nameSpace %>-Step3_Button c-Btn_Secondly">See the details</a>
                </div>
                <p class="<%= nameSpace %>-Step3_List-comment u-Adjust_Mt-16 u-Show_Oox">*1 Japanese only.  Product-only purchases and applicants under 18 cannot apply by phone.</p>
              </div>
            </li>
            <li class="<%= nameSpace %>-Step3_Item-03">
              <div class="<%= nameSpace %>-Step3_Item-inner">
                <div class="<%= nameSpace %>-Step3_Item-head-03">
                  <p class="<%= nameSpace %>-Step3_Item-head-text-03">Face-to-face assistance!</p>
                  <h3 class="c-Heading_Lv3">Shop</h3>
                </div>
                <div class="u-Adjust_Mt-16">
                  <img src="<%= sitepath %>assets/img/guide/procedure/en/step3-en-05.png" width="258" height="96" alt="">
                </div>
                <ul class="<%= nameSpace %>-Step3_List-check">
                  <li class="<%= nameSpace %>-Step3_Item-check">
                    <div class="<%= nameSpace %>-Step3_Item-check-img">
                      <img src="<%= sitepath %>assets/img/guide/procedure/en/step3-en-04.png" width="24" height="24" alt="">
                    </div>
                    <p>Hands-on support from start to finish.</p>
                  </li>
                  <li class="<%= nameSpace %>-Step3_Item-check">
                    <div class="<%= nameSpace %>-Step3_Item-check-img">
                      <img src="<%= sitepath %>assets/img/guide/procedure/en/step3-en-04.png" width="24" height="24" alt="">
                    </div>
                    <p>Try out the products in-person.</p>
                  </li>
                </ul>
                <div class="<%= nameSpace %>-Step3_Button-ptn1">
                  <a href="<%= sitepath %>shop/?l-id=guide_procedure_en_shop" class="<%= nameSpace %>-Step3_Button c-Btn_Secondly">Find a shop near you</a>
                </div>
              </div>
            </li>
          </ul>
          <p class="<%= nameSpace %>-Step3_List-comment u-Adjust_Mt-8 u-Show_Xxo">*1 Japanese only.  Product-only purchases and applicants under 18 cannot apply by phone.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="<%= nameSpace %>-Step4_Wrapper">
  <div class="l-System_Container" id="step4">
    <h2 class="c-Heading_Lv2 u-Align_Llc"><span class="c-Heading_Lv4 c-Txt_Emp-02 <%= nameSpace %>-Step2_Title-sub">STEP4</span>Complete the initial setup and start using!</h2>
    <p class="u-Adjust_Mt-16 u-Align_Llc">Upon receiving your order, including the SIM or eSIM, proceed with the initial setup for the product.</p>
    <div class="<%= nameSpace %>-Step4_Flex">
      <div class="<%= nameSpace %>-Step4_Flex-left">
        <img src="<%= sitepath %>assets/img/guide/procedure/en/step4-en-01.png" width="343" height="190" alt="">
      </div>
      <div class="<%= nameSpace %>-Step4_Flex-right">
        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
          <a href="<%= sitepath %>guide/setting/?l-id=guide_procedure_en_guide_setting" class="<%= nameSpace %>-Step4_Button c-Btn_Regular">Guidelines for setup</a>
        </div>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
          <a href="<%= sitepath %>guide/support-movie/?l-id=guide_procedure_en_guide_support-movie" class="<%= nameSpace %>-Step4_Button c-Btn_Regular">Watch our tutorial for easy instructions</a>
        </div>
      </div>
    </div>
  </div>
  <div class="<%= nameSpace %>-Step4_Link-wrapper">
    <div class="<%= nameSpace %>-Step4_Link-title">
      <div>
        <img src="<%= sitepath %>assets/img/guide/procedure/en/step4-en-02.png" width="40" height="40" alt="">
      </div>
      <p class="c-Heading_Lv4">my Rakuten Mobile</p>
    </div>
    <p class=" u-Adjust_Mt-16 u-Align_Llc">The app ensures a seamless mobile experience by offering real-time delivery tracking, post-application registration updates, data usage details, and more - all in one place.</p>
    <p class="<%= nameSpace %>-Step4_Link-text"><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="<%= nameSpace %>-Step2_Link-line c-Link_Txt-inline">What is “my Rakuten Mobile”?<span class="c-Icon_Chevron-right"></span></a></p>
    <div class="<%= nameSpace %>-Step4_Link">
      <div class="<%= nameSpace %>-Step4_Link-img">
        <a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/procedure/en/step4-en-03-sp.png">
            <img src="<%= sitepath %>assets/img/guide/procedure/en/step4-en-03-pc.png" width="80" height="104" alt="">
          </picture>
        </a>
      </div>
      <div class="<%= nameSpace %>-Step4_Link-img">
        <a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/procedure/en/step4-en-04-sp.png">
            <img src="<%= sitepath %>assets/img/guide/procedure/en/step4-en-04-pc.png" width="80" height="104" alt="">
          </picture>
        </a>
      </div>
      <div class="<%= nameSpace %>-Step4_Link-btn u-Adjust_Align-center">
        <a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile" class="<%= nameSpace %>-Step4_Button c-Btn_Regular">Click for Web Use</a>
      </div>
    </div>
  </div>
</section>

<footer class="g-Footer">
  <div class="l-System_Container">
    <%- include('/include/_breadcrumbs', {
      type: 'foot',
      pagetitle,
      directories,
    }) %>
  </div>
  <%- include('/include/_footer') %>
</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.procedure.en.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
