<% const {namespace, point, stageJa, stageId} = rankData -%>
<div id="conditions" class="<%= namespace %>-Campaign u-Adjust_Pb-32">
  <h2 class="c-Txt_Normal-ll c-Txt_Emp u-Adjust_Mt-16">キャンペーンの流れ</h2>
  <div class="<%= namespace %>-Campaign_Applicable u-Adjust_Mt-16">
    <div class="<%= namespace %>-Campaign_Applicable-content <%= namespace %>-Campaign_Applicable-content-1st <%= namespace %>-Utility_Bg-monotone97">
      <div>
        <img src="<%= sitepath %>assets/img/hikari/campaign/rank/img-normal-section1-step1-icon.png?211125" alt="">
        <p>楽天モバイルに申し込む</p>
      </div>
      <img class="<%= namespace %>-Campaign_Show-pc" src="<%= sitepath %>assets/img/hikari/campaign/rank/img-normal-section1-step1.png?211125" alt="">
      <div class="u-Adjust_Mt-8">
        <a href="<%= sitepath %>guide/application/" class="c-Btn_Secondly <%= namespace %>-Campaign_Applicable-btn u-Adjust_Mt-8" target="_blank" aria-disabled="true"><span>申し込み済み<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
      </div>
      <div class="u-Adjust_Mt-16">
      <a href="<%= sitepath %>fee/un-limit/" class="c-Link_Txt-inline <%= namespace %>-Campaign_Applicable-link" target="_blank">Rakuten UN-LIMIT VIの詳細を見る<span class="c-Icon_New-window-l"></span></a>
      </div>
    </div>
    <div class="<%= namespace %>-Campaign_Applicable-content <%= namespace %>-Campaign_Applicable-content-1st">
      <div>
        <img src="<%= sitepath %>assets/img/hikari/campaign/rank/img-normal-section1-step2-icon.png?211125" alt="">
        <p>楽天ひかりに申し込む</p>
      </div>
      <img class="<%= namespace %>-Campaign_Show-pc" src="<%= sitepath %>assets/img/hikari/campaign/rank/img-normal-section1-step2.png?211125" alt="">
      <div class="u-Adjust_Mt-16">
        <%_ if (stageId === 'd') { _%>
          <a href="https://secure3.gol.com/mod-pl/rbb/rmch.cgi?scode=qngTI9rXJpRlc1l6roM&cpnkind=dpgd2209nd0&l-id=rhk_onb_02" data-ratid="rhk_onb_02" data-ratevent="click" data-ratparam="all" class="c-Btn_Primary-large <%= namespace %>-Cta_Btn <%= namespace %>-Hero-Btn">楽天ひかりに申し込む</a>
        <%_ } else if (stageId === 'p') { _%>
          <a href="https://secure3.gol.com/mod-pl/rbb/rmch.cgi?scode=qngTI9rXJpRlc1l6roM&cpnkind=dpgp2012n18&l-id=rhk_onb_02" data-ratid="rhk_onb_02" data-ratevent="click" data-ratparam="all" class="c-Btn_Primary-large <%= namespace %>-Cta_Btn <%= namespace %>-Hero-Btn">楽天ひかりに申し込む</a>
        <%_ } else if (stageId === 'g') { _%>
          <a href="https://secure3.gol.com/mod-pl/rbb/rmch.cgi?scode=qngTI9rXJpRlc1l6roM&cpnkind=dpgg2012n20&l-id=rhk_onb_02" data-ratid="rhk_onb_02" data-ratevent="click" data-ratparam="all" class="c-Btn_Primary-large <%= namespace %>-Cta_Btn <%= namespace %>-Hero-Btn">楽天ひかりに申し込む</a>
        <%_ } _%>      </div>
      <div class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>hikari/flow/index_a.html" class="c-Link_Txt-inline <%= namespace %>-Campaign_Applicable-link">申し込みまでの流れを見る<span class="c-Icon_Chevron-right"></span></a>
      </div>
    </div>
    <div class="<%= namespace %>-Campaign_Applicable-content <%= namespace %>-Campaign_Applicable-content-last">
      <div>
        <div class="<%= namespace %>-Campaign_Show-pc">
          <img src="<%= sitepath %>assets/img/hikari/campaign/rank/img-normal-section1-step2-icon.png?211125" alt="">
          <div class="u-Adjust_Mt-16">
            <img src="<%= sitepath %>assets/img/hikari/campaign/rank/img-normal-section1-03-<%= point %>.png?211025" alt="楽天ひかりの月額基本料1年無料 さらに<%= stageJa %>会員限定 R POINT<%= point.toLocaleString() %>ポイント獲得" width="296" height="147">
          </div>
        </div>
        <div class="<%= namespace %>-Campaign_Applicable-content <%= namespace %>-Campaign_Show-sp">
          <img class="<%= namespace %>-Campaign_Show-sp" src="<%= sitepath %>assets/img/hikari/campaign/rank/img-normal-section1-03-<%= point %>_sp.png?211025" alt="楽天ひかりの月額基本料1年無料 さらに<%= stageJa %>会員限定 R POINT<%= point.toLocaleString() %>ポイント獲得">
        </div>
      </div>
    </div>
  </div>
  <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-left">
    ※ 楽天ひかり月額基本料が開通月から最大12カ月間無料。Rakuten UN-LIMIT VIをすでに開通または期間内にお申し込みの方が対象。契約解除料10,450円あり。※居宅設備の都合、工事時間帯などで別途工事費発生の場合あり。申込当月に開通した場合対象外。※ 期間限定ポイントでの進呈。<br>
    ※ <a href="#notes-01" class="c-Link_Txt js-scroll">その他条件の詳細を見る</a>
  </p>
</div>
