<% const {namespace, point, stageId, ctaUrl} = rankData -%>
<div id="flow" class="<%= namespace %>-Layout-section-bg <%= namespace %>-Flow u-Adjust_Mt-32">
  <div class="l-System_Container">
    <h3 class="c-Heading_Lv2 u-Adjust_Align-center">
      ポイント獲得までの流れ<br>
      <small>(例)フレッツ光・他社光コラボのご利用がない場合</small>
    </h3>
    <p class="c-Txt_Cap u-Adjust_Align-center u-Adjust_Mt-8">※ お客様の状況によりお申し込みの流れが異なります。</p>
    <ol class="c-Flow u-Adjust_Mt-32 <%= namespace %>-Flow">
      <li>
        <p class="c-Txt_Normal-m c-Txt_Emp">1. このページから申し込む</p>
        <div class="l-Media_Grid u-Adjust_Mt-16">
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/hikari/campaign/rank/img-flow-01.png" alt="">
          </div>
          <div>
            <p>本ページより楽天ひかりにお申し込みください。</p>
            <p class="u-Adjust_Mt-24"><a href="<%= ctaUrl %>" id="mno-entry" class="c-Btn_Primary" data-ratid="rhk_onb_03" data-ratevent="click" data-ratparam="all"><span>楽天ひかりに申し込む</span></a></p>
            <p class="c-List_Cap c-Txt_Emp-underline u-Adjust_Mt-16">※ このページをブックマーク（お気に入り）に追加しておくと、次回、アクセス時に便利です。</p>
          </div>
        </div>
      </li>
      <li>
        <p class="c-Txt_Normal-m c-Txt_Emp">2. ご利用開始のご案内</p>
        <div class="l-Media_Grid u-Adjust_Mt-16">
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/hikari/campaign/rank/img-flow-02.png" alt="">
          </div>
          <div>
            <p>お申し込みから1週間程度で、オペレーターからお客様へ、回線調査結果や工事の日程などについて確認のご連絡をいたします。<br>なお、お申し込み時に工事日程のご予約が完了している場合、メールのみでのご連絡となります。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">
              ※ 地域によらず、お住まいの住居環境により、記載よりお時間をいただく場合がございます。
            </p>
          </div>
        </div>
      </li>
      <li>
        <p class="c-Txt_Normal-m c-Txt_Emp">3. 開通工事</p>
        <div class="l-Media_Grid u-Adjust_Mt-16">
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/hikari/campaign/rank/img-flow-03.png" alt="">
          </div>
          <div>
            <dl>
              <dt class="c-Txt_Emp">派遣工事の場合</dt>
              <dd class="u-Adjust_Mt-8">
                <p>NTT東日本・NTT西日本の作業員がお伺いいたします。必ずお立合いをお願いいたします。</p>
              </dd>
              <dt class="c-Txt_Emp u-Adjust_Mt-24">無派遣工事の場合</dt>
              <dd class="u-Adjust_Mt-8">お住まいの集合住宅がフレッツ光導入済みで光回線の引き込み工事が不要な場合はお客様ご自身で機器の設定をしてください。</dd>
            </dl>
          </div>
        </div>
      </li>
      <li>
        <p class="c-Txt_Normal-m c-Txt_Emp">4. ご利用開始</p>
        <div class="l-Media_Grid u-Adjust_Mt-16">
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/hikari/campaign/rank/img-flow-04.png" alt="">
          </div>
          <div>
            <p>
              工事が完了しましたら、あらかじめ郵送されている封書、「アカウントのお知らせ」の内容に沿ってインターネット接続の設定をしてください。<br>
              すぐに楽天ひかりの高速インターネットがご利用いただけます。
            </p>
          </div>
        </div>
      </li>
      <li class="<%= namespace %>-Flow_Item-primary">
        <div>
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/hikari/campaign/rank/img-<%= point %>-sp-02.png?220701">
            <img src="<%= sitepath %>assets/img/hikari/campaign/rank/img-<%= point %>-pc-02.png?220701" alt="<%= point.toLocaleString() %>ポイント獲得！" width="465">
          </picture>
        </div>
        <p class="u-Adjust_Mt-8" style="display: table;">期間限定ポイントでの進呈。ポイントを進呈する時期につきましては、キャンペーン詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-16"><a href="#rule" class="c-Link_Txt-icon-front js-scroll" data-ratid="rhk_rank_<%= stageId %>_mno_rule_03" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>キャンペーン詳細を確認する</a></p>
      </li>
    </ol>
  </div>
</div>
