<% const {namespace, stageId} = rankData -%>
<div class="<%= namespace %>-Layout-section-bg <%= namespace %>-Link">
  <div class="l-System_Container">
    <ul class="<%= namespace %>-Link_Flex-mno">
      <li>
        <a href="#merit" class="c-Link_Txt-inline js-scroll" data-ratid="rhk_rank_<%= stageId %>_mno_feature" data-ratevent="click" data-ratparam="all">楽天ひかりの特長<span class="c-Icon_Arrow-down-l"></span></a>
      </li>
      <li>
        <a href="#flow" class="c-Link_Txt-inline js-scroll" data-ratid="rhk_rank_<%= stageId %>_mno_flow" data-ratevent="click" data-ratparam="all">ポイント獲得までの流れ<span class="c-Icon_Arrow-down-l"></span></a>
      </li>
      <li>
        <a href="#opening" class="c-Link_Txt-inline js-scroll" data-ratid="rhk_rank_<%= stageId %>_mno_date" data-ratevent="click" data-ratparam="all">開通日の目安<span class="c-Icon_Arrow-down-l"></span></a>
      </li>
      <li>
        <a href="#qa" class="c-Link_Txt-inline js-scroll" data-ratid="rhk_rank_<%= stageId %>_mno_faq_00" data-ratevent="click" data-ratparam="all">よくあるご質問<span class="c-Icon_Arrow-down-l"></span></a>
      </li>
    </ul>
  </div>
</div>
