<% const {namespace} = rankData -%>
<div class="<%= namespace %>-Layout">
  <div id="merit" class="<%= namespace %>-Merit">
    <div class="l-System_Container">
      <h3 class="c-Heading_Lv2 u-Adjust_Pt-32 u-Adjust_Align-center">楽天ひかりの特長</h3>
      <div id="merit1" class="<%= namespace %>-Merit_Container u-Adjust_Mt-16">
        <div class="<%= namespace %>-Merit_Title u-Adjust_Align-center">
          <span>その1</span>
          <p><span>楽天ひかりはSPUも対象</span></p>
        </div>
        <div class="<%= namespace %>-Merit_1-img">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/hikari/campaign/rank/img-merit01-sp.png?211125">
            <source srcset="<%= sitepath %>assets/img/hikari/campaign/rank/img-merit01-pc.png?211125">
            <img src="<%= sitepath %>assets/img/hikari/campaign/rank/img-merit01-pc.png?211125" width="681" height="230" alt="楽天市場でのお買い物がポイント+1倍">
          </picture>
        </div>
        <p class="c-Txt_Cap u-Adjust_Mt-32 u-Adjust_Align-center">
          ※ 楽天ひかり（マンションプランまたはファミリープラン）を契約の楽天会員が対象。<br>
          NTT東日本・NTT西日本のフレッツ光回線を楽天ブロードバンドでご利用中の方は特典対象外。毎月の獲得上限は5,000ポイント、期間限定ポイントでの進呈。
        </p>
      </div>

      <div id="merit2" class="<%= namespace %>-Merit_Container-gauge u-Adjust_Mt-32">
        <div class="<%= namespace %>-Merit_Title u-Adjust_Align-center">
          <span>その2</span>
          <p><span>超高速回線で快適インターネット</span></p>
        </div>

        <div id="gauge-scroll">
          <div class="l-System_Container">
            <div class="<%= namespace %>-Layout-section-gauge">
              <div class="<%= namespace %>-Layout-section-gauge-grid1">
                <%- include('/include/hikari/gauge/_gauge', { displayColor: "monotone97" }) %>
              </div>
              <div class="<%= namespace %>-Layout-section-gauge-grid2">
                <%- include('/include/hikari/gauge/_gauge-text', { tag: "h4" }) %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
