<% const {namespace, stageId} = rankData -%>
<div id="qa" class="<%= namespace %>-Layout-section <%= namespace %>-Qa">
  <h3 class="c-Heading_Lv2 <%= namespace %>-Heading_Lv2 u-Adjust_Align-center">よくあるご質問</h3>
  <div class="c-Accordion u-Adjust_Mt-24">
    <button id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3" data-ratid="rhk_rank_<%= stageId %>_mno_faq_01" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天ひかりに申し込んだ後にキャンペーン特典が適用されているかを確認するにはどうしたらよいでしょうか？</button>
    <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
      <div class="u-Adjust_Pl-16">
        <p>楽天ひかり開通月の翌月末以降、楽天ブロードバンドメンバーズステーション「会員メニュー」の「適用割引・キャンペーン」でご確認いただけます。</p>
        <p><a href="https://ms.fusioncom.co.jp/rbb/members/login?campaign=web-rakuten" target="_blank" rel="noopener noreferrer" class="c-Link_Txt-inline" data-ratid="rhk_rank_<%= stageId %>_mno_login" data-ratevent="click" data-ratparam="all">楽天ブロードバンドメンバーズステーションにログインする<span class="c-Icon_New-window-l"></span></a></p>
      </div>
    </div>
  </div>
  <div class="c-Accordion">
    <button id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4" data-ratid="rhk_rank_<%= stageId %>_mno_faq_02" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>このページ以外から申し込んだ場合は特典の対象になりますか？</button>
    <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
      <div class="u-Adjust_Pl-16">
        <p>本ページ以外からのお申し込みはキャンペーン適用対象外となりますので、必ず本ページからお申し込みください。</p>
      </div>
    </div>
  </div>
  <div class="c-Accordion">
    <button id="accordion-7" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-7" data-ratid="rhk_rank_<%= stageId %>_mno_faq_03" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>派遣工事が必要？</button>
    <div id="accordion-content-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-7" aria-hidden="true">
      <div class="u-Adjust_Pl-16">
        <ul class="c-List_Text-disc">
          <li>ご自宅の設備状況によって異なります。</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="c-Accordion">
    <button id="accordion-8" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-8" data-ratid="rhk_rank_<%= stageId %>_mno_faq_04" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天ひかりが利用できるエリアか確認できますか？</button>
    <div id="accordion-content-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-8" aria-hidden="true">
      <div class="u-Adjust_Pl-16">
        <ul class="c-List_Text-disc">
          <li>楽天ひかりは、NTTより借り受けたフレッツ光回線とプロバイダー「楽天ブロードバンド」をセットにしたおトクな高速インターネットです。NTTフレッツ光回線がご利用可能なエリアは、楽天ひかりもご利用いただけます。下記ページでご確認ください。</li>
        </ul>
        <p class="u-Adjust_Mt-16">東日本エリアにお住まいの方<br><a href="https://flets.com/" data-lid_no="01" target="_blank" class="c-Link_Txt-inline">https://flets.com/<span class="c-Icon_New-window-l"></span></a></p>
        <p class="u-Adjust_Mt-16">西日本エリアにお住まいの方<br><a href="https://flets-w.com/cart/?etc_data_kks=kantan%3D1%40" data-lid_no="01" target="_blank" class="c-Link_Txt-inline">https://flets-w.com/cart/?etc_data_kks=kantan%3D1%40<span class="c-Icon_New-window-l"></span></a></p>
        <p class="u-Adjust_Mt-16" style="color: #BF0000;">
          ※ 上記NTTサイトから「楽天ひかり」のお申し込みはできませんのでご注意ください。
        </p>
      </div>
    </div>
  </div>
  <div class="c-Accordion">
    <button id="accordion-9" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-9" data-ratid="rhk_rank_<%= stageId %>_mno_faq_05" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天ひかり利用開始までの流れを教えてください。</button>
    <div id="accordion-content-9" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-9" aria-hidden="true">
      <div class="u-Adjust_Pl-16">
        <div>【新規でお申し込みをする場合】</div>
        <div>
          <ol class="c-List_Text-decimal">
            <li>弊社より契約内容の確認と工事日の調整をいたします。</li>
            <li>工事日前日までに「開通通知書（契約内容及びアカウントのお知らせ）」を郵送いたします。</li>
            <li>お伺いする工事が必要な場合、工事の立ち合いをお願いいたします。</li>
            <li>ルーターなどの設定を行っていただくと、利用できます。</li>
          </ol>
        </div>

        <div class="u-Adjust_Mt-24">【他社光コラボレーション事業者から変更、もしくは「フレッツ光」からの変更の場合】</div>
        <div>＜工事の必要がない場合＞</div>
        <div>
          他社光コラボレーション事業者から変更：
          <ol class="c-List_Text-decimal">
            <li>
              メールで開通日をご案内させていただきます。<br>
              お申し込みされたお日にちにより、開通日が異なります。<br>
              　　1～5日のお申し込み⇒翌月1日開通工事<br>
              　　6～15日のお申し込み⇒翌月10日開通工事<br>
              　　16～25日のお申し込み⇒翌月20日開通工事<br>
              　　26～31日のお申し込み⇒翌々月1日開通工事
            </li>
            <li>開通日前日までに、「開通通知書（契約内容及びアカウントのお知らせ）」を郵送いたします。</li>
            <li>ルーターなどの設定を行っていただくと、利用できます。</li>
          </ol>
          <br>
          「フレッツ光」からの変更：
          <ol class="c-List_Text-decimal">
            <li>
              メールで開通日をご案内させていただきます。<br>
              お申し込みされたお日にちにより、開通日が異なります。<br>
              　　1～5日のお申し込み⇒翌月1日開通工事<br>
              　　6～15日のお申し込み⇒翌月10日開通工事<br>
              　　16～25日のお申し込み⇒翌月20日開通工事<br>
              　　26～31日のお申し込み⇒翌々月1日開通工事
            </li>
            <li>開通日前日までに、「開通通知書（契約内容及びアカウントのお知らせ）」を郵送いたします。</li>
            <li>ルーターなどの設定を行っていただくと、利用できます。</li>
          </ol>
        </div>
        <div class="u-Adjust_Mt-24">
          ＜工事の必要がある場合＞
          <ol class="c-List_Text-decimal">
            <li>弊社より契約内容の確認及び、切替日のご連絡をいたします。</li>
            <li>切替日前日までに「開通通知書（契約内容及びアカウントのお知らせ）」を郵送いたします。</li>
            <li>ルーターなどの設定を行っていただくと、利用開始できます。</li>
          </ol>
        </div>
        <p class="c-Txt_Cap">※お申し込み内容に不明点がある場合は、弊社より契約内容の確認のご連絡をさせていただく場合があります。</p>
      </div>
    </div>
  </div>
  <div class="c-Accordion">
    <button id="accordion-10" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-10" data-ratid="rhk_rank_<%= stageId %>_mno_faq_06" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>工事は土日や祝日も対応可能？</button>
    <div id="accordion-content-10" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-10" aria-hidden="true">
      <p class="u-Adjust_Pl-16">
        土日や祝日も工事予約の空き状況により、工事はできます。<br>
        なお、土日や祝日での工事をご希望の場合は、初期工事費に加え、3,300円の追加工事費をいただいております。
      </p>
    </div>
  </div>
  <div class="c-Accordion">
    <button id="accordion-11" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-11" data-ratid="rhk_rank_<%= stageId %>_mno_faq_07" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>事業者変更をする場合、事業者変更承諾番号の取得時に必要なもの。</button>
    <div id="accordion-content-11" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-11" aria-hidden="true">
      <div class="u-Adjust_Pl-16">
        <div>事業者変更承諾番号の取得は、ご契約中の光コラボレーション事業者に申し込みが必要です。<br>
          ※ 代理店での発行はできませんのでご注意ください。<br>
          &nbsp;</div>
          <div>■事前に必要な情報</div>
          <div>光コラボレーション事業者により異なりますが、一般的には下記の情報が必要です。</div>
          <div>&nbsp;</div>
          <div>・回線ID（CAF番号） ※ NTT西日本の提供エリアにお住まいの場合のみ必要です。<br>
          ・ご契約者名</div>
      </div>
    </div>
  </div>
  <div class="c-Accordion">
    <button id="accordion-12" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-12" data-ratid="rhk_rank_<%= stageId %>_mno_faq_08" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>転用承諾番号の取得時に必要なもの。</button>
    <div id="accordion-content-12" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-12" aria-hidden="true">
      <div class="u-Adjust_Pl-16">
        <div>■転用承諾番号の取得はNTT東日本・NTT西日本へ申し込みが必要です。<br>
          ホームページもしくは電話で申し込みが可能です。</div>
          <div><br>
          ■事前に必要な情報<br>
          ・「フレッツ光」のお客さまID（CAFまたはLで始まる番号）<br>
          ・「フレッツ光」のご契約者名<br>
          ・「フレッツ光」のご利用場所住所<br>
          ・現在のお支払い方法</div>

          <div><br>
          ■申し込み窓口<br>
          ・NTT東日本<br>
          ▼WEB申し込み<br>
          <a href="https://flets.com/app4/input/index/" target="_blank" class="c-Link_Txt-inline" data-lid_no="02">https://flets.com/app4/input/index/<span class="c-Icon_New-window-l"></span></a><br>
          受付時間：8:30-22:00（年末年始を除く）<br>
          ▼電話申し込み<br>
          電話番号：0120-140-202<br>
          受付時間：9:00-17:00（年末年始を除く）</div>
          <div><br>・NTT西日本<br>
          ▼WEB申し込み<br>
          <a href="https://flets-w.com/collabo/tenyou/entry/" target="_blank" class="c-Link_Txt-inline" data-lid_no="02">https://flets-w.com/collabo/tenyou/entry/<span class="c-Icon_New-window-l"></span></a><br>
          受付時間：7:00-25:00（年末年始を除く）<br>
          ▼電話申し込み<br>
          電話番号：0120-553-104<br>
          受付時間：9:00-17:00（年末年始を除く）
        </div>
      </div>
    </div>
  </div>
</div>
