<% const namespace = "hikari-campaign-spu" -%>

<div class="riCheckEntryMulti checkEntryMulti-event u-Adjust_Mt-24 u-Adjust_Mb-24" require_check="0" campaignids="90319" campaigncode="spu202106">
  <form class="riCheckEntryMulti__noLoginForm js-form-entry" action="https://oubo.rakuten.co.jp/apply/spu202106">
      <!--未ログイン・JSオフ-->
      <div class="riCheckEntryMulti__noLoginButton">
        <div class="u-Adjust_Align-center u-Adjust_Mt-32">
          <button class="c-Btn_Primary hikari-campaign-spu-Btn <%= namespace %>-Btn_Multiline-next" data-ratId="<%= ratId %>" data-ratEvent="click" data-ratParam="all"><span><span>＼ はじめてのご契約で今なら1,000ポイントもらえる！／</span>まずはエントリー！</span></button>
            <p class="<%= namespace %>-Feature_Contents-cap u-Adjust_Align-center u-Adjust_Mt-16">
              <a href="https://secure3.gol.com/mod-pl/rbb/rmch.cgi?scode=qngTI9rXJpRlc1l6roM&cpnkind=mnocampaign" data-lid_no="<%= lidNo[0] %>">ご契約がはじめてでない方はここから楽天ひかりに申し込む</a>
            </p>
        </div>
      </div>
      <!--/未ログイン・JSオフ-->
      <!--未エントリー-->
      <div class="riCheckEntryMulti__entryButton">
        <div class="u-Adjust_Align-center u-Adjust_Mt-32">
          <a href="https://oubo.rakuten.co.jp/apply/spu202106?l-id=<%= ratId %>" class="c-Btn_Primary hikari-campaign-spu-Btn <%= namespace %>-Btn_Multiline-next" data-ratId="<%= ratId %>" data-ratEvent="click" data-ratParam="all"><span><span>＼ はじめてのご契約で今なら1,000ポイントもらえる！／</span>まずはエントリー！</span></a>
          <p class="<%= namespace %>-Feature_Contents-cap u-Adjust_Align-center u-Adjust_Mt-16">
            <a href="https://secure3.gol.com/mod-pl/rbb/rmch.cgi?scode=qngTI9rXJpRlc1l6roM&cpnkind=mnocampaign" data-lid_no="<%= lidNo[1] %>">ご契約がはじめてでない方はここから楽天ひかりに申し込む</a>
          </p>
        </div>
      </div>
      <!--/未エントリー-->
      <!--エントリー完了-->
      <div class="riCheckEntryMulti__registeredButton">
        <a href="https://secure3.gol.com/mod-pl/rbb/rmch.cgi?scode=qngTI9rXJpRlc1l6roM&cpnkind=mnocampaign" data-lid_no="<%= lidNo[2] %>" class="c-Btn_Primary hikari-campaign-spu-Btn <%= namespace %>-Btn_Multiline"><span><span>＼ スマホとひかりご利用で月額基本料1年無料！／</span>楽天ひかりに申し込む</span></a>
      </div>
      <!--/エントリー完了-->

      <!--エントリー済み-->
      <div class="riCheckEntryMulti__enteredButton">
        <a href="https://secure3.gol.com/mod-pl/rbb/rmch.cgi?scode=qngTI9rXJpRlc1l6roM&cpnkind=mnocampaign" data-lid_no="<%= lidNo[3] %>" class="c-Btn_Primary hikari-campaign-spu-Btn <%= namespace %>-Btn_Multiline"><span><span>＼ スマホとひかりご利用で月額基本料1年無料！／</span>楽天ひかりに申し込む</span></a>
      </div>
      <!--/エントリー済み-->
  </form>
</div>
