<% const pagetitle = "なりすましメールの対処方法" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/other/other/", label:"その他"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'なりすましメールを受け取ってしまった場合の対処方法や、「楽メール」のフィルター機能をご案内します。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

    <ul class="<%= nameSpace %>-Layout_Anchorlink">
      <li><a href="#anc01" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>なりすましメールとは</a></li>
      <li><a href="#anc02" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>「楽メール」のなりすましメールフィルター</a></li>
      <li><a href="#anc03" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>なりすましメールを受け取ってしまったら</a></li>
    </ul>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="anc01">なりすましメールとは</h2>

    <div class="l-Media_Grid u-Adjust_Mt-16">
      <div class="l-Media_Image">
        <img src="<%= sitepath %>assets/img/guide/spoofing-email/img02.png" alt="">
      </div>
      <div class="_sample-bg">
        <p>「なりすましメール」とは、知り合いや有名企業などを装った<span class="c-Txt_Emp-02">フィッシング詐欺メール</span>の一種です。</p>

        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>信憑性の高い文章や緊急性の高い文章を使用したり、送信者の身元を詐称することで、メールの内容を確認させようとします。</li>
          <li>メール内のリンク先から個人情報を入力してしまったり、添付ファイルをダウンロードしたりしてしまうことで、ID・パスワードやクレジットカード番号などを盗まれる可能性があります。</li>
        </ul>
      </div>
    </div>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">過去に発生したなりすましメールの事例</h3>

    <div class="l-Media_Grid u-Adjust_Mt-16">
      <div class="l-Media_Image">
        <img src="<%= sitepath %>assets/img/guide/spoofing-email/img-mail.png" alt="">
      </div>
      <div class="">
        <p class="c-Txt_Emp-02">このようなメールを楽天グループから送ることはありません！</p>

        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>件名が「楽天株式会社」で、本文が「楽天銀行株式会社」など、複数のサービス名が記載されることはありません。</li>
          <li>メールに記載されたURLはクリックせず、必ずスマホアプリやブラウザから楽天グループのサービスにログインしていただくようお願いいたします。</li>
        </ul>

        <p class="u-Adjust_Mt-16">
          <a href="https://ichiba.faq.rakuten.net/detail/000013315" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">【ご注意ください】楽天を装った不正関連の事例について<span class="c-Icon_New-window-l"></span></a>
        </p>

      </div>
    </div>



    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="anc02">「楽メール」のなりすましメールフィルター</h2>

    <div class="l-Media_Grid u-Adjust_Mt-16">
      <div class="l-Media_Image">
        <img src="<%= sitepath %>assets/img/guide/spoofing-email/img-service-03.png" alt="">
      </div>
      <div class="_sample-bg">
        <p><span class="c-Txt_Emp-02">面倒な設定も不要なフィルター機能</span>でなりすましメールの受信を防止します。</p>

        <p class="u-Adjust_Mt-16">
          「楽メール」では、DMARC※を利用したなりすましメールの検知および、ウイルスメールの検知などを含む「おすすめフィルター設定（強）」が初期設定として適用されています。
        </p>

        <p class="c-Txt_Cap u-Adjust_Mt-16">
          ※ Domain-based Message Authentication, Reporting, and Conformance
        </p>

        <p class="u-Adjust_Mt-32">
          <a href="<%= sitepath %>guide/rakumail/filter_2/#setting04" class="c-Btn_Regular"><span>なりすましメールフィルターの設定をする</span></a>
        </p>
      </div>
    </div>

    <div class="c-Accordion u-Adjust_Mt-32">
      <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>DMARCとは</button>
      <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">

        <ul class="c-List_Text-disc">
          <li>電子メールの送信元アドレスのドメイン名を認証する「送信ドメイン認証」と呼ばれる技術の一つです。</li>
          <li>「DMARC」は、受信したメールがなりすまされていないかをチェックするため送信元アドレスのドメインを認証し、認証に失敗した場合は、ドメインの管理者が設定したルールに基づき、受信拒否やゴミ箱フォルダへの振り分けといった処理を行います。これにより、不正サイトへのアクセスや、マルウェア・ウイルスのダウンロードを目的としたなりすましメールの受信を防ぐことができます。</li>
        </ul>

        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/guide/spoofing-email/img-dmarc-sp.png">
            <img src="<%= sitepath %>assets/img/guide/spoofing-email/img-dmarc.png" alt="" width="1021" height="562">
          </picture>
        </div>

        <h3 class="c-Heading_Lv3 u-Adjust_Mt-24">なりすましメールフィルターが適用されないケースについて</h3>

        <p class="u-Adjust_Mt-16">
          「なりすましメールフィルター」では、「DMARC」を利用して受信拒否やゴミ箱への振り分けといった処理を実施していますが、以下のようなケースでは処理が正常に適用されない場合がございますので、ご注意ください。
        </p>

        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>送信元アドレスのドメイン管理者がルール（DMARCポリシー）を設定していないケース</li>
          <li>送信元アドレスのドメイン管理者が設定したルール（DMARCポリシー）において、送信ドメイン認証に失敗したメールに「受信拒否やゴミ箱への振り分け」を行うよう設定されていないケース</li>
          <li>該当メールが実在しない架空のドメインから送信されているケース</li>
        </ul>

      </div>
    </div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="anc03">なりすましメールを受け取ってしまったら</h2>

    <p class="u-Adjust_Mt-16">まずは対処方法を確認し、該当のメールを窓口へ申告してください。</p>

    <p class="u-Adjust_Mt-16 c-Txt_Emp-02">不審なメールには気をつけて、安全にメールを使いましょう！</p>

    <ol class="c-Flow u-Adjust_Mt-32">
      <li>
        <h3 class="c-Heading_Lv3">1. 対処方法を確認する</h3>
        <p class="u-Adjust_Mt-16">対処方法は以下のページでご案内しています。</p>
        <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/malware-recovery/" class="c-Link_Txt-inline">ウイルスやマルウェアに感染してしまったスマートフォン等への対処方法<span class="c-Icon_Chevron-right"></span></a></p>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">2. 届いたなりすましメールを申告する</h3>
        <p class="u-Adjust_Mt-16">届いたなりすましメールを窓口へ申告する方法は以下のページでご案内しています。</p>
        <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/anti-spam/" class="c-Link_Txt-inline">迷惑メールを申告する方法<span class="c-Icon_Chevron-right"></span></a></p>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">3. 重要な情報の確認</h3>
        <p class="u-Adjust_Mt-16">個人情報を入力してしまった場合は以下の項目を参考に、入力してしまった金融機関やクレジットカード会社、その他ネット上のサービス提供会社などへの確認・対応を行ってください。</p>
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>キャリア決済、クレジットカード決済などの決済サービスで身に覚えのない支払いなどが行われていないか確認してください。</li>
          <li>インターネットバンキング、SNSアカウント、Googleアカウントなどの各種サービスで利用しているアカウントのパスワード変更を行ってください。（<a href="https://ichiba.faq.rakuten.net/detail/000006766" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">楽天IDのパスワード変更はこちら<span class="c-Icon_New-window-l u-Adjust_Pl-16"></span></a>）</li>
        </ul>
        <p class="u-Adjust_Mt-16">
          以下の記事や相談窓口も併せてご覧ください。
        </p>

        <p class="u-Adjust_Mt-16">
          <a href="https://www.npa.go.jp/cyber/policy/phishing/phishing110.htm" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">フィッシング110番（警察庁 サイバー犯罪対策プロジェクト）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16">
          <a href="https://www.kokusen.go.jp" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">国民生活センター<span class="c-Icon_New-window-l"></span></a>または各地の消費生活センター
        </p>
        <p class="u-Adjust_Mt-16">
          <a href="https://www.houterasu.or.jp" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">法テラス<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16">
          <a href="https://www.antiphishing.jp" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">フィッシング対策協議会<span class="c-Icon_New-window-l"></span></a>
        </p>
      </li>
    </ol>

    <div class="u-Adjust_Mt-64">
      <a href="<%= sitepath %>guide/security/?l-id=flow_for-minors_guide_security" class="c-Banner_Hover-act">
        <img class="<%= nameSpace %>-Utility_Show-pc" src="<%= sitepath %>assets/img/bnr/guide-security-1032-160.png" alt="情報セキュリティ 楽天モバイルの情報セキュリティへの取り組みをご紹介">
        <img class="<%= nameSpace %>-Utility_Show-sp" src="<%= sitepath %>assets/img/bnr/guide-security-343-108.png" alt="情報セキュリティ 楽天モバイルの情報セキュリティへの取り組みをご紹介">
      </a>
    </div>

    <div class="u-Adjust_Mt-24">
      <a href="<%= sitepath %>guide/security/cyber-bousai2022/?l-id=guide_security_guide_security_cyber-bousai2022" class="c-Banner_Hover-act">
        <img class="<%= nameSpace %>-Utility_Show-pc" src="<%= sitepath %>assets/img/bnr/bnr-cyber-bousai2022-1032-160.png" alt="お買いものパンダと学ぼうスミッシング対策入門 SMS+フィッシング">
        <img class="<%= nameSpace %>-Utility_Show-sp" src="<%= sitepath %>assets/img/bnr/bnr-cyber-bousai2022-328-185.png" alt="お買いものパンダと学ぼうスミッシング対策入門 SMS+フィッシング">
      </a>
    </div>

    <div class="l-System_Container u-Adjust_Mt-64">
      <div>
        <div class="u-Adjust_Mt-16">
          <a class="c-Btn_Regular fee-Utility_Btn u-Adjust_Mt-8" href="/support/">お客様サポートトップへ</a>
        </div>
        <div class="u-Adjust_Mt-16">
          <a class="c-Btn_Regular fee-Utility_Btn u-Adjust_Mt-8" href="/">楽天モバイルトップへ</a>
        </div>
      </div>
    </div>

  </div>
</div>


<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>


  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
