<% const pagetitle = "最強家族プログラムのご利用方法" -%>
<% const directories = [{path:"support/", label:"お客様サポート"},  {path:"support/plan/detail/", label:"プランの詳細に関するサポート"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: [{path:"support/", label:"お客様サポート"}, {path:"support/plan/service/", label:"オプションサービス"}],
    description: '家族がおトクになる！最強家族プログラムのご利用方法をご紹介いたします。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240521">
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/family/guide-family.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

  <div class="<%= nameSpace %>-Layout_Container">
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
      <p class="u-Adjust_Mt-16">グループの作成方法や参加方法など、最強家族プログラム（家族割引）のご利用方法をご案内いたします。</p>
      <div class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>fee/family/?l-id=guide_family_fee_family" class="c-Link_Txt-inline">最強家族プログラムの詳細はこちら<span class="c-Icon_Chevron-right"></span></a>
      </div>
      <h4 id="anc-1" class="c-Heading_Lv4 u-Adjust_Mt-40 u-Adjust_Mt-pc-48">お知らせ</h4>
      <div class="c-Infobox_Standing-info <%= nameSpace %>-family-Layout_Notice-content u-Adjust_Mt-16">
        <span class="c-Icon_Sign-info-l u-Adjust_Mr-8"></span>2024年4月10日以降は、親戚や同性パートナー、事実婚の方とも最強家族プログラムをご利用いただけるようになりました。
      </div>
    </div>
    <div id="anc-2" class="c-Theme-Light u-Adjust_Mt-40 u-Adjust_Mt-pc-48">
      <div class="l-System_Container">
        <nav>
          <ul class="<%= nameSpace %>-family-Layout_Anchor">
            <li>
              <a href="#flow" class="js-scroll c-Link_Txt-icon-front" data-ratid="guide_family_anc-01_flow" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span><span>プログラム適用までの流れ</span></a>
            </li>
            <li>
              <a href="#creation" class="js-scroll c-Link_Txt-icon-front" data-ratid="guide_family_anc-02_create" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span><span>グループを作成する</span></a>
            </li>
            <li>
              <a href="#join" class="js-scroll c-Link_Txt-icon-front" data-ratid="guide_family_anc-03_join" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span><span>グループに参加する</span></a>
            </li>
            <li>
              <a href="#withdraw" class="js-scroll c-Link_Txt-icon-front" data-ratid="guide_family_anc-04_leave" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span><span>グループから退会する／参加者を退会させる</span></a>
            </li>
            <li>
              <a href="#deletion" class="js-scroll c-Link_Txt-icon-front" data-ratid="guide_family_anc-05_delete" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span><span>グループを削除する</span></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div id="flow" class="l-System_Container u-Adjust_Mt-56 u-Adjust_Mt-pc-64">
      <div class="u-Rat_Appear-height" data-ratid="guide_family_scroll-01_anchor-link" data-ratevent="appear"></div>
      <h2 class="c-Heading_Lv2">プログラム適用までの流れ</h2>
      <p class="c-Txt_Cap u-Adjust_Mt-16">※月中にグループに参加・退会した場合、割引額は日割りとなります。<a href="<%= sitepath %>faq/detail/10000911/?l-id=guide_family_faq_10000911-02">詳細はこちら</a></p>
      <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/family/img-flow-sp-240521.png" width="686" height="731">
          <img src="<%= sitepath %>assets/img/guide/family/img-flow-pc-240521.png" width="1032" height="238" alt="【代表者】グループを作成 → 【代表者】参加者を招待 → 【参加者】グループに参加 → 最強家族プログラム適用！">
        </picture>
      </div>
    </div>
  </div>
  <div class="l-System_Container u-Adjust_Mt-40">
    <section id="creation">
      <div class="u-Rat_Appear-height" data-ratid="guide_family_scroll-02_flow" data-ratevent="appear"></div>
      <h2 class="c-Heading_Lv2">グループを作成する</h2>
      <p class="u-Adjust_Mt-16">
        代表者はmy 楽天モバイルからグループを作成し、グループへの招待用リンクをご家族に共有してください。<br>
        ご家族は、その招待用リンクからグループに参加することができます。
      </p>
      <p class="c-Txt_Cap u-Adjust_Mt-16">
        <span class="c-Txt_Emp-02">
          ※グループの作成は18歳以上のRakuten最強プランの回線をお持ちの方のみ可能です。<br>
          ※既に他のグループに参加されている方はグループの作成はできません。<br>
        </span>
        ※代表者は1グループにつき1人のみです。
      </p>
      <div class="c-Tab js-Tab u-Adjust_Mt-24">
        <ul class="c-Tab_Items" role="tablist">
          <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">Webでお手続き</li>
          <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">アプリでお手続き</li>
        </ul>
        <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
          <ol class="c-Flow u-Adjust_Mt-40">
            <li>
              <h4 class="c-Heading_Lv3">1. my 楽天モバイル「ホーム」画面を開く</h4>
              <div class="u-Adjust_Mt-16 c-Txt_Cap">
                ※「ホームへ進む」をタップしてログインすると、手順2の画面が表示されます。<br>
                ※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/">[my 楽天モバイル]ログインできません</a>」をご確認ください。
              </div>
              <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                <a href="https://portal.mobile.rakuten.co.jp/dashboard#home" target="_blank" class="c-Btn_Secondly-large" data-ratid="guide_ecare_home-01" data-ratevent="click" data-ratparam="all"><span>ホームへ進む<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">2. 「ホーム」画面下部の「グループを作成する」をタップする</h4>
              <p class="c-Txt_Cap u-Adjust_Mt-16">※「最強家族プログラム」が表示されていない場合は、一度ログアウトし、再度ログインしてお試しください。</p>
              <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/guide/family/img-group-setup01.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">3. グループに参加する電話番号を選択し、「グループを作成する」をタップする</h4>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/family/img-group-setup02.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">4. グループ作成完了</h4>
              <p class="u-Adjust_Mt-16">「グループが作成されました！」と表示されたら、グループの作成は完了です。<br>招待用リンクを参加者に共有することで、作成したグループに追加できます。</p>
              <p class="u-Adjust_Mt-16 c-Txt_Cap">※参加者の招待は代表者のみ可能です。<br>※グループには代表者を含めて最大20名まで参加することが可能です</p>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/family/img-group-setup03.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
          </ol>
          <div class="u-Rat_Appear-height" data-ratid="guide_family_scroll-03_group-create_web" data-ratevent="appear"></div>
        </div>
        <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
          <ol class="c-Flow u-Adjust_Mt-40">
            <li>
              <h4 class="c-Heading_Lv3">1. my 楽天モバイルを起動する</h4>
              <p class="c-Txt_Emp-02 c-Txt_Cap u-Adjust_Mt-16">※最強家族プログラム「my 楽天モバイル」アプリの最新バージョンでご利用いただけます。<a href="<%= sitepath %>faq/detail/00001482/?l-id=guide_family_faq_00001482_01" class="c-Link_Txt">詳しくはこちら</a></p>
              <div class="c-Box_App u-Adjust_Mt-16">
                <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt=""></div>
                <div class="c-Box_App-txt">
                  <p class="c-Box_App-ttl">my 楽天モバイル</p>
                  <p class="u-Adjust_Mt-16">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                  <ul class="c-Box_App-link u-Adjust_Mt-16">
                    <li class="<%= nameSpace %>-App_Btn-store">
                      <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
                      <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
                    </li>
                    <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">2. 「ホーム」画面下部の「グループを作成する」をタップする</h4>
              <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/guide/family/img-group-setup01.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">3. グループに参加する電話番号を選択し、「グループを作成する」をタップする</h3>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/family/img-group-setup02.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">4. グループ作成完了</h4>
              <p class="u-Adjust_Mt-16">「グループが作成されました！」と表示されたら、グループの作成は完了です。<br>
              招待用リンクを参加者に共有することで、作成したグループに追加できます。</p>
              <p class="u-Adjust_Mt-16 c-Txt_Cap">※参加者の招待は代表者のみ可能です。<br>※グループには代表者を含めて最大20名まで参加することが可能です</p>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/family/img-group-setup03.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
          </ol>
          <div class="u-Rat_Appear-height" data-ratid="guide_family_scroll-03_group-create_app" data-ratevent="appear"></div>
        </div>
      </div>
    </section>
    <section>
      <h2 class="c-Heading_Lv2 u-Adjust_Mt-40">動画で分かる！<br class="u-Show_Sp">グループ作成・参加方法</h2>
      <div class="u-Adjust_Mt-16">
        <div class="<%= nameSpace %>-family-Layout_Movie">
          <div>
            <video
              id="play-movie_guide_family"
              data-account="5068808272001"
              data-player="default"
              data-embed="default"
              data-video-id="6347735244112"
              class="video-js"
              controls
              data-rat-media='{ "measure":true, "mediaId": "play-movie_guide_family" }'
              style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%; border-width: 0;">
          </video>
          </div>
        </div>
      </div>
    </section>
    <div class="u-Rat_Appear-height" data-ratid="guide_family_scroll-04_movie" data-ratevent="appear"></div>
    <section id="join" class="u-Adjust_Mt-56">
      <h2 class="c-Heading_Lv2">グループに参加する</h2>
      <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">
        ※2024年4月10日以降は、親戚や同性パートナー、事実婚の方とも最強家族プログラムをご利用いただけるようになりました。<br>
        ※グループにはRakuten最強プランの回線をお持ちの方が参加可能です。<br>
        ※すでにグループに参加されている方は、他のグループに参加することはできません。
      </p>
      <div class="u-Adjust_Mt-16">
        <ol class="c-Flow">
          <li>
            <h3 class="c-Heading_Lv3">1. 代表者から届いた招待用リンクをタップする</h3>
            <div class="u-Adjust_Align-center u-Adjust_Mt-24">
              <img src="<%= sitepath %>assets/img/guide/family/img-join-group01.png" width="300" alt="" class="c-Img_Capture">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2. グループに参加する電話番号を選択し、「グループに参加する」をタップする</h3>
            <p class="c-Txt_Cap u-Adjust_Mt-16">
              ※グループに参加できるのは、お一人につき1回線までになります（100円の割引が適用されるのもお一人につき1回線までになります）。
            </p>
            <div class="u-Adjust_Align-center u-Adjust_Mt-24">
              <img src="<%= sitepath %>assets/img/guide/family/img-join-group02.png" width="300" alt="" class="c-Img_Capture">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3. グループへの参加完了</h3>
            <p class="u-Adjust_Mt-16">
              「グループに参加しました」が表示されたら、グループへの参加が完了です。
            </p>
            <div class="u-Adjust_Align-center u-Adjust_Mt-24">
              <img src="<%= sitepath %>assets/img/guide/family/img-join-group03.png" width="300" alt="" class="c-Img_Capture">
            </div>
          </li>
        </ol>
      </div>
    </section>
    <div class="u-Rat_Appear-height" data-ratid="guide_family_scroll-05_join" data-ratevent="appear"></div>
    <section id="withdraw" class="u-Adjust_Mt-64">
      <h2 class="c-Heading_Lv2">グループから退会する／参加者を退会させる</h2>
      <h3 class="c-Heading_Lv3 u-Adjust_Mt-16">グループから退会する</h3>
      <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">
        ※代表者の退会はできません。代表者が退会する場合はグループを削除し、新しい代表者にて新しいグループを作成してください。
      </p>
      <div class="c-Tab js-Tab u-Adjust_Mt-16">
        <ul class="c-Tab_Items" role="tablist">
          <li class="c-Tab_Item" id="tab-web7" role="tab" aria-selected="true" aria-controls="tab-web-content7">Webでお手続き</li>
          <li class="c-Tab_Item" id="tab-app8" role="tab" aria-selected="false" aria-controls="tab-app-content8">アプリでお手続き</li>
        </ul>
        <div class="c-Tab_Panel" id="tab-web-content7" role="tabpanel" aria-hidden="false" aria-labelledby="tab-web7">
          <ol class="c-Flow">
            <li>
              <h4 class="c-Heading_Lv3">1. my 楽天モバイルの「ホーム」画面を開く</h4>
              <p class="c-Txt_Cap u-Adjust_Mt-16">
                ※「ホーム画面へ進む」をタップしてログイン後、 画面を下にスクロールすると手順２の画面が表示されます。<br>
                ※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/" class="c-Link_Txt">[my 楽天モバイル]ログインできません</a>」をご確認ください。
              </p>
              <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                <a href="https://portal.mobile.rakuten.co.jp/dashboard#home" target="_blank" class="c-Btn_Secondly-large" data-ratid="guide_ecare_home-04" data-ratevent="click" data-ratparam="all"><span>ホームへ進む<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a>
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">2. 「ホーム」画面下部の「グループを確認する」をタップする</h4>
              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <img src="<%= sitepath %>assets/img/guide/family/img-leave-group01.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">3. 「グループを退会する」をタップする</h4>
              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <img src="<%= sitepath %>assets/img/guide/family/img-leave-group02.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">4. 「退会する」をタップする</h4>
              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <img src="<%= sitepath %>assets/img/guide/family/img-leave-group03.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">5. グループの退会完了</h4>
              <p class="u-Adjust_Mt-16">
                「グループを退会しました」が表示されたら、グループからの退会は完了です。
              </p>
              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <img src="<%= sitepath %>assets/img/guide/family/img-leave-group04.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
          </ol>
          <div class="u-Rat_Appear-height" data-ratid="guide_family_scroll-06_leave_web" data-ratevent="appear"></div>
        </div>
        <div class="c-Tab_Panel" id="tab-app-content8" role="tabpanel" aria-hidden="true" aria-labelledby="tab-app8">
          <ol class="c-Flow">
            <li>
              <h4 class="c-Heading_Lv3">1. my 楽天モバイルを起動する</h4>
              <p class="c-Txt_Emp-02 c-Txt_Cap u-Adjust_Mt-16">※最強家族プログラム「my 楽天モバイル」アプリの最新バージョンでご利用いただけます。<a href="<%= sitepath %>faq/detail/00001482/?l-id=guide_family_faq_00001482_02" class="c-Link_Txt">詳しくはこちら</a></p>
              <div class="c-Box_App u-Adjust_Mt-16">
                <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt=""></div>
                <div class="c-Box_App-txt">
                  <p class="c-Box_App-ttl">my 楽天モバイル</p>
                  <p class="u-Adjust_Mt-16">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                  <ul class="c-Box_App-link u-Adjust_Mt-16">
                    <li class="<%= nameSpace %>-App_Btn-store">
                      <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
                      <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
                    </li>
                    <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">2. 「ホーム」画面下部の「グループを確認する」をタップする</h4>
              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <img src="<%= sitepath %>assets/img/guide/family/img-leave-group01.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">3. 「グループを退会する」をタップする</h4>
              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <img src="<%= sitepath %>assets/img/guide/family/img-leave-group02.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">4. 「退会する」をタップする</h4>
              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <img src="<%= sitepath %>assets/img/guide/family/img-leave-group03.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">5. グループの退会完了</h4>
              <p class="u-Adjust_Mt-16">
                「グループを退会しました」が表示されたら、グループからの退会は完了です。
              </p>
              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <img src="<%= sitepath %>assets/img/guide/family/img-leave-group04.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
          </ol>
          <div class="u-Rat_Appear-height" data-ratid="guide_family_scroll-06_group-leave_app" data-ratevent="appear"></div>
        </div>
      </div>
    </section>
    <section id="unsubscribe" class="u-Adjust_Mt-56">
      <h3 class="c-Heading_Lv2">参加者を退会させる</h3>
      <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">※各参加者の退会はグループの代表者のみが行うことができます。</p>

      <div class="c-Tab js-Tab u-Adjust_Mt-16">
        <ul class="c-Tab_Items" role="tablist">
          <li class="c-Tab_Item" id="tab-web5" role="tab" aria-selected="true" aria-controls="tab-web-content5">Webでお手続き</li>
          <li class="c-Tab_Item" id="tab-app6" role="tab" aria-selected="false" aria-controls="tab-app-content6">アプリでお手続き</li>
        </ul>
        <div class="c-Tab_Panel" id="tab-web-content5" role="tabpanel" aria-hidden="false" aria-labelledby="tab-web6">
          <ol class="c-Flow">
            <li>
              <h4 class="c-Heading_Lv3">1. my 楽天モバイルの「ホーム」画面を開く</h4>
              <p class="c-Txt_Cap u-Adjust_Mt-16">
                ※「ホーム画面へ進む」をタップしてログイン後、 画面を下にスクロールすると手順２の画面が表示されます。<br>
                ※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/" class="c-Link_Txt">[my 楽天モバイル]ログインできません</a>」をご確認ください。
              </p>
              <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                <a href="https://portal.mobile.rakuten.co.jp/dashboard#home" target="_blank" class="c-Btn_Secondly-large" data-ratid="guide_ecare_home-03" data-ratevent="click" data-ratparam="all"><span>ホームへ進む<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a>
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">2. 「ホーム」画面下部の「グループを管理する」をタップする</h4>
              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <img src="<%= sitepath %>assets/img/guide/family/img-expel-member01.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">3. 「グループを管理する」をタップする</h4>
              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <img src="<%= sitepath %>assets/img/guide/family/img-group-delete02.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">4. 退会させる参加者の「削除」をタップする</h4>
              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <img src="<%= sitepath %>assets/img/guide/family/img-expel-member02.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">5. 「削除する」をタップする</h4>
              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <img src="<%= sitepath %>assets/img/guide/family/img-expel-member03.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">6. 参加者の退会完了</h4>
              <p class="u-Adjust_Mt-16">「参加者を削除しました。」が表示されたら、参加者の削除は完了です。</p>
              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <img src="<%= sitepath %>assets/img/guide/family/img-expel-member04.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
          </ol>
          <div class="u-Rat_Appear-height" data-ratid="guide_family_scroll-07_member-delete_web" data-ratevent="appear"></div>
        </div>
        <div class="c-Tab_Panel" id="tab-app-content6" role="tabpanel" aria-hidden="true" aria-labelledby="tab-app6">
          <ol class="c-Flow">
            <li>
              <h4 class="c-Heading_Lv3">1. my 楽天モバイルを起動する</h4>
              <p class="c-Txt_Emp-02 c-Txt_Cap u-Adjust_Mt-16">※最強家族プログラム「my 楽天モバイル」アプリの最新バージョンでご利用いただけます。<a href="<%= sitepath %>faq/detail/00001482/?l-id=guide_family_faq_00001482_03" class="c-Link_Txt">詳しくはこちら</a></p>
              <div class="c-Box_App u-Adjust_Mt-16">
                <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt=""></div>
                <div class="c-Box_App-txt">
                  <p class="c-Box_App-ttl">my 楽天モバイル</p>
                  <p class="u-Adjust_Mt-16">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                  <ul class="c-Box_App-link u-Adjust_Mt-16">
                    <li class="<%= nameSpace %>-App_Btn-store">
                      <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
                      <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
                    </li>
                    <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">2. 「ホーム」画面下部の「グループを管理する」をタップする</h4>
              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <img src="<%= sitepath %>assets/img/guide/family/img-expel-member01.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">3. 「グループを管理する」をタップする</h4>
              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <img src="<%= sitepath %>assets/img/guide/family/img-group-delete02.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">4. 退会させる参加者の「削除」をタップする</h4>
              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <img src="<%= sitepath %>assets/img/guide/family/img-expel-member02.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">5. 「削除する」をタップする</h4>
              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <img src="<%= sitepath %>assets/img/guide/family/img-expel-member03.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">6. 参加者の退会完了</h4>
              <p class="u-Adjust_Mt-16">「参加者を削除しました。」が表示されたら、参加者の削除は完了です。</p>
              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <img src="<%= sitepath %>assets/img/guide/family/img-expel-member04.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
          </ol>
          <div class="u-Rat_Appear-height" data-ratid="guide_family_scroll-07_member-delete_app" data-ratevent="appear"></div>
        </div>
      </div>
    </section>
    <section id="deletion" class="u-Adjust_Mt-56">
      <h2 class="c-Heading_Lv2">グループを削除する</h2>
      <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">※グループの削除はグループの代表者のみが行うことができます。</p>
      <div class="c-Tab js-Tab u-Adjust_Mt-16">
        <ul class="c-Tab_Items" role="tablist">
          <li class="c-Tab_Item" id="tab-web3" role="tab" aria-selected="true" aria-controls="tab-web-content3">Webでお手続き</li>
          <li class="c-Tab_Item" id="tab-app4" role="tab" aria-selected="false" aria-controls="tab-app-content4">アプリでお手続き</li>
        </ul>
        <div class="c-Tab_Panel" id="tab-web-content3" role="tabpanel" aria-hidden="false" aria-labelledby="tab-web3">
          <ol class="c-Flow">
            <li>
              <h3 class="c-Heading_Lv3">1. my 楽天モバイルの「ホーム」画面を開く</h3>
              <p class="c-Txt_Cap u-Adjust_Mt-16">
                ※「ホーム画面へ進む」をタップしてログイン後、 画面を下にスクロールすると手順２の画面が表示されます。<br>
                ※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/" class="c-Link_Txt">[my 楽天モバイル]ログインできません</a>」をご確認ください。
              </p>
              <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                <a href="https://portal.mobile.rakuten.co.jp/dashboard#home" target="_blank" class="c-Btn_Secondly-large" data-ratid="guide_ecare_home-02" data-ratevent="click" data-ratparam="all"><span>ホームへ進む<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a>
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">2. 「ホーム」画面下部の「グループを管理する」をタップする</h4>
              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <img src="<%= sitepath %>assets/img/guide/family/img-group-delete01.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">3. 「グループを管理する」をタップする</h4>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/family/img-group-delete02.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">4. 「グループを削除する」をタップする</h4>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/family/img-group-delete03.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">5. 「グループを削除する」をタップする</h4>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/family/img-group-delete04.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">6. グループの削除完了</h4>
              <p class="u-Adjust_Mt-16">「グループが削除されました」が表示されたら、グループの削除が完了です。</p>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/family/img-group-delete05.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
          </ol>
          <div class="u-Rat_Appear-height" data-ratid="guide_family_scroll-08_group-delete_web" data-ratevent="appear"></div>
        </div>
        <div class="c-Tab_Panel" id="tab-app-content4" role="tabpanel" aria-hidden="true" aria-labelledby="tab-app4">
          <ol class="c-Flow">
            <li>
              <h4 class="c-Heading_Lv3">1. my 楽天モバイルを起動する</h4>
              <p class="c-Txt_Emp-02 c-Txt_Cap u-Adjust_Mt-16">※最強家族プログラム「my 楽天モバイル」アプリの最新バージョンでご利用いただけます。<a href="<%= sitepath %>faq/detail/00001482/?l-id=guide_family_faq_00001482_04" class="c-Link_Txt">詳しくはこちら</a></p>
              <div class="c-Box_App u-Adjust_Mt-16">
                <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt=""></div>
                <div class="c-Box_App-txt">
                  <p class="c-Box_App-ttl">my 楽天モバイル</p>
                  <p class="u-Adjust_Mt-16">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                  <ul class="c-Box_App-link u-Adjust_Mt-16">
                    <li class="<%= nameSpace %>-App_Btn-store">
                      <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
                      <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
                    </li>
                    <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">2. 「ホーム」画面下部の「グループを管理する」をタップする</h4>
              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <img src="<%= sitepath %>assets/img/guide/family/img-group-delete01.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">3. 「グループを管理する」をタップする</h4>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/family/img-group-delete02.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">4. 「グループを削除する」をタップする</h4>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/family/img-group-delete03.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">5. 「グループを削除する」をタップする</h4>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/family/img-group-delete04.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv3">6. グループの削除完了</h4>
              <p class="u-Adjust_Mt-16">「グループが削除されました」が表示されたら、グループの削除が完了です。</p>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <img src="<%= sitepath %>assets/img/guide/family/img-group-delete05.png" width="300" alt="" class="c-Img_Capture">
              </div>
            </li>
          </ol>
          <div class="u-Rat_Appear-height" data-ratid="guide_family_scroll-08_group-delete_app" data-ratevent="appear"></div>
        </div>
      </div>
    </section>
    <div class="u-Adjust_Mt-64">
      <%- include('/include/guide/_faq') %>
    </div>
    <div class="u-Rat_Appear-height" data-ratid="guide_family_scroll-09_faq" data-ratevent="appear"></div>
    <div class="u-Adjust_Pt-64">
      <div><a href="<%= sitepath %>support/?l-id=guide_family_support" class="c-Btn_Regular"><span>お客様サポートトップにもどる</span></a></div>
      <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>?l-id=guide_family_top" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a></div>
    </div>
  </div>
</div>

<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/poikaku-lp-bnr/_js') %>
<%- include('/include/_append-body') %>
<script src="https://players.brightcove.net/5068808272001/default_default/index.min.js"></script>
<script src="https://r.r10s.jp/com/rat/plugin/media/main-0.2.0.js"></script>
<script type="text/javascript">
  window.RAT.MediaTracker({
    params: {
      acc: 1312,
      aid: 1,
      pgn: "/guide/family/",
    },
    configs: {
      measure: true,
    }
  })
</script>

</body>
</html>
