<% const pagetitle = "【Apple Watch＆楽天生命ウェルスマイル】 楽しみながら楽天ポイントが貯まる | キャンペーン・特典 | 楽天モバイル" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "applewatch-wellsmile" -%>
<% const imgPath = `${sitepath}assets/img/campaign/applewatch-wellsmile/` -%>
<%-
include('/_header', {
  pagetitle,
  directories,
  description: '【Apple Watch＆楽天生命ウェルスマイル】Apple Watchと動こう、遊ぼう！楽しみながら楽天ポイントが貯まる！',
  noindex: false,
  pathname: filepath
});
%><%- include('/include/_common-css-v2') %>
<%- include('/inc/_about-rakuten-mobile-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/applewatch-wellsmile/applewatch-wellsmile.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <%- include('/include/_breadcrumbs', {
      type: 'head',
      pagetitle,
      directories,
    }) %>

    <div class="<%= namespace %>-Layout_Label">
      <ul class="c-Label_List">
        <li class="c-Label_Normal">対象製品限定</li>
      </ul>
    </div>

    <section class="<%= namespace %>-Hero">
      <h1>
        <picture>
          <source media="(max-width: 768px)" srcset="<%= imgPath %>hero-sp.png" width="750" height="666">
          <img src="<%= imgPath %>hero-pc.png" alt="[PR]Apple Watch&楽天生命ウェルスマイル Apple Watchと動こう、遊ぼう！楽しみながら楽天ポイントが貯まる！" width="1440" height="300">
        </picture>
      </h1>
    </section>

    <section class="<%= namespace %>-Main">
      <div class="l-System_Container">
        <p>楽天生命ウェルスマイルの販売は、楽天生命の保険募集代理店である「楽天インシュアランスプランニング株式会社」が行います。</p>
        <div class="<%= namespace %>-Main_About u-Adjust_Mt-24">
          <div class="<%= namespace %>-Main_About-img">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= imgPath %>wellsmile-sp.png" width="476" height="192">
              <img src="<%= imgPath %>wellsmile-pc.png" alt="楽天生命ウェルスマイル" width="216" height="131">
            </picture>
          </div>
          <div>
            <p class="c-Txt_Emp01 c-Heading_Lv4">「楽天生命ウェルスマイル」とは？</p>
            <p class="u-Adjust_Mt-8">入院・手術などの保障と、健康活動をしながら楽天ポイントも獲得できる「健康を楽しむ医療保険」です。健康診断結果の提出による保険料還付や、「<a href="https://www.rakuten-insurance.co.jp/medical/wellsmile/app.html?scid=wi_rmi_app_1" class="c-Link_Txt-inline-icon" target="_blank">楽天ヘルスケアアプリ<span class="c-Icon_New-window-l"></span></a>」を通じたデータ連携で、いつもの生活から楽天ポイントが獲得できます。</p>
            <p class="u-Adjust_Mt-8"><a href="https://www.rakuten-insurance.co.jp/medical/wellsmile/?scid=wi_rmi_top" class="c-Link_Txt-inline-icon" target="_blank">楽天生命ウェルスマイルの詳細を見る<span class="c-Icon_New-window-l"></span></a></p>
          </div>
        </div>

        <div class="<%= namespace %>-Main_Head u-Adjust_Mt-56 u-Adjust_Mt-sp-24">
          <p class="<%= namespace %>-Main_Head-sub">＼Apple Watchをつけて／</p>
          <div class="<%= namespace %>-Main_Head-title">
            <div class="<%= namespace %>-Main_Head-icon">
              <img src="<%= imgPath %>head-icon.png" alt="" width="101" height="101">
            </div>
            <h2 class="c-Heading_Lv2">健康活動をしながら<br class="u-Show_Oox">ポイ活を始めよう!</h2>
          </div>

          <ul class="<%= namespace %>-Main_Head-nav u-Adjust_Mt-16">
            <li><a href="#daily-life" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>毎日の生活で獲得</a></li>
            <li><a href="#health-activities" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>健康活動の継続で獲得</a></li>
          </ul>
        </div>

        <div class="<%= namespace %>-Main_Body u-Adjust_Mt-24">
          <div class="<%= namespace %>-Main_Body-item" id="daily-life">
            <h3 class="c-Heading_Lv3 u-Adjust_Align-center">毎日の生活で獲得</h3>
            <p class="u-Adjust_Mt-16">スマホとのペアリング設定をしたら、あとは自動でデータが連携。Apple Watchを身につけて生活すると毎月ポイントが獲得できます！</p>
            <div class="<%= namespace %>-Main_Body-daily-example u-Adjust_Mt-16">
              <div class="u-Adjust_Align-center">
                <img src="<%= imgPath %>daily-life-example-01.png" alt="通勤中 勤務中" width="312" height="177">
              </div>
              <div class="u-Adjust_Align-center">
                <img src="<%= imgPath %>daily-life-example-02.png" alt="睡眠中" width="312" height="177">
              </div>
              <div class="u-Adjust_Align-center">
                <img src="<%= imgPath %>daily-life-example-03.png" alt="カフェ ジム デート" width="312" height="177">
              </div>
            </div>

            <div class="c-Accordion u-Adjust_Mt-24">
              <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Apple Watchで連携できる活動データ一覧</button>
              <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="false">
                <div class="u-Adjust_Align-center">
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= imgPath %>daily-life-cooperation-list-sp.png" width="622" height="1596">
                    <img src="<%= imgPath %>daily-life-cooperation-list-pc.png" alt="歩数 活動消費カロリー 運動時間 睡眠時間 心拍数 スタンド時間 歩行時平均心拍数 安静時心拍数 心拍変動 心電図" width="938" height="282">
                  </picture>
                </div>
                <div class="<%= namespace %>-Main_Body-daily-healthcare u-Adjust_Mt-24" id="health-care">
                  <div class="<%= namespace %>-Main_Body-daily-healthcare-img">
                    <img src="<%= imgPath %>daily-life-healthcare.png" alt="ヘルスケア" width="71" height="71" loading="lazy">
                  </div>
                  <p class="<%= namespace %>-Main_Body-daily-healthcare-title">データ連携は「楽天ヘルスケアアプリ」でカンタン</p>
                  <div class="<%= namespace %>-Main_Body-daily-healthcare-body">
                    <p>Apple Watchの歩数記録などのデータと連携し、運動量などを管理できる無料アプリです。</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Mt-sp-16"><a href="https://www.rakuten-insurance.co.jp/medical/wellsmile/app.html?scid=wi_rmi_app_2" class="c-Link_Txt-inline-icon" target="_blank">楽天ヘルスケアアプリの詳細を見る<span class="c-Icon_New-window-l"></span></a></p>
                  </div>
                </div>
                <p class="c-Txt_Cap u-Adjust_Mt-16">
                  ※ Apple Watch以外のウェアラブルデバイスでも連携可能です。その場合、連携可能なデータは5項目となります。<br>
                  ※ 各項目の詳細につきましては、iOSのヘルスケアアプリをご確認ください。<br>
                  ※楽天ヘルスケアアプリは楽天グループ株式会社が提供するサービスです。
                </p>
              </div>
            </div>

            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <picture>
                <source media="(max-width: 768px)" srcset="<%= imgPath %>arrow-sp.svg" width="104" height="27">
                <img src="<%= imgPath %>arrow-pc.svg" alt="" width="100" height="26">
              </picture>
            </div>

            <div class="u-Adjust_Mt-16">
              <h4 class="c-Heading_Lv4 u-Adjust_Align-center">毎日のデータ連携を続けると</h4>
              <div class="u-Adjust_Mt-16">
                <picture>
                  <source media="(max-width: 768px)" srcset="<%= imgPath %>daily-life-result-sp.png" width="622" height="710">
                  <img src="<%= imgPath %>daily-life-result-pc.png" alt="1ヶ月で最大250ポイント※1" width="984" height="120">
                </picture>
              </div>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※1 データ連携によるポイント獲得はご契約者様向けサービスであり、生命保険契約による保障とは異なります。予告なく変更または中止される場合がありますのでご注意ください（2023年11月25日現在）。</p>
            </div>

            <div class="u-Adjust_Mt-16">
              <p class="u-Adjust_Align-center">1カ月最大250ポイント獲得には<br class="u-Show_Oox">条件があります。</p>
              <div class="u-Adjust_Mt-8 u-Adjust_Align-center">
                <a href="https://www.rakuten-insurance.co.jp/medical/wellsmile/point2.html?scid=wi_rmi_point2" class="<%= namespace %>-Main_Body-daily-healthcare-btn c-Btn_Regular" target="_blank">
                  <span>最大250ポイント獲得の詳細はこちら</span>
                  <span class="c-Icon_New-window-l"></span>
                </a>
              </div>
              <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-center">楽天生命ウェルスマイルのページに移動します</p>
            </div>
          </div>

          <div class="<%= namespace %>-Main_Body-item u-Adjust_Mt-16" id="health-activities">
            <h3 class="c-Heading_Lv3 u-Adjust_Align-center">健康活動の継続で獲得</h3>
            <p class="u-Adjust_Mt-16">「楽天生命ウェルスマイル」は、お申し込み時の告知と、毎年受診する健康診断結果に応じて「ウェルスマランク<span class="c-Txt_Cap">※</span>」が★1～★5に決定。ウェルスマランク（★3～★5）と、年齢（契約日・契約応当日時点の年齢）に応じた楽天ポイントが獲得できます。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※ウェルスマランクは、健康診断結果などに応じて5つにランク付けした約款上の「健康区分」。</p>

            <h4 class="c-Heading_Lv4 u-Adjust_Mt-24 u-Adjust_Align-center"><span class="<%= namespace %>-Main_Body-continuation-example-icon">例えば</span><br class="u-Show_Oox">健康活動を継続して<br class="u-Show_Oox">ウェルスマランク「★5」を<br class="u-Show_Oox">維持すれば</h4>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <picture>
                <source media="(max-width: 768px)" srcset="<%= imgPath %>continuation-example-sp.png" width="620" height="556">
                <img src="<%= imgPath %>continuation-example-pc.png" alt="6年間で最大 ウェルスマランク★5 合計71,712ポイント※2 データ連携 合計16,080ポイント※3" width="984" height="120">
              </picture>
            </div>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <picture>
                <source media="(max-width: 768px)" srcset="<%= imgPath %>arrow-sp.svg" width="104" height="27">
                <img src="<%= imgPath %>arrow-pc.svg" alt="" width="100" height="26">
              </picture>
            </div>
            <div class="<%= namespace %>-Main_Body-continuation-example-graph-head u-Adjust_Align-center">
              <picture>
                <source media="(max-width: 768px)" srcset="<%= imgPath %>continuation-example-aw-series9-sp-231220.png" width="614" height="216">
                <img src="<%= imgPath %>continuation-example-aw-series9-pc-231220.png" alt="Apple Watch Series 9の製品価格以上のポイントが獲得可能！" width="772" height="95">
              </picture>
            </div>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
              <picture>
                <source media="(max-width: 768px)" srcset="<%= imgPath %>continuation-example-graph-sp.png" width="622" height="852">
                <img src="<%= imgPath %>continuation-example-graph-pc.png" alt="" width="864" height="296">
              </picture>
            </div>
            <p class="c-Txt_Cap u-Adjust_Mt-16">
              ※2 40歳男性、ウェルスマイルに加入、ウェルスマランク★5、入院給付金額20万円、保険期間・保険料払込期間10年、月払保険料（標準体保険料率適用）4,980円の場合。ウェルスマランク★5による獲得ポイントは、保険約款に基づく保険料還付となります。ウェルスマランクに応じて獲得できる楽天ポイントは、楽天ポイントではなく還付金（現金）でも受け取ることもできます。<br>
              ※3 楽天ヘルスケアアプリとApple Watchの連携による、活動データ52週分 ＋ 血圧・BMIデータ12カ月分を1年分として算出。活動データや血圧・BMIデータの入力、連携によるポイント獲得は、ご契約者様向けサービスであり、生命保険契約によるものではありません。また、ご契約者様向けサービスは予告なく変更または中止される場合があります。<br>
              ※4 2023年11月21日現在。この価格は最低価格の場合で、ケースやバンドによって価格が異なります。<br>
              ※ウェルスマランク★5によるポイントとデータ連携によるポイントの獲得のタイミングは異なります。
            </p>
            <div class="u-Adjust_Mt-24">
              <div class="u-Adjust_Align-center">
                <a href="https://www.rakuten-insurance.co.jp/medical/wellsmile/point1.html?scid=wi_rmi_point1" class="c-Btn_Regular" target="_blank">
                  <span>ウェルスマランクによる<br class="u-Show_Oox">ポイント獲得の詳細はこちら</span>
                  <span class="c-Icon_New-window-l"></span>
                </a>
              </div>
              <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-center">楽天生命ウェルスマイルのページに移動します</p>
            </div>

          </div>
        </div>
      </div>
    </section>

    <div class="l-System_Container u-Adjust_Mt-56">
      <p class="<%= namespace %>-Layout_List-head-sub u-Adjust_Align-center"><span class="u-Show_Xxo">＼</span>Apple Watchを購入して、<br class="u-Show_Oox"><span class="u-Show_Oox">＼</span>今すぐ健康活動を始めよう！／</p>
      <h2 class="c-Heading_Lv2 u-Adjust_Align-center">Apple Watch一覧</h2>
      <p class="<%= namespace %>-Layout_List-head-description u-Adjust_Mt-24">楽天モバイルで取り扱っているすべてのApple Watchで、ご利用いただけます。</p>

      <div class="u-Adjust_Mt-24">
        <%- include('/include/product/apple-watch/_apple-watch-top-list', { lId: 'campaign_applewatch-wellsmile' }) %>
      </div>

      <div class="u-Adjust_Align-center u-Adjust_Mt-sp-24">
        <a href="<%= sitepath %>product/apple-watch/comparison/?l-id=campaign_applewatch-wellsmile_product_apple-watch_comparison" class="c-Btn_Regular"><span>Apple Watchの機能を比較する</span></a>
      </div>

      <div class="u-Adjust_Mt-40">
        <h4 class="c-Heading_Lv4 u-Adjust_Align-center">おトクなキャンペーン開催中！</h4>
        <div class="l-Media_Grid-half u-Adjust_Mt-40">
          <div class="l-Media_Image">
            <a class="c-Banner_Hover-act" href="<%= sitepath %>campaign/applewatch-insurance/?l-id=campaign_applewatch-wellsmile_campaign_applewatch-insurance">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-workout-343-108-231020.png" width="686" height="216">
                <img src="<%= sitepath %>assets/img/bnr/bnr-workout-504-158-231130.png" alt="楽天モバイルでApple Watchご購入でワークアウト保険が2年間無料" width="1032" height="160" loading="lazy">
              </picture>
            </a>
          </div>
          <div class="l-Media_Image">
            <a class="c-Banner_Hover-act" href="<%= sitepath %>service/number-share/?l-id=campaign_applewatch-wellsmile_service_number-share">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-number-share-343-108-240301.png" width="686" height="216">
                <img src="<%= sitepath %>assets/img/bnr/bnr-number-share-504-158-240301.png" width="504" height="158" alt="電話番号シェアサービス（月額550円）。期間中にお申し込みで3カ月分（1,650円）を1,650ポイント還元で実質3カ月無料！">
              </picture>
            </a>
          </div>
        </div>
      </div>

      <div class="u-Adjust_Mt-56">
        <h3 class="c-Heading_Lv3">注意事項</h3>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■このページについて</p>
        <p class="c-Txt_Cap">
          ※ このページは楽天グループ株式会社、楽天モバイル株式会社、楽天インシュアランスプランニング株式会社の共同広告となります。<br>
          ※ Apple Watchの販売は国内販売代理店である楽天モバイル株式会社が行います。<br>
          ※ 楽天生命ウェルスマイルは楽天生命保険株式会社の保険商品です。<br>
          ※ このページでは保険募集代理店の楽天インシュアランスプランニング株式会社が、楽天保険グループの保険商品をおすすめしています。<br>
          ※ 楽天ヘルスケアアプリは楽天グループ株式会社が提供するサービスです。
        </p>
      </div>

      <div class="<%= namespace %>-Layout_Recommend u-Adjust_Mt-56">
        <%- include('/include/product/apple-watch/_recommend-product-apple-watch-8.ejs', {
          tradeinProduct: 'Watch 7 Hermes 45mm - GPS+Cellular - Stainless',
          tradeinProductDetail: 'Watch 7 Hermes - 45mm（GPS+Cellular）ステンレスケース',
          tradeinPrice: '27,500',
          currentDir: 'campaign_applewatch-wellsmile',
          date: '2023年12月22日時点',
        }) _%>
      </div>
    </div>

    <div class="u-Adjust_Mt-56">
      <%- include('/inc/_about-rakuten-mobile', { baseLId: 'campaign_applewatch-wellsmile' }) %>
    </div>

    <div class="l-System_Container u-Adjust_Mt-48">
      <%- include('/include/_bnr-cpn-recommend-v2') %>
      <p class="u-Adjust_Mt-32 u-Adjust_Align-right">2-2023-197（2023.11.27）</p>
    </div>


    <footer class="g-Footer u-Adjust_Mt-64">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <%- include('/include/_breadcrumbs', {
          type: 'foot',
          pagetitle,
          directories,
        }) %>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
</body>
</html>
