<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "楽天ひかり月額基本料6カ月0円キャンペーン" -%>
<% const directories = [{path: hikariroot.path + "campaign/spu/", label:"キャンペーン"}] -%>
<% const namespace = "hikari-campaign-six-month-free" -%>
<% const imgDir = `${sitepath}assets/img/hikari/campaign/six-month-free/` -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    description: '楽天ひかり初めてお申し込み&amp;楽天モバイル「Rakuten最強プラン（データタイプを含む）」ご利用で、月額基本料が6カ月0円！最大28,800円もおトクに！さらにSPU対象でお得にポイントも貯まる。',
    noindex: false,
    pathname: filepath,
    ishikari: true,
    canonical_custom: 'https://network.mobile.rakuten.co.jp/hikari/campaign/six-month-free/'
  });
%>
<%- include('/include/hikari/_common-v2-hikari-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/campaign/six-month-free/six-month-free.css?20240424">
<%- include('/include/_append-head-hikari') %>

</head>
<body>
<%- include('/include/_prepend-body-hikari') %>
<div class="l-System">
  <%-
    include('/hikari/include/_header', {
      headerType: 'normal',
      directories: directories,
      pagetitle: '楽天ひかり月額基本料6カ月0円キャンペーン',
      pathname: filepath,
      })
  _%>

  <section class="<%= namespace %>-Kv">
    <div class="l-System_Container">
      <h1 class="u-Adjust_Align-center">
        <picture>
          <source media="(max-width: 834px)" srcset="<%= imgDir %>kv-b-sp.png" width="375" height="304">
          <img src="<%= imgDir %>kv-b-pc.png" alt="楽天ひかり初めてお申し込み&amp;楽天モバイルご利用で楽天ひかりの月額基本料6カ月0円" width="905" height="346">
        </picture>
      </h1>
      <div class="u-Adjust_Mt-8">
        <ul class="<%= namespace %>-List_Note-kv">
          <li>※1 ファミリープラン（戸建）の場合。マンションプラン（集合住宅）は最大22,800円（税込25,080円）</li>
          <li>※ 楽天モバイルRakuten最強プラン（データタイプを含む）利用中、または楽天ひかりのお申し込みの翌月15日までの利用開始で、楽天ひかりの開通月から6カ月間月額基本料0円</li>
          <li>※ 楽天ひかりにお申し込みいただいた方で、お申し込み月を1カ月目として4カ月目末日以内に開通した方</li>
          <li>※ 初期費用等別。契約期間中（2年ごとに更新）は契約解除料が発生。楽天ひかりお申し込み時の楽天IDと楽天モバイルへ登録されている楽天IDが異なる場合は特典対象外</li>
          <li>※ その他条件の詳細は<a href="#anc05" class="js-scroll">こちら</a></li>
        </ul>
      </div>
    </div>
  </section>

  <div class="<%= namespace %>-Cta">
    <div class="<%= namespace %>-Cta_Inner">
      <a href="https://secure3.gol.com/mod-pl/rbb/rmch.cgi?scode=qngTI9rXJpRlc1l6roM&cpnkind=6mfree2401f9" data-lid_no="01" class="<%= namespace %>-Cta_Btn c-Btn_Primary-large">
        <span>
          <span>Webで申し込む</span>
          <span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span>
        </span>
      </a>
      <a href="<%= sitepath %>shop/" data-lid_no="01" class="<%= namespace %>-Cta_Btn c-Btn_Secondly-large">
        <span>
          <span>お近くの<br class="<%= namespace %>-Utility_Show-sp">ショップを探す</span>
          <span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span>
        </span>
      </a>
    </div>
  </div>

  <div class="<%= namespace %>-Utility_Bg-gray u-Adjust_Pt-16 u-Adjust_Pb-16">
    <div class="l-System_Container">
      <p class="c-Txt_Emp-01 u-Adjust_Align-center">
        【キャンペーン期間】<br class="<%= namespace %>-Utility_Show-sp">
        Web：2024年1月16日（火）10:00 〜 <br class="<%= namespace %>-Utility_Show-sp">
        終了日未定<br>
        ショップ：2024年1月16日（火）開店 ～<br class="<%= namespace %>-Utility_Show-sp">
        終了日未定
      </p>
    </div>
  </div>

  <div id="js-trigger" class="u-Adjust_Mt-32">
    <div class="l-System_Container">
      <ul class="<%= namespace %>-List_Links-internal">
        <li><a href="#anc01" class="c-Link_Txt-inline js-scroll">月額基本料が6カ月0円<span class="c-Icon_Arrow-down-l c-Txt_Emp"></span></a></li>
        <li><a href="#anc02" class="c-Link_Txt-inline js-scroll">モバイルとセットでポイント毎日全員７倍<span class="c-Icon_Arrow-down-l c-Txt_Emp"></span></a></li>
        <li><a href="#anc03" class="c-Link_Txt-inline js-scroll">楽天ひかりとは<span class="c-Icon_Arrow-down-l c-Txt_Emp"></span></a></li>
        <li><a href="#anc04" class="c-Link_Txt-inline js-scroll">よくあるご質問<span class="c-Icon_Arrow-down-l c-Txt_Emp"></span></a></li>
      </ul>
    </div>
  </div>

  <section class="u-Adjust_Mt-32">
    <div class="<%= namespace %>-Utility_Bg-gray u-Adjust_Pt-48 u-Adjust_Pb-48 u-Adjust_Pb-pc-64">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンの達成条件</h2>
        <div class="<%= namespace %>-Cpn_Condition-inner-wrapper-3 u-Adjust_Mt-24">
          <div class="<%= namespace %>-Cpn_Condition-inner-box">
            <div class="<%= namespace %>-Cpn_Condition-content">
              <p class="<%= namespace %>-Cpn_Condition-txt">楽天ひかりに申し込む</p>
              <div class="<%= namespace %>-Cpn_Condition-image u-Adjust_Mt-0 u-Adjust_Mt-pc-24">
                <img src="<%= imgDir %>img-conditions-01.png" alt="" width="199" height="120">
              </div>
            </div>
            <div class="u-Adjust_Align-center u-Adjust_Mt-8 u-Adjust_Mt-pc-16">
              <a href="https://secure3.gol.com/mod-pl/rbb/rmch.cgi?scode=qngTI9rXJpRlc1l6roM&cpnkind=6mfree2401f9" data-lid_no="02" class="<%= namespace %>-Cpn_Condition-btn c-Btn_Primary-large"><span><span>Webで申し込み</span><span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span></span></a>
            </div>
            <p class="u-Adjust_Align-center u-Adjust_Mt-16">
              <a href="<%= sitepath %>hikari/flow/" class="c-Link_Txt-inline">ご利用開始までの流れを見る<span class="c-Icon_Arrow-right-l"></span></a>
            </p>
          </div>
          <div class="<%= namespace %>-Cpn_Condition-inner-box">
            <div class="<%= namespace %>-Cpn_Condition-content">
              <p class="<%= namespace %>-Cpn_Condition-txt">楽天モバイルのご契約<br><span class="<%= namespace %>-Cpn_Condition-txt-small">（ご利用中でない方は申し込みが必要）</span></p>
              <div class="<%= namespace %>-Cpn_Condition-image u-Adjust_Mt-0 u-Adjust_Mt-pc-24">
                <img src="<%= imgDir %>img-conditions-02.png" alt="" width="199" height="120">
              </div>
            </div>
            <div class="u-Adjust_Align-center u-Adjust_Mt-8 u-Adjust_Mt-pc-16">
              <a href="https://onboarding.mobile.rakuten.co.jp/" class="<%= namespace %>-Cpn_Condition-btn c-Btn_Secondly-large" target="_blank" rel="noopener noreferrer"><span><span>Webで申し込み</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
            </div>
            <p class="u-Adjust_Align-center u-Adjust_Mt-16">
              <a href="<%= sitepath %>fee/saikyo-plan/" class="c-Link_Txt-inline">Rakuten最強プランの詳細を見る<span class="c-Icon_Arrow-right-l"></span></a>
            </p>
          </div>
          <div class="<%= namespace %>-Cpn_Condition-inner-box">
            <div class="<%= namespace %>-Cpn_Condition-content">
              <p class="<%= namespace %>-Cpn_Condition-txt">楽天ひかり開通＋<br>楽天モバイル利用開始</p>
              <div class="<%= namespace %>-Cpn_Condition-image u-Adjust_Mt-0 u-Adjust_Mt-pc-24">
                <img src="<%= imgDir %>img-conditions-03.png" alt="" width="199" height="120">
              </div>
            </div>
            <div class="u-Adjust_Mt-8 u-Adjust_Mt-pc-16">
              <ul>
                <li class="c-Txt_Cap">※キャンペーン期間中に楽天ひかりをお申し込みいただき、お申し込み月を1カ月目として４カ月目末日までに開通した方</li>
                <li class="c-Txt_Cap">※楽天ひかりのお申し込みの翌月15日までに「Rakuten最強プラン（データタイプを含む）」を利用開始した方</li>
              </ul>
            </div>
          </div>
        </div>

        <ul class="u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
          <li class="c-Txt_Cap">※ 楽天ひかりは初期費用等別。契約期間中（2年ごとに更新）は契約解除料が発生。楽天ひかりお申し込み時の楽天IDと楽天モバイルへ登録されている楽天IDが異なる場合は特典対象外</li>
          <li class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Mt-pc-0">※ その他条件の詳細は<a href="#anc05" class="js-scroll">こちら</a></li>
        </ul>
      </div>
    </div>
  </section>

  <section id="anc01" class="u-Adjust_Pt-48 u-Adjust_Pt-pc-64">
    <div class="l-System_Container">
      <h2 class="u-Adjust_Align-center">
        <span class="c-Heading_Lv4">初めてお申し込み&amp;<span class="<%= namespace %>-Utility_Display-block-sp">楽天モバイルご利用で</span></span><br class="<%= namespace %>-Utility_Show-pc">
        <span class="c-Heading_Lv2">楽天ひかりの月額基本料が6カ月0円！</span>
      </h2>
      <div class="<%= namespace %>-Theme-Borderbox u-Adjust_Mt-24">
        <div class="<%= namespace %>-Theme-Borderbox_Inner">
          <div class="u-Adjust_Align-center">
            <picture>
              <source media="(max-width: 834px)" srcset="<%= imgDir %>img-fee-sp.png" width="307" height="428">
              <img src="<%= imgDir %>img-fee-pc.png" alt="楽天ひかりの月額基本料 マンションプラン（集合住宅）3,800円(税込4,180円)のところ6カ月0円 ファミリープラン（戸建）4,800円(税込5,280円)のところ6カ月0円 6カ月で最大28,800円（税込31,680円）もおトクに!※1" width="833" height="292">
            </picture>
          </div>
          <div class="<%= namespace %>-Theme-Light u-Adjust_Mt-8">
            <p class="c-Txt_Emp-01 u-Adjust_Align-center">7カ月目以降</p>
            <p class="u-Adjust_Mt-8 u-Adjust_Align-center">
              マンションプラン（集合住宅）<br class="<%= namespace %>-Utility_Show-sp">
              <span class="c-Txt_Emp-01">3,800円（税込4,180円）</span><br class="<%= namespace %>-Utility_Show-sp">
              <span class="<%= namespace %>-Utility_Show-pc">/</span>
              <span class="u-Adjust_Mt-8 u-Adjust_Mt-pc-0">
                ファミリープラン（戸建）<br class="<%= namespace %>-Utility_Show-sp">
                <span class="c-Txt_Emp-01">4,800円（税込5,280円）</span>
              </span>
            </p>
          </div>
          <div class="u-Adjust_Mt-16 u-Adjust_Mt-pc-8">
            <ul>
              <li class="c-Txt_Cap">※1 ファミリープラン（戸建）の場合。マンションプラン（集合住宅）は最大22,800円（税込25,080円）</li>
              <li class="c-Txt_Cap">※ 楽天モバイルRakuten最強プラン（データタイプを含む）利用中、または楽天ひかりのお申し込みの翌月15日までの利用開始で、楽天ひかりの開通月から6カ月間月額基本料0円</li>
              <li class="c-Txt_Cap"> ※楽天ひかりにお申し込みいただいた方で、お申し込み月を1カ月目として4カ月目末日以内に開通した方</li>
              <li class="c-Txt_Cap">※ 楽天ひかりは初期費用等別。契約期間中（2年ごとに更新）は契約解除料が発生。楽天ひかりお申し込み時の楽天IDと楽天モバイルへ登録されている楽天IDが異なる場合は特典対象外</li>
              <li class="c-Txt_Cap">※ その他条件の詳細は<a href="#anc05" class="js-scroll">こちら</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="anc02" class="u-Adjust_Mt-48 u-Adjust_Mt-pc-64">
    <div class="<%= namespace %>-Utility_Bg-gray u-Adjust_Pt-48 u-Adjust_Pt-pc-64 u-Adjust_Pb-48 u-Adjust_Pb-pc-64">
      <div class="l-System_Container">
        <h2 class="u-Adjust_Align-center">
          <span class="c-Heading_Lv4">楽天モバイルとセットで使えばおトク</span><br>
          <span class="c-Heading_Lv2">楽天市場のお買い物が<br class="<%= namespace %>-Utility_Show-sp">ポイントUP</span>
        </h2>
        <p class="u-Adjust_Align-center u-Adjust_Mt-16 u-Adjust_Mt-pc-8">
          <picture>
            <source media="(max-width: 834px)" srcset="<%= imgDir %>img-point-up-sp.png" width="300" height="104">
            <img src="<%= imgDir %>img-point-up-pc.png" alt="ポイント毎日全員7倍！！※" width="671" height="111">
          </picture>
        </p>
        <div class="<%= namespace %>-Theme-White u-Adjust_Mt-24">
          <h3 class="<%= namespace %>-Theme-White_Heading u-Adjust_Align-center">楽天市場のお買い物で<br class="<%= namespace %>-Utility_Show-sp">獲得できるポイントの内訳</h3>
          <div class="u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
            <ul class="<%= namespace %>-List_Media">
              <li>
                <picture>
                  <source media="(max-width:834px)" srcset="<%= imgDir %>img-breakdown-01-sp.png" width="311" height="109">
                  <img src="<%= imgDir %>img-breakdown-01-pc.png" alt="Rakuten Turboまたは楽天ひかり R SPU +2倍" width="405" height="122">
                </picture>
              </li>
              <li>
                <picture>
                  <source media="(max-width:834px)" srcset="<%= imgDir %>img-breakdown-02-sp.png" width="311" height="77">
                  <img src="<%= imgDir %>img-breakdown-02-pc.png" alt="楽天モバイル R SPU +4倍※" width="406" height="120">
                </picture>
              </li>
            </ul>
          </div>
        </div>
        <p class="c-Txt_Cap u-Adjust_Mt-16">※楽天会員1倍、楽天ひかりご契約中＋2倍 、楽天モバイルご利用で＋4倍（スーパーホーダイ、組み合わせプラン、コミコミプランはSPUの対象外）※楽天ひかりはプロバイダーとして楽天ブロードバンドのみ契約されている場合は特典対象外 ※毎月の獲得上限ポイントは楽天ひかりが1,000ポイント、楽天モバイルが2,000ポイント。いずれも期間限定ポイントでの進呈</p>
        <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
          <a href="<%= sitepath %>internet/turbo/campaign/spu/?tab-list=tab-menu2" class="c-Btn_Secondly-large"><span><span>楽天ひかりのSPUを詳しく見る</span><span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span></span></a>
        </div>
      </div>
    </div>
  </section>

  <section id="anc03" class="u-Adjust_Pt-48 u-Adjust_Pt-pc-64">
    <div class="l-System_Container">
      <h2 class="u-Adjust_Align-center">
        <span class="c-Heading_Lv4">楽天ひかりとは？</span><br>
        <span class="c-Heading_Lv2">高速＆安定の光回線</span>
      </h2>
      <div class="<%= namespace %>-Layout_Column u-Adjust_Mt-32">
        <div class="<%= namespace %>-Layout_Column-content">
          <h3 class="c-Heading_Lv4">いつでも快適</h3>
          <div class="<%= namespace %>-Layout_Column-image">
            <img src="<%= imgDir %>img-about-1.svg" alt="" width="240" height="162">
          </div>
          <p class="<%= namespace %>-Layout_Column-txt">お昼時や夜のピークタイムでも<br class="<%= namespace %>-Utility_Show-pc">サクサク！</p>
        </div>
        <div class="<%= namespace %>-Layout_Column-content">
          <h3 class="c-Heading_Lv4">どこでも快適</h3>
          <div class="<%= namespace %>-Layout_Column-image">
            <img src="<%= imgDir %>img-about-2.svg" alt="" width="240" height="162">
          </div>
          <p class="<%= namespace %>-Layout_Column-txt">人口密集エリアでも快適！</p>
        </div>
        <div class="<%= namespace %>-Layout_Column-content">
          <h3 class="c-Heading_Lv4">安定した通信</h3>
          <div class="<%= namespace %>-Layout_Column-image">
            <img src="<%= imgDir %>img-about-3.svg" alt="" width="240" height="162">
          </div>
          <p class="<%= namespace %>-Layout_Column-txt">ドラマの一気見でも<br class="<%= namespace %>-Utility_Show-pc">途切れない！</p>
        </div>
        <div class="<%= namespace %>-Layout_Column-content">
          <h3 class="c-Heading_Lv4">ギガ使い放題</h3>
          <div class="<%= namespace %>-Layout_Column-image">
            <img src="<%= imgDir %>img-about-4.svg" alt="" width="240" height="162">
          </div>
          <p class="<%= namespace %>-Layout_Column-txt">ギガは気にしなくて大丈夫！</p>
        </div>
      </div>

      <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
        <a href="<%= sitepath %>hikari/internet/" class="c-Btn_Secondly-large"><span><span>高速＆安定の光回線を詳しく見る</span><span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span></span></a>
      </div>
    </div>
  </section>

  <section class="l-System_Container u-Adjust_Mt-48">
    <h3 class="c-Heading_Lv3 u-Adjust_Align-center">楽天ひかりと楽天モバイルを<br class="u-Show_Oox">セットでご利用の方へ</h3>

    <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
      <%- include('/include/hikari/bnr/_bnr-casa-1032-160', {
        orglid: 'rhk_hikari_campaign_six-month-free_product_internet_rakuten-casa_01',
      }) %>
    </div>
  </section>

  <section id="anc04" class="<%= namespace %>-Layout_Section-quesetion u-Adjust_Pt-64">
    <h2 class="c-Heading_Lv2 u-Adjust_Align-center" data-ratid="scroll-07_faq" data-ratevent="appear">よくあるご質問</h2>
    <div class="u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
      <div class="c-Accordion">
        <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>申込み手続き後、楽天ひかり利用開始までの流れを教えてください。</button>
        <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="false">
          <p class="c-Txt_Emp-01">①弊社より、開通工事日をご案内するためにメールをお送りいたします。</p>
          <ul class="u-Adjust_Mt-16">
            <li class="c-Txt_Cap">※お申し込み内容に不明点がある場合は、弊社よりお電話いたします。</li>
            <li class="c-Txt_Cap">※申し込み日により、開通工事日が異なります。</li>
          </ul>
          <ul class="c-List_Text-disc u-Adjust_Mt-16">
            <li>毎月5日までの申込分 → 翌月1日開通工事</li>
            <li class="u-Adjust_Mt-8">毎月15日までの申込分 → 翌月10日開通工事</li>
            <li class="u-Adjust_Mt-8">毎月25日までの申込分 → 翌月20日開通工事</li>
          </ul>
          <p class="c-Txt_Emp-01 u-Adjust_Mt-24">②弊社より、開通工事日前日までに、「開通通知書（契約内容及びアカウントのお知らせ）」を郵送いたします。</p>
          <p class="c-Txt_Emp-01 u-Adjust_Mt-24">③弊社にて、開通工事を行います。</p>
          <p class="c-Txt_Cap u-Adjust_Mt-8">※お客様宅に訪問して行う工事等はありません。</p>
          <p class="c-Txt_Emp-01 u-Adjust_Mt-24">④お客様にて、ルーターなどの設定を行っていただくと、インターネットが利用できます。</p>
          <ul class="u-Adjust_Mt-8">
            <li class="c-Txt_Cap">※フレッツ光から変更の場合、光対応機器（HGW、もしくはONU）を継続してご利用いただきます。</li>
            <li class="c-Txt_Cap">※開通日の0時以降にルーター等の機器設定をしてください。</li>
          </ul>
        </div>
      </div>
      <div class="c-Accordion">
        <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天ひかりを契約する場合に必要な料金（工事費、初期登録費、月額料金）</button>
        <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="false">
          <p>
            楽天ひかりをお申し込みの際は、工事費・初期登録費・月額料金が発生いたします。<br>
            詳しい料金は、お客様のご利用環境によって異なりますので料金表をご確認ください。
          </p>
          <div class="u-Adjust_Mt-8">
            <a href="<%= sitepath %>hikari/fee/pricelist/" class="c-Link_Txt-inline">料金・お支払い方法<span class="c-Icon_Arrow-right-l"></span></a>
          </div>
        </div>
      </div>
      <div class="c-Accordion">
        <button type="button" id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>「6カ月0円」特典を適用させるうえで、楽天ひかりとRakuten最強プラン・Rakuten最強プラン（データタイプ）の申し込みはどちらが先でも問題ないのでしょうか？</button>
        <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="false">
          <p>どちらを先にお申し込みいただいても問題ございません。それぞれ下記の条件を満たした方に「6カ月0円」の特典を適用させていただきます。</p>
          <ul class="c-List_Text-disc u-Adjust_Mt-16">
            <li>楽天ひかり：お申し込みを１カ月目として4カ月目までに開通していること</li>
            <li class="u-Adjust_Mt-8">Rakuten最強プラン：楽天ひかりのお申し込みの翌月15日までに、Rakuten最強プランまたはRakuten最強プラン（データタイプ）を利用していること</li>
          </ul>
          <p class="c-Txt_Cap u-Adjust_Mt-8">※その他条件はキャンペーンルールをご確認ください</p>
        </div>
      </div>
    </div>
  </section>

  <section id="anc05" class="u-Adjust_Pt-64">
    <div class="l-System_Container">
      <h2 class="c-Heading_Lv2 u-Adjust_Align-center" data-ratid="scroll-08_rule" data-ratevent="appear">楽天ひかり 月額基本料6カ月0円キャンペーン</h2>

      <div class="u-Adjust_Mt-24">
        <dl class="c-Dl_Origin">
          <div>
            <dt>キャンペーンコード</dt>
            <dd>
              <p>2114</p>
              <ul class="c-Cpn_List-mark-1">
                <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
              </ul>
            </dd>
          </div>
          <div>
            <dt>キャンペーン期間</dt>
            <dd>
              <p class="c-Txt_Emp-01">■ キャンペーンのお申し込み期間</p>
              <ul class="c-Cpn_List-mark-2-normal">
                <li>Web　2024年1月16日（火）10:00 ～ 終了日未定</li>
                <li>店舗（楽天モバイルショップ）　2024年1月16日（火）開店 ～ 終了日未定</li>
              </ul>
            </dd>
          </div>
          <div>
            <dt>キャンペーン適用条件</dt>
            <dd>
              <p class="c-Txt_Emp-02">上記各項目の期間内に【1】、【2】、【3】の条件をすべて満たした楽天会員の方</p>
              <div class="u-Adjust_Mt-16">
                <p class="c-Cpn_Title-lv1"><span>【1】</span>「楽天ひかり」のお申し込み</p>
                <p class="u-Adjust_Mt-8">本ページのお申し込みボタンから、楽天ひかりにお申し込みいただいた方</p>
              </div>
              <div class="u-Adjust_Mt-16">
                <p class="c-Cpn_Title-lv1"><span>【2】</span>「楽天ひかり」の開通</p>
                <p class="u-Adjust_Mt-8">キャンペーン期間中に楽天ひかりにお申し込みいただき、お申し込み月を1カ月目として4カ月目末日以内に開通した方</p>
                <ul class="c-Cpn_List-mark-1">
                  <li>&quot;開通&quot;とは下記を指します<br>開通とは、楽天ひかりを使ってインターネット接続を行った状態を指します。なお、開通工事は新規で光回線を敷設する方が対象となり、すでにフレッツ光をご利用中の方（転用）、他社光コラボをご利用中の方（事業者変更）は宅内工事不要で開通となります。なおVDSL・LAN配線方式のお客様は工事予定日をもって開通となります</li>
                </ul>
              </div>
              <div class="u-Adjust_Mt-16">
                <p class="c-Cpn_Title-lv1"><span>【3】</span>「Rakuten最強プラン・Rakuten最強プラン（データタイプ）」ご利用中、または、「Rakuten最強プラン・Rakuten最強プラン（データタイプ）」へのお申し込み&amp;プラン利用開始</p>
                <p class="u-Adjust_Mt-8">「楽天ひかり」のお申し込みの翌月15日までに「Rakuten最強プラン・Rakuten最強プラン（データタイプ）」を利用している必要があります</p>
                <ul class="c-Cpn_List-mark-1">
                  <li>本キャンペーン開始時点で「Rakuten最強プラン・Rakuten最強プラン（データタイプ）」を利用開始されていない場合は、プラン利用開始が必要となります。既にプラン利用開始されている場合は、新たなお手続きは不要となります</li>
                  <li>本キャンペーン開始時点で「Rakuten最強プラン・Rakuten最強プラン（データタイプ）」の未契約者である場合は、下記（1）-（3）いずれかの方法で「お申し込み」いただく必要があります
                    <ol class="u-Adjust_Mt-8">
                      <li>（1）新規お申し込み</li>
                      <li>（2）他社からの乗り換え（MNP）でお申し込み</li>
                      <li>（3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
                    </ol>
                  </li>
                </ul>
              </div>
              <div class="u-Adjust_Mt-16">
                <p>【プラン利用開始日とは】</p>
                <ul class="c-Cpn_List-mark-2-normal">
                  <li>
                    <p>新規お申し込みの場合&emsp;※（1）（2）のいずれか早い方がプラン利用開始日となります</p>
                    <ol class="c-Cpn_List-ordered-lv2">
                      <li>当社に配送完了データが通知された日</li>
                      <li>プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</li>
                    </ol>
                  </li>
                  <li>
                    <p>他社から乗り換え（MNP）の場合</p>
                    <p class="u-Adjust_Mt-8">プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</p>
                  </li>
                  <li>
                    <p>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</p>
                    <p class="u-Adjust_Mt-8">プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</p>
                  </li>
                </ul>
              </div>
            </dd>
          </div>
          <div>
            <dt>キャンペーン特典</dt>
            <dd>
              <div>
                <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
                <p class="c-Txt_Emp-01">楽天ひかりの月額基本料、6カ月間0円</p>
                <p>開通月から6カ月間月額基本料0円</p>
                <ul class="c-Cpn_List-mark-1">
                  <li>権利の譲渡はできません</li>
                </ul>
              </div>
            </dd>
          </div>
          <div>
            <dt>キャンペーンに関する楽天ひかりの契約に関して</dt>
            <dd>
              <div>
                <p class="c-Txt_Emp-01">■ 対象サービス</p>
                <p class="c-Txt_Emp-01 u-Adjust_Mt-8">楽天ひかり</p>
                <p class="u-Adjust_Mt-8">全プラン（マンションプラン、ファミリープラン）</p>
              </div>
              <div class="u-Adjust_Mt-16">
                <p class="c-Txt_Emp-01">■ 契約期間</p>
                <p class="c-Txt_Emp-01 u-Adjust_Mt-8">楽天ひかり マンションプラン、ファミリープラン</p>
                <p class="u-Adjust_Mt-8">2年間（24カ月）／自動更新あり</p>
                <ul class="c-Cpn_List-mark-1">
                  <li>契約期間（2年）は、開通月の翌月を起算点とします</li>
                  <li>24カ月ご利用後、25カ月目から新たな契約期間（2年）が始まり、以降24カ月ごとに同様の繰り返しとなります</li>
                  <li>24カ月目～26カ月目に解約申請、または事業者変更承諾番号の発行を行い、24カ月目～28カ月目以内に回線撤去もしくは他社光コラボに事業者変更が完了した場合、契約解除料は発生しません</li>
                  <li>例)2024年3月に開通をしたお客様は、2026年3月1日～2026年5月31日の期間に解約申請をいただき、2026年3月1日から5カ月以内に回線撤去もしくは他社光コラボに事業者変更が完了した場合、契約解除料は発生いたしません</li>
                  <li>工事費の分割払い期間中に解約される場合は残債額を一括でお支払いいただきます</li>
                </ul>
              </div>
              <div class="u-Adjust_Mt-16">
                <p class="c-Txt_Emp-01">■ 契約解除料</p>
                <p class="c-Txt_Emp-01 u-Adjust_Mt-8">楽天ひかり</p>
                <p class="u-Adjust_Mt-8">契約解除料：ファミリープラン（戸建）5,280円、マンションプラン（集合住宅）4,180円</p>
                <ul class="c-Cpn_List-mark-1">
                  <li>無料解約申請期間（24カ月目～26カ月目）以外に解約申請し、解約が完了した場合は、契約解除料が発生（本キャンペーンの特典期間中も含みます）</li>
                </ul>
              </div>
            </dd>
          </div>
          <div>
            <dt>特典適用対象外</dt>
            <dd>
              <p class="c-Txt_Emp-02">以下の条件に当てはまる場合は、特典適用対象外となります</p>
              <ul class="c-Cpn_List-mark-1">
                <li>本キャンペーン開始時点で楽天ひかりをご利用中の場合</li>
                <li>現在、すでに楽天ひかりをお申し込みされている場合</li>
                <li>過去に楽天コミュニケーションズ光もしくは楽天ひかりを開通したことがある場合</li>
                <li>楽天モバイル、楽天ひかりのいずれか、もしくは両方のお申し込みをキャンセルされた場合</li>
                <li>「楽天ひかり」のお申し込みの翌月15日23:59までに「Rakuten最強プラン・Rakuten最強プラン（データタイプ）」を解約された場合</li>
                <li>楽天ひかりお申し込み時にログインされた楽天IDが楽天モバイルへ登録されているものと異なる場合</li>
                <li>楽天モバイルの申し込みが、本人確認の不備や、MNP手続きの不備等によりキャンセルとなった場合</li>
                <li>「Rakuten最強プラン」が利用開始されなかった場合</li>
                <li>NTT東日本・NTT西日本のフレッツ光回線をご利用中で、プロバイダーが楽天ブロードバンドの方の転用お申し込みの場合</li>
                <li>楽天ひかり開通後にプラン変更を行った場合（ファミリープランからマンションプラン、またはその逆の変更）</li>
                <li>お申し込み後、楽天会員を退会した場合</li>
                <li>楽天ひかりの解約手続きを行った場合</li>
                <li>楽天ひかりを利用されている方と同居されている方が、同じ設置先住所で、新たに楽天ひかりをお申し込みされた場合（契約者の名義変更含む）</li>
                <li>過去楽天コミュニケーションズ光もしくは楽天ひかりを利用されている方と同居されていた方が、過去利用していた場所と同じ設置先住所で、新たに楽天ひかりをお申し込みされた場合</li>
                <li>当社または楽天グループの提供するサービスなどの料金のお支払いを、お支払い期限までに行わなかった場合</li>
                <li>当社または楽天グループが定める規約などに違反した場合</li>
                <li>そのほか、楽天モバイル株式会社が会員として不適格であると合理的な根拠に基づき判断した場合</li>
              </ul>
            </dd>
          </div>
          <div>
            <dt>併用可能キャンペーン</dt>
            <dd>
              <p class="c-Txt_Emp-02">以下のキャンペーンは併用可能となります。以下記載のキャンペーン以外は併用不可となります</p>
              <ul class="c-Cpn_List-mark-2">
                <li>SPU特設 楽天ひかりを初めてお申し込みで1,000ポイントプレゼントキャンペーン（キャンペーンコード：1166）</li>
              </ul>
            </dd>
          </div>
          <div>
            <dt>注意事項</dt>
            <dd>
              <ul class="c-Cpn_List-mark-1">
                <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                <li>記載の内容は2024年1月16日（火）時点の情報となります</li>
              </ul>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </section>

  <div class="u-Adjust_Mt-48 u-Adjust_Align-center">
    <div class="l-System_Container">
      <%- include('/include/hikari/bnr/_bnr-1032-160.ejs') %>
    </div>
  </div>

  <div id="js-fixed-btn" role="region" aria-expanded="false" class="<%= namespace %>-Cta_Footer">
    <div class="<%= namespace %>-Cta_Inner">
      <a href="https://secure3.gol.com/mod-pl/rbb/rmch.cgi?scode=qngTI9rXJpRlc1l6roM&cpnkind=6mfree2401f9" data-lid_no="03" class="<%= namespace %>-Cta_Btn c-Btn_Primary-large">
        <span>
          <span>Webで申し込む</span>
          <span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span>
        </span>
      </a>
      <a href="<%= sitepath %>shop/" data-lid_no="02" class="<%= namespace %>-Cta_Btn c-Btn_Secondly-large">
        <span>
          <span>お近くの<br class="<%= namespace %>-Utility_Show-sp">ショップを探す</span>
          <span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span>
        </span>
      </a>
    </div>
  </div>

  <footer class="g-Footer">
    <%- include('/hikari/include/_footer', {
      pagetitle: '楽天ひかり月額基本料6カ月0円キャンペーン',
      directories: directories,
      // hiddenFooterCtaLink: '',
      hiddenFooterCtaText: '',
      hiddenFooterCta:true,
      // hiddenCta: true,
      hiddenMenu: true,
      hiddenPopask: true,
      uniquePopask: 'transfer',
      // hiddenBacktop: true,
      // hiddenBreadcrumbs: true
      appearTag: true
    }) _%>
  </footer>
</div>
<%- include('/include/hikari/_common-js') %>
<%- include('/include/_append-body') %>
<script>
// ページ下部ボタン固定
(() => {
    const fixedBottomBtn = () =>  {
        const body = document.querySelector('body');
        const trigger = document.getElementById('js-trigger');
        const fixedBtn = document.getElementById('js-fixed-btn');
        const mediaQueryList = window.matchMedia('(min-width: 835px)');
        let scrollY = window.pageYOffset;

        const resize = (event) => {
          if (event.matches) {
            body.style.paddingBottom = `${fixedBtn.clientHeight}px`;
          } else {
            body.style.paddingBottom = `${fixedBtn.clientHeight}px`;
          }
        }
        mediaQueryList.addEventListener('change', resize);
        resize(mediaQueryList);

        if( !fixedBtn || !trigger ) return;

        const triggerRect = trigger.getBoundingClientRect();
        const triggerY = scrollY + triggerRect.top;

        if ( scrollY > triggerY ) {
            fixedBtn.setAttribute('aria-expanded', 'true');
        } else {
            fixedBtn.setAttribute('aria-expanded', 'false');
        }
    };

    window.addEventListener('scroll', fixedBottomBtn);
})();
</script>
</body>
</html>
