<% const pagetitle = "楽天モバイルでのお支払い方法" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/payment/payment/", label:"支払い方法の確認・変更"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルのお支払い方法についてご案内します。製品や毎月のご利用料金の決済方法は、「クレジットカード・デビットカード」「口座振替」「楽天ポイント支払い」など複数のお支払い方法がお選びいただけます。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "payment" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/guide.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1">お支払い方法</h1>
    <p class="u-Adjust_Mt-24">
      製品やご利用料金のお支払い方法についてご案内します。<br>楽天モバイルでは、「クレジットカード・デビットカード」「口座振替」「代金引換」「楽天ポイント利用」などのお支払い方法をご用意しておりますが、お申し込み内容によってご利用いただける決済方法が異なりますので、ご確認ください。
    </p>
    <p class="u-Adjust_Mt-24"><a href="#payment_type" class="c-Link_Txt-inline">お支払い方法の種類<span class="c-Icon_Chevron-right"></span></a></p>
    <p class="u-Adjust_Mt-24">
      毎月のご利用料金のお支払いが、お客様指定のお支払い方法で確認できなかった場合は「未払い料金」となります。「未払い料金」のお支払い方法は「<a href="<%= sitepath %>guide/payment/invoice/flow/" class="c-Link_Txt">未払い料金のお支払い方法</a>」をご確認ください。
    </p>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">ご利用可能なお支払い方法</h2>
    <div class="c-Table_Wrap-scroll u-Adjust_Mt-24">
      <table class="c-Table_Container u-Adjust_W-860">
        <colgroup>
          <col class="u-Adjust_W-120">
          <col class="u-Adjust_W-120">
          <col class="u-Adjust_W-120">
          <col>
        </colgroup>
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">月額利用料</th>
            <th scope="col">製品代金</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>クレジットカード<sup>※1</sup>・楽天銀行デビットカードと他社発行のデビットカード（一部<sup>※2</sup>）</th>
            <td class="u-Adjust_Align-center">○</td>
            <td class="u-Adjust_Align-center">○</td>
          </tr>
          <tr>
            <th>口座振替<sup>※3</sup></th>
            <td class="u-Adjust_Align-center">○</td>
            <td class="u-Adjust_Align-center">×</td>
          </tr>
          <tr>
            <th>代金引換<sup>※3</sup></th>
            <td class="u-Adjust_Align-center">×</td>
            <td class="u-Adjust_Align-center">○<sup>※4</sup></td>
          </tr>
          <tr>
            <th>楽天ポイント利用</th>
            <td class="u-Adjust_Align-center">○<br>
              <sup>※クレジットカード・デビットカード支払い時のみ利用可</sup>
            </td>
            <td class="u-Adjust_Align-center">○<br>
              <sup>※クレジットカード・デビットカード支払いで一括払いまたは分割払いの初回のみ利用可</sup>
            </td>
          </tr>
        </tbody>
      </table>
      <ul class="c-List_Cap u-Adjust_Mt-8">
        <li><span>※1</span> 楽天モバイル買い替え超トクプログラムをお申し込みの場合、お支払いは<span class="c-Txt_Emp-02">ご契約者本人名義</span>の「楽天カード」でのみ承ります。<a href="<%= sitepath %>service/replacement-program/?l-id=guide_payment_service_replacement-program">詳細はこちら</a></li>
        <li><span>※2</span> お支払いの登録ができても、ご請求時に何らかの理由でお手続きが出来ない場合がございます。ご利用可否は各カード発行会社の判断によります。詳細は各カード発行会社へお問い合わせください。</li>
        <li><span>※3</span> ご利用には手数料がかかります。詳細は<a href="#payment_type" class="js-scroll c-Link_Txt">お支払い方法の種類</a>の各詳細ページでご確認ください。</li>
        <li><span>※4</span> 以下の場合には代金引換はご利用できません。<br>
          　・本人確認方法で「受け取り時に自宅で確認」を選択した場合<br>
          　・送料含む商品合計額（税込）が300,001円以上の場合<br>
          　・楽天モバイルショップ（店舗）で製品ご購入の場合</li>
      </ul>
    </div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="payment_type">お支払い方法の種類</h2>

    <p class="u-Adjust_Mt-16">お支払い方法の確認と変更方法は以下をご確認ください。</p>
    <p><a href="<%= sitepath %>guide/payment/change/?l-id=guide_payment_guide_payment_change" class="c-Link_Txt-inline">お支払い方法の確認と変更方法<span class="c-Icon_Chevron-right"></span></a></p>

    <div class="c-Theme-Borderbox u-Adjust_Mt-32">
      <h3 class="c-Heading_Lv3">クレジットカード·デビットカードでお支払い</h3>
      <div class="l-Media_Grid u-Adjust_Mt-16">
        <div class="l-Media_Image">
          <img src="/assets/img/guide/payment/img-guide-payment-01.png?210716" alt="">
        </div>
        <div>
          <p class="">楽天カードでのお支払いはもちろん、各種クレジットカード・デビットカードをご利用いただけます。</p>

          <p class="c-Txt_Cap u-Adjust_Mt-16">※ご利用のクレジットカードにより、ご利用可能な製品の分割払い回数が異なります。</p>
          <div class="u-Adjust_Mt-32">
            <a href="<%= sitepath %>guide/payment/card/" class="c-Btn_Secondly"><span>クレジットカード·デビットカードでのお支払い方法を見る</span></a>
          </div>
          <div class="u-Adjust_Mt-56">
            <h4 class="c-Heading_Lv4">楽天カードのお支払いが便利！</h4>
            <ul class="c-List_Text-disc">
              <li class="u-Adjust_Mt-8">製品代金の48回払いが可能</li>
              <li class="u-Adjust_Mt-8">製品代金の分割払い手数料が無料</li>
              <li class="u-Adjust_Mt-8">お支払い額100円につき1円相当の楽天ポイントが貯まるのは楽天カードだけ！</li>
            </ul>
            <p class="c-Txt_Cap u-Adjust_Mt-16">※一部店舗では、楽天カードを利用した場合でも、分割手数料が発生する場合がございます。詳しくは、店舗までご確認ください。</p>

            <div class="u-Adjust_Mt-24">
              <a href="https://ad2.trafficgate.net/t/r/11262/1441/99636_99636/" target="_blank" class="c-Btn_Regular"><span>楽天カードの詳細を見る</span></a>
            </div>
          </div>
          <div class="u-Adjust_Mt-56">
            <h4 class="c-Heading_Lv4">ショップ（店舗）での楽天カード新規お申し込みサポートについて</h4>
            <p class="u-Adjust_Mt-16">楽天モバイルショップでは楽天モバイルのお申し込みに加えて、楽天カードのお申込み手続きも店頭でサポートしております。ご希望の場合は、来店予約をご利用のうえご来店ください。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※一部、取り扱い対象外のショップがございます。詳しくは楽天モバイル各店の詳細ページをご確認ください。</p>
            <div class="u-Adjust_Mt-24">
              <a href="/shop/?l-id=guide_payment_shop" target="_blank" class="c-Btn_Regular"><span>お近くのショップを探す・来店予約</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="c-Theme-Borderbox u-Adjust_Mt-16">
      <h3 class="c-Heading_Lv3">口座振替でお支払い</h3>
      <div class="l-Media_Grid u-Adjust_Mt-16">
        <div class="l-Media_Image">
          <img src="/assets/img/guide/payment/img-guide-payment-03.png?231222" width="160" alt="">
        </div>
        <div>
          <p class="">月額料金のお支払いに、銀行口座からの引き落とし（口座振替）をご利用いただけます。ご利用可能な金融機関をこちらからご確認ください。</p>

          <p class="c-Txt_Cap u-Adjust_Mt-16">※口座振替で製品代金のお支払いは行えません。代金引換（お届け時現金払い）をご利用ください。</p>

            <div class="u-Adjust_Mt-32">
              <a href="<%= sitepath %>guide/payment/autopay/" class="c-Btn_Secondly"><span>口座振替でのお支払い方法を見る</span></a>
            </div>
        </div>
      </div>
    </div>

    <div class="c-Theme-Borderbox u-Adjust_Mt-16">
      <h3 class="c-Heading_Lv3">代金引換（お届け時現金払い）でお支払い</h3>
      <div class="l-Media_Grid u-Adjust_Mt-16">
        <div class="l-Media_Image">
          <img src="/assets/img/guide/autopay-image-1.png?220124" alt="">
        </div>
        <div>
          <p class="">製品代金のお支払いに、代金引換（代引き）をご利用いただけます。</p>

          <p class="c-Txt_Cap u-Adjust_Mt-16">※本人確認方法で「受け取り時に自宅で確認」を選択した場合には代金引換はご利用できません。</p>
          <p class="c-Txt_Cap">※製品代金、送料のほかに代金引換額に応じた代金引換手数料がかかります。</p>

            <div class="u-Adjust_Mt-32">
              <a href="<%= sitepath %>guide/payment/daibiki/" class="c-Btn_Secondly"><span>代金引換でのお支払い方法を見る</span></a>
            </div>
        </div>
      </div>
    </div>

    <div class="c-Theme-Borderbox u-Adjust_Mt-16">
      <h3 class="c-Heading_Lv3">楽天ポイントをお支払いに利用</h3>
      <div class="l-Media_Grid u-Adjust_Mt-16">
        <div class="l-Media_Image">
          <img src="/assets/img/guide/payment/img-guide-payment-04.png?210716" alt="">
        </div>
        <div>
          <p class="">月額料金のお支払いに、1ポイント＝1円として楽天ポイントをご利用いただけます。</p>
          <p class="c-Txt_Cap u-Adjust_Mt-16">※口座振替をご指定の場合は、楽天ポイントをご利用いただけません。</p>

          <div class="c-Theme-Light u-Adjust_Mt-32">
            <h4 class="c-Heading_Lv4">様々なサービスで貯まったポイントを月々のお支払いに使える！</h4>
            <p class="u-Adjust_Mt-8">楽天市場・楽天トラベルなど楽天グループのサービスはもちろん、コンビニやドラッグストアなどのご利用時に貯まった楽天ポイントが、プラン料金やオプションサービス料金などのお支払いにご利用いただけます！</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※毎月の製品分割払い料金は「楽天ポイント利用」対象外です。<br>※一度に利用できるポイント数は1～30,000 (ダイヤモンド会員の方は～500,000) ポイントです。</p>

            <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">期間限定ポイントを使い切るなら、楽天ポイント利用！</h4>
            <p class="u-Adjust_Mt-8">一度、利用するポイント数を設定すれば、毎月自動的に設定した額のポイントが充当されますので、毎月のお支払いが便利になります。</p>
          </div>
            <div class="u-Adjust_Mt-32">
              <a href="<%= sitepath %>guide/payment/point/" class="c-Btn_Secondly"><span>楽天ポイントの利用方法を見る</span></a>
            </div>
        </div>
      </div>
    </div>

    <div class="<%= nameSpace %>-Layout_Cta <%= nameSpace %>-Layout_Bnr u-Adjust_Mt-32">
      <a href="<%= sitepath %>campaign/payment-google/?l-id=payment_bnr_campaign_payment-google">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-payment-google-343-108-240201.png" width="656" height="370">
          <img src="<%= sitepath %>assets/img/bnr/bnr-payment-google-1032-160-240201.png" width="1032" height="160" alt="Android™でのアプリ購入やアプリ内課金が楽天モバイルキャリア決済利用で最大2%ポイント還元" loading="lazy">
        </picture>
      </a>
    </div>

    <%- include('/include/guide/_faq') %>

  </div>
</div>




<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>



</body>
</html>
