<% const pagetitle = " 持ち込みスマホあんしん保証（ご利用方法）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/plan/service/", label:"オプションサービス"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルの「持ち込みスマホあんしん保証」サービスのご利用方法の案内になります。サービス内容の詳細、保証対象となる条件等も含めて詳しくご案内します。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const namespace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= namespace %>/<%= namespace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>

</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<section class="u-Adjust_Pt-8 u-Adjust_Pb-32">
  <div class="l-System_Container u-Adjust_Pb-32">
    <p class="c-Txt_Cap u-Adjust_Align-right">※表記の金額はすべて税込です。</p>
    <h1 class="c-Heading_Lv1 u-Adjust_Mt-32"><%= pagetitle %></h1>
    <p class="u-Adjust_Mt-32">「持ち込みスマホあんしん保証」のお申し込みから故障した際の交換方法までの流れと、サービス内容の詳細をご案内いたします。</p>
    <div class="u-Adjust_Mt-32">
      <a href="<%= sitepath %>service/replacement-warranty-sim/" class="c-Btn_Regular"><span>特長・サービス内容を見る</span></a>
    </div>
  </div>

  <div class="c-Theme-Light">
    <div class="l-System_Container ">
      <ul class="<%= namespace %>-Link_Nav">
        <li>
          <a href="#flow" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span><span>ご利用の流れ</span></a>
        </li>
        <li>
          <a href="#model-change" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span><span>機種変更された場合の対応</span></a>
        </li>
        <li>
          <a href="#join-status" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span><span>加入状況の確認方法</span></a>
        </li>
        <li>
          <a href="#detail" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span><span>サービス内容詳細</span></a>
        </li>
        <li>
          <a href="#not-covered" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span><span>保証対象外理由</span></a>
        </li>
        <li>
          <a href="#attention" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span><span>注意事項</span></a>
        </li>
        <li>
          <a href="#inquire" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span><span>お問い合わせ</span></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="l-System_Container">
  <section id="flow" class="<%= namespace %>-Layout_Section">
    <h2 class="c-Heading_Lv2">ご利用の流れ</h2>
    <ol class="c-Flow u-Adjust_Mt-24">
      <li>
        <h3 class="c-Heading_Lv3">1. オプションサービスを申し込む</h3>
          <div class="u-Show_Sp">
            <img src="<%= sitepath %>assets/img/guide/replacement-warranty-sim/img-illustration01.png?220301" alt="">
          </div>
          <div class="c-Infobox_Standing-warning u-Adjust_Mt-16">
            <p class="<%= namespace %>-Txt_Attention">お申し込み前に、本サービスの対象製品か必ずご確認をお願いいたします。</p>
            <ul class="u-Adjust_Mt-16">
              <li><span class="c-Txt_Emp-01"><a href="<%= sitepath %>service/replacement-warranty-sim/price-list/" class="c-Link_Txt-inline">保証対象製品一覧<span class="c-Icon_Chevron-right"></span></a></span></li>
              <li class="u-Adjust_Mt-16 c-Txt_Cap c-Txt_Emp-02">※Xperia Ace（NTTドコモ）、HUAWEI P30 lite Premium（au）など一部のキャリア製品や製品購入場所により保証対象外となる場合があります。 </li>
              <li class="c-Txt_Cap c-Txt_Emp-02">※サービスお申し込み時に購入場所を誤って選択した場合、加入はできますが、保証対象外となりますのでご注意ください。</li>
            </ul>
          </div>
          <div class="l-Media_Grid u-Adjust_Mt-16">
          <div class="u-Show_Pc">
            <img src="<%= sitepath %>assets/img/guide/replacement-warranty-sim/img-illustration01.png?220301" alt="">
          </div>
          <div class="u-Adjust_Mt-8">
            <p>SIMのみでプランお申し込み時、もしくはすでにSIMのみでプランお申し込み済みの方は「<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile/">my 楽天モバイル</a>」から、オプションサービスの「持ち込みスマホあんしん保証」を選択し、お申し込みください。</p>
            <p class="u-Adjust_Mt-8">お申し込みの際、保証対象とする製品の選択を行っていただくと、715円～1,309円（税込）の範囲で月額利用料が確定いたします。</p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap">※すでにSIMをお申し込みされている方で、楽天回線の開通日から31日以上が経過されている場合は、本サービスへのお申し込みはできません。</p>
            <p class="c-Txt_Cap c-Txt_Emp-02">※月額利用料は、オプションのお申し込み当日より発生します。</p>
            <div class="u-Adjust_Mt-24">
              <a href="<%= sitepath %>guide/replacement-warranty-sim/application/" class="c-Btn_Regular"><span>申し込み方法の詳細を見る</span></a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">2. 保証対象とする製品を登録する</h3>
        <div class="l-Media_Grid u-Adjust_Mt-16">
          <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/replacement-warranty-sim/img-illustration02.png?220301" alt="">
          </div>
          <div>
            <p>オプションサービス申し込み後、「<a href="https://www.protection.device-service.mobile.rakuten.net/register/" target="_blank" rel="noopener" class="c-Link_Txt-inline-icon">製品登録サイト<span class="c-Icon_New-window-l"></span></a>」より、保証対象としたい製品のIMEI、色、画像を登録してください。</p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap">※保証対象製品が製品登録時にすでに故障・破損している場合は、本サービスを受けられませんのでご注意ください。</p>
            <p class="c-Txt_Cap">※製品の故障受付は、製品登録後30日経過してから利用できます。</p>
            <div class="u-Adjust_Mt-24">
              <a href="<%= sitepath %>guide/replacement-warranty-sim/device-resistration/" class="c-Btn_Regular"><span>製品登録方法の詳細を見る</span></a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">3. 製品の故障・破損時に、故障受付をする</h3>
        <div class="l-Media_Grid u-Adjust_Mt-16">
          <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/replacement-warranty-sim/img-illustration03.png?220301" alt="">
          </div>
          <div>
            <p>故障・破損発生日から30日以内に「<a href="https://www.protection.device-service.mobile.rakuten.net/rsim/" target="_blank" rel="noopener" class="c-Link_Txt-inline-icon">故障受付サイト<span class="c-Icon_New-window-l"></span></a>」より交換品の申し込みをしてください。</p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap">※ 故障受付ができる製品は製品登録したものになります。機種変更された場合は、速やかに登録情報の変更を行ってください。登録情報の変更を行った場合、変更・更新日を起算日として、30日間は故障受付の免責期間となり、故障受付は行えないのでご注意ください。</p>
            <div class="u-Adjust_Mt-24">
              <a href="<%= sitepath %>guide/replacement-warranty-sim/replacement-reception/" class="c-Btn_Regular"><span>故障受付方法の詳細を見る</span></a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">4. 交換品受領後、故障機を送付する</h3>
        <div class="l-Media_Grid u-Adjust_Mt-16">
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/guide/replacement-warranty-sim/img-illustration04.png?220301" alt="">
        </div>
          <div>
            <p>届いた交換品を確認し、受領後14日以内に同梱されている返送キットを使用し、故障機をお送りください。</p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap">※ 交換品に万が一不備がありましたら、受領後14日以内に「<a href="#inquire" class="js-scroll">持ち込みスマホあんしん保証サポートセンター</a>」へご連絡をお願いします。</p>
            <div class="c-Infobox_Standing-warning u-Adjust_Mt-24">
              <p class="<%= namespace %>-Txt_Attention"><span class="c-Txt_Emp-02">以下の場合、</span><a href="<%= sitepath %>terms/pdf/rakuten_mobile_replacement_warranty_sim.pdf?221122" class="c-Link_Txt-inline-icon">利用規約<span class="c-Icon_Pdf-l u-Adjust_Pl-16"></span></a><span class="c-Txt_Emp-02">に基づき違約金（Android：44,000円、iPhone：66,000円）が発生する可能性がありますので、ご注意ください。</span></p>
              <ul class="c-List_Text-disc u-Adjust_Mt-16">
                <li>交換品受領後14日以内に、故障機が送付されなかった場合。</li>
                <li>ご登録と異なる製品を送付された場合。</li>
                <li>その他、利用規約（第16条）に定める内容に違反する場合。</li>
                <li>iOS製品の「iPhoneを探す」が解除されていない場合。</li>
              </ul>
            </div>
            <div class="u-Adjust_Mt-24">
              <a href="<%= sitepath %>guide/replacement-warranty-sim/send/" class="c-Btn_Regular"><span>故障機の送付方法の詳細を見る</span></a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">5. 自己負担金（免責金額）を支払う</h3>
        <div class="l-Media_Grid-reverse u-Adjust_Mt-16">
          <div>
            <p>交換品を発送した月の翌月の月額料金と一緒に、自己負担金（免責金額）をご請求させていただきます。</p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap">※ 自己負担金（免責金額）は製品によって異なります。詳細は<a href="<%= sitepath %>service/replacement-warranty-sim/price-list/">サービス料金一覧</a>をご確認ください。</p>
          </div>
          <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/replacement-warranty-sim/img-illustration05.png?220301" alt="">
          </div>
        </div>
      </li>
    </ol>
    <h3 id="model-change" class="c-Heading_Lv3 u-Adjust_Mt-48">機種変更された場合の対応</h3>
    <p class="u-Adjust_Mt-16">機種変更された場合は、速やかに登録情報の変更を行ってください。<br>
      故障機と登録製品が異なる場合、保証が受けられませんのでご注意ください。</p>
    <p class="u-Adjust_Mt-16 c-Txt_Cap">※ 保証対象とする製品の情報変更・更新を行うと、変更・更新日を起算日として、30日経過以降に発生した事故より故障受付が可能となりますので、ご注意ください。</p>
    <div class="u-Adjust_Mt-24">
      <a href="<%= sitepath %>guide/replacement-warranty-sim/device-resistration/#change" class="c-Btn_Regular"><span>製品情報の変更方法の詳細を見る</span></a>
    </div>
  </section>

  <section id="join-status" class="u-Adjust_Mt-48">
    <h2 class="c-Heading_Lv2">加入状況の確認方法</h2>
    <p class="u-Adjust_Mt-16">持ち込みスマホあんしん保証の利用開始日・月額利用料は、my 楽天モバイルよりご確認いただけます。</p>
    <div class="u-Adjust_Mt-24">
      <a href="/guide/change-options/#except_option_service" class="c-Btn_Regular"><span>加入状況の確認方法を見る</span></a>
    </div>
  </section>

  <section id="detail" class="<%= namespace %>-Layout_Section">
    <h2 class="c-Heading_Lv2">サービス内容詳細</h2>
    <dl class="c-Dl_Origin u-Adjust_Mt-24">
      <div>
        <dt>交換サービスについて</dt>
        <dd>
          <ul class="c-List_Text-disc">
            <li>保証対象製品と同一機種（同一機種が在庫にない場合は、同等の楽天モバイルが指定する機種の中からご選択いただいた交換品）と交換いたします。楽天モバイルが指定する交換品は、予告なく変更される場合がございます。なお、楽天モバイルの裁量により、故障製品等の回収後に交換品を提供する場合もございます。</li>
            <li>microSIM対応製品をご利用の場合、nanoSIM対応製品へ交換いたします。 その際は、my 楽天モバイルでSIM交換手続きが必要となります。</li>
            <li>交換品として、メーカー・型番・色など、契約者のご希望に添えない場合もございますので、あらかじめご了承ください。</li>
            <li>交換品は、楽天モバイルの裁量でリファービッシュ品（返品機器、初期不良品等を修理調整し、性能および信頼性において新品と同等の品質と確認された機能整備済製品）を使用することができるものとします。この場合、プリインストールされたアプリケーション等が異なる場合がございますが、あらかじめご了承ください。</li>
            <li>本サービスが提供された場合、楽天モバイルに提出した故障製品等につきましては、所有権を放棄したものとし、楽天モバイルが管理または処分いたします。楽天モバイルに故障製品等を提出する際は、当該故障製品等に関するデータの消去を行ってください。</li>
            <li>楽天モバイルから交換品を受領した後、交換品に故障がないことを確認してください。交換品に故障が確認された場合、交換品受領後14日以内に楽天モバイルに連絡をお願いいたします。契約者からその連絡が楽天モバイルにない場合は、交換品に故障がないものとみなします。</li>
            <li>本サービスの提供は1契約につき、年間2回までとします。<br>
              故障受付時において、過去1年間にすでに本サービスを指定回数受けられている場合は、ご利用いただくことができません。</li>
          </ul>
        </dd>
      </div>
      <div>
        <dt>サービスのキャンセルについて</dt>
        <dd>
          <ul class="c-List_Text-disc">
            <li>交換品の入った梱包を開封した時点で、本サービスの利用請求を原則撤回できないものといたします。なお、撤回により、ご送付いただいた故障機を返送する際の費用は契約者負担とさせていただきます。</li>
          </ul>
        </dd>
      </div>
      <div>
        <dt>サービス提供後の対応について</dt>
        <dd>
          <ul class="c-List_Text-disc">
            <li>楽天モバイルの責めに帰すべき事由によらず、交換品の配送が完了しない場合（楽天モバイルが発送した日から14日以内に該当製品を契約者が受領しない場合）は、契約者に問い合わせの連絡を行います。</li>
          </ul>
        </dd>
      </div>
    </dl>
  </section>

  <section id="not-covered" class="<%= namespace %>-Layout_Section">
    <h2 class="c-Heading_Lv2">保証対象外理由</h2>
    <p class="u-Adjust_Mt-24">以下のような場合、本サービスの保証対象外とさせていただきます。</p>
    <ul class="c-List_Text-disc u-Adjust_Mt-16">
      <li>製品が盗難された、または紛失した場合</li>
      <li>契約者登録情報、保証申請書または資料に虚偽または不実の内容が含まれていた場合</li>
      <li>過去または現在において、楽天モバイルが提供するサービスを利用するにあたり当該サービスに係る規約、ガイドライン等に反する行為その他不正な行為を行っていた場合</li>
      <li>本サービスの利用料を支払っていない場合</li>
      <li>楽天モバイル所定の申請書および資料を所定の期間内に提出しないなど、事故等の状況の調査に協力しない場合</li>
      <li>交換品の送付先として日本国外の住所を指定した場合</li>
      <li>公序良俗、信義誠実の原則に反する行為があった場合</li>
      <li>不正請求の疑義があると判断した場合</li>
      <li>戦争・天変地異（地震、津波、洪水）等に基づき生じた場合またはそれらに起因する著しい社会秩序の混乱の際に生じた場合</li>
      <li>対象事故が、製品の価値、性能、数量その他保証対象製品の内容に関する錯誤等に起因する場合</li>
      <li>対象事故が、契約者または同居の親族等の故意または重過失に起因する場合</li>
      <li>対象事故の原因が製品の欠陥やさび、変色または虫食いなどである場合</li>
      <li>製品の機能に直接関係のない汚損、擦損、塗料の剥落その他外形上の損傷に起因する場合</li>
      <li>本サービスの利用の請求を受けた製品の識別番号が、契約番号に紐づくものと一致しない契約の場合</li>
      <li>対象事故が、昆虫等に起因する保証対象製品の故障や不具合の場合</li>
      <li>対象事故が、バッテリーの消耗が早い等、バッテリーおよび製品本体以外の付属品に関する場合</li>
      <li>対象事故が、水濡れまたは水没の事故のみで、その事故により製品の故障が発生していない場合</li>
      <li>対象事故が、製品の使用方法を誤ったことに起因する場合</li>
      <li>製品が改造されていた場合</li>
      <li>契約者が、楽天モバイルの製品または通信利用料金を、楽天モバイルとの契約に従って支払わない場合</li>
      <li>対象事故が契約者がチャージしていたすべての電子マネー等の消失の場合</li>
      <li>保証対象製品について、メーカー以外の業者および個人による分解等の形跡が認められる場合</li>
      <li>契約終了後（解約および解除を含む）30日以内に本サービス提供の請求がない場合、もしくは契約終了後に事故が発生した場合</li>
      <li>対象事故が、OSのアップデートおよび更新作業による不具合、アプリケーション等ソフトウェアの不具合、初期化に関する不具合、SIMの不具合の場合</li>
      <li>対象事故が、メーカーのリコールの対象となる特定の機器、モデルに合致する場合</li>
      <li>対象事故が、契約者の闘争行為または犯罪行為に起因する場合</li>
      <li>対象事故が、差押え、収容、没収、破壊等国または公権力の行使に起因する場合</li>
      <li>対象事故が、放射能汚染や核燃料物質に起因する場合</li>
      <li>対象事故の原因が、環境汚染（大気汚染、土壌汚染、地盤沈下、水質汚染等）が原因の場合</li>
      <li>契約者が、麻薬、大麻、あへん、覚醒剤またはシンナー等の影響を受けている場合およびその恐れがある状態で対象事故が発生した場合</li>
      <li>契約者に対する刑の執行の場合</li>
      <li>契約者が被った身体的な傷病、障害、精神的ショック、精神的苦痛または精神障害に起因して対象事故が発生した場合</li>
      <li>契約者が、民法（明治29年法律第89号）第713条（責任能力）に規定する責任無能力者、同法第８条（成年被後見人及び成年後見人）に規定する成年被後見人、 同法第12条（被保佐人及び保佐人）に規定する被保佐人または同法第16条（被補助人及び補助人）に規定する被補助人である場合</li>
      <li>契約者等が、反社会的勢力※に該当すると認められる場合</li>
    </ul>
    <p class="c-Txt_Cap u-Adjust_Mt-16">※ 暴力団、暴力団員（暴力団員ではなくなった日から5年を経過していない者を含みます）、暴力団準構成員、暴力団関係企業その他の反社会的勢力をいいます。</p>
  </section>

  <section id="attention" class="<%= namespace %>-Layout_Section">
    <h2 class="c-Heading_Lv2">注意事項</h2>
    <ul class="c-List_Text-disc u-Adjust_Mt-24">
      <li>月途中で加入または解約された場合、月額利用料が日割りとなります。</li>
      <li>本サービスは、1回線ごとに1契約のみ申し込み可能です。機種変更された場合は、速やかに保証対象とする製品の登録情報の変更を行ってください。変更されない場合、保証対象外になります。</li>
      <li>本サービスは回線に紐づく契約であり、電話番号の解約時に本サービスも自動解約されます。</li>
      <li>自己負担金（免責金額）は製品によって異なります。詳細は<a href="<%= sitepath %>service/replacement-warranty-sim/price-list/">サービス料金一覧</a>をご確認ください。</li>
      <li>保証対象製品が製品登録時にすでに故障・破損している場合は、本サービスを受けられませんのでご注意ください。</li>
    </ul>
  </section>

  <section id="inquire" class="<%= namespace %>-Layout_Section">
    <h2 class="c-Heading_Lv2">お問い合わせ</h2>
    <p class="u-Adjust_Mt-24">交換品の不備や、故障機の返送に関して問題が発生した場合は、以下までご連絡ください。</p>
    <div class="c-Theme-Light u-Adjust_Mt-24">
      <address class="<%= namespace %>-Txt_Address">
        <p class="c-Txt_Emp-01">持ち込みスマホあんしん保証サポートセンター</p>
        <p class="u-Adjust_Mt-16">電話番号：お申し込み後、楽天モバイルより送信する「持ち込みスマホあんしん保証」各種メールにてご確認ください。</p>
        <p class="u-Adjust_Mt-8">受付時間：9:00～20:00（年中無休）</p>
      </address>
    </div>
  </section>

  <div class="<%= namespace %>-Utility_Adjust-mt-64-80">
    <a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップにもどる</span></a>
  </div>
  <div class="u-Adjust_Mt-16">
    <a href="<%= sitepath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a>
  </div>
</div>
</section>


<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">
  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
