<% const pagetitle = "他社から電話番号そのままで乗り換え（MNP）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/application/mnp/", label:"他社からの乗り換え（MNP）"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '他社からの乗り換え（MNP）のお申し込み方法・MNP予約番号取得方法をご案内します。楽天モバイルへのりかえ後も現在お使いの電話番号をそのままお使いいただけます。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

    <div class="l-Media_Grid-reverse u-Adjust_Mt-40">
      <div>
        他社から楽天モバイルへお乗り換えする場合、MNP（携帯電話ナンバーポータビリティ）をご利用いただくことで、現在お使いの電話番号がそのままお使いいただけます。
      </div>
      <div class="l-Media_Image">
        <img src="<%= sitepath %>assets/img/guide/mnp-image-1-20230526.png" alt="">
      </div>
    </div>

    <div class="u-Adjust_Mt-64">
      <h2 class="c-Heading_Lv2">お手続きに必要なもの</h2>
      <ul class="c-List_Text-disc">
        <li class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/verify/?l-id=guide_mnp_guide_verify" class="c-Link_Txt-inline">本人確認書類</a></li>
        <li class="u-Adjust_Mt-16">MNP予約番号</li>
        <li class="u-Adjust_Mt-8 c-Txt_Cap c-Cpn_List-mark-1-nomark u-Adjust_Pl-32">※MNPワンストップでお手続きされる場合は不要です。</li>
        <li class="u-Adjust_Mt-16">楽天会員ユーザID・パスワード</li>
        <li class="u-Adjust_Mt-8 c-Txt_Cap c-Txt_Emp-02 c-Cpn_List-mark-1-nomark u-Adjust_Pl-32">※本人確認書類の情報と、楽天会員情報が一致している必要があります。</li>
        <li class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/payment/?l-id=guide_mnp_guide_payment" class="c-Link_Txt-inline">クレジットカード／銀行口座情報</a></li>
      </ul>
      <h2 class="u-Adjust_Mt-64 c-Heading_Lv2">乗り換え手続きについて</h2>
      <p class="u-Adjust_Mt-16">他社から電話番号を変えずにそのままお乗り換え（MNP）する際のお手続きには、以下2つの方法があります。</p>
      <p class="u-Adjust_Mt-16 guide-flow-inquiry-Main_Displayflex"><a href="#onestop" class="js-scroll c-Link_Txt-icon-front u-Adjust_Mr-16"><span class="c-Icon_Arrow-down-l"></span>MNPワンストップでのお手続き</a><a href="#reserve" class="js-scroll c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>MNP予約番号によるお手続き</a></p>
      <!-- <ul class="c-List_Text-disc u-Adjust_Mt-16">
        <li>
          <a href="#onestop" class="c-Link_Txt js-scroll">
            MNPワンストップでのお手続き（2023年5月24日より導入開始）
          </a>
          <p class="c-Txt_Cap u-Adjust_Mt-16">※楽天モバイルのお申し込みが完了し、ご利用中の携帯電話会社のID・パスワードがわからない場合は「<a href="<%= sitepath %>faq/detail/10000799/" class="c-Link_Txt">転入元のID/パスワードに関するよくあるご質問ページ</a>」をご確認ください。もし解決しない場合は、<a href="#howToSignUp" class="js-scroll">MNP予約番号を取得し</a>、<a href="#mnp-num-step3" class="js-scroll">電話番号の引き継ぎ（MNP）申請</a>をしてください。</p>
          <p class="c-Txt_Cap">※既に転入元で予約番号を発行された場合はワンストップ申請をご利用いただけません。</p>
        </li>
        <li class="u-Adjust_Mt-16">
          <a href="#reserve" class="c-Link_Txt js-scroll">
            MNP予約番号によるお手続き
          </a>
        </li>
      </ul> -->
      <div class="u-Adjust_Mt-32">
        <a href="<%= sitepath %>guide/mnp/fast-convert/?l-id=guide_mnp_guide_mnp_fast-convert" class="c-Banner_Hover-act">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-fast-convert-343-108-231201.png" width="686" height="216">
            <img src="<%= sitepath %>assets/img/bnr/bnr-fast-convert-1032-160-231201.png" width="2064" height="320" alt="電話番号そのまま！MNP予約番号なしで乗り換えできる！MNPワンストップ  Webでの申し込みがさらに簡単に。乗り換えるなら楽天モバイル">
          </picture>
        </a>
      </div>
      <div class="u-Adjust_Mt-64" id="carrier">
        <h2 class="c-Heading_Lv2 u-Adjust_Mt-40" id="onestop">MNPワンストップでのお手続き</h2>
        <p class="u-Adjust_Mt-16">対象の携帯電話会社からのお乗り換え（MNP）手続きにおいて、転出元でのMNP予約番号の発行は不要です。</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">MNP予約番号を既に取得済みの場合は、「<a href="#reserve" class="c-Link_Txt js-scroll">MNP予約番号によるお手続き</a>」をお願いいたします。</p>
        <div class="u-Adjust_Mt-16">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/mnp/img-mnp-onestop-sp.png" width="686" height="358">
            <img src="<%= sitepath %>assets/img/guide/mnp/img-mnp-onestop-pc.png" width="518" height="230" alt="電話番号を変えずに契約先を変更">
          </picture>
        </div>

        <h3 class="c-Heading_Lv3  u-Adjust_Mt-40" id="career">MNPワンストップ対象携帯電話会社（サービス）</h3>
        <p class="u-Adjust_Mt-16">次の対象携帯電話会社（サービス）からお乗り換えされる方は「MNPワンストップ」でのお手続き※、そのほかの携帯電話会社（サービス）からお乗り換えされる方はMNP予約番号によるお手続きが必要です。</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">
          ※ただしMNPワンストップ対象携帯電話会社（サービス）をご利用のお客様でも、既にMNP予約番号を取得済みの場合は、「<a href="#reserve" class="c-Link_Txt js-scroll">MNP予約番号によるお手続き</a>」をお願いいたします。
        </p>

        <div class="c-Accordion u-Adjust_Mt-16">
          <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1" data-ratid="guide_mnp_fast-convert_accordion" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
            MNPワンストップ対象 携帯電話会社（サービス）
          </button>
          <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
            <ul class="c-List_Text-disc u-Adjust_Ml-24">
              <li>NTTドコモ</li>
              <li>au</li>
              <li>ソフトバンク</li>
              <li>ahamo</li>
              <li>UQ mobile</li>
              <li>povo</li>
              <li>ワイモバイル</li>
              <li>LINEMO</li>
              <li>LINEモバイル</li>
              <li>ジャパネットたかた通信サービス</li>
              <li>日本通信SIM</li>
              <li>b-mobile</li>
              <li>mineo</li>
              <li>センターモバイル</li>
              <li>LPモバイル</li>
              <li>IIJmio</li>
            </ul>
          </div>
        </div>
        <p class="c-Txt_Cap u-Adjust_Mt-16">※ショップでのお申し込みは、ワンストップ対象の他社からの転入であっても、
          MNP予約番号を取得のうえ、ご来店ください。</p>
      </div>
    </div>
    <div class="u-Adjust_Mt-64">
      <h3 class="c-Heading_Lv3 u-Adjust_Mt-24">お申し込みの流れ</h3>
      <ol class="c-Flow">
        <li>
          <h4 class="c-Heading_Lv4">1. 楽天モバイルに申し込む</h4>
          <p class="u-Adjust_Mt-16">「楽天モバイルに申し込む」から契約者情報の登録などのお手続きをしてください。</p>
          <p class="u-Adjust_Mt-16">利用する電話番号を選択する画面が表示されたら、「他社から乗り換え（MNP）」を選択してお進みください。</p>
          <p class="u-Adjust_Mt-16">他社から乗り換え（MNP）の申し込みが完了すると、お申し込み完了メールが届きます。</p>
          <p class="c-Txt_Cap u-Adjust_Mt-16">※MNP予約番号の取得は不要です。</p>
          <p class="c-Txt_Emp-01 u-Adjust_Mt-32">注意事項（必ずご確認ください）</p>
          <p class="u-Adjust_Mt-16">現在契約中の名義と楽天モバイルでご契約いただく名義が同一である必要があります。</p>
          <p class="c-Txt_Emp-02 u-Adjust_Mt-16">名義が異なる場合は、現在の携帯電話会社で名義を変更した後に、楽天モバイルに申し込みください。</p>
          <p class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <a href="<%= sitepath %>guide/application/?lid-r=guide_mnp_one-stop_guide_application" class="c-Btn_Primary-large"><span>楽天モバイルに申し込む</span></a>
          </p>
          <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/mnp/img-mnp-flow04.png" width="301" height="606" alt="" class="c-Img_Capture" loading="lazy">
          </div>
        </li>
        <li id="mnp-onestop-step2">
          <h4 class="c-Heading_Lv4">2. 電話番号の引き継ぎ（MNP）申請をする</h4>
          <p class="u-Adjust_Mt-16">my 楽天モバイルの「申し込み履歴」へアクセスし、該当の申込番号内にある「電話番号の引継ぎ（MNP）申請をする」をタップしてください。</p>
          <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <a href="https://portal.mobile.rakuten.co.jp/dashboard#orders" class="c-Btn_Regular-large guide-Btn_Large-icon" target="_blank" data-ratid="guide_ecare_orders" data-ratevent="click">
              <span>「申し込み履歴」へアクセスする</span>
              <span class="c-Icon_New-window-l c-Btn_Icon-end"></span>
            </a>
          </p>
          <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/mnp/img-mnp-flow01.png" width="301" height="375" alt="" class="c-Img_Capture" loading="lazy">
          </div>
          <p class="u-Adjust_Mt-16">
            その後に現在ご利用中の携帯電話会社を選択いただくと、その携帯電話会社のWebサイトに移動します。<br>
            ご利用中の携帯電話会社のID・パスワードがわからない場合は「<a href="<%= sitepath %>faq/detail/10000799/" class="c-Link_Txt">転入元のID/パスワードに関するよくあるご質問ページ</a>」をご確認ください。<br>
            <br>
            もし解決しない場合は、<a href="#howToSignUp" class="js-scroll">MNP予約番号を取得</a>し、<a href="#mnp-num-step3" class="js-scroll">電話番号の引き継ぎ（MNP）申請</a>をしてください。
          </p>
          <p class="c-Txt_Cap u-Adjust_Mt-16">
            ※既に転入元でMNP予約番号を発行された場合はワンストップ申請をご利用いただけません。MNP予約番号を既に取得済みの場合は、「<a href="#reserve" class="js-scroll">MNP予約番号によるお手続き</a>」をご確認ください。
          </p>
        </li>
        <li>
          <h4 class="c-Heading_Lv4">3. MNP開通手続きを行う</h4>
          <p class="u-Adjust_Mt-16">MNPワンストップ申請が完了すると、「申し込み履歴」内に「MNP転入を開始する」ボタンが表示されます。</p>
          <p class="u-Adjust_Mt-16">注意事項をご確認のうえ、MNP転入手続きへお進みください。</p>
          <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <a href="https://portal.mobile.rakuten.co.jp/dashboard#orders" class="c-Btn_Regular-large guide-Btn_Large-icon" target="_blank" data-ratid="guide_ecare_orders_02" data-ratevent="click">
              <span>「申し込み履歴」へアクセスする</span>
              <span class="c-Icon_New-window-l c-Btn_Icon-end"></span>
            </a>
          </p>
          <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/mnp/img-mnp-flow02.png" width="301" height="409" alt="" class="c-Img_Capture" loading="lazy">
          </div>
          <p class="u-Adjust_Mt-16">MNP開通受付時間により、完了時間が異なります。</p>
          <div class="c-Table_Wrap u-Adjust_Mt-16">
            <table class="c-Table_Container">
              <thead>
                <tr>
                  <th scope="col" class="u-Adjust_Align-center">受付時間</th>
                  <th scope="col" class="u-Adjust_Align-center">MNP完了時間</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="u-Adjust_Align-center">9:00～21:00</td>
                  <td class="u-Adjust_Align-center">当日中</td>
                </tr>
                <tr>
                  <td class="u-Adjust_Align-center">21:01～翌8:59</td>
                  <td class="u-Adjust_Align-center">翌9:00以降</td>
                </tr>
              </tbody>
            </table>
          </div>
          <ul class="c-Txt_Cap u-Adjust_Mt-16">
            <li><span>※</span>製品の受け取り直後や21:00直前に申し込むと、当日の開通手続きに間に合わず翌日開通となる場合があります。</li>
          </ul>
          <p class="u-Adjust_Mt-16">
            <a href="<%= sitepath %>guide/mnp/flow/?l-id=guide_mnp_one-stop_guide_mnp_flow" class="c-Btn_Regular"><span>開通手続きの詳細を見る</span></a>
          </p>
        </li>
      </ol>
    </div>

    <div class="u-Adjust_Mt-32">
      <h2 class="c-Heading_Lv2" id="reserve">MNP予約番号によるお手続き</h2>
      <p class="u-Adjust_Mt-16">転入元でMNP予約番号を発行し、転入先にMNP予約番号を持ち込む方式です。</p>
      <p class="u-Adjust_Mt-16">他社から乗り換え（MNP）する際に、転入元と転入先の双方での手続きが必要となります。</p>
      <h3 class="c-Heading_Lv3 u-Adjust_Mt-24">お申し込みの流れ</h3>
      <ol class="c-Flow">
        <li>
          <h4 class="c-Heading_Lv4">1.現在ご契約中の携帯電話会社でMNP予約番号を取得する</h4>
          <div class="l-Media_Grid u-Adjust_Mt-24">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/mnp-image-2.png?211025" alt="">
            </div>
            <div>
              <p>各社のショップ、電話、Webサイトにて「MNP転出」の希望を伝え、取得してください。</p>
              <p class="u-Adjust_Mt-16"><a href="#howToSignUp" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>各社ごとの取得方法はこちら</a></p>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-32">注意事項（必ずご確認ください）</p>
              <ul class="c-Txt_Cap u-Adjust_Mt-16">
                <li><span>※</span>現在契約中の名義と楽天モバイルでご契約いただく名義が同一である必要があります。<span class="c-Txt_Emp-02">名義が異なる場合は、現在の携帯電話会社で名義を変更した後に、MNP予約番号を取得してください。</span></li>
                <li><span>※</span>お申し込みの際、<span class="c-Txt_Emp-02">MNP有効期限の入力も必要です。</span>MNP予約番号取得の際に忘れずにお控えください。</li>
               <li><span>※</span>Webページからお申し込みの場合は、<span class="c-Txt_Emp-02">MNP有効期間が「7日以上」残っているMNP予約番号が必要です。</span>店舗（楽天モバイルショップ）でお申し込みの場合は、MNP有効期間内であればお手続き可能です。</li>
              </ul>
            </div>
          </div>
        </li>
        <li id="mnp-num-step2">
          <h4 class="c-Heading_Lv3">2.楽天モバイルに申し込む</h4>
          <p class="u-Adjust_Mt-16">「楽天モバイルに申し込む」から契約者情報の登録などのお手続きをしてください。</p>
          <p class="u-Adjust_Mt-16">利用する電話番号を選択する画面が表示されたら、「他社から乗り換え（MNP）」を選択してお進みください。</p>
          <p class="u-Adjust_Mt-16">他社から乗り換え（MNP）の申し込みが完了すると、お申し込み完了メールが届きます。</p>
          <p class="c-Txt_Emp-01 u-Adjust_Mt-32">注意事項（必ずご確認ください）</p>
          <p class="u-Adjust_Mt-16">現在契約中の名義と楽天モバイルでご契約いただく名義が同一である必要があります。</p>
          <p class="c-Txt_Emp-02 u-Adjust_Mt-16">名義が異なる場合は、現在の携帯電話会社で名義を変更した後にMNP予約番号を取得し、楽天モバイルに申し込みください。</p>
          <p class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <a href="<%= sitepath %>guide/application/?lid-r=guide_mnp_one-stop_guide_application" class="c-Btn_Primary-large"><span>楽天モバイルに申し込む</span></a>
          </p>
          <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/mnp/img-mnp-flow04.png" width="301" height="606" alt="" class="c-Img_Capture" loading="lazy">
          </div>
        </li>
        <li id="mnp-num-step3">
          <h4 class="c-Heading_Lv4">3. 電話番号の引き継ぎ（MNP）申請をする</h4>
          <p class="u-Adjust_Mt-16">my 楽天モバイルの「申し込み履歴」へアクセスし、該当の申込番号内にある「電話番号の引継ぎ（MNP）申請をする」をタップしてください。</p>
          <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <a href="https://portal.mobile.rakuten.co.jp/dashboard#orders" class="c-Btn_Regular-large guide-Btn_Large-icon" data-ratid="guide_ecare_orders_03" data-ratevent="click">
              <span>「申し込み履歴」へアクセスする</span>
              <span class="c-Icon_New-window-l c-Btn_Icon-end"></span>
            </a>
          </p>
          <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/mnp/img-mnp-flow01.png" width="301" height="375" alt="" class="c-Img_Capture" loading="lazy">
          </div>
        </li>
        <li>
          <h4 class="c-Heading_Lv4">4. 「MNP予約番号を発行済みまたは上記以外の通信会社」を選択する</h4>
          <p class="u-Adjust_Mt-16">表示される注意事項をご確認のうえ、MNP予約番号情報を登録してください。</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap c-Txt_Emp-02">※MNP予約番号を既に取得済みの場合は、携帯電話会社（サービス）は選択しないでください。</p>
          <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/mnp/img-mnp-flow03-240311.png" width="300" height="606" alt="" class="c-Img_Capture" loading="lazy">
          </div>
        </li>
        <li>
          <h4 class="c-Heading_Lv4">5. MNP開通手続きを行う</h4>
          <p class="u-Adjust_Mt-16">電話番号の引き継ぎ（MNP）申請が完了すると、「申し込み履歴」内に「MNP転入を開始する」ボタンが表示されます。</p>
          <p class="u-Adjust_Mt-16">注意事項をご確認のうえ、MNP転入手続きへお進みください。</p>
          <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <a href="https://portal.mobile.rakuten.co.jp/dashboard#orders" class="c-Btn_Regular-large guide-Btn_Large-icon" target="_blank" data-ratid="guide_ecare_orders_04" data-ratevent="click">
              <span>「申し込み履歴」へアクセスする</span>
              <span class="c-Icon_New-window-l c-Btn_Icon-end"></span>
            </a>
          </p>
          <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/mnp/img-mnp-flow02.png" width="301" height="409" alt="" class="c-Img_Capture" loading="lazy">
          </div>
          <p class="u-Adjust_Mt-16">MNP開通受付時間により、完了時間が異なります。</p>
          <div class="c-Table_Wrap u-Adjust_Mt-16">
            <table class="c-Table_Container">
              <thead>
                <tr>
                  <th scope="col" class="u-Adjust_Align-center">受付時間</th>
                  <th scope="col" class="u-Adjust_Align-center">MNP完了時間</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="u-Adjust_Align-center">9:00～21:00</td>
                  <td class="u-Adjust_Align-center">当日中</td>
                </tr>
                <tr>
                  <td class="u-Adjust_Align-center">21:01～翌8:59</td>
                  <td class="u-Adjust_Align-center">翌9:00以降</td>
                </tr>
              </tbody>
            </table>
          </div>
          <ul class="c-Txt_Cap u-Adjust_Mt-16">
            <li><span>※</span>製品の受け取り直後や21:00直前に申し込むと、当日の開通手続きに間に合わず翌日開通となる場合があります。</li>
          </ul>
          <p class="u-Adjust_Mt-16">
            <a href="<%= sitepath %>guide/mnp/flow/?l-id=guide_mnp_guide_mnp_flow" class="c-Btn_Regular"><span>開通手続きの詳細を見る</span></a>
          </p>

        </li>
      </ol>
    </div>

    <h2 class="c-Heading_Lv3 u-Adjust_Mt-64" id="howToSignUp">MNP予約申し込み連絡先</h2>
    <div class="u-Adjust_Mt-16">
      <p>
        楽天モバイルお申し込み後、MNPワンストップのお手続きでご利用中の携帯電話会社のID・パスワードがわからない場合は、「<a href="<%= sitepath %>faq/detail/10000799/" class="c-Link_Txt">転入元のID/パスワードに関するよくあるご質問ページ</a>」をご確認ください。<br>
        <br>
        もし解決しない場合は以下に連絡し、MNP予約番号を取得してください。その後『MNP予約番号によるお手続き』の<a  href="#mnp-num-step3" class="js-scroll">3.電話番号の引き継ぎ（MNP）申請</a>に進んでください。
      </p>
      <div class="c-Accordion u-Adjust_Mt-24">
        <button id="accordion-7" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-7"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span>NTTドコモ</span></button>
        <div id="accordion-content-7" class="c-Accordion_Panel js-Accordion_Panel u-Adjust_Pl-0 u-Adjust_Pr-0" role="region" aria-labelledby="accordion-7" aria-hidden="true">
          <div class="u-Adjust_Pt-16">
            <h4 class="c-Heading_Lv4">携帯電話</h4>
            <dl class="c-Dl_Origin u-Adjust_Mt-16">
              <div>
                <dt>MNP予約番号受付窓口</dt>
                <dd><a href="tel:151" class="c-Link_Txt">151</a></dd>
              </div>
              <div>
                <dt>受付時間</dt>
                <dd>09:00~20:00</dd>
              </div>
            </dl>
            <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">一般電話</h4>
            <dl class="c-Dl_Origin u-Adjust_Mt-16">
              <div>
                <dt>MNP予約番号受付窓口</dt>
                <dd><a href="tel:0120-800-000" class="c-Link_Txt">0120-800-000</a></dd>
              </div>
              <div>
                <dt>受付時間</dt>
                <dd>09:00~20:00</dd>
              </div>
            </dl>
            <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">パソコン</h4>
            <dl class="c-Dl_Origin u-Adjust_Mt-16">
              <div>
                <dt>MNP予約番号受付窓口</dt>
                <dd>トップ→契約内容・手続き→ドコモオンライン手続き</dd>
              </div>
              <div>
                <dt>受付時間</dt>
                <dd>24時間対応</dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
      <div class="c-Accordion">
        <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span>au</span></button>
        <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel u-Adjust_Pl-0 u-Adjust_Pr-0" role="region" aria-labelledby="accordion-2" aria-hidden="true">
          <div class="u-Adjust_Pt-16">
            <h4 class="c-Heading_Lv4">携帯電話／一般電話</h4>
            <dl class="c-Dl_Origin u-Adjust_Mt-16">
              <div>
                <dt>MNP予約番号受付窓口</dt>
                <dd><a href="tel:0077-75470" class="c-Link_Txt">0077-75470</a></dd>
              </div>
              <div>
                <dt>受付時間</dt>
                <dd>09:00~20:00</dd>
              </div>
            </dl>
            <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">EZWeb</h4>
            <dl class="c-Dl_Origin u-Adjust_Mt-16">
              <div>
                <dt>MNP予約番号受付窓口</dt>
                <dd>トップより「auお客さまサポート」をご選択ください。その後「申し込む／変更する」をご選択ください。</dd>
              </div>
              <div>
                <dt>受付時間</dt>
                <dd>09:00~21:30</dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
      <div class="c-Accordion">
        <button id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span>ソフトバンク</span></button>
        <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel u-Adjust_Pl-0 u-Adjust_Pr-0" role="region" aria-labelledby="accordion-3" aria-hidden="true">
          <div class="u-Adjust_Pt-16">
            <h4 class="c-Heading_Lv4">携帯電話／一般電話</h4>
            <dl class="c-Dl_Origin u-Adjust_Mt-16">
              <div>
                <dt>MNP予約番号受付窓口</dt>
                <dd><a href="tel:0800-100-5533" class="c-Link_Txt">0800-100-5533</a></dd>
              </div>
              <div>
                <dt>受付時間</dt>
                <dd>09:00~20:00</dd>
              </div>
            </dl>
            <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">Yahoo!ケータイ</h4>
            <dl class="c-Dl_Origin u-Adjust_Mt-16">
              <div>
                <dt>MNP予約番号受付窓口</dt>
                <dd>トップより「My SoftBank」をご選択ください。その後「各種変更手続き」をご選択ください。</dd>
              </div>
              <div>
                <dt>受付時間</dt>
                <dd>09:00~21:30</dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
      <div class="c-Accordion">
        <button id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span>ワイモバイル</span></button>
        <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel u-Adjust_Pl-0 u-Adjust_Pr-0" role="region" aria-labelledby="accordion-4" aria-hidden="true">
          <div class="u-Adjust_Pt-16">
            <h4 class="c-Heading_Lv4">携帯電話／一般電話</h4>
            <dl class="c-Dl_Origin u-Adjust_Mt-16">
              <div>
                <dt>MNP予約番号受付窓口</dt>
                <dd><a href="tel:0570-039-151" class="c-Link_Txt">0570-039-151</a></dd>
              </div>
              <div>
                <dt>受付時間</dt>
                <dd>09:00~20:00</dd>
              </div>
            </dl>
            <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">パソコン</h4>
            <dl class="c-Dl_Origin u-Adjust_Mt-16">
              <div>
                <dt>MNP予約番号受付窓口</dt>
                <dd><a href="https://my.ymobile.jp/muc/d/top" target="_blank" class="c-Link_Txt-inline">My Y!mobile<span class="c-Icon_New-window-l"></span></a></dd>
              </div>
              <div>
                <dt>受付時間</dt>
                <dd>24時間 ※システムメンテナンス時間を除く</dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
      <div class="c-Accordion">
        <button id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span>UQモバイル</span></button>
        <div id="accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel u-Adjust_Pl-0 u-Adjust_Pr-0" role="region" aria-labelledby="accordion-5" aria-hidden="true">
          <div class="u-Adjust_Pt-16">
            <h4 class="c-Heading_Lv4">携帯電話／一般電話</h4>
            <dl class="c-Dl_Origin u-Adjust_Mt-16">
              <div>
                <dt>MNP予約番号受付窓口</dt>
                <dd><a href="tel:0120-929-818" class="c-Link_Txt">0120-929-818</a></dd>
              </div>
              <div>
                <dt>受付時間</dt>
                <dd>09:00~20:00</dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
      <div class="c-Accordion">
        <button id="accordion-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-6"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span>楽天モバイル（ドコモ回線・au回線）</span></button>
        <div id="accordion-content-6" class="c-Accordion_Panel js-Accordion_Panel u-Adjust_Pl-0 u-Adjust_Pr-0" role="region" aria-labelledby="accordion-6" aria-hidden="true">

          <h3 class="c-Heading_Lv3 u-Adjust_Pt-16">通話SIMをご利用中のお客様</h3>
          <h4 class="c-Heading_Lv4 u-Adjust_Mt-16">Webでのプラン変更（移行）手続き</h4>
          <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-02">MNP予約番号は取得不要です。</span>メンバーズステーション（会員ページ）からプラン変更（移行）手続きにお進みください。</p>

          <ul class="c-Txt_Cap u-Adjust_Mt-16">
            <li><span>※</span>契約解除料、MNP転出手数料は発生いたしません。</li>
            <li><span>※</span>楽天回線への移行に伴い、ドコモ回線／au回線のプラン料金と楽天回線のプラン料金が重複する可能性があります。その場合は、楽天回線のほうでRakuten UN-LIMITのプラン料金と引き継いだオプションサービスの月額利用料のご請求を取り消します。</li>
            <li><span>※</span>最低利用期間が残っているお客様が、ご自身でMNP予約番号を発行し、楽天モバイル（楽天回線）への乗り換え（MNP）手続きを行った場合、契約解除料が発生しますので、ご注意ください。</li>
          </ul>

          <ul class="u-Adjust_Mt-16">
            <li><p><a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&mno_migration=1" class="c-Link_Txt-inline">メンバーズステーションで手続きをする<span class="c-Icon_Chevron-right"></span></a></p></li>
            <li class="u-Adjust_Mt-8"><p><a href="<%= sitepath %>guide/mnp/migration/" class="c-Link_Txt-inline">プラン変更（移行）手続き手順を確認する	<span class="c-Icon_Chevron-right"></span></a></p></li>
          </ul>

          <h4 class="c-Heading_Lv4 u-Adjust_Mt-40">ショップでのプラン変更（移行）手続き</h4>
          <p class="u-Adjust_Mt-16">一部の対象ショップではQRコードをご持参いただくだけで、MNPの予約番号発行不要でかんたんにプラン変更（移行）ができます。まずは、QRコード対応の楽天モバイルショップ（店舗）をご確認ください。</p>

          <div class="u-Adjust_Mt-24">
            <a href="<%= sitepath %>shop/migration-qr-shop/" class="c-Btn_Regular-large"><span>QRコード対応の楽天モバイルショップを確認する</span></a>
          </div>

          <p class="u-Adjust_Mt-24"><a href="#anc_01" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>QRコード対応ショップでプラン変更（移行）する</a></p>
          <p class="u-Adjust_Mt-16"><a href="#anc_02" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>QRコード未対応のショップでプラン変更（移行）する</a></p>


          <div class="c-Theme-Light u-Adjust_Mt-40">
            <h4 id="anc_01" class="c-Heading_Lv4">QRコード対応ショップでプラン変更（移行）する</h4>
            <div class="l-Media_Grid u-Adjust_Mt-24">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/guide/mnp/img-shop-01.png?211025" alt="">
              </div>
              <div>
                <p>メンバーズステーショントップページからプラン変更（移行）手続き画面に進みます。</p>
                <div class="u-Adjust_Mt-32">
                  <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=guide_migration7_ms&mno_migration=1" class="c-Btn_Primary"><span>メンバーズステーションに進む</span></a>
                </div>
                <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>flow/mvno-user-registration/?l-id=guide_migration_flow_mvno-user-registration" class="c-Link_Txt-inline">利用者登録でご利用中の方のプラン変更（移行）方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
              </div>
            </div>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center c-Txt_Normal-ll">
              <span class="c-Icon_Arrow-down-l"></span>
            </div>
            <div class="l-Media_Grid u-Adjust_Mt-24">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/guide/mnp/img-shop-02.png?211025" alt="">
              </div>
              <div>
                <p>「楽天回線へのプラン変更（移行）」画面の内容をご確認いただき、ページ中段の<span class="c-Txt_Emp-02">「楽天モバイルショップ（店舗）で楽天回線へプラン変更（移行）する」からQRコードを発行の上、お早めにショップにご来店ください。</span></p>
              </div>
            </div>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center c-Txt_Normal-ll">
              <span class="c-Icon_Arrow-down-l"></span>
            </div>
            <div class="l-Media_Grid u-Adjust_Mt-24">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/guide/mnp/img-shop-03.png?211025" alt="">
              </div>
              <div>
                <p><span class="c-Txt_Emp-02">ご来店の際は以下を必ずご持参ください</span></p>
                <p class="u-Adjust_Mt-8">Rakuten UN-LIMIT VIIへのプラン変更（移行）でご来店された旨をR CREW（店舗スタッフ）にお伝えの上、お手続きください。</p>
                <p class="c-Txt_Cap c-Txt_Emp-02">
                  ※QRコードを発行する場合、MNP予約番号は不要です
                </p>
                <ul class="c-List_Text-disc u-Adjust_Mt-24">
                  <li>上記で発行したQRコード</li>
                  <li>本人確認書類</li>
                  <li>現在のご契約で利用している、楽天会員ユーザID、パスワード</li>
                  <li>ご利用中のスマートフォン</li>
                </ul>
                <p class="c-Txt_Cap">
                  ※店頭でSIMカードを差し替えます。
                </p>
                <div class="guide-Flow_Twin-mini-wrap">
                  <div class="u-Adjust_Mt-24">
                    <a href="<%= sitepath %>shop/migration-qr-shop/" class="c-Btn_Regular guide-migration-Flow_Twin-mini-btn"><span>ショップを予約する</span></a>
                  </div>
                  <div class="u-Adjust_Mt-24">
                    <a href="<%= sitepath %>shop/guide/" class="c-Btn_Regular guide-migration-Flow_Twin-mini-btn"><span>ご来店の前に</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="c-Theme-Light u-Adjust_Mt-32">
            <h4 id="anc_02" class="c-Heading_Lv4">QRコード未対応のショップでプラン変更（移行）する</h4>

            <h4 class="c-Heading_Lv5 u-Adjust_Mt-24">パソコン／携帯電話／タブレット</h4>

            <dl class="c-Dl_Origin u-Adjust_Mt-16 guide-Flow_Dl">
              <div>
                <dt>MNP予約番号受付窓口</dt>
                <dd>メンバーズステーションにログイン後、「MNP予約番号発行・確認」→「MNP転出予約番号の発行をする」を選択ください。</dd>
              </div>
              <div>
                <dt>受付時間</dt>
                <dd>24時間 ※システムメンテナンス時間を除く</dd>
              </div>
            </dl>


            <div class="l-Media_Grid u-Adjust_Mt-64">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/guide/mnp/img-shop-04.png?211028" alt="">
              </div>
              <div>
                <p>メンバーズステーショントップページの「MNP予約番号発行・確認」をタップし、MNP予約番号を発行してください。MNP予約番号発行手数料は発生しません。</p>
                <div class="u-Adjust_Mt-32">
                  <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=guide_migration7_ms&mno_migration=1" class="c-Btn_Primary"><span>メンバーズステーションに進む</span></a>
                </div>
                <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>flow/mvno-user-registration/?l-id=guide_migration_flow_mvno-user-registration" class="c-Link_Txt-inline">利用者登録でご利用中の方のプラン変更（移行）方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
              </div>
            </div>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center c-Txt_Normal-ll">
              <span class="c-Icon_Arrow-down-l"></span>
            </div>
            <div class="l-Media_Grid u-Adjust_Mt-24">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/guide/mnp/img-shop-05.png?211025" alt="">
              </div>
              <div>
                <p><span class="c-Txt_Emp-02">ご来店の際は以下を必ずご持参ください</span></p>
                <p class="u-Adjust_Mt-8">Rakuten UN-LIMIT VIIへのプラン変更（移行）でご来店された旨をR CREW（店舗スタッフ）にお伝えの上、お手続きください。</p>
                <ul class="c-List_Text-disc u-Adjust_Mt-24">
                  <li>上記で発行したMNP予約番号</li>
                  <li>本人確認書類</li>
                  <li>現在のご契約で利用している、楽天会員ユーザID、パスワード<br>
                    <a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Link_Txt-inline">楽天会員情報を確認・変更する<span class="c-Icon_New-window-l u-Adjust_Pl-16"></span></a></li>
                  <li>ご利用中のスマートフォン</li>
                </ul>
                <p class="c-Txt_Cap u-Adjust_Mt-8">
                  ※店頭でSIMカードを差し替えます。
                </p>
                <div class="guide-Flow_Twin-mini-wrap">
                  <div class="u-Adjust_Mt-24">
                    <a href="<%= sitepath %>shop/" class="c-Btn_Regular guide-migration-Flow_Twin-mini-btn"><span>お近くのショップを探す</span></a>
                  </div>
                  <div class="u-Adjust_Mt-24">
                    <a href="<%= sitepath %>shop/guide/" class="c-Btn_Regular guide-migration-Flow_Twin-mini-btn"><span>ご来店の前に</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="u-Adjust_Pt-16">
            <h4 class="c-Heading_Lv5">パソコン／携帯電話／タブレット</h4>
            <dl class="c-Dl_Origin u-Adjust_Mt-16">
              <div>
                <dt>MNP予約番号受付窓口</dt>
                <dd><a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&mno_migration=1">メンバーズステーション</a>にログイン後、「MNP予約番号発行・確認」→「MNP転出予約番号の発行をする」を選択ください。</dd>
              </div>
              <div>
                <dt>受付時間</dt>
                <dd>24時間 ※システムメンテナンス時間を除く</dd>
              </div>
            </dl>
          </div>
          <p class="u-Adjust_Mt-32">2. R-CREW（ショップスタッフ）に、楽天回線へのプラン変更ご希望の旨と、MNP予約番号をお伝えください。</p>

          <ul class="c-Txt_Cap u-Adjust_Mt-32">
            <li><span>※</span>契約解除料、MNP転出手数料は発生いたしません。</li>
            <li><span>※</span>楽天回線への移行に伴い、ドコモ回線／au回線のプラン料金と楽天回線のプラン料金が重複する可能性があります。その場合は、Rakuten UN-LIMITのプラン料金と引き継いだオプションサービスの月額利用料いずれもご請求が発生します。</li>
          </ul>

          <ul class="u-Adjust_Mt-16">
            <li><p><a href="<%= sitepath %>shop/" class="c-Link_Txt-icon">お近くのショップを探す<span class="c-Icon_Chevron-right"></span></a></p></li>
          </ul> -->

          <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">データSIMをご利用中のお客様</h3>
          <p class="u-Adjust_Mt-16">ご解約の上、新規で楽天モバイル（楽天回線）をお申し込みください。</p>

          <ul class="u-Adjust_Mt-16">
            <li><p><a href="<%= sitepath %>" class="c-Link_Txt-inline">楽天モバイル（楽天回線）に新規申込する<span class="c-Icon_Chevron-right"></span></a></p></li>
          </ul>

          <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">楽天モバイル（旧FREETEL）通話SIMをご利用中のお客様</h3>

          <ul class="u-Adjust_Mt-16">
            <li><p><a href="https://mobile.rakuten.co.jp/support/brand_integration/ft/" class="c-Link_Txt-inline" target="_blank">詳細を見る<span class="c-Icon_New-window-l"></span></a></p></li>
          </ul>

          <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">DMMモバイル通話SIMをご利用中のお客様</h3>

          <ul class="u-Adjust_Mt-16">
            <li><p><a href="https://mobile.rakuten.co.jp/news/service_20200316/" class="c-Link_Txt-inline" target="_blank">詳細を見る<span class="c-Icon_New-window-l"></span></a></p></li>
          </ul>
        </div>
      </div>


    </div>

    <%- include('/include/guide/_faq') %>

    <div class="u-Adjust_Pt-40 u-Adjust_Pb-56">
      <div><a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップにもどる</span></a></div>
      <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a></div>
    </div>

    <%- include('/include/_related-media.ejs', { articles: [
      {
        title: "SIMフリーとは？メリットやデメリットなどを詳しく解説",
        link: "https://network.mobile.rakuten.co.jp/sumakatsu/contents/articles/2020/00001/?l-id=guide_mnp_media_00001"
      },
      {
        title: "SIMロック解除とは？メリットや注意点などを詳しく解説",
        link: "https://network.mobile.rakuten.co.jp/sumakatsu/contents/articles/2020/00003/?l-id=guide_mnp_media_00003"
      },
      {
        title: "携帯電話会社を乗り換える方法とは？手順を解説",
        link: "https://network.mobile.rakuten.co.jp/sumakatsu/contents/articles/2020/00005/?l-id=guide_mnp_media_00005"
      },
      {
        title: "MNP（携帯電話番号ポータビリティ）予約番号とは？ 事前に知っておきたい知識と取得のために必要な手続き",
        link: "https://network.mobile.rakuten.co.jp/sumakatsu/contents/articles/2020/00006/?l-id=guide_mnp_media_00006"
      },
      {
        title: "SIMカードの入れ替え方法について解説！ 事前に必要な準備や注意点とは？",
        link: "https://network.mobile.rakuten.co.jp/sumakatsu/contents/articles/2020/00011/?l-id=guide_mnp_media_00011"
      }
    ] }) %>

  </div>
</div>




<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>
  </div>

  <div class="l-System_Container">
  <div class="c-Breadcrumbs_Foot">
    <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
  </div>
</div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>



</body>
</html>
