<% const pagetitle = "Rakuten Casaのインターネット接続テスト" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"guide/rakuten-casa/", label:"Rakuten Casaアプリのご利用方法"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Rakuten Casa（楽天カーサ）のインターネットの速度を確認する方法をご案内します。',
    noindex: false,
    pathname: filepath
  });
%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/guide.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
    <p class="u-Adjust_Mt-32">Rakuten Casaアプリをダウンロード後、アプリを起動し以下の手順に沿って操作を行ってください。</p>

    <ol class="c-Flow u-Adjust_Mt-32">
      <li>
        <h2 class="c-Heading_Lv3">1. ホーム画面から「インターネット速度テスト」をタップする</h2>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/rakuten-casa/speedtest/img-step01.png" class="c-Img_Capture" alt="">
          </div>
        </div>

        <div class="l-Media_Image u-Adjust_Mt-24">
          <div class="<%= nameSpace %>-Img_Capture">
            <p class="c-Txt_Cap u-Adjust_Align-left">※ Rakuten Casa（初代）をご利用の場合は、以下の画像が表示されます。</p>
            <img src="<%= sitepath %>assets/img/guide/rakuten-casa/reboot/img-casa.png" alt="" class="u-Adjust_Mt-16">
          </div>
        </div>
      </li>
      <li>
        <h2 class="c-Heading_Lv3">2. テスト開始までしばらく待機する</h2>
        <p class="u-Adjust_Mt-16">下記画面が表示されましたら、テスト開始までそのまましばらくお待ちください。</p>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/rakuten-casa/speedtest/img-step02.png" class="c-Img_Capture" alt="">
          </div>
        </div>
      </li>
      <li>
        <h2 class="c-Heading_Lv3">3. ネットワークテスト</h2>
        <p class="u-Adjust_Mt-16">
          ダウンロードとアップロードのインターネット速度テストが始まります。しばらくお待ちください。<br>
          途中で中断したい場合は左上の「×」をタップしてください。
        </p>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/rakuten-casa/speedtest/img-step03.png" class="c-Img_Capture" alt="">
          </div>
        </div>
      </li>
      <li>
        <h2 class="c-Heading_Lv3">4.テスト結果</h2>

        <p class="u-Adjust_Mt-16">ネットワークのテスト結果が表示されます。</p>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/rakuten-casa/speedtest/img-step04.png" class="c-Img_Capture" alt="">
          </div>
        </div>
      </li>
    </ol>
  </div>
</div>

<%- include('/include/guide/_review') %>
<%- include('/include/guide/_inquiry') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">
    <%- include('/include/footer/bnr/_bnr.ejs') %>
  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
