<% const pagetitle = "ご来店の前に" -%>
<% const directories = [{path:"shop/", label:"ショップ"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '本人確認書類、MNP予約番号など、楽天モバイルショップ（店舗）ご来店前にご確認・ご準備・ご持参いただきたいものをご案内します',
    keywords: '',
    noindex: false,
    pathname: filepath,
  });
%>
<% const parentTiltle = "ショップ" -%>
<% const nameSpace = "shop" -%>

<%- include('/include/_common-css-v2') %>
<%- include('/include/shop/_category-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/shop/guide/guide.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <li><a href="<%= sitepath %>shop/">楽天モバイルショップ</a><span class="c-Icon_Chevron-right"></span></li>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="l-System_Container">
  <h1 class="c-Heading_Lv1 u-Adjust_Mt-32"><%= pagetitle %></h1>

  <div class="u-Adjust_Mt-24">
    <p class="u-Adjust_Align-right">
      <a href="<%= sitepath %>shop/guide/en/?l-id=shop_guide_shop_guide_en" class="c-Link_Txt-inline">English<span class="c-Icon_Chevron-right"></span></a>
    </p>
  </div>


  <p class="u-Adjust_Mt-24">以下を必ずご確認、ご準備の上ご来店ください。</p>
  <ul class="guide-link-List u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
    <li class="guide-link-List_Item"><a href="#shopGuide02" class="guide-Link c-Link_Txt js-scroll" data-ratid="shop_shop-support_belongings" data-ratevent="click" data-ratparam="all"><span class="guide-Link_Icon c-Icon_Arrow-down-l"></span>ご来店時に必要なもの </a></li>
    <li class="guide-link-List_Item"><a href="#shopGuide03" class="guide-Link c-Link_Txt js-scroll" data-ratid="shop_shop-support_minors" data-ratevent="click" data-ratparam="all"><span class="guide-Link_Icon c-Icon_Arrow-down-l"></span>未成年のお客様のご利用について </a></li>
    <li class="guide-link-List_Item"><a href="#shopGuide04" class="guide-Link c-Link_Txt js-scroll" data-ratid="shop_shop-support_reservation" data-ratevent="click" data-ratparam="all"><span class="guide-Link_Icon c-Icon_Arrow-down-l"></span>来店予約について </a></li>
  </ul>
</div>

<section class="guide-Step_Wrapper">
  <div class="l-System_Container" id="step1">
    <h2 class="c-Heading_Lv2" id="shopGuide02">ご来店時に必要なもの</h2>
    <ul class="guide-Step_List">
      <li class="guide-Step_Item js-step-item" id="step1-link-other" aria-selected="true" aria-controls="step-content-other">
        <a href="#step-contents" class="guide-Step_Link js-scroll">
          <p class="guide-Step_Link-head">お使いの<br class="u-Show_Oox">電話番号そのまま</p>
          <p class="guide-Step_Link-title">他社から<br class="u-Show_Oox">お乗り換え</p>
          <div class="guide-Step_Img u-Adjust_Mt-8 u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/shop/guide/step01.png" width="150" height="94" alt="">
          </div>
        </a>
      </li>
      <li class="guide-Step_Item js-step-item" id="step1-link-new" aria-selected="false" aria-controls="step-content-new">
        <a href="#step-contents" class="guide-Step_Link js-scroll">
          <p class="guide-Step_Link-head">新しい電話番号で契約</p>
          <p class="guide-Step_Link-title">新規<br class="u-Show_Oox">お申し込み</p>
          <div class="guide-Step_Img u-Adjust_Mt-8 u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/shop/guide/step02.png" width="150" height="94" alt="">
          </div>
        </a>
      </li>
      <li class="guide-Step_Item js-step-item" id="step1-link-change" aria-selected="false" aria-controls="step-content-change">
        <a href="#step-contents" class="guide-Step_Link js-scroll">
          <p class="guide-Step_Link-head">スマホのみ購入</p>
          <p class="guide-Step_Link-title">機種変更</p>
          <div class="guide-Step_Img u-Adjust_Mt-8 u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/shop/guide/step03.png" width="150" height="94" alt="">
          </div>
        </a>
      </li>
      <li class="guide-Step_Item js-step-item" id="step1-link-rakuten" aria-selected="false" aria-controls="step-content-rakuten">
        <a href="#step-contents" class="guide-Step_Link js-scroll">
          <p class="guide-Step_Link-head">旧プランからの<br class="u-Show_Oox">プラン変更</p>
          <p class="guide-Step_Link-title direction-column u-Show_Oox">楽天モバイル<span>（ドコモ回線・au回線）</span>からの移行</p>
          <p class="guide-Step_Link-title-lines u-Show_Xxo">楽天モバイルからの移行<span>（ドコモ回線・au回線）</span></p>
          <div class="guide-Step_Img u-Adjust_Mt-8 u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/shop/guide/step04.png" width="150" height="82" alt="">
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="guide-Step_Content-wrapper" id="step-contents">
    <div class="l-System_Container">
      <div id="step-content-other" class="guide-Step_Content" aria-expanded="true" labelledby="step1-link-other">
          <h3 class="c-Heading_Lv3 u-Align_Llc">他社からお乗り換え（MNP）に必要なもの</h3>
          <ul class="guide-Step_List-accordion">
            <li class="c-Accordion-emp guide-Step_Item-accordion">
              <button type="button" id="accordion-other01" class="c-Accordion-emp_Trigger guide-Step_Accordion-button js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-other01">
                <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow guide-Step_Accordion-arrow"></span>
                本人確認書類
              </button>
              <div id="accordion-content-other01" class="c-Accordion-emp_Panel-normal guide-Step_Accordion-content js-Accordion_Panel" role="region" aria-labelledby="accordion-other01" aria-hidden="false">
                <div class="guide-Step_Item-flex">
                  <div class="guide-Step_Item-flex-left">
                    <img src="<%= sitepath %>assets/img/shop/guide/step05.png" width="125" height="78" alt="">
                  </div>
                  <div class="guide-Step_Item-flex-right">
                    <p class="c-Txt_Emp-01">運転免許証、マイナンバーカードなど</p>
                    <p class="guide-Step_Item-annotation">※外国籍のお客様は必要な本人確認書類が異なります。下記より詳細をご確認ください。</p>
                    <div class="u-Align_Ccl u-Adjust_Mt-16">
                      <a href="<%= sitepath %>guide/verify/?l-id=shop-support_guide_verify" class="c-Btn_Regular">利用できる本人確認書類を確認する</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="c-Accordion-emp guide-Step_Item-accordion">
              <button id="accordion-other02" class="c-Accordion-emp_Trigger guide-Step_Accordion-button js-default-close js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-other02">
                <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow guide-Step_Accordion-arrow"></span>
                MNP予約番号
              </button>
              <div id="accordion-content-other02" class="c-Accordion-emp_Panel-normal guide-Step_Accordion-content js-default-close js-Accordion_Panel" role="region" aria-labelledby="accordion-other02" aria-hidden="true">
                <div class="guide-Step_Item-flex">
                  <div class="guide-Step_Item-flex-left">
                    <img src="<%= sitepath %>assets/img/shop/guide/step09.png" width="105" height="120" alt="">
                  </div>
                  <div class="guide-Step_Item-flex-right">
                    <p>ショップでお申し込みの場合、お申し込み前に<span class="guide-Utility_Emp-bg">ご利用中の会社でMNP予約番号の取得</span>が必要です。</p>
                    <div class="u-Align_Ccl u-Adjust_Mt-16">
                      <a href="<%= sitepath %>guide/mnp/?l-id=shop-support_guide_mnp#howToSignUp" class="c-Btn_Regular">MNP予約番号取得方法を確認する</a>
                    </div>
                    <p class="guide-Step_Item-annotation u-Adjust_Mt-16"><span class="c-Txt_Emp-02">※MNPワンストップ対応の携帯電話会社からオンラインでお乗り換えの場合、MNP予約番号なしでお手続きいただけます。</span><a href="<%= sitepath %>guide/mnp/fast-convert/?l-id=shop-support_guide_mnp_fast-convert" class="c-Link_Txt">詳細はこちら</a></p>
                  </div>
                </div>
              </div>
            </li>
            <li class="c-Accordion-emp guide-Step_Item-accordion">
              <button id="accordion-other03" class="c-Accordion-emp_Trigger guide-Step_Accordion-button js-default-close js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-other03">
                <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow guide-Step_Accordion-arrow"></span>
                楽天会員ユーザID・パスワード
              </button>
              <div id="accordion-content-other03" class="c-Accordion-emp_Panel-normal guide-Step_Accordion-content js-default-close js-Accordion_Panel" role="region" aria-labelledby="accordion-other03" aria-hidden="true">
                <div class="guide-Step_Item-flex">
                  <div class="guide-Step_Item-flex-left">
                    <img src="<%= sitepath %>assets/img/shop/guide/step06.png" width="125" height="68" alt="">
                  </div>
                  <div class="guide-Step_Item-flex-right">
                    <div class="guide-Step_Flex">
                      <div>
                        <p class="guide-Step_Flex-text c-Txt_Emp-01">楽天会員でないお客様</p>
                        <p class="u-Adjust_Mt-8 u-Adjust_Mt-pc-16">楽天IDをお持ちでないお客様は、楽天会員に登録（無料）をお願いします。</p>
                        <div class="u-Align_Ccl u-Adjust_Mt-16">
                          <a href="https://www.rakuten.co.jp/myrakuten/help/" class="guide-Step_Button-small guide-Step_Button-blank c-Btn_Regular" target="_blank" rel="noopener">楽天会員に登録する<span class="c-Icon_New-window-l"></span></a>
                        </div>
                      </div>
                      <div>
                        <p class="guide-Step_Flex-text c-Txt_Emp-01">楽天会員のお客様</p>
                        <p class="u-Adjust_Mt-8 u-Adjust_Mt-pc-16">登録情報が最新の情報でお申し込み内容と一致しているか、ご確認ください。</p>
                        <div class="u-Align_Ccl u-Adjust_Mt-16">
                          <a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="guide-Step_Button-small guide-Step_Button-blank c-Btn_Regular" target="_blank" rel="noopener">楽天会員情報を確認・変更する<span class="c-Icon_New-window-l"></span></a>
                        </div>
                      </div>
                    </div>
                    <p class="guide-Step_Item-annotation u-Adjust_Mt-16"><span class="c-Txt_Emp-02">※店頭でのお申し込み時に使用します。お申し込みご本人の会員情報が必要です。</span></p>
                  </div>
                </div>
              </div>
            </li>
            <li class="c-Accordion-emp guide-Step_Item-accordion">
              <button id="accordion-other04" class="c-Accordion-emp_Trigger guide-Step_Accordion-button js-default-close js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-other04">
                <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow guide-Step_Accordion-arrow"></span>
                クレジットカード／銀行口座情報
              </button>
              <div id="accordion-content-other04" class="c-Accordion-emp_Panel-normal guide-Step_Accordion-content js-default-close js-Accordion_Panel" role="region" aria-labelledby="accordion-other04" aria-hidden="true">
                <div class="guide-Step_Item-flex">
                  <div class="guide-Step_Item-flex-left">
                    <img src="<%= sitepath %>assets/img/shop/guide/step07.png" width="125" height="78" alt="">
                  </div>
                  <div class="guide-Step_Item-flex-right">
                    <p>毎月のお支払い方法に設定いただくクレジットカード、もしくは口座振替用の銀行口座情報</p>
                    <p class="guide-Step_Item-annotation u-Adjust_Mt-8"><span class="c-Txt_Emp-02">※一部の家電量販店に併設されている楽天モバイルコーナーでは、製品ご購入時に分割手数料無料の楽天カード24回、48回払い（楽天モバイル買い替え超トクプログラムを含む）をご利用いただけません。</span></p>
                    <p class="guide-Step_Item-annotation u-Adjust_Mt-16">※ご契約者名義と異なるクレジットカードや銀行口座をお使いになる場合、名義人と同伴でご来店ください。</p>
                    <div class="u-Align_Ccl u-Adjust_Mt-16">
                      <a href="<%= sitepath %>guide/payment/?l-id=shop-support_guide_payment" class="guide-Step_Button c-Btn_Regular">お支払い方法を確認する</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="c-Accordion-emp guide-Step_Item-accordion">
              <button id="accordion-other05" class="c-Accordion-emp_Trigger guide-Step_Accordion-button js-default-close js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-other05">
                <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow guide-Step_Accordion-arrow"></span>
                楽天回線に対応するスマホ／製品
                <span class="guide-Step_Accordion-annotation-pink">※お申し込みと一緒にスマホを購入される方は不要</span>
              </button>
              <div id="accordion-content-other05" class="c-Accordion-emp_Panel-normal guide-Step_Accordion-content js-default-close js-Accordion_Panel" role="region" aria-labelledby="accordion-other05" aria-hidden="true">
                <div class="guide-Step_Item-flex">
                  <div class="guide-Step_Item-flex-left">
                    <img src="<%= sitepath %>assets/img/shop/guide/step08.png" width="56" height="100" alt="">
                  </div>
                  <div class="guide-Step_Item-flex-right">
                    <p>お持ちのスマホが楽天モバイルで使えるかご確認ください。また、製品によっては事前に「SIMロック解除」のお手続きが必要です。</p>
                    <div class="guide-Step_Button-wrapper">
                      <div class="u-Align_Ccl u-Adjust_Mt-16">
                        <a href="<%= sitepath %>product/byod/?l-id=shop-support_product_byod" class="c-Btn_Regular">楽天モバイルで使えるか確認する</a>
                      </div>
                      <div class="u-Align_Ccl u-Adjust_Mt-16">
                        <a href="<%= sitepath %>faq/detail/10000070/?l-id=shop-support_faq-10000070" class="c-Btn_Regular">SIMロックの解除について</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="guide-Step_Notes">
            <p class="c-Txt_Emp-01">注意事項</p>
            <p class="c-Txt_Emp-01 u-Adjust_Mt-8">■ご契約者とご利用者が異なる場合</p>
            <p class="u-Adjust_Mt-8">ご利用中の携帯電話会社にて利用者登録制度をお使いのお客様は、事前に利用者登録を解除した後、ご契約者名義の方がMNP転出手続きを行う必要があります。解除方法については、ご利用中の携帯電話会社にお問合せください。</p>
          </div>
      </div>
      <div id="step-content-new" class="guide-Step_Content" aria-expanded="false" labelledby="step1-link-new">
          <h3 class="c-Heading_Lv3 u-Align_Llc">新規お申し込みに必要なもの</h3>
          <ul class="guide-Step_List-accordion">
            <li class="c-Accordion-emp guide-Step_Item-accordion">
              <button id="accordion-new01" class="c-Accordion-emp_Trigger guide-Step_Accordion-button js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-new01">
                <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow guide-Step_Accordion-arrow"></span>
                本人確認書類
                <span class="guide-Step_Accordion-annotation-pink">※データタイプをお申し込みの場合、不要</span>
              </button>
              <div id="accordion-content-new01" class="c-Accordion-emp_Panel-normal guide-Step_Accordion-content js-Accordion_Panel" role="region" aria-labelledby="accordion-new01" aria-hidden="false">
                <div class="guide-Step_Item-flex">
                  <div class="guide-Step_Item-flex-left">
                    <img src="<%= sitepath %>assets/img/shop/guide/step05.png" width="125" height="78" alt="">
                  </div>
                  <div class="guide-Step_Item-flex-right">
                    <p class="c-Txt_Emp-01">運転免許証、マイナンバーカードなど</p>
                    <p class="guide-Step_Item-annotation">※外国籍のお客様は必要な本人確認書類が異なります。詳細ページをご確認ください。</p>
                    <div class="u-Align_Ccl u-Adjust_Mt-16">
                      <a href="<%= sitepath %>guide/verify/?l-id=shop-support_guide_verify" class="c-Btn_Regular">利用できる本人確認書類を確認する</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="c-Accordion-emp guide-Step_Item-accordion">
              <button id="accordion-new02" class="c-Accordion-emp_Trigger guide-Step_Accordion-button js-default-close js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-new02">
                <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow guide-Step_Accordion-arrow"></span>
                楽天会員ユーザID・パスワード
              </button>
              <div id="accordion-content-new02" class="c-Accordion-emp_Panel-normal guide-Step_Accordion-content js-default-close js-Accordion_Panel" role="region" aria-labelledby="accordion-new02" aria-hidden="true">
                <div class="guide-Step_Item-flex">
                  <div class="guide-Step_Item-flex-left">
                    <img src="<%= sitepath %>assets/img/shop/guide/step06.png" width="125" height="68" alt="">
                  </div>
                  <div class="guide-Step_Item-flex-right">
                    <div class="guide-Step_Flex">
                      <div>
                        <p class="guide-Step_Flex-text c-Txt_Emp-01">楽天会員でないお客様</p>
                        <p class="u-Adjust_Mt-8 u-Adjust_Mt-pc-16">楽天IDをお持ちでないお客様は、楽天会員に登録（無料）をお願いします。</p>
                        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                          <a href="https://www.rakuten.co.jp/myrakuten/help/" class="guide-Step_Button-small guide-Step_Button-blank c-Btn_Regular" target="_blank" rel="noopener">楽天会員に登録する<span class="c-Icon_New-window-l"></span></a>
                        </div>
                      </div>
                      <div>
                        <p class="guide-Step_Flex-text c-Txt_Emp-01">楽天会員のお客様</p>
                        <p class="u-Adjust_Mt-8 u-Adjust_Mt-pc-16">登録情報が最新の情報でお申し込み内容と一致しているか、ご確認ください。</p>
                        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                          <a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="guide-Step_Button-small guide-Step_Button-blank c-Btn_Regular" target="_blank" rel="noopener">楽天会員情報を確認・変更する<span class="c-Icon_New-window-l"></span></a>
                        </div>
                      </div>
                    </div>
                    <p class="guide-Step_Item-annotation u-Adjust_Mt-16"><span class="c-Txt_Emp-02">※店頭でのお申し込み時に使用します。お申し込みご本人の会員情報が必要です。</span></p>
                  </div>
                </div>
              </div>
            </li>
            <li class="c-Accordion-emp guide-Step_Item-accordion">
              <button id="accordion-new03" class="c-Accordion-emp_Trigger guide-Step_Accordion-button js-default-close js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-new03">
                <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow guide-Step_Accordion-arrow"></span>
                クレジットカード／銀行口座情報
              </button>
              <div id="accordion-content-new03" class="c-Accordion-emp_Panel-normal guide-Step_Accordion-content js-default-close js-Accordion_Panel" role="region" aria-labelledby="accordion-new03" aria-hidden="true">
                <div class="guide-Step_Item-flex">
                  <div class="guide-Step_Item-flex-left">
                    <img src="<%= sitepath %>assets/img/shop/guide/step07.png" width="125" height="78" alt="">
                  </div>
                  <div class="guide-Step_Item-flex-right">
                    <p>毎月のお支払い方法に設定いただくクレジットカード、もしくは口座振替用の銀行口座情報</p>
                    <p class="guide-Step_Item-annotation u-Adjust_Mt-8"><span class="c-Txt_Emp-02">※一部の家電量販店に併設されている楽天モバイルコーナーでは、製品ご購入時に分割手数料無料の楽天カード24回、48回払い（楽天モバイル買い替え超トクプログラムを含む）をご利用いただけません。</span></p>
                    <p class="guide-Step_Item-annotation u-Adjust_Mt-16">※ご契約者名義と異なるクレジットカードや銀行口座をお使いになる場合、名義人と同伴でご来店ください。</p>
                    <div class="u-Align_Ccl u-Adjust_Mt-16">
                      <a href="<%= sitepath %>guide/payment/?l-id=shop-support_guide_payment" class="guide-Step_Button c-Btn_Regular">お支払い方法を確認する</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="c-Accordion-emp guide-Step_Item-accordion">
              <button id="accordion-new04" class="c-Accordion-emp_Trigger guide-Step_Accordion-button js-default-close js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-new04">
                <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow guide-Step_Accordion-arrow"></span>
                楽天回線に対応するスマホ／製品
                <span class="guide-Step_Accordion-annotation-pink">※お申し込みと一緒にスマホを購入される方は不要</span>
              </button>
              <div id="accordion-content-new04" class="c-Accordion-emp_Panel-normal guide-Step_Accordion-content js-default-close js-Accordion_Panel" role="region" aria-labelledby="accordion-new04" aria-hidden="true">
                <div class="guide-Step_Item-flex">
                  <div class="guide-Step_Item-flex-left">
                    <img src="<%= sitepath %>assets/img/shop/guide/step08.png" width="56" height="100" alt="">
                  </div>
                  <div class="guide-Step_Item-flex-right">
                    <p>お持ちのスマホが楽天モバイルで使えるかご確認ください。また、製品によっては事前に「SIMロック解除」のお手続きが必要です。</p>
                    <div class="guide-Step_Button-wrapper">
                      <div class="u-Align_Ccl u-Adjust_Mt-16">
                        <a href="<%= sitepath %>product/byod/?l-id=shop-support_product_byod" class="c-Btn_Regular">楽天モバイルで使えるか確認する</a>
                      </div>
                      <div class="u-Align_Ccl u-Adjust_Mt-16">
                        <a href="<%= sitepath %>faq/detail/10000070/?l-id=shop-support_faq-10000070" class="c-Btn_Regular">SIMロックの解除について</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
      </div>
      <div id="step-content-change" class="guide-Step_Content" aria-expanded="false" labelledby="step1-link-change">
          <h3 class="c-Heading_Lv3 u-Align_Llc">機種変更・製品のみ購入に必要なもの</h3>
          <ul class="guide-Step_List-accordion">
            <li class="c-Accordion-emp guide-Step_Item-accordion">
              <button id="accordion-change01" class="c-Accordion-emp_Trigger guide-Step_Accordion-button js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-change01">
                <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow guide-Step_Accordion-arrow"></span>
                楽天会員ユーザID・パスワード
              </button>
              <div id="accordion-content-change01" class="c-Accordion-emp_Panel-normal guide-Step_Accordion-content js-Accordion_Panel" role="region" aria-labelledby="accordion-change01" aria-hidden="false">
                <div class="guide-Step_Item-flex">
                  <div class="guide-Step_Item-flex-left">
                    <img src="<%= sitepath %>assets/img/shop/guide/step06.png" width="125" height="68" alt="">
                  </div>
                  <div class="guide-Step_Item-flex-right">
                    <div class="guide-Step_Flex">
                      <div>
                        <p class="guide-Step_Flex-text c-Txt_Emp-01">楽天会員でないお客様</p>
                        <p class="u-Adjust_Mt-8 u-Adjust_Mt-pc-16">楽天IDをお持ちでないお客様は、楽天会員に登録（無料）をお願いします。</p>
                        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                          <a href="https://www.rakuten.co.jp/myrakuten/help/" class="guide-Step_Button-small guide-Step_Button-blank c-Btn_Regular" target="_blank" rel="noopener">楽天会員に登録する<span class="c-Icon_New-window-l"></span></a>
                        </div>
                      </div>
                      <div>
                        <p class="guide-Step_Flex-text c-Txt_Emp-01">楽天会員のお客様</p>
                        <p class="u-Adjust_Mt-8 u-Adjust_Mt-pc-16">登録情報が最新の情報でお申し込み内容と一致しているか、ご確認ください。</p>
                        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                          <a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="guide-Step_Button-small guide-Step_Button-blank c-Btn_Regular" target="_blank" rel="noopener">楽天会員情報を確認・変更する<span class="c-Icon_New-window-l"></span></a>
                        </div>
                      </div>
                    </div>
                    <p class="guide-Step_Item-annotation u-Adjust_Mt-16"><span class="c-Txt_Emp-02">※店頭でのお申し込み時に使用します。お申し込みご本人の会員情報が必要です。</span></p>
                  </div>
                </div>
              </div>
            </li>
            <li class="c-Accordion-emp guide-Step_Item-accordion">
              <button id="accordion-change02" class="c-Accordion-emp_Trigger guide-Step_Accordion-button js-default-close js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-change02">
                <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow guide-Step_Accordion-arrow"></span>
                クレジットカード／銀行口座情報
              </button>
              <div id="accordion-content-change02" class="c-Accordion-emp_Panel-normal guide-Step_Accordion-content js-default-close js-Accordion_Panel" role="region" aria-labelledby="accordion-change02" aria-hidden="true">
                <div class="guide-Step_Item-flex">
                  <div class="guide-Step_Item-flex-left">
                    <img src="<%= sitepath %>assets/img/shop/guide/step07.png" width="125" height="78" alt="">
                  </div>
                  <div class="guide-Step_Item-flex-right">
                    <p>毎月のお支払い方法に設定いただくクレジットカード、もしくは口座振替用の銀行口座情報</p>
                    <p class="guide-Step_Item-annotation u-Adjust_Mt-8"><span class="c-Txt_Emp-02">※一部の家電量販店に併設されている楽天モバイルコーナーでは、製品ご購入時に分割手数料無料の楽天カード24回、48回払い（楽天モバイル買い替え超トクプログラムを含む）をご利用いただけません。</span></p>
                    <p class="guide-Step_Item-annotation u-Adjust_Mt-16">※ご契約者名義と異なるクレジットカードや銀行口座をお使いになる場合、名義人と同伴でご来店ください。</p>
                    <div class="u-Align_Ccl u-Adjust_Mt-16">
                      <a href="<%= sitepath %>guide/payment/?l-id=shop-support_guide_payment" class="guide-Step_Button c-Btn_Regular">お支払い方法を確認する</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="c-Accordion-emp guide-Step_Item-accordion">
              <button id="accordion-change03" class="c-Accordion-emp_Trigger guide-Step_Accordion-button js-default-close js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-change03">
                <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow guide-Step_Accordion-arrow"></span>
                本人確認書類
              </button>
              <div id="accordion-content-change03" class="c-Accordion-emp_Panel-normal guide-Step_Accordion-content js-default-close js-Accordion_Panel" role="region" aria-labelledby="accordion-change03" aria-hidden="true">
                <div class="guide-Step_Item-flex">
                  <div class="guide-Step_Item-flex-left">
                    <img src="<%= sitepath %>assets/img/shop/guide/step05.png" width="125" height="78" alt="">
                  </div>
                  <div class="guide-Step_Item-flex-right">
                    <p class="c-Txt_Emp-01">運転免許証、マイナンバーカードなど</p>
                    <p class="guide-Step_Item-annotation u-Adjust_Mt-8"><span class="c-Txt_Emp-02">※楽天モバイル買い替え超トクプログラムをご利用の場合など、一部製品をご購入の際に本人確認書類が必要な場合があります。</span></p>
                    <p class="guide-Step_Item-annotation u-Adjust_Mt-16">※外国籍のお客様は必要な本人確認書類が異なります。詳細ページをご確認ください。</p>
                    <div class="u-Align_Ccl u-Adjust_Mt-16">
                      <a href="<%= sitepath %>guide/verify/?l-id=shop-support_guide_verify" class="c-Btn_Regular">利用できる本人確認書類を確認する</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
      </div>
      <div id="step-content-rakuten" class="guide-Step_Content" aria-expanded="false" labelledby="step1-link-rakuten">
        <h3 class="c-Heading_Lv3 u-Align_Llc">楽天モバイル（ドコモ回線、au回線）からの移行に必要なもの</h3>
        <ul class="guide-Step_List-accordion">
          <li class="c-Accordion-emp guide-Step_Item-accordion">
            <button id="accordion-rakute01" class="c-Accordion-emp_Trigger guide-Step_Accordion-button js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-rakute01">
              <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow guide-Step_Accordion-arrow"></span>
              楽天会員ユーザID・パスワード
            </button>
            <div id="accordion-content-rakute01" class="c-Accordion-emp_Panel-normal guide-Step_Accordion-content js-Accordion_Panel" role="region" aria-labelledby="accordion-rakute01" aria-hidden="false">
              <div class="guide-Step_Item-flex">
                <div class="guide-Step_Item-flex-left">
                  <img src="<%= sitepath %>assets/img/guide/procedure/step2-06.png" width="125" height="68" alt="">
                </div>
                <div class="guide-Step_Item-flex-right">
                  <p>登録情報が最新の情報でお申し込み内容と一致しているか、ご確認ください。</p>
                  <div class="u-Adjust_Mt-16">
                    <a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="guide-Step_Button-small guide-Step_Button-blank c-Btn_Regular" target="_blank" rel="noopener">楽天会員情報を確認・変更する<span class="c-Icon_New-window-l"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="c-Accordion-emp guide-Step_Item-accordion">
            <button id="accordion-rakute02" class="c-Accordion-emp_Trigger guide-Step_Accordion-button js-default-close js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-rakute02">
              <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow guide-Step_Accordion-arrow"></span>
              本人確認書類
            </button>
            <div id="accordion-content-rakute02" class="c-Accordion-emp_Panel-normal guide-Step_Accordion-content js-default-close js-Accordion_Panel" role="region" aria-labelledby="accordion-rakute02" aria-hidden="true">
              <div class="guide-Step_Item-flex">
                <div class="guide-Step_Item-flex-left">
                  <img src="<%= sitepath %>assets/img/shop/guide/step05.png" width="125" height="78" alt="">
                </div>
                <div class="guide-Step_Item-flex-right">
                  <p class="c-Txt_Emp-01">運転免許証、マイナンバーカードなど</p>
                  <p class="guide-Step_Item-annotation">※外国籍のお客様は必要な本人確認書類が異なります。詳細ページをご確認ください。</p>
                  <div class="u-Align_Ccl u-Adjust_Mt-16">
                    <a href="<%= sitepath %>guide/verify/?l-id=shop-support_guide_verify" class="c-Btn_Regular">利用できる本人確認書類を確認する</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="c-Accordion-emp guide-Step_Item-accordion">
            <button id="accordion-rakute03" class="c-Accordion-emp_Trigger guide-Step_Accordion-button js-default-close js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-rakute03">
              <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow guide-Step_Accordion-arrow"></span>
              QRコード／MNP予約番号
            </button>
            <div id="accordion-content-rakute03" class="c-Accordion-emp_Panel-normal guide-Step_Accordion-content js-default-close js-Accordion_Panel" role="region" aria-labelledby="accordion-rakute03" aria-hidden="true">
              <div class="guide-Step_Item-flex">
                <div class="guide-Step_Item-flex-left">
                  <img src="<%= sitepath %>assets/img/shop/guide/step10.png" width="200" height="96" alt="">
                </div>
                <div class="guide-Step_Item-flex-right">
                  <p>一部の対象ショップではQRコードでプラン変更（移行）ができます。まずは、QRコード対応ショップをご確認ください。</p>
                  <div class="guide-Step_Button-wrapper">
                    <div class="u-Align_Ccl u-Adjust_Mt-16">
                      <a href="<%= sitepath %>shop/migration-qr-shop/" class="c-Btn_Regular">QRコード対応ショップを確認する</a>
                    </div>
                    <div class="u-Align_Ccl u-Adjust_Mt-16">
                      <a href="<%= sitepath %>guide/migration/?tab-list=tab-menu4#anc_02" class="c-Btn_Regular">MNP予約番号発行方法を確認する</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="c-Accordion-emp guide-Step_Item-accordion">
            <button id="accordion-rakute04" class="c-Accordion-emp_Trigger guide-Step_Accordion-button js-default-close js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-rakute04">
              <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow guide-Step_Accordion-arrow"></span>
              楽天回線に対応するスマホ／製品
              <span class="guide-Step_Accordion-annotation-pink">※お申し込みと一緒にスマホを購入される方は不要</span>
            </button>
            <div id="accordion-content-rakute04" class="c-Accordion-emp_Panel-normal guide-Step_Accordion-content js-default-close js-Accordion_Panel" role="region" aria-labelledby="accordion-rakute04" aria-hidden="true">
              <div class="guide-Step_Item-flex">
                <div class="guide-Step_Item-flex-left">
                  <img src="<%= sitepath %>assets/img/shop/guide/step08.png" width="56" height="100" alt="">
                </div>
                <div class="guide-Step_Item-flex-right">
                  <p>お持ちのスマホが楽天回線に対応しているかご確認ください。また、製品によっては事前に「SIMロック解除」のお手続きが必要です。</p>
                  <div class="guide-Step_Button-wrapper">
                    <div class="u-Align_Ccl u-Adjust_Mt-16">
                      <a href="<%= sitepath %>product/byod/?l-id=shop-support_product_byod" class="c-Btn_Regular">楽天モバイルで使えるか確認する</a>
                    </div>
                    <div class="u-Align_Ccl u-Adjust_Mt-16">
                      <a href="<%= sitepath %>faq/detail/10000070/?l-id=shop-support_faq-10000070" class="c-Btn_Regular">SIMロックの解除について</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="guide-Step_Notes">
          <p class="c-Txt_Emp-01">注意事項</p>
          <p class="c-Txt_Emp-01 u-Adjust_Mt-8">■ご契約者とご利用者が異なる場合</p>
          <p class="u-Adjust_Mt-8">事前にプランの利用者登録の解除・名義変更をお願いいたします。<a href="<%= sitepath %>flow/mvno-user-registration/" class="c-Link_Txt">詳細はこちら</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="l-System_Container u-Adjust_Mt-56">
  <h2 class="c-Heading_Lv2 u-Adjust_Mt-56" id="shopGuide03">未成年のお客様への注意事項</h2>

  <div class="guide-Box u-Adjust_Mt-24 u-Adjust_Mt-pc-40">
    <ul class="l-System_Grid guide-Box_List">
      <li class="guide-Box_List-item">
        <h3 class="c-Heading_Lv4 u-Adjust_Align-center">ご来店者</h3>
        <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
          <img src="<%= sitepath %>assets/img/shop/guide/minor01.png" width="141" height="95" alt="">
        </div>
        <div class="u-Adjust_Mt-16">
          <p>18歳未満のお客様のみ、または保護者（親権者）のみでのご来店によるお申し込みはお受けできません。お子さまと保護者の2名様でご来店ください。</p>
        </div>
      </li>
      <li class="guide-Box_List-item">
        <h3 class="c-Heading_Lv4 u-Adjust_Align-center">本人確認書類</h3>
        <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
          <img src="<%= sitepath %>assets/img/shop/guide/minor02.png" width="158" height="95" alt="">
        </div>
        <div class="u-Adjust_Mt-16">
          <p>ご来店いただくお子さまと保護者、それぞれの本人確認書類が必要です。</p>
          <p class="c-Txt_Cap u-Adjust_Mt-8">※学生証は受け付けられませんのでご注意ください。</p>
        </div>
      </li>
      <li class="guide-Box_List-item">
        <h3 class="c-Heading_Lv4 u-Adjust_Align-center">フィルタリングサービス</h3>
        <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
          <img src="<%= sitepath %>assets/img/shop/guide/minor03.png" width="158" height="95" alt="">
        </div>
        <div class="u-Adjust_Mt-16">
          <p>18歳未満のお客様による楽天モバイルのご利用には、「<a href="<%= sitepath %>service/i-filter/" class="c-Link_Txt">あんしんコントロール by i-フィルター</a>」のご契約が必須です（330円/月）。※1</p>
        </div>
      </li>
    </ul>
  </div>

  <p class="u-Adjust_Mt-16 u-Adjust_Mt-pc-24 u-Adjust_Align-center"><a href="<%= sitepath %>flow/for-minors/?l-id=shop-support_flow_for-minors" class="c-Btn_Regular"><span>未成年によるお申し込み詳細を確認する</span></a></p>
  <ul class="c-Txt_Cap u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
    <li><span>※1</span>「あんしんコントロール by i-フィルター」について、法定代理人となる保護者が「不要」と判断された場合、「フィルタリング・サービス不要申出書」を郵送いただくことで契約を解除することができます。回線契約月翌月の10日までに不要申出書を楽天モバイルが受領した場合、月額使用料（330円/月）は発生しません。不要申出書受領の翌月末に解約となります。</li>
  </ul>

  <h2 class="c-Heading_Lv2 u-Adjust_Mt-56" id="shopGuide04">来店予約について</h2>
  <p class="u-Adjust_Mt-24">
    ご来店の際は、事前の「来店予約」がおすすめです。
  </p>
  <div class="u-Adjust_Mt-16 u-Adjust_Mt-pc-24 u-Adjust_Align-center">
    <picture>
      <source media="(max-width: 768px)" width="768" height="351" srcset="<%= sitepath %>assets/img/shop/guide/reserve-sp-240514.png">
      <img src="<%= sitepath %>assets/img/shop/guide/reserve-240514.png" width="1032" height="146" alt="事前の来店予約がおすすめです 混雑時も優先してご案内 必要書類も事前確認できて安心 お近くのショップを検索 「予約する」ボタンから予約 ご予約日時にご来店">
    </picture>
  </div>
  <div class="u-Align_Llc u-Bg_Pink5 u-Adjust_Px-16">
    <p class="u-Adjust_Pb-16 c-Txt_Emp-01 ">
      <span class="c-Txt_Emp-02">お電話でも来店予約</span>を受け付けています。店舗ページに記載の<span class="c-Txt_Emp-02">電話番号</span>からご予約ください
    </p>
  </div>
  <p class="u-Adjust_Mt-16 u-Adjust_Mt-pc-24 u-Adjust_Align-center"><a href="<%= sitepath %>shop/?l-id=shop-support_shop#shop" class="c-Btn_Regular"><span>お近くのショップを探す</span></a></p>
  <ul class="c-Txt_Cap u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
    <li><span>※</span>カウンターが空き次第のご案内となり、多少の待ち時間をいただく場合がございます。あらかじめご了承ください。</li>
    <li><span>※</span>一部のショップでは、来店予約いただけません。</li>
  </ul>
</div>
<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-shop-v2-guide.ejs') %>

    <%#- include('/include/footer/bnr/bnr-shop.ejs') %>

    <%#- include('/faq/include/related-shop.ejs') %>

  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <li><a href="<%= sitepath %>shop/">楽天モバイルショップ</a><span class="c-Icon_Chevron-right"></span></li>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>


</div>
<%- include('/include/_common-js') %>
<%- include('/include/shop/_category-js') %>
<script src="<%= sitepath %>assets/js/shop.guide.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
