<% const {theme, price, lid} = priceDetailConfig -%>
<div>
  <div>
    <div class="<%= namespace %>-Price_Option <%= namespace %>-Theme_<%= theme %>-a-background <%= namespace %>-Price_One-option">
      <div class="<%= namespace %>-Price_Option-title <%= namespace %>-Theme_<%= theme %>-a-border">おすすめオプション</div>
      <div class="u-Adjust_Align-left <%= namespace %>-Price_Option-title-sub-wrapper">
        <a href="<%= sitepath %>service/replacement-warranty-plus/?l-id=product_<%= lid %>_cpn_01" class="<%= namespace %>-Price_Option-title-sub c-Link_Txt">スマホ交換保証プラス</a>
      </div>
      <div class="<%= namespace %>-Price_Option-detail-item">
        <p class="<%= namespace %>-Price_Option-txt u-Adjust_Mt-8 c-Txt_Emp-01">加入していれば<span class="c-Txt_Cap <%= namespace %>-Theme_<%= theme %>-tradein-text">*2</span>、もしもの時に<%= (price - 6600).toLocaleString() %>円もおトク！（加入できるのは購入時のみ）</p>
        <p class="<%= namespace %>-Price_Option-txt u-Adjust_Mt-8">故障・紛失時に新品同等の同一機種に交換！12時までの受け付けで最短当日中にお届け<span class="c-Txt_Cap <%= namespace %>-Theme_<%= theme %>-tradein-text">*3</span></p>
      </div>
    </div>
    <p class="<%= namespace %>-Price_Mt-8-16 c-Txt_Cap">*2 加入には月額利用料715円がかかります。　*3 対象地域：東京／神奈川／千葉／埼玉</p>
  </div>
</div>
