<% const {theme, lid} = priceDetailConfig -%>
<div class="<%= namespace %>-Price_Container">
  <div class="<%= namespace %>-Price_Option <%= namespace %>-Theme_<%= theme %>-background">
    <div class="<%= namespace %>-Price_Option-title <%= namespace %>-Theme_<%= theme %>-border"><span>おすすめ</span>オプション</div>
    <div class="<%= namespace %>-Price_Option-detail">
      <div>
        <a href="<%= sitepath %>service/replacement-warranty-plus/?l-id=product_<%= lid %>_cpn_01" class="<%= namespace %>-Price_Option-title-sub">スマホ交換保証プラス</a>
        <p class="<%= namespace %>-Price_Option-txt u-Adjust_Mt-8 c-Txt_Emp-01">加入できるのは購入時のみ</p>
        <p class="<%= namespace %>-Price_Option-txt u-Adjust_Mt-8">故障・紛失時に新品同等の同一機種に交換！12時までの受け付けで最短当日中にお届け*</p>
      </div>
      <div class="<%= namespace %>-Theme_<%= theme %>-border-left">
        <a href="<%= sitepath %>service/tradein/?l-id=product_rakuten-mini_cpn_02" class="<%= namespace %>-Price_Option-title-sub">スマホ下取りサービス</a>
        <p class="<%= namespace %>-Price_Option-txt u-Adjust_Mt-8 c-Txt_Emp-01">簡単査定でお使いのスマホを高額下取り！</p>
        <p class="<%= namespace %>-Price_Option-txt u-Adjust_Mt-8">獲得した楽天キャッシュは、楽天ペイでご利用可能！</p>
      </div>
    </div>
  </div>
  <p class="<%= namespace %>-Price_Mt-8-16 c-Txt_Cap">* 対象地域：東京／神奈川／千葉／埼玉</p>
</div>