<% const {theme, price, tradeinProductName, capacity, maxTradeinPrice, lid, carrier} = priceDetailConfig -%>
<% const carrierName = carrier ? carrier : '楽天モバイル' -%>
<div class="<%= namespace %>-Price_Container">
  <div class="<%= namespace %>-Price_Option <%= namespace %>-Theme_<%= theme %>-background">
    <div class="<%= namespace %>-Price_Option-title <%= namespace %>-Theme_<%= theme %>-border"><span>おすすめ</span>オプション</div>
    <div class="<%= namespace %>-Price_Option-detail">
      <div>
        <a href="<%= sitepath %>service/replacement-warranty-plus/?l-id=product_<%= lid %>_cpn_01" class="<%= namespace %>-Price_Option-title-sub">スマホ交換保証プラス</a>
        <p class="<%= namespace %>-Price_Option-txt u-Adjust_Mt-8 c-Txt_Emp-01">加入していれば*1、もしもの時に<%= (price - 6600).toLocaleString() %>円もおトク！（加入できるのは購入時のみ）</p>
        <p class="<%= namespace %>-Price_Option-txt u-Adjust_Mt-8">故障・紛失時に新品同等の同一機種に交換！12時までの受け付けで最短当日中にお届け*2</p>
      </div>
      <div class="<%= namespace %>-Theme_<%= theme %>-border-left">
        <a href="<%= sitepath %>service/tradein/?l-id=product_<%= lid %>_cpn_02" class="<%= namespace %>-Price_Option-title-sub">スマホ下取りサービス</a>
        <p class="<%= namespace %>-Price_Option-txt u-Adjust_Mt-8 c-Txt_Emp-01">たとえば、<%= tradeinProductName %>を下取りに出すと、最大<%= maxTradeinPrice.toLocaleString() %>円相当になります。*3</p>
        <p class="<%= namespace %>-Price_Option-txt u-Adjust_Mt-8">簡単査定でお使いのスマホを高額下取り！獲得した楽天キャッシュは楽天ペイにチャージできる！</p>
      </div>
    </div>
  </div>
  <p class="<%= namespace %>-Price_Mt-8-16 c-Txt_Cap">*1 加入には月額利用料715円がかかります。　*2 対象地域：東京／神奈川／千葉／埼玉　*3 <%= carrierName %>の<%= capacity %>GBを下取りに出した場合</p>
</div>