<% const pagetitle = "各種手数料" -%>
<% const directories = [{path:"internet/turbo/support/", label:"お客様サポート"}, {path:"internet/turbo/support/payment/", label:"請求・お支払い方法"}] -%>
<% const namespace = "support-smallcategory" -%>
<%
  const pageInfo = {
    namespace,
    ancList: [
      {
        path: '#anc01',
        name: 'ご契約に関わる手数料'
      },
      {
        path: '#anc02',
        name: '請求・お支払いに関わる手数料'
      },
      {
        path: '#anc03',
        name: '配送に関わる手数料'
      },
      {
        path: '#anc04',
        name: 'その他手数料',
      }
    ],
    isUserCategory: true
  };
%>
<%-
  include('/_header', {
    pagetitle,
    directories,
    description: '楽天モバイルのホームルーターRakuten Turboのご利用で発生する各種手数料をご案内。ご契約に関わる手数料や、ご請求・お支払い方法ごとに異なる手数料などがご確認いただけます。',
    noindex: false,
    pathname: filepath,
    isTurbo: true
  });
%>

<%- include('/include/_common-css-v2') %>
<%- include('/include/internet/turbo/support/_smallcategory-css') %>
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/internet/turbo/_prepend-body-internet') %>
  <div class="l-System">
    <%- include('/include/internet/turbo/_header', {
      pagetitle,
      directories,
      tax: false,
    }) %>

    <section class="u-Adjust_Mt-32">
      <div class="l-System_Container">
        <h1 class="c-Heading_Lv1 <%= namespace %>-Utility_Heading_Lv1"><%= pagetitle %></h1>
        <p class="u-Adjust_Mt-24">Rakuten Turboのご利用で発生する各種手数料をご確認いただけます。</p>
        <p class="c-Txt_Cap u-Adjust_Mt-16">※各種手数料は、楽天ポイントの進呈対象外となります</p>
      </div>
      <div class="l-System c-Theme-Light u-Adjust_Mt-32 <%= namespace %>-Anchor">
        <div class="l-System_Container">
          <ul class="<%= namespace %>-Anchor_Area">
            <% pageInfo.ancList.forEach(function(item) { -%>
            <li>
              <a href="<%= item.path %>" class="js-scroll c-Link_Txt-icon-front" data-auto-rat="anchor"><span class="c-Icon_Arrow-down-l"></span><%= item.name %></a>
            </li>
            <% }); -%>
          </ul>
        </div>
      </div>
    </section>

    <div class="l-System_Container">
      <section id="anc01" class="<%= namespace %>-Layout_Section-commission">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">ご契約に関わる手数料</h2>
        <p class="u-Adjust_Mt-16">ご契約時やご契約変更時に発生する手数料です。</p>

        <div class="<%= namespace %>-Table_Content-commission-01 c-Table">
          <table class="c-Table_Container">
            <tr>
              <th>契約事務手数料</th>
              <td>3,300円</td>
            </tr>
            <tr>
              <th>SIMカード再発行手数料</th>
              <td>3,300円</td>
            </tr>
            <tr>
              <th>送料</th>
              <td>0円</td>
            </tr>
          </table>
        </div>
      </section>

      <section id="anc02" class="<%= namespace %>-Layout_Section-commission">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">請求・お支払いに関わる手数料</h2>
        <p class="u-Adjust_Mt-16">お支払い方法により手数料が異なります。</p>

        <div class="<%= namespace %>-Table_Content-commission-02 c-Table">
          <table class="c-Table_Container">
            <tr>
              <th>口座振替手数料</th>
              <td>110円／月</td>
            </tr>
            <tr>
              <th>書類郵送サービス手数料</th>
              <td>
                <p>330円</p>
                <div class="u-Adjust_Mt-8">
                  <ul>
                    <li class="c-Txt_Cap u-Adjust_Mt-0">※利用明細、支払い証明書、購入証明書などの発行、郵送が対象となります</li>
                    <li class="c-Txt_Cap u-Adjust_Mt-0">※上記明細・証明書等1種類（1カ月分もしくは1購入分）あたり、または1通あたりにつき330円（税込）が月額料金に加算されます</li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <th>請求書発行手数料</th>
              <td>
                <p>220円</p>
                <div class="u-Adjust_Mt-8">
                  <ul>
                    <li class="c-Txt_Cap u-Adjust_Mt-0">※「サービス停止・契約解除通告」の請求書を発行する場合のみ発生します</li>
                    <li class="c-Txt_Cap u-Adjust_Mt-0">※未払い月ごとに加算されます</li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <th>コンビニ支払い手数料</th>
              <td class="u-Adjust_Pt-0 u-Adjust_Pr-0 u-Adjust_Pb-0 u-Adjust_Pl-0">
                <div class="<%= namespace %>-Table_Content-store c-Table">
                  <table class="c-Table_Container">
                    <thead>
                      <tr>
                        <th scope="col" class="c-Txt_Normal-s <%= namespace %>-Utility_Border-top-none <%= namespace %>-Utility_Border-left-none">ご請求<br class="<%= namespace %>-Utility_Disp-sp">金額</th>
                        <th scope="col" class="c-Txt_Normal-s <%= namespace %>-Utility_Border-top-none <%= namespace %>-Utility_Border-right-none">セブン-イレブン</th>
                        <th scope="col" class="c-Txt_Normal-s <%= namespace %>-Utility_Border-top-none <%= namespace %>-Utility_Border-right-none">ローソン、ファミリーマートほか <span class="c-Txt_Cap">※1</span></th>
                        <th scope="col" class="c-Txt_Normal-s <%= namespace %>-Utility_Border-top-none <%= namespace %>-Utility_Border-right-none">ポプラ、生活彩家ほか <span class="c-Txt_Cap">※2</span></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="<%= namespace %>-Utility_Border-left-none">～10,000円未満</td>
                        <td>110円</td>
                        <td>110円</td>
                        <td class="<%= namespace %>-Utility_Border-right-none">66円</td>
                      </tr>
                      <tr>
                        <td class="<%= namespace %>-Utility_Border-left-none">～50,000円未満</td>
                        <td>220円</td>
                        <td>220円</td>
                        <td class="<%= namespace %>-Utility_Border-right-none">110円</td>
                      </tr>
                      <tr>
                        <td class="<%= namespace %>-Utility_Border-left-none <%= namespace %>-Utility_Border-bottom-none">50,000円以上</td>
                        <td class="<%= namespace %>-Utility_Border-bottom-none">440円</td>
                        <td class="<%= namespace %>-Utility_Border-bottom-none">550円</td>
                        <td class="<%= namespace %>-Utility_Border-right-none <%= namespace %>-Utility_Border-bottom-none">330円</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
            <tr>
              <th>電子決済サービス</th>
              <td>
                <ul class="c-List_Text-disc">
                  <li>ファミペイ請求書支払い
                    <div class="u-Adjust_Ml-16">
                      <p class="c-Txt_Cap">※お支払い金額が50,000円（税込）未満のみご利用可能です</p>
                      <p class="u-Adjust_Mt-8"><a href="https://qa.family.co.jp/famipay/s/article/000003962" target="_blank" class="c-Link_Txt-inline">手数料<span class="c-Icon_New-window-l"></span></a></p>
                    </div>
                  </li>
                  <li>楽天銀行コンビニ支払サービス（アプリで払込票支払）
                    <div class="u-Adjust_Ml-16 u-Adjust_Mt-8">
                      <p class=""><a href="https://www.rakuten-bank.co.jp/transfer/cvs-payment/" target="_blank" class="c-Link_Txt-inline">手数料<span class="c-Icon_New-window-l"></span></a></p>
                    </div>
                  </li>
                </ul>
              </td>
            </tr>
          </table>
        </div>
        <ol>
          <li class="c-Txt_Cap">※1：ローソン、ファミリーマート、セイコーマート（北海道・関東のみ）、デイリーヤマザキ、ヤマザキデイリーストア、ニューヤマザキデイリーストア、ヤマザキスペシャルパートナーシップ、ハマナスクラブ（北海道のみ）、ミニストップ</li>
          <li class="c-Txt_Cap">※2：ポプラ、生活彩家、くらしハウス、スリーエイト、マルチメディアキオスク（MMK）</li>
        </ol>
      </section>

      <section id="anc03" class="<%= namespace %>-Layout_Section-commission">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">配送に関わる手数料</h2>

        <h3 class="c-Heading_Lv3 u-Adjust_Mt-16">代金引換手数料</h3>
        <div class="<%= namespace %>-Table_Content-commission-03 c-Table u-Adjust_Mt-24">
          <table class="c-Table_Container <%= namespace %>_Utility-table-layout-fixed">
            <thead>
              <tr>
                <th scope="col" class="<%= namespace %>-Table_Content-commission-03-col-short">商品合計額</th>
                <th scope="col">手数料</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>～9,999円</td>
                <td>330円</td>
              </tr>
              <tr>
                <td>～29,999円</td>
                <td>440円</td>
              </tr>
              <tr>
                <td>～99,999円</td>
                <td>660円</td>
              </tr>
              <tr>
                <td>～300,000円</td>
                <td>1,100円</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="u-Adjust_Mt-16">
          <ol>
            <li class="c-Txt_Cap">※商品合計額は、製品購入費＋アクセサリ購入費＋送料の税込の合計額です。商品合計額により、代金引換手数料が異なります</li>
            <li class="c-Txt_Cap">※送料含む商品合計額が税込300,001円以上の場合、代金引換のお支払いはご利用できません</li>
          </ol>
        </div>
      </section>

      <section id="anc04" class="<%= namespace %>-Layout_Section-commission">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">その他手数料</h2>
        <p class="u-Adjust_Mt-16">Rakuten Turbo 5G（メーカー保証交換）</p>
        <div class="<%= namespace %>-Table_Content-commission-04 c-Table">
          <table class="c-Table_Container">
            <tr>
              <th>Rakuten Turbo 5G（付属品付き）</th>
              <td>0円</td>
            </tr>
          </table>
        </div>
        <div class="u-Adjust_Mt-16">
          <ul>
            <li class="c-Txt_Cap">※メーカー保証は初期不良、自然故障が対象です。不注意による故障等の際は33,000円をご請求いたします</li>
            <li class="c-Txt_Cap">※故障機はご返却が必要です。お手続きの際にご返却先や返却方法をご確認ください</li>
          </ul>
        </div>
        <p class="u-Adjust_Mt-48">Rakuten Turbo 5G（再購入時の製品代金）</p>
        <div class="<%= namespace %>-Table_Content-commission-04 c-Table">
          <table class="c-Table_Container">
            <tr>
              <th>Rakuten Turbo 5G（付属品付き）</th>
              <td>33,000円</td>
            </tr>
            <tr>
              <th>ACアダプター単品</th>
              <td>4,180円</td>
            </tr>
          </table>
        </div>
      </section>

      <section class="<%= namespace %>-Layout_Section-commission">
        <h4 class="c-Heading_Lv4">注意事項</h4>
        <div class="u-Adjust_Mt-8">
          <ul>
            <li class="c-Txt_Cap">※この料金表は、楽天モバイル株式会社が「Rakuten Turbo契約約款」に基づき提供するデータ通信サービス（Rakuten Turbo）をご利用になるお客様に適用するものです</li>
            <li class="c-Txt_Cap">※表記の金額は特に記載のある場合をのぞきすべて税込です。この料金表において、支払いを要するものとされている額は、税別額に消費税を加算した額とします</li>
            <li class="c-Txt_Cap">※課金開始日は、本サービスの提供を開始した日、もしくは製品の着荷日のいずれか早い日を1日目として、9日目に該当する日です</li>
            <li class="c-Txt_Cap">※着荷日とは当社に配送完了データが通知された日のことです</li>
            <li class="c-Txt_Cap">※サービスの変更・追加、キャンペーンの開始または終了等により本ページの記載を予告なく変更する場合があります</li>
            <li class="c-Txt_Cap">※楽天ポイントの進呈対象はプラン料金のみです</li>
            <li class="c-Txt_Cap u-Adjust_Mt-8">※Rakuten Turboでは、1契約ごとに電話番号を割り当てますので、ユニバーサルサービス料、電話リレーサービス料が別途かかります</li>
          </ul>
        </div>
        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>information/news/service/877/" target="_blank" class="c-Link_Txt-inline">ユニバーサルサービス料について<span class="c-Icon_New-window-l"></span></a></p>
        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>internet/turbo/information/news/2642/" class="c-Link_Txt-inline">電話リレーサービス料について<span class="c-Icon_Chevron-right"></span></a></p>
      </section>
    </div>

    <section class="u-Adjust_Pt-80">
      <div class="<%= namespace %>-Layout_Category">
        <div class="l-System_Container">
          <%- include('/include/internet/turbo/support/_smallcategory-category', { pageInfo }) %>
        </div>
      </div>
    </section>

    <section class="u-Adjust_Mt-40">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">Turboもひかりも、どちらもおトク</h2>
      </div>
      <div class="u-Adjust_Mt-24">
        <%- include('/include/internet/turbo/common/_bnr', {
          orglid1: 'rmt_internet_turbo_support_payment_commission_internet_turbo_campaign_six-month-free_01',
          orglid2: 'rmt_internet_turbo_support_payment_commission_hikari_campaign_six-month-free_01'
        }) %>
      </div>
    </section>

    <div class="u-Adjust_Mt-40">
      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
      <%- include('/include/internet/turbo/_footer', { directories, pagetitle }) %>
    </div>
  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/internet/turbo/support/_smallcategory-js') %>
  <%- include('/include/_append-body') %>
  <%- include('/include/internet/turbo/_rex-survey') %>
</body>
</html>
