<% const pagetitle = "お申し込み受付完了" -%>
<% const directories = [{path:"fee/supporter-program/", label:"無料サポータープログラム"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '',
    noindex: true,
    pathname: filepath
  });
%>
<% const directory = "program" -%>
<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/fee/<%= directory %>/fee-program.css?20240424">

<%- include('/include/_append-head', {messaging: true}) %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="fee-program-Layout">

  <div class="fee-program-Hero">
    <div class="fee-program-Hero_Thanks">
      <h1 class="fee-program-Hero_Thanks-message"><img src="<%= sitepath %>assets/img/fee/<%= directory %>/hero_thankyou.svg" width="325" height="220" alt="Thank you"></h1>
    </div>
  </div>

  <div class="fee-program-Layout_Main">
    <div class="l-System_Container">

      <section class="fee-program-Layout_Thanks">
        <h2 class="c-Heading_Lv3">無料サポータープログラム<br>お申し込み受付が完了しました</h2>
        <p class="u-Adjust_Mt-32">お申し込み完了メールは、追ってお送りいたします</p>
        <div class="u-Adjust_Mt-40"><a href="<%= rootpath %>" class="c-Btn_Regular-semiauto"><span>楽天モバイルトップへ</span></a></div>
      </section>

    </div><!-- /l-System_Container -->
  </div><!-- /fee-program-Layout_Main -->


</div><!-- /fee-program-Layout -->


<footer class="g-Footer">

  <div class="c-Breadcrumbs_Foot">
    <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>
</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
