<% const pagetitle = "各製品メーカーへのお問い合わせ" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルで販売している各製品メーカー・製造元のお問い合わせ先をご案内いたします。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

    <p class="u-Adjust_Mt-24">楽天モバイルで販売している各製品メーカーのサポートページやお問い合わせ先をご案内いたします。</p>

    <p>
      製品に関するお困りごとや修理に関する詳細、その他サービスは各メーカーのサポートページをご確認いただくか、<a href="#inquiry-list" class="js-scroll">お問い合わせ先</a>へご連絡ください。
    </p>

    <p class="u-Adjust_Mt-16">
      Rakutenオリジナル製品以外のメーカーの製品に関するお問い合わせにつきまして、弊社にご連絡いただいた場合、内容により各製品メーカーや他社サービスへご誘導させていただくことがございます。あらかじめご了承ください。
    </p>

    <section class="u-Adjust_Mt-16">
      <div class="c-Accordion">
        <button type="button" id="accordion-11" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-11"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>各製品メーカー等へご誘導させていただく製品に関する問い合わせ例</button>
        <div id="accordion-content-11" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-11" aria-hidden="false">
          <ul class="c-List_Text-disc">
            <li>修理（14日以内の初期不良を除く）</li>
            <li>製品の詳細な使用方法や不具合に関するお問い合わせ</li>
            <li>他社サービスの使い方や不具合に関するお問い合わせ（LINE の詳細な使用方法、Google 各種サービスなど)</li>
            <li>楽天回線対応製品以外の製品に関するお問い合わせ</li>
        </ul>
        </div>
      </div>
    </section>

    <p class="u-Adjust_My-32">
      なお、各製品メーカーへご連絡前に、以下に該当する方はご確認ください。
    </p>

    <div class="u-Adjust_Mt-16">
      <div class="c-Accordion">
        <button type="button" id="accordion-20" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-20"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>製品到着日（店頭購入の場合は購入日）から14日以内に不良が発生した場合</button>
        <div id="accordion-content-20" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-20" aria-hidden="false">
          <p>
            楽天モバイルで購入した製品に不備<span class="c-Txt_Cap">（※1）</span>がある場合、<span class="c-Txt_Emp-02">製品到着日（店頭購入の場合は購入日）から14日以内</span>に「楽天モバイル株式会社　コミュニケーションセンター」へお申し出をいただければ、初期不良時の交換が可能です。新品もしくは新品同等品をお送りいたします。下記の製品メーカー別お問い合わせ先一覧の<a href="#accordion-8" class="js-scroll">楽天モバイル株式会社（楽天モバイル株式会社 コミュニケーションセンター）</a>へお問い合わせください。14日を経過している場合は、大変恐れ入りますが、各メーカーへご連絡ください。なお、<span class="c-Txt_Emp-02">楽天モバイル公式楽天市場店の購入製品は対象外</span><span class="c-Txt_Cap">（※2）</span>です。
          </p>

          <p class="c-Txt_Cap u-Adjust_Mt-16">
            ※1 配送途中の事故などで汚れ・傷等が生じた製品、または不備のある製品を指します。Apple製品の場合は、さらに、製品開封時点で化粧箱や外観上の傷が見受けられる場合のみ対象となります。
          </p>
          <p class="c-Txt_Cap u-Adjust_Mt-8">
            ※2 楽天モバイル公式楽天市場店へご連絡が必要となります。「<a href="https://grp02.id.rakuten.co.jp/rms/nid/vc?__event=login&service_id=s08&fidomy=1">購入履歴一覧</a>」内で「ショップへ問い合わせ」よりご連絡ください。
          </p>
          <p class="c-Txt_Cap u-Adjust_Mt-16">
            ※水濡れ・破損等が見つかった場合、もしくはご申告内容の相違等があった場合には、有償交換になることがあります。
          </p>
          <p class="c-Txt_Cap u-Adjust_Mt-16">
            ※他社でご購入いただいた製品の初期不良は、各製品メーカーまでお問い合わせください。
          </p>

          <p class="c-Txt_Emp-01 u-Adjust_Mt-16">対象期間の一例</p>
          <p class="u-Adjust_Mt-16">4月1日に製品が到着（もしくは店頭購入）の場合、4月14日までのご連絡が対象期間となります。</p>
        </div>
      </div>
      <div class="c-Accordion">
        <button type="button" id="accordion-21" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-21"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>保証オプションサービスのご利用について</button>
        <div id="accordion-content-21" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-21" aria-hidden="true">
          <p>製品購入時に加入した保証オプションサービスを利用する場合、下記の利用方法をご確認ください。</p>

          <p class="c-Txt_Emp-01 u-Adjust_Mt-16">スマホ交換保証プラス</p>
          <p class="u-Adjust_Mt-16">
            <a href="<%= sitepath %>guide/replacement-warranty-plus/#howto-use" class="c-Link_Txt-inline">ご利用方法<span class="c-Icon_Chevron-right"></span></a>
          </p>

          <p class="c-Txt_Emp-01 u-Adjust_Mt-16">故障紛失保証 with AppleCare Services</p>
          <p class="u-Adjust_Mt-16">
            <a href="<%= sitepath %>guide/iphone/applecare/#anc02" class="c-Link_Txt-inline">修理のご利用方法<span class="c-Icon_Chevron-right"></span></a>
          </p>
          <p class="u-Adjust_Mt-16">
            <a href="<%= sitepath %>guide/iphone/applecare/#anc03" class="c-Link_Txt-inline">交換のご利用方法<span class="c-Icon_Chevron-right"></span></a>
          </p>

          <p class="c-Txt_Emp-01 u-Adjust_Mt-16">故障紛失保証 with AppleCare Services & iCloud+</p>
          <p class="u-Adjust_Mt-16">
            <a href="<%= sitepath %>guide/iphone/applecare-icloud/#anc03" class="c-Link_Txt-inline">修理のご利用方法<span class="c-Icon_Chevron-right"></span></a>
          </p>
          <p class="u-Adjust_Mt-16">
            <a href="<%= sitepath %>guide/iphone/applecare-icloud/#anc04" class="c-Link_Txt-inline">交換のご利用方法<span class="c-Icon_Chevron-right"></span></a>
          </p>

          <p class="c-Txt_Emp-01 u-Adjust_Mt-16">あんしん保証with AppleCare Services for Apple Watch</p>
          <p class="u-Adjust_Mt-16">
            <a href="<%= sitepath %>guide/applewatch-care/repair/" class="c-Link_Txt-inline">修理のご利用方法<span class="c-Icon_Chevron-right"></span></a>
          </p>
          <p class="u-Adjust_Mt-16">
            <a href="<%= sitepath %>guide/applewatch-care/replacement/" class="c-Link_Txt-inline">交換のご利用方法<span class="c-Icon_Chevron-right"></span></a>
          </p>

        </div>
      </div>

    </div>

    <div class="u-Adjust_Mt-64">

      <h2 id="inquiry-list" class="c-Heading_Lv2">製品メーカー別お問い合わせ先一覧</h2>

      <p class="u-Adjust_Mt-16">各製品メーカー名をタップすると、サポートページや連絡先等の案内が表示されます。</p>
      <p class="u-Adjust_Mt-8">修理受付や修理に関する詳細、その他サービスは各製品メーカーへご連絡ください。</p>
      <div class="u-Adjust_Mt-16">
        <div class="c-Accordion">
          <button id="accordion-9" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-9"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span>Apple Japan合同会社（Apple サポート）</span></button>
          <div id="accordion-content-9" class="c-Accordion_Panel js-Accordion_Panel u-Adjust_Pl-0 u-Adjust_Pr-0" role="region" aria-labelledby="accordion-9" aria-hidden="true">
            <div>
              <h3 class="c-Heading_Lv3">Apple サポート</h3>
              <p class="c-Txt_Cap u-Adjust_Mt-16">
                ※ 楽天モバイルにおけるApple製品の初期不良対応は 製品到着日（店頭購入日）から14日であることに加え、製品開封時点で化粧箱や外観上の傷が見受けられる場合のみとなります。それ以外の初期不良はApple サポートにお問い合わせください。
              </p>
              <dl class="c-Dl_Origin u-Adjust_Mt-16">
                <div>
                  <dt>サポートサイト</dt>
                  <dd><a href="https://support.apple.com/ja-jp" target="_blank">https://support.apple.com/ja-jp</a>
                  </dd>
                </div>
                <div>
                  <dt>アプリ</dt>
                  <dd><a href="https://apps.apple.com/jp/app/apple-%E3%82%B5%E3%83%9D%E3%83%BC%E3%83%88/id1130498044?l=ja" target="_blank">Apple サポート</a>
                  </dd>
                </div>
                <div>
                  <dt>Apple サポートコミュニティ</dt>
                  <dd><a href="https://discussionsjapan.apple.com/welcome" target="_blank">https://discussionsjapan.apple.com/welcome</a>
                  </dd>
                </div>
                <div>
                  <dt>修理受付</dt>
                  <dd><a href="https://support.apple.com/ja-jp" target="_blank">https://support.apple.com/ja-jp/repair</a>
                  </dd>
                </div>
                <div>
                  <dt>電話番号</dt>
                  <dd><a href="tel:0120277535">0120-277-535</a>
                  </dd>
                </div>
                <div>
                  <dt>受付時間</dt>
                  <dd>
                    <p>平日 9:00～19:00</p>
                    <p class="u-Adjust_Mt-8">土日祝日 9:00～17:00</p>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span>オウガ・ジャパン株式会社（OPPOカスタマーサポート）</span></button>
          <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel u-Adjust_Pl-0 u-Adjust_Pr-0" role="region" aria-labelledby="accordion-2" aria-hidden="true">
            <div>
              <h3 class="c-Heading_Lv3">OPPOカスタマーサポート</h3>
              <dl class="c-Dl_Origin u-Adjust_Mt-16">
                <div>
                  <dt>サポートサイト</dt>
                  <dd>
                    <a href="https://support.oppo.com/jp/" target="_blank">https://support.oppo.com/jp/</a>
                  </dd>
                </div>
                <div>
                  <dt>チャット</dt>
                  <dd>
                    <a href="https://chat-sg.oppo.com/chat/pc/v2/index.html?sysnum=5015ad22498b422ebf02d18e9a3f2111&channelid=12&product_name=&soft_version=" target="_blank">https://chat-sg.oppo.com/chat/pc/v2/index.html?sysnum=5015ad22498b422ebf02d18e9a3f2111&channelid=12&product_name=&soft_version=</a>
                  </dd>
                </div>
                <div>
                  <dt>メールでのお問い合わせ</dt>
                  <dd><a href="https://support.oppo.com/jp/email-us/" target="_blank">https://support.oppo.com/jp/email-us/</a>
                  </dd>
                </div>
                <div>
                  <dt>電話番号</dt>
                  <dd><a href="tel:0570-00-6776">0570-00-6776</a>（ナビダイヤル／通話料はお客様負担）<br>
                    <span class="c-Txt_Cap">※スマートフォンからもご利用いただけます。</span>
                  </dd>
                </div>
                <div>
                  <dt>受付時間</dt>
                  <dd>
                    <p>平日 10:00 ～ 19:00</p>
                    <p class="u-Adjust_Mt-8">土日祝日・年末年始（12/29~1/3） 休業</p>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span>サムスン電子ジャパン株式会社（Galaxyカスタマーサポートセンター）</span></button>
          <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel u-Adjust_Pl-0 u-Adjust_Pr-0" role="region" aria-labelledby="accordion-3" aria-hidden="true">
            <div>
              <h3 class="c-Heading_Lv3">Galaxyカスタマーサポートセンター</h3>
              <dl class="c-Dl_Origin u-Adjust_Mt-16">
                <div>
                  <dt>サポートサイト</dt>
                  <dd><a href="https://www.galaxymobile.jp/support/mobile-devices/how-to-contact-us-about-galaxy-products/" target="_blank">https://www.galaxymobile.jp/support/mobile-devices/how-to-contact-us-about-galaxy-products/</a></dd>
                </div>
                <div>
                  <dt>チャット</dt>
                  <dd>
                    サポートサイトからご確認ください。
                  </dd>
                </div>
                <div>
                  <dt>メールでのお問い合わせ</dt>
                  <dd><a href="https://forms-prod.sprinklr.com/guided-workflows/650bfb468738d0224ad5fb8e?gwId=653f7005148ad94f62cde07b&viewType=FULL_PAGE" target="_blank">https://forms-prod.sprinklr.com/guided-workflows/650bfb468738d0224ad5fb8e?gwId=653f7005148ad94f62cde07b&viewType=FULL_PAGE</a></dd>
                </div>
                <div>
                  <dt>電話番号</dt>
                  <dd><a href="tel:0120-363-905">0120-363-905</a>（フリーダイヤル）</dd>
                </div>
                <div>
                  <dt>受付時間</dt>
                  <dd>9:00 ～ 20:00（年中無休）</dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span>シャープ株式会社（シャープデータ通信サポートセンター）</span></button>
          <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel u-Adjust_Pl-0 u-Adjust_Pr-0" role="region" aria-labelledby="accordion-4" aria-hidden="true">
            <div>
              <h3 class="c-Heading_Lv3">シャープデータ通信サポートセンター</h3>
              <dl class="c-Dl_Origin u-Adjust_Mt-16">
                <div>
                  <dt>サポートサイト</dt>
                  <dd><a href="https://k-tai.sharp.co.jp/support/" target="_blank">https://k-tai.sharp.co.jp/support/</a></dd>
                </div>
                <div>
                  <dt>チャット</dt>
                  <dd><a href="https://k-tai.sharp.co.jp/support/shchat/" target="_blank">https://k-tai.sharp.co.jp/support/shchat/</a></dd>
                </div>
                <div>
                  <dt>修理受付</dt>
                  <dd><a href="https://k-tai.sharp.co.jp/support/other/repair.html" target="_blank">https://k-tai.sharp.co.jp/support/other/repair.html</a></dd>
                </div>
                <div>
                  <dt>電話番号</dt>
                  <dd><a href="tel:050-5846-5418">050-5846-5418</a>（通話料はお客様負担）</dd>
                </div>
                <div>
                  <dt>受付時間</dt>
                  <dd>10:00 ～ 17:00 <br>
                    <span class="c-Txt_Cap">※12/31、1/1を除く毎日</span>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span>ソニー株式会社（スマートフォン修理・相談窓口）</span></button>
          <div id="accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel u-Adjust_Pl-0 u-Adjust_Pr-0" role="region" aria-labelledby="accordion-5" aria-hidden="true">
            <div>
              <h3 class="c-Heading_Lv3">スマートフォン相談窓口</h3>
              <dl class="c-Dl_Origin u-Adjust_Mt-16">
                <div>
                  <dt>サポートサイト</dt>
                  <dd><a href="https://www.sony.jp/support/xperia-sp/" target="_blank">https://www.sony.jp/support/xperia-sp/</a></dd>
                </div>
                <div>
                  <dt>チャット</dt>
                  <dd><a href="https://www.sony.jp/support/mobile/inquiry/chat.html" target="_blank">https://www.sony.jp/support/mobile/inquiry/chat.html</a></dd>
                </div>
                <div>
                  <dt>LINE</dt>
                  <dd><a href="https://www.sony.jp/support/inquiry_line.html?s_tc=cs_sp_somc_support" target="_blank">https://www.sony.jp/support/inquiry_line.html?s_tc=cs_sp_somc_support</a></dd>
                </div>
                <div>
                  <dt>修理受付</dt>
                  <dd><a href="https://xperia.sony.jp/support/customercenter/others.html" target="_blank">https://xperia.sony.jp/support/customercenter/others.html</a></dd>
                </div>
                <div>
                  <dt>電話番号</dt>
                  <dd><a href="tel:050-3754-9013">050-3754-9013</a>（通話料はお客様負担）</dd>
                </div>
                <div>
                  <dt>受付時間</dt>
                  <dd>平日 10:00 ～ 18:00<br>
                    土・日・祝日 10:00 ～ 17:00
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-6"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span>ファーウェイ・テクノロジーズ・ジャパン株式会社（ファーウェイコールセンター）</span></button>
          <div id="accordion-content-6" class="c-Accordion_Panel js-Accordion_Panel u-Adjust_Pl-0 u-Adjust_Pr-0" role="region" aria-labelledby="accordion-6" aria-hidden="true">
            <div>
              <h3 class="c-Heading_Lv3">ファーウェイコールセンター</h3>
              <dl class="c-Dl_Origin u-Adjust_Mt-16">
                <div>
                  <dt>サポートサイト</dt>
                  <dd><a href="https://consumer.huawei.com/jp/support/" target="_blank">https://consumer.huawei.com/jp/support/</a></dd>
                </div>
                <div>
                  <dt>チャット</dt>
                  <dd><a href="https://consumer.huawei.com/jp/support/contact-us/" target="_blank">https://consumer.huawei.com/jp/support/contact-us/</a></dd>
                </div>
                <div>
                  <dt>メールでのお問い合わせ</dt>
                  <dd><a href="mailto:support.jp@huawei.com">support.jp@huawei.com</a>
                  </dd>
                </div>
                <div>
                  <dt>修理受付</dt>
                  <dd><a href="https://consumer.huawei.com/jp/support/content/ja-jp15957804/" target="_blank">https://consumer.huawei.com/jp/support/content/ja-jp15957804/</a></dd>
                </div>
                <div>
                  <dt>電話番号</dt>
                  <dd><a href="tel:0120-798-288">0120-798-288</a>（通話料無料）</dd>
                </div>
                <div>
                  <dt>受付時間</dt>
                  <dd>9:00 ～ 20:00（年中無休）</dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span>NECプラットフォームズ株式会社（Atermサポートデスク）</span></button>
          <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel u-Adjust_Pl-0 u-Adjust_Pr-0" role="region" aria-labelledby="accordion-1" aria-hidden="true">
            <div>
              <h3 class="c-Heading_Lv3">Atermサポートデスク</h3>
              <dl class="c-Dl_Origin u-Adjust_Mt-16">
                <div>
                  <dt>サポートサイト</dt>
                  <dd><a href="https://www.aterm.jp/support/index.html" target="_blank">https://www.aterm.jp/support/index.html</a>
                  </dd>
                </div>
                <div>
                  <dt>チャット</dt>
                  <dd><a href="https://www.aterm.jp/support/inquiry/index.html" target="_blank">https://www.aterm.jp/support/inquiry/index.html</a>
                  </dd>
                </div>
                <div>
                  <dt>メールでのお問い合わせ</dt>
                  <dd><a href="https://www.aterm.jp/contents/login/inquiry.html" target="_blank">https://www.aterm.jp/contents/login/inquiry.html</a>
                  </dd>
                </div>
                <div>
                  <dt>電話番号</dt>
                  <dd>
                    <a href="tel:0570550777">0570-550777</a><span>（通話料はお客様負担）</span>
                  </dd>
                </div>
                <div>
                  <dt>受付時間</dt>
                  <dd>
                    <p>月曜日～土曜日 9:00～17:00</p>
                    <p class="u-Adjust_Mt-8">日曜日 10:00～17:00</p>
                    <p class="u-Adjust_Mt-8">祝日・年末年始・特別休暇・システムメンテナンス時はお休み</p>
                    <p class="c-Txt_Cap">※詳細はサポートサイトをご確認ください</p>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-8" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-8"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span>楽天モバイル株式会社（楽天モバイル株式会社　コミュニケーションセンター）</span></button>
          <div id="accordion-content-8" class="c-Accordion_Panel js-Accordion_Panel u-Adjust_Pl-0 u-Adjust_Pr-0" role="region" aria-labelledby="accordion-8" aria-hidden="true">
            <div>
              <h3 class="c-Heading_Lv3">楽天モバイル株式会社　コミュニケーションセンター</h3>
              <dl class="c-Dl_Origin u-Adjust_Mt-16">
                <div>
                  <dt>サポートサイト</dt>
                  <dd>
                    <a href="<%= sitepath %>support/">https://network.mobile.rakuten.co.jp/support/</a>
                  </dd>
                </div>
                <div>
                  <dt>チャット</dt>
                  <dd>
                    <p>
                      以下のボタンをタップし、ログイン後に画面を下にスクロール（※）し、「チャットで問い合わせ」の項目をタップしてチャット相談をご利用ください。
                    </p>
                    <p class="c-Txt_Cap">※画面が自動でスクロールする場合もあります。</p>
                    <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                      <img src="<%= sitepath %>assets/img/common/capture-support-chat.png" alt="" width="300" height="148">
                    </div>
                    <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
                      <a href="https://onboarding.mobile.rakuten.co.jp/web-onboarding_support?action=supportChat" target="_blank" class="c-Btn_Regular">チャット相談を利用する</a>
                    </div>
                  </dd>
                </div>
                <div>
                  <dt>電話番号</dt>
                  <dd>
                    <a href="tel:050-5434-4653">050-5434-4653</a>（有料※）
                    <p class="c-Txt_Cap u-Adjust_Mt-8">※ Rakuten Linkからの通話は、通話料無料。通話かけ放題オプションサービス加入による対象時間内の通話は、通話料が発生しません。詳しくは<a href="<%= sitepath %>service/#service-list" class="c-Link_Txt">こちら</a>をご確認ください。</p>
                  </dd>
                </div>
                <div>
                  <dt>受付時間</dt>
                  <dd>
                    <p>
                      電話：9:00～17:00（年中無休）
                    </p>
                    <p>
                      チャット：9:00〜23:00
                    </p>
                    <ul class="c-List_Cap u-Adjust_Mt-8">
                      <li class="c-Txt_Cap"><span>※</span>お問い合わせは、ご契約者様ご本人よりお願いいたします。ご契約者様以外のお問い合わせは、事前に<a href="<%= sitepath %>faq/detail/10000563/" class="c-Link_Txt">こちら</a>をご確認ください。</li>
                      <li class="c-Txt_Cap"><span>※</span>営業時間外は、「最近よくあるご質問リンク集」のご案内をショートメッセージにて送付しております。ぜひご利用ください。</li>
                    </ul>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-10" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-10"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span>小米技術日本株式会社（Xiaomiカスタマーサービスセンター）</span></button>
          <div id="accordion-content-10" class="c-Accordion_Panel js-Accordion_Panel u-Adjust_Pl-0 u-Adjust_Pr-0" role="region" aria-labelledby="accordion-10" aria-hidden="true">
            <div>
              <h3 class="c-Heading_Lv3">Xiaomiカスタマーサービスセンター</h3>
              <dl class="c-Dl_Origin u-Adjust_Mt-16">
                <div>
                  <dt>サポートサイト</dt>
                  <dd>
                    <a href="https://www.mi.com/jp/support/" target="_blank" >https://www.mi.com/jp/support/</a>
                  </dd>
                </div>
                <div>
                  <dt>メールでのお問い合わせ</dt>
                  <dd>
                    <a href="https://www.mi.com/jp/support/offline-form" target="_blank" >https://www.mi.com/jp/support/offline-form</a>
                  </dd>
                </div>
                <div>
                  <dt>電話番号</dt>
                  <dd><a href="tel:0120-300-521">0120-300-521</a>（フリーダイヤル）
                  </dd>
                </div>
                <div>
                  <dt>受付時間</dt>
                  <dd>
                    9:00～18:00（弊社規定休業日を除く）
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="u-Adjust_Pt-40">
      <div><a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップにもどる</span></a></div>
      <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a></div>
    </div>

  </div>
</div>




<footer class="g-Footer">

  <div class="g-Footer_Aside">



    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>
  <div class="l-System_Container">
  <div class="c-Breadcrumbs_Foot">
    <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
  </div>
</div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>



</body>
</html>
