<% const pagetitle = "Rakuten最強プランプロジェクト進行中！" -%>
<% const directories = [{path:"area/", label:"通信・エリア"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '快適な通信環境をご提供するため「Rakuten最強プランプロジェクト」進行中！全国各地の楽天モバイル基地局設置情報をご確認いただけます。',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/area/saikyo-plan-project/saikyo-plan-project.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="area-saikyo-plan-project-Hero">
  <h1>
    <picture>
      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/area/saikyo-plan-project/kv-sp.png" width="750" height="480">
      <source media="(max-width: <%= themeGlb.max.l %>)" srcset="<%= sitepath %>assets/img/area/saikyo-plan-project/kv-pc.png" width="2880" height="480">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAC0lEQVQYV2NgAAIAAAUAAarVyFEAAAAASUVORK5CYII=" width="240" height="240" alt="つながるエリア、ぞくぞく。あなたの住む街でも快適に。Rakuten最強プランプロジェクト進行中！">
    </picture>
  </h1>
</div>

<div class="area-saikyo-plan-project-Layout">
  <div class="l-System_Container">
  <p class="u-Adjust_Mt-16">楽天モバイルでは、お客様に快適な通信環境をご提供するため「Rakuten最強プラン」プロジェクトに取り組んでおります。<br>
    全国各地の楽天モバイル基地局設置情報は、こちらのページでご案内いたします。</p>

  <p class="c-Txt_Cap u-Adjust_Mt-16">※サービスエリアマップの情報更新は後日となります。実際のサービス利用可能エリアは<a href="<%= sitepath %>area/?l-id=area-saikyo-plan-project-area">サービスエリアマップ</a>でご確認ください。</p>
  <p class="c-Txt_Cap u-Adjust_Mt-8">※同一市区町村で基地局設置完了場所・完了日が複数ある場合は、最新情報としてまとめて記載しております。</p>

  <div class="c-Theme-Light area-saikyo-plan-project-Layout_Theme u-Adjust_Mt-40">
    <dl>

      <div>
        <dt class="c-Txt_Emp-01">2024年5月14日更新<span class="c-Label_Emp u-Adjust_Ml-8">NEW</span></dt>
        <dd>
          <ul class="c-List_Text-disc u-Adjust_Mt-8">
            <li>2024年4月16日～30日に、全国40都道府県102市区町村で新たな楽天モバイル基地局を設置しました。</li>
          </ul>
        </dd>
      </div>

      <div class="u-Adjust_Mt-16">
        <dt class="c-Txt_Emp-01">2024年4月24日更新</dt>
        <dd>
          <ul class="c-List_Text-disc u-Adjust_Mt-8">
            <li>2024年4月1日～15日に、全国36都道府県106市区町村で新たな楽天モバイル基地局を設置しました。</li>
          </ul>
        </dd>
      </div>

    </dl>
  </div>

  <h2 class="c-Heading_Lv2 u-Adjust_Mt-40">基地局が新設・増設された地域</h2>
  <p class="c-Txt_Emp-01 u-Adjust_Mt-8" data-ratid="area_saikyo-plan-project_scroll-01" data-ratevent="appear" data-ratparam="all">2024年4月16日～4月30日情報</p>

  <%# 使用JS: saikyo-plan-project.js %>

  <% const prefLists = [
  { pref: "北海道", id: "hokkaido" },
  { pref: "青森県", id: "aomori" },
  { pref: "岩手県", id: "iwate" },
  { pref: "宮城県", id: "miyagi" },
  { pref: "秋田県", id: "akita" },
  { pref: "山形県", id: "yamagata" },
  { pref: "福島県", id: "fukushima" },
  { pref: "茨城県", id: "ibaraki" },
  { pref: "栃木県", id: "tochigi" },
  { pref: "群馬県", id: "gunma" },
  { pref: "埼玉県", id: "saitama" },
  { pref: "千葉県", id: "chiba" },
  { pref: "東京都", id: "tokyo" },
  { pref: "神奈川県", id: "kanagawa" },
  { pref: "新潟県", id: "niigata" },
  { pref: "富山県", id: "toyama" },
  { pref: "石川県", id: "ishikawa" },
  { pref: "福井県", id: "fukui" },
  { pref: "山梨県", id: "yamanashi" },
  { pref: "長野県", id: "nagano" },
  { pref: "岐阜県", id: "gifu" },
  { pref: "静岡県", id: "shizuoka" },
  { pref: "愛知県", id: "aichi" },
  { pref: "三重県", id: "mie" },
  { pref: "滋賀県", id: "shiga" },
  { pref: "京都府", id: "kyoto" },
  { pref: "大阪府", id: "osaka" },
  { pref: "兵庫県", id: "hyogo" },
  { pref: "奈良県", id: "nara" },
  { pref: "和歌山県", id: "wakayama" },
  { pref: "鳥取県", id: "tottori" },
  { pref: "島根県", id: "shimane" },
  { pref: "岡山県", id: "okayama" },
  { pref: "広島県", id: "hiroshima" },
  { pref: "山口県", id: "yamaguchi" },
  { pref: "徳島県", id: "tokushima" },
  { pref: "香川県", id: "kagawa" },
  { pref: "愛媛県", id: "ehime" },
  { pref: "高知県", id: "kochi" },
  { pref: "福岡県", id: "fukuoka" },
  { pref: "佐賀県", id: "saga" },
  { pref: "長崎県", id: "nagasaki" },
  { pref: "熊本県", id: "kumamoto" },
  { pref: "大分県", id: "oita" },
  { pref: "宮崎県", id: "miyazaki" },
  { pref: "鹿児島県", id: "kagoshima" },
  { pref: "沖縄県", id: "okinawa" },
]; -%>

  <div class="u-Adjust_Mt-32" id="dataSet" style="display: none;">
    <div class="c-Theme-Light">
      <p>知りたい都道府県を選択してください。</p>
      <div class="c-Form_Select area-saikyo-plan-project-Layout_Select u-Adjust_Mt-16">
        <select id="js-option" data-ratid="saikyo-plan-project_prefecture_pulldown_01" data-ratevent="click" data-ratparam="all">
          <option value="">すべて</option>
          <%_ prefLists.forEach(function (prefList) { _%>
            <option value="<%= prefList.id %>" id="js-option-<%= prefList.id %>"><%= prefList.pref %></option>
          <%_ }) _%>
        </select>
        <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
      </div>
    </div>

    <%_ prefLists.forEach(function (prefList) { _%>
      <div id="js-table-<%= prefList.id %>" class="js-table">
        <h2 class="c-Heading_Lv3 u-Adjust_Mt-32"><%= prefList.pref %></h2>
        <div class="u-Adjust_Mt-16">
          <table class="c-Table_Container">
            <colgroup>
              <col width="50%">
              <col width="50%">
            </colgroup>
            <thead>
              <tr>
                <th>市区町村</th>
                <th>基地局設置完了日</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    <%_ }) _%>
  </div>
  <div id="dataLoad" class="u-Adjust_Mt-16 u-Adjust_Align-center">
    <div class="area-saikyo-plan-project-Layout_Loading"><div>読み込み中</div></div>
  </div>

  <div class="u-Adjust_Mt-48">
  <div class="u-Rat_Appear-height" data-ratid="area_saikyo-plan-project_scroll-02" data-ratevent="appear" data-ratparam="all"></div>
  <div class="c-Accordion">
    <button id="accordion-past-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-past-1" data-ratid="saikyo-plan-project_prefecture_pulldown_02" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>2024年4月1日～4月15日情報</button>
    <div id="accordion-content-past-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-past-1" aria-hidden="false">
      <div class="c-Theme-Light">
        <p>知りたい都道府県を選択してください。</p>
        <div class="c-Form_Select area-saikyo-plan-project-Layout_Select u-Adjust_Mt-16">
          <select id="js-option-past" data-ratid="saikyo-plan-project_prefecture_pulldown_03" data-ratevent="click" data-ratparam="all">
            <option value="">すべて</option>
            <%_ prefLists.forEach(function (prefList) { _%>
              <option value="<%= prefList.id %>" id="js-option-past-<%= prefList.id %>"><%= prefList.pref %></option>
            <%_ }) _%>
          </select>
          <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
        </div>
      </div>

      <%_ prefLists.forEach(function (prefList) { _%>
        <div id="js-table-past-<%= prefList.id %>" class="js-table-past">
          <h2 class="c-Heading_Lv3 u-Adjust_Mt-32"><%= prefList.pref %></h2>
          <div class="u-Adjust_Mt-16">
            <table class="c-Table_Container">
              <colgroup>
                <col width="50%">
                <col width="50%">
              </colgroup>
              <thead>
                <tr>
                  <th>市区町村</th>
                  <th>基地局設置完了日</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      <%_ }) _%>
    </div>
  </div>
  </div>

  <p class="c-Txt_Cap u-Adjust_Mt-32">※データ高速無制限エリアであっても、地下、屋内、大きな商業ビルの屋内等の場所、電波の状況等によって通信速度が変化する場合あり</p>

  <div class="u-Adjust_Mt-48">
    <a href="<%= sitepath %>area/" class="c-Btn_Regular">通信・エリアトップへ</a>
  </div>

</div>

<div class="u-Rat_Appear-height" data-ratid="area_saikyo-plan-project_scroll-03" data-ratevent="appear" data-ratparam="all"></div>

</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-area-v2.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%#- include('/faq/include/related-area.ejs') %>

  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/area.saikyo-plan-project.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
