<% const pagetitle = "スマホ操作遠隔サポート（お申し込み方法・ご利用方法）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/plan/service/", label:"オプションサービス"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '「スマホ操作遠隔サポート」のお申し込み方法・設定方法・ご利用方法はこちら。テクニカル分野に精通したプロの専任オペレータが、さまざまなデジタルデバイスのお困りごとにお答えするサービスです。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

    <div class="u-Adjust_Mt-32">
      <ul>
        <li><a href="<%= sitepath %>service/remote-support-for-device-operation/" class="c-Btn_Regular"><span>特長・サービス内容を見る</span></a></li>
      </ul>
    </div>

    <ul class="<%= nameSpace %>-Layout_Anchorlink">
      <li><a href="#howto-apply" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>お申し込み方法</a></li>
      <li><a href="#howto-use" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>ご利用方法</a></li>
    </ul>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="howto-apply">お申し込み方法</h2>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">楽天モバイル新規ご契約時</h3>
    <p class="u-Adjust_Mt-24">
      お申し込みの際、料金プラン詳細画面にある「サービス」の項目から「追加する」ボタンを押してください。
    </p>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">楽天モバイルご契約中</h3>
    <div class="c-Tab js-Tab u-Adjust_Mt-24">
  <ul class="c-Tab_Items" role="tablist">
    <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">Webでお手続き</li>
    <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">アプリでお手続き</li>
  </ul>
  <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
    <ul class="u-Adjust_Mt-16 c-Flow">
      <li>
        <h4 class="c-Heading_Lv4">
          1. my 楽天モバイル「契約プラン」画面を開く
        </h4>
        <p class="u-Adjust_Mt-16 c-Txt_Cap">※「契約プランへ進む」をタップしてログインすると、手順２の画面が表示されます。</p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/" class="c-Link_Txt">[my
            楽天モバイル]ログインできません</a>」をご確認ください。</p>
        <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
          <a href="https://portal.mobile.rakuten.co.jp/dashboard#plans" target="_blank" class="c-Btn_Secondly-large"
            data-ratId="guide_ecare_plans" data-ratEvent="click" data-ratParam="all">契約プランへ進む</a>
        </p>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          2.「オプションサービスの追加・解約」をタップする
        </h4>
        <div class="c-Accordion u-Adjust_Mt-16">
          <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイルを2回線以上ご契約中の場合</button>
          <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
            <p class="u-Adjust_Mt-8">楽天モバイルを2回線以上契約されている場合は、以下の手順で表示する電話番号を切り替えることができます。</p>
            <h5 class="c-Heading_Lv5 u-Adjust_Mt-24">1. 画面で表示されている電話番号をタップする</h5>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/change-2over-flow-01-230623.png" alt="" width="298" height="139" loading="lazy" class="c-Img_Capture"></div>
            <h5 class="c-Heading_Lv5 u-Adjust_Mt-16">2. 回線を表示したい電話番号をタップする</h5>
            <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>チェックがついている電話番号が、現在表示されている回線です。</p>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/change-2over-flow-02-230623.png" alt="" width="298" height="243" loading="lazy" class="c-Img_Capture"></div>
            <h5 class="c-Heading_Lv5 u-Adjust_Mt-16">3. 表示されている電話番号が切り替わっていることを確認する</h5>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/change-2over-flow-03-230623.png" alt="" width="298" height="222" loading="lazy" class="c-Img_Capture"></div>
          </div>
        </div>
        <div>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
              src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/img-05-230623.png" width="300"
              height="" alt="" class="c-Img_Capture"></figure>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          3. オプションサービス内の「スマホ操作遠隔サポート」にチェックを入れ、画面下部の「変更する」をタップ
        </h4>
        <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
          <img src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/img-06-230623.png" width="311" height="759" loading="lazy" alt="" class="c-Img_Capture">
        </div>
      </li>
    </ul>
  </div>
  <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
    <ul class="u-Adjust_Mt-16 c-Flow">
      <li>
        <h4 class="c-Heading_Lv4">
          1. my 楽天モバイルを起動する
        </h4>
        <div class="u-Adjust_Mt-24">
          <div class="c-Box_App">
            <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt="my 楽天モバイル"></div>
            <div class="c-Box_App-txt">
              <p class="c-Box_App-ttl">my 楽天モバイル</p>
              <ul class="c-Box_App-link u-Adjust_Mt-16">
                <li><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" height="44" alt=""></a></li>
                <li><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></li>
                <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          2. 画面下の「契約プラン」をタップする
        </h4>
        <p class="u-Adjust_Mt-16">現在の通話サービスやオプションサービスのご契約状況をご確認いただけます。</p>
        <div class="">
            <div class="l-Media_Image">
                <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/users-information/img-01.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
            </div>
            <div>
            </div>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          3.「オプションサービスの追加・解約」をタップする
        </h4>
        <div class="c-Accordion u-Adjust_Mt-16">
          <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイルを2回線以上ご契約中の場合</button>
          <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
            <p class="u-Adjust_Mt-8">楽天モバイルを2回線以上契約されている場合は、以下の手順で表示する電話番号を切り替えることができます。</p>
            <h5 class="c-Heading_Lv5 u-Adjust_Mt-24">1. 画面で表示されている電話番号をタップする</h5>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/change-2over-flow-01-230623.png" alt="" width="298" height="139" loading="lazy" class="c-Img_Capture"></div>
            <h5 class="c-Heading_Lv5 u-Adjust_Mt-16">2. 回線を表示したい電話番号をタップする</h5>
            <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>チェックがついている電話番号が、現在表示されている回線です。</p>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/change-2over-flow-02-01-230623.png" alt="" width="298" height="243" loading="lazy" class="c-Img_Capture"></div>
            <h5 class="c-Heading_Lv5 u-Adjust_Mt-16">3. 表示されている電話番号が切り替わっていることを確認する</h5>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/change-2over-flow-03-230623.png" alt="" width="298" height="222" loading="lazy" class="c-Img_Capture"></div>
          </div>
        </div>
        <div class="">
            <div class="l-Media_Image">
                <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/img-02-230623.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
            </div>
            <div>
            </div>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          ４.オプションサービス内の「スマホ操作遠隔サポート」にチェックを入れ、画面下部の「変更する」をタップする
        </h4>
        <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
          <img src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/img-03-230623.png" width="311" height="761" loading="lazy" alt="" class="c-Img_Capture">
        </div>
      </li>
    </ul>
  </div>
</div>
<p class="u-Adjust_Mt-32">以上でお申し込みは完了です。<br>
別途申し込み完了メールが届くのでご確認ください。</p>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="howto-use">ご利用方法</h2>
    <!-- ######################################################################################################################## -->
    <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">専用アプリ「遠隔サポート」のインストール</h3>
    <p class="u-Adjust_Mt-24">インストール手順は、以下3種の中から、ご利用中の製品が該当する手順をご確認ください。</p>
    <p class="c-Txt_Cap">※専用アプリ「遠隔サポート」のインストールにはGoogleアカウント／Apple IDが必要です。</p>
    <div class="c-Tab js-Tab u-Adjust_Mt-40">
      <ul class="c-Tab_Items" role="tablist">
        <li class="c-Tab_Item" id="tab-menu3" role="tab" aria-selected="true" aria-controls="tab-content3">Android</li>
        <li class="c-Tab_Item" id="tab-menu4" role="tab" aria-selected="false" aria-controls="tab-content4">iOS</li>
        <li class="c-Tab_Item" id="tab-menu5" role="tab" aria-selected="false" aria-controls="tab-content5">パソコン</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content3" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu3">
        <p class="u-Adjust_Mt-16 c-Txt_Cap">※ Androidのバージョン、機種によっては、セキュリティの警告画面が表示される場合がございます。その際は「許可」、「有効にする」など、承諾する項目を選択し、インストール作業を進めてください。<br>
          ※ 画像は2020年11月2日時点のものです。</p>
        <ul class="u-Adjust_Mt-16 c-Flow">
          <li>
            <h4 class="c-Heading_Lv4">
              1.左のQRコードより「遠隔サポートサービス（<a href="https://113366.com" target="_blank" class="c-Link_Txt">https://113366.com</a>）」にアクセスします。
            </h4>
            <div class="">
              <div class="l-Media_Image">
                <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/qr.png" width="300" height=""　alt="" class="c-Img_Capture"></figure>
              </div>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              2.アプリインストール専用サイトへ遷移し、「遠隔サポートをダウンロード」をタップします。
            </h4>
            <div class="">
              <div class="l-Media_Image">
                  <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/android2.jpg" width="300" height="" alt="" class="c-Img_Capture"></figure>
              </div>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              3.「Google Play ストア」を選択し、ダウンロードを実行します。
            </h4>
            <div class="">
              <div class="l-Media_Image">
                  <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/android3.jpg" width="300" height="" alt="" class="c-Img_Capture"></figure>
              </div>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              4.「遠隔サポート」のインストール画面で「インストール」をタップします。
            </h4>
            <div class="">
              <div class="l-Media_Image">
                  <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/android4.jpg" width="300" height="" alt="" class="c-Img_Capture"></figure>
              </div>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              5.インストールが完了次第「開く」をタップし、「遠隔サポート - RemoteCall」を起動します。
            </h4>
            <div class="">
              <div class="l-Media_Image">
                  <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/android5.jpg" width="300" height="" alt="" class="c-Img_Capture"></figure>
              </div>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              6.お知らせ画面が表示されますので「確認」をタップします。
            </h4>
            <div class="">
              <div class="l-Media_Image">
                  <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/android6.jpg" width="300" height="" alt="" class="c-Img_Capture"></figure>
              </div>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              7.「権限の設定」をタップし、設定画面のスイッチをONにします。
            </h4>
            <div class="">
              <div class="l-Media_Image">
                  <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/android7.jpg" width="300" height="" alt="" class="c-Img_Capture"></figure>
                  <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/android7-2.jpg" width="300" height="" alt="" class="c-Img_Capture"></figure>
              </div>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              8.遠隔サポートの画面に戻り「権限の設定」をタップし、設定画面のスイッチをONにします。
            </h4>
            <div class="">
              <div class="l-Media_Image">
                  <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/android8.jpg" width="300" height="" alt="" class="c-Img_Capture"></figure>
                  <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/android8-2.jpg" width="300" height="" alt="" class="c-Img_Capture"></figure>
              </div>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              9.遠隔サポートの画面に戻ると以下の表示が出るので「許可する」をタップします。
            </h4>
            <div class="">
              <div class="l-Media_Image">
                  <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/android9.jpg" width="300" height="" alt="" class="c-Img_Capture"></figure>
              </div>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              10.遠隔サポートの画面に戻ると以下の表示が出るので「許可する」をタップします。
            </h4>
            <div class="">
              <div class="l-Media_Image">
                  <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/android10.jpg" width="300" height="" alt="" class="c-Img_Capture"></figure>
              </div>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              11.インストールが完了後「遠隔サポート」にテンキーが表示されます。
            </h4>
            <div class="">
              <div class="l-Media_Image">
                  <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/android11.jpg" width="300" height="" alt="" class="c-Img_Capture"></figure>
              </div>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              12.ホーム画面に戻り「遠隔サポート」のアイコンが出ていることを確認し、インストール作業は終了となります。
            </h4>
            <div class="">
              <div class="l-Media_Image">
                  <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/android12.jpg" width="300" height="" alt="" class="c-Img_Capture"></figure>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="c-Tab_Panel" id="tab-content4" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu4">
        <ul class="u-Adjust_Mt-24 c-Flow">
          <li>
            <h4 class="c-Heading_Lv4">
              1.左のQRコードより「遠隔サポートサービス（<a href="https://113366.com" target="_blank" class="c-Link_Txt">https://113366.com</a>）」にアクセスします。
            </h4>
            <div class="">
              <div class="l-Media_Image">
                <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/qr.png" width="300" height=""　alt="" class=""></figure>
              </div>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              2.「遠隔サポート」のインストール画面で「入手」をタップしインストールを開始します。
            </h4>
            <div class="">
              <div class="l-Media_Image">
                <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/iphone1.png" width="300" height=""　alt="" class=""></figure>
              </div>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              3.インストールが完了したら「開く」をタップしアプリを起動します。
            </h4>
            <div class="">
              <div class="l-Media_Image">
                <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/iphone2.png" width="300" height=""　alt="" class=""></figure>
              </div>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              4.インストールが完了後「遠隔サポート」にテンキーが表示されます。
            </h4>
            <div class="">
              <div class="l-Media_Image">
                <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/iphone3.png" width="300" height=""　alt="" class=""></figure>
              </div>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              5.ホーム画面に戻り「遠隔サポート」のアイコンが出ていることを確認し、インストール作業は終了となります。
            </h4>
            <div class="">
              <div class="l-Media_Image">
                <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/iphone4.png" width="300" height=""　alt="" class=""></figure>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="c-Tab_Panel" id="tab-content5" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu3">
        <ul class="u-Adjust_Mt-24 c-Flow">
          <li>
            <h4 class="c-Heading_Lv4">
              1.「遠隔サポートサービス（<a href="https://113366.com" target="_blank" class="c-Link_Txt">https://113366.com</a>）」にアクセスします。
            </h4>
            <div class="">
              <div class="l-Media_Image">
                <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/pc1.png" width="300" height=""　alt="" class=""></figure>
              </div>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              2.「遠隔サポート」専用ページの表示サイト下部にある、青文字の「遠隔サポート開始」をクリックします。
            </h4>
            <div class="">
              <div class="l-Media_Image">
                <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/pc1.png" width="300" height=""　alt="" class=""></figure>
              </div>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              3.プログラムの情報が表示されたら、「ファイルダウンロード」をクリックし実行ファイルをダウンロードします。
            </h4>
            <div class="">
              <div class="l-Media_Image">
                <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/pc2.png" width="300" height=""　alt="" class=""></figure>
              </div>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              4.ファイルのダウンロードを完了したら、実行ファイルを起動します。
            </h4>
            <p class="c-Txt_Cap">※ブラウザによって、ダウンロードしたファイルの表示場所は異なります。</p>
            <div class="">
              <div class="l-Media_Image">
                <p class="u-Adjust_Align-center">Google Chrome</p>
                <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/pc3.png" width="300" height=""　alt="" class=""></figure>
              </div>
              <div class="l-Media_Image">
                <p class="u-Adjust_Align-center">Internet Explorer</p>
                <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/pc4.png" width="300" height=""　alt="" class=""></figure>
              </div>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              5.プログラムのインストールが完了すると接続コードの入力画面が表示されます。
            </h4>
            <div class="">
              <div class="l-Media_Image">
                <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/pc5.png" width="300" height=""　alt="" class=""></figure>
              </div>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              6.パソコンのデスクトップに「Rsupport接続プログラム」のアイコンが表示されましたら完了となります。
            </h4>
            <div class="">
              <div class="l-Media_Image">
                <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/pc6.png" width="300" height=""　alt="" class=""></figure>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <p class="u-Adjust_Mt-16">インストール完了後、遠隔サポートをご利用になる際は、専用フリーダイヤルまでご連絡ください。<br>
      オペレータより、遠隔サポートに必要な6桁の番号をお伝えいたします。<br>
      （専用フリーダイヤルは、お申込み完了メールにてご確認が出来ます。）</p>
    <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">「スマホ操作遠隔サポート」のご利用方法</h3>
    <ul class="u-Adjust_Mt-24 c-Flow">
      <li>
        <h4 class="c-Heading_Lv4">
          1.スマホ遠隔サポートセンターに電話をかけます。
        </h4>
        <div class="">
          <div class="l-Media_Image">
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/img-07.png?210930" width="300" height=""　alt="" class=""></figure>
          </div>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4">
          2.アプリを起動し、電話口のオペレータから案内される6桁の番号を入力して、遠隔サポート開始します。
        </h4>
        <div class="">
          <div class="l-Media_Image">
            <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/remote-support-for-device-operation/img-08.png?210930" width="300" height=""　alt="" class="c-Img_Capture"></figure>
          </div>
        </div>
      </li>
    </ul>
    <!-- ######################################################################################################################## -->
    <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">設定</h3>
    <p class="u-Adjust_Mt-24">
      my 楽天モバイルから、以下の設定ができます。
    </p>
    <ul class="c-List_Text-disc u-Adjust_Pt-16">
      <li>スマホ操作遠隔サポートのお申し込み・ご利用停止</li>
    </ul>

    <div class="u-Adjust_Mt-24">
      <ul>
        <li><a href="#<%= nameSpace %>-App" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>my 楽天モバイル</a></li>
      </ul>
    </div>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">サポート対象範囲</h3>
    <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">機器</h4>
    <dl class="c-Dl_Origin u-Adjust_Mt-16">
      <div>
        <dt>サポート対象</dt>
        <dd>パソコン本体、モニタ、キーボード、マウス、ルータ、無線LAN アクセスポイント、ハブLANカード等のネットワーク機器、ネットワーク接続可能なゲーム機器</dd>
      </div>
      <div>
        <dt>サポート範囲</dt>
        <dd>インターネット接続設定、家庭内ネットワークとの接続、マニュアルに記載された基本的操作</dd>
      </div>
    </dl>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-48">OS</h4>
    <dl class="c-Dl_Origin u-Adjust_Mt-16">
      <div>
        <dt>サポート対象</dt>
        <dd>Android 5.0〜13.x／iOS 13.0～17.x（iPadOS 13.0～17.x）／Windows 10 (～22h2) 、Windows 11 (～22h2) 、 Windows Server 2016、 Windows Server 2019／MacOS 10.15（Catalina）～13（Ventura） ／ChromeOS 100以上（最新版を推奨）</dd>
      </div>
      <div>
        <dt>サポート範囲</dt>
        <dd>インストール方法、個人利用を想定した基本的な操作方法、簡易診断</dd>
      </div>
    </dl>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-48">ソフトウェア</h4>
    <dl class="c-Dl_Origin u-Adjust_Mt-16">
      <div>
        <dt>サポート対象</dt>
        <dd>ブラウザ、メーラー、メディアプレーヤー、ウイルス対策、文書作成、接続ツール</dd>
      </div>
      <div>
        <dt>サポート範囲</dt>
        <dd>インストール方法、初期設定、個人利用を想定した基本的な操作方法、診断</dd>
      </div>
    </dl>

    <h4 class="c-Heading_Lv4 u-Adjust_Mt-48">接続サービス</h4>
    <dl class="c-Dl_Origin u-Adjust_Mt-16">
      <div>
        <dt>サポート対象</dt>
        <dd>FTTH サービス、DSL サービス、データ通信カード、プロバイダサービス、インターネット上の各種サービス</dd>
      </div>
      <div>
        <dt>サポート範囲</dt>
        <dd>インターネット接続設定、初期設定、個人利用を想定した基本的な操作方法</dd>
      </div>
    </dl>

    <ul class="c-List_Cap u-Adjust_Mt-32">
      <li><span>※</span>サポート対象のOSは2023年10月時点の内容です。</li>
      <li><span>※</span>2023年10月31日（火）追記：2023年3月時点として記載されていましたOSのサポート対象に一部誤りがございました。「Windows 7、Windows Server 2008 R1 R2」は2022年5月31日（火） 、「Windows8、Windows8.1」は2023年1月31日（火）を持ちましてサポートが終了しております。</li>
    </ul>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">注意事項</h3>
    <ul class="c-List_Text-disc u-Adjust_Pt-16">
      <li>月途中で加入または解約された場合、月額利用料が日割りとなります。</li>
      <li>ネットワーク通信機能のあるすべてのスマートデバイスなどは公開されているホームページや取扱説明書などを確認し、できる限りのサポートをいたします。ただし、一部対象外となる場合があります。</li>
      <li>本サービスをご利用になれるのは、本サービスのご契約者ご本人様のみとなります。ご契約者様以外の方による利用が確認された場合は、サポートをお断りさせていただきますので、ご了承ください。</li>
    </ul>

    <div class="u-Adjust_Mt-64">
      <h3 class="c-Heading_Lv4" id="<%= nameSpace %>-App">アプリからご利用の方はこちら</h3>
      <div class="c-Box_App u-Adjust_Mt-24">
        <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt="my 楽天モバイル"></div>
        <div class="c-Box_App-txt">
          <p class="c-Box_App-ttl">my 楽天モバイル</p>
          <ul class="c-Box_App-link u-Adjust_Mt-16">
            <li class="<%= nameSpace %>-App_Btn-store">
              <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
              <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
            </li>
            <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
          </ul>
        </div>
      </div>
      <h3 class="c-Heading_Lv4 u-Adjust_Mt-40">Webからご利用の方はこちら</h3>
      <div class="u-Adjust_Mt-16">
        <a href="<%= ecarepath %>my-rakuten-mobile" class="c-Btn_Regular"><span>my 楽天モバイル</span></a>
      </div>
    </div>

    <div class="u-Adjust_Pt-40">
      <div><a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップにもどる</span></a></div>
      <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a></div>
    </div>

  </div>
</div>


<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>

  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
