<% const pagetitle = "Rakuten UN-LIMIT移行申し込みでGalaxy A7本体代ほぼ全額ポイント還元" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "a7-campaign" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイル（ドコモ回線・au回線）から「Rakuten UN-LIMIT」に移行いただきGalaxy A7をご購入いただくと、18,699円相当のポイントを還元いたします。',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/a7-campaign/a7-campaign.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= namespace %>-Hero">
  <div class="l-System_Container">
    <p class="<%= namespace %>-Hero_Head-note">※表記の金額は記載がない限りすべて税別です。</p>
    <h1><img src="<%= sitepath %>assets/img/campaign/a7-campaign/img-a7-campaign_hero.png" alt="スマホ本体代を超えるポイント大還元 最大24,999ポイント還元 オンラインでGalaxy A7購入とRakuten UN-LIMITへプラン変更で" width="967" height="400" class="<%= namespace %>-Utility_Img-pc"><img src="<%= sitepath %>assets/img/campaign/a7-campaign/img-a7-campaign_hero-sp.png" alt="" class="<%= namespace %>-Utility_Img-sp"></h1>
  </div>
</div>

<div class="<%= namespace %>-Layout_Body">
  <div class="l-System_Container">

    <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-16 u-Adjust_Align-center">本キャンペーンは終了しました。</p>

    <div class="<%= namespace %>-Layout_Rule" id="campaign-rule">
      <h2>【楽天モバイル（ドコモ回線・au回線）ユーザー限定】スマホ本体代ほぼ全額分返ってくるキャンペーン</h2>
      <div class="c-Table_Wrap u-Adjust_Mt-24">
        <table class="c-Table_Container <%= namespace %>-Table_Rule">
          <colgroup>
            <col>
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th>キャンペーン期間</th>
              <td>
                <p>Web：2020年5月27日(水)9:00～2020年6月17日(水)8:59<br>Shop：2020年5月27日(水)開店～2020年6月16日(火)閉店</p>
                <ul class="c-List_Cap u-Adjust_Mt-16">
                  <li><span>※</span>「プラン料金1年間無料キャンペーン」のお申し込みが300万名に達し次第終了</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>特典</th>
              <td>
                <p>楽天ポイント18,699ポイントをプレゼント</p>
              </td>
            </tr>
            <tr>
              <th>特典対象</th>
              <td>
                <p>以下の条件を全て満たした楽天会員の方</p>
                <ul class="c-List_Text-disc u-Adjust_Mt-8">
                  <li>キャンペーン期間中に、キャンペーンページでエントリーをし、
                    「Rakuten UN-LIMIT」に楽天モバイル（ドコモ回線・au回線）の料金プランから移行手続き後、お申し込み翌月末日23:59までに開通</li>
                  <li>キャンペーン期間中にGalaxy A7を購入</li>
                </ul>
                <ul class="c-List_Cap u-Adjust_Mt-16">
                  <li><span>※</span>特典は1回線につき1回のみとさせていただきます。</li>
                  <li><span>※</span>2回線目以降の契約に基づく2回目以降のポイント付与は、料金のお支払いを確認できた場合。</li>
                  <li><span>※</span>「Rakuten UN-LIMIT」（SIM）のお申し込みとGalaxy A7の購入は同タイミングである必要はございません。</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>ポイント付与</th>
              <td>
                <p>楽天ポイントの付与は、開通完了月の3カ月後の下旬ごろまでに行います</p>
                <p>付与される楽天ポイントの有効期間はポイント付与日を含めて6カ月です</p>
                <ul class="c-List_Cap u-Adjust_Mt-8">
                  <li><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</li>
                  <li><span>※</span>権利の譲渡はできません</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>特典対象外</th>
              <td>
                <p>以下の条件に当てはまる場合は、特典適用対象外となる場合がございます</p>
                <ul class="c-List_Cap u-Adjust_Mt-8">
                  <li><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
                  <li><span>※</span>当社の提供するサービスなどの料金のお支払いを、お支払期限までに行わなかった場合</li>
                  <li><span>※</span>本人確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
                  <li><span>※</span>当社の提供するサービスなどの料金のお支払いを、お支払期限までに行わなかった場合</li>
                  <li><span>※</span>当社または楽天株式会社が定める規約などに違反した場合</li>
                  <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
                  <li><span>※</span>楽天モバイル楽天市場店、楽天モバイルスマホ専門店、楽天スーパーDEALで購入した場合</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>注意事項</th>
              <td>
                <ul class="c-List_Cap u-Adjust_Mt-8 c-Txt_Emp-02">
                  <li><span>※</span>Rakuten UN-LIMITご紹介特典との併用はできません。紹介者様の楽天モバイルIDを入力しても無効になります</li>
                  <li><span>※</span>1回線のお申し込み内で、【楽天モバイル】Rakuten UN-LIMIT対象製品購入でポイント還元キャンペーンとの併用はできません</li>
                  <li><span>※</span>1回線のお申し込み内で、【Rakuten UN-LIMITお申し込み特典】Rakuten Mini本体代が1円キャンペーンとの併用はできません</li>
                </ul>
                <ul class="c-List_Cap u-Adjust_Mt-8">
                  <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合がございます。あらかじめご了承ください。</li>
                  <li><span>※</span>製品の台数に限りがございます。無くなり次第終了とさせていただく場合がございます</li>
                  <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合がございます</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-news.ejs') %>

    <%- include('/include/footer/bnr/_bnr-news.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
