<% const pagetitle = "楽天ポイントの利用（お支払い方法）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/payment/payment/", label:"支払い方法の確認・変更"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天ポイントをお支払いに利用する方法のご案内。楽天モバイルで購入したスマートフォンや、月額料金のお支払いにポイントをご利用いただけます。期間限定ポイントも利用できるので便利！',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/payment/payment.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1">楽天ポイントの利用（お支払い方法）</h1>

    <p class="c-Txt_Normal u-Adjust_Mt-16">
      1ポイント＝1円としてご利用いただけます。
    </p>
    <ul class="c-List_Text-disc u-Adjust_Mt-8">
      <li>期間限定ポイント→通常ポイント→楽天キャッシュの順に利用されます。</li>
      <li>利用するポイント数を設定しておけば、毎月自動的に充当されて便利！</li>
    </ul>
    <p class="c-Txt_Emp-02 c-Txt_Cap u-Adjust_Mt-16"><span>※</span>楽天ポイント、楽天キャッシュにはそれぞれ一度にご利用いただける上限、1カ月にご利用いただける上限があります。詳しくは<a href="#accordion-1" class="js-scroll">注意事項</a>をご確認ください。</p>
    <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/point-payment/" class="c-Link_Txt-inline">楽天ポイント利用の設定方法を見る<span class="c-Icon_Chevron-right"></span></a></p>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">お選びいただけるご利用項目</h2>
    <p class="c-Txt_Normal u-Adjust_Mt-16">
      ご指定のお支払い方法によって、ポイントをご利用いただける項目が異なります。
    </p>
    <ul class="c-List_Cap u-Adjust_Mt-8">
      <li class="c-Txt_Emp-02"><span>※</span>口座振替、代金引換ではポイントはご利用できませんのでご注意ください。</li>
    </ul>

    <div class="c-Table_Wrap-scroll u-Adjust_Mt-24">
      <table class="c-Table_Container u-Adjust_W-840">
        <colgroup>
          <col class="u-Adjust_W-120">
          <col class="u-Adjust_W-120">
          <col class="u-Adjust_W-200">
          <col class="u-Adjust_W-200">
          <col class="u-Adjust_W-200">
        <col>
        </colgroup>
        <thead>
          <tr>
            <th scope="col" colspan="2">お支払い方法</th>
            <th scope="col">クレジットカード<br>デビットカード</th>
            <th scope="col">口座振替</th>
            <th scope="col">代金引換</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2">月額料金、各種手数料<span class="c-Txt_Cap">※1</span>
              <button class="c-Tooltip js-Tooltip-inline" data-tippy-theme="default" data-tippy-content="有料サービス料金が含まれます">
                <span class="c-Icon_Stack c-Tooltip_Icon">
                  <span class="c-Icon_Sign-help-f c-Icon_Stack-icon-f"></span>
                  <span class="c-Icon_Sign-help-l c-Icon_Stack-icon-l"></span>
                </span>
              </button>
            </td>
            <td class="u-Adjust_Align-center">○</td>
            <td class="u-Adjust_Align-center">×</td>
            <td class="u-Adjust_Align-center">代金引換利用不可</td>
          </tr>
          <tr>
            <td rowspan="3">製品代金
              <button class="c-Tooltip js-Tooltip-inline" data-tippy-theme="default" data-tippy-content="スマートフォン、アクセサリー代金が含まれます">
                <span class="c-Icon_Stack c-Tooltip_Icon">
                  <span class="c-Icon_Sign-help-f c-Icon_Stack-icon-f"></span>
                  <span class="c-Icon_Sign-help-l c-Icon_Stack-icon-l"></span>
                </span>
              </button>
            </td>
            <td>一括払い</td>
            <td class="u-Adjust_Align-center">○</td>
            <td rowspan="3" class="u-Adjust_Align-center" style="vertical-align:middle;">口座振替利用不可</td>
            <td class="u-Adjust_Align-center">×</td>
          </tr>
          <tr>
            <td>24回払い</td>
            <td class="u-Adjust_Align-center">×<span class="c-Txt_Cap">※2</span></td>
            <td class="u-Adjust_Align-center">×</td>
          </tr>
          <tr>
            <td>48回払い</td>
            <td class="u-Adjust_Align-center">×<span class="c-Txt_Cap">※2</span></td>
            <td class="u-Adjust_Align-center">×</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ul class="c-List_Cap-wide u-Adjust_Mt-8">
      <li><span>※1</span>詳細は<a href="<%= sitepath %>guide/commission/">各種手数料ページ</a>でご確認ください。</li>
      <li><span>※2</span>初回お支払い時のみ可</li>
    </ul>
    <div class="c-Accordion u-Adjust_Mt-24">
        <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>注意事項</button>
        <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="false">
          <ul class="c-List_Text-disc u-Adjust_Pt-16">
            <li><span class="c-Txt_Emp-02">楽天ポイント・楽天キャッシュのご利用限度額については、以下をご確認ください。</span></li>
          </ul>
          <div class="u-Adjust_Mt-24">
              <dl class="c-Dl_Origin">
              <div>
                <dt>楽天ポイント</dt>
                <dd>
                  <ul class="u-Adjust_Mt-8 c-List_Text-disc">
                    <li>一度にご利用いただける上限<br>30,000ポイント<br>※ダイヤモンド会員は500,000ポイント</li>
                    <li>1カ月にご利用いただける上限（※1,2）<br>100,000ポイント<br>※ダイヤモンド会員は500,000ポイント</li>
                  </ul>
                </dd>
              </div>
              <div>
                <dt>楽天キャッシュ</dt>
                <dd>
                  <ul class="u-Adjust_Mt-8 c-List_Text-disc">
                    <li>一度にご利用いただける上限<br>100,000円</li>
                    <li>1カ月にご利用いただける上限（※2）<br>1,000,000円</li>
                  </ul>
                </dd>
              </div>
            </dl>
          </div>
          <ul class="c-List_Cap-wide c-Txt_Cap u-Adjust_Mt-8">
            <li><span>※1</span>楽天市場など、他の楽天サービスでご利用のポイント数も含みます。</li>
            <li><span>※2</span>一部の楽天サービスは、ご利用のポイント数が1カ月の上限にカウントされない場合もございます。</li>
          </ul>

          <ul class="c-List_Text-disc u-Adjust_Pt-16">
            <li><span class="c-Txt_Emp-02">一度にご利用いただけるポイント数を超える金額のお買い物をされる際は 、「一部のポイントを使う」を選択し、利用されたいポイント数をご入力ください。</span></li>
            <li>毎月1日から3日までに設定したポイント数が当月の請求に充当され、毎月4日から月末までに設定したポイント数が翌月の請求に充当されます。<br>なお、適用となる楽天ポイント口座は、請求料金の確定時に登録している口座となります。</li>
            <li>利用ポイント数は月内で変更可能ですが、月末を過ぎると翌月の充当ポイント数の変更／キャンセルはできません。</li>
            <li>期間限定ポイントをご利用の場合、ご利用料金請求時（毎月11日ごろ） に有効期限を過ぎているポイントは失効となり、ご利用いただけません。</li>
            <li>製品代金の全額をポイントでお支払いいただく場合も、お支払い方法を設定していただく必要があります。</li>
            <li>ポイント充当時に「利用ポイント数」が不足している場合は、お申し込み時に選択したクレジットカード／デビットカードに課金されます。</li>
            <li>ご利用料金請求時（毎月11日ごろ） にクレジットカード／デビットカードの引き落としができない場合、コンビニ払込票（ハガキ）をお送りいたします。コンビニ払込票（ハガキ）では楽天ポイントはご利用できません。</li>
            <li>月額料金がポイント保有数またはポイント利用上限を超えた際に楽天キャッシュを保有していると、楽天キャッシュも利用されます。</li>
            <li>クレジットカード／デビットカード払いの情報が有効でない場合、ポイントの保有数に関わらずポイントのご利用ができませんので、あらかじめご了承ください。</li>
          </ul>
        </div>
    </div>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-40" id="other">その他のお支払い方法</h3>
    <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/payment/card/" class="c-Link_Txt-inline">クレジットカード・デビットカードでお支払い<span class="c-Icon_Chevron-right"></span></a></p>
    <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/payment/autopay/" class="c-Link_Txt-inline">口座振替でお支払い<span class="c-Icon_Chevron-right"></span></a></p>
    <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/payment/daibiki/" class="c-Link_Txt-inline">代金引換（お届け時現金払い）でお支払い<span class="c-Icon_Chevron-right"></span></a></p>

    <h2 class="c-Heading_Lv3 u-Adjust_Mt-80">お支払い方法についてよくあるご質問</h2>

    <p class="u-Adjust_Mt-16">お支払いに関するよくあるご質問は以下からご確認いただけます。</p>

    <div class="l-Media_List-3 u-Adjust_Mt-24">
      <div class="c-Theme-Light payment-Layout_relative">
        <h4 class="c-Heading_Lv4">お支払い方法の確認・変更</h4>
        <p class="u-Adjust_Mt-16">お支払い方法のご確認や変更についてのよくあるご質問を掲載しています。</p>
        <div class="u-Adjust_Align-center payment-Layout_bottom">
          <a href="<%= sitepath %>support/payment/payment/?l-id=guide_payment_point_support_payment_payment" class="c-Btn_Regular"><span>お支払い方法を確認・変更する</span></a>
        </div>
      </div>
      <div class="c-Theme-Light payment-Layout_relative">
        <h4 class="c-Heading_Lv4">請求金額の確認</h4>
        <p class="u-Adjust_Mt-16">請求内容や料金明細のご確認についてのよくあるご質問を掲載しています。</p>
        <div class="u-Adjust_Align-center payment-Layout_bottom">
          <a href="<%= sitepath %>support/payment/bill/?l-id=guide_payment_point_support_payment_bill" class="c-Btn_Regular"><span>請求金額を確認する</span></a>
        </div>
      </div>
      <div class="c-Theme-Light payment-Layout_relative">
        <h4 class="c-Heading_Lv4">未払い関連</h4>
        <p class="u-Adjust_Mt-16">ご指定の支払い方法でご利用料金のお支払いが確認できなかった場合のお支払い方法をご確認いただけます。</p>
        <div class="u-Adjust_Align-center payment-Layout_bottom">
          <a href="<%= sitepath %>support/payment/invoice/?l-id=guide_payment_point_support_payment_invoice" class="c-Btn_Regular"><span>未払い関連を確認する</span></a>
        </div>
      </div>
    </div>

    <%- include('/include/guide/_faq') %>

    <div class="u-Adjust_Pt-80">
      <div><a href="<%= sitepath %>guide/payment/" class="c-Btn_Regular"><span>お支払い方法トップにもどる</span></a></div>
      <div class="u-Adjust_Mt-16"><a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップにもどる</span></a></div>
      <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a></div>
    </div>
  </div>
</div>




<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>

  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>



</body>
</html>
