<% const pagetitle = "Rakuten WiFi Pocket 2C の安全性に関する重要な情報" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/internet/", label:"Wi-Fiルーター／周辺機器"}, {path:"product/internet/rakuten-wifi-pocket-2c/", label:"Rakuten WiFi Pocket 2C"}, {path:"product/internet/rakuten-wifi-pocket-2c/support/", label:"Rakuten WiFi Pocket 2C サポート情報"}] -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Rakuten WiFi Pocket 2C の安全性に関する重要な情報についてご案内します',
    noindex: false,
    pathname: filepath
  });
%>

<%- include('/include/_common-css-v2') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="u-Adjust_Pb-64">
  <div class="l-System_Container u-Adjust_Mt-32">
    <h1 class="c-Heading_Lv1">Rakuten WiFi Pocket 2C の安全性に関する重要な情報</h1>

    <div class="c-Attention_Alert u-Adjust_Mt-40">
        <div class="c-Attention_Container">
          <span class="c-Attention_Icon c-Icon_Sign-warning-l"></span>
          <p class="c-Attention_Body">
            安全性に関する指示を守らないと本製品の破損や怪我を招く恐れがあります。以下の情報をすべてお読みください。
          </p>
        </div>
      </div>
      <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">本製品の取り扱い</h3>
      <p class="u-Adjust_Mt-40">本製品には金属、ガラス等が使用され、精密な電気部品が内蔵されています。本製品は丁寧に取り扱い、本製品を分解する、改造する、落下させる、曲げる、穴をあける、火に近づける、強い圧力をかける、割る、濡らすことはしないでください。本製品や内蔵電池が損傷、発熱、漏電し、やけど、けがの恐れがあります。割れた筐体や露出した本製品内部に触ると、けが、感電の恐れがあります。本製品内部の物質が目や口等に入った場合は、失明や体調不良の原因となりますので、直ちに医師の診療を受けてください。</p>
      <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">高温となる場所・保管</h3>
      <p class="u-Adjust_Mt-40">本製品を熱源付近や直射日光の当たる場所（車内のダッシュボードの上、こたつや布団の中、窓枠、暖房やドライヤーの吹出口）で使用、保管したり、電子レンジや加熱調理器等に入れないでください。本製品の損傷、過熱により、火災、やけど、けがの恐れがあります。本製品を継続しての使用、充電中は、本製品の温度が高くなることがあります。肌に触れたまま使用したり、かばんや衣類のポケットに入れたまま使用したり、眠ってしまったりするなどして、意図せず継続して触れることがないようご注意ください。肌の赤みやかゆみ、かぶれ、低温やけどなどの原因となります。可燃性物質が保管されている場所（ガソリンスタンド等）、燃料等の輸送、保管施設、空気中に引火性のガス等が含まれる場所等で本製品を利用、充電しないでください。火花が発生し、爆発や火災の原因となり、けがや死に至る可能性があります。</p>
      <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">充電</h3>
      <p class="u-Adjust_Mt-40">本製品の充電には、楽天モバイルショップ等で購入できる推奨品の充電器を使用してください。推奨品以外の充電器を使用すると、本製品や内蔵電池が損傷する恐れがあります。濡れた手で本製品や充電器に触れないでください。本製品を湿気が多く濡れる可能性のある場所（洗面台、浴室等）、強い振動のある場所、埃が付いた状態、充電器が損傷した状態で充電しないでください。長時間の充電はしないでください。本製品、内蔵電池が損傷、発熱、漏電し、やけど、けがの恐れがあります。</p>
      <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">本製品修理・電池交換</h3>
      <p class="u-Adjust_Mt-40">本製品修理や電池交換はご自身でなさらず、楽天モバイルの<a href="<%= sitepath %>product/internet/rakuten-wifi-pocket-2c/support/repair/">修理・交換窓口</a>にお問い合わせください。ご自身で本製品を分解し、内蔵電池を修理すると本製品や内蔵電池が損傷し、やけど、けがの恐れがあります。不要になった本製品は、お住まいの地域のルールに沿って廃棄してください。本製品を焼却処分しないでください。</p>
      <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">高周波干渉</h3>
      <p class="u-Adjust_Mt-40">本製品からの高周波放射が他の電気機器に悪影響を及ぼすことがあります。航空機にご搭乗の際は、電源を切ってください。病院等で本製品の電源を切るよう指示された場合は電源を切ってください。本製品に含まれる電磁場や磁石は植込み型心臓ペースメーカ等の医用電気機器と電波干渉を起こすことがあります。干渉の疑いがある場合、本製品の利用を中止し、医師および機器メーカーにお問い合わせください。</p>
      <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">その他</h3>
      <p class="u-Adjust_Mt-40">歩行中、自転車、自動車運転中の本製品の使用は避けてください。本製品や付属品により、小さなお子様がけがをしたり、飲み込んで窒息事故が生ずる恐れがあります。本製品等はお子様の手の届かない場所で使用、保管してください。本製品を磁気の影響を受けやすい製品の近くに置くと、製品内の情報が失われる恐れがあります。本製品は、病気の診断や治癒における使用には適合していません。本製品の使用中、充電中に発煙、発熱等異常が見られた場合、充電器をコンセントから抜き、本製品の電源を切る等してください。</p>

  </div>
</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-product-top-v2.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%#- include('/faq/include/related-product.ejs') %>

  </div>

  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
