<% const pagetitle = "スペック詳細" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/smartphone/", label:"Android"}, {path:"product/smartphone/galaxy-a7/", label:"Galaxy A7"}] -%>
<%-
  include('/_header', {
    pagetitle: 'スペック詳細',
    directories: [{path:"product/", label:"製品"}, {path:"product/smartphone/", label:"Android"}, {path:"product/smartphone/galaxy-a7/", label:"Galaxy A7"}],
    description: '「Galaxy A7（Galaxy）｜ギャラクシー エーセブン（ギャラクシー）」のスペック詳細。カメラ機能・容量・色・サイズ（解像度）・バッテリー持ちなど性能についてご覧いただけます',
    noindex: false,
    pathname: 'product/smartphone/galaxy-a7/spec.html'
  });
%>

<%- include('/include/_common-css-v2') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<%- include('/include/_breadcrumbs', {
  type: 'head',
  pagetitle,
  directories,
}) %>

<div class="u-Adjust_Pb-64">
  <div class="l-System_Container u-Adjust_Mt-32">
    <h1 class="c-Heading_Lv1">Galaxy A7</h1>

    <div class="u-Adjust_Mt-24 c-Accordion">
      <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>基本スペック</button>
      <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="false">
        <dl class="c-Dl">
          <div>
            <dt>メーカー</dt>
            <dd>
            サムスン電子ジャパン株式会社
            </dd>
          </div>
          <div>
            <dt>製品名</dt>
            <dd>
              Galaxy A7
            </dd>
          </div>
          <div>
            <dt>色</dt>
            <dd>
              ブルー / ゴールド / ブラック
            </dd>
          </div>
          <div>
            <dt>サイズ</dt>
            <dd>
              約159.8 x 約76.8 x 約7.5 (mm)
            </dd>
          </div>
          <div>
            <dt>重量</dt>
            <dd>
              約168g
            </dd>
          </div>
          <div>
            <dt>ディスプレイ</dt>
            <dd>
              <p>サイズ / 種類</p>
              約6.0インチ / AMOLED
              <p class="u-Adjust_Mt-16">解像度</p>
              FHD+ / 2,220 × 1,080
            </dd>
          </div>
          <div>
            <dt>CPU</dt>
            <dd>
              Samsung® Exynos™ 7885 / オクタコア 2.2GHz + 1.6GHz
            </dd>
          </div>
          <div>
            <dt>OS ※1</dt>
            <dd>
              Android™ 9 Pie
            </dd>
          </div>
          <div>
            <dt>内蔵メモリ（RAM / ROM）</dt>
            <dd>
              4GB (RAM) / 64GB (ROM)
            </dd>
          </div>
          <div>
            <dt>外部メモリ</dt>
            <dd>
              micro SDXC™ (最大 512GB)
            </dd>
          </div>

          <div>
            <dt>バッテリー容量</dt>
            <dd>
              約3,400mAh
            </dd>
          </div>

          <div>
            <dt>ワイヤレス充電</dt>
            <dd>
              非対応
            </dd>
          </div>
          <div>
            <dt>連続待受時間</dt>
            <dd>
              <p>LTE</p>
              約269時間
              <p class="u-Adjust_Mt-16">3G</p>
              約275時間
              <p class="u-Adjust_Mt-16">GSM</p>
              約280時間
            </dd>
          </div>
          <div>
            <dt>連続通話時間</dt>
            <dd>
              <p>LTE</p>
              約27時間
              <p class="u-Adjust_Mt-16">3G</p>
              約19時間
              <p class="u-Adjust_Mt-16">GSM</p>
              約25時間
            </dd>
          </div>
          <div>
            <dt>通信速度 ※2</dt>
            <dd>
              <p>LTE 受信時</p>
              150Mbps
              <p class="u-Adjust_Mt-16">LTE 送信時</p>
              50Mbps
            </dd>
          </div>
          <div>
            <dt>SIM</dt>
            <dd>
              nanoSIM
            </dd>
          </div>
          <div>
            <dt>ワンセグ / フルセグ</dt>
            <dd>
              非対応 / 非対応
            </dd>
          </div>
          <div>
            <dt>おサイフケータイ</dt>
            <dd>
              非対応
            </dd>
          </div>
          <div>
            <dt>NFC</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>防水 / 防塵</dt>
            <dd>
              非対応
            </dd>
          </div>
          <div>
            <dt>耐衝撃</dt>
            <dd>
              非対応
            </dd>
          </div>
          <div>
            <dt>生体認証（指紋 / 顔）</dt>
            <dd>
              対応 / 対応
            </dd>
          </div>
          <div>
            <dt>急速充電</dt>
            <dd>
              非対応
            </dd>
          </div>
          <div>
            <dt>付属品</dt>
            <dd>

                ACアダプタ /

                Micro USBケーブル /

                クイックスタートガイド /

                SIM取り出しツール / OTG対応USB変換アダプタ /
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>通信</button>
      <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
        <dl class="c-Dl">
          <div>
            <dt>VoLTE（Rakuten / docomo / au / SoftBank）</dt>
            <dd>
              対応 / 対応 / 対応 / 非対応
            </dd>
          </div>
          <div>
            <dt>4x4 MIMO</dt>
            <dd>
              非対応
            </dd>
          </div>
          <div>
            <dt>256 QAM</dt>
            <dd>
              非対応
            </dd>
          </div>
          <div>
            <dt>Wi-Fi</dt>
            <dd>
              IEEE802.11 a/b/g/n/ac
            </dd>
          </div>
          <div>
            <dt>テザリング</dt>
            <dd>
              10台
            </dd>
          </div>
          <div>
            <dt>Bluetooth&reg;</dt>
            <dd>
              ver 5.0
            </dd>
          </div>
          <div>
            <dt>赤外線通信</dt>
            <dd>
              非対応
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>カメラ</button>
      <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
        <p class="c-Txt_Emp-01 u-Adjust_Pt-32 u-Adjust_Pb-16">メインカメラ（外側）</p>
        <dl class="c-Dl">
          <div>
            <dt>解像度</dt>
            <dd>
              約2,400万画素（広角）+ 約500万画素（ボケ）+ 約800万画素（超広角）
            </dd>
          </div>
          <div>
            <dt>オプティカルズーム（写真 / 動画） ※最大</dt>
            <dd>
               非対応
            </dd>
          </div>
          <div>
            <dt>デジタルズーム（写真 / 動画） ※最大</dt>
            <dd>
               約4倍 / 4倍
            </dd>
          </div>
          <div>
            <dt>手振れ補正（写真 / 動画）</dt>
            <dd>
               非対応 / 非対応
            </dd>
          </div>
          <div>
            <dt>オートフォーカス</dt>
            <dd>
               対応
            </dd>
          </div>
          <div>
            <dt>F値</dt>
            <dd>
               f/1.7, f/2.2, f/2.4
            </dd>
          </div>
          <div>
            <dt>ISO（最大）</dt>
            <dd>
               800, 800, 800
            </dd>
          </div>
          <div>
            <dt>HDR</dt>
            <dd>
               対応
            </dd>
          </div>
          <div>
            <dt>LEDフラッシュ</dt>
            <dd>
               対応
            </dd>
          </div>
          <div>
            <dt>AIカメラ</dt>
            <dd>
               対応
            </dd>
          </div>
        </dl>

        <p class="c-Txt_Emp-01 u-Adjust_Pt-32 u-Adjust_Pb-16">フロントカメラ（内側）</p>
        <dl class="c-Dl">
          <div>
            <dt>解像度</dt>
            <dd>
              約2,400万画素（広角）
            </dd>
          </div>
          <div>
            <dt>オプティカルズーム（写真 / 動画） ※最大</dt>
            <dd>
               非対応
            </dd>
          </div>
          <div>
            <dt>デジタルズーム（写真 / 動画） ※最大</dt>
            <dd>
               約4倍 / 4倍
            </dd>
          </div>
          <div>
            <dt>手振れ補正（写真 / 動画）</dt>
            <dd>
               非対応 / 非対応
            </dd>
          </div>
          <div>
            <dt>オートフォーカス</dt>
            <dd>
               対応
            </dd>
          </div>
          <div>
            <dt>F値</dt>
            <dd>
               f/2
            </dd>
          </div>
          <div>
            <dt>ISO（最大）</dt>
            <dd>
               800
            </dd>
          </div>
          <div>
            <dt>HDR</dt>
            <dd>
               対応
            </dd>
          </div>
          <div>
            <dt>LEDフラッシュ</dt>
            <dd>
               対応
            </dd>
          </div>
          <div>
            <dt>AIカメラ</dt>
            <dd>
               対応
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>その他</button>
      <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
        <dl class="c-Dl">
          <div>
            <dt>ハイレゾ・オーディオ</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>緊急速報機能</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>イヤホンマイクジャック</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>USB</dt>
            <dd>
              micro USB Type-B / USB 2.0
            </dd>
          </div>
          <div>
            <dt>GPS</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>動画コーデック</dt>
            <dd>

                  H.263 /

                  H.264 /

                  H.265 /

                  MPEG-4 Video /

                  VP8 /

                  VP9 /
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>対応周波数</button>
      <div id="accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-5" aria-hidden="true">
        <dl class="c-Dl">
          <div>
            <dt>FDD-LTE</dt>
            <dd>

                  Band 1 (2.1GHz) /

                  Band 3 (1.8GHz) /

                  Band 5 (850MHz) /

                  Band 18 (800MHz) /

                  Band 19 (800MHz) /

                  Band 26 (800MHz) /
            </dd>
          </div>
          <div>
            <dt>TD-LTE※</dt>
            <dd>
              非対応<span class="u-Adjust_Ml-8 c-Txt_Cap c-Txt_Emp-02">※Band42非対応のため削除（2020年6月9日）</span>
            </dd>
          </div>
          <div>
            <dt>WCDMA</dt>
            <dd>

                  Band I (2.1GHz) /

                  Band V (850MHz) /

                  Band VI (800MHz) /

                  Band X IX (800MHz) /
            </dd>
          </div>
          <div>
            <dt>GSM</dt>
            <dd>

                  850MHz /

                  900MHz /

                  1.8GHz /

                  1.9GHz
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <ul class="c-Txt_Cap u-Adjust_Mt-32">
      <li>※1 発売時点のOSのバージョンを記載しています。最新のOSバージョン情報は<a class="c-Link_Txt" href="<%= sitepath %>information/software/galaxy-a7/">こちら</a>をご確認ください。</li>
      <li class="u-Adjust_Mt-8">※2 通信速度は、ベストエフォート方式による理論値であり、実際の通信速度は通信環境やネットワークの混雑状況によって変化します。</li>
    </ul>
    <p class="u-Adjust_Mt-32"><a href="<%= sitepath %>product/smartphone/galaxy-a7/" class="c-Link_Txt-icon-front"><span class="c-Icon_Chevron-left"></span>製品詳細へ戻る</a></p>

  </div>
</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">
    <%- include('/include/footer/related/_related-product-v2.ejs') %>
  </div>
  <div class="l-System_Container">
    <%- include('/include/_breadcrumbs', {
      type: 'foot',
      pagetitle,
      directories,
    }) %>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
