<div class="u-Adjust_Mt-24 u-Adjust_Pt-48 u-Adjust_Pb-48" style="background-color: #f7f7f7;">
  <div class="l-System_Container">
    <div class="c-Theme-White u-Adjust_Pt-24 u-Adjust_Pb-24">
      <h2 id="condition" class="c-Txt_Normal-ll <%= namespace %>-Conditions_Text u-Adjust_Align-center">キャンペーンの達成条件</h2>
      <p class="<%= namespace %>-Conditions_Text u-Adjust_Mt-16">本キャンペーンには達成条件が設定されています。詳細は<a href="#campaign-rule" class="c-Link_Txt js-scroll">キャンペーンルール</a>をご確認ください。</p>
      <div class="u-Adjust_Mt-16">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/start-point/conditions-sp.png?220107" width="622" height="1072">
          <img src="<%= sitepath %>assets/img/campaign/start-point/conditions-pc.png?220107" class="<%= namespace %>-Conditions_Img" alt="初めてのお申し込み 2020年4月以降、楽天回線に初めてお申し込みされるお客様が対象です。2回線目以降は対象外となります。　プランのご利用 お申し込みの翌月末日の23:59までに、開通手続きをしてプランのご利用を開始してください。 Rakuten Linkで10秒以上通話 お申し込みの翌月末日23:59までに、Rakuten Linkアプリを利用して10秒以上の通話をしてください。" width="984" height="240" loading="lazy">
        </picture>
      </div>
      <p class="u-Adjust_Mt-8 c-Txt_Cap">※ 2回線目以降のお申し込みは「<a class="c-Link_Txt js-scroll" href="<%= sitepath %>campaign/extra-sim/?l-id=campaign_android-gangan_campaign_extra-sim">楽天モバイルもう1回線追加お申し込みで3,000ポイントプレゼント</a>」キャンペーン利用で対象になります。本キャンペーンの適用回数は、おひとり様1回です。本キャンペーンを適用された後のお申込みは対象外となります。</p>
      <div class="u-Adjust_Align-center u-Adjust_Mt-32">
        <h3 class="c-Heading_Lv3">キャンペーンの達成状況はこちらで確認</h3>
      </div>
      <div class="<%= namespace %>-Accordion_Card c-Accordion u-Adjust_Mt-16">
        <button type="button" id="accordion-7" class="c-Accordion_Trigger js-Accordion_Trigger u-Adjust_Align-center"
          aria-expanded="false" aria-controls="accordion-content-7"><span
            class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten Linkの達成状況の確認方法</button>
        <div id="accordion-content-7" class="<%= namespace %>-Accordion_Card-panel js-Accordion_Panel" role="region"
          aria-labelledby="accordion-7" aria-hidden="true" style="display:none;">
          <h4 class="c-Heading_Lv4">達成状況の確認方法</h4>
          <ol class="u-Adjust_Mt-16">
            <li>
              <p class="c-Txt_Emp-01">1. 「<a
                  href="<%= ecarepath %>my-rakuten-mobile?l-id=campaign_android-gangan_my-rakuten-mobile_accordion"
                  class="c-Link_Txt">my 楽天モバイル</a>」にアクセス</p>
            </li>
            <li class="u-Adjust_Mt-16">
              <p class="c-Txt_Emp-01">2. 右上のメニューから「利用状況」を選択</p>
              <div class="<%= namespace %>-Utility_Img-capture u-Adjust_Mt-32">
                <img src="<%= sitepath %>assets/img/campaign/common/img-cap01-230601.png" width="300" alt="">
              </div>
            </li>
            <li class="u-Adjust_Mt-32">
              <p class="c-Txt_Emp-01">3. 「通話」タブを選択して<span class="c-Txt_Emp-02">Rakuten
                  Linkでの10秒以上の発信通話履歴</span>があることを確認してください</p>
              <div class="<%= namespace %>-Utility_Img-capture u-Adjust_Mt-32">
                <img src="<%= sitepath %>assets/img/campaign/common/img-cap02.png" width="300" alt="">
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
