<h2 id="product" class="u-Adjust_Mt-64 u-Adjust_Align-center c-Heading_Lv2 <%= namespace %>-Heading">キャンペーン対象製品</h2>
<div class="<%= namespace %>-Product u-Adjust_Mt-24">
  <%# OPPO A55s 5G %>
  <div class="<%= namespace %>-Product_Item" id="product02">
    <h3 class="<%= namespace %>-Product_Item-title">
      最大<span class="<%= namespace %>-Product_Item-title-price">25,699</span>円相当分の<br class="<%= namespace %>-Utility_Br-sp">特典進呈
    </h3>
    <div class="<%= namespace %>-Product_Item-border-box">
      <div class="<%= namespace %>-Product_Item-layout">
        <div class="<%= namespace %>-Product_Item-data">
          <div class="<%= namespace %>-Product_Item-name">
            <img src="<%= sitepath %>assets/img/campaign/android-gangan/img-logo02.png" alt="">
          </div>
          <div class="<%= namespace %>-Price">
            <dl class="<%= namespace %>-Price_Detail">
              <div>
                <dt>製品価格（税込）</dt>
                <dd>

                  <span class="<%= namespace %>-Price_Font">25,700</span>円
                </dd>
              </div>
              <div>
                  <dt>
                    <span>プランセット値引き</span>
                    <span>
                      ※1
                    </span>
                  </dt>
                  <dd>
                    <span class="<%= namespace %>-Price_Font">-16,000</span><em class="<%= namespace %>-Price_Font-bold">円</em>
                  </dd>
                </div>
              <div style="color: #ff008c;">
                  <dt>
                    <span>最大</span>
                    <span class="c-Txt_Normal">9,699</span>
                    ポイント
                    <span>
                      ※2,3
                    </span>
                  </dt>
                  <dd>
                    <span class="<%= namespace %>-Price_Font">-9,699</span><em class="<%= namespace %>-Price_Font-bold">pt</em>
                  </dd>
              </div>
            </dl>
            <div class="<%= namespace %>-Price_Total">
              <div>
                <p class="<%= namespace %>-Price_Total-normal"><span class="c-Txt_Normal-m">実質</span><span class="<%= namespace %>-Price_Font">1</span>円</p>
              </div>
            </div>

            <p class="c-Txt_Cap u-Align_Llc <%= namespace %>-Price_Cap">
              期間限定ポイントで条件達成の翌々月末日頃に付与されます。
            </p>
          </div>
          <div class="<%= namespace %>-Product_Item-btn-area u-Adjust_Mt-32">
            <a href="https://onboarding.mobile.rakuten.co.jp/equipment-details?exid=600303&selectAvailable=true" class="c-Btn_Primary"><span>購入する</span></a>
            <a href="<%= sitepath %>product/smartphone/a55s-5g/?l-id=campaign_android-gangan_product_smartphone_a55s-5g" class="c-Btn_Secondly"><span>製品の詳細を見る</span></a>
          </div>
        </div>
        <div class="<%= namespace %>-Product_Item-device">
              <img src="<%= sitepath %>assets/img/product/a55s-5g/pht-device-thumb.png?230831" alt="" width="156" height="260" loading="lazy">
            <ul class="<%= namespace %>-Product_Item-device-color u-Adjust_Mt-8">
              <li><span style="background: rgb(41, 43, 46)"></span></li>
              <li><span style="background: rgb(200, 230, 215)"></span></li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="u-Adjust_Mt-16">
  <p class="c-Txt_Cap">※1「<a href="#campaign-rule1550" class="c-Link_Txt">Androidスマホ割引キャンペーン</a>」適用時。</p>
  <p class="c-Txt_Cap">※2「<a href="#campaign-rule1526" class="c-Link_Txt">【Rakuten最強プランお申し込み特典】だれでも3,000ポイントプレゼントキャンペーン</a>」適用時。2回線目以降のお申し込みは「<a href="<%= sitepath %>campaign/extra-sim/?l-id=campaign_android-gangan_campaign_extra-sim" class="c-Link_Txt">楽天モバイルもう1回線追加お申し込みで3,000ポイントプレゼント</a>」キャンペーン利用で対象になります。本キャンペーンの適用回数は、おひとり様1回です。本キャンペーンを適用された後のお申込みは対象外となります。</p>
  <p class="c-Txt_Cap">※3「<a href="<%= sitepath %>campaign/extra-sim/?l-id=campaign_android-gangan_campaign_extra-sim" class="c-Link_Txt">【Android対象製品限定】ガンガン！ポイント還元キャンペーン</a>」適用時。</p>
  <p class="c-Txt_Cap">※取得した楽天ポイントは楽天モバイルや楽天の各サービスでご利用できます。詳しくは<a href="<%= sitepath %>guide/point/?l-id=campaign_android-gangan_guide_point" class="c-Link_Txt">楽天ポイントのページ</a>をご覧ください。</p>
</div>
