<h2 id="step" class="u-Adjust_Mt-64 c-Heading_Lv2 <%= namespace %>-Heading u-Adjust_Align-center">最大<strong>
    <%= point1.toLocaleString() %>
  </strong>円相当の<br class="<%= namespace %>-Utility_Br-sp">特典進呈の流れ</h2>
<div class="<%= namespace %>-Step_Accordion u-Adjust_Mt-24">

  <div class="<%= namespace %>-Accordion_Card c-Accordion">
    <button type="button" id="accordion-step-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false"
      aria-controls="accordion-content-step-1">
      <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
      <span class="<%= namespace %>-Accordion_Label">
        <span class="<%= namespace %>-Accordion_Label-step">STEP 1</span>
        <span>対象製品と楽天モバイルのお申し込み</span>
      </span>
    </button>
    <div id="accordion-content-step-1"
      class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Card-panel" role="region"
      aria-labelledby="accordion-step-1" aria-hidden="true">
      <div class="l-Media_Grid">
        <div class="l-Media_Image <%= namespace %>-Flow_List-img">
          <img src="<%= sitepath %>assets/img/campaign/start-point/img-point-02.png?210618" width="285" alt="">
        </div>
        <div>
          <h3 class="c-Heading_Lv4">お申し込みに必要なもの</h3>
          <ul class="c-List_Text-disc <%= namespace %>-List_Narrow u-Adjust_Mt-8">
            <li>
              <a href="<%= sitepath %>guide/verify/?l-id=campaign_android-gangan_guide_verify"
                class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a>
            </li>
            <li>
              楽天会員ID、パスワード
            </li>
            <li>
              <a href="<%= sitepath %>guide/payment/?l-id=campaign_android-gangan_guide_payment"
                class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
            </li>
          </ul>
          <p class="c-Txt_Cap u-Adjust_Mt-8">
            ※MNPワンストップ未対応の携帯電話会社から乗り換えの方は、MNP予約番号の取得が必要です。MNPワンストップ対象の携帯電話会社は<a
              href="<%= sitepath %>guide/mnp/#career" class="c-Link_Txt">こちら</a>からご確認ください。<br>
            ※ショップでのお手続きは、ワンストップ対象の他社からの転入であっても、MNP予約番号を取得のうえ、ご来店ください。<br>
            ※<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_android-gangan_flow_for-minors"
              class="c-Link_Txt <%= namespace %>-Layout_Body-txt-link">未成年の方のお申し込み方法はこちら</a>
          </p>
        </div>
      </div>
      <div class="<%= namespace %>-Grid_2col u-Adjust_Mt-24">
        <div class="c-Theme-Borderbox">
          <h4 class="c-Heading_Lv4 <%= namespace %>-Heading_Icon-front u-Adjust_Align-center">Webからお申し込み</h4>
          <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <a href="<%= sitepath %>guide/application/?lid-r=campaign_android-gangan_guide_application"
              class="c-Btn_Primary-large"><span>Rakuten最強プランに申し込む</span></a>
          </div>
          <div class="<%= namespace %>-Utility_Align-center-left">
            <p class="u-Adjust_Mt-24"><a
                href="<%= sitepath %>fee/saikyo-plan/?l-id=campaign_android-gangan_fee_saikyo-plan"
                class="c-Link_Txt-inline">プラン詳細<span class="c-Icon_Chevron-right"></span></a>
            </p>
            <p class="u-Adjust_Mt-8"><a
                href="<%= sitepath %>guide/flow/application/?l-id=campaign_android-gangan_guide_flow_application"
                class="c-Link_Txt-inline">お申し込み方法<span class="c-Icon_Chevron-right"></span></a>
            </p>
          </div>
        </div>
        <div class="c-Theme-Borderbox">
          <h4 class="c-Heading_Lv4 <%= namespace %>-Heading_Icon-front u-Adjust_Align-center">ショップでお申し込み</h4>
          <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <a href="<%= sitepath %>shop/?l-id=campaign_android-gangan_shop"
              class="c-Btn_Secondly-large">
              <span>お近くのショップを探す</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="<%= namespace %>-Accordion_Card c-Accordion">
    <button type="button" id="accordion-step-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false"
      aria-controls="accordion-content-step-2">
      <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
      <span class="<%= namespace %>-Accordion_Label">
        <span class="<%= namespace %>-Accordion_Label-step">STEP 2</span>
        <span>「Rakuten最強プラン」利用開始</span>
      </span>
    </button>
    <div id="accordion-content-step-2"
      class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Card-panel" role="region"
      aria-labelledby="accordion-step-2" aria-hidden="true">
      <div class="l-Media_Grid">
        <div class="l-Media_Image <%= namespace %>-Flow_List-img">
          <img src="<%= sitepath %>assets/img/campaign/start-point/img-illust-01.png" width="304" alt="">
        </div>
        <div>
          <p><span class="c-Txt_Emp-01">期限</span>：プランお申し込みの翌月末日23:59まで</p>
          <div class="u-Adjust_Mt-24">
            <a href="<%= sitepath %>faq/detail/00001648/?l-id=campaign_android-gangan_faq_detail_00001648"
              class="c-Btn_Regular"><span>プラン利用開始手順</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="<%= namespace %>-Accordion_Card c-Accordion">
    <button type="button" id="accordion-step-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false"
      aria-controls="accordion-content-step-3">
      <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
      <span class="<%= namespace %>-Accordion_Label">
        <span class="<%= namespace %>-Accordion_Label-step">STEP 3</span>
        <span>Rakuten Linkアプリから発信で10秒以上通話</span>
      </span>
    </button>
    <div id="accordion-content-step-3"
      class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Card-panel" role="region"
      aria-labelledby="accordion-step-3" aria-hidden="true">
      <div class="l-Media_Grid">
        <div class="l-Media_Image <%= namespace %>-Flow_List-img">
          <img src="<%= sitepath %>assets/img/campaign/start-point/img-illust-03.png" width="304" alt="">
        </div>
        <div>
          <p><span class="c-Txt_Emp-01">期限</span>：プランお申し込みの翌月末日23:59まで</p>
          <p class="c-Txt_Cap u-Adjust_Mt-8">※（0570）などから始まる他社接続サービス、一部特番（188）への通話については、無料通話の対象外となります。<a
              href="<%= sitepath %>terms/pdf/rakuten_mobile_exception_number_list.pdf?220701">対象外番号一覧</a>をご確認ください。
          </p>

          <p class="c-Txt_Emp-02 c-Txt_Cap u-Adjust_Mt-8">※ 楽天回線対応のモバイルルーターで使用されるためにお申し込みいただいた場合は、「Rakuten
            Link」のご利用は必要ございません。</p>
          <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>service/rakuten-link/" class="c-Link_Txt-inline">Rakuten
              Linkアプリの詳細<span class="c-Icon_Chevron-right"></span></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="c-Theme-Borderbox <%= namespace %>-Flow_List-end">
  <div class="l-Media_Grid">
    <div class="l-Media_Image <%= namespace %>-Flow_List-img">
      <img src="<%= sitepath %>assets/img/campaign/start-point/img-step-point.png?211108" width="304" alt="">
    </div>
    <div>
      <h4 class="c-Heading_Lv4 c-Txt_Emp-02">最大<%= point1.toLocaleString() %>円相当の特典進呈！</h4>
      <p class="u-Adjust_Mt-8">
        製品価格の16,000円の値引きに加えて、Rakuten Link ご利用の翌々月末日頃に、期間限定ポイントとして3,000ポイントを付与いたします。
        さらに、対象製品ご購入月の翌々月末日頃に、期間限定ポイントとして6,699ポイントを付与いたします。</p>
    </div>
  </div>
</div>
