<% const pagetitle = "楽天モバイルキャリア決済_設定同日にはじめて決済で200ポイントキャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "shop-payment-google" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories,
  description: '楽天モバイルキャリア決済の設定と同日中にはじめてご利用で200ポイント還元',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/shop-payment-google/shop-payment-google.css?20240424">
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<script defer="defer" src="https://r.r10s.jp/com/js/c/common/entry_button/1.1/entry_button-1.1.0.min.js"></script>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>

    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout-Label">
      <ul class="c-Label_List <%= namespace %>-Layout-Label_List">
        <li class="c-Label_Normal">ご契約者様限定</li>
        <li class="c-Label_Normal">エントリー必要</li>
      </ul>
      <p class="<%= namespace %>-Layout-Label_point c-Txt_Cap">ポイント：付与日を含めて6カ月の期間限定ポイント</p>
    </div>
    <div class="<%= namespace %>-Hero_Return">
      <div class="l-System_Container <%= namespace %>-Hero_Container">
        <div class="<%= namespace %>-Hero_Main">
          <h1>
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/shop-payment-google/hero-sp-230901.png">
              <img src="<%= sitepath %>assets/img/campaign/shop-payment-google/hero-pc-230901.png" alt="設定と同日中に初めてご利用で200ポイント還元！さらに楽天モバイルキャリア決済支払いで最大2%ポイント還元！" class="<%= namespace %>-Utility_Img-sp">
            </picture>
          </h1>
        </div>
      </div>
    </div>
    <div class="<%= namespace %>-Layout_Body">
      <div class="l-System_Container">
        <p class="c-Txt_Cap u-Adjust_Mt-8">
          <span class="c-Txt_Emp-02">※「Rakuten最強プラン（データタイプ）」は対象外です。</span><br>
          ※1 キャリア決済ご利用1%ポイント還元＋楽天カードご利用通常ポイント1%。<br>
          ※楽天回線対応のAndroid製品をご利用のご契約者様が対象です。<br>
          ※楽天ポイントの付与は条件達成月の翌々月末日ごろに、付与日を含めた6カ月間の期間限定ポイントで付与いたします。</p>
      </div>
      <div class="u-Adjust_Align-center u-Adjust_Mt-16">
        <p class="c-Txt_Emp-02">
          本キャンペーンは2023年11月30日（木）をもちまして終了いたしました。<br>
          このページに掲載されている情報は、キャンペーン終了時点のものです。
        </p>
        <a href="<%= sitepath %>campaign/?l-id=end_campaign" class="c-Link_Txt-inline">開催中のキャンペーンを見る<span class="c-Icon_Chevron-right"></span></a>
      </div>

      <div id="first_entry_button" class="<%= namespace %>-Layout_Entry-Area">
        <div class="l-System_Container">
          <p class="c-Txt_Emp-02 <%= namespace %>-Utility_Mt-unique">
            【キャンペーン期間 ／エントリー期間】<br>
            2022年10月1日（土）9:00～2023年11月30日（木）23:59
          </p>
        </div>
      </div>

      <div class="l-System_Container">
        <nav class="<%= namespace %>-Link">
          <ul>
            <li>
              <a href="#condition" class="c-Link_Txt-inline-icon js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーン達成条件</a>
            </li>
            <li>
              <a href="#flow" class="c-Link_Txt-inline-icon js-scroll"><span class="c-Icon_Arrow-down-l"></span>特典進呈の流れ</a>
            </li>
            <li>
              <a href="#payment" class="c-Link_Txt-inline-icon js-scroll"><span class="c-Icon_Arrow-down-l"></span>楽天モバイルキャリア決済とは?</a>
            </li>
            <li>
              <a href="#campaign-rule" class="c-Link_Txt-inline-icon js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルール</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="l-System_Container u-Adjust_Mt-64">
        <ol id="condition" class="c-Flow u-Adjust_Mt-32">
          <li>
            <h2 class="c-Heading_Lv2 u-Adjust_Align-center">200ポイント還元の<br class="<%= namespace %>-Utility_Br-sp">キャンペーン<span class="txt-nl">達成条件</span></h2>
            <p class="u-Adjust_Mt-16 <%= namespace %>-Utility_Align-unique">本キャンペーンには達成条件が設定されています。詳細は<a class="rmobile-rule js-scroll" href="#campaign-rule">キャンペーンルール</a>をご確認ください。</p>
            <div class="u-Adjust_Align-center u-Adjust_Mt-16">
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/shop-payment-google/img-01-sp-221115.png">
                <img src="<%= sitepath %>assets/img/campaign/shop-payment-google/img-01-pc-221115.png" alt="このページからエントリー＋楽天モバイルキャリア決済の設定を完了＋設定と同日中に楽天モバイルキャリア決済でお支払い">
              </picture>
            </div>
          </li>
        </ol>
      </div>

      <div id="flow" class="c-Theme-Light <%= namespace %>-Flow" style="margin-top:65px">
        <div class="l-System_Container">
          <h2 class="c-Heading_Lv2 u-Adjust_Align-center">200ポイント還元と最大<br class="u-Show_Sp">2%ポイント還元の<br class="u-Show_Sp">特典進呈の流れ</h2>
          <div class="c-Accordion">
            <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false"
              aria-controls="accordion-content-1">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
              <span class="c-Txt_Emp-02 <%= namespace %>-Flow-step-emp u-Adjust_Ml-8">STEP 1</span>
              <span class="c-Txt_Emp-01 <%= namespace %>-Flow-step-sub">キャンペーンにエントリーする</span>
            </button>
            <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1"
              aria-hidden="true" style="">
              <div class="l-Media_Grid u-Adjust_Mt-16 u-Adjust_Pr-16 u-Adjust_Pl-16">
                <div class="l-Media_Image <%= namespace %>-Layout_Media-margin-auto">
                  <img src="<%= sitepath %>assets/img/campaign/shop-payment-google/step1.png" width="224" height="124" alt="">
                </div>
                <div>
                  <p class="u-Adjust_Mt-16">【エントリー期間】2022年10月1日（土）9:00～2023年11月30日（木）23:59</p>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false"
              aria-controls="accordion-content-2">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
              <span class="c-Txt_Emp-02 <%= namespace %>-Flow-step-emp u-Adjust_Ml-8">STEP 2</span>
              <span class="c-Txt_Emp-01 <%= namespace %>-Flow-step-sub">お支払い方法を楽天カードに設定する</span>
            </button>
            <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2"
              aria-hidden="true" style="">
              <div class="u-Adjust_Mr-16 u-Adjust_Ml-16 u-Adjust_Pb-24">
                <p class="u-Adjust_Mt-8 u-Adjust_Align-left">楽天モバイルキャリア決済をご利用いただくためには、お支払い方法にクレジットカード・デビットカードを設定する必要があります。</p>
                <p class="c-Txt_Emp-02">楽天カードを設定すると、お支払い金額の1%がポイント還元となります。</p>
                  <p class="u-Adjust_Mt-40"><a href="<%= sitepath %>guide/payment/change/?l-id=campaign_shop-payment-google_guide_payment_change#anc02" class="c-Link_Txt-inline">設定方法を見る<span
                      class="c-Icon_Chevron-right"></span></a>
                  </p>
                  <p>
                    <a href="https://ad2.trafficgate.net/t/r/11262/1441/99636_99636/" target="_blank" class="c-Link_Txt-inline">楽天カードの詳細を見る<span
                        class="c-Icon_New-window-l"></span></a>
                  </p>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
              <span class="c-Txt_Emp-02 <%= namespace %>-Flow-step-emp u-Adjust_Ml-8">STEP 3</span>
              <span class="c-Txt_Emp-01 <%= namespace %>-Flow-step-sub">「my 楽天モバイル」で利用設定をする</span>
            </button>
            <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
              <div class="u-Adjust_Mr-16 u-Adjust_Ml-16 u-Adjust_Pb-24">
                <p class="u-Adjust_Mt-8 u-Adjust_Align-left">楽天モバイルキャリア決済をご利用いただくには、「my 楽天モバイル」でキャリア決済の利用設定が「有効」になっている必要があります。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-16 c-Txt_Emp-02 u-Adjust_Align-left">※初期設定時は「有効」に設定されています。</p>

                <ul class="c-Flow">
                  <li class="u-Adjust_Align-left">
                    <h3 class="c-Heading_Lv4">1. 「my 楽天モバイル」にログインする</h3>
                    <div class="c-Box_App u-Adjust_Pt-16 u-Adjust_Mt-16">
                      <div class="c-Box_App-icon"><img src="/assets/img/common/icon-rmb-app.png" alt="my 楽天モバイル" class="u-Adjust_Mt-0"></div>
                      <div class="c-Box_App-txt">
                        <p class="c-Box_App-ttl">my 楽天モバイル</p>
                        <p>各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                        <ul class="c-Box_App-link u-Adjust_Mt-16">
                          <li class="guide-App_Btn-store">
                            <div class="guide-App_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="/assets/img/common/btn-googleplay.png" width="149" alt="Google Play" class="u-Adjust_Mt-0 u-Adjust_Pt-16"></a></div>
                          </li>
                          <li>
                            <div class="guide-App_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="/assets/img/common/btn-appstore.png" width="149" alt="Apple Store" class="u-Adjust_Mt-0 u-Adjust_Pt-16"></a></div>
                          </li>
                        </ul>
                        <ul class="c-Box_App-link u-Adjust_Mt-16">
                          <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                          <li><a href="<%= ecarepath %>my-rakuten-mobile/" class="c-Btn_Regular">Webからログインする</a></li>
                        </ul>
                      </div>
                    </div>
                  </li>

                  <li class="u-Adjust_Align-left">
                    <h3 class="c-Heading_Lv4">2. 「利用料金」をタップする</h3>
                    <div class="u-Adjust_Pt-16">
                      <div class="l-Media_Image">
                        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
                            src="<%= sitepath %>assets/img/guide/payment/google/setting/img-23-230718.png" width="300" height="" alt="" class="c-Img_Capture u-Adjust_Mt-0"></figure>
                      </div>
                    </div>
                  </li>
                  <li class="u-Adjust_Align-left">
                    <h3 class="c-Heading_Lv4">3. キャリア決済の「設定・ご利用明細確認」をタップする</h3>
                    <div class="u-Adjust_Pt-16">
                      <div class="l-Media_Image">
                        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/google/setting/img-22-230718.png" width="300" height="" alt="" class="c-Img_Capture u-Adjust_Mt-0"></figure>
                      </div>
                    </div>
                  </li>
                  <li class="u-Adjust_Align-left">
                    <h3 class="c-Heading_Lv4">4. 利用設定を有効にする</h3>
                    <p class="u-Adjust_Mt-8">キャリア決済の画面が表示されますので、設定を「有効」（ピンク枠の状態）に変更してください。</p>

                    <div class="u-Adjust_Pt-16">
                      <div class="l-Media_Image">
                        <figure class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/google/setting/img-04-230718.png" width="300" height="" alt="" class="c-Img_Capture u-Adjust_Mt-0"></figure>
                      </div>
                    </div>
                    <div class="u-Adjust_Pt-16">
                      <p class="c-Txt_Normal u-Adjust_Mt-32">
                        切り替え後、ポップアップが表示されます。「OK」をタップしてください。
                      </p>
                      <div class="l-Media_Image">
                        <figure class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/payment/google/setting/img-05.png?210820" width="300" height="" alt="" class="c-Img_Capture u-Adjust_Mt-0"></figure>
                      </div>
                    </div>
                  </li>
                </ul>
                <p class="u-Adjust_Mt-8 u-Adjust_Align-left">以上で「my 楽天モバイル」でのキャリア決済利用設定は完了です。</p>

              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-04" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-04"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 <%= namespace %>-Flow-step-emp u-Adjust_Ml-8">STEP 4</span><span class="c-Txt_Emp-01 <%= namespace %>-Flow-step-sub">Google Play ストアの決済方法を設定する（初めてGoogle Play ストアで購入する場合のみ）</span></button>
            <div id="accordion-content-04" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Flow-step" role="region" aria-labelledby="accordion-04" aria-hidden="true">
              <ol class="c-Flow">
                <li>
                  <h4 class="c-Heading_Lv4">1. スマートフォンで以下のリンクから Google Play ストアの「お支払い方法の追加」画面にアクセスする</h4>
                  <p class="u-Adjust_Mt-8"><a href="https://play.app.goo.gl/ELvH" target="_blank" rel="noopener noreferrer" class="c-Link_Txt-inline-icon">Google Play ストア お支払い方法の追加<span class="c-Icon_Chevron-right"></span></a></p>
                </li>
                <li>
                  <h4 class="c-Heading_Lv4">2. 楽天モバイルキャリア決済を有効にする</h4>
                  <p class="u-Adjust_Mt-8">「楽天モバイルのキャリア決済を有効にしますか？」の画面が表示されます。利用規約をご確認のうえ、楽天モバイルキャリア決済を有効にしてください。</p>
                  <img src="<%= sitepath %>assets/img/campaign/payment-google/img-flow-05.png" alt="">
                </li>
                <li>
                  <h4 class="c-Heading_Lv4">3. 「楽天モバイルのキャリア決済」を基本の決済方法に設定する</h4>
                  <p class="u-Adjust_Mt-8">「お支払い方法」画面にお客様の電話番号が表示され、「楽天モバイルのキャリア決済を利用」が基本の決済方法として設定されます。</p>
                  <p class="u-Adjust_Mt-8 c-Txt_Cap c-Txt_Emp-02">
                    ※ キャリア決済の設定が完了すると、SMS（テキスト メッセージ）がお使いのスマートフォンに届く場合があります。<br>
                    このメッセージは、Google Play アカウントのキャリア決済登録を完了するためのもので、自動的に生成、送信されます。お客様でご対応いただくことは特にございません。※ 楽天モバイルキャリア決済設定時に、SMS送信料3円（税込3.3円）のご請求が発生します。あらかじめご了承ください。
                  </p>
                  <img src="<%= sitepath %>assets/img/campaign/payment-google/img-flow-06.png" alt="">
                </li>
                <li class="<%= namespace %>-Flow-step-last">以上でGoogle Play ストアの設定は完了です。</li>
              </ol>
            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-05" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-05" data-effect="false"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 <%= namespace %>-Flow-step-emp u-Adjust_Ml-8">STEP 5</span><span class="c-Txt_Emp-01 <%= namespace %>-Flow-step-sub">楽天モバイルキャリア決済を利用してアプリ購入やアプリ内課金をする</span></button>
            <div id="accordion-content-05" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Flow-step" role="region" aria-labelledby="accordion-05" aria-hidden="true">
              <p class="u-Adjust_Mb-16 c-Txt_Emp-02">200ポイント還元は、楽天モバイルキャリア決済の設定と同日中に、初めてのキャリア決済のご利用が必要になります。</p>
              <div class="c-Tab js-Tab">
                <ul class="c-Tab_Items" role="tablist">
                  <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">すでにGoogle Play ストアで購入したことがある場合</li>
                  <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">初めてGoogle Play ストアで購入する場合</li>
                </ul>
                <div class="c-Tab_Panel <%= namespace %>-Flow-step-tab" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
                  <p>対象のコンテンツご購入時、前回利用したお支払い方法が選択されていますので、<span class="c-Txt_Emp-02">お支払い方法を「楽天モバイルのキャリア決済」に変更</span>してください。</p>
                  <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※「楽天モバイルキャリア決済」でのご購入がキャンペーン対象となります。</p>
                  <ol class="c-Flow">
                    <li>
                      <h4 class="c-Heading_Lv4">1. コンテンツ購入画面の支払い方法をタップする</h4>
                      <p class="u-Adjust_Mt-8">例）前回クレジットカードでお支払いをしていた場合</p>
                      <img src="<%= sitepath %>assets/img/campaign/payment-google/img-flow-14.png" alt="">
                    </li>
                    <li>
                      <h4 class="c-Heading_Lv4">2. お支払い方法を「楽天モバイルのキャリア決済」に変更する</h4>
                      <p class="u-Adjust_Mt-8">楽天モバイルの電話番号をタップし、お支払い方法を「楽天モバイルのキャリア決済」に変更してください。次回以降は、「楽天モバイルの決済を利用」が基本の決済方法として設定されます。</p>
                      <img src="<%= sitepath %>assets/img/campaign/payment-google/img-flow-15.png" alt="">
                    </li>
                    <li>
                      <h4 class="c-Heading_Lv4">3. 楽天モバイルキャリア決済でコンテンツを購入する</h4>
                      <p class="u-Adjust_Mt-8">お支払い方法が「楽天モバイルのキャリア決済」になっている（楽天モバイルの電話番号が表示されている）ことをご確認のうえ、ご購入手続きを完了してください。</p>
                      <img src="<%= sitepath %>assets/img/campaign/payment-google/img-flow-16.png" alt="">
                    </li>
                  </ol>
                </div>
                <div class="c-Tab_Panel <%= namespace %>-Flow-step-tab" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
                  <p>対象のコンテンツご購入時、お支払い方法が「楽天モバイルのキャリア決済」になっている（楽天モバイルの電話番号が表示されている）ことをご確認のうえ、ご購入手続きを完了してください。</p>
                  <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※「楽天モバイルキャリア決済」でのご購入がキャンペーン対象となります。</p>
                  <img src="<%= sitepath %>assets/img/campaign/payment-google/img-flow-16.png" alt="">
                </div>
                <p class="<%= namespace %>-Flow-step-last">以上で購入完了です。</p>
              </div>
            </div>
          </div>
          <div class="<%= namespace %>-Flow-triangle"></div>
          <div class="<%= namespace %>-Flow-point">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/shop-payment-google/point10per-200pt-sp-230901.png">
              <img src="<%= sitepath %>assets/img/campaign/shop-payment-google/point10per-200pt-pc-230901.png" alt="">
            </picture>
          </div>
          <p class="c-Txt_Cap u-Adjust_Mt-16">※1 キャリア決済ご利用に伴うポイント還元は、購入月の翌々月末日までに、楽天モバイルより期間限定ポイントで付与いたします。</p>
        </div>
      </div>

      <div class="l-System_Container u-Adjust_Mt-64">
        <div class="info_area info1 u-Adjust_Mt-64">
          <h2 class="c-Heading_Lv2" id="payment">楽天モバイルキャリア決済とは？</h2>

          <div class="l-Media_Grid">
            <div class="l-Media_Image">
              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <img src="<%= sitepath %>assets/img/campaign/shop-payment-google/img-03-221001.png" alt="">
              </div>
            </div>
            <div class="u-Adjust_Align-left u-Adjust_Mt-24">
              <p class="u-Adjust_Mt-16">Google Playストアでダウンロードしたゲームアプリ内での課金や、LINEコイン、YouTube Premium、電子マガジン、Google Oneなどの料金支払いを楽天モバイルのお支払いと同じ方法で決済できるサービスです。<br>
              楽天回線対応のAndroid製品の場合、「Rakuten最強プラン」ご契約者様はGoogle Play ストアの設定だけでご利用になれます。</p>

              <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>Google Play ストアの設定以外に、「<a href="<%= ecarepath %>my-rakuten-mobile" class="c-Link_Txt">my 楽天モバイル</a>」でご利用設定を「有効」にする必要があります。初期設定時は「有効」に設定されています。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>LINEコインは、LINE株式会社の商標または登録商標です。</p>

              <p class="c-Txt_Emp-02 u-Adjust_Mt-16">
                本サービスは、楽天モバイルのお支払い方法としてクレジットカードを設定済みの方のみ対象です。<br>
                クレジットカード払い以外のお客様がご利用設定を「有効」にされても、Google Play ストアで本サービスをご利用いただくことはできません。</p>
              <p class="u-Adjust_Mt-16">ご利用限度額（初期設定）と月額最大利用料の変更方法は<a href="<%= sitepath %>guide/payment/google/setting/" class="c-Link_Txt">こちら</a>からご確認ください。</p>
            </div>
          </div>
          <p class="u-Adjust_Align-center u-Adjust_Mt-16">
            <a href="<%= sitepath %>guide/payment/google/?l-id=campaign_shop-payment-google_guide_payment_google" class="c-Btn_Secondly-large u-Adjust_Pt-16 u-Adjust_Pb-16"><span>楽天モバイルキャリア決済 詳細を見る</span></a>
          </p>
          <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <a href="<%= sitepath %>shop/?l=id=campaign_shop-payment-google_shop" class="c-Btn_Regular-large"><span>お近くのショップを探す</span></a>
          </div>
        </div>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">よくあるご質問</h2>
        <div class="c-Accordion u-Adjust_Mt-24">
          <button type="button" id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ポイント付与を受ける為に決済金額の最低利用金額はありますか？</button>
          <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
            <p>最低１円以上ご利用いただく必要がございます。</p>
          </div>
        </div>
        <div class="c-Accordion">
          <button type="button" id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャリア決済を設定した同日に利用しなかったら適用されませんか？</button>
          <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
            <p>同日にご利用いただけない場合は適用されません。</p>
          </div>
        </div>
        <div class="c-Accordion">
          <button type="button" id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーン条件【1】～【3】に順番はありますか？</button>
          <div id="accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-5" aria-hidden="true">
            <p>エントリーとキャリア決済の設定・購入の順番は問いません。ただし、エントリーをいただいた当月内に、キャンペーン条件【2】と【3】を完了いただく必要があります。</p>
          </div>
        </div>
        <div class="c-Accordion">
          <button type="button" id="accordion-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-6"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>過去に楽天モバイルにてキャリア決済を利用したことがある場合、再申し込みしても対象になりますか？</button>
          <div id="accordion-content-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-6" aria-hidden="true">
            <p>
              初めて『楽天モバイルキャリア決済』でお支払いが条件となります。<br>
              過去を含めて『楽天モバイルキャリア決済』をご利用いただいていた場合は対象になりません。
            </p>
          </div>
        </div>
        <section id="campaign-rule" class="u-Adjust_Mt-64">
          <div class="u-Adjust_Align-center u-Adjust_Mb-32">
            <p class="c-Txt_Emp-02">
              本キャンペーンは2023年11月30日（木）をもちまして終了いたしました。<br>
              このページに掲載されている情報は、キャンペーン終了時点のものです。
            </p>
            <a href="<%= sitepath %>campaign/?l-id=end_campaign" class="c-Link_Txt-inline">開催中のキャンペーンを見る<span class="c-Icon_Chevron-right"></span></a>
          </div>
          <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1618', level: 'h2', year: '2023', class: '' }}) %>
          <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1922_shop_payment_google', level: 'h2', year: '2023', class: 'u-Adjust_Mt-64' }}) %>
        </section>

        <div class="c-Accordion u-Adjust_Mt-64" id="campaign-rule-old">
          <button id="accordion-001" class="c-Accordion_Trigger js-Accordion_Trigger un-limit-Layout_Accordion-trigger" aria-expanded="false" aria-controls="accordion-content-001"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>過去のキャンペーンルール</button>
          <div id="accordion-content-001" class="c-Accordion_Panel js-Accordion_Panel un-limit-Layout_Accordion-qapanel u-Adjust_Pt-32" role="region" aria-labelledby="accordion-001" aria-hidden="true" style="display:none;">
            <section>
              <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1923', level: 'h2', year: '2023', class: '' }}) %>
              <div class="u-Adjust_Mt-64">
                <h2 class="c-Heading_Lv2 u-Adjust_Align-left" id="campaign-rule1061">「Rakuten最強プラン」ご利用者対象 楽天モバイルキャリア決済 お支払い金額の10%分の楽天ポイント還元キャンペーン</h2>
                <div class="u-Adjust_Mt-24">
                  <dl class="c-Dl_Origin">
                    <div>
                      <dt>キャンペーンコード</dt>
                      <dd>
                        <p>1061</p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</p>
                      </dd>
                    </div>
                    <div>
                      <dt>キャンペーン期間</dt>
                      <dd>
                        <p class="c-Txt_Emp-01">プランのお申し込み期間</p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※本キャンペーンの終了日が記載されていますが、2023年7月1日（土）00:00以降、新キャンペーンを実施予定です。詳細は2023年7月1日（土）00:00から開始する新キャンペーンをご確認ください。</p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※新キャンペーンの準備状況によっては、本キャンペーン終了日の記載に関わらず延長する場合があります。</p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※2023年6月1日（木）に、キャンペーンの終了日を、終了日未定から変更しました。</p>
                      </dd>
                    </div>
                    <div>
                      <dt>キャンペーン条件</dt>
                      <dd>
                        <p>キャンペーン実施期間中に、 楽天モバイル「Rakuten最強プラン」をご利用の回線でGoogle Play ストアで有料のアプリやサービスなどの料金を、楽天モバイルキャリア決済でお支払いいただいた方。</p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天回線対応のAndroid製品をご利用の方のみ対象となります。</p>
                      </dd>
                    </div>
                    <div>
                      <dt>特典内容</dt>
                      <dd>
                        <p>楽天モバイルキャリア決済を利用して、Google Play ストアでお支払いされた金額（税込）の10%分の楽天ポイントをもれなくプレゼント。</p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※ポイント付与は、お一人様毎月最大20,000ポイントを上限とさせていただきます。</p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天回線対応のAndroid製品をご利用の方のみ対象となります。</p>
                      </dd>
                    </div>
                    <div>
                      <dt>ポイント付与日</dt>
                      <dd>
                        <p>楽天ポイントの付与は、購入月の翌々月末日までに行います。楽天ポイントは、期間限定ポイントです。<br>例）2020年9月に購入した場合、2020年11月末日までに付与</p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天ポイントの付与は、楽天モバイルより行います。</p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※権利の譲渡はできません。</p>
                      </dd>
                    </div>
                    <div>
                      <dt>ポイント有効期限</dt>
                      <dd>
                        <p>ポイント付与日を含めて6カ月</p>
                      </dd>
                    </div>
                    <div>
                      <dt>特典適用対象外</dt>
                      <dd>
                        <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、特典適用対象外となります</p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天モバイルキャリア決済でのお支払いをキャンセルされた場合</p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※月の購入金額が10円に満たない場合</p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※お支払いが正常に完了していない場合</p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※ポイント付与までに楽天会員から退会している場合</p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※当社または楽天グループ株式会社が定める規約などに違反した場合</p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※そのほか、当社が会員として不適格であると合理的に判断した場合</p>
                      </dd>
                    </div>
                    <div>
                      <dt>注意事項</dt>
                      <dd>
                        <p class="c-Txt_Cap">※楽天モバイルをご解約された場合、解約した月から特典の対象外となります。</p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※デジタルコンテンツのご購入ごとにクレジットカードまたはデビットカードで決済処理を実施いたします。ご利用日に対する引き落とし時期は、ご利用のカード会社またはデビットカード発行会社の規定に準じます。</p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※利用設定を「無効」にしている状態では、Google Play ストアで本サービスをご利用いただくことはできません。ご利用の際は、「<a href="<%= ecarepath %>my-rakuten-mobile" class="c-Link_Txt">my 楽天モバイル</a>」にてご利用設定を「有効」にしてください。初期設定時には「有効」に設定されています。</p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天モバイルキャリア決済でのお支払い分は、楽天モバイルが毎月のご利用料金に対して付与するポイントの対象外です。</p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天モバイルキャリア決済サービスは、楽天回線対応のAndroid製品をご利用の方のみを対象としております。</p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">※本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</p>
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>

    <footer class="g-Footer">

      <div class="g-Footer_Aside">

        <%- include('/include/footer/related/_related-un-limit-v2.ejs') %>

        <%- include('/include/footer/bnr/_bnr-news.ejs') %>

      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>

      <%- include('/include/_footer') %>

    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>

</body>
</html>
