<% const pagetitle = "電波改善報告" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/area/news/news.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <li><a href="<%= sitepath %>area/">エリア</a><span class="c-Icon_Chevron-right"></span></li>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="l-System_Container">
  <div class="area-news-Layout_Container">
    <div class="area-news-Heading_Container">
      <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
    </div>

    <div class="area-news-List_Container">
      <dl class="c-List_Dl">
        <div>
          <dt>2019年5月22日</dt>
          <dd>
            <ul class="c-List_Text-disc area-news-Heading_Extra">
              <li class="c-Txt_Normal"><a href="<%= sitepath %>area/news/yyyy/mmdd-nnnn.html">北海道札幌市白石区菊水元町９条２丁目　周辺</a></li>
              <li class="c-Txt_Normal"><a href="<%= sitepath %>area/news/yyyy/mmdd-nnnn.html">北海道札幌市白石区菊水元町９条２丁目　周辺</a></li>
            </ul>
          </dd>
        </div>
        <div>
          <dt>2019年5月22日</dt>
          <dd>
            <ul class="c-List_Text-disc area-news-Heading_Extra">
              <li class="c-Txt_Normal"><a href="<%= sitepath %>area/news/yyyy/mmdd-nnnn.html">北海道札幌市白石区菊水元町９条２丁目　周辺</a></li>
              <li class="c-Txt_Normal"><a href="<%= sitepath %>area/news/yyyy/mmdd-nnnn.html">北海道札幌市白石区菊水元町９条２丁目　周辺</a></li>
            </ul>
          </dd>
        </div>
        <div>
          <dt>2019年5月22日</dt>
          <dd>
            <ul class="c-List_Text-disc area-news-Heading_Extra">
              <li class="c-Txt_Normal"><a href="<%= sitepath %>area/news/yyyy/mmdd-nnnn.html">北海道札幌市白石区菊水元町９条２丁目　周辺</a></li>
              <li class="c-Txt_Normal"><a href="<%= sitepath %>area/news/yyyy/mmdd-nnnn.html">北海道札幌市白石区菊水元町９条２丁目　周辺</a></li>
            </ul>
          </dd>
        </div>
        <div>
          <dt>2019年5月22日</dt>
          <dd>
            <ul class="c-List_Text-disc area-news-Heading_Extra">
              <li class="c-Txt_Normal"><a href="<%= sitepath %>area/news/yyyy/mmdd-nnnn.html">北海道札幌市白石区菊水元町９条２丁目　周辺</a></li>
              <li class="c-Txt_Normal"><a href="<%= sitepath %>area/news/yyyy/mmdd-nnnn.html">北海道札幌市白石区菊水元町９条２丁目　周辺</a></li>
            </ul>
          </dd>
        </div>
      </dl>
    </div>

    <div class="area-news-Pager_Container">
      <ul class="c-Pager_Wrap">
        <li><span class="c-Pager_Arrow" aria-disabled="true"><span class="c-Icon_Chevron-left"></span></span></li>
        <li><span class="c-Pager_Number" aria-current="true">1</span></li>
        <li><a href="#" class="c-Pager_Number">2</a></li>
        <li><a href="#" class="c-Pager_Number">3</a></li>
        <li><a href="#" class="c-Pager_Number">4</a></li>
        <li><a href="#" class="c-Pager_Number">5</a></li>
        <li><a href="#" class="c-Pager_Arrow"><span class="c-Icon_Chevron-right"></span></a></li>
      </ul>
    </div>
  </div>
</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-area.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%#- include('/faq/include/related-area.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <li><a href="<%= sitepath %>information/news/other/">新着情報</a><span class="c-Icon_Chevron-right"></span></li>
      <li aria-current="true">エリア拡大情報</li>
    </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>


