<% const pagetitle = "iPhone 12 mini（5G対応）製品情報" -%>
<% const directory = "iphone-12-mini" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/iphone/", label:"iPhone"}] -%>
<% const currentDir = "iphone-12-mini" %>
<% const l_id = 'product_iphone-12-mini' %>
<% const namespace = "product-iphone-12-mini" -%>
<%# price-detail.ejsファイルに変数の説明の記載があります -%>
<% const priceDetailConfig = {
  tradeinProductName: 'iPhone 11 Pro Max',
  optionPattern: 'tradein',
  lid: directory,
  capacity: 512,
  maxTradeinPrice: 37330,
  carrier: 'SIMフリー',
}
-%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: "【販売終了】iPhone 12 mini（楽天モバイル）製品紹介。価格・スペック・デュアルカメラ仕様・特長・5G対応ほか｜アイフォン トゥエルブ ミニ（Apple）",
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<%- include('/include/product/_category-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/iphone/<%= directory %>/product-<%= directory %>.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/iphone/product-iphone.css?20240426">
<script src="https://r.r10s.jp/com/ap/target/phoenix-2.7.2.min.js"></script>
<%- include('/include/product/_history-css') %>
<%- include('/include/_append-head') %>
<style>
  .modaal-video-wrap {
    margin: 0 !important;
  }
</style>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= namespace %>-Layout_Hero">
  <div class="l-System_Container">
    <p class="c-Txt_Cap u-Adjust_Align-right">※表記の金額はすべて税込です。</p>


    <div class="<%= namespace %>_Section-end u-Adjust_Align-center u-Adjust_Mt-32 u-Adjust_Mr-16 u-Adjust_Ml-16">
      <p class="c-Txt_Emp-01 c-Txt_Normal-l">iPhone 12 miniは、販売を終了いたしました。</p>
    </div>
  </div>
  <!-- <div class="<%= namespace %>-Layout_Hero_Bnr">
    <div class="l-System_Container">
      <p class="u-Adjust_Align-center">
        <span class="c-Txt_Emp-02">本体代
        <span class="c-Txt_Normal-ll">4キャリア最安値！</span></span><span class="c-Txt_Cap">※1</span>
      <br class="<%= namespace %>-Utility_Disp-sp">
      <span class="u-Adjust_Ml-8 u-Adjust_Mr-8">
     <br><span class="c-Txt_Emp-01">さらに最大</span><span class="c-Txt_Emp-02"><span class="c-Txt_Normal-xl">13,000</span></span>
        <span class="c-Txt_Emp-01">ポイント還元中</span><span class="c-Txt_Cap">※2</span>
        </span>
      </p>
      <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>product/iphone/fee/?l-id=iphone_<%- currentDir %>_iphone_fee" class="c-Link_Txt-inline">価格比較表を見る<span class="c-Icon_Chevron-right"></span></a></p>
    </div>
  </div> -->
  <!-- <div class="l-System_Container">
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      ※1 2022年5月23日時点。NTTドコモ、au、ソフトバンクの公式オンラインのiPhone本体代金との比較。※2 初めてお申し込み、楽天カード48回払い利用の場合。他条件あり。<a href="<%= sitepath %>campaign/iphone-point/" class="js-scroll c-Link_Txt">詳細はこちら</a></p>
  </div> -->
  <div class="l-System_Container">
    <div class="u-Adjust_Align-center u-Adjust_Mt-32">
      <a href="<%= sitepath %>product/iphone/iphone-13-mini/?l-id=iphone-12-mini_iphone-13-mini" class="c-Btn_Regular-large"><span>iPhone 13 mini詳細・購入はこちら</span></a>
    </div>

    <div class="u-Adjust_Align-center u-Adjust_Mt-32 u-Adjust_Mb-24">
      <a href="<%= sitepath %>product/iphone/?l-id=product_iphone_iphone-12-mini_product_iphone" class="c-Link_Txt-inline-icon js-scroll">iPhone一覧を見る<span class="c-Icon_Chevron-right"></span></a>
    </div>

    <div class="<%= namespace %>-Hero_Reference u-Adjust_Mt-32 u-Adjust_Mb-24">
      <a href="#scroll-product-iphone-list" class="c-Link_Txt-inline-icon js-scroll">iPhoneのほかのモデルを見る<span class="c-Icon_Arrow-down-l"></span></a>
    </div>
    <%
      const productInfo = {
        'name': 'iPhone 12 mini',
        namespace: namespace,
        ctalabel: 'iPhone 12 miniを購入する',
        'nostack': true,
        'nosell': true,
        'color': [
          {
            'code': '#B7AFE6',
            'name': 'パープル'
          },
          {
            'code': '#105B8F',
            'name': 'ブルー'
          },
          {
            'code': '#D3EDCF',
            'name': 'グリーン'
          },
          {
            'code': '#D82E2E',
            'name': '（PRODUCT）RED&#8482;'
          },
          {
            'code': '#F6F2EF',
            'name': 'ホワイト'
          },
          {
            'code': '#25282A',
            'name': 'ブラック'
          },
        ],
        'url': 'https://portal.mobile.rakuten.co.jp/equipment-details?exid=320414&selectAvailable=true&l-id=iphone-12-mini_top_bss-iphone-12-mini',
        'urlTop': `https://portal.mobile.rakuten.co.jp/equipment-details?exid=320414&selectAvailable=true&l-id=${currentDir}_top_bss-${currentDir}`,
        'urlFeeSimulation': `https://portal.mobile.rakuten.co.jp/equipment-details?exid=320414&selectAvailable=true&l-id=${currentDir}_fee-simulation_bss-${currentDir}`,
        'urlBottom': `https://portal.mobile.rakuten.co.jp/equipment-details?exid=320414&selectAvailable=true&l-id=${currentDir}_bottom_bss-${currentDir}`,
        'ichiba': {
          'flag': false,
          'url': '',
        },
        'slider': [
          [
            `/assets/img/product/iphone/${currentDir}/pht-device-00.png?210424-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-01.png?210424-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-02.png?210424-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-03.png?210424-01`,
          ],
          [
            `/assets/img/product/iphone/${currentDir}/pht-device-04.png?210424-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-05.png?210424-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-06.png?210424-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-07.png?210424-01`,
          ],
          [
            `/assets/img/product/iphone/${currentDir}/pht-device-08.png?210424-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-09.png?210424-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-10.png?210424-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-11.png?210424-01`,
          ],
          [
            `/assets/img/product/iphone/${currentDir}/pht-device-12.png?210424-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-13.png?210424-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-14.png?210424-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-15.png?210424-01`,
          ],
          [
            `/assets/img/product/iphone/${currentDir}/pht-device-16.png?210424-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-17.png?210424-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-18.png?210424-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-19.png?210424-01`,
          ],
          [
            `/assets/img/product/iphone/${currentDir}/pht-device-20.png?210424-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-21.png?210424-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-22.png?210424-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-23.png?210424-01`,
          ],
        ],
        'movie': {
         'flag': true,
         'url': 'https://www.youtube.com/embed/aL9oXXJrZI8',
         'thumbnail': '/assets/img/product/iphone/iphone-12-mini/apple-movie.png',
       },
      }
    %>
    <%- include('/include/product/iphone/_product-info.ejs', { productInfo: productInfo }) %>

  </div>
</div>

<div class="<%= namespace %>-Utility_Bg-gray-light u-Adjust_Mt-64">

  <%
    const accessoryCarouselConf = {
      namespace: namespace,
      productname: 'iPhone 12 mini',
      accessoryArray: [
        {
          'url': `/product/accessory/apple-rm2209072/?l-id=iphone_${currentDir}_accessory_apple-rm2209072`,
          'image': '/assets/img/accessory/apple-rm2209072/pht-accessory-00.png?230922',
          'name': 'AirPods Pro（第2世代）',
          // 'beforePrice': '39,800',
          'price': '38,300',
        },
        {
          'url': `/product/accessory/apple-rm2209073/?l-id=iphone_${currentDir}_accessory_apple-rm2209073`,
          'image': '/assets/img/accessory/apple-rm2209073/pht-accessory-00.png?220127',
          'name': 'Lightning充電ケース付きAirPods（第3世代）',
          'price': '26,800',
        },
        {
          'url': `/product/accessory/apple-rm2106010/?l-id=iphone_${currentDir}_accessory_apple-rm2106010`,
          'image': '/assets/img/accessory/apple-rm2106010/pht-accessory-00.png',
          'name': 'MagSafe対応iPhone 12 miniクリアケース',
          'price': '3,025',
        },
        {
          'url': `/product/accessory/apple-rm213011/?l-id=iphone_${currentDir}_accessory_apple-rm213011`,
          'image': '/assets/img/accessory/apple-rm213011/pht-accessory-00.png',
          'name': 'MagSafe対応iPhone 12 miniシリコーンケース',
          'color': [
            { 'code': '#3B3BA3' },
            { 'code': '#21252C' },
          ],
          'price': '3,025',
        },
        {
          'url': `/product/accessory/apple-rm213013/?l-id=iphone_${currentDir}_accessory_apple-rm213013`,
          'image': '/assets/img/accessory/apple-rm213013/pht-accessory-00.png',
          'name': 'MagSafe対応iPhone 12 miniレザーケース',
          'color': [
            { 'code': '#A76843' },
            { 'code': '#25212B' },
          ],
          'price': '3,740',
        },
        {
          'url': `/product/accessory/apple-rm2109034/?l-id=iphone_${currentDir}_accessory_apple-rm2109034`,
          'image': '/assets/img/accessory/apple-rm2109034/pht-accessory-00.png',
          'name': 'MagSafe対応iPhoneレザーウォレット',
          'color': [
            { 'code': '#daa520' },
            { 'code': '#594255' },
            { 'code': '#384e36' },
            { 'code': '#333333' },
            { 'code': '#cab8d9' },
          ],
          'price': '9,380',
        },
        {
          'url': `/product/accessory/apple-rm2104016/?l-id=iphone_${currentDir}_accessory_apple-rm2104016`,
          'image': '/assets/img/accessory/apple-rm2104016/pht-accessory-00.png',
          'name': 'AirTag',
          'price': '4,780',
        },
        {
          'url': `/product/accessory/apple-rm213003/?l-id=iphone_${currentDir}_accessory_apple-rm213003`,
          'image': '/assets/img/accessory/apple-rm213003/pht-accessory-00.png',
          'name': 'MagSafe充電器',
          'price': '6,180',
        },
        {
          'url': `/product/accessory/apple-rm213004/?l-id=iphone_${currentDir}_accessory_apple-rm213004`,
          'image': '/assets/img/accessory/apple-rm213004/pht-accessory-00.png',
          'name': '20W USB-C電源アダプタ',
          'price': '2,780',
        },
      ]
    }
  -%>
</div>


<div class="<%= namespace %>-Spec_Panel l-System_Container" id="tab-content2" role="tabpanel" aria-labelledby="製品詳細・スペック" style="margin: auto">
  <div class="u-Adjust_Mt-40">
    <section class="<%= namespace %>-Spec_Section-1">
      <%# スクロール計測 %>
      <div class="u-Rat_Appear-height" data-ratid="<%= directory %>_scroll-08_product-detail" data-ratevent="appear">&nbsp;</div>
      <div class="<%= namespace %>-Spec_Section-1-bg">
        <div class="<%= namespace %>-Spec_Section-1-flex">
          <div class="<%= namespace %>-Utility_Disp-sp u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/logo-phone.png" alt="" width="102">
            <p class="<%= namespace %>-Spec_Section-1-catch">早い話、<br>速いです。</p>
          </div>
          <div class="<%= namespace %>-Spec_Section-1-visual">
            <img src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/section-1-1.png" alt="">
          </div>
          <div>
            <div>
              <img class="<%= namespace %>-Utility_Disp-pc" src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/logo-phone.png" alt="" width="133">
              <p class="<%= namespace %>-Spec_Section-1-catch <%= namespace %>-Utility_Disp-pc">早い話、<br>速いです。</p>
              <p class="<%= namespace %>-Spec_Section-1-lead">5Gの速さ。<br class="<%= namespace %>-Utility_Disp-pc">スマートフォンで<br class="<%= namespace %>-Utility_Disp-sp">最速のA14 Bionicチップ。<br>エッジからエッジまで広がる<br class="<%= namespace %>-Utility_Disp-sp">OLEDディスプレイ。<br>どのカメラでも使えるナイトモード。</p>
            </div>
            <div class="<%= namespace %>-Spec_Section-1-btn">
              <a href="<%= sitepath %>product/iphone/iphone-12-mini/">購入する</a>
            </div>

          </div>
        </div>
      </div>

    </section>
    <section class="<%= namespace %>-Spec_Section-2">
      <div class="<%= namespace %>-Spec_Section-2-bg">
        <div class="<%= namespace %>-Spec_Section-2-flex">
          <div>
            <div>
              <p class="<%= namespace %>-Spec_Section-2-heading">デザインとディスプレイ</p>
              <p class="<%= namespace %>-Spec_Section-2-catch">見つめたくなる。<br>手にしたくなる。</p>
              <p class="<%= namespace %>-Spec_Section-2-lead">驚異的なコントラストと、より高い<br>解像度をもたらすiPhone史上最高の<br>ディスプレイ。耐落下性能を4倍向上<br>させるCeramic Shield<span>1</span>。</p>
              <div class="<%= namespace %>-Spec_Section-2-exp <%= namespace %>-Utility_Disp-pc">
                <div>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/display.png" width="23" alt="">
                </div>
                <div>
                  <p class="c-Txt_Emp-01">Super Retina XDR<span>2</span></p>
                  <p>iPhone 12 Proと同じディスプレイ</p>
                </div>
              </div>

            </div>
          </div>
          <div>
            <img class="<%= namespace %>-Utility_Disp-pc" src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/section-2-1.png" alt="">
            <div class="<%= namespace %>-Spec_Section-2-visual <%= namespace %>-Utility_Disp-sp">

            </div>

          </div>
        </div>
      </div>
    </section>
    <section class="<%= namespace %>-Spec_Section-3">
      <div class="<%= namespace %>-Spec_Section-3-bg">
        <div class="<%= namespace %>-Spec_Section-3-flex">
          <div>
            <img src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/section-3-1.png" alt="">
          </div>
          <div>
            <div>
              <p class="<%= namespace %>-Spec_Section-3-heading">5GをiPhoneで</p>
              <p class="<%= namespace %>-Spec_Section-3-catch">こんにちは、5G。</p>
              <p class="<%= namespace %>-Spec_Section-3-exp-1">どこまでも速く。データ転送の<br class="<%= namespace %>-Utility_Disp-sp">遅延は<br class="<%= namespace %>-Utility_Disp-pc">どこまでも少なく。<br class="<%= namespace %>-Utility_Disp-sp">だからダウンロードがさらに高速。<br>ビデオのストリーミングはさらに高画質。<br class="<%= namespace %>-Utility_Disp-sp">ゲームプレイ<br class="<%= namespace %>-Utility_Disp-pc">の反応もさらに向上。<br class="<%= namespace %>-Utility_Disp-sp">様々な操作もリアルタイムで<span>3</span>。</p>
              <div class="<%= namespace %>-Spec_Section-3-exp-2">
                <div>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/antenna.png"  width="30" alt="">
                </div>
                <div>
                  <p class="">スマートフォンの中で<span class="c-Txt_Emp-01">最も多くの5G<br class="<%= namespace %>-Utility_Disp-sp">周波数帯に対応</span>。<br class="<%= namespace %>-Utility_Disp-pc">5Gのエリアをより<br class="<%= namespace %>-Utility_Disp-sp">幅広くカバーできます</p>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </section>
    <section class="<%= namespace %>-Spec_Section-4">
      <div class="<%= namespace %>-Spec_Section-4-bg">
        <div class="<%= namespace %>-Spec_Section-4-flex">
          <div>
            <div>
              <p class="<%= namespace %>-Spec_Section-4-heading">A14 Bionic</p>
              <p class="<%= namespace %>-Spec_Section-4-catch">どこまでも可能性を<br>広げるチップ。</p>
              <p class="<%= namespace %>-Spec_Section-4-exp-1">A14 Bionicは、スマートフォンで<br class="<%= namespace %>-Utility_Disp-sp">最速のチップ。16コアの<br class="<%= namespace %>-Utility_Disp-pc">Neural <br class="<%= namespace %>-Utility_Disp-sp">Engineで、1秒に何兆もの演算を<br class="<%= namespace %>-Utility_Disp-sp">高速処理。驚く<br class="<%= namespace %>-Utility_Disp-pc">ほど効率が良いので、<br class="<%= namespace %>-Utility_Disp-sp">バッテリーは長持ち<span>4</span>。</p>
              <div class="<%= namespace %>-Spec_Section-4-exp-2 <%= namespace %>-Utility_Disp-pc">
                <div>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/a14bionic.png"  width="38" alt="">
                </div>
                <div>
                  <p class="c-Txt_Emp-01">A14 Bionic</p>
                  <p>Phone 12 Proと同じチップ</p>
                </div>
              </div>
            </div>


          </div>
          <div>
            <img class="<%= namespace %>-Spec_Section-4-visual" src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/section-4-1.png" alt="">
            <div class="<%= namespace %>-Spec_Section-4-exp-2 <%= namespace %>-Utility_Disp-sp">
              <div>
                <div>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/a14bionic.png"  width="38" alt="">
                </div>
                <div>
                  <p class="c-Txt_Emp-01">A14 Bionic</p>
                  <p>Phone 12 Proと同じチップ</p>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="<%= namespace %>-Spec_Section-5">
      <div class="<%= namespace %>-Spec_Section-5-bg">
        <div class="<%= namespace %>-Spec_Section-5-flex">
          <div>
            <img src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/section-5-1.png" alt="">
            <div class="<%= namespace %>-Utility_Disp-sp">
              <div>
                <div class="<%= namespace %>-Spec_Section-5-exp-2-ttl">
                  <p class="c-Txt_Emp-01">iPhone 12の新しい機能</p>
                </div>
                <div class="<%= namespace %>-Spec_Section-5-exp-2-content">
                  <div>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/camera-superwide.png" width="37" alt="">
                  </div>
                  <p><span class="c-Txt_Emp-01">超広角カメラ</span>でナイトモードが<br class="<%= namespace %>-Utility_Disp-sp">使えるように</p>
                </div>
                <div class="<%= namespace %>-Spec_Section-5-exp-2-content">
                  <div>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/camera-wide.png" width="37" alt="">
                  </div>
                  <p><span class="c-Txt_Emp-01">広角カメラ</span>のとらえる光が27%多く</p>
                </div>
              </div>
            </div>

          </div>
          <div>
            <div>
              <p class="<%= namespace %>-Spec_Section-5-heading">デュアルカメラシステム</p>
              <p class="<%= namespace %>-Spec_Section-5-catch">ローライトでも<br>ハイチーズ。</p>
              <p class="<%= namespace %>-Spec_Section-5-exp-1">すべてのカメラでナイトモードを<br class="<%= namespace %>-Utility_Disp-sp">使えるので、暗い場所<br class="<%= namespace %>-Utility_Disp-pc">も一段と<br class="<%= namespace %>-Utility_Disp-sp">精細な写真をぱちり。セルフィー<br class="<%= namespace %>-Utility_Disp-sp">もばっちり。</p>
            </div>
            <div class="<%= namespace %>-Spec_Section-5-exp-2 <%= namespace %>-Utility_Disp-pc">
              <div class="<%= namespace %>-Spec_Section-5-exp-2-ttl">
                <p class="c-Txt_Emp-01">iPhone 12の新しい機能</p>
              </div>
              <div class="<%= namespace %>-Spec_Section-5-exp-2-content">
                <div>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/camera-superwide.png" width="37" alt="">
                </div>
                <p><span class="c-Txt_Emp-01">超広角カメラ</span>でナイトモードが使えるように</p>
              </div>
              <div class="<%= namespace %>-Spec_Section-5-exp-2-content">
                <div>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/camera-wide.png" width="37" alt="">
                </div>
                <p><span class="c-Txt_Emp-01">広角カメラ</span>のとらえる光が27%多く</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="<%= namespace %>-Spec_Section-6">
      <div class="<%= namespace %>-Spec_Section-6-bg">
        <div class="<%= namespace %>-Spec_Section-6-flex">
          <div>
            <div>
              <p class="<%= namespace %>-Spec_Section-6-heading">ビデオ</p>
              <p class="<%= namespace %>-Spec_Section-6-catch">カメラを止めるな。<br>暗くても。</p>
              <p class="<%= namespace %>-Spec_Section-6-exp-1">Dolby Visionビデオを撮影、編集、<br class="<%= namespace %>-Utility_Disp-sp">再生。<br class="<%= namespace %>-Utility_Disp-pc">AirPlayを使って、撮った<br class="<%= namespace %>-Utility_Disp-sp">ビデオをApple TV<br class="<%= namespace %>-Utility_Disp-pc">または<br class="<%= namespace %>-Utility_Disp-sp">スマートテレビにストリーミング<span>5</span>。</p>
              <div class="<%= namespace %>-Spec_Section-6-exp-2 <%= namespace %>-Utility_Disp-pc">
                <div class="<%= namespace %>-Spec_Section-6-exp-2-content">
                  <div>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/timelapse.png"  width="31" alt="">
                  </div>
                  <p><span>ナイトモードのタイムラプス</span>ビデオを三脚を使って<br class="<%= namespace %>-Utility_Disp-pc">撮ると、光の軌跡や動きをとらえられます</p>
                </div>
                <div class="<%= namespace %>-Spec_Section-6-exp-2-content">
                  <div>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/video-hdr.png"  width="31" alt="">
                  </div>
                  <p><span>10ビットのHDRビデオ撮影</span>は、8ビットのビデオと<br class="<%= namespace %>-Utility_Disp-pc">比べてカラーを60倍とらえられます</p>
                </div>
              </div>
            </div>

          </div>
          <div>
            <img src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/section-6-1.png" alt="">
            <div class="<%= namespace %>-Spec_Section-6-exp-2 <%= namespace %>-Utility_Disp-sp">
              <div>
                <div class="<%= namespace %>-Spec_Section-6-exp-2-content">
                  <div>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/timelapse.png"  width="31" alt="">
                  </div>
                  <p><span>ナイトモードのタイムラプス</span>ビデオを<br class="<%= namespace %>-Utility_Disp-sp">三脚を使って撮ると、光の軌跡や動きを<br class="<%= namespace %>-Utility_Disp-sp">とらえられます</p>
                </div>
                <div class="<%= namespace %>-Spec_Section-6-exp-2-content">
                  <div>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/video-hdr.png"  width="31" alt="">
                  </div>
                  <p><span>10ビットのHDRビデオ撮影</span>は、8ビットの<br class="<%= namespace %>-Utility_Disp-sp">ビデオと比べてカラーを60倍とらえられます</p>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </section>
    <section class="<%= namespace %>-Spec_Section-other">
      <div class="<%= namespace %>-Spec_Section-other-bg">
        <div class="<%= namespace %>-Spec_Section-other">
          <div class="<%= namespace %>-Spec_Section-other-inner">
            <section class="<%= namespace %>-Spec_Section-other-difference">
              <div class="c-Theme-White">
                <p class="<%= namespace %>-Spec_Section-other-difference-heading">iPhoneが好きになる理由</p>
                <p class="<%= namespace %>-Spec_Section-other-difference-catch">ほかのスマートフォン<br class="<%= namespace %>-Utility_Disp-sp">とはまったく違います。</p>
                <div class="<%= namespace %>-Spec_Section-other-difference-exp">
                  <div>
                    <div>
                      <img src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/flick.png" alt="">
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">簡単に使える</p>
                      <p>すべてがシンプルで<br class="<%= namespace %>-Utility_Disp-sp">直感的。<br class="<%= namespace %>-Utility_Disp-pc">タップと<br class="<%= namespace %>-Utility_Disp-sp">スワイプだけで簡単に<br>操作できます。</p>
                    </div>
                    <div>
                      <img src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/a14bionic.png" alt="">
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">賢さがある性能</p>
                      <p>Appleが設計した<br class="<%= namespace %>-Utility_Disp-sp">チップが、<br class="<%= namespace %>-Utility_Disp-pc">あらゆる<br class="<%= namespace %>-Utility_Disp-sp">ことを速く、賢くできる<br>ようにします。電力<br class="<%= namespace %>-Utility_Disp-sp">効率も<br class="<%= namespace %>-Utility_Disp-pc">優れています。</p>
                    </div>
                    <div>
                      <img src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/display-two.png" alt="">
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">高い耐久性と下取り価値</p>
                      <p>iPhoneはほかの<br class="<%= namespace %>-Utility_Disp-sp">スマート<br class="<%= namespace %>-Utility_Disp-pc">フォンよりも<br class="<%= namespace %>-Utility_Disp-sp">長く使えて、<br class="<%= namespace %>-Utility_Disp-pc">価値が<br class="<%= namespace %>-Utility_Disp-sp">長く続くように<br class="<%= namespace %>-Utility_Disp-pc">設計<br class="<%= namespace %>-Utility_Disp-sp">されています。</p>
                    </div>
                    <div>
                      <img src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/security.png" alt="">
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">プライバシーを守る</p>
                      <p>iPhoneのあらゆる<br class="<%= namespace %>-Utility_Disp-sp">部分が、<br class="<%= namespace %>-Utility_Disp-pc">あなたの<br class="<%= namespace %>-Utility_Disp-sp">個人情報を守る<br class="<%= namespace %>-Utility_Disp-pc">ように<br class="<%= namespace %>-Utility_Disp-sp">作られています。</p>
                    </div>

                  </div>
                </div>
              </div>
            </section>
            <section class="<%= namespace %>-Spec_Section-other-comparison">
              <%# スクロール計測 %>
              <div class="u-Rat_Appear-height" data-ratid="<%= directory %>_scroll-09_comparison" data-ratevent="appear">&nbsp;</div>
              <div class="c-Theme-White <%= namespace %>-Spec_Section-other-comparison-infobox u-Adjust_Mt-16">
                <p class="<%= namespace %>-Spec_Section-other-comparison-heading">比較する</p>
                <p class="<%= namespace %>-Spec_Section-other-comparison-catch">あなたにぴったりのiPhoneを見つけよう。</p>
                <div class="<%= namespace %>-Spec_Section-other-comparison_List">
                  <div class="<%= namespace %>-Spec_Section-other-comparison_List-content">
                    <div class="<%= namespace %>-Spec_Section-other-comparison_Select1-iphone12-mini"><%- include('/include/product/iphone/comparison/iphone-12-mini/_iphone_12_mini') %></div>
                  </div>
                  <div class="<%= namespace %>-Spec_Section-other-comparison_List-content">
                    <div class="<%= namespace %>-Spec_Section-other-comparison_Select2-iphone12"><%- include('/include/product/iphone/comparison/iphone-12-mini/_iphone_12') %></div>
                  </div>
                  <div class="<%= namespace %>-Spec_Section-other-comparison_List-content">
                    <div class="<%= namespace %>-Spec_Section-other-comparison_Select3-iphone12-pro"><%- include('/include/product/iphone/comparison/iphone-12-mini/_iphone_12_pro') %></div>
                  </div>
                </div>
              </div>
            </section>
            <section class="<%= namespace %>-Spec_Section-other-accessory">
              <div class="c-Theme-White <%= namespace %>-Spec_Section-other-accessory-infobox u-Adjust_Mt-16">
                <div class="<%= namespace %>-Spec_Section-other-accessory-flex">
                  <div>
                    <div>
                      <p class="<%= namespace %>-Spec_Section-other-accessory-heading">MagSafeアクセサリ</p>
                      <p class="<%= namespace %>-Spec_Section-other-accessory-catch">ケースも、カード入れも、<br>その両方も。磁力で<br>ピタッと装着。</p>
                      <p class="<%= namespace %>-Spec_Section-other-accessory-exp">装着が簡単で、よりすばやくワイヤレス<br class="<%= namespace %>-Utility_Disp-sp">充電ができる<br class="<%= namespace %>-Utility_Disp-pc">アクセサリの新しいエコ<br class="<%= namespace %>-Utility_Disp-sp">システム。組み合わせは<br class="<%= namespace %>-Utility_Disp-pc">数えきれない<br class="<%= namespace %>-Utility_Disp-sp">ほど。だからコーディネートが思いの<br class="<%= namespace %>-Utility_Disp-sp">ままです。</p>
                    </div>
                  </div>
                  <div>
                    <img class="<%= namespace %>-Spec_Section-other-accessory-visual" src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/section-other-accessory-1.png" alt="">
                  </div>
                </div>
              </div>
            </section>
            <section class="<%= namespace %>-Spec_Section-other-care">
              <div class="c-Theme-White u-Adjust_Mt-16">
                <div class="<%= namespace %>-Spec_Section-other-care-flex">
                  <div>
                    <div>
                      <p class="<%= namespace %>-Spec_Section-other-care-heading">AppleCare+</p>
                      <p class="<%= namespace %>-Spec_Section-other-care-catch">スペシャリストによる<br>サポートを延長できます。</p>
                      <ul class="<%= namespace %>-Spec_Section-other-care-exp-list">
                        <li>
                          <div>
                            <img src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/icon-check.png" width="16px" alt="">
                          </div>
                          <p>Apple認定技術者によるサービス </p>
                        </li>
                        <li>
                          <div>
                            <img src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/icon-check.png" width="16px" alt="">
                          </div>
                          <p>サポートへの優先アクセス</p>
                        </li>
                        <li>
                          <div>
                            <img src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/icon-check.png" width="16px" alt="">
                          </div>
                          <p>修理と交換に対応</p>
                        </li>
                      </ul>
                    </div>

                  </div>
                  <div>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/section-other-care-1.png" alt="">
                  </div>
                </div>
              </div>
            </section>
            <section class="<%= namespace %>-Spec_Section-other-music">
              <div class="c-Theme-White u-Adjust_Mt-16">
                <div class="<%= namespace %>-Spec_Section-other-music-flex">
                  <div>
                    <div>
                      <div class="<%= namespace %>-Spec_Section-other-music-logo">
                        <img src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/music.png" width="65" alt="">
                      </div>
                      <p class="<%= namespace %>-Spec_Section-other-music-catch">7,000万曲に<br>飛び込もう。</p>
                      <p class="<%= namespace %>-Spec_Section-other-music-exp">広告なしで7,000万曲をストリーミング。<br class="<%= namespace %>-Utility_Disp-sp">お気に入りの曲を<br class="<%= namespace %>-Utility_Disp-pc">ダウンロードすれば、<br class="<%= namespace %>-Utility_Disp-sp">オフラインでも再生できます。</p>
                    </div>

                  </div>
                  <div>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/section-other-music-1.png" alt="">
                  </div>
                </div>
              </div>
            </section>
            <section class="<%= namespace %>-Spec_Section-other-airtag">
              <div class="c-Theme-White <%= namespace %>-Spec_Section-other-airtag-infobox u-Adjust_Mt-16">
                <div class="<%= namespace %>-Spec_Section-other-airtag-flex">
                  <div>
                    <div>
                      <div class="<%= namespace %>-Spec_Section-other-airtag-logo">
                        <img src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/airtag.png" width="72" alt="">
                      </div>
                      <p class="<%= namespace %>-Spec_Section-other-airtag-catch">探し物を見つける<br>最も簡単な方法。</p>
                      <p class="<%= namespace %>-Spec_Section-other-airtag-exp">大切な物にはAirTagを取りつけて、<br class="<%= namespace %>-Utility_Disp-sp">すぐに見つかるようにして<br class="<%= namespace %>-Utility_Disp-pc">おきましょう。<br class="<%= namespace %>-Utility_Disp-sp">「探す」アプリで簡単に場所がわかります。</p>
                    </div>

                  </div>
                  <div>
                    <img class="<%= namespace %>-Utility_Disp-pc" src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/section-other-airtag-1.png" alt="">
                    <img class="<%= namespace %>-Utility_Disp-sp" src="<%= sitepath %>assets/img/product/iphone/iphone-12-mini/section-other-airtag-1-sp.png" alt="">
                  </div>
                </div>
              </div>
            </section>
            <div class="<%= namespace %>-Spec_Section-other-note">
              <%# スクロール計測 %>
              <div class="u-Rat_Appear-height" data-ratid="<%= directory %>_scroll-10_disclaimer" data-ratevent="appear">&nbsp;</div>
              <p class="c-Txt_Cap">1. 耐久性<br>iPhone 12およびiPhone 12 ProのCeramic Shieldの前面と一世代前のiPhoneの比較にもとづきます。</p>
              <p class="c-Txt_Cap">2. ディスプレイ<br>ディスプレイは美しい曲線を描くように四隅に丸みを持たせてデザインされており、標準的な長方形に収まります。 標準的な長方形として対角線の長さを測った場合のスクリーンのサイズは、5.42インチ（iPhone 12 mini）、5.85インチ（iPhone 11 Pro、iPhone XS、iPhone X）、6.06インチ（iPhone 12 Pro、iPhone 12、iPhone 11、iPhone XR）、6.46インチ（iPhone 11 Pro Max、iPhone XS Max）、6.68インチ（iPhone 12 Pro Max）です。 実際の表示領域はこれより小さくなります。</p>
              <p class="c-Txt_Cap">3. 携帯電話/ワイヤレス通信方式<br>データプランが必要です。 5GとLTEは特定の国の特定の通信事業者で利用できます。 速度は論理上のスループットにもとづくもので、使用する場所の条件および通信事業者によって変わります。 5GおよびLTE対応の詳細については通信事業者にお問い合わせください。 apple.com/jp/iphone/cellularもあわせてご覧ください。</p>
              <p class="c-Txt_Cap">4. 電源とバッテリー<br>バッテリーに関する各数値はネットワーク構成やその他の多くの要素によって変わり、実際の結果は異なる場合があります。 バッテリーは充電回数に限りがあり、将来的にはApple正規サービスプロバイダによる交換が必要になる場合があります。 バッテリー駆動時間と充電サイクルは使用方法と設定によって異なります。 詳しくはapple.com/jp/batteriesおよびapple.com/jp/iphone/battery.htmlをご覧ください。</p>
              <p class="c-Txt_Cap">5. AirPlayストリーミング<br>Apple TVまたはAirPlay対応テレビが必要です。</p>
              <p class="c-Txt_Cap">Apple Arcade<br>Apple Arcadeを利用するにはサブスクリプションが必要です。</p>
              <p class="c-Txt_Cap">利用できる機能<br>国や地域によっては一部の機能を利用できない場合があります。</p>
              <p class="c-Txt_Cap">iPhoneの商標は、アイホン株式会社のライセンスにもとづき使用されています。</p>
              <p class="c-Txt_Cap">その他の免責事項：</p>
              <p class="c-Txt_Cap">アクセサリ<br>アクセサリは別売りです。</p>
              <p class="c-Txt_Cap">Apple Music<br>Apple Musicを利用するにはサブスクリプションが必要です。</p>
            </div>
            <div class="<%= namespace %>-Spec_Section-other-characteristic u-Adjust_Mt-40">
              <%# スクロール計測 %>
              <div class="u-Rat_Appear-height" data-ratid="<%= directory %>_scroll-11_feature" data-ratevent="appear">&nbsp;</div>
              <h3 class="c-Heading_Lv3">主な特長</h3>
              <ul class="c-List_Text-disc u-Adjust_Mt-32">
                <li>5.4インチSuper Retina XDRディスプレイ <span>2</span></li>
                <li>どんなスマートフォンのガラスよりも頑丈なCeramic Shield</li>
                <li>超高速ダウンロードと高品質なストリーミングができる5G <span>1</span></li>
                <li>スマートフォンで最速のA14 Bionicチップ</li>
                <li>超広角と広角カメラを持つ先進的な12MPデュアルカメラシステム。ナイトモード、Deep Fusion、スマートHDR3、4KドルビービジョンでのHDR撮影に対応</li>
                <li>ナイトモードと4KドルビービジョンでのHDR撮影に対応した12MP TrueDepthフロントカメラ</li>
                <li>業界をリードするIP68の耐水性能 <span>5</span></li>
                <li>装着が簡単で、よりすばやくワイヤレス充電ができるMagSafeアクセサリに対応 <span>4</span></li>
                <li>再設計されたホーム画面上のウィジェット、まったく新しいAppライブラリ、App Clipなどが使えるiOS14</li>
              </ul>
              <div class="c-Txt_Cap u-Adjust_Mt-32">
                <p>1 データプランが必要です。5Gは特定の国の特定の通信事業者で利用できます。速度は使用する場所の条件と通信事業者によって変わります。5G対応の詳細については通信事業者にお問い合わせください。<a href="https://www.apple.com/jp/iphone/cellular/" target="_blank" rel="noopener noreferrer">apple.com/jp/iphone/cellular</a>もあわせてご覧ください。</p>
                <p>2 ディスプレイは四隅が丸みを帯びています。長方形として対角線の長さを測った場合のスクリーンのサイズは5.42インチです。実際の表示領域はこれより小さくなります。</p>
                <p>4 アクセサリは別売りです。</p>
                <p>5 iPhone 12 miniは防沫性能、耐水性能、防塵性能を備えており、実験室の管理された条件下でのテストにより、IEC規格60529にもとづくIP68等級に適合しています（最大水深6メートルで最大30分間）。防沫性能、耐水性能、防塵性能は永続的に維持されるものではありません。通常の使用によって耐性が低下する可能性があります。iPhoneが濡れている場合は充電しないでください。クリーニングと乾燥の方法についてはユーザガイドをご覧ください。液体による損傷は保証の対象になりません。</p>
                <p>iPhoneの商標は、アイホン株式会社のライセンスにもとづき使用されています。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<%- include('/include/product/iphone/_equipment.ejs', { l_id: '' }) %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-product-v2.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>

  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/product/_category-js') %>
<%- include('/include/product/_history-js') %>
<%- include('/include/_append-body') %>
<script src="<%= sitepath %>assets/js/product.iphone.common.bundle.js?20240522"></script>

</body>
</html>
