<%
  const namespace = "i-Fee-saikyo-plan-simulation-test-a-drawer"
  const imgpath = `${sitepath}assets/img/common/fee/saikyo-plan/simulation-test-a/`
  const askDataSizeList = [
    {label: '0.5GB以下', value: 'under_0.5'},
    {label: '1GB以下', value: 'under_1'},
    {label: '2GB以下', value: 'under_2'},
    {label: '3GB以下', value: 'under_3'},
    {label: '4GB以下', value: 'under_4'},
    {label: '5GB以下', value: 'under_5'},
    {label: '6GB以下', value: 'under_6'},
    {label: '7GB以下', value: 'under_7'},
    {label: '9GB以下', value: 'under_9'},
    {label: '15GB以下', value: 'under_15'},
    {label: '20GB以下', value: 'under_20'},
    {label: '25GB以下', value: 'under_25'},
    {label: '30GB以下', value: 'under_30'},
    {label: '50GB以下', value: 'under_50'},
    {label: '60GB以下', value: 'under_60'},
    {label: '100GB以下', value: 'under_100'},
    {label: '150GB以下', value: 'under_150'},
    {label: '150GB超', value: 'over_150'},
    {label: '分からない', value: 'unknown'},
  ];

  const carrierList = [
    {label: 'docomo', value: 'docomo'},
    {label: 'au', value: 'au'},
    {label: 'SoftBank', value: 'softbank'},
    {label: 'Y!mobile', value: 'ymobile'},
    {label: 'UQ mobile', value: 'uqmobile'},
    {label: 'ahamo', value: 'ahamo'},
    {label: 'povo2.0', value: 'povo'},
    {label: 'LINEMO', value: 'linemo'},
    {label: 'eximo', value: 'docomo_eximo'},
    {label: 'irumo', value: 'docomo_irumo'},
    {label: 'ペイトク', value: 'softbank_paytoku'},
    {label: 'その他', value: 'other'},
  ];
%>

<div class="<%= namespace %>" id="js-simulation-drawer-wrapper">
  <div class="<%= namespace %>_Overlay" id="js-simulation-drawer-overlay" data-ratid="saikyo-plan_simulation_close_a_click" data-ratevent="click" data-ratparam="all" style="display:none;"></div>
  <div class="<%= namespace %>_Drawer" data-ratid="saikyo-plan_simulation_a_drawer" data-ratevent="appear" dta-ratparam="all" aria-expanded="false" id="js-simulation-drawer">
    <div class="<%= namespace %>_Drawer-trigger" id="js-simulation-drawer-trigger" data-ratid="saikyo-plan_simulation_a_click" data-ratevent="click" data-ratparam="all">
      <div>
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>simulation-drawer-head-sp.png" width="1025" height="198">
          <img src="<%= imgpath %>simulation-drawer-head-pc.png" width="800" height="88" alt="楽天モバイルに乗り換えで、どれだけおトクになる？料金＆ポイントかんたんチェック！">
        </picture>
      </div>
      <div class="<%= namespace %>_Drawer-trigger-icon">
        <div class="<%= namespace %>_Drawer-trigger-arrows">
          <div class="<%= namespace %>_Drawer-trigger-arrow"></div>
          <div class="<%= namespace %>_Drawer-trigger-arrow"></div>
        </div>
      </div>
    </div>
    <div id="js-simulation-drawer-target" class="<%= namespace %>_Drawer-target" style="grid-template-rows: 0fr;">
      <div class="<%= namespace %>_Drawer-target-inner">
        <div class="<%= namespace %>_Main">
          <div id="js-simulation">
            <div data-ratid="saikyo-plan_simulation_a" data-ratevent="appear" data-ratparam="all">
              <div class="u-Align_Llc">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>ask-01-sp.png" width="342" height="26">
                  <img src="<%= imgpath %>ask-01-pc.png" alt="1ヶ月に使うデータ量はどのくらいですか？" width="380" height="32" loading="lazy">
                </picture>
              </div>
              <div class="c-Form_Select u-Adjust_Mt-8">
                <select id="js-ask-data-size">
                  <option value="" selected disabled>選択してください</option>
                  <% askDataSizeList.forEach(data => { %>
                    <option value=<%= data.value %>><%= data.label %></option>
                  <% }) %>
                </select>
                <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
              </div>
            </div>
            <div id="js-ask-carrier-wrap">
              <div class="u-Adjust_Mt-24">
                <div class="u-Align_Llc">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>ask-02-sp.png" width="342" height="26">
                    <img src="<%= imgpath %>ask-02-pc.png" alt="いまどの携帯電話会社を使っていますか？" width="372" height="32" loading="lazy">
                  </picture>
                </div>
                <div class="c-Form_Select u-Adjust_Mt-8">
                  <select id="js-ask-carrier" disabled>
                    <option value="" selected disabled>選択してください</option>
                    <% carrierList.forEach(data => { %>
                      <option value=<%= data.value %>><%= data.label %></option>
                    <% }) %>
                  </select>
                  <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
                </div>
              </div>
              <div class="u-Adjust_Mt-8">
                <p class="c-Txt_Emp-01 u-Adjust_Align-center">家族割をご利用の場合は選択してください</p>
                <div class="<%= namespace %>_Radio-container u-Adjust_Mt-8" id="js-ask-family-plan">
                  <label class="<%= namespace %>-Main_Step-ask-item c-Form_Radioblock js-family-plan-radio">
                    <input type="radio" name="familyPlan" id="familyPlanNone" value="" disabled>
                    <span class="<%= namespace %>_Radio-wrap c-Form_Radioblock-wrap">
                      <span>なし</span>
                    </span>
                  </label>
                  <label class="<%= namespace %>-Main_Step-ask-item c-Form_Radioblock js-family-plan-radio">
                    <input type="radio" name="familyPlan" id="familyPlan2" value="family_2" disabled>
                    <span class="<%= namespace %>_Radio-wrap c-Form_Radioblock-wrap">
                      <span>2回線</span>
                    </span>
                  </label>
                  <label class="<%= namespace %>-Main_Step-ask-item c-Form_Radioblock js-family-plan-radio">
                    <input type="radio" name="familyPlan" id="familyPlan3" value="family_3_over" disabled>
                    <span class="<%= namespace %>_Radio-wrap c-Form_Radioblock-wrap">
                      <span>3回線</span>
                    </span>
                  </label>
                </div>
              </div>
            </div>
            <div class="u-Adjust_Mt-24">
              <div class="u-Adjust_Align-center">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>btn-deco-panda-sp.png" width="213" height="52">
                  <img src="<%= imgpath %>btn-deco-panda-pc.png" alt="" width="230" height="56" loading="lazy">
                </picture>
              </div>
              <div class="<%= namespace %>_Btn" id="js-simulation-btn-wrapper">
                <button class="c-Btn_Primary" id="js-simulation-btn" aria-disabled="true">シミュレーション結果を見る</button>
                <button id="js-simulation-btn-clone" data-ratid="" data-ratevent="click" data-ratparam="all" style="display: none;"></button>
              </div>
            </div>
            <p class="<%= namespace %>_Txt-sss c-Txt_Cap u-Adjust_Mt-8">*2023年10月3日時点の情報</p>
          </div>

          <div id="js-simulation-result" style="display: none;">
            <div class="<%= namespace %>_Loading" id="js-simulation-result-loading">
              <div class="<%= namespace %>_Loading-container"><div class="<%= namespace %>_Loading-item"></div></div>
            </div>
            <div>
              <div id="js-simulation-result-appear-wrapper"></div>
              <div class="js-simulation-result-lazy" style="display: none;">
                <div class="u-Adjust_Align-center">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>result-head-sp.png" width="263" height="22">
                    <img src="<%= imgpath %>result-head-pc.png" alt="楽天モバイルに乗り換えると" width="305" height="26">
                  </picture>
                </div>
              </div>

              <%# グラフ %>
              <div class="<%= namespace %>_Graph" id="js-graph" style="display:none;">
                <div class="<%= namespace %>_Graph-main">
                  <div class="<%= namespace %>_Graph-items">
                    <div class="<%= namespace %>_Graph-item">
                      <div class="<%= namespace %>_Graph-bar <%= namespace %>_Graph-bar--target js-graph-target">
                        <div class="js-win-pattern" style="display:none;">
                          <div class="<%= namespace %>_Graph-arrow <%= namespace %>_Graph-arrow--long js-graph-arrow-long" style="display: none;">
                            <img src="<%= imgpath %>graph-arrow-long.svg" alt="" width="306" height="47">
                          </div>
                          <div class="<%= namespace %>_Graph-arrow <%= namespace %>_Graph-arrow--short js-graph-arrow-short" style="display: none;">
                            <img src="<%= imgpath %>graph-arrow-short.svg" alt="" width="74" height="28">
                          </div>
                        </div>
                      </div>
                      <div class="<%= namespace %>_Graph-value js-graph-value-target">
                        <div class="<%= namespace %>_Graph-carrier js-graph-target-carrier"></div>
                        <div class="<%= namespace %>_Graph-price"><span class="<%= namespace %>_Graph-price-num js-graph-target-price"></span>円<sup class="c-Txt_Cap <%= namespace %>_Txt-sss">*1</sup></div>
                      </div>

                    </div>
                    <div class="<%= namespace %>_Graph-item">
                      <div class="<%= namespace %>_Graph-bar <%= namespace %>_Graph-bar--rmi js-graph-rmi"></div>
                      <div class="<%= namespace %>_Graph-value js-graph-value-rmi">
                        <div class="<%= namespace %>_Graph-carrier">楽天モバイル</div>
                        <div class="<%= namespace %>_Graph-price"><span class="<%= namespace %>_Graph-price-num js-graph-rmi-price"></span>円</div>
                      </div>
                    </div>
                    <div class="<%= namespace %>_Graph-item u-Adjust_Mt-8">
                      <div class="<%= namespace %>_Graph-bar <%= namespace %>_Graph-bar--point js-graph-point"></div>
                      <div class="<%= namespace %>_Graph-value <%= namespace %>_Graph-value--point js-graph-value-point">
                        <div class="<%= namespace %>_Graph-carrier">楽天ポイント利用時</div>
                        <div class="<%= namespace %>_Graph-price"><span class="<%= namespace %>_Graph-price-num js-graph-point-price"></span>円</div>
                      </div>
                    </div>
                  </div>

                  <div class="<%= namespace %>_Graph-speachbubble u-Adjust_Mt-16">
                    <div id="js-graph-speachbubble-own" style="display:none;">
                      <div class="<%= namespace %>_Graph-speachbubble-text c-Txt_Emp-01">
                        <p class="u-Adjust_Align-center">あなたのモバイル特典<span class="u-Show_Xxo">(SPU＋4倍)</span>でもらえる<span class="c-Txt_Emp-02"><span id="js-own-point"></span>ポイント</span>利用<sup class="c-Txt_Cap <%= namespace %>_Txt-sss">*2</sup></p>
                        <p class="<%= namespace %>_Graph-speachbubble-text-spu u-Adjust_Align-left u-Show_Oox">(SPU＋4倍)</p>
                      </div>
                    </div>
                    <div id="js-graph-speachbubble-average" style="display:none;">
                      <p class="<%= namespace %>_Graph-speachbubble-text c-Txt_Emp-01">楽天モバイルご利用者の月平均獲得<span class="c-Txt_Emp-02"><span id="js-average-point"></span>ポイント</span>を利用<sup class="c-Txt_Cap <%= namespace %>_Txt-sss">*2</sup></p>
                    </div>
                  </div>
                </div>

                <div class="<%= namespace %>_Graph-total js-win-pattern" style="display:none;">
                  <div class="<%= namespace %>_Graph-total-container">
                    <div>
                      <p>
                        <span class="<%= namespace %>_Graph-total-text">
                          <span class="<%= namespace %>_Graph-total-term">2年間で</span>
                          <span class="<%= namespace %>_Graph-total-price">
                            <span class="<%= namespace %>_Graph-total-price-num js-graph-diff-price"></span>
                            円
                          </span>
                          おトク!
                          <sup class="c-Txt_Cap <%= namespace %>_Txt-sss">*3</sup>
                        </span>
                      </p>
                    </div>
                  </div>
                  <p class="c-Txt_Cap u-Adjust_Align-center">*1 <span class="js-graph-target-plan"></span>で算出</p>
                </div>
                <div class="u-Adjust_Mt-8 js-lose-pattern" style="display: none;">
                  <p class="c-Txt_Cap">*1 <span class="js-graph-target-plan"></span>で算出</p>
                </div>

                <div class="u-Adjust_Mt-8 u-Adjust_Align-center js-win-pattern" style="display:none;">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>result-call-win-sp.png" width="343" height="61">
                    <img src="<%= imgpath %>result-call-win-pc.png" alt="さらにRakuten Linkアプリ利用で国内通話0円※4" width="457" height="77" loading="lazy">
                  </picture>
                </div>
                <div class="u-Adjust_Mt-8 u-Adjust_Align-center js-lose-pattern" style="display:none;">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>result-call-lose-sp.png" width="343" height="61">
                    <img src="<%= imgpath %>result-call-lose-pc.png" alt="さらにRakuten Linkアプリ利用で国内通話0円※3" width="457" height="77" loading="lazy">
                  </picture>
                </div>
              </div>

              <%# データ=「わからない」 or キャリア=「その他」%>
              <div class="u-Adjust_Mt-16 js-lack-pattern" style="display:none;">
                <div class="">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>result-lack-sp.png" width="686" height="272">
                    <img src="<%= imgpath %>result-lack-pc.png" alt="データ高速無制限*1 2,980円/月（税込3,278円） 使わなければ勝手に安く 3GBまで980円/月（税込1,078円）" width="456" height="142" loading="lazy">
                  </picture>
                </div>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>result-call-lack-sp.png" width="343" height="61">
                    <img src="<%= imgpath %>result-call-lack-pc.png" alt="さらにRakuten Linkアプリ利用で国内通話0円※2" width="457" height="77" loading="lazy">
                  </picture>
                </div>
              </div>
            </div>

            <div class="js-simulation-result-lazy" style="display: none;">
              <div class="<%= namespace %>_Btn u-Adjust_Mt-16"><a href="<%= sitepath %>guide/application/?lid-r=fee_saikyo-plan_simulation-result_a_0_guide_application" class="c-Btn_Primary" id="js-apply-btn">今すぐお申し込み</a></div>
              <p class="u-Adjust_Mt-16"><button class="c-Link_Txt-inline" id="js-simulation-back" data-ratid="" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-left"></span>もう一度試す</button></p>

              <p class="<%= namespace %>_Txt-sss c-Txt_Cap u-Adjust_Mt-8" id="js-result-attention-nothing-point" style="display:none;"><span class="c-Txt_Emp-02">*1 他社料金は各種キャンペーンにより割引適用される場合や条件あり</span> *2 2023年10月の平均。プラン料金を楽天ポイント全額支払時 *3 両社ポイントを含まない金額で算出 *4 一部対象外番号あり。アプリ未使用時30秒22円 *2023年10月3日時点の情報。通話料等別</p>
              <p class="<%= namespace %>_Txt-sss c-Txt_Cap u-Adjust_Mt-8" id="js-result-attention-win" style="display:none;"><span class="c-Txt_Emp-02">*1 他社料金は各種キャンペーンにより割引適用される場合や条件あり</span> *2 あなたの直近3カ月間の楽天市場での購買金額で「楽天モバイル対象プランご契約者特典＋4倍」の獲得ポイント数で算出。プラン料金を楽天ポイントで全額支払時 *3 両社ポイントを含まない金額で算出 *4 一部対象外番号あり。アプリ未使用時30秒22円 *2023年10月3日時点の情報。通話料等別</p>
              <p class="<%= namespace %>_Txt-sss c-Txt_Cap u-Adjust_Mt-8" id="js-result-attention-lose" style="display:none;"><span class="c-Txt_Emp-02">*1 他社料金は各種キャンペーンにより割引適用される場合や条件あり</span> *2 あなたの直近3カ月間の楽天市場での購買金額で「楽天モバイル対象プランご契約者特典＋4倍」の獲得ポイント数で算出。プラン料金を全額楽天ポイントで支払時 *3 一部対象外番号あり。アプリ未使用時30秒22円 *2023年10月3日時点の情報。通話料等別</p>
              <p class="<%= namespace %>_Txt-sss c-Txt_Cap u-Adjust_Mt-8" id="js-result-attention-lack" style="display:none;">*通話料等別 *1 公平なサービス提供または環境により速度低下する場合あり *2 一部対象外番号あり。アプリ未使用時30秒22円</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="<%= namespace %>_FixedBtn" id="js-simulation-fixed-btn" style="display:none;">
  <a class="c-Banner_Hover-act" href="<%= sitepath %>fee/simulation/?l-id=fee_saikyo-plan_simulation_a_banner_fee_simulation">
    <img src="<%= imgpath %>simulation-visited-fixed-btn.png" alt="料金おトクチェック" width="48" height="79" loading="lazy">
  </a>
</div>
