<% const pagetitle = "AQUOS R5G 発売記念キャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "aquos-r5g-campaign" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'キャンペーン期間中に、キャンペーンページでエントリーをし、AQUOS R5Gをご購入いただいた楽天会員の方に楽天ポイント5,000ポイントをプレゼントいたします。',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/aquos-r5g-campaign/aquos-r5g-campaign.css?20240424">
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<script src="https://r.r10s.jp/com/js/d/rjs/rjs_helpers-1.1.0.min.js"></script>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= namespace %>-Hero_Return">
  <div class="l-System_Container <%= namespace %>-Hero_Container">
    <div class="<%= namespace %>-Hero_Main">
      <h1><img src="<%= sitepath %>assets/img/campaign/aquos-r5g-campaign/img-heading-pc.png?200701" alt="" height="460" class="<%= namespace %>-Utility_Img-pc"><img src="<%= sitepath %>assets/img/campaign/aquos-r5g-campaign/img-heading-sp.png?200701" alt="" class="<%= namespace %>-Utility_Img-sp"></h1>
    </div>
  </div>
</div>

<div class="<%= namespace %>-Layout_Body">
  <div class="l-System_Container">
    <p class="c-Txt_Normal-l c-Txt_Emp-02 u-Adjust_Align-center u-Adjust_Mb-24 u-Adjust_Mt-8" style="color:#ff0000;">本キャンペーンは終了しました。</p>
    <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-8">
      <li><a href="#campaign-flow" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーン参加方法を確認する</a></li>
      <li><a href="#campaign-rule" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルールを見る</a></li>
    </ul>

    <div class="u-Adjust_Mt-24">
      <h3 class="c-Heading_Lv3 u-Adjust_Mt-16">エントリーして、AQUOS R5Gをご購入で5,000円相当のポイントを還元いたします。</h3>
    </div>

    <div class="u-Adjust_Align-center u-Adjust_Mt-24">
      <div class="c-Infobox_Standing-light u-Adjust_Mt-40">
        <div class="l-Media_Grid-large-reverse">
    <div>
      <h3 class="c-Heading_Lv4 u-Adjust_Mt-24">AQUOS R5G</h3>
        <p class="u-Adjust_Mt-24 c-Txt_Emp-01">8K動画＆AI対応4眼カメラ</p>
        <div class="u-Adjust_Align-center u-Adjust_Mt-40">
          <div><a href="<%= sitepath %>product/smartphone/aquos-r5g/" class="c-Btn_Regular-half"><span>製品詳細を見る</span></a></div>
        </div>
    </div>
    <div class="l-Media_Image u-Adjust_Align-center">
      <img src="<%= sitepath %>assets/img/campaign/aquos-r5g-campaign/img-point-01.png" width="" alt="">
    </div>
</div>
      </div>
    </div>


    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="campaign-flow">キャンペーンご利用方法</h2>
    <ul class="<%= namespace %>-Flow_List">
  <li>
    <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
      <div class="l-Media_Image <%= namespace %>-Flow_List-img">
        <img src="<%= sitepath %>assets/img/campaign/aquos-r5g-campaign/img-point-02.png" width="" alt="">
      </div>
      <div>
        <h3 class="c-Heading_Lv3 u-Adjust_Mt-16">エントリーする</h3>
        <p class="u-Adjust_Mt-16">「エントリー」ボタンをタップし、エントリーを完了してください。<br>エントリー完了後、こちらキャンペーンのページに戻ります。</p>
      </div>
    </div>

  </li>
  <li>
    <div class="<%= namespace %>-Flow_List-detail">
      <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
        <div class="l-Media_Image <%= namespace %>-Flow_List-img">
          <img src="<%= sitepath %>assets/img/campaign/aquos-r5g-campaign/img-point-03.png" width="" alt="">
        </div>
        <div>
          <h3 class="c-Heading_Lv3 u-Adjust_Mt-16">製品を購入する</h3>
          <p class="u-Adjust_Mt-16">「製品詳細」画面の「購入する」ボタンよりお申し込み画面に進み、案内に従って製品（AQUOS R5G）の購入手続きを行ってください。</p>
        </div>
      </div>
      <div class="u-Adjust_Align-center u-Adjust_Mt-24 u-Adjust_Mb-24">
        <div><a href="<%= sitepath %>product/smartphone/aquos-r5g/" class="c-Btn_Regular-half"><span>製品詳細を見る</span></a></div>
      </div>
    </div>
  </li>
  <li>
    <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
      <div class="l-Media_Image <%= namespace %>-Flow_List-img">
        <img src="<%= sitepath %>assets/img/campaign/aquos-r5g-campaign/img-point-08.png" width=""  alt="">
      </div>
      <div>
        <h3 class="c-Heading_Lv3 u-Adjust_Mt-16">5,000円相当のポイントプレゼント</h3>
        <p class="u-Adjust_Mt-16">5,000ポイントの付与は、8月下旬ごろまでに行います。</p>
      </div>
    </div>
  </li>
</ul>

<div class="<%= namespace %>-Layout_Section-bnr">
  <h3 class="c-Heading_Lv3 u-Adjust_Mb-16">常識をくつがえす料金プラン</h3>
  <div class="<%= namespace %>-Block_Unlimit">
    <div class="<%= namespace %>-Block_Unlimit-img">
      <img src="<%= sitepath %>assets/img/campaign/aquos-r5g-campaign/img_unlimit01.png" alt="" class="<%= namespace %>-Utility_Img-pc"><img src="<%= sitepath %>assets/img/campaign/aquos-r5g-campaign/img_unlimit_sp01.png" alt="" class="<%= namespace %>-Utility_Img-sp">
      <p class="<%= namespace %>-Block_Unlimit-text">※1 お1人様1回線1度のみ。製品代、事務手数料、オプション料、通話料等は別費用。※2 増減の可能性あり。</p>
    </div>
    <div class="<%= namespace %>-Block_Unlimit-foot"><p class="<%= namespace %>-Btn_Secondly"><a href="<%= sitepath %>fee/un-limit/" class="c-Btn_Secondly-auto"><span>詳細を見る</span></a></p></div>
  </div>
</div>


    <div class="<%= namespace %>-Layout_Rule" id="campaign-rule">
      <h2>【楽天モバイル】AQUOS R5G 発売記念キャンペーンルール</h2>
      <p class="c-Txt_Normal-l c-Txt_Emp-02 u-Adjust_Align-center u-Adjust_Mb-24 u-Adjust_Mt-24" style="color:#ff0000;">本キャンペーンは終了しました。</p>
      <div class="c-Table_Wrap u-Adjust_Mt-24">
        <table class="c-Table_Container <%= namespace %>-Table_Rule">
          <colgroup>
            <col>
            <col>
          </colgroup>
          <tbody>
            <tr><th>キャンペーン期間</th><td><p>[Web] : 2020年6月18日(木)9:00～2020年7月20日(月)8:59</p>
            <p class="u-Adjust_Mt-8">[店舗（楽天モバイルショップ）] : 2020年6月18日(木)開店～2020年7月19日(日)閉店</p>
            </td></tr><tr><th>特典</th><td><p>キャンペーン期間中に、キャンペーンページでエントリーをし、AQUOS R5Gをご購入いただいた楽天会員の方</p>
            <p class="u-Adjust_Mt-8">楽天ポイント5,000ポイントをプレゼント</p>
            </td></tr><tr><th>対象チャネル</th><td><p>楽天モバイル公式サイト、楽天モバイルショップ、楽天モバイル楽天市場店、Rakuten Mobile スマホ専門店</p>
            </td></tr><tr><th>ポイント付与</th><td><p>楽天ポイントの付与は、8月下旬ごろまでに行います。</p>
            <p class="u-Adjust_Mt-8">付与される楽天ポイントの有効期間はポイント付与日を含めて6カ月です。</p>
            <ul class="c-List_Cap u-Adjust_Mt-16"><li><span>※</span>楽天ポイントの付与は、楽天モバイルより行います。</li>
            <li><span>※</span>権利の譲渡はできません。</li></ul>
            </td></tr><tr><th>特典対象外</th><td><p>以下の条件に当てはまる場合は、特典適用対象外となります。</p>
            <ul class="c-List_Cap u-Adjust_Mt-16"><li><span>※</span>本人確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
            <li><span>※</span>楽天会員から退会している場合</li>
            <li><span>※</span>当社の提供するサービスなどの料金のお支払いを、お支払期限までに行わなかった場合</li>
            <li><span>※</span>当社または楽天株式会社が定める規約などに違反した場合</li>
            <li><span>※</span>楽天モバイル楽天市場店で申込後、最終契約をされなかった場合</li>
            <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li></ul>
            </td></tr><tr><th>注意事項</th><td><ul class="c-List_Text-disc u-Adjust_Mt-8"><li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合がございます。あらかじめご了承ください。</li>
            <li>製品の台数に限りがございます。無くなり次第終了とさせていただきます。</li></ul>
            </td></tr>
          </tbody>
        </table>
      </div>
    </div>



</div>


  </div>
</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-news.ejs') %>

    <%- include('/include/footer/bnr/_bnr-news.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
