<% const pagetitle = "電話番号シェアサービス（解約方法）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/plan/service/", label:"オプションサービス"}, {path:"guide/number-share/", label:"電話番号シェアサービス（ご利用方法）"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories:  [{path:"support/", label:"お客様サポート"}, {path:"guide/number-share/", label:"電話番号シェアサービス（ご利用方法）"}],
    description: '楽天モバイルの「電話番号シェアサービス」の解約方法をご案内します。「電話番号シェアサービス」は楽天回線の1つの電話番号を、iPhoneとApple Watchで共有して利用できるサービスです。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "電話番号シェアサービス（ご利用方法）" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/number-share/guide-number-share.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="l-System_Container u-Adjust_Pb-64">
  <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-right">※表記の金額はすべて税込です。</p>
  <h1 class="c-Heading_Lv1 u-Adjust_Mt-8"><%= pagetitle %></h1>
  <p class="u-Adjust_Mt-16">
    「電話番号シェアサービス」の解約方法をご案内します。
  </p>
  <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>service/number-share/" class="c-Link_Txt-inline">特長・サービス内容を見る<span class="c-Icon_Chevron-right"></span></a></p>

  <div class="u-Adjust_Mt-32">
    <h2 class="c-Heading_Lv2">Watchアプリから解約</h2>
  </div>
    <p class="u-Adjust_Mt-16">Watchアプリからの手続方法を案内します。</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">※本操作はAppleWatchとペアリングされているiPhoneのWatchアプリから行ってください。</p>
  <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/change-options/#add_cancel_procedure" class="c-Link_Txt-inline">my 楽天モバイルからの解約方法はこちら<span class="c-Icon_Chevron-right"></span></a></p>

  <ol class="c-Flow u-Adjust_Mt-32">
    <li>
      <h3 class="c-Heading_Lv3">1. 「Watch」アプリを起動する</h3>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/number-share/cancellation/img01.png" alt="" class="c-Img_Capture"></p>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">2. 「モバイル通信」をタップする</h3>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/number-share/cancellation/img02.png" alt="" class="c-Img_Capture"></p>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">3. 「モバイル通信プラン」の「Rakuten」をタップする</h3>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/number-share/cancellation/img03.png" alt="" class="c-Img_Capture"></p>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">4. 「Rakutenアカウントを管理」をタップする</h3>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/number-share/cancellation/img04.png" alt="" class="c-Img_Capture"></p>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">5. 楽天IDでログインし、リダイレクトが完了するまで待機する</h3>
      <p class="u-Adjust_Mt-16">楽天会員のユーザIDとパスワードを入力してログインをしてください。その後、リダイレクトが完了するまでお待ちください。</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/">[my 楽天モバイル]ログインできません</a>」をご確認ください。</p>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center guide-number-share-Layout_Flow-img-2 guide-number-share-Layout">
      <img src="<%= sitepath %>assets/img/guide/number-share/cancellation/img05.png" alt="" class="c-Img_Capture">
      <img src="<%= sitepath %>assets/img/guide/number-share/cancellation/img06.png" alt="" class="c-Img_Capture">
      </p>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">6. 内容を確認し、「解約する」をタップする</h3>
      <p class="u-Adjust_Mt-16">「解約内容の確認」画面が表示されるので、解約する電話番号を確認し、「解約する」をタップしてください。</p>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/number-share/cancellation/img07.png" alt="" class="c-Img_Capture"></p>
    </li>
    <li>
      <h3 class="c-Heading_Lv3">7. 解約受付完了</h3>
      <p class="u-Adjust_Mt-16">「解約受付が完了しました」の画面が表示されたら、解約完了です。「閉じる」をタップしてください。</p>
      <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/number-share/cancellation/img08.png" alt="" class="c-Img_Capture"></p>
    </li>
  </ol>
  <p class="u-Adjust_Mt-32">
    以上で解約手続きは完了です。<br>
    お手続き完了後、ご登録のメールアドレス宛に、手続き完了メールをお送りいたします。
  </p>

  <div class="u-Adjust_Pt-64">
    <div><a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップにもどる</span></a></div>
    <div class="u-Adjust_Mt-16"><a href="<%= sitepath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a></div>
  </div>

</div>


<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">
  <div class="g-Footer_Aside">
    <%- include('/include/footer/bnr/_bnr.ejs') %>
  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>

</body>
</html>
