<%_
/*
# include
- ファーストビュー左側の画像部分
src/_ejs/include/product/accessory/_accessory-iphone-carousel.ejs
- ファーストビュー右側の情報・ボタン部分
src/_ejs/include/product/accessory/_accessory-iphone-info.ejs
- 製品概要 〜 注意事項まで
src/_ejs/include/product/accessory/_accessory-iphone-content.ejs
- 独自デザインを持つプロダクトは下記ディレクトリ配下に個別にファイルを作る
src/_ejs/include/product/accessory/apple-original
*/

const leng = Object.keys(jData).length;
for ( let i = 0; i < leng; i++ ) {
  jData[Object.keys(jData)[i]] = jData[Object.keys(jData)[i]].normalize("NFC").replace(/\r?\n/g, '<br>');
}

const pagetitle = jData.product
const directories = [{path:"product/", label:"製品"}, {path:"product/accessory/", label:"アクセサリ"}, {path:"product/accessory/apple/", label:"Apple純正アクセサリ"}]
const currentDir = jData.url
const l_id = `product_accessory_${currentDir}`
const updateCss = jData.updatecss ? `?${jData.updatecss}` : ''
const updateImg = jData.updateimg ? `?${jData.updateimg}` : ''

const zeroPadding = (num, len) => {
	return ( Array(len).join('0') + num ).slice( -len );
}

const delimiter = (number) => {
  return String(number).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,');
}

const createLink = (string) => {
  const linkArray = string.split(']/');
  let text = '';
  let link = '';
  let linkhtml = '';
  let textlink = [];
  for ( let i = 0; i < linkArray.length; i++ ) {
    text = linkArray[i].split('[')[0];
    link = linkArray[i].split('[')[1].replace(/](.*)/g, '');
    textlink.push(`<a href="${link}">${text}</a>`);
    linkhtml = textlink.join(' / ');
  }
  return linkhtml;
}

const createLinkSelf = (string) => {
  const createlinkConfig = () => {
    const linkArray = string.split(']/');
    let text = '';
    let link = '';
    let linkhtml = '';
    let textlink = [];
    for ( let i = 0; i < linkArray.length; i++ ) {
      text = linkArray[i].split('[')[1].replace(/](.*)/g, '');
      link = linkArray[i].split('[')[1].replace(/](.*)/g, '');
      if (link.indexOf('network.mobile.rakuten.co.jp') === -1) {
        textlink.push(`<a href="${link}" target="_blank" rel="noopener noreferrer">${text}</a>`);
      } else {
        textlink.push(`<a href="${link}">${text}</a>`);
      }
      linkhtml = textlink.join(' / ');
    }
    return {linkhtml: linkhtml, text: text};
  }

  const linkConfig = createlinkConfig()
  return string.replace(/\[|\]/g, '').replace(linkConfig.text, linkConfig.linkhtml)
}

const createCap = (string) => {
  if (string.indexOf('※') !== -1) {
    const targets = string.match(/※[0-9]+/g);
    if (!targets) return string;
    const capTargets = [...new Set(targets)];
    let processedHTML = string;
    capTargets.forEach((cap) => {
      const regex = new RegExp(cap, 'g');
      processedHTML = processedHTML.replace(regex, `<small>${cap}</small>`);
    });
    return processedHTML;
  }
  return string
}

const createComment = (string) => {
  const judgeText = string[0]
  const commentArray = string.split(judgeText);
  const listClass = (judgeText === '★') ? 'c-List_Cap' : 'c-List_Cap-wide'
  let commentList = [];
  let text = '';
  const capNoRegex = /^\d+/

  const _createLink = (text) => {
    const urlRegex = /\[.*?https?:\/\/[-_.!~*\'()a-zA-Z0-9;\/?:\@&=+\$,%#]+\]/g
    const matchesUrl = text.match(urlRegex)
    let displayText = text

    const _replaceLink = (urlOrigin, url, text = url) => {
      if (url.indexOf('network.mobile.rakuten.co.jp') === -1) {
        displayText = displayText.replace(urlOrigin, `<a href="${url}" target="_blank" rel="noopener noreferrer">${text}</a>`);
      } else {
        displayText = displayText.replace(urlOrigin, `<a href="${url}">${text}</a>`);
      }
    }

    if (urlRegex.test(text)) {
      for (const url of matchesUrl) {
        const checkText =  url.slice(1).trim().slice(0, 4)
        const displayUrl = url.slice(1).slice(0, -1)

        if (checkText === 'http') {
          _replaceLink(url, displayUrl)
        } else {
          const separatorPosition = displayUrl.indexOf('|')
          const linkText = displayUrl.slice(0, separatorPosition)
          const linkUrl = displayUrl.slice(separatorPosition + 1)

          _replaceLink(url, linkUrl, linkText)
        }
      }
      return displayText
    }
    return text
  }

  for ( let i = 1; i < commentArray.length; i++ ) {
    text = _createLink(commentArray[i]);
    switch (text[0]) {
      case '■':
        commentList.push(`<li>${text.substring(1)}</li>`);
        break;
      default:
        if (judgeText === '★') {
          commentList.push(`<li><span>※</span>${text}</li>`);
        } else {
          const capNo = text.match(capNoRegex)
          commentList.push(`<li><span>※${capNo}</span>${text.replace(capNo, '')}</li>`);
        }
        break;
    }
  }
  listhtml = commentList.join('');
  return listhtml;
}

const createList = (string) => {
  const listArray = string.split('★');
  let printList = [];
  let text = '';
  for ( let i = 1; i < listArray.length; i++ ) {
    text = createCap(listArray[i]);
    printList.push(`<li>${text}</li>`);
  }
  printList = printList.join('');
  return printList;
}

const createTag = (string) => {
  let html = string
  const checkTag = /{{\w+}}/g

  if (checkTag.test(string)) {
    const tags = [...(new Set(string.match(checkTag)))]

    return tags.map(tag => {
      const tagName = tag.slice(2).slice(0, -2)
      if (html.match(new RegExp(tag, 'g')).length > 1) {
        return html = html.replace(new RegExp(tag, 'g'), `<${tagName}>`).replace(/>(\w+)</g, ">$1</")
      } else {
        return html = tag ? html.replace(tag, `<${tagName}>`) : html
      }
    })
  }

  return html
}

const bookslink = (string) => {
  const result = string.indexOf('http');
  let link = '';
  if( result !== -1 ) {
    link = string;
  } else {
    const encodeWord = encodeURI(string);
    link = 'https://books.rakuten.co.jp/search?sitem=' + encodeWord;
  }
  return link;
}

const contentConfig = { jData, createCap, createList, createLink, createLinkSelf, createComment }
_%>
<%_
  const description = jData.description ? jData.description : `スマホアクセサリ「${jData.product}」の製品ご購入はこちら。価格・スペック情報・特長ほか`
_%>
<%-
  include('/_header', {
    pagetitle: jData.product,
    directories: directories,
    description,
    noindex: false,
    pathname: `product/accessory/${jData.url}/`
  });
_%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/accessory/detail/accessory-detail.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/iphone/product-iphone.css?20240426">
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/iphone/iphone-top.css?20240424">
<%_ if (jData.featuredetail === 'TRUE') { _%>
<link rel="stylesheet" href="<%= sitepath %>assets/css/accessory/apple/<%= currentDir %>/<%= currentDir %>.css?20240424">
<%_ } _%>
<%- include('/include/_append-head') %>
<style>
  .modaal-video-wrap {
    margin: 0 !important;
  }
  @media screen and (min-width: 769px) {
    .modaal-close {
      top: 24px;
      right: 24px;
    }
  }
</style>
</head>
<body>
  <%- include('/include/_prepend-body') %>

  <div class="l-System">

  <%- include('/include/_header') %>

  <div class="c-Breadcrumbs_Head">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <div class="accessory-detail-Layout_Hero">
    <div class="l-System_Container">
      <a href="https://www.rakuten.ne.jp/gold/rakutenmobile-store/product/accessory/apple/case/?scid=wi_ich_accy_0022cpn2109">
        <figure class="u-Adjust_Align-center">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/accessory/bnr/bnr-detail-382-120-221222.png" width="686" height="216">
            <img src="<%= sitepath %>assets/img/accessory/bnr/bnr-detail-1032-160-221222.png" width="1032" height="160" alt="楽天モバイル公式 楽天市場店ならいつでもアクセサリ全品送料無料！">
          </picture>
        </figure>
      </a>

      <p class="c-Txt_Cap u-Adjust_Align-right u-Adjust_Mt-64">※表記の金額はすべて税込です。</p>
      <%_
        const createAccessoryInfo = () => {
          // color
          const colorsName = jData.color.split('/')
          const colorsCodeName = jData.colorcode.split('/')
          let colorData = []
          if (colorsName && colorsName[0] !== '') {
            for (let i = 0, len = colorsName.length; i < len; i++) {
              const name = createTag(colorsName[i])
              colorData.push({code: colorsCodeName[i], name: name})
            }
          }

          //slider thumbnail
          const thumbnails = jData.thumbnails.split('/')
          const slider = []
          let temp = 0
          let count = 0

          thumbnails.forEach((thumbnail, i) => {
            const innerSlider = []

            for (let j = 0, len = Number(thumbnails[i]); j < len; j++) {
              count = j
              innerSlider.push(`/assets/img/accessory/${currentDir}/pht-accessory-${zeroPadding(temp + j, 2)}.png${updateImg}`)
            }

            temp = temp + count + 1
            slider.push(innerSlider)
          })

          // additionalText
          let additionalText = ''
          if (
            jData.additionaltext && jData.additionaltext.trim() !== '' ||
            jData.additionallinktext && jData.additionallinktext.trim() !== ''
          ) {
            const mode = (jData.additionalmode === 'TRUE') ? 'c-Txt_Emp-02' : ''
            const externalLink = (
              jData.additionallink && jData.additionallink.includes('network.mobile.rakuten.co.jp')
            ) ? '' :' target="_blank" rel="noopener noreferrer"'
            const linkIconClassName = (
              jData.additionallink && jData.additionallink.includes('network.mobile.rakuten.co.jp')
            ) ? 'c-Icon_Chevron-right' : 'c-Icon_New-window-l'
            additionalText = `
              <p class="${mode}${jData.legalline !== '' ? ' u-Adjust_Mt-24' : ''}">${jData.additionaltext}</p>
              <p class="u-Adjust_Mt-8"><a href="${jData.additionallink}" class="c-Link_Txt-inline"${externalLink}>${jData.additionallinktext}<span class="${linkIconClassName}"></span></a></p>
            `
          }

          return {
            name: pagetitle,
            rselect: jData.rselect,
            color: colorData,
            topbuttontext: jData.topbuttontext,
            topbuttonnote: jData.topbuttonnote,
            btn: {
              isShowFlag: jData.clickable,
              url: jData.urlbss,
              label: jData.bssbtn ? jData.bssbtn.trim() : 'my 楽天モバイルで購入する' ,
              noteText: jData.bssnotetext ? jData.bssnotetext : '',
              noteMode: jData.clickable !== 'disable' ? 'c-Txt_Emp-02 ' : '',
            },
            ichiba: {
              isShowFlag: jData.ichibaclickable,
              url: jData.urlichiba ? `${jData.urlichiba}?scid=wi_ich_accy_${jData.url}` : '',
              label: jData.ichibabtntext ? jData.ichibabtntext.trim() : '楽天市場で購入する',
              noteText: jData.ichibabtnnote ? jData.ichibabtnnote : '',
            },
            slider: slider,
            thumbnailfull: jData.thumbnailfull.trim() === 'TRUE',
            movie: {
              flag: jData.movie,
              url: jData.movie ? jData.movie : '',
              thumbnail: `/assets/img/accessory/${currentDir}/pht-accessory-movie.png${updateImg}`,
            },
            legalLine: (jData.legalline && jData.legalline.trim() !== '') ? jData.legalline.trim() : '',
            additionalText: additionalText,
          }
        }
        const accessoryInfo = createAccessoryInfo()
      _%>
      <%- include('/include/product/accessory/_accessory-iphone-info.ejs', { accessoryInfo }) %>
    </div>
  </div>

  <div class="accessory-detail-Layout_Main">
    <div class="l-System_Container">
      <div class="js-price-area">

        <%_ if( jData.splitprice1 ) { _%>
          <div class="l-Media_Grid-small u-Adjust_Mt-16 accessory-detail-Price_Grid">
            <div class="accessory-detail-Price_Method accessory-detail-Price_Light-method">一括払い</div>
            <div class="accessory-detail-Price_Practically-content">
              <div class="c-Txt_Normal-m u-Adjust_Align-right accessory-detail-Price_Font-bold">
                <%_ if( jData.price_old > 0 ) { _%>
                  <span class="accessory-detail-Price_Practically-txt">価格</span><span class="c-Txt_Alphanumeric-l accessory-detail-Price-borderdouble"><%- delimiter(jData.price_old) %></span><span class="c-Txt_Normal-ss accessory-detail-Price-yen" style="display: inline-block">円<%_ if( jData.price_old_period !== '' && typeof jData.price_old_period !== 'undefined' ){ _%><span class="c-Txt_Cap">※1</span><%_ } _%></span><span class="accessory-detail-Price-arrow">→</span><span class="c-Txt_Alphanumeric-l js-price"><%- delimiter(jData.price) %></span><span class="c-Txt_Normal-ss accessory-detail-Price-yen">円</span>
                <%_ } else { _%>
                  <span class="accessory-detail-Price_Practically-txt">価格</span><span class="accessory-detail-Price_Practically-num accessory-detail-Price_Font-normal js-price"><%- delimiter(jData.price) %></span><span class="c-Txt_Normal-ss accessory-detail-Price-yen">円</span>
                <%_ } _%>
              </div>
              <div class="accessory-detail-Price_Method-detail-primary accessory-detail-Price_Light-border-bottom accessory-detail-Price_Grid-line"></div>
            </div>
          </div>
          <div class="l-Media_Grid-small accessory-detail-Price_Grid">
            <div class="accessory-detail-Price_Method accessory-detail-Price_Light-method">
              <p>分割払い<br class="accessory-detail-Layout_PC">
                <span>（my 楽天モバイルで購入時の分割価格）</span></p>
            </div>
            <div>
            <div class="accessory-detail-Price_Method-detail-secondary accessory-detail-Price_Grid-split">
              <div class="accessory-detail-Price_Method-detail-secondary-inner">
                <div class="accessory-detail-Price_Method-detail-secondary-item">
                  <div>24回払い<sub>※</sub></div>
                  <div>
                    <span class="accessory-detail-Price_Num"><%- delimiter(jData.splitprice1) %></span>円/月
                  </div>
                </div>
                <div class="accessory-detail-Price_Method-detail-secondary-item">
                  <div>48回払い<sub>※</sub> （楽天カードのみ）</div>
                  <div>
                    <span class="accessory-detail-Price_Num"><%- delimiter(jData.splitprice2) %></span>円/月
                  </div>
                </div>
              </div>
              <p class="accessory-detail-Price_Recomend accessory-detail-Price_Light-recomend u-Adjust_Mt-8">
                <span>ご購入は楽天カードがオススメ！</span>楽天カードなら分割手数料0円！</p>
            </div>
            </div>
          </div>
        <%_ } else { _%>
          <div id="price" class="accessory-detail-Price">
            <span>価格 </span><span class="c-Txt_Alphanumeric-l js-price"><%- delimiter(jData.price) %> </span><span class="c-Txt_Normal-ss">円</span>
          </div>
        <%_ } _%>
      </div>
      <div class="accessory-detail-Price_Grid-note-2">
        <a href="/guide/payment/point/?l-id=<%- l_id %>_pointpayment" class="accessory-detail-Price_Btn-point-appeal u-Adjust_Mt-16">
          <span class="accessory-detail-Price_Btn-point-appeal-text">期間限定ポイントもOK！<br class="accessory-detail-Layout_SP">製品の購入に楽天ポイントが使えます<%- jData.price_old_period !== '' && typeof jData.price_old_period !== 'undefined' ? '※2' : '※1' %></span>
        </a>
        <p class="c-Txt_Cap">
          <%_ if( jData.price_old_period !== '' && typeof jData.price_old_period !== 'undefined' ) { _%>
            ※1 <%= jData.price_old_period %><br>
          <%_ } _%>
          <%- jData.price_old_period !== '' && typeof jData.price_old_period !== 'undefined' ? '※2' : '※1' %>&nbsp;一度に利用できるポイント数は1～30,000 (ダイヤモンド会員の方は～500,000) ポイントです。製品を分割払いでご購入の場合、2回目以降のお支払いにはご利用いただけません。<br>
          <span class="c-Txt_Emp-02">
            ※記載の価格は、my 楽天モバイルから購入した場合となります。楽天モバイル公式 楽天市場店と価格が異なる場合がございます。<br>
            ※楽天カード以外のクレジットカードで24回払いを選択した場合、分割手数料が発生します。
          </span>
          <br>
          ※割り切れない端数は初回のご請求に含まれます。正式なご請求金額はmy 楽天モバイルでご確認ください。<br>
          ※一度のお申し込みで、お申し込みする製品ごとにお支払い回数を設定することはできません。
        </p>
      </div>
    </div>

    <%_
      const createRecommendAccessorys = () => {
        /*
        feature
        [0] -> プロダクト名
        [1] -> プロダクトID
        [2] -> 価格
        [3] -> カラーコード
        */
        const createRecommendConfig = (recommend) => {
          if (Array.isArray(recommend)) {
            const createColors = () => {
              if (recommend[3] !== '') {
                const codes = recommend[3].split(',')
                const arr = []
                codes.forEach(code => arr.push({'code': code}))
                return arr
              } else {
                return ''
              }
            }

            return {
              'url': `/product/accessory/${recommend[1]}/?l-id=recommend_accessory_${currentDir}_${recommend[1]}`,
              'image': `/assets/img/accessory/${recommend[1]}/pht-accessory-00.png${updateImg}`,
              'name': recommend[0],
              'color': createColors(),
              'price': recommend[2],
            }
          }
        }

        const recommend1 = createRecommendConfig(jData.recommend1 && jData.recommend1.split('/'))
        const recommend2 = createRecommendConfig(jData.recommend2 && jData.recommend2.split('/'))
        const recommend3 = createRecommendConfig(jData.recommend3 && jData.recommend3.split('/'))
        const recommend4 = createRecommendConfig(jData.recommend4 && jData.recommend4.split('/'))
        const recommend5 = createRecommendConfig(jData.recommend5 && jData.recommend5.split('/'))
        const recommend6 = createRecommendConfig(jData.recommend6 && jData.recommend6.split('/'))

        return [recommend1, recommend2, recommend3, recommend4, recommend5, recommend6].filter((recommend) => recommend)
      }
      const accessoryArray = createRecommendAccessorys()
    _%>
    <%- include('/include/product/accessory/_accessory-iphone-carousel.ejs', { accessoryArray }) %>

    <div class="l-System_Container">
      <%# --- 独自デザインあり --- %>
      <%_ if (jData.featuredetail === 'TRUE') { _%>
        <section id="feature" class="accessory-detail-Layout_Section">
          <h2 class="c-Heading_Lv2">製品概要</h2>
          <div class="c-Tab js-Tab">
            <ul class="c-Tab_Items" role="tablist">
              <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">スペック・詳細</li>
              <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">製品詳細</li>
            </ul>
            <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
              <%- include('/include/product/accessory/_accessory-iphone-content.ejs', contentConfig) %>
            </div>

            <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
              <%- include(`/include/product/accessory/apple-original/_${currentDir}.ejs`, { currentDir }) %>
            </div>
          </div>
        </section>

      <%# --- 独自デザイン無し --- %>
      <%_ } else { _%>

        <section id="feature" class="accessory-detail-Layout_Section">
          <h2 class="c-Heading_Lv2">製品概要</h2>
          <%- include('/include/product/accessory/_accessory-iphone-content.ejs', contentConfig) %>
        </section>
      <%_ } _%>
    </div>
  </div>

  <%- include('/include/product/iphone/_iphone-list', { l_id: 'product_accessory', currentDir }) %>
  <%#- include('/include/product/iphone/_product-list.ejs', { l_id: l_id }) %>
  <%- include('/include/product/iphone/_equipment.ejs', { l_id: l_id }) %>
  <%- include('/include/product/iphone/_recommend-v2.ejs', { l_id: l_id }) %>

  <footer class="g-Footer">

    <div class="g-Footer_Aside">

      <%- include('/include/footer/related/_related-product-top-v2.ejs') %>

      <%- include('/include/footer/bnr/_bnr.ejs') %>

    </div>
    <div class="l-System_Container">
      <div class="c-Breadcrumbs_Foot">
        <ul>
          <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ if (typeof directories !== 'undefined') { _%>
          <%_ let dirs = []; _%>
          <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
              <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
              <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
          <%_ }) _%>
          <%_ } _%>
          <li aria-current="true"><%= pagetitle %></li>
        </ul>
      </div>
    </div>

    <%- include('/include/_footer') %>

  </footer>

  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/accessory.history.bundle.js?20240521"></script>
  <script src="<%= sitepath %>assets/js/product.accessory.iphone.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
</body>
</html>
