<%_
const leng = Object.keys(jData).length;
for ( let i = 0; i < leng; i++ ) {
  jData[Object.keys(jData)[i]] = jData[Object.keys(jData)[i]].normalize("NFC").replace(/\r?\n/g, '<br>');
}
const pagearea = jData.directory2 ? jData.city : jData.pref;
const pathname = jData.directory2 ? 'area/' + jData.directory1 + '/' + jData.directory2 + '/' : 'area/' + jData.directory1 + '/';
_%>
<% const pagetitle = `${pagearea}の通信エリアでもデータ高速無制限でつながる！` -%>
<% const description = `${pagearea}のサービスエリアマップと楽天モバイルショップ（店舗）情報をご確認いただけます。` -%>
<% const directories = [{path:"area/", label:"通信・エリア"}] -%>
<% const imgPath = "/assets/img/area/city/" -%>
<% const namespace = "area-city" -%>
<% const cpLid = "prefecture_carousel_campaign" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories,
  description,
  noindex: false,
  pathname: pathname,
  canonical_custom: sitedomain + '/'
});
%>
<%- include('/include/_common-css-v2') %>
<%- include('/include/area/_city-css') %>
<%- include('/include/_append-head') %>
</head>

<body>
  <input type="hidden" name="pitari_phx_pattern" id="phx_pattern_name" value="">
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>

    <%# city-disaster %>
    <%- include('/include/area/_disaster') %>

    <%# city-hero %>
    <%- include('/include/area/_hero.ejs') %>

    <%# city-hero-bnr %>
    <%- include('/include/area/_hero-bnr.ejs') %>

    <%# city-anchor %>
    <%- include('/include/area/_anchor-a') %>

    <%# city-nav %>
    <%- include('/include/area/_nav') %>

    <%# トップカルーセル %>
    <%- include('/include/top/_top-carousel', { l_id: cpLid }) %>

    <%# 重要なお知らせ %>
    <%- include('/include/top/_top-important-notices') %>

    <%# city-plan %>
    <%- include('/include/area/_plan-a') %>

    <%# city-map %>
    <%- include('/include/area/_city-map') %>

    <%# city-report %>
    <%- include('/include/area/_report') %>

    <%# city-shop %>
    <%- include('/include/area/_shop') %>

    <%# city-user voice %>
    <%# user voiceは県しかないのでdirectory2がない場合で設定 %>
    <%- include('/include/area/_uservoice') %>

    <%# city-Product %>
    <%- include('/include/area/_product') %>

    <%# city-case %>
    <%- include('/include/area/_case') %>

    <%# キャンペーン %>
    <div class="l-System_Container u-Adjust_Mt-64">
      <%- include('/include/_bnr-cpn-recommend-v2.ejs') %>
    </div>

    <%# city-footer-info %>
    <%- include('/include/area/_footer-info') %>

    <%# city-important %>
    <%- include('/include/area/_important-note') %>

    <%# city-share %>
    <section class="u-Adjust_Mt-56">
      <div class="<%= namespace %>-Share">
        <p class="<%= namespace %>-Share_Heading">このページをシェアする</p>
        <ul class="<%= namespace %>-Share_List">
          <li>
            <a href="https://twitter.com/intent/tweet?url=<%= sitedomain %>/area/<%= jData.directory1 %>/<%_ if( jData.directory2 ) { _%><%= jData.directory2 %>/<%_ } _%>" target="_blank" data-ratid="area_<%_ if( jData.directory2 ) { _%>city_<%= jData.directory1 %>_<%= jData.directory2 %><%_ } else { _%>prefecture_<%= jData.directory1 %><%_ } _%>_share_01" data-ratevent="click" data-ratparam="all" class="c-Banner_Hover-act"><img src="<%= imgPath %>icon-share-x.png" width="45" height="45" alt="X"></a>
          </li>
          <li>
            <a href="https://www.facebook.com/share.php?u=<%= sitedomain %>/area/<%= jData.directory1 %>/<%_ if( jData.directory2 ) { _%><%= jData.directory2 %>/<%_ } _%>" target="_blank" data-ratid="area_<%_ if( jData.directory2 ) { _%>city_<%= jData.directory1 %>_<%= jData.directory2 %><%_ } else { _%>prefecture_<%= jData.directory1 %><%_ } _%>_share_02" data-ratevent="click" data-ratparam="all" class="c-Banner_Hover-act"><img src="<%= imgPath %>icon-share-facebook.png" width="45" height="45" alt="Facebook"></a>
          </li>
          <li>
            <a href="https://social-plugins.line.me/lineit/share?url=<%= sitedomain %>/area/<%= jData.directory1 %>/<%_ if( jData.directory2 ) { _%><%= jData.directory2 %>/<%_ } _%>" target="_blank" data-ratid="area_<%_ if( jData.directory2 ) { _%>city_<%= jData.directory1 %>_<%= jData.directory2 %><%_ } else { _%>prefecture_<%= jData.directory1 %><%_ } _%>_share_03" data-ratevent="click" data-ratparam="all" class="c-Banner_Hover-act"><img src="<%= imgPath %>icon-share-line.png" width="45" height="45" alt="Line"></a>
          </li>
          <li>
            <a href="viber://forward?text=<%= sitedomain %>/area/<%= jData.directory1 %>/<%_ if( jData.directory2 ) { _%><%= jData.directory2 %>/<%_ } _%>" data-ratid="area_<%_ if( jData.directory2 ) { _%>city_<%= jData.directory1 %>_<%= jData.directory2 %><%_ } else { _%>prefecture_<%= jData.directory1 %><%_ } _%>_share_04" data-ratevent="click" data-ratparam="all" class="c-Banner_Hover-act"><img src="<%= imgPath %>icon-share-viber.png" width="45" height="45" alt="Viber"></a>
          </li>
        </ul>
      </div>
    </section>

    <div class="<%= namespace %>-Layout_Bottom-fixed" id="js-fixed-btn" aria-expanded="false">
      <div class="<%= namespace %>-Layout_Bottom-fixed-inner">
        <div class="<%= namespace %>-Layout_Bottom-fixed-btn <%= namespace %>-Utility_Show-pc-flex">
          <a href="<%= sitepath %>guide/application/?lid-r=area_<%_ if( jData.directory2 ) { _%>city_<%= jData.directory1 %>_<%= jData.directory2 %><%_ } else { _%>prefecture_<%= jData.directory1 %><%_ } _%>_modal-gude-application" class="c-Btn_Primary-large">
            <div class="<%= namespace %>-Layout_Bottom-fixed-btn-inner-box"><span><span>今すぐお申し込み！</span><br>新規／乗り換え（MNP）</span></div>
          </a>
        </div>
        <div class="<%= namespace %>-Layout_Bottom-fixed-btn <%= namespace %>-Utility_Show-pc-flex js-btn-ms" aria-hidden="false">
          <a href="<%= sitepath %>shop/?l-id=area_<%_ if( jData.directory2 ) { _%>city_<%= jData.directory1 %>_<%= jData.directory2 %><%_ } else { _%>prefecture_<%= jData.directory1 %><%_ } _%>_modal-shop-search" class="c-Btn_Secondly-large">
            <div class="<%= namespace %>-Layout_Bottom-fixed-btn-inner-box"><span>お近くのショップを探す・来店予約</span></div>
          </a>
        </div>
        <div class="<%= namespace %>-Layout_Bottom-fixed-btn-sp">
          <a href="<%= sitepath %>guide/application/?lid-r=area_<%_ if( jData.directory2 ) { _%>city_<%= jData.directory1 %>_<%= jData.directory2 %><%_ } else { _%>prefecture_<%= jData.directory1 %><%_ } _%>_modal-gude-application" class="c-Btn_Primary-large <%= namespace %>-Layout_Bottom-fixed-btn-sp-link">新規／乗り換え(MNP)</a>
        </div>
        <div class="<%= namespace %>-Layout_Bottom-fixed-btn-sp">
          <a href="<%= sitepath %>shop/?l-id=area_<%_ if( jData.directory2 ) { _%>city_<%= jData.directory1 %>_<%= jData.directory2 %><%_ } else { _%>prefecture_<%= jData.directory1 %><%_ } _%>_modal-shop-search" class="c-Btn_Secondly-large <%= namespace %>-Layout_Bottom-fixed-btn-sp-link">お近くのショップを探す</a>
        </div>
      </div>
    </div>

    <!-- analytics -->
    <input type="hidden" name="rat" value="" id="ratPageName">
    <div id="ratJs"></div>

    <footer class="g-Footer <%= namespace %>-Layout_Footer">
      <div class="g-Footer_Aside u-Adjust_Mb-24">
        <%- include('/include/footer/related/_related-area-v2.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <script src="https://www.rakuten.co.jp/com/advance/mobile/mnoprj_hikari/responsive/condition.js"></script>
  <script src="https://r.r10s.jp/com/ap/target/phoenix-2.9.0.min.js"></script>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/area.city.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
</body>
</html>
