<% const pageName = typeof page === 'undefined' ? 'faq-review' : page -%>
<div id="inquiry-block" class="l-System_Container guide-flow-inquiry-Main_Container">
  <h2 class="c-Heading_Lv4 u-Adjust_Mt-32 u-Adjust_Mb-16">お問い合わせ</h2>
  <!-- キャンペーンクローズ時は以下を削除する -->
  <div class="guide-flow-inquiry-Main_Appealbox u-Adjust_Mt-16">
    <p class="c-Txt_Emp-01 u-Adjust_Align-center">抽選で1,500ポイントが当たる<br class="u-Show_Sp">キャンペーン実施中！</p>
    <p class="u-Adjust_Mt-16">本キャンペーンの抽選へ参加するには、「アンケートに回答する」ボタンをタップして、表示される案内に沿ってアンケートにご回答ください。</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">※当選者のみアンケート回答月の翌々月末日頃に、期間限定ポイントを付与します。</p>
    <div class="guide-flow-inquiry-Main_Appealbox-btn">
      <a href="<%= sitepath %>campaign/support-survey/?l-id=<%= pageName %>_negative_campaign_support-survey" target="_blank" class="c-Btn_Regular"><span>キャンペーン詳細を確認する<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
      <a href="<%= sitepath %>campaign/support-survey/form/?l-id=faq-Review_Btn-negative" target="_blank" class="c-Btn_Secondly" id="js-qa-btn"><span>アンケートに回答する<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
    </div>
  </div>

  <div class="c-Accordion" id="guide-flow-inquiry-Main_Accordion-form">
    <button type="button" id="accordion-1002" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false"
          aria-controls="accordion-content-1002"><span
              class="c-Icon_Chevron-right c-Accordion_Arrow"></span>フォームで問い合わせ<br
              class="guide-flow-inquiry-Main_Utility-sp-only"><span
              class="c-Label_Emp guide-flow-inquiry-Main_Label">解決の目安…24時間以内※</span></button>
    <div id="accordion-content-1002" class="c-Accordion_Panel js-Accordion_Panel u-Adjust_Pt-24 u-Adjust_Pb-0" role="region" aria-labelledby="accordion-1000" aria-hidden="true">
        <p class="c-Txt_Cap u-Adjust_Mt-16">※お問い合わせの状況によりさらにお時間をいただく場合や、詳細な調査に1週間ほどお時間をいただく場合がございます。</p>
        <div class="guide-flow-inquiry-Main_Form-0">
          <p class="c-Txt_Normal c-Txt_Emp-01 u-Adjust_Mt-32">Rakuten Linkに関するお問い合わせ</p>
          <div class="u-Adjust_Mt-16 u-Adjust_Mb-16 u-Adjust_Align-center"><a href="https://r10.to/hPDUZj" class="c-Btn_Regular-large" data-ratid="support-inquiry_support_rakuten-link-form" data-ratevent="click" data-ratparam="all"><span>Rakuten Linkお問い合わせ専用<br>フォームに入力する</span></a></div>
        </div>
        <div class="guide-flow-inquiry-Main_Form-1">
          <p class="c-Txt_Normal c-Txt_Emp-01 u-Adjust_Mt-32">楽天回線の電波改善要望・調査のご依頼</p>
          <div class="u-Adjust_Mt-16 u-Adjust_Mb-16 u-Adjust_Align-center"><a href="/inquiry/input.html?l-id=?l-id=support-inquiry_inquiry_input" class="c-Btn_Regular-large"><span>電波改善・調査専用フォームに<br>入力する</span></a></div>
        </div>
    </div>
  </div>
  <div class="c-Accordion" id="guide-flow-inquiry-Main_Accordion-chat">
      <button type="button" id="accordion-1000" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1000"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>チャットで問い合わせ
        <br class="guide-flow-inquiry-Main_Utility-sp-only">
        <span class="c-Label_Emp guide-flow-inquiry-Main_Label">解決の目安…約15分</span>
      </button>
      <div id="accordion-content-1000" class="c-Accordion_Panel js-Accordion_Panel u-Adjust_Pt-24 u-Adjust_Pb-0" role="region"
          aria-labelledby="accordion-1000" aria-hidden="true">

          <div class="u-Adjust_Mb-16"><a href="<%= sitepath %>support/faq/?l-id=guide_inquiry_chat_support_faq" class="c-Link_Txt-inline" target="_blank">
            営業時間外や窓口がつながりにくい場合はこちらをご活用ください<span class="c-Icon_New-window-l" style="color: #ff008c;"></span>
          </a></div>

          <p class="c-Txt_Normal">空き時間で気軽にお問合わせ。</p>
          <h4 class="c-Txt_Normal-m u-Adjust_Mt-16">営業時間 9:00〜23:00</h4>
          <p class="c-Txt_Cap u-Adjust_Mt-8">
            ※Rakuten Casaに関するお問い合わせは9:00～18:00までとなります。<br>
            ※営業時間外にいただいたお問い合わせは、AIアシスタントがご回答いたします。<br>
            ※ボタンを押してもチャット画面が表示されない場合、画面右側に表示されているチャットのアイコンをタップしてください。
          </p>

          <div class="l-Media_Grid-half u-Adjust_Mb-32">
              <div class="guide-flow-inquiry-Main_Chat-0">
                  <h3 class="c-Heading_Lv3 u-Adjust_Mt-24">お申し込み前の方</h3>
                  <div id="js-ndep-chat-btn"
                    class="guide-flow-inquiry-Main_Btn target-messaging guide-flow-inquiry-Main_Drilldown-trigger chat_img">
                    <button
                      class="c-Btn_Regular"
                      onclick="Inq.fireCustomEvent('NDEPembeddedChat')"
                      data-ratId="support-inquiry_web_chat"
                      data-ratEvent="click"
                      data-ratParam="all">
                      <span>チャット相談を利用する</span>
                    </button>
                  </div>
                  <div id="js-use-chat-consultation" class="u-Adjust_Mt-16" style="display: none;">
                    <button
                      class="c-Btn_Regular guide-flow-inquiry-Main_Btn guide-Inquir_Btn-use-chat-consultation"
                      aria-disabled="true"
                      disabled>
                      <span>チャット相談を利用する</span>
                    </button>
                  </div>
              </div>
              <div class="guide-flow-inquiry-Main_Chat-1">
                  <h3 class="c-Heading_Lv3 u-Adjust_Mt-24">お申し込み済み・ご契約中の方</h3>
                  <p class="c-Txt_Cap u-Adjust_Mt-16">※チャット相談のご利用にはmy 楽天モバイルへのログインが必要です。</p>
                  <a
                    href="https://portal.mobile.rakuten.co.jp/technical-operation?action=supportChat"
                    class="c-Btn_Regular guide-flow-inquiry-Main_Btn u-Adjust_Mt-16"
                    data-ratId="faq_myrakuten_web"
                    data-ratEvent="click"
                    data-ratParam="all"><span>チャット相談を利用する</span>
                  </a>
              </div>
          </div>
          <div class="guide-flow-inquiry-Main_App-wrap guide-flow-inquiry-Main_Chat-1">
              <div class="guide-flow-inquiry-Main_App u-Adjust_Mt-16">
                  <div class="guide-flow-inquiry-Main_App-img"><img
                          src="<%= sitepath %>assets/img/common/icon-rmb-app.png" width="96" alt=""></div>
                  <div class="guide-flow-inquiry-Main_App-txt">
                      <h4 class="c-Heading_Lv4">「my 楽天モバイル」公式アプリ</h4>
                      <p class="u-Adjust_Mt-16">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                      <ul class="c-Box_App-link guide-flow-inquiry-Main_App-box u-Adjust_Mt-16">
                          <li class="guide-flow-inquiry-Main_Btn-store">
                              <div class="guide-flow-inquiry-Main_Btn-store-item"><a
                                      href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare"
                                      target="_blank" data-ratId="faq_myrakuten_google"
                                      data-ratEvent="click" data-ratParam="all"><img
                                          src="<%= sitepath %>assets/img/common/btn-googleplay.png"
                                          width="149" alt="Google Play"></a></div>
                              <div class="guide-flow-inquiry-Main_Btn-store-item"><a
                                      href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769"
                                      target="_blank" data-ratId="faq_myrakuten_apple"
                                      data-ratEvent="click" data-ratParam="all"><img
                                          src="<%= sitepath %>assets/img/common/btn-appstore.png"
                                          width="149" alt="Apple Store"></a></div>
                          </li>
                      </ul>
                      <a href="/guide/my-rakuten-mobile/" class="c-Btn_Regular guide-flow-inquiry-Main_Btn u-Adjust_Mt-24"><span>my楽天モバイルとは</span></a>
                  </div>
              </div>
              <p class="u-Adjust_Mt-16 u-Adjust_Mb-24 u-Adjust_Align-center">
                  <a href="<%= ecarepath %>my-rakuten-mobile" class="c-Link_Txt-inline" data-ratid="support_top_my-rakuten-mobile" data-ratevent="click" data-ratparam="all">Webで「my 楽天モバイル」を使う
                      <span class="c-Icon_Chevron-right"></span>
                  </a>
              </p>
          </div>
      </div>
  </div>
  <div class="c-Accordion" id="guide-flow-inquiry-Main_Accordion-tel">
      <button type="button" id="accordion-1001" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false"
          aria-controls="accordion-content-1001"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>電話で問い合わせ<br
              class="guide-flow-inquiry-Main_Utility-sp-only"><span
              class="c-Label_Emp guide-flow-inquiry-Main_Label">解決の目安…約25分</span></button>
      <div id="accordion-content-1001" class="c-Accordion_Panel js-Accordion_Panel" role="region"
          aria-labelledby="accordion-1001" aria-hidden="false">
          <a href="<%= sitepath %>information/news/other/2233/?l-id=guide_inquiry_tel_information_news_other_2233" class="c-Link_Txt-inline" target="_blank">
            【重要】お問い合わせ窓口営業時間変更のお知らせ（2月1日～）<span class="c-Icon_New-window-l" style="color: #ff008c;"></span>
          </a>

          <div class="u-Adjust_Mt-16 u-Adjust_Mb-16"><a href="<%= sitepath %>support/faq/?l-id=guide_inquiry_tel_support_faq" class="c-Link_Txt-inline" target="_blank">
            営業時間外や窓口がつながりにくい場合はこちらをご活用ください<span class="c-Icon_New-window-l" style="color: #ff008c;"></span>
          </a></div>

          <p class="c-Txt_Normal">電話番号のおかけ間違いにより、一般の方へご迷惑をおかけする事象が発生しております。お掛け間違いのないようお願い申し上げます。</p>
          <div id="guide-flow-inquiry-Main_Box">
          </div>
      </div>
  </div>
</div>
