<% const pagetitle = "楽天カード新規入会＋楽天モバイルを初めてお申し込みで30,000ポイントプレゼントキャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "card-30k" -%>
<% const information = {
  campaignState:'start'
}; %>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '楽天カード新規入会＋楽天モバイルを初めてお申し込みで30,000ポイントプレゼントキャンペーン',
  keywords: '',
  noindex: true,
  pathname: filepath
});
%>
<% const finishSchedule = "2023年x月xx日" -%>
<% const hiddenItem = "false" -%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/<%= namespace %>_test/<%= namespace %>.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/_entry-button/rex-overwrite_v2.css?20240424">
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<script defer="defer" src="https://r.r10s.jp/com/js/c/common/entry_button/1.1/entry_button-1.1.0.min.js"></script>
<link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header',{applyHide:true}) %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout_Label">
      <ul class="c-Label_List <%= namespace %>-Layout_Label-list">
        <li class="c-Label_Normal">楽天カード新規入会＆利用</li>
        <li class="c-Label_Normal">楽天モバイルと楽天カード同時申し込み</li>
      </ul>
    </div>
    <div class="<%= namespace %>-Hero_Return">
      <div class="l-System_Container <%= namespace %>-Hero_Container">
        <div class="<%= namespace %>-Hero_Main">
          <h1><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-heading-pc.png?231110-test" alt="楽天モバイルお申し込み前に楽天カード新規入会＆利用で 史上最大※1のスペシャルキャンペーン！ 最大30,000ポイント 楽天カード新規入会＆利用で10,000ポイント※2 年会費永年無料 ＋さらに 楽天カードの新規入会と合わせて楽天モバイル初めて申し込みで20,000ポイント※3 ※楽天カードと楽天モバイルのお申し込みの順番は問いません お申し込みは11/20（月）10:00まで" class="<%= namespace %>-Utility_Img-pc"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-heading-sp.png?231110-test" alt="楽天モバイルお申し込み前に楽天カード新規入会＆利用で 史上最大※1のスペシャルキャンペーン！ 最大30,000ポイント 楽天カード新規入会＆利用で10,000ポイント※2 年会費永年無料 ＋さらに 楽天カードの新規入会と合わせて楽天モバイル初めて申し込みで20,000ポイント※3 ※楽天カードと楽天モバイルのお申し込みの順番は問いません お申し込みは11/20（月）10:00まで" class="<%= namespace %>-Utility_Img-sp"></h1>
        </div>
      </div>
    </div>

    <div class="<%= namespace %>-Layout_Body">
      <div class="l-System_Container">
        <% if (information.campaignState == 'finish') { %>
          <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは<%= finishSchedule %>をもちまして終了いたしました。<br>
            このページに掲載されている情報は、キャンペーン終了時点のものです。</p>
        <% } else { %>
          <!-- else -->
        <% } %>
        <ul class="<%= namespace %>-Table_Rule-Cap-wide">
          <li><span>※1</span>楽天カード新規入会＆利用＋楽天モバイル初めて申し込みで進呈されるポイントとしては史上最大。</li>
          <li class="u-Adjust_Mt-0"><span>※2</span>10,000ポイントのうち、入会特典2,000ポイントは、楽天カード会員様専用の オンラインサービス「楽天e-NAVI」に初回登録が完了した2日前後で進呈いたします。また、カード利用特典の8,000ポイント（6,000ポイントは期間限定ポイント、2,000ポイントは通常ポイント）については、対象期間にカードショッピングを1回以上ご利用、口座振替設定期限の時点で口座振替設定がされているなど所定の条件があります。こちらのキャンペーンは楽天カード株式会社主催になります。<a href="#campaign-rule" class="js-scroll">楽天カードの進呈条件について詳しく見る</a></li>
          <li class="u-Adjust_Mt-0"><span>※3</span>20,000ポイントについては、本キャンペーン期間中に楽天カードを新規お申し込みされた方で、さらに楽天モバイルをはじめてお申し込みされた方が対象になります。20,000ポイントについては、期間限定ポイントとして進呈いたします。ポイントは2024年1月から5月の5カ月間にわたり進呈します。進呈日から3カ月後月末まで有効です。「Rakuten最強プラン（データタイプ）」は対象外です。特典進呈には条件があります。本キャンペーンが適用される場合、他の楽天モバイル株式会社の回線申し込みを伴うキャンペーンは併用不可となります。こちらのキャンペーンは楽天モバイル株式会社主催になります。<a href="#campaign-rule02" class="js-scroll">楽天モバイルの進呈条件について詳しく見る</a></li>
          <li class="u-Adjust_Mt-0"><span>※</span>本キャンペーンは、途中で変更・中止する場合がございます。</li>
        </ul>
      </div>

      <div class="<%= namespace %>-Layout_Entry-Area u-Adjust_Mt-16 u-Adjust_Align-center">
        <div class="<%= namespace %>-Entry_Ttl">
          <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-entry-ttl-01.png?231110-test" alt="最大30,000ポイントGET！">
        </div>

        <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
        <% if (information.campaignState == 'finish') { %>
          <div class="c-Btn_Primary-large cp-Fin">楽天モバイルと楽天カードを申し込む</div>
        <% } else { %>
          <!-- else -->
          <a href="https://r10.to/n-MNO001H0" class="card-Url c-Btn_Primary-large"><span id="js-trigger">楽天モバイルと楽天カードを申し込む</span></a>
        <% } %>
        </div>

        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
          <a href="https://www.rakuten-card.co.jp/campaign/rakuten_card/novjack/mobile" target="_blank" class="c-Link_Txt-inline">楽天カードのみをお申し込みの方はこちら<span class="c-Icon_New-window-l"></span></a>
        </div>

        <div class="<%= namespace %>-Entry_Ttl u-Adjust_Mt-24 u-Adjust_Align-center">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-entry-ttl-02-sp.png?231110-test">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-entry-ttl-02.png?231110-test" alt="期間中にすでに楽天カードをお申し込みの方 こちらからのお申し込みで20,000ポイントGET！">
          </picture>
        </div>

        <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
        <% if (information.campaignState == 'finish') { %>
          <div class="c-Btn_Primary-large cp-Fin">楽天モバイルのみ申し込む</div>
        <% } else { %>
          <!-- else -->
          <a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=RKCJCK00000001&l-id=campaign_<%= namespace %>_coupon_link01" class="c-Btn_Primary-large">楽天モバイルのみ申し込む</a>
        <% } %>
        </div>
        <p class="u-Adjust_Mt-16 c-Txt_Emp-01 <%= namespace %>-Utility_Mt-unique u-Adjust_Align-center">クーポンコード：RKCJCK00000001</p>

        <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
          <a href="https://network.mobile.rakuten.co.jp/shop/?l-id=campaign_<%= namespace %>_shop01" class="c-Btn_Secondly-large">お近くのショップを探す</a>
        </div>
        <ul class="u-Adjust_Mt-16 <%= namespace %>-Table_Rule-Cap u-Adjust_Align-left">
          <li><span>※</span>Webでのお申し込みで本ページのお申し込みボタン以外からお手続きされた場合、特典適用対象外となります。</li>
          <li class="u-Adjust_Mt-0"><span>※</span>楽天モバイルショップ（店舗）でお申し込みの場合、ショップによって営業時間が異なります。くわしくはショップページにてご確認ください。</li>
        </ul>
      </div>

      <div class="l-System_Container">
        <ul class="<%= namespace %>-Kv_Scroll">
          <li><a href="#campaign-tobe" class="js-scroll"><span class="c-Icon_Arrow-down-l"></span>30,000ポイントで<br>こんなことができる<span class="c-Icon_Point-l"></span></a></li>
          <li><a href="#campaign-get" class="js-scroll"><span class="c-Icon_Arrow-down-l"></span>最大30,000ポイント<br>GETするには？<span class="c-Icon_Gift-l"></span></a></li>
          <li><a href="#campaign-attraction" class="js-scroll"><span class="c-Icon_Arrow-down-l"></span>楽天モバイルの魅力<span class="c-Icon_Smartphone-l"></span></a></li>
          <li><a href="#campaign-reason" class="js-scroll"><span class="c-Icon_Arrow-down-l"></span>楽天カードが選ばれる理由<span class="c-Icon_Credit-card-l"></span></a></li>
        </ul>

        <h2 id="campaign-tobe" class="c-Heading_Lv2 u-Adjust_Align-center">30,000ポイントでこんなことができる</h2>
        <div class="<%= namespace %>-Tobe">
          <div class="u-Bg_Yellow u-Adjust_Mt-24 u-Adjust_Pt-16 u-Adjust_Pb-16 u-Adjust_Pl-16 u-Adjust_Pr-16">
            <div class="<%= namespace %>-Icon_Ttl u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-icon-01.png?231110-test" alt="" width="36">
              <h4 class="c-Heading_Lv4 u-Adjust_Align-center">街で使う</h4>
            </div>
            <p class="u-Adjust_Mt-8 u-Adjust_Align-center">お近くのコンビニや<br class="<%= namespace %>-Layout_Break-sp">ショッピングモールで利用する</p>
          </div>

          <div class="u-Bg_Pink5 u-Adjust_Mt-32 u-Adjust_Pt-16 u-Adjust_Pb-16 u-Adjust_Pl-16 u-Adjust_Pr-16">
            <div class="<%= namespace %>-Icon_Ttl u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-icon-02.png?231110-test" alt="" width="36">
              <h4 class="c-Heading_Lv4 u-Adjust_Align-center">楽天グループのサービスで使う</h4>
            </div>
            <p class="u-Adjust_Mt-8 u-Adjust_Align-center">楽天市場でのショッピング、<br class="<%= namespace %>-Layout_Break-sp">楽天トラベルでのご予約で利用する</p>
            <div class="c-Accordion u-Bg_Pink5 u-Adjust_Mt-16">
              <button type="button" id="accordion-Service" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-Service"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天市場でのご利用でさらにおトク！</button>
              <div id="accordion-content-Service" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-Service" aria-hidden="true">
                <p class="u-Adjust_Align-center">ダイヤモンド会員の楽天モバイル契約者が2つのSPUサービスを利用すると<br>
                  <span class="<%= namespace %>-Tobe_Txt c-Txt_Emp-01">楽天市場でのご利用で<br class="<%= namespace %>-Layout_Break-sp">さらにおトク！</span></p>
                  <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
                    <picture>
                      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-service-01-sp.png?231110-test">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-service-01.png?231110-test" alt="SPUご利用でポイント6倍 通常のお買い物でポイント1倍 Rakuten最強プランご利用でポイント3倍 ＋ 楽天カードポイント+1倍（楽天カード通常分）ポイント+1倍（楽天カード特典分）">
                    </picture>
                  </div>
                  <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                    <li class="u-Adjust_Mt-0"><span>※</span>2023年12月1日（金）より、サービスが一部変更となります。<a href="https://event.rakuten.co.jp/campaign/point-up/everyday/point/notice/" class="c-Link_Txt-inline" target="_blank">詳しくはこちらよりご確認ください<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
              </div>
            </div>
          </div>
        </div>

        <h2 id="campaign-get" class="c-Heading_Lv2 u-Adjust_Align-center">最大30,000ポイントGETするには？</h2>
        <div class="c-Tab js-Tab u-Adjust_Mt-24">
          <ul class="c-Tab_Items" role="tablist">
            <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">お申し込みステップ</li>
            <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">ポイント獲得ステップ</li>
          </ul>
          <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
            <h3 class="c-Heading_Lv3 u-Adjust_Align-center u-Adjust_Mt-40">お申し込み簡単2ステップ</h3>
            <div class="<%= namespace %>-Contents_Step">
              <div class="<%= namespace %>-Icon_Ttl">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-icon-03.png?231110-test" alt="" width="42">
                <h4 class="c-Heading_Lv4">楽天モバイルを初めてお申し込み</h4>
              </div>
              <div class="l-Media_Grid u-Adjust_Mt-16">
                  <div class="l-Media_Image">
                    <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-step-01.png?231110-test" alt="こちらから楽天モバイルのお申し込みに必要なものをチェック！">
                    </div>
                    <div class="l-Media_Image-link u-Adjust_Mt-16 u-Adjust_Align-center">
                      <a href="<%= sitepath %>guide/procedure/?id=campaign_card-30k_guide_procedure" target="_blank"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-step-02.png?231110-test" alt="はじめてでも安心お申し込みガイド"></a>
                    </div>
                  </div>
                  <div class="u-Bg_Monotone97 l-Media_Right">
                    <p class="c-Txt_Emp-01 u-Adjust_Align-center">楽天カードお申し込み完了画面からでも<br>
                      楽天モバイルをお申し込みできます</p>
                    <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
                      <picture>
                        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-step-03-sp.png?231110-test">
                        <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-step-03.png?231110-test" alt="">
                      </picture>
                    </div>
                    <p class="c-Txt_Normal-s <%= namespace %>-Txt_Left-sp u-Adjust_Mt-8">遷移できない場合やバナーが表示されない場合、<br>申し込み完了後に送信されるメール内のバナー等からもお申し込みいただけます。</p>
                  </div>
              </div>
            </div>
            <div class="u-Adjust_Align-center u-Adjust_Mt-16">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-step-icon-01.png?231110-test" alt="＋">
            </div>

            <div class="<%= namespace %>-Contents_Step u-Adjust_Pt-8 u-Adjust_Pb-8 u-Adjust_Mt-16">
              <div class="<%= namespace %>-Icon_Ttl">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-icon-04.png?231110-test" alt="" width="42">
                <h4 class="c-Heading_Lv4">楽天カードに新規入会</h4>
              </div>
            </div>
          </div>
          <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
            <h3 class="c-Heading_Lv3 u-Adjust_Align-center u-Adjust_Mt-40">最大30,000ポイントの内訳と流れ</h3>

            <h4 class="c-Heading_Lv4 u-Adjust_Align-center u-Adjust_Mt-40"><span class="<%= namespace %>-Get_Ttl-Sub-bg">楽天カード<br class="<%= namespace %>-Layout_Break-sp">10,000ポイント獲得ステップ</span></h4>
            <div class="l-Media_Grid-large u-Adjust_Mt-24">
              <div class="l-Media_Image">
                <div class="u-Adjust_Align-right">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-get-step-flow-01-sp.png?231110-test">
                    <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-get-step-flow-01.png?231110-test" alt="STEP1 楽天カードに新規入会後、お受け取り 約1週間でお届け">
                  </picture>
                </div>
              </div>
              <div class="<%= namespace %>-Get_Pointdetails u-Adjust_Mt-16">
                <div class="u-Adjust_Pr-16">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-get-step-icon.png?231110-test" alt="">
                </div>
                <div>
                  <div>
                    <picture>
                      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-get-step-point-01-sp.png?231110-test">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-get-step-point-01.png?231110-test" alt="新規入会特典 2,000ポイントGET！">
                    </picture>
                  </div>
                  <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                    <li class="u-Adjust_Mt-0"><span>※</span><a href="https://www.rakuten-card.co.jp/service/2000point/" class="c-Link_Txt-inline" target="_blank">お受け取り方法を見る<span class="c-Icon_New-window-l"></span></a></li>
                    <li class="u-Adjust_Mt-0"><span>※</span>特典進呈には条件達成が必要です。<br>
                      <a href="#campaign-rule" class="c-Link_Txt-inline">詳細を見る<span class="c-Icon_Arrow-down-l"></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="l-Media_Grid-large u-Adjust_Mt-24">
              <div class="l-Media_Image">
                <div class="u-Adjust_Align-right">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-get-step-flow-02-sp.png?231110-test">
                    <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-get-step-flow-02.png?231110-test" alt="STEP2 楽天カードを初回利用">
                  </picture>
                </div>
              </div>
              <div class="<%= namespace %>-Get_Pointdetails u-Adjust_Mt-16">
                <div class="u-Adjust_Pr-16">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-get-step-icon.png?231110-test" alt="">
                </div>
                <div>
                  <div>
                    <picture>
                      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-get-step-point-02-sp.png?231110-test">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-get-step-point-02.png?231110-test" alt="カード利用特典 8,000ポイントGET！">
                    </picture>
                  </div>
                  <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                    <li class="u-Adjust_Mt-0"><span>※</span>8,000ポイントのうち、6,000ポイントは期間限定ポイント、2,000ポイントは通常ポイントで進呈いたします。</li>
                    <li class="u-Adjust_Mt-0"><span>※</span><a href="https://www.rakuten-card.co.jp/campaign/rakuten_card/userule/202310.html" class="c-Link_Txt-inline" target="_blank">進呈タイミングを見る<span class="c-Icon_New-window-l"></span></a></li>
                    <li class="u-Adjust_Mt-0"><span>※</span>特典進呈には条件達成が必要です。<br>
                      <a href="#campaign-rule" class="c-Link_Txt-inline">詳細を見る<span class="c-Icon_Arrow-down-l"></span></a></li>
                  </ul>
                </div>
              </div>
            </div>

            <h4 class="c-Heading_Lv4 u-Adjust_Align-center u-Adjust_Mt-40"><span class="<%= namespace %>-Get_Ttl-Sub-bg">楽天モバイル<br class="<%= namespace %>-Layout_Break-sp">20,000ポイント獲得ステップ</span></h4>
            <div class="l-Media_Grid-large u-Adjust_Mt-24">
              <div class="l-Media_Image">
                <div class="u-Adjust_Align-right">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-get-step-flow-03-sp.png?231110-test">
                    <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-get-step-flow-03.png?231110-test" alt="STEP3 楽天モバイル初めてお申し込み後、開通">
                  </picture>
                </div>
              </div>
              <div class="<%= namespace %>-Get_Pointdetails u-Adjust_Mt-16">
                <div class="u-Adjust_Pr-16">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-get-step-icon.png?231110-test" alt="">
                </div>
                <div>
                  <div>
                    <picture>
                      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-get-step-point-03-sp.png?231110-test">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-get-step-point-03.png?231110-test" alt="楽天モバイル特典 20,000ポイントGET！">
                    </picture>
                  </div>
                  <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                    <li class="u-Adjust_Mt-0"><span>※</span>期間限定ポイントにて進呈</li>
                    <li class="u-Adjust_Mt-0"><span>※</span>特典進呈には条件達成が必要です。<br>
                      <a href="#campaign-rule02" class="c-Link_Txt-inline">詳細を見る<span class="c-Icon_Arrow-down-l"></span></a></li>
                  </ul>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>

      <div class="<%= namespace %>-Attraction u-Bg_Pink5">
        <div class="l-System_Container">
          <h2 id="campaign-attraction" class="c-Heading_Lv2 u-Adjust_Align-center">楽天モバイルの魅力</h2>

          <div class="c-Accordion-emp no-Acc">
            <span class="acc-Icon"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-attraction-icon-01.png?231110-test" alt="" width="64"></span><p><span class="c-Txt_Emp-01">日本全国の通信エリアで<span class="c-Txt_Emp-02">データ高速無制限</span></span><br>
            <span class="c-Txt_Cap">※公平なサービス提供または環境により速度低下する場合あり。</span></p>
          </div>

          <div class="c-Accordion-emp u-Adjust_Mt-16">
            <button type="button" id="accordion-emp-step-2" class="c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-emp-content-step-2">
              <span class="acc-Icon"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-attraction-icon-02.png?231110-test" alt="" width="64"></span>
              <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
              <span class="c-Accordion-emp_Trigger-txt">わかりやすい<span class="c-Txt_Emp-02">ワンプラン</span></span>
            </button>
            <div id="accordion-emp-content-step-2" class="c-Accordion-emp_Panel-normal js-Accordion_Panel" role="region" aria-labelledby="accordion-emp-step-2" aria-hidden="true">
              <div class="<%= namespace %>-Contents_Step">
                <div class="<%= namespace %>-Layout_Display-sp u-Adjust_Align-center">
                  <p class="c-Heading_Lv4">毎月のデータ利用量で<br>お支払い金額が決まる</p>
                </div>
                <div class="l-Media_Grid">
                  <div class="l-Media_Image">
                    <div class="u-Adjust_Align-center">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-attraction-01.png?231110-test" alt="毎月のデータ利用量でお支払い金額が決まる 20GB超過後無制限※で2,980円/月（税込3,278円）さらに使わなければ勝手に安くなる！">
                    </div>
                  </div>
                  <div>
                    <div class="<%= namespace %>-Layout_Display-pc">
                      <p class="c-Heading_Lv4 u-Adjust_Mt-24">毎月のデータ利用量でお支払い金額が決まる</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※ 公平なサービス提供のため速度制限する場合あり。環境により速度低下する場合あり。通話料等別費用。</p>
                      <div class=" u-Adjust_Mt-8">
                        <a href="<%= sitepath %>fee/saikyo-plan/?id=campaign_<%= namespace %>_fee_saikyo-plan" class="c-Link_Txt-inline">詳細はこちら<span class="c-Icon_New-window-l"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="<%= namespace %>-Layout_Display-sp">
                  <p class="c-Txt_Cap">※ 公平なサービス提供のため速度制限する場合あり。環境により速度低下する場合あり。通話料等別費用。</p>
                  <div class="u-Adjust_Align-center u-Adjust_Mt-8">
                    <a href="<%= sitepath %>fee/saikyo-plan/?id=campaign_<%= namespace %>_fee_saikyo-plan" class="c-Link_Txt-inline">詳細はこちら<span class="c-Icon_New-window-l"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="c-Accordion-emp u-Adjust_Mt-16">
            <button type="button" id="accordion-emp-step-3" class="c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-emp-content-step-3">
              <span class="acc-Icon"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-attraction-icon-03.png?231110-test" alt="" width="64"></span>
              <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
              <div>
                <p class="c-Accordion-emp_Trigger-txt">アプリ利用で<span class="c-Txt_Emp-02">国内通話無料</span></p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※一部対象外番号あり。アプリ未使用時30秒22円。データタイプのお申し込みでは、データ通信のみの利用となり通話・Linkアプリはご利用いただけません。</p>
              </div>
            </button>
            <div id="accordion-emp-content-step-3" class="c-Accordion-emp_Panel-normal js-Accordion_Panel" role="region" aria-labelledby="accordion-emp-step-3" aria-hidden="true">
              <div class="<%= namespace %>-Contents_Step">
                <div class="<%= namespace %>-Layout_Display-sp u-Adjust_Align-center">
                  <p class="c-Heading_Lv4">Rakuten Linkを使っていない人にも<br>無料で国内通話かけ放題</p>
                </div>
                <div class="l-Media_Grid">
                  <div class="l-Media_Image">
                    <div class="u-Adjust_Align-center">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-attraction-02.png?231110-test" alt="">
                    </div>
                  </div>
                  <div>
                    <div class="<%= namespace %>-Layout_Display-pc">
                      <p class="c-Heading_Lv4">Rakuten Linkを使っていない人にも無料で<br>
                        国内通話かけ放題</p>
                        <p class="u-Adjust_Mt-8">Rakuten Linkを使って相手の電話番号にかけるだけ。今お使いの番号そのままで、ほかの携帯電話会社ケータイ、固定電話を含む国内通話が無料でかけられます。</p>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">※ データ低速モード時でも通話が可能です。</p>
                      <div class="u-Adjust_Mt-8">
                        <a href="https://service.link.link/" class="c-Link_Txt-inline">詳細はこちら<span class="c-Icon_New-window-l"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="<%= namespace %>-Layout_Display-sp">
                  <p class="u-Adjust_Mt-8">Rakuten Linkを使って相手の電話番号にかけるだけ。今お使いの番号そのままで、ほかの携帯電話会社ケータイ、固定電話を含む国内通話が無料でかけられます。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※ データ低速モード時でも通話が可能です。</p>
                  <div class="u-Adjust_Align-center u-Adjust_Mt-8">
                    <a href="https://service.link.link/" class="c-Link_Txt-inline" target="_blank">詳細はこちら<span class="c-Icon_New-window-l"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="c-Accordion-emp no-Acc u-Adjust_Mt-16">
            <span class="acc-Icon"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-attraction-icon-04.png?231110-test" alt="" width="64"></span><p><span class="c-Txt_Emp-01">お近くの楽天モバイルショップで<span class="c-Txt_Emp-02">楽天モバイルと楽天カードのお申し込みをサポート</span></span></p>
          </div>
        </div>
      </div>

      <div class="<%= namespace %>-Reason">
        <div class="l-System_Container">
          <h2 id="campaign-reason" class="c-Heading_Lv2 u-Adjust_Align-center">楽天カードが選ばれる理由</h2>

          <div class="c-Accordion-emp no-Acc">
            <span class="acc-Icon"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-attraction-icon-05.png?231110-test" alt="" width="64"></span><p><span class="c-Txt_Emp-01">14年連続<span class="c-Txt_Emp-02">顧客満足度第1位</span></span><br>
            <span class="c-Txt_Cap">※2022年度日本版顧客満足度指数調査 クレジットカード業種</span></p>
          </div>

          <div class="c-Accordion-emp no-Acc u-Adjust_Mt-16">
            <span class="acc-Icon"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-attraction-icon-06.png?231110-test" alt="" width="64"></span><p><span class="c-Txt_Emp-01">年会費<span class="c-Txt_Emp-02">永年無料</span></span></p>
          </div>

          <div class="c-Accordion-emp no-Acc u-Adjust_Mt-16">
            <span class="acc-Icon"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-attraction-icon-07.png?231110-test" alt="" width="64"></span><p><span class="c-Txt_Emp-02">1%還元</span><br class="<%= namespace %>-Layout_Break-sp"><span class="c-Txt_Emp-01">（100円につき1ポイント）</span><br>
              <span class="c-Txt_Cap">※一部ポイント還元の対象外となる場合がございます。<a href="https://www.rakuten-card.co.jp/point/pointrate/">詳細はこちら</a></span></p>
          </div>

          <div class="c-Accordion-emp u-Adjust_Mt-16">
            <button type="button" id="accordion-emp-step-8" class="c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-emp-content-step-8">
              <span class="acc-Icon"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-attraction-icon-08.png?231110-test" alt="" width="64"></span>
              <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
              <div>
                <p class="c-Accordion-emp_Trigger-txt">デザインが選べる</p>
              </div>
            </button>
            <div id="accordion-emp-content-step-8" class="c-Accordion-emp_Panel-normal js-Accordion_Panel" role="region" aria-labelledby="accordion-emp-step-8" aria-hidden="true">
              <div class="<%= namespace %>-Contents_Step">
                <div class="u-Adjust_Align-center">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-reason-01-sp.png?231110-test">
                    <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-reason-01.png?231110-test" alt="">
                  </picture>
                </div>
              </div>
            </div>
          </div>
          <div class="<%= namespace %>-Reason_Bnr u-Adjust_Align-center">
            <a href="https://r10.to/contactless-payment" target="_blank">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-reason-bnr-01-sp.png?231110-test">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-reason-bnr-01.png?231110-test" alt="楽天カードVisaでタッチ メリットたくさん！サインや暗証番号は不要 ※スピーディーな決済が可能 楽天カード Visaでタッチ決済のメリットをチェック！">
              </picture>
            </a>
          </div>
          <p class="c-Txt_Cap u-Adjust_Mt-16">※一定金額以上のお支払いの場合、サインもしくは暗証番号の入力が必要です。</p>
        </div>
      </div>

      <div class="l-System_Container">
        <h2 id="faq" class="c-Heading_Lv2 nav-Pad u-Adjust_Mb-16 u-Adjust_Align-center">よくあるご質問</h2>
        <div class="u-Adjust_Mt-16 u-Adjust_Mb-40">
          <div class="c-Accordion">
            <button id="accordion-faq1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーンのポイント獲得の対象になっているか確認したいです。</button>
            <div id="accordion-content-faq1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq1" aria-hidden="true">
                <p>お申し込み後に、キャンペーン適用できているかどうかは、お客様自身でご確認いただくことができません。「お申し込み内容」であらかじめクーポンコード14桁の英数字が表示されていることをご確認のうえ、お申し込みを完了してください。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーン期間内に楽天モバイルに申し込みができているか、確認方法はありますか？</button>
            <div id="accordion-content-faq2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq2" aria-hidden="true">
              <p>以下2種類の方法があります。<br>
                1.お申し込み完了メールを確認する<br>
                2.「<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile">my 楽天モバイル</a>」の申し込み履歴から確認する<br>
                詳しい手順はお客様サポート内「<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001827/">申し込みが正常にできているか確認したい</a>」からもご確認いただけます。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>メンバーズステーションで、MNP予約番号を発行する方法を教えてください。</button>
            <div id="accordion-content-faq3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq3" aria-hidden="true">
              <p>MNP（携帯電話ナンバーポータビリティ）をご利用いただくことで、現在お使いの電話番号がそのままお使いいただけます。<br>
                <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_<%= namespace %>_ms3&mno_migration=1">メンバーズステーショントップページ</a>の「MNP予約番号発行・確認について」をタップし、MNP予約番号を発行してください。MNP予約番号発行手数料は発生しません。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>申し込み後に、本人確認書類の不備などで再提出になった場合でもキャンペーンは適用されますか？</button>
            <div id="accordion-content-faq4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq4" aria-hidden="true">
              <p>お申し込み後に、書類の再提出などいただきお申し込みが完了できた場合は、キャンペーンが適用されます。ただし、お申し込み画面内で入力された情報と本人確認書類の内容が一致しないなどの理由で楽天モバイルが定める審査に基づき、お申し込みをキャンセルさせていただく場合、キャンペーンは適用できません。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ポイントの進呈はいつになりますか？</button>
            <div id="accordion-content-faq5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq5" aria-hidden="true">
              <p>「Rakuten最強プラン」のお申し込み後、期限までにすべての条件を達成した場合、2024年1月から5月の5カ月間にわたり進呈いたします。<br>
                進呈されたポイントは楽天PointClubの「<a href="https://point.rakuten.co.jp/history/">ポイント実績</a>」から確認することができます。</p>
            </div>
          </div>
        </div>

        <div class="u-Adjust_Mt-40" id="campaign-rule">
          <div class="<%= namespace %>-Layout_Rule u-Adjust_Mt-0">
            <h2 class="c-Heading_Lv2">楽天カード　新規入会＆利用特典 進呈条件</h2>
            <div class="u-Adjust_Mt-24">
              <dl class="c-Dl_Origin">
                <div>
                  <dt>対象期間</dt>
                  <dd>
                    <p>2023年11月10日（金）10:00～2023年11月20日（月）10:00</p>
                  </dd>
                </div>
                <div>
                  <dt>カード利用期限</dt>
                  <dd>
                    <p>2023年11月10日（金）～2023年12月31日（日）</p>
                    <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
                      <li>2024年1月31日（水）までにカードご利用店舗から楽天カード（株）へのカード利用情報の到着が必須となります。</li>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>口座振替設定期限</dt>
                  <dd>
                    <p>カードお申し込み日の翌々月25日まで</p>
                  </dd>
                </div>
                <div>
                  <dt>特典</dt>
                  <dd>
                    <p><span class="c-Txt_Emp-01">【特典1】新規入会特典…2,000ポイント（通常ポイント）<br>
                      【特典2】カード利用特典…8,000ポイント※（6,000ポイントは期間限定ポイント、2,000ポイントは通常ポイント）</span></p>
                    <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
                      <li>ポイント進呈時の名称は、6,000ポイントと2,000ポイントで異なります。</li>
                      <li>また、ポイント進呈日は6,000ポイントと2,000ポイントで異なる場合がございます。あらかじめご了承ください。</li>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>ポイント進呈予定日</dt>
                  <dd>
                    <p><span class="c-Txt_Emp-01">【特典1】新規入会特典…カード到着後、楽天カード会員様専用のオンラインサービス「楽天e-NAVI」に初回登録が完了した2日前後<br>
                      【特典2】カード利用特典…カード初回利用と口座振替設定の両方が完了した月の翌月末頃</span></p>
                    <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
                      <li>諸事情によりポイント進呈が遅れる場合もございますのでご了承ください。</li>
                    </ul>
                    <ul class="c-Cpn_List-mark-2">
                      <p><span style="color: #ec0606;">・特典1の新規入会特典は、ご契約日から7カ月後の月末までに楽天e-NAVIへご登録のうえ、お受け取りが必要です。</span>新規入会特典の<a href="https://www.rakuten-card.co.jp/service/2000point/">お受け取り方法を見る</a></p>
                      <p>・特典2のカード利用特典の進呈タイミングについて<a href="https://www.rakuten-card.co.jp/campaign/rakuten_card/userule/202310.html">詳細を見る</a><br>
                        なお、<span style="color: #ec0606;">6,000ポイントの有効期限は進呈日の翌月末までとなります。</span>期間限定ポイントについて<a href="https://point.rakuten.co.jp/guidance/terms/">詳細を見る</a></p>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>進呈対象</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">
                      【特典1】【特典2】
                    </p>
                    <p>・新規のお申し込みで楽天カード/楽天PINKカードが発行された方</p>
                    <p class="c-Txt_Emp-01">
                      【特典2】
                    </p>
                    <p>・カード利用期限までに1円以上、1回以上対象カード（楽天カード/楽天PINKカード）を利用された方※1</p>
                    <p>・口座振替設定期限の時点で口座振替設定が完了されている方※2</p>
                    <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
                      <li>1. ご利用加盟店によってはカード利用情報の到着に時間がかかり、実際のご利用日と異なる場合がございます。また弊社へのカード利用情報到着のタイミングによって、ポイント進呈がカード初回利用日の翌々月以降になる場合や、ポイント進呈対象外となる場合がございます。</li>
                      <li>2.お申し込み時に郵送での口座振替設定を選択された方は、口座振替設定完了までに時間がかかる場合がございます。</li>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>進呈対象外</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">
                      【特典1】【特典2】
                    </p>
                    <p>・すでにカードをお持ちの方（お申し込み中・カードの到着をお待ちの方も含む）</p>
                    <p>・カードお申し込み時の審査において、カードが発行されなかった方</p>
                    <p>・ポイント進呈月の前月末時点で、本カード会員様が楽天会員もしくは楽天カード会員を退会されている場合、いずれかの会員規約に違反もしくは会員資格を取り消されている場合</p>
                    <p>・重複お申し込みの場合</p>
                    <p>・ポイント進呈予定日の前月末時点でカードを受け取っていない場合</p>
                    <p>・ポイント進呈月の前月末時点で、ご利用可能なカードをお持ちでない場合</p>

                    <p class="c-Txt_Emp-01">
                      【特典1】
                    </p>
                    <p>・過去にカードを受け取ったことのある方</p>
                    <p>・過去に入会特典ポイントを受け取ったことのある方</p>
                    <p class="c-Txt_Emp-01">
                      【特典2】
                    </p>
                    <p>・過去お申し込み履歴があり、カードが発行されたことのある方（すでに退会された方・カード切り替えのお申し込みをされた方含む）</p>
                    <p>・過去にカードの発行履歴のある楽天IDを利用してお申し込みをされた方</p>
                    <p>・1つの楽天IDを使って複数の方がカードお申し込みいただいた場合</p>
                    <p>・ポイント進呈月の前月末時点で、楽天IDが弊社で特定できない場合</p>
                    <p class="c-Txt_Emp-01">
                      ＜以下のご利用分は、対象外となります。＞
                    </p>
                    <p>・2枚目に作成いただいた楽天カードのご利用分</p>
                    <p>・楽天市場や楽天ペイなどでのポイントご利用分</p>
                    <p>・キャッシングのご利用分およびATM手数料</p>
                    <p>・明細書発行費用</p>
                    <p>・カード年会費（ETCカード年会費など）および、楽天PINKカードの月額サービス料</p>
                    <p>・キャンセルされたご利用分</p>
                  </dd>
                </div>
                <div>
                  <dt>備考</dt>
                  <dd>
                    <p>・18歳未満、高校生、海外在住の方はカードをお申し込みいただけません。</p>
                    <p>・カード発行には所定の審査がございます。</p>
                    <p>・ポイント進呈までに楽天カード会員および楽天会員登録の情報変更があった場合、ポイント進呈ができない場合がございます。</p>
                    <p>・弊社に登録されている楽天IDが複数ある場合、進呈されない場合がございます。</p>
                    <p>・本企画は、途中で変更・中止する場合がございます。</p>
                    <p>・お申し込みの際には、ご本人様の楽天IDをご利用ください。</p>
                    <p>・年末年始、ゴールデンウィーク、連休のお申し込みについては、通常よりもお届けが遅れる場合がございます。あらかじめご了承ください。</p>
                    <p>・ポイント進呈時点で、上記以外のその他の事由により特典の進呈ができない場合がございます。</p>
                    <p>・本キャンペーンは楽天カード株式会社主催になります。</p>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>

        <div class="u-Adjust_Mt-40" id="campaign-rule02">
        </div>

      <% if (hiddenItem == 'true') { %>
        <div class="c-Accordion">
          <button id="accordion-past-rule" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-past-rule"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>過去のキャンペーン</button>
          <div id="accordion-content-past-rule" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-past-rule" aria-hidden="true">
            <div>
            </div>
          </div>
        </div>
      <% } %>

        <div class="u-Adjust_Mt-40">
          <!-- ReX UX Survey: Mounting point for embedded components -->
          <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
        </div>
      </div>
    </div>

    <% if (information.campaignState == 'finish') { %>
      <footer class="g-Footer u-Adjust_Mt-64 <%= namespace %>-Layout_Footer Fin">
    <% } else { %>
      <!-- else -->
      <div id="js-fixed-btn" class="<%= namespace %>-Layout_Bottom-fixed" aria-expanded="true" role="region">
        <div class="<%= namespace %>-Layout_Bottom-fixed-inner u-Adjust_Mt-0">
          <a href="https://r10.to/n-MNO001H0" class="card-Url c-Btn_Primary-large"><span>楽天モバイルと楽天カードを申し込む</span></a>
          <a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=RKCJCK00000001&l-id=campaign_<%= namespace %>_coupon_link02" class="c-Btn_Primary-large"><span>楽天モバイルのみ申し込む</span></a>
        </div>
      </div>
      <footer class="g-Footer u-Adjust_Mt-64 <%= namespace %>-Layout_Footer">
    <% } %>
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>

<% if (hiddenItem == 'true') { %>
  <script>
    (function($){
        const trigger = document.getElementById('js-trigger');
        const fixedBtn = document.getElementById('js-fixed-btn');
        function fixedBottomBtn() {
            let scrollY = window.pageYOffset;
            const triggerRect = trigger.getBoundingClientRect();
            const triggerY = scrollY + triggerRect.top;

        if ( scrollY > triggerY ) {
          fixedBtn.setAttribute('aria-expanded', 'true');
        } else {
          fixedBtn.setAttribute('aria-expanded', 'false');
        }
      }
      if( fixedBtn && trigger ) {
        window.addEventListener('scroll', fixedBottomBtn);
      }
    })();
  </script>
<% } %>
  <!-- ReX UX Survey: Config -->
  <script>
    window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
  </script>

  <!-- ReX UX Survey: Script -->
  <script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>

  <script>
    if (document.cookie !== '') {
      const locationoParams = location.search.substring(1).split('&');

      if ( locationoParams[0].indexOf('scid=wi_ich_rmb_mkdiv_toppage-header-pitari') != -1) {
        var thisScid = "scid=wi_ich_rmb_mkdiv_toppage-header-pitari";
      }else if ( locationoParams[0].indexOf('scid=wi_ich_rmb_mkdiv_toppage-js') != -1) {
        var thisScid = "scid=wi_ich_rmb_mkdiv_toppage-js";
      }
      var Rz_id = '';
      var tmp_cookie = document.cookie.split('; ');
      for (var i = 0; i < tmp_cookie.length; i++) {
        var temp_data = tmp_cookie[i].split('=');
        if (temp_data[0] === 'Rz') {
          Rz_id = 'true';
          break;
        }
      }
      if (Rz_id === 'true') {
        if (locationoParams[0] !== '') {
          if(thisScid == "scid=wi_ich_rmb_mkdiv_toppage-header-pitari"){
            $("a.card-Url").attr("href","https://r10.to/n-ICB003R0");
          }else if(thisScid == "scid=wi_ich_rmb_mkdiv_toppage-js"){
            $("a.card-Url").attr("href","https://r10.to/n-ICB004R0");
          }
        }else {
            $("a.card-Url").attr("href","https://r10.to/n-MNO001R0");
        }
      }else {
        if (locationoParams[0] !== '') {
          if(thisScid == "scid=wi_ich_rmb_mkdiv_toppage-header-pitari"){
            $("a.card-Url").attr("href","https://r10.to/n-ICB003H0");
          }else if(thisScid == "scid=wi_ich_rmb_mkdiv_toppage-js"){
            $("a.card-Url").attr("href","https://r10.to/n-ICB004H0");
          }
        }else {
            $("a.card-Url").attr("href","https://r10.to/n-MNO001H0");
        }
      }
    }
  </script>
</body>
</html>
