<% const pagetitle = "オプションサービスの確認・追加・解約方法" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/plan/service/", label:"オプションサービス"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'オプションサービスの追加・解約方法をご案内します。my 楽天モバイル（アプリ・Web）からかんたんに変更のお手続きが可能です',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container u-Adjust_Pb-32">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
    <p class="u-Adjust_Mt-16">契約中のオプションサービスの確認方法や、オプションサービスの追加・解約についてご案内いたします。</p>
  </div>

  <div class="c-Theme-Light">
    <div class="l-System_Container ">
      <ul class="<%= nameSpace %>-Link_Nav">
        <li>
          <a href="#contract_confirmation" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span><span>契約中オプションサービスの確認方法</span></a>
        </li>
        <li>
          <a href="#add_options" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span><span>追加できるオプションサービス</span></a>
        </li>
        <li>
          <a href="#cancel_options" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span><span>解約できるオプションサービス</span></a>
        </li>
        <li>
          <a href="#add_cancel_procedure" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span><span>追加・解約のお手続き方法</span></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="l-System_Container">
    <h2 id="contract_confirmation" class="c-Heading_Lv2 u-Adjust_Mt-48">契約中オプションサービスの確認方法</h2>
    <p class="u-Adjust_Mt-8">契約中オプションサービスの情報は、my 楽天モバイルでご確認いただけます。</p>
    <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-16">
      <li><a href="#option_service" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>確認方法（製品保証オプションサービス）</a></li>
      <li><a href="#except_option_service" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>確認方法（製品保証以外のオプションサービス）</a></li>
    </ul>
    <div class="u-Adjust_Mt-24">
      <h3 id="option_service" class="c-Heading_Lv4">確認方法（製品保証オプションサービス）</h3>
      <p class="u-Adjust_Mt-16">以下の製品保証オプションサービスの加入有無・加入日は、my 楽天モバイルのホーム画面よりご確認いただけます。</p>
      <p class="c-Txt_Cap u-Adjust_Mt-16">※月額利用料は「<a href="/guide/payment/usage-details/#anc03">利用明細</a>」からご確認ください。</p>

      <ul class="c-List_Text-disc u-Adjust_Mt-16">
        <li>スマホ交換保証プラス</li>
        <li>故障紛失保証 with AppleCare Services</li>
        <li>故障紛失保証 with AppleCare Services & iCloud+</li>
        <li>あんしん保証with AppleCare Services for Apple Watch</li>
      </ul>

      <div class="c-Tab js-Tab u-Adjust_Mt-32">
        <ul class="c-Tab_Items" role="tablist">
            <li class="c-Tab_Item" id="tab-menu3" role="tab" aria-selected="true" aria-controls="tab-content3">Webで確認する</li>
            <li class="c-Tab_Item" id="tab-menu4" role="tab" aria-selected="false" aria-controls="tab-content4">アプリで確認する</li>
        </ul>
        <div class="c-Tab_Panel" id="tab-content3" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu3">
          <ol class="c-Flow u-Adjust_Mt-40">
            <li>
              <h3 class="c-Heading_Lv3">1. my 楽天モバイル「ホーム」画面を開く</h3>
              <p class="u-Adjust_Mt-16 c-Txt_Cap">※「ホーム画面へ進む」をタップしてログインすると、手順２の画面が表示されます。</p>
              <p class="c-Txt_Cap">※ログインが行えない場合は「<a href="/faq/detail/00001207/">[my 楽天モバイル]ログインできません</a>」をご確認ください。</p>
              <div class="u-Adjust_Align-center">
                <a href="https://portal.mobile.rakuten.co.jp/dashboard#home" class="c-Btn_Secondly-large u-Adjust_Mt-16"><span>ホーム画面へ進む</span></a>
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">2. 画面を下にスクロールし、「製品情報」内の「全ての製品情報」をタップする</h3>
              <div class="c-Accordion u-Adjust_Mt-16">
                <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイルを2回線以上ご契約中の場合</button>
                <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
                  <p class="u-Adjust_Mt-8">楽天モバイルを2回線以上契約されている場合は、以下の手順で表示する電話番号を切り替えることができます。</p>
                  <h5 class="c-Heading_Lv5 u-Adjust_Mt-24">1. 画面で表示されている電話番号をタップする</h5>
                  <div class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-01-230601.png" alt="" width="298" height="139" class="c-Img_Capture"></div>
                  <h5 class="c-Heading_Lv5 u-Adjust_Mt-16">2. 回線を表示したい電話番号をタップする</h5>
                  <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>チェックがついている電話番号が、現在表示されている回線です。</p>
                  <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-02-230601.png" alt="" width="298" height="243" class="c-Img_Capture"></div>
                  <h5 class="c-Heading_Lv5 u-Adjust_Mt-16">3. 表示されている電話番号が切り替わっていることを確認する</h5>
                  <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-03-230601.png" alt="" width="298" height="222" class="c-Img_Capture"></div>
                </div>
              </div>
              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <img src="<%= sitepath %>assets/img/guide/change-options/img-web01.png" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">3. 契約中の製品保証オプションサービスを確認する</h3>
              <p class="u-Adjust_Mt-16">「購入証明書」を選択すると、製品保証オプションの加入日をご確認できます。</p>
              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <img src="<%= sitepath %>assets/img/guide/change-options/img-contract01.png" alt="" class="c-Img_Capture">
              </div>
            </li>
          </ol>
        </div>
        <div class="c-Tab_Panel" id="tab-content4" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu4">
          <ol class="c-Flow u-Adjust_Mt-40">
            <li>
              <h3 class="c-Heading_Lv3">1. my 楽天モバイルを起動する</h3>
              <div class="c-Box_App u-Adjust_Mt-24">
                <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt=""></div>
                <div class="c-Box_App-txt">
                  <p class="c-Box_App-ttl">my 楽天モバイル</p>
                  <p class="u-Adjust_Mt-16">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                  <ul class="c-Box_App-link u-Adjust_Mt-16">
                    <li><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img
                          src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" height="44" alt=""></a></li>
                    <li><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img
                          src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></li>
                    <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv4">
                2. 画面を下にスクロールし、「モバイル製品情報」内の「製品の詳細・保証のお手続き」をタップする
              </h4>
              <div class="c-Accordion u-Adjust_Mt-16">
                <button type="button" id="accordion-7" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-7"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイルを2回線以上ご契約中の場合</button>
                <div id="accordion-content-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-7" aria-hidden="true">
                  <p class="u-Adjust_Mt-8">楽天モバイルを2回線以上契約されている場合は、以下の手順で表示する電話番号を切り替えることができます。</p>
                  <h5 class="c-Heading_Lv5 u-Adjust_Mt-24">1. 画面で表示されている電話番号をタップする</h5>
                  <div class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-01-230601.png" alt="" width="298" height="139" class="c-Img_Capture"></div>
                  <h5 class="c-Heading_Lv5 u-Adjust_Mt-16">2. 回線を表示したい電話番号をタップする</h5>
                  <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>チェックがついている電話番号が、現在表示されている回線です。</p>
                  <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-02-230601.png" alt="" width="298" height="243" class="c-Img_Capture"></div>
                  <h5 class="c-Heading_Lv5 u-Adjust_Mt-16">3. 表示されている電話番号が切り替わっていることを確認する</h5>
                  <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-03-230601.png" alt="" width="298" height="222" class="c-Img_Capture"></div>
                </div>
              </div>
              <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/guide/change-options/img-app01.png" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">3. 契約中の製品保証オプションサービスを確認する</h3>
              <p class="u-Adjust_Mt-16">「購入証明書」を選択すると、製品保証オプションの加入日をご確認できます。</p>
              <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
                <img class="u-Adjust_Mt-8 c-Img_Capture" src="<%= sitepath %>assets/img/guide/change-options/img-contract01.png" alt="" >
              </div>
            </li>
          </ol>
        </div>
      </div>
      <p class="u-Adjust_Mt-24">以上で完了です。</p>
    </div>
    <div class="u-Adjust_Mt-24">
      <h3 id="except_option_service" class="c-Heading_Lv4">確認方法（製品保証以外のオプションサービス）</h3>
      <p class="u-Adjust_Mt-16">製品保証以外のオプションサービスの契約状況加入有無・月額利用料は、my 楽天モバイルの契約プラン画面よりご確認いただけます。</p>
      <p class="c-Txt_Cap u-Adjust_Mt-16">※利用開始日は「<a href="/guide/users-information/#contract_confirm">契約内容の確認方法</a>」よりご確認ください。</p>

      <div class="c-Tab js-Tab u-Adjust_Mt-32">
        <ul class="c-Tab_Items" role="tablist">
            <li class="c-Tab_Item" id="tab-menu5" role="tab" aria-selected="true" aria-controls="tab-content5">Webで確認する</li>
            <li class="c-Tab_Item" id="tab-menu6" role="tab" aria-selected="false" aria-controls="tab-content6">アプリで確認する</li>
        </ul>
        <div class="c-Tab_Panel" id="tab-content5" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu5">
          <ol class="c-Flow u-Adjust_Mt-40">
            <li>
              <h3 class="c-Heading_Lv3">1. my 楽天モバイル「契約プラン」画面を開く</h3>
              <p class="u-Adjust_Mt-16 c-Txt_Cap">※「契約プランへ進む」をタップしてログインすると、手順２の画面が表示されます。</p>
              <p class="c-Txt_Cap">※ログインが行えない場合は「<a href="/faq/detail/00001207/">[my 楽天モバイル]ログインできません</a>」をご確認ください。</p>
              <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                <a href="https://portal.mobile.rakuten.co.jp/dashboard?scrollTo=simAndLinesAction#plans" class="c-Btn_Secondly-large"><span>契約プランへ進む</span></a>
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">2. 下にスクロールし、「ご契約中のオプションサービス」を確認</h3>
              <div class="c-Accordion u-Adjust_Mt-16">
                <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイルを2回線以上ご契約中の場合</button>
                <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
                  <p class="u-Adjust_Mt-8">楽天モバイルを2回線以上契約されている場合は、以下の手順で表示する電話番号を切り替えることができます。</p>
                  <h5 class="c-Heading_Lv5 u-Adjust_Mt-24">1. 画面で表示されている電話番号をタップする</h5>
                  <div class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-01-230601.png" alt="" width="298" height="139" class="c-Img_Capture"></div>
                  <h5 class="c-Heading_Lv5 u-Adjust_Mt-16">2. 回線を表示したい電話番号をタップする</h5>
                  <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>チェックがついている電話番号が、現在表示されている回線です。</p>
                  <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-02-230601.png" alt="" width="298" height="243" class="c-Img_Capture"></div>
                  <h5 class="c-Heading_Lv5 u-Adjust_Mt-16">3. 表示されている電話番号が切り替わっていることを確認する</h5>
                  <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-03-230601.png" alt="" width="298" height="222" class="c-Img_Capture"></div>
                </div>
              </div>
              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <img src="<%= sitepath %>assets/img/guide/change-options/img-contract02.png" alt="" class="c-Img_Capture">
              </div>
            </li>
          </ol>
        </div>
        <div class="c-Tab_Panel" id="tab-content6" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu6">
          <ol class="c-Flow u-Adjust_Mt-40">
            <li>
              <h3 class="c-Heading_Lv3">1. my 楽天モバイルを起動する</h3>
              <div class="c-Box_App u-Adjust_Mt-24">
                <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt=""></div>
                <div class="c-Box_App-txt">
                  <p class="c-Box_App-ttl">my 楽天モバイル</p>
                  <p class="u-Adjust_Mt-16">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                  <ul class="c-Box_App-link u-Adjust_Mt-16">
                    <li><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img
                          src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" height="44" alt=""></a></li>
                    <li><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img
                          src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></li>
                    <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv4">
                2. 画面下の「契約プラン」をタップする
              </h4>
              <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/guide/change-options/img-01.png" width="300" height="98" alt="" class="c-Img_Capture">
              </div>
            </li>
            <li>
              <h3 class="c-Heading_Lv3">3. 下にスクロールし、「ご契約中のオプションサービス」を確認</h3>
              <div class="c-Accordion u-Adjust_Mt-16">
                <button type="button" id="accordion-8" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-8"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイルを2回線以上ご契約中の場合</button>
                <div id="accordion-content-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-8" aria-hidden="true">
                  <p class="u-Adjust_Mt-8">楽天モバイルを2回線以上契約されている場合は、以下の手順で表示する電話番号を切り替えることができます。</p>
                  <h5 class="c-Heading_Lv5 u-Adjust_Mt-24">1. 画面で表示されている電話番号をタップする</h5>
                  <div class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-01-230601.png" alt="" width="298" height="139" class="c-Img_Capture"></div>
                  <h5 class="c-Heading_Lv5 u-Adjust_Mt-16">2. 回線を表示したい電話番号をタップする</h5>
                  <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>チェックがついている電話番号が、現在表示されている回線です。</p>
                  <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-02-230601.png" alt="" width="298" height="243" class="c-Img_Capture"></div>
                  <h5 class="c-Heading_Lv5 u-Adjust_Mt-16">3. 表示されている電話番号が切り替わっていることを確認する</h5>
                  <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-03-230601.png" alt="" width="298" height="222" class="c-Img_Capture"></div>
                </div>
              </div>
              <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/guide/change-options/img-contract02.png" alt="" class="c-Img_Capture">
              </div>
            </li>
          </ol>
        </div>
      </div>
      <p class="u-Adjust_Mt-24">以上で完了です。</p>
    </div>



    <h2 class="c-Heading_Lv2 u-Adjust_Mt-40" id="add_options">追加できるオプションサービス</h2>
    <p class="u-Adjust_Mt-24">下記8種類のオプションサービスは、「my 楽天モバイル」より追加のお手続きができます。</p>
    <dl class="c-Dl_Origin u-Adjust_Mt-24">
      <div>
        <dt>追加できるオプションサービス</dt>
        <dd>
          <ul class="c-List_Text-disc u-Adjust_Mt-16">
            <li>スマホ操作遠隔サポート</li>
            <li>ノートン™ モバイル セキュリティ</li>
            <li>楽天モバイルWiFi by エコネクト</li>
            <li>あんしんコントロール by i-フィルター</li>
            <li>持ち込みスマホあんしん保証<br>
            <span class="c-Txt_Cap">※SIMのみでプランお申し込み時、楽天回線の開通日から30日以内に追加が可能です。お申込み後、専用ページで製品登録が必要です。</span></li>
            <li>15分（標準）通話かけ放題</li>
            <li>国際通話かけ放題</li>
            <li>あんしん操作サポート</li>
          </ul>
        </dd>
      </div>
      <div>
        <dt>新規お申し込み・製品購入時のみお申し込みできるオプションサービス</dt>
        <dd>
          <ul class="c-List_Text-disc u-Adjust_Mt-16">
            <li>スマホ交換保証プラス</li>
            <li>故障紛失保証 with AppleCare Services & iCloud+</li>
            <li>あんしん保証with AppleCare Services for Apple Watch</li>
            <li>楽天モバイル買い替え超トクプログラム</li>
          </ul>
        </dd>
      </div>
    </dl>

    <p class="u-Adjust_Mt-16">手続き方法は「<a href="#add_cancel_procedure" class="js-scroll c-Link_Txt">追加・解約のお手続き方法</a>」をご確認ください。</p>
    <p>そのほか、オプションサービスに関しては「<a href="<%= sitepath %>service/">オプションサービス</a>」をご確認ください。</p>

    <div class="u-Adjust_Mt-24">
      <div class="c-Accordion">
        <button type="button" id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>注意事項</button>
        <div id="accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-5" aria-hidden="true">
          <p>
            <span class="c-Txt_Emp-02">※「楽メール持ち運び」は、my 楽天モバイルアプリからのお申し込みはできません。</span><br/>
            ※<span class="c-Txt_Emp-01">「楽メール持ち運び」</span>は<span class="c-Txt_Emp-02">回線解約もしくはMNP転出後31日以内のみ</span>お申し込みできます。<br/>
            「<a href="<%= sitepath %>guide/rakumail-portability/" class="c-Link_Txt">楽メール持ち運び（お申し込み・ご利用・解約方法）</a>」をご確認ください。
          </p>
        </div>
      </div>
    </div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-40" id="cancel_options">解約できるオプションサービス</h2>

    <p class="u-Adjust_Mt-24">下記10種類のオプションサービスは、「my 楽天モバイル」より解約のお手続きができます。</p>
    <dl class="c-Dl_Origin u-Adjust_Mt-24">
      <div>
        <dt>解約できるオプションサービス</dt>
        <dd>
          <ul class="c-List_Text-disc u-Adjust_Mt-16">
            <li>電話番号シェアサービス</li>
            <li>スマホ操作遠隔サポート</li>
            <li>ノートン™ モバイル セキュリティ</li>
            <li>楽天モバイルWiFi by エコネクト</li>
            <li>あんしんコントロール by i-フィルター</li>
            <li>持ち込みスマホあんしん保証※</li>
            <li>15分（標準）通話かけ放題</li>
            <li>国際通話かけ放題</li>
            <li>あんしん操作サポート</li>
            <li>マカフィー® モバイル セキュリティ Android版（新規受付終了）</li>
          </ul>
          <p class="u-Adjust_Mt-16">手続き方法は「<a href="#add_cancel_procedure" class="js-scroll c-Link_Txt">追加・解約のお手続き方法</a>」をご確認ください。</p>
          <p class="u-Adjust_Mt-16">以下のオプションサービスは解約のお手続き方法が異なります。<br>
            詳細は「<a href="<%= sitepath %>guide/cancellation/#plan05" class="js-scroll c-Link_Txt">製品保証オプションサービスの解約方法</a>」をご確認ください。</p>
          <ul class="c-List_Text-disc u-Adjust_Mt-16">
            <li>スマホ交換保証プラス</li>
            <li>故障紛失保証 with AppleCare Services</li>
            <li>故障紛失保証 with AppleCare Services & iCloud+</li>
            <li>あんしん保証with AppleCare Services for Apple Watch</li>
          </ul>
          <p class="u-Adjust_Mt-16">「楽天モバイル買い替え超トクプログラム」の解約は上記の解約方法と異なり、my 楽天モバイルでの解約手続きとあわせて、製品の返却もしくは買い取りにて解約完了となります。詳細は「<a href="<%= sitepath %>guide/replacement-program/index.html#anc03" class="js-scroll c-Link_Txt">楽天モバイル買い替え超トクプログラム各種お手続き方法</a>」をご確認ください。</p>
        </dd>
      </div>
    </dl>



    <div class="u-Adjust_Mt-24">
      <div class="c-Accordion">
        <button type="button" id="accordion-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-6"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>注意事項</button>
        <div id="accordion-content-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-6" aria-hidden="true">
        <p class="u-Adjust_Mt-16">※<span class="c-Txt_Emp-01">「マカフィー® モバイル セキュリティ Android版」</span>は、新規受け付けを終了しているため、すでにご利用いただいているお客様の解約のみ承っております。</p>
        <p>※18歳未満のお客様が<span class="c-Txt_Emp-01">「あんしんコントロール by i-フィルター」</span>を解約される場合は、保護者の方がフィルタリングサービスを利用しない理由をご記入のうえ、申出書（フィルタリング・サービス不要申出書）をご提出いただくことになります。</p>
        <p>※「楽メール持ち運び」の解約お手続きは、「<a href="<%= sitepath %>guide/rakumail-portability/" class="c-Link_Txt">楽メール持ち運び（お申し込み・ご利用・解約方法）</a>」をご確認ください。</p>
        <p>※オプションサービスは月途中で解約した場合、解約月の料金は日割り計算となります。<br>
          なお、<span class="c-Txt_Emp-01">「国際通話かけ放題」「15分（標準）通話かけ放題」</span>および、<span class="c-Txt_Emp-01">「楽天モバイル買い替え超トクプログラム」</span>は、<span class="c-Txt_Emp-02">日割り計算ではございません</span>のであらかじめご了承ください。</p>
        </div>
      </div>
    </div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-40" id="add_cancel_procedure">追加・解約のお手続き方法</h2>
    <p class="u-Adjust_Mt-16">以下のオプションサービスは解約のお手続き方法が異なります。<br>
      解約のお手続きは「<a href="<%= sitepath %>guide/cancellation/#plan05" class="js-scroll c-Link_Txt">製品保証オプションサービスの解約方法</a>」をご確認ください。</p>

    <ul class="c-List_Text-disc u-Adjust_Mt-16">
      <li>スマホ交換保証プラス</li>
      <li>故障紛失保証 with AppleCare Services</li>
      <li>故障紛失保証 with AppleCare Services & iCloud+</li>
      <li>あんしん保証with AppleCare Services for Apple Watch</li>
    </ul>

    <p class="u-Adjust_Mt-16">「楽天モバイル買い替え超トクプログラム」の解約のお手続き詳細は「<a href="<%= sitepath %>guide/replacement-program/index.html#anc03" class="js-scroll c-Link_Txt">楽天モバイル買い替え超トクプログラム各種お手続き方法</a>」をご確認ください。</p>

    <div class="c-Tab js-Tab u-Adjust_Mt-40">
      <ul class="c-Tab_Items" role="tablist">
        <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">Webでお手続き</li>
        <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">アプリでお手続き</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
        <ul class="u-Adjust_Mt-16 c-Flow">
          <li>
            <h4 class="c-Heading_Lv4">
              1. my 楽天モバイル「契約プラン」画面を開く
            </h4>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">※「契約プランへ進む」をタップしてログインすると、手順２の画面が表示されます。</p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap">※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/" class="c-Link_Txt">[my 楽天モバイル]ログインできません</a>」をご確認ください。</p>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <a href="https://portal.mobile.rakuten.co.jp/dashboard#plans" target="_blank"
                class="c-Btn_Secondly-large" data-ratId="guide_ecare_plans" data-ratEvent="click"
                data-ratParam="all">契約プランへ進む</a>
            </p>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              2.「オプションサービスの追加・解約」をタップする
            </h4>
            <div class="c-Accordion u-Adjust_Mt-16">
              <button id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                楽天モバイルを2回線以上ご契約中の場合
              </button>
              <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
                <p class="u-Adjust_Mt-16">手続きを行う電話番号が表示されているか、事前にご確認ください。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">
                  ※一番最後にご契約された電話番号が自動で表示されています。<br>※表示されている電話番号を切替えた場合、my 楽天モバイルからログアウト（自動ログアウト含む）するまでは切替えた状態が維持されます。
                </p>
                <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">電話番号の切替え方法</h4>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">1 表示されている電話番号をタップする</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/change-options/tel_01-230623.png" alt="" class="c-Img_Capture"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">2 手続きを行う電話番号をタップする</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/change-options/tel_02-230623.png" alt="" class="c-Img_Capture"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">3 選択した電話番号が表示されていることを確認する</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/change-options/tel_03-230623.png" alt="" class="c-Img_Capture"></p>
                <p class="u-Adjust_Mt-16">以上で完了です。手順2の操作へお進みください。</p>
              </div>
            </div>
            <div>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/change-options/img-07-230623.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              3.追加・解約をしたいオプションサービスをタップする
            </h4>
            <div>
              <p class="u-Adjust_Mt-16 c-Txt_Cap">※オプション料金は解約日に応じて日割りで計算し請求いたします。なお、「15分（標準）通話かけ放題」、「国際通話かけ放題」は月額での請求となります。</p>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">追加の場合</p>
              <p class="u-Adjust_Mt-8">オプションサービスの中から追加したい項目をチェックすると、画面下部に月額料金が表示されるので問題なければ「変更する」をタップします。</p>

              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">解約の場合</p>
              <p class="u-Adjust_Mt-8">解約したいオプションサービスのチェックを外すと、画面下部に月額料金が表示されるので問題なければ「変更する」をタップします。</p>
              <p class="u-Adjust_Mt-8 c-Txt_Cap">※「変更する」をタップするとすぐに変更されます。</p>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/change-options/img-08-230706.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              4.お手続き完了
            </h4>
            <p class="u-Adjust_Mt-16">以上で変更手続きは完了です。<br>
              お手続き完了後、ご登録のメールアドレス宛に、手続き完了メールをお送りいたします。
            </p>
          </li>
        </ul>
      </div>
      <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
        <ul class="u-Adjust_Mt-16 c-Flow">
          <li>
            <h4 class="c-Heading_Lv4">
              1. my 楽天モバイルを起動する
            </h4>
            <div class="u-Adjust_Mt-24">
              <div class="c-Box_App">
                <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt="my 楽天モバイル"></div>
                <div class="c-Box_App-txt">
                  <p class="c-Box_App-ttl">my 楽天モバイル</p>
                  <p class="u-Adjust_Mt-8">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                  <ul class="c-Box_App-link u-Adjust_Mt-16">
                    <li><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img
                          src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" height="44" alt=""></a></li>
                    <li><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img
                          src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></li>
                    <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              2. 画面下の「契約プラン」をタップする
            </h4>
            <div>
              <p class="u-Adjust_Mt-16">現在の通話サービスやオプションサービスのご契約状況をご確認いただけます。</p>
              <div class="l-Media_Image">
                <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
                    src="<%= sitepath %>assets/img/guide/change-options/img-01.png" width="300" height="" alt=""
                    class="c-Img_Capture"></figure>
              </div>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              3.「オプションサービスの追加・解約」をタップする
            </h4>
            <div class="c-Accordion u-Adjust_Mt-16">
              <button id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                楽天モバイルを2回線以上ご契約中の場合
              </button>
              <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
                <p class="u-Adjust_Mt-16">手続きを行う電話番号が表示されているか、事前にご確認ください。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">
                  ※一番最後にご契約された電話番号が自動で表示されています。<br>※表示されている電話番号を切替えた場合、my 楽天モバイルアプリからのログアウト、またアプリを強制的に終了するまでは切替えた状態が維持されます。
                </p>
                <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">電話番号の切替え方法</h4>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">1 表示されている電話番号をタップする</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/change-options/tel_01-230623.png" alt="" class="c-Img_Capture"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">2 手続きを行う電話番号をタップする</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/change-options/tel_04-230623.png" alt="" class="c-Img_Capture"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">3 選択した電話番号が表示されていることを確認する</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/change-options/tel_03-230623.png" alt="" class="c-Img_Capture"></p>
                <p class="u-Adjust_Mt-16">以上で完了です。手順3の操作へお進みください。</p>
              </div>
            </div>
            <div>
              <div class="l-Media_Image">
                <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
                    src="<%= sitepath %>assets/img/guide/change-options/img-02-230623.png" width="300" height="" alt=""
                    class="c-Img_Capture"></figure>
              </div>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              4.追加・解約をしたいオプションサービスをタップする
            </h4>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">※オプション料金は解約日に応じて日割りで計算し請求いたします。なお、「15分（標準）通話かけ放題」、「国際通話かけ放題」は月額での請求となります。</p>
            <div>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">追加の場合</p>
              <p class="u-Adjust_Mt-8">オプションサービスの中から追加したい項目をチェックすると、画面下部に月額料金が表示されるので問題なければ「変更する」をタップします。</p>

              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">解約の場合</p>
              <p class="u-Adjust_Mt-8">解約したいオプションサービスのチェックを外すと、画面下部に月額料金が表示されるので問題なければ「変更する」をタップします。</p>
              <p class="u-Adjust_Mt-8 c-Txt_Cap">※「変更する」をタップするとすぐに変更されます。</p>
              <div class="l-Media_Image">
                <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
                    src="<%= sitepath %>assets/img/guide/change-options/img-03-230706.png" width="300" height="" alt=""
                    class="c-Img_Capture"></figure>
              </div>
            </div>
          </li>
          <li>
            <h4 class="c-Heading_Lv4">
              5.お手続き完了
            </h4>
            <p class="u-Adjust_Mt-16">以上で変更手続きは完了です。<br>
              お手続き完了後、ご登録のメールアドレス宛に、手続き完了メールをお送りいたします。
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>




<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>

  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>

</body>
</html>
