<% const pagetitle = "楽天モバイルで購入した各種製品の初期設定" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/setting/android/", label:"Android製品の設定手順"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイル(楽天回線)製品の各端末初期設定方法はこちら。楽天モバイル(楽天回線)でご利用いただく、Android端末やiPhoneの初期設定方法をご案内します。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/setting/<%= nameSpace %>-setting.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
  <%- include('/include/_prepend-body') %>

  <div class="l-System">

    <%- include('/include/_header') %>

    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>

    <div class="<%= nameSpace %>-Layout_Container">
      <div class="l-System_Container">
        <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

        <p class="u-Adjust_Mt-24">楽天モバイルでご購入いただいた製品の、初期設定方法をご案内します。ご利用製品、ご利用されていた回線により、設定方法が異なります。以下よりご確認ください。</p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※楽天モバイル以外でご購入の製品(海外で購入された製品を含む)／楽天回線対象外の製品のご利用については<a href="#other-rmobile" class="js-scroll c-Link_Txt">こちら</a>をご確認ください。</p>

        <p class="u-Adjust_Mt-32">ご利用の機種を選択してください。</p>
        <div class="c-Theme-Light u-Adjust_Mt-16">
          <p class="c-Heading_Lv4">メーカー名から絞り込む</p>
          <div class="c-Form_Select u-Adjust_Mt-16">
          <select id="js-maker" class="">
          <option name="maker" class="js-option" value="すべて">すべて</option>
          <option name="maker" class="js-option" value="Apple">Apple</option>
          <option name="maker" class="js-option" value="FUJITSU">FUJITSU</option>
          <option name="maker" class="js-option" value="HUAWEI">HUAWEI</option>
          <option name="maker" class="js-option" value="OPPO">OPPO</option>
          <option name="maker" class="js-option" value="RakutenMobile">Rakuten Mobile</option>
          <option name="maker" class="js-option" value="SAMSUNG">SAMSUNG</option>
          <option name="maker" class="js-option" value="SHARP">SHARP</option>
          <option name="maker" class="js-option" value="Sony">Sony</option>
          <option name="maker" class="js-option" value="Xiaomi">Xiaomi</option>
        </select>
          <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
          </div>
        </div>

        <div class="c-Link_List guide-setting-Layout-list">

        <div class="js-item" aria-hidden="false" aria-tag="Apple">
        <div class="c-Heading_Lv2 u-Adjust_Mt-32 u-Adjust_Mb-16">Apple</div>

        <ul class="c-Link_List">
          <li><a href="<%= sitepath %>guide/setting/ios/">iPhone・iPad（nanoSIM）<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/ios/index.html?tab-list=tab-menu2">iPhone・iPad（eSIM）<span class="c-Icon_Chevron-right"></span></a></li>
        </ul>
        </div>

        <div class="js-item" aria-hidden="false" aria-tag="FUJITSU">
        <div class="c-Heading_Lv2 u-Adjust_Mt-32 u-Adjust_Mb-16">FUJITSU</div>

        <ul class="c-Link_List">
          <li><a href="<%= sitepath %>guide/setting/arrows-rx/">arrows RX<span class="c-Icon_Chevron-right"></span></a></li>
        </ul>
        </div>

        <div class="js-item" aria-hidden="false" aria-tag="HUAWEI">
        <div class="c-Heading_Lv2 u-Adjust_Mt-32 u-Adjust_Mb-16">HUAWEI</div>

        <ul class="c-Link_List">
          <li><a href="<%= sitepath %>guide/setting/nova5t/">HUAWEI nova 5T<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/novalite3/">HUAWEI nova lite 3<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/p30lite/">HUAWEI P30 lite<span class="c-Icon_Chevron-right"></span></a></li>
        </ul>
        </div>

        <div class="js-item" aria-hidden="false" aria-tag="OPPO">
        <div class="c-Heading_Lv2 u-Adjust_Mt-32 u-Adjust_Mb-16">OPPO</div>

        <ul class="c-Link_List">
          <li><a href="<%= sitepath %>guide/setting/ax7/">OPPO AX7<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/a5-2020/">OPPO A5 2020<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/a55s-5g/">OPPO A55s 5G<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/a73/">OPPO A73<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/a79-5g/">OPPO A79 5G<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/findx/">OPPO Find X<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/reno-a/">OPPO Reno A 128GB<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/reno3-a/">OPPO Reno3 A<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/reno5-a/">OPPO Reno5 A<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/reno7-a/">OPPO Reno7 A<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/reno9-a/">OPPO Reno9 A<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/reno-10x-zoom/">OPPO Reno 10x Zoom<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/r17pro/">OPPO R17 Pro<span class="c-Icon_Chevron-right"></span></a></li>
        </ul>
        </div>

        <div class="js-item" aria-hidden="false" aria-tag="RakutenMobile">
        <div class="c-Heading_Lv2 u-Adjust_Mt-32 u-Adjust_Mb-16">Rakuten Mobile</div>

        <ul class="c-Link_List">
          <li><a href="<%= sitepath %>product/smartphone/rakuten-big-s/support/setting/">Rakuten BIG s<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>product/smartphone/rakuten-big/support/setting/">Rakuten BIG<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>product/smartphone/rakuten-hand/support/setting/">Rakuten Hand<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>product/smartphone/rakuten-hand-5g/support/setting/">Rakuten Hand 5G<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>product/smartphone/rakuten-mini/support/setting/">Rakuten Mini<span class="c-Icon_Chevron-right"></span></a></li>
        </ul>
        </div>

        <div class="js-item" aria-hidden="false" aria-tag="SAMSUNG">
        <div class="c-Heading_Lv2 u-Adjust_Mt-32 u-Adjust_Mb-16">SAMSUNG</div>

        <ul class="c-Link_List">
          <li><a href="<%= sitepath %>guide/setting/galaxy-a7/">Galaxy A7<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/galaxy-a23-5g/">Galaxy A23 5G<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/galaxy-note10-plus/">Galaxy Note 10+<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/galaxy-s10/">Galaxy S10<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/galaxy-s23/">Galaxy S23<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/galaxy-z-flip4/">Galaxy Z Flip4<span class="c-Icon_Chevron-right"></span></a></li>
        </ul>
        </div>

        <div class="js-item" aria-hidden="false" aria-tag="SHARP">
        <div class="c-Heading_Lv2 u-Adjust_Mt-32 u-Adjust_Mb-16">SHARP</div>

        <ul class="c-Link_List">
          <li><a href="<%= sitepath %>guide/setting/aquos-shm06/">AQUOS R compact SH-M06<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/aquos-r2-compact/">AQUOS R2 compact SH-M09<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/aquos-r5g/">AQUOS R5G<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/aquos-shm05/">AQUOS sense lite SH-M05<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/aquos-shm07/">AQUOS sense plus SH-M07<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/aquos-sense2/">AQUOS sense2 SH-M08<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/aquos-sense3-lite/">AQUOS sense3 lite<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/aquos-sense3-plus/">AQUOS sense3 plus<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/aquos-sense4-lite/">AQUOS sense4 lite<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/aquos-sense4-plus/">AQUOS sense4 plus<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/aquos-sense6/">AQUOS sense6<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/aquos-sense6s/">AQUOS sense6s<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/aquos-sense7/">AQUOS sense7<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/aquos-sense8/">AQUOS sense8<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/aquos-wish/">AQUOS wish<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/aquos-wish3/">AQUOS wish3<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/aquos-shm10/">AQUOS zero SH-M10<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/aquos-zero6/">AQUOS zero6<span class="c-Icon_Chevron-right"></span></a></li>
        </ul>
        </div>

        <div class="js-item" aria-hidden="false" aria-tag="Sony">
        <div class="c-Heading_Lv2 u-Adjust_Mt-32 u-Adjust_Mb-16">Sony</div>

        <ul class="c-Link_List">
          <li><a href="<%= sitepath %>guide/setting/xperia-ace/">Xperia Ace<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/xperia-10m3-lite/">Xperia 10 III Lite<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/xperia-10m4/">Xperia 10 IV<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/xperia-10m5/">Xperia 10 V<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/xperia-5m4/">Xperia 5 IV<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/setting/xperia-5m5/">Xperia 5 V<span class="c-Icon_Chevron-right"></span></a></li>
        </ul>
        </div>

        <div class="js-item" aria-hidden="false" aria-tag="Xiaomi">
          <div class="c-Heading_Lv2 u-Adjust_Mt-32 u-Adjust_Mb-16">Xiaomi</div>

          <ul class="c-Link_List">
            <li><a href="<%= sitepath %>guide/setting/redmi-note-11-pro-5g/">Redmi Note 11 Pro 5G<span class="c-Icon_Chevron-right"></span></a></li>
          </ul>
        </div>


      </div>



        <section id="other-rmobile" class="u-Adjust_Mt-64">
          <h2 class="c-Heading_Lv4">楽天モバイル以外でご購入の製品(海外で購入された製品を含む)のご利用について</h2>
          <ul class="c-List_Text-disc u-Adjust_Mt-16">
            <li>楽天モバイル以外で購入された製品の設定・操作方法については、お客様ご自身でご確認いただくか、製品を購入された事業者までお問い合わせください。</li>
            <li>楽天回線対応製品であっても、海外で購入された場合はご利用いただけない可能性があります。</li>
          </ul>

          <h2 class="c-Heading_Lv4 u-Adjust_Mt-32">楽天回線対応製品以外の製品のご利用ついて</h2>
          <ul class="c-List_Text-disc u-Adjust_Mt-16">
            <li>楽天回線対応製品以外は、当社の動作保証対象外となります。また、ご利用いただける機能であっても、OSやソフトウェアの更新等により機能のご利用が制限される場合があります。ご利用はお客様ご自身の判断でお願いします。</li>
            <li>楽天回線対応製品以外の製品の設定・操作方法について、楽天モバイルではご質問対応や「あんしん操作サポート」「データ移行サポート」等のアフターサービスを提供できません。</li>
            <li>楽天回線対応製品は<a href="<%= sitepath %>product/certified-products/" class="c-Link_Txt">こちら</a>よりご確認いただけます。</li>
          </ul>
        </section>

        <%- include('/include/guide/_faq') %>


        <div class="u-Adjust_Mt-40">
          <a href="https://senior.rakuten.co.jp/campaign/smartphone_lesson/main/?scid=wi_snr_rm_onlinesupport_220412_setting">
            <div class="<%= nameSpace %>-Utility_Show-pc u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/bnr/bnr-senior-2204-1032-160.png" alt="楽天シニア">
            </div>
            <div class="<%= nameSpace %>-Utility_Show-sp u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/bnr/bnr-senior-2204-343-108.png" alt="楽天シニア">
            </div>
          </a>
        </div>

        <div class="u-Adjust_Pt-64">
          <div><a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップに戻る</span></a></div>
          <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a></div>
        </div>

      </div>
    </div>




    <%- include('/include/guide/_review') %>
    <%- include('/include/guide/_inquiry') %>

    <footer class="g-Footer">

      <div class="g-Footer_Aside">

        <%- include('/include/footer/bnr/_bnr.ejs') %>

      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
          <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ if (typeof directories !== 'undefined') { _%>
          <%_ let dirs = []; _%>
          <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
              <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
              <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
          <%_ }) _%>
          <%_ } _%>
          <li aria-current="true"><%= pagetitle %></li>
        </ul>
        </div>
      </div>

      <%- include('/include/_footer') %>

    </footer>

    </div>
    <%- include('/include/_common-js') %>
    <script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
    <script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
    <%- include('/include/_append-body') %>


    <script>
      var selectMaker = document.querySelector('#js-maker');
      var selectOption = document.querySelectorAll('.js-option');
      var item = document.querySelectorAll('.js-item');

      function resultShow(value) {
          if( value === 'すべて') {
              item.forEach( (item) => {
                  item.setAttribute('aria-hidden','false');
              });
          } else {
              item.forEach( (item) => {
                  if(value === item.getAttribute('aria-tag')) {
                      item.setAttribute('aria-hidden','false');
                  } else {
                      item.setAttribute('aria-hidden','true');
                  }
              });
          }
      }

      selectMaker.addEventListener('change', function(){
               var index =  this.selectedIndex;
               resultShow(selectOption[ index ].value);
      });
    </script>


    </body>
    </html>
