<%
  const pagetitle = '【4月24日開催】楽天モバイル最強DAY特別ご招待';
  const directories = [{path:"area/", label:"通信・エリア"}];
  const entryrange = "2024年3月22日（金）9:00～2024年4月1日（月）23:59";
  const campaignrange = "20xx年xx月xx日（x）00:00～20xx年xx月xx日（x）00:00";
  <!-- campaignrangeはキャンペーン期間とエントリー期間が同じ場合は不要 -->
  const campaignstatus = "finish";
  <!-- 終了の場合はfinishにする -->
  const enddate = "2024年4月1日";
  const namespace = "saikyoday";
_%>
<%-
  include('/_header', {
    pagetitle,
    directories,
    description: '【4月24日開催】楽天モバイルをご利用＆エントリーした方から抽選で楽天モバイル最強DAY特別ご招待',
    keywords: '',
    noindex: false,
    pathname: filepath,
    browseragent: false,
    ogp_img: 'https://network.mobile.rakuten.co.jp/assets/img/area/campaign/saikyoday/202404/ogp.png'
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/area/campaign/campaign.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/area/campaign/saikyoday/saikyoday.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>
<script type="text/javascript">
<!--
function isChecked(el) {
  if (el.length) {
    for (var i = 0; i < el.length; i++) {
      if (el[i].checked) {
        return true;
      }
    }
  } else {
    if (el.checked) {
      return true;
    }
  }
  return false;
}

function checkForm() {
  var el;
  var obj = document.enenForm;

  el = obj.elements['answers[40526_275491]'];
  if (!isChecked(el)) {
    alert("「希望景品」を選択してください。");
    return false;
  }

}
// -->
</script>
</head>
<body>
<%- include('/include/_prepend-body') %>

<form action="https://form.rakuten.co.jp/ans/apply/40526" name="enenForm" method="POST" onSubmit="return checkForm()">

<div class="l-System">

<%- include('/include/_header') %>

<%- include('/include/_breadcrumbs', {
  type: 'head',
  pagetitle,
  directories,
}) %>

<div class="areaCampaign-Layout_Label">
  <ul class="c-Label_List">
    <li class="c-Label_Normal">エントリー必要</li>
    <li class="c-Label_Normal">ご契約者様対象</li>
  </ul>
</div>

<div class="areaCampaign-Hero <%= namespace %>-Hero">
  <h1>
    <picture>
      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/area/campaign/saikyoday/202404/img-kv-sp.png" width="100%">
      <img src="<%= sitepath %>assets/img/area/campaign/saikyoday/202404/img-kv-pc.png" alt="楽天モバイル最強DAY 楽天モバイルを利用＆エントリーした方から抽選で特別ご招待！4/24（水）楽天イーグルスvs.北海道日本ハム" width="1032" height="420">
    </picture>
  </h1>
</div>

<div class="u-Bg_Monotone97 u-Adjust_Pt-8 u-Adjust_Pb-24">
  <div class="l-System_Container u-Adjust_Align-center">
    <p class="c-Txt_Cap">※ キャンペーンの参加には楽天会員への登録が必要です</p>
    <p class="c-Txt_Cap">※ ご招待には条件があります。詳しくは<a href="#campaign-rule" class="js-scroll">キャンペーンルール</a>をご確認ください</p>
    <div class=" u-Adjust_Mt-24">
      <div class="u-Adjust_Mt-24">
        <p class="u-Adjust_Align-center"><span class="c-Txt_Emp-01">【キャンペーン期間】</span><br class="u-Show_Oox">2024年3月22日（金）9:00～<br class="u-Show_Oox">2024年4月1日（月）23:59</p>
      </div>
    </div>
    <%_ if (campaignstatus === "finish") { _%>
      <div class="u-Adjust_Align-center u-Adjust_Mt-24">
        <p class="c-Txt_Emp-02 c-Txt_Normal-m">
          本キャンペーンは<%= enddate %>をもちまして終了いたしました。<br>
          このページに掲載されている情報は、キャンペーン終了時点のものです。
        </p>
      </div>
    <%_ } _%>
  </div>
</div>

<div class="areaCampaign-Layout_Section u-Adjust_Mt-48 u-Adjust_Pb-64">
  <div class="l-System_Container">

    <h2 class="<%= namespace %>-Heading u-Adjust_Align-center"><span>当選者</span>には下記いずれかの<br class="u-Show_Oox"><span>イベント参加権</span>を<span>プレゼント</span>！</h2>
    <p class="c-Txt_Emp-02 u-Adjust_Align-center u-Adjust_Mt-8">各賞の左上にある○ボタンで賞品を選択した後、応募(エントリー)を押してください</p>

    <div class="<%= namespace %>-List-4 u-Adjust_Mt-24">
      <div class="<%= namespace %>-Lightbox">
        <label for="a764887" class="c-Form_Radio <%= namespace %>-Utility_Block">
          <input type=radio name="answers[40526_275491]" id="a764887" value="764887" disabled>
          <span class="c-Form_Radio-icon <%= namespace %>-Utility_Block"></span>
          <span class="c-Form_Radio-label <%= namespace %>-Lightbox_Label">A賞を選択する</span>
          <span class="u-Adjust_Align-center <%= namespace %>-Lightbox_Img-wrap">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/area/campaign/saikyoday/202404/prize-a-sp.png" width="533" height="278">
              <img src="<%= sitepath %>assets/img/area/campaign/saikyoday/202404/prize-a-pc.png" class="<%= namespace %>-Lightbox_Img" alt="A賞 始球式での投球 1名様" width="182" height="277">
            </picture>
          </span>
          <span class="u-Adjust_Align-center <%= namespace %>-Lightbox_Txt-wrap">
            <span class="<%= namespace %>-Lightbox_Heading">憧れの始球式での<br class="u-Show_Xxo">投球を体験</span>
            <span class="<%= namespace %>-Lightbox_Heading2">（当選者+同伴者1名観戦ご招待）</span>
            <span class="<%= namespace %>-Lightbox_Txt c-Txt_Cap u-Adjust_Align-left">【応募条件】<br>
              ・2024年4月24日（水）時点で小学校4年生以上の方<br>
              ・試合開始30分前に集合場所（楽天モバイルパーク宮城内）へお越しいただける方<br>
              ※男女ともに高校生はご参加いただけません。</span>
          </span>
        </label>
      </div>
      <div class="<%= namespace %>-Lightbox">
        <label for="a764888" class="c-Form_Radio <%= namespace %>-Utility_Block">
          <input type=radio name="answers[40526_275491]" id="a764888" value="764888" disabled>
          <span class="c-Form_Radio-icon <%= namespace %>-Utility_Block"></span>
          <span class="c-Form_Radio-label <%= namespace %>-Lightbox_Label">B賞を選択する</span>
          <span class="u-Adjust_Align-center <%= namespace %>-Lightbox_Img-wrap">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/area/campaign/saikyoday/202404/prize-b-sp.png" width="533" height="298">
              <img src="<%= sitepath %>assets/img/area/campaign/saikyoday/202404/prize-b-pc.png" class="<%= namespace %>-Lightbox_Img" alt="B賞 スターティングファミリー 10組20名様" width="182" height="277">
            </picture>
          </span>
          <span class="u-Adjust_Align-center <%= namespace %>-Lightbox_Txt-wrap">
            <span class="<%= namespace %>-Lightbox_Heading">選手から直接、<br>直筆サイン入りボールを<br class="u-Show_Xxo">プレゼント</span>
            <span class="<%= namespace %>-Lightbox_Heading2">（当選者含む親子2名観戦ご招待）</span>
            <span class="<%= namespace %>-Lightbox_Txt c-Txt_Cap u-Adjust_Align-left">【応募条件】<br>
              ・2024年4月24日（水）時点で5歳～小学生のお子様と、その保護者様<br>
              ・試合開始45分前に集合場所（楽天モバイルパーク宮城内）へお越しいただける方</span>
          </span>
        </label>
      </div>
      <div class="<%= namespace %>-Lightbox">
        <label for="a764889" class="c-Form_Radio <%= namespace %>-Utility_Block">
          <input type=radio name="answers[40526_275491]" id="a764889" value="764889" disabled>
          <span class="c-Form_Radio-icon <%= namespace %>-Utility_Block"></span>
          <span class="c-Form_Radio-label <%= namespace %>-Lightbox_Label">C賞を選択する</span>
          <span class="u-Adjust_Align-center <%= namespace %>-Lightbox_Img-wrap">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/area/campaign/saikyoday/202404/prize-c-sp.png" width="533" height="298">
              <img src="<%= sitepath %>assets/img/area/campaign/saikyoday/202404/prize-c-pc.png" class="<%= namespace %>-Lightbox_Img" alt="C賞 選手との記念撮影 1組 最大6名様" width="182" height="277">
            </picture>
          </span>
          <span class="u-Adjust_Align-center <%= namespace %>-Lightbox_Txt-wrap">
            <span class="<%= namespace %>-Lightbox_Heading">球団オフィシャルカメラマンによる<br class="u-Show_Oox">楽天イーグルス選手との記念撮影</span>
            <span class="<%= namespace %>-Lightbox_Heading2">（当選者+同伴者5名まで観戦ご招待）</span>
            <span class="<%= namespace %>-Lightbox_Txt c-Txt_Cap u-Adjust_Align-left">【応募条件】<br>
              ・2024年4月24日（水）時点で満3歳以上の方<br>
              ・試合開始30分前に集合場所（楽天モバイルパーク宮城内）へお越しいただける方</span>
          </span>
        </label>
      </div>
      <div class="<%= namespace %>-Lightbox">
        <label for="a765185" class="c-Form_Radio <%= namespace %>-Utility_Block">
          <input type=radio name="answers[40526_275491]" id="a765185" value="765185" disabled>
          <span class="c-Form_Radio-icon <%= namespace %>-Utility_Block"></span>
          <span class="c-Form_Radio-label <%= namespace %>-Lightbox_Label">D賞を選択する</span>
          <span class="u-Adjust_Align-center <%= namespace %>-Lightbox_Img-wrap">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/area/campaign/saikyoday/202404/prize-d-sp.png" width="533" height="334">
              <img src="<%= sitepath %>assets/img/area/campaign/saikyoday/202404/prize-d-pc.png" class="<%= namespace %>-Lightbox_Img" alt="D賞 コカ・コーラボックスシートでの観覧 2組 最大12名様" width="182" height="277">
            </picture>
          </span>
          <span class="u-Adjust_Align-center <%= namespace %>-Lightbox_Txt-wrap">
            <span class="<%= namespace %>-Lightbox_Heading">フィールドを間近に見渡せる1塁側、仲間と観戦できる人気のボックスシート</span>
            <span class="<%= namespace %>-Lightbox_Heading2">（1組あたり最大6名観戦ご招待）</span>
            <span class="<%= namespace %>-Lightbox_Txt c-Txt_Cap u-Adjust_Align-left">【応募条件】<br>
              ・2024年4月1日（月）23:59時点で最強家族プログラムをご利用中かつ、最強家族プログラムの同一グループより2名以上エントリーいただける方</span>
          </span>
        </label>
      </div>
    </div>

    <input type="hidden" name="c" value="楽天">
    <input type="hidden" name="l" value="ja">

    <%_ if (campaignstatus === "held") { _%>
    <div class="u-Adjust_Align-center u-Adjust_Mt-40">
      <p class="c-Txt_Emp-02">※ご応募は上記のいずれか1点、お一人様1回限り、各特典の応募条件に当てはまる方のみ<br>
        ※景品画像はイメージです。</p>
        <button type="submit" class="c-Btn_Primary-large u-Adjust_Mt-8"><span>応募（エントリー）</span></button>
    </div>
    <%_ } else { _%>
      <div class="u-Adjust_Align-center u-Adjust_Mt-40">
        <p class="c-Txt_Emp-02">※ご応募は上記のいずれか1点、お一人様1回限り、各特典の応募条件に当てはまる方のみ<br>
          ※景品画像はイメージです。</p>
          <button type="submit" class="c-Btn_Primary-large u-Adjust_Mt-8" aria-disabled="true"><span>応募（エントリー）は終了しました</span></button>
      </div>
    <%_ } _%>

  </div>
</div>

</div>

<div id="js-trigger">
  <div class="l-System_Container">

  <div>
    <div class="areaCampaign-Layout_Rule" id="campaign-rule">
      <h3 class="c-Heading_Lv2 u-Adjust_Align-center">【4月24日開催】楽天モバイル最強DAY特別ご招待</h3>
      <%_ if (campaignstatus === "finish") { _%>
        <div class="u-Adjust_Align-center u-Adjust_Mt-32 u-Adjust_Mb-32">
          <p class="c-Txt_Normal-m c-Txt_Emp-02">
            本キャンペーンは<%= enddate %>をもちまして終了いたしました。<br>
            このページに掲載されている情報は、キャンペーン終了時点のものです。
          </p>
        </div>
      <%_ } _%>
      <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2267', level: '', year: '2024', class: '' }}) %>
    </div>
  </div>
  </div>
</div>

</form>

<footer class="g-Footer areaCampaign-Layout_Footer">
  <div class="g-Footer_Aside">
    <%- include('/include/footer/related/_related-news.ejs') %>
    <%- include('/include/footer/bnr/_bnr-news.ejs') %>
  </div>

  <div class="l-System_Container">
    <%- include('/include/_breadcrumbs', {
      type: 'foot',
      pagetitle,
      directories,
    }) %>
  </div>

  <%- include('/include/_footer') %>
</footer>

<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/area.campaign.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
