<% const pagetitle = "Rakuten Casaお申し込み - 法人のお客様 " -%>
<% const directories = [{path:"area/", label:"通信・エリア"}, {path:"area/rakuten-casa/", label:"Rakuten Casa（楽天カーサ）"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '',
    noindex: true,
    pathname: filepath
  });
%>

<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/area/casa/area-casa.css?20240424">
<%- include('/include/_append-head', {messaging: true}) %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="area-casa-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
    <p class="u-Adjust_Mt-24">ご希望の方は下記フォームに入力のうえお申し込みください。</p>

    <form action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST" id="js-area-casa_Form">

      <input type="hidden" id="00N2u000000GxEn" name="00N2u000000GxEn" value="">
      <input type="hidden" id="00N0I00000Jz76E" name="00N0I00000Jz76E" value="">
      <input type="hidden" id="00N0I00000KRszw" name="00N0I00000KRszw" value="">
      <input type="hidden" id="00N0I00000Jz6VX" name="00N0I00000Jz6VX" value="1">
      <input type="hidden" name="recordType" value="0120I000001Dmn0">
      <input type="hidden" name="00N2800000C8tB3" value="楽天回線お問い合せご要望">
      <input type="hidden" id="00N0I00000Jz09L" name="00N0I00000Jz09L" value="1">
      <input type="hidden" name="subject" value="Rakuten Casaお申し込み">
      <input type="hidden" name="orgid" value="00D28000000cT0x">
      <input type="hidden" name="retURL" value="https://network.mobile.rakuten.co.jp/area/rakuten-casa/thanks.html">

      <dl id="js-area-casa_Form-top" class="c-Form_List u-Adjust_Mt-32">
        <div class="area-casa-Form_Item-area js-area-casa_Item-area">
          <dt>事業形態<span class="c-Form_List-required">必須</span></dt>
          <dd>
          <p id="err-radio_00N2u000000GxEn" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <label class="c-Form_Radio u-Adjust_Mr-24">
              <input type="radio" name="00N2u000000GxEn" id="solo" value="個人事業主" data-validate="bistype">
              <span class="c-Form_Radio-icon"></span><span class="c-Form_Radio-label">個人事業主</span>
            </label>
            <label class="c-Form_Radio u-Adjust_Mr-24">
              <input type="radio" name="00N2u000000GxEn" id="corp" value="法人" data-validate="bistype">
              <span class="c-Form_Radio-icon"></span><span class="c-Form_Radio-label">法人</span>
            </label>
        </dd>
        </div>

        <div class="area-casa-Form_Item-area js-area-casa_Item-area">
          <dt>FLETS光 お客様ID<span class="area-casa-Form_Arbitrary">任意</span></dt>
          <dd>
            <p class="u-Adjust_Mb-16">お客様IDは、ご契約時に送付された「開通のご案内」に記載されています。
不明または紛失された場合は<a href="https://flets.com/key/" target="_blank" class="c-Link_Txt-icon" style="display: inline;">「お客さまID」「アクセスキー」について<span class="c-Icon_New-window-l"></span></a>をご確認ください。</p>
            <p id="err-require_customerPref" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">CAFもしくはCOPを選択してください</p>
            <div class="c-Form_Select u-Adjust_Mb-16 u-Adjust_W-240">
              <select name="" id="customerPref">
                <option value="">選択してください</option>
                <option value="CAF">CAF</option>
                <option value="COP">COP</option>
              </select>
              <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
            </div>
            <p class="c-Txt_Cap u-Adjust_Mb-8">※CAFの場合：10桁の数字を入力してください</p>
            <p class="c-Txt_Cap u-Adjust_Mb-16">※COPの場合：8桁の数字を入力してください</p>
            <p id="err-numeric_customerNum" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">半角数字で入力してください</p>
            <p id="err-length_customerNum-caf" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">10桁の数字を入力してください</p>
            <p id="err-length_customerNum-cop" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">8桁の数字を入力してください</p>
            <input name="" id="customerNum" class="c-Form_Input" minlength="8" maxlength="10" size="20" type="text" placeholder="" autocomplete="off">
          </dd>
        </div>

        <div class="area-casa-Form_Item-area js-area-casa_Item-area">
          <dt>御社名<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <p id="err-required_00N0I00000KRr62" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mb-8">※法人格を含めて正式名称を入力してください</p>
            <p class="c-Txt_Cap u-Adjust_Mb-8">※個人事業主のお客様は、屋号（もしくは事業主名）を入力してください</p>
            <p class="c-Txt_Cap u-Adjust_Mb-16">※255文字以内で入力してください</p>
            <input class="c-Form_Input" maxlength="225" name="00N0I00000KRr62" type="text" placeholder="" aria-required="true" data-validate="required" autocomplete="off">
          </dd>
        </div>

        <div>
          <dt>お申込者氏名<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <p class="c-Txt_Cap u-Adjust_Mb-8">※「姓」は20文字以内で入力してください</p>
            <p class="c-Txt_Cap u-Adjust_Mb-16">※「名」は20文字以内で入力してください</p>
            <p id="err-required_name" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">「姓」は必須項目です</p>
            <p id="err-required_00N0I00000Jxe34" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">「名」は必須項目です</p>
            <dl class="c-Form_List-sub">
              <div>
                <dt>姓</dt>
                <dd>
                  <input class="c-Form_Input u-Adjust_W-160" maxlength="20" name="name" size="20" type="text" placeholder="例）楽天" aria-required="true" data-validate="required" autocomplete="off">
                </dd>
              </div>
              <div>
                <dt>名</dt>
                <dd><input class="c-Form_Input u-Adjust_W-160" maxlength="20" name="00N0I00000Jxe34" size="20" type="text" placeholder="例）太郎" aria-required="true" data-validate="required" autocomplete="off"></dd>
              </div>
            </dl>
          </dd>
        </div>

        <div class="area-casa-Form_Item-area js-area-casa_Item-area">
          <dt>設置先住所<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <p class="c-Txt_Emp-01 u-Adjust_Mb-16">郵便番号<span class="c-Form_List-required">必須</span></p>
            <p class="c-Txt_Cap u-Adjust_Mb-16">※半角数字7文字で入力してください</p>
            <p id="err-required_00N0I00000JycJH" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <p id="err-numeric_00N0I00000JycJH" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">半角数字で入力してください</p>
            <p id="err-length_00N0I00000JycJH" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">7文字で入力してください</p>
            <div class="area-casa-Form_Auxiliary">
              <input class="c-Form_Input area-casa-Form_Auxiliary-item u-Adjust_W-160" minlength="7" maxlength="7" name="00N0I00000JycJH" size="20" type="text" placeholder="例）1580094" aria-required="true" data-validate="required length numeric" autocomplete="off">
              <button type="button" class="c-Btn_Regular-auto area-casa-Form_Auxiliary-item js-area-casa_Zip2addr"><span>郵便番号から住所表示</span></button>
            </div>

            <p class="c-Txt_Emp-01 u-Adjust_Mb-16 u-Adjust_Mt-32">住所<span class="c-Form_List-required">必須</span></p>
            <p class="c-Txt_Cap u-Adjust_Mb-16">※255文字以内で入力してください</p>
            <p id="err-required_00N280000095Txj" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <input class="c-Form_Input" maxlength="255" name="00N280000095Txj" size="20" type="text" placeholder="例）東京都世田谷区玉川一丁目14番1号" aria-required="true" data-validate="required" autocomplete="off">

            <p class="c-Txt_Emp-01 u-Adjust_Mb-16 u-Adjust_Mt-32">住所（建物・ビル名）<span class="c-Form_List-required">必須</span></p>
            <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mb-8">※部屋番号がないビルなどの場合は「2F」などを入力してください</p>
            <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mb-8">※戸建の方は「-」と入力してください</p>
            <p class="c-Txt_Cap u-Adjust_Mb-16">※255文字以内で入力してください</p>
            <p id="err-required_00N0I00000KRr1H" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <input class="c-Form_Input" maxlength="255" name="00N0I00000KRr1H" size="20" type="text" placeholder="例）楽天クリムゾンハウス" aria-required="true" data-validate="required" autocomplete="off">
          </dd>
        </div>

        <div>
          <dt>メールアドレス<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <p class="c-Txt_Cap u-Adjust_Mb-16">※80文字以内で入力してください</p>
            <p id="err-required_email" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <p id="err-email_email" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">正しいメールアドレスを入力してください</p>
            <input class="c-Form_Input" maxlength="80" name="email" size="20" type="text" placeholder="例）example@example.com" aria-required="true" data-validate="required email" autocomplete="off">
            <p class="c-Txt_Emp-02 u-Adjust_Mt-8">※お申し込み内容の確認（約3営業日）後、訪問調査に関するお問い合わせ、および申込書類を送付いたします。</p>
          </dd>
        </div>

        <div>
          <dt>連絡先電話番号<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <p class="c-Txt_Cap u-Adjust_Mb-16">※半角数字10～11文字で入力してください</p>
            <p id="err-required_00N0I00000Jxe3E" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <p id="err-numeric_00N0I00000Jxe3E" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">半角数字で入力してください</p>
            <p id="err-length_00N0I00000Jxe3E" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">10～11文字で入力してください</p>
            <input class="c-Form_Input" minlength="10" maxlength="11" name="00N0I00000Jxe3E" size="20" type="text" placeholder="例）070XXXXXXXX" aria-required="true" data-validate="required length numeric" autocomplete="off">
            <p class="c-Txt_Emp-02 u-Adjust_Mt-8">※お申し込み内容に不備があった場合、ご連絡を差し上げます。</p>
          </dd>
        </div>

        <div class="area-casa-Form_Item-area js-area-casa_Item-area">
          <dt>連絡希望日時<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <p class="c-Txt_Emp-01 u-Adjust_Mb-16">曜日<span class="c-Form_List-required">必須</span></p>
            <label class="c-Form_Radio u-Adjust_Mr-24">
              <input type="radio" name="00N0I00000Jz6cd" value="平日" data-validate="radio" checked>
              <span class="c-Form_Radio-icon"></span><span class="c-Form_Radio-label">平日</span>
            </label>
            <label class="c-Form_Radio u-Adjust_Mr-24">
              <input type="radio" name="00N0I00000Jz6cd" data-validate="radio" value="土日祝">
              <span class="c-Form_Radio-icon"></span><span class="c-Form_Radio-label">土日祝</span>
            </label>
            <label class="c-Form_Radio">
              <input type="radio" name="00N0I00000Jz6cd" data-validate="radio" value="いつでも可">
              <span class="c-Form_Radio-icon"></span><span class="c-Form_Radio-label">いつでも可</span>
            </label>
            <p class="c-Txt_Emp-01 u-Adjust_Mb-16 u-Adjust_Mt-32">時間（複数選択可）<span class="c-Form_List-required">必須</span></p>
            <p id="err-checkbox_contactDate" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <fieldset class="area-casa-Form_Fieldset" name="contactDate" data-validate="checkbox" data-label="">
              <label class="c-Form_Checkbox u-Adjust_Mr-24">
                <input type="checkbox" name="00N0I00000Jz6dH" value="1" data-label="9:00～12:00">
                <span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">9:00～12:00</span>
              </label>
              <label class="c-Form_Checkbox u-Adjust_Mr-24">
                <input type="checkbox" name="00N0I00000Jz75f" value="1" data-label="12:00～15:00">
                <span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">12:00～15:00</span>
              </label>
              <label class="c-Form_Checkbox">
                <input type="checkbox" name="00N0I00000Jz75k" value="1" data-label="15:00～18:00">
                <span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">15:00～18:00</span>
              </label>
            </fieldset>
            <p class="u-Adjust_Mt-16">ご希望に沿えないこともございます。あらかじめご了承ください。</p>
          </dd>
        </div>

        <div class="inquiry-Form_Item-area js-inquiry_Item-area">
          <dt>カラー<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <p id="err-required_00N0I00000Jz6VN" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <div class="area-casa-Form_Images">
              <div>
                <label class="c-Form_Radio">
                  <input type="radio" name="00N0I00000Jz6VN" value="ホワイト" data-validate="radio" checked>
                  <span class="c-Form_Radio-icon"></span><span class="c-Form_Radio-label">ホワイト</span>
                  <img src="<%= sitepath %>assets/img/area/rakuten-casa/img-casa-white.png" alt="">
                </label>
              </div>
              <div>
                <label class="c-Form_Radio">
                  <input type="radio" name="00N0I00000Jz6VN" value="ブラック" data-validate="radio">
                  <span class="c-Form_Radio-icon"></span><span class="c-Form_Radio-label">ブラック</span>
                  <img src="<%= sitepath %>assets/img/area/rakuten-casa/img-casa-black.png" alt="">
                </label>
              </div>
            </div>
          </dd>
        </div>
      </dl>

      <p class="u-Adjust_Align-center u-Adjust_Mt-40">
        <button id="js-area-casa_Confirm" type="button" class="c-Btn_Secondly-half"><span>入力内容を確認する</span></button>
        <button id="js-area-casa_Confirm_solo" type="button" class="c-Btn_Secondly-half" style="display: none;"><span>入力内容を確認する</span></button>
      </p>

      <div id="modal-confirm" style="display:none;">
        <h2 class="c-Heading_Lv3 u-Adjust_Mb-32">入力内容の確認</h2>
        <dl class="c-Form_List-confirm">
          <div class="area-casa-Form_Item-area js-area-casa_Item-area dispList-00N2u000000GxEn" aria-hidden="false">
            <dt>事業形態</dt>
            <dd><p class="disp-00N2u000000GxEn u-Adjust_Txt-break"></p></dd>
          </div>
          <div class="area-casa-Form_Item-area js-area-casa_Item-area dispList-00N0I00000Jz76E" aria-hidden="false">
            <dt>FLETS光 お客様ID</dt>
            <dd><p class="disp-00N0I00000Jz76E u-Adjust_Txt-break"></p></dd>
          </div>
          <div class="area-casa-Form_Item-area js-area-casa_Item-area">
            <dt>御社名</dt>
            <dd><p class="disp-00N0I00000KRr62 u-Adjust_Txt-break"></p></dd>
          </div>
          <div>
            <dt>お申込者氏名</dt>
            <dd><p><span class="disp-name u-Adjust_Txt-break"></span> <span class="disp-00N0I00000Jxe34 u-Adjust_Txt-break"></span></p></dd>
          </div>
          <div class="area-casa-Form_Item-area js-area-casa_Item-area">
            <dt>設置先住所</dt>
            <dd>
              <p class="c-Txt_Emp-01 u-Adjust_Mb-16">郵便番号</p>
              <p class="disp-00N0I00000JycJH u-Adjust_Txt-break"></p>

              <p class="c-Txt_Emp-01 u-Adjust_Mb-16 u-Adjust_Mt-32">住所</p>
              <p class="disp-00N280000095Txj u-Adjust_Txt-break"></p>

              <p class="c-Txt_Emp-01 u-Adjust_Mb-16 u-Adjust_Mt-32">住所（建物・ビル名）</p>
              <p class="disp-00N0I00000KRr1H u-Adjust_Txt-break"></p>
            </dd>
          </div>
          <div>
            <dt>メールアドレス</dt>
            <dd><p class="disp-email u-Adjust_Txt-break"></p></dd>
          </div>
          <div>
            <dt>連絡先電話番号</dt>
            <dd><p class="disp-00N0I00000Jxe3E u-Adjust_Txt-break"></p></dd>
          </div>
          <div class="area-casa-Form_Item-area js-area-casa_Item-area">
            <dt>連絡希望日時</dt>
            <dd>
              <p class="c-Txt_Emp-01 u-Adjust_Mb-16">曜日</p>
              <p class="disp-00N0I00000Jz6cd u-Adjust_Txt-break"></p>

              <p class="c-Txt_Emp-01 u-Adjust_Mb-16 u-Adjust_Mt-32">時間</p>
              <p class="disp-contactDate u-Adjust_Txt-break"></p>
            </dd>
          </div>
          <div class="inquiry-Form_Item-area js-inquiry_Item-area">
            <dt>カラー</dt>
            <dd><p class="disp-00N0I00000Jz6VN u-Adjust_Txt-break"></p></dd>
          </div>
        </dl>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">利用規約</h2>

        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>terms/pdf/rakuten_casa_for_business.pdf?210412" target="_blank" class="c-Link_Txt-icon" style="display: inline;">Rakuten Casa 設置規約<span class="c-Icon_New-window-l"></span></a>および<a href="https://corp.mobile.rakuten.co.jp/privacy/" target="_blank" class="c-Link_Txt-icon" style="display: inline;">個人情報の取扱いについて<span class="c-Icon_New-window-l"></span></a>をご確認ください。</p>

        <div class="c-Infobox_Standing-light u-Adjust_Mt-32">
          <p>[未成年のお客様]<br>法定代理人から下記合意を取得しました。<br>私はRakuten Casa申込者の法定代理人として、重要事項説明書に同意の上、申込者がRakuten Casa設置規約に申し込むことに合意します。</p>
          <p class="u-Adjust_Mt-16">[回線契約者の名義が設置規約者と異なるお客様]<br>
          回線規約者からRakuten Casa設置規約で既定された承諾を取得しました。</p>
        </div>


          <label class="c-Form_Checkbox u-Adjust_Mr-24 u-Adjust_Mt-16">
            <input type="checkbox" id="js-area-casa_Consent" name="00N0I00000Jz6VX" value="1" data-label="上記内容を確認し、同意しました">
            <span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">上記内容を確認し、同意しました</span>
          </label>

        <div class="u-Adjust_Align-center u-Adjust_Mt-40">
          <button type="button" id="js-area-casa_Submit" class="c-Btn_Primary-half area-casa-Form_Submit_btn-disabled" aria-disabled="true"><span>お申し込みを完了する</span></button>
        </div>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
          <button type="button" id="js-area-casa_Confirm-close" class="c-Btn_Regular-auto"><span>修正する</span></button>
        </div>
      </div>



      <div id="modal-confirm_solo" style="display:none;">
        <h2 class="c-Heading_Lv3 u-Adjust_Mb-32">入力内容の確認</h2>
        <dl class="c-Form_List-confirm">
          <div class="area-casa-Form_Item-area js-area-casa_Item-area dispList-00N2u000000GxEn" aria-hidden="false">
            <dt>事業形態</dt>
            <dd><p class="disp-00N2u000000GxEn u-Adjust_Txt-break"></p></dd>
          </div>
          <div class="area-casa-Form_Item-area js-area-casa_Item-area dispList-00N0I00000Jz76E" aria-hidden="false">
            <dt>FLETS光 お客様ID</dt>
            <dd><p class="disp-00N0I00000Jz76E u-Adjust_Txt-break"></p></dd>
          </div>
          <div class="area-casa-Form_Item-area js-area-casa_Item-area">
            <dt>御社名</dt>
            <dd><p class="disp-00N0I00000KRr62 u-Adjust_Txt-break"></p></dd>
          </div>
          <div>
            <dt>お申込者氏名</dt>
            <dd><p><span class="disp-name u-Adjust_Txt-break"></span> <span class="disp-00N0I00000Jxe34 u-Adjust_Txt-break"></span></p></dd>
          </div>
          <div class="area-casa-Form_Item-area js-area-casa_Item-area">
            <dt>設置先住所</dt>
            <dd>
              <p class="c-Txt_Emp-01 u-Adjust_Mb-16">郵便番号</p>
              <p class="disp-00N0I00000JycJH u-Adjust_Txt-break"></p>

              <p class="c-Txt_Emp-01 u-Adjust_Mb-16 u-Adjust_Mt-32">住所</p>
              <p class="disp-00N280000095Txj u-Adjust_Txt-break"></p>

              <p class="c-Txt_Emp-01 u-Adjust_Mb-16 u-Adjust_Mt-32">住所（建物・ビル名）</p>
              <p class="disp-00N0I00000KRr1H u-Adjust_Txt-break"></p>
            </dd>
          </div>
          <div>
            <dt>メールアドレス</dt>
            <dd><p class="disp-email u-Adjust_Txt-break"></p></dd>
          </div>
          <div>
            <dt>連絡先電話番号</dt>
            <dd><p class="disp-00N0I00000Jxe3E u-Adjust_Txt-break"></p></dd>
          </div>
          <div class="area-casa-Form_Item-area js-area-casa_Item-area">
            <dt>連絡希望日時</dt>
            <dd>
              <p class="c-Txt_Emp-01 u-Adjust_Mb-16">曜日</p>
              <p class="disp-00N0I00000Jz6cd u-Adjust_Txt-break"></p>

              <p class="c-Txt_Emp-01 u-Adjust_Mb-16 u-Adjust_Mt-32">時間</p>
              <p class="disp-contactDate u-Adjust_Txt-break"></p>
            </dd>
          </div>
          <div class="inquiry-Form_Item-area js-inquiry_Item-area">
            <dt>カラー</dt>
            <dd><p class="disp-00N0I00000Jz6VN u-Adjust_Txt-break"></p></dd>
          </div>
        </dl>


        <h2 class="c-Heading_Lv2 u-Adjust_Mt-32">Rakuten Casa 重要事項説明書</h2>
        <p class="u-Adjust_Mt-16">重要事項説明書をご確認ください。</p>

        <div class="area-casa-Form_Box-scroll-xhidden u-Adjust_Mt-32">
        <h4 class="c-Heading_Lv2 c-Txt_Emp-02 u-Adjust_Mb-32 u-Adjust_Align-center">Rakuten Casa 重要事項説明書</h4>
        <p class="u-Adjust_Mt-16 c-Txt_Emp-01 u-Adjust_Align-center">契約内容に関する重要なお知らせです。十分にお読みください。</p>
        <p class="u-Adjust_Mt-16">本重要事項説明書は、楽天モバイル株式会社が提供する電波状況を改善するサービス「Rakuten Casa」を ご利用いただく際に、注意が必要な重要事項をご説明するものです。</p>

            <div class="area-casa-Scroll c-Table_Wrap-scroll c-Table-Scroll js-scrollable scroll-hint is-scrollable u-Adjust_Mt-16" id="scroll-table">
              <table class="c-Table_Container">
                <tbody>
                  <tr>
                    <th>契約情報</th>
                    <td>氏名および住所:外箱添付の伝票に記載</td>
                  </tr>
                  <tr>
                    <th rowspan="3">サービスの内容</th>
                    <td>Rakuten Casa(フェムトセル基地局)</td>
                  </tr>
                  <tr>
                    <td>品質:ご利用の指定接続回線がベストエフォート方式の場合、<br>
                      通信の混雑状況やご利用環境等によって速度が低下することがあります。</td>
                  </tr>
                  <tr>
                    <td>緊急通報:Rakuten Casaを設置してから、または、当社の許可を得て<br>Rakuten Casaの設置場所を変更してから約1時間は緊急通報が行えません。</td>
                  </tr>
                  <tr>
                    <th>料金</th>
                    <td>無料</td>
                  </tr>
                  <tr>
                    <th>契約変更・解約 その他のお問い合わせ先</th>
                    <td>楽天モバイル コミュニケーションセンター<br>
                      https://network.mobile.rakuten.co.jp/inquiry/<br>
                      TEL 0800-805-0400(9:00~18:00/無休/通話料無料)</td>
                  </tr>
                  <tr>
                    <th>サービス提供開始の予定時期</th>
                    <td>Rakuten Casaの設置完了日</td>
                  </tr>
                </tbody>
              </table>
            </div>


        <h4 class="c-Heading_Lv4 c-Txt_Emp-02 u-Adjust_Mt-40">サービスの概要</h4>
          <p class="u-Adjust_Mt-16">Rakuten Casaは、楽天モバイルサービスの電波状況改善を目的として、楽天モバイル株式会社(以下「当 社」といいます)がRakuten Casa等を貸与し、電波状況を改善するサービスです。Rakuten Casaは当 社が指定する電気通信回線(別表に定めるもの。以下「指定接続回線」といいます)と接続することで極小の 通信サービスエリアを作り出すフェムトセル基地局となり、設置先である屋内の電波状況を改善します。</p>



        <h4 class="c-Heading_Lv4 c-Txt_Emp-02 u-Adjust_Mt-40">お申し込みにあたって</h4>
        <ol class="u-Adjust_Mt-16 c-List_Note">
          <li>1.Rakuten Casa設置契約を締結する前に、設置する環境の電波状況の調査を行うことがあります。当社 の判断基準に基づき電波状況の改善が必要と判断され、かつ、Rakuten Casaの動作が可能と判断さ れた場合に限り、お申し込みになれます。</li>
          <li>2.Rakuten Casaを利用するには、指定接続回線が必要です。</li>
          <li>3.Rakuten Casa設置契約者と指定接続回線の契約者が異なる場合には、その指定接続回線で
            Rakuten Casaを利用することについて、あらかじめ指定接続回線契約者から同意を得る必要があります。</li>
        </ol>


      <h4 class="c-Heading_Lv4 c-Txt_Emp-02 u-Adjust_Mt-40">未成年者のご利用について</h4>
      <p class="u-Adjust_Mt-16">未成年者の契約にあたっては、次の親権者同意事項に同意のうえお申し込みいただきます。</p>
      <p class="u-Adjust_Mt-16">(1)親権者同意事項</p>
      <p class="u-Adjust_Mt-16">私は、親権者等の法定代理人の代表者として、契約申込者が楽天モバイル株式会社と、 Rakuten Casa設置規約に基づき設置契約を締結すること、Rakuten Casaの提供開始以降、各種 手続きおよび電波法に基づく運用等を行うことについてあらかじめ同意します。</p>
      <p class="u-Adjust_Mt-16">(2)親権者による申し込み代理時の同意事項</p>
      <p class="u-Adjust_Mt-16">私は、親権者等の法定代理人の代表者として、申込者(契約者)欄に記載されている者の申込代理人とし
        て、楽天モバイル株式会社に、Rakuten Casaの設置を申し込みます。また契約者本人が楽天モバイル 株式会社と、Rakuten Casaの提供開始以降、各種手続きおよび電波法に基づく運用等を行うことに ついてあらかじめ同意します。</p>

        <h4 class="c-Heading_Lv4 c-Txt_Emp-02 u-Adjust_Mt-40">Rakuten Casa設置について</h4>
        <ol class="u-Adjust_Mt-16 c-List_Note">
          <li>1.設置場所となる建物に所有者その他利害関係人がいる場合、あらかじめ当該利害関係人から、設置に関する同意を得てください。</li>
          <li>2.Rakuten Casaの設置にあたり、指定接続回線の導入を行う場合は、設置契約者の責任と費用において 手配・実施いただきます。</li>
          <li>3.Rakuten Casaの設置は、設置契約者または設置契約者が指定した者にて行っていただきます。ただし、当社が別途必要と判断した場合には、当社にて行います。この場合、設置場所に立ち入ることをあらかじめ同意していただきます。</li>
          <li>4.医療施設および引火性物質取扱施設(例:ガソリンスタンド等)には設置できません。ただし、当該医療施設 または引火性物質取扱事業者が、当社所定の同意書を提出した場合はこの限りではありません。</li>
        </ol>

        <h4 class="c-Heading_Lv4 c-Txt_Emp-02 u-Adjust_Mt-40">費用について</h4>
        <p class="u-Adjust_Mt-16">指定接続回線の利用料金、電気料金に関しては設置契約者にご負担いただきます。</p>


        <h4 class="c-Heading_Lv4 c-Txt_Emp-02 u-Adjust_Mt-40">各種手続きについて</h4>
        <ol class="u-Adjust_Mt-16 c-List_Note">
          <li>1.指定接続回線を解約、住所変更、プラン変更、譲渡した場合、その他当社が必要と判断した場合には、 Rakuten Casa設置契約の一時停止、変更または解約手続きが必要となります。</li>
          <li>2.上記1の変更・解約手続きが必要な場合およびその他の理由から解約を希望される場合は、速やかに当社 窓口までご連絡ください。</li>
          <li>3.6カ月以上にわたりRakuten Casaを利用した通信が発生しない場合、Rakuten Casa設置契約を解 除する場合があります。</li>
          <li>4.Rakuten Casa等の撤去は設置契約者または設置契約者が指定した者にて行い、当社が定める期日までに返送してください。</li>
          <li>5.Rakuten Casa設置契約が終了した場合、当社は終了理由を問わず、設置場所の原状回復義務を負わ
            ないものとします。</li>
          <li>6.Rakuten Casa設置契約者が、当社より貸与を受けたRakuten Casa等を紛失した場合、契約終了後
            相当期間経過後も返却しなかった場合、違約金として20,000円(非課税)を請求することがあります。</li>
        </ol>

        <h4 class="c-Heading_Lv4 c-Txt_Emp-02 u-Adjust_Mt-40">制限事項</h4>
        <ol class="u-Adjust_Mt-16 c-List_Note">
          <li>1.Rakuten Casaの利用には、楽天回線対応製品が必要です。</li>
          <li>2.Rakuten Casaを設置した建物の構造や遮蔽物の存在によっては、同一建物内であっても電波が届かずご利用できない場合があります同時に通信が可能な楽天モバイル携帯電話回線の数には上限があります。回線数を超える場合は楽天モバイル携帯電話のアンテナマークが表示されていてもご利用できな い場合があります。また、指定接続回線の回線状況や、宅内機器構成および設置契約者のインターネット 等使用状況により、Rakuten Casaを利用した通信に通話のとぎれやデータ通信の速度低下が発生す る場合があります。</li>
          <li>3.通信中に移動し、Rakuten Casaの電波圏外となった場合、当該通信は切断されることがあります。</li>
          <li>4.当社はRakuten Casaのメンテナンスやファームウェアアップデートのため、遠隔で操作、配信、再起動を 行う場合があります。再起動した場合は10分程度通信ができない状態になります。事前に当社のウェブサ イト等でお知らせいたしますが、やむを得ない場合にはこの限りではありません。</li>
          <li>5.Rakuten Casaからの電波が設置場所の屋外や近隣に届いている場合、そこにいる第三者が当該 Rakuten Casa経由で通信サービスを利用する場合があります。</li>
          <li>6.指定接続回線が従量制の場合、ご契約の通信量の上限を超えると通信速度が制御される等、ご利用が制 限される場合があります。</li>
          <li>7.Rakuten Casaは、4G LTE 1.7GHzの電波を改善するサービスであるため、4G LTE 1.7GHzに対応し ていない製品は、Rakuten Casa経由での4G通信サービスが利用できません。</li>
          <li>8.VoLTE対応機種でVoLTE利用のための設定を行っていない場合、Rakuten Casaは利用できません (Wi-Fi機能を除く)。</li>
          <li>9.ソフトウェアバージョンが最新でない場合、Rakuten Casa経由では、4G通信サービスが利用できない 場合があります。</li>
          <li>10.指定接続回線の通信品質や周囲の電波状況が変化した場合、その他周囲の環境によっては、電波改善 効果が十分に得られない場合や、Rakuten Casa経由で4G通信サービスをご利用できない場合があり ます。</li>
          <li>11.設置契約者以外にもRakuten Casaの利用者がいる場合は、設置契約者から1~10までの制限事項に ついてご説明ください。</li>
        </ol>


      <h4 class="c-Heading_Lv4 c-Txt_Emp-02 u-Adjust_Mt-40">電波法に関する条件について</h4>
      <ol class="u-Adjust_Mt-16 c-List_Note">
        <li>1.Rakuten Casaは、電波法に基づき、無線局の免許を取得しています。ご利用については、免許状に記載
        された事項の範囲内のみで利用が可能となりますので、当社の規定および指示に従っていただきます。
        免許状記載事項 包括免許人の氏名または名称(当社)、包括免許人の住所、特定無線局の種別、特定無線局の目的、包括免許の番号、包括免許の年 月日、包括免許の有効期間、無線設備の設置場所とすることができる区域、運用開始の期限、通信の相手方、包括免許人の事務所、 電波の型式、周波数および空中線電力</li>
        <li>2.Rakuten Casaの利用にあたり、無線局免許の手続きが必要となるため、当社は総務省へRakuten Casaの設置場所等の届出を行います。</li>
        <li>3.Rakuten Casaの利用には管理者としてRakuten Casaの運用を行う者（以下、運用者）を定める必要があります。当社は設置契約者または設置契約者が指定した者を運用者として総務大臣へ届出いたします。また、運用者は過去2年間に電波法および放送法に規定する罰則の適用を受けていないことが条件となります。なお、運用者に変更があった場合、その旨を同様に総務大臣へ届出いたします。</li>
        <li>4.設置契約者または設置契約者が指定した者の氏名、住所、連絡先電話番号は、無線局免許および運用者の手続きに使用しますので、申込フォームの氏名、住所、連絡先電話番号は正確にご記入ください。</li>
        <li>5.Rakuten Casaの操作(コンセントの抜き差しおよび当社の指示によるもの)は運用者のみが行えます。</li>
        <li>6.運用者は電波法および関係する法令に従い、Rakuten Casaを適切に運用する義務があります。運用者 は、Rakuten Casa設置規約、Rakuten Casa重要事項説明書、Rakuten Casaのクイックスタート ガイドおよび当社の指示に従い、運用および操作を行ってください。</li>
        <li>7.Rakuten Casaに故障または異常等が確認された場合には、速やかに当社窓口へご連絡ください。当社 の指示に従い、Rakuten Casaの電源のOFF/ON等の操作を行っていただくことがあります。また、当 社からRakuten Casaの状態等について報告を求められた場合は、速やかにこれに応じていただきま す。</li>
        <li>8.Rakuten Casaが発射する電波により他の無線局へ混信を与える可能性があります。また、当社が他の 無線局との混信防止に関する契約を結んでいる場合があります。そのため、Rakuten Casaは当社が指 定する場所でご利用ください。同一居室内での軽微な移動は可能です。ただし、同一建物内で別室等へ移 動を希望する場合は、あらかじめ当社へご相談ください。</li>
        <li>9.Rakuten Casaの蓋を開ける、またはアンテナを取り替えるなどの改造は電波法違反となりますので、絶 対に行わないでください。</li>
        <li>10.運用者が電波法に違反する行為を行ったとき、または電波法に基づく指示、命令に従わないときには、運用者が電波法に基づき罰せられる場合があります。</li>
      </ol>

      <h4 class="c-Heading_Lv4 c-Txt_Emp-02 u-Adjust_Mt-40">禁止事項</h4>
      <ol class="u-Adjust_Mt-16 c-List_Note">1.次に定める行為を禁止します。
        <li>1Rakuten Casaを設置場所住所以外に移動させること、およびRakuten Casaを日本国外に持ち出
      すこと。</li>
      <li>2Rakuten Casaの利用にあたって、「安全上のご注意」に記載された「危険「」警告「」注意」の取扱い注 意事項を遵守しないこと。</li>
      <li>3Rakuten Casaを指定接続回線以外に接続すること。</li>
      <li>4Rakuten Casaを電波状況改善の目的以外で利用すること、およびRakuten Casaを当社が指定す
      る機器以外に接続すること。</li>
      <li>5Rakuten Casa経由で行われる通信等の機密漏洩等をすること。</li>
      <li>6Rakuten Casaの接続構成および設定の変更、Rakuten Casa近辺への造作その他の方法により、 Rakuten Casa経由の通信の品質を劣化させること。</li>
      <li>7Rakuten Casaの譲渡、転貸、担保設定その他一切の処分をすること。Rakuten Casa(搭載されて いるソフトウェアを含む)を滅失(紛失、盗難等を含む)、毀損(シール添付、削切、着色等の著しい汚損、分 解、改変等を含む)すること。</li>
      <li>8Rakuten Casa以外の設備を毀損し、Rakuten Casa経由の通信の品質を劣化させること。</li>
      <li>9当社の事前同意なくRakuten Casaの電源を長時間OFFにすること、および当社の事前同意なく
      Rakuten Casaの電源のOFF/ON等を行うこと。</li>
      <li>10当社が開示した秘密情報(Rakuten Casaに設定するIDおよびパスワード等)を、第三者に開示するこ
      と。</li>
      <li>11Rakuten Casaの電波輻射に影響を与え、Rakuten Casa経由の通信サービスの利用に支障を与 えるような行為または造作を行うこと。</li>
      <li>12Rakuten Casaの分解、分析等のリバースエンジニアリングならびにRakuten Casaに搭載されて いるソフトウェアの逆コンパイル、逆アセンブル、およびリバースエンジニアリングをすること。</li>
      <li>2.以上の禁止事項に違反した場合、電波法その他関連法令を遵守しない場合、および総務大臣の命令または当社の指示に従わない場合、運用者は、電波法等の関連法令に基づき懲役または罰金に処せられる場合があります。</li>
    </ol>

    <h4 class="c-Heading_Lv4 c-Txt_Emp-02 u-Adjust_Mt-40">同意事項</h4>
    <ol class="u-Adjust_Mt-16 c-List_Note">設置契約者には、次の項目について同意していただきます。
      <li>1指定接続回線の終端にRakuten Casaを設置すること。</li>
      <li>2設置契約者情報を指定接続回線事業者と当社間で開示する場合があること。なお、開示された当該契 約者情報は、当該指定接続回線においてRakuten Casaの利用の可否判断および継続のために利用 されること。</li>
      <li>3指定接続回線事業者から求められた場合には、Rakuten Casaを当該接続回線に接続することに関 する同意書に同意いただくこと。</li>
      <li>4指定接続回線に障害が発生した場合または発生したことが疑われる場合には、当社と当該指定接続回 線事業者が連絡連携し、当社から設置契約者に対し、当該障害の影響について周知連絡等を行うこと、 および、指定接続回線契約者と設置契約者が異なる場合には、指定接続回線契約者から本号の同意を 取得すること。</li>
      <li>5指定接続回線の終端にRakuten Casaを設置するにあたり、宅内機器構成に変更が発生する場合が あること。</li>
      <li>6設置契約者は自己の責任においてRakuten Casaを利用するものとし、当社の故意または重大な過 失により生じたものであるときを除き、設置契約者または第三者に不利益もしくは損害等が生じた場合 であっても当社は一切その責任を負わないものとすること。</li>
    </ol>

     <h4 class="c-Heading_Lv4 c-Txt_Emp-02 u-Adjust_Mt-40">その他注意事項</h4>
     <ol class="u-Adjust_Mt-16 c-List_Note">
     <li>1.植込み型心臓ペースメーカーおよび植込み型除細動器装着の方は、Rakuten Casaから15cm以上離れ てご利用ください。自宅療養などにより医療機関の外で、植込み型心臓ペースメーカーおよび植込み型除 細動器以外の医用電気機器を使用される場合には、電波による影響について個別に医用電気機器メー カーなどにご確認ください。</li>
      <li>2.Rakuten Casaを設置する場合、HUBやルーター等の接続機器が追加で必要となることがあります。そ の場合は、設置契約者にて接続機器をご用意ください。</li>
    </ol>

    <h4 class="c-Heading_Lv4 c-Txt_Emp-02 u-Adjust_Mt-40">Wi-Fi接続について</h4>
    <p class="u-Adjust_Mt-16">Wi-Fi接続サービスのご利用期間は、Rakuten Casa本体がお手元に届いてからRakuten Casa設置契
    約が終了するまでとなります。Rakuten Casa設置契約の終了後、Wi-Fi接続サービスのみのご利用はで
    きませんので、あらかじめご了承ください。</p>

    <h4 class="c-Heading_Lv4 c-Txt_Emp-02 u-Adjust_Mt-40">個人情報の利用目的について</h4>
    <ol class="u-Adjust_Mt-16 c-List_Note">
      <li>1.契約書、申込書により届出いただいた設置契約者および設置契約者が指定した者の個人情報については、総務省へRakuten Casaの無線局免許および運用者の手続きを行う目的のほか、以下の目的に利用いたします。</li>
      <li>2.当社は、個人情報の重要性を認識し、その保護の徹底をはかるため、電気通信事業法、個人情報の保護に
      関する法律、電気通信事業における個人情報保護に関するガイドライン等の業務主管庁が定めた事業分
      野別ガイドライン、その他関連する法令等を遵守いたします。</li>
      <li>3.当社は、当社ウェブサイト等に掲示する「個人情報の取扱いについて」に定めるところに従って個人情報を
      取扱い、記載された目的に従って、その遂行に必要な範囲で利用します。</li>
    </ol>
    <p class="u-Adjust_Mt-16 area-casa-Form_Box-scroll-xhidden-break-w">「個人情報の取扱いについて」は以下をご覧ください。<br>
    https://corp.mobile.rakuten.co.jp/guide/privacy/</p>


    <h4 class="c-Heading_Lv4 c-Txt_Emp-01 u-Adjust_Mt-40">別表 指定接続回線（指定インターネット回線）一覧</h4>
    <p class="c-Txt_Cap u-Adjust_Mt-8 area-casa-Form_Box-scroll-xhidden-break-w">https://network.mobile.rakuten.co.jp/area/rakuten-casa/broadband/index.html</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">※本重要事項説明書の最新版は以下をご覧ください。</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8 area-casa-Form_Box-scroll-xhidden-break-w">https://network.mobile.rakuten.co.jp/terms/pdf/rakuten_casa_important_explanation_smallbusiness.pdf?210412</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">※Wi-FiはWi-Fi Allianceの登録商標です。</p>

   </div>

   <h2 class="c-Heading_Lv2 u-Adjust_Mt-32">利用規約</h2>

   <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>terms/pdf/rakuten_casa_for_business.pdf?210412" target="_blank" class="c-Link_Txt-icon" style="display: inline;">Rakuten Casa 設置規約<span class="c-Icon_New-window-l"></span></a>および<a href="https://corp.mobile.rakuten.co.jp/privacy/" target="_blank" class="c-Link_Txt-icon" style="display: inline;">個人情報の取扱いについて<span class="c-Icon_New-window-l"></span></a>をご確認ください。</p>

    <div class="c-Infobox_Standing-light u-Adjust_Mt-32">
      <p>[未成年のお客様]<br>法定代理人から下記合意を取得しました。<br>私はRakuten Casa申込者の法定代理人として、重要事項説明書に同意の上、申込者がRakuten Casa設置規約に申し込むことに合意します。</p>

      <p class="u-Adjust_Mt-16">[回線契約者の名義が設置規約者と異なるお客様]<br>
      回線規約者からRakuten Casa設置規約で既定された承諾を取得しました。</p>
    </div>


    <label class="c-Form_Checkbox u-Adjust_Mr-24 u-Adjust_Mt-16">
      <input type="checkbox" id="js-area-casa_Consent_solo" name="00N0I00000Jz6VX" value="1" data-label="上記内容を確認し、同意しました">
      <span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">上記内容を確認し、同意しました</span>
    </label>


        <div class="u-Adjust_Align-center u-Adjust_Mt-40">
          <button type="button" id="js-area-casa_Submit_solo" class="c-Btn_Primary-half area-casa-Form_Submit_btn-disabled" aria-disabled="true"><span>お申し込みを完了する</span></button>
        </div>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
          <button type="button" id="js-area-casa_Confirm-close_solo" class="c-Btn_Regular-auto"><span>修正する</span></button>
        </div>
      </div>

    </form>
 </div>
</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/library/ajaxzip3.js" charset="UTF-8"></script>
<script>
(function() {
    const triggerZip2addr = document.getElementsByClassName('js-area-casa_Zip2addr');

    triggerZip2addr[0].addEventListener('click', function(e) {
        AjaxZip3.zip2addr('00N0I00000JycJH', '', '00N280000095Txj', '00N280000095Txj');
    });
})();
</script>
<script src="<%= sitepath %>assets/js/area.casa.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/area.casa.input.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
