<% const pagetitle = "Rakuten Casa（楽天カーサ）" -%>
<% const directories = [{path:"area/", label:"通信・エリア"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '屋内に楽天回線を構築し、通信環境の改善にご利用いただける小さな4G基地局「Rakuten Casa（楽天カーサ）」についてご案内します。',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<% const directory = "rakuten-casa" -%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/faq/faq.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/area/casa/casa-top.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System casa-top-Utility_Newdl">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="casa-top-Hero">
  <div class="casa-top-Hero_Container">
    <div class="casa-top-Hero_Main l-System_Container">
      <div class="casa-top-Hero_Main-txt">
        <h1>屋内の電波状況を改善！</h1>
        <p>「Rakuten Casa」を設置して楽天回線の電波が<br>
          届きにくい屋内の電波状況を改善します。</p>
      </div>
      <div class="casa-top-Hero_Main-img">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/area/rakuten-casa/top/img_hero_01_20230324.png" width="880" height="440">
          <img src="<%= sitepath %>assets/img/area/rakuten-casa/top/img_hero_01_20230324.png" width="440" height="220" alt="">
        </picture>
      </div>
    </div>
  </div>
</div>

<div class="l-System_Container u-Adjust_Mt-24">
  <ul class="c-Link_List-horizontal-simple">
    <li><a href="#fee" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>利用料金</a></li>
    <li><a href="#application" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>お申し込み条件</a></li>
    <li><a href="#faq" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>よくあるご質問</a></li>
    <li><a href="#casa-attention" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>注意事項</a></li>
  </ul>
</div>

<div class="casa-top-Layout_Container casa-top-Utility_Pt-48-32">
  <div class="l-System_Container">
    <h2 id="conditions" class="c-Heading_Lv2 u-Adjust_Align-center">Rakuten Casa設置で電波状況を改善</h2>
    <div class="casa-top-Utility_Mt-32-16 l-Media_Grid">
      <div class="l-Media_Image">
        <img src="<%= sitepath %>assets/img/area/<%= directory %>/top/img_rakutencasa.png?220520" alt="Rakuten Casa">
      </div>
      <div>
        <p>Rakuten Casaはご自宅のインターネット回線に接続して小さな楽天回線エリアを作り出す、屋内専用の小型基地局です。</p>
        <ul class="c-Txt_Cap u-Adjust_Mt-16">
          <li>※ Rakuten Casaには、ルーター機能がないRakuten Casa（初代）とルーター機能を搭載したRakuten Casa 6があります。お届けするのがどちらになるか、お選びいただくことはできません。</li>
          <li>※ Rakuten Casa 6のルーター機能は、一部のインターネット回線のみ（楽天ひかりのみ）対応しています。（2023年1月現在）</li>
          <li>※ Rakuten Casaは5G通信サービスには対応しておりません。</li>
          <li>※ インターネットの速度については、LTE／Wi-FiともにRakuten Casaが接続しているインターネット回線の速度に依存します。</li>
          <li>※ Rakuten Casaを設置した建物の構造や遮蔽物の存在によっては、同一建物内であっても電波が届かず、ご利用できない場合があります。</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="l-System_Container u-Adjust_Mt-24">
    <div class="c-Theme-Borderbox u-Adjust_Align-center">
      <h3 class="c-Heading_Lv3 u-Adjust_Mb-16 u-Adjust_Align-center">こんなお悩みありませんか？</h3>
      <div class="u-Adjust_Mt-16 casa-top-Block_Grid-3">
        <div>
          <div class="u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/area/<%= directory %>/top/img-worry-01.png" alt="" width="622" height="288" loading=”lazy”>
          </div>
          <p class="u-Adjust_Align-center u-Adjust_Mt-16 casa-top-Utility_List-text-s">
            屋内だと楽天回線の電波が<br>
            <span class="c-Txt_Emp-01 casa-top-Utility_List-text-m u-Adjust_Mt-8">繋がりにくい</span>
          </p>
        </div>
        <div>
          <div class="u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/area/<%= directory %>/top/img-worry-02.png" alt="" width="622" height="288" loading=”lazy”>
          </div>
          <p class="u-Adjust_Align-center u-Adjust_Mt-16 casa-top-Utility_List-text-s">
            機器の接続や設定など<br>
            <span class="c-Txt_Emp-01 casa-top-Utility_List-text-m u-Adjust_Mt-8">難しいことは苦手</span>
          </p>
        </div>
        <div>
          <div class="u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/area/<%= directory %>/top/img-worry-03.png" alt="" width="622" height="288" loading=”lazy”>
          </div>
          <p class="u-Adjust_Align-center u-Adjust_Mt-16 casa-top-Utility_List-text-s">
            電波状況を改善したいけど<br>
            <span class="c-Txt_Emp-01 casa-top-Utility_List-text-m u-Adjust_Mt-8">お金はかけたくない</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="casa-top-Utility_Bg-monotone u-Adjust_Pt-40 u-Adjust_Pb-32">
  <div class="l-System_Container">
    <div class="u-Adjust_Align-center">
      <p class="c-Txt_Normal-m c-Txt_Emp-02">＼ そんなお悩みを解決！ ／</p>
      <h2 id="feature" class="c-Heading_Lv2">Rakuten Casaの特長</h2>
    </div>
    <div class="l-Media_List-2 u-Adjust_Mt-0">
      <div class="u-Adjust_Mt-32">
        <h3 class="c-Heading_Lv3v u-Adjust_Align-center">屋内の通信環境を改善</h3>
        <div class="u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/area/<%= directory %>/top/img_feature-01.png?220520" alt=""></div>

        <p class="u-Adjust_Mt-24">「自宅に電波が届かない・繋がらない」といった屋内の通信に関する問題を改善し、通話と4Gデータ通信を快適にします。</p>
        <ul class="c-Txt_Cap u-Adjust_Mt-8">
          <li>※ インターネット回線を使用するため、混雑時にはデータ通信速度が低下することがあります。</li>
          <li>※ Rakuten Casaは5G通信サービスには対応しておりません。</li>
          <li>※ ご利用いただくには<a class="c-Link_Txt" href="<%= sitepath %>product/certified-products/">楽天回線対応製品</a>が必要です。</li>
        </ul>
      </div>
      <!-- <div class="u-Adjust_Mt-32">
        <h3 class="c-Heading_Lv3">楽天回線エリア外でもデータ無制限<span class="c-Txt_Cap" style="color: #333;">※</span></h3>
        <div class="u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/area/<%= directory %>/top/img_feature-02.png" alt=""></div>
        <p class="u-Adjust_Mt-24">「Rakuten UN-LIMIT VII」において、ご自宅が楽天回線エリア外（パートナー回線エリア）でも、Rakuten Casaで楽天回線に接続することで、データ無制限になります。</p>
        <ul class="c-Txt_Cap u-Adjust_Mt-8">
          <li>※ Rakuten Casaの利用により楽天基地局に接続した場合はデータ無制限。公平にサービスを提供するため通信速度の制御を行うことあり。楽天回線対応製品以外の製品でご利用いただく場合、Rakuten Casaに接続できずパートナーエリアの高速データ容量として消費される場合がありますのでご注意ください。<a class="c-Link_Txt" href="<%= sitepath %>product/certified-products/">楽天回線対応製品</a>をご確認ください。</li>
        </ul>
      </div> -->
      <div class="u-Adjust_Mt-32">
        <h3 class="c-Heading_Lv3 u-Adjust_Align-center">ルーターのLANポートに接続するだけ</h3>
        <div class="u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/area/<%= directory %>/top/img_feature-03.png?220520" alt=""></div>
        <p class="u-Adjust_Mt-24">ご自宅のインターネット回線につながったルーターにRakuten Casaを接続し、本体の電源を入れるだけで、ご利用いただけます。</p>
        <ul class="c-Txt_Cap u-Adjust_Mt-8">
          <li>※ Rakuten Casaを設置した建物の構造や遮蔽物の存在によっては、同一建物内であっても電波が届かず、ご利用できない場合があります。</li>
          <li>※ Rakuten Casa 6も「AP（アクセスポイント）モード」でご利用いただく場合はルーター（ブロードバンドルーター、ONU一体型ルーター含む）に接続する必要があります。</li>
        </ul>
        <div class="u-Adjust_Mt-24">
          <p class="u-Adjust_Mb-16"><a href="<%= sitepath %>area/rakuten-casa/broadband/" class="c-Link_Txt-inline">指定インターネット回線一覧を見る<span class="c-Icon_Chevron-right"></span></a></p>
          <p><a href="#environment" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>動作環境や設定方法を見る</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="casa-top-Layout_Container">
  <div class="l-System_Container">
    <!-- <div class="u-Adjust_Align-center">
      <a href="<%= sitepath %>product/internet/rakuten-casa/?l-id=area_rakuten-casa_product_rakuten-casa?l-id=casa_lp_apply" class="c-Btn_Primary-large casa-top-Detail_Btn-radius"><span>Rakuten Casaを申し込む</span></a>
    </div>
    <ul class="casa-top-Detail_List-link u-Adjust_Mt-24 u-Adjust_Align-center">
      <li><p><a href="<%= sitepath %>product/internet/rakuten-casa/#spec" class="c-Link_Txt-inline">Rakuten Casaの製品仕様を見る<span class="c-Icon_Chevron-right"></span></a></p></li>
      <li><p><a href="<%= sitepath %>guide/rakuten-casa/flow/" class="c-Link_Txt-inline">お申し込み・ご利用方法を見る<span class="c-Icon_Chevron-right"></span></a></p></li>
    </ul> -->

    <h2 id="fee" class="c-Heading_Lv2 u-Adjust_Mt-16 u-Adjust_Align-center">利用料金（個人のお客様の場合）</h2>
    <dl class="c-Dl_Origin u-Adjust_Mt-16">
      <div>
        <dt>月額利用料</dt>
        <dd>
          無料
        </dd>
      </div>
      <div>
        <dt>Rakuten Casa本体代</dt>
        <dd>
          本体はレンタルとなります。<br>
          レンタル料金：無料
          <ul class="c-Txt_Cap u-Adjust_Mt-8">
            <li>※ 契約解除料はかかりません。契約終了後は速やかに返送をお願いいたします。</li>
            <li>※ Rakuten Casaを紛失した場合・契約終了後相当期間経過後も返却しなかった場合は、<span class="c-Txt_Emp-02">違約金として20,000円（非課税）を請求</span>することがあります。</li>
          </ul>
        </dd>
      </div>
      <div>
        <dt>事務手数料</dt>
        <dd>
          無料
          <ul class="c-Txt_Cap u-Adjust_Mt-8">
            <li>※ 2023年3月24日 9:00お申し込み分より、事務手数料が無料になりました。</li>
          </ul>
          <!-- 3,000円（税込）
          <p class="c-Txt_Emp-02">楽天モバイルがRakuten Casaの設置完了を確認した後、3,000円相当の楽天ポイントにて還元いたします。</p>
          <p class="c-Txt_Cap u-Adjust_Mt-8">※ 楽天ポイントは、設置完了日を基準に毎月20日締めで翌月25日頃に、付与日を含めて5カ月の期間限定ポイントで付与されます。</p>
          <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-8">
            <li><a href="#rule" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>ポイント還元ルールの詳細はこちら</a></li>
          </ul> -->
        </dd>
      </div>
    </dl>

    <section class="casa-top-Section_Content u-Adjust_Mt-64">
    <h2 id="application" class="c-Heading_Lv2 u-Adjust_Align-center">お申し込み条件</h2>
    <p class="u-Adjust_Mt-16">
      各条件や、<a href="#casa-attention" class="c-Link_Txt">注意事項</a>、<a href="#faq" class="c-Link_Txt">よくある質問</a>をご確認いただきお申し込みください。
    </p>
    <dl class="c-Dl_Origin u-Adjust_Mt-16">
      <div class="casa-top-Detail-Nospace">
        <dt>個人のお客様</dt>
        <dd>
          <ul class="c-List_Text-disc">
           <li>楽天モバイル（Rakuten最強プラン）を契約していること</li>
           <li><a href="<%= sitepath %>product/certified-products/" target="_blank" class="c-Link_Txt-inline-icon">楽天回線対応製品<span class="c-Icon_New-window-l u-Adjust_Pl-16"></span></a>を使用していること</li>
           <li><a href="<%= sitepath %>inquiry/input.html" class="c-Link_Txt">電波改善・調査依頼</a>済みで、楽天モバイルからRakuten Casa設置の案内を受けていること</li>
           <li><a href="<%= sitepath %>area/rakuten-casa/broadband/" target="_blank" class="c-Link_Txt-inline-icon">楽天モバイルが指定するインターネット回線<span class="c-Icon_New-window-l u-Adjust_Pl-16"></span></a>を契約し、開通<span class="c-Txt_Cap">※1</span>していること</li>
           <li>楽天モバイル（Rakuten最強プラン）に登録している住所にRakuten Casaを設置いただくこと</li>
           <li>Rakuten Casaの<a href="<%= sitepath %>terms/pdf/rakuten_casa.pdf?200821" target="_blank" class="c-Link_Txt-inline-icon">設置規約<span class="c-Icon_Pdf-l u-Adjust_Pl-16"></span></a>および<a href="<%= sitepath %>terms/pdf/rakuten_casa_important_explanation.pdf?20230324" target="_blank" class="c-Link_Txt-inline-icon">重要事項説明書（個人のお客様）<span class="c-Icon_Pdf-l u-Adjust_Pl-16"></span></a>にご同意いただくこと</li>
           <li>以下の住所がすべて一致していること
             <ul class="c-List_Text-disc">
              <li>現住所</li>
              <li>楽天モバイル（Rakuten最強プラン）に登録している住所</li>
              <li>インターネット回線設置住所（Casa設置予定住所）</li>
             </ul>
           </li>
          </ul>
          <p class="c-Txt_Cap u-Adjust_Mt-16">※ 引越しなどで現住所が変わった場合、お申し込み前に「<a class="c-Link_Txt" href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile/">my 楽天モバイル</a>」をご確認いただき、変更をお願いいたします。</p>
        </dd>
      </div>
      <!-- <div>
        <dt>法人のお客様</dt>
        <dd>
          <ul class="c-List_Text-disc">
            <li><a href="<%= sitepath %>area/rakuten-casa/broadband/" target="_blank" class="c-Link_Txt-inline-icon">楽天モバイルが指定するインターネット回線<span class="c-Icon_New-window-l u-Adjust_Pl-16"></span></a>を契約し、開通※していること</li>
            <li><a href="<%= sitepath %>terms/pdf/rakuten_casa_for_business.pdf?200821-01" target="_blank" class="c-Link_Txt-inline-icon">Rakuten Casaの設置規約<span class="c-Icon_Pdf-l u-Adjust_Pl-16"></span></a>にご同意いただくこと</li>
          </ul>
        </dd>
      </div> -->
    </dl>
    <p class="c-Txt_Cap u-Adjust_Mt-16">
      ※1 「開通」とは以下の状態を指します。<br>
      ・インターネット回線工事が完了し、インターネット回線がご利用できる環境にあること<br>
      ・インターネット回線が利用できる環境にあっても、住所変更手続きや他のインターネット事業者に契約変更（転用）手続きを申請されている場合は、住所変更・転用後にインターネット回線が利用できる環境にあること
    </p>

    </section>
    <section class="u-Adjust_Mt-64">
      <h2 class="c-Heading_Lv2 u-Adjust_Align-center">楽天ひかりはRakuten Casa対応！</h2>
      <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
        <a href="<%= sitepath %>hikari/campaign/six-month-free/?l-id=area_rakuten-casa_hikari_campaign_six-month-free" class="c-Banner_Hover-act">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/img-bnr-hikari-343-108-240306.png" width="100%">
              <img src="<%= sitepath %>assets/img/bnr/img-bnr-hikari-1032-160-240306.png" width="2880" height="480" alt="初めてお申し込み＆楽天モバイルご利用で月額基本料6カ月0円">
          </picture>
        </a>
      </div>
      <p class="c-Txt_Cap u-Adjust_Mt-16">
        ※楽天会員1倍、楽天ひかりご契約中＋2倍 、楽天モバイルご利用で＋4倍（スーパーホーダイ、組み合わせプラン、コミコミプランはSPUの対象外）※楽天ひかりはプロバイダーとして楽天ブロードバンドのみ契約されている場合は特典対象外 ※毎月の獲得上限ポイントは楽天ひかりが1,000ポイント、楽天モバイルが2,000ポイント。いずれも期間限定ポイントでの進呈 ※ポイント未利用時の倍率 <a href="<%= sitepath %>hikari/campaign/six-month-free/index_b.html?l-id=area_rakuten-casa_hikari_campaign_six-month-free"  class="c-Link_Txt-inline-icon" target="_blank">SPUの詳細はこちら<span class="c-Icon_New-window-l"></span></a>
      </p>
    </section>
  </div>

  <div class="l-System_Container">
    <div class="c-Theme-Emphasis1 u-Adjust_Mt-64 u-Adjust_Mb-64 casa-top-Utility_Pt-24 casa-top-Utility_Pb-24">
      <div class="u-Adjust_Align-center">
        <div class="c-Heading_Lv2">「Rakuten Casa」を<br class="casa-top-Utility_Sp">申し込む</div>
        <p class="u-Adjust_Mt-8">お申し込み前に、必ず「<a href="<%= sitepath %>area/rakuten-casa/#application">お申し込み条件</a>」をご確認ください。</p>
      </div>
      <div class="casa-top-Block_Flex u-Adjust_Mt-24">
        <div class="casa-top-Block_Flex-items u-Adjust_Align-center">
          <div class="c-Txt_Normal-l c-Txt_Emp-01">個人のお客様</div>
          <p class="u-Adjust_Mt-16 c-Txt_Emp-01">お申し込みの前に、電波改善の調査依頼が必要になります。</p>
          <p class="c-Txt_Cap u-Adjust_Mt-8">※「楽天モバイル」未契約の個人のお客様については、Rakuten Casaのお申し込みはいただけません。</p>
          <div class="u-Adjust_Mt-16">
            <a href="<%= sitepath %>inquiry/input.html?l-id=area_rakuten-casa_inquiry_input" class="c-Btn_Secondly casa-top-Block_Flex-items-btn">電波改善・調査依頼をする</a>
          </div>
          <p class="u-Adjust_Mt-16 u-Adjust_Align-left">お客様の電波環境に応じて、最適な改善案をご提案します。Rakuten Casa以外のご提案となる場合もあります。</p>
        </div>
        <div class="casa-top-Block_Flex-items u-Adjust_Align-center">
          <div class="c-Txt_Normal-l c-Txt_Emp-01">法人のお客様</div>
          <p class="u-Adjust_Mt-16 c-Txt_Emp-01">Rakuten Casaを新規で設置を希望される法人のお客様は、お電話にてお問い合わせください。</p>
          <p class="u-Adjust_Mt-16">電話番号 0800-805-1100（通話料無料）</p>
          <p>営業時間 9:00～17:00／無休／通話料無料</p>
          <p class="c-Txt_Cap u-Adjust_Mt-8">※現在設置中のRakuten Casaに関するお問い合わせは、<a href="#inquiry" class="js-scroll">コミュニケーションセンター</a>にお問い合わせください。</p>
        </div>
      </div>
    </div>
  </div>

  <div class="l-System_Container">
    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64 u-Adjust_Align-center" id="environment">Rakuten Casaを利用するための動作環境（ルーター／Rakuten Casaの設定）</h2>
    <p class="u-Adjust_Mt-16">Rakuten Casaは、「ルーターモード」と「APモード」の2つのモードでご利用いただけます。</p>
    <div class="u-Adjust_Mt-24">
      <div class="l-Media_Grid-half">
        <div>
          <div class="u-Adjust_Align-center">
            <h3 class="c-Heading_Lv3">ルーターモード<br class="u-Show_Oox">（楽天ひかりのみ）</h3>
            <p class="c-Txt_Emp-01 u-Adjust_Mt-16">Rakuten Casa自体をルーターとして使う場合</p>
          </div>
          <div class="u-Adjust_Mt-8">
            <img src="<%= sitepath %>assets/img/area/<%= directory %>/top/img_environment-01.png" alt="">
          </div>
          <p class="c-Txt_Cap u-Adjust_Mt-8">
            ※ 「ルーターモード（楽天ひかりのみ）」はRakuten Casa 6でのみご利用いただけます。<br>
            ※ 「ルーターモード（楽天ひかりのみ）」の設定方法は<a href="<%= sitepath %>terms/pdf/rakuten_casa-6_startguide.pdf?230911" target="_blank" class="c-Link_Txt-inline-icon">Rakuten Casa 6のスタートガイド<span class="c-Icon_Pdf-l casa-top-Utility_Pl-16-0"></span></a>をご確認ください。
          </p>
        </div>
        <div>
          <div class="u-Adjust_Align-center">
            <h3 class="c-Heading_Lv3">APモード</h3>
            <p class="c-Txt_Emp-01 u-Adjust_Mt-16">Rakuten Casaをルーターに接続して使う場合</p>
          </div>
          <div class="u-Adjust_Mt-8">
            <img src="<%= sitepath %>assets/img/area/<%= directory %>/top/img_environment-02.png" alt="">
          </div>
          <div class="u-Adjust_Mt-8">
            <img src="<%= sitepath %>assets/img/area/<%= directory %>/top/img_environment-03.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <h3 class="c-Heading_Lv4 u-Adjust_Mt-24">Rakuten Casaを「APモード」で利用するためのルーター機能</h3>

    <p class="u-Adjust_Mt-8">Rakuten Casaを「APモード」で利用するには、お使いのルーター（ブロードバンドルーター、ONU一体型ルーター含む）に特定の機能やモードが搭載されている必要があります。<br>
      また、ご利用のインターネット回線によっても、お使いのルーターに必要な機能や設定が異なりますので、事前にご確認をお願いいたします。
      ご利用のインターネット回線がどこに該当するかは「<a href="<%= sitepath %>area/rakuten-casa/broadband/" target="_blank" class="c-Link_Txt-inline-icon">指定インターネット回線一覧<span class="c-Icon_New-window-l"></span></a>」をご確認ください。</p>

      <dl class="c-Dl_Origin u-Adjust_Mt-24">
        <div>
          <dt>NTT東日本株式会社、またはNTT西日本株式会社の光コラボレーションモデル事業者</dt>
          <dd>
            <ul class="c-List_Text-disc">
              <li>お使いのルーターにVPN（IPSec IKE）パススルー機能が必要になります。</li>
              <li>お使いのルーターのモード設定を「NATモード」に設定してください。</li>
              <li>IPv6対応ルーターが必要になります。<br>
                Rakuten Casaを設置予定の通信環境で、以下のサイトにアクセスしてください。表示された場合は対応ルーターになります。<br>
                <a href="https://flets-east.jp/" target="_blank" class="c-Link_Txt-inline-icon">NTT東日本（光コラボ含む）をご利用の方<span class="c-Icon_New-window-l u-Adjust_Pl-16"></span></a><br>
                <a href="https://flets-west.jp/" target="_blank" class="c-Link_Txt-inline-icon">NTT西日本（光コラボ含む）をご利用の方<span class="c-Icon_New-window-l u-Adjust_Pl-16"></span></a>
                </li>
              <li>お使いのルーターのIPv6ブリッジ機能（IPv6プロトコルを透過する機能、または同等の機能）を有効にしてください。</li>
            </ul>
          </dd>
        </div>
        <div>
          <dt>上記以外</dt>
          <dd>
            <ul class="c-List_Text-disc">
              <li>お使いのルーターにVPN（IPSec IKE）パススルー機能が必要になります。</li>
              <li>お使いのルーターのモード設定を「NATモード」に設定してください。</li>
              </ul>
          </dd>
        </div>
      </dl>
      <ul class="c-Txt_Cap u-Adjust_Mt-24">
        <li>※ 機能やモードの対応有無や設定方法はルーター機種によって異なりますので、メーカーにお問い合わせください。</li>
        <li>※ マンション等の集合住宅側から提供されているインターネット回線をご利用の方は、IPv6への対応等に関して、各管理会社等にご確認ください。</li>
      </ul>
  </div>

  <div class="l-System_Container">
    <h2 id="faq" class="c-Heading_Lv2 u-Adjust_Mt-64">よくあるご質問</h2>
    <div class="c-Tab js-Tab area-tab">
      <ul class="c-Tab_Items u-Adjust_Mt-24" role="tablist">
        <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">個人のお客様</li>
        <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">法人のお客様</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
        <h3 class="c-Heading_Lv3 u-Adjust_Mt-32">Rakuten Casaの性能について</h3>
        <div class="u-Adjust_Mt-16">
          <div class="c-Accordion">
            <button id="accordion-1-01" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1-01">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten Casaを置くことで、既存のWi-Fiに影響は出ますか？
            </button>
            <div id="accordion-content-1-01" class="c-Accordion_Panel plan-program-Info_Accordion-qapanel js-Accordion_Panel" role="region" aria-labelledby="accordion-1-01" aria-hidden="true">
              <div>
                <p>稀ではありますが、Wi-Fiへの影響が出る可能性もあります。<br>
                  万が一影響が懸念された際は、Rakuten CasaのWi-Fi機能をOFFにしていただくようお願いします。</p>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-1-02" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1-02">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>既存のインターネット回線は解約していいですか？
            </button>
            <div id="accordion-content-1-02" class="c-Accordion_Panel plan-program-Info_Accordion-qapanel js-Accordion_Panel" role="region" aria-labelledby="accordion-1-02" aria-hidden="true">
              <div>
                <p>お客様が既設のインターネット回線にRakuten Casaを設置する仕様となっております。既存のインターネット回線は解約せずに、そのままご利用ください。</p>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-1-03" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1-03">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten Casaを設置すると、どれくらいの範囲で電波状況がよくなりますか？
            </button>
            <div id="accordion-content-1-03" class="c-Accordion_Panel plan-program-Info_Accordion-qapanel js-Accordion_Panel" role="region" aria-labelledby="accordion-1-03" aria-hidden="true">
              <div>
                <p>建物の構造によりますが、おおむね一般的な戸建住宅１軒分の電波状況を改善することができます。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※ Rakuten Casaを設置した建物の構造や遮蔽物の存在によっては、同一建物内であっても電波が届かず、ご利用できない場合があります。</p>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-1-04" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1-04">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten Casaが対応している回線は、楽天ひかり以外にもありますか？
            </button>
            <div id="accordion-content-1-04" class="c-Accordion_Panel plan-program-Info_Accordion-qapanel js-Accordion_Panel" role="region" aria-labelledby="accordion-1-04" aria-hidden="true">
              <div>
                <p>Rakuten Casa対応のインターネット回線は楽天ひかり以外にもあります。詳細は「<a href="<%= sitepath %>area/rakuten-casa/broadband/" class="c-Link_Txt">指定インターネット回線一覧</a>」をご確認ください。</p>
              </div>
            </div>
          </div>
        </div>
        <h3 class="c-Heading_Lv3 u-Adjust_Mt-32">Rakuten Casaの契約について</h3>
        <div class="u-Adjust_Mt-16">
          <div class="c-Accordion">
            <button id="accordion-2-01" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2-01">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten Casaの利用期間はありますか？
            </button>
            <div id="accordion-content-2-01" class="c-Accordion_Panel plan-program-Info_Accordion-qapanel js-Accordion_Panel" role="region" aria-labelledby="accordion-2-01" aria-hidden="true">
              <div>
                <p>利用期間に特段の定めはありません。何らかの理由により、ご解約・撤去ご希望の際には、<a href="#inquiry" class="c-Link_Txt js-scroll">コミュニケーションセンター</a>までご連絡ください。</p>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-2-02" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2-02">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten Casaの移動や、配線変更のため、LANケーブルや電源ケーブルを抜き差しすることは可能ですか？
            </button>
            <div id="accordion-content-2-02" class="c-Accordion_Panel plan-program-Info_Accordion-qapanel js-Accordion_Panel" role="region" aria-labelledby="accordion-2-02" aria-hidden="true">
              <div>
                <p>原則、Rakuten Casaのご移動や無断での電源OFFは、電波法及び関連する法令に抵触する可能性もあり、ご遠慮いただいております。<br>
                  やむを得ない事情で電源OFF・休止をご希望の際には、<a href="#inquiry" class="c-Link_Txt js-scroll">コミュニケーションセンター</a>までご連絡ください。</p>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-2-03" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2-03">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten Casaの電源OFFが禁止となっておりますが、年末年始などの電源OFFは可能ですか？
            </button>
            <div id="accordion-content-2-03" class="c-Accordion_Panel plan-program-Info_Accordion-qapanel js-Accordion_Panel" role="region" aria-labelledby="accordion-2-03" aria-hidden="true">
              <div>
                <p>原則、常時接続をお願いしておりますが、やむを得ない事情等ある際には、<a href="#inquiry" class="c-Link_Txt js-scroll">コミュニケーションセンター</a>までご連絡ください。</p>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-2-04" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2-04">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten Casaを解約したい場合、どうすればいいですか？また、解約での違約金はかかりますか？
            </button>
            <div id="accordion-content-2-04" class="c-Accordion_Panel plan-program-Info_Accordion-qapanel js-Accordion_Panel" role="region" aria-labelledby="accordion-2-04" aria-hidden="true">
              <div>
                <p>解約の際は、<a href="#inquiry" class="c-Link_Txt js-scroll">コミュニケーションセンター</a>までお問い合わせください。なお、解約に伴う、違約金は掛かりませんので、ご安心ください。</p>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-2-05" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2-05">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten Casaの設置場所を変更したい場合、どうすればいいですか？
            </button>
            <div id="accordion-content-2-05" class="c-Accordion_Panel plan-program-Info_Accordion-qapanel js-Accordion_Panel" role="region" aria-labelledby="accordion-2-05" aria-hidden="true">
              <div>
                <p>引っ越しなどでRakuten Casa設置場所が変更になる場合は、Rakuten Casaのご解約およびご返却のお手続きが必要となります。新しい場所に設置される場合は改めてのご契約となります。<br>
                  ご解約およびご返却のお手続きは、<a href="#inquiry" class="c-Link_Txt js-scroll">コミュニケーションセンター</a>までご連絡ください。</p>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-2-06" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2-06">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten Casaが壊れた場合、交換できますか？また、違約金はかかりますか？
            </button>
            <div id="accordion-content-2-06" class="c-Accordion_Panel plan-program-Info_Accordion-qapanel js-Accordion_Panel" role="region" aria-labelledby="accordion-2-06" aria-hidden="true">
              <div>
                <p>設置契約者の故意過失等による故障・破損の場合、設置契約者の費用負担にて修理交換等を行います。故障破損が生じた場合は、速やかに<a href="#inquiry" class="c-Link_Txt js-scroll">コミュニケーションセンター</a>までご連絡ください。</p>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-2-07" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2-07">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Wi-FiやLTEの機能をOFFにすることは可能ですか？
            </button>
            <div id="accordion-content-2-07" class="c-Accordion_Panel plan-program-Info_Accordion-qapanel js-Accordion_Panel" role="region" aria-labelledby="accordion-2-07" aria-hidden="true">
              <div>
                <p>Wi-Fi機能をOFFにすることはできますが、LTE機能をOFFにすることはできません。</p>
              </div>
            </div>
          </div>

          <div class="c-Accordion">
            <button id="accordion-2-08" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-6">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten Casaの設置・利用にいくらかかりますか？
            </button>
            <div id="accordion-content-6" class="c-Accordion_Panel plan-program-Info_Accordion-qapanel js-Accordion_Panel" role="region" aria-labelledby="accordion-6" aria-hidden="true">
              <div>
                <p>
                  Rakuten Casaの月額利用料は無料<span class="casa-top-Detail_Step-note">※1</span>です。申し込み時の事務手数料なども発生しません<span class="casa-top-Detail_Step-note">※2</span>。<br>
                  Rakuten Casaの稼働にかかる電気料金およびインターネット回線の料金に関しては設置契約者にご負担いただきます。
                </p>
                <ul class="c-List_Cap u-Adjust_Mt-8 c-Txt_Cap">
                  <li>※1 Rakuten Casaは楽天モバイルの貸与品です。</li>
                  <li>※2 2023年3月24日 9:00お申し込み分より、事務手数料が無料になりました。</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <h3 class="c-Heading_Lv3 u-Adjust_Mt-32">Rakuten Casaのお申し込み・発送について</h3>
        <div class="u-Adjust_Mt-16">
          <div class="c-Accordion">
            <button id="accordion-3-01" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3-01">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten Casaがほしいのですが、どうすればいいですか？
            </button>
            <div id="accordion-content-3-01" class="c-Accordion_Panel plan-program-Info_Accordion-qapanel js-Accordion_Panel" role="region" aria-labelledby="accordion-3-01" aria-hidden="true">
              <div>
                <p>Rakuten Casaは、電波改善・調査依頼の専用フォームからお問い合わせいただいたお客様に、電波状況に応じてご案内しております。<br>
                  お手数おかけしますが、まずは専用フォームに必要情報を入力のうえ、お問い合わせください。<br>
                  ご入力いただいた電波改善・調査依頼とお客様の電波状況を確認させていただいた後、電波の対策方法をご案内させていただきます。<br>
                  なお、お客様の電波状況によってはRakuten Casaをご案内できない場合もございます。あらかじめご了承ください。</p>
                <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>inquiry/input.html" class="c-Link_Txt-inline">電波改善・調査依頼のお問い合わせフォーム<span class="c-Icon_Chevron-right"></span></a></p>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-3-02" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3-02">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten Casaの申し込みで情報不備となった場合、どうすればいいですか？
            </button>
            <div id="accordion-content-3-02" class="c-Accordion_Panel plan-program-Info_Accordion-qapanel js-Accordion_Panel" role="region" aria-labelledby="accordion-3-02" aria-hidden="true">
              <div>
                <p>お申し込みの情報が一致していない場合、<a href="#inquiry" class="c-Link_Txt js-scroll">コミュニケーションセンター</a>よりお客様にご連絡しております。ご連絡内容をご確認のうえ、ご対応いただきますようお願いいたします。</p>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-3-03" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3-03">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten Casaの申し込みができたのか確認したい場合、どうすればいいですか？
            </button>
            <div id="accordion-content-3-03" class="c-Accordion_Panel plan-program-Info_Accordion-qapanel js-Accordion_Panel" role="region" aria-labelledby="accordion-3-03" aria-hidden="true">
              <div>
                <p>お申し込みを弊社で受け付けた際に、以下件名でメールをお送りしております。ご登録のメールアドレスを一度ご確認ください。<br>
                  件名：[楽天モバイル]Rakuten Casaお申し込み受付のお知らせ</p>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-3-04" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3-04">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten Casaはいつ届きますか？
            </button>
            <div id="accordion-content-3-04" class="c-Accordion_Panel plan-program-Info_Accordion-qapanel js-Accordion_Panel" role="region" aria-labelledby="accordion-3-04" aria-hidden="true">
              <div>
                <p>ご契約者様情報確認後、通常10営業日程度で発送を行います。<br>
                  発送にかかる日数は、お客様がご利用のインターネット回線によって異なります。詳細は「<a href="<%= sitepath %>area/rakuten-casa/broadband/" class="c-Link_Txt">指定インターネット回線一覧</a>」をご確認ください。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">
                  ※ お申し込み確認後、ご契約者様情報の確認のため、お電話をさせていただく場合がございます。<br>
                  ※ 電波法および関連する法令を遵守するため、ご契約者様情報の確認ができない場合、お申し込みをキャンセルとさせていただく場合がございます。
                </p>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-3-05" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3-05">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten Casaの申し込み後、連絡がないのですが現状の確認はできますか？
            </button>
            <div id="accordion-content-3-05" class="c-Accordion_Panel plan-program-Info_Accordion-qapanel js-Accordion_Panel" role="region" aria-labelledby="accordion-3-05" aria-hidden="true">
              <div>
                <p>お申し込みの受付後、ご契約者様情報の確認をさせていただくため、発送まで通常10営業日程度かかります。<br>
                  また、お客様がご提供していただいている情報に不備がある場合は別途ご連絡しております。<br>
                  10営業日過ぎて、ご連絡もRakuten Casaも届いていない場合は、<a href="#inquiry" class="c-Link_Txt js-scroll">コミュニケーションセンター</a>までご連絡ください。
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">

        <h3 class="c-Heading_Lv3 u-Adjust_Mt-32">Rakuten Casaの性能について</h3>
        <div class="u-Adjust_Mt-16">
          <div class="c-Accordion">
            <button id="accordion-4-01" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4-01">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten Casaを置くことで、既存のWi-Fiに影響は出ますか？
            </button>
            <div id="accordion-content-4-01" class="c-Accordion_Panel plan-program-Info_Accordion-qapanel js-Accordion_Panel" role="region" aria-labelledby="accordion-4-01" aria-hidden="true">
              <div>
                <p>稀ではありますが、Wi-Fiへの影響が出る可能性もあります。<br>
                  万が一影響が懸念された際は、Rakuten CasaのWi-Fi機能をOFFにしていただくようお願いします。</p>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-4-02" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4-02">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>既存のインターネット回線は解約していいですか？
            </button>
            <div id="accordion-content-4-02" class="c-Accordion_Panel plan-program-Info_Accordion-qapanel js-Accordion_Panel" role="region" aria-labelledby="accordion-4-02" aria-hidden="true">
              <div>
                <p>お客様が既設のインターネット回線にRakuten Casaを設置する仕様となっております。既存のインターネット回線は解約せずに、そのままご利用ください。</p>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-4-03" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4-03">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten Casaを設置すると、どれくらいの範囲で電波状況がよくなりますか？
            </button>
            <div id="accordion-content-4-03" class="c-Accordion_Panel plan-program-Info_Accordion-qapanel js-Accordion_Panel" role="region" aria-labelledby="accordion-4-03" aria-hidden="true">
              <div>
                <p>建物の構造によりますが、おおむね一般的な戸建住宅１軒分の電波状況を改善することができます。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※ Rakuten Casaを設置した建物の構造や遮蔽物の存在によっては、同一建物内であっても電波が届かず、ご利用できない場合があります。</p>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-4-04" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4-04">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten Casaが対応している回線は、楽天ひかり以外にもありますか？
            </button>
            <div id="accordion-content-4-04" class="c-Accordion_Panel plan-program-Info_Accordion-qapanel js-Accordion_Panel" role="region" aria-labelledby="accordion-4-04" aria-hidden="true">
              <div>
                <p>Rakuten Casa対応のインターネット回線は楽天ひかり以外にもあります。詳細は「<a href="<%= sitepath %>area/rakuten-casa/broadband/" class="c-Link_Txt">指定インターネット回線一覧</a>」をご確認ください。</p>
              </div>
            </div>
          </div>
        </div>
        <h3 class="c-Heading_Lv3 u-Adjust_Mt-32">Rakuten Casaの契約について</h3>
        <div class="u-Adjust_Mt-16">
          <div class="c-Accordion">
            <button id="accordion-5-01" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5-01">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten Casaの利用期間はありますか？
            </button>
            <div id="accordion-content-5-01" class="c-Accordion_Panel plan-program-Info_Accordion-qapanel js-Accordion_Panel" role="region" aria-labelledby="accordion-5-01" aria-hidden="true">
              <div>
                <p>利用期間に特段の定めはありません。何らかの理由により、ご解約・撤去ご希望の際には、<a href="#inquiry" class="c-Link_Txt js-scroll">コミュニケーションセンター</a>までご連絡ください。</p>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-5-02" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5-02">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten Casaの移動や、配線変更のため、LANケーブルや電源ケーブルを抜き差しすることは可能ですか？
            </button>
            <div id="accordion-content-5-02" class="c-Accordion_Panel plan-program-Info_Accordion-qapanel js-Accordion_Panel" role="region" aria-labelledby="accordion-5-02" aria-hidden="true">
              <div>
                <p>原則、Rakuten Casaのご移動や無断での電源OFFは、電波法及び関連する法令に抵触する可能性もあり、ご遠慮いただいております。<br>
                  やむを得ない事情で電源OFF・休止をご希望の際には、<a href="#inquiry" class="c-Link_Txt js-scroll">コミュニケーションセンター</a>までご連絡ください。</p>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-5-03" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5-03">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten Casaの電源OFFが禁止となっておりますが、年末年始などの電源OFFは可能ですか？
            </button>
            <div id="accordion-content-5-03" class="c-Accordion_Panel plan-program-Info_Accordion-qapanel js-Accordion_Panel" role="region" aria-labelledby="accordion-5-03" aria-hidden="true">
              <div>
                <p>原則、常時接続をお願いしておりますが、やむを得ない事情等ある際には、<a href="#inquiry" class="c-Link_Txt js-scroll">コミュニケーションセンター</a>までご連絡ください。</p>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-5-04" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5-04">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten Casaを解約したい場合、どうすればいいですか？また、解約での違約金はかかりますか？
            </button>
            <div id="accordion-content-5-04" class="c-Accordion_Panel plan-program-Info_Accordion-qapanel js-Accordion_Panel" role="region" aria-labelledby="accordion-5-04" aria-hidden="true">
              <div>
                <p>解約の際は、<a href="#inquiry" class="c-Link_Txt js-scroll">コミュニケーションセンター</a>までお問い合わせください。なお、解約に伴う、違約金は掛かりませんので、ご安心ください。</p>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-5-05" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5-05">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten Casaの設置場所を変更したい場合、どうすればいいですか？
            </button>
            <div id="accordion-content-5-05" class="c-Accordion_Panel plan-program-Info_Accordion-qapanel js-Accordion_Panel" role="region" aria-labelledby="accordion-5-05" aria-hidden="true">
              <div>
                <p>引っ越しなどでRakuten Casa設置場所が変更になる場合は、Rakuten Casaのご解約およびご返却のお手続きが必要となります。新しい場所に設置される場合は改めてのご契約となります。<br>
                  ご解約およびご返却のお手続きは、<a href="#inquiry" class="c-Link_Txt js-scroll">コミュニケーションセンター</a>までご連絡ください。</p>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-5-06" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5-06">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten Casaが壊れた場合、交換できますか？また、違約金はかかりますか？
            </button>
            <div id="accordion-content-5-06" class="c-Accordion_Panel plan-program-Info_Accordion-qapanel js-Accordion_Panel" role="region" aria-labelledby="accordion-5-06" aria-hidden="true">
              <div>
                <p>設置契約者の故意過失等による故障・破損の場合、設置契約者の費用負担にて修理交換等を行います。故障破損が生じた場合は、速やかに<a href="#inquiry" class="c-Link_Txt js-scroll">コミュニケーションセンター</a>までご連絡ください。</p>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-5-07" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5-07">
              <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Wi-FiやLTEの機能をOFFにすることは可能ですか？
            </button>
            <div id="accordion-content-5-07" class="c-Accordion_Panel plan-program-Info_Accordion-qapanel js-Accordion_Panel" role="region" aria-labelledby="accordion-5-07" aria-hidden="true">
              <div>
                <p>Wi-Fi機能をOFFにすることはできますが、LTE機能をOFFにすることはできません。</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="inquiry">お問い合わせ窓口</h2>
    <p class="u-Adjust_Mt-16">「<a class="c-Link_Txt" href="#faq">よくあるご質問</a>」で問題が解決しない場合は以下にご連絡ください。</p>
    <div class="c-Theme-Light u-Adjust_Mt-48">
      <h3 class="c-Heading_Lv3">コミュニケーションセンター</h3>
      <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">電話でお問い合わせ</h4>
      <h5 class="c-Heading_Lv4 u-Adjust_Mt-8">【個人・法人のお客様】</h5>
      <p class="u-Adjust_Mt-16">お問い合わせ先 0800-805-0400（通話料無料）<br>
        営業時間 【個人のお客様】9:00～17:00／無休【法人のお客様】9:00～18:00／土日祝日・年末年始（12/31～1/3）を除く</p>
    <h4 id="movechat" class="c-Heading_Lv4 u-Adjust_Mt-32">チャットでお問い合わせ</h4>
    <h5 class="c-Heading_Lv4 u-Adjust_Mt-8">【個人のお客様のみ】</h5>
    <p class="u-Adjust_Mt-16">空き時間で気軽にお問合わせ。</p>

    <div class="faq-Layout_Chat u-Adjust_Mt-16">
      <div class="c-Infobox_Standing-white" id="anc01" style="padding: 16px;background-color: #fff;">
        <h4 class="c-Heading_Lv4">お申し込み済み・ご契約中の方</h4>
        <p class="c-Txt_Cap u-Adjust_Mt-16">
          ※チャット相談のご利用にはmy 楽天モバイルへのログインが必要です。
        </p>
        <p class="js-waiting-member-message u-Adjust_Mt-16 u-Adjust_Mb-24"></p>
        <div>
          <a class="c-Btn_Regular" href="https://portal.mobile.rakuten.co.jp/technical-operation?action=supportChat" data-ratId="faq_myrakuten_web" data-ratEvent="click" data-ratParam="all"><span>チャット相談を利用する</span></a>
        </div>
        <div class="c-Accordion u-Adjust_Mt-24">
          <button id="accordion-99" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-99"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>公式アプリ「my 楽天モバイル」</button>
          <div id="accordion-content-99" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-99" aria-hidden="true">
            <div class="faq-Layout_App">
              <div class="faq-Layout_Img"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" width="96" alt=""></div>
              <div class="faq-Layout_Txt">
                <h4 class="c-Heading_Lv4">「my 楽天モバイル」公式アプリ</h4>
                <p class="u-Adjust_Mt-16">空き時間で気軽にお問い合わせ（コミュニケーションセンターの営業時間 9:00〜23:00）</p>
                <p class="u-Adjust_Mt-16"></p>
                <ul class="c-Box_App-link faq-Layout_App-box u-Adjust_Mt-16">
                  <li class="faq-Layout_Btn-store">
                    <div class="faq-Layout_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank" data-ratId="faq_myrakuten_google" data-ratEvent="click" data-ratParam="all"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
                    <div class="faq-Layout_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank" data-ratId="faq_myrakuten_apple" data-ratEvent="click" data-ratParam="all"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
                  </li>
                </ul>
              </div>
            </div>
            <p class="u-Adjust_Mt-16"><a href="#modal-chat-howto" class="js-Modal c-Link_Txt-icon-front" data-ratId="faq_myrakuten_modal_howto" data-ratEvent="click" data-ratParam="all"><span class="c-Icon_Zoom-in-l"></span>チャット相談の利用方法を見る</a></p>
            <div id="modal-chat-howto" style="display:none;">
              <h4 class="c-Heading_Lv2">ご利用の流れ</h4>
              <ol class="c-Flow">
                <li><span class="c-Txt_Alphanumeric-m">1</span>
                  <h4 class="c-Heading_Lv4">my 楽天モバイルを起動し、画面右下のアイコンをタップ</h4>
                  <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/inquiry/img-flow-1.png?200401" class="c-Img_Capture" alt=""></div>
                </li>
                <li><span class="c-Txt_Alphanumeric-m">2</span>
                  <h4 class="c-Heading_Lv4">質問を入力。アドバイザーが回答いたします。</h4>
                  <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/inquiry/img-flow-3.png" class="c-Img_Capture" alt=""></div>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="casa-attention">注意事項</h2>
    <p class="u-Adjust_Mt-16">Rakuten Casaを利用する場合は、設置規約および重要事項説明書を必ずご確認いただき、内容にご同意のうえご使用ください。</p>
    <ul class="u-Adjust_Mt-16">
      <li><p><a href="<%= sitepath %>area/rakuten-casa/attention/" class="c-Link_Txt-inline">注意事項<span class="c-Icon_Chevron-right"></span></a></p></li>
      <li class="u-Adjust_Mt-8"><p><a href="<%= sitepath %>terms/pdf/rakuten_casa.pdf?200821" class="c-Link_Txt-inline" target="_blank">設置規約（個人のお客様）<span class="c-Icon_Pdf-l"></span></a></p></li>
      <li class="u-Adjust_Mt-8"><p><a href="<%= sitepath %>terms/pdf/rakuten_casa_important_explanation.pdf?20230324" class="c-Link_Txt-inline" target="_blank">重要事項説明書（個人のお客様）<span class="c-Icon_Pdf-l"></span></a></p></li>
      <li class="u-Adjust_Mt-8"><p><a href="<%= sitepath %>pdf/terms/rakuten_casa_startguide.pdf?220914" class="c-Link_Txt-inline" target="_blank">Rakuten Casa（初代）のスタートガイド<span class="c-Icon_Pdf-l"></span></a></p></li>
      <li class="u-Adjust_Mt-8"><p><a href="<%= sitepath %>terms/pdf/rakuten_casa-6_startguide.pdf?230911" class="c-Link_Txt-inline" target="_blank">Rakuten Casa 6のスタートガイド<span class="c-Icon_Pdf-l"></span></a></p></li>
      <!-- <li class="u-Adjust_Mt-8"><p><a href="<%= sitepath %>terms/pdf/rakuten_casa_for_business.pdf?210412" class="c-Link_Txt-inline" target="_blank">設置規約（法人のお客様）<span class="c-Icon_Pdf-l"></span></a></p></li> -->
    </ul>

  </div>
</div>

<footer class="g-Footer">

  <div>

    <%- include('/include/footer/related/_related-service-v2.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%#- include('/faq/include/related-service.ejs') %>

  </div>
  <div class="c-Breadcrumbs_Foot">
    <div class="l-System_Container">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
          <%_ let dirs = []; _%>
          <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
              <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
              <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
          <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script>
    (function ($) {
        $(function (e) {
           var hash = location.hash;
           if (hash.length > 0) {
             hash = hash.replace('#', '');
           }
           if ($('.js-Accordion_Trigger[data-number="' + hash + '"]').length > 0) {
             if ($('#tab-menu2').attr('aria-selected') === 'false') {
              $('#tab-menu2').click();
            }
            if ($('.js-Accordion_Trigger[data-number="' + hash + '"]').attr('aria-expanded') === 'false') {
              $('.js-Accordion_Trigger[data-number="' + hash + '"]').click();
              $("html,body").animate({scrollTop:$('.js-Accordion_Trigger[data-number="' + hash + '"]').offset().top});
            }
           }
        });
    })(jQuery);
</script>
<%- include('/include/_append-body') %>
</body>
</html>
