<% const pagetitle = "アンケート回答で楽天ポイント10ポイントプレゼント！楽天モバイル認知度調査" -%>
<% const directories = [{path:"", label:""}] -%>
<% const namespace = "mobile-recognition-survey" -%>
<% const information = {
  campaignState:'start'
}; %>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: 'アンケート回答で楽天ポイント10ポイントプレゼント！楽天モバイル認知度調査',
  keywords: '',
  noindex: true,
  pathname: filepath
});
%>
<% const finishSchedule = "2024年2月14日" -%>
<% const hiddenItem = "false" -%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/<%= namespace %>/<%= namespace %>.css?20240424">
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header',{applyHide:true}) %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Hero_Return">
      <div class="l-System_Container <%= namespace %>-Hero_Container">
        <div class="<%= namespace %>-Hero_Main">
          <h1><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-heading-pc.png?240115" alt="アンケート回答で楽天ポイント10ポイントプレゼント！ 楽天モバイル認知度調査アンケート アンケート所要時間 4分程度 回答締切 2024年2月14日（水）17:00まで" class="<%= namespace %>-Utility_Img-pc"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-heading-sp.png?240115" alt="アンケート回答で楽天ポイント10ポイントプレゼント！ 楽天モバイル認知度調査アンケート アンケート所要時間 4分程度 回答締切 2024年2月14日（水）17:00まで" class="<%= namespace %>-Utility_Img-sp"></h1>
        </div>
      </div>
    </div>

    <div class="<%= namespace %>-Layout_Body">
      <div class="l-System_Container">
        <% if (information.campaignState == 'finish') { %>
          <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは<%= finishSchedule %>をもちまして終了いたしました。<br>
            このページに掲載されている情報は、キャンペーン終了時点のものです。</p>
        <% } else { %>
          <!-- else -->
        <% } %>
        <p>楽天モバイルでは、お客様により良いサービスを提供できるように努力を続けております。<br>
          その一環として、楽天モバイルの認知度調査を目的にお客様にアンケートのご協力をお願いしております。</p>
        <p class="u-Adjust_Mt-16">ぜひアンケートへのご協力をお願いいたします。</p>

        <div class="u-Adjust_Mt-24">
          <div class="u-Adjust_Align-center">
            <a href="https://r10.to/hP7mNk" class="c-Btn_Primary-large"><span>アンケートに回答する</span></a>
          </div>
        </div>
        <p class="u-Adjust_Mt-16 <%= namespace %>-Txt_Left-sp c-Txt_Cap"><span>※</span>アンケート回収上限に到達した場合、期日を前に終了となります。</p>

        <div class="u-Adjust_Mt-40">
          <h3 class="c-Heading_Lv3">アンケート回答で10ポイントプレゼント！楽天モバイル認知度調査　ルール</h3>
          <dl class="c-Dl_Origin u-Adjust_Mt-24">
            <div>
              <dt>アンケート実施期間</dt>
              <dd>
                <p>2024年1月15日（月）9:00～2024年2月14日（水）17:00まで</p>
              </dd>
            </div>
            <div>
              <dt>エントリー</dt>
              <dd>
                <p>不要</p>
              </dd>
            </div>
            <div>
              <dt>ポイント獲得条件</dt>
              <dd>
                <p>期間内に本アンケートへの回答をされた方</p>
                <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
                  <li>アンケートへの回答は、お一人様1回までとなります。</li>
                    <li>本ページからの遷移のみ対象となります。</li>
                </ul>
              </dd>
            </div>
            <div>
              <dt>特典</dt>
              <dd>
                <p>楽天ポイント　10ポイント進呈</p>
              </dd>
            </div>
            <div>
              <dt>ポイント進呈日</dt>
              <dd>
                <p class="c-Txt_Emp-01">2024年3月末日ごろのポイント進呈となります。</p>
                <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
                  <li>楽天ポイントの進呈は、楽天モバイルより行います</li>
                  <li>権利の譲渡はできません</li>
                  <li>進呈するポイントの有効期限は進呈日を含めて6カ月間の<a href="https://ichiba.faq.rakuten.net/detail/000006532" class="c-Link_Txt-inline" target="_blank">期間限定ポイント<span class="c-Icon_New-window-l"></span></a>となります</li>
                  <li>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
                </ul>
              </dd>
            </div>
            <div>
              <dt>特典適用対象外</dt>
              <dd>
                <p class="c-Txt_Emp-01">
                  以下の条件に当てはまる場合は、特典適用対象外となります。
                </p>
                <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
                  <li>ポイント進呈までに楽天会員から退会している場合。</li>
                  <li>当社または楽天グループ株式会社が定める規約などに違反した場合。</li>
                </ul>
              </dd>
            </div>
            <div>
              <dt>ご注意事項</dt>
              <dd>
                <ul class="c-Cpn_List-mark-1 c-Txt_Cap u-Adjust_Mt-0">
                  <li class="u-Adjust_Mt-0">本アンケートは予告なく内容の変更、中止もしくは延長をさせていただく場合があります。あらかじめご了承ください。</li>
                  <li>進呈ポイントはお送りしたアンケートにより異なる場合がございます。</li>
                  <li>メンテナンスなどにより、アンケートにご回答いただけない場合がございます。</li>
                </ul>
              </dd>
            </div>
          </dl>
        </div>

      <% if (hiddenItem == 'true') { %>
        <div class="c-Accordion">
          <button id="accordion-past-rule" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-past-rule"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>過去のキャンペーン</button>
          <div id="accordion-content-past-rule" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-past-rule" aria-hidden="true">
            <div>
            </div>
          </div>
        </div>
      <% } %>
      </div>
    </div>

    <footer class="g-Footer <%= namespace %>-Layout_Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
</body>
</html>
