<% const pagetitle = "Rakuten Turbo 5G | 製品" -%>
<% const namespace = "turbo-Product" %>
<% const imgDir = `${sitepath}assets/img/internet/turbo/product/` %>
<%-
 include('/_header', {
    pagetitle,
    description: '楽天モバイルのホームルーターRakuten Turboの製品、Rakuten Turbo 5G（ラクテン ターボ ファイブジー）の紹介。特長、製品仕様（スペック）、テザリングやモバイルWi-Fiとの比較をご確認いただけます',
    noindex: false,
    pathname: filepath,
    isTurbo: true,
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/internet/turbo/product/product.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/internet/turbo/_prepend-body-internet') %>
  <div class="l-System">
    <%- include('/include/internet/turbo/_header', {
      pagetitle: 'Rakuten Turbo 5G',
      tax: false,
    }) %>

    <nav class="<%= namespace %>-Nav" id="nav_menu">
      <ul class="<%= namespace %>-Nav_List <%= namespace %>_Utility-display-pc-another">
        <li class="<%= namespace %>-Nav_Item"><a href="#rakuten_turbo_5g" class="<%= namespace %>-Nav_Link js-scroll"><span class="c-Icon_Arrow-down-l <%= namespace %>-Router-Area_arrow"></span>Rakuten Turbo 5Gの特長</a></li>
        <li class="<%= namespace %>-Nav_Item"><a href="#advantages" class="<%= namespace %>-Nav_Link js-scroll"><span class="c-Icon_Arrow-down-l <%= namespace %>-Router-Area_arrow"></span>モバイルルーターとの比較</a></li>
        <li class="<%= namespace %>-Nav_Item"><a href="#product" class="<%= namespace %>-Nav_Link js-scroll"><span class="c-Icon_Arrow-down-l <%= namespace %>-Router-Area_arrow"></span>製品仕様</a></li>
      </ul>

      <ul class="<%= namespace %>-Nav_List <%= namespace %>_Utility-display-sp-another">
        <li class="<%= namespace %>-Nav_Item"><a href="#rakuten_turbo_5g" class="<%= namespace %>-Nav_Link js-scroll"><span class="c-Icon_Arrow-down-l <%= namespace %>-Router-Area_arrow"></span>特長</a></li>
        <li class="<%= namespace %>-Nav_Item"><a href="#advantages" class="<%= namespace %>-Nav_Link js-scroll"><span class="c-Icon_Arrow-down-l <%= namespace %>-Router-Area_arrow"></span>比較</a></li>
        <li class="<%= namespace %>-Nav_Item"><a href="#product" class="<%= namespace %>-Nav_Link js-scroll"><span class="c-Icon_Arrow-down-l <%= namespace %>-Router-Area_arrow"></span>製品仕様</a></li>
      </ul>
    </nav>

    <section class="<%= namespace %>-Kv">
      <h1 class="<%= namespace %>-Kv_Img">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= imgDir %>kv-sp.png" width="375" height="360">
          <source media="(max-width: 1064px)" srcset="<%= imgDir %>kv-tablet.png" width="768" height="445">
          <img src="<%= imgDir %>kv-pc.png" alt="工事不要！すぐに使える、おうちのWiFi Rakuten Turbo 5G" width="1444" height="445">
        </picture>
      </h1>
      <div class="l-System_Container">
        <p class="<%= namespace %>-Kv_Attention c-Txt_Cap">※表記の金額は特に記載のある場合を除き全て税込です。<br class="<%= namespace %>_Utility-display-sp">※5Gは一部エリアのみ</p>

        <div class="u-Adjust_Pt-32">
          <ul class="turbo-Upper-button_Inner-items">
            <li class="turbo-Upper-button_Inner-item">
              <a href="<%= sitepath %>internet/turbo/application/?l-id=rmt_application_01" class="turbo-Upper-button_Inner-primary" data-lid_parts="Upperbtn" data-ratid="rmt_application_01" data-ratevent="click" data-ratparam="all">
                <span class="turbo-Upper-button_Inner-icon c-Icon_Cart-l"></span>
                <span>Webで<br>お申し込み</span>
              </a>
            </li>
            <li class="turbo-Upper-button_Inner-item">
              <a href="<%= sitepath %>shop/?l-id=rmt_shop_02" class="turbo-Upper-button_Inner-secondly" data-lid_parts="Upperbtn" data-ratid="rmt_shop_02" data-ratevent="click" data-ratparam="all">
                <span class="turbo-Upper-button_Inner-icon c-Icon_Shop-l"></span>
                <span>ショップで<br>ご相談</span>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </section>

    <section class="<%= namespace %>-Router-Area u-Adjust_Mt-40">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Router-Area_Title u-Adjust_Align-center" data-ratid="scroll-01_features" data-ratevent="appear">楽天のホームルーター<br>「Rakuten Turbo 5G」<br class="<%= namespace %>_Utility-display-sp">（ラクテンターボファイブジー）</h2>
          <div class="<%= namespace %>-Router-Area_Content">
            <div class="<%= namespace %>-Router-Area_Content-box">

              <a href="#rakuten_turbo_5g" data-ratid="menu-01_turbo5g" data-ratevent="click" data-ratparam="all" class="<%= namespace %>-Router-Area_link js-scroll">
                <div class="<%= namespace %>-Router-Area_link-flex">
                  <span class="c-Icon_Arrow-down-l <%= namespace %>-Router-Area_arrow"></span>
                  <p>Rakuten Turbo 5Gの特長</p>
                </div>
              </a>
            </div>
            <div class="<%= namespace %>-Router-Area_Content-box">
              <a href="#advantages" data-ratid="menu-02_advantages" data-ratevent="click" data-ratparam="all" class="<%= namespace %>-Router-Area_link js-scroll">
                <div class="<%= namespace %>-Router-Area_link-flex">
                  <span class="c-Icon_Arrow-down-l <%= namespace %>-Router-Area_arrow"></span>
                  <p>モバイルルーターとの比較</p>
                </div>
              </a>
            </div>
            <div class="<%= namespace %>-Router-Area_Content-box">
              <a href="#product" data-ratid="menu-03_product" data-ratevent="click" data-ratparam="all" class="<%= namespace %>-Router-Area_link js-scroll">
                <div class="<%= namespace %>-Router-Area_link-flex">
                  <span class="c-Icon_Arrow-down-l <%= namespace %>-Router-Area_arrow"></span>
                  <p>製品仕様</p>
                </div>
              </a>
            </div>
        </div>
      </div>
    </section>

    <section class="<%= namespace %>-Feature u-Adjust_Pt-56" id="rakuten_turbo_5g">
      <div class="l-System_Container">
        <div class="<%= namespace %>-Feature_Head">
          <h2 class="c-Heading_Lv2 u-Adjust_Align-center">Rakuten Turbo 5Gの特長</h2>
          <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= imgDir %>feature-icons-sp.png" width="337" height="80">
              <img src="<%= imgDir %>feature-icons-pc.png" alt="Wi-Fi6 有線LAN QRコード接続 WPS対応" width="456" height="108">
            </picture>
          </div>
        </div>

        <div class="<%= namespace %>-Feature_Item-01 u-Adjust_Mt-56">
          <h2 class="c-Heading_Lv2">工事不要、コンセントにさすだけ。</h2>
          <p class="u-Adjust_Mt-16">煩わしい工事も不要だから、その日から使える。Wi-Fiへの接続も、QRコードの読み込みや、WPSのボタン１つでかんたん。</p>
          <p class="c-Txt_Cap u-Adjust_Mt-8">※QRコード（かんたん接続用コード）が記載されたシールは製品に同梱されています。画像はイメージです</p>
          <div class="u-Adjust_Mt-24 <%= namespace %>_Utility-display-sp">
              <img src="<%= imgDir %>feature-01-sp.png" alt="" width="342" height="379" loading="lazy">
          </div>
          <div class="<%= namespace %>_Utility-display-pc">
            <img src="<%= imgDir %>feature-01-pc-230323.png" alt="" width="1032" height="320" loading="lazy">
        </div>
        </div>

        <div id="js-fixed-btn-trigger"></div>

        <div class="<%= namespace %>-Feature_Item-02">
          <h2 class="c-Heading_Lv2">リモートワークも快適。5Gをフルに活かした高速通信</h2>
          <p class="u-Adjust_Mt-16">5G対応。 下り最大2.14Gbpsの高速で、安定した通信環境を。</p>
          <div class="u-Adjust_Mt-24">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= imgDir %>feature-02-sp.png" width="342" height="315">
              <img src="<%= imgDir %>feature-02-pc.png" alt="" width="1032" height="320" loading="lazy">
            </picture>
          </div>
          <div class="<%= namespace %>-Feature_Item-02-body">
            <div class="<%= namespace %>-Feature_Item-02-body-text">
              <h3 class="c-Heading_Lv3" id="wifi_6" data-ratid="scroll-02_wi-fi6" data-ratevent="appear">5Gをフルに活かす次世代規格 Wi-Fi 6</h3>
              <p class="u-Adjust_Mt-16">「Wi-Fi 6（11ax）」は、多台数の機器が同時にWi-Fiにつながっている状態でも、通信の順番待ちが発生しないので、快適にWi-Fiを利用できます。</p>
            </div>
            <div class="<%= namespace %>-Feature_Item-02-body-anim">
              <p class="c-Txt_Emp-01 u-Adjust_Align-center">旧世代のWi-Fi規格</p>
              <p class="c-Txt_Emp-02 u-Adjust_Align-center">Rakuten Turbo</p>
              <div class="<%= namespace %>-Feature_Item-02-body-anim-main">
                <div id="js-lottie-anim-sp" class="<%= namespace %>-Feature_Item-02-body-anim-lottie"></div>
                <div id="js-lottie-anim-pc" class="<%= namespace %>-Feature_Item-02-body-anim-lottie"></div>
              </div>
              <p class="<%= namespace %>_Utility-text-center-pc c-Txt_Emp-01">１つずつのデバイスに繋がる</p>
              <p class="<%= namespace %>_Utility-text-center-pc c-Txt_Emp-02">一度に複数のデバイスに繋がる</p>
            </div>
          </div>
        </div>

        <div class="<%= namespace %>-Feature_Item-03" id="menu_target">
          <h2 class="<%= namespace %>-Feature_Item-03-head c-Heading_Lv2">家中の通信機器と<br>効率的に通信が可能</h2>
          <div class="<%= namespace %>-Feature_Item-03-img">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= imgDir %>feature-03-sp.png" width="343" height="269">
              <img src="<%= imgDir %>feature-03-pc.png" alt="" width="1030" height="785" loading="lazy">
            </picture>
          </div>
        </div>

        <div class="<%= namespace %>-Feature_Item-04">
          <h2 class="c-Heading_Lv2">インテリアにマッチする、コンパクトでシンプルなデザイン</h2>
          <div class="u-Adjust_Mt-24">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= imgDir %>feature-04-sp.png" width="342" height="315">
              <img src="<%= imgDir %>feature-04-pc.png" alt="" width="1032" height="320" loading="lazy">
            </picture>
          </div>
          <p class="c-Txt_Cap u-Adjust_Mt-64">※表記の通信速度はシステム上の最大通信速度であり、ご利用のエリアによって、最大通信速度が異なります。<br>※ベストエフォート方式のため、お客様の通信環境により実際の通信速度は変化します。ご利用の集中する時間帯（夜間など）は、サービス安定提供にともなう速度制限のため、通信速度が低下する場合があります。動画やファイル交換ソフトなどをご利用の場合は速度が低下する場合があります。</p>
        </div>
      </div>
    </section>

    <section class="<%= namespace %>-Fee-Area u-Adjust_Mt-56" >
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Fee-Area_Title">料金、エリアを詳しく見る</h2>
        <div class="<%= namespace %>-Fee-Area_Content u-Adjust_Mt-24">
          <div class="<%= namespace %>-Fee-Area_Content-box">
            <h3 class="c-Heading_Lv3 u-Adjust_Align-center u-Adjust_Mb-16" data-ratid="scroll-03_fee-area-link" data-ratevent="appear">データ無制限だから<br>追加料金なしで安心</h3>
            <img src="<%= imgDir %>img-fee-230510.png" width="232px" height="88px" alt="">
            <div class="<%= namespace %>-Fee-Area_Button u-Adjust_Mt-16">
              <a href="/internet/turbo/fee/" class="c-Btn_Regular-large"><span>料金を見る</span></a>
            </div>
            <p class="c-Txt_Cap u-Adjust_Align-center u-Adjust_Mt-16">※公平なサービス 提供のため速度制限する場合あり</p>
          </div>

          <div class="<%= namespace %>-Fee-Area_Content-box">
            <h3 class="c-Heading_Lv3 u-Adjust_Align-center u-Adjust_Mb-16">5G Sub6 / 4G LTE対応の<br>高速通信</h3>
            <img src="<%= imgDir %>img-area-230510.png" width="232px" height="88px" alt="">
            <div class="<%= namespace %>-Fee-Area_Button u-Adjust_Mt-16">
              <a href="/internet/turbo/area/" class="c-Btn_Regular-large"><span>エリアを見る</span></a>
            </div>
            <p class="c-Txt_Cap u-Adjust_Align-center u-Adjust_Mt-16">※5Gは一部エリアのみ</p>
          </div>
        </div>
      </div>
    </section>

    <section class="<%= namespace %>-Compare-Area u-Adjust_Mt-56">
      <div class="l-System_Container">
        <div class="<%= namespace %>-Compare_Title-Area"  id="advantages">
          <h2 class="c-Heading_Lv2 u-Adjust_Align-center" data-ratid="scroll-04_advantages" data-ratevent="appear">
            <span class="c-Txt_Emp-02 <%= namespace %>_Utility-display-pc c-Txt_Normal-m">
              ＼ホームルーターはこんな人におすすめ／
            </span>
            <span class="c-Txt_Emp-02 <%= namespace %>_Utility-display-sp c-Txt_Normal-m">
              ホームルーターは<br>＼こんな人におすすめ／
            </span>
            <span class="<%= namespace %>-Compare_Txt" style="display: block;">テザリングやモバイルWi-Fiとの違いを徹底比較！</span></h2>
          <p class="u-Adjust_Mt-24">ホームルーターをご検討中の方必見！スマホのテザリングやモバイルWi-Fi（ポケットWi-Fi）とどう違う？<br>ホームルーター「Rakuten Turbo」のメリット、お客様のご利用シーンに合わせたインターネット環境をご紹介します。</p>
        </div>
        <div class="<%= namespace %>-Compare_Container">
          <div class="<%= namespace %>-Compare_title-small">
            <h2 class="c-Txt_Emp-02 u-Adjust_Align-center">ホームルーター<br class="<%= namespace %>_Utility-display-sp">「Rakuten Turbo」のメリット</h2>
          </div>
          <div class="<%= namespace %>-Compare_Flex">
            <div class="<%= namespace %>-Compare_Flex-item">
              <picture>
                <source media="(max-width: 834px)" srcset="<%= imgDir %>img-sp-01.png">
                <img src="<%= imgDir %>img-pc-01.png" alt="複数接続でも快適に使える！" width="147">
              </picture>
            </div>
            <div class="<%= namespace %>-Compare_Flex-item">
              <picture>
                <source media="(max-width: 834px)" srcset="<%= imgDir %>img-sp-02.png">
              <img src="<%= imgDir %>img-pc-02.png" alt="接続範囲が広く途切れにくい！" width="143">
              </picture>
            </div>
            <div class="<%= namespace %>-Compare_Flex-item">
              <picture>
                <source media="(max-width: 834px)" srcset="<%= imgDir %>img-sp-03.png">
                <img src="<%= imgDir %>img-pc-03.png" alt=" Web会議も安心！Wi-Fi 6対応" width="173">
              </picture>
            </div>
          </div>
        </div>
      </div>

      <div class="<%= namespace %>-Compare_Table u-Adjust_Mt-32 c-Table_Wrap-scroll u-Adjust_Pt-40 u-Adjust_Pb-40" data-ratid="scroll-compare">
        <h3 class="u-Adjust_Align-center <%= namespace %>-Compare_Table-Title">Wi-Fiルーター比較表</h3>
        <div class="js-Scrollable scroll-hint is-scrollable">
        <div class="<%= namespace %>-Compare_Table-Container u-Adjust_Mt-32">
          <picture>
            <source media="(max-width: 834px)" srcset="<%= imgDir %>img-sp-graph.png">
            <img src="<%= imgDir %>img-pc-graph.png" alt="Wi-Fiルーター比較表">
          </picture>
          </div>
        </div>
      </div>

      <div class="l-System_Container c-Txt_Cap">
        <p class="c-Txt_Emp-02 u-Adjust_Mt-16">※ 楽天回線のデータ通信をご利用いただいた場合の比較となります</p>
        <p class="u-Adjust_Mt-8">※ベストエフォート方式のため、お客様の通信環境により実際の通信速度は変化します。ご利用の集中する時間帯（夜間など）はサービス安定提供にともなう速度制限のため、通信速度が低下する場合があります。動画やファイル交換ソフトなどをご利用の場合は速度が低下する場合があります</p>
        <p>※1 複数のデバイスが一度に繋がる次世代規格<a href="#wifi_6" class="c-Link_Txt-inline js-scroll">「Wi-Fi 6」の詳細はこちら</a></p>
      </div>

    </section>


    <section class="<%= namespace %>-Spec u-Adjust_Pt-56" id="product">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2" data-ratid="scroll-05_spec" data-ratevent="appear">製品仕様</h2>
        <div class="<%= namespace %>-Spec_Images">
          <div class="<%= namespace %>-Spec_Img">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= imgDir %>spec-side-sp.png" width="311" height="213">
              <img src="<%= imgDir %>spec-side-pc.png" alt="側面" width="251" height="213" loading="lazy">
            </picture>
          </div>
          <div class="<%= namespace %>-Spec_Img">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= imgDir %>spec-front-sp.png" width="311" height="213">
              <img src="<%= imgDir %>spec-front-pc.png" alt="正面" width="248" height="213" loading="lazy">
            </picture>
          </div>
          <div class="<%= namespace %>-Spec_Img">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= imgDir %>spec-top-sp.png" width="311" height="180">
              <img src="<%= imgDir %>spec-top-pc.png" alt="上面" width="221" height="201" loading="lazy">
            </picture>
          </div>
        </div>
        <div class="<%= namespace %>-Spec_Table">
          <div class="<%= namespace %>-Spec_Table-body">
            <dl class="c-Dl_Origin">
              <div>
                <dt>メーカー</dt>
                <dd>
                  製造元：Sercomm Corporation<br>
                  輸入元：サーコム・ジャパン株式会社
                </dd>
              </div>
              <div>
                <dt>製品名</dt>
                <dd>Rakuten Turbo 5G</dd>
              </div>
              <div>
                <dt>色</dt>
                <dd>ホワイト</dd>
              </div>
              <div>
                <dt>サイズ（H×W×D）</dt>
                <dd>約148×約110×約110 （mm）</dd>
              </div>
              <div>
                <dt>重さ</dt>
                <dd>約774g</dd>
              </div>
              <div>
                <dt>SIMタイプ</dt>
                <dd>nanoSIM</dd>
              </div>
              <div>
                <dt>付属品</dt>
                <dd>
                  ACアダプター×1<br>
                  LAN ケーブル×1<br>
                  クイックスタートガイド（安全上のご注意）<br>
                  パスカード
                </dd>
              </div>
              <div>
                <dt>通信速度</dt>
                <dd>
                  <p>
                    LTE受信時：最大391Mbps<br>
                    LTE送信時：最大76Mbps
                  </p>
                  <p class="u-Adjust_Mt-8">
                    sub6（5G NSA）受信時：最大2.1Gbps<br>
                    sub6（5G NSA）送信時：最大218Mbps
                  </p>
                </dd>
              </div>
              <div>
                <dt>クライアント最大接続数</dt>
                <dd>128台</dd>
              </div>
              <div>
                <dt>IPv6</dt>
                <dd>対応</dd>
              </div>
              <div>
                <dt>VPNパススルー機能</dt>
                <dd>非対応</dd>
              </div>
              <div>
                <dt>有線LAN規格</dt>
                <dd>1000BASE-T／100BASE-T／10BASE-T</dd>
              </div>
              <div>
                <dt>有線LAN規格伝達速度</dt>
                <dd>1Gbps</dd>
              </div>
              <div>
                <dt>LANポート数</dt>
                <dd>2ポート</dd>
              </div>
              <div>
                <dt>無線LAN規格</dt>
                <dd>IEEE 802.11a／b／g／n／ac／ax</dd>
              </div>
              <div>
                <dt>無線LAN周波数帯</dt>
                <dd>2.4GHz／5GHz</dd>
              </div>
              <div>
                <dt>無線LAN使用チャンネル</dt>
                <dd>
                  2.4GHz：1～13<br>
                  5GHz：36～64、100～144
                </dd>
              </div>
              <div>
                <dt>セキュリティ</dt>
                <dd>
                  WEP：非対応<br>
                  WPA：対応<br>
                  WPA2：対応<br>
                  WPA3：対応
                </dd>
              </div>
              <div>
                <dt>暗号化方式</dt>
                <dd>
                  WPA：PSK：TKIP<br>
                  WPA2：PSK：AES<br>
                  WPA3：Personal：SAE
                </dd>
              </div>
              <div>
                <dt>USBポート</dt>
                <dd>非対応</dd>
              </div>
              <div>
                <dt>動作環境</dt>
                <dd>
                  周囲温度：0～40℃<br>
                  周囲湿度：5～90％
                </dd>
              </div>
              <div>
                <dt>定格電圧</dt>
                <dd>12V</dd>
              </div>
              <div>
                <dt>定格電流</dt>
                <dd>2A</dd>
              </div>
              <div>
                <dt>最大消費電力</dt>
                <dd>14W</dd>
              </div>
              <div>
                <dt>電源</dt>
                <dd>ACアダプター</dd>
              </div>
              <div>
                <dt>入力</dt>
                <dd>AC100-240V、50／60Hz</dd>
              </div>
              <div>
                <dt>5G（Sub6）</dt>
                <dd>Band n77 （3.8GHz）</dd>
              </div>
              <div>
                <dt>5G（ミリ波）</dt>
                <dd>非対応</dd>
              </div>
              <div>
                <dt>FDD-LTE</dt>
                <dd>Band 3 （1.8GHz）</dd>
              </div>
              <div>
                <dt>TD-LTE</dt>
                <dd>非対応</dd>
              </div>
              <div>
                <dt>WCDMA</dt>
                <dd>非対応</dd>
              </div>
              <div>
                <dt>GSM</dt>
                <dd>非対応</dd>
              </div>
            </dl>
          </div>
          <div class="u-Adjust_Mt-16">
            <p>詳細なスペックは以下をご確認ください。</p>
            <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>assets/pdf/internet/turbo/Rakuten-Turbo-5G-manual.pdf?231102" class="c-Link_Txt-inline">取扱説明書<span class="c-Icon_Chevron-right"></span></a></p>
          </div>
        </div>
        <div class="u-Adjust_Mt-32">
          <h3 class="c-Heading_Lv3">設定サポート</h3>
          <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>internet/turbo/support/product/rakuten-turbo5g/" class="c-Link_Txt-inline">Rakuten Turbo 5G サポート情報を見る<span class="c-Icon_Chevron-right"></span></a></p>
        </div>
      </div>
    </section>

    <section class="u-Adjust_Mt-48">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">Turboもひかりも、どちらもおトク</h2>
      </div>
      <div class="u-Adjust_Mt-24">
        <%- include('/include/internet/turbo/common/_bnr', {
          orglid1: 'rmt_internet_turbo_product_internet_turbo_campaign_six-month-free_01',
          orglid2: 'rmt_internet_turbo_product_hikari_campaign_six-month-free_01'
        }) %>
      </div>
    </section>

    <%- include('/include/internet/turbo/_fixed-button') %>

    <div class="u-Adjust_Mt-48">
      <%- include('/include/internet/turbo/_more-nav', {
        hiddenBnr: true,
        hiddenProduct: true,
      }) %>
    </div>

    <div class="u-Adjust_Mt-24">
      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
      <%- include('/include/internet/turbo/_footer', {
        pagetitle,
      }) %>
    </div>
  </div>

  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/internet.turbo.product.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
  <%- include('/include/internet/turbo/_rex-survey-product') %>

</body>
</html>
