<% const pagetitle = "楽天グループサービスアプリ経由でのお申し込み方法（Rakuten最強プラン）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/application/flow/", label:"お申し込み方法"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天グループサービスアプリ経由で、Rakuten最強プランをお申し込みいただく方法をご案内いたします。',
    noindex: false,
    pathname: filepath,
  });
%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/guide.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/flow/application/data-type/data-type.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="l-System_Container u-Adjust_Pt-32">
  <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
  <p class="u-Adjust_Mt-32">楽天グループサービスアプリ経由で、Rakuten最強プランをお申し込みいただく方法をご案内いたします。</p>
  <p class="c-Txt_Cap u-Adjust_Mt-16">※プランのみのお申し込みが対象となります</p>

  <section class="u-Adjust_Mt-64">
    <h2 class="c-Heading_Lv2 u-Adjust_Mt-48">お申し込み前にご確認ください</h2>
    <ul class="data-type-List_Text-disc u-Adjust_Mt-16">
      <li>
        <p>楽天会員ログイン用のユーザーID、パスワードをご用意ください。</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天会員情報に「お支払い方法」「生年月日」「住所」「電話番号」「メールアドレス」「性別」が正しく登録されている必要があります。</p>
        <p class="u-Adjust_Mt-8"><a href="https://member.id.rakuten.co.jp/rms/nid/registfwdi" class="c-Link_Txt-inline-icon" target="_blank">楽天の会員登録（無料）をする<span class="c-Icon_New-window-l"></span></a></p>
      </li>
      <li class="u-Adjust_Mt-16">18歳未満のお客様は、こちらのお申し込み方法はご利用できません。</li>
      <li class="u-Adjust_Mt-16">
        <p class="u-Adjust_Mt-8">eSIMのご利用には楽天モバイル対応のeSIM対応製品が必要です。<a href="<%= sitepath %>product/byod/" class="c-Link_Txt">ご利用製品の対応状況はこちら</a></p>
      </li>
    </ul>
    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">お申し込み方法</h2>
    <div class="u-Adjust_Mt-16">
      <a href="#movie" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>お申し込み方法を動画で確認する</a>
    </div>

    <ol class="c-Flow u-Adjust_Mt-32">
      <li>
        <h3 class="c-Heading_Lv3">1. 楽天グループサービスアプリに表示されているバナーをタップする</h3>
        <p class="c-Txt_Cap u-Adjust_Mt-16">※お使いのアプリを起動し、バナーをタップしてください。</p>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">2. 「プランのみお申し込み」を選択する</h3>
        <p class="l-Media_Image u-Adjust_Mt-16">
          <img src="<%= sitepath %>assets/img/guide/flow/application/group/img-flow01-231109.png" class="c-Img_Capture" alt="">
        </p>
      </li>

      <li>
        <h3 class="c-Heading_Lv3">3. 「Rakuten最強プラン」を選択する</h3>
        <p class="l-Media_Image u-Adjust_Mt-16">
          <img src="<%= sitepath %>assets/img/guide/flow/application/group/img-flow02-231109.png" class="c-Img_Capture" alt="">
        </p>
      </li>


      <li>
        <h3 class="c-Heading_Lv3">4. 現在お使いの電話番号を引き継ぐかどうかを選択する</h3>
        <p class="l-Media_Image u-Adjust_Mt-16">
          <img src="<%= sitepath %>assets/img/guide/flow/application/group/img-flow03-231109.png" class="c-Img_Capture" alt="">
        </p>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">5. SIMタイプを選択し、重要事項説明などを確認する</h3>
        <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">SIMタイプ</h4>
        <p class="u-Adjust_Mt-16">ご利用したい製品にあわせてSIMタイプを選択してください。</p>
        <ul class="u-Adjust_Mt-16">
          <li class="c-Txt_Cap">※お申し込みの際は、「<a href="/product/certified-products/" class="c-Link_Txt">楽天回線対応製品</a>」を必ずご確認ください。</li>
          <li class="c-Txt_Cap u-Adjust_Mt-8">※eSIMについては「<a href="/product/sim/esim/" class="c-Link_Txt">eSIMとは？</a>」をご確認ください。</li>
        </ul>
        <p class="l-Media_Image u-Adjust_Mt-16">
          <img src="<%= sitepath %>assets/img/guide/flow/application/group/img-flow04-231109.png" class="c-Img_Capture" alt="">
        </p>

        <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">「重要事項説明」などの確認</h4>
        <p class="u-Adjust_Mt-16">重要事項説明などを確認し、「同意しました」にチェックを入れてください。</p>
        <p class="l-Media_Image u-Adjust_Mt-16">
          <img src="<%= sitepath %>assets/img/guide/flow/application/group/img-flow05-231109.png" class="c-Img_Capture" alt="">
        </p>

        <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">お申し込み内容の確認へ進む</h4>
        <p class="u-Adjust_Mt-16">「次へ進む」をタップして、お申し込み内容の確認へお進みください。</p>
        <p class="c-Txt_Cap u-Adjust_Mt-16">※以降の画面では、申し込み内容の変更は原則できませんのでご注意ください。</p>
        <p class="l-Media_Image u-Adjust_Mt-16">
          <img src="<%= sitepath %>assets/img/guide/flow/application/group/img-flow06-231109.png" class="c-Img_Capture" alt="">
        </p>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">6. 楽天モバイルにログインする</h3>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天会員に登録されていない方は新規登録を行ってください。</p>
        <p class="l-Media_Image u-Adjust_Mt-16">
          <img src="<%= sitepath %>assets/img/guide/flow/application/group/img-flow07-231030.png" class="c-Img_Capture" alt="">
        </p>

        <div class="c-Accordion u-Adjust_Mt-16">
          <button id="Accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="Accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ログイン時にエラーが出る場合</button>
          <div id="Accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="Accordion-1" aria-hidden="true">
            <p class="u-Adjust_Mt-16">以下の場合、ログイン時にエラーメッセージが表示されます。</p>
            <ul class="data-type-List_Text-disc">
              <li class="u-Adjust_Mt-16">
                <p class="u-Weight_Bold">契約者情報に不足がある場合</p>
                <p class="u-Adjust_Mt-8">契約者情報を入力する画面が表示されるため、必須情報を登録のうえ次の画面にお進みください。</p>
              </li>
              <li class="u-Adjust_Mt-16">
                <p class="u-Weight_Bold">楽天会員情報に支払い方法が未登録の場合</p>
                <p class="u-Adjust_Mt-8">エラーメッセージの案内にしたがって、お支払い方法をご登録のうえ、再度お申込みください。</p>
              </li>
              <li class="u-Adjust_Mt-16">
                <p class="u-Weight_Bold">楽天会員情報に登録されている年齢が18歳未満の場合</p>
                <p class="u-Adjust_Mt-8">18歳未満のお客様は、こちらのお申し込み方法はご利用できません。エラーメッセージの案内または「
                  <a href="<%= sitepath %>flow/for-minors/" class="c-Link_Txt">未成年のお客様がご利用になる場合のお申し込みの流れ</a> 」をご参照のうえ、お申し込みください。
                </p>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">7. オプション・サービスの加入有無を選択する</h3>
        <p class="l-Media_Image u-Adjust_Mt-16">
          <img src="<%= sitepath %>assets/img/guide/flow/application/group/img-flow08-231030.png" class="c-Img_Capture" alt="">
        </p>
      </li>

      <li>
        <h3 class="c-Heading_Lv3">8. お申し込み内容を確認し、申し込みを完了させる</h3>

        <div class="u-Adjust_Mt-32">
          <h4 class="c-Heading_Lv4">SIMタイプ</h4>
          <p class="u-Adjust_Mt-16">手順5で選択したSIMタイプが設定されていることをご確認ください。</p>
          <p class="l-Media_Image u-Adjust_Mt-16">
            <img src="<%= sitepath %>assets/img/guide/flow/application/group/img-flow09-231030.png" class="c-Img_Capture" alt="">
          </p>
        </div>

        <div class="u-Adjust_Mt-32">
          <h4 class="c-Heading_Lv4">オプションサービス</h4>
          <p class="u-Adjust_Mt-16">手順7で「15分（標準）かけ放題」に加入した場合、表示されていることをご確認ください。</p>
          <p class="c-Txt_Cap u-Adjust_Mt-16">※「加入しない」を選択された場合は表示されません。</p>
          <p class="l-Media_Image u-Adjust_Mt-16">
            <img src="<%= sitepath %>assets/img/guide/flow/application/group/img-flow10-231030.png" class="c-Img_Capture" alt="">
          </p>
        </div>

        <div class="u-Adjust_Mt-32">
          <h4 class="c-Heading_Lv4">電話番号</h4>
          <p class="u-Adjust_Mt-16">Rakuten最強プランで利用する電話番号が表示されます。</p>
          <p class="u-Adjust_Mt-16">手順4で選択した項目により、表示される内容は異なります。</p>
          <p class="u-Adjust_Mt-16"><span class="u-Weight_Bold">「引き継ぐ」を選択した場合</span><br>引き継ぐ予定の電話番号を入力してください。</p>
          <p class="l-Media_Image u-Adjust_Mt-16">
            <img src="<%= sitepath %>assets/img/guide/flow/application/group/img-flow11-231030.png" class="c-Img_Capture" alt="">
          </p>
          <p class="u-Adjust_Mt-16"><span class="u-Weight_Bold">「引き継がない」を選択した場合</span><br>ランダムで電話番号が割り当てられます</p>
          <p class="l-Media_Image u-Adjust_Mt-16">
            <img src="<%= sitepath %>assets/img/guide/flow/application/group/img-flow12-231030.png" class="c-Img_Capture" alt="">
          </p>
        </div>

        <div class="u-Adjust_Mt-32">
          <h4 class="c-Heading_Lv4">お支払い方法</h4>
          <p class="u-Adjust_Mt-16">楽天会員情報に登録されているお支払い方法が選択されます。</p>
          <p class="l-Media_Image u-Adjust_Mt-16">
            <img src="<%= sitepath %>assets/img/guide/flow/application/group/img-flow13-231030.png" class="c-Img_Capture" alt="">
          </p>
        </div>

        <div class="u-Adjust_Mt-32">
          <h4 class="c-Heading_Lv4">楽天ポイント利用設定</h4>
          <p class="u-Adjust_Mt-16">利用する楽天ポイントを設定できます。</p>
          <p class="u-Adjust_Mt-16">毎月のお支払いにあらかじめ設定した数のポイントを使いたい場合、「<a href="<%= sitepath %>guide/point-payment/" class="c-Link_Txt">楽天ポイントの利用設定</a>」をご確認のうえ、お申し込み完了後に設定してください。</p>
          <p class="l-Media_Image u-Adjust_Mt-16">
            <img src="<%= sitepath %>assets/img/guide/flow/application/group/img-flow14-231030.png" class="c-Img_Capture" alt="">
          </p>
        </div>

        <div class="u-Adjust_Mt-32">
          <h4 class="c-Heading_Lv4">契約者情報</h4>
          <p class="u-Adjust_Mt-16">表示されている契約者情報が正しいかご確認ください。</p>
          <ul class="u-Adjust_Mt-16">
            <li class="c-Txt_Cap">※変更が必要な場合は「契約者情報の変更はこちら」から変更可能です。</li>
          </ul>
          <p class="l-Media_Image u-Adjust_Mt-16">
            <img src="<%= sitepath %>assets/img/guide/flow/application/group/img-flow15-231030.png" class="c-Img_Capture" alt="">
          </p>
        </div>

        <div class="u-Adjust_Mt-32">
          <h4 class="c-Heading_Lv4">本人確認方法</h4>
          <p class="u-Adjust_Mt-16">
            お客様の条件に応じて、下記のいずれかの本人確認方法が適用されます。<br>
            各本人確認方法をご確認のうえ、お申し込みください。
          </p>

          <ul class="data-type-List_Text-disc u-Adjust_Mt-16">
            <li>
              2回線目以降をお申込みの方は、条件に応じて本人確認の提出が省略されます。<br>
              <a href="<%= sitepath %>faq/detail/10000813/" class="c-Link_Txt">条件はこちら</a>
            </li>
            <li class="u-Adjust_Mt-16">
              楽天グループで提出済みの書類で確認<br>
              <a href="<%= sitepath %>guide/verify/group-kyc/" class="c-Link_Txt">詳細はこちら</a>
            </li>
            <li class="u-Adjust_Mt-16">
              AIかんたん本人確認（eKYC）<br>
              <a href="<%= sitepath %>guide/verify/ekyc/" class="c-Link_Txt">詳細はこちら</a>
            </li>
            <li class="u-Adjust_Mt-16">
              受け取り時に自宅で確認<br>
              <a href="<%= sitepath %>guide/verify/home-kyc/" class="c-Link_Txt">詳細はこちら</a>
            </li>
          </ul>
        </div>

        <div class="u-Adjust_Mt-32">
          <h4 class="c-Heading_Lv4">申し込みを完了させる</h4>
          <p class="u-Adjust_Mt-16">
            「次へ」をタップすると、申し込み内容が表示されます。<br>
            内容をご確認のうえ、「この内容で申し込む」をタップしてください。
          </p>
          <p class="c-Txt_Cap u-Adjust_Mt-16">
            ※契約書の郵送をご希望の場合は「my楽天モバイルで契約内容を確認する」のチェックを外してください。
          </p>
          <p class="c-Txt_Cap u-Adjust_Mt-16">
            ※AIかんたん本人確認（eKYC）の場合は、押下後に画面の指示に従い、撮影を行ってください。
          </p>

          <p class="l-Media_Image u-Adjust_Mt-16">
            <img src="<%= sitepath %>assets/img/guide/flow/application/group/img-flow16-231030.png" class="c-Img_Capture" alt="">
          </p>
        </div>
      </li>

      <li>
        <h3 class="c-Heading_Lv3">9. お申し込み完了</h3>
        <p class="u-Adjust_Mt-16">お申し込み内容の確認などは、「<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile/" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">my 楽天モバイル<span class="c-Icon_New-window-l"></span></a>」でご確認いただけます。</p>
        <div class="u-Adjust_Mt-32">
          <h4 class="c-Heading_Lv4">注意事項</h4>
          <p class="u-Adjust_Mt-16">お申し込み画面の途中でオプションを追加することはできません。「my 楽天モバイル」から追加でお申し込みください。</p>
          <p class="u-Adjust_Mt-16 c-Txt_Cap">※15分（標準）通話かけ放題は手順7で追加可能です。</p>
        </div>
      </li>

    </ol>
  </section>

  <section id="movie" class="u-Adjust_Mt-32" style="overflow: hidden;">
    <h3 class="c-Heading_Lv3">お申し込み方法を動画で確認する</h3>
    <p class="u-Adjust_Mt-16">楽天グループサービスアプリ経由でのお申し込み方法を動画形式でご案内いたします。</p>
    <div class="guide-Layout_Video-pc u-Adjust_Mt-16">
      <!-- ::: PIP-Maker Start ::: -->
      <script type="text/javascript" src="https://www.pip-maker.com/js/pipmaker.js"></script>
      <div id="pipmaker5s08"><noscript>For viewing this content please enable the JavaScript.</noscript></div>
      <script type="text/javascript">
        pipmaker.priority = ["WebGL", "Flash", "HTML5"];
        pipmaker.embed("//www.pip-maker.com/?view=5s08", "pipmaker5s08", 800, 450);
      </script>
      <!-- ::: PIP-Maker End ::: -->
    </div>
    <div class="guide-Layout_Video-sp u-Adjust_Mt-16">
      <!-- ::: PIP-Maker Start ::: -->
      <script type="text/javascript" src="https://www.pip-maker.com/js/pipmaker.js"></script>
      <div id="pipmaker5s08sp"><noscript>For viewing this content please enable the JavaScript.</noscript></div>
      <script type="text/javascript">
        pipmaker.priority = ["WebGL", "Flash", "HTML5"];
        pipmaker.embed("//www.pip-maker.com/?view=5s08", "pipmaker5s08sp", 320, 180);
      </script>
      <!-- ::: PIP-Maker End ::: -->
    </div>
  </section>

  <!--
  <section class="u-Adjust_Mt-64 u-Adjust_Mb-40">
    <h2 class="c-Heading_Lv2">よく見られているご質問</h2>
    <p class="u-Adjust_Mt-16">よく見られているご質問をご案内します。お困りごとが解決しない場合は、各ページからチャットやお電話でお問い合わせいただけます。</p>
    <ul class="c-Link_List u-Adjust_Mt-24">
      <li>
        <a href="<%= sitepath %>faq/detail/10000812/">「Rakuten最強プラン」と「Rakuten最強プラン（データタイプ）」の違いは何ですか？<span class="c-Icon_Chevron-right guide-Faq_Items-icon"></span></a>
      </li>
      <li>
        <a href="<%= sitepath %>faq/detail/10000809/">「Rakuten最強プラン（データタイプ）」から「Rakuten最強プラン」への変更はできますか？<span class="c-Icon_Chevron-right guide-Faq_Items-icon"></span></a>
      </li>
      <li>
        <a href="<%= sitepath %>faq/detail/10000808/">「Rakuten最強プラン」から「Rakuten最強プラン（データタイプ）」への変更はできますか？<span class="c-Icon_Chevron-right guide-Faq_Items-icon"></span></a>
      </li>
      <li>
        <a href="<%= sitepath %>faq/detail/10000810/">「Rakuten最強プラン」か「Rakuten最強プラン（データタイプ）」のどちらを申し込んだか確認する方法はありますか？<span class="c-Icon_Chevron-right guide-Faq_Items-icon"></span></a>
      </li>
      <li>
        <a href="<%= sitepath %>faq/detail/10000811/">「Rakuten 最強プラン（データタイプ）」で、キャリア決済の月額利用可能額が設定できないのはなぜですか？<span class="c-Icon_Chevron-right guide-Faq_Items-icon"></span></a>
      </li>
    </ul>
  </section>
  -->

  <div class="u-Adjust_Align-center">
    <div class="u-Adjust_Mt-32"><a href="<%= sitepath %>support/" class="c-Btn_Regular data-type-Btn_Regular-normal"><span>お客様サポートトップに戻る</span></a></div>
    <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular data-type-Btn_Regular-normal"><span>楽天モバイルトップへ</span></a></div>
  </div>

  <div class="u-Adjust_Mt-16 guide-Btn_Bot" id="openchatbot">
    <a href="#openchatbot" data-ratId="floating-ai_chat_support" data-ratEvent="click" data-ratParam="all"><img src="<%= sitepath %>assets/img/common/img-aichat-bot.png" width="124" alt="Open chat Bot"></a>
    <div class="u-Adjust_Mt-16 guide-Btn_Bot-close">
      <div role="button" tabindex="0" id="closechatbot" class="guide-Btn_Bot-close-btn" aria-label="チャットボットを閉じる"><img src="<%= sitepath %>assets/img/common/img-aichat-close.png" width="20" alt=""></div>
    </div>
  </div>


  <%- include('/include/guide/_inquiry') %>
  <%- include('/include/guide/_review') %>
</div>

<footer class="g-Footer">
  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>
  <div class="c-Breadcrumbs_Foot">
    <div class="l-System_Container">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>

<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>

</body>
</html>
