<% const pagetitle = "Apple製品（iPhone、Apple Watch）のWebお申し込み在庫状況一覧" -%>
<% const directories = [{path:"product/", label:"製品"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルで販売しているApple製品（iPhone、Apple Watch）のWebお申し込み在庫状況一覧をご案内します。',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/iphone/stock/product-iphone-stock.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="l-System_Container u-Adjust_Mt-64">
  <h1 class="c-Heading_Lv1">Apple製品（iPhone、Apple Watch）のWebお申し込み在庫状況一覧</h1>

  <!-- 0915 削除対応だけど一応コメントアウト -->
  <!-- <p class="u-Adjust_Mt-32">在庫がある製品は、ご購入後最短3営業日<span class="c-Txt_Cap">※1</span>で発送いたします。<br>
    下記よりご購入ください。
  </p>
  <div class="u-Adjust_Mt-64 u-Adjust_Align-center">
    <a href="https://onboarding.mobile.rakuten.co.jp/apple" class="c-Btn_Regular-large"><span>iPhone • Apple Watchを購入する</span></a>
    <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>product/iphone/"  class="c-Link_Txt">iPhoneの詳細はこちら</a></p>
    <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>product/apple-watch/" class="product-iphone-stock-Layout_Txt-ss">Apple Watchの詳細はこちら</a></p>
  </div> -->

  <div class="u-Adjust_Mt-48">
    <p>
      iPhone 15 Pro Max、iPhone 15 Pro、iPhone 15 Plus、iPhone 15、Apple Watch Series 9、Apple Watch Ultra 2、Apple Watch SE（第2世代）のWebお申し込み用の在庫状況をご案内しています。<br>
      上記以外のApple製品に関しては、在庫がある場合、ご購入後最短3営業日<span class="c-Txt_Cap">※1</span>で発送いたします。
    </p>
    <p class="c-Txt_Emp-02">
      入荷待ちの製品はご注文可能ですが、お届けまで時間を要しております。
    </p>
    <ul class="c-Txt_Cap u-Adjust_Mt-8">
      <li>※ こちらの在庫状況は更新日時点のものであり、お申し込みタイミングによって在庫状況が変更となる場合がございます。</li>
      <li>※ 入荷状況のお問い合わせにはお答えいたしかねます。あらかじめご了承ください。</li>
    </ul>
    <p class="u-Align_Rrr u-Adjust_Mt-24">2024年5月21日更新</p>
  </div>
  <div class="c-Tab js-Tab u-Adjust_Mt-16">
    <ul class="c-Tab_Items" role="tablist">
      <li class="c-Tab_Item" id="tab-iphone-stock" role="tab" aria-selected="true" aria-controls="tab-content-iphone-stock">iPhone</li>
      <li class="c-Tab_Item" id="tab-watch-stock" role="tab" aria-selected="false" aria-controls="tab-content-watch-stock">Apple Watch</li>
    </ul>
    <div class="c-Tab_Panel" id="tab-content-iphone-stock" role="tabpanel" aria-hidden="false" aria-labelledby="tab-iphone-stock">
      <div id="iphone-stock"><%#
        vue rendering area
        - src/vue/product/iphone/stock/IphoneStock.vue
        - src/csv/product-iphone-stock.csv
      _%></div>
    </div>
    <div class="c-Tab_Panel" id="tab-content-watch-stock" role="tabpanel" aria-hidden="true" aria-labelledby="tab-watch-stock">
      <div id="watch-stock"><%#
        vue rendering area
        - src/vue/product/iphone/stock/WatchStock.vue
        - src/csv/product-watch-stock.csv
      _%></div>
    </div>
  </div>

  <p class="u-Adjust_Mt-64 c-Txt_Cap u-Adjust_Mt-16">
    ※1 離島および本州の一部を除く。本人確認の審査状況や悪天候の影響などで、お届けが遅れる場合がございます。配送状況は「<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile/" class="c-Link_Txt">my 楽天モバイル</a>」にログイン後、「お申し込み履歴」からご確認いただけます。
  </p>

</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-product-top-v2.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>

  <%#- include('/faq/include/related-product.ejs') %>

  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/product.iphone.stock.index.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
