<% const pagetitle = "持ち込みスマホあんしん保証（「iPhoneを探す」未解除のご案内）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"guide/replacement-warranty-sim/", label:"持ち込みスマホあんしん保証（ご利用方法）"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '持ち込みスマホあんしん保証サービスをご利用で、送付いただいた故障機の「iPhoneを探す」が未解除だったお客様へのご案内ページになります。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const namespace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= namespace %>/<%= namespace %>.css?20240424">
<%- include('/include/_append-head') %>

</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<section class="l-System_Container u-Adjust_Pt-32 u-Adjust_Pb-64">
  <h1 class="c-Heading_Lv1">持ち込みスマホあんしん保証サービス<br>【重要】返送された故障機の「iPhoneを探す」が未解除（オンの状態）です</h1>
  <p class="u-Adjust_Mt-24">いつも楽天モバイルをご利用いただきありがとうございます。</p>
  <p class="u-Adjust_Mt-16">「持ち込みスマホあんしん保証」サービスにおいて、「iPhoneを探す」が未解除（オンの状態）のまま故障機を送付いただいたお客様へのご案内になります。</p>

  <section id="preparation" class="<%= namespace %>-Layout_Section-separate-sm">
    <h2 class="c-Heading_Lv2">「iPhoneを探す」の解除（オフの状態）に変更をお願いします。</h2>
    <p class="u-Adjust_Mt-24">「iPhoneを探す」が未解除（オンの状態）のまま故障機を送付された場合、<a href="<%= sitepath %>terms/pdf/rakuten_mobile_replacement_warranty_sim.pdf?221122" class="c-Link_Txt-inline-icon">利用規約<span class="c-Icon_Pdf-l"></span></a><span class="c-Txt_Emp-02">に基づき違約金の請求が発生する可能性がございます。</span></p>
    <p class="u-Adjust_Mt-16">つきましては、至急「iPhoneを探す」を解除（オフの状態）に変更をお願いいたします。</p>
    <div class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/iphone/find-my-iphone-off/" class="c-Link_Txt-inline-icon">「iPhoneを探す」をオフにする方法<span class="c-Icon_Chevron-right"></span></a></div>
    <p class="u-Adjust_Mt-16">数日以内に「iPhoneを探す」の解除（オフの状態）が確認できない場合、違約金66,000円（税込）をご請求させていただきます。</p>

    <div class="<%= namespace %>-Layout_Section-separate-sm">
      <p>その他ご不明点がございましたら、サービス案内ページとよくあるご質問をご参照ください。</p>
      <div class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>service/replacement-warranty-sim/" class="c-Btn_Regular"><span>持ち込みスマホあんしん保証のサービス案内を見る</span></a>
      </div>
      <div class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>faq/detail/00001717/" class="c-Btn_Regular"><span>よくあるご質問を見る</span></a>
      </div>
    </div>
  </section>
</section>

<footer class="g-Footer">

  <div class="g-Footer_Aside">
  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
