<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "ステップ2" -%>
<% const directories = [{path: hikariroot.path + "support/", label:"お客様サポート"}, {path: hikariroot.path + "support/setting/mail/", label:"メール設定方法"}, {path: "", label:"Windows10／Windows11"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Windows10／Windows11メールアプリの設定方法をご案内します。',
    noindex: false,
    pathname: filepath,
    ishikari: true,
    canonical_custom: 'https://network.mobile.rakuten.co.jp/hikari/support/setting/mail/windows10/step-02/',
  });
%>
<%- include('/include/hikari/_common-v2-hikari-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/support/support.css?20240424">
<%- include('/include/_append-head-hikari') %>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>

<div class="l-System">

  <style>
    .c-hikari-Breadcrumbs_Head ul li:nth-last-child(2) .c-Icon_Chevron-right,
    .c-hikari-Breadcrumbs_Foot ul li:nth-last-child(2) .c-Icon_Chevron-right {
      margin-left: 0.5em;
    }
  </style>
  <%- include('/hikari/include/_header', { headerType: 'normal', pagetitle: pagetitle, directories: directories, tax: false }) %>

  <div class="l-hikari-Section_Main">
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1">Windows10／Windows11のメールアプリ設定方法</h1>
      <div class="l-hikari-Section_Main-lead">
        <p>Windows10／Windows11 メールアプリ（メールアカウントの追加）の方法をご案内します</p>
        <ul class="c-Txt_Cap u-Adjust_Mt-8">
          <li><span>※</span>この説明は、Windows10／Windows11 メールアプリが正常にインストールされていることを前提として作成しています。</li>
        </ul>
      </div>

      <div class="hikari-support-Nav">
        <ul>
          <li><a href="<%= sitepath %><%= hikariroot.path %>support/setting/mail/windows10/step-01/" data-lid_no="01" class="c-Link_Txt-inline">ステップ1. メールアカウントの作成<span class="c-Icon_Arrow-right-l"></span></a></li>
          <li><span class="c-Txt_Emp">ステップ2. メールアカウントの追加</span></li>
          <li><a href="<%= sitepath %><%= hikariroot.path %>support/setting/mail/windows10/step-03/" data-lid_no="01" class="c-Link_Txt-inline">ステップ3. メールアカウントの設定確認<span class="c-Icon_Arrow-right-l"></span></a></li>
          <li><a href="<%= sitepath %><%= hikariroot.path %>support/setting/mail/windows10/step-04/" data-lid_no="01" class="c-Link_Txt-inline">ステップ4. メールの作成・送受信<span class="c-Icon_Arrow-right-l"></span></a></li>
        </ul>
      </div>

      <div class="l-hikari-Section_Sub-short">
        <h2 class="c-Heading_Lv2">ステップ2.  Windows10／Windows11のメールアカウントの追加手順</h2>

        <ul class="l-hikari-Section_Sub-content-short c-Flow">
          <li>
          <h3 class="c-Heading_Lv3">1. アカウントの管理</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/windows10/step-02/img01-220911.png" alt="">
              </div>
              <div>
                <p>メニューから「設定」アイコンを選択し、「アカウントの管理」を選択します。</p>
              </div>
            </div>
          </li>


          <li>
            <h3 class="c-Heading_Lv3">2. アカウントの追加</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/windows10/step-02/img02-220911.png" alt="">
              </div>
              <div>
                <p>「＋アカウントの追加」を選択します。</p>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">3. アカウントの選択</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/windows10/step-02/img03-220911.png" alt="">
              </div>
              <div>
                <p>「詳細設定」を選択します。</p>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">4. 詳細設定</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/windows10/step-02/img04-220911.png" alt="">
              </div>
              <div>
                <p>「インターネット メール」を選択します。</p>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">5. サインイン</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/windows10/step-02/img05-220911.png" alt="">
              </div>
              <div>
                <p>以下を参考に情報を入力し、「サインイン」を選択します。</p>

                <div class="c-Table_Wrap l-hikari-Section_Sub-content-tall c-Table hikari-support-Table">
                  <table class="c-Table_Container">
                    <thead>
                      <tr>
                        <th colspan="2">メールアカウント</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><span>1. メールアドレス</span></td>
                        <td><span>メールアドレスを入力</span></td>
                      </tr>
                      <tr>
                        <td><span>2. ユーザー名</span></td>
                        <td><span>メールアドレスを入力</span></td>
                      </tr>
                      <tr>
                        <td><span>3. パスワード</span></td>
                        <td><span>メールパスワードを入力</span></td>
                      </tr>
                      <tr>
                        <td><span>4. アカウント名</span></td>
                        <td><span>任意のお名前を入力</span></td>
                      </tr>
                      <tr>
                        <td><span>5. この名前を使用してメッセージを送信</span></td>
                        <td><span>任意のお名前を入力</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="c-Table_Wrap l-hikari-Section_Sub-content-tall c-Table hikari-support-Table">
                  <table class="c-Table_Container">
                    <thead>
                      <tr>
                        <th colspan="2">受信用メールサーバー（POP）</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><span>6. 受信メールサーバー</span></td>
                        <td><span>popmail.gol.com</span></td>
                      </tr>
                      <tr>
                        <td><span>7. アカウントの種類</span></td>
                        <td><span>POP3 を選択</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="c-Table_Wrap l-hikari-Section_Sub-content-tall c-Table hikari-support-Table">
                  <table class="c-Table_Container">
                    <thead>
                      <tr>
                        <th colspan="2">送信用メールサーバー（SMTP）</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><span>8. メールの送信(SMTP)サーバー</span></td>
                        <td><span>mail.gol.com</span></td>
                      </tr>
                      <tr>
                        <td><span>9. 送信サーバーには、認証が必要です</span></td>
                        <td><span>チェックする（On）</span></td>
                      </tr>
                      <tr>
                        <td><span>10. 送信メールに同じユーザー名とパスワードを使用する</span></td>
                        <td><span>チェックする（On）</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="c-Table_Wrap l-hikari-Section_Sub-content-tall c-Table hikari-support-Table">
                  <table class="c-Table_Container">
                    <thead>
                      <tr>
                        <th colspan="2">セキュリティ</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><span>11 .受信メールにはSSLが必要</span></td>
                        <td><span>チェックする（On）</span></td>
                      </tr>
                      <tr>
                        <td><span>12 .送信メールにはSSLが必要</span></td>
                        <td><span>チェックする（On）</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">6. セットアップ完了</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/windows10/step-02/img06-220911.png" alt="">
              </div>
              <div>
                <p>「完了」を選択します。</p>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">7. アカウントの管理</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/windows10/step-02/img07-220911.png" alt="">
              </div>
              <div>
                <p>メニューから「設定」アイコンをクリックし、「アカウントの管理」をクリックします。</p>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">8. 設定を変更するアカウントの選択</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/windows10/step-02/img08-220911.png" alt="">
              </div>
              <div>
                <p>「アカウントの管理」から設定を行うメールアドレスをクリックします。メニューが表示された場合は「設定の変更」を選択します。</p>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">9. アカウントの設定</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/windows10/step-02/img09-220911.png" alt="">
              </div>
              <div>
                <p>「メールボックスの同期設定を変更」を選択します。</p>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">10. アカウントの同期設定</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/windows10/step-02/img10-220911.png" alt="">
              </div>
              <div>
                <p>メールのダウンロード頻度と期間の設定を確認し、【完了】をクリックします。</p>

                <div class="c-Table_Wrap l-hikari-Section_Sub-content-tall c-Table hikari-support-Table">
                  <table class="c-Table_Container">
                    <thead>
                      <tr>
                        <th colspan="2">アカウントの同期設定</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><span>1. 新しいメールをダウンロードする頻度</span></td>
                        <td><span>メールを受信する時間間隔を選択します。</span></td>
                      </tr>
                      <tr>
                        <td><span>2.常にメッセージ全体とインターネット画像をダウンロードする</span></td>
                        <td><span>任意でチェックする（On）</span></td>
                      </tr>
                      <tr>
                        <td><span>3.ダウンロードするメールの期間</span></td>
                        <td><span>ダウンロードするメールの期間を選択します。</span></td>
                      </tr>
                      <tr>
                        <td><span>4.この名前を使用してメッセージを送信</span></td>
                        <td><span>任意のお名前を入力します。</span></td>
                      </tr>
                      <tr>
                        <td><span>5.同期オプション</span></td>
                        <td><span>メールのチェックが [オン] となっていることを確認します。</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">11. 保存して完了</h3>
            <div class="l-Media_Grid l-hikari-Section_Sub-content-middle">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/hikari/support/setting/mail/windows10/step-02/img11-220911.png" alt="">
              </div>
              <div>
                <p>「保存」を選択して、メールアカウントの追加は完了です。</p>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="hikari-support-Nav u-Adjust_Pt-48">
        <ul>
          <li><a href="<%= sitepath %><%= hikariroot.path %>support/setting/mail/windows10/step-01/" data-lid_no="02" class="c-Link_Txt-inline">ステップ1. メールアカウントの作成<span class="c-Icon_Arrow-right-l"></span></a></li>
          <li><span class="c-Txt_Emp">ステップ2. メールアカウントの追加</span></li>
          <li><a href="<%= sitepath %><%= hikariroot.path %>support/setting/mail/windows10/step-03/" data-lid_no="02" class="c-Link_Txt-inline">ステップ3. メールアカウントの設定確認<span class="c-Icon_Arrow-right-l"></span></a></li>
          <li><a href="<%= sitepath %><%= hikariroot.path %>support/setting/mail/windows10/step-04/" data-lid_no="02" class="c-Link_Txt-inline">ステップ4. メールの作成・送受信<span class="c-Icon_Arrow-right-l"></span></a></li>
        </ul>
      </div>

    </div>
  </div>

  <footer class="g-Footer">
    <%- include('/hikari/include/_footer', { pagetitle: pagetitle, directories: directories, hiddenCta: true, hiddenFooterCta: true }) %>
  </footer>

</div>
<%- include('/include/hikari/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
