<% const pagetitle = "ご利用回線（Rakuten最強プラン）の停止・再開について" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/contract-detail/sim/", label:"SIMの交換・再発行"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天回線の利用停止・利用再開のお手続きについてご案内いたします。SIMカード再発行の手続き方法などもご確認いただけます。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
    <p class="u-Adjust_Mt-24">ご利用回線（Rakuten最強プラン）を停止・再開したい場合は、my 楽天モバイルからお手続きが可能です。</p>
    <p class="c-Txt_Cap u-Adjust_Mt-16">
      <span>※</span>回線の利用停止、再開は手続き完了後即時で反映されます。
    </p>
    <p class="c-Txt_Cap">
      <span>※</span><span class="c-Txt_Emp-01">楽天モバイル（ドコモ回線・au回線）をご利用中のお客様</span>は、以下ページをご確認ください。
    </p>
    <p class="c-Txt_Cap">
      <a href="https://mobile.faq.rakuten.net/s/detail/000004639" class="c-Link_Txt-inline" target="_blank" data-ratId="guide_sim-lost_mvno_faq_000004639" data-ratEvent="click" data-ratParam="all">楽天モバイル「スーパーホーダイ」「組み合わせプラン」「コミコミプラン」の利用中断・再開はできますか？<span class="c-Icon_New-window-l"></span></a>
    </p>

    <ul class="<%= nameSpace %>-Link_Top-links u-Adjust_Mt-24">
      <li><a href="#stop" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>my 楽天モバイルからご利用回線（Rakuten最強プラン）を停止する方法</a></li>
      <li><a href="#reissue" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>SIM再発行のお手続き</a></li>
      <li><a href="#resume" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>my 楽天モバイルからご利用回線（Rakuten最強プラン）を再開する方法</a></li>
    </ul>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-32" id="stop">my 楽天モバイルからご利用回線（Rakuten最強プラン）を停止する方法</h2>
    <p class="c-Txt_Cap u-Adjust_Mt-16">
      <span>※</span>利用停止中も、プラン料金や各種サービスの月額料などは継続して発生します。
    </p>
    <p class="c-Txt_Cap u-Adjust_Mt-16">
      <span>※</span>利用停止中は、各種契約オプションサービスの加入・解約や設定変更ができなくなります。
    </p>

    <div class="c-Tab js-Tab">
      <ul class="c-Tab_Items-bg u-Adjust_Mt-16" role="tablist">
        <li class="c-Tab_Item u-Adjust_Align-center" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">Webでお手続き</li>
        <li class="c-Tab_Item u-Adjust_Align-center" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">アプリでお手続き</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
        <ul class="c-Flow u-Adjust_Mt-40">
          <li>
            <h3 class="c-Heading_Lv3">1. my 楽天モバイル「契約プラン」画面を開く</h3>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">※「契約プランへ進む」をタップしてログインすると、手順２の画面が表示されます。</p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap">※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/" class="c-Link_Txt">[my
                楽天モバイル]ログインできません</a>」をご確認ください。</p>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <a href="https://portal.mobile.rakuten.co.jp/dashboard?scrollTo=simAndLinesAction#plans" target="_blank" class="c-Btn_Secondly-large"
                data-ratId="guide_ecare_plans_simAndLinesAction" data-ratEvent="click" data-ratParam="all">契約プランへ進む</a>
            </p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2.各種手続きの「その他のお手続き」内の「各種手続きはこちら」をタップする</h3>

            <div class="c-Accordion u-Adjust_Mt-16">
              <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                楽天モバイルを2回線以上ご契約中の場合
              </button>
              <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
                <p class="u-Adjust_Mt-16">画面上部へスクロールし、手続きを行う電話番号が表示されているか、事前にご確認ください。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">
                ※一番最後にご契約された電話番号が自動で表示されています。<br>※表示されている電話番号を切替えた場合、my 楽天モバイルからログアウト（自動ログアウト含む）するまでは切替えた状態が維持されます。
                </p>
                <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">電話番号の切替え方法</h4>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">1 表示されている電話番号をタップする</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/sim-lost/tel_01_20221220.png" alt="" class="c-Img_Capture"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">2 手続きを行う電話番号をタップする</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/sim-lost/tel_02_20221220.png" alt="" class="c-Img_Capture"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">3 選択した電話番号が表示されていることを確認する</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/sim-lost/tel_03_20221220.png" alt="" class="c-Img_Capture"></p>
                <p class="u-Adjust_Mt-16">以上で完了です。手順2の操作へお進みください。</p>
              </div>
            </div>

            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/sim-lost/img_01_20221220.png" alt="" class="c-Img_Capture"></p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3.「盗難紛失時などのお手続き」内にある「利用停止（紛失・盗難時など）」をタップする</h3>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/sim-lost/img_02_20221220.png" alt="" class="c-Img_Capture">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">4. 「SIMカード・eSIMを一時利用停止する」を選択し、「次へ」をタップし、ポップアップの記載内容を確認後、「利用停止する」をタップする</h3>
            <p class="u-Adjust_Mt-24 c-Txt_Cap c-Txt_Emp-02">※「利用停止する」をタップすると、すぐに利用停止されます。</p>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/sim-lost/img_03_20221220.png" alt="" class="c-Img_Capture">
            </div>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/sim-lost/img_05_20221220.png" alt="" class="c-Img_Capture">
            </div>
          </li>
        </ul>
        <p class="u-Adjust_Mt-32">以上でご利用回線（Rakuten最強プラン）の停止手続きは完了です。</p>
      </div>

      <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
        <ul class="c-Flow u-Adjust_Mt-40">
          <li>
            <h3 class="c-Heading_Lv3">1. my 楽天モバイルを起動する</h3>
            <div class="c-Box_App u-Adjust_Mt-24">
              <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt=""></div>
              <div class="c-Box_App-txt">
                <p class="c-Box_App-ttl">my 楽天モバイル</p>
                <p class="u-Adjust_Mt-16">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                <ul class="c-Box_App-link u-Adjust_Mt-16">
                  <li class="<%= nameSpace %>-App_Btn-store">
                    <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
                    <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
                  </li>
                  <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2. 画面下メニューの「契約プラン」をタップする</h3>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/users-information/img-01.png" alt="" class="c-Img_Capture"></p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3.各種手続きの「その他のお手続き」内の「手続きへ進む」をタップする</h3>

            <div class="c-Accordion u-Adjust_Mt-16">
              <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                楽天モバイルを2回線以上ご契約中の場合
              </button>
              <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">

                <p class="u-Adjust_Mt-16">手続きを行う電話番号が表示されているか、事前にご確認ください。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">
                  ※一番最後にご契約された電話番号が自動で表示されています。<br>※表示されている電話番号を切替えた場合、my 楽天モバイルアプリからのログアウト、またアプリを強制的に終了するまでは切替えた状態が維持されます。
                </p>
                <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">電話番号の切替え方法</h4>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">1 表示されている電話番号をタップする</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/sim-lost/tel_01_20221220.png" alt="" class="c-Img_Capture"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">2 手続きを行う電話番号をタップする</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/sim-lost/tel_04_20221220.png" alt="" class="c-Img_Capture"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">3 選択した電話番号が表示されていることを確認する</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/sim-lost/tel_03_20221220.png" alt="" class="c-Img_Capture"></p>
                <p class="u-Adjust_Mt-16">以上で完了です。手順3の操作へお進みください。</p>
              </div>
            </div>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/sim-lost/img_06_20221220.png" alt="" class="c-Img_Capture"></p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">4. 「盗難紛失時などのお手続き」内にある「利用停止（紛失・盗難時など）」をタップする</h3>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/sim-lost/img_02_20221220.png" alt="" class="c-Img_Capture">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">5. 「SIMカード・eSIMを一時利用停止する」を選択し、「次へ」をタップし、ポップアップの記載内容を確認後、「利用停止する」をタップする</h3>
            <p class="u-Adjust_Mt-24 c-Txt_Cap c-Txt_Emp-02">※「利用停止する」をタップすると、すぐに利用停止されます。</p>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/sim-lost/img_03_20221220.png" alt="" class="c-Img_Capture">
            </div>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/sim-lost/img_05_20221220.png" alt="" class="c-Img_Capture">
            </div>
          </li>
        </ul>
        <p class="u-Adjust_Mt-32">以上でご利用回線（Rakuten最強プラン）の停止手続きは完了です。</p>
      </div>
    </div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="reissue">SIM再発行のお手続き</h2>
    <p class="u-Adjust_Mt-16">紛失・盗難によって、ご利用中回線の利用停止とあわせてSIMの再発行をご希望の場合は、my 楽天モバイルにてお手続きが可能です。<br>
      手続き方法については以下のページをご確認ください。
    </p>
    <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>faq/detail/00001406/">SIMの交換・再発行・紛失・盗難の手続きを知りたい、料金がかかるか知りたい</a></p>
    <p class="u-Adjust_Mt-16 c-Txt_Cap"> ※「my 楽天モバイル」にアクセスできないお客様は、ご契約者様ご本人より<a href="#lost" class="js-scroll">専用ダイヤル</a>へご連絡ください。</p>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="resume">my 楽天モバイルからご利用回線（Rakuten最強プラン）を再開する方法</h2>
    <p class="u-Adjust_Mt-16">
      以下に当てはまる場合、my 楽天モバイルからご利用回線（Rakuten最強プラン）の再開はできません。
    </p>

    <ul class="c-List_Text-disc u-Adjust_Mt-16">
      <li>未払い料金発生により回線が利用停止された場合、<a href="<%= sitepath %>guide/payment/invoice/flow/" target="_blank">未払い料金をお支払いいただき</a>、利用再開までお待ちください。</li>
      <li>お電話窓口より回線を利用停止された場合、ご契約者様ご本人より<a href="#lost" class="js-scroll">専用ダイヤル</a>へご連絡ください。</li>
    </ul>

    <div class="c-Tab js-Tab">
      <ul class="c-Tab_Items-bg u-Adjust_Mt-16" role="tablist">
        <li class="c-Tab_Item u-Adjust_Align-center" id="tab-menu3" role="tab" aria-selected="true" aria-controls="tab-content3">Webでお手続き</li>
        <li class="c-Tab_Item u-Adjust_Align-center" id="tab-menu4" role="tab" aria-selected="false" aria-controls="tab-content4">アプリでお手続き</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content3" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu3">
        <ul class="c-Flow u-Adjust_Mt-40">
          <li>
            <h3 class="c-Heading_Lv3">1. my 楽天モバイル「契約プラン」画面を開く</h3>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">※「契約プランへ進む」をタップしてログインすると、手順２の画面が表示されます。</p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap">※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/" class="c-Link_Txt">[my
                楽天モバイル]ログインできません</a>」をご確認ください。</p>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <a href="https://portal.mobile.rakuten.co.jp/dashboard?scrollTo=simAndLinesAction#plans" target="_blank" class="c-Btn_Secondly-large"
                data-ratId="guide_ecare_plans_simAndLinesAction_02" data-ratEvent="click" data-ratParam="all">契約プランへ進む</a>
            </p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2.「利用停止中の回線のお手続き」内の「各種手続きはこちら」をタップする</h3>

            <div class="c-Accordion u-Adjust_Mt-16">
              <button id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                楽天モバイルを2回線以上ご契約中の場合
              </button>
              <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
                <p class="u-Adjust_Mt-16">画面上部へスクロールし、手続きを行う電話番号が表示されているか、事前にご確認ください。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">
                ※一番最後にご契約された電話番号が自動で表示されています。<br>※表示されている電話番号を切替えた場合、my 楽天モバイルからログアウト（自動ログアウト含む）するまでは切替えた状態が維持されます。
                </p>
                <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">電話番号の切替え方法</h4>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">1 表示されている電話番号をタップする</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/sim-lost/tel_01_20221220.png" alt="" class="c-Img_Capture"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">2 手続きを行う電話番号をタップする</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/sim-lost/tel_02_20221220.png" alt="" class="c-Img_Capture"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">3 選択した電話番号が表示されていることを確認する</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/sim-lost/tel_03_20221220.png" alt="" class="c-Img_Capture"></p>
                <p class="u-Adjust_Mt-16">以上で完了です。手順2の操作へお進みください。</p>
              </div>
            </div>

            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/sim-lost/img_04_20221220.png" alt="" class="c-Img_Capture"></p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3.「利用再開のお手続き」内の「利用再開」をタップし、ポップアップの記載内容を確認後、「利用再開」をタップする</h3>
            <p class="u-Adjust_Mt-24 c-Txt_Cap c-Txt_Emp-02">※「利用再開」をタップすると、すぐに利用再開されます。</p>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/sim-lost/img-simlost-07.png" alt="" class="c-Img_Capture">
            </div>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/sim-lost/img-simlost-08.png" alt="" class="c-Img_Capture">
            </div>
          </li>
        </ul>
        <p class="u-Adjust_Mt-32">以上でご利用回線（Rakuten最強プラン）の再開手続きは完了です。</p>
      </div>

      <div class="c-Tab_Panel" id="tab-content4" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu4">
        <ul class="c-Flow u-Adjust_Mt-40">
          <li>
            <h3 class="c-Heading_Lv3">1. my 楽天モバイルを起動する</h3>
            <div class="c-Box_App u-Adjust_Mt-24">
              <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt=""></div>
              <div class="c-Box_App-txt">
                <p class="c-Box_App-ttl">my 楽天モバイル</p>
                <p class="u-Adjust_Mt-16">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                <ul class="c-Box_App-link u-Adjust_Mt-16">
                  <li class="<%= nameSpace %>-App_Btn-store">
                    <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
                    <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
                  </li>
                  <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2. 画面下メニューの「契約プラン」をタップする</h3>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/users-information/img-01.png" alt="" class="c-Img_Capture"></p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3.「利用停止中の回線のお手続き」内の「各種手続きはこちら」をタップする</h3>

            <div class="c-Accordion u-Adjust_Mt-16">
              <button id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                楽天モバイルを2回線以上ご契約中の場合
              </button>
              <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">

                <p class="u-Adjust_Mt-16">手続きを行う電話番号が表示されているか、事前にご確認ください。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">
                  ※一番最後にご契約された電話番号が自動で表示されています。<br>※表示されている電話番号を切替えた場合、my 楽天モバイルアプリからのログアウト、またアプリを強制的に終了するまでは切替えた状態が維持されます。
                </p>
                <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">電話番号の切替え方法</h4>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">1 表示されている電話番号をタップする</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/sim-lost/tel_01_20221220.png" alt="" class="c-Img_Capture"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">2 手続きを行う電話番号をタップする</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/sim-lost/tel_04_20221220.png" alt="" class="c-Img_Capture"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">3 選択した電話番号が表示されていることを確認する</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/sim-lost/tel_03_20221220.png" alt="" class="c-Img_Capture"></p>
                <p class="u-Adjust_Mt-16">以上で完了です。手順3の操作へお進みください。</p>
              </div>
            </div>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/sim-lost/img_04_20221220.png" alt="" class="c-Img_Capture"></p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">4.「利用再開のお手続き」内の「利用再開」をタップし、ポップアップの記載内容を確認後、「利用再開」をタップする</h3>
            <p class="u-Adjust_Mt-24 c-Txt_Cap c-Txt_Emp-02">※「利用再開」をタップすると、すぐに利用再開されます。</p>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/sim-lost/img-simlost-07.png" alt="" class="c-Img_Capture">
            </div>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/sim-lost/img-simlost-08.png" alt="" class="c-Img_Capture">
            </div>
          </li>
        </ul>
        <p class="u-Adjust_Mt-32">以上でご利用回線（Rakuten最強プラン）の再開手続きは完了です。</p>
      </div>
    </div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="lost">紛失・盗難専用ダイヤル</h2>
    <p class="u-Adjust_Mt-16">my 楽天モバイルからのお手続きが困難な場合、またお電話窓口で利用停止をご依頼された方のご利用再開手続きは、ご契約者様本人より以下の番号にお問い合わせください。</p>
    <div class="guide-Info u-Adjust_Mt-24">
      <p class="c-Txt_Emp-01">紛失盗難などの利用停止・再開のお問い合わせ（SIMカードの再発行を含む）</p>
      <p class="u-Adjust_Mt-16">
        電話番号：<a href="tel:0800-600-0500" data-ratid="faq_tel_07_guide_sim-lost">0800-600-0500</a><br>
        受付時間：24時間（年中無休）
      </p>
    </div>

  </div>
</div>




<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <div class="l-System_Container">
      <div class="c-Breadcrumbs_Foot">
        <ul>
          <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ if (typeof directories !== 'undefined') { _%>
          <%_ let dirs = []; _%>
          <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
              <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
              <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
          <%_ }) _%>
          <%_ } _%>
          <li aria-current="true"><%= pagetitle %></li>
        </ul>
      </div>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>

</body>
</html>
