<% const pagetitle = "楽天モバイル1カ月無料お試しキャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "campaign-entry" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイル1カ月無料お試しキャンペーンに関するデータ7GBプレゼント エントリーページです。',
    noindex: true,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/data-trial/entry/entry.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>
<div class="l-System">
<%- include('/include/_header-simple') %>
<section class="<%= namespace %>-Hero">
  <h1>
    <picture>
      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/data-trial/entry/kv-sp.png" width="1125" height="720">
      <img src="<%= sitepath %>assets/img/campaign/data-trial/entry/kv-pc.png" width="1032" height="240" alt="楽天モバイル1カ月無料お試しキャンペーン データ7GBプレゼント エントリーページ">
    </picture>
  </h1>
</section>
<form action="https://form.rakuten.co.jp/ans/apply/39968" name="enenForm" method="POST" onsubmit="return checkForm()">
  <div class="<%= namespace %>-Layout">
    <p class="c-Txt_Normal-m u-Weight_Bold">本ページからエントリーで、楽天モバイルを1カ月無料でお試しできます！</p>
    <div class="c-Infobox_Standing-warning u-Adjust_Py-16 u-Adjust_Px-16 u-Adjust_Mt-16">
      <p class="<%= namespace %>-Layout_Warning-txt">データ通信のみご利用いただけます。音声通話はできません。</p>
    </div>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      ※1カ月のみのご利用となります。経過後は自動的に解約されます。<br>
      ※ご利用にはeSIM対応製品が必要です。
    </p>
  </div>
  <div class="u-Bg_Monotone97">
    <div class="<%= namespace %>-Layout">
      <h2 class="c-Heading_Lv4">重要事項説明・利用規約の確認</h2>
      <div class="<%= namespace %>-Layout_ImportantArea u-Adjust_Mt-16">
        <p>登録番号（電気通信事業者）377号</p>
        <h3 class="u-Adjust_Mt-16 <%= namespace %>-Terms_Heading-3">楽天モバイル 重要事項説明書</h3>
        <h4 class="<%= namespace %>-Terms_Heading-4 u-Adjust_Mt-24">01共通事項</h4>
        <h5 class="u-Adjust_Mt-16 <%= namespace %>-Terms_Heading-5"><span>01-A</span>契約について</h5>
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>本サービスは楽天モバイル株式会社が提供する無線インターネット専用サービス （MNO）です。</li>
          <li>本サービスに関する契約関係は、「楽天モバイル通信サービス契約約款」および「楽天モバイル通信サービス契約約款（５G）」に記載の条件に基づき、楽天モバイル株式会社（以下「当社」といいます）とご契約者との間に生じます。</li>
          <li>本サービスの対象は、４Gサービスおよび５Gサービスとなります。</li>
          <li>本サービスは18歳以上の方のみご契約いただけます。</li>
        </ul>
        <h5 class="u-Adjust_Mt-32 <%= namespace %>-Terms_Heading-5"><span>01-B</span>通信速度とその他の制限</h5>
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>最大通信速度はベストエフォート方式による提供となります。実際の通信速度は、場所、通信環境、ネットワークの混雑状況、対応製品に応じて変化します。</li>
          <li>ご契約プランの高速データ容量を超えた場合、データ通信によるトラフィックがネットワーク帯域の上限を超える場合、またはご利用の製品やアプリの設定などにより、通信速度やデータ通信量が制限される場合があります。</li>
          <li>お客様に公平にサービスを提供するために有益と認める通信速度の制御、通信の最適化（ブラウザやアプリで再生される動画、大容量ファイルのダウンロード、他の機器への接続等、大容量の通信を発生させ、他のお客様への公平なサービス提供に支障をきたす恐れのある場合、それらのファイルサイズの圧縮等）を行うことがあります。</li>
          <li>当社ネットワークに継続的な混雑状態が発生した際には、通信を制限する場合があります。</li>
          <li>当社が本サービスのために提供する製品、もしくは動作検証された製品以外での通信は保証されません。</li>
        </ul>
        <h5 class="u-Adjust_Mt-32 <%= namespace %>-Terms_Heading-5"><span>01-C</span>サービスエリア</h5>
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>楽天の提供するサービスエリアには、楽天の基地局の電波を利用する楽天回線エリアとパートナーの基地局の電波を利用するパートナー回線エリアの２つが存在します。</li>
          <li>ご利用になれるエリアは、当社Webに記載のサービスエリアマップで掲示しています。</li>
          <li>ご利用の5G対応製品画面上のアンテナマークに「5G」と表示されている場合でも、「4G」に切り替わり、4Gサービスでのご利用となる場合があります。</li>
          <li>ご利用いただく機器や利用環境（建物の中・地下・トンネルなど電波の届かないところ）によりご利用可能なサービスエリアが制限される場合があります。</li>
          <li>楽天回線エリアであっても、地下、屋内、大きな商業ビルの屋内等の場所、製品の設定、電波の状況等によってパートナー提供のネットワークを利用するローミング通信となる場合があります。また、ローミング通信になると、パートナー回線エリアの高速データ容量としてカウントされますのでご注意ください。</li>
          <li>サービスエリア・提供条件は予告なく変更になる場合があります。</li>
        </ul>

        <h4 class="<%= namespace %>-Terms_Heading-4 u-Adjust_Mt-32">02プラン内容</h4>
        <table class="<%= namespace %>-Terms_Table c-Table_Container u-Adjust_Mt-16">
          <colgroup>
            <col width="35%">
            <col width="65%">
          </colgroup>
          <tr>
            <th>プラン料金</th>
            <td>
              <table class="c-Table_Container">
                <colgroup>
                  <col width="50%">
                  <col width="50%">
                </colgroup>
                <thead>
                  <tr>
                    <th>高速データ容量</th>
                    <th>利用料金</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>7GB</td>
                    <td>無料</td>
                  </tr>
                </tbody>
              </table>
              <p class="c-Txt_Cap u-Adjust_Mt-8">
                ※7GB消費後は通信速度が200kbpsに制限されます。
              </p>
            </td>
          </tr>
          <tr>
            <th>利用期間</th>
            <td>
              利用開始された日の29日後の 23:59 までの間、ご利用が可能です。利用期間中の解約をご希望の場合、別途ご連絡ください。<br>
              解約処理の都合上、30日以上ご利用いただける場合がございますが、その際も料金は無料となります。
            </td>
          </tr>
          <tr>
            <th>SIMについて</th>
            <td>
              ご利用いただくSIMはデータ通信専用eSIMです。<br>
              ショートメッセージサービス（SMS）はご利用可能ですが、音声通話はご利用できません。
            </td>
          </tr>
          <tr>
            <th>その他</th>
            <td>
              お試しプランはおひとり様1回限りとなります。<br>
              途中解約をされた場合も残りの期間を再度ご利用いただくことはできません。<br>
              利用期間を過ぎてもeSIMのプロファイルは自動削除されません。ご自身での削除をお願いいたします。
            </td>
          </tr>
        </table>

        <h4 class="<%= namespace %>-Terms_Heading-4 u-Adjust_Mt-32">03初期契約解除</h4>
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>本契約における電気通信役務は、初期契約解除制度の対象です。</li>
          <li>「ご契約内容のご案内」の書面をお客様が受領した日から8日を経過するまでの間、書面により本契約の解除を行うことができます。詳細は、「ご契約内容のご案内」の書面をご確認ください。</li>
          <li>初期契約解除に伴い、当社が損害賠償もしくは違約金を請求することはありません。</li>
          <li>MNPはご利用いただけません。</li>
        </ul>

        <h4 class="<%= namespace %>-Terms_Heading-4 u-Adjust_Mt-32">04問い合わせ先について</h4>
        <p class="u-Adjust_Mt-16">①通信品質・その他のご質問・お問い合わせについて<br>TEL 050-5434-4653 ／ 受付時間 9:00～17:00（年中無休） </p>
        <p class="u-Adjust_Mt-8">②紛失／盗難による通信のご利用停止・再開について<br>TEL 0800-600-0500 ／ 受付時間 24時間（年中無休）</p>
      </div>
      <div class="<%= namespace %>-Layout_Checkbox">
        <p>
          <a href="/terms/" class="c-Link_Txt">利用規約</a> （<a href="https://corp.mobile.rakuten.co.jp/guide/privacy/" class="c-Link_Txt">プライバシーポリシー</a>を含む）
        </p>
        <label class="c-Form_Checkbox u-Adjust_Mt-16">
          <input type="checkbox" name="" id="js-agree" value="">
          <span class="c-Icon_Check"></span>
          <span class="c-Form_Checkbox-label">上記内容を確認し、同意しました</span>
        </label>
      </div>
      <p class="u-Adjust_Mt-32">チラシに記載されている4桁の「回線識別番号」を以下に入力してください。</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8 c-Txt_Emp-02">※入力内容の修正はできませんのでお間違いのないようご注意ください。</p>
      <div class="u-Adjust_Mt-8">
        <input type="text" class="c-Form_Input u-Adjust_W-240" value="" name="answers[39968_272324]" maxlength="4" placeholder="1234">
      </div>
    </div>
  </div>
  <div class="<%= namespace %>-Layout">
    <div class="u-Adjust_Align-center">
      <input type="hidden" name="c" value="楽天">
      <input type="hidden" name="l" value="ja">
      <input type="submit" id="js-submit" class="c-Btn_Primary-large" value="エントリーはこちら" disabled aria-disabled="true">
    </div>
    <p class="u-Adjust_Mt-8 c-Txt_Cap">
      ※重要事項説明・利用規約の同意にチェックと、「回線識別番号」をご入力いただくと、エントリーできる状態となります。<br>
      ※本キャンペーンはRakuten PointClubのエントリー履歴には反映されませんのでご了承ください。
    </p>
  </div>
</form>
<footer class="g-Footer">
  <%- include('/include/_footer-simple') %>
</footer>
</div>
<script type="text/javascript">
  function doTrim(el) {
    el.value = el.value.replace(/^\s+|\s+$/g, '');
  }
  function isInput(el) {
    return el.value.length != 0;
  }

  function isLength(el, len) {
    return el.value.length === len;
  }
  function isNumber(el) {
    return (el.value.match(/^[0-9]+$/)) ? true : false
  }
  function zen2han(el) {
    el.value = el.value.replace(/[０]/g, "0");
    el.value = el.value.replace(/[１]/g, "1");
    el.value = el.value.replace(/[２]/g, "2");
    el.value = el.value.replace(/[３]/g, "3");
    el.value = el.value.replace(/[４]/g, "4");
    el.value = el.value.replace(/[５]/g, "5");
    el.value = el.value.replace(/[６]/g, "6");
    el.value = el.value.replace(/[７]/g, "7");
    el.value = el.value.replace(/[８]/g, "8");
    el.value = el.value.replace(/[９]/g, "9");
  }
  function checkForm() {
    var el;
    var obj = document.enenForm;

    el = obj.elements['answers[39968_272324]'];
    doTrim(el);
    zen2han(el);
    if (!isInput(el)) {
      alert("「回線識別番号」を入力してください。");
      return false;
    }
    if (!isLength(el, 4)) {
      alert("「回線識別番号」は4桁で入力してください。");
      return false;
    }
    if(!isNumber(el)) {
      alert("「回線識別番号」は半角数字で入力してください。");
      return false;
    }
  }

  const elAgree = document.getElementById('js-agree');
  const submitBtn = document.getElementById('js-submit');
  elAgree.addEventListener('change', () => {
    if( elAgree.checked ) {
      submitBtn.setAttribute('aria-disabled', false);
      submitBtn.disabled = false;
    } else {
      submitBtn.setAttribute('aria-disabled', true);
      submitBtn.disabled = true;
    }
  })
</script>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
