<% const pagetitle = "Rakuten Casaアプリのご利用方法" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/product/casa/", label:"Rakuten Casa"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Rakuten Casa（楽天カーサ）の設定方法・ご利用方法をご案内します。',
    noindex: false,
    pathname: filepath
  });
%>
<% const namespace = "rakuten-casa" -%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/rakuten-casa/rakuten-casa.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="u-Adjust_Pb-64">
  <div class="l-System_Container u-Adjust_Pt-32">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
    <p class="u-Adjust_Mt-24">Rakuten Casaアプリを使用することでWi-Fi接続の共有やSSID・パスワードの変更、通信速度チェック等、各種設定を行うことが可能です。下記から設定したい項目の設定方法をご確認ください。</p>

    <div class="c-Theme-Light u-Adjust_Mt-24">
      <div class="<%= namespace %>-Layout_App">
        <div class="<%= namespace %>-Layout_App-icon">
          <img src="<%= sitepath %>assets/img/guide/rakuten-casa/icon_app.png" alt="">
        </div>
        <div>
          <h4 class="c-Heading_Lv4">Rakuten Casaアプリ</h4>
          <p class="u-Adjust_Mt-16">Wi-Fi接続の共有やSSID・パスワードの変更、通信速度チェックなどができます。</p>
          <ul class="<%= namespace %>-Layout_App-btn-with-qr">
            <li>
              <p>
                <a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.casa" class="c-Banner_Hover-act">
                  <img src="<%= sitepath %>assets/img/guide/rakuten-casa/btn_app-android.png" alt="Google Playで手に入れよう" width="149" height="44">
                </a>
              </p>
              <div class="<%= namespace %>-Utility_Pc">
                <img src="<%= sitepath %>assets/img/guide/rakuten-casa/qr-app-android.png" alt="Google Play で手に入れようQRコード" width="80" height="80">
              </div>
            </li>
            <li>
              <p>
                <a href="https://apps.apple.com/jp/app/rakuten-casa/id1501619474" class="c-Banner_Hover-act">
                  <img src="<%= sitepath %>assets/img/guide/rakuten-casa/btn_app-apple.png" alt="App Storeからのダウンロード" width="146" height="42">
                </a>
              </p>
              <div class="<%= namespace %>-Utility_Pc">
                <img src="<%= sitepath %>assets/img/guide/rakuten-casa/qr-app-apple.png" alt="App StoreからのダウンロードQRコード" width="80" height="80">
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-56">Rakuten Casaをアプリに登録する</h2>
    <p class="u-Adjust_Mt-16">以下の手順に沿って、Rakuten Casaの登録を行ってください。</p>
    <div class="u-Adjust_Mt-16">
      <a href="<%= sitepath %>guide/rakuten-casa/activation/" class="c-Btn_Regular"><span>Rakuten Casaの登録方法を確認する</span></a>
    </div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-56">Wi-Fiを使う</h2>
    <p class="u-Adjust_Mt-16">Wi-Fiネットワークに繋いだり共有する場合は、以下の手順に沿って操作を行ってください。</p>
    <div class="u-Adjust_Mt-16">
      <a href="<%= sitepath %>guide/rakuten-casa/wi-fi/" class="c-Btn_Regular"><span>Wi-Fiを共有する方法を確認する</span></a>
    </div>
    <div class="u-Adjust_Mt-16">
      <a href="<%= sitepath %>guide/rakuten-casa/ssid/" class="c-Btn_Regular"><span>SSIDを作成する方法を確認する</span></a>
    </div>
    <div class="u-Adjust_Mt-16">
      <a href="<%= sitepath %>guide/rakuten-casa/wi-fi-invalid/" class="c-Btn_Regular"><span>Wi-Fiを無効化する方法を確認する</span></a>
    </div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-56">ルーターモードで使用する（Casa 6を「楽天ひかり」で使用する場合のみ）</h2>
    <p class="u-Adjust_Mt-16">ルーター機能を利用する場合は、以下の手順に沿って操作を行ってください。</p>
    <div class="u-Adjust_Mt-16">
      <a href="<%= sitepath %>guide/rakuten-casa/router-mode/" class="c-Btn_Regular"><span>ルーターモードを設定する</span></a>
    </div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-56">Rakuten Casaの基本情報の管理</h2>
    <p class="u-Adjust_Mt-16">Rakuten CasaのWi-Fiパスワードを変更する場合は、以下の手順に沿って操作を行ってください。</p>
    <div class="u-Adjust_Mt-16">
      <a href="<%= sitepath %>guide/rakuten-casa/password/" class="c-Btn_Regular"><span>パスワードを変更する方法を確認する</span></a>
    </div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-56">その他の操作</h2>
    <p class="u-Adjust_Mt-16">インターネットの速度確認やRakuten Casaを初期化する場合は、以下の手順に沿って操作を行ってください。</p>
    <div class="u-Adjust_Mt-16">
      <a href="<%= sitepath %>guide/rakuten-casa/speedtest/" class="c-Btn_Regular"><span>インターネットの速度を確認する</span></a>
    </div>
    <div class="u-Adjust_Mt-16">
      <a href="<%= sitepath %>guide/rakuten-casa/reboot/" class="c-Btn_Regular"><span>Rakuten Casaを初期化する方法を確認する</span></a>
    </div>

  </div>
</div>


<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%#- include('/faq/include/related-product.ejs') %>
  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
