<% const pagetitle = "楽天モバイルショップ限定！「Rakuten UN-LIMIT VI」お申し込みでお買いものパンダグッズもらえるキャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "shop-pandagoods-present" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルショップへ来店して、「Rakuten UN-LIMIT VI」をお申し込みいただくと、お買いものパンダグッズグッズプレゼント！',
    keywords: '',
    noindex: false,
    pathname: filepath,
    canonical_custom: 'https://network.mobile.rakuten.co.jp/campaign/shop-pandagoods-present-2nd/',
    ogp_img: 'https://network.mobile.rakuten.co.jp/assets/img/campaign/shop-pandagoods-present/OGP_1200-630.png'
  });
%>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@RakutenJP">
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/shop-pandagoods-present/shop-pandagoods-present.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>
<div class="l-System_Container">
  <ul class="c-Label_List <%= namespace %>-Layout-Label">
    <li class="c-Label_Normal">全会員様限定</li>
    <li class="c-Label_Normal">ショップ申込限定</li>
    <li class="c-Label_Normal">全製品対象</li>
    <li class="c-Label_Normal">プランのみ申込可</li>
  </ul>
</div>
<div class="<%= namespace %>-Hero">
  <div class="l-System_Container <%= namespace %>-Hero_Container">
    <div class="<%= namespace %>-Hero_Main">
      <h1>
        <img src="<%= sitepath %>assets/img/campaign/shop-pandagoods-present/img-hero-pc.png" alt="楽天モバイルショップ限定 ショップでお友だちやご家族と一緒にRakuten UN-LIMIT VIにお申し込みいただくとお買いものパンダ特製トランププレゼント！" height="460" class="<%= namespace %>-Utility_Img-pc">
        <img src="<%= sitepath %>assets/img/campaign/shop-pandagoods-present/img-hero-sp.png?201207" alt="楽天モバイルショップ限定 ショップでお友だちやご家族と一緒にRakuten UN-LIMIT VIにお申し込みいただくとお買いものパンダ特製トランププレゼント！" class="<%= namespace %>-Utility_Img-sp">
      </h1>
    </div>
  </div>
</div>

<div class="<%= namespace %>-Layout_Body">
  <div class="<%= namespace %>-Layout_Body-nav">
    <div class="l-System_Container">
      <p class="<%= namespace %>-Layout_Period"><span class="c-Txt_Emp-01">【キャンペーン期間】</span>2021年9月21日(火)開店〜2021年12月9日(木)閉店</p>

      <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-16 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
      <p class="u-Adjust_Mb-32 u-Adjust_Align-center"><a href="<%= sitepath %>campaign/shop-pandagoods-present-2nd/?l-id=campaign_shop-pandagoods-present_shop-pandagoods-present-2nd" class="c-Link_Txt-inline">第2弾楽天モバイルショップ限定！お買いものパンダグッズプレゼントキャンペーン！はこちら<span class="c-Icon_Chevron-right"></span></a></p>

      <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-16 <%= namespace %>-Layout_Body-nav-ul">
        <li><a href="#campaign-flow" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーン参加方法を確認する</a></li>
        <li style="margin-right: 0;"><a href="#campaign-rule" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルールを見る</a></li>
      </ul>
    </div>
  </div>

  <div class="l-System_Container u-Adjust_Mt-24">
    <div id="campaign-flow">
      <h2 class="c-Heading_Lv2">キャンペーンの流れ</h2>
      <ul class="<%= namespace %>-Flow_List">
        <li class="<%= namespace %>-Flow_List-in">
          <h3 class="c-Heading_Lv3">お申し込み・お支払いに必要なものを準備する</h3>
          <div class="l-Media_Grid u-Adjust_Mt-16">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-01.png" width="311" alt="">
            </div>
            <div>
              <div class="u-Adjust_Mt-16">
                <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc">
                  <li><a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                  <li>楽天会員ログイン用のユーザID、パスワード
                    <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Emp-02 c-Txt_Normal-s u-Adjust_Mt-8 u-Adjust_Mb-16">※本人確認書類の情報と、楽天会員情報が一致している必要があります。</p>
                    <a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Link_Txt-inline u-Adjust_Mt-8">楽天会員情報を確認・変更する<span class="c-Icon_Chevron-right"></span></a>
                  </li>
                  <li><a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                    <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">※ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="<%= sitepath %>faq/detail/00001238/">こちらのご案内ページ</a>を必ず事前にご確認ください。</p>
                  </li>
                  <li><a href="<%= sitepath %>guide/mnp/" class="c-Link_Txt-inline">ご契約者名義のMNP予約番号（他社から乗り換えの場合）<span class="c-Icon_Chevron-right"></span></a></li>
                </ul>
              </div>
              <ul class="c-Txt_Cap u-Adjust_Mt-24">
                <li><span>※</span>未成年者の方のお申し込みに必要な情報、お申し込み方法は<a href="/flow/for-minors/">こちらのご案内ページ</a>をご確認ください。</li>
                <li><span>※</span>Webページにて、楽天モバイル（ドコモ回線・au回線）から移行お手続き後に、Rakuten UN-LIMIT VIにお申し込みいただく場合、MNP予約番号と本人確認書類はご準備不要です。</li>
              </ul>
            </div>
          </div>
        </li>

        <li>
          <h3 class="c-Heading_Lv3">楽天モバイルショップを探す</h3>
          <div class="l-Media_Grid u-Adjust_Mt-16">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-02.png" width="311" alt="">
            </div>
            <div>
              <p class="c-Txt_Normal">ご来店の際は、ネットでできる「<span class="c-Txt_Emp-02">来店予約</span>」が便利です。<br>
                予約された方を優先的にご案内しますので、混雑を気にせずに都合の良い時間にご来店いただけます。</p>
              <p class="c-Txt_Normal u-Adjust_Mt-8">各ショップページの「<span class="c-Txt_Emp-02">来店予約</span>」ボタンよりご予約ください。</p>
              <ul class="c-Txt_Cap u-Adjust_Mt-8">
                <li><span>※</span>カウンターが空き次第のご案内となり、多少の待ち時間をいただく場合がございます。</li>
                <li><span>※</span>ショップページに「来店予約」ボタンがないショップでは、来店予約を行っておりません。ご了承ください。</li>
              </ul>
              <div class="u-Adjust_Mt-24">
                <a href="<%= sitepath %>shop/" class="c-Btn_Primary c-Btn_Primary-large"><span>お近くのショップを探す</span></a>
              </div>
            </div>
          </div>
        </li>

        <li>
          <h3 class="c-Heading_Lv3">ショップでRakuten UN-LIMIT VIをお申し込みする</h3>
          <div class="l-Media_Grid u-Adjust_Mt-16">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-03.png" width="311" alt="">
            </div>
            <div>
              <p class="u-Adjust_Mb-16">楽天モバイルショップにて、お申し込み手続きを行ってください。</p>
              <a class="c-Link_Txt-inline" href="<%= sitepath %>fee/un-limit/">Rakuten UN-LIMIT VIの詳細はこちら<span class="c-Icon_Chevron-right"></span></a>
            </div>
          </div>
        </li>
        <li>
          <h3 class="c-Heading_Lv3"><span class="c-Txt_Emp-02">お買いものパンダグッズプレゼント！</span></h3>
          <div class="l-Media_Grid u-Adjust_Mt-16">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-04.png" width="311" alt="">
            </div>
            <div>
              <p>1回線の契約ごとに、ご希望のお買いものパンダグッズ1つプレゼントいたします。</p>
              <ul class="c-Txt_Cap u-Adjust_Mt-8">
                <li><span>※</span>詳細・ご不明点などございましたら、ショップ店員にお気軽にご相談ください。</li>
                <li><span>※</span>景品によっては、在庫がない場合もございます。</li>
                <li><span>※</span>景品の在庫がなくなり次第、終了となります。</li>
              </ul>
            </div>
          </div>
        </li>

      </ul>
    </div>

    <div class="u-Adjust_Mt-40 u-Adjust_Align-center">
      <a href="<%= sitepath %>shop/" class="c-Btn_Primary c-Btn_Primary-large"><span>お近くのショップを探す</span></a>
    </div>

    <div class="<%= namespace %>-Layout_Rule" id="campaign-rule">
      <h2>【ショップ限定】Rakuten UN-LIMIT VIお申し込みでお買いものパンダグッズもらえるキャンペーン</h2>

      <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-16 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
      <p class="u-Adjust_Mb-32 u-Adjust_Align-center"><a href="<%= sitepath %>campaign/shop-pandagoods-present-2nd/?l-id=campaign_shop-pandagoods-present_shop-pandagoods-present-2nd" class="c-Link_Txt-inline">第2弾楽天モバイルショップ限定！お買いものパンダグッズプレゼントキャンペーン！はこちら<span class="c-Icon_Chevron-right"></span></a></p>

      <table class="c-Table_Container u-Adjust_Mt-16">
        <thead>
          <tr>
            <th scope="col">キャンペーン期間</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span class="c-Txt_Emp-01">■プランのお申し込み期間</span><br>
              - 店舗（楽天モバイルショップ）　2021年9月21日（火）開店～2021年12月9日(木)閉店
            </td>
          </tr>
        </tbody>
      </table>

      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーン条件</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span class="c-Txt_Emp-02">上記各項目の期間内に【1】の条件を満たした楽天会員の方</span><br>
                <span class="c-Txt_Emp-01">【1】「Rakuten UN-LIMIT VI」へ、下記（1）～（3）いずれかの方法にてお申し込み</span><br>
                （1）新規お申し込み<br>
                （2）他社からの乗り換え（MNP）でお申し込み<br>
                （3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み
            </td>
          </tr>
        </tbody>
      </table>

      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーン特典</th>
          </tr>
          <tr>
            <th scope="col" class="<%= namespace %>-Layout_Rule-sub-title">特典内容</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              お買いものパンダ特製トランプ、お買いものパンダキッチンペーパー、お買いものパンダシールの中からいずれか１つを選択いただけます。<br>
              ※１回線契約ごとにお一つプレゼントとなります。<br>
              ※店舗により一部特典が在庫切れしている場合もございます。
            </td>
          </tr>
        </tbody>
      </table>

      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">特典適用対象外</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</span>
              <ul class="c-List_Text-disc">
                ※　<a href="<%= sitepath %>shop/">楽天モバイルショップ</a>以外で購入した場合<br>
                ※　ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合<br>
                ※　当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合<br>
                ※　そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">注意事項</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul class="c-List_Text-disc">
                ※　本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください<br>
                ※　本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法上の範囲内に制限される場合があります<br>
                ※　本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります<br>
                ※　記載の内容は2021年12月2日（木）時点の情報となります
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <div class="g-Footer_Related">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2">続けてこちらをチェック</h2>
        <ul class="l-System_Grid">
          <li class="g-Footer_Related-product">
            <a href="/product/">
              <span class="g-Footer_Related-hdg">製品</span>
              <span class="g-Footer_Related-txt">スマホ、タブレットのほか、ルータやアクセサリーもご用意</span>
            </a>
          </li>
          <li class="g-Footer_Related-shop">
            <a href="/shop/">
              <span class="g-Footer_Related-hdg">ショップ</span>
              <span class="g-Footer_Related-txt">全国の楽天モバイルショップ（店舗）をご案内</span>
            </a>
          </li>
          <li class="g-Footer_Related-payment">
            <a href="/guide/payment/">
              <span class="g-Footer_Related-hdg">お支払い方法</span>
              <span class="g-Footer_Related-txt">クレジットカードなど、ご利用いただけるお支払い方法について</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="c-Breadcrumbs_Foot">
    <div class="l-System_Container">
      <div class="c-Breadcrumbs_Foot">
        <ul>
          <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ if (typeof directories !== 'undefined') { _%>
          <%_ let dirs = []; _%>
          <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
              <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
              <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
          <%_ }) _%>
          <%_ } _%>
          <li aria-current="true"><%= pagetitle %></li>
        </ul>
      </div>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>

<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>

<script type="text/javascript" src="https://event.rakuten.co.jp/group/survey/_cmn/js/jquery.survey-plugin_v3.js" charset="UTF-8"></script>
<script>
$(function(){
$('#survey_area').survey(2,'');
});
</script>
<%- include('/include/_append-body') %>
</body>
</html>
