<% const pagetitle = "Galaxy A7" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"guide/setting/", label:"各種製品の初期設定"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Galaxy A7の初期設定方法はこちら。SIMカードでご契約の楽天モバイル（楽天回線）の端末初期設定方法について、ソフトウエアアップデートやSIMカード差し替え方法などをご案内します',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
  <%- include('/include/_prepend-body') %>

  <div class="l-System">

    <%- include('/include/_header') %>

    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>

    <div class="<%= nameSpace %>-Layout_Container">
      <div class="l-System_Container">
        <h1 class="c-Heading_Lv1">初期設定方法（<%= pagetitle %>）</h1>

        <p class="u-Adjust_Mt-24">以下の手順に沿って、設定を行ってください。</p>
        <p><span class="c-Txt_Emp-02">Wi-Fi環境</span>での設定を推奨します。</p>
        <p>他社からの電話番号乗り換え（MNP）の方は、初期設定の前にMNP開通手続きを行ってください。</p>
        <ul class="u-Adjust_Mt-32">
          <li><a href="<%= sitepath %>guide/mnp/flow/" class="c-Btn_Regular"><span>MNP開通手続きの詳細はこちら</span></a></li>
        </ul>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">動画でかんたん初期設定</h2>

        <div class="guide-Layout_Video-pc u-Adjust_Mt-40">
          <!-- ::: PIP-Maker Start ::: -->
          <script type="text/javascript" src="https://www.pip-maker.com/js/pipmaker.js"></script>
          <div id="pipmakergzc2"><noscript>For viewing this content please enable the JavaScript.</noscript></div>
          <script type="text/javascript">
            pipmaker.priority = ["WebGL", "Flash", "HTML5"];
            pipmaker.embed("//www.pip-maker.com/?view=gzc2", "pipmakergzc2", 800, 450);
          </script>
          <!-- ::: PIP-Maker End ::: -->
        </div>
        <div class="guide-Layout_Video-sp u-Adjust_Mt-32">
          <!-- ::: PIP-Maker Start ::: -->
          <script type="text/javascript" src="https://www.pip-maker.com/js/pipmaker.js"></script>
          <div id="pipmakergzc2sp"><noscript>For viewing this content please enable the JavaScript.</noscript></div>
          <script type="text/javascript">
            pipmaker.priority = ["WebGL", "Flash", "HTML5"];
            pipmaker.embed("//www.pip-maker.com/?view=gzc2", "pipmakergzc2sp", 320, 180);
          </script>
          <!-- ::: PIP-Maker End ::: -->
        </div>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">初期設定手順</h2>
        <ol class="c-Flow">
          <li><h4 class="c-Heading_Lv4">1. 製品の電源を入れ、「→」をタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/galaxy-a7/setup-1.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
          <li><h4 class="c-Heading_Lv4">2. 内容を確認しチェックを入れて、「次へ」をタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/galaxy-a7/setup-2.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
          <li><h4 class="c-Heading_Lv4">3. 「今はしない」を選択して、「次へ」をタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/galaxy-a7/setup-3.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
            <p class="u-Adjust_Mt-24">※データを復元する場合は、「ワイヤレス」または「ケーブルとUSBコネクタ」を選択して画面に従ってデータを復元してください。</p>
          </li>
          <li><h4 class="c-Heading_Lv4">4. 利用するWi-Fiネットワークを選択し、Wi-Fiに接続してください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/galaxy-a7/setup-4.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
          <li><h4 class="c-Heading_Lv4">5. 画面表示が切り替わるまでそのままお待ちください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/galaxy-a7/setup-5.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
          <li><h4 class="c-Heading_Lv4">6. 画面の指示に従って、Googleアカウント設定、Googleサービスの同意をしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/galaxy-a7/setup-6.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
          <li><h4 class="c-Heading_Lv4">7. 画面の指示に従って、端末保護の方法を選択、設定してください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/galaxy-a7/setup-7.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
          <li><h4 class="c-Heading_Lv4">8. 「続行」をタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/galaxy-a7/setup-8.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
          <li><h4 class="c-Heading_Lv4">9. 追加するアプリを選択して画面下にある「次へ」をタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/galaxy-a7/setup-9.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
          <li><h4 class="c-Heading_Lv4">10. 内容をお読みいただき、Galaxyアカウントを登録する場合は「アカウントを作成」をタップして登録に進んでください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/galaxy-a7/setup-10.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
          <li><h4 class="c-Heading_Lv4">11. 「完了」をタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/galaxy-a7/setup-11.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
          <li><h4 class="c-Heading_Lv4">12. 初期設定は完了です。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/setting/galaxy-a7/setup-12.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
        </ol>

        <p class="u-Adjust_Mt-32">以上で初期設定は完了です。</p>
        <p class="u-Adjust_Mt-16">インターネット（データ）通信をご利用頂くための APN（アクセスポイント名）の設定は、自動接続で設定されますので、お客様の操作は不要です。</p>

        <p class="u-Adjust_Mt-16">初期設定完了後、「Rakuten Link」アプリをインストールしてください。</p>

        <h3 class="c-Heading_Lv3 u-Adjust_Mt-32">アプリのインストール</h3>
        <p class="u-Adjust_Mt-16">楽天モバイルを便利にご利用いただくためのアプリをインストールしてください。</p>

        <div class="c-Box_App u-Adjust_Mt-24">
          <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rakuten-link.png" alt="Rakuten Link"></div>
          <div class="c-Box_App-txt">
            <p class="c-Box_App-ttl">Rakuten Link</p>
            <p class="u-Adjust_Mt-16">通話、メッセージ、SMSが無料でつかえる。</p>
            <ul class="c-Box_App-link u-Adjust_Mt-16">
              <li><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.rcs" target="_blank" class="c-Banner_Hover-act"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" height="44" alt=""></a></li>
              <li><a href="<%= sitepath %>service/rakuten-link/" class="c-Btn_Regular">詳細を見る</a></li>
            </ul>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">※国内への通話および国内と海外の対象国と地域へのSMSが無料<br>
※他社接続サービス、一部特番は対象外</p>
          </div>
        </div>

        <div class="u-Adjust_Pt-64">
          <div class="u-Adjust_Mt-16"><a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップにもどる</span></a></div>
          <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a></div>
        </div>

      </div>
    </div>

    <%- include('/include/guide/_review') %>
    <%- include('/include/guide/_inquiry') %>

    <footer class="g-Footer">

      <div class="g-Footer_Aside">

        <%- include('/include/footer/bnr/_bnr.ejs') %>

      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
            <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
            </ul>
        </div>
      </div>

      <%- include('/include/_footer') %>

    </footer>

  </div>
  <%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
    <%- include('/include/_append-body') %>
</body>
</html>
