<%_
/* 非活性ボタンにするかの判定、非活性したい機種のexidを下の[]の中に入れる ex. const isButtonDisabled =[600602].includes(exid) */
const isButtonDisabled = [].includes(exid)
_%>
<div id="js-header-nav-wrapper" class="product-detail-Layout_Nav-wrapper">
  <div id="js-header-nav" class="product-detail-Layout_Nav" data-fixed-header>
    <p id="js-product-detail-Layout_Nav-product" class="product-detail-Layout_Nav-product">
      <%= pagetitle %>
    </p>
    <div class="product-detail-Utility_Show-pc">
      <div class="product-detail-Layout_Nav-items">
        <% NavItems.forEach(item=> { %>
          <a href="#<%= item.href %>" class="c-Link_Txt-icon-front js-scroll-b"
            data-ratid="<%= directory %>_navi-<%= item.href %>" data-ratevent="click" data-ratparam="all"><span
              class="c-Icon_Arrow-down-l"></span>
            <%= item.label %>
          </a>
          <% }) %>
      </div>
    </div>
    <div class="product-detail-Layout_Nav-btn">
      <a
        href="<%= onboardingpath2 %>equipment-details?exid=<%= exid %>&selectAvailable=true"
        class="c-Btn_Primary"
        data-ratid="<%= directory %>_navi-button"
        data-ratevent="click"
        data-ratparam="all"
        target="_blank"
        aria-disabled="<%- isButtonDisabled ? 'true' : 'false' %>"
      ><span><%= typeof btnLabel !== 'undefined' ? btnLabel : '購入する' -%></span></a>
      <div class="product-detail-Utility_Show-sp product-detail-Layout_Nav-trigger-wrapper">
        <button id="js-accordion-header-nav-trigger" type="button" class="product-detail-Layout_Nav-trigger"
          data-ratid="<%= directory %>_navi-menu" data-ratevent="click" data-ratparam="all"><span
            class="c-Icon_Chevron-down c-Accordion_Arrow product-detail-Layout_Nav-arrow"></span></button>
      </div>
    </div>
    <div class="product-detail-Layout_Nav-sp product-detail-Utility_Show-sp">
      <div class="product-detail-Layout_Nav-accordion">
        <div id="js-accordion-content-header-nav-items" style="display: none;">
          <div class="product-detail-Layout_Nav-items">
            <% NavItems.forEach(item=> { %>
              <a href="#<%= item.href %>" class="c-Link_Txt-icon-front js-scroll-b"
                data-ratid="<%= directory %>_navi-<%= item.href %>" data-ratevent="click" data-ratparam="all">
                <%= item.label %>
              </a>
              <% }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
