<%#
  * 製品価格コンポーネント
  *** （テーマ）
  * @param {string} theme - 必須 - カラーテーマ（'Light' || 'Dark'|| 'Rakuten'）
  * @return {html} - product-detail-Theme_{theme}-price など、色の変更が必要になるclassがつきます
  *
  *** （一括払い）
  * @param {number} price - 必須 - 71980
  * @return {string} - 製品価格
  *
  * @param {number} priceBefore - 任意 - 99800
  * @return {string} - 値引き前の製品価格
  *
  * @param {number} PriceBeforeUnnumberedAnnotationText - 任意 - 'テキスト'
  * @return {string} - 値引き前の製品価格 注釈の説明文
  *
  * @param {string} addAnnotation - 任意 - '*'
  * @return {string} - 値引き前の製品価格に脚注番号をふる
  *
  *　製品購入還元がある場合セットで設定するーーーーー
  * @param {number} pointBackPriceModel - 任意 - 1000
  * @return {string} - 製品購入で別途割引がある場合の割引額ポイント
  *
  * @param {html} pointModelText - pointBackPriceModelがある場合設定する- `<span>製品購入で<span class="product-detail-Price_Pointback-num">${pointModel.toLocaleString()}</span>ポイント<sub>※1</sub></span>`,
  * @return {html} - 製品購入還元で「製品購入で2,000ポイント※1」の「」内のテキスト　※HTML形式で出力
  * ーーーーー
  *
  * @param {number} pointBackPrice - 必須 - 21300
  * @return {string} - ポイント還元での最大値引額
  *
  * @param {html} pointBackText - 必須 - `最大${point}ポイント<sub>※1,2</sub>`,
  * @return {html} - ポイント還元で「最大22,000ポイント※1,2」の「」内のテキスト　※HTML形式で出力
  *
  * @param {html} pointEntryText - 任意 - 実質価格からさらに値引きがある場合に設定する - `さらに、エントリー＆抽選で<span class="product-detail-Price_Pointback-num">2,000</span>ポイント<sub>※2</sub>`,
  * @return {html} - 実質価格から、さらに値引きがある時「さらに、エントリー＆抽選で2,000ポイント※2」の「」内のテキスト　※HTML形式で出力
  *
  *** （分割払い）
  * @param {number} division24 - 必須 - 2999
  * @return {string} - 24回払いの月のお支払い額
  *
  * @param {number} division24Before - 任意 - 4158
  * @return {string} - 24回払いの月のお支払い額値引き前
  *
  * @param {number} division48 - 必須 - 1499
  * @return {string} - 48回払いの月のお支払い額
  *
  * @param {number} division48Before - 任意 - 2079
  * @return {string} - 48回払いの月のお支払い額値引き前
  *
  *** （おすすめオプション）
  * @param {string} optionPattern - 任意 - （'tradein' || 'non-tradein'|| 'special-a'）基本3パターン、今後、増減する可能性あり
  * @return {html} - パターンを選択、設定しない場合は出力されない
  *
  * @param {string} lid - 必須 - 'rakuten-mini'
  * @return {html} - ポイント訴求 と スマホ交換保証プラス と スマホ下取りサービス　のl-id
  *
  * @param {string} tradeinProductName - optionPattern: 'tradein' の時のみ設定 - 'HUAWEI nova 3'
  * @return {string} - 下取り対象商品の名前を出力
  *
  * @param {number} maxTradeinPrice - optionPattern: 'tradein' の時のみ設定 - 6475
  * @return {string} - 下取りの最大価格
  *
  * @param {number} capacity - optionPattern: 'tradein' の時のみ設定 - 123
  * @return {string} - 注釈4の容量（MB数）を出力
  *
  * @param {number} carrier - 下取り製品のキャリアが"楽天モバイル"以外の時に設定（デフォルトは、"楽天モバイル"） - 'NTTドコモ'
  * @return {string} - 下取り製品のキャリア名を出力
  * ーーーーー
  *
  * @param {number} pointAppealBtnCapNo - 必須 - 3
  * @return {string} - ポイント訴求の脚注番号
_%>
<% const namespace = "product-detail" -%>
<% const {
  theme,
  addAnnotation,
  price,
  point,
  priceBefore,
  priceBeforeIsText,
  PriceBeforeUnnumberedAnnotationText,
  pointBackPriceModel,
  pointBackPrice,
  pointEntry,
  pointModelText,
  pointBackTextA,
  pointEntryText,
  division24,
  division24Before,
  division48,
  division48Before,
  optionPattern,
  tradeinProductName,
  lid,
  tradeinPass,
  capacity,
  maxTradeinPrice,
  pointAppealBtnCapNo,
  carrier,
  hasModal,
  notificationEmail,
  notificationEmailLink,
  discountPrice,
  applyPoint,
  firstTimeApplyPoint,
  mnp,
  anchorId,
  trakingId,
  exid,
  year,
  month,
  day,
} = priceDetailConfig -%>

<% const practicallyprice = () => {
  if( pointBackPriceModel ) {
    return price - pointBackPriceModel - pointBackPrice
  } else {
    return ( discountPrice ) ? price - discountPrice - pointBackPrice : price - pointBackPrice
  }
}
-%>

<% const discountPrice2 = practicallyprice() - maxTradeinPrice; -%>

<% const annotation = addAnnotation ? ` ${addAnnotation}` : null -%>
<% const carrierName = carrier ? carrier : '楽天モバイル' -%>
<% const tradeinUrl = tradeinPass ? tradeinPass : sitepath + 'service/tradein/?l-id=product_' + lid + '_cpn_02' -%>

<div class="u-Adjust_Pt-8">


  <div class="l-System_Container">
    <p class="c-Txt_Cap u-Adjust_Align-right">※表記の金額はすべて税込です。</p>
    <div class="<%= namespace %>-Theme <%= namespace %>-Theme_<%= theme %> <%= namespace %>-Theme_<%= theme %>-border u-Adjust_Mt-32 u-Adjust_Pb-24">
      <div class="<%= namespace %>-Theme_Inner">
        <h2 class="u-Adjust_Mt-24 c-Heading_Lv2 <%= namespace %>-Price_Grid u-Adjust_Align-center">製品価格</h2>
        <div class="u-Rat_Appear-height" data-ratid="<%= trakingId %>_scroll-01_real-price" data-ratevent="appear">&nbsp;</div>

        <dl class="<%= namespace %>-Price_Product">
          <div class="<%= namespace %>-Price_Grid-split">
            <dt class="c-Txt_Normal">一括払い</dt>
            <dd class="u-Adjust_Pl-8">
              <p class="c-Txt_Normal">
                <%_ if (typeof priceBefore !== 'undefined') { _%>
                <%_ if (typeof priceBefore === 'number') { _%>
                  <span class="<%= namespace %>-Price_Strikethrough"><%= priceBefore.toLocaleString() %>円<span><%= annotation %> &rarr;</span></span>
                <%_ } else if (typeof priceBefore === 'string') { _%>
                  <span class="<%= namespace %>-Price_Strikethrough" style="text-decoration: none;"><%= priceBefore %><span><%= annotation %> &rarr;</span></span>
                <%_ } _%>
                <%_ } _%>
                <span class="<%= namespace %>-Price_Num"><%= price.toLocaleString() %></span>円
              </p>
            </dd>
          </div>
          <div class="<%= namespace %>-Price_Grid-split">
            <dt class="c-Txt_Normal">24回払い<span class="c-Txt_Cap">※1</span></dt>
            <dd class="u-Adjust_Pl-8">
              <%# 24回払い、値引き前の製品価格がある場合（打ち消し価格が表示される）_%>
              <%_ if (typeof division24Before !== 'undefined') { _%>
                <span class="<%= namespace %>-Price_Num"><%= division24Before.toLocaleString() %></span>円 &rarr;
              <%_ } _%>
              <span class="<%= namespace %>-Price_Num"><%= division24.toLocaleString() %></span>円/月
            </dd>
          </div>
        </dl>

        <div class="<%= namespace %>-Layout_Division48-wrapper">
          <div class="<%= namespace %>-Layout_Division48">
            <p class="u-Adjust_Align-center <%= namespace %>-Campaign_Division48-title">楽天モバイル買い替え超トクプログラムで購入<span class="c-Txt_Cap">※2</span></p>
            <dl class="<%= namespace %>-Price_Division48">
              <dt>48回払い</dt>
              <dd>
                <%_ if (typeof division48Before !== 'undefined') { _%>
                <span class="<%= namespace %>-Price_Strikethrough <%= namespace %>-Price_Num"><%= division48Before.toLocaleString() %></span>円/月 &rarr;
              <%_ } _%>
              <span class="<%= namespace %>-Price_Num"><%= division48.toLocaleString() %></span>円/月</dd>
            </dl>
            <p class="<%= namespace %>-Campaign_Division48-label">25カ月目に機種変更した場合</p>
            <p class="u-Adjust_Mt-8 c-Txt_Emp-01 u-Adjust_Align-center">
              <span class="<%= namespace %>-Layout_Slash">
                残りの24回分の支払いが不要に!
              </span>
            </p>
            <div class="<%= namespace %>-Price_Campaign">
              <div class="c-Txt_Normal-s <%= namespace %>-Price_Campaign-total">
                支払い総額<br>
                <p class="<%= namespace %>-Price_Num">
                  <%= price.toLocaleString() %>
                  <span class="c-Txt_Normal-m">円</span>
                </p>
              </div>
              <p class="<%= namespace %>-Price_Num <%= namespace %>-Price_Campaign-division24">
                <%= (division48*24).toLocaleString() %>
                <span class="c-Txt_Normal">円</span>
              </p>
            </div>
            <div class="<%= namespace %>-Campaign_Division48-note u-Adjust_Mt-8">
              <img src="<%= sitepath %>assets/img/product/common/img-product-kaikae-logo.png" alt="買い換え超トクプログラム" width="102" height="60" loading="lazy">
              <p class="c-Txt_Normal-s">25カ月目以降の製品代金のお支払いが不要。他の対象製品に機種変更可能<span class="c-Txt_Cap">※2</span>です。<span class="u-Show_Pc c-Txt_Cap">※プランの申し込みがなくても利用可能</span></p>
              <span class="c-Txt_Cap u-Show_Oxx">※プランの申し込みがなくても利用可能</span>
              <a href="<%= sitepath %>service/replacement-program/?l-id=product_smartphone_<%=lid %>_service_replacement-program" class="c-Link_Txt-inline smartphone-top-Note_Program-text">
                詳細を見る<span class="c-Icon_Chevron-right"></span>
              </a>
            </div>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※ 現金販売価格と割賦販売価格（総額）は製品の支払い総額と同額。支払回数48回、支払期間48カ月、実質年率0％。機種変更の際には事務手数料3,300円が必要。<br>
              <span class="c-Txt_Emp-02">※Androidは2023年12月22日（金）9:00より「楽天モバイル買い替え超トクプログラム」新規お申し込みおよび機種変更の対象外になります。</span></p>
          </div>
        </div>


        <div class="u-Adjust_Mt-24 <%= namespace %>-Layout_Campaign-wrapper">
          <div class="<%= namespace %>-Layout_Campaign">
            <%_ if (typeof applyPoint !== 'undefined' || firstTimeApplyPoint !== 'undefined') { _%>
            <div class="<%= namespace %>-Campaign_Tradein-title">
              キャンペーン実施中！<br>
              <span class="c-Txt_Emp-02">最大<span class="<%= namespace %>-Campaign_Tradein-price"><%= ( applyPoint + firstTimeApplyPoint ).toLocaleString() %></span>ポイント還元!<span class="c-Txt_Cap c-Txt_Emp-02"></span></span>
            </div>
            <div class="<%= namespace %>-Campaign_Tradein-white">
              <dl>
                <%_ if (typeof applyPoint !== 'undefined') { _%>
                <div class="<%= namespace %>-Price_Grid-split <%= namespace %>-Price_Grid-plan-item-mod-01">
                  <dt>楽天モバイルお申し込みで<span class="c-Txt_Cap">※3</span></dt>
                  <dd>
                    <span class="<%= namespace %>-Price_Num">-<%= applyPoint.toLocaleString() %></span>pt
                  </dd>
                </div>
                <%_ } _%>
                <%_ if (typeof firstTimeApplyPoint !== 'undefined') { _%>
                <div class="<%= namespace %>-Price_Grid-split <%= namespace %>-Price_Grid-plan-item-mod-01">
                  <dt>楽天モバイルへ初めてお申し込み<br class="u-Show_Xxo">＆<span class="c-Txt_Emp-01">他社から乗り換えで</span><span class="c-Txt_Cap">※4</span></dt>
                  <dd>
                    <span class="<%= namespace %>-Price_Num">-<%= firstTimeApplyPoint.toLocaleString() %></span>pt
                  </dd>
                </div>
                <%_ } _%>
              </dl>
            </div>
            <%_ } _%>

            <p class="<%= namespace %>-Campaign_Tradein-text u-Adjust_Pt-8 u-Adjust_Align-center">
              <span>
                <span class="c-Txt_Emp-01">他社から乗り換え以外でも</span>楽天モバイルお申し込みで
              </span>

              <br class="u-Show_Oox">
              <span class="c-Txt_Emp-02">最大8,000ポイント還元!</span>
              <span class="c-Txt_Emp-02 <%= namespace %>-Campaign_Tradein-text-note">※3,5</span>
            </p>

            <div class="<%= namespace %>-Campaign_Tradein-title">
              さらに、下取りを利用するとおトク！
            </div>
            <div class="<%= namespace %>-Campaign_Tradein-white">
              <p class="c-Txt_Normal-s u-Adjust_Align-center u-Adjust_Mb-0"><span class="c-Txt_Emp-01"><%= tradeinProductName %>を下取りに出した場合</span><span class="c-Txt_Cap">*1</span></p>
              <p class="c-Txt_Emp-02 u-Adjust_Align-center u-Adjust_Mb-0"><span class="c-Txt_Normal-s">最大</span><span class="<%= namespace %>-Campaign_Tradein-price"><%= maxTradeinPrice.toLocaleString() %></span>円相当還元!</p>
            </div>
          </div>
        </div>

        <div class="u-Adjust_Mt-16">
          <a href="<%= sitepath %>service/tradein/?l-id=product_<%=lid %>_cpn_02#js-content-top" class="c-Link_Txt-inline" target="_blank">お持ちの製品の下取り価格を確認する<span class="c-Icon_New-window-l"></span></a>
        </div>
        <% if ( PriceBeforeUnnumberedAnnotationText ) { %>
          <p class="c-Txt_Cap u-Adjust_Mt-16">
            * <%= PriceBeforeUnnumberedAnnotationText %>
          </p>
          <p class="c-Txt_Cap">
            *1 <%= carrierName %>の<%= capacity %>GBを下取りに出した場合。2023年11月28日時点。良品下取時。<br><span class="c-Txt_Emp-01">1カ月程で楽天キャッシュで付与。</span><a href="https://cash.rakuten.co.jp/overview/" class="c-Link_Txt">楽天キャッシュの詳細はこちら</a>
          </p>
        <% }else { %>
          <p class="c-Txt_Cap u-Adjust_Mt-16">
            *1 <%= carrierName %>の<%= capacity %>GBを下取りに出した場合。
            <% if ( year && month && day ) { %>
              <%= year %>年<%= month %>月<%= day %>日時点。
            <% } %>
            良品下取時。<br><span class="c-Txt_Emp-01">1カ月程で楽天キャッシュで付与。</span><a href="https://cash.rakuten.co.jp/overview/" class="c-Link_Txt">楽天キャッシュの詳細はこちら</a>
          </p>
        <% } %>

        <% if ( trakingId !== 'rakuten-hand-5g' ) { %>
          <div>
            <%# スクロール計測 %>
            <div class="u-Rat_Appear-height" data-ratid="<%= trakingId %>_scroll-02_payment-order" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
            <div>
              <div class="u-Adjust_Mt-32">
                <p class="c-Txt_Emp-02 u-Adjust_Align-center">
                  <span class="<%= namespace %>-Layout_Slash <%= namespace %>-Layout_Slash-emphasis c-Txt_Normal-s">
                    ご購入は楽天カードがオススメ！<br class="<%= namespace %>-Utility_Show-sp">楽天カードなら分割手数料0円！
                  </span>
                </p>
              </div>
              <%_ if (bundleFlag === 'bundle') { _%>
              <div class="u-Adjust_Align-center u-Adjust_Mt-8 <%= bundleFlag %>">
                <a href="<%= onboardingpath2 %>equipment-details?exid=<%= exid %>&selectAvailable=true" class="c-Btn_Primary-large" data-ratid="product_detail-page_order-button-2_bss" data-ratevent="click" data-ratparam="all">購入する</a>
              </div>
              <%_ } else if(bundleFlag === 'stock') { _%>
              <div class="u-Adjust_Align-center u-Adjust_Mt-8"><a class="c-Btn_Primary-large">購入する</a>
              </div>
              <%_ } else if(bundleFlag === 'soldout') { _%>
              <div class="u-Adjust_Align-center u-Adjust_Mt-8"><a class="c-Btn_Primary-large" aria-disabled="true">2022年6月30日発売予定</a></div>
              <%_ } else if(bundleFlag === 'backorder') { _%>
              <div class="u-Adjust_Align-center u-Adjust_Mt-9"><a class="c-Btn_Primary-large" aria-disabled="true">現在入荷待ち</a></div>
              <%_ } _%>
            </div>
            <p class="u-Adjust_Mt-24 <%= namespace %>-Utility_Icon">
              <span class="<%= namespace %>-Utility_Icon-tel"></span>
              <a href="<%= sitepath %>guide/application-support/?l-id=product_smartphone_<%= trakingId %>_guide_application-support" class="c-Link_Txt-inline">オペレーターと相談しながらお申し込み！詳細はこちら<span class="c-Icon_Chevron-right"></span></a>
            </p>
            <div class="u-Adjust_Mt-24">
              <a href="<%= sitepath %>guide/payment/point/?l-id=product_<%= lid %>_pointpayment" class="<%= namespace %>-Price_Btn-point-appeal"><span class="<%= namespace %>-Price_Btn-point-appeal-text">期間限定ポイントもOK！製品の購入に楽天ポイントが使えます<span class="<%= namespace %>-Price_Btn-point-appeal-cap">※<%= pointAppealBtnCapNo %></span></span><span class="c-Icon_Chevron-right"></span></a>
            </div>
          </div>
        <% } %>
      </div>
    </div>

    <% if ( trakingId === 'rakuten-hand-5g' ) { %>
      <div id="recommend" class="u-Adjust_Mt-24">
        <div class="product-Rakuten-hand-5g-Section_Cover">
          <div class="product-Rakuten-hand-5g-Section_Cover-wrapper">
            <figure class="product-Rakuten-hand-5g-Section_Cover-image_Pc"><img src="<%= sitepath %>assets/img/product/rakuten-hand-5g/pht-accessory-180-173-220916.png" width="180" height="173" alt=""></figure>
            <div class="product-Rakuten-hand-5g-Section_Cover-inner">
              <span class="c-Txt_Emp-02 c-Label_Emp product-Rakuten-hand-5g-Section_Cover-normal-text">特別価格</span>
              <h3 class="u-Adjust_Mt-8 c-Txt_Normal-l">Rakuten Hand 5G本体と専用ケースのセット購入がおトク！</h3>
              <figure class="product-Rakuten-hand-5g-Section_Cover-image_Sp u-Adjust_Mt-24 u-Adjust_Mb-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-hand-5g/pht-accessory-180-173-220916.png" width="180" height="173" alt=""></figure>
              <p class="u-Adjust_Mt-16"><a class="c-Link_Txt" href="https://network.mobile.rakuten.co.jp/product/accessory/rselect-rmtnrktnh5c0192bk/?l-id=product_rakuten_hand_5g_rselect-rmtnrktnh5c0192bk">縦横スタンド機能付き 手帳型ケース ブラック</a>を本体とセットで購入すると、ケース単体で購入した場合よりも <span class="c-Txt_Emp-02">約43％OFF！</span> <span class="c-Txt_Cap">※2022年11月22日以降の単体販売価格との比較</span></p>
              <div class="u-Adjust_Mt-8 product-Rakuten-hand-5g-Section_Cover-price">
                <span class="c-Txt_Emp-02 c-Txt_Normal-l">1,980円</span>
              </div>
              <p class="c-Txt_Normal u-Adjust_Mt-8">動画視聴時にワイド画面で表示できる横置きと、ビデオ通話やWeb会議に最適な縦置きが両方できる手帳型ケース。</p>
              <p class="c-Txt_Emp-02 u-Adjust_Mt-8 c-Txt_Cap">※ 本体と専用ケースを別々でカートに入れた場合はセット割引対象外となります。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="u-Adjust_Mt-24">
        <ul class="product-Rakuten-hand-5g-Section_Cover_Cta-pre" data-ratid="rakuten-hand-5g_scroll-02_payment-order" data-ratevent="appear">
          <li>
            <a href="<%= onboardingpath2 %>equipment-details?exid=600396&selectAvailable=true" class="c-Btn_Primary-large c-Txt_Normal" data-ratevent="click" data-ratparam="all" data-ratid="product_detail-page_order-button-2_bss_bundle">本体と専用ケースをセットで購入する</a>
          </li>
          <li>
            <%_ if (bundleFlag === 'bundle') { _%>
              <a href="<%= onboardingpath2 %>equipment-details?exid=600314&selectAvailable=true" class="c-Btn_Primary-large c-Txt_Normal" data-ratevent="click" data-ratparam="all" data-ratid="product_detail-page_order-button-2_bss">本体のみ購入する</a>
            <%_ } else if(bundleFlag === 'stock') { _%>
              <a class="c-Btn_Primary-large c-Txt_Normal">本体のみ購入する</a>
            <%_ } else if(bundleFlag === 'soldout') { _%>
              <a class="c-Btn_Primary-large c-Txt_Normal" aria-disabled="true">在庫切れ</a>
            <%_ } else if(bundleFlag === 'backorder') { _%>
              <a class="c-Btn_Primary-large c-Txt_Normal" aria-disabled="true">2022年2月14日発売予定</a>
            <%_ } _%>
          </li>
        </ul>
      </div>
      <p class="u-Adjust_Mt-24 u-Adjust_Align-center <%= namespace %>-Utility_Icon">
        <span class="<%= namespace %>-Utility_Icon-tel"></span>
        <a href="<%= sitepath %>guide/application-support/?l-id=product_smartphone_rakuten-hand-5g_guide_application-support" class="c-Link_Txt-inline">オペレーターと相談しながらお申し込み！詳細はこちら<span class="c-Icon_Chevron-right"></span></a>
      </p>
    <%_ } _%>

    <%_ if (typeof optionPattern !== 'undefined') { _%>
          <%- include(`/include/product/smartphone/option-pattern/_${optionPattern}`, {priceDetailConfig, namespace}) %>
        <%_ } _%>
        <div class="<%= namespace %>-Price_Pt-16-24 u-Adjust_Align-center">
          <%_ if (typeof infoTrue !=='undefined' ) { _%>
            <%- infoTrue.text %>
          <%_ } _%>
          <%# CTAボタン通常_%>
          <%_ if (typeof singleBtnPath !== 'undefined') { _%>
            <div class="l-System_Container"><a href="<%= sitepath %><%= singleBtnPath %>" class="c-Btn_Primary-large"><span>購入する</span></a></div>
          <%# CTAボタンモーダル_%>
          <%_ } else if (hasModal === true) { _%>
            <div class="l-System_Container"><a href="#modal1" class="c-Btn_Primary-large js-Modal"><span>購入する</span></a></div>
          <%# CTAボタンカスタム_%>
          <%_ } else { _%>
            <%_ if (typeof productName !== 'undefined') { _%>
              <%- include(`/include/product/smartphone/custom-cta/_${productName}`, {directory: productName}) %>
            <%_ } _%>
          <%_ } _%>
        </div>
  </div>

</div>
