<% const pagetitle = 'Rakuten Mobile Referral Campaign! 13,000 points for referred customers' -%>
<% const directories = [{path:"campaign/", label:"Campaigns & Perks"}] -%>
<% const customroot = {path: rootpath, label:"Top"} -%>
<%_
  const namespace = "referral-application-en"
  const imgPath = `${sitepath}assets/img/campaign/referral-application/en/`
_%>
<%-
include('/_header', {
  pagetitle,
  directories,
  description: 'Apply for Rakuten Mobile via an existing subscriber\'s referral and receive 13,000 points for MNP transfers, or 6,000 points for other new sign-ups. Join now and take advantage of this campaign!',
  keywords: '',
  noindex: false,
  pathname: filepath,
  isEnglish: true,
});
%>
<%_ let _bgColor='#fff' ; if (typeof bgColor !=='undefined' ) { _bgColor=bgColor; } _%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/referral-application/en/referral-application-en.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/inc/i-unlimit.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>
</head>
<body class="<%= namespace %>-Base">
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<%- include('/include/_breadcrumbs', {
  type: 'head',
  pagetitle,
  directories,
  customroot,
}) %>

<div class="u-Rat_Appear-height" data-ratid="campaign_referral-application-en_scroll-01_header" data-ratevent="appear" data-ratparam="all"></div>

<section class="<%= namespace %>-Hero">
  <div class="<%= namespace %>-Hero_Main">
    <h1>
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>img-kv-sp-240201.png" width="750" height="760">
        <img src="<%= imgPath %>img-kv-pc-240201.png" alt="Apply for Rakuten Mobile via an existing subscriber's referral and receive 13,000 points for MNP transfers, or 6,000 points for other new sign-ups." width="1440" height="400">
      </picture>
    </h1>
  </div>
  <div class="<%= namespace %>-Util_Bg-gray <%= namespace %>-Hero_Bottom">
    <div class="l-System_Container">
      <div class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-left">
        <p class="c-Txt_Cap c-Txt_Emp-02">*Not eligible to Rakuten SAIKYO Plan (Data Type).</p>
        <p class="c-Txt_Cap c-Txt_Emp-02">*Points will be awarded to the referee over a 3 months from 4 to 6 months after the month which the referee logs in.</p>
        <p class="c-Txt_Cap c-Txt_Emp-02">*Campaign rewards are subject to variation.</p>
        <p class="c-Txt_Cap">*Referred person must use the Rakuten Link app.</p>
        <p class="c-Txt_Cap">*1 If the referred person uses the 6,000 yen OFF coupon at the official Rakuten Mobile Rakuten Ichiba store, they will receive 7,000 points instead.</p>
        <p class="c-Txt_Cap">*Participant information for this campaign, including Rakuten membership and contract details, may be shared with Rakuten Mobile and other Rakuten Group companies for campaign execution and updates.</p>
      </div>
    </div>
  </div>
</section>

<div class="l-System_Container u-Adjust_Pb-48">
  <p class="u-Adjust_Align-right u-Adjust_Mt-16">
    <a href="<%= sitepath %>campaign/referral-application/?l-id=campaign_referral-application-en_referral-application" class="c-Link_Txt-inline">日本語<span class="c-Icon_Chevron-right"></span></a>
  </p>
  <dl class="u-Adjust_Align-center">
    <dt class="c-Txt_Emp-01">【Campaign period】</dt>
    <dd>Wednesday, February 15, 2023 at 7:00 <br class="u-Show_Oox">- End Date TBD</dd>
  </dl>
  <div class="u-Rat_Appear-height" data-ratid="campaign_referral-application-en_scroll-02_application" data-ratevent="appear" data-ratparam="all"></div>
  <section id="cta" class="<%= namespace %>-Cta">
    <div class="<%= namespace %>-Cta_Box">
      <h2 class="<%= namespace %>-Cta_Title">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>img-cta-ttl-sp.png" width="249" height="55">
          <img src="<%= imgPath %>img-cta-ttl.png" alt="Apply here!" width="218" height="62">
        </picture>
      </h2>

      <ul class="<%= namespace %>-List_Btn <%= namespace %>-Cta_Btn">
        <li>
          <a href="https://onboarding.mobile.rakuten.co.jp/?l-id=campaign_referral-application-en_kv_onb&locale=en" class="c-Btn_Primary-large"><span>Apply online (New/MNP transfer)</span></a>
        </li>
        <li>
          <a href="<%= sitepath %>shop/en/?l-id=campaign_referral-application-en_shop_en" class="c-Btn_Secondly-large"><span>Find a shop near you</span></a>
        </li>
      </ul>

      <p class="u-Adjust_Mt-16 u-Adjust_Align-center <%= namespace %>-Sp_Align-left">
        <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_referral-application-en_ms_top&mno_migration=1" class="c-Link_Txt-inline">Apply for plan migration from Super-hodai/combination plan<span class="c-Icon_Chevron-right"></span></a>
      </p>
    </div>
  </section>
</div>

<div class="u-Rat_Appear-height" data-ratid="campaign_referral-application-en_scroll-03_flow" data-ratevent="appear" data-ratparam="all"></div>
<section class="<%= namespace %>-Section_Adjust <%= namespace %>-Step <%= namespace %>-Util_Bg-gray">
  <div class="l-System_Container">
    <h2 class="c-Heading_Lv2 u-Adjust_Align-center">The flow of referral campaign </h2>
    <ol class="<%= namespace %>-Step_Accordion u-Adjust_Mt-24">

      <li class="<%= namespace %>-Accordion_Card c-Accordion">
        <button type="button" id="accordion-step-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-step-1" data-ratId="campaign_referral-application_accordion-step1_01" data-ratevent="click" data-ratparam="all">
          <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
          <span class="<%= namespace %>-Accordion_Label">
            <span class="<%= namespace %>-Accordion_Label-step">STEP 1</span>
            <span>Apply for Rakuten Mobile　</span>
          </span>
        </button>
        <div id="accordion-content-step-1" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Card-panel" role="region" aria-labelledby="accordion-step-1" aria-hidden="true">
          <div class="c-Tab js-Tab">
            <ul class="c-Tab_Items" role="tablist">
              <li class="c-Tab_Item" id="tab-menu1-1" role="tab" aria-selected="true" aria-controls="tab-content1-1" data-ratId="campaign_referral-application_tab_application_web_01 " data-ratevent="click" data-ratparam="all">Web</li>
              <li class="c-Tab_Item" id="tab-menu1-2" role="tab" aria-selected="false" aria-controls="tab-content1-2" data-ratId="campaign_referral-application_tab_application_shop_01" data-ratevent="click" data-ratparam="all">Shop</li>
            </ul>
            <div class="c-Tab_Panel" id="tab-content1-1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1-1">
              <div class="c-Theme-Borderbox u-Adjust_Mt-24">
                <div class="l-Media_Grid">
                  <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                    <img src="<%= imgPath %>img-point-02.png?210618" width="285" alt="">
                  </div>
                  <div>
                    <h3 class="c-Heading_Lv4">Items to prepare for the application</h3>
                    <ul class="c-List_Text-disc <%= namespace %>-List_Narrow u-Adjust_Mt-8">
                      <li>
                        Identification documents (<a
                          href="<%= sitepath %>guide/verify/japanese-nationals/en/?l-id=campaign_referral-application-en_guide_verify_japanese-en"
                          class="c-Link_Txt-inline">For Japanese nationals</a> / <a
                          href="<%= sitepath %>guide/verify/foreigners/en/?l-id=campaign_referral-application-en_guide_verify_foreigners-en"
                          class="c-Link_Txt-inline">For foreign nationals</a>)
                      </li>
                      <li>
                        User ID, Password of Rakuten Membership
                      </li>
                      <li>
                        <a href="<%= sitepath %>guide/payment/?l-id=campaign_rakuten-employee-en_guide_payment"
                          class="c-Link_Txt-inline">Credit card or bank account information for direct debit <span
                            class="c-Icon_Chevron-right"></span></a>
                      </li>
                      <li>
                        *If your current mobile carrier does not support MNP One Stop, you will need to obtain an MNP reservation number. <a href="<%= sitepath %>guide/mnp/#carrier">Please check here</a> for a list of mobile carriers that support MNP One Stop.*For in-store procedures, an MNP reservation number is needed regardless of your previous mobile carrier’s eligibility for MNP One Stop.
                      </li>
                    </ul>
                    <p class="c-Txt_Cap u-Adjust_Mt-8">
                      *Please <a href="<%= sitepath %>flow/for-minors/?l-id=campaign_referral-application-en_flow_for-minors"
                        class="c-Link_Txt">click here</a> to see how to apply for minors.
                    </p>
                  </div>
                </div>
              </div>
              <div class="<%= namespace %>-Grid_2col u-Adjust_Mt-24">
                <div class="c-Theme-Borderbox">
                  <h4 class="c-Heading_Lv4 <%= namespace %>-Heading_Icon-front">
                    <span class="c-Icon_New-user-f"></span>
                    Contract with a new phone number/<br>
                    transfer from another carrier
                  </h4>
                  <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                    <a href="<%= sitepath %>guide/application/?l-id=campaign_referral-application-en_guide_application_top02" class="c-Btn_Primary-large"><span>Apply for Rakuten SAIKYO Plan</span></a>
                  </div>
                  <div class="<%= namespace %>-Util_Align-center-left">
                    <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>fee/saikyo-plan/en/?l-id=campaign_referral-application-en_fee_saikyo-plan-en01" class="c-Link_Txt-inline">For details of our plan<span class="c-Icon_Chevron-right"></span></a></p>
                    <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/flow/application/?l-id=campaign_referral-application-en_guide_flow_application" class="c-Link_Txt-inline">How to apply<span class="c-Icon_Chevron-right"></span></a></p>
                  </div>
                </div>
                <div class="c-Theme-Borderbox">
                  <h4 class="c-Heading_Lv4 <%= namespace %>-Heading_Icon-front">
                    <span class="c-Icon_Paper-plane-l"></span>
                    Rakuten Mobile (docomo/au line)<br>
                    plan change (Migration)
                  </h4>
                  <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                    <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_referral-application-en_ms_01&mno_migration=1" class="c-Btn_Secondly-large">
                      <span>Apply for plan migration from Super-<br class="<%= namespace %>-Util_Show-pc">hodai/Combination plan</span>
                    </a>
                  </div>
                  <div class="<%= namespace %>-Util_Align-center-left">
                    <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/migration/?l-id=campaign_referral-application-en_guide_migration" class="c-Link_Txt-inline">Comparison with Super-hodai/Combination Plan*<span class="c-Icon_Chevron-right"></span></a></p>
                    <p class="c-Txt_Cap">*Plans using docomo and au lines that were terminated on April 8, 2020</p>
                    <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/mnp/migration/?l-id=campaign_referral-application-en_guide_mnp_migration" class="c-Link_Txt-inline">How to migrate to Rakuten Mobile (Rakuten Line)<span class="c-Icon_Chevron-right"></span></a></p>
                    <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>flow/mvno-user-registration/?l-id=campaign_referral-application-en_flow_mvno-user-registration" class="c-Link_Txt-inline">How to migrate if you are a registered user<span class="c-Icon_Chevron-right"></span></a></p>
                  </div>
                </div>
              </div>

            </div>
            <div class="c-Tab_Panel" id="tab-content1-2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu1-2">
              <div class="l-Media_Grid u-Adjust_Mt-24">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= imgPath %>img-point-11.png" width="285" alt="">
                </div>
                <div>
                  <a href="<%= sitepath %>shop/?l-id=campaign_referral-application-en_shop02" class="c-Btn_Regular u-Adjust_Mt-16"><span>Find a store near you/visit reservation </span></a>
                </div>
              </div>
              <div class="c-Theme-Borderbox u-Adjust_Mt-24">
                <div class="l-Media_Grid">
                  <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                    <img src="<%= imgPath %>img-point-02.png?210618" width="285" alt="">
                  </div>
                  <div>
                    <h3 class="c-Heading_Lv4">Items to prepare for the application</h3>
                    <ul class="c-List_Text-disc <%= namespace %>-List_Narrow u-Adjust_Mt-8">
                      <li>
                        Identification documents (<a
                          href="<%= sitepath %>guide/verify/japanese-nationals/en/?l-id=campaign_referral-application-en_guide_verify_japanese-en"
                          class="c-Link_Txt-inline">For Japanese nationals</a> / <a
                          href="<%= sitepath %>guide/verify/foreigners/en/?l-id=campaign_referral-application-en_guide_verify_foreigners-en"
                          class="c-Link_Txt-inline">For foreign nationals</a>)
                      </li>
                      <li>
                        User ID, Password of Rakuten Membership
                      </li>
                      <li>
                        <a href="<%= sitepath %>guide/payment/?l-id=campaign_rakuten-employee-en_guide_payment"
                          class="c-Link_Txt-inline">Credit card or bank account information for direct debit <span
                            class="c-Icon_Chevron-right"></span></a>
                      </li>
                      <li>
                        <a href="<%= sitepath %>guide/mnp/?l-id=campaign_rakuten-employee-en_guide_mnp">MNP (Mobile Number
                          Portability) reservation number</a> <span class="c-Txt_Cap">*Only when using MNP</span>
                      </li>
                    </ul>
                    <p class="c-Txt_Cap u-Adjust_Mt-8">
                      *Please <a href="<%= sitepath %>flow/for-minors/?l-id=campaign_referral-application-en_flow_for-minors"
                        class="c-Link_Txt">click here</a> to see how to apply for minors.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="<%= namespace %>-Accordion_Card c-Accordion">
        <button type="button" id="accordion-step-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-step-2" data-ratId="campaign_referral-application_accordion-step2_01" data-ratevent="click" data-ratparam="all">
          <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
          <span class="<%= namespace %>-Accordion_Label">
            <span class="<%= namespace %>-Accordion_Label-step">STEP 2</span>
            <span>Start using &quot;Rakuten SAIKYO Plan&quot;</span>
          </span>
        </button>
        <div id="accordion-content-step-2" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Card-panel" role="region" aria-labelledby="accordion-step-2" aria-hidden="true">
          <div class="l-Media_Grid">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= imgPath %>img-illust-01.png" width="304" alt="">
            </div>
            <div>
              <p><span class="c-Txt_Emp-01">Deadline: 23:59 on the last day of the second month following the date of login via referral message</span></p>
              <div class="u-Adjust_Mt-24">
                <a href="<%= sitepath %>faq/detail/00001648/?l-id=campaign_referral-application-en_faq_detail_00001648" class="c-Btn_Regular"><span>How to start using our plan</span></a>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="<%= namespace %>-Accordion_Card c-Accordion">
        <button type="button" id="accordion-step-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-step-3" data-ratId="campaign_referral-application_accordion-step3_01" data-ratevent="click" data-ratparam="all">
          <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
          <span class="<%= namespace %>-Accordion_Label">
            <span class="<%= namespace %>-Accordion_Label-step">STEP 3</span>
            <span>Call over 10 seconds with Rakuten Link</span>
          </span>
        </button>
        <div id="accordion-content-step-3" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Card-panel" role="region" aria-labelledby="accordion-step-3" aria-hidden="true">
          <div class="l-Media_Grid">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= imgPath %>img-illust-03.png" width="304" alt="">
            </div>
            <div>
              <p><span class="c-Txt_Emp-01">Deadline: 23:59 on the last day of the second month following the date of login via  referral message</span></p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">*Calls to other companies' connection services starting with (0180) (0570), etc. and calls to some special numbers (188) are not eligible for free calls. Please check <a href="<%= sitepath %>terms/pdf/rakuten_mobile_exception_number_list.pdf?220701">the list of ineligible numbers.</a></p>

              <p class="c-Txt_Emp-02 c-Txt_Cap u-Adjust_Mt-8">*If you apply to use our plan with a mobile router that is compatible with Rakuten's line, the use of "Rakuten Link" is not required.</p>
              <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>service/rakuten-link/?l-id=campaign_referral-application-en_service_rakuten-link" class="c-Link_Txt-inline">For details of Rakuten Link app <span class="c-Icon_Chevron-right"></span></a></p>
            </div>
          </div>
        </div>
      </li>

      <li class="c-Theme-Borderbox <%= namespace %>-Util_Bg-white">
        <div class="l-Media_Grid-reverse">
          <div>
            <h4 class="<%= namespace %>-Heading_Referral c-Txt_Emp-02">
               Referred person can earn<br class="<%= namespace %>-Util_Show-sp">
              <span><em class="<%= namespace %>-Txt_Emp-num">13,000</em> points!*</span>
            </h4>
            <p class="c-Txt_Cap u-Adjust_Mt-8">
              *When transferring from another carrier (MNP). 6,000 points for other new sign-ups. Campaign offer limited to one time per person.<br>
              *Points will be awarded at the end of the 4th month following the month of first login via referral message as time-limited points.
            </p>
          </div>
          <div class="l-Media_Image <%= namespace %>-Flow_List-img">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>img-step-point.png?211108" width="212" height="92">
              <img src="<%= imgPath %>img-step-point.png?211108" width="304" height="110" alt="">
            </picture>
          </div>
        </div>
      </li>
    </ol>
  </div>
</section>

<div class="u-Rat_Appear-height" data-ratid="campaign_referral-application-en_scroll-04_saikyo-plan" data-ratevent="appear" data-ratparam="all"></div>
<div class="u-Adjust_Mt-40">
  <%- include('/inc/_saikyo-en') %>
</div>

<div class="l-System_Container u-Adjust_Align-center u-Adjust_Mt-32">
  <a class="c-Banner_Hover-act"
    href="<%= sitepath %>service/global/overseas/en/?l-id=campaign_referral-application-en_service_global_overseas-en">
    <picture>
      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>bnr-328-185-20230303.png">
      <img src="<%= imgPath %>bnr-1032-160-20230303.png" width="1032"
        alt="We offer 2GB FREE even overseas! Use Rakuten Mobile right out of the box">
    </picture>
  </a>
</div>

<div class="u-Rat_Appear-height" data-ratid="campaign_referral-application-en_scroll-05_campaign" data-ratevent="appear" data-ratparam="all"></div>
<section class="l-System_Container u-Adjust_Align-center <%= namespace %>-Section">
  <%- /* Campaigns & Recommendation */ include('/include/_bnr-cpn-recommend-en') %>
</section>

<div class="u-Rat_Appear-height" data-ratid="campaign_referral-application-en_scroll-06_contact" data-ratevent="appear" data-ratparam="all"></div>
<div class="l-System_Container">
  <div class="referral-application-en-Support">
    <p class="c-Txt_Normal">English Support</p>

    <div class="referral-application-en-Support_Box">
      <a href="tel:0800-805-0805" class="c-Link_Txt" data-ratid="faq_tel_11" data-ratevent="click" data-ratparam="all">0800-805-0805</a>
      <p class="c-Txt_Normal u-Adjust_Mt-8">Business hour : 9:00-5:00pm（open 365 days）</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">*The conversation might take place as a three-way call with you, our customer
          service staff, and the phone interpreter. (An interpretation is free of charge)</p>
    </div>
  </div>
</div>

<div class="u-Rat_Appear-height" data-ratid="campaign_referral-application-en_scroll-07_campaign-rule" data-ratevent="appear" data-ratparam="all"></div>
<section id="campaign-rule" class="u-Adjust_Mt-48 u-Adjust_Pt-48 u-Adjust_Pb-48 <%= namespace %>-Utility_Bg-gray">
  <div class="l-System_Container <%= namespace %>-Rule">

    <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1784en', level: 'h2', year: '2023', class: '' }}) %>

  </div>
</section>

  <div class="u-Rat_Appear-height" data-ratid="campaign_referral-application-en_scroll-08_footer" data-ratevent="appear" data-ratparam="all"></div>
  <footer class="g-Footer">
    <div class="g-Footer_Aside">
      <%#- /* 続けてこちらをチェック */ include('/include/footer/related/_related-campaign-v2') %>
      <%- include('/include/footer/related/_related-news') %>
      <%- include('/include/footer/bnr/_bnr-news') %>
    </div>

    <div class="l-System_Container">
      <%- include('/include/_breadcrumbs', {
        type: 'foot',
        pagetitle,
        directories,
        customroot,
      }) %>
    </div>

    <%- include('/include/_footer') %>

  </footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
