<% const pagetitle = "Apple Watchご購入でワークアウト保険が2年間無料！ | キャンペーン・特典 | 楽天モバイル" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "applewatch-insurance" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '楽天モバイルでApple Watch購入でワークアウト保険が2年間無料で付帯されるおトクな特典のご案内です。交通事故による死亡・後遺障害保険金が最大で10万円補償されます。',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<%- include('/inc/_about-rakuten-mobile-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/applewatch-insurance/applewatch-insurance.css?20240424">
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>

    <div class="<%= namespace %>-Layout_Label">
      <ul class="c-Label_List <%= namespace %>-Layout_Label-list">
        <li class="c-Label_Normal">対象製品限定</li>
      </ul>
    </div>

    <section class="<%= namespace %>-Hero">
      <h1>
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/applewatch-insurance/img-hero-sp-230915.png">
          <img src="<%= sitepath %>assets/img/campaign/applewatch-insurance/img-hero-pc-230915.png" width="1440" alt="楽天モバイルでApple Watchご購入で※1ワークアウト保険※2が2年間無料 ※1 2022年11月1日9:00以降 ※2 損害総合保険 交通障害型保険のペットネームです。">
        </picture>
      </h1>
    </section>

    <div class="l-System_Container">
      <p class="u-Adjust_Align-center u-Adjust_Mt-32">
        特典対象者：2022年11月1日9:00以降に<br class="<%= namespace %>-Util_Sp">Apple Watchを購入申し込みされたお客様
      </p>
      <ul class="<%= namespace %>-Nav u-Adjust_Mt-32">
        <li><a href="#sec1" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>特典内容</a></li>
        <li><a href="#sec2" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>補償事例</a></li>
        <li><a href="#sec3" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>対象製品</a></li>
        <li><a href="#sec4" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>付帯の流れ</a></li>
        <li><a href="#sec5" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>保険金請求方法</a></li>
        <li><a href="#sec6" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>保険概要</a></li>
      </ul>
    </div>

    <section id="sec1" class="<%= namespace %>-Section_Light u-Adjust_Mt-56">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2">ワークアウト保険<span class="c-Txt_Cap">※1</span><br class="<%= namespace %>-Util_Sp"> 特典内容</h2>
        <div class="<%= namespace %>-Feature">
          <dl class="c-Dl_Origin-sp-2col <%= namespace %>-Feature_List">
            <div>
              <dt>補償内容</dt>
              <dd>
                <p class="c-Txt_Normal-s">交通事故による死亡・<br class="<%= namespace %>-Util_Sp">後遺障害保険金</p>
                最大<span class="<%= namespace %>-Feature_Number">10</span>万円
              </dd>
            </div>
            <div>
              <dt>保険期間</dt>
              <dd>
                <span class="<%= namespace %>-Feature_Number">2</span>年間<span class="c-Txt_Cap">※2</span>
              </dd>
            </div>
            <div>
              <dt>保険料</dt>
              <dd>
                <span class="<%= namespace %>-Feature_Emptext">無料</span><span class="c-Txt_Cap">※3</span>
              </dd>
            </div>
          </dl>
          <p class="c-Txt_Cap u-Adjust_Mt-16">
            ※1「ワークアウト保険」は傷害総合保険 交通傷害型のペットネームです。<br>
            <span class="c-Txt_Emp-02">※2 満期を迎えると自動的に契約終了となり、有料プランに切り替わることはありません。</span><br>
            ※3 「ワークアウト保険」は保険契約者を楽天モバイル株式会社、引受保険会社を楽天損害保険株式会社とする傷害総合保険の一般包括契約です。また、楽天モバイルでApple Watchを購入された方に無料で付帯されますので、お客様ご自身でのお手続きは不要です。
          </p>
        </div>
      </div>
    </section>

    <section id="sec2" class="<%= namespace %>-Section">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2">補償事例</h2>
        <p class="u-Adjust_Mt-24 u-Adjust_Align-center <%= namespace %>-Util_Align-left-sp">交通事故を起因として、死亡または後遺障害を負った場合に補償されます。</p>
        <ul class="<%= namespace %>-Case">
          <li>
            <img src="<%= sitepath %>assets/img/campaign/applewatch-insurance/illust-01.png" width="343" alt="ランニング中に自動車との接触事故">
          </li>
          <li>
            <img src="<%= sitepath %>assets/img/campaign/applewatch-insurance/illust-02.png" width="343" alt="自転車搭乗中の落車事故">
          </li>
        </ul>
        <h3 class="c-Heading_Lv4 u-Adjust_Mt-24 <%= namespace %>-Util_Align-center-sp">補償対象となる交通事故例</h3>
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>運行中の交通乗用具（自動車、自転車、原動機付自転車、電車、航空機、船舶、エレベーター、エスカレーター、身体障害者用車いす、歩行補助車等）との衝突・接触</li>
          <li>運行中の交通乗用具に搭乗している間の事故</li>
          <li>乗客として駅構内（改札口の内側）にいる間の事故</li>
          <li>道路通行中に、工作用自動車と衝突・接触</li>
        </ul>
      </div>
    </section>

    <section id="sec3" class="<%= namespace %>-Section_Light">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2">特典対象のApple Watch</h2>
        <div class="u-Adjust_Mt-48">
          <%- include('/include/product/apple-watch/_apple-watch-top-list', { lId: 'campaign_applewatch-insurance' }) %>
        </div>

        <div class="u-Adjust_Align-center u-Adjust_Mt-sp-32">
          <a href="<%= sitepath %>product/apple-watch/comparison/?l-id=campaign_applewatch-insurance_product_apple-watch_comparison" class="c-Btn_Regular"><span>Apple Watchの機能を比較する</span></a>
          <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>product/apple-watch/?l-id=campaign_applewatch-insurance_product_apple-watch" class="c-Link_Txt-inline">Apple Watch一覧<span class="c-Icon_Chevron-right"></span></a></p>
        </div>

        <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
          <a href="<%= sitepath %>product/apple-watch/why-apple-watch/?l-id=campaign_applewatch-insurance_product_apple-watch_why-apple-watch" class="c-Banner_Hover-act">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-watch-health-343-108-240222.png" width="686" height="216">
              <img src="<%= sitepath %>assets/img/bnr/bnr-watch-health-1032-160-240222.png" alt="Apple Watchを選ぶ理由" width="1032" height="160" loading="lazy" style="border: 1px solid #e0e0e0;">
            </picture>
          </a>
        </div>
      </div>
    </section>

    <section id="sec4" class="<%= namespace %>-Section_Light">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2">ワークアウト保険付帯の<br class="<%= namespace %>-Util_Sp">流れ</h2>
        <div class="<%= namespace %>-Flow">
          <h3 class="c-Heading_Lv3">Apple Watchをご購入</h3>
          <div class="<%= namespace %>-Flow_Content">
            <div>
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/applewatch-insurance/img-watch-sp-230915.png">
                <img src="<%= sitepath %>assets/img/campaign/applewatch-insurance/img-watch-pc-230915.png" alt="">
              </picture>
            </div>
            <div>
              <h4 class="c-Heading_Lv4">楽天モバイル（Webまたは楽天モバイルショップ）でご購入ください。</h4>
              <div class="<%= namespace %>-Flow_Btn">
                <a href="<%= sitepath %>product/apple-watch/?l-id=campaign_applewatch-insurance_product_apple-watch" class="c-Btn_Regular"><span>Webで購入する</span></a>
                <a href="<%= sitepath %>shop/?l-id=campaign_applewatch-insurance_shop" class="c-Btn_Regular"><span>お近くのショップを探す</span></a>
              </div>
              <p class="u-Adjust_Mt-8"><a href="#sec3" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-up-l"></span>対象製品を見る</a></p>
              <p class="u-Adjust_Mt-8 c-Txt_Emp-01">ご購入に必要なもの</p>
              <ul class="c-List_Text-disc <%= namespace %>-Flow_List">
                <li><a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                <li>楽天ID、パスワード</li>
                <li><a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="<%= namespace %>-Flow_Arrow"></div>
        <div class="<%= namespace %>-Flow u-Adjust_Mt-56">
          <h3 class="c-Heading_Lv3">製品到着または店頭で購入した<span class="c-Txt_Emp-02">翌日午前0時から補償が開始</span>されます！</h3>
          <div class="u-Adjust_Align-left">
            <p class="u-Adjust_Mt-24">Apple Watchご購入後、楽天インシュアランスプランニング株式会社から2日ほどでメールにて「<span class="c-Txt_Emp-02">【Apple Watch購入特典】 「ワークアウト保険」ご加入のお知らせ</span>」が届きますので、メールの案内をご確認ください。保険金請求などのご案内が記載されていますので大切に保存してください。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-24">※「noreply-thanks-workout@mail.hoken.rakuten.co.jp」からのメールを受信できるよう、ドメイン設定を解除してください。</p>
          </div>
        </div>

      </div>
    </section>

    <section id="sec5" class="<%= namespace %>-Section">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">保険金請求方法</h2>
        <p class="u-Adjust_Mt-24">この保険で補償される事故等が生じた場合は、すみやかに<span class="c-Txt_Emp-02">楽天保険の総合窓口あんしんダイヤル</span>に事故の内容をご連絡ください。</p>
        <div class="c-Theme-Borderbox <%= namespace %>-Layout_Info">
          <h3 class="c-Heading_Lv4">事故の受付</h3>
          <p class="c-Txt_Emp-01">楽天保険の総合窓口あんしんダイヤル</p>
          <p class="c-Txt_Emp-02">TEL：0120-120-555</p>
          <p>受付時間：24時間365日</p>
          <p class="c-Txt_Cap">※携帯電話からもご利用いただけます。</p>
        </div>
        <p class="u-Adjust_Mt-32">
          保険金の請求方法については、「楽天ヘルスケアアプリ」のマイページからもご案内しております。
        </p>

        <h3 class="c-Heading_Lv3 u-Adjust_Mt-32">楽天ヘルスケアアプリとは？</h3>
        <div class="l-Media_Grid-large u-Adjust_Mt-24">
          <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/campaign/applewatch-insurance/img-application.png" alt="">
          </div>
          <div>
            <p>
              楽天ヘルスケアアプリは、Apple Watchをより楽しく、よりおトクに使う方のための<span class="c-Txt_Emp-02">無料アプリ</span>です。歩数記録などデータ連携し、運動量などを管理できます。さらに、日々の目標達成で<span class="c-Txt_Emp-02">楽天ポイントが獲得</span>できます！
            </p>
            <p class="u-Adjust_Mt-16">
              例えば歩数記録などでデータ連携し毎日5,000歩を達成するごとに、<span class="c-Txt_Emp-02">楽天ポイントがもらえるラッキーくじ</span>に参加することができます。
            </p>
            <div class="c-Theme-Borderbox <%= namespace %>-Layout_Info <%= namespace %>-Layout_Info_Apple-store">
              <p class="c-Txt_Emp-01">楽天ヘルスケアアプリの<br>ダウンロードはこちら</p>
              <div class="u-Adjust_Align-center u-Adjust_Mt-8">
                <a href="https://app.adjust.com/87n08au"　target="_blank" rel="noopener noreferrer">
                  <img src="/assets/img/common/btn-appstore.png" width="96" alt="Apple Store">
                </a>
              </div>
              <div class="u-Adjust_Mt-8 u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/campaign/applewatch-insurance/img-qr-iphone.png" width="68" alt="https://app.adjust.com/87n08au">
              </div>
            </div>
          </div>
        </div>
        <div class="u-Adjust_Mt-56 u-Adjust_Align-center">
          <h3 class="c-Heading_Lv3">楽天ヘルスケアアプリへのデータ連携でポイントが獲得できる医療保険</h3>
          <div class="u-Adjust_Mt-8">
            <a class="c-Banner_Hover-act" href="<%= sitepath %>campaign/applewatch-wellsmile/?l-id=product_apple-watch_campaign_applewatch-wellsmile">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-applewatch-wellsmile-504-158.png" width="1008" height="316">
                <img src="<%= sitepath %>assets/img/bnr/bnr-applewatch-wellsmile-1032-160.png" alt="[PR]Apple Watch＆楽天生命ウェルスマイル Apple Watchと動こう、遊ぼう！楽しみながら楽天ポイントが貯まる！ " width="1032" height="160" loading="lazy">
              </picture>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="<%= namespace %>-Section">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">よくあるご質問</h2>
        <div class="c-Theme-White u-Adjust_Mt-24">
          <div class="c-Accordion">
            <button type="button" id="accordion-faq-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ワークアウト保険に加入できる年齢に制限はありますか？</button>
            <div id="accordion-content-faq-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-1" aria-hidden="false">
              <p>ワークアウト保険の加入における年齢制限はございません。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-faq-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>保険金受取人を指定することはできますか？</button>
            <div id="accordion-content-faq-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-2" aria-hidden="false">
              <p>保険金受取人を指定することはできません。死亡保険金は、被保険者の法定相続人にお支払いします。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-faq-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>請求する代理人を指定することはできますか？</button>
            <div id="accordion-content-faq-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-3" aria-hidden="false">
              <p>
                特定の条件下であれば、代理請求できます。<br>
                この保険には、高度障害状態等の事情により被保険者が保険金を請求できない場合で、かつ、保険金のお支払いを受けるその被保険者の代理人がいないときに、その被保険者と同居する配偶者の方等がその事情を示す書類をもってその旨を弊社に申し出て、弊社の承認を得たうえで、その被保険者の代理人として保険金を請求することができる代理請求人制度があります。<br>
                万が一の場合に備えて、ご家族の方にも保険に加入していることおよび加入している保険の概要（保険会社名、お支払いする保険金の種類等）をお伝えいただきますようお願いいたします。
              </p>
              <p class="u-Adjust_Mt-8">
                ＜代理請求できる方の範囲＞<br>
                ①	被保険者と同居または生計を共にする配偶者※<br>
                ②	①の方がいない場合または①の方に保険金を請求できない事情がある場合には、被保険者と同居または生計を共にする3親等内の親族<br>
                ③	①および②の方がいない場合または①および②の方に保険金を請求できない事情がある場合には、①以外の配偶者※または②以外の3親等内の親族
              </p>
              <p class="c-Txt_Cap">※法律上の配偶者に限ります。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-faq-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>保険金の請求手続きはどこに連絡すればよいですか？</button>
            <div id="accordion-content-faq-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-4" aria-hidden="false">
              <p>楽天保険の総合窓口あんしんダイヤル（0120‐120‐555）にご連絡ください。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-faq-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ワークアウト保険の補償金額を増やすことはできますか？</button>
            <div id="accordion-content-faq-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-5" aria-hidden="false">
              <p>できません。さらに補償を充実したい方向けには、同じ楽天損保の傷害総合保険の交通事故傷害タイプである「サイクルアシスト」をご案内しております。詳しくは楽天損保のホームページをご確認ください。<a href="https://www.rakuten-sonpo.co.jp/family/tabid/997/Default.aspx" class="c-Link_Txt-inline-icon" target="_blank">サイクルアシストの詳細はこちら<span class="c-Icon_New-window-l"></span></a></p>
            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-faq-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-6"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天ヘルスケアアプリのダウンロードは必要ですか？</button>
            <div id="accordion-content-faq-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-6" aria-hidden="false">
              <p>ご自身の健康活動の助けとして、また、補償概要や保険金の請求方法を確認するために楽天ヘルスケアアプリのご利用をおすすめしております。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-faq-7" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-7"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>保険加入後に楽天ヘルスケアアプリを削除できますか？</button>
            <div id="accordion-content-faq-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-7" aria-hidden="false">
              <p>いつでも削除できます。ただし、ワークアウト保険の保険金の請求方法のご案内があり、またApple Watchと連動することにより、楽天ポイントを貯められますのでぜひご活用ください。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-faq-8" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-8"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>過去に加入していますが、再度ワークアウト保険に加入できますか？</button>
            <div id="accordion-content-faq-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-8" aria-hidden="false">
              <p>初めてワークアウト保険に加入される方のみ対象となります。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-faq-9" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-9"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイル公式楽天市場店で購入したApple Watchにもワークアウト保険が付帯されますか？</button>
            <div id="accordion-content-faq-9" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-9" aria-hidden="false">
              <p>楽天モバイル公式楽天市場店で購入したApple Watchには、ワークアウト保険は付帯されません。楽天モバイル（Webまたは楽天モバイルショップ）で購入したApple Watchのみがワークアウト保険の付帯対象です。</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="<%= namespace %>-Section_Light">
      <%- include('/inc/_about-rakuten-mobile', { baseLId: 'campaign_applewatch-insurance' }) %>
    </section>

    <section class="<%= namespace %>-Section">
      <div class="l-System_Container">
        <%- include('/include/_bnr-cpn-recommend-v2') %>
      </div>
    </section>

    <section id="sec6" class="<%= namespace %>-Section">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-left">ワークアウト保険の概要</h2>
        <div class="c-Table_Wrap u-Adjust_Mt-24">
          <div class="u-Adjust_Mt-24">
              <dl class="c-Dl_Origin <%= namespace %>-Dl_Rule">
                <div>
                    <dt>保険の種類</dt>
                    <dd>
                      <p>傷害総合保険　交通傷害型</p>
                    </dd>
                </div>
                <div>
                    <dt>補償項目</dt>
                    <dd>
                      <p>死亡・後遺障害</p>
                    </dd>
                </div>
                <div>
                    <dt>保険金額</dt>
                    <dd>
                      <p>最大10万円</p>
                    </dd>
                </div>
                <div>
                    <dt>補償内容</dt>
                    <dd>
                      <p>
                        ・保険金をお支払いする主な場合は以下のとおりです。※交通事故によるケガに限ります。<br>
                        【死亡保険金】<br>
                        事故の発生の日からその日を含めて180日以内に死亡した場合に、死亡・後遺障害保険金額の全額を、保険金受取人（被保険者の法定相続人）にお支払いします。ただし、すでに支払った後遺障害保険金がある場合は、死亡・後遺障害保険金額からすでに支払った金額を差し引いた金額をお支払いします。<br>
                        【後遺障害保険金】<br>
                        事故の発生の日からその日を含めて180日以内に身体に後遺障害が生じた場合に、後遺障害の程度に応じて、死亡・後遺障害保険金額の4％～100％をお支払いします。ただし、保険期間を通じ、1年ごとに死亡・後遺障害保険金額が限度となります。
                      </p>
                      <p class="u-Adjust_Mt-16">
                        ・保険金をお支払いできない主な場合は以下のとおりです。<br>
                        故意・重大な過失、自殺行為、犯罪行為または闘争行為によるケガ、地震もしくは噴火またはこれらによる津波によるケガ、戦争、内乱、暴動などによるケガ、交通乗用具による競技、興行（練習含む）をしている間に被った傷害、頸部症候群（いわゆる「むちうち症」）、腰痛その他の症状を訴えている場合でも、それを裏付けるに足りる医学的他覚所見のないもの。
                      </p>
                    </dd>
                </div>
                <div>
                    <dt>個人情報の取り扱いについて</dt>
                    <dd>
                      <p>
                        Apple Watchを購入されたことにより、お客様には自動的にワークアウト保険が付帯されます。これに伴い、楽天モバイル株式会社から引受保険会社である楽天損害保険株式会社に対して、保険契約の引き受けのために必要となるお客様の個人情報（氏名・住所・電話番号・生年月日・Apple Watchの着荷日（お客様の手元に届いた日））が提供されます。 楽天損害保険株式会社の個人情報の取扱いに関する詳細は、<a href="https://www.rakuten-sonpo.co.jp/privacy/tabid/79/Default.aspx" class="c-Link_Txt-inline-icon" target="_blank">個人情報保護方針<span class="c-Icon_New-window-l"></span></a>をご参照ください。
                      </p>
                    </dd>
                </div>
                <div>
                    <dt>注意事項</dt>
                    <dd>
                      <p>
                        ※ 本特典は、楽天モバイルで2022年11月1日9:00以降にApple Watchを購入申し込みされた方が対象となります。<br>
                        ※ 楽天モバイルでルール・規約違反など不正が認められた場合は特典の付与を取り消させていただくことがございます。<br>
                        ※ 本特典によるワークアウト保険の加入は1回のみ（2年間）となります。<br>
                        ※ 本特典は予告なく、変更・中止される場合がございます。
                      </p>
                    </dd>
                </div>
              </dl>
          </div>
        </div>
      </div>
    </section>

    <section class="<%= namespace %>-Section">
      <div class="l-System_Container">
        <div class="<%= namespace %>-Layout_Info-wrap">
          <div class="c-Theme-Borderbox <%= namespace %>-Layout_Info">
            <span class="c-Txt_Emp-01 c-Txt_Normal-m">引受保険会社</span><br>
            <span class="c-Txt_Emp-01">楽天損害保険株式会社</span><br>
            〒107-0062 東京都港区南青山二丁目6番21号 楽天クリムゾンハウス
          </div>
          <div class="c-Theme-Borderbox <%= namespace %>-Layout_Info">
            （保険に関するお問い合わせ先）<br>
            <span class="c-Txt_Emp-01">楽天保険の総合窓口</span><br>
            <span class="c-Txt_Emp-02">TEL：0120-849-047</span><br>
              受付時間 : 9:00 ～ 18:00（年末年始を除く）<br>
              <span class="c-Txt_Cap">※携帯電話からもご利用いただけます。</span>
          </div>
          <div class="c-Theme-Borderbox <%= namespace %>-Layout_Info">
            （事故に関するご連絡先）<br>
            <span class="c-Txt_Emp-01">楽天保険の総合窓口あんしんダイヤル</span><br>
            <span class="c-Txt_Emp-02">TEL：0120-120-555</span><br>
            受付時間：24時間365日<br>
            <span class="c-Txt_Cap">※携帯電話からもご利用いただけます。</span>
          </div>
        </div>
        <p class="u-Adjust_Align-right">C23-01-007</p>
      </div>
    </section>


    <footer class="g-Footer u-Adjust_Mt-64">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>

</body>
</html>
