<% const pagetitle = "郵便局経由のお申し込み" -%>
<% const directories = [{path:"shop/", label:"ショップ"}] -%>
<% const namespace = "application" -%>
<% const layout = `${namespace}-Layout` -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '郵便局でチラシを手にとってくださりありがとうございます。チラシの裏にあるエントリーコードを入力の上、お申し込みをお願いいたします。',
    noindex: true,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/shop/post-office/application/application.css?20240424">
<%- include('/inc/_saikyo-plan-css') %>
<%- include('/include/_append-head') %>
<script>
  // enen validator
  function zen2han(el) {
    el.value = el.value.replace(/[０]/g, "0");
    el.value = el.value.replace(/[１]/g, "1");
    el.value = el.value.replace(/[２]/g, "2");
    el.value = el.value.replace(/[３]/g, "3");
    el.value = el.value.replace(/[４]/g, "4");
    el.value = el.value.replace(/[５]/g, "5");
    el.value = el.value.replace(/[６]/g, "6");
    el.value = el.value.replace(/[７]/g, "7");
    el.value = el.value.replace(/[８]/g, "8");
    el.value = el.value.replace(/[９]/g, "9");
  }

  function doTrim(el) {
    el.value = el.value.replace(/^\s+|\s+$/g, '');
  }

  function isInput(el) {
    return el.value.length != 0;
  }

  function isNum(el) {
    return (el.value == "" || /^[0-9]+$/.test(el.value));
  }

  function isRange(el, min, max) {
    return (el.value == "" || (/^[0-9]+$/.test(el.value) && min <= el.value.length && el.value.length <= max));
  }

  function isLength(el, minLen, maxLen) {
    // if ("え".length == 2) {
    //   len *= 2;
    // }
    return minLen < el.value.length && el.value.length <= maxLen;
  }

  function checkForm() {
    var el;
    var obj = document.enenForm;

    el = obj.elements['answers[39110_267331]'];
    doTrim(el);
    if (!isInput(el)) {
      alert("「エントリーコード9桁を入力してください。」を入力してください。");
      return false;
    }

    if (!isNum(el)) {
      alert("「エントリーコード9桁を入力してください。」は数値で入力してください。");
      return false;
    }

    if (!isRange(el, 9, 9)) {
      alert("「エントリーコード9桁を入力してください。」は9桁で入力してください。");
      return false;
    }

    if (!isLength(el, 0, 256)) {
      alert("「エントリーコード9桁を入力してください。」は256文字以内で入力してください。");
      return false;
    }

    el = obj.elements['answers[39110_267332]'];
    doTrim(el);
    if (!isLength(el, 0,256)) {
      alert("OKボタンを押した後に郵便局名が表示されます。表示されない場合にはエントリーコードが正しいかご確認ください。");
      return false;
    }

  }
</script>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= layout %>-Kv">
  <h1 class="c-Heading_Lv1 u-Adjust_Align-center">
    <picture>
      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/shop/post-office/application/kv-sp-230125.png" width="375" height="154">
      <img src="<%= sitepath %>assets/img/shop/post-office/application/kv-pc-230125.png" alt="郵便局のチラシをご覧になったお客様へ 楽天モバイルお申し込みのご案内" width="1440" height="176">
    </picture>
  </h1>
</div>

<div class="l-System_Container">
  <p class="<%= namespace %>-Util-Txt-Pc-center u-Adjust_Mt-24 c-Txt_Normal-m c-Txt_Emp-02">
    チラシ経由でのお申し込み受け付けは終了いたしました。
  </p>

  <section id="application-flow" class="<%= layout %>-Flow">
    <h2 class="c-Heading_Lv2">お申し込みの流れ</h2>
    <ol class="c-Flow u-Adjust_Mt-16">
      <li>
        <h3 class="c-Heading_Lv3">1. エントリーする</h3>
        <p class="u-Adjust_Mt-16">お手元のチラシ裏面のエントリーコード9桁を入力し、表示された郵便局名がチラシを受け取った郵便局と同じであるかご確認の上エントリーをお願いいたします。</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※チラシを受け取った郵便局名は、チラシ裏面の局名等記載欄をご参考ください。</p>
        <div class="<%= layout %>-Flow-step u-Adjust_Mt-24">
          <p class="<%= layout %>-Flow-step-rsans c-Txt_Emp-02">STEP 1</p><p>エントリーコード9桁を入力してください<span class="<%= namespace %>-Util-color-crimson">（必須）</span></p>
        </div>
        <form action="https://form.rakuten.co.jp/ans/apply/39110" name="enenForm" method="POST" onSubmit="return checkForm()">
          <div class="<%= layout %>-TxtField u-Adjust_Mt-16">
            <input class="c-Form_Input" type=text name="answers[39110_267331]" placeholder="9桁の数字を入力して下さい。（全角・半角どちらでも可）" aria-disabled="true" disabled>
          </div>
          <p class="<%= namespace %>-Util-show-sp c-Txt_Cap u-Adjust_Mt-8">※全角・半角どちらでも可</p>
          <div class="<%= layout %>-Flow-step u-Adjust_Mt-32">
            <p class="<%= layout %>-Flow-step-rsans c-Txt_Emp-02">STEP 2</p><p>枠内をクリックまたはタップをしていただくと、郵便局名が表示されます。<br>表示された郵便局名が、チラシ「局名等記載欄」に<br class="<%= namespace %>-Util-show-pc">記載の郵便局名と一致しているか確認してください。</p>
          </div>
          <div class="<%= layout %>-TxtField u-Adjust_Mt-16">
            <input class="c-Form_Input" type=text name="answers[39110_267332]" placeholder="9桁の数字を入力すると自動で郵便局名が表示されます。" aria-disabled="true" disabled>
          </div>
          <div class="<%= layout %>-entrycode">
            <div>
              <div>
                <p class="c-Txt_Emp-01 u-Adjust_Mb-16">例）チラシ裏面　イメージ</p>
                <img src="<%= sitepath %>assets/img/shop/post-office/application/img-1-230125.png" alt="" width="323" height="100">
              </div>
            </div>
            <div>
              <p>例の場合、エントリーコード入力欄に「001123456」を入力します。STEP2の枠内をクリックまたはタップをしていただくと郵便局名が表示されますので、お間違いがないか確認をお願いいたします。</p>
              <p class="u-Adjust_Mt-16">※9桁のコードを入力しても郵便局名が表示されない場合、または表示された郵便局名に誤りがある場合には、チラシのエントリーコードを再度ご確認の上、今一度エントリーコードの入力をお願いします。再入力後に郵便局名が表示されない、または誤った郵便局名が表示される場合は、郵便局名を手入力して下さい。</p>
            </div>
          </div>
          <div class="<%= layout %>-Flow-step u-Adjust_Mt-24">
            <p class="<%= layout %>-Flow-step-rsans c-Txt_Emp-02">STEP 3</p><p>「エントリーする」ボタンを押してください</p>
          </div>
          <input type="hidden" name="c" value="楽天">
          <input type="hidden" name="l" value="ja">
          <div class="u-Adjust_Align-center"><input class="c-Btn_Primary-large u-Adjust_Mt-16" type="submit" value="エントリーする" aria-disabled="true" disabled></div>
          <p class="c-Txt_Cap u-Adjust_Mt-16 u-Adjust_Align-center">エントリーいただいた楽天会員情報及びお客様の契約状況に関する情報は、手続き状況等をお知らせする目的で楽天グループ株式会社に提供いたします。</p>
        </form>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">2.楽天モバイルに申し込む</h3>
        <p class="u-Adjust_Mt-8">電話・ショップ・Webいずれかからお申し込みをお願いします。</p>
        <div class="<%= layout %>-Flow-2">
          <img src="<%= sitepath %>assets/img/shop/post-office/application/img-2-230125.png" class="<%= layout %>-Flow-2-areaImg" alt="" width="306" height="173">
          <p class="<%= layout %>-Flow-2-category">電話</p>
          <div class="<%= layout %>-Flow-2-content">
            <p class="<%= layout %>-Flow-2-phonenumber">050-5840-0321</p>
            <p class="u-Adjust_Mt-8">営業時間：10:00～19:00（土日祝含む。年末年始（12月29日～1月3日）を除く）</p>
            <p class="c-Txt_Cap u-Adjust_Mt-16">
              ※混雑時はお電話がつながりにくい場合があります。<br>
              ※通話料金はお客様負担となります。ご希望の場合、オペレーターからおかけ直しいたします。
            </p>
          </div>
        </div>
        <div class="<%= layout %>-Flow-2">
          <img src="<%= sitepath %>assets/img/shop/post-office/application/img-3-230125.png" class="<%= layout %>-Flow-2-areaImg" alt="" width="306" height="173">
          <p class="<%= layout %>-Flow-2-category">ショップ</p>
          <div class="<%= layout %>-Flow-2-content">
            <p class="u-Adjust_Mt-16">＼来店予約はこちらからお願いします／</p>
            <a href="<%= sitepath %>shop/?l-id=shop_post-office_application_shop" class="c-Btn_Primary u-Adjust_Mt-8">お近くのショップを探す</a>
          </div>
        </div>
        <div class="<%= layout %>-Flow-2">
          <img src="<%= sitepath %>assets/img/shop/post-office/application/img-4-230125.png" class="<%= layout %>-Flow-2-areaImg" alt="" width="306" height="173">
          <p class="<%= layout %>-Flow-2-category">Web</p>
          <div class="<%= layout %>-Flow-2-content">
            <a href="<%= sitepath %>campaign/?l-id=shop_post-office_application_campaign" class="c-Btn_Primary u-Adjust_Mt-8">キャンペーン一覧から申し込む</a>
            <p class="c-Txt_Cap u-Adjust_Mt-8">
              ※各キャンペーンには適用条件が設定されています。<br>
              キャンペーンによって参加方法や応募条件、ポイントの進呈時期が異なりますので<br>
              お申し込み前に必ずキャンペーンルールをご確認ください。
            </p>
          </div>
        </div>
      </li>
    </ol>
  </section>
</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%#- include('/include/footer/related/related-shop-v2.ejs') %>

    <%#- include('/include/footer/bnr/bnr-shop.ejs') %>

    <%#- include('/faq/include/related-shop.ejs') %>
  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>


</div>
<%- include('/include/_common-js') %>
<script src="/assets/js/shop.post-office-application.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
