<% const pagetitle = "請求金額の確定とお支払い完了までの流れ" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/payment/bill/", label:"請求金額の確認"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '毎月のご請求金額の確定・請求タイミングや確認方法をご案内いたします。 ご請求金額はmy 楽天モバイルよりご確認いただけます。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/payment/flow/flow.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="l-System_Container u-Adjust_Pt-8">
  <p class="c-Txt_Cap u-Adjust_Align-right">※表記の金額はすべて税込です。</p>
</div>

<div class="<%= nameSpace %>-Layout_Container flow-Anchor-Area">

  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

    <p class="u-Adjust_Mt-40">毎月のご請求金額の確定・請求タイミングや確認方法をご案内いたします。 ご請求金額はmy 楽天モバイルよりご確認いただけます。</p>

    <ul class="<%= nameSpace %>-Layout_Anchorlink u-Adjust_Mt-0">
      <li><a href="#anc01" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>請求金額の確定と請求スケジュールについて</a></li>
      <li><a href="#anc02" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>利用料金画面の表示について</a></li>
      <li><a href="#anc03" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>利用料金・利用明細を確認する</a></li>
      <li><a href="#anc04" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>楽天モバイル（ドコモ回線・au回線）からプラン変更（移行）後の請求について</a></li>
    </ul>


    <h2 class="c-Heading_Lv2 u-Adjust_Mt-48" id="anc01">請求金額の確定と請求スケジュールについて</h2>
    <p class="u-Adjust_Mt-24">毎月1日から月末までのご利用料金を翌月にご請求いたします。<br>
      お支払い方法によってご請求のタイミングは異なります。お客様のお支払い方法に合わせて請求スケジュールをご確認ください。</p>

    <div class="c-Tab js-Tab u-Adjust_Mt-24">
      <ul class="c-Tab_Items" role="tablist">
          <li class="c-Tab_Item" id="tab-menu3" role="tab" aria-selected="true" aria-controls="tab-content3">クレジットカード</li>
          <li class="c-Tab_Item" id="tab-menu4" role="tab" aria-selected="false" aria-controls="tab-content4">デビットカード</li>
          <li class="c-Tab_Item" id="tab-menu5" role="tab" aria-selected="false" aria-controls="tab-content5">口座振替</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content3" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu3">
        <p class="c-Txt_Emp-01 u-Adjust_Mt-16">カード会社への請求について</p>
        <ul class="c-List_Text-disc u-Adjust_Mt-8">
          <li><span class="c-Txt_Emp-01">当月ご利用料金の請求</span><br>
            翌月11日ごろにカード会社へ請求となります。</li>
          <li><span class="c-Txt_Emp-01">製品代金の請求</span><br>
            お客様のもとに製品が到着した時点でカード会社へ請求となります。</li>
        </ul>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-24">当月ご利用料金と製品代金の引き落とし日について</p>
        <p class="u-Adjust_Mt-8">請求金額の引き落とし日は、ご契約されているカード会社によって異なります。詳しくは各カード会社の請求スケジュールをご確認ください。</p>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-24">例：8月ご利用料金の請求スケジュール<br>
          （楽天カードの場合：月末締め、翌月27日払い）</p>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/payment/flow/img-03-sp.png" width="686" height="1150">
            <img src="<%= sitepath %>assets/img/guide/payment/flow/img-03.png" width="1032" height="530" alt="">
          </picture>
        </div>
        <p class="c-Txt_Cap u-Adjust_Mt-8">
          ※1 楽天ポイント利用分は未反映となります。<br>
          ※2 楽天ポイント利用の設定額を超えた請求金額は、クレジットカードでのお支払いとなり、11日ごろにカード会社に請求いたします。<br>
          ※3 支払い証明書が発行されていない場合、未払いになっている可能性があります。<a href="<%= sitepath %>guide/payment/invoice/flow/?l-id=guide_payment_flow_guide_payment_invoice_flow">未払い料金のお支払い方法</a>をご確認のうえ、お支払いをお願いいたします。
        </p>
      </div>
      <div class="c-Tab_Panel" id="tab-content4" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu4">
        <p class="c-Txt_Emp-01 u-Adjust_Mt-16">当月ご利用料金の請求について</p>
        <p class="u-Adjust_Mt-8">翌月11日・12日のいずれかに請求、引き落としとなります。</p>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-24">製品代金の請求について</p>
        <p class="u-Adjust_Mt-8">お客様が申し込みを完了した時点（製品の到着前）で請求、引き落としとなります。</p>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-24">例：8月ご利用料金の請求スケジュール</p>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/payment/flow/img-04-sp.png" width="686" height="794">
            <img src="<%= sitepath %>assets/img/guide/payment/flow/img-04.png" width="1032" height="396" alt="">
          </picture>
        </div>
        <p class="c-Txt_Cap u-Adjust_Mt-8">
          ※1 楽天ポイント利用分は未反映となります。<br>
          ※2 楽天ポイント利用の設定額を超えた請求金額は、デビットカードでのお支払いとなり、11日ごろにカード会社に請求いたします。<br>
          ※3 11日・12日のいずれかに請求、引き落としとなります。<br>
          ※4 支払い証明書が発行されていない場合、未払いになっている可能性があります。<a href="<%= sitepath %>guide/payment/invoice/flow/?l-id=guide_payment_flow_guide_payment_invoice_flow">未払い料金のお支払い方法</a>をご確認のうえ、お支払いをお願いいたします。
        </p>
      </div>
      <div class="c-Tab_Panel" id="tab-content5" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu5">
        <p class="c-Txt_Emp-01 u-Adjust_Mt-16">当月ご利用料金の請求について</p>
        <p class="u-Adjust_Mt-8">翌月27日に請求、引き落としとなります。</p>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-24">例：8月ご利用料金の請求スケジュール</p>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/payment/flow/img-05-sp.png" width="686" height="992">
            <img src="<%= sitepath %>assets/img/guide/payment/flow/img-05.png" width="1032" height="443" alt="">
          </picture>
        </div>
        <p class="c-Txt_Cap u-Adjust_Mt-8">
          ※1 支払い証明書が発行されていない場合、未払いになっている可能性があります。<a href="<%= sitepath %>guide/payment/invoice/flow/?l-id=guide_payment_flow_guide_payment_invoice_flow">未払い料金のお支払い方法</a>をご確認のうえ、お支払いをお願いいたします。
        </p>
      </div>
    </div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="anc02">利用料金画面の表示について</h2>

    <div class="l-Media_Grid-reverse u-Adjust_Mt-24">
      <div>
        <p>毎月の請求金額お支払い完了までの状況をmy 楽天モバイルの「利用料金」でご確認いただけます。</p>
      </div>
      <div class="l-Media_Image c-Flow_Image">
        <img src="<%= sitepath %>assets/img/guide/payment/flow/img-02-221104.png" width="" alt="">
      </div>
    </div>

    <div class="u-Adjust_Mt-16">
      <h3 class="c-Heading_Lv3">請求ステータスの見方について</h3>
      <p class="u-Adjust_Mt-8"><span class="c-Label_Emp" style="background: #FFAE00;">未確定</span><br>請求金額の発生前、または、請求金額の支払い前の状態</p>
      <p class="u-Adjust_Mt-8"><span class="c-Label_Emp" style="background: #27AE60;">確定</span><br>クレジットカード会社への請求が正常に完了、または、請求金額の支払いが完了した状態</p>
      <p class="u-Adjust_Mt-8"><span class="c-Label_Emp" style="background: #e40404;">未払い</span><br>請求金額の支払い処理が正常に完了せず、未払い料金が発生した状態</p>

      <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">請求ステータスが切り替わるタイミングについて</h4>
      <p class="u-Adjust_Mt-16">ステータスが切り替わるタイミングは、ご登録されているお支払い方法が「クレジットカード／デビットカードの場合」と「口座振替の場合」で異なります。</p>
    </div>

    <div class="c-Tab js-Tab u-Adjust_Mt-16">
      <ul class="c-Tab_Items" role="tablist">
        <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">クレジットカード／デビットカードの場合</li>
        <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">口座振替の場合</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
        <dl class="c-Dl_Origin u-Adjust_Mt-16">
            <div>
                <dt>毎月4日ごろ</dt>
                <dd>
                  請求金額の案内
                  <p class="u-Adjust_Mt-8"><span class="c-Label_Emp" style="background: #FFAE00;">未確定</span></p>
                </dd>
            </div>
            <div>
                <dt>毎月11日ごろ</dt>
                <dd>
                  請求金額（確定分）の案内
                  <p class="u-Adjust_Mt-8"><span class="c-Label_Emp" style="background: #27AE60;">確定</span></p>
                  <p class="u-Adjust_Mt-8"><span class="c-Label_Emp" style="background: #e40404;">未払い</span>
                  <span class="c-Txt_Cap">※</span></p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">
                ※正しく処理が完了しなかった場合、当該月の未払い料金はお支払い完了まで「未払い」と表示されます。
                </p>
                </dd>
            </div>
            <div>
                <dt>毎月12日ごろ</dt>
                <dd>
                  支払い証明書の発行
                  <p class="u-Adjust_Mt-8"><span class="c-Label_Emp" style="background: #27AE60;color: #FFFFFF;">確定</span></p>
                </dd>
            </div>
        </dl>
      </div>
      <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
        <dl class="c-Dl_Origin u-Adjust_Mt-16">
            <div>
                <dt>毎月4日ごろ</dt>
                <dd>
                  請求金額の案内
                  <p class="u-Adjust_Mt-8"><span class="c-Label_Emp" style="background: #FFAE00;">未確定</span></p>
                </dd>
            </div>
            <div>
                <dt>毎月11日ごろ</dt>
                <dd>
                  請求金額（確定分）の案内
                  <p class="u-Adjust_Mt-8"><span class="c-Label_Emp" style="background: #FFAE00;">未確定</span></p>
                </dd>
            </div>
            <div>
                <dt>毎月27日ごろ</dt>
                <dd>
                  口座振替支払い期日
                  <p class="u-Adjust_Mt-8"><span class="c-Label_Emp" style="background: #FFAE00;">未確定</span></p>
                </dd>
            </div>
            <div>
                <dt>毎月1日ごろ</dt>
                <dd>
                  支払い証明書の発行
                  <p class="u-Adjust_Mt-8"><span class="c-Label_Emp" style="background: #27AE60;">確定</span></p>
                  <p class="u-Adjust_Mt-8"><span class="c-Label_Emp" style="background: #e40404;">未払い</span><span class="c-Txt_Cap">※</span></p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※正しく処理が完了しなかった場合、当該月の未払い料金はお支払い完了まで「未払い」と表示されます。</p>
                </dd>
            </div>
        </dl>
      </div>
    </div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="anc03">利用料金・利用明細を確認する</h2>
    <p class="u-Adjust_Mt-24">毎月のご利用料金は翌月4日ごろから順次my 楽天モバイルにてご確認いただけます。
</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
    ※2021年11月以降の利用明細には、楽天ポイント利用分は記載されておりません。楽天ポイント利用後のお支払い料金は、お支払い後に表示される「支払い証明書」でご確認ください。
    </p>
        <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/payment/usage-details/" class="c-Link_Txt-inline">利用明細と各種明細の確認方法<span class="c-Icon_Chevron-right"></span></a></p>


    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="anc04">楽天モバイル（ドコモ回線・au回線）からプラン変更（移行）後の請求について</h2>
    <p class="u-Adjust_Mt-24">楽天モバイル（ドコモ回線・au回線）からプラン変更（移行）後、翌々月まで利用料金の請求が発生する場合があります。請求の条件は下記をご参考ください。</p>
    <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">楽天モバイル（ドコモ回線・au回線）</h3>
    <div class=" u-Adjust_Mt-24">
        <dl class="c-Dl_Origin">
            <div>
                <dt>解約月の翌月に請求</dt>
                <dd>
                  <ul class="c-List_Text-disc">
                  <li>月額基本料</li>
                  <li>オプションサービス料</li>
                  </ul>
                </dd>
            </div>
            <div>
                <dt>解約月の翌々月に請求</dt>
                <dd>
                    以下ご利用の場合
                    <ul class="c-List_Text-disc  u-Adjust_Mt-8">
                    <li>SMSや料金が発生する通話料</li>
                    <li>「楽天でんわ10分かけ放題 by 楽天モバイル」オプションサービス料</li>
                    </ul>
                </dd>
            </div>
        </dl>
    </div>

    <p class="u-Adjust_Mt-24">楽天モバイル（ドコモ回線・au回線）からの移行後の料金詳細は、「<a href="<%= sitepath %>faq/detail/10000332/?l-id=guide_payment_flow_faq_10000332" target="_blank">楽天モバイル（ドコモ・au回線）からRakuten最強プランへプラン変更（移行）したのですが、両方から請求がありました。なぜですか？</a>」をご確認ください。</p>

    <%- include('/include/guide/_faq') %>

  </div>
</div>




<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">



    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>



</body>
</html>
