<% const pagetitle = "取り扱い製品の対応周波数帯一覧" -%>
<% const directories = [{path:"product/", label:"製品"}] -%>
<%-
 include('/_header', {
    pagetitle,
    directories,
    description: '楽天モバイルで取り扱っている製品が対応している通信方式（5G、4G LTE、3G）の周波数帯をご確認いただけます。',
    noindex: false,
    pathname: filepath
  });
%>
<% const nameSpace = "product-band" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/product-top.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/band/band.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
  <%- include('/include/_prepend-body') %>

  <div class="l-System">

    <%- include('/include/_header') %>

    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
          <%_ let dirs = []; _%>
          <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>

    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1 u-Adjust_Mt-32"><%= pagetitle %></h1>
      <p class="u-Adjust_Mt-16">楽天モバイルで取り扱っている製品が対応している通信方式（5G、4G LTE、3G）の周波数帯をご確認いただけます。</p>
      <p>該当製品がNTTドコモ、au、ソフトバンクが使用している周波数帯に対応している場合、他社回線でも使用可能です。各社が使用している通信方式・周波数帯は「<a href="http://www.soumu.go.jp/joho_tsusin/eidsystem/competition12_02.html" rel="noopener" target="_blank" class="c-Link_Txt-inline-icon">総務省ホームページ<span class="c-Icon_New-window-l"></span></a>」をご確認ください。</p>
      <ul class="c-Txt_Cap u-Adjust_Mt-8">
        <li><span>※</span>「バンド」は3GPPの規格に準拠しています。</li>
        <li><span>※</span>製品が対応している周波数帯は「◯」、対応していない場合は「-」を掲載しております。</li>
        <li><span>※</span>「○」が付いている場合においても、楽天モバイル以外のネットワークでの利用について各製品の動作保証を行うものではありません。</li>
        <li><span>※</span>他社回線の対応状況については「<a href="<%= sitepath %>product/compatible-band/" class="c-Link_Txt-inline">取り扱い製品の他社回線対応状況一覧</a>」をご確認ください。</li>
      </ul>

      <div class="u-Adjust_Mt-40">
        <div id="frequency-band-list"></div>
      </div>
    </div>

    <footer class="g-Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-service-v2.ejs') %>
        <%- include('/include/footer/bnr/_bnr.ejs') %>
        <%#- include('/faq/include/related-service.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>

      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/product.frequency-band.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
</body>
</html>
