<% const pagetitle = "Rakuten Mini初期設定方法（製品交換の場合）" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/rakuten/", label:"Rakutenオリジナル"}, {path:"product/smartphone/rakuten-mini/", label:"Rakuten Mini"}, {path:"product/smartphone/rakuten-mini/support/", label:"Rakuten Miniサポート情報"}] -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Rakuten Miniの製品交換時の初期設定方法をご案内します',
    noindex: false,
    pathname: 'product/smartphone/rakuten-mini/support/exchange-setting/'
  });
%>

<%- include('/include/_common-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="u-Adjust_Pb-64">
  <div class="l-System_Container u-Adjust_Mt-32">
    <h1 class="c-Heading_Lv1">Rakuten Mini初期設定方法（製品交換の場合）</h1>
    <div class="c-Infobox_Standing-light u-Adjust_Mt-32">
<p class="u-Adjust_Mt-8">初期設定には、Wi-Fi ネットワークに接続する必要があります。 </p>
<p class="u-Adjust_Mt-16">うまく開通しない場合は、機内モードON/OFFや、製品の再起動などをお試しください。また、モバイルデータ通信がOFFになっていないかご確認ください。</p>
    </div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">セットアップ手順</h2>
    <ol class="c-Flow">
      <li><span class="c-Txt_Alphanumeric-m">1</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">製品の電源を入れ、「開始」をタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/exchange-setting/main-image-01.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><span class="c-Txt_Alphanumeric-m">2</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">利用するWi-Fiネットワークを選択し、Wi-Fiに接続してください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/exchange-setting/main-image-02.png?200128" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><span class="c-Txt_Alphanumeric-m">3</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">アップデートを確認中の画面が表示されます。<br>
画面表示が切り替わるまでそのままお待ちください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/exchange-setting/main-image-03.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><span class="c-Txt_Alphanumeric-m">4</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">アプリとデータのコピー画面が表示されます。データ移行を行う場合は、「次へ」をタップし、Googleアカウントにログインしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/exchange-setting/main-image-04.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        <p class="u-Adjust_Mt-24">Googleアカウントをお持ちでない場合は、以下より新規作成をしてください。</p>
        <p class="u-Adjust_Mt-16"><a href="https://accounts.google.com/signup/v2/webcreateaccount?flowName=GlifWebSignIn&flowEntry=SignUp" class="c-Link_Txt-icon">Googleアカウントを新規作成する<span class="c-Icon_Chevron-right"></span></a></p>



      </li>
      <li><span class="c-Txt_Alphanumeric-m">5</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">画面ロックの設定画面が表示されます。PINを入力し、「次へ」をタップしてください。</h4>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/exchange-setting/main-image-05.png" width="300" height="" alt="" class="c-Img_Capture"></figure>

    <p class="u-Adjust_Mt-24">画面の案内に従って、PINの再入力をし、「確認」をタップしてください。</p>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/exchange-setting/main-image-05-2.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
      <li><span class="c-Txt_Alphanumeric-m">6</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">通知画面が表示されます。通知方法を選択し、「完了」をタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/exchange-setting/main-image-06.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><span class="c-Txt_Alphanumeric-m">7</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">その他の設定項目画面が表示されます。案内に従って設定を行ってください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/exchange-setting/main-image-07.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><span class="c-Txt_Alphanumeric-m">8</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">以下の画面が表示されます。<br>
画面表示が切り替わるまでそのままお待ちください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/exchange-setting/main-image-08.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><span class="c-Txt_Alphanumeric-m">9</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">位置情報取得の高速化画面が表示されます。<br>
利用規約およびプライバシーポリシーをお読みいただき、「位置情報収集の同意」にチェックを入れ、「次へ」をタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/exchange-setting/main-image-09.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><span class="c-Txt_Alphanumeric-m">10</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">eSIMの設定画面が表示されます。「アプリを開く」ボタンをタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/exchange-setting/main-image-10.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
    </ol>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">初期設定方法（アクティベーション）</h2>
    <ol class="c-Flow">
      <li><span class="c-Txt_Alphanumeric-m">11</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">my 楽天モバイルアプリを起動すると、楽天会員ログイン画面が表示されます。ユーザIDとパスワードを入力し、ログインしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/exchange-setting/main-image-11.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><span class="c-Txt_Alphanumeric-m">12</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">my 楽天モバイルにログイン後、以下の画面が表示されます。「申込番号」エリアをタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/exchange-setting/main-image-12.png?211019" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><span class="c-Txt_Alphanumeric-m">13</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">申し込み番号の画面が表示されます。<br>
「楽天回線の開通手続きを行う」ボタンをタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/exchange-setting/main-image-13.png?211019" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><span class="c-Txt_Alphanumeric-m">14</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">「my 楽天モバイル モバイルネットワークに接続します」と表示されます。「接続」をタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/exchange-setting/main-image-14.png?211019" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><span class="c-Txt_Alphanumeric-m">15</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">処理に少し時間がかかります。画面が切り替わるまでそのままでお待ちください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/exchange-setting/main-image-15.png?211019" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><span class="c-Txt_Alphanumeric-m">16</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">「開通手続きが完了しました」と表示されます。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/exchange-setting/main-image-16.png?211019" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><span class="c-Txt_Alphanumeric-m">17</span><h4 class="c-Heading_Lv4 u-Adjust_Align-center">回線の設定が「開通済み」と表示されます。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/exchange-setting/main-image-17.png?211019" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
    </ol>

    <p class="u-Adjust_Mt-32">以上で設定は完了です。</p>
    <div class="c-Infobox_Standing-light u-Adjust_Mt-32">
      <h3 class="c-Heading_Lv3">インターネットに接続されているか、ご確認ください。</h3>
    <p class="u-Adjust_Mt-16">しばらくお待ちいただくと、インターネットがご利用いただけます。<br>
ブラウザアプリなどをご利用いただき、Webページが表示されるかご確認ください。<br>
うまく開通しない場合は、Wi-Fiをオフにする、もしくは機内モードON/OFFや製品の再起動などをお試しください。<br>
また、モバイルデータ通信がOFFになっていないかご確認ください。</p>
    </div>


  </div>
</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-product.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%#- include('/faq/include/related-product.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
