<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "開通工事における、新型コロナウイルス感染症対策について" -%>
<% const directories = [{path: hikariroot.path + "support/", label:"お客様サポート"}] -%>
<% const namespace = "coronavirus-measures" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天ひかりの開通工事における、工事担当者の新型コロナウイルス感染症対策の取り組みについてご案内いたします。',
    noindex: false,
    pathname: filepath,
    ishikari: true,
    canonical_custom: 'https://network.mobile.rakuten.co.jp/hikari/support/coronavirus-measures/',
  });
%>
<%- include('/include/hikari/_common-v2-hikari-css') %>
<%- include('/include/hikari/_common-v2-hikari-css-only-hf') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/support/coronavirus-measures/coronavirus-measures.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/module/m-hikari-cpn-v2.css?20240424">


<%- include('/include/_append-head-hikari') %>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>

<div class="l-System">
  <%- include('/hikari/include/_header', { headerType: 'normal', pagetitle: pagetitle, directories: directories, tax: false }) %>

  <div class="l-hikari-Section_Main">
		<div class="l-System_Container">
      <h1 class="c-Heading_Lv1">開通工事における、新型コロナウイルス感染症対策について</h1>
    </div>

    <div class="l-hikari-Section_Sub-short">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2">工事担当者の感染症対策</h2>
        <div class="l-hikari-Section_Sub-content-middle u-Adjust_Mt-16">
          <p>訪問時、工事担当者は以下の対策を実施しております。</p>
          <div class="hikari-support-coronavirus-measures-media u-Adjust_Mt-16">
            <div class="">
                <img src="<%= sitepath %>assets/img/hikari/support/coronavirus-measures/img01-pc.png?220518" alt="マスクの着用">
                <img src="<%= sitepath %>assets/img/hikari/support/coronavirus-measures/img02-pc.png?220518" alt="手洗い・手指の消毒">
            </div>
            <div class="">
                <img src="<%= sitepath %>assets/img/hikari/support/coronavirus-measures/img03-pc.png?220518" alt="お客様と一定の距離">
                <img src="<%= sitepath %>assets/img/hikari/support/coronavirus-measures/img04-pc.png?220518" alt="検温">
            </div>
          </div>

          <p class="c-Txt_Cap u-Adjust_Mt-32">※熱中症予防等のために、一定の距離が確保できる際には、マスクを外して作業させていただく場合がございます。</p>

        </div>
      </div>
    </div>
  </div>

  <div class="l-hikari-Section_Sub-short">
    <div class="l-System_Container">
      <h2 class="c-Heading_Lv2">訪問時の確認事項</h2>
      <div class="l-hikari-Section_Sub-content-middle u-Adjust_Mt-32">
        <p>工事担当者が訪問の際に、作業場所の換気や、お客様の体調について確認させていただくことがございます。万が一、発熱や咳などの症状が確認された際には作業の延期をご相談させていただく場合がございますので、ご協力をよろしくお願いいたします。</p>
        <p class="u-Adjust_Mt-16">なお、お客様の体調がご心配な場合は、事前のご連絡時にお申し出いただければ工事日の日程変更なども承りますので、ご理解とご協力のほど、よろしくお願いいたします。</p>
      </div>
    </div>
  </div>


  <footer class="g-Footer">
    <%- include('/hikari/include/_footer', { pagetitle: pagetitle, directories: directories, hiddenCta: true, hiddenFooterCta: true }) %>
  </footer>

</div>
<%- include('/include/hikari/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
