<% const pagetitle = "Rakuten Turbo お申し込み事前確認" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '楽天モバイルのホームルーターRakuten Turboのお申し込み事前確認をしていただけます',
    noindex: true,
    pathname: filepath,
    isTurbo: true
  });
%>
<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/internet/turbo/common/fullmap.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/internet/turbo/_fullmap', { pagePath: 'internet/turbo/application/' }) %>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/library/map_cpe.js?231116-2"></script>
<%- include('/include/_append-body') %>
</body>
</html>
