<% const pagetitle = "We offer 2GB FREE even overseas! Use Rakuten Mobile right out of the box" -%>
<% const directories = [{path:"service/", label:"Optional services"},{path:"service/global/", label:"International services"}] -%>
<% const namespace = "overseas-en" -%>
<% const sitetitle = "Top" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Rakuten Mobile offers 2GB free data transmission overseas. You can use your phone overseas without any additional fees or additional application. We will provide information including our affordable international services (international calls, international SMS, and international roaming) and how to use your phone overseas. *Counted as plan data usage. ',
    noindex: false,
    pathname: filepath,
    isEnglish: true,
  });
%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/service/global/overseas/en/overseas-en.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>
</head>

<body class="<%= namespace %>-Base">
  <%- include('/include/_prepend-body') %>

  <div class="l-System">

    <%- include('/include/_header') %>

    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>fee/un-limit/en/"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>

    <div class="<%= namespace %>-Hero">
      <h1>
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/service/global/overseas/en/img-kv-sp-240430.png">
          <img src="<%= sitepath %>assets/img/service/global/overseas/en/img-kv-pc-240430.png" alt="Use Rakuten Mobile right out of the box!*1 We offers 2GB FREE overseas*2 [Plan fee]880yen~ (Tax incl. 968yen~)" width="1440" height="400">
        </picture>
      </h1>
    </div>

    <div class="<%= namespace %>-Layout_Gray u-Adjust_Pt-0 u-Adjust_Pb-40">
      <div class="l-System_Container">
        <nav>
          <ul class="<%= namespace %>-Nav_Hero">
            <li>
              <a href="#anc1" class="c-Banner_Hover-act js-scroll">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/service/global/overseas/en/img-kv-nav-sp1.png">
                  <img src="<%= sitepath %>assets/img/service/global/overseas/en/img-kv-nav1.png" alt="International roaming Up to 2GB/mo. FREE*2" width="100%" height="150">
                </picture>
              </a>
            </li>
            <li>
              <a href="#anc2" class="c-Banner_Hover-act js-scroll">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/service/global/overseas/en/img-kv-nav-sp2.png">
                  <img src="<%= sitepath %>assets/img/service/global/overseas/en/img-kv-nav2.png" alt="International calls Between Rakuten Link apps Unlimited calls*3" width="100%" height="150">
                </picture>
              </a>
            </li>
            <li>
              <a href="#anc3" class="c-Banner_Hover-act js-scroll">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/service/global/overseas/en/img-kv-nav-sp3.png">
                  <img src="<%= sitepath %>assets/img/service/global/overseas/en/img-kv-nav3.png" alt="International SMS Between Rakuten Link apps Send / Receive FREE*4" width="100%" height="150">
                </picture>
              </a>
            </li>
          </ul>
        </nav>

        <div class="u-Adjust_Align-center u-Adjust_Mt-24">
          <a href="#anc4" class="c-Banner_Hover-act js-scroll">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/service/global/overseas/en/bnr1-sp-240418.png" width="687" height="536">
              <img src="<%= sitepath %>assets/img/service/global/overseas/en/bnr1-240418.png" alt="Narita International Airport & Chubu Centrair International Airport Application counters are now open!" width="1032" height="123">
            </picture>
          </a>
        </div>

        <p class="c-Txt_Cap u-Adjust_Mt-16">
          *1 Settings for my Rakuten Mobile app and smartphone are required additionally at the time of use. *2 Counted as plan data usage. Maximum communication speed is limited to 128kbps after 2GB. <a href="#note1" class="c-Link_Txt">Click here</a> for details on data transmission (international roaming) precautions.
          *3 Please complete <a href="https://service.link.link/guide/" target="_blank" class="c-Link_Txt" rel="noopener">the initial settings</a> of the Rakuten Link app before leaving Japan. <a href="#note2" class="c-Link_Txt">Click here</a> for details on precautions for international calls *4 <a href="#note3" class="c-Link_Txt">Click here</a> for details on precautions for international SMS. *5 We may not be able to provide a contract depending on your device and destination. *6 Requires the purchase of a Wi-Fi device itself.
        </p>


        <div class="<%= namespace %>-Layout_Easy-to-use u-Adjust_Mt-32">
          <h2 class="u-Adjust_Align-center c-Heading_Lv2 u-Weight_Bold">Effortless to Use!</h2>
          <ul class="u-Adjust_Mt-24 <%= namespace %>-Layout_Easy-to-use-list">
            <li>
              <h3 class="u-Weight_Bold">With "my Rakuten Mobile",
                <br>simply activate "overseas roaming"<span class="c-Txt_Cap <%= namespace %>-Layout_Easy-to-use-text-cap">*</span></h3>
              <p>Forget the hassle of initial settings or downloading dedicated apps – none of that is needed.</p>
              <div class="u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/service/global/overseas/en/img-easy-to-use-01.png" alt="" loading="lazy" width="320" height="163">
              </div>
            </li>
            <li>
              <h3 class="u-Weight_Bold">No extra steps needed!</h3>
              <p>Overseas roaming services are already part of your plan.</p>
              <div class="u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/service/global/overseas/en/img-easy-to-use-02.png" alt="" loading="lazy" width="320" height="163">
              </div>
            </li>
            <li>
              <h3 class="u-Weight_Bold">Use your smartphone seamlessly!</h3>
              <p>No SIM replacement or rental equipment pick up necessary.</p>
              <div class="u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/service/global/overseas/en/img-easy-to-use-03.png" alt="" loading="lazy" width="320" height="163">
              </div>
            </li>
          </ul>
        </div>

        <p class="u-Adjust_Mt-24 u-Adjust_Align-center <%= namespace %>-Sp_Align-left">
          When using your phone overseas, please make sure to set it up according to the following process before departure,<br>
          after arrival, and after returning home.
        </p>
        <div class="u-Adjust_Mt-8 u-Adjust_Align-center">
          <a href="<%= sitepath %>guide/global/?l-id=service_global-overseas-en_guide_global" class="c-Btn_Regular"><span>Check how to set up for overseas use</span></a>
        </div>

        <div class="c-Infobox_Standing-warning u-Adjust_Mt-32">
          <p class="c-Txt_Alphanumeric-emp02">Notification of Additional Overseas Countries Covered</p>
          <p class="u-Adjust_Mt-8">With the addition of <span class="c-Txt_Alphanumeric-emp01">Saudi Arabia</span>, data communications are now available in 73 applicable overseas countries and regions (as of Apr. 19, 2024).</p>
        </div>

        <h2 class="u-Adjust_Mt-32 u-Adjust_Align-center c-Heading_Lv3">“Rakuten SAIKYO Plan", an excellent deal even overseas</h2>
        <nav class="u-Adjust_Mt-16">
          <ul class="<%= namespace %>-Nav_Menu">
            <li>
              <a href="#anc1" class="c-Link_Txt-icon-front">
                <span class="c-Icon_Arrow-down-l"></span>
              Data<br class="<%= namespace %>-Utility_Pc">
              transmission</a>
            </li>
            <li>
              <a href="#anc2" class="c-Link_Txt-icon-front">
                <span class="c-Icon_Arrow-down-l"></span>
                International<br class="<%= namespace %>-Utility_Pc">
                calls
              </a>
            </li>
            <li>
              <a href="#anc3" class="c-Link_Txt-icon-front">
                <span class="c-Icon_Arrow-down-l"></span>
                International<br class="<%= namespace %>-Utility_Pc">
                SMS
              </a>
            </li>
            <li class="<%= namespace %>-Nav_Menu-item">
              <div>
                <p class="c-Txt_Alphanumeric-emp02 <%= namespace %>-Nav_Menu-item-txt-sm">
                  Exclusive to Narita International Airport &<br>
                  Chubu Centrair International Airport
                </p>
                <a href="#anc4" class="c-Link_Txt-icon-front">
                  <span class="c-Icon_Arrow-down-l"></span>
                  Details for your departure day
                </a>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="<%= namespace %>-Layout_Pink <%= namespace %>-Layout">
      <div class="l-System_Container">
        <div class="<%= namespace %>-Card <%= namespace %>-Layout_Content">
          <div class="<%= namespace %>-Card_Head">
            <h2 id="anc1" class="<%= namespace %>-Heading_Lv2">Data transmission (international roaming)</h2>
          </div>
          <div class="<%= namespace %>-Card_Body">
            <div class="<%= namespace %>-Card_Body-inner">
              <h3 class="<%= namespace %>-Heading_Lv3 <%= namespace %>-Card_Body-inner-exception">Data transmission is available in 73 applicable overseas countries and regions.</h3>
              <div class="u-Adjust_Mt-16">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/service/global/overseas/en/img-01-sp.png">
                  <img src="<%= sitepath %>assets/img/service/global/overseas/en/img-01.png" alt="High-speed data transmission Up to 2GB/mo. FREE Unlimited data at max. 128 kbps over 2GB" width="770" height="195">
                </picture>
              </div>
              <p class="<%= namespace %>-Utility_Align-center-left <%= namespace %>-Utility_Mt-24-16 c-Txt_Cap">
                *Counted as plan data usage.<br class="<%= namespace %>-Utility_Sp">
                *2 <a href="#note1" class="c-Link_Txt js-scroll">Click here</a> for details on data transmission (international roaming) precautions.
              </p>
            </div>


            <div class="<%= namespace %>-Layout_Data-usage u-Adjust_Mt-40">
              <h4 class="c-Heading_Lv4 u-Adjust_Align-center u-Weight_Bold">No Extra Cost!<br><span class="c-Txt_Normal-l u-Color_Primary u-Weight_Bold">2GB of Overseas Usage Is Included in Your Plan!</span></h4>
              <div class="u-Adjust_Mt-32 u-Adjust_Mt-pc-24 u-Adjust_Align-center">
                <p>
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/service/global/overseas/en/ladder-sp-240430.png" width="560" height="482">
                    <img src="<%= sitepath %>assets/img/service/global/overseas/en/ladder-pc-240430.png" width="777" height="333" alt="With the family discount applied, 880 yen/mo. (968 yen incl. tax) for up to 3GB or 2,880 yen/mo. (3,168 yen incl. tax) for unlimited high-speed data." loading="lazy">
                  </picture>
                </p>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">*Excludes call charges and related fees. *3 Speed may be limited for fair service provision. Speed may decrease depending on the environment.</p>
                <div class="u-Adjust_Mt-16">
                  <a href="<%= sitepath %>fee/saikyo-plan/en/?l-id=service_global_overseas_en_fee_saikyo-plan_en" class="c-Btn_Regular-large">See Detailed Price Plan</a>
                </div>
                <p id="roaming2gb" class="u-Adjust_Mt-32 u-Adjust_Align-center">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/service/global/overseas/en/roaming-data-sp-240430.png" width="623" height="1015">
                    <img src="<%= sitepath %>assets/img/service/global/overseas/en/roaming-data-pc-240430.png" width="784" height="449" alt="Example of Overseas Roaming with 2GB Usage: When using a total of 22GB of high-speed data, the cost is just 2,880 yen (3,168 yen incl. tax) with a family discount applied!" loading="lazy">
                  </picture>
                </p>
              </div>
              <div class="<%= namespace %>-Card u-Adjust_Mt-24">
                <div class="<%= namespace %>-Card_Head-secondary-emp">
                  <h3>Need More Than <span>2GB</span> of High-Speed Data While Overseas?</h3>
                </div>
                <div class="<%= namespace %>-Card_Body-secondary">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/service/global/overseas/en/img-02-sp-240418.png" width="559" height="253">
                    <img src="<%= sitepath %>assets/img/service/global/overseas/en/img-02-240418.png" alt="" width="583" height="99">
                  </picture>
                  <div class="u-Adjust_Mt-16">
                    <a href="<%= sitepath %>service/data-charge/?l-id=service_global-overseas-en_service_data-charge" class="c-Btn_Regular-large"><span>Learn More</span></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="c-Accordion u-Adjust_Mt-32 u-Adjust_Align-left">
              <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>73 applicable overseas countries and regions</button>
              <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true" style="display: none;">
                <p id="area">
                  Andorra, Australia, Austria, Belgium, Brazil, Bulgaria, Cambodia, Canada, China, Croatia, Cyprus, Czech Republic, Denmark, Egypt, Estonia, Finland, France, French Giana, Germany, Gibraltar, Greece, Guadeloupe, Guam, Hong Kong, Hungary, Iceland, India, Indonesia, Ireland, Italy, Jordan, Kuwait, Latvia, Lichtenstein, Lithuania, Luxembourg, Macau, Mainland USA, Malaysia, Malta, Martinique, Mexico, Morocco, Myanmar, Netherlands, New Zealand, Norway, Peru, Philippines, Poland, Portugal, Qatar, Reunion, Romania, Russia, Saipan, Saudi Arabia, Singapore, Slovakia, Slovenia, South Africa, South Korea, Spain, Sweden, Switzerland, Taiwan, Thailand, Turkey, Ukraine, United Arab Emirates, United Kingdom, USA (Hawaii), Vietnam (as of Apr. 19, 2024)
                </p>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">*Please note that the United Arab Emirates, Egypt, Jordan, Kuwait, Qatar, Saudi Arabia, and Ukraine are not eligible for international unlimited calls and free international SMS sending.</p>
                <p class="c-Txt_Cap">*Myanmar is not eligible for unlimited international calls.</p>
                <p class="c-Txt_Cap">*Coverage areas and conditions for data transmission (international roaming), international calls, international SMS, and unlimited international calls are subject to change without notice.</p>
              </div>
            </div>

            <div class="<%= namespace %>-Layout_List-3btn u-Adjust_Mt-24">
              <a href="<%= sitepath %>support/international-roaming/area/?l-id=service_global_overseas_en_support_international-roaming_area" class="c-Btn_Regular"><span>Check Availability by Destination</span></a>
              <a href="<%= sitepath %>service/international-roaming/?l-id=service_global_overseas_en_service_international-roaming" class="c-Btn_Regular"><span>See Service Details</span></a>
              <a href="<%= sitepath %>guide/international-roaming/?l-id=service_global_overseas_en_mguide_international-roaming" class="c-Btn_Regular"><span>Learn How to Use the Service</span></a>
            </div>
          </div>
        </div>


        <div class="<%= namespace %>-Card <%= namespace %>-Layout_Content">
          <div class="<%= namespace %>-Card_Head">
            <h2 id="anc2" class="<%= namespace %>-Heading_Lv2">International calls</h2>
          </div>
          <div class="<%= namespace %>-Card_Body">
            <div class="<%= namespace %>-Card_Body-inner">
              <h3 class="<%= namespace %>-Heading_Lv3">With the "Rakuten Link" app</h3>

              <div class="<%= namespace %>-Card_Body-grid u-Adjust_Mt-16">
                <div class="<%= namespace %>-Card_Body-grid-img <%= namespace %>-Card_Body-grid-img-layout">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/service/global/overseas/en/illust-01-sp.png">
                    <img src="<%= sitepath %>assets/img/service/global/overseas/en/illust-01.png" alt="" width="337" height="206">
                  </picture>
                </div>
                <h4 class="<%= namespace %>-Card_Body-grid-title">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/service/global/overseas/en/International-calls-title-sp.png">
                    <img src="<%= sitepath %>assets/img/service/global/overseas/en/International-calls-title.png" alt="to Japanese phone numbers international calls
                    are FREE " width="422" height="126">
                  </picture>
                </h4>
                <div class="<%= namespace %>-Card_Body-grid-body">
                  <ul class="<%= namespace %>-List_Marker">
                    <li>
                      <span class="c-Icon_Check"></span>
                      Also available for users<br class="<%= namespace %>-Utility_Sp">
                      who do not use<br class="<%= namespace %>-Utility_Pc">
                      the Rakuten Link app
                    </li>
                    <li>
                      <span class="c-Icon_Check"></span>
                      No data usage count
                    </li>
                  </ul>
                  <p class="u-Adjust_Mt-16 c-Txt_Cap">
                    *Some numbers are not eligible for free calls. <a href="#note2" class="c-Link_Txt js-scroll">Click here</a> for more details on precautions for international calls.<br>
                    <span class="c-Txt_Emp-01">*"Rakuten SAIKYO Plan (Data Type)" is not applicable.</span>
                  </p>
                </div>
              </div>

              <h3 class="<%= namespace %>-Heading_Lv3 u-Adjust_Mt-32">For example, excellent deals such as these</h3>
              <ul class="<%= namespace %>-List_Col-3 <%= namespace %>-List_Col-3-images <%= namespace %>-List_Col-3-over-layout u-Adjust_Mt-16">
                <li>
                  <h4>
                    Between Rakuten Link app<br>
                    <span class="c-Txt_Alphanumeric-emp02">Free calls</span> to friends overseas!
                  </h4>
                  <img src="<%= sitepath %>assets/img/service/global/overseas/en/illust-02.png" alt="">
                </li>
                <li>
                  <h4>
                    <span class="c-Txt_Alphanumeric-emp02">Free calls</span> for friends traveling abroad with you with a Japanese phone number!
                  </h4>
                  <img src="<%= sitepath %>assets/img/service/global/overseas/en/illust-03.png" alt="">
                </li>
                <li>
                  <h4>
                    <span class="c-Txt_Alphanumeric-emp02">Free calls</span> to family at home in Japan from overseas business trips!
                  </h4>
                  <img src="<%= sitepath %>assets/img/service/global/overseas/en/illust-04.png" alt="">
                </li>
              </ul>
              <p class="u-Adjust_Mt-16 c-Txt_Cap u-Adjust_Align-left">*When using Rakuten Link app, some numbers are not eligible for free calls. </p>
              <div class="<%= namespace %>-Utility_Mt-24-32 u-Adjust_Align-center <%= namespace %>-Utility_2btn">
                <a href="<%= sitepath %>service/international-call/?l-id=service_global-overseas-en_service_international-call" class="c-Btn_Regular"><span>For further information</span></a>
              </div>
              <div class="u-Adjust_Mt-16 <%= namespace %>-Utility_2btn">
                <a href="<%= sitepath %>guide/international-call/overseas/?l-id=service_global-overseas-en_guide_international-call-overseas
                  " class="c-Btn_Regular"><span>Check how to use the service overseas</span></a>
                <a href="<%= sitepath %>guide/international-call/?l-id=service_global-overseas-en_guide_international-call" class="c-Btn_Regular"><span>Check how to use the service in Japan</span></a>
              </div>
              <div class="u-Adjust_Mt-40">
                <div class="<%= namespace %>-Card">
                  <div class="<%= namespace %>-Card_Head-secondary">
                    <h3>Recommended for users who have international phone numbers!</h3>
                  </div>
                  <div class="<%= namespace %>-Card_Body-secondary">
                    <div class="<%= namespace %>-Card_Body-grid-2">
                      <div class="<%= namespace %>-Card_Body-grid-2-img">
                        <picture>
                          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/service/global/overseas/en/illust-05-sp.png">
                          <img src="<%= sitepath %>assets/img/service/global/overseas/en/illust-05.png" alt="" width="125" height="155">
                        </picture>
                      </div>
                      <h4 class="<%= namespace %>-Card_Body-grid-2-title">International Unlimited Call</h4>
                      <div class="<%= namespace %>-Card_Body-grid-2-body">
                        <p>
                          <picture>
                            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/service/global/overseas/en/img-03-sp.png">
                            <img src="<%= sitepath %>assets/img/service/global/overseas/en/img-03.png" alt="Japan to Overseas calls Overseas to Overseas calls → 980 yen/mon. Unlimited" width="">
                          </picture>
                        </p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">
                          *Rakuten Link is recommended for overseas calls. <span style="font-weight: bold;">Unlimited international calls service is not available when using the standard OS phone app for outgoing calls overseas.</span> *Some numbers are not covered. <span class="c-Txt_Emp-01">*"Rakuten SAIKYO Plan (Data Type)" is not applicable.</span>
                        </p>
                        <div class="u-Adjust_Mt-16">
                          <a href="<%= sitepath %>service/international-unlimited-talk/?l-id=service_global-overseas-en_service_international-unlimited-talk" class="c-Btn_Regular"><span>For further information</span></a>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="<%= namespace %>-Card <%= namespace %>-Layout_Content">
          <div>
            <div class="<%= namespace %>-Card_Head">
              <h2 id="anc3" class="<%= namespace %>-Heading_Lv2">International SMS</h2>
            </div>
            <div class="<%= namespace %>-Card_Body">
              <div class="<%= namespace %>-Card_Body-inner">
                <h3 class="<%= namespace %>-Heading_Lv3">Between “Rakuten Link” apps</h3>

                <div class="<%= namespace %>-Card_Body-grid u-Adjust_Mt-16">
                  <div class="<%= namespace %>-Card_Body-grid-img <%= namespace %>-Card_Body-grid-img-layout">
                    <picture>
                      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/service/global/overseas/en/illust-06-sp.png">
                      <img src="<%= sitepath %>assets/img/service/global/overseas/en/illust-06.png" alt="" width="321" height="196">
                    </picture>
                  </div>
                  <h4 class="<%= namespace %>-Card_Body-grid-title">
                    <small class="<%= namespace %>-Card_Body-grid-title-adjust"><span class="c-Txt_Alphanumeric-emp02">sending/receiving</span> in Japan and overseas</small>
                    <span>
                      <em>international SMS</em><br>
                      are <em class="<%= namespace %>-Card_Body-grid-title-emp">FREE</em>
                    </span>
                  </h4>
                  <div class="<%= namespace %>-Card_Body-grid-body">
                    <ul class="<%= namespace %>-List_Marker">
                      <li>
                        <span class="c-Icon_Check"></span>
                        <span>
                          Free sending to applicable countries and<br class="<%= namespace %>-Utility_Pc">
                          regions with the app <span style="font-size: 12px;">*7</span>
                        </span>
                      </li>
                      <li>
                        <span class="c-Icon_Check"></span>
                        Free sending even if users do not use the app
                      </li>
                      <li>
                        <span class="c-Icon_Check"></span>
                        No data usage count
                      </li>
                    </ul>
                    <p class="u-Adjust_Mt-16 c-Txt_Cap">
                      *7 Phone numbers in applicable <a href="<%= sitepath %>service/international-sms/#area" class="c-Link_Txt-inline">countries and regions</a> outside of Japan<br>
                      *Daily limits for sending SMS. <a href="#note3" class="c-Link_Txt js-scroll">Click here</a> for details on international SMS precautions.
                    </p>
                  </div>
                </div>

                <div class="u-Adjust_Mt-24 <%= namespace %>-Utility_2btn">
                  <a href="<%= sitepath %>service/international-sms/?l-id=service_global-overseas-en_service_international-sms" class="c-Btn_Regular"><span>For further information</span></a>
                </div>
                <div class="u-Adjust_Mt-16 <%= namespace %>-Utility_2btn">
                  <a href="<%= sitepath %>guide/international-sms/overseas/?l-id=service_global-overseas-en_guide_international-sms-overseas" class="c-Btn_Regular"><span>Check how to use the service overseas</span></a>
                  <a href="<%= sitepath %>guide/international-sms/?l-id=service_global-overseas-en_guide_international-sms" class="c-Btn_Regular"><span>Check how to use the service in Japan</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="<%= namespace %>-Layout">
      <div class="l-System_Container u-Adjust_Align-center">
        <h2 class="c-Heading_Lv1 c-Txt_Alphanumeric-emp02 <%= namespace %>-Sp_Fz-26">Rakuten SAIKYO Plan</h2>
        <p class="c-Txt_Normal-l u-Adjust_Mt-24 <%= namespace %>-Sp_Mt-32 <%= namespace %>-Sp_Fz-16">Feel like having Rakuten Mobile?</p>
        <p class="c-Heading_Lv1 u-Adjust_Mt-8 <%= namespace %>-Sp_Fz-24">
          Just apply for <span class="c-Txt_Alphanumeric-emp02">our basic plan</span><br>
          and you can even use it overseas!
        </p>
        <p class="u-Adjust_Mt-24">
          Rakuten Mobile's international services (data transmission, international calls, and international SMS) are<br>
          <span class="c-Txt_Alphanumeric-emp02">included in our price plan. Additional applications not needed.</span>
        </p>
        <p class="c-Txt_Cap u-Adjust_Mt-8 <%= namespace %>-Sp_Mt-24">
          *International calls and SMS are partially charged on a pay-as-you-go basis.<br>
          *Please add optional services according to your usage.<br>
          <span class="c-Txt_Emp-01">*If you choose the "Rakuten SAIKYO Plan (Data Type)", international calls are not supported.</span>
        </p>
      </div>

      <div class="u-Adjust_Mt-32">
        <%- include('/inc/_saikyo-en') %>
      </div>

    </div>

    <div class="<%= namespace %>-Layout l-System_Container" >
      <div id="anc4">
        <h2 class="<%= namespace %>-Heading_Howtoapply">
          <small class="c-Txt_Alphanumeric-emp01">Exclusive to Narita International Airport & Chubu Centrair International Airport</small>
          <span class="c-Txt_Alphanumeric-emp02">
            Information on the day of departure
          </span>
        </h2>
        <div class="c-Theme-Borderbox overseas-Layout_Content <%= namespace %>-Utility_Mt-30-24 u-Adjust_Pt-32 u-Adjust_Pb-32">
          <div>
            <h3 class="c-Heading_Lv4">
              Rakuten Mobile shops at Narita International Airport Terminal 1 / Chubu Centrair International Airport
            </h3>
            <div class="<%= namespace %>-Utility_Mt-24-16 l-Media_Grid">
              <div class="u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/service/global/overseas/en/illust-07.png" alt="" width="297" height="168">
              </div>
              <div class="u-Adjust_Mt-16">
                <p class="">
                  <span class="c-Txt_Alphanumeric-emp02">We recommend that you arrive 150 minutes prior to your flight boarding time.</span><br>
                  In addition, since the shop may be crowded, we recommend you make a reservation for your visit in advance. Please ensure enough time for the visit when making an appointment.<br>
                  See below for information about our in-shop guidance and response details.
                </p>

                <p id="anc4-1pc" class="u-Adjust_Mt-24 c-Txt_Alphanumeric-emp01">RAKUTEN MOBILE / NARITA INTERNATIONAL AIRPORT TERMINAL 1</p>
                <div class="u-Adjust_Mt-8 <%= namespace %>-Utility_2btn-2">
                  <a href="https://reserve.mobile.rakuten.net/reservations/about?label_id=2439&event_id=2807" class="c-Btn_Regular"><span>Make a visit reservation</span></a>
                  <a href="<%= sitepath %>shop-detail/8468/?l-id=service_global-overseas-en_shop-detail_8468" class="c-Btn_Regular"><span>Check more shop information</span></a>
                </div>
                <p class="u-Adjust_Mt-24 c-Txt_Alphanumeric-emp01">RAKUTEN MOBILE / CHUBU CENTRAIR INTERNATIONAL AIRPORT</p>
                <div class="u-Adjust_Mt-8 <%= namespace %>-Utility_2btn-2">
                  <a href="https://reserve.mobile.rakuten.net/reservations/about?label_id=2382&event_id=2743" class="c-Btn_Regular"><span>Make a visit reservation</span></a>
                  <a href="<%= sitepath %>shop-detail/8414/?l-id=service_global-overseas-en_shop-detail_8414" class="c-Btn_Regular"><span>Check more shop information</span></a>
                </div>

                <div class="u-Adjust_Mt-16">
                  <p class="c-Txt_Alphanumeric-emp02">*Please note that we are not responsible if the boarding time is missed.</p>
                  <p>*We may not be able to provide a contract depending on your device and destination.</p>
                </div>
              </div>
            </div>
          </div>


          <div class="<%= namespace %>-Utility_Mt-80-32">
            <div class="l-System_Container u-Adjust_Align-center">
              <h3 class="c-Heading_Lv2 c-Txt_Alphanumeric-emp01">Information on the day of departure</h3>
            </div>
            <div class="l-Media_Grid-large u-Adjust_Mt-24">
              <div class="l-Media_Image">
                  <img src="<%= sitepath %>assets/img/service/global/overseas/en/illust15.png" alt="" width="394" height="223">
              </div>
              <div>
                <ul class="<%= namespace %>-List_Marker">
                  <li><span class="c-Icon_Check"></span>Available for immediate use after application</li>
                  <li>
                    <span class="c-Icon_Check"></span>
                    No need to return the Wi-Fi after returning home<br class="<%= namespace %>-Utility_Pc">
                    since it’s been purchased
                  </li>
                  <li><span class="c-Icon_Check"></span>No cancellation fee is required wherever you return it or not *</li>
                </ul>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">*You need to cancel the service by yourself.</p>
              </div>
            </div>
          </div>

          <div class="c-Theme-Light <%= namespace %>-Block u-Adjust_Mt-32">
            <div class="l-Media_Grid-large-reverse">
              <div>
                <div class="<%= namespace %>-Label">Recommended</div>
                <dl class="<%= namespace %>-Utility-16-8">
                  <dt class="c-Heading_Lv4">Rakuten WiFi Pocket 2C</dt>
                  <dd class="u-Adjust_Mt-8">Up to 16 devices can be connected simultaneously, so in addition to your main smartphone, you can also use it for your family's smartphones, PC, and tablets.</dd>
                </dl>
              </div>
              <div class="l-Media_Image">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/service/global/overseas/en/img-wifi-sp.png">
                  <img src="<%= sitepath %>assets/img/service/global/overseas/en/img-wifi.png" alt="" width="297" height="183">
                </picture>
              </div>
            </div>
            <div class="u-Adjust_Align-center u-Adjust_Mt-16">
              <a href="<%= sitepath %>product/internet/rakuten-wifi-pocket-2c/?l-id=service_global-overseas_product_internet_rakuten-wifi-pocket-2c" class="c-Btn_Regular"><span>Check product information</span></a>
            </div>
          </div>


          <div class="u-Adjust_Mt-56 u-Adjust_Align-center <%= namespace %>-Sp_Mt-48">
            <h3 class="c-Heading_Lv2">The flow of application and usage</h3>
            <ol class="<%= namespace %>-List_Step u-Adjust_Mt-24">
              <li>
                <h4 class="<%= namespace %>-List_Step-title">
                  <span class="<%= namespace %>-List_Step-title-emp c-Txt_Alphanumeric-emp02">STEP1</span>
                  <span>Procedures at the airport shop on the day of departure</span>
                </h4>
                <div class="<%= namespace %>-List_Step-img">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/service/global/overseas/en/illust16.png">
                    <img src="<%= sitepath %>assets/img/service/global/overseas/en/illust16.png" alt="" width="269" height="164">
                  </picture>
                </div>
                <p class="<%= namespace %>-List_Step-txt c-Txt_Cap u-Adjust_Align-left">
                  *Only at Narita International Airport Terminal 1 / Chubu Centrair International Airport<br>
                  *Please check <a href="#anc4-1pc" class="c-Link_Txt js-scroll">shop information</a> before visiting.
                </p>
              </li>
              <li>
                <h4 class="<%= namespace %>-List_Step-title">
                  <span class="<%= namespace %>-List_Step-title-emp c-Txt_Alphanumeric-emp02">STEP2</span>
                  <span>Use overseas</span>
                </h4>
                <div class="<%= namespace %>-List_Step-img u-Adjust_Mt-16">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/service/global/overseas/en/illust17.png">
                    <img src="<%= sitepath %>assets/img/service/global/overseas/en/illust17.png" alt="" width="269" height="164">
                  </picture>
                </div>
              </li>
              <li>
                <h4 class="<%= namespace %>-List_Step-title">
                  <span class="<%= namespace %>-List_Step-title-emp c-Txt_Alphanumeric-emp02">STEP3</span>
                  <span>No need to return! You can use it even after returning home!</span>
                </h4>
                <div class="<%= namespace %>-List_Step-img u-Adjust_Mt-16">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/service/global/overseas/en/illust18.png">
                    <img src="<%= sitepath %>assets/img/service/global/overseas/en/illust18.png" alt="" width="269" height="164">
                  </picture>
                </div>
              </li>
            </ol>
            <p class="u-Adjust_Mt-8 c-Txt_Cap u-Adjust_Align-left">*If you want to use international calls with the Rakuten Link app, please complete the initial setup of the Rakuten Link app before leaving Japan.</p>
            <p class="u-Adjust_Mt-24">Please make sure you have the necessary documents (driver's license, etc.) to apply. </p>
            <div class="u-Adjust_Mt-8">
              <a href="<%= sitepath %>shop/guide/?l-id=service_global-overseas-en_shop_guide" class="c-Btn_Regular">
                <span>Check what you need when you visit us</span>
              </a>
            </div>
          </div>
        </div>
      </div>


      <div class="u-Adjust_Mt-64">
        <div>
          <h2 class="c-Heading_Lv2">FAQ</h2>
          <p class="u-Adjust_Mt-24">You can check the most frequently viewed FAQs below. Please contact us via chat or phone from each page if you can’t find a solution for your situation.</p>
          <div class="u-Adjust_Mt-16">
            <a href="<%= sitepath %>support/plan/international-voice/?l-id=service_global-overseas-en_support_plan-international-voice#smallcategory-faq" class="c-Btn_Regular" style="min-width: 160px;">Check FAQs</a>
          </div>
        </div>

        <div class="u-Adjust_Mt-64">
          <h2 class="c-Heading_Lv2">Ministry of Foreign Affairs of Japan Service Guide</h2>
          <p class="c-Txt_Cap u-Adjust_Mt-8">*Only Japanese</p>
          <ul class="c-List_Text-disc u-Adjust_Mt-24 <%= namespace %>-Layout_List">
            <li>
              <a href="https://www.anzen.mofa.go.jp/" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">MOFA's "Overseas Travel Safety Information"<span class="c-Icon_New-window-l <%= namespace %>-Utility_Ml-20"></span></a>
            </li>
          </ul>
          <p class="u-Adjust_Mt-8">Overseas safety information and useful information by country/region for safe travel and stay.</p>
          <ul class="c-List_Text-disc u-Adjust_Mt-24 <%= namespace %>-Layout_List">
            <li class="u-Adjust_Mt-24">
              <a href="https://www.ezairyu.mofa.go.jp/tabireg/index.html" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">Tabireg<span class="c-Icon_New-window-l <%= namespace %>-Utility_Ml-20"></span></a>
            </li>
          </ul>
          <p class="u-Adjust_Mt-8">Information distribution service of the Ministry of Foreign Affairs of Japan, where you can receive the latest overseas safety information.</p>
        </div>

        <div class="u-Adjust_Mt-64">

          <h2 class="u-Adjust_Mt-64">Important Notes</h2>
          <dl class="<%= namespace %>-List_Important-notes">
            <dt class="c-Txt_Alphanumeric-emp01" id="note1">
              Data transmission (international roaming)
            </dt>
            <dd>
              <ul class="c-Txt_Cap">
                <li>*Please authenticate Rakuten Link in Japan before traveling overseas. Authentication may not be possible in some international roaming areas.</li>
                <li>*Data used for international roaming will be consumed from the high-speed data capacity of the international roaming areas.</li>
                <li>*Connection may not be possible due to the circumstances of local operators.</li>
                <li>*Data consumption is counted as data usage. For details, please refer to <a href="#roaming2gb" class="c-Link_Txt js-scroll">the data usage counting method</a>.</li>
                <li>*Suppose you exceed the high-speed data capacity of the international roaming areas in <a href="#accordion-1" class="accordion-1_opan c-Link_Txt js-scroll">the applicable overseas countries and regions</a>. In that case, the communication speed in the the international roaming areas will be limited to a max. of 128 kbps.  After exceeding this limit, high-speed communication can be used with a data charge of 500 yen per 1GB (not taxable). </li>
                <li>*Communication speed is on a best-efforts basis, and effective speed may vary depending on the communication environment and conditions.</li>
                <li>*Outside the applicable overseas countries and regions, the service is available only when connected to Wi-Fi.</li>
                <li>*Service areas and conditions for data transmission (international roaming) are subject to change without notice. Please check <a href="<%= sitepath %>support/international-roaming/area/?l-id=service_global-overseas-en_support_international-roaming-area">the coverage area</a>.</li>
              </ul>
            </dd>
          </dl>

          <dl class="<%= namespace %>-List_Important-notes">
            <dt class="c-Txt_Alphanumeric-emp01" id="note2">
              International calls
            </dt>
            <dd>
              <ul class="c-Txt_Cap">
                <li>*For customers using the iOS version of the Rakuten Link app, incoming calls will be routed to the iOS standard phone app for users who are not using Rakuten Link. Please note that incoming call charges will apply when overseas.</li>
                <li>*Calls to other companies' connection services starting with (0570), etc. and calls to some special numbers (188) are not eligible for free calls. Please check <a href="<%= sitepath %>faq/detail/00001887/" class="c-Link_Txt">the list of ineligible numbers</a>.</li>
                <li>*When using the Rakuten Link app, calls can be made and received only from <a href="#accordion-1" class="accordion-1_opan c-Link_Txt js-scroll">the applicable countries and regions</a> outside Japan. Calls to/from other areas can be made only when connected to Wi-Fi.</li>
                <li>*Coverage areas and conditions for international calls and SMS are subject to change without notice.</li>
                <li>*Depending on the destination country/region, the connection may not be available due to the facilities of local operators or other reasons.</li>
              </ul>
            </dd>
          </dl>

          <dl class="<%= namespace %>-List_Important-notes">
            <dt class="c-Txt_Alphanumeric-emp01" id="note3">
              International SMS
            </dt>
            <dd>
              <ul class="c-Txt_Cap">
                <li>*Customers using the Rakuten Link app iOS version will not be able to send or receive international SMS via Rakuten Link if users are not using Rakuten Link. Please use the iOS standard messaging app when using Rakuten Link.</li>
                <li>*When using the Rakuten Link app, you will only be able to send and receive messages from <a href="#accordion-1" class="accordion-1_opan c-Link_Txt js-scroll">the applicable overseas countries and regions</a>.</li>
                <li>*Coverage areas and conditions for international calls and SMS are subject to change without notice.</li>
                <li>*We assume no responsibility if you are unable to use the services of any of the carriers listed is unavailable due to your device model, the network of the international roaming destination, or the communication conditions of the network of the destination country.</li>
              </ul>
            </dd>
          </dl>

          <dl class="<%= namespace %>-List_Important-notes">
            <dt class="c-Txt_Alphanumeric-emp01" id="note4">
              Language
            </dt>
            <dd>
              <ul class="c-Txt_Cap">
                <li>*This page is made in Japanese and translated into English. The Japanese text shall prevail if there is any conflict or inconsistency between these two texts.</li>
              </ul>
            </dd>
          </dl>


        </div>
      </div>
    </div>

    <footer class="g-Footer">

      <div class="c-Breadcrumbs_Foot">
        <div class="l-System_Container">
          <ul>
            <li><a href="<%= rootpath %>fee/un-limit/en/"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>

      <%- include('/include/_footer') %>

    </footer>

  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
  <script>
    (function($){
        $(function(){
            $('.accordion-1_opan').on('click', function(){
              $('#accordion-1').attr('aria-expanded', 'true');
              $('#accordion-content-1').attr('aria-hidden', 'false');
              $('#accordion-content-1').slideDown(200);
            });
        });
    })(jQuery);
  </script>
</body>

</html>
