<% const productname = "AQUOS sense6s" -%>
<%-
  include('/_header', {
    pagetitle: 'スペック詳細',
    directories: [{path:"product/smartphone/", label:"Android"}, {path:"product/smartphone/aquos-sense6s/", label:"AQUOS sense6s"}],
    description: '「AQUOS sense6s（SHARP）｜アクオス センスシックスエス（シャープ）」のスペック詳細。カメラ機能・容量・色・サイズ（解像度）・バッテリー持ちなど性能についてご覧いただけます',
    noindex: false,
    pathname: 'product/smartphone/aquos-sense6s/spec.html'
  });
%>

<%- include('/include/_common-css-v2') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <li><a href="<%= sitepath %>product/">製品</a><span class="c-Icon_Chevron-right"></span></li>
    <li>スマートフォン<span class="c-Icon_Chevron-right"></span></li>
    <li><a href="<%= sitepath %>product/smartphone/aquos-sense6s/"><%= productname %></a><span class="c-Icon_Chevron-right"></span></li>
    <li aria-current="true">スペック詳細</li>
  </ul>
</div>

<div>
  <div class="l-System_Container u-Adjust_Mt-32">
    <h1 class="c-Heading_Lv1"><%= productname %></h1>

    <div class="u-Adjust_Mt-24 c-Accordion">
      <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>基本スペック</button>
      <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="false">
        <dl class="c-Dl">
          <div>
            <dt>メーカー</dt>
            <dd>
              シャープ
            </dd>
          </div>
          <div>
            <dt>製品名</dt>
            <dd>
              <%= productname %>
            </dd>
          </div>
          <div>
            <dt>色</dt>
            <dd>
              ライトカッパー / シルバー / ブラック
            </dd>
          </div>
          <div>
            <dt>サイズ</dt>
            <dd>
              約152 x 約70 x 約7.9 (mm)
            </dd>
          </div>
          <div>
            <dt>重量</dt>
            <dd>
              約156g
            </dd>
          </div>
          <div>
            <dt>ディスプレイ</dt>
            <dd>
              <dl>
                <div>
                  <dt>サイズ / 種類</dt>
                  <dd>約6.1インチ / IGZO OLED</dd>
                </div>
                <div class="u-Adjust_Mt-16">
                  <dt>解像度</dt>
                  <dd>FHD+ / 2,432 × 1,080</dd>
                </div>
              </dl>
            </dd>
          </div>
          <div>
            <dt>CPU</dt>
            <dd>
            Snapdragon® 695 5G Mobile Platform / オクタコア 2.2GHz × 2 + 1.8GHz × 6
            </dd>
          </div>
          <div>
            <dt>OS※1</dt>
            <dd>
              Android™ 11
            </dd>
          </div>
          <div>
            <dt>内蔵メモリ（RAM / ROM）</dt>
            <dd>
              4GB (RAM) / 64GB (ROM)
            </dd>
          </div>
          <div>
            <dt>外部メモリ</dt>
            <dd>
              micro SDXC™ (最大 1,024GB)
            </dd>
          </div>

          <div>
            <dt>バッテリー容量</dt>
            <dd>
              4,570mAh
            </dd>
          </div>

          <div>
            <dt>ワイヤレス充電</dt>
            <dd>
              非対応
            </dd>
          </div>
          <div>
            <dt>連続待受時間</dt>
            <dd>
              <dl>
                <div>
                  <dt>LTE</dt>
                  <dd>約940時間</dd>
                </div>
                <div class="u-Adjust_Mt-16">
                  <dt>3G</dt>
                  <dd>約1,030時間</dd>
                </div>
              </dl>
            </dd>
          </div>
          <div>
            <dt>連続通話時間</dt>
            <dd>
              <dl>
                <div>
                  <dt>LTE</dt>
                  <dd>約62時間</dd>
                </div>
                <div class="u-Adjust_Mt-16">
                  <dt>3G</dt>
                  <dd>約44時間</dd>
                </div>
              </dl>
            </dd>
          </div>
          <div>
            <dt>通信速度※2</dt>
            <dd>
              <dl>
                <div>
                  <dt>LTE 受信時</dt>
                  <dd>200Mbps ※3</dd>
                </div>
                <div class="u-Adjust_Mt-16">
                  <dt>LTE 送信時</dt>
                  <dd>75Mbps</dd>
                </div>
                <div class="u-Adjust_Mt-16">
                  <dt>Sub6 受信時</dt>
                  <dd>1.93Gbps ※3</dd>
                </div>
                <div class="u-Adjust_Mt-16">
                  <dt>Sub6 送信時</dt>
                  <dd>217Mbps</dd>
                </div>
              </dl>
            </dd>
          </div>
          <div>
            <dt>SIM</dt>
            <dd>
              nanoSIM / eSIM
            </dd>
          </div>
          <div>
            <dt>ワンセグ / フルセグ</dt>
            <dd>
              非対応 / 非対応
            </dd>
          </div>
          <div>
            <dt>おサイフケータイ</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>NFC</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>防水 / 防塵</dt>
            <dd>
              対応（IPX5 ・ IPX8 / IP6X）
            </dd>
          </div>
          <div>
            <dt>耐衝撃</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>生体認証（指紋 / 顔）</dt>
            <dd>
              対応 / 対応
            </dd>
          </div>
          <div>
            <dt>VoLTE（Rakuten, docomo, au, SoftBank）</dt>
            <dd>
              対応 / 対応 / 対応 / 対応
            </dd>
          </div>
          <div>
            <dt>急速充電</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>付属品</dt>
            <dd>
              クイックスタートガイド×1 / クイックスイッチアダプター×1
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>通信</button>
      <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
        <dl class="c-Dl">
          <div>
            <dt>4x4 MIMO</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>256 QAM</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>Wi-Fi</dt>
            <dd>
              IEEE 802.11 a/b/g/n/ac
            </dd>
          </div>
          <div>
            <dt>テザリング</dt>
            <dd>
              10台
            </dd>
          </div>
          <div>
            <dt>Bluetooth&reg;</dt>
            <dd>
              Ver.5.1
            </dd>
          </div>
          <div>
            <dt>赤外線通信</dt>
            <dd>
              非対応
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>カメラ</button>
      <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
        <p class="c-Txt_Emp-01 u-Adjust_Pt-32 u-Adjust_Pb-16">メインカメラ（外側）</p>
        <dl class="c-Dl">
          <div>
            <dt>解像度</dt>
            <dd>
              約4,800万画素 (標準) + 約800万画素 (広角) + 約800万画素 (望遠)
            </dd>
          </div>
          <div>
            <dt>オプティカルズーム（写真 / 動画） ※最大</dt>
            <dd>
              約2倍 / 約2倍
            </dd>
          </div>
          <div>
            <dt>デジタルズーム（写真 / 動画） ※最大</dt>
            <dd>
              約8倍 / 約8倍
            </dd>
          </div>
          <div>
            <dt>手振れ補正（写真 / 動画）</dt>
            <dd>
              対応 / 対応
            </dd>
          </div>
          <div>
            <dt>オートフォーカス</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>F値</dt>
            <dd>
              f/1.8, f/2.4, f/2.4
            </dd>
          </div>
          <div>
            <dt>ISO（最大）</dt>
            <dd>
              3,200, 3,200, 3,200
            </dd>
          </div>
          <div>
            <dt>HDR</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>LEDフラッシュ</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>AIカメラ</dt>
            <dd>
              対応
            </dd>
          </div>
        </dl>

        <p class="c-Txt_Emp-01 u-Adjust_Pt-32 u-Adjust_Pb-16">フロントカメラ（内側）</p>
        <dl class="c-Dl">
          <div>
            <dt>解像度</dt>
            <dd>
              約800万画素
            </dd>
          </div>
          <div>
            <dt>オプティカルズーム（写真 / 動画） ※最大</dt>
            <dd>
              非対応
            </dd>
          </div>
          <div>
            <dt>デジタルズーム（写真 / 動画） ※最大</dt>
            <dd>
              約8倍 / 約8倍
            </dd>
          </div>
          <div>
            <dt>手振れ補正（写真 / 動画）</dt>
            <dd>
              対応 / 対応
            </dd>
          </div>
          <div>
            <dt>オートフォーカス</dt>
            <dd>
              非対応
            </dd>
          </div>
          <div>
            <dt>F値</dt>
            <dd>
              f/2
            </dd>
          </div>
          <div>
            <dt>ISO（最大）</dt>
            <dd>
              3,200
            </dd>
          </div>
          <div>
            <dt>HDR</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>LEDフラッシュ</dt>
            <dd>
              非対応
            </dd>
          </div>
          <div>
            <dt>AIカメラ</dt>
            <dd>
              非対応
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>その他</button>
      <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
        <dl class="c-Dl">
          <div>
            <dt>ハイレゾ・オーディオ</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>緊急速報機能</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>イヤホンマイクジャック</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>USB</dt>
            <dd>
              USB Type-C / USB 2.0
            </dd>
          </div>
          <div>
            <dt>GPS</dt>
            <dd>
              対応
            </dd>
          </div>
          <div>
            <dt>動画コーデック</dt>
            <dd>
              H.263 / H.264 / H.265 / MPEG-2Video / MPEG-4Video / VP8 / VP9 / HEVC
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>対応周波数</button>
      <div id="accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-5" aria-hidden="true">
        <dl class="c-Dl">
          <div>
            <dt>5G (Sub6)</dt>
            <dd>
              Band n28 (700MHz) / Band n77 (3.8GHz) / Band n78 (3.6GHz)
            </dd>
          </div>
          <div>
            <dt>LTE (FD)</dt>
            <dd>
              Band 1 (2.1GHz) / Band 2 (1.9GHz) / Band 3 (1.8GHz) / Band 5 (850MHz) / Band 12 (700MHz) / Band 17 (700MHz) / Band 18 (800MHz) / Band 19 (800MHz)
            </dd>
          </div>
          <div>
            <dt>TD-LTE</dt>
            <dd>
              Band 38 (2.6GHz) / Band 41 (2.5GHz) / Band 42 (3.4GHz)
            </dd>
          </div>
          <div>
            <dt>WCDMA</dt>
            <dd>
              Band I (2.1GHz) / Band II (1.9GHz) / Band V (850MHz)
            </dd>
          </div>
          <div>
            <dt>GSM</dt>
            <dd>
              850MHz / 900MHz / 1.8GHz / 1.9GHz
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <ul class="c-Txt_Cap u-Adjust_Mt-32">
      <li><span>※1</span> 発売時点のOSのバージョンを記載しています。最新のOSバージョン情報は<a href="https://network.mobile.rakuten.co.jp/information/software/aquos-sense6s/">こちら</a>をご確認ください。</li>
      <li><span>※2</span> 通信速度は、ベストエフォート方式による理論値であり、実際の通信速度は通信環境やネットワークの混雑状況によって変化します。</li>
      <li><span>※3</span> LTE 受信時（400Mbpsから200Mbpsに変更）、Sub6 受信時（2.13Gbpsから1.93Gbpsに変更）の数値を修正いたしました。（2022年11月4日）</li>
    </ul>
    <p class="u-Adjust_Mt-32">
      <a href="<%= sitepath %>product/smartphone/aquos-sense6s/" class="c-Link_Txt-icon-front"><span class="c-Icon_Chevron-left"></span>製品詳細へ戻る</a>
    </p>

  </div>
</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-product-v2.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%#- include('/faq/include/related-product.ejs') %>

  </div>
  <div class="c-Breadcrumbs_Foot">
    <div class="l-System_Container">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <li><a href="<%= sitepath %>product/">製品</a><span class="c-Icon_Chevron-right"></span></li>
      <li>スマートフォン<span class="c-Icon_Chevron-right"></span></li>
      <li><a href="<%= sitepath %>product/smartphone/aquos-sense6s/"><%= productname %></a><span class="c-Icon_Chevron-right"></span></li>
      <li aria-current="true">スペック詳細</li>
    </ul>
  </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
