<% const pagetitle = "iPhone 13 Pro Max（5G対応）製品情報・購入" -%>
<% const directory = "iphone-13-pro-max" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/iphone/", label:"iPhone"}] -%>
<%
  const currentDir = "iphone-13-pro-max"
  const l_id = 'product_iphone-13-pro-max'
  const namespace = "product-iphone-13-pro-max"
  const cp_l_id = 'product_iphone_iphone-13-pro-max'

  // price-detail.ejsファイルに変数の説明の記載があります
  const priceDetailConfig = {
    tradeinProductName: 'iPhone 13 Pro Max',
    optionPattern: 'tradein',
    lid: directory,
    capacity: 1,
    maxTradeinPrice: 89400,
    carrier: '楽天モバイル',
}
_%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: "【販売終了】iPhone 13 Pro Max（楽天モバイル）製品紹介。価格・スペック・デュアルカメラ仕様・特長・5G対応ほか｜アイフォン サーティーン プロ マックス（Apple）",
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<%- include('/include/product/_category-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/iphone/<%= directory %>/product-<%= directory %>.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/iphone/product-iphone.css?20240426">
<script src="https://r.r10s.jp/com/ap/target/phoenix-2.7.2.min.js"></script>
<%- include('/include/product/_history-css') %>
<%- include('/include/_append-head') %>
<style>
  .modaal-video-wrap {
    margin: 0 !important;
  }
</style>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= namespace %>-Layout_Hero">
  <div class="l-System_Container">
    <p class="c-Txt_Cap u-Adjust_Align-right">※表記の金額はすべて税込です。</p>

    <div class="u-Adjust_Align-center u-Adjust_Mt-32 u-Adjust_Mr-16 u-Adjust_Ml-16">
      <p class="c-Txt_Emp-01 c-Txt_Normal-l">iPhone 13 Pro Maxは、販売を終了いたしました。</p>
      <div class="u-Adjust_Align-center u-Adjust_Mt-24">
        <a href="<%= sitepath %>product/iphone/iphone-14-pro-max/?l-id=iphone-13-pro-max_iphone-14-pro-max" class="c-Btn_Regular-large" style="width: auto;"><span>iPhone 14 Pro Max 詳細・購入はこちら</span></a>
      </div>
      <div class="u-Adjust_Align-center u-Adjust_Mt-16 u-Adjust_Mb-24">
        <a href="<%= sitepath %>product/iphone/?l-id=product_iphone_iphone-13-pro-max_product_iphone" class="c-Link_Txt-inline-icon js-scroll">iPhone一覧を見る<span class="c-Icon_Chevron-right"></span></a>
      </div>
    </div>
  </div>

  <div class="l-System_Container">
    <%
      const productInfo = {
        'name': 'iPhone 13 Pro Max',
        namespace: namespace,
        ctalabel: 'iPhone 13 Pro Max を購入する',
        'color': [
          {
            'code': '#576856',
            'name': 'アルパイングリーン'
          },
          {
            'code': '#f1f2ed',
            'name': 'シルバー'
          },
          {
            'code': '#fae7cf',
            'name': 'ゴールド'
          },
          {
            'code': '#54524f',
            'name': 'グラファイト'
          },
          {
            'code': '#a7c1d9',
            'name': 'シエラブルー'
          },
        ],
        'urlTop': `https://onboarding.mobile.rakuten.co.jp/equipment-details?exid=600089&selectAvailable=true&l-id=${currentDir}_top_bss-${currentDir}`,
        'urlFeeSimulation': `https://onboarding.mobile.rakuten.co.jp/equipment-details?exid=600089&selectAvailable=true`,
        'urlBottom': `https://onboarding.mobile.rakuten.co.jp/equipment-details?exid=600089&selectAvailable=true`,
        'ichiba': {
          'flag': false,
          'url': '',
        },
        'slider': [
          [
            `/assets/img/product/iphone/${currentDir}/pht-device-16.png?220309-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-17.png?220309-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-18.png?220309-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-19.png?220309-01`,
          ],
          [
            `/assets/img/product/iphone/${currentDir}/pht-device-04.png?220309-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-05.png?220309-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-18.png?220309-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-07.png?220309-01`,
          ],
          [
            `/assets/img/product/iphone/${currentDir}/pht-device-08.png?220309-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-09.png?220309-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-18.png?220309-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-11.png?220309-01`,
          ],
          [
            `/assets/img/product/iphone/${currentDir}/pht-device-12.png?220309-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-13.png?220309-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-18.png?220309-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-15.png?220309-01`,
          ],
          [
            `/assets/img/product/iphone/${currentDir}/pht-device-00.png?220309-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-01.png?220309-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-18.png?220309-01`,
            `/assets/img/product/iphone/${currentDir}/pht-device-03.png?220309-01`,
          ],
        ],
        'movie': {
          'flag': true,
          'url': 'https://www.youtube.com/embed/I0taVlpNVTo',
          'thumbnail': '/assets/img/product/iphone/iphone-13-pro-max/apple-movie.png',
        },
      }
    %>

  <section class="<%= namespace %>-Hero">
    <div class="<%= namespace %>-Hero_Data">
      <div>
        <h1 class="c-Heading_Lv1 <%= namespace %>-Hero_Name"><%- productInfo.name %></h1>
        <%_ if (typeof productInfo.is5g == 'undefined' || productInfo.is5g) { _%>
          <div class="<%= namespace %>-Hero_Name-5g">
            <img src="<%= sitepath %>assets/img/common/icon-5g.png" width="52" alt="5G" class="u-Adjust_Mr-16 u-Adjust_Mt-16">
            <img src="/assets/img/product/iphone/icon-rm-iphone-upgrade-wide-221124.png" width="232" class="u-Adjust_Mt-16" alt="">
          </div>
        <%_ } else { _%>
          <div class="<%= namespace %>-Hero_Name-5g">
            <img src="/assets/img/product/iphone/icon-rm-iphone-upgrade-wide-221124.png" width="232" class="u-Adjust_Mt-16" alt="">
          </div>
        <%_ } _%>

        <div class="<%= namespace %>-Layout_PC">
          <%_ if( productInfo.color.length > 0 ) { _%>
            <ul class="<%= namespace %>-Hero_Color">
              <%_ productInfo.color.forEach((value, index) => { _%>
                <%_ if( index === 0 ) { _%>
                  <li class="js-color js-color<%- index + 1 %>" aria-current="true">
                <%_ } else { _%>
                  <li class="js-color js-color<%- index + 1 %>" aria-current="false">
                <%_ } _%>
                  <%_ if( value.name === 'ホワイト' ) { _%>
                    <div style="background: <%- value.code %>; border: 1px solid #D1D1E0;"></div>
                    <p><%- value.name %></p>
                  <%_ } else if ( value.name === '（PRODUCT）RED&#8482;' ) { _%>
                    <div style="background: <%- value.code %>"></div>
                    <p class="u-Adjust_Mt-8" ><%- value.name %></p>
                  <%_ } else { _%>
                    <div style="background: <%- value.code %>"></div>
                    <p><%- value.name %></p>
                  <%_ } _%>
                  </li>
              <%_ }); _%>
            </ul>
          <%_ } _%>


        </div>
      </div>
    </div>
    <div class="<%= namespace %>-Hero_Main">
      <%_ productInfo.slider.forEach((value, index) => { _%>
        <%_ if( productInfo.color.length <= 0 ) { _%>
          <ul class="<%= namespace %>-Hero_Main-view c-Carousel js-product-main js-device">
        <%_ } else if( index === 0 ) { _%>
          <ul class="<%= namespace %>-Hero_Main-view c-Carousel js-main<%- index + 1 %> js-device" aria-hidden="false">
        <%_ } else { _%>
          <ul class="<%= namespace %>-Hero_Main-view c-Carousel js-main<%- index + 1 %> js-device" aria-hidden="true">
        <%_ } _%>
          <%_ value.forEach((ele, index) => { _%>
            <li><span><img data-lazy="<%- ele %>" alt=""></span></li>
          <%_ }); _%>
          </ul>

        <%_ if( index === 0 ) { _%>
          <ul class="<%= namespace %>-Hero_Main-thumbnail thumbnail<%- index + 1 %> is-open">
        <%_ } else { _%>
          <ul class="<%= namespace %>-Hero_Main-thumbnail thumbnail<%- index + 1 %>">
        <%_ } _%>
          <%_ value.forEach((ele, index) => { _%>
            <li class="thumbnail-item"><span><img src="<%- ele %>" alt=""></span></li>
          <%_ }); _%>
          <%_ if( productInfo.movie.flag ) { _%>
            <li>
              <a class="js-video" href="<%- productInfo.movie.url %>">
                <span><img src="<%- productInfo.movie.thumbnail %>" alt=""></span>
              </a>
            </li>
          <%_ } _%>
          </ul>
      <%_ }); _%>


      <div class="c-Carousel_Nav <%= namespace %>-Layout_Carousel"></div>
    </div>
    <div class="<%= namespace %>-Layout_SP">
      <div class="<%= namespace %>-Hero_Data">
        <div>
          <%_ if( productInfo.color.length > 0 ) { _%>
            <ul class="<%= namespace %>-Hero_Color">
              <%_ productInfo.color.forEach((value, index) => { _%>
                <%_ if( index === 0 ) { _%>
                  <li class="js-color js-color<%- index + 1 %>" aria-current="true">
                <%_ } else { _%>
                  <li class="js-color js-color<%- index + 1 %>" aria-current="false">
                <%_ } _%>
                  <%_ if( value.name === 'ホワイト' ) { _%>
                    <div style="background: <%- value.code %>; border: 1px solid #D1D1E0;"></div>
                    <p><%- value.name %></p>
                  <%_ } else if ( value.name === '（PRODUCT）RED&#8482;' ) { _%>
                    <div style="background: <%- value.code %>"></div>
                    <p class="u-Adjust_Mt-8" ><%- value.name %></p>
                  <%_ } else { _%>
                    <div style="background: <%- value.code %>"></div>
                    <p><%- value.name %></p>
                  <%_ } _%>
                  </li>
              <%_ }); _%>
            </ul>
          <%_ } _%>
        </div>

      </div>
    </div>
  </section>

  </div>
</div>

<div class="l-System_Container">
  <%_ const bssId = '50150777' _%>
  <%- include('/include/product/iphone/spec/_13-pro', { namespace, currentDir, bssId, productName: directory }) %>
</div>

<%- include('/include/product/iphone/_equipment.ejs', { l_id: '' }) %>
<%- include('/include/product/iphone/_chat') %>

<div class="l-System_Container">
  <div class="<%= namespace %>-Layout_Footer c-Txt_Cap">
    <p>Appleは、環境に関する目標の達成に向けた取り組みを続けています。その一環として、iPhone 13 Pro MaxとiPhone 13 Proには電源アダプタとEarPodsが付属していません。今お使いのApple電源アダプタとヘッドフォンを利用するか、別売りのアクセサリを購入してください。</p>
    <p class="u-Adjust_Mt-16">※Apple、Appleのロゴ、AirPlay、AirPods、Apple Music、Apple Pay、Apple Pencil、Apple TV、Apple Watch、Face ID、FaceTime、iBooks、iPad、iPhone、iTunes、Lightning、Magic Keyboard、MagSafe、Siri、Touch ID、TrueDepth、True Toneは、米国および他の国々で登録されたApple Inc.の商標です。<br>
    ※Apple、Appleのロゴ、Apple Music、iPad、iPhone、iTunes、Safariは、米国および他の国々で登録されたApple Inc.の商標です。<br>
    ※iPhoneの商標は、アイホン株式会社のライセンスに基づき使用されています。<br>
    ※App Store、Apple Arcade、AppleCare、iCloudは、Apple Inc.のサービスマークです。<br>
    ※TM and © 2021 Apple Inc. All rights reserved.<br>
    ※iOS商標は、米国Ciscoのライセンスに基づき使用されています。</p>
  </div>
</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-product-v2.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/product/_category-js') %>
<%- include('/include/product/_history-js') %>
<%- include('/include/_append-body') %>
<script src="<%= sitepath %>assets/js/product.iphone.common.bundle.js?20240522"></script>

</body>
</html>
