<% const pagetitle = "ご家族まとめてお乗り換えがおトク！全員に3,000ポイントプレゼントキャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "assignment" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '楽天回線を初めてかつ複数回線お申し込み＆ご家族に譲渡（2回線目以降)で全員に3,000ポイントプレゼント！',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%><%- include('/include/_common-css-v2') %>
<%- include('/inc/_about-rakuten-mobile-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/assignment/assignment.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
          <%_ let dirs = []; _%>
          <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
              <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
              <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
          <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout_Label">
      <ul class="c-Label_List">
        <li class="c-Label_Normal">初めて申込限定</li>
        <li class="c-Label_Normal">Rakuten Link利用必要</li>
      </ul>
      <p class="<%= namespace %>-Layout_Label-point">ポイント：付与日を含めて6カ月の期間限定ポイント</p>
    </div>

    <div class="<%= namespace %>-Hero_Kv">
      <h1>
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/assignment/kv-sp-221027.png">
          <img src="<%= sitepath %>assets/img/campaign/assignment/kv-pc-221027.png" alt="ご家族まとめてお乗り換えがおトク！楽天回線を初めてかつ複数回線お申し込み＆ご家族に譲渡で全員に3000円相当分ポイントプレゼント！">
        </picture>
      </h1>
    </div>
    <div class="l-System_Container">
      <div class="<%= namespace %>-Hero_Description">
        <p class="<%= namespace %>-Utility_Align-description"><span class="c-Txt_Emp-01">【キャンペーン期間】</span> 2022年10月27日（木）9:00～11月25日（金）8:59／ショップ：2022年10月27日（木）開店～11月24日（木）閉店</p>
        <p class="c-Txt_Emp-02 c-Txt_Normal-l u-Adjust_Mt-16 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
        <p class="c-Txt_Cap u-Adjust_Mt-16">
          ※1 譲渡元のお客様は1回線目のお申し込み時に「<a href="#campaign-rule-1526" class="c-Link_Txt js-scroll">【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント</a>」が対象、 譲渡先のお客様は「<a href="#campaign-rule-1644" class="c-Link_Txt js-scroll">初めて楽天回線 複数回線お申し込み＆2回線目以降譲渡で3,000ptプレゼントキャンペーン</a>」が対象となります。<br>
          ※ポイントは期間限定ポイントとなります。
          <br class="<%= namespace %>-Utility_Br-sp">
          <span class="<%= namespace %>-Utility_Text-sp">
            ※Rakuten Linkアプリ利用等条件あり。<br>
            ※ご家族以外の方も対象。
          </span>
          <br>
          ※譲渡およびRakuten Linkの利用は譲渡元のプランお申し込みの翌月末日までにご対応ください。
        </p>
      </div>
      <ul class="<%= namespace %>-Hero_Nav u-Adjust_Mt-16 u-Adjust_Pb-48">
        <li><a href="#about" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>「譲渡」とは？</a></li>
        <li><a href="#merit" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>「まとめてお乗り換え」のメリット</a></li>
        <li><a href="#how-to-participate" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーン参加方法</a></li>
        <li><a href="#how-to-apply" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>お申し込み方法</a></li>
        <li><a href="#campaign-rule" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルール</a></li>
      </ul>
    </div>

    <section class="<%= namespace %>-Layout_Section <%= namespace %>-Layout_Assignment" id="about" data-ratId="campaign_assignment_scroll-01_jouto" data-ratevent="appear">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">「譲渡」とは？</h2>
        <div class="c-Theme-Borderbox u-Adjust_Mt-16">
          <div class="<%= namespace %>-Layout_Assignment-content">
            <div class="<%= namespace %>-Layout_Assignment-img">
              <img src="<%= sitepath %>assets/img/campaign/assignment/assignment.png" alt="譲渡元（現在の契約者）から譲渡先（新契約者）への譲渡" width="437">
            </div>
            <div class="<%= namespace %>-Layout_Assignment-description">
              <p>ご家族や第三者に通信サービス契約を譲り渡し、契約者の変更を行うことです。</p>
              <p class="u-Adjust_Mt-16">
                <a href="<%= sitepath %>guide/contract-transfer/#about-billing" class="c-Link_Txt-inline">譲渡手続き後のご請求先など、詳細はこちら<span class="c-Icon_Chevron-right"></span></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="<%= namespace %>-Layout_Section <%= namespace %>-Layout_Merit" id="merit" data-ratId="campaign_assignment_scroll-02_merit" data-ratevent="appear">
      <div class="l-System_Container">
        <div>
          <h2 class="c-Heading_Lv2 u-Adjust_Align-center">「まとめてお乗り換え」のメリット</h2>
          <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/assignment/transfer-head-sp.png">
              <img src="<%= sitepath %>assets/img/campaign/assignment/transfer-head-pc.png" alt="現在、他キャリアで1つの名義で複数回線をご利用中のお客様におトクなキャンペーンです！" width="710">
            </picture>
          </div>
          <div class="<%= namespace %>-Layout_Merit-list u-Adjust_Mt-24">
            <div class="<%= namespace %>-Layout_Merit-item">
              <img src="<%= sitepath %>assets/img/campaign/assignment/transfer-merit01-221109.png" alt="お手続きが簡単！現在ご契約中の携帯会社での契約者変更不要で楽天モバイルへ乗り換えが可能" width="325">
            </div>
            <div class="<%= namespace %>-Layout_Merit-item">
              <img src="<%= sitepath %>assets/img/campaign/assignment/transfer-merit02.png" alt="電話番号の変更不要 電話番号そのままでお乗り換えが可能" width="325">
            </div>
            <div class="<%= namespace %>-Layout_Merit-item">
              <img src="<%= sitepath %>assets/img/campaign/assignment/transfer-merit03.png" alt="キャンペーン参加で全員に3,000ポイント！ご契約者にも、現在ご契約者名義でご利用中のご家族にも全員にポイントプレゼント" width="325">
            </div>
          </div>
          <p class="c-Txt_Cap u-Adjust_Mt-16">
            ※1 楽天モバイルお申し込み後に譲渡手続きが必要です。<br>
            ※2 譲渡元のお客様は1回線目のお申し込み時に「<a href="#campaign-rule-1526" class="c-link_Txt js-scroll">【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント</a>」が対象、 譲渡先のお客様は「<a href="#campaign-rule-1644" class="c-link_Txt js-scroll">初めて楽天回線 複数回線お申し込み＆2回線目以降譲渡で3,000ptプレゼントキャンペーン</a>」が対象となります。
          </p>
          <div class="<%= namespace %>-Layout_Merit-family u-Adjust_Mt-48">
            <div class="<%= namespace %>-Layout_Merit-family-about">
              <h3 class="c-Heading_Lv2 u-Adjust_Align-center">「ご家族まとめてお乗り換え」とは？</h3>
              <p class="<%= namespace %>-Utility_Align-description u-Adjust_Mt-16">
                現在、<span class="c-Txt_Emp-02">他キャリアにおいて1つの名義で複数回線を利用している場合</span><br class="<%= namespace %>-Utility_Br-pc"><span class="<%= namespace %>-Utility_Text-sp">、</span>
                楽天モバイルお申し込み後に、回線を利用者に譲渡することで、ご利用者様全員でまとめてお乗り換えすることができます。
              </p>
            </div>
            <h3 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-24">キャンペーン参加でポイントプレゼント</h3>
            <p class="<%= namespace %>-Utility_Align-description u-Adjust_Mt-16">
              ご契約者様が必要な回線数分、楽天回線へお申し込み（乗り換え）し、利用者へ回線を譲渡。<br class="<%= namespace %>-Utility_Br-pc">
              キャンペーン条件達成で全員に<span class="c-Txt_Emp-02">3,000ポイントプレゼント！</span>
            </p>
            <p class="<%= namespace %>-Layout_Merit-family-link u-Adjust_Mt-8">
              <a href="#how-to-participate" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーン参加方法はこちら</a>
            </p>
            <div class="<%= namespace %>-Layout_Merit-target u-Adjust_Align-center u-Adjust_Mt-16">
              <p class="c-Label_Emp c-Txt_Emp-02 u-Adjust_Mr-8">キャンペーン対象</p>
              <p class="c-Txt_Emp-01"> 現在他キャリアで、<br class="<%= namespace %>-Utility_Br-sp">1つの名義で複数回線を利用している方</p>
            </div>
            <div class="<%= namespace %>-Layout_Merit-family-img u-Adjust_Mt-24">
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/assignment/transfer-family-sp.png">
                <img src="<%= sitepath %>assets/img/campaign/assignment/transfer-family-pc.png" alt="他キャリアから楽天モバイルへののお乗り換え">
              </picture>
            </div>
            <p class="<%= namespace %>-Utility_Align-description u-Adjust_Mt-16">楽天モバイルへお乗り換え後に2回線目以降を譲渡し、キャンペーンへ参加してください。</p>
            <div class="<%= namespace %>-Layout_Merit-labels">
              <div class="u-Adjust_Mt-16">
                <div class="<%= namespace%>-Layout_Merit-who">
                  <div class="<%= namespace%>-Layout_Merit-who-label">
                    <p class="<%= namespace%>-Layout_Label-emp-01 u-Adjust_Mr-8">譲渡元</p>
                  </div>
                  <p class="c-Txt_Emp-01">代表して楽天回線を複数ご契約し、回線をご家族や第三者に譲り渡す方</p>
                </div>
                <div class="<%= namespace%>-Layout_Merit-who u-Adjust_Mt-8">
                  <div class="<%= namespace%>-Layout_Merit-who-label">
                    <p class="<%= namespace%>-Layout_Merit-who-label <%= namespace%>-Layout_Label-emp-02 u-Adjust_Mr-8">譲渡先</p>
                  </div>
                  <p class="c-Txt_Emp-01">代表の方から楽天回線を譲り受け、回線を新たに利用される方</p>
                </div>
              </div>
            </div>
          </div>
          <p class="c-Txt_Cap u-Adjust_Mt-16">
            ※18歳未満の方に回線を譲渡する場合、お申し込みの際に「あんしんコントロールby i-フィルター」のご契約と、親権者情報をご登録いただく必要がございます。<br>
            あんしんコントロールby i-フィルターについては<a href="<%= sitepath %>service/i-filter/" class="c-Link_Txt">こちら</a>をご確認ください。<br>
          </p>
          <p class="c-Txt_Cap u-Adjust_Mt-8">
            ※1 譲渡元のお客様は「<a href="#campaign-rule-1526" class="c-Link_Txt js-scroll">【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント</a>」が対象となります。<br>
            ※2 譲渡先のお客様は「<a href="#campaign-rule-1644" class="c-Link_Txt js-scroll">初めて楽天回線 複数回線お申し込み＆2回線目以降譲渡で3,000ptプレゼントキャンペーン</a>」が対象となります。
          </p>
        </div>
      </div>
    </section>

    <section class="<%= namespace %>-Layout_Section <%= namespace%>-Layout_How u-Adjust_Mt-48" id="how-to-participate" data-ratId="campaign_assignment_scroll-03_campaign-flow" data-ratevent="appear">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーン参加方法</h2>
        <p class="<%= namespace %>-Utility_Align-description u-Adjust_Mt-24">キャンペーンには達成条件が設定されています。詳細は<a href="#campaign-rule" class="c-Link_Txt js-scroll">キャンペーンルール</a>をご確認ください。</p>
        <div class="u-Adjust_Mt-48">
          <div class="<%= namespace%>-Layout_How-item">
            <h3 class="<%= namespace%>-Layout_How-item-title c-Heading_Lv3"><span class="<%= namespace%>-Layout_How-item-title-step c-Txt_Emp-02">STEP 1</span><br class="<%= namespace %>-Utility_Br-sp">楽天回線へ2回線以上お申し込み</h3>
            <div class="<%= namespace%>-Layout_How-item-content">
              <div class="<%= namespace%>-Layout_How-item-img">
                <img src="<%= sitepath %>assets/img/campaign/assignment/how-01.png" alt="" width="304">
              </div>
              <div class="<%= namespace%>-Layout_How-item-description">
                <p>キャンペーン期間中にお申し込みください。<br class="<%= namespace %>-Utility_Br-pc">譲渡元・譲渡先の方どちらも楽天モバイルへ初めてのお申し込みに限ります。</p>
                <p class="u-Adjust_Mt-8"><a href="#how-to-apply" class="c-Link_Txt-inline js-scroll"><span class="c-Icon_Arrow-down-l"></span>お申し込みはこちら</a></p>
              </div>
              <div class="<%= namespace%>-Layout_How-item-who">
                <div class="<%= namespace%>-Layout_How-item-who-item">
                  <img src="<%= sitepath %>assets/img/campaign/assignment/how-father.png" alt="譲渡元の方" width="172">
                </div>
              </div>
            </div>
          </div>

          <div class="<%= namespace%>-Layout_How-arrow"><span class="c-Icon_Arrow-down-l"></span></div>

          <div class="<%= namespace%>-Layout_How-item">
            <h3 class="<%= namespace%>-Layout_How-item-title c-Heading_Lv3"><span class="<%= namespace%>-Layout_How-item-title-step c-Txt_Emp-02">STEP 2</span><br class="<%= namespace %>-Utility_Br-sp">プランの利用開始</h3>
            <div class="<%= namespace%>-Layout_How-item-content">
              <div class="<%= namespace%>-Layout_How-item-img">
                <img src="<%= sitepath %>assets/img/campaign/assignment/how-02.png" alt="" width="304">
              </div>
              <div class="<%= namespace%>-Layout_How-item-description">
                <p>お申し込みをしたすべての回線でプラン利用を開始してください。</p>
                <div class="u-Adjust_Mt-16">
                  <a href="<%= sitepath %>faq/detail/00001648/" class="c-Btn_Regular"><span>プランの利用開始手順を確認する</span></a>
                </div>
              </div>
              <div class="<%= namespace%>-Layout_How-item-who">
                <div class="<%= namespace%>-Layout_How-item-who-item">
                  <img src="<%= sitepath %>assets/img/campaign/assignment/how-father.png" alt="譲渡元の方" width="172">
                </div>
              </div>
            </div>
          </div>

          <div class="<%= namespace%>-Layout_How-arrow"><span class="c-Icon_Arrow-down-l"></span></div>

          <div class="<%= namespace%>-Layout_How-item">
            <h3 class="<%= namespace%>-Layout_How-item-title c-Heading_Lv3"><span class="<%= namespace%>-Layout_How-item-title-step c-Txt_Emp-02">STEP 3</span><br class="<%= namespace %>-Utility_Br-sp">回線譲渡サービスを利用して、回線利用者へ譲渡</h3>
            <div class="<%= namespace%>-Layout_How-item-content">
              <div class="<%= namespace%>-Layout_How-item-img">
                <img src="<%= sitepath %>assets/img/campaign/assignment/how-03.png" alt="" width="304">
              </div>
              <div class="<%= namespace%>-Layout_How-item-description">
                <p>【期限】各回線お申し込みの翌月末日23:59まで</p>
                <div class="u-Adjust_Mt-16">
                  <a href="<%= sitepath %>guide/contract-transfer/" class="c-Btn_Regular"><span>回線譲渡サービスの手順を確認する</span></a>
                </div>
              </div>
              <div class="<%= namespace%>-Layout_How-item-who">
                <div class="<%= namespace%>-Layout_How-item-who-item">
                  <img src="<%= sitepath %>assets/img/campaign/assignment/how-father.png" alt="譲渡元の方" width="172">
                </div>
              </div>
            </div>
          </div>

          <div class="<%= namespace%>-Layout_How-arrow"><span class="c-Icon_Arrow-down-l"></span></div>

          <div class="<%= namespace%>-Layout_How-item">
            <h3 class="<%= namespace%>-Layout_How-item-title c-Heading_Lv3"><span class="<%= namespace%>-Layout_How-item-title-step c-Txt_Emp-02">STEP 4</span><br class="<%= namespace %>-Utility_Br-sp">契約者変更手続き</h3>
            <div class="<%= namespace%>-Layout_How-item-content">
              <div class="<%= namespace%>-Layout_How-item-img">
                <img src="<%= sitepath %>assets/img/campaign/assignment/how-04.png" alt="" width="304">
              </div>
              <div class="<%= namespace%>-Layout_How-item-description">
                <p>【期限】各回線お申し込みの翌月末日23:59まで<br>譲渡先は楽天モバイルを初めてご利用となる方が、本キャンペーンの対象です。</p>
                <div class="u-Adjust_Mt-8">
                  <a href="<%= sitepath %>guide/contract-transfer/#accordion-1" class="c-Btn_Regular"><span>契約者変更手続きの手順を確認する</span></a>
                </div>
              </div>
              <div class="<%= namespace%>-Layout_How-item-who">
                <div class="<%= namespace%>-Layout_How-item-who-item">
                  <img src="<%= sitepath %>assets/img/campaign/assignment/how-mother.png" alt="譲渡先の方" width="172">
                </div>
              </div>
            </div>
          </div>

          <div class="<%= namespace%>-Layout_How-arrow"><span class="c-Icon_Arrow-down-l"></span></div>

          <div class="<%= namespace%>-Layout_How-item">
            <h3 class="<%= namespace%>-Layout_How-item-title c-Heading_Lv3"><span class="<%= namespace%>-Layout_How-item-title-step c-Txt_Emp-02">STEP 5</span><br class="<%= namespace %>-Utility_Br-sp">Rakuten Linkで10秒以上通話</h3>
            <div class="<%= namespace%>-Layout_How-item-content">
              <div class="<%= namespace%>-Layout_How-item-img">
                <img src="<%= sitepath %>assets/img/campaign/assignment/how-05.png" alt="" width="304">
              </div>
              <div class="<%= namespace%>-Layout_How-item-description">
                <p>【期限】各回線お申し込みの翌月末日23:59まで</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">
                  ※（0180）（0570）などから始まる他社接続サービス、一部特番（188）への通話については、キャンペーン条件の対象外、かつ無料通話の対象外となります。<br>
                  <a href="<%= sitepath %>terms/pdf/rakuten_mobile_exception_number_list.pdf?220701" class="c-Link_Txt" target="_blank">対象外番号一覧</a>をご確認ください。
                </p>
                <p class="u-Adjust_Mt-8">
                  <a href="<%= sitepath %>service/rakuten-link/" class="c-Link_Txt-inline">Rakuten Linkアプリの詳細を見る<span class="c-Icon_Chevron-right"></span></a>
                </p>
              </div>
              <div class="<%= namespace%>-Layout_How-item-who">
                <div class="<%= namespace%>-Layout_How-item-who-item">
                  <img src="<%= sitepath %>assets/img/campaign/assignment/how-father.png" alt="譲渡元の方" width="172">
                </div>
                <div class="<%= namespace%>-Layout_How-item-who-item">
                  <img src="<%= sitepath %>assets/img/campaign/assignment/how-mother.png" alt="譲渡先の方" width="172">
                </div>
              </div>
            </div>
          </div>

          <div class="<%= namespace%>-Layout_How-arrow"><span class="c-Icon_Arrow-down-l"></span></div>

          <div class="<%= namespace%>-Layout_How-item">
            <div class="<%= namespace%>-Layout_How-item-content">
              <div class="<%= namespace%>-Layout_How-item-img">
                <img src="<%= sitepath %>assets/img/campaign/assignment/how-point.png" alt="" width="304">
              </div>
              <div>
                <div class="<%= namespace%>-Layout_How-item-description">
                  <h2 class="c-Heading_Lv2 c-Txt_Emp-02">楽天ポイントプレゼント！</h2>
                  <p class="u-Adjust_Mt-8">Rakuten Link ご利用の翌々月末日ごろに、期間限定ポイントとして3,000ポイントずつ付与いたします。</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※ 譲渡元のお客様は1回線目のお申し込み時に「<a href="#campaign-rule-1526" class="c-Link_Txt js-scroll">【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント</a>」が対象、 譲渡先のお客様は「<a href="#campaign-rule-1644" class="c-Link_Txt js-scroll">初めて楽天回線 複数回線お申し込み＆2回線目以降譲渡で3,000ptプレゼントキャンペーン</a>」が対象となります。</p>
                </div>
                <div class="<%= namespace%>-Layout_How-item-who">
                  <div class="<%= namespace%>-Layout_How-item-who-item">
                    <img src="<%= sitepath %>assets/img/campaign/assignment/how-father.png" alt="譲渡元の方" width="172">
                  </div>
                  <div class="<%= namespace%>-Layout_How-item-who-item">
                    <img src="<%= sitepath %>assets/img/campaign/assignment/how-mother.png" alt="譲渡先の方" width="172">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="<%= namespace %>-Layout_Section u-Adjust_Mt-40">
      <div class="l-System_Container">
        <div class="c-Accordion">
          <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1" data-ratid="campaign_assignment_accordion-achievement" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten Linkで10秒以上通話の確認方法</button>
          <div id="accordion-content-1" class=" js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true" style="display:none;">
            <h4 class="c-Heading_Lv4">達成状況の確認方法</h4>
            <ol class="u-Adjust_Mt-16 u-Adjust_Pt-24 u-Adjust_Pb-24">
              <li>
                <p class="c-Txt_Emp-01">1. 「<a href="<%= ecarepath %>my-rakuten-mobile?l-id=campaign_assignment_my-rakuten-mobile_accordion" class="c-Link_Txt">my 楽天モバイル</a>」にアクセス</p>
              </li>
              <li class="u-Adjust_Mt-32">
                <p class="c-Txt_Emp-01">2. 右上のメニューから「利用状況」を選択</p>
                <div class="u-Adjust_Align-center u-Adjust_Mt-32">
                  <img src="<%= sitepath %>assets/img/campaign/common/img-cap01-2207071.png" width="300" alt="">
                </div>
              </li>
              <li class="u-Adjust_Mt-32">
                <p class="c-Txt_Emp-01">3. 「通話」タブを選択して<span class="c-Txt_Emp-02">Rakuten Linkでの10秒以上の発信通話履歴</span>があることを確認してください</p>
                <div class="u-Adjust_Align-center u-Adjust_Mt-32">
                  <img src="<%= sitepath %>assets/img/campaign/common/img-cap02.png" width="300" alt="">
                </div>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <section class="<%= namespace %>-Layout_Section u-Adjust_Mt-64" id="how-to-apply" data-ratId="campaign_assignment_scroll-04_application" data-ratevent="appear">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">お申し込み方法</h2>
        <div class="c-Tab js-Tab u-Adjust_Mt-24">
          <ul class="c-Tab_Items" role="tablist">
            <li class="c-Tab_Item" id="tab-menu1-1" role="tab" aria-selected="true" aria-controls="tab-content1-1" data-ratId="campaign_assignment_tab_application_web_01 " data-ratevent="click" data-ratparam="all">Web</li>
            <li class="c-Tab_Item" id="tab-menu1-2" role="tab" aria-selected="false" aria-controls="tab-content1-2" data-ratId="campaign_assignment_tab_application_shop_01" data-ratevent="click" data-ratparam="all">ショップ</li>
          </ul>
          <div class="c-Tab_Panel" id="tab-content1-1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1-1">
            <div class="c-Theme-Borderbox u-Adjust_Mt-24">
              <div class="l-Media_Grid">
                <div>
                  <img src="<%= sitepath %>assets/img/campaign/assignment/application-necessary.png" width="285" alt="">
                </div>
                <div>
                  <h3 class="c-Heading_Lv4">お申し込みに必要なもの</h3>
                  <ul class="c-List_Text-disc <%= namespace %>-List_Narrow u-Adjust_Mt-8">
                    <li><a href="<%= sitepath %>guide/verify/?l-id=campaign_assignment_guide_verify_01" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                    <li>楽天会員ID、パスワード</li>
                    <li><a href="<%= sitepath %>guide/payment/?l-id=campaign_assignment_guide_payment_01" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a></li>
                    <li>ご契約者名義の<a href="<%= sitepath %>guide/mnp/?l-id=campaign_assignment_guide_mnp_01">MNP予約番号</a>（他社から乗り換えの場合）</li>
                  </ul>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※未成年の方のお申し込み方法は<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_assignment_flow_for-minors_01" class="c-Link_Txt">こちら</a></p>
                </div>
              </div>
            </div>
            <div class="c-Theme-Borderbox u-Adjust_Mt-24">
              <h4 class="c-Heading_Lv4 <%= namespace %>-Heading_Icon-front"><span class="c-Icon_New-user-f"></span>新規電話番号／他社から乗り換え（MNP）</h4>
              <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                <a href="<%= sitepath %>guide/application/?lid-r=campaign_assignment_guide_application_01" class="c-Btn_Primary-large" data-ratId="campaign_assignment_application" data-ratevent="click" data-ratparam="all"><span>Rakuten UN-LIMIT VIIに<br class="<%= namespace%>-Utility_Br-sp">申し込む</span></a>
              </div>
              <div class="u-Adjust_Align-center">
                <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>fee/un-limit/?l-id=campaign_assignment_fee_un-limit_01" class="c-Link_Txt-inline">プラン詳細<span class="c-Icon_Chevron-right"></span></a></p>
                <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/flow/application/?l-id=campaign_assignment_guide_flow_application_01" class="c-Link_Txt-inline">お申し込み方法<span class="c-Icon_Chevron-right"></span></a></p>
              </div>
            </div>
          </div>
          <div class="c-Tab_Panel" id="tab-content1-2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu1-2">
            <h2 class="c-Heading_Lv2 u-Adjust_Mt-24">ショップでお申し込み</h2>
            <div class="u-Adjust_Mt-24">
              <div class="l-Media_Grid">
                <div>
                  <img src="<%= sitepath %>assets/img/campaign/assignment/application-shop.png" width="285" alt="">
                </div>
                <div>
                  <p>【お申し込み期間】2022年10月27日（木）開店～2022年11月24日（木）閉店</p>
                  <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>shop/?l-id=campaign_assignment_shop_01" class="c-Btn_Regular"><span>お近くのショップを探す</span></a></p>
                </div>
              </div>
            </div>
            <div class="c-Theme-Borderbox u-Adjust_Mt-24">
              <div class="l-Media_Grid">
                <div>
                  <img src="<%= sitepath %>assets/img/campaign/assignment/application-necessary.png" width="285" alt="">
                </div>
                <div>
                  <h3 class="c-Heading_Lv4">お申し込みに必要なもの</h3>
                  <ul class="c-List_Text-disc <%= namespace %>-List_Narrow u-Adjust_Mt-8">
                    <li><a href="<%= sitepath %>guide/verify/?l-id=campaign_assignment_guide_verify_01" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                    <li>楽天会員ID、パスワード</li>
                    <li><a href="<%= sitepath %>guide/payment/?l-id=campaign_assignment_guide_payment_01" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a></li>
                    <li>ご契約者名義の<a href="<%= sitepath %>guide/mnp/?l-id=campaign_assignment_guide_mnp_01">MNP予約番号</a>（他社から乗り換えの場合）</li>
                  </ul>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※未成年の方のお申し込み方法は<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_assignment_flow_for-minors_01" class="c-Link_Txt">こちら</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="<%= namespace %>-Layout_Section">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64 u-Adjust_Align-center">よくあるご質問</h2>
        <div class="u-Adjust_Mt-24">
          <div class="c-Accordion">
            <button id="accordion-faq-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-1" data-ratId="campaign_assignment_accordion-faq-01" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーンのお問い合わせをするときの注意事項を教えてください</button>
            <div id="accordion-content-faq-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-1" aria-hidden="true" style="display:none;">
              <p>お問い合わせは譲渡先の方からお問い合わせをしていただきますようお願いいたします。<br>その際、譲渡元の情報をお伺いする場合がございますのでご同意をいただいたうえでお問い合わせください。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-2" data-ratId="campaign_assignment_accordion-faq-02" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>一緒に住んでいない家族でも譲渡したらキャンペーンの対象になりますか？</button>
            <div id="accordion-content-faq-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-2" aria-hidden="true" style="display:none;">
              <p>一緒にお住まいでないご家族でも対象になります。<br>お手続きが簡単になりましたのでご家族で楽天モバイルをご利用ください。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-3" data-ratId="campaign_assignment_accordion-faq-03" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>譲渡の手続きについて知りたい</button>
            <div id="accordion-content-faq-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-3" aria-hidden="true" style="display:none;">
              <p><a href="<%= sitepath %>faq/detail/10000449/">[契約者変更手続き] 譲渡のお手続きについてよくあるご質問</a> をご確認ください。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-faq-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-4" data-ratId="campaign_assignment_accordion-faq-04" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>譲渡の申し込みができない</button>
            <div id="accordion-content-faq-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-4" aria-hidden="true" style="display:none;">
              <p><a href="<%= sitepath %>faq/detail/10000452/">[契約者変更手続き] 譲渡の申し込みができない</a> をご確認ください。</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div id="unlimit-vi-plan" class="u-Adjust_Mt-64">
      <%- include('/inc/_saikyo') %>
    </div>

    <div class="u-Bg_Monotone97 u-Adjust_Mt-80 u-Adjust_Py-48">
      <%- include('/inc/_about-rakuten-mobile', { baseLId: 'campaign_assignment' }) %>
    </div>

    <div class="l-System_Container u-Adjust_Mt-64 u-Adjust_Align-center">
      <%- include('/include/_bnr-cpn-recommend-v2.ejs') %>
    </div>
  </div>

  <div class="<%= namespace %>-Layout_Rule u-Adjust_Mt-64" id="campaign-rule">
    <div class="l-System_Container">
      <!-- 1644 -->
      <h2 class="c-Heading_Lv2" id="campaign-rule-1644" data-ratId="campaign_assignment_scroll-05_rule-1644" data-ratevent="appear">初めて楽天回線 複数回線お申し込み＆2回線目以降譲渡で3,000ptプレゼントキャンペーン</h2>
      <p class="c-Txt_Emp-02 c-Txt_Normal-l u-Adjust_Mt-16 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
      <div class="c-Table_Wrap u-Adjust_Mt-24">
        <div class="u-Adjust_Mt-24">
          <dl class="c-Dl_Origin <%= namespace %>-Dl_Rule">
            <div>
              <dt>キャンペーンコード</dt>
              <dd>
                <p>1644</p>
                <ul class="c-Txt_Cap u-Adjust_Mt-8">
                  <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                </ul>
              </dd>
            </div>
            <div>
              <dt>キャンペーン期間</dt>
              <dd>
                <p><span class="c-Txt_Emp-01">■ プランのお申し込み期間（譲渡元）</span><br>
                  - Web　2022年10月27日（木）9:00～2022年11月25日（金）8:59<br>
                  - 店舗（楽天モバイルショップ）　2022年10月27日（木）開店～2022年11月24日（木）閉店
                </p>
                <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■ 譲渡期限（譲渡元）</span><br>
                  譲渡元のプランのお申し込みの翌月末日23:59まで
                </p>
                <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■ プラン利用開始期限（譲渡先）</span><br>
                  譲渡元のプランのお申し込みの翌月末日23:59まで
                </p>
                <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■「Rakuten Link」利用期限（譲渡先）</span><br>
                  譲渡元のプランのお申し込みの翌月末日23:59まで
                </p>
              </dd>
            </div>
            <div>
              <dt>キャンペーン条件</dt>
              <dd>
                <p class="c-Txt_Emp-02">上記各項目の期間内に【1】、【2】、【3】、【4】の条件をすべて満たした楽天会員の方</p>
                <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※ 特典はおひとり様1度のみ。楽天回線を初めてご利用（譲渡元・譲渡先）いただいた場合に適用となります。<br>※ 同一回線を複数回譲渡された場合（受け取った回線を別の方へ譲渡された場合）、初回の譲渡のみがキャンペーン適用対象となります。</p>
                <div class="u-Adjust_Mt-16">
                  <p class="c-Txt_Emp-01">【1】「Rakuten UN-LIMIT VII」へ、下記（1）～（3）いずれかの方法にて譲渡元が2022年10月27日（木）9:00以降に初めてご契約かつ、2回線以上のお申し込み＆プラン利用開始</p>
                  <p class="c-Txt_Cap">※譲渡元もはじめてお申し込みに限ります。<br> 例）譲渡元がキャンペーン以前より楽天回線を保有し、2回線目以降を今回新たにお申し込みされた場合は対象外となります。</p>
                  <ol class="u-Adjust_Mt-8">
                    <li><span>(1)</span>新規お申し込み</li>
                    <li>
                      <span>(2)</span>他社からの乗り換え（MNP）でお申し込み
                      <p class="c-Txt_Cap">※ 楽天モバイル（旧FREETEL）通話SIMからの乗り換え（MNP）、DMMモバイル通話SIMからの乗り換え（MNP）の場合も含む</p>
                    </li>
                    <li><span>(3)</span>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
                  </ol>
                </div>

                <div class="u-Adjust_Mt-16">
                  <p class="c-Txt_Emp-01">【2】譲渡元が2回線目以降の回線を回線譲渡サービスを利用して、お申し込みの翌月末日までに譲渡（譲渡先は楽天モバイルを初めてお申し込みすることになる方）</p>
                  <p class="u-Adjust_Mt-16">【何回線目かの確認方法】</p>
                  <ol class="u-Adjust_Mt-8">
                    <li><span>(1)</span>「my 楽天モバイル」を開いていただき「申し込み履歴」をご確認</li>
                    <li><span>(2)</span>「回線開通完了」と表示の出ている回線のうち、最下部にあるものが1回線目となります</li>
                  </ol>
                  <p class="c-Txt_Cap">※一度解約している場合は、特典対象外となります</p>
                  <p class="u-Adjust_Mt-16">【回線譲渡の方法】</p>
                  <ol class="u-Adjust_Mt-8">
                    <li><span>(1)</span>「<a href="<%= sitepath %>guide/contract-transfer/" class="c-Txt_Link">契約者変更手続き（譲渡）</a>」をご確認ください　</li>
                    <li><span>(2)</span>譲渡先の本人確認が終了し、翌日以降完了メールを受け取り次第、譲渡完了となります</li>
                  </ol>
                </div>

                <div class="u-Adjust_Mt-16">
                  <p class="c-Txt_Emp-01">【3】譲渡先が「Rakuten UN-LIMIT VII」プラン利用開始（契約者変更手続き完了）</p>
                  <p class="u-Adjust_Mt-16">【プラン利用開始日とは】</p>
                  <ol class="u-Adjust_Mt-8">
                    <li>
                      - 新規お申し込みの場合　　※（1）（2）のいずれか早い方がプラン利用開始日となります
                      <ol>
                        <li><span>(1)</span>当社に配送完了データが通知された日</li>
                        <li><span>(2)</span>プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                      </ol>
                    </li>
                    <li class="u-Adjust_Mt-8">- 他社から乗り換え（MNP）の場合<br>プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                    <li class="u-Adjust_Mt-8">- 楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合<br>プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                  </ol>
                </div>

                <div class="u-Adjust_Mt-16">
                  <p class="c-Txt_Emp-01">【4】譲渡先が「Rakuten Link」のご利用</p>
                  <p>「Rakuten UN-LIMIT  VII」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
                  <p class="u-Adjust_Mt-8">【Rakuten Link アプリご利用方法】</p>
                  <p>
                    下記URLの「Rakuten Linkのご利用方法」をご確認ください<br>
                    <a href="<%= sitepath %>guide/rakuten-link/" class="u-Adjust_Txt-break"><%= sitedomain %>/guide/rakuten-link/</a><br>
                    - 通話方法：『電話をかける』の項目をご確認ください
                  </p>
                  <p class="u-Adjust_Mt-8">【Rakuten Link利用履歴の確認方法】</p>
                  <p>
                    下記URLの「キャンペーンが適用されているか、いつポイントが付与されるか知りたい」をご確認ください<br>
                    <a href="<%= sitepath %>faq/detail/00001962/" class="u-Adjust_Txt-break"><%= sitedomain %>/faq/detail/00001962/</a><br>
                    -「 適用条件を達成状況の確認する」の項目をご確認ください
                  </p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※ 電話の発信時、（0570）（0180）などの他社接続サービス、♯ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</p>
                </div>
              </dd>
            </div>
            <div>
              <dt>キャンペーン特典 （楽天ポイント）</dt>
              <dt class="<%= namespace %>_Title-sub">特典内容</dt>
              <dd>
                <p class="c-Txt_Emp-01">3,000ポイントプレゼント</p>
              </dd>
            </div>
            <div>
              <dt class="<%= namespace %>_Title-sub">ポイント付与日</dt>
              <dd>
                <p class="c-Txt_Emp-01">譲渡先で「Rakuten UN-LIMIT VII」のプラン利用開始および「Rakuten Link」の利用、譲渡実施の確認された月の翌々月末日ごろに譲渡先に付与</p>
                <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>例）10月にすべての条件を達成した場合には、その翌々月である12月末日ごろにポイント付与となります</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>譲渡先から譲渡元へのポイント権利の譲渡はできません</p>
              </dd>
            </div>
            <div>
              <dt class="<%= namespace %>_Title-sub">ポイント有効期間</dt>
              <dd>
                <td>
                  <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
                  <ul class="u-Adjust_Mt-8">
                    <li class="c-Txt_Cap"><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a></li>
                    <li class="c-Txt_Cap"><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
                  </ul>
                </td>
              </dd>
            </div>
            <div>
              <dt>特典適用対象外</dt>
              <dd>
                <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
                <ul class="u-Adjust_Mt-16">
                  <li class="c-Txt_Cap"><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                  <li class="c-Txt_Cap"><span>※</span>楽天モバイルWebページ、アプリ以外で譲渡お申し込みした場合</li>
                  <li class="c-Txt_Cap"><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Cap-01">申し込みキャンセル</span>となった場合</li>
                  <li class="c-Txt_Cap"><span>※</span>「Rakuten UN-LIMIT VII」のプラン利用開始がされなかった場合<br>
                    プラン利用開始の手続き方法につきましては、<a href="<%= sitepath %>faq/detail/00001648/">こちらのSIMカード版スタートガイドまたはeSIM版スタートガイド</a>を参照ください</li>
                  <li class="c-Txt_Cap"><span>※</span>期限までに<span class="c-Txt_Emp-01">「Rakuten Link」を利用されなかった場合</span></li>
                  <li class="c-Txt_Cap"><span>※</span>期限までに回線譲渡を<span class="c-Txt_Emp-01">されなかった</span>場合</li>
                  <li class="c-Txt_Cap"><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                  <li class="c-Txt_Cap"><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                  <li class="c-Txt_Cap"><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
                  <li class="c-Txt_Cap"><span>※</span><span class="c-Txt_Emp-01">「利用者登録」を行って</span>、MVNOの楽天モバイル（ドコモ回線・au回線）をご利用中で、UN-LIMIT VIIを利用する方へ名義変更を行った後に、プラン変更（移行）手続きした場合</li>
                </ul>
              </dd>
            </div>
            <div>
              <dt>併用可能キャンペーン</dt>
              <dd>
                <p class="c-Txt_Emp-02">以下のキャンペーンはお申し込み時にご利用で併用可能となり、特典は譲渡元に適用されます。記載のキャンペーン以外は併用不可となります。</p>
                <div class="u-Adjust_Mt-16">
                  <p class="c-Txt_Emp-01">【以下キャンペーンは1回線1回限りの適用であり、複数回線ご契約の場合、回線ごとに適用されます】</p>
                  <ul>
                    <li class="c-Txt_Cap">- Androidスマホ/Wi-Fiルーター割引キャンペーン（キャンペーンコード：1550）</li>
                  </ul>
                </div>
                <div class="u-Adjust_Mt-16">
                  <p class="c-Txt_Emp-01">【以下キャンペーンはお一人様1回限りの適用であり、複数回線ご契約の場合、1回線のみに適用されます】</p>
                  <ul>
                    <li class="c-Txt_Cap">- Apple Watchスタートキャンペーン（キャンペーンコード：1515,1517）</li>
                    <li class="c-Txt_Cap">- 楽天モバイル公式 楽天市場店 対象Apple製品と楽天回線セットご注文で16,000円OFFクーポン（キャンペーンコード：1545）</li>
                    <li class="c-Txt_Cap">- 楽天モバイル公式 楽天市場店 対象Android製品と楽天回線セットご注文で最大16,000円OFFクーポン（キャンペーンコード：1547）</li>
                    <li class="c-Txt_Cap">- iPhone 13 全機種 & iPhone SE（第3世代）ポイント還元キャンペーン（キャンペーンコード：1551）</li>
                    <li class="c-Txt_Cap">- Rakuten WiFi Pocket ポイントバックキャンペーン（キャンペーンコード：1552）</li>
                    <li class="c-Txt_Cap">- 【ショップ限定】対象製品と楽天回線同時申込でさらに1,000ポイントキャンペーン ルール（キャンペーンコード：1553）</li>
                    <li class="c-Txt_Cap">- 【ショップ限定】対象製品購入でさらにポイント還元キャンペーン（キャンペーンコード：1584）</li>
                    <li class="c-Txt_Cap">- 店頭受取限定！楽天モバイル公式 楽天市場店 対象iPhone製品値引きキャンペーン（キャンペーンコード：1615）</li>
                    <li class="c-Txt_Cap">- 楽天モバイル公式 楽天市場店 Android製品単体もOK！最大11,000円OFFクーポンキャンペーン（キャンペーンコード：1619）</li>
                    <li class="c-Txt_Cap">- iPhone 14 全機種発売記念キャンペーン（キャンペーンコード：1639）</li>
                  </ul>
                </div>
              </dd>
            </div>
            <div>
              <dt>注意事項</dt>
              <dd>
                <ul>
                  <li class="c-Txt_Cap"><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                  <li class="c-Txt_Cap"><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                  <li class="c-Txt_Cap"><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                  <li class="c-Txt_Cap"><span>※</span>記載の内容は2022年11月4日（金）時点の情報となります</li>
                </ul>
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <!-- 1526 -->
      <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="campaign-rule-1526" data-ratId="campaign_assignment_scroll-06_rule-1526" data-ratevent="appear">【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント</h2>
      <div class="c-Table_Wrap u-Adjust_Mt-24">
        <div class="u-Adjust_Mt-24">
          <dl class="c-Dl_Origin <%= namespace %>-Dl_Rule">
            <div>
              <dt>キャンペーンコード</dt>
              <dd>
                <p>1526</p>
                <ul class="c-Txt_Cap u-Adjust_Mt-8">
                  <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                </ul>
              </dd>
            </div>
            <div>
              <dt>キャンペーン期間</dt>
              <dd>
                <p><span class="c-Txt_Emp-01">■ プランのお申し込み期間</span><br>
                  　- Web　2022年7月1日（金）0:00～終了日未定<br>
                  　- 店舗（楽天モバイルショップ）　2022年7月1日（金）開店～終了日未定<br>
                </p>

                <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■ プラン利用開始期限</span><br>
                  　　プランのお申し込みの翌月末日23:59まで
                </p>
                <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■「Rakuten Link」利用期限</span><br>
                  　　プランのお申し込みの翌月末日23:59まで
                </p>
              </dd>
            </div>
            <div>
              <dt>キャンペーン条件</dt>
              <dd>
                <p class="c-Txt_Emp-02">
                  上記各項目の期間内に【1】、【2】、【3】の条件をすべて満たした楽天会員の方
                </p>
                <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※ 特典はおひとり様1度のみ。楽天回線を初めてお申し込みいただいた場合に適用となります</p>
                <div class="u-Adjust_Mt-16">
                  <span class="c-Txt_Emp-01">【1】「Rakuten UN-LIMIT VII」へ、下記（1）～（3）いずれかの方法にてお申し込み</span><br>
                  <ul class="u-Adjust_Mt-8">
                    <li><span>(1)</span>新規お申し込み</li>
                    <li><span>(2)</span>他社からの乗り換え（MNP）でお申し込み<br>
                      <span class="c-Txt_Cap">※楽天モバイル（旧FREETEL）通話SIMからの乗り換え（MNP）、DMMモバイル通話SIMからの乗り換え（MNP）の場合も含む</span>
                    </li>
                    <li><span>(3)</span>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
                  </ul>
                  <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※ 「Rakuten UN-LIMIT VI」から「Rakuten UN-LIMIT VII」への移行は対象外となります。</p>
                </div>
                <div class="u-Adjust_Mt-16">
                  <p class="c-Txt_Emp-01">【2】「Rakuten UN-LIMIT VII」プラン利用開始</p>
                  <p class="u-Adjust_Mt-16">【プラン利用開始日とは】</p>
                  <ul>
                    <li class="u-Adjust_Mt-8">- 新規お申し込みの場合 <span>※(1)(2)のいずれか早い方がプラン利用開始日となります。</span>
                      <ul>
                        <li><span>(1)</span>当社に配送完了データが通知された日</li>
                        <li><span>(2)</span>プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                      </ul>
                    </li>
                    <li class="u-Adjust_Mt-8">- 他社から乗り換え（MNP）の場合<br>
                      プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日
                    </li>
                    <li class="u-Adjust_Mt-8">- 楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合<br>
                      プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日
                    </li>
                  </ul>
                </div>
                <div class="u-Adjust_Mt-16">
                  <p class="c-Txt_Emp-01">【3】対象製品※1を利用し「Rakuten Link」のご利用</p>
                  <p class="u-Adjust_Mt-8">「Rakuten UN-LIMIT VII」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
                  <p class="u-Adjust_Mt-8 c-Txt_Emp-02 c-Txt_Cap">※iPhoneをご購入の場合、製品到着または店頭で購入した日の翌月末日23:59までに【2】【3】の条件を満たすことでキャンペーン適用となります。</p>
                  <p class="u-Adjust_Mt-8 c-Txt_Emp-02 c-Txt_Cap">※製品到着とは、当社に配送完了データが通知された日を指します。</p>
                  <p class="u-Adjust_Mt-16 c-Txt_Emp-01">【Rakuten Link アプリご利用方法】</p>
                  下記URLの「Rakuten Linkのご利用方法」をご確認ください<br>
                  <a target="_blank" href="<%= sitepath %>guide/rakuten-link/" class="u-Adjust_Txt-break">https://network.mobile.rakuten.co.jp/guide/rakuten-link/</a>
                  <br>
                  - 通話方法：『電話をかける』の項目をご確認ください
                  <p class="c-Txt_Emp-01">【Rakuten Link利用履歴の確認方法】</p>
                  下記URLの「キャンペーンが適用されているか、いつポイントが付与されるか知りたい」をご確認ください<br>
                  <a href="<%= sitepath %>faq/detail/00001962/" class="u-Adjust_Txt-break">https://network.mobile.rakuten.co.jp/faq/detail/00001962/</a><br>
                  -「③ 適用条件の達成状況を確認する」の項目をご確認ください
                  <p class="c-Txt_Cap">※ 電話の発信時、（0570）（0180）などの他社接続サービス、#ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</p>
                  <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">
                    ※1 キャンペーン対象製品について<br>
                  【iOS版】<br>
                  iOS 14.4以降（推奨）を搭載したiPhone</p>

                  <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">【Android版】<br>
                  Android 9以降を搭載した<a href="<%= sitepath %>product/certified-products/" class="u-Adjust_Txt-break">楽天回線対応製品</a></p>
                  <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">
                  ※ 楽天回線対応のモバイルルーターで使用されるためにお申し込みいただいた場合は、「Rakuten Link」のご利用は必要ございません。<br>
                  ※ ご利用いただく製品によっては、次の機能が利用できない場合があります（接続回線の自動切替、緊急地震速報などの受信、高精度な位置情報測位など）ので、ご利用予定の製品の対応状況を<a href="<%= sitepath %>product/byod/">こちら</a>でご確認ください。<br>
                  ※ ご利用いただける機能であっても、OSやソフトウェアの更新等により、機能のご利用が制限される場合があります。<br>
                  ※ SIMロックの解除等が必要な場合があります。
                  </p>
                </div>
              </dd>
            </div>
            <div>
              <dt>キャンペーン特典 （楽天ポイント）</dt>
              <dt class="<%= namespace %>_Title-sub">特典内容</dt>
              <dd>
                <p class="c-Txt_Emp-01">3,000ポイントプレゼント</p>
              </dd>
            </div>
            <div>
              <dt class="<%= namespace %>_Title-sub">ポイント付与日</dt>
              <dd>
                <p class="c-Txt_Emp-01">「Rakuten UN-LIMIT VII」のプラン利用開始および「Rakuten Link」の利用が確認された月の翌々月末日ごろに付与</p>
                <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>例）7月にすべての条件を達成した場合には、その翌々月である9月末日ごろにポイント付与となります</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>権利の譲渡はできません</p>
              </dd>
            </div>
            <div>
              <dt class="<%= namespace %>_Title-sub">ポイント有効期間</dt>
              <dd>
                <td>
                  <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
                  <ul class="u-Adjust_Mt-8">
                    <li class="c-Txt_Cap"><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a></li>
                    <li class="c-Txt_Cap"><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。</li>
                  </ul>
                </td>
              </dd>
            </div>
            <div>
              <dt>特典適用対象外</dt>
              <dd>
                <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
                <ul class="u-Adjust_Mt-16">
                  <li class="c-Txt_Cap"><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払期限までに行われなかった場合 ※未納・未払いが発生した場合</li>
                  <li class="c-Txt_Cap"><span>※</span>「【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼントキャンペーン」の適用回数が、おひとり様1契約1回を超える場合は対象外となります</li>
                  <li class="c-Txt_Cap"><span>※</span>楽天モバイルショップ、楽天モバイルオンライン、楽天モバイル公式 楽天市場店以外でお申し込みした場合</li>
                  <li class="c-Txt_Cap"><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
                  <li class="c-Txt_Cap"><span>※</span>「Rakuten UN-LIMIT VII」のプラン利用開始がされなかった場合<br>
                    プラン利用開始の手続き方法につきましては、<a href="<%= sitepath %>faq/detail/00001648/">こちらのSIMカード版スタートガイドまたはeSIM版スタートガイド</a>を参照ください</li>
                  <li class="c-Txt_Cap"><span>※</span>期限までに<span class="c-Txt_Emp-01">「Rakuten Link」を利用されなかった場合</span></li>
                  <li class="c-Txt_Cap"><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                  <li class="c-Txt_Cap"><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                  <li class="c-Txt_Cap"><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
                </ul>
              </dd>
            </div>
            <div>
              <dt>注意事項</dt>
              <dd>
                <ul>
                  <li class="c-Txt_Cap"><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                  <li class="c-Txt_Cap"><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                  <li class="c-Txt_Cap"><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                  <li class="c-Txt_Cap"><span>※</span>記載の内容は2023年3月24日（金）時点の情報となります</li>
                </ul>
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <div class="u-Rat_Appear-height" data-ratid="campaign_assignment_scroll-07_popask" data-ratevent="appear">&nbsp;</div>
  <!-- ReX UX Survey: Mounting point for embedded components -->
  <div id="rexSurveyEmbedded" class="rexSurveyNamespace u-Adjust_Mt-48"></div>

  <div id="js-fixed-btn" class="<%= namespace %>-Layout_Bottom-fixed" aria-expanded="false" role="region">
    <div class="<%= namespace %>-Layout_Bottom-fixed-inner">
      <a href="<%= sitepath %>guide/application/?lid-r=campaign_assignment_application-floating" class="c-Btn_Primary <%= namespace %>-Layout_Bottom-fixed-btn"><span class="<%= namespace %>-Layout_Bottom-fixed-btn-txt"><span class="Bottom_txt-style">新規／乗り換え（MNP）</span><span class="<%= namespace %>-Utility_Img-pc">お申し込み</span></span></a>
      <a href="<%= sitepath %>shop/?l-id=campaign_assignment_shop_01" class="c-Btn_Secondly <%= namespace %>-Layout_Bottom-fixed-btn">
        <span class="<%= namespace %>-Layout_Bottom-fixed-btn-txt">
          <span class="Bottom_plan_txt-style">お近くのショップを探す</span></span></a>
    </div>
  </div>

  <footer class="g-Footer <%= namespace %>-Layout_Footer u-Adjust_Mt-64">
    <div class="g-Footer_Aside">
      <%- include('/include/footer/related/_related-news.ejs') %>
      <%- include('/include/footer/bnr/_bnr-news.ejs') %>
    </div>
    <div class="l-System_Container">
      <div class="c-Breadcrumbs_Foot">
        <ul>
          <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
          <%_ } _%>
          <li aria-current="true"><%= pagetitle %></li>
        </ul>
      </div>
    </div>
    <%- include('/include/_footer') %>
  </footer>

  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>


  <!-- ReX UX Survey: Config -->
  <script>
    window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
  </script>
  <!-- ReX UX Survey: Script -->
  <script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>

  <script>
    (function($){
      const trigger = document.getElementById('js-trigger');
      const fixedBtn = document.getElementById('js-fixed-btn');
      function fixedBottomBtn() {
          let scrollY = window.pageYOffset;
          const triggerRect = trigger.getBoundingClientRect();
          const triggerY = scrollY + triggerRect.top;

          if ( scrollY + window.innerHeight > triggerY ) {
              fixedBtn.setAttribute('aria-expanded', 'true');
          } else {
              fixedBtn.setAttribute('aria-expanded', 'false');
          }
      }
      if( fixedBtn && trigger ) {
          window.addEventListener('scroll', fixedBottomBtn);
      }
    })();
  </script>
</body>
</html>
