<% const pagetitle = "Rakuten Miniの自動ソフトウェアアップデートのご案内" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/rakuten/", label:"Rakutenオリジナル"}, {path:"product/smartphone/rakuten-mini/", label:"Rakuten Mini"}, {path:"product/smartphone/rakuten-mini/support/", label:"Rakuten Miniサポート情報"}] -%>
<% const namespace = "rakuten-mini-certificate-number-auto-update-support" -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Rakuten Miniの自動ソフトウェアアップデートについてご案内します',
    noindex: false,
    pathname: 'product/smartphone/rakuten-mini/support/certificate-number-auto-update/'
  });
%>

<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/smartphone/rakuten-mini/support/certificate-number-auto-update.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="u-Adjust_Pb-64">
  <div class="l-System_Container u-Adjust_Mt-32">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

  <div class="u-Adjust_Align-right u-Adjust_Mt-24">
    2021年7月30日更新
  </div>
    <p class="u-Adjust_Mt-24">楽天モバイルより販売した「Rakuten Mini」の一部の製品において、対応周波数帯の変更に伴う認証の取得および正しい番号の表記ができておりませんでした。</p>
    <p class="u-Adjust_Mt-8"><a href="https://corp.mobile.rakuten.co.jp/news/notice/2020/0626_01/" class="c-Link_Txt-icon">「Rakuten Miniの認証番号と、対応周波帯の変更について」の詳細はこちら<span class="c-Icon_Chevron-right"></span></a></p>
    <p class="u-Adjust_Mt-24">現時点で必要な認証はすべて取得しており、ソフトウェアアップデートを行うことで「Rakuten Mini」の認証番号を適正化することができます。</p>

    <p class="u-Adjust_Mt-24">ソフトウェアアップデートが必要な「Rakuten Mini」をご購入のお客様には、事前にEメール（件名：「【お知らせ】【楽天モバイル】Rakuten Miniのソフトウェアアップデートのお願いと自動ソフトウェアアップデートについて」）およびSMSでご連絡致します。下記詳細と合わせてご確認の上、ご対応をお願いいたします。</p>
    <p class="u-Adjust_Mt-24">また、自動でのソフトウェアアップデートの場合、お客様の意図しないタイミングで5分程度「Rakuten Mini」をご利用いただけなくなる可能性がございます。<span class="c-Txt_Emp-02">お客様のご都合の良いタイミングで、手動でソフトウェアアップデートを行うことを推奨いたします。</span></p>

    <div class="u-Adjust_Mt-32">
      <a href="<%= sitepath %>product/smartphone/rakuten-mini/support/certificate-number/#feature3" class="c-Btn_Secondly-auto"><span>ソフトウェアアップデート要否を確認する</span></a>
    </div>
    <div class="u-Adjust_Mt-16">
      <a href="<%= sitepath %>product/smartphone/rakuten-mini/support/certificate-number/" class="c-Btn_Primary-auto"><span>手動ソフトウェアアップデート方法を見る</span></a>
    </div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">自動ソフトウェアアップデートについて</h2>
    <div class="u-Adjust_Mt-16">
      【2021年8月9日（月）～】<br>
自動ソフトウェアアップデートは、お客様の製品のソフトウェアバージョンにより、下記の2とおりの方法で実施されます。<br>
なお、バージョンの確認手順は下記となります。
    </div>
    <ul class="c-List_Text-disc u-Adjust_Mt-16">
      <li>ホーム画面で「メニューアイコン」をタップします。</li>
      <li>「設定」をタップします。</li>
      <li>「端末情報」をタップします。</li>
      <li>ソフトウェアのバージョンが表示されます。</li>
    </ul>
    <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">方法①：電源がONになったときに自動的にアップデートが実施される製品</h3>
    <div class="u-Adjust_Mt-16">
      【対象となるソフトウェアのバージョン】<br>
・C330AE_9.0_RMN_JP_65_SS<br>
・C330AE_9.0_RMN_JP_65_MR1_SS<br>
・C330AE_9.0_RMN_JP_68_SS<br>
のお客様
    </div>
    <div class="u-Adjust_Mt-16">
      Rakuten Miniの電源ON後、インターネット接続直後に自動でソフトウェアのダウンロードとインストールを実施します。<br>
実施されなかった場合は、翌日以降も完了するまで繰り返し実施されます。
    </div>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-64">方法②：深夜帯に自動的にインストールが実施される製品</h3>
    <div class="u-Adjust_Mt-16">
      【対象となるソフトウェアのバージョン】<br>
・C330AE_9.0_RMN_JP_36_SS<br>
・C330AE_9.0_RMN_JP_41_SS<br>
・C330AE_9.0_RMN_JP_49_SS<br>
・C330AE_9.0_RMN_JP_55_SS<br>
・C330AE_9.0_RMN_JP_55_MR_SS<br>
のお客様
    </div>
    <div class="u-Adjust_Mt-16">
      自動ソフトウェアアップデートは「自動ソフトウェアダウンロード」と「自動ソフトウェアインストール」として、2つの時間帯に分けて実施いたします。<br>
<br>
まず、自動でソフトウェアのダウンロードが行われます（不特定の時間帯にバックグラウンドで処理されますので、お客様は通常どおり「Rakuten Mini」をご利用いただけます）。<br>
次に、ダウンロードが行われた日以降の直近の午前2時から午前4時までの間に、約5分間、自動でソフトウェアのインストールが行われます。
ソフトウェアダウンロード、ソフトウェアインストールが実施されなかった場合は、それぞれ翌日以降も完了するまで繰り返し実施（ダウンロードは不特定の時間帯、インストールは午前2時から午前4時までの間に実施）されます。
    </div>

    <div class="<%= namespace %>-Layout_Image-pc u-Adjust_Mt-8">
      <img src="<%= sitepath %>assets/img/product/rakuten-mini/support/certificate-number-auto-update/main-image-01.png?210729" alt="">
    </div>
    <div class="u-Adjust_Mt-16">
      該当するお客様には、弊社にご登録いただいておりますお客様連絡先に、メール／SMSでご連絡いたします。
    </div>

        <p class="u-Adjust_Mt-24">また、下記の場合はソフトウェアの自動インストールは実施されませんのでご注意ください。</p>
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>VoLTE通話中の場合
            <p class="c-Txt_Cap">※Rakuten Linkでの通話は切断され、インストールが行われます。</p></li>
          <li>電源がOFFの場合</li>
          <li>電池残量が少ない場合<br>
            充電中は20%以上、充電中以外は40％以上の残量が必要です。</li>
        </ul>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-48">自動ソフトウェアインストール実施時の注意事項</h2>
        <ul class="c-List_Text-disc u-Adjust_Pt-24">
          <li>ソフトウェアインストールによる再起動処理中は、発着信を含む各機能をご利用いただけません。また、緊急通報（110番、118番、119番）もご利用いただけません。VoLTE通話中の場合のみ中断されず通話を継続いただけます。</li>
          <li>ソフトウェアインストール中は、故障の原因となるため、絶対に本機の電源を切らないでください。</li>
          <li>ソフトウェアインストールを行うと、一部の設定が初期化されることがありますので、再度設定を行ってください。</li>
          <li>ソフトウェアインストール完了後は、以前のソフトウェアバージョンに戻すことはできません。</li>
          <li>製品の状況（故障・破損・水濡れ等）によっては、保存されているデータが破損・消失する場合があります。重要なデータは、事前にバックアップしておくことをおすすめします。<br>なお、データが破損・消失した場合の損害に関しては、当社は責任を負いかねますので、あらかじめご了承ください。</li>
        </ul>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">参考情報</h2>
    <p class="u-Adjust_Mt-24">以下はこれまでの自動アップデートに関する情報です。</p>
    <div class="u-Adjust_Mt-16">
      【2020年12月3日（木）～2021年1月20日（水）】<br>
      午前2時から午前5時までの間の約5分間、自動でアップデートが行われます。<br>
      実施されなかった場合は、翌日の同じ時間帯に持ち越され、完了するまで繰り返し持ち越して実施されます。
    </div>
    <div class="<%= namespace %>-Layout_Image-pc u-Adjust_Mt-8">
      <img src="<%= sitepath %>assets/img/product/rakuten-mini/support/certificate-number-auto-update/main-image-02.png?210729" alt="">
    </div>
    <div class="u-Adjust_Mt-16">
      【2021年1月21日（木）～】<br>
      自動ソフトウェアアップデートは「自動ソフトウェアダウンロード」と「自動ソフトウェアインストール」として、2つの時間帯に分けて実施いたします。<br>
      まず、午前10時30分から午前11時30分までの間に自動でソフトウェアのダウンロードが行われます。次に、翌日の午前2時から午前4時までの間の約5分間、自動でソフトウェアのインストールが行われます。<br>
      実施されなかった場合は、それぞれ翌日の同じ時間帯に持ち越され、完了するまで繰り返し持ち越して実施されます。
    </div>
    <div class="<%= namespace %>-Layout_Image-pc u-Adjust_Mt-8">
      <img src="<%= sitepath %>assets/img/product/rakuten-mini/support/certificate-number-auto-update/main-image-03.png?210729" alt="">
    </div>
    <p class="u-Adjust_Mt-24">
      ソフトウェアアップデートファイルのダウンロードはバックグラウンドで自動で行われるため、通常通り「Rakuten Mini」をご利用いただけます。<br>
      その後、手動でのソフトウェアインストールを実施いただけます。<br>
      手動でソフトウェアインストールを実施いただけなかった場合は、上記時間帯に自動インストールが実施され、「Rakuten Mini」が再起動されます。<br>
      手動でのインストールに関しては、下記をご覧ください。
    </p>
    <a class="c-Link_Txt-icon u-Adjust_Mt-8" href="<%= sitepath %>product/smartphone/rakuten-mini/support/certificate-number/">手動ソフトウェアアップデート方法を見る<span class="c-Icon_Chevron-right"></span></a>
    <p class="c-Txt_Cap u-Adjust_Mt-8">※Rakuten UN-LIMIT VIご契約中の方は、ソフトウェアダウンロードにかかるデータ通信料は無料です。</p>



    <div class="u-Adjust_Pt-64">
      <div><a href="<%= sitepath %>product/smartphone/rakuten-mini/support/" class="c-Btn_Regular-semiauto"><span>Rakuten Miniサポート情報に戻る</span></a></div>
      <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular-semiauto"><span>楽天モバイルトップへ</span></a></div>
    </div>

  </div>
</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-product.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%#- include('/faq/include/related-product.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
