<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "楽天ひかり・楽天ブロードバンド お支払い連絡・ご利用再開受付" -%>
<% const namespace = "hikari-restart-service" %>
<% const directories = [] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    <!-- directories: directories, -->
    description: '',
    noindex: true,
    pathname: filepath,
    ishikari: true
  });
%>
<%- include('/include/hikari/_common-v2-hikari-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/form/restart-service/restart-service.css?20240424">
<%- include('/include/_append-head-hikari') %>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>

<div class="l-System">

  <%- include('/hikari/include/_header', { headerType: 'logo', pagetitle: pagetitle, directories: directories, tax: false }) %>

  <div class="l-hikari-Section_Main">
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
      <div class="l-hikari-Section_Main-lead">
        <p class="u-Adjust_Mt-24">未払いによりサービスの利用が一時停止になっている際に、お支払い済みであることを申告していただく事で早期サービス再開が可能です。</p>
        <p class="u-Adjust_Mt-16">コンビニ払込票にてお支払い後、必要事項を記入して送信してください。<br>
          受付内容の確認が取れ次第、数時間～最大24時間程度でご利用再開していただけます。</p>
        <p class="u-Adjust_Mt-16">個別にお電話等をいただいても利用再開を早めることはできませんのでご了承ください。</p>
        <p class="u-Adjust_Mt-16 c-Txt_Cap">※ご入力いただいたご契約情報とお支払い情報の確認が取れない場合は、契約者電話番号、連絡先電話番号または契約メールアドレスのいずれかにご連絡をさせていただきます。</p>
      </div>

      <div class="l-hikari-Section_Sub-short">
        <form id="js-hikari-restart-service_Form" class="<%= namespace %>_Form" action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST">

          <input type=hidden name="orgid" value="00D2v000001WJL6">
          <input type=hidden name="recordType" value="0122u000000Ci5O">
          <input type=hidden name="subject" value="【利停解除希望】フォーム受付分">
          <input type=hidden name="retURL" value="https://network.mobile.rakuten.co.jp/hikari/form/restart-service/completion/">
          <!--  ----------------------------------------------------------------------  -->
          <!--  注意: これらの項目は、省略可能なデバッグ用要素です。デバッグモードでテストを行う場合は、これらの行をコメント解除してください。        -->
           <!-- <input type="hidden" name="debug" value=1>
           <input type="hidden" name="debugEmail"
           value="ts-sumio.b.arakawa@rakuten.com">                                 -->
          <!--  ----------------------------------------------------------------------  -->

          <dl class="c-Form_List">
            <h2 class="c-Heading_Lv2">ご契約情報</h2>
            <div class="u-Adjust_Mt-16">
              <dt class="<%= namespace %>-Form_Dt">
                <p>契約者名（姓名）<span class="c-Form_List-required">必須</span></p>
              </dt>
              <dd class="<%= namespace %>-Form_Dd <%= namespace %>-Layout_Flex-pc">
                <div class="<%= namespace %>-Layout_Flex-item">
                  <span class="c-Txt_Emp">氏名（姓）</span><br><input class="c-Form_Input u-Adjust_Mt-8 js-required" id="00N2v00000JLlAA" maxlength="80" name="00N2v00000JLlAA" size="20" type="text" placeholder="例：楽天" />
                </div>
                <div class="<%= namespace %>-Layout_Flex-item">
                  <span class="c-Txt_Emp">氏名（名）</span><br><input class="c-Form_Input u-Adjust_Mt-8 js-required" id="00N2v00000JLlA6" maxlength="80" name="00N2v00000JLlA6" size="20" type="text" placeholder="例：太郎" />
                </div>
              </dd>
            </div>

            <div>
              <dt class="<%= namespace %>-Form_Dt">
                <p>契約者電話番号<span class="c-Form_List-required">必須</span></p>
              </dt>
              <dd class="<%= namespace %>-Form_Dd">
                  <input class="c-Form_Input js-required" id="00N2v00000LeaQe" maxlength="13" name="00N2v00000LeaQe" size="20" type="text" placeholder="例：0312345678" />
              </dd>
            </div>

            <div>
              <dt class="<%= namespace %>-Form_Dt">
                <p>契約者住所<span class="c-Form_List-required">必須</span></p>
              </dt>
              <dd class="<%= namespace %>-Form_Dd">
                <p><span class="c-Txt_Emp">郵便番号</span></p>
                <input class="c-Form_Input u-Adjust_Mt-8 <%= namespace %>-Form_Input-zip js-hikari-inquiry_Zip2addr js-required" id="00N2v00000JLlAI" maxlength="7" name="00N2v00000JLlAI" size="20" type="text" placeholder="例：1580094" />

                <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp">都道府県</span></p>
                <div class="c-Form_Select u-Adjust_Mt-8">
                  <select class="<%= namespace %>-Form_Select js-required" id="00N2v00000JLlAb" name="00N2v00000JLlAb" title="都道府県">
                    <option value="">都道府県</option>
                    <option value="北海道">北海道</option>
                    <option value="青森県">青森県</option>
                    <option value="岩手県">岩手県</option>
                    <option value="宮城県">宮城県</option>
                    <option value="秋田県">秋田県</option>
                    <option value="山形県">山形県</option>
                    <option value="福島県">福島県</option>
                    <option value="茨城県">茨城県</option>
                    <option value="栃木県">栃木県</option>
                    <option value="群馬県">群馬県</option>
                    <option value="埼玉県">埼玉県</option>
                    <option value="千葉県">千葉県</option>
                    <option value="東京都">東京都</option>
                    <option value="神奈川県">神奈川県</option>
                    <option value="新潟県">新潟県</option>
                    <option value="富山県">富山県</option>
                    <option value="石川県">石川県</option>
                    <option value="福井県">福井県</option>
                    <option value="山梨県">山梨県</option>
                    <option value="長野県">長野県</option>
                    <option value="岐阜県">岐阜県</option>
                    <option value="静岡県">静岡県</option>
                    <option value="愛知県">愛知県</option>
                    <option value="三重県">三重県</option>
                    <option value="滋賀県">滋賀県</option>
                    <option value="京都府">京都府</option>
                    <option value="大阪府">大阪府</option>
                    <option value="兵庫県">兵庫県</option>
                    <option value="奈良県">奈良県</option>
                    <option value="和歌山県">和歌山県</option>
                    <option value="鳥取県">鳥取県</option>
                    <option value="島根県">島根県</option>
                    <option value="岡山県">岡山県</option>
                    <option value="広島県">広島県</option>
                    <option value="山口県">山口県</option>
                    <option value="徳島県">徳島県</option>
                    <option value="香川県">香川県</option>
                    <option value="愛媛県">愛媛県</option>
                    <option value="高知県">高知県</option>
                    <option value="福岡県">福岡県</option>
                    <option value="佐賀県">佐賀県</option>
                    <option value="長崎県">長崎県</option>
                    <option value="熊本県">熊本県</option>
                    <option value="大分県">大分県</option>
                    <option value="宮崎県">宮崎県</option>
                    <option value="鹿児島県">鹿児島県</option>
                    <option value="沖縄県">沖縄県</option>
                    <option value="海外">海外</option>
                  </select>
                  <span class="<%= namespace %>-Form_Icon-select c-Form_Select-icon c-Icon_Chevron-down"></span>
                </div>

                <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp">市区町村以下</span></p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※集合住宅の場合は建物名、部屋番号まで記入してください</p>
                <input class="c-Form_Input u-Adjust_Mt-8 js-required" id="00N2v00000JLl9z" maxlength="255" name="00N2v00000JLl9z" size="20" type="text" placeholder="例：世田谷区玉川１−２−３ＲＡＫＵＴＥＮ光アパート２０２号室" />
              </dd>
            </div>

            <div>
              <dt class="<%= namespace %>-Form_Dt">
                <p>契約メールアドレス<span class="c-Form_List-required">必須</span></p>
              </dt>
              <dd class="<%= namespace %>-Form_Dd">
                <input class="c-Form_Input js-required" id="email" maxlength="80" name="email" size="20" type="text" placeholder="例：taro@rakuten.com" />
              </dd>
            </div>

            <div>
              <dt class="<%= namespace %>-Form_Dt">
                <p>連絡先電話番号<span class="c-Form_List-option">任意</span></p>
              </dt>
              <dd class="<%= namespace %>-Form_Dd">
                <input class="c-Form_Input" id="phone" maxlength="13" name="phone" size="20" type="text" placeholder="例）0312345678" />
                <p class="c-Txt_Normal-s u-Adjust_Mt-16">※契約者電話番号と連絡先電話番号が、異なる場合のみ入力してください。</p>
              </dd>
            </div>

            <div>
              <dt class="<%= namespace %>-Form_Dt">
                <p>お客様番号<span class="c-Form_List-option">任意</span></p>
              </dt>
              <dd class="<%= namespace %>-Form_Dd">
                <input class="c-Form_Input" id="00N2v00000JLlA2" maxlength="11" name="00N2v00000JLlA2" size="20" type="text" placeholder="例：20000000000もしくはC-10000000" /><br>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※お客様番号は200から始まる11桁の番号、もしくはC-から始まる10桁の番号です。<br>
                  ※複数のご契約がある場合には申請したいアカウントのお客様番号を記載してください。</p>
              </dd>
            </div>

          </dl>

          <dl class="c-Form_List u-Adjust_Mt-48">
              <h2 class="c-Heading_Lv2">お支払い情報</h2>
              <p class="u-Adjust_Mt-16">お支払い済みのコンビニ払込票に記載された内容を入力してください</p>
            <div class="u-Adjust_Mt-16">
              <dt class="<%= namespace %>-Form_Dt">
                <p>ご利用月<span class="c-Form_List-required">必須</span></p>
              </dt>
              <dd class="<%= namespace %>-Form_Dd">
                <input class="c-Form_Input js-required" id="00N2j000000bZcv" maxlength="255" name="00N2j000000bZcv" size="20" type="text" placeholder="例：2023年1月、2023年2月" />
                <p class="u-Adjust_Mt-8">複数枚の振込票でお支払いをいただいた場合は「、」で区切って入力してください</p>
            </dd>
            </div>

            <div>
              <dt class="<%= namespace %>-Form_Dt">
                <p>お支払い金額<span class="c-Form_List-required">必須</span></p>
              </dt>
              <dd class="<%= namespace %>-Form_Dd">
                <input class="c-Form_Input js-required" id="00N2j000000bZd0" maxlength="255" name="00N2j000000bZd0" size="20" type="text" placeholder="例）10000、10000" />
                <p class="u-Adjust_Mt-8">複数枚の振込票でお支払いをいただいた場合は「、」で区切って入力してください</p>
              </dd>
            </div>

            <div>
              <dt class="<%= namespace %>-Form_Dt">
                <p>お支払い日<span class="c-Form_List-required">必須</span></p>
              </dt>

              <dd class="<%= namespace %>-Form_Dd <%= namespace %>-Form_Dd-margin">
                <input id="00N2j000000bZd5" name="00N2j000000bZd5" class="c-Form_Input u-Adjust_Mb-16 js-Datepicker c-Form_Datepicker js-required" maxlength="" size="20" type="text" placeholder="選択してください" aria-required="true" data-validate="required" data-range="false" readonly>
                <span class="c-Icon_Calendar-l js-Datepicker_Btn c-Form_Datepicker_Btn"></span>
              </dd>
            </div>

            <div>
              <dt class="<%= namespace %>-Form_Dt">
                <p>お問い合わせ番号<span class="c-Form_List-option">任意</span></p>
              </dt>
              <dd class="<%= namespace %>-Form_Dd">
                <input class="c-Form_Input" id="00N2j000000bZde" maxlength="255" name="00N2j000000bZde" size="20" type="text" placeholder="例：20012345678" /><br>
                <p class="u-Adjust_Mt-8">コンビニ支払い用紙に記載されているお問い合わせ番号を入力してください<br>
                  複数枚の振込票でお支払いをいただいた場合は「、」で区切って入力してください</p>
              </dd>
            </div>
          </dl>

          <p class="u-Adjust_Align-center u-Adjust_Mt-48">
            <button id="js-hikari-restart-service_Confirm" class="c-Btn_Secondly-large"><span><span>入力内容を確認する</span><span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span></span></button>
          </p>

          <div id="modal-confirm" style="display:none;">
            <h2 class="c-Heading_Lv2 u-Adjust_Mb-24">入力内容の確認</h2>
            <dl id="js-hikari-restart-service_Confirm-content" class="<%= namespace %>-Form_Confirm-content c-Dl_Origin-compact">
              <div>
                <dt>ご契約者様 氏名</dt>
                <dd>
                  <span id="00N2v00000JLlAA-disp" class="u-Adjust_Txt-break u-Adjust_Mr-8"></span>
                  <span id="00N2v00000JLlA6-disp" class="u-Adjust_Txt-break u-Adjust_Mr-8"></span>
                </dd>
              </div>
              <div>
                <dt>契約者電話番号</dt>
                <dd><p id="00N2v00000LeaQe-disp" class="u-Adjust_Txt-break"></p></dd>
              </div>
              <div>
                <dt>契約者住所</dt>
                <dd>
                  <p id="00N2v00000JLlAI-disp" class="u-Adjust_Txt-break"></p>
                  <p id="00N2v00000JLlAb-disp" class="u-Adjust_Txt-break u-Adjust_Mt-8"></p>
                  <p id="00N2v00000JLl9z-disp" class="u-Adjust_Txt-break u-Adjust_Mt-8"></p>
                </dd>
              </div>
              <div>
                <dt>契約メールアドレス</dt>
                <dd><p id="email-disp" class="u-Adjust_Txt-break"></p></dd>
              </div>
              <div id="phone-row-disp">
                <dt>連絡先電話番号</dt>
                <dd><p id="phone-disp" class="u-Adjust_Txt-break"></p></dd>
              </div>
              <div id="00N2v00000JLlA2-row-disp">
                <dt>お客様番号</dt>
                <dd><p id="00N2v00000JLlA2-disp" class="u-Adjust_Txt-break"></p></dd>
              </div>
              </dl>
              <dl id="js-hikari-restart-service_Confirm-content-02" class="<%= namespace %>-Form_Confirm-content c-Dl_Origin-compact u-Adjust_Mt-24">
              <div>
                <dt>ご利用月</dt>
                <dd><p id="00N2j000000bZcv-disp" class="u-Adjust_Txt-break"></p></dd>
              </div>
              <div>
                <dt>お支払い金額</dt>
                <dd><p id="00N2j000000bZd0-disp" class="u-Adjust_Txt-break"></p></dd>
              </div>
              <div>
                <dt>お支払い日</dt>
                <dd><p id="00N2j000000bZd5-disp" class="u-Adjust_Txt-break"></p></dd>
              </div>
              <div id="00N2j000000bZde-row-disp">
                <dt>お問い合わせ番号</dt>
                <dd><p id="00N2j000000bZde-disp" class="u-Adjust_Txt-break"></p></dd>
              </div>
            </dl>
            <hr class="u-Adjust_Display-sp" style="border: none; background: #bfbfbf; height: 1px;">
            <div class="u-Adjust_Align-center u-Adjust_Mt-40">
              <button type="button" id="js-hikari-restart-service_Submit" class="c-Btn_Primary-large"><span><span>この内容で送信する</span><span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span></span></button>
            </div>
            <div class="u-Adjust_Align-center u-Adjust_Mt-24">
              <span id="js-hikari-restart-service_Confirm-close" style="cursor:pointer;margin: auto;" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-left-l"></span>修正する</span>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <footer class="g-Footer u-Adjust_Mt-64">
    <%- include('/include/_footer-simple') %>
  </footer>

</div>
<%- include('/include/hikari/_common-js', { jquery: '3.6.4' }) %>
<script src="<%= sitepath %>assets/js/hikari/form.common.index.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/hikari/form.restart-service.index.bundle.js?20240521"></script>
<!-- <script src="<%= sitepath %>assets/js/library/ajaxzip3.js" charset="UTF-8"></script>
<script>
  const triggerZip2addr = document.getElementsByClassName('js-hikari-inquiry_Zip2addr');
  triggerZip2addr[0].addEventListener('blur', function(e) {
    AjaxZip3.zip2addr('00N2v00000JLlAI','','00N2v00000JLlAb','00N2v00000JLl9z');
  })
</script> -->
<%- include('/include/_append-body') %>
</body>
</html>
