<% const pagetitle = "郵便局内の楽天モバイルショップを探す" -%>
<% const directories = [{path:"shop/", label:"ショップ"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '郵便局内に楽天モバイルショップがオープンしました。郵便局内で楽天モバイルのご契約できますので、是非ご利用ください。',
    noindex: true,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<%- include('/include/shop/_category-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System" id="js-result-top">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="shop-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
    <p class="u-Adjust_Mt-24">
      郵便局内で楽天モバイルがご契約できます。是非ご利用ください。<br>
      対象ショップは下記を参照ください。
    </p>
    <p class="u-Adjust_Mt-24">
      ご来店の際は、ネットでできる「来店予約」が便利です。<br>
      各ショップページの「Webで予約する」ボタンよりご予約ください。
    </p>
    <p class="u-Adjust_Mt-24 c-Txt_Emp-02">※一部店舗ではiPhoneのお取り扱いがございません。各ショップページよりご確認ください。</p>
    <h2 class="c-Txt_Normal-ll u-Adjust_Mt-48">郵便局内のショップ一覧</h2>
    <h3 class="c-Txt_Normal-l u-Adjust_Mt-16">お探しのエリアを選択する</h3>
    <div id="searchresult"></div>
    <a href="<%= sitepath %>shop/" class="c-Btn_Regular u-Adjust_Mt-48"><span>ショップトップへ</span></a>
    <div class="u-Adjust_Align-center u-Adjust_Mt-24">
      <a href="<%= sitepath %>shop/remote-shop-post-office/?l-id=shop_post-office_shop_remote-shop-post-office" class="c-Banner_Hover-act">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/shop/bnr-remote-shop-post-office-328-185-231006.png" width="656" height="370">
          <img src="<%= sitepath %>assets/img/shop/bnr-remote-shop-post-office-1032-160-231006.png" width="1032" height="160" alt="四国の対象郵便局にてビデオ通話でスマホの相談ができる楽天モバイルリモートショップ郵便局店">
        </picture>
      </a>
    </div>
  </div>
</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-shop-v2.ejs') %>

    <%#- include('/include/footer/bnr/bnr-shop.ejs') %>

    <%#- include('/faq/include/related-shop.ejs') %>
  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>


</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/shop.post.office.search.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
