<% const pagetitle = "OPPO A79 5G" -%>
<% const directory = "a79-5g" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/smartphone/", label:"Android"}] -%>
<% const namespace = "product-a79-5g" -%>
<% const theme = "Light" -%>
<% const point = 6000 -%>
<%# price-detail.ejsファイルに変数の説明の記載があります -%>
<%
  /*
    ストア遷移 → 'bundle'
    在庫あり → 'stock'
    在庫切れ → 'soldout'
    入荷待ち → 'backorder'
  */
  const bundleFlag = 'bundle';
  const exid = 600884;
-%>
<% const priceDetailConfig = {
    bundleFlag: bundleFlag,
    theme: theme,
    price: 33800,
    pointBackPrice: point,
    division24: 1408,
    division48: 704,
    division48last: 712,
    tradeinProductName: 'OPPO A73',
    optionPattern: 'one-option',
    maxTradeinPrice: 2850,
    lid: directory,
    capacity: 64,
    pointAppealBtnCapNo: 5,
    carrier: '楽天モバイル',
    applyPoint: 6000,
    firstTimeApplyPoint: 6000,
    applicationFromWebPoint: 0,
    trakingId: 'a79-5g',
    exid: exid,
    btnLabel: 'OPPO A79 5G を予約注文する',
  }
-%>
<% const relatedAccessoryConf = {
    namespace,
    directory,
    relatedAccessory: [
      {
        title: 'OwltechAC充電器（20W）',
        url: `product/accessory/owltech-apd20c1a1bk/?l-id=product_${directory}_owltech-apd20c1a1bk`,
        image: 'assets/img/accessory/owltech-apd20c1a1bk/pht-accessory-00.png',
        price: '2,618'
      },
      {
        title: 'USB Type-A to Type-C シリコンケーブル 1m（ブラック/ホワイト）',
        url: `product/accessory/owltech-owlcbsac10bk/?l-id=product_${directory}_owltech-owlcbsac10bk`,
        image: 'assets/img/accessory/owltech-owlcbsac10bk/pht-accessory-00.png',
        price: '1,080'
      },
      {
        title: 'USB Type-C to Type-C シリコンケーブル 2m（ブラック）',
        url: `product/accessory/mot-scbccg200-bk/?l-id=product_${directory}_mot-scbccg200-bk`,
        image: 'assets/img/accessory/mot-scbccg200-bk/pht-accessory-00.png',
        price: '1,480'
      },
      {
        title: 'USB Type-A to Type-C シリコンケーブル 2m（ブラック/ホワイト）',
        url: `product/accessory/mot-scbacg200-bk/?l-id=product_${directory}_mot-scbacg200-bk`,
        image: 'assets/img/accessory/mot-scbacg200-bk/pht-accessory-00.png',
        price: '1,280'
      },
    ]
  }
-%>
<%
  const NavItems = [
    {label: '価格', href: 'price'},
    {label: '関連アクセサリ', href: 'accessory'},
    {label: '特長', href: 'feature'},
    {label: 'スペック', href: 'spec'}
  ]
-%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: "OPPO A79 5G（オッポ）の価格・特徴・スペックの確認と購入はこちら。最大12,000ポイント還元※も！オンライン簡単手続きが便利！※初めて申込等条件あり",
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<%- include('/include/product/_category-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/inc/i-product-head.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/<%= directory %>/product-<%= directory %>.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/product/_history-css') %>
<%- include('/include/_append-head') %>
<%_ if (bundleFlag !== true) { _%>
  <script>
    const urlList = {
      'ecruWhite_sim_warranty': '/',
      'ecruWhite_sim_nowarranty': '/',
      'ecruWhite_nosim_warranty': '/',
      'ecruWhite_nosim_nowarranty': '/',
      'black_sim_warranty': '/',
      'black_sim_nowarranty': '/',
      'black_nosim_warranty': '/',
      'black_nosim_nowarranty': '',
    }
  </script>
<%_ } _%>
</head>
<body>
  <%- include('/include/_prepend-body') %>

  <div class="l-System">
    <%- include('/include/_header') %>
    <%- include('/include/_breadcrumbs', {
      type: 'head',
      pagetitle,
      directories,
    }) %>
    <div id="js-header-nav-dummy"></div>
    <%- include('/include/product/smartphone/_nav-follow-btn', {pagetitle, NavItems, directory, exid, btnLabel: '購入する', }) %>
    <div class="product-detail-Layout_Hero-with-bnr <%= namespace %>_Hero">
      <div class="l-System_Container u-Adjust_Pt-16">
        <%- include('/include/product/bnr/_product-head-bnr-7', {
          lid: 'product_smartphone_' + directory + '_campaign_start-point',
          isDark: false,
          isShow: true,
      }) _%>

        <section class="product-detail-Hero">
          <div class="product-detail-Hero_Data">
            <div>
              <h1 class="co-Heading_Lv1 product-detail-Hero_Name"><img src="<%= sitepath %>assets/img/product/<%= directory %>/logo.svg" alt="<%= pagetitle %>"></h1>
              <p class="product-detail-Hero_Maker">OPPO</p>
              <p class="product-detail-Hero_Copy">「選んでよかった」を、しっかり搭載。</p>
              <div class="product-detail-Utility_Show-pc">
                <div class="u-Adjust_Mt-8">
                  <%_ if (bundleFlag === 'bundle') { _%>
                  <div class="u-Adjust_Align-center <%= bundleFlag %>">
                    <a href="<%= onboardingpath2 %>equipment-details?exid=<%= exid %>&selectAvailable=true" class="c-Btn_Primary-large" data-ratid="product_detail-page_order-button-1_bss" data-ratevent="click" data-ratparam="all">購入する</a>
                  </div>
                  <%_ } else if(bundleFlag === 'stock') { _%>
                  <div class="u-Adjust_Align-center"><a class="c-Btn_Primary-large">購入する</a></div>
                  <%_ } else if(bundleFlag === 'soldout') { _%>
                  <div class="u-Adjust_Align-center"><a class="c-Btn_Primary-large" aria-disabled="true">2月15日発売予定</a></div>
                  <%_ } else if(bundleFlag === 'backorder') { _%>
                  <div class="u-Adjust_Align-center"><a class="c-Btn_Primary-large" aria-disabled="true">現在入荷待ち</a></div>
                  <%_ } else if(bundleFlag === 'reserve') { _%>
                  <p class="c-Txt_Emp-02 c-Txt_Normal-m u-Adjust_Align-center">予約注文受付中、2月15日発売予定</p>
                  <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                    <a href="<%= onboardingpath2 %>equipment-details?exid=<%= exid %>&selectAvailable=true" class="c-Btn_Primary-large" data-ratid="product_detail-page_order-button-1_bss" data-ratevent="click" data-ratparam="all">
                      <%_ if (typeof btnLabel !== 'undefined') { _%><%= btnLabel %><%_ } else { _%>OPPO A79 5G を予約注文する<%_ } _%>
                    </a>
                  </div>
                  <%_ } _%>
                  <p class="u-Adjust_Mt-24  u-Adjust_Align-center <%= namespace %>_Icon-front">
                    <span class="<%= namespace %>_Icon-front-icon"></span>
                    <a href="<%= sitepath %>guide/application-support/?l-id=product_smartphone_a79-5g_guide_application-support" class="c-Link_Txt-inline">オペレーターと相談しながらお申し込み！詳細はこちら<span class="c-Icon_Chevron-right"></span></a>
                  </p>
                  <p class="u-Adjust_Mt-16">
                    OPPO A79 5GについてはWeb及び一部の楽天モバイル店舗で購入可能です。
                  </p>
                  <div class="u-Adjust_Mt-8">
                    <a href="#shop-list" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>購入可能店舗はこちら</a>
                  </div>
                  <p class="u-Adjust_Mt-16 c-Txt_Cap u-Adjust_Align-center">
                    ※ 5G通信は対応エリアでご利用可能です。
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="product-detail-Hero_Main u-Adjust_Mt-0">
            <ul class="product-detail-Hero_Main-device c-Carousel js-main1 js-device" aria-hidden="false">
              <li><img src="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-00.png" alt=""></li>
              <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-01.png" alt=""></li>
              <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-02.png" alt=""></li>
              <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-03.png" alt=""></li>
              <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-04.png" alt=""></li>
            </ul>
            <ul class="product-detail-Hero_Main-device c-Carousel js-main2 js-device" aria-hidden="true">
              <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-05.png" alt=""></li>
              <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-06.png" alt=""></li>
              <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-07.png" alt=""></li>
              <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-08.png" alt=""></li>
              <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-09.png" alt=""></li>
            </ul>
            <ul class="product-detail-Hero_Main-color product-detail-Theme_<%= theme %>-color">
              <li class="js-color js-color1" aria-current="true" data-ratevent="click" data-ratparam="all" data-ratid="a79-5g_color-01"><span style="background:#AFDBD1"></span></li>
              <li class="js-color js-color2" aria-current="false" data-ratevent="click" data-ratparam="all" data-ratid="a79-5g_color-02"><span style="background:#66676C"></span></li>
            </ul>
            <ul class="product-detail-Hero_Main-thumbnail c-Carousel js-thumbnail1 js-device" aria-hidden="false">
              <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-00.png" alt="" data-ratevent="click" data-ratparam="all" data-ratid="a79-5g_color-01_thumbnail-01"></li>
              <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-01.png" alt="" data-ratevent="click" data-ratparam="all" data-ratid="a79-5g_color-01_thumbnail-02"></li>
              <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-02.png" alt="" data-ratevent="click" data-ratparam="all" data-ratid="a79-5g_color-01_thumbnail-03"></li>
              <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-03.png" alt="" data-ratevent="click" data-ratparam="all" data-ratid="a79-5g_color-01_thumbnail-04"></li>
              <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-04.png" alt="" data-ratevent="click" data-ratparam="all" data-ratid="a79-5g_color-01_thumbnail-05"></li>
            </ul>
            <ul class="product-detail-Hero_Main-thumbnail c-Carousel js-thumbnail2 js-device" aria-hidden="true">
              <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-05.png" alt="" data-ratevent="click" data-ratparam="all" data-ratid="a79-5g_color-02_thumbnail-01"></li>
              <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-06.png" alt="" data-ratevent="click" data-ratparam="all" data-ratid="a79-5g_color-02_thumbnail-02"></li>
              <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-07.png" alt="" data-ratevent="click" data-ratparam="all" data-ratid="a79-5g_color-02_thumbnail-03"></li>
              <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-08.png" alt="" data-ratevent="click" data-ratparam="all" data-ratid="a79-5g_color-02_thumbnail-04"></li>
              <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-09.png" alt="" data-ratevent="click" data-ratparam="all" data-ratid="a79-5g_color-02_thumbnail-05"></li>
            </ul>
          </div>
        </section>

        <div class="product-detail-Hero_Show-sp product-detail-Utility_Show-sp u-Adjust_Mt-24">
          <div class="product-detail-Utility_Show-sp">
            <div class="u-Adjust_Mt-16">
              <%_ if (bundleFlag === 'bundle') { _%>
              <div class="u-Adjust_Align-center <%= bundleFlag %>">
                <a href="<%= onboardingpath2 %>equipment-details?exid=<%= exid %>&selectAvailable=true" class="c-Btn_Primary-large" data-ratid="product_detail-page_order-button-1_bss" data-ratevent="click" data-ratparam="all">購入する</a>
              </div>
              <%_ } else if(bundleFlag === 'stock') { _%>
              <div class="u-Adjust_Align-center"><a class="c-Btn_Primary-large">購入する</a></div>
              <%_ } else if(bundleFlag === 'soldout') { _%>
              <div class="u-Adjust_Align-center"><a class="c-Btn_Primary-large" aria-disabled="true">2月15日発売予定</a></div>
              <%_ } else if(bundleFlag === 'backorder') { _%>
              <div class="u-Adjust_Align-center"><a class="c-Btn_Primary-large" aria-disabled="true">現在入荷待ち</a></div>
              <%_ } else if(bundleFlag === 'reserve') { _%>
              <p class="c-Txt_Emp-02 u-Adjust_Align-center u-Adjust_Mt-24">
                予約注文受付中<br>
                2月15日発売予定</p>
              <div class="u-Adjust_Align-center u-Adjust_Mt-8">
                <a href="<%= onboardingpath2 %>equipment-details?exid=<%= exid %>&selectAvailable=true" class="c-Btn_Primary-large" data-ratid="product_detail-page_order-button-1_bss" data-ratevent="click" data-ratparam="all">
                  <%_ if (typeof btnLabel !== 'undefined') { _%><%= btnLabel %><%_ } else { _%>OPPO A79 5G を予約注文する<%_ } _%>
                </a>
              </div>
              <%_ } _%>

              <p class="u-Adjust_Mt-24  u-Adjust_Align-center <%= namespace %>_Icon-front">
                <span class="<%= namespace %>_Icon-front-icon"></span>
                <a href="<%= sitepath %>guide/application-support/?l-id=product_smartphone_a79-5g_guide_application-support" class="c-Link_Txt-inline">オペレーターと相談しながらお申し込み！詳細はこちら<span class="c-Icon_Chevron-right"></span></a>
              </p>
              <p class="u-Adjust_Mt-16">
                OPPO A79 5GについてはWeb及び一部の楽天モバイル店舗で購入可能です。
              </p>
              <div class="u-Adjust_Mt-8">
                <a href="#shop-list" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>購入可能店舗はこちら</a>
              </div>
              <p class="u-Adjust_Mt-16 c-Txt_Cap u-Adjust_Align-center">
                ※ 5G通信は対応エリアでご利用可能です。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="<%= namespace %>_Main">
      <div class="product-detail-Price product-detail-Theme_<%= theme %>-price">
        <%- include('/include/product/smartphone/_price-detail-basic', {priceDetailConfig, bundleFlag}) %>
        <div class="l-System_Container u-Adjust_Mt-32">
          <p class="u-Adjust_Align-center c-Txt_Emp-01" style="font-size: 18px;">【ご購入前にご確認ください】</p>
          <ul class="c-List_Text-disc u-Adjust_Mt-16">
            <li>購入手続き後、当社で審査を実施し、完了をもって購入契約成立となります。ただし、当社所定の条件に該当する場合、注文キャンセルとなる可能性がございます。キャンセルの際は、登録メールアドレス宛にご連絡します。</li>
            <li><span class="c-Txt_Emp-02">充電器・ケーブルは別売りとなっております。</span>「購入する」ボタンを押下後、製品をカートに追加する際に、必要なアクセサリも同時にご購入ください。アクセサリの詳細は「関連アクセサリ」からご確認ください。</li>
          </ul>
        </div>
        <div id="accessory">
          <%- include('/include/product/_related-carousel', { relatedAccessoryConf }) _%>
        </div>
        <%- include('/include/product/smartphone/_price-detail-notes') _%>
      </div>

      <div class="<%= namespace %>_Bg <%= namespace %>_Sub-other">
        <div class="l-System_Container">
          <div class="product-detail-Spec">
            <ul class="product-detail-Spec_<%= theme %>">
              <li aria-current="true"><span class="c-Icon_Product-waterproof"></span>防水</li>
              <li aria-current="true"><span class="c-Icon_Product-price-yen"></span>おサイフ<br>ケータイ</li>
              <li aria-current="true"><span class="c-Icon_Product-hi-res"></span>ハイレゾ<br>オーディオ</li>
              <li aria-current="true"><span class="c-Icon_Product-faceid"></span>顔認証</li>
              <li aria-current="true"><span class="c-Icon_Product-finger"></span>指紋認証</li>
              <li aria-current="false"><span class="c-Icon_Product-charger"></span>ワイヤレス<br>充電</li>
              <li aria-current="true"><span class="c-Icon_Product-connection"></span>高速通信</li>
            </ul>
          </div>
          <section id="feature" class="product-detail-Layout_Section">
            <h2 class="c-Heading_Lv2-rich" data-ratid="a79-5g_scroll-03_feature" data-ratevent="appear">特長</h2>
            <ul class="product-detail-Catch <%= namespace %>_Catch">
              <li><a href="#feature1" class="js-scroll" data-ratevent="click" data-ratparam="all" data-ratid="a79-5g_feature-anchor-01"><span class="c-Icon_Arrow-down-l <%= namespace %>_Catch-icon"></span><span class="product-detail-Catch_Txt">うれしい大画面と<br>立体ステレオサウンド</span></a></li>
              <li><a href="#feature2" class="js-scroll" data-ratevent="click" data-ratparam="all" data-ratid="a79-5g_feature-anchor-02"><span class="c-Icon_Arrow-down-l <%= namespace %>_Catch-icon"></span><span class="product-detail-Catch_Txt">頼れる急速充電と<br>大容量バッテリー</span></a></li>
              <li><a href="#feature3" class="js-scroll" data-ratevent="click" data-ratparam="all" data-ratid="a79-5g_feature-anchor-03"><span class="c-Icon_Arrow-down-l <%= namespace %>_Catch-icon"></span><span class="product-detail-Catch_Txt">スリムボディに<br>便利機能をもれなく搭載</span></a></li>
            </ul>
            <ul class="u-Adjust_Mt-32 <%= namespace %>_Layout-ancher">
              <li><a data-ratid="<%= directory %>_spec-anchor" data-ratevent="click" data-ratparam="all" href="#other" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>その他の特長を見る</a></li>
              <li><a data-ratid="<%= directory %>_spec-anchor" data-ratevent="click" data-ratparam="all" href="#about" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>OPPOとは</a></li>
            </ul>
            <section class="product-detail-Feature" id="feature1">
              <h3 class="c-Heading_Lv3">うれしい大画面と立体ステレオサウンド</h3>
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/main-image-01.png" alt="" width="1032" height="386" loading="lazy"></figure>
              <p class="product-detail-Feature_Txt">
                リアルで鮮明な色彩を表現する約6.7インチの大型高精細ディスプレイ。明るく美しい画面は日光の下でも細部までしっかり見やすく、夜は目に優しい、90Hz駆動の高精細フルHD+ディスプレイです。音楽も映画も立体感のあるサウンドでコンテンツを楽しめるステレオスピーカー。イヤホンを使えばハイレゾ音源<span class="c-Txt_Cap">※1</span>にも対応します。
              </p>
              <p class="c-Txt_Cap u-Adjust_Mt-16">※1 ハイレゾ対応の有線イヤホン、もしくはワイヤレスイヤホン使用時。</p>
            </section>
            <section class="product-detail-Feature" id="feature2">
              <h3 class="c-Heading_Lv3">頼れる急速充電と大容量バッテリー</h3>
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/main-image-02.png" alt="" width="1032" height="386" loading="lazy"></figure>
              <p class="product-detail-Feature_Txt">
                朝出かける前やコーヒータイムなど、ちょっとしたスキマ時間に効率よく充電できます<span class="c-Txt_Cap">※2</span> 。<br>
                動画再生なら約12時間、音楽再生なら約32時間<span class="c-Txt_Cap">※3</span>。頼れる5,000mAh大容量バッテリーは、安心の長時間駆動です。
              </p>
              <p class="c-Txt_Cap u-Adjust_Mt-16">
                ※2 急速充電は33W SUPERVOOC™と33W PPSに対応。約30分で50%まで充電できます（OPPO調べ）。充電器は別売りです。急速充電対応充電器が必要になります。SUPERVOOCのワードマークとロゴは、Guangdong OPPO Mobile Telecommunications Corp., Ltd.が所有する商標です。<br>
                ※3 OPPO実験室で収集されたデータに基づいています。お客様の使用状況や使用環境によって異なります。
              </p>
            </section>
            <section class="product-detail-Feature" id="feature3">
              <h3 class="c-Heading_Lv3">スリムボディに便利機能をもれなく搭載</h3>
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/main-image-03.png" alt="" width="1032" height="386" loading="lazy"></figure>
              <p class="product-detail-Feature_Txt">エレガントなミステリーブラック、軽やかな質感を演出したグローグリーン。持ちやすさにこだわった8mmの薄型デザインに日常的によく使う便利な機能を搭載しました。</p>
            </section>
          </section>

          <div class="product-detail-Layout_Sub">
            <div class="<%= namespace %>_Sub">
              <h2 id="other" class="c-Heading_Lv3">その他の特長</h2>
              <section class="<%= namespace %>_Sub-section u-Adjust_Mt-24">
                <h3 class="c-Heading_Lv4 <%= namespace %>_Sub-section-heading" data-ratid="a79-5_scroll-04_feature" data-ratevent="appear">支払いも行政手続きもスマホひとつで完結</h3>
                <div class="<%= namespace %>_Sub-section-img">
                  <figure><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-01.png" alt="" width="720" height="488" loading="lazy"></figure>
                </div>
                <div class="<%= namespace %>_Sub-section-txt">
                  <p>おサイフケータイ®やマイナンバーカード機能<span class="c-Txt_Cap">※4</span>に対応しているので、電子決済や各種行政手続きがスマホで完結。たとえば住民票などの証明書がコンビニで受け取れます。</p>
                  <p class="u-Adjust_Mt-16 c-Txt_Cap">※4 スマホ用電子証明書機能対応。詳しくは<a href="https://www.digital.go.jp/policies/mynumber/smartphone-certification/" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">デジタル庁のウェブサイト<span class="c-Icon_New-window-l"></span></a>をご覧ください。</p>
                </div>
              </section>
              <section class="<%= namespace %>_Sub-section">
                <h3 class="c-Heading_Lv4 <%= namespace %>_Sub-section-heading">最大8GBまでのRAM拡張に対応</h3>
                <div class="<%= namespace %>_Sub-section-img">
                  <figure><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-02.png" alt="" width="720" height="488" loading="lazy"></figure>
                </div>
                <div class="<%= namespace %>_Sub-section-txt">
                  <p>最大8GB相当までRAM拡張可能<span class="c-Txt_Cap">※5</span>な4GBメモリは、毎日のスマホ操作もスムーズに行えます。RAMを拡張すれば、アプリの起動から読み込みまで、より速く、よりスムーズな操作感を提供します。</p>
                  <p class="u-Adjust_Mt-16 c-Txt_Cap">※5 ストレージ(ROM)の空き容量が十分確保されている場合、その一部を使用してRAMを拡張できます。ROMの一部を使用するため、応答速度はRAMの速度と異なります。</p>
                </div>
              </section>
              <section class="<%= namespace %>_Sub-section">
                <h3 class="c-Heading_Lv4 <%= namespace %>_Sub-section-heading">サクサク操作感が長持ち</h3>
                <div class="<%= namespace %>_Sub-section-img">
                  <figure><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-03.png" alt="" width="720" height="488" loading="lazy"></figure>
                </div>
                <div class="<%= namespace %>_Sub-section-txt">
                  <p>消費電力を抑制してアプリ動作を安定させるOPPO独自のDCE技術と、36ヶ月<span class="c-Txt_Cap">※6</span>システム劣化防止機能を搭載しました。</p>
                  <p class="u-Adjust_Mt-16 c-Txt_Cap">※6 製品説明に用いられている数値はOPPO実験室で収集されたデータに基づいています。お客様の使用状況や使用環境によって異なります。</p>
                </div>
              </section>
              <section class="<%= namespace %>_Sub-section">
                <h3 class="c-Heading_Lv4 <%= namespace %>_Sub-section-heading">鮮明に撮れるから、いろいろ便利</h3>
                <div class="<%= namespace %>_Sub-section-img">
                  <figure><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-04.png" alt="" width="720" height="488" loading="lazy"></figure>
                </div>
                <div class="<%= namespace %>_Sub-section-txt">
                  <p>5,000万画素の高解像度カメラなので、風景などの撮影以外に書類等も細かい文字までクリアに撮影できます。</p>
                </div>
              </section>
              <section class="<%= namespace %>_Sub-section">
                <h3 class="c-Heading_Lv4 <%= namespace %>_Sub-section-heading">AIビューティーでいつでも高画質のセルフィーを</h3>
                <div class="<%= namespace %>_Sub-section-img">
                  <figure><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-05.png" alt="" width="720" height="488" loading="lazy"></figure>
                </div>
                <div class="<%= namespace %>_Sub-section-txt">
                  <p>
                    起動すると被写体に合わせて自動補正。<br>
                    パーツ毎に補正レベルを調整でき、簡単に自然な補正ができます。
                  </p>
                </div>
              </section>
              <section class="<%= namespace %>_Sub-section">
                <h3 class="c-Heading_Lv4 <%= namespace %>_Sub-section-heading">まるで一眼レフカメラのようなポートレートモード</h3>
                <div class="<%= namespace %>_Sub-section-img">
                  <figure><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-06.png" alt="" width="720" height="488" loading="lazy"></figure>
                </div>
                <div class="<%= namespace %>_Sub-section-txt">
                  <p>200万画素の深度カメラを搭載しているので、ポートレートモードを使えば、まるで一眼レフカメラで撮影したかのような、被写体を引き立てる自然なボケ感を表現できます。</p>
                </div>
              </section>
              <section class="<%= namespace %>_Sub-section">
                <h3 class="c-Heading_Lv4 <%= namespace %>_Sub-section-heading">MediaTek Dimensity 6020で安定した操作感</h3>
                <div class="<%= namespace %>_Sub-section-img">
                  <figure><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-07.png" alt="" width="720" height="488" loading="lazy"></figure>
                </div>
                <div class="<%= namespace %>_Sub-section-txt">
                  <p>オクタコアプロセッサーが安定した操作感とバッテリーの長時間駆動を実現しました。</p>
                </div>
              </section>
              <section class="<%= namespace %>_Sub-section">
                <h3 class="c-Heading_Lv4 <%= namespace %>_Sub-section-heading">快適な生体認証</h3>
                <div class="<%= namespace %>_Sub-section-img">
                  <figure><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-08.png" alt="" width="720" height="488" loading="lazy"></figure>
                </div>
                <div class="<%= namespace %>_Sub-section-txt">
                  <p>マスクのままでも瞬時にロック解除ができる顔認証機能を搭載。側面の電源ボタンと一体化した指紋認証機能と併用すれば、便利に使い分けできます。</p>
                </div>
              </section>
              <section class="<%= namespace %>_Sub-section">
                <h3 class="c-Heading_Lv4 <%= namespace %>_Sub-section-heading">シンプルモード</h3>
                <div class="<%= namespace %>_Sub-section-img">
                  <figure><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-09.png" alt="" width="720" height="488" loading="lazy"></figure>
                </div>
                <div class="<%= namespace %>_Sub-section-txt">
                  <p>シンプルでスマホ初心者にも操作しやすいシンプルモード搭載。大きなアイコンや文字に変更できます。</p>
                </div>
              </section>
              <section class="<%= namespace %>_Sub-section">
                <h3 class="c-Heading_Lv4 <%= namespace %>_Sub-section-heading">データ移行もかんたん</h3>
                <div class="<%= namespace %>_Sub-section-img">
                  <figure><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-10.png" alt="" width="720" height="488" loading="lazy"></figure>
                </div>
                <div class="<%= namespace %>_Sub-section-txt">
                  <p>アプリを使って引き継ぎたい項目を選ぶだけで、かんたんに移行先のスマホにデータを移すことができます。<span class="c-Txt_Cap">※7</span></p>
                  <p class="u-Adjust_Mt-16 c-Txt_Cap">※7 Android端末からは写真、連絡先、アプリ、音楽、動画などのデータを移行できます。アプリ内のデータは移行されません。Android端末にデータ移行アプリ（Android 6.0以降に対応）をインストールして移行作業を行います。iPhoneからは、連絡先と写真、動画データが移行できます。iPhoneにデータ移行アプリ（iOS10.0以降に対応）をインストールして移行作業を行います。</p>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <div class="product-detail-Layout_Sub">
        <div class="l-System_Container">
          <h2 id="about" class="c-Heading_Lv3" data-ratid="a79-5_scroll-05_feature" data-ratevent="appear">OPPOとは</h2>
          <section class="<%= namespace %>_Sub-about u-Adjust_Mt-pc-24">
            <h3 class="c-Heading_Lv4 <%= namespace %>_Sub-about-heading">グローバルなスマホブランド</h3>
            <div class="<%= namespace %>_Sub-about-img">
              <figure><img src="<%= sitepath %>assets/img/product/<%= directory %>/about-01.png" alt="" width="504" height="189" loading="lazy"></figure>
            </div>
            <div class="<%= namespace %>_Sub-about-txt">
              <p>OPPOは海外市場の開拓を続けており、現在は60以上の国と地域の市場をカバーしています。2022年スマートフォン出荷台数シェアで世界4位にランクインしました。<span class="c-Txt_Cap">※8</span></p>
              <p class="u-Adjust_Mt-16 c-Txt_Cap">※8 Smartphone Shipments Suffer the Largest-Ever Decline with 18.3% Drop in the Holiday Quarter and a 11.3% Decline in 2022, According to IDC Tracker</p>
            </div>
          </section>
          <section class="<%= namespace %>_Sub-about">
            <h3 class="c-Heading_Lv4 <%= namespace %>_Sub-about-heading">世界中で信頼されています</h3>
            <div class="<%= namespace %>_Sub-about-img">
              <figure><img src="<%= sitepath %>assets/img/product/<%= directory %>/about-02.png" alt="" width="504" height="189" loading="lazy"></figure>
            </div>
            <div class="<%= namespace %>_Sub-about-txt">
              <p>技術に裏打ちされた高い品質が支持され、世界中で6億人以上の人々が使用しています。<span class="c-Txt_Cap">※9</span></p>
              <p class="u-Adjust_Mt-16 c-Txt_Cap">※9 OPPOリサーチセンター調べ2023年11月時点</p>
            </div>
          </section>
          <section class="<%= namespace %>_Sub-about">
            <h3 class="c-Heading_Lv4 <%= namespace %>_Sub-about-heading">徹底した品質管理</h3>
            <div class="<%= namespace %>_Sub-about-img">
              <figure><img src="<%= sitepath %>assets/img/product/<%= directory %>/about-03.png" alt="" width="504" height="189" loading="lazy"></figure>
            </div>
            <div class="<%= namespace %>_Sub-about-txt">
              <p>最高のユーザー体験を提供するため、OPPOが培ってきた知識と経験に基づいた様々な検査項目を設定し、徹底した品質検査を行っています。</p>
            </div>
          </section>
          <section class="<%= namespace %>_Sub-about">
            <h3 class="c-Heading_Lv4 <%= namespace %>_Sub-about-heading">総出願件数90,000件以上<span class="c-Txt_Cap">※10</span></h3>
            <div class="<%= namespace %>_Sub-about-img">
              <figure><img src="<%= sitepath %>assets/img/product/<%= directory %>/about-04.png" alt="" width="504" height="189" loading="lazy"></figure>
            </div>
            <div class="<%= namespace %>_Sub-about-txt">
              <p>2022年、国際特許出願件数（PCT制度）で企業別6位<span class="c-Txt_Cap">※11</span>にランクインしました。</p>
              <ul class="u-Adjust_Mt-16 c-Txt_Cap">
                <li>※10 OPPOリサーチセンター調べ 2023年4月7日時点</li>
                <li>※11 世界知的所有権機関(WIPO)の2022年特許協力条約に基づく国際特許出願レポートによる</li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </div>

    <div class="product-detail-Layout_Other">
      <div class="l-System_Container">
        <%- include('/include/product/_compensation') %>
        <section class="product-detail-Layout_Section" id="spec">
          <h2 class="c-Heading_Lv2" data-ratid="a79-5g_scroll-06_spec" data-ratevent="appear">スペック</h2>
          <div id="js-spec-list"><%#
            vue rendering area
            - src/vue/product/smartphone/spec/SpecDtList.vue
            - src/csv/spec-oppo-a79-5g.csv _%>
          </div>
          <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>product/smartphone/<%= directory %>/spec.html?l-id=product_a79-5g_spec_a79-5g" class="c-Link_Txt-inline-icon">スペック詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
          <div class="u-Adjust_Mt-32">
            <%_ if (bundleFlag === 'bundle') { _%>
            <div class="u-Adjust_Align-center <%= bundleFlag %>">
              <a href="<%= onboardingpath2 %>equipment-details?exid=<%= exid %>&selectAvailable=true" class="c-Btn_Primary-large" data-ratid="product_detail-page_order-button-3_bss" data-ratevent="click" data-ratparam="all">購入する</a>
            </div>
            <%_ } else if(bundleFlag === 'stock') { _%>
            <div class="u-Adjust_Align-center"><a class="c-Btn_Primary-large">購入する</a></div>
            <%_ } else if(bundleFlag === 'soldout') { _%>
            <div class="u-Adjust_Align-center"><a class="c-Btn_Primary-large" aria-disabled="true">2月15日発売予定</a></div>
            <%_ } else if(bundleFlag === 'backorder') { _%>
            <div class="u-Adjust_Align-center"><a class="c-Btn_Primary-large" aria-disabled="true">現在入荷待ち</a></div>
            <%_ } else if(bundleFlag === 'reserve') { _%>
            <div class="u-Adjust_Align-center u-Adjust_Mt-8">
              <a href="<%= onboardingpath2 %>equipment-details?exid=<%= exid %>&selectAvailable=true" class="c-Btn_Primary-large" data-ratid="product_detail-page_order-button-3_bss" data-ratevent="click" data-ratparam="all">
                <%_ if (typeof btnLabel !== 'undefined') { _%><%= btnLabel %><%_ } else { _%>OPPO A79 5G を予約注文する<%_ } _%>
              </a>
            </div>
            <%_ } _%>
            <p class="u-Adjust_Mt-24  u-Adjust_Align-center <%= namespace %>_Icon-front">
              <span class="<%= namespace %>_Icon-front-icon"></span>
              <a href="<%= sitepath %>guide/application-support/?l-id=product_smartphone_a79-5g_guide_application-support" class="c-Link_Txt-inline">オペレーターと相談しながらお申し込み！詳細はこちら<span class="c-Icon_Chevron-right"></span></a>
            </p>
          </div>
        </section>

        <section id="shop-list" class="u-Adjust_Pt-64">
          <h3 class="c-Heading_Lv3">購入可能店舗</h3>
          <p class="u-Adjust_Mt-16">OPPO A79 5GについてはWeb及び以下の楽天モバイル店舗のみで購入可能です。</p>
          <dl class="c-Dl u-Adjust_Mt-16">
            <div><dt><span class="c-Txt_Emp-01 c-Txt_Normal">北海道・東北</span></dt><dd>イオンモール盛岡南店、イオンモール新利府南館店</dd></div>
            <div><dt><span class="c-Txt_Emp-01 c-Txt_Normal">関東</span></dt><dd>宇都宮インターパークビレッジ店、ユニモちはら台店、蒲田店、イオンモール座間店、イオンモール白山店、ミスターマックス湘南藤沢店、イオンモール東久留米店、武蔵小杉グランツリー店、中野サンモール店、ららぽーと横浜店、ニッケコルトンプラザ市川店、吉祥寺駅前店、イオンタウン千種店、横浜ジョイナス店、モラージュ菖蒲店、所沢プロペ通り店、イオンモール八千代緑が丘店、光が丘IMA店、新百合丘オーパ店、赤羽店、アリオ北砂店、イオンモール土浦店、トレッサ横浜店、溝の口店、イオンモール北戸田店、川越クレアモール店、イオンモール春日部店、アリオ西新井店、レイクタウンmori店、川崎ゼロゲート店、池袋東口店、二子玉川店、イオンモール幕張新都心店、松戸店</dd></div>
            <div><dt><span class="c-Txt_Emp-01 c-Txt_Normal">甲信越・北陸</span></dt><dd>イオンモール高岡店、ファボーレ店</dd></div>
            <div><dt><span class="c-Txt_Emp-01 c-Txt_Normal">東海</span></dt><dd>イオンモール浜松市野店、イオンモール新瑞橋店、イオンモールナゴヤドーム前店、ららぽーと名古屋みなとアクルス店、名古屋ユニモール店、イオンモール東浦店</dd></div>
            <div><dt><span class="c-Txt_Emp-01 c-Txt_Normal">関西</span></dt><dd>ピエリ守山店、イオンモール草津店、神戸ハーバーランドumie店、イオンモール大日店、アリオ加古川店、アリオ鳳店、ららぽーと甲子園店、イオンモール神戸北店、アリオ八尾店、神戸三宮センタープラザ店、イオンモール茨木店、ららぽーとEXPOCITY店、イオンモール鶴見緑地店、イオンモール堺鉄砲町店</dd></div>
            <div><dt><span class="c-Txt_Emp-01 c-Txt_Normal">中国・四国</span></dt><dd>ゆめタウン広島店、イオンモール広島祇園店、ゆめタウン廿日市店、イオンモール倉敷店</dd></div>
            <div><dt><span class="c-Txt_Emp-01 c-Txt_Normal">九州・沖縄</span></dt><dd>セントシティ北九州小倉店、イオンモール福岡店、イオンモール八幡東店、福岡天神西通り店</dd></div>
          </dl>
          <div class="u-Adjust_Mt-24">
            <a href="<%= sitepath %>shop/?l-id=product_smartphone_a79-5g_shop#shop" class="c-Link_Txt-inline">お近くのショップ（店舗）を探す<span class="c-Icon_Chevron-right"></span></a>
          </div>
        </section>

        <div id="previously-seen"></div>
        <div id="js-same-brand"></div>

        <section class="product-detail-Layout_Section">
          <h2 class="c-Heading_Lv2">設定・サポート</h2>
          <div>
            <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/inquiry/?l-id=product_a79-5g_guide_inquiry" class="c-Link_Txt-inline-icon">製品の初期不良による交換・設定・修理等サポートについて<span class="c-Icon_Chevron-right"></span></a></p>
          </div>
        </section>

        <div class="u-Adjust_Mt-64">
          <%- include('/inc/_saikyo') %>
        </div>
      </div>
      <div class="u-Adjust_Mt-40">
        <%- include('/include/product/_support') %>
        <%- include('/include/product/smartphone/_footer-notes') _%>
      </div>
    </div>

    <footer class="g-Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-product-v2.ejs') %>
        <%- include('/include/footer/bnr/_bnr.ejs') %>
      </div>
      <div class="c-Breadcrumbs_Foot">
        <div class="l-System_Container">
          <%- include('/include/_breadcrumbs', {
        type: 'foot',
        pagetitle,
        directories,
      }) %>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/product/_category-js') %>
  <%- include('/include/product/_history-js') %>
  <%- include('/include/product/_same-brand-js') %>
  <script src="<%= sitepath %>assets/js/product.android-tradein.bundle.js?20240521"></script>
  <script src="<%= sitepath %>assets/js/product.spec.a79-5g.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>

</body>
</html>
