<% const pagetitle = "Rakuten Linkアプリのご利用について | Rakuten最強プラン（料金プラン）" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: 'Rakuten Linkアプリのご利用には楽天モバイルのお申し込みが必要です。料金プランの詳細をご案内いたします。',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/fee/link-app/fee-link-app.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/error/error.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

  <header class="g-Header">
    <div class="g-Header_Container">
      <div class="g-Header_Logo"><a href="<%= sitedomain %>">Rakuten Mobile</a></div>
    </div>
  </header>

  <div class="l-System_Container">
    <h1 class="fee-link-app-Utility_Title">Rakuten Linkアプリのご利用には楽天モバイルのお申し込みが必要です。</h1>

    <div class="u-Adjust_Mt-32">
      <a href="<%= sitepath %>fee/saikyo-plan/?l-id=fee_link-app_fee_saikyo" class="c-Btn_Primary-large fee-link-app-Utility_Btn"><span>楽天モバイルの料金プランを見る</span></a>
    </div>

    <div class="u-Adjust_Mt-32 c-Infobox_Standing-warning" id="RakutenLink">
      <h4 class="c-Txt_Emp-01 c-Heading_Lv4"><span class="c-Icon_Sign-warning-l"></span>すでに楽天モバイルをお申し込み済みで、Rakuten Linkアプリがご利用いただけない場合</h4>
      <div class="u-Adjust_Mt-16">
        <p>以下の可能性が考えられます。 </p>
          <ul class="u-Adjust_Mt-16 c-List_Text-disc">
            <li>楽天会員ログイン用のユーザID／パスワードが、お申込み時の情報と一致していない</li>
            <li>楽天回線の開通手続きが完了していない</li>
          </ul>
      </div>
    </div>

    <div class="u-Adjust_Mt-16">
      <p>Rakuten Linkアプリのご利用には、楽天会員のユーザーID／パスワードがお申し込み時の情報と一致している必要があります。ご用意の上、再度お試しください。<br>
        回線の開通がお済みでない場合は、開通手続き終えてから再度お試しください。<br>
        詳しくはRakuten Linkアプリの初期設定をご確認ください。</p>
        <ul class="u-Adjust_Mt-24">
          <li><a class="c-Link_Txt-inline" href="https://service.link.link/guide/activation/android.html" target="_blank">Rakuten Linkの初期設定をする（Android版）<span class="c-Icon_New-window-l"></span></a></li>
          <li class="u-Adjust_Mt-8"><a class="c-Link_Txt-inline" href="https://service.link.link/guide/activation/ios.html" target="_blank">Rakuten Linkの初期設定をする（iOS版）<span class="c-Icon_New-window-l"></span></a></li>
        </ul>
      <ul class="u-Adjust_Mt-16 c-Txt_Cap">
        <li>※楽天会員ログイン情報が不明な場合は、「<a href="https://ichiba.faq.rakuten.net/detail/000006620" class="c-Link_Txt-inline" target="_blank">ログインできない<span class="c-Icon_New-window-l" style="padding-left: 4px;color: #ff008c;"></span></a>」よりご確認ください</li>
        <li>※楽天モバイル（スーパーホーダイ／組み合わせプラン／コミコミプラン）ご利用中の場合は、料金プラン「Rakuten 最強」へのプラン変更（移行）が必要です</li>
      </ul>
    </div>

  </div>

<footer class="error-Layout_Footer u-Adjust_Mt-64" style="position: inherit;">
  <small class="g-Footer_Copyright" style="margin: auto">&copy; Rakuten Mobile, Inc.</small>
</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
