<% const pagetitle = "楽メール（ご利用方法）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルのドメイン（@rakumail.jp）でメールアドレスを設定いただくことで、メールサービスが利用できる「楽メール」の初期設定方法や各種設定方法・操作方法をご案内します。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
    <p class="c-Txt_Cap u-Adjust_Mt-8">※Rakuten Linkアプリを最新バージョンへアップデートの上、ご利用ください。</p>
    <ul class="u-Adjust_Mt-48">
      <li><a href="<%= sitepath %>service/rakumail/" class="c-Btn_Regular"><span>特長・サービス内容を見る</span></a></li>
    </ul>

    <div><h2 class="c-Heading_Lv2 u-Adjust_Mt-64">初期設定</h2></div>
      <ul class="c-Link_List u-Adjust_Mt-24">
        <li>
          <a href="<%= sitepath %>guide/rakumail/initial-setting/#setting01">初期設定方法（メールアドレス設定方法）<span class="c-Icon_Chevron-right"></span></a>
        </li>
        <li>
          <a href="<%= sitepath %>guide/rakumail/initial-setting/#setting02">楽メールへのアクセス方法<span class="c-Icon_Chevron-right"></span></a>
        </li>
      </ul>
      <ul class="u-Adjust_Mt-24">
        <li><a href="<%= sitepath %>guide/rakumail/initial-setting/" class="c-Btn_Regular"><span>初期設定一覧を見る</span></a></li>
      </ul>

      <div><h2 class="c-Heading_Lv2 u-Adjust_Mt-64">各種設定</h2></div>
        <ul class="c-Link_List u-Adjust_Mt-24">
          <li>
            <a href="<%= sitepath %>guide/rakumail/setting/#setting01">メールアドレスの変更方法<span class="c-Icon_Chevron-right"></span></a>
          </li>
          <li>
            <a href="<%= sitepath %>guide/rakumail/setting/#setting02">メールアドレスの確認方法<span class="c-Icon_Chevron-right"></span></a>
          </li>
          <li>
            <a href="<%= sitepath %>guide/rakumail/setting/#setting03">プロフィールの設定方法<span class="c-Icon_Chevron-right"></span></a>
          </li>
        </ul>
<ul class="u-Adjust_Mt-24"><li><a href="<%= sitepath %>guide/rakumail/setting/" class="c-Btn_Regular"><span>各種設定一覧を見る</span></a></li></ul>

<div><h2 class="c-Heading_Lv2 u-Adjust_Mt-64">メール機能</h2></div>
<ul class="c-Link_List u-Adjust_Mt-24">
            <li>
              <a href="<%= sitepath %>guide/rakumail/function/#setting01">メールを読む<span class="c-Icon_Chevron-right"></span></a>
            </li>
            <li>
              <a href="<%= sitepath %>guide/rakumail/function/#setting02">メールを検索する<span class="c-Icon_Chevron-right"></span></a>
            </li>
            <li>
              <a href="<%= sitepath %>guide/rakumail/function/#setting03">メールに☆（目印）を付ける・はずす<span class="c-Icon_Chevron-right"></span></a>
            </li>
            <li>
              <a href="<%= sitepath %>guide/rakumail/function/#setting04">メールボックスの容量を確認する<span class="c-Icon_Chevron-right"></span></a>
            </li>
            <li>
              <a href="<%= sitepath %>guide/rakumail/function/#setting05">メールを削除する<span class="c-Icon_Chevron-right"></span></a>
            </li>
            <li>
              <a href="<%= sitepath %>guide/rakumail/function/#setting06">メールの未読／既読の変更<span class="c-Icon_Chevron-right"></span></a>
            </li>
            <li>
              <a href="<%= sitepath %>guide/rakumail/function/#setting07">削除したメールを復元する<span class="c-Icon_Chevron-right"></span></a>
            </li></ul>
<ul class="u-Adjust_Mt-24"><li><a href="<%= sitepath %>guide/rakumail/function/" class="c-Btn_Regular"><span>メール機能一覧を見る</span></a></li></ul>

<div><h2 class="c-Heading_Lv2 u-Adjust_Mt-64">メールの作成／送信</h2></div>
<ul class="c-Link_List u-Adjust_Mt-24">
            <li>
              <a href="<%= sitepath %>guide/rakumail/send/#setting01">メールを作成・送信する（ファイルの添付）<span class="c-Icon_Chevron-right"></span></a>
            </li>
            <li>
              <a href="<%= sitepath %>guide/rakumail/send/#setting02">メールを返信・転送する<span class="c-Icon_Chevron-right"></span></a>
            </li></ul>
<ul class="u-Adjust_Mt-24"><li><a href="<%= sitepath %>guide/rakumail/send/" class="c-Btn_Regular"><span>メールの作成／送信一覧を見る</span></a></li></ul>


<div><h2 class="c-Heading_Lv2 u-Adjust_Mt-64">フォルダーの作成／変更</h2></div>
<ul class="c-Link_List u-Adjust_Mt-24">
            <li>
              <a href="<%= sitepath %>guide/rakumail/folder/#setting01">フォルダーを作成する<span class="c-Icon_Chevron-right"></span></a>
            </li>
            <li>
              <a href="<%= sitepath %>guide/rakumail/folder/#setting02">フォルダー名を変更・削除する<span class="c-Icon_Chevron-right"></span></a>
            </li>
            <li>
              <a href="<%= sitepath %>guide/rakumail/folder/#setting03">メールを他のフォルダーへ移動する<span class="c-Icon_Chevron-right"></span></a>
            </li></ul>
<ul class="u-Adjust_Mt-24"><li><a href="<%= sitepath %>guide/rakumail/folder/" class="c-Btn_Regular"><span>フォルダーの作成／変更一覧を見る</span></a></li></ul>

<div><h2 class="c-Heading_Lv2 u-Adjust_Mt-64">受信リスト／拒否リストの設定・変更・削除</h2></div>
<ul class="c-Link_List u-Adjust_Mt-24">
            <li>
              <a href="<%= sitepath %>guide/rakumail/filter/#setting01">受信リストを設定／変更／削除する<span class="c-Icon_Chevron-right"></span></a>
            </li>
            <li>
              <a href="<%= sitepath %>guide/rakumail/filter/#setting02">拒否リストを設定／変更／削除する<span class="c-Icon_Chevron-right"></span></a>
            </li></ul>
<ul class="u-Adjust_Mt-24"><li><a href="<%= sitepath %>guide/rakumail/filter/" class="c-Btn_Regular"><span>受信リスト／拒否リストの設定・変更・削除一覧を見る</span></a></li></ul>

<div><h2 class="c-Heading_Lv2 u-Adjust_Mt-64">その他のフィルター設定</h2></div>
<ul class="c-Link_List u-Adjust_Mt-24">
            <li>
              <a href="<%= sitepath %>guide/rakumail/filter_2/#setting01">おすすめのメールフィルターを設定する<span class="c-Icon_Chevron-right"></span></a>
            </li>
            <li>
              <a href="<%= sitepath %>guide/rakumail/filter_2/#setting02">携帯／Webメール拒否の設定をする<span class="c-Icon_Chevron-right"></span></a>
            </li>
            <li>
              <a href="<%= sitepath %>guide/rakumail/filter_2/#setting03">URLリンクメールフィルターの設定をする<span class="c-Icon_Chevron-right"></span></a>
            </li>
            <li>
              <a href="<%= sitepath %>guide/rakumail/filter_2/#setting04">なりすましメールフィルターの設定をする<span class="c-Icon_Chevron-right"></span></a>
            </li>
            <li>
              <a href="<%= sitepath %>guide/rakumail/filter_2/#setting05">大量送信者フィルターの設定をする<span class="c-Icon_Chevron-right"></span></a>
            </li>
            <li>
              <a href="<%= sitepath %>guide/rakumail/filter_2/#setting06">ウイルスメールフィルターの設定をする<span class="c-Icon_Chevron-right"></span></a>
            </li></ul>
<ul class="u-Adjust_Mt-24"><li><a href="<%= sitepath %>guide/rakumail/filter_2/" class="c-Btn_Regular"><span>その他のフィルター設定一覧を見る</span></a></li></ul>

<div><h2 class="c-Heading_Lv2 u-Adjust_Mt-64">注意事項</h2></div>
<ul class="c-List_Text-disc u-Adjust_Mt-16">
  <li>
    <span class="c-Txt_Emp-01">迷惑メールへの対策</span><br>
    楽メールを利用して迷惑行為を行った場合、事前に通知をすることなく、本サービスの全部または一部の提供を停止または中断する場合があります。迷惑メールに関するお問い合わせは以下よりご連絡ください。<br>
    【窓口】<br>
    report-mail@spam.mobile.rakuten.co.jp
  </li>
  <li>
    <span class="c-Txt_Emp-01">解約について</span><br>
    楽メールのみの解約は受け付けておりません。<br>
    <span class="c-Txt_Emp-02">
      ご契約中のすべての楽天モバイル（楽天回線）の解約から31日間は、メールアカウント・データは削除されずに保持されます。<br>
    </span>
    ・回線解約もしくはMNP転出後、楽メールを使用するには、<span class="c-Txt_Emp-02">解約から31日以内に有料オプションサービス「楽メール持ち運び」のお申し込みが必要です。</span><br>
    <a href="<%= sitepath %>service/rakumail-portability/?l-id=guide_rakumail_service_rakumail-portability" class="c-Link_Txt-inline">楽メール持ち運びの詳細を見る<span class="c-Icon_Chevron-right"></span></a><br>
    <span class="c-Txt_Emp-02">
      ・解約から31日を過ぎるとユーザーが再度、回線契約をしても、メールアカウントおよびメールボックス内のメールは復旧できません。
    </span><br>
    <span class="c-Txt_Cap c-Txt_Emp-02">
      ※楽天モバイル（楽天回線）契約後、再度楽メールのご利用を希望される場合には、改めて楽メール利用規約に同意、メールアドレスの登録などの手続を行う必要があります。この手続きを経ても、一度削除されたメールアカウントおよびメールボックス内のメールの復旧はできません。
    </span>
  </li>
  <li>
    <span class="c-Txt_Emp-01">譲渡について</span><br>
    メールデータやメールアカウントの譲渡はできません。<br>
    楽天モバイル（楽天回線）を譲渡する場合、楽メールは楽天IDに紐づいているため、譲渡先は譲渡元の楽メールアカウントにアクセスできません。<br>
    <span class="c-Txt_Cap">
      ※譲渡したのは回線であり、使用する楽天IDが異なるため。<br>譲渡先は、楽メールを申し込みましたら、回線契約時に利用した楽天IDに紐づく新しい楽メールアカウントが付与されます。
    </span>
  </li>
  <li>
    <span class="c-Txt_Emp-01">楽天IDの退会・変更</span><br>
    現在ご利用中の楽天IDを退会・変更すると、楽メールアカウントにアクセスできなくなります。<br>
    my 楽天モバイルでご利用中の楽天IDを変更 した場合でも、変更後の楽天IDでRakuten Linkアプリに改めてログインいただくことで、今までの楽メールアカウントをご利用いただけます。
  </li>
  <li>
    楽天モバイル（ドコモ回線・au回線）で提供していたRメール（@rakuten.jp）は、楽天モバイル（楽天回線）移行後もご利用いただけ、楽メール（@rakumail.jp）と併用してご利用可能です。
  </li>
</ul>

<div class="c-Accordion u-Adjust_Mt-64">
  <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>迷惑メールフィルター機能について</button>
  <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
    <ul class="c-List_Text-disc">
      <li>「迷惑メールフィルター」は、お客様のメールアドレスが迷惑メールの可能性があるメールを受信した際に、メールを受信拒否したり、迷惑メール専用フォルダーに保存したりすることができる機能です。</li>
      <li>あらかじめ楽天モバイルの推奨するフィルター設定が適用された「おすすめフィルター設定（強）」「おすすめフィルター設定（標準）」の他、7項目のフィルターをお客様のご希望により設定することが可能です（初期設定は「おすすめフィルター設定（強）」が適用された状態です）。フィルター設定の詳細についてはFAQをご確認ください。</li>
      <li>初期設定として適用される「おすすめフィルター設定（強）」は、大量送信者からのメールの検知、DMARC（※1）を利用したなりすましメールの検知、及びウイルスメールの検知が設定されています。</li>
      <li>迷惑メールフィルターのご利用に関して、ご利用料金はかかりません。無料でご利用が可能です。</li>
      <li>なお、当メールサービスのご利用開始以降、迷惑メールフィルター機能はお客様のご要望により解除・再設定することができます。解除・再設定はサービスご利用開始後、当社が定める方法によりご設定をお願いいたします。</li>
    </ul>
    <p class="u-Adjust_Mt-16 c-Txt_Cap">
      ※1 DMARC（Domain-based Message Authentication, Reporting, and Conformance）とは、送信ドメイン認証とよばれる電子メールの送信元のドメインを認証する技術の一つです。
    </p>
    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">注意事項</h4>
      <ul class="c-List_Text-disc u-Adjust_Mt-16">
        <li>迷惑メールフィルター機能は、完全に迷惑メールを防止できることを保証しません。受信フォルダーに迷惑メールが保存されたり、迷惑メール専用フォルダーに迷惑メールではないメールが保存されたりする場合があります。また、迷惑メールではないメールが受信拒否され届かない場合もございますので、あらかじめご了承ください。</li>
        <li>迷惑メールフィルター機能をご利用いただいていない場合であっても、短時間に大量のメールの流入を検知した場合等、サービス継続の観点から当社が必要と判断した場合において、一部のメールの受信を拒否する場合があります。</li>
        <li>迷惑メールとして判定されたメールに関して、判定理由に関するお問い合わせにはお答えすることができません。</li>
        <li>迷惑メールフィルター機能を利用することにより、または利用できなかったこと によりお客様または第三者に発生した損害については、当社は一切の責任を負いません。</li>
      </ul>
  </div>
</div>
<div class="c-Accordion">
  <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>DMARCによる受信メールの認証について</button>
  <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
    <p>当メールサービスでは、なりすましメールへの対策として、DMARC（※1）による受信メールの照合を行います。受信されるメールのDMARCレコードを照合した結果、なりすましメールであると識別された場合、そのメールには送信元ドメインのDMARCポリシー（※2）に応じた処理が適用されます。</p>
    <table class="c-Table_Container u-Adjust_Mt-16">
      <thead>
        <tr>
          <th>送信元ドメインのDMARCポリシー</th>
          <th>当メールサービスでの処理</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>none</td>
          <td>受信フォルダーに受信する（※3）</td>
        </tr>
        <tr>
          <td>quarantine</td>
          <td>迷惑メール専用フォルダーに受信する</td>
        </tr>
        <tr>
          <td>reject</td>
          <td>メールを受信拒否し、送信元に対しエラーを通知する</td>
        </tr>
        </tbody>
    </table>
    <p class="u-Adjust_Mt-16">
      なお、当メールサービスから送信されるメールは、DMARCポリシーを「reject」として送信されています。このため、rakumail.jpドメインを偽装したメールを受信した場合は、受信者側で「reject」に応じた処理がなされます。「reject」処理が行われた場合、送信先のお客様はそのメール内容を確認することができない場合があります。
    </p>
    <p class="c-Txt_Cap u-Adjust_Mt-16">
      ※1 DMARC（Domain-based Message Authentication, Reporting, and Conformance）とは、送信ドメイン認証とよばれる電子メールの送信元のドメインを認証する技術の一つです。<br>
      ※2 DMARCポリシーとは、メールの正規の送信元による「なりすましメール」の取り扱いに関する定義のことを指します。<br>
      ※3 DMARC以外のフィルターによって迷惑メールと判定されたメールは、迷惑メール専用フォルダーに保存されるか 、受信拒否されます。
    </p>
  </div>
</div>


<ul class="u-Adjust_Mt-64">
  <li><a href="<%= sitepath %>service/rakumail/" class="c-Btn_Regular"><span>特長・サービス内容を見る</span></a></li>
</ul>


  </div>
</div>

<%- include('/include/guide/_review') %>


<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%- include('/include/footer/related/_related-service-v2.ejs') %>

  </div>
  <%- include('/include/guide/_inquiry') %>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
