<% const pagetitle = "みんなに聞いた！楽天モバイル通信簿" -%>
<% const namespace = "reportcard" -%>

<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    keywords: '',
    noindex: true,
    pathname: filepath,
    ogp_img:"https://network.mobile.rakuten.co.jp/assets/img/ad/reportcard/ogp.png"
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/ad/reportcard/reportcard.css?20240424">
<%- include('/include/_append-head') %>
</head>

<body class="body_<%= namespace %>">
  <%- include('/include/_prepend-body') %>
  <div id="loading" class="loading"></div>

  <div class="l-System">
    <%- include('/include/_header') %>

    <div id="<%= namespace %>" class="<%= namespace %>">
      <div class="<%= namespace %>-pcFixedArea right">
        <nav class="<%= namespace %>-pcFixedArea_inner">
          <span class="visually-hidden">みんなに聞いた！楽天モバイル通信簿</span>
          <ul class="<%= namespace %>-pcFixedArea_inner-ul">
            <li class="<%= namespace %>-pcFixedArea_inner-ul_li">
              <a href="#q1" data-ratid="ad_reportcard_mv_link_q1" data-ratevent="click" data-ratparam="all">
                <span class="visually-hidden">Q1 つながりやすさは前と比べて変わった？</span>
              </a>
            </li>
            <li class="<%= namespace %>-pcFixedArea_inner-ul_li">
              <a href="#q2" data-ratid="ad_reportcard_mv_link_q2" data-ratevent="click" data-ratparam="all">
                <span class="visually-hidden">Q2 どんなときにつながると思った？</span>
              </a>
            </li>
            <li class="<%= namespace %>-pcFixedArea_inner-ul_li">
              <a href="#q3" data-ratid="ad_reportcard_mv_link_q3" data-ratevent="click" data-ratparam="all">
                <span class="visually-hidden">Q3 スマホのサービス利用実態は？</span>
              </a>
            </li>
            <li class="<%= namespace %>-pcFixedArea_inner-ul_li">
              <a href="#q4" data-ratid="ad_reportcard_mv_link_q4" data-ratevent="click" data-ratparam="all">
                <span class="visually-hidden">Q4 契約してよかったことは？</span>
              </a>
            </li>
            <li class="<%= namespace %>-pcFixedArea_inner-ul_li">
              <a href="#q5" data-ratid="ad_reportcard_mv_link_q5" data-ratevent="click" data-ratparam="all">
                <span class="visually-hidden">Q5 どんなところに満足してる？</span>
              </a>
            </li>
            <li class="<%= namespace %>-pcFixedArea_inner-ul_li">
              <a href="#q6" data-ratid="ad_reportcard_mv_link_q6" data-ratevent="click" data-ratparam="all">
                <span class="visually-hidden">Q6 スマホ料金はどう変わった？</span>
              </a>
            </li>
            <li class="<%= namespace %>-pcFixedArea_inner-ul_li">
              <a href="#q7" data-ratid="ad_reportcard_mv_link_q7" data-ratevent="click" data-ratparam="all">
                <span class="visually-hidden">Q7 節約できた分は何に使ってる？</span>
              </a>
            </li>
            <li class="<%= namespace %>-pcFixedArea_inner-ul_li">
              <a href="#q8" data-ratid="ad_reportcard_mv_link_q8" data-ratevent="click" data-ratparam="all">
                <span class="visually-hidden">Q8 プラチナバンドへの期待は？</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="<%= namespace %>-pcFixedArea left">
        <div class="<%= namespace %>-pcFixedArea_inner">
          <div class="<%= namespace %>-pcFixedArea_inner-textBox">
            <p class="">
              おかげさまで楽天モバイルは、2024年4月に650万回線を突破しました。<br>
              アンケート結果をみなさまからいただいた通信簿としてとらえ、迅速なエリア拡大・基地局の増強・実地調査による改善実施などの取り組みで、みなさまとの「つながり」と「つながる」を強くしていきます。
            </p>
            <div class="<%= namespace %>-pcFixedArea_inner-textBox_people">
              <div id="LeftPeople_lottie" class="lottie">
                <div class="lottie-loop"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="<%= namespace %>-MainContents">
        <section class="<%= namespace %>-MainContents_Fv">
          <h1 class="<%= namespace %>-MainContents_Fv-title">
            <img src="/assets/img/ad/reportcard/title.svg" alt="">
            <span id="" class="<%= namespace %>-MainContents_Fv-title-textBox">
              <span class="visually-hidden">みんなに聞いた！楽天モバイル通信簿</span>
              <span id="titletextBox-text1" class="<%= namespace %>-MainContents_Fv-title-textBox-text1"><img src="/assets/img/ad/reportcard/title_1.svg" alt=""></span>
              <span id="titletextBox-text2" class="<%= namespace %>-MainContents_Fv-title-textBox-text2"><img src="/assets/img/ad/reportcard/title_2.svg" alt=""></span>
              <span id="titletextBox-text3" class="<%= namespace %>-MainContents_Fv-title-textBox-text3"><img src="/assets/img/ad/reportcard/title_3.svg" alt=""></span>
              <span id="titletextBox-text4" class="<%= namespace %>-MainContents_Fv-title-textBox-text4"><img src="/assets/img/ad/reportcard/title_4.svg" alt=""></span>
              <span id="titletextBox-text5" class="<%= namespace %>-MainContents_Fv-title-textBox-text5"><img src="/assets/img/ad/reportcard/title_5.svg" alt=""></span>
            </span>
            <span id="titleLineBox" class="<%= namespace %>-MainContents_Fv-title-lineBox">
              <span class="<%= namespace %>-MainContents_Fv-title-lineBox-line line0"></span>
              <span class="<%= namespace %>-MainContents_Fv-title-lineBox-line line1"></span>
              <span class="<%= namespace %>-MainContents_Fv-title-lineBox-line line2"></span>
              <span class="<%= namespace %>-MainContents_Fv-title-lineBox-line line3"></span>
            </span>
          </h1>
          <p class="<%= namespace %>-MainContents_Fv-description">
            いまの楽天モバイルってどうなの！？<br>
            どれくらいおトク？以前と変わった？<br>
            つながりやすさは実際どうなの？<br>
            全国の楽天モバイルユーザーに<br>
            アンケートを実施して、<br>
            約9万人に回答をいただきました！<br>
            さっそく結果をチェック！
          </p>
          <span class="dotline"></span>
        </section>
        <section class="<%= namespace %>-MainContents_QBox">
          <ul class="<%= namespace %>-MainContents_QBox-ul">
            <li id="q1" class="li-1">
              <h2 data-ratid="ad_reportcard_scroll-01_Q1" data-ratevent="appear" data-ratparam="all">
                <span class="visually-hidden">Q1</span>
                <span class="line">つながりやすさは</span>
                前と比べて変わった？
              </h2>
              <div class="imgBox">
                <span class="visually-hidden">通信改善を実感77.8% 契約時と比較してとてもよくなったと感じる8.3%、契約時と比較してよくなったと感じる21.3%、契約時と比較してややよくなったと感じる48.2%、契約時と比較してやや悪くなったと感じる15.4%、契約時と比較してとても悪くなったと感じる6.8%</span>
                <div id="lottieQ1" class="lottie">
                  <div class="lottie-loop"></div>
                  <div class="lottie-firstAnim"></div>
                </div>
              </div>
              <h3 class="">
                <img src="/assets/img/ad/reportcard/qbox_copy_1.svg" alt="実際に使ってみると通信改善を約8割が実感！">
              </h3>
              <p class="copy">
                契約前は電波に不安を感じていた人は、契約者の61.8％いらっしゃいました。
                そのような方にも、 <span class="line">実際に使ってみると通信・電波がよくなってきていると実感をしていただけています。</span>
              </p>
              <p class="copy large pink">
                つながりやすさを日々改善中！
              </p>
              <div class="imgBox imgBox_graph">
                <img src="/assets/img/ad/reportcard/qbox_img_1_2.svg" alt="人口カバー率99.9% ※1">
              </div>
              <p class="copy copy_graph">
                4キャリア中、最も多くの地域で<br>
                <span class="line">業界最高水準の通信品質評価</span>を獲得！
              </p>
              <p class="attention">
                ※Opensignal社データ（2023年8月時点）の当社分析に基づく。30府県で「一貫した品質」のRank1を獲得。詳細はページ下部のOpensignalデータについて記載。
              </p>
              <p class="attention attention_2">
                ※1 2023年9月時点。人口カバー率は、国勢調査に用いられる約500m区画において、50%以上の場所で通信可能なエリアを基に算出。
              </p>
              <span class="dotline"></span>
              <div class="textBox">
                <p class="">
                  ［質問内容］楽天モバイルをご契約された当初に比べて、現在の楽天モバイルの電波・通信に対するあなたのお気持ちに変化はありましたか？最もあなたのお気持ちにあてはまるものをお選びください。
                </p>
              </div>
            </li>
            <li id="q2" class="li-2">
              <h2 data-ratid="ad_reportcard_scroll-02_Q2" data-ratevent="appear" data-ratparam="all">
                <span class="visually-hidden">Q2</span>
                <span class="line">どんなときに</span>
                つながると思った？
              </h2>
              <div class="imgBox">
                <span class="visually-hidden">映画館など、広いホールのような環境下でつながりやすくなったように思います。箱根の山の中で途切れなかったのは驚いた。出先で5Ｇだったので、スピードテストをしてみたら驚異的な速さで関心した。今後ともぜひ5Ｇのエリア拡大に力を入れてほしい。某大手キャリアの友達が「電波悪い、つながらない」と言った山道でも、楽天は電波が良く通信に問題がないことに驚いた。出張で以前行った時は圏外であったが次に同じところに行った時に通信が可能になっていた。東名高速で移動中も、通信が止まることなく、子供が動画を見れるようになった。街中でもテザリング利用で問題なく会社の業務が行える。</span>
                <div id="lottieQ2" class="lottie">
                  <div class="lottie-loop"></div>
                  <div class="lottie-firstAnim"></div>
                </div>
              </div>
              <p class="attention">
                ※実際のエリア状況については、<a href="<%= sitepath %>area/">エリアマップ</a>をご確認ください。
              </p>
              <h3 class="">
                <img src="/assets/img/ad/reportcard/qbox_copy_2.svg" alt="つながりにくそうとイメージされる場所でも問題なくつながるという声をいただきました！">
              </h3>
              <p class="copy">
                <span class="line">つながりにくい場所や、生活シーンの中でも高速データ通信がつながりやすい</span>という声を多くいただくことができました。
              </p>
              <p class="attention">
                ※一部地域はパートナー回線エリアになります。建物内等、場合によってつながりにくい場合がございます。<br>
                ※アンケートの一部を抜粋して掲載しております。
              </p>
              <span class="dotline"></span>
              <div class="textBox">
                <p class="">
                  ［質問内容］楽天モバイルを利用しているなかで、ご契約した当初より電波がよくなったといった感じた、シーンや場面があれば具体的なエピソードを教えてください。
                </p>
              </div>
            </li>
            <li id="q3" class="li-3">
              <h2 data-ratid="ad_reportcard_scroll-03_Q3" data-ratevent="appear" data-ratparam="all">
                <span class="visually-hidden">Q3</span>
                スマホの
                <span class="line">サービス利用実態は？</span>
              </h2>
              <div class="imgBox">
                <span class="visually-hidden">SNS(LINE、X、Instagram、TikTokなど)62.2%、動画視聴57.3%、Webブラウジング53.7%、音楽を聞く39.5%、スマホゲーム26.9%、テザリング22.6%、漫画・書籍を読む22.0%、その他の使用7.8%</span>
                <div id="lottieQ3" class="lottie">
                  <div class="lottie-loop"></div>
                  <div class="lottie-firstAnim"></div>
                </div>
              </div>
              <h3 class="">
                <img src="/assets/img/ad/reportcard/qbox_copy_3.svg" alt="楽天モバイルユーザーの利用実態として約6割がSNSや動画視聴で活用">
              </h3>
              <p class="copy">
                通信データ消費の多いSNSや動画視聴を楽しんでいると回答。<span class="line">Rakuten最強プランはデータ無制限だから、データを気にせず楽しめます。</span>
              </p>
              <p class="attention">
                ※公平なサービス提供または環境により速度低下する場合あり。
              </p>
              <span class="dotline"></span>
              <div class="textBox">
                <p class="">
                  ［質問内容］あなたがよく使うスマホの使い方についてお伺いします。あなたがよく使っていると感じるスマホのサービスは、どのようなものですか？当てはまるものを全てお選びください。
                </p>
              </div>
            </li>
            <li id="q4" class="li-4">
              <h2 data-ratid="ad_reportcard_scroll-04_Q4" data-ratevent="appear" data-ratparam="all">
                <span class="visually-hidden">Q4</span>
                契約して
                <span class="line">よかったことは？</span>
              </h2>
              <div class="imgBox">
                <span class="visually-hidden">高速データ無制限※1により、以前のキャリアで抱えていたデータ制限時代の悩みがどんな風だったか忘れる程快適。海外旅行でのローミングサービスは感動。楽天モバイルがあればマップも翻訳もサクサクでき強い味方。※2動画視聴や通話料を気にすることなく、いつでもどこでも使えるようになったので、Wi-Fiを解約。まさにストレスからの解放！Wi-Fiのない環境でもオンライン授業に対応できた。※1データ容量を気にせず使用できる※1ようになったのは非常にありがたい。（精神的なストレスがかなり減った。）インターネット回線がない場所で、かつてはケチケチとテザリングしていたが、無制限※1にテザリングが使えるようになって生活が変わった。楽天カードなどで買い物をして、ポイントが付いて、そのポイントで携帯の料金の支払いに使えて、とても助かっています。※1公平なサービス提供または環境により速度低下する場合あり※2利用時にmy楽天モバイルとスマホの設定が別途必要です</span>
                <div id="lottieQ4" class="lottie">
                  <div class="lottie-loop"></div>
                  <div class="lottie-firstAnim"></div>
                </div>
              </div>
              <h3 class="">
                <img src="/assets/img/ad/reportcard/qbox_copy_4.svg" alt="楽天モバイルに契約して速度制限へのストレスがなくなり生活が快適に">
              </h3>
              <p class="copy">
                多くの方が場所やデータ量を気にせず使えて、生活が変わったと感じています。<span class="line">Rakuten最強プランなら、データ消費の多いサービスでも安心して楽しんでいただけています。</span>
              </p>
              <p class="attention">
                ※アンケートの一部を抜粋して掲載しております。
              </p>
              <span class="dotline"></span>
              <div class="textBox">
                <p class="">
                  ［質問内容］楽天モバイルを利用しているなかで、楽天モバイルにしてよかったと感じたことや契約したことで生活が変わったと思うことがあれば、どんなに些細なことでも構いませんので、なるべく具体的にお答えください。
                </p>
              </div>
            </li>
            <li id="q5" class="li-5">
              <h2 data-ratid="ad_reportcard_scroll-05_Q5" data-ratevent="appear" data-ratparam="all">
                <span class="visually-hidden">Q5</span>
                どんなところに
                <span class="line">満足してる？</span>
              </h2>
              <div class="imgBox">
                <span class="visually-hidden">料金のおトクさに満足 92.5%、ポイントの貯まりやすさに満足 90.6%、付帯サービスに満足 89.0%</span>
                <div id="lottieQ5" class="lottie">
                  <div class="lottie-loop"></div>
                  <div class="lottie-firstAnim"></div>
                </div>
              </div>
              <h3 class="">
                <img src="/assets/img/ad/reportcard/qbox_copy_5.svg" alt="ご利用いただいている方の約9割がRakuten最強プランのおトクさに満足！">
              </h3>
              <span class="dotline"></span>
              <div class="textBox">
                <p class="">
                  ［質問内容］楽天モバイルに対するそれぞれの項目に対する満足度について、いま現在のあなたのお気持ちに最も当てはまるものをお選びください。（料金のおトクさ／ポイントのたまりやすさ／付帯サービスの充実度）
                </p>
              </div>
            </li>
            <li id="q6" class="li-6">
              <h2 data-ratid="ad_reportcard_scroll-06_Q6" data-ratevent="appear" data-ratparam="all">
                <span class="visually-hidden">Q6</span>
                <span class="line">スマホ料金は</span>
                どう変わった？
              </h2>
              <div class="imgBox">
                <span class="visually-hidden">おトクになった83.7% 5千円以上安くなった 21.7%、4千円〜5千円安くなった 7.2%、3千円〜4千円安くなった 12.3%、2千円〜3千円安くなった 14.0%、千円〜2千円安くなった 15.0%、千円未満安くなった 13.5%、変わらなかった 9.8%、以前に比べて高くなった 6.6%</span>
                <div id="lottieQ6" class="lottie">
                  <div class="lottie-loop"></div>
                  <div class="lottie-firstAnim"></div>
                </div>
              </div>
              <h3 class="">
                <img src="/assets/img/ad/reportcard/qbox_copy_6.svg" alt="約8割が契約前よりもおトクになったと回答！">
              </h3>
              <h3 class="h3_2">
                <img src="/assets/img/ad/reportcard/qbox_copy_6_2.svg" alt="3キャリアから乗り換えの約3人に1人は5,000円以上もおトクに！">
              </h3>
              <span class="dotline"></span>
              <div class="textBox">
                <p class="">
                  ［質問内容］あなたが楽天モバイルに乗り換えたことで、以前契約していたスマホ通信会社に比べて、携帯料金はどのように変化しましたか？あなたのご状況に最も当てはまるものをお選びください。
                </p>
              </div>
            </li>
            <li id="q7" class="li-7">
              <h2 data-ratid="ad_reportcard_scroll-07_Q7" data-ratevent="appear" data-ratparam="all">
                <span class="visually-hidden">Q7</span>
                <span class="line">節約できた分は</span>
                何に使ってる？
              </h2>
              <div class="imgBox">
                <span class="visually-hidden">趣味に費やす 30.8%、貯金する 21.0%、その他の使用 19.1%、資産形成や投資をする 16.0%、外食をする 10.4%、ご褒美スイーツ 2.7%</span>
                <div id="lottieQ7" class="lottie">
                  <div class="lottie-loop"></div>
                  <div class="lottie-firstAnim"></div>
                </div>
              </div>
              <h3 class="">
                <img src="/assets/img/ad/reportcard/qbox_copy_7.svg" alt="スマホ料金が安くなった分趣味に費やせる">
              </h3>
              <p class="copy">
                どのくらいおトクになっているのか？の実態も調査！ご契約者のほとんどの方が、<span class="line">楽天モバイルでスマホ料金をおトクにして、その分を好きなことにお金を使えている</span>とのお声をいただきました。
              </p>
              <span class="dotline"></span>
              <div class="textBox">
                <p class="">
                  ［質問内容］楽天モバイルに変えたことで、固定費（キャリア代）を安く抑えた分のお金をどんなことに使っていますか？
                </p>
              </div>
            </li>
            <li id="q8" class="li-8">
              <h2 data-ratid="ad_reportcard_scroll-08_Q8" data-ratevent="appear" data-ratparam="all">
                <span class="visually-hidden">Q8</span>
                <span class="line">プラチナバンドへの</span>
                期待は？
              </h2>
              <div class="imgBox">
                <span class="visually-hidden">期待している 79.5% とても期待している 45.9%、やや期待している 33.6%、あまり期待していない 16.2%、全く期待していない 4.2%</span>
                <div id="lottieQ8" class="lottie">
                  <div class="lottie-loop"></div>
                  <div class="lottie-firstAnim"></div>
                </div>
              </div>
              <h3 class="">
                <img src="/assets/img/ad/reportcard/qbox_copy_8.svg" alt="プラチナバンドへ期待を寄せる方は全体の約8割">
              </h3>
              <p class="copy">
                楽天モバイルは2023年10月に「プラチナバンド」の認定を受けました！<br>
                地下などの通信がつながりにくい場所がもっとつながりやすくなるなど、<span class="line">よりみなさまに、安心・満足いただけるよう、通信品質向上に取り組んでいきます。</span>
              </p>
              <span class="dotline"></span>
              <div class="textBox">
                <p class="">
                  ［質問内容］楽天モバイルは今後プラチナバンドでの通信提供を予定しています。プラチナバンドが開始されることに対する期待感はどのくらいありますか？あなたのお気持ちとして最も当てはまるものをお選びください。
                </p>
              </div>
            </li>
          </ul>
        </section>
        <section class="<%= namespace %>-MainContents_LoopText" data-ratid="ad_reportcard_scroll-9_band" data-ratevent="appear" data-ratparam="all">
          <ul class="<%= namespace %>-MainContents_LoopText-ul">
            <li class=""><img src="/assets/img/ad/reportcard/loop_logo.svg" alt=""></li>
            <li class=""><img src="/assets/img/ad/reportcard/loop_logo.svg" alt=""></li>
            <li class=""><img src="/assets/img/ad/reportcard/loop_logo.svg" alt=""></li>
          </ul>
        </section>
        <section class="<%= namespace %>-MainContents_About">
          <h2 class="">
            <img src="/assets/img/ad/reportcard/about_title.svg" alt="ABOUT">
          </h2>
          <div class="<%= namespace %>-MainContents_About-textBox">
            <p class="">
              <img src="/assets/img/ad/reportcard/about_text.svg?240408" alt="おかげさまで楽天モバイルは、2024年4月に650万回線を突破しました。アンケート結果をみなさまからいただいた通信簿としてとらえ、迅速なエリア拡大・基地局の増強・実地調査による改善実施などの取り組みで、みなさまとの「つながり」と「つながる」を強くしていきます。 ">
            </p>
            <!-- <div class="<%= namespace %>-MainContents_About-textBox-imgBox">
              <span class="visually-hidden">650万回線突破！</span>
              <div id="About_lottie" class="lottie">
                <div class="lottie-loop"></div>
              </div>
            </div> -->
          </div>
        </section>
        <section class="<%= namespace %>-MainContents_Overview">
          <h2 class="<%= namespace %>-MainContents_Overview-title">
            みんなに聞いた！楽天モバイル通信簿
          </h2>
          <dl class="<%= namespace %>-MainContents_Overview-dl">
            <dt class="<%= namespace %>-MainContents_Overview-dl-dt">調査企画</dt>
            <dd class="<%= namespace %>-MainContents_Overview-dl-dd">楽天モバイル株式会社</dd>
            <dt class="<%= namespace %>-MainContents_Overview-dl-dt">調査協力</dt>
            <dd class="<%= namespace %>-MainContents_Overview-dl-dd">株式会社エクスクリエ<br><span>（株式会社クロス・マーケティング<br>グループ）</span></dd>
            <dt class="<%= namespace %>-MainContents_Overview-dl-dt">調査期間</dt>
            <dd class="<%= namespace %>-MainContents_Overview-dl-dd">2024年2月1日～2月6日</dd>
            <dt class="<%= namespace %>-MainContents_Overview-dl-dt">回答者数</dt>
            <dd class="<%= namespace %>-MainContents_Overview-dl-dd">90,983人</dd>
          </dl>
          <p class="<%= namespace %>-MainContents_Overview-attention">
            ■Opensignal社データについて<br>
            ※ 2023/6/2～2023/8/31の期間に記録されたモバイル測定値によるOpensignalデータにおいて、楽天モバイルは評価項目「一貫した品質」でRank1を獲得した都道府県数が、4キャリアTOPの30府県。<br>
            ※「一貫した品質」とは、一般的なモバイル・アプリケーションの要件をサポートするのに十分なネットワークであるかどうかを測定するもので、ユーザーが自分のデバイスでさまざまな典型的なタスクを維持（または完了）するのに「十分」なレベルであることを意味しています。
          </p>
        </section>
        <div class="<%= namespace %>-MainContents_DetailBtn">
          <a href="<%= sitepath %>fee/saikyo-plan/?l-id=ad_reportcard_fee_saikyo-plan" target="_blank">
            <img src="/assets/img/ad/reportcard/btn_detail.svg" alt="Rakuten最強プランの詳細をみる">
          </a>
          <a href="<%= sitepath %>campaign/?l-id=ad_reportcard_campaign" target="_blank">
            <img src="/assets/img/ad/reportcard/btn_campaign.svg" alt="おトクなキャンペーン情報を見る">
          </a>
        </div>
      </div>

      <div class="<%= namespace %>-People">
        <div id="People_lottie" class="lottie">
          <div class="lottie-loop"></div>
        </div>
      </div>

      <div class="<%= namespace %>-Banner">
        <a class="<%= namespace %>-Banner_backTop" href="#<%= namespace %>">
          <img src="/assets/img/ad/reportcard/backTopBtn.jpg" alt="ページ上部に戻る">
        </a>
        <ul class="<%= namespace %>-Banner_WrapperUl">
          <li class="<%= namespace %>-Banner_WrapperUl-link">
            <a href="<%= sitepath %>guide/application/?lid-r=ad_reportcard_guide_application" target="_blank"><span class="visually-hidden">新規／乗り換え（MNP）</span></a>
          </li>
          <li class="<%= namespace %>-Banner_WrapperUl-link">
            <a href="<%= sitepath %>shop/?l-id=ad_reportcard_shop" target="_blank"><span class="visually-hidden">お近くのショップを探す</span></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="u-Rat_Appear-height" data-ratid="ad_reportcard_scroll-00_logo" data-ratevent="appear" data-ratparam="all">&nbsp;</div>

    <!-- ReX UX Survey: Mounting point for embedded components -->
    <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
    <!-- ReX UX Survey: Config -->
    <script>
      window.rexSurveyConfig = {"language":"ja","surveyId":"40555","cId":{"name":"answers[40555_275696]","value":""},"embedded":true,"url":{"name":"answers[40555_275697]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":false,"displayStartDate":"2024-03-21","displayEndDate":"2025-03-20T23:59:59","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":true},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"あなたはこのページを読んで楽天モバイルに興味を持ちましたか？"},"options":[{"name":"answers[40555_275698][]","value":"765438"},{"name":"answers[40555_275698][]","value":"765439"},{"name":"answers[40555_275698][]","value":"765440"},{"name":"answers[40555_275698][]","value":"765441"},{"name":"answers[40555_275698][]","value":"765442"}],"txt0":"興味を持たなかった","txt1":"とても興味を持った","checked":4},"inquiry":{"available":false,"checkList":{"questionType":"multipleAnswer","available":true,"question":"このキャンペーンに関し、あなたの意見にあてはまるものを下記から選んでください。(複数選択可)","shuffleChoices":true,"options":[{"name":"answers[40555_275699][]","value":"765443","label":"トップ画像のデザインからキャンペーンの趣旨が伝わりやすい"},{"name":"answers[40555_275699][]","value":"765444","label":"知りたい情報が見つけやすい"},{"name":"answers[40555_275699][]","value":"765445","label":"キャンペーン掲載商品が魅力的"},{"name":"answers[40555_275699][]","value":"765446","label":"ページ内の特集コンテンツが魅力的"},{"name":"answers[40555_275699][]","value":"765447","label":"自分がキャンペーンの対象かどうかわかりやすい"},{"name":"answers[40555_275699][]","value":"765448","label":"キャンペーンの達成条件が分かりやすい"},{"name":"answers[40555_275699][]","value":"765449","label":"報酬の受取りタイミングや受取り方が明確"}]},"freeInput":{"available":true,"name":"answers[40555_275700]","title":"このキャンペーンに関して上記以外にご意見ございましたらお知らせください(任意)【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[40555_275699][]","value":"765443","label":""},{"name":"answers[40555_275699][]","value":"765444","label":""},{"name":"answers[40555_275699][]","value":"765445","label":""},{"name":"answers[40555_275699][]","value":"765446","label":""},{"name":"answers[40555_275699][]","value":"765447","label":""},{"name":"answers[40555_275699][]","value":"765448","label":""},{"name":"answers[40555_275699][]","value":"765449","label":""}]}},"ua":{"name":"answers[40555_275701]"},"href":{"name":"answers[40555_275702]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
    </script>
    <!-- ReX UX Survey: Script -->
    <script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>

    <footer class="g-Footer g-Footer_<%= namespace %>">

      <div class="g-Footer_Aside">

        <%- include('/include/footer/related/_related-news.ejs') %>

        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>

      <%- include('/include/_footer') %>

    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/reportcard.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
  <script>
    function fixedBtn(trigger, elm) {
      let scrollY = window.pageYOffset;

      if( !elm || !trigger ) return;

      const triggerRect = trigger.getBoundingClientRect();
      const triggerY = scrollY + triggerRect.top;

      if ( scrollY > triggerY ) {
        elm.setAttribute('aria-expanded', 'true');
      } else {
        elm.setAttribute('aria-expanded', 'false');
      }
    }

    function fixedBtnInit() {
      const bottomTrigger = document.getElementById('js-trigger');
      const bottomBtn = document.getElementById('js-fixed-btn');
      fixedBtn(bottomTrigger, bottomBtn)
    }

    window.addEventListener('scroll', fixedBtnInit);
  </script>

</body>
</html>
