<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "RAT自動化テストページ" -%>
<% const directories = [{path: hikariroot.path + "lid-test/", label:"RAT自動化テストページ"}] -%>
<% const namespace = "hikari-point-case" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '',
    noindex: false,
    pathname: filepath,
    ishikari: true
  });
%>
<%- include('/include/hikari/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/module/m-hikari-cpn.css?20240424">


<%- include('/include/_append-head-hikari') %>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>

<div class="l-System">

  <%- include('/include/hikari/_header') %>

  <div class="c-hikari-Breadcrumbs_Head">
    <ul>
      <li><a href="<%= rootpath %>" data-lid_parts="bct"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <li><a href="<%= rootpath %><%= hikariroot.path %>" data-lid_parts="bct"><%= hikariroot.title %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>" data-lid_parts="bct"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <div class="l-hikari-Section_Main">
    <div class="l-hikari-Section_Main-logo"><a href="<%= sitepath %>hikari/" data-lid_parts="logo"><img src="<%= sitepath %>assets/img/hikari/common/logo-hikari-s.svg" width="100" alt="楽天ひかり"></a></div>
    <p class="c-Txt_Cap l-hikari-Section_Main-cap">※表記の金額は特に記載のある場合を除きすべて税込です。</p>
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
      <h2 class="c-Heding_Lv2 u-Adjust_Mt-16">自動化リンクいろいろサンプル</h2>
      <h3 class="c-Heding_Lv3 u-Adjust_Mt-16">ひかりサイト内ページリンク</h3>
      <ul class="c-List_Text-disc u-Adjust_Mt-8">
        <li><a href="<%= sitepath %>hikari/">ひかり トップ</a></li>
        <li><a href="<%= sitepath %>hikari/fee/">ひかり 料金・お支払い方法</a></li>
        <li><a href="<%= sitepath %>hikari/campaign/#dummy">ひかり キャンペーン一覧(アンカーリンク設定してある場合)</a></li>
        <li><a href="<%= sitepath %>hikari/campaign/one-year-free/">ひかり 1年無料（リダイレクト）</a></li>
        <li><a href="<%= sitepath %>hikari/campaign/one-year-free/new.html">ひかり 1年無料（新規）</a></li>
        <li><a href="<%= sitepath %>hikari/campaign/one-year-free/mno.html">ひかり 1年無料（契約）</a></li>
        <li><a href="<%= sitepath %>hikari/flow/" data-lid_no="01">ひかり 申し込みの流れ・連番1</a></li>
        <li><a href="<%= sitepath %>hikari/flow/" data-lid_no="02">ひかり 申し込みの流れ・連番2</a></li>
        <li><a href="<%= sitepath %>hikari/internet/benefit/" data-lid_no="02">ひかり 光回線のメリット・連番2</a></li>
        <li><a href="<%= sitepath %>hikari/internet/benefit/" data-lid_no="01">ひかり 光回線のメリット・連番1</a></li>
      </ul>

      <h3 class="c-Heding_Lv3 u-Adjust_Mt-40">MNOページへ飛ぶリンク</h3>
      <ul class="c-List_Text-disc u-Adjust_Mt-8">
        <li><a href="<%= sitepath %>">MNO トップ</a></li>
        <li><a href="<%= sitepath %>fee/un-limit/">MNO UN-LIMIT</a></li>
        <li><a href="<%= sitepath %>campaign/hikari/">MNO ひかり1年無料（既存）</a></li>
        <li><a href="<%= sitepath %>hikari/campaign/one-year-free/?210708">MNO ひかり1年無料（リダイレクト）</a></li>
        <li><a href="<%= sitepath %>hikari/campaign/one-year-free/new.html">MNO ひかり1年無料（新規）</a></li>
        <li><a href="<%= sitepath %>hikari/campaign/one-year-free/mno.html">MNO ひかり1年無料（契約）</a></li>
        <li><a href="<%= sitepath %>guide/application/">MNO 申し込み（onboarding）</a></li>

      </ul>

      <h3 class="c-Heding_Lv3 u-Adjust_Mt-40">関連ドメイン</h3>
      <ul class="c-List_Text-disc u-Adjust_Mt-8">
        <li><a href="https://hikari.faq.rakuten.net/?site_domain=default" target="_blank">FAQ TOP</a></li>
        <li><a href="https://hikari.faq.rakuten.net/category/show/160?site_domain=default" target="_blank">FAQ カテゴリ</a></li>
        <li><a href="https://hikari.faq.rakuten.net/faq/show/5817?site_domain=default" target="_blank">FAQ 詳細</a></li>
        <li><a href="https://secure3.gol.com/mod-pl/rbb/rmch.cgi?scode=qngTI9rXJpRlc1l6roM&cpnkind=mnocampaign">申し込みOLSU (secure3.gol.com）</a></li>
        <li><a href="https://ms.fusioncom.co.jp/rbb/members/login?campaign=web-rakuten">メンバーズステーション (ms.fusioncom.co.jp）</a></li>
      </ul>

      <h3 class="c-Heding_Lv3 u-Adjust_Mt-40">外部へ飛ぶページリンク</h3>
      <ul class="c-List_Text-disc u-Adjust_Mt-8">
        <li><a href="https://flets.com/" target="_blank">フレッツ東日本エリア</a></li>
        <li><a href="https://flets-w.com/cart/?etc_data_kks=kantan%3D1%40" target="_blank">フレッツ西日本エリア</a></li>
        <li><a href="https://corp.mobile.rakuten.co.jp/" target="_blank">楽天モバイルコーポレート</a></li>
        <li><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank">楽天市場FAQ</a></li>
      </ul>


      <h3 class="c-Heding_Lv3 u-Adjust_Mt-40">PDF</h3>
      <ul class="c-List_Text-disc u-Adjust_Mt-8">
        <li><a href="<%= sitepath %>assets/pdf/hikari/terms/commhikari.pdf?230601-2">PDFへ</a></li>
      </ul>

      <h3 class="c-Heding_Lv3 u-Adjust_Mt-40">アコーディオンFAQ（個別ページ・連番）</h3>
      <div id="rat-faq-accordion">
        <div class="c-Accordion u-Adjust_Mt-24">
          <button id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天ひかりに申し込んだ後にキャンペーン特典が適用されているかを確認するにはどうしたらよいでしょうか？</button>
          <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
            <div class="u-Adjust_Pl-16">
              <p>楽天ひかり開通月の翌月末以降、楽天ブロードバンドメンバーズステーション「会員メニュー」の「適用割引・キャンペーン」でご確認いただけます。</p>
              <p><a href="https://ms.fusioncom.co.jp/rbb/members/login?campaign=web-rakuten" target="_blank" rel="noopener noreferrer" class="c-Link_Txt-inline">楽天ブロードバンドメンバーズステーションにログインする<span class="c-Icon_New-window-l"></span></a></p>
            </div>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-7" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-7"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>派遣工事が必要？</button>
          <div id="accordion-content-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-7" aria-hidden="true">
            <div class="u-Adjust_Pl-16">
              <ul class="c-List_Text-disc">
                <li>ご自宅の設備状況によって異なります。</li>
                <li>派遣工事の有無につきましては、お申し込み後に担当部署から1週間以内にご連絡をいたします。</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-8" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-8"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天ひかりが利用できるエリアか確認できますか？</button>
          <div id="accordion-content-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-8" aria-hidden="true">
            <div class="u-Adjust_Pl-16">
              <ul class="c-List_Text-disc">
                <li>楽天ひかりは、NTTより借り受けたフレッツ光回線とプロバイダー「楽天ブロードバンド」をセットにしたおトクな高速インターネットです。NTTフレッツ光回線がご利用可能なエリアは、楽天ひかりもご利用いただけます。下記ページでご確認ください。</li>
              </ul>
              <p class="u-Adjust_Mt-16">東日本エリアにお住まいの方<br><a href="https://flets.com/" target="_blank" class="c-Link_Txt-inline">https://flets.com/<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-16">西日本エリアにお住まいの方<br><a href="https://flets-w.com/cart/?etc_data_kks=kantan%3D1%40" target="_blank" class="c-Link_Txt-inline">https://flets-w.com/cart/?etc_data_kks=kantan%3D1%40<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-16" style="color: #BF0000;">
                ※ 上記NTTサイトから「楽天ひかり」のお申し込みはできませんのでご注意ください。
              </p>
            </div>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-10" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-10"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>工事は土日や祝日も対応可能？</button>
          <div id="accordion-content-10" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-10" aria-hidden="true">
            <p class="u-Adjust_Pl-16">
              土日や祝日も工事予約の空き状況により、工事はできます。<br>
              なお、土日や祝日での工事をご希望の場合は、初期工事費に加え、3,300円の追加工事費をいただいております。<br>
              ※ 追加工事費も分割にてご請求いたします。
            </p>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-11" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-11"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>事業者変更をする場合、事業者変更承諾番号の取得時に必要なもの。</button>
          <div id="accordion-content-11" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-11" aria-hidden="true">
            <div class="u-Adjust_Pl-16">
              <div>事業者変更承諾番号の取得は、ご契約中の光コラボレーション事業者に申し込みが必要です。<br>
                ※ 代理店での発行はできませんのでご注意ください。<br>
                &nbsp;</div>
                <div>■事前に必要な情報</div>
                <div>光コラボレーション事業者により異なりますが、一般的には下記の情報が必要です。</div>
                <div>&nbsp;</div>
                <div>・回線ID（CAF番号） ※ NTT西日本の提供エリアにお住まいの場合のみ必要です。<br>
                ・ご契約者名</div>
            </div>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-12" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-12"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>転用承諾番号の取得時に必要なもの。</button>
          <div id="accordion-content-12" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-12" aria-hidden="true">
            <div class="u-Adjust_Pl-16">
              <div>■転用承諾番号の取得はNTT東日本・NTT西日本へ申し込みが必要です。<br>
                ホームページもしくは電話で申し込みが可能です。</div>
                <div><br>
                ■事前に必要な情報<br>
                ・「フレッツ光」のお客さまID（CAFまたはLで始まる番号）<br>
                ・「フレッツ光」のご契約者名<br>
                ・「フレッツ光」のご利用場所住所<br>
                ・現在のお支払い方法</div>

                <div><br>
                ■申し込み窓口<br>
                ・NTT東日本<br>
                ▼WEB申し込み<br>
                <a href="https://flets.com/app4/input/index/" target="_blank" class="c-Link_Txt-inline">https://flets.com/app4/input/index/<span class="c-Icon_New-window-l"></span></a><br>
                受付時間：8:30-22:00（年末年始を除く）<br>
                ▼電話申し込み<br>
                電話番号：0120-140-202<br>
                受付時間：9:00-17:00（年末年始を除く）</div>
                <div><br>・NTT西日本<br>
                ▼WEB申し込み<br>
                <a href="https://flets-w.com/collabo/tenyou/entry/" target="_blank" class="c-Link_Txt-inline">https://flets-w.com/collabo/tenyou/entry/<span class="c-Icon_New-window-l"></span></a><br>
                受付時間：7:00-25:00（年末年始を除く）<br>
                ▼電話申し込み<br>
                電話番号：0120-553-104<br>
                受付時間：9:00-17:00（年末年始を除く）
              </div>
            </div>
          </div>
        </div>
      </div>

      <h2 class="c-Heding_Lv2 u-Adjust_Mt-64">自動化しないもの</h2>
      <h3 class="c-Heding_Lv3 u-Adjust_Mt-16">アコーディオン・モーダル・アンカーリンクなど</h3>
      <ul class="c-List_Text-disc u-Adjust_Mt-8">
        <li><a href="#top" class="js-scroll" title="トップへ戻る">トップへ戻る（アンカー）</a></li>
        <li><a href="#modal1">モーダル1</a></li>
        <li><a href="tel:08012345678">電話をかけるリンク</a></li>
      </ul>
      <div class="c-Accordion u-Adjust_Mt-16">
        <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>アコーディオン</button>
        <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
          <p>中身中身中身中身中身中身中身中身中身中身</p>
        </div>
      </div>
      <div class="c-Tab js-Tab u-Adjust_Mt-16">
        <ul class="c-Tab_Items" role="tablist">
            <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">tab menu 1</li>
            <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">tab menu 2</li>
        </ul>
        <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
            tab-content1
        </div>
        <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
            tab-content2
        </div>
      </div>

      <h3 class="c-Heding_Lv3 u-Adjust_Mt-40">すでにlid、ratidが付与されてるもの（ページリンク・クリックイベント）エントリー</h3>
      <ul class="c-List_Text-disc u-Adjust_Mt-8">
        <li><a href="#modal2" data-ratid="rhk_modal_dummy" data-ratevent="click" data-ratparam="all">モーダル2</a></li>
        <li><a href="<%= sitepath %>hikari/inquiry/?l-id=rhk_inquiry_chat">既存のlidをそのまま使いたい（サンプル用リンク）</a></li>
      </ul>

      <p class="u-Adjust_Mt-16 c-Txt_Emp-underline">エントリー関連・再調査中... <br>
        JSでlid操作してなければ自動付与可能なので連番対応だけで良さそう（aタグに関して）<br>
        エントリーボタン（buttonタグ）はクリックイベント（ratid）を手動でつける。
      </p>


    </div>

    <div class="u-Adjust_Mt-80">
      <%
      const localNavTitle = 'もっと知りたい、おトクなこと'
      const localNav = [
        {
          'url': '/hikari/point/',
          'title': '楽天ポイントでおトク',
          'text': '楽天ひかりのポイントおトク情報を紹介！',
          'current': false,
        },
        {
          'url': '/hikari/point/case-01/',
          'title': 'ライフイベントでポイントをガッツリ貯める',
          'text': '楽天市場でのお買い物で通常450ポイントが2,925ポイントに！？',
          'current': true,
        },
        {
          'url': '/hikari/point/case-02/',
          'title': '毎月かかる生活費で賢くポイントを貯める',
          'text': '日用品は楽天市場で購入！年間13,200ポイント貯まる！？',
          'current': false,
        }
      ]
    %>
    <%- include('/include/hikari/local-nav', { localNavTitle: localNavTitle, localNav: localNav }) %>
    </div>

    <div class="l-hikari-Section_Sub-short">
      <%
        // イレギュラーがあれば設定
        const hikariCpn = {
          'title': '12/28 9:59まで！<span class="m-hikari-Cpn_Annotation">※1</span><br class="m-hikari-Cpn_Sp">ひかり1年無料<span class="m-hikari-Cpn_Annotation">※2</span><br class="m-hikari-Cpn_Sp"> ＋工事費無料<span class="m-hikari-Cpn_Annotation">※3</span>',
          'text': 'スマホと一緒に申し込むと<br class="m-hikari-Cpn_Sp">ひかりがおトク!!',
          'url': '/campaign/hikari/',
          'btn': '楽天ひかりUN-LIMIT<br class="m-hikari-Cpn_Sp">キャンペーンを見る',
          'annotation': '※ 楽天ひかり（マンションプランまたはファミリープラン）の月額基本料が開通月から最大12カ月間無料。Rakuten UN-LIMIT VIをすでに開通、または期限内にお申し込みの方が対象。楽天ひかりの契約期間中（3年ごとに更新）は契約解除料10,450円が発生。'
        }
      %>
      <%- include('/include/hikari/local-cpn', { hikariCpn: hikariCpn }) %>
    </div>

  </div>

  <%- include('/include/hikari/footer-nav', {
    nav: true,
    faq: 'eco',
    cta: true
  }) %>

  <div class="c-hikari-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>" data-lid_parts="bcb"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <li><a href="<%= rootpath %><%= hikariroot.path %>" data-lid_parts="bcb"><%= hikariroot.title %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>" data-lid_parts="bcb"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <div class="g-hikari-Footer_Pagetop">
    <a href="#top" class="js-scroll" title="トップへ戻る">
      <span class="c-Icon_Arrow-up-l"></span>
    </a>
  </div>

  <footer class="g-Footer u-Adjust_Pb-64">
    <%- include('/include/hikari/_footer') %>
  </footer>

</div>
<%- include('/include/hikari/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
