<%_
const namespace = "treasureHunt"
const imgPath = "/assets/img/area/campaign/treasure-hunt/"
_%>

<section class="<%= namespace %>-Anchor">
  <div class="<%= namespace %>-Anchor_Wrapper <%= namespace %>-Anchor_Pc-show">
    <div class="<%= namespace %>-Anchor_Contents u-Adjust_Mt-24">
      <%# Anchor flow %>
      <div class="<%= namespace %>-Anchor_Contents-item">
        <a href="#flow" data-ratid="mi_rmb_web_202404_treasure-hunt_tab1" data-ratevent="click" data-ratparam="all" class="<%= namespace %>-Anchor_Contents-arrow js-scroll">
          <img src="<%= imgPath %>icon-flow.svg" alt="宝探しの流れ">
          <p class="<%= namespace %>-Anchor_Contents-title">宝探しの流れ</p>
          <span class="c-Icon_Arrow-down-l"></span>
        </a>
      </div>
      <%# Anchor mission %>
      <div class="<%= namespace %>-Anchor_Contents-item">
        <a href="#mission" data-ratid="mi_rmb_web_202404_treasure-hunt_tab2" data-ratevent="click" data-ratparam="all" class="<%= namespace %>-Anchor_Contents-arrow js-scroll">
          <img src="<%= imgPath %>icon-mission.svg" alt="特典＆ミッション">
          <p class="<%= namespace %>-Anchor_Contents-title">特典＆ミッション</p>
          <span class="c-Icon_Arrow-down-l"></span>
        </a>
      </div>
      <%# Anchor quiz %>
      <div class="<%= namespace %>-Anchor_Contents-item">
        <a href="#treasure-question" data-ratid="mi_rmb_web_202404_treasure-hunt_tab3" data-ratevent="click" data-ratparam="all" class="<%= namespace %>-Anchor_Contents-arrow js-scroll">
          <img src="<%= imgPath %>icon-quiz.svg" alt="謎解き">
          <p class="<%= namespace %>-Anchor_Contents-title">謎解き</p>
          <span class="c-Icon_Arrow-down-l"></span>
        </a>
      </div>
      <%# Anchor sns %>
      <div class="<%= namespace %>-Anchor_Contents-item">
        <a href="#sns" data-ratid="mi_rmb_web_202404_treasure-hunt_tab4" data-ratevent="click" data-ratparam="all" class="<%= namespace %>-Anchor_Contents-arrow js-scroll">
          <img src="<%= imgPath %>icon-sns.svg" alt="みんなの投稿">
          <p class="<%= namespace %>-Anchor_Contents-title">みんなの投稿</p>
          <span class="c-Icon_Arrow-down-l"></span>
        </a>
      </div>
    </div>
  </div>

  <div class="<%= namespace %>-Anchor_Wrapper <%= namespace %>-Anchor_Sp-show">
    <div class="<%= namespace %>-Anchor_Contents u-Adjust_Mt-24">
      <div class="<%= namespace %>-Anchor_Contents-sp" id="js-anchor-wrap">
        <%# Anchor flow SP %>
        <div class="<%= namespace %>-Anchor_Contents-item">
          <a href="#flow" data-ratid="mi_rmb_web_202404_treasure-hunt_tab1" data-ratevent="click" data-ratparam="all" class="<%= namespace %>-Anchor_Contents-arrow js-scroll">
            <img src="<%= imgPath %>icon-flow.svg" alt="宝探しの流れ">
            <p class="<%= namespace %>-Anchor_Contents-title">宝探しの<br>流れ</p>
            <span class="c-Icon_Arrow-down-l"></span>
          </a>
        </div>
        <%# Anchor mission SP %>
        <div class="<%= namespace %>-Anchor_Contents-item">
          <a href="#mission" data-ratid="mi_rmb_web_202404_treasure-hunt_tab2" data-ratevent="click" data-ratparam="all" class="<%= namespace %>-Anchor_Contents-arrow js-scroll">
            <img src="<%= imgPath %>icon-mission.svg" alt="特典＆ミッション">
            <p class="<%= namespace %>-Anchor_Contents-title">特典＆<br>ミッション</p>
            <span class="c-Icon_Arrow-down-l"></span>
          </a>
        </div>
        <%# Anchor quiz SP %>
        <div class="<%= namespace %>-Anchor_Contents-item">
          <a href="#treasure-question" data-ratid="mi_rmb_web_202404_treasure-hunt_tab3" data-ratevent="click" data-ratparam="all" class="<%= namespace %>-Anchor_Contents-arrow js-scroll">
            <img src="<%= imgPath %>icon-quiz.svg" alt="謎解き">
            <p class="<%= namespace %>-Anchor_Contents-title">謎解き</p>
            <span class="c-Icon_Arrow-down-l"></span>
          </a>
        </div>
        <%# Anchor sns SP %>
        <div class="<%= namespace %>-Anchor_Contents-item">
          <a href="#sns" data-ratid="mi_rmb_web_202404_treasure-hunt_tab4" data-ratevent="click" data-ratparam="all" class="<%= namespace %>-Anchor_Contents-arrow js-scroll">
            <img src="<%= imgPath %>icon-sns.svg" alt="みんなの投稿">
            <p class="<%= namespace %>-Anchor_Contents-title">みんなの<br>投稿</p>
            <span class="c-Icon_Arrow-down-l"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
