<%_
  const namespace = "treasureHunt"
  const imgPath = "/assets/img/area/campaign/treasure-hunt/flow/"
_%>

<section class="<%= namespace %>-Flow u-Adjust_Align-center u-Adjust_Pt-48 u-Adjust_Mt-40" id="flow">
  <div class="l-System_Container" id="js-nav">
    <div>
      <h2 class="<%= namespace %>-Flow_Title">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>img-title-1.png" width="216">
          <img src="<%= imgPath %>img-title-1.png" alt="宝探しの流れ" width="240">
        </picture>
      </h2>
    </div>
    <div class="<%= namespace %>-Flow_Road">
      <div class="<%= namespace %>-Flow_Items <%= namespace %>-Flow_Items--display-pc">
        <div class="<%= namespace %>-Flow_Item u-Adjust_Align-center <%= namespace %>-Flow_Item--up">
          <div class="u-Adjust_Mb-8">
            <img src="<%= imgPath %>img-start.png" alt="スタート!" width="188">
          </div>
          <div class="<%= namespace %>-Flow_Border <%= namespace %>-Flow_Border--space">
            <img src="<%= imgPath %>img-step-1-pc.png" alt="" width="224">
            <div class="u-Adjust_Mt-16">
              <a href="https://lgns.rakuten.co.jp/dist/doc/html/8074856808ebec0c49403ce3589b28de/start_step1.html?l-id=mi_rmb_web_202404_treasure-hunt_entry_flow" class="c-Btn_Primary-large">まずはエントリー</a>
            </div>
          </div>
        </div>
        <div class="<%= namespace %>-Flow_Item u-Adjust_Align-center u-Adjust_Mt-64">
          <div class="<%= namespace %>-Flow_Mission <%= namespace %>-Flow_Mission--1">
            <div class="u-Adjust_Align-center">
              <img src="<%= imgPath %>img-sns.png" alt="フォロー" width="185">
            </div>
            <p class="u-Adjust_Mt-8">
              <img src="<%= imgPath %>img-follow.png" alt="楽天モバイル公式Xをフォローしてキャンペーン告知をリポストしよう" width="263">
            </p>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <a href="#mission1" class="c-Link_Txt-inline js-anchor" data-ratid="mi_rmb_web_202404_treasure-hunt_mission1detail" data-ratevent="click" data-ratparam="all" data-accordion="mission-accordion-1"><span class="c-Icon_Arrow-down-l"></span>詳しく見る</a>
            </div>
          </div>
        </div>
        <div class="<%= namespace %>-Flow_Item u-Adjust_Align-center">
          <div class="<%= namespace %>-Flow_Flex">
            <img src="<%= imgPath %>img-step-3.png" alt="" width="115">
            <div class="u-Adjust_Mt-8">
              <img src="<%= imgPath %>img-step-3-text.png" alt="次は謎解きにチャレンジ!" width="182">
            </div>
          </div>
          <div class="<%= namespace %>-Flow_Border u-Adjust_Pt-16 u-Adjust_Pb-16">
            <div class="u-Adjust_Mt-8">
              <img src="<%= imgPath %>img-treasure-map.png" alt="3つの謎を解いて宝箱の隠し場所をゲットしよう+現地で解く最後の謎が出題されるよ" width="265">
            </div>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <a href="#treasure-question" class="c-Link_Txt-inline js-scroll" data-ratid="mi_rmb_web_202404_treasure-hunt_quiz" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>謎解きはこちら</a>
            </div>
          </div>
        </div>
        <div class="<%= namespace %>-Flow_Item u-Adjust_Align-center <%= namespace %>-Flow_Item--position">
          <div class="<%= namespace %>-Flow_Flex">
            <img src="<%= imgPath %>img-step-4-text.png" alt="ゲットした情報で宝探しに出発！" width="185">
            <img src="<%= imgPath %>img-step-4.png" alt="" width="116">
          </div>
          <div class="<%= namespace %>-Flow_Mission <%= namespace %>-Flow_Mission--2 <%= namespace %>-Flow_Mission--position-text-get">
            <div class="u-Adjust_Mt-8">
              <img src="<%= imgPath %>img-sns-x.png" alt="X" width="69">
            </div>
            <div class="u-Adjust_Mt-8">
              <img src="<%= imgPath %>img-step-4-lead.png" alt="「＃ここでもつながる楽天モバイル」をつけて、宝探しの様子や参加宣言をXに投稿しよう ※X投稿のタイミングは期間中いつでもOK" width="246">
            </div>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <a href="#mission2" class="c-Link_Txt-inline js-anchor" data-ratid="mi_rmb_web_202404_treasure-hunt_mission2detail" data-ratevent="click" data-ratparam="all" data-accordion="mission-accordion-2"><span class="c-Icon_Arrow-down-l"></span>詳しく見る</a>
            </div>
          </div>
        </div>
        <div class="<%= namespace %>-Flow_Item u-Adjust_Align-center <%= namespace %>-Flow_Item--position u-Adjust_Mt-24">
          <div class="<%= namespace %>-Flow_Flex <%= namespace %>-Flow_Flex-img">
            <div class="u-Adjust_Mt-8">
              <img src="<%= imgPath %>img-step-5-text.png" alt="宝箱を発見！" width="158">
            </div>
            <img src="<%= imgPath %>img-step-5.png" alt="" width="147">
          </div>
          <div class="<%= namespace %>-Flow_Mission <%= namespace %>-Flow_Mission--3 <%= namespace %>-Flow_Mission--position-text">
            <img src="<%= imgPath %>img-treasure-box.png" alt="" width="152">
            <div class="u-Adjust_Mt-8">
              <img src="<%= imgPath %>img-step-5-lead.png" alt="宝箱の中のQRコードから最後の謎を解いて応募しよう" width="234">
            </div>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <a href="#mission3" class="c-Link_Txt-inline js-anchor" data-ratid="mi_rmb_web_202404_treasure-hunt_mission3detail" data-ratevent="click" data-ratparam="all" data-accordion="mission-accordion-3"><span class="c-Icon_Arrow-down-l"></span>詳しく見る</a>
            </div>
          </div>
        </div>
        <div class="<%= namespace %>-Flow_Item u-Adjust_Align-center <%= namespace %>-Flow_Item--down">
          <img src="<%= imgPath %>img-clear.png" alt="すべてのミッションクリア！" width="302">
        </div>
      </div>
      <!-- tab用 -->
      <div class="<%= namespace %>-Flow_Items--display-tab">
        <div class="<%= namespace %>-Flow_Item u-Adjust_Align-center">
          <div class="<%= namespace %>-Flow_Flex">
            <img src="<%= imgPath %>img-step-1-sp.png" alt="" width="94">
            <div class="u-Adjust_Ml-16">
              <img src="<%= imgPath %>img-start.png" alt="スタート!" width="174">
            </div>
          </div>
          <div class="<%= namespace %>-Flow_Border">
            <div>
              <a href="https://lgns.rakuten.co.jp/dist/doc/html/8074856808ebec0c49403ce3589b28de/start_step1.html?l-id=mi_rmb_web_202404_treasure-hunt_entry_flow" class="c-Btn_Primary-large">まずはエントリー</a>
            </div>
          </div>
        </div>
        <div>
          <img src="<%= imgPath %>img-bg-2-sp.png" alt="" width="343">
        </div>
        <div class="<%= namespace %>-Flow_Item u-Adjust_Align-center">
          <div class="<%= namespace %>-Flow_Mission">
            <div class="<%= namespace %>-Flow_Flex <%= namespace %>-Flow_Flex--start u-Adjust_Mt-24 u-Adjust_Mt-pc-16">
              <div class="u-Adjust_Align-center">
                <img src="<%= imgPath %>img-sns.png" alt="フォロー" width="121">
              </div>
              <p class="u-Adjust_Mt-8">
                <img src="<%= imgPath %>img-follow-sp.png" alt="楽天モバイル公式Xをフォローしてキャンペーン告知をリポストしよう" width="177">
              </p>
            </div>
            <div class="u-Adjust_Mt-8 u-Adjust_Align-center">
              <a href="#mission1" class="c-Link_Txt-inline js-anchor" data-ratid="mi_rmb_web_202404_treasure-hunt_mission1detail" data-ratevent="click" data-ratparam="all" data-accordion="mission-accordion-1"><span class="c-Icon_Arrow-down-l"></span>詳しく見る</a>
            </div>
          </div>
        </div>
        <div>
          <img src="<%= imgPath %>img-bg-3-sp.png" alt="" width="343">
        </div>
        <div class="<%= namespace %>-Flow_Item u-Adjust_Align-center <%= namespace %>-Flow_Item--position-middle">
          <div class="<%= namespace %>-Flow_Flex">
            <img src="<%= imgPath %>img-step-3.png" alt="" width="127">
            <div class="u-Adjust_Mt-16">
              <img src="<%= imgPath %>img-step-3-text.png" alt="次は謎解きにチャレンジ!" width="202">
            </div>
          </div>
          <div class="<%= namespace %>-Flow_Border u-Adjust_Pt-16 u-Adjust_Pb-16">
            <img src="<%= imgPath %>img-step-3-lead.png" alt="3つの謎を解いて宝箱の隠し場所をゲットしよう" width="293">
            <div class="u-Adjust_Mt-8">
              <img src="<%= imgPath %>img-treasure-map-sp.png" alt="宝箱のありか" width="218">
            </div>
            <img src="<%= imgPath %>img-step-3-lead-2.png" alt="現地で解く最後の謎が出題されるよ" width="293">
            <div class="u-Adjust_Mt-8 u-Adjust_Align-center">
              <a href="#treasure-question" class="c-Link_Txt-inline js-scroll" data-ratid="mi_rmb_web_202404_treasure-hunt_quiz" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>謎解きはこちら</a>
            </div>
          </div>
        </div>
        <div class="<%= namespace %>-Flow_Bg">
          <img src="<%= imgPath %>img-bg-4-sp.png" alt="" width="343">
        </div>
        <div class="<%= namespace %>-Flow_Item <%= namespace %>-Flow_Item--position-middle u-Adjust_Align-center">
          <div class="<%= namespace %>-Flow_Flex">
            <div class="u-Adjust_Mt-16">
              <img src="<%= imgPath %>img-step-4-text.png" alt="ゲットした情報で宝探しに出発！" width="211">
            </div>
            <img src="<%= imgPath %>img-step-4.png" alt="" width="128">
          </div>
          <div class="<%= namespace %>-Flow_Mission <%= namespace %>-Flow_Mission--2 <%= namespace %>-Flow_Mission--position-treasure">
            <div class="<%= namespace %>-Flow_Flex <%= namespace %>-Flow_Flex--start u-Adjust_Mt-32">
              <img src="<%= imgPath %>img-sns-x.png" alt="X" width="49">
              <div class="u-Adjust_Ml-8">
                <img src="<%= imgPath %>img-step-4-lead.png" alt="「＃ここでもつながる楽天モバイル」をつけて、宝探しの様子や参加宣言をXに投稿しよう ※X投稿のタイミングは期間中いつでもOK" width="261">
              </div>
            </div>
            <div class="u-Adjust_Mt-8 u-Adjust_Align-center">
              <a href="#mission2" class="c-Link_Txt-inline js-anchor" data-ratid="mi_rmb_web_202404_treasure-hunt_mission2detail" data-ratevent="click" data-ratparam="all" data-accordion="mission-accordion-2"><span class="c-Icon_Arrow-down-l"></span>詳しく見る</a>
            </div>
          </div>
        </div>
        <div class="<%= namespace %>-Flow_Bg">
          <img src="<%= imgPath %>img-bg-5-sp.png" alt="" width="343">
        </div>
        <div class="<%= namespace %>-Flow_Item <%= namespace %>-Flow_Item--position-top u-Adjust_Align-center">
          <div class="<%= namespace %>-Flow_Flex">
            <img src="<%= imgPath %>img-step-5.png" alt="" width="147">
            <div class="u-Adjust_Mt-8">
              <img src="<%= imgPath %>img-step-5-text.png" alt="宝箱を発見！" width="190">
            </div>
          </div>
          <div class="<%= namespace %>-Flow_Mission <%= namespace %>-Flow_Mission--3 <%= namespace %>-Flow_Mission--position">
            <div class="<%= namespace %>-Flow_Flex <%= namespace %>-Flow_Flex--start u-Adjust_Mt-24">
              <img src="<%= imgPath %>img-treasure-box.png" alt="" width="104">
              <div class="u-Adjust_Mt-8 u-Adjust_Ml-8">
                <img src="<%= imgPath %>img-step-5-lead-sp.png" alt="宝箱の中のQRコードから最後の謎を解いて応募しよう" width="202">
              </div>
            </div>
            <div class="u-Adjust_Mt-8 u-Adjust_Align-center">
              <a href="#mission3" class="c-Link_Txt-inline js-anchor" data-ratid="mi_rmb_web_202404_treasure-hunt_mission3detail" data-ratevent="click" data-ratparam="all" data-accordion="mission-accordion-3"><span class="c-Icon_Arrow-down-l"></span>詳しく見る</a>
            </div>
          </div>
        </div>
        <div class="<%= namespace %>-Flow_Item u-Adjust_Align-center <%= namespace %>-Flow_Item--clear-bg">
          <img src="<%= imgPath %>img-clear-sp.png" alt="すべてのミッションクリア！" width="343">
        </div>
      </div>
    </div>
  </div>
</section>
