<%_
const namespace = "treasureHunt"
const imgPath = "/assets/img/area/campaign/treasure-hunt/"
_%>

<div class="<%= namespace %>-Followmenu_Wrapper" id="js-follow-btn" aria-expanded="false">
  <ul class="<%= namespace %>-Followmenu_List">
    <li>
      <a href="#flow" data-ratid="mi_rmb_web_202404_treasure-hunt_tab1" data-ratevent="click" data-ratparam="all" class="c-Link_Txt-icon-front js-scroll">
      <span class="c-Icon_Arrow-down-l u-Show_Xxo"></span>
      <p class="<%= namespace %>-Followmenu_List-content c-Txt_Emp-01">
        <span class="<%= namespace %>-Followmenu_List-txt <%= namespace %>-Utility_Show-pc">宝探しの流れ</span>
        <span class="<%= namespace %>-Followmenu_List-txt <%= namespace %>-Utility_Show-sp">流れ</span>
      </p>
      <span class="<%= namespace %>-Followmenu_List-img"><img src="<%= imgPath %>icon-flow.svg" loading="lazy" width="24" height="24" alt="宝探しの流れ"></span>
      </a>
    </li>
    <li>
      <a href="#mission" data-ratid="mi_rmb_web_202404_treasure-hunt_tab2" data-ratevent="click" ata-ratparam="all" class="c-Link_Txt-icon-front js-scroll">
      <span class="c-Icon_Arrow-down-l u-Show_Xxo"></span>
      <p class="<%= namespace %>-Followmenu_List-content c-Txt_Emp-01">
        <span class="<%= namespace %>-Followmenu_List-txt <%= namespace %>-Utility_Show-pc">特典＆ミッション</span>
        <span class="<%= namespace %>-Followmenu_List-txt <%= namespace %>-Utility_Show-sp">特典</span>
      </p>
      <span class="<%= namespace %>-Followmenu_List-img"><img src="<%= imgPath %>icon-mission.svg" loading="lazy" width="24" height="24" alt="特典＆ミッション"></span>
      </a>
    </li>
    <li>
      <a href="#treasure-question" data-ratid="mi_rmb_web_202404_treasure-hunt_tab3" data-ratevent="click" data-ratparam="all" class="c-Link_Txt-icon-front js-scroll">
      <span class="c-Icon_Arrow-down-l u-Show_Xxo"></span>
      <p class="<%= namespace %>-Followmenu_List-content c-Txt_Emp-01">
        <span class="<%= namespace %>-Followmenu_List-txt <%= namespace %>-Utility_Show-pc">謎解き</span>
        <span class="<%= namespace %>-Followmenu_List-txt <%= namespace %>-Utility_Show-sp">謎解き</span>
      </p>
      <span class="<%= namespace %>-Followmenu_List-img"><img src="<%= imgPath %>icon-quiz.svg" loading="lazy" width="24" height="24" alt="謎解き"></span>
      </a>
    </li>
    <li>
      <a href="https://lgns.rakuten.co.jp/dist/doc/html/8074856808ebec0c49403ce3589b28de/start_step1.html?l-id=mi_rmb_web_202404_treasure-hunt_entry" class="c-Btn_Primary <%= namespace %>-Followmenu_Button"><span>エントリー</span></a>
    </li>
  </ul>
</div>
