<%_
const namespace = "treasureHunt"
const imgPath = "/assets/img/area/campaign/treasure-hunt/"
const entryrange = "2024年4月25日（木）10:00～2024年5月27日（月）10:00";
const campaignrange = "2024年4月25日（木）10:00～2024年5月27日（月）10:00";
<!-- campaignrangeはキャンペーン期間とエントリー期間が同じ場合は不要 -->
const campaignstatus = "held";
const enddate = "2024年5月23日";
_%>

<section class="<%= namespace %>-Hero">

  <div class="areaCampaign-Layout_Label">
    <ul class="c-Label_List">
      <li class="c-Label_Normal">エントリー必要</li>
    </ul>
    <p class="areaCampaign-Layout_Label-point">ポイント：付与日を含めて6カ月の期間限定ポイント</p>
  </div>

  <div class="areaCampaign-Hero <%= namespace %>-Hero_Kv">
    <h1>
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>img-kv-sp.png" width="750" height="920">
        <img src="<%= imgPath %>img-kv-pc.png" alt="#ここでもつながる楽天モバイル 日本列島宝探し" width="1032" height="420">
      </picture>
    </h1>
  </div>

  <div class="u-Bg_Monotone97 u-Adjust_Pt-8 u-Adjust_Pb-16 u-Adjust_Pb-pc-24">
    <div class="l-System_Container">
      <p class="c-Txt_Cap">※1 建物内等つながりにくい場合あり。環境等により速度低下する場合あり。<br class="u-Show_Oox">※2 6カ月の期間限定ポイント。すべての条件を満たしたことが確認された人に2024年7月末ごろに付与。</p>
      <p class="c-Txt_Cap">※3 画像はイメージです。実際の隠し場所や通信エリアとは関係ありません。<br class="u-Show_Oox">※4 その他条件あり。詳細は<a href="#campaign-rule" data-ratid="mi_rmb_web_202404_treasure-hunt_rule" data-ratevent="click" data-ratparam="all" class="js-scroll">キャンペーンルール</a>をご確認ください</p>
      <div class="u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
        <p class="u-Adjust_Align-center"><span class="c-Txt_Emp-01">【キャンペーン期間／エントリー期間】</span><br>2024年4月25日（木）10:00～<br class="u-Show_Oox">2024年5月27日（月）10:00</p>
      </div>
    </div>
  </div>

  <div class="areaCampaign-Layout_Section u-Adjust_Mt-24">
    <div class="l-System_Container">
      <%_ if (campaignstatus === "held") { _%>
      <p class="u-Adjust_Align-center">
        <a href="https://lgns.rakuten.co.jp/dist/doc/html/8074856808ebec0c49403ce3589b28de/start_step1.html?l-id=mi_rmb_web_202404_treasure-hunt_entry" class="c-Btn_Primary-large"><span>まずはエントリー！</span></a>
      </p>
      <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Align-center u-Adjust_Mt-8">※エントリーには楽天会員ログインが必要です</p>
      <%_ } else { _%>
      <div class="u-Adjust_Align-center">
        <p class="c-Txt_Emp-02 c-Txt_Normal-m">
          本キャンペーンは<%= enddate %>をもちまして終了いたしました。<br>
          このページに掲載されている情報は、キャンペーン終了時点のものです。
        </p>
        <p class="u-Adjust_Py-16">
          <a href="<%= sitepath %>campaign/?l-id=end_campaign" class="c-Link_Txt-inline">開催中のキャンペーンを見る<span class="c-Icon_Chevron-right"></span></a>
        </p>
      </div>
      <%_ } _%>
    </div>
  </div>

  <div class="u-Adjust_Align-center u-Adjust_Mt-40">
    <h2 class="<%= namespace %>-Hero_Heading">謎を解いて<span class="u-Color_Primary">全国6か所に<br class="u-Show_Oox">隠された宝箱</span>を見つけよう！</h2>
    <p class="u-Adjust_Mt-8">ミッションクリアで特典をゲット！</p>
  </div>

</section>
