<%_
const namespace = "treasureHunt"
const imgPath = "/assets/img/area/campaign/treasure-hunt/"
_%>

<section class="<%= namespace %>-Mission" id="mission">

  <h2 class="<%= namespace %>-Mission_Heading u-Adjust_Align-center" id="js-trigger">
    <img src="<%= imgPath %>mission/title-mission.png" alt="特典＆ミッション詳細" width="361" height="65">
  </h2>

  <div class="<%= namespace %>-Mission_Heading-sub u-Adjust_Mt-32 u-Adjust_Mt-pc-40 u-Adjust_Align-center">
    <picture>
      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>mission/img-mission-01-sp.png" width="618" height="326">
      <img src="<%= imgPath %>mission/img-mission-01-pc.png" alt="楽天モバイル650万回線突破記念 ミッションクリアで総額650万ポイントをプレゼント！" width="653" height="121">
    </picture>
  </div>

  <div class="<%= namespace %>-Mission_Box u-Adjust_Mt-32 u-Adjust_Align-center">

    <h3 class="<%= namespace %>-Mission_Box-heading u-Adjust_Align-center">特典1</h3>

    <div class="<%= namespace %>-Mission_Box-prize">
      <div class="<%= namespace %>-Mission_Box-prizeImg">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>mission/img-mission-02-sp.png" width="686" height="400">
          <img src="<%= imgPath %>mission/img-mission-02-pc.png" alt="参加者全員で約306万ポイント山分け!（3,058,100ポイント）" width="1024" height="179">
        </picture>
        <p class="<%= namespace %>-Mission_Box-caption c-Txt_Cap u-Align_Llc">※6カ月の期間限定ポイント。詳しくは<a href="#campaign-rule" class="js-scroll" data-ratid="mi_rmb_web_202404_treasure-hunt_rule2" data-ratevent="click" data-ratparam="all">キャンペーンルール</a>をご確認ください。</p>
      </div>
    </div>

    <div class="<%= namespace %>-Mission_Box-condition u-Adjust_Pt-16 u-Adjust_Pb-24">
      <div>
        <img src="<%= imgPath %>mission/title-mission-02.png" alt="獲得条件" width="205" height="57">
      </div>
      <!-- エントリーURL支給後対応 -->
      <p class="c-Heading_Lv4"><a href="https://lgns.rakuten.co.jp/dist/doc/html/8074856808ebec0c49403ce3589b28de/start_step1.html?l-id=mi_rmb_web_202404_treasure-hunt_entry_benefit2">エントリー</a>のうえ、<br class="u-Show_Sp">ミッション<span class="u-Color_Primary">❶</span>、<span class="u-Color_Primary">❷</span>、<span class="u-Color_Primary">❸</span>の<br class="u-Show_Sp">いずれかをクリアする</p>
      <a href="#mission-detail" data-ratid="mi_rmb_web_202404_treasure-hunt_mission3detail" data-ratevent="click" data-ratparam="all" class="<%= namespace %>-Mission_Box-link c-Link_Txt-icon-front u-Adjust_Mt-16 u-Adjust_Mt-pc-8 js-scroll"><span class="c-Icon_Arrow-down-l"></span>ミッションの詳細を見る</a>
    </div>

  </div>

  <div class="<%= namespace %>-Mission_Box u-Adjust_Mt-32 u-Adjust_Align-center">

    <h3 class="<%= namespace %>-Mission_Box-heading u-Adjust_Align-center">特典2</h3>

    <div class="<%= namespace %>-Mission_Box-prize <%= namespace %>-Mission_Box-prize2">
      <div class="u-Adjust_Align-center">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>mission/img-mission-03-sp.png" width="686" height="236">
          <img src="<%= imgPath %>mission/img-mission-03-pc.png" alt="宝探しに参加した人限定 抽選で合計約344万ポイントプレゼント!" width="680" height="100">
        </picture>
        <p class="c-Txt_Cap u-Adjust_Mt-8 u-Align_Llc">※6カ月の期間限定ポイント。詳しくは<a href="#campaign-rule" class="js-scroll" data-ratid="mi_rmb_web_202404_treasure-hunt_rule3" data-ratevent="click" data-ratparam="all">キャンペーンルール</a>をご確認ください。</p>
      </div>
      <ul class="<%= namespace %>-Mission_Box-prizeList u-Adjust_Mt-16">
        <li>
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>mission/img-mission-04-sp.png" width="606" height="206">
            <img src="<%= imgPath %>mission/img-mission-04-pc.png" alt="50名様 楽天モバイル1年無料相当の39,336ポイント" width="165" height="198">
          </picture>
        </li>
        <li>
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>mission/img-mission-05-sp.png" width="606" height="200">
            <img src="<%= imgPath %>mission/img-mission-05-pc.png" alt="100名様 楽天モバイル3カ月無料相当の9,834ポイント" width="161" height="192">
          </picture>
        </li>
        <li>
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>mission/img-mission-06-sp.png" width="606" height="200">
            <img src="<%= imgPath %>mission/img-mission-06-pc.png" alt="150名様 楽天モバイル1カ月無料相当の3,278ポイント" width="156" height="192">
          </picture>
        </li>
      </ul>
      <div class="u-Adjust_Align-center">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>mission/img-mission-07-sp.png" width="606" height="356">
          <img src="<%= imgPath %>mission/img-mission-07-pc.png" alt="各スポットの宝箱の第一発見者にはお買いものパンダスペシャルギフトBOX（2万円相当）もプレゼント!" width="680" height="127">
        </picture>
      </div>
      <div class="<%= namespace %>-Mission_Box-accordion c-Accordion u-Adjust_Mt-pc-16">
          <button type="button" id="mission-gift-accordion" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="mission-gift-accordion-content"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>スペシャルギフトBOXの内容</button>
          <div id="mission-gift-accordion-content" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="mission-gift-accordion" aria-hidden="true">
            <ul class="<%= namespace %>-Mission_Box-list">
              <li>
                <div>
                  <img src="<%= imgPath %>mission/prize01.jpg" alt="白雪ふきん（ピンク）" width="94" height="94">
                </div>
                <div>
                  <p>白雪ふきん（ピンク）</p>
                </div>
              </li>
              <li>
                <div>
                  <img src="<%= imgPath %>mission/prize02.jpg" alt="白雪ふきん（ライトブルー）" width="94" height="94">
                </div>
                <div>
                  <p>白雪ふきん（ライトブルー）</p>
                </div>
              </li>
              <li>
                <div>
                  <img src="<%= imgPath %>mission/prize03.jpg" alt="チャージアンド（ライト＆モバイルチャージャー）" width="94" height="94">
                </div>
                <div>
                  <p>チャージアンド（ライト＆モバイルチャージャー）</p>
                </div>
              </li>
              <li>
                <div>
                  <img src="<%= imgPath %>mission/prize04.jpg" alt="ハンカチタオル（アイボリー）" width="94" height="94">
                </div>
                <div>
                  <p>ハンカチタオル（アイボリー）</p>
                </div>
              </li>
              <li>
                <div>
                  <img src="<%= imgPath %>mission/prize05.jpg" alt="ハンカチタオル（ネイビー）" width="94" height="94">
                </div>
                <div>
                  <p>ハンカチタオル（ネイビー）</p>
                </div>
              </li>
              <li>
                <div>
                  <img src="<%= imgPath %>mission/prize06.jpg" alt="ポーチ付き・晴雨兼用" width="94" height="94">
                </div>
                <div>
                  <p>ポーチ付き・晴雨兼用 折りたたみ傘</p>
                </div>
              </li>
              <li>
                <div>
                  <img src="<%= imgPath %>mission/prize07.jpg" alt="ひみつ付箋" width="94" height="94">
                </div>
                <div>
                  <p>ひみつ付箋</p>
                </div>
              </li>
              <li>
                <div>
                  <img src="<%= imgPath %>mission/prize08.jpg" alt="三連キーホルダー" width="94" height="94">
                </div>
                <div>
                  <p>三連キーホルダー</p>
                </div>
              </li>
              <li>
                <div>
                  <img src="<%= imgPath %>mission/prize11.jpg" alt="小マスコット" width="94" height="94">
                </div>
                <div>
                  <p>小マスコット</p>
                </div>
              </li>
              <li>
                <div>
                  <img src="<%= imgPath %>mission/prize09.jpg" alt="MDノート 文庫サイズ" width="94" height="94">
                </div>
                <div>
                  <p>MDノート 文庫サイズ</p>
                </div>
              </li>
              <li>
                <div>
                  <img src="<%= imgPath %>mission/prize10.jpg" alt="グローサリー・トート" width="94" height="94">
                </div>
                <div>
                  <p>グローサリー・トート</p>
                </div>
              </li>
            </ul>
          </div>
      </div>
    </div>

    <div class="<%= namespace %>-Mission_Box-condition u-Adjust_Pt-16 u-Adjust_Pb-24">
      <div>
        <img src="<%= imgPath %>mission/title-mission-02.png" alt="獲得条件" width="197" height="51">
      </div>
      <!-- エントリーURL支給後対応 -->
      <p class="c-Heading_Lv4"><a href="https://lgns.rakuten.co.jp/dist/doc/html/8074856808ebec0c49403ce3589b28de/start_step1.html?l-id=mi_rmb_web_202404_treasure-hunt_entry_benefit2">エントリー</a>のうえ、</p>
      <div class="u-Adjust_Align-center u-Adjust_Mt-16">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>mission/img-mission-08-sp.png" width="606" height="736">
          <img src="<%= imgPath %>mission/img-mission-08-pc.png" alt="ミッション❷をクリア 抽選権5口をゲット! ミッション❸をクリア 各スポットごとに抽選権10口をゲット! さらに宝箱の第一発見者になると各スポットごとに抽選権25口もゲット!" width="720" height="216">
        </picture>
      </div>
      <a href="#mission-detail" data-ratid="mi_rmb_web_202404_treasure-hunt_mission4detail" data-ratevent="click" data-ratparam="all" class="<%= namespace %>-Mission_Box-link c-Link_Txt-icon-front u-Adjust_Mt-16 js-scroll"><span class="c-Icon_Arrow-down-l"></span>ミッションの詳細を見る</a>
    </div>

  </div>

  <div class="<%= namespace %>-Mission_Detail u-Adjust_Mt-40" id="mission-detail">
    <h3 class="<%= namespace %>-Mission_Detail-heading u-Adjust_Align-center">ミッション</h3>
    <div class="<%= namespace %>-Mission_Detail-accordion c-Accordion-emp u-Adjust_Mt-16" id="mission1">
      <button type="button" id="mission-accordion-1" class="c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="mission-accordion-1-content">
          <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
          <span class="c-Accordion-emp_Num">ミッション❶</span><br>
          <span class="c-Accordion-emp_Trigger-txt">楽天モバイル公式Xをフォローしてキャンペーン告知をリポストしよう</span>
      </button>
      <div id="mission-accordion-1-content" class="c-Accordion-emp_Panel-normal js-Accordion_Panel" role="region" aria-labelledby="mission-accordion-1" aria-hidden="true">
        <div class="<%= namespace %>-Mission_Detail-content">
          <div>
            <p>1. 楽天モバイル公式Xのアカウントをフォローする</p>
            <p class="u-Adjust_Align-center u-Adjust_Mt-8 u-Adjust_Mt-pc-16">
              <img src="<%= imgPath %>mission/img-mission-09-pc.png" alt="" width="263" height="169">
            </p>
          </div>
          <div>
            <p>2. 本キャンペーンの告知をリポストする</p>
            <p class="u-Adjust_Align-center u-Adjust_Mt-8 u-Adjust_Mt-pc-16">
              <img src="<%= imgPath %>mission/img-mission-10-pc.png" alt="" width="247" height="248">
            </p>
          </div>
        </div>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
          <p class="c-Txt_Emp-02">＼ フォロー＆リポストはこちらから ／</p>
          <a href="https://r10.to/hN6gkz" target="_blank" class="c-Btn_Secondly-large u-Adjust_Mt-8"><span>楽天モバイル公式X <span class="c-Icon_New-window-l"></span></span></a>
        </div>
      </div>
    </div>

    <div class="<%= namespace %>-Mission_Detail-accordion c-Accordion-emp u-Adjust_Mt-16" id="mission2">
      <button type="button" id="mission-accordion-2" class="c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="mission-accordion-2-content">
          <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
          <span class="c-Accordion-emp_Num">ミッション❷</span><br>
          <span class="c-Accordion-emp_Trigger-txt">「#ここでもつながる楽天モバイル」をつけて宝探しの様子や参加宣言などをXで投稿しよう</span>
      </button>
      <div id="mission-accordion-2-content" class="c-Accordion-emp_Panel-normal js-Accordion_Panel" role="region" aria-labelledby="mission-accordion-2" aria-hidden="true">
        <dl class="<%= namespace %>-Mission_Detail-condition">
          <dt>
            投稿の条件
          </dt>
          <dd>
            <div>
              <p>本キャンペーンの宝探しに参加している様子や感想などを自由に、<br class="u-Show_Xxo">指定のハッシュタグ「<span class="c-Txt_Emp-02">#ここでもつながる楽天モバイル</span>」をつけてXで投稿する。</p>
              <div class="u-Adjust_Mt-24 u-Show_Xxo">
                <p class="c-Txt_Cap">※Xアカウントを公開設定にしてポストしてください。非公開ポストは特典対象外となるためご注意ください。<br>
                  ※謎の解答や宝箱設置場所の詳細情報など、ネタバレの投稿はお控えください。<br>
                  ※投稿いただいた写真や動画などのポスト内容を「#ここでもつながる楽天モバイル 日本列島宝探し」の特設ページ（本ページ）でご紹介させていただく場合がございます。</p>
                <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※投稿タイミングはキャンペーン期間中（2024/4/25 10:00～2024/5/27 10:00）ならいつでもOK！</p>
              </div>
            </div>
            <div class="u-Adjust_Align-center u-Adjust_Mt-16 u-Adjust_Mt-pc-0">
              <img src="<%= imgPath %>mission/img-mission-11-pc.png" alt="投稿例" width="247" height="296">
            </div>
            <div class="u-Adjust_Mt-16 u-Show_Oox">
              <p class="c-Txt_Cap">※Xアカウントを公開設定にしてポストしてください。非公開ポストは特典対象外となるためご注意ください。<br>
                ※謎の解答や宝箱設置場所の詳細情報など、ネタバレの投稿はお控えください。<br>
                ※投稿いただいた写真や動画などのポスト内容を「#ここでもつながる楽天モバイル 日本列島宝探し」の特設ページ（本ページ）でご紹介させていただく場合がございます。</p>
              <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※投稿タイミングはキャンペーン期間中（2024/4/25 10:00～2024/5/27 10:00）ならいつでもOK！</p>
            </div>
          </dd>
        </dl>
        <div class="u-Adjust_Align-center u-Adjust_Mt-24">
          <a href="https://twitter.com/intent/tweet?text=楽天モバイルの“日本列島宝探し”に参加中！%20https://r10.to/hUeex6&hashtags=ここでもつながる楽天モバイル" target="_blank" rel="noopener noreferrer" class="c-Btn_Secondly-large u-Adjust_Mt-8"><span>Xで投稿をする <span class="c-Icon_New-window-l"></span></span></a>
        </div>
        <div class="u-Adjust_Align-center u-Adjust_Mt-32 u-Adjust_Mt-pc-24">
          <p class="c-Txt_Emp-01">謎解きの正解画面から<br class="u-Show_Sp">宝探し参加宣言の投稿もできます！</p>
        </div>
        <p class="u-Adjust_Align-center u-Adjust_Mt-8">
          <img src="<%= imgPath %>mission/img-mission-12-pc.png" alt="" width="286" height="211">
        </p>
        <div class="u-Adjust_Align-center u-Adjust_Mt-8 u-Adjust_Mt-pc-16">
          <a href="#treasure-question" class="<%= namespace %>-Mission_Box-link c-Link_Txt-icon-front js-scroll" data-ratid="mi_rmb_web_202404_treasure-hunt_accordionquestion1" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>謎解きはこちらから</a>
        </div>
      </div>
    </div>
    <div class="<%= namespace %>-Mission_Detail-accordion c-Accordion-emp u-Adjust_Mt-16" id="mission3">
      <button type="button" id="mission-accordion-3" class="c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="mission-accordion-3-content">
          <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
          <span class="c-Accordion-emp_Num">ミッション❸</span><br>
          <span class="c-Accordion-emp_Trigger-txt">宝箱を1つ以上発見し、最後の謎解きに正解して再度エントリーしよう</span>
      </button>
      <div id="mission-accordion-3-content" class="c-Accordion-emp_Panel-normal js-Accordion_Panel" role="region" aria-labelledby="mission-accordion-3" aria-hidden="true">
        <div class="<%= namespace %>-Mission_Detail-content">
          <div>
            <p>1. 各スポット3問の謎解きに正解して、宝箱のありかと解錠コード、最後の謎を入手する</p>
            <p class="u-Adjust_Align-center u-Adjust_Mt-8 u-Adjust_Mt-pc-16">
              <img src="<%= imgPath %>mission/img-mission-13-pc.png" alt="" width="204" height="246">
            </p>
          </div>
          <div>
            <p>2. 宝探しに出かけて宝箱を見つける</p>
            <p class="u-Adjust_Align-center u-Adjust_Mt-16 u-Adjust_Mt-pc-32">
              <img src="<%= imgPath %>mission/img-mission-14-pc.png" alt="" width="250" height="118">
            </p>
          </div>
          <div>
            <p>3. 解錠コードで宝箱の鍵を開ける</p>
            <p class="u-Adjust_Align-center u-Adjust_Mt-8 u-Adjust_Mt-pc-32">
              <img src="<%= imgPath %>mission/img-mission-15-pc.png" alt="" width="219" height="119">
            </p>
          </div>
          <div>
            <p>4. 宝箱の中のQRコードを読み取り、4桁の解錠コードを入力してから最後の謎を解いてエントリーする</p>
            <p class="u-Adjust_Align-center u-Adjust_Mt-8">
              <img src="<%= imgPath %>mission/img-mission-16-pc.png" alt="" width="264" height="157">
            </p>
          </div>
        </div>
        <div class="u-Adjust_Align-center u-Adjust_Mt-24">
          <a href="#treasure-question" class="<%= namespace %>-Mission_Box-link c-Link_Txt-icon-front js-scroll" data-ratid="mi_rmb_web_202404_treasure-hunt_accordionquestion2" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>謎解きはこちらから</a>
        </div>
      </div>
    </div>
  </div>

</section>
