<%_
const namespace = "treasureHunt"
const imgPath = "/assets/img/area/campaign/treasure-hunt/quiz-lp/"
_%>

<section class="<%= namespace %>-Quiz u-Adjust_Align-center u-Adjust_Pt-48" id="treasure-question">
  <div class="l-System_Container">
    <h2 class="<%= namespace %>-Quiz_Title">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>img-quiz-title-sp.png" width="104">
        <img src="<%= imgPath %>img-quiz-title-pc.png" alt="謎解き" width="123">
      </picture>
    </h2>
    <p class="u-Weight_Bold <%= namespace %>-Quiz_Lead u-Adjust_Mt-24">全国6か所にある<span class="c-Txt_Emp-02">宝箱の隠し場所</span>を<br class="u-Show_Oox">謎を解いてゲットしよう！</p>
      <div class="<%= namespace %>-Quiz_Container">
        <div class="<%= namespace %>-Quiz_Flex <%= namespace %>-Quiz_Flex--reverse <%= namespace %>-Quiz_ImageBox">
          <div class="<%= namespace %>-Quiz_Image">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>img-goto-question-sp.png" width="279">
              <img src="<%= imgPath %>img-goto-question.png" alt="" width="177">
            </picture>
          </div>
          <p class="u-Weight_Bold <%= namespace %>-Quiz_Challenge <%= namespace %>-Quiz_Challenge--color u-Adjust_Mt-24 u-Adjust_Mt-pc-32">宝箱を選んで謎解きに挑戦<span class="<%= namespace %>-Quiz_Arrow"></span></p>
        </div>
      </div>
      <div class="<%= namespace %>-Quiz_Flex <%= namespace %>-Quiz_Flex--center <%= namespace %>-Quiz_Flex--wrap <%= namespace %>-Quiz_SelectBox u-Adjust_Mt-16 u-Adjust_Mt-pc-8">
        <a href="./quiz.html?question=4&l-id=mi_rmb_web_202404_treasure-hunt_question_taikai" class="c-Btn_Secondly <%= namespace %>-Quiz_SelectBox-item"><span class="<%= namespace %>-Quiz_Icon"></span>大海の宝箱</a>
        <a href="./quiz.html?question=5&l-id=mi_rmb_web_202404_treasure-hunt_question_keikoku" class="c-Btn_Secondly <%= namespace %>-Quiz_SelectBox-item"><span class="<%= namespace %>-Quiz_Icon"></span>渓谷の宝箱</a>
        <a href="./quiz.html?question=1&l-id=mi_rmb_web_202404_treasure-hunt_question_tenku" class="c-Btn_Secondly <%= namespace %>-Quiz_SelectBox-item"><span class="<%= namespace %>-Quiz_Icon"></span>天空の宝箱</a>
        <a href="./quiz.html?question=2&l-id=mi_rmb_web_202404_treasure-hunt_question_kohan" class="c-Btn_Secondly <%= namespace %>-Quiz_SelectBox-item"><span class="<%= namespace %>-Quiz_Icon"></span>湖畔の宝箱</a>
        <a href="./quiz.html?question=6&l-id=mi_rmb_web_202404_treasure-hunt_question_shinrin" class="c-Btn_Secondly <%= namespace %>-Quiz_SelectBox-item"><span class="<%= namespace %>-Quiz_Icon"></span>森林の宝箱</a>
        <a href="./quiz.html?question=3&l-id=mi_rmb_web_202404_treasure-hunt_question_kotou" class="c-Btn_Secondly <%= namespace %>-Quiz_SelectBox-item"><span class="<%= namespace %>-Quiz_Icon"></span>古塔の宝箱</a>
      </div>
  </div>
</section>
