<%_
const namespace = "treasureHunt"
const imgPath = "/assets/img/area/campaign/treasure-hunt/sns/"
_%>

<section class="<%= namespace %>-Sns u-Adjust_Align-center u-Adjust_Pt-48 u-Adjust_Pb-80 u-Adjust_Pb-pc-40" id="sns">
  <div class="l-System_Container u-Adjust_Px-0">
    <h2 class="<%= namespace %>-Sns_Title">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>img-sns-title.png" width="215">
        <img src="<%= imgPath %>img-sns-title.png" alt="みんなの投稿" width="238">
      </picture>
    </h2>
    <p class="u-Adjust_Mt-24">
      <a href="https://twitter.com/hashtag/%E3%81%93%E3%81%93%E3%81%A7%E3%82%82%E3%81%A4%E3%81%AA%E3%81%8C%E3%82%8B%E6%A5%BD%E5%A4%A9%E3%83%A2%E3%83%90%E3%82%A4%E3%83%AB" class="c-Link_Txt-inline-icon u-Weight_Bold" target="_blank" rel="noopener noreferrer">
        #ここでもつながる楽天モバイル<span class="c-Icon_New-window-l"></span>
      </a>
    </p>
    <p class="u-Weight_Bold <%= namespace %>-Sns_Lead u-Adjust_Mt-24">たくさんの人が宝探しに参戦中！</p>
    <p class="c-Txt_Cap <%= namespace %>-Sns_Cap">（一部抜粋してご紹介）</p>
    <div class="<%= namespace %>-Sns_Flex <%= namespace %>-Sns_Flex--center <%= namespace %>-Sns_Flex--wrap <%= namespace %>-Sns_SelectBox u-Adjust_Mt-24">
      <a href="https://twitter.com/Konto64413840/status/1784936563446792602" class="<%= namespace %>-Sns_SelectBox-item c-Banner_Hover-act" target="_blank"><img src="<%= imgPath %>img-post-1.png" alt height="197"></a>
      <a href="https://twitter.com/she_me_kill_i/status/1786660920200139238" class="<%= namespace %>-Sns_SelectBox-item c-Banner_Hover-act" target="_blank"><img src="<%= imgPath %>img-post-7.png" alt height="197"></a>
      <a href="https://twitter.com/mtnbinfo/status/1785485301517058246" class="<%= namespace %>-Sns_SelectBox-item c-Banner_Hover-act" target="_blank"><img src="<%= imgPath %>img-post-8.png" alt height="197"></a>
      <a href="https://twitter.com/wiing_sh/status/1787283315197939922" class="<%= namespace %>-Sns_SelectBox-item c-Banner_Hover-act" target="_blank"><img src="<%= imgPath %>img-post-9.png" alt height="197"></a>
      <a href="https://twitter.com/tirosub/status/1786586866239889739" class="<%= namespace %>-Sns_SelectBox-item c-Banner_Hover-act" target="_blank"><img src="<%= imgPath %>img-post-10.png" alt height="197"></a>
      <a href="https://twitter.com/sodaigomi0831/status/1785157956906213541" class="<%= namespace %>-Sns_SelectBox-item c-Banner_Hover-act" target="_blank"><img src="<%= imgPath %>img-post-11.png" alt height="197"></a>
      <a href="https://twitter.com/tan_tara_/status/1785145299612438696" class="<%= namespace %>-Sns_SelectBox-item c-Banner_Hover-act" target="_blank"><img src="<%= imgPath %>img-post-4.png" alt height="197"></a>
      <a href="https://twitter.com/1iGkGvEC2XxX8d8/status/1784605427503858014" class="<%= namespace %>-Sns_SelectBox-item c-Banner_Hover-act" target="_blank"><img src="<%= imgPath %>img-post-5.png" alt height="197"></a>
    </div>

    <div class="u-Adjust_Pt-24 u-Adjust_Pt-pc-40 u-Adjust_Mx-16">
      <div class="<%= namespace %>-Sns_WhiteBox">
        <p class="c-Txt_Emp-02">
          「#ここでもつながる楽天モバイル」を<br class="u-Show_Oxx">つけて<br class="u-Show_Pc">宝探しの様子や参加宣言などを<br class="u-Show_Oxx">Xで投稿しよう！
        </p>
        <p class="<%= namespace %>-Sns_WhiteBox-text u-Adjust_Mt-8">
          <a href="#mission2" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-up-l"></span>
            特典対象となる投稿条件をチェック
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
