<%_
const namespace = "treasureHunt"
const imgPath = "/assets/img/area/campaign/treasure-hunt/uservoice/"
_%>
<section class="<%= namespace %>-Voice">
  <div class="<%= namespace %>-Voice_Theme-Light u-Adjust_Pt-56 u-Adjust_Pt-pc-64 u-Adjust_Pb-56">
    <div id="uservoice" class="l-System_Container">
      <h2 class="u-Adjust_Align-center <%= namespace %>-Voice_Title" data-ratid="area_scroll-04_uservoice" data-ratevent="appear">通信・エリアに関する<br class="u-Show_Oxx">お客様の声</h2>
      <div class="u-Adjust_Mt-24 u-Adjust_Mt-pc-32">
        <picture>
          <source media="(max-width: 768px)" srcset="/assets/img/area/img-voice-sp-230224.png" width="686" height="193">
          <img src="/assets/img/area/img-voice-pc-230224.png" width="1032" height="133" loading="lazy" alt="実際に使った感想をお聞きしました 楽天モバイルの評判をご紹介">
        </picture>
      </div>
      <ul class="<%= namespace %>-Voice_Card">
        <li class="<%= namespace %>-Voice_Card-list">
          <a href="/uservoice/62/?l-id=area_top_uservoice_62" class="c-Card_Normal">
            <dl class="<%= namespace %>-Voice_Card-list-profile">
              <dt>
                <p class="<%= namespace %>-Voice_Card-text">鹿児島から北海道まで日本一周！全国でしっかりつながる楽天モバイルを体感</p>
                <p class="<%= namespace %>-Voice_Card-list-name u-Adjust_Mt-8">横澤さん（仮名）（30 代男性・鹿児島県）</p>
              </dt>
              <dd>
                <div>
                  <img src="<%= imgPath %>avator-01.png" alt="">
                </div>
              </dd>
            </dl>
          </a>
        </li>
        <li class="<%= namespace %>-Voice_Card-list">
          <a href="/uservoice/56/?l-id=area_top_uservoice_56" class="c-Card_Normal">
            <dl class="<%= namespace %>-Voice_Card-list-profile">
              <dt>
                <p class="<%= namespace %>-Voice_Card-text">福井県でしっかりつながる！通信速度や安定性を気にして避けていたらもったいない</p>
                <p class="<%= namespace %>-Voice_Card-list-name u-Adjust_Mt-8">上地さん（仮名・40代女性／福井県）</p>
              </dt>
              <dd>
                <div>
                  <img src="<%= imgPath %>avator-02.png" alt="">
                </div>
              </dd>
            </dl>
          </a>
        </li>
        <li class="<%= namespace %>-Voice_Card-list">
          <a href="/uservoice/06/?l-id=area_top_uservoice_06" class="c-Card_Normal">
            <dl class="<%= namespace %>-Voice_Card-list-profile">
              <dt>
                <p class="<%= namespace %>-Voice_Card-text">滋賀県内でもデータ通信が快適。夫婦で毎月約2万円の節約！</p>
                <p class="<%= namespace %>-Voice_Card-list-name u-Adjust_Mt-8">中野さん（仮名・20代男性／滋賀県）</p>
              </dt>
              <dd>
                <div>
                  <img src="<%= imgPath %>avator-03.png" alt="">
                </div>
              </dd>
            </dl>
          </a>
        </li>
        <li class="<%= namespace %>-Voice_Card-list">
          <a href="/uservoice/01/?l-id=area_top_uservoice_01" class="c-Card_Normal">
            <dl class="<%= namespace %>-Voice_Card-list-profile">
              <dt>
                <p class="<%= namespace %>-Voice_Card-text">通信速度に大満足！1年以上使った感想「通信速度が劇的に速いです！」</p>
                <p class="<%= namespace %>-Voice_Card-list-name u-Adjust_Mt-8">鈴木さん（仮名・30代女性／東京都）</p>
              </dt>
              <dd>
                <div>
                  <img src="<%= imgPath %>avator-04.png" alt="">
                </div>
              </dd>
            </dl>
          </a>
        </li>
      </ul>
      <div class="u-Adjust_Align-center u-Adjust_Pt-16 u-Adjust_Pt-pc-24">
        <a class="c-Btn_Regular" href="/uservoice/?l-id=mi_rmb_web_202404_treasure-hunt_uservoice">すべてのお客様の声を見る</a>
      </div>
      <div class="u-Adjust_Mt-32">
        <a href="/area/?l-id=mi_rmb_web_202404_treasure-hunt_area" class="c-Banner_Hover-act">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= imgPath %>img-area-bnr-sp.png" width="686" height="108">
            <img src="<%= imgPath %>img-area-bnr-pc.png" width="1032" height="158" loading="lazy" alt="通信・エリア 楽天モバイルはつながるエリアぞくぞく。 詳しく見る">
          </picture>
        </a>
      </div>
    </div>
  </div>
</section>
