<% const pagetitle = "iPhone 15 Pro Max／iPhone 15 Pro／iPhone 15 Plus／iPhone 15／Apple Watch Series 9／Apple Watch Ultra 2／Apple Watch SE（第2世代）／MagSafe充電ケース（USB‑C）付きAirPods Pro（第2世代）の販売価格について" -%>
<% const directories = [{path:"info/", label:"お知らせ"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'iPhone 15 Pro Max／iPhone 15 Pro／iPhone 15 Plus／iPhone 15／Apple Watch Series 9／Apple Watch Ultra 2／Apple Watch SE（第2世代）／MagSafe充電ケース（USB‑C）付きAirPods Pro（第2世代）の販売価格について',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "お知らせ" -%>
<% const nameSpace = "info" -%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/iphone/<%= nameSpace %>-iphone.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-iphone-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
    <p class="u-Adjust_Align-right u-Adjust_Mt-16">2023年9月15日</p>
    <p class="u-Adjust_Mt-16">楽天モバイルは、iPhone 15 Pro Max／iPhone 15 Pro／iPhone 15 Plus／iPhone 15／Apple Watch Series 9／Apple Watch Ultra 2／Apple Watch SE（第2世代）／MagSafe充電ケース（USB‑C）付きAirPods Pro（第2世代）を以下の日程で販売開始いたします。<br>
    製品価格の詳細は下記をご確認ください。</p>
    <div class="u-Adjust_Mt-16">
      <a href="<%= sitepath %>assets/pdf/information/230909-iphone.pdf" class="c-Link_Txt-inline-icon">PDFファイルのダウンロードはこちらから<span class="c-Icon_Pdf-l"></span></a>
    </div>


    <h2 class="c-Heading_Lv3 u-Adjust_Mt-64">予約受付／販売開始日時</h2>

    <div class="u-Adjust_Mt-16 u-Show_Xxo">
      <div class="c-Table">
        <div class="c-Table_Wrap">
          <table class="c-Table_Container">
            <colgroup>
              <col width="30%">
              <col width="35%">
              <col width="35%">
            </colgroup>
            <thead>
              <tr>
                <th></th>
                <th scope="col">予約受付開始日時</th>
                <th scope="col">販売開始日時</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">楽天モバイル公式サイト</th>
                <td>
                  9月15日（金）21:00より予約受付<br>
                  <span class="c-Txt_Cap c-Txt_Emp-02">※MagSafe充電ケース（USB‑C）付きAirPods Pro（第2世代）の予約受付はなし</span>
                </td>
                <td>9月22日（金）8:00より販売開始</td>
              </tr>
              <tr>
                <th scope="row">楽天モバイル公式 楽天市場店</th>
                <td>9月15日（金）21:00より予約受付<br>
                  <span class="c-Txt_Cap c-Txt_Emp-02">※Apple Watch, MagSafe充電ケース（USB‑C）付きAirPods Pro（第2世代）の予約受付はなし</span>
                </td>
                <td>9月22日（金）8:00より販売開始</td>
              </tr>
              <tr>
                <th scope="row">楽天モバイルショップ</th>
                <td>
                  9月16日（土）開店より予約受付<br>
                  <span class="c-Txt_Cap c-Txt_Emp-02">※MagSafe充電ケース（USB‑C）付きAirPods Pro（第2世代）の予約受付はなし</span>
                  <br>
                  <span class="c-Txt_Cap c-Txt_Emp-02">※来店予約は楽天モバイル公式サイトにて9月15日（金）21:00より受付開始</span>
                </td>
                <td>9月22日（金）開店より販売開始</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="u-Adjust_Mt-16 u-Show_Oox">
      <h3 class="c-Heading_Lv4">予約受付開始日時</h3>
      <div class="c-Table u-Adjust_Mt-16">
        <div class="c-Table_Wrap">
          <table class="c-Table_Container">
            <colgroup>
              <col width="35%">
              <col width="65%">
            </colgroup>
            <tbody>
              <tr>
                <th scope="row">楽天モバイル公式サイト</th>
                <td>
                  9月15日（金）21:00より予約受付<br>
                  <span class="c-Txt_Cap c-Txt_Emp-02">※MagSafe充電ケース（USB‑C）付きAirPods Pro（第2世代）の予約受付はなし</span>
                </td>
              </tr>
              <tr>
                <th scope="row">楽天モバイル公式 楽天市場店</th>
                <td>9月15日（金）21:00より予約受付<br>
                  <span class="c-Txt_Cap c-Txt_Emp-02">※Apple Watch, MagSafe充電ケース（USB‑C）付きAirPods Pro（第2世代）の予約受付はなし</span>
                </td>
              </tr>
              <tr>
                <th scope="row">楽天モバイルショップ</th>
                <td>
                  9月16日（土）開店より予約受付<br>
                  <span class="c-Txt_Cap c-Txt_Emp-02">※MagSafe充電ケース（USB‑C）付きAirPods Pro（第2世代）の予約受付はなし</span>
                  <br>
                  <span class="c-Txt_Cap c-Txt_Emp-02">※来店予約は楽天モバイル公式サイトにて9月15日（金）21:00より受付開始</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <h3 class="c-Heading_Lv4 u-Adjust_Mt-16">販売開始日時</h3>
      <div class="c-Table u-Adjust_Mt-16">
        <div class="c-Table_Wrap">
          <table class="c-Table_Container">
            <colgroup>
              <col width="35%">
              <col width="65%">
            </colgroup>
            <tbody>
              <tr>
                <th scope="row">楽天モバイル公式サイト</th>
                <td>9月22日（金）8:00より販売開始</td>
              </tr>
              <tr>
                <th scope="row">楽天モバイル公式 楽天市場店</th>
                <td>9月22日（金）8:00より販売開始</td>
              </tr>
              <tr>
                <th scope="row">楽天モバイルショップ</th>
                <td>9月22日（金）開店より販売開始</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <p class="c-Txt_Cap u-Adjust_Mt-16">※ 取り扱う製品のラインアップは店舗によって異なります。一部の楽天モバイルショップにおいては、取り扱いのない製品もございます。予約受付と発売は、各店舗の営業時間に準じます。</p>

    <h2 class="c-Heading_Lv3 u-Adjust_Mt-32">実施中のキャンペーン適用について</h2>
    <div class="u-Adjust_Mt-24">
      <div class="l-Media_List-2">
        <div>
          <h3 class="c-Heading_Lv4">
            <span class="c-Heading_Lv3">■新規／乗り換え（MNP）の場合</span><br>
            最大19,000円相当分ポイント還元の条件<span class="c-Txt_Cap">※3</span>
          </h3>
          <ul class="c-List_Text-disc u-Adjust_Mt-16">
            <li>Rakuten最強プランを初めてお申し込み</li>
            <li>対象のiPhoneご購入</li>
            <li>楽天モバイル買い替え超トクプログラム適用</li>
            <li>対象のiPhone下取り</li>
          </ul>
          <p class="c-Txt_Cap u-Adjust_Mt-8">※「【楽天モバイル】Rakuten最強プラン紹介キャンペーン」は併用不可となります。</p>
        </div>
        <div>
          <h3 class="c-Heading_Lv4">
            <span class="c-Heading_Lv3">■機種変更の場合</span><br>
            最大10,000円相当分ポイント還元の条件<span class="c-Txt_Cap">※5</span>
          </h3>
          <ul class="c-List_Text-disc u-Adjust_Mt-16">
            <li>対象のiPhoneご購入</li>
            <li>楽天モバイル買い替え超トクプログラム適用</li>
            <li>対象のiPhone下取り</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="c-Theme-Light u-Adjust_Mt-40">
      <p class="c-Txt_Cap">「実質価格」とは、キャンペーンの条件達成（楽天モバイルを初めてお申し込み、対象製品のご購入など）により後日付与されるポイントを加味した価格であり、実際のお支払い金額とは異なります。詳しくはキャンペーンルールをご確認ください。また楽天モバイル買い替え超トクプログラムを利用し、25カ月目で製品を回収した場合、別途事務手数料 3,300円がかかります。</p>
    </div>

    <p class="c-Txt_Cap u-Adjust_Mt-64 u-Adjust_Align-right">※表記の金額は特に記載のある場合を除きすべて税込です。</p>

    <div class="u-Adjust_Mt-8">
      <h2 class="c-Heading_Lv1">iPhone 15 Pro Max</h2>
      <div class="c-Table_Wrap-scroll u-Adjust_Mt-24">
        <div class="js-Scrollable">
          <img src="<%= sitepath %>assets/img/info/iphone-230915/iphone-15-pro-max-01.png" alt="価格表" style="width:872px;max-width:872px;">
        </div>
      </div>
      <div class="c-Table_Wrap-scroll u-Adjust_Mt-24">
        <div class="js-Scrollable">
          <img src="<%= sitepath %>assets/img/info/iphone-230915/iphone-15-pro-max-02.png" alt="価格表" style="width:872px;max-width:872px;">
        </div>
      </div>
    </div>
    <p class="c-Txt_Cap u-Adjust_Mt-24">
      ※1 現金販売価格および割賦販売価格(総額)は一括払いの支払い総額と同額です。支払回数 48回、支払期間 48カ月、実質年率 0%。楽天カードのみ。<br>
      ※8 楽天カードのみ。機種変更時に製品のご返却と事務手数料3,300円のお支払いが必要です。製品の状態によって故障費用がかかります。
    </p>

    <div class="u-Adjust_Mt-32">
      <h2 class="c-Heading_Lv1">iPhone 15 Pro</h2>
      <div class="c-Table_Wrap-scroll u-Adjust_Mt-24">
        <div class="js-Scrollable">
          <img src="<%= sitepath %>assets/img/info/iphone-230915/iphone-15-pro-01.png" alt="価格表" style="width:1032px;max-width:1032px;">
        </div>
      </div>
      <div class="c-Table_Wrap-scroll u-Adjust_Mt-24">
        <div class="js-Scrollable">
          <img src="<%= sitepath %>assets/img/info/iphone-230915/iphone-15-pro-02.png" alt="価格表" style="width:1032px;max-width:1032px;">
        </div>
      </div>
    </div>
    <p class="c-Txt_Cap u-Adjust_Mt-24">
      ※1 現金販売価格および割賦販売価格(総額)は一括払いの支払い総額と同額です。支払回数 48回、支払期間 48カ月、実質年率 0%。楽天カードのみ。<br>
      ※8 楽天カードのみ。機種変更時に製品のご返却と事務手数料3,300円のお支払いが必要です。製品の状態によって故障費用がかかります。
    </p>

    <div class="u-Adjust_Mt-32">
      <h2 class="c-Heading_Lv1">iPhone 15 Plus</h2>
      <div class="c-Table_Wrap-scroll u-Adjust_Mt-24">
        <div class="js-Scrollable">
          <img src="<%= sitepath %>assets/img/info/iphone-230915/iphone-15-plus-01.png" alt="価格表" style="width:872px;max-width:872px;">
        </div>
      </div>
      <div class="c-Table_Wrap-scroll u-Adjust_Mt-24">
        <div class="js-Scrollable">
          <img src="<%= sitepath %>assets/img/info/iphone-230915/iphone-15-plus-02.png" alt="価格表" style="width:872px;max-width:872px;">
        </div>
      </div>
    </div>
    <p class="c-Txt_Cap u-Adjust_Mt-24">
      ※1 現金販売価格および割賦販売価格(総額)は一括払いの支払い総額と同額です。支払回数 48回、支払期間 48カ月、実質年率 0%。楽天カードのみ。<br>
      ※8 楽天カードのみ。機種変更時に製品のご返却と事務手数料3,300円のお支払いが必要です。製品の状態によって故障費用がかかります。
    </p>

    <div class="u-Adjust_Mt-32">
      <h2 class="c-Heading_Lv1">iPhone 15</h2>
      <div class="c-Table_Wrap-scroll u-Adjust_Mt-24">
        <div class="js-Scrollable">
          <img src="<%= sitepath %>assets/img/info/iphone-230915/iphone-15-01.png" alt="価格表" style="width:872px;max-width:872px;">
        </div>
      </div>
      <div class="c-Table_Wrap-scroll u-Adjust_Mt-24">
        <div class="js-Scrollable">
          <img src="<%= sitepath %>assets/img/info/iphone-230915/iphone-15-02.png" alt="価格表" style="width:872px;max-width:872px;">
        </div>
      </div>
    </div>
    <p class="c-Txt_Cap u-Adjust_Mt-24">
      ※1 現金販売価格および割賦販売価格(総額)は一括払いの支払い総額と同額です。支払回数 48回、支払期間 48カ月、実質年率 0%。楽天カードのみ。<br>
      ※8 楽天カードのみ。機種変更時に製品のご返却と事務手数料3,300円のお支払いが必要です。製品の状態によって故障費用がかかります。
    </p>

    <div class="u-Adjust_Mt-32">
      <h2 class="c-Heading_Lv1">Apple Watch Series 9</h2>
      <div class="c-Table_Wrap-scroll u-Adjust_Mt-24">
        <div class="js-Scrollable">
          <img src="<%= sitepath %>assets/img/info/iphone-230915/watch-9.png" alt="価格表" style="width:514px;max-width:514px;">
        </div>
      </div>
    </div>

    <div class="u-Adjust_Mt-32">
      <h2 class="c-Heading_Lv1">Apple Watch Ultra 2</h2>
      <div class="c-Table_Wrap-scroll u-Adjust_Mt-24">
        <div class="js-Scrollable">
          <img src="<%= sitepath %>assets/img/info/iphone-230915/watch-ultra2.png" alt="価格表" style="width:514px;max-width:514px;">
        </div>
      </div>
    </div>

    <div class="u-Adjust_Mt-32">
      <h2 class="c-Heading_Lv1">Apple Watch SE（第2世代）※2023発売のモデル</h2>
      <div class="c-Table_Wrap-scroll u-Adjust_Mt-24">
        <div class="js-Scrollable">
          <img src="<%= sitepath %>assets/img/info/iphone-230915/watch-se2.png" alt="価格表" style="width:514px;max-width:514px;">
        </div>
      </div>
    </div>

    <div class="u-Adjust_Mt-32">
      <h2 class="c-Heading_Lv1">MagSafe充電ケース（USB‑C）付きAirPods Pro（第2世代）</h2>
      <div class="u-Adjust_Mt-24">
        <div class="">
          <img src="<%= sitepath %>assets/img/info/iphone-230915/pods-pro2.png" width="436" alt="価格表" width="514" height="41">
        </div>
      </div>
    </div>

    <p class="c-Txt_Cap u-Adjust_Mt-32">※2 楽天カードのみ。現金販売価格と割賦販売価格（総額）は製品価格と同額。支払回数48回、支払期間48カ月、実質年率0％。機種変更またはお使いいただいた製品を当社が回収する際には事務手数料3,300円のお支払いが必要。 24回分お支払い後、25カ月目に製品を当社が回収した場合。当社が回収した旧製品が当社指定の状態基準を満たさない場合、故障費用22,000円（不課税）のお支払いが必要となる、または当社が回収できない場合あり。</p>

    <p class="c-Txt_Cap u-Adjust_Mt-16">※3 「【Rakuten最強プランお申し込み特典】だれでも3,000ポイントプレゼント」「iPhone 対象端末ポイントバックキャンペーン」「楽天モバイル買い替え超トクプログラムを利用してiPhone購入&iPhone下取りで5,000ポイント還元！キャンペーン」「iPhone購入＆対象のiPhone下取りで、5,000ポイント還元キャンペーン」適用時。楽天モバイルを初めてお申し込みいただいた回線に限ります。iPhone下取りは一部対象製品（iPhone 7/iPhone 7 Plus/iPhone 8/iPhone 8 Plus/iPhone X）に限ります。「【楽天モバイル】Rakuten最強プラン紹介キャンペーン」は併用不可となります。</p>

      <p class="c-Txt_Cap u-Adjust_Mt-16">※4 「【Rakuten最強プランお申し込み特典】だれでも3,000ポイントプレゼント」「iPhone 対象端末ポイントバックキャンペーン」「iPhone購入＆対象のiPhone下取りで、5,000ポイント還元キャンペーン」適用時。楽天モバイルを初めてお申し込みいただいた回線に限ります。iPhone下取りは一部対象製品（iPhone 7/iPhone 7 Plus/iPhone 8/iPhone 8 Plus/iPhone X）に限ります。「【楽天モバイル】Rakuten最強プラン紹介キャンペーン」は併用不可となります。</p>

      <p class="c-Txt_Cap u-Adjust_Mt-16">※5 楽天モバイル買い替え超トクプログラムを利用してiPhone購入&iPhone下取りで5,000ポイント還元！キャンペーン」「iPhone購入＆対象のiPhone下取りで、5,000ポイント還元キャンペーン」適用時。iPhone下取りは一部対象製品（iPhone 7/iPhone 7 Plus/iPhone 8/iPhone 8 Plus/iPhone X）に限ります。</p>

      <p class="c-Txt_Cap u-Adjust_Mt-16">※6 「iPhone購入＆対象のiPhone下取りで、5,000ポイント還元キャンペーン」適用時。楽天モバイルを初めてお申し込みいただいた回線に限ります。iPhone下取りは一部対象製品（iPhone 7/iPhone 7 Plus/iPhone 8/iPhone 8 Plus/iPhone X）に限ります。</p>

      <p class="c-Txt_Cap u-Adjust_Mt-16">※7 「実質価格」とは、キャンペーンの条件達成により後日付与されるポイントを加味した価格であり、実際のお支払い金額とは異なります。詳しくはキャンペーンルールをご確認ください。</p>

      <p class="c-Txt_Cap u-Adjust_Mt-16">※ 楽天ポイントの付与は、各特典の条件達成月の翌々月末日頃までに、期間限定ポイントで行います。<br>
      ※ 取得した楽天ポイントは楽天モバイルや楽天の各サービスでご利用できます。詳しくは楽天ポイントのページをご覧ください。<br>
      ※ 一度に利用できるポイント数は1～30,000 (ダイヤモンド会員の方は～500,000) ポイントです。製品を分割払いでご購入の場合、2回目以降のお支払いにはご利用いただけません。<br>
      ※ ここに掲載されている情報は、2023年9月15日時点の情報です。</p>

      <p class="c-Txt_Cap u-Adjust_Mt-16">※Apple、iPhone、Retina、Super Retina、ProMotionは、米国および他の国々で登録されたApple Inc.の商標です。<br>
      ※iPhoneの商標は、アイホン株式会社のライセンスに基づき使用されています。<br>
      ※その他、本お知らせに記載されている会社名および製品・サービス名は、各社の登録商標または商標です。</p>
  </div>
</div>

<footer class="g-Footer">

  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
    </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/service.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
