<% const pagetitle = "Rakuten WiFi Pocketだれでも0円お試しキャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "rakuten-wifi-pocket" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'キャンペーン期間中にRakuten UN-LIMITに申し込みで、Rakuten WiFi Pocketを実質0円でご購入いただけます。',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/rakuten-wifi-pocket/rakuten-wifi-pocket.css?20240424">
<%- include('/include/_append-head') %>

</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= namespace %>-Hero">
  <div class="<%= namespace %>-Hero_Main">
    <div class="l-System_Container">
      <p class="c-Txt_Cap u-Adjust_Align-right">※表記の金額は特に記載のある場合を除き全て税込です。</p>
      <div class="<%= namespace %>-Hero_Main-img u-Adjust_Align-center">
        <img class="<%= namespace %>-Utility_Pc-only" src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket/img-hero-pc.png?220208" alt="Rakuten UN-LIMIT VI 初めてのお申し込みで だれでも実質0円お試しキャンペーン">
        <img class="<%= namespace %>-Utility_Sp-only" src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket/img-hero-sp.png?220208" alt="Rakuten UN-LIMIT VI 初めてのお申し込みで だれでも実質0円お試しキャンペーン">
      </div>
    </div>
  </div>
  <div class="<%= namespace %>-Hero_Term">
    <div class="l-System_Container">
      <p class="c-Txt_Cap u-Adjust_Mt-24">※1 プラン契約とアンケートのご回答で、実質0円となります。※2 本体代金割引キャンペーンの適用はおひとり様1回までとなります。※ アンケートご回答での1ポイント還元は回線契約がないお客様および他製品をお買い上げのお客様も対象です。※ 1円（税込1円）相当のポイント付与時期はアンケート回答完了の翌々月末日です。 </p>

      <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-16 u-Adjust_Align-center">本キャンペーンは終了しました。</p>

      <div class="c-Infobox_Standing-border u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Align-center">【お申し込み期間】<br>Web：2020年12月8日（火） 9:00～2021年7月20日（火） 0:00 / ショップ：2020年12月25日（金）開店～2021年7月19日（月）閉店</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※本特典は予告なく内容の変更もしくは中止させていただく場合がございます。あらかじめご了承ください。</p>

      </div>

      <div class="c-Infobox_Standing-info u-Adjust_Mt-16">
          <div>「実質価格」とは、キャンペーンの条件達成（Rakuten UN-LIMIT VI初めて契約、対象製品購入、Rakuten Link利用など）により後日付与されるポイントを加味した価格であり、実際のお支払い金額とは異なります。詳しくは<a href="#campaign-rule">キャンペーンルール</a>をご確認ください。</div>
        </div>

      <ul class="<%= namespace %>-Hero_Term-nav u-Adjust_Mt-32 u-Adjust_Mb-16">
        <li>
          <a href="#campaign-flow" class="c-Link_Txt-inline js-scroll"><span class="c-Icon_Arrow-down-l u-Adjust_Mr-8"></span>キャンペーンの流れ</a>
        </li>
        <li>
          <a href="#campaign-rule" class="c-Link_Txt-inline js-scroll"><span class="c-Icon_Arrow-down-l u-Adjust_Mr-8"></span>Rakuten WiFi Pocketだれでも0円お試しキャンペーンルール</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--
<div class="<%= namespace %>-Merit">
  <div class="<%= namespace %>-Merit_Title">
    <p class="<%= namespace %>-Merit_Title-heading-sub u-Adjust_Align-center">Rakuten WiFi Pocketで、楽天回線を3カ月無料<small>※4</small>で試してみよう！</p>
    <h2 class="<%= namespace %>-Merit_Title-heading u-Adjust_Align-center c-Heading_Lv2">3つのメリット</h2>
  </div>
  <div class="<%= namespace %>-Merit_Main u-Adjust_Pt-32 u-Adjust_Pb-40">

    <div class="l-System_Container">

      <div class="c-Infobox_Standing-white">
        <h3 class="c-Heading_Lv2 u-Adjust_Align-center">Rakuten WiFi Pocket本体代が</h3>
        <div class="u-Adjust_Align-center u-Adjust_Mt-8">
          <img src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket/img-device-zeroyen.png" width="232" alt="アンケートに答えて実質0円※2">
        </div>
        <p class="<%= namespace %>-Merit_Main-text <%= namespace %>-Utility_Pc-center c-Txt_Emp-01 c-Txt_Normal-m">プランお申し込みで本体価格1円（税込）さらに、アンケートご回答で1ポイント還元 = 実質0円</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※プラン契約とアンケートのご回答で、実質0円となります。※本体代金割引キャンペーンの適用はおひとり様1回までとなります。※本体代金割引キャンペーンが適用される場合、お申し込み画面で本体価格から割引表示され、1円（税込1円）となります。※アンケートご回答での1ポイント還元は回線契約がないお客様および他製品をお買い上げのお客様も対象です。※1円（税込1円）相当のポイント付与時期はアンケート回答完了の翌々月末日です。</p>
        <div class="u-Adjust_Mt-16">
          <a href="#questionnaire" class="c-Link_Txt-inline js-scroll"><span class="c-Icon_Arrow-down-l u-Adjust_Mr-8"></span>アンケートの回答方法を確認する</a>
        </div>
      </div>

      <div class="c-Infobox_Standing-white u-Adjust_Mt-24">
        <h3 class="c-Heading_Lv2 u-Adjust_Align-center">プラン料金 最大2,980円/月（税込3,278円）が</h3>
        <div class="<%= namespace %>-Merit_Main-pre-border u-Adjust_Align-center u-Adjust_Mt-8">
          <img class="<%= namespace %>-Utility_Pc-only" src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket/img-oneyear-zeroyen-pc.png?210408" width="550" alt="Rakuten UN-LIMIT VI 1年間1回線目なら0円※5">
          <img class="<%= namespace %>-Utility_Sp-only" src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket/img-oneyear-zeroyen-sp.png?210408" width="211" alt="Rakuten UN-LIMIT VI 1年間1回線目なら0円※5">
        </div>
        <div class="<%= namespace %>-Merit_Main-oneyear-img u-Adjust_Align-center" style="border-top: 1px solid #CACADB;">
          <img class="<%= namespace %>-Utility_Pc-only" src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket/img-merits-pc.png?210401" alt="楽天回線エリア データ容量 制限なし パートナー回線エリア データ容量 5GB/月 楽天回線エリア 高速でデータ使い放題※2 5Gエリアは5G通信で使い放題※3 パートナー回線エリア データ容量 5GB/月 超過誤は最大1Mbpsで使い放題※4">
          <img class="<%= namespace %>-Utility_Sp-only" src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket/img-merits-sp.png?210401" alt="楽天回線エリア データ容量 制限なし パートナー回線エリア データ容量 5GB/月 楽天回線エリア 高速でデータ使い放題※2 5Gエリアは5G通信で使い放題※3 パートナー回線エリア データ容量 5GB/月 超過誤は最大1Mbpsで使い放題※4">
        </div>


        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
          <a href="<%= sitepath %>fee/un-limit/" class="c-Btn_Primary-large u-Adjust_Mb-8"><span>料金プランの詳細を見る</span></a>
        </div>

        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
          <a href="<%= sitepath %>area/" class="<%= namespace %>-Component_Btn-sp-full c-Btn_Secondly-auto">お客様のご利用エリアを確認する</a>
        </div>
        <div class="u-Adjust_Mt-16">
          <p class="c-Txt_Cap">※5 プラン料金最大2,980円/月（税込3,278円）、お1人様1回線1度のみ3カ月無料。製品代、オプション料、通話料等は別費用。「プラン料金1年無料」適用者は対象外。<br>
※6 製品代、オプション料、通話料等は別費用。 2回線目以降は0GB～3GBまで980円（税込1,078円）。<br>
※7 データ無制限は、楽天基地局に接続時。公平にサービスを提供するため通信速度の制御を行う場合があります。パートナー回線エリアは、国内は5GB超過後は最大1Mbps、海外は2GB超過後は最大128kbpsで使い放題。最大1Mbpsで使用時、動画再生・アプリダウンロード等では、時間がかかる場合あり。通信速度はベストエフォート（規格上の最大速度）であり、実効速度は通信環境・状況により変動します。</p>
        </div>
      </div>

      <div class="c-Infobox_Standing-white u-Adjust_Mt-16">
        <h3 class="<%= namespace %>-Merit_Main-heading u-Adjust_Align-center">契約事務手数料</h3>
        <div class="u-Adjust_Align-center u-Adjust_Mt-8">
          <img src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket/img-transaction-fee-zeroyen.png" width="263" alt="初期費用なし 0円">
        </div>
        <p class="<%= namespace %>-Merit_Main-text c-Txt_Emp-01 c-Txt_Normal-m u-Adjust_Align-center u-Adjust_Mt-16">いままでお申し込み時に必要だった事務手数料もこれからは0円</p>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
          <a href="<%= sitepath %>fee/zero/" class="<%= namespace %>-Component_Btn-sp-full c-Btn_Secondly-auto">ZERO宣言の詳細を見る</a>
        </div>
      </div>

    </div>

  </div>
</div>
-->

<div class="l-System_Container">
  <div class="l-Media_Grid-reverse <%= namespace %>-Kv_Grid">
    <div class="<%= namespace %>-Kv_Grid-first">
      <img class="<%= namespace %>-Utility_Pc-only" src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket/img-wifi-pocket-copy-pc.png?210401" alt="Rakuten UN-LIMIT VIを幅広いシーンで活用する">
      <img class="<%= namespace %>-Utility_Sp-only" src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket/img-wifi-pocket-copy-sp.png?210401" alt="Rakuten UN-LIMIT VIを幅広いシーンで活用する">
    </div>
    <div class="l-Media_Image <%= namespace %>-Kv_Grid-second">
      <img src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket/img-wifi-pocket-kv.png" alt="Rakuten WiFi Pocket">
    </div>
  </div>
  <div class="<%= namespace %>-Exp_Grid u-Adjust_Mt-16">
    <div class="<%= namespace %>-Exp_Grid-item">
      <div>
        <img class="<%= namespace %>-Utility_Pc-only" src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket/img-card-1-pc.png" alt="リモートワークにて、固定回線の代わりに。">
        <img class="<%= namespace %>-Utility_Sp-only" src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket/img-card-1-sp.png" alt="リモートワークにて、固定回線の代わりに。">
      </div>
      <div>
        <p class="<%= namespace %>-Exp_Grid-item-inner-text c-Txt_Normal-l c-Txt_Emp-01 u-Adjust_Align-center">リモートワークでの<br>ご利用に。</p>
      </div>
    </div>
    <div class="<%= namespace %>-Exp_Grid-item">
      <div>
        <img class="<%= namespace %>-Utility_Pc-only" src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket/img-card-2-pc.png" alt="ドライブ中のエンターテインメントに。">
        <img class="<%= namespace %>-Utility_Sp-only" src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket/img-card-2-sp.png" alt="ドライブ中のエンターテインメントに。">
      </div>
      <div>
        <p class="<%= namespace %>-Exp_Grid-item-inner-text c-Txt_Normal-l c-Txt_Emp-01 u-Adjust_Align-center">ドライブ中の<br>エンターテインメントに。</p>
      </div>
    </div>
    <div class="<%= namespace %>-Exp_Grid-item">
      <div>
        <img class="<%= namespace %>-Utility_Pc-only" src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket/img-card-3-pc.png" alt="外出先での通信に。">
        <img class="<%= namespace %>-Utility_Sp-only" src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket/img-card-3-sp.png" alt="外出先での通信に。">
      </div>
      <div>
        <p class="<%= namespace %>-Exp_Grid-item-inner-text c-Txt_Normal-l c-Txt_Emp-01 u-Adjust_Align-center">外出先での<br>通信に。</p>
      </div>
    </div>
  </div>
  <p class="<%= namespace %>-Utility_Pc-center c-Txt_Cap u-Adjust_Mt-16">※パートナー回線で利用する場合、データ容量は月5GB。超過後は最大1Mbpsで使い放題。動画再生、アプリダウンロード等では時間がかかる場合があります。</p>
  <div class="<%= namespace %>-Exp_Btn u-Adjust_Align-center">
    <a href="<%= sitepath %>product/internet/rakuten-wifi-pocket/" class="c-Btn_Primary-large">Rakuten WiFi Pocketの詳細・購入はこちら</a>
    <p class="c-Txt_Cap u-Adjust_Mt-8">※Rakuten WiFi Pocket 詳細ページに移動します。</p>
  </div>

  <div class="u-Adjust_Mt-64" id="campaign-flow">
    <h2 class="c-Heading_Lv3">キャンペーン参加方法</h2>

    <ul class="<%= namespace %>-Flow_List">
      <li>
        <h3 class="c-Heading_Lv4 u-Adjust_Mb-16">お申し込み・お支払いに必要なものを準備する</h3>
        <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
          <div class="l-Media_Image <%= namespace %>-Flow_List-img">
            <img src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket/img-flow-1.png" alt="お申し込み・お支払いに必要なものを準備する">
          </div>
          <div>
            <div class="u-Adjust_Mt-16">
              <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc">
                <li><a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-icon">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                <li>楽天会員ログイン用のユーザID、パスワード
                  <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Emp-02 c-Txt_Normal-s u-Adjust_Mt-8">※本人確認書類の情報と、楽天会員情報が一致している必要があります。</p>
                  <a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Link_Txt-icon u-Adjust_Mt-8">楽天会員情報を確認・変更する<span class="c-Icon_Chevron-right"></span></a>
                </li>
                <li><a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-icon">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                  <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">※ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="<%= sitepath %>faq/detail/00001238/">こちらのご案内ページ</a>を必ず事前にご確認ください。</p>
                </li>
                <li><a href="<%= sitepath %>guide/mnp/" class="c-Link_Txt-icon">ご契約者名義のMNP予約番号（他社から乗り換えの場合）<span class="c-Icon_Chevron-right"></span></a></li>
              </ul>
            </div>
            <ul class="c-List_Cap u-Adjust_Mt-24">
              <li><span>※</span>未成年者の方のお申し込みに必要な情報、お申し込み方法は<a href="/flow/for-minors/">こちらのご案内ページ</a>をご確認ください。</li>
              <li><span>※</span>Webページにて、楽天モバイル（ドコモ回線・au回線）から移行お手続き後に、Rakuten UN-LIMIT VIにお申し込みいただく場合、MNP予約番号と本人確認書類はご準備不要です。</li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv4 u-Adjust_Mb-16">Rakuten WiFi Pocketの詳細ページへ移動し、Rakuten UN-LIMIT VIと製品を購入する</h3>
        <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
          <div class="l-Media_Image <%= namespace %>-Flow_List-img">
            <img src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket/img-flow-2.png?210408" alt="Rakuten WiFi Pocketの詳細ページ">
          </div>
          <div>
            <p class="">Rakuten WiFi Pocketの詳細ページに移動し、ページ内の「ご希望のカラー」＋「Rakuten UN-LIMIT VIを申し込む」のボタンを押下後、手順に従ってお申し込みを完了させてください</p>
            <div class="<%= namespace %>-Utility_Section-center">
              <div class="<%= namespace %>-Flow_List-button-sec u-Adjust_Mt-16">
                <a href="<%= sitepath %>product/internet/rakuten-wifi-pocket/" class="c-Btn_Primary-large">Rakuten WiFi Pocketの詳細・購入はこちら</a>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※Rakuten WiFi Pocket 詳細ページに移動します。</p>
                <div class="u-Adjust_Mt-16">
                  <a href="<%= sitepath %>fee/un-limit/" class="c-Link_Txt-icon">Rakuten UN-LIMIT VIの詳細を見る<span class="c-Icon_Chevron-right"></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </li>
      <li>
        <h3 class="c-Heading_Lv4">お申し込み完了</h3>
        <div class="l-Media_Grid u-Adjust_Mt-16">
          <div class="l-Media_Image <%= namespace %>-Flow_List-img">
            <img src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket/img-flow-3.png" alt="お申し込み完了">
          </div>
          <div>
            <p class="u-Adjust_Mt-8">本人確認の審査が完了次第、製品を発送させていただきます。本人確認の審査状況、発送状況は「my 楽天モバイル」でご確認いただけます。</p>
            <div class="<%= namespace %>-Utility_Sp-center u-Adjust_Mt-32">
              <a href="<%= sitepath %>my-rakuten-mobile" class="c-Btn_Regular-auto <%= namespace %>-Utility_Sp-full"><span class="">my 楽天モバイル</span></a>
            </div>
          </div>
        </div>
      </li>
      <li id="questionnaire">
        <h3 class="c-Txt_Emp-02 c-Heading_Lv4">アンケートに答えて、1円（税込）相当のポイントプレゼント！</h3>
        <div class="l-Media_Grid u-Adjust_Mt-16">
          <div class="l-Media_Image <%= namespace %>-Flow_List-img">
            <img src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket/img-flow-4.png" alt="ポイント">
          </div>
          <div>
            <p class="">お申し込み（ご購入）完了メールに記載のリンクよりアンケートに回答したお客様に1ポイントを付与いたします。ポイントの付与はアンケート回答完了の翌々月末日までに行います。</p>
            <p class="u-Adjust_Mt-8"><a class="js-scroll" href="#questionnaire-campaign-rule">アンケート回答で１ポイントバックキャンペーンルール</a>をご確認のうえ、お申し込みください。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※本特典の適用対象となられたかどうかのご連絡はポイントの付与をもってかえさせていただきます。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※お申し込み（ご購入）完了メールは、ログイン時に入力いただいた会員情報に紐づくメールアドレスへお送りいたします。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※「rm-mail@mobile.rakuten.co.jp」のアドレスからお送りいたしますので、迷惑メールの設定解除をお願いいたします。</p>
          </div>
        </div>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
          <p>▼お申し込み（ご購入）完了メール</p>
          <img class="<%= namespace %>-Flow_List-img-final" src="<%= sitepath %>assets/img/campaign/rakuten-wifi-pocket/img-flow-5.png?201209" alt="お申し込み（ご購入）完了メール">
          <p class="c-Txt_Cap u-Adjust_Mt-8">※お申し込み（ご購入）完了メールに記載の「アンケートに回答する」よりご回答ください。</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="u-Adjust_Align-center u-Adjust_Mt-24">
    <a href="<%= sitepath %>product/internet/rakuten-wifi-pocket/" class="c-Btn_Primary-large">Rakuten WiFi Pocketの詳細・購入はこちら</a>
    <p class="c-Txt_Cap u-Adjust_Mt-8">※Rakuten WiFi Pocket 詳細ページに移動します。</p>
  </div>

  <div class="u-Adjust_Align-right u-Adjust_Mt-16">
    <a href="#top" class="c-Link_Txt-inline js-scroll"><span class="c-Icon_Arrow-up-l u-Adjust_Mr-8"></span>ページトップへ</a>
  </div>

  <div class="u-Adjust_Mt-64" id="campaign-rule">
    <h2>Rakuten WiFi Pocketだれでも0円お試しキャンペーン</h2>
    <div class="c-Table_Wrap u-Adjust_Mt-24">
      <table class="c-Table_Container <%= namespace %>-Table_Rule">
        <colgroup>
          <col>
          <col>
          <col>
        </colgroup>
        <tbody>
          <tr>
            <th colspan="2">キャンペーンコード</th>
            <td>
              <p class="u-Adjust_Mt-8">
                1124
              </p>
              <ul class="c-List_Cap u-Adjust_Mt-8">
                <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th colspan="2">キャンペーン期間</th>
            <td>
              <p class="u-Adjust_Mt-8">
                [Web]：2020年12月8日（火）09:00～2021年8月27日（金） 8:59<br>
                [店舗（楽天モバイルショップ）]：2020年12月25日（金）開店～2021年8月26日（木）閉店
              </p>
            </td>
          </tr>
          <tr>
            <th colspan="2">対象者・適用条件</th>
            <td>
              <p class="u-Adjust_Mt-8">
                以下条件を満たした楽天会員の方
              </p>
              <p class="u-Adjust_Mt-16">
                キャンペーン期間中に、「Rakuten UN-LIMIT VI」と「Rakuten WiFi Pocket」をセットでご購入
              </p>
              <ul class="c-List_Cap u-Adjust_Mt-8">
                <li><span>※</span>特典はおひとり様1回のみとさせていただきます</li>
                <li><span>※</span><span>Rakuten UN-LIMIT VIの3カ月無料は、お1人様1回線目1度のみ。製品代、オプション料、通話料等は別費用。</span>（Rakuten UN-LIMIT VIの3カ月無料は2022年2月8日23:59 終了） 2回線目としてお申し込みの場合、プラン料金は初月0GB～3GBまで980円（税込1,078円）。（2021年4月8日一部追記）</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>キャンペーン特典</th>
            <th>特典内容</th>
            <td>
              <p>
                Rakuten WiFi Pocketを1円（税込）で販売させていただきます
              </p>
              <ul class="c-List_Text-disc u-Adjust_Mt-16">
                <li>Rakuten WiFi Pocketだれでも0円お試しキャンペーンで、本体代金が1円（税込）
                  <p class="c-Txt_Cap u-Adjust_Mt-8">Rakuten WiFi Pocketだれでも0円お試しキャンペーン適用で、お申し込み画面にて割引表示され、本体価格が1円（税込）となります。</p>
                </li>
                <li>お申し込み完了メールのアンケートに答えて、1ポイント
                  <p class="c-Txt_Cap u-Adjust_Mt-8">楽天ポイント1ポイントをプレゼント</p>
                  <p class="c-Txt_Cap ">詳細は<a class="js-scroll" href="#questionnaire-campaign-rule">アンケート回答で１ポイントバックキャンペーンルール</a>をご覧ください。</p>
                </li>
                <li>プラン契約とアンケートのご回答で、実質0円となります。</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th rowspan="3">注意事項</th>
            <th>特典適用対象外</th>
            <td>
              <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
              <ul class="c-List_Text-disc u-Adjust_Mt-16">
                <li>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
                <li>当社または楽天株式会社が定める規約などに違反した場合</li>
                <li>そのほか、当社が会員として不適格であると判断した場合</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>併用不可キャンペーン</th>
            <td>
              <ul class="c-List_Text-disc u-Adjust_Mt-16">
                <li>Rakuten WiFi PocketとRakuten Handをご購入した場合、本キャンペーンが適用され、「Rakuten Hand発売記念キャンペーン」（キャンペーンコード：1123）または「 Rakuten Hand19,999ポイントプレゼントキャンペーン」（キャンペーンコード：1146）は対象外となります。（2021年1月7日一部追記）</li>
                <li>Rakuten WiFi Pocketと「Rakuten UN-LIMIT VI＋製品購入でポイント還元キャンペーン」（キャンペーンコード：1121、1145、1160、1186、1251*）対象製品をご購入した場合、本キャンペーンが適用され、「Rakuten UN-LIMIT VI＋製品購入でポイント還元キャンペーン」（キャンペーンコード：1121、1145、1160、1186、1251*）は対象外となります。（*2021年6月22日追記）</li>
                <li>Rakuten WiFi Pocketと「期間限定増額！Rakuten UN-LIMIT VI＋製品購入で、さらにポイントプレゼントキャンペーン」（キャンペーンコード：1148）対象製品をご購入した場合、本キャンペーンが適用され、「期間限定増額！Rakuten UN-LIMIT VI＋製品購入で、さらにポイントプレゼントキャンペーン」（キャンペーンコード：1148）は対象外となります。（2021年4月1日一部追記）</li>
                <li>Rakuten WiFi Pocketと「期間限定！Rakuten UN-LIMIT VI＋製品購入でポイント還元キャンペーン」（キャンペーンコード：1168）対象製品をご購入した場合、本キャンペーンのみが適用されます。（2021年4月1日一部追記）</li>
                <li>Rakuten WiFi PocketとiPhone製品をご購入した場合、本キャンペーンが適用され、「iPhone発売記念キャンペーン」は対象外となります。</li>
                <li>Rakuten WiFi PocketとiPhone製品をご購入した場合、本キャンペーンが適用され、「プラン変更（移行）限定！iPhone購入で、さらに5,000ポイント還元キャンペーン​」は対象外となります。</li>
                <li>Rakuten WiFi Pocketと楽天モバイル公式 楽天市場店で「【リニューアル記念キャンペーン】楽天モバイル公式 楽天市場店で製品を購入＆楽天回線(プラン)お申し込みでポイント最大20倍」対象製品をご購入した場合、本キャンペーンが適用され、「【リニューアル記念キャンペーン】楽天モバイル公式 楽天市場店で製品を購入＆楽天回線(プラン)お申し込みでポイント最大20倍」は対象外となります。</li>
                <li>Rakuten WiFi Pocketと楽天モバイル公式 楽天市場店で「【リニューアル記念キャンペーン】楽天モバイル公式 楽天市場店でiPhoneを購入＆Rakuten UN-LIMIT VIお申し込みでポイント10倍」対象製品をご購入した場合、本キャンペーンが適用され、「【リニューアル記念キャンペーン】楽天モバイル公式 楽天市場店でiPhoneを購入＆Rakuten UN-LIMIT VIお申し込みでポイント10倍」は対象外となります。</li>
                <li>Rakuten WiFi Pocketと楽天モバイル公式 楽天市場店で「楽天モバイル公式 楽天市場店 対象製品と楽天回線セットご注文で最大ポイント20倍」対象製品をご購入した場合、本キャンペーンが適用され、「楽天モバイル公式 楽天市場店 対象製品と楽天回線セットご注文で最大ポイント20倍」は対象外となります。</li>
                <li>Rakuten WiFi Pocketと楽天モバイル公式 楽天市場店で「楽天モバイル公式 楽天市場店 対象製品と楽天回線セットご注文で最大7,000ポイント」対象製品をご購入した場合、本キャンペーンが適用され、「楽天モバイル公式 楽天市場店 対象製品と楽天回線セットご注文で最大7,000ポイント」は対象外となります。</li>
                </ul>
                <p class="u-Adjust_Mt-16 c-Txt_Emp-01">他社から乗り換え（MNP）でRakuten WiFi Pocketをご購入し、条件を満たした場合には、以下のキャンペーンは適用されず、本キャンペーンが対象となりますので、ご注意ください。</p>
                <p><a href="<%= sitepath %>campaign/start-point/#campaign-rule03">お持ちのスマホそのままで、他社から乗り換え（MNP）の方限定！通常のRakuten UN-LIMIT VIお申し込み特典に加えて、さらに15,000ポイントプレゼントキャンペーン</a></p>
            </td>
          </tr>
          <tr>
            <th>その他注意事項</th>
            <td>
              <ul class="c-List_Text-disc u-Adjust_Mt-16">
                <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法上の範囲内に制限される場合があります</li>
                <li>製品の台数に限りがございます。無くなり次第終了とさせていただく場合があります</li>
                <li>記載の内容は2021年6月22日（火）時点の情報となります</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="u-Adjust_Mt-32" id="questionnaire-campaign-rule">
    <h2>アンケート回答で１ポイントバックキャンペーン</h2>
    <div class="c-Table_Wrap u-Adjust_Mt-24">
      <table class="c-Table_Container <%= namespace %>-Table_Rule">
        <colgroup>
          <col>
          <col>
          <col>
        </colgroup>
        <tbody>
          <tr>
            <th colspan="2">キャンペーンコード</th>
            <td>
              <p class="u-Adjust_Mt-8">
                1112
              </p>
              <ul class="c-List_Cap u-Adjust_Mt-8">
                <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th colspan="2">キャンペーン期間</th>
            <td>
              <p class="u-Adjust_Mt-8">
                [Web]：2020年12月8日（火）09:00～2021年8月27日（金） 8:59<br>
                [店舗（楽天モバイルショップ）]：2020年12月25日（金）開店～2021年8月26日（木）閉店
              </p>
              <ul class="c-List_Cap u-Adjust_Mt-8">
                <li><span>※</span>Rakuten WiFi Pocketが販売終了次第終了</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th colspan="2">対象者・適用条件</th>
            <td>
              <p class="u-Adjust_Mt-8">
                ①および②の条件、両方を満たした楽天会員の方
              </p>
              <p class="u-Adjust_Mt-16">
                ①楽天モバイルオンラインショップまたは楽天モバイル店頭にてSIM契約、スマートフォン、WiFiルーター、いずれかをお申し込み
              </p>
              <p class="u-Adjust_Mt-16">
                ②ご契約（ご購入）完了メールに記載のリンクよりアンケートに回答したお客さま
              </p>
              <ul class="c-List_Cap u-Adjust_Mt-8">
                <li><span>※</span>特典はおひとり様1度のみとさせていただきます</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th rowspan="4">キャンペーン特典</th>
            <th>特典内容</th>
            <td>
              <p>
                楽天ポイント1ポイントをプレゼント
              </p>
            </td>
          </tr>
          <tr>
            <th>ポイント付与日</th>
            <td>
              <p>
                アンケート回答完了の翌々月末日
              </p>
              <p class="u-Adjust_Mt-16">
                例）12月にアンケートに回答した場合は、ポイント付与は2021年2月となります
              </p>
            </td>
          </tr>
          <tr>
            <th>ポイント有効期間</th>
            <td>
              <p>
                ポイント付与日を含めて6カ月
              </p>
            </td>
          </tr>
          <tr>
            <th>ポイント数</th>
            <td>
              <p>
                1ポイント
              </p>
              <ul class="c-List_Cap u-Adjust_Mt-8">
                <li><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</li>
                <li><span>※</span>権利の譲渡はできません</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th rowspan="2">注意事項</th>
            <th>特典適用対象外</th>
            <td>
              <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
              <ul class="c-List_Text-disc u-Adjust_Mt-16">
                <li>アクセサリー単品購入、Rakuten Casaのお申し込みは対象外</li>
                <li>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
                <li>ポイント付与までに楽天会員から退会している場合</li>
                <li>ポイント付与までに登録された楽天ポイント口座を削除された場合</li>
                <li>当社の提供するサービスなどの料金のお支払いを、お支払期限までに行わなかった場合</li>
                <li>当社または楽天株式会社が定める規約などに違反した場合</li>
                <li>そのほか、当社が会員として不適格であると判断した場合</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>その他注意事項</th>
            <td>
              <ul class="c-List_Text-disc u-Adjust_Mt-16">
                <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法上の範囲内に制限される場合があります</li>
                <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                <li>記載の内容は2021年4月8日時点の情報となります</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

<div class="u-Adjust_Mt-48">
  <!-- ReX UX Survey: Mounting point for embedded components -->
  <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
</div>

<footer class="g-Footer u-Adjust_Mt-64">

  <div class="g-Footer_Aside">

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
<!-- ReX UX Survey: Config -->
<script>
window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
</script>
<!-- ReX UX Survey: Script -->
<script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>
</body>
</html>
