<% const pagetitle = "Rakuten WiFi Pocket 2Cの修理・交換手続き方法" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/internet/", label:"Wi-Fiルーター／周辺機器"}, {path:"product/internet/rakuten-wifi-pocket-2c/", label:"Rakuten WiFi Pocket 2C"}, {path:"product/internet/rakuten-wifi-pocket-2c/support/", label:"Rakuten WiFi Pocket 2C サポート情報"}] -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Rakuten WiFi Pocket 2Cの修理・交換手続き方法についてご案内します',
    noindex: false,
    pathname: filepath
  });
%>
<% const nameSpace="guide" -%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="u-Adjust_Pb-64">
  <div class="l-System_Container u-Adjust_Mt-32">
    <h1 class="c-Heading_Lv1">Rakuten WiFi Pocket 2Cの修理・交換手続き方法</h1>

    <p class="u-Adjust_Mt-32">Rakuten WiFi Pocket 2Cの初期不良や修理・交換（無償・有償）に関するお手続きについて、ご案内いたします。</p>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">お手続きの前に、次の状況に該当するかをご確認ください</h2>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-32">製品を購入してから14日以内の方</h3>
    <p class="u-Adjust_Mt-16">
      楽天モバイルで購入した製品の不備がある場合、製品到着日（店頭購入の場合は購入日）から14日以内（到着日含む）に下記までご連絡ください。初期不良とみられる不具合の場合は交換が可能です。<br>「<a href="#link01">楽天モバイル株式会社 コミュニケーションセンター</a>」へご連絡ください。
    </p>
    <p class="c-Txt_Cap u-Adjust_Mt-16">
      ※初期不良による交換対応の場合、故障機の発送は、交換品の受取後14日以内にお願いいたします。返却期日までに弊社にて受け取りが確認できない場合は、違約金7,980円（税込）を請求させていただく場合がございます。
    </p>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-32">「スマホ交換保証プラス」をご契約中の方</h3>
    <p class="u-Adjust_Mt-16">
      「スマホ交換保証プラス」を利用する場合は、<a
        href="https://network.mobile.rakuten.co.jp/guide/replacement-warranty-plus/#howto-use">ご利用の流れ</a>をご確認ください。
    </p>
    <p>初期不良の対応期間でも、オプションサービスをご利用した場合は年間利用回数（3回）にカウントされます。あらかじめご了承ください。</p>

    <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-32">
      ※中古品等、保証期間または有償・無償の別を問わず、交換または修理の受付ができない場合がございます。詳細は<a
        href="<%= sitepath %>product/internet/rakuten-wifi-pocket-2c/support/repair-warranty/">修理保証</a>をご確認ください。
    </p>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">修理・交換のお手続き方法</h2>
    <ol class="c-Flow">
      <li>
        <h4 class="c-Heading_Lv4">1. メーカーの保証期間を確認する</h4>
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>
            製品の保証期間は、購入日から1年間（ショップは購入日から、オンライン購入は到着日から）です。保証期間内に本製品の故障が発生した場合、無償交換の対象です。<span class="c-Txt_Emp-02">ただし、保証期間内であっても、自然な摩耗、汚れ、バッテリーの消耗や破裂、水没などによる故障は有償での修理・交換となります。</span>
          </li>
          <li>
            <span class="c-Txt_Emp-02">保証期間が1年を過ぎている場合は有償での修理・交換となります。</span>
          </li>
        </ul>
        <p class="c-Txt_Cap u-Adjust_Mt-16">※詳細は<a href="https://network.mobile.rakuten.co.jp/product/internet/rakuten-wifi-pocket-2c/support/repair-warranty/">修理保証</a>をご確認ください。</p>
      </li>
      <!--  -->
      <li>
        <h4 class="c-Heading_Lv4">2. 修理代金の目安を事前に確認する</h4>
        <p class="u-Adjust_Mt-16">Rakuten WiFi Pocket 2Cの修理代金の目安は以下のとおりです。</p>
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>
            <span class="c-Txt_Emp-02">修理内容が複数ある場合、すべての修理を行うことになります。修理内容の選択はできません。</span>
          </li>
          <li>
            <span class="c-Txt_Emp-02">修理代金も複数の修理内容を合計した金額となります。</span>
          </li>
        </ul>
        <p class="u-Adjust_Mt-16">実際の金額は修理を受付後、故障機を受け取り、検査後にお見積もりをお送りいたします。</p>

        <h4 class="c-Heading_Lv4 u-Adjust_Mt-32">修理金額の一例</h4>

        <div class="c-Table_Wrap u-Adjust_Mt-16">
          <table class="c-Table_Container">
            <thead>
              <tr>
                <th scope="col">修理内容</th>
                <th scope="col">修理代金（税込）</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>SIMスロット破損</td>
                <td class="u-Adjust_Align-right"><b>7,260円</b></td>
              </tr>
              <tr>
                <td>SIMカード取り出し</td>
                <td class="u-Adjust_Align-right"><b>5,060円</b></td>
              </tr>
              <tr>
                <td>ディスプレイ破損</td>
                <td class="u-Adjust_Align-right"><b>5,560円</b></td>
              </tr>
              <tr>
                <td>バッテリー（電池）交換</td>
                <td class="u-Adjust_Align-right"><b>6,060円</b></td>
              </tr>
            </tbody>
          </table>
        </div>

        <p class="c-Txt_Cap u-Adjust_Mt-16">※2023年8月31日時点。</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※表記の金額はすべて税込です。</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※製品の状況により、実際の費用と異なる場合があります。</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※記載の箇所以外にも修理が発生する場合があります。</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※修理代金は修理箇所ごとに発生します。複数の修理が必要な場合、修理内容を選択することはできません。</p>
      </li>
      <!--  -->
      <li id="link01">
        <h4 class="c-Heading_Lv4">3. コミュニケーションセンターへ連絡する</h4>
        <p class="u-Adjust_Mt-16">チャット相談または電話にて不具合内容等をお知らせください。</p>
        <p class="u-Adjust_Mt-16">修理および交換が必要と判断した場合、お手続きを進めます。</p>
        <p class="u-Adjust_Mt-16 c-Txt_Cap">※修理の場合は、後日お見積もりをメールでお送りし、了承いただければ修理手続きへ進みます。</p>

        <div class="u-Adjust_Pt-16">
          <dl class="c-Dl_Origin u-Adjust_Mt-16">
            <div>
              <dt>チャットで問い合わせ</dt>
              <dd>
                <p>営業時間 9:00〜23:00</p>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">
                  ※チャット相談のご利用にはmy 楽天モバイルへのログインが必要です。
                </p>
                <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <a href="https://portal.mobile.rakuten.co.jp/technical-operation?action=supportChat" class="c-Btn_Regular-large"
                    data-ratid="guide_ecare_orders_03" data-ratevent="click">
                    <span>チャット相談を利用する</span>
                  </a>
                </div>
              </dd>
            </div>
            <div>
              <dt>電話で問い合わせ</dt>
              <dd>
                <p>
                  <a href="tel:05054344653" class="c-Link_Txt" data-ratid="product_tel_rakuten-wifi-pocket-2b" data-ratevent="click" data-ratparam="all">050-5434-4653</a>（有料※1）
                </p>
                <p class="u-Adjust_Mt-16">営業時間 9:00～17:00（年中無休）</p>
                <ul class="u-Adjust_Mt-16 c-Txt_Cap">
                  <li>※1 Rakuten Linkからの通話は、通話料無料。通話かけ放題オプションサービス加入による対象時間内の通話は、通話料が発生しません。詳しくはこちらをご確認ください。</li>
                  <li>※契約内容や請求などのお問い合わせは、ご契約者様ご本人よりお願いいたします。ご契約者様以外のお問い合わせは、事前にこちらをご確認ください。</li>
                  <li>※営業時間外は、「最近よくあるご質問リンク集」のご案内をショートメッセージにて送付しております。ぜひご利用ください。</li>
                </ul>
              </dd>
            </div>
          </dl>
        </div>
      </li>
      <!--  -->
      <li>
        <h4 class="c-Heading_Lv4">4. 代替機もしくは交換品を受け取る</h4>
        <p class="u-Adjust_Mt-16">修理・交換が必要と判断された場合、代替機もしくは交換品を先に発送いたします。</p>
        <p class="u-Adjust_Mt-16">なお、代替機・交換品の発送時に、着払い伝票を同梱しておりますので、大切に保管してください。</p>
        <p class="u-Adjust_Mt-16 c-Txt_Cap">※代替機の受け取りは任意となります。代替機が不要の場合は、着払い伝票と故障機を送る箱をお送りいたします。</p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※代替機の受取後14日以内に故障機の発送をお願いいたします。返却期日までに弊社にて受け取りが確認できない場合は、修理キャンセルとさせていただく場合がございます。</p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※ご利用中の代替機に破損や水濡れ・全損などが生じた場合、状況に応じて違約金最大7,980円（税込）を請求させていただく場合がありますので、お取り扱いには十分ご注意ください。</p>
      </li>
      <!--  -->
      <li>
        <h4 class="c-Heading_Lv4">5. 代替機もしくは交換品の初期設定を行う</h4>
        <p class="u-Adjust_Mt-16">受け取った代替機・交換品の初期設定を行ってください。</p>
        <p class="u-Adjust_Mt-16 c-Txt_Cap">※代替機を受け取っていない場合は、次の手順「<a href="#link02">6. 故障機を発送する</a>」へ進んでください。</p>
      </li>
      <!--  -->
      <li id="link02">
        <h4 class="c-Heading_Lv4">6. 故障機を発送する</h4>
        <p class="u-Adjust_Mt-16">代替機・交換品が同梱されていた箱を利用して、故障機の発送をお願いいたします。</p>

        <!--  -->
        <div class="u-Adjust_Mt-16">
          <div class="c-Accordion">
            <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false"
              aria-controls="accordion-content-1"><span
                class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span>故障機の発送前準備について</span></button>
            <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel u-Adjust_Pl-0 u-Adjust_Pr-0" role="region"
              aria-labelledby="accordion-1" aria-hidden="true" style="display: none;">
              <div class="u-Adjust_Pt-16">
                <p>故障機発送の前に以下のご準備をお願いいたします。</p>
                <ul class="c-List_Text-disc u-Adjust_Mt-16">
                  <li>
                    製品の初期化（リセット）
                  </li>
                  <li>
                    アクセサリーやカバー、メモリカードをご利用の方は、取り外し、ご自身で保管してください。送付いただいても弊社から返送することはできかねます。
                  </li>
                </ul>
                <p class="c-Txt_Cap u-Adjust_Mt-16">※製品の状態によって保存や解除が難しい場合は、そのまま発送をお願いします。ただし、製品に保存されたデータは削除されます。あらかじめご了承ください。</p>
              </div>
            </div>
          </div>
        </div>
        <p class="u-Adjust_Mt-16">交換品を受け取っている場合、この発送をもって、お手続きは完了となります。</p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※故障機の受け取りに関するご連絡は行っておりません。</p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※送付期日を過ぎた場合、お知らせのメールをお送りいたします。</p>
        <!--  -->
      </li>
      <!--  -->
      <li>
        <h4 class="c-Heading_Lv4">7. 修理の見積もりメールを確認し、修理を依頼する</h4>
        <p class="u-Adjust_Mt-16">「【楽天モバイル】製品修理お見積もり」という件名のメールをお送りします。見積もり金額をご確認のうえ、修理の依頼をご返信ください。</p>
        <p class="u-Adjust_Mt-16 c-Txt_Cap">※お見積もり内容をご確認のうえ、キャンセルも可能です。</p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※お見積もりメールに記載の回答期日を過ぎた場合は自動キャンセルとなります。</p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※修理がキャンセルとなる場合、代替機のご返却が必要です。</p>
      </li>
      <!--  -->
      <li>
        <h4 class="c-Heading_Lv4">8. 修理品を受け取り、初期設定を行う</h4>
        <p class="u-Adjust_Mt-16">修理品を受取後、初期設定を行ってください。</p>
      </li>
      <!--  -->
      <li id="link02">
        <h4 class="c-Heading_Lv4">9. 代替機を返送する</h4>
        <p class="u-Adjust_Mt-16">代替機に同梱されていた返送専用箱と着払い伝票を利用して、代替機の発送をお願いいたします。</p>
        <p class="u-Adjust_Mt-16">代替機を受け取っている場合、代替機の返送をもってお手続きは完了となります。</p>

        <!--  -->
        <div class="u-Adjust_Mt-16">
          <div class="c-Accordion">
            <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false"
              aria-controls="accordion-content-2"><span
                class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span>代替機の発送前準備について</span></button>
            <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel u-Adjust_Pl-0 u-Adjust_Pr-0"
              role="region" aria-labelledby="accordion-2" aria-hidden="true" style="display: none;">
              <div class="u-Adjust_Pt-16">
                <p>代替機発送の前に以下のご準備をお願いいたします。</p>
                <ul class="c-List_Text-disc u-Adjust_Mt-16">
                  <li>
                    製品の初期化（リセット）
                  </li>
                  <li>
                    受け取り時に同梱されていたアクセサリの同梱
                  </li>
                  <li>
                    ご自身で利用していたアクセサリやカバー、メモリカードをご利用の方は、取り外してください。送付された場合、弊社から返送することはできかねます。
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!--  -->
        <p class="c-Txt_Cap u-Adjust_Mt-16">
          ※修理完了後の代替機の発送は、修理品の受取後14日以内にお願いいたします。返却期日までに弊社にて受け取りが確認できない場合、違約金7,980円（税込）を請求させていただきます。</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※代替機の返却期日を過ぎた場合、お知らせのメールをお送りいたします。</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※代替機の受け取りに関するご連絡は行っておりません。</p>
      </li>

    </ol>
  </div>
</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>

  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
