<% const pagetitle = "故障紛失保証 with AppleCare Services（ご利用方法） " -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/iphone/applecare/", label:"故障紛失保証 with AppleCare Services"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルで購入したiPhoneの保証サービス「故障紛失保証 with AppleCare Services」の各サービスの詳細、ご利用の流れをご案内します。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "applecare" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/iphone/applecare/applecare.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>

</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>
<div class="l-System">
  <div class="l-System_Container u-Adjust_Pb-40">
    <h1 class="c-Txt_Normal-xl u-Adjust_Mt-32 c-Txt_Emp-01"><%= pagetitle %></h1>

    <p class="u-Adjust_Mt-16">故障紛失保証 with AppleCare Servicesの各サービスの詳細、ご利用の流れをご案内します。</p>
    <div class="u-Adjust_Mt-40 c-Theme-Emphasis1">
      <p class="c-Txt_Emp-02 c-Txt_Normal-l">本サービスは新規受付を終了いたしました。</p>
      <p class="u-Adjust_Mt-8">iPhoneの保証サービスの新規申し込みをご希望のお客様は「<a href="<%= sitepath %>service/iphone/applecare-icloud/">故障紛失保証 with AppleCare Services & iCloud+</a>」をご利用ください。</p>
    </div>
    <p class="u-Adjust_Mt-40"><a href="<%= sitepath %>service/iphone/applecare/" class="c-Link_Txt-inline">特長・サービス内容を見る<span class="c-Icon_Chevron-right"></span></a></p>
  </div>
</div>
<div class="l-System <%= nameSpace %>-Layout-wide-gray">
  <div class="l-System_Container">
    <ul class="<%= nameSpace %>-Anchor-Area">
      <li>
        <a href="#anc06" class="js-scroll <%= nameSpace %>-Anchor-Area-Btn c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span><span>加入状況の確認方法</span></a>
      </li>
      <li>
        <a href="#anc02" class="js-scroll <%= nameSpace %>-Anchor-Area-Btn c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span><span>修理のご利用方法</span></a>
      </li>
      <li>
        <a href="#anc03" class="js-scroll <%= nameSpace %>-Anchor-Area-Btn c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span><span>交換のご利用方法</span></a>
      </li>
      <li>
        <a href="#anc04" class="js-scroll <%= nameSpace %>-Anchor-Area-Btn c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span><span>サポートのご利用方法</span></a>
      </li>
      <li>
        <a href="#anc05" class="js-scroll <%= nameSpace %>-Anchor-Area-Btn c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span><span>ご利用上の注意</span></a>
      </li>
    </ul>
  </div>
</div>

<div class="l-System">
  <div id="anc06" class="l-System_Container u-Adjust_Pb-24 u-Adjust_Mt-64">
    <h2 class="c-Txt_Normal-ll c-Txt_Emp-01">加入状況の確認方法</h2>
    <p class="u-Adjust_Mt-8">故障紛失保証 with AppleCare Servicesの加入日・月額利用料は、my 楽天モバイルよりご確認いただけます。</p>
    <a href="/guide/change-options/#option_service" class="c-Btn_Regular u-Adjust_Mt-24"><span>加入状況の確認方法を見る</span></a>
  </div>

  <div id="anc02" class="l-System_Container u-Adjust_Pb-24">
    <h2 class="c-Txt_Normal-ll c-Txt_Emp-01 u-Adjust_Mt-64">修理のご利用方法</h2>

    <h3 class="c-Heading_Lv4 u-Adjust_Mt-32">修理の流れ</h3>
    <div class="applecare-Utility_Show-pc u-Adjust_Mt-16"><img src="<%= sitepath %>assets/img/guide/iphone/applecare/applecare-02-pc.png?220413" alt="STEP1 修理の申請をする STEP2 故障したiPhoneを渡す　STEP3 修理されたiPhoneを受け取る"></div>
    <div class="applecare-Utility_Show-sp u-Adjust_Mt-16"><img src="<%= sitepath %>assets/img/guide/iphone/applecare/applecare-02-sp.png?220413" alt="STEP1 修理の申請をする STEP2 故障したiPhoneを渡す　STEP3 修理されたiPhoneを受け取る"></div>

    <h2 class="c-Txt_Normal-ll c-Txt_Emp-01 u-Adjust_Mt-64">修理の受付方法</h2>
    <p class="u-Adjust_Mt-8">修理の受付方法は「持ち込み修理」と「配送修理」の2種類があります。お客様のご都合にあわせて、ご利用ください。</p>

    <div class="l-Media_Grid-half  u-Adjust_Mt-24">
      <div class="c-Theme-Borderbox">
        <h3 class="c-Heading_Lv4">持ち込み修理</h3>
        <p class="u-Adjust_Mt-8">お近くのApple StoreまたはApple 正規サービスプロバイダーに、故障したiPhoneをお持ちいただく方法になります。</p>
        <a href="<%= sitepath %>guide/iphone/applecare/repair/?tab-list=tab-menu1" class="c-Btn_Regular u-Adjust_Mt-16"><span>持ち込み修理のご利用方法を見る</span></a>
      </div>
      <div class="c-Theme-Borderbox">
        <h3 class="c-Heading_Lv4">配送修理</h3>
        <p class="u-Adjust_Mt-8">宅配業者がご自宅やオフィスにiPhoneを引き取りにうかがい、修理が完了しましたら、Apple よりご返送いたします。<br>
          修理は通常5～7営業日で完了します。</p>
          <a href="<%= sitepath %>guide/iphone/applecare/repair/?tab-list=tab-menu2" class="c-Btn_Regular u-Adjust_Mt-16"><span>配送修理のご利用方法を見る</span></a>
      </div>
    </div>
  </div>

  <div id="anc03" class="l-System_Container u-Adjust_Pb-24">
    <h2 class="c-Txt_Normal-ll c-Txt_Emp-01 u-Adjust_Mt-64">交換のご利用方法</h2>

    <h3 class="c-Heading_Lv4 u-Adjust_Mt-32">交換の流れ</h3>
    <div class="applecare-Utility_Show-pc u-Adjust_Mt-16"><img src="<%= sitepath %>assets/img/guide/iphone/applecare/applecare-03-pc.png?220413" alt="STEP1 修理の申請をする STEP2 故障したiPhoneを渡す　STEP3 修理されたiPhoneを受け取る"></div>
    <div class="applecare-Utility_Show-sp u-Adjust_Mt-16"><img src="<%= sitepath %>assets/img/guide/iphone/applecare/applecare-03-sp.png?220413" alt="STEP1 修理の申請をする STEP2 故障したiPhoneを渡す　STEP3 修理されたiPhoneを受け取る"></div>
    <ul class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-right">
      <li>※盗難・紛失の場合は、故障したiPhoneのお渡しは不要です。</li>
    </ul>


    <h2 class="c-Txt_Normal-ll c-Txt_Emp-01 u-Adjust_Mt-64">交換の方法</h2>
    <p class="u-Adjust_Mt-8">故障の場合は「エクスプレス交換サービス」、盗難・紛失の場合は「盗難・紛失プラン」をご利用ください。</p>

    <div class="l-Media_Grid-half  u-Adjust_Mt-24">
      <div class="c-Theme-Borderbox">
        <h3 class="c-Heading_Lv4">エクスプレス交換サービス （故障）</h3>
        <p class="u-Adjust_Mt-8">いち早く交換して修理の待ち時間をなくされたい場合は、エクスプレス交換サービスをご利用ください。Apple  から交換品がご指定の住所に届きます。</p>

        <ul class="c-Txt_Cap u-Adjust_Mt-8">
          <li><span>※</span>Appleが修理または交換サービスで提供する交換品には、Appleの機能要件検査に合格した新品または中古のApple純正パーツが含まれます。</li>
        </ul>
        <a href="https://support.apple.com/ja-jp/iphone/repair/service/express-replacement" class="c-Link_Txt-inline-icon u-Adjust_Mt-16" target="_blank">Apple社のエクスプレス交換サービスの詳細を見る<span class="c-Icon_New-window-l"></span></a>
        <a href="<%= sitepath %>guide/iphone/applecare/replacement/?tab-list=tab-menu1" class="c-Btn_Regular u-Adjust_Mt-16"><span>エクスプレス交換サービスのご利用方法を見る</span></a>
      </div>
      <div class="c-Theme-Borderbox">
        <h3 class="c-Heading_Lv4">盗難・紛失プラン</h3>
        <p class="u-Adjust_Mt-8">盗難・紛失の場合は、「盗難・紛失プラン」をご利用ください。新品または新品同様の同一機種をお届けします。</p>
        <ul class="c-Txt_Cap u-Adjust_Mt-8">
          <li><span>※</span>iPhone本体のみ対象です。アクセサリなどは対象外となります。</li>
          <li><span>※</span>ご利用には、盗難・紛失される前に「iPhone を探す」がオンになっている必要があります。</li>
          <li><span>※</span>Appleが修理または交換サービスで提供する交換品には、Appleの機能要件検査に合格した新品または中古のApple純正パーツが含まれます。</li>
          <li><span>※</span>盗難・紛失保証申請手続きの際、新しいデバイスの支給を受ける前に、紛失したデバイスのデータ消去、無効化、所有権の譲渡を求められます。</li>
        </ul>
        <a href="https://support.apple.com/ja-jp/HT208491" class="c-Link_Txt-inline-icon u-Adjust_Mt-16" target="_blank">Apple社の盗難・紛失プランの補償請求および詳細を見る<span class="c-Icon_New-window-l"></span></a>
        <a href="<%= sitepath %>guide/iphone/applecare/replacement/?tab-list=tab-menu2" class="c-Btn_Regular u-Adjust_Mt-16"><span>盗難・紛失プランのご利用方法を見る</span></a>
      </div>
  </div>
  </div>

  <div id="anc04" class="l-System_Container u-Adjust_Pb-24">
    <h2 class="c-Txt_Normal-ll c-Txt_Emp-01 u-Adjust_Mt-64">サポートのご利用方法</h2>
    <p class="u-Adjust_Mt-8">製品や利用方法について、Apple の専任スペシャリストが、お電話もしくはチャットにて優先的にサポートします。
      Apple IDと製品のIMEI（シリアル番号）をご用意のうえ、ご利用ください。</p>
      <ul class="c-Txt_Cap u-Adjust_Mt-16">
        <li><span>※</span>IMEIの確認方法：通話アプリを起動し、ダイヤルに「*#06#」と入力すると15桁の数字が表示されます。</li>
        <li><span>※</span>電話料金がかかる場合があります。電話番号およびサポート営業時間は変更される場合があります。</li>
      </ul>

    <div class="l-Media_Grid-half  u-Adjust_Mt-24">
      <div class="c-Theme-Borderbox">
        <h3 class="c-Heading_Lv4">Webでお問い合わせ</h3>
        <p class="u-Adjust_Mt-8">Apple サポートのサイトからいくつかの質問にお答えいただくだけで、お困りの問題に対する解決策をご案内します。</p>
        <a href="https://getsupport.apple.com/" class="c-Btn_Regular u-Adjust_Mt-16" target="_blank"><span>Apple サポートにアクセスする<span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></span></a>
      </div>
      <div class="c-Theme-Borderbox">
        <h3 class="c-Heading_Lv4">電話でお問い合わせ</h3>
        <p class="u-Adjust_Mt-8">電話でAppleCare アドバイザーにご相談いただく場合は直接お問い合わせください。</p>
        <a href="tel:0120-277-535" class="c-Link_Txt u-Adjust_Mt-16 c-Txt_Normal-m applecare-Utility_Block">0120-277-535</a>
      </div>
  </div>
  </div>


    <div id="anc05" class="c-Accordion l-System_Container u-Adjust_Mt-32 u-Adjust_Mb-16">
      <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ご利用上の注意</button>
      <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="false">
        <ul class="c-List_Text-disc">
          <li class="c-Txt_Emp-02">本オプションサービスは、楽天モバイルオンラインショップまたは楽天モバイルショップ（店舗）にて、iPhoneご購入と同時の場合のみご加入いただけます。</li>
          <li>本オプションサービスは製品購入時のみ加入可能です。一度解約すると、再度加入することはできません。</li>
          <li>本オプションサービスは、保証対象となるiPhoneを受け取った時点から適用され、課金が開始されます。
            <p class="u-Adjust_Mt-8 u-Adjust_Ml-16">・楽天モバイルオンラインショップで購入：iPhoneの配達完了時点から適用</p>
            <p class="u-Adjust_Mt-8 u-Adjust_Ml-16">・楽天モバイル店頭で購入：購入時点から適用</p>
          </li>
          <li>盗難・紛失の原因が、お客様の故意・重過失による場合や、災害（地震・噴火・津波・水害）などによる損害は対象外となります。</li>
          <li>ご利用料金に滞りがある場合、本契約のご利用をお断りする場合があります。</li>
          <li>iPhoneの修理ご利用時の修理価格の適用や Apple社が提供する各サービスは、Apple社への加入登録が完了をするまで、ご利用いただけない場合がございます。</li>
          <li>詳細は<a class="c-Link_Txt-inline u-Adjust_Pr-8" href="<%= sitepath %>terms/pdf/rakuten_mobile_applecare_services.pdf" target="_blank">「故障紛失保証 with AppleCare Services 」利用規約<span class="c-Icon_Pdf-l u-Adjust_Pl-24" style="color: #ff008c;"></span></a>をご確認ください。</li>
          <li>自己負担金のお支払いは、当社またはApple社が別途定める方法にて所定のサービス料のお支払いをお願いいたします。</li>
        </ul>
      </div>
    </div>

    <div class="u-Adjust_Mt-16 u-Adjust_Pb-64 l-System_Container">
      <div class="u-Adjust_Mt-16"><a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップに戻る</span></a></div>
      <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a></div>
    </div>



</div>


<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%- include('/include/footer/related/_related-service-v2.ejs') %>

  </div>
  <%- include('/include/guide/_inquiry') %>
  <div class="l-System_Container">
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>
  </div>
  <%- include('/include/_footer') %>
</footer>
</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/guide/_iphone') %>
<%- include('/include/_append-body') %>
</body>
</html>
