<% const pagetitle = "OPPO Reno3 A" -%>
<% const directory = "reno3-a" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/smartphone/", label:"Android"}] -%>
<% const namespace = "product-Oppo-reno3-a" -%>
<% const theme = "Light" -%>
<% const point = 30000 -%>
<%# const pointModel = 2000 -%>
<%# const pointEntry = 5000 -%>
<%# price-detail.ejsファイルに変数の説明の記載があります -%>
<% const priceDetailConfig = {
  theme: theme,
  price: 26980,
  // priceBefore: 39800,
  // pointBackPriceModel: pointModel,
  pointBackPrice: point,
  // pointModelText: `<span>製品購入で<span class="product-detail-Price_Pointback-num">${pointModel.toLocaleString()}</span>ポイント<sub>※1</sub></span>`,
  pointBackTextA: `<span>最大<span class="product-detail-Price_Pointback-num">${point.toLocaleString()}</span>円相当の</span>ポイント還元<sub>※</sub>`,
  pointBackTextB: `製品＋プラン申し込みで<span class="product-detail-Price_Pointback-num">${point.toLocaleString()}</span>ポイント！※1,2`,
  // pointEntryText: `さらに、エントリー＆抽選で<span class="product-detail-Price_Pointback-num">2,000</span>ポイント<sub>※2</sub>`,
  division24: 1124,
  // division24Before: ,
  division48: 562,
  // division48Before: ,
  tradeinProductName: 'OPPO Reno A',
  optionPattern: 'tradein',
  lid: directory,
  capacity: 128,
  maxTradeinPrice: 3960,
  pointAppealBtnCapNo: "",
  carrier: '楽天モバイル',
  //notificationEmail: 'true',
  notificationEmailLink: '/product/reservation/reno3-a/'
}
-%>
<% const tradeinUrl = sitepath + "service/tradein/?l-id=product_" + directory + "_cpn_02" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: "OPPO Reno3 A（オッポ）のスペック・特徴などをご確認いただけます。楽天モバイル対応Android製品。オンライン簡単手続きが便利！",
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<%- include('/include/product/_category-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/<%= directory %>/product-<%= directory %>.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/smartphone/purchase-modal-drilldown.css?20240424">
<%- include('/include/product/_history-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%
/* insert Modal /*
/*
  ストア遷移 → 'bundle'
  在庫あり → 'stock'
  在庫切れ → 'soldout'
  入荷待ち → 'backorder'
*/
const bundleFlag = 'bundle';
const modalInfo = [
  {
    question: {
      title: '色を選択',
      warning: '購入する製品の色を選択してください。',
      type: 'color',
      value: 'color',
      select: [
        {
          'id': 'white',
          'name': 'ホワイト',
          'sub': '',
          'color': '#fff',
          'checked': false,
          'disabled': false,
        },
        {
          'id': 'black',
          'name': 'ブラック',
          'sub': '',
          'color': '#222',
          'checked': false,
          'disabled': false,
        }
      ],
      upperinfo: ``,
      lowerinfo: ``
    },
  },
  {
    question: {
      title: 'SIMタイプ・プラン（Rakuten UN-LIMIT VII）を選択',
      warning: 'プランを選択してください。',
      type: 'radio',
      value: 'plan',
      select: [
        {
          'id': 'sim',
          'name': 'nanoSIM＋プランで申し込む',
          'sub': '',
          'checked': false,
          'disabled': false,
          'soldout' : '',
        },
        {
          'id': 'nosim',
          'name': 'プランを申し込まない（製品のみ購入）',
          'sub': '',
          'checked': false,
          'disabled': false,
          'soldout' : '',
        },
      ],
      upperinfo: ``,
      lowerinfo: `
        <p class="c-Txt_Cap">※製品のみ購入の場合、SIM購入（プラン選択）は不要です。</p>
      `
    }
  },
  {
    question: {
      title: 'スマホ交換保証プラスを選択',
      warning: 'スマホ交換保証プラスを選択してください。',
      type: 'radio',
      value: 'warranty',
      select: [
        {
          'id': 'warranty',
          'name': '申し込む：715円／月（税込）',
          'sub': '',
          'checked': true,
          'disabled': false,
          'soldout' : '',
        },
        {
          'id': 'nowarranty',
          'name': '申し込まない',
          'sub': '',
          'checked': false,
          'disabled': false,
          'soldout' : '',
        },
      ],
      upperinfo: `
        <p class="c-Txt_Emp-02">加入できるのは購入時のみ</p>
        <p class="u-Adjust_Mt-8">楽天モバイルで購入したスマートフォンやモバイルルーターの故障・紛失時に、最短で当日<sub>※</sub>に新品同等の同一機種を交換品としてお届けします。</p>
        <small>※対象地域：東京／神奈川／千葉／埼玉（12時までに受付の場合）</small>
        <p>サービスの詳細は、こちらの<a href="/service/replacement-warranty-plus/">スマホ交換保証プラス</a>をご参照ください。</p>
      `,
      lowerinfo: ``
    }
  }
]
%>
<%_ if (bundleFlag !== true) { _%>
<script>
const urlList = {
  'white_sim_warranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id=9158206969665397225:0&id_d=9157438287065048753:1',
  'white_sim_nowarranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id=9158206969665397225:0&id_d=9157438287065048753:0',
  'white_nosim_warranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id_d=9157438287065048753:1',
  'white_nosim_nowarranty': 'https://portal.mobile.rakuten.co.jp/equipment-details?exid=302082&selectAvailable=true',
  'black_sim_warranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id=9158206969665397225:0&id_d=9157438287165048757:1',
  'black_sim_nowarranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id=9158206969665397225:0&id_d=9157438287165048757:0',
  'black_nosim_warranty': 'https://portal.mobile.rakuten.co.jp/referral_link?id_d=9157438287165048757:1',
  'black_nosim_nowarranty': 'https://portal.mobile.rakuten.co.jp/equipment-details?id=9157438287165048757',
}
</script>
<%- include('/include/product/_purchase-modal', { modalInfo: modalInfo }) %>
<%_ } _%>

<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="u-Adjust_Pt-16 u-Adjust_Pr-16 u-Adjust_Pl-16 u-Adjust_Pb-16 l-System_Container u-Adjust_Align-center">
  <p class="c-Txt_Emp-01 c-Txt_Normal-l">OPPO Reno3 Aは販売を終了いたしました。</p>
  <div class="u-Adjust_Pt-16 u-Adjust_Align-center">
    <a class="c-Btn_Regular" href="/product/smartphone/?l-id=end_product_smartphone"><span>販売中のAndroid製品を見る</span></a>
  </div>
</div>



<div class="u-Adjust_Pt-24 product-detail-Theme_<%= theme %>">
  <div class="product-detail-Layout_Hero <%= namespace %>_Hero">
    <div class="l-System_Container">
      <section class="product-detail-Hero">
        <div class="product-detail-Hero_Data">
          <div>
            <h1 class="co-Heading_Lv1 product-detail-Hero_Name"><img src="<%= sitepath %>assets/img/product/<%= directory %>/logo.svg" alt="<%= pagetitle %>"></h1>
            <p class="product-detail-Hero_Maker">OPPO</p>
            <p class="product-detail-Hero_Copy">余裕が進化したスマホ</p>
          </div>
        </div>
        <div class="product-detail-Hero_Main">
          <ul class="product-detail-Hero_Main-device c-Carousel js-main1 js-device" aria-hidden="false">
            <li><img src="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-00.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-01.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-02.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-03.png" alt=""></li>
          </ul>
          <ul class="product-detail-Hero_Main-device c-Carousel js-main2 js-device" aria-hidden="true">
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-04.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-05.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-06.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-07.png" alt=""></li>
          </ul>

          <ul class="product-detail-Hero_Main-color product-detail-Theme_<%= theme %>-color">
            <li class="js-color js-color1" aria-current="true"><span style="background:#FCFFFC"></span></li>
            <li class="js-color js-color2" aria-current="false"><span style="background:#0D0E11"></span></li>
          </ul>

          <ul class="product-detail-Hero_Main-thumbnail c-Carousel js-thumbnail1 js-device" aria-hidden="false">
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-00.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-01.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-02.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-03.png" alt=""></li>
          </ul>
          <ul class="product-detail-Hero_Main-thumbnail c-Carousel js-thumbnail2 js-device" aria-hidden="true">
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-04.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-05.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-06.png" alt=""></li>
            <li><img data-lazy="<%= sitepath %>assets/img/product/<%= directory %>/pht-device-07.png" alt=""></li>
          </ul>
        </div>
      </section>
  </div>

  <div class="product-detail-Layout_Main <%= namespace %>_Main">
    <div class="product-detail-Price">
    <div class="l-System_Container">
      <div class="product-detail-Spec">
        <ul class="product-detail-Spec_<%= theme %>">
          <li aria-current="true"><span class="c-Icon_Product-waterproof"></span>防水</li>
          <li aria-current="true"><span class="c-Icon_Product-price-yen"></span>FeliCa</li>
          <li aria-current="true"><span class="c-Icon_Product-hi-res"></span>ハイレゾ<br>オーディオ</li>
          <li aria-current="true"><span class="c-Icon_Product-faceid"></span>顔認証</li>
          <li aria-current="true"><span class="c-Icon_Product-finger"></span>指紋認証</li>
          <li aria-current="false"><span class="c-Icon_Product-charger"></span>ワイヤレス<br>充電</li>
          <li aria-current="false"><span class="c-Icon_Product-connection"></span>高速通信</li>
        </ul>
        <p class="u-Adjust_Mt-64"><a href="#spec" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>基本スペックを見る</a></p>
      </div>

      <section id="feature" class="product-detail-Layout_Section">
        <h2 class="c-Heading_Lv2-rich">特長</h2>

        <ul class="product-detail-Catch <%= namespace %>_Catch">
          <li><a href="#feature1" class="js-scroll">超広角レンズ搭載の4眼カメラ</a></li>
          <li><a href="#feature2" class="js-scroll">超急速充電対応 4,025mAhバッテリー</a></li>
          <li><a href="#feature3" class="js-scroll">おサイフケータイ＋防水・防じん</a></li>
        </ul>

        <section class="product-detail-Feature" id="feature1">
          <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/main-image-01.png" alt=""></figure>
          <h3 class="c-Heading_Lv3">超広角レンズ＋4,800万画素。撮りたい物を余裕で撮れる4眼カメラ</h3>
          <p class="product-detail-Feature_Txt">それぞれの用途に合わせた4つのレンズを搭載。進化した手ぶれ補正は、安定した動画撮影を可能にします。暗い場所の撮影で大活躍するウルトラナイトモードで夜景もキレイに。</p>
        </section>
        <section class="product-detail-Feature" id="feature2">
        <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/main-image-02.png" alt=""></figure>
          <h3 class="c-Heading_Lv3">長時間使えるバッテリー4,025mAh。急速充電Quick Charge対応でさらに余裕</h3>
          <p class="product-detail-Feature_Txt">少ない時間で素早くチャージできる急速充電に対応。たくさんスマートフォンを使う方にも安心な大容量バッテリーなので、充電切れを気にすることなくお使いいただけます。</p>
        </section>
        <section class="product-detail-Feature" id="feature3">
        <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/main-image-03.png" alt=""></figure>
          <h3 class="c-Heading_Lv3">おサイフケータイ®&防水・防じん。ふだん使いのあらゆるシーンが超余裕</h3>
          <p class="product-detail-Feature_Txt">スマートフォン1台で乗り物も、お買い物も、らくらくなおサイフケータイ®を搭載。あらゆるシーンの利用に適した防水・防じんは最高等級のIP68※となっており、雨の日やふとした水濡れにも強い耐久性を発揮します。</p>
          <ul class="c-Txt_Cap u-Adjust_Mt-16">
            <li><span>※</span>IPX8とは、常温で水道水の水深1.5mのところに携帯電話を沈め、約30分間放置後に取り出したときに通信機器とし ての機能を有することを意味します。IP6Xとは、直径75μm以下の塵埃（じんあい）が入った装置に商品を8時間入れてかくはんさせ、取り出したときに内部に塵埃が侵入しない機能を有することを意味します。</li>
          </ul>
        </section>
      </section>

      <div class="product-detail-Layout_Sub <%= namespace %>_Sub">
        <div class="l-System_Container">
          <section class="product-detail-Layout_Section">
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-01.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">たくさん保存できる大容量ストレージ</h3>
                <p>ストレージは128GBで写真や動画などをはじめとするデータをたくさん保存できます。RAMは6GBと普段使いだけでなく、ゲームも余裕でプレイできます。</p>
                <ul class="c-Txt_Cap u-Adjust_Mt-16">
                  <li><span>※</span>写真は5MB、ゲームは1GB、映画・アプリは500MBの場合。</li>
                </ul>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-02.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">軽くて片手でも持ちやすいボディ</h3>
                <p>手におさまるサイズと軽さで使いやすさを追求しました。光による色の変化が楽しめるカラーです。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-03.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">大きくて鮮明な有機ELディスプレイ</h3>
                <p>6.4インチの大画面には、割れづらく、傷がつきにくい強化ガラス（Corning® Gorilla® Glass 5）を使用しております。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-04.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">ディスプレイ指紋認証は速く正確に</h3>
                <p>ディスプレイに指を置くだけで迅速かつ高精度にロックを解除。高い安全性でプライバシーを守ります。</p>
              </div>
            </section>
            <section class="product-detail-Feature_Sub">
              <figure class="product-detail-Feature_Img"><img src="<%= sitepath %>assets/img/product/<%= directory %>/sub-image-05.png" alt=""></figure>
              <div class="product-detail-Feature_Txt">
                <h3 class="c-Heading_Lv4">ColorOS 7.1</h3>
                <p>一般的なAndroid TM OSを、ユーザー目線でもっと便利にしたのがOPPOのColorOS。初めてOPPOのスマートフォンを使う方でも、様々な機能を簡単にお使いいただけます。</p>
              </div>
            </section>
          </section>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>
<div class="product-detail-Layout_Other">
  <div class="l-System_Container">

    <%- include('/include/product/_compensation') %>

    <section class="product-detail-Layout_Section <%= namespace %>_Spec" id="spec">
      <h2 class="c-Heading_Lv2">スペック</h2>
      <dl class="c-Dl">
        <div>
          <dt>製品名</dt>
          <dd>
            OPPO Reno3 A
          </dd>
        </div>
        <div>
          <dt>色</dt>
          <dd>
            ブラック / ホワイト
          </dd>
        </div>
        <div>
          <dt>サイズ</dt>
          <dd>
            約160.9 x 約74.1 x 約8.2 (mm)
          </dd>
        </div>
        <div>
          <dt>質量</dt>
          <dd>
            約175g
          </dd>
        </div>
        <div>
          <dt>ディスプレイ</dt>
          <dd>
            <p>サイズ / 種類</p>
              約6.4インチ / AMOLED
              <p class="u-Adjust_Mt-16">解像度</p>
              FHD+ / 2,400 × 1,080
          </dd>
        </div>
        <div>
          <dt>連続待受時間（LTE）</dt>
          <dd>
            約350時間
          </dd>
        </div>
        <div>
          <dt>連続通話（通信）時間（LTE）</dt>
          <dd>
            約21時間
          </dd>
        </div>
        <div>
          <dt>CPU</dt>
          <dd>
            Qualcomm&reg; Snapdragon&trade; 665 / オクタコア 2GHz + 1.8GHz
          </dd>
        </div>
        <div>
          <dt>OS※1</dt>
          <dd>
            Android&trade; 10
          </dd>
        </div>
        <div>
          <dt>内部メモリ（RAM / ROM）</dt>
          <dd>
            6GB (RAM) / 128GB (ROM)
          </dd>
        </div>
        <div>
          <dt>メインカメラ（外側）</dt>
          <dd>
            約800万画素 (広角) + 約4,800万画素 (メイン) + 約200万画素 (モノクロ) + 約200万画素 (ポートレート)
          </dd>
        </div>
        <div>
          <dt>フロントカメラ（内側）</dt>
          <dd>
            約1,600万画素 (インカメラ)
          </dd>
        </div>
        <div>
          <dt>バッテリー容量</dt>
          <dd>
            約4,025mAh
          </dd>
        </div>
        <div>
          <dt>ワイヤレス充電</dt>
          <dd>
            非対応
          </dd>
        </div>
        <div>
          <dt>おサイフケータイ / NFC</dt>
          <dd>
            対応 / 対応※
          </dd>
        </div>
        <div>
          <dt>防水 / 防塵</dt>
          <dd>
            対応 / 対応 (IPX8 / IP6X)
          </dd>
        </div>
        <div>
          <dt>生体認証（指紋 / 顔）</dt>
          <dd>
            対応 / 対応
          </dd>
        </div>
        <div>
          <dt>VoLTE（Rakuten, docomo, au, SoftBank）</dt>
          <dd>
            対応 / 対応 / 対応 / 非対応
          </dd>
        </div>
        <div>
          <dt>Wi-Fi規格</dt>
          <dd>
            IEEE802.11 a/b/g/n/ac
          </dd>
        </div>
        <div>
          <dt>テザリング（Wi-Fi）</dt>
          <dd>
            10台
          </dd>
        </div>
        <div>
          <dt>SIMタイプ</dt>
          <dd>
            nanoSIM
          </dd>
        </div>
        <div>
          <dt>付属品</dt>
          <dd>
            ケース / 保護フィルム（貼付済み） / ACアダプタ / USB Type-Cケーブル / 3.5ｍｍ　イヤフォン / 安全ガイド / クイックガイド / SIM取り出しツール
          </dd>
        </div>
      </dl>
      <ul class="c-Txt_Cap u-Adjust_Mt-32">
        <li><span>※</span>Remote Lockは非対応となります。</li>
        <li><span>※1</span>発売時点のOSのバージョンを記載しています。最新のOSバージョン情報は<a href="<%= sitepath %>information/software/reno3-a/" class="c-Link_Txt">こちら</a>をご確認ください。</li>
      </ul>
      <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>product/smartphone/<%= directory %>/spec.html" class="c-Link_Txt-inline">スペック詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
    </section>

    <section class="product-detail-Layout_Section">
      <h2 class="c-Heading_Lv2">専用アクセサリー</h2>
      <div class="c-Carousel js-Carousel-multi">
        <div><a href="<%= sitepath %>product/wearable/oppo-band-style/?l-id=product_reno3-a_wearable_oppo-band-style"><img data-lazy="<%= sitepath %>assets/img/wearable/oppo-band-style/pht-device-00.png" alt=""></a></div>
        <div><a href="<%= sitepath %>product/accessory/rselect-rmopreno3af0093cl/"><img data-lazy="<%= sitepath %>assets/img/accessory/rselect-rmopreno3af0093cl/pht-accessory-00.png" alt=""></a></div>
        <div><a href="<%= sitepath %>product/accessory/rselect-rmopreno3af0094bk/"><img data-lazy="<%= sitepath %>assets/img/accessory/rselect-rmopreno3af0094bk/pht-accessory-00.png" alt=""></a></div>
        <div><a href="<%= sitepath %>product/accessory/rselect-rmopreno3ac0104bl/"><img data-lazy="<%= sitepath %>assets/img/accessory/rselect-rmopreno3ac0104bl/pht-accessory-00.png" alt=""></a></div>
        <div><a href="<%= sitepath %>product/accessory/rselect-rmopreno3ac0103pk/"><img data-lazy="<%= sitepath %>assets/img/accessory/rselect-rmopreno3ac0103pk/pht-accessory-00.png" alt=""></a></div>
      </div>
      <div class="c-Carousel_Nav-v2-wrap">
        <div class="c-Carousel_Nav-v2"></div>
        <div class="c-Carousel_Nav-v2-bar"></div>
      </div>
      <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>product/accessory/smartphone-related/" class="c-Link_Txt-inline">その他アクセサリーを見る<span class="c-Icon_Chevron-right"></span></a></p>
    </section>

    <section class="product-detail-Layout_Section">
      <h2 class="c-Heading_Lv2">設定・サポート</h2>
      <div>
        <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/inquiry/" class="c-Link_Txt-inline">メーカーへのお問い合わせ<span class="c-Icon_Chevron-right"></span></a></p>
      </div>
    </section>

    <div id="previously-seen"></div>
  </div>
</div>
<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-product-v2.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>


  </div>
  <div class="c-Breadcrumbs_Foot">
    <div class="l-System_Container">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>
  </div>

  <%- include('/include/_footer') %>

</footer>
</div>

<%- include('/include/_common-js') %>
<%- include('/include/product/_category-js') %>
<%- include('/include/product/_history-js') %>
<%- include('/include/_append-body') %>
<script src="<%= sitepath %>assets/js/product.purchase-modal.bundle.js?20240521"></script>

</body>
</html>
