<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "インターネット接続がご利用いただけない場合の対処方法" -%>
<% const directories = [{path:"hikari/support/", label:"お客様サポート"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天ひかりのインターネット接続がしづらい、または、ご利用いただけない場合に、再設定をする方法を説明しています。',
    noindex: false,
    pathname: filepath,
    ishikari: true,
    canonical_custom: 'https://network.mobile.rakuten.co.jp/hikari/support/troubleshooting/',
  });
%>
<%- include('/include/hikari/_common-v2-hikari-css') %>
<%- include('/include/hikari/_common-v2-hikari-css-only-hf') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/support/setting/troubleshooting/support-troubleshooting.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/support-v2/support-v2.css?20240424">
<%- include('/include/_append-head-hikari') %>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>

<div class="l-System">
  <%- include('/hikari/include/_header', { headerType: 'normal', pagetitle: pagetitle, directories: directories, tax: false }) %>

  <div class="l-hikari-Section_Main">
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
    </div>

    <div class="l-System_Container">
      <h2 class="c-Heading_Lv2 u-Adjust_Mt-32">対処法手順</h2>
      <ol class="c-List_Ordered u-Adjust_Mt-16 hf-list-arrow">
        <li>各機器の配線が正しく繋がっているかご確認ください。<br><p class="u-Adjust_Mt-8"><a href="#wiring" class="c-Link_Txt-icon-front js-scroll">配線を確認する<span class="c-Icon_Arrow-down-l"></span></a></p></li>
        <li>ご家庭に設置してあるONU、ルーターの再起動をお試しください。<br><p class="u-Adjust_Mt-8"><a href="#restart" class="c-Link_Txt-icon-front js-scroll">ONU、ルーターを再起動する<span class="c-Icon_Arrow-down-l"></span></a></p></li>
        <li>再起動しても改善されない場合は、ルーターの初期化をお試しください。<br><p class="u-Adjust_Mt-8"><a href="#initialize" class="c-Link_Txt-icon-front js-scroll">ルーターを初期化する<span class="c-Icon_Arrow-down-l"></span></a></p></li>
        <li>ルーターを初期化してもインターネット接続ができない場合は、IPv4（PPPoE）接続に再設定してください。<br>
          <p class="u-Adjust_Mt-8"><a href="#ipv4" class="c-Link_Txt-icon-front u-Adjust_Mt-8 js-scroll">インターネット接続の再設定をIPv4（PPPoE）接続で行う<span class="c-Icon_Arrow-down-l"></span></a></p></li>
      </ol>

      <h2 class="c-Heading_Lv2 u-Adjust_Mt-64 hikari-support-Util_Mt-scroll" id="wiring">1. 配線を確認する</h2>
      <p class="u-Adjust_Mt-16">
        各機器の配線が正しく繋がっているかご確認ください。各機器の配線方法は下記をご覧ください。
      </p>
      <div class="hikari-support-troubleshooting-Utility_Flow u-Adjust_Mt-16">
        <img class="hikari-support-troubleshooting-Utility_Flow-left" src="<%= sitepath %>assets/img/hikari/support/setting/troubleshooting/img04.png" alt="">
        <div class="hikari-support-troubleshooting-Utility_Flow-right">
          <h3 class="c-Heading_Lv3 u-Adjust_Mt-16">主な確認ポイント</h3>
          <ul class="c-List_Text-disc u-Adjust_Mt-16">
            <li> ルーター側「WAN」（または「INTERNET」）の差し込み口と、ONU側差し込み口がケーブルで繋がっていますか？</li>
            <li>各ケーブルは差し込み口の奥まで差し込まれていますか？</li>
          </ul>
        </div>
      </div>

      <h2 class="c-Heading_Lv2 u-Adjust_Mt-64  hikari-support-Util_Mt-scroll" id="restart">2. ONU、ルーターを再起動する</h2>
      <div class="hikari-support-troubleshooting-Utility_Flow u-Adjust_Mt-16">
        <img class="hikari-support-troubleshooting-Utility_Flow-left" src="<%= sitepath %>assets/img/hikari/support/setting/troubleshooting/img01.png" alt="">
        <div div class="hikari-support-troubleshooting-Utility_Flow-right">
          <p>上記「配線を確認する」でインターネット接続ができた場合は、こちらの設定は不要です。</p>
          <p class="u-Adjust_Mt-16">ご家庭に設置してあるONU、ルーターの再起動をお試しください。<br>
            各機器の電源プラグを抜き、１分後に再度差し直し、90秒ほどお待ちいただくとルーターの再起動は完了します。</p>
        </div>
      </div>

      <h2 class="c-Heading_Lv2 u-Adjust_Mt-64 hikari-support-Util_Mt-scroll" id="initialize">3. ルーターを初期化する</h2>
      <p class="u-Adjust_Mt-16">
        上記「ONU、ルーターを再起動する」でインターネットが再度接続されたかたは、こちらの設定は不要です。
      </p>

      <h3 class="c-Heading_Lv3 u-Adjust_Mt-32">NEC Aterm WG1200HP4の場合</h3>

      <div class="l-Media_Grid u-Adjust_Mt-24">
        <div class="l-Media_Image">
          <img src="<%= sitepath %>assets/img/hikari/support/setting/troubleshooting/img03-220911.png" alt="">
        </div>
        <div>
          <ol class="c-List_Ordered">
            <li>電源ランプが緑に光っていることを確認します。</li>
            <li>ルーター側面のRESETスイッチを押し続け、POWERランプが赤点滅をはじめたら放します。</li>
            <li>電源プラグを抜き、10秒後に再度差し直し、60秒ほどお待ちいただくとルーターの初期化は完了します。</li>
            <li>ルーターにIPv6の設定を行ってください</li>
          </ol>
          <p class="c-Txt_Cap u-Adjust_Mt-8">※事前にご利用の機器が楽天ひかりのIPv6（クロスパス）対応ルーターかご確認ください</p>
          <a href="<%= sitepath %><%= hikariroot.path %>support/wifi-router/" data-lid_no="01" class="c-Link_Txt-inline hikari-support-troubleshooting-Utility_Flow-link-block u-Adjust_Mt-8">楽天ひかりのIPv6（クロスパス）対応ルーター<span class="c-Icon_Arrow-right-l"></span></a>
          <a href="https://hikari.faq.rakuten.net/faq/show/1161" data-lid_no="01" class="c-Link_Txt-inline hikari-support-troubleshooting-Utility_Flow-link-block u-Adjust_Mt-8">IPv6（IPoE／IPv4 over IPv6）接続のルーター設定方法<span class="c-Icon_Arrow-right-l"></span></a>
        </div>
      </div>

        <h2 class="c-Heading_Lv3 u-Adjust_Mt-32">その他ルーターの初期化方法</h2>
        <ul class="c-Link_List u-Adjust_Mt-16">
          <li><a href="https://www.aterm.jp/support/qa/qa/00262.html" data-lid_no="01" target="_blank">NEC製ルーター<span class="c-Link_List-inline-icon c-Icon_New-window-l"></span></a></li>
          <li><a href="https://www.buffalo.jp/support/faq/detail/170.html" data-lid_no="01" target="_blank">BUFFALO製ルーター<span class="c-Link_List-inline-icon c-Icon_New-window-l"></span></a></li>
          <li><a href="https://www.iodata.jp/support/qanda/answer/s30791.htm" data-lid_no="01" target="_blank">アイ・オー・データ製ルーター<span class="c-Link_List-inline-icon c-Icon_New-window-l"></span></a></li>
          <li><a href="http://qa.elecom.co.jp/faq_list.html?category=229" data-lid_no="01" target="_blank">エレコム製ルーター<span class="c-Link_List-inline-icon c-Icon_New-window-l"></span></a></li>
        </ul>


      <h2 class="c-Heading_Lv2 u-Adjust_Mt-64 hikari-support-Util_Mt-scroll" id="ipv4">4. インターネット接続の再設定をIPv4（PPPoE）接続で行う</h2>
      <p class="u-Adjust_Mt-8">上記「ONU、ルーターを再起動する」または「ルーターを初期化する」でインターネット接続ができた場合は、こちらの設定は不要です。<br>
        <span class="c-Txt_Emp-warning">IPv4接続に変更した場合、インターネット接続はできますが、速度が遅い、不安定になるなどの症状が出る場合がございます。</span>
      </p>
      <ol class="c-Flow u-Adjust_Mt-32">
        <li>
          <h3 class="c-Heading_Lv3">ステップ1. ID 、パスワードを確認する</h3>
          <div class="hikari-support-troubleshooting-Utility_Flow u-Adjust_Mt-24">
            <div class="hikari-support-troubleshooting-Utility_Flow-left">
              <img src="<%= sitepath %>assets/img/hikari/support/setting/troubleshooting/img02-01-220911.png" alt="">
              <img src="<%= sitepath %>assets/img/hikari/support/setting/troubleshooting/img02-02-220911.png" alt="">
            </div>
            <p>
              ご契約時に楽天ひかりからお届けした「楽天ひかりアカウントのお知らせ」をご用意ください。IPv4（PPPoE）接続に必要なインターネット接続用のIDとパスワードが記載されています。<br>
              <span class="c-Txt_Cap u-Adjust_Mt-8 ">※「楽天ひかりアカウントのお知らせ」がお手元にない場合は、以下ページより、ユーザIDの確認とパスワードの再設定をお願いします。</span>
              <a class="c-Link_Txt-inline hikari-support-troubleshooting-Utility_Flow-link-block u-Adjust_Mt-8" href="https://secure3.gol.com/pwreset/rbb/" target="_blank">https://secure3.gol.com/pwreset/rbb/<span class="c-Icon_New-window-l"></span></a>
            </p>
          </div>
        </li>

        <li>
          <h3 class="c-Heading_Lv3">ステップ2.  インターネット接続の再設定をIPv4（PPPoE）接続で行う</h3>
          <div class="u-Adjust_Mt-24">
            <p>お客様がご利用中のルーターマニュアルを参照し、IPv4（PPPoE）接続設定を行ってください。</p>
            <div class="hikari-support-troubleshooting-Utility_Flow-link u-Adjust_Mt-8">
              <div class="hikari-support-troubleshooting-Utility_Flow-link-item u-Adjust_Mt-16">
                <a class="c-Link_Txt-inline" href="https://www.aterm.jp/function/wg1200hs4/guide/internet_pppoe.html" data-lid_no="02" target="_blank">NEC製ルーターをお使いのかた<span class="c-Icon_New-window-l"></span></a>
              </div>
              <div class="hikari-support-troubleshooting-Utility_Flow-link-item u-Adjust_Mt-16">
                <a class="c-Link_Txt-inline" href="https://www.tp-link.com/jp/support/faq/2415/" target="_blank">TP-LINK製ルーターをお使いのかた<span class="c-Icon_New-window-l"></span></a>
              </div>
              <div class="hikari-support-troubleshooting-Utility_Flow-link-item u-Adjust_Mt-16">
                <a class="c-Link_Txt-inline" href="https://www.buffalo.jp/support/faq/detail/12839.html" data-lid_no="02" target="_blank">BUFFALO製ルーターをお使いのかた<span class="c-Icon_New-window-l"></span></a>
              </div>
              <div class="hikari-support-troubleshooting-Utility_Flow-link-item u-Adjust_Mt-16">
                <a class="c-Link_Txt-inline" href="http://qa.elecom.co.jp/faq_detail.html?id=2822" data-lid_no="02" target="_blank">エレコム製ルーターをお使いのかた<span class="c-Icon_New-window-l"></span></a>
              </div>
              <div class="hikari-support-troubleshooting-Utility_Flow-link-item u-Adjust_Mt-16">
                <a class="c-Link_Txt-inline" href="https://www.iodata.jp/support/qanda/answer/s30943.htm" data-lid_no="02" target="_blank">アイ・オー・データ製ルーターをお使いのかた（スマホ）<span class="c-Icon_New-window-l"></span></a>
              </div>
              <div class="hikari-support-troubleshooting-Utility_Flow-link-item u-Adjust_Mt-16">
                <a class="c-Link_Txt-inline" href="https://www.iodata.jp/support/qanda/answer/s20183.htm" data-lid_no="03" target="_blank">アイ・オー・データ製ルーターをお使いのかた（PC）<span class="c-Icon_New-window-l"></span></a>
              </div>
            </div>
          </div>
        </li>
      </ol>

      <div class="c-Infobox_Standing-warning hikari-support-top-Layout_Info u-Adjust_Mt-32">
        <h4 class="c-Heading_Lv4">後日、IPv6（IPoE／IPv4 over IPv6）接続へ設定を元に戻してください</h4>
        <ul class="c-List_Text-disc u-Adjust_Mt-24">
          <li>IPv4（PPPoE）接続から、IPv6（IPoE／IPv4 over IPv6）接続への設定方法は下記をご覧ください。</li>
        </ul>
        <div class="u-Adjust_Ml-16">
          <p class="c-Txt_Cap u-Adjust_Mt-8">※事前にご利用の機器が楽天ひかりのIPv6（クロスパス）対応ルーターかご確認ください。</p>
          <a href="<%= sitepath %><%= hikariroot.path %>support/wifi-router/" data-lid_no="02" class="c-Link_Txt-inline hikari-support-troubleshooting-Utility_Flow-link-block u-Adjust_Mt-8">楽天ひかりのIPv6（クロスパス）対応ルーター<span class="c-Icon_Arrow-right-l"></span></a>
          <a href="https://hikari.faq.rakuten.net/faq/show/1161?site_domain=default" data-lid_no="02" class="c-Link_Txt-inline u-Adjust_Mt-8 hikari-support-troubleshooting-Utility_Flow-link-block">IPv6（IPoE／IPv4 over IPv6）接続のルーター設定方法<span class="c-Icon_Arrow-right-l"></span></a>
        </div>
        <ul class="c-List_Text-disc u-Adjust_Mt-24">
          <li>IPv6（IPoE／IPv4 over IPv6）接続へ設定後、ご利用中の回線がIPv6に接続しているか確認したい場合は下記をご参照ください。</li>
        </ul>
        <div class="u-Adjust_Ml-16 u-Adjust_Mt-8">
          <a href="https://hikari.faq.rakuten.net/faq/show/1167?category_id=198&site_domain=default" class="c-Link_Txt-inline">ご利用中の回線がIPv6に接続しているか確認する<span class="c-Icon_Arrow-right-l"></span></a>
        </div>
        <ul class="c-List_Text-disc u-Adjust_Mt-24">
          <li>IPv6（IPoE／IPv4 over IPv6）接続へ設定後、インターネット接続が不安定な場合は再度IPv4（PPPoE）接続に戻してご利用ください。</li>
        </ul>
        <div class="u-Adjust_Ml-16">
          <p><a href="#ipv4" class="c-Link_Txt-icon-front u-Adjust_Mt-8 js-scroll">インターネット接続の再設定をIPv4（PPPoE）接続で行う<span class="c-Icon_Arrow-up-l"></span></a></p>
        </div>
      </div>
    </div>

  </div>

  <footer class="g-Footer">
    <%- include('/hikari/include/_footer', { pagetitle: pagetitle, directories: directories, hiddenFooterCta: true, hiddenCta: true }) %>
  </footer>

</div>
<%- include('/include/hikari/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
