<% const pagetitle = "～笑顔がつながるギフト～ 母の日にスマホを贈ろう" -%>
<% const directories = [{path:"product/", label:"製品"}] -%>
<% const namespace = "ichiba_mother" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '～笑顔がつながるギフト～ 母の日にスマホを贈ろう',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%>
<% const productState = "finish" -%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/ichiba_mother/ichiba_mother.css?20240424">
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Hero_Return">
      <div class="l-System_Container <%= namespace %>-Hero_Container">
        <div class="<%= namespace %>-Hero_Main">
          <h1><img src="<%= sitepath %>assets/img/product/ichiba_mother/img-heading-pc.png?230403" alt="母の日にスマホを贈ろう　笑顔がつながるギフト　今年は5/14 SUN" class="<%= namespace %>-Utility_Img-pc"><img src="<%= sitepath %>assets/img/product/ichiba_mother/img-heading-sp.png?230403" alt="母の日にスマホを贈ろう　笑顔がつながるギフト　今年は5/14 SUN" class="<%= namespace %>-Utility_Img-sp"></h1>
        </div>
      </div>
    </div>
    <div class="<%= namespace %>-Layout_Body">
      <div class="l-System_Container">
      <% if (productState == 'finish') { %>
        <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Align-center">2023年5月15日時点の情報です</p>
      <% } else { %>
      <% } %>
        <h3 class="u-Adjust_Align-center c-Txt_Emp-02 c-Txt_Normal-m u-Adjust_Mt-40">家族が“つながる”贈り物</h3>
        <p class="u-Adjust_Mt-8 u-Adjust_Align-center">今年の母の日はスマホを贈りませんか？<br>
          スマホデビューにもぴったりな楽天モバイルのおすすめスマホをご紹介します</p>
      </div>

      <div class="<%= namespace %>-Info <%= namespace %>-Info_Bg-01 u-Adjust_Mt-24">
        <div class="l-System_Container">
          <div class="<%= namespace %>-Info_Ttl">
            <h2 class="c-Heading_Lv2 u-Adjust_Align-center">選び方のポイント</h2>
          </div>
          <div class="<%= namespace %>-Card u-Adjust_Mt-24">
            <a href="#Phone01" class="c-Card_Normal">
              <div class="<%= namespace %>-Card_Image">
                <h4 class="c-Heading_Lv4 u-Adjust_Mt-16 c-Txt_Emp-02 <%= namespace %>-Layout_Display-pc">使いやすさ</h4>
                <img src="<%= sitepath %>assets/img/product/ichiba_mother/img-Card-01.png?230403" alt="">
              </div>
              <div class="<%= namespace %>-Card_Text">
                <h4 class="c-Heading_Lv4 c-Txt_Emp-02 <%= namespace %>-Layout_Display-sp">使いやすさ</h4>
                <p class="<%= namespace %>-Card_Text-style01">難しい操作が心配なら</p>
                <p><span class="c-Txt_Emp-02">AQUOS sense6s </span>がおすすめ</p>
              </div>
            </a>
            <a href="#Phone02" class="c-Card_Normal">
              <div class="<%= namespace %>-Card_Image">
                <h4 class="c-Heading_Lv4 u-Adjust_Mt-16 c-Txt_Emp-02 <%= namespace %>-Layout_Display-pc">価格</h4>
                <img src="<%= sitepath %>assets/img/product/ichiba_mother/img-Card-02.png?230403" alt="">
              </div>
              <div class="<%= namespace %>-Card_Text">
                <h4 class="c-Heading_Lv4 c-Txt_Emp-02 <%= namespace %>-Layout_Display-sp">価格</h4>
                <p>まずはお手頃価格で<br>
                  スマホを試したいなら</p>
                <p><span class="c-Txt_Emp-02">OPPO A55s 5G </span>がおすすめ</p>
              </div>
            </a>
            <a href="#Phone03" class="c-Card_Normal">
              <div class="<%= namespace %>-Card_Image">
                <h4 class="c-Heading_Lv4 u-Adjust_Mt-16 c-Txt_Emp-02 <%= namespace %>-Layout_Display-pc">デザイン</h4>
                <img src="<%= sitepath %>assets/img/product/ichiba_mother/img-Card-03.png?230403" alt="">
              </div>
              <div class="<%= namespace %>-Card_Text">
                <h4 class="c-Heading_Lv4 c-Txt_Emp-02 <%= namespace %>-Layout_Display-sp">デザイン</h4>
                <p>スマートフォンも<br class="<%= namespace %>-Layout_Display-sp">
                  ファッション感覚で楽しみたいなら</p>
                <p><span class="c-Txt_Emp-02">Galaxy Z Flip4 </span>がおすすめ</p>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="<%= namespace %>-Info <%= namespace %>-Info_Bg-02">
        <div class="l-System_Container">
          <h2 class="c-Heading_Lv2 u-Adjust_Align-center">おすすめスマホ3選</h2>
          <p class="c-Txt_Cap u-Adjust_Align-center u-Adjust_Mt-8">※表記の金額はすべて税込です。</p>
          <div id="Phone01" class="l-Media_Grid <%= namespace %>-Info_inner u-Adjust_Mt-32">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/product/ichiba_mother/img-info-01.png?230403" alt="AQUOS sense6s">
            </div>
            <div>
              <div class="<%= namespace %>-Info_Ttl">
                <p class="<%= namespace %>-Info_Ttl-sub">難しい操作が心配なら</p>
                <p class="c-Txt_Normal-ll c-Txt_Emp-01">AQUOS sense6s</p>
                <p class="u-Adjust_Mt-8 <%= namespace %>-Info_Ttl-text01">使いやすさを追求したSHARPの定番モデル</p>
              </div>
              <div class="<%= namespace %>-Info_Reason u-Adjust_Mt-16">
                <p class="<%= namespace %>-Info_Reason-ttl c-Txt_Emp-01"><img src="<%= sitepath %>assets/img/product/ichiba_mother/img-info-icon-01.png?230403" alt="">お母さんへのプレゼントにおすすめな理由</p>
                <ul class="<%= namespace %>-Table_Rule-Cap">
                  <li class="u-Adjust_Mt-8"><span>・</span><span class="c-Txt_Emp-01">日本メーカーSHARP</span>から発売されているお手頃価格のモデル</li>
                  <li class="u-Adjust_Mt-8"><span>・</span>はじめてのスマートフォンでもわかりやすい<span class="c-Txt_Emp-01">「かんたんモード」を搭載</span>で文字サイズの調整などが可能！</li>
                </ul>
              </div>
            <% if (productState == 'finish') { %>
            <% } else { %>
              <div class="c-Tab js-Tab u-Adjust_Mt-32">
                <ul class="c-Tab_Items" role="tablist">
                  <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">単品で購入</li>
                  <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">回線とセットで購入</li>
                </ul>
                <div class="c-Tab_Panel u-Adjust_Mt-16" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
                  <dl>
                    <dt>製品価格</dt>
                    <dd>39,800円</dd>
                  </dl>
                  <dl>
                    <dt>クーポン適用<sup>※2</sup></dt>
                    <dd>-13,080円</dd>
                  </dl>
                  <dl class="price-Total">
                    <dt class="c-Txt_Emp-02">クーポン適用価格</dt>
                    <dd class="c-Txt_Emp-02">26,720円</dd>
                  </dl>
                  <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><a href="https://item.rakuten.co.jp/rakutenmobile-store/aquos-sense6s/?scid=wi_rmb_ich_mkdiv_aquos-sense6s" class="c-Btn_Primary-large" target="_blank">単品で購入</a></p>
                  <p class="c-Txt_Cap">※2「<a href="https://www.rakuten.ne.jp/gold/rakutenmobile-store/product/smartphone/android/?&l-id=product_ichiba_mother_coupon15980_011#campaign-rule1619" class="c-Link_Txt-inline" target="_blank">楽天モバイル公式 楽天市場店 Android製品単体もOK！最大15,980円OFFクーポンキャンペーン<span class="c-Icon_New-window-l"></span></a>」クーポンご利用時。単品購入用のクーポンを取得いただく必要があります。</p>
                </div>
                <div class="c-Tab_Panel u-Adjust_Mt-16" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
                  <dl>
                    <dt>製品価格</dt>
                    <dd>39,800円</dd>
                  </dl>
                  <dl>
                    <dt>クーポン適用<sup>※1</sup></dt>
                    <dd>-19,080円</dd>
                  </dl>
                  <dl class="price-Total">
                    <dt class="c-Txt_Emp-02">クーポン適用価格</dt>
                    <dd class="c-Txt_Emp-02">20,720円</dd>
                  </dl>
                  <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><a href="https://item.rakuten.co.jp/rakutenmobile-store/aquos-sense6s_bundle/?scid=wi_rmb_ich_mkdiv_aquos-sense6s_b" class="c-Btn_Primary-large" target="_blank">回線とセットで購入</a></p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※回線とセットでご購入の際は、回線契約者ご本人様からのお申し込みをお願いいたします。</p>
                  <p class="c-Txt_Cap">※1「<a href="https://www.rakuten.ne.jp/gold/rakutenmobile-store/product/smartphone/android/?&l-id=product_ichiba_mother_coupon6000_01#campaign-rule1833" class="c-Link_Txt-inline" target="_blank">楽天モバイル公式 楽天市場店 対象Android製品と楽天回線セットご注文で最大6,000円OFFクーポン<span class="c-Icon_New-window-l"></span></a>」と「<a href="https://www.rakuten.ne.jp/gold/rakutenmobile-store/product/smartphone/android/?&l-id=product_ichiba_mother_coupon15980_01#campaign-rule1619" class="c-Link_Txt-inline" target="_blank">楽天モバイル公式 楽天市場店 Android製品単体もOK！最大15,980円OFFクーポンキャンペーン<span class="c-Icon_New-window-l"></span></a>」の合算クーポンご利用時。クーポンのご利用には必ず対象製品をご購入いただく必要があります。<span class="c-Txt_Emp-02">単品購入は対象外。</span></p>
                </div>
              </div>
            <% } %>
            </div>
          </div>
          <div id="Phone02" class="l-Media_Grid <%= namespace %>-Info_inner u-Adjust_Mt-24">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/product/ichiba_mother/img-info-02.png?230403" alt="OPPO A55s 5G">
            </div>
            <div>
              <div class="<%= namespace %>-Info_Ttl">
                <p class="<%= namespace %>-Info_Ttl-sub">まずはお手頃価格でスマホを試したいなら</p>
                <p class="c-Txt_Normal-ll c-Txt_Emp-01">OPPO A55s 5G</p>
                <p class="u-Adjust_Mt-8 <%= namespace %>-Info_Ttl-text01">リーズナブルな価格の<br class="<%= namespace %>-Layout_Display-sp">大画面・軽量スマートフォン</p>
              </div>
              <div class="<%= namespace %>-Info_Reason u-Adjust_Mt-16">
                <p class="<%= namespace %>-Info_Reason-ttl c-Txt_Emp-01"><img src="<%= sitepath %>assets/img/product/ichiba_mother/img-info-icon-01.png?230403" alt="">お母さんへのプレゼントにおすすめな理由</p>
                <ul class="<%= namespace %>-Table_Rule-Cap">
                  <li class="u-Adjust_Mt-8"><span>・</span><span class="c-Txt_Emp-01">低価格</span>で<span class="c-Txt_Emp-01">初めてのスマホデビュー</span>でも安心</li>
                  <li class="u-Adjust_Mt-8"><span>・</span>アイコンや文字を大きく見やすいデザインにできる<span class="c-Txt_Emp-01">「シンプルモード」搭載</span></li>
                </ul>
              </div>
            <% if (productState == 'finish') { %>
            <% } else { %>
              <div class="c-Tab js-Tab u-Adjust_Mt-32">
                <ul class="c-Tab_Items" role="tablist">
                  <li class="c-Tab_Item" id="tab-menu3" role="tab" aria-selected="true" aria-controls="tab-content3">単品で購入</li>
                  <li class="c-Tab_Item" id="tab-menu4" role="tab" aria-selected="false" aria-controls="tab-content4">回線とセットで購入</li>
                </ul>
                <div class="c-Tab_Panel u-Adjust_Mt-16" id="tab-content3" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu3">
                  <dl>
                    <dt>製品価格</dt>
                    <dd>32,800円</dd>
                  </dl>
                  <dl>
                    <dt>クーポン適用<sup>※2</sup></dt>
                    <dd>-11,000円</dd>
                  </dl>
                  <dl class="price-Total">
                    <dt class="c-Txt_Emp-02">クーポン適用価格</dt>
                    <dd class="c-Txt_Emp-02">21,800円</dd>
                  </dl>
                  <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><a href="https://item.rakuten.co.jp/rakutenmobile-store/a55s-5g/?scid=wi_rmb_ich_mkdiv_a55s-5g" class="c-Btn_Primary-large" target="_blank">単品で購入</a></p>
                  <p class="c-Txt_Cap">※2「<a href="https://www.rakuten.ne.jp/gold/rakutenmobile-store/product/smartphone/android/?&l-id=product_ichiba_mother_coupon15980_021#campaign-rule1619" class="c-Link_Txt-inline" target="_blank">楽天モバイル公式 楽天市場店 Android製品単体もOK！最大15,980円OFFクーポンキャンペーン<span class="c-Icon_New-window-l"></span></a>」クーポンご利用時。単品購入用のクーポンを取得いただく必要があります。</p>
                </div>
                <div class="c-Tab_Panel u-Adjust_Mt-16" id="tab-content4" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu4">
                  <dl>
                    <dt>製品価格</dt>
                    <dd>32,800円</dd>
                  </dl>
                  <dl>
                    <dt>クーポン適用<sup>※1</sup></dt>
                    <dd>-17,000円</dd>
                  </dl>
                  <dl class="price-Total">
                    <dt class="c-Txt_Emp-02">クーポン適用価格</dt>
                    <dd class="c-Txt_Emp-02">15,800円</dd>
                  </dl>
                  <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><a href="https://item.rakuten.co.jp/rakutenmobile-store/a55s-5g_bundle/?scid=wi_rmb_ich_mkdiv_a55s-5g_b" class="c-Btn_Primary-large" target="_blank">回線とセットで購入</a></p>
                  <p class="c-Txt_Cap">※回線とセットでご購入の際は、回線契約者ご本人様からのお申し込みをお願いいたします。</p>
                  <p class="c-Txt_Cap">※1「<a href="https://www.rakuten.ne.jp/gold/rakutenmobile-store/product/smartphone/android/?&l-id=product_ichiba_mother_coupon6000_02#campaign-rule1833" class="c-Link_Txt-inline" target="_blank">楽天モバイル公式 楽天市場店 対象Android製品と楽天回線セットご注文で最大6,000円OFFクーポン<span class="c-Icon_New-window-l"></span></a>」と「<a href="https://www.rakuten.ne.jp/gold/rakutenmobile-store/product/smartphone/android/?&l-id=product_ichiba_mother_coupon15980_02#campaign-rule1619" class="c-Link_Txt-inline" target="_blank">楽天モバイル公式 楽天市場店 Android製品単体もOK！最大15,980円OFFクーポンキャンペーン<span class="c-Icon_New-window-l"></span></a>」の合算クーポンご利用時。クーポンのご利用には必ず対象製品をご購入いただく必要があります。<span class="c-Txt_Emp-02">単品購入は対象外。</span></p>
                </div>
              </div>
            <% } %>
            </div>
          </div>
          <div id="Phone03" class="l-Media_Grid <%= namespace %>-Info_inner u-Adjust_Mt-32">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/product/ichiba_mother/img-info-03.png?230403" alt="Galaxy Z Flip4">
            </div>
            <div>
              <div class="<%= namespace %>-Info_Ttl">
                <p class="<%= namespace %>-Info_Ttl-sub">スマートフォンも<br class="<%= namespace %>-Layout_Display-sp">ファッション感覚で楽しみたいなら</p>
                <p class="c-Txt_Normal-ll c-Txt_Emp-01">Galaxy Z Flip4</p>
                <p class="u-Adjust_Mt-8 <%= namespace %>-Info_Ttl-text01">新しいデザインの<br class="<%= namespace %>-Layout_Display-sp">おしゃれな次世代スマートフォン</p>
              </div>
              <div class="<%= namespace %>-Info_Reason u-Adjust_Mt-16">
                <p class="<%= namespace %>-Info_Reason-ttl c-Txt_Emp-01"><img src="<%= sitepath %>assets/img/product/ichiba_mother/img-info-icon-01.png?230403" alt="">お母さんへのプレゼントにおすすめな理由</p>
                <ul class="<%= namespace %>-Table_Rule-Cap">
                  <li class="u-Adjust_Mt-8"><span>・</span><span class="c-Txt_Emp-01">折りたたみ可能</span>でポケットやミニバッグに収まるコンパクトサイズだから<span class="c-Txt_Emp-01">持ち運びもかんたん！</span></li>
                  <li class="u-Adjust_Mt-8"><span>・</span><span class="c-Txt_Emp-01">ハイエンドモデル</span>で奮発した特別な日のプレゼントにもピッタリ！</li>
                </ul>
              </div>
            <% if (productState == 'finish') { %>
            <% } else { %>
              <div class="c-Tab js-Tab u-Adjust_Mt-32">
                <ul class="c-Tab_Items" role="tablist">
                  <li class="c-Tab_Item" id="tab-menu5" role="tab" aria-selected="true" aria-controls="tab-content5">単品で購入</li>
                  <li class="c-Tab_Item" id="tab-menu6" role="tab" aria-selected="false" aria-controls="tab-content6">回線とセットで購入</li>
                </ul>
                <div class="c-Tab_Panel u-Adjust_Mt-16" id="tab-content5" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu5">
                  <dl>
                    <dt>製品価格</dt>
                    <dd>139,800円</dd>
                  </dl>
                  <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><a href="https://item.rakuten.co.jp/rakutenmobile-store/galaxy-z-flip4/?scid=wi_rmb_ich_mkdiv_galaxy-z-flip4" class="c-Btn_Primary-large" target="_blank">単品で購入</a></p>
                </div>
                <div class="c-Tab_Panel u-Adjust_Mt-16" id="tab-content6" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu6">
                  <dl>
                    <dt>製品価格</dt>
                    <dd>139,800円</dd>
                  </dl>
                  <dl>
                    <dt>クーポン適用<sup>※1</sup></dt>
                    <dd>-6,000円</dd>
                  </dl>
                  <dl class="price-Total">
                    <dt class="c-Txt_Emp-02">クーポン適用価格</dt>
                    <dd class="c-Txt_Emp-02">133,800円</dd>
                  </dl>
                  <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><a href="https://item.rakuten.co.jp/rakutenmobile-store/galaxy-z-flip4_bundle/?scid=wi_rmb_ich_mkdiv_galaxy-z-flip4_b" class="c-Btn_Primary-large" target="_blank">回線とセットで購入</a></p>
                  <p class="c-Txt_Cap">※回線とセットでご購入の際は、回線契約者ご本人様からのお申し込みをお願いいたします。</p>
                  <p class="c-Txt_Cap">※1「<a href="https://www.rakuten.ne.jp/gold/rakutenmobile-store/product/smartphone/android/?&l-id=product_ichiba_mother_coupon6000_03#campaign-rule1833
                    " class="c-Link_Txt-inline" target="_blank">楽天モバイル公式 楽天市場店 対象Android製品と楽天回線セットご注文で最大6,000円OFFクーポン<span class="c-Icon_New-window-l"></span></a>」ご利用時。必ず対象Android製品＋回線プランセットで購入いただく必要があります。<span class="c-Txt_Emp-02">単品購入は対象外。</span></p>
                </div>
              </div>
            <% } %>
            </div>
          </div>
        </div>
      </div>

    <% if (productState == 'finish') { %>
    <% } else { %>
      <div class="l-System_Container u-Adjust_Mt-40">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">お母さんに紹介すればあなたもポイントがもらえる</h2>
        <div class="u-Adjust_Mt-32">
          <a href="<%= sitepath %>campaign/referral/?&l-id=product_ichiba_mother_referral_bnr01">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/<%= namespace %>/img-bnr-01-sp.png?230403">
              <img src="<%= sitepath %>assets/img/product/<%= namespace %>/img-bnr-01.png?230403" alt="楽天モバイル紹介キャンペーン ご家族・ご友人に楽天モバイルを紹介すると1人につき7,000円相当ポイントプレゼント！ ※Rakuten Linkアプリ利用条件あり※最大人数は1ヵ月あたり10人まで 紹介された方にも3,000ポイントプレゼント！※本キャンペーンでの初めてのお申し込みで">
            </picture>
          </a>
        </div>
        <p class="u-Adjust_Mt-16 <%= namespace %>-Text_Left-sp">まだ楽天モバイルをお使いでない方も、楽天モバイルお申し込み後にご家族に紹介すればキャンペーンの対象です！</p>
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-40">楽天市場で<span class="<%= namespace %>-Txt_Nl">母の日特集実施中</span></h2>
        <div class="u-Adjust_Mt-32">
          <a href="https://event.rakuten.co.jp/mother/?scid=wi_rmb_ich_ichiba_mother_pc" target="_blank" class="<%= namespace %>-Layout_Display-pc">
            <img src="<%= sitepath %>assets/img/product/<%= namespace %>/img-bnr-02.png?230403" alt="母の日 今年は5/14（日） ポイント最大10倍やクーポンも！">
          </a>
          <a href="https://event.rakuten.co.jp/mother/?scid=wi_rmb_ich_ichiba_mother_sp" target="_blank" class="<%= namespace %>-Layout_Display-sp">
            <img src="<%= sitepath %>assets/img/product/<%= namespace %>/img-bnr-02-sp.png?230403" alt="母の日 今年は5/14（日） ポイント最大10倍やクーポンも！">
          </a>
        </div>
      </div>
    <% } %>

      <div class="<%= namespace %>-Layout_Step">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">お申し込みから<span class="<%= namespace %>-Txt_Nl">ご利用までの流れ</span></h2>
        <p class="u-Adjust_Align-center">（回線とセットで購入の場合）</p>
        <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-24">
          <li><a href="#product-step" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>Webで申し込む場合</a></li>
          <li><a href="#product-step02" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>ショップ（店舗）で申し込む場合</a></li>
        </ul>
        <div id="product-step" class="<%= namespace %>-Layout_Step-inner l-System_Container u-Adjust_Mt-16">
          <div class="<%= namespace %>-Layout_Step-img u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/product/ichiba_mother/img-flow-01.png?230403" alt="">
          </div>
          <h3 class="c-Heading_Lv3 u-Adjust_Align-center u-Adjust_Mt-116">Webで申し込む場合</h3>
          <p class="<%= namespace %>-Text_Left-sp u-Adjust_Mt-24">回線とセットでご購入の際は、回線契約者ご本人様からのお申し込みをお願いいたします。<br>
            回線プランの正式ご契約手続き後、通常5日程度で、製品をお届けいたします。</p>
          <div class="c-Accordion u-Adjust_Mt-16">
            <div class="c-Accordion_Trigger js-Accordion_Trigger no-Accordion"><span class="c-Txt_Emp-02 step-no">STEP1　</span>スマホ＋楽天回線プランセットを購入</div>
          </div>
          <div class="c-Accordion u-Adjust_Mt-16">
            <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2" data-ratid="product_ichiba_mother_flow-step2" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP2　</span>購入完了画面から正式契約手続きを11日以内に行う</button>
            <div id="accordion-content-2" class="<%= namespace %>-Layout_Step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region"
              aria-labelledby="accordion-2" aria-hidden="true">
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/product/ichiba_mother/img-flow-02.png?230403" alt="">
                </div>
                <div>
                  <ul class="<%= namespace %>-Table_Rule-Cap">
                    <li class="u-Adjust_Mt-8 c-Txt_Cap"><span>※</span>購入完了後に送信されるメールからもお手続き可</li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
          <div class="c-Accordion u-Adjust_Mt-16">
            <button type="button" id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3" data-ratid="product_ichiba_mother_flow-step3" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP3　</span>SIMがお手元に届く</button>
            <div id="accordion-content-3" class="<%= namespace %>-Layout_Step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/product/ichiba_mother/img-flow-03.png?230403" alt="">
                </div>
                <div>
                  <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">正式契約完了後2～4日程度</h4>
                  <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                    <li><span>※</span>製品よりも先にSIMカードをお届けします。</li>
                      <li><span>※</span>eSIMでご契約の場合、SIMカードではなくスタートガイドをお届けします。eSIM契約でeKYCご利用のお客様には、SIM・スタートガイドはお届けいたしません。</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion u-Adjust_Mt-16">
            <button type="button" id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4" data-ratid="product_ichiba_mother_flow-step3" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP4　</span>製品がお手元に届く</button>
            <div id="accordion-content-4" class="<%= namespace %>-Layout_Step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/product/ichiba_mother/img-flow-04.png?230403" alt="">
                </div>
                <div>
                  <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">SIMのお受け取りを確認後7日程度</h4>
                  <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                    <li><span>※</span>SIMのお受け取りを確認後（eSIMご契約の場合は、本人確認完了後）、通常7日程度で製品をお届けします。</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion u-Adjust_Mt-16">
            <div class="c-Accordion_Trigger js-Accordion_Trigger no-Accordion"><span class="c-Txt_Emp-02 step-no">STEP5　</span>初期設定を行いプラン利用開始</div>
          </div>

        <% if (productState == 'finish') { %>
        <% } else { %>
          <div class="u-Adjust_Align-center u-Adjust_Mt-16 <%= namespace %>-Layout_Step-last-icon">
              <img src="<%= sitepath %>assets/img/product/ichiba_mother/img-step-01.png?230403" alt="さらに">
          </div>

          <div class="<%= namespace %>-Layout_Step-last">
            <p class="c-Txt_Emp-01 c-Txt_Normal-m u-Adjust_Align-center">楽天回線はじめてお申し込みのお客様</p>
            <p class="u-Adjust_Align-center"><span class="c-Txt_Emp-02 c-Txt_Normal-ll">STEP6で楽天ポイント3,000ポイント</span><sup class="c-Txt_Cap <%= namespace %>-Layout_Step-last-text01">※1</sup><span class="c-Txt_Emp-02 c-Txt_Normal-ll">プレゼント！</span></p>
            <p class="<%= namespace %>-Text_Left-sp">ポイントを進呈する時期につきましては、<a href="<%= sitepath %>campaign/sim/#campaign-rule1526">キャンペーン詳細</a>をご確認ください。</p>
            <ul class="<%= namespace %>-Table_Rule-Cap">
              <li class="u-Adjust_Mt-0"><span>※</span>進呈日から6カ月間有効の期間限定ポイントとなります。</li>
              <li class="u-Adjust_Mt-0"><span>※</span>特典はおひとり様1回のみ</li>
              <li class="u-Adjust_Mt-0"><span>※</span>Rakuten Linkアプリのご利用が必要です</li>
              <li class="u-Adjust_Mt-0"><span>※</span>Rakuten Hand 5G及びRakuten WiFi Pocket 2Cを回線とともに購入した場合対象外</li>
              <li class="u-Adjust_Mt-0"><span>※1</span> 楽天ポイントの付与は、条件達成月までにすべての条件を達成した場合、翌々月末日頃に、期間限定ポイントで行います。</li>
            </ul>
          </div>

          <div class="u-Adjust_Align-center u-Adjust_Mt-16 <%= namespace %>-Layout_Step-last-arrow">
            <img src="<%= sitepath %>assets/img/product/ichiba_mother/img-step-arrow-01.png?230403" alt="">
          </div>

          <div class="c-Accordion u-Adjust_Mt-16">
            <button type="button" id="accordion-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-6" data-ratid="product_ichiba_mother_flow-step6" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP6　</span>Rakuten Linkアプリから発信で10秒以上通話</button>
            <div id="accordion-content-6" class="<%= namespace %>-Layout_Step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-6" aria-hidden="true">
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/product/ichiba_mother/img-flow-05.png?230403" alt="">
                </div>
                <div>
                  <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">Rakuten Linkアプリで発信し10秒以上通話する</h4>
                  <p class="u-Adjust_Mt-8">プランのお申し込みの翌月末日まで</p>
                  <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                    <li><span>※</span>電話の発信時、（0180）（0570）などから始まる他社接続サービス、一部特番（188）への通話については、特典対象外。</li>
                  </ul>
                  <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>service/rakuten-link/">Rakuten Link アプリの詳細を見る</a></p>
                </div>
              </div>
            </div>
          </div>
        <% } %>
        </div>

        <div id="product-step02" class="<%= namespace %>-Layout_Step-inner l-System_Container u-Adjust_Mt-24">
          <div class="<%= namespace %>-Layout_Step-img u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/product/ichiba_mother/img-step-02.png?230403" alt="">
          </div>
          <h3 class="c-Heading_Lv3 u-Adjust_Align-center u-Adjust_Mt-8">ショップ（店舗）で申し込む場合</h3>
          <p class="<%= namespace %>-Text_Left-sp u-Adjust_Mt-16"><a href="<%= sitepath %>shop/">お近くの楽天モバイルショップ（店舗）を探す</a></p>
          <p class="<%= namespace %>-Text_Left-sp c-Txt_Cap u-Adjust_Mt-16">ショップ（店舗）で申し込む場合、以下をご注意ください。</p>
          <p class="<%= namespace %>-Text_Left-sp c-Txt_Cap">※端末価格等が本ページ記載のものと異なる場合があります。</p>
          <p class="<%= namespace %>-Text_Left-sp c-Txt_Cap">※本ページ記載のクーポンの適用はございません。</p>
        </div>
      </div>

    <% if (productState == 'finish') { %>
    <% } else { %>
      <div id="unlimit-vi-plan" class="u-Adjust_Mt-32">
        <!-- inc unlimit-vii-plan-03 parts -->
        <link rel="stylesheet" href="/assets/css/inc/i-unlimit-vii-plan-03.css?20240424">
        <div class="l-System_Container i-unlimit-vii-plan">
          <div class="i-unlimit-vii-plan-area_01">
            <h2 class="c-Heading_Lv2 u-Adjust_Align-center">楽天モバイルが<span class="<%= namespace %>-Txt_Nl">だんぜんおトク！</span></h2>
            <div class="i-unlimit-vii-plan-Container">
              <div class="i-unlimit-vii-plan-img">
                <picture>
                  <source media="(max-width: 768px)" srcset="/assets/img/inc/un-limit-vii-plan-03/img-unlimit-vii-plan-sp_230224.png?230224">
                  <img src="/assets/img/inc/un-limit-vii-plan-03/img-unlimit-vii-plan-pc_230224.png?230224" alt="楽天回線エリアデータ無制限※1で月額2,980円/月（税込3,278円）。さらに使わなければ勝手に安くなる！※無制限は楽天回線エリアのみ。公平なサービス提供のため速度制限の場合あり。エリア外は最大1Mbps ※通話料等別">
                </picture>
              </div>
              <div class="i-unlimit-vii-plan-Detail">
                <p class="c-Txt_Cap u-Adjust_Mt-16">※1 データ無制限は、楽天基地局に接続時。公平にサービスを提供するため通信速度の制御を行う場合があります。パートナー回線エリアは、国内は5GB超過後は最大1Mbps、海外は2GB超過後は最大128kbpsで使い放題。最大1Mbpsで使用時、動画再生・アプリダウンロード等では、時間がかかる場合あり。通信速度はベストエフォート（規格上の最大速度）であり、実効速度は通信環境・状況により変動します。</p>
                <p class="c-btn u-Adjust_Align-center"><a href="/fee/un-limit/?l-id=un-limit-banner_fee_unlimit" class="c-Btn_Primary-large"><span>料金プラン詳細を見る</span></a></p>
              </div>
            </div>
          </div>
        </div>
        <!-- / inc unlimit-vii-plan-03 parts -->
      </div>

      <div class="l-System_Container">
        <div class="l-Media_Grid bnr-Area">
          <div class="l-Media_Image">
            <a href="<%= sitepath %>uservoice/?l-id=product_ichiba_mother_uservoice">
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/<%= namespace %>/img-bnr-03-sp.png?230403">
                <img src="<%= sitepath %>assets/img/product/<%= namespace %>/img-bnr-03.png?230403" alt="実際に使った感想をお聞きしました。楽天モバイルの評判をご紹介">
              </picture>
            </a>
          </div>
        </div>
      </div>
    <% } %>
    </div>

    <footer class="g-Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
</body>
</html>
