<% const pagetitle = "「楽天モバイル 福岡天神西通り店」開店記念キャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "shop-fukuokatenjin" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '「楽天モバイル 福岡天神西通り店」開店記念キャンペーン！抽選で1名様にマックフライポテトSサイズ1年間分無料になるチャンス',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/<%= namespace %>/<%= namespace %>.css?20240424">
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<script src="https://r.r10s.jp/com/js/d/rjs/rjs_helpers-1.1.0.min.js"></script>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= namespace %>-Hero u-Adjust_Align-center">
  <div class="<%= namespace %>-Hero_Header">
    <div class="l-System_Container">
      <h3 class="c-Heading_Lv3 c-Txt_Emp-02">楽天モバイル 福岡天神西通り店<br class="<%= namespace %>-Utility_Br-sp">開店記念キャンペーン</h3>
    </div>
  </div>
  <div class="<%= namespace %>-Hero_Body">
    <div class="l-System_Container">
      <div class="<%= namespace %>-Hero_Main">
        <h1>
          <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/hero-pc.png?200710" alt="抽選で1名様にマックフライポテトSサイズ１年間分無料になるチャンス" width="630" class="<%= namespace %>-Utility_Img-pc">
          <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/hero-sp.png?200710" alt="抽選で1名様にマックフライポテトSサイズ１年間分無料になるチャンス" class="<%= namespace %>-Utility_Img-sp">
        </h1>
      </div>
    </div>
  </div>
  <div class="<%= namespace %>-Hero_Footer">
    <div class="l-System_Container">
      <p class="<%= namespace %>-Hero_Footer-txt"><span>【キャンペーン期間】</span>2020年7月15日(水)10:00 ～ 8月18日(火)20:00</p>
    </div>
  </div>

</div>

  <div class="<%= namespace %>-Layout_Section <%= namespace %>-Section_List u-Adjust_Mt-32">
		<div class="l-System_Container">
      <p class="c-Txt_Normal-l c-Txt_Emp-02 u-Adjust_Align-center u-Adjust_Mb-24 u-Adjust_Mt-8" style="color:#ff0000;">本キャンペーンは終了しました</p>
      <p class="c-Txt_Normal">「楽天モバイル 福岡天神西通り店」の開店を記念して、キャンペーンを行います。 ぜひ、ご来店ください。</p>
      <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-8 -Adjust_Align-center">
        <li><a href="#rule" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルールを確認する</a></li>
      </ul>


    <h2 class="c-Heading_Lv2 u-Adjust_Mt-32" id="campaign-flow">キャンペーンの流れ</h2>
    <ul class="<%= namespace %>-Flow_List">
      <li>
        <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
          <div class="l-Media_Image <%= namespace %>-Flow_List-img">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/shop.png?200710" width="" alt="">
          </div>
          <div>
            <h4 class="c-Heading_Lv4">下記のいずれかを持参またはリツイートし、楽天モバイル 福岡天神西通り店に来店する</h4>
            <ul class="c-List_Text-disc u-Adjust_Mt-16">
              <li>「マクドナルド 天神西通り店」で配布しているチラシ</li>
              <li>楽天モバイルの折込チラシ</li>
              <li>本キャンペーンに関するプロモツイートをリツイート</li>
            </ul>
            <p class="u-Adjust_Mt-16"><a href="https://twitter.com/Rakuten_Mobile/status/1282995570106220545" target="_blank" class="c-Link_Txt-icon">本キャンペーンに関するプロモツイート<span class="c-Icon_Chevron-right"></span></a></p>
            <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>shop-detail/7581/" class="c-Link_Txt-icon">楽天モバイル 福岡天神西通り店<span class="c-Icon_Chevron-right"></span></a></p>
          </div>
        </div>
      </li>

      <li>
        <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
          <div class="l-Media_Image <%= namespace %>-Flow_List-img">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/nugget.png?200710" width="" alt="">
          </div>
          <div>
            <h4 class="c-Heading_Lv4">楽天モバイル 福岡天神西通り店で簡単なアンケートに答えると！</h4>
            <div class="<%= namespace %>-Flow_List-img-txt">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/pink_text_1_pc.png?200710" width="" alt="チキンマックナゲット５ピース無料クーポンプレゼント！" class="<%= namespace %>-Utility_Img-pc">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/pink_text_1_sp.png?200710" width="" alt="チキンマックナゲット５ピース無料クーポンプレゼント！" class="<%= namespace %>-Utility_Img-sp">
            </div>
            <ul class="c-List_Cap-wide <%= namespace %>-Layout_Adjust-primary">
              <li><span>※</span>アンケートはお1人様一回のみ。</li>
              <li><span>※</span>他の商品購入時に限り使えるクーポンです。</li>
              <li><span>※</span>クーポンは「マクドナルド 天神西通り店」のみ使用可能です。</li>
              <li><span>※</span>参加条件はキャンペーンルールをご確認ください</li>
            </ul>
          </div>
        </div>
      </li>

      <li>
        <div class="<%= namespace %>-Flow_List-in">
          <p class="<%= namespace %>-Infobox c-Txt_Emp-02 u-Adjust_Align-center">さらに</p>

          <div class="l-Media_Grid u-Adjust_Mt-16">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/buy.png?200710" width="" alt="">
            </div>
            <div>
              <h4 class="c-Heading_Lv4">楽天モバイル 福岡天神西通り店で17,000円（税別）以上の製品を購入する 。</h4>
              <p class="c-Heading_Lv4 u-Adjust_Mt-16">その後、このキャンペーンページよりエントリーする。</p>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
          <div class="l-Media_Image <%= namespace %>-Flow_List-img">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/mail.png?200710" width="" alt="">
          </div>
          <div>
            <h4 class="c-Heading_Lv4">楽天モバイルからの<span class="c-Txt_Emp-02">当選メールに返信</span>する</h4>
            <p class="c-Txt_Normal u-Adjust_Mt-16">返信期限：2020/09/30 23:59まで</p>
            <ul class="c-List_Cap-wide u-Adjust_Mt-16">
              <li><span>※</span>当選メールは9月上中旬頃にお送りします。</li>
              <li><span>※</span>楽天モバイルからの当選ご連絡メール受信にあたり、楽天会員に登録されたメールアドレスで『＠info.rakuten.co.jp』からのメールが受け取れるよう、必ず事前にご確認・ご設定ください。</li>
              <li><span>※</span>期限までに返信がない場合には、参加辞退と判断し、当選無効となります。ご注意ください。</li>
              <li><span>※</span>応募は製品購入数にかかわらず、おひとり様1回のみとさせていただきます。</li>
            </ul>
          </div>
        </div>
      </li>

      <li>
        <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
          <div class="l-Media_Image <%= namespace %>-Flow_List-img">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/potato.png?200710" width="" alt="">
          </div>
          <div>
            <div class="">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/pink_text_2_pc.png?200710" width="" alt="抽選で1名様にマックフライポテトSサイズ１年無料券プレゼント" class="<%= namespace %>-Utility_Img-pc">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/pink_text_2_sp.png?200710" width="" alt="抽選で1名様にマックフライポテトSサイズ１年無料券プレゼント" class="<%= namespace %>-Utility_Img-sp">
            </div>
            <ul class="c-List_Cap-wide u-Adjust_Mt-16">
              <li><span>※</span>「マックフライポテトSサイズ」の無料券を365枚差し上げます。（1枚を1日分として換算）</li>
              <li><span>※</span>クーポンは「マクドナルド 天神西通り店」のみ使用可能です。</li>
            </ul>
          </div>
        </div>
      </li>

    </ul>


    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">常識をくつがえす、楽天モバイルの料金プラン</h2>
    <div class="<%= namespace %>-Layout_Cta">
      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/cta-pc.png?200710" alt="" class="<%= namespace %>-Utility_Img-pc">
      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/cta-sp.png?200710" alt="" class="<%= namespace %>-Utility_Img-sp">

      <div class="<%= namespace %>-Block_Unlimit-foot">
        <p class="<%= namespace %>-Btn_Secondly"><a href="<%= sitepath %>fee/un-limit/"
            class="c-Btn_Secondly-auto <%= namespace %>-Btn_Secondly-big"><span>料金プラン詳細を見る</span></a></p>
      </div>
      <p class="<%= namespace %>-Block_Unlimit-text">※1 お1人様1回線1度のみ。製品代、事務手数料、オプション料、通話料等は別費用。※2 増減の可能性あり。※3 対象エリアをご確認ください。※4動画再生・アプリダウンロード等では、時間がかかる場合があります。通信速度はベストエフォート（規格上の最大速度）であり、実効速度は通信環境・状況により変動します。 ※5 一部対象外番号あり。</p>
    </div>


    <div class="<%= namespace %>-Table_Block">
      <h3 id="rule" class="c-Heading_Lv3 u-Adjust_Mt-64">【楽天モバイル 福岡天神西通り店限定】アンケートに回答で「チキンマックナゲット5ピース」が無料になるクーポンプレゼントキャンペーン</h3>
      <p class="c-Txt_Normal-l c-Txt_Emp-02 u-Adjust_Align-center u-Adjust_Mb-24 u-Adjust_Mt-8" style="color:#ff0000;">本キャンペーンは終了しました</p>
      <div class="c-Table_Wrap u-Adjust_Mt-16">
      <table class="c-Table_Container">
        <tbody>
        <tr>
          <th scope="row" class="<%= namespace %>-Table_Ttl">キャンペーン期間</th>
          <td class="<%= namespace %>-Table_Data">2020年07月15日 10:00　～　2020年08月18日 20:00</td>
        </tr>
        <tr>
          <th scope="row" class="<%= namespace %>-Table_Ttl">特典</th>
          <td class="<%= namespace %>-Table_Data">「マクドナルド 天神西通り店」で使用できるチキンマックナゲット5ピース無料クーポン</td>
        </tr>
        <tr>
          <th scope="row" class="<%= namespace %>-Table_Ttl">特典対象</th>
          <td class="<%= namespace %>-Table_Data">
            <p>
              キャンペーン期間中に「楽天モバイル 福岡天神西通り店」で以下の条件を満たした方
            </p>
            <ol class="c-List_Note u-Adjust_Mt-16">
              <li><span>①</span>「マクドナルド 天神西通り店」で配布しているチラシを持参しかんたんなアンケートに回答</li>
              <li><span>②</span>楽天モバイルの折込チラシを持参しかんたんなアンケートに回答</li>
              <li><span>③</span>本キャンペーンに関するプロモツイートをリツイートしてかんたんなアンケートに回答<br>プロモツイートの投稿は7月17日以降になります。</li>
            </ol>
          </td>
        </tr>
        <tr>
          <th scope="row" class="<%= namespace %>-Table_Ttl">特典対象外</th>
          <td class="<%= namespace %>-Table_Data">
            <p>注意事項</p>
            <ul class="c-List_Cap u-Adjust_Mt-16">
              <li><span>※</span>アンケートの回答はお一人様一回のみになります</li>
              <li><span>※</span>クーポンが使用できる店舗は「マクドナルド 天神西通り店」のみになります。</li>
              <li><span>※</span>チキンマックナゲット5ピースが無料になるクーポンは他の商品を購入時に使用できるクーポンになります。</li>
            </ul>
            <p class="u-Adjust_Mt-16">以下の条件に当てはまる場合は、特典適用対象外となります。</p>
            <ul class="c-List_Cap u-Adjust_Mt-16">
              <li><span>※</span>当社または楽天株式会社が定める規約などに違反した場合</li>
              <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th scope="row" class="<%= namespace %>-Table_Ttl">注意事項</th>
          <td class="<%= namespace %>-Table_Data <%= namespace %>-Table_Data-last">本特典は予告なく内容の変更もしくは中止させていただく場合がございます。あらかじめご了承ください。</td>
        </tr>
        </tbody>
      </table>
      </div>

      <h3 class="c-Heading_Lv3 u-Adjust_Mt-48">【楽天モバイル 福岡天神西通り店限定】「『マックフライポテトSサイズ』1年間分無料券があたるチャンス」キャンペーン</h3>
      <p class="c-Txt_Normal-l c-Txt_Emp-02 u-Adjust_Align-center u-Adjust_Mb-24 u-Adjust_Mt-8" style="color:#ff0000;">本キャンペーンは終了しました</p>
      <div class="c-Table_Wrap u-Adjust_Mt-16">
      <table class="c-Table_Container">
        <tbody>
          <tr>
            <th scope="row" class="<%= namespace %>-Table_Ttl">キャンペーン期間</th>
            <td class="<%= namespace %>-Table_Data">2020年07月15日 10:00　～　2020年8月18日 20:00</td>
          </tr>
          <tr>
            <th scope="row" class="<%= namespace %>-Table_Ttl">特典</th>
            <td class="<%= namespace %>-Table_Data">マックフライポテトSサイズ１年間分相当の無料券をプレゼント</td>
          </tr>
          <tr>
            <th scope="row" class="<%= namespace %>-Table_Ttl">特典対象</th>
            <td class="<%= namespace %>-Table_Data">
              <p>以下の条件1、条件2、条件3を満たした方が対象になります。</p>

              <p class="u-Adjust_Mt-16"><strong>条件1</strong><br>専用のキャンペーンページにエントリー</p>
              <p class="u-Adjust_Mt-8"><strong>条件2</strong><br>17,000円(税抜)以上の製品を「楽天モバイル 福岡天神西通り店」でご購入</p>
              <p class="u-Adjust_Mt-8"><strong>条件3</strong><br>キャンペーン期間中に本キャンペーンページからエントリーをし、当選メールを受け取った後、2020/09/30 23:59までに当選確認した旨をメールにてご返信</p>

              <ul class="c-List_Cap u-Adjust_Mt-16">
                <li><span>※</span>当選メールは9月上中旬頃にお送りします。当選者にのみご連絡させていただきます。</li>
                <li><span>※</span>楽天モバイルからの当選ご連絡メール受信にあたり、楽天会員に登録されたメールアドレスで『＠info.rakuten.co.jp』からのメールが受け取れるよう、必ず事前にご確認・ご設定ください。</li>
                <li><span>※</span>応募は製品購入数にかかわらず、おひとり様1回のみとさせていただきます。</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th scope="row" class="<%= namespace %>-Table_Ttl">特典対象外</th>
            <td class="<%= namespace %>-Table_Data">
              <p>以下の条件に当てはまる場合は、特典適用対象外となります。</p>
              <ul class="c-List_Cap u-Adjust_Mt-16">
                <li><span>※</span>楽天会員から退会している場合</li>
                <li><span>※</span>当社または楽天株式会社が定める規約などに違反した場合</li>
                <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
                <li><span>※</span>楽天グループの役職員及び関係者</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th scope="row" class="<%= namespace %>-Table_Ttl">注意事項</th>
            <td class="<%= namespace %>-Table_Data <%= namespace %>-Table_Data-last">
              <p>マックフライポテトSサイズ1年間分無料とは、1日1回マックフライポテトを購入するとし、365日分のマックフライポテトSサイズが無料になることをさします。</p>
              <p class="u-Adjust_Mt-16">マックフライポテトSサイズ(150円)の365日分で54,750円分の無料券を特典として差し上げます。</p>
              <p class="u-Adjust_Mt-16">2020/09/30 23:59までに当選メールにご返信がない場合、いかなる場合でも参加辞退と判断し、当選無効となります。</p>
              <p class="u-Adjust_Mt-16">楽天モバイルからの当選ご連絡メール受信にあたり、楽天会員に登録されたメールアドレスで『＠info.rakuten.co.jp』からのメールが受け取れるよう、必ず事前にご確認・ご設定ください。</p>
              <p class="u-Adjust_Mt-16">キャンペーン期間より前に製品を購入された方は対象外になります。</p>
              <p class="u-Adjust_Mt-16">本特典は予告なく内容の変更もしくは中止させていただく場合がございます。あらかじめご了承ください。</p>
              <p class="u-Adjust_Mt-16">当選した権利を他人に譲渡・売買・交換・換金することはできません。</p>
              <p class="u-Adjust_Mt-16">当選に関するお問い合わせにはお答えいたしかねますので、あらかじめご了承ください。</p>
              <p class="u-Adjust_Mt-16">不正行為による応募が確認された場合には、全ての当選の権利を無効とさせていただきます。</p>
              <p class="u-Adjust_Mt-16">景品の受取方法は当選後にメールにてご連絡します。</p>
              <ul class="c-List_Cap u-Adjust_Mt-16">
                <li><span>※</span>クーポンが使用できる店舗は「マクドナルド 天神西通り店」のみになります。</li>
              </ul>
            </td>
          </tr>
          </tbody>
      </table>
      </div>
    </div>
		</div>
	</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-news.ejs') %>

    <%- include('/include/footer/bnr/_bnr-news.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
