<% const pagetitle = "Rakuten最強プラン（データタイプ）から通常タイプへの変更方法" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/contract-detail/confirmation/", label:"契約内容の確認・変更"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Rakuten最強プラン（データタイプ）から、通話もできる通常タイプへの変更方法と注意事項をご案内します。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/payment/change/change.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">

  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1 u-Adjust_Mb-32"><%= pagetitle %></h1>
    <p class="u-Adjust_Mt-24">Rakuten最強プラン（データタイプ）から、通話もできる通常タイプへの変更方法と注意事項をご案内します。</p>
    <p class="u-Adjust_Mt-8">通常タイプへの変更のお手続き完了後、5分程度で音声通話がご利用いただけます。</p>
    <p class="u-Adjust_Mt-24 c-Txt_Cap">※my 楽天モバイルアプリからご利用される場合は、最新版にアップデートを行ってからご利用ください。</p>
    <ul class="<%= nameSpace %>-Layout_Menu">
      <li><a href="#how-to-change" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>変更方法</a></li>
      <li class="u-Adjust_Mt-sp-16"><a href="#notes" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>注意事項</a></li>
    </ul>
  </div>

  <div id="how-to-change" class="l-System_Container <%= nameSpace %>-Layout_Howto-box">
    <h2 class="c-Heading_Lv2 u-Adjust_Mb-16">通常タイプへの変更方法</h2>
    <div class="c-Tab js-Tab u-Adjust_Mt-16">
      <ul class="c-Tab_Items" role="tablist">
        <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">Webで変更する</li>
        <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">アプリで変更する</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
        <ol class="c-Flow u-Adjust_Mt-16">
          <li>
            <h3 class="c-Heading_Lv3">1. 契約プランをタップして、番号を選択する</h3>
            <p class="u-Adjust_Mt-16">「契約プラン」を開き、通常タイプへ変更される電話番号（回線）を選んでください。</p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap">※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/" class="c-Link_Txt">[my
                楽天モバイル]ログインできません</a>」をご確認ください。</p>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/data-type-change/flow-img12.png" alt="" class="c-Img_Capture" width="300" height="313">
            </div>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <a href="https://portal.mobile.rakuten.co.jp/dashboard#plans" class="c-Btn_Secondly-large"><span>契約プランへ進む<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
            </p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2.「各種手続きへ進む」をタップする</h3>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/data-type-change/flow-img01-231025.png" alt="" class="c-Img_Capture" width="300" height="270">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3.「プラン変更」をタップする</h3>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/data-type-change/flow-img02-231025.png" alt="" class="c-Img_Capture" width="300" height="270">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">4.「プランを選択する」をタップする</h3>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/data-type-change/flow-img05-231025.png" alt="" class="c-Img_Capture" width="300" height="370">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">5. 加入するオプションサービスを選択し、「次へ進む」をタップする</h3>
            <p p class="u-Adjust_Mt-16">
              プラン変更前に契約していたオプションサービスはプラン変更後もそのまま引継がれます。<br>
              変更をご希望の場合は、オプションサービスの追加／解約を行ってください。<br>
              ここで追加／解約したオプションサービスは、プラン変更が完了した際（手順10）に反映されます。
            </p>
            <p class="u-Adjust_Mt-16">また、以下の製品に紐づくオプションサービスはプラン変更時に追加／解約のお手続きはできません。</p>

            <ul class="c-List_Text-disc u-Adjust_Mt-16">
              <li>楽天モバイル買い替え超トクプログラム</li>
              <li>スマホ交換保証プラス</li>
              <li>故障紛失保証 with AppleCare Services</li>
              <li>故障紛失保証 with AppleCare Services & iCloud+</li>
              <li>あんしん保証with AppleCare Services for Apple Watch</li>
            </ul>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/data-type-change/flow-img06-231025.png" alt="" class="c-Img_Capture" width="300" height="450">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">6. 本人確認方法を選択する</h3>
            <p class="c-Txt_Cap u-Adjust_Mt-16">※ご提出いただいた本人確認書類に不備があった場合は、お申し込みがキャンセルとなります。詳細は「<a href="<%= sitepath %>faq/detail/10000864" class="c-Link_Txt-inline">Rakuten最強プランのデータタイプから通常タイプへの変更手続きがキャンセルされました。どうすればよいですか？</a>」をご確認ください。
            </p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">
              ※以下に当てはまる場合は、2回線目以降の回線を契約する際に本人確認書類の提出を省略することができます。
            </p>
            <ul class="c-Txt_Cap">
              <li>・現在Rakuten最強プランもしくはApple Watch ファミリー共有を契約している</li>
              <li>・直近の契約時から住所・氏名・生年月日が変更になっていない</li>
              <li>・同じ楽天IDでログインしている</li>
              <li>・18歳以上</li>
            </ul>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/data-type-change/flow-img13.png" alt="" class="c-Img_Capture" width="300" height="466">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">7. 申し込み内容を確認し、「次へ進む」をタップする</h3>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/data-type-change/flow-img15.png" alt="" class="c-Img_Capture" width="300" height="277">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">8. 重要事項説明などを確認し、「同意して申し込む」をタップする</h3>
            <p class="c-Txt_Cap u-Adjust_Mt-16">※「書類画像をアップロードで確認」で申し込みを完了した場合は、本人確認書類に問題がなければ、転送不要郵便がお申し込み住所へ送られます。</p>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/data-type-change/flow-img09-231025.png" alt="" class="c-Img_Capture" width="300" height="330">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">9. 【 「書類確認をアップロードで確認」を選択した場合】後日郵送される書類に貼られているQRコードを読み取る</h3>
            <p class="u-Adjust_Mt-16">
              お申し込み完了後に転送不要郵便が発送されます。<br>
              転送不要郵便に同梱されているQRコードを読み取り、my 楽天モバイルへログインしてください。
            </p>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">
              ※書類がお届けできなかった場合は、お申し込みがキャンセルとなります。詳細は「<a href="<%= sitepath %>faq/detail/10000864" class="c-Link_Txt-inline">Rakuten最強プランのデータタイプから通常タイプへの変更手続きがキャンセルされました。どうすればよいですか？</a>」をご確認ください。
            </p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap">
              ※「AIかんたん本人確認（eKYC）」を選択した場合、または本人確認が省略できた場合は、転送不要郵便は発送されません。
            </p>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/data-type-change/flow-img10-231025.png" alt="" class="c-Img_Capture" width="300" height="380">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">10. 通常タイプへ変更されたことを確認する</h3>
            <p class="u-Adjust_Mt-16">
              my 楽天モバイルのホーム画面から、通常タイプへ変更した電話番号をタップしてください。<br>
              「データタイプ」の表示がなくなっていれば通常タイプへの変更は完了です。お手続きの完了後5分程度で音声通話がご利用いただけます。
            </p>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">
              ※「書類画像をアップロードで確認」を選択し、QRコードの読み取りを行わない場合、転送不要郵便のお受け取り後1 ～ 2日で自動的にお手続きが完了することがあります。
            </p>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/data-type-change/flow-img11-231025.png" alt="" class="c-Img_Capture" width="300" height="260">
            </div>
          </li>
        </ol>
      </div>
      <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
        <ol class="u-Adjust_Mt-16 c-Flow">
          <li>
            <h3 class="c-Heading_Lv3">
              1. my 楽天モバイルを起動する
            </h3>
            <div class="u-Adjust_Mt-24">
              <div class="c-Box_App">
                <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt="my 楽天モバイル" width="96" height="96"></div>
                <div class="c-Box_App-txt">
                  <p class="c-Box_App-ttl">my 楽天モバイル</p>
                  <p class="u-Adjust_Mt-8">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                  <ul class="c-Box_App-link u-Adjust_Mt-16">
                    <li><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" height="44" alt=""></a></li>
                    <li><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></li>
                    <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">
              2. 契約プランをタップして、番号を選択する
            </h3>
            <p class="u-Adjust_Mt-16">
              「契約プラン」を開き、通常タイプへ変更される電話番号（回線）を選んでください。
            </p>
            <div>
              <div class="l-Media_Image">
                <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
                    src="<%= sitepath %>assets/img/guide/users-information/img-01.png?210930" width="300" height="98" alt=""
                    class="c-Img_Capture">
                </figure>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3.「各種手続きへ進む」をタップする</h3>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/data-type-change/flow-img01-231025.png" alt="" class="c-Img_Capture" width="300" height="270">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">4.「プラン変更」をタップする</h3>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/data-type-change/flow-img02-231025.png" alt="" class="c-Img_Capture" width="300" height="270">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">5.「プランを選択する」をタップする</h3>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/data-type-change/flow-img05-231025.png" alt="" class="c-Img_Capture" width="300" height="370">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">6. 加入するオプションサービスを選択し、「この内容に変更する」をタップする</h3>
            <p p class="u-Adjust_Mt-16">
              プラン変更前に契約していたオプションサービスはプラン変更後もそのまま引継がれます。<br>
              変更をご希望の場合は、オプションサービスの追加／解約を行ってください。<br>
              ここで追加／解約したオプションサービスは、プラン変更が完了した際（手順11）に反映されます。
            </p>
            <p class="u-Adjust_Mt-16">また、以下の製品に紐づくオプションサービスはプラン変更時に追加／解約のお手続きはできません。</p>

            <ul class="c-List_Text-disc u-Adjust_Mt-16">
              <li>楽天モバイル買い替え超トクプログラム</li>
              <li>スマホ交換保証プラス</li>
              <li>故障紛失保証 with AppleCare Services</li>
              <li>故障紛失保証 with AppleCare Services & iCloud+</li>
              <li>あんしん保証with AppleCare Services for Apple Watch</li>
            </ul>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/data-type-change/flow-img14.png" alt="" class="c-Img_Capture" width="300" height="628">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">7. 本人確認方法を選択する</h3>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">
              ※ご提出いただいた本人確認書類に不備があった場合は、お申し込みがキャンセルとなります。詳細は「<a href="<%= sitepath %>faq/detail/10000864" class="c-Link_Txt-inline">Rakuten最強プランのデータタイプから通常タイプへの変更手続きがキャンセルされました。どうすればよいですか？</a>」をご確認ください。
            </p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">
              ※以下に当てはまる場合は、2回線目以降の回線を契約する際に本人確認書類の提出を省略することができます。
            </p>
            <ul class="c-Txt_Cap">
              <li>・現在Rakuten最強プランもしくはApple Watch ファミリー共有を契約している</li>
              <li>・直近の契約時から住所・氏名・生年月日が変更になっていない</li>
              <li>・同じ楽天IDでログインしている</li>
              <li>・18歳以上</li>
            </ul>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/data-type-change/flow-img13.png" alt="" class="c-Img_Capture" width="300" height="466">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">8. 申し込み内容を確認し、「次へ進む」をタップする</h3>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/data-type-change/flow-img15.png" alt="" class="c-Img_Capture" width="300" height="277">
            </div>
          </li>

          <li>
            <h3 class="c-Heading_Lv3">9. 重要事項説明などを確認し、「同意して申し込む」をタップする</h3>
            <p class="c-Txt_Cap u-Adjust_Mt-16">※「書類画像をアップロードで確認」で申し込みを完了した場合は、本人確認書類に問題がなければ、転送不要郵便がお申し込み住所へ送られます。</p>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/data-type-change/flow-img09-231025.png" alt="" class="c-Img_Capture" width="300" height="330">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">10. 【 「書類確認をアップロードで確認」を選択した場合】後日郵送される書類に貼られているQRコードを読み取る</h3>
            <p class="u-Adjust_Mt-16">
              お申し込み完了後に転送不要郵便が発送されます。<br>
              転送不要郵便に同梱されているQRコードを読み取り、my 楽天モバイルへログインしてください。
            </p>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">
              ※書類がお届けできなかった場合は、お申し込みがキャンセルとなります。詳細は「<a href="<%= sitepath %>faq/detail/10000864" class="c-Link_Txt-inline">Rakuten最強プランのデータタイプから通常タイプへの変更手続きがキャンセルされました。どうすればよいですか？</a>」をご確認ください。
            </p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※「AIかんたん本人確認（eKYC）」を選択した場合、または本人確認が省略できた場合は、転送不要郵便は発送されません。</p>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/data-type-change/flow-img10-231025.png" alt="" class="c-Img_Capture" width="300" height="380">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">11. 通常タイプへ変更されたことを確認する</h3>
            <p class="u-Adjust_Mt-16">
              my 楽天モバイルのホーム画面から、通常タイプへ変更した電話番号をタップしてください。<br>
              「データタイプ」の表示がなくなっていれば通常タイプへの変更は完了です。お手続きの完了後5分程度で音声通話がご利用いただけます。
            </p>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">
              ※「書類画像をアップロードで確認」を選択し、QRコードの読み取りを行わない場合、転送不要郵便のお受け取り後1 ～ 2日で自動的にお手続きが完了することがあります。
            </p>
            <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/data-type-change/flow-img11-231025.png" alt="" class="c-Img_Capture" width="300" height="260">
            </div>
          </li>
        </ol>
      </div>
    </div>
    <p class="u-Adjust_Mt-16">以上で通常タイプへの変更は完了です。</p>

    <h2 id="notes" class="c-Heading_Lv2 u-Adjust_Mt-56">注意事項</h2>
    <h3 class="c-Heading_Lv3 u-Adjust_Mt-16">通常タイプへ変更した月の料金計算について</h3>
    <p class="u-Adjust_Mt-16">
      当月に使用したデータ利用量を合算して計算し、通常タイプのご利用料金として請求いたします。詳細は「
      <a href="<%= sitepath %>faq/detail/10000865" class="c-Link_Txt-inline">Rakuten最強プランのデータタイプから通常タイプに変更した場合、プラン料金やオプションサービスの料金はどうなりますか？</a>
      」をご確認ください。
    </p>
    <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">通常タイプへ変更した月の高速データ容量について</h3>
    <p class="u-Adjust_Mt-16">データチャージ分を含め、通常タイプへ変更する前の高速データ容量の残量が引き継がれます</p>
    <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">その他注意事項</h3>
    <ul class="c-List_Text-disc u-Adjust_Mt-8">
      <li>
        通常タイプへの変更のお申し込み完了後からお手続き完了するまで一部のお手続きができません。詳細は「
        <a href="<%= sitepath %>faq/detail/10000866" class="c-Link_Txt-inline">Rakuten最強プランのデータタイプから通常タイプに変更手続き中、一部の手続きができないのはなぜですか？</a>
        」をご確認ください。
      </li>
      <li>
        他回線の申し込み中など、通常タイプへの変更のお手続きを開始できない場合があります。詳細は「
        <a href="<%= sitepath %>faq/detail/10000867" class="c-Link_Txt-inline">Rakuten最強プランのデータタイプから通常タイプに変更できません。なぜですか？</a>
        」をご確認ください。
      </li>
      <li>Rakuten最強プランからRakuten最強プラン（データタイプ）への変更はできません。</li>
    </ul>

  </div>
</div>


<div class="l-System_Container">
  <div>
    <a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップに戻る</span></a>
  </div>
  <div>
    <a href="<%= sitepath %>" class="c-Btn_Regular u-Adjust_Mt-16"><span>楽天モバイルトップへ</span></a>
  </div>
</div>

<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">



    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>
</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>



</body>
</html>
