<% const pagetitle = "Rakuten Turbo 5G サポート情報" -%>
<% const directories = [{path:"internet/turbo/support/", label:"お客様サポート"}, {path:"internet/turbo/support/product/", label:"製品"}] -%>
<% const namespace = "support-smallcategory" -%>
<%
  const pageInfo = {
    namespace,
    isUserCategory: false
  };
%>
<%-
 include('/_header', {
    pagetitle,
    directories,
    description: '楽天モバイルのホームルーターRakuten Turbo専用機器、Rakuten Turbo 5Gのサポート情報。ソフトウェアアップデート、製品の設置から接続までの情報などをご確認いただけます',
    noindex: false,
    pathname: filepath,
    isTurbo: true
  });
%>

<%- include('/include/_common-css-v2') %>
<%- include('/include/internet/turbo/support/_smallcategory-css') %>
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/internet/turbo/_prepend-body-internet') %>
  <div class="l-System">
    <%- include('/include/internet/turbo/_header', {
      pagetitle,
      directories,
      tax: false,
    }) %>

    <div class="l-System_Container">
      <section class="u-Adjust_Mt-32">
        <h1 class="c-Heading_Lv1 <%= namespace %>-Utility_Heading_Lv1"><%= pagetitle %></h1>
        <p class="u-Adjust_Mt-24">お客様に安心してご利用いただくために、<br class="<%= namespace %>-Utility_Disp-tab">Rakuten Turbo 5Gの製品・サポート情報をご案内いたします。</p>
      </section>

      <section class="u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">設定・サポート</h2>
        <ul class="u-Adjust_Mt-24 <%= namespace %>-List_Basic">
          <li>
            <a href="<%= sitepath %>internet/turbo/support/setting/usage/" class="c-Link_Txt-inline">初期設定方法を見る<span class="c-Icon_Chevron-right"></span></a>
          </li>
          <li>
            <a href="<%= sitepath %>assets/pdf/internet/turbo/Rakuten-Turbo-5G-manual.pdf?231102" class="c-Link_Txt-inline">取扱説明書を見る<span class="c-Icon_Chevron-right"></span></a>
          </li>
          <li>
            <a href="<%= sitepath %>assets/pdf/internet/turbo/rakuten_turbo_5G_quick_start_guide.pdf" class="c-Link_Txt-inline">クイックスタートガイド<br class="<%= namespace %>-Utility_Disp-tab">（安全上のご注意）を見る<span class="c-Icon_Chevron-right"></span></a>
          </li>
        </ul>
        <p class="u-Adjust_Mt-24">製品を安全に正しくご使用いただくための注意事項をご確認ください。</p>
      </section>

      <section class="u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">ファームウェアアップデート</h2>
        <p class="u-Adjust_Mt-16">最新情報をご案内いたします。<br>
          最終更新日：2024年1月29日
        </p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= sitepath %>internet/turbo/support/product/rakuten-turbo5g/update/" class="c-Btn_Regular"><span>ファームウェアアップデート情報を見る</span></a>
        </div>
      </section>

      <section class="u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">製品保証</h2>
        <p class="u-Adjust_Mt-16">製品の交換が必要な場合は、製品保証と保証交換のお手続きをご確認いただき、お問い合わせください。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= sitepath %>internet/turbo/support/product/rakuten-turbo5g/repair/" class="c-Btn_Regular"><span>製品保証を見る</span></a>
        </div>
        <div class="u-Adjust_Mt-16">
          <a href="<%= sitepath %>internet/turbo/support/product/rakuten-turbo5g/exchange/" class="c-Link_Txt-inline">保証交換のお手続き<span class="c-Icon_Chevron-right"></span></a>
        </div>
      </section>

      <section class="u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">製品交換時の初期設定方法</h2>
        <p class="u-Adjust_Mt-16">お手元に交換機が届きましたら、以下の手順に沿って初期設定を行ってください。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= sitepath %>internet/turbo/support/product/rakuten-turbo5g/setup/" class="c-Btn_Regular"><span>設定方法を確認する</span></a>
        </div>
      </section>

      <section class="u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">お問い合わせ</h2>
        <p class="u-Adjust_Mt-16">製品に関するお問い合わせ、および故障紛失など、コミュニケーションセンターのアドバイザーがしっかりとサポートいたします。<br>
          ※リンク先ページ下部の「お問い合わせ窓口に相談する」よりお問い合わせください。</p>
        <div class="u-Adjust_Mt-16">
          <a href="https://portal.mobile.rakuten.co.jp/support#main" target="_blank" rel="noopener noreferrer" class="c-Btn_Regular"><span>お問い合わせ窓口を確認する<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
        </div>
      </section>
    </div>

    <section class="u-Adjust_Pt-80">
      <div class="<%= namespace %>-Layout_Category">
        <div class="l-System_Container">
          <%- include('/include/internet/turbo/support/_smallcategory-category', { pageInfo }) %>
        </div>
      </div>
    </section>

    <div class="u-Adjust_Mt-24">
      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
      <%- include('/include/internet/turbo/_footer', { directories, pagetitle }) %>
    </div>
  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
  <%- include('/include/internet/turbo/_rex-survey') %>

</body>

</html>
