<% const pagetitle = "データ利用量の確認" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/area/data/", label:"データ使用量"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'データ利用量の確認方法をご案内します。my 楽天モバイル（アプリ・Web）からかんたんに確認することが可能です。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/payment/change/change.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">

  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
    <p class="u-Adjust_Mt-24">「Rakuten最強プラン」のプラン料金は、毎月のデータ利用量によって変動します。</p>
    <p class="u-Adjust_Mt-24">楽天モバイルで提供しているデータ高速無制限エリア、海外ローミングエリアのデータ利用量やデータ利用内訳の確認方法についてご案内いたします。</p>
    <ul class="u-Adjust_Mt-24">
      <li class="u-Adjust_Mt-8"><a href="#count" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>データ利用量としてカウントする通信サービス</a></li>
      <li class="u-Adjust_Mt-8"><a href="#confirm1" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>データ利用量の確認方法　</a></li>
      <li class="u-Adjust_Mt-8"><a href="#confirm2" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>データ利用内訳の確認方法</a></li>
    </ul>
  </div>
  <div class="l-System_Container">
    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="count">データ利用量としてカウントする通信サービス</h2>
    <p class="u-Adjust_Mt-32">「Rakuten最強プラン」では、高速・低速通信に限らずデータ利用量としてカウントされます。</p>
    <div class="c-Theme-Light u-Adjust_Mt-32">
      <h4 class="c-Heading_Lv4">データ利用量に含まれる</h4>
    </div>
    <ul class="c-List_Text-disc u-Adjust_Mt-8 u-Adjust_Ml-16">
      <li>データ高速無制限エリア内の通信</li>
      <li>海外ローミングエリア内の通信</li>
      <li>「Rakuten Link」における通話・メッセージ以外の利用（楽メールの送受信や「ウォレット」、「ニュース」など）</li>
      <li>アプリやOSのアップデート</li>
      <li>位置情報サービスなどの常にデータ通信を行う設定にしている場合の通信</li>
    </ul>
    <div class="c-Theme-Light u-Adjust_Mt-32">
      <h4 class="c-Heading_Lv4">データ利用量に含まれない</h4>
    </div>
    <ul class="c-List_Text-disc u-Adjust_Mt-8 u-Adjust_Ml-16">
      <li>「Rakuten Link」を利用したメッセージの送受信、電話の受発信<span style="font-size:9px;line-height:11px;position:relative;top:-10px;">※1</span></li>
      <li>データチャージ（有料）したデータ容量の利用</li>
      <li>「my 楽天モバイル（アプリ・Web）」の利用</li>
    </ul>

    <p class="u-Adjust_Mt-32 c-Txt_Cap">※1 iCloudの有料サービス「iCloud+」に加入し、iOS 15以降のバージョンをご利用されているお客様で、iCloud＋のプライバシー保護機能（プライベートリレー）がONに設定されている場合、データ利用量に含まれます。
      プライベートリレーの設定をOFFにしてご利用ください。</p>
    <p class="u-Adjust_Mt-8">
      <a href="https://network.mobile.rakuten.co.jp/information/news/service/803/" class="c-Link_Txt-inline">プライベートリレーの設定解除方法<span class="c-Icon_Chevron-right"></span></a>
    </p>
  </div>

  <div class="l-System_Container">
    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">データ利用量の上限設定と通知設定</h2>
    <p class="u-Adjust_Mt-16">特定のデータ利用量に対して、利用上限の設定や超過前の通知設定はできません。</p>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="confirm1">データ利用量の確認方法</h2>
    <p class="u-Adjust_Mt-16">当月分の「データ利用量」はmy 楽天モバイルでご確認いただけます。</p>
    <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>すべてのエリアで利用したデータ利用量の合算になります。</p>


    <div class="c-Tab js-Tab">
      <ul class="c-Tab_Items-bg u-Adjust_Mt-16" role="tablist">
        <li class="c-Tab_Item u-Adjust_Align-center" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">Webで確認する</li>
        <li class="c-Tab_Item u-Adjust_Align-center" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">アプリで確認する</li>
      </ul>

      <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
        <ol class="c-Flow u-Adjust_Mt-40">
          <li>
            <h3 class="c-Heading_Lv3">1. my 楽天モバイル「ホーム」画面を開く</h3>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">※「ホーム画面へ進む」をタップしてログインすると、手順２の画面が表示されます。</p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap">※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/" class="c-Link_Txt">[my
                楽天モバイル]ログインできません</a>」をご確認ください。</p>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <a href="https://portal.mobile.rakuten.co.jp/dashboard#home" target="_blank" class="c-Btn_Secondly-large"
                data-ratId="guide_ecare_home" data-ratEvent="click" data-ratParam="all">ホーム画面へ進む</a>
            </p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2. ご利用中の契約電話番号を確認する</h3>
            <div class="c-Accordion u-Adjust_Mt-24">
              <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false"
                aria-controls="accordion-content-2"><span
                  class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイルを2回線以上ご契約中の場合</button>
              <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region"
                aria-labelledby="accordion-2" aria-hidden="true">
                <p class="u-Adjust_Mt-8">楽天モバイルを2回線以上契約されている場合は、以下の手順で表示する電話番号を切り替えることができます。</p>
                <h5 class="c-Heading_Lv5 u-Adjust_Mt-24">1. 画面で表示されている電話番号をタップする</h5>
                <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
                    src="<%= sitepath %>assets/img/guide/common/tel-01-230601.png" alt="" class="c-Img_Capture"></p>
                <h5 class="c-Heading_Lv5 u-Adjust_Mt-16">2. 回線を表示したい電話番号をタップする</h5>
                <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>チェックがついている電話番号が、現在表示されている回線です。</p>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img
                    src="<%= sitepath %>assets/img/guide/common/tel-02-230601.png"
                    alt="" class="c-Img_Capture"></p>
                <h5 class="c-Heading_Lv5 u-Adjust_Mt-16">3. 表示されている電話番号が切り替わっていることを確認する</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img
                    src="<%= sitepath %>assets/img/guide/common/tel-03-230601.png" alt="" class="c-Img_Capture"></p>
              </div>
            </div>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/common/tel-01-230601.png" alt="" class="c-Img_Capture">
            </p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3. 円グラフ内のデータ利用量を確認する</h3>
            <p class="u-Adjust_Mt-16">「◯月のデータ利用量」の数値が当月のデータ利用量の概算です。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-16">
              <span>※</span>最終的なデータ利用量や確定金額は利用明細よりご確認ください。利用明細の確認方法は<a href="<%= sitepath %>guide/payment/usage-details/">こちら</a>よりご確認いただけます。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-16">
              <span>※</span>同じ画面で海外ローミングエリアの高速データ容量の残容量が確認できます。データ高速モードがOFFの場合、高速データ容量は消費されませんが、データ利用量にはカウントされます。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-16">
              <span>※</span>当月のデータ利用量が20GBを超えた場合、チャート中央に表示される「○月のデータ利用量」の数字のみ更新され、円グラフの表示は変化しません。</p>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
                src="<%= sitepath %>assets/img/guide/common/img555-230601.png" alt="" class="c-Img_Capture"></p>
          </li>
        </ol>
        <p class="u-Adjust_Mt-32">以上でデータ利用量の確認は完了です。</p>
      </div>


      <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
                <ol class="c-Flow u-Adjust_Mt-40">
          <li>
            <h3 class="c-Heading_Lv3">1. my 楽天モバイルを起動する</h3>
            <div class="c-Box_App u-Adjust_Mt-24">
              <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt=""></div>
              <div class="c-Box_App-txt">
                <p class="c-Box_App-ttl">my 楽天モバイル</p>
                <p class="u-Adjust_Mt-16">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                <ul class="c-Box_App-link u-Adjust_Mt-16">
                  <li class="<%= nameSpace %>-App_Btn-store">
                    <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
                    <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
                  </li>
                  <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2. 画面下メニュー「ホーム」からご利用中のご契約電話番号を確認する</h3>
            <div class="c-Accordion u-Adjust_Mt-24">
              <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイルを2回線以上ご契約中の場合</button>
              <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
                <p class="u-Adjust_Mt-8">楽天モバイルを2回線以上契約されている場合は、以下の手順で表示する電話番号を切り替えることができます。</p>
                <h5 class="c-Heading_Lv5 u-Adjust_Mt-24">1. 画面で表示されている電話番号をタップする</h5>
                <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-03-230601.png" alt="" class="c-Img_Capture"></p>
                <h5 class="c-Heading_Lv5 u-Adjust_Mt-16">2. 回線を表示したい電話番号をタップする</h5>
                <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>チェックがついている電話番号が、現在表示されている回線です。</p>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-02-230601.png" alt="" class="c-Img_Capture"></p>
                <h5 class="c-Heading_Lv5 u-Adjust_Mt-16">3. 表示されている電話番号が切り替わっていることを確認する</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/tel-03-230601.png" alt="" class="c-Img_Capture"></p>
              </div>
            </div>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/data-traffic/img05-230320.png" alt="" class="c-Img_Capture"></p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3. 円グラフ内のデータ利用量を確認する</h3>
            <p class="u-Adjust_Mt-16">「◯月のデータ利用量」の数値が当月のデータ利用量の概算です。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>最終的なデータ利用量や確定金額は利用明細よりご確認ください。利用明細の確認方法は<a class="c-Link_Txt" href="<%= sitepath %>guide/payment/usage-details/">こちら</a>よりご確認いただけます。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-16">
              <span>※</span>同じ画面で海外ローミングエリアの高速データ容量の残容量が確認できます。データ高速モードがOFFの場合、高速データ容量は消費されませんが、データ利用量にはカウントされます。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-16">
              <span>※</span>当月のデータ利用量が20GBを超えた場合、チャート中央に表示される「○月のデータ利用量」の数字のみ更新され、円グラフの表示は変化しません。</p>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/img555-230601.png" alt="" class="c-Img_Capture"></p>
          </li>
        </ol>
        <p class="u-Adjust_Mt-32">以上でデータ利用量の確認は完了です。</p>
      </div>
    </div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">データ利用量の反映タイミングについて</h2>
    <ul class="c-List_Text-disc u-Adjust_Mt-8">
      <li>データ利用量の反映には時間差があります。</li>
      <li>月をまたいだデータ通信は翌月分のデータ利用量として反映されます。<br>
        また、当月末日のデータ通信の一部は翌月分のデータ利用量としてカウントされる場合があります。
      </li>
    </ul>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">表示されるデータ利用量と請求金額について</h2>
    <ul class="c-List_Text-disc u-Adjust_Mt-8">
      <li>円グラフに表示されたデータ利用量で、その月のプラン料金が決まります。</li>
      <li>データチャージ分は、円グラフのデータ利用量に含まれません。</li>
      <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>データチャージ分を含めた高速データ容量は、棒グラフをご確認ください。</p>
      <li>表示されるデータ利用量は概算となり、実際の請求金額に反映されるデータ利用量と異なる場合があります。請求金額は利用料金画面でご確認ください。</li>
      <li>最終的な請求金額は<a href="<%= sitepath %>guide/payment/usage-details/">my 楽天モバイルの利用料金画面</a>でご確認ください。</li>
    </ul>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="confirm2">データ利用内訳の確認方法</h2>
    <p class="u-Adjust_Mt-16">直近のデータ利用量、通話時間、SMS送信数はmy 楽天モバイルでご確認いただけます。</p>

    <div class="c-Tab js-Tab">
      <ul class="c-Tab_Items-bg u-Adjust_Mt-16" role="tablist">
        <li class="c-Tab_Item u-Adjust_Align-center" id="tab-menu3" role="tab" aria-selected="true" aria-controls="tab-content3">Webで確認する</li>
        <li class="c-Tab_Item u-Adjust_Align-center" id="tab-menu4" role="tab" aria-selected="false" aria-controls="tab-content4">アプリで確認する</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content3" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu3">
          <ol class="c-Flow u-Adjust_Mt-40">
          <li>
            <h3 class="c-Heading_Lv3">1. my 楽天モバイル「利用状況」画面を開く</h3>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">※「利用状況へ進む」をタップしてログインすると、手順２の画面が表示されます。</p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap">※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/" class="c-Link_Txt">[my
                楽天モバイル]ログインできません</a>」をご確認ください。</p>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <a href="https://portal.mobile.rakuten.co.jp/dashboard#usage" target="_blank" class="c-Btn_Secondly-large"
                data-ratId="guide_ecare_usage" data-ratEvent="click" data-ratParam="all">利用状況へ進む</a>
            </p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2. ご契約電話番号の下の[データ]、[通話]、または[SMS]をタップし、確認したい期間を選択する</h3>
            <div class="c-Accordion u-Adjust_Mt-24">
              <button type="button" id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false"
                aria-controls="accordion-content-3"><span
                  class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイルを2回線以上ご契約中の場合</button>
              <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region"
                aria-labelledby="accordion-3" aria-hidden="true">
                <p class="u-Adjust_Mt-8">楽天モバイルを2回線以上契約されている場合は、以下の手順で表示する電話番号を切り替えることができます。</p>
                <h5 class="c-Heading_Lv5 u-Adjust_Mt-24">1. 画面で表示されている電話番号をタップする</h5>
                <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
                    src="<%= sitepath %>assets/img/guide/common/tel-01-230601.png" alt="" class="c-Img_Capture"></p>
                <h5 class="c-Heading_Lv5 u-Adjust_Mt-16">2. 回線を表示したい電話番号をタップする</h5>
                <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>チェックがついている電話番号が、現在表示されている回線です。</p>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img
                    src="<%= sitepath %>assets/img/guide/common/tel-02-230601.png"
                    alt="" class="c-Img_Capture"></p>
                <h5 class="c-Heading_Lv5 u-Adjust_Mt-16">3. 表示されている電話番号が切り替わっていることを確認する</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img
                    src="<%= sitepath %>assets/img/guide/common/tel-03-230601.png" alt="" class="c-Img_Capture"></p>
              </div>
            </div>
            <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>各項目最大で過去60日間分のご利用の内訳をご確認いただけます。</p>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/img333-230601.png" class="c-Img_Capture" alt=""></p>
          </li>
        </ol>
        <p class="u-Adjust_Mt-32">以上でデータ利用内訳の確認は完了です。</p>
      </div>

      <div class="c-Tab_Panel" id="tab-content4" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu4">
            <ol class="c-Flow u-Adjust_Mt-40">
          <li>
            <h3 class="c-Heading_Lv3">1. my 楽天モバイルを起動する</h3>
            <div class="c-Box_App u-Adjust_Mt-24">
              <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt=""></div>
              <div class="c-Box_App-txt">
                <p class="c-Box_App-ttl">my 楽天モバイル</p>
                <p class="u-Adjust_Mt-16">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                <ul class="c-Box_App-link u-Adjust_Mt-16">
                  <li class="<%= nameSpace %>-App_Btn-store">
                    <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
                    <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
                  </li>
                  <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2. 画面下メニューの「利用状況」をタップする</h3>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/data-traffic/img05.png" alt="" class="c-Img_Capture"></p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3. ご契約電話番号の下の[データ]、[通話]、または[SMS]をタップし、確認したい期間を選択する</h3>

            <div class="c-Accordion u-Adjust_Mt-24">
              <button type="button" id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false"
                aria-controls="accordion-content-4"><span
                  class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイルを2回線以上ご契約中の場合</button>
              <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region"
                aria-labelledby="accordion-4" aria-hidden="true">
                <p class="u-Adjust_Mt-8">楽天モバイルを2回線以上契約されている場合は、以下の手順で表示する電話番号を切り替えることができます。</p>
                <h5 class="c-Heading_Lv5 u-Adjust_Mt-24">1. 画面で表示されている電話番号をタップする</h5>
                <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img
                    src="<%= sitepath %>assets/img/guide/common/tel-01-230601.png" alt="" class="c-Img_Capture"></p>
                <h5 class="c-Heading_Lv5 u-Adjust_Mt-16">2. 回線を表示したい電話番号をタップする</h5>
                <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>チェックがついている電話番号が、現在表示されている回線です。</p>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img
                    src="<%= sitepath %>assets/img/guide/common/tel-02-230601.png"
                    alt="" class="c-Img_Capture"></p>
                <h5 class="c-Heading_Lv5 u-Adjust_Mt-16">3. 表示されている電話番号が切り替わっていることを確認する</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img
                    src="<%= sitepath %>assets/img/guide/common/tel-03-230601.png" alt="" class="c-Img_Capture"></p>
              </div>
            </div>
            <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>各項目最大で過去60日間分のご利用の内訳をご確認いただけます。</p>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/common/img333-230601.png" alt="" class="c-Img_Capture"></p>
          </li>
        </ol>
        <p class="u-Adjust_Mt-32">以上でデータ利用内訳の確認は完了です。</p>
      </div>
    </div>

    <%- include('/include/guide/_faq') %>

  </div>
</div>




<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">



    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>



</body>
</html>
