<% const pagetitle = "楽天市場 季節のくらしフェア連動「Rakuten最強プラン」を初めてお申し込みで8,000ポイントプレゼント" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "ichiba_awlife" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '楽天市場 季節のくらしフェア連動「Rakuten最強プラン」を初めてお申し込みで8,000ポイントプレゼント',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%>
<% const information = {
  campaignState:'finish'
}; %>
<% const hiddenItem = "false" -%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/<%= namespace %>/<%= namespace %>.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/_entry-button/rex-overwrite_v2.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<script defer="defer" src="https://r.r10s.jp/com/js/c/common/entry_button/1.1/entry_button-1.1.0.min.js"></script>
<link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header',{applyHide:true}) %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout_Label">
      <ul class="c-Label_List <%= namespace %>-Layout_Label-list">
        <li class="c-Label_Normal">プランのみ申込可</li>
        <li class="c-Label_Normal">Rakuten Link利用必要</li>
        <li><span class="<%= namespace %>-Layout_Label-point">ポイント：付与日を含めて6カ月の期間限定ポイント</span></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Hero_Return">
      <div class="l-System_Container <%= namespace %>-Hero_Container">
        <div class="<%= namespace %>-Hero_Main">
          <h1><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-heading-pc_231201.png?231201" alt="変わりゆく季節と共に携帯キャリアや家計も見直し 秋冬デビュー応援キャンペーン 楽天モバイル初めてのお申し込み＆本ページ経由の方限定 電話番号そのまま他社からお乗り換えで8,000ポイントプレゼント！ 他社からじゃなくても4,000ポイント！" class="<%= namespace %>-Utility_Img-pc"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-heading-sp_231201.png?231201" alt="変わりゆく季節と共に携帯キャリアや家計も見直し 秋冬デビュー応援キャンペーン 楽天モバイル初めてのお申し込み＆本ページ経由の方限定 電話番号そのまま他社からお乗り換えで8,000ポイントプレゼント！ 他社からじゃなくても4,000ポイント！" class="<%= namespace %>-Utility_Img-sp"></h1>
        </div>
      </div>
    </div>
    <div class="<%= namespace %>-Layout_Body">
      <div class="l-System_Container">
      <% if (information.campaignState == 'finish') { %>
        <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-24 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは2023年12月21日をもちまして終了いたしました。<br>
          このページに掲載されている情報は、キャンペーン終了時点のものです。</p>
      <% } else { %>
        <!-- else -->
      <% } %>
        <ul class="<%= namespace %>-Table_Rule-Cap">
          <li><span>※</span><a href="#campaign-rule" class="js-scroll">本キャンペーンルール</a>に記載の併用可能キャンペーン以外は併用できません。</li>
          <li class="u-Adjust_Mt-0"><span>※</span>特典はおひとり様1回のみ。</li>
          <li class="u-Adjust_Mt-0"><span>※</span>8,000ポイントの<a href="#campaign-conditions" class="js-scroll">内訳を見る</a></li>
          <li class="u-Adjust_Mt-0"><span>※</span>キャンペーンによってポイントの付与時期・有効期間が異なり、分割して付与されるポイントもございます。必ず<a href="#campaign-rule" class="js-scroll">キャンペーン詳細</a>をご確認ください。</li>
          <li class="u-Adjust_Mt-0 c-Txt_Emp-02"><span>※</span>「Rakuten最強プラン（データタイプ）」は対象外です。</li>
        </ul>

        <div class="c-Accordion u-Adjust_Mt-16">
          <button id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4" data-ratid="campaign_<%= namespace %>_first-caution" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>本ページの「お申し込みはこちら」ボタンよりお手続きください</button>
          <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
            <ul>
              <li class="c-Txt_Cap"><span>・</span>本ページ以外からお手続きされた場合は特典適用対象外となります。</li>
              <li class="c-Txt_Cap"><span>・</span>「お申し込み内容」画面でクーポンコード14桁の英数字が表示されていることをご確認のうえ、お申し込みを完了してください。表示されていない場合は特典適用対象外となるため、再度本ページの「お申し込みはこちら」ボタンよりお申し込みをやり直してください。</li>
            </ul>
          </div>
        </div>
      </div>
      <div id="first_entry_button" class="<%= namespace %>-Layout_Entry-Area u-Adjust_Mt-24">
        <p class="c-Txt_Emp-02 <%= namespace %>-Utility_Mt-unique u-Adjust_Align-center">お申し込み期間：<br class="<%= namespace %>-Layout_Break-Sp">2023年9月22日（金）10:00～2023年12月21日（木）9:59</p>
        <p class="u-Adjust_Mt-16 c-Txt_Emp-01 <%= namespace %>-Utility_Mt-unique u-Adjust_Align-center">クーポンコード：ICHSEA00000002</p>
      <% if (information.campaignState == 'finish') { %>
        <div class="u-Adjust_Mt-8 u-Adjust_Align-center"><div class="c-Btn_Primary-large fin">お申し込みはこちら</div></div>
      <% } else { %>
        <!-- else -->
        <div class="u-Adjust_Mt-8 u-Adjust_Align-center"><a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=ICHSEA00000002&l-id=campaign_<%= namespace %>_coupon_link01" class="c-Btn_Primary-large"><span id="js-trigger">お申し込みはこちら</span></a></div>
      <% } %>
      </div>

      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Mt-56 u-Adjust_Align-center">ポイントの内訳</h2>
        <div class="c-Tab js-Tab <%= namespace %>-Layout_Display-sp u-Adjust_Mt-16">
          <ul class="c-Tab_Items" role="tablist">
            <li class="c-Tab_Item" id="tab-menu3" role="tab" aria-selected="true" aria-controls="tab-content3">初めて＆他社から<br>お乗り換え</li>
            <li class="c-Tab_Item" id="tab-menu4" role="tab" aria-selected="false" aria-controls="tab-content4">楽天モバイル初めて<br>お申し込み</li>
          </ul>
          <ul class="<%= namespace %>-Pointdetails u-Adjust_Mt-16">
            <li>
              <div class="ttl_Img">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-02-sp_231201.png?231201" alt="本ページから楽天モバイル初めてのお申し込みで">
              </div>
              <div class="point_Box">
                <div class="point_Img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-03-sp_231201.png?231201" alt="もれなく2,000ポイント">
                </div>
              </div>
            </li>
            <li class="pointdetails-Icon">
              <div>
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-01_231201.png?231201" alt="＋">
              </div>
            </li>
            <li class="c-Tab_Panel" id="tab-content3" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu3">
              <div class="ttl_Img">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-04-sp_231201.png?231201" alt="楽天モバイル初めて＆他社からのお乗り換えで">
              </div>
              <div class="point_Box">
                <div class="point_Img">
                  <picture>
                    <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-05-sp_231201.png?231201" alt="もれなく6,000ポイント">
                  </picture>
                </div>
              </div>
              <div class="pointdetails-Icon">
                <div>
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-12-sp_231201.png?231201" alt="">
                </div>
              </div>
              <div class="pointdetails-All">
                <div class="ttl_Img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-09-sp_231201.png?231201" alt="合計">
                </div>
                <div class="point_Box">
                  <div class="point_Img">
                    <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-10-sp_231201.png?231201" alt="8,000ポイント">
                  </div>
                </div>
              </div>
            </li>
            <li class="c-Tab_Panel" id="tab-content4" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu4">
              <div class="ttl_Img">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-06-sp_231201.png?231201" alt="楽天モバイル初めて＆他社からじゃなくても">
              </div>
              <div class="point_Box">
                <div class="point_Img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-07-sp_231201.png?231201" alt="もれなく2,000ポイント">
                </div>
              </div>
              <div class="pointdetails-Icon">
                <div>
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-12-sp_231201.png?231201" alt="">
                </div>
              </div>
              <div class="pointdetails-All">
                <div class="ttl_Img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-09-sp_231201.png?231201" alt="合計">
                </div>
                <div class="point_Box">
                  <div class="point_Img">
                    <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-11-sp_231201.png?231201" alt="4,000ポイント">
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <ul class="<%= namespace %>-Pointdetails <%= namespace %>-Layout_Display-pc u-Adjust_Mt-24">
          <li>
            <div class="ttl_Img">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-02_231201.png?231201" alt="本ページから楽天モバイル初めてのお申し込みで">
            </div>
            <div class="point_Box">
              <div class="point_Img">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-03_231201.png?231201" alt="もれなく2,000ポイント">
              </div>
            </div>
          </li>
          <li class="pointdetails-Icon">
            <div>
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-01_231201.png?231201" alt="＋">
            </div>
          </li>
          <li>
            <div class="ttl_Img">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-04_231201.png?231201" alt="楽天モバイル初めて＆他社からのお乗り換えで">
            </div>
            <div class="point_Box">
              <div class="point_Img">
                <picture>
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-05_231201.png?231201" alt="もれなく6,000ポイント">
                </picture>
              </div>
            </div>

            <p class="pointdetails-Or u-Adjust_Align-center <%= namespace %>-Layout_Display-pc"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-08_231201.png?231201" alt="もしくは"></p>

            <div class="ttl_Img">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-06_231201.png?231201" alt="楽天モバイル初めて＆他社からじゃなくても">
            </div>
            <div class="point_Box">
              <div class="point_Img">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-07_231201.png?231201" alt="もれなく2,000ポイント">
              </div>
            </div>
          </li>
          <li class="pointdetails-Icon">
            <div>
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-12_231201.png?231201" alt="">
            </div>
          </li>
          <li class="pointdetails-All">
            <div class="ttl_Img">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-09_231201.png?231201" alt="合計">
            </div>
            <div class="point_Box pointdetails-All_Point-9000">
              <div class="point_Img">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-10_231201.png?231201" alt="8,000ポイント">
              </div>
            </div>
            <div class="ttl_Img">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-09_231201.png?231201" alt="合計">
            </div>
            <div class="point_Box">
              <div class="point_Img">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-pointdetails-11_231201.png?231201" alt="4,000ポイント">
              </div>
            </div>
          </li>
        </ul>
        <div class="c-Txt_Cap u-Adjust_Mt-16 <%= namespace %>-Txt_Left-sp">
          <p><span>※</span>予告なく特典内容の変更、キャンペーンの中止を行う可能性がございます。</p>
          <p><span>※</span>ほかのキャンペーンが優先的に適用されている場合、上記キャンペーンが併用出来ない場合があります。</p>
          <p class="c-Txt_Emp-02"><span>※</span>「Rakuten最強プラン（データタイプ）」は対象外</p>
          <p class="u-Adjust_Mt-0"><span>※</span>キャンペーンによってポイントの付与時期・有効期間が異なり、分割して付与されるポイントもございます。必ず<a href="#campaign-rule" class="rmobile-rule js-scroll">キャンペーン詳細</a>をご確認ください。</p>
        </div>

        <div id="campaign-conditions" class="nav-Pad_Conditions">
          <div class="<%= namespace %>-Conditions">
            <h2 class="c-Heading_Lv2 u-Adjust_Align-center">8,000ポイント<span class="<%= namespace %>-Txt_Nl">キャンペーン参加方法</span></h2>
            <ul class="<%= namespace %>-Conditions_Flow u-Adjust_Mt-8">
              <li>
                <h4 class="u-Adjust_Align-center c-Heading_Lv4">本ページから<br>
                  楽天モバイルのお申し込み</h4>
                <div class="<%= namespace %>-Conditions_Img <%= namespace %>-Layout_Break-pc">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-conditions-01.png?230922" alt="">
                </div>
                <p class="u-Adjust_Align-left c-Txt_Cap u-Adjust_Mt-8 <%= namespace %>-Conditions_Txt">※詳しくは<a href="#campaign-flow" class="js-scroll">キャンペーンの流れ</a>をご確認ください<br>
                  ※8,000ポイントの内訳は下記となります<br>
                  <a href="#campaign-rule" class="js-scroll">キャンペーンコード:2026（2,000ポイント）</a><br>
                  <a href="#campaign-rule02" class="js-scroll">キャンペーンコード:2091（6,000ポイント）</a></p>
              </li>
              <li>
                <div class="<%= namespace %>-Conditions_Icon"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-conditions-04.png?230922" alt="＋"></div>
                <h4 class="u-Adjust_Align-center c-Heading_Lv4">プランのご利用<sup class="c-Txt_Emp-02 c-Txt_Cap">※</sup></h4>
                <div class="<%= namespace %>-Conditions_Img <%= namespace %>-Layout_Break-pc">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-conditions-02.png?230922" alt="">
                </div>
                <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Align-center <%= namespace %>-Layout_Break-pc u-Adjust_Mt-8">※期限：プランのお申し込み翌月末日23:59まで</p>
              </li>
              <li>
                <div class="<%= namespace %>-Conditions_Icon"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-conditions-04.png?230922" alt="＋"></div>
                <h4 class="u-Adjust_Align-center c-Heading_Lv4">Rakuten Linkアプリで<br>10秒以上通話<sup class="c-Txt_Emp-02 c-Txt_Cap">※</sup></h4>
                <div class="<%= namespace %>-Conditions_Img <%= namespace %>-Layout_Break-pc">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-conditions-03.png?230922" alt="">
                </div>
                <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Align-center <%= namespace %>-Layout_Break-pc u-Adjust_Mt-8">※期限：プランのお申し込み翌月末日23:59まで</p>
              </li>
            </ul>
            <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Align-center <%= namespace %>-Layout_Break-sp u-Adjust_Mt-8">※期限：プランのお申し込み翌月末日23:59まで</p>
          </div>
        </div>

        <h2 id="campaign-caution" class="c-Heading_Lv2 nav-Pad_Default u-Adjust_Align-center">お申し込みの注意点</h2>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-32 <%= namespace %>-Caution_Text"><span class="c-Txt_Emp-02">ポイントを獲得するには、「お申し込みはこちら」ボタンからのお手続きが必要となります。</span><br>
          「お申し込み内容」画面であらかじめクーポンコードが表示されていることをご確認のうえ、<span class="txt_nl">お申し込みを完了してください。</span>
        </p>
        <ul class="<%= namespace %>-Caution_Img u-Adjust_Mt-32">
          <li class="u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-01.png?230922" alt="お申し込みはこちらボタン イメージ">
          </li>
          <li class="<%= namespace %>-Caution_Img-arrow u-Adjust_Align-center">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-arrow-01-sp.png?230922">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-arrow-01.png?230922" alt="">
            </picture>
          </li>
          <li class="u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-02.png?230922" alt="クーポンコードICHSEA00000002が適用されました">
          </li>
          <li class="<%= namespace %>-Caution_Img-arrow u-Adjust_Align-center">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-arrow-01-sp.png?230922">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-arrow-01.png?230922" alt="">
            </picture>
          </li>
          <li class="u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-03.png?230922" alt="ICHSEA00000002 クーポンが適用されています">
          </li>
        </ul>
        <p class="c-Txt_Cap u-Adjust_Mt-24 <%= namespace %>-Caution_Text <%= namespace %>-Caution_Text-cap">※本ページの「お申し込みはこちら」ボタン以外からお手続きされた場合には特典適用対象外となります。</p>
        <div class="c-Accordion u-Adjust_Mt-32">
          <button id="accordion-11" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-11"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>お申し込み画面で以下の状況が発生した場合、再度「お申し込みはこちら」ボタンからお申し込みをやり直してください。</button>
          <div id="accordion-content-11" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-11" aria-hidden="true" style="display: none;">
            <ul class="<%= namespace %>-Caution_Img u-Adjust_Mt-32">
              <li class="u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-04.png?230922" alt="">
                <p class="c-Txt_Emp-01 u-Adjust_Mt-16">お申し込み内容にクーポンコードが<br>
                  表示されていない場合</p>
              </li>
              <li class="u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-05.png?230922" alt="">
                <p class="c-Txt_Emp-01 u-Adjust_Mt-16">システムメンテナンスの<br>
                  お知らせが表示された場合</p>
                <p class="c-Txt_Cap">※メンテナンス終了後に<br>
                  お申し込みください</p>
              </li>
              <li class="u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-06.png?230922" alt="">
                <p class="c-Txt_Emp-01 u-Adjust_Mt-16">タイムアウトが表示された場合</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="c-Accordion">
          <button id="accordion-12" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-12"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイル（ドコモ回線・au回線）をご利用中の方もキャンペーンにご参加いただけますが、こちらもご確認ください。</button>
          <div id="accordion-content-12" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-12" aria-hidden="true" style="display: none;">
            <ul class="<%= namespace %>-Caution_List">
              <li><span class="list-Num">（1）</span>メンバーズステーション経由のプラン変更（移行）は本キャンペーンの適用対象となりません。<a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_<%= namespace %>_ms&mno_migration=1" target="_blank" class="c-Link_Txt-inline">メンバーズステーション<span class="c-Icon_New-window-l"></span></a>にてMNP予約番号を発行のうえ、本ページからお申し込みください。</li>
              <li class="u-Adjust_Mt-8"><span class="list-Num">（2）</span>下記に当てはまる方はメンバーズステーション経由のプラン変更（移行）をご検討ください。</li>
              <li class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">オプションサービスを引き継ぎたい場合</span><br>
                本ページからお申し込みした場合、オプションサービスはすべて解約となります。</li>
            </ul>
            <p class="u-Adjust_Mt-16">上記（1）（2）は通話SIMご利用の方の注意点となります。データSIMご利用中の方は、メンバーズステーション経由のプラン移行（変更）はできないため、本キャンペーンより新規でお申し込みください。</p>
          </div>
        </div>

        <h2 id="campaign-flow" class="c-Heading_Lv2 u-Adjust_Align-center nav-Pad_Default">キャンペーンの流れ</h2>
        <div class="<%= namespace %>-Layout_Step u-Adjust_Mt-24">
          <div class="c-Accordion u-Adjust_Mt-16">
            <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1" data-ratid="campaign_<%= namespace %>_flow-step1" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP1　</span>楽天モバイルのお申し込み</button>
            <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1"
              aria-hidden="true">
              <div class="u-Adjust_Mt-16">
                <div>
                  <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-24">
                    <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-01.png?230922" alt="">
                    </div>
                    <div>
                      <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">本ページから楽天モバイルに申し込む</h4>
                      <p class="u-Adjust_Mt-8">2023年9月22日（金）10:00～2023年12月21日（木）9:59</p>
                      <ul class="<%= namespace %>-Table_Rule-Cap">
                        <li class="u-Adjust_Mt-8 c-Txt_Emp-02"><span>※</span>未成年の方のお申し込み方法は別途<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_<%= namespace %>_flow_for-minors" class="js-scroll" data-ratid="campaign_<%= namespace %>_PlanStart" data-ratevent="click" data-ratparam="all">こちらのご案内ページ</a>をご確認ください。</li>
                      </ul>
                    </div>
                  </div>
                  <ul class="<%= namespace %>-Flow_List u-Adjust_Mt-16">
                    <li>
                      <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-8">
                        <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                          <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-02.png?230922" alt="">
                        </div>
                        <div>
                          <p class="c-Txt_Emp-01">お申し込みに必要なもの</p>
                          <div class="u-Adjust_Mt-8">
                            <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc">
                              <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/verify/?l-id=campaign_<%= namespace %>_guide_verify" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                              <li class="u-Adjust_Mt-8">楽天ID、パスワード</li>
                              <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/?l-id=campaign_<%= namespace %>_guide_payment" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                                <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                                  <span>※</span>ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001238/?l-id=campaign_<%= namespace %>_faq_00001238">こちらのご案内ページ</a>を必ず事前にご確認ください。</p>
                                <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                                  <span>※</span>MNPワンストップ未対応の携帯電話会社から乗り換えの方は、MNP予約番号の取得が必要です。MNPワンストップ対象の携帯電話会社は<a href="<%= sitepath %>guide/mnp/#carrier">こちら</a>からご確認ください。</p>
                                <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                                  <span>※</span>ショップでのお手続きは、ワンストップ対象の他社からの転入であっても、MNP予約番号を取得のうえ、ご来店ください。</p></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <div class="<%= namespace %>-Flow_List-step-unlimit u-Adjust_Mt-24 <%= namespace %>-Layout_Step-ptn2">
                    <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-left">
                      <div class="<%= namespace %>-Flow_List-detail">
                        <div class="step-pran-change"><span class="c-Icon_New-user-f c-Txt_Emp-02"></span><h4 class="c-Heading_Lv4 u-Adjust_Mt-8 u-Adjust_Mb-16"> 新規電話番号／他社から乗り換え（MNP）</h4></div>
                      <% if (information.campaignState == 'finish') { %>
                        <p class="u-Adjust_Align-center"><div class="c-Btn_Primary-large fin">お申し込みはこちら</div></p>
                      <% } else { %>
                      <!-- else -->
                        <p class="u-Adjust_Align-center"><a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=ICHSEA00000002&l-id=campaign_<%= namespace %>_coupon_link02" class="c-Btn_Primary-large <%= namespace %>-Flow_List-button-secondly u-Adjust_Mt-24">お申し込みはこちら</a></p>
                      <% } %>
                        <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>fee/saikyo-plan/?l-id=campaign_<%= namespace %>_fee_saikyo-plan01" class="c-Link_Txt-inline">Rakuten最強プランの詳細<span class="c-Icon_Chevron-right"></span></a></p>
                        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/flow/application/?l-id=campaign_<%= namespace %>_guide_flow_application" class="c-Link_Txt-inline">Rakuten最強プラン<br class="<%= namespace %>-Layout_Break-sp">お申し込み方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                      </div>
                    </div>

                    <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-right">
                      <div class="<%= namespace %>-Flow_List-detail">
                        <div class="step-pran-change"><span class="c-Icon_Paper-plane-l c-Txt_Emp-02"></span>
                        <h4 id="members" class="c-Heading_Lv4 u-Adjust_Mt-8 u-Adjust_Mb-16">ドコモ回線・au回線の楽天モバイルから移行</h4></div>
                        <div class="u-Adjust_Mt-16">
                          <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">メンバーズステーションにてMNP予約番号を発行のうえ、本ページからお申し込みください。</p>
                          <p class="u-Adjust_Align-center"><a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_<%= namespace %>_ms1&mno_migration=1" class="c-Btn_Secondly-large <%= namespace %>-Flow_List-button-secondly u-Adjust_Mt-24"><span>メンバーズステーションにてMNP予約番号を発行する</span></a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ul class="<%= namespace %>-Flow_List u-Adjust_Mt-16">
                    <li class="<%= namespace %>-Flow_List-Single_Arrow">
                      <div class="list_ttl">
                        <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">「Rakuten最強プラン」お申し込み画面に移動し、お手続きください。</h4>
                        <p class="u-Adjust_Mt-8 c-Txt_Normal-s">※「お申し込みはこちら」ボタン以外からお手続きされた場合は、特典適用対象外となります。</p>
                      </div>
                      <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-48 top">
                        <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                          <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-coupon-01.png?230922" alt="">
                        </div>
                        <div>
                          <p class="u-Adjust_Mt-8">「お申し込みはこちら」ボタンからお申し込み画面に進み、製品選択など手順に従って進めてください。</p>
                        </div>
                      </div>
                      <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-48">
                        <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                          <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-coupon-02.png?230922" alt="">
                        </div>
                        <div>
                          <p class="text_cap u-Adjust_Mt-8">「お申し込み内容」でクーポンコードが表示されていることを必ずご確認のうえ、お申し込みを完了してください。</p>
                          <p class="u-Adjust_Mt-8 c-Txt_Normal-s">※該当の項目が表示されていない場合、特典適用対象外となるため、再度本ページの「お申し込みはこちら」ボタンよりお申し込みをやり直してください。</p>
                        </div>
                      </div>

                        <!-- else -->
                      <p class="c-Txt_Emp-02 <%= namespace %>-Utility_Mt-unique u-Adjust_Align-center">お申し込み期間：<br class="<%= namespace %>-Layout_Break-Sp">2023年9月22日（金）10:00～2023年12月21日（木）9:59</p>
                      <p class="c-Txt_Emp-01 u-Adjust_Align-center">クーポンコード：ICHSEA00000002</p>
                      <p class="u-Adjust_Mt-16 c-Txt_Normal-ss c-Txt_Emp-02"><a href="#campaign-caution" class="js-scroll">お申し込みの注意点</a>を必ずご確認のうえ、以下のお申し込みボタンよりお手続きください。</p>
                    <% if (information.campaignState == 'finish') { %>
                      <div class="u-Adjust_Mt-8 u-Adjust_Align-center"><div class="c-Btn_Primary-large fin">お申し込みはこちら</div></div>
                    <% } else { %>
                      <!-- else -->
                      <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=ICHSEA00000002&l-id=campaign_<%= namespace %>_coupon_link03" class="c-Btn_Primary-large"><span>お申し込みはこちら</span></a></div>
                    <% } %>
                      <p class="u-Adjust_Mt-16 c-Txt_Normal-ss">本ページの「お申し込みはこちら」ボタン以外からお手続きされた場合、特典適用対象外となります。</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion u-Adjust_Mt-16">
            <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2" data-ratid="campaign_<%= namespace %>_flow-step2" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP2　</span>「Rakuten最強プラン」 利用開始</button>
            <div id="accordion-content-2" class="<%= namespace %>-Layout_Step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region"
              aria-labelledby="accordion-2" aria-hidden="true">
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-03.png?230922" alt="">
                </div>
                <div>
                  <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">楽天モバイルの開通手続きを行い「Rakuten最強プラン」 を利用開始する</h4>
                  <p class="u-Adjust_Mt-8">プランのお申し込み翌月末日23:59まで</p>
                  <ul class="<%= namespace %>-Table_Rule-Cap">
                    <li class="u-Adjust_Mt-8 c-Txt_Emp-02"><span>※</span>店舗（楽天モバイルショップ）でのお申し込みの場合、対象外となります。あらかじめご了承ください。</li>
                    <li><span>※</span><a href="#campaign-rule-plan" class="js-scroll" data-ratid="campaign_<%= namespace %>_PlanStart" data-ratevent="click" data-ratparam="all">プラン利用開始日の定義はこちら</a>。</li>
                  </ul>
                  <div class="u-Adjust_Mt-24">
                    <p><a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/" class="c-Btn_Regular <%= namespace %>-Flow_List-button"><span>スタートガイド（利用開始手順書）はこちら</span></a></p>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="c-Accordion u-Adjust_Mt-16">
            <button type="button" id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3" data-ratid="campaign_<%= namespace %>_flow-step3" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP3　</span>Rakuten Linkアプリから発信で10秒以上通話</button>
            <div id="accordion-content-3" class="<%= namespace %>-Layout_Step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
              <ul class="<%= namespace %>-Flow_List">
                <li>
                  <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                    <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-04.png?230922" alt="">
                    </div>
                    <div>
                      <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">Rakuten Linkアプリで発信し10秒以上通話する</h4>
                      <p class="u-Adjust_Mt-8">プランのお申し込み翌月末日23:59まで</p>
                      <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                        <li><span>※</span>電話の発信時、（0570）などから始まる他社接続サービス、一部特番（188）への通話については、特典対象外。</li>
                      </ul>
                      <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>service/rakuten-link/?l-id=campaign_<%= namespace %>_service_rakuten-link" class="c-Link_Txt-inline" target="_blank">Rakuten Link アプリの詳細を見る<span class="c-Icon_New-window-l"></span></a></p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="u-Adjust_Align-center u-Adjust_Mt-16 <%= namespace %>-Step_Last-arrow">
          <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-step-arrow-01.png?230922" alt="">
        </div>

        <div class="<%= namespace %>-Step_Last">
          <div class="u-Adjust_Align-center">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-step-01-sp_231101.png?231101">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-step-01_231101.png?231101" alt="楽天ポイント8,000ポイントプレゼント！">
            </picture>
          </div>
          <p class="c-Txt_Cap u-Adjust_Mt-16">※8,000ポイントの内訳は下記となります。</p>
          <p class="c-Txt_Cap"><a href="#campaign-rule" class="js-scroll">キャンペーンコード:2026（2,000ポイント）</a></p>
          <p class="c-Txt_Cap"><a href="#campaign-rule02" class="js-scroll">キャンペーンコード:2091（6,000ポイント）</a></p>
          <p class="c-Txt_Cap">※付与日から6カ月間有効の期間限定ポイントとなります。</p>
          <p class="c-Txt_Cap">※キャンペーンによってポイントの付与時期・有効期間が異なり、分割して付与されるポイントもございます。必ず<a href="#campaign-rule" class="js-scroll">キャンペーン詳細</a>をご確認ください。</p>
          <p class="c-Txt_Cap">※Rakuten WiFi Pocket 2Cを回線とともに購入した場合対象外</p>
          <p class="c-Txt_Cap c-Txt_Emp-02">※特典はおひとり様1回のみ。</p>
        </div>
      </div>

      <div class="u-Adjust_Mt-40 <%= namespace %>-Info_Area">
        <div class="l-System_Container">
          <div class="u-Adjust_Align-center">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-head-sp.png?230922">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-head.png?230922" alt="楽天サービスを活用して家計の見直しを！">
            </picture>
          </div>
          <ul class="<%= namespace %>-Info_Contents">
            <li>
              <div class="<%= namespace %>-Info_Ttl u-Adjust_Align-center">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-ttl-01-sp.png?230922">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-ttl-01.png?230922" alt="毎月のスマホ料金を見直してみよう…">
                </picture>
              </div>
              <div class="<%= namespace %>-Info_Contents-img u-Adjust_Align-center">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-01-sp.png?230922">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-01.png?230922" alt="楽天モバイルならお支払いは使った分だけ！ 3GBまで980円/月（税込1,078円）～ ※通話料等別">
                </picture>
              </div>
              <p class="u-Adjust_Mt-8 u-Adjust_Align-center"><a href="<%= sitepath %>fee/saikyo-plan/?l-id=campaign_<%= namespace %>_fee_saikyo-plan02" class="c-Link_Txt-inline">詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
            </li>
            <li>
              <div class="<%= namespace %>-Info_Ttl u-Adjust_Align-center">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-ttl-02-sp.png?230922">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-ttl-02.png?230922" alt="秋冬に必要なアイテムをおトクに揃えたい…">
                </picture>
              </div>
              <div class="<%= namespace %>-Info_Contents-img u-Adjust_Align-center">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-02-sp.png?230922">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-02.png?230922" alt="楽天市場で季節のくらしフェア実施中！ おトクなクーポンも！">
                </picture>
              </div>
              <p class="u-Adjust_Mt-8 u-Adjust_Align-center"><a href="https://event.rakuten.co.jp/season/awlife/?scid=wi_ich_awlife2023_rakutenmobile" class="c-Link_Txt-inline" target="_blank">詳細を見る<span class="c-Icon_New-window-l"></span></a></p>
            </li>
          </ul>
        </div>
      </div>
    <% if (information.campaignState == 'finish') { %>
    <% } else { %>
      <!-- else -->
      <div class="u-Adjust_Mt-32">
        <%- include('/inc/_saikyo') %>
      </div>
    <% } %>
      <div class="l-System_Container">
        <h2 id="faq" class="c-Heading_Lv2 nav-Pad_Default u-Adjust_Align-center u-Adjust_Mb-16">よくあるご質問</h2>
        <div class="u-Adjust_Mt-16">
          <div class="c-Accordion">
            <button id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーンのポイント獲得の対象になっているか確認したいです。</button>
            <div id="accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-5" aria-hidden="true" style="display: none;">
              <p>お申し込み後に、キャンペーン適用できているかどうかは、お客様自身でご確認いただくことができません。「お申し込み内容」であらかじめクーポンコード14桁の英数字が表示されていることをご確認のうえ、お申し込みを完了してください。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-6"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーン期間内に楽天モバイルに申し込みができているか、確認方法はありますか？</button>
            <div id="accordion-content-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-6" aria-hidden="true" style="display: none;">
              <p>以下2種類の方法があります。<br>
                1.お申し込み完了メールを確認する<br>
                2.「<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile" target="_blank" class="c-Link_Txt-inline">my 楽天モバイル<span class="c-Icon_New-window-l"></span></a>」の申し込み履歴から確認する<br>
                詳しい手順は<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001827/" target="_blank" class="c-Link_Txt-inline">こちら<span class="c-Icon_New-window-l"></span></a>からもご確認いただけます。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-7" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-7"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>メンバーズステーションで、MNP予約番号を発行する方法を教えてください。</button>
            <div id="accordion-content-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-7" aria-hidden="true" style="display: none;">
              <p>MNP（携帯電話ナンバーポータビリティ）をご利用いただくことで、現在お使いの電話番号がそのままお使いいただけます。<br>
                <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_<%= namespace %>_ms2&mno_migration=1" target="_blank" class="c-Link_Txt-inline">メンバーズステーショントップページ<span class="c-Icon_New-window-l"></span></a>の「MNP予約番号発行・確認について」をタップし、MNP予約番号を発行してください。MNP予約番号発行手数料は発生しません。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-8" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-8"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>申し込み後に、本人確認書類の不備などで再提出になった場合でもキャンペーンは適用されますか？</button>
            <div id="accordion-content-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-8" aria-hidden="true" style="display: none;">
              <p>お申し込み後に、書類の再提出などいただきお申し込みが完了できた場合は、キャンペーンが適用されます。ただし、お申し込み画面内で入力された情報と本人確認書類の内容が一致しないなどの理由で楽天モバイルが定める審査に基づき、お申し込みをキャンセルさせていただく場合、キャンペーンは適用できません。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-9" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-9"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ポイントの付与はいつになりますか？</button>
            <div id="accordion-content-9" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-9" aria-hidden="true">
                <p>「Rakuten最強プラン」のお申し込み後、期限までにすべての条件を達成した場合、利用期限月の3カ月後末日ごろに付与いたします。</p>
                <p>付与されたポイントは楽天PointClubの「<a href="https://point.rakuten.co.jp/history/" target="_blank" class="c-Link_Txt-inline">ポイント実績<span class="c-Icon_New-window-l"></span></a>」から確認することができます。</p>
            </div>
          </div>
        </div>

        <div id="campaign-rule" class="nav-Pad_Rule">
          <div class="<%= namespace %>-Layout_Rule u-Adjust_Mt-0">
          <% if (information.campaignState == 'finish') { %>
            <h2 class="c-Heading_Lv2">楽天市場 季節のくらしフェア連動　本ページから「Rakuten最強プラン」を初めてお申し込みで2,000ポイントプレゼントキャンペーン</h2>
            <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-24 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは2023年12月21日をもちまして終了いたしました。<br>
              このページに掲載されている情報は、キャンペーン終了時点のものです。</p>
              <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2026', level: '', year: '2023', class: '', comments: '' }}) %>
          <% } else { %>
            <!-- else -->
            <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2026', level: 'h2', year: '2023', class: '', comments: '' }}) %>
          <% } %>
          </div>

          <div id="campaign-rule02" class="nav-Pad_Rule">
            <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2091_ichiba_awlife', level: 'h2', year: '2023', class: '' }}) %>
          </div>

          <div id="campaign-rule03" class="u-Adjust_Mt-40">
            <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2142_ichiba_awlife', level: 'h2', year: '2023', class: '' }}) %>
          </div>
        </div>

      <% if (hiddenItem == 'true') { %>
        <div class="c-Accordion u-Adjust_Mt-48" id="past-campaigns">
          <button id="accordion-10" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-10"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>過去のキャンペーン</button>
          <div id="accordion-content-10" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-10" aria-hidden="true">
            <div class="c-Txt_Emp-01">楽天市場 季節のくらしフェア連動　本ページから「Rakuten最強プラン」を初めてお申し込みで2,000ポイントプレゼントキャンペーン</div>
            <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2026', level: 'h2', year: '2023', class: '', comments: '' }}) %>
          </div>
        </div>
      <% } %>
      </div>
    </div>

    <!-- ReX UX Survey: Mounting point for embedded components -->
    <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>

  <% if (information.campaignState == 'finish') { %>
  <% } else { %>
    <!-- else -->
    <div id="js-fixed-btn" class="<%= namespace %>-Layout_Bottom-fixed fixed-top" aria-expanded="false" role="region">
      <div class="<%= namespace %>-Layout_Bottom-fixed-inner">
        <div class="<%= namespace %>-Layout_Bottom-fixed-link-box-pc">
          <ul class="fixed-Link">
            <li><a href="#campaign-caution" class="js-scroll">お申し込みの注意点</a></li>
            <li><a href="#campaign-flow" class="js-scroll">キャンペーンの流れ</a></li>
            <li><a href="#faq" class="js-scroll">よくあるご質問</a></li>
          </ul>
        </div>
        <div class="<%= namespace %>-Layout_Bottom-fixed-link-box-sp">
          <div class="<%= namespace %>-Layout_Bottom-fixed-link-sp">
            <ul class="fixed-Link">
              <li><a href="#campaign-caution" class="js-scroll">注意点</a></li>
              <li><a href="#campaign-flow" class="js-scroll">キャンペーンの流れ</a></li>
              <li><a href="#faq" class="js-scroll">FAQ</a></li>
            </ul>
          </div>
        </div>
        <div class="<%= namespace %>-Layout_Bottom-fixed-btn-box">
          <a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=ICHSEA00000002&l-id=campaign_<%= namespace %>_f_coupon_link" class="c-Btn_Primary-large <%= namespace %>-Layout_Bottom-fixed-btn">お申し込みはこちら</a>
          <div class="nav-Btn">
            <div class="nav-Btn_Arrow">
              <span class="c-Icon_Chevron-left"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% } %>

    <footer class="g-Footer u-Adjust_Mt-64 <%= namespace %>-Layout_Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
  <script>
    (function($){
        const trigger = document.getElementById('js-trigger');
        const fixedBtn = document.getElementById('js-fixed-btn');
        function fixedBottomBtn() {
            let scrollY = window.pageYOffset;
            const triggerRect = trigger.getBoundingClientRect();
            const triggerY = scrollY + triggerRect.top;

        if ( scrollY > triggerY ) {
          fixedBtn.setAttribute('aria-expanded', 'true');
        } else {
          fixedBtn.setAttribute('aria-expanded', 'false');
        }
      }
      if( fixedBtn && trigger ) {
        window.addEventListener('scroll', fixedBottomBtn);
      }
    })();
  </script>
  <script>
    (function($){
        $(function(){
          $('.accordion1_opan').on('click', function(){
            $('#accordion-1').attr('aria-expanded', 'true');
            $('#accordion-content-1').attr('aria-hidden', 'false');
            $('#accordion-content-1').slideDown(200);
          });
          $('.js-ac-members').on('click',function() {
            var n = window.location.href.slice(window.location.href.indexOf('?') + 4);
            var p = $("#members").offset().top;
            $('html,body').animate({ scrollTop: p }, 'slow');
            return false;
          });
          $('.nav-Btn').on('click',function() {
            $('.nav-Btn_Arrow').toggleClass('nav-On');
            $('.<%= namespace %>-Layout_Bottom-fixed-link-sp').slideToggle();
          });
        });
    })(jQuery);
  </script>

  <!-- ReX UX Survey: Config -->
  <script>
  window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
  </script>
  <!-- ReX UX Survey: Script -->
  <script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>
</body>
</html>
