<% const pagetitle = "【ショップ限定】電話番号そのまま、他社から乗り換え＆初めてお申し込み＋Xperia 5 IVを買い替え超トクプログラムにてご購入で最大29,748ポイント還元！" -%>
<% const breadcrumbsTitle = "【ショップ限定】他社から乗換＆初めてお申込＋Xperia 5 IVを買い替え超トクプログラムでご購入で最大29,748ポイント還元！" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "shop-limited-android" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: 'Sony Xperia 5 IVを楽天モバイルショップで、電話番号そのまま、他社から乗り換え＆初めてお申し込みし、楽天モバイル買い替え超トクプログラムにてご購入すると最大29,748ポイント還元！',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%><%- include('/include/_common-css-v2') %>
<%- include('/inc/_about-rakuten-mobile-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/shop-limited-android/shop-limited-android.css?20240424">
<!-- include部分一時追加 -->
<link rel="stylesheet" href="<%= sitepath %>assets/css/inc/i-unlimit.css?20240424">
<!-- include部分一時追加 -->
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <%- include('/include/_breadcrumbs', {
      type: 'head',
      pagetitle: breadcrumbsTitle,
      directories,
    }) %>

    <div class="<%= namespace %>-Layout_Label">
      <ul class="c-Label_List <%= namespace %>-Layout_Label_List">
        <li class="c-Label_Normal">ショップ申込限定</li>
        <li class="c-Label_Normal">初めて申込限定</li>
        <li class="c-Label_Normal">他社から乗換限定</li>
        <li class="c-Label_Normal">対象製品限定</li>
        <li class="c-Label_Normal">Rakuten Link利用必要</li>
      </ul>
    </div>

    <div class="<%= namespace %>-Hero_Return">
      <div class="<%= namespace %>-Hero_Container">
        <div class="<%= namespace %>-Hero_Main">
          <h1>
            <picture>
              <source media="(max-width: 1023px)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/hero-sp-231101.png" width="750" height="480">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/hero-pc-231101.png" alt="【ショップ限定】他社から乗り換え、初めてお申し込み＋Xperia 5 IVを買い替え超トクプログラムにてご購入で最大29,748ポイント還元！" width="2000" height="300">
            </picture>
          </h1>
        </div>
      </div>
    </div>

    <div class="l-System_Container">
      <div>
        <ul class="c-Txt_Cap u-Adjust_Mt-16 u-Align_Ccl">
          <li><span class="c-Txt_Emp-02">※「Rakuten最強プラン（データタイプ）」は対象外です。</span>※Rakuten Linkアプリのご利用が必要です。その他条件あり</li>
          <li>※キャンペーンによってポイントの付与時期・有効期間が異なり、分割して付与されるポイントもございます。必ず<a href="#campaign-rule" class="c-Link_Txt js-scroll">キャンペーンルール</a>をご確認ください。</li>
        </ul>

        <div class="u-Adjust_Align-center u-Adjust_My-32">
          <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-16">
            本キャンペーンは2023年11月23日(木)をもちまして終了いたしました。<br>このページに掲載されている情報は、キャンペーン終了時点のものです。</p>
          <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>campaign/?l-id=end_campaign" class="c-Link_Txt-inline">開催中のキャンペーンを見る<span
                class="c-Icon_Chevron-right"></span></a></p>
        </div>
      </div>

      <ul class="<%= namespace %>-Anchor_List u-Adjust_Mt-24 u-Adjust_Mt-pc-16">
        <li class="<%= namespace %>-Anchor_Item"><a href="#product" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span><p>キャンペーン対象製品</p></a></li>
        <li class="<%= namespace %>-Anchor_Item"><a href="#conditions" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span><p>キャンペーンの達成条件</p></a></li>
        <li class="<%= namespace %>-Anchor_Item"><a href="#flow" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span><p>ポイント獲得の流れ</p></a></li>
        <li class="<%= namespace %>-Anchor_Item"><a href="#campaign-rule" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span><p>キャンペーンルール</p></a></li>
      </ul>
    </div>

    <section id="product" class="u-Adjust_Pt-56">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーン対象製品</h2>
        <div class="<%= namespace %>-Layout_Target u-Adjust_Mt-24">
          <div class="<%= namespace %>-Layout_Target-item2">
            <div class="<%= namespace %>-Layout_Target-item2-wrap">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/product-img01.png" alt="" width="372">
            </div>
          </div>
          <div class="<%= namespace %>-Layout_Target-item1">
            <div>
              <p>
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/product-img02.png" alt="" width="258">
              </p>
              <p class="u-Adjust_Mt-8">Sony</p>
            </div>
            <div class="<%= namespace %>-Layout_Target-item1-content u-Adjust_Mt-24 u-Adjust_Mt-pc-16">
              <p class="c-Heading_Lv3">手の中に感動を。</p>
              <ul class="<%= namespace %>-Layout_List u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
                <li class="<%= namespace %>-Layout_Item"><span class="c-Txt_Emp-02">瞳に、ズバピタ。</span>動画でも写真でも、息を呑むポートレートを。</li>
                <li class="<%= namespace %>-Layout_Item"><span class="c-Txt_Emp-02">心揺さぶる、神サウンド。</span>エンタメが生まれ変わる。</li>
                <li class="<%= namespace %>-Layout_Item"><span class="c-Txt_Emp-02">バテない、バッテリー。</span>1日ずっと長持ち<span class="c-Txt_Cap">※1</span>。この使い心地を3年<span class="c-Txt_Cap">※2</span>後も。</li>
              </ul>
            </div>
          </div>
        </div>
        <p class="u-Adjust_Mt-8 u-Adjust_Mt-pc-16 c-Txt_Cap">※1 お客様のご使用環境やご利用状況により使用可能時間は異なります。※2 同タイプバッテリーで充放電を繰り返すシミュレーションに基づく（USB充電の場合）。バッテリーの寿命は利用状況によって変化します。</p>
        <div class="<%= namespace %>-Layout_Target-item1-btn u-Adjust_Mt-16">
          <a href="<%= sitepath %>product/smartphone/xperia-5m4/?l-id=campaign_shop-limited-android_product_smartphone_xperia-5m4_top" class="c-Btn_Regular-large"><span>製品の詳細を見る</span></a>
        </div>
      </div>
    </section>

    <div class="<%= namespace %>-Pointback">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64 u-Adjust_Align-center">ご購入内容に応じてポイント還元！</h2>
        <div class="u-Show_Xxo u-Adjust_Mt-pc-24">
          <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/pointback-img01-pc-231101.png" alt="" width="1032" height="304" loading="lazy">
        </div>
        <div class="u-Show_Oox u-Adjust_Mt-24">
          <div class="c-Tab js-Tab">
            <ul class="c-Tab_Items u-Adjust_Mb-16" role="tablist">
              <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">対象製品<br>&プラン申し込み</li>
              <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">対象製品のみ購入</li>
            </ul>
            <div class="c-Tab_Panel u-Adjust_Align-center" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/pointback-img01-sp-01-231101.png" alt="" width="686" height="1012" loading="lazy">
            </div>
            <div class="c-Tab_Panel u-Adjust_Align-center" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/pointback-img01-sp-02.png" alt="" width="686" height="1010" loading="lazy">
            </div>
          </div>
        </div>
        <ul class="u-Adjust_Mt-32 u-Adjust_Mt-pc-24">
          <li class="c-Txt_Cap c-Txt_Emp-02"><span>※</span>製品の販売在庫は、申し込み内容（製品単体購入、プランとセット購入）にかかわらず、同一管理で対応しております。</li>
          <li class="c-Txt_Cap c-Txt_Emp-02"><span>※</span>ご購入時に製品のネットワーク接続を確認させていただきます。同意いただけない場合、販売をお断りさせていただきますので、ご了承ください。</li>
          <li class="c-Txt_Cap c-Txt_Emp-02"><span>※</span>「実質価格」とは、キャンペーンの条件達成（他社から乗り換え、Rakuten最強プラン初めて契約、対象製品購入、Rakuten Link利用など）により後日付与されるポイントを加味した価格であり、実際のお支払い金額とは異なります。詳しくは各<a href="#campaign-rule" class="js-scroll">キャンペーンルール</a>をご確認ください。</li>
          <li class="c-Txt_Cap"><span>※</span>1 楽天カードのみ。現金販売価格と割賦販売価格（総額）は製品価格と同額。支払回数48回、支払期間48カ月、実質年率0％、48回目のみ2,231円/月。</li>
          <li class="c-Txt_Cap"><span>※</span>2 24回分お支払い後、25カ月目に製品を返却した場合。ご返却の製品が当社指定の状態基準を満たさない場合、故障費用22,000円（不課税）のお支払いが必要となる、または返却不可となる場合があります。</li>
          <li class="c-Txt_Cap"><span>※</span>3 「<a href="#campaign-rule2091" class="js-scroll">【Rakuten最強プランはじめてお申し込み特典】他社から乗り換えで6,000ポイントプレゼント</a>」、「<a href="#campaign-rule2006" class="js-scroll">「Rakuten最強プラン」＋対象のAndroid製品ご購入でポイント還元キャンペーン</a>」、「<a href="#campaign-rule2005" class="js-scroll">【ショップ限定】Android対象製品ご購入＆楽天モバイル買い替え超トクプログラムご利用でポイント還元キャンペーン</a>」適用時。</li>
          <li class="c-Txt_Cap"><span>※</span>4 「<a href="#campaign-rule2005" class="js-scroll">【ショップ限定】Android対象製品ご購入＆楽天モバイル買い替え超トクプログラムご利用でポイント還元キャンペーン</a>」適用時。</li>
          <li class="c-Txt_Cap"><span>※</span>キャンペーンによってポイントの付与時期・有効期間が異なり、分割して付与されるポイントもございます。必ずキャンペーンルールをご確認ください。</li>
        </ul>
        <div class="u-Adjust_Mt-32 u-Adjust_Mt-pc-24 u-Adjust_Align-center">
          <a href="<%= sitepath %>shop/?l-id=campaign_shop-limited-android_shop_top" class="c-Btn_Primary-large"><span>お近くのショップを探す</span></a>
        </div>
      </div>
    </div>

    <section id="conditions" class="<%= namespace %>-Conditions <%= namespace %>-Utility_Bg-gray u-Adjust_Mt-64 u-Adjust_Mt-pc-56">
      <div class="<%= namespace %>-Conditions_Inner l-System_Container">
        <h2 class="c-Txt_Normal-ll <%= namespace %>-Conditions_Text">キャンペーンの達成条件</h2>
        <p class="<%= namespace %>-Conditions_Text u-Adjust_Mt-16">本キャンペーンには達成条件が設定されています。詳細は各<a href="#campaign-rule" class="c-Link_Txt js-scroll">キャンペーンルール</a>をご確認ください。</p>
        <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/conditions-img01-sp-231101.png" width="622" height="1054">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/conditions-img01-pc-231101.png" alt="" width="984" height="242" loading="lazy">
          </picture>
        </div>
        <ul class="u-Adjust_Mt-16">
          <li class="c-Txt_Cap"><span class="c-Txt_Emp-02">※ 「【ショップ限定】Android対象製品ご購入＆楽天モバイル買い替え超トクプログラムご利用でポイント還元キャンペーン」は、対象製品のみご購入でも適用となります。</span>おひとり様1回限りの適用になります。</li>
        </ul>
        <div class="c-Accordion <%= namespace %>-Accordion_Left u-Adjust_Mt-24">
          <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>「楽天モバイル買い替え超トクプログラム」とは？<span class="c-Txt_Cap">※1</span></button>
          <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="false">
            <div class="u-Adjust_Align-center">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/conditions-img02-sp.png" width="560">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/conditions-img02-pc.png" alt="" width="936">
              </picture>
            </div>
            <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
              <a href="<%= sitepath %>service/replacement-program/?l-id=campaign_shop-limited-android_service_replacement-program_top" class="c-Btn_Regular"><span>詳細はこちら</span></a>
            </div>
            <ul>
              <li class="c-Txt_Cap u-Adjust_Mt-16">※1 楽天カードのみ。現金販売価格と割賦販売価格（総額）は製品価格と同額。支払回数48回、支払期間48カ月、実質年率0％。<span class="c-Txt_Emp-02">機種変更またはお使いいただいた製品を当社が回収する際には事務手数料3,300円のお支払いが必要。</span></li>
              <li class="c-Txt_Cap">※2 <span class="c-Txt_Emp-02">24回分お支払い後、25カ月目に製品を当社が回収した場合。当社が回収した旧製品が当社指定の状態基準を満たさない場合、故障費用22,000円（不課税）のお支払いが必要となる、または当社が回収できない場合あり。</span></li>
            </ul>
          </div>
        </div>
        <div class="c-Accordion <%= namespace %>-Accordion_Left u-Adjust_Mt-24">
          <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーン達成状況の確認方法</button>
          <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true" style="display:none;">
            <ol class="u-Adjust_Mt-16">
              <li>
                <p class="c-Txt_Emp-01">1. 「<a href="<%= ecarepath %>my-rakuten-mobile?l-id=campaign_shop-limited-android_my-rakuten-mobile_accordion" class="c-Link_Txt">my 楽天モバイル</a>」にアクセス</p>
              </li>
              <li class="u-Adjust_Mt-32">
                <p class="c-Txt_Emp-01">2. 右上のメニューから「利用状況」を選択</p>
                <div class="u-Adjust_Align-center u-Adjust_Mt-32">
                  <img src="<%= sitepath %>assets/img/campaign/common/img-cap01-230601.png" width="300" alt="">
                </div>
              </li>
              <li class="u-Adjust_Mt-32">
                <p class="c-Txt_Emp-01">3. 「通話」タブを選択して<span class="c-Txt_Emp-02">Rakuten Linkでの10秒以上の発信通話履歴</span>があることを確認してください</p>
                <div class="u-Adjust_Align-center u-Adjust_Mt-32">
                  <img src="<%= sitepath %>assets/img/campaign/common/img-cap02.png" width="300" alt="">
                </div>
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="u-Adjust_Mt-16 u-Adjust_Mt-pc-32 u-Adjust_Align-center">
        <a href="<%= sitepath %>shop/?l-id=campaign_shop-limited-android_shop_middle" class="c-Btn_Primary-large"><span>お近くのショップを探す</span></a>
      </div>
    </section>

    <section id="flow" class="u-Adjust_Pt-56">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">ポイント獲得の流れ</h2>
        <ul class="c-Flow u-Adjust_Mt-24">
          <li>
            <h3 class="c-Heading_Lv3 u-Adjust_Mb-16">お申し込み・お支払いに必要なものを準備する</h3>
            <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
              <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                <div>
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/flow-img01.png" width="224" alt="お申し込み・お支払いに必要なものを準備する">
                </div>
              </div>
              <div>
                <div class="u-Adjust_Mt-16">
                  <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc">
                    <li><a href="<%= sitepath %>guide/verify/?l-id=campaign_shop-limited-android_guide_verify" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                  </ul>
                  <ul class="u-Adjust_Mt-16 c-List_Text-disc">
                    <li>楽天会員ログイン用のユーザID、パスワード</li>
                  </ul>
                  <p class="c-Txt_Emp-02 c-Txt_Normal-s u-Adjust_Mt-8">※本人確認書類の情報と、楽天会員情報が一致している必要があります。</p>
                  <p class="u-Adjust_Mt-8"><a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Link_Txt-inline u-Adjust_Mt-8">楽天会員情報を確認・変更する<span class="c-Icon_Chevron-right"></span></a></p>

                  <ul class="u-Adjust_Mt-16 c-List_Text-disc">
                    <li><a href="<%= sitepath %>guide/mnp/?l-id=campaign_shop-limited-android_guide_mnp" class="c-Link_Txt-inline">ご契約者名義のMNP予約番号（他社から乗り換えの場合）<span class="c-Icon_Chevron-right"></span></a></li>
                  </ul>

                  <ul class="u-Adjust_Mt-16 c-List_Text-disc">
                    <li><a href="<%= sitepath %>guide/payment/?l-id=campaign_shop-limited-android_guide_payment" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                      <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">※ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="<%= sitepath %>faq/detail/00001238/?l-id=campaign_shop-limited-android_faq_detail_00001238" class="c-Link_Txt-inline">こちらのご案内ページ</a>を必ず事前にご確認ください。</p>
                      <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap">
                        ※未成年者の方のお申し込みに必要な情報、お申し込み方法は<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_shop-limited-android_flow_for-minors" class="c-Link_Txt">こちらのご案内ページ</a>をご確認ください。<br>
                      </p>
                      <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap">
                        ※MNPワンストップ未対応の携帯電話会社から乗り換えの方は、MNP予約番号の取得が必要です。MNPワンストップ対象の携帯電話会社は<a href="<%= sitepath %>guide/mnp/?l-id=campaign_shop-limited-android_guide_mnp#career" class="c-Link_Txt">こちら</a>からご確認ください。
                      </p>
                      <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap">
                        ※ショップでのお手続きは、ワンストップ対象の他社からの転入であっても、MNP予約番号を取得のうえ、MNP有効期間内にご来店ください。
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">楽天モバイルショップを探す</h3>
            <div class="l-Media_Grid u-Adjust_Mt-16">
              <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                <div>
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/flow-img02.png" alt="" width="270">
                </div>
              </div>
              <div>
                <p class="u-Adjust_Mt-8 c-Txt_Emp-01">ご来店の際は、Webでできる「来店予約」が便利</p>
                <p>各ショップページの「来店予約」ボタンよりご予約ください。各ショップごとに製品の在庫状況が異なります。</p>
                <ul class="c-List_Text-disc u-Adjust_Mt-8">
                  <li>予約された方を優先的にご案内</li>
                  <li class="u-Adjust_Mt-8">混雑を気にせずに、好きな時間にご来店可能</li>
                </ul>
                <p class="c-Txt_Cap u-Adjust_Mt-8">
                  ※カウンターが空き次第のご案内となり、多少の待ち時間をいただく場合がございます。<br>
                  ※ショップページに「来店予約」ボタンがないショップでは、来店予約を行っておりません。ご了承ください。
                </p>
                <div class="<%= namespace %>-Utility_Sp-center u-Adjust_Mt-16">
                  <a href="<%= sitepath %>shop/?l-id=campaign_shop-limited-android_shop_under" class="c-Btn_Primary"><span>お近くのショップを探す</span></a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">ショップで他社から乗り換え、最強プランを初めて申し込み、製品を購入する</h3>
            <div class="l-Media_Grid u-Adjust_Mt-16">
              <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                <div>
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/flow-img03.png" alt="" width="154">
                </div>
              </div>
              <div>
                <p class="u-Adjust_Mt-8">楽天モバイルショップにて、電話番号そのまま、他社から乗り換え、最強プランを初めて申し込みと製品を「楽天モバイル買い替え超トクプログラム」にて購入手続きを行ってください。</p>
                <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>fee/saikyo-plan/?l-id=campaign_shop-limited-android_fee_saikyo-plan" class="c-Link_Txt-inline">Rakuten最強プランの詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
                <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>product/smartphone/xperia-5m4/?l-id=campaign_shop-limited-android_product_smartphone_xperia-5m4_under" class="c-Link_Txt-inline">Xperia 5 IVの詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
                <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>service/replacement-program/?l-id=campaign_shop-limited-android_service_replacement-program_under" class="c-Link_Txt-inline">楽天モバイル買い替え超トクプログラムの詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
                <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">【お申し込み期間】<br class="u-Show_Oox"></span>2023年9月12日（火）開店 ～ 2023年11月23日（木）閉店</p>
                <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※Webでのお申し込みは対象外です。<br>
                  ※上記期間中にご購入を完了させる必要があります。
                </p>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">Rakuten Linkアプリで通話</h3>
            <div class="l-Media_Grid u-Adjust_Mt-16">
              <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                <div class="<%= namespace %>-Flow_Rlink">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/flow-img04.png" alt="" width="94">
                </div>
              </div>
              <div>
                <p class="u-Adjust_Mt-8">
                  Rakuten Linkアプリで10秒以上通話する<br>
                  <span class="c-Txt_Emp-01">【Rakuten Link利用開始期限】</span><br>
                  プランお申し込みの翌月末日23:59まで
                </p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※電話の発信時、（0570）などから始まる他社接続サービス、一部特番（188）への通話は特典対象外</p>
                <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>service/rakuten-link/?l-id=campaign_shop-limited-android_service_rakuten-link" class="c-Link_Txt-inline">Rakuten Linkアプリの詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
                <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">※Rakuten Linkのご利用がポイント付与の条件となります。</p>
              </div>
            </div>
          </li>
          <li id="questionnaire">
            <h3 class="c-Heading_Lv3">最大29,748円相当のポイントプレゼント！</h3>
            <div>
              <div class="l-Media_Grid u-Adjust_Mt-16 <%= namespace %>-Flow_Media_Grid">
                <div class="l-Media_Image">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/flow-img05-sp-231101.png" width="311" height="118">
                    <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/flow-img05-pc-231101.png" alt="" width="304" height="153" loading="lazy">
                  </picture>
                </div>
                <div>
                  <ul class="c-Txt_Cap">
                    <li>※ポイントは期間限定ポイントになります。</li>
                    <li>※キャンペーンによってポイントの付与時期・有効期間が異なり、分割して付与されるポイントもございます。必ずキャンペーンルールをご確認ください。</li>
                  </ul>
                </div>
              </div>
              <ul class="<%= namespace %>-Flow_Card">
                <li class="<%= namespace %>-Flow_Card-item">
                  <div>
                    <h4 class="c-Heading_Lv4 u-Adjust_Align-center">電話番号そのまま、他社から乗り換え＆初めてのプラン申し込みで</h4>
                  </div>
                  <div class="<%= namespace %>-Flow_Card-txtWrap u-Adjust_Mt-16">
                    <div class="<%= namespace %>-Flow_Card-txtArea">
                      <p class="<%= namespace %>-Flow_Card-txt1 u-Adjust_Mb-8">
                        6<span class="<%= namespace %>-Flow_Card-comma">,</span>000<span class="<%= namespace %>-Flow_Card-txt2">ポイント</span><br>
                      </p>
                      <a href="#campaign-rule2091" class="js-scroll c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>詳しくはこちら</a>
                      <ul class="c-Txt_Cap u-Adjust_Mt-8">
                        <li>※「Rakuten最強プラン」の利用開始および「Rakuten Link」の利用が確認された月の翌々月末日ごろから3カ月間にわたり付与</li>
                        <li>※付与日から3カ月後月末まで有効</li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="<%= namespace %>-Flow_Card-item">
                  <div>
                    <h4 class="c-Heading_Lv4">プラン申し込み<br>＆対象製品購入</h4>
                  </div>
                  <div class="<%= namespace %>-Flow_Card-txtWrap u-Adjust_Mt-16">
                    <div class="<%= namespace %>-Flow_Card-txtArea" style="padding:16px 0 !important">
                      <p class="<%= namespace %>-Flow_Card-txt1 u-Adjust_Mb-8">
                        6<span class="<%= namespace %>-Flow_Card-comma">,</span>000<span class="<%= namespace %>-Flow_Card-txt2">ポイント</span><br>
                      </p>
                      <a href="#campaign-rule2006" class="js-scroll c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>詳しくはこちら</a>
                      <ul class="c-Txt_Cap u-Adjust_Mt-8">
                        <li>※Rakuten Linkご利用の翌々月末日ごろ付与</li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="<%= namespace %>-Flow_Card-item">
                  <p class="<%= namespace %>-Flow_Card-onShop">ショップ限定</p>
                  <div>
                    <h4 class="c-Heading_Lv4 u-Adjust_Align-center">「楽天モバイル買い替え超トクプログラム」で対象製品を購入</h4>
                  </div>
                  <div class="<%= namespace %>-Flow_Card-txtArea">
                    <p class="<%= namespace %>-Flow_Card-txt1 u-Adjust_Mb-8">
                      17<span class="<%= namespace %>-Flow_Card-comma">,</span>748<span class="<%= namespace %>-Flow_Card-txt2">ポイント</span><br>
                    </p>
                    <a href="#campaign-rule2005" class="js-scroll c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>詳しくはこちら</a>
                    <ul class="c-Txt_Cap u-Adjust_Mt-8">
                      <li>※製品ご購入の翌々月末日ごろ付与</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <div class="u-Bg_Monotone97 u-Adjust_Mt-48 u-Adjust_Py-48">
      <%- include('/inc/_about-rakuten-mobile', { baseLId: 'campaign_shop-limited-android' }) %>
    </div>


    <section id="campaign-rule" class="u-Adjust_Py-48">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンルール</h2>
        <div class="u-Adjust_My-32 u-Adjust_Align-center">
          <p class="c-Txt_Normal-m c-Txt_Emp-02">本キャンペーンは2023年11月23日(木)をもちまして終了いたしました。<br>このページに掲載されている情報は、キャンペーン終了時点のものです。</p>
          <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>campaign/?l-id=end_campaign" class="c-Link_Txt-inline">開催中のキャンペーンを見る<span class="c-Icon_Chevron-right"></span></a></p>
        </div>

        <div>
          <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2005', level: 'h2', year: '2023', class: 'u-Adjust_Mt-24' }}) %>
          <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2006_shop_limited_android', level: 'h2', year: '2023', class: 'u-Adjust_Mt-64' }}) %>
          <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2091_shop_limited_android', level: 'h2', year: '2023', class: 'u-Adjust_Mt-64' }}) %>
        </div>

        <!-- 過去キャンペーン -->
        <div class="c-Accordion u-Adjust_Mt-64" id="campaign-rule-old">
          <button id="accordion-old-rule" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-old-rule"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>過去のキャンペーンルール</button>
          <div id="accordion-content-old-rule" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-old-rule" aria-hidden="true" style="display:none;">
            <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1526_shop_limited_android', level: 'h2', year: '2023', class: '' }}) %>
          </div>
        </div>
      </div>
    </section>

    <footer class="g-Footer <%= namespace %>-Layout_Footer u-Adjust_Mt-64">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <%- include('/include/_breadcrumbs', {
          type: 'foot',
          pagetitle: breadcrumbsTitle,
          directories,
        }) %>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>

  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
</body>

</html>
