<% const pagetitle = "契約内容・登録内容の確認・変更" -%>
<% const directories = [{path:"internet/turbo/support/", label:"お客様サポート"}, {path:"internet/turbo/support/contract/", label:"契約内容・お手続き"}] -%>
<% const namespace = "support-smallcategory" -%>
<%
  const pageInfo = {
    namespace,
    ancList: [
      {
        path: '#anc01',
        name: '契約内容を確認する'
      },
      {
        path: '#anc02',
        name: '契約時の登録内容・契約内容を変更する',
      }
    ],
    isUserCategory: true
  };
%>
<%-
 include('/_header', {
    pagetitle,
    directories,
    description: '楽天モバイルのホームルーターRakuten Turboの契約、登録内容をmy 楽天モバイル（アプリ・Web）で確認・変更する方法をご確認いただけます',
    noindex: false,
    pathname: filepath,
    isTurbo: true
  });
%>


<%- include('/include/_common-css-v2') %>
<%- include('/include/internet/turbo/support/_smallcategory-css') %>
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/internet/turbo/_prepend-body-internet') %>
  <div class="l-System">
    <%- include('/include/internet/turbo/_header', {
      pagetitle,
      directories,
      tax: false,
    }) %>

    <section class="u-Adjust_Mt-32">
      <div class="l-System_Container">
        <h1 class="c-Heading_Lv1 <%= namespace %>-Utility_Heading_Lv1"><%= pagetitle %></h1>
        <p class="u-Adjust_Mt-24">ご契約時に登録された情報は、my 楽天モバイルでご確認・変更いただけます。</p>
      </div>
      <div class="l-System c-Theme-Light u-Adjust_Mt-32 <%= namespace %>-Anchor">
        <div class="l-System_Container">
          <ul class="<%= namespace %>-Anchor_Area_Col2">
            <% pageInfo.ancList.forEach(function(item) { -%>
            <li>
              <a href="<%= item.path %>" class="js-scroll c-Link_Txt-icon-front" data-auto-rat="anchor"><span class="c-Icon_Arrow-down-l"></span><%= item.name %></a>
            </li>
            <% }); -%>
          </ul>
        </div>
      </div>
    </section>

    <div class="l-System_Container">
      <section id="anc01" class="u-Adjust_Mt-48">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">契約内容を確認する</h2>
        <p class="u-Adjust_Mt-16">契約内容に関する以下の情報をご確認いただけます。</p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※お申し込み日は「<a href="<%= ecarepath %>dashboard#orders" data-lid_no="01" target="_blank" rel="noopener noreferrer" class="c-Link_Txt-inline">申し込み履歴<span class="c-Icon_New-window-l"></span></a>」からご確認ください。</p>
        <ul class="c-List_Text-disc u-Adjust_Mt-24">
          <li>楽天モバイルID</li>
          <li>ご契約者名</li>
          <li>ご住所</li>
          <li>設置先住所</li>
          <li>プラン料金、製品代金それぞれのお支払い方法</li>
          <li>
            製造番号（IMEI）<br>
            <span class="c-Txt_Cap">※製造番号（IMEI）は、以下の手順からもご確認いただけます。</span><br>
            <a href="<%= sitepath %>internet/turbo/support/contract/check-imei/" class="c-Link_Txt-inline u-Adjust_Mt-16" style="display: block;">製造番号（IMEI）の確認方法を見る<span class="c-Icon_Chevron-right"></span></a>
          </li>
        </ul>
        <div class="c-Tab js-Tab u-Adjust_Mt-24">
          <ul class="c-Tab_Items" role="tablist">
            <li class="c-Tab_Item" id="tab-method-menu1" role="tab" aria-selected="true" aria-controls="tab-method-content1">Webで確認する</li>
            <li class="c-Tab_Item" id="tab-method-menu2" role="tab" aria-selected="false" aria-controls="tab-method-content2">アプリで確認する</li>
          </ul>
          <div class="c-Tab_Panel" id="tab-method-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-method-menu1">
            <ol class="u-Adjust_Mt-24 c-Flow">
              <li>
                <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">1. my 楽天モバイル「契約情報」画面を開く</h3>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/" class="c-Link_Txt" data-lid_no="01">[my 楽天モバイル]ログインできません</a>」をご確認ください。</p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">※お申し込み日は「<a href="<%= ecarepath %>dashboard#orders" data-lid_no="02" target="_blank" rel="noopener noreferrer" class="c-Link_Txt-inline">申し込み履歴<span class="c-Icon_New-window-l"></span></a>」からご確認ください。</p>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
                  <a href="<%= ecarepath %>dashboard#contracts" data-lid_no="03" target="_blank" rel="noopener noreferrer" class="c-Btn_Secondly-large"><span>契約情報へ進む<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
                </p>
                <div class="<%= namespace %>-Layout_Flow-img-column u-Adjust_Align-center u-Adjust_Mt-24">
                  <img src="<%= sitepath %>assets/img/internet/turbo/support/contract/details/cap-01-01.png" width="300" height="130" alt="1. my 楽天モバイル「契約情報」画面を開く" class="c-Img_Capture">
                  <img src="<%= sitepath %>assets/img/internet/turbo/support/contract/details/cap-01-02.png" width="300" height="500" alt="1. my 楽天モバイル「契約情報」画面を開く" class="c-Img_Capture">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">2. 契約内容を確認したい回線の「ご契約内容のダウンロード」をタップする</h3>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/internet/turbo/support/contract/details/cap-02.png" width="300" height="437" alt="2. 契約内容を確認したい回線の「ご契約内容のダウンロード」をタップする" class="c-Img_Capture">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">3. 「設置先住所」や「製造番号」を確認する</h3>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">※「設置先住所」は「<a href="<%= ecarepath %>dashboard#orders" data-lid_no="04" target="_blank" rel="noopener noreferrer" class="c-Link_Txt-inline">申し込み履歴<span class="c-Icon_New-window-l"></span></a>」からも確認できます。</p>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/internet/turbo/support/contract/details/cap-03.png" width="300" height="386" alt="3. 「設置先住所」や「製造番号」を確認する" class="c-Img_Capture">
                </div>
              </li>
            </ol>
          </div>
          <div class="c-Tab_Panel" id="tab-method-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-method-menu2">
            <p class="u-Adjust_Mt-16">※アプリが最新バージョンでない場合、一部機能が利用できなかったり、ご案内した内容や見た目が異なる場合があります。その場合は、アプリのバージョンをアップデートいただくか、Web版のmy 楽天モバイルをご利用ください</p>
            <ol class="c-Flow u-Adjust_Mt-24">
              <li>
                <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">1. my 楽天モバイルを起動する</h3>
                <div class="c-Box_App u-Adjust_Mt-16">
                  <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt="my 楽天モバイル" width="96" height="96"></div>
                  <div class="c-Box_App-txt">
                    <p class="c-Box_App-ttl">my 楽天モバイル</p>
                    <p class="u-Adjust_Mt-8">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                    <ul class="c-Box_App-link u-Adjust_Mt-16 <%= namespace %>-Layout_Contract_App-link">
                      <li class="<%= namespace %>-Layout_Contract_App-link-item">
                        <div><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank" rel="noopener noreferrer"><img src="<%= sitepath %>assets/img/internet/turbo/common/btn-googleplay.png" width="162" height="48" alt="Google Play"></a></div>
                        <div><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank" rel="noopener noreferrer"><img src="<%= sitepath %>assets/img/internet/turbo/common/btn-appstore.png" width="131" height="48" alt="Apple Store"></a></div>
                      </li>
                      <li>
                        <a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular"><span>詳細を見る</span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">2. 「契約情報」へ進む</h3>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/" class="c-Link_Txt" data-lid_no="02">[my 楽天モバイル]ログインできません</a>」をご確認ください。</p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">※お申し込み日は「<a href="<%= ecarepath %>dashboard#orders" data-lid_no="05" target="_blank" rel="noopener noreferrer" class="c-Link_Txt-inline">申し込み履歴<span class="c-Icon_New-window-l"></span></a>」からご確認ください。</p>
                <div class="<%= namespace %>-Layout_Flow-img-column u-Adjust_Align-center u-Adjust_Mt-24">
                  <img src="<%= sitepath %>assets/img/internet/turbo/support/contract/details/cap-01-01.png" width="300" height="130" alt="2. 「契約情報」へ進む" class="c-Img_Capture">
                  <img src="<%= sitepath %>assets/img/internet/turbo/support/contract/details/cap-01-02.png" width="300" height="500" alt="2. 「契約情報」へ進む" class="c-Img_Capture">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">3. 契約内容を確認したい回線の「ご契約内容のダウンロード」をタップする</h3>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/internet/turbo/support/contract/details/cap-02.png" width="300" height="437" alt="3. 契約内容を確認したい回線の「ご契約内容のダウンロード」をタップする" class="c-Img_Capture">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">4. 「設置先住所」や「製造番号」を確認する</h3>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">※「設置先住所」は「<a href="<%= ecarepath %>dashboard#orders" data-lid_no="06" target="_blank" rel="noopener noreferrer" class="c-Link_Txt-inline">申し込み履歴<span class="c-Icon_New-window-l"></span></a>」からも確認できます。</p>
                <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/internet/turbo/support/contract/details/cap-03.png" width="300" height="386" alt="4. 「設置先住所」や「製造番号」を確認する" class="c-Img_Capture">
                </div>
              </li>
            </ol>
          </div>
        </div>
        <p class="u-Adjust_Mt-16">以上で完了です。</p>
      </section>

      <section id="anc02" class="u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">契約時の登録内容・契約内容を変更する</h2>
        <p class="u-Adjust_Mt-16">契約時に登録した各種情報や、契約内容の変更方法は以下からご確認いただけます。</p>
        <ul class="c-Link_List u-Adjust_Mt-24">
          <li><a href="<%= sitepath %>faq/detail/00001914/">契約時に登録したメールアドレスの変更方法を見る<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/change-address/">契約住所の変更方法を見る<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>guide/change-billing-address/">請求先住所の変更方法を見る<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>internet/turbo/support/contract/house-moving/">設置先住所の変更方法を見る<span class="c-Icon_Chevron-right"></span></a></li>
        </ul>
      </section>
    </div>

    <section class="u-Adjust_Pt-80">
      <div class="<%= namespace %>-Layout_Category">
        <div class="l-System_Container">
          <%- include('/include/internet/turbo/support/_smallcategory-category', { pageInfo }) %>
        </div>
      </div>
    </section>

    <div class="u-Adjust_Mt-24">
      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
      <%- include('/include/internet/turbo/_footer', { directories, pagetitle }) %>
    </div>
  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/internet/turbo/support/_smallcategory-js') %>
  <%- include('/include/_append-body') %>
  <%- include('/include/internet/turbo/_rex-survey') %>

</body>

</html>
