<% const namespace = "ecare" -%>
<!---  android -->
<div class="c-Accordion">
  <button type="button" id="<%= prefix %>accordion-member-android" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Parent" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-android" data-effect="false" data-ratid="ecare-s-<%= type %>_category_member_android" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Settings-f"></span>製品（Android）<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
  <div id="<%= prefix %>accordion-content-member-android" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-android" aria-hidden="true">

    <div class="c-Accordion u-Adjust_Mt-24">
      <button type="button" id="<%= prefix %>accordion-member-android-1" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-android-1" data-ratid="ecare-s-<%= type %>_member_android_accordion_01" data-ratevent="click" data-ratparam="all" data-effect="false">製品の初期設定を知りたい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-android-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-android-1" aria-hidden="true">
        <p>以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hMY202" target="_blank" class="c-Link_Txt-inline">「各種製品の初期設定」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-android-2" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-android-2" data-ratid="ecare-s-<%= type %>_member_android_accordion_02" data-ratevent="click" data-ratparam="all" data-effect="false">機種変更について知りたい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-android-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-android-2" aria-hidden="true">
        <p>以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hUYKf9" target="_blank" class="c-Link_Txt-inline">「楽天モバイルでの機種変更方法」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16">機種変更に伴い、SIMタイプを変更する場合は、SIMタイプの交換手続きが必要です。</p>
        <p class="u-Adjust_Mt-8">以下のボタンから、「SIM再発行を申請する」をタップしてお進みください。<br>
          なお、eSIMの場合は、機種変更時に開通手続きが必要となります。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard?scrollTo=simAndLinesAction#plans" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_09_002" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">契約プラン（各種手続き）へ進む</a>
          </div>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-android-3" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-android-3" data-ratid="ecare-s-<%= type %>_member_android_accordion_03" data-ratevent="click" data-ratparam="all" data-effect="false">初期不良を交換したい／メーカーへ問い合わせしたい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-android-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-android-3" aria-hidden="true">
        <p>製品の初期不良による交換には一定の条件があります。事前にご確認のうえ、楽天モバイルまでご連絡ください。</p>
        <p class="u-Adjust_Mt-8">楽天モバイル、他メーカーへの連絡先は以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-16">
          <a href="https://r10.to/huF3nE" target="_blank" class="c-Link_Txt-inline">「メーカー別 問い合わせ先一覧」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">
          ※ご自身で製品を購入した場合はメーカーへご連絡ください。<br>
          ※保証オプションをご契約中の場合、各種保証オプションの利用方法をご確認ください。</p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-android-4" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-android-4" data-ratid="ecare-s-<%= type %>_member_android_accordion_04" data-ratevent="click" data-ratparam="all" data-effect="false">持ち込みスマホあんしん保証を利用したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-android-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-android-4" aria-hidden="true">
        <p>以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hM1DOU" target="_blank" class="c-Link_Txt-inline">「持ち込みスマホあんしん保証（ご利用方法）」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-android-5" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-android-5" data-ratid="ecare-s-<%= type %>_member_android_accordion_05" data-ratevent="click" data-ratparam="all" data-effect="false">スマホ交換保証プラスを利用したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-android-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-android-5" aria-hidden="true">
        <p>以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hMuA5F" target="_blank" class="c-Link_Txt-inline">「スマホ交換保証プラス（お申し込み方法・ご利用方法）」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-android-5" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-android-7" data-ratid="ecare-s-<%= type %>_member_android_accordion_07" data-ratevent="click" data-ratparam="all" data-effect="false">楽天モバイル買い替え超トクプログラムを利用して機種変更したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-android-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-android-7" aria-hidden="true">
        <p>以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hNlR6V" target="_blank" class="c-Link_Txt-inline">「楽天モバイル買い替え超トクプログラム（利用方法）」（オプションサービスページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-android-6" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-android-6" data-ratid="ecare-s-<%= type %>_member_android_accordion_06" data-ratevent="click" data-ratparam="all" data-effect="false">製品が正しく動かない・故障しているか確認したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-android-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-android-6" aria-hidden="true">
        <p>製品の使用中・充電中に発煙・発熱等異常が見られた場合、充電器をコンセントから抜き、 製品の電源を切る等して利用を中止し、メーカーへご連絡ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hMY2AN" target="_blank" class="c-Link_Txt-inline">「各製品メーカーへのお問い合わせ」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-24">楽天モバイルで購入したAndroid製品については、以下のページでお困りの内容に応じた解決方法とお問い合わせ窓口をご案内しております。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/h64lT4" target="_blank" class="c-Link_Txt-inline">「トラブル解決ナビ」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>

  </div>
</div>
<!--- / android -->
