<% const namespace = "ecare" -%>
<!---  application -->
<div class="c-Accordion">
  <button type="button" id="<%= prefix %>accordion-member-application" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Parent" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-application" data-effect="false" data-ratid="ecare-s-<%= type %>_category_member_application" data-ratevent="click" data-ratparam="all"><span class="c-Icon_List-f"></span>お申し込みからお受け取りまで<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
  <div id="<%= prefix %>accordion-content-member-application" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-application" aria-hidden="true">

    <div class="c-Accordion u-Adjust_Mt-24">
      <button type="button" id="<%= prefix %>accordion-member-application-1" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-application-1" data-ratid="ecare-s-<%= type %>_member_application_accordion_01" data-ratevent="click" data-ratparam="all" data-effect="false">「準備中」から発送されない<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-application-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-application-1" aria-hidden="true">
        <p>本人確認書類の不備・相違により処理が正しく完了していないことが考えられます。</p>
        <p class="u-Adjust_Mt-16">この場合、契約時にご登録いただいたメールアドレス宛に 「【重要】楽天モバイル 本人確認書類の不備による再アップロードのお願い」というメールをお送りしておりますので、ご確認ください。</p>
        <p class="u-Adjust_Mt-16">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hMY2TA" target="_blank" class="c-Link_Txt-inline">「本人確認が不備になった」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-24 c-Txt_Emp-01">楽天モバイル公式 楽天市場店でお申し込みのお客様</p>
        <p>SIMと製品をセット購入された場合、SIMを受け取ってから通常7日程度で発送されます。</p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-application-2" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-application-2" data-ratid="ecare-s-<%= type %>_member_application_accordion_02" data-ratevent="click" data-ratparam="all" data-effect="false">配送状況を確認したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-application-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-application-2" aria-hidden="true">
        <p>以下のボタンから、該当の申込番号を選択すると、本人確認書類の審査状況や発送状況についてご確認いただけます。</p>
        <p class="u-Adjust_Mt-8">製品がすでに発送されている場合、お問い合わせ伝票番号が記載されていますので、宅配業者のWebサイトより配送状況をご確認ください。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard#orders" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_05_002" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">申し込み履歴へ進む</a>
        </div>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hMpwpG" target="_blank" class="c-Link_Txt-inline">「配送について」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-application-3" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-application-3" data-ratid="ecare-s-<%= type %>_member_application_accordion_03" data-ratevent="click" data-ratparam="all" data-effect="false">受け取り住所を変更したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-application-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-application-3" aria-hidden="true">
        <p>製品を予約中（入荷待ち）の場合のみ、受け取り住所を変更できます。<br>
          以下のボタンよりご確認・ご変更いただけます。
        </p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard?scrollTo=contactInfo#personal-info" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_05_003" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">契約者情報へ進む</a>
          <p class="u-Adjust_Mt-24 c-Txt_Cap">※製品入荷時に再度本人確認を行います。その際に本人確認書類と登録住所が異なる場合、本人確認書類不備となります。</p>
        </div>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-application-4" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-application-4" data-ratid="ecare-s-<%= type %>_member_application_accordion_04" data-ratevent="click" data-ratparam="all" data-effect="false">「受け取り時に自宅で確認」で利用できる本人確認書類・補助書類を知りたい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-application-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-application-4" aria-hidden="true">
        <p>「受け取り時に自宅で確認」で利用できる本人確認書類は以下の通りです。</p>
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>運転免許証（運転経歴証明書は不可）</li>
          <li>マイナンバーカード</li>
          <li>パスポート（※）</li>
        </ul>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※補助書類として発行から3カ月以内で、氏名、住所が同一の「公共料金の領収書」「納税証明書」「社会保険料の領収証書」のいずれかが必要です。</p>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/h6AVYq" target="_blank" class="c-Link_Txt-inline">「本人確認書類」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-application-5" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-application-5" data-ratid="ecare-s-<%= type %>_member_application_accordion_05" data-ratevent="click" data-ratparam="all" data-effect="false">受け取り日時・住所を変更したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-application-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-application-5" aria-hidden="true">
        <p>配送日時の指定はできません。あらかじめご了承ください。<br>
          通常、お申し込み完了から最短2日でお届けします。</p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-application-6" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-application-6" data-ratid="ecare-s-<%= type %>_member_application_accordion_06" data-ratevent="click" data-ratparam="all" data-effect="false">不在で受け取りができなかった<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-application-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-application-6" aria-hidden="true">
        <p>
          受取時に不在の場合、不在票が投函されます。<br>
          不在票に記載されている再配達方法に従いお手続きいただき、お受け取りください。
        </p>
        <p class="u-Adjust_Mt-16">本人確認方法で「受け取り時に自宅で確認」を選択された場合でも、同様のお手続きが必要となります。</p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-application-7" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-application-7" data-ratid="ecare-s-<%= type %>_member_application_accordion_07" data-ratevent="click" data-ratparam="all" data-effect="false">受け取り時に本人確認不備になってしまった<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-application-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-application-7" aria-hidden="true">
        <p>本人確認のよくある不備理由としては以下が挙げられます。</p>
        <ul class="u-Adjust_Mt-16 c-List_Text-disc">
          <li>本人確認書類に記載の氏名と、楽天IDの登録氏名が異なる</li>
          <li>本人確認書類に記載の生年月日と、楽天IDの登録生年月日が異なる</li>
          <li>本人確認書類に記載の住所と、お申し込み時に入力した住所が異なる</li>
        </ul>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/haEVpL" target="_blank" class="c-Link_Txt-inline">「受け取り時に自宅で確認を申し込んだが、本人確認が不備になった」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-application-8" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-application-8" data-ratid="ecare-s-<%= type %>_member_application_accordion_08" data-ratevent="click" data-ratparam="all" data-effect="false">商品受け取り前のキャンセル<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-application-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-application-8" aria-hidden="true">
        <p>出荷前のみキャンセルが可能です。以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hP33dU" target="_blank" class="c-Link_Txt-inline">「お申し込み後のキャンセルについて」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16">キャンセルのお手続きは以下のボタンから対象の申込番号を選択し、「申し込みのキャンセルを申請する」をタップしてお進みください。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard#orders" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_05_008" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">申し込み履歴へ進む</a>
        </div>
        <p class="u-Adjust_Mt-16 c-Txt_Cap">※キャンセルができない場合、申請可能な時期が過ぎております。</p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-application-9" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-application-9" data-ratid="ecare-s-<%= type %>_member_application_accordion_09" data-ratevent="click" data-ratparam="all" data-effect="false">商品を受け取ったがキャンセルしたい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-application-9" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-application-9" aria-hidden="true">
        <p>
          製品、プラン（※）、アクセサリのお届け後のキャンセルは受け付けておりません。
        </p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※乗り換え（MNP）もしくはプラン変更（移行）の場合は転入完了後が対象です。</p>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p>初期契約解除もしくは解約された後に、改めてプランを申し込まれた場合、各種キャンペーンの適用外となる場合がございます。予めご了承ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/h6O26F" target="_blank" class="c-Link_Txt-inline">「初期契約解除について」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-application-11" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-application-11" data-ratid="ecare-s-<%= type %>_member_application_accordion_11" data-ratevent="click" data-ratparam="all" data-effect="false">申込み時にエラーが発生する<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-application-11" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-application-11" aria-hidden="true">
        <p>以下の項目をお試しください。</p>
        <ul class="u-Adjust_Mt-16 c-List_Text-disc">
          <li>利用ウェブブラウザがGoogle Chrome, Firefox, Safariのいずれかであることを確認</li>
          <li>利用ウェブブラウザのキャッシュクリア</li>
          <li>申し込み方法をウェブブラウザもしくはmy 楽天モバイルアプリに切り替え</li>
          <li>スマートフォン・パソコンの再起動</li>
        </ul>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hUA3mC" target="_blank" class="c-Link_Txt-inline">「申し込み時にエラーとなった場合の対応方法」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-application-10" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-application-10" data-ratid="ecare-s-<%= type %>_member_application_accordion_10" data-ratevent="click" data-ratparam="all" data-effect="false">キャンセル状況を確認したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-application-10" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-application-10" aria-hidden="true">
        <p>
          以下のボタンよりご確認いただけます。<br>
          対象のお申し込み番号が「キャンセル」になっているかご確認ください。
        </p>
        <p class="u-Adjust_Mt-8">お手続き完了後、ご登録メールアドレス宛に「キャンセル完了のお知らせ」メールをお送りいたします。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard#orders" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_05_010" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">申し込み履歴へ進む</a>
        </div>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/huT8su" target="_blank" class="c-Link_Txt-inline">「キャンセル状況を確認したい」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-application-12" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-application-12" data-ratid="ecare-s-<%= type %>_member_application_accordion_12" data-ratevent="click" data-ratparam="all" data-effect="false">他人宛の送付物が届いた<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-application-12" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-application-12" aria-hidden="true">
        <p>お手数ですが、コミュニケーションセンターへお電話もしくは、チャット相談にてご連絡ください。</p>
        <p class="u-Adjust_Mt-16">サポートページ下部の「お問い合わせ窓口に相談する」まで進み、ご利用する窓口をタップしてください。</p>
      </div>
    </div>

  </div>
</div>
<!--- / application -->
