<% const namespace = "ecare" -%>
<!---  area -->
<div class="c-Accordion">
<button type="button" id="<%= prefix %>accordion-member-area" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Parent" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-area" data-effect="false" data-ratid="ecare-s-<%= type %>_category_member_area" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Domestic-area-f"></span>エリア・データ通信・通話<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
<div id="<%= prefix %>accordion-content-member-area" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-area" aria-hidden="true">

  <div class="c-Accordion u-Adjust_Mt-24">
    <button type="button" id="<%= prefix %>accordion-member-area-1" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-area-1" data-ratid="ecare-s-<%= type %>_member_area_accordion_01" data-ratevent="click" data-ratparam="all" data-effect="false">サービスエリアを確認したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
    <div id="<%= prefix %>accordion-content-member-area-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-area-1" aria-hidden="true">
      <p>以下のページで詳細をご確認ください。</p>
      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">地図や検索で調べる</p>
      <p class="u-Adjust_Mt-8">
        <a href="https://r10.to/haWcgV" target="_blank" class="c-Link_Txt-inline">「通信・エリア」（エリアページへ）<span class="c-Icon_New-window-l"></span></a>
      </p>
      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">楽天回線 4G LTEエリア情報</p>
      <p class="u-Adjust_Mt-8">
        <a href="https://r10.to/had4si" target="_blank" class="c-Link_Txt-inline">「楽天回線 4G LTEエリア」（エリアページへ）<span class="c-Icon_New-window-l"></span></a>
      </p>
      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">楽天モバイル（楽天回線 4G LTE、パートナー回線）を利用できる、地下鉄の駅・駅間の情報</p>
      <p class="u-Adjust_Mt-8">
        <a href="https://r10.to/huJMuZ" target="_blank" class="c-Link_Txt-inline">「楽天モバイルがつながる地下駅・地下駅間」（エリアページへ）<span class="c-Icon_New-window-l"></span></a>
      </p>
    </div>
  </div>
  <div class="c-Accordion">
    <button type="button" id="<%= prefix %>accordion-member-area-2" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-area-2" data-ratid="ecare-s-<%= type %>_member_area_accordion_02" data-ratevent="click" data-ratparam="all" data-effect="false">データ通信がつながりにくい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
    <div id="<%= prefix %>accordion-content-member-area-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-area-2" aria-hidden="true">
      <p>
        メンテナンスや障害により、データ通信や通話の一部サービスがご利用いただけない場合がございます。<br>
        以下のページで発生状況をご確認ください。
      </p>
      <p class="u-Adjust_Mt-8">
        <a href="https://r10.to/hMeR7I" target="_blank" class="c-Link_Txt-inline">「データ通信・通話の不具合に関するサポート」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
      </p>
      <p class="u-Adjust_Mt-24">
        「トラブル解決ナビ」より解決方法が見つかる場合があります。該当する状況お選びいただき、解決方法をご確認ください。
      </p>
      <p class="u-Adjust_Mt-8">
        <a href="<%= sitepath %>guide/trouble-check/?l-id=ecare-s-object_01_03_002_02#/member/s-1-3" target="_blank" class="c-Link_Txt-inline">トラブル解決ナビ（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
      </p>
      <p class="u-Adjust_Mt-24">
        また、詳しい調査および結果回答をご希望の場合は以下のページより調査依頼をお送りください。
      </p>
      <p class="u-Adjust_Mt-8 u-Adjust_Mb-24">
        <a href="<%= sitepath %>inquiry/input.html?l-id=ecare-s-object_01_03_002_03" target="_blank" class="c-Link_Txt-inline">「電波改善・調査依頼」（依頼フォームへ）<span class="c-Icon_New-window-l"></span></a>
      </p>
    </div>
  </div>
  <div class="c-Accordion">
    <button type="button" id="<%= prefix %>accordion-member-area-3" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-area-3" data-ratid="ecare-s-<%= type %>_member_area_accordion_03" data-ratevent="click" data-ratparam="all" data-effect="false">通信・エリアの改善要望を送りたい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
    <div id="<%= prefix %>accordion-content-member-area-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-area-3" aria-hidden="true">
      <p>以下のページで詳細をご確認ください。<br>
        お客様の電波状況を確認し、改善活動に活かしてまいります。</p>
      <p class="u-Adjust_Mt-8">
        <a href="https://r10.to/hMTzeq" target="_blank" class="c-Link_Txt-inline">「電波改善・調査依頼」（依頼フォームへ）<span class="c-Icon_New-window-l"></span></a>
      </p>
      <p class="u-Adjust_Mt-24">また、通話・データ通信品質向上へのご協力もお願いしております。<span class="c-Txt_Emp-01">my 楽天モバイルアプリより</span>ご協力お願いいたします。</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※Webからはご利用いただけません。</p>
      <div class="u-Adjust_Mt-16">
        <a href="<%= ecarepath %>dashboard#feedback" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_03_003" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">通信品質向上レポートへ進む</a>
      </div>
    </div>
  </div>
  <div class="c-Accordion">
    <button type="button" id="<%= prefix %>accordion-member-area-4" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-area-4" data-ratid="ecare-s-<%= type %>_member_area_accordion_04" data-ratevent="click" data-ratparam="all" data-effect="false">通信速度を確認したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
    <div id="<%= prefix %>accordion-content-member-area-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-area-4" aria-hidden="true">
      <p><span class="c-Txt_Emp-01">my 楽天モバイルアプリでのみ</span>、以下のボタンよりご確認いただけます。</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※Webからはご利用いただけません。</p>
      <div class="u-Adjust_Mt-16">
        <a href="<%= ecarepath %>dashboard#speedtest" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_03_004" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">通信速度測定へ進む</a>
      </div>
    </div>
  </div>
  <div class="c-Accordion">
    <button type="button" id="<%= prefix %>accordion-member-area-5" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-area-5" data-ratid="ecare-s-<%= type %>_member_area_accordion_05" data-ratevent="click" data-ratparam="all" data-effect="false">利用状況を確認したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
    <div id="<%= prefix %>accordion-content-member-area-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-area-5" aria-hidden="true">
      <p>以下のボタンよりご確認いただけます。</p>
      <div class="u-Adjust_Mt-16">
        <a href="<%= ecarepath %>dashboard?scrollTo=contactInfo#usage" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_03_005" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">利用状況へ進む</a>
      </div>
    </div>
  </div>
  <div class="c-Accordion">
    <button type="button" id="<%= prefix %>accordion-member-area-6" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-area-6" data-ratid="ecare-s-<%= type %>_member_area_accordion_06" data-ratevent="click" data-ratparam="all" data-effect="false">データチャージを利用したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
    <div id="<%= prefix %>accordion-content-member-area-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-area-6" aria-hidden="true">
      <p>
        以下のボタンより「データチャージ」をタップしてください。<br>
      </p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">
        ※有効期限は購入日を含めて31日間です。
      </p>
      <div class="u-Adjust_Mt-16">
        <a href="<%= ecarepath %>dashboard?scrollTo=partnerArea#home" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_03_006" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">ホームへ進む</a>
      </div>
      <p class="u-Adjust_Mt-16">以下のページで詳細をご確認ください。</p>
      <p class="u-Adjust_Mt-8">
        <a href="https://r10.to/hMBQsp" target="_blank" class="c-Link_Txt-inline">「データチャージ（ご利用方法）」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
      </p>
    </div>
  </div>
  <div class="c-Accordion">
    <button type="button" id="<%= prefix %>accordion-member-area-7" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-area-7" data-ratid="ecare-s-<%= type %>_member_area_accordion_07" data-ratevent="click" data-ratparam="all" data-effect="false">音声通話が不安定<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
    <div id="<%= prefix %>accordion-content-member-area-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-area-7" aria-hidden="true">
      <p>
        「トラブル解決ナビ」より解決方法が見つかる場合があります。該当する状況をお選びいただき、解決方法をご確認ください。
      </p>
      <p class="u-Adjust_Mt-8">
        <a href="https://r10.to/h59MeY" target="_blank" class="c-Link_Txt-inline">トラブル解決ナビ（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
      </p>
    </div>
  </div>

</div>
</div>
<!--- / area -->
