<% const namespace = "ecare" -%>
<!---  campaign -->
<div class="c-Accordion">
  <button type="button" id="<%= prefix %>accordion-member-campaign" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Parent" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-campaign" data-effect="false" data-ratid="ecare-s-<%= type %>_category_member_campaign" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Campaign-f"></span>キャンペーン<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
  <div id="<%= prefix %>accordion-content-member-campaign" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-campaign" aria-hidden="true">

    <div class="c-Accordion u-Adjust_Mt-24">
      <button type="button" id="<%= prefix %>accordion-member-campaign-1" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-campaign-1" data-ratid="ecare-s-<%= type %>_member_campaign_accordion_01" data-ratevent="click" data-ratparam="all" data-effect="false">キャンペーンのポイントが付与されていない<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-campaign-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-campaign-1" aria-hidden="true">
        <p>以下のような原因が考えられます。</p>
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>キャンペーン特典の付与時期前のため</li>
          <li>キャンペーン条件を満たしていないため対象外となっている</li>
          <li>すでに特典を受けたことのある楽天ID（ユーザーID）で複数回線の契約をしている</li>
        </ul>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hahMOQ" target="_blank" class="c-Link_Txt-inline">「キャンペーンの条件やポイント付与時期に関するご質問」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-campaign-2" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-campaign-2" data-ratid="ecare-s-<%= type %>_member_campaign_accordion_02" data-ratevent="click" data-ratparam="all" data-effect="false">キャンペーンのポイントが一部しか付与されていない<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-campaign-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-campaign-2" aria-hidden="true">
        <p>キャンペーンの特典が一部しか付与されていない場合、以下の原因が考えられます。</p>
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>付与時期が異なるキャンペーンに応募している</li>
          <li>併用できないキャンペーンに応募している</li>
          <li>キャンペーン条件を満たしていないため対象外となっている</li>
          <li>すでに特典を受けたことのある楽天ID（ユーザーID）で複数回線の契約をしている</li>
        </ul>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/h6O4Ji" target="_blank" class="c-Link_Txt-inline">「キャンペーンの条件やポイント付与時期に関するご質問」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-campaign-3" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-campaign-3" data-ratid="ecare-s-<%= type %>_member_campaign_accordion_03" data-ratevent="click" data-ratparam="all" data-effect="false">付与されたポイントを確認したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-campaign-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-campaign-3" aria-hidden="true">
        <p>一部のキャンペーンは付与の3日前に「楽天PointClub」で「獲得予定ポイント」に表示されます。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/h6yknV" target="_blank" class="c-Link_Txt-inline">「楽天PointClub」（楽天PointClubのページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/huUEd1" target="_blank" class="c-Link_Txt-inline">「楽天PointClub」での各種キャンペーン獲得予定ポイントの表示について（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-campaign-4" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-campaign-4" data-ratid="ecare-s-<%= type %>_member_campaign_accordion_04" data-ratevent="click" data-ratparam="all" data-effect="false">キャンペーンの適用条件を知りたい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-campaign-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-campaign-4" aria-hidden="true">
        <p>以下のページで参加されたキャンペーンの「キャンペーン条件」をご確認いただき、必要な条件を満たしているかご確認ください。</p>
        <p class="u-Adjust_Mt-16">
          <a href="https://r10.to/hM9SxX" target="_blank" class="c-Link_Txt-inline">「キャンペーン・特典」（キャンペーンページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hMWXud" target="_blank" class="c-Link_Txt-inline">「過去のキャンペーン・特典」（キャンペーンページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-24">キャンペーンに関するその他よく見られている質問は、以下のページで詳細をご確認ください。</p>
        <a href="https://r10.to/ha0gYb" target="_blank" class="c-Link_Txt-inline">「キャンペーンの適用条件・確認に関するサポート」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-campaign-5" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-campaign-5" data-ratid="ecare-s-<%= type %>_member_campaign_accordion_05" data-ratevent="click" data-ratparam="all" data-effect="false">キャンペーンの付与時期を確認したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-campaign-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-campaign-5" aria-hidden="true">
        <p>以下のページで参加されたキャンペーンの「キャンペーンルール」をご確認ください。</p>
        <p class="u-Adjust_Mt-16">
          <a href="https://r10.to/hMAj4U" target="_blank" class="c-Link_Txt-inline">「キャンペーン・特典」（キャンペーンページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/haWfan" target="_blank" class="c-Link_Txt-inline">「過去のキャンペーン・特典」（キャンペーンページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <a href="https://r10.to/h6fdAB" target="_blank" class="c-Link_Txt-inline">「キャンペーンの条件やポイント付与時期に関するご質問」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
      </div>
    </div>

  </div>
</div>
<!--- / campaign -->
