<% const namespace = "ecare" -%>
<!-- contract-detail -->
<div class="c-Accordion">
  <button type="button" id="<%= prefix %>accordion-member-contract-detail" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Parent" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-contract-detail" data-effect="false" data-ratid="ecare-s-<%= type %>_category_member_contract-detail" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Rakuten-account-f"></span>契約内容・お手続き<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
  <div id="<%= prefix %>accordion-content-member-contract-detail" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-contract-detail" aria-hidden="true">

    <div class="c-Accordion u-Adjust_Mt-24">
      <button type="button" id="<%= prefix %>accordion-member-contract-detail-1" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-contract-detail-1" data-ratid="ecare-s-<%= type %>_member_contract-detail_accordion_01" data-ratevent="click" data-ratparam="all" data-effect="false">契約内容を確認したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-contract-detail-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-contract-detail-1" aria-hidden="true">
        <p>以下のボタンよりご確認いただけます。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard#contracts" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_01_001" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">契約情報へ進む</a>
        </div>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hMgMpC" target="_blank" class="c-Link_Txt-inline">「契約情報（ご契約内容のご案内・契約書）を確認したい」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-contract-detail-2" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-contract-detail-2" data-ratid="ecare-s-<%= type %>_member_contract-detail_accordion_02" data-ratevent="click" data-ratparam="all" data-effect="false">契約／請求先住所を確認・変更したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-contract-detail-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-contract-detail-2" aria-hidden="true">
        <p>以下のボタンよりご確認・ご変更いただけます。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard?scrollTo=contactInfo#personal-info" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_01_002" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">契約者情報へ進む</a>
        </div>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hal1ds" target="_blank" class="c-Link_Txt-inline">「契約住所の確認・変更方法」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/haqja3" target="_blank" class="c-Link_Txt-inline">「請求先住所の確認・変更方法」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-contract-detail-3" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-contract-detail-3" data-ratid="ecare-s-<%= type %>_member_contract-detail_accordion_03" data-ratevent="click" data-ratparam="all" data-effect="false">連絡先メールアドレスを確認・変更したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-contract-detail-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-contract-detail-3" aria-hidden="true">
        <p>以下のボタンよりご確認・ご変更いただけます。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard?scrollTo=contactInfo#personal-info" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_01_003" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">契約者情報へ進む</a>
        </div>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/h5dVdQ" target="_blank" class="c-Link_Txt-inline">「契約時に登録したメールアドレスの変更方法」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-contract-detail-4" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-contract-detail-4" data-ratid="ecare-s-<%= type %>_member_contract-detail_accordion_04" data-ratevent="click" data-ratparam="all" data-effect="false">連絡先情報の電話番号を確認・変更したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-contract-detail-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-contract-detail-4" aria-hidden="true">
        <p>以下のボタンよりご確認いただけます。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard?scrollTo=contactInfo#personal-info" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_01_004" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">契約者情報へ進む</a>
        </div>
        <p class="u-Adjust_Mt-16">変更をご希望の際は、コミュニケーションセンターへお電話もしくは、チャット相談にてお手続きください。</p>
        <p class="u-Adjust_Mt-16">サポートページ下部の「お問い合わせ窓口に相談する」まで進み、ご利用する窓口をタップしてください。</p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-contract-detail-5" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-contract-detail-5" data-ratid="ecare-s-<%= type %>_member_contract-detail_accordion_05" data-ratevent="click" data-ratparam="all" data-effect="false">改姓・改名により契約者名を変更したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-contract-detail-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-contract-detail-5" aria-hidden="true">
        <p>
          ご契約者様の氏名の変更（改姓・改名）をされる場合、書類の郵送が必要となります。<br>
          以下のページで詳細をご確認ください。
        </p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hM7NAq" target="_blank" class="c-Link_Txt-inline">「契約者の名義変更（改姓・改名）をしたい」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-contract-detail-6" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-contract-detail-6" data-ratid="ecare-s-<%= type %>_member_contract-detail_accordion_06" data-ratevent="click" data-ratparam="all" data-effect="false">契約の譲渡・承継をしたい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-contract-detail-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-contract-detail-6" aria-hidden="true">
        <p class="c-Txt_Emp-01">譲渡</p>
        <% if (type == 'web') { %>
          <p class="u-Adjust_Mt-16">
            ご家族や第三者に通信サービス契約を譲り渡し、契約者を変更をするお手続きです。<br>
            以下のボタンから「各種手続きはこちら」をタップしてお進みください。
          </p>
        <% } else { %>
          <p class="u-Adjust_Mt-16">
            ご家族や第三者に通信サービス契約を譲り渡し、契約者を変更をするお手続きです。<br>
            以下のボタンから「手続へ進む」をタップしてお進みください。
          </p>
        <% } %>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard?scrollTo=simAndLinesAction#plans" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_01_006" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">契約プラン（各種手続き）へ進む</a>
        </div>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hM9SXo" target="_blank" class="c-Link_Txt-inline">「契約者変更手続き（譲渡）」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-24 c-Txt_Emp-01">承継</p>
        <p class="u-Adjust_Mt-8">
          ご契約者様が逝去され、通信サービス契約を引き継いでご利用いただくお手続きです。<br>
        </p>
        <p class="u-Adjust_Mt-8">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/h5sgaK" target="_blank" class="c-Link_Txt-inline">「契約者変更手続き（承継）」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-contract-detail-7" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-contract-detail-7" data-ratid="ecare-s-<%= type %>_member_contract-detail_accordion_07" data-ratevent="click" data-ratparam="all" data-effect="false">留守番電話・着信転送など通話サービスを確認・変更したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-contract-detail-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-contract-detail-7" aria-hidden="true">
        <p>
          以下のボタンよりご確認・ご変更いただけます<br>
          追加・解約・設定をしたいサービスの右側のスライダーでオン・オフを選択し、「変更する」をタップしてください。
        </p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">
          ※留守番電話と着信転送は同時に設定できません。
        </p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard?scrollTo=domesticServices#plans" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_01_007" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">契約プランへ進む</a>
        </div>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hNQRkw" target="_blank" class="c-Link_Txt-inline">「通話サービスの追加・解約（一時停止）・設定方法」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-contract-detail-8" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-contract-detail-8" data-ratid="ecare-s-<%= type %>_member_contract-detail_accordion_08" data-ratevent="click" data-ratparam="all" data-effect="false">キャリア決済を設定・変更したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-contract-detail-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-contract-detail-8" aria-hidden="true">
        <p>以下のボタンよりご確認・ご変更いただけます。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard#carrier-billing" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_01_008" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">キャリア決済へ進む</a>
        </div>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hMTNlM" target="_blank" class="c-Link_Txt-inline">「楽天モバイルキャリア決済 Google Playストアでの設定・ご利用方法」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-contract-detail-9" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-contract-detail-9" data-ratid="ecare-s-<%= type %>_member_contract-detail_accordion_09" data-ratevent="click" data-ratparam="all" data-effect="false">海外ローミング、国際通話／SMSサービスを確認・変更したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-contract-detail-9" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-contract-detail-9" aria-hidden="true">
        <p>
          以下のボタンよりご確認・ご変更いただけます。<br>
          追加・解約・設定をしたいサービスの右側のスライダーでオン・オフを選択し、「変更する」をタップしてください。
        </p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※一部、確認画面に遷移するものがあります。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard?scrollTo=internationalServices#plans" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_01_009" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">契約プランへ進む</a>
        </div>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hMkauA" target="_blank" class="c-Link_Txt-inline">「海外ローミング（データ通信）」（オプションサービスページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hM7N7z" target="_blank" class="c-Link_Txt-inline">「国際通話」（オプションサービスページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hMGFO9" target="_blank" class="c-Link_Txt-inline">「国際SMS」（オプションサービスページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-contract-detail-10" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-contract-detail-10" data-ratid="ecare-s-<%= type %>_member_contract-detail_accordion_10" data-ratevent="click" data-ratparam="all" data-effect="false">オプションサービスを確認・変更したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-contract-detail-10" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-contract-detail-10" aria-hidden="true">
        <p>以下のボタンよりご確認・ご変更いただけます。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard#plans" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_01_010" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">契約プランへ進む</a>
        </div>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/ha2mhY" target="_blank" class="c-Link_Txt-inline">「オプションサービスの追加・解約方法」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-24">
          18歳未満の方のフィルタリングサービス解約は不要申出書の提出が必要です。<br>
          以下のページで詳細をご確認ください。
        </p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/huIaTE" target="_blank" class="c-Link_Txt-inline">「あんしんコントロール by i-フィルター（停止・アンインストール方法）」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-contract-detail-11" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-contract-detail-11" data-ratid="ecare-s-<%= type %>_member_contract-detail_accordion_11" data-ratevent="click" data-ratparam="all" data-effect="false">保証サービスを解約したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-contract-detail-11" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-contract-detail-11" aria-hidden="true">
        <p class="c-Txt_Emp-01">持ち込みスマホあんしん保証を除く保証サービス</p>
        <p class="u-Adjust_Mt-8">
          以下のボタンから、「（該当する保証サービス名）を解約する」をタップしてお進みください。
        </p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard#home" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_01_011_01" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">ホームへ進む</a>
        </div>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-24">持ち込みスマホあんしん保証</p>
        <p class="u-Adjust_Mt-8">
          以下のボタンから、「オプションサービスの追加・解約」をタップしてお進みください。
        </p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard#plans" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_01_011_02" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">契約プランへ進む</a>
        </div>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/h6quxI" target="_blank" class="c-Link_Txt-inline">「オプションの解約方法」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-contract-detail-12" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-contract-detail-12" data-ratid="ecare-s-<%= type %>_member_contract-detail_accordion_12" data-ratevent="click" data-ratparam="all" data-effect="false">オプションサービスが追加できない<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-contract-detail-12" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-contract-detail-12" aria-hidden="true">
        <p>以下のオプションサービスは新規お申し込み・製品購入時のみお申し込みできます。</p>
        <p class="u-Adjust_Mt-16 c-Txt_Emp-01">対象製品セットでお申し込み時に追加可能</p>
        <ul class="u-Adjust_Mt-16 c-List_Text-disc">
          <li>スマホ交換保証プラス</li>
          <li>故障紛失保証 with AppleCare Services & iCloud+</li>
          <li>あんしん保証with AppleCare Services for Apple Watch</li>
          <li>楽天モバイルiPhoneアップグレードプログラム</li>
        </ul>
        <p class="u-Adjust_Mt-24 c-Txt_Emp-01">SIMのみお申し込み時に追加可能</p>
        <ul class="u-Adjust_Mt-16 c-List_Text-disc">
          <li>持ち込みスマホあんしん保証※</li>
        </ul>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天回線の開通日から30日以内であれば追加可能です。お申込み後、専用ページで製品登録が必要です。</p>
        <p class="u-Adjust_Mt-16">以下のオプションサービスは、解約月に再申し込みができません。</p>
        <ul class="u-Adjust_Mt-16 c-List_Text-disc">
          <li>15分（標準）通話かけ放題</li>
        </ul>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-contract-detail-14" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-contract-detail-14" data-ratid="ecare-s-<%= type %>_member_contract-detail_accordion_14" data-ratevent="click" data-ratparam="all" data-effect="false">楽天モバイルに紐づく楽天IDを変更したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-contract-detail-14" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-contract-detail-14" aria-hidden="true">
        <p>以下のボタンから「楽天会員情報を変更する」をタップしてください。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard#personal-info" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_01_014" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">契約者情報へ進む</a>
        </div>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/h6eVgj" target="_blank" class="c-Link_Txt-inline">「契約に紐づけられている楽天ID（楽天ポイント口座）の変更方法」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-contract-detail-13" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-contract-detail-13" data-ratid="ecare-s-<%= type %>_member_contract-detail_accordion_13" data-ratevent="click" data-ratparam="all" data-effect="false">現在利用しているSIMタイプを確認したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-contract-detail-13" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-contract-detail-13" aria-hidden="true">
        <p>
          以下のボタンより該当の申込番号を選択し、「お申し込み内容」のSIMカードイラストをご確認ください。<br>
          eSIMと記載されている場合はeSIM、記載されていない場合はSIMカードとなります。
        </p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard#orders" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_01_013" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">申し込み履歴へ進む</a>
        </div>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/h6vBzw" target="_blank" class="c-Link_Txt-inline">「現在利用しているSIMタイプの確認方法」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-contract-detail-15" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-contract-detail-15" data-ratid="ecare-s-<%= type %>_member_contract-detail_accordion_15" data-ratevent="click" data-ratparam="all" data-effect="false">登録した性別を変更したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-contract-detail-15" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-contract-detail-15" aria-hidden="true">
        <p>コミュニケーションセンターへお電話もしくは、チャット相談にてお手続きください。</p>
        <p class="u-Adjust_Mt-16">サポートページ下部の「お問い合わせ窓口に相談する」まで進み、ご利用する窓口をタップしてください。</p>
      </div>
    </div>

  </div>
</div>
<!-- / contract-detail-->
