<% const namespace = "ecare" -%>
<!---  initial-setting -->
<div class="c-Accordion">
  <button type="button" id="<%= prefix %>accordion-member-initial-setting" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Parent" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-initial-setting" data-effect="false" data-ratid="ecare-s-<%= type %>_category_member_initial-setting" data-ratevent="click" data-ratparam="all"><span class="c-Icon_New-user-f"></span>ご利用開始までの設定<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
  <div id="<%= prefix %>accordion-content-member-initial-setting" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-initial-setting" aria-hidden="true">

    <div class="c-Accordion u-Adjust_Mt-24">
      <button type="button" id="<%= prefix %>accordion-member-initial-setting-1" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-initial-setting-1" data-ratid="ecare-s-<%= type %>_member_initial-setting_accordion_01" data-ratevent="click" data-ratparam="all" data-effect="false">初期設定をしたい（Android）<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-initial-setting-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-initial-setting-1" aria-hidden="true">
        <p>以下のページで該当する製品をタップし、初期設定方法をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/h6wSVj" target="_blank" class="c-Link_Txt-inline">「各種製品の初期設定」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16">楽天モバイル以外で購入したAndroid製品で楽天回線がご利用できるかは、以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hME79D" target="_blank" class="c-Link_Txt-inline">「ご利用製品の対応状況確認」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-initial-setting-2" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-initial-setting-2" data-ratid="ecare-s-<%= type %>_member_initial-setting_accordion_02" data-ratevent="click" data-ratparam="all" data-effect="false">初期設定をしたい（iPhone）<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-initial-setting-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-initial-setting-2" aria-hidden="true">
        <p>SIMタイプ別の初期設定方法は以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-16">
          <a href="https://r10.to/huNgEo" target="_blank" class="c-Link_Txt-inline">「iPhone＋プランセット購入者向け初期設定方法（SIMカード）」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16">
          <a href="https://r10.to/h6ThgB" target="_blank" class="c-Link_Txt-inline">「iPhone＋プランセット購入者向け初期設定方法（eSIM）」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16">
          <a href="https://r10.to/hNXMpa" target="_blank" class="c-Link_Txt-inline">「iPhone 14＋プランセット購入者向け初期設定方法（eSIM利用）「AIかんたん本人確認（eKYC）」にてご契約」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-24 c-Txt_Emp-01">お申し込みしたSIMタイプが不明な場合</p>
        <p class="u-Adjust_Mt-8">以下のボタンから「回線開通完了」と記載された申込番号を選択し、表示されたSIMのアイコンをご確認ください。<br>
          eSIMの場合は「eSIM」と記載があり、SIMカードには文字の記載はありません。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard#orders" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_06_002" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">申し込み履歴へ進む</a>
        </div>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-initial-setting-4" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-initial-setting-4" data-ratid="ecare-s-<%= type %>_member_initial-setting_accordion_04" data-ratevent="click" data-ratparam="all" data-effect="false">申込みSIMタイプを間違えた／SIMの初期不良を交換したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-initial-setting-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-initial-setting-4" aria-hidden="true">
        <p>以下のボタンから「SIM再発行を申請する」をタップしてSIM交換の手続きへお進みください。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard?scrollTo=simAndLinesAction#plans" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_06_004" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">契約プラン（各種手続き）へ進む</a>
        </div>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hUEgme" target="_blank" class="c-Link_Txt-inline">「異なるSIMタイプを申し込んでしまった場合の対応」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hUcK8G" target="_blank" class="c-Link_Txt-inline">「SIMの利用停止/再開や再発行手続き方法」（サポートページ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-initial-setting-3" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-initial-setting-3" data-ratid="ecare-s-<%= type %>_member_initial-setting_accordion_03" data-ratevent="click" data-ratparam="all" data-effect="false">MNP転入／移行ができない<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-initial-setting-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-initial-setting-3" aria-hidden="true">
        <p>以下の項目に該当するものがないか、ご確認ください。</p>
        <ul class="u-Adjust_Mt-16 c-List_Text-disc">
          <li>my 楽天モバイルで「MNP転入を開始する」ボタンをタップしていない</li>
          <li>MNP予約番号が有効期限が過ぎている</li>
          <li>転出元の通信事業者の名義と、楽天モバイルに登録した名義が異なる</li>
          <li>本人確認が完了していない</li>
          <li>当日中に転入可能なMNP受付時間（21:00）を過ぎている</li>
        </ul>
        <p class="u-Adjust_Mt-16">「MNP転入を開始する」ボタンや、本人確認の状況については以下より該当の申込番号を選択ください。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard#orders" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_06_003" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">申し込み履歴へ進む</a>
        </div>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/huMZ1b" target="_blank" class="c-Link_Txt-inline">「MNP転入ができない」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hUQdbY" target="_blank" class="c-Link_Txt-inline">「MNP予約番号の再取得方法」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hNDCeT" target="_blank" class="c-Link_Txt-inline">「楽天モバイル（ドコモ回線・au回線）から楽天回線へのプラン変更(移行)できない」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>

  </div>
</div>
<!--- / initial-setting -->
