<% const namespace = "ecare" -%>
<!---  link -->
<div class="c-Accordion">
  <button type="button" id="<%= prefix %>accordion-member-link" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Parent" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-link" data-effect="false" data-ratid="ecare-s-<%= type %>_category_member_link" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Product-rakuten-link"></span>Rakuten Link<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
  <div id="<%= prefix %>accordion-content-member-link" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-link" aria-hidden="true">

    <div class="c-Accordion u-Adjust_Mt-24">
      <button type="button" id="<%= prefix %>accordion-member-link-1" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-link-1" data-ratid="ecare-s-<%= type %>_member_link_accordion_01" data-ratevent="click" data-ratparam="all" data-effect="false">初期設定をしたい（Android版）<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-link-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-link-1" aria-hidden="true">
        <p>Wi-Fiの接続を切り、アンテナマーク（LTE／4G／5G）が表示されている状態で以下のページで詳細をご確認のうえ、お手続きください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hMYOfi" target="_blank" class="c-Link_Txt-inline">「Rakuten Linkの初期設定をする（Android版）」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※Rakuten Linkの初期設定は、楽天回線開通後に設定することができます。</p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-link-2" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-link-2" data-ratid="ecare-s-<%= type %>_member_link_accordion_02" data-ratevent="click" data-ratparam="all" data-effect="false">初期設定をしたい（iOS版）<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-link-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-link-2" aria-hidden="true">
        <p>Wi-Fiの接続を切り、アンテナマーク（LTE／4G／5G）が表示されている状態で以下のページで詳細をご確認のうえ、お手続きください</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hatrH3" target="_blank" class="c-Link_Txt-inline">「Rakuten Linkの初期設定をする（iOS版）」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※Rakuten Linkの初期設定は、楽天回線開通後に設定することができます。</p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-link-3" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-link-3" data-ratid="ecare-s-<%= type %>_member_link_accordion_03" data-ratevent="click" data-ratparam="all" data-effect="false">利用方法を知りたい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-link-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-link-3" aria-hidden="true">
        <p>以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hURL5L" target="_blank" class="c-Link_Txt-inline">「Rakuten Linkアプリの使い方」（Rakuten Linkページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-link-4" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-link-4" data-ratid="ecare-s-<%= type %>_member_link_accordion_04" data-ratevent="click" data-ratparam="all" data-effect="false">動作が不安定<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-link-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-link-4" aria-hidden="true">
        <p>以下のページで該当する不具合を選択し、解決できるかご確認ください。<br>
          ご確認のうえ、解決しない場合はメールお問い合わせいただけます。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hUCJRX" target="_blank" class="c-Link_Txt-inline">「Rakuten Linkの不具合に関するお問い合わせフォーム」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-link-5" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-link-5" data-ratid="ecare-s-<%= type %>_member_link_accordion_05" data-ratevent="click" data-ratparam="all" data-effect="false">ログインできない<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-link-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-link-5" aria-hidden="true">
        <p>以下の項目をお試しください。</p>
        <ul class="u-Adjust_Mt-16 c-List_Text-disc">
          <li>Wi-FiをOFFにし、モバイルデータ通信でアプリを立ち上げる</li>
          <li>楽天IDを確認する（楽天モバイルへお申し込みした楽天IDをご利用ください）</li>
          <li>Rakuten Linkアプリを最新版に更新する</li>
        </ul>
        <p class="u-Adjust_Mt-16">上記の項目で解決しない場合、以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hu3x4v" target="_blank" class="c-Link_Txt-inline">「初期設定時にSMSでの認証コードが届かない」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/h6ibSP" target="_blank" class="c-Link_Txt-inline">「ログイン画面でエラーが表示される」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-link-6" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-link-6" data-ratid="ecare-s-<%= type %>_member_link_accordion_06" data-ratevent="click" data-ratparam="all" data-effect="false">音声通話が不安定（Rakuten Link）<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-link-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-link-6" aria-hidden="true">
        <p>
          以下のページから対処方法をご確認ください。
        </p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hk3eU7" target="_blank" class="c-Link_Txt-inline">「Rakuten Linkに不具合があった場合どうすればよいですか？」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
  </div>
</div>
<!--- / link -->
