<% const namespace = "ecare" -%>
<!---  other -->
<div class="c-Accordion">
  <button type="button" id="<%= prefix %>accordion-member-other" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Parent" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-other" data-effect="false" data-ratid="ecare-s-<%= type %>_category_member_other" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Meatball-horizontal-f"></span>その他<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
  <div id="<%= prefix %>accordion-content-member-other" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-other" aria-hidden="true">

    <div class="c-Accordion u-Adjust_Mt-24">
      <button type="button" id="<%= prefix %>accordion-member-other-1" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-other-1" data-ratid="ecare-s-<%= type %>_member_other_accordion_01" data-ratevent="click" data-ratparam="all" data-effect="false">その他<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-other-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-other-1" aria-hidden="true">
        <p>お困りごとについて該当する項目がない場合、お客様サポートでご案内している場合があります。<br>
          キーワード検索のご利用や該当するカテゴリでお探しの情報がないかご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hMTLhk" target="_blank" class="c-Link_Txt-inline">「お客様サポート」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-other-2" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-other-2" data-ratid="ecare-s-<%= type %>_member_other_accordion_02" data-ratevent="click" data-ratparam="all" data-effect="false">楽天グループの問い合わせ窓口を知りたい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-other-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-other-2" aria-hidden="true">
        <p>以下のページより対象のサービスをお選びいただき、お問い合わせください。</p>
        <p class="u-Adjust_Mt-16">
          <a href="https://r10.to/haebTA" target="_blank" class="c-Link_Txt-inline">「楽天グループ サービス一覧」（楽天グループページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-other-3" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-other-3" data-ratid="ecare-s-<%= type %>_member_other_accordion_03" data-ratevent="click" data-ratparam="all" data-effect="false">解約したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-other-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-other-3" aria-hidden="true">
        <p class="c-Txt_Emp-01">ご契約様ご本人のご解約</p>
        <% if (type == 'web') { %>
          <p class="u-Adjust_Mt-16">以下のボタンより「各種手続きへ進む」をタップしてお進みください。</p>
        <% } else { %>
          <p class="u-Adjust_Mt-16">以下のボタンより「手続きへ進む」をタップしてお進みください。</p>
        <% } %>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard?scrollTo=simAndLinesAction#plans" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_12_003" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">契約プランへ進む</a>
        </div>
        <p class="u-Adjust_Mt-16 c-Txt_Cap">
            ※未払い料金が残っている場合、楽天モバイルを解約できません。<br>
            ※一部の保証オプションは楽天回線を解約しても解約にならず、個別で解約が必要です。
        </p>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-16">ご契約者様が逝去によるご解約</p>
        <p class="u-Adjust_Mt-16">以下のページで詳細をご確認いただき、郵送にてお手続ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hMH4T2" target="_blank" class="c-Link_Txt-inline">「ご契約者が逝去した場合の解約方法」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hMVVzH" target="_blank" class="c-Link_Txt-inline">「ご解約について」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-other-4" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-other-4" data-ratid="ecare-s-<%= type %>_member_other_accordion_04" data-ratevent="click" data-ratparam="all" data-effect="false">他社へ乗り換え（MNP）したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-other-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-other-4" aria-hidden="true">
        <% if (type == 'web') { %>
          <p>以下のボタンより「各種手続きへ進む」をタップしてお進みください。</p>
        <% } else { %>
          <p>以下のボタンより「手続きへ進む」をタップしてお進みください。</p>
        <% } %>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard?scrollTo=simAndLinesAction#plans" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_12_004" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">契約プランへ進む</a>
        </div>
        <p class="u-Adjust_Mt-16 c-Txt_Cap">
            ※未払い料金が残っている場合、楽天モバイルを解約できません。<br>
            ※一部の保証オプションは楽天回線を解約しても解約にならず、個別で解約が必要です。
        </p>
        <p class="u-Adjust_Mt-16">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hMTNSn" target="_blank" class="c-Link_Txt-inline">「他社へのお乗り換え（MNP転出）について」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-other-6" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-other-6" data-ratid="ecare-s-<%= type %>_member_other_accordion_06" data-ratevent="click" data-ratparam="all" data-effect="false">解約状況を確認したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-other-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-other-6" aria-hidden="true">
        <p>以下のボタンよりご確認いただけます。</p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※解約手続き後、反映されるまでに時間がかかる場合があります。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard?#plans" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_12_006" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">契約プランへ進む</a>
        </div>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hNeI5R" target="_blank" class="c-Link_Txt-inline">「解約済みであることの確認方法について」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-other-5" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-other-5" data-ratid="ecare-s-<%= type %>_member_other_accordion_05" data-ratevent="click" data-ratparam="all" data-effect="false">MNP予約番号を再発行したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-other-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-other-5" aria-hidden="true">
        <p>発行済みのMNP予約番号の有効期限（発行日を含め15日間）が切れた時点で再度発行いただけます。</p>
        <% if (type == 'web') { %>
          <p class="u-Adjust_Mt-16">以下のボタンより「各種手続きへ進む」をタップしてお進みください。</p>
        <% } else { %>
          <p class="u-Adjust_Mt-16">以下のボタンより「各種お手続きはこちら」をタップしてお進みください。</p>
        <% } %>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard?scrollTo=simAndLinesAction#plans" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_12_005" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">契約プランへ進む</a>
        </div>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hUKsYm" target="_blank" class="c-Link_Txt-inline">MNP予約番号再発行について（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-other-7" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-other-7" data-ratid="ecare-s-<%= type %>_member_other_accordion_07" data-ratevent="click" data-ratparam="all" data-effect="false">楽メールの持ち運びをしたい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-other-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-other-7" aria-hidden="true">
        <p>お申し込み可能期間は、解約日を含めた31日間です。</p>
        <p class="u-Adjust_Mt-16">楽天モバイル（楽天回線）を解約、譲渡、MNP転出後に以下のボタンよりお手続きいただけます。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard?#home" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_12_007" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">ホームへ進む</a>
        </div>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hNZlNR" target="_blank" class="c-Link_Txt-inline">「楽メール持ち運び（お申し込み・ご利用・解約方法）」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>

  </div>
</div>
<!--- / other -->
