<% const namespace = "ecare" -%>
<!---  payment -->
<div class="c-Accordion">
  <button type="button" id="<%= prefix %>accordion-member-payment" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Parent" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-payment" data-effect="false" data-ratid="ecare-s-<%= type %>_fs_payment" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Credit-card-f"></span>請求・お支払い方法<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
  <div id="<%= prefix %>accordion-content-member-payment" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-payment" aria-hidden="true">

    <div class="c-Accordion u-Adjust_Mt-24">
      <button type="button" id="<%= prefix %>accordion-member-payment-1" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-payment-1" data-ratid="ecare-s-<%= type %>_fs_payment_accordion_01" data-ratevent="click" data-ratparam="all" data-effect="false">利用料金・請求金額を確認したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-payment-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-payment-1" aria-hidden="true">
        <p>毎月4日以降順次、以下のボタンよりご確認いただけます。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard#billing" target="_parent" data-ratid="ecare-s-<%= type %>_fs_support_01_02_001" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">利用料金へ進む</a>
        </div>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hM55vH" target="_blank" class="c-Link_Txt-inline">「請求金額の確定とお支払い完了までの流れ」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-payment-2" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-payment-2" data-ratid="ecare-s-<%= type %>_fs_payment_accordion_02" data-ratevent="click" data-ratparam="all" data-effect="false">未払い料金を支払いたい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-payment-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-payment-2" aria-hidden="true">
        <p>ご利用料金のお引き落としが確認できなかった場合、以下のボタンから、「未払い料金を支払う」をタップしてお進みください。</p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※ハガキ（コンビニ払込票）でのお支払いと重複しないよう、ご注意ください。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard#billing" target="_parent" data-ratid="ecare-s-<%= type %>_fs_support_01_02_002" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">利用料金へ進む</a>
        </div>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hMVZ23" target="_blank" class="c-Link_Txt-inline">「未払い料金のお支払い方法」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-payment-3" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-payment-3" data-ratid="ecare-s-<%= type %>_fs_payment_accordion_03" data-ratevent="click" data-ratparam="all" data-effect="false">支払い方法を変更したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-payment-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-payment-3" aria-hidden="true">
        <p>以下のボタンよりご変更いただけます。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard#payment" target="_parent" data-ratid="ecare-s-<%= type %>_fs_support_01_02_003" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">支払い情報へ進む</a>
        </div>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/h8uFNO" target="_blank" class="c-Link_Txt-inline">「お支払い方法の確認・変更方法」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-payment-4" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-payment-4" data-ratid="ecare-s-<%= type %>_fs_payment_accordion_04" data-ratevent="click" data-ratparam="all" data-effect="false">楽天ポイントを利用したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-payment-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-payment-4" aria-hidden="true">
        <p>クレジットカード・デビットカードご利用の方は、製品や月々のお支払いに楽天ポイントをご利用いただけます。
          以下のボタンからご変更いただけます。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard#payment" target="_parent" data-ratid="ecare-s-<%= type %>_fs_support_01_02_004" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">支払い情報へ進む</a>
        </div>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/h5hP9N" target="_blank" class="c-Link_Txt-inline">「楽天ポイント利用の設定方法」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hUiPsz" target="_blank" class="c-Link_Txt-inline">「楽天ポイントの利用」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-payment-5" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-payment-5" data-ratid="ecare-s-<%= type %>_fs_payment_accordion_05" data-ratevent="click" data-ratparam="all" data-effect="false">利用明細を確認したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-payment-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-payment-5" aria-hidden="true">
        <p>以下のボタンよりご確認いただけます。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard?scrollTo=periodicInvoice#invoices/" target="_parent" data-ratid="ecare-s-<%= type %>_fs_support_01_02_005" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">利用明細へ進む</a>
        </div>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8"><a href="https://r10.to/hUZzfw" target="_blank" class="c-Link_Txt-inline">「利用明細と各種明細の確認方法」（サポートページへ）<span class="c-Icon_New-window-l"></span></a></p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-payment-6" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-payment-6" data-ratid="ecare-s-<%= type %>_fs_payment_accordion_06" data-ratevent="click" data-ratparam="all" data-effect="false">端末購入証明書を発行したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-payment-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-payment-6" aria-hidden="true">
        <p class="c-Txt_Cap">※Webとアプリでタップするボタンの名称が異なります。</p>
        <p class="u-Adjust_Mt-16">以下のボタンより、Web・アプリに応じた手順でダウンロードしてください。<br>
        購入証明書の表示期間は12カ月間です。</p>
        <p class="u-Adjust_Mt-16 c-Txt_Emp-01">my 楽天モバイルWebの場合</p>
        <p class="u-Adjust_Mt-8">製品情報「全ての製品情報」→製品名「購入証明書」をタップして進む</p>
        <p class="u-Adjust_Mt-16 c-Txt_Emp-01">my 楽天モバイルアプリの場合</p>
        <p class="u-Adjust_Mt-8">モバイル製品情報「製品の詳細・保証のお手続き」→「購入証明書」をタップして進む</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard#home" target="_parent" data-ratid="ecare-s-<%= type %>_fs_support_01_02_006" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">ホームへ進む</a>
        </div>
        <p class="u-Adjust_Mt-24">
          以下のページで詳細をご確認ください。
        </p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/h6qDvh" target="_blank" class="c-Link_Txt-inline">「製品を購入/支払いした時の証明書を確認する方法」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-payment-7" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-payment-7" data-ratid="ecare-s-<%= type %>_fs_payment_accordion_07" data-ratevent="click" data-ratparam="all" data-effect="false">支払い証明書を発行したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-payment-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-payment-7" aria-hidden="true">
        <p>
          以下のボタンより、Web・アプリに応じた手順でダウンロードしてください。<br>
          支払い証明書の表示期間は12カ月間です。
        </p>
        <p class="u-Adjust_Mt-16 c-Txt_Emp-01">my 楽天モバイルWebの場合</p>
        <p class="u-Adjust_Mt-8">製品情報「全ての製品情報」→製品名「支払い証明書」をタップして進む</p>
        <p class="u-Adjust_Mt-16 c-Txt_Emp-01">my 楽天モバイルアプリの場合</p>
        <p class="u-Adjust_Mt-8">モバイル製品情報「製品の詳細・保証のお手続き」→「支払い証明書」をタップして進む</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard#home" target="_parent" data-ratid="ecare-s-<%= type %>_fs_support_01_02_007" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">ホームへ進む</a>
        </div>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hkytLm" target="_blank" class="c-Link_Txt-inline">「製品を購入/支払いした時の証明書を確認する方法」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-payment-8" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-payment-8" data-ratid="ecare-s-<%= type %>_fs_payment_accordion_08" data-ratevent="click" data-ratparam="all" data-effect="false">通話・SMS・データ利用明細を確認したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-payment-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-payment-8" aria-hidden="true">
        <p>以下のボタンより、対象の利用月を選択し、「利用明細を見る」をタップしてください。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard#billing" target="_parent" data-ratid="ecare-s-<%= type %>_fs_support_01_02_008" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">利用料金へ進む</a>
        </div>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hU4MjO" target="_blank" class="c-Link_Txt-inline">「利用明細と各種明細の確認方法」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-payment-9" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-payment-9" data-ratid="ecare-s-<%= type %>_fs_payment_accordion_09" data-ratevent="click" data-ratparam="all" data-effect="false">覚えのない請求が発生している<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-payment-9" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-payment-9" aria-hidden="true">
        <p>
          以下のページで詳細をご確認ください
        </p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/h6ODce" target="_blank" class="c-Link_Txt-inline">「覚えのない請求が発生している」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hU07Cr" target="_blank" class="c-Link_Txt-inline">「解約・譲渡したが、利用した覚えのない請求が発生している」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16">ご利用明細は以下のボタンよりご確認いただけます。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard#billing" target="_parent" data-ratid="ecare-s-<%= type %>_fs_support_01_02_009" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">利用料金へ進む</a>
        </div>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-payment-12" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-payment-12" data-ratid="ecare-s-<%= type %>_fs_payment_accordion_12" data-ratevent="click" data-ratparam="all" data-effect="false">支払い状況を確認したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-payment-12" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-payment-12" aria-hidden="true">
        <p>以下のボタンよりご確認いただけます。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard#billing" target="_parent" data-ratid="ecare-s-<%= type %>_fs_support_01_02_012" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">利用料金へ進む</a>
        </div>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hY2jP6" target="_blank" class="c-Link_Txt-inline">「「請求金額の確定とお支払い完了までの流れ」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16 c-Txt_Emp-01">未払い料金がある場合</p>
        <p class="u-Adjust_Mt-8">以下のページで詳細をご確認ください。未払い料金お支払い後の流れもご案内しています。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/h6Crde" target="_blank" class="c-Link_Txt-inline">「未払い料金の発生からご利用停止・契約解除まで」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-payment-11" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-payment-11" data-ratid="ecare-s-<%= type %>_fs_payment_accordion_11" data-ratevent="click" data-ratparam="all" data-effect="false">支払いができていない理由を知りたい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-payment-11" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-payment-11" aria-hidden="true">
        <p>お支払い方法により理由が異なります。</p>
        <p class="u-Adjust_Mt-16 c-Txt_Emp-01">クレジットカード／デビットカードの場合</p>
        <p class="u-Adjust_Mt-8">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/h6jpBD" target="_blank" class="c-Link_Txt-inline">「クレジットカード／デビットカードで支払いができていない原因」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16 c-Txt_Emp-01">口座振替の場合</p>
        <p class="u-Adjust_Mt-8">口座残高が不足していないかご確認ください。</p>
        <p class="u-Adjust_Mt-16 c-Txt_Emp-01">楽天ポイント利用の場合</p>
        <p class="u-Adjust_Mt-8">支払い方法に設定しているクレジットカード／デビットカードが使用できない場合、ご利用いただけません。</p>
        <p class="u-Adjust_Mt-8">以下のボタンよりクレジットカード／デビットカードをご確認・変更いただけます。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard#payment" target="_parent" data-ratid="ecare-s-<%= type %>_fs_support_01_02_011" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">支払い情報へ進む</a>
        </div>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/h6AhW1" target="_blank" class="c-Link_Txt-inline">「請求金額以上の楽天ポイントを保有していたのに、支払いができていない」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16 c-Txt_Emp-01">お支払いができなかった料金について</p>
        <p class="u-Adjust_Mt-8">お支払いができていない料金は「未払い料金」となります。</p>
        <p class="u-Adjust_Mt-8">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hgJhy1" target="_blank" class="c-Link_Txt-inline">「未払い料金のお支払い方法」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-payment-13" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-payment-13" data-ratid="ecare-s-<%= type %>_fs_payment_accordion_13" data-ratevent="click" data-ratparam="all" data-effect="false">製品の支払い回数の確認・変更したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-payment-13" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-payment-13" aria-hidden="true">
        <p>以下のボタンから、該当の申込番号を選択すると、設定した支払い回数がご確認いただけます。<br>
        なお、設定した支払い回数は変更できません。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard#orders" target="_parent" data-ratid="ecare-s-<%= type %>_fs_support_01_02_013" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">申し込み履歴へ進む</a>
        </div>
        <p class="u-Adjust_Mt-24">残りの支払い回数と金額の確認については、クレジットカード会社へお問い合わせをお願いいたします。</p>
        <p class="u-Adjust_Mt-8">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hNFvTV" target="_blank" class="c-Link_Txt-inline">「製品を分割払い時の残りの支払い回数と金額の確認」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-payment-10" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-payment-10" data-ratid="ecare-s-<%= type %>_fs_payment_accordion_10" data-ratevent="click" data-ratparam="all" data-effect="false">月額料金の支払い証明書を発行したい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-payment-10" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-payment-10" aria-hidden="true">
        <p>以下のボタンから「支払い証明書（お支払い後より順次）」をタップしてください。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard?scrollTo=periodicInvoice#invoices/" target="_parent" data-ratid="ecare-s-<%= type %>_fs_support_01_02_010" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">利用明細へ進む</a>
        </div>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/h8Y1HH" target="_blank" class="c-Link_Txt-inline">「プラン料金など月額料金の支払いに関する証明書（支払い証明書）の確認方法」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-payment-14" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-payment-14" data-ratid="ecare-s-<%= type %>_fs_payment_accordion_14" data-ratevent="click" data-ratparam="all" data-effect="false">他人宛の請求書類が届いた<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-payment-14" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-payment-14" aria-hidden="true">
        <p>お手数ですが、コミュニケーションセンターへお電話もしくは、チャット相談にてご連絡ください。</p>
        <p class="u-Adjust_Mt-8">サポートページ下部の「お問い合わせ窓口に相談する」まで進み、ご利用する窓口をタップしてください。</p>
      </div>
    </div>

  </div>
</div>
<!--- / payment -->
