<% const namespace = "ecare" -%>
<!---  plan -->
<div class="c-Accordion">
  <button type="button" id="<%= prefix %>accordion-member-plan" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Parent" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-plan" data-effect="false" data-ratid="ecare-s-<%= type %>_category_member_plan" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Price-f"></span>プラン・サービス<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
  <div id="<%= prefix %>accordion-content-member-plan" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-plan" aria-hidden="true">

    <div class="c-Accordion u-Adjust_Mt-24">
      <button type="button" id="<%= prefix %>accordion-member-plan-1" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-plan-1" data-ratid="ecare-s-<%= type %>_member_plan_accordion_01" data-ratevent="click" data-ratparam="all" data-effect="false">楽天モバイルの料金プランについて知りたい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-plan-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-plan-1" aria-hidden="true">
        <p>以下のページで詳細をご確認ください</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/h6AVuz" target="_blank" class="c-Link_Txt-inline">「料金プラン」（料金プランページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-8">
            <a href="https://r10.to/hXhlg2" target="_blank" class="c-Link_Txt-inline">「料金プラン詳細」（料金プランページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-24">プラン料金は、毎月のデータ利用量によって変動します。<br>
          データ利用量としてカウントする通信サービスは以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hM2HK2" target="_blank" class="c-Link_Txt-inline">「データ利用量の確認」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-plan-2" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-plan-2" data-ratid="ecare-s-<%= type %>_member_plan_accordion_02" data-ratevent="click" data-ratparam="all" data-effect="false">通話／通信サービス（国内）について知りたい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-plan-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-plan-2" aria-hidden="true">
        <p>以下の各サービスページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-16">
          <a href="https://r10.to/hMIRw6" target="_blank" class="c-Link_Txt-inline">「15分（標準）通話かけ放題」<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16">
          <a href="https://r10.to/hM5r5b" target="_blank" class="c-Link_Txt-inline">「留守番電話を設定・再生（Rakuten Link利用）」<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16">
          <a href="https://r10.to/h5OKbV" target="_blank" class="c-Link_Txt-inline">「発信者番号非通知」<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16">
          <a href="https://r10.to/hMeCqS" target="_blank" class="c-Link_Txt-inline">「特番通話」<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16">
          <a href="https://r10.to/h6O4DU" target="_blank" class="c-Link_Txt-inline">「着信転送」<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16">
          <a href="https://r10.to/hU80Pp" target="_blank" class="c-Link_Txt-inline">「割込通話／通話保留」<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16">その他、よく見られている質問などは以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-16">
          <a href="https://r10.to/ha5cjN" target="_blank" class="c-Link_Txt-inline">「通話/通信サービス（国内）に関するサポート」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-plan-3" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-plan-3" data-ratid="ecare-s-<%= type %>_member_plan_accordion_03" data-ratevent="click" data-ratparam="all" data-effect="false">通話／通信サービス（国際）について知りたい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-plan-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-plan-3" aria-hidden="true">
        <p>以下の各サービスページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-16">
          <a href="https://r10.to/hUYKxT" target="_blank" class="c-Link_Txt-inline">「海外ローミング（データ通信）」<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16">
          <a href="https://r10.to/hMFap3" target="_blank" class="c-Link_Txt-inline">「海外ローミング　対応エリア・料金」<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16">
          <a href="https://r10.to/hMUUMm" target="_blank" class="c-Link_Txt-inline">「国際通話」<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16">
          <a href="https://r10.to/h6kS8i" target="_blank" class="c-Link_Txt-inline">「国際通話かけ放題」<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16">
          <a href="https://r10.to/hMqBS0" target="_blank" class="c-Link_Txt-inline">「国際SMS（日本でのご利用方法)」<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16">以下のページで、海外利用に関する詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-16">
          <a href="https://r10.to/hMTBPp" target="_blank" class="c-Link_Txt-inline">「海外で利用するための設定方法」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16">
          <a href="https://r10.to/hUyQY5" target="_blank" class="c-Link_Txt-inline">「通話/通信サービス（国際）に関するサポート」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-plan-4" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-plan-4" data-ratid="ecare-s-<%= type %>_member_plan_accordion_04" data-ratevent="click" data-ratparam="all" data-effect="false">メール・SMSサービスについて知りたい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-plan-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-plan-4" aria-hidden="true">
        <p>以下の各サービスページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-16">
          <a href="https://r10.to/hMRvzN" target="_blank" class="c-Link_Txt-inline">「楽メール」<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16">
          <a href="https://r10.to/huIa2c" target="_blank" class="c-Link_Txt-inline">「SMS」<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16">
          <a href="https://r10.to/hMPt2g" target="_blank" class="c-Link_Txt-inline">「緊急速報メール」<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16">
          <a href="https://r10.to/h64Prk" target="_blank" class="c-Link_Txt-inline">「着信SMS通知」<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-16">その他、よく見られている質問などは以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-16">
          <a href="https://r10.to/h6jnzH" target="_blank" class="c-Link_Txt-inline">「メール・SMSサービスに関するサポート」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-plan-5" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-plan-5" data-ratid="ecare-s-<%= type %>_member_plan_accordion_05" data-ratevent="click" data-ratparam="all" data-effect="false">オプションサービスについて知りたい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-plan-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-plan-5" aria-hidden="true">
        <p>以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hacUoY" target="_blank" class="c-Link_Txt-inline">「オプションサービス」（オプションサービスページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
        <p class="u-Adjust_Mt-24">対象iPhoneとセットでお申し込み可能な「楽天モバイルiPhoneアップグレードプログラム」は以下のページで詳細をご確認ください</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/haMX4f" target="_blank" class="c-Link_Txt-inline">「楽天モバイルiPhoneアップグレードプログラム」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-plan-6" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-plan-6" data-ratid="ecare-s-<%= type %>_member_plan_accordion_06" data-ratevent="click" data-ratparam="all" data-effect="false">スマホ下取りサービスについて知りたい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-plan-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-plan-6" aria-hidden="true">
        <p>楽天モバイルのスマホ下取りサービスでは、お客様がお持ちの対象製品を下取りいたします。<br>下取り金額は電子マネーの楽天キャッシュでお支払いいたします</p>
        <p class="u-Adjust_Mt-16">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-16">
          <a href="https://r10.to/hu4Ej9" target="_blank" class="c-Link_Txt-inline">「スマホ下取りサービス」（オプションサービスページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>

  </div>
</div>
<!--- / plan -->
