<% const namespace = "ecare" -%>
<!---  suspension -->
<div class="c-Accordion">
  <button type="button" id="<%= prefix %>accordion-member-suspension" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Parent" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-suspension" data-effect="false" data-ratid="ecare-s-<%= type %>_category_member_suspension" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Sign-warning-f"></span>紛失・盗難<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
  <div id="<%= prefix %>accordion-content-member-suspension" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-suspension" aria-hidden="true">

    <div class="c-Accordion u-Adjust_Mt-24">
      <button type="button" id="<%= prefix %>accordion-member-suspension-1" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-suspension-1" data-ratid="ecare-s-<%= type %>_member_suspension_accordion_01" data-ratevent="click" data-ratparam="all" data-effect="false">紛失・盗難などによる利用停止・再開をしたい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-suspension-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-suspension-1" aria-hidden="true">
        <% if (type == 'web') { %>
          <p>以下のボタンから「各種手続きはこちら」をタップしてお進みください。</p>
        <% } else { %>
          <p>以下のボタンから「手続きへ進む」をタップしてお進みください。</p>
        <% } %>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard?scrollTo=simAndLinesAction#plans" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_04_001" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular u-Adjust_Mt-16">契約プラン（各種手続き）へ進む</a>
        </div>
        <p class="u-Adjust_Mt-24">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/hMLfUN" target="_blank" class="c-Link_Txt-inline">「スマートフォンの紛失・盗難に関するサポート」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button type="button" id="<%= prefix %>accordion-member-suspension-2" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Children" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-suspension-2" data-ratid="ecare-s-<%= type %>_member_suspension_accordion_02" data-ratevent="click" data-ratparam="all" data-effect="false">SIMの交換・再発行をしたい<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
      <div id="<%= prefix %>accordion-content-member-suspension-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-suspension-2" aria-hidden="true">
        <p>以下のボタンから、「SIM再発行を申請する」をタップしてお進みください。</p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= ecarepath %>dashboard?scrollTo=simAndLinesAction#plans" target="_parent" data-ratid="ecare-s-<%= type %>_object_01_04_002" data-ratevent="click" data-ratparam="all" class="c-Btn_Regular">契約プラン（各種手続き）へ進む</a>
        </div>
        <p class="u-Adjust_Mt-24 c-Txt_Emp-01">申請後のお手続き</p>
        <p class="u-Adjust_Mt-16">以下のページで詳細をご確認ください。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://r10.to/haXpl0" target="_blank" class="c-Link_Txt-inline">「SIMタイプ交換後の対応」（サポートページへ）<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
    </div>

  </div>
</div>
<!--- / suspension -->
