<% const namespace = "ecare" -%>
<!---  turbo -->
<div class="c-Accordion">
  <button type="button" id="<%= prefix %>accordion-member-turbo" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Parent" aria-expanded="false" aria-controls="<%= prefix %>accordion-content-member-turbo" data-effect="false" data-ratid="ecare-s-<%= type %>_category_member_rakuten-turbo" data-ratevent="click" data-ratparam="all"><span class="<%= namespace %>-Util_Icon_Product-f"></span>Rakuten Turbo<span class="c-Icon_Chevron-right <%= namespace %>-Accordion_Arrow"></span></button>
  <div id="<%= prefix %>accordion-content-member-turbo" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="<%= prefix %>accordion-member-turbo" aria-hidden="true">

    <ul class="c-Link_List u-Adjust_Mt-24">
      <li>
        <a href="<%= sitepath %>internet/turbo/support/?l-id=ecare-s-<%= type %>_member_internet_turbo_support&tab-list=tab-menu2" class="c-Link_Txt-inline" target="_blank" rel="noopener">ご利用中の方<span class="c-Link_List-inline-icon c-Icon_New-window-l"></span></a>
      </li>
    </ul>

  </div>
</div>
<!--- / turbo -->
