<% const pagetitle = "サポート動画一覧" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルの各種コンテンツやスマホの利用方法などを動画でサポートいたします。',
    noindex: false,
    pathname: filepath
  });
%>
<% const namespace = "support-movie" -%>
<!-- 動画情報 -->
<%
  const procInfo = {
    namespace: namespace,
    youtubeContent: [
      {
        id: '3PSqGK-IsE0',
        title: 'ホーム画面の基本操作',
        description: '知っておきたいホーム画面を動画で解説',
        time: '3:38',
        isYoutube: true,
      },
      {
        id: 'zu7gJ7vMEOk',
        title: 'スマホでよく使う基本操作',
        description: '基本的な操作や便利な機能を習得しよう',
        time: '4:55',
        isYoutube: true,
      },
      {
        id: 'rAhMX9lRfAo',
        title: 'Googleアカウント登録',
        description: 'アカウントの登録方法を習得しよう',
        time: '4:19',
        isYoutube: true,
      },
    ]
  };
%>
<%
  const iphoneInfo = {
    namespace: namespace,
    movieContent: [
      {
        id: '8st0',
        title: 'iPhone／iPadの初期設定',
      },
      {
        id: 'nmj5',
        title: 'iPhoneのデュアルSIM設定',
      }
    ]
  };
%>
<%
  const dualsimInfo = {
    namespace: namespace,
    movieContent: [
      {
        id: '8h77',
        title: 'デュアルSIMの設定',
        description: 'Androidを2つのSIMで使ってみよう',
      },
    ]
  };
%>
<%
  const rproductInfo = {
    namespace: namespace,
    movieContent: [
      {
        id: 'nhft',
        title: 'Rakuten Hand 5Gの初期設定',
      },
      {
        id: 'hts7',
        title: 'Rakuten BIG sの初期設定',
      },
      {
        id: '46tk',
        title: 'Rakuten Handの初期設定',
      },
      {
        id: 'nkn5',
        title: 'Rakuten BIGの初期設定',
      },
      {
        id: 'kb9m',
        title: 'Rakuten Miniの初期設定',
      },
    ]
  };
%>
<%
  const fujitsuInfo = {
    namespace: namespace,
    movieContent: [
      {
        id: 'nl8w',
        title: 'arrows RXの初期設定',
      }
    ]
  };
%>
<%
  const oppoInfo = {
    namespace: namespace,
    movieContent: [
      {
        id: 'fwrx',
        title: 'OPPO A55s 5Gの初期設定',
      },
      {
        id: 'wx4x',
        title: 'OPPO reno5 Aの初期設定',
      },
      {
        id: 'zn59',
        title: 'OPPO A73の初期設定',
      },
      {
        id: '7n3c',
        title: 'OPPO Reno3 Aの初期設定',
      },
      {
        id: 'vf2b',
        title: 'OPPO A5 2020の初期設定',
      },
      {
        id: '962j',
        title: 'OPPO Reno A 128GBの初期設定',
      },
      {
        id: 'n0dj',
        title: 'OPPO Reno 10x Zoomの初期設定',
      },
      {
        id: 'l86q',
        title: 'OPPO AX7の初期設定',
      },
      {
        id: '8xgh',
        title: 'OPPO R17 Proの初期設定',
      },
      {
        id: '4hw9',
        title: 'OPPO Find Xの初期設定',
      },
    ]
  };
%>
<%
  const samsungInfo = {
    namespace: namespace,
    movieContent: [
      {
        id: 'fvkf',
        title: 'Galaxy S10の初期設定',
      },
      {
        id: '5kn4',
        title: 'Galaxy Note10＋の初期設定',
      },
      {
        id: 'gzc2',
        title: 'Galaxy A7の初期設定',
      },
    ]
  };
%>
<%
  const sharpInfo = {
    namespace: namespace,
    movieContent: [
      {
        id: 'f6b6',
        title: 'AQUOS wishの初期設定',
      },
      {
        id: 'k0h9',
        title: 'AQUOS sense6の初期設定',
      },
      {
        id: '7v7k',
        title: 'AQUOS zero6の初期設定',
      },
      {
        id: 'd3rf',
        title: 'AQUOS sense4 plusの初期設定',
      },
      {
        id: '4f0s',
        title: 'AQUOS sense4 liteの初期設定',
      },
      {
        id: 'tffl',
        title: 'AQUOS R5Gの初期設定',
      },
      {
        id: '8bx6',
        title: 'AQUOS sense3 plusの初期設定',
      },
      {
        id: '7c7p',
        title: 'AQUOS sense3 liteの初期設定',
      },
      {
        id: '5bqg',
        title: 'AQUOS zero SH-M10の初期設定',
      },
      {
        id: '4s07',
        title: 'AQUOS R2 compact SH-M09の初期設定',
      },
      {
        id: 'fnd0',
        title: 'AQUOS sense2 SH-M08の初期設定',
      },
      {
        id: 'hdh2',
        title: 'AQUOS sense plus SH-M07の初期設定',
      },
      {
        id: 'nbvs',
        title: 'AQUOS R compact SH-M06の初期設定',
      },
      {
        id: 'sfb1',
        title: 'AQUOS sense lite SH-M05の初期設定',
      },
    ]
  };
%>
<%
  const sonyInfo = {
    namespace: namespace,
    movieContent: [
      {
        id: '86v7',
        title: 'Xperia Aceの初期設定',
      },
      {
        id: 'dn1g',
        title: 'Xperia 10 III Liteの初期設定',
      },
    ]
  };
%>
<%
  const xiaomiInfo = {
    namespace: namespace,
    movieContent: [
      {
        id: '9v6k',
        title: 'Redmi Note 11 Pro 5Gの初期設定',
      },
    ]
  };
%>
<%
  const huaweiInfo = {
    namespace: namespace,
    movieContent: [
      {
        id: 'l421',
        title: 'HUAWEI nova 5Tの初期設定',
      },
      {
        id: 'xv7c',
        title: 'HUAWEI P30 liteの初期設定',
      },
      {
        id: 't8sr',
        title: 'HUAWEI nova lite 3の初期設定',
      },
    ]
  };
%>
<%
  const rmobileInfo = {
    namespace: namespace,
    youtubeContent: [
      {
        id: 'L6tLT5wIJus',
        title: 'my 楽天モバイルの基本的な使い方',
        description: 'ユーザー向け公式アプリの基本機能をご紹介',
        time: '4:54',
        isYoutube: true,
      },
      // プライベート設定なっているので一旦トリ
      // {
      //   id: 'BBY68yxuKG4',
      //   title: 'サポート画面の使い方',
      //   description: '「my 楽天モバイル」のサポートを使いこなそう',
      //   time: '7:05',
      //   isYoutube: true,
      // },
    ]
  };
%>
<%
  const rlinkInfo = {
    namespace: namespace,
    youtubeContent: [
      {
        id: 'csnq2AA6KbY',
        title: 'Rakuten Linkとは？',
        description: '通話アプリ「Rakuten Link」でできることをご紹介',
        time: '1:42',
        isYoutube: true,
      },
    ],
    movieContent: [
      {
        id: '5wlr',
        title: 'Rakuten Link',
        description: '「Rakuten Link」の初期設定方法と設定手順をご紹介',
      }
    ],
    youtubeContent2: [
    {
      id: 'WwmYQIYyShA',
      title: '電話の使い方',
      description: '「Rakuten Link」アプリを使って電話をかけよう',
      time: '3:12',
      isYoutube: true,
    },
    {
      id: 'DoXUx90rgBg',
      title: 'Rakuten Link 留守番電話の使い方 ',
      description: '「Rakuten Link」アプリの留守番電話の使い方をご紹介',
      time: '5:39',
      isYoutube: true,
    },
    {
      id: 'bTEwbwbefPM',
      title: 'Rakuten Link アプリ 対策講座',
      description: '有料通話になるケースを確認しよう',
      time: '5:44',
      isYoutube: true,
    },
    {
      id: 'PCQCJ_gNhIo',
      title: 'メッセージサービスの使い方',
      description: '「Rakuten Link」アプリからメッセージを送信しよう',
      time: '2:36',
      isYoutube: true,
    },
    {
      id: 'kT3PZO5fGJU',
      title: 'Rakuten Link ナビゲーションメニューの見方',
      description: '「Rakuten Link」アプリのナビゲーションメニューの見方をご紹介',
      time: '4:50',
      isYoutube: true,
    },
    ]
  };
%>
<%
  const basicInfo = {
    namespace: namespace,
    youtubeContent: [
      {
        id: '3PSqGK-IsE0',
        title: 'ホーム画面の基本操作',
        description: '知っておきたいホーム画面を動画で解説',
        time: '3:38',
        isYoutube: true,
      },
      {
        id: 'zu7gJ7vMEOk',
        title: 'スマホでよく使う基本操作',
        description: '基本的な操作や便利な機能を習得しよう',
        time: '4:55',
        isYoutube: true,
      },
      {
        id: 'PmZGOW1OeU4',
        title: 'アプリの追加方法',
        description: 'アプリってなに？動画で分かりやすく解説',
        time: '3:21',
        isYoutube: true,
      },
      {
        id: 'byPRQF3m2nw',
        title: 'Wi-Fiの接続方法',
        description: '今さら聞けないWi-Fiを動画で分かりやすく解説',
        time: '4:27',
        isYoutube: true,
      },
      {
        id: '4KHP8UUAa90',
        title: '音量・マナーモードの設定',
        description: '音量を変える方法とマナーモードを習得しよう',
        time: '5:43',
        isYoutube: true,
      },
      {
        id: 'S2FkSkwnos0',
        title: '画面設定・文字設定',
        description: 'スマホを自分好みに使いやすく設定しよう',
        time: '8:00',
        isYoutube: true,
      },
      {
        id: 'KmApGdyZp-U',
        title: 'スマホの安全利用① （公衆Wi-Fi）',
        description: '公衆Wi-Fiを安全に利用しよう',
        time: '4:42',
        isYoutube: true,
      },
    ]
  };
%>
<%
  const googleInfo = {
    namespace: namespace,
    youtubeContent: [
      {
        id: 'nI47sdBpLF8',
        title: 'YouTubeの使い方',
        description: '動画共有サイト、YouTubeの視聴方法を詳しく解説',
        time: '5:55',
        isYoutube: true,
      },
      {
        id: 'rAhMX9lRfAo',
        title: 'Googleアカウント登録',
        description: 'アカウントの登録方法を習得しよう',
        time: '4:19',
        isYoutube: true,
      },
      {
        id: 'vzLjHqddzj8',
        title: 'インターネット（Google Chrome）の利用方法',
        description: '「Google Chrome」の利用方法を習得しよう',
        time: '15:23',
        isYoutube: true,
      },
      {
        id: 'RhhMDYEEw5c',
        title: 'Googleマップ①（基本操作編）',
        description: '「Googleマップ」アプリの基本操作を習得しよう',
        time: '6:48',
        isYoutube: true,
      },
      {
        id: 'tKXdkv1530Q',
        title: 'Googleマップ②（スポット検索編）',
        description: '「Googleマップ 」アプリのスポット検索を習得しよう',
        time: '9:18',
        isYoutube: true,
      },
      {
        id: 'Vv2n9Fr5hQE',
        title: 'Googleマップ③（経路検索編）',
        description: '「Googleマップ」アプリの経路検索を習得しよう',
        time: '4:28',
        isYoutube: true,
      },
    ]
  };
%>
<%
  const etcInfo = {
    namespace: namespace,
    youtubeContent: [
      {
        id: 'KPRmTnDnJek',
        title: 'AQUOS かんたんモードの使い方',
        description: 'AQUOSユーザー限定 かんたんモードを使ってみよう',
        time: '13:36',
        isYoutube: true,
      }
    ]
  };
%>
<!-- /動画情報 -->

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/<%= namespace %>/<%= namespace %>.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<main>
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1 u-Adjust_Mt-40">サポート動画一覧</h1>
    <div class="<%= namespace %>-Layout_L-Media u-Adjust_Mt-24">
      <div>
        <img src="<%= sitepath %>assets/img/support-movie/img-support-movie-01-220808.png" alt="">
      </div>
      <p class="<%= namespace %>-Utility-SP_Mt-24">製品の各種設定方法やRakuten Link、my 楽天モバイルの使い方などを動画でサポートいたします。</p>
    </div>

    <ul class="<%= namespace %>-Layout_Nav u-Adjust_Mt-24">
      <li><a href="#sec2" class="js-scroll c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>製品の各種設定方法</a></li>
      <li><a href="#sec3" class="js-scroll c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>my 楽天モバイル</a></li>
      <li><a href="#sec4" class="js-scroll c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>Rakuten Link</a></li>
      <li><a href="#sec5" class="js-scroll c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>スマホの基本操作</a></li>
      <li><a href="#sec6" class="js-scroll c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>Google プロダクト（YouTube・Googleマップなど）</a></li>
      <li><a href="#sec7" class="js-scroll c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>その他</a></li>
    </ul>

    <!-- ※掲載動画準備中のため一時コメント -->
    <!-- <h2 id="sec1" class="c-Heading_Lv2 u-Adjust_Mt-64">お申し込み手順</h2> -->
    <!-- <%- include('/include/guide/support-movie/_support-movie-movie', {pageInfo: procInfo}) %> -->
    <!-- /※掲載動画準備中のため一時コメント -->

    <h2 id="sec2" class="c-Heading_Lv2 u-Adjust_Mt-64">製品の各種設定方法</h2>
    <p class="u-Adjust_Mt-16">各種製品の初期設定やデュアルSIM設定を動画でご案内します。メーカー・製品名を選択し、ご確認ください。</p>
    <!--アコーディオン-->
    <div class="c-Accordion u-Adjust_Mt-24">
      <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>iPhone</button>
      <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true" style="display: none;">
        <%- include('/include/guide/support-movie/_support-movie-movie', {pageInfo: iphoneInfo}) %>
      </div>
    </div>
    <!--/アコーディオン-->
    <!--アコーディオン-->
    <div class="c-Accordion">
      <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Android</button>
      <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true" style="display: none;">
        <ul class="<%= namespace %>-Layout_Nav_accordion">
          <li><a href="#android9" class="js-scroll c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>デュアルSIM設定</a></li>
        </ul>
        <ul class="<%= namespace %>-Layout_Nav_accordion">
          <li><a href="#android1" class="js-scroll c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>Rakutenオリジナル</a></li>
          <li><a href="#android2" class="js-scroll c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>FUJITSU</a></li>
          <li><a href="#android3" class="js-scroll c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>OPPO</a></li>
          <li><a href="#android4" class="js-scroll c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>SAMSUNG</a></li>
          <li><a href="#android5" class="js-scroll c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>SHARP</a></li>
          <li><a href="#android6" class="js-scroll c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>Sony</a></li>
          <li><a href="#android7" class="js-scroll c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>Xiaomi</a></li>
          <li><a href="#android8" class="js-scroll c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>HUAWEI</a></li>
        </ul>
        <h3 id="android9" class="c-Heading_Lv3 u-Adjust_Mt-40">デュアルSIM設定</h3>
        <%- include('/include/guide/support-movie/_support-movie-movie', {pageInfo: dualsimInfo}) %>
        <h3 id="android1" class="c-Heading_Lv3 u-Adjust_Mt-40">Rakutenオリジナル</h3>
        <%- include('/include/guide/support-movie/_support-movie-movie', {pageInfo: rproductInfo}) %>
        <h3 id="android2" class="c-Heading_Lv3 u-Adjust_Mt-40">FUJITSU</h3>
        <%- include('/include/guide/support-movie/_support-movie-movie', {pageInfo: fujitsuInfo}) %>
        <h3 id="android3" class="c-Heading_Lv3 u-Adjust_Mt-40">OPPO</h3>
        <%- include('/include/guide/support-movie/_support-movie-movie', {pageInfo: oppoInfo}) %>
        <h3 id="android4" class="c-Heading_Lv3 u-Adjust_Mt-40">SAMSUNG</h3>
        <%- include('/include/guide/support-movie/_support-movie-movie', {pageInfo: samsungInfo}) %>
        <h3 id="android5" class="c-Heading_Lv3 u-Adjust_Mt-40">SHARP</h3>
        <%- include('/include/guide/support-movie/_support-movie-movie', {pageInfo: sharpInfo}) %>
        <h3 id="android6" class="c-Heading_Lv3 u-Adjust_Mt-40">Sony</h3>
        <%- include('/include/guide/support-movie/_support-movie-movie', {pageInfo: sonyInfo}) %>
        <h3 id="android7" class="c-Heading_Lv3 u-Adjust_Mt-40">Xiaomi</h3>
        <%- include('/include/guide/support-movie/_support-movie-movie', {pageInfo: xiaomiInfo}) %>
        <h3 id="android8" class="c-Heading_Lv3 u-Adjust_Mt-40">HUAWEI</h3>
        <%- include('/include/guide/support-movie/_support-movie-movie', {pageInfo: huaweiInfo}) %>
      </div>
    </div>
    <!--/アコーディオン-->
    <h2 id="sec3" class="c-Heading_Lv2 u-Adjust_Mt-64">my 楽天モバイル</h2>
    <%- include('/include/guide/support-movie/_support-movie-movie', {pageInfo: rmobileInfo}) %>
    <h2 id="sec4" class="c-Heading_Lv2 u-Adjust_Mt-64">Rakuten Link</h2>
    <%- include('/include/guide/support-movie/_support-movie-movie', {pageInfo: rlinkInfo}) %>
    <h2 id="sec5" class="c-Heading_Lv2 u-Adjust_Mt-64">スマホの基本操作</h2>
    <%- include('/include/guide/support-movie/_support-movie-movie', {pageInfo: basicInfo}) %>
    <h2 id="sec6" class="c-Heading_Lv2 u-Adjust_Mt-64 <%= namespace %>-Utility-SP-c-Txt_Normal-m">Google プロダクト<br class="<%= namespace %>-Utility-SP_Br">（YouTube・Googleマップなど）</h2>
    <%- include('/include/guide/support-movie/_support-movie-movie', {pageInfo: googleInfo}) %>
    <h2 id="sec7" class="c-Heading_Lv2 u-Adjust_Mt-64">その他</h2>
    <%- include('/include/guide/support-movie/_support-movie-movie', {pageInfo: etcInfo}) %>
  </div>
</main>

<div class="<%= namespace %>-Layout_Btn">
  <div>
    <a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップへ</span></a>
  </div>
  <div>
    <a href="<%= sitepath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a>
  </div>
</div>

<footer class="g-Footer">
  <div class="g-Footer_Aside">
    <%- include('/include/footer/bnr/_bnr.ejs') %>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <div class="l-System_Container">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>
  <%- include('/include/_footer') %>
</footer>

<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>

</body>
</html>
