<% const pagetitle = "製品の比吸収率（SAR）について" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/product/setting/", label:"設定・操作・故障"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイル各製品の比吸収率・SARのご案内はこちら。スマートフォン機種など人体頭部のそばで使用する無線機器から送出される電波影響の評価をご案内します',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
  <%- include('/include/_prepend-body') %>

  <div class="l-System">

    <%- include('/include/_header') %>

    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>

    <div class="<%= nameSpace %>-Layout_Container">
      <div class="l-System_Container">
        <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

        <p class="u-Adjust_Mt-24">2002年6月1日から、携帯電話機に対して比吸収率（SAR）※の許容値が規定されており、当社では各機種のSAR値をWebサイトに掲載することとしております。</p>
        <ul class="c-List_Cap u-Adjust_Mt-24">
          <li><span>※</span>比吸収率（SAR）Specific Absorption Rateの略で、携帯電話機など人体頭部のそばで使用する無線機器から送出される電波の影響を評価するために用いられます。</li>
        </ul>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-48">スマートフォンのSAR値について</h2>

        <h3 class="c-Heading_Lv3 u-Adjust_Mt-48">2022年発売製品</h3>
        <ul class="<%= nameSpace %>-Layout_Column u-Adjust_Mt-24">
          <li>
            <p><a href="<%= sitepath %>assets/pdf/sar/rakuten-wifi-pocket-2c.pdf" class="c-Link_Txt-inline-icon" target="_blank">Rakuten WiFi Pocket 2C<span class="c-Icon_Pdf-l"></span></a></p>
          </li>
          <li>
            <p><a href="<%= sitepath %>assets/pdf/sar/Rakuten Hand 5G_SAR_20220124.pdf" class="c-Link_Txt-inline-icon" target="_blank">Rakuten Hand 5G<span class="c-Icon_Pdf-l"></span></a></p>
          </li>
        </ul>

        <h3 class="c-Heading_Lv3 u-Adjust_Mt-48">2021年発売製品</h3>
        <ul class="<%= nameSpace %>-Layout_Column u-Adjust_Mt-24">
          <li>
            <p><a href="<%= sitepath %>assets/pdf/sar/rakuten-wifi-pocket-2b.pdf" class="c-Link_Txt-inline-icon" target="_blank">Rakuten WiFi Pocket 2B<span class="c-Icon_Pdf-l"></span></a></p>
          </li>
          <li>
            <p><a href="<%= sitepath %>assets/pdf/sar/rakuten-big-s.pdf" class="c-Link_Txt-inline-icon" target="_blank">Rakuten BIG s<span class="c-Icon_Pdf-l"></span></a></p>
          </li>
        </ul>

        <h3 class="c-Heading_Lv3 u-Adjust_Mt-48">2020年発売製品</h3>
        <ul class="<%= nameSpace %>-Layout_Column u-Adjust_Mt-24">
          <li>
            <p><a href="<%= sitepath %>assets/pdf/sar/rakuten-wifi-pocket.pdf" class="c-Link_Txt-inline-icon" target="_blank">Rakuten WiFi Pocket<span class="c-Icon_Pdf-l"></span></a></p>
          </li>
          <li>
            <p><a href="<%= sitepath %>assets/pdf/sar/rakuten-hand.pdf?201202" class="c-Link_Txt-inline-icon" target="_blank">Rakuten Hand<span class="c-Icon_Pdf-l"></span></a></p>
          </li>
          <li>
            <p><a href="<%= sitepath %>assets/pdf/sar/rakuten-big.pdf" class="c-Link_Txt-inline-icon" target="_blank">Rakuten BIG<span class="c-Icon_Pdf-l"></span></a></p>
          </li>
          <li>
            <p><a href="<%= sitepath %>assets/pdf/sar/rakuten-mini.pdf" class="c-Link_Txt-inline-icon" target="_blank">Rakuten Mini<span class="c-Icon_Pdf-l"></span></a></p>
          </li>
          <li>
            <p><a href="<%= sitepath %>assets/pdf/sar/aquos-r5g.pdf" class="c-Link_Txt-inline-icon" target="_blank">AQUOS R5G<span class="c-Icon_Pdf-l"></span></a></p>
          </li>
          <li>
            <p><a href="<%= sitepath %>assets/pdf/sar/oppo-reno-3-a.pdf" class="c-Link_Txt-inline-icon" target="_blank">OPPO Reno3 A<span class="c-Icon_Pdf-l"></span></a></p>
          </li>
        </ul>

        <h3 class="c-Heading_Lv3 u-Adjust_Mt-48">2019年発売製品</h3>
        <ul class="<%= nameSpace %>-Layout_Column u-Adjust_Mt-24">
          <li>
            <p><a href="<%= sitepath %>assets/pdf/sar/huawei-nova-5t.pdf" class="c-Link_Txt-inline-icon" target="_blank">HUAWEI nova 5T<span class="c-Icon_Pdf-l"></span></a></p>
          </li>
          <li>
            <p><a href="<%= sitepath %>assets/pdf/sar/galaxy-s10.pdf" class="c-Link_Txt-inline-icon" target="_blank">Galaxy S10<span class="c-Icon_Pdf-l"></span></a></p>
          </li>
          <li>
            <p><a href="<%= sitepath %>assets/pdf/sar/galaxy-note10-plus.pdf" class="c-Link_Txt-inline-icon" target="_blank">Galaxy Note10+<span class="c-Icon_Pdf-l"></span></a></p>
          </li>
          <li>
            <p><a href="<%= sitepath %>assets/pdf/sar/oppo-a5-2020.pdf" class="c-Link_Txt-inline-icon" target="_blank">OPPO A5 2020<span class="c-Icon_Pdf-l"></span></a></p>
          </li>
          <li>
            <p><a href="<%= sitepath %>assets/pdf/sar/aquos-sense3-plus.pdf" class="c-Link_Txt-inline-icon" target="_blank">AQUOS sense3 plus<span class="c-Icon_Pdf-l"></span></a></p>
          </li>
          <li>
            <p><a href="<%= sitepath %>assets/pdf/sar/aquos-sense3-lite.pdf" class="c-Link_Txt-inline-icon" target="_blank">AQUOS sense3 lite<span class="c-Icon_Pdf-l"></span></a></p>
          </li>
          <li>
            <p><a href="<%= sitepath %>assets/pdf/sar/arrows-rx.pdf" class="c-Link_Txt-inline-icon" target="_blank">arrows RX<span class="c-Icon_Pdf-l"></span></a></p>
          </li>
          <li>
            <p><a href="<%= sitepath %>assets/pdf/sar/xperia-ace.pdf" class="c-Link_Txt-inline-icon" target="_blank">Xperia Ace<span class="c-Icon_Pdf-l"></span></a></p>
          </li>
          <li>
            <p><a href="<%= sitepath %>assets/pdf/sar/reno-a.pdf" class="c-Link_Txt-inline-icon" target="_blank">OPPO Reno A 128GB<span class="c-Icon_Pdf-l"></span></a></p>
          </li>
          <li>
            <p><a href="<%= sitepath %>assets/pdf/sar/galaxy-a7.pdf" class="c-Link_Txt-inline-icon" target="_blank">Galaxy A7<span class="c-Icon_Pdf-l"></span></a></p>
          </li>
          <li>
            <p><a href="<%= sitepath %>assets/pdf/sar/p30lite.pdf" class="c-Link_Txt-inline-icon" target="_blank">HUAWEI P30 lite<span class="c-Icon_Pdf-l"></span></a></p>
          </li>
          <!-- <li><p><a href="<%= sitepath %>assets/pdf/sar/xxxxxx.pdf" class="c-Link_Txt-inline-icon" target="_blank">Reno 10X Zoom<span class="c-Icon_Pdf-l"></span></a></p></li> -->
          <li>
            <p><a href="<%= sitepath %>assets/pdf/sar/aquos-zero.pdf" class="c-Link_Txt-inline-icon" target="_blank">AQUOS zero SH-M10<span class="c-Icon_Pdf-l"></span></a></p>
          </li>
          <li>
            <p><a href="<%= sitepath %>assets/pdf/sar/aquos-r2-compact.pdf" class="c-Link_Txt-inline-icon" target="_blank">AQUOS R2 compact SH-M09<span class="c-Icon_Pdf-l"></span></a></p>
          </li>
          <li>
            <p><a href="<%= sitepath %>assets/pdf/sar/novalite3.pdf" class="c-Link_Txt-inline-icon" target="_blank">HUAWEI nova lite 3<span class="c-Icon_Pdf-l"></span></a></p>
          </li>
        </ul>

        <h3 class="c-Heading_Lv3 u-Adjust_Mt-48">2018年発売製品</h3>
        <ul class="<%= nameSpace %>-Layout_Column u-Adjust_Mt-24">
          <li>
            <p><a href="<%= sitepath %>assets/pdf/sar/aquos-sense2.pdf" class="c-Link_Txt-inline-icon" target="_blank">AQUOS sense2 SH-M08<span class="c-Icon_Pdf-l"></span></a></p>
          </li>
          <!-- <li><p><a href="<%= sitepath %>assets/pdf/sar/xxxxxx.pdf" class="c-Link_Txt-inline-icon" target="_blank">AX7<span class="c-Icon_Pdf-l"></span></a></p></li> -->
          <!-- <li><p><a href="<%= sitepath %>assets/pdf/sar/xxxxxx.pdf" class="c-Link_Txt-inline-icon" target="_blank">R17 Pro<span class="c-Icon_Pdf-l"></span></a></p></li> -->
          <!-- <li><p><a href="<%= sitepath %>assets/pdf/sar/xxxxxx.pdf" class="c-Link_Txt-inline-icon" target="_blank">Find X<span class="c-Icon_Pdf-l"></span></a></p></li> -->
          <li>
            <p><a href="<%= sitepath %>assets/pdf/sar/aquos-sense-plus.pdf" class="c-Link_Txt-inline-icon" target="_blank">AQUOS sense plus SH-M07<span class="c-Icon_Pdf-l"></span></a></p>
          </li>
          <li>
            <p><a href="<%= sitepath %>assets/pdf/sar/aquos-r-compact.pdf" class="c-Link_Txt-inline-icon" target="_blank">AQUOS R compact SH-M06<span class="c-Icon_Pdf-l"></span></a></p>
          </li>
        </ul>

        <h3 class="c-Heading_Lv3 u-Adjust_Mt-48">2017年発売製品</h3>
        <ul class="<%= nameSpace %>-Layout_Column u-Adjust_Mt-24">
          <li>
            <p><a href="<%= sitepath %>assets/pdf/sar/aquos-sense-lite.pdf" class="c-Link_Txt-inline-icon" target="_blank">AQUOS sense lite SH-M05<span class="c-Icon_Pdf-l"></span></a></p>
          </li>
        </ul>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-48">モバイルルーターのSAR値について</h2>

        <h3 class="c-Heading_Lv3 u-Adjust_Mt-48">2019年発売製品</h3>
        <ul class="<%= nameSpace %>-Layout_Column u-Adjust_Mt-24">
          <li>
            <p><a href="<%= sitepath %>assets/pdf/sar/aterm-mp02ln.pdf" class="c-Link_Txt-inline-icon" target="_blank">Aterm MP02LN<span class="c-Icon_Pdf-l"></span></a></p>
          </li>
          <li>
            <p><a href="<%= sitepath %>assets/pdf/sar/aterm-mr05ln-rw.pdf" class="c-Link_Txt-inline-icon" target="_blank">Aterm MR05LN RW<span class="c-Icon_Pdf-l"></span></a></p>
          </li>
        </ul>

        <h3 class="c-Heading_Lv3 u-Adjust_Mt-48">2016年発売製品</h3>
        <ul class="<%= nameSpace %>-Layout_Column u-Adjust_Mt-24">
          <li>
            <p><a href="<%= sitepath %>assets/pdf/sar/aterm-mr05ln.pdf" class="c-Link_Txt-inline-icon" target="_blank">Aterm MR05LN<span class="c-Icon_Pdf-l"></span></a></p>
          </li>
        </ul>


        <div class="u-Adjust_Pt-40">
          <div><a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップにもどる</span></a></div>
          <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a></div>
        </div>

      </div>
    </div>


    <%- include('/include/guide/_review') %>
    <%- include('/include/guide/_inquiry') %>

    <footer class="g-Footer">

      <div class="g-Footer_Aside">

        <%- include('/include/footer/bnr/_bnr.ejs') %>

      </div>

      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>

      <%- include('/include/_footer') %>

    </footer>

  </div>
  <%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
</body>
</html>
