<% const pagetitle = "楽天モバイルショップ限定！アンケートに答えて選べるプレゼントキャンペーン！" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "questionnaire-present" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '楽天モバイルショップに来店して、店頭アンケートにご参加いただくとご希望の特典をいずれか1つプレゼントいたします。',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/questionnaire-present/questionnaire-present.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>

</head>

<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout-Label">
      <p class="<%= namespace %>-Layout-Label_point">ポイント：進呈日を含めて6カ月の期間限定ポイント</p>
    </div>

    <div class="<%= namespace %>-Hero_Main">
      <picture>
        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/questionnaire-present/kv-375-374-221122.png">
        <img src="<%= sitepath %>assets/img/campaign/questionnaire-present/kv-2000-324-221122.png" alt="">
      </picture>
    </div>
    <div class="<%= namespace %>-Layout_Body u-Adjust_Pt-0">
      <div class="l-System">
        <div class="l-System_Container">
          <p class="c-Txt_Cap u-Adjust_Mt-16">
            ※一部店舗のみでの実施です。<br>
            ※実物と異なる場合があります。<br>
            ※なくなり次第終了となります。<br>
            ※店舗によって在庫に限りがあります。<br>
            ※店舗によって特典が異なる場合があります。<br>
            ※本特典は予告なく内容の変更もしくは終了させていただく場合がございます。あらかじめご了承ください。<br>
            ※1 期間限定ポイントとなります。ポイントはご来店日の3週間後に進呈となります。<br>
            ※2 店舗ごとで近隣ショップクーポンの内容は異なります。
          </p>

          <p class="u-Adjust_Align-center u-Adjust_Mt-24">
            <span class="c-Txt_Emp-01">【実施期間】</span> <br class="<%= namespace %>-Utility_Br-sp">ショップ：2022年10月1日（土）開店～終了日未定
          </p>
          <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-24 u-Adjust_Mb-16 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
          <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-32 <%= namespace %>-Utility_Center-pc">
            <li><a href="#overview" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>参加条件</a></li>
            <li><a href="#flow" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>ご参加の流れ</a></li>
            <li><a href="#campaign-rule" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>ルール</a></li>
          </ul>

          <div class="c-Theme-Borderbox u-Adjust_Mt-32" id="overview">
            <h2 class="c-Txt_Normal-ll <%= namespace %>-Conditions_Text">参加条件</h2>
            <p class="<%= namespace %>-Conditions_Text u-Adjust_Mt-16">達成条件が設定されています。詳細は<a href="#campaign-rule" class="c-Link_Txt js-scroll">ルール</a>をご確認ください。</p>
            <img class="<%= namespace %>-Utility_Br-pc u-Adjust_Mt-16 <%= namespace %>-Conditions_Img" src="<%= sitepath %>assets/img/campaign/<%= namespace %>/rule-pc-221005.png" alt="">
            <img class="<%= namespace %>-Utility_Br-sp u-Adjust_Mt-16 <%= namespace %>-Conditions_Img" src="<%= sitepath %>assets/img/campaign/<%= namespace %>/rule-sp-221005.png" alt="">
            <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Ml-8">※一部店舗のみでの実施です。</p>
          </div>
        </div>
      </div>
      <div class="l-System c-Theme-Light u-Adjust_Mt-40">
        <div id="flow" class="l-System_Container">
          <h3 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-16">ご参加の流れ</h3>

          <div class="c-Accordion <%= namespace %>-Accordion_Left u-Adjust_Mt-24">
            <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow "></span><div class="<%= namespace %>-Accordion_Title"><p class="c-Txt_Emp-02 <%= namespace %>-Accordion_Title-step">STEP 1</p>楽天モバイルショップへ来店</div></button>
            <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Content" role="region" aria-labelledby="accordion-1" aria-hidden="true" style="display:none;">
              <div class="<%= namespace %>-Accordion_Content-left <%= namespace %>-Accordion_Content-sp">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/questionnaire-present-0-221005.png" width="242" alt="">
              </div>
              <div>
                <h4 class="c-Heading_Lv4">楽天モバイルショップに来店する。</h4>
                <p class="u-Adjust_Mt-16">
                  ご来店の際は、Webでできる「来店予約」が便利です。<br>
                  各ショップページの<span class="c-Txt_Emp-02">「Webで予約する」</span>ボタンよりご予約ください。
                </p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">
                  ※ショップページに「Webで予約する」ボタンがないショップでは、来店予約を行っておりません。ご了承ください。<br>
                  ※一部店舗のみでの実施です。
                </p>
                <div class="<%= namespace %>-Utility_Mt-16-40">
                  <a href="<%= sitepath %>shop/" class="c-Btn_Primary-large"><span>お近くのショップを探す</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion <%= namespace %>-Accordion_Left u-Adjust_Mt-16">
            <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><div class="<%= namespace %>-Accordion_Title"><p class="c-Txt_Emp-02 <%= namespace %>-Accordion_Title-step">STEP 2</p>店頭アンケートに回答</div></button>
            <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Content" role="region" aria-labelledby="accordion-2" aria-hidden="true" style="display:none;">
              <div class="<%= namespace %>-Accordion_Content-left  <%= namespace %>-Accordion_Content-sp">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/questionnaire-present-1-221005.png" width="118" alt="">
              </div>
              <div>
                <h4 class="c-Heading_Lv4">店頭アンケートにご回答ください。</h4>
                <p class="c-Txt_Cap u-Adjust_Mt-16">※所要時間1分程度のアンケートとなっております。</p>
              </div>
            </div>
          </div>

          <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/triangle.svg" alt=""></div>

          <div class="u-Adjust_Mt-16 <%= namespace %>-Flow_Box">
            <div class="<%= namespace %>-Flow_Box-wrapper">
              <!-- <p class="c-Txt_Emp-02 u-Adjust_Align-center <%= namespace %>-Utility_Disp-pc">ご希望の特典をいずれか1つプレゼント！</p> -->
              <p class="c-Txt_Emp-02 u-Adjust_Align-center">ご希望の特典を<br class="<%= namespace %>-Utility_Disp-sp">いずれか1つプレゼント！</p>
              <div class="<%= namespace %>-Flow_Box-containerA">
                <div class="<%= namespace %>-Flow_Box-innerA">
                  <div class="<%= namespace %>-Flow_Box-panda"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/questionnaire-present-2-221122.png" width="220" alt=""></div>
                  <div class="<%= namespace %>-Flow_Box-tokuten">
                    <picture>
                      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/tokuten1-sp.svg">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/tokuten1-pc.svg" alt="">
                    </picture>
                    <p>楽天モバイルオリジナル<br class="<%= namespace %>-Utility_Br-pc"><span class="<%= namespace %>-Utility_Disp-sp">&nbsp;</span>お買いものパンダグッズ</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="<%= namespace %>-Flow_Box-containerB">
              <div class="<%= namespace %>-Flow_Box-innerB">
                <div class="<%= namespace %>-Flow_Box-point"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/questionnaire-present-3-221018.svg" alt=""></div>
                <div class="<%= namespace %>-Flow_Box-tokuten">
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/tokuten2-sp.svg">
                    <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/tokuten2-pc.svg" alt="">
                  </picture>
                  <p>楽天ポイント<br class="<%= namespace %>-Utility_Disp-sp">200円相当分<span class="c-Txt_Cap">※1</span></p>
                </div>
              </div>
              <div class="<%= namespace %>-Flow_Box-innerB">
                <div class="<%= namespace %>-Flow_Box-coupon"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/questionnaire-present-4-221005.svg" alt=""></div>
                <div class="<%= namespace %>-Flow_Box-tokuten">
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/tokuten3-sp.svg">
                    <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/tokuten3-pc.svg" alt="">
                  </picture>
                  <p>近隣ショップ<br class="<%= namespace %>-Utility_Disp-sp">クーポン<span class="c-Txt_Cap">※2</span></p>
                </div>
              </div>
            </div>
          </div>
          <p class="c-Txt_Cap u-Adjust_Mt-16">
            ※実物と異なる場合があります。<br>
            ※景品はなくなり次第終了となります。<br>
            ※おひとり様1点限りとなります。<br>
            ※1 期間限定ポイントとなります。ポイントはご来店日の3週間後に進呈となります。<br>
            ※2 店舗ごとでご近隣ショップクーポンの内容は異なります。
          </p>
          <div class="u-Adjust_Align-center u-Adjust_Mt-24">
            <a href="<%= sitepath %>shop/" class="c-Btn_Primary-large"><span>お近くのショップを探す</span></a>
          </div>
        </div>
      </div>

      <div class="l-System_Container">
        <div class="u-Adjust_Mt-64">
          <%- include('/inc/_saikyo') %>
        </div>
        <div class="u-Adjust_Align-center u-Adjust_Mt-40">
          <a href="<%= sitepath %>shop/" class="c-Btn_Primary-large"><span>お近くのショップを探す</span></a>
        </div>
      </div>

      <div class="l-System_Container u-Adjust_Mt-64">
        <div id="campaign-rule" class="u-Adjust_Mt-64">

          <div class="<%= namespace %>-Layout_Rule">
            <h2 class="c-Heading_Lv2 u-Adjust_Mt-40" id="campaign-rule1584">楽天モバイルショップ限定！アンケートに答えて選べるプレゼントキャンペーン！</h2>
            <p class="u-Adjust_Mt-24 c-Txt_Emp-02 u-Adjust_Align-center c-Txt_Normal-m">本キャンペーンは終了しました。</p>
            <div class="c-Table_Wrap u-Adjust_Mt-24">
              <div class="u-Adjust_Mt-24">
                <dl class="c-Dl_Origin <%= namespace %>-Dl_Rule">
                  <div>
                    <dt>キャンペーンコード</dt>
                    <dd>
                      <p>1663</p>
                      <ul class="c-Txt_Cap u-Adjust_Mt-8">
                        <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt>キャンペーン期間</dt>
                    <dd>
                      <p>
                        　店舗：2022年10月1日（土）開店～終了日未定<br>
                        　<span class="c-Txt_Cap">※在庫なくなり次第終了</span>
                      </p>
                    </dd>
                  </div>
                  <div>
                    <dt>キャンペーン条件</dt>
                    <dd>
                      <p class="c-Txt_Emp-02">
                        上記各項目の期間内に【1】【2】の条件をすべて満たした楽天会員の方
                      </p>

                      <div class="u-Adjust_Mt-16">
                        <p class="c-Txt_Emp-01">
                          【1】楽天モバイルショップに来店<br>
                          【2】アンケート回答
                        </p>
                      </div>
                    </dd>
                  </div>
                  <div>
                    <dt>キャンペーン特典 （楽天ポイント）</dt>
                    <dt class="<%= namespace %>_Title-sub">特典内容</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">
                        【1】楽天ポイント200ポイント、【2】お買いものパンダ特製ノベルティ、【3】クーポン券のいずれかをプレゼント！<br>
                        <span class="c-Txt_Cap">※店舗によって特典が異なる可能性があります。</span><br>
                      </p>
                    </dd>
                  </div>
                  <div>
                    <dt class="<%= namespace %>_Title-sub">特典進呈時期</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">
                        【1】楽天ポイント200ポイントを選択された場合<br>
                        来店日の3週間後に進呈<br>
                        【2】お買いものパンダ特製ノベルティを選択された場合<br>
                        来店日に進呈<br>
                        【3】クーポン券を選択された場合<br>
                        来店日に進呈
                      </p>
                    </dd>
                  </div>
                  <div>
                    <dt class="<%= namespace %>_Title-sub">ポイント有効期間</dt>
                    <dd>
                      <td>
                        <p class="c-Txt_Emp-01">ポイント進呈日を含めて6カ月</p>
                        <ul class="u-Adjust_Mt-8">
                          <li class="c-Txt_Cap"><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a></li>
                          <li class="c-Txt_Cap"><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。</li>
                        </ul>
                      </td>
                    </dd>
                  </div>
                  <div>
                    <dt>注意事項</dt>
                    <dd>
                      <ul>
                        <li class="c-Txt_Cap"><span>※</span>一部店舗のみでの実施です。</li>
                        <li class="c-Txt_Cap"><span>※</span>各店おひとり様1回限りご参加いただけます。</li>
                        <li class="c-Txt_Cap"><span>※</span>楽天モバイル リモート契約ショップイオンモール八千代緑が丘店においては、お買いものパンダ特製ノベルティまたは優待券は選択することができず、楽天ポイント一律200pt付与となります。</li>
                        <li class="c-Txt_Cap"><span>※</span>以下の条件に当てはまる場合は、景品付与対象外となります。<br>
                          　　・景品付与までに楽天会員から退会している場合<br>
                          　　・当社または楽天グループ株式会社が定める規約などに違反した場合<br>
                          　　・そのほか、当社が会員として不適格であると判断した場合
                        </li>
                        <li class="c-Txt_Cap"><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                        <li class="c-Txt_Cap"><span>※</span>本キャンペーンのポイント進呈対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                        <li class="c-Txt_Cap"><span>※</span>お渡しできる景品数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
                        <li class="c-Txt_Cap"><span>※</span>お渡しできる景品は店舗によって異なる場合があります。</li>
                        <li class="c-Txt_Cap"><span>※</span>本景品を転売等の営利目的で利用した場合、損害賠償を請求させていただく場合があります。</li>
                        <li class="c-Txt_Cap"><span>※</span>その他詳細はRCREWにお問い合わせください。</li>
                        <li class="c-Txt_Cap"><span>※</span>記載の内容は2022年10月1日（土）時点の情報となります</li>
                      </ul>
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <footer class="g-Footer <%= namespace %>-Layout_Footer u-Adjust_Mt-64">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-campaign-v2.ejs') %>

        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>

  <%- include('/include/_append-body') %>

</body>
</html>
