<% const namespace = (typeof marathonCampaign !== 'undefined') ? "oneyearfree-marathon" : "oneyearfree" _%>
<% if (typeof isNoDisplay === 'undefined' || isNoDisplay === false) { %>
<div class="<%= namespace %>-Cta js-cta">
  <div class="l-System_Container <%= namespace %>-Cta_Container">
    <% if (typeof isCountDown !== 'undefined' && isCountDown) { %>
    <div class="js-cdt <%= namespace %>-Cta_Cdt">
      <p>
        <span class="js-timer-text"></span>
        <span class="<%= namespace %>-Cta_Txt2 js-timer"></span>
      </p>
      <div class="js-timer-cap <%= namespace %>-Cta_Grid"></div>
    </div>
    <% } %>
    <div style="padding: 0 4px;">
      <% if (typeof hikariid !== 'undefined') { %>
      <% const hikariidparam = `${hikariid}` -%>
      <a href="https://secure3.gol.com/mod-pl/rbb/rmch.cgi?scode=qngTI9rXJpRlc1l6roM&cpnkind=offoffer2303d6" data-lid_no="<%= hikariidparam %>" class="js-timer-btn c-Btn_Primary-large js-timer-btn"><span><span>楽天ひかりに申し込む</span><span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span></span></a>
      <% } else { %>
      <% } %>
    </div>
  </div>
</div>
<% } %>