<% const pagetitle = "通信・エリア" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '楽天モバイルの通信エリア（4G・5Gの電波状況）を、地図や住所検索で簡単にご確認いただけます。あなたの住む街でも快適に。',
    noindex: false,
    pathname: filepath,
    browseragent: true,
    ogp_img: 'https://network.mobile.rakuten.co.jp/assets/img/area/ogp.png'
  });
%>
<%- include('/include/_common-css-v2') %>

<link rel="stylesheet" href="<%= sitepath %>assets/css/area/area.css?20240514">
<link rel="stylesheet" href="<%= sitepath %>assets/css/area/area-map.css?20240426">
<link rel="stylesheet" href="<%= sitepath %>assets/css/uservoice/uservoice.css?20240424">
<%- include('/inc/_saikyo-css') %>

<script src="https://www.rakuten.co.jp/com/advance/mobile/mnoprj_prefectures/pc/16441/condition_pre.js"></script>
<script src="https://r.r10s.jp/com/ap/target/phoenix-2.9.0.min.js"></script>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<section class="area-Top_Hero">
  <h1>
    <picture>
      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/area/hero-sp-240514.png" width="750" height="288">
      <img src="<%= sitepath %>assets/img/area/hero-pc-240514.png" width="958" height="238" alt="つながりやすさも最強へ。楽天モバイルは5G通信速度で高評価を獲得！※">
    </picture>
  </h1>
</section>
<div class="area-Top_Caption">
  <p class="c-Txt_Cap">※モバイル・ネットワーク・ユーザー体感レポート（2024年4月）データ収集期間：2023年12月1日～2024年2月28日© 2024 Opensignal Inc. 5Gは一部エリアで提供</p>
  <p class="u-Adjust_Mt-8"><a href="#award" class="c-Link_Txt-icon-front js-scroll" data-ratid="area_evaluation_detail" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>詳細を見る</a></p>
</div>

<div class="l-System_Container area-Top">
  <h2 class="c-Heading_Lv2 u-Adjust_Mt-24" id="area">サービスエリアマップ</h2>
  <div class="area-Map" id="js-trigger">
    <div id="place-search-wrapper">
      <div class="c-Search_Container form-group">
        <span class="glyphicon glyphicon-search"></span>
        <input type="text" class="form-control controls c-Search_Input" id="pac-input" aria-label="地図を検索" placeholder="住所・建物名で探す">
        <div class="c-Search_Btn js-area-Search_Btn"><span class="c-Icon_Search c-Search_Icon" data-ratid="area_address-search" data-ratevent="click" data-ratparam="all"></span></div>
      </div>
    </div>

    <div class="map-wrap u-Adjust_Mt-24">
      <div id="map" data-update="20240510"></div>
      <button type="button" id="map-loc-button" class="c-Btn_Regular" data-ratid="area_current-location" data-ratevent="click" data-ratparam="all"><span class="area-Top_Btn-current-icon"></span><span class="u-Show_Xxo">現在地</span></button>
      <a href="<%= sitepath %>area/map.html?l-id=area_area_map_5g" class="area-Top_Btn-fullscreen c-Btn_Secondly" id="js-fullscreen-btn"><span>全画面表示</span></a>
    </div>

    <div id="legend" class="area-Top_Map-usage">
      <div class="u-Show_Oox">
        <a href="#modal4g" data-target="area-4g" aria-hidden="true" class="js-area-target js-Modal c-Link_Txt-icon-front" data-ratid="area_explanatory-note" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Zoom-in-l"></span>凡例を確認する</a>
        <a href="#modal5g" data-target="area-5g" aria-hidden="false" class="js-area-target js-Modal c-Link_Txt-icon-front" data-ratid="area_explanatory-note" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Zoom-in-l"></span>凡例を確認する</a>
      </div>
      <div class="u-Show_Xxo">
        <div id="modal4g">
          <dl class="area-Top_Map-legend-wrap js-area-target" data-target="area-4g" aria-hidden="true">
            <dt class="c-Txt_Emp-01">データ高速無制限エリア</dt>
            <dd>
              <ul class="area-Top_Map-legend">
                <li class="area-Top_Map-legend-service">4G LTE
                  <button class="c-Tooltip js-Tooltip-inline" aria-label="エリアの説明を表示" data-tippy-theme="default" data-tippy-content="楽天モバイル自社回線＋パートナー（au）回線にてご利用可能なエリアです">
                    <span class="c-Icon_Stack c-Tooltip_Icon">
                      <span class="c-Icon_Sign-help-f c-Icon_Stack-icon-f"></span>
                      <span class="c-Icon_Sign-help-l c-Icon_Stack-icon-l"></span>
                    </span>
                  </button>
                </li>
              </ul>
            </dd>
          </dl>
        </div>
        <div id="modal5g">
          <dl class="area-Top_Map-legend-wrap js-area-target" data-target="area-5g" aria-hidden="false">
            <dt class="c-Txt_Emp-01">データ高速無制限エリア</dt>
            <dd>
              <ul class="area-Top_Map-legend">
                <li class="area-Top_Map-legend-service">4G LTE
                  <button class="c-Tooltip js-Tooltip-inline" aria-label="エリアの説明を表示" data-tippy-theme="default" data-tippy-content="楽天モバイル自社回線＋パートナー（au）回線にてご利用可能なエリアです">
                    <span class="c-Icon_Stack c-Tooltip_Icon">
                      <span class="c-Icon_Sign-help-f c-Icon_Stack-icon-f"></span>
                      <span class="c-Icon_Sign-help-l c-Icon_Stack-icon-l"></span>
                    </span>
                  </button>
                </li>
                <li class="area-Top_Map-legend-5gmilli">5G ミリ波
                  <button class="c-Tooltip js-Tooltip-inline" aria-label="エリアの説明を表示" data-tippy-theme="default" data-tippy-content="楽天モバイル自社回線に接続する5G ミリ波エリアです">
                    <span class="c-Icon_Stack c-Tooltip_Icon">
                      <span class="c-Icon_Sign-help-f c-Icon_Stack-icon-f"></span>
                      <span class="c-Icon_Sign-help-l c-Icon_Stack-icon-l"></span>
                    </span>
                  </button>
                </li>
                <li class="area-Top_Map-legend-5gsub6">5G Sub6
                  <button class="c-Tooltip js-Tooltip-inline" aria-label="エリアの説明を表示" data-tippy-theme="default" data-tippy-content="楽天モバイル自社回線に接続する5G Sub6エリアです">
                    <span class="c-Icon_Stack c-Tooltip_Icon">
                      <span class="c-Icon_Sign-help-f c-Icon_Stack-icon-f"></span>
                      <span class="c-Icon_Sign-help-l c-Icon_Stack-icon-l"></span>
                    </span>
                  </button>
                </li>
              </ul>
            </dd>
          </dl>
        </div>
      </div>
      <div>
        <label class="c-Form_Checkbox">
          <input type="checkbox" name="" id="toggle-map-checkbox" value="4g" data-ratid="area_4g-only-display" data-ratevent="click" data-ratparam="all">
          <span class="c-Icon_Check"></span>
          <span class="c-Form_Checkbox-label">4G LTEのみ表示</span>
        </label>
      </div>
    </div>
    <div>
      <div id="area-conversion-buttons" aria-hidden="true">
        <div class="area-conversion-button" id="area-current-button"><span><input type="radio" id="current" name="area-conversion">4G</span></div>
        <div class="area-conversion-button" id="area-current5g-button"><span><input type="radio" id="current5g" name="area-conversion">5G</span></div>
      </div>
      <div class="js-area-target" data-target="area-4g" aria-hidden="true">
        <div class="u-Adjust_Mt-16">
          <div>
            <ul class="c-Txt_Cap area-Top_Cap">
              <li><span>※</span>2024年5月10日更新（4Gは2024年4月1日時点のデータ。5Gは2024年2月13日時点のデータ）。</li>
              <li><span>※</span>データ高速無制限エリアであっても、地下、屋内、大きな商業ビルの屋内等の場所、電波の状況等によって通信速度が変化する場合あり。</li>
              <li><span>※</span>製品の楽天回線対応状況については「<a href="<%= sitepath %>product/byod/?l-id=area_product_byod" class="c-Link_Txt">ご利用製品の対応状況</a>」をご確認ください。</li>
              <li><span>※</span>パートナー回線エリアについては「<a href="<%= sitepath %>area/map_partner.html?l-id=area_area_map_partner" class="c-Link_Txt">パートナー回線エリアマップ</a>」をご確認ください。</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="js-area-target" data-target="area-5g" aria-hidden="false">
        <div class="u-Adjust_Mt-16">
          <div>
            <ul class="c-Txt_Cap area-Top_Cap">
              <li><span>※</span>2024年5月10日更新（4Gは2024年4月1日時点のデータ。5Gは2024年2月13日時点のデータ）。</li>
              <li><span>※</span>5Gサービスは電波の性質が異なる「Sub6」「ミリ波」のサービスから構成。「ミリ波」は電波の性質上、5Gエリアのうち、ごく限られたエリアで利用可能。</li>
              <li><span>※</span>5G対応製品はSub6のみに対応した製品とSub6、ミリ波の両方に対応した製品あり。</li>
              <li><span>※</span>5G対応製品を5Gサービス利用可能エリアで利用した際の理論上の通信速度は製品により異なる。</li>
              <li><span>※</span>一部5Gサービスエリアは工事の状況等により、サービス開始時期が変更になる場合あり。</li>
              <li><span>※</span>記載の地域は実際に5Gサービスを利用できる一部のエリアを包含したものであり、当該地域の中でも一部5Gサービスが利用できない場合あり。</li>
              <li><span>※</span>5G通信は電波の性質上、4G LTEと比べて屋内への電波が届きにくいため、サービスエリア内であっても5G通信のご利用ではなく、4G LTE通信となる場合あり。</li>
              <li><span>※</span>お使いの端末画面上（画面上部）に待ち受け時は「5G」と表示されている場合でも、通信を行う際は表示が「4G」に切り替わり、4G LTE通信となる場合あり。</li>
              <li><span>※</span>4G LTE通信について、データ高速無制限エリアであっても、地下、屋内、大きな商業ビルの屋内等の場所、電波の状況等によって通信速度が変化する場合あり。</li>
              <li><span>※</span>製品の楽天回線対応状況については「<a href="<%= sitepath %>product/byod/?l-id=area_product_byod" class="c-Link_Txt">ご利用製品の対応状況</a>」をご確認ください。</li>
              <li><span>※</span>パートナー回線エリアについては「<a href="<%= sitepath %>area/map_partner.html?l-id=area_area_map_partner" class="c-Link_Txt">パートナー回線エリアマップ</a>」をご確認ください。</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="u-Adjust_Mt-16">
        <a href="#area-precautions" class="area-Top_Modal-link js-Modal c-Link_Txt-icon-front" data-ratid="area_service-notes" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Zoom-in-l"></span>サービスエリアに関する注意事項</a>
        <div id="area-precautions" style="display:none;">
          <h3 class="c-Heading_Lv4 u-Adjust_Mb-24">サービスエリアに関する注意事項</h3>
          <ol class="c-List_Ordered">
            <li>サービスエリアは計算上の数値判定に基づき作成しているため、実際の電波状況と異なる場合があります。またサービスエリアは予告なく変更となる場合があります。</li>
            <li>本サービスはベストエフォート方式による提供となります。実際の通信速度は、場所、通信環境、ネットワークの混雑状況、対応端末に応じて変化します。</li>
            <li>ご利用いただく機器や利用環境（建物の中・地下・トンネルなど電波の届かないところ）により利用可能なサービスエリアが制限される場合があります。</li>
            <li>パートナー回線エリア内ではau回線によるローミング接続がご利用いただけます。詳細は<a href="https://www.kddi.com/corporate/kddi/public/roaming/area/" target="_blank">KDDI株式会社のエリアマップ</a>をご確認ください。<br>
              <ul class="c-Txt_Cap">
                <li>・ローミングサービスの提供エリアの変更が決まり次第、順次更新します。</li>
              </ul>
            </li>
            <li>楽天回線エリアとパートナー回線エリアとの境界付近や、地下と屋外の間を移動するとき、大きな商業ビルと屋外を移動するときに通信・通話が切断されたり、一時的にご利用になれない場合があります。</li>
            <li>データ高速無制限エリアであっても、地下、屋内、大きな商業ビルの屋内等の場所、製品の設定、電波の状況等によって通信速度が変化する場合があります。</li>
            <li>年末年始や災害時、および花火大会などのイベント開催時に利用する場合、回線の混雑によりつながりにくくなることがあります。</li>
            <li>富士山頂付近のデータ高速無制限エリアは、山開きの期間中の7月から8月下旬のみのサービス提供となります。</li>
            <li>楽天モバイルが本サービスのために提供する製品、もしくは動作検証された製品以外での通信は保証されません。</li>
            <li>データ通信によるトラフィックがネットワーク帯域の上限を超える場合またはご利用の製品やアプリの設定などにより、通信速度やデータ通信量が制限される場合があります。</li>
            <li>画面の表示速度や動画の再生開始時間を早くするための通信の最適化（端末の画面に適したサイズに画面、動画などを圧縮・変換すること）を行う場合があります。</li>
            <li>本サービス網全体の輻輳（ふくそう）状態が継続して発生することを避けるため、輻輳制御を行う場合があります。</li>
            <li>電波の性質上、電波状態は刻々と変動します。携帯電話に表示されるアンテナマークは目安としてご利用ください。</li>
            <li>海上エリアでの緊急通報は、携帯電話から118を押してください。</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="c-Accordion u-Adjust_Mt-24 js-area-target" data-target="area-5g" aria-hidden="true" data-ratid="area_scroll-02_about-5g" data-ratevent="appear">
    <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1" data-ratid="area_about-5g" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>5Gについて</button>
    <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
      <div class="u-Adjust_Mt-32">
        <a class="c-Banner_Hover-act" href="<%= sitepath %>area/5g/?l-id=area_area_5g">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/bnr/bnr-area-5g-343-108.png">
            <source srcset="<%= sitepath %>assets/img/bnr/bnr-area-5g-1032-160.png">
              <img src="<%= sitepath %>assets/img/bnr/bnr-area-5g-1032-16.png" alt="2020年9月30日、楽天モバイルの5Gサービス開始 5Gとは　※ 5Gは一部エリアで提供">
          </picture>
        </a>
      </div>
      <div class="u-Adjust_Mt-32">
        <h2 class="c-Heading_Lv2">5G 2つの電波 ~ ミリ波とSub6 について ~</h2>
        <div class="l-Media_Grid-reverse u-Adjust_Mt-24">
          <div>
            <p>5Gでは「ミリ波（は）」「Sub6（サブシックス）」と呼ばれる、周波数の異なる2つの電波を利用しています。<br>楽天モバイルはそれぞれの電波の特性を活かして、5Gサービスエリアの拡大を進めています。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">5G対応製品には「Sub6」のみ対応するものがあります。<br>Rakutenオリジナルの5G対応製品は、Rakuten Hand 5Gを除き「ミリ波」「Sub6」両方に対応しています。</p>
          </div>
          <div class="l-Media_Image">
            <img src="/assets/img/area/5g/img-feature-01.png?210903" alt="">
          </div>
        </div>
      </div>
      <div class="u-Adjust_Mt-40">
        <div class="c-Table_Wrap-scroll">
          <table class="c-Table_Container" style="width:800px;">
            <colgroup>
              <col style="width:20%;">
              <col style="width:40%;">
              <col style="width:40%;">
            </colgroup>
            <thead>
              <tr>
                <th></th>
                <th scope="col" class="u-Adjust_Align-center">メリット</th>
                <th scope="col" class="u-Adjust_Align-center">デメリット</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="u-Adjust_Align-center">ミリ波<br><span class="c-Txt_Normal-s">（28GHz帯）</span></th>
                <td>超高速・大容量、超低遅延、多数同時接続ができる。</td>
                <td>電波の届く範囲が狭く、障害物の影響を受けやすい傾向がある。</td>
              </tr>
              <tr>
                <th scope="row" class="u-Adjust_Align-center">Sub6<br><span class="c-Txt_Normal-s">（3.7GHz帯）</span></th>
                <td>電波が広域まで届き、障害物の影響を受けにくい傾向がある。</td>
                <td>通信速度、多数同時接続においてミリ波に劣る。</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="prefecture" class="l-System_Container u-Adjust_Mt-64">
  <div class="u-Rat_Appear-height" data-ratid="area-prefecture-gadget" data-ratevent="appear" data-ratparam="all"></div>
  <div id="js-prefecture" class="u-Adjust_Mb-16" style="display: none;">
    <div><a href="<%= sitepath %>/area/tokyo/?area-area-tokyo" id="js-prefecture-link">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/area/bnr/area_saitama_sp.png?231108" width="100%" id="js-prefecture-img-sp">
        <img src="<%= sitepath %>assets/img/area/bnr/area_saitama_pc.png?231108" width="1032" height="160" alt="" loading="lazy" id="js-prefecture-img-pc">
      </picture>
    </a></div>
    <div class="u-Rat_Appear-height" data-ratid="" data-ratevent="appear" data-ratparam="all" id="js-prefecture-appear"></div>
    <div class="u-Rat_Appear-height" data-ratid="" data-ratevent="appear" data-ratparam="all" id="js-prefecture-appear-all"></div>
    <input type="hidden" name="pitari_phx_pattern_prefecture" id="phx_pattern_name_prefecture" value="">
    <input type="hidden" name="krt_prefecture" id="krt_prefecture" value="">
  </div>
  <div id="js-prefecture-none" style="display: none;">
    <div class="u-Rat_Appear-height" data-ratid="area_none-login-pitari" data-ratevent="appear" data-ratparam="all" id="js-prefecture-rat-none"></div>
  </div>
  <div id="js-prefecture-none-inhouse" style="display: none;">
    <div class="u-Rat_Appear-height" data-ratid="area_other-inhouse" data-ratevent="appear" data-ratparam="all" id="js-prefecture-rat-none-inhouse"></div>
  </div>
  <div id="js-prefecture-sp-inhouse" style="display: none;">
    <div class="u-Rat_Appear-height" data-ratid="area_sp-inhouse" data-ratevent="appear" data-ratparam="all" id="js-prefecture-rat-sp-inhouse"></div>
  </div>
  <div id="js-prefecture-appear-ip-none" style="display: none;">
    <div class="u-Rat_Appear-height" data-ratid="area_ip-inhouse" data-ratevent="appear" data-ratparam="all" id="js-prefecture-rat-ip-inhouse"></div>
  </div>
  <div id="js-inhouse" style="display: none;">
    <div class="u-Rat_Appear-height" data-ratid="" data-ratevent="appear" data-ratparam="all" id="js-inhouse-accuracy"></div>
  </div>
  <div class="u-Adjust_Mt-16"><a href="/area/prefecture/?l-id=area_area_prefecture">
    <picture>
      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/area-prefecture-343-108-231108.png" width="100%">
      <img src="<%= sitepath %>assets/img/bnr/area-prefecture-1032-160-231108.png" width="1032" height="160" alt="47都道府県&主要都市 通信品質やショップなどエリア別の情報を詳しく見る" loading="lazy">
    </picture>
  </a></div>
  <div class="u-Adjust_Mt-32"><a href="/ad/reportcard/?l-id=area_ad_reportcard">
    <picture>
      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-reportcard-343-108.jpg" width="100%">
      <img src="<%= sitepath %>assets/img/bnr/bnr-reportcard-1032-160.jpg" width="1032" height="160" alt="みんなに聞いた！楽天モバイル通信簿" loading="lazy">
    </picture>
  </a></div>
</div>

<div class="area-Top_Award u-Adjust_Mt-64" id="award">
  <div class="l-System_Container">
    <h2 class="area-Top_Award-heading">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/area/title-opensignal-sp-240514.png" width="537" height="157">
        <img src="<%= sitepath %>assets/img/area/title-opensignal-pc-240514.png" width="495" height="48" alt="楽天モバイルの通信品質は、高い評価を獲得!" loading="lazy">
      </picture>
    </h2>
    <div class="u-Adjust_Align-center">
      <img src="<%= sitepath %>assets/img/area/logo-opensignal-240514.png" width="183" height="32" alt="Opensignal" loading="lazy">
    </div>
    <div class="c-Theme-White area-Top_Award-detail">
      <h3>モバイル・ネットワーク・ユーザー・<br class="u-Show_Oxx">エクスペリエンス・アワード</h3>
      <div class="u-Adjust_Mt-16">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/area/img-award-01-sp-240514.png" width="626" height="542">
          <img src="<%= sitepath %>assets/img/area/img-award-01-pc-240514.png" width="753" height="122" alt="5G通信速度部門でダブル単独受賞！5G アップロードスピード、5G ダウンロードスピード 他3部門で単独受賞※ アップロードスピード体感、モバイルゲーム体感、音声アプリ通話体感 2部門で共同受賞※ ライブビデオ体感、ビデオ体感" loading="lazy">
        </picture>
      </div>
      <p class="u-Adjust_Mt-16 c-Txt_Cap">
        ※Opensignal Awards「モバイル・ネットワーク・ユーザー体感レポート（2024年4月）／データ収集期間（2023年12月1日 ～2024年2月28日）」<br>© 2024 Opensignal Inc. 詳しくは、<a href="https://corp.mobile.rakuten.co.jp/news/press/2024/0425_02/" class="c-Link_Txt-inline" target="_blank" rel="noopener">当社プレスリリース<span class="c-Icon_New-window-l"></span></a>をご確認ください。※5Gは一部エリアで提供
      </p>
    </div>
    <div class="c-Theme-White area-Top_Award-detail">
      <h3>グローバル・モバイル・<br class="u-Show_Oxx">ネットワーク・エクスペリエンス・<br class="u-Show_Oxx">アワード 2024において<br class="u-Show_Oxx"><span class="c-Txt_Emp-02">世界最高評価を獲得</span><sup>※</sup></h3>
      <div class="u-Adjust_Mt-16">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/area/img-award-02-sp-240514.png" width="633" height="310">
          <img src="<%= sitepath %>assets/img/area/img-award-02-pc-240514.png" width="803" height="68" alt="2部門で世界最高評価を獲得 音声アプリ通話体感、モバイルゲーム体感 1部門でグローバル・リーダーに選出　アップロードスピード体感" loading="lazy">
        </picture>
      </div>
      <p class="u-Adjust_Mt-16 c-Txt_Cap">
        ※ Opensignal Awards「Opensignal Global Awards 2024 — Group 1（2024年1月）／データ収集期間（2023年7月1日 ～2023年12月27日）」<br>© 2024 Opensignal Inc.詳しくは、<a href="https://corp.mobile.rakuten.co.jp/news/press/2024/0227_01/" class="c-Link_Txt-inline" target="_blank" rel="noopener">当社プレスリリース<span class="c-Icon_New-window-l"></span></a>をご確認ください。
      </p>
    </div>
  </div>
</div>

  <div class="l-System_Container">
    <h3 class="c-Heading_Lv3 u-Adjust_Align-center u-Adjust_Mt-64">楽天モバイルは、継続した通信品質改善を行っております</h3>
    <div class="c-Theme-Borderbox u-Adjust_Mt-16">
      <div class="l-Media_Grid area-Top_Project-order-sp">
        <div class="l-Media_Image">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/area/img-project-sp-240318.png" width="622" height="214">
            <img src="<%= sitepath %>assets/img/area/img-project-pc-240318.png" width="304" height="153" alt="">
          </picture>
        </div>
        <div>
          <h4 class="c-Heading_Lv4 u-Align_Ccl">現在「Rakuten最強プラン」<br class="u-Show_Oox">プロジェクトが進行中！</h4>
          <dl class="u-Adjust_Mt-16">
            <dt><span class="c-Txt_Emp-01 c-Txt_Normal-s">2024年5月14日更新</span></dt>
            <dd>
              2024年4月16日～30日に、全国40都道府県102市区町村で新たな楽天モバイル基地局を設置しました。
            </dd>
          </dl>
          <div class="u-Adjust_Mt-16 area-Top_Project-order-sp-link"><a href="<%= sitepath %>area/saikyo-plan-project/?l-id=area_saikyo-plan-project" class="c-Link_Txt-inline-icon">詳細を見る<span class="c-Icon_Chevron-right"></span></a></div>
        </div>
      </div>
    </div>
  </div>

<div class="u-Adjust_Mt-64">
  <%- include('/inc/_saikyo') %>
</div>




<div class="l-System_Container u-Adjust_Mt-64 u-Adjust_Mt-pc-80">
  <%- include('/include/_bnr-cpn-recommend-v2.ejs') %>
</div>

<div class="area-Top">
  <div class="area-Top-Utility_Mt-64-56">
    <div class="l-System_Container">
      <div class="area-Top_Expand">
        <h2 id="connection" class="c-Heading_Lv3 u-Adjust_Mb-24 u-Adjust_Align-center" data-ratid="area_scroll-03_connection" data-ratevent="appear">あなたの住む街でも快適に。</h2>
        <div class="area-Top_Expand-flex-pc">
          <div class="area-Top_Expand-item">
            <div class="area-Top_Fukidashi">
              <p>地下駅でも</p>
            </div>
            <img src="<%= sitepath %>assets/img/area/img-expand-1-221102.png" alt="" class="area-Top_Expand-img1">
            <p class="u-Adjust_Align-center c-Heading_Lv4">地下駅・地下街でも<br>データ高速無制限エリア化！</p>
            <a href="<%= sitepath %>area/station/?l-id=area_area_station" class="c-Btn_Regular-large"><span>地下駅・地下駅間を見る</span></a>
          </div>
          <div class="area-Top_Expand-item">
            <div class="area-Top_Fukidashi">
              <p>海外でも</p>
            </div>
            <img src="<%= sitepath %>assets/img/area/img-expand-2-221102.png" alt="" class="area-Top_Expand-img2">
            <p class="u-Adjust_Align-center c-Heading_Lv4">対象の国と地域で毎月2GBまで<br>無料<span style="font-size:10px;position:relative;top:-7px;">※3</span>で海外ローミングが可能！</p>
            <a href="<%= sitepath %>support/international-roaming/area/?l-id=area_related_support_international-roaming" class="c-Btn_Regular-large"><span>対応エリア・料金を見る</span></a>
          </div>
        </div>
        <p class="c-Txt_Cap u-Adjust_Mt-16">※3 プランのデータ利用量に加算。通話料等別。2GB超過後は最大128kbps。<a href="#caution" class="js-scroll">その他条件の詳細はこちら</a></p>
      </div>
      <div class="area-Top_Other-first c-Theme-Light" id="introduction">
        <div class="c-Heading_Lv4 u-Adjust_Align-center">あんしんをお届けするために。</div>
        <div class="area-Top-Utility_Expand">
          <div>
            <div>
              <img src="<%= sitepath %>assets/img/area/img-expand-3-230306.png" width="158" height="158" loading="lazy" alt="エリア拡大">
            </div>
            <div>
              <span class="c-Txt_Emp-01">イベントや観光地のエリア対策、電波改善活動</span>などをご紹介！
              <p class="area-Top-Utility_Pc">
                <a target="_blank" href="https://corp.mobile.rakuten.co.jp/blog/?category=area&l-id=area_corp_blog" class="c-Btn_Regular u-Adjust_Mt-16"><span>エリア拡大への取り組みを見る</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></a>
              </p>
            </div>
          </div>
          <p class="area-Top-Utility_Sp">
            <a target="_blank" href="https://corp.mobile.rakuten.co.jp/blog/?category=area&l-id=area_corp_blog" class="c-Btn_Regular u-Adjust_Mt-16"><span>エリア拡大への取り組みを見る</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></a>
          </p>
          <div class="area-Top-Utility_Expand_M-24-32">
            <div>
              <img src="<%= sitepath %>assets/img/area/img-expand-4-230306.png" width="158" height="158" loading="lazy" alt="災害対策">
            </div>
            <div>
              <span class="c-Txt_Emp-01">全国への車載局拡充や訓練実施</span>など、万一の災害に備えて対策中！
              <p class="area-Top-Utility_Pc">
                <a target="_blank" href="https://corp.mobile.rakuten.co.jp/sustainability/bcp/?l-id=area_top_sustainability_bcp" class="c-Btn_Regular u-Adjust_Mt-16"><span>災害への取り組みを見る</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></a>
              </p>
            </div>
          </div>
          <p class="area-Top-Utility_Sp">
            <a target="_blank" href="https://corp.mobile.rakuten.co.jp/sustainability/bcp/?l-id=area_top_sustainability_bcp" class="c-Btn_Regular u-Adjust_Mt-16"><span>災害への取り組みを見る</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="area-Layout_Theme-Light u-Adjust_Mt-64">
    <div id="uservoice" class="l-System_Container">
      <h2 class="c-Heading_Lv2" data-ratid="area_scroll-04_uservoice" data-ratevent="appear">通信・エリアに関するお客様の声</h2>
      <div class="area-Top-Utility_Mt-32-24">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/area/img-voice-sp-230224.png" width="686" height="193">
          <img src="<%= sitepath %>assets/img/area/img-voice-pc-230224.png" width="1032" height="133" loading="lazy" alt="実際に使った感想をお聞きしました　楽天モバイルの評判をご紹介">
        </picture>
      </div>
      <ul class="uservoice-Top_Card">
        <li class="uservoice-Top_Card-list">
          <a href="<%= sitepath %>uservoice/24/?l-id=area_top_uservoice_24" class="c-Card_Normal">
            <dl class="uservoice-Top_Card-list-profile">
              <dt>
                <p class="area-Layout-uservoice_Card">安定した高速データ通信で動画が楽しめるようになりました。</p>
                <p class="uservoice-Top_Card-list-name">本多さん（仮名・50代男性／千葉県）</p>
              </dt>
              <dd>
                <div>
                  <img src="<%= sitepath %>assets/img/uservoice/avator-24.png" alt="">
                </div>
              </dd>
            </dl>
          </a>
        </li>
        <li class="uservoice-Top_Card-list">
          <a href="<%= sitepath %>uservoice/01/?l-id=area_top_uservoice_01" class="c-Card_Normal">
            <dl class="uservoice-Top_Card-list-profile">
              <dt>
                <p class="area-Layout-uservoice_Card">通信速度に大満足！1年以上使った感想「通信速度が劇的に速いです！」</p>
                <p class="uservoice-Top_Card-list-name">鈴木さん（仮名・30代女性／東京都）</p>
              </dt>
              <dd>
                <div>
                  <img src="<%= sitepath %>assets/img/uservoice/avator-01.png" alt="">
                </div>
              </dd>
            </dl>
          </a>
        </li>
        <li class="uservoice-Top_Card-list">
          <a href="<%= sitepath %>uservoice/06/?l-id=area_top_uservoice_06" class="c-Card_Normal">
            <dl class="uservoice-Top_Card-list-profile">
              <dt>
                <p class="area-Layout-uservoice_Card">夫婦で毎月約2万円の節約！通信費が大幅に下がり、家計は大助かり。</p>
                <p class="uservoice-Top_Card-list-name">中野さん（仮名・20代男性／滋賀県）</p>
              </dt>
              <dd>
                <div>
                  <img src="<%= sitepath %>assets/img/uservoice/avator-06.png" alt="">
                </div>
              </dd>
            </dl>
          </a>
        </li>
        <li class="uservoice-Top_Card-list">
          <a href="<%= sitepath %>uservoice/56/?l-id=area_top_uservoice_56" class="c-Card_Normal">
            <dl class="uservoice-Top_Card-list-profile">
              <dt>
                <p class="area-Layout-uservoice_Card">データ使い放題とRakuten Linkで快適になりました。</p>
                <p class="uservoice-Top_Card-list-name">上地さん（仮名・40代女性／福井県）</p>
              </dt>
              <dd>
                <div>
                  <img src="<%= sitepath %>assets/img/uservoice/avator-56.png" alt="">
                </div>
              </dd>
            </dl>
          </a>
        </li>
      </ul>
      <div class="u-Adjust_Align-center u-Adjust_Pt-24">
        <a class="c-Btn_Regular u-Adjust_t-24" href="<%= sitepath %>uservoice/?l-id=area_top_uservoice">すべてのお客様の声を見る</a>
      </div>
    </div>
  </div>

  <div class="l-System_Container">
    <div class="area-Top_Others">
      <h2 class="c-Heading_Lv2">その他エリアに関するご案内</h2>
      <p class="u-Adjust_Mt-16">サービス機能向上のためのメンテナンス工事実施の際、一部サービスが中断する場合があります。</p>
      <div class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>info/construction/?l-id=area_info_construction" class="c-Btn_Regular"><span>メンテナンス工事のお知らせを見る</span></a>
      </div>
      <p class="u-Adjust_Mt-32">停電が発生した際、楽天モバイルの携帯電話が一部または全域においてご利用いただけない場合があります。</p>
      <div class="u-Adjust_Mt-16">
        <a href="<%= sitepath %>area/outage/?l-id=area_top_outage" class="c-Btn_Regular"><p class="area-Top-Utility_Pc">停電時に利用できない場合がある施設・スポットを見る</p><p class="area-Top-Utility_Sp">停電時に利用できない場合が<br>ある施設・スポットを見る</p></a>
      </div>
    </div>
  </div>
</div>

<div class="area-Layout_Theme-Light u-Adjust_Mt-64">
  <div class="l-System_Container">
    <div>
      <div class="area-Layout_Casa">
        <div class="area-Layout_Casa-body">
          <h2 class="c-Heading_Lv2">ご自宅で楽天回線につながりにくいときは？</h2>
          <p class="c-Txt_Emp-02 c-Txt_Normal-m u-Adjust_Mt-24">屋内用小型基地局「Rakuten Casa」を設置することで、楽天回線を快適にご利用いただけます。</p>
          <p class="u-Adjust_Mt-8">電波環境が悪いご自宅、店舗等の屋内でも、「Rakuten Casa」を利用して楽天回線に接続すれば、快適にご利用いただけます。</p>
        </div>
        <div class="area-Layout_Casa-img l-Media_Image">
          <img src="<%= sitepath %>assets/img/area/area-rakuten-casa.png" alt="Rakuten Casa" width="343" height="218" loading="lazy">
        </div>
      </div>
      <div class="u-Adjust_Align-center u-Adjust_Mt-16">
        <a class="c-Btn_Regular-large" href="<%= sitepath %>area/rakuten-casa/?l-id=area_area_rakuten-casa">Rakuten Casaの詳細を見る</a>
      </div>
      <p class="c-Txt_Cap u-Adjust_Mt-16">※ 公平にサービスを提供するため通信速度の制御を行う場合があります。環境により速度低下する場合があります。※ Rakuten Casaを設置した建物の構造や遮蔽物の存在によっては、同一建物内であっても電波が届かず、ご利用できない場合があります。※ Rakuten Casaは5G通信サービスには対応しておりません。
        ※ インターネットの速度については、LTE／Wi-FiともにRakuten Casaが接続しているインターネット回線の速度に依存します。</p>
    </div>
    <div class="area-Layout_Info area-Top-Utility_Mt-48-40">
      <div>
        <h2 class="c-Heading_Lv2">サービスエリアに関するお問い合わせ・ご要望</h2>
        <p class="u-Adjust_Mt-16">
          楽天モバイルご利用者様にご満足いただけるよう、電波に関する改善を行っております。<br>
          つながらない、速度が遅いと感じられる場合など、電波改善のご要望は以下のフォームよりご意見・ご要望をお聞かせください。
        </p>
        <div class="area-Layout_Info-inquiries u-Adjust_Mt-16">
          <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <a class="area-Layout_Info-inquiry-btn c-Btn_Regular" href="https://r10.to/hN2BFc" data-ratid="" data-ratevent="click" data-ratparam="all">電波改善要望フォーム</a>
          </div>
        </div>
        <div class="u-Adjust_Mt-16">
          楽天モバイル法人プランをご契約中のお客様は、「<a href="https://business-portal.mobile.rakuten.co.jp/" class="c-Link_Txt-inline">my 楽天モバイル Office</a>」のお問い合わせフォームよりご依頼ください。
        </div>
        <div class="u-Adjust_Mt-24">
          <a href="<%= sitepath %>support/link/manual/?l-id=area_support_link_manual" class="c-Link_Txt-inline">Rakuten Linkに関するサポートを確認する<span class="c-Icon_Chevron-right"></span></a>
        </div>
        <div class="u-Adjust_Mt-8">
          <a href="<%= sitepath %>support/?l-id=area_support" class="c-Link_Txt-inline">初期設定やその他のお問い合わせ<span class="c-Icon_Chevron-right"></span></a>
        </div>
      </div>
      <div class="l-Media_Image area-Layout_Info-img">
        <p class="u-Adjust_Mt-0 u-Adjust_Pt-16">
          <img src="<%= sitepath %>assets/img/area/gb-image-1_20230324.png" alt="" data-loaded="true" width="311" height="163" loading="lazy">
        </p>
      </div>
    </div>
  </div>
</div>
<div class="u-Adjust_Align-center area-Top-Utility_Mt-64-56">
  <div class="l-System_Container">
    <div class="l-Media_Grid-half">
      <div class="l-Media_Image">
        <a href="<%= sitepath %>feature/why-rakuten-mobile/?l-id=area_feature_why-rakuten-mobile" class="c-Banner_Hover-act">
          <img src="<%= sitepath %>assets/img/bnr/feature-why-220708-343-108.png" width="504" height="159" loading="lazy" alt="なぜ今楽天モバイルなのか">
        </a>
      </div>
      <div class="l-Media_Image">
        <a href="https://corp.mobile.rakuten.co.jp/innovation/cloud-network/?l-id=area_cloud-network" class="c-Banner_Hover-act" target="_blank">
          <img src="<%= sitepath %>assets/img/bnr/bnr-area-cloud-network-343-108.png" width="504" height="159" loading="lazy" alt="世界初、完全仮想化クラウドネイティブモバイルネットワーク 低価格・高品質なサービスをあなたに ※大規模商用ネットワークとして（2019年10月1日時点）/ ステラアソシエ調べ">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="area-Layout_Bottom-fixed" id="js-fixed-btn" aria-expanded="false">
  <div class="area-Layout_Bottom-fixed-inner">
    <div class="area-Layout_Bottom-fixed-btn">
      <div class="area-Top-Utility_Pc" style="width:100%">
        <a href="<%= sitepath%>guide/application/?lid-r=area_pc-modal_guide" class="c-Btn_Primary-large area-Layout_Bottom-fixed-btn">
          <span>新規／乗り換え（MNP）お申し込み</span>
        </a>
      </div>
      <div class="area-Top-Utility_Sp" style="width:100%">
        <a href="<%= sitepath%>guide/application/?lid-r=area_sp-modal_guide" class="c-Btn_Primary-large area-Layout_Bottom-fixed-btn">
          <span>新規／乗り換え(MNP)</span>
        </a>
      </div>
    </div>
    <div class="area-Layout_Bottom-fixed-btn">
      <div style="width:100%">
        <a href="<%= sitepath%>shop/?l-id=area_shop_floating" class="c-Btn_Secondly-large area-Layout_Bottom-fixed-btn">
          <span>お近くのショップを探す</span>
        </a>
      </div>
    </div>
  </div>
</div>


<footer class="g-Footer">
  <div class="l-System_Container area-Top-Utility_Mt-64-56">
    <div>
      <h2 id="caution" class="c-Heading_Lv2 area-Top-Utility_sp-M-16">注意事項</h2>
      <p class="c-Txt_Emp-01 u-Adjust_Mt-8">サービスエリアについて</p>
      <p class="c-Txt_Cap">※1 2023年9月時点。人口カバー率は、国勢調査に用いられる約500m区画において、50%以上の場所で通信可能なエリアを基に算出。</p>
      <p class="c-Txt_Emp-01 u-Adjust_Mt-8">海外は2GBまで無料について</p>
      <p class="c-Txt_Cap">※3 プランのデータ利用量に加算されます。パートナー回線エリア（海外）は、通話料等別。2GB超過後は最大128kbps。超過後は1GBあたり500円（不課税）のデータチャージにて、高速通信の利用が可能。海外の対象国と地域以外は、Wi-Fi接続時のみ利用可能。対象エリア及び条件は変更する場合あり。<a href="<%= sitepath %>service/global/overseas/#accordion-1">対象エリア</a>をご確認ください。通信速度はベストエフォートであり、実効速度は通信環境・状況により変動します。</p>
    </div>
  </div>

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-area-v2.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%#- include('/faq/include/related-area.ejs') %>

  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

<input type="hidden" name="rat" id="ratCvEvent" value="{'complete6':1}">
</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/library/map_4gs.js?240329"></script>
<script src="<%= sitepath %>assets/js/area.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
