<% const pagetitle = "通信・エリアに関するお問い合わせ・ご要望" -%>
<% const directories = [{path:"inquiry/", label:"お問い合わせ"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '通信・エリアに関するお問い合わせ、電波改善要望はこちら。「◯◯場所の携帯電話の電波がつながりにくいので改善してほしい」などお客様のご要望をお寄せください',
    noindex: true,
    pathname: filepath
  });
%>

<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/inquiry/inquiry02.css?20240424">
</head>
<body>

<div class="l-System">

<div class="inquiry-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
    <p class="u-Adjust_Mt-24">通信・エリアに関するお問い合わせ・ご要望がございましたらお気軽にお問い合わせください。<br>
    皆様からいただいたお問い合わせ・ご要望を今後のサービスの向上に活かしてまいります。</p>
    <form id="js-inquiry_Form" action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST">

      <input type="hidden" name="orgid" value="00D28000000cT0x">
      <input type="hidden" name="recordType" value="0120I000001Dmn0">
      <input type="hidden" name="subject" value="MNOお問い合わせ・ご要望フォーム">
      <input type="hidden" name="00N280000095TzH" value="エリア">
      <input type="hidden" name="retURL" value="https://network.mobile.rakuten.co.jp/inquiry/thanks.html">

      <dl id="js-inquiry_Form-top" class="c-Form_List u-Adjust_Mt-24">
        <div class="inquiry-Form02_Item-area js-inquiry_Item-area">
          <dt>現在ご利用の携帯会社<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <p id="err-required_00N0I00000JycJC" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <div class="c-Form_Select">
              <select name="00N0I00000JycJC" aria-required="true" data-validate="required">
                <option value="">選択してください</option>
                <option value="楽天モバイル(楽天回線)">楽天モバイル(楽天回線)</option>
                <option value="楽天モバイル(ドコモ回線・au回線)">楽天モバイル(ドコモ回線・au回線)</option>
                <option value="docomo">docomo</option>
                <option value="au">au</option>
                <option value="SoftBank">SoftBank</option>
                <option value="その他">その他</option>
              </select>
              <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
            </div>
          </dd>
        </div>
        <div class="inquiry-Form02_Item-area js-inquiry_Item-area">
          <dt>お問い合わせ種別<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <p id="err-required_00N280000095TzR" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <div class="c-Form_Select">
              <select name="00N280000095TzR" aria-required="true" data-validate="required">
                <option value="">選択してください</option>
                <option value="エリアの確認">エリアの確認</option>
                <option value="電波改善要望">電波改善要望</option>
              </select>
              <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
            </div>
          </dd>
        </div>
        <div class="inquiry-Form02_Item-area js-inquiry_Item-area">
          <dt>現在ご利用中のスマートフォン<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <p id="err-required_00N280000095Tyx" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <div class="c-Form_Select">
              <select name="00N280000095Tyx" aria-required="true" data-validate="required">
                <option value="">選択してください</option>
                <option value="Android">Android</option>
                <option value="iPhone">iPhone</option>
                <option value="不明">不明</option>
              </select>
              <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
            </div>
          </dd>
        </div>
        <div class="inquiry-Form02_Item-area js-inquiry_Item-area">
          <dt>現在ご利用中のスマートフォン詳細<span id="mark-00N280000095TyO" class="c-Form_List-required">必須</span></dt>
          <dd>
            <p class="c-Txt_Cap u-Adjust_Mb-16">※255文字以内で入力してください</p>
            <p id="err-required_00N280000095TyO" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <input class="c-Form_Input" maxlength="255" name="00N280000095TyO" size="20" type="text" placeholder="例）iPhone9(SIMフリー)、HUAWEI nova lite 3など" aria-required="true" data-validate="required">
          </dd>
        </div>
        <div class="inquiry-Form02_Item-area js-inquiry_Item-area">
          <dt>エリア・電波改善要望の場所<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <p class="c-Txt_Emp-01 u-Adjust_Mb-16">郵便番号<span class="c-Form_List-required">必須</span></p>
            <p class="c-Txt_Cap u-Adjust_Mb-16">※半角数字7文字で入力してください</p>
            <p id="err-required_00N0I00000JycJH" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <p id="err-numeric_00N0I00000JycJH" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">半角数字7文字で入力してください</p>
            <div class="inquiry-Form02_Auxiliary">
              <input class="c-Form_Input inquiry-Form02_Auxiliary-item u-Adjust_W-160" minlength="7" maxlength="7" name="00N0I00000JycJH" size="20" type="text" placeholder="例）1580094" aria-required="true" data-validate="required numeric" autocomplete="off">
              <button type="button" class="c-Btn_Regular-auto inquiry-Form02_Auxiliary-item js-inquiry_Zip2addr"><span>郵便番号から住所表示</span></button>
            </div>

            <p class="c-Txt_Emp-01 u-Adjust_Mb-16 u-Adjust_Mt-32">住所<span class="c-Form_List-required">必須</span></p>
            <p class="c-Txt_Cap u-Adjust_Mb-16">※255文字以内で入力してください</p>
            <p id="err-required_00N280000095Txj" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <input class="c-Form_Input" maxlength="255" name="00N280000095Txj" size="20" type="text" placeholder="例）東京都世田谷区玉川一丁目14番1号 楽天クリムゾンハウス" aria-required="true" data-validate="required" autocomplete="off">

            <p class="c-Txt_Emp-01 u-Adjust_Mb-16 u-Adjust_Mt-32">屋内外・その他<span class="c-Form_List-required">必須</span></p>
            <p id="err-required_00N0I00000JycJM" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <div class="c-Form_Select">
              <select name="00N0I00000JycJM" aria-required="true" data-validate="required">
                <option value="">選択してください</option>
                <option value="屋内">屋内</option>
                <option value="屋外">屋外</option>
                <option value="その他（電車・自動車など）">その他（電車・自動車など）</option>
              </select>
              <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
            </div>

            <p class="c-Txt_Emp-01 u-Adjust_Mb-16 u-Adjust_Mt-32">申告場所区分<span class="c-Form_List-required">必須</span></p>
            <p id="err-required_00N0I00000JycJR" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <div class="c-Form_Select">
              <select name="00N0I00000JycJR" aria-required="true" data-validate="required">
                <option value="">選択してください</option>
                <option value="ご自宅">ご自宅</option>
                <option value="職場">職場</option>
                <option value="公共施設・レジャー施設">公共施設・レジャー施設</option>
                <option value="その他">その他</option>
              </select>
              <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
            </div>
          </dd>
        </div>
        <div id="row-datetime">
          <dt>発生日時<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <p id="err-required_00N0I00000JyyIf" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">「発生日時（日）」は必須項目です</p>
            <div class="inquiry-Form02_Datepicker-container">
              <input id="00N0I00000JyyIf" name="00N0I00000JyyIf" class="c-Form_Input u-Adjust_Mb-16 js-Datepicker" maxlength="" size="" type="text" placeholder="" aria-required="true" data-validate="required" readonly>
              <span class="c-Icon_Calendar-l js-Datepicker_Btn"></span>
            </div>
            <p id="err-required_00N0I00000JyyIk" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">「発生日時（時）」は必須項目です</p>
            <p id="err-required_00N0I00000JyyIp" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">「発生日時（分）」は必須項目です</p>
            <div class="inquiry-Form02_Horizontal">
              <div class="c-Form_Select u-Adjust_W-120">
                <select id="00N0I00000JyyIk" name="00N0I00000JyyIk" data-validate="required">
                  <% for (var i = 0; i < 24; i++) { %>
                    <option value="<%= ('00'+ i).slice(-2) %>"><%= ('00'+ i).slice(-2) %></option>
                  <% } %>
                </select>
                <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
              </div>
              <span class="inquiry-Form02_Horizontal-label">時</span>
              <div class="c-Form_Select u-Adjust_W-120">
                <select id="00N0I00000JyyIp" name="00N0I00000JyyIp" data-validate="required">
                  <% for (var i = 0; i < 60; i+=5) { %>
                    <option value="<%= ('00'+ i).slice(-2) %>"><%= ('00'+ i).slice(-2) %></option>
                  <% } %>
                </select>
                <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
              </div>
              <span class="inquiry-Form02_Horizontal-label">分 頃</span>
            </div>
          </dd>
        </div>
        <div>
          <dt>ご意見・ご要望詳細<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <p class="c-Txt_Cap u-Adjust_Mb-16">楽天モバイル（楽天回線）のサービスエリアに関してのご意見ご要望等、ご自由にご記入ください</p>
            <p class="c-Txt_Cap u-Adjust_Mb-16">※800文字以内で入力してください</p>
            <p id="err-required_description" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <textarea class="c-Form_Input" max-length="800" name="description" aria-required="true" data-validate="required"></textarea>
          </dd>
        </div>
        <div>
          <dt>氏名<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <p class="c-Txt_Cap u-Adjust_Mb-8">※「姓」は80文字以内で入力してください</p>
            <p class="c-Txt_Cap u-Adjust_Mb-16">※「名」は80文字以内で入力してください</p>
            <p id="err-required_name" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">「姓」は必須項目です</p>
            <p id="err-required_00N0I00000Jxe34" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">「名」は必須項目です</p>
            <dl class="c-Form_List-sub">
              <div>
                <dt>姓</dt>
                <dd>
                  <input class="c-Form_Input u-Adjust_W-160" maxlength="80" name="name" size="20" type="text" placeholder="例）楽天" aria-required="true" data-validate="required" autocomplete="off">
                </dd>
              </div>
              <div>
                <dt>名</dt>
                <dd><input class="c-Form_Input u-Adjust_W-160" maxlength="80" name="00N0I00000Jxe34" size="20" type="text" placeholder="例）太郎" aria-required="true" data-validate="required" autocomplete="off"></dd>
              </div>
            </dl>
          </dd>
        </div>
        <div>
          <dt>返信用メールアドレス<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <p class="c-Txt_Cap u-Adjust_Mb-16">※80文字以内で入力してください</p>
            <p id="err-required_email" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <p id="err-email_email" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">正しいメールアドレスを入力してください</p>
            <input class="c-Form_Input" maxlength="80" name="email" size="20" type="text" placeholder="例）example@example.com" aria-required="true" data-validate="required email" autocomplete="off">
          </dd>
        </div>
        <div>
          <dt>連絡先電話番号</dt>
          <dd>
            <p class="c-Txt_Cap u-Adjust_Mb-16">※半角数字10文字または半角数字11文字で入力してください</p>
            <p id="err-required_phone" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">必須項目です</p>
            <p id="err-numeric_phone" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">半角数字で入力してください</p>
            <p id="err-length_phone" class="c-Form_Txt-error u-Adjust_Mb-16" aria-hidden="true">正しい電話番号を入力してください</p>
            <input class="c-Form_Input" minlength="10" maxlength="11" name="phone" size="20" type="text" placeholder="例）090XXXXXXXX" aria-required="true" data-validate="length numeric" autocomplete="off">
          </dd>
        </div>
      </dl>

      <h2 class="c-Heading_Lv3 u-Adjust_Mt-64">個人情報の取扱いについて</h2>
      <p class="u-Adjust_Mt-24">「<a href="https://corp.mobile.rakuten.co.jp/guide/privacy/">個人情報の取扱いについて</a>」をご確認いただき、同意される場合は「入力内容を確認する」ボタンをクリックしてお進みください。</p>
      <p class="u-Adjust_Align-center u-Adjust_Mt-40">
        <button id="js-inquiry_Confirm" type="button" class="c-Btn_Secondly-half"><span>入力内容を確認する</span></button>
      </p>

      <div id="modal-confirm" style="display:none;">
        <h2 class="c-Heading_Lv3 u-Adjust_Mb-32">入力内容の確認</h2>
        <dl class="c-Form_List-confirm">
          <!-- <div>
            <dt>お問い合わせ内容</dt>
            <dd><p id="disp-00N280000095TzH" class="u-Adjust_Txt-break"></p></dd>
          </div> -->
          <div class="inquiry-Form02_Item-area js-inquiry_Item-area">
            <dt>現在ご利用の携帯会社</dt>
            <dd><p id="disp-00N0I00000JycJC" class="u-Adjust_Txt-break"></p></dd>
          </div>
          <div class="inquiry-Form02_Item-area js-inquiry_Item-area">
            <dt>お問い合わせ種別</dt>
            <dd><p id="disp-00N280000095TzR" class="u-Adjust_Txt-break"></p></dd>
          </div>
          <div class="inquiry-Form02_Item-area js-inquiry_Item-area">
            <dt>現在ご利用中のスマートフォン</dt>
            <dd><p id="disp-00N280000095Tyx" class="u-Adjust_Txt-break"></p></dd>
          </div>
          <div class="inquiry-Form02_Item-area js-inquiry_Item-area">
            <dt>現在ご利用中のスマートフォン詳細</dt>
            <dd><p id="disp-00N280000095TyO" class="u-Adjust_Txt-break"></p></dd>
          </div>
          <div class="inquiry-Form02_Item-area js-inquiry_Item-area">
            <dt>エリア・電波改善要望の場所</dt>
            <dd>
              <p class="c-Txt_Emp-01 u-Adjust_Mb-16">郵便番号</p>
              <p id="disp-00N0I00000JycJH" class="u-Adjust_Txt-break"></p>

              <p class="c-Txt_Emp-01 u-Adjust_Mb-16 u-Adjust_Mt-32">住所</p>
              <p id="disp-00N280000095Txj" class="u-Adjust_Txt-break"></p>

              <p class="c-Txt_Emp-01 u-Adjust_Mb-16 u-Adjust_Mt-32">屋内外・その他</p>
              <p id="disp-00N0I00000JycJM" class="u-Adjust_Txt-break"></p>

              <p class="c-Txt_Emp-01 u-Adjust_Mb-16 u-Adjust_Mt-32">申告場所区分</p>
              <p id="disp-00N0I00000JycJR" class="u-Adjust_Txt-break"></p>
            </dd>
          </div>
          <div>
            <dt>ご意見・ご要望詳細</dt>
            <dd><p id="disp-description" class="u-Adjust_Txt-break"></p></dd>
          </div>
          <div id="disp-row-datetime">
            <dt>発生日時</dt>
            <dd>
              <p>
                <span id="disp-00N0I00000JyyIf" class="u-Adjust_Txt-break"></span>
                <span id="disp-00N0I00000JyyIk" class="u-Adjust_Txt-break"></span>時
                <span id="disp-00N0I00000JyyIp" class="u-Adjust_Txt-break"></span>分頃
              </p>
              </dd>
          </div>
          <div>
            <dt>氏名</dt>
            <dd><p><span id="disp-name" class="u-Adjust_Txt-break"></span> <span id="disp-00N0I00000Jxe34" class="u-Adjust_Txt-break"></span></p></dd>
          </div>
          <div>
            <dt>返信用メールアドレス</dt>
            <dd><p id="disp-email" class="u-Adjust_Txt-break"></p></dd>
          </div>
          <div>
            <dt>連絡先電話番号</dt>
            <dd><p id="disp-phone" class="u-Adjust_Txt-break"></p></dd>
          </div>
        </dl>
        <div class="u-Adjust_Align-center u-Adjust_Mt-40">
          <button type="button" id="js-inquiry_Submit" class="c-Btn_Primary-half"><span>この内容で送信する</span></button>
        </div>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
          <button type="button" id="js-inquiry_Confirm-close" class="c-Btn_Regular-auto"><span>修正する</span></button>
        </div>
      </div>
    </form>
 </div>
</div>


</div>
<%- include('/include/_common-js') %>
<script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
<script>
(function() {
  const triggerZip2addr = document.getElementsByClassName('js-inquiry_Zip2addr');

  triggerZip2addr.forEach(el => {
      el.addEventListener('click', (e) => {
          AjaxZip3.zip2addr('00N0I00000JycJH', '', '00N280000095Txj', '00N280000095Txj');
      });
  });
})();
</script>
<script src="<%= sitepath %>assets/js/inquiry.input02.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
