<% const pagetitle = "サービスエリアに関するお問い合わせ・ご要望" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    keywords: '',
    noindex: true,
    pathname: filepath
  });
%>

<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/inquiry/inquiry02.css?20240424">
</head>
<body>

<div class="l-System">

<div class="inquiry-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
    <div class="u-Adjust_Mt-24">
      <p>このたびはサービスエリアに関するお問い合わせ・ご要望ありがとうございました。</p>
      <p class="u-Adjust_Mt-16">いただいたお問い合わせ・ご要望を今後のサービスの向上に活かしてまいります。</p>
      <p class="u-Adjust_Mt-16">またお問い合わせ・ご要望につきましては、弊社担当より順次ご回答させていただきます。</p>
      <div class="inquiry-Form02_Btn-inline">
        <a href="<%= sitepath %>ecare/" class="c-Btn_Regular-semiauto"><span>通信・エリアに戻る</span></a>
      </div>
    </div>
 </div>
</div>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
