<% const pagetitle = "楽天モバイル 認証 注意事項" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '楽天モバイル 認証 注意事項',
    noindex: true,
    pathname: filepath
  });
%>
<%- include('/include/_common-css') %>

</head>
<body>

<div class="l-System">

<div class="l-System_Container u-Adjust_Pt-48">

  <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
  <h2 class="c-Heading_Lv2 u-Adjust_Mt-40">情報提供機能のご利用</h2>
  <p class="u-Adjust_Mt-16">本機能に対応しているSNSサイト（以下、「対応サイト」）のご利用時に、使用者からの同意のもと、使用者の情報を当社から対応サイト運営会社に提供します。提供される情報の詳細、提供先については同意画面の説明をよくお読みください。</p>

  <h2 class="c-Heading_Lv2 u-Adjust_Mt-48">ご利用いただけない場合</h2>
  <ul class="c-List_Text-disc u-Adjust_Mt-16">
    <li>使用者情報が登録されていない場合</li>
    <li>個人契約回線でない場合</li>
    <li>使用者が同意されなかった場合</li>
  </ul>

  <h2 class="c-Heading_Lv2 u-Adjust_Mt-48">楽天モバイル認証の注意事項</h2>
  <ul class="c-List_Text-disc u-Adjust_Mt-16">
    <li>お客さまのご契約内容やお申し込みの有無、ご利用中の機種により、ご利用できるサービス内容が異なる場合があります。</li>
    <li>ご利用のSNSサイトが本機能に対応しているか、また、提供開始時期や当社から提供される情報の利用内容の詳細については、各SNSサイト運営会社にお問い合わせください。</li>
    <li>各対応サイトに提供している情報を確認される場合は、「my 楽天モバイル」認証設定画面をご確認ください。</li>
  </ul>

  <h2 class="c-Heading_Lv2 u-Adjust_Mt-48">プライバシーポリシー</h2>
  <p class="u-Adjust_Mt-16">楽天モバイル認証で提供される情報には、下記プライバシーポリシーが適用されます。</p>
  <p class="u-Adjust_Mt-16"><a href="https://corp.mobile.rakuten.co.jp/guide/privacy/" class="c-Link_Txt" target="_blank">楽天モバイル プライバシーポリシー</a></p>
  <div>
    <a href="https://portal.mobile.rakuten.co.jp/technical-operation?action=ageVerification&redirectUrl=https://agecheck.line.me/callback&clientId=031" class="c-Btn_Regular u-Adjust_Mt-48"><span>戻る</span></a>
  </div>
  <p class="u-Adjust_Align-center c-Txt_Cap u-Adjust_Pb-8 u-Adjust_Mt-32">&copy; Rakuten, Inc.</p>

</div>
</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
