<% const pagetitle = "4/28(水)まで毎日開催！お買いものパンダ特製トランプが当たる！ダーツくじ" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "panda-playingcards-darts" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    keywords: '',
    noindex: true,
    pathname: filepath
  });
%>
<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/panda-playingcards-darts/panda-playingcards-darts.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/error/error.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= namespace %>-Hero">
  <div class="<%= namespace %>-Hero_Container">
    <div class="l-System_Container <%= namespace %>-Hero_Main">
      <h1>
        <img src="<%= sitepath %>assets/img/campaign/panda-playingcards-darts/img-hero-pc.png" alt="4/28（水）まで毎日開催！お買いものパンダ特製トランプが当たる！ダーツくじ" width="1032" height="412" class="<%= namespace %>-Utility_Img-pc">
        <img src="<%= sitepath %>assets/img/campaign/panda-playingcards-darts/img-hero-sp.png" alt="4/28（水）まで毎日開催！お買いものパンダ特製トランプが当たる！ダーツくじ" width="344" height="432" class="<%= namespace %>-Utility_Img-sp">
      </h1>
    </div>
  </div>
</div>

<div class="<%= namespace %>-Layout_Body">

  <div class="l-System_Container">

    <div class="u-Adjust_Align-center u-Adjust_Mt-32">
      <a href="https://kuji.rakuten.co.jp/92938553e6" class="c-Btn_Primary-half u-Adjust_Pt-16 u-Adjust_Pb-16"><span>ダーツくじにチャレンジする</span></a>
    </div>

    <div class="c-Infobox_Standing-light u-Adjust_Mt-32">
      <h2 class="c-Heading_Lv2 u-Adjust_Align-center">はずれても、セカンドチャンス！</h2>
      <p class="u-Adjust_Mt-16">楽天モバイルショップに、お友だちやご家族と一緒に2名様以上で、合計2回線以上お申し込みすると、お買いものパンダ特製トランプをプレゼント</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※景品の在庫がなくなり次第、終了となります。</p>
    </div>

      <div class="u-Adjust_Mt-64 u-Adjust_Mb-64">
        <h2>お買いものパンダ特製トランプダーツくじ　ルール</h2>

        <div class="c-Table_Wrap u-Adjust_Mt-24">
          <table class="c-Table_Container <%= namespace %>-Table_Rule">
            <colgroup>
              <col>
              <col>
            </colgroup>
            <tbody>
              <tr>
                <th>賞品・当選本数</th>
                <td>
                  <p>お買いものパンダ特製トランプ 20本／1日</p>
                </td>
              </tr>
              <tr>
                <th>ご利用方法</th>
                <td>
                  <ul class="c-List_Text-disc">
                    <li>くじの開催期間は2021年4月24日（土）10:00&nbsp;～&nbsp;2021年4月28日（水） 23:59です。</li>
                    <li>本キャンペーンは<span class="c-Txt_Emp-02">楽天会員に登録すれば、どなたでもご利用できます</span>。</li>
                    <li>ひとつの会員登録に対し、くじを引くことができるのは<span class="c-Txt_Emp-02">1日に1回のみ</span>となっております。この場合の1日とは、00:00:00～23:59:59とし、本キャンペーンのページを開いた時点が参加した日となります。</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>ご利用環境</th>
                <td>
                  <ul class="c-List_Text-disc">
                    <li>ご使用いただいているOSのバージョンやブラウザによっては、正常に動作しない可能性がありご利用いただけない場合があります。その場合はお手数ですが違うデバイスやブラウザもお試しください。</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>注意事項</th>
                <td>
                  <ul class="c-List_Text-disc">
                    <li><span class="c-Txt_Emp-02">くじに参加する権利を翌日以降に繰り越すことはできません</span>。</li>
                    <li>当選者は厳正な抽選のうえで選出を行います。</li>
                    <li>当選された場合、楽天会員登録にご登録いただいたメールアドレス宛に当選メールをお送りいたします。<span class="c-Txt_Emp-02">当選メールをもって発表にかえさせていただきます</span>。</li>
                    <li>当選メールは&nbsp;sender@kuji.rakuten.co.jp&nbsp;から配信いたします。<span class="c-Txt_Emp-02">ドメインを受信できるように設定してください</span>。</li>
                    <li>賞品の発送は日本国内に限らせていただきます。あらかじめご了承ください。</li>
                    <li>データに不備がありますと､賞品の発送ができないことがございますので､ご注意ください。</li>
                    <li>最終的な当選数を20人となるよう、応募状況に応じて当選確率を自動的に調整しておりますが、システム状況・応募状況により、予定の当選数が出ない場合がございます。予めご了承ください。</li>
                    <li>楽天市場のメンテナンスなどの関係でくじを引けない場合がございます。その場合、くじの参加権利を翌日に繰り越すことはできません。</li>
                    <li>このサービスは予告なく中止させていただく場合がございます。</li>
                    <li>個人情報の取り扱いについては<a href="https://privacy.rakuten.co.jp" target="_blank">個人情報保護方針</a>をご覧ください。</li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>

<footer class="error-Layout_Footer" style="position: relative;">
  <small class="g-Footer_Copyright" style="margin: auto">&copy; Rakuten Mobile, Inc.</small>
</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
