<% const pagetitle = "ご利用製品の対応状況確認" -%>
<% const directories = [{path:"product/", label:" 製品"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天回線対応の楽天モバイル公式製品なら「Rakuten最強プラン」が思う存分楽しめる！お持ちの製品がご利用できるかどうかを簡単にご確認いただけます',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/certified-products/product-certified-products.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/inc/i-related-media.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>

<%- include('/include/_prepend-body') %>

<div class="l-System">

  <%- include('/include/_header') %>

  <div class="c-Breadcrumbs_Head">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <section>
    <div id="section-hero-initial" class="product-certified-product-Hero">
      <div class="product-certified-product-Hero_Inner">
        <div class="l-System_Container u-Adjust_Align-center">
          <h1 class="c-Heading_Lv1">楽天モバイルで<br>お持ちの製品が使えるか調べてみよう</h1>
          <p class="product-certified-product-Hero_Read">今お使いのスマホやタブレット、モバイルルーターでも<br class="u-Show_Xxo">楽天モバイルに乗り換えられます。<br>まずはお持ちの製品が楽天モバイルで使えるかどうかご確認ください。</p>
          <p class="u-Adjust_Align-center u-Adjust_Mt-80">全ての機能が利用できる「楽天回線対応製品」については、<br>こちらでもご確認いただけます。</p>
          <div class="u-Adjust_Mt-8">
            <a href="<%= sitepath %>product/certified-products/?l-id=product_byod_product_certified-products" class="c-Link_Txt-inline">楽天回線対応製品を一覧で見る<span class="c-Icon_Chevron-right"></span></a>
          </div>
        </div>
      </div>
      <div class="product-certified-product-Hero_Image">
        <div class="l-System_Container u-Adjust_Align-center">
          <picture>
            <source media="(max-width: 834px)" srcset="<%= sitepath %>assets/img/product/byod/img-hero-sp.png?220413">
            <source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="">
          </picture>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div id="section-hero-second" class="l-System_Container u-Adjust_Pt-32 u-Adjust_Pb-40" style="display:none;">
      <h1 class="c-Heading_Lv1">ご利用製品の対応状況確認</h1>
    </div>
  </section>

  <section>
    <div id="certifiedProducts"><%#_
      /**
       * Vue rendaring area
       * src/vue/product/certified-products/CertifiedProducts.vue
       * src/csv/product-certified.csv
      */
    _%></div>
    <div id="ratid-search-smart" data-ratId="chat-byod_search-smart" data-ratEvent="click" data-ratParam="all"></div>
  </section>

  <aside>
    <div class="l-System_Container u-Adjust_Align-center u-Adjust_Mb-80">
      <div class="u-Adjust_Align-center">
        <a class="c-Banner_Hover-act" href="<%= sitepath %>product/sim/dual-sim/?l-id=product_byod_dual-sim">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-221007-dual-sim-343-108.png" width="686" height="216">
            <img src="<%= sitepath %>assets/img/bnr/bnr-221007-dual-sim-1032-160.png" width="1032" height="160" alt="超かんたん＆便利 デュアルSIMのススメ! デュアルSIMを詳しく解説!">
          </picture>
        </a>
      </div>

      <h3 class="c-Heading_Lv3 u-Adjust_Mt-24 u-Adjust_Align-center">プランのみお申し込みの方も対象</h3>
      <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <a class="c-Banner_Hover-act" href="/campaign/mnp/?l-id=product_byod_campaign_mnp">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-mnp-343-108-240315.png" width="686" height="216">
            <img src="<%= sitepath %>assets/img/bnr/bnr-mnp-1032-160-240315.png" width="1032" height="160" alt="スマホそのまま乗り換え！電話番号もそのまま他社から乗り換え＆初めてお申し込みで6,000ポイントプレゼント!データ3GB（税込1,078円）x5カ月分がポイント還元で実質5カ月無料！">
          </picture>
        </a>
      </div>

      <div class="u-Adjust_Mt-56">
        <%- include('/include/_bnr-cpn-recommend-v2.ejs') %>
      </div>

      <div class="u-Adjust_Mt-56 u-Adjust_Align-left">
        <%- include('/include/_related-media2.ejs', { articles: [
          {
            title: "SIMフリーとは？メリットやデメリットなどを詳しく解説",
            link: "https://network.mobile.rakuten.co.jp/sumakatsu/contents/articles/2020/00001/?l-id=product_byod_media_00001"
          },
          {
            title: "携帯電話会社を乗り換える方法とは？手順を解説",
            link: "https://network.mobile.rakuten.co.jp/sumakatsu/contents/articles/2020/00005/?l-id=product_byod_media_00005"
          }
        ] }) %>
      </div>
    </div>
  </aside>

  <footer class="g-Footer">

    <div class="g-Footer_Aside">

      <%- include('/include/footer/related/_related-service-v2.ejs') %>

      <%- include('/include/footer/bnr/_bnr.ejs') %>

      <%#- include('/faq/include/related-service.ejs') %>
    </div>
    <div class="l-System_Container">
      <div class="c-Breadcrumbs_Foot">
        <ul>
          <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
          <%_ } _%>
          <li aria-current="true"><%= pagetitle %></li>
        </ul>
      </div>
    </div>

    <%- include('/include/_footer') %>

  </footer>
</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/product.byod.index.bundle.js?20240523"></script>

<%- include('/include/_append-body') %>
</body>
</html>
