<% const namespace = 'rakuten-employee-vip-en' _%>
<% const pagetitle = 'Exclusive invitation to Rakuten SAIKYO Plan' -%>
<% const directories = [] -%>
<%-
  include('/_header', {
    pagetitle,
    // directories,
    description: 'We provide information about Rakuten SAIKYO Plan for our valued customers.',
    noindex: true,
    pathname: filepath,
    isEnglish: true,
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/inc/i-unlimit.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/rakuten-employee-vip-en/rakuten-employee-vip-en.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>
</head>
<body class="<%= namespace %>-Base">
<%- include('/include/_prepend-body') %>

<div class="l-System">
<%- include('/include/_header-simple') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>">トップ</a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
  <div class="u-Rat_Appear-height" data-ratid="campaign_rakuten-employee-vip-en_scroll-01_header" data-ratevent="appear" data-ratparam="all"></div>
</div>


<div class="<%= namespace %>-Layout_Kv">
  <h1>
    <picture>
      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/rakuten-employee/en/hero-sp-240206.png" width="768" height="676">
      <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/en/hero-pc-240206.png" width="2000" height="300" alt="Exclusive invitation to Rakuten SAIKYO Plan">
    </picture>
  </h1>
</div>

<div class="l-System_Container">
  <ul class="c-Txt_Cap u-Adjust_Mt-8">
    <li class="c-Txt_Emp-02">*Points will be awarded as time-limited points for a period of 3 months. </li>
    <li class="c-Txt_Emp-02">*Campaign rewards are subject to variation.</li>
    <li>*If the referred person uses the 6,000 yen OFF coupon at the official Rakuten Mobile Rakuten Ichiba store, they will receive 8,000 points instead.</li>
  </ul>

  <div class="<%= namespace %>-Layout_Message-body">
    <p class="u-Adjust_Align-right">
      <a href="<%= sitepath %>campaign/rakuten-employee/entry/vip/?l-id=campaign_rakuten-employee-vip-en_campaign_rakuten-employee-vip" class="c-Link_Txt-inline">日本語<span class="c-Icon_Chevron-right"></span></a>
    </p>
    <div class="u-Adjust_Mt-sp-8">
      <div class="<%= namespace %>-Layout_Message-title c-Txt_Normal-l">Dear Esteemed Customers</div>
      <p class="u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
        I am delighted to extend my personal gratitude for your interest in our “Rakuten SAIKYO Plan”. At Rakuten Mobile, we constantly strive for excellence, a commitment recognized with our top ranking in the “2023 Oricon Customer Satisfaction® Survey 'Mobile Carrier' Ranking”. <span class="c-Txt_Cap">*1</span>
      </p>
      <p class="u-Adjust_Mt-16">
        Our “Rakuten SAIKYO Plan” reflects our dedication to superior technology and service. It is thoughtfully engineered to provide exceptional communication quality, evidenced by our impressive 99.9% <span class="c-Txt_Cap">*2</span> 4G population coverage. Moreover, a survey by Opensignal has “The industry’s highest network quality rating in the most regions”. <span class="c-Txt_Cap">*3</span>
      </p>
      <p class="u-Adjust_Mt-16">
        With a keen focus on innovation and customer experience, we assure you that choosing our services will bring unparalleled satisfaction and connectivity. I encourage you to share the benefits of Rakuten Mobile with your family and friends, inviting them to be part of a network that values intelligence and forward-thinking.<br>
        As a gesture of our commitment to excellence, we are offering an exclusive reward of 14,000 points<span class="c-Txt_Cap">*4</span> when you apply from this page for MNP transfers from another carrier.
      </p>
      <p class="u-Adjust_Mt-16">
        We await your decision with great anticipation and are ready to welcome you into a world where intelligence meets connectivity.
      </p>
    </div>
    <div class="<%= namespace %>-Layout_Message-info u-Adjust_Mt-16">
      <div class="u-Adjust_Align-right">
        <p class="<%= namespace %>-Layout_Message-info-text-s">
          Chairman and CEO of Rakuten Group, Inc.<br>
          Chairman of Rakuten Mobile, Inc.
        </p>
        <p class="c-Txt_Normal-m">Hiroshi Mikitani</p>
      </div>
      <div class="<%= namespace %>-Layout_Message-info-icon">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/rakuten-employee/en/icon-mikitani-sp.png" width="86" height="86">
          <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/en/icon-mikitani-pc.png" width="134" height="134" alt="">
        </picture>
      </div>
    </div>
    <div class="u-Adjust_Mt-8 <%= namespace %>-Layout_Message-box">
      <div class="<%= namespace %>-Layout_Message-box-title u-Weight_Bold">
        <div class="<%= namespace %>-Layout_Message-box-title-inner">
          <div class="<%= namespace %>-Layout_Message-box-icon">
            <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/en/icon-donation-240308.png" alt="" width="48" height="40">
          </div>
          <p class="<%= namespace %>-Layout_Message-box-title-size u-Adjust_Pl-16">Each Application Activates a 10,000 Yen Donation to "Disaster and Humanitarian Aid"</p>
        </div>
      </div>
      <p class="u-Adjust_Mt-16">
        The recent military conflicts in Gaza and the Noto Peninsula earthquake have resulted in numerous casualties and extensive damage. Our deepest wish is for the swift restoration of peace and normalcy for all affected.<br>
        For every application made via this page, our CEO Mikitani pledges to donate 10,000 yen to support groups aiding these crises.<br>
        In line with our mission of 'empowering people and society,' we are actively involved in support activities that have a meaningful global impact and stand in solidarity with those affected.
      </p>
    </div>
  </div>
</div>


<div class="u-Rat_Appear-height" data-ratid="campaign_rakuten-employee-vip-en_scroll-02_application" data-ratevent="appear" data-ratparam="all"></div>
<div class="<%= namespace %>-Layout_Section-1">
  <div class="l-System_Container u-Adjust_Align-center">
    <p class="c-Txt_Emp-02 c-Txt_Normal-l">Please be sure to click the button below to apply.</p>
    <p class="c-Txt_Emp-01 u-Adjust_Mt-16 c-Txt_Normal-m">
      <span class="c-Txt_Emp-02">After logging in with your Rakuten ID,
        you will be directed to the page dedicated to the customers who was referred.
        </span><br>
        You can also check the details of the 14,000 points award. <span class="c-Txt_Cap c-Txt_Normal-s">*4</span>
    </p>
    <div class="u-Adjust_Align-center u-Adjust_Mt-24">
      <a href="https://r10.to/hkhdwC?openExternalBrowser=1" class="c-Btn_Primary-large">Apply here</a>
    </div>
    <p class="u-Adjust_Mt-32">
      The information regarding your Rakuten Membership and your contract status will be provided to Rakuten Mobile, employees of the campaign administrative office, and their affiliated companies for the purpose to inform you about the execution of the campaign, the status of the procedure, and other information.
    </p>

    <div class="c-Theme-Borderbox u-Adjust_Mt-32 <%= namespace %>-Layout_Shop">
      <div class="<%= namespace %>-Utility_Show-pc">
      <div class="<%= namespace %>-Layout_Shop-content">
        <div class="l-Media_Image u-Adjust_Align-center <%= namespace %>-Layout_Shop-img">
          <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/shop.png" alt="" width="140">
        </div>
        <div class="<%= namespace %>-Layout_Shop-text">
          <p class="c-Txt_Emp-02 c-Heading_Lv4">You can also apply at the shop!</p>
          <p class="u-Adjust_Mt-8">If you choose to apply at the shop, please book a visit and show this page to the R CREW (shop staff).</p>
        </div>
        <div class="<%= namespace %>-Layout_Shop-btn">
          <p class="u-Adjust_Align-center">
            <a href="<%= sitepath %>shop/en/?l-id=campaign_rakuten-employee-vip-en_shop_en" class="c-Btn_Secondly"><span>Find a shop near you & Book your visit</span></a>
          </p>
        </div>
      </div>
      </div>
      <div class="<%= namespace %>-Utility_Show-sp">
      <div class="<%= namespace %>-Layout_Shop-content">
        <p class="c-Txt_Emp-02 c-Heading_Lv4">You can also apply at the shop!</p>
        <div class="l-Media_Grid u-Adjust_Mt-8">
          <div class="l-Media_Image u-Adjust_Align-center <%= namespace %>-Layout_Shop-img">
            <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/shop.png" alt="" width="140">
          </div>
          <div class="<%= namespace %>-Layout_Shop-text">
            <p>If you choose to apply at the shop, please book a visit and show this page to the R CREW (shop staff).</p>
          </div>
          </div>
          <div class="<%= namespace %>-Layout_Shop-btn">
            <p class="u-Adjust_Mt-16">
              <a href="<%= sitepath %>shop/en/?l-id=campaign_rakuten-employee-vip-en_shop_en" class="c-Btn_Secondly"><span>Find a shop near you & Book your visit</span></a>
            </p>
          </div>
      </div>
      </div>
    </div>

  </div>
</div>

<div class="u-Adjust_Mt-40 l-System_Container">
  <div class="u-Adjust_Mt-16">
    <p class="c-Txt_Cap">
      *1 Achieved No. 1 in overall customer satisfaction in the 2023 Oricon Customer Satisfaction® Survey of  'Mobile Carriers'. For detailed survey results, <a href="https://life.oricon.co.jp/rank-mobile-carrier/" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">click here.<span class="c-Icon_New-window-l"></span></a><br>
      *2 As of September 2023. Population coverage is determined by areas where data communication is accessible in 50% or more of approximately 500-meter census plots.<br>
      *3 Based on our analysis of Opensignal data recorded from June 2 to August 31, 2023, Rakuten Mobile had the highest number of prefectures ranked 1 in the 'stable quality' evaluation category among the four carriers, with 30 prefectures. This category assesses network adequacy for supporting standard mobile applications, ensuring a satisfactory level for a variety of tasks.<br>
      *4 Applies to [Only for Rakuten Employee Referrals] Rakuten Mobile Referral Campaign participation when transferring from another carrier (MNP). 7,000 points for other new sign-ups.
    </p>
  </div>

  <div class="u-Rat_Appear-height" data-ratid="campaign_rakuten-employee-vip-en_scroll-03_plan" data-ratevent="appear" data-ratparam="all"></div>
  <h2 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-64">Our Plan</h2>
  <div>
    <%- include('/inc/_saikyo-en') %>
  </div>
</div>

<div class="l-System_Container u-Adjust_Mt-64">
  <h2 class="c-Txt_Normal-ll u-Adjust_Align-center">Greater Savings With Rakuten SAIKYO Plan!</h2>
  <div class="u-Adjust_Align-center u-Adjust_Mt-16">
    <a href="<%= sitepath %>fee/youth/?l-id=campaign_rakuten-employee_entry_vip_en_fee_youth" class="c-Banner_Hover-act">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-fee-youth-en-343-108.png" width="686" height="216">
        <img src="<%= sitepath %>assets/img/bnr/bnr-fee-youth-en-1032-160.png" alt="SAIKYO YOUTH Program: Exclusive discounts with our new program for everyone 22 and under!" width="1032" heigh="160" loading="lazy">
      </picture>
    </a>
  </div>

  <h2 class="c-Txt_Normal-ll u-Adjust_Align-center u-Adjust_Mt-48">Maximize Your Benefits With Rakuten Mobile After Joining!</h2>
  <p class="u-Adjust_Mt-16">Maximize your benefits as a Rakuten Mobile member by introducing our services to your network. Each referral brings valuable points your way, enhancing your experience with us. Embrace this opportunity.
  </p>
  <div class="u-Adjust_Mt-16 <%= namespace %>-Layout_Refer">
    <h3 class="c-Txt_Normal-ll u-Adjust_Align-center">Refer Family & Friends, You’ll Get</h3>
    <div class="u-Adjust_Align-center u-Adjust_Mt-16">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/rakuten-employee/en/img-refer-point-sp-240322.png" width="651" height="605">
        <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/en/img-refer-point-pc-240322.png" alt="Refer Your Friends and Family and Get 7,000 Points!" width="748" height="136">
      </picture>
    </div>
    <div class="<%= namespace %>-Layout_Refer-flex u-Adjust_Mt-sp-24 u-Adjust_Mt-16">
      <div>
        <p class="c-Txt_Cap">
          *1 When transferring from another carrier (MNP). 6,000 points for other new sign-ups. <br>
          *2 Applies to a family of 6, with 5 members joining through family referrals. <br>
          *Conditions include using the Rakuten Link app and not qualifying for the Rakuten SAIKYO Plan (Data Type). Points will be awarded in installments starting after the 4th month as time-limited points.
        </p>
      </div>
      <div class="u-Adjust_Align-center">
        <a href="<%= sitepath %>campaign/referral/en/?l-id=campaign_rakuten-employee_entry_vip_en_campaign_referral_en" class="c-Btn_Regular">
          <span>Learn More</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="u-Rat_Appear-height" data-ratid="campaign_rakuten-employee-vip-en_scroll-04_plan-tob" data-ratevent="appear" data-ratparam="all"></div>
<div class="u-Adjust_Mt-64 <%= namespace %>-Layout_Corporation <%= namespace %>-Utility_Pt-32-16 <%= namespace %>-Utility_Pb-32-16">
  <div class="l-System_Container">
    <h2 class="c-Txt_Normal-ll u-Adjust_Align-center">Introducing Our Business Mobile Phone Plans</h2>

    <div class="<%= namespace %>-Layout_Plan-co u-Adjust_Mt-24">
      <h3 class="<%= namespace %>-Layout_Plan-co-title">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/rakuten-employee/en/img-plan-title-sp-230316.png" width="446" height="93">
          <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/en/img-plan-title-230316.png" alt="All-In-One Calls and Data Communication with 3 Plan Choices!">
        </picture>
      </h3>
      <div class="<%= namespace %>-Layout_Plan-co-content">
        <div class="<%= namespace %>-Layout_Plan-co-content-read">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/rakuten-employee/en/img-plan-01-sp-230316.png" width="804" height="78">
            <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/en/img-plan-01-230316.png" alt="Unlimited domestic calls※1 Using Rakuten Link Office App ーChoose the plan that fits your usage needsー">
          </picture>
        </div>
        <ul class="<%= namespace %>-Layout_Plan-co-list u-Adjust_Mt-8">
          <li>
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/rakuten-employee/en/img-plan-02-sp-230316.png" width="317" height="178">
              <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/en/img-plan-02-230316.png" alt="Light Voice+Data 3GB 1,980¥/mo.(tax incl.2,178¥)">
            </picture>
          </li>
          <li>
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/rakuten-employee/en/img-plan-03-sp-230316.png" width="317" height="178">
              <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/en/img-plan-03-230316.png" alt="Normal Voice+Data 5GB 2,380¥/mo.(tax incl.2,618¥)">
            </picture>
          </li>
          <li>
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/rakuten-employee/en/img-plan-04-sp-230316.png" width="317" height="178">
              <img src="<%= sitepath %>assets/img/campaign/rakuten-employee/en/img-plan-04-230316.png" alt="Heavy Voice+Data 30GB 2,780¥/mo.(tax incl.3,058¥)">
            </picture>
          </li>
        </ul>
        <div class="u-Rat_Appear-height" data-ratid="campaign_rakuten-employee-vip-en_scroll-05_contact-tob" data-ratevent="appear" data-ratparam="all"></div>
        <div class="<%= namespace %>-Layout_Plan-co-contact">
          <h3 class="<%= namespace %>-Layout_Plan-co-contact-title">
            Get Expert Advice on Our Business Mobile Phone Plans
          </h3>
          <div class="<%= namespace %>-Layout_Plan-co-contact-content">
            <p class="u-Adjust_Align-center">Reach out to us via email for personalized plan proposals tailored to your needs.</p>
            <p class="u-Adjust_Mt-8 u-Adjust_Align-center" style="font-weight: bold;">
              <a href="mailto:rm-CorpSales-VIPReferral@mail.rakuten.com" class="c-Link_Txt <%= namespace %>-Utility_Fs-24-16 <%= namespace %>-Layout_Plan-co-contact-mail">rm-CorpSales-VIPReferral@mail.rakuten.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <p class="u-Adjust_Mt-16 c-Txt_Cap">
      *1 Free calls do not apply to connection services starting with 0570, and other similar numbers from different service providers, as well as calls to certain special numbers (such as 188). Domestic calls made without using the Rakuten Link Office app will incur a charge of 22 yen per 30 seconds (tax included).
    </p>



  </div>
</div>

<div class="l-System_Container u-Adjust_Mt-32">

  <h2>Important Notes</h2>
  <h3 class="c-Txt_Normal u-Adjust_Mt-32">Business Mobile Phone Plans and fees</h3>
  <div class="<%= namespace %>-Utility_Mt-16-8">
    <p class="<%= namespace %>-Utility_Txt-cap">*Plan fees do not cover handset fees, contract administration fees, option fees, calling charges, universal service charges, telephone relay service charges, and other related charges. </p>
    <p class="<%= namespace %>-Utility_Txt-cap">*To provide fair service, data connection in the Rakuten coverage area may be subject to communication speed control. In the partner coverage areas, domestic data usage is unlimited at a maximum speed of 200 Kbps and international data usage is unlimited at a maximum speed of 128 Kbps after exceeding the capacity for each plan. When exceeding the capacity, activities like video streaming and application downloading may take some time. The communication speed is based on the best effort (maximum speed based on standards), and the actual speed may vary depending on the communication environment and conditions.</p>
    <p class="<%= namespace %>-Utility_Txt-cap">*Data usage outside of Rakuten coverage area will consume data capacity from the partner coverage area. Each plan offers a certain amount of data capacity in the partner coverage area, as follows:</p>
    <p class="<%= namespace %>-Utility_Txt-cap">- When subscribing to a voice + 3GB data plan, 1.0GB of data capacity is available in the partner coverage area</p>
    <p class="<%= namespace %>-Utility_Txt-cap">- When subscribing to a voice + 5GB data plan, 2.0GB of data capacity is available in the partner coverage area</p>
    <p class="<%= namespace %>-Utility_Txt-cap">- When subscribing to a voice + 30GB data plan, 5.0GB of data capacity is available in the partner coverage area</p>
    <p class="<%= namespace %>-Utility_Txt-cap">*Data usage via the Rakuten Link Office app will not be deducted from the high-speed data capacity in the partner coverage areas. It can be used without speed limitations even after exceeding the high-speed data capacity. However, please note that this policy is subject to change.</p>
    <p class="<%= namespace %>-Utility_Txt-cap">*We may suspend or terminate your line if there is no activity for an extended period of time.</p>
  </div>
  <div class="u-Adjust_Mt-24">
    <h3 class="c-Txt_Normal">
      Language
    </h3>
    <div class="<%= namespace %>-Utility_Mt-16-8">
      <ul class="<%= namespace %>-Utility_Txt-cap">
        <li>*This page is made in Japanese and translated into English. The Japanese text shall prevail if there is any conflict or inconsistency between these two texts.</li>
      </ul>
    </div>
  </div>
</div>

<div class="u-Rat_Appear-height" data-ratid="campaign_rakuten-employee-vip-en_scroll-06_footer" data-ratevent="appear" data-ratparam="all"></div>
<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-news.ejs') %>

    <%- include('/include/footer/bnr/_bnr-news.ejs') %>
  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot" style="margin-top: -24px;">
      <ul>
        <li><a href="<%= rootpath %>">トップ</a><span class="c-Icon_Chevron-right"></span></li>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
<script src="<%= sitepath %>assets/js/campaign.rakuten-employee.bundle.js?20240521"></script>
</body>
</html>
