<% const pagetitle = "MNP開通手続き方法" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/setting/android/", label:"Android製品の設定手順"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルでのMNP(ナンバーポータビリティ、携帯電話番号ポータビリティ)開通手続き方法をご案内します。製品・SIMカード到着後、かんたんにお手続きいただけます',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

    <p class="u-Adjust_Mt-24">他社からお乗り換え（MNP）いただく場合の、MNP開通手続きの手順をご案内いたします。</p>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">お手続きの前にご確認ください</h2>

    <ul class="c-List_Text-disc u-Adjust_Mt-16">
      <li><span class="c-Txt_Emp-02">楽天モバイルでご利用される製品とSIMがお手元にある状態で、MNP開通手続きを行ってください。</span>手続きが完了すると、元の携帯電話会社の回線はご利用できなくなります。</li>
      <li><span class="c-Txt_Emp-02">MNPワンストップ未対応の携帯電話会社から乗り換えの方は、MNP予約番号の取得が必要です。</span>MNPワンストップ対象の携帯電話会社は<a href="<%= sitepath %>guide/mnp/#carrier">こちら</a>からご確認ください。</li>
    </ul>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      <span class="c-Txt_Emp-02">※ショップでのお手続きは、ワンストップ対象の他社からの転入であっても、MNP予約番号を取得のうえ、ご来店ください。</span><br>
      ※有効期限が切れている場合は、再度取得のうえ、更新していただく必要があります。詳細は「<a href="<%= sitepath %>faq/detail/00001641/" class="c-Link_Txt">MNP検証失敗後、有効なMNP予約番号を再取得したのでその後の手続き方法を知りたい</a>」をご確認ください。
    </p>

    <p class="u-Adjust_Mt-16">その他、MNP開通手続きの前に必要な準備やお手続きは以下よりご確認ください。</p>

    <div class="c-Accordion u-Adjust_Mt-16">
      <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1" data-effect="false"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>SIMカードをお申し込みの方</button>
      <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
        <h3 class="c-Heading_Lv3">スマートフォンとSIMカードをセットでお申し込みの場合</h3>
        <p class="u-Adjust_Mt-16">MNP開通手続きのうえ、新たに購入されたスマートフォンの初期設定を行ってください。</p>
        <h3 class="c-Heading_Lv3 u-Adjust_Mt-16">SIMカードのみをお申し込みの場合</h3>
        <p class="u-Adjust_Mt-16">MNP開通手続きの前にスマートフォンの事前確認・準備が必要です。</p>
        <p class="u-Adjust_Mt-16">お持ちのスマートフォンが利用できるか、ソフトウェアのアップデートが必要か、「<a href="<%= sitepath %>product/certified-products/" class="c-Link_Txt">楽天回線対応製品</a>」よりご確認ください。</p>
      </div>
    </div>

    <div class="c-Accordion">
      <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2" data-effect="false"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>eSIMをお申し込みの方</button>
      <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
        <h3 class="c-Heading_Lv3">スマートフォンとeSIMをセットでお申し込みの場合</h3>
        <p class="u-Adjust_Mt-16">MNP開通手続きの前に以下のお手続きが必要です。</p>
        <ol class="c-List_Ordered u-Adjust_Mt-16">
          <li>
            <p>スマートフォンの初期設定を行う</p>
            <p>「<a href="<%= sitepath %>guide/setting/" class="c-Link_Txt">楽天モバイルで購入された製品の初期設定</a>」より手順をご確認いただけます。</p>
          </li>
          <li>
            <p>スタートガイドの裏面のQRコードを読み取る</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">
              ※ 「AIかんたん本人確認（eKYC）」か、「楽天グループに提出済みの書類で確認」の本人確認方法でお申し込みされている場合は、本手続きは不要です。
            </p>
            <p class="u-Adjust_Mt-8">スタートガイドの裏面にQRコードがある場合、カメラアプリで読み取りを行ってください。my 楽天モバイルアプリが開き、本人確認が完了いたします。</p>
          </li>
        </ol>
        <h3 class="c-Heading_Lv3 u-Adjust_Mt-16">eSIMのみをお申し込みの場合</h3>
        <p class="u-Adjust_Mt-16">MNP開通手続きの前に以下のお手続きが必要です。</p>
        <ol class="c-List_Ordered u-Adjust_Mt-16">
          <li>
            <p>スマートフォンの事前確認・準備を行う</p>
            <p>お持ちのスマートフォンが利用できるか、ソフトウェアのアップデートが必要か、「<a href="<%= sitepath %>product/certified-products/" class="c-Link_Txt">楽天回線対応製品</a>」よりご確認ください。</p>
            <p class="c-Txt_Cap">※iPhoneをご利用の方は「<a href="<%= sitepath %>guide/setting/ios/" class="c-Link_Txt">お手持ちのiPhone・iPadで楽天回線を使用するための初期設定方法</a>」をご確認ください。</p>
          </li>
          <li>
            <p>my 楽天モバイルアプリをインストールする</p>
            <p class="u-Adjust_Mt-8">
              開通手続きに必要となるため、「<a href="<%= sitepath %>guide/mnp/flow/?tab-list=tab-menu2#MNP" class="c-Link_Txt">MNP開通手続きの手順</a>」よりインストールを行ってください。<br>
              すでにインストール済みの場合は、最新版に更新してください。
            </p>
          </li>
          <li>
            <p>スタートガイドの裏面のQRコードを読み取る</p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap">※ 「AIかんたん本人確認（eKYC）」か、「楽天グループに提出済みの書類で確認」の本人確認方法でお申し込みされている場合は、本手続きは不要です。</p>
            <p class="u-Adjust_Mt-8">スタートガイドの裏面にQRコードがある場合、カメラアプリで読み取りを行ってください。my 楽天モバイルアプリが開き、本人確認が完了いたします。</p>
          </li>
        </ol>
      </div>
    </div>


    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">MNP開通手続き完了までの時間について</h2>
    <p class="u-Adjust_Mt-16">MNP開通受付時間により、完了時間が異なります。</p>
    <p class="c-Txt_Emp-02">※ MNP開通手続きが完了すると、元の携帯電話会社の回線はご利用できなくなります。</p>

    <div class="c-Table_Wrap u-Adjust_Mt-16">
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col" class="u-Adjust_Align-center">受付時間</th>
            <th scope="col" class="u-Adjust_Align-center">MNP完了時間</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="u-Adjust_Align-center">9:00～21:00</td>
            <td class="u-Adjust_Align-center">当日中</td>
          </tr>
          <tr>
            <td class="u-Adjust_Align-center">21:01～翌8:59</td>
            <td class="u-Adjust_Align-center">翌9:00以降</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p class="c-Txt_Cap u-Adjust_Mt-16">※21:00直前にお手続きされると、翌日開通となる場合があります。</p>

    <h2 id="MNP" class="c-Heading_Lv2 u-Adjust_Mt-64">MNP開通手続きの手順</h2>

    <div class="c-Tab js-Tab u-Adjust_Mt-16">
      <ul class="c-Tab_Items" role="tablist">
        <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">SIMカードの場合</li>
        <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">eSIMの場合</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
        <ol class="c-Flow u-Adjust_Mt-32">
          <li>
            <h3 class="c-Heading_Lv3">1. お持ちのスマートフォンやタブレット、パソコンから my 楽天モバイルにログインする</h3>
            <div class="u-Adjust_Align-center u-Adjust_Mt-16">
              <a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile/" target="_blank" class="c-Btn_Regular-large"><span>ｍｙ楽天モバイル（Webサイト）はこちら</span></a>
            </div>
            <p class="c-Txt_Cap u-Adjust_Mt-16">※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/" class="c-Link_Txt">[my 楽天モバイル]ログインできません</a>」をご確認ください。</p>
            <div class="u-Adjust_Align-center u-Adjust_Mt-16">
              <img src="<%= sitepath %>assets/img/guide/mnp/flow/sim-01.png" alt="" class="c-Img_Capture">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2. 該当の申込番号をタップする</h3>
            <div class="u-Adjust_Align-center u-Adjust_Mt-16">
              <img src="<%= sitepath %>assets/img/guide/mnp/flow/sim-02.png" alt="" class="c-Img_Capture">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3. 「転入を開始する」をタップする</h3>
            <div class="u-Adjust_Align-center u-Adjust_Mt-16">
              <img src="<%= sitepath %>assets/img/guide/mnp/flow/sim-03.png" alt="" class="c-Img_Capture">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">4. 注意事項を確認し、「MNP転入に関する注意事項を読み理解しました」にチェックを入れ、「MNP転入を開始する」をタップする</h3>
            <p class="c-Txt_Emp-02">※ 楽天モバイルでご利用される製品とSIMがお手元にある状態で行ってください。</p>
            <p class="c-Txt_Emp-02">※「MNP転入を開始する」をタップすると手続きを開始します。完了後は、元の携帯電話会社の回線はご利用できなくなります。</p>
            <div class="u-Adjust_Align-center u-Adjust_Mt-16">
              <img src="<%= sitepath %>assets/img/guide/mnp/flow/sim-04.png" alt="" class="c-Img_Capture">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">5. 申し込み履歴画面で「開通手続き中です」と表示されていることを確認する</h3>
            <p class="c-Txt_Cap u-Adjust_Mt-16">※設定状況により、「手続きが完了しました」と表示される場合があります。</p>
            <div class="u-Adjust_Align-center u-Adjust_Mt-16">
              <img src="<%= sitepath %>assets/img/guide/mnp/flow/sim-05.png" alt="" class="c-Img_Capture">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">6. 手続きの完了を確認する</h3>
            <p class="u-Adjust_Mt-16">ご利用されていたスマートフォン（携帯電話）が通話不可になったことをご確認ください。</p>
          </li>
        </ol>
        <p class="u-Adjust_Mt-32">
          以上で完了です。
        </p>
        <p class="u-Adjust_Mt-16">
          MNP開通手続き完了後の流れについては、以下をご確認ください。
        </p>
        <p class="c-Txt_Cap">
          ※iPhoneをご利用の方は「<a href="<%= sitepath %>guide/setting/ios/#delete-apn-profile" class="c-Link_Txt">お手持ちのiPhone・iPadで楽天回線を使用するための初期設定方法</a>」よりご確認ください。
        </p>
        <div class="c-Accordion u-Adjust_Mt-16">
          <button type="button" id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>MNP開通手続き後の流れを確認する</button>
          <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
            <ol class="c-Flow u-Adjust_Mt-32">
              <li>
                <h3 class="c-Heading_Lv3">1．SIMカードを製品にセットする</h3>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">※SIMカードのセット方法は「<a href="<%= sitepath %>product/sim/#set-sim-card" class="c-Link_Txt">［ SIM ］お使いのスマホそのままで楽天モバイルのSIMを使う方法</a>」よりご確認いただけます。</p>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">2. 製品の初期設定をする</h3>
                <p>新たに購入された製品をご利用の場合は、製品の初期設定を行ってください。</p>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">※楽天モバイルで製品を購入された方は、「<a href="<%= sitepath %>guide/setting/" class="c-Link_Txt">楽天モバイルで購入した各種製品の初期設定</a>」より手順をご確認いただけます。</p>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">3. 楽天回線の開通を確認する</h3>
                <p class="u-Adjust_Mt-16">Wi-FiがONの場合はOFFにし、ブラウザなどを立ち上げて、楽天回線を利用できるかご確認ください。</p>
              </li>
            </ol>
            <p class="u-Adjust_Mt-16">
              以上で完了です。
            </p>
          </div>
        </div>
      </div>
      <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
        <ol class="c-Flow u-Adjust_Mt-32">
          <li>
            <h3 class="c-Heading_Lv3">1. my 楽天モバイルを起動する</h3>
            <div class="c-Theme-Light u-Adjust_Mt-16">
              <div class="c-Box_App">
                <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt="my 楽天モバイル"></div>
                <div class="c-Box_App-txt">
                  <p class="c-Box_App-ttl">my 楽天モバイル</p>
                  <p class="u-Adjust_Mt-8">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                  <ul class="c-Box_App-link u-Adjust_Mt-16">
                    <li><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" height="44" alt=""></a></li>
                    <li><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></li>
                    <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2. 画面下メニュー「ホーム」から該当の申込番号をタップする</h3>
            <div class="u-Adjust_Align-center u-Adjust_Mt-16">
              <img src="<%= sitepath %>assets/img/guide/mnp/flow/esim-02.png" alt="" class="c-Img_Capture">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3. 「転入を開始する」をタップする</h3>
            <div class="u-Adjust_Align-center u-Adjust_Mt-16">
              <img src="<%= sitepath %>assets/img/guide/mnp/flow/esim-03.png" alt="" class="c-Img_Capture">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">4. 注意事項を確認し、「MNP転入に関する注意事項を読み理解しました」にチェックを入れ、「MNP転入を開始する」をタップする</h3>
            <p class="c-Txt_Emp-02">※ 楽天モバイルでご利用される製品とSIMがお手元にある状態で行ってください。</p>
            <p class="c-Txt_Emp-02">※「MNP転入を開始する」をタップすると手続きを開始します。完了後は、元の携帯電話会社の回線はご利用できなくなります。</p>
            <div class="u-Adjust_Align-center u-Adjust_Mt-16">
              <img src="<%= sitepath %>assets/img/guide/mnp/flow/esim-04.png" alt="" class="c-Img_Capture">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">5. 手続きの完了を確認する</h3>
            <p class="u-Adjust_Mt-16">
              ご利用されていたスマートフォン（携帯電話）が通話不可になったことをご確認ください。
            </p>
          </li>
        </ol>
        <p class="u-Adjust_Mt-16">
          以上で完了です。ご契約時に登録されたメールアドレスに「MNP開通完了のお知らせ」が送られます。
        </p>
        <p class="u-Adjust_Mt-16">
          MNP開通手続き完了後、楽天回線の開通手続きが必要となります。
        </p>
        <p class="c-Txt_Cap u-Adjust_Mt-16">※iPhoneをご利用の方は「<a href="<%= sitepath %>guide/setting/ios/?tab-list=tab-menu2#tap-on-mrmappnum" class="c-Link_Txt">お手持ちのiPhone・iPadで楽天回線を使用するための初期設定方法</a>」より手順をご確認ください。</p>
        <div class="c-Accordion u-Adjust_Mt-16">
          <button type="button" id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天回線開通手続き方法を確認する</button>
          <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
            <p class="c-Txt_Cap">
              ※製品をWi-Fiに接続した状態でお手続きを行ってください。<br>
              ※my 楽天モバイルアプリにログインしている場合、手順2からお進みください。
            </p>
            <ol class="c-Flow u-Adjust_Mt-32">
              <li>
                <h3 class="c-Heading_Lv3">1．my 楽天モバイルを起動する</h3>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">2. 画面下メニュー「ホーム」から該当の申込番号をタップする</h3>
                <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                  <img src="<%= sitepath %>assets/img/guide/mnp/flow/esim-05.png" alt="" class="c-Img_Capture">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">3. 「開通手続きへ進む」をタップし、画面の表示に沿って開通を完了させる</h3>
                <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                  <img src="<%= sitepath %>assets/img/guide/mnp/flow/esim-06.png" alt="" class="c-Img_Capture">
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">4. 楽天回線の開通を確認する</h3>
                <ul class="c-List_Text-disc">
                  <li>楽天回線の開通が完了すると、「開通手続きが完了しました」と表示されます。
                  </li>
                  <li>Wi-FiがONの場合はOFFにし、ブラウザなどを立ち上げて、楽天回線を利用できるかご確認ください。</li>
                </ul>
                <div class="u-Adjust_Align-center u-Adjust_Mt-16">
                  <img src="<%= sitepath %>assets/img/guide/mnp/flow/esim-07.png" alt="" class="c-Img_Capture">
                </div>
              </li>
            </ol>
            <p class="u-Adjust_Mt-16">
              以上で完了です。
            </p>
          </div>
        </div>
      </div>
    </div>


    <%- include('/include/guide/_faq') %>

    <div class="u-Adjust_Pt-64">
      <div class="u-Adjust_Align-center">
        <a href="<%= sitepath %>support/" class="c-Btn_Regular-large"><span>お客様サポートトップにもどる</span></a>
      </div>
      <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
        <a href="<%= rootpath %>" class="c-Btn_Regular-large"><span>楽天モバイルトップへ</span></a>
      </div>
    </div>
  </div>
</div>




<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    </div>

  <div class="l-System_Container">
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>
</div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>



</body>
</html>
