<div class="turbo-Carousel js-Carousel-bnr">
  <!--
    /internet/turbo/fee/ページのシミュレーション結果コンテンツ内のリンクに、
    下記のリンクと同様のパスがあるため、data-lid_no="02"を使用しています。
  -->
  <a href="<%= sitepath %>internet/turbo/campaign/one-year-1980/" data-lid_no="02" class="c-Banner_Hover-act u-Adjust_Valign-bottom">
    <div class="turbo-Carousel_Image">
      <img data-lazy="<%= sitepath %>assets/img/internet/turbo/common/carousel/bnr-turbo_campaign_one-year-1980-328-185-231221.png" alt="Rakuten Turbo 工事不要！！すぐに使える おうちのWi-Fi スマホとセットで使うと20,000ポイント還元で初年度プラン料金1,980円/月が実質10カ月無料 ※製品代金 別途41,580円 ※プラン料金2年目以降4,840円 ※その他条件あり ※ポイントはRakuten Turboの課金が確認された月の翌々月末日ごろに進呈">
    </div>
  </a>
  <a href="<%= sitepath %>internet/turbo/campaign/ichiba-1yen/" class="c-Banner_Hover-act u-Adjust_Valign-bottom">
    <div class="turbo-Carousel_Image">
      <img data-lazy="<%= sitepath %>assets/img/internet/turbo/common/carousel/img-carousel02.png" alt="Rakuten Turboお申し込み&amp;楽天市場で対象ジャンル商品を1円以上お買い物で20,000ポイント還元! ※ポイント還元対象となるお買い物には条件があります。">
    </div>
  </a>
  <!--
    /internet/turbo/ページ内のリンクに、
    下記のリンクと同様のパスがあるため、data-lid_no="02"を使用しています。
  -->
  <a href="<%= sitepath %>internet/turbo/campaign/spu/" class="c-Banner_Hover-act u-Adjust_Valign-bottom" data-lid_no="02">
    <div class="turbo-Carousel_Image">
      <img data-lazy="<%= sitepath %>assets/img/internet/turbo/common/carousel/img-carousel03-231201.png" alt="Rakuten Turboご契約中、楽天市場のお買い物がポイント毎日全員＋2倍 スマホとセットで使えばポイント毎日全員7倍※1 ※獲得上限ポイントあり。期間限定ポイント ※1 楽天会員1倍、Rakuten Turboまたは楽天ひかりご利用で＋2倍 。Rakuten最強プランご利用でポイント＋4倍">
    </div>
  </a>
</div>
<div class="turbo-Carousel_Nav"></div>

<div class="l-System_Container u-Adjust_Align-center u-Adjust_Mt-24">
  <!--
    /internet/turbo/ページ内のリンクに、
    下記のリンクと同様のパスがあるため、data-lid_no="02"を使用しています。
  -->
  <a href="<%= sitepath %>internet/turbo/campaign/" class="c-Btn_Regular-large turbo-Carousel_Btn-summary" data-lid_no="02">キャンペーン一覧を見る</a>
</div>

<script>
window.addEventListener('load', () => {
  const bnrCarousel = $('.js-Carousel-bnr');

  bnrCarousel.each(function() {
    let $self = $(this);
    const carouselConfig = {
      accessibility: false,
      centerMode: true,
      centerPadding: '0px',
      lazyLoad: 'progressive',
      slidesToShow: 3,
      responsive: [
        {
          breakpoint: 835,
          settings: {
            accessibility: true,
            centerPadding: '11.6%',
            arrows: true,
            dots: true,
            appendArrows: $self.next('.turbo-Carousel_Nav'),
            appendDots: $self.next('.turbo-Carousel_Nav'),
            dotsClass: 'slick-dots turbo-Carousel_Dots',
            prevArrow: `<button class="turbo-Carousel_Nav-prev" aria-label="Previous" type="button"><span class="turbo-Carousel_Nav-txt">Previous</span></button>`,
            nextArrow: `<button class="turbo-Carousel_Nav-next" aria-label="Next" type="button"><span class="turbo-Carousel_Nav-txt">Next</span></button>`,
            slidesToShow: 1,
            slidesToScroll: 1,
          }
        }
      ]
    };
    $self.slick(carouselConfig);
  });
});
</script>
