<% const pagetitle = "無料サポータープログラム アンケート・ポイントプレゼントについて" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/price-discount/detail/", label:"詳細内容の確認"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイル「無料サポータープログラム」アンケート謝礼特典（ポイントプレゼント）についてご案内します',
    noindex: false,
    pathname: filepath
  });
%>
<% const directory = "supporter-program" -%>

<%- include('/include/_common-css') %>

<%- include('/include/_append-head', {messaging: true}) %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>


<div class="l-System_Container u-Adjust_Mt-32 u-Adjust_Pb-64">
  <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
  <p class="u-Adjust_Mt-32">「【無料サポータープログラムお申し込み特典】アンケートご回答＆条件クリアで毎月1,000ポイントプレゼント」の対象になるためには、以下3つの条件を満たす必要があります。プログラムにご参加される皆様のご協力をお願いいたします。</p>
  <p class="u-Adjust_Mt-32 c-Txt_Emp-02">
    【ご案内】2020年2月より「Rakuten Linkを用いて毎週30秒以上の通話機能を利用」がポイント付与条件として追加されました。また、通話機能・データ通信の条件も変更になりました。詳しくは、プログラム詳細をご確認ください。
  </p>
  <p class="u-Adjust_Mt-32"><a href="#section1" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>プログラム詳細を見る</a></p>


  <div class="c-Infobox_Standing-border u-Adjust_Mt-48">
    <h2 class="c-Heading_Lv2">条件1：アンケートに月1回以上の回答</h2>
    <div class="l-Media_Grid u-Adjust_Mt-24">
        <div class="l-Media_Image">
          <img src="<%= sitepath %>assets/img/guide/<%= directory %>/img-flow-01.png" alt="">
        </div>
        <div>
          <p><span class="c-Txt_Emp-02">毎週金曜日</span>※にメールでお送りするアンケートに、毎月1回以上回答する</p>
          <ul class="c-List_Cap u-Adjust_Mt-16">
            <li><span>※</span>祝日等の関係で、メール配信曜日が変更になる場合があります。</li>
            <li><span>※</span>月初から7日間ごとに1週と数えます。<span class="c-Txt_Emp-02">月末に7日以内の週があった場合、その週は条件に含めません。</span></li>
            <li class="c-Txt_Emp-02"><span>※</span>2020年1月29・30・31日に開通された方は、翌週に1月のアンケートを配信致しますので、そちらにお答えください。</li>
          </ul>
        </div>
    </div>
    <div class="c-Infobox_Standing-light u-Adjust_Mt-24">
      <h3 class="c-Heading_Lv3">アンケートメール受け取り設定のお願い</h3>
      <p class="u-Adjust_Mt-24">アンケートメールは以下のメールアドレスから送られます。</p>
      <ul class="c-List_Text-disc u-Adjust_Mt-16 u-Adjust_Txt-break">
        <li>information@mobile.rakuten.co.jp</li>
        <li>survey@ac.rakuten-mobile.co.jp</li>
      </ul>
      <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-02">
        ご契約手続きの際に「お知らせメールを受け取る」にチェックを入れてください。</span>チェックを外した状態ではアンケートが届きませんのでご注意ください。<br>
        受け取り設定状況は、my 楽天モバイル内契約者情報の「お知らせ設定」にて確認・変更できます。
      </p>
      <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>faq/detail/00001436" class="c-Link_Txt-icon">お知らせ設定方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
      <p class="u-Adjust_Mt-16"><a href="#section2" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>my 楽天モバイル</a></p>
    </div>
  </div>

  <div class="c-Infobox_Standing-border u-Adjust_Mt-24">
    <h2 class="c-Heading_Lv2">条件2：開通後、プログラム対象製品で一定の通話機能・データ通信を利用</h2>
    <div class="l-Media_Grid u-Adjust_Mt-24">
        <div class="l-Media_Image">
          <img src="<%= sitepath %>assets/img/guide/<%= directory %>/img-flow-02.png" alt="">
        </div>
        <div>
          <p><a href="<%= sitepath %>fee/supporter-program/#section01" class="c-Link_Txt-icon">無料サポータープログラム対象製品を見る<span class="c-Icon_Chevron-right"></span></a></p>
          <ul class="c-List_Text-disc u-Adjust_Mt-16">
            <li><span class="c-Txt_Emp-02">通常の電話アプリを用いて毎週30秒以上の通話機能</span>※を利用</li>
            <li><span class="c-Txt_Emp-02">毎週1回以上データ通信</span>※を利用</li>
          </ul>
          <p class="c-Txt_Cap">※ 海外ローミングでの利用は対象外となります。</p>
        </div>
    </div>
    <div class="u-Adjust_Mt-24 c-Infobox_Standing-light">
      <h3 class="c-Heading_Lv3">ネットワークの不具合等で、通話機能やデータ通信がご利用できない場合</h3>
      <p class="u-Adjust_Mt-16">
        <span class="c-Txt_Emp-02">my 楽天モバイル内のチャット相談でご報告を受け付けております。</span><br>
        場所、時間、使用方法などの説明とともに、ご報告をお願いします。
      </p>
      <p class="u-Adjust_Mt-24"><a href="#section2" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>my 楽天モバイル</a></p>
    </div>
  </div>


  <div class="c-Infobox_Standing-border u-Adjust_Mt-24">
    <h2 class="c-Heading_Lv2">条件3：開通後、Rakuten Linkアプリで一定の通話機能を利用 </h2>
    <div class="l-Media_Grid u-Adjust_Mt-24">
        <div class="l-Media_Image">
          <img src="<%= sitepath %>assets/img/guide/<%= directory %>/img-flow-03.png" alt="">
        </div>
        <div>
          <ul class="c-List_Text-disc u-Adjust_Mt-16">
            <li><span class="c-Txt_Emp-02">Rakuten Link</span>をダウンロード</li>
            <li><span class="c-Txt_Emp-02">Rakuten Linkを用いて毎週30秒以上の通話機能</span>※を利用</li>
          </ul>
          <p class="c-Txt_Cap">※ 海外ローミングでの利用は対象外となります。</p>
        </div>
    </div>
    <div class="c-Box_App u-Adjust_Mt-24">
      <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rakuten-link.png" alt="Rakuten Link"></div>
      <div class="c-Box_App-txt">
        <p class="c-Box_App-ttl">Rakuten Link（ベータ版）</p>
        <p class="u-Adjust_Mt-16">電話・メッセージ・SMSがこれひとつ。<br>便利なダイヤルアプリ</p>
        <ul class="c-Box_App-link u-Adjust_Mt-16">
          <li><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.rcs" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" height="44" alt=""></a></li>
          <li><a href="<%= sitepath %>service/rakuten-link/" class="c-Btn_Regular-auto">詳細を見る</a></li>
        </ul>
        <p class="u-Adjust_Mt-16"><a href="https://service.link.link/guide/" class="c-Link_Txt-icon" target="_blank">初期設定方法・利用方法を見る<span class="c-Icon_New-window-l"></span></a></p>
      </div>
    </div>
    <div class="u-Adjust_Mt-24 c-Infobox_Standing-light">
      <h3 class="c-Heading_Lv3">Rakuten Linkで通話機能がご利用できない場合</h3>
      <p class="u-Adjust_Mt-16">
        <span class="c-Txt_Emp-02">my 楽天モバイル内のチャット相談でご報告を受け付けております。</span><br>
        場所、時間、使用方法などの説明とともに、ご報告をお願いします。
      </p>
      <p class="u-Adjust_Mt-24"><a href="#section2" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>my 楽天モバイル</a></p>
    </div>
  </div>

  <h2 class="u-Adjust_Mt-64 c-Heading_Lv-2" id="section2">楽天モバイル公式アプリ</h2>
  <p class="u-Adjust_Mt-24">アンケートメールの受け取り設定や、チャット相談はアプリが便利</p>

  <div class="c-Box_App u-Adjust_Mt-32">
    <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" width="96" height="96" alt="my 楽天モバイル"></div>
    <div class="c-Box_App-txt">
      <p class="c-Box_App-ttl">my 楽天モバイル</p>
      <ul class="c-Box_App-link u-Adjust_Mt-16">
        <li><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" height="44" alt=""></a></li>
        <li><a href="<%= ecarepath %>my-rakuten-mobile" class="c-Link_Txt-icon">Webで「my 楽天モバイル」を使う<span class="c-Icon_Chevron-right"></span></a></li>
      </ul>
    </div>
  </div>

  <div class="u-Adjust_Mt-80" id="section1">
    <h2 class="c-Heading_Lv2">【無料サポータープログラムお申し込み特典】アンケートご回答＆条件クリアで毎月1,000ポイントプレゼント　ルール<span class="c-Txt_Emp-02">（2020年2月以降）</span></h2>
    <p class="u-Adjust_Mt-24 c-Txt_Cap c-Txt_Emp-02">※2020年2月より、「Rakuten Linkを用いて毎週30秒以上の通話機能を利用」がポイント付与条件として追加されました。また、通話機能・データ通信の条件も変更になりました。</p>
    <div class="u-Adjust_Mt-24">
      <dl class="c-List_Dl-origin">
        <div>
          <dt>プログラム期間</dt>
          <dd>2020年2月～2020年3月（月ごとに各1回適用）</dd>
        </div>
        <div>
          <dt>特典</dt>
          <dd>
            楽天モバイルの無料サポータープログラムご契約後、一定の条件を満たした方に、以下の特典を適用します。<br>
            楽天ポイント1,000ポイントをプレゼント（月に1回／2020年2月～2020年3月まで計2回実施予定）
          </dd>
        </div>
        <div>
          <dt>特典対象</dt>
          <dd>
            <p>以下の条件を全て満たした楽天会員の方</p>
            <ul class="c-List_Text-disc u-Adjust_Mt-16">
              <li>2019年10月31日(木)23:59までに無料サポータープログラム 100GB無料プランをお申し込みの方：2019年11月30日(土)23:59までに楽天モバイルが開通<br>
              または、<br>2020年2月14日(金)23:59までに無料サポータープログラム 100GB無料プランをお申し込みの方：2020年2月25日（火）23:59までに楽天モバイルが開通</li>
              <li>楽天モバイルから毎週金曜日に送られる所定のアンケートに月に1度以上回答※1</li>
              <li>楽天モバイルからのアンケートメールの受信にあたり『information@mobile.rakuten.co.jp』および『survey@ac.rakuten-mobile.co.jp』を受け取れるメールアドレスをご登録ください。</li>
              <li>また、お申し込みの際に「お知らせメールを受け取る」にチェックを入れてください。チェックを入れたかどうか、my 楽天モバイルにて設定の変更/確認が可能です。<br>
              チェックを外した状態ではアンケートが届きませんのでご注意ください。</li>
            </ul>

            <p class="u-Adjust_Mt-16">メールアドレスを変更タイミングによっては、「アンケートメール」が不達となる場合がございます。</p>

            <ul class="c-List_Text-disc u-Adjust_Mt-16">
              <li>開通後、通常の電話アプリを用いて毎週30秒以上の通話機能を利用※2 ※3 ※4</li>
              <li>開通後、Rakuten Linkを用いて毎週30秒以上の通話機能を利用※2 ※3 ※4 ※5</li>
              <li>開通後、毎週1回以上データ通信を利用※2 ※3 ※4</li>
              <li><a href="<%= sitepath %>fee/supporter-program/#section01">プログラム対象製品</a>で無料サポータープログラムの通信環境をご利用の方</li>
            </ul>

            <ul class="c-List_Cap-wide u-Adjust_Mt-16">
              <li class="c-Txt_Emp-02"><span>※</span>特典はおひとりさま月ごとに各1回のみとさせていただきます。</li>
              <li><span>※1</span>アンケートは通信契約がある方にのみ配信いたします。</li>
              <li><span>※2</span>ネットワークの不具合等により、該当の通信契約から通話機能が利用できない、またはデータ通信が利用できない場合、my 楽天モバイル内チャット相談にて、状況をお知らせください。</li>
              <li><span>※3</span>国際ローミングでの利用は対象外となります。</li>
              <li><span>※4</span>月初から7日間ごとに1週と数えます。月末に7日以内の週があった場合、その週は条件に含めません。</li>
              <li><span>※5</span>Rakuten Linkの利用方法については、<a href="https://service.link.link/guide/" target="_blank" class="c-Link_Txt-icon" style="display: inline-flex;">こちら<span class="c-Icon_New-window-l u-Adjust_Pl-0"></span></a>をご確認ください。</li>
            </ul>
          </dd>
        </div>
        <div>
          <dt>ポイント付与</dt>
          <dd>
            <p><span class="c-Txt_Emp-02">楽天ポイントの付与は、回答月の翌月下旬ごろまでに行います。</span><br>付与される楽天ポイントの有効期間はポイント付与日を含めて6ヵ月です。</p>
            <p><a href="https://point.rakuten.co.jp/?l-id=top_normal_myrakuten_point" target="_blank">楽天ポイントクラブ</a>にて、「【無料サポータープログラムお申し込み特典】アンケートご回答で毎月1000ポイントプレゼント」という内容でポイント付与があるかどうかご確認ください。</p>
            <ul class="c-List_Cap u-Adjust_Mt-16">
              <li><span>※</span>楽天ポイントの付与は、楽天モバイルより行います。</li>
              <li><span>※</span>無料サポータープログラムのご契約者情報に登録されている楽天IDで、アンケート回答時にログインいただいた場合にのみ、ポイント付与します。</li>
              <li><span>※</span>権利の譲渡はできません。</li>
            </ul>
          </dd>
        </div>
        <div>
          <dt>特典対象外</dt>
          <dd>
            <p>以下の条件に当てはまる場合は、特典適用対象外となります。</p>
            <ul class="c-List_Cap u-Adjust_Mt-16">
              <li><span>※</span>当月末までにアンケートにお答えいただいた楽天IDと、翌月月初に無料サポータープログラムに登録されている楽天IDが一致しない場合</li>
              <li><span>※</span>アンケート回答月の翌月ポイント付与時点でアンケートの受信をやめた場合</li>
              <li><span>※</span>本人確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
              <li><span>※</span>楽天会員から退会している場合</li>
              <li><span>※</span>当社の提供するサービスなどの料金のお支払いを、お支払期限までに行わなかった場合</li>
              <li><span>※</span>当社が定める規約などに違反した場合</li>
              <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
            </ul>
          </dd>
        </div>
        <div>
          <dt>注意事項</dt>
          <dd>
            <ul class="c-List_Text-disc">
              <li>月ごとのポイント付与のための楽天モバイル利用条件は変更になる場合がございます。その際は、アンケートメールに記載し、お知らせいたします。</li>
              <li>本特典は予告なく内容の変更もしくは中止させていただく場合がございます。あらかじめご了承ください。</li>
            </ul>
          </dd>
        </div>
      </dl>
    </div>
  </div>

  <div class="u-Adjust_Mt-80" id="section3">
    <h2 class="c-Heading_Lv2">【無料サポータープログラムお申し込み特典】アンケートご回答＆条件クリアで毎月1,000ポイントプレゼント　ルール<span class="c-Txt_Emp-02">（2020年1月末まで）</span></h2>
    <p class="u-Adjust_Mt-24 c-Txt_Cap c-Txt_Emp-02">※以下は、2019年10月～2020年1月末までのルールとなります。
    </p>
    <div class="u-Adjust_Mt-24">
      <dl class="c-List_Dl-origin">
        <div>
          <dt>プログラム期間</dt>
          <dd>2019年10月～2020年3月（月ごとに各1回適用）</dd>
        </div>
        <div>
          <dt>特典</dt>
          <dd>楽天モバイルの無料サポータープログラムご契約後、一定の条件を満たした方に、以下の特典を適用します。<br>楽天ポイント1,000ポイントをプレゼント（月に1回／2019年10月～2020年3月まで計6回実施予定）</dd>
        </div>
        <div>
          <dt>特典対象</dt>
          <dd>
            <p>以下の条件を全て満たした楽天会員の方</p>
            <ul class="c-List_Text-disc u-Adjust_Mt-16">
              <li>2019年10月31日(木)23:59までに無料サポータープログラム 100GB無料 プランをお申し込みの方：2019年11月30日(土)23:59までに楽天モバイルが開通<br>
              または、<br>2020年2月14日(金)23:59までに無料サポータープログラム 100GB無料 プランをお申し込みの方：2020年2月25日（火）23:59までに楽天モバイルが開通</li>
              <li>楽天モバイルから毎週金曜日に送られる所定のアンケートに月に1度以上回答※1</li>
              <li>楽天モバイルからのアンケートメールの受信にあたり『information@mobile.rakuten.co.jp』および『survey@ac.rakuten-mobile.co.jp』を受け取れるメールアドレスをご登録ください。<br>
              また、お申し込みの際に「お知らせメールを受け取る」にチェックを入れてください。チェックを入れたかどうか、my 楽天モバイルにて設定の変更/確認が可能です。<br>
              チェックを外した状態ではアンケートが届きませんのでご注意ください。</li>
            </ul>

            <p class="u-Adjust_Mt-16">メールアドレスを変更タイミングによっては、「アンケートメール」が不達となる場合がございます。</p>

            <ul class="c-List_Text-disc u-Adjust_Mt-16">
              <li>開通後、毎週30秒以上の通話機能を利用※2 ※3 ※4</li>
              <li>開通後、毎日データ通信を利用※2 ※3</li>
              <li><a href="<%= sitepath %>fee/supporter-program/#section01">プログラム対象製品</a>で無料サポータープログラムの通信環境をご利用の方</li>
            </ul>

            <ul class="c-List_Cap-wide u-Adjust_Mt-16">
              <li class="c-Txt_Emp-02"><span>※</span>特典はおひとりさま月ごとに各1回のみとさせていただきます。</li>
              <li><span>※1</span>アンケートは通信契約がある方にのみ配信いたします。</li>
              <li><span>※2</span>ネットワークの不具合等により、該当の通信契約から通話機能が利用できない、またはデータ通信が利用できない場合、my 楽天モバイル内チャット相談にて、状況をお知らせください。</li>
              <li><span>※3</span>国際ローミングでの利用は対象外となります。</li>
              <li><span>※4</span>月初から7日間ごとに1週と数えます。月末に7日以内の週があった場合、その週は条件に含めません。</li>
            </ul>
          </dd>
        </div>
        <div>
          <dt>ポイント付与</dt>
          <dd>
            <p><span class="c-Txt_Emp-02">楽天ポイントの付与は、回答月の翌月下旬ごろまでに行います。</span><br>付与される楽天ポイントの有効期間はポイント付与日を含めて6ヵ月です。</p>
            <p><a href="https://point.rakuten.co.jp/?l-id=top_normal_myrakuten_point" target="_blank">楽天ポイントクラブ</a>にて、「【無料サポータープログラムお申し込み特典】アンケートご回答で毎月1000ポイントプレゼント」という内容でポイント付与があるかどうかご確認ください。</p>
            <ul class="c-List_Cap u-Adjust_Mt-16">
              <li><span>※</span>楽天ポイントの付与は、楽天モバイルより行います。</li>
              <li><span>※</span>無料サポータープログラムのご契約者情報に登録されている楽天IDで、アンケート回答時にログインいただいた場合にのみ、ポイント付与します。</li>
              <li><span>※</span>権利の譲渡はできません。</li>
            </ul>
          </dd>
        </div>
        <div>
          <dt>特典対象外</dt>
          <dd>
            <p>以下の条件に当てはまる場合は、特典適用対象外となります。</p>
            <ul class="c-List_Cap u-Adjust_Mt-16">
              <li><span>※</span>当月末までにアンケートにお答えいただいた楽天IDと、翌月月初に無料サポータープログラムに登録されている楽天IDが一致しない場合</li>
              <li><span>※</span>アンケート回答月の翌月ポイント付与時点でアンケートの受信をやめた場合</li>
              <li><span>※</span>本人確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
              <li><span>※</span>楽天会員から退会している場合</li>
              <li><span>※</span>当社の提供するサービスなどの料金のお支払いを、お支払期限までに行わなかった場合</li>
              <li><span>※</span>当社が定める規約などに違反した場合</li>
              <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
            </ul>
          </dd>
        </div>
        <div>
          <dt>注意事項</dt>
          <dd>
            <ul class="c-List_Text-disc">
              <li>月ごとのポイント付与のための楽天モバイル利用条件は変更になる場合がございます。その際は、アンケートメールに記載し、お知らせいたします。</li>
              <li>本特典は予告なく内容の変更もしくは中止させていただく場合がございます。あらかじめご了承ください。</li>
            </ul>
          </dd>
        </div>

      </dl>
    </div>
  </div>
</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-service.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%#- include('/faq/include/related-plan.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>
</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
<%- include('/include/plan/_program') %>


</body>
</html>
