<%
  const filePath = (typeof marathonCampaign !== 'undefined') ? 'index.html' : 'index_b.html';
_%>
<%_ if ( typeof hiddenCta  === 'undefined' ) { _%>
<!-- CTA 再利用する場合はここに -->
<%_ } _%>
<%_ if ( typeof hiddenMenu  === 'undefined' ) { _%>
<div class="c-Footer u-Adjust_Mt-40 u-Adjust_Align-center">
  <%_ if (typeof appear !== 'undefined') { _%>
  <h3 class="c-Txt_Normal-l" data-ratid="scroll-08_more-about-hikari" data-ratevent="appear">もっと知りたい楽天ひかり</h3>
  <%_ }else {_%>
  <h3 class="c-Txt_Normal-l">もっと知りたい楽天ひかり</h3>
  <%_ } _%>
  <div class="c-Footer_Card">
    <a class="c-Footer_Card-item" href="<%= sitepath %>hikari/fee/pricelist/" data-lid_parts="footer">
      <div class="c-Footer_Card-content">
        <img src="<%= sitepath %>assets/img/hikari/common-v2/footer-simulation.png" alt="">
        <p class="c-Footer_Card-txt">料金</p>
      </div>
      <div class="c-Footer_Card-chevron">
        <span class="c-Icon_Arrow-right-l"></span>
      </div>
    </a>
    <a class="c-Footer_Card-item" href="<%= sitepath %>hikari/internet/" data-lid_parts="footer">
      <div class="c-Footer_Card-content">
        <img src="<%= sitepath %>assets/img/hikari/common-v2/footer-speed.png" alt="">
        <p class="c-Footer_Card-txt">速さと安定の<br class="c-Footer_Show-sp">IPv6通信</p>
      </div>
      <div class="c-Footer_Card-chevron">
        <span class="c-Icon_Arrow-right-l"></span>
      </div>
    </a>
    <a class="c-Footer_Card-item" href="<%= sitepath %>hikari/flow/" data-lid_parts="footer">
      <div class="c-Footer_Card-content">
        <img src="<%= sitepath %>assets/img/hikari/common-v2/footer-flow.png" alt="">
        <p class="c-Footer_Card-txt">ご利用開始まで<br class="c-Footer_Show-sp">の流れ</p>
      </div>
      <div class="c-Footer_Card-chevron">
        <span class="c-Icon_Arrow-right-l"></span>
      </div>
    </a>
    <a class="c-Footer_Card-item" href="<%= sitepath %>hikari/support/" data-lid_parts="footer">
      <div class="c-Footer_Card-content">
        <img src="<%= sitepath %>assets/img/hikari/common-v2/footer-support.png" alt="">
        <p class="c-Footer_Card-txt">お客様サポート</p>
      </div>
      <div class="c-Footer_Card-chevron">
        <span class="c-Icon_Arrow-right-l"></span>
      </div>
    </a>
  </div>
</div>
<%_ } _%>

<%_ if ( typeof hiddenPopask  === 'undefined' ) { _%>
  <div class="l-System_Container u-Adjust_Mt-32 u-Adjust_Mb-32">
    <div class="c-Footer_Popask">
      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
      <!-- ReX UX Survey: Config -->
      <script>
      window.rexSurveyConfig = {"surveyId":"39811","cId":{"name":"answers[39811_271363]","value":""},"embedded":true,"url":{"name":"answers[39811_271364]"},"triggerIdName":"trigger","expirationPeriod":0,"enableDisplaySuppressionPerPage":false,"enableFormAction":false,"permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問) ","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":true},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。"},"nps":{"available":true,"question":{"label":"このページはわかりやすかったですか？"},"options":[{"name":"answers[39811_271365]","value":"751904"},{"name":"answers[39811_271365]","value":"751905"},{"name":"answers[39811_271365]","value":"751906"},{"name":"answers[39811_271365]","value":"751907"},{"name":"answers[39811_271365]","value":"751908"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"checkList":{"available":true,"question":" ページで改善して欲しい項目を下記（選択肢1から5）よりお選びください。","options":[{"name":"answers[39811_271366][]","value":"751909","label":"1. ページの読みやすさ"},{"name":"answers[39811_271366][]","value":"751910","label":"2. 使用している専門用語のわかりやすさ"},{"name":"answers[39811_271366][]","value":"751911","label":"3. 知りたい情報の見つけやすさ"},{"name":"answers[39811_271366][]","value":"751912","label":"4. 色や文字サイズ等のデザインのわかりやすさ"},{"name":"answers[39811_271366][]","value":"751913","label":"5. 特に無い"},{"name":"answers[39811_271366][]","value":"751916","label":""},{"name":"answers[39811_271366][]","value":"751917","label":""}]},"freeInput":{"available":true,"name":"answers[39811_271367]","title":"ご回答いただいた内容の理由や、その他のご意見・ご要望を記入してください（任意）【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のためご利用させていただきます。","link":"https://corp.mobile.rakuten.co.jp/guide/privacy/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39811_271366][]","value":"751909","label":""},{"name":"answers[39811_271366][]","value":"751910","label":""},{"name":"answers[39811_271366][]","value":"751911","label":""},{"name":"answers[39811_271366][]","value":"751912","label":""},{"name":"answers[39811_271366][]","value":"751913","label":""},{"name":"answers[39811_271366][]","value":"751916","label":""},{"name":"answers[39811_271366][]","value":"751917","label":""}]}},"ua":{"name":"answers[39811_271368]"},"href":{"name":"answers[39811_271369]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
      </script>
      <!-- ReX UX Survey: Script -->
      <script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/1.5.0/js/main.js" defer></script>
    </div>
  </div>
  <%_ } else { _%>
    <%_ if ( typeof uniquePopask !== 'undefined' ) { _%>
      <div class="l-System_Container u-Adjust_Mt-32 u-Adjust_Mb-32">
        <div class="c-Footer_Popask">
          <%- include('/include/hikari/_rex-survey-' + uniquePopask) %>
        </div>
      </div>
    <%_ } _%>
<%_ } _%>
<%_ if ( typeof hiddenBacktop  === 'undefined' ) { _%>
  <div class="l-System_Container">
    <div class="c-Footer_Pagetop">
      <a href="#" class="js-scroll">
        <img src="<%= sitepath %>assets/img/hikari/common-v2/backtop.svg" alt="">
        <p>上へ</p>
      </a>
    </div>
  </div>
<%_ } _%>
<%_ if ( typeof hiddenBreadcrumbs  === 'undefined' ) { _%>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <%_ if (typeof start1000Breadcrumbs === 'undefined' ) { _%>
        <li><a href="<%= sitepath %>hikari/" data-lid_parts="bcb">トップ</a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><a href="https://event.rakuten.co.jp/group/sbc/" data-lid_parts="bcb">スタート1000トップ</a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>" data-lid_parts="bcb"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <%_ if (typeof customtitle === 'undefined' ) { _%>
        <li aria-current="true"><%= pagetitle %></li>
        <%_ } else { _%>
        <li aria-current="true"><%= customtitle %></li>
        <%_ } _%>
      </ul>
    </div>
  </div>
<%_ } _%>
<div class="c-Footer_Nav">
  <%_ if ( typeof hiddenNav  === 'undefined' ) { _%>
    <ul>
      <li><a href="https://corp.mobile.rakuten.co.jp/" data-lid_parts="footer" target="_blank" rel="noopener" class="c-Link_Txt-inline">会社概要</a><span class="c-Icon_New-window-l"></span></li>
      <li><a href="https://corp.mobile.rakuten.co.jp/guide/privacy/" data-lid_parts="footer" target="_blank" rel="noopener" class="c-Link_Txt-inline">個人情報の取扱いについて</a><span class="c-Icon_New-window-l"></span></li>
      <li><a href="<%= sitepath %>optout/" data-lid_parts="footer" target="_blank" rel="noopener" class="c-Link_Txt-inline">外部送信される情報の取り扱いについて</a><span class="c-Icon_New-window-l"></span></li>
      <li><a href="https://corp.mobile.rakuten.co.jp/guide/security/" data-lid_parts="footer" target="_blank" rel="noopener" class="c-Link_Txt-inline">情報セキュリティポリシー</a><span class="c-Icon_New-window-l"></span></li>
      <li><a href="https://corp.mobile.rakuten.co.jp/guide/trademark/" data-lid_parts="footer" target="_blank" rel="noopener" class="c-Link_Txt-inline">商標・登録商標について</a><span class="c-Icon_New-window-l"></span></li>
      <li><a href="<%= sitepath %>hikari/terms/" data-lid_parts="footer"  rel="noopener" class="c-Link_Txt-inline">利用規約・重要事項説明書</a></li>
      <li><a href="https://corp.rakuten.co.jp/sustainability/human-rights/customer-harassment/" data-lid_parts="footer" target="_blank" rel="noopener" class="c-Link_Txt-inline">楽天グループカスタマーハラスメント対応ポリシー</a><span class="c-Icon_New-window-l"></span></li>
    </ul>
  <%_ } _%>
  <small class="c-Footer_Copyright">&copy; Rakuten Mobile, Inc.</small>
</div>
<!-- PC footer banner -->
<div id="mkdiv_footer_pitari" class="u-Adjust_Display-pc"></div>

<%_ if ( typeof hiddenNav  === 'undefined' ) { _%>
<div class="c-Footer_Rgroup">
  <ul class="c-Footer_Rgroup-link">
    <%_ if (typeof appearTag !== 'undefined' && appearTag) { _%>
    <li data-ratid="scroll-00" data-ratevent="appear">楽天グループ</li>
    <%_ }else{ _%>
    <li>楽天グループ</li>
    <%_ } _%>
    <li><a href="https://www.rakuten.co.jp/sitemap/" data-lid_parts="footer" target="_blank">サービス一覧</a><span class="c-Icon_New-window-l"></span></li>
    <li><a href="https://www.rakuten.co.jp/sitemap/inquiry.html" data-lid_parts="footer" target="_blank">お問い合わせ一覧</a><span class="c-Icon_New-window-l"></span></li>
    <li><a href="https://corp.rakuten.co.jp/sustainability/" data-lid_parts="footer" target="_blank">サステナビリティ</a><span class="c-Icon_New-window-l"></span></li>
  </ul>
</div>

<%_ } _%>
<%_ if (typeof hiddenFooterCta === 'undefined') { _%>
<%_
  const ctaLink = (typeof hiddenFooterCtaLink !== 'undefined') && hiddenFooterCtaLink || 'https://secure3.gol.com/mod-pl/rbb/rmch.cgi?scode=qngTI9rXJpRlc1l6roM&cpnkind=6mfree2401f9'
  const ctaTxt = (typeof hiddenFooterCtaText !== 'undefined') && hiddenFooterCtaText || '楽天ひかりに申し込む'
_%>
  <div class="c-Cta_Footer"></div>
  <div class="c-Cta">
    <a href="<%= ctaLink %>" class="c-Btn_Primary-large" data-lid_parts="fixedbtn">
      <span>
        <span><%= ctaTxt %></span>
        <span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span>
      </span>
    </a>
  </div>
<%_ } _%>
