
<%
  const currentPage = (typeof currentpage !== 'undefined') ? currentpage : '';
  const applyBtnCpnID = (typeof customApplyBtnCpnID !== 'undefined') ? customApplyBtnCpnID : '6mfree2401f9';
_%>
<% if ( headerType == 'normal') { %>
  <header class="g-hikari-Header-new">
    <div class="g-hikari-Header-new_Logo-wrapper js-g-hikari-Header-new_Logo-wrapper">
      <div class="g-hikari-Header-new_Container-other">
        <a href="<%= sitepath %>" class="g-hikari-Header-new_Logo-1" data-lid_parts="header">
          <img src="<%= sitepath %>assets/img/hikari/common-v2/header-logo-pink.svg" alt="Rakuten Mobile" width="95" height="17">
        </a>
        <div>
          <a href="<%= sitepath %>" class="c-Link_Txt-inline c-Txt_Normal-s g-hikari-Header-new_Txt" data-lid_parts="header" data-lid_no="02">楽天モバイル</a>
          <span class="c-Link_Txt-inline c-Txt_Normal-s u-Adjust_Ml-8 u-Adjust_Mr-8 g-hikari-Header-new_Txt-small">|</span>
          <a href="<%= sitepath %>internet/turbo/" class="c-Link_Txt-inline c-Txt_Normal-s g-hikari-Header-new_Txt" data-lid_parts="header">Rakuten Turbo</a>
        </div>
      </div>
    </div>

    <div class="g-hikari-Header-new_Container">
      <div class="g-hikari-Header-new_Container-inner">
        <div class="g-hikari-Header-new_Container-wrapper">
          <div class="g-hikari-Header-new_Container-unit">
            <a href="<%= sitepath %>hikari/" class="g-hikari-Header-new_Logo-2" data-lid_parts="gheader">
              <img src="<%= sitepath %>assets/img/hikari/common-v2/header-logo-white.svg" class="g-hikari-Header-new_Logo-2" alt="Rakuten 光" width="145" height="32">
            </a>
            <div class="g-hikari-Header-new_Item-wrapper">
              <div class="g-hikari-Header-new_Item">
                <div id="header-search-icon"></div>
                <div class="g-hikari-Header-new_Ecare">
                  <a href="https://ms.fusioncom.co.jp/rbb/members/login?campaign=web-rakuten&l-id=rhk_gheader_ecare&_ebx=g1rjgkpzt4.1693291119.7s1i0ki" data-ratid="rhk_gheader_ecare" data-ratevent="click" data-ratparam="all">
                    <span class="g-hikari-Header-new_Ecare-icon c-Icon_My-page-l"></span>
                    <span class="g-hikari-Header-new_Ecare-text">会員ページ</span>
                  </a>
                </div>
                <%_ if (typeof headerApplyBtnHidden === 'undefined' ) { _%>
                <div class="g-hikari-Header-new_Apply">
                  <div class="g-hikari-Header-new_Apply02"><a href="https://secure3.gol.com/mod-pl/rbb/rmch.cgi?scode=qngTI9rXJpRlc1l6roM&cpnkind=<%= applyBtnCpnID %>&l-id=rhk_header_onb" class="g-hikari-Header-new_Apply-button" data-ratid="rhk_header_onb" data-ratevent="click" data-ratparam="all">お申し込み</a></div>
                </div>
                <%_ } _%>
                <div class="g-hikari-Header-new_Drawer-icon js-nav" aria-controls="js-drawer" data-ratid="rhk_header_hamburger" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Menu g-hikari-Header-new_Drawer-icon-menu"></span><span class="g-hikari-Header-new_Drawer-text">メニュー</span></div>
              </div>
            </div>
          </div>
          <nav class="g-hikari-Header-new_Nav-sub">
            <ul id="js-dropdown-v2-parent" class="g-hikari-Header-new_Nav-sub-inner1">
              <li>
                <a href="<%= sitepath %>hikari/fee/pricelist/" id="nav-fee" class="c-Link_Txt-icon g-hikari-Header-new_Nav-sub-link" aria-current="<%- (currentPage === '料金') ? 'page' : 'false' %>" data-lid_parts="gheader">料金</a>
              </li>
              <li class="g-hikari-Header-new_Nav-sub-dropdown-item">
                <button class="js-dropdown-v2 g-HeaderV2_Dropdown g-hikari-Header-new_Nav-sub-dropdown-toggle" aria-controls="header-campaign" aria-current="false" aria-expanded="false">
                  キャンペーン<span class="c-Icon_Chevron-right g-HeaderV2_Dropdown-icon"></span>
                </button>
                <div class="g-HeaderV2_SubContainer js-dropdown-v2-child g-hikari-Header-new_Nav-sub-dropdown-content g-hikari-Header-new_Nav-sub-dropdown-content--wide">
                  <div id="header-campaign">
                    <ul class="g-hikari-Header-new_Nav-sub-dropdown-overview">
                      <li>
                        <a href="<%= sitepath %>hikari/campaign/six-month-free/" class="c-Link_Txt-icon" data-lid_parts="gheader">月額基本料6カ月0円キャンペーン</a>
                      </li>
                      <li>
                        <a href="<%= sitepath %>internet/turbo/campaign/spu/" class="c-Link_Txt-icon" data-lid_parts="gheader">SPU（スーパーポイントアッププログラム）</a>
                      </li>
                      <li>
                        <a href="<%= sitepath %>hikari/campaign/archive/" class="c-Link_Txt-icon" data-lid_parts="gheader">過去のキャンペーンルール</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="g-hikari-Header-new_Nav-sub-dropdown-item">
                <button class="js-dropdown-v2 g-HeaderV2_Dropdown g-hikari-Header-new_Nav-sub-dropdown-toggle" aria-controls="header-campaign" aria-current="false" aria-expanded="false">
                  ご検討中の方へ<span class="c-Icon_Chevron-right g-HeaderV2_Dropdown-icon"></span>
                </button>
                <div class="g-HeaderV2_SubContainer js-dropdown-v2-child g-hikari-Header-new_Nav-sub-dropdown-content">
                  <div id="header-flow">
                    <ul class="g-hikari-Header-new_Nav-sub-dropdown-overview">
                      <li>
                        <a href="<%= sitepath %>hikari/flow/" class="c-Link_Txt-icon" data-lid_parts="gheader">ご利用開始までの流れ</a>
                      </li>
                      <li>
                        <a href="<%= sitepath %>hikari/internet/" class="c-Link_Txt-icon" data-lid_parts="gheader">速さと安定のIPv6通信</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="g-hikari-Header-new_Nav-sub-dropdown-item">
                <button class="js-dropdown-v2 g-HeaderV2_Dropdown g-hikari-Header-new_Nav-sub-dropdown-toggle" aria-controls="header-campaign" aria-current="false" aria-expanded="false">
                  お知らせ・サポート<span class="c-Icon_Chevron-right g-HeaderV2_Dropdown-icon"></span>
                </button>
                <div class="g-HeaderV2_SubContainer js-dropdown-v2-child g-hikari-Header-new_Nav-sub-dropdown-content">
                  <div id="header-support">
                    <ul class="g-hikari-Header-new_Nav-sub-dropdown-overview">
                      <li>
                        <a href="<%= sitepath %>hikari/information/" class="c-Link_Txt-icon" data-lid_parts="gheader">お知らせ</a>
                      </li>
                      <li>
                        <a href="<%= sitepath %>hikari/support/" class="c-Link_Txt-icon" data-lid_parts="gheader">お客様サポート</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <%_ if (typeof top === 'undefined') { _%>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= sitepath %>hikari/" data-lid_parts="bct">トップ</a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>" data-lid_parts="bct"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <%_ if (typeof customtitle === 'undefined' ) { _%>
        <li aria-current="true"><%= pagetitle %></li>
        <%_ } else { _%>
        <li aria-current="true"><%= customtitle %></li>
        <%_ } _%>
      </ul>
    </div>
      <%_ if (typeof tax === 'undefined') { _%>
      <div class="g-hikari-Header-new_Note">
        <p class="c-Txt_Cap">※ 表記の金額は特に記載のある場合を除きすべて税込です。</p>
      </div>
      <%_ } _%>
    <%_ } _%>
  </header>
<% } else if ( headerType == 'ecare') { %>
  <header class="g-hikari-Header-new">
    <div class="g-hikari-Header-new_Logo-wrapper">
      <div class="g-hikari-Header-new_Container-other">
        <a href="<%= sitepath %>" class="g-hikari-Header-new_Logo-1" data-lid_parts="header">
          <img src="<%= sitepath %>assets/img/hikari/common-v2/header-logo-pink.svg" alt="Rakuten Mobile" width="95" height="17">
        </a>
        <a href="<%= sitepath %>" class="c-Link_Txt-inline c-Txt_Normal-s" data-lid_parts="header" data-lid_no="02">楽天モバイルはこちら</a>
      </div>
    </div>

    <div class="g-hikari-Header-new_Container-ecare">
      <div class="g-hikari-Header-new_Container-inner">
        <a href="<%= sitepath %>hikari/" class="g-hikari-Header-new_Logo-2" data-lid_parts="header">
          <img src="<%= sitepath %>assets/img/hikari/common-v2/header-logo-white.svg" class="g-hikari-Header-new_Logo-1" alt="Rakuten 光">
        </a>
        <div class="g-hikari-Header-new_Item-wrapper">
          <div class="g-hikari-Header-new_Item">
            <div class="g-hikari-Header-new_Drawer-icon js-nav" aria-controls="js-drawer" data-ratid="rhk_header_hamburger" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Menu"></span><span class="g-hikari-Header-new_Drawer-text">メニュー</span></div>
          </div>
        </div>
      </div>
    </div>
    <%_ if (typeof tax === 'undefined') { _%>
      <div class="g-hikari-Header-new_Note">
        <p class="c-Txt_Cap">※ 表記の金額は特に記載のある場合を除きすべて税込です。</p>
      </div>
      <%_ } _%>
  </header>
<% } else if ( headerType == 'logo') { %>
  <header class="g-hikari-Header-new">
    <div class="g-hikari-Header-new_Container-logo">
      <div class="g-hikari-Header-new_Container-inner">
        <a href="<%= sitepath %>hikari/" class="g-hikari-Header-new_Logo-2" data-lid_parts="header">
          <img src="<%= sitepath %>assets/img/hikari/common-v2/header-logo-white.svg" class="g-hikari-Header-new_Logo-1" alt="Rakuten 光">
        </a>
      </div>
    </div>
  </header>
  <%_ if (typeof tax === 'undefined') { _%>
    <div class="g-hikari-Header-new_Note">
      <p class="c-Txt_Cap">※ 表記の金額は特に記載のある場合を除きすべて税込です。</p>
    </div>
    <%_ } _%>
<% } %>

<% if ( headerType == 'normal') { %>
  <div class="g-hikari-Header-new_Search js-search" id="js-search" aria-expanded="false">
    <div class="g-hikari-Header-new_Search-close js-nav" aria-controls="js-search"><span class="c-Icon_X"></span></div>
    <div class="g-hikari-Header-new_Search-wrap">
    <div id="header-search"></div>
    </div>
  </div>

  <nav class="g-hikari-Header-new_Drawer js-drawer" id="js-drawer">
    <div class="g-hikari-Header-new_Drawer-close js-nav" aria-controls="js-drawer" id="js-drawer-close"><span class="c-Icon_X"></span></div>
    <div class="g-hikari-Header-new_Drawer-container">
    <div class="g-hikari-Header-new_Drawer-content">
      <div class="g-hikari-Header-new_Drawer-btns">
        <%_ if (typeof headerApplyBtnHidden === 'undefined' ) { _%>
        <a href="https://secure3.gol.com/mod-pl/rbb/rmch.cgi?scode=qngTI9rXJpRlc1l6roM&cpnkind=<%= applyBtnCpnID %>&l-id=rhk_gmenu_onb" data-lid_parts="rhk_gmenu_onb" class="c-Btn_Primary g-hikari-Header-new_Drawer-btn-primary" data-ratid="rhk_gmenu_onb" data-ratevent="click" data-ratparam="all" data-lid_no="02"><span>お申し込み</span></a>
        <%_ } _%>
        <a href="https://ms.fusioncom.co.jp/rbb/members/login?campaign=web-rakuten&l-id=rhk_gmenu_ecare&_ebx=g1rjgkpzt4.1693291119.7s1i0ki" class="c-Btn_Secondly g-hikari-Header-new_Drawer-btn-secondly js-btn-ecare" aria-hidden="false" data-ratid="rhk_gmenu_ecare" data-ratevent="click" data-ratparam="all"><span>会員ページ</span></a>

      </div>
      <ul class="g-hikari-Header-new_Drawer-list">
        <li><a href="<%= sitepath %>hikari/fee/pricelist/" data-lid_parts="gmenu">料金</a></li>
        <li class="g-hikari-Header-new_Drawer-menu"><div class="js-layer-expand" aria-controls="js-layer-campaign">キャンペーン<span class="c-Icon_Chevron-right"></span></div></li>
        <li class="g-hikari-Header-new_Drawer-menu"><div class="js-layer-expand" aria-controls="js-layer-appeal">ご検討中の方へ<span class="c-Icon_Chevron-right"></span></div></li>
        <li class="g-hikari-Header-new_Drawer-menu"><div class="js-layer-expand" aria-controls="js-layer-support">お知らせ・サポート<span class="c-Icon_Chevron-right"></span></div></li>
      </ul>
      <div class="g-hikari-Header-new_Drawer-sub" id="js-drawer-sub">
        <p>
          <a href="<%= sitepath %>internet/turbo/" data-lid_parts="gmenu" class="c-Link_Txt-inline-icon" rel="noopener noreferrer">Rakuten Turboを見る<span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span></a>
        </p>
        <div class="u-Adjust_Mt-16">
          <a href="<%= sitepath %>" data-lid_parts="gmenu" data-lid_no="03" class="c-Link_Txt-inline-icon" rel="noopener noreferrer">楽天モバイルを見る<span class="c-Icon_Arrow-right-l c-Btn_Icon-end"></span></a>
        </div>
      </div>
    </div>
    </div>
  </nav>
  <nav class="g-HeaderV2_DrawerLayer js-drawer-v2-layer" id="js-layer-campaign">
    <div class="g-hikari-Header-new_DrawerLayer-back js-layer-fold"><span class="c-Icon_Chevron-left"></span>キャンペーン</div>
    <div class="g-HeaderV2_DrawerLayer-content">
      <ul class="g-hikari-Header-new_Drawer-list g-hikari-Header-new_Drawer-list-layer">
        <li>
          <a href="<%= sitepath %>hikari/campaign/six-month-free/" data-lid_parts="gmenu" aria-current="false">月額基本料6カ月0円キャンペーン</a>
        </li>
        <li>
          <a href="<%= sitepath %>internet/turbo/campaign/spu/" data-lid_parts="gmenu" aria-current="false">SPU（スーパーポイントアッププログラム）</a>
        </li>
        <li>
          <a href="<%= sitepath %>hikari/campaign/archive/" data-lid_parts="gmenu"  aria-current="false">過去のキャンペーンルール</a>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="g-HeaderV2_DrawerLayer js-drawer-v2-layer" id="js-layer-appeal">
    <div class="g-hikari-Header-new_DrawerLayer-back js-layer-fold"><span class="c-Icon_Chevron-left"></span>ご検討中の方へ</div>
    <div class="g-HeaderV2_DrawerLayer-content">
      <ul class="g-hikari-Header-new_Drawer-list g-hikari-Header-new_Drawer-list-layer">
        <li><a href="<%= sitepath %>hikari/flow/" data-lid_parts="gmenu" aria-current="false">ご利用開始までの流れ</a></li>
        <li><a href="<%= sitepath %>hikari/internet/" data-lid_parts="gmenu">速さと安定のIPv6通信</a></li>
      </ul>
    </div>
  </nav>
  <nav class="g-HeaderV2_DrawerLayer js-drawer-v2-layer" id="js-layer-support">
    <div class="g-hikari-Header-new_DrawerLayer-back js-layer-fold"><span class="c-Icon_Chevron-left"></span>お知らせ・サポート</div>
    <div class="g-HeaderV2_DrawerLayer-content">
      <ul class="g-hikari-Header-new_Drawer-list g-hikari-Header-new_Drawer-list-layer">
        <li><a href="<%= sitepath %>hikari/information/" data-lid_parts="gmenu">お知らせ</a></li>
        <li><a href="<%= sitepath %>hikari/support/" data-lid_parts="gmenu" aria-current="false">お客様サポート</a></li>
      </ul>
    </div>
  </nav>


  <div class="g-hikari-Header-new_Overlay js-overlay" aria-hidden="true"></div>
  <div class="g-Header_Overlay js-overlay" aria-hidden="true"></div>

    <script>
      const header = document.getElementsByClassName('g-hikari-Header-new_Container')[0];
      const topLayoutMain = document.getElementsByClassName('hikari-top-Layout-b_Main');
      const banner = document.getElementById('cmo_pitari_banner');
      const headerNav = document.getElementsByClassName('g-hikari-Header-new_Nav-sub-inner1')[0];
      const breadcrumbs = document.getElementsByClassName('c-Breadcrumbs_Head')[0];
      const logoWrapper = document.getElementsByClassName('g-hikari-Header-new_Logo-wrapper')[0];
      const applyBtn = document.getElementsByClassName('g-hikari-Header-new_Apply-btn')[0];
      const drawer = document.getElementById('js-drawer');

      const uri = new URL(window.location.href);
      const currentPageGenre = uri.pathname.split('/')[2];
      const currentPageNav = document.getElementById(`nav-${currentPageGenre}`);

      if( currentPageNav == 'nav-fee' || currentPageNav == 'nav-campaign' || currentPageNav == 'nav-flow' || currentPageNav == 'nav-support' ) {
        currentPageNav.style.fontWeight = 'bold';
      }

      let windoWidth = window.innerWidth;
      let sizePc;
      if( windoWidth < 769 ) {
        sizePc = false;
      } else {
        sizePc = true;
      }

      const logoWrapperHeight = logoWrapper.offsetHeight;
      let headerTop = logoWrapperHeight;
      const calcHeaderTop = () => {
        if ( banner ) {
          headerTop = logoWrapperHeight;
          let bannerHeight = banner.offsetHeight;
          headerTop = headerTop + bannerHeight;
        }
      };
      calcHeaderTop();

      let resizeHeaderTopTimer;
      const resizeHeaderTop = () => {
        if (resizeHeaderTopTimer != null) {
          clearTimeout(resizeHeaderTopTimer);
        }
        const isResizeHeaderTop = () => {
          calcHeaderTop();
        }
        resizeHeaderTopTimer = setTimeout(() => {
          isResizeHeaderTop();
        }, 1000);
      };

      let headerHeight = 0;
      const calcHeaderHeight = () => {
        headerHeight = header.offsetHeight;
      };
      calcHeaderHeight();

      let resizeHeaderHeightTimer;
      const resizeHeaderHeight = () => {
        if (resizeHeaderHeightTimer != null) {
          clearTimeout(resizeHeaderHeightTimer);
        }
        const isResizeHeaderHeight = () => {
          calcHeaderHeight();
          if (topLayoutMain[0]) {
            let scrFromTop = window.scrollY;
            if( scrFromTop > headerTop ) {
              topLayoutMain[0].style.marginTop = headerHeight - 10 + 'px';
            }
          }
        }
        resizeHeaderHeightTimer = setTimeout(() => {
          isResizeHeaderHeight();
        }, 1000);
      };

      let breadcrumbTop = 0;
      const calcBreadcrumbTop = () => {
        headerHeight = header.offsetHeight;
        breadcrumbTop = headerHeight - 10;
      };
      calcBreadcrumbTop();

      let resizeBreadcrumbTopTimer;
      const resizeBreadcrumbTop = () => {
        if (resizeBreadcrumbTopTimer != null) {
          clearTimeout(resizeBreadcrumbTopTimer);
        }
        const isResizeBreadcrumbTop = () => {
          calcBreadcrumbTop();
        }
        resizeBreadcrumbTopTimer = setTimeout(() => {
          isResizeBreadcrumbTop();
        }, 1000);
      };

      window.addEventListener('resize', (event) => {
        windoWidth = window.innerWidth;
        if ( banner ) {
          resizeHeaderTop();
        }
        resizeHeaderHeight();
        if( windoWidth < 769 ) {
          sizePc = false;
        } else {
          sizePc = true;
          resizeBreadcrumbTop();
        }
      });
      window.addEventListener('scroll', (event) => {
        if (drawer.getAttribute('aria-expanded') == 'true') {
          return;
        }
        let scrFromTop = window.scrollY;
        if( scrFromTop > headerTop ) {
          if( sizePc ) {
            if (header) {
              header.classList.add('g-hikari-Header-new_Fixed');
              headerNav.classList.add('g-hikari-Header-new_Nav-sub-fixed');
            }
            if (breadcrumbs) {
              breadcrumbs.style.marginTop = breadcrumbTop + 'px';
            }
            if (logoWrapper) {
              logoWrapper.style.marginBottom = '0';
            }
            if (topLayoutMain[0]) {
              topLayoutMain[0].style.marginTop = headerHeight - 10 + 'px';
            }
          } else {
            if (header) {
              header.classList.add('g-hikari-Header-new_Fixed');
            }
            if (logoWrapper) {
              logoWrapper.style.marginBottom = '47px';
            }
            if (applyBtn) {
              applyBtn.style.padding = "6.75px 14px";
            }
            if (breadcrumbs) {
              breadcrumbs.style.marginTop = breadcrumbTop + 'px';
            }
            if (topLayoutMain[0]) {
              topLayoutMain[0].style.marginTop = headerHeight - 10 + 'px';
            }
          }
        } else if( scrFromTop < headerTop + 14 ) {
          if( sizePc ) {
            if (header) {
              header.classList.remove('g-hikari-Header-new_Fixed');
              headerNav.classList.remove('g-hikari-Header-new_Nav-sub-fixed');
            }
            if (breadcrumbs) {
              breadcrumbs.style.marginTop = '0';
            }
            if (logoWrapper) {
              logoWrapper.style.marginBottom = '0';
            }
            if (topLayoutMain[0]) {
              topLayoutMain[0].style.marginTop = '0';
            }
          } else {
            if (header) {
              header.classList.remove('g-hikari-Header-new_Fixed');
            }
            if (breadcrumbs) {
              breadcrumbs.style.marginTop = '0';
            }
            if (logoWrapper) {
              logoWrapper.style.marginBottom = '0';
            }
            if (applyBtn) {
              applyBtn.style.padding = "9px 14px";
            }
            if (topLayoutMain[0]) {
              topLayoutMain[0].style.marginTop = '0';
            }
          }
        }
      });
    </script>
  <%_ } _%>
