<% const pagetitle = "着信転送（ご利用方法）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/plan/internal-voice/", label:"通話/通信サービス（国内）"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '「着信転送」サービスの設定方法・ご利用方法をご案内します。お客様のスマートフォン（スマホ）にかかってきた電話を、登録済みの別の電話へ転送します。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="l-System_Container">
  <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-right">※表記の金額はすべて税込です。</p>
</div>
<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

    <div class="u-Adjust_Mt-32">
      <ul>
        <li><a href="<%= sitepath %>service/call-forwarding/" class="c-Btn_Regular"><span>特長・サービス内容を見る</span></a></li>
      </ul>
    </div>
<!--
    <ul class="<%= nameSpace %>-Layout_Anchorlink">
      <li><a href="#howto-use" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>ご利用方法</a></li>
    </ul>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="howto-apply">お申し込み方法</h2>
    <dl class="c-List_Dl-origin u-Adjust_Mt-24">
      <div>
        <dt>新規ご契約時</dt>
        <dd>お申し込みの際、料金プラン詳細画面上で音声サービス→着信転送の「追加する」ボタンを押してください。</dd>
      </div>
      <div>
        <dt>ご契約済みの場合</dt>
        <dd>my 楽天モバイルから、料金プラン詳細画面上で音声サービス→着信転送の「追加する」ボタンを押してください。</dd>
      </div>
    </dl>

    <div class="u-Adjust_Mt-24">
      <ul>
        <li><a href="#<%= nameSpace %>-App" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>my 楽天モバイル</a></li>
      </ul>
    </div>
-->
    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="howto-use">ご利用方法</h2>
    <div class="u-Adjust_Mt-24">
      <ul>
        <li><a href="#anchor01" class="u-Adjust_Mt-8 c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>開始設定</a></li>
        <li><a href="#anchor02" class="u-Adjust_Mt-8 c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>停止設定</a></li>
        <li><a href="#anchor03" class="u-Adjust_Mt-8 c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>my 楽天モバイル上でできる設定</a></li>
        <li><a href="#anchor04" class="u-Adjust_Mt-8 c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>注意事項</a></li>
      </ul>
    </div>


    <h3 id="anchor01" class="c-Heading_Lv3 u-Adjust_Mt-40">開始設定</h3>
    <div class="c-Tab js-Tab">
      <ul class="c-Tab_Items-bg u-Adjust_Mt-16" role="tablist">
        <li class="c-Tab_Item u-Adjust_Align-center" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">Webでお手続き</li>
        <li class="c-Tab_Item u-Adjust_Align-center" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">アプリでお手続き</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
        <ul class="c-Flow u-Adjust_Mt-24">
          <li>
            <h3 class="c-Heading_Lv3">1. my 楽天モバイル「契約プラン」「プランに含まれるオプションサービス」画面を開く</h3>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">※「プランに含まれるオプションサービスへ進む」をタップしてログインすると、手順２の画面が表示されます。</p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap">※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/" class="c-Link_Txt">[my
                楽天モバイル]ログインできません</a>」をご確認ください。</p>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <a href="https://portal.mobile.rakuten.co.jp/dashboard?scrollTo=domesticServices#plans" target="_blank" class="c-Btn_Secondly-large"
                data-ratId="guide_ecare_plans_domesticServices" data-ratEvent="click" data-ratParam="all">プランに含まれる<br>オプションサービスへ進む</a>
            </p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2. 「着信転送」のスライダーをタップする</h3>

            <div class="c-Accordion u-Adjust_Mt-16">
              <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                楽天モバイルを2回線以上ご契約中の場合
              </button>
              <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
                <p class="u-Adjust_Mt-16">画面上部へスクロールし、手続きを行う電話番号が表示されているか、事前にご確認ください。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">
                ※一番最後にご契約された電話番号が自動で表示されています。<br>※表示されている電話番号を切替えた場合、my 楽天モバイルからログアウト（自動ログアウト含む）するまでは切替えた状態が維持されます。
                </p>
                <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">電話番号の切替え方法</h4>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">1 表示されている電話番号をタップする</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-forwarding/tel_01_20221220.png" alt="" class="c-Img_Capture"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">2 手続きを行う電話番号をタップする</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-forwarding/tel_02_20221220.png" alt="" class="c-Img_Capture"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">3 選択した電話番号が表示されていることを確認する</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-forwarding/tel_03_20221220.png" alt="" class="c-Img_Capture"></p>
                <p class="u-Adjust_Mt-16">以上で完了です。手順2の操作へお進みください。</p>
              </div>
            </div>

            <p class="u-Adjust_Mt-24 c-Txt_Cap">※画面はOFFの状態です。</p>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-forwarding/img_01_20221220.png" alt="" class="c-Img_Capture"></p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3. 着信転送の種類を選択し、転送先電話番号を入力した後「変更する」をタップする</h3>

            <p class="u-Adjust_Mt-24 c-Txt_Cap">※画面はOFFの状態です。</p>
            <div class="c-Accordion u-Adjust_Mt-16">
              <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                着信転送の種類について
              </button>
              <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
                <ul class="c-List_Text-disc">
                  <li class="u-Adjust_Mt-8">着信転送には以下の4パターンがあります。</li>
                  <li class="u-Adjust_Mt-8">話中時転送、圏外時転送、無応答時転送は同時に設定が可能です。</li>
                  <li class="u-Adjust_Mt-8">
                    転送の優先順位は、以下のとおりです。
                    <ol>
                      <li>1. 無条件転送</li>
                      <li class="u-Adjust_Mt-8">2. 圏外時転送</li>
                      <li class="u-Adjust_Mt-8">3. 話中時転送</li>
                      <li class="u-Adjust_Mt-8">4. 無応答時転送</li>
                    </ol>
                  </li>
                </ul>

                <dl class="c-Dl_Origin u-Adjust_Mt-24">
                  <div>
                    <dt>無条件転送</dt>
                    <dd>かかってきたすべての電話を転送</dd>
                  </div>
                  <div>
                    <dt>話中時転送</dt>
                    <dd>通話中に他の相手からかかってきた電話を転送</dd>
                  </div>
                  <div>
                    <dt>圏外時転送</dt>
                    <dd>圏外にいる時や、電源OFF時にかかってきた電話を転送</dd>
                  </div>
                  <div>
                    <dt>無応答時転送</dt>
                    <dd>着信に応答しなかった場合に電話を転送</dd>
                  </div>
                </dl>
              </div>
            </div>

            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-forwarding/img_02_20221220.png" alt="" class="c-Img_Capture"></p>
            <p class="u-Adjust_Mt-16">スライダーをタップすると電話番号の入力画面が表示されます。転送先に指定したい電話番号を入力してください。</p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap">※「無応答時転送」を選択した場合は、転送時間も設定してください。</p>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-forwarding/img_00_20221220.png" alt="" class="c-Img_Capture"></p>
            <p class="u-Adjust_Mt-16">電話番号の入力が完了したら下部の「変更する」をタップしてください。</p>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-forwarding/img_03_20221220.png" alt="" class="c-Img_Capture"></p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">4. 設定の完了を確認する</h3>
            <p class="u-Adjust_Mt-16">「着信転送」の下部に設定済の着信転送の種類と転送先電話番号が表示されます。<br>設定を変更したい場合は「設定」をタップの上、手順3と同様に操作してください。</p>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-forwarding/img_04_20221220.png" alt="" class="c-Img_Capture"></p>
          </li>
        </ul>
        <p class="u-Adjust_Mt-32">以上で開始設定は完了です。</p>
      </div>

      <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
        <ul class="c-Flow u-Adjust_Mt-24">
          <li>
            <h3 class="c-Heading_Lv3">1. my 楽天モバイルを起動する</h3>
            <div class="c-Box_App u-Adjust_Mt-24">
              <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt=""></div>
              <div class="c-Box_App-txt">
                <p class="c-Box_App-ttl">my 楽天モバイル</p>
                <p class="u-Adjust_Mt-16">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                <ul class="c-Box_App-link u-Adjust_Mt-16">
                  <li class="<%= nameSpace %>-App_Btn-store">
                    <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
                    <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
                  </li>
                  <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2. my 楽天モバイル「契約プラン」画面を開く</h3>
            <p class="u-Adjust_Mt-24">現在の通話サービスやオプションサービスのご契約状況をご確認いただけます。</p>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/users-information/img-01.png" alt="" class="c-Img_Capture"></p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3.「プランに含まれるオプション」内の 「着信転送」のスライダーをタップする</h3>

            <div class="c-Accordion u-Adjust_Mt-16">
              <button id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                楽天モバイルを2回線以上ご契約中の場合
              </button>
              <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">

                <p class="u-Adjust_Mt-16">手続きを行う電話番号が表示されているか、事前にご確認ください。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">
                  ※一番最後にご契約された電話番号が自動で表示されています。<br>※表示されている電話番号を切替えた場合、my 楽天モバイルアプリからのログアウト、またアプリを強制的に終了するまでは切替えた状態が維持されます。
                </p>
                <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">電話番号の切替え方法</h4>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">1 表示されている電話番号をタップする</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-forwarding/tel_01_20221220.png" alt="" class="c-Img_Capture"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">2 手続きを行う電話番号をタップする</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-forwarding/tel_04_20221220.png" alt="" class="c-Img_Capture"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">3 選択した電話番号が表示されていることを確認する</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-forwarding/tel_03_20221220.png" alt="" class="c-Img_Capture"></p>
                <p class="u-Adjust_Mt-16">以上で完了です。手順3の操作へお進みください。</p>
              </div>
            </div>
            <p class="u-Adjust_Mt-24 c-Txt_Cap">※画面はOFFの状態です。</p>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-forwarding/img_05_20221220.png" alt="" class="c-Img_Capture"></p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">4. 着信転送の種類を選択し、転送先電話番号を入力した後「変更する」をタップする</h3>

            <p class="u-Adjust_Mt-24 c-Txt_Cap">※画面はOFFの状態です。</p>
            <div class="c-Accordion u-Adjust_Mt-16">
              <button id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                着信転送の種類について
              </button>
              <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
                <ul class="c-List_Text-disc">
                  <li class="u-Adjust_Mt-8">着信転送には以下の4パターンがあります。</li>
                  <li class="u-Adjust_Mt-8">話中時転送、圏外時転送、無応答時転送は同時に設定が可能です。</li>
                  <li class="u-Adjust_Mt-8">
                    転送の優先順位は、以下のとおりです。
                    <ol>
                      <li>1. 無条件転送</li>
                      <li class="u-Adjust_Mt-8">2. 圏外時転送</li>
                      <li class="u-Adjust_Mt-8">3. 話中時転送</li>
                      <li class="u-Adjust_Mt-8">4. 無応答時転送</li>
                    </ol>
                  </li>
                </ul>

                <dl class="c-Dl_Origin u-Adjust_Mt-24">
                  <div>
                    <dt>無条件転送</dt>
                    <dd>かかってきたすべての電話を転送</dd>
                  </div>
                  <div>
                    <dt>話中時転送</dt>
                    <dd>通話中に他の相手からかかってきた電話を転送</dd>
                  </div>
                  <div>
                    <dt>圏外時転送</dt>
                    <dd>圏外にいる時や、電源OFF時にかかってきた電話を転送</dd>
                  </div>
                  <div>
                    <dt>無応答時転送</dt>
                    <dd>着信に応答しなかった場合に電話を転送</dd>
                  </div>
                </dl>
              </div>
            </div>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-forwarding/img_02_20221220.png" alt="" class="c-Img_Capture"></p>
            <p class="u-Adjust_Mt-16">スライダーをタップすると電話番号の入力画面が表示されます。転送先に指定したい電話番号を入力してください。</p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap">※「無応答時転送」を選択した場合は、転送時間も設定してください。</p>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-forwarding/img_00_20221220.png" alt="" class="c-Img_Capture"></p>
            <p class="u-Adjust_Mt-16">電話番号の入力が完了したら下部の「変更する」をタップしてください。</p>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-forwarding/img_03_20221220.png" alt="" class="c-Img_Capture"></p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">5. 設定の完了を確認する</h3>
            <p class="u-Adjust_Mt-16">「着信転送」の下部に設定済の着信転送の種類と転送先電話番号が表示されます。<br>設定を変更したい場合は「設定」をタップの上、手順3と同様に操作してください。</p>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-forwarding/img_06_20221220.png" alt="" class="c-Img_Capture"></p>
          </li>
        </ul>
        <p class="u-Adjust_Mt-32">以上で開始設定は完了です。</p>
      </div>
    </div>

    <h3 id="anchor02" class="c-Heading_Lv3 u-Adjust_Mt-40">停止設定</h3>
    <div class="c-Tab js-Tab">
      <ul class="c-Tab_Items-bg u-Adjust_Mt-16" role="tablist">
        <li class="c-Tab_Item u-Adjust_Align-center" id="tab-menu3" role="tab" aria-selected="true" aria-controls="tab-content3">Webでお手続き</li>
        <li class="c-Tab_Item u-Adjust_Align-center" id="tab-menu4" role="tab" aria-selected="false" aria-controls="tab-content4">アプリでお手続き</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content3" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu3">
        <ul class="c-Flow u-Adjust_Mt-24">
          <li>
            <h3 class="c-Heading_Lv3">1. my 楽天モバイル「契約プラン」「プランに含まれるオプションサービス」画面を開く</h3>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">※「プランに含まれるオプションサービスへ進む」をタップしてログインすると、手順２の画面が表示されます。</p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap">※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/" class="c-Link_Txt">[my
                楽天モバイル]ログインできません</a>」をご確認ください。</p>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <a href="https://portal.mobile.rakuten.co.jp/dashboard?scrollTo=domesticServices#plans" target="_blank" class="c-Btn_Secondly-large"
                data-ratId="guide_ecare_plans_domesticServices_02" data-ratEvent="click" data-ratParam="all">プランに含まれる<br>オプションサービスへ進む</a>
            </p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2. 「着信転送」のスライダーをタップし、OFFにする</h3>

            <div class="c-Accordion u-Adjust_Mt-16">
              <button id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                楽天モバイルを2回線以上ご契約中の場合
              </button>
              <div id="accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
                <p class="u-Adjust_Mt-16">画面上部へスクロールし、手続きを行う電話番号が表示されているか、事前にご確認ください。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">
                ※一番最後にご契約された電話番号が自動で表示されています。<br>※表示されている電話番号を切替えた場合、my 楽天モバイルからログアウト（自動ログアウト含む）するまでは切替えた状態が維持されます。
                </p>
                <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">電話番号の切替え方法</h4>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">1 表示されている電話番号をタップする</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-forwarding/tel_01_20221220.png" alt="" class="c-Img_Capture"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">2 手続きを行う電話番号をタップする</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-forwarding/tel_02_20221220.png" alt="" class="c-Img_Capture"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">3 選択した電話番号が表示されていることを確認する</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-forwarding/tel_03_20221220.png" alt="" class="c-Img_Capture"></p>
                <p class="u-Adjust_Mt-16">以上で完了です。手順2の操作へお進みください。</p>
              </div>
            </div>

            <p class="u-Adjust_Mt-24 c-Txt_Cap">※画面はOFFの状態です。</p>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-forwarding/img_01_20221220.png" alt="" class="c-Img_Capture"></p>
          </li>
        </ul>
        <p class="u-Adjust_Mt-32">以上で停止設定は完了です。</p>
      </div>

      <div class="c-Tab_Panel" id="tab-content4" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu4">
        <ul class="c-Flow u-Adjust_Mt-24">
          <li>
            <h3 class="c-Heading_Lv3">1. my 楽天モバイルを起動する</h3>
            <div class="c-Box_App u-Adjust_Mt-24">
              <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt=""></div>
              <div class="c-Box_App-txt">
                <p class="c-Box_App-ttl">my 楽天モバイル</p>
                <p class="u-Adjust_Mt-16">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                <ul class="c-Box_App-link u-Adjust_Mt-16">
                  <li class="<%= nameSpace %>-App_Btn-store">
                    <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
                    <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
                  </li>
                  <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2. 画面下の「契約プラン」をタップする</h3>
            <p class="u-Adjust_Mt-24">現在の通話サービスやオプションサービスのご契約状況をご確認いただけます。</p>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/users-information/img-01.png" alt="" class="c-Img_Capture"></p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3.「プランに含まれるオプション」内の 「着信転送」のスライダーをタップし、OFFにする</h3>

            <div class="c-Accordion u-Adjust_Mt-16">
              <button id="accordion-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-6"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                楽天モバイルを2回線以上ご契約中の場合
              </button>
              <div id="accordion-content-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">

                <p class="u-Adjust_Mt-16">手続きを行う電話番号が表示されているか、事前にご確認ください。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">
                  ※一番最後にご契約された電話番号が自動で表示されています。<br>※表示されている電話番号を切替えた場合、my 楽天モバイルアプリからのログアウト、またアプリを強制的に終了するまでは切替えた状態が維持されます。
                </p>
                <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">電話番号の切替え方法</h4>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">1 表示されている電話番号をタップする</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-forwarding/tel_01_20221220.png" alt="" class="c-Img_Capture"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">2 手続きを行う電話番号をタップする</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-forwarding/tel_04_20221220.png" alt="" class="c-Img_Capture"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">3 選択した電話番号が表示されていることを確認する</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-forwarding/tel_03_20221220.png" alt="" class="c-Img_Capture"></p>
                <p class="u-Adjust_Mt-16">以上で完了です。手順3の操作へお進みください。</p>
              </div>
            </div>
            <p class="u-Adjust_Mt-24 c-Txt_Cap">※画面はOFFの状態です。</p>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-forwarding/img_05_20221220.png" alt="" class="c-Img_Capture"></p>
          </li>
        </ul>
        <p class="u-Adjust_Mt-32">以上で停止設定は完了です。</p>
      </div>
    </div>

    <h3 id="anchor03" class="c-Heading_Lv3 u-Adjust_Mt-40">my 楽天モバイル上でできる設定</h3>
    <p class="u-Adjust_Mt-24">
      my 楽天モバイルから、以下の設定ができます。
    </p>
    <ul class="c-List_Text-disc u-Adjust_Mt-24">
      <li>着信転送の開始・停止</li>
      <li class="u-Adjust_Mt-8">転送種類の設定</li>
      <li class="u-Adjust_Mt-8">転送時間の設定</li>
      <li class="u-Adjust_Mt-8">転送先電話番号の設定</li>
    </ul>

    <h3 id="anchor04" class="c-Heading_Lv3 u-Adjust_Mt-40">注意事項</h3>
    <ul class="c-List_Text-disc u-Adjust_Mt-16">
      <li>転送中は転送元に通話料が発生します（22円／30秒）。</li>
      <li>転送先がお話し中もしくは応答しない場合、通話料は発生しません。</li>
      <li>他の携帯電話や、固定電話にも転送できます。</li>
      <li>海外事業者の携帯電話、一般電話には転送できません。</li>
      <li>着信転送は留守番電話と併用できません。着信転送を契約すると留守番電話は停止されます。留守番電話を再度利用する場合は、再度サービスの開始を設定する必要があります。</li>
      <li>話中時転送、圏外時転送、無応答時転送は同時に設定が可能です。</li>
      <li>転送の優先順位は、以下のとおりです。
        <ol>
          <li>1. 無条件転送</li>
          <li class="u-Adjust_Mt-8">2. 圏外時転送</li>
          <li class="u-Adjust_Mt-8">3. 話中時転送</li>
          <li class="u-Adjust_Mt-8">4. 無応答時転送</li>
        </ol>
      </li>
      <li>転送先の電話から、さらに転送設定されている携帯電話に転送すると、相互に転送を繰り返して着信できない場合があります。転送先電話番号を登録する際にはご注意ください。</li>
      <li>3桁の番号や短縮ダイヤル、フリーダイヤルの登録はできません。</li>
      <li>Rakuten Linkアプリでも転送電話の機能がご利用いただけます。</li>
    </ul>
    <ul class="c-Txt_Cap">
      <li>※2022年11月24日～（<a href="https://network.mobile.rakuten.co.jp/faq/detail/10000362/" class="c-Link_Txt">詳細はこちら</a>）</li>
    </ul>

    <div class="u-Adjust_Mt-64">
      <h3 class="c-Heading_Lv4" id="<%= nameSpace %>-App">アプリからご利用の方はこちら</h3>
      <div class="c-Box_App u-Adjust_Mt-24">
        <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt="my 楽天モバイル"></div>
        <div class="c-Box_App-txt">
          <p class="c-Box_App-ttl">my 楽天モバイル</p>
          <ul class="c-Box_App-link u-Adjust_Mt-16">
            <li class="<%= nameSpace %>-App_Btn-store">
              <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
              <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
            </li>
            <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
          </ul>
        </div>
      </div>
      <h3 class="c-Heading_Lv4 u-Adjust_Mt-40">Webからご利用の方はこちら</h3>
      <div class="u-Adjust_Mt-16">
        <a href="<%= ecarepath %>my-rakuten-mobile" class="c-Btn_Regular"><span>my 楽天モバイル</span></a>
      </div>
    </div>

    <div class="u-Adjust_Pt-40">
      <div><a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップにもどる</span></a></div>
      <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a></div>
    </div>

  </div>
</div>


<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
