<% const information = {
  campaignState:'finish'
}; %>
<% const pagetitle = "エントリー後、楽天モバイル（楽天回線）オンラインでお申し込み＋楽天シニアの動画視聴&アンケート回答で1,000ポイントプレゼントキャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "senior" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: 'エントリー後、楽天モバイル（楽天回線）オンラインでお申し込み＋楽天シニアの動画視聴&アンケート回答で1,000ポイントプレゼントキャンペーン',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/senior/senior.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/_entry-button/rex-overwrite_v2.css?20240424">
<%_  if (information.campaignState !== 'finish') { _%>
<%- include('/inc/_saikyo-plan-css') %>
<%_ } _%>
<!-- ReX Campaign Button: stylesheet -->
<link rel="stylesheet" href="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/4.0.0/static/css/main.css?20240424" />
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<script defer="defer" src="https://r.r10s.jp/com/js/c/common/entry_button/1.0/entry_button-1.0.0.min.js"></script>
<link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout-Label">
      <ul class="c-Label_List <%= namespace %>-Layout-Label_List">
        <li class="c-Label_Normal">初めて申込限定</li>
        <li class="c-Label_Normal">エントリー必要</li>
        <li class="c-Label_Normal">プランのみ申込可</li>
        <li class="c-Label_Normal">Rakuten Link利用必要</li>
        <li><span class="<%= namespace %>-Layout-Label_point">ポイント：付与日を含めて6カ月の期間限定ポイント</span></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Hero_Return">
      <div class="l-System_Container <%= namespace %>-Hero_Container">
        <div class="<%= namespace %>-Hero_Main">
          <h1><img src="<%= sitepath %>assets/img/campaign/senior/img-heading-pc.png?220801" alt="エントリー後、本ページから初めて楽天モバイル回線をお申し込み＆楽天シニアで条件達成で1,000ポイントプレゼント！" class="<%= namespace %>-Utility_Img-pc"><img src="<%= sitepath %>assets/img/campaign/senior/img-heading-sp.png?220801" alt="エントリー後、本ページから初めて楽天モバイル回線をお申し込み＆楽天シニアで条件達成で1,000ポイントプレゼント！" class="<%= namespace %>-Utility_Img-sp"></h1>
        </div>
      </div>
    </div>
    <div class="<%= namespace %>-Layout_Body">
      <div class="l-System_Container">
        <% if (information.campaignState == 'finish') { %>
          <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
        <% } else { %>
          <!-- else -->
        <% } %>
        <ul class="<%= namespace %>-Table_Rule-Cap">
          <li class="c-Txt_Emp-02"><span>※</span>楽天シニアアプリで動画視聴・アンケート回答が必要となります。</li>
          <li><span>※</span>付与するポイントには条件がございます。詳しくは<a href="#campaign-rule" class="js-scroll">キャンペーン詳細</a>をご確認ください。</li>
        </ul>
      </div>
      <% if (information.campaignState == 'finish') { %>
      <% } else { %>
        <!-- else -->
      <div id="first_entry_button" class="<%= namespace %>-Layout_Entry-Area u-Adjust_Mt-40">
        <p class="c-Txt_Emp-02 u-Adjust_Align-center ichiba_point-Utility_Mt-unique">エントリー期間：2022年8月1日（月）9:00～2022年8月31日（水）8:59</p>
        <!-- ReX Campaign Entry Button: Mounting points -->
        <!-- mounting point for button 1 --><div id="rex-ceb-01" class="campaign-Rexoverwrite"></div>
      </div>
      <% } %>

      <div class="l-System_Container">
        <% if (information.campaignState == 'finish') { %>
        <% } else { %>
          <!-- else -->
          <h2 class="point_bnr_ttl c-Heading_Lv2 u-Adjust_Align-center">さらに<span class="c-Txt_Normal-l">8,000</span>ポイントもらえる<span class="txt_nl">キャンペーンも実施中！</span></h2>
          <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <a href="<%= sitepath %>campaign/byod/?l-id=campaign_senior_campaign_byod">
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/senior/img-06-sp.png?220801">
                <img src="<%= sitepath %>assets/img/campaign/senior/img-06.png?220801" alt="お持ちのスマホそのままOK！ Rakuten UN-LIMIT初めてお申し込みで 最大8,000円相当分ポイント還元！ ※Rakuten Linkアプリのご利用が必要です">
              </picture>
            </a>
          </div>
          <ul class="c-Txt_Cap u-Adjust_Mt-8">
            <li><span>※</span>期間限定ポイント</li>
          </ul>
        <% } %>
        <div class="<%= namespace %>-Layout-senior_Period u-Adjust_Mt-40">
          <dl>
            <dt>エントリー・<br class="<%= namespace %>-Layout-senior_Sp">お申し込み<br class="<%= namespace %>-Layout-senior_Sp">期間</dt>
            <dd>2022年8月1日（月）9:00～2022年8月31日（水）8:59</dd>
          </dl>
          <dl>
            <dt>プラン利用開始期限</dt>
            <dd>2022年9月30日（金）23:59まで</dd>
          </dl>
          <dl>
            <dt>「Rakuten Link」のご利用期限</dt>
            <dd>2022年9月30日（金）23:59まで</dd>
          </dl>
          <dl>
            <dt>楽天シニア 条件達成期限</dt>
            <dd>2022年9月30日（金）23:59まで</dd>
          </dl>
        </div>
        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
          <li><span>※</span>エントリー前のお申し込みは対象外となります。ただし、エントリーと楽天シニアのご利用順序は問いません。</li>
        </ul>

        <div class="campaign_conditions">
          <h2 class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンの<span class="txt-nl">達成条件</span></h2>
          <p class="u-Adjust_Mt-16">本キャンペーンには達成条件が設定されています。詳細は<a class="rmobile-rule js-scroll" href="#campaign-rule">キャンペーンルール</a>をご確認ください。</p>

          <div class="u-Adjust_Align-center u-Adjust_Mt-16">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/senior/img-01-sp.png?220801">
              <img src="<%= sitepath %>assets/img/campaign/senior/img-01.png?220801" alt="このページからエントリー＋Webで楽天モバイルのお申し込み＋プランのご利用 期限までに、開通手続きをしてプランのご利用を開始してください＋Rakuten Linkで 10秒以上通話 期限までに、Rakuten Linkアプリを利用して10秒以上の通話をしてください。＋楽天シニアで動画視聴＆アンケートに回答 ※期限内であればほかの達成条件との順序を問いません。">
            </picture>
          </div>

        </div>

        <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-40">
          <li><a href="#campaign-flow" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンの流れ</a></li>
          <li><a href="#movie" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>動画でわかるお申し込みの流れ</a></li>
          <li><a href="#service" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>シニアの方にもおすすめ！楽天モバイルのサービス</a></li>
          <li><a href="#campaign-rule" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルール</a></li>
        </ul>

        <div class="info_area info1 u-Adjust_Mt-48">
          <h2 class="c-Heading_Lv2 u-Adjust_Align-center">楽天シニアとは？</h2>
          <p class="u-Adjust_Mt-16 u-Adjust_Align-center">楽天シニアとは、心身の健康づくりを応援する楽天の「健康生活応援アプリ」です。<br>
            <span class="c-Txt_Emp-02">毎日歩いて楽天ポイントが貯まる！</span><br>
            シニアの方はもちろん、スマホを持っている方であればどなたでも使えます。</p>
            <div class="u-Adjust_Align-center u-Adjust_Mt-16">
              <picture>
                <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/senior/img-02-sp.png?220801">
                <img src="<%= sitepath %>assets/img/campaign/senior/img-02.png?220801" alt="毎日の歩いた歩数を自動で記録 4,000歩達成したら施設でチェックインして、楽天ポイントをGET！家族ページを作って歩数を共有、「いいね」で応援！">
              </picture>
            </div>

          <div class="<%= namespace %>_Info-btn u-Adjust_Mt-24 u-Adjust_Align-center">
            <a href="https://senior.rakuten.co.jp/" target="_blank" class="c-Btn_Secondly">楽天シニアの詳細を見る<span class="c-Icon_New-window-l"></span></a>
          </div>
        </div>
      </div>

      <div class="Container_bg u-Adjust_Mt-40">
        <div class="l-System_Container">
          <h1 id="campaign-flow" class="c-Heading_Lv1 u-Adjust_Align-center">キャンペーンの流れ</h1>
          <div class="<%= namespace %>-Layout_step u-Adjust_Mt-24">
            <div class="c-Accordion">
              <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1" data-ratid="campaign_senior_flow-step1" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP1　</span>このページからエントリー</button>
              <div id="accordion-content-1" class="<%= namespace %>-Layout_step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region"
                aria-labelledby="accordion-1" aria-hidden="true">
                <ul class="<%= namespace %>-Flow_List">
                  <li>
                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                        <img src="<%= sitepath %>assets/img/campaign/senior/img-flow-01.png?220801" alt="">
                      </div>
                      <div>
                        <p class="u-Adjust_Mt-16">エントリー期間：2022年8月1日（月）9:00～2022年8月31日（水）8:59</p>
                        <!-- ReX Campaign Entry Button: Mounting points -->
                        <ul class="<%= namespace %>-Table_Rule-Cap">
                          <li class="c-Txt_Emp-02"><span>※</span>お申し込み後のエントリーは特典付与の対象外となります。</li>
                        </ul>
                      </div>
                    </div>
                    <% if (information.campaignState == 'finish') { %>
                    <% } else { %>
                      <!-- else -->
                    <!-- mounting point for button 2 -->
                    <div id="rex-ceb-02" class="campaign-Rexoverwrite"></div>
                    <% } %>

                  </li>
                </ul>
              </div>
            </div>
            <div class="c-Accordion u-Adjust_Mt-16">
              <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2" data-ratid="campaign_senior_flow-step2" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP2　</span>楽天モバイルのお申し込み</button>
              <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2"
                aria-hidden="true">
                <div class="u-Adjust_Mt-16">
                  <div>
                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-24">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                        <img src="<%= sitepath %>assets/img/campaign/senior/img-flow-02.png?220801" alt="">
                      </div>
                      <div>
                        <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">Webから楽天モバイル（楽天回線）に申し込む</h4>
                        <p class="u-Adjust_Mt-8"><span class="txt-nl">2022年8月1日（月）9:00～</span><span class="txt-nl">2022年8月31日（水）8:59</span></p>
                        <ul class="<%= namespace %>-Table_Rule-Cap">
                          <li class="c-Txt_Emp-02"><span>※</span>未成年の方のお申し込み方法は別途<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_senior_flow_for-minors">こちらのご案内ページ</a>をご確認ください。</li>
                        </ul>
                      </div>
                    </div>
                    <ul class="<%= namespace %>-Flow_List u-Adjust_Mt-16">
                      <li>
                        <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-8">
                          <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                            <img src="<%= sitepath %>assets/img/campaign/senior/img-flow-03.png?220801" alt="">
                          </div>
                          <div>
                            <p class="c-Txt_Emp-01">お申し込みに必要なもの</p>
                            <div class="u-Adjust_Mt-8">
                              <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc">
                                <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/verify/?l-id=campaign_senior_guide_verify" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                                <li class="u-Adjust_Mt-8">楽天会員ログイン用のユーザID、パスワード</li>
                                <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/?l-id=campaign_senior_guide_payment" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                                </li>
                                <li class="u-Adjust_Mt-8">ご契約者名義の<a href="<%= sitepath %>guide/mnp/?l-id=campaign_senior_guide_mnp" class="c-Link_Txt-inline">MNP予約番号</a>（他社から乗り換えの場合）
                                  <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                                    <span>※</span>ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001238/?l-id=campaign_senior_faq_00001238">こちらのご案内ページ</a>を必ず事前にご確認ください。<br>
                                  </p></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <div class="<%= namespace %>-Flow_List-step-unlimit u-Adjust_Mt-24 <%= namespace %>-Layout_step-ptn2">
                      <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-left">
                        <div class="<%= namespace %>-Flow_List-detail">
                          <div class="step-pran-change"><span class="c-Icon_New-user-f c-Txt_Emp-02"></span><h4 class="c-Heading_Lv4 u-Adjust_Mt-8 u-Adjust_Mb-16"> 新規電話番号／他社から乗り換え（MNP）</h4></div>
                          <p class="u-Adjust_Align-center"><a href="<%= sitepath %>guide/application/?lid-r=campaign_senior_guide_application1" class="c-Btn_Primary <%= namespace %>-Flow_List-button-secondly u-Adjust_Mt-24"><span>Rakuten UN-LIMIT VII<br class="<%= namespace %>-Layout-senior_Sp"> お申し込み画面に進む</span></a></p>
                          <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>fee/un-limit/?l-id=campaign_senior_fee_un-limit" class="c-Link_Txt-inline">Rakuten UN-LIMIT VIIの詳細<span class="c-Icon_Chevron-right"></span></a></p>
                          <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/flow/application/?l-id=campaign_senior_guide_flow_application" class="c-Link_Txt-inline">Rakuten UN-LIMIT VII<br class="<%= namespace %>-Layout-senior_Sp">お申し込み方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                        </div>
                      </div>
                      <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-right">
                        <div class="<%= namespace %>-Flow_List-detail">
                          <div class="step-pran-change"><span class="c-Icon_Paper-plane-l c-Txt_Emp-02"></span>
                          <h4 class="c-Heading_Lv4 u-Adjust_Mt-8 u-Adjust_Mb-16"> 楽天モバイル（ドコモ・au回線）からプラン変更（移行）</h4></div>
                          <div class="u-Adjust_Mt-16">
                            <p class="u-Adjust_Align-center"><a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_senior_ms1&mno_migration=1" class="c-Btn_Secondly <%= namespace %>-Flow_List-button-secondly u-Adjust_Mt-24" data-ratid="campaign_senior_ms" data-ratevent="click" data-ratparam="all"><span>メンバーズステーションからプラン変更（移行）する</span></a></p>
                            <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/migration/?l-id=campaign_senior_guide_migration" class="c-Link_Txt-inline">スーパーホーダイ・組み合わせプラン（※）との比較<span class="c-Icon_Chevron-right"></span></a>
                            </p>
                            <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">※2020年4月8日に受付終了のドコモ回線・au回線使用プラン
                            </p>
                            <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/mnp/migration/?l-id=campaign_senior_guide_mnp_migration" class="c-Link_Txt-inline">楽天モバイル（楽天回線）への<br class="<%= namespace %>-Layout-senior_Sp">移行方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                            <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>flow/mvno-user-registration/?l-id=campaign_senior_flow_mvno-user-registration" class="c-Link_Txt-inline">利用者登録でご利用中の方の<br class="<%= namespace %>-Layout-senior_Sp">移行方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-Accordion u-Adjust_Mt-16">
              <button type="button" id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3" data-ratid="campaign_senior_flow-step3" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP3　</span>「Rakuten UN-LIMIT VII」 プラン利用開始</button>
              <div id="accordion-content-3" class="<%= namespace %>-Layout_step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region"
                aria-labelledby="accordion-3" aria-hidden="true">
                <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                  <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                    <img src="<%= sitepath %>assets/img/campaign/senior/img-flow-04.png?220801" alt="">
                  </div>
                  <div>
                    <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">楽天モバイルの開通手続きを行い「Rakuten UN-LIMIT VII」 プランを利用開始する</h4>
                    <p class="u-Adjust_Mt-8">2022年9月30日（金）23:59まで</p>
                    <ul class="<%= namespace %>-Table_Rule-Cap">
                      <li class="u-Adjust_Mt-8 c-Txt_Emp-02"><span>※</span>店舗（楽天モバイルショップ）でのお申し込みの場合、対象外となります。あらかじめご了承ください。</li>
                      <li class="u-Adjust_Mt-8"><span>※</span><a href="#PlanStart" class="js-scroll" data-ratid="campaign_senior_PlanStart" data-ratevent="click" data-ratparam="all">プラン利用開始日の定義はこちら</a>。</li>
                    </ul>
                    <div class="u-Adjust_Mt-8">
                      <p class="<%= namespace %>-Layout-senior_Sp-center-btn"><a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/" class="c-Btn_Regular <%= namespace %>-Flow_List-button"><span>スタートガイド（利用開始手順書）はこちら</span></a></p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="c-Accordion u-Adjust_Mt-16">
              <button type="button" id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4" data-ratid="campaign_senior_flow-step4" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP4　</span>Rakuten Linkアプリから発信で10秒以上通話</button>
              <div id="accordion-content-4" class="<%= namespace %>-Layout_step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
                <ul class="<%= namespace %>-Flow_List">
                  <li>
                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                        <img src="<%= sitepath %>assets/img/campaign/senior/img-flow-05.png?220801" alt="">
                      </div>
                      <div>
                        <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">Rakuten Linkアプリで10秒以上通話する</h4>
                        <p class="u-Adjust_Mt-8">2022年9月30日（金）23:59まで</p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                          <li><span>※</span>電話の発信時、（0180）（0570）などから始まる他社接続サービス、一部特番（188）への通話については、特典対象外。</li>
                        </ul>
                        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>service/rakuten-link/?l-id=campaign_senior_service_rakuten-link" class="c-Link_Txt-inline" target="_blank">Rakuten Link アプリの詳細を見る<span class="c-Icon_New-window-l"></span></a></p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="c-Accordion u-Adjust_Mt-16">
              <button type="button" id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5" data-ratid="campaign_senior_flow-step5" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP5　</span>楽天シニアアプリで動画視聴＆アンケートに回答</button>
              <div id="accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-5" aria-hidden="true">
                <div>
                  <p class="u-Adjust_Mt-8">2022年9月30日（金）23:59まで</p>
                  <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                    <li><span>※</span>STEP5は、期限内であればほかのSTEPとの順序を問いません。</li>
                  </ul>
                  <h4 class="c-Heading_Lv4 u-Adjust_Mt-16 u-Adjust_Align-center">条件達成方法</h4>
                </div>
                <ul class="<%= namespace %>-Flow_List u-Adjust_Mt-16">
                  <li>
                    <p class="c-Txt_Emp-01">1. スマホ教室の一覧から気になる動画をチェック</p>
                    <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                      <picture>
                        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/senior/img-flow-06-sp.png?220801">
                        <img src="<%= sitepath %>assets/img/campaign/senior/img-flow-06.png?220801" alt="">
                      </picture>
                    </div>
                    <p>楽天シニアアプリをダウンロード後、本ページの「気になる動画を今すぐチェックする」から楽天シニアのスマホ教室へ遷移し、気になる動画の「動画を見る」ボタンをタップしてください。<br>
                      動画を見るボタンをタップすると、楽天シニアアプリが起動します。<br>
                      <a href="#app-area" class="js-scroll">まだアプリをお持ちでない方はこちらから</a></p>
                    <p class="u-Adjust_Mt-24 <%= namespace %>-Layout-senior_Sp"><a href="https://senior.rakuten.co.jp/campaign/smartphone_lesson/pickup/video/" class="c-Btn_Regular" target="_blank">気になる動画を<br class="<%= namespace %>-Layout-senior_Sp">今すぐチェックする<span class="c-Icon_New-window-l"></span></a></p>
                  </li>
                  <li>
                    <p class="c-Txt_Emp-01">2. 予約を行いスマホ教室動画を視聴</p>
                    <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                      <picture>
                        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/senior/img-flow-07-sp.png?220801">
                        <img src="<%= sitepath %>assets/img/campaign/senior/img-flow-07.png?220801" alt="">
                      </picture>
                    </div>
                    <p>「予約申込へ」ボタンから予約を確定・完了し、スマホ教室動画を視聴してください。「動画を視聴する」ボタンをタップすると、外部のオンラインイベント配信ページに移動します。</p>
                  </li>
                  <li>
                    <p class="c-Txt_Emp-01">3. マイページの「お知らせ」からアンケートに回答</p>
                    <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
                      <picture>
                        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/senior/img-flow-08-sp.png?220801">
                        <img src="<%= sitepath %>assets/img/campaign/senior/img-flow-08.png?220801" alt="">
                      </picture>
                    </div>
                    <p>動画の視聴後、楽天シニアアプリ内マイページの「お知らせ」からアンケートに回答してください。</p>
                  </li>
                </ul>
                <div class="app_area">
                  <ul class="pc-qr">
                    <li>
                      <p class="c-Txt_Emp-01">気になる動画を今すぐチェックする</p>
                      <p>お手持ちのスマートフォンでQRコードを読み込んでください。</p>
                    </li>
                    <li>
                      <img src="<%= sitepath %>assets/img/campaign/senior/app-img-01.png?220801" alt="">
                    </li>

                  </ul>
                  <p id="app-area" class="c-Txt_Emp-01">まだ楽天シニアアプリを<br class="<%= namespace %>-Layout-senior_Sp">
                    お持ちでない方はこちらから</p>
                  <p class="c-Txt_Cap">※どの世代の方もご利用いただけます。</p>
                  <ul class="app-link u-Adjust_Mt-24">
                    <li class="app-img"><img src="<%= sitepath %>assets/img/campaign/senior/app-img-02.png?220801" alt="楽天シニア"></li>
                    <li>
                      <ul class="app-btn">
                        <li>
                          <div><a href="https://app.adjust.com/akux01j" target="_blank"><img src="<%= sitepath %>assets/img/campaign/senior/ios_app-img-01.png?220801" alt=""></a></div>
                          <div class="<%= namespace %>-Layout-senior_Pc"><img src="<%= sitepath %>assets/img/campaign/senior/ios_app-img-02.png?220801" alt=""></div>
                        </li>
                        <li>
                          <div><a href="https://app.adjust.com/o8hfk8i" target="_blank"><img src="<%= sitepath %>assets/img/campaign/senior/and_app-img-01.png?220801" alt=""></a></div>
                          <div class="<%= namespace %>-Layout-senior_Pc"><img src="<%= sitepath %>assets/img/campaign/senior/and_app-img-02.png?220801" alt=""></div>
                        </li>
                      </ul>
                    </li>
                  </ul>

                </div>

              </div>
            </div>
          </div>

          <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/senior/img-03-sp.png?220801">
              <img src="<%= sitepath %>assets/img/campaign/senior/img-03.png?220801" alt="楽天ポイント1,000ポイントプレゼント！※期間限定ポイント">
            </picture>
          </p>
          <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
            <li><span>※</span>キャンペーン期間内のお申し込みであれば、お申し込みと楽天シニアのご利用順序は問いません。</li>
            <li><span>※</span>2022年11月末ごろに、付与日を含めて6カ月間の期間限定ポイントで付与いたします。</li>
          </ul>
        </div>
      </div>

      <% if (information.campaignState == 'finish') { %>
      <% } else { %>
        <!-- else -->
        <div id="unlimit-vi-plan" class="u-Adjust_Mt-24">
          <%- include('/inc/_saikyo-plan') %>
        </div>
      <% } %>

      <div class="l-System_Container">

        <h2 id="movie" class="c-Heading_Lv2 u-Adjust_Mt-64 u-Adjust_Align-center u-Adjust_Mb-16">動画でわかる<span class="txt-nl">お申し込みの流れ</span></h2>
        <div class="youtube u-Adjust_Mt-32">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/0qq4oNTZNSM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>assets/pdf/campaign/senior/220801.pdf?220801" class="c-Link_Txt-inline">お申し込みの流れをまとめた資料はこちら<span class="c-Icon_Pdf-l"></span></a><br class="<%= namespace %>-Layout-senior_Sp">から印刷いただけます</p>
        </div>

        <h2 id="service" class="c-Heading_Lv2 u-Adjust_Mt-64 u-Adjust_Align-center u-Adjust_Mb-16">シニアの方にもおすすめ！<span class="txt-nl">楽天モバイルのサービス</span></h2>
        <div class="_sample u-Adjust_Mt-16">
          <div class="c-Accordion">
                <button id="accordion-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-6"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>あんしん操作サポート</button>
                <div id="accordion-content-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-6" aria-hidden="true">
                  <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                    <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                      <img src="<%= sitepath %>assets/img/campaign/senior/img-04.png?220801" alt="">
                    </div>
                    <div>
                      <p class="u-Adjust_Mt-8">あんしん操作サポートは、店舗で直接お話しながら、お困りごとにお答えするサービスです。<br>
                        シニアの方も安心して楽天モバイルの取り扱い製品やアプリの操作ができるよう、サポートします。</p>
                      <ul class="<%= namespace %>-Table_Rule-Cap">
                        <li class="u-Adjust_Mt-8"><span>※</span>家電量販店では「あんしん操作サポート」の対応を行っておりません</li>
                        <li class="u-Adjust_Mt-8"><span>※</span>アプリはSNSや楽天グループサービスの一部が対象です</li>
                      </ul>
                      <div class="u-Adjust_Mt-24">
                        <p class="<%= namespace %>-Layout-senior_Sp-center-btn"><a href="<%= sitepath %>service/shop-support-for-device-operation/?l-id=campaign_senior_service_shop-support-for-device-operation" class="c-Btn_Regular <%= namespace %>-Flow_List-button"><span>あんしん操作サポートの詳細を見る</span></a></p>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
          <div class="c-Accordion">
              <button id="accordion-7" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-7"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>使った分だけお支払いするおトクなワンプラン</button>
              <div id="accordion-content-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-7" aria-hidden="true">
                <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                  <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                    <img src="<%= sitepath %>assets/img/campaign/senior/img-05.png?220801" alt="">
                  </div>
                  <div>
                    <p class="u-Adjust_Mt-8">楽天モバイルはシンプルなワンプラン。<br>
                      毎月のデータ利用料でお支払い金額が決まるので、あまり使わなかった月はプラン料金が安くなります。3GBまでのご利用なら、お支払いは980円（税込1,078円）！</p>
                    <div class="u-Adjust_Mt-24">
                      <p class="<%= namespace %>-Layout-senior_Sp-center-btn"><a href="<%= sitepath %>fee/un-limit/?l-id=campaign_senior_fee_un-limit1" class="c-Btn_Regular <%= namespace %>-Flow_List-button"><span>料金プランの詳細を見る</span></a></p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64 u-Adjust_Align-center">楽天モバイル<span class="txt-nl">について</span></h2>
        <p class="<%= namespace %>-Layout_step-txt u-Adjust_Mt-16 c-Txt_Emp-01">詳細は以下の各リンク先にてご確認ください</p>
        <div class="<%= namespace %>-Card u-Adjust_Mt-24">
          <a href="<%= sitepath %>fee/un-limit/?l-id=campaign_senior_fee_un-limit2" class="c-Card_Normal">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
            <img src="<%= sitepath %>assets/img/campaign/marathon/link_img_01.png?220801" alt="">
            </div>
            <p class="u-Adjust_Mt-16 c-Txt_Emp-01">料金プラン</p>
          </a>
          <a href="<%= sitepath %>fee/zero/?l-id=campaign_senior_fee_zero" class="c-Card_Normal">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/marathon/link_img_02.png?220801" alt="">
            </div>
            <p class="u-Adjust_Mt-16 c-Txt_Emp-01">お申し込み<span class="txt-nl">手数料</span></p>
          </a>
          <a href="<%= sitepath %>area/?l-id=campaign_senior_area" class="c-Card_Normal">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/marathon/link_img_03.png?220801" alt="">
            </div>
            <p class="u-Adjust_Mt-16 c-Txt_Emp-01">サービス<span class="txt-nl">エリア</span></p>
          </a>
          <a href="<%= sitepath %>product/byod/?l-id=campaign_senior_product_byod" class="c-Card_Normal">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/marathon/link_img_04.png?220801" alt="">
            </div>
            <p class="u-Adjust_Mt-16 c-Txt_Emp-01">楽天回線<span class="txt-nl">対応製品</span></p>
          </a>
          <a href="<%= sitepath %>service/?l-id=campaign_senior_service" class="c-Card_Normal">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/marathon/link_img_05.png?220801" alt="">
            </div>
            <p class="u-Adjust_Mt-16 c-Txt_Emp-01">オプション<span class="txt-nl">サービス</span></p>
          </a>
          <a href="<%= sitepath %>guide/point/?l-id=campaign_senior_guide_point" class="c-Card_Normal">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/marathon/link_img_06.png?220801" alt="">
            </div>
            <p class="u-Adjust_Mt-16 c-Txt_Emp-01">おトクな<span class="txt-nl">楽天ポイント</span></p>
          </a>
          <a href="<%= sitepath %>service/rakuten-link/?l-id=campaign_senior_service_rakuten-link1" class="c-Card_Normal">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/marathon/link_img_07.png?220801" alt="">
            </div>
            <p class="u-Adjust_Mt-16 c-Txt_Emp-01">Rakuten Link<span class="txt-nl">アプリ</span></p>
          </a>
          <a href="<%= sitepath %>product/sim/?l-id=campaign_senior_product_sim" class="c-Card_Normal">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/marathon/link_img_08.png?220801" alt="">
            </div>
            <p class="u-Adjust_Mt-16 c-Txt_Emp-01">SIMの使い方</p>
          </a>
        </div>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-40 u-Adjust_Align-center u-Adjust_Mb-16">よくあるご質問</h2>
        <div class="_sample u-Adjust_Mt-16">
          <div class="c-Accordion">
                <button id="accordion-8" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-8"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>エントリーされているか、どこで確認できますか？</button>
                <div id="accordion-content-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-8" aria-hidden="true">
                    <p>エントリーされた場合、本キャンペーンページのエントリーボタンが「エントリー済みです」と表示されます。<br>
                      また、楽天PointClubの「<a href="https://oubo.rakuten.co.jp/list">キャンペーンエントリー履歴</a>」から確認することができます。</p>
                </div>
          </div>
          <div class="c-Accordion">
              <button id="accordion-9" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-9"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーン期間内に楽天モバイルに申し込みができているか、確認方法はありますか？</button>
              <div id="accordion-content-9" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-9" aria-hidden="true">
                  <p>以下2種類の方法があります。<br>
                    ①お申し込み完了メールを確認する<br>
                    ②「<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile">my 楽天モバイル</a>」の申し込み履歴から確認する<br>
                    詳しい手順は<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001827/">こちら</a>からもご確認いただけます。</p>
              </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-10" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-10"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ポイントの付与はいつになりますか？</button>
            <div id="accordion-content-10" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-10" aria-hidden="true">
                <p>2022年11月末日ごろに楽天モバイルにご登録の楽天IDにポイントを付与いたします。<br>
                  付与されたポイントは楽天PointClubの「<a href="https://point.rakuten.co.jp/history/">ポイント実績</a>」から確認することができます。</p>
            </div>
          </div>
        </div>
      </div>

      <% if (information.campaignState == 'finish') { %>
      <% } else { %>
        <!-- else -->
        <div class="<%= namespace %>-Layout_Entry-Area u-Adjust_Mt-40">
          <p class="c-Txt_Emp-02 u-Adjust_Align-center ichiba_point-Utility_Mt-unique">エントリー期間：2022年8月1日（月）9:00～2022年8月31日（水）8:59</p>
          <!-- ReX Campaign Entry Button: Mounting points -->
          <!-- mounting point for button 3 --><div id="rex-ceb-03" class="campaign-Rexoverwrite"></div>
        </div>
      <% } %>

      <div class="l-System_Container u-Adjust_Mt-32" id="campaign-rule">
        <div class="u-Adjust_Mt-64">
          <div class="<%= namespace %>-Layout_Rule">
            <h2>エントリー後、楽天モバイル（楽天回線）オンラインでお申し込み＋楽天シニアの動画視聴&アンケート回答で1,000ポイントプレゼントキャンペーン　ルール</h2>
            <% if (information.campaignState == 'finish') { %>
              <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
            <% } else { %>
              <!-- else -->
            <% } %>
            <div class="u-Adjust_Mt-24">
              <div class="c-Dl_Origin <%= namespace %>-campaign-Rule">
                <dl>
                  <dt>キャンペーンコード</dt>
                  <dd>
                    <p>1508</p>
                    <ul class="c-Txt_Cap u-Adjust_Mt-8">
                      <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                    </ul>
                  </dd>
                </dl>
                <dl>
                  <dt>キャンペーン期間</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">エントリー期間</p>
                    <p>2022年8月1日（月）9:00～2022年8月31日（水）8:59</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">プランのお申し込み期間</p>
                    <p>- Web　2022年8月1日（月）9:00～2022年8月31日（水）8:59</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">プラン利用開始期限</p>
                    <p>2022年9月30日（金）23:59まで</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">「Rakuten Link」利用期限</p>
                    <p>2022年9月30日（金）23:59まで</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">楽天シニア 条件達成期限</p>
                    <p>2022年9月30日（金）23:59まで</p>
                  </dd>
                </dl>
                <dl>
                  <dt>キャンペーン条件</dt>
                  <dd>
                    <p>上記各項目の期間内に【1】、【2】、【3】、【4】、【5】の条件をすべて満たした楽天会員の方</p>
                    <p class="u-Adjust_Mt-8">【1】キャンペーンへのエントリー<br>
                      エントリー期間内に本キャンペーンページでエントリー</p>
                    <p class="u-Adjust_Mt-8">【2】「Rakuten UN-LIMIT VII」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（1）新規お申し込み</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（2）他社からの乗り換え（MNP）でお申し込み</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                      <li><span>※</span>エントリー前のお申し込みはポイント付与の対象になりません</li>
                    </ul>
                    <p class="u-Adjust_Mt-8">【3】「Rakuten UN-LIMIT VII」プラン利用開始</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li id="PlanStart"><span class="<%= namespace %>-Table_Rule-bold">【プラン利用開始日とは】</span><br><br>
                        <span class="<%= namespace %>-Table_Rule-bold">新規お申し込みの場合　※（1）（2）のいずれか早い方がプラン利用開始日となります</span><br>
                        （1）当社に配送完了データが通知された日<br>
                        （2）プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br><br>
                      <span class="<%= namespace %>-Table_Rule-bold">他社から乗り換え（MNP）の場合</span><br>
                      プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br><br>
                      <span class="<%= namespace %>-Table_Rule-bold">楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</span><br>
                      プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap">
                        <li><span>※</span>特典はおひとり様、1度のみ、最初にお申し込みいただいた1回線目に適用となります。</li>
                      </ul></li>
                    </ul>
                    <p class="u-Adjust_Mt-8">【4】「Rakuten Link」のご利用<br>「Rakuten UN-LIMIT VII」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
                    <p class="u-Adjust_Mt-16">【Rakuten Linkアプリご利用方法】<br>
                      Rakuten Linkページの「<a href="https://service.link.link/guide/" target="_blank" class="c-Link_Txt-inline">使い方<span class="c-Icon_New-window-l"></span></a>」をご確認ください</p>
                    <p class="u-Adjust_Mt-16">【Rakuten Link利用履歴の確認方法】<br>
                        「<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001962/#sec3" target="_blank" class="c-Link_Txt-inline">キャンペーンが適用されているか、いつポイントが付与されるか知りたい<span class="c-Icon_New-window-l"></span></a>」をご確認ください</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>電話の発信時、（0570）（0180）などの他社接続サービス、♯ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</li>
                    </ul>
                    <p class="u-Adjust_Mt-8">【5】楽天シニアのご利用</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">-2022年9月30日（金）23:59までに下記3ステップを実施。</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">①ピックアップ講座から、気になる動画をチェック</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>楽天シニアアプリをダウンロードされていない方はスマートフォンで下記からインストールをお願いいたします。​</li>
                      <li><span>　</span><a href="https://app.adjust.com/akux01j" target="_blank" class="c-Link_Txt-inline">iOS<span class="c-Icon_New-window-l"></span></a></li>
                      <li><span>　</span><a href="https://app.adjust.com/o8hfk8i" target="_blank" class="c-Link_Txt-inline">Android<span class="c-Icon_New-window-l"></span></a></li>
                      <li><span>※</span>スマートフォンの方は気になる動画を今すぐチェックするボタンを押下するとピックアップ講座に遷移できます</li>
                      <li><span>※</span>パソコンの方はスマートフォンでQRコードを読み込んでいただくとピックアップ講座に遷移できます</li>
                      <li><span>※</span>ピックアップ講座ページに記載がある動画であれば、動画の種類は問いません</li>
                    </ul>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">➁イベント予約を行い、スマホ教室動画を視聴</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>動画視聴には楽天IDでログインが必要となります</li>
                    </ul>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">③マイページの「お知らせ」からアンケートに回答</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">-キャンペーン期間内であれば、楽天モバイルお申し込みと楽天シニアのご利用の順序は問いません</p>
                    <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">-①～③の条件は楽天シニアアプリをインストールする必要がございます</p>
                  </dd>
                </dl>
                <dl>
                  <dt>キャンペーン特典 （楽天ポイント）</dt>
                  <dt class="<%= namespace %>-campaign-Rule_Title-sub">特典内容</dt>
                  <dd>
                    <p>1,000ポイントプレゼント</p>
                  </dd>
                  <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント付与日</dt>
                  <dd>
                    <p>2022年11月末ごろに付与</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</li>
                      <li><span>※</span>権利の譲渡はできません</li>
                    </ul>
                  </dd>
                  <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント有効期間</dt>
                  <dd>
                    <p>ポイント付与日を含めて6カ月</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
                      <li><span>※</span>有効期限までにポイントをご利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
                      <li><span>※</span>お申し込みしていただいた個人情報はポイント付与のために利用します</li>
                    </ul>
                  </dd>
                </dl>
                <dl>
                  <dt>特典適用対象外</dt>
                  <dd>
                    <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>本ルールに記載の併用可能キャンペーンを除き、本キャンペーンより付与ポイント数やクーポン割引額等が多い「Rakuten UN-LIMIT VII」お申し込みでポイントまたはクーポン等プレゼントキャンペーンが適用となった場合<br>
                        （複数の「Rakuten UN-LIMIT VII」お申し込みでポイントまたはクーポン等プレゼントキャンペーンの対象となった場合、付与ポイント数やクーポン割引額等が一番多いキャンペーンのみが適用され、同額の場合はポイント・クーポン等問わずエントリー日時の早いキャンペーンが優先して適用されます。）</li>
                      <li><span>※</span>過去に同一名義で楽天モバイル回線（Rakuten UN-LIMIT V、Rakuten UN-LIMIT VI含む）をご契約いただいたことがある場合</li>
                      <li><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                      <li><span>※</span>「エントリー後、楽天モバイル（楽天回線）オンラインでお申し込み＋楽天シニアのスマホ教室視聴&アンケート回答で1,000ポイントプレゼントキャンペーン」の適用回数が、おひとり様1契約1回を超える場合は対象外となります</li>
                      <li><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
                      <li><span>※</span>店舗（楽天モバイルショップ）でのお申し込みの場合</li>
                      <li><span>※</span>エントリー時の楽天ID、楽天モバイルにご登録の楽天ID、楽天シニアにご登録の楽天IDが同一でない場合</li>
                      <li><span>※</span>「Rakuten UN-LIMIT VII」のプラン利用開始がされなかった場合<br>-プラン利用開始の手続き方法につきましては、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/">こちら</a>のSIMカード版スタートガイドまたはeSIM版スタートガイドを参照ください</li>
                      <li><span>※</span>期限までに「Rakuten Link」を利用されなかった場合</li>
                      <li><span>※</span>ポイント付与までに楽天会員から退会している場合</li>
                      <li><span>※</span>当社が定める規約などに違反した場合</li>
                      <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
                    </ul>
                  </dd>
                </dl>
                <dl>
                  <dt>併用可能キャンペーン</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">以下のキャンペーンは併用が可能となります</p>
                    <p>【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント（キャンペーンコード：1526）</p>
                    <p class="u-Adjust_Mt-16">【Rakuten UN-LIMIT VII】データ1GB／月以下だった方限定！プラン料金最大4カ月実質無料キャンペーン（キャンペーンコード：1527）</p>
                  </dd>
                </dl>
                <dl>
                  <dt>注意事項</dt>
                  <dd>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap">
                      <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                      <li><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                      <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                      <li><span>※</span>楽天ポイント付与のため、楽天シニアの条件を達成した楽天IDを楽天モバイルに提供いたします。あらかじめご了承ください</li>
                      <li><span>※</span>記載の内容は2022年8月1日（月）時点の情報となります</li>
                    </ul>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>

        <!--<div class="c-Accordion u-Adjust_Mt-48" id="past-campaigns">
          <button id="accordion-11" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-11"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>過去のキャンペーン</button>
          <div id="accordion-content-11" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-11" aria-hidden="true">
            <div class="<%= namespace %>-Layout_Rule u-Adjust_Mt-0">
              <div>エントリー後、楽天モバイル（楽天回線）オンラインでお申し込み＋楽天シニアの動画視聴&アンケート回答で1,000ポイントプレゼントキャンペーン　ルール</div>
              <div class="u-Adjust_Mt-24">
                <div class="c-Dl_Origin <%= namespace %>-campaign-Rule">
                  <dl>
                    <dt>キャンペーンコード</dt>
                    <dd>
                      <p>1508</p>
                      <ul class="c-Txt_Cap u-Adjust_Mt-8">
                        <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                      </ul>
                    </dd>
                  </dl>
                  <dl>
                    <dt>キャンペーン期間</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">エントリー期間</p>
                      <p>2022年8月1日（月）9:00～2022年8月31日（水）8:59</p>
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">プランのお申し込み期間</p>
                      <p>- Web　2022年8月1日（月）9:00～2022年8月31日（水）8:59</p>
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">プラン利用開始期限</p>
                      <p>2022年9月30日（金）23:59まで</p>
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">「Rakuten Link」利用期限</p>
                      <p>2022年9月30日（金）23:59まで</p>
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">楽天シニア 条件達成期限</p>
                      <p>2022年9月30日（金）23:59まで</p>
                    </dd>
                  </dl>
                  <dl>
                    <dt>キャンペーン条件</dt>
                    <dd>
                      <p>上記各項目の期間内に【1】、【2】、【3】、【4】、【5】の条件をすべて満たした楽天会員の方</p>
                      <p class="u-Adjust_Mt-8">【1】キャンペーンへのエントリー<br>
                        エントリー期間内に本キャンペーンページでエントリー</p>
                      <p class="u-Adjust_Mt-8">【2】「Rakuten UN-LIMIT VII」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（1）新規お申し込み</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（2）他社からの乗り換え（MNP）でお申し込み</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                        <li><span>※</span>エントリー前のお申し込みはポイント付与の対象になりません</li>
                      </ul>
                      <p class="u-Adjust_Mt-8">【3】「Rakuten UN-LIMIT VII」プラン利用開始</p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li id="PlanStart"><span class="<%= namespace %>-Table_Rule-bold">【プラン利用開始日とは】</span><br><br>
                          <span class="<%= namespace %>-Table_Rule-bold">新規お申し込みの場合　※（1）（2）のいずれか早い方がプラン利用開始日となります</span><br>
                          （1）当社に配送完了データが通知された日<br>
                          （2）プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                        <li class="u-Adjust_Mt-16"><span class="<%= namespace %>-Table_Rule-bold">他社から乗り換え（MNP）の場合</span><br>
                        プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                        <li class="u-Adjust_Mt-16"><span class="<%= namespace %>-Table_Rule-bold">楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</span><br>
                        プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br>
                        <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap">
                          <li><span>※</span>特典はおひとり様、1度のみ、最初にお申し込みいただいた1回線目に適用となります。</li>
                        </ul></li>
                      </ul>
                      <p class="u-Adjust_Mt-8">【4】「Rakuten Link」のご利用<br>「Rakuten UN-LIMIT VII」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
                      <p class="u-Adjust_Mt-16">【Rakuten Linkアプリご利用方法】<br>
                        Rakuten Linkページの「<a href="https://service.link.link/guide/" target="_blank" class="c-Link_Txt-inline">使い方<span class="c-Icon_New-window-l"></span></a>」をご確認ください</p>
                      <p class="u-Adjust_Mt-16">【Rakuten Link利用履歴の確認方法】<br>
                          「<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001962/#sec3" target="_blank" class="c-Link_Txt-inline">キャンペーンが適用されているか、いつポイントが付与されるか知りたい<span class="c-Icon_New-window-l"></span></a>」をご確認ください</p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span>電話の発信時、（0570）（0180）などの他社接続サービス、♯ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</li>
                      </ul>
                      <p class="u-Adjust_Mt-8">【5】楽天シニアのご利用</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">-2022年9月30日（金）23:59までに下記３ステップを実施。</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">①ピックアップ講座から、気になる動画をチェック</p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span>楽天シニアアプリをダウンロードされていない方はスマートフォンで下記からインストールをお願いいたします。​</li>
                        <li><span>　</span><a href="https://app.adjust.com/akux01j" target="_blank" class="c-Link_Txt-inline">iOS<span class="c-Icon_New-window-l"></span></a></li>
                        <li><span>　</span><a href="https://app.adjust.com/o8hfk8i" target="_blank" class="c-Link_Txt-inline">Android<span class="c-Icon_New-window-l"></span></a></li>
                        <li><span>※</span>スマートフォンの方は気になる動画を今すぐチェックするボタンを押下するとピックアップ講座に遷移できます</li>
                        <li><span>※</span>パソコンの方はスマートフォンでQRコードを読み込んでいただくとピックアップ講座に遷移できます</li>
                        <li><span>※</span>ピックアップ講座ページに記載がある動画であれば、動画の種類は問いません</li>
                      </ul>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">➁イベント予約を行い、スマホ教室動画を視聴</p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span>動画視聴には楽天IDでログインが必要となります</li>
                      </ul>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">③マイページの「お知らせ」からアンケートに回答</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">-キャンペーン期間内であれば、楽天モバイルお申し込みと楽天シニアのご利用の順序は問いません</p>
                      <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">-【5】①～➂の条件は楽天シニアアプリをインストールする必要がございます</p>
                    </dd>
                  </dl>
                  <dl>
                    <dt>キャンペーン特典 （楽天ポイント）</dt>
                    <dt class="<%= namespace %>-campaign-Rule_Title-sub">特典内容</dt>
                    <dd>
                      <p>1,000ポイントプレゼント</p>
                    </dd>
                    <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント付与日</dt>
                    <dd>
                      <p>2022年11月末ごろに付与</p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</li>
                        <li><span>※</span>権利の譲渡はできません</li>
                      </ul>
                    </dd>
                    <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント有効期間</dt>
                    <dd>
                      <p>ポイント付与日を含めて6カ月</p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
                        <li><span>※</span>有効期限までにポイントをご利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
                        <li><span>※</span>お申し込みしていただいた個人情報はポイント付与のために利用します</li>
                      </ul>
                    </dd>
                  </dl>
                  <dl>
                    <dt>特典適用対象外</dt>
                    <dd>
                      <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span>本ルールに記載の併用可能キャンペーンを除き、本キャンペーンより付与ポイント数やクーポン割引額等が多い「Rakuten UN-LIMIT VII」お申し込みでポイントまたはクーポン等プレゼントキャンペーンが適用となった場合<br>
                          （複数の「Rakuten UN-LIMIT VII」お申し込みでポイントまたはクーポン等プレゼントキャンペーンの対象となった場合、付与ポイント数やクーポン割引額等が一番多いキャンペーンのみが適用され、同額の場合はポイント・クーポン等問わずエントリー日時の早いキャンペーンが優先して適用されます。）</li>
                        <li><span>※</span>過去に同一名義で楽天モバイル回線（Rakuten UN-LIMIT V、Rakuten UN-LIMIT VI含む）をご契約いただいたことがある場合</li>
                        <li><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                        <li><span>※</span>「エントリー後、楽天モバイル（楽天回線）オンラインでお申し込み＋楽天シニアのスマホ教室視聴&アンケート回答で1,000ポイントプレゼントキャンペーン」の適用回数が、おひとり様1契約1回を超える場合は対象外となります</li>
                        <li><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
                        <li><span>※</span>店舗（楽天モバイルショップ）でのお申し込みの場合</li>
                        <li><span>※</span>エントリー時の楽天ID、楽天モバイルにご登録の楽天ID、楽天シニアにご登録の楽天IDが同一でない場合</li>
                        <li><span>※</span>「Rakuten UN-LIMIT VII」のプラン利用開始がされなかった場合<br>-プラン利用開始の手続き方法につきましては、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/">こちら</a>のSIMカード版スタートガイドまたはeSIM版スタートガイドを参照ください</li>
                        <li><span>※</span>期限までに「Rakuten Link」を利用されなかった場合</li>
                        <li><span>※</span>ポイント付与までに楽天会員から退会している場合</li>
                        <li><span>※</span>当社が定める規約などに違反した場合</li>
                        <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
                      </ul>
                    </dd>
                  </dl>
                  <dl>
                    <dt>併用可能キャンペーン</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">以下のキャンペーンは併用が可能となります</p>
                      <p>【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント（キャンペーンコード：1526）</p>
                      <p class="u-Adjust_Mt-16">【Rakuten UN-LIMIT VII】データ1GB／月以下だった方限定！プラン料金最大4カ月実質無料キャンペーン（キャンペーンコード：1527）</p>
                    </dd>
                  </dl>
                  <dl>
                    <dt>注意事項</dt>
                    <dd>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap">
                        <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                        <li><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                        <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                        <li><span>※</span>楽天ポイント付与のため、楽天シニアの条件を達成した楽天IDを楽天モバイルに提供いたします。あらかじめご了承ください</li>
                        <li><span>※</span>記載の内容は2022年8月1日（月）時点の情報となります</li>
                      </ul>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>-->
      </div>
    </div>

    <!-- ReX UX Survey: Mounting point for embedded components -->
    <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>

    <div id="js-fixed-btn" class="<%= namespace %>-Layout_Bottom-fixed" aria-expanded="false" role="region">
      <% if (information.campaignState == 'finish') { %>
      <% } else { %>
        <!-- else -->
        <p class="<%= namespace %>-Layout_Bottom-fixed-txt">※エントリーが必要なキャンペーンです。<span class="txt-nl"><a data-ratid="campaign_senior_first_entry_button" data-ratevent="click" data-ratparam="all" href="#first_entry_button" class="js-scroll">エントリーはこちら</a></span></p>
      <% } %>
      <div class="<%= namespace %>-Layout_Bottom-fixed-inner">
        <a href="<%= sitepath %>guide/application/?lid-r=campaign_senior_f_guide_application" class="c-Btn_Primary <%= namespace %>-Layout_Bottom-fixed-btn"><span class="<%= namespace %>-Layout_Bottom-fixed-btn-txt"><span class="Bottom_txt-style">新規／乗り換え（MNP）</span><span class="fixed-btn-Utility_Img-pc">お申し込み</span></span></a>
        <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_senior_f_ms&mno_migration=1" class="c-Btn_Secondly <%= namespace %>-Layout_Bottom-fixed-btn" data-ratid="campaign_senior_ms1" data-ratevent="click" data-ratparam="all">
          <span class="<%= namespace %>-Layout_Bottom-fixed-btn-txt">
            <span class="Bottom_txt-style">
              <span class="fixed-btn-Utility_Img-pc">スーパーホーダイ、組み合わせプランからの</span>
              <span class="fixed-btn-Utility_Img-sp"><span class="Bottom_txt-style">以前の楽天モバイルからの</span></span>
            </span><br>
              <span class="Bottom_plan_txt-style">プラン変更（移行）<span class="fixed-btn-Utility_Img-pc">お申し込み</span></span></span></a>
      </div>
      <p class="<%= namespace %>-Layout_Bottom-fixed-txt">※お申し込み後のエントリーは特典付与対象外となります。</p>
    </div>

    <% if (information.campaignState == 'finish') { %>
      <footer class="g-Footer u-Adjust_Mt-64 <%= namespace %>-Layout_Footer Fin">
      <% } else { %>
      <!-- else -->
      <footer class="g-Footer u-Adjust_Mt-64 <%= namespace %>-Layout_Footer">
      <% } %>
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>

<!-- ReX UX Survey: Config -->
<script>
  window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
</script>

<!-- ReX UX Survey: Script -->
<script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>

<!-- ReX Campaign Entry Button: Configuration -->
<script>var rexButtons = [{"code":"/rmobile/senior/220715","theme":"red","wide":false,"showCelebration":false,"isseniored":true,"ids":["rex-ceb-01","rex-ceb-02","rex-ceb-03"]}]</script>

<!-- ReX Campaign Entry Button: Script -->
<script src="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/4.0.0/static/js/main.js" defer></script>
</body>
</html>
