<% const pagetitle = "【Rakuten Mini利用者限定】Rakuten Hand無料プレゼントキャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "rakuten-hand-present" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Rakuten Miniをご購入したことがあり、本キャンペーンの案内メールを受け取った方限定のRakuten Handプレゼントキャンペーンです。',
    keywords: '',
    noindex: true,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<!-- ReX Campaign Button: stylesheet -->
<link rel="stylesheet" href="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/4.3.0/static/css/main.css?20240424" />
<%- include('/include/_append-head') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/rakuten-hand-present/rakuten-hand-present.css?20240424">
<style>
.rex-button-mno {
  display: block;
  margin: auto;
  border-radius: 10rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgb(191, 0, 0);
  border-color: rgb(191, 0, 0);
  font-size: 18px;
  font-weight: 700;
  position: relative;
  color: #fff !important;
  max-width: 500px;
  width: 100%;
  height: 57px;
  padding: 16px;
  text-decoration: none;
}
.rex-button-mno:hover,
.rex-button-mno:visited {
  color: #fff;
}
.RexButton-message {
  top: -9px !important;
}
</style>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

  <div class="c-Breadcrumbs_Head">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <div class="l-System_Container">
    <ul class="c-Label_List u-Adjust_Mt-8">
      <li class="c-Label_Normal">対象者限定</li>
      <li class="c-Label_Normal">対象製品限定</li>
      <li class="c-Label_Normal">エントリー必要</li>
    </ul>
  </div>

  <div class="<%= namespace %>-Hero u-Adjust_Mt-8">
    <img class="<%= namespace %>-Hero_Pc" src="<%= sitepath %>assets/img/campaign/rakuten-hand-present/kv-pc.png" alt="Rakuten Miniをご購入のお客様限定! Rakuten Hand 本体価格12,980円（税込）もれなくプレゼント!">
    <img class="<%= namespace %>-Hero_Sp" src="<%= sitepath %>assets/img/campaign/rakuten-hand-present/kv-sp.png" alt="Rakuten Miniをご購入のお客様限定! Rakuten Hand 本体価格12,980円（税込）もれなくプレゼント!">
  </div>
  <div class="l-System c-Theme-Light">
    <div class="l-System_Container">
      <div class="c-Theme-Borderbox c-Txt_Cap" style="padding: 16px;">
        ※製品の台数には限りがございます。カラーのご希望に添えない場合もあります。※エントリー先着順となります。在庫がなくなり次第、キャンペーン終了となります。※本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります。※本キャンペーンにてお届けするRakuten Handは初期不良等の対応は可能ですが、製品の保証サービスには加入いただけませんのでご了承ください。
      </div>

      <p class="c-Txt_Normal-l c-Txt_Emp-02 u-Adjust_Mt-64 u-Adjust_Align-center">本キャンペーンは終了しました。</p>

      <div id="step-disp-1">
        <h2 class="c-Txt_Normal-ll u-Adjust_Mt-48 u-Adjust_Align-center">
          <span class="c-Txt_Emp-02">STEP1</span>　<br class="<%= namespace %>-Utility_Br-sp">希望のカラーを選択する
        </h2>
        <p class="c-Txt_Cap u-Adjust_Align-center u-Adjust_Mt-8"><span class="c-Txt_Emp-02">※お申し込み後のカラー変更はできません。製品の台数には限りがございますので、カラーのご希望に添えない場合もあります。</span></p>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
          <span class="c-Icon_Arrow-down-l" style="font-size: 24px;color: #FF008C;"></span>
        </div>
        <h2 class="c-Txt_Normal-ll u-Adjust_Mt-16 u-Adjust_Align-center">
          <span class="c-Txt_Emp-02">STEP2</span>　<br class="<%= namespace %>-Utility_Br-sp">エントリーする
        </h2>
        <p class="u-Adjust_Align-center u-Adjust_Mt-8"><span class="c-Txt_Emp-02">エントリー受付は終了しました。たくさんのご応募ありがとうございました。</span></p>
        <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
          <a class="c-Link_Txt" href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile#personal-info" target="_blank">my 楽天モバイル</a>にご登録されている契約者情報の住所に配送させていただきます。<br>配送先情報（郵便番号、住所、電話番号）にお間違いがないかご確認ください。
          <p class="c-Txt_Cap">※配送先住所の情報に不備など何らかの理由で製品のお受け取りができない場合にも再送はいたしません。</p>
        </div>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
          <span class="c-Icon_Arrow-down-l" style="font-size: 24px;color: #FF008C;"></span>
        </div>
        <h2 class="c-Txt_Normal-ll u-Adjust_Mt-16 u-Adjust_Align-center">
          <span class="c-Txt_Emp-02">STEP3</span>　<br class="<%= namespace %>-Utility_Br-sp">製品の到着
        </h2>
        <div class="l-Media_Icon <%= namespace %>-Utility_Media u-Adjust_Mt-16">
          <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/campaign/rakuten-hand-present/cardbox.png" alt="">
          </div>
          <div class="">
            製品がお手元に届くまでエントリーから2～3週間お時間をいただく場合もございます。<br>
            製品到着後、Rakuten Handをご利用の際は機種変更の手続きを行う必要がございます。
            <p class="c-Txt_Cap u-Adjust_Mt-8">
              ※先着に外れた際の連絡はありません。※本キャンペーンにてお届けするRakuten Handは初期不良等の対応は可能ですが、製品の保証サービスには加入いただけませんのでご了承ください。
            </p>
            <div class="u-Adjust_Mt-16">
              <a href="<%= sitepath %>product/smartphone/rakuten-hand/support/upgrade2/" class="c-Link_Txt-inline">Rakuten Handへの機種変更方法を見る<span class="c-Icon_Chevron-right"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="l-System_Container">
    <h2 class="c-Txt_Normal-ll u-Adjust_Align-center u-Adjust_Mt-64">
      キャンペーン期間
    </h2>
    <div class="c-Accordion u-Adjust_Mt-24">
      <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーン期間</button>
      <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true" style="display: none;">
        <table class="c-Table_Container">
          <tbody>
            <tr>
              <th>エントリー期間</th>
              <td>2022年2月18日（金）10:00～対象製品が無くなり次第終了</td>
            </tr>
            <tr>
              <th scope="row">キャンペーン期間</th>
              <td>2022年2月18日（金）10:00～対象製品が無くなり次第終了</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="<%= namespace %>-Utility_Feature-btn u-Adjust_Mt-64">
      <div class="<%= namespace %>-Utility_Feature-btn-item">
        <a href="#feature" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>Rakuten Handの主な特長</a>
      </div>
      <div class="<%= namespace %>-Utility_Feature-btn-item">
        <a href="#rule" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルール</a>
      </div>
    </div>
    <h2 id="feature" class="c-Txt_Normal-ll u-Adjust_Align-center u-Adjust_Mt-64">
      Rakuten Handの主な特長
    </h2>
    <div class="u-Adjust_Mt-64">
      <img class="<%= namespace %>-Utility_Feature-img-pc" src="<%= sitepath %>assets/img/campaign/rakuten-hand-present/feature-pc.png" alt="">
      <img class="<%= namespace %>-Utility_Feature-img-sp" src="<%= sitepath %>assets/img/campaign/rakuten-hand-present/feature-sp.png" alt="">
    </div>
    <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
      <a href="<%= sitepath %>product/smartphone/rakuten-hand/?l-id=campaign_rakuten-hand-present_product_rakuten-hand" class="c-Btn_Regular-large"><span>Rakuten Handの詳細はこちら</span></a>
      <p class="u-Adjust_Mt-16 c-Txt_Cap u-Adjust_Align-center">※Rakuten Hand詳細ページに移動します。</p>
    </div>
  </div>


  <div>
    <div class="l-System_Container">
      <div class="<%= namespace %>-Ichiba u-Adjust_Mt-64">
        <h2 class="c-Txt_Normal-ll <%= namespace %>-Ichiba_Title">楽天モバイル 楽天市場店</h2>
        <div>
          <h3 class="c-Txt_Normal-l <%= namespace %>-Ichiba_Title-sub u-Adjust_Mt-24"><span class="c-Txt_Emp-02">アクセサリ全品送料無料！</span>Rakuten Hand専用アクセサリ発売中</h3>
          <div class="<%= namespace %>-Ichiba_Link u-Adjust_Mt-24">
            <a href="https://item.rakuten.co.jp/rakutenmobile-store/rselect-rmtnrktnhdc0115bk/" class="c-Card_Normal <%= namespace %>-Ichiba_Link-container">
              <div class="<%= namespace %>-Ichiba_Link-item">
                <img src="<%= sitepath %>assets/img/campaign/rakuten-hand-present/accessory-01.png" alt="">
                <div>
                  <p class="<%= namespace %>-Ichiba_Link-item-label">
                    おすすめ
                  </p>
                  <p class="c-Txt_Emp-01">
                    Rakuten Hand<br>手帳型ケース
                  </p>
                  <ul class="<%= namespace %>-Ichiba_Link-item-colors">
                    <li style="background-color: #222222;"></li>
                    <li style="background-color: #fff;border: solid 1px #CACADB;"></li>
                    <li style="background-color: #BF0000;"></li>
                  </ul>
                </div>
              </div>
              <div class="u-Adjust_Align-right u-Adjust_Mt-16">
                <span class="c-Txt_Alphanumeric-m">3,480</span><span class="c-Txt_Normal-s">円</span>
              </div>
            </a>
            <a href="https://item.rakuten.co.jp/rakutenmobile-store/rselect-rmtnramipsc0105bk/" class="c-Card_Normal <%= namespace %>-Ichiba_Link-container">
              <div class="<%= namespace %>-Ichiba_Link-item">
                <img src="<%= sitepath %>assets/img/campaign/rakuten-hand-present/accessory-02.png" alt="">
                <div>
                  <p class="<%= namespace %>-Ichiba_Link-item-label">
                    おすすめ
                  </p>
                  <p class="c-Txt_Emp-01">
                    Rakuten Hand<br>レザーケース
                  </p>
                  <ul class="<%= namespace %>-Ichiba_Link-item-colors">
                    <li style="background-color: #222222;"></li>
                    <li style="background-color: #fff;border: solid 1px #CACADB;"></li>
                    <li style="background-color: #BF0000;"></li>
                  </ul>
                </div>
              </div>
              <div class="u-Adjust_Align-right u-Adjust_Mt-16">
                <span class="c-Txt_Alphanumeric-m">2,880</span><span class="c-Txt_Normal-s">円</span>
              </div>
            </a>
            <a href="https://item.rakuten.co.jp/rakutenmobile-store/rselect-rmtnrktnhdc0126bl/" class="c-Card_Normal <%= namespace %>-Ichiba_Link-container">
              <div class="<%= namespace %>-Ichiba_Link-item">
                <img src="<%= sitepath %>assets/img/campaign/rakuten-hand-present/accessory-03.png" alt="" style="height: 123px;width: 58px;">
                <div>
                  <p class="<%= namespace %>-Ichiba_Link-item-label">
                    おすすめ
                  </p>
                  <p class="c-Txt_Emp-01">
                    Rakuten Hand お買いものパンダ マスコットシリコンケース（ライトブルー）
                  </p>
                  <ul class="<%= namespace %>-Ichiba_Link-item-colors">
                    <li style="background-color: #00E3F8;"></li>
                  </ul>
                </div>
              </div>
              <div class="u-Adjust_Align-right u-Adjust_Mt-16">
                <span class="c-Txt_Alphanumeric-m">2,580</span><span class="c-Txt_Normal-s">円</span>
              </div>
            </a>
          </div>
        </div>
        <div class="u-Adjust_Mt-24 u-Adjust_Pb-24 u-Adjust_Align-center l-System_Container">
          <a href="https://item.rakuten.co.jp/rakutenmobile-store/c/0000000138/" class="c-Btn_Regular-large"><span>アクセサリ一覧を見る</span></a>
        </div>
      </div>
      <h2 class="c-Txt_Normal-ll u-Adjust_Align-center u-Adjust_Mt-64">
        よくあるご質問
      </h2>
      <div class="c-Accordion u-Adjust_Mt-24">
        <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>エントリーができているか確認する方法はありますか</button>
        <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true" style="display: none;">
          エントリ―実績は楽天PointClubのキャンペーンエントリー履歴でご確認いただけます。<br>キャンペーンエントリー履歴は下記URLをご確認ください。<br><a class="c-Link_Txt" href="https://oubo.rakuten.co.jp/list/">https://oubo.rakuten.co.jp/list/</a>
        </div>
      </div>
      <div class="c-Accordion">
        <button type="button" id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>到着はいつ頃になりますか</button>
        <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true" style="display: none;">
          製品がお手元に届くまでエントリーから2～3週間お時間をいただく場合もございます。
        </div>
      </div>
      <div class="c-Accordion">
        <button type="button" id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>SIMカードは同封されていますか</button>
        <div id="accordion-content-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true" style="display: none;">
          Rakuten Handのみ無料配布いたします。<br>
          ※Rakuten HandはeSIM対応製品ですので、SIMカードは同封されていません。eSIMについては以下のURLよりご確認ください。<br>
          <a href="<%= sitepath %>product/sim/esim/">https://network.mobile.rakuten.co.jp/product/sim/esim/</a>

        </div>
      </div>
      <div class="c-Accordion">
        <button type="button" id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>受け取ったRakuten Handが故障した場合、修理は可能ですか</button>
        <div id="accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-5" aria-hidden="true" style="display: none;">
          Rakuten Handの修理保証については、以下をご確認ください。<br><a class="c-Link_Txt" href="<%= sitepath %>product/smartphone/rakuten-hand/support/repair-warranty/">https://network.mobile.rakuten.co.jp/product/smartphone/rakuten-hand/support/repair-warranty/</a>
        </div>
      </div>
      <div class="c-Accordion">
        <button type="button" id="accordion-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-6"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>スマホ交換保証プラス、持ち込みスマホあんしん保証は加入できますか</button>
        <div id="accordion-content-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-6" aria-hidden="true" style="display: none;">
          スマホ交換保証プラス、持ち込みスマホあんしん保証への加入はできません。
        </div>
      </div>
      <div class="c-Accordion">
        <button type="button" id="accordion-7" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-7"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>初期設定や機種変更方法について知りたい</button>
        <div id="accordion-content-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-7" aria-hidden="true" style="display: none;">
          初期設定方法について、製品に同梱されているチラシまたは以下のURLよりご確認ください。<br><a class="c-Link_Txt" href="<%= sitepath %>product/smartphone/rakuten-hand/support/upgrade2/">https://network.mobile.rakuten.co.jp/product/smartphone/rakuten-hand/support/upgrade2/</a><br><br>
          機種変更方法については以下よりご確認いただけます。<br><a class="c-Link_Txt" href="<%= sitepath %>guide/product/device-upgrade/">https://network.mobile.rakuten.co.jp/guide/product/device-upgrade/</a>
        </div>
      </div>
      <div class="c-Accordion">
        <button type="button" id="accordion-8" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-8"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>登録住所など契約情報を変更することはできますか</button>
        <div id="accordion-content-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-8" aria-hidden="true" style="display: none;">
          ご登録住所、契約者情報の変更方法は下記URLよりご確認いただけます。<br>引っ越し等で住所が変わっている場合は、お申し込み前にご変更ください。<br><a class="c-Link_Txt" href="<%= sitepath %>faq/detail/10000174/">https://network.mobile.rakuten.co.jp/faq/detail/10000174/</a>
        </div>
      </div>

      <div class="u-Adjust_Mt-64">
        <div class="u-Adjust_Pb-24">
          <div class="c-Carousel js-Carousel-multi">
            <%- include('/include/_bnr-cpn-recommend-bnr') %>
          </div>
          <div class="c-Carousel_Nav-v2-wrap">
            <div class="c-Carousel_Nav-v2"></div>
            <div class="c-Carousel_Nav-v2-bar"></div>
          </div>
          <div class="u-Adjust_Align-center u-Adjust_Mt-40"><a href="<%= sitepath %>campaign/?l-id=campaign_carousel_campaign-top" class="c-Btn_Regular"><span>キャンペーン一覧を見る</span></a></div>
        </div>
      </div>

      <h2 id="rule" class="c-Txt_Normal-ll u-Adjust_Align-center u-Adjust_Mt-64">
        【Rakuten Mini利用者限定】Rakuten Hand無料プレゼントキャンペーン
      </h2>
      <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-24 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
      <dl class="c-Dl_Origin u-Adjust_Mt-24">
        <div>
          <dt>キャンペーンコード</dt>
          <dd>
            1415<br>
            <span class="c-Txt_Cap">※本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</span>
          </dd>
        </div>
        <div>
          <dt>キャンペーン期間</dt>
          <dd>
            ■ エントリー期間<br>
            2022年02月18日（金）10:00～終了日未定
          </dd>
        </div>
        <div>
          <dt>キャンペーン条件</dt>
          <dd>
            <span class="c-Txt_Emp-02">
              楽天モバイルで「Rakuten Mini」をご購入したことがあり、本キャンペーンの案内メールを受け取った方<br>
              キャンペーンのエントリーと希望カラーの選択を実施ください
            </span>
          </dd>
        </div>
        <div>
          <dt>キャンペーン特典</dt>
          <dd>
            Rakuten Handをプレゼント
          </dd>
        </div>
        <div>
          <dt>特典適用対象外</dt>
          <dd>
            <p>以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
            ※ 　本キャンペーンに関する案内メールを受け取っていない場合<br>
            ※ 　Rakuten Miniご購入後、弊社他製品を単品で購入している場合<br>
            ※　当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合<br>
            ※　当社または楽天グループ株式会社が定める規約などに違反した場合<br>
            ※　そのほか、当社が会員として不適格であると判断した場合
          </dd>
        </div>
        <div>
          <dt>注意事項</dt>
          <dd>
            ※　本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください<br>
            ※　製品の台数には限りがございます。カラーのご希望に添えない場合もあります<br>
            ※　エントリー先着順となります。なくなり次第終了とさせていただく場合があります<br>
            ※　エントリーが完了しても、製品の在庫がない場合は、お届けできない場合がございます。あらかじめご了承ください。<br>
            ※　本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります<br>
            ※　エントリー時点の楽天モバイル契約者情報に基づき商品の配送をいたします。必要に応じてエントリー前に住所変更をしてください<br>
            ※　複数の楽天IDをお持ちの場合、Rakuten Miniご購入時の楽天IDでエントリーしてください。それ以外の楽天IDでエントリーされた場合、エントリーは無効となります<br>
            ※　製品がお手元に届くまでエントリーから2～3週間お時間をいただく場合もございます<br>
            ※　本キャンペーンにてお届けするRakuten Handは初期不良等の対応は可能ですが、製品の保証サービスには加入いただけませんのでご了承ください。<br>
            ※　記載の内容は2022年02月18日（金）時点の情報となります
          </dd>
        </div>
      </dl>
    </div>
  </div>

  <!-- ReX UX Survey: Mounting point for embedded components -->
  <div class="rakuten-hand-present-Popask">
    <style>.rakuten-hand-present-Popask .iPexDg {display:block;position:relative;top:0;transform:none;}</style>
    <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
  </div>


  <footer class="g-Footer">

    <div class="g-Footer_Aside">
      <%- include('/include/footer/related/_related-news.ejs') %>
      <%- include('/include/footer/bnr/_bnr-news.ejs') %>
    </div>

    <div class="l-System_Container">
      <div class="c-Breadcrumbs_Foot">
        <ul>
          <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
          <li aria-current="true"><%= pagetitle %></li>
        </ul>
      </div>
    </div>

    <%- include('/include/_footer') %>

  </footer>
</div>

<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>

<!-- ReX Campaign Entry Button: Configuration -->
<script>
var rexButtons = [{"wide":false,"showCelebration":false,"theme":"red","code":"handfree202202","ids":["rex-ceb-01", "rex-ceb-02"],"alreadyAppliedText":"エントリー済みです"}]
</script>

<!-- ReX Campaign Entry Button: Script -->
<script src="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/4.3.0/static/js/main.js" defer></script>

<script>
  window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
  </script>
  <!-- ReX UX Survey: Script -->
  <script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>

</body>
</html>
