<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "楽天ひかりのIPv6（クロスパス）対応ルーター" -%>
<% const directories = [{path: hikariroot.path + "support/", label:"お客様サポート"}] -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天ひかりIPv6（クロスパス）のインターネット接続の利用に必要なクロスパス対応ルーターを掲載しています',
    noindex: false,
    pathname: filepath,
    ishikari: true,
    canonical_custom: 'https://network.mobile.rakuten.co.jp/hikari/support/wifi-router/',
  });
%>
<%- include('/include/hikari/_common-v2-hikari-css') %>
<%- include('/include/hikari/_common-v2-hikari-css-only-hf') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/internet-v2/internet-v2.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/module/m-hikari-cpn-v2.css?20240424">
<%- include('/include/_append-head-hikari') %>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>

<div class="l-System">
  <%- include('/hikari/include/_header', { headerType: 'normal', pagetitle: pagetitle, directories: directories, tax: false }) %>

  <div class="l-hikari-Section_Main">
    <p class="c-Txt_Cap l-hikari-Section_Main-cap">※表記の金額は特に記載のある場合を除きすべて税込です。</p>
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

      <div class="l-hikari-Section_Main-lead c-Attention_Info hikari-internet-Attention">
        <div class="c-Attention_Container hikari-internet-Attention_Container">
            <span class="c-Attention_Icon c-Icon_Sign-info-l hikari-internet-Attention_Icon"></span>
            <p class="c-Attention_Body hikari-internet-Attention_Body">
              【注意】IPv6接続をご利用いただくにはクロスパス対応ルーターが必要です。<br>
              新たにルーターをご購入いただく場合はご注意ください。
            </p>
        </div>
      </div>

      <div class="u-Adjust_Mt-8">
        <p class="c-Txt_Cap u-Adjust_Mt-8 hikari-internet-Layout_Adjust-lineheight">※ 機種によってはファームウェアのアップデートが先に必要になる可能性があります。</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8 hikari-internet-Layout_Adjust-lineheight">※ 楽天ひかりをご利用の場合、<span class="c-Label_Normal u-Adjust_Mr-8">Rakuten Casa対応</span>の表示がある製品はRakuten Casaに対応しています。</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8 hikari-internet-Layout_Adjust-lineheight">※ 楽天ひかり以外のインターネット回線をご利用の場合、<span class="c-Label_Normal u-Adjust_Mr-8">Rakuten Casa対応</span>の表示がある製品でもRakuten Casaをご利用いただけないことがあります。</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8 hikari-internet-Layout_Adjust-lineheight">※ 楽天ひかりご利用の有無にかかわらず、<span class="c-Label_Normal u-Adjust_Mr-8">Rakuten Casa対応</span>の表示がある製品でRakuten Casaをご利用いただけなかったとしても、当社は返品/返金/交換等の対応はいたしかねますので、あらかじめご了承ください。</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8 hikari-internet-Layout_Adjust-lineheight">※ 対応機種にてRakuten Casaをご利用される場合、ファームウェアのアップデートを実施するようお願いします。</p>
      </div>

      <div class="l-hikari-Section_Sub-short">
        <h2 class="c-Heading_Lv2">接続するだけで利用できるルーター</h2>
        <div class="l-hikari-Section_Sub-content-short">設定不要なルーターは接続するだけで、楽天ひかりのIPv6（クロスパス）に対応したインターネット接続をご利用いただけます。</div>

        <div class="c-Accordion u-Adjust_Mt-24">
          <button id="accordion-a" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-a"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>NEC</button>
          <div id="accordion-content-a" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-a" aria-hidden="true">
            <ul class="hikari-internet-List_Xpath">
              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WG1200HP4</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WG1200HP4/" data-lid_no="01" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.aterm.jp/product/atermstation/product/warpstar/wg1200hp4/" data-lid_no="01" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WG1200HS4</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WG1200HS4/" data-lid_no="04" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.aterm.jp/product/atermstation/product/warpstar/wg1200hs4/" data-lid_no="04" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WX5400HP</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WX5400HP/" data-lid_no="71" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.aterm.jp/product/atermstation/product/warpstar/wx5400hp/" data-lid_no="71" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WX7800T8</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WX7800T8/" data-lid_no="72" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.aterm.jp/product/atermstation/product/warpstar/wx7800t8/" data-lid_no="72" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WX11000T12</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WX11000T12/" data-lid_no="73" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.aterm.jp/product/atermstation/product/warpstar/wx11000t12/" data-lid_no="73" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>

              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WX1500HP</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WX1500HP/" data-lid_no="87" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.aterm.jp/product/atermstation/product/warpstar/wx1500hp/" data-lid_no="87" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>

            </ul>
          </div>
        </div>

        <div class="c-Accordion">
          <button id="accordion-b" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-b"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>バッファロー</button>
          <div id="accordion-content-b" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-b" aria-hidden="true">
            <ul class="hikari-internet-List_Xpath">
              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WXR-5950AX12</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WXR-5950AX12/" data-lid_no="08" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.buffalo.jp/product/detail/wxr-5950ax12.html" data-lid_no="02" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WXR-5700AX7S</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WXR-5700AX7S/" data-lid_no="09" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.buffalo.jp/product/detail/wxr-5700ax7s.html" data-lid_no="03" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WSR-3200AX4S</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WSR-3200AX4S/" data-lid_no="10" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.buffalo.jp/product/detail/wsr-3200ax4s-bk.html" data-lid_no="04" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WSR-1166DHPL2</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WSR-1166DHPL2/" data-lid_no="11" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><p><a href="https://www.buffalo.jp/product/detail/wsr-1166dhpl2.html" data-lid_no="05" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></p></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WSR-1800AX4S</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WSR-1800AX4S/" data-lid_no="12" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><p><a href="https://www.buffalo.jp/product/detail/wsr-1800ax4s-bk.html" data-lid_no="06" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></p></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WXR-6000AX12S</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WXR-6000AX12S/" data-lid_no="13" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><p><a href="https://www.buffalo.jp/product/detail/wxr-6000ax12s.html" data-lid_no="07" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></p></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WSR-1500AX2S</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WSR-1500AX2S/" data-lid_no="14" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><p><a href="https://www.buffalo.jp/product/detail/wsr-1500ax2s-bk.html" data-lid_no="25" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></p></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WSR-5400AX6S</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WSR-5400AX6S/" data-lid_no="15" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><p><a href="https://www.buffalo.jp/product/detail/wsr-5400ax6s-mb.html" data-lid_no="26" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></p></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WSR-2533DHPLS</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WSR-2533DHPLS/" data-lid_no="16" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.buffalo.jp/product/detail/wsr-2533dhpls-bk.html" data-lid_no="27" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>

              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WXR-6000AX12B</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WXR-6000AX12B/" data-lid_no="74" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.buffalo.jp/product/detail/wxr-6000ax12b.html" data-lid_no="74" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>

              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WXR-5700AX7B</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WXR-5700AX7B/" data-lid_no="75" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.buffalo.jp/product/detail/wxr-5700ax7b.html" data-lid_no="75" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>

              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WNR-5400XE6</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WNR-5400XE6/" data-lid_no="76" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.buffalo.jp/product/detail/wnr-5400xe6.html" data-lid_no="76" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>

              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WSR-5400AX6B</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WSR-5400AX6B/" data-lid_no="77" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.buffalo.jp/product/detail/wsr-5400ax6b-mb.html" data-lid_no="77" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>

              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WSR-5400AX6</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WSR-5400AX6/" data-lid_no="78" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.buffalo.jp/product/detail/wsr-5400ax6-mb.html" data-lid_no="78" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>

              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WSR-3200AX4B</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WSR-3200AX4B/" data-lid_no="79" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.buffalo.jp/product/detail/wsr-3200ax4b-bk.html" data-lid_no="79" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>

              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WSR-1800AX4B</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WSR-1800AX4B/" data-lid_no="80" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.buffalo.jp/product/detail/wsr-1800ax4b-bk.html" data-lid_no="80" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>

              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WSR-1800AX4</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WSR-1800AX4/" data-lid_no="81" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.buffalo.jp/product/detail/wsr-1800ax4-bk.html" data-lid_no="81" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>

              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WSR-1500AX2B</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WSR-1500AX2B/" data-lid_no="82" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.buffalo.jp/product/detail/wsr-1500ax2b-bk.html" data-lid_no="82" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>

              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WSR-2533DHPLB</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WSR-2533DHPLB/" data-lid_no="83" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.buffalo.jp/product/detail/wsr-2533dhplb-bk.html" data-lid_no="83" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>

              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WSR-2533DHPL2</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WSR-2533DHPL2/" data-lid_no="84" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.buffalo.jp/product/detail/wsr-2533dhpl2-bk.html" data-lid_no="84" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="c-Accordion">
          <button id="accordion-c" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-c"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>IO-DATA</button>
          <div id="accordion-content-c" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-c" aria-hidden="true">
            <ul class="hikari-internet-List_Xpath">
              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WN-DX1200GR</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WN-DX1200GR/" data-lid_no="18" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.iodata.jp/product/network/wnlan/wn-dx1200gr/" data-lid_no="02" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WN-DEAX1800GR</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WN-DEAX1800GR/" data-lid_no="23" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.iodata.jp/product/network/wnlan/wn-deax1800gr/" data-lid_no="07" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>

              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WN-DAX5400QR</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WN-DAX5400QR/" data-lid_no="86" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.iodata.jp/product/network/wnlan/wn-dax5400qr/" data-lid_no="86" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>

              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WN-DAX3000GR</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WN-DAX3000GR/" data-lid_no="89" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.iodata.jp/product/network/wnlan/wn-dax3000gr/" data-lid_no="89" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>

              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WN-DAX6000XR</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WN-DAX6000XR/" data-lid_no="93" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.iodata.jp/product/network/wnlan/wn-dax6000xr/" data-lid_no="93" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>

            </ul>
          </div>
        </div>

        <div class="c-Accordion">
          <button id="accordion-d" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-d"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>エレコム</button>
          <div id="accordion-content-d" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-d" aria-hidden="true">
            <ul class="hikari-internet-List_Xpath-adjust">
              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WRC-1167GS2-B</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WRC-1167GS2-B/" data-lid_no="25" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.elecom.co.jp/products/WRC-1167GS2-B.html" data-lid_no="01" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WRC-X1800GS-B</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WRC-X1800GS-B/" data-lid_no="27" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.elecom.co.jp/products/WRC-X1800GS-B.html" data-lid_no="03" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WRC-G01-W</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WRC-G01-W/" data-lid_no="29" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.elecom.co.jp/products/WRC-G01-W.html" data-lid_no="05" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WMC-2LX-B</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WMC-2LX-B/" data-lid_no="30" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.elecom.co.jp/products/WMC-2LX-B.html" data-lid_no="06" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WMC-X1800GST-B</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WMC-X1800GST-B/" data-lid_no="31" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.elecom.co.jp/products/WMC-X1800GST-B.html" data-lid_no="07" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WMC-2HC-W</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WMC-2HC-W/" data-lid_no="32" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.elecom.co.jp/products/WMC-2HC-W.html" data-lid_no="08" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WMC-C2533GST-W</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WMC-C2533GST-W/" data-lid_no="33" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.elecom.co.jp/products/WMC-C2533GST-W.html" data-lid_no="09" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WMC-DLGST2-W</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WMC-DLGST2-W/" data-lid_no="34" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.elecom.co.jp/products/WMC-DLGST2-W.html" data-lid_no="10" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WMC-M1267GST2-W</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WMC-M1267GST2-W/" data-lid_no="35" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.elecom.co.jp/products/WMC-M1267GST2-W.html" data-lid_no="11" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>

              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WRC-X3000GS2-B</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WRC-X3000GS2-B/" data-lid_no="90" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.elecom.co.jp/products/WRC-X3000GS2-B.html" data-lid_no="15" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WRC-X3000GS2-W</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WRC-X3000GS2-W/" data-lid_no="91" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.elecom.co.jp/products/WRC-X3000GS2-W.html" data-lid_no="16" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="hikari-internet-Layout_List-item">
                  <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WRC-X6000XS-G</span></h3>
                  <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                    <li><a href="https://search.rakuten.co.jp/search/mall/WRC-X6000XS-G/" data-lid_no="92" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                    <li><a href="https://www.elecom.co.jp/products/WRC-X6000XS-G.html" data-lid_no="17" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <div class="l-hikari-Section_Sub-short">
        <h2 class="c-Heading_Lv2">ご利用前に設定が必要なルーター</h2>
        <div class="l-hikari-Section_Sub-content-middle">
        <p>楽天ひかりのIPv6（クロスパス）設定の方法は以下のページよりご確認ください。</p>
          <div class="c-Accordion u-Adjust_Mt-24">
            <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>バッファロー</button>
            <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
              <p><a href="https://hikari.faq.rakuten.net/faq/show/1162?site_domain=default" data-lid_no="02" class="c-Link_Txt-inline" target="_blank">バッファロー製ルーターの接続設定方法を見る<span class="c-Icon_New-window-l"></span></a></p>
              <ul class="hikari-internet-List_Xpath">
                <li>
                  <div class="hikari-internet-Layout_List-item">
                    <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WTR-M2133HS</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                    <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                      <li><a href="https://search.rakuten.co.jp/search/mall/WTR-M2133HS/" data-lid_no="39" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                      <li><a href="https://www.buffalo.jp/product/detail/wtr-m2133hs.html" data-lid_no="08" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="hikari-internet-Layout_List-item">
                    <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WTR-M2133HP</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                    <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                      <li><a href="https://search.rakuten.co.jp/search/mall/WTR-M2133HP/" data-lid_no="40" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                      <li><a href="https://www.buffalo.jp/product/detail/wtr-m2133hp.html" data-lid_no="09" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="hikari-internet-Layout_List-item">
                    <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WRM-D2133HS</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                    <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                      <li><a href="https://search.rakuten.co.jp/search/mall/WRM-D2133HS/" data-lid_no="41" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                      <li><a href="https://www.buffalo.jp/product/detail/wrm-d2133hs.html" data-lid_no="10" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="hikari-internet-Layout_List-item">
                    <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WRM-D2133HP</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                    <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                      <li><a href="https://search.rakuten.co.jp/search/mall/WRM-D2133HP/" data-lid_no="42" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                      <li><a href="https://www.buffalo.jp/product/detail/wrm-d2133hp.html" data-lid_no="11" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="hikari-internet-Layout_List-item">
                    <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WSR-2533DHP3</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                    <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                      <li><a href="https://search.rakuten.co.jp/search/mall/WSR-2533DHP3/" data-lid_no="43" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                      <li><a href="https://www.buffalo.jp/product/detail/wsr-2533dhp3-bk.html" data-lid_no="12" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="hikari-internet-Layout_List-item">
                    <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WSR-2533DHP2</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                    <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                      <li><a href="https://search.rakuten.co.jp/search/mall/WSR-2533DHP2/" data-lid_no="44" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                      <li><a href="https://www.buffalo.jp/product/detail/wsr-2533dhp2-cb.html" data-lid_no="13" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="hikari-internet-Layout_List-item">
                    <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WSR-A2533DHP3</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                    <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                      <li><a href="https://search.rakuten.co.jp/search/mall/WSR-A2533DHP3/" data-lid_no="46" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                      <li><a href="https://www.buffalo.jp/product/detail/wsr-a2533dhp3-bk.html" data-lid_no="15" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="hikari-internet-Layout_List-item">
                    <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WSR-A2533DHP2</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                    <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                      <li><a href="https://search.rakuten.co.jp/search/mall/WSR-A2533DHP2/" data-lid_no="47" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                      <li><a href="https://www.buffalo.jp/product/detail/wsr-a2533dhp2-cb.html" data-lid_no="16" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="hikari-internet-Layout_List-item">
                    <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WXR-1900DHP3</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                    <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                      <li><a href="https://search.rakuten.co.jp/search/mall/WXR-1900DHP3/" data-lid_no="48" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                      <li><a href="https://www.buffalo.jp/product/detail/wxr-1900dhp3.html" data-lid_no="17" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="hikari-internet-Layout_List-item">
                    <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WXR-1901DHP3</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                    <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                      <li><a href="https://search.rakuten.co.jp/search/mall/WXR-1901DHP3/" data-lid_no="49" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                      <li><a href="https://www.buffalo.jp/product/detail/wxr-1901dhp3.html" data-lid_no="18" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="hikari-internet-Layout_List-item">
                    <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WXR-1750DHP2</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                    <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                      <li><a href="https://search.rakuten.co.jp/search/mall/WXR-1750DHP2/" data-lid_no="50" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                      <li><a href="https://www.buffalo.jp/product/detail/wxr-1750dhp2.html" data-lid_no="19" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="hikari-internet-Layout_List-item">
                    <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WXR-1751DHP2</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                    <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                      <li><a href="https://search.rakuten.co.jp/search/mall/WXR-1751DHP2/" data-lid_no="51" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                      <li><a href="https://www.buffalo.jp/product/detail/wxr-1751dhp2.html" data-lid_no="20" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="hikari-internet-Layout_List-item">
                    <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WXR-1900DHP2</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                    <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                      <li><a href="https://search.rakuten.co.jp/search/mall/WXR-1900DHP2/" data-lid_no="52" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                      <li><a href="https://www.buffalo.jp/product/detail/wxr-1900dhp2.html" data-lid_no="21" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="hikari-internet-Layout_List-item">
                    <h3 class="c-Heading_Lv3"><span class="u-Adjust_Mr-16">WXR-1900DHP</span><span class="c-Label_Normal">Rakuten Casa対応</span></h3>
                    <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                      <li><a href="https://search.rakuten.co.jp/search/mall/WXR-1900DHP/" data-lid_no="53" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                      <li><a href="https://www.buffalo.jp/product/detail/wxr-1900dhp.html" data-lid_no="22" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="hikari-internet-Layout_List-item">
                    <h3 class="c-Heading_Lv3">WXR-2533DHP2</h3>
                    <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                      <li><a href="https://search.rakuten.co.jp/search/mall/WXR-2533DHP2/" data-lid_no="54" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                      <li><a href="https://www.buffalo.jp/product/detail/wxr-2533dhp2.html" data-lid_no="23" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="hikari-internet-Layout_List-item">
                    <h3 class="c-Heading_Lv3">WXR-2533DHP</h3>
                    <ul class="hikari-internet-List_Xpath-item u-Adjust_Mt-8">
                      <li><a href="https://search.rakuten.co.jp/search/mall/WXR-2533DHP/" data-lid_no="55" class="c-Btn_Secondly" target="_blank"><span><span>楽天市場で購入する</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a></li>
                      <li><p><a href="https://www.buffalo.jp/product/detail/wxr-2533dhp.html" data-lid_no="24" class="c-Link_Txt-inline" target="_blank">公式サイトを見る<span class="c-Icon_New-window-l"></span></a></p></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div style="border-top: 1px solid #bfbfbf;" class="u-Adjust_Mt-48">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv3 u-Adjust_Left-center u-Adjust_Mt-48">Turboもひかりも、どちらもおトク</h2>

        <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
          <%- include('/include/hikari/bnr/_bnr', {
            orglid1: 'rhk_hikari_support_wifi-router_internet_turbo_campaign_six-month-free_01',
            orglid2: 'rhk_hikari_support_wifi-router_hikari_campaign_six-month-free_01'
          }) %>
        </div>
      </div>
    </div>

  </div>

  <footer class="g-Footer">
    <%- include('/hikari/include/_footer', { pagetitle: pagetitle, directories: directories, hiddenCta: true, hiddenFooterCta: true }) %>
  </footer>

</div>
<%- include('/include/hikari/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
