<% const namespace = "product-iphone-12-pro" -%>
<div class="<%= namespace %>-Spec_Section-other-comparison_List-inner">
  <div class="<%= namespace %>-Spec_Section-other-comparison_List-device">
    <p class="">iPhone 12</p>
  </div>
  <div class="<%= namespace %>-Spec_Section-other-comparison_List-model">
    <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/iPhone_12.png" width="127" alt="iPhone 12（アイフォントゥエルブ）">
  </div>
  <div class="<%= namespace %>-Spec_Section-other-comparison_List-color">
    <ul>
      <li class="<%= namespace %>-Spec_Section-other-comparison_List-color-normal" style="background-color: #B7AFE6;"></li>
      <li class="<%= namespace %>-Spec_Section-other-comparison_List-color-normal" style="background-color: #023b63;"></li>
      <li class="<%= namespace %>-Spec_Section-other-comparison_List-color-normal" style="background-color: #d8efd5;"></li>
      <li class="<%= namespace %>-Spec_Section-other-comparison_List-color-normal" style="background-color: #d82e2e;"></li>
      <li class="<%= namespace %>-Spec_Section-other-comparison_List-color-normal" style="background-color: #f6f2ef;"></li>
      <li class="<%= namespace %>-Spec_Section-other-comparison_List-color-normal" style="background-color: #25212b;"></li>
    </ul>
  </div>
  <div class="<%= namespace %>-Spec_Section-other-comparison_List-buy">
    <a href="/product/iphone/iphone-12/" class="c-Btn_Secondly-semiauto">
      購入する
    </a>
  </div>
  <div class="<%= namespace %>-Spec_Section-other-comparison_List-spec">
    <div class="<%= namespace %>-Spec_Section-other-comparison_List-spec-block <%= namespace %>-Spec_Section-other-comparison_List-spec-inch">
      <p><span>6.1</span>インチ</p>
      <p>Super Retina XDR<br>ディスプレイ<span class="<%= namespace %>-Spec_Section-other-comparison_List-spec-note">2</span></p>
    </div>
    <div class="<%= namespace %>-Spec_Section-other-comparison_List-spec-block <%= namespace %>-Spec_Section-other-comparison_List-spec-5g">
      <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon_5g.jpg" alt="5G">
      <p>超高速ダウンロード、<br>高品質なストリーミング<span class="<%= namespace %>-Spec_Section-other-comparison_List-spec-note">3</span></p>
    </div>
    <div class="<%= namespace %>-Spec_Section-other-comparison_List-spec-block <%= namespace %>-Spec_Section-other-comparison_List-spec-camera">
      <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon_camera_dual.jpg" alt="レンズ">
      <p>超広角</p>
      <p>広角</p>
      <p>—</p>
      <p>Dolby Vision対応<br>HDRビデオ撮影（最大30fps）</p>
    </div>
    <div class="<%= namespace %>-Spec_Section-other-comparison_List-spec-block <%= namespace %>-Spec_Section-other-comparison_List-spec-zoom">
      <p><span>2</span>倍</p>
      <p>の光学ズームレンジ</p>
    </div>
    <div class="<%= namespace %>-Spec_Section-other-comparison_List-spec-block <%= namespace %>-Spec_Section-other-comparison_List-spec-scanner">
      <p class="<%= namespace %>-Spec_Section-other-comparison_List-spec-none">ー</p>
    </div>
    <div class="<%= namespace %>-Spec_Section-other-comparison_List-spec-block <%= namespace %>-Spec_Section-other-comparison_List-spec-battery">
      <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon_battery.jpg" alt="バッテリー">
      <p>最大17時間のビデオ再生<span class="<%= namespace %>-Spec_Section-other-comparison_List-spec-note">4</span></p>
    </div>
  </div>

</div>
