<% const pagetitle = "割込通話/通話保留（ご利用方法）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/plan/internal-voice/", label:"通話/通信サービス（国内）"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '「割込通話/通話保留」サービスの設定方法・ご利用方法をご案内します。スマートフォン（スマホ）で通話中にほかの相手から電話がかかってきたときに、通話を一旦保留にして、後からかけてきた相手と割り込み通話ができます。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
    <div class="u-Adjust_Mt-64">
      <ul>
        <li><a href="<%= sitepath %>service/call-waiting/" class="c-Btn_Regular-semiauto"><span>特長・サービス内容を見る</span></a></li>
      </ul>
    </div>
<!--
    <ul class="<%= nameSpace %>-Layout_Anchorlink">
      <li><a href="#howto-use" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>ご利用方法</a></li>
    </ul>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="howto-apply">お申し込み方法</h2>
    <dl class="c-List_Dl-origin u-Adjust_Mt-24">

      <div>
        <dt>新規ご契約時</dt>
        <dd>お申し込みの際、料金プラン詳細画面上で音声サービス→割込通話/通話保留の「追加する」ボタンを押してください。</dd>
      </div>
      <div>
        <dt>ご契約済みの場合</dt>
        <dd>my 楽天モバイルから、料金プラン詳細画面上で音声サービス→割込通話/通話保留の「追加する」ボタンを押してください。</dd>
      </div>
    </dl>

    <div class="u-Adjust_Mt-24">
      <ul>
        <li><a href="#<%= nameSpace %>-App" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>my 楽天モバイル</a></li>
      </ul>
    </div>
-->
    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="howto-use">ご利用方法</h2>
    <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">開始／停止設定</h3>

    <div class="c-Tab js-Tab">
      <ul class="c-Tab_Items-bg u-Adjust_Mt-16" role="tablist">
        <li class="c-Tab_Item u-Adjust_Align-center" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">Webでお手続き</li>
        <li class="c-Tab_Item u-Adjust_Align-center" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">アプリでお手続き</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
        <ul class="c-Flow u-Adjust_Mt-24">
          <li>
            <h3 class="c-Heading_Lv3">1. my 楽天モバイル「契約プラン」「プランに含まれるオプションサービス」画面を開く</h3>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">※「プランに含まれるオプションサービスへ進む」をタップしてログインすると、手順２の画面が表示されます。</p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap">※ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/" class="c-Link_Txt">[my
                楽天モバイル]ログインできません</a>」をご確認ください。</p>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
              <a href="https://portal.mobile.rakuten.co.jp/dashboard?scrollTo=domesticServices#plans" target="_blank" class="c-Btn_Secondly-large"
                data-ratId="guide_ecare_plans_domesticServices" data-ratEvent="click" data-ratParam="all">プランに含まれる<br>オプションサービスへ進む</a>
            </p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2. 「割込通話」のON／OFFを切り替える</h3>

            <div class="c-Accordion u-Adjust_Mt-16">
              <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                楽天モバイルを2回線以上ご契約中の場合
              </button>
              <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
                <p class="u-Adjust_Mt-16">画面上部へスクロールし、手続きを行う電話番号が表示されているか、事前にご確認ください。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">
                ※一番最後にご契約された電話番号が自動で表示されています。<br>※表示されている電話番号を切替えた場合、my 楽天モバイルからログアウト（自動ログアウト含む）するまでは切替えた状態が維持されます。
                </p>
                <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">電話番号の切替え方法</h4>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">1 表示されている電話番号をタップする</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-waiting/tel_01_20221220.png" alt="" class="c-Img_Capture"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">2 手続きを行う電話番号をタップする</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-waiting/tel_02_20221220.png" alt="" class="c-Img_Capture"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">3 選択した電話番号が表示されていることを確認する</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-waiting/tel_03_20221220.png" alt="" class="c-Img_Capture"></p>
                <p class="u-Adjust_Mt-16">以上で完了です。手順2の操作へお進みください。</p>
              </div>
            </div>

            <p class="u-Adjust_Mt-24 c-Txt_Cap">※画面はONの状態です。</p>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-waiting/img_01_20221220.png" alt="" class="c-Img_Capture"></p>
          </li>
        </ul>
      </div>

      <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
        <ul class="c-Flow u-Adjust_Mt-24">
          <li>
            <h3 class="c-Heading_Lv3">1. my 楽天モバイルを起動する</h3>
            <div class="c-Box_App u-Adjust_Mt-24">
              <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt=""></div>
              <div class="c-Box_App-txt">
                <p class="c-Box_App-ttl">my 楽天モバイル</p>
                <p class="u-Adjust_Mt-16">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                <ul class="c-Box_App-link u-Adjust_Mt-16">
                  <li class="<%= nameSpace %>-App_Btn-store">
                    <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
                    <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
                  </li>
                  <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">詳細を見る</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2. 画面下メニューの「契約プラン」をタップする</h3>
            <p class="u-Adjust_Mt-24">現在の通話サービスやオプションサービスのご契約状況をご確認いただけます。</p>
            <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/users-information/img-01.png" alt="" class="c-Img_Capture"></p>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3. 「プランに含まれるオプションサービス」内の「割り込み通話」のON／OFFを切り替える</h3>

            <div class="c-Accordion u-Adjust_Mt-16">
              <button id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
                楽天モバイルを2回線以上ご契約中の場合
              </button>
              <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">

                <p class="u-Adjust_Mt-16">手続きを行う電話番号が表示されているか、事前にご確認ください。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">
                  ※一番最後にご契約された電話番号が自動で表示されています。<br>※表示されている電話番号を切替えた場合、my 楽天モバイルアプリからのログアウト、またアプリを強制的に終了するまでは切替えた状態が維持されます。
                </p>
                <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">電話番号の切替え方法</h4>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">1 表示されている電話番号をタップする</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-waiting/tel_01_20221220.png" alt="" class="c-Img_Capture"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">2 手続きを行う電話番号をタップする</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-waiting/tel_04_20221220.png" alt="" class="c-Img_Capture"></p>

                <h5 class="c-Heading_Lv5 u-Adjust_Mt-32">3 選択した電話番号が表示されていることを確認する</h5>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-waiting/tel_03_20221220.png" alt="" class="c-Img_Capture"></p>
                <p class="u-Adjust_Mt-16">以上で完了です。手順3の操作へお進みください。</p>
              </div>
            </div>
            <p class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/call-waiting/img_02_20221220.png" alt="" class="c-Img_Capture"></p>
          </li>
        </ul>
      </div>
    </div>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">注意事項</h3>
    <ul class="c-List_Text-disc u-Adjust_Mt-16">
      <li>留守番電話サービスと併用中に割込着信に応答しない場合には、一定時間呼び出した後、自動的に留守番電話サービスに接続して伝言を預かります。</li>
      <li>着信転送と割込通話/通話保留を同時に起動した場合、割込通話/通話保留が優先されます 。</li>
      <li>一部の国および地域でご利用できない場合があります。</li>
      <li>以下のような場合は、本サービスを利用できません。
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>110番、119番など3桁の番号にかけている場合</li>
          <li>テレビ電話中に音声電話がかかってきた場合や音声通話中にテレビ電話がかかってきた場合</li>
          <li>ダイヤル中や相手を呼出中の場合</li>
          <li>留守番電話の設定を行うために、4桁の電話番号にかけている場合</li>
          <li>留守番電話をご利用のお客様で、留守番電話サービスセンターに接続中の場合</li>
          <li>着信転送で、転送先に電話が転送中の場合</li>
          <li>データ通信を行っている場合</li>
        </ul>
      </li>
      <li>通話保留中も発信者に通話料が発生します。</li>
      <li>通話保留は、割込通話のON/OFF設定に関わらず常にONとなり、利用停止はできません。</li>
    </ul>

    <div class="u-Adjust_Mt-64">
      <h3 class="c-Heading_Lv4" id="<%= nameSpace %>-App">アプリからご利用の方はこちら</h3>
      <div class="c-Box_App u-Adjust_Mt-24">
        <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt="my 楽天モバイル"></div>
        <div class="c-Box_App-txt">
          <p class="c-Box_App-ttl">my 楽天モバイル</p>
          <ul class="c-Box_App-link u-Adjust_Mt-16">
            <li class="<%= nameSpace %>-App_Btn-store">
              <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="149" alt="Google Play"></a></div>
              <div class="<%= nameSpace %>-App_Btn-store-item"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="149" alt="Apple Store"></a></div>
            </li>
            <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular-auto">詳細を見る</a></li>
          </ul>
        </div>
      </div>
      <h3 class="c-Heading_Lv4 u-Adjust_Mt-40">Webからご利用の方はこちら</h3>
      <div class="u-Adjust_Mt-16">
        <a href="<%= ecarepath %>my-rakuten-mobile" class="c-Btn_Regular-semiauto"><span>my 楽天モバイル</span></a>
      </div>
    </div>

    <div class="u-Adjust_Pt-40">
      <div><a href="<%= sitepath %>support/" class="c-Btn_Regular-semiauto"><span>お客様サポートトップにもどる</span></a></div>
      <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular-semiauto"><span>楽天モバイルトップへ</span></a></div>
    </div>

  </div>
</div>


<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">



    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
