<% const pagetitle = "OPPO A79 5G" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"guide/setting/", label:"各種製品の初期設定"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'OPPO A79 5Gの初期設定方法はこちら。ご契約の楽天モバイル（楽天回線）の端末初期設定方法について、ソフトウエアアップデートやSIM差し替え方法などをご案内します',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1">初期設定方法（<%= pagetitle %>）</h1>

    <p class="u-Adjust_Mt-24">以下の手順に沿って、設定を行ってください。</p>
    <p><span class="c-Txt_Emp-02">Wi-Fi環境</span>での設定を推奨します。</p>
    <p>他社からの電話番号乗り換え（MNP）の方は、初期設定の前にMNP開通手続きを行ってください。</p>
    <ul class="u-Adjust_Mt-32">
      <li><a href="<%= sitepath %>guide/mnp/flow/?l-id=guide_setting_a79-5g_guide_mnp_flow" class="c-Btn_Regular"><span>MNP開通手続きの詳細はこちら</span></a></li>
    </ul>

    <div class="c-Tab js-Tab">
      <ul class="c-Tab_Items <%= nameSpace %>-Layout_Tab u-Adjust_Mt-56" role="tablist">
          <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">nanoSIM</li>
          <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">eSIM</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">動画でかんたん初期設定</h2>

        <div class="guide-Layout_Video-pc u-Adjust_Mt-40">
          <!-- ::: PIP-Maker Start ::: -->
          <script type="text/javascript" src="//www.pip-maker.com/js/pipmaker.js"></script>
          <div id="pipmaker5pjf"><noscript>For viewing this content please enable the JavaScript.</noscript></div>
          <script type="text/javascript">
          pipmaker.priority = ["WebGL", "HTML5"];
          pipmaker.embed("//www.pip-maker.com/?view=5pjf", "pipmaker5pjf", 800, 450);
          </script>
          <!-- ::: PIP-Maker End ::: -->
        </div>
        <div class="guide-Layout_Video-sp u-Adjust_Mt-32">
          <!-- ::: PIP-Maker Start ::: -->
          <script type="text/javascript" src="//www.pip-maker.com/js/pipmaker.js"></script>
          <div id="pipmaker5pjfsp"><noscript>For viewing this content please enable the JavaScript.</noscript></div>
          <script type="text/javascript">
          pipmaker.priority = ["WebGL", "HTML5"];
          pipmaker.embed("//www.pip-maker.com/?view=5pjf", "pipmaker5pjfsp", 320, 180);
          </script>
          <!-- ::: PIP-Maker End ::: -->
        </div>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">STEP1.初期設定手順</h2>

        <%
          const nanoSIMstep1 = [
          { text: '1. SIMを挿入してください。' },
          { text: '2. 製品の電源を入れ、「矢印」をタップしてください。', img: '02.png' },
          { text: '3. システムのデフォルトの言語を選択して、「次へ」をタップしてください。', img: '03.png' },
          { text: '4. お住まいの地域を選択して、「続行」をタップしてください。', img: '04.png' },
          { text: '5. 法律情報を読んでいただき同意して（チェックを入れ）、「次へ」をタップしてください。', img: '05.png' },
          { text: '6. 利用するWi-Fiネットワークを選択し、Wi-Fiに接続してください。接続が完了後「次へ」をタップしてください。', img: '06.png' },
          { text: '7. 画面の指示に従って、不要の場合は「コピーしない」をタップしてください。', img: '07.png', note: '※別の端末からアプリなどを移行する場合、「次へ」をタップして画面に従ってデータ引き継ぎを実施してください。' },
          { text: '8. 画面の指示に従って、Googleアカウント設定、Googleサービスの同意をして「次へ」をタップしてください。', img: '08.png', note: '※設定しない場合は「スキップ」をタップしてください。Googleアカウントは後からでも設定することができます。'},
          { text: '9. 画面の指示に従って、端末のロック解除方法を設定してください。', img: '09.png', note: '※設定しない場合は「スキップ」をタップしてください。' },
          { text: '10. セットアップを続ける場合は、「続行」をタップしてください。', img: '10.png' },
          { text: '11. Googleアシスタントを利用する場合は、「同意する」をタップして画面に従って設定を実施してください。', img: '11.png', note: '※Googleアシスタントを設定しない場合は「スキップ」をタップしてください。' },
          { text: '12. Voice Matchを利用する場合は、「同意する」をタップして画面に従って声を登録をしてください。', img: '12.png', note: '※Voice Matchを設定しない場合は「登録しない」をタップしてください。' },
          { text: '13. 内容をお読みいただき、スマートフォンのロックを解除しないでアシスタントにアクセスする場合は、「同意する」をタップして画面に従って登録をしてください。', img: '13.png', note: '※設定しない場合は「スキップ」をタップしてください。' },
          { text: '14. その後、支払い設定画面が表示されます。Google Payにカードを追加する場合は、「次へ」をタップして画面に従ってカードを追加してください。', img: '14.png', note: '※設定しない場合は「スキップ」をタップしてください。' },
          { text: '15. さらに設定を続ける場合は、画面に従って設定を実施してください。', img: '15.png', note: '※設定しない場合は「いいえ」をタップしてください。' },
          { text: '16. 使用するシステムナビゲーションを選択して、「次へ」をタップしてください。', img: '16.png' },
          { text: '17. ソフトウェアを最新に保持するには夜間自動アップデートをONにすることをおすすめします。選択して「完了」をタップしてください。', img: '17.png' },
          { text: '18. 設定が完了し、ColorOSの画面がでます。「始める」をタップしてください。', img: '18.png' },
          { text: '19. 画面の指示に従ってアプリをインストールしてください。', img: '19.png', note: '※設定しない場合は「あとで」をタップしてください。<br>※画面は変更される場合がございます。'},
          { text: '20. TOP画面が表示されます。初期設定は完了です。', img: '20.png' },
          ]
        %>
        <ol class="c-Flow">
          <% nanoSIMstep1.forEach(function(item) { %>
          <li>
            <h3 class="c-Heading_Lv3"><%= item.text %></h3>
            <%_ if (item.img) { _%>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/guide/setting/a79-5g/nanosim/step1/<%= item.img %>" width="300" height="" alt="" class="c-Img_Capture">
              </figure>
            <%_ } _%>
            <%_ if (item.note) { _%>
              <p class="c-Txt_Cap u-Adjust_Mt-24"><%- item.note %></p>
            <%_ } _%>
          </li>
          <% }); %>
        </ol>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">STEP2. Rakuten Linkアプリの更新</h2>
        <%
          const nanoSIMstep2 = [
          { text: '1. 「Google Play ストア」アイコンをタップしてください。', img: '01.png' },
          { text: '2. 「Rakuten Link」を検索してください。', img: '02.png' },
          { text: '3. 「更新」をタップしてください。「更新」が完了しましたら、ホーム画面に戻ってください。', img: '03.png' },
          ]
        %>
        <ol class="c-Flow">
          <% nanoSIMstep2.forEach(function(item) { %>
          <li>
            <h3 class="c-Heading_Lv3"><%= item.text %></h3>
            <%_ if (item.img) { _%>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/guide/setting/a79-5g/nanosim/step2/<%= item.img %>" width="300" height="" alt="" class="c-Img_Capture">
              </figure>
            <%_ } _%>
            <%_ if (item.note) { _%>
              <p class="c-Txt_Cap u-Adjust_Mt-24"><%- item.note %></p>
            <%_ } _%>
          </li>
          <% }); %>
        </ol>


      </div>
      <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">動画でかんたん初期設定</h2>

        <div class="guide-Layout_Video-pc u-Adjust_Mt-40">
          <!-- ::: PIP-Maker Start ::: -->
          <script type="text/javascript" src="//www.pip-maker.com/js/pipmaker.js"></script>
          <div id="pipmakervb20"><noscript>For viewing this content please enable the JavaScript.</noscript></div>
          <script type="text/javascript">
          pipmaker.priority = ["WebGL", "HTML5"];
          pipmaker.embed("//www.pip-maker.com/?view=vb20", "pipmakervb20", 800, 450);
          </script>
          <!-- ::: PIP-Maker End ::: -->
        </div>
        <div class="guide-Layout_Video-sp u-Adjust_Mt-32">
          <!-- ::: PIP-Maker Start ::: -->
          <script type="text/javascript" src="//www.pip-maker.com/js/pipmaker.js"></script>
          <div id="pipmakervb20sp"><noscript>For viewing this content please enable the JavaScript.</noscript></div>
          <script type="text/javascript">
          pipmaker.priority = ["WebGL", "HTML5"];
          pipmaker.embed("//www.pip-maker.com/?view=vb20", "pipmakervb20sp", 320, 180);
          </script>
          <!-- ::: PIP-Maker End ::: -->
        </div>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">STEP1.初期設定手順</h2>
        <%
          const eSIMstep1 = [
          { text: '1. 製品の電源を入れ、「矢印」をタップしてください。', img: '01.png' },
          { text: '2. システムのデフォルトの言語を選択して、「次へ」をタップしてください。', img: '02.png' },
          { text: '3. お住まいの地域を選択して、「続行」をタップしてください。', img: '03.png' },
          { text: '4. 法律情報を読んでいただき同意して（チェックを入れ）、「次へ」をタップしてください。', img: '04.png' },
          { text: '5. 「次へ」をタップしてください。', img: '05.png' },
          { text: '6. 利用するWi-Fiネットワークを選択し、Wi-Fiに接続してください。接続が完了後「次へ」をタップしてください。', img: '06.png' },
          { text: '7. 画面の指示に従って、不要の場合は「コピーしない」をタップしてください。', img: '07.png', note: '※別の端末からアプリなどを移行する場合、「次へ」をタップして画面に従ってデータ引き継ぎを実施してください。' },
          { text: '8. 画面の指示に従って、Googleアカウント設定、Googleサービスの同意をしてください。', img: '08.png', note: '※設定しない場合は「スキップ」をタップしてください。Googleアカウントは後からでも設定することができます。'},
          { text: '9. 画面の指示に従って、端末のロック解除方法を設定してください。', img: '09.png', note: '※設定しない場合は「スキップ」をタップしてください。' },
          { text: '10.  セットアップを続ける場合は、「続行」をタップしてください。', img: '10.png' },
          { text: '11. Googleアシスタントを利用する場合は、「同意する」をタップして画面に従って設定を実施してください。', img: '11.png', note: '※Googleアシスタントを設定しない場合は「スキップ」をタップしてください。' },
          { text: '12. Voice Matchを利用する場合は、「同意する」をタップして画面に従って声を登録をしてください。', img: '12.png', note: '※Voice Matchを設定しない場合は「登録しない」をタップしてください。' },
          { text: '13. 内容をお読みいただき、スマートフォンのロックを解除しないでアシスタントにアクセスする場合は、「同意する」をタップして画面に従って登録をしてください。', img: '13.png', note: '※設定しない場合は「スキップ」をタップしてください。' },
          { text: '14. その後、支払い設定画面が表示されます。Google Payにカードを追加する場合は、「次へ」をタップして画面に従ってカードを追加してください。', img: '14.png', note: '※設定しない場合は「スキップ」をタップしてください。' },
          { text: '15. さらに設定を続ける場合は、画面に従って設定を実施してください。', img: '15.png', note: '※設定しない場合は「いいえ」をタップしてください。' },
          { text: '16. 使用するシステムナビゲーションを選択して、「次へ」をタップしてください。', img: '16.png' },
          { text: '17. ソフトウェアを最新に保持するには夜間自動アップデートをONにすることをおすすめします。選択して「完了」をタップしてください。', img: '17.png' },
          { text: '18. 設定が完了し、ColorOSの画面がでます。「始める」をタップしてください。', img: '18.png' },
          { text: '19. 画面の指示に従ってアプリをインストールしてください。', img: '19.png', note: '※設定しない場合は「あとで」をタップしてください。<br>※画面は変更される場合がございます。'},
          { text: '20. TOP画面が現れます。初期設定は完了です。', img: '20.png' },
          ]
        %>
        <ol class="c-Flow">
          <% eSIMstep1.forEach(function(item) { %>
          <li>
            <h3 class="c-Heading_Lv3"><%= item.text %></h3>
            <%_ if (item.img) { _%>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/guide/setting/a79-5g/esim/step1/<%= item.img %>" width="300" height="" alt="" class="c-Img_Capture">
              </figure>
            <%_ } _%>
            <%_ if (item.note) { _%>
              <p class="c-Txt_Cap u-Adjust_Mt-24"><%- item.note %></p>
            <%_ } _%>
          </li>
          <% }); %>
        </ol>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">STEP2. my 楽天モバイルアプリおよびRakuten Linkアプリの更新</h2>
        <%
          const eSIMstep2 = [
          { text: '1. 「Google Play ストア」アイコンをタップしてください。', img: '01.png' },
          { text: '2. 「my 楽天モバイル」を検索してください。', img: '02.png' },
          { text: '3. 「更新」をタップしてください。', img: '03.png' },
          { text: '4. 「Rakuten Link」を検索してください。', img: '04.png' },
          { text: '5. 「更新」をタップしてください。「更新」が完了しましたら、ホーム画面に戻ってください。', img: '05.png' },
          ]
        %>
        <ol class="c-Flow">
          <% eSIMstep2.forEach(function(item) { %>
          <li>
            <h3 class="c-Heading_Lv3"><%= item.text %></h3>
            <%_ if (item.img) { _%>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/guide/setting/a79-5g/esim/step2/<%= item.img %>" width="300" height="" alt="" class="c-Img_Capture">
              </figure>
            <%_ } _%>
            <%_ if (item.note) { _%>
              <p class="c-Txt_Cap u-Adjust_Mt-24"><%- item.note %></p>
            <%_ } _%>
          </li>
          <% }); %>
        </ol>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">STEP3. 本人確認手順</h2>
        <div class="c-Theme-Light u-Adjust_Mt-8">
          <p class="c-Txt_Emp-02">※スーパーホーダイ・組み合わせプランから移行の場合およびAIかんたん本人確認（eKYC）にて本人確認を完了させている方は、この手順は不要です。次の「STEP4.楽天回線手続き手順」にお進みください。
          </p>
        </div>
        <%
          const eSIMstep3 = [
          { text: '1. 「カメラ」をタップしてください。', img: '01.png' },
          { text: '2. 使用に関する声明について確認し、同意する場合は「同意して続行する」をタップしてください。', img: '02.png' },
          { text: '3. 内容を確認し、カメラに位置情報の権限を許可する場合は「許可する」をタップしてください。', img: '03.png' },
          { text: '4. 任意の設定を選択してください。', img: '04.png' },
          { text: '5. カメラが起動したら、製品と一緒にお送りしている「START GUIDE」の裏面に記載のある、QRコードを読み取ってください。「QRコードを認識」のメッセージが表示されたら「QRコードを認識」をタップしてください。', img: '05.png', note: '※QRコードの読み取りが正常に行われると[QRコードを認識]のメッセージが表示されます。[QRコードを認識]のメッセージが表示されない場合は何度かお試しください。' },
          { text: '6. Chromeが起動します。初めて起動する場合は、規約に同意し、同期を有効にするかを選択してください。楽天会員ログイン画面が表示されます。ユーザID/パスワードを入力して「ログイン」をタップしてください。', img: '06.png' },
          { text: '7. 本人確認が完了します。その後、ホーム画面に戻ってください。', img: '07.png' },
          ]
        %>
        <ol class="c-Flow">
          <% eSIMstep3.forEach(function(item) { %>
          <li>
            <h3 class="c-Heading_Lv3"><%= item.text %></h3>
            <%_ if (item.img) { _%>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/guide/setting/a79-5g/esim/step3/<%= item.img %>" width="300" height="" alt="" class="c-Img_Capture">
              </figure>
            <%_ } _%>
            <%_ if (item.note) { _%>
              <p class="c-Txt_Cap u-Adjust_Mt-24"><%- item.note %></p>
            <%_ } _%>
          </li>
          <% }); %>
        </ol>

        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">STEP4. 楽天モバイル（楽天回線）手続き手順</h2>
        <%
          const eSIMstep4 = [
          { text: '1. 「my 楽天モバイル」アイコンをタップしてください。', img: '01.png' },
          { text: '2. 位置情報提供協力のお願いについて確認し、「次へ」をタップしてください。', img: '02.png' },
          { text: '3. 任意の設定を選択してください。', img: '03.png' },
          { text: '4. 任意の設定を選択してください。', img: '04.png' },
          { text: '5. 位置情報提供協力のお願いについて確認し、「同意する」をタップしてください。', img: '05.png' },
          { text: '6. 「Rakuten IDでログイン」をタップしてください。', img: '06.png' },
          { text: '7. ユーザID/パスワードを入力して「ログイン」をタップしてください。', img: '07.png' },
          { text: '8. 「申込番号」をタップしてください。', img: '08.png' },
          ]
        %>
        <ol class="c-Flow">
          <% eSIMstep4.forEach(function(item) { %>
          <li>
            <h3 class="c-Heading_Lv3"><%= item.text %></h3>
            <%_ if (item.img) { _%>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/guide/setting/a79-5g/esim/step4/<%= item.img %>" width="300" height="" alt="" class="c-Img_Capture">
              </figure>
            <%_ } _%>
            <%_ if (item.note) { _%>
              <p class="c-Txt_Cap u-Adjust_Mt-24"><%- item.note %></p>
            <%_ } _%>
          </li>
          <% }); %>
        </ol>

        <%- include('/include/guide/setting/esim/_multiple-other-steps') %>

      </div>
    </div>


    <p class="u-Adjust_Mt-32">以上で初期設定は完了です。</p>
    <p class="u-Adjust_Mt-16">インターネット（データ）通信をご利用頂くための APN（アクセスポイント名）の設定は、自動接続で設定されますので、お客様の操作は不要です。</p>

    <div class="u-Adjust_Pt-64">
      <div><a href="<%= sitepath %>support/?l-id=guide_setting_a79-5g_support" class="c-Btn_Regular"><span>お客様サポートトップにもどる</span></a></div>
      <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>?l-id=guide_setting_a79-5g_top" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a></div>
    </div>

  </div>
</div>



<%- include('/include/guide/_review') %>
<%- include('/include/guide/_inquiry') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>



</body>
</html>
