<% const pagetitle = "他製品からRakuten BIG sへの機種変更" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/rakuten/", label:"Rakutenオリジナル"}, {path:"product/smartphone/rakuten-big-s/", label:"Rakuten BIG s"}, {path:"product/smartphone/rakuten-big-s/support/", label:"Rakuten BIG sサポート情報"}] -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '他製品からRakuten BIG sへの機種変更時の設定方法をご案内します',
    noindex: false,
    pathname: 'product/smartphone/rakuten-big-s/support/upgrade2/'
  });
%>

<%- include('/include/_common-css-v2') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<%- include('/include/_breadcrumbs', {
  type: 'head',
  pagetitle,
  directories,
}) %>

<div class="u-Adjust_Pb-64">
  <div class="l-System_Container u-Adjust_Mt-32">
    <h1 class="c-Heading_Lv1">他製品からRakuten BIG sへの機種変更</h1>
    <p class="u-Adjust_Mt-24">他の製品からRakuten BIG sへの機種変更の場合は「my 楽天モバイル」からお手続きが可能です。</p>
    <div class="u-Adjust_Mt-8">
      <span class="c-Txt_Emp-02">SIMカード交換のお手続きを行うと、それまでご利用されていた製品のSIMは無効になります。Rakuten BIG sがお手元に届いてから、以下の手順に沿って、設定を行ってください。</span>
    </div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">「my 楽天モバイル」でのSIM交換方法</h2>
    <ol class="c-Flow">
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">1. my 楽天モバイルアプリを起動すると、楽天会員ログイン画面が表示されます。ユーザIDとパスワードを入力し、ログインしてください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/upgrade/main-image-02.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      <p class="u-Adjust_Mt-24">Webの「<a href="<%= ecarepath %>my-rakuten-mobile" class="c-Link_Txt">my 楽天モバイル</a>」からもSIM交換のお手続きが可能です。</p>
      </li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">2. my 楽天モバイルにログイン後、以下の画面が表示されます。「契約プラン」をタップしてください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/common/img-home-230609.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">3. メニューが表示されます。「SIM交換」をタップしてください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-hand/support/upgrade/main-image-04.png?211019" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">4. SIM再発行の画面が表示されます。「その他（機種変更・故障など）」「eSIM」をタップして「SIMの再発行を申請する」ボタンをタップしてください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big/support/upgrade/main-image-06.png?220728" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">5. お申し込み内容の確認画面が表示されます。「確定する」ボタンをタップしてください。</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/common/img-esim-230609.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4 u-Adjust_Align-center">6. eSIMの発行手続きは完了です。<br>
Rakuten BIG sの設定へ進んでください。</h3></li>
    </ol>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">Rakuten BIG sでの設定方法</h2>
    <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">初期設定を行う</h3>
    <ol class="c-Flow">
      <li><h4 class="c-Heading_Lv4 u-Adjust_Align-center">1. 電源を入れ、言語を選択し、「開始」をタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big-s/support/setting/setup01.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h4 class="c-Heading_Lv4 u-Adjust_Align-center">2. 利用するWi-Fiネットワークを選択し、Wi-Fiに接続してください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big-s/support/setting/setup02.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h4 class="c-Heading_Lv4 u-Adjust_Align-center">3. アップデートを確認中の画面が表示されます。<br>画面表示が切り替わるまでそのままお待ちください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big-s/support/setting/setup03.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h4 class="c-Heading_Lv4 u-Adjust_Align-center">4. アプリとデータのコピー画面が表示されます。<br>データ移行を行う場合は、「次へ」をタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big-s/support/setting/setup04.png" width="300" height="" alt="" class="c-Img_Capture"></figure><p class="u-Adjust_Mt-24">コピーしない場合は「コピーしない」をタップし、「6」へお進みください。</p></li>
      <li><h4 class="c-Heading_Lv4 u-Adjust_Align-center">5. データの引き継ぎ画面が表示されます。<br>案内に従って設定を行ってください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big-s/support/setting/setup05.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h4 class="c-Heading_Lv4 u-Adjust_Align-center">6. 以下の画面が表示されます。<br>画面表示が切り替わるまでそのままお待ちください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big-s/support/setting/setup06.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h4 class="c-Heading_Lv4 u-Adjust_Align-center">7. 画面の指示に従って、Googleアカウント設定、Googleサービスの同意をしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big-s/support/setting/setup07.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h4 class="c-Heading_Lv4 u-Adjust_Align-center">8. Googleサービスの内容を、スクロールで最後までご確認いただき、「同意する」をタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big-s/support/setting/setup08.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h4 class="c-Heading_Lv4 u-Adjust_Align-center">9. Googleサービスへ同意後、画面ロックの設定画面が表示されます。PINコードを入力してください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big-s/support/setting/setup09.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h4 class="c-Heading_Lv4 u-Adjust_Align-center">10. PINコードを入力して設定します。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big-s/support/setting/setup10.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h4 class="c-Heading_Lv4 u-Adjust_Align-center">11. 続いて指紋を登録します。指紋登録をする場合は「次へ」をタップして、案内に従って登録を行ってください。</h4>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big-s/support/setting/setup11.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h4 class="c-Heading_Lv4 u-Adjust_Align-center">12. 続いて顔情報を登録します。顔情報を登録をする場合は「次へ」をタップして、案内に従って登録を行ってください。</h4>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big-s/support/setting/setup12.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h4 class="c-Heading_Lv4 u-Adjust_Align-center">13. Google アシスタントの設定を行います。「次へ」をタップしてください。</h4>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big-s/support/setting/setup13.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h4 class="c-Heading_Lv4 u-Adjust_Align-center">14. 「同意する」をタップします。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big-s/support/setting/setup14.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h4 class="c-Heading_Lv4 u-Adjust_Align-center">15. その他の項目の設定を行います。設定したい項目をタップして、設定を行ってください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big-s/support/setting/setup15.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h4 class="c-Heading_Lv4 u-Adjust_Align-center">16. 位置情報収集の同意を行います。「次へ」をタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big-s/support/setting/setup16.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h4 class="c-Heading_Lv4 u-Adjust_Align-center">17. eSIMの設定画面が表示されます。「アプリを開く」をタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big-s/support/setting/setup17.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h4 class="c-Heading_Lv4 u-Adjust_Align-center">18. アプリが起動します。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big-s/support/setting/setup18.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h4 class="c-Heading_Lv4 u-Adjust_Align-center">19. my 楽天モバイルの「端末の位置情報へのアクセス」と「電話の発信と管理」をそれぞれ「許可」してください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big-s/support/setting/setup20.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h4 class="c-Heading_Lv4 u-Adjust_Align-center">20. my 楽天モバイルの「端末の位置情報へのアクセス」と「電話の発信と管理」をそれぞれ「許可」してください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big-s/support/setting/setup19.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h4 class="c-Heading_Lv4 u-Adjust_Align-center">21. 「更新する」をタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big-s/support/setting/setup22.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h4 class="c-Heading_Lv4 u-Adjust_Align-center">22. my 楽天モバイル最新バージョンのアップデートへ切り替わります。<br>更新をタップし、アップデートが完了したら「開く」をタップしてください。</h4>
        <p class="c-List_Cap u-Adjust_Mt-24">※通信状況等により、まれにダウンロード待機状態から先に進まない場合があります。その際には一定期間経過後に、再度my楽天モバイルアプリを起動してからアップデートしてください。</p>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-big-s/support/setting/setup21.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
    </ol>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">開通手続きを行う</h3>

    <ol class="c-Flow">
      <li><h4 class="c-Heading_Lv4 u-Adjust_Align-center">1. 申込番号の画面が表示されます。<br>「楽天回線の開通手続きを行う」ボタンをタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/setting/main-image-41.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h4 class="c-Heading_Lv4 u-Adjust_Align-center">2. 「my 楽天モバイル モバイルネットワークに接続します」と表示されます。「接続」をタップしてください。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/setting/main-image-42.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h4 class="c-Heading_Lv4 u-Adjust_Align-center">3. 画面が切り替わるまでそのままでお待ちいただくと、「開通手続きが完了しました」と表示されます。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/setting/main-image-43.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h4 class="c-Heading_Lv4 u-Adjust_Align-center">4. しばらく待って、アンテナマークが表示されたら完了です。</h4><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/product/rakuten-mini/support/setting/main-image-44.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
    </ol>

    <p class="u-Adjust_Mt-32">以上で設定は完了です。</p>
    <div class="c-Theme-Light u-Adjust_Mt-32">
      <h3 class="c-Heading_Lv3">インターネットに接続されているか、ご確認ください。</h3>
      <p class="u-Adjust_Mt-16">しばらくお待ちいただくと、インターネットがご利用いただけます。<br>
        Wi-FiをOFFにし、ブラウザアプリなどをご利用いただき、Webページが表示されるかご確認ください。<br>
        Webページが表示されない場合は、屋外など電波状況の良い場所まで移動をお願いします。また、スマートフォンの再起動、機内モードやモバイルデータ通信のON/OFFをお試しください。</p>
    </div>

    <div class="u-Adjust_Pt-64">
      <div><a href="<%= sitepath %>inquiry/?status=initial" class="c-Btn_Regular"><span>お問い合わせページへ</span></a></div>
      <div class="u-Adjust_Mt-16"><a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップにもどる</span></a></div>
      <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a></div>
    </div>
  </div>
</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">
    <%- include('/include/footer/related/_related-product-v2.ejs') %>
  </div>
  <div class="l-System_Container">
    <%- include('/include/_breadcrumbs', {
      type: 'foot',
      pagetitle,
      directories,
    }) %>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
