<% const pagetitle = "eKYCの流れ" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/application/verification/", label:"本人確認"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'スマートフォンで本人確認が完了できるeKYCの流れをご案内いたします。',
    noindex: false,
    pathname: filepath
  });
%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1">スマートフォンで本人確認が完了できるeKYCの流れ</h1>

    <p class="u-Adjust_Mt-32">Webのお申し込み画面、または「my 楽天モバイル」（アプリ／Web）からeKYCにより本人確認を完了する流れをご案内いたします。</p>

    <ul class="c-List_Text-disc u-Adjust_Mt-24">
      <li>eKYCでご使用いただける本人確認書類は運転免許証とマイナンバーカードです。</li>
      <li>eKYCのご利用は18歳以上の方が対象です。</li>
      <li>運転免許証またはマイナンバーカードをお持ちでない方、18歳未満の方は、eKYC以外の本人確認方法にてお申し込みいただけます。</li>
    </ul>
    <div class="u-Adjust_Mt-16">
      <a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-inline">本人確認書類を見る<span class="c-Icon_Chevron-right"></span></a>
    </div>

    <ol class="c-Flow u-Adjust_Mt-32">
      <li>
        <h2 class="c-Heading_Lv3">1. 楽天モバイルへ申し込む</h2>

        <div class="u-Adjust_Mt-16">
          <p><a href="<%= onboardingpath %>">Webのお申し込み画面</a>、または「my 楽天モバイル」（アプリ／Web）から、Rakuten最強プランをeSIMでお申し込みください。プランの選択後、製品やオプションサービスなどをお選びいただき、契約者情報の画面にお進みください。</p>
        </div>

        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/verify/ekyc-flow/image-01-20230601.png" class="c-Img_Capture" alt="">
          </div>
        </div>

        <div class="c-Box_App u-Adjust_Mt-24">
          <div class="c-Box_App-icon"><img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt=""></div>
          <div class="c-Box_App-txt">
            <p class="c-Box_App-ttl">my 楽天モバイル</p>
            <p class="u-Adjust_Mt-16">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
            <ul class="<%= nameSpace %>-Layout_App-list u-Adjust_Mt-16">
              <li>
                <a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank"><img src="<%= sitepath %>assets/img/campaign/pay-edy-campaign/google-play.png" alt="Google Play" width="148"></a>
              </li>
              <li>
                <a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/campaign/pay-edy-campaign/app-store.png" alt="App Store" width="148"></a>
              </li>
              <li>
                <a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular">my 楽天モバイルとは</a>
              </li>
              <li>
                <a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile" class="c-Link_Txt-inline u-Adjust_Mt-16">Webで「my 楽天モバイル」を使う<span class="c-Icon_Chevron-right"></span></a>
              </li>
            </ul>
          </div>
        </div>


      </li>
      <li>
        <h2 class="c-Heading_Lv3">2. 本人確認書類の提示方法を「AIかんたん本人確認（eKYC）」にする</h2>
        <p class="u-Adjust_Mt-16">eKYCによるお申し込みの場合は、必ず「AIかんたん本人確認（eKYC）」をご選択のうえ、「次へ進む」をタップしてください。</p>

        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/verify/ekyc-flow/image-02.png?210701" class="c-Img_Capture" alt="">
          </div>
        </div>
      </li>
      <li>
        <h2 class="c-Heading_Lv3">3. 本人確認に使用する書類を選ぶ</h2>

        <p class="u-Adjust_Mt-16">「書類の撮影」をご選択後、運転免許証またはマイナンバーカードのいずれかをご選択のうえ、「次へ進む」をタップしてください。</p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※ マイナンバー通知カードはご利用いただけません。</p>

        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/verify/ekyc-flow/image-03.png?210701" class="c-Img_Capture" alt="">
          </div>

        </div>
      </li>
    </ol>

    <div class="u-Adjust_Mt-80">
      <ul class="c-Link_List-horizontal-simple">
        <li><a href="#apply_web" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>Webからお申し込みの場合</a></li>
        <li><a href="#apply_app" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>アプリからお申し込みの場合</a></li>
      </ul>
    </div>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-32" id="apply_web">Webからお申し込みの場合</h2>

    <ol class="c-Flow u-Adjust_Mt-32">
      <li>
        <h2 class="c-Heading_Lv3">4. 書類の表面をスマホ画面に写す</h2>

        <p class="u-Adjust_Mt-16">オレンジの枠に書類を合わせて、ご自身で「撮影する」をタップしてください。次に表示される確認画面にて、写真に反射やぶれなどなく、画面内に収まっているかご確認のうえ、「次へ進む」をタップしてください。</p>
        <div class="l-Media_Image <%= nameSpace %>-Flow_List-2col u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/verify/ekyc-flow/image-web-04-01.png?211019" class="c-Img_Capture" alt="">
          <img src="<%= sitepath %>assets/img/guide/verify/ekyc-flow/image-web-04-02.png?211019" class="c-Img_Capture" alt="">
        </div>
      </li>
      <li>
        <h2 class="c-Heading_Lv3">5. 厚みを撮影するため、書類を傾けて持つ</h2>

        <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-02">手で書類を持ち、</span>オレンジの枠に合わせて、傾きをご調整のうえ、ご自身で「撮影する」をタップしてください。次に表示される確認画面にて、写真に反射やぶれなどなく、厚みが写るように撮影されているかご確認のうえ、「次へ進む」をタップしてください。</p>

        <div class="c-Box_App u-Adjust_Mt-16 <%= nameSpace %>-Flow_List-box">
          <div class="c-Box_App-txt u-Adjust_Mt-0">
            <h4 class="c-Heading_Lv4">撮影しやすい持ち方</h4>
            <p class="u-Adjust_Mt-8">図のように、指で左右から書類を挟み込むようにして持っていただくと、傾きを調整しやすく安定して撮影いただけます。</p>
          </div>
          <div class="c-Box_App-icon <%= nameSpace %>-Flow_List-box-icon">
            <img src="<%= sitepath %>assets/img/guide/verify/ekyc-flow/image-web-05-03.png?211019" alt="">
          </div>
        </div>

        <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-24">※ 以下の図のように、書類の全体が枠に当てはまるように傾けて持ち、手前の白い点線枠に顔写真が収まっていることをご確認のうえ、「撮影する」をタップしてください。</p>

        <div class="l-Media_Image <%= nameSpace %>-Flow_List-2col u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/verify/ekyc-flow/image-web-05-01.png?211019" class="c-Img_Capture" alt="">
          <img src="<%= sitepath %>assets/img/guide/verify/ekyc-flow/image-web-05-02.png?211019" class="c-Img_Capture" alt="">
        </div>
      </li>
      <li>
        <h2 class="c-Heading_Lv3">6. 運転免許証の場合は裏返して、裏面をスマホ画面に写す</h2>

        <p class="u-Adjust_Mt-16">オレンジの枠に書類を合わせて、ご自身で「撮影する」をタップしてください。次に表示される確認画面にて、写真に反射やぶれなどなく、画面内に収まっているかご確認のうえ、「ご本人の撮影へ進む」をタップしてください。</p>
        <p class="u-Adjust_Mt-16">マイナンバーカードを本人確認に使用する場合は、裏面の撮影はありません。次の手順へお進みください。</p>
        <div class="l-Media_Image <%= nameSpace %>-Flow_List-2col u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/verify/ekyc-flow/image-web-06-01.png?211019" class="c-Img_Capture" alt="">
          <img src="<%= sitepath %>assets/img/guide/verify/ekyc-flow/image-web-06-02.png?211019" class="c-Img_Capture" alt="">
        </div>
      </li>
      <li>
        <h2 class="c-Heading_Lv3">7. 明るい場所でスマホ画面に顔を写し、まばたきをする</h2>

        <p class="u-Adjust_Mt-16">ご自身で「撮影する」をタップし、画面の指示に従ってまばたきをしてください。次に表示される確認画面にて、目を閉じていないか、顔が枠に収まっているかご確認のうえ、「次へ進む」をタップしてください。</p>
        <div class="l-Media_Image <%= nameSpace %>-Flow_List-2col u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/verify/ekyc-flow/image-web-07-01.png?210701" class="c-Img_Capture" alt="">
          <img src="<%= sitepath %>assets/img/guide/verify/ekyc-flow/image-web-07-02.png" class="c-Img_Capture" alt="">
        </div>

        <p class="u-Adjust_Mt-40">お使いのスマートフォンによっては、顔写真の撮影の後、別途、まばたきの撮影に進む画面が表示される場合があります。画面の指示に沿ってお進みください。</p>

        <div class="l-Media_Image <%= nameSpace %>-Flow_List-2col u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/verify/ekyc-flow/image-web-08-01.png" class="c-Img_Capture" alt="">
          <img src="<%= sitepath %>assets/img/guide/verify/ekyc-flow/image-web-08-02.png" class="c-Img_Capture" alt="">
        </div>
      </li>
      <li>
        <h2 class="c-Heading_Lv3">8. お申し込みを完了する</h2>
        <p class="u-Adjust_Mt-16">本人確認審査の完了後、eSIMの開通手続きができるようになります。審査状況の確認とeSIMの開通手続きは「my 楽天モバイル」アプリからお願いいたします。</p>
        <p class="u-Adjust_Mt-16">開通のお手続きの流れをご案内しています。併せてご覧ください。<br>
          <a href="<%= sitepath %>guide/verify/ekyc/esim-activation/" class="c-Btn_Regular u-Adjust_Mt-16">eKYCからのeSIM開通方法を見る</a>
        </p>

        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/verify/ekyc-flow/image-web-09.png?210701" class="c-Img_Capture" alt="">
          </div>

        </div>
      </li>
    </ol>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-80" id="apply_app">アプリからお申し込みの場合</h2>

    <ol class="c-Flow u-Adjust_Mt-32">
      <li>
        <h2 class="c-Heading_Lv3">4. 書類の表面をスマホ画面に写す</h2>

        <p class="u-Adjust_Mt-16">オレンジの枠に書類を合わせて、ご自身で「撮影する」をタップしてください。次に表示される確認画面にて、写真に反射やぶれなどなく、画面内に収まっているかご確認のうえ、「次へ進む」をタップしてください。</p>

        <div class="l-Media_Image <%= nameSpace %>-Flow_List-2col u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/verify/ekyc-flow/image-app-04-01.png?211019" class="c-Img_Capture" alt="">
          <img src="<%= sitepath %>assets/img/guide/verify/ekyc-flow/image-app-04-02.png?211019" class="c-Img_Capture" alt="">
        </div>
      </li>
      <li>
        <h2 class="c-Heading_Lv3">5. 厚みを撮影するため、書類を傾けて持つ</h2>

        <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-02">手で書類を持ち、</span>オレンジの枠に合わせて、傾きをご調整のうえ、ご自身で「撮影する」をタップしてください。次に表示される確認画面にて、写真に反射やぶれなどなく、厚みが写るように撮影されているかご確認のうえ、「次へ進む」をタップしてください。</p>

        <div class="c-Box_App u-Adjust_Mt-16 <%= nameSpace %>-Flow_List-box">
          <div class="c-Box_App-txt u-Adjust_Mt-0">
            <h4 class="c-Heading_Lv4">撮影しやすい持ち方</h4>
            <p class="u-Adjust_Mt-8">図のように、指で左右から書類を挟み込むようにして持っていただくと、傾きを調整しやすく安定して撮影いただけます。</p>
          </div>
          <div class="c-Box_App-icon <%= nameSpace %>-Flow_List-box-icon">
            <img src="<%= sitepath %>assets/img/guide/verify/ekyc-flow/image-web-05-03.png?211019" alt="">
          </div>
        </div>

        <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-24">※ 以下の図のように、書類の全体が枠に当てはまるように傾けて持ち、手前の白い点線枠に顔写真が収まっていることをご確認のうえ、「撮影する」をタップしてください。</p>

        <div class="l-Media_Image <%= nameSpace %>-Flow_List-2col u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/verify/ekyc-flow/image-app-05-01.png?211019" class="c-Img_Capture" alt="">
          <img src="<%= sitepath %>assets/img/guide/verify/ekyc-flow/image-app-05-02.png?211019" class="c-Img_Capture" alt="">
        </div>
      </li>
      <li>
        <h2 class="c-Heading_Lv3">6. 運転免許証の場合は裏返して、裏面をスマホ画面に写す</h2>
        <p class="u-Adjust_Mt-16">オレンジの枠に書類を合わせて、ご自身で「撮影する」をタップしてください。次に表示される確認画面にて、写真に反射やぶれなどなく、画面内に収まっているかご確認のうえ、「ご本人の撮影へ進む」をタップしてください。</p>
        <p class="u-Adjust_Mt-16">マイナンバーカードを本人確認に使用する場合は、裏面の撮影はありません。次の手順へお進みください。</p>
        <div class="l-Media_Image <%= nameSpace %>-Flow_List-2col u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/guide/verify/ekyc-flow/image-app-06-01.png?211019" class="c-Img_Capture" alt="">
          <img src="<%= sitepath %>assets/img/guide/verify/ekyc-flow/image-app-06-02.png?211019" class="c-Img_Capture" alt="">
        </div>
      </li>
      <li>
        <h2 class="c-Heading_Lv3">7. 明るい場所でスマホ画面に顔を写し、まばたきをする</h2>

        <p class="u-Adjust_Mt-16">ご自身で「撮影する」をタップし、画面の指示に従ってまばたきをしてください。次に表示される確認画面にて、目を閉じていないか、顔が枠に収まっているかご確認のうえ、「撮影を完了する」をタップしてください。</p>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image <%= nameSpace %>-Flow_List-2col u-Adjust_Mt-24">
            <img src="<%= sitepath %>assets/img/guide/verify/ekyc-flow/image-app-07-01.png?211019" class="c-Img_Capture" alt="">
            <img src="<%= sitepath %>assets/img/guide/verify/ekyc-flow/image-app-07-02.png?211019" class="c-Img_Capture" alt="">
          </div>
        </div>
      </li>
      <li>
        <h2 class="c-Heading_Lv3">8. お申し込みを完了する</h2>
        <p class="u-Adjust_Mt-16">お申し込み完了後に表示される「設定・確認画面へ進む」ボタンをタップすると、このまま開通手続きにお進みいただけます。<br>
          開通のお手続きの流れをご案内しています。併せてご覧ください。</p>
        <p class="u-Adjust_Mt-16">
          <a href="<%= sitepath %>guide/verify/ekyc/esim-activation/" class="c-Btn_Regular u-Adjust_Mt-16">eKYCからのeSIM開通方法を見る</a>
        </p>

        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/verify/ekyc-flow/image-app-08.png?210701" class="c-Img_Capture" alt="">
          </div>

        </div>
      </li>
    </ol>

    <div class="u-Adjust_Pt-32">
      <div><a href="<%= sitepath %>guide/verify/ekyc/" class="c-Btn_Regular"><span>「eKYCとは」を見る</span></a></div>
    </div>

  </div>
</div>


<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">
    <%- include('/include/footer/bnr/_bnr.ejs') %>
  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
