<!-- top login gadget -->
<% const nameSpace = "top-Logingadget" -%>
<div id="login-Gadget_Simulation" aria-hidden="true">
  <div class="l-System_Container">
    <div class="<%= nameSpace %>">
      <div class="<%= nameSpace %>_Data">
        <%# ログイン %>
        <div class="<%= nameSpace %>_Data-member" id="login-Gadget_Simulation-login" aria-hidden="true">
          <div class="<%= nameSpace %>_Data-name" data-rank="" id="login-Gadget_Simulation-rank">
            <a href="https://my.rakuten.co.jp/"><span id="login-Gadget_Simulation-name"></span></a>さん
          </div>
          <div class="<%= nameSpace %>_Data-point">
            <span class="c-Icon_Point-l <%= nameSpace %>_Data-point-icon"></span>
            <span class="<%= nameSpace %>_Data-point-num" id="login-Gadget_Simulation-point"></span><span class="<%= nameSpace %>_Data-point-str">ポイント</span>
          </div>
          <div id="login-Gadget_Simulation-au" class="<%= nameSpace %>_Data-carrier" data-carrier="au" aria-hidden="true">
            <div>au をご利用中のお客様</div>
            <div class="u-Rat_Appear-height" data-ratid="gadget-simulation_au" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
          </div>
          <div id="login-Gadget_Simulation-docomo" class="<%= nameSpace %>_Data-carrier" data-carrier="docomo" aria-hidden="true">
            <div>NTTドコモ をご利用中のお客様</div>
            <div class="u-Rat_Appear-height" data-ratid="gadget-simulation_docomo" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
          </div>
          <div id="login-Gadget_Simulation-softbank" class="<%= nameSpace %>_Data-carrier" data-carrier="softbank" aria-hidden="true">
            <div>SoftBank をご利用中のお客様</div>
            <div class="u-Rat_Appear-height" data-ratid="gadget-simulation_softbank" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
          </div>
          <div id="login-Gadget_Simulation-default" aria-hidden="true">
            <div class="u-Rat_Appear-height" data-ratid="gadget-simulation_login" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
          </div>
        </div>
        <%# // ログイン %>
        <%# 未ログイン %>
        <div id="login-Gadget_Simulation-logout" aria-hidden="true">
          <div class="<%= nameSpace %>_Data-non-login">
            <p>ようこそ楽天モバイルへ</p>
            <div>
              <a class="c-Link_Txt <%= nameSpace %>_Txt-ss" href="https://grp03.id.rakuten.co.jp/rms/nid/login?service_id=rm005&client_id=rmn_app_web&redirect_uri=https%3A%2F%2Fnetwork.mobile.rakuten.co.jp%2F&err_redirect_uri=https%3A%2F%2Fnetwork.mobile.rakuten.co.jp%2F&scope=memberinfo_read_safebulk%2Cmemberinfo_read_point%2Cmemberinfo_get_card_token%2C30days%40Access%2C90days%40Refresh&contact_info_required=false&rae_service_id=rm005" data-ratid="gadget-simulation_nonelogin-login" data-ratevent="click" data-ratparam="all">ログイン</a>
              <div class="u-Rat_Appear-height" data-ratid="gadget-simulation_none-login" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
            </div>
          </div>
        </div>
        <%# // 未ログイン %>
      </div><%# simulation %>
      <div class="<%= nameSpace %>_Simulation">
        <div class="<%= nameSpace %>_Simulation-title">
          <img src="<%= sitepath %>assets/img/top/login-gadget/title-simulation.png" width="323" height="20" alt="スマホ料金毎月いくら払ってますか？" loading="lazy">
        </div>
        <div class="<%= nameSpace %>_Simulation-select">
          <div class="<%= nameSpace %>_Simulation-wrap">
            <div class="<%= nameSpace %>_Simulation-tag">
              <img src="<%= sitepath %>assets/img/top/login-gadget/img-circle.png" width="52" height="52" alt="カンタン10秒チェック!" loading="lazy">
            </div>
            <div class="<%= nameSpace %>_Simulation-price">
              <div class="c-Form_Select <%= nameSpace %>_Simulation-selectPrice">
                <select name="simulation-price" id="login-Gadget_Simulation-price">
                  <option value="11000">約11,000円/月以上</option>
                  <option value="10000">約10,000円/月</option>
                  <option value="9000">約9,000円/月</option>
                  <option value="8000">約8,000円/月</option>
                  <option value="7000">約7,000円/月</option>
                  <option value="6000" selected>約6,000円/月</option>
                  <option value="5000">約5,000円/月</option>
                  <option value="4000">約4,000円/月</option>
                  <option value="3000">約3,000円/月</option>
                  <option value="2000">約2,000円/月</option>
                  <option value="1000">約1,000円/月</option>
                </select>
                <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="<%= nameSpace %>_Simulation-btn">
          <a href="<%= sitepath %>fee/mnp-simulation/result/?price=6000&carrier=&l-id=mnp-simulation_adget_fee_mnp-simulation-result" class="c-Btn_Secondly" id="login-Gadget_Simulation-result"><span>どれだけおトクか見てみよう</span></a>
        </div>
      </div><%# // simulation %>
      <p class="c-Txt_Cap <%= nameSpace %>_Simulation-cap" id="login-Gadget_Simulation-note">
        ※上記以外の携帯電話会社をご利用の場合は<a href="<%= sitepath %>fee/simulation/?l-id=mnp-simulation_adget_fee_simulation" class="c-Link_Txt">こちら</a>
      </p>
    </div>
  </div>
</div>
<!-- // top login gadget -->
