<%
  const campaignNormal = [
    {
      href: `${sitepath}product/sim/dual-sim/?l-id=top_js_product_dual-sim`,
      imgPath: `${sitepath}assets/img/bnr/bnr-dual-sim-221019-314-314.png`,
      alt: '超かんたん＆便利 デュアルSIMのススメ！',
    },
    {
      href: `${sitepath}tips/gservice/?l-id=top_js_tips_gservice`,
      imgPath: `${sitepath}assets/img/bnr/bnr-tips-gservice-172-172.png`,
      alt: '楽天モバイルご契約者様へ楽天のおトクなサービスをご紹介！',
    },
    {
      href: `${sitepath}ad/reportcard/?l-id=top_js_area_ad`,
      imgPath: `${sitepath}assets/img/bnr/bnr-reportcard-172-172.jpg`,
      alt: 'みんなに聞いた！楽天モバイル通信簿',
    },
    {
      href: `${sitepath}guide/iphone/?l-id=top_js_iosonly`,
      imgPath: `${sitepath}assets/img/bnr/iphone-ios-344-344.png?221110`,
      alt: 'eSIM対応iPhoneならお申し込み後最短3分で乗り換え！※審査状況による。楽天モバイルで今お手持ちのiPhoneを使う',
    },
    {
      href: `${sitepath}guide/application-support/?l-id=top_js_guide_application-support`,
      imgPath: `${sitepath}assets/img/bnr/bnr-2207_application-support-344-344.png`,
      alt: 'オペレーターと電話で相談できる！お申し込みサポート',
    },
    {
      href: `${sitepath}tips/1st-step-feature/?l-id=top_js_tips_1st-step-feature`,
      imgPath: `${sitepath}assets/img/bnr/bnr-1st-step-feature-172-172.png`,
      alt: 'はじめてのユーザガイド 楽天モバイル活用術「かんたん！便利な機能を使いこなす編」',
    },
    {
      href: `${sitepath}uservoice/?l-id=top_js_uservoice`,
      imgPath: `${sitepath}assets/img/bnr/uservoice-172-172-221003.png`,
      alt: '実際に使った感想をお聞きしました。楽天モバイルの評判をご紹介',
    },
    {
      href: `${sitepath}guide/support-movie/?l-id=top_js_guide_support-movie`,
      imgPath: `${sitepath}assets/img/bnr/bnr-support-movie-172-172-220808.png`,
      alt: '楽天モバイルの各種コンテンツやスマホの利用方法などを動画でサポート',
    },
    {
      href: `${sitepath}tips/1st-step-point/?l-id=top_js_tips_1st-step-point`,
      imgPath: `${sitepath}assets/img/bnr/bnr-1st-step-point-172-172.png`,
      alt: 'はじめてのユーザーガイド 楽天モバイル活用術「もっと！楽天ポイントをもらう編」',
    },
    {
      href: 'https://network.mobile.rakuten.co.jp/sumakatsu/?l-id=top_js_media_gnavi',
      imgPath: `${sitepath}assets/img/bnr/bnr-sumakatsu-314-314.png?221006`,
      alt: '簡単スマホ乗り換え わかる！スマホ活用術　スマ活！',
    },
    {
      href: `${sitepath}service/rakumail/?l-id=top_js_service_rakumail`,
      imgPath: `${sitepath}assets/img/bnr/bnr-220701-service-rakumail-172-172-230719.png`,
      alt: '楽メール',
    },
    {
      href: `${sitepath}service/global/overseas/?l-id=top_js_service_global`,
      imgPath: `${sitepath}assets/img/bnr/global-172-172-220713.png`,
      alt: '海外でも2GB無料。お使いのスマホで使えるおトクな国際サービスが充実！',
    },
    {
      href: 'https://senior.rakuten.co.jp/campaign/smartphone_lesson/main/?scid=wi_snr_rm_onlinesupport_220412_top',
      imgPath: `${sitepath}assets/img/bnr/bnr-senior-2204-344-344.png`,
      alt: '楽天シニア',
    },
    {
      href: `${sitepath}shop/consultation-seminar/?l-id=top_js_shop_consultation-seminar`,
      imgPath: `${sitepath}assets/img/bnr/shop-consultation-seminar-314-314-230601.png`,
      alt: '総務省 デジタル活用支援推進事業 スマートフォンを用いた行政手続き講習会',
    },
    {
      href: `${sitepath}mailmagazine/?l-id=top_js_mail`,
      imgPath: `${sitepath}assets/img/bnr/sittoku-mailmagazine-314x314.png?201126`,
      alt: 'お得な最新情報を配信！メルマガ/SNS情報',
    },
  ];
-%>
<%
  const campaignAndroid = [
    {
      href: `${sitepath}product/sim/dual-sim/?l-id=top_js_product_dual-sim`,
      imgPath: `${sitepath}assets/img/bnr/bnr-dual-sim-221019-314-314.png`,
      alt: '超かんたん＆便利 デュアルSIMのススメ！',
    },
    {
      href: `${sitepath}tips/gservice/?l-id=top_js_tips_gservice`,
      imgPath: `${sitepath}assets/img/bnr/bnr-tips-gservice-172-172.png`,
      alt: '楽天モバイルご契約者様へ楽天のおトクなサービスをご紹介！',
    },
    {
      href: `${sitepath}ad/reportcard/?l-id=top_js_area_ad`,
      imgPath: `${sitepath}assets/img/bnr/bnr-reportcard-172-172.jpg`,
      alt: 'みんなに聞いた！楽天モバイル通信簿',
    },
    {
      href: `${sitepath}guide/verify/ekyc/?l-id=top_js_ekyc`,
      imgPath: `${sitepath}assets/img/bnr/verify-ekyc-314x314.png?210705`,
      alt: 'AIかんたん本人確認 ekycとは',
    },
    {
      href: `${sitepath}guide/application-support/?l-id=top_js_guide_application-support`,
      imgPath: `${sitepath}assets/img/bnr/bnr-2207_application-support-344-344.png`,
      alt: 'オペレーターと電話で相談できる！お申し込みサポート',
    },
    {
      href: `${sitepath}tips/1st-step-feature/?l-id=top_js_tips_1st-step-feature`,
      imgPath: `${sitepath}assets/img/bnr/bnr-1st-step-feature-172-172.png`,
      alt: 'はじめてのユーザガイド 楽天モバイル活用術「かんたん！便利な機能を使いこなす編」',
    },
    {
      href: `${sitepath}uservoice/?l-id=top_js_uservoice`,
      imgPath: `${sitepath}assets/img/bnr/uservoice-172-172-221003.png`,
      alt: '実際に使った感想をお聞きしました。楽天モバイルの評判をご紹介',
    },
    {
      href: `${sitepath}guide/support-movie/?l-id=top_js_guide_support-movie`,
      imgPath: `${sitepath}assets/img/bnr/bnr-support-movie-172-172-220808.png`,
      alt: '楽天モバイルの各種コンテンツやスマホの利用方法などを動画でサポート',
    },
    {
      href: `${sitepath}tips/1st-step-point/?l-id=top_js_tips_1st-step-point`,
      imgPath: `${sitepath}assets/img/bnr/bnr-1st-step-point-172-172.png`,
      alt: 'はじめてのユーザーガイド 楽天モバイル活用術「もっと！楽天ポイントをもらう編」',
    },
    {
      href: 'https://network.mobile.rakuten.co.jp/sumakatsu/?l-id=top_js_media_gnavi',
      imgPath: `${sitepath}assets/img/bnr/bnr-sumakatsu-314-314.png?221006`,
      alt: '簡単スマホ乗り換え わかる！スマホ活用術　スマ活！',
    },
    {
      href: `${sitepath}service/rakumail/?l-id=top_js_service_rakumail`,
      imgPath: `${sitepath}assets/img/bnr/bnr-220701-service-rakumail-172-172-230719.png`,
      alt: '楽メール',
    },
    {
      href: `${sitepath}service/global/overseas/?l-id=top_js_service_global`,
      imgPath: `${sitepath}assets/img/bnr/global-172-172-220713.png`,
      alt: '海外でも2GB無料。お使いのスマホで使えるおトクな国際サービスが充実！',
    },
    {
      href: 'https://senior.rakuten.co.jp/campaign/smartphone_lesson/main/?scid=wi_snr_rm_onlinesupport_220412_top',
      imgPath: `${sitepath}assets/img/bnr/bnr-senior-2204-344-344.png`,
      alt: '楽天シニア',
    },
    {
      href: `${sitepath}shop/consultation-seminar/?l-id=top_js_shop_consultation-seminar`,
      imgPath: `${sitepath}assets/img/bnr/shop-consultation-seminar-314-314-230601.png`,
      alt: '総務省 令和4年度デジタル活用支援推進事業 スマートフォンを用いた行政手続き講習会',
    },
    {
      href: `${sitepath}mailmagazine/?l-id=top_js_mail`,
      imgPath: `${sitepath}assets/img/bnr/sittoku-mailmagazine-314x314.png?201126`,
      alt: 'お得な最新情報を配信！メルマガ/SNS情報',
    },
  ];
-%>
<div class="top-Carousel_Campaign js-top-Carousel-campaign-normal">
  <div class="c-Carousel top-Carousel_Campaign_Wrap js-top-Carousel-campaign">
    <%_ campaignNormal.forEach((item, idx) => { -%>
    <a href="<%= item.href %>"<% if( item.target ) { %> target="<%- item.target %>"<%_ } _%>>
      <%_ if (idx < 5) { _%>
      <img src="<%= item.imgPath %>" width="344" height="344" alt="<%- item.alt %>">
      <%_ } else { _%>
      <img data-lazy="<%= item.imgPath %>" width="344" height="344" alt="<%- item.alt %>">
      <%_ } _%>
    </a>
    <%_ }) -%>
  </div>
  <div class="c-Carousel_Nav-v2-wrap">
    <div class="c-Carousel_Nav-v2"></div>
    <div class="c-Carousel_Nav-v2-bar"></div>
  </div>
</div>
<div class="top-Carousel_Campaign js-top-Carousel-campaign-android" style="display:none">
  <div class="c-Carousel top-Carousel_Campaign_Wrap js-top-Carousel-campaign">
    <%_ campaignAndroid.forEach((item, idx) => { -%>
    <a href="<%= item.href %>"<% if( item.target ) { %> target="<%- item.target %>"<%_ } _%>>
      <%_ if (idx < 3) { _%>
      <img src="<%= item.imgPath %>" width="344" height="344" alt="<%- item.alt %>">
      <%_ } else { _%>
      <img data-lazy="<%= item.imgPath %>" width="344" height="344" alt="<%- item.alt %>">
      <%_ } _%>
    </a>
    <%_ }) -%>
  </div>
  <div class="c-Carousel_Nav-v2-wrap">
    <div class="c-Carousel_Nav-v2"></div>
    <div class="c-Carousel_Nav-v2-bar"></div>
  </div>
</div>
