<div id="pitari_hikari" style="display:none;">
  <div class="u-Rat_Appear-height" data-ratid="top-carousel-appear" data-ratevent="appear"></div>
  <div class="top-Carousel top-Utility_Show-pc">
    <div class="c-Carousel top-Carousel_Wrap js-hikari-top-Carousel">
      <a href="<%= sitepath %>campaign/iphone-point/?l-id=top_carousel_campaign_iphone-point">
        <img src="<%= sitepath %>assets/img/bnr/bnr-iphone-point-1032-300-221227.png" width="1032" height="300" alt="iPhoneトク得乗り換えキャンペーン！最大24,000円相当分ポイント還元">
      </a>
      <a href="<%= sitepath %>campaign/start-point/?l-id=top_carousel_campaign_start-point">
        <img src="<%= sitepath %>assets/img/bnr/bnr-start-point-1032-300-230210.png" width="1032" height="300" alt="スマホ/Wi-Fiトク得乗り換えキャンペーン！最大19,000円相当分おトク！">
      </a>
      <a href="<%= sitepath %>campaign/shop-limited-iphone-se-3rd/?l-id=top_carousel_campaign_shop-limited-iphone-se-3rd">
        <img src="<%= sitepath %>assets/img/bnr/bnr-shop-limited-iphone-se-3rd-1032-300-221111.png" width="1032" height="300" alt="【ショップ限定】iPhone SE（第3世代）64GB 実質1円キャンペーン">
      </a>
      <a href="<%= sitepath %>product/smartphone/rakuten-hand-5g/?l-id=top_carousel_product_rakuten-hand-5g">
        <img src="<%= sitepath %>assets/img/bnr/bnr-220712-product-rakuten-hand-5g-1032-300.png" width="1032" height="300" alt="Rakuten Hand 5G Rakuten UN-LIMIT VIIを初めてお申し込み＆スマホ本体ご購入で最大19,000円相当分おトク！→実質1円">
      </a>
      <a href="<%= sitepath %>campaign/rakuten-wifi-pocket-2b/?l-id=top_carousel_campaign_rakuten-wifi-pocket-2b">
        <img src="<%= sitepath %>assets/img/bnr/bnr-230227-rakuten-wifi-pocket-2b-1032-300.png" width="1032" height="300" alt="モバイルWi-Fi実質0円キャンペーン">
      </a>
      <a href="<%= sitepath %>product/iphone/?l-id=top_carousel_product_iphone">
        <img src="<%= sitepath %>assets/img/bnr/bnr-14-pro-1032-300-230130.png" width="1032" height="300" alt="iPhone 14 Pro 発売中。楽天モバイルなら最新のiPhoneが4キャリア公式オンライン「最安値」。※2023.1.30時点。当社調べ">
      </a>
      <a href="<%= sitepath %>product/iphone/iphone-14/?l-id=top_carousel_product_iphone-14">
        <img src="<%= sitepath %>assets/img/bnr/iphone14-1032-300-221227.png" width="1032" height="300" alt="iPhone 14 発売中。楽天モバイルなら最新のiPhoneが4キャリア公式オンライン「最安値」。※2022.12.12時点。当社調べ">
      </a>
      <a href="<%= sitepath %>fee/un-limit/?l-id=top_carousel_fee_un-limit">
        <img src="<%= sitepath %>assets/img/bnr//bnr-221101-un-limit-1032-300.png" width="1032" height="300" alt="シンプルなワンプラン「Rakuten UN-LIMIT VII（ラクテンアンリミットセブン）">
      </a>
      <a href="<%= sitepath %>campaign/apple-watch/?l-id=top_carousel_campaign_apple-watch">
        <img src="<%= sitepath %>assets/img/bnr/bnr-apple-watch-campaign-1032-300-221227.png" width="1032" height="300" alt="Apple Watchスタートキャンペーン Apple Watchを購入+電話番号シェアサービス新規加入で10,000ポイント還元! ※ 購入後～翌月末までにご加入ください（利用料金550円／月）">
      </a>
      <a href="<%= sitepath %>service/iphone/upgrade-program/?l-id=top_carousel_service_iphone_upgrade-program">
        <img src="<%= sitepath %>assets/img/bnr/iphone-upgrade-program-1032-300-221227.png" width="1032" height="300" alt="機種変更だけの人も歓迎！iPhoneアップグレードプログラムご利用で例えば、iPhone 14128GBの半分最大60,478円が0円に※1。さらに5,000ポイント還元！※1 24回分支払い後に製品返却した場合。楽天カードのみ。回線契約なしでも可。事務手数料3,300円他条件有。">
      </a>
      <a href="<%= sitepath %>campaign/shop-lottery-pandagoods/?l-id=top_carousel_campaign_shop-lottery-pandagoods">
        <img src="<%= sitepath %>assets/img/bnr/bnr-shop-lottery-pandagoods-1032-300-230110.png" width="1032" height="300" alt="楽天モバイルショップに来店して、スマホ料金のお見積もりをご依頼いただいた方に抽選（ハズレなし）でお買いものパンダグッズプレゼントいたします。">
      </a>
      <a href="<%= sitepath %>tips/1st-step-feature/?l-id=top_carousel_tips_1st-step-feature">
        <img src="<%= sitepath %>assets/img/bnr/bnr-1st-step-feature-1032-300.png" width="1032" height="300" alt="はじめてのユーザガイド 楽天モバイル活用術「かんたん！便利な機能を使いこなす編」">
      </a>
      <a href="<%= sitepath %>hikari/campaign/one-year-free/?l-id=top_carousel_hikari_campaign">
        <img src="<%= sitepath %>assets/img/bnr/bnr-hikarimno-1032-300-230119.png" width="1032" height="300" alt="楽天ひかりはSPU対象 楽天モバイルを使っているならおうちのネットがタダ!! 楽天ひかりの月額基本料 1年無料 ※楽天モバイルと楽天ひかりお申し込み対象、条件有。13カ月目以降の月額基本料はマンションプラン4,180円、ファミリープラン5,280円。契約解除料あり。">
      </a>
    </div>
    <div class="c-Carousel_Nav top-Carousel_Nav top-Carousel_Nav"></div>
  </div>
  <div class="top-Carousel top-Utility_Show-sp">
    <div class="c-Carousel top-Carousel_Wrap js-hikari-top-Carousel-sp">
      <a href="<%= sitepath %>campaign/iphone-point/?l-id=top_carousel_campaign_iphone-point">
        <img src="<%= sitepath %>assets/img/bnr/bnr-iphone-point-375-192-221227.png" width="375" height="192" alt="iPhoneトク得乗り換えキャンペーン！最大24,000円相当分ポイント還元">
      </a>
      <a href="<%= sitepath %>campaign/start-point/?l-id=top_carousel_campaign_start-point">
        <img src="<%= sitepath %>assets/img/bnr/bnr-221005-start-point-375-192.png" width="375" height="192" alt="スマホ/Wi-Fiトク得乗り換えキャンペーン！最大19,000円相当分おトク！">
      </a>
      <a href="<%= sitepath %>campaign/shop-limited-iphone-se-3rd/?l-id=top_carousel_campaign_shop-limited-iphone-se-3rd">
        <img src="<%= sitepath %>assets/img/bnr/bnr-shop-limited-iphone-se-3rd-375-192-221111.png" width="375" height="192" alt="【ショップ限定】iPhone SE（第3世代）64GB 実質1円キャンペーン">
      </a>
      <a href="<%= sitepath %>product/smartphone/rakuten-hand-5g/?l-id=top_carousel_product_rakuten-hand-5g">
        <img src="<%= sitepath %>assets/img/bnr/bnr-220712-product-rakuten-hand-5g-375-192.png" width="375" height="192" alt="Rakuten Hand 5G Rakuten UN-LIMIT VIIを初めてお申し込み＆スマホ本体ご購入で最大19,000円相当分おトク！→実質1円">
      </a>
      <a href="<%= sitepath %>campaign/rakuten-wifi-pocket-2b/?l-id=top_carousel_campaign_rakuten-wifi-pocket-2b">
        <img src="<%= sitepath %>assets/img/bnr/bnr-230227-rakuten-wifi-pocket-2b-375-192.png" width="375" height="192" alt="モバイルWi-Fi実質0円キャンペーン">
      </a>
      <a href="<%= sitepath %>product/iphone/?l-id=top_carousel_product_iphone">
        <img src="<%= sitepath %>assets/img/bnr/bnr-14-pro-375-192-230130.png" width="375" height="192" alt="iPhone 14 Pro 発売中。楽天モバイルなら最新のiPhoneが4キャリア公式オンライン「最安値」。※2023.1.30時点。当社調べ">
      </a>
      <a href="<%= sitepath %>product/iphone/iphone-14/?l-id=top_carousel_product_iphone-14">
        <img src="<%= sitepath %>assets/img/bnr/iphone14-375-192-230210.png" width="375" height="192" alt="iPhone 14 発売中。楽天モバイルなら最新のiPhoneが4キャリア公式オンライン「最安値」。※2022.12.12時点。当社調べ">
      </a>
      <a href="<%= sitepath %>fee/un-limit/?l-id=top_carousel_fee_un-limit">
        <img src="<%= sitepath %>assets/img/bnr/bnr-221101-un-limit-375-192.png" width="375" height="192" alt="シンプルなワンプラン「Rakuten UN-LIMIT VII（ラクテンアンリミットセブン）">
      </a>
      <a href="<%= sitepath %>campaign/apple-watch/?l-id=top_carousel_campaign_apple-watch">
        <img src="<%= sitepath %>assets/img/bnr/bnr-apple-watch-campaign-375-192-221227.png" width="375" height="192" alt="Apple Watchスタートキャンペーン Apple Watchを購入+電話番号シェアサービス新規加入で10,000ポイント還元! ※ 購入後～翌月末までにご加入ください（利用料金550円／月）">
      </a>
      <a href="<%= sitepath %>service/iphone/upgrade-program/?l-id=top_carousel_service_iphone_upgrade-program">
        <img src="<%= sitepath %>assets/img/bnr/iphone-upgrade-program-375-192-221227.png" width="375" height="192" alt="機種変更だけの人も歓迎！iPhoneアップグレードプログラムご利用で例えば、iPhone 14128GBの半分最大60,478円が0円に※1。さらに5,000ポイント還元！※1 24回分支払い後に製品返却した場合。楽天カードのみ。回線契約なしでも可。事務手数料3,300円他条件有。">
      </a>
      <a href="<%= sitepath %>campaign/shop-lottery-pandagoods/?l-id=top_carousel_campaign_shop-lottery-pandagoods">
        <img src="<%= sitepath %>assets/img/bnr/bnr-shop-lottery-pandagoods-375-192-230110.png" width="375" height="192" alt="楽天モバイルショップに来店して、スマホ料金のお見積もりをご依頼いただいた方に抽選（ハズレなし）でお買いものパンダグッズプレゼントいたします。">
      </a>
      <a href="<%= sitepath %>tips/1st-step-feature/?l-id=top_carousel_tips_1st-step-feature">
        <img src="<%= sitepath %>assets/img/bnr/bnr-1st-step-feature-375-192.png" width="375" height="192" alt="はじめてのユーザガイド 楽天モバイル活用術「かんたん！便利な機能を使いこなす編」">
      </a>
      <a href="<%= sitepath %>hikari/campaign/one-year-free/?l-id=top_carousel_hikari_campaign">
        <img src="<%= sitepath %>assets/img/bnr/bnr-hikarimno-375-192-230119.png" width="1032" height="300" alt="楽天ひかりはSPU対象 楽天モバイルを使っているならおうちのネットがタダ!! 楽天ひかりの月額基本料 1年無料 ※契約解除料、その他条件あり">
      </a>
    </div>
    <div class="c-Carousel_Nav top-Carousel_Nav"></div>
  </div>
</div>

<div id="pitari_movie" style="display:none;">
  <div class="u-Rat_Appear-height" data-ratid="top-none-carousel-movie-appear" data-ratevent="appear"></div>
  <div class="top-Carousel top-Utility_Show-pc">
    <div class="c-Carousel top-Carousel_Wrap js-pitari-movie-Carousel">
      <div id="pitari_carousel_video_pc">
        <a
          href="#js-modal-video-target"
          class="js-modal-video-trigger"
          data-ratid=""
          data-ratevent=""
        >
          <img
            src="<%= sitepath %>assets/img/bnr/bnr-video-1032-300-221129.png"
            width="1032"
            height="300"
            alt="Webで申し込み後、最短3分で速開通！※eSIM対応製品でeKYCご利用の場合（審査状況による）"
          >
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>product/iphone/?l-id=top_carousel_none_product_iphone_a">
          <img src="<%= sitepath %>assets/img/bnr/bnr-14-pro-1032-300-230130.png" width="1032" height="300" alt="iPhone 14 Pro 発売中。楽天モバイルなら最新のiPhoneが4キャリア公式オンライン「最安値」。※2023.1.30時点。当社調べ">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>product/iphone/iphone-14/?l-id=top_carousel_none_product_iphone-14_a">
          <img src="<%= sitepath %>assets/img/bnr/iphone14-1032-300-221227.png" width="1032" height="300" alt="iPhone 14 発売中。楽天モバイルなら最新のiPhoneが4キャリア公式オンライン「最安値」。※2022.12.12時点。当社調べ">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>fee/un-limit/?l-id=top_carousel_none_fee_un-limit_a">
          <img src="<%= sitepath %>assets/img/bnr/bnr-221101-un-limit-1032-300.png" width="1032" height="300" alt="シンプルなワンプラン「Rakuten UN-LIMIT VII（ラクテンアンリミットセブン）">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/byod/?l-id=top_carousel_none_campaign_byod_a">
          <img src="<%= sitepath %>assets/img/bnr/bnr-220809-byod-1032-300.png" width="1032" height="300" alt="Rakuten UN-LIMIT 初めてお申し込みでお持ちのスマホそのままOK!最大8,000円相当分">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/iphone-point/?l-id=top_carousel_none_campaign_iphone-point_a">
          <img src="<%= sitepath %>assets/img/bnr/bnr-iphone-point-1032-300-221227.png" alt="iPhoneトク得乗り換えキャンペーン！最大24,000円相当分ポイント還元">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/start-point/?l-id=top_carousel_none_campaign_start-point_a">
          <img src="<%= sitepath %>assets/img/bnr/bnr-start-point-1032-300-230210.png" width="1032" height="300" alt="スマホ/Wi-Fiトク得乗り換えキャンペーン！最大19,000円相当分おトク！">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/shop-limited-iphone-se-3rd/?l-id=top_carousel_none_campaign_shop-limited-iphone-se-3rd_a">
          <img src="<%= sitepath %>assets/img/bnr/bnr-shop-limited-iphone-se-3rd-1032-300-221111.png" width="1032" height="300" alt="【ショップ限定】iPhone SE（第3世代）64GB 実質1円キャンペーン">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/rakuten-wifi-pocket-2b/?l-id=top_carousel_none_campaign_rakuten-wifi-pocket-2b_a">
          <img src="<%= sitepath %>assets/img/bnr/bnr-230227-rakuten-wifi-pocket-2b-1032-300.png" width="1032" height="300" alt="モバイルWi-Fi実質0円キャンペーン">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>product/smartphone/rakuten-hand-5g/?l-id=top_carousel_none_product_rakuten-hand-5g_a">
          <img src="<%= sitepath %>assets/img/bnr/bnr-220712-product-rakuten-hand-5g-1032-300.png" width="1032" height="300" alt="Rakuten Hand 5G Rakuten UN-LIMIT VIIを初めてお申し込み＆スマホ本体ご購入で最大19,000円相当分おトク！→実質1円">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>service/iphone/upgrade-program/?l-id=top_carousel_none_service_iphone_upgrade-program_a">
          <img src="<%= sitepath %>assets/img/bnr/iphone-upgrade-program-221124-1032-300.png" width="1032" height="300" alt="iPhone本体代が最大24回分支払い不要に（全48回のうち）※48回払いのうち24回分のお支払い後、25ヶ月目以降に製品返却した場合※楽天カードのみ。事務手数料3300円ほか条件あり 回線なしでも利用可">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/apple-watch/?l-id=top_carousel_none_campaign_apple-watch_a">
          <img src="<%= sitepath %>assets/img/bnr/bnr-apple-watch-campaign-1032-300-221227.png" width="1032" height="300" alt="Apple Watchスタートキャンペーン Apple Watchを購入+電話番号シェアサービス新規加入で10,000ポイント還元! ※ 購入後～翌月末までにご加入ください（利用料金550円／月）">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/shop-lottery-pandagoods/?l-id=top_carousel_none_campaign_shop-lottery-pandagoods_a">
          <img src="<%= sitepath %>assets/img/bnr/bnr-shop-lottery-pandagoods-1032-300-230110.png" width="1032" height="300" alt="楽天モバイルショップに来店して、スマホ料金のお見積もりをご依頼いただいた方に抽選（ハズレなし）でお買いものパンダグッズプレゼントいたします。">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>hikari/campaign/one-year-free/?l-id=top_carousel_none_hikari_campaign_a">
          <img src="<%= sitepath %>assets/img/bnr/bnr-hikarinew-1032-300-230119.png" width="1032" height="300" alt="楽天ひかりはSPU対象 モバイルとセットで使えばおうちのネットがタダ!! 楽天ひかりの月額基本料 1年無料 ※楽天モバイルと楽天ひかりお申し込み対象、条件有。13カ月目以降の月額基本料はマンションプラン4,180円、ファミリープラン5,280円。契約解除料あり。">
        </a>
      </div>
    </div>
    <div class="c-Carousel_Nav top-Carousel_Nav top-Carousel_Nav"></div>
  </div>
  <div class="top-Carousel top-Utility_Show-sp">
    <div class="c-Carousel top-Carousel_Wrap js-pitari-movie-Carousel-sp">
      <div id="pitari_carousel_video_sp">
        <a
          href="#js-modal-video-target"
          class="js-modal-video-trigger"
          data-ratid=""
          data-ratevent=""
        >
          <img
            src="<%= sitepath %>assets/img/bnr/bnr-video-375-192-221129.png"
            width="375"
            height="192"
            alt="Webで申し込み後、最短3分で速開通！※eSIM対応製品でeKYCご利用の場合（審査状況による）"
          >
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>product/iphone/?l-id=top_carousel_none_product_iphone_a">
          <img src="<%= sitepath %>assets/img/bnr/bnr-14-pro-375-192-230130.png" width="375" height="192" alt="iPhone 14 Pro 発売中。楽天モバイルなら最新のiPhoneが4キャリア公式オンライン「最安値」。※2023.1.30時点。当社調べ">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>product/iphone/iphone-14/?l-id=top_carousel_none_product_iphone-14_a">
          <img src="<%= sitepath %>assets/img/bnr/iphone14-375-192-230210.png" width="375" height="192" alt="iPhone 14 発売中。楽天モバイルなら最新のiPhoneが4キャリア公式オンライン「最安値」。※2022.12.12時点。当社調べ">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>fee/un-limit/?l-id=top_carousel_none_fee_un-limit_a">
          <img src="<%= sitepath %>assets/img/bnr/bnr-221101-un-limit-375-192.png" width="375" height="192" alt="シンプルなワンプラン「Rakuten UN-LIMIT VII（ラクテンアンリミットセブン）">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/byod/?l-id=top_carousel_none_campaign_byod_a">
          <img src="<%= sitepath %>assets/img/bnr/bnr-220809-byod-375-192.png" width="375" height="192" alt="Rakuten UN-LIMIT 初めてお申し込みでお持ちのスマホそのままOK!最大8,000円相当分">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/iphone-point/?l-id=top_carousel_none_campaign_iphone-point_a">
          <img src="<%= sitepath %>assets/img/bnr/bnr-iphone-point-375-192-221227.png" alt="iPhoneトク得乗り換えキャンペーン！最大24,000円相当分ポイント還元">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/start-point/?l-id=top_carousel_none_campaign_start-point_a">
          <img src="<%= sitepath %>assets/img/bnr/bnr-221005-start-point-375-192.png" width="1032" height="300" alt="スマホ/Wi-Fiトク得乗り換えキャンペーン！最大19,000円相当分おトク！">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/shop-limited-iphone-se-3rd/?l-id=top_carousel_none_campaign_shop-limited-iphone-se-3rd_a">
          <img src="<%= sitepath %>assets/img/bnr/bnr-shop-limited-iphone-se-3rd-375-192-221111.png" width="375" height="192" alt="【ショップ限定】iPhone SE（第3世代）64GB 実質1円キャンペーン">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/rakuten-wifi-pocket-2b/?l-id=top_carousel_none_campaign_rakuten-wifi-pocket-2b_a">
          <img src="<%= sitepath %>assets/img/bnr/bnr-230227-rakuten-wifi-pocket-2b-375-192.png" width="375" height="192" alt="モバイルWi-Fi実質0円キャンペーン">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>product/smartphone/rakuten-hand-5g/?l-id=top_carousel_none_product_rakuten-hand-5g_a">
          <img src="<%= sitepath %>assets/img/bnr/bnr-220712-product-rakuten-hand-5g-375-192.png" width="375" height="192" alt="Rakuten Hand 5G Rakuten UN-LIMIT VIIを初めてお申し込み＆スマホ本体ご購入で最大19,000円相当分おトク！→実質1円">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>service/iphone/upgrade-program/?l-id=top_carousel_none_service_iphone_upgrade-program_a">
          <img src="<%= sitepath %>assets/img/bnr/iphone-upgrade-program-221124-375-192.png" width="375" height="192" alt="iPhone本体代が最大24回分支払い不要に（全48回のうち）※48回払いのうち24回分のお支払い後、25ヶ月目以降に製品返却した場合※楽天カードのみ。事務手数料3300円ほか条件あり 回線なしでも利用可">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/apple-watch/?l-id=top_carousel_none_campaign_apple-watch_a">
          <img src="<%= sitepath %>assets/img/bnr/bnr-apple-watch-campaign-375-192-221227.png" width="375" height="192" alt="Apple Watchスタートキャンペーン Apple Watchを購入+電話番号シェアサービス新規加入で10,000ポイント還元! ※ 購入後～翌月末までにご加入ください（利用料金550円／月）">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/shop-lottery-pandagoods/?l-id=top_carousel_none_campaign_shop-lottery-pandagoods_a">
          <img src="<%= sitepath %>assets/img/bnr/bnr-shop-lottery-pandagoods-375-192-230110.png" width="375" height="192" alt="楽天モバイルショップに来店して、スマホ料金のお見積もりをご依頼いただいた方に抽選（ハズレなし）でお買いものパンダグッズプレゼントいたします。">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>hikari/campaign/one-year-free/?l-id=top_carousel_none_hikari_campaign_a">
          <img src="<%= sitepath %>assets/img/bnr/bnr-hikarinew-375-192-230119.png" width="1032" height="300" alt="楽天ひかりはSPU対象 モバイルとセットで使えばおうちのネットがタダ!! 楽天ひかりの月額基本料 1年無料 ※契約解除料、その他条件あり">
        </a>
      </div>
    </div>
    <div class="c-Carousel_Nav top-Carousel_Nav"></div>
  </div>
</div>

<div id="pitari_movie_autoplay" style="display:none;">
  <div class="u-Rat_Appear-height" data-ratid="top-none-carousel-movie_b-appear" data-ratevent="appear"></div>
  <div class="top-Carousel top-Utility_Show-pc">
    <div class="c-Carousel top-Carousel_Wrap js-pitari-movie-autoplay-Carousel">
      <div id="pitari_autoplay_carousel_video_pc">
        <a
          href="#js-modal-video-target-autoplay"
          class="js-modal-video-target-autoplay"
          data-ratid=""
          data-ratevent=""
        >
          <img
            src="<%= sitepath %>assets/img/bnr/bnr-video-1032-300-221129.png"
            width="1032"
            height="300"
            alt="Webで申し込み後、最短3分で速開通！※eSIM対応製品でeKYCご利用の場合（審査状況による）"
          >
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>product/iphone/?l-id=top_carousel_none_product_iphone_b">
          <img src="<%= sitepath %>assets/img/bnr/bnr-14-pro-1032-300-230130.png" width="1032" height="300" alt="iPhone 14 Pro 発売中。楽天モバイルなら最新のiPhoneが4キャリア公式オンライン「最安値」。※2023.1.30時点。当社調べ">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>product/iphone/iphone-14/?l-id=top_carousel_none_product_iphone-14_b">
          <img src="<%= sitepath %>assets/img/bnr/iphone14-1032-300-221227.png" width="1032" height="300" alt="iPhone 14 発売中。楽天モバイルなら最新のiPhoneが4キャリア公式オンライン「最安値」。※2022.12.12時点。当社調べ">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>fee/un-limit/?l-id=top_carousel_none_fee_un-limit_b">
          <img src="<%= sitepath %>assets/img/bnr/bnr-221101-un-limit-1032-300.png" width="1032" height="300" alt="シンプルなワンプラン「Rakuten UN-LIMIT VII（ラクテンアンリミットセブン）">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/byod/?l-id=top_carousel_none_campaign_byod_b">
          <img src="<%= sitepath %>assets/img/bnr/bnr-220809-byod-1032-300.png" width="1032" height="300" alt="Rakuten UN-LIMIT 初めてお申し込みでお持ちのスマホそのままOK!最大8,000円相当分">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/iphone-point/?l-id=top_carousel_none_campaign_iphone-point_b">
          <img src="<%= sitepath %>assets/img/bnr/bnr-iphone-point-1032-300-221227.png" alt="iPhoneトク得乗り換えキャンペーン！最大24,000円相当分ポイント還元">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/start-point/?l-id=top_carousel_none_campaign_start-point_b">
          <img src="<%= sitepath %>assets/img/bnr/bnr-start-point-1032-300-230210.png" width="1032" height="300" alt="スマホ/Wi-Fiトク得乗り換えキャンペーン！最大19,000円相当分おトク！">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/shop-limited-iphone-se-3rd/?l-id=top_carousel_none_campaign_shop-limited-iphone-se-3rd_b">
          <img src="<%= sitepath %>assets/img/bnr/bnr-shop-limited-iphone-se-3rd-1032-300-221111.png" width="1032" height="300" alt="【ショップ限定】iPhone SE（第3世代）64GB 実質1円キャンペーン">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/rakuten-wifi-pocket-2b/?l-id=top_carousel_none_campaign_rakuten-wifi-pocket-2b_b">
          <img src="<%= sitepath %>assets/img/bnr/bnr-230227-rakuten-wifi-pocket-2b-1032-300.png" width="1032" height="300" alt="モバイルWi-Fi実質0円キャンペーン">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>product/smartphone/rakuten-hand-5g/?l-id=top_carousel_none_product_rakuten-hand-5g_b">
          <img src="<%= sitepath %>assets/img/bnr/bnr-220712-product-rakuten-hand-5g-1032-300.png" width="1032" height="300" alt="Rakuten Hand 5G Rakuten UN-LIMIT VIIを初めてお申し込み＆スマホ本体ご購入で最大19,000円相当分おトク！→実質1円">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>service/iphone/upgrade-program/?l-id=top_carousel_none_service_iphone_upgrade-program_b">
          <img src="<%= sitepath %>assets/img/bnr/iphone-upgrade-program-221124-1032-300.png" width="1032" height="300" alt="iPhone本体代が最大24回分支払い不要に（全48回のうち）※48回払いのうち24回分のお支払い後、25ヶ月目以降に製品返却した場合※楽天カードのみ。事務手数料3300円ほか条件あり 回線なしでも利用可">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/apple-watch/?l-id=top_carousel_none_campaign_apple-watch_b">
          <img src="<%= sitepath %>assets/img/bnr/bnr-apple-watch-campaign-1032-300-221227.png" width="1032" height="300" alt="Apple Watchスタートキャンペーン Apple Watchを購入+電話番号シェアサービス新規加入で10,000ポイント還元! ※ 購入後～翌月末までにご加入ください（利用料金550円／月）">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/shop-lottery-pandagoods/?l-id=top_carousel_none_campaign_shop-lottery-pandagoods_b">
          <img src="<%= sitepath %>assets/img/bnr/bnr-shop-lottery-pandagoods-1032-300-230110.png" width="1032" height="300" alt="楽天モバイルショップに来店して、スマホ料金のお見積もりをご依頼いただいた方に抽選（ハズレなし）でお買いものパンダグッズプレゼントいたします。">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>hikari/campaign/one-year-free/?l-id=top_carousel_none_hikari_campaign_b">
          <img src="<%= sitepath %>assets/img/bnr/bnr-hikarinew-1032-300-230119.png" width="1032" height="300" alt="楽天ひかりはSPU対象 モバイルとセットで使えばおうちのネットがタダ!! 楽天ひかりの月額基本料 1年無料 ※楽天モバイルと楽天ひかりお申し込み対象、条件有。13カ月目以降の月額基本料はマンションプラン4,180円、ファミリープラン5,280円。契約解除料あり。">
        </a>
      </div>
    </div>
    <div class="c-Carousel_Nav top-Carousel_Nav top-Carousel_Nav"></div>
  </div>
  <div class="top-Carousel top-Utility_Show-sp">
    <div class="c-Carousel top-Carousel_Wrap js-pitari-movie-autoplay-Carousel-sp">
      <div id="pitari_autoplay_carousel_video_sp">
        <a
          href="#js-modal-video-target-autoplay"
          class="js-modal-video-target-autoplay"
          data-ratid=""
          data-ratevent=""
        >
          <img
            src="<%= sitepath %>assets/img/bnr/bnr-video-375-192-221129.png"
            width="375"
            height="192"
            alt="Webで申し込み後、最短3分で速開通！※eSIM対応製品でeKYCご利用の場合（審査状況による）"
          >
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>product/iphone/?l-id=top_carousel_none_product_iphone_b">
          <img src="<%= sitepath %>assets/img/bnr/bnr-14-pro-375-192-230130.png" width="375" height="192" alt="iPhone 14 Pro 発売中。楽天モバイルなら最新のiPhoneが4キャリア公式オンライン「最安値」。※2023.1.30時点。当社調べ">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>product/iphone/iphone-14/?l-id=top_carousel_none_product_iphone-14_b">
          <img src="<%= sitepath %>assets/img/bnr/iphone14-375-192-230210.png" width="375" height="192" alt="iPhone 14 発売中。楽天モバイルなら最新のiPhoneが4キャリア公式オンライン「最安値」。※2022.12.12時点。当社調べ">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>fee/un-limit/?l-id=top_carousel_none_fee_un-limit_b">
          <img src="<%= sitepath %>assets/img/bnr/bnr-221101-un-limit-375-192.png" width="375" height="192" alt="シンプルなワンプラン「Rakuten UN-LIMIT VII（ラクテンアンリミットセブン）">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/byod/?l-id=top_carousel_none_campaign_byod_b">
          <img src="<%= sitepath %>assets/img/bnr/bnr-220809-byod-375-192.png" width="375" height="192" alt="Rakuten UN-LIMIT 初めてお申し込みでお持ちのスマホそのままOK!最大8,000円相当分">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/iphone-point/?l-id=top_carousel_none_campaign_iphone-point_b">
          <img src="<%= sitepath %>assets/img/bnr/bnr-iphone-point-375-192-221227.png" alt="iPhoneトク得乗り換えキャンペーン！最大24,000円相当分ポイント還元">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/start-point/?l-id=top_carousel_none_campaign_start-point_b">
          <img src="<%= sitepath %>assets/img/bnr/bnr-221005-start-point-375-192.png" width="1032" height="300" alt="スマホ/Wi-Fiトク得乗り換えキャンペーン！最大19,000円相当分おトク！">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/shop-limited-iphone-se-3rd/?l-id=top_carousel_none_campaign_shop-limited-iphone-se-3rd_b">
          <img src="<%= sitepath %>assets/img/bnr/bnr-shop-limited-iphone-se-3rd-375-192-221111.png" width="375" height="192" alt="【ショップ限定】iPhone SE（第3世代）64GB 実質1円キャンペーン">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/rakuten-wifi-pocket-2b/?l-id=top_carousel_none_campaign_rakuten-wifi-pocket-2b_b">
          <img src="<%= sitepath %>assets/img/bnr/bnr-230227-rakuten-wifi-pocket-2b-375-192.png" width="375" height="192" alt="モバイルWi-Fi実質0円キャンペーン">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>product/smartphone/rakuten-hand-5g/?l-id=top_carousel_none_product_rakuten-hand-5g_b">
          <img src="<%= sitepath %>assets/img/bnr/bnr-220712-product-rakuten-hand-5g-375-192.png" width="375" height="192" alt="Rakuten Hand 5G Rakuten UN-LIMIT VIIを初めてお申し込み＆スマホ本体ご購入で最大19,000円相当分おトク！→実質1円">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>service/iphone/upgrade-program/?l-id=top_carousel_none_service_iphone_upgrade-program_b">
          <img src="<%= sitepath %>assets/img/bnr/iphone-upgrade-program-221124-375-192.png" width="375" height="192" alt="iPhone本体代が最大24回分支払い不要に（全48回のうち）※48回払いのうち24回分のお支払い後、25ヶ月目以降に製品返却した場合※楽天カードのみ。事務手数料3300円ほか条件あり 回線なしでも利用可">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/apple-watch/?l-id=top_carousel_none_campaign_apple-watch_b">
          <img src="<%= sitepath %>assets/img/bnr/bnr-apple-watch-campaign-375-192-221227.png" width="375" height="192" alt="Apple Watchスタートキャンペーン Apple Watchを購入+電話番号シェアサービス新規加入で10,000ポイント還元! ※ 購入後～翌月末までにご加入ください（利用料金550円／月）">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/shop-lottery-pandagoods/?l-id=top_carousel_none_campaign_shop-lottery-pandagoods_b">
          <img src="<%= sitepath %>assets/img/bnr/bnr-shop-lottery-pandagoods-375-192-230110.png" width="375" height="192" alt="楽天モバイルショップに来店して、スマホ料金のお見積もりをご依頼いただいた方に抽選（ハズレなし）でお買いものパンダグッズプレゼントいたします。">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>hikari/campaign/one-year-free/?l-id=top_carousel_none_hikari_campaign_b">
          <img src="<%= sitepath %>assets/img/bnr/bnr-hikarinew-375-192-230119.png" width="1032" height="300" alt="楽天ひかりはSPU対象 モバイルとセットで使えばおうちのネットがタダ!! 楽天ひかりの月額基本料 1年無料 ※契約解除料、その他条件あり">
        </a>
      </div>
    </div>
    <div class="c-Carousel_Nav top-Carousel_Nav"></div>
  </div>
</div>

<div id="pitari_movie_none">
  <div class="u-Rat_Appear-height" data-ratid="top-none-carousel-appear" data-ratevent="appear"></div>
  <div class="top-Carousel top-Utility_Show-pc">
    <div class="c-Carousel top-Carousel_Wrap js-pitari-movie-none-Carousel">
      <div>
        <a href="<%= sitepath %>product/iphone/?l-id=top_carousel_none_product_iphone">
          <img src="<%= sitepath %>assets/img/bnr/bnr-14-pro-1032-300-230130.png" width="1032" height="300" alt="iPhone 14 Pro 発売中。楽天モバイルなら最新のiPhoneが4キャリア公式オンライン「最安値」。※2023.1.30時点。当社調べ">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>product/iphone/iphone-14/?l-id=top_carousel_none_product_iphone-14">
          <img src="<%= sitepath %>assets/img/bnr/iphone14-1032-300-221227.png" width="1032" height="300" alt="iPhone 14 発売中。楽天モバイルなら最新のiPhoneが4キャリア公式オンライン「最安値」。※2022.12.12時点。当社調べ">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>fee/un-limit/?l-id=top_carousel_none_fee_un-limit">
          <img src="<%= sitepath %>assets/img/bnr/bnr-221101-un-limit-1032-300.png" width="1032" height="300" alt="シンプルなワンプラン「Rakuten UN-LIMIT VII（ラクテンアンリミットセブン）">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/byod/?l-id=top_carousel_none_campaign_byod">
          <img src="<%= sitepath %>assets/img/bnr/bnr-220809-byod-1032-300.png" width="1032" height="300" alt="Rakuten UN-LIMIT 初めてお申し込みでお持ちのスマホそのままOK!最大8,000円相当分">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/iphone-point/?l-id=top_carousel_none_campaign_iphone-point">
          <img src="<%= sitepath %>assets/img/bnr/bnr-iphone-point-1032-300-221227.png" alt="iPhoneトク得乗り換えキャンペーン！最大24,000円相当分ポイント還元">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/start-point/?l-id=top_carousel_none_campaign_start-point">
          <img src="<%= sitepath %>assets/img/bnr/bnr-start-point-1032-300-230210.png" width="1032" height="300" alt="スマホ/Wi-Fiトク得乗り換えキャンペーン！最大19,000円相当分おトク！">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/shop-limited-iphone-se-3rd/?l-id=top_carousel_none_campaign_shop-limited-iphone-se-3rd">
          <img src="<%= sitepath %>assets/img/bnr/bnr-shop-limited-iphone-se-3rd-1032-300-221111.png" width="1032" height="300" alt="【ショップ限定】iPhone SE（第3世代）64GB 実質1円キャンペーン">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/rakuten-wifi-pocket-2b/?l-id=top_carousel_none_campaign_rakuten-wifi-pocket-2b">
          <img src="<%= sitepath %>assets/img/bnr/bnr-230227-rakuten-wifi-pocket-2b-1032-300.png" width="1032" height="300" alt="モバイルWi-Fi実質0円キャンペーン">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>product/smartphone/rakuten-hand-5g/?l-id=top_carousel_none_product_rakuten-hand-5g">
          <img src="<%= sitepath %>assets/img/bnr/bnr-220712-product-rakuten-hand-5g-1032-300.png" width="1032" height="300" alt="Rakuten Hand 5G Rakuten UN-LIMIT VIIを初めてお申し込み＆スマホ本体ご購入で最大19,000円相当分おトク！→実質1円">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>service/iphone/upgrade-program/?l-id=top_carousel_none_service_iphone_upgrade-program">
          <img src="<%= sitepath %>assets/img/bnr/iphone-upgrade-program-221124-1032-300.png" width="1032" height="300" alt="iPhone本体代が最大24回分支払い不要に（全48回のうち）※48回払いのうち24回分のお支払い後、25ヶ月目以降に製品返却した場合※楽天カードのみ。事務手数料3300円ほか条件あり 回線なしでも利用可">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/apple-watch/?l-id=top_carousel_none_campaign_apple-watch">
          <img src="<%= sitepath %>assets/img/bnr/bnr-apple-watch-campaign-1032-300-221227.png" width="1032" height="300" alt="Apple Watchスタートキャンペーン Apple Watchを購入+電話番号シェアサービス新規加入で10,000ポイント還元! ※ 購入後～翌月末までにご加入ください（利用料金550円／月）">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/shop-lottery-pandagoods/?l-id=top_carousel_none_campaign_shop-lottery-pandagoods">
          <img src="<%= sitepath %>assets/img/bnr/bnr-shop-lottery-pandagoods-1032-300-230110.png" width="1032" height="300" alt="楽天モバイルショップに来店して、スマホ料金のお見積もりをご依頼いただいた方に抽選（ハズレなし）でお買いものパンダグッズプレゼントいたします。">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>hikari/campaign/one-year-free/?l-id=top_carousel_none_hikari_campaign">
          <img src="<%= sitepath %>assets/img/bnr/bnr-hikarinew-1032-300-230119.png" width="1032" height="300" alt="楽天ひかりはSPU対象 モバイルとセットで使えばおうちのネットがタダ!! 楽天ひかりの月額基本料 1年無料 ※楽天モバイルと楽天ひかりお申し込み対象、条件有。13カ月目以降の月額基本料はマンションプラン4,180円、ファミリープラン5,280円。契約解除料あり。">
        </a>
      </div>
    </div>
    <div class="c-Carousel_Nav top-Carousel_Nav top-Carousel_Nav"></div>
  </div>
  <div class="top-Carousel top-Utility_Show-sp">
    <div class="c-Carousel top-Carousel_Wrap js-pitari-movie-none-Carousel-sp">
      <div>
        <a href="<%= sitepath %>product/iphone/?l-id=top_carousel_none_product_iphone">
          <img src="<%= sitepath %>assets/img/bnr/bnr-14-pro-375-192-230130.png" width="375" height="192" alt="iPhone 14 Pro 発売中。楽天モバイルなら最新のiPhoneが4キャリア公式オンライン「最安値」。※2023.1.30時点。当社調べ">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>product/iphone/iphone-14/?l-id=top_carousel_none_product_iphone-14">
          <img src="<%= sitepath %>assets/img/bnr/iphone14-375-192-230210.png" width="375" height="192" alt="iPhone 14 発売中。楽天モバイルなら最新のiPhoneが4キャリア公式オンライン「最安値」。※2022.12.12時点。当社調べ">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>fee/un-limit/?l-id=top_carousel_none_fee_un-limit">
          <img src="<%= sitepath %>assets/img/bnr/bnr-221101-un-limit-375-192.png" width="375" height="192" alt="シンプルなワンプラン「Rakuten UN-LIMIT VII（ラクテンアンリミットセブン）">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/byod/?l-id=top_carousel_none_campaign_byod">
          <img src="<%= sitepath %>assets/img/bnr/bnr-220809-byod-375-192.png" width="375" height="192" alt="Rakuten UN-LIMIT 初めてお申し込みでお持ちのスマホそのままOK!最大8,000円相当分">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/iphone-point/?l-id=top_carousel_none_campaign_iphone-point">
          <img src="<%= sitepath %>assets/img/bnr/bnr-iphone-point-375-192-221227.png" alt="iPhoneトク得乗り換えキャンペーン！最大24,000円相当分ポイント還元">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/start-point/?l-id=top_carousel_none_campaign_start-point">
          <img src="<%= sitepath %>assets/img/bnr/bnr-221005-start-point-375-192.png" width="1032" height="300" alt="スマホ/Wi-Fiトク得乗り換えキャンペーン！最大19,000円相当分おトク！">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/shop-limited-iphone-se-3rd/?l-id=top_carousel_none_campaign_shop-limited-iphone-se-3rd">
          <img src="<%= sitepath %>assets/img/bnr/bnr-shop-limited-iphone-se-3rd-375-192-221111.png" width="375" height="192" alt="【ショップ限定】iPhone SE（第3世代）64GB 実質1円キャンペーン">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/rakuten-wifi-pocket-2b/?l-id=top_carousel_none_campaign_rakuten-wifi-pocket-2b">
          <img src="<%= sitepath %>assets/img/bnr/bnr-230227-rakuten-wifi-pocket-2b-375-192.png" width="375" height="192" alt="モバイルWi-Fi実質0円キャンペーン">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>product/smartphone/rakuten-hand-5g/?l-id=top_carousel_none_product_rakuten-hand-5g">
          <img src="<%= sitepath %>assets/img/bnr/bnr-220712-product-rakuten-hand-5g-375-192.png" width="375" height="192" alt="Rakuten Hand 5G Rakuten UN-LIMIT VIIを初めてお申し込み＆スマホ本体ご購入で最大19,000円相当分おトク！→実質1円">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>service/iphone/upgrade-program/?l-id=top_carousel_none_service_iphone_upgrade-program">
          <img src="<%= sitepath %>assets/img/bnr/iphone-upgrade-program-221124-375-192.png" width="375" height="192" alt="iPhone本体代が最大24回分支払い不要に（全48回のうち）※48回払いのうち24回分のお支払い後、25ヶ月目以降に製品返却した場合※楽天カードのみ。事務手数料3300円ほか条件あり 回線なしでも利用可">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/apple-watch/?l-id=top_carousel_none_campaign_apple-watch">
          <img src="<%= sitepath %>assets/img/bnr/bnr-apple-watch-campaign-375-192-221227.png" width="375" height="192" alt="Apple Watchスタートキャンペーン Apple Watchを購入+電話番号シェアサービス新規加入で10,000ポイント還元! ※ 購入後～翌月末までにご加入ください（利用料金550円／月）">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>campaign/shop-lottery-pandagoods/?l-id=top_carousel_none_campaign_shop-lottery-pandagoods">
          <img src="<%= sitepath %>assets/img/bnr/bnr-shop-lottery-pandagoods-375-192-230110.png" width="375" height="192" alt="楽天モバイルショップに来店して、スマホ料金のお見積もりをご依頼いただいた方に抽選（ハズレなし）でお買いものパンダグッズプレゼントいたします。">
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>hikari/campaign/one-year-free/?l-id=top_carousel_none_hikari_campaign">
          <img src="<%= sitepath %>assets/img/bnr/bnr-hikarinew-375-192-230119.png" width="1032" height="300" alt="楽天ひかりはSPU対象 モバイルとセットで使えばおうちのネットがタダ!! 楽天ひかりの月額基本料 1年無料 ※契約解除料、その他条件あり">
        </a>
      </div>
    </div>
    <div class="c-Carousel_Nav top-Carousel_Nav"></div>
  </div>
</div>

<div id="js-modal-video-target" style="display: none;">
  <div class="top-Carousel_Modal-wrap">
    <video
      class="video-js vjs-fluid js-modal-bc-player top-Carousel_Modal-video"
      data-account="5068808272001"
      data-player="e1UWguzSZ"
      data-embed="default"
      controls=""
      data-video-id="6317123964112"
      data-playlist-id=""
      data-application-id=""
      data-ratid="top-none-carousel-movie-click"
      style="width: 1032px; height: 580px;"
      muted
      autoplay
      playsinline
    >
    </video>
  </div>
  <div class="u-Adjust_Align-center">
    <a href="<%= sitepath %>fee/un-limit/?l-id=top_none-carousel-movie_fee_un-limit_02_a" class="c-Banner_Hover-act">
      <picture>
        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/bnr/bnr-un-limit-428-164-221129.png">
        <img src="<%= sitepath %>assets/img/bnr/bnr-un-limit-1032-86-221129.png" alt="Rakuten UN-LIMIT VII（料金プラン）">
      </picture>
    </a>
  </div>
</div>

<video
class="video-js vjs-fluid js-modal-bc-player top-Carousel_Modal-video"
data-account="5068808272001"
data-player="e1UWguzSZ"
data-embed="default"
controls=""
data-video-id="6317123964112"
data-playlist-id=""
data-application-id=""
data-ratid="top-none-carousel-movie-click"
style="width: 1032px; height: 580px; left:-9999px;"
muted
autoplay
playsinline
>
</video>

<div id="js-modal-video-target-autoplay" style="display: none;">
  <div class="top-Carousel_Modal-wrap">
    <video
      class="video-js vjs-fluid js-modal-bc-player top-Carousel_Modal-video"
      data-account="5068808272001"
      data-player="SZHlQ6Z1V"
      data-embed="default"
      controls=""
      data-video-id="6317123964112"
      data-playlist-id=""
      data-application-id=""
      data-ratid="top-none-carousel-movie_b-click"
      style="width: 1032px; height: 580px;"
      muted
      autoplay
      playsinline
    >
    </video>
  </div>
  <div class="u-Adjust_Align-center">
    <a href="<%= sitepath %>fee/un-limit/?l-id=top_none-carousel-movie_b_fee_un-limit_02_b" class="c-Banner_Hover-act">
      <picture>
        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/bnr/bnr-un-limit-428-164-221129.png">
        <img src="<%= sitepath %>assets/img/bnr/bnr-un-limit-1032-86-221129.png" alt="Rakuten UN-LIMIT VII（料金プラン）">
      </picture>
    </a>
  </div>
</div>

<video
class="video-js vjs-fluid js-modal-bc-player top-Carousel_Modal-video"
data-account="5068808272001"
data-player="SZHlQ6Z1V"
data-embed="default"
controls=""
data-video-id="6317123964112"
data-playlist-id=""
data-application-id=""
data-ratid="top-none-carousel-movie_b-click"
style="width: 1032px; height: 580px; left:-9999px;"
muted
autoplay
playsinline
>
</video>

<%- include('/include/top/_top-carousel-video-item') %>
