<%
  // 未契約PC
  const pitariHikariNonePc = [
    {// 最強家族プログラム_240410
      href: `${sitepath}fee/family/?l-id=top_carousel_none_fee_family`,
      imgPath: `${sitepath}assets/img/bnr/bnr-saikyo-family-program-1032-300-240410.png`,
      alt:  '最強家族プログラムは データ３GB（家族割引のみ適用時）全キャリア最安880円/月～（税込968円～）※2024年2月時点 ※通話料等別',
    },
    {// MNP6,000CPN_240315
      href: `${sitepath}campaign/mnp/?l-id=top_carousel_none_campaign_mnp`,
      imgPath: `${sitepath}assets/img/bnr/bnr-mnp-1032-300-240315.png`,
      alt:  'スマホそのまま乗り換え！電話番号もそのまま他社から乗り換え＆初めてお申し込みで6,000ポイントプレゼント!データ3GB（税込1,078円）x5カ月分がポイント還元で実質5カ月無料！',
    },
    {// 紹介CPN_240201
      href: `${sitepath}campaign/referral/?l-id=top_carousel_none_campaign_referral`,
      imgPath: `${sitepath}assets/img/bnr/bnr-referral-1032-300-240201.png`,
      alt: '楽天モバイル紹介キャンペーン',
    },
    {//マラソン_240521
     href: `${sitepath}campaign/marathon/?l-id=top_carousel_none_campaign_bigsale`,
     imgPath: `${sitepath}assets/img/bnr/bnr-marathon-1032-300-240521.png`,
     alt: '楽天市場のお買い物マラソン連動企画 楽天モバイルお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン',
   },
    {//iPhone CPN_240517
      href: `${sitepath}campaign/iphone-point/?l-id=top_carousel_none_campaign_iphone-point`,
      imgPath: `${sitepath}assets/img/bnr/bnr-iphone-point-1032-300-240517.png`,
      alt: '対象iPhoneを一括または24回払いで購入＆楽天モバイルへ初めて申し込み＆他社から電話番号そのまま乗り換えで最大32,000円相当おトク！',
    },
    {// Android値引き_240522
      href: `${sitepath}campaign/android-discount/?l-id=top_carousel_none_campaign_android-discount`,
      imgPath: `${sitepath}assets/img/bnr/bnr-android-discount-1032-300-240522.png`,
      alt: '楽天モバイルお申し込み＆対象製品ご購入で最大26,930円値引き！',
    },
    {// Wi-Fi1円CPN_231124
      href: `${sitepath}campaign/hand-5g-wifi-pocket-1yen/?l-id=top_carousel_none_campaign_hand-5g-wifi-pocket-1yen`,
      imgPath: `${sitepath}assets/img/bnr/bnr-wifi-1032-300-231124.png`,
      alt: 'Rakuten WiFi Pocket 2Cが楽天モバイルお申し込みで1円',
    },
    {// ワンストップ_230524
      href: `${sitepath}guide/mnp/fast-convert/?l-id=top_carousel_none_guide_mnp_fast-convert`,
      imgPath: `${sitepath}assets/img/bnr/bnr-fast-convert-1032-300-231201.png`,
      alt: '電話番号そのまま！MNP予約番号なしで乗り換えできる！MNPワンストップ  Webでの申し込みがさらに簡単に。乗り換えるなら楽天モバイル',
    },
    {// 最強子供プログラム_240502
      href: `${sitepath}fee/kids/?l-id=top_carousel_none_fee_kids`,
      imgPath: `${sitepath}assets/img/bnr/bnr-fee-kids-1032-300-240502.png`,
      alt:  '最強こどもプログラム 12歳までとーってもおトク！家族割引適用後3GB 968円/月が、440ポイント還元で 実質480円（税込528円）',
    },
    {//最強青春LP_240502
      href: `${sitepath}fee/youth/?l-id=top_carousel_none_fee_youth`,
      imgPath: `${sitepath}assets/img/bnr/bnr-fee-youth-1032-300-240502.png`,
      alt: '最強青春プログラムは22歳までずーっとダブルで安い！',
    },
    {// 最強プラン_240410
      href: `${sitepath}fee/saikyo-plan/?l-id=top_carousel_none_fee_saikyo-plan`,
      imgPath: `${sitepath}assets/img/bnr/bnr-saikyo-plan-1032-300-240410.png`,
      alt: '「Rakuten最強プランは家族割引適用時、全キャリアのデータ3GB/無制限で最安！※2024年2月時点',
    },
    {// エリア_240514
      href: `${sitepath}area/?l-id=top_carousel_none_area`,
      imgPath: `${sitepath}assets/img/bnr/bnr-area-1032-300-240514.png`,
      alt: 'つながりやすさも最強へ。楽天モバイルは5G通信速度で高評価を獲得！※モバイル・ネットワーク・ユーザー体感レポート（2024年4月）データ収集期間：2023年12月1日～2024年2月28日© 2024 Opensignal Inc.5Gは一部エリアで提供',
    },
    {// デジコン_240423
      href: `${sitepath}campaign/digital-contents/?l-id=top_carousel_none_campaign_digital-contents`,
      imgPath: `${sitepath}assets/img/bnr/bnr-digital-contents-1032-300-240423.png`,
      alt: 'NBA、パ・リーグ、ミュージックが楽天モバイルなら追加料金0円で楽しめる！※ミュージックは30日ごとに5時間無料',
    },
    {//iPhone 15_240430
      href: `${sitepath}product/iphone/iphone-15/?l-id=top_carousel_none_product_iphone-15`,
      imgPath: `${sitepath}assets/img/bnr/bnr-iphone-15-1032-300-240430.png`,
      alt: 'iPhone 15。全通信キャリアで最安※ ※2024年3月27日時点。弊社調べ',
    },
    {// Apple Watch 9_231121
      href: `${sitepath}product/apple-watch/?l-id=top_carousel_none_product_apple-watch`,
      imgPath: `${sitepath}assets/img/bnr/bnr-apple-watch-1032-300-231121.png`,
      alt: 'Apple Watch Series 9 頭脳、明るさ、パワーの未来形。',
    },
    {//iPhone 15 Pro led_240416
      href: `${sitepath}product/iphone/?l-id=top_carousel_none_product_iphone`,
      imgPath: `${sitepath}assets/img/bnr/bnr-iphone-15-pro-led-1032-300-240416.png`,
      alt: 'iPhone 15 Pro 次世代のポートレート。焦点コントロールに対応。',
    },
    {// 電話サポート_230802
      href: `${sitepath}guide/application-support/?l-id=top_carousel_none_guide_application-support`,
      imgPath: `${sitepath}assets/img/bnr/bnr-2207_application-support-1032-300-230802.png`,
      alt: 'お申し込みを電話でサポート',
    },
    {// Rakuten Turbo CPN_240329
      href: `${sitepath}internet/turbo/campaign/six-month-free/?l-id=top_carousel_none_internet_turbo_campaign_six-month-free`,
      imgPath: `${sitepath}assets/img/bnr/bnr-turbo-six-month-free-1032-300-240329.png`,
      alt: 'Rakuten Turbo 工事不要！すぐに使えるおうちのWi-Fi コンセントにさすだけ！ プラン料金6カ月0円 さらに、スマホとセットで使うと20,000ポイント還元！7カ月目以降のプラン料金が実質4カ月無料 さらに、楽天市場のお買い物がポイント毎日全員7倍 ※Wi-Fiの接続が必要 ※製品代金 別途41,580円。月額プラン料金7カ月目以降4,840円 ※ポイントはRakuten Turboの課金が確認された月の翌々月末日ごろに進呈 ※その他条件あり',
    },
  ];
-%>
<%
  // 未契約SP
  const pitariHikariNoneSp = [
    {// 最強家族プログラム_240410
      href: `${sitepath}fee/family/?l-id=top_carousel_none_fee_family`,
      imgPath: `${sitepath}assets/img/bnr/bnr-saikyo-family-program-375-192-240410.png`,
      alt:  '最強家族プログラムは データ３GB（家族割引のみ適用時）全キャリア最安880円/月～（税込968円～）※2024年2月時点 ※通話料等別',
    },
    {// MNP6,000CPN_240315
      href: `${sitepath}campaign/mnp/?l-id=top_carousel_none_campaign_mnp`,
      imgPath: `${sitepath}assets/img/bnr/bnr-mnp-375-192-240315.png`,
      alt:  'スマホそのまま乗り換え！電話番号もそのまま他社から乗り換え＆初めてお申し込みで6,000ポイントプレゼント!データ3GB（税込1,078円）x5カ月分がポイント還元で実質5カ月無料！',
    },
    {//紹介CPN_240201
      href: `${sitepath}campaign/referral/?l-id=top_carousel_none_campaign_referral`,
      imgPath: `${sitepath}assets/img/bnr/bnr-referral-375-192-240201.png`,
      alt: '楽天モバイル紹介キャンペーン',
    },
    {//マラソン_240521
      href: `${sitepath}campaign/marathon/?l-id=top_carousel_none_campaign_bigsale`,
      imgPath: `${sitepath}assets/img/bnr/bnr-marathon-375-192-240521.png`,
      alt: '楽天市場のお買い物マラソン連動企画 楽天モバイルお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン',
    },
    {//iPhone CPN_240517
      href: `${sitepath}campaign/iphone-point/?l-id=top_carousel_none_campaign_iphone-point`,
      imgPath: `${sitepath}assets/img/bnr/bnr-iphone-point-375-192-240517.png`,
      alt: '対象iPhoneを一括または24回払いで購入＆楽天モバイルへ初めて申し込み＆他社から電話番号そのまま乗り換えで最大32,000円相当おトク！',
    },
    {// Android値引き_240522
      href: `${sitepath}campaign/android-discount/?l-id=top_carousel_none_campaign_android-discount`,
      imgPath: `${sitepath}assets/img/bnr/bnr-android-discount-375-192-240522.png`,
      alt: '楽天モバイルお申し込み＆対象製品ご購入で最大26,930円値引き！',
    },
    {//Wi-Fi1円CPN_231124
      href: `${sitepath}campaign/hand-5g-wifi-pocket-1yen/?l-id=top_carousel_none_campaign_hand-5g-wifi-pocket-1yen`,
      imgPath: `${sitepath}assets/img/bnr/bnr-wifi-375-192-231124.png`,
      alt: 'Rakuten WiFi Pocket 2Cが楽天モバイルお申し込みで1円',
    },
    { //ワンストップ_230524
      href: `${sitepath}guide/mnp/fast-convert/?l-id=top_carousel_none_guide_mnp_fast-convert`,
      imgPath: `${sitepath}assets/img/bnr/bnr-fast-convert-375-192-231201.png`,
      alt: '電話番号そのまま！MNP予約番号なしで乗り換えできる！MNPワンストップ  Webでの申し込みがさらに簡単に。乗り換えるなら楽天モバイル',
    },
    {// 最強子供プログラム_240502
      href: `${sitepath}fee/kids/?l-id=top_carousel_none_fee_kids`,
      imgPath: `${sitepath}assets/img/bnr/bnr-fee-kids-375-192-240502.png`,
      alt:  '最強こどもプログラム 12歳までとーってもおトク！家族割引適用後3GB 968円/月が、440ポイント還元で 実質480円（税込528円）',
    },
    {//最強青春LP_240502
      href: `${sitepath}fee/youth/?l-id=top_carousel_none_fee_youth`,
      imgPath: `${sitepath}assets/img/bnr/bnr-fee-youth-375-192-240502.png`,
      alt: '最強青春プログラムは22歳までずーっとダブルで安い！',
    },
    { // 最強プラン_240410
      href: `${sitepath}fee/saikyo-plan/?l-id=top_carousel_none_fee_saikyo-plan`,
      imgPath: `${sitepath}assets/img/bnr/bnr-saikyo-plan-375-192-240410.png`,
      alt: '「Rakuten最強プランは家族割引適用時、全キャリアのデータ3GB/無制限で最安！※2024年2月時点',
    },
    {// エリア_240514
      href: `${sitepath}area/?l-id=top_carousel_none_area`,
      imgPath: `${sitepath}assets/img/bnr/bnr-area-375-192-240514.png`,
      alt: 'つながりやすさも最強へ。楽天モバイルは5G通信速度で高評価を獲得！※モバイル・ネットワーク・ユーザー体感レポート（2024年4月）データ収集期間：2023年12月1日～2024年2月28日© 2024 Opensignal Inc.5Gは一部エリアで提供',
    },
    { //デジコン_240423
      href: `${sitepath}campaign/digital-contents/?l-id=top_carousel_none_campaign_digital-contents`,
      imgPath: `${sitepath}assets/img/bnr/bnr-digital-contents-375-192-240423.png`,
      alt: 'NBA、パ・リーグ、ミュージックが楽天モバイルなら追加料金0円で楽しめる！※ミュージックは30日ごとに5時間無料',
    },
    {//iPhone 15_240430
      href: `${sitepath}product/iphone/iphone-15/?l-id=top_carousel_none_product_iphone-15`,
      imgPath: `${sitepath}assets/img/bnr/bnr-iphone-15-375-192-240430.png`,
      alt: 'iPhone 15。全通信キャリアで最安※ ※2024年3月27日時点。弊社調べ',
    },
    {// Apple Watch 9_231121
      href: `${sitepath}product/apple-watch/?l-id=top_carousel_none_product_apple-watch`,
      imgPath: `${sitepath}assets/img/bnr/bnr-apple-watch-375-192-231121.png`,
      alt: 'Apple Watch Series 9 頭脳、明るさ、パワーの未来形。',
    },
    {//iPhone 15 Pro led_240416
      href: `${sitepath}product/iphone/?l-id=top_carousel_none_product_iphone`,
      imgPath: `${sitepath}assets/img/bnr/bnr-iphone-15-pro-led-375-192-240416.png`,
      alt: 'iPhone 15 Pro 次世代のポートレート。焦点コントロールに対応。',
    },
    { //電話サポート_230802
      href: `${sitepath}guide/application-support/?l-id=top_carousel_none_guide_application-support`,
      imgPath: `${sitepath}assets/img/bnr/bnr-2207_application-support-375-192-230802.png`,
      alt: 'お申し込みを電話でサポート',
    },
    {// Rakuten Turbo CPN_240329
      href: `${sitepath}internet/turbo/campaign/six-month-free/?l-id=top_carousel_none_internet_turbo_campaign_six-month-free`,
      imgPath: `${sitepath}assets/img/bnr/bnr-turbo-six-month-free-375-192-240329.png`,
      alt: 'Rakuten Turbo 工事不要！すぐに使えるおうちのWi-Fi コンセントにさすだけ！ プラン料金6カ月0円 さらに、スマホとセットで使うと20,000ポイント還元！7カ月目以降のプラン料金が実質4カ月無料 さらに、楽天市場のお買い物がポイント毎日全員7倍 ※Wi-Fiの接続が必要 ※製品代金 別途41,580円。月額プラン料金7カ月目以降4,840円 ※ポイントはRakuten Turboの課金が確認された月の翌々月末日ごろに進呈 ※その他条件あり',
    },
  ];
-%>
<%
  // 契約PC
  const pitariHikariPc = [
    {// 最強家族プログラム_240410
      href: `${sitepath}fee/family/?l-id=top_carousel_fee_family`,
      imgPath: `${sitepath}assets/img/bnr/bnr-saikyo-family-program-1032-300-240410.png`,
      alt:  '最強家族プログラムは データ３GB（家族割引のみ適用時）全キャリア最安880円/月～（税込968円～）※2024年2月時点 ※通話料等別',
    },
    {// 紹介CPN_240201
      href: `${sitepath}campaign/referral/?l-id=top_carousel_campaign_referral`,
      imgPath: `${sitepath}assets/img/bnr/bnr-referral-1032-300-240201.png`,
      alt: '楽天モバイル紹介キャンペーン',
    },
    {//マラソン_240521
      href: `${sitepath}campaign/marathon/?l-id=top_carousel_campaign_bigsale `,
      imgPath: `${sitepath}assets/img/bnr/bnr-marathon-1032-300-240521.png`,
      alt: '楽天市場のお買い物マラソン連動企画 楽天モバイルお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン',
    },
    {//iPhone CPN_240517
      href: `${sitepath}campaign/iphone-point/?l-id=top_carousel_campaign_iphone-point`,
      imgPath: `${sitepath}assets/img/bnr/bnr-iphone-point-1032-300-240517.png`,
      alt: '対象iPhoneを一括または24回払いで購入＆楽天モバイルへ初めて申し込み＆他社から電話番号そのまま乗り換えで最大32,000円相当おトク！',
    },
    {// Android値引き_240522
      href: `${sitepath}campaign/android-discount/?l-id=top_carousel_campaign_android-discount`,
      imgPath: `${sitepath}assets/img/bnr/bnr-android-discount-1032-300-240522.png`,
      alt: '楽天モバイルお申し込み＆対象製品ご購入で最大26,930円値引き！',
    },
    {//Wi-Fi1円CPN_231124
      href: `${sitepath}campaign/hand-5g-wifi-pocket-1yen/?l-id=top_carousel_campaign_hand-5g-wifi-pocket-1yen`,
      imgPath: `${sitepath}assets/img/bnr/bnr-wifi-1032-300-231124.png`,
      alt: 'Rakuten WiFi Pocket 2Cが楽天モバイルお申し込みで1円',
    },
    {// 買い替え超トク契約者_231222
      href: `${sitepath}service/replacement-program/?l-id=top_carousel_service_replacement-program`,
      imgPath: `${sitepath}assets/img/bnr/bnr-service-replacement-program-1032-300-240221.png`,
      alt: '楽天モバイル買い替え超トクプログラムで対象のiPhoneを購入すると、本体代が最大半額分支払い不要に。',
    },
    {//iPhone 15_240430
      href: `${sitepath}product/iphone/iphone-15/?l-id=top_carousel_product_iphone-15`,
      imgPath: `${sitepath}assets/img/bnr/bnr-iphone-15-1032-300-240430.png`,
      alt: 'iPhone 15。全通信キャリアで最安※ ※2024年3月27日時点。弊社調べ',
    },
    {// 最強子供プログラム_240502
      href: `${sitepath}fee/kids/?l-id=top_carousel_fee_kids`,
      imgPath: `${sitepath}assets/img/bnr/bnr-fee-kids-1032-300-240502.png`,
      alt:  '最強こどもプログラム 12歳までとーってもおトク！家族割引適用後3GB 968円/月が、440ポイント還元で 実質480円（税込528円）',
    },
    {//最強青春LP_240502
      href: `${sitepath}fee/youth/?l-id=top_carousel_fee_youth`,
      imgPath: `${sitepath}assets/img/bnr/bnr-fee-youth-1032-300-240502.png`,
      alt: '最強青春プログラムは22歳までずーっとダブルで安い！',
    },
    {//3GB超過利用CPN_240410
      href: `${sitepath}campaign/data3g/?l-id=top_carousel_campaign_data3g`,
      imgPath: `${sitepath}assets/img/bnr/bnr-data3g-1032-300-240410.png`,
      alt: 'ご契約者様限定 毎月開催 要エントリー 初めて3GBを超えたら1,000ポイントGET！',
    },
    {//20GB超過利用CPN_240410
      href: `${sitepath}campaign/data/?l-id=top_carousel_campaign_data`,
      imgPath: `${sitepath}assets/img/bnr/bnr-data-1032-300-240410.png`,
      alt: 'ご契約者様限定 毎月開催 要エントリー 初めて20GBを超えたら1,500ポイントGET！',
    },
    {// デジコン_240423
      href: `${sitepath}campaign/digital-contents/?l-id=top_carousel_campaign_digital-contents`,
      imgPath: `${sitepath}assets/img/bnr/bnr-digital-contents-1032-300-240423.png`,
      alt: 'NBA、パ・リーグ、ミュージックが楽天モバイルなら追加料金0円で楽しめる！※ミュージックは30日ごとに5時間無料',
    },
    {// エリア_240514
      href: `${sitepath}area/?l-id=top_carousel_area`,
      imgPath: `${sitepath}assets/img/bnr/bnr-area-1032-300-240514.png`,
      alt: 'つながりやすさも最強へ。楽天モバイルは5G通信速度で高評価を獲得！※モバイル・ネットワーク・ユーザー体感レポート（2024年4月）データ収集期間：2023年12月1日～2024年2月28日© 2024 Opensignal Inc.5Gは一部エリアで提供',
    },
    {// MNP6,000CPN_240315
      href: `${sitepath}campaign/mnp/?l-id=top_carousel_campaign_mnp`,
      imgPath: `${sitepath}assets/img/bnr/bnr-mnp-1032-300-240315.png`,
      alt:  'スマホそのまま乗り換え！電話番号もそのまま他社から乗り換え＆初めてお申し込みで6,000ポイントプレゼント!データ3GB（税込1,078円）x5カ月分がポイント還元で実質5カ月無料！',
    },
    {// Apple Watch 9_231121
      href: `${sitepath}product/apple-watch/?l-id=top_carousel_product_apple-watch`,
      imgPath: `${sitepath}assets/img/bnr/bnr-apple-watch-1032-300-231121.png`,
      alt: 'Apple Watch Series 9 頭脳、明るさ、パワーの未来形。',
    },
    {//iPhone 15 Pro led_240416
      href: `${sitepath}product/iphone/?l-id=top_carousel_product_iphone`,
      imgPath: `${sitepath}assets/img/bnr/bnr-iphone-15-pro-led-1032-300-240416.png`,
      alt: 'iPhone 15 Pro 次世代のポートレート。焦点コントロールに対応。',
    },
    {//Rakuten Turbo CPN_240221
      href: `${sitepath}internet/turbo/campaign/six-month-free/?l-id=top_carousel_internet_turbo_campaign_six-month-free`,
      imgPath: `${sitepath}assets/img/bnr/bnr-turbo_campaign_six-month-free-1032-300.png`,
      alt: 'Rakuten Turbo 工事不要！すぐに使えるおうちのWi-Fi コンセントにさすだけ！ プラン料金6カ月0円 さらに、スマホとセットで使うと20,000ポイント還元！7カ月目以降のプラン料金が実質4カ月無料 さらに、楽天市場のお買い物がポイント毎日全員7倍 ※Wi-Fiの接続が必要 ※製品代金 別途41,580円。月額プラン料金7カ月目以降4,840円 ※ポイントはRakuten Turboの課金が確認された月の翌々月末日ごろに進呈 ※その他条件あり',
    },
  ];
-%>
<%
  // 契約SP
  const pitariHikariSp = [
    {// 最強家族プログラム_240410
      href: `${sitepath}fee/family/?l-id=top_carousel_fee_family`,
      imgPath: `${sitepath}assets/img/bnr/bnr-saikyo-family-program-375-192-240410.png`,
      alt:  '最強家族プログラムは データ３GB（家族割引のみ適用時）全キャリア最安880円/月～（税込968円～）※2024年2月時点 ※通話料等別',
    },
    {// 紹介CPN_240201
      href: `${sitepath}campaign/referral/?l-id=top_carousel_campaign_referral`,
      imgPath: `${sitepath}assets/img/bnr/bnr-referral-375-192-240201.png`,
      alt: '楽天モバイル紹介キャンペーン',
    },
    {//マラソン_240521
      href: `${sitepath}campaign/marathon/?l-id=top_carousel_campaign_bigsale `,
      imgPath: `${sitepath}assets/img/bnr/bnr-marathon-375-192-240521.png`,
      alt: '楽天市場のお買い物マラソン連動企画 楽天モバイルお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン',
    },
    {//iPhone CPN_240517
      href: `${sitepath}campaign/iphone-point/?l-id=top_carousel_campaign_iphone-point`,
      imgPath: `${sitepath}assets/img/bnr/bnr-iphone-point-375-192-240517.png`,
      alt: '対象iPhoneを一括または24回払いで購入＆楽天モバイルへ初めて申し込み＆他社から電話番号そのまま乗り換えで最大32,000円相当おトク！',
    },
    {// Android値引き_240522
      href: `${sitepath}campaign/android-discount/?l-id=top_carousel_campaign_android-discount`,
      imgPath: `${sitepath}assets/img/bnr/bnr-android-discount-375-192-240522.png`,
      alt: '楽天モバイルお申し込み＆対象製品ご購入で最大26,930円値引き！',
    },
    {// Wi-Fi1円CPN_231124
      href: `${sitepath}campaign/hand-5g-wifi-pocket-1yen/?l-id=top_carousel_campaign_hand-5g-wifi-pocket-1yen`,
      imgPath: `${sitepath}assets/img/bnr/bnr-wifi-375-192-231124.png`,
      alt: 'Rakuten WiFi Pocket 2Cが楽天モバイルお申し込みで1円',
    },
    {// 買い替え超トク契約者_231110
      href: `${sitepath}service/replacement-program/?l-id=top_carousel_service_replacement-program`,
      imgPath: `${sitepath}assets/img/bnr/bnr-service-replacement-program-375-192-240221.png`,
      alt: '楽天モバイル買い替え超トクプログラムで対象のiPhoneを購入すると、本体代が最大半額分支払い不要に。',
    },
    {//iPhone 15_240430
      href: `${sitepath}product/iphone/iphone-15/?l-id=top_carousel_product_iphone-15`,
      imgPath: `${sitepath}assets/img/bnr/bnr-iphone-15-375-192-240430.png`,
      alt: 'iPhone 15。全通信キャリアで最安※ ※2024年3月27日時点。弊社調べ',
    },
    {// 最強子供プログラム_240502
      href: `${sitepath}fee/kids/?l-id=top_carousel_fee_kids`,
      imgPath: `${sitepath}assets/img/bnr/bnr-fee-kids-375-192-240502.png`,
      alt:  '最強こどもプログラム 12歳までとーってもおトク！家族割引適用後3GB 968円/月が、440ポイント還元で 実質480円（税込528円）',
    },
    {//最強青春LP_240502
      href: `${sitepath}fee/youth/?l-id=top_carousel_fee_youth`,
      imgPath: `${sitepath}assets/img/bnr/bnr-fee-youth-375-192-240502.png`,
      alt: '最強青春プログラムは22歳までずーっとダブルで安い！',
    },
    {//3GB超過利用CPN_240410
      href: `${sitepath}campaign/data3g/?l-id=top_carousel_campaign_data3g`,
      imgPath: `${sitepath}assets/img/bnr/bnr-data3g-375-192-240410.png`,
      alt: 'ご契約者様限定 毎月開催 要エントリー 初めて3GBを超えたら1,000ポイントGET！',
    },
    {//20GB超過利用CPN_240410
      href: `${sitepath}campaign/data/?l-id=top_carousel_campaign_data`,
      imgPath: `${sitepath}assets/img/bnr/bnr-data-375-192-240410.png`,
      alt: 'ご契約者様限定 毎月開催 要エントリー 初めて20GBを超えたら1,500ポイントGET！',
    },
    {// デジコン_240423
      href: `${sitepath}campaign/digital-contents/?l-id=top_carousel_campaign_digital-contents`,
      imgPath: `${sitepath}assets/img/bnr/bnr-digital-contents-375-192-240423.png`,
      alt: 'NBA、パ・リーグ、ミュージックが楽天モバイルなら追加料金0円で楽しめる！※ミュージックは30日ごとに5時間無料',
    },
    {// エリア_240514
      href: `${sitepath}area/?l-id=top_carousel_area`,
      imgPath: `${sitepath}assets/img/bnr/bnr-area-375-192-240514.png`,
      alt: 'つながりやすさも最強へ。楽天モバイルは5G通信速度で高評価を獲得！※モバイル・ネットワーク・ユーザー体感レポート（2024年4月）データ収集期間：2023年12月1日～2024年2月28日© 2024 Opensignal Inc.5Gは一部エリアで提供',
    },
    {// MNP6,000CPN_240315
      href: `${sitepath}campaign/mnp/?l-id=top_carousel_campaign_mnp`,
      imgPath: `${sitepath}assets/img/bnr/bnr-mnp-375-192-240315.png`,
      alt:  'スマホそのまま乗り換え！電話番号もそのまま他社から乗り換え＆初めてお申し込みで6,000ポイントプレゼント!データ3GB（税込1,078円）x5カ月分がポイント還元で実質5カ月無料！',
    },
    {// Apple Watch 9_231121
      href: `${sitepath}product/apple-watch/?l-id=top_carousel_product_apple-watch`,
      imgPath: `${sitepath}assets/img/bnr/bnr-apple-watch-375-192-231121.png`,
      alt: 'Apple Watch Series 9 頭脳、明るさ、パワーの未来形。',
    },
    {//iPhone 15 Pro led_240405
      href: `${sitepath}product/iphone/?l-id=top_carousel_product_iphone`,
      imgPath: `${sitepath}assets/img/bnr/bnr-iphone-15-pro-led-375-192-240416.png`,
      alt: 'iPhone 15 Pro 次世代のポートレート。焦点コントロールに対応。',
    },
    {//Rakuten Turbo CPN_240221
      href: `${sitepath}internet/turbo/campaign/six-month-free/?l-id=top_carousel_internet_turbo_campaign_six-month-free`,
      imgPath: `${sitepath}assets/img/bnr/bnr-turbo_campaign_six-month-free-375-192.png`,
      alt: 'Rakuten Turbo 工事不要！すぐに使えるおうちのWi-Fi コンセントにさすだけ！ プラン料金6カ月0円 さらに、スマホとセットで使うと20,000ポイント還元！7カ月目以降のプラン料金が実質4カ月無料 さらに、楽天市場のお買い物がポイント毎日全員7倍 ※Wi-Fiの接続が必要 ※製品代金 別途41,580円。月額プラン料金7カ月目以降4,840円 ※ポイントはRakuten Turboの課金が確認された月の翌々月末日ごろに進呈 ※その他条件あり',
    },
  ];
-%>
<div id="pitari_hikari_none">
  <div class="top-Carousel top-Utility_Show-pc">
    <div class="c-Carousel top-Carousel_Wrap js-hikari-none-top-Carousel">
      <%_ pitariHikariNonePc.forEach((item, idx, array) => { -%>
      <a href="<%- item.href %>"<% if( item.target ) { %> target="<%- item.target %>"<%_ } _%>>
        <%_ if (idx < 2 || idx === array.length -1) { _%>
        <img src="<%- item.imgPath %>" width="1032" height="300" alt="<%- item.alt %>">
        <%_ } else { _%>
        <img data-lazy="<%- item.imgPath %>" width="1032" height="300" alt="<%- item.alt %>">
        <%_ } _%>
      </a>
      <%_ }) -%>
    </div>
    <div class="c-Carousel_Nav-v2-wrap">
      <div class="c-Carousel_Nav-v2"></div>
    </div>
  </div>
  <div class="top-Carousel top-Utility_Show-sp">
    <div class="c-Carousel top-Carousel_Wrap js-hikari-none-top-Carousel-sp">
      <%_ pitariHikariNoneSp.forEach((item, idx) => { -%>
      <a href="<%- item.href %>"<% if( item.target ) { %> target="<%- item.target %>"<%_ } _%>>
        <%_ if (idx < 1) { _%>
        <img src="<%- item.imgPath %>" width="375" height="192" alt="<%- item.alt %>">
        <%_ } else { _%>
        <img data-lazy="<%- item.imgPath %>" width="375" height="192" alt="<%- item.alt %>">
        <%_ } _%>
      </a>
      <%_ }) -%>
    </div>
    <div class="l-System_Container">
      <div class="c-Carousel_Nav-v2"></div>
    </div>
  </div>
</div>
<div id="pitari_hikari" style="display:none;">
  <div class="top-Carousel top-Utility_Show-pc">
    <div class="c-Carousel top-Carousel_Wrap js-hikari-top-Carousel">
      <%_ pitariHikariPc.forEach((item, idx, array) => { -%>
      <a href="<%- item.href %>"<% if( item.target ) { %> target="<%- item.target %>"<%_ } _%>>
        <%_ if (idx < 2|| idx === array.length -1) { _%>
        <img src="<%- item.imgPath %>" width="1032" height="300" alt="<%- item.alt %>">
        <%_ } else { _%>
        <img data-lazy="<%- item.imgPath %>" width="1032" height="300" alt="<%- item.alt %>">
        <%_ } _%>
      </a>
      <%_ }) -%>
    </div>
    <div class="c-Carousel_Nav-v2-wrap">
      <div class="c-Carousel_Nav-v2"></div>
    </div>
  </div>
  <div class="top-Carousel top-Utility_Show-sp">
    <div class="c-Carousel top-Carousel_Wrap js-hikari-top-Carousel-sp">
      <%_ pitariHikariSp.forEach((item, idx) => { -%>
      <a href="<%- item.href %>"<% if( item.target ) { %> target="<%- item.target %>"<%_ } _%>>
        <%_ if (idx < 1) { _%>
        <img src="<%- item.imgPath %>" width="375" height="192" alt="<%- item.alt %>">
        <%_ } else { _%>
        <img data-lazy="<%- item.imgPath %>" width="375" height="192" alt="<%- item.alt %>">
        <%_ } _%>
      </a>
      <%_ }) -%>
    </div>
    <div class="l-System_Container">
      <div class="c-Carousel_Nav-v2"></div>
    </div>
  </div>
</div>
<div class="l-System_Container">
  <div class="top-Carousel_Link">
    <%_ if (typeof l_id !== 'undefined') { _%>
      <a href="<%= sitepath %>campaign/?l-id=<%- l_id %>" class="c-Link_Txt-inline">キャンペーン一覧を見る<span class="c-Icon_Chevron-right"></span></a>
    <%_ } else { _%>
    <a href="<%= sitepath %>campaign/?l-id=top_carousel_campaign" class="c-Link_Txt-inline">キャンペーン一覧を見る<span class="c-Icon_Chevron-right"></span></a>
    <%_ } _%>
  </div>
</div>
