<div class="top-Carousel_Product">
  <div class="c-Carousel top-Carousel_Product_Wrap js-top-Carousel-product-watch">

    <!--  read me                            -->
    <!--  top-Carousel_Pattern-A 実質0円      -->
    <!--  top-Carousel_Pattern-B 赤字強調あり  -->
    <!--  top-Carousel_Pattern-C 赤字強調なし  -->

    <!-- Apple Watch Series 9-->
    <div class="top-Carousel_Product-inner-box">
      <a class="c-Card_Normal top-Carousel_Item-watch top-Carousel_Pattern-B" href="<%= sitepath %>product/apple-watch/apple-watch-series9/?l-id=top_p-carousel_product_apple-watch_apple-watch-series9">
        <div class="top-Carousel_Flex-column" style="justify-content: center">
          <div class="top-Carousel_Flex">
            <div class="top-Carousel_Img-watch">
              <img class="top-Carousel_Img-watch-76" src="<%= sitepath %>assets/img/top/product/apple-watch/Apple_Watch_Series9_lineup-230915.png" width="76" height="91" alt="Apple Watch Series 9" loading="lazy">
            </div>
            <div class="top-Carousel_Txt">
              <p class="top-Carousel_Label-new-watch">NEW</p>
              <p class="top-Carousel_Name" style="margin: inherit">Apple Watch Series 9</p>
              <p class="top-Carousel_Price-after u-Adjust_Mt-8">製品価格<span class="top-Carousel_Price-font">80,800</span>円〜</p>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!-- // -->

    <!-- Apple Watch Series Ultra2-->
    <div class="top-Carousel_Product-inner-box">
      <a class="c-Card_Normal top-Carousel_Item-watch top-Carousel_Pattern-B" href="<%= sitepath %>product/apple-watch/apple-watch-ultra-2/?l-id=top_p-carousel_product_apple-watch_apple-watch-ultra-2">
        <div class="top-Carousel_Flex-column" style="justify-content: center">
          <div class="top-Carousel_Flex">
            <div class="top-Carousel_Img-watch">
              <img class="top-Carousel_Img-watch-76" src="<%= sitepath %>assets/img/top/product/apple-watch/Apple_Watch_Ultra2_lineup-230915.png" width="76" height="91" alt="Apple Watch Ultra2" loading="lazy">
            </div>
            <div class="top-Carousel_Txt">
              <p class="top-Carousel_Label-new-watch">NEW</p>
              <p class="top-Carousel_Name" style="margin: inherit">Apple Watch Ultra 2</p>
              <p class="top-Carousel_Price-after u-Adjust_Mt-8">製品価格<span class="top-Carousel_Price-font">136,800</span>円〜</p>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!-- // -->

    <!-- Apple Watch Series SE 2nd-->
    <div class="top-Carousel_Product-inner-box">
      <a class="c-Card_Normal top-Carousel_Item-watch top-Carousel_Pattern-B" href="<%= sitepath %>product/apple-watch/apple-watch-se-2nd-2023/?l-id=top_p-carousel_product_apple-watch_apple-watch-se-2nd-2023">
        <div class="top-Carousel_Flex-column" style="justify-content: center">
          <div class="top-Carousel_Flex">
            <div class="top-Carousel_Img-watch">
              <img class="top-Carousel_Img-watch-76" src="<%= sitepath %>assets/img/top/product/apple-watch/Apple_Watch_SE2_lineup-230915.png" width="76" height="91" alt="Apple Watch SE（第2世代）" loading="lazy">
            </div>
            <div class="top-Carousel_Txt">
              <p class="top-Carousel_Label-new-watch">NEW</p>
              <p class="top-Carousel_Name" style="margin: inherit">Apple Watch SE（第2世代）</p>
              <p class="top-Carousel_Price-after u-Adjust_Mt-8">製品価格<span class="top-Carousel_Price-font">45,400</span>円〜</p>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!-- // -->

    <!-- Apple Watch Series 8-->
    <div class="top-Carousel_Product-inner-box">
      <a class="c-Card_Normal top-Carousel_Item-watch top-Carousel_Pattern-B" href="<%= sitepath %>product/apple-watch/apple-watch-series8/?l-id=top_p-carousel_product_apple-watch_apple-watch-series8">
        <div class="top-Carousel_Flex-column u-Adjust_Mt-16" style="justify-content: center">
          <div class="top-Carousel_Flex">
            <div class="top-Carousel_Img-watch">
              <img class="top-Carousel_Img-watch-76" src="<%= sitepath %>assets/img/top/product/apple-watch/Apple_Watch_Series8_lineup-220909.png" width="76" height="91" alt="Apple Watch Series 8" loading="lazy">
            </div>
            <div class="top-Carousel_Txt">
              <p class="top-Carousel_Name" style="margin: inherit">Apple Watch Series 8</p>
              <p class="top-Carousel_Price-after u-Adjust_Mt-8">製品価格<span class="top-Carousel_Price-font">74,800</span>円〜</p>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!-- // -->

    <!-- Apple Watch Series Ultra-->
    <div class="top-Carousel_Product-inner-box">
      <a class="c-Card_Normal top-Carousel_Item-watch top-Carousel_Pattern-B" href="<%= sitepath %>product/apple-watch/apple-watch-ultra/?l-id=top_p-carousel_product_apple-watch_apple-watch-ultra">
        <div class="top-Carousel_Flex-column" style="justify-content: center">
          <div class="top-Carousel_Flex">
            <div class="top-Carousel_Img-watch">
              <img class="top-Carousel_Img-watch-76" src="<%= sitepath %>assets/img/top/product/apple-watch/Apple_Watch_Ultra_lineup-220909.png" width="76" height="91" alt="Apple Watch Ultra" loading="lazy">
            </div>
            <div class="top-Carousel_Txt">
              <p class="c-Txt_Emp-02">10月11日より値下げ</p>
              <p class="top-Carousel_Name u-Adjust_Mt-0 u-Adjust_Pt-0">Apple Watch Ultra</p>
              <p class="top-Carousel_Price-after">
                製品価格<span ><s>124,800</s></span>円<sup>*</sup>〜
                →<span style="font-weight: bold;">119,900</span>円
              </p>
              <p class="c-Txt_Cap">
                *楽天モバイルでの販売価格（販売期間：2022年9月10日～2023年10月10日）
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!-- // -->

  </div>
  <div class="c-Carousel_Nav-v2-wrap top-Carousel_Product-nav">
    <div class="c-Carousel_Nav-v2"></div>
    <div class="c-Carousel_Nav-v2-bar"></div>
  </div>
</div>
