<%-
 include('/_header', {
    top: true,
    pagetitle: 'トップ',
    description: '楽天モバイル公式。料金プラン「Rakuten最強プラン」は、家族割引適用時データ3GB/無制限で全キャリア最安！ 家族割引適用で880円/月（税込968円）～データ高速無制限で2,880円/月（税込3,168円）。最新のiPhoneや人気のAndroidスマートフォンも続々登場！※2024年2月時点 ※公平なサービスのため、速度制限の場合あり。環境により速度低下する場合あり',
    noindex: true,
    pathname: '/',
    canonical_custom: 'https://network.mobile.rakuten.co.jp/',
    browseragent: false
  });
%>
<!-- Preload critical styles -->
<link rel="preload" href="<%= sitepath %>assets/css/top/common-v2.optimized.css<%= common_v2_param %>" as="style">
<link rel="preload" href="<%= sitepath %>assets/css/top/top-critical.optimized.css?240502" as="style">
<link rel="preload" href="<%= sitepath %>assets/css/inc/i-login.css?20240424" as="style">

<!-- Sync load critical styles -->
<link rel="stylesheet" href="<%= sitepath %>assets/css/top/common-v2.optimized.css<%= common_v2_param %>">
<link rel="stylesheet" href="<%= sitepath %>assets/css/top/top-critical.optimized.css?240502">
<%- include('/include/login-gadget/_css') %>

<!-- Async load uncritical styles -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400%3B700&display=swap" media="print" onload="this.media='all'">
<link rel="stylesheet" href="<%= sitepath %>assets/css/top/top-uncritical.optimized.css?240521" media="print" onload="this.media='all'">
<link rel="stylesheet" href="<%= sitepath %>assets/css/inc/i-promoting-the-no1-rate-plan.css?240521">
<link rel="stylesheet" href="<%= sitepath %>assets/css/inc/i-replacement-program-product.css" media="print" onload="this.media='all'">

<%- include('/include/_append-head') %>
<%# Banditの設定をOFFにするために追加２行 %>
<script src="https://www.rakuten.co.jp/com/advance/mobile/mnoprj_hikari/responsive/condition.js"></script>
<script src="https://www.rakuten.co.jp/com/advance/mobile/mnoprj_gadget_top/responsive/condition.js"></script>
<script src="https://www.rakuten.co.jp/com/advance/mobile/mnoprj_gadget_simulation/responsive/condition.js"></script>
<script src="https://www.rakuten.co.jp/com/advance/mobile/mnoprj_prefectures/pc/16441/condition_pre.js"></script>
<script src="https://www.rakuten.co.jp/com/advance/mobile/mnoprj_FintechKYC_mno_top/responsive/condition.js"></script>
<script src="https://r.r10s.jp/com/ap/target/phoenix-3.2.2.min.js"></script>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js" defer></script>
<script src="<%= sitepath %>assets/js/common.top.bundle.js?20240521" defer></script>
<script src="<%= sitepath %>assets/js/vendor.bundle.js?20240521" defer></script>
<script src="<%= sitepath %>assets/js/search.common.bundle.js?20240521" defer></script>

<script src="<%= sitepath %>assets/js/top.bundle.js?20240522" defer></script>
<%- include('/include/login-gadget/_js') %>

<script type="text/javascript" src="https://r.r10s.jp/com/rat/js/rat-sec.js" defer></script>

</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header', {
  page: 'top'
}) %>

<div class="top-Layout_Heading" id="login-Gadget_Wrap">
  <div class="top-Heading_Banner">
    <a href="<%= sitepath %>campaign/fee-simulation/?l-id=top_header-bnr_campaign_fee-simulation">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/top/img-fee-simulation-sp-240201.png" width="375" height="48">
        <img src="<%= sitepath %>assets/img/top/img-fee-simulation-pc-240201.png" width="1032" height="48" alt="たったの3ステップ！スマホ料金をチェックするだけで100ポイントプレゼント！※1回限り、その他条件あり">
      </picture>
    </a>
  </div>

  <div id="js-disaster" class="l-System_Container top-Disaster_Msgboard-wrapper" aria-hidden="true">
    <div class="c-Accordion top-Disaster_Accordion">
      <button type="button" id="accordion-disaster" class="c-Accordion_Trigger js-Accordion_Trigger top-Disaster_Accordion-trigger" aria-expanded="false" aria-controls="accordion-content-disaster"><span class="c-Icon_Chevron-right c-Accordion_Arrow top-Disaster_Accordion-arrow"></span>災害用伝言板 提供中</button>
      <div id="accordion-content-disaster" class="c-Accordion_Panel js-Accordion_Panel top-Disaster_Accordion-panel" role="region" aria-labelledby="accordion-disaster" aria-hidden="true">
        <div class="top-Disaster_Msgboard">
          <p class="top-Disaster_Msgboard-txt">パソコンや携帯電話からもご利用できます。<br class="u-Show_Oox"><a href="<%= sitepath %>service/disaster_board/" class="c-Link_Txt">ご利用方法はこちら</a></p>
          <p class="top-Disaster_Msgboard-btn-wrap">
            <a href="https://public-safety.mobile.rakuten.co.jp/?lang=ja" class="c-Btn_Primary top-Disaster_Msgboard-btn" target="_blank"><span>安否情報を確認・登録する</span></a>
            <a href="https://public-safety.mobile.rakuten.co.jp/?lang=en" class="c-Link_Txt-inline" target="_blank">[ENG] Disaster Message Board<span class="c-Icon_Chevron-right"></span></a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="js-disaster-preview" class="top-Disaster_MsgboardTrial-wrapper" aria-hidden="true">
    <div class="l-System_Container">
      <div class="top-Disaster_MsgboardTrial">
        <p class="c-Txt_Emp-01">災害用伝言板 体験サービス実施中</p>
        <ul>
          <li><a href="<%= sitepath %>service/disaster_board/#trial-services" class="c-Link_Txt-inline">体験サービスの詳細を見る<span class="c-Icon_Chevron-right"></span></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="login-Gadget_Free" aria-hidden="true">
    <%- include('/inc/_login-gadget', {page: 'top'}) %>
  </div>
  <%- include('/include/top/_top-login') %>
  <%- include('/include/top/_top-login-gadget') %>


  <div class="u-Rat_Appear-height" data-ratid="area-prefecture-gadget" data-ratevent="appear" data-ratparam="all"></div>
  <div class="l-System_Container" id="js-prefecture" style="display: none;">
    <div class="u-Rat_Appear-height" data-ratid="" data-ratevent="appear" data-ratparam="all" id="js-prefecture-appear-up"></div>
    <div class="u-Rat_Appear-height" data-ratid="" data-ratevent="appear" data-ratparam="all" id="js-prefecture-appear-all-up"></div>
    <div class="u-Adjust_Pb-16">
      <div class="top-Prefecture_Box">
        <div class="top-Prefecture_Img"><a href="<%= sitepath %>area/tokyo/?l-id=top_area_tokyo" id="js-prefecture-area-img"><img src="<%= sitepath %>assets/img/common/prefecture/prefecture-map-tokyo.png" alt="" id="js-prefecture-img" width="153" height="84"></a></div>
        <div class="top-Prefecture_Wrap">
          <div class="top-Prefecture_Txt-wrap">
            <div class="top-Prefecture_Case">
              <p class="top-Prefecture_Txt"><span class="top-Prefecture_Txt-1 c-Txt_Emp-02 js-prefecture-name"></span><span class="top-Prefecture_Txt-2">でも</span><br class="u-Show_Oox"><span class="top-Prefecture_Txt-3">人口カバー率</span><span class="c-Txt_Emp-02 top-Prefecture_Txt-4"><span id="js-prefecture-share1"></span><span class="top-Prefecture_Txt-5">.<span id="js-prefecture-share2"></span><span class="top-Prefecture_Txt-6">%</span></span></span><sup class="c-Txt_Cap">※6</sup></p>
            </div>
            <p class="top-Prefecture_Txt-sub"><span class="c-Txt_Emp-02 top-Prefecture_Txt-7">全通信エリア、データ高速無制限</span><span class="top-Prefecture_Txt-8">で</span><span class="top-Prefecture_Txt-9">つながる!</span><sup class="c-Txt_Cap">※2</sup></p>
          </div>
          <div class="top-Prefecture_Link-frame">
            <div class="top-Prefecture_Btn-wrap">
              <div class="top-Prefecture_Btn-case">
                <a href="<%= sitepath %>shop/search/?l-id=top_shop_search_tokyo&prefecture=東京都&city=" class="c-Btn_Regular top-Prefecture_Btn" id="js-prefecture-shop">
                  <span><span class="u-Show_Xxo">お近くの</span>ショップを探す</span>
                </a>
              </div>
              <div class="top-Prefecture_Btn-case">
                <a href="<%= sitepath %>area/?l-id=top_area" class="c-Btn_Regular top-Prefecture_Btn" id="js-prefecture-map">
                <span>サービスエリア<span class="u-Show_Xxo">マップを</span>確認</span>
                </a>
              </div>
            </div>
            <div class="top-Prefecture_Link-wrap">
              <a href="<%= sitepath %>area/tokyo/?l-id=top_area_tokyo" id="js-prefecture-area" class="c-Link_Txt-inline">
                <em class="js-prefecture-name"></em>の情報をさらに詳しく<span class="c-Icon_Chevron-right"></span>
              </a>
            </div>
          </div>
          <input type="hidden" name="pitari_phx_pattern_prefecture" id="phx_pattern_name_prefecture" value="">
          <input type="hidden" name="krt_prefecture" id="krt_prefecture" value="">
        </div>
      </div>
    </div>
    <div class="u-Rat_Appear-height" data-ratid="" data-ratevent="appear" data-ratparam="all" id="js-prefecture-appear"></div>
    <div class="u-Rat_Appear-height" data-ratid="" data-ratevent="appear" data-ratparam="all" id="js-prefecture-appear-all"></div>
  </div>
  <div id="js-prefecture-none" style="display: none;">
    <div class="u-Rat_Appear-height" data-ratid="area_none-login-pitari" data-ratevent="appear" data-ratparam="all" id="js-prefecture-rat-none"></div>
  </div>
  <div id="js-prefecture-none-inhouse" style="display: none;">
    <div class="u-Rat_Appear-height" data-ratid="area_other-inhouse" data-ratevent="appear" data-ratparam="all" id="js-prefecture-rat-none-inhouse"></div>
  </div>
  <div id="js-prefecture-sp-inhouse" style="display: none;">
    <div class="u-Rat_Appear-height" data-ratid="area_sp-inhouse" data-ratevent="appear" data-ratparam="all" id="js-prefecture-rat-sp-inhouse"></div>
  </div>
  <div id="js-prefecture-appear-ip-none" style="display: none;">
    <div class="u-Rat_Appear-height" data-ratid="area_ip-inhouse" data-ratevent="appear" data-ratparam="all" id="js-prefecture-rat-ip-inhouse"></div>
  </div>
  <div id="js-inhouse" style="display: none;">
    <div class="u-Rat_Appear-height" data-ratid="" data-ratevent="appear" data-ratparam="all" id="js-inhouse-accuracy"></div>
  </div>
</div>

<%- include('/include/top/_top-carousel') %>
<%#- include('/include/top/_top-carousel-movie') %>

<div class="l-System_Container">
  <div class="top-Application_Btn-wrapper u-Adjust_Mt-24 u-Adjust_Mt-pc-32">
    <div>
      <a href="<%= sitepath %>guide/application/?type=pitari&l-id=top_button_guide" class="c-Btn_Primary-large top-Application_Btn-custom">
        <span>新規／乗り換え（MNP）お申し込み</span>
      </a>
    </div>
    <div>
      <a href="<%= sitepath %>shop/?l-id=top_shop" class="c-Btn_Secondly-large top-Application_Btn-custom">
        <span>お近くのショップを探す・来店予約</span>
      </a>
    </div>
  </div>
  <div class="top-Application_Link-wrapper u-Adjust_Mt-24 u-Adjust_Mt-pc-32">
    <div>
      <a href="<%= sitepath %>guide/application-support/?l-id=top_guide_application-support" class="c-Link_Txt-inline">
        オペレーターと相談しながらお申し込み！詳細はこちら<span class="c-Icon_Chevron-right"></span>
      </a>
    </div>
    <div>
      <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=top_ms&mno_migration=1" class="c-Link_Txt-inline">
        楽天モバイル（ドコモ回線・au回線）からの変更手続き<span class="c-Icon_Chevron-right"></span>
      </a>
    </div>
  </div>
</div>

<div class="top-Application_Bnr l-System_Container u-Adjust_Align-center u-Adjust_Mt-32 u-Adjust_Mb-32">
  <div id="js-application-bnr">
    <a href="<%= sitepath %>shop/weekday-reservation/?l-id=top_pitari-banner_shop_weekday-reservation" class="c-Banner_Hover-act">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-weekday-reservation-343-108-240418.png" width="100%">
        <img src="<%= sitepath %>assets/img/bnr/bnr-weekday-reservation-1032-78-240418.png" width="1032" height="78" alt="平日限定！楽天モバイルショップの来店予約＆ご来店アンケートに回答で100ポイント！" loading="lazy">
      </picture>
    </a>
    <div class="u-Rat_Appear-height" id="js-application-ratid" data-ratid="top_pitari-banner_shop_weekday-reservation" data-ratevent="appear" data-ratparam="all" style="height:0">&nbsp;</div>
  </div>
</div>

<%# FIRST VIEW ABOVE %>

<%- include('/include/top/_top-important-notices') %>

<div class="top-Summary" id="js-trigger" data-ratid="top_scroll-01_saikyo-plan" data-ratevent="appear" data-ratparam="all">
  <div class="l-System_Container">
    <p class="u-Adjust_Align-center">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/top/summary-lead-sp-240410.png" width="270" height="20">
        <img src="<%= sitepath %>assets/img/top/summary-lead-pc-240410.png" width="360" height="26" alt="家族も!若者も!ずーっとおトク!" loading="lazy">
      </picture>
    </p>
    <h2 class="u-Adjust_Align-center u-Adjust_Mt-8">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/top/summary-saikyo-sp.png" width="343" height="80">
        <img src="<%= sitepath %>assets/img/top/summary-saikyo-pc.png" width="778" height="149" alt="Rakuten最強プラン" loading="lazy">
      </picture>
    </h2>
    <ul class="top-Summary_Cards u-Adjust_Mt-24">
      <li>
        <a href="#anchor-plan" class="js-scroll">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/top/card-tag-1-sp-240410.png" width="150" height="34">
            <img src="<%= sitepath %>assets/img/top/card-tag-1-pc-240410.png" width="127" height="32" alt="価格・データ通信" loading="lazy">
          </picture>
          <div class="top-Summary_Cards-mod-1 u-Adjust_Pt-24">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/top/summary-card-1-a-sp-240502.png" width="625" height="331">
              <img src="<%= sitepath %>assets/img/top/summary-card-1-a-pc-240502.png" width="806" height="126" alt="家族割引適用で3GBまで880円/月（税込968円）～データ高速無制限2,880円/月（税込3,168円）" loading="lazy">
            </picture>

            <div class="u-Adjust_Mt-8 u-Adjust_Pb-16">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/top/summary-card-1-b-sp-240502.png" width="622" height="361">
                <img src="<%= sitepath %>assets/img/top/summary-card-1-b-pc-240502.png" width="806" height="80" alt="さらに0歳~22歳まではもーっとおトク！※要エントリー 22歳まで 毎月110ポイント還元* 12歳まで データ3G毎月440ポイント還元!* ※3GB超過後は110ポイント還元" loading="lazy">
              </picture>
            </div>

          </div>
          <div class="top-Summary_Cards-icon-wrap">
            <p class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>詳細を見る</p>
          </div>
        </a>
      </li>
      <li>
        <a href="#anchor-call" class="js-scroll">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/top/card-tag-2-sp-240410.png" width="56" height="30">
            <img src="<%= sitepath %>assets/img/top/card-tag-2-pc-240410.png" width="52" height="32" alt="通話" loading="lazy">
          </picture>
          <div>
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/top/summary-card-2-sp-240423.png" width="630" height="142">
              <img src="<%= sitepath %>assets/img/top/summary-card-2-pc-240423.png" width="378" height="90" alt="アプリ利用で国内通話無料※一部対象外番号あり※2" loading="lazy">
            </picture>
          </div>
          <div class="top-Summary_Cards-icon-wrap">
            <p class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>詳細を見る</p>
          </div>
        </a>
      </li>
      <li>
        <a href="<%= sitepath %>campaign/spu/?l-id=top_campaign_spu02">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/top/card-tag-3-sp-240410.png" width="123" height="30">
            <img src="<%= sitepath %>assets/img/top/card-tag-3-pc-240410.png" width="102" height="32" alt="楽天ポイント" loading="lazy">
          </picture>
          <div>
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/top/summary-card-3-sp-240423.png" width="630" height="195">
              <img src="<%= sitepath %>assets/img/top/summary-card-3-pc-240423.png" width="378" height="90" alt="楽天市場のお買い物ポイント毎日全員ポイント5倍 ※3 でポイントザクザク貯まって、スマホ代の支払いにも使える！" loading="lazy">
            </picture>
          </div>
          <div class="top-Summary_Cards-icon-wrap">
            <div class="top-Summary_Cards-icon-chevron-right"></div>
          </div>
        </a>
      </li>
      <li>
        <a href="<%= sitepath %>campaign/digital-contents/?l-id=top_campaign_digital-contents">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/top/card-tag-4-sp-240410.png" width="96" height="30">
            <img src="<%= sitepath %>assets/img/top/card-tag-4-pc-240410.png" width="80" height="32" alt="エンタメ" loading="lazy">
          </picture>
          <div>
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/top/summary-card-4-sp-240423.png" width="630" height="202">
              <img src="<%= sitepath %>assets/img/top/summary-card-4-pc-240423.png" width="378" height="106" alt="NBA、パ・リーグ、ミュージックが追加料金0円で楽しめる！※4" loading="lazy">
            </picture>
          </div>
          <div class="top-Summary_Cards-icon-wrap">
            <div class="top-Summary_Cards-icon-chevron-right"></div>
          </div>
        </a>
      </li>
      <li>
        <a href="<%= sitepath %>service/global/overseas/?l-id=top_service_global_overseas">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/top/card-tag-5-sp-240410.png" width="64" height="30">
            <img src="<%= sitepath %>assets/img/top/card-tag-5-pc-240410.png" width="52" height="32" alt="海外" loading="lazy">
          </picture>
          <div>
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/top/summary-card-5-sp-240423.png" width="630" height="139">
              <img src="<%= sitepath %>assets/img/top/summary-card-5-pc-240423.png" width="378" height="106" alt="毎月2GBまで海外で無料 ※プランのデータ利用量に加算 ※5" loading="lazy">
            </picture>
          </div>
          <div class="top-Summary_Cards-icon-wrap">
            <div class="top-Summary_Cards-icon-chevron-right"></div>
          </div>
        </a>
      </li>
    </ul>
    <div class="u-Adjust_Mt-16 u-Adjust_Mt-pc-24 u-Adjust_Align-center">
      <a href="<%= sitepath %>fee/saikyo-plan/?l-id=top_saikyo-plan-banner_fee_saikyo-plan01" class="c-Btn_Secondly-large">料金プランの詳細を見る</a>
    </div>
    <p class="c-Txt_Cap top-Summary_Cap u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
      *期間限定ポイント。全ての条件を満たしたことが確認された月の翌々月末日ごろに付与 ※1 公平なサービス提供または環境により速度低下する場合あり ※2 一部対象外番号あり。アプリ未使用時30秒22円 ※3 毎月の獲得上限ポイントは2,000ポイント。期間限定ポイント ※4 各キャンペーンは予告なく変更・終了する場合あり。その他一部条件あり ※5 通話料等別。2GB超過後は最大128kbps。対象エリア及び条件は変更する場合あり<br>
      ※<a href="#caution" class="c-Link_Txt c-Link_Txt-white js-scroll">その他条件詳細はこちら</a>
    </p>
  </div>
</div>

<section class="u-Adjust_My-40">
  <div class="l-System_Container">

    <div class="u-Adjust_Align-center">
      <h4 class="c-Heading_Lv4">今田美桜さん出演Web CM公開中！</h4>
    </div>

    <div class="u-Adjust_Mt-16 top-Layout_Movie">
      <video
        data-account="5068808272001"
        data-player="default"
        data-embed="default"
        data-video-id="6347966035112"
        class="video-js media"
        controls
        data-rat-media='{ "measure":true, "mediaId": "commercial_imada" }'
        preload="none"
        >
      </video>
    </div>
    <div class="u-Adjust_Align-center">
      <a href="<%= sitepath %>ad/lp/uservoice/?l-id=top_ad_lp_uservoice" class="c-Btn_Regular u-Adjust_Mt-16"><span>詳細を見る</span></a>
    </div>
  </div>
</section>

<div class="l-System_Container">
  <div>
    <p id="anchor-plan" class="u-Adjust_Align-center" data-ratid="top_scroll-02_saikyo-plan-price" data-ratevent="appear" data-ratparam="all"><img src="<%= sitepath %>assets/img/top/plan-catch.png" width="120" height="44" alt="価格" loading="lazy"></p>
    <h2 class="u-Adjust_Align-center u-Adjust_Mt-8">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/top/plan-ttl-sp.png" width="297" height="62">
        <img src="<%= sitepath %>assets/img/top/plan-ttl-pc.png" width="436" height="95" alt="使わなければ勝手に安くなるおトクなワンプラン" loading="lazy">
      </picture>
    </h2>

    <div class="c-Tab js-Tab u-Adjust_Mt-32 ">
      <ul class="c-Tab_Items" role="tablist">
          <li class="c-Tab_Item top-Plan_Tab-label" id="tab-menu-plan-family-discount" role="tab" aria-selected="true" aria-controls="family-discount-content" data-ratid="top-plan_click-01_saikyo-family-program" data-ratevent="click" data-ratparam="all">家族割引適用料金</li>
          <li class="c-Tab_Item top-Plan_Tab-label" id="tab-menu-plan-normal" role="tab" aria-selected="false" aria-controls="plan-normal-content" data-ratid="top-plan_click-02_normal" data-ratevent="click" data-ratparam="all">未適用の料金</li>
      </ul>
      <div class="c-Tab_Panel top-Plan_Tab-content" id="family-discount-content" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu-family-discount">
          <div class="u-Adjust_Align-center">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/top/plan-ladder-family-sp-240410.png" width="574" height="507">
              <img src="<%= sitepath %>assets/img/top/plan-ladder-family-pc-240410.png" width="878" height="362" alt="家族割引適用後100円（税別）引きで、20GB超過後どれだけ使っても無制限※1 で2,880円/月(税込3,168円)、3GB超過後20GBまでは1,880 円/月(税込2,068円)  、3GBまでは880円/月(税込968円) 。毎月のデータ利用量に応じて最適な料金に！" loading="lazy">
            </picture>
          </div>
          <p class="c-Txt_Cap u-Align_Llc u-Adjust_Mt-8">
            ※1 公平なサービス提供または環境により速度低下する場合あり※通話料等別
          </p>
      </div>
      <div class="c-Tab_Panel top-Plan_Tab-content" id="plan-normal-content" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu-plan-normal">
          <div class="u-Adjust_Align-center">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/top/plan-ladder-normal-sp-240410.png" width="574" height="510">
              <img src="<%= sitepath %>assets/img/top/plan-ladder-normal-pc-240410.png" width="878" height="362" alt="データ高速無制限で圧倒的低価格！20GB超過後どれだけ使っても無制限※1 で2,980円/月(税込3,278円) 3GB超過後20GBまでは1,980 円/月(税込2,178円)  3GBまでは980円/月(税込1,078円) " loading="lazy">
            </picture>
          </div>
          <p class="c-Txt_Cap u-Align_Llc u-Adjust_Mt-8">
            ※全キャリアのデータ無制限プランで比較した場合、最も安いこと。2024年2月時点。自社調べ ※1 公平なサービス提供または環境により速度低下する場合あり※通話料等別
          </p>
      </div>
    </div>

    <section class="top-Layout_Plan-program u-Adjust_Mt-32 u-Adjust_Align-center">

      <div class="top-Layout_Plan-program-inner">
        <picture >
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/top/img-program-family-sp-240502.png" width="686" height="389">
          <img src="<%= sitepath %>assets/img/top/img-program-family-pc-240502.png" width="1032" height="171" alt="最強青春プログラム" loading="lazy">
        </picture>
        <a href="<%= sitepath %>fee/family/?l-id=top_fee_family" class="c-Btn_Regular top-Layout_Plan-program-btn"><span>詳細を見る</span></a>
      </div>

      <h3 class="u-Adjust_Align-center c-Heading_Lv3 u-Adjust_Mt-32">
        0歳から22歳までは<br class="u-Show_Oxx"><span class="c-Txt_Emp-02">もーっとおトク!</span>
      </h3>
      <div class="top-Layout_Plan-program-flex-inner u-Adjust_Mt-8">
        <div class="top-Layout_Plan-program-flex-item">
          <picture >
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/top/img-program-seisyun-sp-240502.png" width="686" height="389">
            <img src="<%= sitepath %>assets/img/top/img-program-seisyun-pc-240502.png" width="504" height="170" alt="最強青春プログラム" loading="lazy">
          </picture>
          <a href="<%= sitepath %>fee/youth/?l-id=top_fee_youth" class="c-Btn_Regular top-Layout_Plan-program-flex-btn top-Layout_Plan-program-flex-btn-01"><span>詳細を見る</span></a>
        </div>
        <div class="top-Layout_Plan-program-flex-item">
          <picture >
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/top/img-program-kodomo-sp-240502.png" width="686" height="389">
            <img src="<%= sitepath %>assets/img/top/img-program-kodomo-pc-240502.png" width="504" height="170" alt="最強こどもプログラム" loading="lazy">
          </picture>
          <a href="<%= sitepath %>fee/kids/?l-id=top_fee_kids" class="c-Btn_Regular top-Layout_Plan-program-flex-btn"><span>詳細を見る</span></a>
        </div>
      </div>
      <p class="c-Txt_Cap u-Adjust_Align-center u-Adjust_Mt-8">※要エントリー。期間限定ポイント。</p>
    </section>

  </div>
</div>

<div class="top-Datatrans_Container u-Adjust_Mt-40 u-Adjust_Mt-pc-64">
  <div class="top-Datatrans">

    <div class="l-System_Container">
      <p class="u-Adjust_Align-center" data-ratid="top_scroll-03_saikyo-plan-data" data-ratevent="appear" data-ratparam="all"><img src="<%= sitepath %>assets/img/top/data-catch.png" width="195" height="41" alt="データ通信"></p>
      <h2 class="u-Adjust_Align-center u-Adjust_Mt-8">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/top/data-ttl-sp.png" width="308" height="62">
          <img src="<%= sitepath %>assets/img/top/data-ttl-pc.png" width="463" height="147" alt="日本全国の通信エリアどこでもデータ高速無制限!※1" loading="lazy">
        </picture>
      </h2>
      <div class="top-Datatrans_Box u-Adjust_Mt-24">
        <div>
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/top/map-sp.png?240221" width="550" height="504">
            <img src="<%= sitepath %>assets/img/top/map-pc.png?240221" width="345" height="315" alt="最も多くの地域で業界最高水準の通信品質評価を獲得！※ 人口カバー率は99.9％  ※6" loading="lazy"><%# alt不整合 %>
          </picture>
        </div>
        <div class="u-Show_Xxo">
          <div class="u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/top/quality-emblem.png" width="261" height="124" alt="最も多くの地域で業界最高水準の通信品質評価を獲得！※" loading="lazy">
          </div>
          <div class="u-Adjust_Align-center u-Adjust_Mt-16">
            <a href="<%= sitepath %>area/?l-id=top_area" class="c-Btn_Regular">通信エリアの詳細を見る</a>
          </div>
          <p class="c-Txt_Cap u-Align_Llc u-Adjust_Mt-16">
            ※1 公平なサービス提供または環境により速度低下する場合あり<br>
            ※Opensignal社データ（2023年8月時点）の当社分析に基づく。30府県で「一貫した品質」のRank1を獲得。詳細はページ下部「<a href="#opensignal" class="c-Link_Txt js-scroll">Opensignal社データについて</a>」に記載<br>
            ※6 2023年9月時点。<a href="#caution" class="c-Link_Txt js-scroll">その他条件の詳細はこちら</a>
          </p>
        </div>
      </div>
      <div class="u-Show_Oox">
        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
          <a href="<%= sitepath %>area/?l-id=top_area" class="c-Btn_Regular">通信エリアの詳細を見る</a>
        </div>
        <p class="c-Txt_Cap u-Align_Llc u-Adjust_Mt-16">
          ※1 公平なサービス提供または環境により速度低下する場合あり<br>
          ※Opensignal社データ（2023年8月時点）の当社分析に基づく。30府県で「一貫した品質」のRank1を獲得。詳細はページ下部「<a href="#opensignal" class="c-Link_Txt js-scroll">Opensignal社データについて</a>」に記載<br>
          ※6 2023年9月時点。<a href="#caution" class="c-Link_Txt js-scroll">その他条件の詳細はこちら</a>
        </p>
      </div>

      <div class="u-Adjust_Align-center u-Adjust_Mt-32">
        <a href="<%= sitepath %>ad/reportcard/?l-id=top_ad_reportcard" class="c-Banner_Hover-act">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-ad-reportcard-328-185-240315.png" width="686" height="216">
            <img src="<%= sitepath %>assets/img/bnr/bnr-ad-reportcard-1032-160-240315.png" alt="みんなに聞いた！楽天モバイル通信簿" width="1032" heigh="160" loading="lazy">
          </picture>
        </a>
      </div>

    </div>
  </div>
</div>

<div class="top-Call_Container">
  <div class="top-Call">
    <div class="l-System_Container">
      <p id="anchor-call" class="u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/top/call-catch.png" width="116" height="40" alt="通話" loading="lazy"></p>
      <h2 class="u-Adjust_Align-center u-Adjust_Mt-8">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/top/call-ttl-sp.png" width="218" height="62">
          <img src="<%= sitepath %>assets/img/top/call-ttl-pc.png" width="326" height="95" alt="アプリ利用で国内通話無料※2" loading="lazy">
        </picture>
      </h2>
      <div class="top-Call_Box u-Adjust_Mt-24">
        <div class="top-Call_Box-img-bottom">
          <div>
            <img src="<%= sitepath %>assets/img/top/call-box-1-pc.png" width="216" height="147" alt="" loading="lazy">
          </div>
        </div>
        <div>
          <div>
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/top/call-box-2-sp.png" width="289" height="217">
              <img src="<%= sitepath %>assets/img/top/call-box-2-pc.png" width="466" height="155" alt=" 固定電話にかけてもOK、データ消費なし、お使いの電話番号そのまま" loading="lazy">
            </picture>
          </div>
          <div class="u-Adjust_My-24 u-Adjust_Align-center u-Adjust_My-sp-0">
            <a href="<%= sitepath %>service/rakuten-link/?l-id=top_service_rakuten-link" class="c-Btn_Regular">Rakuten Linkの詳細を見る</a>
          </div>
        </div>
        <div class="top-Call_Box-img-bottom">
          <div>
            <img src="<%= sitepath %>assets/img/top/call-box-3-pc.png" width="232" height="211" alt="" loading="lazy">
          </div>
        </div>
      </div>
    </div>
    <p class="c-Txt_Cap u-Adjust_Align-center u-Adjust_Mt-8">
      ※2 一部対象外番号あり。アプリ未使用時30秒22円
    </p>
  </div>
</div>
<%# 下記セクション孤立している。。本当は料金の説明に属する。 %>
<div class="l-System_Container">
  <div class="u-Adjust_Align-center u-Adjust_My-40 u-Adjust_My-pc-48" data-ratid="top_scroll-04_saikyo-plan-detail" data-ratevent="appear" data-ratparam="all">
    <a class="c-Btn_Secondly-large" href="<%= sitepath %>fee/saikyo-plan/?l-id=top_saikyo-plan-banner_fee_saikyo-plan02">料金プランの詳細を見る</a>
  </div>
</div>

<div class="top-Project_Container">
  <div class="l-System_Container u-Adjust_Pt-48">
    <h2 class="u-Adjust_Align-center">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/top/satisfaction-ttl-sp-240521.png" width="234" height="62">
        <img src="<%= sitepath %>assets/img/top/satisfaction-ttl-pc-240521.png"  width="276" height="67" alt="携帯キャリアサービスの契約数 650万回線突破!" loading="lazy">
      </picture>
    </h2>
    <p class="c-Txt_Cap u-Adjust_Align-center u-Adjust_Mt-8">
      ※2024年4月時点　<a href="https://corp.rakuten.co.jp/news/press/2024/0408_02.html" target="_blank" class="c-Link_Txt-inline">詳細はこちら<span class="c-Icon_New-window-l"></span></a>
    </p>
    <div class="top-Project">
      <div>
        <h3 class="top-Project_Heading-sub u-Adjust_Mt-16">オリコン顧客満足® 調査<br>携帯キャリア<br class="u-Show_Oox"><span class="c-Txt_Emp-02">料金プラン3年連続No.1</span></h3>
        <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <picture>
              <img class="oricon-img" src="<%= sitepath %>assets/img/top/oricon-badge.png" width="153" height="165" alt="おかげさまで顧客満足度総合No.1" loading="lazy">
            </picture>
        </div>
        <p class="u-Adjust_Mt-16 u-Adjust_Align-center c-Txt_Cap">
          ※2023年 オリコン顧客満足度®調査「携帯キャリア」総合第1位 <a href="https://life.oricon.co.jp/rank-mobile-carrier/" class="c-Link_Txt-inline" target="_blank">調査結果はこちら<span class="c-Icon_New-window-l"></span></a>
        </p>
      </div>
      <div>
        <div class="u-Adjust_Align-center">
          <img src="<%= sitepath %>assets/img/top/logo-opensignal.png" width="133" height="22" alt="Opensignal" loading="lazy">
        </div>
        <h3 class="top-Project_Heading-sub">グローバル・モバイル・<br class="u-Show_Oox">ネットワーク・<br class="u-Show_Xxo">エクスペリエンス・<br class="u-Show_Oox">アワード 2024 <span class="c-Txt_Emp-02">世界最高評価を獲得</span><span class="c-Txt_Cap">※</span></h3>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/top/img-opensignal-01-sp-240318.png" width="630" height="310">
            <img src="<%= sitepath %>assets/img/top/img-opensignal-01-pc-240318.png" width="471" height="156" alt="2部門で世界最高評価を獲得(音声アプリ通話体感受賞 モバイルゲーム体感受賞) 1部門でグローバル・リーダーに選出(アップロードスピード体感受賞)">
          </picture>
        </div>
        <p class="c-Txt_Cap u-Adjust_Mt-16">
          ※Opensignal Awards「Opensignal Global Awards 2024 — Group 1（2024年1月）／データ収集期間（2023年7月1日 ～2023年12月27日）」© 2024 Opensignal Inc.詳しくは、<a href="https://corp.mobile.rakuten.co.jp/news/press/2024/0227_01/" class="c-Link_Txt-inline-icon" target="_blank">当社プレスリリース<span class="c-Icon_New-window-l"></span></a>をご確認ください。
        </p>
      </div>
    </div>
    <div class="top-Project_Simple u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
      <div class="u-Adjust_Pb-16">
        <h3 class="c-Heading_Lv4 u-Adjust_Align-center">楽天モバイルは、継続した通信品質改善を行っております</h3>
      </div>
      <hr class="top-Project_Simple-border">
      <div class="top-Project_Simple-sub">
        <div class="top-Project_Simple-sub-column">
          <div>
            <img src="<%= sitepath %>assets/img/top/project-illust-240521.png" width="291" height="127" alt="">
          </div>
        </div>
        <div class="top-Project_Simple-sub-column">
          <div class="u-Adjust_Mt-16">
            <h4 class="c-Heading_Lv4 u-Align_Ccl">現在「Rakuten最強プラン」プロジェクトが進行中！ </h4>
          </div>
          <div class="u-Adjust_Mt-16">
            <p class="c-Txt_Normal-s c-Txt_Emp-01">
              2024年4月24日更新
            </p>
            <p>
              2024年4月1日～15日に、全国36都道府県106市区町村で新たな楽天モバイル基地局を設置しました。
            </p>
          </div>
          <div class="u-Show_Xxo u-Adjust_Mt-16">
            <a href="<%= sitepath %>area/saikyo-plan-project/?l-id=top_notice_area_saikyo-plan-project" class="c-Link_Txt-inline">詳細を見る<span class="c-Icon_Chevron-right"></span></a>
          </div>
        </div>
      </div>
      <div class="u-Show_Oox u-Adjust_Mt-16 u-Adjust_Align-center">
        <a href="<%= sitepath %>area/saikyo-plan-project/?l-id=top_notice_area_saikyo-plan-project" class="c-Link_Txt-inline">詳細を見る<span class="c-Icon_Chevron-right"></span></a>
      </div>
    </div>

  </div>
</div>

<div id="js-top-Product" class="top-Product">
  <h2 class="top-Product_Title u-Adjust_Mt-40 u-Adjust_Mt-pc-80" data-ratid="top_scroll-05_product-1" data-ratevent="appear" data-ratparam="all">
    <picture>
      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/top/img-product-ttl-sp-240219.png" width="750" height="171">
      <img src="<%= sitepath %>assets/img/top/img-product-ttl-pc-240219.png" width="390" height="95" alt="楽天モバイルは製品購入もおトク" loading="lazy">
    </picture>
  </h2>
  <div class="l-System_Container">
    <div class="c-Theme-Light u-Adjust_Align-center u-Adjust_Py-16 u-Adjust_Mt-24">
      <p class="c-Txt_Emp-01">48回払い購入で本体代が<br class="u-Show_Oox">
        <span class="c-Txt_Emp-02 top-Product_Max-txt">最大<span class="c-Txt_Normal-l">半額分支払い不要に!</span></span></p>
      <a href="<%= sitepath %>service/replacement-program/?l-id=top_service_replacement-program" class="c-Link_Txt-inline">
        サービス詳細を見る<span class="c-Icon_Chevron-right"></span>
      </a>
      <p class="u-Adjust_Mt-8 c-Txt_Cap u-Align_Lcc">※ 楽天カード48回払いで、25か月目以降に製品返却で最大24回分のお支払いが不要（事務手数料3,300円が必要）。その他の条件有り。プラン申し込み無しで利用できます。</p>
    </div>
    <div class="u-Adjust_Mt-32">
      <%- include('/inc/_replacement-program-product.ejs') %>
    </div>
  </div>
  <div class="u-Adjust_Mt-40">
    <div class="u-Rat_Appear-height" data-ratid="top_scroll-06_product-2" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
    <%- include('/include/top/_top-product-recommended-carousel') %>
    <div class="u-Adjust_Align-center u-Adjust_Mt-24 l-System_Container">
      <a href="<%= sitepath %>product/?l-id=top_product" class="c-Btn_Secondly-large"><span>製品カテゴリを見る</span></a>
    </div>
    <div class="top-Product_Rank-bnr">
      <a href="<%= sitepath %>product/ranking/?l-id=top_product_ranking" class="c-Card_Normal">
        <img src="<%= sitepath %>assets/img/top/img-ranking.png" width="82" height="83" loading="lazy" alt="">
        <div>
          <p class="c-Txt_Emp-02">迷って決められないあなたへ</p>
          <p class="c-Txt_Normal-m c-Txt_Emp-01">人気ランキングから探す</p>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="l-System_Container">
  <div class="top-Shop" data-ratid="top_scroll-08_application" data-ratevent="appear" data-ratparam="all">
    <h2 class="top-Utility_H2-sp c-Heading_Lv1 u-Adjust_Align-center">お申し込みは店舗・オンライン・お電話でも</h2>
    <div class="top-Shop_Theme-layout u-Adjust_Mt-32">
      <div class="top-Shop_Theme-white">
        <div class="top-Shop_Theme-kv-1">
        </div>
        <div>
          <h3 class="c-Heading_Lv3">ショップ</h3>
          <p class="top-Utility_Mt-8-16">楽天モバイルは店舗でもお申し込み可能。<br>お申し込みから初期設定まで丁寧にサポートします</p>
          <div class="l-Media_List-2 top-Shop_Theme-white-shop-search">
            <div class="u-Adjust_Mt-0">
              <div class="c-Form_Select">
                <select name="" id="js-shop-Search_Select-pref">
                  <option value="">都道府県を選択</option>
                </select>
                <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
              </div>
            </div>
            <div class="u-Adjust_Mt-0">
              <div class="c-Form_Select">
                <select name="" id="js-shop-Search_Select-city" aria-disabled="true" disabled>
                  <option value="">市区町村を選択</option>
                </select>
                <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
              </div>
            </div>
          </div>
          <div class="u-Adjust_Align-center u-Adjust_Mt-16">
            <button id="js-shop-Search_Prefcity" class="c-Btn_Secondly top-Shop_Btn" aria-disabled="true" disabled><span>お近くのショップを<br class="top-Utility_Br-sp">検索する</span></button>
          </div>
        </div>
      </div>
      <div class="top-Shop_Theme-white">
        <div class="top-Shop_Theme-kv-2">
        </div>
        <div>
          <h3 class="c-Heading_Lv3">オンライン</h3>
          <p class="top-Utility_Mt-8-16">オンラインなら24時間いつでもどこでもお申し込み可能。<br><a href="<%= sitepath %>guide/verify/ekyc/?l-id=top_button_guide_verify-ekyc" class="c-Link_Txt">簡単・手軽なeKYC</a>もご利用いただけます</p>
          <a href="<%= sitepath %>guide/application/?type=pitari&l-id=top_button2_guide" class="top-Utility_Btn-custom-normal c-Btn_Regular u-Adjust_Mt-16">オンラインで申し込む</a>
          <div class="top-Shop_Theme-white-supplimental-link u-Adjust_Mt-16">
            <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=top_button2_ms&mno_migration=1" class="c-Link_Txt-inline">スーパーホーダイ・組み合わせプランご利用中の方<span class="c-Icon_Chevron-right"></span></a>
          </div>
          <div class="top-Shop_Theme-white-supplimental-link2 u-Adjust_Mt-16">
            <a href="<%= sitepath %>guide/application-support/?l-id=top-application_guide_application-support" class="top-Utility_Btn-custom-normal c-Btn_Regular">まずはオペレーターに電話相談</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="u-Adjust_Align-center">
    <a href="<%= sitepath %>guide/procedure/?l-id=top_guide_procedure" class="c-Btn_Regular-large"><span>お申し込み方法を詳しく見る</span></a>
  </div>

  <div id="js-top-Benefit" class="top-Benefit">
    <h2 class="top-Utility_H2-sp c-Heading_Lv1 u-Adjust_Align-center" data-ratid="top_scroll-09_campaign" data-ratevent="appear" data-ratparam="all">キャンペーン・特典情報</h2>
    <%- include('/include/top/_top-carousel-benefit') %>
    <div class="u-Adjust_Align-center u-Adjust_Mt-24">
      <a href="<%= sitepath %>campaign/?l-id=top_campaign" class="c-Btn_Regular-large">キャンペーン一覧を見る</a>
    </div>
  </div>

  <div id="js-top-Campaign" class="top-Campaign">
    <h2 class="top-Utility_H2-sp c-Heading_Lv1 u-Adjust_Align-center">お役立ち情報</h2>
    <%- include('/include/top/_top-carousel-campaign') %>
  </div>

  <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
    <div class="l-Media_Grid-half">
      <div class="l-Media_Image">
        <a class="c-Banner_Hover-act" href="<%= sitepath %>feature/why-rakuten-mobile/?l-id=top_feature_why-rakuten-mobile">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-why-rakuten-mobile-343-108.png" width="686" height="216">
            <img src="<%= sitepath %>assets/img/bnr/bnr-why-rakuten-mobile-504-158.png" width="504" height="158" alt="なぜ今楽天モバイルなのか" loading="lazy">
          </picture>
        </a>
      </div>
      <div class="l-Media_Image">
        <a class="c-Banner_Hover-act" href="<%= sitepath %>uservoice/?l-id=top_bnr_uservoice">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-uservoice-343-108.png" width="686" height="216">
            <img src="<%= sitepath %>assets/img/bnr/bnr-uservoice-504-158.png" width="504" height="158" alt="楽天モバイルってどうですか？ お客様に直接お聞きしました" loading="lazy">
          </picture>
        </a>
      </div>
    </div>
    <div class="l-Media_Grid-half">
      <div class="l-Media_Image u-Adjust_Mt-16">
        <a class="c-Banner_Hover-act" href="https://business.mobile.rakuten.co.jp/?scid=wi_rmb_pers_top" target="_blank">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-for-business-343-194-240405.png" width="686" height="387">
            <img src="<%= sitepath %>assets/img/bnr/bnr-for-business-504-158-240405.png" width="504" height="158" alt="法人スマホはおまかせ！Rakuten最強プラン ビジネス" loading="lazy">
          </picture>
        </a>
      </div>
      <div class="l-Media_Image u-Adjust_Mt-16">
        <a class="c-Banner_Hover-act" href="<%= sitepath %>cm/?l-id=top_cm">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-cm-gallery-343-194-230719.png" width="686" height="387">
            <img src="<%= sitepath %>assets/img/bnr/bnr-cm-gallery-504-158-230719.png" width="504" height="158" alt="動画・テレビCMギャラリー" loading="lazy">
          </picture>
        </a>
      </div>
    </div>
  </div>
  <div class="top-Caution" data-ratid="top_scroll-10_attention" data-ratevent="appear" data-ratparam="all">
    <h2 class="c-Heading_Lv4" id="caution">注意事項</h2>

    <p class="c-Txt_Emp-01 u-Adjust_Mt-24">■データ高速無制限について</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      ※1 公平なサービスのため、速度制限の場合あり。環境により速度低下する場合あり
    </p>

    <p class="c-Txt_Emp-01 u-Adjust_Mt-24">■アプリ利用で国内通話無料について</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      ※2（0180）（0570）などから始まる他社接続サービス、一部特番（188）への通話については、無料通話の対象外となります。OS標準の電話アプリを利用した場合、30秒22円
    </p>

    <p class="c-Txt_Emp-01 u-Adjust_Mt-24">■「楽天市場のお買い物ポイントが毎日全員5倍」特典について</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      ※3 楽天会員1倍と楽天モバイルSPU＋4倍の合計値です。楽天モバイルSPUの毎月の獲得上限ポイント数は2,000ポイント。期間限定ポイントでの付与。詳細は<a href="<%= sitepath %>campaign/spu/?l-id=top_campaign_spu" class="c-Link_Txt">こちら</a>をご確認ください。
    </p>

    <p class="c-Txt_Emp-01 u-Adjust_Mt-24">■海外は2GBまで無料について</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      ※5 通話料等別。プランのデータ利用量に加算。2GB超過後は最大128kbps。対象エリアおよび条件は変更する場合あり。<a href="<%= sitepath %>service/global/overseas/?l-id=top_service_global_overseas#accordion-1" class="c-Link_Txt">対象エリア</a>をご確認ください。
    </p>

    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■サービスエリアについて</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      ※6 2023年9月時点。人口カバー率は、国勢調査に用いられる約500m区画において、50%以上の場所で通信可能なエリアを基に算出<br>
    </p>

    <p id="opensignal" class="c-Txt_Emp-01 u-Adjust_Mt-16">■Opensignal社データについて</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      ※ 2023/6/2～2023/8/31の期間に記録されたモバイル測定値によるOpensignalデータにおいて、楽天モバイルは評価項目「一貫した品質」でRank1を獲得した都道府県数が、4キャリアTOPの30府県。<br>
      ※「一貫した品質」とは、一般的なモバイル・アプリケーションの要件をサポートするのに十分なネットワークであるかどうかを測定するもので、ユーザーが自分のデバイスでさまざまな典型的なタスクを維持（または完了）するのに「十分」なレベルであることを意味しています。
    </p>

    <p id="opensignal" class="c-Txt_Emp-01 u-Adjust_Mt-16">■最強青春プログラム スマホ製品代618円/月～について</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      ※ AQUOS wish3の場合。現金一括払い/割賦販売価格29,700円、48回払い、支払期間48カ月、実質年率0％。[楽天カード支払い限定]
    </p>

    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■iPhoneの48回払いについて</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">※ iPhone 15（128GB）は現金一括払い/割賦販売価格131,800円、楽天カード支払い48回（48回目のみ2,785円/月）、支払期間48カ月、実質年率0％。事務手数料3,300円。</p>

    <p id="note" class="c-Txt_Emp-01 u-Adjust_Mt-24">■各種キャンペーンについて</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      *1 ポイント詳細は、<a href="<%= sitepath %>campaign/start-point/#r-point" class="c-Link_Txt">こちら</a>。<br>
      *2 ポイント、値引きの詳細は、<a href="<%= sitepath %>campaign/iphone-point/#detail" class="c-Link_Txt">こちら</a>。<br>
      *3 値引きは、「<a href="<%= sitepath %>campaign/android-discount/#campaign-rule2178" class="c-Link_Txt">【Android対象製品限定】特価キャンペーン</a>」適用時。<br>
      *キャンペーンによってポイントの付与時期・有効期間が異なり、分割して付与されるポイントもございます。必ずキャンペーンルールをご確認ください。<br>
      *取得した楽天ポイントは楽天モバイルや楽天の各サービスでご利用できます。詳しくは<a href="<%= sitepath %>guide/point/?l-id=top_guide-point" class="c-Link_Txt">楽天ポイント</a>のページをご覧ください。<br>
      *「対象iPhone最大32,000円相当おトク」は「Rakuten最強プラン（データタイプ）」申し込み、およびデータタイプの契約が過去にある場合は対象外。期間限定ポイントで付与。48回払いは楽天カードのみ。その他条件あり。詳しくは<a href="<%= sitepath %>campaign/iphone-point/#campaign-rule" class="c-Link_Txt">キャンペーンルール</a>をご確認ください。
    </p>
  </div>
</div>

<div class="top-Layout_Bottom-fixed" id="js-fixed-btn" aria-expanded="false">
  <div class="top-Layout_Bottom-fixed-inner">
    <div class="top-Layout_Bottom-fixed-btn top-Utility_Show-pc-flex">
      <a href="<%= sitepath %>guide/application/?type=pitari&l-id=top_pc-modal_guide" class="c-Btn_Primary-large">
        <div class="top-Layout_Bottom-fixed-btn-inner-box"><span>新規／乗り換え（MNP）お申し込み</span></div>
      </a>
    </div>
    <div class="top-Layout_Bottom-fixed-btn top-Utility_Show-pc-flex js-btn-ms" aria-hidden="false">
      <a href="<%= sitepath %>shop/?l-id=top-modal_shop" class="c-Btn_Secondly-large">
        <div class="top-Layout_Bottom-fixed-btn-inner-box"><span>お近くのショップを探す</span></div>
      </a>
    </div>
    <div class="top-Layout_Bottom-fixed-btn-sp">
      <a href="<%= sitepath %>guide/application/?type=pitari&l-id=top_sp-modal_guide" class="c-Btn_Primary-large top-Layout_Bottom-fixed-btn-sp-link">新規／乗り換え(MNP)</a>
    </div>
    <div class="top-Layout_Bottom-fixed-btn-sp">
      <a href="<%= sitepath %>shop/?l-id=top_sp-modal_shop" class="c-Btn_Secondly-large top-Layout_Bottom-fixed-btn-sp-link">お近くのショップを探す</a>
    </div>
    <div class="top-Layout_Bottom-fixed-guide">
      <a href="<%= sitepath %>guide/procedure/?l-id=top-modal_guide_procedure"></a>
    </div>
  </div>
</div>

<div class="c-Attention_Info">
  <div class="c-Attention_Container">
    <span class="c-Attention_Icon c-Icon_Sign-info-l"></span>
    <p class="c-Attention_Body">
      <a href="<%= sitepath%>information/failure/">障害等のお知らせ</a><span class="u-Adjust_Pl-8">お客さまのご利用にご不便をおかけする通信障害等についてお知らせいたします</span>
    </p>
  </div>
</div>

<footer class="g-Footer top-Layout_Footer">

  <%- include('/include/_footer', {page: 'top'}) %>

</footer>

</div>

<!-- RAT tags -->
<input type="hidden" name="rat" id="ratAccountId"   value="1312">
<input type="hidden" name="rat" id="ratServiceId"   value="1">
<input type="hidden" name="pitari_phx_pattern" id="phx_pattern_name" value="">
<input type="hidden" id="ratMediaTrack" value='{"measure":true}'>
<!-- /RAT tags-->
<script src="https://players.brightcove.net/5068808272001/default_default/index.min.js"></script>
<script src="https://r.r10s.jp/com/rat/plugin/media/main-0.2.0.js"></script>
</body>
</html>
