<% const pagetitle = "Rakuten Turbo 5G ファームウェアアップデート情報" -%>
<% const directories = [{path:"internet/turbo/support/", label:"お客様サポート"}, {path:"internet/turbo/support/product/", label:"製品"}, {path:"internet/turbo/support/product/rakuten-turbo5g/", label:"Rakuten Turbo 5G サポート情報"}] -%>
<% const namespace = "support-smallcategory" -%>
<%
  const pageInfo = {
    namespace,
    isUserCategory: false
  };
%>
<%-
 include('/_header', {
    pagetitle,
    directories,
    description: '楽天モバイルのホームルーターRakuten Turbo専用機器、Rakuten Turbo 5Gのファームウェアアップデート情報とファームウェアアップデート方法、最新ファームウェアバージョンをご確認いただけます',
    noindex: false,
    pathname: filepath,
    isTurbo: true
  });
%>

<%- include('/include/_common-css-v2') %>
<%- include('/include/internet/turbo/support/_smallcategory-css') %>
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/internet/turbo/_prepend-body-internet') %>
  <div class="l-System">
    <%- include('/include/internet/turbo/_header', {
      pagetitle,
      directories,
      tax: false,
    }) %>

    <div class="l-System_Container">
      <section class="u-Adjust_Mt-32">
        <h1 class="c-Heading_Lv1 <%= namespace %>-Utility_Heading_Lv1"><%= pagetitle %></h1>
        <p class="u-Adjust_Mt-24">
          2024年1月29日
        </p>
        <p class="u-Adjust_Mt-24">
          ファームウェアアップデートを実施いたします。<br>
          下記の内容をご確認いただき、更新手順に従って、最新バージョンへのアップデートを実施ください。
        </p>
      </section>

      <section class="u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">製品基本情報</h2>
        <dl class="c-Dl_Origin u-Adjust_Mt-24">
          <div>
            <dt>製品名</dt>
            <dd>Rakuten Turbo 5G</dd>
          </div>
        </dl>
      </section>

      <section class="u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">更新内容</h2>
        <p class="u-Adjust_Mt-16">ユーザビリティの改善</p>
      </section>

      <section class="u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">更新開始日</h2>
        <p class="u-Adjust_Mt-16">2024年1月29日より順次</p>
      </section>

      <section class="u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">更新手順</h2>
        <p class="u-Adjust_Mt-16">ファームウェアアップデートにはPC（またはスマートフォン）が必要です。</p>
      </section>

      <section class="u-Adjust_Mt-24">
        <!-- <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">ファームウェアのアップデート状況の確認方法</h2> -->
        <ol class="c-List_Ordered">
          <li>Rakuten Turbo 5Gの電源を入れてください。</li>
          <li>LTEランプあるいは5Gランプが点灯するまでお待ちください。</li>
          <li>Rakuten Turbo 5GとPC（またはスマートフォン）をWi-FiまたはLANケーブルにて接続してください。</li>
          <li>PC（またはスマートフォン）のブラウザアプリを開き、“http://192.168.210.1”にアクセスしてください。</li>
          <li>PC（またはスマートフォン）上にRakuten Turbo 5Gのログイン画面が表示されますので、パスワードを入力してください。<br>（初期値は、Rakuten Turbo 5Gの底面にある“User name”と“管理用パスワード”に記載されているものにそれぞれ設定されています）</li>
          <li>ログイン後、[メンテナンス設定]→[ファームウェアアップデート]を選択してください。</li>
          <li>ファームウェアのアップデート画面にて、[ファームウェアの更新確認]ボタンを選択し、画面の指示に従ってRakuten Turbo 5Gをアップデートしてください。</li>
          <li>Rakuten Turbo 5Gが自動で再起動します。（再起動中は、各種機能を利用できません）</li>
        </ol>

        <p class="u-Adjust_Mt-16">以上でファームウェアアップデートは完了です。</p>

        <p class="u-Adjust_Mt-16">
          ※[自動的にアップデートする]がON（初期値は“ON”に設定されています）の場合には、自動でファームウェアアップデートが実施されますので上記手順は不要です。<br>
          ※自動アップデートは、任意の指定時間（初期値は深夜2:00～5:00に設定されています）に自動的に実施されます。<br>
          ※自動アップデート設定は、管理画面の[メンテナンス設定]→[ファームウェアアップデート]にて、[自動的にアップデートする]の設定をご確認ください。
        </p>
      </section>

      <section class="u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">更新後のバージョン</h2>
        <p class="u-Adjust_Mt-16">ファームウェアバージョン：1.3.17</p>
      </section>

      <section class="u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">ファームウェア更新を実施する際の注意点</h2>
        <ul class="c-List_Text-disc u-Adjust_Mt-24">
          <li>ファームウェアの更新を行う際は電波状態の安定した環境で移動せず行ってください。</li>
          <li>ファームウェアの更新中は、故障の原因となるため、絶対に本機のACアダプタを抜かないでください。</li>
          <li>ファームウェアの更新を行うと、一部の設定が初期化されることがありますので、再度設定を行ってください。</li>
          <li>ファームウェアアップデート完了後は、以前のバージョンに戻すことはできません。</li>
        </ul>
      </section>

      <section class="u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">過去のアップデート情報</h2>
        <p class="c-Txt_Cap u-Adjust_Mt-16">※最新の更新を実施することで、下記の全ての事象が改善されます。</p>

        <dl class="c-Dl_Origin u-Adjust_Mt-24">
          <div>
            <dt>更新開始日</dt>
            <dd>2023年12月7日</dd>
          </div>
          <div>
            <dt>更新内容</dt>
            <dd>ユーザビリティの改善</dd>
          </div>
          <div>
            <dt>ファームウェアバージョン</dt>
            <dd>1.3.16</dd>
          </div>
        </dl>
        <div class="js-Readmore">
          <div class="u-Adjust_Align-center c-Readmore_Trigger <%= namespace %>-Button-wrapper">
            <button class="js-Readmore_Trigger c-Btn_Regular u-Adjust_Mt-72"><span>さらに以前のアップデート情報を見る</span></button>
          </div>
          <div class="c-Readmore_Content" aria-hidden="true">

            <dl class="c-Dl_Origin u-Adjust_Mt-56">
              <div>
                <dt>更新開始日</dt>
                <dd>2023年11月7日</dd>
              </div>
              <div>
                <dt>更新内容</dt>
                <dd>ユーザビリティの改善</dd>
              </div>
              <div>
                <dt>ファームウェアバージョン</dt>
                <dd>1.3.15</dd>
              </div>
            </dl>

            <dl class="c-Dl_Origin u-Adjust_Mt-56">
              <div>
                <dt>更新開始日</dt>
                <dd>2023年10月12日</dd>
              </div>
              <div>
                <dt>更新内容</dt>
                <dd>ゲストWi-Fi機能の追加<br>
                  ※上記以外にもより快適にご利用いただくための更新が含まれております</dd>
              </div>
              <div>
                <dt>ファームウェアバージョン</dt>
                <dd>1.3.14</dd>
              </div>
            </dl>

            <dl class="c-Dl_Origin u-Adjust_Mt-56">
              <div>
                <dt>更新開始日</dt>
                <dd>2023年5月9日</dd>
              </div>
              <div>
                <dt>更新内容</dt>
                <dd>ユーザビリティの改善</dd>
              </div>
              <div>
                <dt>ファームウェアバージョン</dt>
                <dd>1.3.10</dd>
              </div>
            </dl>

            <dl class="c-Dl_Origin u-Adjust_Mt-56">
              <div>
                <dt>更新開始日</dt>
                <dd>2023年3月6日</dd>
              </div>
              <div>
                <dt>更新内容</dt>
                <dd>ユーザビリティの改善</dd>
              </div>
              <div>
                <dt>ファームウェアバージョン</dt>
                <dd>1.3.9</dd>
              </div>
            </dl>
          </div>
        </div>
      </section>
    </div>

    <section class="u-Adjust_Pt-80">
      <div class="<%= namespace %>-Layout_Category">
        <div class="l-System_Container">
          <%- include('/include/internet/turbo/support/_smallcategory-category', { pageInfo }) %>
        </div>
      </div>
    </section>

    <div class="u-Adjust_Mt-24">
      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
      <%- include('/include/internet/turbo/_footer', { directories, pagetitle }) %>
    </div>
  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
  <%- include('/include/internet/turbo/_rex-survey') %>

</body>

</html>
