<% const pagetitle = "【重要】AQUOS sense3 liteをご利用のお客様へ　システムアップデートおよびRakuten Linkアプリ再インストールのお願い" -%>
<% const directories = [{path:"information/", label:"お知らせ"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: 'SHARP「AQUOS sense3 lite」をご利用のお客様へのご案内です。',
    keywords: '',
    noindex: true,
    pathname: filepath
  });
%>
<% const parentTiltle = "お知らせ" -%>
<% const nameSpace = "info" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/info/info.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<%- include('/include/_breadcrumbs', {
  type: 'head',
  pagetitle,
  directories,
}) %>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
    <p class="u-Adjust_Mt-40">SHARP「AQUOS sense3 lite」をご利用のお客様へのご案内です。</p>
    <p class="u-Adjust_Mt-24">AQUOS sense3 lite にてRakuten Linkアプリをお使いの場合、通話機能を正常にご利用いただけないなどの不具合が発生しております。<br>下記手順にしたがって、システムアップデートおよびRakuten Linkアプリの再インストールをお願いいたします。</p>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-40">システムアップデート</h2>

    <ol class="c-Flow">
      <li><h3 class="c-Heading_Lv4">1. アプリ一覧から【設定】を選択</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/info/aquos-sense3-lite_202009/a-01.png?1" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4">2. 【システム】を選択</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/info/aquos-sense3-lite_202009/a-02.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4">3. 【詳細設定】を開く</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/info/aquos-sense3-lite_202009/a-03.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4">4. 【システム アップデート】を選択</h3>
        <p class="u-Adjust_Mt-24">※最新ソフトウェアと表示された場合は、これ以上何もする必要はございません。</p>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/info/aquos-sense3-lite_202009/a-04.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li><h3 class="c-Heading_Lv4">5. 【ダウンロードとインストール】を選択</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/info/aquos-sense3-lite_202009/a-05.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
      <li>
        <h3 class="c-Heading_Lv4">6. ダウンロード完了後、【今すぐ再起動】を選択</h3>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/info/aquos-sense3-lite_202009/a-06.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
    </ol>

    <p class="<%= nameSpace %>-Utility_Adjust-flow u-Adjust_Mt-24">再起動できましたら、システムアップデートは完了です。引き続き、Rakuten Linkアプリの再インストールを行ってください。</p>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-56">Rakuten Linkアプリの再インストール</h2>

    <ol class="c-Flow">
    <li><h3 class="c-Heading_Lv4">7. ホーム画面の【Google Play】を開く</h3>
      <p class="u-Adjust_Mt-24">下記リンクからも「Rakuten Linkアプリ」再インストールに進めます。<br><a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.rcs" class="c-Link_Txt-inline" target="_blank">Google Playはこちら<span class="c-Icon_New-window-l"></span></a></p>
      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/info/aquos-sense3-lite_202009/a-07.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
    <li><h3 class="c-Heading_Lv4">8. Rakuten Linkを検索し、【Rakuten Link】を選択</h3><figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/info/aquos-sense3-lite_202009/a-08.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
    <li><h3 class="c-Heading_Lv4">9. 画面に「インストール」と表示されていたら【インストール】を選択</h3>
      <p class="u-Adjust_Mt-24">※画面に「開く」と表示されていた場合は、何もする必要はございません。「更新」と表示されていた場合は【更新】を選択してください。</p>
      <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/info/aquos-sense3-lite_202009/a-09.png" width="300" height="" alt="" class="c-Img_Capture"></figure></li>
    </ol>
    <p class="<%= nameSpace %>-Utility_Adjust-flow u-Adjust_Mt-16 u-Adjust_Align-center">以上で完了です。</p>

    <p class="u-Adjust_Mt-32 c-Txt_Cap">※ Rakuten Linkアプリは、通話やチャットなどのデーターを暗号化した上で自動バックアップをしています。再インストール後も、電話番号に変更がない場合は、履歴を引き継いでお使いいただくことができます。</p>


  </div>
</div>

<footer class="g-Footer">

  <div class="l-System_Container">
    <%- include('/include/_breadcrumbs', {
      type: 'foot',
      pagetitle,
      directories,
    }) %>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
