<%_
  const pagetitle = "【ショップ限定】楽天モバイルお申し込み＆対象のiPhone購入で最大22,000ポイント還元"
  const directories = [{path:"campaign/", label:"キャンペーン・特典"}]
  const namespace = "shop-limited-iphone"
  const imgPath = `${sitepath}assets/img/campaign/shop-limited-iphone/`
_%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '楽天モバイルショップ限定！楽天モバイルへ初めてお申し込み＆iPhone 14,iPhone 13,iPhone 13 miniご購入で最大22,000ポイント還元キャンペーン開催中です。',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%><%- include('/include/_common-css-v2') %>
<%- include('/inc/_about-rakuten-mobile-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/shop-limited-iphone/shop-limited-iphone.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>

    <section class="<%= namespace %>-Label">
      <ul class="l-System_Container <%= namespace %>-Label_List">
        <li class="c-Label_Normal <%= namespace %>-Label_List-item">初めて申込限定</li>
        <li class="c-Label_Normal <%= namespace %>-Label_List-item">対象製品限定</li>
        <li class="c-Label_Normal <%= namespace %>-Label_List-item">Rakuten Link利用必要</li>
        <li class="c-Label_Normal <%= namespace %>-Label_List-item">ショップ申込限定</li>
        <li class="c-Txt_Emp-01 c-Txt_Normal-s">ポイント：付与日を含めて6カ月の期間限定ポイント</li>
      </ul>
    </section>

    <section class="<%= namespace %>-Hero">
      <h1>
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>img-hero-sp-230601.png" width="750" height="660">
          <img src="<%= imgPath %>img-hero-pc-230601.png" alt="【ショップ限定】楽天モバイルお申し込み＆対象のiPhone購入で最大22,000ポイント還元" width="2000" height="300">
        </picture>
      </h1>
    </section>

    <div class="c-Theme-Light u-Adjust_Pl-0 u-Adjust_Pr-0 u-Adjust_Pb-32 u-Adjust_Pt-32 u-Adjust_Pt-sp-24">
      <div class="l-System_Container u-Adjust_Pt-16 u-Adjust_Pb-48">
        <p class="u-Adjust_Align-center c-Txt_Emp-02 c-Heading_Lv3">
          本キャンペーンは2023年7月31日をもちまして終了いたしました。<br>このページに掲載されている情報は、キャンペーン終了時点のものです。</p>
        <div class="u-Adjust_Align-center u-Adjust_Mt-16">
          <a href="<%= sitepath %>campaign/?l-id=end_campaign" class="c-Link_Txt-inline">開催中のキャンペーンを見る<span class="c-Icon_Chevron-right"></span></a>
        </div>
      </div>
      <div class="l-System_Container">
        <section class="<%= namespace %>-Description">
          <dl class="<%= namespace %>-Description_Period">
            <dt class="c-Txt_Emp-01">【キャンペーン期間】</dt>
            <dd>2023年5月1日（月）開店 ～<br class="u-Show_Sp">
              2023年7月31日（月）閉店
            </dd>
          </dl>
          <p class="c-Txt_Emp-02 u-Adjust_Align-center c-Txt_Cap u-Adjust_Mt-8">※2023年6月30日（金）に終了日を2023年9月30日（土）閉店から2023年7月31日（月）閉店に変更しました。</p>
          <ul class="u-Adjust_Mt-16 c-Txt_Cap">
            <li class="c-Txt_Emp-02">※「Rakuten最強プラン（データタイプ）」は対象外です。</li>
            <li>※1 2023年7月19日時点。NTTドコモ、au、ソフトバンクの公式オンラインのiPhone本体代金との比較。弊社調べ。<a href="<%= sitepath %>product/iphone/fee/?l-id=campaign_shop-limited-iphone_product_iphone_fee" class="c-Link_Txt">詳細はこちら</a></li>
            <li>※Rakuten Linkアプリのご利用が必要です。その他条件あり</li>
            <li>※iPhone 14、iPhone 13、iPhone 13 miniいずれかをご購入の場合、製品到着または店頭で購入した日の翌月末日23:59までに「Rakuten最強プラン」の利用開始とRakuten Linkのご利用でキャンペーン適用となります。<a href="#campaign-rule1888" class="c-Link_Txt js-scroll">条件の詳細はこちら</a></li>
            <li>※本ページにおいて、楽天モバイルとは「Rakuten最強プラン」を指します。</li>
            <li>※お一人様１回限りの適用となります。</li>
            <li class="c-Txt_Emp-02">※2023年7月31日（月）に本キャンペーンは終了いたしますが、2023年8月1日（火）以降も 「【ショップ限定】iPhone 13 128GBポイントバックキャンペーン（キャンペーンコード：1903）」の実質価格は変更されません。</li>
          </ul>
        </section>

        <nav class="u-Adjust_Mt-32">
          <ul class="<%= namespace %>-List_Nav">
            <li>
              <a href="#terms" class="c-Link_Txt-icon-front js-scroll">
                <span class="c-Icon_Arrow-down-l"></span>キャンペーンの達成条件
              </a>
            </li>
            <li>
              <a href="#product" class="c-Link_Txt-icon-front js-scroll">
                <span class="c-Icon_Arrow-down-l"></span>対象製品
              </a>
            </li>
            <li>
              <a href="#flow" class="c-Link_Txt-icon-front js-scroll">
                <span class="c-Icon_Arrow-down-l"></span>最大22,000ポイント獲得の流れ
              </a>
            </li>
            <li>
              <a href="#campaign-rule" class="c-Link_Txt-icon-front js-scroll">
                <span class="c-Icon_Arrow-down-l"></span>キャンペーンルール
              </a>
            </li>
          </ul>
        </nav>

        <section id="terms" class="c-Theme-White u-Adjust_Mt-32">
          <h2 class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンの達成条件</h2>
          <p class="u-Adjust_Mt-16 u-Align_Llc">本キャンペーンには達成条件が設定されています。詳細は<a href="#campaign-rule1888" class="c-Link_Txt js-scroll">キャンペーンルール</a>をご確認ください。</p>

          <div class="u-Adjust_Mt-16">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>img-terms-sp-230601.png" width="622" height="1334">
              <img src="<%= imgPath %>img-terms-pc-230601.png" alt="ショップで初めてプランお申し込み＆対象製品購入 Rakuten最強プランをお申し込み＆「iPhone 14、iPhone 13、iPhone 13 miniのいずれかをご購入ください。 そして、お申し込みの翌月末日23:59までに、開通手続きをしてプランのご利用を開始と、Rakuten Linkで 10秒以上通話をお申し込みの翌月末日23:59までにしてください。" width="984" height="340">
            </picture>
          </div>

          <div class="u-Adjust_Align-center u-Adjust_Mt-32">
            <h3 class="c-Heading_Lv2">キャンペーンの達成状況はこちらで確認</h3>
          </div>
          <div class="c-Accordion u-Adjust_Mt-24 <%= namespace %>-Accordion <%= namespace %>-Accordion_Period">
            <button
              id="accordion-terms1"
              class="c-Accordion_Trigger u-Align_Llc js-Accordion_Trigger"
              aria-expanded="false"
              aria-controls="accordion-content-terms1"
            >
              <span class="c-Icon_Chevron-right c-Accordion_Arrow <%= namespace %>-Accordion_Arrow"></span>
              <span class="<%= namespace %>-Accordion_Period-label">Rakuten Linkの達成状況の確認方法</span>
            </button>
            <div
              id="accordion-content-terms1"
              class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Panel"
              role="region"
              aria-labelledby="accordion-terms1"
              aria-hidden="true"
              style="display:none;"
            >
              <h4 class="c-Heading_Lv4">達成状況の確認方法</h4>
              <ol class="u-Adjust_Mt-16">
                <li>
                  <p class="c-Txt_Emp-01">1. 「<a href="<%= ecarepath %>my-rakuten-mobile?l-id=campaign_shop-limited-iphone_my-rakuten-mobile_accordion" class="c-Link_Txt">my 楽天モバイル</a>」にアクセス</p>
                </li>
                <li class="u-Adjust_Mt-32">
                  <p class="c-Txt_Emp-01">2. 右上のメニューから「利用状況」を選択</p>
                  <div class="<%= namespace %>-Util_Img-capture u-Adjust_Mt-32">
                    <img src="<%= sitepath %>assets/img/campaign/common/img-cap01-230601.png" width="300" alt="">
                  </div>
                </li>
                <li class="u-Adjust_Mt-32">
                  <p class="c-Txt_Emp-01">3. 「通話」タブを選択して<span class="c-Txt_Emp-02">Rakuten Linkでの10秒以上の発信通話履歴</span>があることを確認してください</p>
                  <div class="<%= namespace %>-Util_Img-capture u-Adjust_Mt-32">
                    <img src="<%= sitepath %>assets/img/campaign/common/img-cap02.png" width="300" alt="">
                  </div>
                </li>
              </ol>
            </div>
          </div>
        </section>

        <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
          <a href="<%= sitepath %>shop/?l-id=campaign_shop-limited-iphone_shop" class="c-Btn_Primary-large"><span>お近くのショップを探す</span></a>
        </div>
      </div>
    </div>

    <div class="l-System_Container u-Adjust_Pt-64">
      <section id="product">
        <h3 class="c-Heading_Lv2 u-Adjust_Align-center">対象製品</h3>

        <ul class="<%= namespace %>-Card">
          <li>
            <a href="<%= sitepath %>product/iphone/iphone-14/?l-id=campaign_shop-limited-iphone_product_iphone_iphone-14" class="c-Card_Normal">
              <div class="<%= namespace %>-Card_Label">
                <!---->
                <!-- <div class="<%= namespace %>-Card_Label-new-sale">値下げ</div> -->
                <!---->
              </div>
              <figure data-flag="5g"><img src="<%= sitepath %>assets/img/product/iphone/top/thumb-product-iphone-top-iphone14.png?230310" alt="iPhone 14"></figure>
              <ul class="<%= namespace %>-Card_Color">
                <li><span class="" style="background: #F9E479;"></span></li>
                <li><span class="" style="background: #E6DDEB;"></span></li>
                <li><span class="" style="background: #A0B4C7;"></span></li>
                <li><span class="" style="background: #FC0324;"></span></li>
                <li><span class="" style="background: #FAF6F2; border:1px solid #cacadb;"></span></li>
                <li><span class="" style="background: #222930;"></span></li>
              </ul>
              <h2 class="c-Heading_Lv3 <%= namespace %>-Card_Name">iPhone 14</h2>
              <ul class="c-Label_List <%= namespace %>-Card_Tips">
                <li class="c-Label_Normal">128GB</li>
                <li class="c-Label_Normal">256GB</li>
                <li class="c-Label_Normal">512GB</li>
              </ul>
              <div class="<%= namespace %>-Card_Price">
                <div class="<%= namespace %>-Card_Price-detail-1"><span>製品価格</span>
                  <%# <span style="margin-left: auto;margin-right: 0;"><del>131,800円*</del>→</span> _%>
                  <p><span class="<%= namespace %>-Card_Price-detail-1-bulk">120,910</span>円～</p>
                </div>
                <div class="<%= namespace %>-Card_Price-detail-1"><span>48回払い利用<span class="c-Txt_Cap">※6</span></span>
                  <%# <span style="margin-left: auto;margin-right: 0;"><del>131,800円*</del>→</span> _%>
                  <p><span class="<%= namespace %>-Card_Price-detail-1-bulk">2,518</span>円〜/月</p>
                </div>
                <div class="<%= namespace %>-Card_Price-total">
                  <p>
                    ショップお申し込みで<br>
                    最大<span>22,000</span>ポイント還元 ※1,2,3,5
                  </p>
                </div>
              </div>
              <div>
                <p class="c-Txt_Cap <%= namespace %>-Card_Price-cap">48回払いは楽天カードのみ。現金販売価格と割賦販売価格（総額）は製品価格と同額。支払回数48回、支払期間48カ月、実質年率0％。</p>
              </div>
            </a>
          </li>

          <li>
            <a href="<%= sitepath %>product/iphone/iphone-13/?l-id=campaign_shop-limited-iphone_product_iphone_iphone-13" class="c-Card_Normal">
              <div class="<%= namespace %>-Card_Label">
              </div>
              <figure data-flag="5g"><img src="<%= sitepath %>assets/img/product/iphone/top/thumb-product-iphone-top-iphone13.png?220309" alt="iPhone 13"></figure>
              <ul class="<%= namespace %>-Card_Color">
                <li><span class="" style="background: #394C38;"></span></li>
                <li><span class="" style="background: rgb(250, 221, 215);"></span></li>
                <li><span class="" style="background: rgb(39, 103, 135);"></span></li>
                <li><span class="" style="background: rgb(35, 42, 49);"></span></li>
                <li><span class="color-white" style="background: rgb(250, 246, 242);"></span></li>
                <li><span class="" style="background: rgb(191, 0, 19);"></span></li>
              </ul>
              <h2 class="c-Heading_Lv3 <%= namespace %>-Card_Name">iPhone 13</h2>
              <ul class="c-Label_List <%= namespace %>-Card_Tips">
                <li class="c-Label_Normal">128GB</li>
                <li class="c-Label_Normal">256GB</li>
                <li class="c-Label_Normal">512GB</li>
              </ul>
              <div class="<%= namespace %>-Card_Price">
                <div class="<%= namespace %>-Card_Price-detail-1"><span>キャンペーン特価<span class="c-Txt_Cap">※4</span></span>
                  <p>
                    <span class="<%= namespace %>-Card_Price-detail-1-bulk">108,900</span>円～
                  </p>
                </div>
                <div class="<%= namespace %>-Card_Price-detail-1"><span>48回払い利用<span class="c-Txt_Cap">※6</span></span>
                  <p>
                    <span class="<%= namespace %>-Card_Price-detail-1-bulk">2,268</span>円〜/月
                  </p>
                </div>
                <div class="<%= namespace %>-Card_Price-total">
                  <p>
                    ショップお申し込みで<br>
                    最大<span>22,000</span>ポイント還元 ※1,2,3,5
                  </p>
                </div>
              </div>
              <div>
                <p class="c-Txt_Cap <%= namespace %>-Card_Price-cap">48回払いは楽天カードのみ。現金販売価格と割賦販売価格（総額）は製品価格と同額。支払回数48回、支払期間48カ月、実質年率0％。</p>
              </div>
            </a>
          </li>

          <li>
            <a href="<%= sitepath %>product/iphone/iphone-13-mini/?l-id=campaign_shop-limited-iphone_product_iphone_iphone-13-mini" class="c-Card_Normal">
              <div class="<%= namespace %>-Card_Label">
              </div>
              <figure data-flag="5g"><img src="<%= sitepath %>assets/img/product/iphone/top/thumb-product-iphone-top-iphone13mini.png?220309" alt="iPhone 13 mini"></figure>
              <ul class="<%= namespace %>-Card_Color">
                <li><span class="" style="background: #394C38;"></span></li>
                <li><span class="" style="background: rgb(250, 221, 215);"></span></li>
                <li><span class="" style="background: rgb(39, 103, 135);"></span></li>
                <li><span class="" style="background: rgb(35, 42, 49);"></span></li>
                <li><span class="color-white" style="background: rgb(250, 246, 242);"></span></li>
                <li><span class="" style="background: rgb(191, 0, 19);"></span></li>
              </ul>
              <h2 class="c-Heading_Lv3 <%= namespace %>-Card_Name">iPhone 13 mini</h2>
              <ul class="c-Label_List <%= namespace %>-Card_Tips">
                <li class="c-Label_Normal">128GB</li>
                <li class="c-Label_Normal">256GB</li>
                <li class="c-Label_Normal">512GB</li>
              </ul>
              <div class="<%= namespace %>-Card_Price">
                <div class="<%= namespace %>-Card_Price-detail-1"><span>キャンペーン特価<span class="c-Txt_Cap">※4</span></span>
                  <p>
                    <span class="<%= namespace %>-Card_Price-detail-1-bulk">93,900</span>円～
                  </p>
                </div>
                <div class="<%= namespace %>-Card_Price-detail-1"><span>48回払い利用<span class="c-Txt_Cap">※6</span></span>
                  <p>
                    <span class="<%= namespace %>-Card_Price-detail-1-bulk">1,956</span>円〜/月
                  </p>
                </div>
                <div class="<%= namespace %>-Card_Price-total">
                  <p>
                    ショップお申し込みで<br>
                    最大<span>22,000</span>ポイント還元 ※1,2,3,5
                  </p>
                </div>
              </div>
              <div>
                <p class="c-Txt_Cap <%= namespace %>-Card_Price-cap">48回払いは楽天カードのみ。現金販売価格と割賦販売価格（総額）は製品価格と同額。支払回数48回、支払期間48カ月、実質年率0％。</p>
              </div>
            </a>
          </li>
        </ul>

        <ul class="u-Adjust_Mt-16 c-Txt_Cap">
          <li>※1 ポイント還元は「<a href="#campaign-rule1888" class="c-Link_Txt js-scroll">【ショップ限定】iPhone対象機種10,000ポイント還元キャンペーン</a>」適用時。対象製品のみご購入でも適用となります。</li>
          <li>※2 ポイント還元は「<a href="#campaign-rule1526" class="c-Link_Txt js-scroll">【Rakuten最強プランお申し込み特典】だれでも3,000ポイントプレゼント</a>」適用時。楽天モバイルを初めてお申し込みいただいた回線に限ります。</li>
          <li>※3 ポイント還元は「<a href="#campaign-rule1819" class="c-Link_Txt js-scroll">iPhone 対象端末ポイントバックキャンペーン</a>」適用時。</li>
          <li>※4 キャンペーン特価は「<a href="#campaign-rule1592" class="c-Link_Txt js-scroll">iPhone対象機種特価キャンペーン</a>」適用時。</li>
          <li>※5 ポイント還元は「<a href="#campaign-rule1825" class="c-Link_Txt js-scroll">【ショップ限定】対象製品と楽天回線同時申込でさらに3,000ポイントキャンペーン</a>」適用時。対象製品のみご購入でも適用となります。</li>
          <li>※6 48回払い利用は「楽天モバイルiPhoneアップグレードプログラム」のこと。割賦金算出時の端数分について、毎月の月額料金に含めて、あるいは最終月の月額料金に含めて、請求させていただきます。本プログラムの仕様上、支払回数を48回と記載していますが、25カ月目以降、新しい製品への機種変更及び解約が可能となり、弊社指定条件を満たし製品をご返却いただいた場合、残りのお支払いは不要です。<span class="c-Txt_Emp-02">機種変更または返却による解約の際は、事務手数料3,300円をご請求させていただきます。ご返却いただいた旧製品が当社指定状態基準を満たさない場合、当社指定の故障費用を請求、または返却いただけない場合がございます。</span></li>
        </ul>
      </section>

      <section id="whatis" class="u-Adjust_Mt-48">
        <div class="c-Theme-Borderbox">
          <h3 class="u-Adjust_Align-center">
            <span class="c-Heading_Lv3">「楽天モバイルiPhoneアップグレードプログラム」とは？</span>
            <span class="c-Txt_Cap">※1</span>
          </h3>
          <ul class="u-Adjust_Mt-16 <%= namespace %>-List_Center">
            <li class="c-Theme-Light l-Media_Grid-large">
              <div class="l-Media_Image">
                <img src="<%= imgPath %>img-whatis01.png" alt="" width="190" height="96">
              </div>
              <div>
                <p>
                  本体代のお支払いに「48回払い」を選択！24回分払ったら、<br class="u-Show_Pc">
                  <span class="c-Txt_Emp-02">いつでも最新のiPhone</span>に機種変更可能！
                </p>
              </div>
            </li>
            <li class="c-Theme-Light l-Media_Grid-large">
              <div class="l-Media_Image">
                <img src="<%= imgPath %>img-whatis02.png" alt="" width="190" height="85">
              </div>
              <div>
                <p>
                  最大24回分！返却するiPhoneの<span class="c-Txt_Emp-02">残りのお支払いが不要</span>に！<span class="c-Txt_Cap">※2</span>
                </p>
              </div>
            </li>
          </ul>

          <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <a href="<%= sitepath %>service/iphone/upgrade-program/?l-id=campaign_shop-limited-iphone_service_iphone_upgrade-program" class="c-Btn_Regular"><span>楽天モバイルiPhoneアップグレードプログラムの詳細はこちら</span></a>
          </div>
        </div>

        <ul class="c-Txt_Cap u-Adjust_Mt-16">
          <li>※1 楽天カードのみ。現金販売価格と割賦販売価格（総額）は製品価格と同額。支払回数48回、支払期間48カ月、実質年率0％。<span class="c-Txt_Emp-02">機種変更または返却による解約の際は、事務手数料3,300円がかかります。</span></li>
          <li>※2 <span class="c-Txt_Emp-02">24回分お支払い後、25カ月目に製品を返却した場合。ご返却の製品が当社指定の状態基準を満たさない場合、故障費用22,000円のお支払いが必要となる、または返却不可となる場合があります。</span></li>
        </ul>
      </section>

      <section id="flow" class="u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">最大22,000ポイント<br class="u-Show_Sp">獲得の流れ</h2>

        <ol class="u-Adjust_Mt-24 <%= namespace %>-List_Step">
          <li class="c-Accordion <%= namespace %>-Accordion_Step">
            <button
              id="accordion-step1"
              class="c-Accordion_Trigger js-Accordion_Trigger"
              aria-expanded="true"
              aria-controls="accordion-content-step1"
            >
              <span class="c-Icon_Chevron-right c-Accordion_Arrow <%= namespace %>-Accordion_Arrow"></span>
              <span class="c-Txt_Emp-02 <%= namespace %>-Accordion_Step-step">STEP1</span>
              <span class="<%= namespace %>-Accordion_Step-label">お申し込み・お支払いに必要なものを準備する</span>
            </button>
            <div
              id="accordion-content-step1"
              class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Panel"
              role="region"
              aria-labelledby="accordion-step1"
              aria-hidden="false"
            >
              <div class="l-Media_Grid">
                <div class="l-Media_Image c-Flow_Image">
                  <img src="<%= imgPath %>img-flow01.png" alt="" width="304" height="196">
                </div>
                <div>
                  <ul class="c-List_Text-disc">
                    <li><a href="<%= sitepath %>guide/verify/?l-id=campaign_shop-limited-iphone_guide_verify" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                    <li class="u-Adjust_Mt-8">
                      楽天会員ログイン用のユーザID、パスワード
                      <span class="c-Txt_Cap c-Txt_Emp-02 <%= namespace %>-List_Nextline">※本人確認書類の情報と、楽天会員情報が一致している必要があります。</span>
                    </li>
                    <li class="u-Adjust_Mt-8"><a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Link_Txt-inline" target="_blank" rel="noopener">楽天会員情報を確認・変更する<span class="c-Icon_Chevron-right"></span></a></li>
                    <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/?l-id=campaign_shop-limited-iphone_guide_payment" class="c-Link_Txt-inline">
                      クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                      <span class="c-Txt_Cap <%= namespace %>-List_Nextline">※ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="<%= sitepath %>faq/detail/00001238/?l-id=campaign_shop-limited-iphone_faq_detail_00001238" class="c-Link_Txt">こちらのご案内ページ</a>を、必ず事前にご確認ください。
                      </span>
                    </li>
                  </ul>
                  <p class="c-Txt_Cap u-Adjust_Mt-16">
                    ※未成年者の方のお申し込みに必要な情報、お申し込み方法は<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_shop-limited-iphone_flow_for-minors" class="c-Link_Txt">こちらのご案内ページ</a>をご確認ください。<br>
                    ※Webページにて、楽天モバイル（ドコモ回線・au回線）から移行お手続き後に、Rakuten最強プランにお申し込みいただく場合、MNP予約番号と本人確認書類はご準備不要です。<br>
                    ※MNPワンストップ未対応の携帯電話会社から乗り換えの方は、MNP予約番号の取得が必要です。MNPワンストップ対象の携帯電話会社は<a href="<%= sitepath %>guide/mnp/?l-id=campaign_shop-limited-iphone_guide_mnp#career" class="c-Link_Txt">こちら</a>からご確認ください。<br>
                    ※ショップでのお手続きは、ワンストップ対象の他社からの転入であっても、MNP予約番号を取得のうえ、ご来店ください。<br>
                    ※MNP有効期間が「7日以上」残っているMNP予約番号が必要です。
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="c-Accordion <%= namespace %>-Accordion_Step">
            <button
              id="accordion-step2"
              class="c-Accordion_Trigger js-Accordion_Trigger"
              aria-expanded="true"
              aria-controls="accordion-content-step2"
            >
              <span class="c-Icon_Chevron-right c-Accordion_Arrow <%= namespace %>-Accordion_Arrow"></span>
              <span class="c-Txt_Emp-02 <%= namespace %>-Accordion_Step-step">STEP2</span>
              <span class="<%= namespace %>-Accordion_Step-label">楽天モバイルショップを探す</span>
            </button>
            <div
              id="accordion-content-step2"
              class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Panel"
              role="region"
              aria-labelledby="accordion-step2"
              aria-hidden="false"
            >
              <div class="l-Media_Grid">
                <div class="l-Media_Image c-Flow_Image">
                  <img src="<%= imgPath %>img-flow02.png" alt="" width="304" height="196">
                </div>
                <div>
                  <p>
                    ご来店の際は、Webでできる「<span class="c-Txt_Emp-01">来店予約</span>」が便利です。<br>
                    予約された方を優先的にご案内しますので、混雑を気にせずに都合の良い時間にご来店いただけます。各ショップページの「<span class="c-Txt_Emp-01">来店予約</span>」ボタンよりご予約ください。<br>
                    各ショップごとに製品の在庫状況が異なります。
                  </p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">
                    ※カウンターが空き次第のご案内となり、多少の待ち時間をいただく場合がございます。<br>
                    ※ショップページに「来店予約」ボタンがないショップでは、来店予約を行っておりません。ご了承ください。
                  </p>
                  <div class="u-Adjust_Mt-16">
                    <a href="<%= sitepath %>shop/?l-id=campaign_shop-limited-iphone_shop_flow" class="c-Btn_Primary"><span>お近くのショップを探す</span></a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="c-Accordion <%= namespace %>-Accordion_Step">
            <button
              id="accordion-step3"
              class="c-Accordion_Trigger js-Accordion_Trigger"
              aria-expanded="true"
              aria-controls="accordion-content-step3"
            >
              <span class="c-Icon_Chevron-right c-Accordion_Arrow <%= namespace %>-Accordion_Arrow"></span>
              <span class="c-Txt_Emp-02 <%= namespace %>-Accordion_Step-step">STEP3</span>
              <span class="<%= namespace %>-Accordion_Step-label">
                <span>ショップにて楽天モバイルのお申し込みと対象製品を購入する</span>
              </span>
            </button>
            <div
              id="accordion-content-step3"
              class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Panel"
              role="region"
              aria-labelledby="accordion-step3"
              aria-hidden="false"
            >
              <div class="l-Media_Grid">
                <div class="l-Media_Image c-Flow_Image">
                  <img src="<%= imgPath %>img-flow03.png" alt="" width="304" height="211">
                </div>
                <div>
                  <p>初めてRakuten最強プランをお申し込み＆対象のiPhoneを購入する</p>
                  <ul class="u-Adjust_Mt-16">
                    <li>
                      <a href="<%= sitepath %>fee/saikyo-plan/?l-id=campaign_shop-limited-iphone_fee_saikyo-plan" class="c-Link_Txt-inline">Rakuten最強プランの詳細を見る<span class="c-Icon_Chevron-right"></span></a>
                    </li>
                    <li class="u-Adjust_Mt-8">
                      <a href="<%= sitepath %>product/iphone/iphone-14/?l-id=campaign_shop-limited-iphone_product_iphone_iphone-14_flow" class="c-Link_Txt-inline">iPhone 14の詳細を見る
                        <span class="c-Icon_Chevron-right"></span></a>
                    </li>
                    <li class="u-Adjust_Mt-8">
                      <a href="<%= sitepath %>product/iphone/iphone-13/?l-id=campaign_shop-limited-iphone_product_iphone_iphone-13_flow" class="c-Link_Txt-inline">iPhone 13の詳細を見る<span class="c-Icon_Chevron-right"></span></a>
                    </li>
                    <li class="u-Adjust_Mt-8">
                      <a href="<%= sitepath %>product/iphone/iphone-13-mini/?l-id=campaign_shop-limited-iphone_product_iphone_iphone-13-mini_flow" class="c-Link_Txt-inline">iPhone 13 miniの詳細を見る<span class="c-Icon_Chevron-right"></span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="c-Accordion <%= namespace %>-Accordion_Step">
            <button
              id="accordion-step4"
              class="c-Accordion_Trigger js-Accordion_Trigger"
              aria-expanded="true"
              aria-controls="accordion-content-step4"
            >
              <span class="c-Icon_Chevron-right c-Accordion_Arrow <%= namespace %>-Accordion_Arrow"></span>
              <span class="c-Txt_Emp-02 <%= namespace %>-Accordion_Step-step">STEP4</span>
              <span class="<%= namespace %>-Accordion_Step-label">「Rakuten最強プラン」利用開始</span>
            </button>
            <div
              id="accordion-content-step4"
              class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Panel"
              role="region"
              aria-labelledby="accordion-step4"
              aria-hidden="false"
            >
              <div class="l-Media_Grid">
                <div class="l-Media_Image c-Flow_Image">
                  <img src="<%= imgPath %>img-flow04.png" alt="" width="304" height="153">
                </div>
                <div>
                  <dl class="<%= namespace %>-Util_Flex-sc">
                    <dt class="c-Txt_Emp-01">期限：</dt>
                    <dd>プランお申し込みの翌月末日23:59まで</dd>
                  </dl>
                  <div class="u-Adjust_Mt-16">
                    <a href="<%= sitepath %>faq/detail/00001648/?l-id=campaign_shop-limited-iphone_faq_detail_00001648" class="c-Btn_Regular"><span>プラン利用開始手順</span></a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="c-Accordion <%= namespace %>-Accordion_Step">
            <button
              id="accordion-step5"
              class="c-Accordion_Trigger js-Accordion_Trigger"
              aria-expanded="true"
              aria-controls="accordion-content-step5"
            >
              <span class="c-Icon_Chevron-right c-Accordion_Arrow <%= namespace %>-Accordion_Arrow"></span>
              <span class="c-Txt_Emp-02 <%= namespace %>-Accordion_Step-step">STEP5</span>
              <span class="<%= namespace %>-Accordion_Step-label">Rakuten Linkアプリから発信で10秒以上通話</span>
            </button>
            <div
              id="accordion-content-step5"
              class="c-Accordion_Panel js-Accordion_Panel <%= namespace %>-Accordion_Panel"
              role="region"
              aria-labelledby="accordion-step5"
              aria-hidden="false"
            >
              <div class="l-Media_Grid">
                <div class="l-Media_Image c-Flow_Image">
                  <img src="<%= imgPath %>img-flow05.png" alt="" width="304" height="153">
                </div>
                <div>
                  <dl class="<%= namespace %>-Util_Flex-sc">
                    <dt class="c-Txt_Emp-01">期限：</dt>
                    <dd>プランお申し込みの翌月末日23:59まで</dd>
                  </dl>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">
                    ※（0180）（0570）などから始まる他社接続サービス、一部特番（188）への通話については、無料通話の対象外となります。<a href="<%= sitepath %>terms/pdf/rakuten_mobile_exception_number_list.pdf" class="c-Link_Txt">対象外番号一覧</a>をご確認ください。
                  </p>
                  <p class="u-Adjust_Mt-16">
                    <a href="<%= sitepath %>service/rakuten-link/?l-id=campaign_shop-limited-iphone_service_rakuten-link" class="c-Link_Txt-inline">Rakuten Linkアプリの詳細を見る<span class="c-Icon_Chevron-right"></span></a>
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="<%= namespace %>-List_Step-item">
            <h3 class="c-Heading_Lv3">最大22,000円相当のポイント還元</h3>

            <div class="l-Media_Grid u-Adjust_Mt-16">
              <div class="l-Media_Image c-Flow_Image">
                <img src="<%= imgPath %>img-flow06.png" alt="" width="304" height="153">
              </div>
              <div>
                <p>ショップ限定のiPhone対象製品10,000ポイント還元に加えて、Rakuten Linkご利用とキャンペーン条件達成月のそれぞれ翌々月末日頃に、期間限定ポイントとして最大12,000ポイントを付与いたします。</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※ポイント付与額は購入製品やお申し込み種別により異なります。</p>
              </div>
            </div>

            <ul class="u-Adjust_Mt-24 <%= namespace %>-List_Point">
              <li>
                <ul class="<%= namespace %>-List_Point-inner">
                  <li class="c-Theme-Light">
                    <h4 class="<%= namespace %>-List_Point-inner-ttl"><span><span class="c-Txt_Emp-02">ショップで</span>対象製品を購入で</span></h4>
                    <div class="c-Theme-White <%= namespace %>-List_Point-inner-body">
                      <p class="<%= namespace %>-List_Point-point">
                        <span class="<%= namespace %>-List_Point-point-num">10<span>,</span>000</span>ポイント
                      </p>
                      <p><a href="#campaign-rule1888" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>詳しくはこちら</a></p>
                    </div>
                  </li>
                  <li class="c-Theme-Light">
                    <h4 class="<%= namespace %>-List_Point-inner-ttl">初めてのプランお申し込みで</h4>
                    <div class="c-Theme-White <%= namespace %>-List_Point-inner-body">
                      <p class="<%= namespace %>-List_Point-point">
                        <span class="<%= namespace %>-List_Point-point-num">3<span>,</span>000</span>ポイント
                      </p>
                      <p><a href="#campaign-rule1526" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>詳しくはこちら</a></p>
                    </div>
                  </li>
                  <li class="c-Theme-Light">
                    <h4 class="<%= namespace %>-List_Point-inner-ttl">
                      対象製品＆<br>
                      プランお申し込みで
                    </h4>
                    <div class="c-Theme-White <%= namespace %>-List_Point-inner-body-hukidashi">
                      <p class="<%= namespace %>-List_Point-inner-body-hukidashi-icon">
                        <img src="<%= imgPath %>hukidashi-shop.svg" alt="ショップ限定" width="153" height="42">
                      </p>
                      <p class="<%= namespace %>-List_Point-point">
                        <span class="<%= namespace %>-List_Point-point-num">3<span>,</span>000</span>ポイント
                      </p>
                      <p><a href="#campaign-rule1825" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>詳しくはこちら</a></p>
                    </div>
                    <div class="c-Theme-White <%= namespace %>-List_Point-inner-body-plus">
                      <p class="<%= namespace %>-List_Point-inner-body-plus-icon">
                        <img src="<%= imgPath %>icon-plus.svg" alt="" width="32" height="32">
                      </p>
                      <p class="<%= namespace %>-List_Point-point">
                        <span class="<%= namespace %>-List_Point-point-num">6<span>,</span>000</span>ポイント
                      </p>
                      <p><a href="#campaign-rule1819" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>詳しくはこちら</a></p>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="c-Theme-Emphasis1 c-Txt_Emp-02 <%= namespace %>-List_Point-point-max">
                <small>最大</small><span class="<%= namespace %>-List_Point-point-max-num">22<span>,</span>000</span>ポイント!
              </li>
            </ul>
          </li>
        </ol>
      </section>
    </div>

    <section class="u-Bg_Monotone97 u-Adjust_Mt-48 u-Adjust_Py-48">
      <%- /* 楽天モバイルについて */ include('/inc/_about-rakuten-mobile', { baseLId: 'campaign_shop-limited-iphone' }) %>
    </section>

    <div class="l-System_Container u-Adjust_Pt-48 u-Adjust_Pb-48">
      <p class="u-Adjust_Align-center c-Txt_Emp-02 c-Heading_Lv3">
        本キャンペーンは2023年7月31日をもちまして終了いたしました。<br>このページに掲載されている情報は、キャンペーン終了時点のものです。</p>
      <div class="u-Adjust_Align-center u-Adjust_Mt-16">
        <a href="<%= sitepath %>campaign/?l-id=end_campaign" class="c-Link_Txt-inline">開催中のキャンペーンを見る<span class="c-Icon_Chevron-right"></span></a>
      </div>
    </div>

    <section id="campaign-rule" class="u-Theme-Light">
      <div class="l-System_Container u-Adjust_Mt-64">

        <h2 class="c-Heading_Lv2" id="campaign-rule1888">【ショップ限定】iPhone対象機種 10,000ポイント還元キャンペーン</h2>
        <dl class="c-Dl_Origin u-Adjust_Mt-24 <%= namespace %>-Rule">
          <div>
            <dt>キャンペーンコード</dt>
            <dd>
              <p>
                1888<br>
                <span class="c-Txt_Cap">※本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</span>
              </p>
            </dd>
          </div>
          <div>
            <dt>キャンペーン期間</dt>
            <dd>
              <div class="c-Txt_Emp-01">■ 製品のご購入期間</div>
              <ul>
                <li>- 店舗（楽天モバイルショップ）　2023年5月1日（月）開店～2023年7月31日（月）閉店</li>
                <li class="c-Txt_Cap u-Adjust_Mt-8">※上記期間中にご購入を完了させる必要があります。</li>
                <li class="c-Txt_Cap">※例）7月に来店予約をし、8月以降に店頭でご購入された方は対象外となります。</li>
                <li class="c-Txt_Cap">※2023年6月30日（金）に終了日を2023年9月30日（土）閉店から2023年7月31日（月）閉店に変更しました。</li>
              </ul>
            </dd>
          </div>
          <div>
            <dt>キャンペーン条件</dt>
            <dd>
              <p class="c-Txt_Emp-02">
                上記各項目の期間内に以下の条件を満たした楽天会員の方<br>
                <span class="c-Txt_Cap c-Txt_Emp-02">※お一人様１回限りの適用となります。</span>
              </p>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-8">対象製品いずれかを楽天モバイルショップでご購入　</p>
              <ul>
                <li>- iPhone 14</li>
                <li>- iPhone 13</li>
                <li>- iPhone 13 mini</li>
                <li class="c-Txt_Cap">※Rakuten最強プランとセット、製品単体購入どちらの場合もキャンペーン対象となります。</li>
              </ul>
            </dd>
          </div>
          <div>
            <dt>キャンペーン特典 （楽天ポイント）</dt>
            <dd class="<%= namespace %>-Rule_Child">
              <dl>
                <dt>特典内容</dt>
                <dd class="c-Txt_Emp-01">10,000ポイントプレゼント</dd>
              </dl>

              <dl>
                <dt>ポイント付与日</dt>
                <dd>
                  <p class="c-Txt_Emp-02">製品ご購入月の翌々月末日ごろに付与</p>
                  <ul class="c-Txt_Cap">
                    <li>※例）5月にすべての条件を達成した場合には、その翌々月である7月末日ごろにポイント付与となります</li>
                    <li>※楽天ポイントの付与は、楽天モバイルより行います</li>
                    <li>※権利の譲渡はできません</li>
                  </ul>
                </dd>
              </dl>

              <dl>
                <dt>ポイント有効期間</dt>
                <dd>
                  <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
                  <ul class="c-Txt_Cap">
                    <li>※<a href="https://ichiba.faq.rakuten.net/detail/000006532" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener">期間限定ポイント<span class="c-Icon_New-window-l"></span></a>について</li>
                    <li>※有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
                  </ul>
                </dd>
              </dl>
            </dd>
          </div>
          <div>
            <dt>特典適用対象外</dt>
            <dd>
              <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
              <ul class="c-Txt_Cap">
                <li>※当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                <li>※「【ショップ限定】iPhone対象機種 10,000ポイント還元キャンペーン」の適用回数が、おひとり様1回を超える場合は対象外となります</li>
                <li>※楽天モバイルショップ以外で購入した場合</li>
                <li>※ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
                <li>※ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                <li>※当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                <li>※そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と合理的に判断した場合</li>
              </ul>
            </dd>
          </div>
          <div>
            <dt>併用不可キャンペーン</dt>
            <dd>
              <p class="c-Txt_Emp-01">以下のキャンペーンは、<span class="c-Txt_Emp-02">併用不可</span>となります</p>
              <p class="c-Txt_Emp-01">以下のキャンペーン特典が適用となっている場合、本キャンペーンは対象外になります。</p>
              <ul class="c-Txt_Cap u-Adjust_Mt-8">
                <li>- 【ショップ限定】iPhone 13 128GBポイントバックキャンペーン （キャンペーンコード：1903）<br>
                  ※　2023年7月1日より、【ショップ限定】iPhone 13 128GBポイントバックキャンペーン（キャンペーンコード：1903）は併用不可となりました。
                </li>
                <li>- 【ショップ限定】iPhone 14 128GBポイントバックキャンペーン （キャンペーンコード：1982）</li>
              </ul>
            </dd>
          </div>
          <div>
            <dt>注意事項</dt>
            <dd>
              <ul class="c-Txt_Cap">
                <li>※本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                <li>※本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                <li>※製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
                <li>※iPhoneのご購入時にネット接続を確認させていただきます。同意いただけない場合、販売をお断りさせていただきます。ご了承ください</li>
                <li>※本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント進呈の対象外となる場合がございます。</li>
                <li>※記載の内容は2023年6月30日（金）時点の情報となります</li>
              </ul>
            </dd>
          </div>
        </dl>

        <%# 1526 _%>
        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="campaign-rule1526">【Rakuten最強プランお申し込み特典】だれでも3,000ポイントプレゼント</h2>
        <dl class="c-Dl_Origin u-Adjust_Mt-24 <%= namespace %>-Rule">
          <div>
            <dt>キャンペーンコード</dt>
            <dd>
              <p>1526</p>
              <ul class="c-Txt_Cap u-Adjust_Mt-8">
                <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
              </ul>
            </dd>
          </div>
          <div>
            <dt>キャンペーン期間</dt>
            <dd>
              <p><span class="c-Txt_Emp-01">■ プランのお申し込み期間</span><br>
                　- Web　2022年7月1日（金）0:00～終了日未定<br>
                　- 店舗（楽天モバイルショップ）　2022年7月1日（金）開店～終了日未定<br>
              </p>

              <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■ プラン利用開始期限</span><br>
                　　プランのお申し込みの翌月末日23:59まで
              </p>
              <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■「Rakuten Link」利用期限</span><br>
                　　プランのお申し込みの翌月末日23:59まで
              </p>
            </dd>
          </div>
          <div>
            <dt>キャンペーン条件</dt>
            <dd>
              <p class="c-Txt_Emp-02">
                上記各項目の期間内に【1】、【2】、【3】の条件をすべて満たした楽天会員の方
              </p>
              <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※ 特典はおひとり様1度のみ。楽天回線を初めてお申し込みいただいた場合に適用となります</p>
              <div class="u-Adjust_Mt-16">
                <span class="c-Txt_Emp-01">【1】「Rakuten最強プラン」へ、下記（1）～（3）いずれかの方法にてお申し込み</span><br>
                <ul class="c-List_Note u-Adjust_Mt-8">
                  <li><span>(1)</span>新規お申し込み</li>
                  <li><span>(2)</span>他社からの乗り換え（MNP）でお申し込み<br>
                    <span class="c-Txt_Cap">※楽天モバイル（旧FREETEL）通話SIMからの乗り換え（MNP）、DMMモバイル通話SIMからの乗り換え（MNP）の場合も含む</span>
                  </li>
                  <li><span>(3)</span>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
                </ul>
                <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※ 「Rakuten UN-LIMIT VII」から「Rakuten最強プラン」への移行は対象外となります。</p>
                <p class="c-Txt_Cap c-Txt_Emp-02">※ 「Rakuten最強プラン（データタイプ）」は対象外です</p>
              </div>
              <div class="u-Adjust_Mt-16">
                <p class="c-Txt_Emp-01">【2】「Rakuten最強プラン」利用開始</p>
                <p class="u-Adjust_Mt-16">【プラン利用開始日とは】</p>
                <ul>
                  <li class="u-Adjust_Mt-8">- 新規お申し込みの場合 <span>※(1)(2)のいずれか早い方がプラン利用開始日となります。</span>
                    <ul class="c-List_Note">
                      <li><span>(1)</span>当社に配送完了データが通知された日</li>
                      <li><span>(2)</span>プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日</li>
                    </ul>
                  </li>
                  <li class="u-Adjust_Mt-8">- 他社から乗り換え（MNP）の場合<br>
                    プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日
                  </li>
                  <li class="u-Adjust_Mt-8">- 楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合<br>
                    プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日
                  </li>
                </ul>
              </div>
              <div class="u-Adjust_Mt-16">
                <p class="c-Txt_Emp-01">【3】対象製品※1を利用し「Rakuten Link」のご利用</p>
                <p class="u-Adjust_Mt-8">「Rakuten 最強プラン」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
                <p class="u-Adjust_Mt-8 c-Txt_Emp-02 c-Txt_Cap">※iPhoneをご購入の場合、製品到着または店頭で購入した日の翌月末日23:59までに【2】【3】の条件を満たすことでキャンペーン適用となります。</p>
                <p class="u-Adjust_Mt-8 c-Txt_Emp-02 c-Txt_Cap">※製品到着とは、当社に配送完了データが通知された日を指します。</p>
                <p class="u-Adjust_Mt-8 c-Txt_Emp-02 c-Txt_Cap">※Xperia 10 Vを2023年5月11日(木)から2023年7月上旬発売時点までに楽天モバイル回線とともに予約し、購入された方は製品到着日の翌月末日23:59までに【2】【3】の条件を満たすことでキャンペーン適用となります。</p>
                <p class="u-Adjust_Mt-16 c-Txt_Emp-01">【Rakuten Link アプリご利用方法】</p>
                下記URLの「Rakuten Linkのご利用方法」をご確認ください<br>
                <a target="_blank" href="<%= sitepath %>guide/rakuten-link/" class="u-Adjust_Txt-break">https://network.mobile.rakuten.co.jp/guide/rakuten-link/</a>
                <br>
                - 通話方法：『電話をかける』の項目をご確認ください
                <p class="c-Txt_Emp-01">【Rakuten Link利用履歴の確認方法】</p>
                「キャンペーンにおけるRakuten Linkの利用について」をご確認ください<br>
                <a href="<%= sitepath %>faq/detail/00001919/" class="u-Adjust_Txt-break">https://network.mobile.rakuten.co.jp/faq/detail/00001919/</a>
                <p class="c-Txt_Cap">※ 電話の発信時、（0570）（0180）などの他社接続サービス、#ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</p>
                <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">
                  ※1 キャンペーン対象製品について<br>
                【iOS版】<br>
                iOS 14.4以降（推奨）を搭載したiPhone</p>

                <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">【Android版】<br>
                Android 9以降を搭載した<a href="<%= sitepath %>product/certified-products/" class="u-Adjust_Txt-break">楽天回線対応製品</a></p>
                <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">
                ※ 楽天回線対応のモバイルルーターで使用されるためにお申し込みいただいた場合は、「Rakuten Link」のご利用は必要ございません。<br>
                ※ ご利用いただく製品によっては、次の機能が利用できない場合があります（接続回線の自動切替、緊急地震速報などの受信、高精度な位置情報測位など）ので、ご利用予定の製品の対応状況を<a href="<%= sitepath %>product/byod/">こちら</a>でご確認ください。<br>
                ※ ご利用いただける機能であっても、OSやソフトウェアの更新等により、機能のご利用が制限される場合があります。<br>
                ※ SIMロックの解除等が必要な場合があります。
                </p>
              </div>
            </dd>
          </div>
          <div>
            <dt>キャンペーン特典 （楽天ポイント）</dt>
            <dt class="<%= namespace %>_Title-sub">特典内容</dt>
            <dd>
              <p class="c-Txt_Emp-01">3,000ポイントプレゼント</p>
            </dd>
          </div>
          <div>
            <dt class="<%= namespace %>_Title-sub">ポイント付与日</dt>
            <dd>
              <p class="c-Txt_Emp-01">「Rakuten最強プラン」の利用開始および「Rakuten Link」の利用が確認された月の翌々月末日ごろに付与</p>
              <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>例）7月にすべての条件を達成した場合には、その翌々月である9月末日ごろにポイント付与となります</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>権利の譲渡はできません</p>
            </dd>
          </div>
          <div>
            <dt class="<%= namespace %>_Title-sub">ポイント有効期間</dt>
            <dd>
              <td>
                <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
                <ul class="u-Adjust_Mt-8">
                  <li class="c-Txt_Cap"><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a></li>
                  <li class="c-Txt_Cap"><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。</li>
                </ul>
              </td>
            </dd>
          </div>
          <div>
            <dt>特典適用対象外</dt>
            <dd>
              <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
              <ul class="u-Adjust_Mt-16">
                <li class="c-Txt_Cap"><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払期限までに行われなかった場合 ※未納・未払いが発生した場合</li>
                <li class="c-Txt_Cap"><span>※</span>「【Rakuten最強プランお申し込み特典】だれでも3,000ポイントプレゼントキャンペーン」の適用回数が、おひとり様1契約1回を超える場合は対象外となります</li>
                <li class="c-Txt_Cap"><span>※</span>楽天モバイルショップ、楽天モバイルオンライン、楽天モバイル公式 楽天市場店以外でお申し込みした場合</li>
                <li class="c-Txt_Cap"><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
                <li class="c-Txt_Cap"><span>※</span>「Rakuten最強プラン」の利用開始がされなかった場合<br>
                  プラン利用開始の手続き方法につきましては、<a href="<%= sitepath %>faq/detail/00001648/">こちらのSIMカード版スタートガイドまたはeSIM版スタートガイド</a>を参照ください</li>
                <li class="c-Txt_Cap"><span>※</span>期限までに<span class="c-Txt_Emp-01">「Rakuten Link」を利用されなかった場合</span></li>
                <li class="c-Txt_Cap"><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                <li class="c-Txt_Cap"><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                <li class="c-Txt_Cap"><span>※</span>楽天モバイル公式 楽天市場店でRakuten WiFi Pocket 2Cを楽天回線プラン（Rakuten最強プラン）セットでご注文した場合</li>
                <li class="c-Txt_Cap"><span>※</span>楽天モバイルショップ、楽天モバイルオンラインでRakuten Hand 5GまたはRakuten WiFi Pocket 2Cを「Rakuten最強プラン」ご契約と同時に購入した場合</li>
                <li class="c-Txt_Cap"><span>※</span>2023年4月14日（金）9:00より特典適用対象外を追加いたしました。</li>
                <li class="c-Txt_Cap"><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
                <li class="c-Txt_Cap c-Txt_Emp-02"><span>※</span>「Rakuten最強プラン（データタイプ）」をお申し込みした場合</li>
                <li class="c-Txt_Cap c-Txt_Emp-02"><span>※</span>「Rakuten最強プラン（データタイプ）」のご契約が過去にある場合</li>
              </ul>
            </dd>
          </div>
          <div>
            <dt>注意事項</dt>
            <dd>
              <ul>
                <li class="c-Txt_Cap"><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                <li class="c-Txt_Cap"><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                <li class="c-Txt_Cap"><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                <li class="c-Txt_Cap c-Txt_Emp-02"><span>※</span>「Rakuten最強プラン（データタイプ）」は対象外です</li>
                <li class="c-Txt_Cap"><span>※</span>記載の内容は2023年7月3日（月）時点の情報となります</li>
              </ul>
            </dd>
          </div>
        </dl>

        <%# 1819 _%>
        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="campaign-rule1819">iPhone 対象端末ポイントバックキャンペーン</h2>
        <dl class="c-Dl_Origin u-Adjust_Mt-24 <%= namespace %>-Rule">
          <div>
            <dt>キャンペーンコード</dt>
            <dd>
              <p>1819</p>
              <ul class="c-Txt_Cap u-Adjust_Mt-8">
                <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
              </ul>
            </dd>
          </div>
          <div>
            <dt>キャンペーン期間</dt>
            <dd>
              <p><span class="c-Txt_Emp-01">■ プランのお申し込み期間</span><br>
                　- Web　2023年2月15日(水)07:00～終了日未定<br>
                　- 店舗（楽天モバイルショップ）　2023年2月15日（水）開店～終了日未定<br>
              </p>

              <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■ 製品のご購入期間</span><br>
                　- Web　2023年2月15日(水)07:00～終了日未定<br>
                　- 店舗（楽天モバイルショップ）　2023年2月15日（水）開店～終了日未定
              </p>
              <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■ プラン利用開始期限</span><br>
                　　製品到着または店頭で購入した日の翌月末日23:59まで
              </p>
              <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■「Rakuten Link」利用期限</span><br>
                　　製品到着または店頭で購入した日の翌月末日23:59まで
              </p>
            </dd>
          </div>
          <div>
            <dt>キャンペーン条件</dt>
            <dd>
              <p class="c-Txt_Emp-02">
                上記各項目の期間内に【1】、【2】、【3】、【4】の条件をすべて満たした楽天会員の方
              </p>
              <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※ 特典はおひとり様1度のみ。楽天回線を初めてお申し込みいただいた場合に適用となります。</p>
              <div class="u-Adjust_Mt-16">
                <span class="c-Txt_Emp-01">【1】「Rakuten最強プラン」へ、下記（1）～（3）いずれかの方法にてお申し込み</span><br>
                <ul class="c-List_Note u-Adjust_Mt-8">
                  <li><span>(1)</span>新規お申し込み</li>
                  <li><span>(2)</span>他社からの乗り換え（MNP）でお申し込み</li>
                  <li><span>(3)</span>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
                </ul>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※「Rakuten UN-LIMIT VII」から「Rakuten最強プラン」への移行は対象外となります。</p>
                <p class="c-Txt_Cap c-Txt_Emp-02">※「Rakuten最強プラン（データタイプ）」は対象外です</p>
              </div>
              <div class="u-Adjust_Mt-16">
                <p class="c-Txt_Emp-01">【2】「Rakuten最強プラン」お申し込みと同時に対象製品いずれかをご購入　</p>
                <p class="u-Adjust_Mt-8">
                  　- iPhone 14 Pro Max<br>
                  　- iPhone 14 Pro<br>
                  　- iPhone 14 Plus<br>
                  　- iPhone 14<br>
                  　- iPhone SE（第3世代）<br>
                  　- iPhone 13<br>
                  　- iPhone 13 mini<br>
                  　<s>- iPhone 13 Pro Max</s><br>
                  　<s>- iPhone 13 Pro</s><br>
                  　<s>- iPhone 12</s>
                </p>
                <p class="c-Txt_Cap">　※2023年3月24日よりiPhone 13 Pro Max、iPhone 13 Pro、iPhone 12は対象外となりました。</p>
                <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">　※在庫が少ない製品もございます。あらかじめご了承ください。<br>
                　※製品の購入がRakuten最強プランお申し込みと同時の場合のみキャンペーン適用となります。</p>
              </div>
              <div class="u-Adjust_Mt-16">
                <p class="c-Txt_Emp-01">【3】製品到着※または店頭で購入した日の翌月末日23:59までに「Rakuten最強プラン」の利用開始</p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">※当社に配送完了データが通知された日</p>
                <p class="u-Adjust_Mt-16">【プラン利用開始日とは】</p>
                　　- 新規お申し込みの場合　　※（1）（2）のいずれか早い方がプラン利用開始日となります<br>
                　　　（1）当社に配送完了データが通知された日<br>
                　　　（2）プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日<br>
                　　- 他社から乗り換え（MNP）の場合<br>
                　　　プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日<br>
                　　- 楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合<br>
                　　　プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日
                <p class="c-Txt_Emp-01">【4】製品到着※または店頭で購入した日の翌月末日23:59までに「Rakuten Link」のご利用</p>
                <p class="c-Txt_Cap">※当社に配送完了データが通知された日</p>
                「Rakuten最強プラン」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話<br>

                <span class="c-Txt_Emp-01">【Rakuten Link アプリご利用方法】</span><br>
                　　下記URLの「Rakuten Linkのご利用方法」をご確認ください<br>
                <a href="https://network.mobile.rakuten.co.jp/guide/rakuten-link/">https://network.mobile.rakuten.co.jp/guide/rakuten-link/</a><br>
                　　- 通話方法：『電話をかける』の項目をご確認ください
                <p class="c-Txt_Emp-01 u-Adjust_Mt-16">【Rakuten Link利用履歴の確認方法】</p>
                　　下記URLの「キャンペーンにおけるRakuten Linkの利用について」をご確認ください<br>
                <a href="https://network.mobile.rakuten.co.jp/faq/detail/00001919/">https://network.mobile.rakuten.co.jp/faq/detail/00001919/</a><br>
                <p class="c-Txt_Cap">　※　電話の発信時、（0570）（0180）などの他社接続サービス、♯ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</p>
              </div>
            </dd>
          </div>
          <div>
            <dt>キャンペーン特典 （楽天ポイント）</dt>
            <dt class="<%= namespace %>_Title-sub">特典内容</dt>
            <dd>
              <p class="c-Txt_Emp-01">6,000ポイントプレゼント</p>
            </dd>
          </div>
          <div>
            <dt class="<%= namespace %>_Title-sub">ポイント付与日</dt>
            <dd>
              <p class="c-Txt_Emp-01">「Rakuten最強プラン」のプラン利用開始および「Rakuten Link」の利用が確認された月の翌々月末日ごろに付与</p>
              <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>例）2月にすべての条件を達成した場合には、その翌々月である4月末日ごろにポイント付与となります</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>権利の譲渡はできません</p>
            </dd>
          </div>
          <div>
            <dt class="<%= namespace %>_Title-sub">ポイント有効期間</dt>
            <dd>
              <td>
                <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
                <ul class="u-Adjust_Mt-8">
                  <li class="c-Txt_Cap"><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a></li>
                  <li class="c-Txt_Cap"><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。</li>
                </ul>
              </td>
            </dd>
          </div>
          <div>
            <dt>特典適用対象外</dt>
            <dd>
              <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
              <ul class="u-Adjust_Mt-16">
                <li class="c-Txt_Cap"><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                <li class="c-Txt_Cap"><span>※</span>楽天モバイルショップ、楽天モバイルオンライン以外で購入した場合</li>
                <li class="c-Txt_Cap"><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
                <li class="c-Txt_Cap"><span>※</span>「Rakuten最強プラン」のプラン利用開始がされなかった場合<br>
                  -プラン利用開始の手続き方法につきましては、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/">こちらのSIMカード版スタートガイドまたはeSIM版スタートガイド</a>を参照ください</li>
                <li class="c-Txt_Cap"><span>※</span>期限までに<span class="c-Txt_Emp-01">「Rakuten Link」を利用されなかった</span>場合</li>
                <li class="c-Txt_Cap"><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                <li class="c-Txt_Cap"><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                <li class="c-Txt_Cap"><span>※</span>「Rakuten最強プラン（データタイプ）」をお申し込みした場合</li>
                <li class="c-Txt_Cap"><span>※</span>「Rakuten最強プラン（データタイプ）」のご契約が過去にある場合</li>
                <li class="c-Txt_Cap"><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
              </ul>
            </dd>
          </div>
          <div>
            <dt>併用可能キャンペーン</dt>
            <dd>
              <p class="c-Txt_Emp-02">以下のキャンペーンは併用可能となります。以下記載のキャンペーン以外は併用不可となります。</p>
              <p class="u-Adjust_Mt-16 c-Txt_Cap">
                　- iPhoneアップグレードプログラム適用で5,000ポイント還元キャンペーン（キャンペーンコード：1383）<br>
                　- 【15分（標準）通話かけ放題】料金3カ月無料特典（キャンペーンコード：1525）<br>
                　- 【Rakuten最強プランお申し込み特典】だれでも3,000ポイントプレゼントキャンペーン（キャンペーンコード：1526）<br>
                　- 【ショップ限定】iPhone SE（第3世代）64GBポイントバックキャンペーン（キャンペーンコード：1629）<br>
                　- iPhone新規購入&下取りで、10,000ポイント還元！！キャンペーン（キャンペーンコード：1743）<br>
                　- 【楽天モバイル】Rakuten最強プラン紹介キャンペーン（キャンペーンコード：1784）<br>
                　- 【ショップ限定】対象製品と楽天回線同時申込でさらに3,000ポイントキャンペーン（キャンペーンコード：1825）<br>
                　<span class="c-Txt_Cap">※【楽天モバイル】Rakuten最強プラン紹介キャンペーン（キャンペーンコード：1784）と【ショップ限定】対象製品と楽天回線同時申込でさらに3,000ポイントキャンペーン（キャンペーンコード：1825）のどちらかが適用されます</span>
              </p>
            </dd>
          </div>
          <div>
            <dt>併用不可キャンペーン</dt>
            <dd>
              <p class="c-Txt_Emp-01">以下のキャンペーンは、<span class="c-Txt_Emp-02">併用不可</span>となります</p>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-8">・以下のキャンペーン特典が適用となっている場合、本キャンペーンは対象外になります。</p>
              <p class="c-Txt_Cap">- Androidスマホ/Wi-Fiルーター割引キャンペーン​ (キャンペーンコード：1550)</p>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-8">・本キャンペーン特典が適用となっている場合、以下キャンペーンは対象外になります。</p>
              <p class="c-Txt_Cap">- 【ショップ&土日祝日限定】回線のみ契約で、さらに2,000ポイントプレゼント​ (キャンペーンコード：1943)</p>
            </dd>
          </div>
          <div>
            <dt>注意事項</dt>
            <dd>
              <ul>
                <li class="c-Txt_Cap"><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                <li class="c-Txt_Cap"><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                <li class="c-Txt_Cap"><span>※</span>製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
                <li class="c-Txt_Cap"><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                <li class="c-Txt_Cap c-Txt_Emp-02"><span>※</span>「Rakuten最強プラン（データタイプ）」は対象外です</li>
                <li class="c-Txt_Cap"><span>※</span>記載の内容は2023年7月3日（月）時点の情報となります</li>
              </ul>
            </dd>
          </div>
        </dl>

        <%# 1592 _%>
        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="campaign-rule1592">iPhone対象機種特価キャンペーン</h2>
        <dl class="c-Dl_Origin u-Adjust_Mt-24 <%= namespace %>-Rule">
          <div>
            <dt>キャンペーンコード</dt>
            <dd>
              <p class="u-Adjust_Mt-8">
                1592
              </p>
              <ul class="c-List_Cap u-Adjust_Mt-8 c-Txt_Cap">
                <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
              </ul>
            </dd>
          </div>
          <div>
            <dt>キャンペーン期間</dt>
            <dd>
              <p class="c-Txt_Emp-01">■ 製品のご購入期間</p>
              - Web　2022年7月22日（金）9:00～終了日未定<br>
              - 店舗（楽天モバイルショップ）　2022年7月22日（金）開店～終了日未定
            </dd>
          </div>
          <div>
            <dt>キャンペーン条件</dt>
            <dd>
              <p class="c-Txt_Emp-02">上記各項目の期間内に以下の条件を満たした楽天会員の方</p>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-8">
                お一人様１回限りの適用となります。<br>
                対象製品いずれかを購入
              </p>
              - iPhone SE（第3世代）<br>
              - iPhone 13<br>
              - iPhone 13 mini<br>
              <s>- iPhone 13 Pro Max</s><br>
              <s>- iPhone 13 Pro</s><br>
              <s>- iPhone 12</s><br>
              <s>- iPhone 12 mini</s>
              <p class="c-Txt_Cap">※2022年10月7日よりiPhone 12 miniは対象外となりました。</p>
              <p class="c-Txt_Cap">※2023年3月24日よりiPhone 13 Pro Max、iPhone 13 Pro、iPhone 12は対象外となりました。</p>
              <p class="c-Txt_Cap c-Txt_Emp-02">※Rakuten最強プランとセット、製品単体購入どちらの場合もキャンペーン対象となります。</p>
            </dd>
          </div>
          <div>
            <dt>キャンペーン特典</dt>
            <dd>
              <p class="c-Txt_Emp-01">■特典内容</p>
                  <p class="c-Txt_Emp-01 u-Adjust_Mt-8">キャンペーン期間中、以下価格（税込）での販売</p>
                  -iPhone SE（第3世代） 64GB 62,800円<br>
                  -iPhone SE（第3世代） 128GB 69,800円<br>
                  -iPhone SE（第3世代） 256GB 84,800円<br>
                  -iPhone 13 128GB 108,900円（10月25日 8:59まで117,800円）<br>
                  -iPhone 13 256GB 123,900円（10月25日 8:59まで132,800円）<br>
                  -iPhone 13 512GB 153,910円（10月25日 8:59まで162,800円）<br>
                  -iPhone 13 mini 128GB 93,900円（10月25日 8:59まで 99,800円）<br>
                  -iPhone 13 mini 256GB 108,900円（10月25日 8:59まで114,800円）<br>
                  -iPhone 13 mini 512GB 128,800円（10月25日9:00から12月12日 8:59まで138,900円）（10月25日 8:59まで144,800円）<br>
                  <s>-iPhone 13 Pro Max 128GB 159,800円</s><br>
                  <s>-iPhone 13 Pro Max 256GB 174,810円</s><br>
                  <s>-iPhone 13 Pro Max 512GB 204,800円</s><br>
                  <s>-iPhone 13 Pro Max 1TB 234,800円</s><br>
                  <s>-iPhone 13 Pro 128GB 144,800円</s><br>
                  <s>-iPhone 13 Pro 256GB 159,800円</s><br>
                  <s>-iPhone 13 Pro 512GB 189,800円</s><br>
                  <s>-iPhone 13 Pro 1TB 219,800円</s><br>
                  <s>-iPhone 12 64GB 93,900円（10月25日 8:59まで102,800円）</s><br>
                  <s>-iPhone 12 128GB 100,900円（10月25日 8:59まで109,800円）</s><br>
                  <s>-iPhone 12 256GB 115,900円（10月25日 8:59まで124,800円）</s><br>
                  <s>-iPhone 12 mini 64GB 87,800円</s><br>
                  <s>-iPhone 12 mini 128GB 94,800円</s><br>
                  <s>-iPhone 12 mini 256GB 109,800円</s>
                  <p class="c-Txt_Cap">※2022年10月7日よりiPhone 12 miniは対象外となりました。</p>
                  <p class="c-Txt_Cap">※2023年3月24日よりiPhone 13 Pro Max、iPhone 13 Pro、iPhone 12は対象外となりました。</p>
            </dd>
          </div>
          <div>
            <dt>特典適用対象外</dt>
            <dd class="c-Txt_Cap">
              <p class="c-Txt_Emp-01 u-Adjust_Mb-8">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
              ※　当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合<br>
              ※　楽天モバイルショップ、楽天モバイルオンライン以外で購入した場合<br>
              ※　ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合<br>
              ※　ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合<br>
              ※　当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合<br>
              ※　そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合
            </dd>
          </div>
          <div>
            <dt>注意事項</dt>
            <dd class="c-Txt_Cap">
              ※　本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください<br>
              ※　本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります<br>
              ※　製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります<br>
              ※　本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります<br>
              ※　記載の内容は2023年6月1日（木）時点の情報となります
            </dd>
          </div>
        </dl>

        <%# 1825 _%>
        <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="campaign-rule1825">【ショップ限定】対象製品と楽天回線同時申込でさらに3,000ポイントキャンペーン</h2>
        <p class="c-Txt_Cap u-Adjust_Mt-8 c-Txt_Emp-02">※2023年7月3日閉店時をもちまして、Xperia 10 IV、OPPO A55s 5Gは本キャンペーンの対象外になります。</p>
        <p class="c-Txt_Cap c-Txt_Emp-02">※2023年7月4日9:00より、Xperia 10 IV、OPPO A55s
          5Gを対象に「【Android対象製品限定】ガンガン！ポイント還元キャンペーン（キャンペーンコード：1980）」を開催いたします。（Xperia 10
          IV：25,000ポイント、OPPO A55s 5G：6,699ポイント）</p>

        <div class="c-Table_Wrap u-Adjust_Mt-24">
          <dl class="c-Dl_Origin <%= namespace %>-Rule">
            <div>
              <dt>キャンペーンコード</dt>
              <dd>
                <p>1825</p>
                <ul class="c-Txt_Cap u-Adjust_Mt-8">
                  <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                </ul>
              </dd>
            </div>
            <div>
              <dt>キャンペーン期間</dt>
              <dd>
                <p><span class="c-Txt_Emp-01">■ プランのお申し込み期間</span><br>
                  　- 店舗（楽天モバイルショップ）　2023年2月15日（水）7:00～終了日未定
                </p>
                <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■ 製品のご購入期間</span><br>
                  　- 店舗（楽天モバイルショップ）　2023年2月15日（水）7:00～終了日未定
                </p>
                <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■ プラン利用開始期限</span><br>
                  　製品を受け取った日の翌々月末日23:59まで
                </p>
                <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■「Rakuten Link」利用期限</span><br>
                  　製品を受け取った日の翌々月末日23:59まで
                </p>
              </dd>
            </div>
            <div>
              <dt>キャンペーン条件</dt>
              <dd>
                <p class="c-Txt_Emp-02">上記各項目の期間内に【1】、【2】、【3】、【4】の条件をすべて満たした楽天会員の方<br>
                  ※ 特典はおひとり様1度のみ。
                </p>
                <p class="c-Txt_Emp-01 u-Adjust_Mt-24">【1】「Rakuten最強プラン」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>

                <ol class="c-List_Note u-Adjust_Mt-8">
                  <li><span>(1)</span>新規お申し込み</li>
                  <li><span>(2)</span>他社からの乗り換え（MNP）でお申し込み</li>
                  <li><span>(3)</span>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
                </ol>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※「Rakuten UN-LIMIT VII」から「Rakuten最強プラン」への移行は対象外となります。</p>
                <p class="c-Txt_Cap c-Txt_Emp-02">※「Rakuten最強プラン（データタイプ）」は対象外です</p>

                <p class="c-Txt_Emp-01 u-Adjust_Mt-24">【2】「Rakuten最強プラン」お申し込み日と同時に対象製品いずれかをご購入</p>
                <p class="u-Adjust_Mt-16">
                  　<s>- AQUOS wish</s><br>
                  　- AQUOS wish3<br>
                  　- AQUOS sense7<br>
                  　- AQUOS sense6s<br>
                  　<s>- AQUOS sense6</s><br>
                  　<s>- AQUOS zero6</s><br>
                  　- Xperia 10 V<br>
                  　<s>- Xperia 10 IV</s><br>
                  　- Xperia 5 IV<br>
                  　- OPPO A55s 5G<br>
                  　<s>- OPPO Reno5 A</s><br>
                  　- OPPO Reno7 A<br>
                  　- OPPO Reno9 A<br>
                  　- Redmi Note 11​ Pro 5G​<br>
                  　- Galaxy Z Flip 4<br>
                  　- Galaxy A23 5G<br>
                  　- Galaxy S23<br>
                  　- iPhone 14 Pro Max<br>
                  　- iPhone 14 Pro<br>
                  　- iPhone 14 Plus<br>
                  　- iPhone 14<br>
                  　- iPhone SE（第3世代）<br>
                  　- iPhone 13<br>
                  　- iPhone 13 mini<br>
                  　<s>- iPhone 13 Pro Max</s><br>
                  　<s>- iPhone 13 Pro</s><br>
                  　<s>- iPhone 12</s>
                </p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">
                  ※2023年3月24日にiPhone 12、iPhone 13 Pro、iPhone 13 Pro Maxを削除しました。<br>
                  ※2023年4月20日にGalaxy S23を追加しました。<br>
                  ※2023年5月16日にAQUOS sense6、OPPO Reno5 Aを削除しました。<br>
                  ※2023年6月9日にAQUOS wish、AQUOS zero6を削除しました。<br>
                  ※2023年6月22日にOPPO Reno9 Aを追加しました。<br>
                  ※2023年7月4日にXperia 10 IVとOPPO A55s 5Gを削除しました。<br>
                  ※2023年7月6日にAQUOS Wish3、Xperia 10 Vを追加しました。
                </p>

                <p class="c-Txt_Emp-01 u-Adjust_Mt-24">【3】製品を受け取った日の翌々月末日23:59までに「Rakuten最強プラン」利用開始</p>
                <p class="u-Adjust_Mt-16">【プラン利用開始日とは】</p>
                <ul>
                  <li class="u-Adjust_Mt-8">- 新規お申し込みの場合 <span>※(1)(2)のいずれか早い方がプラン利用開始日となります。</span>
                    <ul class="c-List_Note">
                      <li><span>(1)</span>当社に配送完了データが通知された日</li>
                      <li><span>(2)</span>プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日</li>
                    </ul>
                  </li>
                  <li class="u-Adjust_Mt-8">- 他社から乗り換え（MNP）の場合<br>
                    プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日
                  </li>
                  <li class="u-Adjust_Mt-8">- 楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合<br>
                    プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日
                  </li>
                </ul>

                <p class="c-Txt_Emp-01 u-Adjust_Mt-24">【4】製品を受け取った日の翌々月末日23:59までに「Rakuten Link」のご利用</p>
                <p class="u-Adjust_Mt-16">
                  「Rakuten最強プラン」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話
                </p>
                <p class="u-Adjust_Mt-16">
                  【Rakuten Link アプリご利用方法】<br>
                  下記URLの「Rakuten Linkのご利用方法」をご確認ください<br>
                  <a href="<%= sitepath %>guide/rakuten-link/"
                    class="c-Link_Txt">https://network.mobile.rakuten.co.jp/guide/rakuten-link/</a>
                  - 通話方法：『電話をかける』の項目をご確認ください<br>
                </p>
                <p class="u-Adjust_Mt-16">
                  【Rakuten Link利用履歴の確認方法】<br>
                  「<a href="<%= sitepath %>faq/detail/00001919/" class="c-Link_Txt">キャンペーンにおけるRakuten
                    Linkの利用について</a>」をご確認ください<br>
                </p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">
                  ※ 電話の発信時、（0570）（0180）などの他社接続サービス、#ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります
                </p>
              </dd>
            </div>
            <div>
              <dt>キャンペーン特典 （楽天ポイント）</dt>
              <dt class="<%= namespace %>_Title-sub">特典内容</dt>
              <dd>
                <p class="c-Txt_Emp-01">3,000ポイントプレゼント</p>
              </dd>
            </div>
            <div>
              <dt class="<%= namespace %>_Title-sub">ポイント付与日</dt>
              <dd>
                <p class="c-Txt_Emp-01">
                  「Rakuten最強プラン」のお申し込みの4カ月後の末日ごろに付与
                </p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">
                  ※　例）2月にお申し込み後、すべてのキャンペーン条件を期限内に達成した場合には、お申込みの4カ月後である6月末日ごろにポイント付与となります<br>
                  ※　楽天ポイントの付与は、楽天モバイルより行います<br>
                  ※　権利の譲渡はできません
                </p>
              </dd>
            </div>
            <div>
              <dt class="<%= namespace %>_Title-sub">ポイント有効期間</dt>
              <dd>
                <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">
                  ※　<a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank"
                    class="c-Link_Txt">期間限定ポイントについて</a><br>
                  ※　有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません
                </p>
              </dd>
            </div>
            <div>
              <dt>特典適用対象外</dt>
              <dd>
                <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
                <ul class="<%= namespace %>-List_Cap u-Adjust_Mt-16 c-Txt_Cap">
                  <li><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                  <li><span>※</span>キャンペーンの適用回数が、おひとり様1回を超える場合は対象外となります</li>
                  <li><span>※</span>「Rakuten最強プラン」お申し込みと同時にWi-Fiルーターをご購入の場合</li>
                  <li><span>※</span>「Rakuten最強プラン」お申し込みと同時にRakuten Hand 5Gをご購入の場合</li>
                  <li><span>※</span>同一回線で併用不可キャンペーンに参加された場合、ポイント付与対象にはなりませんのでご了承ください</li>
                  <li><span>※</span>楽天モバイルショップ以外で購入した場合</li>
                  <li><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
                  <li><span>※</span>「Rakuten最強プラン」の利用開始がされなかった場合<br>
                    -プラン利用開始の手続き方法につきましては、<a
                      href="<%= sitepath %>faq/detail/00001648/">こちらのSIMカード版スタートガイドまたはeSIM版スタートガイド</a>を参照ください</li>
                  <li><span>※</span>期限までに<span class="c-Txt_Emp-01">「Rakuten Link」の利用条件を満たさなかった</span>場合</li>
                  <li><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                  <li><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                  <li><span>※</span>「Rakuten最強プラン（データタイプ）」をお申し込みした場合</li>
                  <li><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と合理的に判断した場合</li>
                </ul>
              </dd>
            </div>
            <div>
              <dt>併用可能キャンペーン</dt>
              <dd>
                <p class="c-Txt_Emp-02">以下のキャンペーンは併用可能となります。以下記載のキャンペーン以外は併用不可となります。</p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">- Androidスマホ割引キャンペーン （キャンペーンコード：1550）</p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">- 【15分（標準）通話かけ放題】料金3カ月無料特典（キャンペーンコード：1525）</p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">-【Rakuten最強プランお申し込み特典】だれでも3,000ポイントプレゼント（キャンペーンコード：1526）</p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">- 【ショップ限定】対象製品購入でさらにポイント還元キャンペーン（キャンペーンコード：1584）</p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">- iPhone 対象端末ポイントバックキャンペーン（キャンペーンコード：1819）</p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">- iPhoneアップグレードプログラム適用で5,000ポイント還元キャンペーン（キャンペーンコード：1383）</p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">- iPhone新規購入&下取りで、10,000ポイント還元！！キャンペーン（キャンペーンコード：1743）</p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">-【ショップ限定】春限定！対象製品購入でさらにポイント還元キャンペーン（キャンペーンコード：1849）</p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">- 楽天モバイルもう1回線追加お申し込みで3,000ポイントプレゼント（キャンペーンコード：1896）</p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">-【ショップ限定】iPhone対象機種 10,000ポイント還元キャンペーン（キャンペーンコード：1888）</p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">- Android新製品ご購入キャンペーン（キャンペーンコード：1921）</p>
              </dd>
            </div>
            <div>
              <dt>併用不可キャンペーン</dt>
              <dd>
                <p class="c-Txt_Emp-01">本キャンペーンを適用した場合、以下のキャンペーン特典は対象外となります。</p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">- 【ショップ&土日祝日限定】回線のみ契約で、さらに2,000ポイントプレゼント（キャンペーンコード：1943）</p>
                <p class="u-Adjust_Mt-8 c-Txt_Emp-01">本キャンペーン条件を満たす前、または満たした後に、以下のキャンペーンの条件を満たした場合には、以下のキャンペーンが優先的に適用されます。
                </p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">- 【楽天モバイル】Rakuten最強プラン紹介キャンペーン（キャンペーンコード：1784）</p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">- 楽天モバイル公式 楽天市場店 対象Apple製品と楽天回線セットご注文で16,000円OFFクーポン（キャンペーンコード：1545）</p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">- 楽天モバイル公式 楽天市場店 対象Android製品と楽天回線セットご注文で16,000円OFFクーポン（キャンペーンコード：1547）</p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">- 【ショップ限定】iPhone SE（第3世代）64GBポイントバックキャンペーン（キャンペーンコード：1629）</p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">- Rakuten Hand 5G / Rakuten WiFi Pocket 1円キャンペーン（キャンペーンコード：1875）</p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">- 【ショップ限定】iPhone 13 128GBポイントバックキャンペーン （キャンペーンコード：1903）</p>
                <p class="u-Adjust_Mt-8 c-Txt_Cap">- 【ショップ限定】iPhone 14 128GBポイントバックキャンペーン （キャンペーンコード：1982）</p>
              </dd>
            </div>
            <div>
              <dt>注意事項</dt>
              <dd>
                <ul class="c-Txt_Cap">
                  <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                  <li><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                  <li><span>※</span>製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
                  <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                  <li class="c-Txt_Emp-02"><span>※</span>「Rakuten最強プラン（データタイプ）」は対象外です</li>
                  <li><span>※</span>記載の内容は2023年7月6日（木）時点の情報となります</li>
                </ul>
              </dd>
            </div>
          </dl>
        </div>

      </div>
    </section>

    <footer class="g-Footer u-Adjust_Mt-64">
      <!--
        <div class="g-Footer_Aside">
          <%#- include('/include/footer/related/related-news') _%>
          <%#- include('/include/footer/bnr/bnr-news') _%>
        </div>
      -->
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
</body>
</html>
