<% const pagetitle = "楽天モバイル プレスカンファレンス" -%>
<% const directories = [{path:"information/", label:"お知らせ"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイル プレスカンファレンス',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/info/press-conference/info-press-conference.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="info-press-conference-Hero">
  <div class="info-press-conference-Hero_Container">
    <h1>
      <img src="<%= sitepath %>assets/img/info/press-conference/hero-max.png?210422" alt="楽天モバイル プレスカンファレンス 2021.4.22(木)15:00開始" class="info-press-conference-Hero_Title-max">
      <img src="<%= sitepath %>assets/img/info/press-conference/hero-wide.png?210422" alt="楽天モバイル プレスカンファレンス 2021.4.22(木)15:00開始" class="info-press-conference-Hero_Title-wide">
      <img src="<%= sitepath %>assets/img/info/press-conference/hero-pc.png?210422" alt="楽天モバイル プレスカンファレンス 2021.4.22(木)15:00開始" class="info-press-conference-Hero_Title-pc">
      <img src="<%= sitepath %>assets/img/info/press-conference/hero-tb.png?210422" alt="楽天モバイル プレスカンファレンス 2021.4.22(木)15:00開始" class="info-press-conference-Hero_Title-tb">
      <img src="<%= sitepath %>assets/img/info/press-conference/hero-sp.png?210422" alt="楽天モバイル プレスカンファレンス 2021.4.22(木)15:00開始" class="info-press-conference-Hero_Title-sp">
    </h1>
  </div>
</div>

<div class="info-press-conference-Layout">
  <h2 class="u-Adjust_Mt-32">楽天モバイル <span>プレスカンファレンス</span></h2>

  <div class="l-System_Container">
    <div class="info-press-conference-Layout_Bnr u-Adjust_Mt-32">
      <a href="<%= sitepath %>new-apple/">
        <img src="<%= sitepath %>assets/img/bnr/product-iphone-family-1032-300.png?210601" alt="5GのiPhone 12、12 Pro 楽天モバイルから、ついに登場" class="info-press-conference-Layout_Show-pc">
        <img src="<%= sitepath %>assets/img/bnr/product-iphone-family-375-192.png?210601" alt="5GのiPhone 12、12 Pro 楽天モバイルから、ついに登場" class="info-press-conference-Layout_Show-sp">
      </a>
    </div>
  </div>

  <div class="info-press-conference-Layout_Bg u-Adjust_Mt-32">
    <div class="l-System_Container">
      <h3>4月22日に楽天モバイルが発表した内容については、こちらからご覧いただけます。</h3>
      <div class="info-press-conference-Layout_Movie">
        <div style="position: relative; padding-bottom: 56.25%;">
          <iframe
          style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
          src="https://www.youtube.com/embed/8D02G3VdZ4w"
          frameborder="0"
          allow="autoplay;
          encrypted-media"
          allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="info-press-conference-Layout_English">
  <h2 class="u-Adjust_Mt-64"><span>Rakuten Mobile </span><br><span>Press Conference</span></h2>
  <div class="info-press-conference-Layout_Bg u-Adjust_Mt-32">
    <div class="l-System_Container">
      <h3>Watch the video below to find out more about the April 22 announcement from Rakuten Mobile.</h3>
      <div class="info-press-conference-Layout_Movie">
        <div style="position: relative; padding-bottom: 56.25%;">
          <iframe
          style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
          src="https://www.youtube.com/embed/ZSFtUTTtFjY"
          frameborder="0"
          allow="autoplay;
          encrypted-media"
          allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-news.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%#- include('/faq/include/related-service.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
