<% const pagetitle = "iPhone 13 Pro／iPhone 13 Pro Max／iPhone 13／iPhone 13 miniの販売価格について" -%>
<% const directories = [{path:"info/", label:"お知らせ"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルは、iPhone 13シリーズを楽天モバイルショップ（注1）と「楽天モバイル」の公式ウェブサイトおよび「楽天モバイル公式 楽天市場店」において、9月17日（金）午後9時から予約受付を開始し、9月24日（金）午前8時より発売します。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "お知らせ" -%>
<% const nameSpace = "info" -%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/iphone/<%= nameSpace %>-iphone.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-iphone-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
    <p class="u-Adjust_Align-right">2021年9月17日</p>
    <p class="u-Adjust_Mt-16">楽天モバイルは、iPhone 13シリーズを楽天モバイルショップ（注1）と「楽天モバイル」の公式ウェブサイトおよび「楽天モバイル公式 楽天市場店」において、9月17日（金）午後9時から予約受付を開始し、9月24日（金）午前8時より発売します。</p>
    <p class="u-Adjust_Mt-8">製品価格の詳細は下記をご確認ください（<a href="<%= sitepath %>assets/pdf/information/210917-iphone.pdf" class="c-Link_Txt-inline-icon">PDFファイルのDLはこちらから<span class="c-Icon_Pdf-l"></span></a>）。</p>

    <p class="c-Txt_Cap u-Adjust_Mt-8">（注１） 一部の楽天モバイルショップにおいては、「iPhone」の取り扱いはございません。予約受付と発売は、各店舗の営業時間に準じます</p>

    <p class="c-Txt_Cap u-Adjust_Mt-24 u-Adjust_Align-right">※表記の金額は特に記載のある場合を除きすべて税込です。</p>
    <div class="u-Adjust_Mt-8">
      <div class="c-Table_Wrap-scroll">
        <div class="js-Scrollable">
          <img src="https://mvno.mobile.rakuten.co.jp/img/mno/iphone-price.png" style="width:1032px;max-width:1032px;" alt="価格表">
        </div>
      </div>
    </div>
    <p class="c-Txt_Cap u-Adjust_Mt-8">※1 現金販売価格および割賦販売価格（総額）は一括払いの支払い総額と同額です。支払回数48回、支払期間48カ月、実質年率0％。楽天カードのみ。</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">※2 25カ月目で返却した場合。機種変更または返却による解約の際は、返却手数料3,300円がかかります。ご返却の製品が当社指定の状態基準を満たさない場合、故障費用22,000円（不課税）のお支払いが必要となる、または返却不可となる場合があります。 ※機種変更のタイミングによって、お支払い不要になる金額が変わります。</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">※3 「【Rakuten UN-LIMIT VIお申し込み特典】だれでも5,000ポイントプレゼント」適用時。楽天モバイルを初めてお申し込みいただいた回線に限ります。「他社から乗り換え（MNP）の方限定！通常のRakuten UN-LIMIT VIお申し込み特典に加えて、さらに15,000ポイントプレゼントキャンペーン」適用時。<br>
      楽天ポイントの付与は、「Rakuten UN-LIMIT VI」をお申し込みした回線で、「Rakuten Link」を用いた発信で10秒以上の通話が確認された月の翌々月末日頃までに、期間限定ポイントで行います。※取得した楽天ポイントは楽天モバイルや楽天の各サービスでご利用できます。詳しくは楽天ポイントのページをご覧ください。</p>

    <p class="c-Txt_Cap u-Adjust_Mt-24">※Apple、iPhone、Retina、Super Retina、ProMotionは、米国および他の国々で登録されたApple Inc.の商標です。</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">※iPhoneの商標は、アイホン株式会社のライセンスに基づき使用されています。</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">※その他、本お知らせに記載されている会社名および製品・サービス名は、各社の登録商標または商標です。</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">※ここに掲載されている情報は、発表日現在の情報です。最新の情報と異なる場合がございますので、あらかじめご了承ください。</p>
  </div>
</div>


<footer class="g-Footer">

  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
    </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/service.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
