<section class="<%= commonNamespace %>-Spec_Section-other">
  <div class="<%= commonNamespace %>-Spec_Section-other-bg">
    <div class="<%= commonNamespace %>-Spec_Section-other">
      <div class="<%= commonNamespace %>-Spec_Section-other-inner">
        <div class="<%= commonNamespace %>-Spec_Section-other-note">
          <%# スクロール計測 %>
          <div class="u-Rat_Appear-height" data-ratid="<%= ratidDir %>_scroll-06_disclaimer" data-ratevent="appear">&nbsp;</div>
          <p class="c-Txt_Cap"><%- diamond %>免責事項</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">血中酸素ウェルネスアプリ</span><br>血中酸素ウェルネスアプリの測定値は、自己診断または医師との相談を含む医療での使用を目的とするものではなく、一般的なフィットネスとウェルネスのみを目的としています。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">心電図アプリ</span><br>心電図アプリは、iOSおよびwatchOSの最新バージョンを搭載したApple Watch Series 4以降（Apple Watch SEを除く）で利用できます。互換性について詳しくは、<a href="https://www.apple.com/jp/watch/" target="_blank" rel="noopener noreferrer">apple.com/jp/watch</a>をご覧ください。心電図機能は、22歳未満の方による使用を目的としたものではありません。Apple Watchは、心電図アプリで第Ⅰ誘導心電図に類似した心電図を作成できます。販売名：Appleの心電図アプリケーション　管理医療機器販売業者等：Apple Japan合同会社（住所：東京都港区六本木6丁目10番1号六本木ヒルズ お問い合わせ：0120-277-535）</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">耐亀裂性能</span><br>一世代前のモデルと比較した耐亀裂性能。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">防塵性能</span><br>Apple Watch Series 7にはIP6X等級の防塵性能があります。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">耐水性能</span><br>Apple Watch Series 3、Apple Watch SE、Apple Watch Series 7にはISO規格22810:2010にもとづく50メートルの耐水性能があります。これは、プールや海で泳ぐなど、浅水でのアクティビティで使用できることを意味します。ただし、スキューバダイビング、ウォータースキー、高速水流または低水深を超える潜水を伴うその他のアクティビティには使用しないでください。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">緊急SOS</span><br>Apple Watch Series 7（GPS + Cellularモデル）とApple Watch SE（GPS + Cellularモデル）では、携帯電話通信を使って緊急SOSを利用できます。携帯電話通信機能を内蔵していないApple Watchで緊急SOSを利用するには、ご利用のiPhoneが近くにある必要があります。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">携帯電話通信機能</span><br>携帯電話通信サービスを利用するには、通信サービスプランへの加入が必要です。詳しくはサービスプロバイダにお問い合わせください。携帯電話通信サービスへの接続状態は、ネットワークの利用状況によって異なる場合があります。国際ローミングには対応していません。対応している通信事業者と利用条件については、<a href="https://www.apple.com/jp/watch/cellular/" target="_blank" rel="noopener noreferrer">apple.com/jp/watch/cellular</a>をご覧ください。詳しい設定手順については、<a href="https://support.apple.com/ja-jp/HT207578/" target="_blank" rel="noopener noreferrer">support.apple.com/ja-jp/HT207578</a>をご覧ください。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">App Store</span><br>アプリはApp Storeで購入、入手できます。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">ファミリー共有設定</span><br>ファミリー共有設定でApple Watchを設定した場合、一部の機能は利用できません。携帯電話通信サービスを利用するには、通信サービスプランへの加入が必要です。詳しくはサービスプロバイダにお問い合わせください。対応している通信事業者と利用条件については、<a href="https://www.apple.com/jp/watch/cellular/" target="_blank" rel="noopener noreferrer">apple.com/jp/watch/cellular</a>をご覧ください。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">不規則な心拍の通知</span><br>不規則な心拍の通知機能を使用するには、watchOSおよびiOSの最新バージョンが必要です。この機能は、22歳未満の方による使用を目的としたものではありません。販売名：Appleの不規則な心拍の通知プログラム 管理医療機器販売業者等：Apple Japan合同会社（住所：東京都港区六本木6丁目10番1号六本木ヒルズ お問い合わせ：0120-277-535）</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">海外における緊急通報</span><br>海外における緊急通報機能を利用するには、Apple Watch Series 7（GPS + Cellularモデル）またはApple Watch SE（GPS + Cellularモデル）が必要です。この機能を利用できる国と地域の一覧については<a href="https://www.apple.com/jp/watchos/feature-availability/" target="_blank" rel="noopener noreferrer">apple.com/jp/watchos/feature-availability</a>をご覧ください。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">より高速な充電</span><br>Apple Watch磁気高速充電USB-Cケーブル（モデルA2515）とApple 20W USB-C電源アダプタ（モデルA2305）を接続したApple Watch Series 7（GPSモデル）とApple Watch Series 7（GPS + Cellularモデル）の試作ハードウェア、Apple Watch磁気充電ケーブル（モデルA2255およびA2256）とApple 5W USB電源アダプタ（モデルA1385）を接続したApple Watch Series 6（GPSモデル）とApple Watch Series 6（GPS + Cellularモデル）を使用し、2021年8月にAppleが実施したテスト結果によります。Apple WatchはiPhoneとペアリングし、すべてのデバイスはリリース前のソフトウェアを使用してテストを実施。充電時間は地域、設定、環境条件によって変わり、実際の結果は異なる場合があります。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">(PRODUCT)RED</span><br>(PRODUCT)RED製品をお買い上げいただくと、購入金額の一部がグローバルファンドに寄付されます。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">バンド</span><br>バンドは在庫が限られている場合があります。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">互換性</span><br>Apple Watchを利用するには、最新バージョンのiOSを搭載したiPhone 6s以降が必要です。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">利用できる機能</span><br>機能は変更される場合があります。地域や言語によっては一部の機能、アプリケーション、サービスを利用できない場合があります。詳しくは<a href="https://www.apple.com/jp/watchos/feature-availability/" target="_blank" rel="noopener noreferrer">apple.com/jp/watchos/feature-availability</a>をご覧ください。</p>
          <p class="c-Txt_Cap">Apple Watchは医療機器ではありません。</p>
        </div>
        <div class="<%= commonNamespace %>-Spec_Section-other-characteristic u-Adjust_Mt-40">
          <%# スクロール計測 %>
          <div class="u-Rat_Appear-height" data-ratid="<%= ratidDir %>_scroll-07_feature" data-ratevent="appear">&nbsp;</div>
          <h3 class="c-Heading_Lv3">主な特長</h3>
          <ul class="c-List_Text-disc u-Adjust_Mt-32">
            <li>内蔵されたNike Run Clubアプリのチャレンジとガイドランでモチベーションを維持</li>
            <li>新しいカラーのNikeスポーツバンドとNikeスポーツループでスタイリッシュな走りを</li>
            <li>Nikeの特別な文字盤</li>
            <li>Series 6より約20%広いスクリーン領域を持ち、すべてが一段と見やすく、使いやすい常時表示Retinaディスプレイ</li>
            <li>Apple Watch史上、最も高い耐亀裂性能をもつ前面クリスタル。IP6X等級の防塵性能。泳げる耐水性能 <span>3</span></li>
            <li>体に取り込まれた酸素のレベルをチェックできるパワフルなセンサーとアプリ <span>1</span></li>
            <li>いつでもどこでも心電図を記録 <span>2</span></li>
            <li>高心拍数、低心拍数、不規則な心拍リズムの通知 <span>4</span></li>
            <li>集中をサポートする新しいマインドフルネスアプリと、睡眠の目標を達成するための睡眠アプリ</li>
            <li>ランニング、ヨガ、水泳、ダンスなどの人気のワークアウトに加え、新しく太極拳とピラティスも測定</li>
            <li>Apple Watchで毎日の体の動きを記録して、その成果をiPhoneのフィットネスアプリで確認</li>
            <li>お気に入りの音楽、Podcast、オーディオブックを同期</li>
            <li>手首の上にあるApple Payですばやく安全に支払う</li>
            <li>1日中使えるバッテリーとよりスピーディーな充電 <span>5</span></li>
            <li>新しく種目が増えたワークアウト、マインドフルネスアプリ、新しいポートレート文字盤、強化されたメッセージアプリの機能が登場したwatchOS 8</li>
          </ul>
          <div class="c-Txt_Cap u-Adjust_Mt-32">
            <p>1 血中酸素ウェルネスアプリの測定値は、自己診断または医師との相談を含む医療での使用を目的とするものではなく、一般的なフィットネスとウェルネスのみを目的としています。</p>
            <p>2 心電図アプリは、iOSおよびwatchOSの最新バージョンを搭載したApple Watch Series 4以降（Apple Watch SEを除く）で利用できます。互換性について詳しくは、<a href="https://www.apple.com/jp/watch/" target="_blank" rel="noopener noreferrer">apple.com/jp/watch</a>をご覧ください。心電図機能は、22歳未満の方による使用を目的としたものではありません。Apple Watchは、心電図アプリで第I誘導心電図に類似した心電図を作成できます。販売名：Appleの心電図アプリケーション 管理医療機器販売業者等：Apple Japan合同会社（住所：東京都港区六本木6丁目10番1号六本木ヒルズ お問い合わせ：0120-277-535）</p>
            <p>3 Apple Watch Series 7にはISO規格22810:2010にもとづく50メートルの耐水性能があります。これは、プールや海で泳ぐなど、浅水でのアクティビティで使用できることを意味します。ただし、スキューバダイビング、ウォータースキー、高速水流または低水深を超える潜水を伴うその他のアクティビティには使用しないでください。Apple Watch Series 7にはIP6X等級の防塵性能もあります。</p>
            <p>4 不規則な心拍の通知機能を使用するには、watchOSおよびiOSの最新バージョンが必要です。この機能は、22歳未満の方による使用を目的としたものではありません。販売名：Appleの不規則な心拍の通知プログラム 管理医療機器販売業者等：Apple Japan合同会社（住所：東京都港区六本木6丁目10番1号六本木ヒルズ お問い合わせ：0120-277-535）</p>
            <p>5 バッテリー駆動時間は使用条件と構成によって異なります。詳しくは<a href="https://www.apple.com/jp/batteries/" target="_blank" rel="noopener noreferrer">apple.com/jp/batteries</a>をご覧ください。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
