<%_
  const commonNamespace = "product-apple-watch-series7-common"
  const diamond = "<sup>&#9674;</sup>"
_%>
<%#<div class="c-Tab_Panel </%= commonNamespace %/>-Spec_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="製品詳細・スペック">%>
  <div class="u-Adjust_Mt-40 <%= commonNamespace %>-Spec_Section">
    <section class="<%= commonNamespace %>-Spec_Section-01">
      <%# スクロール計測 %>
      <div class="u-Rat_Appear-height" data-ratid="<%= ratidDir %>_scroll-03_product-detail" data-ratevent="appear">&nbsp;</div>

      <h2>
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-logo-sp.png">
          <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-logo-pc.png" width="122" alt="Apple Watch Series 7">
        </picture>
      </h2>

      <div class="<%= commonNamespace %>-Spec_Section-01-img">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-01-sp.png">
          <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-01-pc.png" width="122" alt="">
        </picture>
      </div>

      <div class="<%= commonNamespace %>-Spec_Section-01-txt">
        <h3>ビッグな<br class="<%= commonNamespace %>-Spec_Utility-disp-pc">ニューフェイス。</h3>
        <p>
          より大きなディスプレイ。<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">より頑丈な設計。<br>よりスピーディーな充電。<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">そして血中酸素<br class="<%= commonNamespace %>-Spec_Utility-disp-pc">ウェルネスアプリ<%- diamond %>や<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">心電図アプリ<%- diamond %>などの<br class="<%= commonNamespace %>-Spec_Utility-disp-pc">パワフルな機能。<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">見えるのは、<br class="<%= commonNamespace %>-Spec_Utility-disp-pc">もっと健康に<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">なるための方法です。
        </p>
      </div>
    </section>
    <section class="<%= commonNamespace %>-Spec_Section-02">
      <div class="l-Media_Grid-half">
        <div class="<%= commonNamespace %>-Spec_Section-txt">
          <h3><small>ディスプレイ</small>大きなスクリーンで、<br>毎日が大きく変わる。</h3>
          <p>より広いスクリーン領域と最適化されたUIで、すべてが一段と見やすく、そして使いやすくなりました。 新しい2つの特別な文字盤も登場。すべてを再設計されたケースに収めました。</p>
          <div class="l-Media_Icon <%= commonNamespace %>-Spec_Section-02-txt-sub">
            <div class="l-Media_Image <%= commonNamespace %>-Spec_Section-img">
              <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-01.png" width="57" alt="">
            </div>
            <div>
              <p>
                Apple Watch Series 6よりも、<br>
                スクリーン領域を約20パーセント拡大。<br>
                縁の部分を40パーセント削減しました。
              </p>
            </div>
          </div>
        </div>
        <div class="l-Media_Image <%= commonNamespace %>-Spec_Utility-disp-pc">
          <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-02-pc.png" width="534" alt="">
        </div>
      </div>
    </section>
    <section class="<%= commonNamespace %>-Spec_Section-03">
      <div class="l-Media_Grid-half-reverse">
        <div class="<%= commonNamespace %>-Spec_Section-txt">
          <h3><small>頑丈</small>耐久性を全面的に<br>作り直しました。</h3>
          <p>Apple Watch史上、最も強い前面クリスタルがもたらす耐亀裂性能<%- diamond %>。IP6X等級認定の防塵性能<%- diamond %>。 海でもプールでも泳げるWR50の耐水性能<%- diamond %>。</p>
        </div>
        <div class="l-Media_Image <%= commonNamespace %>-Spec_Section-img">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-03-sp.png">
            <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-03-pc.png" width="534" alt="">
          </picture>
        </div>
      </div>
    </section>
    <section class="<%= commonNamespace %>-Spec_Section-04">
      <div class="l-Media_Grid-half">
        <div class="<%= commonNamespace %>-Spec_Section-txt">
          <h3><small>健康</small>健康の未来を<br>フルディスプレイで。</h3>
          <p>体に取り込まれた酸素のレベルをチェックする。心電図を確認する。睡眠を記録する。緊急SOSで安全を守る<%- diamond %>。心を整えたい時は、マインドフルネスアプリをどうぞ。 </p>
        </div>
        <div class="l-Media_Image <%= commonNamespace %>-Spec_Section-img">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-04-sp.png">
            <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-04-pc.png" width="534" alt="">
          </picture>
        </div>
      </div>
    </section>
    <section class="<%= commonNamespace %>-Spec_Section-05">
      <div class="l-Media_Grid-half-reverse">
        <div class="<%= commonNamespace %>-Spec_Section-txt">
          <h3><small>フィットネス</small>動きたくなる理由が、<br>さらに増えました。</h3>
          <p>アクティビティリングで、体のあらゆる動きを記録しましょう。友だちと進み具合を共有したり、競争することもできます。</p>
          <div class="<%= commonNamespace %>-Spec_Section-05-icon-box">
            <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-05-pc.png" width="315" alt="">
          </div>
          <dl class="<%= commonNamespace %>-Spec_Section-05-txt-sub">
            <dt>ワークアウトを進化させよう。</dt>
            <dd>サイクリング、ランニング、筋力トレーニングなど、あらゆる動きを測定できます。</dd>
          </dl>
        </div>
        <div class="l-Media_Image <%= commonNamespace %>-Spec_Section-img">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-06-sp.png">
            <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-06-pc.png" width="534" alt="">
          </picture>
        </div>
      </div>
    </section>
    <section class="<%= commonNamespace %>-Spec_Section-06">
      <div class="l-Media_Grid-half">
        <div class="<%= commonNamespace %>-Spec_Section-txt">
          <h3><small>いつもつながる</small>何をする時も。<br>どこへ行く時も。</h3>
          <p>Cellularモデルなら、iPhoneが手元になくても多くのことができます<%- diamond %>。電話で話す。メッセージを送り合う。マップで道順を確認する。 ウォレットを使って空港でゲートに向かったり、交通機関に乗ったり、支払いを済ませる。App Storeにある数えきれないほどのアプリにもアクセスできます<%- diamond %>。</p>
        </div>
        <div class="l-Media_Image <%= commonNamespace %>-Spec_Section-img">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-07-sp.png">
            <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-07-pc.png" width="631" alt="">
          </picture>
        </div>
      </div>
    </section>
    <section class="<%= commonNamespace %>-Spec_Section-07">
      <div class="l-Media_Grid-half-reverse">
        <div class="<%= commonNamespace %>-Spec_Section-txt">
          <h3><small>ファミリー共有設定</small>家族をつなぐ<br>ペアリング。</h3>
          <p>
            iPhoneを持っていない家族のために、Apple Watchを<br class="<%= commonNamespace %>-Spec_Utility-disp-pc">
            設定できます。みんなが電話をかけたり、メッセージの<br class="<%= commonNamespace %>-Spec_Utility-disp-pc">
            やり取りをしたり、安全のための機能を使えるように<br class="<%= commonNamespace %>-Spec_Utility-disp-pc">
            <span style="display: inline-block; letter-spacing: -2px;">しましょう<%- diamond %>。</span>
          </p>
        </div>
        <div class="l-Media_Image <%= commonNamespace %>-Spec_Section-img">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-08-sp.png">
            <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-08-pc.png" width="462" alt="">
          </picture>
        </div>
      </div>
    </section>
    <section class="<%= commonNamespace %>-Spec_Section-08">
      <div class="<%= commonNamespace %>-Spec_Section-txt">
        <h3><small>Apple Watchを選ぶ理由 </small>健やかな毎日のための<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">究極のデバイスです。</h3>
        <ul class="<%= commonNamespace %>-Spec_Section-08-list">
          <li>
            <div class="<%= commonNamespace %>-Spec_Section-08-list-icon">
              <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-02.png" alt="" width="35">
            </div>
            <dl class="<%= commonNamespace %>-Spec_Section-08-list-txt">
              <dt>健康</dt>
              <dd>高い心拍数と低い心拍数の通知を受け取る。睡眠を記録する。緊急時には、助けを求める電話をすばやくかけることもできます。</dd>
            </dl>
          </li>
          <li>
            <div class="<%= commonNamespace %>-Spec_Section-08-list-icon">
              <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-03.png" alt="" width="35">
            </div>
            <dl class="<%= commonNamespace %>-Spec_Section-08-list-txt">
              <dt>フィットネス</dt>
              <dd>1日を通して体のあらゆる動きを記録。お気に入りのワークアウトも正確に測定します。</dd>
            </dl>
          </li>
          <li>
            <div class="<%= commonNamespace %>-Spec_Section-08-list-icon">
              <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-04.png" alt="" width="35">
            </div>
            <dl class="<%= commonNamespace %>-Spec_Section-08-list-txt">
              <dt>つながる</dt>
              <dd>電話で話す。メッセージを送り合う。音楽を楽しむ。Apple PayやSiriを使う。そのすべてを手首の上から。</dd>
            </dl>
          </li>
          <li>
            <div class="<%= commonNamespace %>-Spec_Section-08-list-icon">
              <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-05.png" alt="" width="35">
            </div>
            <dl class="<%= commonNamespace %>-Spec_Section-08-list-txt">
              <dt>パーソナライズ</dt>
              <dd>新しいバンドを追加して、スタイルを変えましょう。お気に入りの文字盤を見つけるのも、カスタマイズするのも、共有するのも簡単です。</dd>
            </dl>
          </li>
        </ul>
      </div>
    </section>
    <section class="<%= commonNamespace %>-Spec_Section-09">
      <%# スクロール計測 %>
      <div class="u-Rat_Appear-height" data-ratid="<%= ratidDir %>_scroll-04_comparison" data-ratevent="appear">&nbsp;</div>
      <div class="<%= commonNamespace %>-Spec_Section-txt">
        <h3><small>比較する</small>あなたにぴったりの<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">Apple Watchは？</h3>
      </div>
      <ul class="<%= commonNamespace %>-Spec_Section-09-list">
        <li>
          <div class="<%= commonNamespace %>-Spec_Section-09-list-img">
            <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-09-pc.png" alt="" width="175">
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-09-list-data">
            <h4>Series 7</h4>
            <ul class="<%= commonNamespace %>-Spec_Section-09-list-data-body">
              <li>
                <dl>
                  <dt class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">アルミニウム</dt>
                  <dd>
                    <ul class="<%= commonNamespace %>-Spec_Section-09-list-data-body-colors">
                      <li style="background: #1A2530;"></li>
                      <li style="background: #DED6D1;"></li>
                      <li style="background: #36382B;"></li>
                      <li style="background: #6E8EBA;"></li>
                      <li style="background: #A91E3B;" data-color="red"></li>
                    </ul>
                  </dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">ステンレス<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">スチール</dt>
                  <dd>
                    <ul class="<%= commonNamespace %>-Spec_Section-09-list-data-body-colors">
                      <li style="background: #727272;"></li>
                      <li style="background: #E0E0E0;"></li>
                      <li style="background: #D4BDA1;"></li>
                    </ul>
                  </dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">
                    <picture>
                      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-06.png" width="36">
                      <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-06.png" alt="" width="50">
                    </picture>
                    45mmまたは<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">41mmの<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">ケースサイズ
                  </dt>
                  <dd>Apple Watch史上、最強の<br class="<%= commonNamespace %>-Spec_Utility-disp-pc">前面クリスタルがもたらす耐亀裂性能<%- diamond %><br class="<%= commonNamespace %>-Spec_Utility-disp-pc"><span style="display: inline-block;">IP6X等級認定の防塵性能<%- diamond %></span></dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">
                    <picture>
                      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-07.png" width="30">
                      <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-07.png" alt="" width="40">
                    </picture>
                    常時表示<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">Retinaディスプレイ</dt>
                  <dd>Series 6より約20%<br class="<%= commonNamespace %>-Spec_Utility-disp-pc">広いスクリーン領域<br class="<%= commonNamespace %>-Spec_Utility-disp-pc">Series 3より50%以<br class="<%= commonNamespace %>-Spec_Utility-disp-pc">上広いスクリーン領域</dd>
                </dl>
              </li>
              <li>
                <div>
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-08.png" width="33">
                    <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-08.png" alt="" width="45">
                  </picture>
                </div>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">血中酸素<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">ウェルネスアプリ<%- diamond %></p>
              </li>
              <li>
                <div>
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-09.png" width="40">
                    <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-09.png" alt="" width="53">
                  </picture>
                </div>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">心電図アプリ<%- diamond %></p>
              </li>
              <li>
                <div>
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-10.png" width="36">
                    <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-10.png" alt="" width="36">
                  </picture>
                </div>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">高心拍数と低心拍数の<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">通知</p>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">不規則な<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">心拍リズムの<wbr class="<%= commonNamespace %>-Spec_Utility-disp-sp">通知<%- diamond %></p>
              </li>
              <li>
                <div>
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-11.png" width="32">
                    <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-11.png" alt="" width="32">
                  </picture>
                </div>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title"><span style="white-space: nowrap;">海外における緊急通報<%- diamond %></span></p>
              </li>
              <li>
                <div>
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-12.png" width="32">
                    <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-12.png" alt="" width="33">
                  </picture>
                </div>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">転倒検出</p>
              </li>
              <li>
                <div>
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-13.png" width="33">
                    <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-13.png" alt="" width="33">
                  </picture>
                </div>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">常時計測の高度計</p>
              </li>
              <li>
                <div>
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-14.png" width="30">
                    <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-14.png" alt="" width="30">
                  </picture>
                </div>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">携帯電話通信機能<%- diamond %></p>
              </li>
              <li>
                <dl>
                  <dt class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">
                    <picture>
                      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-15.png" width="51">
                      <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-15.png" alt="" width="51">
                    </picture>
                    ファミリー共有設定に<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">対応<%- diamond %><br>（GPS + <br class="<%= commonNamespace %>-Spec_Utility-disp-sp">Cellularモデル）</dt>
                  <dd>iPhoneを持っていない<br class="<%= commonNamespace %>-Spec_Utility-disp-pc">家族ともつながれます</dd>
                </dl>
              </li>
              <li>
                <div>
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-16.png" width="32">
                    <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-16.png" alt="" width="32">
                  </picture>
                </div>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">より高速な充電Series 6と比べて<br class="<%= commonNamespace %>-Spec_Utility-disp-pc">最大33%高速<%- diamond %></p>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="<%= commonNamespace %>-Spec_Section-09-list-img">
            <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-10-pc.png" alt="" width="175">
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-09-list-data">
            <h4>SE</h4>
            <ul class="<%= commonNamespace %>-Spec_Section-09-list-data-body">
              <li>
                <dl>
                  <dt class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">アルミニウム</dt>
                  <dd>
                    <ul class="<%= commonNamespace %>-Spec_Section-09-list-data-body-colors">
                      <li style="background: #3E3A36;"></li>
                      <li style="background: #E0E0E0;"></li>
                      <li style="background: #D4BDA1;"></li>
                    </ul>
                  </dd>
                </dl>
              </li>
              <li class="<%= commonNamespace %>-Spec_Section-09-list-data-body-empty-bottom">
              </li>
              <li class="<%= commonNamespace %>-Spec_Section-09-list-data-body-adjust-01">
                <div>
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-18.png" width="37">
                    <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-18.png" alt="" width="50">
                  </picture>
                </div>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">44mmまたは<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">40mmの<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">ケースサイズ</p>
              </li>
              <li class="<%= commonNamespace %>-Spec_Section-09-list-data-body-adjust-02">
                <dl>
                  <dt class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">
                    <picture>
                      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-17.png" width="30">
                      <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-17.png" alt="" width="40">
                    </picture>
                    Retinaディスプレイ</dt>
                  <dd>Series 3より 30%以上<br class="<%= commonNamespace %>-Spec_Utility-disp-pc">大きなディスプレイ</dd>
                </dl>
              </li>
              <li class="<%= commonNamespace %>-Spec_Section-09-list-data-body-empty <%= commonNamespace %>-Spec_Section-09-list-data-body-adjust-03">
              </li>
              <li class="<%= commonNamespace %>-Spec_Section-09-list-data-body-empty <%= commonNamespace %>-Spec_Section-09-list-data-body-adjust-04">
              </li>
              <li>
                <div>
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-10.png">
                    <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-10.png" alt="" width="36">
                  </picture>
                </div>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">高心拍数と低心拍数の<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">通知</p>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">不規則な<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">心拍リズムの<wbr class="<%= commonNamespace %>-Spec_Utility-disp-sp">通知<%- diamond %></p>
              </li>
              <li>
                <div>
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-11.png" width="32">
                    <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-11.png" alt="" width="32">
                  </picture>
                </div>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title"><span style="white-space: nowrap;">海外における緊急通報<%- diamond %></span></p>
              </li>
              <li>
                <div>
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-12.png" width="32">
                    <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-12.png" alt="" width="32">
                  </picture>
                </div>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">転倒検出</p>
              </li>
              <li>
                <div>
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-13.png" width="33">
                    <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-13.png" alt="" width="33">
                  </picture>
                </div>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">常時計測の高度計</p>
              </li>
              <li>
                <div>
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-14.png" width="30">
                    <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-14.png" alt="" width="30">
                  </picture>
                </div>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">携帯電話通信機能<%- diamond %></p>
              </li>
              <li>
                <dl>
                  <dt class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">
                    <picture>
                      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-15.png" width="51">
                      <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-15.png" alt="" width="51">
                    </picture>
                    ファミリー共有設定に<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">対応<%- diamond %><br>（GPS + <br class="<%= commonNamespace %>-Spec_Utility-disp-sp">Cellularモデル）</dt>
                  <dd>iPhoneを持っていない<br class="<%= commonNamespace %>-Spec_Utility-disp-pc">家族ともつながれます</dd>
                </dl>
              </li>
              <li class="<%= commonNamespace %>-Spec_Section-09-list-data-body-empty <%= commonNamespace %>-Spec_Section-09-list-data-body-adjust-04">
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </section>
    <section class="<%= commonNamespace %>-Spec_Section-10">
      <%# スクロール計測 %>
      <div class="u-Rat_Appear-height" data-ratid="<%= ratidDir %>_scroll-05_product-detail-band" data-ratevent="appear">&nbsp;</div>
      <div class="l-Media_Grid-half">
        <div class="<%= commonNamespace %>-Spec_Section-txt">
          <h3><small>バンド</small>バンドを替えて、<br>スタイルを変えよう。</h3>
          <p>自由に着替えられるバンド。あらゆる<wbr class="<%= commonNamespace %>-Spec_Utility-disp-sp">スタイル、素材、カラーを用意しました。<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">その日にぴったりのコーディネートが<wbr class="<%= commonNamespace %>-Spec_Utility-disp-sp">簡単に見つかります。</p>
        </div>
        <div class="l-Media_Image <%= commonNamespace %>-Spec_Section-img">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-11-sp.png">
            <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-11-pc.png" width="384" alt="">
          </picture>
        </div>
      </div>
    </section>
    <section class="<%= commonNamespace %>-Spec_Section-11">
      <div class="l-Media_Grid-half">
        <div class="<%= commonNamespace %>-Spec_Section-txt">
          <h3><small>AppleCare+</small>専門的なサポートと、<br>より充実した保証を。</h3>
          <ul class="<%= commonNamespace %>-Spec_Section-11-list">
            <li>Apple認定技術者によるサービス</li>
            <li>Appleの専任スペシャリストへの<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">優先アクセス</li>
            <li>過失や事故による損傷に対する<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">修理などのサービス</li>
          </ul>
        </div>
        <div class="l-Media_Image <%= commonNamespace %>-Spec_Section-img">
          <div>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-12-pc.png" width="168">
            <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-12-pc.png" width="195" alt="">
          </div>
        </div>
      </div>
    </section>
    <%- include(`./_${deviceName}-other`, { commonNamespace, diamond, currentDir, ratidDir }) %>
  </div>
<%#</div>%>
