<%_
  const commonNamespace = "product-apple-watch-series7-common"
  const commonNamespace02 = "product-apple-watch-series7-common02"
  const diamond = "<sup>&#9674;</sup>"
_%>
<%#<div class="c-Tab_Panel </%= commonNamespace %/>-Spec_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="製品詳細・スペック">%>
  <div class="u-Adjust_Mt-40 <%= commonNamespace02 %>-Spec_Section">
    <section class="<%= commonNamespace02 %>-Spec_Section-01">
      <%# スクロール計測 %>
      <div class="u-Rat_Appear-height" data-ratid="<%- currentDir %>_scroll-03_product-detail" data-ratevent="appear">&nbsp;</div>
      <div class="<%= commonNamespace02 %>-Spec_Section-01-grid">
        <div class="<%= commonNamespace02 %>-Spec_Section-01-grid-txt">
          <h2>
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-logo-sp.png" width="98">
              <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-logo-pc.png" width="120" alt="Apple Watch Series SE">
            </picture>
          </h2>
          <h3>あふれる<br class="<%= commonNamespace02 %>_Pc">性能を、<br>もれなく<br class="<%= commonNamespace02 %>_Pc">手軽に。</h3>
          <p>
            いつも大切な人や情報とつながり、<br>
            アクティブに活躍し、健康と安全を<br class="<%= commonNamespace02 %>_Pc">
            守るためのパワフルな機能。<br class="<%= commonNamespace02 %>_Sp">iPhoneを<br class="<%= commonNamespace02 %>_Pc">
            置いて出かけられる<br class="<%= commonNamespace02 %>_Sp">Cellularモデル。<br>
            Apple Watch SEは、<br class="<%= commonNamespace02 %>_Sp">たくさんの魅力を、<br>
            たくさんの腕に届けます。
          </p>
        </div>
        <div class="<%= commonNamespace02 %>-Spec_Section-01-grid-img">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-01-sp.png">
            <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-01-pc.png" width="446" alt="">
          </picture>
        </div>
      </div>
    </section>

    <section class="<%= commonNamespace02 %>-Spec_Section-02">
      <div class="<%= commonNamespace02 %>-Spec_Section-02-txt">
        <h3><small>フィットネス</small>体を動かすための<br>パートナーに。</h3>
        <p>
          1日を通して体のあらゆる動きを記録して、<br class="<%= commonNamespace02 %>_Pc">
          お気に入りのワークアウトを正確に測定します。<br class="<%= commonNamespace02 %>_Pc">
          水の中もご自由に<%- diamond %>。
        </p>
      </div>
      <div class="<%= commonNamespace02 %>-Spec_Section-02-txt-sub">
        <div class="<%= commonNamespace02 %>-Spec_Section-02-txt-sub-img">
          <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-02-pc.png" width="315" alt="">
        </div>
        <p>
          <strong>ワークアウト。</strong>ランニングから高強度インターバル<br>
          トレーニング、ヨガ、ピラティスまで。 あらゆる<br>
          ワークアウトをカスタマイズして測定できます。
        </p>
      </div>
      <div class="<%= commonNamespace02 %>-Spec_Section-02-img">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-02-sp.png">
          <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-02-pc.png" width="570" alt="">
        </picture>
      </div>
    </section>

    <section class="<%= commonNamespace02 %>-Spec_Section-03">
      <h3 class="<%= commonNamespace02 %>-Spec_Section-03-title"><small>いつもつながる</small>これだけで、<br>どこへでも。</h3>
      <p class="<%= commonNamespace02 %>-Spec_Section-03-txt">
        Cellularモデルなら、iPhoneが手元になくても多くの<br class="<%= commonNamespace02 %>_Pc">
        ことができます<%- diamond %>。電話で話す。メッセージを送り合う。<br>
        Apple Musicをストリーミングで楽しむ<%- diamond %>。Siriに質問する。<br class="<%= commonNamespace02 %>_Pc">
        Apple Payも手首の上に用意しておけます。
      </p>
      <div class="<%= commonNamespace02 %>-Spec_Section-03-img">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-03-sp.png">
          <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-03-pc.png" width="1032" alt="">
        </picture>
      </div>
    </section>

    <section class="<%= commonNamespace02 %>-Spec_Section-04">
      <h3 class="<%= commonNamespace02 %>-Spec_Section-04-title"><small>健康</small>安心を届ける<br>腕時計です。</h3>
      <ul class="<%= commonNamespace02 %>-Spec_Section-04-list">
        <li>
          <strong>心臓の健康。</strong>高い心拍数、低い心拍数、または不規則な<br class="<%= commonNamespace02 %>_Pc">
          心拍リズムを検知すると、アラートでお知らせします<%- diamond %>。
        </li>
        <li>
          <strong>安全。</strong>緊急SOS<%- diamond %>と転倒検出により、必要な時には<br class="<%= commonNamespace02 %>_Pc">
          緊急通報サービスに助けを求めることができます。
        </li>
        <li>
          <strong>睡眠アプリ。</strong>睡眠の目標を達成するために最適な<br class="<%= commonNamespace02 %>_Pc">
          スケジュールや就寝前の習慣を作れるように<br class="<%= commonNamespace02 %>_Pc">
          サポートします。
        </li>
      </ul>
      <div class="<%= commonNamespace02 %>-Spec_Section-04-img">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-04-sp.png">
          <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-04-pc.png" width="502" alt="">
        </picture>
      </div>
    </section>

    <section class="<%= commonNamespace02 %>-Spec_Section-05">
      <h3 class="<%= commonNamespace02 %>-Spec_Section-05-title"><small>文字盤</small>個性を映し出す<br>ディスプレイ。</h3>
      <p class="<%= commonNamespace02 %>-Spec_Section-05-txt">
        Series 3より30パーセント以上大きな<br class="<%= commonNamespace02 %>_Pc">
        Retinaディスプレイ。より多くの情報やアプリが<br class="<%= commonNamespace02 %>_Pc">
        一目で見えます。
      </p>
      <div class="<%= commonNamespace02 %>-Spec_Section-05-img">
        <div class="<%= commonNamespace02 %>_Pc <%= commonNamespace02 %>-Spec_Section-05-img-pc">
          <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-05-01-pc.png" width="485" alt="">
          <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-05-02-pc.png" width="485" alt="">
        </div>
        <div class="<%= commonNamespace02 %>_Sp">
          <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-05-sp.png" width="319" alt="">
        </div>
      </div>
      <p class="<%= commonNamespace02 %>-Spec_Section-05-txt-sub <%= commonNamespace02 %>_Sp u-Adjust_Mt-32">
        <span>
          <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-05-01.png" width="25" alt="">
        </span>
        <span>
          <strong>文字盤を共有。</strong>オンラインやApp Storeで新しい文字盤を見つけて、友だちや家族とシェアできます<%- diamond %>。
        </span>
      </p>
    </section>

    <section class="<%= commonNamespace02 %>-Spec_Section-06">
      <h3 class="<%= commonNamespace02 %>-Spec_Section-06-title"><small>ファミリー共有設定</small>家族をつなぐ<br>ペアリング。</h3>
      <p class="<%= commonNamespace02 %>-Spec_Section-06-txt">
        iPhoneを持っていない家族のために、Apple Watchを<br class="<%= commonNamespace02 %>_Pc">
        設定できます。みんなが電話をかけたり、メッセージの<br class="<%= commonNamespace02 %>_Pc">
        やり取りをしたり、安全のための機能を使えるように<br class="<%= commonNamespace02 %>_Pc">
        <span style="display: inline-block;">しましょう<%- diamond %>。</span>
      </p>
      <div class="<%= commonNamespace02 %>-Spec_Section-06-img">
        <div class="<%= commonNamespace02 %>_Pc <%= commonNamespace02 %>-Spec_Section-06-img-pc">
          <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-06-01-pc.png" width="320" alt="">
          <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-06-02-pc.png" width="320" alt="">
          <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-06-03-pc.png" width="320" alt="">
        </div>
        <div class="<%= commonNamespace02 %>_Sp">
          <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-06-sp.png" width="320" alt="">
        </div>
      </div>
    </section>

    <section class="<%= commonNamespace %>-Spec_Section-08">
      <div class="<%= commonNamespace %>-Spec_Section-txt">
        <h3><small>Apple Watchを選ぶ理由 </small>健やかな毎日のための<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">究極のデバイスです。</h3>
        <ul class="<%= commonNamespace %>-Spec_Section-08-list">
          <li>
            <div class="<%= commonNamespace %>-Spec_Section-08-list-icon">
              <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-spec-02.png" alt="" width="35">
            </div>
            <dl class="<%= commonNamespace %>-Spec_Section-08-list-txt">
              <dt>健康</dt>
              <dd>高い心拍数と低い心拍数の通知を受け取る。睡眠を記録する。緊急時には、助けを求める電話をすばやくかけることもできます。</dd>
            </dl>
          </li>
          <li>
            <div class="<%= commonNamespace %>-Spec_Section-08-list-icon">
              <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-spec-03.png" alt="" width="35">
            </div>
            <dl class="<%= commonNamespace %>-Spec_Section-08-list-txt">
              <dt>フィットネス</dt>
              <dd>1日を通して体のあらゆる動きを記録。お気に入りのワークアウトも正確に測定します。</dd>
            </dl>
          </li>
          <li>
            <div class="<%= commonNamespace %>-Spec_Section-08-list-icon">
              <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-spec-04.png" alt="" width="35">
            </div>
            <dl class="<%= commonNamespace %>-Spec_Section-08-list-txt">
              <dt>つながる</dt>
              <dd>電話で話す。メッセージを送り合う。音楽を楽しむ。Apple PayやSiriを使う。そのすべてを手首の上から。</dd>
            </dl>
          </li>
          <li>
            <div class="<%= commonNamespace %>-Spec_Section-08-list-icon">
              <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-spec-05.png" alt="" width="35">
            </div>
            <dl class="<%= commonNamespace %>-Spec_Section-08-list-txt">
              <dt>パーソナライズ</dt>
              <dd>新しいバンドを追加して、スタイルを変えましょう。お気に入りの文字盤を見つけるのも、カスタマイズするのも、共有するのも簡単です。</dd>
            </dl>
          </li>
        </ul>
      </div>
    </section>

    <section class="<%= commonNamespace %>-Spec_Section-09">
      <%# スクロール計測 %>
      <div class="u-Rat_Appear-height" data-ratid="<%= currentDir %>_scroll-04_comparison" data-ratevent="appear">&nbsp;</div>
      <div class="<%= commonNamespace %>-Spec_Section-txt">
        <h3><small>比較する</small>あなたにぴったりの<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">Apple Watchは？</h3>
      </div>
      <ul class="<%= commonNamespace %>-Spec_Section-09-list">
        <li>
          <div class="<%= commonNamespace %>-Spec_Section-09-list-img">
            <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-09-pc.png" alt="" width="175">
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-09-list-data">
            <h4>Series 7</h4>
            <ul class="<%= commonNamespace %>-Spec_Section-09-list-data-body">
              <li>
                <dl>
                  <dt class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">アルミニウム</dt>
                  <dd>
                    <ul class="<%= commonNamespace %>-Spec_Section-09-list-data-body-colors">
                      <li style="background: #1A2530;"></li>
                      <li style="background: #DED6D1;"></li>
                      <li style="background: #36382B;"></li>
                      <li style="background: #6E8EBA;"></li>
                      <li style="background: #A91E3B;" data-color="red"></li>
                    </ul>
                  </dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">ステンレス<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">スチール</dt>
                  <dd>
                    <ul class="<%= commonNamespace %>-Spec_Section-09-list-data-body-colors">
                      <li style="background: #727272;"></li>
                      <li style="background: #E0E0E0;"></li>
                      <li style="background: #D4BDA1;"></li>
                    </ul>
                  </dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">
                    <picture>
                      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-06.png" width="36">
                      <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-06.png" alt="" width="50">
                    </picture>
                    45mmまたは<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">41mmの<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">ケースサイズ
                  </dt>
                  <dd>Apple Watch史上、最強の<br class="<%= commonNamespace %>-Spec_Utility-disp-pc">前面クリスタルがもたらす耐亀裂性能<%- diamond %><br class="<%= commonNamespace %>-Spec_Utility-disp-pc"><span style="display: inline-block">IP6X等級認定の防塵性能<%- diamond %></span></dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">
                    <picture>
                      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-07.png" width="30">
                      <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-07.png" alt="" width="40">
                    </picture>
                    常時表示<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">Retinaディスプレイ</dt>
                  <dd>Series 6より約20%<br class="<%= commonNamespace %>-Spec_Utility-disp-pc">広いスクリーン領域<br class="<%= commonNamespace %>-Spec_Utility-disp-pc">Series 3より50%以<br class="<%= commonNamespace %>-Spec_Utility-disp-pc">上広いスクリーン領域</dd>
                </dl>
              </li>
              <li>
                <div>
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-08.png" width="33">
                    <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-08.png" alt="" width="45">
                  </picture>
                </div>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">血中酸素<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">ウェルネスアプリ<%- diamond %></p>
              </li>
              <li>
                <div>
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-09.png" width="40">
                    <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-09.png" alt="" width="53">
                  </picture>
                </div>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">心電図アプリ<%- diamond %></p>
              </li>
              <li>
                <div>
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-10.png" width="36">
                    <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-10.png" alt="" width="36">
                  </picture>
                </div>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">高心拍数と低心拍数の<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">通知</p>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">不規則な<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">心拍リズムの<wbr class="<%= commonNamespace %>-Spec_Utility-disp-sp">通知<%- diamond %></p>
              </li>
              <li>
                <div>
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-11.png" width="32">
                    <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-11.png" alt="" width="32">
                  </picture>
                </div>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title"><span style="white-space: nowrap;">海外における緊急通報<%- diamond %></span></p>
              </li>
              <li>
                <div>
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-12.png" width="32">
                    <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-12.png" alt="" width="33">
                  </picture>
                </div>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">転倒検出</p>
              </li>
              <li>
                <div>
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-13.png" width="33">
                    <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-13.png" alt="" width="33">
                  </picture>
                </div>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">常時計測の高度計</p>
              </li>
              <li>
                <div>
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-14.png" width="30">
                    <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-14.png" alt="" width="30">
                  </picture>
                </div>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">携帯電話通信機能<%- diamond %></p>
              </li>
              <li>
                <dl>
                  <dt class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">
                    <picture>
                      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-15.png" width="51">
                      <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-15.png" alt="" width="51">
                    </picture>
                    ファミリー共有設定に<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">対応<%- diamond %><br>（GPS + <br class="<%= commonNamespace %>-Spec_Utility-disp-sp">Cellularモデル）</dt>
                  <dd>iPhoneを持っていない<br class="<%= commonNamespace %>-Spec_Utility-disp-pc">家族ともつながれます</dd>
                </dl>
              </li>
              <li>
                <div>
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-16.png" width="32">
                    <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-16.png" alt="" width="32">
                  </picture>
                </div>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">より高速な充電Series 6と比べて<br class="<%= commonNamespace %>-Spec_Utility-disp-pc">最大33%高速<%- diamond %></p>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="<%= commonNamespace %>-Spec_Section-09-list-img">
            <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-10-pc.png" alt="" width="175">
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-09-list-data">
            <h4>SE</h4>
            <ul class="<%= commonNamespace %>-Spec_Section-09-list-data-body">
              <li>
                <dl>
                  <dt class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">アルミニウム</dt>
                  <dd>
                    <ul class="<%= commonNamespace %>-Spec_Section-09-list-data-body-colors">
                      <li style="background: #3E3A36;"></li>
                      <li style="background: #E0E0E0;"></li>
                      <li style="background: #D4BDA1;"></li>
                    </ul>
                  </dd>
                </dl>
              </li>
              <li class="<%= commonNamespace %>-Spec_Section-09-list-data-body-empty-bottom">
              </li>
              <li class="<%= commonNamespace %>-Spec_Section-09-list-data-body-adjust-01">
                <div>
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-18.png" width="37">
                    <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-18.png" alt="" width="50">
                  </picture>
                </div>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">44mmまたは<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">40mmの<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">ケースサイズ</p>
              </li>
              <li class="<%= commonNamespace %>-Spec_Section-09-list-data-body-adjust-02">
                <dl>
                  <dt class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">
                    <picture>
                      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-17.png" width="30">
                      <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-17.png" alt="" width="40">
                    </picture>
                    Retinaディスプレイ</dt>
                  <dd>Series 3より 30%以上<br class="<%= commonNamespace %>-Spec_Utility-disp-pc">大きなディスプレイ</dd>
                </dl>
              </li>
              <li class="<%= commonNamespace %>-Spec_Section-09-list-data-body-empty <%= commonNamespace %>-Spec_Section-09-list-data-body-adjust-03">
              </li>
              <li class="<%= commonNamespace %>-Spec_Section-09-list-data-body-empty <%= commonNamespace %>-Spec_Section-09-list-data-body-adjust-04">
              </li>
              <li>
                <div>
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-10.png">
                    <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-10.png" alt="" width="36">
                  </picture>
                </div>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">高心拍数と低心拍数の<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">通知</p>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">不規則な<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">心拍リズムの<wbr class="<%= commonNamespace %>-Spec_Utility-disp-sp">通知<%- diamond %></p>
              </li>
              <li>
                <div>
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-11.png" width="32">
                    <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-11.png" alt="" width="32">
                  </picture>
                </div>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title"><span style="white-space: nowrap;">海外における緊急通報<%- diamond %></span></p>
              </li>
              <li>
                <div>
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-12.png" width="32">
                    <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-12.png" alt="" width="32">
                  </picture>
                </div>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">転倒検出</p>
              </li>
              <li>
                <div>
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-13.png" width="33">
                    <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-13.png" alt="" width="33">
                  </picture>
                </div>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">常時計測の高度計</p>
              </li>
              <li>
                <div>
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-14.png" width="30">
                    <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-14.png" alt="" width="30">
                  </picture>
                </div>
                <p class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">携帯電話通信機能<%- diamond %></p>
              </li>
              <li>
                <dl>
                  <dt class="<%= commonNamespace %>-Spec_Section-09-list-data-body-title">
                    <picture>
                      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-15.png" width="51">
                      <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/icon-sec-15.png" alt="" width="51">
                    </picture>
                    ファミリー共有設定に<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">対応<%- diamond %><br>（GPS + <br class="<%= commonNamespace %>-Spec_Utility-disp-sp">Cellularモデル）</dt>
                  <dd>iPhoneを持っていない<br class="<%= commonNamespace %>-Spec_Utility-disp-pc">家族ともつながれます</dd>
                </dl>
              </li>
              <li class="<%= commonNamespace %>-Spec_Section-09-list-data-body-empty <%= commonNamespace %>-Spec_Section-09-list-data-body-adjust-04">
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </section>

    <section class="<%= commonNamespace %>-Spec_Section-10">
      <%# スクロール計測 %>
      <div class="u-Rat_Appear-height" data-ratid="<%= currentDir %>_scroll-05_product-detail-band" data-ratevent="appear">&nbsp;</div>
      <div class="l-Media_Grid-half">
        <div class="<%= commonNamespace %>-Spec_Section-txt">
          <h3><small>バンド</small>バンドを替えて、<br>スタイルを変えよう。</h3>
          <p>自由に着替えられるバンド。あらゆる<wbr class="<%= commonNamespace %>-Spec_Utility-disp-sp">スタイル、素材、カラーを用意しました。<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">その日にぴったりのコーディネートが<wbr class="<%= commonNamespace %>-Spec_Utility-disp-sp">簡単に見つかります。</p>
        </div>
        <div class="l-Media_Image <%= commonNamespace %>-Spec_Section-img">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-11-sp.png">
            <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-11-pc.png" width="384" alt="">
          </picture>
        </div>
      </div>
    </section>

    <section class="<%= commonNamespace %>-Spec_Section-11">
      <div class="l-Media_Grid-half">
        <div class="<%= commonNamespace %>-Spec_Section-txt">
          <h3><small>AppleCare+</small>専門的なサポートと、<br>より充実した保証を。</h3>
          <ul class="<%= commonNamespace %>-Spec_Section-11-list">
            <li>Apple認定技術者によるサービス</li>
            <li>Appleの専任スペシャリストへの<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">優先アクセス</li>
            <li>過失や事故による損傷に対する<br class="<%= commonNamespace %>-Spec_Utility-disp-sp">修理などのサービス</li>
          </ul>
        </div>
        <div class="l-Media_Image <%= commonNamespace %>-Spec_Section-img">
          <div>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-12-pc.png" width="168">
            <img src="<%= sitepath %>assets/img/product/apple-watch/<%= currentDir %>/img-sec-12-pc.png" width="195" alt="">
          </div>
        </div>
      </div>
    </section>
    <%- include(`./_${deviceName}-other`, { commonNamespace, diamond }) %>
  </div>
<%#</div>%>
