<%_
  const commonNamespace = "product-watch-se-2nd-2023-common"
  const diamond = "<sup>&#9674;</sup>"
_%>
<div class="c-Tab_Panel <%= commonNamespace %>-Layout_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="製品詳細・スペック">

  <div class="u-Adjust_Mt-24 u-Adjust_Mt-sp-32">
    <section class="<%= namespace %>-Detail">
      <div class="<%= namespace %>-Detail_Item-01">
        <div class="<%= namespace %>-Detail_Item-01-img">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/apple-watch/apple-watch-se-2nd-2023/detail-01-sp.png" width="606" height="656">
            <img src="<%= sitepath %>assets/img/product/apple-watch/apple-watch-se-2nd-2023/detail-01-pc.png" width="591" height="639" loading="lazy" alt="">
          </picture>
        </div>
        <div class="<%= namespace %>-Detail_Item-01-logo">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/apple-watch/apple-watch-se-2nd-2023/logo-sp.png" width="138" height="52">
            <img src="<%= sitepath %>assets/img/product/apple-watch/apple-watch-se-2nd-2023/logo-pc.png" width="170" height="64" loading="lazy" alt="Apple Watch SE">
          </picture>
        </div>
        <p class="<%= namespace %>-Detail_Item-01-catch">こんなにできる。<br>こんなに手軽。</p>
        <p class="<%= namespace %>-Detail_Item-01-description">
          健康と安全を守るイノベーション。<br class="u-Show_Oox">モチベーションをくれる<br class="u-Show_Oox">フィットネスの測定値。<br class="u-Show_Xxo">いつも<br class="u-Show_Oox">つながるための簡単な方法。<br class="u-Show_Oox">これからは、カーボンニュートラルな<br>ケースとバンドの組み合わせ<br class="u-Show_Oox">もどうぞ。Apple Watch SEは、<br>たくさんの愛すべき機能を、<br class="u-Show_Oox">手に入れやすいプライスで届けます。<br>
        </p>
      </div>
      <div class="<%= namespace %>-Detail_Features">
        <div class="<%= namespace %>-Detail_Item-02">
          <p class="<%= namespace %>-Detail_Item-02-head <%= namespace %>-Detail_Item-head">iPhoneが手元になくても<br><span class=" <%= namespace %>-Detail_Item-02-accent">メッセージと電話</span>ができる<br>Cellularモデルを<%- diamond %>。</p>
          <div class="<%= namespace %>-Detail_Item-02-img">
            <img src="<%= sitepath %>assets/img/product/apple-watch/apple-watch-se-2nd-2023/detail-02.png" width="213" height="239" loading="lazy" alt="">
          </div>
        </div>
        <div class="<%= namespace %>-Detail_Item-03">
          <p class="<%= namespace %>-Detail_Item-03-head <%= namespace %>-Detail_Item-head"><span class=" <%= namespace %>-Detail_Item-03-accent">ファミリー共有設定</span>を<br>使えば、iPhoneを<br>持っていない家族の<br>Apple Watchと<br>ペアリングできます<%- diamond %>。</p>
          <div class="<%= namespace %>-Detail_Item-03-img">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/apple-watch/apple-watch-se-2nd-2023/detail-03-sp.png" width="199" height="198">
              <img src="<%= sitepath %>assets/img/product/apple-watch/apple-watch-se-2nd-2023/detail-03-pc.png" width="343" height="342" loading="lazy" alt="">
            </picture>
          </div>
        </div>
        <div class="<%= namespace %>-Detail_Item-04">
          <p class="<%= namespace %>-Detail_Item-04-head <%= namespace %>-Detail_Item-head"><span class=" <%= namespace %>-Detail_Item-04-accent">泳げる耐水性能。</span>プールで<br>ラップを記録したり、<br>湖や海で泳いだ経路を<br>マップ上に表示したり<%- diamond %>。</p>
          <div class="<%= namespace %>-Detail_Item-04-img">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/apple-watch/apple-watch-se-2nd-2023/detail-04-sp.png" width="284" height="266">
              <img src="<%= sitepath %>assets/img/product/apple-watch/apple-watch-se-2nd-2023/detail-04-pc.png" width="376" height="380" loading="lazy" alt="">
            </picture>
          </div>
        </div>
        <div class="<%= namespace %>-Detail_Item-05">
          <p class="<%= namespace %>-Detail_Item-05-head <%= namespace %>-Detail_Item-head">幅広いワークアウトと<br>あなたを励ます測定値で<br><span class=" <%= namespace %>-Detail_Item-05-accent">毎日をアクティブに</span>。</p>
          <div class="<%= namespace %>-Detail_Item-05-img">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/apple-watch/apple-watch-se-2nd-2023/detail-05-sp.png" width="320" height="232">
              <img src="<%= sitepath %>assets/img/product/apple-watch/apple-watch-se-2nd-2023/detail-05-pc.png" width="313" height="227" loading="lazy" alt="">
            </picture>
          </div>
        </div>
        <div class="<%= namespace %>-Detail_Item-06">
          <p class="<%= namespace %>-Detail_Item-06-head <%= namespace %>-Detail_Item-head">一日の気分や<br class="u-Show_Oox">その時の感情を<br>記録して、<span class=" <%= namespace %>-Detail_Item-06-accent">心の健康</span>を<br class="u-Show_Oox">理解しましょう。</p>
          <div class="<%= namespace %>-Detail_Item-06-img">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/apple-watch/apple-watch-se-2nd-2023/detail-06-sp.png" width="262" height="256">
              <img src="<%= sitepath %>assets/img/product/apple-watch/apple-watch-se-2nd-2023/detail-06-pc.png" width="484" height="420" loading="lazy" alt="">
            </picture>
          </div>
        </div>
        <div class="<%= namespace %>-Detail_Item-07">
          <p class="<%= namespace %>-Detail_Item-07-head <%= namespace %>-Detail_Item-head">重大な自動車衝突<br class="u-Show_Xxo">事故を<br class="u-Show_Oox">検知すると、<br><span class=" <%= namespace %>-Detail_Item-07-accent">緊急通報サービス</span><br>に連絡します<%- diamond %>。</p>
          <div class="<%= namespace %>-Detail_Item-07-img">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/apple-watch/apple-watch-se-2nd-2023/detail-07-sp.png" width="241" height="256">
              <img src="<%= sitepath %>assets/img/product/apple-watch/apple-watch-se-2nd-2023/detail-07-pc.png" width="289" height="400" loading="lazy" alt="">
            </picture>
          </div>
        </div>
        <div class="<%= namespace %>-Detail_Item-08">
          <p class="<%= namespace %>-Detail_Item-08-head <%= namespace %>-Detail_Item-head"><span class=" <%= namespace %>-Detail_Item-08-accent">心拍数をチェック。</span><br class="u-Show_Oox">あなたの心臓をいつも<br>見守り、通常より高い<br class="u-Show_Oox">心拍数と低い心拍数を<br>検知したら知らせます。</p>
          <div class="<%= namespace %>-Detail_Item-08-img">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/apple-watch/apple-watch-se-2nd-2023/detail-08-sp.png" width="174" height="193">
              <img src="<%= sitepath %>assets/img/product/apple-watch/apple-watch-se-2nd-2023/detail-08-pc.png" width="211" height="235" loading="lazy" alt="">
            </picture>
          </div>
        </div>
        <div class="<%= namespace %>-Detail_Item-09">
          <p class="<%= namespace %>-Detail_Item-09-head <%= namespace %>-Detail_Item-head">睡眠アプリで、<br class="u-Show_Oox"><span class=" <%= namespace %>-Detail_Item-09-accent">睡眠ステージを記録。</span><br>あなたが眠っても、<br class="u-Show_Oox">眠らずに働きます。</p>
          <div class="<%= namespace %>-Detail_Item-09-img">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/apple-watch/apple-watch-se-2nd-2023/detail-09-sp.png" width="218" height="244">
              <img src="<%= sitepath %>assets/img/product/apple-watch/apple-watch-se-2nd-2023/detail-09-pc.png" width="341" height="382" loading="lazy" alt="">
            </picture>
          </div>
        </div>
        <div class="<%= namespace %>-Detail_Item-10">
          <p class="<%= namespace %>-Detail_Item-10-head <%= namespace %>-Detail_Item-head">より多くの情報を<br class="u-Show_Oox">一目で見られるように、<br><span class=" <%= namespace %>-Detail_Item-10-accent">watchOS 10</span>で<br class="u-Show_Oox">様々なアプリが<br class="u-Show_Oox">生まれ変わりました。</p>
          <div class="<%= namespace %>-Detail_Item-10-img">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/apple-watch/apple-watch-se-2nd-2023/detail-10-sp.png" width="320" height="186">
              <img src="<%= sitepath %>assets/img/product/apple-watch/apple-watch-se-2nd-2023/detail-10-pc.png" width="865" height="207" loading="lazy" alt="">
            </picture>
          </div>
        </div>
        <div class="<%= namespace %>-Detail_Item-11">
          <div class="<%= namespace %>-Detail_Item-11-text">
            <div class="<%= namespace %>-Detail_Item-11-logo">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/apple-watch/apple-watch-se-2nd-2023/detail-11-logo-sp.png" width="140" height="27">
                <img src="<%= sitepath %>assets/img/product/apple-watch/apple-watch-se-2nd-2023/detail-11-logo-pc.png" width="158" height="30" loading="lazy" alt="Carbon Neutral">
              </picture>
            </div>
            <p class="<%= namespace %>-Detail_Item-11-head <%= namespace %>-Detail_Item-head">カーボンニュートラルな<br>ケースとバンドを<br class="u-Show_Oox">組み合わせた<br>初めてのApple製品。</p>
            <p class="c-Txt_Cap <%= namespace %>-Detail_Item-11-caption"><a href="https://apple.com/jp/2030" target="_blank" rel="noopener noreferrer">apple.com/jp/2030</a>を<br class="u-Show_Oox">ご覧ください。</p>
          </div>
          <div class="<%= namespace %>-Detail_Item-11-img">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/apple-watch/apple-watch-se-2nd-2023/detail-11-sp.png" width="322" height="307">
              <img src="<%= sitepath %>assets/img/product/apple-watch/apple-watch-se-2nd-2023/detail-11-pc.png" width="715" height="420" loading="lazy" alt="">
            </picture>
          </div>
        </div>
      </div>
    </section>

    <%- include(`./_watch-other2`, { commonNamespace, diamond, currentDir }) %>

    <section class="<%= commonNamespace %>-Inc u-Adjust_Mt-40">
      <div class="<%= commonNamespace %>-Inc_Note">
        <%- diamond %>免責事項<br>
        <ul class="u-Adjust_Mt-16">
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">電源とバッテリー：</span>バッテリー駆動時間は使用条件と構成によって異なります。 詳しくは<a href="https://www.apple.com/jp/batteries" target="_blank" rel="noopener noreferrer">apple.com/jp/batteries</a>をご覧ください。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">ジェスチャー：</span>2023年後半に利用できるようになります。 Apple Watch Series 9またはApple Watch Ultra 2が必要です。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">デバイス上のSiri：</span>デバイス上で行ったリクエストで利用できます。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">血中酸素ウェルネス：</span>血中酸素ウェルネスアプリはウェルネスのみを目的とし、医療での使用を目的とするものではありません。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">心電図：</span>心電図アプリは、Apple Watch Series 4以降（Apple Watch SEを除く）で利用でき、第I誘導心電図に類似した心電図を作成できます。 22歳以上の方による使用を目的としています。 販売名：Appleの心電図アプリケーション 管理医療機器販売業者等：Apple Japan合同会社（住所：東京都港区六本木6丁目10番1号六本木ヒルズ お問い合わせ：0120-277-535）</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">不規則な心拍の通知：</span>不規則な心拍の通知機能を使用するには、watchOSおよびiOSの最新バージョンが必要です。 この機能は、22歳未満の方による使用を目的とするものではありません。 販売名：Appleの不規則な心拍の通知プログラム 管理医療機器販売業者等：Apple Japan合同会社（住所：東京都港区六本木6丁目10番1号六本木ヒルズ お問い合わせ：0120-277-535）</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">皮膚温センサー：</span>皮膚温センサー機能は医療での使用を目的とするものではありません。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">周期記録：</span>周期記録アプリを妊娠調節の目的または健康状態の診断に使用しないでください。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">緊急SOS：</span>緊急SOSを発信するには、Apple Watchもしくは近くにあるiPhoneからの携帯電話通信またはインターネット接続を使ったWi-Fi通話が必要です。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">海外における緊急通報：</span>Apple Watch Series 7以降、Apple Watch SE以降、またはApple Watch Ultra以降が必要です。 この機能を利用できる国と地域の一覧については<a href="https://www.apple.com/jp/watchos/feature-availability" target="_blank" rel="noopener noreferrer">apple.com/jp/watchos/feature-availability</a>をご覧ください。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">耐水性能と防塵性能：</span>Apple Watch SEとApple Watch Series 9にはISO規格22810:2010にもとづく50メートルの耐水性能があります。 これは、プールや海で泳ぐなど、浅水でのアクティビティで使用できることを意味します。 スキューバダイビング、ウォータースキー、高速水流または低水深を超える潜水を伴うその他のアクティビティにはApple Watch SEとApple Watch Series 9を使用しないでください。 Apple Watch Ultra 2にはISO規格22810にもとづく100メートルの耐水性能があり、高速ウォータースポーツと水深40メートルまでのレクリエーショナルスキューバダイビング（App Storeからダウンロードした対応する他社製アプリを利用）で使用できます。 水深40メートル以上のダイビングには使用しないでください。 耐水性能は永続的に維持されるものではなく、時間の経過とともに低下する可能性があります。 詳しくは<a href="https://support.apple.com/ja-jp/HT205000" target="_blank" rel="noopener noreferrer">apple.com/ja-jp/HT205000</a>をご覧ください。 Apple Watch Series 9とApple Watch Ultra 2にはIP6X等級の防塵性能もあります。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">携帯電話/ワイヤレス通信方式：</span>携帯電話通信サービスを利用するには、通信サービスプランへの加入が必要です。 詳しくはサービスプロバイダにお問い合わせください。 携帯電話通信サービスへの接続状態は、ネットワークの利用状況によって異なる場合があります。 対応している通信事業者と利用条件については、<a href="https://www.apple.com/jp/watch/cellular" target="_blank" rel="noopener noreferrer">apple.com/jp/watch/cellular</a>をご覧ください。 詳しい設定手順については、<a href="https://support.apple.com/ja-jp/HT207578" target="_blank" rel="noopener noreferrer">apple.com/ja-jp/HT207578</a>をご覧ください。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">ファミリー共有設定：</span>ファミリー共有設定でApple Watchを設定した場合、一部の機能は利用できません。 携帯電話通信サービスを利用するには、通信サービスプランへの加入が必要です。 詳しくはサービスプロバイダにお問い合わせください。 対応している通信事業者と利用条件については、<a href="https://www.apple.com/jp/watch/cellular" target="_blank" rel="noopener noreferrer">apple.com/jp/watch/cellular</a>をご覧ください。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">高速充電：</span>高速充電に対応するのはApple Watch Series 7以降（すべてのApple Watch Ultraモデルを含む）です。 Apple Watch SEはどのモデルも対応していません。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">(PRODUCT)RED：</span>(PRODUCT)RED製品をお買い上げいただくと、購入金額の一部が(RED)と取り組むグローバルファンドのAIDS対策と新型コロナウイルスの影響軽減対策に寄付されます。 詳しくは<a href="https://www.apple.com/product-red" target="_blank" rel="noopener noreferrer">apple.com/jp/product-red</a>をご覧ください。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">バンド：</span>バンドは在庫が限られている場合があります。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">互換性：</span>Apple Watchを利用するには、最新バージョンのiOSを搭載したiPhone XS以降が必要です。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">利用できる機能：</span>機能は変更される場合があります。 地域や言語によっては一部の機能、アプリケーション、サービスを利用できない場合があります。 詳しくは<a href="https://www.apple.com/jp/watchos/feature-availability" target="_blank" rel="noopener noreferrer">apple.com/jp/watchos/feature-availability</a>をご覧ください。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item">Apple Watchは医療機器ではありません。</li>
        </ul>
      </div>
    </section>

    <section class="<%= commonNamespace %>-Spec_Section-other u-Adjust_Mt-40">
      <div class="<%= commonNamespace %>-Spec_Section-other-bg">
        <div class="<%= commonNamespace %>-Spec_Section-other">
          <div class="<%= commonNamespace %>-Spec_Section-other-inner">
            <div class="<%= commonNamespace %>-Spec_Section-other-characteristic">
              <div class="<%= commonNamespace %>-Spec_Section-other-characteristic-inner">
                <h3 class="c-Heading_Lv3">主な特長</h3>
                <ul class="c-List_Text-disc u-Adjust_Mt-16 <%= commonNamespace %>-Spec_Section-other-list">
                  <li>Apple Watch SEを選ぶ理由 — アクティブに過ごしながらモチベーションをキープする。いつもつながる。健康状態を記録する。安全を守る。そのために欠かせない機能をすべて搭載。スマートスタックやwatchOS 10で生まれ変わった様々なアプリを使えば、より多くの情報を一目で見られます。衝突事故検出 1や強化されたワークアウトの計測方法なども使えるApple Watch SEは、たくさんの機能を、これまで以上にたくさんの腕に届けます。</li>
                  <li>カーボンニュートラル — Apple Watch SE（第2世代）と最新のスポーツループ。この組み合わせがカーボンニュートラルです。Appleの環境への取り組みについて、詳しくは<a href="https://apple.com/jp/2030" target="_blank" rel="noopener noreferrer">apple.com/jp/2030</a>をご覧ください <span>2</span>。</li>
                  <li>携帯電話通信機能 — iPhoneが手元になくても、メッセージを送ったり、電話をかけたり、音楽やポッドキャストをストリーミングできます。携帯電話通信プランに加入すれば、これまで以上に多くの場所でつながれます <span>3</span>。</li>
                  <li>健康と安全を守る機能 — 転倒検出 <span>4</span>、衝突事故検出、緊急SOS2が、必要な時に助けを呼びます。健康状態を深く理解することもできます。例えば、不規則な心拍リズムや、通常よりも高い心拍数と低い心拍数が検知された場合に通知を受け取れるので安心です <span>5</span>。</li>
                  <li>シンプルな連係 — Apple製デバイスやサービスとシームレスに連係。Macのロックも自動で解除できます。あなたのデバイスを探すのも簡単。Apple Watch SEを利用するには、iOS 17以降を搭載したiPhone Xs以降が必要です。</li>
                  <li>泳げる耐水性能とスタイリッシュな仕上げ — 50メートルの耐水性能 <span>6</span>。3つの仕上げ。ボディと同じカラーのバックケースは、炭素排出量を削減するプロセスで製造されています。</li>
                  <li>簡単なカスタマイズ — 幅広いスタイル、素材、カラーをそろえたバンドと、思いのままにカスタマイズできる文字盤。気分やシーンに合わせてApple Watchの印象を変えましょう。</li>
                  <li>パワフルなフィットネスパートナー — 幅広いトレーニング方法が用意されたワークアウトアプリ。先進的な計測方法で、ワークアウトのパフォーマンスをより深く理解できます。</li>
                  <li>いつもつながる方法 — メッセージを送る。電話に出る。音楽やポッドキャストを聴く。Siriを使う。緊急SOSで助けを呼ぶ <span>2</span>。Apple Watch SE（GPSモデル）では、iPhoneまたはWi-Fiに接続して、いつもつながっていられます。</li>
                  <li>健康を守る先進的な機能 — 不規則な心拍リズムが検知された場合に通知を受け取ることも <span>5</span>、レム睡眠、コア睡眠、深い睡眠の睡眠ステージにいた時間の長さを確認することもできます。心の状態を記録することで、感情の変化を認識したり、立ち直る力も養えます。</li>
                  <li>画期的な安全機能 — 転倒検出 <span>4</span>と衝突事故検出は、転倒した時や自動車で重大な衝突事故に遭った時、緊急通報サービスに知らせます <span>2</span>。すぐに助けを呼びたい時は、ボタンを押して緊急SOSを発信できます <span>2</span>。</li>
                  <li>AppleCare — すべてのApple Watchには、製品購入後1年間のハードウェア製品限定保証と90日間の無償テクニカルサポートがついています。AppleCare+に加入すると、保証とサポートが延長され、想定外の修理によるストレスと費用を軽減できます。</li>
                </ul>
                <div class="c-Txt_Cap u-Adjust_Mt-32">
                  <p>Apple Watch SEを利用するには、iOS 17以降を搭載したiPhone Xs以降が必要です。</p>
                  <p>Apple Watchは医療機器ではありません。</p>
                  <p>1 緊急SOSを発信するには、Apple Watchもしくは近くにあるiPhoneからの携帯電話通信またはインターネット接続を使ったWi-Fi通話が必要です。</p>
                  <p>2 詳しくは<a href="https://apple.com/jp/2030" target="_blank" rel="noopener noreferrer">apple.com/jp/2030</a>をご覧ください。</p>
                  <p>3 携帯電話通信サービスを利用するには、通信サービスプランへの加入が必要です。詳しくはサービスプロバイダにお問い合わせください。携帯電話通信サービスへの接続状態は、ネットワークの利用状況によって異なる場合があります。対応している通信事業者と利用条件については、<a href="https://apple.com/jp/watch/cellular" target="_blank" rel="noopener noreferrer">apple.com/jp/watch/cellular</a>をご覧ください。詳しい設定手順については、<a href="https://support.apple.com/ja-jp/HT207578" target="_blank" rel="noopener noreferrer">support.apple.com/ja-jp/HT207578</a>をご覧ください。</p>
                  <p>4 転倒検出機能のアップデートは、watchOS 8以降を搭載したApple Watch Series 4以降で利用できます。</p>
                  <p>5 不規則な心拍の通知機能を使用するには、watchOSおよびiOSの最新バージョンが必要です。この機能は、22歳未満の方による使用を目的とするものではありません。販売名：Appleの不規則な心拍の通知プログラム 管理医療機器販売業者等：Apple Japan合同会社（住所：東京都港区六本木6丁目10番1号六本木ヒルズ お問い合わせ：0120-277-535） </p>
                  <p>6 Apple Watch SEにはISO規格22810:2010にもとづく50メートルの耐水性能があります。これは、プールや海で泳ぐなど、浅水でのアクティビティで使用できることを意味します。スキューバダイビング、ウォータースキー、高速水流または低水深を超える潜水を伴うその他のアクティビティにはApple Watch SEを使用しないでください。耐水性能は永続的に維持されるものではなく、時間の経過とともに低下する可能性があります。詳しくは<a href="https://support.apple.com/ja-jp/HT205000" target="_blank" rel="noopener noreferrer">support.apple.com/ja-jp/HT205000</a>をご覧ください。</p>
                  <p>7 携帯電話通信サービスを利用するには、通信サービスプランへの加入が必要です。詳しくはサービスプロバイダにお問い合わせください。携帯電話通信サービスへの接続状態は、ネットワークの利用状況によって異なる場合があります。対応している通信事業者と利用条件については、apple.com/jp/watch/cellularをご覧ください。詳しい設定手順については、<a href="https://support.apple.com/ja-jp/HT207578" target="_blank" rel="noopener noreferrer">support.apple.com/ja-jp/HT207578</a>をご覧ください。 </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
