<section class="<%= commonNamespace %>-Spec_Section-other">
  <div class="<%= commonNamespace %>-Spec_Section-other-bg">
    <div class="<%= commonNamespace %>-Spec_Section-other">
      <div class="<%= commonNamespace %>-Spec_Section-other-inner">
        <div class="<%= commonNamespace %>-Spec_Section-other-note">
          <%# スクロール計測 %>
          <div class="u-Rat_Appear-height" data-ratid="<%= ratidDir %>_scroll-06_disclaimer" data-ratevent="appear">&nbsp;</div>
          <p class="c-Txt_Cap"><%- diamond %>免責事項</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">電源とバッテリー</span>：バッテリー駆動時間は使用条件と構成によって異なります。 詳しくは<a href="https://www.apple.com/jp/batteries/" target="_blank" rel="noopener noreferrer">apple.com/jp/batteries</a>をご覧ください。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">耐水性能と防塵性能</span>：Apple Watch UltraにはISO規格22810にもとづく100メートルの耐水性能があります。 水深40メートルまでのレクリエーショナルスキューバダイビング（App Storeからダウンロードした対応する他社製アプリを利用）と高速ウォータースポーツで使用できます。 Apple Watch Ultraを水深40メートル以上のダイビングに使用しないでください。 Apple Watch Series 8とApple Watch SEにはISO規格22810:2010にもとづく50メートルの耐水性能があります。 これは、プールや海で泳ぐなど、浅水でのアクティビティで使用できることを意味します。 ただし、スキューバダイビング、ウォータースキー、高速水流または低水深を超える潜水を伴うその他のアクティビティには使用しないでください。 耐水性能は永続的に維持されるものではなく、時間の経過とともに低下する可能性があります。詳しくは<a href="https://support.apple.com/ja-jp/HT205000/" target="_blank" rel="noopener noreferrer">support.apple.com/ja-jp/HT205000</a>をご覧ください。 Apple Watch UltraとApple Watch Series 8にはIP6X等級の防塵性能もあります。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">Oceanic+アプリ</span>：Oceanic+アプリを利用するにはサブスクリプションが必要です。 アプリはApp Storeで購入、入手できます。 ダイビングを行う際は、常にダイビングの安全手順に従い、パートナーと組み、予備のデバイスを携帯してください。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">皮膚温センサー</span>：皮膚温センサーは医療機器ではありません。 この機能は、医学的診断、治療、その他の医療での使用を目的とするものではありません。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">周期記録</span>：周期記録アプリを妊娠調節の方法として使用しないでください。 周期記録アプリのデータを健康状態の診断に使用しないでください。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">緊急SOS</span>：緊急SOSを発信するには、Apple Watchもしくは近くにあるiPhoneからの携帯電話通信またはインターネット接続を使ったWi-Fi通話が必要です。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">心電図アプリと不規則な心拍の通知機能</span>：心電図アプリと不規則な心拍の通知機能を使用するには、watchOSおよびiOSの最新バージョンが必要です。 これらの機能は、22歳未満の方による使用を目的としたものではありません。 心電図アプリは、Apple Watch Series 4以降（Apple Watch SEを除く）で利用できます。 心電図アプリの販売名：Appleの心電図アプリケーション 不規則な心拍の通知機能の販売名：Appleの不規則な心拍の通知プログラム 管理医療機器販売業者等：Apple Japan合同会社（住所：東京都港区六本木6丁目10番1号六本木ヒルズ お問い合わせ：0120-277-535）</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">血中酸素ウェルネスアプリ</span>：血中酸素ウェルネスアプリの測定値は、自己診断または医師との相談を含む医療での使用を目的とするものではなく、一般的なフィットネスとウェルネスのみを目的としています。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">携帯電話/ワイヤレス通信方式</span>：携帯電話通信サービスを利用するには、通信サービスプランへの加入が必要です。 詳しくはサービスプロバイダにお問い合わせください。 携帯電話通信サービスへの接続状態は、ネットワークの利用状況によって異なる場合があります。 対応している通信事業者と利用条件については、<a href="https://www.apple.com/jp/watch/cellular/" target="_blank" rel="noopener noreferrer">apple.com/jp/watch/cellular</a>をご覧ください。 詳しい設定手順については、<a href="https://support.apple.com/ja-jp/HT207578/" target="_blank" rel="noopener noreferrer">support.apple.com/ja-jp/HT207578</a>をご覧ください。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">国際ローミング</span>：2022年後半に利用できるようになります。 国際ローミングのサービスエリアは通信事業者によって定められています。 詳細については通信事業者にお問い合わせください。対応する通信事業者の一覧については、<a href="https://www.apple.com/jp/watch/cellular/" target="_blank" rel="noopener noreferrer">apple.com/jp/watch/cellular</a>をご覧ください。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">Apple Music</span>：Apple Musicを利用するにはサブスクリプションが必要です。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">App Store</span>：アプリはApp Storeで購入、入手できます。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">MIL-STD 810H</span>：高度、高温、低温、温度衝撃、浸漬、凍結/融解、衝撃、振動のサブセクションをテスト済み。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">海外における緊急通報</span>：海外における緊急通報機能を利用するには、Apple Watch Ultra（GPS + Cellularモデル）、Apple Watch Series 8（GPS + Cellularモデル）、Apple Watch Series 7（GPS + Cellularモデル）またはApple Watch SE（GPS + Cellularモデル）が必要です。 この機能を利用できる国と地域の一覧については<a href="https://www.apple.com/jp/watchos/feature-availability/" target="_blank" rel="noopener noreferrer">apple.com/jp/watchos/feature-availability</a>をご覧ください。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">ファミリー共有設定</span>：ファミリー共有設定でApple Watchを設定した場合、一部の機能は利用できません。 携帯電話通信サービスを利用するには、通信サービスプランへの加入が必要です。詳しくはサービスプロバイダにお問い合わせください。 対応している通信事業者と利用条件については、<a href="https://www.apple.com/jp/watch/cellular/" target="_blank" rel="noopener noreferrer">apple.com/jp/watch/cellular</a>をご覧ください。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">高速充電</span>：高速充電に対応するのは、Apple Watch Series 7、Apple Watch Series 8、Apple Watch Ultraのみです。 その他のモデルの充電時間は通常通りです。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">(PRODUCT)RED</span>：(PRODUCT)RED製品をお買い上げいただくと、購入金額の一部が(RED)と取り組むグローバルファンドのAIDS対策に寄付されます。 これから2022年12月31日までの期間、寄付金の半分はグローバルファンドの新型コロナウイルス対策に充てられ、AIDS撲滅活動に対する新型コロナウイルスの影響を軽減するために使われます。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">バンド</span>：バンドは在庫が限られている場合があります。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">互換性</span>：Apple Watchを利用するには、最新バージョンのiOSを搭載したiPhone 8以降が必要です。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">利用できる機能</span>：機能は変更される場合があります。 地域や言語によっては一部の機能、アプリケーション、サービスを利用できない場合があります。詳しくは<a href="https://www.apple.com/jp/watchos/feature-availability/" target="_blank" rel="noopener noreferrer">apple.com/jp/watchos/feature-availability</a>をご覧ください。</p>
          <p class="c-Txt_Cap">Apple Watchは医療機器ではありません。</p>
        </div>
        <div class="<%= commonNamespace %>-Spec_Section-other-characteristic u-Adjust_Mt-40">
          <h3 class="c-Heading_Lv3">主な特長</h3>
          <ul class="c-List_Text-disc u-Adjust_Mt-32">
            <li>耐久トレーニング、アドベンチャー、ウォータースポーツに挑む人のために作られた特殊な機能、センサー、新しい3つのバンド</li>
            <li>軽さ、強さ、耐食性を絶妙に調和させた航空宇宙産業レベルの49mmチタニウムケース</li>
            <li>どんな環境でも一段と見やすくなった、Apple Watch史上、最も大きく最も明るいディスプレイ</li>
            <li>通常使用時で最大36時間、低電力設定で一段と長く使えるバッテリー <span>1</span></li>
            <li>距離、ペース、経路地図を計算するための正確な位置情報を提供する高精度2周波GPSシステム</li>
            <li>100メートルの耐水性能 <span>2</span></li>
            <li>手首の上でも驚くほど多様な環境に耐えられるよう、動作温度の範囲を拡大</li>
            <li>コンパスウェイポイントをマーク、バックトレースを開始、ワークアウトのセグメントをマーク、フラッシュライトを点灯など、カスタマイズできるアクションボタン</li>
            <li>サイレン、バックトレース、転倒検出、緊急SOS <span>3</span>、衝突事故検出などの先進的な安全機能</li>
            <li>新しい計測方法、新しい表示、高度なトレーニング方法が満載の進化したワークアウトアプリ</li>
            <li>ウェイポイントとバックトレースの機能を備え、再設計されたコンパスアプリ</li>
            <li>潜降すると自動的にアクティベートする水深計と水温センサー</li>
            <li>水深40メートルまでのレクリエーショナルスキューバダイビングとフリーダイビングに対応 <span>4</span></li>
            <li>大切な人や情報とつながっていられる携帯電話通信機能を内蔵 <span>5</span></li>
            <li>心電図を記録する<span>6</span>。心拍数を測定する。皮膚温の変化を記録して <span>7</span>、月経周期をより深く理解する <span>8</span>。体に取り込まれた酸素のレベルをチェックする <span>9</span>。健康を守る先進的なセンサー　</li>
            <li>Apple Watchで毎日の体の動きを記録して、その成果をiPhoneのフィットネスアプリで確認</li>
            <li>お気に入りの音楽、Podcast、オーディオブックを同期、ストリーミング</li>
            <li>手首の上のApple Payですばやく安全に支払う <span>10</span></li>
            <li>強化されたワークアウトアプリ、新しい服薬アプリ、睡眠ステージを備えたwatchOS 9</li>
          </ul>
          <div class="c-Txt_Cap u-Adjust_Mt-32">
            <p>Apple Watch Ultraを利用するには、iOS 16以降を搭載したiPhone 8以降が必要です。</p>
            <p>Apple Watchは医療機器ではありません。</p>
            <p>1 バッテリー駆動時間は使用条件と構成によって異なります。詳しくは<a href="https://www.apple.com/jp/batteries/" target="_blank" rel="noopener noreferrer">apple.com/jp/batteries</a>をご覧ください。</p>
            <p>2 Apple Watch UltraにはISO規格22810にもとづく100メートルの耐水性能があります。水深40メートルまでのレクリエーショナルスキューバダイビング（App Storeからダウンロードした対応する他社製アプリを利用）と高速ウォータースポーツで使用できます。Apple Watch Ultraを水深40メートル以上のダイビングに使用しないでください。耐水性能は永続的に維持されるものではなく、時間の経過とともに低下する可能性があります。詳しくは<a href="https://support.apple.com/ja-jp/HT205000/" target="_blank" rel="noopener noreferrer">support.apple.com/ja-jp/HT205000</a>をご覧ください。</p>
            <p>3 緊急SOSを発信するには、Apple Watchもしくは近くにあるiPhoneからの携帯電話通信またはインターネット接続を使ったWi-Fi通話が必要です。</p>
            <p>4 Oceanic+アプリを利用するにはサブスクリプションが必要です。アプリはApp Storeで購入、入手できます。ダイビングを行う際は、常にダイビングの安全手順に従い、パートナーと組み、予備のデバイスを携帯してください。</p>
            <p>5 携帯電話通信サービスを利用するには、通信サービスプランへの加入が必要です。詳しくはサービスプロバイダにお問い合わせください。携帯電話通信サービスへの接続状態は、ネットワークの利用状況によって異なる場合があります。対応している通信事業者と利用条件については、<a href="https://www.apple.com/jp/watch/cellular/" target="_blank" rel="noopener noreferrer">apple.com/jp/watch/cellular</a>をご覧ください。詳しい設定手順については、<a href="https://support.apple.com/ja-jp/HT207578/" target="_blank" rel="noopener noreferrer">support.apple.com/ja-jp/HT207578</a>をご覧ください。</p>
            <p>6 心電図アプリと不規則な心拍の通知機能を使用するには、watchOSおよびiOSの最新バージョンが必要です。これらの機能は、22歳未満の方による使用を目的としたものではありません。心電図アプリはApple Watch Series 4以降（Apple Watch SEを除く）で利用できます。心電図アプリの販売名：Appleの心電図アプリケーション 不規則な心拍の通知機能の販売名：Appleの不規則な心拍の通知プログラム 管理医療機器販売業者等：Apple Japan合同会社（住所：東京都港区六本木6丁目10番1号六本木ヒルズ お問い合わせ：0120-277-535）</p>
            <p>7 皮膚温センサーは医療機器ではありません。この機能は、医学的診断、治療、その他の医療での使用を目的とするものではありません。</p>
            <p>8 周期記録アプリを妊娠調節の方法として使用しないでください。周期記録アプリのデータを健康状態の診断に使用しないでください。</p>
            <p>9 血中酸素ウェルネスアプリの測定値は、自己診断または医師との相談を含む医療での使用を目的とするものではなく、一般的なフィットネスとウェルネスのみを目的としています。</p>
            <p>10 Apple Payは特定の国と地域で利用できます。Apple Payを利用できる国と地域の一覧については<a href="https://support.apple.com/ja-jp/HT207957/" target="_blank" rel="noopener noreferrer">support.apple.com/ja-jp/HT207957</a>をご覧ください。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
