<%_
  const commonNamespace = "product-watch-ultra-2-common"
  const diamond = "<sup>&#9674;</sup>"
_%>
<div class="c-Tab_Panel <%= commonNamespace %>-Layout_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="製品詳細・スペック">
  <div>

    <section class="<%= namespace %>-Detail_Wrapper">
      <div class="<%= namespace %>-Detail_Ultra-main <%= namespace %>-Detail_Bg-white">
        <div class="<%= namespace %>-Detail_Ultra-main-grid">
          <div class="<%= namespace %>-Detail_Ultra-main-item-1"></div>
          <picture class="<%= namespace %>-Detail_Ultra-main-item-2">
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/apple-watch/apple-watch-ultra-2/detail-sp-01.png" width="100%">
            <img src="<%= sitepath %>assets/img/product/apple-watch/apple-watch-ultra-2/detail-pc-01.png" width="100%" loading="lazy" alt="">
          </picture>
          <div class="<%= namespace %>-Detail_Ultra-main-item-3"></div>
        </div>
        <div class="<%= namespace %>-Detail_Ultra-main-logo">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/apple-watch/apple-watch-ultra-2/ultra2-logo.png" width="137">
          <img src="<%= sitepath %>assets/img/product/apple-watch/apple-watch-ultra-2/ultra2-logo.png" width="166" loading="lazy" alt="WATCH Ultra2">
        </picture>
        <p class="<%= namespace %>-Detail_Ultra-main-text-1">さらなる冒険を。</p>
        <p class="<%= namespace %>-Detail_Ultra-main-text-2">最も屈強で万能なApple Watchが、 <br>
          またしても限界を超えます。</p>
      </div>
      </div>

      <div class="<%= namespace %>-Detail_Grid">
        <div class="<%= namespace %>-Detail_Grid-item-1 <%= namespace %>-Detail_Bg-white">
          <p><span>頑丈で軽い49mmのケース。</span><br>
            航空宇宙産業レベルの<br class="u-Show_Oox">チタニウム製。</p>
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/apple-watch/apple-watch-ultra-2/detail-sp-02.png" width="100%">
            <img src="<%= sitepath %>assets/img/product/apple-watch/apple-watch-ultra-2/detail-pc-02.png" width="100%" loading="lazy" alt="">
          </picture>
        </div>
        <div class="<%= namespace %>-Detail_Grid-item-2 <%= namespace %>-Detail_Bg-white">
          <p>ダブルタップ。スクリーンに<br class="u-Show_Oox">触らずに、<br class="u-Show_Xxo"><span>マジックのように<br class="u-Show_Oox">Apple Watchを<br class="u-Show_Oox">操作する方法。</span></p>
          <p>2023年後半に登場</p>
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/apple-watch/apple-watch-ultra-2/detail-sp-03.png" width="100%">
            <img src="<%= sitepath %>assets/img/product/apple-watch/apple-watch-ultra-2/detail-pc-03.png" width="100%" loading="lazy" alt="">
          </picture>
        </div>
        <div class="<%= namespace %>-Detail_Grid-item-3 <%= namespace %>-Detail_Bg-white">
          <p>大きく明るい<br class="u-Show_Oox"><span>常時表示<br class="u-Show_Oox">Retinaディスプレイ。</span></p>
          <div class="<%= namespace %>-Detail_Grid-item-3-inner-grid">
            <div><%# inner grid %></div>
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/apple-watch/apple-watch-ultra-2/detail-01.png" width="100%">
              <img src="<%= sitepath %>assets/img/product/apple-watch/apple-watch-ultra-2/detail-01.png" width="100%" loading="lazy" alt="">
            </picture>
            <div><%# inner grid %></div>
          </div>
        </div>
        <div class="<%= namespace %>-Detail_Grid-item-4 <%= namespace %>-Detail_Bg-white">
          <div class="<%= namespace %>-Detail_Grid-item-4-inner-grid">
            <div><%# inner grid %></div>
            <img src="<%= sitepath %>assets/img/product/apple-watch/apple-watch-ultra-2/detail-02.png" width="100%" loading="lazy" alt="">
            <div><%# inner grid %></div>
          </div>
          <p><span>通常使用時は最大</span><br class="u-Show_Xxo">36時間。<br class="u-Show_Oox"><span>低電力モードで</span><br class="u-Show_Xxo">最大72時間<br class="u-Show_Oox"><span>持続する<br class="u-Show_Xxo">バッテリー<%- diamond %>。</span>
          </p>
        </div>
        <div class="<%= namespace %>-Detail_Grid-item-5 <%= namespace %>-Detail_Bg-white">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/apple-watch/apple-watch-ultra-2/detail-sp-04.png" width="100%">
            <img src="<%= sitepath %>assets/img/product/apple-watch/apple-watch-ultra-2/detail-pc-04.png" width="100%" loading="lazy" alt="">
          </picture>
          <p>カスタマイズできる<br>
            アクションボタン。<br>
            <span>特定の機能にすばやく<br>
            アクセス。</span>
          </p>
        </div>
        <div class="<%= namespace %>-Detail_Grid-item-6">
          <div class="<%= namespace %>-Detail_Grid-item-6-text-wrapper">
            <p>
              過密都市でも<br>
              驚くほどの精度を発揮する<br>
              <span>高精度2周波GPS。</span>
            </p>
          </div>
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/apple-watch/apple-watch-ultra-2/detail-sp-05.png" width="100%">
            <img src="<%= sitepath %>assets/img/product/apple-watch/apple-watch-ultra-2/detail-pc-05.png" width="100%" loading="lazy" alt="">
          </picture>
        </div>
        <div class="<%= namespace %>-Detail_Grid-item-7 <%= namespace %>-Detail_Bg-white">
          <p><span>あらゆる<br class="u-Show_Oox">アスリートのための</span><br class="u-Show_Oox">バンド。</p>
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/apple-watch/apple-watch-ultra-2/detail-sp-06.png" width="100%">
            <img src="<%= sitepath %>assets/img/product/apple-watch/apple-watch-ultra-2/detail-pc-06.png" width="100%" loading="lazy" alt="">
          </picture>
        </div>
        <div class="<%= namespace %>-Detail_Grid-item-8 <%= namespace %>-Detail_Bg-white">
          <div class="<%= namespace %>-Detail_Grid-item-8-flex">
            <img src="<%= sitepath %>assets/img/product/apple-watch/apple-watch-ultra-2/carbon-neutral.png" width="137" loading="lazy" alt="Carbon Neutral">
            <p class="<%= namespace %>-Detail_Grid-item-8-text-1">カーボンニュートラルな<br>
              ケースとバンドを<br>
              組み合わせた初めての<br>
              Apple製品。</p>
            <p class="<%= namespace %>-Detail_Grid-item-8-text-2">詳しくは<a href="https://apple.com/jp/2030" target="_blank" rel="noopener noreferrer">apple.com/jp/2030</a>を<br class="u-Show_Xxo">
              ご覧ください。</p>
          </div>
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/apple-watch/apple-watch-ultra-2/detail-sp-07.png" width="100%">
            <img src="<%= sitepath %>assets/img/product/apple-watch/apple-watch-ultra-2/detail-pc-07.png" width="100%" loading="lazy" alt="">
          </picture>
        </div>
      </div>
    </section>

   <%- include(`./_watch-other2`, { commonNamespace, diamond, currentDir }) %>

    <section class="<%= commonNamespace %>-Inc u-Adjust_Mt-40">
      <div class="<%= commonNamespace %>-Inc_Note">
        <p class="c-Txt_Cap">
          <%- diamond %>免責事項<br>
        </p>
        <ul class="u-Adjust_Mt-16">
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">電源とバッテリー：</span>バッテリー駆動時間は使用条件と構成によって異なります。 詳しくは<a href="https://www.apple.com/jp/batteries" target="_blank" rel="noopener noreferrer">apple.com/jp/batteries</a>をご覧ください。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">ジェスチャー：</span>2023年後半に利用できるようになります。 Apple Watch Series 9またはApple Watch Ultra 2が必要です。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">デバイス上のSiri：</span>デバイス上で行ったリクエストで利用できます。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">血中酸素ウェルネス：</span>血中酸素ウェルネスアプリはウェルネスのみを目的とし、医療での使用を目的とするものではありません。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">心電図：</span>心電図アプリは、Apple Watch Series 4以降（Apple Watch SEを除く）で利用でき、第I誘導心電図に類似した心電図を作成できます。 22歳以上の方による使用を目的としています。 販売名：Appleの心電図アプリケーション 管理医療機器販売業者等：Apple Japan合同会社（住所：東京都港区六本木6丁目10番1号六本木ヒルズ お問い合わせ：0120-277-535）</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">不規則な心拍の通知：</span>不規則な心拍の通知機能を使用するには、watchOSおよびiOSの最新バージョンが必要です。 この機能は、22歳未満の方による使用を目的とするものではありません。 販売名：Appleの不規則な心拍の通知プログラム 管理医療機器販売業者等：Apple Japan合同会社（住所：東京都港区六本木6丁目10番1号六本木ヒルズ お問い合わせ：0120-277-535）</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">皮膚温センサー：</span>皮膚温センサー機能は医療での使用を目的とするものではありません。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">周期記録：</span>周期記録アプリを妊娠調節の目的または健康状態の診断に使用しないでください。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">緊急SOS：</span>緊急SOSを発信するには、Apple Watchもしくは近くにあるiPhoneからの携帯電話通信またはインターネット接続を使ったWi-Fi通話が必要です。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">海外における緊急通報：</span>Apple Watch Series 7以降、Apple Watch SE以降、またはApple Watch Ultra以降が必要です。 この機能を利用できる国と地域の一覧については<a href="https://www.apple.com/jp/watchos/feature-availability" target="_blank" rel="noopener noreferrer">apple.com/jp/watchos/feature-availability</a>をご覧ください。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">耐水性能と防塵性能：</span>Apple Watch SEとApple Watch Series 9にはISO規格22810:2010にもとづく50メートルの耐水性能があります。 これは、プールや海で泳ぐなど、浅水でのアクティビティで使用できることを意味します。 スキューバダイビング、ウォータースキー、高速水流または低水深を超える潜水を伴うその他のアクティビティにはApple Watch SEとApple Watch Series 9を使用しないでください。 Apple Watch Ultra 2にはISO規格22810にもとづく100メートルの耐水性能があり、高速ウォータースポーツと水深40メートルまでのレクリエーショナルスキューバダイビング（App Storeからダウンロードした対応する他社製アプリを利用）で使用できます。 水深40メートル以上のダイビングには使用しないでください。 耐水性能は永続的に維持されるものではなく、時間の経過とともに低下する可能性があります。 詳しくは<a href="https://support.apple.com/ja-jp/HT205000" target="_blank" rel="noopener noreferrer">apple.com/ja-jp/HT205000</a>をご覧ください。 Apple Watch Series 9とApple Watch Ultra 2にはIP6X等級の防塵性能もあります。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">携帯電話/ワイヤレス通信方式：</span>携帯電話通信サービスを利用するには、通信サービスプランへの加入が必要です。 詳しくはサービスプロバイダにお問い合わせください。 携帯電話通信サービスへの接続状態は、ネットワークの利用状況によって異なる場合があります。 対応している通信事業者と利用条件については、<a href="https://www.apple.com/jp/watch/cellular" target="_blank" rel="noopener noreferrer">apple.com/jp/watch/cellular</a>をご覧ください。 詳しい設定手順については、<a href="https://support.apple.com/ja-jp/HT207578" target="_blank" rel="noopener noreferrer">apple.com/ja-jp/HT207578</a>をご覧ください。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">ファミリー共有設定：</span>ファミリー共有設定でApple Watchを設定した場合、一部の機能は利用できません。 携帯電話通信サービスを利用するには、通信サービスプランへの加入が必要です。 詳しくはサービスプロバイダにお問い合わせください。 対応している通信事業者と利用条件については、<a href="https://www.apple.com/jp/watch/cellular" target="_blank" rel="noopener noreferrer">apple.com/jp/watch/cellular</a>をご覧ください。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">高速充電：</span>高速充電に対応するのはApple Watch Series 7以降（すべてのApple Watch Ultraモデルを含む）です。 Apple Watch SEはどのモデルも対応していません。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">(PRODUCT)RED：</span>(PRODUCT)RED製品をお買い上げいただくと、購入金額の一部が(RED)と取り組むグローバルファンドのAIDS対策と新型コロナウイルスの影響軽減対策に寄付されます。 詳しくは<a href="https://www.apple.com/product-red" target="_blank" rel="noopener noreferrer">apple.com/jp/product-red</a>をご覧ください。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">バンド：</span>バンドは在庫が限られている場合があります。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">互換性：</span>Apple Watchを利用するには、最新バージョンのiOSを搭載したiPhone XS以降が必要です。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item"><span class="<%= commonNamespace %>-Inc_Note-item-head">利用できる機能：</span>機能は変更される場合があります。 地域や言語によっては一部の機能、アプリケーション、サービスを利用できない場合があります。 詳しくは<a href="https://www.apple.com/jp/watchos/feature-availability" target="_blank" rel="noopener noreferrer">apple.com/jp/watchos/feature-availability</a>をご覧ください。</li>
          <li class="<%= commonNamespace %>-Inc_Note-item">Apple Watchは医療機器ではありません。</li>
        </ul>
      </div>
    </section>

    <section class="<%= commonNamespace %>-Spec_Section-other u-Adjust_Mt-40">
      <div class="<%= commonNamespace %>-Spec_Section-other-bg">
        <div class="<%= commonNamespace %>-Spec_Section-other">
          <div class="<%= commonNamespace %>-Spec_Section-other-inner">
            <div class="<%= commonNamespace %>-Spec_Section-other-characteristic">
              <div class="<%= commonNamespace %>-Spec_Section-other-characteristic-inner">
                <h3 class="c-Heading_Lv3">主な特長</h3>
                <ul class="c-List_Text-disc u-Adjust_Mt-32 <%= commonNamespace %>-Spec_Section-other-list">
                  <li>Apple Watch Ultra 2を選ぶ理由 — 屈強かつ万能。耐久トレーニング、アウトドアのアドベンチャー、ウォータースポーツのニーズに応えるために作られました。それぞれの目的に合わせた特別なバンドも勢ぞろい。S9 SiPがもたらすのは、驚くほど明るいディスプレイ。そしてスクリーンに触らずに、マジックのようにすばやく簡単にApple Watchを操作する新しい方法です。バッテリーは最大36時間、低電力モードなら72時間使えます <span>1</span>。</li>
                  <li>カーボンニュートラル — Apple Watch Ultra 2と最新のアルパインループまたはトレイルループ。この組み合わせがカーボンニュートラルです。Appleの環境への取り組みについて、詳しくは<a href="https://www.apple.com/jp/2030" target="_blank" rel="noopener noreferrer">apple.com/jp/2030</a>をご覧ください <span>3</span>。</li>
                  <li>極めて屈強かつ万能 — 耐食性のある49mmのチタニウムケース。大きなDigital Crownとカスタマイズできるアクションボタンで、たくさんの機能をすばやくコントロール。100メートルの耐水性能も持っています <span>4</span>。</li>
                  <li>最も大きく最も明るいディスプレイ — Apple史上、最も明るい常時表示Retinaディスプレイを搭載。強烈な日差しの下でも一段と見やすくなりました。スペースが広がったので、コンプリケーションをいくつも追加して文字盤をカスタマイズしたり、一度に6つの測定値を簡単にチェックできます。</li>
                  <li>自由が広がる — Apple Watch Ultra 2は携帯電話通信機能を内蔵 <span>5</span>。iPhoneが手元になくても、電話で話したりメッセージを送り合えます。国際ローミングを使えば、海外にいても自由自在 <span>6</span>。お気に入りの音楽やポッドキャストをストリーミングしたり、マップで道順を調べることもできます。</li>
                  <li>耐久トレーニング — 心拍数範囲、カスタムワークアウト、サイクリングの新しいワークアウトの表示など、ワークアウトアプリで先進的な測定値を確認できます。高精度2周波GPSは、驚くほどの精度で距離、ペース、経路地図を計算。トレイルループは薄く、軽く、柔軟で、あらゆるワークアウトのために設計されました。</li>
                  <li>アウトドアのアドベンチャー — コンパスアプリで、役立つ表示や、高度、傾斜、経度、緯度などの詳細情報を活用する。携帯電話通信の電波を最後にキャッチした場所を確認する。コンパスウェイポイントで現在地をマークする。出発地点やルートに戻れるよう、バックトレースでGPSデータを使って今までの道のりを表示させる。強靭でしっかり装着できるアルパインループは、アウトドアのアドベンチャーに挑むすべての人の期待に応えます。</li>
                  <li>ウォータースポーツ — 気軽なウォータースポーツ、スキューバダイビング、フリーダイビングで、水深40メートルまで対応するように作られています <span>4</span>。水深アプリは、時刻、現在の水深、水温、水中にいる時間、最大水深を表示。Oceanic+アプリを使えば、ダイブコンピュータが手首の上にやってきます <span>7</span>。オーシャンバンドは軽くて柔軟。チタニウムバックルとアジャスタブルループが、高速ウォータースポーツを楽しんでいる時もバンドをしっかり固定します。</li>
                  <li>健康と安全を守る先進的な機能 — 心臓の健康に関する通知、血中酸素ウェルネスアプリ <span>8</span>、心電図アプリ <span>9</span>が、あなたの健康の情報をいつも届けて対策を取りやすくします。転倒検出 <span>10</span>と衝突事故検出は、あなたが転倒した時や自動車で重大な衝突事故に遭った時、緊急通報サービスに救助を要請 <span>11</span>。アクションボタンを長押しすれば、最大180メートル先まで聞こえるサイレンを鳴らせます。</li>
                  <li>AppleCare — すべてのApple Watchには、製品購入後1年間のハードウェア製品限定保証と90日間の無償テクニカルサポートがついています。<br class="u-Show_Xxo">AppleCare+に加入すると、保証とサポートが延長され、想定外の修理によるストレスと費用を軽減できます。</li>
                </ul>
                <ul class="c-Txt_Cap u-Adjust_Mt-32">
                  <li>Apple Watch Ultra 2を利用するには、iOS 17以降を搭載したiPhone Xs以降が必要です。</li>
                  <li>Apple Watchは医療機器ではありません。</li>
                  <li>1 バッテリー駆動時間は使用条件と構成によって異なります。詳しくは<a href="https://www.apple.com/jp/batteries" target="_blank" rel="noopener noreferrer">apple.com/jp/batteries</a>をご覧ください。</li>
                  <li>3 詳しくは<a href="https://www.apple.com/jp/2030" target="_blank" rel="noopener noreferrer">apple.com/jp/2030</a>をご覧ください。</li>
                  <li>4 Apple Watch Ultra 2にはISO規格22810にもとづく100メートルの耐水性能があり、高速ウォータースポーツと水深40メートルまでのレクリエーショナルスキューバダイビング（App Storeからダウンロードした対応する他社製アプリを利用）で使用できます。水深40メートル以上のダイビングには使用しないでください。耐水性能は永続的に維持されるものではなく、時間の経過とともに低下する可能性があります。詳しくは<a href="https://www.support.apple.com/ja-jp/HT205000" target="_blank" rel="noopener noreferrer">support.apple.com/ja-jp/HT205000</a>をご覧ください。Apple Watch Ultra 2にはIP6X等級の防塵性能もあります。</li>
                  <li>5 携帯電話通信サービスを利用するには、通信サービスプランへの加入が必要です。詳しくはサービスプロバイダにお問い合わせください。携帯電話通信サービスへの接続状態は、ネットワークの利用状況によって異なる場合があります。対応している通信事業者と利用条件については、<a href="https://www.apple.com/jp/watch/cellular" target="_blank" rel="noopener noreferrer">apple.com/jp/watch/cellular</a>をご覧ください。詳しい設定手順については、<a href="https://www.support.apple.com/ja-jp/HT207578" target="_blank" rel="noopener noreferrer">support.apple.com/ja-jp/HT207578</a>をご覧ください。</li>
                  <li>6 国際ローミングのサービスエリアは通信事業者によって定められています。詳細については通信事業者にお問い合わせください。対応する通信事業者の一覧については、<a href="https://www.apple.com/jp/watch/cellular" target="_blank" rel="noopener noreferrer">apple.com/jp/watch/cellular</a>をご覧ください。</li>
                  <li>7 Oceanic+アプリを利用するにはサブスクリプションが必要です。App Storeで購入できます。ダイビングを行う際は、常にダイビングの安全手順に従い、パートナーと組み、予備のデバイスを携帯してください。</li>
                  <li>8 血中酸素ウェルネスアプリはウェルネスのみを目的とし、医療での使用を目的とするものではありません。</li>
                  <li>9 心電図アプリは、Apple Watch Series 4以降（Apple Watch SEを除く）で利用でき、第I誘導心電図に類似した心電図を作成できます。22歳以上の方による使用を目的としています。販売名：Appleの心電図アプリケーション 管理医療機器販売業者等：Apple Japan合同会社（住所：東京都港区六本木6丁目10番1号六本木ヒルズ お問い合わせ：0120-277-535）</li>
                  <li>10 転倒検出機能のアップデートは、watchOS 8以降を搭載したApple Watch Series 4以降で利用できます。</li>
                  <li>11 緊急SOSを発信するには、Apple Watchもしくは近くにあるiPhoneからの携帯電話通信またはインターネット接続を使ったWi-Fi通話が必要です。</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
