<section class="<%= commonNamespace %>-Inc">
  <div class="<%= commonNamespace %>-Inc_Reason">
    <p class="<%= commonNamespace %>-Inc_Reason-title">Apple Watchを選ぶ理由</p>
    <h2 class="c-Txt_Normal-ll u-Adjust_Mt-8">健やかな毎日のための究極のデバイスです。</h2>
    <ul class="<%= commonNamespace %>-Inc_List">
      <li>
        <dl>
          <dt>
            <span><img src="<%= sitepath %>assets/img/product/apple-watch/icon-spec-1.svg" alt="" width="35" height="37"></span>
            <span>健康と安全</span>
          </dt>
          <dd>
            より健康な習慣を身につけるために知識を深める。<br class="<%= commonNamespace %>-Uti_Show-sp">
            睡眠を記録する。<br class="<%= commonNamespace %>-Uti_Show-sp">
            緊急時にすばやく助けを呼ぶこともできます。
          </dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>
            <span><img src="<%= sitepath %>assets/img/product/apple-watch/icon-spec-2.svg" alt="" width="29" height="37"></span>
            <span>フィットネス</span>
          </dt>
          <dd>
            先進的な計測方法を使った新しい<br class="<%= commonNamespace %>-Uti_Show-sp">トレーニングが満載。<br class="<%= commonNamespace %>-Uti_Show-sp">毎日の体の動きや<br class="<%= commonNamespace %>-Uti_Show-sp">お気に入りの<br class="<%= commonNamespace %>-Uti_Show-sp">ワークアウトも<br class="<%= commonNamespace %>-Uti_Show-sp">記録できます。
          </dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>
            <span><img src="<%= sitepath %>assets/img/product/apple-watch/icon-spec-3.svg" alt="" width="40" height="37"></span>
            <span>つながる</span>
          </dt>
          <dd>
            電話で話す。<br class="<%= commonNamespace %>-Uti_Show-sp">メッセージを送り合う。音楽を楽しむ<%- diamond %>。Apple PayやSiriを<br class="<%= commonNamespace %>-Uti_Show-sp">使う。そのすべてを<br class="<%= commonNamespace %>-Uti_Show-sp">手首の上から。
          </dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>
            <span><img src="<%= sitepath %>assets/img/product/apple-watch/icon-spec-4.svg" alt="" width="33" height="35"></span>
            <span>パーソナライズ</span>
          </dt>
          <dd>
            新しいバンドを追加して、スタイルを変えましょう。お気に入りの文字盤を見つけるのも、カスタマイズするのも、共有するのも簡単です。
          </dd>
        </dl>
      </li>
    </ul>
  </div>

  <%_ if (commonNamespace === 'product-watch-series8-common') { _%>
    <div class="u-Rat_Appear-height" data-ratid="apple-watch-series8_scroll-04_comparison" data-ratevent="appear">&nbsp;</div>
  <%_ } _%>

  <div class="<%= commonNamespace %>-Inc_Comp u-Adjust_Mt-8">
    <p class="<%= commonNamespace %>-Inc_Comp-heading-sub c-Txt_Emp-01">比較する</p>
    <h2 class="c-Txt_Normal-ll u-Adjust_Mt-8">あなたにぴったりのApple Watchは？</h2>
    <ul>
      <li>
        <h3>
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-title-series-8.png" alt="Series 8" width="52">
        </h3>
        <div class="u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-series-8.png" alt="Series 8">
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-colors u-Adjust_Mt-24">
          <div class="c-Txt_Normal-s c-Txt_Emp-01">
            アルミニウム
          </div>
          <div class="u-Adjust_Mt-8">
            <img src="<%= sitepath %>assets/img/product/apple-watch/spec-series8-color-1.png" alt="" style="max-width: 101px;width: 100%;">
          </div>
          <div class="u-Adjust_Mt-24 c-Txt_Normal-s c-Txt_Emp-01">
            ステンレススチール
          </div>
          <div class="u-Adjust_Mt-8">
            <img src="<%= sitepath %>assets/img/product/apple-watch/spec-series8-color-2.png" alt="" width="63">
          </div>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item <%= commonNamespace %>-Uti_Mt-64-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-series8-1.png" alt="">
          <p class="u-Adjust_Mt-16">
            45mmまたは<br>41mmのケースサイズ
          </p>
          <p class="u-Adjust_Mt-16">
            エッジからエッジまで<br>広がるディスプレイ
          </p>
          <p class="u-Adjust_Mt-16">
            IP6X等級認証の防塵性能<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            —
          </p>
          <p class="u-Adjust_Mt-16">
            —
          </p>
        </div>
        <%_ if (commonNamespace === 'product-watch-series8-common') { _%>
          <div class="u-Rat_Appear-height" data-ratid="apple-watch-series8_scroll-05_product-detail-band" data-ratevent="appear">&nbsp;</div>
        <%_ } _%>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-series8-2.png" alt="">
          <p class="u-Adjust_Mt-16">
            常時表示Retinaディスプレイ
          </p>
          <p class="u-Adjust_Mt-16">
            最大1,000ニトの輝度
          </p>
          <p class="u-Adjust_Mt-16">
            Apple Watch SEより約20%<br>広いスクリーン領域
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-series8-3.png" alt="">
          <p class="u-Adjust_Mt-16">
            50メートルの<br>耐水性能<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            泳げる耐水性能
          </p>
          <p class="u-Adjust_Mt-16">
            —
          </p>
          <p class="u-Adjust_Mt-16">
            —
          </p>
          <p class="u-Adjust_Mt-16">
            —
          </p>
          <p class="u-Adjust_Mt-16">
            —
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-series8-4.png" alt="">
          <p class="u-Adjust_Mt-16">
            血中酸素ウェルネスアプリ<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            心電図アプリ<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            高心拍数と低心拍数の通知
          </p>
          <p class="u-Adjust_Mt-16">
            不規則な心拍リズムの通知<%- diamond %>
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-series8-5.png" alt="">
          <p class="u-Adjust_Mt-16">
            皮膚温センサー<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            過去の排卵を<br>推定できる周期記録<%- diamond %>
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-series8-6.png" alt="">
          <p class="u-Adjust_Mt-16">
            緊急SOS<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            海外における緊急通報<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            転倒検出
          </p>
          <p class="u-Adjust_Mt-16">
            衝突事故検出
          </p>
          <p class="u-Adjust_Mt-16">
            高重力加速度センサー
          </p>
          <p class="u-Adjust_Mt-16">
            ジャイロスコープ
          </p>
          <p class="u-Adjust_Mt-16">
            コンパスバックトレース
          </p>
          <p class="u-Adjust_Mt-16">
            —
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-series8-7.png" alt="">
          <p class="u-Adjust_Mt-16">
            複数の情報を表示できる<br>再設計されたコンパスアプリ
          </p>
          <p class="u-Adjust_Mt-16">
            コンパスウェイポイントと<br>バックトレース機能を採用
          </p>
          <p class="u-Adjust_Mt-16">
            GPS
          </p>
          <p class="u-Adjust_Mt-16">
            常時計測の高度計
          </p>
        </div>

        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-series8-8.png" alt="">
          <p class="u-Adjust_Mt-16">
            携帯電話通信機能<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            国際ローミング<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            ファミリー共有設定に対応<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            （GPS + Cellularモデル）<br>
            <span>
              iPhoneを持っていない家族<br>
              ともつながれます
            </span>
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-series8-9.png" alt="">
          <p class="u-Adjust_Mt-16">
            最大18時間<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            高速充電<%- diamond %>
          </p>
        </div>
      </li>
      <li>
        <h3>
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-title-se.png" alt="SE" width="17">
        </h3>
        <div class="u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-se.png" alt="SE">
        </div>
        <div class="u-Adjust_Mt-24 <%= commonNamespace %>-Inc_Comp-colors">
          <div class="c-Txt_Normal-s c-Txt_Emp-01">
            アルミニウム
          </div>
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-se-color-1.png" alt="" width="59">
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item <%= commonNamespace %>-Uti_Mt-64-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-se-1.png" alt="">
          <p class="u-Adjust_Mt-16">
            44mmまたは<br>40mmのケースサイズ
          </p>
          <p class="u-Adjust_Mt-16">
            —
          </p>
          <p class="u-Adjust_Mt-16">
            —
          </p>
          <p class="u-Adjust_Mt-16">
            —
          </p>
          <p class="u-Adjust_Mt-16">
            —
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-se-2.png" alt="">
          <p class="u-Adjust_Mt-16">
            Retinaディスプレイ
          </p>
          <p class="u-Adjust_Mt-16">
            最大1,000ニトの輝度
          </p>
          <p class="u-Adjust_Mt-16">
            —
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-se-3.png" alt="">
          <p class="u-Adjust_Mt-16">
            50メートルの<br>耐水性能<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            泳げる耐水性能
          </p>
          <p class="u-Adjust_Mt-16">
            —
          </p>
          <p class="u-Adjust_Mt-16">
            —
          </p>
          <p class="u-Adjust_Mt-16">
            —
          </p>
          <p class="u-Adjust_Mt-16">
            —
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-se-4.png" alt="">
          <p class="u-Adjust_Mt-16">
            —
          </p>
          <p class="u-Adjust_Mt-16">
            —
          </p>
          <p class="u-Adjust_Mt-16">
            高心拍数と低心拍数の通知
          </p>
          <p class="u-Adjust_Mt-16">
            不規則な心拍リズムの通知<%- diamond %>
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-se-5.png" alt="">
          <p class="u-Adjust_Mt-16">
            —
          </p>
          <p class="u-Adjust_Mt-16">
            周期記録<%- diamond %>
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-se-6.png" alt="">
          <p class="u-Adjust_Mt-16">
            緊急SOS<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            海外における緊急通報<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            転倒検出
          </p>
          <p class="u-Adjust_Mt-16">
            衝突事故検出
          </p>
          <p class="u-Adjust_Mt-16">
            高重力加速度センサー
          </p>
          <p class="u-Adjust_Mt-16">
            ジャイロスコープ
          </p>
          <p class="u-Adjust_Mt-16">
            コンパスバックトレース
          </p>
          <p class="u-Adjust_Mt-16">
            —
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-se-7.png" alt="">
          <p class="u-Adjust_Mt-16">
            複数の情報を表示できる<br>再設計されたコンパスアプリ
          </p>
          <p class="u-Adjust_Mt-16">
            コンパスウェイポイントと<br>バックトレース機能を採用
          </p>
          <p class="u-Adjust_Mt-16">
            GPS
          </p>
          <p class="u-Adjust_Mt-16">
            常時計測の高度計
          </p>
        </div>

        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-se-8.png" alt="">
          <p class="u-Adjust_Mt-16">
            携帯電話通信機能<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            国際ローミング<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            ファミリー共有設定に対応<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            （GPS + Cellularモデル）<br>
            <span>
              iPhoneを持っていない家族<br>
              ともつながれます
            </span>
          </p>
        </div>

        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-se-9.png" alt="">
          <p class="u-Adjust_Mt-16">
            最大18時間<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            —
          </p>
        </div>
      </li>
      <li>
        <h3>
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-title-ultra.png" alt="Ultra" width="34">
        </h3>
        <div class="u-Adjust_Mt-24">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-ultra.png" alt="Ultra">
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-colors u-Adjust_Mt-24">
          <div class="c-Txt_Normal-s c-Txt_Emp-01">
            チタニウム
          </div>
          <div class="u-Adjust_Mt-8">
            <img src="<%= sitepath %>assets/img/product/apple-watch/spec-ultra-color-1.png" alt="" width="13">
          </div>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item <%= commonNamespace %>-Uti_Mt-64-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-ultra-1.png" alt="">
          <p class="u-Adjust_Mt-16">
            49mmのケースサイズ
          </p>
          <p class="u-Adjust_Mt-16">
            フラットサファイア前面クリスタルと<br>ディスプレイのエッジ保護
          </p>
          <p class="u-Adjust_Mt-16">
            IP6X等級認証の防塵性能<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            MIL-STD 810H準拠をテスト済み<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            カスタマイズできる<br>アクションボタン
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-ultra-2.png" alt="">
          <p class="u-Adjust_Mt-16">
            常時表示Retinaディスプレイ
          </p>
          <p class="u-Adjust_Mt-16">
            最大2,000ニトの輝度
          </p>
          <p class="u-Adjust_Mt-16">
            Apple Watch SEより約27%<br>広いスクリーン領域
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-ultra-3.png" alt="">
          <p class="u-Adjust_Mt-16">
            100メートルの<br>耐水性能<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            泳げる耐水性能
          </p>
          <p class="u-Adjust_Mt-16">
            水深40メートルまでの<br>レクリエーションダイビングに対応
          </p>
          <p class="u-Adjust_Mt-16">
            EN13319準拠<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            水温センサー搭載の水深計
          </p>
          <p class="u-Adjust_Mt-16">
            Oceanic+アプリ<%- diamond %>を使えば<br>ダイブコンピュータに
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-ultra-4.png" alt="">
          <p class="u-Adjust_Mt-16">
            血中酸素ウェルネスアプリ<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            心電図アプリ<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            高心拍数と低心拍数の通知
          </p>
          <p class="u-Adjust_Mt-16">
            不規則な心拍リズムの通知<%- diamond %>
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-ultra-5.png" alt="">
          <p class="u-Adjust_Mt-16">
            皮膚温センサー<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            過去の排卵を<br>推定できる周期記録<%- diamond %>
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-ultra-6.png" alt="">
          <p class="u-Adjust_Mt-16">
            緊急SOS<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            海外における緊急通報<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            転倒検出
          </p>
          <p class="u-Adjust_Mt-16">
            衝突事故検出
          </p>
          <p class="u-Adjust_Mt-16">
            高重力加速度センサー
          </p>
          <p class="u-Adjust_Mt-16">
            ジャイロスコープ
          </p>
          <p class="u-Adjust_Mt-16">
            コンパスバックトレース
          </p>
          <p class="u-Adjust_Mt-16">
            周囲に知らせる<br>
            86デシベルのサイレン<br>
            <span>
              最大180メートル先まで<br>聞こえる音量
            </span>
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-ultra-7.png" alt="">
          <p class="u-Adjust_Mt-16">
            複数の情報を表示できる<br>再設計されたコンパスアプリ
          </p>
          <p class="u-Adjust_Mt-16">
            コンパスウェイポイントと<br>バックトレース機能を採用
          </p>
          <p class="u-Adjust_Mt-16">
            高精度2周波GPS
          </p>
          <p class="u-Adjust_Mt-16">
            常時計測の高度計
          </p>
        </div>

        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-ultra-8.png" alt="">
          <p class="u-Adjust_Mt-16">
            携帯電話通信機能<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            国際ローミング<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            ファミリー共有設定に対応<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            （GPS + Cellularモデル）<br>
            <span>
              iPhoneを持っていない家族<br>
              ともつながれます
            </span>
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-ultra-9.png" alt="">
          <p class="u-Adjust_Mt-16">
            最大36時間<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            高速充電<%- diamond %>
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="<%= commonNamespace %>-Inc_Applecare u-Adjust_Mt-8">
    <div class="<%= commonNamespace %>-Inc_Applecare-item">
      <p class="<%= commonNamespace %>-Inc_Comp-heading-sub c-Txt_Emp-01">AppleCare+</p>
      <h2 class="c-Txt_Normal-ll <%= commonNamespace %>-Uti_Mt-16-8">専門的なサポートと、<br>より充実した保証を。</h2>
      <ul class="<%= commonNamespace %>-Uti_Mt-16-24">
        <li><span class="c-Icon_Check"></span>Apple認定技術者によるサービス</li>
        <li><span class="c-Icon_Check"></span>Appleの専任スペシャリストへの優先アクセス</li>
        <li><span class="c-Icon_Check"></span>過失や事故による損傷に対する修理などのサービス</li>
      </ul>
      <div class="<%= commonNamespace %>-Uti_Mt-16-24">
        <a href="<%= sitepath %>service/applewatch-care/" class="c-Link_Txt-inline u-Adjust_Mt-16">AppleCare+ for Apple Watchに<br class="<%= commonNamespace %>-Uti_Show-sp">さらに詳しく<span class="c-Icon_Chevron-right"></span></a>
      </div>
    </div>
    <img src="<%= sitepath %>assets/img/product/apple-watch/spec-watch-applecare.png" alt="">
  </div>
</section>
