<section class="<%= commonNamespace %>-Inc">

  <div class="<%= commonNamespace %>-Inc_Comp u-Adjust_Mt-sp-16 u-Adjust_Mt-pc-56 u-Adjust_Align-center">
    <p class="<%= commonNamespace %>-Inc_Comp-heading-sub c-Txt_Emp-01 u-Adjust_Align-center">比較する</p>
    <h2 class="c-Txt_Normal-ll u-Adjust_Mt-8">あなたにぴったりの<br class="u-Show_Oox">Apple Watchは？</h2>
    <ul class="<%= commonNamespace %>-Uti_Mt-24-64">
      <li>
        <h3>SE</h3>
        <div class="<%= commonNamespace %>-Inc_Comp-product u-Adjust_Mt-24">
          <picture>
            <source media="(max-width: <%= themeGlb.max.s %>)" srcset="<%= sitepath %>assets/img/product/apple-watch/spec-se2nd.png" width="80">
            <img src="<%= sitepath %>assets/img/product/apple-watch/spec-se2nd.png" alt="SE" width="150">
          </picture>
        </div>
        <div class="u-Adjust_Mt-24 <%= commonNamespace %>-Inc_Comp-colors">
          <div class="c-Txt_Normal-s c-Txt_Emp-01">
            アルミニウム
          </div>
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-se2nd-color-1.png" alt="" width="48">
          <div class="u-Adjust_Mt-24 c-Txt_Normal-s c-Txt_Emp-01">
            —
          </div>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item <%= commonNamespace %>-Uti_Mt-64-48">
          <div class="<%= commonNamespace %>-Inc_Comp-item-case">
            <img src="<%= sitepath %>assets/img/product/apple-watch/spec-se2nd-1.png" alt="" width="40">
          </div>
          <p class="<%= commonNamespace %>-Inc_Comp-text-1 u-Adjust_Mt-16">
            44mmまたは<br>40mmの<br class="u-Show_Oox">ケースサイズ
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-32">
          <img src="<%= sitepath %>assets/img/product/apple-watch/icon-carbon-neutral.png" alt="" width="41">
          <p class="u-Adjust_Mt-16">
            カーボン<br class="u-Show_Oox">ニュートラルな<br>組み合わせが<br class="u-Show_Oox">選べる
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-32">
          <div class="<%= commonNamespace %>-Inc_Comp-display">
            <img src="<%= sitepath %>assets/img/product/apple-watch/spec-se2nd-2.png" alt="" width="33">
          </div>
          <div class="<%= commonNamespace %>-Inc_Comp-display-text u-Adjust_Mt-16">
            <p class="<%= commonNamespace %>-Inc_Comp-text-2">
              Retina<br class="u-Show_Oox">ディスプレイ
            </p>
            <p class="<%= commonNamespace %>-Uti_Text-gray">
              最大1,000ニト
            </p>
          </div>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-32">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-chip-s8.png" alt="" width="37">
          <div class="<%= commonNamespace %>-Inc_Comp-chip u-Adjust_Mt-16">
            <span>S8 SiP</span>
            <p class="<%= commonNamespace %>-Inc_Comp-text-3">—</p>
            <p class="<%= commonNamespace %>-Inc_Comp-text-2">Siri</p>
          </div>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-wellness.png" alt="" width="40">
          <p class="<%= commonNamespace %>-Inc_Comp-text-3 u-Adjust_Mt-16">
            —
          </p>
          <p class="u-Adjust_Mt-16">
            —
          </p>
          <p class="u-Adjust_Mt-16">
            高心拍数と<br class="u-Show_Oox">低心拍数の通知
          </p>
          <p class="u-Adjust_Mt-16">
            不規則な心拍<br class="u-Show_Oox">リズムの通知<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            心肺機能レベルの<br class="u-Show_Oox">低下の通知
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-sensor.png" alt="" width="40">
          <p class="u-Adjust_Mt-16">
            —
          </p>
          <p class="<%= commonNamespace %>-Inc_Comp-text-4 u-Adjust_Mt-16">
            周期記録<%- diamond %>
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-sos.png" alt="" width="40">
          <p class="u-Adjust_Mt-16">
            緊急SOS<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            海外における<br class="u-Show_Oox">緊急通報<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            転倒検出と<br class="u-Show_Oox">衝突事故検出
          </p>
          <p class="u-Adjust_Mt-16">
            —
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-water-resistant.png" alt="" width="38">
          <p class="u-Adjust_Mt-16">
            50メートルの<br>耐水性能<%- diamond %>
          </p>
          <p class="<%= commonNamespace %>-Uti_Text-gray u-Adjust_Mt-16">
            泳げる耐水性能
          </p>
          <p class="<%= commonNamespace %>-Inc_Comp-text-3 <%= commonNamespace %>-Uti_Text-gray u-Adjust_Mt-16">
            —
          </p>
          <p class="<%= commonNamespace %>-Inc_Comp-text-5 <%= commonNamespace %>-Uti_Text-gray u-Adjust_Mt-16">
            —
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-gps.png" alt="" width="42">
          <p class="<%= commonNamespace %>-Inc_Comp-text-3 u-Adjust_Mt-16">
            GPS
          </p>
          <p class="<%= commonNamespace %>-Inc_Comp-text-6 u-Adjust_Mt-16">
            GPS + <br class="u-Show_Oox">
            Cellularモデル<br class="u-Show_Oox">
            の<br class="u-Show_Xxo">携帯電話<br class="u-Show_Oox">
            通信機能<%- diamond %>
          </p>
          <p class="<%= commonNamespace %>-Inc_Comp-text-6 u-Adjust_Mt-16">
            ファミリー共有<br class="u-Show_Oox">設定に対応<%- diamond %><br>
            （GPS + <br class="u-Show_Oox">Cellularモデル）
          </p>
          <p class="u-Adjust_Mt-16">
            <span>
              iPhoneを<br class="u-Show_Oox">持っていない<br>家族とも<br class="u-Show_Oox">つながれる
            </span>
          </p>
        </div>

        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-battery.png" alt=""  width="46">
          <p class="u-Adjust_Mt-16">
            最大18時間<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            低電力モード
          </p>
          <p class="u-Adjust_Mt-16">
            —
          </p>
        </div>
      </li>
      <li>
        <h3>Series 9</h3>
        <div class="<%= commonNamespace %>-Inc_Comp-product u-Adjust_Mt-24">
          <picture>
            <source media="(max-width: <%= themeGlb.max.s %>)" srcset="<%= sitepath %>assets/img/product/apple-watch/spec-series-9.png" width="83">
            <img src="<%= sitepath %>assets/img/product/apple-watch/spec-series-9.png" alt="Series9" width="160">
          </picture>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-colors u-Adjust_Mt-24">
          <div class="c-Txt_Normal-s c-Txt_Emp-01">
            アルミニウム
          </div>
          <div class="u-Adjust_Mt-8">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/apple-watch/spec-series9-color-1-sp.png" width="66">
              <img src="<%= sitepath %>assets/img/product/apple-watch/spec-series9-color-1-pc.png" alt="" width="103">
            </picture>
          </div>
          <div class="u-Adjust_Mt-24 c-Txt_Normal-s c-Txt_Emp-01">
            ステンレススチール
          </div>
          <div class="u-Adjust_Mt-8">
            <img src="<%= sitepath %>assets/img/product/apple-watch/spec-series9-color-2.png" alt="" width="48">
          </div>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item <%= commonNamespace %>-Uti_Mt-64-48">
          <div class="<%= commonNamespace %>-Inc_Comp-item-case">
            <img src="<%= sitepath %>assets/img/product/apple-watch/spec-series9-1.png" alt="" width="41">
          </div>
          <p class="<%= commonNamespace %>-Inc_Comp-text-1 u-Adjust_Mt-16">
            45mmまたは<br>41mmの<br class="u-Show_Oox">ケースサイズ
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-32">
          <img src="<%= sitepath %>assets/img/product/apple-watch/icon-carbon-neutral.png" alt="" width="41">
          <p class="u-Adjust_Mt-16">
            カーボン<br class="u-Show_Oox">ニュートラルな<br>組み合わせが<br class="u-Show_Oox">選べる
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-32">
          <div class="<%= commonNamespace %>-Inc_Comp-display">
            <img src="<%= sitepath %>assets/img/product/apple-watch/spec-series9-2.png" alt="" width="33">
          </div>
          <div class="<%= commonNamespace %>-Inc_Comp-display-text u-Adjust_Mt-16">
            <p class="<%= commonNamespace %>-Inc_Comp-text-2">
              常時表示<br class="u-Show_Oox">Retina<br class="u-Show_Oox">ディスプレイ
            </p>
            <p class="<%= commonNamespace %>-Uti_Text-gray">
              最大2,000ニト
            </p>
          </div>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-32">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-chip-s9.png" alt="" width="37">
          <div class="<%= commonNamespace %>-Inc_Comp-chip u-Adjust_Mt-16">
            <span>S9 SiP</span>
            <p class="<%= commonNamespace %>-Inc_Comp-text-3">ダブルタップの<br class="u-Show_Oox">ジェスチャー<%- diamond %></p>
            <p class="<%= commonNamespace %>-Inc_Comp-text-2">一段と速い<br class="u-Show_Oox">デバイス上の<br class="u-Show_Oox">Siri<%- diamond %></p>
          </div>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-wellness.png" alt="" width="40">
          <p class="<%= commonNamespace %>-Inc_Comp-text-3 u-Adjust_Mt-16">
            血中酸素<br class="u-Show_Oox">ウェルネスアプリ<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            心電図アプリ<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            高心拍数と<br class="u-Show_Oox">低心拍数の通知
          </p>
          <p class="u-Adjust_Mt-16">
            不規則な心拍<br class="u-Show_Oox">リズムの通知<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            心肺機能レベルの<br class="u-Show_Oox">低下の通知
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-sensor.png" alt="" width="40">
          <p class="u-Adjust_Mt-16">
            皮膚温センサー<%- diamond %>
          </p>
          <p class="<%= commonNamespace %>-Inc_Comp-text-4 u-Adjust_Mt-16">
            過去の排卵を<br>推定できる<br class="u-Show_Oox">周期記録<%- diamond %>
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-sos.png" alt="" width="40">
          <p class="u-Adjust_Mt-16">
            緊急SOS<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            海外における<br class="u-Show_Oox">緊急通報<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            転倒検出と<br class="u-Show_Oox">衝突事故検出
          </p>
          <p class="u-Adjust_Mt-16">
            —
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-water-resistant.png" alt="" width="38">
          <p class="u-Adjust_Mt-16">
            50メートルの<br>耐水性能<%- diamond %>
          </p>
          <p class="<%= commonNamespace %>-Uti_Text-gray u-Adjust_Mt-16">
            泳げる耐水性能
          </p>
          <p class="<%= commonNamespace %>-Inc_Comp-text-3 <%= commonNamespace %>-Uti_Text-gray u-Adjust_Mt-16">
            —
          </p>
          <p class="<%= commonNamespace %>-Inc_Comp-text-5 <%= commonNamespace %>-Uti_Text-gray u-Adjust_Mt-16">
            —
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-gps.png" alt="" width="42">
          <p class="<%= commonNamespace %>-Inc_Comp-text-3 u-Adjust_Mt-16">
            GPS
          </p>
          <p class="<%= commonNamespace %>-Inc_Comp-text-6 u-Adjust_Mt-16">
            GPS + <br class="u-Show_Oox">
            Cellularモデル<br class="u-Show_Oox">
            の<br class="u-Show_Xxo">携帯電話<br class="u-Show_Oox">
            通信機能<%- diamond %>
          </p>
          <p class="<%= commonNamespace %>-Inc_Comp-text-6 u-Adjust_Mt-16">
            ファミリー共有<br class="u-Show_Oox">設定に対応<%- diamond %><br>
            （GPS + <br class="u-Show_Oox">Cellularモデル）
          </p>
          <p class="u-Adjust_Mt-16">
            <span>
              iPhoneを<br class="u-Show_Oox">持っていない<br>家族とも<br class="u-Show_Oox">つながれる
            </span>
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-battery.png" alt=""  width="46">
          <p class="u-Adjust_Mt-16">
            最大18時間<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            低電力モードで<br>
            最大36時間<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            高速充電<%- diamond %>
          </p>
        </div>
      </li>
      <li>
        <h3>Ultra2</h3>
        <div class="<%= commonNamespace %>-Inc_Comp-product u-Adjust_Mt-24">
          <picture>
            <source media="(max-width: <%= themeGlb.max.s %>)" srcset="<%= sitepath %>assets/img/product/apple-watch/spec-ultra2.png" width="83">
            <img src="<%= sitepath %>assets/img/product/apple-watch/spec-ultra2.png" alt="Ultra2" width="171">
          </picture>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-colors u-Adjust_Mt-24">
          <div class="c-Txt_Normal-s c-Txt_Emp-01">
            チタニウム
          </div>
          <div class="u-Adjust_Mt-8">
            <img src="<%= sitepath %>assets/img/product/apple-watch/spec-ultra2-color-1.png" alt="" width="12">
          </div>
          <div class="u-Adjust_Mt-24 c-Txt_Normal-s c-Txt_Emp-01">
            —
          </div>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item <%= commonNamespace %>-Uti_Mt-64-48">
          <div class="<%= commonNamespace %>-Inc_Comp-item-case">
            <img src="<%= sitepath %>assets/img/product/apple-watch/spec-ultra2-1.png" alt="" width="38">
          </div>
          <p class="<%= commonNamespace %>-Inc_Comp-text-1 u-Adjust_Mt-16">
            49mmの<br class="u-Show_Oox">ケースサイズ
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-32">
          <img src="<%= sitepath %>assets/img/product/apple-watch/icon-carbon-neutral.png" alt="" width="41">
          <p class="u-Adjust_Mt-16">
            カーボン<br class="u-Show_Oox">ニュートラルな<br>組み合わせが<br class="u-Show_Oox">選べる
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-32">
          <div class="<%= commonNamespace %>-Inc_Comp-display">
            <img src="<%= sitepath %>assets/img/product/apple-watch/spec-ultra2-2.png" alt="" width="38">
          </div>
          <div class="<%= commonNamespace %>-Inc_Comp-display-text u-Adjust_Mt-16">
            <p class="<%= commonNamespace %>-Inc_Comp-text-2">
              常時表示<br class="u-Show_Oox">Retina<br class="u-Show_Oox">ディスプレイ
            </p>
            <p class="<%= commonNamespace %>-Uti_Text-gray">
              最大3,000ニト
            </p>
          </div>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-32">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-chip-s9.png" alt="" width="37">
          <div class="<%= commonNamespace %>-Inc_Comp-chip u-Adjust_Mt-16">
            <span>S9 SiP</span>
            <p class="<%= commonNamespace %>-Inc_Comp-text-3">ダブルタップの<br class="u-Show_Oox">ジェスチャー<%- diamond %></p>
            <p class="<%= commonNamespace %>-Inc_Comp-text-2">一段と速い<br class="u-Show_Oox">デバイス上の<br class="u-Show_Oox">Siri<%- diamond %></p>
          </div>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-wellness.png" alt="" width="40">
          <p class="<%= commonNamespace %>-Inc_Comp-text-3 u-Adjust_Mt-16">
            血中酸素<br class="u-Show_Oox">ウェルネスアプリ<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            心電図アプリ<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            高心拍数と<br class="u-Show_Oox">低心拍数の通知
          </p>
          <p class="u-Adjust_Mt-16">
            不規則な心拍<br class="u-Show_Oox">リズムの通知<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            心肺機能レベルの<br class="u-Show_Oox">低下の通知
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-sensor.png" alt="" width="40">
          <p class="u-Adjust_Mt-16">
            皮膚温センサー<%- diamond %>
          </p>
          <p class="<%= commonNamespace %>-Inc_Comp-text-4 u-Adjust_Mt-16">
            過去の排卵を<br>推定できる<br class="u-Show_Oox">周期記録<%- diamond %>
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-sos.png" alt="" width="40">
          <p class="u-Adjust_Mt-16">
            緊急SOS<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            海外における<br class="u-Show_Oox">緊急通報<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            転倒検出と<br class="u-Show_Oox">衝突事故検出
          </p>
          <p class="u-Adjust_Mt-16">
            サイレン
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-water-resistant.png" alt="" width="38">
          <p class="u-Adjust_Mt-16">
            100メートルの<br>耐水性能<%- diamond %>
          </p>
          <p class="<%= commonNamespace %>-Uti_Text-gray u-Adjust_Mt-16">
            泳げる耐水性能
          </p>
          <p class="<%= commonNamespace %>-Inc_Comp-text-3 <%= commonNamespace %>-Uti_Text-gray u-Adjust_Mt-16">
            高速ウォーター<br class="u-Show_Oox">スポーツ
          </p>
          <p class="<%= commonNamespace %>-Inc_Comp-text-5 <%= commonNamespace %>-Uti_Text-gray u-Adjust_Mt-16">
            水深40メートル<br class="u-Show_Oox">までの<br>レクリエーション<br class="u-Show_Oox">ダイビング
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-gps.png" alt="" width="42">
          <p class="<%= commonNamespace %>-Inc_Comp-text-3 u-Adjust_Mt-16">
            高精度2周波<br class="u-Show_Oox">GPS
          </p>
          <p class="<%= commonNamespace %>-Inc_Comp-text-6 u-Adjust_Mt-16">
            携帯電話通信機能<%- diamond %>
          </p>
          <p class="<%= commonNamespace %>-Inc_Comp-text-6 u-Adjust_Mt-16">
            ファミリー共有<br class="u-Show_Oox">設定に対応<%- diamond %><br>
            （GPS + <br class="u-Show_Oox">Cellularモデル）
          </p>
          <p class="u-Adjust_Mt-16">
            <span>
              iPhoneを<br class="u-Show_Oox">持っていない<br>家族とも<br class="u-Show_Oox">つながれる
            </span>
          </p>
        </div>
        <div class="<%= commonNamespace %>-Inc_Comp-item u-Adjust_Mt-48">
          <img src="<%= sitepath %>assets/img/product/apple-watch/spec-battery.png" alt=""  width="46">
          <p class="u-Adjust_Mt-16">
            最大36時間<%- diamond %>
          </p>
          <p class="u-Adjust_Mt-16">
            低電力モードで<br>
            最大72時間
          </p>
          <p class="u-Adjust_Mt-16">
            高速充電<%- diamond %>
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="<%= commonNamespace %>-Inc_Option u-Adjust_Mt-16">
    <div class="<%= commonNamespace %>-Inc_Option-item">
      <p class="<%= commonNamespace %>-Inc_Comp-heading-sub c-Txt_Emp-01">バンド</p>
      <h2 class="c-Txt_Normal-ll <%= commonNamespace %>-Uti_Mt-16-8">バンドを替えて、<br>スタイルを変えよう。</h2>
      <ul class="<%= commonNamespace %>-Uti_Mt-16-24">
        <li>自由に着替えられるバンド。あらゆるスタイル、</li>
        <li>素材、カラーを用意しました。その日にぴったりの</li>
        <li>コーディネートが簡単に、見つかります。</li>
      </ul>
    </div>
    <img src="<%= sitepath %>assets/img/product/apple-watch/spec-band-pc.png" class="<%= commonNamespace %>-Inc_Option-band" alt="">
  </div>
  <div class="<%= commonNamespace %>-Inc_Option u-Adjust_Mt-16">
    <div class="<%= commonNamespace %>-Inc_Option-item">
      <p class="<%= commonNamespace %>-Inc_Comp-heading-sub c-Txt_Emp-01">AppleCare+</p>
      <h2 class="c-Txt_Normal-ll <%= commonNamespace %>-Uti_Mt-16-8">専門的なサポートと、<br>より充実した保証を。</h2>
      <ul class="<%= commonNamespace %>-Uti_Mt-16-24">
        <li><span class="c-Icon_Check"></span>Apple認定技術者によるサービス</li>
        <li><span class="c-Icon_Check"></span>Appleの専任スペシャリストへの優先アクセス</li>
        <li><span class="c-Icon_Check"></span>過失や事故による損傷に対する修理などのサービス</li>
      </ul>
      <div class="<%= commonNamespace %>-Uti_Mt-16-24">
        <a href="<%= sitepath %>service/applewatch-care/" class="c-Link_Txt-inline u-Adjust_Mt-16">AppleCare+ for Apple Watchに<br class="<%= commonNamespace %>-Uti_Show-sp">さらに詳しく<span class="c-Icon_Chevron-right"></span></a>
      </div>
    </div>
    <img src="<%= sitepath %>assets/img/product/apple-watch/spec-applecare.png" class="<%= commonNamespace %>-Inc_Option-applecare" alt="">
  </div>
</section>
