<% const pagetitle = "エントリー＆本ページからの楽天モバイルお申し込みで1,000円OFFクーポンプレゼント" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "group-coupon" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: 'キャンペーンへのエントリーと楽天モバイル「Rakuten UN-LIMIT VI」のお申し込みで楽天グループの対象サービスで使える1,000円OFFクーポンをプレゼント！お得に楽天のサービスを利用できるキャンペーンです',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/group-coupon/group-coupon.css?20240424">
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout-Label">
      <ul class="c-Label_List <%= namespace %>-Layout-Label_List">
        <li class="c-Label_Normal">エントリー必要</li>
        <li class="c-Label_Normal">プランのみ申込可</li>
        <li class="c-Label_Normal">Rakuten Link利用必要</li>
      </ul>
    </div>

    <div class="<%= namespace %>-Hero_Return">
      <div class="<%= namespace %>-Hero_Container">
        <div class="<%= namespace %>-Hero_Main">
          <h1>
            <img src="<%= sitepath %>assets/img/campaign/group-coupon/img-heading-pc.png?220502" alt="エントリー＆本ページからの楽天モバイルお申し込みで 楽天の対象サービスで使えるクーポン1000円OFFクーポンプレゼント" class="<%= namespace %>-Utility_Img-pc">
            <img src="<%= sitepath %>assets/img/campaign/group-coupon/img-heading-sp.png?220502" alt="エントリー＆本ページからの楽天モバイルお申し込みで 楽天の対象サービスで使えるクーポン1000円OFFクーポンプレゼント" class="<%= namespace %>-Utility_Img-sp">
          </h1>
        </div>
      </div>
    </div>

    <div class="<%= namespace %>-Layout_Body u-Adjust_Pb-0">
      <div class="l-System">

      <form action="https://form.rakuten.co.jp/ans/apply/37504" name="enenForm" method="POST" onsubmit="return checkForm()">
        <div class="l-System_Container">
          <p class="c-Txt_Cap">
            ※Rakuten Linkアプリのご利用が必要です<br>
          </p>

          <p class="c-Txt_Emp-02 c-Txt_Normal-l u-Adjust_Mt-24 u-Adjust_Align-center">本キャンペーンは終了しました。</p>

          <p class="u-Adjust_Mt-16 c-Heading_Lv4 u-Adjust_Align-center">
            開催期間：2022年5月2日(月) 9:00 ～ 2022年6月30日(木) 8:59<br>
            プラン利用開始およびRakuten Link利用期限：プランお申し込みの翌月末日23:59
          </p>
          <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <div class="<%= namespace %>-Block_Entryhead">
              <p class="c-Heading_Lv3">クーポンを選んで、キャンペーンにエントリー！</p>
            </div>
            <div class="<%= namespace %>-Block_Entry">
              <p class="u-Adjust_Mt-16">
                【エントリー期間】2022年5月2日(月) 9:00 ～ 2022年6月30日(木)8:59<br>
                【クーポンプレゼント予定日】<br>
                5月に「Rakuten UN-LIMIT VI」にお申し込みをいただき、すべての条件を達成した場合には8月末日頃<br>
                6月に「Rakuten UN-LIMIT VI」にお申し込みをいただき、すべての条件を達成した場合には9月末日頃
              </p>
              <p class="u-Adjust_Mt-8">
                プレゼント後、楽天会員情報にご登録のメールアドレスへご案内メールをお送りします
              </p>
              <p class="u-Adjust_Mt-8">
                ※選択したクーポンは変更不可
              </p>
              <p class="u-Adjust_Mt-8">
                ※最低利用金額等クーポンの利用条件は<a href="#campaign-rule">こちら</a>
              </p>
            </div>
          </div>
          <ul class="<%= namespace %>-Block_Entry-nav c-Link_List-horizontal-simple u-Adjust_Mt-24">
            <li><a href="#flow" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンの流れ</a></li>
            <li><a href="#faq" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>よくあるご質問</a></li>
            <li><a href="#campaign-rule" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルール</a></li>
          </ul>
        </div>
        <div class="c-Theme-Light u-Adjust_Mt-32 u-Adjust_Pb-32">
          <div id="flow" class="l-System_Container">
            <h3 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-24">キャンペーンの流れ</h3>
            <div class="c-Accordion <%= namespace %>-Accordion_Radius u-Adjust_Mt-16">
              <button type="button" id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Radius-Num" aria-expanded="false" aria-controls="accordion-content-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="<%= namespace %>-Accordion_Radius-Num-before">STEP1</span><span>クーポンを選んで、キャンペーンにエントリー</span></button>
              <div id="accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-5" aria-hidden="true" style="display:none;">
                <div class="u-Adjust_Align-center">
                  <p class="u-Adjust_Mt-16">
                    【エントリー期間】2022年5月2日(月) 9:00 ～ 2022年6月30日(木)8:59<br>
                    【クーポンプレゼント予定日】<br>
                    5月に「Rakuten UN-LIMIT VI」にお申し込みをいただき、すべての条件を達成した場合には8月末日頃<br>
                    6月に「Rakuten UN-LIMIT VI」にお申し込みをいただき、すべての条件を達成した場合には9月末日頃
                  </p>
                  <p class="u-Adjust_Mt-8">
                    プレゼント後、楽天会員情報にご登録のメールアドレスへご案内メールをお送りします
                  </p>
                  <p class="u-Adjust_Mt-8">
                    ※選択したクーポンは変更不可
                  </p>
                  <p class="u-Adjust_Mt-8">
                    ※最低利用金額等クーポンの利用条件は<a href="#campaign-rule">こちら</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="c-Accordion <%= namespace %>-Accordion_Radius u-Adjust_Mt-16">
              <button type="button" id="accordion-6" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Radius-Num" aria-expanded="false" aria-controls="accordion-content-6"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="<%= namespace %>-Accordion_Radius-Num-before">STEP2</span><span>楽天モバイルのお申し込み</span></button>
              <div id="accordion-content-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-6" aria-hidden="true" style="display:none;">
                <div class="">
                  <div class="l-Media_Grid">
                    <div class="l-Media_Image c-Flow_Image">
                      <img src="<%= sitepath %>assets/img/campaign/group-coupon/icon-flow-02.png" width="216" alt="">
                    </div>
                    <div>
                      <h4 class="c-Heading_Lv4">期間：2022年5月2日(月) 9:00 ～ 2022年6月30日(木) 8:59</h4>
                      <p class="u-Adjust_Mt-8 c-Txt_Cap c-Txt_Emp-02">※未成年の方のお申し込み方法は別途<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_group_coupon_flow_for-minors">こちら</a>のご案内ページをご確認ください。</p>
                    </div>
                  </div>
                </div>
                <div class="c-Theme-Borderbox">
                  <div class="l-Media_Grid">
                    <div class="l-Media_Image c-Flow_Image">
                      <img src="<%= sitepath %>assets/img/campaign/group-coupon/icon-flow-02-01.png" width="192" alt="">
                    </div>
                    <div>
                      <p class="c-Txt_Emp-01">お申し込みに必要なもの</p>
                      <ul class="c-List_Text-disc u-Adjust_Mt-16">
                        <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/verify/?l-id=campaign_group_coupon_guide_verify" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                        <li class="u-Adjust_Mt-8">楽天会員ID、パスワード</li>
                        <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/?l-id=campaign_group_coupon_guide_payment" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a></li>
                        <li class="u-Adjust_Mt-8">ご契約者名義の<a href="<%= sitepath %>guide/mnp/?l-id=campaign_group_coupon_guide_mnp">MNP予約番号</a>（他社から乗り換えの場合）</li>
                      </ul>
                      <p class="u-Adjust_Mt-8 c-Txt_Cap">※ ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は<a href="<%= sitepath %>faq/detail/00001238/">こちら</a>をご確認ください</p>
                    </div>
                  </div>
                </div>
                <div class="l-Media_Grid-half u-Adjust_Mt-24">
                  <div class="c-Theme-Light">
                    <div class="u-Adjust_Align-center">
                      <p class="<%= namespace %>-Utility_Icon-title"><span class="c-Icon_New-user-f u-Adjust_Pr-8"></span><span class="c-Txt_Emp-01">新規電話番号／他社から乗り換え（MNP）</span></p>
                      <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/application/?lid-r=campaign_group-coupon_guide_application" class="c-Btn_Primary-large">Rakuten UN-LIMIT VIに申し込む</a></p>
                      <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>fee/un-limit/?l-id=campaign_group_coupon_fee_un-limit" class="c-Link_Txt-inline">Rakuten UN-LIMIT VIの詳細<span class="c-Icon_Chevron-right"></span></a></p>
                      <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/flow/application/?l-id=campaign_group_coupon_flow_application" class="c-Link_Txt-inline">Rakuten UN-LIMIT VI お申し込み方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                    </div>
                  </div>
                  <div class="c-Theme-Light">
                    <div class="u-Adjust_Align-center">
                      <p class="<%= namespace %>-Utility_Icon-title"><span class="c-Icon_Paper-plane-l u-Adjust_Pr-8"></span><span class="c-Txt_Emp-01">楽天モバイル（ドコモ・au回線）から<br>プラン変更（移行）</span></p>
                      <p class="u-Adjust_Mt-24">
                        <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten" class="c-Btn_Secondly-large top-Description_Btn-text">
                          <span>メンバーズステーションからプラン変更（移行）する</span>
                        </a>
                      </p>
                      <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/migration/?l-id=campaign_group_coupon_guide_migration" class="c-Link_Txt-inline">スーパーホーダイ・組み合わせプラン（※）との比較<span class="c-Icon_Chevron-right"></span></a></p>
                      <p class="u-Adjust_Mt-8 c-Txt_Cap">※2020年4月8日に受付終了のドコモ回線・au回線使用プラン</p>
                      <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/mnp/migration/?l-id=campaign_group_coupon_guide_migration" class="c-Link_Txt-inline">楽天モバイル（楽天回線）への移行方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                      <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>flow/mvno-user-registration/?l-id=campaign_group_coupon_flow_mvno_user-registration" class="c-Link_Txt-inline">利用者登録でご利用中の方の移行方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                    </div>
                  </div>
                </div>


              </div>
            </div>
            <div class="c-Accordion <%= namespace %>-Accordion_Radius u-Adjust_Mt-16">
              <button type="button" id="accordion-7" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Radius-Num" aria-expanded="false" aria-controls="accordion-content-7"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="<%= namespace %>-Accordion_Radius-Num-before">STEP3</span><span>「Rakuten UN-LIMIT VI」 プラン利用開始</span></button>
              <div id="accordion-content-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-7" aria-hidden="true" style="display:none;">
                <div class="l-Media_Grid">
                  <div class="l-Media_Image c-Flow_Image">
                    <img src="<%= sitepath %>assets/img/campaign/group-coupon/icon-flow-03.png" width="216" alt="">
                  </div>
                  <div>
                    <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">期限：プランお申し込みの翌月末日23:59まで</h4>
                    <p class="u-Adjust_Mt-8 c-Txt_Cap">※<a href="#rule-plan" class="js-scroll">プラン利用開始日の定義はこちら</a></p>
                    <p>
                      <a href="<%= sitepath %>faq/detail/00001648/?l-id=campaign_group_coupon_faq_detail_00001648" class="c-Btn_Regular top-Description_Btn-text u-Adjust_Mt-16">スタートガイド（利用開始手順書）はこちら</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="c-Accordion <%= namespace %>-Accordion_Radius u-Adjust_Mt-16">
              <button type="button" id="accordion-8" class="c-Accordion_Trigger js-Accordion_Trigger <%= namespace %>-Accordion_Radius-Num" aria-expanded="false" aria-controls="accordion-content-8"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="<%= namespace %>-Accordion_Radius-Num-before">STEP4</span><span>Rakuten Linkアプリから発信で10秒以上通話</span></button>
              <div id="accordion-content-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-8" aria-hidden="true" style="display:none;">
                <div class="l-Media_Grid">
                  <div class="l-Media_Image c-Flow_Image">
                    <img src="<%= sitepath %>assets/img/campaign/group-coupon/icon-flow-04.png" width="215" alt="">
                  </div>
                  <div>
                    <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">Rakuten Linkアプリで10秒以上通話する</h4>
                    <p class="">期限：プランお申し込みの翌月末日23:59まで</p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8">※電話の発信時、（0180）（0570）などから始まる他社接続サービス、一部特番（188）への通話については、特典対象外。</p>
                    <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>service/rakuten-link/?l-id=campaign_group_coupon_service_rakuten-link" class="c-Link_Txt-inline">Rakuten Linkアプリの詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <p class="u-Adjust_Mt-16 u-Adjust_Mb-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/campaign/group-coupon/icon-down-arrow.png" width="80" height="24" alt=""></p>
              <div class="c-Theme-White u-Adjust_Align-center">
                <picture>
                  <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/group-coupon/icon-flow-05-sp.png?220502">
                  <source srcset="<%= sitepath %>assets/img/campaign/group-coupon/icon-flow-05.png?220502">
                  <img src="<%= sitepath %>assets/img/campaign/group-coupon/icon-flow-05.png?220502" width="522" alt="">
                </picture>
                <p class="c-Txt_Emp-02 u-Adjust_Mt-16" style="font-weight: normal;">
                  5月に「Rakuten UN-LIMIT VI」にお申し込みをいただき、すべての条件を達成した場合には8月末日頃<br>
                  6月に「Rakuten UN-LIMIT VI」にお申し込みをいただき、すべての条件を達成した場合には9月末日頃
                </p>
                <p class="u-Adjust_Mt-8">プレゼント後、楽天会員情報にご登録のメールアドレスへご案内メールをお送りします</p>
              </div>
            </div>

          </div>
        </div>
      </form>

        <div class="l-System_Container">
          <h3 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-48">クーポン対象のサービス</h3>
          <div>
            <div class="u-Adjust_Mt-24">
              <ul class="<%= namespace %>-Card_Service">
                <li>
                  <a href="https://gora.golf.rakuten.co.jp/?scid=wi_rmb_gcoupon_service_gora" target="_blank" class="c-Card_Normal">
                    <img src="<%= sitepath %>assets/img/campaign/group-coupon/logo_gora.png" width="190" alt="Rakuten GORA">
                    <p>コース予約を提供する日本最大級のゴルフ場予約サービス</p>
                  </a>
                </li>
                <li>
                  <a href="https://beauty.rakuten.co.jp/?scid=wi_rmb_gcoupon_service_beauty" target="_blank" class="c-Card_Normal">
                    <img src="<%= sitepath %>assets/img/campaign/group-coupon/logo_beauty.png" width="206" alt="Rakuten BEAUTY">
                    <p>あなたにピッタリのお店が見つかる美容サロン予約サイト</p>
                  </a>
                </li>
                <li>
                  <a href="https://agriculture.rakuten.net/regular/?scid=wi_rmb_gcoupon_service_farm" target="_blank" class="c-Card_Normal">
                    <img src="<%= sitepath %>assets/img/campaign/group-coupon/logo_farm.png" width="180" alt="Rakuten Farm">
                    <p>オーガニック＆サステナブルな野菜・サラダ・冷凍野菜・果物をご自宅までお届け</p>
                  </a>
                </li>
                <li>
                  <a href="https://tv.rakuten.co.jp/?scid=wi_rmb_gcoupon_service_tv" target="_blank" class="c-Card_Normal">
                    <img src="<%= sitepath %>assets/img/campaign/group-coupon/logo_rakutentv.png" width="142" alt="Rakuten Tv">
                    <p>人気映画・アニメ・ドラマ等が視聴できる動画配信サービス</p>
                  </a>
                </li>
                <li>
                  <a href="https://books.rakuten.co.jp/?scid=wi_rmb_gcoupon_books" target="_blank" class="c-Card_Normal">
                    <img src="<%= sitepath %>assets/img/campaign/group-coupon/logo_books.png" width="195" alt="Rakuten ブックス">
                    <p>本・書籍・映像メディア・ゲームの通販、オンライン書店</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="faq" class="c-Theme-Light u-Adjust_Mt-32">
          <div class="l-System_Container">
            <h3 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-40">よくあるご質問</h3>
            <div class="c-Theme-White u-Adjust_Mt-24">
              <div class="c-Accordion">
                <button type="button" id="accordion-faq-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>エントリーされているか、どこで確認できますか？</button>
                <div id="accordion-content-faq-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-1" aria-hidden="false" style="">
                  <p class="u-Adjust_Pl-16 u-Adjust_Pr-16">
                    「<a href="https://oubo.rakuten.co.jp/list" target="_blank">キャンペーンエントリー履歴</a>」からご確認いただけます。
                  </p>
                </div>
              </div>
              <div class="c-Accordion">
                <button type="button" id="accordion-faq-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>どのクーポンを申し込んだのか、確認することは可能ですか？</button>
                <div id="accordion-content-faq-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-2" aria-hidden="false" style="">
                  <p class="u-Adjust_Pl-16 u-Adjust_Pr-16">
                    大変申し訳ありませんが、どちらのサービスのクーポンをお申し込みされたかはご確認いただけません。
                  </p>
                </div>
              </div>
              <div class="c-Accordion">
                <button type="button" id="accordion-faq-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>選択したクーポンを変更することは可能ですか？</button>
                <div id="accordion-content-faq-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-3" aria-hidden="false" style="">
                  <p class="u-Adjust_Pl-16 u-Adjust_Pr-16">
                    大変申し訳ありませんが、一度選択したクーポンは変更できません。
                  </p>
                </div>
              </div>
              <div class="c-Accordion">
                <button type="button" id="accordion-faq-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーン期間内に楽天モバイルに申し込みができているか、確認方法はありますか？</button>
                <div id="accordion-content-faq-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-4" aria-hidden="false" style="">
                  <p class="u-Adjust_Pl-16 u-Adjust_Pr-16">
                    以下2種類の方法があります。<br>
                    ①お申し込み完了メールを確認する。<br>
                    ②「<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile" target="_blank">my 楽天モバイル</a>」の申し込み履歴から確認する。<br>
                    詳しい手順は<a href="<%= sitepath %>faq/detail/00001827/">こちら</a>からもご確認いただけます。
                  </p>
                </div>
              </div>
              <div class="c-Accordion">
                <button type="button" id="accordion-faq-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>クーポンのプレゼントはいつになりますか？</button>
                <div id="accordion-content-faq-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-5" aria-hidden="false" style="">
                  <p class="u-Adjust_Pl-16 u-Adjust_Pr-16">
                    5月に「Rakuten UN-LIMIT VI」にお申し込みをいただき、すべての条件を達成した場合には8月末日頃<br>
                    6月に「Rakuten UN-LIMIT VI」にお申し込みをいただき、すべての条件を達成した場合には9月末日頃<br>
                    楽天モバイルにご登録の楽天IDにクーポンをプレゼントいたします。
                  </p>
                </div>
              </div>
              <div class="c-Accordion">
                <button type="button" id="accordion-faq-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-6"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>クーポンがプレゼントされた後に通知は来ますか？</button>
                <div id="accordion-content-faq-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-6" aria-hidden="false" style="">
                  <p class="u-Adjust_Pl-16 u-Adjust_Pr-16">
                    クーポンプレゼント後に、楽天モバイルからご登録のメールアドレスに、クーポンをプレゼントした旨を通知いたします。
                  </p>
                </div>
              </div>
            </div>
            <div class="u-Adjust_Mt-64">
              <h3 class="c-Heading_Lv2 u-Adjust_Align-center">楽天モバイルについて</h3>
              <p class="u-Adjust_Align-center c-Txt_Emp-01 u-Adjust_Mt-8">詳細は以下の各リンク先にてご確認ください</p>
              <div class="u-Adjust_Mt-24">
                <ul class="<%= namespace %>-Card_About">
                  <li>
                    <a href="<%= sitepath %>fee/un-limit/?l-id=campaign_group-coupon_fee_un-limit" class="c-Card_Normal">
                      <img src="<%= sitepath %>assets/img/campaign/group-coupon/icon-about-01.png" alt="">
                      <p class="c-Txt_Emp-01">料金プラン</p>
                    </a>
                  </li>
                  <li>
                    <a href="<%= sitepath %>fee/zero/?l-id=campaign_group-coupon_fee_zero" class="c-Card_Normal">
                      <img src="<%= sitepath %>assets/img/campaign/group-coupon/icon-about-02.png" alt="">
                      <p class="c-Txt_Emp-01">お申し込み手数料</p>
                    </a>
                  </li>
                  <li>
                    <a href="<%= sitepath %>area/?l-id=campaign_group-coupon_area" class="c-Card_Normal">
                      <img src="<%= sitepath %>assets/img/campaign/group-coupon/icon-about-03.png" alt="">
                      <p class="c-Txt_Emp-01">サービスエリア</p>
                    </a>
                  </li>
                  <li>
                    <a href="<%= sitepath %>product/byod/?l-id=campaign_group-coupon_product_byod" class="c-Card_Normal">
                      <img src="<%= sitepath %>assets/img/campaign/group-coupon/icon-about-04.png" alt="">
                      <p class="c-Txt_Emp-01">楽天回線対応製品</p>
                    </a>
                  </li>
                  <li>
                    <a href="<%= sitepath %>service/?l-id=campaign_group-coupon_service" class="c-Card_Normal">
                      <img src="<%= sitepath %>assets/img/campaign/group-coupon/icon-about-05.png" alt="">
                      <p class="c-Txt_Emp-01">オプション<br>サービス</p>
                    </a>
                  </li>
                  <li>
                    <a href="<%= sitepath %>guide/point/?l-id=campaign_group-coupon_guide_point" class="c-Card_Normal">
                      <img src="<%= sitepath %>assets/img/campaign/group-coupon/icon-about-06.png?220502" alt="">
                      <p class="c-Txt_Emp-01">おトクな<br>楽天ポイント</p>
                    </a>
                  </li>
                  <li>
                    <a href="<%= sitepath %>service/rakuten-link/?l-id=campaign_group-coupon_service_rakuten-link" class="c-Card_Normal">
                      <img src="<%= sitepath %>assets/img/campaign/group-coupon/icon-about-07.png" alt="">
                      <p class="c-Txt_Emp-01">Rakuten Link<br>アプリ</p>
                    </a>
                  </li>
                  <li>
                    <a href="<%= sitepath %>campaign/?l-id=campaign_group-coupon_campaign" class="c-Card_Normal">
                      <img src="<%= sitepath %>assets/img/campaign/group-coupon/icon-about-08.png" alt="">
                      <p class="c-Txt_Emp-01">キャンペーン一覧</p>
                    </a>
                  </li>
                  <li>
                    <a href="<%= sitepath %>product/sim/?l-id=campaign_group-coupon_product_sim" class="c-Card_Normal">
                      <img src="<%= sitepath %>assets/img/campaign/group-coupon/icon-about-09.png" alt="">
                      <p class="c-Txt_Emp-01">SIMの使い方</p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="c-Theme-Light u-Adjust_Mt-64 u-Adjust_Pb-64">

          <p class="c-Txt_Emp-02 c-Txt_Normal-l u-Adjust_Mt-24 u-Adjust_Align-center">本キャンペーンは終了しました。</p>

          <div id="campaign-rule" class="l-System_Container">
            <div class="<%= namespace %>-Layout_Rule">
              <!-- 1464 -->
              <h2 class="c-Heading_Lv2" id="campaign-rule1464">楽天モバイル オンライン申し込みでグループクーポン1,000円分プレゼント</h2>
              <div class="c-Table_Wrap u-Adjust_Mt-24">
              <div class="u-Adjust_Mt-24">
                  <dl class="c-Dl_Origin <%= namespace %>-Dl_Rule">
                  <div>
                      <dt>キャンペーンコード</dt>
                      <dd>
                      <p>1464</p>
                      <ul class="c-Txt_Cap u-Adjust_Mt-8">
                          <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                      </ul>
                      </dd>
                  </div>
                  <div>
                      <dt>キャンペーン期間</dt>
                      <dd>
                      <p><span class="c-Txt_Emp-01">■ エントリー期間</span><br>
                          　　2022年5月2日（月）9:00〜2022年6月30日（木）8:59 まで
                      </p>
                      <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■ プランのお申し込み期間</span><br>
                          　　- Web　2022年5月2日（月）9:00〜2022年6月30日（木）8:59 まで
                      </p>
                      <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■ プラン利用開始期限</span><br>
                          　　プランのお申し込みの翌月末日23:59まで
                      </p>
                      <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■「Rakuten Link」利用期限</span><br>
                        　　プランのお申し込みの翌月末日23:59まで
                      </p>
                      </dd>
                  </div>
                  <div>
                      <dt>キャンペーン条件</dt>
                      <dd>
                      <p class="c-Txt_Emp-02">
                          上記各項目の期間内に【1】、【2】、【3】、【4】の条件をすべて満たした楽天会員の方
                      </p>
                      <div class="u-Adjust_Mt-16">
                          <span class="c-Txt_Emp-01">【1】キャンペーンへのエントリー</span><br>
                          エントリー期間内に本キャンペーンページでエントリー
                      </div>
                      <div class="u-Adjust_Mt-16">
                          <span class="c-Txt_Emp-01">【2】「Rakuten UN-LIMIT VI」へ、下記（1）～（3）いずれかの方法にてお申し込み</span>
                          <ul class="c-List_Note u-Adjust_Mt-8">
                          <li><span>(1)</span>新規お申し込み</li>
                          <li><span>(2)</span>他社からの乗り換え（MNP）でお申し込み</li>
                          <li><span>(3)</span>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
                          </ul>
                          <p class="c-Txt_Cap u-Adjust_Mt-8">※エントリー前のお申し込みはクーポン付与の対象になりません</p>
                      </div>
                      <div class="u-Adjust_Mt-16">
                          <p class="c-Txt_Emp-01">【3】「Rakuten UN-LIMIT VI」プラン利用開始</p>
                          <p class="u-Adjust_Mt-16" id="rule-plan">【プラン利用開始日とは】</p>
                          <ul>
                          <li class="u-Adjust_Mt-8">- 新規お申し込みの場合 <span>※(1)(2)のいずれか早い方がプラン利用開始日となります。</span>
                              <ul class="c-List_Note">
                              <li><span>(1)</span>当社に配送完了データが通知された日</li>
                              <li　><span>(2)</span>プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                              </ul>
                          </li>
                          <li class="u-Adjust_Mt-8">- 他社から乗り換え（MNP）の場合<br>
                              プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日
                          </li>
                          <li class="u-Adjust_Mt-8">- 楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合<br>
                              プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日
                          </li>
                          </ul>
                      </div>
                      <div class="u-Adjust_Mt-16">
                          <p class="c-Txt_Emp-01">【4】「Rakuten Link」のご利用</p>
                          <p class="u-Adjust_Mt-8">「Rakuten UN-LIMIT VI」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
                          <p class="u-Adjust_Mt-8 c-Txt_Cap c-Txt_Emp-02">※クーポン付与は、「Rakuten UN-LIMIT VI」のプラン利用開始および「Rakuten Link」のご利用が確認された月の翌々月末日ごろになります。</p>

                          <p class="u-Adjust_Mt-16 c-Txt_Emp-01">【Rakuten Link アプリご利用方法】</p>
                          下記URLの「Rakuten Linkのご利用方法」をご確認ください<br>
                          <a target="_blank" href="<%= sitepath %>guide/rakuten-link/" class="u-Adjust_Txt-break">https://network.mobile.rakuten.co.jp/guide/rakuten-link/</a><br>
                          - 通話方法：『電話をかける』の項目をご確認ください<br>
                          <p class="c-Txt_Cap">※「Rakuten Link」アプリ以外のメッセージやメール送信についてはキャンペーンの達成条件として適用されませんのでご注意ください</p>
                          <br>
                          <p class="c-Txt_Emp-01">【Rakuten Link利用履歴の確認方法】</p>
                          下記URLの「キャンペーンが適用されているか、いつポイントが付与されるか知りたい」をご確認ください<br>
                          <a href="<%= sitepath %>faq/detail/00001962/" class="u-Adjust_Txt-break">https://network.mobile.rakuten.co.jp/faq/detail/00001962/</a><br>
                          -「③ 適用条件の達成状況を確認する」の項目をご確認ください
                          <p class="c-Txt_Cap">※ 電話の発信時、（0570）（0180）などの他社接続サービス、#ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</p>
                      </div>
                      </dd>
                  </div>
                  <div>
                      <dt>キャンペーン特典</dt>
                      <dt class="<%= namespace %>-Dl_Title-sub">特典内容</dt>
                      <dd>
                      <p class="c-Txt_Emp-01">選択した下記の対象サービスのグループクーポンをプレゼント（1名様1枚のみ）</p>
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">楽天GORA 1,000円クーポン</p>
                      <p class="u-Adjust_Mt-8">
                          [クーポン対象予約]<br>
                          ・通常予約のリアルタイム予約<br>
                          <span class="c-Txt_Cap">※1人予約・電話予約・リクエスト予約は対象外／1回あたりの最低利用金額：1,001円(税込)以上</span><br>
                          [注意事項]<br>
                          ・楽天GORAのクーポンの使い方・条件など詳細は<a href="https://gora.golf.rakuten.co.jp/doc/guide/racoupon/" target="_blank">こちら</a>からご確認ください。<br>
                          ・他のクーポンとの併用はできません。<br>
                      </p>
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">楽天ビューティ 1,000円クーポン</p>
                      <p class="u-Adjust_Mt-8">
                          [クーポン対象予約]<br>
                          ・サロンのネット予約<br>
                          <span class="c-Txt_Cap">※対象の来店施術可能期間：クーポン付与日含め3カ月（クーポン有効期間中のみ可能）／1回の施術料金が1,500円（税込）</span><br>
                          [注意事項]<br>
                          ・他のラ・クーポンとの併用はできません。<br>
                          ・ラ・クーポンは、楽天ビューティマイページの<a href="https://beauty.rakuten.co.jp/user/coupon.php" target="_blank">マイクーポン</a>からご確認いただけます。<br>
                          ・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用枚数を超えた場合等）<br>
                          ・ラ・クーポンは、楽天ビューティ（サイト上）での予約時にのみご利用いただけます。予約成立後など後から利用することはできません。<br>
                          ・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。<br>
                          ・ラ・クーポンは、電話予約でご利用できません。<br>
                          ・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。<br>
                          ・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。<br>
                          　詳しくはこちらの<a href="https://beauty.faq.rakuten.net/user/s/detail/000005759" target="_blank">ヘルプページ</a>をご覧ください<br>
                      </p>
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">楽天ファーム 1,000円クーポン</p>
                      <p class="u-Adjust_Mt-8">
                          [クーポン対象商品]<br>
                          ・楽天ファーム市場店舗、楽天ファーム オーガニック＆ナチュラルマーケット内の商品<br>
                          <span class="c-Txt_Cap">※一部クーポン利用不可の商品あり／1回あたりの最低利用金額：1,001円(税込)以上</span><br>
                          [注意事項]<br>
                          ・楽天ファームのクーポンの使い方・条件など詳細は<a href="https://agriculture.rakuten.co.jp/market/coupon/?scid=wi_frm_frm-ichiba_coupon-lp" target="_blank">こちら</a>からご確認ください。<br>
                          ・他のクーポンとの併用はできません。<br>
                      </p>
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">楽天TV 1,000円クーポン</p>
                      <p class="u-Adjust_Mt-8">
                          [クーポン対象作品]<br>
                          ・Rakuten TVで配信中の作品<br>
                          <span class="c-Txt_Cap">※レンタルもしくは購入に限る／1回あたりの最低決済金額：1,001円(税込)以上</span><br>
                          ［注意事項］<br>
                          ・Rakuten TVのクーポンの使い方は<a href="https://tv.faq.rakuten.net/detail/000001652" target="_blank">こちら</a>からご確認ください。<br>
                          ・他のクーポンとの併用はできません。<br>
                          ・「定額見放題」「ライブ配信」「Rakuten パ・リーグ Special」は当クーポンの対象外となります。<br>
                          ・購入画面でクーポンが表示される作品が対象となります。購入画面でクーポンが表示されない作品は対象外となりますので、ご注意ください。<br>
                          ・クーポンの利用日付や時刻は弊社のデータベース上に保存された購入日時によって計算いたします。
                      </p>
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">楽天ブックス 1,000円クーポン</p>
                      <p class="u-Adjust_Mt-8">
                          [クーポン対象商品]<br>
                          ・楽天ブックス商品<br>
                          <span class="c-Txt_Cap">※電子書籍・ダウンロード商品を除く／1回あたりの最低利用金額：1,001円(税込)以上</span><br>
                          [注意事項]<br>
                          ・楽天ブックスのクーポンの使い方・条件など詳細は<a href="https://books.faq.rakuten.net/s/article/000015939" target="_blank">こちら</a>からご確認ください。
                      </p>

                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">[各クーポン共通の注意事項]</p>
                      <p class="u-Adjust_Mt-8">
                          ・キャンペーンにエントリーしたものの、クーポンを選択せずに楽天モバイルにお申し込みをし、キャンペーン条件をすべて達成した場合、ランダムにクーポンをプレゼントいたします。<br>
                          ・本クーポンの利用回数上限はお一人様1回までとなります。<br>
                          ・選択したグループクーポンは変更できません。あらかじめご了承ください。<br>
                          ・本特典は、クーポン利用期間中であっても予告なく変更・中止させていただく場合があります。<br>
                          ・一部、クーポンを利用できない宿泊施設・店舗・サービス・作品等がございます。<br>
                          ・購入時のクーポン適用忘れなどによるご返金はいたしかねますのでご注意ください。<br>
                          ・有効期限を過ぎたクーポンに関してはいかなる理由であっても返還いたしかねます。<br>
                          ・メンテナンスなどでクーポンがご利用いただけない場合がございますが、クーポン利用可能期間を延長することはございません。
                      </p>
                      </dd>
                  </div>
                  <div>
                      <dt class="<%= namespace %>-Dl_Title-sub">クーポン付与日</dt>
                      <dd>
                      <p>
                          5月に「Rakuten UN-LIMIT VI」にお申し込みをいただき、すべての条件を達成した場合には8月末日頃に付与<br>
                          6月に「Rakuten UN-LIMIT VI」にお申し込みをいただき、すべての条件を達成した場合には9月末日頃に付与
                      </p>
                      <p class="u-Adjust_Mt-8 c-Txt_Cap">
                          　※　クーポンの付与は、各サービスより行います<br>
                          　※　クーポンの付与が完了しましたら、楽天モバイルより通知を行います<br>
                          　※　権利の譲渡はできません
                      </p>
                      </dd>
                  </div>
                  <div>
                      <dt class="<%= namespace %>-Dl_Title-sub">クーポン有効期間</dt>
                      <dd>
                      <td>
                          <p class="c-Txt_Emp-01">クーポン付与日を含めて3カ月</p>
                      </td>
                      </dd>
                  </div>
                  <div>
                      <dt>特典適用対象外</dt>
                      <dd>
                      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
                      <ul class="u-Adjust_Mt-16">
                          <li class="c-Txt_Cap"><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                          <li class="c-Txt_Cap"><span>※</span>「楽天モバイル オンライン申し込みでグループクーポン1,000円分プレゼント」の適用回数が、おひとり様1契約1回を超える場合は対象外となります</li>
                          <li class="c-Txt_Cap"><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
                          <li class="c-Txt_Cap"><span>※</span>「Rakuten UN-LIMIT VI」のプラン利用開始がされなかった場合<br>
                          -プラン利用開始の手続き方法につきましては、 <a href="<%= sitepath %>faq/detail/00001648/">こちら</a>のSIMカード版スタートガイドまたはeSIM版スタートガイドを参照ください</li>
                          <li class="c-Txt_Cap"><span>※</span>期限までに「Rakuten Link」を利用されなかった場合</li>
                          <li class="c-Txt_Cap"><span>※</span>クーポン利用日までに楽天会員から退会している場合</li>
                          <li class="c-Txt_Cap"><span>※</span>当社または楽天グループ株式会社が定める規約などに違反した場合</li>
                          <li class="c-Txt_Cap"><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
                          <li class="c-Txt_Cap"><span>※</span>Wi-Fiルーターでご利用の場合</li>
                          <li class="c-Txt_Cap"><span>※</span>本ルールに記載の併用可能キャンペーンを除き、本キャンペーンより付与ポイント数・クーポン金額が多い Rakuten UN-LIMIT VI お申し込みでポイント・クーポンプレゼントキャンペーンが適用となった場合<br>
                            （複数の Rakuten UN-LIMIT VI お申し込みでポイント・クーポンプレゼントキャンペーンの対象となった場合、付与ポイント数・クーポン金額が一番多いキャンペーンのみが適用され、同額の場合はポイント・クーポン問わずエントリー日時の早いキャンペーンが優先して適用されます。）
                          </li>
                      </ul>
                      </dd>
                  </div>
                  <div>
                      <dt>併用可能キャンペーン</dt>
                      <dd>
                          <p>
                              以下のキャンペーンは、併用が可能となります<br>
                              【Rakuten UN-LIMIT VIお申し込み特典】だれでも5,000ポイントプレゼントキャンペーン(1113)<br>
                              お持ちのスマホそのままで、他社から乗り換え（MNP）の方限定！通常のRakuten UN-LIMIT VIお申し込み特典に加えて、さらに15,000ポイントプレゼントキャンペーン(1262)
                          </p>
                      </dd>
                  </div>
                  <div>
                      <dt>注意事項</dt>
                      <dd>
                      <ul>
                          <li class="c-Txt_Cap"><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                          <li class="c-Txt_Cap"><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                          <li class="c-Txt_Cap"><span>※</span>すでにRakuten UN-LIMIT VIご契約済みであっても、本キャンペーン期間中に新たに1回線ご契約いただければクーポン付与の対象となります<br>
                          （お1人様あたり本キャンペーン期間中の1回線分のお申し込みのみが対象）</li>
                          <li class="c-Txt_Cap"><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                          <li class="c-Txt_Cap"><span>※</span>クーポン付与対象者の楽天会員情報を楽天GORA、楽天ビューティ、楽天ファーム、楽天TV、楽天ブックス に提供いたします。あらかじめご了承ください</li>
                          <li class="c-Txt_Cap"><span>※</span>記載の内容は2022年5月2日（月）時点の情報となります</li>
                      </ul>
                      </dd>
                  </div>
                  </dl>
              </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- ReX UX Survey: Mounting point for embedded components -->
    <div id="rexSurveyEmbedded" class="rexSurveyNamespace u-Adjust_Mt-48"></div>

    <footer class="g-Footer <%= namespace %>-Layout_Footer u-Adjust_Mt-64">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script>
    $(function(){
      var hash = location.search;
      if (hash.indexOf('point-iphone12') > 0) {
        $('html, body').animate({'scrollTop': $('#point').offset().top}, 300);
        $('#accordion-4').click();
      }
      else if (hash.indexOf('point-iphone13') > 0) {
        $('html, body').animate({'scrollTop': $('#point').offset().top}, 300);
        $('#accordion-3').click();
      }
    });
  </script>
  <%- include('/include/_append-body') %>
  <script type="text/javascript">
    function isChecked(el) {
      if (el.length) {
        for (var i = 0; i < el.length; i++) {
          if (el[i].checked) {
            return true;
          }
        }
      } else {
        if (el.checked) {
          return true;
        }
      }
      return false;
    }
    function checkForm() {
      var el;
      var obj = document.enenForm;

      el = obj.elements['answers[37504_257608]'];
      if (!isChecked(el)) {
        alert("クーポンを選択してください。");
        return false;
      }
    }
    </script>
  <!-- ReX UX Survey: Config -->
  <script>
  window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
  </script>
  <!-- ReX UX Survey: Script -->
  <script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>


</body>
</html>
