<% const pagetitle = "契約内容・お手続きに関するサポート" -%>
<% const subCategory = "契約内容・お手続き" -%>
<% const directories = [{path:"internet/turbo/support/", label:"お客様サポート"}] -%>
<% const namespace = "support-smallcategory" -%>
<%
  const pageInfo = {
    namespace,
    subCategory,
    linkListContent: [
      {
        path: 'internet/turbo/support/contract/details/',
        name: '契約内容・登録内容の確認・変更'
      },
      {
        path: 'internet/turbo/support/contract/house-moving/',
        name: 'お引越しの手続き'
      },
      {
        path: 'internet/turbo/support/contract/my-rakuten-mobile/',
        name: 'my 楽天モバイル'
      },
      {
        path: 'internet/turbo/support/contract/rakuten-mobile-id/',
        name: '楽天モバイルIDの確認方法'
      },
      {
        path: 'internet/turbo/support/contract/sim/',
        name: 'SIMカードの再発行・紛失・盗難'
      },
      {
        path: 'internet/turbo/support/contract/initial-contract/',
        name: '初期契約解除について'
      },
      {
        path: 'internet/turbo/support/contract/cancel/',
        name: 'ご解約について'
      },
      {
        path: 'internet/turbo/support/contract/check-imei/',
        name: '製造番号（IMEI）の確認方法'
      }
    ],
    faqDescription: false,
    isUserCategory: true
  };
%>
<%-
 include('/_header', {
    pagetitle,
    directories,
    description: '楽天モバイルのホームルーターRakuten Turboの契約内容・お手続きに関するサポート情報をご確認いただけます',
    noindex: false,
    pathname: filepath,
    isTurbo: true
  });
%>

<%- include('/include/_common-css-v2') %>
<%- include('/include/internet/turbo/support/_smallcategory-css') %>
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/internet/turbo/_prepend-body-internet') %>
  <div class="l-System">
    <%- include('/include/internet/turbo/_header', {
      pagetitle,
      directories,
      tax: false,
    }) %>

    <section class="<%= namespace %>-Layout_Main">
      <div class="l-System_Container">
        <%- include('/include/internet/turbo/support/_smallcategory-main', { pageInfo }) %>
      </div>
    </section>

    <section class="<%= namespace %>-Layout_Faq">
      <div class="l-System_Container">
        <%- include('/include/internet/turbo/support/_smallcategory-faq', { pageInfo }) %>
      </div>
    </section>

    <section class="<%= namespace %>-Layout_Category">
      <div class="l-System_Container">
        <%- include('/include/internet/turbo/support/_smallcategory-category', { pageInfo }) %>
      </div>
    </section>

    <div class="u-Adjust_Mt-24">
      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
      <%- include('/include/internet/turbo/_footer', { directories, pagetitle }) %>
    </div>
  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
  <%- include('/include/internet/turbo/_rex-survey') %>
  <script src="<%= sitepath %>assets/js/internet.turbo.support.category.bundle.js?20240521"></script>
  <%- include('/include/internet/turbo/support/_smallcategory-js') %>

</body>

</html>
