<% const pagetitle = "" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    noindex: true,
    pathname: filepath
  });
%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css') %>
<script src="https://r.r10s.jp/com/ap/target/phoenix-tracker-2.7.2.min.js"></script>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>
<script type="text/javascript">
location.href = "https://onboarding.mobile.rakuten.co.jp/?l-id=apply_onboarding_none";
</script>
<%- include('/include/_append-body') %>
</body>
</html>
