<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "工事日確認の電話希望時間帯" -%>
<% const directories = [] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    <!-- directories: directories, -->
    description: '',
    noindex: true,
    pathname: filepath,
    ishikari: true
  });
%>
<%- include('/include/hikari/_common-v2-hikari-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/form/call-time/call-time.css?20240424">
<%- include('/include/_append-head-hikari') %>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>

<div class="l-System">

  <%- include('/hikari/include/_header', { headerType: 'logo', pagetitle: pagetitle, directories: directories, tax: false }) %>

  <div class="l-hikari-Section_Main">
    <div class="l-hikari-Section_Main-logo"><a href="/hikari/" data-lid_parts="logo"><img src="<%= sitepath %>assets/img/hikari/common/logo-hikari-s.svg" width="100" alt="楽天ひかり"></a></div>
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
      <div class="l-hikari-Section_Main-lead">
        <p>この度は楽天ひかりにお申込みいただきありがとうございます。</p>
          <p class="u-Adjust_Mt-16">工事内容、工事日確認のため、ご希望の時間帯に楽天工事受付センターからお電話いたします。<br>
            希望される時間帯を複数選択してください。</p>

          <p class="u-Adjust_Mt-16">お電話させていただく目安：<br class="hikari-call-time-Utility_Show-sp"><span class="c-Txt_Emp">フォーム送信の翌日から3日以内</span></p>
          <p class="c-Txt_Cap u-Adjust_Mt-8">※希望日が少ない場合、土日祝日のみをご選択の場合は、ご連絡に3日以上かかる場合があります。</p>
      </div>
      <div class="l-hikari-Section_Sub-short">
        <form id="js-hikari-call-time_Form" action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
          <input type="hidden" name="oid" value="00D2v000001WJL6">
          <input type="hidden" name="recordType" value="0122v000001QuQj">
          <input type="hidden" name="lead_source" value="架電希望日の入力">
          <input type="hidden" name="company" value="楽天ひかり">
          <input type="hidden" name="last_name" value="入力">
          <input type="hidden" name="00N2u0000015cmC" value="">
          <input type="hidden" name="retURL" value="https://network.mobile.rakuten.co.jp/hikari/form/call-time/completion/">
          <dl class="c-Form_List">
            <div>
              <dt>電話希望時間帯<span class="c-Form_List-required">必須</span></dt>
              <dd>
                <p class="u-Adjust_Mb-32">2つ以上選択してください</p>
                <dl id="js-hikari-call-time_List">
                  <dt class="c-Txt_Emp">平日</dt>
                  <dd>
                    <label class="c-Form_Checkbox hikari-call-time-Form_Checkbox u-Adjust_Mt-16 u-Adjust_Mr-24 u-Adjust_Mb-24">
                      <input id="00N2u0000015hso" name="00N2u0000015hso" type="checkbox" value="1" class="js-hikari-call-time_Weekday" data-time="10:00～12:00">
                      <span class="c-Icon_Check"></span>
                      <span class="c-Form_Checkbox-label">10:00～12:00</span>
                    </label>
                    <label class="c-Form_Checkbox hikari-call-time-Form_Checkbox u-Adjust_Mr-24 u-Adjust_Mb-24">
                      <input id="00N2u0000015hst" name="00N2u0000015hst" type="checkbox" value="1" class="js-hikari-call-time_Weekday" data-time="12:00～15:00">
                      <span class="c-Icon_Check"></span>
                      <span class="c-Form_Checkbox-label">12:00～15:00</span>
                    </label>
                    <label class="c-Form_Checkbox hikari-call-time-Form_Checkbox u-Adjust_Mr-24 u-Adjust_Mb-24">
                      <input id="00N2u0000015hsy" name="00N2u0000015hsy" type="checkbox" value="1" class="js-hikari-call-time_Weekday" data-time="15:00～18:00">
                      <span class="c-Icon_Check"></span>
                      <span class="c-Form_Checkbox-label">15:00～18:00</span>
                    </label>
                  </dd>
                  <dt class="c-Txt_Emp">土日祝日</dt>
                  <dd>
                    <label class="c-Form_Checkbox hikari-call-time-Form_Checkbox u-Adjust_Mt-16 u-Adjust_Mr-24 u-Adjust_Mb-24">
                      <input id="00N2u0000015ht8" name="00N2u0000015ht8" type="checkbox" value="1" class="js-hikari-call-time_Holiday" data-time="10:00～12:00" >
                      <span class="c-Icon_Check"></span>
                      <span class="c-Form_Checkbox-label">10:00～12:00</span>
                    </label>
                    <label class="c-Form_Checkbox hikari-call-time-Form_Checkbox u-Adjust_Mr-24 u-Adjust_Mb-24">
                      <input id="00N2u0000015htD" name="00N2u0000015htD" type="checkbox" value="1" class="js-hikari-call-time_Holiday" data-time="12:00～15:00">
                      <span class="c-Icon_Check"></span>
                      <span class="c-Form_Checkbox-label">12:00～15:00</span>
                    </label>
                    <label class="c-Form_Checkbox hikari-call-time-Form_Checkbox u-Adjust_Mr-24 u-Adjust_Mb-24">
                      <input id="00N2u0000015htI" name="00N2u0000015htI" type="checkbox" value="1" class="js-hikari-call-time_Holiday" data-time="15:00～18:00">
                      <span class="c-Icon_Check"></span>
                      <span class="c-Form_Checkbox-label">15:00～18:00</span>
                    </label>
                  </dd>
                </dl>
              </dd>
            </div>
          </dl>
          <p class="u-Adjust_Align-center hikari-call-time-Form_Button-confirm">
            <button id="js-hikari-call-time_Confirm" type="button" class="c-Btn_Secondly-large"><span><span>入力内容を確認する</span></span></button>
          </p>
          <div id="modal-confirm" style="display:none;">
            <h2 class="c-Heading_Lv3 u-Adjust_Mb-32">入力内容の確認</h2>
            <dl id="js-hikari-call-time_Confirm-content" class="c-Form_List-confirm"></dl>
            <div class="u-Adjust_Align-center u-Adjust_Mt-40">
              <button type="button" id="js-hikari-call-time_Submit" class="c-Btn_Primary-large"><span><span>送信する</span></span></button>
            </div>
            <div class="u-Adjust_Align-center u-Adjust_Mt-16">
              <button type="button" id="js-hikari-call-time_Confirm-close" class="c-Btn_Secondly-large"><span><span>戻る</span></span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <footer class="g-Footer u-Adjust_Mt-64">
    <%- include('/include/_footer-simple') %>
  </footer>

</div>
<%- include('/include/hikari/_common-js') %>
<script src="<%= sitepath %>assets/js/hikari/form.call-time.index.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
