<% const namespace = "fee-simulation-result" -%>
<% const imgpath = `${sitepath}assets/img/fee/simulation/result/` %>

<section class="<%= namespace %>-More">
  <div class="l-System_Container">
    <div class="u-Adjust_Align-center">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>more-head-sp-240221.png" width="280" height="23">
        <img src="<%= imgpath %>more-head-pc-240221.png" alt="もっと知りたい楽天モバイル" width="312" height="24" loading="lazy">
      </picture>
    </div>
    <div class="u-Rat_Appear-height" data-ratid="simulation-result_scroll-04" data-ratevent="appear"></div>
    <div class="<%= namespace %>-More_Body u-Adjust_Mt-24">
      <div>
        <a href="<%= sitepath %>guide/procedure/?l-id=product_esim_guide_procedure" class="c-Banner_Hover-act">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>more-guide-procedure-sp.png" width="686">
            <img src="<%= imgpath %>more-guide-procedure-pc.png" alt="お申し込み手続きでお困りごとはありますか？ はじめてでも安心！お申し込みガイド ご利用開始までかんたん4ステップでご案内します" width="504" height="196" loading="lazy">
          </picture>
        </a>
      </div>
      <div class="<%= namespace %>-More_Items-group">
        <div>
          <a href="<%= sitepath %>campaign/?l-id=fee-un-limit_simulation-result_campaign" class="c-Banner_Hover-act">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>more-campaign-sp-20240329.png" width="686">
              <img src="<%= imgpath %>more-campaign-pc-20240329.png" alt="スマホ割引やポイントGETなど おトクなキャンペーン・特典" width="504" height="92" loading="lazy">
            </picture>
          </a>
        </div>
        <div>
          <a href="<%= sitepath %>area/?l-id=fee-un-limit_simulation-result_area" class="c-Banner_Hover-act">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>more-area-sp-20240215.png" width="686">
              <img src="<%= imgpath %>more-area-pc-20240215.png" alt="つながるエリア、ぞくぞく 一目で分かる「エリアマップ」" width="504" height="92" loading="lazy">
            </picture>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
