<% const namespace = "fee-simulation-result" -%>
<% const imgpath = `${sitepath}assets/img/fee/simulation/result/` %>

<div class="u-Adjust_Mt-16 u-Adjust_Mb-8">
  <div class="u-Adjust_Align-center">
    <img src="<%= imgpath %>extra-point-title.png" width="275" height="29" alt="さらにポイントもらえる">
  </div>
  <ul class="<%= namespace %>-Main_Extra-point-banners">
    <li>
      <a href="<%= sitepath %>campaign/mnp/?l-id=fee_simulation_campaign_mnp" class="c-Banner_Hover-act">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>point-campaign-mnp-sp-240315.png" width="686">
          <img src="<%= imgpath %>point-campaign-mnp-pc-240315.png" alt="スマホそのまま乗り換え！電話番号もそのまま他社から乗り換え＆初めてお申し込みで6,000ポイントプレゼント!" width="415" height="100" loading="lazy">
        </picture>
      </a>
    </li>
    <li>
      <a href="<%= sitepath %>campaign/referral/?l-id=fee_simulation_campaign_referral" class="c-Banner_Hover-act">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>point-campaign-referral-sp-240320.png" width="686">
          <img src="<%= imgpath %>point-campaign-referral-pc-240320.png" alt="楽天モバイル紹介キャンペーン" width="415" height="100" loading="lazy">
        </picture>
      </a>
    </li>
  </ul>
</div>
