<% const namespace = "fee-simulation-result" -%>
<% const imgpath = `${sitepath}assets/img/fee/simulation/result/` %>

<div class="<%= namespace %>-Main_Appeal js-appeal">
  <div class="<%= namespace %>-Main_Appeal-container">
    <div class="<%= namespace %>-Main_Appeal-head">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>appeal-head-sp-240313.png" width="192" height="18">
        <img src="<%= imgpath %>appeal-head-pc-240313.png" alt="楽天モバイルに乗り換えると" width="205" height="18">
      </picture>
    </div>

    <%# loading %>
    <div class="<%= namespace %>-Main_Appeal-loading" id="js-simulation-result-loading">
      <div class="<%= namespace %>-Main_Appeal-loading-container"><div class="<%= namespace %>-Main_Appeal-loading-item"></div></div>
    </div>

    <%# グラフ %>
    <div class="<%= namespace %>-Main_Appeal-graph js-graph" style="display:none;">
      <div class="<%= namespace %>-Main_Appeal-graph-main js-graph-main">
        <div class="<%= namespace %>-Main_Appeal-graph-items">
          <div class="<%= namespace %>-Main_Appeal-graph-item js-graph-item">
            <div class="<%= namespace %>-Main_Appeal-graph-item-inner">
              <div class="<%= namespace %>-Main_Appeal-graph-bar <%= namespace %>-Main_Appeal-graph-bar--target js-graph-target"></div>
              <div class="<%= namespace %>-Main_Appeal-graph-value js-graph-value-target">
                <div class="<%= namespace %>-Main_Appeal-graph-carrier js-graph-target-carrier"></div>
                <div class="<%= namespace %>-Main_Appeal-graph-price"><span class="<%= namespace %>-Main_Appeal-graph-price-num js-graph-target-price"></span>円<span class="c-Txt_Cap c-Txt_Weight-normal">※1</span></div>
              </div>
            </div>
          </div>
          <div class="<%= namespace %>-Main_Appeal-graph-item js-graph-item">
            <div class="<%= namespace %>-Main_Appeal-graph-item-inner">
              <div class="<%= namespace %>-Main_Appeal-graph-bar <%= namespace %>-Main_Appeal-graph-bar--rmi js-graph-rmi"></div>
              <div class="<%= namespace %>-Main_Appeal-graph-value js-graph-value-rmi">
                <div class="js-graph-rmi-family" style="display:none;">
                  <img src="<%= imgpath %>graph-rmi-family-240430.png" alt="家族割適用で" width="84" height="14">
                </div>
                <div class="<%= namespace %>-Main_Appeal-graph-carrier">楽天モバイル</div>
                <div class="<%= namespace %>-Main_Appeal-graph-price"><span class="<%= namespace %>-Main_Appeal-graph-price-num js-graph-rmi-price"></span>円</div>
              </div>
              <div class="js-win-pattern" style="display:none;">
                <div class="<%= namespace %>-Main_Appeal-graph-arrow <%= namespace %>-Main_Appeal-graph-arrow--long js-graph-arrow-long" style="display: none;">
                  <img src="<%= imgpath %>graph-arrow-long.svg" alt="" width="306" height="47">
                </div>
                <div class="<%= namespace %>-Main_Appeal-graph-arrow <%= namespace %>-Main_Appeal-graph-arrow--short js-graph-arrow-short" style="display: none;">
                  <img src="<%= imgpath %>graph-arrow-short.svg" alt="" width="74" height="28">
                </div>
              </div>
            </div>
          </div>
          <div class="<%= namespace %>-Main_Appeal-graph-item js-graph-item js-graph-point-wrapper" style="display:none;">
            <div class="<%= namespace %>-Main_Appeal-graph-item-inner">
              <div class="<%= namespace %>-Main_Appeal-graph-bar <%= namespace %>-Main_Appeal-graph-bar--point-skeleton js-graph-point-skeleton">
                <div class="<%= namespace %>-Main_Appeal-graph-bar <%= namespace %>-Main_Appeal-graph-bar--point js-graph-point"></div>
              </div>
              <div class="<%= namespace %>-Main_Appeal-graph-value <%= namespace %>-Main_Appeal-graph-value--point">
                <div class="<%= namespace %>-Main_Appeal-graph-price"><span class="<%= namespace %>-Main_Appeal-graph-price-num js-graph-point-price"></span>円</div>
              </div>
              <div class="<%= namespace %>-Main_Appeal-graph-speachbubble <%= namespace %>-Main_Appeal-graph-speachbubble--a js-graph-speachbubble-a" style="display:none;">
                <div class="<%= namespace %>-Main_Appeal-graph-speachbubble-inner">
                  <div class="<%= namespace %>-Main_Appeal-graph-speachbubble-img">
                    <img src="<%= imgpath %>graph-speachbubble-a.png" alt="" width="175" height="97">
                  </div>
                  <div class="<%= namespace %>-Main_Appeal-graph-speachbubble-text">
                    <div>
                      <p><span class="<%= namespace %>-Main_Appeal-graph-speachbubble-text-accent"><span class="<%= namespace %>-Main_Appeal-graph-speachbubble-text-num js-graph-speachbubble-point"></span>ポイント</span>を利用<span class="c-Txt_Cap c-Txt_Weight-normal">※3</span></p>
                      <div class="<%= namespace %>-Main_Appeal-graph-speachbubble-text-arrow">
                        <img src="<%= imgpath %>graph-speachbubble-arrow.svg" alt="" width="20" height="6">
                      </div>
                      <p><span class="<%= namespace %>-Main_Appeal-graph-speachbubble-text-accent"><span class="<%= namespace %>-Main_Appeal-graph-speachbubble-text-num js-graph-speachbubble-point-remainder"></span>ポイント</span>残る！</p>
                    </div>

                  </div>
                </div>
              </div>
              <div class="<%= namespace %>-Main_Appeal-graph-speachbubble <%= namespace %>-Main_Appeal-graph-speachbubble--b js-graph-speachbubble-b" style="display:none;">
                <div class="<%= namespace %>-Main_Appeal-graph-speachbubble-inner">
                  <div class="<%= namespace %>-Main_Appeal-graph-speachbubble-img">
                    <img src="<%= imgpath %>graph-speachbubble-b.png" alt="" width="164" height="73">
                  </div>
                  <div class="<%= namespace %>-Main_Appeal-graph-speachbubble-text">
                    <div>
                      <p><span class="<%= namespace %>-Main_Appeal-graph-speachbubble-text-accent"><span class="<%= namespace %>-Main_Appeal-graph-speachbubble-text-num js-graph-speachbubble-point"></span>ポイント</span>を利用<span class="c-Txt_Cap c-Txt_Weight-normal">※3</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="<%= namespace %>-Main_Appeal-graph-speachbubble <%= namespace %>-Main_Appeal-graph-speachbubble--c js-graph-speachbubble-c" style="display:none;">
                <div class="<%= namespace %>-Main_Appeal-graph-speachbubble-inner">
                  <div class="<%= namespace %>-Main_Appeal-graph-speachbubble-img">
                    <img src="<%= imgpath %>graph-speachbubble-c.png" alt="" width="262" height="57">
                  </div>
                  <div class="<%= namespace %>-Main_Appeal-graph-speachbubble-text">
                    <div>
                      <p><span class="<%= namespace %>-Main_Appeal-graph-speachbubble-text-accent"><span class="<%= namespace %>-Main_Appeal-graph-speachbubble-text-num js-graph-speachbubble-point"></span>ポイント</span>を利用<span class="c-Txt_Cap c-Txt_Weight-normal">※3</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="js-graph-rmi-nonfamily-nopoint" style="display:none;">
          <div class="<%= namespace %>-Main_Appeal-graph-chip-nonfamily-lose c-Txt_Emp-01">家族割引適用なら<span class="<%= namespace %>-Main_Appeal-graph-chip-nonfamily-lose-price"><span class="<%= namespace %>-Main_Appeal-graph-chip-nonfamily-lose-price-num js-rmi-family-price"></span>円/月</span></div>
        </div>
      </div>

      <div class="<%= namespace %>-Main_Appeal-bargain js-win-pattern" style="display:none;">
        <div class="<%= namespace %>-Main_Appeal-bargain-container">
          <div class="<%= namespace %>-Main_Appeal-bargain-body">
            <div class="<%= namespace %>-Main_Appeal-bargain-row">
              <div class="<%= namespace %>-Main_Appeal-bargain-price">
                <div>
                  <img src="<%= imgpath %>bargain-panda-stand.png" alt="" width="82" height="88" class="<%= namespace %>-Main_Appeal-bargain-price-img-panda js-bargain-price-panda" style="display: none;">
                  <img src="<%= imgpath %>bargain-budget.png" alt="" width="34" height="34" class="<%= namespace %>-Main_Appeal-bargain-price-img-budget js-bargain-price-budget">
                </div>
                <div>
                  <div class="<%= namespace %>-Main_Appeal-bargain-price-text">
                    毎月
                      <span class="<%= namespace %>-Main_Appeal-bargain-price-num js-diff-price-monthly"></span>
                    円おトク!
                      <span class="c-Txt_Cap c-Txt_Weight-normal <%= namespace %>-Main_Appeal-bargain-price-text-comment js-bargain-price-text-comment">※<span class="js-graph-diff-attention-chip"></span></span>
                  </div>
                  <div class="<%= namespace %>-Main_Appeal-bargain-price-text-img js-bargain-budget-text-img">
                    <img src="<%= imgpath %>bargain-text.png" alt="" width="212" height="18">
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="<%= namespace %>-Main_Appeal-bargain-prediction js-bargain-area" style="display: none;">
                <div class="<%= namespace %>-Main_Appeal-bargain-tooltip js-family-tooltip u-Adjust_Align-center" >
                  家族<span class="js-family-count"></span>人で使うと
                </div>
                <div>
                  <div class="<%= namespace %>-Main_Appeal-bargain-yearly">
                    <div class="<%= namespace %>-Main_Appeal-bargain-price-text">
                      <span class="<%= namespace %>-Main_Appeal-bargain-price-badge">
                        <span class="<%= namespace %>-Main_Appeal-bargain-price-badge-num">2</span>年で</span>
                      <span class="<%= namespace %>-Main_Appeal-bargain-price-unit"><span class="<%= namespace %>-Main_Appeal-bargain-price-num-large js-diff-price-year-2"></span>万円</span>以上の節約!
                      <span class="<%= namespace %>-Main_Appeal-bargain-price-text-comment-top c-Txt_Cap c-Txt_Weight-normal js-bargain-attention-chip"></span>
                    </div>
                  </div>
                  <div class="<%= namespace %>-Main_Appeal-bargain-box u-Adjust_Align-center u-Adjust_Mt-16">
                    <div class="<%= namespace %>-Main_Appeal-bargain-price-text <%= namespace %>-Main_Appeal-bargain-price-text-sign">
                      <span class="<%= namespace %>-Main_Appeal-bargain-price-text-num"><span>30</span>年で</span>
                      <span class="<%= namespace %>-Main_Appeal-bargain-price-unit"><span class="<%= namespace %>-Main_Appeal-bargain-price-num js-diff-price-year-30"></span>万円</span>以上にも
                      <span class="<%= namespace %>-Main_Appeal-bargain-price-text-comment-sign c-Txt_Cap c-Txt_Weight-normal js-bargain-attention-chip"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="c-Txt_Cap u-Adjust_Mt-8">
                <p class="js-bargain-plan-comment">※1 <span class="js-graph-target-plan"></span>で算出</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="c-Txt_Cap u-Adjust_Mt-8 js-lose-pattern" style="display:none;">※1 <span class="js-graph-target-plan"></span>で算出</p>

      <div class="u-Adjust_Align-center js-graph-diff-nonfamily-lose" style="display:none;">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>graph-diff-nonfamily-lose-sp-240430.png" width="311" height="44">
          <img src="<%= imgpath %>graph-diff-nonfamily-lose-pc-240430.png" alt="さらに家族割引を使うと100円/月(税別)引き" width="428" height="48">
        </picture>
      </div>
      <div class="<%= namespace %>-Main_Appeal-call u-Adjust_Mt-24">
        <div class="<%= namespace %>-Main_Appeal-call-head">
          <img src="<%= imgpath %>graph-diff-call-head.png" alt="通話は" width="61" height="28" loading="lazy">
        </div>
        <div class="<%= namespace %>-Main_Appeal-call-img u-Adjust_Align-center">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>graph-diff-call-sp-240313.png" width="232" height="30">
            <img src="<%= imgpath %>graph-diff-call-pc-240313.png" alt="Rakuten Linkアプリ利用で国内通話0円" width="410" height="40">
          </picture>
          <div class="<%= namespace %>-Main_Appeal-call-img-chip c-Txt_Cap">※<span class="js-graph-call-attention-chip"></span></div>
        </div>
      </div>
      <p class="<%= namespace %>-Main_Appeal-call-link u-Adjust_Align-center u-Adjust_Mt-8"><a href="<%= sitepath %>fee/saikyo-plan/?l-id=fee-un-limit_simulation-result_fee-un-limit01" class="c-Link_Txt-inline">料金プランの詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
    </div>

    <%# carrierが「その他」のとき %>
    <div class="<%= namespace %>-Main_Appeal-fee u-Adjust_Mt-16 js-appeal-plan-one" style="display:none;">
      <div class="<%= namespace %>-Main_Appeal-fee-cards">
        <div class="<%= namespace %>-Main_Appeal-fee-card">
          <picture class="js-simulation-result-plan-skeleton">
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>appeal-plan-fee-skeleton-sp.png" width="311" height="72">
            <img src="<%= imgpath %>appeal-plan-fee-skeleton-pc.png" alt="" width="416" height="98">
          </picture>
          <picture class="js-simulation-result-plan-980" style="display:none">
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>appeal-plan-fee-980-family-sp-240430.png" width="311" height="85">
            <img src="<%= imgpath %>appeal-plan-fee-980-family-pc-240430.png" alt="プラン料金 980円/月(税込1,078円)※1" width="630" height="81" loading="lazy">
          </picture>
          <picture class="js-simulation-result-plan-1980" style="display:none">
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>appeal-plan-fee-1980-family-sp-240430.png" width="311" height="85">
            <img src="<%= imgpath %>appeal-plan-fee-1980-family-pc-240430.png" alt="プラン料金 1,980円/月(税込2,178円)※1" width="630" height="81" loading="lazy">
          </picture>
          <picture class="js-simulation-result-plan-2980" style="display:none">
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>appeal-plan-fee-2980-family-sp-240430.png" width="311" height="85">
            <img src="<%= imgpath %>appeal-plan-fee-2980-family-pc-240430.png" alt="プラン料金 2,980円/月(税込3,278円)※1" width="630" height="81" loading="lazy">
          </picture>
        </div>
      </div>
      <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>appeal-call-fee-sp-240221.png" width="311" height="62">
          <img src="<%= imgpath %>appeal-call-fee-pc-240221.png" alt="通話料金 RakutenLinkアプリ利用で国内通話0円※2" width="630" height="90" loading="lazy">
        </picture>
      </div>
      <p class="u-Adjust_Mt-8 u-Adjust_Align-center"><a href="<%= sitepath %>fee/saikyo-plan/?l-id=fee-un-limit_simulation-result_fee-un-limit01" class="c-Link_Txt-inline">料金プランの詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
    </div>

    <%# sizeが「わからない」のとき %>
    <div class="<%= namespace %>-Main_Appeal-fee u-Adjust_Mt-16 js-appeal-plan-all" style="display:none">
      <div class="<%= namespace %>-Main_Appeal-fee-cards <%= namespace %>-Main_Appeal-fee-cards--unknown">
        <div class="<%= namespace %>-Main_Appeal-fee-card <%= namespace %>-Main_Appeal-fee-card--unknown">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>appeal-plan-fee-unknown-sp-240430.png" width="311" height="181">
            <img src="<%= imgpath %>appeal-plan-fee-unknown-pc-240430.png" alt="家族割引適用 プラン料金※1データ高速無制限※ 2,880円/月 税込3,168円 使わなければ勝手に安く 3GBまで880円/月 税込968円" width="630" height="112" loading="lazy">
          </picture>
        </div>
      </div>
      <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>appeal-call-fee-sp-240221.png" width="311" height="62">
          <img src="<%= imgpath %>appeal-call-fee-pc-240221.png" alt="通話料金 RakutenLinkアプリ利用で国内通話0円※2" width="630" height="90" loading="lazy">
        </picture>
      </div>
      <p class="u-Adjust_Mt-8 u-Adjust_Align-center"><a href="<%= sitepath %>fee/saikyo-plan/?l-id=fee-un-limit_simulation-result_fee-un-limit01" class="c-Link_Txt-inline">料金プランの詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
    </div>
  </div>

  <div class="u-Adjust_Mt-8">
    <p class="c-Txt_Cap" id="js-graph-attention-a" style="display:none;">
      ※1 <span class="c-Txt_Emp-02">他社料金は各種キャンペーンにより割引適用される場合や条件あり。</span>データ量を月額料金（1カ月:30日）で比較（Wi-Fi接続は考慮なし）。ご利用状況により異なる場合あり ※2 両社ポイントを含まない金額で算出 ※3 一部対象外番号あり。アプリ未使用時30秒22円 ※2024年4月19日時点。通話料等別<br>
      ※その他条件の詳細は<a href="#attention" class="c-Link_Txt js-scroll">こちら</a>
    </p>
    <p class="c-Txt_Cap" id="js-graph-attention-aa" style="display:none;">
      ※1 <span class="c-Txt_Emp-02">他社料金は各種キャンペーンにより割引適用される場合や条件あり。</span>データ量を月額料金（1カ月:30日）で比較（Wi-Fi接続は考慮なし）。ご利用状況により異なる場合あり ※2 両社ポイントを含まない金額で算出 ※3 シミュレーション結果の料金プランに準ずる家族割引を元に家族回線数で算出。家族回線の利用プランによって割引適用が異なる場合あり ※4 一部対象外番号あり。アプリ未使用時30秒22円 ※2024年4月19日時点。通話料等別<br/>
      ※その他条件の詳細は<a href="#attention" class="c-Link_Txt js-scroll">こちら</a>
    </p>
    <p class="c-Txt_Cap" id="js-graph-attention-c" style="display:none;">
      ※1 <span class="c-Txt_Emp-02">他社料金は各種キャンペーンにより割引適用される場合や条件あり。</span>データ量を月額料金（1カ月:30日）で比較（Wi-Fi接続は考慮なし）。ご利用状況により異なる場合あり ※2 一部対象外番号あり。アプリ未使用時30秒22円 ※2024年4月19日時点。通話料等別<br>
      ※その他条件の詳細は<a href="#attention" class="c-Link_Txt js-scroll">こちら</a>
    </p>
    <p class="c-Txt_Cap" id="js-graph-attention-e" style="display:none;">
      ※1 <span class="c-Txt_Emp-02">他社料金は各種キャンペーンにより割引適用される場合や条件あり。</span>データ量を月額料金（1カ月:30日）で比較（Wi-Fi接続は考慮なし）。ご利用状況により異なる場合あり ※2 上限あり。期間限定ポイント ※3 あなたの直近3カ月間の楽天市場での購買金額で「楽天モバイル対象プランご契約者特典＋4倍」の獲得ポイント数で算出 ※4 両社ポイントを含まない金額で算出 ※5 一部対象外番号あり。アプリ未使用時30秒22円 ※2024年4月19日時点。通話料等別<br>
      ※その他条件の詳細は<a href="#attention" class="c-Link_Txt js-scroll">こちら</a>
    </p>
    <p class="c-Txt_Cap" id="js-graph-attention-ee" style="display:none;">
      ※1 <span class="c-Txt_Emp-02">他社料金は各種キャンペーンにより割引適用される場合や条件あり。</span>データ量を月額料金（1カ月:30日）で比較（Wi-Fi接続は考慮なし）。ご利用状況により異なる場合あり ※2 上限あり。期間限定ポイント ※3 あなたの直近3カ月間の楽天市場での購買金額で「楽天モバイル対象プランご契約者特典＋4倍」の獲得ポイント数で算出 ※4 両社ポイントを含まない金額で算出 ※5 シミュレーション結果の料金プランに準ずる家族割引を元に家族回線数で算出。家族回線の利用プランによって割引適用が異なる場合あり ※6 一部対象外番号あり。アプリ未使用時30秒22円 ※2024年4月19日時点。通話料等別<br/>
      ※その他条件の詳細は<a href="#attention" class="c-Link_Txt js-scroll">こちら</a>
    </p>
    <p class="c-Txt_Cap" id="js-graph-attention-f" style="display:none;">
      ※1 <span class="c-Txt_Emp-02">他社料金は各種キャンペーンにより割引適用される場合や条件あり。</span>データ量を月額料金（1カ月:30日）で比較（Wi-Fi接続は考慮なし）。ご利用状況により異なる場合あり ※2 上限あり。期間限定ポイント ※3 あなたの直近3カ月間の楽天市場での購買金額で「楽天モバイル対象プランご契約者特典＋4倍」の獲得ポイント数で算出 ※4 一部対象外番号あり。アプリ未使用時30秒22円 ※2024年4月19日時点。通話料等別<br>
      ※その他条件の詳細は<a href="#attention" class="c-Link_Txt js-scroll">こちら</a>
    </p>
  </div>
</div>
