<% const namespace = "fee-simulation-result" -%>
<% const imgpath = `${sitepath}assets/img/fee/simulation/result/` %>

<section class="<%= namespace %>-Search">
  <div class="l-System_Container">
    <div class="<%= namespace %>-Search_Wrap">
      <h2 class="<%= namespace %>-Search_Title">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>shop-search-title-sp.png" width="343" height="56">
          <img src="<%= imgpath %>shop-search-title-pc.png" alt="楽天モバイルショップなら 相談しながらかんたんお申し込み!" width="544" height="50" loading="lazy">
        </picture>
      </h2>
      <div class="<%= namespace %>-Search_Body-comment">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>shop-search-comment-sp.png" width="281" height="45">
          <img src="<%= imgpath %>shop-search-comment-pc.png" alt="事前の来店予約がおすすめ!" width="552" height="22" loading="lazy">
        </picture>
      </div>
      <div class="<%= namespace %>-Search_Body">
        <p class="<%= namespace %>-Search_Body-title c-Heading_Lv4">お近くのショップを探す</p>
        <div class="<%= namespace %>-Search_Select">
          <div class="<%= namespace %>-Search_Select-items">
            <div class="c-Form_Select">
              <select id="js-shop-Search_Select-pref">
                <option value="">都道府県を選択</option>
              </select>
              <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
            </div>
          </div>
          <div class="<%= namespace %>-Search_Select-items">
            <div class="c-Form_Select">
              <select id="js-shop-Search_Select-city" aria-disabled="true" disabled>
                <option value="">市区町村を選択</option>
              </select>
              <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
            </div>
          </div>
        </div>
        <div class="<%= namespace %>-Search_Btn">
          <button data-ratid="simulation-result_shop-search" data-ratevent="click" data-ratparam="all" id="js-shop-Search_Prefcity" class="c-Btn_Secondly-large" aria-disabled="true" disabled><span>ショップ検索／来店予約をする</span></button>
        </div>
      </div>

      <div class="u-Adjust_Mt-24">
        <div data-ratid="result_shop-banner_01" data-ratevent="appear">
          <a href="<%= sitepath %>shop/weekday-reservation/?l-id=fee-simulation_result_shop_weekday-reservation" class="c-Banner_Hover-act">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>shop-search-bnr-point-sp.png" width="1029" height="420">
              <img src="<%= imgpath %>shop-search-bnr-point-pc.png" alt="平日限定！ショップの来店予約＆ご来店アンケート回答で100ポイント！" width="1712" height="128" loading="lazy">
            </picture>
          </a>
        </div>
        <div class="u-Adjust_Mt-16 u-Adjust_Mt-pc-8" data-ratid="result_shop-banner_02" data-ratevent="appear">
          <a href="<%= sitepath %>shop/?l-id=fee-simulation_result_shop03" class="c-Banner_Hover-act">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgpath %>shop-search-bnr-campaign-sp.png" width="1029" height="393">
              <img src="<%= imgpath %>shop-search-bnr-campaign-pc.png" alt="他にもショップ限定キャンペーンを開催中！お買いものパンダグッズや、LINEスタンプもらえる！" width="1714" height="164" loading="lazy">
            </picture>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
