<% const pagetitle = "代金引換（代引き）でのお支払い方法" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"guide/payment/", label:"楽天モバイルでのお支払い方法"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '代金引換（代引き）でのお支払い方法のご案内。製品代金を、配送お受け取り時に現金でお支払いいただけます。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/payment/payment.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1 u-Adjust_Mt-8">代金引換でのお支払い方法</h1>
    <p class="c-Txt_Normal u-Adjust_Mt-16">
      製品代金のお支払いに、配送お受け取り時に現金で支払いを行う代金引換（代引き）がご利用いただけます。
    </p>
    <p class="u-Adjust_Mt-24"><a href="#other" class="c-Link_Txt-inline">その他のお支払い方法<span class="c-Icon_Chevron-right"></span></a></p>
    <h2 class="c-Heading_Lv2 u-Adjust_Mt-40">お選びいただけるお支払い項目</h2>

    <div class="c-Table_Wrap-scroll u-Adjust_Mt-24">
      <table class="c-Table_Container u-Adjust_W-360">
        <colgroup>
          <col class="u-Adjust_W-120">
          <col class="u-Adjust_W-120">
          <col class="u-Adjust_W-120">
          <col>
        </colgroup>
        <thead>
          <tr>
            <th scope="col" colspan="2">お支払い方法</th>
            <th scope="col">代金引換</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2">月額利用料、各種手数料<sup>※1</sup>
              <button class="c-Tooltip js-Tooltip-inline" data-tippy-theme="default" data-tippy-content="有料サービス料金が含まれます">
                <span class="c-Icon_Stack c-Tooltip_Icon">
                  <span class="c-Icon_Sign-help-f c-Icon_Stack-icon-f"></span>
                  <span class="c-Icon_Sign-help-l c-Icon_Stack-icon-l"></span>
                </span>
              </button>
            </td>
            <td class="u-Adjust_Align-center">×</td>
          </tr>
          <tr>
            <td rowspan="3">製品代金
              <button class="c-Tooltip js-Tooltip-inline" data-tippy-theme="default" data-tippy-content="スマートフォン、アクセサリー代金が含まれます">
                <span class="c-Icon_Stack c-Tooltip_Icon">
                  <span class="c-Icon_Sign-help-f c-Icon_Stack-icon-f"></span>
                  <span class="c-Icon_Sign-help-l c-Icon_Stack-icon-l"></span>
                </span>
              </button>
            </td>
            <td>一括払い</td>
            <td class="u-Adjust_Align-center">○<sup>※2</sup></td>
          </tr>
          <tr>
            <td>分割払い</td>
            <td class="u-Adjust_Align-center">×</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ul class="c-List_Cap u-Adjust_Mt-8">
      <li class="c-Txt_Emp-02"><span>※</span>代金引換と、楽天ポイントの利用は併用できません。</li>
      <li class="c-Txt_Emp-02"><span>※</span>商品お届け時の決済は、ヤマトフィナンシャル株式会社（クロネコヤマト）が代行いたします。</li>
      <li><span>※1</span> 楽天モバイルの各種手数料は<a href="<%= sitepath %>guide/commission/">こちら</a>をご確認ください。Rakuten Turboの各種手数料は<a href="<%= sitepath %>internet/turbo/fee/">こちら</a>をご確認ください。</li>
      <li><span>※2</span> 以下の場合には代金引換でのお支払はできません。<br>
        　・本人確認方法で「受け取り時に自宅で確認」を選択した場合<br>
        　・送料含む商品合計額（税込）が300,001円以上の場合<br>
        　・楽天モバイルショップ（店舗）で製品ご購入の場合</li>
    </ul>

    <div class="l-Media_Grid">
      <div>
        <p class="c-Txt_Normal u-Adjust_Mt-24">代金引換の際、代金引換手数料を合わせていただきます。</p>
        <div class="c-Table_Wrap-scroll u-Adjust_Mt-8">
          <dl class="c-Dl_Origin">
            <div>
              <dt>代金引換手数料</dt>
              <dd>
                <table class="c-Table_Container u-Adjust_W-340">
                  <colgroup>
                    <col class="u-Adjust_W-240">
                    <col class="u-Adjust_W-240">
                    <col>
                  </colgroup>
                  <thead>
                    <tr>
                      <th scope="col">商品合計額</th>
                      <th scope="col">代金引換手数料</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>～9,999円の場合</td>
                      <td>330円</td>
                    </tr>
                    <tr>
                      <td>～29,999円の場合</td>
                      <td>440円</td>
                    </tr>
                    <tr>
                      <td>～99,999円の場合</td>
                      <td>660円</td>
                    </tr>
                    <tr>
                      <td>～300,000円の場合</td>
                      <td>1,100円</td>
                    </tr>
                  </tbody>
                </table>
              </dd>
            </div>
          </dl>
        </div>

        <ul class="c-Txt_Cap u-Adjust_Mt-24">
          <li><span>※</span>商品合計額は、製品代金＋送料の合計額（税込）です。</li>
        </ul>
      </div>
    </div>

    <div class="c-Accordion u-Adjust_Mt-40">
      <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>注意事項</button>
      <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
        <ul class="c-List_Text-disc u-Adjust_Pt-16">
          <p>
            Webからのお申し込み時に本人確認方法で「受け取り時に自宅で確認」を選択いただいた場合、代金引換はご利用いただけません。<br>
            代金引換をご希望の場合は、「受け取り時に自宅で確認」以外の本人確認方法についてをご選択ください。
          </p><br>
          <p>楽天モバイルの本人確認方法は<a href="<%= sitepath %>guide/verify/">こちら</a>をご確認ください。Rakuten Turboの本人確認方法は<a href="<%= sitepath %>internet/turbo/support/flow/verify/">こちら</a>をご確認ください。</p>
        </ul>
      </div>
    </div>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-40" id="other">その他のお支払い方法</h3>
    <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/payment/card/" class="c-Link_Txt-inline">クレジットカード・デビットカードでお支払い<span class="c-Icon_Chevron-right"></span></a></p>
    <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/payment/autopay/" class="c-Link_Txt-inline">口座振替でお支払い<span class="c-Icon_Chevron-right"></span></a></p>
    <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/payment/point/" class="c-Link_Txt-inline">楽天ポイントをお支払いに利用<span class="c-Icon_Chevron-right"></span></a></p>

    <%- include('/include/guide/_faq') %>

  </div>
</div>



<%- include('/include/guide/_review') %>
<footer class="g-Footer">

  <div class="g-Footer_Aside">



    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>
  <%- include('/include/guide/_inquiry') %>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>



</body>
</html>
