<%
  const pagetitle = "Rakuten Turbo 対応サービスエリア"
  const namespace = "area"
  const layout = `${namespace}-Layout`
-%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '楽天モバイルのホームルーターRakuten Turboの対応サービスエリアを、地図や検索でご確認いただけます。',
    keywords: '',
    noindex: false,
    pathname: filepath,
    isTurbo: true,
    turbotop: false
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/internet/turbo/area/area.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/internet/turbo/turbo-top.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/internet/turbo/_prepend-body-internet') %>

<div class="l-System">

  <%- include('/include/internet/turbo/_header', {
    pagetitle,
    tax: false,
  }) %>

<!-- <div class="c-Attention_Info">
  <div class="c-Attention_Container">
    <span class="c-Attention_Icon c-Icon_Sign-info-l"></span>
    <p class="c-Attention_Body">

    </p>
  </div>
</div> -->

<div class="l-System_Container">

  <section id="service-area" class="u-Adjust_Mt-32">
    <h1 class="c-Heading_Lv1">Rakuten Turbo 対応サービスエリア</h1>
    <p class="u-Adjust_Mt-8">2024年4月16日更新</p>
    <div class="area-Map u-Adjust_Mt-24">
      <div id="place-search-wrapper">
        <p class="c-Txt_Emp-02">郵便番号または住所を入力して、設置予定の住所が対応エリアであることを確認してください。</p>
        <div class="c-Search_Container form-group <%= namespace %>-Util_Mt-8-16">
          <span class="glyphicon glyphicon-search"></span>
          <input type="text" class="form-control controls c-Search_Input" id="pac-input" aria-label="地図を検索" placeholder="設置予定場所の郵便番号もしくは住所を入力" value="">
          <div class="c-Search_Btn">
            <input type="submit" value="" class="c-Search_Submit" id="search-button">
            <span data-auto-rat="submit" class="c-Icon_Search c-Search_Icon"></span>
          </div>
        </div>
      </div>

      <div class="map-wrap">
        <div id="map" data-update="20240416"></div>
        <button type="button" data-auto-rat="button" id="map-loc-button" class="c-Btn_Regular c-Btn_Icon" style="min-width: auto;"><span class="c-Icon_Location-f"></span><span>現在地</span></button>
        <a href="<%= sitepath %>internet/turbo/<%= namespace %>/map.html" class="<%= layout %>_Btn-fullscreen" aria-label="全画面表示"><span class="c-Icon_Product-fullscreen"></span></a>
      </div>

      <div>
        <div id="legend">
          <div class="<%= layout %>_Map-flexrow">
            <ul class="<%= layout %>_Map-legend <%= namespace %>-Util_Mt-8-16" data-target="area-5g">
              <li class="<%= layout %>_Map-legend-5gsub6">
                楽天回線 5G Sub6エリア
              </li>
              <li class="<%= layout %>_Map-legend-service">
                楽天回線 4G LTEエリア
              </li>
            </ul>
          </div>
        </div>
      </div>

      <ul class="c-Txt_Cap u-Adjust_Mt-16">
        <li class="c-Txt_Emp-02">※「Rakuten最強プラン」で利用できるサービスエリアとは異なります。</li>
        <li>※5G対応製品を5Gサービス利用可能エリアで利用した際の理論上の通信速度は製品により異なります。</li>
        <li>※記載の地域は実際に5Gサービスを利用できる一部のエリアを包含したものであり、当該地域の中でも一部5Gサービスが利用できない場合があります。</li>
        <li>※5G通信は電波の性質上、4G LTEと比べて屋内への電波が届きにくいため、サービスエリア内であっても5G通信のご利用ではなく、4G LTE通信となる場合があります。</li>
        <li>※4G LTE通信について、楽天回線エリアであっても、地下、屋内、高層階、電波の状況等によって通信ができない場合があります。</li>
        <li>※Rakuten Turbo対応サービスエリアは、対象地域等が変更になる場合があります。</li>
        <li class="c-Txt_Emp-01" style="color:#676767"><span>※</span>2024年2月13日時点のデータです。</li>
      </ul>

      <div class="u-Adjust_Mt-16">
        <a href="#modal" data-auto-rat="modal"class="c-Link_Txt-inline-icon js-Modal"><span class="c-Icon_Zoom-in-l"></span>サービスエリアに関する注意事項</a>
        <div class="<%= namespace %>-Kv_Btn">
          <ul class="<%= namespace %>-Kv_Btn-items">
            <li class="<%= namespace %>-Kv_Btn-item">
              <a href="<%= sitepath %>internet/turbo/application/" class="<%= namespace %>-Kv_Btn-primary" data-ratid="rmt_application_01" data-ratevent="click" data-ratparam="all">
                <span class="<%= namespace %>-Kv_Btn-icon c-Icon_Cart-l"></span>
                <span>Webでお申し込み</span>
              </a>
            </li>
            <li class="<%= namespace %>-Kv_Btn-item">
              <a href="<%= sitepath %>shop/?l-id=rmt_shop_02" class="<%= namespace %>-Kv_Btn-secondly" data-ratid="rmt_shop_02" data-ratevent="click" data-ratparam="all">
                <span class="<%= namespace %>-Kv_Btn-icon c-Icon_Shop-l"></span>
                <span>ショップでご相談</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="c-Theme-Borderbox u-Adjust_Mt-24 u-Adjust_Align-center" style="padding:12px;">
          <p>
            <span class="c-Txt_Emp-01">8日間は返品・返金できるから安心</span><small class="c-Txt_Cap">※条件あり</small><br class="u-Show_Sp">
            <a href="#turbosummary-modal" class="js-Modal c-Link_Txt-inline" data-ratid="turbo_summary-notes" data-ratevent="click" data-ratparam="all">
              <span class="c-Icon_Zoom-in-l"></span>詳しく見る
            </a>
          </p>
        </div>
        <div id="modal" style="display:none;">
          <h3 class="c-Heading_Lv3">サービスエリアに関する注意事項</h3>
          <ol class="u-Adjust_Mt-16">
            <li>サービスエリアは計算上の数値判定に基づき作成しているため、実際の電波状況と異なる場合があります。またサービスエリアは予告なく変更となる場合があります。</li>
            <li>本サービスはベストエフォート方式による提供となります。実際の通信速度は、場所、通信環境、ネットワークの混雑状況、対応端末に応じて変化します。</li>
            <li>ご利用いただく機器や利用環境（建物の中・地下・トンネルなど電波の届かないところ）により利用可能なサービスエリアが制限される場合があります。</li>
            <li>年末年始や災害時、および花火大会などのイベント開催時に利用する場合、回線の混雑によりつながりにくくなることがあります。</li>
            <li>富士山頂付近の楽天回線エリアは、山開きの期間中の7月から8月下旬のみのサービス提供となります。</li>
            <li>楽天モバイルが本サービスのために提供する製品、もしくは動作検証された製品以外での通信は保証されません。</li>
            <li>データ通信によるトラフィックがネットワーク帯域の上限を超える場合またはご利用の製品やアプリの設定などにより、通信速度やデータ通信量が制限される場合があります。</li>
            <li>画面の表示速度や動画の再生開始時間を早くするための通信の最適化（端末の画面に適したサイズに画面、動画などを圧縮・変換すること）を行う場合があります。</li>
            <li>本サービス網全体の輻輳（ふくそう）状態が継続して発生することを避けるため、輻輳制御を行う場合があります。</li>
          </ol>
        </div>
      </div>
    </div>

    <div id="about5gsub6" class="u-Adjust_Mt-56">
      <h2 class="c-Heading_Lv2 <%= namespace %>-Util-Center-Pc">楽天回線5G、4Gとは？</h2>

      <div class="l-Media_Grid <%= namespace %>-Layout_Grid">
        <div class="l-Media_Image <%= namespace %>-Layout_Grid-image">
          <img src="<%= sitepath %>assets/img/internet/turbo/area/img-turbo-area-02-230929.png" alt="" width="332">
        </div>
        <div class="<%= namespace %>-Layout_Grid-contents">
          <div id="js-fixed-btn-trigger"></div>
          <div>
            <h3 class="c-Heading_Lv4">楽天回線 5G Sub6</h3>
            <p>楽天回線 5Gは6GHz未満帯「Sub6」に対応。「Sub6」は電波が広域まで届き、障害物の影響を受けにくい傾向があります。※1</p>
          </div>
          <div class="u-Adjust_Mt-24">
            <h3 class="c-Heading_Lv4">楽天回線 4G LTE</h3>
            <p>楽天回線 4G は人口カバー率98%。国内の広い範囲で、楽天回線 4G LTEの高速通信をおうちのWi-Fiに利用できます。※2</p>
          </div>
          <div class="u-Adjust_Mt-24">
            <h3 class="c-Heading_Lv4">その他エリアに関するご案内</h3>
            <p>サービス機能向上のためのメンテナンス工事実施の際、一部サービスが中断する場合があります。</p>
            <p class="u-Adjust_Mt-16"><a href="/info/construction/?l-id=rmt_mno_info_construction_01" class="c-Link_Txt-inline" data-ratid="rmt_mno_info_construction_01" data-ratevent="click" data-ratparam="all">メンテナンス工事のお知らせを見る<span class="c-Icon_Chevron-right"></span></a></p>
          </div>
        </div>
      </div>

        <div id="turbosummary-modal" style="display:none;">
          <div class="<%= namespace %>-Layout_Modal">
            <h3 class="c-Heading_Lv3">返品・返金の流れ</h3>
            <p class="u-Adjust_Mt-16">製品の開封後でも、ご満足いただけない場合は3ステップで返品・返金が可能です。</p>
            <div class="c-Accordion-emp u-Adjust_Mt-24">
              <button type="button" id="accordion-emp-1" class="c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-emp-1-content">
                <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
                <span class="c-Accordion-emp_Num">STEP 1</span><span class="c-Accordion-emp_Trigger-txt">製品到着から8日以内にご申告</span>
              </button>
              <div id="accordion-emp-1-content" class="c-Accordion-emp_Panel-step js-Accordion_Panel" role="region" aria-labelledby="accordion-emp-1" aria-hidden="false">
                <p>リンク先ページ下部の「解決できない場合はお問い合わせ」ボタンを押下後に表示される、「お問い合わせ窓口に相談する」よりご連絡ください。</p>
                <p class="u-Adjust_Mt-16">
                  <a href="https://portal.mobile.rakuten.co.jp/support#main" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">返品・返金の問い合せをする<span class="c-Icon_New-window-l"></span></a>
                </p>
              </div>
            </div>
            <div class="c-Accordion-emp u-Adjust_Mt-8">
              <button type="button" id="accordion-emp-2" class="c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-emp-2-content">
                <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
                <span class="c-Accordion-emp_Num">STEP 2</span><span class="c-Accordion-emp_Trigger-txt">製品・付属品のご返送</span>
              </button>
              <div id="accordion-emp-2-content" class="c-Accordion-emp_Panel-step js-Accordion_Panel" role="region" aria-labelledby="accordion-emp-2" aria-hidden="true">
                <p>製品・付属品を元払いにて当社へ返送してください。<br>返送先はSTEP1の連絡時にご案内します。</p>
                <p class="c-Txt_Normal-s c-Txt_Emp-01 u-Adjust_Mt-16">※返送に関する注意事項</p>
                <div class="u-Adjust_Mt-8">
                  <ul class="<%= namespace %>-Layout_Modal-list">
                    <li>返送に必要なダンボール箱などはお客様でご用意ください。</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="c-Accordion-emp u-Adjust_Mt-8">
              <button type="button" id="accordion-emp-3" class="c-Accordion-emp_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-emp-3-content">
                <span class="c-Icon_Chevron-right c-Accordion-emp_Arrow"></span>
                <span class="c-Accordion-emp_Num">STEP 3</span><span class="c-Accordion-emp_Trigger-txt">製品確認および返金</span>
              </button>
              <div id="accordion-emp-3-content" class="c-Accordion-emp_Panel-step js-Accordion_Panel" role="region" aria-labelledby="accordion-emp-3" aria-hidden="true">
                <p>当社で製品・付属品を確認後、翌々月末までに当社指定の方法で返金します。</p>
                <p class="c-Txt_Normal-s c-Txt_Emp-01 u-Adjust_Mt-16">※返品・返金に関する注意事項</p>
                <p class="c-Txt_Normal-s u-Adjust_Mt-8">以下の場合は返品・返金の対象外となります</p>
                <div class="u-Adjust_Mt-8">
                  <ul class="<%= namespace %>-Layout_Modal-list">
                    <li>製品到着から9日以降のご申告</li>
                    <li>本体・付属品に破損・欠損がある</li>
                    <li>製品到着から30日以内に、返送された製品が当社に到着しない</li>
                    <li>指定の宛先以外への返送</li>
                    <li>着払い等での返送</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="u-Adjust_Mt-24">
              <h4 class="c-Heading_Lv4">注意事項</h4>
              <div class="u-Adjust_Mt-8">
                <ul class="c-List_Text-disc">
                  <li class="c-Txt_Normal-s">返品・返金の際に、通信速度を確認させていただく場合があります。詳しくは「<a href="<%= sitepath %>faq/detail/10000658/" target="_blank" rel="noopener noreferrer">返品・返金できますか？ &gt; 通信速度の測定について<span class="c-Icon_New-window-l"></span></a>」をご覧ください。</li>
                  <li class="c-Txt_Normal-s u-Adjust_Mt-8">契約事務手数料は返金対象外です。プラン料金の課金開始日前に解約した場合、解約から2カ月以内を目安に請求いたします。</li>
                  <li class="c-Txt_Normal-s u-Adjust_Mt-8">料金プランは別途、解約の手続きが必要です。ご希望の場合は「<a href="<%= sitepath %>internet/turbo/support/contract/cancel/" target="_blank" rel="noopener noreferrer">ご解約について<span class="c-Icon_New-window-l"></span></a>」をご覧ください。</li>
                  <li class="c-Txt_Normal-s u-Adjust_Mt-8">製品到着の前にお申し込みをキャンセルしたい場合は「<a href="<%= sitepath %>faq/detail/00001971/" target="_blank" rel="noopener noreferrer">お申し込みをキャンセルしたい<span class="c-Icon_New-window-l"></span></a>」をご覧ください。</li>
                  <li class="c-Txt_Normal-s u-Adjust_Mt-8">初期契約解除をご希望の場合は「<a href="<%= sitepath %>internet/turbo/support/contract/initial-contract/" target="_blank" rel="noopener noreferrer">初期契約解除について<span class="c-Icon_New-window-l"></span></a>」をご覧ください。</li>
                  <li class="c-Txt_Normal-s u-Adjust_Mt-8">返品条件は事前予告のうえ変更する場合があります。</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

    </div>
  </section>

  </div>

  <div class="<%= namespace %>-Util_Mt-56-48 c-Theme-Light u-Adjust_Pt-48  u-Adjust_Pb-48 u-Adjust_Pr-0 u-Adjust_Pl-0">
    <div class="l-System_Container">
    <h2 class="c-Heading_Lv2 <%= namespace %>-Util-Center-Pc">推奨環境・設置先住所に<br class="u-Show_Sp">ついて</h2>
    <ul class="c-List_Text-disc u-Adjust_Mt-24">
      <li>窓際など、電波を受け取りやすい場所でご利用ください</li>
      <li>Wi-Fiの電波と干渉する機器（電子レンジ、テレビなど）から離れた場所でご利用ください</li>
      <li>高層階（およそ16階以上）ではない場所でご利用ください</li>
      <li>設置先住所以外の場所ではご利用できません</li>
      <li>設置先住所は、前回の変更から30日以内は変更できません</li>
    </ul>
    <div class="u-Adjust_Ml-16 u-Adjust_Mt-8">
      <p class="c-Txt_Cap">※変更日の次の日を1日目と数えます</p>
    </div>

  </div>
  </div>

  <div class="u-Adjust_Mt-32 l-System_Container">
    <h2 class="c-Heading_Lv3 <%= namespace %>-Util-Center-Pc">注意事項</h2>
    <p class="c-Txt_Cap u-Adjust_Mt-16">※1 3.6GHz以下は一般的な4Gで利用されている帯域です。楽天モバイルの4G周波数帯は、楽天回線で1.7～1.8GHzを使用しています。</p>
    <p class="c-Txt_Cap">※2 人口カバー率は、国勢調査に用いられる約500m区画において、50%以上の場所で通信可能なエリアを基に算出。2022年10月時点</p>
    <p class="c-Txt_Cap">※2「Rakuten最強プラン」で利用できるサービスエリアとは異なります。</p>
    <p class="c-Txt_Cap">※2 公平なサービス提供のため速度制御の場合あり。通信速度はベストエフォート（規格上の最大速度）であり、実効速度は通信環境・状況により変動。</p>
  </div>

  <section class="u-Adjust_Mt-48">
    <div class="l-System_Container">
      <h2 class="c-Heading_Lv2 u-Adjust_Align-center">Turboもひかりも、どちらもおトク</h2>
    </div>
    <div class="u-Adjust_Mt-24">
      <%- include('/include/internet/turbo/common/_bnr', {
        orglid1: 'rmt_internet_turbo_area_internet_turbo_campaign_six-month-free_01',
        orglid2: 'rmt_internet_turbo_area_hikari_campaign_six-month-free_01'
      }) %>
    </div>
  </section>

  <%- include('/include/internet/turbo/_fixed-button') %>

<%- include('/include/internet/turbo/_more-nav', {
  hiddenBnr: true,
  hiddenArea: true,
}) %>

<div class="u-Adjust_Mt-24">
  <!-- ReX UX Survey: Mounting point for embedded components -->
  <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
  <%- include('/include/internet/turbo/_footer', { pagetitle }) %>
</div>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/library/map_cpe.js?231116-2"></script>
<script>
  const mediaQuery = window.matchMedia('(max-width: 768px)');
  const setPlaceholder = () => {
    const value = mediaQuery.matches ? '郵便番号もしくは住所を入力' : '設置予定場所の郵便番号もしくは住所を入力';
    const elm = document.getElementById('pac-input');
    elm.setAttribute('placeholder', value);
  }

  setPlaceholder();
  mediaQuery.addEventListener('change', setPlaceholder);
</script>

<script>
  document.getElementById('map-loc-button').addEventListener('click', function () {
    smoothScroll(document.getElementById('js-maptop'));
  });

  document.getElementById('pac-input').addEventListener('change', function (event) {
    smoothScroll(document.getElementById('js-maptop'));
  });

  function smoothScroll(target) {
    var targetTop = target.offsetTop;
    window.scrollTo({
      top: targetTop,
      behavior: 'smooth'
    });
  }
</script>

<%- include('/include/_append-body') %>
<%- include('/include/internet/turbo/_rex-survey-area') %>
</body>
</html>
