<% const pagetitle = "楽天モバイルキャリア決済" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/payment/google/", label:"楽天モバイル キャリア決済"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Google Playストアで購入するアプリ代金や、アプリ内サービスの料金支払いなどを、楽天モバイルのお支払いとまとめて決済できるサービスです。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Hero_Google">
  <h1 class="<%= nameSpace %>-Hero_Google-title">
    <span><span class="<%= nameSpace %>-Hero_Google-title-small">＼ SPU対象！ ／</span>
    楽天モバイル<br>キャリア決済</span>
  </h1>
  <div class="l-System_Container <%= nameSpace %>-Hero_Google-container">
    <p class="<%= nameSpace %>-Hero_Google-cap">※表記の金額は特に記載がない限り税込です。</p>
  </div>
</div>
<div class="l-System_Container u-Adjust_Mt-16">
  <p>Google Playでのアプリ購入代金を毎月のお支払いと同じ方法で決済することができます。</p>
  <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天回線対応のAndroid製品をご利用のご契約者様が対象です。</p>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">

    <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
      <a href="<%= sitepath %>campaign/payment-google/?l-id=guide_payment_google_campaign_payment-google" class="c-Banner_Hover-act">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-payment-google-343-108-240201.png" width="656">
          <img src="<%= sitepath %>assets/img/bnr/bnr-payment-google-1032-160-240201.png" width="1032" height="160" alt="Android™でのアプリ購入やアプリ内課金が楽天モバイルキャリア決済利用で最大2%ポイント還元">
        </picture>
      </a>
    </div>
    <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
      <div>
        <a href="<%= sitepath %>campaign/spu/payment/?l-id=guide_payment-google_banner_campaign_spu_payment" class="c-Banner_Hover-act">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/payment/google/img-spu-343-108-240401.png" width="686">
            <img src="<%= sitepath %>assets/img/guide/payment/google/img-spu-1032-160-240401.png" width="1032" height="160" alt="SPU（スーパーポイントアップ）楽天市場のお買い物がポイント最大17倍※条件あり 楽天モバイルキャリア決済ご利用でポイント＋2倍">
          </picture>
        </a>
      </div>
    </div>

    <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-32 <%= nameSpace %>-Layout_Link-list-vertical-sp">
      <li><a href="#feature" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>特長</a></li>
      <li><a href="#confirmation" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>ご利用前にご確認ください</a></li>
      <li><a href="#limit" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>ご利用限度額</a></li>
      <li><a href="#use" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>ご利用方法</a></li>
      <li><a href="#spu-rule" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>楽天市場のお買い物がポイント＋2倍</a></li>
    </ul>

    <div id="feature" class="u-Adjust_Mt-64">
      <h2 class="c-Heading_Lv2">特長</h2>
      <p class="u-Adjust_Mt-16">Google Playストアでダウンロードしたゲームアプリ内での課金や、LINEコイン、YouTube Premium、電子マガジン、Google Oneなどの料金支払いを楽天モバイルのお支払いと同じ方法で決済できるサービスです。</p>
      <div class="l-Media_List-3 u-Adjust_Mt-0">
        <div>
          <div class="u-Adjust_Mb-24">
            <h3 class="c-Heading_Lv3">簡単</h3>
            <p class="<%= nameSpace %>-Utility_Show-sp u-Adjust_Mt-8">Google Playストアのお支払い方法を設定するだけでご利用可能！<small>※</small></p>
          </div>
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/guide/payment/google/img-feature-01.png?210801" alt="">
          </div>
          <div>
            <p class="<%= nameSpace %>-Utility_Show-pc">Google Playストアのお支払い方法を設定するだけでご利用可能！<small>※</small></p>
          </div>
        </div>
        <div>
          <div class="u-Adjust_Mb-24">
            <h3 class="c-Heading_Lv3">便利</h3>
            <p class="<%= nameSpace %>-Utility_Show-sp u-Adjust_Mt-8">毎月の楽天モバイルのお支払いと同じ方法で決済できる！</p>
          </div>
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/guide/payment/google/img-feature-02.png?210801" alt="">
          </div>
          <div>
            <p class="<%= nameSpace %>-Utility_Show-pc">毎月の楽天モバイルのお支払いと同じ方法で決済できる！</p>
          </div>
        </div>
        <div>
          <div class="u-Adjust_Mb-24">
            <h3 class="c-Heading_Lv3">安心</h3>
            <p class="<%= nameSpace %>-Utility_Show-sp u-Adjust_Mt-8">楽天モバイルの提供する決済サービスだから安心！</p>
          </div>
          <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/payment/google/img-feature-03.png?210801" alt="">
          </div>
          <div>
            <p class="<%= nameSpace %>-Utility_Show-pc">楽天モバイルの提供する決済サービスだから安心！</p>
          </div>
        </div>
      </div>
      <p class="c-Txt_Cap u-Adjust_Mt-16">※Google Playストアの設定以外に、「my 楽天モバイル」でご利用設定を「有効」にする必要があります。初期設定時は「有効」に設定されています。<br><a href="<%= sitepath %>guide/payment/google/setting/index.html#google-1" class="c-Link_Txt">ご利用設定（有効／無効）の変更方法を見る</a></p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※LINEコインは、LINE株式会社の商標または登録商標です。</p>
      <div class="u-Adjust_Align-center <%= nameSpace %>-Layout_Btn-google-play">
        <a href="<%= sitepath %>guide/payment/google/google-setting/" class="c-Btn_Primary-large"><span>Google Playストアの設定方法を確認して利用開始する</span></a>
      </div>
    </div>

    <div id="confirmation" class="u-Adjust_Mt-64">
      <h2 class="c-Heading_Lv2">ご利用前にご確認ください</h2>
      <p class="u-Adjust_Mt-16">キャリア決済を利用するには「my 楽天モバイル」のお支払い方法をクレジットカードまたはデビットカードに設定しておく必要があります。</p>
      <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">※楽天モバイルキャリア決済設定時に、SMS送信料3円（税込3.3円）のご請求が発生します。あらかじめご了承ください。</p>

      <div class="l-Media_Grid <%= nameSpace %>-Layout_Grid-confirmation">
        <div class="l-Media_Image <%= nameSpace %>-Layout_Grid-confirmation-image">
          <img src="<%= sitepath %>assets/img/guide/payment/google/img-card.png?210801" alt="">
        </div>
        <div class=" <%= nameSpace %>-Layout_Grid-confirmation-txt">
          <p class="c-Txt_Emp-02">クレジットカード払いまたはデビットカード払い以外を選択されているお客様は、本サービスをご利用いただくことはできません。ご利用の前にお支払い方法の変更を行ってください。</p>

          <p class="c-Txt_Cap u-Adjust_Mt-16">※ご購入ごとにクレジットカードまたはデビットカードで決済処理を実施いたします。ご利用日に対する引き落とし時期は、ご利用のカード会社またはデビットカード発行会社の規定に準じます。</p>
          <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天モバイルキャリア決済でのお支払いは、ポイント付与対象外です。</p>

          <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/payment/change/" class="c-Link_Txt-inline">お支払い方法の確認・変更方法<span class="c-Icon_Chevron-right"></span></a></p>
          <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/payment/card/" class="c-Link_Txt-inline">クレジットカード・デビットカードでのお支払い方法<span class="c-Icon_Chevron-right"></span></a></p>
        </div>
      </div>
    </div>

    <div id="limit" class="u-Adjust_Mt-64">
      <h2 class="c-Heading_Lv2">ご利用限度額</h2>
      <p class="u-Adjust_Mt-16">
        お客様によっては異なる上限額を設定させていただいている場合がございます。<br>
        基本的には、お客様の年齢に応じてご利用限度額の範囲内で月額最大利用料が設定できます。
      </p>
      <dl class="c-Dl_Origin u-Adjust_Mt-24">
        <div>
          <dt>20歳以上</dt>
          <dd>
            200,000円
          </dd>
        </div>
        <div>
          <dt>18歳～19歳</dt>
          <dd>
            50,000円
          </dd>
        </div>
        <div>
          <dt>14歳～17歳</dt>
          <dd>
            20,000円
          </dd>
        </div>
        <div>
          <dt>13歳以下</dt>
          <dd>
            10,000円
          </dd>
        </div>
      </dl>

      <div class="c-Theme-Light u-Adjust_Mt-24">
        <h3 class="c-Heading_Lv3">お子様に関して</h3>
        <p class="u-Adjust_Mt-16">以下の設定が可能です。詳細はコミュニケーションセンターへお問い合わせください。</p>
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>本サービスの利用を制限をすること</li>
          <li>上限金額を設定し、変更できないようにすること</li>
        </ul>
        <p class="u-Adjust_Mt-16"><a href="https://network.mobile.rakuten.co.jp/inquiry/index.html#communication-center" class="c-Link_Txt-inline">コミュニケーションセンターに問い合わせる<span class="c-Icon_Chevron-right"></span></a></p>
      </div>
    </div>

    <div id="use" class="u-Adjust_Mt-64">
      <h2 class="c-Heading_Lv2">ご利用方法</h2>
      <p class="u-Adjust_Mt-16">キャリア決済の利用は、Google Playストアの設定のみでご利用いただけます。複数回線所有している場合は、回線毎に設定が必要です。以下より、設定方法を確認いただき、利用を開始してください。<br>
        また、ご利用開始後の情報変更・利用履歴の確認方法についても以下よりご確認いただけます。</p>
      <div class="u-Adjust_Align-center u-Adjust_Mt-32">
        <a href="<%= sitepath %>guide/payment/google/google-setting/" class="c-Btn_Primary-large <%= nameSpace %>-Btn_Large"><span>Google Playストアの設定方法を確認して利用開始する</span></a>
      </div>
      <div class="u-Adjust_Align-center u-Adjust_Mt-16">
        <a href="<%= sitepath %>guide/payment/google/setting/" class="c-Btn_Secondly-large <%= nameSpace %>-Btn_Large"><span>ご利用情報の変更・利用履歴の確認方法を見る </span></a>
      </div>
      <p class="c-Txt_Cap u-Adjust_Mt-32">※Google Playストアの設定以外に、「my 楽天モバイル」でご利用設定を「有効」にする必要があります。初期設定時は「有効」に設定されています。<br>
        ご利用設定を「無効」にしている場合は、Google Playストアで本サービスをご利用いただくことはできないため、「my 楽天モバイル」にてご利用設定を「有効」にしてください。<br>
        <a href="<%= sitepath %>guide/payment/google/setting/index.html#google-1" class="c-Link_Txt">ご利用設定（有効／無効）の変更方法を見る</a></p>
    </div>
    <div id="spu-rule" class="u-Adjust_Mt-64">
      <h2 class="c-Heading_Lv2">さらに楽天市場のお買い物がポイントアップ！</h2>
      <div class="c-Theme-Borderbox u-Adjust_Align-center u-Adjust_Mt-16">
        <div class="guide-Layout_Carrier">
          <h3 class="c-Heading_Lv3 u-Adjust_Align-center">楽天モバイルキャリア決済（Androidのみ）を<br class="<%= nameSpace %>-Utility_Show-pc">当月、合計2,000円（税込）以上ご利用で</h3>
          <div class="<%= nameSpace %>-Layout_Carrier-point u-Adjust_Align-center">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/payment/google/img-spu-title-sp_231201.png" width="622">
              <img src="<%= sitepath %>assets/img/guide/payment/google/img-spu-title-pc_231201.png" width="480" height="180" alt="楽天市場のお買い物がポイント＋2倍">
            </picture>
          </div>
          <p class="c-Txt_Normal u-Adjust_Mt-24" style="color: #BF0000">※Rakuten最強プランのご契約が必要です。</p>
          <p class="c-Txt_Normal u-Adjust_Mt-8" style="color: #BF0000">※楽天回線対応のAndroid製品をご利用の方が対象です。</p>
          <p class="c-Txt_Emp-02 u-Adjust_Mt-8">
            ※「Rakuten最強プラン（データタイプ）」は対象外です。
          </p>
          <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>campaign/spu/payment/#campaign-rule" class="c-Link_Txt-inline guide-Layout_Align-center">条件に関する詳細について<span class="c-Icon_Chevron-right"></span></a></p>

          <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/payment/google/img-store-sp-231201.png" width="620">
              <img src="<%= sitepath %>assets/img/guide/payment/google/img-store-pc-231201.png" width="856" height="209" alt="例えばGoogle Playストアでアプリ購入とゲームアプリ内のサービス料金を当月合わせて2,000円（税込）購入で、当月の楽天市場でのお買い物がポイント＋2倍">
            </picture>
          </div>
          <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <a href="<%= sitepath %>fee/un-limit/?l-id=guide_payment-google_spu_plan" class="c-Btn_Primary-large guide-Btn_Large"><span>楽天モバイルに申し込む</span></a>
          </div>

          <p class="c-Txt_Cap u-Adjust_Mt-16">※楽天モバイルキャリア決済ポイント+2倍は、Rakuten最強プランの料金プランをご利用の方が対象となりますので、楽天モバイル（ドコモ回線・au回線）をご利用の方は、Rakuten最強プランにプラン変更（移行）が必要となります。</p>
        </div>
      </div>
    </div>
    <div class="<%= nameSpace %>-Bnr_Container">
      <h2 class="c-Heading_Lv2">楽天グループおすすめ情報</h2>
      <ul class="<%= nameSpace %>-Bnr_List">
        <li>
          <a href="https://event.rakuten.co.jp/computer/gpgiftcard/" target="_blank">
            <img src="<%= sitepath %>assets/img/bnr/gpgiftcard-480x270.png?210524" alt="GooglePlayギフトコード">
          </a>
        </li>
      </ul>
      <%- include('/include/guide/_faq') %>
    </div>
  </div>
</div>


<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">
    <%- include('/include/footer/bnr/_bnr.ejs') %>
  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
