<% const pagetitle = "楽天ビック対象商品ご購入＋楽天モバイル（楽天回線）のオンラインお申し込みで2,000ポイントプレゼントキャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "bic_sim" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '楽天ビック対象商品ご購入＋楽天モバイル（楽天回線）のオンラインお申し込みで2,000ポイントプレゼントキャンペーン',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/bic_sim/bic_sim.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/_entry-button/rex-overwrite_v2.css?20240424">
<!-- ReX Campaign Button: stylesheet -->
<link rel="stylesheet" href="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/4.0.0/static/css/main.css?20240424" />
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<script defer="defer" src="https://r.r10s.jp/com/js/c/common/entry_button/1.1/entry_button-1.1.0.min.js"></script>
<link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout-Label">
      <ul class="c-Label_List <%= namespace %>-Layout-Label_List">
        <li class="c-Label_Normal">エントリー必要</li>
        <li><span class="<%= namespace %>-Layout-Label_point">ポイント：付与日を含めて6カ月の期間限定ポイント</span></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Hero_Return">
      <div class="l-System_Container <%= namespace %>-Hero_Container">
        <div class="<%= namespace %>-Hero_Main">
          <h1><img src="<%= sitepath %>assets/img/campaign/bic_sim/img-heading-pc.png?220822" alt="エントリー後、楽天ビックで対象商品ご購入と楽天モバイル（楽天回線）のご契約で2,000ポイントプレゼント！" class="<%= namespace %>-Utility_Img-pc"><img src="<%= sitepath %>assets/img/campaign/bic_sim/img-heading-sp.png?220822" alt="エントリー後、楽天ビックで対象商品ご購入と楽天モバイル（楽天回線）のご契約で2,000ポイントプレゼント！" class="<%= namespace %>-Utility_Img-sp"></h1>
        </div>
      </div>
    </div>
    <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
    <div class="<%= namespace %>-Layout_Body">
      <div class="l-System_Container">
        <ul class="<%= namespace %>-Table_Rule-Cap">
          <li class="c-Txt_Emp-02"><span>※</span>お申し込み、対象商品購入後のエントリーの場合、対象商品を楽天ビックで購入しなかった場合、他社から乗り換え（MNP）の場合は特典付与対象外となります。詳しくは<a href="#campaign-rule" class="js-scroll">キャンペーンルール</a>をご確認ください。</li>
          <li><span>※</span>特典はキャンペーン期間中おひとり様1度のみとなります。</li>
          <li><span>※</span>すでに楽天モバイルをご契約されている方でも、2回線目のプラン契約時に本キャンペーンの条件を満たせば特典対象となります。</li>
          <li><span>※</span>商品は売り切れ次第終了となります。</li>
        </ul>
      </div>


      <div class="l-System_Container">
        <div class="<%= namespace %>-Layout-bic_sim_Period u-Adjust_Mt-40">
          <dl>
            <dt>エントリー・<br class="<%= namespace %>-Layout-bic_sim_Sp">お申し込み<br class="<%= namespace %>-Layout-bic_sim_Sp">期間</dt>
            <dd>2022年8月22日（月）10:00～2022年9月30日（金）13:59</dd>
          </dl>
          <dl>
            <dt>楽天ビックでの対象商品のご購入期間</dt>
            <dd>2022年8月22日（月）10:00～2022年9月30日（金）13:59</dd>
          </dl>
          <dl>
            <dt>プランのお申し込み期間</dt>
            <dd>2022年8月22日（月）10:00～2022年9月30日（金）13:59</dd>
          </dl>
          <dl>
            <dt>プラン利用開始期限</dt>
            <dd>プランお申し込みの翌月末日23:59まで</dd>
          </dl>
        </div>

        <div class="campaign_conditions">
          <h2 class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンの<span class="txt-nl">達成条件</span></h2>
          <p class="u-Adjust_Mt-16">本キャンペーンには達成条件が設定されています。詳細は<a class="rmobile-rule js-scroll" href="#campaign-rule">キャンペーンルール</a>をご確認ください。</p>

          <div class="u-Adjust_Align-center u-Adjust_Mt-16">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/bic_sim/img-03-sp.png?220822">
              <img src="<%= sitepath %>assets/img/campaign/bic_sim/img-03.png?220822" alt="このページからエントリー＋楽天ビックで対象商品のご購入＋Webで楽天モバイル（楽天回線）のお申し込み※楽天モバイル（楽天回線）お申し込みが対象商品のご購入より先でも適用となります。※プラン選択後、製品は選択せずにお申し込みください。＋プランのご利用 期限までに、開通手続きをしてプランのご利用を開始してください。">
            </picture>
          </div>
        </div>
      </div>

      <div id="product" class="info_area info1 u-Adjust_Mt-48">
        <div class="info_inner">
          <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
            <div>
              <h2 class="c-Heading_Lv2">キャンペーン対象商品</h2>
              <p>楽天ビックネットショップで対象商品を購入し、楽天モバイル（楽天回線）のご契約で<span class="c-Txt_Emp-02">楽天モバイルのお支払いにも利用できる</span>楽天ポイントを2,000ポイントプレゼント！<br>
                ※商品は売り切れ次第終了となります。</p>
            </div>
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/campaign/bic_sim/img-flow-02.png?220822" alt="">
            </div>
          </div>
          <div class="c-Accordion u-Adjust_Mt-16">
            <button id="accordion-8" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-8"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>スマートフォン・タブレット</button>
            <div id="accordion-content-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-8" aria-hidden="true">
              <p class="u-Adjust_Mt-8"><a href="https://biccamera.rakuten.co.jp/item/0195553316750/" target="_blank" class="c-Link_Txt-inline">ASUS Zenfone 8 オブシディアンブラック 8GB/256GB<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/0195553316798/" target="_blank" class="c-Link_Txt-inline">ASUS Zenfone 8 ムーンライトホワイト 16GB/256GB<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/0195553316804/" target="_blank" class="c-Link_Txt-inline">ASUS Zenfone 8 ホライゾンシルバー 8GB/128GB<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/0195553316811/" target="_blank" class="c-Link_Txt-inline">ASUS Zenfone 8 ホライゾンシルバー 8GB/256GB<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/0195553316927/" target="_blank" class="c-Link_Txt-inline">ASUS Zenfone 8 Flip ギャラクティックブラック 8GB/128GB<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/0195553317023/" target="_blank" class="c-Link_Txt-inline">ASUS Zenfone 8 Flip ギャラクティックブラック 8GB/256GB<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/0195553317047/" target="_blank" class="c-Link_Txt-inline">ASUS Zenfone 8 Flip グレイシアシルバー 8GB/256GB<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/0195553503723/" target="_blank" class="c-Link_Txt-inline">ASUS ROG Phone 5s ファントムブラック 12GB/256GB<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/0195553503747/" target="_blank" class="c-Link_Txt-inline">ASUS ROG Phone 5s ストームホワイト 12GB/256GB<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/0195553503815/" target="_blank" class="c-Link_Txt-inline">ASUS ROG Phone 5s ストームホワイト 16GB/512GB<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/4580038876137/" target="_blank" class="c-Link_Txt-inline">OPPO A55s 5G ブラック<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/4580038876144/" target="_blank" class="c-Link_Txt-inline">OPPO A55s 5G グリーン<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/4580038876427/" target="_blank" class="c-Link_Txt-inline">OPPO A73 ネービー ブルー<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/4580038876441/" target="_blank" class="c-Link_Txt-inline">OPPO A73 ダイナミック オレンジ<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/4580038876472/" target="_blank" class="c-Link_Txt-inline">OPPO A54 5G シルバーブラック<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/4580038878032/" target="_blank" class="c-Link_Txt-inline">OPPO Reno7A 限定BOX ドリームブルー<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/4580038877233/" target="_blank" class="c-Link_Txt-inline">OPPO Reno A ブラック<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/4580038877455/" target="_blank" class="c-Link_Txt-inline">OPPO Reno5A アイスブルー<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/4580038877479/" target="_blank" class="c-Link_Txt-inline">OPPO Reno5A ブラック<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/4582239436134/" target="_blank" class="c-Link_Txt-inline">Motorola edge20 フロストオニキス<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/4974019137889/" target="_blank" class="c-Link_Txt-inline">SHARP AQUOS sense3 plus ブラック<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/4974019143613/" target="_blank" class="c-Link_Txt-inline">SHARP AQUOS zero2 アストロブラック<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/4974019206028/" target="_blank" class="c-Link_Txt-inline">SHARP AQUOS sense6 SHM19AC<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/4974019206035/" target="_blank" class="c-Link_Txt-inline">SHARP AQUOS sense6 SHM19AS<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/4974019206042/" target="_blank" class="c-Link_Txt-inline">SHARP AQUOS sense6 SH-M19BB<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/4974019206059/" target="_blank" class="c-Link_Txt-inline">SHARP AQUOS sense6 SH-M19BC<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/4974019206066/" target="_blank" class="c-Link_Txt-inline">SHARP AQUOS sense6 SH-M19BS<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/4974019206288/" target="_blank" class="c-Link_Txt-inline">SHARP AQUOS R6<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/4974019206684/" target="_blank" class="c-Link_Txt-inline">SHARP AQUOS wish SHM20AB<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/4974019206691/" target="_blank" class="c-Link_Txt-inline">SHARP AQUOS wish SHM20AW<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/4974019206707/" target="_blank" class="c-Link_Txt-inline">SHARP AQUOS wish SHM20AG<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/4986773211071/" target="_blank" class="c-Link_Txt-inline">Galaxy M23 5G SM-M237QZGFSJP<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/4986773211088/" target="_blank" class="c-Link_Txt-inline">Galaxy M23 5G SM-M237QLBFSJP<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/6934177739828/" target="_blank" class="c-Link_Txt-inline">Xiaomi Mi 11 Lite 5G トリュフブラック<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/6934177749728/" target="_blank" class="c-Link_Txt-inline">Xiaomi 11T Pro ムーンライトホワイト<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/6934177749780/" target="_blank" class="c-Link_Txt-inline">Xiaomi 11T Pro メテオライトグレー<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/6934177749896/" target="_blank" class="c-Link_Txt-inline">Xiaomi 11T Pro セレスティアルブルー<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/6934177750816/" target="_blank" class="c-Link_Txt-inline">Xiaomi 11T ムーンライトホワイト<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/6934177751059/" target="_blank" class="c-Link_Txt-inline">Xiaomi 11T メテオライトグレー<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/6934177767258/" target="_blank" class="c-Link_Txt-inline">Xiaomi Redmi Note 11 / Graphite Gray<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/6934177768354/" target="_blank" class="c-Link_Txt-inline">Xiaomi Redmi Note 11 / Twilight Blue<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/6934177768408/" target="_blank" class="c-Link_Txt-inline">Xiaomi Redmi Note 11 / Star Blue<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24 phone_top"><a href="#accordion-8" class="c-Link_Txt-inline"><span class="c-Icon_Arrow-up-l"></span> 商品先頭へ戻る</a></p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-9" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-9"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ノートパソコン</button>
            <div id="accordion-content-9" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-9" aria-hidden="true">
              <p class="u-Adjust_Mt-8"><a href="https://biccamera.rakuten.co.jp/item/4549980649244/" target="_blank" class="c-Link_Txt-inline">Panasonic レッツノート QVシリーズ(LTE) ブラック 2023年モデル<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/4549980649381/" target="_blank" class="c-Link_Txt-inline">Panasonic レッツノート SVシリーズ(LTE) ブラック 2023年モデル<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/4549980663066/" target="_blank" class="c-Link_Txt-inline">Panasonic レッツノート FVシリーズ(LTE) ブラック 2022年モデル<span class="c-Icon_New-window-l"></span></a></p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-10" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-10"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ルーター・その他</button>
            <div id="accordion-content-10" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-10" aria-hidden="true">
              <p class="u-Adjust_Mt-8"><a href="https://biccamera.rakuten.co.jp/item/4957180142623/" target="_blank" class="c-Link_Txt-inline">I-O DATA WN-CS300FR Wi-Fiルーター<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/4545708003732/" target="_blank" class="c-Link_Txt-inline">KEIYO 車載対応無線ルーター<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/4550161280866/" target="_blank" class="c-Link_Txt-inline">NECPF モバイルルーター Aterm ホワイト<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/6901443403875/" target="_blank" class="c-Link_Txt-inline">HUAWEI Mobile WiFi モバイルルーター ホワイト<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/4956592640505/" target="_blank" class="c-Link_Txt-inline">富士ソフト 富士ソフト モバイルルーター ブラック<span class="c-Icon_New-window-l"></span></a></p>
              <p class="u-Adjust_Mt-24"><a href="https://biccamera.rakuten.co.jp/item/4549815977269/" target="_blank" class="c-Link_Txt-inline">NEC モバイルルーター PA-MP02LN<span class="c-Icon_New-window-l"></span></a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="l-System_Container">
        <h1 id="campaign-flow" class="c-Heading_Lv1 u-Adjust_Align-center">キャンペーンの流れ</h1>
        <div class="<%= namespace %>-Layout_step u-Adjust_Mt-24">
          <div class="c-Accordion">
            <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1" data-ratid="campaign_bic_sim_flow-step1" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP1　</span>このページからエントリー</button>
            <div id="accordion-content-1" class="<%= namespace %>-Layout_step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region"
              aria-labelledby="accordion-1" aria-hidden="true">
              <ul class="<%= namespace %>-Flow_List">
                <li>
                  <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                    <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                      <img src="<%= sitepath %>assets/img/campaign/bic_sim/img-flow-01.png?220822" alt="">
                    </div>
                    <div>
                      <p class="u-Adjust_Mt-16">2022年8月22日（月）10:00～2022年9月30日（金）13:59</p>
                      <!-- ReX Campaign Entry Button: Mounting points -->
                      <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                        <li class="c-Txt_Emp-02"><span>※</span>お申し込み後のエントリーは特典付与の対象外となります。</li>
                      </ul>
                    </div>
                  </div>

                </li>
              </ul>
            </div>
          </div>
          <div class="c-Accordion u-Adjust_Mt-16">
            <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2" data-ratid="campaign_bic_sim_flow-step2" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP2　</span>楽天ビックで対象商品のご購入</button>
            <div id="accordion-content-2" class="<%= namespace %>-Layout_step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
              <ul class="<%= namespace %>-Flow_List">
                <li>
                  <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                    <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                      <img src="<%= sitepath %>assets/img/campaign/bic_sim/img-flow-02.png?220822" alt="">
                    </div>
                    <div>
                      <p class="u-Adjust_Mt-8">2022年8月22日（月）10:00～2022年9月30日（金）13:59</p>
                      <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                        <li><span>※</span>期限内であればSTEP2（楽天ビックで対象商品のご購入）とSTEP3（楽天モバイルのお申し込み）の順序を問いません。</li>
                        <li class="c-Txt_Emp-02"><span>※</span>対象商品を楽天ビックネットショップ以外で購入した場合は対象外となります。</li>
                      </ul>
                      <p class="u-Adjust_Mt-24"><a href="#product" class="c-Btn_Secondly"><span class="c-Icon_Arrow-up-l"></span>キャンペーン対象商品</a></p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="c-Accordion u-Adjust_Mt-16">
            <button type="button" id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3" data-ratid="campaign_bic_sim_flow-step3" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP3　</span>Webで楽天モバイルのお申し込み</button>
            <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3"
              aria-hidden="true">
              <div class="u-Adjust_Mt-16">
                <div>
                  <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-24">
                    <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                      <img src="<%= sitepath %>assets/img/campaign/bic_sim/img-flow-03.png?220822" alt="">
                    </div>
                    <div>
                      <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">Webから楽天モバイル（楽天回線）に申し込む</h4>
                      <p class="u-Adjust_Mt-8">2022年8月22日（月）10:00～2022年9月30日（金）13:59</p>
                      <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                        <li class="c-Txt_Emp-02"><span>※</span>未成年の方のお申し込み方法は別途<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_bic_sim_flow_for-minors">こちらのご案内ページ</a>をご確認ください。</li>
                      </ul>
                    </div>
                  </div>
                  <ul class="<%= namespace %>-Flow_List u-Adjust_Mt-16">
                    <li>
                      <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-8">
                        <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                          <img src="<%= sitepath %>assets/img/campaign/bic_sim/img-flow-04.png?220822" alt="">
                        </div>
                        <div>
                          <p class="c-Txt_Emp-01">お申し込みに必要なもの</p>
                          <div class="u-Adjust_Mt-8">
                            <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc">
                              <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/verify/?l-id=campaign_bic_sim_guide_verify" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                              <li class="u-Adjust_Mt-8">楽天会員ログイン用のユーザID、パスワード</li>
                              <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/?l-id=campaign_bic_sim_guide_payment" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                                <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                                  <span>※</span>ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001238/?l-id=campaign_bic_sim_faq_00001238">こちらのご案内ページ</a>を必ず事前にご確認ください。<br>
                                </p></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <div class="<%= namespace %>-Flow_List-step-unlimit u-Adjust_Mt-24 <%= namespace %>-Layout_step-ptn2">
                    <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-left">
                      <div class="<%= namespace %>-Flow_List-detail">
                        <div class="step-pran-change"><span class="c-Icon_New-user-f c-Txt_Emp-02"></span><h4 class="c-Heading_Lv4 u-Adjust_Mt-8"> 新規電話番号</h4></div>
                        <p class="u-Adjust_Align-center"><a href="<%= sitepath %>guide/application/?lid-r=campaign_bic_sim_guide_application1" class="c-Btn_Primary <%= namespace %>-Flow_List-button-secondly u-Adjust_Mt-24"><span>Rakuten UN-LIMIT VIIに<br class="<%= namespace %>-Layout-bic_sim_Sp">申し込む</span></a></p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                          <li class="c-Txt_Emp-02"><span>※</span>お申し込み時に製品を選択し購入した場合、他社から乗り換え（MNP）の場合は特典進呈対象外となります。</li>
                        </ul>
                        <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>fee/un-limit/?l-id=campaign_bic_sim_fee_un-limit" class="c-Link_Txt-inline">Rakuten UN-LIMIT VIIの詳細<span class="c-Icon_Chevron-right"></span></a></p>
                        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/flow/application/?l-id=campaign_bic_sim_guide_flow_application" class="c-Link_Txt-inline">Rakuten UN-LIMIT VII<br class="<%= namespace %>-Layout-bic_sim_Sp">お申し込み方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion u-Adjust_Mt-16">
            <button type="button" id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4" data-ratid="campaign_bic_sim_flow-step4" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP4　</span>「Rakuten UN-LIMIT VII」 プラン利用開始</button>
            <div id="accordion-content-4" class="<%= namespace %>-Layout_step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region"
              aria-labelledby="accordion-4" aria-hidden="true">
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/bic_sim/img-flow-05.png?220822" alt="">
                </div>
                <div>
                  <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">楽天モバイルの開通手続きを行い「Rakuten UN-LIMIT VII」 プランを利用開始する</h4>
                  <p class="u-Adjust_Mt-8">プランお申し込みの翌月末日23:59まで</p>
                  <ul class="<%= namespace %>-Table_Rule-Cap">
                    <li class="u-Adjust_Mt-8 c-Txt_Emp-02"><span>※</span>店舗（楽天モバイルショップ）でのお申し込みの場合、対象外となります。あらかじめご了承ください。</li>
                    <li class="u-Adjust_Mt-8"><span>※</span><a href="#PlanStart" class="js-scroll" data-ratid="campaign_bic_sim_PlanStart" data-ratevent="click" data-ratparam="all">プラン利用開始日の定義はこちら</a>。</li>
                  </ul>
                  <div class="u-Adjust_Mt-32">
                    <p class="<%= namespace %>-Layout-bic_sim_Sp-center-btn"><a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/" class="c-Btn_Regular <%= namespace %>-Flow_List-button"><span>スタートガイド（利用開始手順書）はこちら</span></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/bic_sim/img-04-sp.png?220822">
            <img src="<%= sitepath %>assets/img/campaign/bic_sim/img-04.png?220822" alt="楽天ポイント2,000ポイントプレゼント！※期間限定ポイント">
          </picture>
        </p>
      </div>



      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Mt-40 u-Adjust_Align-center u-Adjust_Mb-16">よくあるご質問</h2>
        <div class="u-Adjust_Mt-16">
          <div class="c-Accordion">
            <button id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>エントリーされているか、どこで確認できますか？</button>
            <div id="accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-5" aria-hidden="true">
                <p>エントリーされた場合、本キャンペーンページのエントリーボタンが「エントリー済みです」と表示されます。<br>
                  また、楽天PointClubの「<a href="https://oubo.rakuten.co.jp/list">キャンペーンエントリー履歴</a>」から確認することができます。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-6"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーン期間内に楽天モバイルに申し込みができているか、確認方法はありますか？</button>
            <div id="accordion-content-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-6" aria-hidden="true">
            <p>以下2種類の方法があります。<br>
              ①お申し込み完了メールを確認する<br>
              ②「<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile">my 楽天モバイル</a>」の申し込み履歴から確認する<br>
              詳しい手順は<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001827/">こちら</a>からもご確認いただけます。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-7" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-7"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ポイントの付与はいつになりますか？</button>
            <div id="accordion-content-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-7" aria-hidden="true">
            <p>
              「Rakuten UN-LIMIT VII」のプラン利用開始が確認された月の翌々月末日ごろに楽天モバイルにご登録の楽天IDにポイントを付与いたします。<br>
              付与されたポイントは楽天PointClubの「<a href="https://point.rakuten.co.jp/history/">ポイント実績</a>」から確認することができます。</p>
            </div>
          </div>
        </div>
      </div>


      <div class="l-System_Container u-Adjust_Mt-32" id="campaign-rule">
        <div class="u-Adjust_Mt-64">
          <div class="<%= namespace %>-Layout_Rule">
            <h2>楽天ビック対象商品ご購入＋楽天モバイル（楽天回線）のオンラインお申し込みで2,000ポイントプレゼントキャンペーン</h2>
            <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
            <div class="u-Adjust_Mt-24">
              <div class="c-Dl_Origin <%= namespace %>-campaign-Rule">
                <dl>
                  <dt>キャンペーンコード</dt>
                  <dd>
                    <p>1576</p>
                    <ul class="c-Txt_Cap u-Adjust_Mt-8">
                      <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                    </ul>
                  </dd>
                </dl>
                <dl>
                  <dt>キャンペーン期間</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">エントリー期間</p>
                    <p>- Web　2022年8月22日（月）10:00～2022年9月30日（金）13:59</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">楽天ビックでの対象商品のご購入期間</p>
                    <p>- Web　2022年8月22日（月）10:00～2022年9月30日（金）13:59</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">プランのお申し込み期間</p>
                    <p>- Web　2022年8月22日（月）10:00～2022年9月30日（金）13:59</p>
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">プラン利用開始期限</p>
                    <p>プランお申し込みの翌月末日23:59まで</p>
                  </dd>
                </dl>
                <dl>
                  <dt>キャンペーン条件</dt>
                  <dd>
                    <p>上記各項目の期間内に【1】、【2】、【3】、【4】の条件をすべて満たした楽天会員の方</p>
                    <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【1】キャンペーンへのエントリー</span><br>
                      エントリー期間内に本キャンペーンページでエントリー</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                      <li><span>※</span>エントリー前のお申し込み、対象製品購入はポイント付与の対象になりません</li>
                    </ul>
                    <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【2】楽天ビックで対象商品のご購入</span><br>
                      対象商品は<a href="#product" class="c-Link_Txt-inline">こちら</a></p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                        <li><span>※</span>期限内であれば「楽天ビックで対象商品のご購入」と「楽天モバイルのお申し込み」の順序を問いません</li>
                      </ul>
                    <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【3】「Rakuten UN-LIMIT VII」へ新規SIM（回線）のみお申し込み</span></p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                      <li><span>※</span>楽天モバイルMVNOからのプラン変更、他社から乗り換え（MNP）での契約は対象外です</li>
                    </ul>
                    <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【4】「Rakuten UN-LIMIT VII」プラン利用開始</span></p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li id="PlanStart">（1）（2）のいずれか早い方がプラン利用開始日となります<br>
                        （1）当社に配送完了データが通知された日<br>
                        （2）プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                    </ul>
                  </dd>
                </dl>
                <dl>
                  <dt>キャンペーン特典 （楽天ポイント）</dt>
                  <dt class="<%= namespace %>-campaign-Rule_Title-sub">特典内容</dt>
                  <dd>
                    <p>2,000ポイントプレゼント</p>
                  </dd>
                  <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント付与日</dt>
                  <dd>
                    <p>「Rakuten UN-LIMIT VII」のプラン利用開始が確認された月の翌々月末日ごろに付与</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>例）8月にすべての条件を達成した場合には、その翌々月である10月末日ごろにポイント付与となります</li>
                      <li><span>※</span>楽天ポイントの付与は、楽天ビックより行います</li>
                      <li><span>※</span>権利の譲渡はできません</li>
                    </ul>
                  </dd>
                  <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント有効期間</dt>
                  <dd>
                    <p>ポイント付与日を含めて6カ月</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
                      <li><span>※</span>有効期限までにポイントをご利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
                    </ul>
                  </dd>
                </dl>
                <dl>
                  <dt>特典適用対象外</dt>
                  <dd>
                    <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                      <li><span>※</span>対象商品を楽天ビックで購入しなかった場合</li>
                      <li><span>※</span>プランのお申込みを店舗（楽天モバイルショップ）で実施した場合</li>
                      <li><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                      <li><span>※</span>「楽天ビック対象商品ご購入＋楽天モバイル（楽天回線）のオンラインお申し込みで2,000ポイントプレゼントキャンペーン」の適用回数が、おひとり様1契約1回を超える場合</li>
                      <li><span>※</span>対象商品を楽天ビック以外で購入した場合</li>
                      <li><span>※</span>ご契約者 本人／利用者確認の不備により申し込みキャンセルとなった場合</li>
                      <li><span>※</span>「Rakuten UN-LIMIT VII」のプラン利用開始がされなかった場合<br>-プラン利用開始の手続き方法につきましては、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/">こちら</a>のSIMカード版スタートガイドまたはeSIM版スタートガイドを参照ください</li>
                      <li><span>※</span>他社から乗り換え（MNP）の場合</li>
                      <li><span>※</span>ポイント付与までに楽天会員から退会している場合</li>
                      <li><span>※</span>当社または楽天グループ株式会社が定める規約などに違反した場合</li>
                      <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
                    </ul>
                  </dd>
                </dl>
                <dl>
                  <dt>併用不可キャンペーン</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">以下のキャンペーンは、併用不可となります</p>
                    <p class="u-Adjust_Mt-16">キャンペーンコード：1515　Apple Watchスタートキャンペーン</p>
                    <p class="u-Adjust_Mt-16">キャンペーンコード：1517　Apple Watchスタートキャンペーン</p>
                    <p class="u-Adjust_Mt-16">キャンペーンコード：1545　楽天モバイル公式 楽天市場店 対象Apple製品と楽天回線セットご注文で16,000円OFFクーポン</p>
                    <p class="u-Adjust_Mt-16">キャンペーンコード：1547　楽天モバイル公式 楽天市場店 対象Android製品と楽天回線セットご注文で最大16,000円OFFクーポン</p>
                    <p class="u-Adjust_Mt-16">キャンペーンコード：1550　Androidスマホ/Wi-Fiルーター割引キャンペーン</p>
                    <p class="u-Adjust_Mt-16">キャンペーンコード：1551　iPhone 13 全機種 ＆ iPhone SE（第3世代）ポイント還元キャンペーン</p>
                    <p class="u-Adjust_Mt-16">キャンペーンコード：1639　iPhone 14 全機種発売記念キャンペーン</p>
                    <p class="u-Adjust_Mt-16">併用不可キャンペーンの条件を満たしていた場合、本キャンペーンは適用対象外となります。</p>
                  </dd>
                </dl>
                <dl>
                  <dt>注意事項</dt>
                  <dd>
                    <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap">
                      <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                      <li><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                      <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                      <li><span>※</span>記載の内容は2022年9月29日（木）時点の情報となります</li>
                    </ul>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>

        <!--<div class="c-Accordion u-Adjust_Mt-48" id="past-campaigns">
          <button id="accordion-11" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-11"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>過去のキャンペーン</button>
          <div id="accordion-content-11" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-11" aria-hidden="true">
            <div class="<%= namespace %>-Layout_Rule u-Adjust_Mt-0">
              <h2>楽天ビック対象商品ご購入＋楽天モバイル（楽天回線）のオンラインお申し込みで2,000ポイントプレゼントキャンペーン</h2>
              <div class="u-Adjust_Mt-24">
                <div class="c-Dl_Origin <%= namespace %>-campaign-Rule">
                  <dl>
                    <dt>キャンペーンコード</dt>
                    <dd>
                      <p>1576</p>
                      <ul class="c-Txt_Cap u-Adjust_Mt-8">
                        <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                      </ul>
                    </dd>
                  </dl>
                  <dl>
                    <dt>キャンペーン期間</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">エントリー期間</p>
                      <p>- Web　2022年8月22日（月）10:00～2022年9月30日（金）13:59</p>
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">楽天ビックでの対象商品のご購入期間</p>
                      <p>- Web　2022年8月22日（月）10:00～2022年9月30日（金）13:59</p>
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">プランのお申し込み期間</p>
                      <p>- Web　2022年8月22日（月）10:00～2022年9月30日（金）13:59</p>
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">プラン利用開始期限</p>
                      <p>プランお申し込みの翌月末日23:59まで</p>
                    </dd>
                  </dl>
                  <dl>
                    <dt>キャンペーン条件</dt>
                    <dd>
                      <p>上記各項目の期間内に【1】、【2】、【3】、【4】の条件をすべて満たした楽天会員の方</p>
                      <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【1】キャンペーンへのエントリー</span><br>
                        エントリー期間内に本キャンペーンページでエントリー</p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                        <li><span>※</span>エントリー前のお申し込み、対象製品購入はポイント付与の対象になりません</li>
                      </ul>
                      <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【2】楽天ビックで対象商品のご購入</span><br>
                        対象商品は<a href="#product" class="c-Link_Txt-inline">こちら</a></p>
                        <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                          <li><span>※</span>期限内であれば「楽天ビックで対象商品のご購入」と「楽天モバイルのお申し込み」の順序を問いません</li>
                        </ul>
                      <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【3】「Rakuten UN-LIMIT VII」へ新規SIM（回線）のみお申し込み</span></p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                        <li><span>※</span>楽天モバイルMVNOからのプラン変更、他社から乗り換え（MNP）での契約は対象外です</li>
                      </ul>
                      <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【4】「Rakuten UN-LIMIT VII」プラン利用開始</span></p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li id="PlanStart">（1）（2）のいずれか早い方がプラン利用開始日となります<br>
                          （1）当社に配送完了データが通知された日<br>
                          （2）プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                      </ul>
                    </dd>
                  </dl>
                  <dl>
                    <dt>キャンペーン特典 （楽天ポイント）</dt>
                    <dt class="<%= namespace %>-campaign-Rule_Title-sub">特典内容</dt>
                    <dd>
                      <p>2,000ポイントプレゼント</p>
                    </dd>
                    <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント付与日</dt>
                    <dd>
                      <p>「Rakuten UN-LIMIT VII」のプラン利用開始が確認された月の翌々月末日ごろに付与</p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span>例）8月にすべての条件を達成した場合には、その翌々月である10月末日ごろにポイント付与となります</li>
                        <li><span>※</span>楽天ポイントの付与は、楽天ビックより行います</li>
                        <li><span>※</span>権利の譲渡はできません</li>
                      </ul>
                    </dd>
                    <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント有効期間</dt>
                    <dd>
                      <p>ポイント付与日を含めて6カ月</p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
                        <li><span>※</span>有効期限までにポイントをご利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
                      </ul>
                    </dd>
                  </dl>
                  <dl>
                    <dt>特典適用対象外</dt>
                    <dd>
                      <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap u-Adjust_Mt-16">
                        <li><span>※</span>対象商品を楽天ビックで購入しなかった場合</li>
                        <li><span>※</span>プランのお申込みを店舗（楽天モバイルショップ）で実施した場合</li>
                        <li><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                        <li><span>※</span>「楽天ビック対象商品ご購入＋楽天モバイル（楽天回線）のオンラインお申し込みで2,000ポイントプレゼントキャンペーン」の適用回数が、おひとり様1契約1回を超える場合</li>
                        <li><span>※</span>対象商品を楽天ビック以外で購入した場合</li>
                        <li><span>※</span>ご契約者 本人／利用者確認の不備により申し込みキャンセルとなった場合</li>
                        <li><span>※</span>「Rakuten UN-LIMIT VII」のプラン利用開始がされなかった場合<br>-プラン利用開始の手続き方法につきましては、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/">こちら</a>のSIMカード版スタートガイドまたはeSIM版スタートガイドを参照ください</li>
                        <li><span>※</span>他社から乗り換え（MNP）の場合</li>
                        <li><span>※</span>ポイント付与までに楽天会員から退会している場合</li>
                        <li><span>※</span>当社または楽天グループ株式会社が定める規約などに違反した場合</li>
                        <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
                      </ul>
                    </dd>
                  </dl>
                  <dl>
                    <dt>併用不可キャンペーン</dt>
                    <dd>
                      <p class="c-Txt_Emp-01">以下のキャンペーンは、併用不可となります</p>
                      <p class="u-Adjust_Mt-16">キャンペーンコード：1515　Apple Watchスタートキャンペーン</p>
                      <p class="u-Adjust_Mt-16">キャンペーンコード：1517　Apple Watchスタートキャンペーン</p>
                      <p class="u-Adjust_Mt-16">キャンペーンコード：1545　楽天モバイル公式 楽天市場店 対象Apple製品と楽天回線セットご注文で16,000円OFFクーポン</p>
                      <p class="u-Adjust_Mt-16">キャンペーンコード：1547　楽天モバイル公式 楽天市場店 対象Android製品と楽天回線セットご注文で最大16,000円OFFクーポン</p>
                      <p class="u-Adjust_Mt-16">キャンペーンコード：1550　Androidスマホ/Wi-Fiルーター割引キャンペーン</p>
                      <p class="u-Adjust_Mt-16">キャンペーンコード：1551　iPhone 13 全機種 ＆ iPhone SE（第3世代）ポイント還元キャンペーン</p>
                      <p class="u-Adjust_Mt-16">併用不可キャンペーンの条件を満たしていた場合、本キャンペーンは適用対象外となります。</p>
                    </dd>
                  </dl>
                  <dl>
                    <dt>注意事項</dt>
                    <dd>
                      <ul class="c-List_Cap <%= namespace %>-Table_Rule-Cap">
                        <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                        <li><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                        <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                        <li><span>※</span>記載の内容は2022年8月22日（月）時点の情報となります</li>
                      </ul>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>-->
      </div>
    </div>

    <!-- ReX UX Survey: Mounting point for embedded components -->
    <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>

    <div id="js-fixed-btn" class="<%= namespace %>-Layout_Bottom-fixed" aria-expanded="false" role="region">
      <div class="<%= namespace %>-Layout_Bottom-fixed-inner">
        <a href="<%= sitepath %>guide/application/?lid-r=campaign_bic_sim_f_guide_application" class="c-Btn_Primary <%= namespace %>-Layout_Bottom-fixed-btn"><span class="<%= namespace %>-Layout_Bottom-fixed-btn-txt">楽天モバイル（楽天回線）お申し込み</span></a>
      </div>
      <p class="<%= namespace %>-Layout_Bottom-fixed-txt">※お申し込み、対象商品購入後のエントリー、プラン選択後に製品を選択し購入された場合は特典付与対象外となります。</p>
    </div>

    <footer class="g-Footer u-Adjust_Mt-64 <%= namespace %>-Layout_Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>

<!-- ReX UX Survey: Config -->
<script>
  window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
</script>

<!-- ReX UX Survey: Script -->
<script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>

<!-- ReX Campaign Entry Button: Configuration -->
<script>var rexButtons = [{"code":"/rmobile/bicsim/220822","theme":"red","wide":false,"showCelebration":false,"isbic_simed":true,"ids":["rex-ceb-01","rex-ceb-02","rex-ceb-03"]}]</script>

<!-- ReX Campaign Entry Button: Script -->
<script src="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/4.0.0/static/js/main.js" defer></script>
</body>
</html>
