<% const pagetitle = "注意事項" -%>
<% const directories = [{path:"area/", label:"通信・エリア"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<% const directory = "rakuten-casa" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/area/casa/area-casa.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="area-casa-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

    <p class="u-Adjust_Mt-32">ご使用の前に、この「安全上のご注意」をよくお読みのうえ、正しくお使いください。ここに示した注意事項は、お使いになる人や、他の人への危害、財産への損害を未然に防ぐための内容を記載していますので、必ずお守りください。</p>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-48">危険</h2>
    <div class="c-Infobox_Standing-alert u-Adjust_Mt-24">
      <p class="c-Txt_Emp-01">取扱いを誤った場合、「死亡または重傷を負う危険が切迫して生じることが想定される」内容です。</p>
    </div>
    <dl class="c-Dl_Origin area-casa-List_Attention u-Adjust_Mt-24">
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-06.png" width="40" height="40" alt=""></span>分解禁止</dt>
        <dd>本製品や電源アダプターに重いものを乗せたり、熱器具を近づけたり、引っ張ったり、修理、分解、改造しないでください。また、電源アダプターを接続した状態で、重いものを乗せたり、接続部に無理な力を加えないでください。<br>火災、やけど、けが、感電などの原因となります。また、改造等を施された本機器を使用した場合は、電波法に抵触しますので、絶対に行わないでください。</dd>
      </div>
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-01.png" width="40" height="40" alt=""></span>禁止</dt>
        <dd>高温になる場所や熱のこもりやすい場所（火のそば、暖房器具のそば、こたつや布団の中、テレビ台、本棚など密閉された場所、直射日光の当たる場所）で使用、保管、放置しないでください。火災、やけど、けが、感電などの原因となります。</dd>
      </div>
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-01.png" width="40" height="40" alt=""></span>禁止</dt>
        <dd>コンセントをショートさせないでください。また、コンセントに電源アダプターを抜き差しするときは、金属製品（ネックレス、ヘアピン、鉛筆の芯など）を接触させないよう注意し、差し込むときは確実に差し込んでください。<br>確実に差し込まないと、火災、やけど、感電などの原因となります。</dd>
      </div>
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-01.png" width="40" height="40" alt=""></span>禁止</dt>
        <dd>電子レンジや高圧容器などの中に入れないでください。火災、やけど、けが、感電などの原因となります。</dd>
      </div>
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-01.png" width="40" height="40" alt=""></span>禁止</dt>
        <dd>火の中に投入したり、加熱したりしないでください。火災、やけど、けが、感電などの原因となります。</dd>
      </div>
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-03.png" width="40" height="40" alt=""></span>水漏れ禁止</dt>
        <dd>水などの液体（飲料水、汗、ペットの尿など）で濡らさないでください。火災、やけど、けが、感電などの原因となります。</dd>
      </div>
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-02.png" width="40" height="40" alt=""></span>指示</dt>
        <dd>本製品に当社の指定する機器以外は取り付けないでください。電源アダプター・ケーブル類は必ず付属のものを使用し、それ以外のものは絶対に使用しないでください。また、付属の電源アダプターは、他の製品に使用しないでください。機器故障、火災、やけど、けが、感電などの原因となります。</dd>
      </div>
    </dl>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">警告</h2>
    <div class="c-Infobox_Standing-warning u-Adjust_Mt-24">
      <p class="c-Txt_Emp-01">取扱いを誤った場合、「死亡又は重傷を負う可能性が想定される」内容です。</p>
    </div>
    <dl class="c-Dl_Origin area-casa-List_Attention u-Adjust_Mt-24">
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-01.png" width="40" height="40" alt=""></span>禁止</dt>
        <dd>落下させる、投げつけるなど強い衝撃を与えないでください。<br>機器故障、火災、やけど、けが、感電などの原因となります。</dd>
      </div>
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-01.png" width="40" height="40" alt=""></span>禁止</dt>
        <dd>使用中に、テーブルクロスなどの布やレースなどで覆ったり、包んだりしないでください。また、梱包箱やビニール袋に入れたまま使用したり、押入れ、本棚に入れたり、本体 と同じような電子機器を横に並べて使用しないでください。<br>火災、やけどなどの原因となります。</dd>
      </div>
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-01.png" width="40" height="40" alt=""></span>禁止</dt>
        <dd>本体を横に倒して設置しないでください。<br>通信エリアが狭くなる他、故障の原因となります。</dd>
      </div>
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-02.png" width="40" height="40" alt=""></span>指示</dt>
        <dd>電源アダプターを本製品やコンセントから抜くときは、電源アダプターのコードを引っ張るなど無理な力を加えず、電源プラグ（差し込み部）を持って抜いてください。<br>電源アダプターのコードを引っ張るとコードが傷つき、火災、やけど、感電などの原因となります。</dd>
      </div>
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-04.png" width="40" height="40" alt=""></span>電源プラグを抜く</dt>
        <dd>使用中に、異臭、異音、発煙、発熱、変色、変形、破損などの異常がみられた場合は、電源アダプターを抜き、当社までご連絡ください。<br>上記の作業を行わないと、火災、やけど、けが、感電などの原因となります。</dd>
      </div>
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-04.png" width="40" height="40" alt=""></span>電源プラグを抜く</dt>
        <dd>本製品および付属品を掃除する際は、電源アダプターをコンセントから抜き、乾いた布をご使用ください。化学洗剤、パウダー、その他揮発性・引火性のある化学薬剤（アルコールやベンジン）を使用すると、機器故障や火災の原因となる場合があります。<br>抜かずに行うと、火災、やけど、感電などの原因となります。</dd>
      </div>
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-04.png" width="40" height="40" alt=""></span>電源プラグを抜く</dt>
        <dd>水などの液体（飲料水、汗、ペットの尿など）や異物が入った場合は、直ちにコンセントから電源アダプターを抜き、当社までご連絡ください。また、水などが直接かかる場所や風呂場など湿気の多い場所での使用は絶対にしないでください。<br>火災、やけど、感電などの原因となります。</dd>
      </div>
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-05.png" width="40" height="40" alt=""></span>濡れ手禁止</dt>
        <dd>濡れた手で本製品、電源アダプターのコードや接続ケーブルに触れないでください。<br>火災、やけど、感電などの原因となります。</dd>
      </div>
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-02.png" width="40" height="40" alt=""></span>指示</dt>
        <dd>電源アダプターとコンセントの間のほこり・ごみは、定期的に（半年に1回程度）取り除いてください。また、電源コードもあわせて定期的に点検していただき、曲がり、ねじれ、傷などがないか確認してください。使用中に電源アダプターのコードの一部が熱かったり、折り曲げ傷がある場合は、すぐに使用を中止して電源アダプターを抜き、当社までご連絡ください。そのまま使用すると、火災などの原因となります。</dd>
      </div>
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-02.png" width="40" height="40" alt=""></span>指示</dt>
        <dd>ペットなどが本製品に噛みつかないようご注意ください。<br>発火、破裂、発熱により、火災、やけど、けがなどの原因となります。</dd>
      </div>
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-02.png" width="40" height="40" alt=""></span>指示</dt>
        <dd>落雷の恐れがある時は、雷が発生する前に電源アダプターやモジュラーケーブルを抜いてください。雷が鳴り出したら、本製品や電源アダプターや接続ケーブルには触れないでください。<br>感電などの原因となります。</dd>
      </div>
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-01.png" width="40" height="40" alt=""></span>禁止</dt>
        <dd>電源アダプターのコードを束ねたり、許容量以上の配線はおやめください。また、たこ足配線のコンセントに差し込まないでください。<br>火災などの原因となります。</dd>
      </div>
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-01.png" width="40" height="40" alt=""></span>禁止</dt>
        <dd>本製品を医療機器や高い安全性が要求される用途では使用しないでください。人が死亡または重傷を負う可能性があり、社会的に大きな混乱が発生するおそれがあります。</dd>
      </div>
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-02.png" width="40" height="40" alt=""></span>指示</dt>
        <dd>植込み型心臓ペースメーカーおよび植込み型除細動器などの医用電気機器を装着されている場合は、装着部から本機器を15cm以上離して使用してください。<br>電波により医用電気機器の作動に悪影響を及ぼす原因となります。</dd>
      </div>
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-02.png" width="40" height="40" alt=""></span>指示</dt>
        <dd>自宅療養などにより医療機関の外で、植込み型心臓ペースメーカーおよび植込み型除細動器以外の医用電気機器を使用される場合には、電波による影響について個別に医用電気機器メーカーなどにご確認ください。<br>電波により医用電気機器の作動に悪影響を及ぼす原因となります。</dd>
      </div>
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-02.png" width="40" height="40" alt=""></span>指示</dt>
        <dd>医療機関などでは、以下を守ってください。本製品の電波により医用電気機器に影響を及ぼすおそれがあります。
          <ul class="c-List_Text-disc u-Adjust_Mt-16">
            <li>手術室、集中治療室（ICU 等）、検査室、治療室、診察室では、本製品を使用しないでください。</li>
            <li>待合室、ロビー、食堂、廊下、エレベーターホール等、近くに医用電気機器があるときは本製品を使用しないでください。また、医用電気機器を使用している患者が近づく可能性がある場所では、本製品を使用しないでください。</li>
            <li>医療機関が個々に使用禁止、持ち込み禁止などの場所を定めている場合は、その医療機関の指示に従ってください。</li>
          </ul>
        </dd>
      </div>
    </dl>
    <dl class="u-Adjust_Mt-32">
      <dt class="c-Txt_Emp-01">【医用電気機器近くでの取り扱いについて】</dt>
      <dd class="u-Adjust_Mt-8">ここで記載している内容は「医用電気機器への電波の影響を防止するための携帯電話端末等の使用に関する指針」(電波協議会[平成26年8月])ならびに「各種電波利用機器の電波が植え込み型医療機器等へ及ぼす影響を防止するための指針」(総務省[平成27年8月])の内容を参考にしたものです。</dd>
    </dl>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">注意</h2>
    <div class="c-Infobox_Standing-warning u-Adjust_Mt-24">
      <p class="c-Txt_Emp-01">取扱いを誤った場合、「軽傷を負う可能性が想定される場合および物的損害の発生が想定される」内容です。</p>
    </div>
    <dl class="c-Dl_Origin area-casa-List_Attention u-Adjust_Mt-24">
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-01.png" width="40" height="40" alt=""></span>禁止</dt>
        <dd>ぐらついた台の上や傾いた場所など、不安定な場所には置かないでください。<br>落下して、けがや破損などの原因となります。</dd>
      </div>
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-01.png" width="40" height="40" alt=""></span>禁止</dt>
        <dd>本製品、および電源アダプターを湿気やほこりの多い場所での使用、保管はしないでください。<br>火災、やけど、感電などの原因となります。</dd>
      </div>
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-01.png" width="40" height="40" alt=""></span>禁止</dt>
        <dd>本製品を電子レンジや冷蔵庫等、強力な磁場や磁界が発生する電子機器のそばに置かないでください。<br>機器故障などの原因となります。</dd>
      </div>
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-02.png" width="40" height="40" alt=""></span>指示</dt>
        <dd>本製品は0～45℃の範囲でご使用ください。極端な高温や低温環境、直射日光のあたる場所でのご使用、保管は避けてください。<br>変更や機器故障の原因となります。</dd>
      </div>
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-02.png" width="40" height="40" alt=""></span>指示</dt>
        <dd>乳幼児の手の届く場所に置かないでください。<br>誤って破損させたり、けが、感電などの原因となります。</dd>
      </div>
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-01.png" width="40" height="40" alt=""></span>禁止</dt>
        <dd>本製品を横向きや逆さにして使用しないでください。<br>内部の温度が上がり、火災や機器故障などの原因となります。</dd>
      </div>
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-01.png" width="40" height="40" alt=""></span>禁止</dt>
        <dd>本製品や付属品のラベルを剥がさないでください。</dd>
      </div>
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-01.png" width="40" height="40" alt=""></span>禁止</dt>
        <dd>本製品、および電源アダプターに触れ続けないでください。使用中に本製品表面が熱くなり、お客さまの体質や体調によっては肌の赤みやかゆみ、かぶれ、低温やけどなどの原因となります。低温やけどは、一定箇所に発熱体が触れたままになっているときなど、肌に紅斑（こうはん）、水泡（すいほう）などの症状を起こすやけどのことです。肌の弱い方などは特にご注意ください。皮膚に異常を感じたときにはすぐに使用をやめ、皮膚科専門医にご相談ください。</dd>
      </div>
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-01.png" width="40" height="40" alt=""></span>禁止</dt>
        <dd>コンセントや配線器具の定格を超える 使いかたはしないでください。たこ足配線などで定格を超えると、発熱による火災の原因となります。</dd>
      </div>
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-01.png" width="40" height="40" alt=""></span>禁止</dt>
        <dd>腐食性の薬品のそばや腐食性ガスの発生する場所に置かないでください。<br>故障の原因となります。</dd>
      </div>
      <div>
        <dt><span><img src="<%= sitepath %>assets/img/area/<%= directory %>/icon-attention-01.png" width="40" height="40" alt=""></span>禁止</dt>
        <dd>キャッシュカード・フロッピーディスク・クレジットカード・テレホンカードなどの磁気を帯びた物を近付けたりしないでください。記録内容が消失される場合があります。</dd>
      </div>
    </dl>
    <dl class="u-Adjust_Mt-32">
      <dt class="c-Txt_Emp-01">【ご利用にあたって】</dt>
      <dd class="u-Adjust_Mt-8">ランプが正常に点灯した後も品質維持のため自動的に再起動する場合があります。</dd>
    </dl>

    <!-- <ul class="u-Adjust_Mt-64">
      <li><a href="<%= sitepath %>product/internet/rakuten-casa/index.html" class="c-Btn_Regular-semiauto"><span>Rakuten Casaの詳細に戻る</span></a></li>
    </ul> -->

  </div>
</div>

<footer class="g-Footer">

  <div class="g-Footer_Aside">
    <%- include('/include/footer/related/_related-service-v2.ejs') %>
  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>
  <%- include('/include/_footer') %>
</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
