<% const pagetitle = "Rakuten Turboのお申し込み方法" -%>
<% const directories = [{path:"internet/turbo/support/", label:"お客様サポート"}, {path:"internet/turbo/support/flow/", label:"申し込みからお受け取りまでの流れ"}] -%>
<% const namespace = "support-smallcategory" -%>
<%
  const pageInfo = {
    namespace,
    isUserCategory: false
  };
%>
<%-
 include('/_header', {
    pagetitle,
    directories,
    description: '楽天モバイルのホームルーターRakuten TurboをWebサイトからお申し込みいただく際の手順をご確認いただけます',
    noindex: false,
    pathname: filepath,
    isTurbo: true
  });
%>

<%- include('/include/_common-css-v2') %>
<%- include('/include/internet/turbo/support/_smallcategory-css') %>
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/internet/turbo/_prepend-body-internet') %>
  <div class="l-System">
    <%- include('/include/internet/turbo/_header', {
      pagetitle,
      directories,
      tax: false,
    }) %>

    <div class="l-System_Container">
      <section class="u-Adjust_Mt-32">
        <h1 class="c-Heading_Lv1 <%= namespace %>-Utility_Heading_Lv1"><%= pagetitle %></h1>
        <p class="u-Adjust_Mt-24">Webページから「Rakuten Turbo」をお申し込みいただく際の手順をご案内いたします。</p>
      </section>

      <section class="u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">事前準備</h2>
        <ul class="c-List_Text-disc u-Adjust_Mt-24">
          <li>
            お申し込みに必要な本人確認書類をご確認のうえ、ご用意ください。<br>
            <span class="c-Txt_Cap">※未成年のお客様は、「未成年に必要な本人確認書類を見る」をご確認ください。</span><br>
            <ul class="<%= namespace %>-List_Basic u-Adjust_Mt-16">
              <li><a href="<%= sitepath %>internet/turbo/support/flow/verify/" class="c-Link_Txt-inline">本人確認書類を見る<span class="c-Icon_Chevron-right"></span></a></li>
              <li><a href="<%= sitepath %>flow/for-minors/#section03" class="c-Link_Txt-inline">未成年に必要な本人確認書類を見る<span class="c-Icon_Chevron-right"></span></a></li>
            </ul>
          </li>
          <li>楽天会員にご登録済みのお客様は、ログインIDとパスワードをご用意ください。</li>
        </ul>
      </section>

      <section class="u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">お申し込み方法</h2>
        <ol class="c-Flow u-Adjust_Mt-24">
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">1. 上の「お申し込み」ボタンをタップする</h3>
            <div class="u-Adjust_Align-center u-Adjust_Mt-24">
              <img src="<%= sitepath %>assets/img/internet/turbo/support/flow/application/cap-01.png" alt="1. 上の「お申し込み」ボタンをタップする" width="300" height="80" class="c-Img_Capture">
            </div>
          </li>
          <!-- <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">2. 設置予定の住所が通信対応エリアであることを確認する</h3>
            <div class="u-Adjust_Align-center u-Adjust_Mt-24">
              <img src="<%= sitepath %>assets/img/internet/turbo/support/flow/application/cap-02-230405.png" alt="2. 設置予定の住所が通信対応エリアであることを確認する" width="298" height="641" class="c-Img_Capture">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">3. 通信環境を確認後、「設置先が対応エリア、推奨環境であることを確認した」にチェックを入れ、「Rakuten Turboのお申し込みを続ける」をタップする</h3>
            <div class="u-Adjust_Align-center u-Adjust_Mt-24">
              <img src="<%= sitepath %>assets/img/internet/turbo/support/flow/application/cap-03-230405.png" alt="3. 通信環境を確認後、「設置先が対応エリア、推奨環境であることを確認した」にチェックを入れ、「Rakuten Turboのお申し込みを続ける」をタップする" width="298" height="740" class="c-Img_Capture">
            </div>
          </li> -->
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">2. Rakuten Turbo 5G本体 の支払い回数を選択し、「申し込む」をタップする</h3>
            <div class="u-Adjust_Align-center u-Adjust_Mt-24">
              <img src="<%= sitepath %>assets/img/internet/turbo/support/flow/application/cap-04-230330.png" alt="4. Rakuten Turbo 5G本体 の支払い回数を選択し、「申し込む」をタップする" width="298" height="726" class="c-Img_Capture">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">3. my 楽天モバイルにログインする</h3>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">※楽天会員に登録されていない方は新規登録を行ってください。</p>
            <div class="u-Adjust_Align-center u-Adjust_Mt-24">
              <img src="<%= sitepath %>assets/img/internet/turbo/support/flow/application/cap-05.png" alt="5. my 楽天モバイルにログインする" width="298" height="498" class="c-Img_Capture">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">4. 契約者情報に間違いがないことを確認し、チェックを入れる</h3>
            <div class="u-Adjust_Align-center u-Adjust_Mt-24">
              <img src="<%= sitepath %>assets/img/internet/turbo/support/flow/application/cap-06-01-230405.png" alt="6. 契約者情報に間違いがないことを確認し、チェックを入れる" width="298" height="471" class="c-Img_Capture">
            </div>
            <p class="u-Adjust_Mt-24 c-Txt_Emp-01">18歳未満のお客様の場合</p>
            <p class="u-Adjust_Mt-16">
              法定代理人同意書 兼 支払名義人同意書を「フォームのダウンロード」よりダウンロードしてください。<br>
              保護者（親権者）にてご記入いただき、「書類を読み取る」より画像をアップロードをしてください。
            </p>
            <div class="u-Adjust_Align-center u-Adjust_Mt-24">
              <img src="<%= sitepath %>assets/img/internet/turbo/support/flow/application/cap-06-02.png" alt="法定代理人同意書 兼  支払名義人同意書のダウンロードとアップロード" width="298" height="306" class="c-Img_Capture">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">5. 本人確認書類の提出方法を選択し、「次へ進む」をタップする</h3>
            <div class="u-Adjust_Align-center u-Adjust_Mt-24">
              <img src="<%= sitepath %>assets/img/internet/turbo/support/flow/application/cap-07-230330.png" alt="7. 本人確認書類の提出方法を選択し、「次へ進む」をタップする" width="298" height="688" class="c-Img_Capture">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">6. 配送先住所・設置先住所を登録する</h3>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">※配送先住所を変更する場合は、「変更」をタップしてください。</p>
            <div class="u-Adjust_Align-center u-Adjust_Mt-24">
              <img src="<%= sitepath %>assets/img/internet/turbo/support/flow/application/cap-08.png" alt="8. 配送先住所・設置先住所を登録する" width="298" height="476" class="c-Img_Capture">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">7. プラン料金・製品代金のお支払い方法、お支払い回数を選択し「申し込む」をタップする</h3>
            <div class="u-Adjust_Align-center u-Adjust_Mt-24">
              <img src="<%= sitepath %>assets/img/internet/turbo/support/flow/application/cap-09-230330.png" alt="9. プラン料金・製品代金のお支払い方法、お支払い回数を選択し「申し込む」をタップする" width="298" height="648" class="c-Img_Capture">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">8. 重要事項説明・利用規約を確認し「上記内容を確認し、同意しました」にチェックを入れ、「同意して申し込む」をタップする</h3>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">※契約書の郵送をご希望の場合は、「my 楽天モバイルで契約内容を確認する」のチェックを外してください。</p>
            <div class="u-Adjust_Align-center u-Adjust_Mt-24">
              <img src="<%= sitepath %>assets/img/internet/turbo/support/flow/application/cap-10.png" alt="10. 重要事項説明・利用規約を確認し「上記内容を確認し、同意しました」にチェックを入れ、「同意して申し込む」をタップする" width="298" height="624" class="c-Img_Capture">
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">9. お申し込み完了</h3>
            <p class="u-Adjust_Mt-16">
              お申し込みが完了いたしました。本人確認の審査が完了次第、発送準備に入りますのでお待ちください。<br>
              本人確認の審査状況、発送状況、お申し込み内容などは「<a href="<%= ecarepath %>my-rakuten-mobile/" data-lid_no="02" target="_blank" rel="noopener noreferrer" class="c-Link_Txt-inline">my 楽天モバイル<span class="c-Icon_New-window-l"></span></a>」でご確認いただけます。
            </p>
            <div class="u-Adjust_Align-center u-Adjust_Mt-24"><img src="<%= sitepath %>assets/img/internet/turbo/support/flow/application/cap-11.png" alt="11. お申し込み完了" width="298" height="272" class="c-Img_Capture"></div>
          </li>
        </ol>
      </section>
    </div>

    <section class="u-Adjust_Pt-80">
      <div class="<%= namespace %>-Layout_Category">
        <div class="l-System_Container">
          <%- include('/include/internet/turbo/support/_smallcategory-category', { pageInfo }) %>
        </div>
      </div>
    </section>

    <div class="u-Adjust_Mt-24">
      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
      <%- include('/include/internet/turbo/_footer', { directories, pagetitle }) %>
    </div>
  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
  <%- include('/include/internet/turbo/_rex-survey') %>

</body>

</html>
