<% const pagetitle = "楽天ひかりUN-LIMITキャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "hikari" -%>
<% const isClosed = "false" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: 'ひかり回線が月額基本料1年無料！楽天ひかりと楽天モバイルRakuten UN-LIMIT VIご契約の方がキャンペーン対象です。',
    noindex: true,
    pathname: filepath,
    canonical_custom: 'https://network.mobile.rakuten.co.jp/campaign/hikari/'
  });
%>
<%- include('/include/_append-head') %>

<meta http-equiv="refresh" content="0; URL=<%= sitepath %>campaign/hikari/">

</head>
<body data-phoenix-hikari_campaign_ab_responsive>
<%- include('/include/_prepend-body-hikari') %>
<%- include('/include/_append-body') %>
</body>
</html>
