<div class="u-Adjust_Mt-64">
  <h2 class="u-Adjust_<%= cls.headAlign %> c-Heading_Lv2"><span class="c-Txt_Normal-m">お困りごと解決！</span><br>みんなの楽天モバイル<br class="u-Show_Sp">コミュニティ</h2>
  <div class="support-Layout_<%= cls.box %> u-Adjust_Mt-24 u-Adjust_Mt-sp-16">
    <picture>
      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/support/community-support-343-253.png" width="100%">
      <img src="<%= sitepath %>assets/img/support/community-support-1032-206.png" width="1032" height="206" alt="" loading="lazy">
    </picture>
    <div class="support-Layout_Community-content u-Adjust_Mt-24 u-Adjust_Mt-sp-16">
      <p class="u-Adjust_Align-center">お困りごとをみんなで質問・回答できる！解決したお困りごとの検索もできます。</p>
      <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
        <a href="https://community.mobile.rakuten.net/" class="c-Btn_Regular-large" target="_blank" data-ratid="<%= ratId %>" data-ratevent="click" data-ratparam="all"><span>コミュニティへ進む</span><span class="c-Icon_New-window-l u-Adjust_Ml-8"></span></a>
      </div>
    </div>
  </div>
</div>
