<% const {namespace, subCategory, linkListContent, path} = pageInfo -%>
<div class="<%= namespace %>-Layout_Main">
  <div class="l-System_Container">
    <div class="<%= namespace %>-Main_Heading <%= path === 'support/suspension/suspension/' ? "" : "u-Adjust_Align-center" %>">
      <h1 class="c-Heading_Lv1"><%= subCategory %>に関する<br class="<%= namespace %>-Utility_Disp-sp">サポート</h1>
      <% if(path === 'support/suspension/suspension/') { -%>
        <p class="u-Adjust_Mt-16">スマートフォンの紛失・盗難時の対応方法についてご案内いたします。</p>
      <% } else { -%>
        <p class="u-Adjust_Mt-16"><%= subCategory %>に関する知りたい・調べたい情報をお選びください。</p>
      <% }  -%>
      </div>
    <ul class="c-Link_List <%= namespace %>-Main_List u-Adjust_Mt-24">
      <% linkListContent.forEach(function(elem) { -%>
        <% if ('param' in elem) { -%>
        <li>
          <a href="<%= sitepath %><%= elem.path %>/<%= elem.param %>"><%= elem.name %><span class="c-Icon_Chevron-right"></span></a>
        </li>
        <% } else if ('ratid' in elem) { -%>
          <li>
            <a href="<%= elem.path %>" data-ratId="<%= elem.ratid %>" data-ratEvent="click" data-ratParam="all" target="_blank"><%= elem.name %><span class="c-Icon_Chevron-right"></span></a>
          </li>
        <% } else { -%>
        <li>
          <% if (elem.path.startsWith("http")) { -%>
          <a href="<%= elem.path %>" target="_blank"><%= elem.name %><span class="c-Icon_New-window-l"></span></a>
          <% } else { -%>
          <a href="<%= sitepath %><%= elem.path %>/<%_ if (elem.l_id) { _%><%= elem.l_id %><%_ } else { _%>?l-id=support_category_guide<%_ } _%>"><%= elem.name %><span class="c-Icon_Chevron-right"></span></a>
          <% } -%>
        </li>
        <% } -%>
      <% }); -%>
    </ul>
    <!-- キャンペーンクローズ時は以下を削除 -->
    <div class="u-Adjust_Mt-32 u-Adjust_Mb-32 u-Adjust_Align-center">
      <a href="<%= sitepath %>campaign/support-survey/?l-id=support_category_campaign_support-survey" class="c-Banner_Hover-act">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-support-survey-328-185.png">
          <img src="<%= sitepath %>assets/img/bnr/bnr-support-survey-1032-160.png" alt="楽天モバイルをご利用中の方限定 お客様サポートページのご意見聞かせて！キャンペーン 抽選で100名様にアンケートに答えると1,500ポイントプレゼント！">
        </picture>
      </a>
    </div>
  </div>
</div>
