<% const information = {
  campaignType:'お買い物マラソン',
  campaignName:'楽天市場のお買い物マラソン連動企画 Rakuten最強プランのお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン',
  couponCode:'ICHBIG00000035',
  webApplySchedule:'2024年5月21日（火）10:00～2024年5月27日（月）09:59',
  shopingSchedule:'2024年5月23日（木）20:00～2024年5月27日（月）01:59',
  planUseSchedule:'2024年6月30日（日）23:59まで',
  appCallSchedule:'2024年6月30日（日）23:59まで',
  givePointSchedule:'2024年9月末日',
  campaignState:'start'
}; %>
<% const pagetitle = "楽天市場のお買い物マラソン連動企画 Rakuten最強プランのお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン | キャンペーン・特典 " -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "marathon" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  description: '楽天市場のお買い物マラソン連動企画 Rakuten最強プランのお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%>
<% const finishSchedule = "2024年5月27日" -%>
<% const hiddenItem = "false" -%>
<%- include('/include/_common-css-v2') %>
<%- include('/inc/_about-rakuten-mobile-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/<%= namespace %>/<%= namespace %>.css?240521">
<%- include('/inc/_saikyo-plan-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<% if (hiddenItem == 'true') { %>
  <!-- Modal -->
  <div id="overlay" class="<%= namespace %>-Modal_Overlay"></div>
  <div id="modal_Contents" class="<%= namespace %>-Modal_Contents">
    <div class="<%= namespace %>-Modal_Contents-area">

      <div class="<%= namespace %>-Kv_Attention">
        <p><span class="c-Icon_Sign-warning-f"></span>お申し込み前に必ずご確認ください</p>
        <ul class="u-Adjust_Mt-8">
          <li><span>・</span>本ページの「お申し込みはこちら」ボタンよりお手続きください。「お申し込みはこちら」ボタン以外からお手続きされた場合は特典適用対象外となります。</li>
          <li><span>・</span>「お申し込み内容」画面でクーポンコード14桁の英数字が表示されていることをご確認のうえ、お申し込みを完了してください。表示されていない場合は特典適用対象外となるため、再度本ページの「お申し込みはこちら」ボタンよりお申し込みをやり直してください。</li>
          <li><span>※</span>詳細は<a href="#campaign-caution" class="js-scroll coupon-Close" data-ratid="campaign_bigsale_index-top-attention" data-ratevent="click" data-ratparam="all">お申し込み時の注意点</a>をご確認ください。</li>
        </ul>
      </div>

      <div class="u-Adjust_Mt-8 u-Adjust_Align-center couponbtn">
        <a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=<%= information.couponCode %>&l-id=campaign_<%= namespace %>_coupon_link01" id="couponid_01" class="c-Btn_Primary-large hidden" data-ratid="campaign_bigsale_guide-application-kanban_2" data-ratevent="click" data-ratparam="all"><span>お申し込みはこちら</span></a>
        <a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=<%= information.couponCode %>&l-id=campaign_<%= namespace %>_coupon_link02" id="couponid_02" class="c-Btn_Primary-large hidden" data-ratid="campaign_bigsale_guide-application-former_2" data-ratevent="click" data-ratparam="all"><span>お申し込みはこちら</span></a>
        <a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=<%= information.couponCode %>&l-id=campaign_<%= namespace %>_coupon_link03" id="couponid_03" class="c-Btn_Primary-large hidden" data-ratid="campaign_bigsale_guide-application-later_2" data-ratevent="click" data-ratparam="all"><span>お申し込みはこちら</span></a>
        <a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=<%= information.couponCode %>&l-id=campaign_<%= namespace %>_f_coupon_link" id="couponid_f" class="c-Btn_Primary-large hidden" data-ratid="campaign_bigsale_guide-application-float_2" data-ratevent="click" data-ratparam="all"><span>お申し込みはこちら</span></a>
      </div>
    </div>
    <div class="<%= namespace %>-Modal_closebtn coupon-Close"><p>×</p></div>
  </div>
  <!-- /Modal -->
<% } %>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header',{applyHide:true}) %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= information.campaignName %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout_Label">
      <ul class="c-Label_List <%= namespace %>-Layout_Label-list">
        <li class="c-Label_Normal">プランのみ申込可</li>
        <li class="c-Label_Normal">Rakuten Link利用必要</li>
        <li class="<%= namespace %>-Layout_Label-right-area">
          <div class="<%= namespace %>-Layout_Label-link <%= namespace %>-Layout_Display-pc"><a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_002627" class="c-Link_Txt-inline">楽天市場トップへ<span class="c-Icon_Chevron-right"></span></a></div>
          <div class="<%= namespace %>-Layout_Label-link <%= namespace %>-Layout_Display-sp"><a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_002628" class="c-Link_Txt-inline">楽天市場トップへ<span class="c-Icon_Chevron-right"></span></a></div>
        </li>
      </ul>
    </div>
    <div class="u-Rat_Appear-height" data-ratid="campaign_bigsale_scroll-01_top" data-ratevent="appear"></div>
    <div class="<%= namespace %>-Hero_Return u-Adjust_Mt-8">
      <div class="l-System_Container <%= namespace %>-Hero_Container">
        <div class="<%= namespace %>-Hero_Main">
          <h1><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/hero-pc_240521.png?240521" alt="Rakuten <%= information.campaignType %> ポイント最大46倍 楽天市場連動企画 本ページから楽天モバイル初めてのお申し込みで ＋9倍 楽天市場のお買い物がポイント最大55倍！ 上限あり" class="<%= namespace %>-Utility_Img-pc"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/hero-sp_240521.png?240521" alt="Rakuten <%= information.campaignType %> ポイント最大46倍 楽天市場連動企画 本ページから楽天モバイル初めてのお申し込みで ＋9倍 楽天市場のお買い物がポイント最大55倍！ 上限あり" class="<%= namespace %>-Utility_Img-sp"></h1>
        </div>
      </div>
    </div>

    <div class="<%= namespace %>-Layout_Body u-Adjust_Mt-8">
      <div class="l-System_Container">
      <% if (information.campaignState == 'finish') { %>
        <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは<%= finishSchedule %>をもちまして終了いたしました。<br>
          このページに掲載されている情報は、キャンペーン終了時点のものです。</p>
      <% } else { %>
      <% } %>
        <ul class="<%= namespace %>-Table_Rule-Cap-wide">
          <li><span>※1</span>別途<a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_002685" class="<%= namespace %>-Layout_Display-pc">楽天市場イベントページ</a><a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_002686" class="<%= namespace %>-Layout_Display-sp">楽天市場イベントページ</a>でのエントリーが必要です。上限ポイント、達成条件あり。<a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_003188" class="<%= namespace %>-Layout_Display-pc">SPU詳細はこちら</a><a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_003189" class="<%= namespace %>-Layout_Display-sp">SPU詳細はこちら</a>。</li>
          <li class="u-Adjust_Mt-0"><span>※2</span>獲得上限ポイント数：3,000ポイント（期間限定ポイント）。対象期間中の1ショップでのお買い物合計金額1,000円（税込）以上の購入が対象。Rakuten Linkの利用必要。<a data-ratid="campaign_bigsale_campaign-rule1" data-ratevent="click" data-ratparam="all" href="#campaign-rule" class="js-scroll">詳細はこちら</a>。</li>
          <li class="u-Adjust_Mt-0"><span>※</span><a href="#campaign-rule" class="js-scroll">本キャンペーンルール</a>に記載の併用可能キャンペーン以外は併用できません。</li>
          <li class="u-Adjust_Mt-0 c-Txt_Emp-02"><span>※</span>「Rakuten最強プラン（データタイプ）」は対象外です。</li>
        </ul>

        <div class="c-Accordion u-Adjust_Mt-16">
          <button id="accordion-19" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-19" data-ratid="campaign_bigsale_first-caution_b" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>本ページの「お申し込みはこちら」ボタンよりお手続きください</button>
          <div id="accordion-content-19" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-19" aria-hidden="true">
            <ul>
              <li class="c-Txt_Cap"><span>・</span>本ページ以外からお手続きされた場合は特典適用対象外となります。</li>
              <li class="c-Txt_Cap"><span>・</span>「お申し込み内容」画面でクーポンコード14桁の英数字が表示されていることをご確認のうえ、お申し込みを完了してください。表示されていない場合は特典適用対象外となるため、再度本ページの「お申し込みはこちら」ボタンよりお申し込みをやり直してください。</li>
            </ul>
          </div>
        </div>

      <% if (information.campaignState == 'finish') { %>
      <% } else { %>
        <!-- else -->
        <div class="time-Count_Area hidden">
          <p class="u-Adjust_Mt-16 u-Adjust_Align-center time-Count">キャンペーン終了まで<span class="timer"><span id="timer_day"></span>日<span id="timer_hours"></span>時間<span id="timer_min"></span>分<span id="timer_sec"></span>秒</span></p>
        </div>
      <% } %>
      </div>

      <div class="<%= namespace %>-Layout_Entry-Area u-Adjust_Mt-16">
        <p class="c-Txt_Emp-02 u-Adjust_Align-center">お申し込み期間：<%= information.webApplySchedule %></p>
        <p class="u-Adjust_Mt-16 c-Txt_Emp-01 u-Adjust_Align-center">クーポンコード：<%= information.couponCode %></p>
      <% if (information.campaignState == 'finish') { %>
        <div class="u-Adjust_Mt-8 u-Adjust_Align-center"><div class="c-Btn_Primary-large fin">お申し込みはこちら</div></div>
      <% } else { %>
        <!-- else -->
      <% if (hiddenItem == 'true') { %>
        <div class="u-Adjust_Mt-8 u-Adjust_Align-center"><div class="c-Btn_Primary-large coupon-Open coupon-01" data-ratid="campaign_bigsale_guide-application-kanban_1" data-ratevent="click" data-ratparam="all">お申し込みはこちら</div></div>
      <% } %>
        <div class="u-Adjust_Mt-8 u-Adjust_Align-center"><a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=<%= information.couponCode %>&l-id=campaign_<%= namespace %>_coupon_link01" id="couponid_01" class="c-Btn_Primary-large" data-ratid="campaign_bigsale_guide-application-kanban_1" data-ratevent="click" data-ratparam="all"><span id="js-trigger">お申し込みはこちら</span></a></div>
      <% } %>
      </div>

      <div class="l-System_Container">
        <div class="u-Rat_Appear-height" data-ratid="campaign_bigsale_scroll-02_schedule" data-ratevent="appear"></div>
        <h2 id="campaign-flow" class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-64">キャンペーンの流れ</h2>
        <p class="<%= namespace %>-Layout_Step-txt u-Adjust_Mt-16 c-Txt_Emp-01">お申し込み前の楽天市場でのお買い物も対象！</p>
        <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-schedule-01-sp_240521.png?240521">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-schedule-01_240521.png?240521" alt="キャンペーンの流れ">
          </picture>
        </p>
        <p class="<%= namespace %>-Layout_Display-sp u-Adjust_Mt-16 c-Txt_Normal-s u-Adjust_Align-center">ポイントは<%= information.givePointSchedule %>ごろに付与されます。</p>

        <div class="u-Rat_Appear-height" data-ratid="campaign_bigsale_scroll-03_campaign-caution" data-ratevent="appear"></div>
        <h2 id="campaign-caution" class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-64">お申し込み時の注意点</h2>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-32 <%= namespace %>-Caution_Text"><span class="c-Txt_Emp-02">ポイントを獲得するには、「お申し込みはこちら」ボタンからのお手続きが必要となります。</span><br>
          「お申し込み内容」画面であらかじめクーポンコードが表示されていることをご確認のうえ、お申し込みを完了してください。</p>
        <ul class="<%= namespace %>-Caution_Img u-Adjust_Mt-32">
          <li class="u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-01_230802.png?230802" alt="お申し込みはこちらボタン イメージ">
          </li>
          <li class="<%= namespace %>-Caution_Img-arrow u-Adjust_Align-center">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-arrow-01-sp.png?230319">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-arrow-01.png?230319" alt="">
            </picture>
          </li>
          <li class="u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-02_240521.png?240521" alt="クーポンコード<%= information.couponCode%>が適用されました">
          </li>
        </ul>
        <p class="c-Txt_Cap u-Adjust_Mt-24 <%= namespace %>-Caution_Text <%= namespace %>-Caution_Text-cap">※本ページの「お申し込みはこちら」ボタン以外からお手続きされた場合には特典適用対象外となります。</p>

        <div class="c-Accordion u-Adjust_Mt-32">
          <button id="accordion-17" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-17"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>お申し込み画面で以下の状況が発生した場合、再度「お申し込みはこちら」ボタンからお申し込みをやり直してください。</button>
          <div id="accordion-content-17" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-17" aria-hidden="true">
            <ul class="<%= namespace %>-Caution_Img u-Adjust_Mt-32">
              <li class="u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-04_240521.png?240521" alt="">
                <p class="c-Txt_Emp-01 u-Adjust_Mt-16">お申し込み内容にクーポンコードが表示されていない場合</p>
              </li>
              <li class="u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-05_230319.png?230319" alt="">
                <p class="c-Txt_Emp-01 u-Adjust_Mt-16">システムメンテナンスの<br>
                  お知らせが表示された場合</p>
                <p class="c-Txt_Cap">※メンテナンス終了後に<br>
                  お申し込みください</p>
              </li>
              <li class="u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-coupon-06_230319.png?230319" alt="">
                <p class="c-Txt_Emp-01 u-Adjust_Mt-16">タイムアウトが表示された場合</p>
              </li>
            </ul>
          </div>
        </div>

        <div class="c-Accordion">
          <button id="accordion-18" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-18"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイル（ドコモ回線・au回線）をご利用中の方も本キャンペーンにご参加いただけますが、こちらもご確認ください。</button>
          <div id="accordion-content-18" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-18" aria-hidden="true">
            <ul class="<%= namespace %>-Caution_List">
              <li><span class="num">（1）</span>メンバーズステーション経由のプラン変更（移行）は本キャンペーンの適用対象となりません。<br class="<%= namespace %>-Layout_Break-sp"><a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_bigsale_ms1&mno_migration=1">メンバーズステーション</a>にてMNP予約番号を発行のうえ、本ページからお申し込みください。</li>
              <li class="u-Adjust_Mt-8"><span class="num">（2）</span>下記に当てはまる方はメンバーズステーション経由のプラン変更（移行）をご検討ください。</li>
              <li class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01 title">オプションサービスを引き継ぎたい場合</span><br>
                本ページからお申し込みした場合、オプションサービスはすべて解約となります。</li>
            </ul>
            <p class="u-Adjust_Mt-16">上記（1）（2）は通話SIMご利用の方の注意点となります。データSIMご利用中の方は、メンバーズステーション経由のプラン移行（変更）はできないため、本キャンペーンより新規でお申し込みください。</p>
          </div>
        </div>

        <div class="u-Rat_Appear-height" data-ratid="campaign_bigsale_scroll-04_pointup" data-ratevent="appear"></div>
        <h2 id="pointup" class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-64">ポイントアップの詳細</h2>
        <p class="c-Txt_Emp-01 u-Adjust_Align-center u-Adjust_Mt-8">楽天市場の<%= information.campaignType %>がポイントアップ！</p>
        <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
          <img src="<%= sitepath %>assets/img/campaign/marathon/img-overview-01_240521.png?240521" alt="楽天市場の<%= information.campaignType %>でポイント最大 46倍（※1）＋本ページから楽天モバイル「Rakuten最強プラン」お申し込みでさらに＋9倍（※2）　あわせてポイント最大55倍！" class="<%= namespace %>-Utility_Img-pc"><img src="<%= sitepath %>assets/img/campaign/marathon/img-overview-01-sp_240521.png?240521" alt="楽天市場の<%= information.campaignType %>でポイント最大 46倍（※1）＋本ページから楽天モバイル「Rakuten最強プラン」お申し込みでさらに＋9倍（※2）　あわせてポイント最大55倍！" class="<%= namespace %>-Utility_Img-sp">
        </p>

        <ul class="<%= namespace %>-Table_Rule-Cap-wide u-Adjust_Mt-16">
          <li><span>※1</span>別途<a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_002685" class="<%= namespace %>-Layout_Display-pc">楽天市場イベントページ</a><a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_002686" class="<%= namespace %>-Layout_Display-sp">楽天市場イベントページ</a>でのエントリーが必要です。上限ポイント、達成条件あり。<a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_003188" class="<%= namespace %>-Layout_Display-pc u-Adjust_Ml-8">SPU詳細はこちら</a><a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_003189" class="<%= namespace %>-Layout_Display-sp u-Adjust_Ml-8">SPU詳細はこちら</a>。</li>
          <li class="u-Adjust_Mt-0"><span>※2</span>獲得上限ポイント数：3,000ポイント（期間限定ポイント）。対象期間中の1ショップでのお買い物合計金額1,000円（税込）以上の購入が対象。<span class="<%= namespace %>-Txt_Nl">Rakuten Linkの利用必要。<a data-ratid="campaign_bigsale_campaign-rule2" data-ratevent="click" data-ratparam="all" href="#campaign-rule" class="js-scroll">詳細はこちら</a></span>。</li>
        </ul>

        <h2 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-64">楽天モバイルに契約したら、SPUがさらにおトクに！</h2>
        <div class="<%= namespace %>-Info_Spu u-Adjust_Mt-24 u-Bg_Yellow">
          <div class="u-Adjust_Align-center">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-01-sp.png?240521">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-01.png?240521" alt="楽天モバイルご契約後に 楽天市場で25,000円（税抜）以上お買い物＆獲得できるポイントで全額支払うと3GBまでお支払いが無料に！">
            </picture>
          </div>
          <div class="<%= namespace %>-Info_Spu-contents u-Adjust_Mt-24">
            <div class="u-Adjust_Align-center">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-02-sp.png?240521">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-info-02.png?240521" alt="25,000円（税抜）お買い物した場合 追加獲得ポイントでお支払い 楽天モバイル家族割引適用プラン料金データ3GBまで 880円/月税込968円 ※通話料等別">
              </picture>
            </div>
          </div>
        </div>
        <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
          <a href="<%= sitepath %>campaign/spu/" class="c-Btn_Secondly-large">SPU詳細を見る</a>
        </div>

        <% if (information.campaignState == 'finish') { %>
        <% } else { %>
        <!-- else -->
          <h2 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-48">今すぐ楽天市場の<%= information.campaignType %>にエントリー！</h2>
          <div class="u-Adjust_Align-center u-Adjust_Mt-16">
            <a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_002631" target="_blank" class="<%= namespace %>-Layout_Display-pc">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-campaign-bnr-01_240521.gif?240521" alt="ポイント最大46倍 エントリー必要 <%= information.campaignType %>">
            </a>
            <a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_002632" target="_blank" class="<%= namespace %>-Layout_Display-sp">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-campaign-bnr-01-sp_240521.gif?240521" alt="ポイント最大46倍 エントリー必要 <%= information.campaignType %>">
            </a>
          </div>
        <% } %>
      </div>

      <div class="<%= namespace %>-Container_Bg u-Adjust_Mt-64">
        <div id="campaign-participation" class="l-System_Container step-area">
          <div class="u-Rat_Appear-height" data-ratid="campaign_bigsale_scroll-05_campaign-flow" data-ratevent="appear"></div>
          <h2 class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンの参加方法</h2>
          <div class="<%= namespace %>-Layout_Step u-Adjust_Mt-24">
            <div class="c-Accordion u-Adjust_Mt-16">
              <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1" data-ratid="campaign_bigsale_flow-step1" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP1　</span>楽天モバイルのお申し込み</button>
              <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
                <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-24">
                  <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                    <img src="<%= sitepath %>assets/img/campaign/marathon/img-flow-01_230421.png?230421" alt="">
                  </div>
                  <div>
                    <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">本ページから楽天モバイル初めてのお申し込み</h4>
                    <p class="u-Adjust_Mt-8"><span class="<%= namespace %>-Txt_Nl"><%= information.webApplySchedule %></span></p>
                    <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                      <li class="c-Txt_Emp-02"><span>※</span>未成年の方のお申し込み方法は別途こちらの<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_bigsale_flow_for-minors">ご案内ページ</a>をご確認ください。</li>
                      <li class="c-Txt_Emp-02 u-Adjust_Mt-8"><span>※</span>店舗（楽天モバイルショップ）でのお申し込みの場合、対象外となります。あらかじめご了承ください。</li>
                    </ul>
                  </div>
                </div>
                <ul class="<%= namespace %>-Flow_List u-Adjust_Mt-16">
                  <li class="<%= namespace %>-Flow_List-content">
                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-8">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                        <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-02.png?230107" alt="">
                      </div>
                      <div>
                        <p class="c-Txt_Emp-01">お申し込みに必要なもの</p>
                        <div class="u-Adjust_Mt-8">
                          <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc">
                            <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                            <li class="u-Adjust_Mt-8">楽天ID、パスワード</li>
                            <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                              <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                                <span>※</span>ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001238/">こちらのご案内ページ</a>を必ず事前にご確認ください。<br>
                              </p>
                              <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                                <span>※</span>MNPワンストップ未対応の携帯電話会社から乗り換えの方は、MNP予約番号の取得が必要です。MNPワンストップ対象の携帯電話会社は<a href="<%= sitepath %>guide/mnp/#carrier">こちら</a>からご確認ください。</p>
                              <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">
                                <span>※</span>ショップでのお手続きは、ワンストップ対象の他社からの転入であっても、MNP予約番号を取得のうえ、ご来店ください。</p>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <div id="members" class="<%= namespace %>-Flow_List-step-unlimit <%= namespace %>-Layout_Step-ptn2">
                  <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-left">
                    <div class="<%= namespace %>-Flow_List-detail">
                      <div class="step-pran-change"><span class="c-Icon_New-user-f c-Txt_Emp-02"></span><h4 class="c-Heading_Lv4 u-Adjust_Mt-8 u-Adjust_Mb-16"> 新規電話番号／他社から乗り換え（MNP）</h4></div>
                    <% if (information.campaignState == 'finish') { %>
                      <p class="u-Adjust_Align-center u-Adjust_Mt-24"><span class="c-Btn_Primary-large <%= namespace %>-Flow_List-button-secondly fin">お申し込みはこちら</span></p>
                    <% } else { %>
                      <!-- else -->
                      <% if (hiddenItem == 'true') { %>
                        <p class="u-Adjust_Align-center u-Adjust_Mt-24"><span class="c-Btn_Primary-large coupon-Open coupon-02" data-ratid="campaign_bigsale_guide-application-former_1" data-ratevent="click" data-ratparam="all">お申し込みはこちら</span></p>
                      <% } %>
                      <p class="u-Adjust_Align-center u-Adjust_Mt-24"><a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=<%= information.couponCode %>&l-id=campaign_<%= namespace %>_coupon_link02" id="couponid_02" class="c-Btn_Primary-large" data-ratid="campaign_bigsale_guide-application-former_1" data-ratevent="click" data-ratparam="all"><span>お申し込みはこちら</span></a></p>

                    <% } %>
                      <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>fee/saikyo-plan/?l-id=campaign_bigsale_fee_saikyo-plan" class="c-Link_Txt-inline">Rakuten最強プランの詳細<span class="c-Icon_Chevron-right"></span></a></p>
                      <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/flow/application/?l-id=campaign_bigsale_guide_flow_application" class="c-Link_Txt-inline">Rakuten最強プランの<br class="<%= namespace %>-Layout_Break-sp">お申し込み方法を確認する<span class="c-Icon_Chevron-right"></span></a></p>
                    </div>
                  </div>
                  <div class="<%= namespace %>-Flow_List-content <%= namespace %>-Flow_List-detail-right">
                    <div class="<%= namespace %>-Flow_List-detail">
                      <div class="step-pran-change"><span class="c-Icon_Paper-plane-l c-Txt_Emp-02"></span>
                      <h4 class="c-Heading_Lv4 u-Adjust_Mt-8 u-Adjust_Mb-16">ドコモ回線・au回線の楽天モバイルから移行</h4></div>
                      <div class="u-Adjust_Mt-16">
                        <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-left">メンバーズステーションにてMNP予約番号を発行のうえ、本ページからお申し込みください。</p>
                        <p class="u-Adjust_Align-center"><a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=campaign_bigsale_ms1&mno_migration=1" class="c-Btn_Secondly-large <%= namespace %>-Flow_List-button-secondly u-Adjust_Mt-24"><span>メンバーズステーションにてMNP予約番号を発行する</span></a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <ul class="<%= namespace %>-Flow_List u-Adjust_Mt-16">
                  <li class="<%= namespace %>-Flow_List-Single_Arrow">
                    <div class="list_ttl">
                      <h4 class="c-Heading_Lv4 u-Adjust_Mt-8">「Rakuten最強プラン」お申し込み画面に移動し、お手続きください。</h4>
                      <p class="u-Adjust_Mt-8 c-Txt_Normal-s">※「お申し込みはこちら」ボタン以外からお手続きされた場合は、特典適用対象外となります。</p>
                    </div>
                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-48 top">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                        <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-coupon-01_230507.png?230507" alt="">
                      </div>
                      <div>
                        <p class="u-Adjust_Mt-8">「お申し込みはこちら」ボタンからお申し込み画面に進み、製品選択など手順に従って進めてください。</p>
                      </div>
                    </div>
                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-48">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                        <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-flow-coupon-02_240521.png?240521" alt="">
                      </div>
                      <div>
                        <p class="text_cap u-Adjust_Mt-8">「お申し込み内容」でクーポンコードが表示されていることを必ずご確認のうえ、お申し込みを完了してください。</p>
                        <p class="u-Adjust_Mt-8 c-Txt_Normal-s">※該当の項目が表示されていない場合、特典適用対象外となるため、再度本ページの「お申し込みはこちら」ボタンよりお申し込みをやり直してください。</p>
                      </div>
                    </div>
                    <p class="c-Txt_Emp-02 u-Adjust_Align-center u-Adjust_Mt-40">お申し込み期間：<%= information.webApplySchedule %></p>
                    <p class="c-Txt_Emp-01 u-Adjust_Align-center">クーポンコード：<%= information.couponCode %></p>
                    <p class="u-Adjust_Mt-16 c-Txt_Normal-ss c-Txt_Emp-02"><a href="#campaign-caution" class="js-scroll" data-ratid="campaign_bigsale_index-attention2" data-ratevent="click" data-ratparam="all">お申し込み時の注意点</a>を必ずご確認のうえ、以下のお申し込みボタンよりお手続きください。</p>
                  <% if (information.campaignState == 'finish') { %>
                    <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><div class="c-Btn_Primary-large fin">お申し込みはこちら</div></div>
                  <% } else { %>
                    <!-- else -->
                  <% if (hiddenItem == 'true') { %>
                    <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><div class="c-Btn_Primary-large coupon-Open coupon-03" data-ratid="campaign_bigsale_guide-application-later_1" data-ratevent="click" data-ratparam="all">お申し込みはこちら</div></div>
                  <% } %>
                    <div class="u-Adjust_Mt-16 u-Adjust_Align-center"><a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=<%= information.couponCode %>&l-id=campaign_<%= namespace %>_coupon_link03" id="couponid_03" class="c-Btn_Primary-large" data-ratid="campaign_bigsale_guide-application-later_1" data-ratevent="click" data-ratparam="all"><span>お申し込みはこちら</span></a></div>
                  <% } %>
                    <p class="u-Adjust_Mt-16 c-Txt_Normal-ss">本ページの「お申し込みはこちら」ボタン以外からお手続きされた場合、特典適用対象外となります。</p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="c-Accordion u-Adjust_Mt-16">
              <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2" data-ratid="campaign_bigsale_flow-step2" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP2　</span>楽天市場でお買い物</button>
              <div id="accordion-content-2" class="<%= namespace %>-Layout_Step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
                <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                  <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                    <img src="<%= sitepath %>assets/img/campaign/marathon/img-point-05.png?220107" alt="">
                  </div>
                  <div>
                    <h4 class="u-Adjust_Mt-8 c-Heading_Lv4"><%= information.shopingSchedule %></h4>
                    <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                      <li><span>※</span>対象期間中の1ショップでのお買い物合計金額1,000円（税込）以上のみが本キャンペーンの対象。</li>
                    </ul>
                    <div class="u-Adjust_Mt-24">
                      <p class="<%= namespace %>-Layout_Break-sp-center-btn"><a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_002633" class="c-Btn_Regular <%= namespace %>-Flow_List-button <%= namespace %>-Layout_Display-pc"><span>楽天市場でお買い物をする</span></a>
                        <a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_002634" class="c-Btn_Regular <%= namespace %>-Flow_List-button <%= namespace %>-Layout_Display-sp"><span>楽天市場でお買い物をする</span></a>
                      </p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="c-Accordion u-Adjust_Mt-16">
              <button type="button" id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3" data-ratid="campaign_bigsale_flow-step3" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP3　</span>「Rakuten最強プラン」利用開始</button>
              <div id="accordion-content-3" class="<%= namespace %>-Layout_Step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="true">
                <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                  <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                    <img src="<%= sitepath %>assets/img/campaign/marathon/img-flow-04_230421.png?230421" alt="">
                  </div>
                  <div>
                    <h4 class="u-Adjust_Mt-8 c-Heading_Lv4">楽天モバイルの開通手続きを行い「Rakuten最強プラン」を利用開始する</h4>
                    <p class="u-Adjust_Mt-8"><%= information.planUseSchedule %></p>
                    <ul class="<%= namespace %>-Table_Rule-Cap">
                      <li class="u-Adjust_Mt-8"><span>※</span><a href="#campaign-rule-plan" class="js-scroll" data-ratid="campaign_bigsale_PlanStart" data-ratevent="click" data-ratparam="all">プラン利用開始日の定義はこちら</a>。</li>
                    </ul>
                    <div class="u-Adjust_Mt-24">
                      <p class="<%= namespace %>-Layout_Break-sp-center-btn"><a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/" class="c-Btn_Regular <%= namespace %>-Flow_List-button"><span>スタートガイド（利用開始手順書）はこちら</span></a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-Accordion u-Adjust_Mt-16">
              <button type="button" id="accordion-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-4" data-ratid="campaign_bigsale_flow-step4" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span><span class="c-Txt_Emp-02 step-no">STEP4　</span>Rakuten Linkアプリから発信で10秒以上通話</button>
              <div id="accordion-content-4" class="<%= namespace %>-Layout_Step-ptn1 c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-4" aria-hidden="true">
                <ul class="<%= namespace %>-Flow_List">
                  <li>
                    <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                      <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                        <img src="<%= sitepath %>assets/img/campaign/marathon/img-flow-05_230702.png?230702" alt="">
                      </div>
                      <div>
                        <h4 class="u-Adjust_Mt-8 c-Heading_Lv4">Rakuten Linkアプリで発信し10秒以上通話する</h4>
                        <p class="u-Adjust_Mt-8"><%= information.appCallSchedule %></p>
                        <ul class="<%= namespace %>-Table_Rule-Cap u-Adjust_Mt-8">
                          <li><span>※</span>電話の発信時、（0570）などから始まる他社接続サービス、一部特番（188）への通話については、特典対象外。</li>
                        </ul>
                        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>service/rakuten-link/?l-id=campaign_bigsale_service_rakuten-link" target="_blank" class="c-Link_Txt-inline">Rakuten Link アプリの詳細を見る<span class="c-Icon_New-window-l"></span></a></p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-step-01-sp.png?230407">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-step-01.png?230407" alt="楽天市場でのお買い物がポイント＋9倍">
            </picture>
          </p>
        </div>
      </div>

      <div class="u-Rat_Appear-height" data-ratid="campaign_bigsale_scroll-06_plan" data-ratevent="appear"></div>
      <div id="unlimit-vi-plan" class="u-Adjust_Mt-64">
        <%- include('/inc/_saikyo-plan') %>
      </div>

      <div class="u-Adjust_Py-48">
        <%- include('/inc/_about-rakuten-mobile', { baseLId: 'campaign_bigsale', ratId: 'campaign_bigsale_scroll-07_rakutenmobile' }) %>
      </div>

      <div class="l-System_Container">
        <div class="l-Media_Grid bnr-Area">
          <div class="l-Media_Image">
            <a href="<%= sitepath %>uservoice/?l-id=campaign_bigsale_uservoice">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-bnr-01-sp.png?230122">
                <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-bnr-01.png?230122" alt="実際に使った感想をお聞きしました。楽天モバイルの評判をご紹介">
              </picture>
            </a>
          </div>
        </div>

        <div class="u-Rat_Appear-height" data-ratid="campaign_bigsale_scroll-08_faq" data-ratevent="appear"></div>
        <h2 id="faq" class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-64">よくあるご質問</h2>
        <div class="<%= namespace %>-faq u-Adjust_Mt-24">
          <div class="c-Accordion u-Adjust_Mt-16">
            <button type="button" id="accordion-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-5" data-ratid="campaign_bigsale_faq1" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイルでのお買い物は対象ですか。</button>
            <div id="accordion-content-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-5" aria-hidden="true">
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-faq-01.png?230107" alt="">
                </div>
                <div>
                  <p class="u-Adjust_Mt-16">楽天モバイルサイト内や楽天モバイルのショップでご購入いただいたスマートフォンなどの製品はポイント付与対象外です。</p>
                  <p>楽天市場内の「<a href="https://www.rakuten.ne.jp/gold/rakutenmobile-store/" target="_blank" class="c-Link_Txt-inline" data-ratid="campaign_bigsale_rakutenmobile-store" data-ratevent="click" data-ratparam="all">楽天モバイル公式 楽天市場店<span class="c-Icon_New-window-l"></span></a>」は対象です。</p>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-6" data-ratid="campaign_bigsale_faq2" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイルへの申し込みはWebもショップも対象ですか。</button>
            <div id="accordion-content-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-6" aria-hidden="true">
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-faq-02.png?230107" alt="">
                </div>
                <div>
                  <p class="u-Adjust_Mt-16">本キャンペーンページの「お申し込みはこちら」ボタンからお申込みの場合のみ、本キャンペーンの対象です。</p>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-7" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-7" data-ratid="campaign_bigsale_faq3" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天市場でのお買い物金額に条件はありますか。</button>
            <div id="accordion-content-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-7" aria-hidden="true">
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-faq-03.png?230107" alt="">
                </div>
                <div><p class="u-Adjust_Mt-16">本キャンペーン対象期間中の1ショップでのお買い物合計金額1,000円（税込）以上のみが対象です。</p>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-8" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-8" data-ratid="campaign_bigsale_faq4" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天市場のアプリやWeb上に、本キャンペーンによる倍率アップは表示されますか。</button>
            <div id="accordion-content-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-8" aria-hidden="true">
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-faq-04_240107.png?240107" alt="">
                </div>
                <div><p class="u-Adjust_Mt-16">本キャンペーンの条件達成により付加される+9倍分の倍率は表示されません。</p>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-9" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-9" data-ratid="campaign_bigsale_faq5" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ポイントはいつ付与されますか。</button>
            <div id="accordion-content-9" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-9" aria-hidden="true">
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-faq-05_240521.png?240521" alt="">
                </div>
                <div><p class="u-Adjust_Mt-16">ポイントは<%= information.givePointSchedule %>ごろに付与されます。</p>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-10" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-10" data-ratid="campaign_bigsale_faq6" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>本キャンペーンによる獲得ポイントはどうすれば確認できますか。</button>
            <div id="accordion-content-10" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-10" aria-hidden="true">
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-faq-06.png?230107" alt="">
                </div>
                <div>
                  <p class="u-Adjust_Mt-16">ポイント付与時期が過ぎましたら<a href="https://point.rakuten.co.jp/history/" target="_blank" class="c-Link_Txt-inline">ポイント実績ページ<span class="c-Icon_New-window-l"></span></a>をご確認ください。</p>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-11" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-11" data-ratid="campaign_bigsale_faq7" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>すでに楽天モバイルに契約していますが、回線を追加した場合も対象になりますか。</button>
            <div id="accordion-content-11" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-11" aria-hidden="true">
              <p>対象外です。本キャンペーン中にはじめて楽天モバイルをお申し込みの場合のみ対象です。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-12" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-12" data-ratid="campaign_bigsale_faq8" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>STEPの順序が逆になってしまいました。キャンペーン対象になりますか。</button>
            <div id="accordion-content-12" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-12" aria-hidden="true">
              <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                  <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-faq-08_240521.png?240521" alt="">
                </div>
                <div>
                  <p class="u-Adjust_Mt-16">本キャンペーンは、各STEPの対象期間中に条件を満たせば、キャンペーン対象です。</p>
                </div>
              </div>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-13" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-13" data-ratid="campaign_bigsale_faq9" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーンのポイント獲得の対象になっているか確認したいです。</button>
            <div id="accordion-content-13" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-13" aria-hidden="true">
              <p>「<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile">my 楽天モバイル</a>」の申し込み履歴から、クーポンの利用状況をご確認いただけます。<br>
                詳しい手順は<a href="https://network.mobile.rakuten.co.jp/faq/detail/10000792/">こちら</a>からご確認ください。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※ ログインができない場合は、「<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001207/">my 楽天モバイルにログインできない場合どうすればよいですか？</a>」をご確認ください。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-14" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-14" data-ratid="campaign_bigsale_faq10" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>メンバーズステーションで、MNP予約番号を発行する方法を教えてください。</button>
            <div id="accordion-content-14" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-14" aria-hidden="true">
              <p>MNP（携帯電話ナンバーポータビリティ）をご利用いただくことで、現在お使いの電話番号がそのままお使いいただけます。<br>
                <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten" target="_blank" class="c-Link_Txt-inline">メンバーズステーショントップページ<span class="c-Icon_New-window-l"></span></a>の「MNP予約番号発行・確認について」をタップし、MNP予約番号を発行してください。MNP予約番号発行手数料は発生しません。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button id="accordion-15" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-15" data-ratid="campaign_bigsale_faq11" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>申し込み後に、本人確認書類の不備などで再提出になった場合でもキャンペーンは適用されますか？</button>
            <div id="accordion-content-15" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-15" aria-hidden="true">
              <p>お申し込み後に、書類の再提出などいただきお申し込みが完了できた場合は、キャンペーンが適用されます。ただし、お申し込み画面内で入力された情報と本人確認書類の内容が一致しないなどの理由で楽天モバイルが定める審査に基づき、お申し込みをキャンセルさせていただく場合、キャンペーンは適用できません。</p>
            </div>
          </div>
        </div>
      </div>

      <div class="<%= namespace %>-Container_Bg u-Adjust_Mt-64">
        <div class="l-System_Container">
        <% if (information.campaignState == 'finish') { %>
        <% } else { %>
          <!-- else -->
          <h2 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Pl-16">さっそく<span class="<%= namespace %>-Txt_Nl">楽天市場へ！</span></h2>

          <div class="<%= namespace %>-Carousel_Box">
            <div class="c-Carousel <%= namespace %>-Carousel u-Adjust_Mt-24 <%= namespace %>-Layout_Display-pc">
              <a class="c-Banner_Hover-act" href="https://event.rakuten.co.jp/furusato/ranking/all.html?scid=wi_rmb_ich_mkdiv_mnocpn-bigsale-carousel_pc-sp-app_furusato-ranking_20221223"><img src="<%= sitepath %>assets/img/campaign/marathon/campaign_bnr_marathon_furusato_220319.jpg?220319" alt="楽天ふるさと納税人気の返礼品は？お礼の品ランキング"></a>
              <a class="c-Banner_Hover-act" href="https://event.rakuten.co.jp/superdeal/?scid=wi_rmb_rsd_dealtop_pc"><img src="<%= sitepath %>assets/img/campaign/marathon/campaign_bnr_marathon_superdeal_220319.png?220319" alt="ポイント還元最大50% Rakuten スーパーDEAL"></a>
              <a class="c-Banner_Hover-act" href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_002631"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/campaign_bnr_<%= namespace %>_top_240521.gif?240521" alt="要エントリー　ポイント最大46倍　楽天市場の<%= information.campaignType %>"></a>
            </div>
            <div class="c-Carousel <%= namespace %>-Carousel u-Adjust_Mt-24 <%= namespace %>-Layout_Display-sp">
              <a class="c-Banner_Hover-act" href="https://event.rakuten.co.jp/furusato/ranking/all.html?scid=wi_rmb_ich_mkdiv_mnocpn-bigsale-carousel_pc-sp-app_furusato-ranking_20221223"><img src="<%= sitepath %>assets/img/campaign/marathon/campaign_bnr_marathon_furusato_220319.jpg?220319" alt="楽天ふるさと納税人気の返礼品は？お礼の品ランキング"></a>
              <a class="c-Banner_Hover-act" href="https://event.rakuten.co.jp/superdeal/?scid=wi_rmb_rsd_dealtop_sp"><img src="<%= sitepath %>assets/img/campaign/marathon/campaign_bnr_marathon_superdeal_220319.png?220319" alt="ポイント還元最大50% Rakuten スーパーDEAL"></a>
              <a class="c-Banner_Hover-act" href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_002632"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/campaign_bnr_<%= namespace %>_top_240521.gif?240521" alt="要エントリー　ポイント最大46倍　楽天市場の<%= information.campaignType %>"></a>
            </div>
          </div>
          <!-- /carousel -->
        <% } %>

        <% if (hiddenItem == 'true') { %>
          <!-- else -->
          <h2 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-64 u-Adjust_Pl-16">現在開催中のキャンペーンはこちら</h2>
          <div class="c-Carousel <%= namespace %>-Carousel_2">
            <div class="u-Adjust_Mt-24">
              <a class="c-Banner_Hover-act" href="<%= sitepath %>hikari/campaign/one-year-free/?l-id=campaign_bigsale-carousel_campaign_hikari"><img src="<%= sitepath %>assets/img/bnr/bnr-hikari-2206-none-656-370.png?220620" alt=""></a>
            </div>
          </div>
        <% } %>

          <!-- ReX UX Survey: Mounting point for embedded components -->
          <div>
            <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
          </div>

        </div>
      </div>

      <div class="l-System_Container">
        <div class="u-Rat_Appear-height" data-ratid="campaign_bigsale_scroll-09_campaign-rule" data-ratevent="appear"></div>
        <h2 id="campaign-rule" class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-64">キャンペーンルール</h2>
        <h3 class="c-Heading_Lv3 u-Adjust_Mt-32">楽天市場の<%= information.campaignType %>連動企画 Rakuten最強プランのお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン</h3>
      <% if (information.campaignState == 'finish') { %>
        <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは<%= finishSchedule %>をもちまして終了いたしました。<br>
          このページに掲載されている情報は、キャンペーン終了時点のものです。</p>

      <% } else { %>
        <!-- else -->
      <% } %>
        <div>
          <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2309', level: '', year: '2024', class: '' }}) %>
        </div>
      </div>

      <div class="l-System_Container u-Adjust_Mt-40">
        <div class="c-Accordion" id="past-campaigns">
          <button id="accordion-16" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-16"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>過去のキャンペーン</button>
          <div id="accordion-content-16" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-16" aria-hidden="true">
            <div class="<%= namespace %>-Layout_Rule u-Adjust_Mt-0">
              <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2268', level: '', year: '2024', class: '', comments: '<p class="c-Txt_Emp-01">楽天市場のお買い物マラソン連動企画 Rakuten最強プランのお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン</p>' }}) %>
            </div>
            <div class="<%= namespace %>-Layout_Rule">
              <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2238', level: '', year: '2024', class: '', comments: '<p class="c-Txt_Emp-01">楽天市場のお買い物マラソン連動企画 Rakuten最強プランのお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン</p>' }}) %>
            </div>
            <div class="<%= namespace %>-Layout_Rule">
              <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2239', level: '', year: '2024', class: '', comments: '<p class="c-Txt_Emp-01">楽天市場のお買い物マラソン連動企画 Rakuten最強プランのお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン</p>' }}) %>
            </div>
            <div class="<%= namespace %>-Layout_Rule">
              <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2237', level: '', year: '2024', class: '', comments: '<p class="c-Txt_Emp-01">楽天市場のお買い物マラソン連動企画 Rakuten最強プランのお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン</p>' }}) %>
            </div>
            <div class="<%= namespace %>-Layout_Rule">
              <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2218', level: '', year: '2024', class: '', comments: '<p class="c-Txt_Emp-01">楽天市場のお買い物マラソン連動企画 Rakuten最強プランのお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン</p>' }}) %>
            </div>
            <div class="<%= namespace %>-Layout_Rule">
              <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2204', level: '', year: '2024', class: '', comments: '<p class="c-Txt_Emp-01">楽天市場のお買い物マラソン連動企画 Rakuten最強プランのお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン</p>' }}) %>
            </div>
            <div class="<%= namespace %>-Layout_Rule">
              <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2181', level: '', year: '2024', class: '', comments: '<p class="c-Txt_Emp-01">楽天市場のお買い物マラソン連動企画 Rakuten最強プランのお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン</p>' }}) %>
            </div>
            <div class="<%= namespace %>-Layout_Rule">
              <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2180', level: '', year: '2024', class: '', comments: '<p class="c-Txt_Emp-01">楽天市場のお買い物マラソン連動企画 Rakuten最強プランのお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン</p>' }}) %>
            </div>
            <div class="<%= namespace %>-Layout_Rule">
              <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '2137', level: '', year: '2024', class: '', comments: '<p class="c-Txt_Emp-01">楽天市場のお買い物マラソン連動企画 Rakuten最強プランのお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン</p>' }}) %>
            </div>
            <div class="u-Adjust_Align-center u-Adjust_Mt-24">
              <a href="<%= sitepath %>campaign/close/" class="c-Btn_Secondly-large">過去のキャンペーンはこちら</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% if (information.campaignState == 'finish') { %>
    <footer class="g-Footer <%= namespace %>-Layout_Footer cp-Fin">
  <% } else { %>
    <!-- else -->
    <div id="js-fixed-btn" class="<%= namespace %>-Layout_Bottom-fixed fixed-top" aria-expanded="false" role="region">
      <div class="<%= namespace %>-Layout_Bottom-fixed-inner">
        <div class="<%= namespace %>-Layout_Bottom-fixed-link-box-pc">
          <ul class="fixed-Link">
            <li><a href="#pointup" class="js-scroll" data-ratid="campaign_bigsale-innavi-f-pointup" data-ratevent="click" data-ratparam="all">ポイントアップの詳細</a></li>
            <li><a href="#campaign-participation" class="js-scroll" data-ratid="campaign_bigsale-innavi-f-campaign-flow" data-ratevent="click" data-ratparam="all">キャンペーンの参加方法</a></li>
            <li><a href="#faq" class="js-scroll" data-ratid="campaign_bigsale-innavi-f-faq" data-ratevent="click" data-ratparam="all">よくあるご質問</a></li>
          </ul>
        </div>
        <div class="<%= namespace %>-Layout_Bottom-fixed-link-box-sp">
          <div class="<%= namespace %>-Layout_Bottom-fixed-link-sp">
            <ul class="fixed-Link">
              <li><a href="#pointup" class="js-scroll" data-ratid="campaign_bigsale-innavi-f-pointup" data-ratevent="click" data-ratparam="all">ポイントアップ詳細</a></li>
              <li><a href="#campaign-participation" class="js-scroll" data-ratid="campaign_bigsale-innavi-f-campaign-flow" data-ratevent="click" data-ratparam="all">参加方法</a></li>
              <li><a href="#faq" class="js-scroll" data-ratid="campaign_bigsale-innavi-f-faq" data-ratevent="click" data-ratparam="all">FAQ</a></li>
            </ul>
          </div>
        </div>
        <div class="<%= namespace %>-Layout_Bottom-fixed-btn-box">
          <a href="https://onboarding.mobile.rakuten.co.jp/coupon_link?id=<%= information.couponCode %>&l-id=campaign_<%= namespace %>_f_coupon_link" class="c-Btn_Primary-large <%= namespace %>-Layout_Bottom-fixed-btn">お申し込みはこちら</a>
          <div class="nav-Btn">
            <div class="nav-Btn_Arrow">
              <span class="c-Icon_Chevron-left"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="g-Footer <%= namespace %>-Layout_Footer">
  <% } %>
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= information.campaignName %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>

  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
<% if (information.campaignState !== 'finish') { %>
  <script src="<%= sitepath %>assets/js/campaign.marathon.bundle.js?20240521"></script>
<% } %>
  <script>
    (function($){
        const trigger = document.getElementById('js-trigger');
        const fixedBtn = document.getElementById('js-fixed-btn');
        function fixedBottomBtn() {
            let scrollY = window.pageYOffset;
            const triggerRect = trigger.getBoundingClientRect();
            const triggerY = scrollY + triggerRect.top;

        if ( scrollY > triggerY ) {
          fixedBtn.setAttribute('aria-expanded', 'true');
        } else {
          fixedBtn.setAttribute('aria-expanded', 'false');
        }
      }
      if( fixedBtn && trigger ) {
        window.addEventListener('scroll', fixedBottomBtn);
      }
    })();
  </script>
  <script>
    (function($){
        $(function(){
          $('.accordion1_opan').on('click', function(){
            $('#accordion-1').attr('aria-expanded', 'true');
            $('#accordion-content-1').attr('aria-hidden', 'false');
            $('#accordion-content-1').slideDown(200);
          });
          $('.js-Ac_Members').on('click',function() {
            var n = window.location.href.slice(window.location.href.indexOf('?') + 4);
            var p = $("#members").offset().top;
            $('html,body').animate({ scrollTop: p }, 'slow');
            return false;
          });
          $('.nav-Btn').on('click',function() {
            $('.nav-Btn_Arrow').toggleClass('nav-On');
            $('.<%= namespace %>-Layout_Bottom-fixed-link-sp').slideToggle();
          });
        });
    })(jQuery);
  </script>

  <!-- ReX UX   Survey: Config -->
  <script>
    window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
  </script>

<% if (hiddenItem == 'true') { %>
  <!-- else -->
  <script>
    function modalIn() {
      $('#overlay').fadeIn(300);
      $('#modal_Contents').fadeIn(300);
    }
    function modalOut() {
      $('#overlay').fadeOut(300);
      $('#modal_Contents').fadeOut(300);
    }
    $('.coupon-Open').on('click',function() {
      $(".couponbtn a").addClass('hidden');
    });
    $('.coupon-01').on('click',function() {
      $("#couponid_01").removeClass('hidden');
    });
    $('.coupon-02').on('click',function() {
      $("#couponid_02").removeClass('hidden');
    });
    $('.coupon-03').on('click',function() {
      $("#couponid_03").removeClass('hidden');
    });
    $('.coupon-F').on('click',function() {
      $("#couponid_f").removeClass('hidden');
    });
    $('.coupon-Open').on('click', modalIn);
    $('.coupon-Close').on('click', modalOut);
  </script>
<% } %>
  <!-- ReX UX Survey: Script -->
  <script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>
</body>

</html>
