<% const pagetitle = "3/26(土)まで毎日開催！お買いものパンダ特製歯磨き粉が当たる！くじ" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "panda-goods-lot" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    keywords: '',
    noindex: true,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/panda-goods-lot/panda-goods-lot.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/error/error.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

  <header class="g-Header">
    <div class="g-Header_Container">
      <div class="g-Header_Logo"><a style="pointer-events: none;">Rakuten Mobile</a></div>
    </div>
  </header>

  <div class="<%= namespace %>-Hero">
    <div class="<%= namespace %>-Hero_Container">
      <div class="l-System_Container <%= namespace %>-Hero_Main">
        <h1>
          <img src="<%= sitepath %>assets/img/campaign/panda-goods-lot/img-hero-pc.png" alt="3/26(土)まで毎日開催！お買いものパンダ特製歯磨き粉が当たる！くじ" width="1124" height="428" class="<%= namespace %>-Utility_Img-pc">
          <img src="<%= sitepath %>assets/img/campaign/panda-goods-lot/img-hero-sp.png" alt="3/26(土)まで毎日開催！お買いものパンダ特製歯磨き粉が当たる！くじ" width="373" height="338" class="<%= namespace %>-Utility_Img-sp">
        </h1>
      </div>
    </div>
  </div>

<div class="<%= namespace %>-Layout_Body">

  <div class="l-System_Container">

    <div class="u-Adjust_Align-center u-Adjust_Mt-32">
      <a href="https://kuji.rakuten.co.jp/59e39a1bc6" class="c-Btn_Primary-large u-Adjust_Pt-16 u-Adjust_Pb-16"><span>くじにチャレンジする</span></a>
    </div>

    <div class="c-Theme-Light u-Adjust_Mt-32">
      <h2 class="c-Heading_Lv2 u-Adjust_Align-center">はずれても、<br class="<%= namespace %>-Utility_Br-sp">セカンドチャンス！</h2>
      <p class="u-Adjust_Mt-16">楽天モバイルショップに来店し、携帯料金のお見積もりを依頼すると、お買いものパンダ特製グッズをプレゼント</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※景品の在庫がなくなり次第、終了となります。</p>
    </div>

      <div class="u-Adjust_Mt-64 u-Adjust_Mb-64">
        <h2>お買いものパンダ特製歯磨き粉くじ　ルール</h2>

        <div class="c-Table_Wrap u-Adjust_Mt-24">
          <dl class="c-Dl_Origin">
            <div>
          <dt>賞品・当選本数</dt>
          <dd>
                <p>お買いものパンダ特製歯磨き粉 20本／1日</p>
              </dd>
        </div>
            <div>
          <dt>ご利用方法</dt>
          <dd>
                <ul class="c-List_Text-disc">
                  <li>くじの開催期間は2022年3月22日（火）10:00 ～ 2022年3月26日（土） 23:59です。</li>
                  <li>本キャンペーンは<span class="c-Txt_Emp-02">楽天会員に登録すれば、どなたでもご利用できます</span>。</li>
                  <li>ひとつの会員登録に対し、くじを引くことができるのは<span class="c-Txt_Emp-02">1日に1回のみ</span>となっております。この場合の1日とは、00:00:00～23:59:59とし、本キャンペーンのページを開いた時点が参加した日となります。</li>
                </ul>
              </dd>
        </div>
            <div>
          <dt>ご利用環境</dt>
          <dd>
                <ul class="c-List_Text-disc">
                  <li>ご使用いただいているOSのバージョンやブラウザによっては、正常に動作しない可能性がありご利用いただけない場合があります。その場合はお手数ですが違うデバイスやブラウザもお試しください。</li>
                </ul>
              </dd>
        </div>
            <div>
          <dt>注意事項</dt>
          <dd>
                <ul class="c-List_Text-disc">
                  <li><span class="c-Txt_Emp-02">くじに参加する権利を翌日以降に繰り越すことはできません</span>。</li>
                  <li>当選者は厳正な抽選のうえで選出を行います。</li>
                  <li>当選された場合、楽天会員登録にご登録いただいたメールアドレス宛に当選メールをお送りいたします。<span class="c-Txt_Emp-02">当選メールをもって発表にかえさせていただきます</span>。</li>
                  <li>当選メールは&nbsp;sender@kuji.rakuten.co.jp&nbsp;から配信いたします。<span class="c-Txt_Emp-02">ドメインを受信できるように設定してください</span>。</li>
                  <li>賞品の発送は日本国内に限らせていただきます。あらかじめご了承ください。</li>
                  <li>データに不備がありますと､賞品の発送ができないことがございますので､ご注意ください。</li>
                  <li>最終的な当選数を20人となるよう、応募状況に応じて当選確率を自動的に調整しておりますが、システム状況・応募状況により、予定の当選数が出ない場合がございます。予めご了承ください。</li>
                  <li>楽天市場のメンテナンスなどの関係でくじを引けない場合がございます。その場合、くじの参加権利を翌日に繰り越すことはできません。</li>
                  <li>このサービスは予告なく中止させていただく場合がございます。</li>
                  <li>個人情報の取り扱いについては<a href="https://privacy.rakuten.co.jp" target="_blank">個人情報保護方針</a>をご覧ください。</li>
                </ul>
              </dd>
        </div>
        </dl>
        </div>
      </div>
  </div>
</div>

<footer class="g-Footer u-Adjust_Mt-64">

  <%- include('/include/_footer-simple') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
