<%_ const lId = (typeof lid !== 'undefined') ? `?l-id=${lid}_internet_turbo_campaign_six-month-free` : '' _%>
<a href="<%= sitepath %>internet/turbo/campaign/six-month-free/<%= lId %>" class="c-Banner_Hover-act" target="_blank">
  <picture>
    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-turbo-328-185-240221.png">
    <img src="<%= sitepath %>assets/img/bnr/bnr-turbo-1032-160-240221.png" alt="Rakuten Turbo 工事不要！すぐに使えるおうちのWi-Fi プラン料金：6カ月0円 さらに、スマホとセットで使うと20,000ポイント還元！※製品代金 別途41,580円 ※プラン料金7カ月目以降4,840円 ※その他条件あり" width="1032" height="160" loading="lazy">
  </picture>
</a>
