<% const pagetitle = `お使いのスマホから対象のAndroid製品に機種変更で10,000円相当分ポイント還元` -%>
<% const namespace = "android-device-upgrade" -%>
<%-
  include('/_header', {
    pagetitle: 'お使いのスマホから対象のAndroid製品に機種変更で10,000円相当分ポイント還元',
    description: `楽天モバイルご契約者様限定キャンペーン！お使いのスマホから対象のAndroid製品に機種変更で10,000円相当分ポイント還元！`,
    keywords: '',
    noindex: true,
    nofollow: true,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/android-device-upgrade/android-device-upgrade.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">


<%- include('/include/_header-simple') %>

<div class="<%= namespace %>-Layout-Label">
  <ul class="c-Label_List <%= namespace %>-Layout-Label_List">
    <li class="c-Label_Normal">ご契約者様対象</li>
    <li class="c-Label_Normal">対象者限定</li>
    <li class="c-Label_Normal">対象製品限定</li>
  </ul>
  <p class="<%= namespace %>-Layout-Label_point">ポイント：付与日を含めて6カ月の期間限定ポイント</p>
</div>

<div class="<%= namespace %>-Hero">
  <div class="<%= namespace %>-Hero_Container">
    <div class="<%= namespace %>-Hero_Main">
      <h1 class="<%= namespace %>-Hero_Main-image">
        <img src="<%= sitepath %>assets/img/campaign/android-device-upgrade/img_hero-pc.png" alt="ご案内を受け取った方限定 機種変更がおトク！ お使いのスマホから対象のAndroid製品に機種変更で10,000円相当分ポイント還元！" class="<%= namespace %>-Utility_Img-pc u-Adjust_Pt-0 u-Adjust_Pl-0  u-Adjust_Pr-0">
        <img src="<%= sitepath %>assets/img/campaign/android-device-upgrade/img_hero-sp.png" alt="ご案内を受け取った方限定 機種変更がおトク！ お使いのスマホから対象のAndroid製品に機種変更で10,000円相当分ポイント還元！" class="<%= namespace %>-Utility_Img-sp">
      </h1>
    </div>
  </div>
</div>

<div class="<%= namespace %>-Layout_Section <%= namespace %>-Section_List">
  <div class="l-System_Container">
    <div class="u-Adjust_Align-center">
      <p class="u-Adjust_Mt-8">
        <span class="c-Txt_Emp-01">【キャンペーン期間】</span><br>
        2022年11月30日（水）9:00～2023年1月31日（火）23:59 ／ショップ：2022年11月30日（水）開店～2023年1月31日（火）閉店
      </p>
      <p class="c-Txt_Emp-02 c-Txt_Normal-l u-Adjust_Mt-8 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
    </div>

    <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-32 <%= namespace %>-Layout-Label_link-list">
      <li><a href="#product" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>対象製品</a></li>
      <li><a href="#campaign-step02" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>機種変更をするための4つのステップ</a></li>
      <li><a href="<%= sitepath %>campaign/android-device-upgrade/#campaign-rule1675" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルール</a></li>
    </ul>

    <div class="c-Heading_Lv2 u-Adjust_Align-center">
      <p>キャンペーン対象のお客様について</p>
    </div>
    <div class="c-Theme-Light u-Adjust_Mt-16">
      <p class="u-Adjust_Mt-16">本キャンペーンは、楽天モバイルから本キャンペーンのご案内をお受け取りになられたお客様（Rakuten UN-LIMIT VIIご契約者様）ご本人のみが対象です。ご登録の楽天ID以外からのお申し込みはポイント付与の適用対象外となりますので、ご了承ください。</p>

      <h4 class="c-Heading_Lv4 u-Adjust_Mt-24 c-Txt_Emp-02">併用可能キャンペーンについて</h4>
      <p class="u-Adjust_Mt-16">本キャンペーンには併用可能なキャンペーンが指定されています。詳細については<a href="<%= sitepath %>campaign/android-device-upgrade/#campaign-rule1675" class="js-scroll">キャンペーンルール</a>をご確認ください。</p>
    </div>

  </div>

  <%- include('/campaign/android-device-upgrade/_device-list') %>

  <div id="campaign01" class="<%= namespace %>-Step">

    <div class="l-System_Container">
      <div class="<%= namespace %>-Shop-cpn c-Theme-Borderbox">
        <div class="<%= namespace %>-Shop-cpn_title-img">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/android-device-upgrade/shop-cpn-sp-221130.png">
            <img src="<%= sitepath %>assets/img/campaign/android-device-upgrade/shop-cpn-pc-221130.png" width="550" alt="">
          </picture>
        </div>
        <div class="<%= namespace %>-Shop-cpn-content">
          <div class="<%= namespace %>-Shop-cpn-content_box-s">
            <p class="c-Txt_Emp-01 u-Adjust_Align-center">本キャンペーンの対象製品へ機種変更で</p>
            <p class="c-Txt_Emp-02 u-Adjust_Align-center"><span class="<%= namespace %>-Shop-cpn-content_emp-num">10,000</span>ポイント</p>
          </div>
          <div class="<%= namespace %>-Shop-cpn-content_box-l">
            <div class="<%= namespace %>-Shop-cpn-content_eye-catch">
              <img src="<%= sitepath %>assets/img/campaign/android-device-upgrade/shop-cpn-eye-catch-221130.png" width="174" alt="">
            </div>
            <p class="c-Txt_Emp-01 u-Adjust_Align-center">ショップでの対象製品のご購入で</p>
            <p class="u-Adjust_Align-center"><span class="c-Txt_Emp-02">さらに最大<span class="<%= namespace %>-Shop-cpn-content_emp-num">5,980</span>ポイント</span><a href="<%= sitepath %>campaign/shop-limited-device/?l-id=campaign_android-device-upgrade_campaign_shop-limited-device#campaign-rule1584" class="c-Link_Txt-inline <%= namespace %>-Shop-cpn-content_link">詳しくはこちら<span class="c-Icon_Chevron-right"></span></a></p>
            <div class="<%= namespace %>-Shop-cpn-content_inner-box u-Adjust_Mt-16">
              <p class="c-Txt_Emp-01 u-Adjust_Align-center">さらにOPPO A55s 5G の場合、</p>
              <p class="u-Adjust_Align-center"><span class="c-Txt_Emp-02">土日祝日限定で<span class="<%= namespace %>-Shop-cpn-content_emp-num">3,799</span>ポイント</span><a href="<%= sitepath %>campaign/shop-limited-a55s-5g/?l-id=campaign_android-device-upgrade_campaign_shop-limited-a55s-5g#campaign-rule1662" class="c-Link_Txt-inline <%= namespace %>-Shop-cpn-content_link">詳しくはこちら<span class="c-Icon_Chevron-right"></span></a></p>
              <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-center">※土日祝日は年末年始（2022年12月30日~2023年1月3日）も含みます。</p>
            </div>
          </div>
        </div>

        <div class="u-Adjust_Align-center u-Adjust_Mt-24">
          <a href="<%= sitepath %>shop/?l-id=campaign_android-device-upgrade_shop_01" class="c-Btn_Regular-large"><span>お近くのショップを探す</span></a>
        </div>
      </div>
    </div>

    <div class="l-System_Container">
      <div id="campaign-step02" class="<%= namespace %>-Step_Title-content">
        <div class="c-Heading_Lv2">
          機種変更をするための4つのステップ
        </div>
        <img class="<%= namespace %>-Step_Main-image <%= namespace %>-Step_Main-pc u-Adjust_Pt-16" src="<%= sitepath %>assets/img/campaign/android-device-upgrade/img-point-step-pc-221130.png" alt="STEP1 楽天モバイルで対象製品を購入する STEP2 SIM交換を申し込む（必要なお客様のみ） &rarr; STEP3 対象製品を受け取る STEP4 SIMの移行作業と初期設定を行う">
        <img class="<%= namespace %>-Step_Main-image <%= namespace %>-Step_Main-sp u-Adjust_Pt-16" src="<%= sitepath %>assets/img/campaign/android-device-upgrade/img-point-step-sp-221130.png" alt="STEP1 楽天モバイルで対象製品を購入する STEP2 SIM交換を申し込む（必要なお客様のみ） &rarr; STEP3 対象製品を受け取る STEP4 SIMの移行作業と初期設定を行う">
      </div>

      <div class="<%= namespace %>-Step_Accordion u-Adjust_Mt-64">
        <div class="c-Accordion">
          <button id="accordion-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>4つのステップ詳細を見る</button>
          <div id="accordion-content-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-3" aria-hidden="false">
            <div class="<%= namespace %>_Section <%= namespace %>_Section-01 u-Adjust_Mt-32">
              <div class="<%= namespace %>-Step_Detail">

                <section class="<%= namespace %>_Section <%= namespace %>_Section-01">
                  <h3>
                    <span class="<%= namespace %>-Step_Detail-step u-Adjust_Mt-32">STEP1</span>
                    <span class="<%= namespace %>-Step_Detail-title">楽天モバイルで対象の<br class="<%= namespace %>-Utility_Br-sp">Android製品を購入する</span>
                  </h3>
                  <ul class="c-Flow u-Adjust_Mt-16">
                    <li>
                      <h4 class="c-Heading_Lv4">対象のAndroid製品を購入する</h4>
                      <div class="l-Media_Grid u-Adjust_Mt-16">
                        <div class="l-Media_Image c-Flow_Image">
                          <img src="<%= sitepath %>assets/img/campaign/android-device-upgrade/img-step01-01.png" width=""  alt="">
                        </div>
                        <div>
                          <p><span class="c-Txt_Emp-02">ご案内を受け取った楽天IDでログイン</span>して、対象製品を購入してください。</p>
                          <div class="<%= namespace %>-Step_Detail-btn u-Adjust_Mt-16">
                            <a href="#cpn-target-contents" class="c-Btn_Regular <%= namespace %>-Flow_List-in-btn" ratid="campaign_android-device-upgrade_product" data-ratevent="click"><span>対象製品を見る</span></a>
                          </div>
                          <p class=" u-Adjust_Mt-16">ショップでご購入いただいても本キャンペーンの対象となります。<br>
                            ご来店の際は、Webでできる「来店予約」が便利です。各ショップページの「来店予約」ボタンよりご予約ください。各ショップごとに製品の在庫状況が異なります
                          </p>
                          <p class="c-Txt_Cap u-Adjust_Mt-8">※カウンターが空き次第のご案内となり、多少の待ち時間をいただく場合がございます。</p>
                          <p class="c-Txt_Cap u-Adjust_Mt-8">※ショップページに「来店予約」ボタンがないショップでは、来店予約を行っておりません。ご了承ください。</p>
                          <div class="<%= namespace %>-Step_Detail-btn u-Adjust_Mt-16">
                            <a href="<%= sitepath %>shop/?l-id=campaign_android-device-upgrade_shop_02" class="c-Btn_Regular <%= namespace %>-Flow_List-in-btn"><span>お近くのショップを探す</span></a>
                          </div>
                          <p class="c-Txt_Cap u-Adjust_Mt-16">※楽天市場でのご購入は対象外です。</p>

                        </div>
                      </div>
                    </li>
                  </ul>
                </section>

                <section class="<%= namespace %>_Section <%= namespace %>_Section-02">
                  <div>
                    <h3>
                      <span class="<%= namespace %>-Step_Detail-step u-Adjust_Mt-32">STEP2</span>
                      <span class="<%= namespace %>-Step_Detail-title">SIM交換を申し込む<br>（現在お使いのスマホと<br class="<%= namespace %>-Utility_Br-sp">SIMタイプが異なる場合）</span>
                    </h3>
                    <p class="<%= namespace %>-Step_Detail-lead">
                      <span class="<%= namespace %>-Step_Detail-text c-Txt_Emp-02 c-Txt_Cap">※「SIMカードからeSIM」、「eSIMからSIMカード」への変更にはこのお手続きが必要です。SIMの変更に関する手数料は掛かりません。<br>
                        ※同じタイプのSIMをご利用のお客様はSTEP3へお進みください。</span></p>
                    <ul class="c-Flow u-Adjust_Mt-16">
                        <li>
                          <h4 class="c-Heading_Lv4">my 楽天モバイルでSIM交換を申し込む</h4>
                          <div class="l-Media_Grid u-Adjust_Mt-16">
                            <div class="l-Media_Image c-Flow_Image">
                              <img src="<%= sitepath %>assets/img/campaign/android-device-upgrade/img-step02-01.png" width=""  alt="">
                            </div>
                            <div>
                              <p>my 楽天モバイルに<span class="c-Txt_Emp-02">ご案内を受け取った楽天IDでログイン</span>してSIM交換の申し込みを行ってください。</p>
                            </div>

                          </div>
                        </li>
                      </ul>
                    </div>
                </section>

                <section class="<%= namespace %>_Section <%= namespace %>_Section-03">
                  <div>
                    <h3>
                      <span class="<%= namespace %>-Step_Detail-step u-Adjust_Mt-32">STEP3</span>
                      <span class="<%= namespace %>-Step_Detail-title u-Adjust_Mt-8">購入したAndroid製品<br class="<%= namespace %>-Utility_Br-sp">を受け取る</span>
                    </h3>
                    <ul class="c-Flow u-Adjust_Mt-16">
                      <li>
                        <h4 class="c-Heading_Lv4">購入した製品を受け取る</h4>
                        <div class="l-Media_Grid u-Adjust_Mt-16">
                          <div class="l-Media_Image c-Flow_Image">
                            <img src="<%= sitepath %>assets/img/campaign/android-device-upgrade/img-step03-01.png" width="" alt="">
                          </div>
                          <div>
                            <p>「my 楽天モバイル」にご登録されている住所に製品を発送いたしますのでお受け取りください。<br>
                              ショップで購入して、すでに製品を受け取っている方は、このSTEPは不要です。</p>
                            </div>

                        </div>
                      </li>
                    </ul>
                  </div>
                </section>

                <section class="<%= namespace %>_Section <%= namespace %>_Section-04">
                  <div>
                    <h3>
                      <span class="<%= namespace %>-Step_Detail-step u-Adjust_Mt-32">STEP4</span>
                      <span class="<%= namespace %>-Step_Detail-title">SIMの移行作業と<br class="<%= namespace %>-Utility_Br-sp">初期設定を行う</span>
                    </h3>
                    <ul class="c-Flow u-Adjust_Mt-16">
                      <li>
                        <h4 class="c-Heading_Lv4">開通手続きを行い、初期設定をする</h4>
                        <div class="l-Media_Grid u-Adjust_Mt-16">
                          <div class="l-Media_Image c-Flow_Image">
                            <img src="<%= sitepath %>assets/img/campaign/android-device-upgrade/img-step04-01.png" width=""  alt="">
                          </div>
                          <div>
                            <p>my 楽天モバイルから、楽天回線の開通手続きを行ってください。<br>
                              開通手続きが完了すると機種変更は完了です。</p>
                            <p class="u-Adjust_Mt-16">各種製品の初期設定については、下記ページをご確認ください。</p>
                            <div class="<%= namespace %>-Step_Detail-btn u-Adjust_Mt-16">
                              <a href="<%= sitepath %>guide/setting/?l-id=campaign_android-device-upgrade_guide_setting" class="c-Btn_Regular <%= namespace %>-Flow_List-in-btn"><span>各種製品の初期設定方法を見る</span></a>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </section>

              </div>
            </div>
          </div>
        </div>
      </div>



    </div>


    <div class="l-System_Container">
      <p class="u-Adjust_Mt-16 u-Adjust_Mb-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/campaign/android-device-upgrade/icon-down-arrow.png" width="80" height="24" alt=""></p>

      <div class="c-Theme-Borderbox">
        <h3 class="c-Heading_Lv3"><span class="c-Txt_Emp-02">10,000円相当分</span>のポイント還元！</h3>
        <div class="l-Media_Grid u-Adjust_Mt-16">
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/campaign/android-device-upgrade/logo-rakuten-point-221130.png" alt="Rakuten POINT">
          </div>
          <div>
            <p>対象のAndroid製品ご購入の翌々月末日頃に、期間限定ポイントとして10,000ポイントを付与いたします。</p>
            <div class="u-Adjust_Mt-16">
              <a href="https://point.rakuten.co.jp/history/" class="c-Btn_Regular u-Adjust_Mt-8">
                楽天ポイントの獲得履歴を見る
              </a>
            </div>
          </div>
        </div>
      </div>
      <p class="u-Adjust_Align-center u-Adjust_Mt-24">機種変更お申し込みから完了までの詳しい流れは下記ページをご確認ください。</p>
      <div class="u-Adjust_Mt-24 u-Adjust_Align-center u-Adjust_Mt-24">
        <a href="<%= sitepath %>guide/product/device-upgrade/?l-id=campaign_android-device-upgrade_guide_product_device-upgrade#flow" class="c-Btn_Regular-large">製品の機種変更の流れを見る</a>
      </div>
    </div>

  </div>
</div>

<div class="<%= namespace %>-Layout_Foot">
  <div class="l-System_Container">

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">よくあるご質問</h2>
    <div class="<%= namespace %>-Step_Accordion u-Adjust_Mt-24">
      <div class="c-Accordion">
        <button id="accordion-faq-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーン対象になるためのエントリーは必要ですか</button>
        <div id="accordion-content-faq-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-1" aria-hidden="false">
          <p>本キャンペーンにエントリーは必要ございません。<br>参加条件を満たしていればキャンペーンの対象となります。</p>
        </div>
      </div>
      <div class="c-Accordion">
        <button id="accordion-faq-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>製品を2台以上同時に購入した場合、キャンペーンは適用されますか</button>
        <div id="accordion-content-faq-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-4" aria-hidden="false">
          <p>ポイント還元対象製品1台分のみがキャンペーン適用となります。</p>
        </div>
      </div>
      <div class="c-Accordion">
        <button id="accordion-faq-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-5"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>他のキャンペーンと併用は可能ですか</button>
        <div id="accordion-content-faq-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-5" aria-hidden="false">
          <p>併用可能なキャンペーンは<a href="<%= sitepath %>campaign/android-device-upgrade/#campaign-rule1675" class="js-scroll">キャンペーンルール</a>の「併用可能キャンペーン」欄をご確認ください。</p>
        </div>
      </div>
      <div class="c-Accordion">
        <button id="accordion-faq-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-6"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ポイント付与前に楽天のサービスを退会した場合どうなりますか</button>
        <div id="accordion-content-faq-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-6" aria-hidden="false">
          <p>＜楽天会員を退会した場合＞<br>ポイント付与前に楽天会員を退会された場合は、ポイント付与されませんので予めご了承ください。<br><br>＜楽天モバイルを解約した場合＞<br>楽天モバイルを解約されていても、キャンペーンルールの「対象者・適用条件」を満たしている場合はポイント付与の対象となります。</p>
        </div>
      </div>
    </div>

    <div class="u-Adjust_Mt-64">
      <div class="<%= namespace %>-Layout_Rule">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center" id="campaign-rule1675">Android機種変更キャンペーン</h2>

        <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-16 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
        <div class="c-Table_Wrap u-Adjust_Mt-24">
          <div class="u-Adjust_Mt-24">
            <dl class="c-Dl_Origin <%= namespace %>-Dl_Rule">
              <div>
                <dt>キャンペーンコード</dt>
                <dd>
                  <p>1675</p>
                  <ul class="c-Txt_Cap u-Adjust_Mt-8">
                    <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                  </ul>
                </dd>
              </div>
              <div>
                <dt>キャンペーン期間</dt>
                <dd>
                  <p><span class="c-Txt_Emp-01">■ 製品のご購入期間</span><br>
                    - Web 2022年11月30日（水）09:00～2023年1月31日（火）23:59<br>
                    - 店舗（楽天モバイルショップ）　2022年11月30日（水）開店～2023年1月31日（火）閉店
                  </p>
                </dd>
              </div>
              <div>
                <dt>キャンペーン条件</dt>
                <dd>
                  <p class="c-Txt_Emp-01">
                    上記各項目の期間内に【1】、【2】、【3】の条件をすべて満たした楽天会員の方<br>
                    お一人様１回限りの適用となります。
                  </p>
                  <div class="u-Adjust_Mt-16">
                    <span class="c-Txt_Emp-01">【1】本キャンペーンの対象である旨のご案内を受け取った方</span><br>
                    <ul class="c-List_Note u-Adjust_Mt-8">
                      <li><span>※</span>本キャンペーンのご案内を楽天モバイルから受け取ったご本人様のみがキャンペーン対象となります。ご本人様以外が購入されてもポイント付与の対象にはなりません。</li>
                    </ul>
                  </div>
                  <div class="u-Adjust_Mt-16">
                    <p class="c-Txt_Emp-01">【2】対象製品いずれかをご購入</p>
                    <ul class="c-List_Note u-Adjust_Mt-8">
                      <li><span>-</span>Galaxy A23 5G </li>
                      <li><span>-</span>Galaxy Z Flip4</li>
                      <li><span>-</span>Xperia 5 IV</li>
                      <li><span>-</span>AQUOS sense7</li>
                      <li><span>-</span>OPPO Reno7A</li>
                      <li><span>-</span>Redmi Note 11 Pro 5G</li>
                      <li><span>-</span>OPPO A55s 5G</li>
                      <li><span>-</span>AQUOS sense6s</li>
                      <li><span>-</span>AQUOS wish</li>
                      <li><span>-</span>AQUOS zero6</li>
                      <li><span>-</span>Xperia 10 Ⅳ</li>
                    </ul>
                  </div>
                  <div class="u-Adjust_Mt-16">
                    <p class="c-Txt_Emp-01 c-Txt_Emp-02">【3】ご案内を受け取った時点で楽天回線をご利用いただいている方</p>
                  </div>
                </dd>
              </div>
              <div>
                <dt>キャンペーン特典 （楽天ポイント）</dt>
                <dt class="<%= namespace %>_Title-sub">特典内容</dt>
                <dd>
                  <p class="c-Txt_Emp-01">10,000円相当のポイントをプレゼント</p>
                </dd>
              </div>
              <div>
                <dt class="<%= namespace %>_Title-sub">ポイント付与日</dt>
                <dd>
                  <p class="c-Txt_Emp-01">対象製品ご購入月の翌々月末日ごろに付与</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>例）11月にすべての条件を達成した場合には、その翌々月である1月末日ごろにポイント付与となります</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>権利の譲渡はできません</p>
                </dd>
              </div>
              <div>
                <dt class="<%= namespace %>_Title-sub">ポイント有効期間</dt>
                <dd>
                  <td>
                    <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
                    <ul class="u-Adjust_Mt-8">
                      <li class="c-Txt_Cap"><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a></li>
                      <li class="c-Txt_Cap"><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。</li>
                    </ul>
                  </td>
                </dd>
              </div>
              <div>
                <dt>特典適用対象外</dt>
                <dd>
                  <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
                  <ul class="u-Adjust_Mt-16">
                    <li class="c-Txt_Cap"><span>※</span>本キャンペーンのご案内を楽天モバイルから受け取っていない場合</li>
                    <li class="c-Txt_Cap"><span>※</span>製品の購入と同時に回線契約をした場合</li>
                    <li class="c-Txt_Cap"><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                    <li class="c-Txt_Cap"><span>※</span>「﻿Android機種変更キャンペーン（キャンペーンコード：1675）」の適用回数が、おひとり様1回を超える場合は対象外となります</li>
                    <li class="c-Txt_Cap"><span>※</span>楽天モバイルショップ、楽天モバイルオンライン以外で購入した場合</li>
                    <li class="c-Txt_Cap"><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
                    <li class="c-Txt_Cap"><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                    <li class="c-Txt_Cap"><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                    <li class="c-Txt_Cap"><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
                  </ul>
                </dd>
              </div>

              <div>
                <dt>併用可能キャンペーン</dt>
                <dd>
                  <ul>
                    <li class="c-Txt_Emp-02">以下のキャンペーンは併用可能となります。</li>
                    <li class="c-Txt_Cap"><span>-</span>【ショップ限定】対象製品購入でさらにポイント還元キャンペーン　(キャンペーンコード：1584）</li>
                    <li class="c-Txt_Cap"><span>-</span>【ショップ&週末限定】OPPO A55s 5G 3,799ポイントプレゼントキャンペーン（キャンペーンコード：1662）</li>
                  </ul>
                </dd>
              </div>

              <div>
                <dt>注意事項</dt>
                <dd>
                  <ul>
                    <li class="c-Txt_Cap"><span>※</span>本キャンペーンは今後対象製品を変更・追加する場合がございます。</li>
                    <li class="c-Txt_Cap"><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                    <li class="c-Txt_Cap"><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                    <li class="c-Txt_Cap"><span>※</span>製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
                    <li class="c-Txt_Cap"><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                    <li class="c-Txt_Cap"><span>※</span>記載の内容は2022年11月30日（水）時点の情報となります</li>
                  </ul>
                </dd>
              </div>
            </dl>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>


<footer class="g-Footer">

  <%- include('/include/_footer-simple') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
<script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/1.5.0/js/main.js" defer></script>
</body>
</html>
