<%_
  const commonNamespace = _commonNamespace
  const diamond = "<sup>&#9674;</sup>"
  const hideSpProMax = hideFlg.proMax ? `${commonNamespace}-Spec_Util-pc` : ''
  const hideSpPro = hideFlg.pro ? `${commonNamespace}-Spec_Util-pc` : ''
  const hideSpPlus = hideFlg.plus ? `${commonNamespace}-Spec_Util-pc` : ''
  const hideSp_14 = hideFlg._14 ? `${commonNamespace}-Spec_Util-pc` : ''
  const hideSpSe3rd = hideFlg.se3rd ? `${commonNamespace}-Spec_Util-pc` : ''
_%>
<section class="<%= commonNamespace %>-Spec_Section-comparison">
  <h3 class="<%= commonNamespace %>-Spec_Section-comparison-heading <%= commonNamespace %>-Spec_Util-Pc_center">
    <small>比較する</small>
    あなたにぴったりのiPhoneは？
  </h3>
  <ul class="<%= commonNamespace %>-Spec_Section-comparison-list">
    <li class="<%= hideSpProMax %>">
      <dl>
        <dt>iPhone 14 Pro Max</dt>
        <dd>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-img">
            <div class="<%= commonNamespace %>-Spec_Section-comparison-img-figure">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/iphone-14-pro-max-221110.png" alt="" width="102" height="124">
              </figure>
            </div>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-img-colors-4">
              <li style="background: #594F63;"></li>
              <li style="background: #F4E8CE;"></li>
              <li style="background: #F0F2F2;"></li>
              <li style="background: #403E3D;"></li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-size">
            <p class="<%= commonNamespace %>-Spec_Section-comparison-size-emp">
              <span>6.7</span>インチ
            </p>
            <p class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap <%= commonNamespace %>-Spec_Util-nowrap">Super Retina <br class="<%= commonNamespace %>-Spec_Util-sp">XDRディスプレイ<%- diamond %></p>
            <p class="u-Adjust_Mt-16 <%= commonNamespace %>-Spec_Util-nowrap">ProMotionテクノロジー</p>
            <p class="u-Adjust_Mt-16">常時表示ディスプレイ</p>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-dynamic-island">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-dynamic-island-221110.png" alt="" width="42" height="42">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>
                Dynamic Island<br>
                新しいiPhoneの操作システム
              </li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-sos">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-sos-221110.png" alt="" width="42" height="42">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>
                緊急SOS<br>
                衝突事故検出
              </li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-camera">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-camera-triple-221110.png" alt="" width="50" height="50">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>
                Proのカメラシステム<br>
                48MPメイン | 超広角 | 望遠<br class="<%= commonNamespace %>-Spec_Util-pc">
              </li>
            </ul>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap"><li>オートフォーカスに対応したTrueDepthフロントカメラ</li></ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-battery">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-battery-221110.png" alt="" width="46" height="46">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>最大29時間のビデオ再生<%- diamond %></li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-chip" style="padding-bottom:16px">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-A16-221110.png" alt="" width="42" height="42">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>A16 Bionicチップ</li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-id">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-faceid-221110.png" alt="" width="42" height="42">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>Face ID</li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-5g">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-5g-221110.png" alt="" width="42" height="36">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li class="<%= commonNamespace %>-Spec_Util-nowrap">超高速の5G携帯電話通信<%- diamond %></li>
            </ul>
          </div>
        </dd>
      </dl>
    </li>

    <li class="<%= hideSpPro %>">
      <dl>
        <dt>iPhone 14 Pro</dt>
        <dd>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-img">
            <div class="<%= commonNamespace %>-Spec_Section-comparison-img-figure">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/iphone-14-pro-221110.png" alt="" width="89" height="124">
              </figure>
            </div>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-img-colors-4">
              <li style="background: #594F63;"></li>
              <li style="background: #F4E8CE;"></li>
              <li style="background: #F0F2F2;"></li>
              <li style="background: #403E3D;"></li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-size">
            <p class="<%= commonNamespace %>-Spec_Section-comparison-size-emp">
              <span>6.1</span>インチ
            </p>
            <p class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap <%= commonNamespace %>-Spec_Util-nowrap">Super Retina <br class="<%= commonNamespace %>-Spec_Util-sp">XDRディスプレイ<%- diamond %></p>
            <p class="u-Adjust_Mt-16">ProMotionテクノロジー</p>
            <p class="u-Adjust_Mt-16">常時表示ディスプレイ</p>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-dynamic-island">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-dynamic-island-221110.png" alt="" width="42" height="42">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>
                Dynamic Island<br>
                新しいiPhoneの操作システム
              </li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-sos">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-sos-221110.png" alt="" width="42" height="42">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>
                緊急SOS<br>
                衝突事故検出
              </li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-camera">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-camera-triple-221110.png" alt="" width="50" height="50">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>
                Proのカメラシステム<br>
                48MPメイン | 超広角 | 望遠<br class="<%= commonNamespace %>-Spec_Util-pc">
              </li>
            </ul>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap"><li>オートフォーカスに対応したTrueDepthフロントカメラ</li></ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-battery">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-battery-221110.png" alt="" width="46" height="46">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>最大23時間のビデオ再生<%- diamond %></li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-chip" style="padding-bottom:16px">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-A16-221110.png" alt="" width="42" height="42">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>A16 Bionicチップ</li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-id">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-faceid-221110.png" alt="" width="42" height="42">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>Face ID</li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-5g">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-5g-221110.png" alt="" width="42" height="36">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li class="<%= commonNamespace %>-Spec_Util-nowrap">超高速の5G携帯電話通信<%- diamond %></li>
            </ul>
          </div>
        </dd>
      </dl>
    </li>

    <li class="<%= hideSpPlus %>">
      <dl>
        <dt>iPhone 14 Plus</dt>
        <dd>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-img">
            <div class="<%= commonNamespace %>-Spec_Section-comparison-img-figure">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/iphone-14-plus-221110.png" alt="" width="91" height="113">
              </figure>
            </div>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-img-colors-5">
              <li style="background: #A0B4C7;"></li>
              <li style="background: #E6DDEB;"></li>
              <li style="background: #222930;"></li>
              <li style="background: #FAF6F2;"></li>
              <li style="background: #FC0324;"></li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-size">
            <p class="<%= commonNamespace %>-Spec_Section-comparison-size-emp">
              <span>6.7</span>インチ
            </p>
            <p class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap <%= commonNamespace %>-Spec_Util-nowrap">Super Retina <br class="<%= commonNamespace %>-Spec_Util-sp">XDRディスプレイ<%- diamond %></p>
            <p class="u-Adjust_Mt-16">—</p>
            <p class="u-Adjust_Mt-16">—</p>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-dynamic-island">
            —
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-sos">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-sos-221110.png" alt="" width="42" height="42">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>
                緊急SOS<br>
                衝突事故検出
              </li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-camera">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-camera-dual-221110.png" alt="" width="50" height="50">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>
                先進的なデュアル<br>
                カメラシステム<br>
                12MPメイン | 超広角
              </li>
            </ul>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap"><li>オートフォーカスに対応したTrueDepthフロントカメラ</li></ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-battery">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-battery-221110.png" alt="" width="46" height="46">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>最大26時間のビデオ再生<%- diamond %></li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-chip">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-A15-221110.png" alt="" width="42" height="42">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>5コアGPUを搭載した<br>A15 Bionicチップ</li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-id">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-faceid-221110.png" alt="" width="42" height="42">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>Face ID</li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-5g">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-5g-221110.png" alt="" width="42" height="36">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li class="<%= commonNamespace %>-Spec_Util-nowrap">超高速の5G携帯電話通信<%- diamond %></li>
            </ul>
          </div>
        </dd>
      </dl>
    </li>

    <li class="<%= hideSp_14 %>">
      <dl>
        <dt>iPhone 14</dt>
        <dd>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-img">
            <div class="<%= commonNamespace %>-Spec_Section-comparison-img-figure">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/iphone-14-221110.png" alt="" width="84" height="113">
              </figure>
            </div>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-img-colors-5">
              <li style="background: #A0B4C7;"></li>
              <li style="background: #E6DDEB;"></li>
              <li style="background: #222930;"></li>
              <li style="background: #FAF6F2;"></li>
              <li style="background: #FC0324;"></li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-size">
            <p class="<%= commonNamespace %>-Spec_Section-comparison-size-emp">
              <span>6.1</span>インチ
            </p>
            <p class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap <%= commonNamespace %>-Spec_Util-nowrap">Super Retina <br class="<%= commonNamespace %>-Spec_Util-sp">XDRディスプレイ<%- diamond %></p>
            <p class="u-Adjust_Mt-16">—</p>
            <p class="u-Adjust_Mt-16">—</p>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-dynamic-island">
            —
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-sos">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-sos-221110.png" alt="" width="42" height="42">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>
                緊急SOS<br>
                衝突事故検出
              </li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-camera">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-camera-dual-221110.png" alt="" width="50" height="50">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>
                先進的なデュアル<br>
                カメラシステム<br>
                12MPメイン | 超広角
              </li>
            </ul>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap"><li>オートフォーカスに対応したTrueDepthフロントカメラ</li></ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-battery">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-battery-221110.png" alt="" width="46" height="46">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>最大20時間のビデオ再生<%- diamond %></li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-chip">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-A15-221110.png" alt="" width="42" height="42">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>5コアGPUを搭載した<br>A15 Bionicチップ</li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-id">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-faceid-221110.png" alt="" width="42" height="42">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>Face ID</li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-5g">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-5g-221110.png" alt="" width="42" height="36">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li class="<%= commonNamespace %>-Spec_Util-nowrap">超高速の5G携帯電話通信<%- diamond %></li>
            </ul>
          </div>
        </dd>
      </dl>
    </li>

    <li class="<%= hideSpSe3rd %>">
      <dl>
        <dt>iPhone <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-se-221110.png" style="vertical-align:baseline" width="14" height="14" alt=""></dt>
        <dd>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-img">
            <div class="<%= commonNamespace %>-Spec_Section-comparison-img-figure">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/iphone-se-3rd-221110.png" alt="" width="72" height="106">
              </figure>
            </div>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-img-colors-5">
              <li style="background: #232A31;"></li>
              <li style="background: #FAF6F2;"></li>
              <li style="background: #BF0013;"></li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-size">
            <p class="<%= commonNamespace %>-Spec_Section-comparison-size-emp">
              <span>4.7</span>インチ
            </p>
            <p class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap <%= commonNamespace %>-Spec_Util-nowrap">Super Retina <br class="<%= commonNamespace %>-Spec_Util-sp">HDディスプレイ<%- diamond %></p>
            <p class="u-Adjust_Mt-16">—</p>
            <p class="u-Adjust_Mt-16">—</p>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-dynamic-island">
            —
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-sos">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-sos-221110.png" alt="" width="42" height="42">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>
                緊急SOS<br>
                —
              </li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-camera">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-camera-single-221110.png" alt="" width="50" height="50">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>
                先進的なデュアル<br>
                カメラシステム<br>
                12MPメイン | 超広角
              </li>
            </ul>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap"><li>オートフォーカスに対応したTrueDepthフロントカメラ</li></ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-battery">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-battery-221110.png" alt="" width="46" height="46">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>最大15時間のビデオ再生<%- diamond %></li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-chip">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-A15-221110.png" alt="" width="42" height="42">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>4コアGPUを搭載した<br>A15 Bionicチップ</li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-id">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-touchid-221110.png" alt="" width="42" height="42">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>Touch ID</li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-5g">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/common/comparison/icon-5g-221110.png" alt="" width="42" height="36">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li class="<%= commonNamespace %>-Spec_Util-nowrap">5G携帯電話通信<%- diamond %></li>
            </ul>
          </div>
        </dd>
      </dl>
    </li>

  </ul>
</section>
