<% const pagetitle = "eSIMだから実現する 簡単・手軽な申し込みスタイル" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/sim/", label:"SIM"}] -%>
<% const namespace = "product-esim" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '本体一体型のeSIMなら開通手続きも簡単。eSIM対応製品でオンライン本人確認（eKYC）をご利用いただくと、お申し込み完了後、最短3分でスマホが使える！簡単・手軽な理由、お申し込み手順についてご案内いたします。',
    noindex: false,
    pathname: filepath
  });
%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/sim/esim/product-esim.css?20240510">
<%- include('/include/_append-head') %>
<script src="https://cdn-blocks.karte.io/af9a177505f9cae0fc9080cf295e2776/builder.js" async></script>
</head>
<body>

<%- include('/include/_prepend-body') %>

<div class="l-System">

  <%- include('/include/_header') %>

  <div class="c-Breadcrumbs_Head">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <div class="<%= namespace %>-Hero">
    <div class="l-System_Container <%= namespace %>-Hero-wrap">
      <div class="<%= namespace %>-Hero-ttl">
        <p class="<%= namespace %>-Hero-subttl">eSIMだから実現する</p>
        <h1 class="c-Heading_Lv1">簡単・手軽な申し込みスタイル</h1>
      </div>
      <p class="<%= namespace %>-Hero-cap">※表記の金額は特に記載のある場合を除き全て税込です。</p>
    </div>
  </div>
  <div class="<%= namespace %>-Nav_List c-Box_App">
    <ul class="<%= namespace %>-Nav_List-content c-Anchor_List l-System_Container">
      <li>
          <a href="#anc01" class="c-Anchor_Icon js-scroll" data-ratid="product_sim_esim_about_anker" data-ratevent="click" data-ratparam="all">
              <span class="c-Icon_Arrow-down-l u-Show_Xxo"></span>
              <span class="u-Color_Light-black">eSIMとは</span>
              <span class="c-Icon_Sign-info-l"></span>
          </a>
      </li>
      <li>
          <a href="#anc02" class="c-Anchor_Icon js-scroll" data-ratid="product_sim_esim_reason_anker" data-ratevent="click" data-ratparam="all">
              <span class="c-Icon_Arrow-down-l u-Show_Xxo"></span>
             <span class="u-Color_Light-black"> 簡単・手軽な<br class="u-Show_Oxx">理由</span>
              <span class="c-Icon_Check"></span>
          </a>
      </li>
      <li>
          <a href="#anc03" class="c-Anchor_Icon js-scroll" data-ratid="product_sim_esim_application_anker" data-ratevent="click" data-ratparam="all">
              <span class="c-Icon_Arrow-down-l u-Show_Xxo"></span>
              <span class="u-Color_Light-black">お申し込み<br class="u-Show_Oxx">手順</span>
              <span class="c-Icon_Survey-l"></span>
          </a>
      </li>
      <li>
          <a href="#product-rakuten-esim" class="c-Anchor_Icon js-scroll" data-ratid="product_sim_esim_product_anker" data-ratevent="click" data-ratparam="all">
              <span class="c-Icon_Arrow-down-l u-Show_Xxo"></span>
              <span class="u-Color_Light-black">eSIM<br class="u-Show_Oxx">対応製品</span>
              <span class="c-Icon_Smartphone-l"></span>
          </a>
      </li>
    </ul>
  </div>
  <div class="l-System_Container">
    <h2 id="anc01" class="c-Heading_Lv2 u-Adjust_Mt-64 u-Adjust_Align-center">eSIMとは</h2>
    <div class="l-Media_Grid u-Adjust_Mt-32">
      <div class="l-Media_Image">
        <img src="<%= sitepath %>assets/img/product/sim/esim/img-sim-esim-01.png" alt="">
      </div>
      <div>
        <p>eSIM（イーシム）は、スマートフォンに内蔵された本体一体型のSIMです。eSIMなら、SIMカードが届くのを待ったり、紛失や破損の心配もありません。</p>
        <div class="<%= namespace %>-About-pinkbox-wrap">
          <div class="<%= namespace %>-About-pinkbox-item"><span class="c-Icon_Check"></span>SIMカードの差し替え不要</div>
          <div class="<%= namespace %>-About-pinkbox-item"><span class="c-Icon_Check"></span>オンラインで開通手続きができる</div>
        </div>
      </div>
    </div>
  </div>
  <div class="<%= namespace %>-Reason u-Adjust_Mt-64">
    <div class="l-System_Container">
      <p id="anc02" class="c-Txt_Emp-02 u-Adjust_Align-center">eSIM×eKYC</p>
      <h2 class="c-Heading_Lv2 u-Adjust_Mt-8 u-Adjust_Align-center">お申し込みが簡単・手軽な理由</h2>
      <div class="l-Media_Grid-half u-Adjust_Mt-32">
        <div class="<%= namespace %>-Reason-item">
          <h3 class="c-Heading_Lv2">お店に行く必要なし。オンラインで完結！<span class="c-Txt_Cap">※1</span></h3>
          <div class="u-Adjust_Align-center">
            <img class="u-Adjust_Mt-16" src="<%= sitepath %>assets/img/product/sim/esim/img-sim-esim-02.png" alt="" width="343px">
          </div>
          <p class="u-Adjust_Mt-32">オンライン本人確認（eKYC）をご利用いただくことで、自宅でもどこでも、オンラインでお申し込み～開通までのお手続きが可能です。</p>
          <a href="<%= sitepath %>guide/verify/ekyc/?l-id=product_esim_guide_verify-ekyc" class="c-Link_Txt-icon u-Adjust_Mt-16">eKYCの詳細を見る<span class="c-Icon_Chevron-right"></span></a>
          <p class="c-Txt_Cap u-Adjust_Mt-16 c-Txt_Emp-02">※1 現在対応している本人確認書類は運転免許証とマイナンバーカードです。</p>
        </div>
        <div class="<%= namespace %>-Reason-item">
          <h3 class="c-Heading_Lv2">お申し込み完了後、最短3分でつながる！<span class="c-Txt_Cap">※2</span></h3>
          <div class="u-Adjust_Align-center">
            <img class="u-Adjust_Mt-16" src="<%= sitepath %>assets/img/product/sim/esim/img-sim-esim-03.png" alt="" width="323px">
          </div>
          <p class="<%= namespace %>-Reason-item_Txt">楽天モバイル対応のeSIM対応製品をお持ちの方は、「my 楽天モバイル」から、簡単なステップで開通が完了し、すぐにご利用いただけます。</p>
          <p class="c-Txt_Cap u-Adjust_Mt-16">※2 楽天モバイル対応のeSIM対応製品でアプリからeKYCで申し込んだ場合。SIMフリーの製品でない場合、SIMロック解除が必要です。</p>
        </div>
      </div>
      <p class="c-Txt_Emp-02 u-Adjust_Align-center u-Adjust_Mt-32">動画でチェック</p>
      <h2 id="js-trigger" class="c-Heading_Lv2 u-Adjust_Mt-8 u-Adjust_Align-center">お使いのスマホでお申し込み後、最短3分で乗り換え！</h2>

      <div class="u-Adjust_Align-center">
        <div class="u-Adjust_Mt-16">
            <div style="position: relative; display: block; margin: 0 auto;">
              <div style="padding-top: 56.25%;">
                <video
                  id="play-movie_product_sim_esim"
                  data-account="5068808272001"
                  data-player="default"
                  data-embed="default"
                  data-video-id="6328254050112"
                  class="video-js"
                  controls
                  data-rat-media='{ "measure":true, "mediaId": "play-movie_product_sim_esim" }'
                  style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%; border-width: 0;">
                </video>
              </div>
            </div>
        </div>
      </div>

      <p class="c-Txt_Cap u-Adjust_Mt-16">※ SIMフリーの製品でない場合、SIMロック解除が必要です。eKYC（AIかんたん本人確認）は、「my 楽天モバイル」アプリ/Webにてご利用いただけます。</p>

      <div class="<%= namespace %>-Reason-item u-Adjust_Mt-24">
        <div class="u-Adjust_Align-center">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/sim/esim/img-simple-03-sp.png">
            <img src="<%= sitepath %>assets/img/product/sim/esim/img-simple-03.png" alt="さらに！楽天市場/楽天カード/楽天ペイのアプリをお持ちならプランのみ申し込みがもっとかんたん！">
          </picture>
        </div>
        <p class="u-Adjust_Mt-24 u-Adjust_Align-center">
          <a href="<%= sitepath %>guide/flow/application/group/?l-id=product_esim_guide_application-group" class="c-Btn_Regular"><span>グループアプリ経由での申し込み方法を見る</span></a>
        </p>
      </div>

      <div class="l-Media_Grid-half u-Adjust_Mt-24">
        <div class="l-Media_Image">
          <a class="c-Banner_Hover-act" href="<%= sitepath %>fee/simulation/?l-id=product_esim_fee-un-limit_simulation">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-fee-simulation-343-108-240216.png" width="686" height="216">
              <img src="<%= sitepath %>assets/img/bnr/bnr-fee-simulation-504-158-240216.png" width="504" height="158" alt="楽天モバイルに乗り換えるだけでどれだけおトクになる？3ステップでわかる！料金＆ポイントかんたんシミュレーション！他社プランと比較もできる" loading="lazy">
            </picture>
          </a>
        </div>
        <div class="l-Media_Image">
          <a class="c-Banner_Hover-act" href="<%= sitepath %>guide/mnp/fast-convert/?l-id=product_sim_esim_guide_mnp_fast-convert">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-fast-convert-343-108-231201.png" width="686" height="216">
              <img src="<%= sitepath %>assets/img/bnr/bnr-fast-convert-504-158-231201.png" width="504" height="158" alt="電話番号そのまま！MNP予約番号なしで乗り換えできる！MNPワンストップ  Webでの申し込みがさらに簡単に。乗り換えるなら楽天モバイル" loading="lazy">
            </picture>
          </a>
        </div>
      </div>

    </div>
  </div>
  <div class="l-System_Container">
    <p id="anc03" class="c-Txt_Emp-02 u-Adjust_Align-center u-Adjust_Mt-64">eSIM×eKYC</p>
    <h2 class="c-Heading_Lv2 u-Adjust_Mt-8 u-Adjust_Align-center">簡単・手軽なお申し込み手順</h2>
    <div class="u-Adjust_Mt-16">
      <ul class="<%= namespace %>-Flow_List">
        <li class="<%= namespace %>-Flow_Border">
          <div class="<%= namespace %>-Flow_Border-ttl">
            <div class="<%= namespace %>-Flow_Border-ttl-item"><span class="<%= namespace %>-Flow_Label">STEP1</span></div>
            <div class="<%= namespace %>-Flow_Border-ttl-item">
              <h3 class="c-Heading_Lv3">eSIM対応製品の確認</h3>
            </div>
          </div>
          <div class="u-Adjust_Mt-32 l-Media_Grid <%= namespace %>-Flow_List-in">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/product/sim/esim/img-sim-esim-04.png" width="" alt="">
            </div>
            <div>
              <p>お持ちの製品が楽天モバイル（楽天回線）対応のeSIM対応製品かご確認ください。</p>
              <p class="u-Adjust_Mt-16">
                <a href="#product-rakuten-esim" class="c-Btn_Regular c-Btn_Icon"><span class="c-Icon_Arrow-down-l"></span><span>eSIM対応製品を確認する</span></a>
              </p>
              <p class="c-Txt_Cap u-Adjust_Mt-16">
                ※ 楽天モバイルの対応製品以外は動作保証外となりますので、ご利用はお客様自身のご判断でお願いいたします。
              </p>
            </div>
          </div>
          <div class="<%= namespace %>-Flow_Gray u-Adjust_Mt-16">
            <h4>SIMロック解除済みであることを確認する</h4>
            <p class="u-Adjust_Mt-16">NTTドコモ、au、SoftBankなど他の携帯電話会社でご契約されていた製品は、その会社でしか利用できないよう「SIMロック」がかけられています。 SIMロックがかかっているか確認するには、現在ご契約中の携帯電話会社へお問い合わせください。SIMロック解除の必要がない場合、次の手順にお進みください。</p>
            <div class="u-Adjust_Mt-16 <%= namespace %>-Flow_Link">
              <div><a href="https://www.nttdocomo.co.jp/support/unlock_simcard/" target="_blank" class="c-Link_Txt-inline">NTTドコモ SIMロック解除手続き<span class="c-Icon_New-window-l"></span></a></div>
              <div><a href="https://www.au.com/support/service/mobile/procedure/simcard/unlock/" target="_blank" class="c-Link_Txt-inline">au SIMロック解除手続き<span class="c-Icon_New-window-l"></span></a></div>
              <div><a href="https://www.softbank.jp/mobile/support/usim/unlock_procedure/" target="_blank" class="c-Link_Txt-inline">SoftBank SIMロック解除手続き<span class="c-Icon_New-window-l"></span></a></div>
            </div>
          </div>
        </li>
        <li class="<%= namespace %>-Flow_Border">
          <div class="<%= namespace %>-Flow_Border-ttl">
            <div class="<%= namespace %>-Flow_Border-ttl-item"><span class="<%= namespace %>-Flow_Label">STEP2</span></div>
            <div class="<%= namespace %>-Flow_Border-ttl-item">
              <h3 class="c-Heading_Lv3">「AIかんたん本人確認（eKYC）」で申し込む</h3>
            </div>
          </div>
          <div class="l-Media_Grid <%= namespace %>-Flow_List-in u-Adjust_Mt-32">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/product/sim/esim/img-sim-esim-05.png" width="" alt="">
            </div>
            <div>
              <p class="">Webのお申し込み画面、または「my 楽天モバイル」（アプリ／Web）から、Rakuten最強プランをeSIMでお申し込みください。
                お申し込みフローの本人確認のステップにて、「AIかんたん本人確認（eKYC）」をお選びいただくと、eKYCによるお申し込みとなります。書類（運転免許証／マイナンバーカード）の撮影と、ご自身の顔の撮影のあと、必要事項を入力し、お申し込み完了となります。</p>
            </div>
          </div>

          <p class="c-Txt_Cap u-Adjust_Mt-16">※運転免許証またはマイナンバーカードをお持ちでない方は、eKYC以外の本人確認方法にてお申し込みいただけます。詳しくは、<a href="<%= sitepath %>guide/verify/?l-id=product_esim_guide_verify">本人確認書類ページ</a>をご覧ください。※eKYCを利用できるOS／ブラウザは、Android OS 7.1 以上（Google Chrome 最新版）、iOS 最新版（Safari 最新版）です。アプリの場合は、Android OS 5 以上、iOS 10 以上よりご利用いただけます。※パソコンを用いてお申し込みされる際は「AIかんたん本人確認（eKYC）」はご利用いただけません。</p>

          <p class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <a href="<%= sitepath %>guide/verify/ekyc/flow/?l-id=product_esim_verify-ekyc_flow" class="c-Btn_Regular"><span>eKYCのお申し込みの流れを見る</span></a>
          </p>
        </li>
        <li class="<%= namespace %>-Flow_Border">
          <div class="<%= namespace %>-Flow_Border-ttl">
            <div class="<%= namespace %>-Flow_Border-ttl-item"><span class="<%= namespace %>-Flow_Label">STEP3</span></div>
            <div class="<%= namespace %>-Flow_Border-ttl-item">
              <h3 class="c-Heading_Lv3">アプリからeSIMを開通／ご利用開始</h3>
            </div>
          </div>
          <div class="u-Adjust_Mt-32 l-Media_Grid <%= namespace %>-Flow_List-in">
            <div class="l-Media_Image <%= namespace %>-Flow_List-img">
              <img src="<%= sitepath %>assets/img/product/sim/esim/img-sim-esim-06.png" width="" alt="">
            </div>
            <div>
              <p>eKYCにより、eSIM対応製品でeSIMをお申し込み後、最短3分※で本人確認審査が完了し、「my 楽天モバイル」アプリにて、そのまま開通手続きを行っていただけます。開通後、初期設定を行い、ご利用を開始してください。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-16">
                ※ 楽天モバイル対応のeSIM対応製品でアプリからeKYCで申し込んだ場合。SIMフリーの製品でない場合、SIMロック解除が必要です。
              </p>
              <div class="l-Media_Grid-half u-Adjust_Mt-16">
                <div>
                  <a href="<%= sitepath %>guide/verify/ekyc/esim-activation/?l-id=product_esim_verify-ekyc_esim-activation" class="c-Btn_Regular"><span>eKYCからのeSIM開通方法を見る</span></a>
                </div>
                <div>
                  <a href="<%= sitepath %>guide/setting/?l-id=product_esim_guide_setting" class="c-Btn_Regular"><span>各種製品の初期設定方法を見る</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="<%= namespace %>-Flow_Gray u-Adjust_Mt-16">
            <div class="l-Media_Icon <%= namespace %>-Flow-IconArea">
              <div>
                <img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt="" width="96">
              </div>
              <div>
                <p class="c-Txt_Emp-01">my 楽天モバイル</p>
                <p class="u-Adjust_Mt-8">各種お手続き、料金やデータ容量など、手軽に確認できる公式アプリです。</p>
                <div class="l-Media_Grid-large u-Adjust_Mt-16">
                  <div class="<%= namespace %>-Flow-Linkbtn">
                    <span class="u-Adjust_Mr-16">
                      <a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank" rel="noopener noreferrer"><img src="<%= sitepath %>assets/img/product/sim/esim/btn-googleplay.png" alt="Google Play" width="162"></a>
                    </span>
                    <span>
                      <a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank" rel="noopener noreferrer"><img src="<%= sitepath %>assets/img/product/sim/esim/btn-appstore.png" alt="Apple Store" width="128"></a>
                    </span>
                  </div>
                  <div>
                    <div class="l-Media_Grid-half">
                      <div>
                        <a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular"><span>my 楽天モバイルとは</span></a>
                      </div>
                      <div>
                        <a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile" class="c-Link_Txt-inline">Webで「my 楽天モバイル」を使う<span class="c-Icon_Chevron-right"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="u-Adjust_Align-center u-Adjust_Mt-64">
      <a class="c-Banner_Hover-act" href="<%= sitepath %>guide/procedure/?l-id=product_esim_guide_procedure">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-apply-guide-343-116.png">
          <img src="<%= sitepath %>assets/img/bnr/bnr-apply-guide-1032-78.png" alt="お申し込み手続きでお困りごとはありますか？ はじめてでも安心！お申し込みガイド ご利用開始までかんたん4ステップでご案内します">
        </picture>
      </a>
    </div>
  </div>
  <div class="<%= namespace %>-Bnr u-Adjust_Mt-64">
    <div class="l-System_Container">
      <div class="u-Adjust_Mt-40">
        <%- include('/include/_bnr-cpn-recommend-v2.ejs') %>
      </div>
    </div>
  </div>
  <div class="l-System_Container">
    <div class="l-Media_Grid-half u-Adjust_Mt-16">
      <div>
        <a href="<%= sitepath %>guide/application/?lid-r=product_sim_esim_guide_application" class="c-Btn_Primary-large"><span>新規／乗り換え（MNP）お申し込み</span></a>
      </div>
      <div>
        <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=product_sim_esim_ms&mno_migration=1" class="c-Btn_Primary-large" style="padding-top:7px;padding-bottom:7px;"><span><span class="c-Txt_Normal-s c-Btn_Text-sub">スーパーホーダイ・組み合わせプランからの</span>プラン変更（移行）お申し込み</span></a>
      </div>
    </div>
    <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
      <a href="<%= sitepath %>guide/verify/ekyc/flow/?l-id=product_esim_verify-ekyc_flow" class="c-Btn_Regular"><span>eKYCのお申し込みの流れを見る</span></a>
    </p>
  </div>
  <div class="l-System_Container u-Adjust_Mt-64">
    <h2 class="c-Heading_Lv2 u-Adjust_Align-center" id="product-rakuten-esim">eSIM対応製品</h2>

    <div class="u-Adjust_Mt-32">
      <h3 class="c-Heading_Lv4">現在販売しているeSIM対応製品</h3>
      <div class="u-Adjust_Mt-16">
        <div class="c-Accordion">
          <button type="button" id="accordion-11" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-11"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>iPhone一覧を見る</button>
          <div id="accordion-content-11" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-11" aria-hidden="true">
            <div class="u-Adjust_Mt-16">
            <div class="l-Media_List-3">
              <div>
                <div class="l-Media_Image">
                  <img src="<%= sitepath %>assets/img/product/iphone/top/thumb-product-iphone-top-iphone15promax.png" alt="" style="height:230px;">
                </div>
                <div class=" u-Adjust_Align-center">
                  <p class="c-Heading_Lv2 u-Adjust_Mt-8">iPhone 15 Pro Max</p>
                  <div class="u-Adjust_Mt-16">
                    <a href="<%= sitepath %>product/iphone/iphone-15-pro-max/" class="c-Btn_Regular">詳細を見る</a>
                  </div>
                  <ul class="u-Adjust_Mt-16">
                    <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/setting/ios/?tab-list=tab-menu2" class="c-Link_Txt-inline">初期設定方法（お手持ちのiPhone）<span class="c-Icon_Chevron-right"></span></a></li>
                    <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/iphone/setting/esim/" class="c-Link_Txt-inline">初期設定方法（新規購入）<span class="c-Icon_Chevron-right"></span></a></li>
                  </ul>
                </div>
              </div>
              <div>
                <div class="l-Media_Image">
                  <img src="<%= sitepath %>assets/img/product/iphone/top/thumb-product-iphone-top-iphone15pro.png" alt="" style="height:230px;">
                </div>
                <div class=" u-Adjust_Align-center">
                  <p class="c-Heading_Lv2 u-Adjust_Mt-8">iPhone 15 Pro</p>
                  <div class="u-Adjust_Mt-16">
                    <a href="<%= sitepath %>product/iphone/iphone-15-pro/" class="c-Btn_Regular">詳細を見る</a>
                  </div>
                  <ul class="u-Adjust_Mt-16">
                    <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/setting/ios/?tab-list=tab-menu2" class="c-Link_Txt-inline">初期設定方法（お手持ちのiPhone）<span class="c-Icon_Chevron-right"></span></a></li>
                    <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/iphone/setting/esim/" class="c-Link_Txt-inline">初期設定方法（新規購入）<span class="c-Icon_Chevron-right"></span></a></li>
                  </ul>
                </div>
              </div>
              <div>
                <div class="l-Media_Image">
                  <img src="<%= sitepath %>assets/img/product/iphone/top/thumb-product-iphone-top-iphone15plus.png" alt="" style="height:230px;">
                </div>
                <div class=" u-Adjust_Align-center">
                  <p class="c-Heading_Lv2 u-Adjust_Mt-8">iPhone 15 Plus</p>
                  <div class="u-Adjust_Mt-16">
                    <a href="<%= sitepath %>product/iphone/iphone-15-plus/" class="c-Btn_Regular">詳細を見る</a>
                  </div>
                  <ul class="u-Adjust_Mt-16">
                    <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/setting/ios/?tab-list=tab-menu2" class="c-Link_Txt-inline">初期設定方法（お手持ちのiPhone）<span class="c-Icon_Chevron-right"></span></a></li>
                    <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/iphone/setting/esim/" class="c-Link_Txt-inline">初期設定方法（新規購入）<span class="c-Icon_Chevron-right"></span></a></li>
                  </ul>
                </div>
              </div>
              <div>
                <div class="l-Media_Image">
                  <img src="<%= sitepath %>assets/img/product/iphone/top/thumb-product-iphone-top-iphone15.png" alt="" style="height:230px;">
                </div>
                <div class=" u-Adjust_Align-center">
                  <p class="c-Heading_Lv2 u-Adjust_Mt-8">iPhone 15</p>
                  <div class="u-Adjust_Mt-16">
                    <a href="<%= sitepath %>product/iphone/iphone-15/" class="c-Btn_Regular">詳細を見る</a>
                  </div>
                  <ul class="u-Adjust_Mt-16">
                    <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/setting/ios/?tab-list=tab-menu2" class="c-Link_Txt-inline">初期設定方法（お手持ちのiPhone）<span class="c-Icon_Chevron-right"></span></a></li>
                    <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/iphone/setting/esim/" class="c-Link_Txt-inline">初期設定方法（新規購入）<span class="c-Icon_Chevron-right"></span></a></li>
                  </ul>
                </div>
              </div>
              <div>
                <div class="l-Media_Image">
                  <img src="<%= sitepath %>assets/img/product/iphone/top/thumb-product-iphone-top-iphone14plus.png?230308" alt="" style="height:230px;">
                </div>
                <div class=" u-Adjust_Align-center">
                  <p class="c-Heading_Lv2 u-Adjust_Mt-8">iPhone 14 Plus</p>
                  <div class="u-Adjust_Mt-16">
                    <a href="<%= sitepath %>product/iphone/iphone-14-plus/" class="c-Btn_Regular">詳細を見る</a>
                  </div>
                  <ul class="u-Adjust_Mt-16">
                    <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/setting/ios/?tab-list=tab-menu2" class="c-Link_Txt-inline">初期設定方法（お手持ちのiPhone）<span class="c-Icon_Chevron-right"></span></a></li>
                    <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/iphone/setting/esim/" class="c-Link_Txt-inline">初期設定方法（新規購入）<span class="c-Icon_Chevron-right"></span></a></li>
                  </ul>
                </div>
              </div>
              <div>
                <div class="l-Media_Image">
                  <img src="<%= sitepath %>assets/img/product/iphone/top/thumb-product-iphone-top-iphone14.png?230308" alt="" style="height:230px;">
                </div>
                <div class=" u-Adjust_Align-center">
                  <p class="c-Heading_Lv2 u-Adjust_Mt-8">iPhone 14</p>
                  <div class="u-Adjust_Mt-16">
                    <a href="<%= sitepath %>product/iphone/iphone-14/" class="c-Btn_Regular">詳細を見る</a>
                  </div>
                  <ul class="u-Adjust_Mt-16">
                    <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/setting/ios/?tab-list=tab-menu2" class="c-Link_Txt-inline">初期設定方法（お手持ちのiPhone）<span class="c-Icon_Chevron-right"></span></a></li>
                    <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/iphone/setting/esim/" class="c-Link_Txt-inline">初期設定方法（新規購入）<span class="c-Icon_Chevron-right"></span></a></li>
                  </ul>
                </div>
              </div>
              <div>
                <div class="l-Media_Image">
                  <img src="<%= sitepath %>assets/img/product/iphone/top/thumb-product-iphone-top-iphone13.png?220309" alt="" style="height:230px;">
                </div>
                <div class=" u-Adjust_Align-center">
                  <p class="c-Heading_Lv2 u-Adjust_Mt-8">iPhone 13</p>
                  <div class="u-Adjust_Mt-16">
                    <a href="<%= sitepath %>product/iphone/iphone-13/" class="c-Btn_Regular">詳細を見る</a>
                  </div>
                  <ul class="u-Adjust_Mt-16">
                    <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/setting/ios/?tab-list=tab-menu2" class="c-Link_Txt-inline">初期設定方法（お手持ちのiPhone）<span class="c-Icon_Chevron-right"></span></a></li>
                    <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/iphone/setting/esim/" class="c-Link_Txt-inline">初期設定方法（新規購入）<span class="c-Icon_Chevron-right"></span></a></li>
                  </ul>
                </div>
              </div>
              <div>
                <div class="l-Media_Image">
                  <img src="<%= sitepath %>assets/img/product/iphone/top/thumb-product-iphone-top-iphonese3rd.png?220309" alt="" style="height:230px;">
                </div>
                <div class=" u-Adjust_Align-center">
                  <p class="c-Heading_Lv2 u-Adjust_Mt-8">iPhone SE（第3世代）</p>
                  <div class="u-Adjust_Mt-16">
                    <a href="<%= sitepath %>product/iphone/iphone-se-3rd/" class="c-Btn_Regular">詳細を見る</a>
                  </div>
                  <ul class="u-Adjust_Mt-16">
                    <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/setting/ios/?tab-list=tab-menu2" class="c-Link_Txt-inline">初期設定方法（お手持ちのiPhone）<span class="c-Icon_Chevron-right"></span></a></li>
                    <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/iphone/setting/esim/" class="c-Link_Txt-inline">初期設定方法（新規購入）<span class="c-Icon_Chevron-right"></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
        <div class="c-Accordion">
          <button type="button" id="accordion-13" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-13"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Android／Rakutenオリジナル一覧を見る</button>
          <div id="accordion-content-13" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-13" aria-hidden="true">
            <div class="u-Adjust_Mt-16">
              <div class="l-Media_List-3">
                <div>
                  <div class="l-Media_Image">
                    <img src="<%= sitepath %>assets/img/product/a79-5g/pht-device-thumb.png" alt="" style="height:230px;">
                  </div>
                  <div class=" u-Adjust_Align-center">
                    <p class="c-Heading_Lv2 u-Adjust_Mt-8">OPPO A79 5G</p>
                    <div class="u-Adjust_Mt-16">
                      <a href="<%= sitepath %>product/smartphone/a79-5g/?l-id=product_sim_esim_product_smartphone_a79-5g" class="c-Btn_Regular">詳細を見る</a>
                    </div>
                    <ul class="u-Adjust_Mt-16">
                      <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/setting/a79-5g/?l-id=product_sim_esim_guide_setting_a79-5g" class="c-Link_Txt-inline">初期設定方法<span class="c-Icon_Chevron-right"></span></a></li>
                    </ul>
                  </div>
                </div>
                <div>
                  <div class="l-Media_Image">
                    <img src="<%= sitepath %>assets/img/product/aquos-sense8/pht-device-thumb.png" alt="" style="height:230px;">
                  </div>
                  <div class=" u-Adjust_Align-center">
                    <p class="c-Heading_Lv2 u-Adjust_Mt-8">AQUOS sense8</p>
                    <div class="u-Adjust_Mt-16">
                      <a href="<%= sitepath %>product/smartphone/aquos-sense8/?l-id=product_sim_esim_product_smartphone_aquos-sense8" class="c-Btn_Regular">詳細を見る</a>
                    </div>
                    <ul class="u-Adjust_Mt-16">
                      <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/setting/aquos-sense8/?l-id=product_sim_esim_guide_setting_aquos-sense8" class="c-Link_Txt-inline">初期設定方法<span class="c-Icon_Chevron-right"></span></a></li>
                    </ul>
                  </div>
                </div>
                <div>
                  <div class="l-Media_Image">
                    <img src="<%= sitepath %>assets/img/product/xperia-5m5/pht-device-thumb.png" alt="" style="height:230px;">
                  </div>
                  <div class=" u-Adjust_Align-center">
                    <p class="c-Heading_Lv2 u-Adjust_Mt-8">Xperia 5 V</p>
                    <div class="u-Adjust_Mt-16">
                      <a href="<%= sitepath %>product/smartphone/xperia-5m5/?l-id=product_sim_esim_product_smartphone_xperia-5m5" class="c-Btn_Regular">詳細を見る</a>
                    </div>
                    <ul class="u-Adjust_Mt-16">
                      <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/setting/xperia-5m5/?l-id=product_sim_esim_guide_setting_xperia-5m5" class="c-Link_Txt-inline">初期設定方法<span class="c-Icon_Chevron-right"></span></a></li>
                    </ul>
                  </div>
                </div>
                <div>
                  <div class="l-Media_Image">
                    <img src="<%= sitepath %>assets/img/product/xperia-10m5/pht-device-thumb.png" alt="" style="height:230px;">
                  </div>
                  <div class=" u-Adjust_Align-center">
                    <p class="c-Heading_Lv2 u-Adjust_Mt-8">Xperia 10 V</p>
                    <div class="u-Adjust_Mt-16">
                      <a href="<%= sitepath %>product/smartphone/xperia-10m5/?l-id=product_sim_esim_product_smartphone_xperia-10m5" class="c-Btn_Regular">詳細を見る</a>
                    </div>
                    <ul class="u-Adjust_Mt-16">
                      <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/setting/xperia-10m5/?l-id=product_sim_esim_guide_setting_xperia-10m5" class="c-Link_Txt-inline">初期設定方法<span class="c-Icon_Chevron-right"></span></a></li>
                    </ul>
                  </div>
                </div>
                <div>
                  <div class="l-Media_Image">
                    <img src="<%= sitepath %>assets/img/product/aquos-wish3/pht-device-thumb.png" alt="" style="height:230px;">
                  </div>
                  <div class=" u-Adjust_Align-center">
                    <p class="c-Heading_Lv2 u-Adjust_Mt-8">AQUOS wish3</p>
                    <div class="u-Adjust_Mt-16">
                      <a href="<%= sitepath %>product/smartphone/aquos-wish3/?l-id=product_sim_esim_product_smartphone_aquos-wish3" class="c-Btn_Regular">詳細を見る</a>
                    </div>
                    <ul class="u-Adjust_Mt-16">
                      <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/setting/aquos-wish3/?l-id=product_sim_esim_guide_setting_aquos-wish3" class="c-Link_Txt-inline">初期設定方法<span class="c-Icon_Chevron-right"></span></a></li>
                    </ul>
                  </div>
                </div>
                <div>
                  <div class="l-Media_Image">
                    <img src="<%= sitepath %>assets/img/product/reno9-a/pht-device-thumb.png" alt="" style="height:230px;">
                  </div>
                  <div class=" u-Adjust_Align-center">
                    <p class="c-Heading_Lv2 u-Adjust_Mt-8">OPPO Reno9 A</p>
                    <div class="u-Adjust_Mt-16">
                      <a href="<%= sitepath %>product/smartphone/reno9-a/" class="c-Btn_Regular">詳細を見る</a>
                    </div>
                    <ul class="u-Adjust_Mt-16">
                      <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/setting/reno9-a/" class="c-Link_Txt-inline">初期設定方法<span class="c-Icon_Chevron-right"></span></a></li>
                    </ul>
                  </div>
                </div>
                <div>
                  <div class="l-Media_Image">
                    <img src="<%= sitepath %>assets/img/product/galaxy-s23/pht-device-thumb.png" alt="" style="height:230px;">
                  </div>
                  <div class=" u-Adjust_Align-center">
                    <p class="c-Heading_Lv2 u-Adjust_Mt-8">Galaxy S23</p>
                    <div class="u-Adjust_Mt-16">
                      <a href="<%= sitepath %>product/smartphone/galaxy-s23/" class="c-Btn_Regular">詳細を見る</a>
                    </div>
                    <ul class="u-Adjust_Mt-16">
                      <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/setting/galaxy-s23/" class="c-Link_Txt-inline">初期設定方法<span class="c-Icon_Chevron-right"></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3 class="c-Heading_Lv4 u-Adjust_Mt-32">過去販売していたeSIM対応製品</h3>
    <div class="u-Adjust_Mt-16">
      <div class="c-Accordion">
        <button type="button" id="accordion-14" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-14"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>iPhone一覧を見る</button>
        <div id="accordion-content-14" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-14" aria-hidden="true">
          <div class="c-Infobox_Standing-border">
            <p>（2024年3月時点）</p>
            <ul class="c-List_Text-disc u-Adjust_Mt-16">
              <li>iPhone 14 Pro MAX <span class="c-Txt_Normal-s">※</span></li>
              <li>iPhone 14 Pro <span class="c-Txt_Normal-s">※</span></li>
              <li>iPhone 13 Mini <span class="c-Txt_Normal-s">※</span></li>
              <li>iPhone 13 Pro MAX <span class="c-Txt_Normal-s">※</span></li>
              <li>iPhone 13 Pro <span class="c-Txt_Normal-s">※</span></li>
              <li>iPhone 12 Mini <span class="c-Txt_Normal-s">※</span></li>
              <li>iPhone 12 Pro MAX <span class="c-Txt_Normal-s">※</span></li>
              <li>iPhone 12 <span class="c-Txt_Normal-s">※</span></li>
              <li>iPhone 12 Pro <span class="c-Txt_Normal-s">※</span></li>
              <li>iPhone SE（第2世代） <span class="c-Txt_Normal-s">※</span></li>
              <li>iPhone 11 <span class="c-Txt_Normal-s">※</span></li>
              <li>iPhone 11 Pro <span class="c-Txt_Normal-s">※</span></li>
              <li>iPhone 11 Pro MAX <span class="c-Txt_Normal-s">※</span></li>
              <li>iPhone XS <span class="c-Txt_Normal-s">※</span></li>
              <li>iPhone XS Max <span class="c-Txt_Normal-s">※</span></li>
              <li>iPhone XR <span class="c-Txt_Normal-s">※</span></li>
            </ul>
            <p class="c-Txt_Cap u-Adjust_Mt-16">※ iOS14.4以降を搭載し、キャリア設定のアップデートを実施していただければ、楽天回線のすべての機能をご利用いただけるようになります。iOSのアップデート手順、および、キャリア設定のバージョン確認方法は、<a href="<%= sitepath %>information/news/product/655/">iOS14.4以降を搭載するiPhoneの楽天回線対応についてのページ</a>をご覧ください。</p>
          </div>
        </div>
      </div>
      <div class="c-Accordion">
        <button type="button" id="accordion-15" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-15"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Android／Rakutenオリジナル一覧を見る</button>
        <div id="accordion-content-15" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-15" aria-hidden="true">
          <div class="c-Infobox_Standing-border">
            <p>（2024年5月時点）</p>
            <ul class="c-List_Text-disc u-Adjust_Mt-16">
              <li>Galaxy Z Flip4</li>
              <li>Galaxy A23 5G</li>
              <li>OPPO A73</li>
              <li>OPPO Reno5 A</li>
              <li>OPPO A55s 5G</li>
              <li>OPPO Reno7 A</li>
              <li>Rakuten BIG</li>
              <li>Rakuten BIG s</li>
              <li>Rakuten Hand</li>
              <li>Rakuten Hand 5G</li>
              <li>Rakuten Mini</li>
              <li>AQUOS sense4 lite</li>
              <li>AQUOS sense6</li>
              <li>AQUOS wish</li>
              <li>AQUOS zero6</li>
              <li>AQUOS sense6s</li>
              <li>AQUOS sense7</li>
              <li>Xperia 5 IV</li>
              <li>Xperia 10 III Lite</li>
              <li>Xperia 10 IV</li>
              <li>Redmi Note 11 Pro 5G</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="<%= namespace %>-Layout_Accordion-head u-Adjust_Mt-32">
      <h3 class="c-Heading_Lv4 u-Adjust_Mr-16">楽天モバイル以外で販売のeSIM対応製品</h3>
      <p class="c-Txt_Emp-02 c-Txt_Cap u-Adjust_Mt-8">※当社で動作確認済みのメーカー直販の製品のみ記載</p>
    </div>
    <div class="u-Adjust_Mt-16">
      <div class="c-Accordion">
        <button type="button" id="accordion-16" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-16"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>一覧を見る</button>
        <div id="accordion-content-16" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-16" aria-hidden="true">
          <div class="c-Infobox_Standing-border">
            <p>（2024年3月時点）</p>
            <ul class="c-List_Text-disc u-Adjust_Mt-16">
              <li>Google Pixel 4 <span class="c-Txt_Normal-s">※</span></li>
              <li>Google Pixel 4 XL <span class="c-Txt_Normal-s">※</span></li>
              <li>Google Pixel 4a <span class="c-Txt_Normal-s">※</span></li>
              <li>Google Pixel 4a (5G) <span class="c-Txt_Normal-s">※</span></li>
              <li>Google Pixel 5 <span class="c-Txt_Normal-s">※</span></li>
              <li>Google Pixel 5a (5G) <span class="c-Txt_Normal-s">※</span></li>
              <li>Google Pixel 6 <span class="c-Txt_Normal-s">※</span></li>
              <li>Google Pixel 6a <span class="c-Txt_Normal-s">※</span></li>
              <li>Google Pixel 6 Pro <span class="c-Txt_Normal-s">※</span></li>
              <li>Google Pixel 7 <span class="c-Txt_Normal-s">※</span></li>
              <li>Google Pixel 7a <span class="c-Txt_Normal-s">※</span></li>
              <li>Google Pixel 7 Pro <span class="c-Txt_Normal-s">※</span></li>
              <li>Google Pixel 8 <span class="c-Txt_Normal-s">※</span></li>
              <li>Google Pixel 8 Pro <span class="c-Txt_Normal-s">※</span></li>
              <li>Google Pixel Fold <span class="c-Txt_Normal-s">※</span></li>
              <li>Find X3 Pro</li>
              <li>OPPO Reno10 Pro 5G</li>
              <li>Redmi Note 10T</li>
              <li>Xperia 1 IV</li>
              <li>Xperia 1 V</li>
            </ul>
            <p class="c-Txt_Cap u-Adjust_Mt-16">※ 楽天モバイルで購入された製品以外は動作保証の対象外となります。また、ご利用いただける機能であっても、OSやソフトウェアの更新等により、機能のご利用が制限される場合があります。ご利用はお客様ご自身の判断でお願いします。</p>
          </div>
        </div>
      </div>
    </div>

    <div class="u-Adjust_Mt-64">
      <div class="<%= namespace %>-Btn_Bnr">
        <p class="<%= namespace %>-Btn_Bnr-ttl">お持ちのスマホが、SIM差し替えで<br class="<%= namespace %>-Utility_Show-sp">使えるか<br class="<%= namespace %>-Utility_Show-pc">今すぐチェック！</p>
        <a href="<%= sitepath %>product/byod/" class="c-Btn_Secondly <%= namespace %>-Btn_Bnr-btn">楽天モバイルで使えるか調べる</a>
      </div>
    </div>

    <!-- <div class=" u-Adjust_Mt-64">
      <%- include('/include/_related-media.ejs', { articles: [
        {
          title: "デュアルSIMとは？その種類とメリット・ デメリットについて解説",
          link: "https://network.mobile.rakuten.co.jp/sumakatsu/contents/articles/2020/00014/?l-id=product_sim_esim_media_00014"
        }
      ] }) %>
    </div> -->
  </div>
  <div class="<%= namespace %>-Layout_Bottom-fixed" id="js-fixed-btn" aria-expanded="false">
    <div class="<%= namespace %>-Layout_Bottom-fixed-inner">
      <div class="<%= namespace %>-Layout_Bottom-fixed-btn">
        <div class="<%= namespace %>-Utility_Show-pc" style="width:100%">
          <a href="<%= sitepath%>guide/application/?lid-r=product_sim_esim_guide_application_0" class="c-Btn_Primary-large <%= namespace %>-Layout_Bottom-fixed-btn">
            <span>新規／乗り換え（MNP）お申し込み</span>
          </a>
        </div>
        <div class="<%= namespace %>-Utility_Show-sp" style="width:100%">
          <a href="<%= sitepath%>guide/application/?lid-r=product_sim_esim_guide_application_0" class="c-Btn_Primary-large <%= namespace %>-Layout_Bottom-fixed-btn">
            <span>新規／乗り換え(MNP)</span>
          </a>
        </div>
      </div>
      <div class="<%= namespace %>-Layout_Bottom-fixed-btn js-btn-ms" aria-hidden="false">
        <div class="<%= namespace %>-Utility_Show-pc" style="width:100%">
          <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=product_sim_esim_ms&mno_migration=0" class="c-Btn_Secondly-large <%= namespace %>-Layout_Bottom-fixed-btn" style="border: 1px solid #ff008c;">
            <span><span>スーパーホーダイ、組み合わせプランからの</span> プラン変更（移行）お申し込み</span>
          </a>
        </div>
        <div class="<%= namespace %>-Utility_Show-sp" style="width:100%">
          <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=product_sim_esim_ms&mno_migration=0" class="c-Btn_Secondly-large <%= namespace %>-Layout_Bottom-fixed-btn" style="border: 1px solid #ff008c;">
            <span><span>以前の楽天モバイルからの</span>プラン変更（移行）</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <footer class="g-Footer">
    <div class="g-Footer_Aside">
      <%- include('/include/footer/related/_related-product-top-v2.ejs') %>
      <%- include('/include/footer/bnr/_bnr.ejs') %>
      <%#- include('/faq/include/related-product.ejs') %>
    </div>
    <div class="l-System_Container">
      <div class="c-Breadcrumbs_Foot">
        <ul>
          <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
          <%_ } _%>
          <li aria-current="true"><%= pagetitle %></li>
        </ul>
      </div>
    </div>
    <%- include('/include/_footer') %>
  </footer>
</div>
<%- include('/include/_common-js') %>

<%- include('/include/_append-body') %>
<script src="https://players.brightcove.net/5068808272001/default_default/index.min.js"></script>
<script src="https://r.r10s.jp/com/rat/plugin/media/main-0.2.0.js"></script>
<script src="<%= sitepath %>assets/js/product.sim.bundle.js?20240521"></script>
<script type="text/javascript">
  window.RAT.MediaTracker({
    params: {
      acc: 1312,
      aid: 1,
      pgn: "/product/sim/esim/",
    },
    configs: {
      measure: true,
    }
  })
</script>
</body>
</html>
