<%_
 /*
  * @param {'head' | 'foot'} type
  * @param {string} pagetitle
  * @param {Array<object>} [directories]
  * @param {string} directories[].path
  * @param {string} directories[].label
  * @param {Object} [customroot]
  * @param {string} customroot.label
  * @param {string} customroot.path
 */

  let className = '';
  if (type === 'head') {
    className = 'c-Breadcrumbs_Head';
  } else if (type === 'foot') {
    className = 'c-Breadcrumbs_Foot';
  }

  // sitetitle & rootpathはheadで定義されてるやつ、明示的に渡すかどうか検討中
  let _roottitle = sitetitle;
  let _rootpath = rootpath;
  if (typeof customroot !== 'undefined') {
    _roottitle = customroot.label;
    _rootpath = customroot.path;
  }
_%>

<div class="<%= className %>">
  <ul>
    <li><a href="<%= _rootpath %>"><%= _roottitle %></a><span class="c-Icon_Chevron-right"></span></li>

    <%_ if (typeof directories !== 'undefined') { _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
    <%_ } _%>

    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>
