<div class="i-Promoting-the-no1-rate-plan <%= margin0 ? 'i-Promoting-the-no1-rate-plan_M0' : '' %>">
  <div class="u-Adjust_Align-center">
    <% if (title === 'fee' ) { %>
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)"
          srcset="<%= sitepath %>assets/img/common/promoting-the-no1-rate-plan/title-<%= title %>-sp-231024.png" width="343"
          height="72">
        <img src="<%= sitepath %>assets/img/common/promoting-the-no1-rate-plan/title-<%= title %>-pc-231024.png" width="926"
          height="69" alt="お客様が絶賛！Rakuten最強プラン！" loading="lazy">
      </picture>
    <% } else if (title === 'family') { %>
      <p class="c-Txt_Normal-m c-Txt_Emp-01">
        多くのお客様に選ばれている<br class="u-Show_Sp">
        <span class="c-Txt_Emp-02 c-Txt_Normal-ll">
          Rakuten最強プラン
        </span>
      </p>
    <% } else if (title === 'top') { %>
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)"
          srcset="<%= sitepath %>assets/img/common/promoting-the-no1-rate-plan/title-<%= title %>-sp-231212.png" width="260"
          height="48">
        <img src="<%= sitepath %>assets/img/common/promoting-the-no1-rate-plan/title-<%= title %>-pc-231212.png" width="453"
          height="28" alt="多くのお客様に選ばれている楽天モバイル" loading="lazy">
      </picture>
    <% } else { %>
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)"
          srcset="<%= sitepath %>assets/img/common/promoting-the-no1-rate-plan/title-<%= title %>-sp-231201.png" width="298"
          height="72">
        <img src="<%= sitepath %>assets/img/common/promoting-the-no1-rate-plan/title-<%= title %>-pc-231201.png" width="606"
          height="69" alt="お客様が絶賛！Rakuten最強プラン！" loading="lazy">
      </picture>
    <% } %>
  </div>
  <div class="u-Adjust_Mt-16 i-Promoting-the-no1-rate-plan_Content i-Promoting-the-no1-rate-plan_Content-<%= bg %>">
    <div class="i-Promoting-the-no1-rate-plan_Content-item i-Promoting-the-no1-rate-plan_Content-item-border-<%= border %>">
      <p class="i-Promoting-the-no1-rate-plan_Content-item-title u-Adjust_Align-center">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/common/promoting-the-no1-rate-plan/img-txt-1-sp-240521.png" width="256" height="45">
          <img src="<%= sitepath %>assets/img/common/promoting-the-no1-rate-plan/img-txt-1-pc-240521.png" width="256" height="45" alt="オリコン顧客満足® 調査 携帯キャリア料金プラン3年連続No.1" loading="lazy">
        </picture>
      </p>
      <div class="u-Adjust_Align-center i-Promoting-the-no1-rate-plan_Content-item-img">
        <picture>
          <img class="i-Promoting-the-no1-rate-plan_Content-item-oricon" src="<%= sitepath %>assets/img/common/promoting-the-no1-rate-plan/oricon-badge.png" width="92" height="99" alt="おかげさまで顧客満足度総合No.1" loading="lazy">
        </picture>
      </div>
      <p class="c-Txt_Cap u-Adjust_Mt-8">
        ※2023年 オリコン顧客満足度®調査「携帯キャリア」総合第1位<br><a href="https://life.oricon.co.jp/rank-mobile-carrier/" class="c-Link_Txt-inline" target="_blank">調査結果はこちら<span class="c-Icon_New-window-l"></span></a>
      </p>
    </div>
    <div class="i-Promoting-the-no1-rate-plan_Content-item">
      <p class="i-Promoting-the-no1-rate-plan_Content-item-title u-Adjust_Align-center">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/common/promoting-the-no1-rate-plan/img-txt-3-sp-240521.png" width="220" height="48">
          <img src="<%= sitepath %>assets/img/common/promoting-the-no1-rate-plan/img-txt-3-pc-240521.png" width="247" height="56" alt="満足度No.1の楽天ポイントがザクザク貯まる！" loading="lazy">
        </picture>
      </p>
      <div class="u-Adjust_Mt-8 u-Adjust_Align-center i-Promoting-the-no1-rate-plan_Content-item-img">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/common/promoting-the-no1-rate-plan/img-no1-3-sp-231212.png" width="275" height="134">
          <img src="<%= sitepath %>assets/img/common/promoting-the-no1-rate-plan/img-no1-3-231212.png" width="460" height="93" alt="総合満足度 NO.1" loading="lazy">
        </picture>
      </div>
      <p class="u-Adjust_Mt-8 u-Adjust_Align-center c-Txt_Cap">
        ※情報元：「<a href="https://event.rakuten.co.jp/group/point/pointzukan/" class="c-Link_Txt-inline-icon" target="_blank">楽天ポイント お楽しみ図鑑<span class="c-Icon_New-window-l"></span></a>」（ポイントに関する調査、有効回答＝1,000、インターネット調査、2022年11月、実施機関：マイボイスコム）
      </p>
    </div>
  </div>

</div>
