<% const pagetitle = "配送について" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/application/delivery/", label:"配送"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイル製品・SIMカードの配送や配送料、配送状況の確認方法についてご案内します。現在、配送日時の指定はできません。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>

<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <p class="c-Txt_Cap u-Adjust_Align-right">※表記の金額は特に記載のある場合を除きすべて税込です。</p>
    <h1 class="c-Heading_Lv1 u-Adjust_Mt-8"><%= pagetitle %></h1>
    <div class="u-Adjust_Mt-40">
      <h2 class="c-Heading_Lv2">お届け先の指定について</h2>
      <ul class="c-List_Text-disc u-Adjust_Mt-8">
        <li>プラン（SIM）のみ、または製品とプラン（SIM）をセットでご購入の場合、本人確認書類に記載されている住所に送付いたします。</li>
        <li>製品のみご購入の場合、送付先住所を指定できます。ただし、お申し込み時に本人確認が必要な製品は、本人確認書類に記載されている住所に送付いたします。</li>
      </ul>
      <ul class="c-List_Cap u-Adjust_Mt-16">
        <li><span>※</span>製品、SIMの受取時に不在の場合、不在票が投函されます。不在票に記載されている再配達方法に従いお手続きいただき、お受け取りください。</li>
        <li><span>※</span>出荷後、お客様のご指定住所にお届けができずに、弊社に返送された後、14日以内にご連絡がない場合はキャンセルとなります。</li>
      </ul>
    </div>
    <div class="u-Adjust_Mt-40">
      <h2 class="c-Heading_Lv2">受け取り日時について</h2>
      <p class="u-Adjust_Mt-8">
        現在、配送日時の指定はできません。あらかじめご了承ください。<br>
        お申し込み完了から最短2日でお届けします。
      </p>
    </div>
    <div class="u-Adjust_Mt-40">
      <h2 class="c-Heading_Lv2">配送料金</h2>
      <p class="u-Adjust_Mt-8">製品、またはSIMを購入した場合、配送料はかかりません。<br>
        アクセサリーのみ購入の場合は、900円がかかります。</p>
    </div>
    <div class="u-Adjust_Mt-40">
      <h2 class="c-Heading_Lv2">配送状況の確認方法</h2>
      <p class="u-Adjust_Mt-8">「my 楽天モバイル」にログイン後、「お申し込み履歴」から製品の配送状況を確認できます。</p>
      <p class="u-Adjust_Mt-8">製品がすでに発送されている場合、お問い合わせ伝票番号を記載しておりますので、宅配業者のWebサイトより配送状況をご確認ください。<br>
        お申し込み後に「[楽天モバイル] 製品発送完了のお知らせ」の件名で送付するメールに記載のURLからもご確認になれます。</p>
      <ul class="c-List_Cap u-Adjust_Mt-16">
        <li><span>※</span>お問い合わせ伝票番号が記載されているにも関わらず、宅配業者のWebサイトで確認ができない場合があります。<br>
          この場合はしばらくお時間を空けてから、再度お試しください。</li>
      </ul>
    </div>

    <!--
    <p class="u-Adjust_Mt-8">お申し込み時に受け取り日時を指定できます。<br>
日時指定のない場合は、最短2日でお届けします。<br>
      <br>
      以下の時間帯から指定いただけます。
    </p>

    <ul class="c-List_Text-disc u-Adjust_Mt-16">
      <li>午前中</li>
      <li>14:00-16:00</li>
      <li>16:00-18:00</li>
      <li>18:00-20:00</li>
      <li>19:00-21:00</li>
    </ul>
    <ul class="c-List_Cap u-Adjust_Mt-16">
      <li><span>※</span>時期により指定できない場合があります。</li>
      <li><span>※</span>在庫状況や配送状況によりお時間がかかる場合があります。</li>
    </ul>
     -->

    <div class="u-Adjust_Pt-40">
      <div><a href="<%= sitepath %>support/" class="c-Btn_Regular-semiauto"><span>お客様サポートトップにもどる</span></a></div>
      <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular-semiauto"><span>楽天モバイルトップへ</span></a></div>
    </div>

  </div>
</div>




<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">



    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>



</body>
</html>
