<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "事業者・転用変更承諾番号" -%>
<% const directories = [] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    <!-- directories: directories, -->
    description: '',
    noindex: true,
    pathname: filepath,
    ishikari: true
  });
%>
<%- include('/include/hikari/_common-v2-hikari-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/form/transfer-number/transfer-number.css?20240424">
<%- include('/include/_append-head-hikari') %>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>

<div class="l-System">

  <%- include('/hikari/include/_header', { headerType: 'logo', pagetitle: pagetitle, directories: directories, tax: false }) %>

  <div class="l-hikari-Section_Main">
    <div class="l-hikari-Section_Main-logo"><a href="/hikari/" data-lid_parts="logo"><img src="<%= sitepath %>assets/img/hikari/common/logo-hikari-s.svg" width="100" alt="楽天ひかり"></a></div>
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
      <div class="l-hikari-Section_Main-lead">
        <p>この度は楽天ひかりにお申込みいただきありがとうございます。<br>
          事業者変更もしくは転用のお申込みをいただきましたが、<br>
          承諾番号に不備があり手続きを完了させることができませんでした。</p>
        <p class="u-Adjust_Mt-16">大変お手数ではございますが、取得された承諾番号を再度入力していただき、送信してください。</p>
      </div>

      <div class="l-hikari-Section_Sub-short">
        <form id="js-hikari-transfer-number_Form" action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
          <input type="hidden" name="oid" value="00D2v000001WJL6">
          <input type="hidden" name="recordType" value="0122v000001QuQj">
          <input type="hidden" name="lead_source" value="事業者／転用変更承諾番号の再入力">
          <input type="hidden" name="company" value="楽天ひかり">
          <input type="hidden" name="last_name" value="再入力">
          <input type="hidden" name="00N2u0000015cmC" value="">
          <input type="hidden" name="retURL" value="https://network.mobile.rakuten.co.jp/hikari/form/transfer-number/completion/">
          <dl class="c-Form_List">
            <div>
              <dt>インターネットサービス種別<span class="c-Form_List-required">必須</span></dt>
              <dd class="hikari-transfer-number-Form_Radioblock">
                <label class="c-Form_Radioblock u-Adjust_Mb-16">
                  <input type="radio" name="js-hikari-transfer-number_selector" value="tenyou" checked>
                  <span class="c-Form_Radioblock-wrap hikari-transfer-number-Form_Adjust-width">
                    <span class="c-Form_Radio-icon"></span><span class="c-Form_Radioblock-label">フレッツ光</span>
                  </span>
                </label>
                <label class="c-Form_Radioblock">
                  <input type="radio" name="js-hikari-transfer-number_selector" id="" value="jigyousha">
                  <span class="c-Form_Radioblock-wrap hikari-transfer-number-Form_Adjust-width">
                    <span class="c-Form_Radio-icon"></span><span class="c-Form_Radioblock-label hikari-transfer-number-Form_Radioblock-label">光コラボレーション<span>ドコモ光、SoftBank 光、OCN 光、ビッグローブ光、<br>So-net 光 プラス、ぷらら光、 ＠nifty光、エキサイト光 等</span></span>
                  </span>
                </label>
              </dd>
            </div>

            <div id="tenyou">
              <dt>転用承諾番号<span class="c-Form_List-required">必須</span></dt>
              <dd>
                <div class="hikari-transfer-number-Layout_Show-details">
                  <p class="c-Txt_Emp u-Adjust_Mb-8">転用承諾番号（半角英数字）</p>
                  <p class="u-Adjust_Mb-16"><a href="#modal-tenyou" class="c-Link_Txt-icon-front js-Modal"><span class="c-Icon_Zoom-in-l"></span>詳しく見る</a></p>
                </div>
                <div id="modal-tenyou" style="display:none;">
                  <h2 class="c-Heading_Lv2">転用承諾番号の取得</h2>
                  <div class="l-hikari-Section_Sub-content-middle">
                    <p>転用手続きの際には11桁の「転用承諾番号」が必要となります。<br>
                    NTT東日本／NTT西日本の下記窓口からお客様ご自身で「転用承諾番号」を取得していただく必要があります。</p>
                    <p class="u-Adjust_Mt-16">お手続きの際に、以下の情報が必要となりますのでご準備ください。</p>
                    <ul class="c-Txt_Emp-warning u-Adjust_Mt-16">
                      <li>【1】契約ID（お客さまID）、又はひかり電話番号</li>
                      <li>【2】契約者名</li>
                      <li>【3】設置先住所</li>
                      <li>【4】支払方法</li>
                    </ul>
                    <p class="c-Txt_Cap u-Adjust_Mt-16">※ ｢転用承諾番号」は最大15日間有効で、有効期限まで4日以上のもののみお申し込み可能です。無効になった場合は、お客様ご自身で再度取得いただく必要があります。</p>
                  </div>
                  <dl class="hikari-transfer-number-Layout_Tenyou l-hikari-Section_Sub-content-tall">
                    <div class="c-Theme-Light">
                      <dt class="c-Txt_Emp">NTT東日本</dt>
                      <dd>
                        <a class="hikari-transfer-number-Txt_Telno" href="tel:0120-140-202">0120-140-202</a>
                        <p class="c-Txt_Cap u-Adjust_Mb-16">
                          受付時：9:00〜17:00<br>
                          土日・祝日も受付（年末年始を除く）
                        </p>
                        <a href="https://flets.com/app4/input/index/" class="c-Btn_Secondly" target="_blank" rel="noopener noreferrer"><span><span>Webから取得お申し込み</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">
                          受付時：8:30～22:00<br>
                          土日・祝日も受付（年末年始を除く）
                        </p>
                      </dd>
                    </div>
                    <div class="c-Theme-Light l-hikari-Section_Sub-content-middle">
                      <dt class="c-Txt_Emp">NTT西日本</dt>
                      <dd>
                        <a class="hikari-transfer-number-Txt_Telno" href="tel:0120-553-104">0120-553-104</a>
                        <p class="c-Txt_Cap u-Adjust_Mb-16">
                          受付時：9:00〜17:00<br>
                          土日・祝日も受付（年末年始を除く）
                        </p>
                        <a href="https://flets-w.com/collabo/" class="c-Btn_Secondly" target="_blank" rel="noopener noreferrer" data-lid_no="02"><span><span>Webから取得お申し込み</span><span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">
                          受付時：8:30～22:00<br>
                          土日・祝日も受付（年末年始を除く）
                        </p>
                      </dd>
                    </div>
                  </dl>
                </div>
                <p class="c-Txt_Cap u-Adjust_Mb-16">NTT東日本エリアの場合、Eから始まる11桁の番号<br>
                  NTT西日本エリアの場合、Wから始まる11桁の番号</p>
                <input class="c-Form_Input u-Adjust_Mb-16" id="00N2u0000015cmM" name="00N2u0000015cmM" maxlength="11" size="20" type="text" placeholder="例）E1234567890、W1234567890" aria-required="true" autocomplete="off" data-label="転用承諾番号">
                <p class="c-Txt_Emp c-Txt_Normal-s u-Adjust_Mb-8">注意事項</p>
                <p class="c-Txt_Cap">転用承諾番号の有効期限は15日間です。<br>
                本サービスへの転用のお申し込みには、転用承諾番号の有効期限まで3日以上残っている必要があります。<br>
                転用承諾番号有効期限までの残日数が3日未満の場合は、あらためて転用承諾番号を取得してください。</p>
              </dd>
            </div>

            <div id="jigyousha" aria-hidden="true">
              <dt>事業者変更承諾番号<span class="c-Form_List-required">必須</span></dt>
              <dd>
                <div class="hikari-transfer-number-Layout_Show-details">
                  <p class="c-Txt_Emp u-Adjust_Mb-8">事業者変更承諾番号（半角英数字）</p>
                  <p class="u-Adjust_Mb-16"><a href="#modal-jigyousha" class="c-Link_Txt-icon-front js-Modal"><span class="c-Icon_Zoom-in-l"></span>詳しく見る</a></p>
                </div>
                <div id="modal-jigyousha" style="display:none;">
                  <h2 class="c-Heading_Lv2">事業者変更承諾番号の取得</h2>
                  <div class="l-hikari-Section_Sub-content-middle">
                    <p>契約中の光コラボ事業者へ連絡をし、「事業者変更承諾番号」と「契約ID（お客さまID）※西日本のみ」を取得します。</p>
                    <ul class="c-List_Text-disc c-Txt_Emp-warning u-Adjust_Mt-16">
                      <li>東日本は、Fから始まる「事業者変更承諾番号」が必要です。</li>
                      <li>西日本は、Tから始まる「事業者変更承諾番号」と、「契約ID（お客さまID）」が必要です。</li>
                    </ul>
                    <p class="u-Adjust_Mt-16">お手続きは現在の光コラボ契約者様からコラボ事業者に連絡をし、取得をお願いします。</p>
                  </div>
                  <div class="l-Media_List-2 c-Theme-Light l-hikari-Section_Sub-content-tall">
                    <div>
                      <div class="l-Media_Image">
                        <img src="<%= sitepath %>assets/img/hikari/transfer-number/img01.png" alt="事業者変更承諾番号">
                      </div>
                      <p>「事業者変更承諾番号」を現在<span class="c-Txt_Emp-warning">ご契約の光コラボ事業者から</span>取得してください。</p>
                    </div>
                    <div>
                      <div class="l-Media_Image">
                        <img src="<%= sitepath %>assets/img/hikari/transfer-number/img02.png" alt="契約ID（お客さまID）※西日本のみ">
                      </div>
                      <div><span class="c-Txt_Emp-warning">NTT西日本エリア</span>のお客様は<span class="c-Txt_Emp-warning">CAFか、COPから始まる「契約ID（お客さまID）」</span>の取得も必要です。</div>
                    </div>
                  </div>
                  <p class="c-Txt_Cap u-Adjust_Mt-24">※現在のコラボ契約と楽天ひかり契約は同一契約名義・同一設置先である事が前提です。<br>
                    ※｢事業者変更承諾番号」は最大15日間有効で、有効期限まで4日以上のもののみお申し込み可能です。<br>
                    ※無効になった場合は、お客様ご自身で再度取得いただく必要があります。</p>
                </div>
                <p class="c-Txt_Cap u-Adjust_Mb-16">NTT東日本エリアの場合、Fから始まる11桁の番号<br>
                  NTT西日本エリアの場合、Tから始まる11桁の番号</p>
                <input class="c-Form_Input u-Adjust_Mb-16" id="00N2u0000015cmH" name="00N2u0000015cmH" maxlength="11" size="20" type="text" placeholder="例）F1234567890、T1234567890" autocomplete="off" data-label="事業者変更承諾番号">
                <p class="c-Txt_Emp c-Txt_Normal-s u-Adjust_Mb-8">注意事項</p>
                <p class="c-Txt_Cap">事業者変更承諾番号の有効期限は15日間です。</p>

                <div id="caf" aria-hidden="true">
                  <p class="c-Txt_Emp u-Adjust_Mt-24 u-Adjust_Mb-16">CAF番号（半角英数字）</p>
                  <p class="c-Txt_Cap u-Adjust_Mb-16">※設置場所が西日本エリアの場合のみ入力</p>
                  <input class="c-Form_Input u-Adjust_Mb-16" id="00N2u0000015hpa" name="00N2u0000015hpa" maxlength="255" size="20" type="text" placeholder="例）CAF1234567890" autocomplete="off" data-label="CAF番号">
                </div>
              </dd>
            </div>
          </dl>
          <p class="u-Adjust_Align-center u-Adjust_Mt-40">
            <button id="js-hikari-transfer-number_Confirm" type="button" class="c-Btn_Secondly-large"><span><span>入力内容を確認する</span></span></button>
          </p>
          <div id="modal-confirm" style="display:none;">
            <h2 class="c-Heading_Lv3 u-Adjust_Mb-32">入力内容の確認</h2>
            <dl id="js-hikari-transfer-number_Confirm-content" class="c-Form_List-confirm"></dl>
            <div class="u-Adjust_Align-center u-Adjust_Mt-40">
              <button type="button" id="js-hikari-transfer-number_Submit" class="c-Btn_Primary-large"><span><span>この内容で送信する</span></span></button>
            </div>
            <div class="u-Adjust_Align-center u-Adjust_Mt-16">
              <button type="button" id="js-hikari-transfer-number_Confirm-close" class="c-Btn_Secondly-large"><span><span>修正する</span></span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <footer class="g-Footer u-Adjust_Mt-64">
    <%- include('/include/_footer-simple') %>
  </footer>

</div>
<%- include('/include/hikari/_common-js') %>
<script src="<%= sitepath %>assets/js/hikari/form.transfer-number.index.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
