<%_
  const mtClass = (typeof mt !== 'undefined') ? `u-Adjust_Mt-${mt}` : '';
  const mbClass = (typeof mb !== 'undefined') ? `u-Adjust_Mb-${mb}` : '';
  const sContainer = (typeof container !== 'undefined') ? `l-System_Container` : '';
  const lId = (typeof lid !== 'undefined') ? `?l-id=${lid}` : '';
_%>
<% if (id === 'js-banner1') { %>
  <noscript>
    <div class="<%= sContainer %> <%= mtClass %> <%= mbClass %> u-Adjust_Align-center">
      <a class="c-Banner_Hover-act" href="<%= sitepath %>guide/payment/usage-details/?l-id=support_inquiry_id_a">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/support/inquiry/bnr-usage-details-a-sp-230712.png" width="656" height="216">
          <img src="<%= sitepath %>assets/img/support/inquiry/bnr-usage-details-a-pc-230712.png" width="768" height="112" alt="">
        </picture>
      </a>
    </div>
  </noscript>
<% } else if (id === 'js-banner2') { %>
  <noscript>
    <div class="<%= sContainer %> <%= mtClass %> <%= mbClass %> u-Adjust_Align-center">
      <a class="c-Banner_Hover-act" href="<%= sitepath %>faq/detail/00002024/?l-id=support_inquiry_bnr_setting_a">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/support/inquiry/bnr-setting-a-sp-230712.png" width="656" height="216">
          <img src="<%= sitepath %>assets/img/support/inquiry/bnr-setting-a-pc-230712.png" width="768" height="112" alt="">
        </picture>
      </a>
    </div>
  </noscript>
<% } %>
<div id="<%= id %>" class="<%= sContainer %> <%= mtClass %> <%= mbClass %> u-Adjust_Align-center" style="display: none;"></div>