<% const pagetitle = "Apple Watchスタートキャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "apple-watch" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: 'Apple Watch購入&「電話番号シェアサービス」加入で10,000ポイント還元！楽天モバイルならおトクにApple Watch利用をスタートできる期間限定キャンペーン実施中。',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/apple-watch/apple-watch.css?20240424">
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout-Label">
      <ul class="c-Label_List <%= namespace %>-Layout-Label_List">
        <li class="c-Label_Normal">対象製品限定</li>
      </ul>
      <p class="c-Txt_Emp-01">ポイント：付与日を含めて6カ月の期間限定ポイント</p>
    </div>
    <section class="<%= namespace %>-Hero" style="background: linear-gradient(90deg, #F5F5F7 0%, #F5F5F7 50%, #FF008C 50%, #FF008C 100%);">
      <h1>
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/apple-watch/img-hero-221226-sp.png">
          <img src="<%= sitepath %>assets/img/campaign/apple-watch/img-hero-221226-pc.png" width="1440" alt="Apple Watchスタートキャンペーン Apple Watchを購入 + 電話番号シェアサービス新規加入で※1 10,000ポイント還元">
        </picture>
      </h1>
    </section>

    <section class="<%= namespace %>-Section_Intro l-System_Container">
      <div class="c-Txt_Cap">
        <p>Apple Watch Series 7、Apple Watch SE（第1世代）を利用するにはiPhone 6s以降が必要、Apple Watch Series 8、Apple Watch Ultra、Apple Watch SE（第2世代）を利用するには、iPhone8以降が必要です。バンドは在庫が限られている場合があります。 Apple Watchは医療機器ではありません。</p>
        <p>※本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください。</p>
        <p>※記載の内容は2022年6月1日（水）時点の情報となります。</p>
        <p>※ポイントは期間限定ポイントでの付与となります。</p>
      </div>
      <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-48 u-Adjust_Align-center">本キャンペーンは終了しました</p>
      <dl class="<%= namespace %>-Period <%= namespace %>-Util_Mt-32-24">
        <dt>【キャンペーン期間】</dt>
        <dd>Web：2022年6月1日（水）9:00～2023年2月15日（水）6:59<br>店舗（楽天モバイルショップ）：2022年6月1日（水）開店～2023年2月14日（火）閉店</dd>
      </dl>
      <p class="u-Adjust_Mt-16 c-Txt_Emp-02 <%= namespace %>-Util_Align-center-pc">※2023年2月10日（金）にキャンペーン期間を変更しました。ご了承ください。  </p>
      <ul class="<%= namespace %>-Nav <%= namespace %>-Util_Mt-32-24">
        <li><a href="#terms" class="c-Link_Txt-icon-front js-scroll" data-ratid="campaign_apple-watch_index-condition" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>キャンペーンの達成条件</a></li>
        <li><a href="#product" class="c-Link_Txt-icon-front js-scroll" data-ratid="campaign_apple-watch_index-product" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>キャンペーン対象製品</a></li>
        <li><a href="#faq" class="c-Link_Txt-icon-front js-scroll" data-ratid="campaign_apple-watch_index-faq" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>よくあるご質問</a></li>
        <li><a href="#rule" class="c-Link_Txt-icon-front js-scroll" data-ratid="campaign_apple-watch_index-rule" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルール</a></li>
      </ul>
    </section>

    <section id="terms" class="<%= namespace %>-Section_Light">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2">キャンペーンの達成条件</h2>
        <p class="u-Adjust_Mt-8">本キャンペーンには達成条件が設定されています。詳細は<a href="#rule" class="js-scroll c-Link_Txt" data-ratid="campaign_apple-watch_campaign-rule" data-ratevent="click" data-ratparam="all">キャンペーンルール</a>をご確認ください。</p>

        <div class="<%= namespace %>-List_Plus u-Adjust_Mt-24">
          <div class="<%= namespace %>-List_Plus-item">
            <h3 class="c-Heading_Lv3">
              <span class="c-Txt_Emp-02">STEP 1</span>
              Apple Watchをご購入
            </h3>
            <p class="<%= namespace %>-List_Plus-item-txt u-Adjust_Mt-16">楽天モバイル（Web、または楽天モバイルショップ）で<br class="<%= namespace %>-Util_Pc">キャンペーン期間内にご購入ください。</p>

            <ul class="<%= namespace %>-List_Plus-btns <%= namespace %>-Util_Mt-24-16">
              <li>
                <a href="<%= sitepath %>product/apple-watch/?l-id=campaign_apple-watch_product_apple-watch1" class="c-Btn_Regular"><span>Webで購入する</span></a>
              </li>
              <li>
                <a href="<%= sitepath %>shop/?l-id=campaign_apple-watch_shop" class="c-Btn_Regular"><span>来店予約をする</span></a>
              </li>
            </ul>
            <p class="u-Adjust_Mt-16 <%= namespace %>-Util_Flex-center"><a href="#product" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>対象製品を見る</a></p>
          </div>

          <div class="<%= namespace %>-List_Plus-item">
            <h3 class="c-Heading_Lv3">
              <span class="c-Txt_Emp-02">STEP 2</span>
              電話番号シェアサービスに新規加入
            </h3>
            <div class="<%= namespace %>-List_Plus-item-txt">
              <p class="u-Adjust_Mt-8 <%= namespace %>-List_Plus-item-txt-period"><span>【加入期間】</span>対象製品ご購入後～翌月末日23:59まで</p>
              <div class="<%= namespace %>-Util_Align-left-pc">
                <p class="u-Adjust_Mt-8 c-Txt_Cap apple-watch-Util_txtEmp-02">※必ず<span class="c-Txt_Emp-02">楽天モバイルでApple Watchをご購入後</span>に新規加入を行ってください。</p>
                <p class="c-Txt_Cap">※ご加入には月額利用料金が発生します。550円（税込）／月</p>
                <p class="c-Txt_Cap">※楽天回線を利用しているiPhone（親回線）と、Apple Watch（Series 3以降のCellularモデル）の両方をお持ちの場合のみご加入いただけます。 </p>
              </div>
            </div>

            <p class="u-Adjust_Mt-16 <%= namespace %>-Util_Flex-center"><a href="#shared-service" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>電話番号シェアサービスとは</a></p>

            <div class="<%= namespace %>-List_Plus-btns u-Adjust_Mt-24">
              <a href="<%= sitepath %>guide/number-share/?l-id=campaign_apple-watch_guide_number-share" class="c-Btn_Regular"><span>お申し込み方法を見る</span></a>
            </div>
          </div>
        </div>

        <div class="<%= namespace %>-Theme_Emp u-Adjust_Align-center c-Theme-Emphasis1">
          <h3>
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/apple-watch/img-01-sp.svg">
              <img src="<%= sitepath %>assets/img/campaign/apple-watch/img-01-pc.png" width="623" alt="楽天ポイント10,000円相当のポイント還元">
            </picture>
          </h3>
          <p class="u-Adjust_Mt-8">電話番号シェアサービスにご加入の翌々月末日までに、期間限定ポイントとして10,000ポイントを付与いたします。</p>
        </div>
      </div>
    </section>

    <section class="<%= namespace %>-Section <%= namespace %>-Section_What">
      <%# スクロール計測 _%>
      <div class="u-Rat_Appear-height" data-ratid="campaign_apple-watch_scroll-01_number-share" data-ratevent="appear">&nbsp;</div>
      <div class="l-System_Container">
        <div class="<%= namespace %>-Section_What-grid">
          <h2 id="shared-service" class="<%= namespace %>-Section_What-grid-title c-Heading_Lv3">電話番号シェアサービスとは？</h2>
          <div class="<%= namespace %>-Section_What-grid-txt">
            <p>iPhoneが手元になくても、Apple Watchだけで音声通話・データ通信ができるようになるサービスです。</p>
            <div class="u-Adjust_Mt-16">
              <a href="<%= sitepath %>service/number-share/?l-id=campaign_apple-watch_service_number-share1" class="c-Btn_Regular"><span>サービス詳細を見る</span></a>
            </div>
          </div>
          <figure class="<%= namespace %>-Section_What-grid-img">
            <img src="<%= sitepath %>assets/img/campaign/apple-watch/img-02.png" width="416" alt="">
          </figure>
        </div>
      </div>
    </section>

      <h2 class="<%= namespace %>-Hero_Show-pc u-Adjust_Align-center c-Heading_Lv2">＼他にもおトクなキャンペーン開催中！／</h2>
      <h2 class="<%= namespace %>-Hero_Show-sp u-Adjust_Align-center c-Heading_Lv2">他にもおトクな<br>＼キャンペーン開催中！／</h2>
      <div class="l-System_Container">
        <div class="u-Adjust_Mt-16">
          <a class="c-Banner_Hover-act" href="<%= sitepath %>campaign/applewatch-insurance/?l-id=campaign_apple-watch_campaign_applewatch-insurance">
            <picture>
              <source media="(max-width: 768px)" srcset="/assets/img/bnr/bnr-applewatch-insurance-343-108-230131.png">
              <img src="<%= sitepath %>assets/img/bnr/bnr-applewatch-insurance-1032-160-230131.png" alt="楽天モバイルでApple Watchご購入で※1 ワークアウト保険が2年間無料※2" style="border: 1px solid #D1D1D1;">
            </picture>
          </a>
        </div>
      </div>

    <section id="product" class="<%= namespace %>-Section_Light u-Adjust_Mt-48">
      <%# スクロール計測 _%>
      <div class="u-Rat_Appear-height" data-ratid="campaign_apple-watch_scroll-02_product" data-ratevent="appear">&nbsp;</div>
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2">キャンペーン対象製品</h2>
        <div class="<%= namespace %>-List_Text">
          <% const campaignProducts = [
            { title: 'Apple Watch Series 8', link: 'apple-watch-series8/'},
            { title: 'Apple Watch Ultra', link: 'apple-watch-ultra/'},
            { title: 'Apple Watch SE（第2世代）', link: 'apple-watch-se-2nd/'},
            { title: 'Apple Watch Series 7', link: 'apple-watch-series7/'},
            { title: 'Apple Watch Nike Series 7', link: 'apple-watch-nike-series7/'},
            { title: 'Apple Watch SE（第1世代）', link: 'apple-watch-se/'},
            { title: 'Apple Watch Nike SE', link: 'apple-watch-nike-se/'}
          ]
          -%>
          <ul class="<%= namespace %>-List_Text-list c-List_Text-disc">
            <% campaignProducts.forEach((item) => { %>
              <li class="<%= namespace %>-List_Text-item">
                <a href="<%= sitepath %>product/apple-watch/<%= item.link %>"><%= item.title %></a>
              </li>
            <% }); %>
          </ul>
        </div>
        <div class="u-Adjust_Align-center">
          <div class="u-Adjust_Mt-16">
            <a href="<%= sitepath %>product/apple-watch/comparison/?l-id=campaign_apple-watch_product_apple-watch_comparison" class="c-Btn_Regular"><span>Apple Watchの機能を比較する</span></a>
          </div>
          <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>product/apple-watch/?l-id=campaign_apple-watch_product_apple-watch2" class="c-Link_Txt-inline">Apple Watch一覧<span class="c-Icon_Chevron-right"></span></a></p>
        </div>
      </div>
    </section>

    <section class="<%= namespace %>-Section">
      <%# スクロール計測 _%>
      <div class="u-Rat_Appear-height" data-ratid="campaign_apple-watch_scroll-03_accessory" data-ratevent="appear">&nbsp;</div>
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2">おすすめの関連製品</h2>
        <div class="<%= namespace %>-List_Text">
          <% const relativeProducts = [
              { title: 'AirPods', link: 'apple/?l-id=campaign_apple-watch_product_accessory_apple#audio'},
              { title: 'AirTag', link: 'apple-rm2104016/?l-id=campaign_apple-watch_product_accessory_apple-rm2104016'},
              { title: '充電器＆アダプタ', link: 'apple/?l-id=campaign_apple-watch_product_accessory_apple#chargers'}
             ]
          -%>
          <ul class="<%= namespace %>-List_Text-list c-List_Text-disc">
            <% relativeProducts.forEach((item) => { %>
              <li class="<%= namespace %>-List_Text-item-center">
                <a href="<%= sitepath %>product/accessory/<%= item.link %>"><%= item.title %></a>
              </li>
            <% }); %>
          </ul>
        </div>
        <div class="u-Adjust_Align-center">
          <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>product/accessory/apple/?l-id=campaign_apple-watch_product_accessory_apple#other" class="c-Link_Txt-inline">アクセサリ一覧<span class="c-Icon_Chevron-right"></span></a></p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※アクセサリは本キャンペーン対象製品ではございません。</p>
        </div>
      </div>
    </section>

    <section id="faq" class="<%= namespace %>-Section_Light">
      <%# スクロール計測 _%>
      <div class="u-Rat_Appear-height" data-ratid="campaign_apple-watch_scroll-04_faq" data-ratevent="appear">&nbsp;</div>
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">よくあるご質問</h2>
        <div class="c-Theme-White u-Adjust_Mt-24">
          <div class="c-Accordion">
            <button type="button" id="accordion-faq-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-1" data-ratid="campaign_apple-watch_faq-1" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーン対象になるためのエントリーは必要ですか</button>
            <div id="accordion-content-faq-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-1" aria-hidden="false">
              <p>本キャンペーンにエントリーは必要ありません。参加条件を満たしていればキャンペーンの対象となります。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-faq-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-2" data-ratid="campaign_apple-watch_faq-2" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>他のキャンペーンと併用は可能ですか</button>
            <div id="accordion-content-faq-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-2" aria-hidden="false">
              <p>併用可能なキャンペーンは<a href="#rule" class="js-scroll c-Link_Txt">キャンペーンルール</a>の「併用可能キャンペーン」欄をご確認ください。</p>
            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-faq-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-3" data-ratid="campaign_apple-watch_faq-3" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ポイント付与前に楽天のサービスを退会した場合どうなりますか</button>
            <div id="accordion-content-faq-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-3" aria-hidden="false">
              <dl>
                <div>
                  <dt>＜楽天会員を退会した場合＞</dt>
                  <dd>ポイント付与前に楽天会員を退会された場合は、ポイント付与対象外となります。</dd>
                </div>
                <div class="u-Adjust_Mt-16">
                  <dt>＜楽天モバイルを退会した場合＞</dt>
                  <dd>楽天モバイルを退会されていても、キャンペーンルールの「対象者・適用条件」を満たしている場合はポイント付与の対象となります。</dd>
                </div>
              </dl>
            </div>
          </div>
          <div class="c-Accordion">
            <button type="button" id="accordion-faq-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-5" data-ratid="campaign_apple-watch_faq-5" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>既に「電話番号シェアサービス」へ加入している場合ポイントはもらえますか</button>
            <div id="accordion-content-faq-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-5" aria-hidden="false">
              <p>
                本キャンペーン開催前（2022年6月1日（水）8:59以前）にお申し込み済みの「電話番号シェアサービス」はポイント付与対象外です。<br>
                本キャンペーンは期間中に対象製品を購入後、「電話番号シェアサービス」へ新規加入した方が対象となります。
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="l-System c-Theme-Light u-Adjust_Mt-48">
      <%# スクロール計測 _%>
      <div class="u-Rat_Appear-height" data-ratid="campaign_apple-watch_scroll-05_rakuten" data-ratevent="appear">&nbsp;</div>
      <div class="l-System_Container">
        <h3 class="c-Heading_Lv2 u-Adjust_Align-center">楽天モバイルについて</h3>
        <p class="u-Adjust_Align-center c-Txt_Emp-01 u-Adjust_Mt-8">詳細は以下の各リンク先にてご確認ください</p>
        <div class="u-Adjust_Mt-24">
          <ul class="<%= namespace %>-Card_About">
            <li>
              <a href="<%= sitepath %>fee/un-limit/" class="c-Card_Normal">
                <img src="<%= sitepath %>assets/img/campaign/apple-watch/icon-about-01.png" alt="">
                <p class="c-Txt_Emp-01">料金プラン</p>
              </a>
            </li>
            <li>
              <a href="<%= sitepath %>fee/zero/" class="c-Card_Normal">
                <img src="<%= sitepath %>assets/img/campaign/apple-watch/icon-about-02.png" alt="">
                <p class="c-Txt_Emp-01">お申し込み手数料</p>
              </a>
            </li>
            <li>
              <a href="<%= sitepath %>area/" class="c-Card_Normal">
                <img src="<%= sitepath %>assets/img/campaign/apple-watch/icon-about-03.png" alt="">
                <p class="c-Txt_Emp-01">サービスエリア</p>
              </a>
            </li>
            <li>
              <a href="<%= sitepath %>product/byod/" class="c-Card_Normal">
                <img src="<%= sitepath %>assets/img/campaign/apple-watch/icon-about-04.png" alt="">
                <p class="c-Txt_Emp-01">楽天回線対応製品</p>
              </a>
            </li>
            <li>
              <a href="<%= sitepath %>service/" class="c-Card_Normal">
                <img src="<%= sitepath %>assets/img/campaign/apple-watch/icon-about-05.png" alt="">
                <p class="c-Txt_Emp-01">オプション<br>サービス</p>
              </a>
            </li>
            <li>
              <a href="<%= sitepath %>guide/point/" class="c-Card_Normal">
                <img src="<%= sitepath %>assets/img/campaign/apple-watch/icon-about-06.png?220502" alt="">
                <p class="c-Txt_Emp-01">おトクな<br>楽天ポイント</p>
              </a>
            </li>
            <li>
              <a href="<%= sitepath %>service/rakuten-link/" class="c-Card_Normal">
                <img src="<%= sitepath %>assets/img/campaign/apple-watch/icon-about-07.png" alt="">
                <p class="c-Txt_Emp-01">Rakuten Link<br>アプリ</p>
              </a>
            </li>
            <li>
              <a href="<%= sitepath %>campaign/" class="c-Card_Normal">
                <img src="<%= sitepath %>assets/img/campaign/apple-watch/icon-about-08.png" alt="">
                <p class="c-Txt_Emp-01">キャンペーン一覧</p>
              </a>
            </li>
            <li>
              <a href="<%= sitepath %>product/sim/" class="c-Card_Normal">
                <img src="<%= sitepath %>assets/img/campaign/apple-watch/icon-about-09.png" alt="">
                <p class="c-Txt_Emp-01">SIMの使い方</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section id="rule" class="<%= namespace %>-Section">
      <%# スクロール計測 _%>
      <div class="u-Rat_Appear-height" data-ratid="campaign_apple-watch_scroll-07_rule" data-ratevent="appear">&nbsp;</div>
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-left" id="campaign-rule1464">Apple Watchスタートキャンペーン</h2>
        <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-32 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
        <div class="c-Table_Wrap u-Adjust_Mt-24">
          <div class="u-Adjust_Mt-24">
              <dl class="c-Dl_Origin <%= namespace %>-Dl_Rule">
              <div>
                  <dt>キャンペーンコード</dt>
                  <dd>
                  <p>1515</p>
                  <ul class="c-Txt_Cap u-Adjust_Mt-8">
                      <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                  </ul>
                  </dd>
              </div>
              <div>
                  <dt>キャンペーン期間</dt>
                  <dd>
                    <p><span class="c-Txt_Emp-01">■ 製品のご購入期間</span><br>
                      　- Web　2022年6月1日（水）9:00～<s>終了日未定</s> 2023年2月15日（水）6:59<br>
                      　- 店舗（楽天モバイルショップ）　2022年6月1日（水）開店～<s>終了日未定</s> 2023年2月14日（火）閉店
                    </p>
                    <p class="c-Txt_Cap c-Txt_Emp-02">　※2023年2月10日（金）にキャンペーン期間を変更しました。ご了承ください。</p>
                    <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■ 電話番号シェアサービス新規加入期間</span><br>
                      　　対象製品ご購入後～翌月末日23:59まで<br>
                      　　<span class="c-Txt_Cap">※対象製品を購入後に新規で電話番号シェアサービスに加入する必要があります。購入前に加入された契約は条件適用の対象外となります。</span>
                    </p>
                  </dd>
              </div>
              <div>
                  <dt>キャンペーン条件</dt>
                  <dd>
                    <p class="c-Txt_Emp-02">
                      上記各項目の期間内に【1】、【2】の条件をすべて満たした楽天会員の方
                    </p>
                    <div class="u-Adjust_Mt-16">
                        <p class="c-Txt_Emp-01">【1】「Apple Watch」のいずれかをご購入</p>
                        <div>
                          対象製品<br>
                          　- Apple Watch Series 7<br>
                          　- Apple Watch Nike Series 7<br>
                          　- Apple Watch SE（第1世代）<br>
                          　- Apple Watch Nike SE<br>
                          　- Apple Watch Series 8<br>
                          　- Apple Watch SE（第2世代）<br>
                          　- Apple Watch Ultra
                        </div>
                        <p class="c-Txt_Cap">
                          　※2022年9月9日（金）21:00よりApple Watch Series 8/Apple Watch SE（第2世代）/Apple Watch Ultraが対象製品として追加になりました。
                        </p>
                    </div>
                    <div class="u-Adjust_Mt-16">
                        <p class="c-Txt_Emp-01">【2】「電話番号シェアサービス」への新規加入</p>
                        <p>電話番号シェアサービスの月額利用料金は550円（税込）となります</p>
                        <p class="c-Txt_Cap c-Txt_Emp-02">※電話番号シェアサービスの新規加入は、Apple Watch購入日の翌月末日23:59まで。</p>
                    </div>
                  </dd>
              </div>
              <div>
                  <dt>キャンペーン特典 （楽天ポイント）</dt>
                  <dt class="<%= namespace %>-Dl_Title-sub">特典内容</dt>
                  <dd>
                    <span class="c-Txt_Emp-01">10,000ポイントプレゼント</span>
                  </dd>
              </div>
              <div>
                  <dt class="<%= namespace %>-Dl_Title-sub">ポイント付与日</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">条件達成が確認された月の翌々月末日までに付与</p>
                    <p class="c-Txt_Cap">
                      　※　例）6月にすべての条件を達成した場合には、その翌々月である8月末日までにポイント付与となります<br>
                      　※　楽天ポイントの付与は、楽天モバイルより行います<br>
                      　※　権利の譲渡はできません
                    </p>
                  </dd>
              </div>
              <div>
                  <dt class="<%= namespace %>-Dl_Title-sub">ポイント有効期間</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
                    <p class="c-Txt_Cap">
                      　※　<a href="https://ichiba.faq.rakuten.net/detail/000006532" class="c-Link_Txt">期間限定ポイントについて</a><br>
                      　※　有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません
                    </p>
                  </dd>
              </div>
              <div>
                  <dt>特典適用対象外</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、特典適用対象外となります</p>
                    <p class="c-Txt_Cap">
                      　※本ルールに記載の併用可能キャンペーンを除き、本キャンペーンより付与ポイント数やクーポン割引額が多い Rakuten UN-LIMIT VII お申し込みでポイントまたはクーポンプレゼントキャンペーンが適用となった場合<br>
                      　（複数の Rakuten UN-LIMIT VII お申し込みでポイントまたはクーポンプレゼントキャンペーンの対象となった場合、付与ポイント数やクーポン割引額が一番多いキャンペーンのみが適用され、同額の場合はポイント・クーポン問わずエントリー日時の早いキャンペーンが優先して適用されます。）<br>
                      　※　当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合<br>
                      　※　「Apple Watchスタートキャンペーン」の適用回数が、おひとり様1回を超える場合は対象外となります<br>
                      　※　楽天モバイルショップ、楽天モバイルオンライン以外で購入した場合（楽天モバイル公式 楽天市場店は対象外です。）<br>
                      　※　ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合<br>
                      　※　対象製品購入の翌月末時点で「電話番号シェアサービス」に加入していない場合<br>
                      　※　キャンペーン期間内でも対象製品ご購入の前に「電話番号シェアサービス」に加入された場合<br>
                      　※　ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合<br>
                      　※　当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合<br>
                      　※　そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合
                    </p>
                  </dd>
              </div>
              <div>
                  <dt>併用可能キャンペーン</dt>
                  <dd>
                      <p>
                        <span class="c-Txt_Emp-01">以下のキャンペーンは、併用可能となります。以下記載のキャンペーン以外は併用不可となります。</span><br>
                        ※以下のキャンペーン同士の併用可否については、各キャンペーンページをご参照ください。<br>
                      </p>

                      <p class="c-Txt_Cap">
                      - 【Rakuten UN-LIMIT VIお申し込み特典】だれでも5,000ポイントプレゼント(キャンペーンコード：1113)<br>
                      - 【毎月開催】楽天モバイル×楽天証券 Rakuten UN-LIMIT VI オンラインお申し込みでもれなく2,000ポイントプレゼントキャンペーン(キャンペーンコード：1490)<br>
                      - 【GoToトラベル期間限定】MNO新規契約＆トラベル予約でポイント10倍（通常ポイントに加えて＋9%）(キャンペーンコード：1488)<br>
                      - エントリー＆本ページからの楽天モバイルお申し込みで1000円OFFクーポンプレゼント(キャンペーンコード：1477)<br>
                      - 他社から乗り換え（MNP）限定！楽天モバイル公式 楽天市場店でiPhone SE（第3世代）発売記念キャンペーン(キャンペーンコード：1471)<br>
                      - 激トク乗り換え！Androidスマホ割引キャンペーン(キャンペーンコード：1470)<br>
                      - 楽天モバイル新規オンライン申し込みでグループクーポン1000円分プレゼント(キャンペーンコード：1464)<br>
                      - 楽天Pasha会員様へ Rakuten UN-LIMIT VI オンラインお申し込みでもれなく1,000ポイント進呈(キャンペーンコード：1461)<br>
                      - 他社から乗り換え（MNP）限定！iPhone SE（第3世代）発売記念キャンペーン(キャンペーンコード：1458)<br>
                      - 楽天モバイル公式 楽天市場店 対象Android製品と楽天回線セットご注文で最大20,000円OFFクーポン(キャンペーンコード：1450)<br>
                      - 楽天モバイル公式 楽天市場店 対象Apple製品と楽天回線セットご注文で最大20,000円OFFクーポン(キャンペーンコード：1445)<br>
                      - Rakuten WiFi Pocket 2 本体価格1円キャンペーン(キャンペーンコード：1425)<br>
                      - 【毎月開催】Rakuten UN-LIMIT VIのお申し込み同日の楽天市場でのお買い物ポイント+4倍キャンペーン(キャンペーンコード：1422)<br>
                      - iPhone 13 全機種 ポイント還元キャンペーン(キャンペーンコード：1382)<br>
                      - AQUOS sense5G大幅値引きキャンペーン（キャンペーンコード：1361）<br>
                      - Rakuten WiFi Pocket 2 本体価格1円キャンペーン（キャンペーンコード：1247）<br>
                      - 【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント（キャンペーンコード：1526）<br>
                      - 【Rakuten UN-LIMIT VII】データ1GB／月以下だった方限定！プラン料金最大4カ月実質無料キャンペーン（キャンペーンコード：1527）<br>
                      </p>
                  </dd>
              </div>
              <div>
                  <dt>併用不可キャンペーン</dt>
                  <dd>
                      <p class="c-Txt_Emp-01">以下のキャンペーンは、併用不可となります</p>
                      <p class="u-Adjust_Mt-8 c-Txt_Cap">
                      - お持ちのスマホそのままで、他社から乗り換え（MNP）の方限定！通常のRakuten UN-LIMIT VIお申し込み特典に加えて、さらに15,000ポイントプレゼントキャンペーン（キャンペーンコード：1262）<br>
                      - 【ショップ限定】持ち込みスマホあんしん保証をお申し込みで1,300ポイントプレゼント(キャンペーンコード：1498)　※2022年12月1日より併用不可となりました。<br>
                      - Apple Watchスタートキャンペーン(キャンペーンコード：1517)<br>
                      - 楽天ビック対象商品ご購入＋楽天モバイル（楽天回線）のオンラインお申し込みで2,000ポイントプレゼントキャンペーン（キャンペーンコード：1576）<br>
                      - キャラバンカー限定！回線のみ契約でさらに3,000ポイントプレゼント（キャンペーンコード：1783）
                      </p>
                  </dd>
              </div>
              <div>
                  <dt>注意事項</dt>
                  <dd>
                    <p class="c-Txt_Cap">
                      　※　本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください<br>
                      　※　本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります<br>
                      　※　製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります<br>
                      　※　本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります<br>
                      　※　記載の内容は2023年2月10日（金）時点の情報となります
                    </p>
                  </dd>
              </div>
              </dl>
          </div>
        </div>
      </div>
    </section>

    <!-- ReX UX Survey: Mounting point for embedded components -->
    <div id="rexSurveyEmbedded" class="rexSurveyNamespace u-Adjust_Mt-48"></div>

    <footer class="g-Footer u-Adjust_Mt-64">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
  <!-- ReX UX Survey: Config -->
  <script>
  window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
  </script>
  <!-- ReX UX Survey: Script -->
  <script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>

</body>
</html>
