<% const pagetitle = "リモートショップ" -%>
<% const directories = [{path:"shop/", label:"ショップ"}] -%>
<% const namespace = 'shop-remote-support' -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'オペレーターとビデオ通話で相談できるリモートショップです。',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<%- include('/include/shop/_category-css') %>

<link rel="stylesheet" href="<%= sitepath %>assets/css/shop/remote-support/remote-support.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System" id="js-result-top">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>


<div class="<%= namespace %>-Hero_Return">
    <div class="<%= namespace %>-Hero_Container">
    <div class="<%= namespace %>-Hero_Main">
        <h1>
        <img src="<%= sitepath %>assets/img/shop/remote-support/img-heading-pc.png?221111" alt="楽天モバイルのリモートショップ" class="<%= namespace %>-Utility_Img-pc" style="max-width:900px;">
        <img src="<%= sitepath %>assets/img/shop/remote-support/img-heading-sp.png?221111" alt="楽天モバイルのリモートショップ" class="<%= namespace %>-Utility_Img-sp">
        </h1>
    </div>
    </div>
</div>

<div class="<%= namespace %>-Layout u-Adjust_Mt-8">
  <div class="l-System_Container">
    <p class="c-Txt_Cap">
       ※本サービスは予告なく内容の変更もしくは中止させて頂く場合がございます。
    </p>
    <h2 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-32">ご相談からご契約まで、<br class="<%= namespace %>-Utility_Br-sp">お気軽にご利用ください。</h2>
  </div>
</div>

<div class="<%= namespace %>-Layout_bg">
  <div class="l-System_Container">
    <p class="u-Adjust_Align-center u-Adjust_Pb-32 u-Adjust_Pl-16 u-Adjust_Pr-8 <%= namespace %>-Utility_Show-sp">
    <img src="<%= sitepath %>assets/img/shop/remote-support/img-08.png" alt="">
    </p>

    <h3 class="c-Heading_Lv3 u-Adjust_Align-center">こんなお悩みありませんか？</h3>

    <p class="u-Adjust_Align-center u-Adjust_Mt-32 <%= namespace %>-Layout_bg_img">
    <img src="<%= sitepath %>assets/img/shop/remote-support/img-10.png" alt="" class="<%= namespace %>-Utility_Img-pc">
    <img src="<%= sitepath %>assets/img/shop/remote-support/img-10-sp.png" alt="" class="<%= namespace %>-Utility_Img-sp">
    </p>
  </div>
</div>
<div class="<%= namespace %>-Layout_end">
  <div class="l-System_Container">
    <h3 class="c-Heading_Lv3 u-Adjust_Align-center">そんなときは、リモートショップがおすすめ！</h3>

    <p class="u-Adjust_Align-center u-Adjust_Pt-32 u-Adjust_Pb-8 u-Adjust_Pl-24 u-Adjust_Pr-24 <%= namespace %>-Utility_Show-sp">
    <img src="<%= sitepath %>assets/img/shop/remote-support/img-09.png" alt="">
    </p>
    <h4 class="c-Heading_Lv4 u-Adjust_Align-center u-Adjust_Mt-24"><span class="c-Txt_Emp-02">ビデオ通話</span>でスタッフの<br class="<%= namespace %>-Utility_Br-sp">サポートが受けられます</h4>

    <p class="u-Adjust_Align-center u-Adjust_Mt-32 <%= namespace %>-Layout_end_img">
    <img src="<%= sitepath %>assets/img/shop/remote-support/img-11.png" alt="" class="<%= namespace %>-Utility_Img-pc">
    <img src="<%= sitepath %>assets/img/shop/remote-support/img-11-sp.png" alt="" class="<%= namespace %>-Utility_Img-sp">
    </p>
  </div>
</div>

<div class="<%= namespace %>-Layout u-Adjust_Mt-8">
  <div class="l-System_Container">

  <div class="shop-Layout_Container">
    <h2 class="c-Heading_Lv2 u-Adjust_Align-center" id="remote">リモートショップ一覧</h2>
    <p class="u-Adjust_Mt-16">ご来店の際は、ネットでできる「来店予約」が便利です。<br>
各ショップページの「Webで予約する」ボタンよりご予約ください。</p>
    <!-- ul class="<%= namespace %>-Layout_List u-Adjust_Mt-16">
    <div id="searchresult"></div>
    </ul -->
    <div class="shop-Shoplist_Noresult"><p class="c-Txt_Emp-01">ただいま、準備中でございます。</p></div>
  </div>

  <section class="<%= namespace %>-Layout_Section u-Adjust_Mt-0">
    <h2 class="c-Heading_Lv2 u-Adjust_Align-center">リモートショップの<br class="<%= namespace %>-Utility_Br-sp">ご利用方法</h2>
    <p class="u-Adjust_Mt-16">ご契約を検討中のお客様は、ご利用前に、お申し込みに必要な書類をご確認ください。</p>
    <div>
    <p><a href="#document" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>ご契約に必要な書類を確認する</a></p>
    </div>

  <ol class="<%= namespace %>-List_Flow u-Adjust_Mt-40">
    <li>
      <div class="l-Media_Grid-reverse">
        <div>
          <p class="c-Heading_Lv4 c-Txt_Emp-02">STEP1</p>
          <h3 class="c-Heading_Lv3">ご来店～画面にワンタッチでオペレーターに接続</h3>
          <p class="u-Adjust_Mt-16">ブースに入りヘッドセットを装着ください。<br>
            画面上の呼び出しボタンにタッチすると、オペレーターとのビデオ通話が開始されます。</p>
        </div>
        <div class="l-Media_Image">
          <img src="<%= sitepath %>assets/img/shop/remote-support/img-04.png" alt="">
        </div>
      </div>
    </li>
    <li>
      <div class="l-Media_Grid-reverse">
        <div>
          <p class="c-Heading_Lv4 c-Txt_Emp-02">STEP2</p>
          <h3 class="c-Heading_Lv3">オペレーターに相談</h3>
          <p class="u-Adjust_Mt-16">料金プランの説明や最適なスマホのご紹介、オプションサービスについてご相談いただけます。もちろんご相談だけでなく、契約申し込みのサポートもいたします。</p>
        </div>
        <div class="l-Media_Image">
          <img src="<%= sitepath %>assets/img/shop/remote-support/img-05.png" alt="">
        </div>
      </div>
    </li>
    <li>
      <div class="l-Media_Grid-reverse">
        <div>
          <p class="c-Heading_Lv4 c-Txt_Emp-02">STEP3</p>
          <h3 class="c-Heading_Lv3">後日配送で<br class="<%= namespace %>-Utility_Br-sp">製品・SIMを受け取り</h3>
          <p class="u-Adjust_Mt-16">製品がお手元に届きましたら初期設定を行い、ご利用を開始してください。<br>
製品の初期設定に関しましても、再度リモートショップのビデオ通話にてご相談可能です。</p>
        </div>
        <div class="l-Media_Image">
          <img src="<%= sitepath %>assets/img/shop/remote-support/img-07.png" alt="">
        </div>
      </div>
    </li>
    </ol>
    </section>

    <h2 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-40" id="document">ご契約に必要な書類</h2>
    <ol class="<%= namespace %>-List_Flow u-Adjust_Mt-16">
      <li>
        <div class="l-Media_Grid-reverse">
          <div>
            <h3 class="c-Heading_Lv3">必要書類等の準備・確認</h3>
            <p class="u-Adjust_Mt-16">お申し込みに必要な書類、利用規約等を確認する</p>
          </div>
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/shop/remote-support/img-02.png" alt="">
          </div>
        </div>

        <div class="c-Accordion u-Adjust_Mt-16">
          <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>お申し込み・お支払いに必要なもの</button>
          <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
            <ul class="c-List_Text-disc">
              <li><a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
              <li>楽天会員ログイン用のユーザID、パスワード
                <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Emp-02 c-Txt_Normal-s u-Adjust_Mt-8 u-Adjust_Mb-16" style="text-indent: 0;">※本人確認書類の情報と、楽天会員情報が一致している必要があります。</p>
                <a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Link_Txt-inline u-Adjust_Mt-8">楽天会員情報を確認・変更する<span class="c-Icon_Chevron-right"></span></a>
              </li>
              <li><a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8" style="text-indent: 0;">※ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="<%= sitepath %>faq/detail/00001238/">こちらのご案内ページ</a>を必ず事前にご確認ください。</p>
              </li>
            </ul>
            <ul class="c-Txt_Cap u-Adjust_Mt-24">
              <li class="u-Adjust_Pl-0"><span>※</span>未成年者の方のお申し込みに必要な情報、お申し込み方法は<a href="/flow/for-minors/">こちらのご案内ページ</a>をご確認ください。</li>
              <li class="u-Adjust_Pl-0"><span>※</span>Webページにて、楽天モバイル（ドコモ回線・au回線）から移行お手続き後に、Rakuten最強プランにお申し込みいただく場合、MNP予約番号と本人確認書類はご準備不要です。</li>
              <li class="u-Adjust_Pl-0"><span>※</span>MNPワンストップ未対応の携帯電話会社から乗り換えの方は、MNP予約番号の取得が必要です。<br>MNPワンストップ対象の携帯電話会社は<a href="<%= sitepath %>guide/mnp/#carrier" class="c-Link_Txt">こちら</a>からご確認ください。</li>
              <li class="u-Adjust_Pl-0"><span>※</span>ショップでのお手続きは、ワンストップ対象の他社からの転入であっても、MNP予約番号を取得のうえ、ご来店ください。</li>
            </ul>
          </div>
        </div>
        <div class="c-Accordion">
          <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>重要事項説明書・利用規約等の確認</button>
          <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
        <p class="u-Adjust_Mt-8">以下を必ずご一読ください。ご不明点がある場合は、ビデオ通話の際にオペレーターにお伝えください。</p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8">
                      ※「快適なサービスをご利用いただくための情報提供についての規約」については、ビデオ通話でもオペレーターからお客様にご確認させていただきます。
                    </p>
                    <ul class="u-Adjust_Mt-8">
                      <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>terms/pdf/rakuten_mobile_important_explanation.pdf?20240502" class="c-Link_Txt-inline" target="_blank" rel="noopener">重要事項説明書<span class="c-Icon_Pdf-l"></span></a></li>
                      <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>terms/pdf/rakuten_mobile_service_contract_clause.pdf?20231001" class="c-Link_Txt-inline" target="_blank" rel="noopener">楽天モバイル通信サービス契約約款<span class="c-Icon_Pdf-l"></span></a></li>
                      <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>terms/pdf/rakuten_mobile_service_contract_clause_5g.pdf?20231001" class="c-Link_Txt-inline" target="_blank" rel="noopener">楽天モバイル通信サービス（5G）契約約款<span class="c-Icon_Pdf-l"></span></a></li>
                      <li class="u-Adjust_Mt-8"><a href="https://corp.mobile.rakuten.co.jp/guide/privacy/" class="c-Link_Txt-inline" target="_blank" rel="noopener">個人情報の取扱い<span class="c-Icon_New-window-l"></span></a></li>
                    </ul>
                    <p class="u-Adjust_Mt-32">各オプションサービスやその他規約は以下よりご確認ください。</p>
                    <ul class="u-Adjust_Mt-8">
                      <li class="u-Adjust_Mt-8"><a href="https://corp.mobile.rakuten.co.jp/guide/privacy/bandwidth/" class="c-Link_Txt-inline" target="_blank" rel="noopener">帯域制御のための通信に関する情報の取得、利用に関する規約<span class="c-Icon_New-window-l"></span></a></li>
                      <li class="u-Adjust_Mt-8"><a href="https://corp.mobile.rakuten.co.jp/guide/privacy/utilization/" class="c-Link_Txt-inline" target="_blank" rel="noopener">快適なサービスをご利用いただくための情報提供についての規約<span class="c-Icon_New-window-l"></span></a></li>
                      <li class="u-Adjust_Mt-8"><a href="<%= sitepath %>terms/" class="c-Link_Txt-inline" target="_blank" rel="noopener">その他の利用規約<span class="c-Icon_New-window-l"></span></a></li>
                    </ul>
          </div>
        </div>
      </li>
    </ol>

    <p class=" u-Adjust_Mt-40">
       お近くに、リモートショップがない方は、電話またはビデオ通話でオペレータと相談できる「お申し込みサポート」が便利です。
    </p>
    <p class="u-Adjust_Align-center u-Adjust_Mt-16">
      <a href="<%= sitepath %>guide/application-support/?l-id=shop_remote-support_guide_application-support">
        <img src="<%= sitepath %>assets/img/bnr/bnr-2207_application-support-1032-160-230428.png" alt="お申し込みの電話サポート" class="<%= namespace %>-Utility_Img-pc">
        <img src="<%= sitepath %>assets/img/bnr/bnr-2207_application-support-375-192-230428.png" alt="お申し込みの電話サポート" class="<%= namespace %>-Utility_Img-sp">
      </a>
  </p>

  </div>
</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-shop-v2.ejs') %>

    <%#- include('/include/footer/bnr/bnr-shop.ejs') %>

    <%#- include('/faq/include/related-shop.ejs') %>

  </div>

  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>


</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/shop.remote-support.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
