<%_ if (jData.title1) { _%>
  <h3 class="c-Heading_Lv3"><%= jData.title1 %></h3>
<%_ } _%>
<%_　if (jData.text1) {　_%>
  <%_ const featureTexts = jData.text1.split('<br><br>').filter(text => text !== '') _%>
  <div>
    <%_ featureTexts.forEach((text, index) => { _%>
      <%_ if (index === 0) { _%>
        <p><%- createCap(text) %></p>
      <%_ } else { _%>
        <p class="u-Adjust_Mt-16"><%- createCap(text) %></p>
      <%_ } _%>
    <%_ }) _%>
  </div>
<%_ } _%>

<%_ if (jData.title2) { _%>
  <h3 class="c-Heading_Lv2"><%= jData.title2 %></h3>
<%_ } _%>
<%_　if (jData.text2) {　_%>
  <%_ const featureTexts = jData.text2.split('<br><br>').filter(text => text !== '') _%>
  <div>
    <%_ featureTexts.forEach((text, index) => { _%>
      <%_ if (index === 0) { _%>
        <p><%- createCap(text) %></p>
      <%_ } else { _%>
        <p class="u-Adjust_Mt-16"><%- createCap(text) %></p>
      <%_ } _%>
    <%_ }) _%>
  </div>
<%_ } _%>

<%_ if (jData.title3) { _%>
  <h3 class="c-Heading_Lv2"><%= jData.title3 %></h3>
<%_ } _%>
<%_　if (jData.text3) {　_%>
  <%_
    const featureTexts = jData.text3.split('<br><br>').filter(text => text !== '')
  _%>
  <div>
    <%_ featureTexts.forEach((text, index) => { _%>
      <%_ if (index === 0) { _%>
        <p><%= text %></p>
      <%_ } else { _%>
        <p class="u-Adjust_Mt-16"><%= text %></p>
      <%_ } _%>
    <%_ }) _%>
  </div>
<%_ } _%>

<%_　if (jData.featurelist) {　_%>
  <h3 class="c-Heading_Lv3">主な特長</h3>
  <ul class="c-List_Text-disc">
    <%- createList(jData.featurelist) %>
  </ul>
<%_ } _%>

<section class="accessory-detail-Layout_Section" id="spec">
<h2 class="c-Heading_Lv2">スペック</h2>
<dl class="c-Dl">
  <%_ if (jData.item1) { _%>
    <div>
      <dt><%= jData.item1 %></dt>
      <dd class="u-Adjust_Txt-break"><%- createCap(jData.value1) %></dd>
    </div>
  <%_ } _%>
  <%_ if (jData.item2) { _%>
    <div>
      <dt><%= jData.item2 %></dt>
      <dd class="u-Adjust_Txt-break"><%- createCap(jData.value2) %></dd>
    </div>
  <%_ } _%>
  <%_ if (jData.item3) { _%>
    <div>
      <dt><%= jData.item3 %></dt>
      <dd class="u-Adjust_Txt-break"><%- createCap(jData.value3) %></dd>
    </div>
  <%_ } _%>
  <%_ if (jData.item4) { _%>
    <div>
      <dt><%= jData.item4 %></dt>
      <dd class="u-Adjust_Txt-break"><%- createCap(jData.value4) %></dd>
    </div>
  <%_ } _%>
  <%_ if (jData.item5) { _%>
    <div>
      <dt><%= jData.item5 %></dt>
      <dd class="u-Adjust_Txt-break"><%- createCap(jData.value5) %></dd>
    </div>
  <%_ } _%>
  <%_ if (jData.item6) { _%>
    <div>
      <dt><%= jData.item6 %></dt>
      <dd class="u-Adjust_Txt-break"><%- createCap(jData.value6) %></dd>
    </div>
  <%_ } _%>
  <%_ if (jData.item7) { _%>
    <div>
      <dt><%= jData.item7 %></dt>
      <dd class="u-Adjust_Txt-break"><%- createCap(jData.value7) %></dd>
    </div>
  <%_ } _%>
  <%_ if (jData.item8) { _%>
    <div>
      <dt><%= jData.item8 %></dt>
      <dd class="u-Adjust_Txt-break"><%- createCap(jData.value8) %></dd>
    </div>
  <%_ } _%>
  <%_ if (jData.item9) { _%>
    <div>
      <dt><%= jData.item9 %></dt>
      <dd class="u-Adjust_Txt-break"><%- createCap(jData.value9) %></dd>
    </div>
  <%_ } _%>
  <%_ if (jData.item10) { _%>
    <div>
      <dt><%= jData.item10 %></dt>
      <dd class="u-Adjust_Txt-break"><%- createCap(jData.value10) %></dd>
    </div>
  <%_ } _%>
  <%_ if (jData.item11) { _%>
    <div>
      <dt><%= jData.item11 %></dt>
      <dd class="u-Adjust_Txt-break"><%- createCap(jData.value11) %></dd>
    </div>
  <%_ } _%>
  <%_ if (jData.item12) { _%>
    <div>
      <dt><%= jData.item12 %></dt>
      <dd class="u-Adjust_Txt-break"><%- createCap(jData.value12) %></dd>
    </div>
  <%_ } _%>
  <%_ if (jData.item13) { _%>
    <div>
      <dt><%= jData.item13 %></dt>
      <dd class="u-Adjust_Txt-break"><%- createCap(jData.value13) %></dd>
    </div>
  <%_ } _%>
</dl>
</section>

<%_
  const createCompatibleProducts = () => {
    return jData.compatible.split('<br>')
      .filter(item => item !== '')
      .map(product => {
        if (product.indexOf('★') !== -1) {
          return `<h3 class="c-Heading_Lv3">${product.replace(/★/g, '')}</h3>`
        }
        if (product.indexOf('[http') !== -1) {
          if (/詳しい/.test(product)) {
            product = createLinkSelf(product) + '<br>'
          } else {
            product = createLink(product) + '<br>'
          }

          if (product.indexOf('target="_blank"') !== -1) {
            product = product
              .replace('target="_blank"', 'class="c-Link_Txt-inline" target="_blank"')
              .replace('</a>', '<span class="c-Icon_New-window-l"></span></a>')
          }
          return product
        } else {
          return product + '<br>'
        }
      })
  }
  const compatibleProducts = createCompatibleProducts()
_%>
<%_ if (compatibleProducts.length !== 0) { _%>
  <section class="accessory-detail-Layout_Section">
    <h2 class="c-Heading_Lv2"><%= jData.compatibletitle %></h2>
    <div class="u-Adjust_Txt-break">
      <%_ for (let i = 0, len = compatibleProducts.length; i < len; i++) { _%>
        <%_ if (i !== len - 1) { _%>
          <%- compatibleProducts[i] %>
        <%_ } else { _%>
          <%- compatibleProducts[i].replace('<br>', '') %>
        <%_ } _%>
      <%_ } _%>
    </div>
  </section>
<%_ } _%>

<%_
  const createContactvalue = (value) => {
    if (value.indexOf('http') !== -1) {
      return createLinkSelf(value)
    }
    return value
  }
_%>

<%_ if (jData.contactitem1) { _%>
  <section class="accessory-detail-Layout_Section">
    <h2 class="c-Heading_Lv2">お問い合わせ</h2>
    <div class="c-Table_Wrap u-Adjust_Mt-24">
      <dl class="c-Dl_Origin">
        <%_ if (jData.contactitem1) { _%>
          <div>
            <dt><%= jData.contactitem1 %></dt>
            <dd><%- createContactvalue(jData.contactvalue1) %></dd>
          </div>
        <%_ } _%>
        <%_ if (jData.contactitem2) { _%>
          <div>
            <dt><%= jData.contactitem2 %></dt>
            <dd><%- createContactvalue(jData.contactvalue2) %></dd>
          </div>
        <%_ } _%>
        <%_ if (jData.contactitem3) { _%>
          <div>
            <dt><%= jData.contactitem3 %></dt>
            <dd><%- createContactvalue(jData.contactvalue3) %></dd>
          </div>
        <%_ } _%>
        <%_ if (jData.contactitem4) { _%>
          <div>
            <dt><%= jData.contactitem4 %></dt>
            <dd><%- createContactvalue(jData.contactvalue4) %></dd>
          </div>
        <%_ } _%>
      </dl>
    </div>
  </section>
<%_ } _%>

<%_ if( jData.comment !== '' ) { _%>
  <section class="accessory-detail-Layout_Section">
    <h2 class="c-Heading_Lv2">注意事項</h2>
      <div class="u-Adjust_Mt-32">
        <ul class="c-Txt_Cap">
          <%- createComment(jData.comment) %>
        </ul>
      </div>
  </section>
<%_ } _%>
