<div class="product-iphone_Equipment">
  <div class="l-System_Container">
    <h2 class="c-Heading_Lv2">おすすめアクセサリ</h2>
    <div class="u-Adjust_Mt-24">
      <ul>
        <li class="c-Card_Normal">
          <a href="<%= sitepath %>product/accessory/apple/?l-id=product_accessory_apple_apple-audio#audio">
            <div>
              <img src="<%= sitepath %>assets/img/accessory/apple-rm2309069/pht-accessory-00.png" alt="AirPods">
              <h3 class="c-Heading_Lv4 u-Adjust_Mt-8">AirPods</h3>
            </div>
          </a>
        </li>
        <li class="c-Card_Normal">
          <a href="<%= sitepath %>product/accessory/apple/?l-id=product_accessory_apple_apple-other#other">
            <div>
              <img src="<%= sitepath %>assets/img/accessory/apple-rm2104016/pht-accessory-00.png" alt="AirTag">
              <h3 class="c-Heading_Lv4 u-Adjust_Mt-8">AirTag</h3>
            </div>
          </a>
        </li>
        <li class="c-Card_Normal">
          <a href="<%= sitepath %>product/accessory/apple/?l-id=product_accessory_apple_apple-case#case">
            <div>
              <img src="<%= sitepath %>assets/img/accessory/apple-rm2309053/pht-accessory-00.png" alt="iPhoneケース">
              <h3 class="c-Heading_Lv4 u-Adjust_Mt-8">iPhoneケース</h3>
            </div>
          </a>
        </li>
        <li class="c-Card_Normal">
          <a href="<%= sitepath %>product/accessory/apple/?l-id=product_accessory_apple_apple-chargers#chargers">
            <div>
              <img src="<%= sitepath %>assets/img/accessory/apple-rm213003/pht-accessory-00.png" alt="MagSafe充電器">
              <h3 class="c-Heading_Lv4 u-Adjust_Mt-8">充電器＆アダプタ</h3>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
