<%_
const bnraccessoryscid = (typeof bnr_accessory_scid !== 'undefined') ? `?scid=${bnr_accessory_scid}` : ''
_%>
<% const slidePc = [
  {//AirPods Pro led_230922
    path: `${sitepath}product/accessory/apple/?l-id=product_carousel_accessory_apple_apple-audio#audio`,
    img: `${sitepath}assets/img/bnr/bnr-air-pods-pro-1032-300-230922.png`,
    alt: 'AirPods Pro 魔法を再設計しました。'
  },
  {//市場店アクセCPN_221222
    path: `https://www.rakuten.ne.jp/gold/rakutenmobile-store/product/accessory/apple/case/${bnraccessoryscid}`,
    img: `${sitepath}assets/img/bnr/campaign-ichiba-accessory-1032-300-221222.png`,
    alt: '楽天モバイル公式 楽天市場店ならいつでもアクセサリ全品送料無料！',
    target: true
  },
  {//iPhone CPN_240517
    path: `${sitepath}campaign/iphone-point/?l-id=product_carousel_campaign_iphone-point`,
    img: `${sitepath}assets/img/bnr/bnr-iphone-point-1032-300-240517.png`,
    alt: '対象iPhoneを一括または24回払いで購入＆楽天モバイルへ初めて申し込み＆他社から電話番号そのまま乗り換えで最大32,000円相当おトク！'
  },
  {//買い替え超トクプログラム_231110
    path: `${sitepath}service/replacement-program/?l-id=product_carousel_service_replacement-program`,
    img: `${sitepath}assets/img/bnr/bnr-replacement-program-1032-300-231222.png`,
    alt: '楽天モバイル買い替え超トクプログラムで対象のiPhoneを購入すると、本体代が最大半額分支払い不要に。'
  },
  {//Apple Care_240221
    path: `${sitepath}service/iphone/applecare-icloud/?l-id=product_carousel_service_iphone_applecare-icloud`,
    img: `${sitepath}assets/img/bnr/service-applecare-1032-300-240221.png`,
    alt: '故障紛失保証 with AppleCare Services & iCloud+'
  },
  {//スマホ下取り_240305
    path: `${sitepath}service/tradein/?l-id=product_carousel_service_tradein`,
    img: `${sitepath}assets/img/bnr/service-tradein-1032-300-240305.png`,
    alt: 'ご不要なスマホありませんか？3/1より一部製品の下取り価格アップ! 他社での購入品も下取り可能 手数料・送料完全無料 本体のみでOK!箱・付属品不要 ※下取りには一定の条件があります。'
  },
  {//eSIMとは
    path: `${sitepath}product/sim/esim/?l-id=product_carousel_sim_esim`,
    img: `${sitepath}assets/img/bnr/esim-1032x300.png?210705`,
    alt: 'eSIMだから実現する簡単・手軽な申し込みスタイル'
  }
]
const slideSp = [
  {//AirPods Pro led_230922
    path: `${sitepath}product/accessory/apple/?l-id=product_carousel_accessory_apple_apple-audio#audio`,
    img: `${sitepath}assets/img/bnr/bnr-air-pods-pro-375-192-230922.png`,
    alt: 'AirPods Pro 魔法を再設計しました。'
  },
  {//市場店アクセCPN_221222
    path: `https://www.rakuten.ne.jp/gold/rakutenmobile-store/product/accessory/apple/case/${bnraccessoryscid}`,
    img: `${sitepath}assets/img/bnr/campaign-ichiba-accessory-375-192-221222.png`,
    alt: '楽天モバイル公式 楽天市場店ならいつでもアクセサリ全品送料無料！',
    target: true
  },
  {//iPhone CPN_240517
    path: `${sitepath}campaign/iphone-point/?l-id=product_carousel_campaign_iphone-point`,
    img: `${sitepath}assets/img/bnr/bnr-iphone-point-375-192-240517.png`,
    alt: '対象iPhoneを一括または24回払いで購入＆楽天モバイルへ初めて申し込み＆他社から電話番号そのまま乗り換えで最大32,000円相当おトク！'
  },
  {//買い替え超トクプログラム_231110
    path: `${sitepath}service/replacement-program/?l-id=product_carousel_service_replacement-program`,
    img: `${sitepath}assets/img/bnr/bnr-replacement-program-375-192-231222.png`,
    alt: '楽天モバイル買い替え超トクプログラムで対象のiPhoneを購入すると、本体代が最大半額分支払い不要に。'
  },
  {//Apple Care_240221
    path: `${sitepath}service/iphone/applecare-icloud/?l-id=product_carousel_service_iphone_applecare-icloud`,
    img: `${sitepath}assets/img/bnr/service-applecare-375-192-240221.png`,
    alt: '故障紛失保証 with AppleCare Services & iCloud+'
  },
  {//スマホ下取り_240305
    path: `${sitepath}service/tradein/?l-id=product_carousel_service_tradein`,
    img: `${sitepath}assets/img/bnr/service-tradein-375-192-240305.png`,
    alt: 'ご不要なスマホありませんか？3/1より一部製品の下取り価格アップ! 他社での購入品も下取り可能 手数料・送料完全無料 本体のみでOK!箱・付属品不要 ※下取りには一定の条件があります。'
  },
  {//eSIMとは
    path: `${sitepath}product/sim/esim/?l-id=product_carousel_sim_esim`,
    img: `${sitepath}assets/img/bnr/esim-375x192.png?210705`,
    alt: 'eSIMだから実現する簡単・手軽な申し込みスタイル'
  }
]
-%>
<div class="c-Carousel_Main product-top-Utility_Show-pc">
  <div class="c-Carousel c-Carousel_Main-wrap-v2 js-c-Carousel-v2_Main">
  <%_ slidePc.forEach((value, index, array) => { _%>
    <%_ if( index === 0 || index === 1 || index === array.length - 1 ) { _%>
    <a href="<%- value.path %>"<% if( value.target ) { %> target="_blank"<%_ } _%>>
      <img src="<%- value.img %>" alt="<%- value.alt %>">
    </a>
    <%_ } else { _%>
    <a href="<%- value.path %>"<% if( value.target ) { %> target="_blank"<%_ } _%>>
      <img data-lazy="<%- value.img %>" alt="<%- value.alt %>">
    </a>
    <%_ } _%>
  <%_ }); _%>
  </div>
  <div class="c-Carousel_Nav-v2-wrap">
    <div class="c-Carousel_Nav-v2"></div>
  </div>
</div>


<div class="c-Carousel_Main product-top-Utility_Show-sp">
  <div class="c-Carousel c-Carousel_Main-wrap-v2 js-c-Carousel-v2_Main-sp">
  <%_ slideSp.forEach((value, index, array) => { _%>
    <%_ if( index === 0 ) { _%>
    <a href="<%- value.path %>"<% if( value.target ) { %> target="_blank"<%_ } _%>>
      <img src="<%- value.img %>" alt="<%- value.alt %>">
    </a>
    <%_ } else { _%>
    <a href="<%- value.path %>"<% if( value.target ) { %> target="_blank"<%_ } _%>>
      <img data-lazy="<%- value.img %>" alt="<%- value.alt %>">
    </a>
    <%_ } _%>
  <%_ }); _%>
  </div>
  <div class="l-System_Container">
    <div class="c-Carousel_Nav-v2"></div>
  </div>
</div>
