<% const slidePc = [
  {//モバイルバッテリー_230221
    path: `${sitepath}product/accessory/owltech-owl-lpb10012-rwh/?l-id=product_carousel_accessory_owltech-owl-lpb10012-rwh`,
    img: `${sitepath}assets/img/bnr/bnr-battery-1032-300-230228.png`,
    alt: '小型・軽量 モバイルバッテリー 10,000mAh'
  },
  {//市場店アクセCPN_221222
    path: `https://www.rakuten.ne.jp/gold/rakutenmobile-store/product/accessory/apple/case/?scid=wi_ich_accy_0011cpn2107`,
    img: `${sitepath}assets/img/bnr/campaign-ichiba-accessory-1032-300-221222.png`,
    alt: '楽天モバイル公式 楽天市場店ならいつでもアクセサリ全品送料無料！',
    target: true
  },
  {//Android CPN_240522
    path: `${sitepath}campaign/start-point/?l-id=product_carousel_campaign_start-point`,
    img: `${sitepath}assets/img/bnr/bnr-start-point-1032-300-240522.png`,
    alt: '楽天モバイルへ初めてお申し込み＋他社から電話番号そのまま乗り換え＋対象のAndroid製品をご購入いただくと最大12,000ポイント還元！他社から乗り換え以外の方でも最大8,000ポイント還元中！'
  },
  {//スマホ下取り_240305
    path: `${sitepath}service/tradein/?l-id=product_carousel_service_tradein`,
    img: `${sitepath}assets/img/bnr/service-tradein-1032-300-240305.png`,
    alt: 'ご不要なスマホありませんか？3/1より一部製品の下取り価格アップ! 他社での購入品も下取り可能 手数料・送料完全無料 本体のみでOK!箱・付属品不要 ※下取りには一定の条件があります。'
  },
  {//eSIMとは
    path: `${sitepath}product/sim/esim/?l-id=product_carousel_sim_esim`,
    img: `${sitepath}assets/img/bnr/esim-1032x300.png?210705`,
    alt: 'eSIMだから実現する簡単・手軽な申し込みスタイル'
  }
]
const slideSp = [
  {//モバイルバッテリー_230221
    path: `${sitepath}product/accessory/owltech-owl-lpb10012-rwh/?l-id=product_carousel_accessory_owltech-owl-lpb10012-rwh`,
    img: `${sitepath}assets/img/bnr/bnr-battery-375-192-230228.png`,
    alt: '小型・軽量 モバイルバッテリー 10,000mAh'
  },
  {//市場店アクセCPN_221222
    path: `https://www.rakuten.ne.jp/gold/rakutenmobile-store/product/accessory/apple/case/?scid=wi_ich_accy_0011cpn2107`,
    img: `${sitepath}assets/img/bnr/campaign-ichiba-accessory-375-192-221222.png`,
    alt: '楽天モバイル公式 楽天市場店ならいつでもアクセサリ全品送料無料！',
    target: true
  },
  {//Android CPN_240522
    path: `${sitepath}campaign/start-point/?l-id=product_carousel_campaign_start-point`,
    img: `${sitepath}assets/img/bnr/bnr-start-point-375-192-240522.png`,
    alt: '楽天モバイルへ初めてお申し込み＋他社から電話番号そのまま乗り換え＋対象のAndroid製品をご購入いただくと最大12,000ポイント還元！他社から乗り換え以外の方でも最大8,000ポイント還元中！'
  },
  {//スマホ下取り_240305
    path: `${sitepath}service/tradein/?l-id=product_carousel_service_tradein`,
    img: `${sitepath}assets/img/bnr/service-tradein-375-192-240305.png`,
    alt: 'ご不要なスマホありませんか？3/1より一部製品の下取り価格アップ! 他社での購入品も下取り可能 手数料・送料完全無料 本体のみでOK!箱・付属品不要 ※下取りには一定の条件があります。'
  },
  {//eSIMとは
    path: `${sitepath}product/sim/esim/?l-id=product_carousel_sim_esim`,
    img: `${sitepath}assets/img/bnr/esim-375x192.png?210705`,
    alt: 'eSIMだから実現する簡単・手軽な申し込みスタイル'
  }
]
-%>
<div class="c-Carousel_Main product-top-Utility_Show-pc">
  <div class="c-Carousel c-Carousel_Main-wrap-v2 js-c-Carousel-v2_Main">
  <%_ slidePc.forEach((value, index, array) => { _%>
    <%_ if( index === 0 || index === 1 || index === array.length - 1 ) { _%>
    <a href="<%- value.path %>"<% if( value.target ) { %> target="_blank"<%_ } _%>>
      <img src="<%- value.img %>" alt="<%- value.alt %>">
    </a>
    <%_ } else { _%>
    <a href="<%- value.path %>"<% if( value.target ) { %> target="_blank"<%_ } _%>>
      <img data-lazy="<%- value.img %>" alt="<%- value.alt %>">
    </a>
    <%_ } _%>
  <%_ }); _%>
  </div>
  <div class="c-Carousel_Nav-v2-wrap">
    <div class="c-Carousel_Nav-v2"></div>
  </div>
</div>


<div class="c-Carousel_Main product-top-Utility_Show-sp">
  <div class="c-Carousel c-Carousel_Main-wrap-v2 js-c-Carousel-v2_Main-sp">
  <%_ slideSp.forEach((value, index, array) => { _%>
    <%_ if( index === 0 ) { _%>
    <a href="<%- value.path %>"<% if( value.target ) { %> target="_blank"<%_ } _%>>
      <img src="<%- value.img %>" alt="<%- value.alt %>">
    </a>
    <%_ } else { _%>
    <a href="<%- value.path %>"<% if( value.target ) { %> target="_blank"<%_ } _%>>
      <img data-lazy="<%- value.img %>" alt="<%- value.alt %>">
    </a>
    <%_ } _%>
  <%_ }); _%>
  </div>
  <div class="l-System_Container">
    <div class="c-Carousel_Nav-v2"></div>
  </div>
</div>
