<% const pagetitle = "公式Twitterをフォロー＆RT！抽選で30名様に5,000ポイントプレゼント" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "twitter-ichiba" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルと楽天市場の公式Twitterのアカウントをフォローして対象の投稿をリツイート！抽選で30名様に5,000ポイントが当たるキャンペーンです。2022年3月30日(水) 13:59まで開催！',
    keywords: '',
    noindex: true,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/twitter-ichiba/twitter-ichiba.css?20240424">
<%- include('/include/_append-head') %>

</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>
<div class="<%= namespace %>-Layout-Label">
  <ul class="c-Label_List <%= namespace %>-Layout-Label_List">
    <li class="c-Label_Normal">全会員様対象</li>
  </ul>
  <p class="<%= namespace %>-Layout-Label_point">ポイント :付与日を含めて6カ月の期間限定ポイント</p>
</div>

<div class="<%= namespace %>-Hero_Bg">
  <div class="<%= namespace %>-Hero_Bg-in">
    <h1>
      <img src="<%= sitepath %>assets/img/campaign/twitter-ichiba/img_main_pc.png" class="<%= namespace%>-Utility_Img-pc" width="" alt="公式Twitterをフォロー＆RT！抽選で30名様に5,000ポイントプレゼント">
      <img src="<%= sitepath %>assets/img/campaign/twitter-ichiba/img_main_sp.png" class="<%= namespace%>-Utility_Img-sp" width="" alt="公式Twitterをフォロー＆RT！抽選で30名様に5,000ポイントプレゼント">
    </h1>
  </div>
</div>

<div class="<%= namespace %>-Layout_Section <%= namespace %>-Section_List">
  <div class="l-System_Container">
    <p class="u-Adjust_Align-left c-Txt_Cap">
      ※キャンペーンの当選には楽天会員への登録が必要です
    </p>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-40 u-Adjust_Align-center" id="campaign-flow">キャンペーンご応募の流れ</h2>
    <ul class="c-Flow u-Adjust_Mt-24">

      <li>
        <h3 class="c-Heading_Lv4 <%= namespace %>-Layout-inner">
        <span class="c-Txt_Emp-02">STEP1</span>楽天モバイル公式アカウントをフォロー
        </h3>
        <div class="l-Media_Grid">
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/campaign/twitter-ichiba/img_campaign_flow01.png" width="107" alt="">
          </div>
          <div>
            <p class="u-Adjust_Mt-16 <%= namespace %>-Utility_Br-pc">
              Twitter公式アカウント「<span class="c-Txt_Emp-02">@Rakuten_Mobile</span>」をフォロー
            </p>
            <p class="<%= namespace %>-Utility_Br-sp">
              Twitter公式アカウント<br>「<span class="c-Txt_Emp-02">@Rakuten_Mobile</span>」をフォロー
            </p>
            <div class="u-Adjust_Align-center u-Adjust_Mt-24 u-Adjust_Mb-24 <%= namespace %>-Utility_Br-sp">
            <a href="https://twitter.com/Rakuten_Mobile/" class="c-Btn_Primary-large" target="_blank"><span>楽天モバイル公式アカウント</span></a>
            </div>
          </div>
        </div>
        <div class="u-Adjust_Align-center u-Adjust_Mb-24 <%= namespace %>-Utility_Br-pc" style="margin-top:-40px;">
        <a href="https://twitter.com/Rakuten_Mobile/" class="c-Btn_Primary-large" target="_blank"><span>楽天モバイル公式アカウント</span></a>
        </div>
      </li>

      <li>
        <h3 class="c-Heading_Lv4 <%= namespace %>-Layout-inner">
        <span class="c-Txt_Emp-02">STEP2</span>楽天市場公式アカウントをフォロー
        </h3>
        <div class="l-Media_Grid">
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/campaign/twitter-ichiba/img_campaign_flow02.png" width="107" alt="">
          </div>
          <div>
            <p class="u-Adjust_Mt-16 <%= namespace %>-Utility_Br-pc">
              Twitter公式アカウント「<span style="color: #BF0000; font-weight: bold;">@RakutenJP</span>」をフォロー
            </p>
            <p class="u-Adjust_Mt-16 <%= namespace %>-Utility_Br-sp">
              Twitter公式アカウント<br>「<span style="color: #BF0000; font-weight: bold;">@RakutenJP</span>」をフォロー
            </p>
            <div class="u-Adjust_Align-center u-Adjust_Mt-24 u-Adjust_Mb-24 <%= namespace %>-Utility_Br-sp">
            <a href="https://twitter.com/RakutenJP/" class="c-Btn_Primary-large" target="_blank"><span>楽天市場公式アカウント</span></a>
            </div>
          </div>
        </div>
        <div class="u-Adjust_Align-center u-Adjust_Mb-24 <%= namespace %>-Utility_Br-pc" style="margin-top:-40px;">
        <a href="https://twitter.com/RakutenJP/" class="c-Btn_Primary-large" target="_blank"><span>楽天市場公式アカウント</span></a>
        </div>
      </li>

      <li>
        <h3 class="c-Heading_Lv4 <%= namespace %>-Layout-inner">
        <span class="c-Txt_Emp-02">STEP3</span>本キャンペーンのTweetをリツイート
        </h3>
        <div class="l-Media_Grid">
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/campaign/twitter-ichiba/img_campaign_flow03.png" width="107" alt="">
          </div>
          <div class="u-Adjust_Align-left">
            <p class="u-Adjust_Mt-16">
              楽天モバイル公式アカウントで3月23日(水)に投稿された<br class="<%= namespace %>-Utility_Br-pc">
              本キャンペーンに関するTweetをリツイート
            </p>
          </div>
        </div>
      </li>

      <li>
        <h3 class="c-Heading_Lv4 u-Adjust_Align-center">
        以上でご応募は完了です！
        </h3>
        <div>
        <p class="u-Adjust_Mt-8 c-Txt_Cap u-Adjust_Align-center">
          ※当選者の方のみにTwitterのダイレクトメッセージにて連絡いたします。
        </p>
      </div>
      </li>
    </ul>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-48 u-Adjust_Align-center" id="campaign-flow2">キャンペーン当選後の流れ</h2>
    <ul class="c-Flow u-Adjust_Align-center u-Adjust_Mt-24">

      <li>
        <h3 class="c-Heading_Lv4 <%= namespace %>-Layout-inner">
        <span class="c-Txt_Emp-02">STEP1</span>楽天モバイルよりDMで当選のご連絡
        </h3>
        <div class="l-Media_Grid">
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/campaign/twitter-ichiba/img_campaign_flow01.png" width="107" alt="">
          </div>
          <div class="u-Adjust_Align-left">
            <p class="u-Adjust_Mt-16 <%= namespace %>-Utility_Br-pc">
              楽天モバイルTwitter公式アカウントから当選されたお客様へ<br>
              ダイレクトメッセージにて当選のご連絡をします。
            </p>
            <p class="u-Adjust_Mt-16 <%= namespace %>-Utility_Br-sp">
              楽天モバイルTwitter公式アカウントから当選されたお客様へダイレクトメッセージにて当選のご連絡をします。
            </p>
            <p class="c-Txt_Cap u-Adjust_Mt-16 u-Adjust_Align-left">※Twitterの設定画面で「すべてのアカウントからのメッセージリクエストを許可する」<br class="<%= namespace %>-Utility_Br-pc">をオンにしていただく必要があります。</p>
          </div>
        </div>
      </li>

      <li>
        <h3 class="c-Heading_Lv4 <%= namespace %>-Layout-inner">
        <span class="c-Txt_Emp-02">STEP2</span>エントリーフォームの送信
        </h3>
        <div class="l-Media_Grid">
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/campaign/twitter-ichiba/img_campaign_flow04.png" width="107" alt="">
          </div>
          <div class="u-Adjust_Align-left">
            <p class="u-Adjust_Mt-16 <%= namespace %>-Utility_Br-pc">
              エントリーフォームをお送りしますので、DMに記載の期限内に<br>
              Twitterのユーザー名を記入してエントリーしてください。
            </p>
            <p class="u-Adjust_Mt-16 <%= namespace %>-Utility_Br-sp">
              エントリーフォームをお送りしますので、DMに記載の期限内にTwitterのユーザー名を記入してエントリーしてください。
            </p>
          </div>
        </div>
      </li>

      <li>
        <p class="<%= namespace %>-Layout-inner c-Txt_Emp-01" style="font-size: 20px;">
          5月末日頃に<span class="c-Txt_Emp-02">5,000ポイント</span>をプレゼント！
        </p>
        <div class="l-Media_Grid">
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/campaign/twitter-ichiba/img_campaign_flow05.png" width="107" alt="">
          </div>
          <div>
            <p class="u-Adjust_Mt-16 c-Txt_Cap u-Adjust_Align-left">
              ※ポイントは付与日を含めて6カ月の期間限定ポイントです
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="Container_bg u-Adjust_Mt-48">
  <div class="l-System_Container">
    <h1 id="rakutenmobile" class="c-Heading_Lv1 u-Adjust_Align-center">楽天モバイル<span class="txt-nl">について</span></h1>
    <p class="<%= namespace %>-Layout_step-txt u-Adjust_Mt-16 c-Txt_Emp-01">詳細は以下の各リンク先にてご確認ください</p>
    <div class="<%= namespace %>-Card u-Adjust_Mt-24">
      <a href="<%= sitepath %>fee/un-limit/?l-id=campaign_twitter-ichiba_fee_un-limit" class="c-Card_Normal">
          <div class="l-Media_Image <%= namespace %>-Flow_List-img">
            <img src="<%= sitepath %>assets/img/campaign/marathon/link_img_01.png?220107" alt="">
          </div>
          <p class="u-Adjust_Mt-16 c-Txt_Emp-01">料金プラン</p>
      </a>
      <a href="<%= sitepath %>fee/zero/?l-id=campaign_twitter-ichiba_fee_zero" class="c-Card_Normal">
          <div class="l-Media_Image <%= namespace %>-Flow_List-img">
            <img src="<%= sitepath %>assets/img/campaign/marathon/link_img_02.png?220107" alt="">
          </div>
          <p class="u-Adjust_Mt-16 c-Txt_Emp-01">お申し込み<span class="txt-nl">手数料</span></p>
      </a>
      <a href="<%= sitepath %>area/?l-id=campaign_twitter-ichiba_area" class="c-Card_Normal">
          <div class="l-Media_Image <%= namespace %>-Flow_List-img">
            <img src="<%= sitepath %>assets/img/campaign/marathon/link_img_03.png?220107" alt="">
          </div>
          <p class="u-Adjust_Mt-16 c-Txt_Emp-01">サービス<span class="txt-nl">エリア</span></p>
      </a>
      <a href="<%= sitepath %>product/byod/?l-id=campaign_twitter-ichiba_product_byod" class="c-Card_Normal">
          <div class="l-Media_Image <%= namespace %>-Flow_List-img">
            <img src="<%= sitepath %>assets/img/campaign/marathon/link_img_04.png?220107" alt="">
          </div>
          <p class="u-Adjust_Mt-16 c-Txt_Emp-01">楽天回線<span class="txt-nl">対応製品</span></p>
      </a>
      <a href="<%= sitepath %>service/?l-id=campaign_twitter-ichiba_service" class="c-Card_Normal">
          <div class="l-Media_Image <%= namespace %>-Flow_List-img">
            <img src="<%= sitepath %>assets/img/campaign/marathon/link_img_05.png?220107" alt="">
          </div>
          <p class="u-Adjust_Mt-16 c-Txt_Emp-01">オプション<span class="txt-nl">サービス</span></p>
      </a>
      <a href="<%= sitepath %>guide/point/?l-id=campaign_twitter-ichiba_guide_point" class="c-Card_Normal">
          <div class="l-Media_Image <%= namespace %>-Flow_List-img">
            <img src="<%= sitepath %>assets/img/campaign/marathon/link_img_06.png?220107" alt="">
          </div>
          <p class="u-Adjust_Mt-16 c-Txt_Emp-01">おトクな<span class="txt-nl">楽天ポイント</span></p>
      </a>
      <a href="<%= sitepath %>service/rakuten-link/?l-id=campaign_twitter-ichiba_service_rakuten-link" class="c-Card_Normal">
          <div class="l-Media_Image <%= namespace %>-Flow_List-img">
            <img src="<%= sitepath %>assets/img/campaign/marathon/link_img_07.png?220107" alt="">
          </div>
          <p class="u-Adjust_Mt-16 c-Txt_Emp-01">Rakuten Link<span class="txt-nl">アプリ</span></p>
      </a>
      <a href="<%= sitepath %>campaign/?l-id=campaign_twitter-ichiba_campaign" class="c-Card_Normal">
          <div class="l-Media_Image <%= namespace %>-Flow_List-img">
            <img src="<%= sitepath %>assets/img/campaign/marathon/link_img_08.png?220107" alt="">
          </div>
          <p class="u-Adjust_Mt-16 c-Txt_Emp-01">キャンペーン<span class="txt-nl">一覧</span></p>
      </a>
      <a href="<%= sitepath %>product/sim/?l-id=campaign_twitter-ichiba_product_sim" class="c-Card_Normal">
          <div class="l-Media_Image <%= namespace %>-Flow_List-img">
            <img src="<%= sitepath %>assets/img/campaign/marathon/link_img_09.png?220107" alt="">
          </div>
          <p class="u-Adjust_Mt-16 c-Txt_Emp-01">SIMの使い方</p>
      </a>
    </div>
  </div>
</div>

<div class="l-System_Container u-Adjust_Mt-64">
  <%- include('/include/_bnr-cpn-recommend-v2.ejs') %>
</div>

<div class="Container_bg u-Adjust_Pt-48 u-Adjust_Pb-48">
  <div class="l-System_Container">

    <h2 class="c-Heading_Lv2" id="campaign-rule">楽天モバイル×楽天市場 新生活応援 Twitterフォロー＆RTキャンペーン</h2>
    <div class="c-Table_Wrap u-Adjust_Mt-24">
      <table class="c-Table_Container <%= namespace %>-Table_Rule">
        <colgroup>
          <col>
          <col>
        </colgroup>
        <tbody>
          <tr>
            <th>キャンペーンコード</th>
            <td>
              <p>1270</p>
              <ul class="c-Txt_Cap u-Adjust_Mt-8">
                <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>キャンペーン期間</th>
            <td>
              <p>2022年3月23日（水）14:00～2022年3月30日（水）13:59</p>
              <div class="u-Adjust_Ml-8">
                <p class="u-Adjust_Mt-8 c-Txt_Cap">- エントリー、プラン申込み、製品購入不要</p>
              </div>
            </td>
          </tr>
          <tr>
            <th>キャンペーン条件</th>
            <td>
              <p class="c-Txt_Emp-02">
                上記各項目の期間内に【1】、【2】、【3】、【4】の条件をすべて満たした楽天会員の方
              </p>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">
                【1】楽天モバイルTwitter公式アカウント（@Rakuten_Mobile）のフォロー
              </p>
              <div class="u-Adjust_Ml-16">
                <p class="u-Adjust_Mt-8">- キャンペーン期間中にフォロー</p>
              </div>

              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">
                【2】楽天市場Twitter公式アカウント（@RakutenJP）のフォロー
              </p>
              <div class="u-Adjust_Ml-16">
                <p class="u-Adjust_Mt-8">- キャンペーン期間中にフォロー</p>
              </div>

              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">
                【3】楽天モバイルTwitter公式アカウント（@Rakuten_Mobile）の該当キャンペーンツイートをリツイート
              </p>
              <div class="u-Adjust_Ml-16">
                <p class="u-Adjust_Mt-8">- キャンペーンの参加は1人1回のみ</p>
              </div>

              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">
                【4】当選連絡後DMからお送りするエントリーフォームに登録
              </p>
              <div class="u-Adjust_Ml-16">
                <ul class="c-Txt_Cap u-Adjust_Mt-8">
                  <li><span>※</span>当選者には@Rakuten_MobileからDMにて当選連絡とエントリーフォームの登録案内を送ります。期限内にエントリー登録が必要です。</li>
                  <li><span>※</span>楽天会員登録をお済みでない方は楽天会員登録が別途必要です。登録は<a href="https://www.rakuten.co.jp/myrakuten/help/">こちら</a>からでも行えます</li>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
            <th>キャンペーン特典 （楽天ポイント）</th>
            <td>
              <p class="c-Txt_Emp-01">
                ■特典内容
              </p>
              <div class="u-Adjust_Ml-16">
              <p class="c-Txt_Emp-01 u-Adjust_Mt-8">30名様に5,000ポイントプレゼント</p>
            </div>
            <p class="c-Txt_Emp-01 u-Adjust_Mt-16">
              ■ポイント付与日
            </p>
            <div class="u-Adjust_Ml-16">
            <p class="c-Txt_Emp-01 u-Adjust_Mt-8">当選連絡の案内からエントリーフォームに登録完了が確認された月の翌々月末日ごろ迄に付与</p>
            <ul class="c-Txt_Cap u-Adjust_Mt-8">
              <li><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</li>
              <li><span>※</span>権利の譲渡はできません</li>
            </ul>
          </div>
          <p class="c-Txt_Emp-01 u-Adjust_Mt-16">
            ■ポイント有効期間
          </p>
          <div class="u-Adjust_Ml-16">
          <p class="c-Txt_Emp-01 u-Adjust_Mt-8">ポイント付与日を含めて6カ月</p>
          <ul class="c-Txt_Cap u-Adjust_Mt-8">
            <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank">期間限定ポイントについて</a></li>
            <li><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
          </ul>
        </div>
            </td>
          </tr>
          <tr>
            <th>特典適用対象外</th>
            <td><p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
              <ul class="c-Txt_Cap u-Adjust_Mt-8">
                <li><span>※</span>お一人様（1つの楽天会員ID）につき1回のみの応募となります。複数応募の場合、当選は無効となります。</li>
                <li><span>※</span>当選者へTwitterのダイレクトメッセージにてご案内するエントリーフォームより、期限(DMに記載)内にエントリーいただけない場合</li>
                <li><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                <li><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                <li><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>注意事項</th>
            <td>
              <ul class="c-Txt_Cap">
                <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                <li><span>※</span>記載の内容は2022年3月23日（水）時点の情報となります</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<footer class="g-Footer">
  <div class="g-Footer_Aside">
    <%- include('/include/footer/related/_related-news.ejs') %>
    <%- include('/include/footer/bnr/_bnr-news.ejs') %>
  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>
  <%- include('/include/_footer') %>
</footer>
</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
