<% const area = { city: "奈良市", id: "nara", cover: "98.6" } -%>
<% const rankInfo = { icon: ["icon-1", "icon-2", "icon-3", "icon-4", "icon-5", "icon-6", "icon-7", "icon-8", "icon-9" ] } -%>
<% const pagetitle = `${area.city}の通信エリアでもデータ高速無制限でつながる！` -%>
<% const description = `${area.city}のサービスエリアマップと楽天モバイルショップ（店舗）情報をご確認いただけます。` -%>
<% const directories = [{path:"area/", label:"通信・エリア"}] -%>
<% const namespace = "area-city" -%>
<% const caption1 = "※データ高速無制限エリアであっても、地下、屋内、大きな商業ビルの屋内等の場所、電波の状況等によって通信速度が変化する場合あり。" %>
<% const caption2 = "※1 2023年6月時点。人口カバー率は、国勢調査に用いられる約500m区画において、50%以上の場所で通信可能なエリアを基に算出" %>
<% const caption3 = "※2023/6/13～2023/9/12の期間に記録されたモバイル測定値によるOpensignalデータを基に当社が作成。<br>©2023 Opensignal Inc." %>
<% const caption4 = "※3 Rankとは、Opensignal社の分析に基づき、主要4キャリアを比較した評価。高評価の順にRank1～4となり、Rankは同率になる可能性があります。" %>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories,
  description,
  noindex: false,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<%- include('/include/area/_city-css') %>
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <%- include('/include/_breadcrumbs', {
      type: 'head',
      pagetitle,
      directories,
    }) %>

    <% const imgPath = "/assets/img/area/city/" -%>
    <% const {pref, id, cover} = area %>
    <% const [intPart, decPart] = cover.split('.').map(Number); %>
    <% const data = [{
        imgSrc: 'voice/sample-img.png',
        text: '通勤途中の駅や電車内でも問題なく繋がりました！',
        link: '…続きを読む'
      },
      {
        imgSrc: 'voice/sample-img.png',
        text: '通勤途中の駅や電車内でも問題なく繋がりました！',
        link: '…続きを読む'
      },
      {
        imgSrc: 'voice/sample-img.png',
        text: '通勤途中の駅や電車内でも問題なく繋がりました！',
        link: '…続きを読む'
      }]; -%>

    <%# city-hero %>
    <section>
      <div class="<%= namespace %>-Hero">
        <div class="<%= namespace %>-Hero_Main">
          <h1 class="<%= namespace %>-Hero_Heading">
            <span class="<%= namespace %>-Hero_Heading-text">
              <span class="<%= namespace %>-Hero_Heading-first">
                <span class="<%= namespace %>-Hero_Heading-region">
                  <span class="<%= namespace %>-Hero_Heading-region-s">奈良県</span>
                  <span class="<%= namespace %>-Hero_Heading-region-l">奈良市</span>
                </span>
                <span class="<%= namespace %>-Hero_Heading-center">でも</span>
              </span>
              <span class="<%= namespace %>-Hero_Heading-last">
                <span class="<%= namespace %>-Hero_Heading-coverage-txt">
                  <span class="<%= namespace %>-Hero_Heading-coverage-txt-1">人口</span>
                  <span class="<%= namespace %>-Hero_Heading-coverage-txt-2">カバー率</span>
                </span>
                <span class="<%= namespace %>-Hero_Heading-coverage-num">
                  <span class="<%= namespace %>-Hero_Heading-coverage-num-l">98</span>.<span class="<%= namespace %>-Hero_Heading-coverage-num-s">6</span><span class="<%= namespace %>-Hero_Heading-coverage-per">%</span><span class="<%= namespace %>-Hero_Heading-sub">※1</span>
                </span>
              </span>
            </span>
            <span class="<%= namespace %>-Hero_Heading-image">
              <img class="<%= namespace %>-Hero_Main-catch" src="<%= imgPath %>kv/catch-pc.png" width="1320" height="188" alt="「最強」のコストパフォーマンスを目指して より速く！よりつながりやすく！ネットワーク改善プロジェクト進行中">
            </span>
          </h1>
          <div class="<%= namespace %>-Hero_Mask <%= namespace %>-Hero_Mask <%= namespace %>-Hero_Mask <%= namespace %>-Hero_Mask-l"></div>
          <div class="<%= namespace %>-Hero_Mask <%= namespace %>-Hero_Mask <%= namespace %>-Hero_Mask <%= namespace %>-Hero_Mask-r"></div>
          <img class="<%= namespace %>-Hero_Img" src="<%= imgPath %>kv/kv.jpg" width="377" height="240" alt="">
        </div>
        <div class="<%= namespace %>-Hero_Sub">
          <img class="<%= namespace %>-Hero_Sub-catch" src="<%= imgPath %>kv/catch-sp.png" width="1320" height="188" alt="「最強」のコストパフォーマンスを目指して より速く！よりつながりやすく！ネットワーク改善プロジェクト進行中">
        </div>
      </div>
      <div class="l-System_Container">
        <div class="u-Adjust_Pt-8">
          <p class="c-Txt_Cap">※1 2023年7月時点。人口カバー率は、国勢調査に用いられる約500m区画において、50%以上の場所で通信可能なエリアを基に算出</p>
        </div>
      </div>
    </section>

    <%# city-nav %>
    <section>
      <div class="l-System_Container">
        <div class="u-Adjust_Pt-24 u-Adjust_Pb-24 u-Adjust_Align-center">
          <a href="#modal1" class="area-city-Nav_Link c-Link_Txt-icon-front js-Modal"><span class="c-Icon_Zoom-in-l"></span>他のエリア情報を見る</a>
          <div id="modal1" style="display:none;">
            <div class="area-city-Nav_Wrap">
              <h3 class="c-Heading_Lv3 u-Adjust_Mb-24">他のエリア情報を見る</h3>
              <div id="city-nav"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%# city-plan %>
    <section class="<%= namespace %>-Layout_Bg-pink u-Adjust_Pb-48" id="">
      <div class="<%= namespace %>-Layout_Arrow u-Adjust_Pt-16 u-Adjust_Pb-16">
        <%# plan top %>
        <div class="l-System_Container u-Adjust_Align-center">
          <img src="<%= imgPath %>plan/Plan-Title-icon.png" alt="Rakuten最強プラン" class="<%= namespace %>-Layout_Icon">
          <span class="<%= namespace %>-Layout_Title">Rakuten最強プラン</span>
        </div>
      </div>
      <div class="<%= namespace %>-Plan_Wrapper l-System_Container u-Adjust_Align-center">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>plan/Plan-saikyo-1-sp.png" width="343" height="758">
          <img src="<%= imgPath %>plan/Plan-saikyo-1-pc.png" loading="lazy" width="1032" height="194" alt="価格が最強">
        </picture>
        <div class="u-Adjust_Mt-24 u-Adjust_Mt-pc-32">
          <span class="<%= namespace %>-Plan_Txt-pink c-Txt_Emp-02">3人家族で利用</span><span class="<%= namespace %>-Plan_Txt-big">しても<br class="u-Show_Oox">他社よりおトク！</span>
        </div>
        <%# plan main img %>
        <div class="u-Adjust_Mt-16">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>plan/Plan-saikyo-2-sp.png" width="500" height="758">
            <img src="<%= imgPath %>plan/Plan-saikyo-2-pc.png" alt="3人家族で利用しても他社よりおトク！" width="856" height="671" loading="lazy">
          </picture>
          <div class="<%= namespace %>-Plan_Arrow u-Adjust_Mt-24">
            <img src="/assets/img/fee/simulation/arrow-pc.png" width="86" height="20" alt="">
          </div>
          <h3 class="<%= namespace %>-Plan_Txt-normal">現在のご利用状況から<br class="u-Show_Oox">他社プランと比較ができます</h3>
        </div>

        <%# 料金シミュレーション bnr %>
        <div class="u-Adjust_Mt-pc-16 u-Adjust_Mt-8">
          <a class="c-Banner_Hover-act" href="<%= sitepath %>fee/simulation/?l-id=area_prefecture_fee_simulation">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-fee-simulation-343-108-230905.png" max-width="500">
              <img src="<%= sitepath %>assets/img/bnr/bnr-fee-simulation-1032-160-230905.png" alt="他社プランと比較もできる！かんたん料金シミュレーション" width="1032" height="160" loading="lazy">
            </picture>
          </a>
        </div>
        <%# プラン詳細 btn %>
        <div class="u-Adjust_Mt-40">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>plan/Plan-saikyo-3-sp.png" width="271" height="34">
            <img src="<%= imgPath %>plan/Plan-saikyo-3-pc.png" alt="" width="339" height="44" loading="lazy">
          </picture>

          <div class="u-Adjust_Mt-16">
            <a href="<%= sitepath %>fee/saikyo-plan/detail/?l-id=area_prefecture_fee_saikyo-plan_detail" class="c-Btn_Regular-large">料金プランの詳細を見る</a>
          </div>
        </div>
        <div class="<%= namespace %>-Plan_Txt-info c-Txt_Cap u-Adjust_Mt-32">
          <p>※「価格が最強」とは4キャリアの大容量プランで比較した場合。2023年7月時点</p>
          <p>※1 シミュレーション結果（データ量）を月額料金（1カ月：30日）で比較した料金プラン。実際のご利用状況により異なる場合あり。記載された情報は2023年7月3日時点の情報 ※通話料等別 </p>
          <p>※2 一部対象外番号あり。アプリ未使用時30秒22円 <span class="c-Txt_Emp-02">※その他、各種キャンペーンによって、割引が適用される場合あり</span></p>
          <p>※そのは条件の詳細は<a href="#cautions" class="c-Link_Txt js-scroll">こちら</a></p>
        </div>
      </div>
    </section>

    <%# city-map %>
    <section class="<%= namespace %>-Layout_Bg-pink u-Adjust_Pb-40" id="js-trigger">
      <% if (typeof rankInfo !== 'undefined') { %>
        <%
          const {icon} = rankInfo;
          const iconLabel = [
            'ビデオ体験',
            'ライブストリーミング',
            'オンラインゲーム',
            '音声アプリ・通話',
            'ダウンロードスピード',
            'アップロードスピード',
            '一貫した品質',
            '利用率',
            '到達率',
          ];
          const createAlt = iconName => {
            const n = Number(iconName.split('-')[1]);
            return iconLabel[n-1];
          };
          const itemCnt = icon.length;
        %>
      <div class="<%= namespace %>-Layout_Arrow u-Adjust_Pt-16 u-Adjust_Pb-16">
        <%# map top %>
        <div class="u-Adjust_Align-center">
          <img src="<%= imgPath %>/map/Map-title-icon.png" alt="エリア拡大状況" class="<%= namespace %>-Layout_Icon">
          <span class="<%= namespace %>-Layout_Title">エリア拡大状況</span>
        </div>
      </div>
      <h2 class="<%= namespace %>-Map_Heading">つながるエリアぞくぞく。<br class="u-Show_Oxx">あなたの住む街でも快適に！</h2>
      <div class="<%= namespace %>-Map l-System_Container">
      <!-- left -->
      <div class="<%= namespace %>-Map_Box">
        <div class="<%= namespace %>-Map_Data-title">
          <p class="<%= namespace %>-Layout_Bg-primary <%= namespace %>-Map_Label"><%= area.city %></p>
        </div>
        <h3 class="<%= namespace %>-Map_Title">人口カバー率<span class="<%= namespace %>-Map_Title-l"><%= intPart %></span>.<%= decPart %>%<span class="<%= namespace %>-Map_Title-l-pc">!</span><span class="<%= namespace %>-Map_Title-cap">※1</span></h3>
        <div class="u-Adjust_Align-center">
          <img src="/assets/img/area/pref/map/nara_map.png" width="856" height="473" alt="<%= pref %>のサービスエリアと楽天モバイルショップ情報">
          <!-- <img src="<%= imgPath %>map/<%= id %>_map.png" width="856" height="473" alt="<%= pref %>のサービスエリアと楽天モバイルショップ情報"> -->
        </div>
        <div class="<%= namespace %>-Map_Guide-txt">
          <p class="<%= namespace %>-Map_Guide-resident">データ高速無制限エリア</p>
          <p class="<%= namespace %>-Map_Guide-non-resident">非居住地エリア</p>
        </div>
        <div class="u-Adjust_Mt-16">
          <p class="u-Adjust_Mt-8 c-Txt_Cap"><%- caption1 %></p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap"><%- caption2 %></p>
        </div>
        <div class="c-Infobox_Standing-info <%= namespace %>-Layout-Info-box u-Adjust_Mt-32">
          <p class="<%= namespace %>-Layout_Info-txt c-Txt_Emp-02">快適な通信環境ご提供のため、「Rakuten最強プラン」プロジェクトが進行中！</p>
          <div class="<%= namespace %>-Map_Item">
            <span class="<%= namespace %>-Map_Item-icon c-Icon_Campaign-l"></span>
            <span class="<%= namespace %>-Map_Item-date u-Adjust_Ml-8">2023年9月26日更新</span>
          </div>
          <div class="<%= namespace %>-Map_Item-link">
            <a href="<%= sitepath %>area/?l-id=area_prefecture_notice_area" class="c-Link_Txt-inline">
              つながりやすさを改善！<br class="u-Show_Oxx">新たな基地局設置情報はこちら<span class="c-Icon_Chevron-right"></span>
            </a>
          </div>
        </div>
      </div>

      <!-- right -->
      <div class="<%= namespace %>-Map_Box u-Adjust_Mt-24 u-Adjust_Mt-pc-0">
        <div class="<%= namespace %>-Map_Data-title">
          <p class="<%= namespace %>-Layout_Bg-primary <%= namespace %>-Map_Label"><%= area.city %>では</p>
        </div>
        <div class="<%= namespace %>-Map_Contents-2col">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>map/Map-rank-1-sp.png" width="100%">
            <img src="<%= imgPath %>map/Map-rank-1-pc.png" width="460" height="50" alt="<%= pref %> 通信品質の評価でRank1※3獲得!">
          </picture>
          <p class="<%= namespace %>-Map_RankTitle">※9項目中<%= itemCnt %>項</p>

          <div class="<%= namespace %>-Layout_Sub-label u-Adjust_Mt-8">
            <p class="<%= namespace %>-Layout_Sub-label-title">利用シーン別の体感品質</p>
          </div>
          <ul class="<%= namespace %>-Map_IconList-3col">
            <% icon.forEach(iconName => { %>
              <% if (["icon-1", "icon-2", "icon-3", "icon-4", "icon-5", "icon-6"].includes(iconName)) { %>
                <li>
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>map/icon/Map-ken-<%= iconName %>.png" width="100%">
                    <img src="<%= imgPath %>map/icon/Map-ken-<%= iconName %>.png" width="146" height="102" alt="<%= createAlt(iconName) %>">
                  </picture>
                </li>
              <% } %>
            <% }); %>
          </ul>

          <div class="<%= namespace %>-Layout_Sub-label  u-Adjust_Mt-16">
            <p class="<%= namespace %>-Layout_Sub-label-title">ネットワーク体感品質</p>
          </div>
          <div class="u-Adjust_Mt-8">
            <ul class="<%= namespace %>-Map_IconList-3col">
              <% icon.forEach(iconName => { %>
                <% if (["icon-7", "icon-8", "icon-9"].includes(iconName)) { %>
                  <li>
                    <picture>
                      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>map/icon/Map-<%= iconName %>.png" width="100%">
                      <img src="<%= imgPath %>map/icon/Map-<%= iconName %>.png" width="146" height="102" alt="<%= createAlt(iconName) %>">
                    </picture>
                  </li>
                <% } %>
              <% }); %>
            </ul>
          </div>
          <div class="u-Adjust_Align-center u-Adjust_Mt-16">
            <img src="<%= imgPath %>map/Map-logo-opensignal.png" width="170" height="32" alt="OPENSIGNAL">
          </div>
          <p class="u-Adjust_Mt-8 c-Txt_Cap"><%- caption3 %></p>
          <p class="<%= namespace %>-Map_Txt-m u-Adjust_Mt-8"><%- caption4 %></p>
        </div>
          <!-- modal -->
          <div class="<%= namespace %>-Map_Modal u-Adjust_Mt-8">
            <a href="#modal2"class="c-Link_Txt-icon-front js-Modal"><span class="c-Icon_Zoom-in-l"></span>評価指標の説明を見る</a>
            <div id="modal2" style="display:none;">
              <h3>評価指標の説明</h3>
              <p class="<%= namespace %>-Map_Modal-txt u-Adjust_Mt-16">Opensignalの品質評価指標は以下のように定義されています。</p>
              <div class="<%= namespace %>-Layout_Sub-label  u-Adjust_Mt-32">
                <p class="<%= namespace %>-Layout_Sub-label-title">利用シーン別の体感品質</p>
              </div>
              <div class="_sample u-Adjust_Mt-16">
                <dl class="c-Dl_Origin">
                    <div>
                      <dt>ビデオ視聴</dt>
                      <dd>テキストテキストテキスト</dd>
                    </div>
                    <div>
                      <dt>ライブストリーミング</dt>
                      <dd>テキストテキストテキスト</dd>
                    </div>
                    <div>
                      <dt>オンラインゲーム</dt>
                      <dd>テキストテキストテキスト</dd>
                    </div>
                    <div>
                      <dt>音声アプリ・通話</dt>
                      <dd>テキストテキストテキスト</dd>
                    </div>
                    <div>
                      <dt>ダウンロードスピード</dt>
                      <dd>テキストテキストテキスト</dd>
                  </div>
                  <div>
                    <dt>アップロードスピード</dt>
                    <dd>テキストテキストテキスト</dd>
                  </div>
                </dl>
              </div>
              <div class="<%= namespace %>-Layout_Sub-label  u-Adjust_Mt-40">
                <p class="<%= namespace %>-Layout_Sub-label-title">ネットワーク体感品質</p>
              </div>
              <div class="_sample u-Adjust_Mt-16">
                <dl class="c-Dl_Origin">
                  <div>
                    <dt>一貫した品質</dt>
                    <dd>テキストテキストテキスト</dd>
                  </div>
                  <div>
                    <dt>利用率</dt>
                    <dd>テキストテキストテキスト</dd>
                  </div>
                  <div>
                    <dt>到達率</dt>
                    <dd>テキストテキストテキスト</dd>
                  </div>
                </dl>
                <p class="c-Txt_Cap u-Adjust_Mt-24">
                  ※さらに詳細な説明は<a href="https://www.opensignal.com/" target="_blank" class="c-Link_Txt-inline-icon" rel="noopener noreferrer">Opensignal社のWebサイト<span class="c-Icon_New-window-l"></span></a>をご参照ください。
                </p>
              </div>
            </div>
          </div>
      </div> <!-- right done -->

      <!-- iconが undefinedの場合 -->
      <% } else { %>
        <div class="<%= namespace %>-Map_None-icon l-System_Container">
          <div class="<%= namespace %>-Map_Box">
            <div class="<%= namespace %>-Map_Data-title">
              <p class="<%= namespace %>-Layout_Bg-primary <%= namespace %>-Map_Label c-Link_Txt-white"><%= area.city %>県</p>
            </div>
            <h3 class="<%= namespace %>-Map_Title">人口カバー率<span class="<%= namespace %>-Map_Title-l"><%= intPart %></span>.<%= decPart %>%<span class="<%= namespace %>-Map_Title-l-pc">!</span><span class="<%= namespace %>-Map_Title-cap">※1</span></h3>
            <div class="u-Adjust_Align-center">
              <img src="/assets/img/area/pref/map/nara_map.png" width="856" height="473" alt="<%= pref %>のサービスエリアと楽天モバイルショップ情報">
              <!-- <img src="<%= imgPath %>map/<%= id %>_map.png" width="856" height="473" alt="<%= pref %>のサービスエリアと楽天モバイルショップ情報"> -->
            </div>
            <div class="<%= namespace %>-Map_Guide-txt">
              <p class="<%= namespace %>-Map_Guide-resident">データ高速無制限エリア</p>
              <p class="<%= namespace %>-Map_Guide-non-resident">非居住地エリア</p>
            </div>
            <div class="u-Adjust_Mt-16">
              <p class="u-Adjust_Mt-8 c-Txt_Cap"><%- caption1 %></p>
              <p class="u-Adjust_Mt-8 c-Txt_Cap"><%- caption2 %></p>
            </div>
            <div class="c-Infobox_Standing-info <%= namespace %>-Layout-Info-box u-Adjust_Mt-32">
              <p class="<%= namespace %>-Layout_Info-txt c-Txt_Emp-02">快適な通信環境ご提供のため、「Rakuten最強プラン」プロジェクトが進行中！</p>
              <div class="<%= namespace %>-Map_Item">
                <span class="<%= namespace %>-Map_Item-icon c-Icon_Campaign-l"></span>
                <span class="<%= namespace %>-Map_Item-date u-Adjust_Ml-8">2023年9月26日更新</span>
              </div>
              <div class="<%= namespace %>-Map_Item-link">
                <a href="<%= sitepath %>area/?l-id=area_prefecture_notice_area" class="c-Link_Txt-inline">
                  つながりやすさを改善！<br class="u-Show_Oxx">新たな基地局設置情報はこちら<span class="c-Icon_Chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      <% } %>
      </div>
    </section>

    <%# city-report %>
    <section class="<%= namespace %>-Layout_Bg-pink u-Adjust_Pb-48 u-Adjust_Pb-pc-64">
      <div class="l-System_Container">
        <div class="u-Adjust_Align-center">
          <a class="c-Banner_Hover-act" href="<%= sitepath %>area/connectivity-fitting/" target="_blank">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>report/bnr-connectivity-fitting-328-185.png" width="656" height="370">
              <img src="<%= imgPath %>report/bnr-connectivity-fitting-1032-160.png" alt="1分でわかる 楽天モバイル my エリア 通信シミュレーション" width="1032" height="160" loading="lazy">
            </picture>
          </a>
        </div>
      </div>
    </section>

    <%# city-shop %>
    <section class="<%= namespace %>-Layout_Bg-pink u-Adjust_Pb-48 u-Adjust_Pb-pc-64">
      <div class="<%= namespace %>-Layout_Arrow u-Adjust_Pt-16 u-Adjust_Pb-16">
        <h2 class="l-System_Container u-Adjust_Align-center">
          <img src="<%= imgPath %>shop/Shop-title-icon.png" alt="ショップ情報" class="<%= namespace %>-Layout_Icon">
          <span class="<%= namespace %>-Layout_Title">ショップ情報</span>
        </h2>
      </div>
      <div class="l-System_Container">
        <h3 class="<%= namespace %>-Shop_Heading u-Adjust_Align-center u-Adjust_Mt-24 u-Adjust_Mt-pc-40">お申し込み・ご購入後も<br class="u-Show_Sp">安心のサポートサービスをご用意</h3>
        <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-center">※家電量販店では一部対応を行っておりません</p>
        <ul class="<%= namespace %>-Shop_Appeal-list u-Adjust_Pt-16">
          <li>
            <img src="<%= imgPath %>shop/icon-clock.svg" alt="電話番号そのままで即日使えます" width="64" height="64">
            <div>電話番号<br>そのままで<br><span>即日使えます</span></div>
          </li>
          <li>
            <img src="<%= imgPath %>shop/icon-setting.svg" alt="お申し込みから初期設定まで丁寧にサポートします" width="64" height="64">
            <div>お申し込みから<br>初期設定まで<br><span>サポートします</span></div>
          </li>
          <li>
            <img src="<%= imgPath %>shop/icon-try-phone.svg" alt="気になる最新スマホをお試しできます" width="64" height="64">
            <div>気になる<br>最新スマホを<br><span>お試しできます</span></div>
          </li>
        </ul>
        <div id="shoplist" data-pref="奈良県" data-city=""></div>
        <div class="u-Adjust_Align-center u-Adjust_Mt-24 u-Adjust_Mt-pc-40">
          <h4 class="c-Heading_Lv4">ご来店の前に</h4>
          <p class="u-Adjust_Mt-16 u-Adjust_Mb-8 u-Align_Lcc">当日ご持参いただくものを、必ずご確認ください</p>
          <a href="<%= sitepath %>shop/guide/" class="c-Link_Txt-inline">ご来店時に必要なものを確認する<span class="c-Icon_Chevron-right"></span></a>
        </div>
      </div>
    </section>

    <%# city-user voice %>
    <section class="<%= namespace %>-Layout_Bg-pink <%= namespace %>-Voice u-Adjust_Pb-48 u-Adjust_Pb-pc-64 u-Adjust_Align-center" id="">
      <div class="<%= namespace %>-Layout_Arrow u-Adjust_Pt-16 u-Adjust_Pb-16">
        <%# plan top %>
        <div class="l-System_Container">
          <img src="<%= imgPath %>voice/Voice-title-icon.png" alt="お客様の声" class="<%= namespace %>-Layout_Icon">
          <span class="<%= namespace %>-Layout_Title">お客様の声</span>
        </div>
      </div>
      <div class="u-Adjust_Mt-40">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>voice/Voice-title-comment-sp.png" width="260" height="54">
          <img src="<%= imgPath %>voice/Voice-title-comment-pc.png" loading="lazy" width="406" height="63" alt="価格が最強">
        </picture>
        <div class="<%= namespace %>-Voice_wrapper l-System_Container">
          <div class="<%= namespace %>-Voice_list">
            <% data.forEach(function(item) { %>
              <ul class="<%= namespace %>-Voice_list-content">
                <li>
                  <img src="<%= imgPath + item.imgSrc %>" width="68" height="68">
                </li>
                <li>
                  <%= item.text %> <br>
                  <a href="#"><%= item.link %></a>
                </li>
              </ul>
            <% }); %>
          </div>
        </div>
      </div>
    </section>

    <%# city-case %>
    <section class="<%= namespace %>-Case u-Adjust_Pt-40 u-Adjust_Pb-48 u-Adjust_Pb-pc-64">
      <div class="l-System_Container">
        <h2 class="<%= namespace %>-Case_Heading u-Adjust_Align-center">全国の企業様 導入事例</h2>
        <div class="<%= namespace %>-Case_List l-Media_Grid-half u-Adjust_Mt-24 u-Adjust_Mt-pc-32">
          <div>
            <a href="#" target="_blank" class="<%= namespace %>-Case_Card c-Card_Normal">
              <div class="<%= namespace %>-Case_Card-image">
                <img src="<%= imgPath %>case/case-img01.jpg" width="162" height="122" alt="">
              </div>
              <div class="<%= namespace %>-Case_Card-content">
                <h3 class="<%= namespace %>-Case_Card-heading">MIC株式会社</h3>
                <p class="<%= namespace %>-Case_Card-text">スムーズな切り替えでコストの低額化・定額化に成功</p>
              </div>
            </a>
          </div>
          <div>
            <a href="#" target="_blank" class="<%= namespace %>-Case_Card c-Card_Normal">
              <div class="<%= namespace %>-Case_Card-image">
                <img src="<%= imgPath %>case/case-img02.jpg" width="162" height="122" alt="">
              </div>
              <div class="<%= namespace %>-Case_Card-content">
                <h3 class="<%= namespace %>-Case_Card-heading">株式会社ラキール</h3>
                <p class="<%= namespace %>-Case_Card-text">スムーズな切り替えでコストの低額化・定額化に成功</p>
              </div>
            </a>
          </div>
        </div>
        <div class="<%= namespace %>-Case_List l-Media_Grid-half u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
          <div>
            <a href="#" target="_blank" class="<%= namespace %>-Case_Card c-Card_Normal">
              <div class="<%= namespace %>-Case_Card-image">
                <img src="<%= imgPath %>case/case-img03.jpg" width="162" height="122" alt="">
              </div>
              <div class="<%= namespace %>-Case_Card-content">
                <h3 class="<%= namespace %>-Case_Card-heading">学校法人 持田学園 有馬白百合幼稚園</h3>
                <p class="<%= namespace %>-Case_Card-text">スムーズな切り替えでコストの低額化・定額化に成功</p>
              </div>
            </a>
          </div>
          <div>
            <a href="#" target="_blank" class="<%= namespace %>-Case_Card c-Card_Normal">
              <div class="<%= namespace %>-Case_Card-image">
                <img src="<%= imgPath %>case/case-img03.jpg" width="162" height="122" alt="">
              </div>
              <div class="<%= namespace %>-Case_Card-content">
                <h3 class="<%= namespace %>-Case_Card-heading">学校法人 持田学園 有馬白百合幼稚園</h3>
                <p class="<%= namespace %>-Case_Card-text">スムーズな切り替えでコストの低額化・定額化に成功</p>
              </div>
            </a>
          </div>
        </div>
        <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
          <a class="c-Banner_Hover-act" href="https://business.mobile.rakuten.co.jp/" target="_blank">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= imgPath %>case/bnr-business-328-185.png" max-width="440">
              <img src="<%= imgPath %>case/bnr-business-1032-160.png" alt="" width="1032" height="160" loading="lazy">
            </picture>
          </a>
        </div>
      </div>
    </section>

    <div class="l-System_Container u-Adjust_Mt-64">
      <%- include('/include/_bnr-cpn-recommend-v2.ejs') %>
    </div>

    <section class="u-Adjust_Mt-56">
      <div class="l-System_Container">
        <div class="<%= namespace %>-Inquiry_Wrap">
          <h2 class="c-Heading_Lv2 u-Adjust_Align-center" data-ratid="area-prefecture_scroll-08_inquiry" data-ratevent="appear" data-ratparam="all"><%= area.city %>のサービスエリアに関するお問い合わせ・ご要望</h2>
          <p class="u-Adjust_Mt-16 u-Adjust_Align-center">楽天モバイルご利用者様にご満足いただけるよう、電波に関する改善を行っております。</p>
          <div class="<%= namespace %>-Inquiry u-Adjust_Mt-32">
            <div>
              <p>つながらない、速度が遅いと感じられる場合はこちら</p>
              <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
                <a href="https://grp03.id.rakuten.co.jp/rms/nid/login?service_id=rm005&client_id=rmn_app_web&redirect_uri=https%3A%2F%2Fnetwork.mobile.rakuten.co.jp%2Finquiry%2Feasy%2Fpitari.html&err_redirect_uri=https%3A%2F%2Fnetwork.mobile.rakuten.co.jp%2F&scope=memberinfo_read_safebulk%2Cmemberinfo_read_point%2Cmemberinfo_get_card_token%2C30days%40Access%2C90days%40Refresh&contact_info_required=false&rae_service_id=rm005"
                  class="c-Btn_Regular <%= namespace %>-Inquiry_Btn"
                  data-ratid="area_prefecture_inquiry_easy"
                  data-ratevent="click"
                  data-ratparam="all"
                ><span>かんたん電波状況報告</span></a>
              </div>
            </div>
            <div>
              <p>詳細調査および結果回答ご希望の場合はこちら</p>
              <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
                <a href="<%= sitepath %>inquiry/input.html?l-id=area_prefecture_inquiry_input" class="c-Btn_Regular <%= namespace %>-Inquiry_Btn"><span>電波改善・調査依頼</span></a>
              </div>
            </div>
            <div>
              <img src="<%= imgPath %>gb-image-1.png" width="270" height="142" alt="">
            </div>
          </div>
          <p class="u-Adjust_Mt-16">楽天モバイル法人プランをご契約中のお客様は、「<a href="https://business-portal.mobile.rakuten.co.jp/" class="c-Link_Txt">my 楽天モバイル Office</a>」のお問い合わせフォームよりご依頼ください。</p>
          <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>support/link/manual/?l-id=area_prefecture_support_link_manual" class="c-Link_Txt-inline">Rakuten Linkに関するサポートを確認する<span class="c-Icon_Chevron-right"></span></a></p>
          <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>support/?l-id=area_prefecture_support" class="c-Link_Txt-inline">初期設定やその他のお問い合わせ<span class="c-Icon_Chevron-right"></span></a></p>
        </div>
      </div>
    </section>

    <section class="u-Adjust_My-56">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv3" id="cautions">■注意事項</h2>
        <p class="c-Txt_Normal u-Adjust_Mt-24">■他社プラン比較条件について</p>
        <p class="c-Txt_Normal-s u-Color_Light-black">
          <span class="u-Weight_Bold u-Color_Primary">※その他、各種キャンペーンによって、割引が適用される場合があります。</span><br>
          ※製品代、契約事務手数料、データチャージを含むオプション料、通話料等は別費用。
        </p>
        <p class="c-Txt_Normal-s u-Color_Light-black u-Adjust_Mt-24">
          【ドコモについて】<br>
          ※「5Gギガホ プレミア」は、加入の場合の金額。<br>
          ※「5Gギガホ プレミア」の家族割は「みんなドコモ割」が適用される。3回線以上適用で1,100円／月（税込）の割引。
        </p>
      </div>
    </section>

    <section class="u-Adjust_Mt-56">
      <div class="<%= namespace %>-Share">
        <p class="<%= namespace %>-Share_Heading">このページをシェアする</p>
        <ul class="<%= namespace %>-Share_List">
          <li>
            <a href="https://twitter.com/share?url=<%= sitedomain %>/<%= filepath %>" target="_blank"><img src="<%= imgPath %>icon-share-x.png" width="45" height="45" alt="X"></a>
          </li>
          <li>
            <a href="https://www.facebook.com/share.php?u=<%= sitedomain %>/<%= filepath %>" target="_blank"><img src="<%= imgPath %>icon-share-facebook.png" width="45" height="45" alt="Facebook"></a>
          </li>
          <li>
            <a href="https://social-plugins.line.me/lineit/share?url=<%= sitedomain %>/<%= filepath %>" target="_blank"><img src="<%= imgPath %>icon-share-line.png" width="45" height="45" alt="Line"></a>
          </li>
          <li>
            <a href="viber://forward?text=<%= sitedomain %>/<%= filepath %>"><img src="<%= imgPath %>icon-share-viber.png" width="45" height="45" alt="Viber"></a>
          </li>
        </ul>
      </div>
    </section>

    <div class="<%= namespace %>-Layout_Bottom-fixed" id="js-fixed-btn" aria-expanded="false">
      <div class="<%= namespace %>-Layout_Bottom-fixed-inner">
        <div class="<%= namespace %>-Layout_Bottom-fixed-btn <%= namespace %>-Utility_Show-pc-flex">
          <a href="<%= sitepath %>guide/application/?lid-r=area_prefecture_modal_guide_application" class="c-Btn_Primary-large">
            <div class="<%= namespace %>-Layout_Bottom-fixed-btn-inner-box"><span><span>今すぐお申し込み！</span><br>新規／乗り換え（MNP）</span></div>
          </a>
        </div>
        <div class="<%= namespace %>-Layout_Bottom-fixed-btn <%= namespace %>-Utility_Show-pc-flex js-btn-ms" aria-hidden="false">
          <a href="<%= sitepath %>shop/?l-id=area_prefecture_shop_03" class="c-Btn_Secondly-large">
            <div class="<%= namespace %>-Layout_Bottom-fixed-btn-inner-box"><span>お近くのショップを探す・来店予約</span></div>
          </a>
        </div>
        <div class="<%= namespace %>-Layout_Bottom-fixed-btn-sp">
          <a href="<%= sitepath %>guide/application/?lid-r=area_prefecture_modal_guide_application" class="c-Btn_Primary-large <%= namespace %>-Layout_Bottom-fixed-btn-sp-link">新規／乗り換え(MNP)</a>
        </div>
        <div class="<%= namespace %>-Layout_Bottom-fixed-btn-sp">
          <a href="<%= sitepath %>shop/?l-id=area_prefecture_shop_03" class="c-Btn_Secondly-large <%= namespace %>-Layout_Bottom-fixed-btn-sp-link">お近くのショップを探す</a>
        </div>
      </div>
    </div>

    <footer class="g-Footer <%= namespace %>-Layout_Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-area-v2.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <%- include('/include/_breadcrumbs', {
          type: 'foot',
          pagetitle,
          directories,
        }) %>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/area.city.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
</body>
</html>
