<% const pagetitle = "キャンペーン" -%>
<% const namespace = "turbo-campaign" %>
<% const imgDir = `${sitepath}assets/img/internet/turbo/campaign/` %>
<%-
 include('/_header', {
    pagetitle,
    description: 'Rakuten Turbo(ラクテンターボ)限定のキャンペーン情報一覧。割引価格や楽天ポイントプレゼントなどお得な特典情報をご案内します。',
    noindex: false,
    pathname: filepath,
    isTurbo: true,
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/internet/turbo/campaign/top/campaign-top.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/internet/turbo/_prepend-body-internet') %>
  <div class="l-System">
    <%- include('/include/internet/turbo/_header', {
      pagetitle,
    }) %>

    <section class="<%= namespace %>-Hero">
      <div class="l-System_Container">
        <h1 class="c-Heading_Lv1 u-Adjust_Mt-8">キャンペーン</h1>

        <p class="u-Adjust_Mt-16">
          Rakuten Turbo（ラクテンターボ）限定のキャンペーン情報一覧。割引価格や楽天ポイントプレゼントなどおトクな特典情報をご案内します。
        </p>
      </div>
    </section>

    <section class="<%= namespace %>-Detail c-Theme-Light">
      <div class="l-System_Container">
        <ul class="<%= namespace %>-Layout_List">
          <li>
            <a class="c-Card_Normal" href="<%= sitepath %>internet/turbo/campaign/six-month-free/?l-id=rmt_internet_turbo_campaign_internet_turbo_campaign_six-month-free_01" data-ratid="rmt_internet_turbo_campaign_internet_turbo_campaign_six-month-free_01" data-ratevent="click" data-ratparam="all">
              <figure><img src="<%= sitepath %>assets/img/internet/turbo/bnr/bnr-turbo_campaign_6mf-2-328-185.png" alt="Rakuten Turbo 工事不要！！すぐに使える おうちのWi-Fi プラン料金6カ月0円 さらにスマホとセットで使うと20,000ポイント還元 ※製品代金 別途41,580円 ※プラン料金7カ月目以降4,840円 ※その他条件あり"></figure>
              <h2 class="campaign-Card_Name">【Rakuten Turbo】プラン料金6カ月0円 & 20,000ポイント還元キャンペーン</h2>
              <p class="campaign-Card_Detail">工事不要！すぐに使える おうちのWi-Fi Rakuten Turboのプラン料金が6カ月0円！さらにスマホとセットで20,000ポイント還元。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-16">※製品代金 別途41,580円。7カ月目以降4,840円／月※Rakuten最強プランの利用が必要 ※その他条件あり</p>
            </a>
          </li>
          <li>
            <a class="c-Card_Normal" href="<%= sitepath %>internet/turbo/campaign/ichiba-1yen/">
              <figure><img src="<%= sitepath %>assets/img/internet/turbo/bnr/banner-328-185-ichiba.png" alt="【要エントリー】Rakuten Turboお申し込み&楽天市場の対象ジャンルを1円以上お買い物で20,000ポイント還元"></figure>
              <h2 class="campaign-Card_Name">楽天市場で対象ジャンル商品お買い物&amp;お申し込みで20,000ポイント還元</h2>
              <p class="campaign-Card_Detail">楽天市場でのお買い物がおトクに！対象ジャンル商品1円以上のお買い物&お申し込みで20,000ポイントキャンペーン開催中！</p>
              <p class="c-Txt_Cap u-Adjust_Mt-16">※お申し込み月と同月に購入した商品がポイント還元対象です。ポイント還元には条件があります</p>
            </a>
          </li>
          <li>
            <a class="c-Card_Normal" href="<%= sitepath %>internet/turbo/campaign/spu/">
              <figure><img src="<%= sitepath %>assets/img/internet/turbo/bnr/banner-328-185-spu-231201.png" alt="Rakuten Turboご契約中、楽天市場のお買い物がポイント毎日全員＋2倍 スマホとセットで使えばポイント毎日全員7倍※1 "></figure>
              <h2 class="campaign-Card_Name">Rakuten Turboご契約中はSPUポイント毎日全員＋2倍</h2>
              <p class="campaign-Card_Detail">ご契約中は楽天市場のお買い物がポイントアップ！楽天ポイントがおトクに貯まります。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-16">※ 獲得上限ポイントあり。期間限定ポイント<br>
                ※1 楽天会員1倍、Rakuten Turboまたは楽天ひかりご利用で＋2倍 。Rakuten最強プランご利用でポイント＋4倍。その他条件あり</p>
            </a>
          </li>
          <li>
            <a class="c-Card_Normal" href="<%= sitepath %>hikari/campaign/six-month-free/?l-id=rmt_internet_turbo_campaign_hikari_campaign_six-month-free_01" data-ratid="rmt_internet_turbo_campaign_hikari_campaign_six-month-free_01" data-ratevent="click" data-ratparam="all">
              <figure><img src="<%= sitepath %>assets/img/bnr/bnr-hikari_campaign_six-month-free-328-185-240122-2.png" alt="Rakuten光 楽天モバイルとセットで使うと！6ヶ月0円 ※ 契約解除料、その他条件あり"></figure>
              <h2 class="campaign-Card_Name">楽天ひかり月額基本料6カ月0円キャンペーン</h2>
              <p class="campaign-Card_Detail">楽天ひかり初めてお申し込み&楽天モバイル「Rakuten最強プラン」とセットのご利用で、高速＆安定の光回線「楽天ひかり」の月額基本料が6カ月0円！最大28,800円もおトクに！</p>
              <p class="c-Txt_Cap u-Adjust_Mt-16">※契約解除料、その他条件あり</p>
            </a>
          </li>
        </ul>
      </div>
    </section>

    <div>
      <div class="l-System_Container">
        <div class="u-Adjust_Align-center u-Adjust_Mt-40">
          <a href="<%= sitepath %>internet/turbo/campaign/archive/" class="c-Btn_Regular-large"><span>過去のキャンペーン一覧</span></a>
        </div>
      </div>
    </div>

    <!-- <%- include('/include/internet/turbo/_fixed-button') %> -->

    <div class="u-Adjust_Mt-64">
      <%- include('/include/internet/turbo/_more-nav', {
        hiddenBnr: true,
      }) %>
    </div>

    <div class="u-Adjust_Mt-24">
      <!-- ReX UX Survey: Mounting point for embedded components -->
      <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
      <%- include('/include/internet/turbo/_footer', {
        pagetitle,
      }) %>
    </div>
  </div>

  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
  <%- include('/include/internet/turbo/_rex-survey') %>
</body>
</html>
