<% const pagetitle = "Face IDの設定方法" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/iphone/initial-setting/", label:"初期設定（iPhone・Apple Watch）"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Face IDの設定方法をご案内します。Face IDを設定すると、iPhoneを一目見るだけで、安全かつ簡単にiPhoneのロック解除や、iPhoneでの購入を承認できます。',
    noindex: false,
    pathname: filepath
  });
%>
<% const nameSpace = "support" -%>

<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/support/support.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1">Face IDの設定方法</h1>

    <p class="u-Adjust_Mt-32">Face IDを設定すると、iPhoneを一目見るだけで、安全かつ簡単にiPhoneのロック解除や、iPhoneでの購入を承認できます。<br>
      <span class="c-Txt_Emp-02">Face IDを使うには、iPhoneのパスコードをあらかじめ設定しておく必要があります。</span></p>

    <p class="u-Adjust_Mt-16 c-Txt_Cap">※iOSのバージョンにより画面が異なる場合がございます。</p>

    <ol class="<%= nameSpace %>-Flow_List u-Adjust_Mt-32">
      <li>
        <h2 class="c-Heading_Lv3">1. Face IDの作成画面を開く</h2>

        <p class="u-Adjust_Mt-16">設定をタップし、「Face IDとパスコード」をタップしてください。</p>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/iphone/faceid/img-01.png?210430" class="c-Img_Capture" alt="">
          </div>
        </div>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/iphone/faceid/img-02.png?210430" class="c-Img_Capture" alt="">
          </div>
        </div>
      </li>
      <li>
        <h2 class="c-Heading_Lv3">2. パスコードを入力する</h2>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/iphone/faceid/img-03.png?210430" class="c-Img_Capture" alt="">
          </div>
        </div>

      </li>
      <li>
        <h2 class="c-Heading_Lv3">3. 「Face IDをセットアップ」をタップ</h2>

        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/iphone/faceid/img-04.png?210430" class="c-Img_Capture" alt="">
          </div>

        </div>
      </li>
      <li>
        <h2 class="c-Heading_Lv3">4. 顔のスキャンをする（1回目）</h2>

        <p class="u-Adjust_Mt-16">「開始」をタップし、案内にしたがって顔のスキャンを行ってください。<br>
          1回目のスキャン完了後「続ける」をタップしてください。</p>

        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/iphone/faceid/img-05.png?210430" class="c-Img_Capture" alt="">
          </div>
        </div>

        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/iphone/faceid/img-06.png?210430" class="c-Img_Capture" alt="">
          </div>
        </div>

        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/iphone/faceid/img-07.png?210430" class="c-Img_Capture" alt="">
          </div>
        </div>

        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/iphone/faceid/img-08.png?210430" class="c-Img_Capture" alt="">
          </div>
        </div>
      </li>
      <li>
        <h2 class="c-Heading_Lv3">5. 顔のスキャンをする（2回目）</h2>

        <p class="u-Adjust_Mt-16">案内にしたがって、2回目のスキャンを行ってください。<br>
          2回目のスキャン完了後「続ける」をタップしてください。</p>

        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/iphone/faceid/img-09.png?210430" class="c-Img_Capture" alt="">
          </div>
        </div>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/iphone/faceid/img-010.png?210430" class="c-Img_Capture" alt="">
          </div>
        </div>
      </li>
      <li>
        <h2 class="c-Heading_Lv3">6. 設定完了</h2>

        <p class="u-Adjust_Mt-16">完了画面が表示されますので、「完了」をタップしてください。</p>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/iphone/faceid/img-011.png?210430" class="c-Img_Capture" alt="">
          </div>
        </div>
      </li>
    </ol>

    <p class="u-Adjust_Mt-16">以上でFace IDの設定は完了です。</p>

    <div class="u-Adjust_Pt-32">
      <div><a href="<%= sitepath %>support/" class="c-Btn_Regular-semiauto"><span>お客様サポートトップにもどる</span></a></div>
    </div>

    <div class="u-Adjust_Pt-16">
      <div><a href="<%= sitepath %>" class="c-Btn_Regular-semiauto"><span>楽天モバイルトップへ</span></a></div>
    </div>

  </div>
</div>


<%- include('/include/guide/_review') %>
<%- include('/include/guide/_inquiry') %>
<footer class="g-Footer">

  <div class="g-Footer_Aside">



    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
