<% const pagetitle = "【あなただけに特別なご案内】楽天モバイルお申し込みで1,000ポイントプレゼントキャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "special-offer" -%>
<% const information = {
  campaignState:'start'
}; %>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '【あなただけに特別なご案内】楽天モバイルお申し込みで1,000ポイントプレゼントキャンペーン',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%>
<% const finishSchedule = "2024年x月xx日" -%>
<% const hiddenItem = "false" -%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/<%= namespace %>_test/<%= namespace %>.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/_entry-button/rex-overwrite_v2.css?20240424">
<!-- ReX Campaign Button: stylesheet -->
<link rel="stylesheet" href="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/4.0.0/static/css/main.css?20240424" />
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<script defer="defer" src="https://r.r10s.jp/com/js/c/common/entry_button/1.1/entry_button-1.1.0.min.js"></script>
<link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header',{applyHide:true}) %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout_Label">
      <ul class="c-Label_List <%= namespace %>-Layout_Label-list">
        <li class="c-Label_Normal">エントリー必要</li>
        <li class="c-Label_Normal">Rakuten Link利用必要</li>
        <li><span class="<%= namespace %>-Layout_Label-point">ポイント：付与日を含めて6カ月の期間限定ポイント</span></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Hero_Return">
      <div class="l-System_Container <%= namespace %>-Hero_Container">
        <div class="<%= namespace %>-Hero_Main">
          <h1><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-heading-pc.png?230304-test" alt="test" class="<%= namespace %>-Utility_Img-pc"><img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-heading-sp.png?230304-test" alt="test" class="<%= namespace %>-Utility_Img-sp"></h1>
        </div>
      </div>
    </div>

    <div class="<%= namespace %>-Layout_Body">
      <div class="l-System_Container">
        <% if (information.campaignState == 'finish') { %>
          <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-32 u-Adjust_Mb-48 u-Adjust_Align-center">本キャンペーンは<%= finishSchedule %>をもちまして終了いたしました。<br>
            このページに掲載されている情報は、キャンペーン終了時点のものです。</p>
        <% } else { %>
          <!-- else -->
        <% } %>
        <ul class="c-Txt_Cap">
          <li class="c-Txt_Emp-02"><span>※</span>予告なく特典内容の変更、キャンペーンの中止を行う可能性がございます。</li>
          <li class="c-Txt_Emp-02"><span>※</span>「Rakuten最強プラン（データタイプ）」は対象外です。</li>
        </ul>

        <div class="c-Accordion u-Adjust_Mt-16">
          <button id="accordion-attention" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-attention" data-ratid="campaign_<%= namespace %>_first-caution" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>本ページの「お申し込みはこちら」ボタンよりお手続きください。本ページ以外からお手続きされた場合は特典適用対象外となります。</button>
          <div id="accordion-content-attention" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-attention" aria-hidden="true">
            <ul>
              <li class="c-Txt_Cap"><span>・</span>「お申し込み内容」画面でクーポンコード14桁の英数字が表示されていることをご確認のうえ、お申し込みを完了してください。表示されていない場合は特典適用対象外となるため、再度本ページの「お申し込みはこちら」ボタンよりお申し込みをやり直してください。</li>
              <li class="c-Txt_Cap"><span>※</span>詳細は<a href="#campaign-caution" class="js-scroll">お申し込み時の注意点</a>をご確認ください。</li>
            </ul>
          </div>
        </div>
      </div>

    <% if (information.campaignState == 'finish') { %>
    <% } else { %>
      <!-- else -->
      <div id="first_entry_button" class="<%= namespace %>-Layout_Entry-Area u-Adjust_Mt-40">
        <p class="c-Txt_Emp-01 <%= namespace %>-Utility_Mt-unique">エントリー期間：2024年3月4日（月）09:00 ～ 2024年5月31日（金）23:59</p>
        <!-- ReX Campaign Entry Button: Mounting points -->
        <!-- mounting point for button 1 --><div id="rex-ceb-01" class="campaign-Rexoverwrite"></div>
      </div>
    <% } %>
    </div>

    <footer class="g-Footer <%= namespace %>-Layout_Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>

  <!-- ReX Campaign Entry Button: Configuration -->
  <script>
    var rexButtons = [{"code":"/rmobile/special/240226","theme":"red","wide":false,"showCelebration":false,"below":{"checkboxText":"メルマガやアンケートなどをSMSやメールで受け取る","html":"※楽天モバイルよりSMSや<a href=\"https://my.rakuten.co.jp/\">楽天会員情報</a><span class=\"c-Txt_Emp-01\">ご登録のメールアドレス</span>にお送りする<span class=\"c-Txt_Emp-01\">楽天モバイルニュース</span>などおトクな情報等を<span class=\"c-Txt_Emp-01\">受け取らない方はチェックを外してください。</span>","isCheckboxMandatory":false,"isChecked":true},"ids":["rex-ceb-01"]}]
  </script>
  <!-- ReX Campaign Entry Button: Script -->
  <script src="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/4.0.0/static/js/main.js" defer></script>
</body>
</html>
