<% const pagetitle = "楽天ママ割メンバーが答える 楽天モバイル徹底調査！" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}] -%>
<% const namespace = "mamawari" -%>
<% const layout = `${namespace}-Layout` -%>
<% const util = `${namespace}-Util` -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルのここが知りたい！CMでよく見る楽天モバイルって本当におトクなの？と思っていませんか？楽天モバイルを実際に利用している楽天ママ割メンバーのリアルな声を大公開。',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/<%= namespace %>/<%= namespace %>.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<h1>
  <picture>
    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/mamawari/kv-sp-230308.png" width="750" height="490">
    <img src="<%= sitepath %>assets/img/guide/mamawari/kv-pc-230308.png" alt="Rakuten ママ割×Rakuten Mobile 楽天ママ割メンバーが答える 楽天モバイル徹底調査! おトク以外にもメリットが盛りだくさん!リアルな声を大公開" width="2880" height="480">
  </picture>
</h1>

<div class="<%= layout %>_Appeal">
  <div class="<%= layout %>_Appeal-inner u-Adjust_Align-center">
    <picture>
      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/mamawari/appeal-sp-240513.png" width="343" height="283">
      <img src="<%= sitepath %>assets/img/guide/mamawari/appeal-pc-240513.png" alt="楽天ママ割メンバーに聞きました 楽天モバイルのここが知りたい! 楽天モバイルを実際に利用している楽天ママ割メンバーのリアルな声をお届けします。 ※楽天ママ割から楽天ママ割メンバーへのアンケート（2024/1/5~1/15実施）" width="1704" height="438">
    </picture>
    <p class="u-Adjust_Mt-16"><a href="#special-offer" class="c-Link_Txt-inline-icon js-scroll"><span class="c-Icon_Arrow-down-l"></span>楽天ママ割について</a></p>
  </div>
</div>

<nav class="<%= layout %>_Nav">
  <div class="l-System_Container">
    <ul class="u-Adjust_Align-center">
    <li>
      <p>Q1</p>
      <p><a href="#check1" class="c-Link_Txt-inline-icon js-scroll"><span class="c-Icon_Arrow-down-l"></span>楽天モバイルのプランはおトク？</a></p>
    </li>
    <li>
      <p>Q2</p>
      <p><a href="#check2" class="c-Link_Txt-inline-icon js-scroll"><span class="c-Icon_Arrow-down-l"></span>乗り換えって本当に簡単？</a></p>
    </li>
    <li>
      <p>Q3</p>
      <p><a href="#check3" class="c-Link_Txt-inline-icon js-scroll"><span class="c-Icon_Arrow-down-l"></span>おすすめの使い方ってある？</a></p>
    </li>
    </ul>
  </div>
</nav>

<section id="check1" class="<%= layout %>_Check1">
  <div class="l-System_Container">
    <h2 class="u-Adjust_Align-center">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/mamawari/check1-sp-230308.png" width="343" height="85">
        <img src="<%= sitepath %>assets/img/guide/mamawari/check1-pc-230308.png" alt="Q1 楽天モバイルのプランはおトク?" width="671" height="72">
      </picture>
    </h2>

    <div class="<%= layout %>_Tablike <%= util %>_Mt-32-24">
      <div class="<%= layout %>_Tablike-container">
        <div class="<%= layout %>_Check1-inner1 u-Adjust_Pb-32 u-Adjust_Pb-pc-48">
          <div class="<%= layout %>_Conversation1">
            <img src="<%= sitepath %>assets/img/guide/mamawari/mama1-230308.png" alt="" width="120" height="120">
            <div class="<%= layout %>_Conversation1-comment">楽天モバイルのプランはおトクって聞くけど、本当におトクなの？</div>
          </div>
          <div class="<%= layout %>_Conversation4">
            <div class="<%= layout %>_Conversation4-comment">使った分だけお支払いの「Rakuten最強プラン」。<br><span class="c-Txt_Emp-02">こんなに多くの楽天ママ割メンバーから支持されているそうよ。</span></div>
            <img src="<%= sitepath %>assets/img/guide/mamawari/mama2-230308.png" alt="" width="120" height="120">
          </div>
          <div class="<%= layout %>_Tab-img <%= layout %>_Tab-img-custom u-Adjust_Mt-24 u-Adjust_Mt-pc-16">
            <div class="u-Adjust_Align-center">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/mamawari/per-gooddeal-sp-240221.png" width="271" height="182">
                <img src="<%= sitepath %>assets/img/guide/mamawari/per-gooddeal-pc-240221.png" alt="92%の楽天ママ割メンバーがおトクを実感 おトクを実感92% あまりおトクに感じない7% おトクに感じない1%" width="1360" height="440">
              </picture>
            </div>

            <p class="c-Txt_Cap u-Adjust_Mt-16">楽天ママ割調べ　回答者全体（N=330）設問「楽天モバイルのプラン（3GBまで980円、20GB以上でも2,980円）はお得に感じますか？」（2024年1月実施）</p>
          </div>

          <div class="u-Adjust_Align-center">
            <a href="<%= sitepath %>fee/saikyo-plan/?l-id=guide_mamawari_sec1_fee_saikyo-plan#data" class="c-Btn_Secondly-large <%= util %>_Mt-32-24"><span>料金プランをみる</span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="u-Adjust_Mt-24 u-Adjust_Mt-pc-32 u-Adjust_Align-center">
      <a href="<%= sitepath %>fee/family/?l-id=guide_mamawari_fee_family">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/mamawari/bnr-cnp-saikyo-343-108-240430.png" width="686" height="216">
          <img src="<%= sitepath %>assets/img/guide/mamawari/bnr-cnp-saikyo-1032-160-240430.png" alt="最強家族プログラムはデータ３GB（家族割引のみ適用時）全キャリア最安880円/月～（税込968円～）※2024年2月時点 ※通話料等別" width="1032" height="160">
        </picture>
      </a>
    </div>
  </div>
</section>

<section id="check2" class="<%= layout %>_Check2">
  <div class="l-System_Container">
    <h2 class="u-Adjust_Align-center">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/mamawari/check2-sp-230308.png" width="343" height="83">
        <img src="<%= sitepath %>assets/img/guide/mamawari/check2-pc-230308.png" alt="Q2 乗り換えって本当に簡単?" width="558" height="72">
      </picture>
    </h2>

    <div class="c-Theme-Borderbox <%= util %>_Mt-40-24 <%= layout %>_Check1-inner1 u-Adjust_Pb-48 <%= util %>_Round">
      <div class="<%= layout %>_Conversation1">
        <img src="<%= sitepath %>assets/img/guide/mamawari/mama1-230308.png" alt="" width="120" height="120">
        <div class="<%= layout %>_Conversation1-comment">乗り換えって難しいイメージ。家でも店舗でも大丈夫？</div>
      </div>

      <div class="<%= layout %>_Conversation4">
        <div class="<%= layout %>_Conversation4-comment">
          <span class="c-Txt_Emp-02">家にいながらオンラインでも簡単に乗り換えることができるの！</span><br class="u-Show_Pc">
          また1人じゃ心配って時は、電話サポートを受けながらも申し込めるのよ。楽天ママ割メンバーに契約手続きについて聞いてみたら、簡単と感じた人が86％も！
        </div>
        <img src="<%= sitepath %>assets/img/guide/mamawari/mama2-230308.png" alt="" width="120" height="120">
      </div>

      <div class="c-Tab js-Tab <%= util %>_Mt-48-32">
        <ul class="c-Tab_Items <%= layout %>_Tab" role="tablist">
            <li class="c-Tab_Item <%= layout %>_Tab-item-icon" id="tab-check2-left" role="tab" aria-selected="true" aria-controls="tab-content-check2-left"><span class="c-Icon_Home-f"></span>自宅で乗り換え</li>
            <li class="c-Tab_Item <%= layout %>_Tab-item-icon" id="tab-check2-right" role="tab" aria-selected="false" aria-controls="tab-content-check2-right"><span class="c-Icon_Shop-f"></span>店舗で乗り換え</li>
        </ul>
        <div class="c-Tab_Panel" id="tab-content-check2-left" role="tabpanel" aria-hidden="false" aria-labelledby="tab-check2-left">
          <div class="<%= layout %>_Tab-img">
            <div class="u-Adjust_Align-center">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/mamawari/per-easy-sp-240221.png" width="319" height="226">
                <img src="<%= sitepath %>assets/img/guide/mamawari/per-easy-pc-240221.png" alt="86%の楽天ママ割メンバーが簡単を実感 簡単だった86% あまり簡単ではなかった12% 簡単ではなかった2%" width="1360" height="456">
              </picture>
            </div>
            <p class="c-Txt_Cap mamawari-Util_Mt-16-8">楽天ママ割調べ　回答者全体（N=330）設問「楽天モバイルの契約手続きは簡単に完了できたと感じますか？」（2024年1月実施）</p>
          </div>

          <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
            <a href="https://network.mobile.rakuten.co.jp/guide/flow/application/?l-id=guide_mamawari_sec4_guide_flow_application" class="c-Btn_Secondly-large"><span>申し込みの手順をみる</span></a>
          </div>
        </div>

        <div class="c-Tab_Panel" id="tab-content-check2-right" role="tabpanel" aria-hidden="true" aria-labelledby="tab-check2-right">
          <div class="<%= layout %>_Conversation4  <%= util %>_Mt-48-32">
            <div class="<%= layout %>_Conversation4-comment">
              店舗（楽天モバイルショップ）に行く時は<span class="c-Txt_Emp-02">予約していくとスムーズ</span>だよ！
            </div>
            <img src="<%= sitepath %>assets/img/guide/mamawari/mama2-230201.png" alt="" width="120" height="120">
          </div>

          <div class="<%= layout %>_Tab-img">
            <div class="u-Adjust_Align-center">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/mamawari/per-shop-sp-240305.png" width="319" height="226">
                <img src="<%= sitepath %>assets/img/guide/mamawari/per-shop-pc-240305.png" alt="14%の楽天ママ割メンバーが店舗で簡単を実感 店舗で簡単を実感14% ネットで簡単を実感86%" width="1360" height="456">
              </picture>
            </div>
            <p class="c-Txt_Cap mamawari-Util_Mt-16-8">楽天ママ割調べ　回答者全体（N=330）設問「楽天モバイルの契約手続きは簡単に完了できたと感じますか？」（2024年1月実施）</p>
          </div>

          <div class="u-Adjust_Align-center <%= util %>_Mt-32-24">
            <a href="<%= sitepath %>shop/?l-id=guide_mamawari_sec4_shop" class="c-Btn_Secondly-large"><span>ショップ（店舗）を探す</span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="u-Adjust_Mt-24 u-Adjust_Mt-pc-40 u-Adjust_Align-center">
      <a href="<%= sitepath %>campaign/mnp/?l-id=guide_mamawari_campaign_mnp">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-mnp-343-108-240315.png" width="686" height="216">
          <img src="<%= sitepath %>assets/img/bnr/bnr-mnp-1032-160-240315.png" alt="スマホそのまま乗り換え！電話番号もそのまま他社から乗り換え＆初めてお申し込みで6,000ポイントプレゼント!データ3GB（税込1,078円）x5カ月分がポイント還元で実質5カ月無料！" width="1032" height="160">
        </picture>
      </a>
    </div>
  </div>
</section>

<section id="check3" class="<%= layout %>_Check3">
  <div class="l-System_Container">
    <div class="u-Adjust_Align-center">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/mamawari/check3-sp-230308.png" width="342" height="84">
        <img src="<%= sitepath %>assets/img/guide/mamawari/check3-pc-230308.png" alt="Q3 おすすめの使い方ってある?" width="610" height="72">
      </picture>
    </div>

    <div class="c-Theme-White <%= util %>_Mt-40-24 <%= util %>_Pt-48-16 <%= util %>_Pb-40-32">
      <div class="<%= layout %>_Check1-inner3">
        <div class="<%= layout %>_Conversation4 u-Adjust_Mt-0">
          <div class="<%= layout %>_Conversation4-comment">
            今回のアンケートで色んなコメントが寄せられた中から、<span class="c-Txt_Emp-02">他にこんな風にも使えるよ！の声をお届けします！</span>
          </div>
          <img src="<%= sitepath %>assets/img/guide/mamawari/mama2-230308.png" alt="" width="120" height="120">
        </div>
        <div class="u-Adjust_Align-center <%= layout %>_UservoiceImg">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/mamawari/uservoice-sp-230201.png" width="298" height="64">
            <img src="<%= sitepath %>assets/img/guide/mamawari/uservoice-pc-230201.png" alt="お寄せいただいた声" width="426" height="64">
          </picture>
        </div>
        <div class="<%= layout %>_UservoiceWrap">
          <div class="u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/mamawari/star2-230308.png" alt="" width="204" height="28">
          </div>
          <div class="<%= layout %>_UservoiceFlex <%= util %>_Mt-24-16">
            <div class="<%= layout %>_Uservoice">
              <div>
                <img src="<%= sitepath %>assets/img/guide/mamawari/uservoice2-230308.png" alt="" width="72" height="72">
              </div>
              <div>
                <p class="<%= layout %>_Uservoice-review"><span class="c-Txt_Emp-02">外出先でもデータを気にせず</span><span class="c-Txt_Cap">※1</span>、子どもにYouTubeを見せたり、ゲームをさせてあげられる</p>
                <p class="c-Txt_Cap <%= layout %>_Uservoice-userinfo u-Adjust_Mt-8">30代女性／福島県</p>
              </div>
            </div>
            <div class="<%= layout %>_Uservoice">
              <div>
                <img src="<%= sitepath %>assets/img/guide/mamawari/uservoice4-230308.png" alt="" width="72" height="72">
              </div>
              <div>
                <p class="<%= layout %>_Uservoice-review">楽天市場や、<span class="c-Txt_Emp-02">他の楽天サービスと組み合わせて、たくさんポイントをもらえる</span></p>
                <p class="c-Txt_Cap <%= layout %>_Uservoice-userinfo u-Adjust_Mt-8">30代女性／和歌山県</p>
              </div>
            </div>
          </div>
        </div>
        <p class="u-Adjust_Mt-16 c-Txt_Cap">楽天ママ割調べ　回答者全体（N=330）設問「楽天モバイルのおすすめの使い方があれば教えてください。」（2024年1月実施）</p>
        <p class="c-Txt_Cap">※1 公平なサービス提供のため、速度制限の場合あり。環境により速度低下する場合あり</p>
      </div>
    </div>

    <div class="u-Adjust_Pt-40 u-Adjust_Align-center">
      <h3 class="<%= util %>_Font-28-24">
        必見！楽天ママ割メンバーが<br class="u-Show_Sp">選ぶ<br class="u-Show_Pc">
        楽天モバイルの<br class="u-Show_Sp">おトクすぎるメリット
      </h3>
    </div>


    <div id="js-cta-trigger" class="<%= layout %>_Tablike u-Adjust_Mt-40">
      <div class="<%= layout %>_Tablike-container">
        <div class="<%= layout %>_Check1-inner1">
          <h3 class="u-Adjust_Align-center">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/mamawari/spu-sp-231201.png" width="239" height="97">
              <img src="<%= sitepath %>assets/img/guide/mamawari/spu-pc-231201.png" alt="SPU 楽天市場のお買い物が毎日全員5倍" width="589" height="90">
            </picture>
          </h3>
          <div class="<%= layout %>_Conversation1 u-Adjust_Mt-24">
            <img src="<%= sitepath %>assets/img/guide/mamawari/mama1-230308.png" alt="" width="120" height="120">
            <div class="<%= layout %>_Conversation1-comment">みんな本当におトクに貯まっているのかな？</div>
          </div>
          <div class="<%= layout %>_Conversation4">
            <div class="<%= layout %>_Conversation4-comment">楽天市場でお買い物する楽天ママ割メンバーは「お買い物マラソン」と「5と0のつく日」なども上手に使って、ザクザクポイントを貯めている人が多いの！<span class="c-Txt_Emp-02">楽天ポイントでスマホ代を払ってる楽天ママ割メンバーも！</span></div>
            <img src="<%= sitepath %>assets/img/guide/mamawari/mama2-230308.png" alt="" width="120" height="120">
          </div>
          <div class="u-Adjust_Align-center <%= layout %>_UservoiceImg">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/mamawari/uservoice-sp-230201.png" width="298" height="64">
              <img src="<%= sitepath %>assets/img/guide/mamawari/uservoice-pc-230201.png" alt="お寄せいただいた声" width="426" height="64">
            </picture>
          </div>
          <div class="<%= layout %>_UservoiceWrap">
            <div class="u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/mamawari/star2-230308.png" alt="" width="204" height="28">
            </div>
            <div class="<%= layout %>_UservoiceFlex <%= util %>_Mt-24-16">
              <div class="<%= layout %>_Uservoice">
                <div>
                  <img src="<%= sitepath %>assets/img/guide/mamawari/uservoice4-230308.png" alt="" width="72" height="72">
                </div>
                <div>
                  <p class="<%= layout %>_Uservoice-review">楽天ポイントがたくさん貯まる。<span class="c-Txt_Emp-02">期間限定ポイントで料金の支払いができる</span><span class="c-Txt_Cap">※</span></p>
                  <p class="c-Txt_Cap <%= layout %>_Uservoice-userinfo u-Adjust_Mt-8">30代女性／和歌山県</p>
                </div>
              </div>
              <div class="<%= layout %>_Uservoice">
                <div>
                  <img src="<%= sitepath %>assets/img/guide/mamawari/uservoice6-230308.png" alt="" width="72" height="72">
                </div>
                <div>
                  <p class="<%= layout %>_Uservoice-review"><span class="c-Txt_Emp-02">楽天モバイル契約者がよりお得に</span>楽天市場を使えるようになり嬉しいです</p>
                  <p class="c-Txt_Cap <%= layout %>_Uservoice-userinfo u-Adjust_Mt-8">20代女性／滋賀県</p>
                </div>
              </div>
            </div>
          </div>
          <p class="c-Txt_Cap <%= util %>_Mt-16-8">楽天ママ割調べ　回答者全体（N=330）設問「楽天モバイルに契約していてよかった点があれば教えてください。」（2024年1月実施）</p>
          <p class="c-Txt_Cap">※毎月の獲得上限ポイント数は2,000ポイント、期間限定ポイントでの付与。詳細は<a class="c-Link_Txt" href="<%= sitepath %>campaign/spu/">こちら</a>をご確認ください</p>
          <div class="u-Adjust_Align-center">
            <a href="<%= sitepath %>campaign/spu/?l-id=guide_mamawari_sec2_campaign_spu" class="c-Btn_Secondly-large <%= util %>_Mt-32-24"><span>SPU詳細をみる</span></a>
          </div>
          <p class="u-Adjust_Mt-24 <%= util %>_Pb-32-0 u-Adjust_Align-center"><a href="<%= sitepath %>guide/ichiba-lecture/?l-id=guide_mamawari_sec2_guide_ichiba-lecture" class="c-Link_Txt-inline-icon">超カンタン！ポイントUP術！<br class="<%= util %>_Disp-sp">楽天市場の活用テクニックをみる<span class="c-Icon_Chevron-right"></span></a></p>
        </div>
      </div>
    </div>

    <div class="<%= layout %>_Tablike <%= util %>_Mt-56-24">
      <div class="<%= layout %>_Tablike-container">
        <div class="<%= layout %>_Check1-inner1">
          <h3 class="u-Adjust_Align-center">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/mamawari/rakutenlink-text-sp-230308.png" width="311" height="58">
              <img src="<%= sitepath %>assets/img/guide/mamawari/rakutenlink-text-pc-230308.png" alt="Rakuten Linkアプリを使って、国内通話が無料に！" width="595" height="29">
            </picture>
          </h3>
          <div class="<%= layout %>_Conversation1 u-Adjust_Mt-24">
            <img src="<%= sitepath %>assets/img/guide/mamawari/mama1-230308.png" alt="" width="120" height="120">
            <div class="<%= layout %>_Conversation1-comment">国内通話って、どこにかけても無料なの？</div>
          </div>
          <div class="<%= layout %>_Conversation4">
            <div class="<%= layout %>_Conversation4-comment">一部有料電話はあるけど、<span class="c-Txt_Emp-02">Rakuten Linkアプリからかければ固定電話も他キャリアへの電話もオプション契約なしに無料でかけられるの！</span><br>楽天ママ割メンバーも楽天モバイルを契約してよかった点に「Rakuten Link」をあげているわ！</div>
            <img src="<%= sitepath %>assets/img/guide/mamawari/mama2-230308.png" alt="" width="120" height="120">
          </div>

          <div class="u-Adjust_Align-center <%= layout %>_UservoiceImg">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/mamawari/uservoice-sp-230201.png" width="298" height="64">
              <img src="<%= sitepath %>assets/img/guide/mamawari/uservoice-pc-230201.png" alt="お寄せいただいた声" width="426" height="64">
            </picture>
          </div>
          <div class="<%= layout %>_UservoiceWrap">
            <div class="u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/mamawari/star2-230308.png" alt="" width="204" height="28">
            </div>
            <div class="<%= layout %>_UservoiceFlex <%= util %>_Mt-24-16">
              <div class="<%= layout %>_Uservoice">
                <div>
                  <img src="<%= sitepath %>assets/img/guide/mamawari/uservoice2-230308.png" alt="" width="72" height="72">
                </div>
                <div>
                  <p class="<%= layout %>_Uservoice-review"><span class="c-Txt_Emp-02">楽天リンクの通話が無料</span><span class="c-Txt_Cap">※</span>なので家族間で遠慮なく通話できる</p>
                  <p class="c-Txt_Cap <%= layout %>_Uservoice-userinfo u-Adjust_Mt-8">30代女性／広島県</p>
                </div>
              </div>
              <div class="<%= layout %>_Uservoice">
                <div>
                  <img src="<%= sitepath %>assets/img/guide/mamawari/uservoice5-230308.png" alt="" width="72" height="72">
                </div>
                <div>
                  <p class="<%= layout %>_Uservoice-review">通話料が無料なので、仕事の<span class="c-Txt_Emp-02">長時間電話も料金を気にせず出来る</span></p>
                  <p class="c-Txt_Cap <%= layout %>_Uservoice-userinfo u-Adjust_Mt-8">50代男性／大阪府</p>
                </div>
              </div>
            </div>
          </div>
          <p class="c-Txt_Cap <%= util %>_Mt-16-8">楽天ママ割調べ　回答者全体（N=330）設問「楽天モバイルに契約していてよかった点があれば教えてください。」「楽天モバイルのおすすめの使い方があれば教えてください。」（2024年1月実施）</p>
          <p class="c-Txt_Cap">※一部対象外番号あり。アプリ未使用時30秒22円</p>
          <div class="u-Adjust_Align-center u-Adjust_Pb-32">
            <a href="<%= sitepath %>service/rakuten-link/?l-id=guide_mamawari_sec3_service_rakuten-link" class="c-Btn_Secondly-large <%= util %>_Mt-32-24"><span>Rakuten Linkの詳細をみる</span></a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="special-offer" class="<%= layout %>_Special-offer">
  <div class="l-System_Container">
    <h2 class="c-Heading_Lv1 u-Adjust_Align-center">楽天ママ割の<br class="<%= util %>_Disp-sp">おトクな4大特典</h2>
    <ol class="<%= layout %>_List-card <%= util %>_Mt-40-24">
      <li>
        <h3 class="<%= layout %>_List-card-ttl">
          <span class="<%= layout %>_List-card-ttl-num">1</span>
          <span class="c-Txt_Emp-02">楽天ポイントが<span>効率良く貯まる！</span></span>
        </h3>
        <picture class="<%= layout %>_List-card-img">
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/mamawari/img-offer-1-sp.png" width="104" height="71">
          <img src="<%= sitepath %>assets/img/guide/mamawari/img-offer-1.png" alt="" width="210" height="110">
        </picture>
        <p class="<%= layout %>_List-card-txt">限定のポイント<br class="<%= util %>_Disp-sp">キャンペーン</p>
      </li>
      <li>
        <h3 class="<%= layout %>_List-card-ttl">
          <span class="<%= layout %>_List-card-ttl-num">2</span>
          <span class="c-Txt_Emp-02">おトクに安く<span>買い物できる！</span></span>
        </h3>
        <picture class="<%= layout %>_List-card-img">
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/mamawari/img-offer-2-sp.png" width="104" height="71">
          <img src="<%= sitepath %>assets/img/guide/mamawari/img-offer-2.png" alt="" width="210" height="110">
        </picture>
        <p class="<%= layout %>_List-card-txt">メンバー限定クーポン</p>
      </li>
      <li>
        <h3 class="<%= layout %>_List-card-ttl">
          <span class="<%= layout %>_List-card-ttl-num">3</span>
          <span class="c-Txt_Emp-02">「知りたかった」<span>が見つかる！</span></span>
        </h3>
        <picture class="<%= layout %>_List-card-img">
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/mamawari/img-offer-3-sp.png" width="104" height="71">
          <img src="<%= sitepath %>assets/img/guide/mamawari/img-offer-3.png" alt="" width="210" height="110">
        </picture>
        <p class="<%= layout %>_List-card-txt">子育て情報ページ</p>
      </li>
      <li>
        <h3 class="<%= layout %>_List-card-ttl">
          <span class="<%= layout %>_List-card-ttl-num">4</span>
          <span class="c-Txt_Emp-02">色々な商品を<span>試せる！</span></span>
        </h3>
        <picture class="<%= layout %>_List-card-img">
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/mamawari/img-offer-4-sp.png" width="104" height="71">
          <img src="<%= sitepath %>assets/img/guide/mamawari/img-offer-4.png" alt="" width="210" height="110">
        </picture>
        <p class="<%= layout %>_List-card-txt">プレゼントが当たるかも</p>
      </li>
    </ol>

    <div class="u-Adjust_Align-center <%= util %>_Mt-40-24">
      <a href="https://event.rakuten.co.jp/family/about/?scid=wi_guide_mamawari_sec6_family_about" class="c-Btn_Primary-large" target="_blank" rel="noopener"><span>楽天ママ割メンバー<br class="<%= util %>_Disp-sp">登録はこちら</span></a>
    </div>

    <ul class="u-Adjust_Mt-56 <%= layout %>_List-center">
      <li>
        <a href="https://event.rakuten.co.jp/family/samplebox/?scid=wi_rmb_mmw_rmb_contents_mmwsamplebox_20230428" class="c-Banner_Hover-act" target="_blank" rel="noopener">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/mamawari/bnr-feature-04-343-108-230428.png" width="343" height="108">
            <img src="<%= sitepath %>assets/img/guide/mamawari/bnr-feature-04-504-158-230428.png" alt="Rakuten ママ割 毎月えらんで応募しよう！楽天ママ割サンプルボックス" width="504" height="158">
          </picture>
        </a>
      </li>
    </ul>

  </div>
</section>

<footer class="g-Footer">
  <div class="g-Footer_Aside">
    <%- include('/include/footer/bnr/_bnr.ejs') %>
  </div>
    <div class="c-Breadcrumbs_Foot">
    <div class="l-System_Container">
      <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>
  </div>
  <%- include('/include/_footer') %>
</footer>

<div class="<%= layout %>_Cta" id="js-cta-target" aria-expanded="false">
  <div class="l-System_Container">
    <ul class="<%= layout %>_Cta-inner">
      <li class="<%= layout %>_Cta-btn">
        <a href="<%= sitepath %>guide/application/?lid-r=guide_mamawari_guide_application" class="c-Btn_Primary">
          <span>新規／乗り換え（MNP）<span class="<%= util %>_Disp-pc">お申し込み</span></span>
        </a>
      </li>
      <li class="<%= layout %>_Cta-btn">
        <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=guide_mamawari_ms&mno_migration=1" class="c-Btn_Secondly">
          <span>
            <span class="<%= layout %>_Cta-sub">
              <span class="<%= util %>_Disp-pc">以前からご利用中の楽天モバイルからの</span>
              <span class="<%= util %>_Disp-sp">以前の楽天モバイルからの</span>
            </span><br>
            プラン変更（移行）
            <span class="<%= util %>_Disp-pc">お申し込み</span>
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.mamawari.bundle.js?20240521"></script>

<%- include('/include/_append-body') %>
<script src="https://players.brightcove.net/5068808272001/default_default/index.min.js"></script>
<script src="https://r.r10s.jp/com/rat/plugin/media/main-0.2.0.js"></script>
<script type="text/javascript">
  window.RAT.MediaTracker({
    params: {
      acc: 1312,
      aid: 1,
      pgn: "/guide/mamawari/",
    },
    configs: {
      measure: true,
    }
  })
</script>

</body>
</html>
