<% const pagetitle = "iPhoneのクイックスタートのご利用方法" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/iphone/initial-setting/", label:"初期設定（iPhone・Apple Watch）"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'クイックスタートを利用した、iPhoneの初期設定方法をご案内します。クイックスタートは、ご利用中のiPhoneを利用して、新しいiPhoneをすばやく設定する機能です。この機能を使えば、ワイヤレスで新しいiPhoneにデータを直接転送することができます。',
    noindex: false,
    pathname: filepath
  });
%>
<% const nameSpace = "support" -%>

<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/support/support.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1">iPhoneのクイックスタートのご利用方法</h1>

    <p class="u-Adjust_Mt-32">クイックスタートを利用した、iPhoneの初期設定方法をご案内します。</p>

    <p class="u-Adjust_Mt-24">クイックスタートは、ご利用中のiPhoneを利用して、新しいiPhoneをすばやく設定する機能です。この機能を使えば、ワイヤレスで新しいiPhoneにデータを直接転送することができます。</p>
    <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-16">
      <li><a href="#checklist" class="c-Link_Txt-icon c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>ご利用前の確認事項</a></li>
      <li><a href="#initial_setting" class="c-Link_Txt-icon c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>クイックスタートを利用した初期設定方法</a></li>
    </ul>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-32" id="checklist">ご利用前の確認事項</h2>
    <p class="u-Adjust_Mt-16">以下をご確認のうえ、ご利用ください。</p>
    <ul class="c-List_Text-disc u-Adjust_Mt-24">
      <li>両方のiPhoneがiOS 12.4以降である必要があります。
      </li>
      <li>ご利用にはBluetooth、Wi-Fiの接続が必要です。
        両方オンに設定してください。</li>
      <li>移行前にバッテリーが充電されているかご確認ください。バッテリー残量が少ない場合、事前に充電をお願いいたします。</li>
      <li>移行中は両方のiPhoneがご利用できません。
        データの移行時間はデータ容量やネットワーク速度により変動いたします。</li>
    </ul>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-32" id="initial_setting">クイックスタートを利用した初期設定方法</h2>
    <p class="u-Adjust_Mt-16 c-Txt_Cap">※設定時の選択によって、遷移する画面や表示内容が異なる場合があります。画面の案内に従って手続きを行ってください。</p>
    <p class="u-Adjust_Mt-8 c-Txt_Cap">※iOSのバージョンにより画面が異なる場合がございます。</p>

    <div class="u-Adjust_Mt-32">
      <div class="c-Infobox_Standing-warning">
        <p class="support-Txt_Attention">楽天回線をご利用いただくには、最新のOSへアップデートが必要です。</p>
        <p class="u-Adjust_Mt-16">設定中に「ソフトウェア・アップデート」の案内が表示された場合は、案内に沿ってアップデートを行ってください。<br>
          案内が表示されない場合は、アップデートを行ってください。Wi-Fi接続やテザリング接続で行ってください。</p>
        <div class="c-Accordion u-Adjust_Mt-32">
          <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>OSのバージョン確認とアップデート方法</button>
          <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
          <ol class="<%= nameSpace %>-Flow_List u-Adjust_Mt-32">
            <li>
              <h3 class="c-Heading_Lv4">1. 一般画面を開く</h3>
              <p class="u-Adjust_Mt-16">設定にある「一般」をタップしてください。</p>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/quick-start/img-01.png?210430" width="300" height="" alt="" class="c-Img_Capture"></figure>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/quick-start/img-02.png?210430" width="300" height="" alt="" class="c-Img_Capture"></figure>
            </li>
            <li>
              <h3 class="c-Heading_Lv4">2. 「ソフトウェア・アップデート」をタップ</h3>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/quick-start/img-03.png?210430" width="300" height="" alt="" class="c-Img_Capture"></figure>
            </li>
            <li>
              <h3 class="c-Heading_Lv4">3. 「ダウンロードしてインストール」をタップ</h3>
              <p class="u-Adjust_Mt-16">OSが最新版ではない場合、最新版のソフトウェアのダウンロード・インストールが案内されます。<br>
                「ダウンロードしてインストール」をタップし、画面の案内に沿ってインストールを行ってください。</p>
              <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/quick-start/img-04.png?210430" width="300" height="" alt="" class="c-Img_Capture"></figure>
            </li>
          </ol>
          <p class="u-Adjust_Mt-32">以上でOSのバージョン確認とアップデートは完了です。</p>
        </div>
      </div>
    </div>
    <div class="c-Infobox_Standing-warning u-Adjust_Mt-32">
      <p class="support-Txt_Attention">【重要】「キャリア設定アップデート」について</p>
      <p class="u-Adjust_Mt-16 c-Txt_Emp-02">楽天回線に接続後、下記のポップアップが表示された場合は、必ず「アップデート」をタップしてください。</p>
      <p class="u-Adjust_Mt-8 c-Txt_Cap c-Txt_Emp-01">※「今はしない」をタップした場合、もしくは表示されなかった場合は、ホーム画面より「設定」→「一般」→「情報」の順に進むと、ポップアップが表示されるので「アップデート」をタップしてしばらくお待ちください。</p>
      <div class="l-Media_Image u-Adjust_Align-center">
        <img src="<%= sitepath %>assets/img/guide/iphone/quick-start/img-05.png?210430" class="c-Img_Capture" alt="">
    </div>
    </div>
  </div>


    <ol class="<%= nameSpace %>-Flow_List u-Adjust_Mt-32">
      <li>
        <h3 class="c-Heading_Lv4">1. データ移行先の新しいiPhoneの電源を入れる</h3>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/quick-start/img-06.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
      <li>
        <h3 class="c-Heading_Lv4">2. 言語と地域を設定する</h3>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/quick-start/img-07.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/quick-start/img-08.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
      <li>
        <h3 class="c-Heading_Lv4">3. 新しいiPhoneに移行元のiPhoneを近づける</h3>
        <p class="u-Adjust_Mt-8">クイックスタートの画面が表示されたら、移行元のiPhoneを新しいiPhoneに近づけてください。</p>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/quick-start/img-09.png?210430" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
      <li>
        <h3 class="c-Heading_Lv4">4. 移行元のiPhoneで「続ける」をタップ</h3>
        <p class="u-Adjust_Mt-16">移行元のiPhoneの画面に「新しいiPhoneを設定」のポップアップが表示されますので、「続ける」をタップしてください。</p>
        <p class="u-Adjust_Mt-16 c-Txt_Cap">※画面が切り替わるまでは、両方のiPhoneともに操作はしないようにお願いいたします。</p>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/quick-start/img-010.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
      <li>
        <h3 class="c-Heading_Lv4">5. 新しいiPhoneのカメラを移行元のiPhoneに向ける</h3>
        <p class="u-Adjust_Mt-16">移行元のiPhoneに表示される案内に従い、移行元のiPhoneのカメラで、新しいiPhoneに表示されたアニメーションを読み取ってください。</p>
        <p class="u-Adjust_Mt-16 c-Txt_Cap">※複数台iPhoneを持っている場合、パスコードの入力が必要になる場合があります。</p>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/quick-start/img-011.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
      <li>
        <h3 class="c-Heading_Lv4">6. 新しいiPhoneの設定が完了するまで待機する</h3>
        <p class="u-Adjust_Mt-16">新しいiPhoneの設定が完了するまで、2台を近づけたまま、何も操作せずにそのままお待ちください。</p>
        <p class="u-Adjust_Mt-16 c-Txt_Emp-01">移行元iPhoneの画面</p>
        <figure class="u-Adjust_Mt-8 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/quick-start/img-012.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        <p class="u-Adjust_Mt-24 c-Txt_Emp-01">移行先の新しいiPhoneの画面</p>
        <figure class="u-Adjust_Mt-8 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/quick-start/img-013.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
      <li>
        <h3 class="c-Heading_Lv4">7. 移行元のiPhoneのパスコードを入力する</h3>
        <p class="u-Adjust_Mt-16 c-Txt_Cap">※ここから先は移行先の新しいiPhoneの画面で操作を行ってください。</p>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/quick-start/img-014.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
      <li>
        <h3 class="c-Heading_Lv4">8. Face IDを設定する</h3>
        <p class="u-Adjust_Mt-16">画面の案内にしたがって設定を行ってください。<br>
          あとで設定することもできますので、その場合は「あとで”設定”でセットアップ」をタップして進んでください。</p>
          <p class="u-Adjust_Mt-8 c-Txt_Cap">※モデルによっては「Touch ID」となる場合があります。</p>
        <figure class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/quick-start/img-015.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
      <li>
        <h3 class="c-Heading_Lv4">9. サインインする</h3>
        <p class="u-Adjust_Mt-16">ご利用のApple IDを入力し、「次へ」をタップしてください。<br>
          Apple IDをお持ちでない場合は、アカウントを作成してください。</p>
        <a href="<%= sitepath %>guide/iphone/appleid/" class="c-Link_Txt-icon u-Adjust_Mt-16">Apple IDの作成方法<span class="c-Icon_Chevron-right"></span></a>
        <p class="u-Adjust_Mt-16 c-Txt_Cap">※複数台iPhoneを持っている場合、「次へ」をタップしたあとにパスコードの入力が必要になる場合があります。</p>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/quick-start/img-016.png?20210430" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
      <li>
        <h3 class="c-Heading_Lv4">10. 「iPhoneから転送」を選択する</h3>
        <p class="u-Adjust_Mt-16">データを転送の画面が表示されますので、「iPhoneから転送」をタップしてください。</p>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/quick-start/img-017.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
      <li>
        <h3 class="c-Heading_Lv4">11. 利用規約に同意する</h3>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/quick-start/img-018.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
      <li>
        <h3 class="c-Heading_Lv4">12. 位置情報サービスを設定する</h3>
        <p class="u-Adjust_Mt-16">位置情報サービスの設定画面が表示されますので、どちらか選択してください。</p>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/quick-start/img-019.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
      <li>
        <h3 class="c-Heading_Lv4">13. エクスプレス設定をする</h3>
        <p class="u-Adjust_Mt-16">エクスプレス設定を行ってください。変更しない場合は「続ける」をタップしてください。</p>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/quick-start/img-020.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
      <li>
        <h3 class="c-Heading_Lv4">14. アップデートのインストール方法を選択する</h3>
        <p class="u-Adjust_Mt-16">iOSのアップデート方法を選んでください。<br>
          自動的にアップデートされるようにする場合は「続ける」をタップしてください。<br>
          手動でアップデートをインストールしたい場合は「手動でアップデートをインストール」をタップしてください。</p>
          <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/quick-start/img-021.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
      <li>
        <h3 class="c-Heading_Lv4">15. Apple Payを設定する</h3>
        <p class="u-Adjust_Mt-16">Apple Payを使用する場合は、「続ける」をタップして、画面の案内にしたがって設定を行ってください。<br>
あとで設定することもできますので、その場合は「あとでWalletでセットアップ」をタップして進んでください。</p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※表示された場合は設定してください。</p>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/quick-start/img-022.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
      <li>
        <h3 class="c-Heading_Lv4">16. iCloudキーチェーンを設定する</h3>
        <p class="u-Adjust_Mt-16">iCloudキーチェーンを設定してください。使用しない場合は「iCloudキーチェーンを使用しない」をタップしてください。</p>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/quick-start/img-023.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
      <li>
        <h3 class="c-Heading_Lv4">17. iMessageとFaceTimeを設定する</h3>
        <p class="u-Adjust_Mt-16">iMessageとFaceTimeを設定してください。利用しない場合は「今はしない」をタップしてください。</p>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/quick-start/img-024.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
      <li>
        <h3 class="c-Heading_Lv4">18. Siriを設定する</h3>
        <p class="u-Adjust_Mt-16">画面の案内にしたがって設定を行ってください。<br>
          あとで設定することもできますので、その場合は「あとで”設定”でセットアップ」をタップして進んでください。</p>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/quick-start/img-025.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
      <li>
        <h3 class="c-Heading_Lv4">19. スクリーンタイムやその他のディスプレイオプションを設定する</h3>
        <p class="u-Adjust_Mt-16">画面の案内にしたがって各種設定を行い、「続ける」をタップして進んでください。</p>

        <ul class="c-List_Text-disc u-Adjust_Mt-24">
          <li>スクリーンタイム</li>
          <li>App解析</li>
          <li>True Toneディスプレイ</li>
          <li>外観モード</li>
          <li>拡大モード</li>
        </ul>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※2021年4月30日時点での機能項目になります。OSのバージョンによって設定できる機能が異なります。</p>
      </li>
      <li>
        <h3 class="c-Heading_Lv4">20. データ転送が終わるまで2台を近づけておく</h3>
        <p class="u-Adjust_Mt-16">データの転送がはじまりますので、完了するまで2台を近づけたまま、何も操作せずにそのままお待ちください。<br>
          また、データ転送にはお時間がかかる場合がありますので、電源に接続しておいてください。</p>
        <p class="u-Adjust_Mt-16 c-Txt_Emp-01">移行元iPhoneの画面</p>
        <figure class="u-Adjust_Mt-8 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/quick-start/img-026.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
        <p class="u-Adjust_Mt-24 c-Txt_Emp-01">移行先の新しいiPhoneの画面</p>
        <figure class="u-Adjust_Mt-8 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/quick-start/img-027.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
      <li>
        <h3 class="c-Heading_Lv4">21. データ転送完了</h3>
        <p class="u-Adjust_Mt-16">データ転送が完了すると、移行元のiPhoneに「転送が完了しました」を表示されますので、「続ける」をタップしてください。</p>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/quick-start/img-028.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
      <li>
        <h3 class="c-Heading_Lv4">22. 設定完了</h3>
        <p class="u-Adjust_Mt-16">データ転送が完了すると、移行先の新しいiPhoneで自動で再起動がはじまりますので、そのままお待ちください。<br>
再起動が完了し、以下の画面が表示されたら設定が完了です。<br>
画面を上にスワイプすると、ホーム画面が表示されます。</p>
<p class="u-Adjust_Mt-8 c-Txt_Cap">※モデルによってはホームボタンを押す場合があります。</p>
        <figure class="u-Adjust_Mt-24 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/quick-start/img-029.png" width="300" height="" alt="" class="c-Img_Capture"></figure>
      </li>
    </ol>

    <p class="u-Adjust_Mt-16">以上でクイックスタートを利用した初期設定は完了です。</p>

    <div class="u-Adjust_Pt-32">
      <div><a href="<%= sitepath %>support/" class="c-Btn_Regular-semiauto"><span>お客様サポートトップにもどる</span></a></div>
    </div>

    <div class="u-Adjust_Pt-16">
      <div><a href="<%= sitepath %>" class="c-Btn_Regular-semiauto"><span>楽天モバイルトップへ</span></a></div>
    </div>

  </div>
</div>


<%- include('/include/guide/_review') %>
<%- include('/include/guide/_inquiry') %>
<footer class="g-Footer">

  <div class="g-Footer_Aside">



    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
