<% const pagetitle = "ショップ限定！iPhone SE(64GB)本体代1円キャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "iphone-se-2nd" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルショップ限定！キャンペーン期間中のRakuten UN-LIMIT VIへ初めての申し込みでおトクにiPhone SE(64GB)をご購入いただけます。',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/iphone-se-2nd/iphone-se-2nd.css?20240424">
<%- include('/inc/_saikyo-css') %>
<%- include('/include/_append-head') %>

</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>
<div class="<%= namespace %>-Layout-Label">
  <ul class="c-Label_List <%= namespace %>-Layout-Label_List">
    <li class="c-Label_Normal">ショップ申込限定</li>
    <li class="c-Label_Normal">初めて申込限定</li>
    <li class="c-Label_Normal">対象製品限定</li>
    <li class="c-Label_Normal">Rakuten Link 利用必要</li>
  </ul>
  <p class="<%= namespace %>-Layout-Label_point">ポイント：付与日を含めて6カ月の期間限定ポイント</p>
</div>

<div class="<%= namespace %>-Hero">
  <div class="<%= namespace %>-Hero_Main">
    <h1>
      <picture>
        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/iphone-se-2nd/img-hero-sp-02.png">
        <img src="<%= sitepath %>assets/img/campaign/iphone-se-2nd/img-hero-pc-02.png" width="1440" alt="iPhone SE(64GB)[本体価格44,800円(税込)]Rakuten UN-LIMIT VIに初めてお申し込みで最大49,799円相当ポイント還元実質0円楽天モバイルショップ限定※Rakuten Linkアプリのご利用が必要です。ポイント付与は、Rakuten Link利用の翌々月末頃。">
      </picture>
    </h1>
  </div>

  <div class="<%= namespace %>-Hero_Term c-Theme-Light u-Adjust_Align-center">
    <div class="l-System_Container">
      <p class="c-Txt_Cap u-Adjust_Align-left">※「Rakuten UN-LIMIT VIお申し込みとiPhone SE（64GB）同時購入でiPhone SE（64GB）本体価格1円」および「<a href="<%= sitepath %>campaign/iphone-point/#campaign-rule1113" class="c-Link_Txt">【Rakuten UN-LIMIT VIお申し込み特典】だれでも5,000ポイントプレゼントキャンペーン</a>」適用時。</p>
      <p class="c-Txt_Cap u-Adjust_Align-left">※<a href="<%= sitepath %>service/iphone/upgrade-program/" class="c-Link_Txt">楽天モバイルiPhoneアップグレードプログラム</a>をご利用の場合は、本キャンペーン対象外となります。</p>
      <p class="c-Txt_Cap u-Adjust_Align-left">※在庫がなくなり次第終了。</p>
      <p class="c-Txt_Emp-02 u-Adjust_Mt-16">ご好評により、ショップによっては在庫がない場合もございますので、ご了承ください。</p>

      <p class="<%= namespace %>-Hero_Term-period u-Adjust_Mt-16">
        <span class="c-Txt_Emp-01">【キャンペーン期間】</span>
        2022年2月26日（土）開店〜2022年3月31日（木）閉店
      </p>

    <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-16 u-Adjust_Align-center">本キャンペーンは終了しました。</p>

      <ul class="<%= namespace %>-Hero_Term-nav u-Adjust_Mt-16">
        <li>
          <a href="#campaign-flow" class="c-Link_Txt-inline js-scroll">
            <span class="c-Icon_Arrow-down-l"></span>キャンペーンの流れを確認する</a>
        </li>
        <li>
          <a href="#campaign-rule" class="c-Link_Txt-inline js-scroll">
            <span class="c-Icon_Arrow-down-l"></span>キャンペーンルールを見る</a>
        </li>
      </ul>
      </div>
  </div>
</div>

<div class="l-System_Container u-Adjust_Mt-24">
  <p>
    「実質価格」とは、キャンペーンの条件達成（Rakuten UN-LIMIT VI初めて契約、対象製品購入、Rakuten Link利用など）により後日付与されるポイントを加味した価格であり、実際のお支払い金額とは異なります。詳しくは<a href="#campaign-rule" class="c-Link_Txt js-scroll">キャンペーンルール</a>をご確認ください。
  </p>

  <div id="campaign-detail" class="<%= namespace %>-Detail u-Adjust_Align-center">
    <ul class="<%= namespace %>-Detail_List">
      <li>
        <h4 class="c-Heading_Lv4 <%= namespace %>-Detail_List-title">Rakuten UN-LIMIT VIと同時に<br>iPhone SE（64GB）を購入で</h4>
        <div class="<%= namespace %>-Detail_List-body">
          <p class="<%= namespace %>-Detail_List-body-name">iPhone SE<br class="<%= namespace %>-Utility_Sp-only"><span class="c-Txt_Normal">（64GB）</span></p>
          <div class="<%= namespace %>-Detail_List-body-point-s">
            本体価格<span>1</span>円
          </div>
          <p>
            <a href="#campaign-rule" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>詳細を見る</a>
          </p>
        </div>
      </li>
      <li>
        <h4 class="c-Heading_Lv4 <%= namespace %>-Detail_List-title">Rakuten UN-LIMIT VIを<br>初めてお申し込みで</h4>
        <div class="<%= namespace %>-Detail_List-body">
          <div class="<%= namespace %>-Detail_List-body-point">
            <span>5,000</span>ポイント
          </div>
          <p>
            <a href="<%= sitepath %>campaign/iphone-point/#campaign-rule1113" class="c-Link_Txt-inline">詳細を見る<span class="c-Icon_Chevron-right"></span></a>
          </p>
        </div>
      </li>
    </ul>

    <div class="<%= namespace %>-Detail_Result c-Theme-Emphasis1">
      <p class="<%= namespace %>-Detail_Result-text"><span class="<%= namespace %>-Detail_Result-text-name">iPhone SE</span>（64GB）<br class="<%= namespace %>-Utility_Sp-only"><span class="c-Txt_Emp-02 <%= namespace %>-Detail_Result-text-price">実質<span>0</span>円</span></p>
    </div>

    <p class="c-Txt_Cap u-Adjust_Mt-16 u-Adjust_Align-left">※「Rakuten UN-LIMIT VIお申し込みとiPhone SE（64GB）同時購入でiPhone SE（64GB）本体価格1円」および「<a href="<%= sitepath %>campaign/iphone-point/#campaign-rule1113" class="c-Link_Txt">【Rakuten UN-LIMIT VIお申し込み特典】だれでも5,000ポイントプレゼントキャンペーン</a>」適用で、実質0円となります。楽天ポイントの付与は、「Rakuten UN-LIMIT VI」をお申し込みした回線の開通が確認された月の翌々月末に、期間限定ポイントで行います。※本体代金割引キャンペーンの適用はおひとり様1回までとなります。※Rakuten Linkアプリのご利用が必要です。ポイント付与は、Rakuten Link利用の翌々月末頃。</p>
  </div>

  <div class="<%= namespace %>-Detail_Product c-Theme-Light">
    <div class="<%= namespace %>-Detail_Product-inner">
      <h2 class="<%= namespace %>-Detail_Product-title u-Adjust_Align-center">iPhone SE<small>（64GB）</small></h2>
      <div class="<%= namespace %>-Detail_Product-image">
        <img src="<%= sitepath %>assets/img/campaign/iphone-se-2nd/img-se.png" alt="" width="179">
      </div>

      <div class="<%= namespace %>-Detail_Product-body">
        <ul class="c-List_Text-disc-emp c-Txt_Emp-01">
          <li>あざやかな4.7インチRetina HD ディスプレイ</li>
          <li>第3世代のNeural Engineを搭載したA13 Bionicチップ</li>
          <li>フルHDの4倍もの細部をとらえる4Kビデオ撮影が可能</li>
        </ul>
        <dl>
          <div>
            <dt class="c-Txt_Emp-02">製品＋プラン<br>セット購入の場合</dt>
            <dd class="c-Txt_Emp-02"><span class="<%= namespace %>-Detail_Product-body-price-emp">本体価格</span><span class="<%= namespace %>-Detail_Product-body-price-emp-num">1</span>円<span class="<%= namespace %>-Detail_Product-body-price-emp-tax">（税込）</span></dd>
          </div>
          <div>
            <dt class="c-Txt_Emp-01">製品のみ購入の場合</dt>
            <dd class="c-Txt_Emp-01 <%= namespace %>-Detail_Product-body-dd-normal"><span class="<%= namespace %>-Detail_Product-body-price">本体価格</span><br class="<%= namespace %>-Utility_Sp-only"><span class="<%= namespace %>-Detail_Product-body-price-num">22,001</span>円<br class="<%= namespace %>-Utility_Sp-only"><span class="<%= namespace %>-Detail_Product-body-price-emp-tax">（税別20,001円）</span></dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="u-Adjust_Align-center <%= namespace %>-Detail_Product-btn">
      <a href="<%= sitepath %>product/iphone/iphone-se-2nd/?l-id=campaign_iphone-se-2nd_iphone_iphone-se-2nd_top" class="c-Btn_Regular"><span>iPhone SE（64GB）の詳細を見る</span></a>
    </div>
  </div>

  <div id="campaign-flow" class="<%= namespace %>-Flow">
    <h2 class="c-Heading_Lv2">キャンペーンの流れ</h2>
    <ul class="<%= namespace %>-Flow_List c-Flow">
      <li>
        <h3 class="c-Heading_Lv3 u-Adjust_Mb-16">お申し込み・お支払いに必要なものを準備する</h3>
        <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
          <div class="l-Media_Image <%= namespace %>-Flow_List-img">
            <img src="<%= sitepath %>assets/img/campaign/iphone-se-2nd/img-flow-1.png" alt="お申し込み・お支払いに必要なものを準備する">
          </div>
          <div>
            <div class="u-Adjust_Mt-16">
              <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc">
                <li><a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
              </ul>
              <ul class="u-Adjust_Mt-16 c-List_Text-disc">
                <li>楽天会員ログイン用のユーザID、パスワード</li>
              </ul>
              <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Emp-02 c-Txt_Normal-s u-Adjust_Mt-8">※本人確認書類の情報と、楽天会員情報が一致している必要があります。</p>
              <p class="u-Adjust_Mt-8"><a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Link_Txt-inline u-Adjust_Mt-8">楽天会員情報を確認・変更する<span class="c-Icon_Chevron-right"></span></a></p>
              <ul class="u-Adjust_Mt-16 c-List_Text-disc">
                <li><a href="<%= sitepath %>guide/payment/" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                </li>
              </ul>
              <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">※ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="<%= sitepath %>faq/detail/00001238/" class="c-Link_Txt-inline">こちらのご案内ページ</a>を必ず事前にご確認ください。</p>
              <ul class="u-Adjust_Mt-16 c-List_Text-disc">
                <li><a href="<%= sitepath %>guide/mnp/" class="c-Link_Txt-inline">ご契約者名義のMNP予約番号（他社から乗り換えの場合）<span class="c-Icon_Chevron-right"></span></a></li>
              </ul>
            </div>
            <ul class="c-Txt_Cap u-Adjust_Mt-8">
              <li><span>※</span>未成年者の方のお申し込みに必要な情報、お申し込み方法は<a href="<%= sitepath %>flow/for-minors/" class="c-Link_Txt">こちらのご案内ページ</a>をご確認ください。</li>
              <li><span>※</span>Webページにて、楽天モバイル（ドコモ回線・au回線）から移行お手続き後に、Rakuten UN-LIMIT VIにお申し込みいただく場合、MNP予約番号と本人確認書類はご準備不要です。</li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">楽天モバイルショップを探す</h3>
        <div class="l-Media_Grid u-Adjust_Mt-16">
          <div class="l-Media_Image <%= namespace %>-Flow_List-img">
            <img src="<%= sitepath %>assets/img/campaign/iphone-se-2nd/img-flow-2.png" alt="" width="311">
          </div>
          <div>
            <p class="u-Adjust_Mt-8">
              ご来店の際は、Webでできる「<span class="c-Txt_Emp-02">来店予約</span>」が便利です。<br>
              予約された方を優先的にご案内しますので、混雑を気にせずに都合の良い時間にご来店いただけます。<br>
              各ショップページの「<span class="c-Txt_Emp-02">来店予約</span>」ボタンよりご予約ください。<br>
              各ショップごとに製品の在庫状況が異なります。
            </p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">
              ※カウンターが空き次第のご案内となり、多少の待ち時間をいただく場合がございます。<br>
              ※ショップページに「来店予約」ボタンがないショップでは、来店予約を行っておりません。ご了承ください。
            </p>
            <div class="<%= namespace %>-Utility_Sp-center u-Adjust_Mt-32">
              <a href="<%= sitepath %>shop/?l-id=campaign_iphone-se-2nd_shop_top" class="c-Btn_Primary-large"><span>お近くのショップを探す</span></a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">ショップでRakuten UN-LIMITを申し込み、製品を購入する</h3>
        <div class="l-Media_Grid u-Adjust_Mt-16">
          <div class="l-Media_Image <%= namespace %>-Flow_List-img">
            <img src="<%= sitepath %>assets/img/campaign/iphone-se-2nd/img-flow-3.png" alt="" width="311">
          </div>
          <div>
            <p class="u-Adjust_Mt-8">楽天モバイルショップにて、楽天モバイルのお申し込みとiPhone SE（64GB）の購入手続きを行ってください。</p>

            <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>fee/un-limit/" class="c-Link_Txt-inline">Rakuten UN-LIMIT VIの詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
            <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>product/iphone/iphone-se-2nd/?l-id=campaign_iphone-se-2nd_iphone_iphone-se-2nd_bottom" class="c-Link_Txt-inline">iPhone SE（64GB）の詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>

            <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">【お申し込み期間】</span>2022年2月26日（土）開店〜2022年3月31日（木）閉店<br><span class="c-Txt_Cap c-Txt_Emp-02">※Webでのお申し込みは対象外です。</span></p>
          </div>
        </div>
      </li>
      <li>
        <h3 class="c-Heading_Lv3">Rakuten Linkアプリで通話</h3>
        <div class="l-Media_Grid u-Adjust_Mt-16">
          <div class="l-Media_Image <%= namespace %>-Flow_List-img">
            <img src="<%= sitepath %>assets/img/campaign/iphone-se-2nd/img-flow-4.png" alt="" width="311">
          </div>
          <div>
            <p class="u-Adjust_Mt-8">
              Rakuten Linkアプリで10秒以上通話する<br>
              Rakuten Link利用開始期限：プランお申し込みの翌月末日23:59まで
            </p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※電話の発信時、（0180）（0570）などから始まる他社接続サービス、一部特番（188）への通話は特典対象外</p>
            <p class="u-Adjust_Mt-16"><a href="https://service.link.link/guide/" class="c-Link_Txt-inline" target="_blank" rel="noopener">Rakuten Linkアプリの詳細を見る<span class="c-Icon_New-window-l"></span></a></p>
          </div>
        </div>
      </li>
      <li id="questionnaire">
        <h3 class="c-Heading_Lv3">最大5,000円相当のポイントプレゼント！</h3>
        <div class="l-Media_Grid u-Adjust_Mt-16">
          <div class="l-Media_Image <%= namespace %>-Flow_List-img">
            <img src="<%= sitepath %>assets/img/campaign/iphone-se-2nd/img-flow-5.png" alt="">
          </div>
          <div>
            <p>「Rakuten UN-LIMIT VI」の開通および「Rakuten Link」の利用が確認された月の翌々月末までに5,000ポイントを付与いたします。</p>
            <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※ポイントは付与日を含めて6カ月の期間限定ポイントとなります。</p>

            <ul class="<%= namespace %>-List_Present u-Adjust_Mt-16">
              <li class="c-Theme-Light <%= namespace %>-List_Present-inner-wide">
                <dl>
                  <dt class="c-Txt_Emp-01">【Rakuten UN-LIMIT VIお申し込み特典】<br>だれでも5,000ポイントプレゼント<br class="<%= namespace %>-Utility_Sp-only">キャンペーン適用で</dt>
                  <dd class="u-Adjust_Mt-0 <%= namespace %>-List_Present-flex-pc">
                    <p class="c-Heading_Lv4 c-Txt_Emp-02"><span class="<%= namespace %>-List_Present-price">5,000</span>ポイント</p>
                    <a href="<%= sitepath %>campaign/iphone-point/#campaign-rule1113" class="c-Link_Txt-inline">詳細を見る<span class="c-Icon_Chevron-right"></span></a>
                  </dd>
                </dl>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="u-Adjust_Mt-64 <%= namespace %>-Layout_Container-spfull">
  <%- include('/inc/_saikyo') %>
</div>

<div class="l-System_Container">
  <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
    <a href="<%= sitepath %>shop/?l-id=campaign_iphone-se-2nd_shop_bottom" class="c-Btn_Primary-large"><span>お近くのショップを探す</span></a>
  </div>

  <div class="u-Adjust_Mt-64" id="campaign-rule">
    <h2 class="c-Heading_Lv2">ショップ限定！iPhone SE(64GB)本体代１円キャンペーン</h2>

    <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-16 u-Adjust_Align-center">本キャンペーンは終了しました。</p>

    <div class="u-Adjust_Mt-24">
      <dl class="c-Dl_Origin <%= namespace %>-campaign-Rule">
        <div>
          <dt>キャンペーンコード</dt>
          <dd>
            <p>1436</p>
            <ul class="c-Txt_Cap u-Adjust_Mt-8">
              <li>※本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
            </ul>
          </dd>
        </div>
        <div>
          <dt>キャンペーン期間</dt>
          <dd>
            <p>
              <span class="c-Txt_Emp-01">■ プランのお申し込み期間</span><br>
              - 店舗（楽天モバイルショップ）　2022年02月26日（土）開店～2022年3月31日（木）閉店
            </p>
            <p class="u-Adjust_Mt-16">
              <span class="c-Txt_Emp-01">■ 製品のご購入期間</span><br>
              - 店舗（楽天モバイルショップ）　2022年02月26日（土）開店～2022年3月31日（木）閉店
            </p>
          </dd>
        </div>
        <div>
          <dt colspan="2">キャンペーン条件</dt>
          <dd>
            <p class="c-Txt_Emp-02">上記各項目の期間内に【1】、【2】の条件をすべて満たした楽天会員の方</p>
            <p class="c-Txt_Cap">※　 特典はおひとり様1度のみ。</p>

            <p class="c-Txt_Emp-01 u-Adjust_Mt-8">【1】「Rakuten UN-LIMIT VI」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
            <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（1）新規お申し込み</p>
            <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（2）他社からの乗り換え（MNP）でお申し込み</p>
            <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</p>

            <p class="c-Txt_Emp-01 u-Adjust_Mt-8">【2】「Rakuten UN-LIMIT VI」お申し込みと同時に対象製品をご購入</p>
            <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">- iPhone SE（第2世代）64GB</p>
            <p class="c-Txt_Emp-02 u-Adjust_Mt-8 u-Adjust_Ml-8">
            　※製品の購入が「Rakuten UN-LIMIT VI」お申し込みと同時の場合のみキャンペーン適用となります。<br>
            　※在庫が少ない色もございます。あらかじめご了承ください。<br>
            　※楽天モバイルiPhoneアップグレードプログラム（48回払い）でのご購入の場合、本キャンペーンの対象外となります。
            </p>
          </dd>
        </div>
        <div>
          <dt>キャンペーン特典</dt>
          <dt class="<%= namespace %>-campaign-Rule_Title-sub">特典内容</dt>
          <dd>
            <p class="c-Txt_Emp-01"> iPhone SE（第2世代）64GBの本体代が１円</p>
          </dd>
        </div>
        <div>
          <dt>特典適用対象外</dt>
          <dd>
            <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
            <ul class="u-Adjust_Mt-8">
              <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
              <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>本キャンペーンの適用回数が、おひとり様1契約1回を超える場合は対象外となります</li>
              <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>楽天モバイルショップ以外で購入した場合</li>
              <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
              <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
              <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
              <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
            </ul>
          </dd>
        </div>
        <div>
          <dt>併用可能キャンペーン</dt>
          <dd>
            <p class="c-Txt_Emp-01">以下のキャンペーンは、<span class="c-Txt_Emp-02">併用可能</span>となります。</p>
            <ul class="c-List_Note u-Adjust_Mt-8">
              <li class="u-Adjust_Mt-8"><span class="u-Adjust_Pr-8">・</span>【Rakuten UN-LIMIT VIお申し込み特典】だれでも5,000ポイントプレゼントキャンペーン（キャンペーンコード：1113）</li>
              <li class="u-Adjust_Mt-8"><span class="u-Adjust_Pr-8">・</span>【10分（標準）通話かけ放題】はじめてのお申し込み＆ご利用で5,000ポイントプレゼントキャンペーン（キャンペーンコード：1416）</li>
            </ul>
          </dd>
        </div>
        <div>
          <dt>併用不可キャンペーン</dt>
          <dd>
            <p class="c-Txt_Emp-01">以下のキャンペーンは、<span class="c-Txt_Emp-02">併用不可</span>となり、本キャンペーンが優先適用となります。</p>
            <ul class="c-List_Note u-Adjust_Mt-8">
              <li class="u-Adjust_Mt-8"><span class="u-Adjust_Pr-8">・</span>iPhoneアップグレードプログラム適用で5,000ポイント還元キャンペーン（キャンペーンコード：1383）</li>
              <li class="u-Adjust_Mt-8"><span class="u-Adjust_Pr-8">・</span>新生活応援！iPhoneアップグレードプログラム適用で5,000ポイント還元キャンペーン（キャンペーンコード：1446）</li>
              <li class="u-Adjust_Mt-8"><span class="u-Adjust_Pr-8">・</span>プラン変更（移行）限定！iPhone購入で5,000ポイント還元キャンペーン（キャンペーンコード：1248）</li>
              <li class="u-Adjust_Mt-8"><span class="u-Adjust_Pr-8">・</span>お持ちのスマホそのままで、他社から乗り換え（MNP）の方限定！通常のRakuten UN-LIMIT VIお申し込み特典に加えて、さらに15,000ポイントプレゼントキャンペーン（キャンペーンコード：1262）</li>
              <li class="u-Adjust_Mt-8"><span class="u-Adjust_Pr-8">・</span>回線契約のみの方限定！通常のRakuten UN-LIMIT VIお申し込み特典に加えて、さらに4,000ポイントプレゼントキャンペーン（キャンペーンコード：1447）</li>

              <li class="u-Adjust_Mt-8"><span class="u-Adjust_Pr-8">・</span>楽天モバイルショップで受け取りでiPhone SE(64GB)本体代1円キャンペーン（1437）</li>
              <li class="u-Adjust_Mt-8"><span class="u-Adjust_Pr-8">・</span>ショップ限定！iPhone SE(64GB)激トクキャンペーン（1449）</li>
              <li class="u-Adjust_Mt-8"><span class="u-Adjust_Pr-8">・</span>他社から乗り換え（MNP）限定！iPhone SE（第3世代）発売記念キャンペーン（1458）</li>
              <li class="u-Adjust_Mt-8"><span class="u-Adjust_Pr-8">・</span>新規ご契約・プラン変更（移行）の方対象！iPhone SE（第3世代）発売記念キャンペーン（キャンペーンコード：1558）</li>
            </ul>
          </dd>
        </div>
        <div>
          <dt>注意事項</dt>
          <dd>
            <ul class="c-List_Note u-Adjust_Mt-8">
              <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
              <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法上の範囲内に制限される場合があります</li>
              <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
              <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
              <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>記載の内容は2022年03月18日（金）時点の情報となります。</li>
            </ul>
          </dd>
        </div>
      </dl>
    </div>
  </div>

  <div class="c-Accordion u-Adjust_Mt-48">
    <button type="button" id="accordion-rule-past" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-rule-past"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>過去のキャンペーンルール</button>
    <div id="accordion-content-rule-past" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-rule-past" aria-hidden="true">
      <h2 class="c-Heading_Lv2">ショップ限定！iPhone SE(64GB)激トクキャンペーン　ルール（〜2022/2/25 閉店）</h2>
      <div class="u-Adjust_Mt-24">
        <dl class="c-Dl_Origin <%= namespace %>-campaign-Rule">
          <div>
            <dt>キャンペーンコード</dt>
            <dd>
              <p>1449</p>
              <ul class="c-Txt_Cap u-Adjust_Mt-8">
                <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
              </ul>
            </dd>
          </div>
          <div>
            <dt>キャンペーン期間</dt>
            <dd>
              <p>
                <span class="c-Txt_Emp-01">■ プランのお申し込み期間</span><br>
                　- 店舗（楽天モバイルショップ）　2022年02月22日（火）開店～2022年2月25日（金）閉店
              </p>
              <p class="u-Adjust_Mt-16">
                <span class="c-Txt_Emp-01">■ 製品のご購入期間</span><br>
                　- 店舗（楽天モバイルショップ）　2022年02月22日（火）開店～2022年2月25日（金）閉店
              </p>
              <p class="u-Adjust_Mt-16">
                <span class="c-Txt_Emp-01">■ プラン利用開始期限</span><br>
                　プランのお申し込み、および対象製品ご購入の翌月末日23:59まで
              </p>
              <p class="u-Adjust_Mt-16">
                <span class="c-Txt_Emp-01">■「Rakuten Link」利用期限</span><br>
                　プランのお申し込み、および対象製品ご購入の翌月末日23:59まで
              </p>
            </dd>
          </div>
          <div>
            <dt colspan="2">キャンペーン条件</dt>
            <dd>
              <p class="c-Txt_Emp-02">上記各項目の期間内に【1】、【2】、【3】、【4】の条件をすべて満たした楽天会員の方</p>
              <p class="c-Txt_Cap">※　 特典はおひとり様1度のみ。</p>

              <p class="c-Txt_Emp-01 u-Adjust_Mt-8">【1】「Rakuten UN-LIMIT VI」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
              <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（1）新規お申し込み</p>
              <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（2）他社からの乗り換え（MNP）でお申し込み</p>
              <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</p>

              <p class="c-Txt_Emp-01 u-Adjust_Mt-8">【2】「Rakuten UN-LIMIT VI」お申し込み日と同日に対象製品いずれかをご購入</p>
              <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">- iPhone SE（第2世代）64GB</p>
              <p class="c-Txt_Emp-02 u-Adjust_Mt-8 u-Adjust_Ml-8">
                ※製品の購入がお申し込み日と同日の場合のみキャンペーン適用となります（同タイミングでなくても可）<br>
                ※在庫が少ない色もございます。あらかじめご了承ください。<br>
                ※楽天モバイルiPhoneアップグレードプログラム（48回払い）でのご購入の場合、本キャンペーンの対象外となります。
              </p>

              <p class="c-Txt_Emp-01 u-Adjust_Mt-8">【3】「Rakuten UN-LIMIT VI」プラン利用開始</p>
              <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">
                【プラン利用開始日とは】<br>
              　　- 新規お申し込みの場合　　※（1）（2）のいずれか早い方がプラン利用開始日となります<br>
              　　　（1）当社に配送完了データが通知された日<br>
              　　　（2）プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br>
              　　- 他社から乗り換え（MNP）の場合<br>
              　　　プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br>
              　　- 楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合<br>
              　　　プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日
              </p>

              <p class="c-Txt_Emp-01 u-Adjust_Mt-8">【4】「Rakuten Link」のご利用</p>
              <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">「Rakuten UN-LIMIT VI」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
              <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">
              　【Rakuten Link アプリご利用方法】<br>
              　　下記URLの「Rakuten Linkのご利用方法」をご確認ください<br>
              　　<a target="_blank" href="<%= sitepath %>guide/rakuten-link/">https://network.mobile.rakuten.co.jp/guide/rakuten-link/</a><br>
              　　- 通話方法：『電話をかける』の項目をご確認ください<br>
              　【Rakuten Link利用履歴の確認方法】<br>
              　　下記URLの「キャンペーンが適用されているか、いつポイントが付与されるか知りたい」をご確認ください<br>
              　　<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001962/">https://network.mobile.rakuten.co.jp/faq/detail/00001962/</a><br>
              　　-「③ 適用条件の達成状況を確認する」の項目をご確認ください
              </p>
              <ul class="c-Txt_Cap u-Adjust_Mt-16">
                <li><span>※</span>電話の発信時、（0570）（0180）などの他社接続サービス、♯ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</li>
              </ul>
            </dd>
          </div>
          <div>
            <dt>キャンペーン特典 （楽天ポイント）</dt>
            <dt class="<%= namespace %>-campaign-Rule_Title-sub">特典内容</dt>
            <dd>
              <p class="c-Txt_Emp-01">Rakuten UN-LIMIT VIをお申し込みの場合：44,799ポイントプレゼント<br>
                →キャンペーン条件【1】、【2】、【3】、【4】の条件達成が必要です。</p>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-8">iPhone SE（第2世代）64GB本体のみ購入の場合：24,799ポイントプレゼント<br>
                →キャンペーン条件【1】、【2】、【3】、【4】は不要です</p>
            </dd>
          </div>
          <div>
            <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント付与日</dt>
            <dd>
              <p class="c-Txt_Emp-01">Rakuten UN-LIMIT VIをお申し込みの場合：「Rakuten UN-LIMIT VI」のプラン利用開始および「Rakuten Link」の利用が確認された月の翌々月末日ごろに付与</p>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-8">iPhone SE（第2世代）64GB本体のみ購入の場合：製品購入月の翌々月末日ごろに付与</p>
              <ul class="u-Adjust_Mt-8">
                <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>例）2月にすべての条件を達成した場合には、その翌々月である4月末日ごろにポイント付与となります</li>
                <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</li>
                <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>権利の譲渡はできません</li>
              </ul>
            </dd>
          </div>
          <div>
            <dt class="<%= namespace %>-campaign-Rule_Title-sub">ポイント有効期間</dt>
            <dd>
              <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
              <ul class="u-Adjust_Mt-8">
                <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" class="c-Link_Txt">期間限定ポイントについて</a></li>
                <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
              </ul>
            </dd>
          </div>
          <div>
            <dt>特典適用対象外</dt>
            <dd>
              <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
              <ul class="u-Adjust_Mt-8">
                <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>本キャンペーンの適用回数が、おひとり様1契約1回を超える場合は対象外となります</li>
                <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>楽天モバイルショップ以外で購入した場合</li>
                <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
                <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>「Rakuten UN-LIMIT VI」のプラン利用開始がされなかった場合<br>
                  -プラン利用開始の手続き方法につきましては、こちらのSIMカード版スタートガイドまたはeSIM版スタートガイドを参照ください</li>
                <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>期限までに<span class="c-Txt_Emp-01">「Rakuten Link」を利用されなかった</span>場合</li>
                <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
              </ul>
            </dd>
          </div>
          <div>
            <dt>併用可能キャンペーン</dt>
            <dd>
              <p class="c-Txt_Emp-01">以下のキャンペーンは、<span class="c-Txt_Emp-02">併用可能</span>となります。</p>
              <ul class="c-List_Note u-Adjust_Mt-8">
                <li class="u-Adjust_Mt-8"><span class="u-Adjust_Pr-8">・</span>【Rakuten UN-LIMIT VIお申し込み特典】だれでも5,000ポイントプレゼントキャンペーン（キャンペーンコード：1113）</li>
              </ul>
            </dd>
          </div>
          <div>
            <dt>併用不可キャンペーン</dt>
            <dd>
              <p class="c-Txt_Emp-01">以下のキャンペーンは、<span class="c-Txt_Emp-02">併用不可</span>となり、本キャンペーンが優先適用となります。</p>
              <ul class="c-List_Note u-Adjust_Mt-8">
                <li class="u-Adjust_Mt-8"><span class="u-Adjust_Pr-8">・</span>iPhoneアップグレードプログラム適用で5,000ポイント還元キャンペーン（キャンペーンコード：1383）</li>
                <li class="u-Adjust_Mt-8"><span class="u-Adjust_Pr-8">・</span>新生活応援！iPhoneアップグレードプログラム適用で5,000ポイント還元キャンペーン（キャンペーンコード：1446）</li>
                <li class="u-Adjust_Mt-8"><span class="u-Adjust_Pr-8">・</span>プラン変更（移行）限定！iPhone購入で5,000ポイント還元キャンペーン（キャンペーンコード：1248）</li>
                <li class="u-Adjust_Mt-8"><span class="u-Adjust_Pr-8">・</span>お持ちのスマホそのままで、他社から乗り換え（MNP）の方限定！通常のRakuten UN-LIMIT VIお申し込み特典に加えて、さらに15,000ポイントプレゼントキャンペーン（キャンペーンコード：1262）</li>
                <li class="u-Adjust_Mt-8"><span class="u-Adjust_Pr-8">・</span>回線契約のみの方限定！通常のRakuten UN-LIMIT VIお申し込み特典に加えて、さらに4,000ポイントプレゼントキャンペーン（キャンペーンコード：1447）</li>
              </ul>
            </dd>
          </div>
          <div>
            <dt>注意事項</dt>
            <dd>
              <ul class="c-List_Note u-Adjust_Mt-8">
                <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法上の範囲内に制限される場合があります</li>
                <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
                <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>記載の内容は2022年02月25日（金）時点の情報となります</li>
              </ul>
            </dd>
          </div>
        </dl>
      </div>
    </div>
</div>
</div>


<div class="u-Adjust_Mt-48">
  <!-- ReX UX Survey: Mounting point for embedded components -->
  <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
</div>

<footer class="g-Footer u-Adjust_Mt-64">
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
              <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
<!-- ReX UX Survey: Config -->
<script>
window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
</script>
<!-- ReX UX Survey: Script -->
<script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>
</body>
</html>
