<% const pagetitle = "全通信キャリアのiPhone本体価格比較表" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/iphone/", label:"iPhone"}] -%>
<%-
 include('/_header', {
    pagetitle,
    directories,
    description: '最新機種 iPhone 15 Pro Max、iPhone 15 Pro、iPhone 15 Plus、iPhone 15に加え、既存モデル（iPhone 14 Plus、 iPhone 14、iPhone 13、iPhone SE（第3世代））などの本体価格比較表になります。楽天モバイルでは最新のiPhoneを全通信キャリアで最安※で販売しています。※2024.03.27時点。NTTドコモ、au、ソフトバンクの4キャリア公式オンラインのiPhone本体代金との比較。',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/iphone/fee/product-iphone-fee.css">
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/iphone/product-iphone.css?240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/iphone/iphone-top.css?240424">
<%- include('/include/_append-head') %>

</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System product-iphone-Fee">
    <%- include('/include/_header') %>
    <%- include('/include/_breadcrumbs', {
      type: 'head',
      pagetitle,
      directories,
    }) %>

    <div class="product-iphone-Fee_Hero">
      <h1 class="product-iphone-Fee_Hero-img">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/fee/img-hero-sp-240426.png" width="834" height="356">
          <img src="<%= sitepath %>assets/img/product/iphone/fee/img-hero-pc-240426.png" alt="最新機種 iPhone 15 Pro Max、iPhone 15 Pro、iPhone 15 Plus、iPhone 15を含めたiPhone本体価格 4キャリア比較表。国内の携帯キャリアの価格で比較しています。最新のiPhoneを購入するなら、楽天モバイルが1番おトクです。" width="956" height="56">
        </picture>
      </h1>
    </div>
    <div class="l-System_Container u-Adjust_Mt-24">
      <p class="c-Txt_Emp-02">他キャリアより3万円以上安い機種も！<span class="c-Txt_Cap u-Color_Primary">※</span></p>
      <h2 class="c-Heading_Lv2">本体価格を比べてみる</h2>
      <ul class="product-iphone-Fee_Anchor u-Adjust_Mt-16">
        <li><a href="#iphone_15_pro_max" class="c-Link_Txt-icon-front js-scroll" data-ratid="iphone_fee_anc_iphone-15-pro-max" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>iPhone 15 Pro Max</a></li>
        <li><a href="#iphone_15_pro" class="c-Link_Txt-icon-front js-scroll" data-ratid="iphone_fee_anc_iphone-15-pro" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>iPhone 15 Pro</a></li>
        <li><a href="#iphone_15_plus" class="c-Link_Txt-icon-front js-scroll" data-ratid="iphone_fee_anc_iphone-15-plus" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>iPhone 15 Plus</a></li>
        <li><a href="#iphone_15" class="c-Link_Txt-icon-front js-scroll" data-ratid="iphone_fee_anc_iphone-15" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>iPhone 15</a></li>
        <li><a href="#iphone_14_plus" class="c-Link_Txt-icon-front js-scroll" data-ratid="iphone_fee_anc_iphone-14-plus" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>iPhone 14 Plus</a></li>
        <li><a href="#iphone_14" class="c-Link_Txt-icon-front js-scroll" data-ratid="iphone_fee_anc_iphone-14" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>iPhone 14</a></li>
        <li><a href="#iphone_13" class="c-Link_Txt-icon-front js-scroll" data-ratid="iphone_fee_anc_iphone-13" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>iPhone 13</a></li>
        <li><a href="#iphone_13_se3rd" class="c-Link_Txt-icon-front js-scroll" data-ratid="iphone_fee_anc_iphone-se3rd" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>iPhone SE（第3世代）</a></li>
      </ul>
      <p class="c-Txt_Cap u-Adjust_Mt-16">※ 2024年3月27日時点。NTTドコモ、au、ソフトバンクの公式オンラインのiPhone本体代金との比較。</p>
      <div class="u-Adjust_Align-center u-Adjust_Mt-32 u-Adjust_Mt-pc-40">
        <h3 class="c-Heading_Lv4">さらに値引きキャンペーンも実施中！</h3>
        <div class="u-Adjust_Mt-16">
          <a class="c-Banner_Hover-act" href="<%= sitepath %>campaign/iphone-point/?l-id=product_iphone_fee_campaign_iphone-point">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-iphone-point-343-108-240517.png" width="686" height="216">
              <img src="<%= sitepath %>assets/img/bnr/bnr-iphone-point-1032-160-240517.png" width="1032" height="160" alt="対象iPhoneを一括または24回払いで購入＆楽天モバイルへ初めて申し込み＆他社から電話番号そのまま乗り換えで最大32,000円相当おトク！">
            </picture>
          </a>
        </div>
      </div>
    </div>

    <div class="u-Bg_Monotone97 u-Adjust_Mt-40 u-Adjust_Mt-pc-56">
      <div class="l-System_Container u-Adjust_Py-64 u-Adjust_Py-pc-56">
        <div class="u-Bg_White" data-ratid="iphone_fee_scroll-01_product" data-ratevent="appear" data-ratparam="all">
          <div class="product-iphone-Fee_Media">
            <div>
              <h2 class="product-iphone-Fee_Product-name" id="iphone_15_pro_max">iPhone 15 Pro Max</h2>
              <figure class="u-Adjust_Mt-pc-16">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/fee/thumb-iphone15pro-max-sp.png" width="311" height="161">
                  <img src="<%= sitepath %>assets/img/product/iphone/fee/thumb-iphone15pro-max-pc.png" alt="iPhone 15 Pro Max（アイフォン フィフティーン プロ マックス）" width="256" height="169">
                </picture>
              </figure>
            </div>
            <div>
              <div class="c-Table_Wrap-scroll product-iphone-Fee_Table-wrap">
                <div class="u-Align_Llc">
                  <p class="product-iphone-Fee_Table-txt"><span>例えば、256GBは<span class="c-Txt_Emp-02">最大26,140円</span><span class="c-Txt_Emp-01">安い</span><span class="c-Txt_Cap">※</span></span></p>
                </div>
                <div class="js-Scrollable u-Adjust_Mt-8">
                  <table class="c-Table_Container product-iphone-Fee_Table-15 product-iphone-Fee_Table-15-normal-mini">
                    <thead>
                      <tr>
                        <th><span class="product-iphone-Fee_Table-15-normal">容量</span></th>
                        <th scope="col">256GB</th>
                        <th scope="col">512GB</th>
                        <th scope="col">1TB</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><span class="product-iphone-Fee_Table-15-lowest">最安値</span><br>楽天モバイル</th>
                        <td><span class="c-Txt_Emp-02"><span class="product-iphone-Fee_Table-15-price-rakuten">210,800</span>円</span><br>48回払い:<br><span class="product-iphone-Fee_Table-15-normal-rakuten">4,391</span>円/月～</td>
                        <td><span class="c-Txt_Emp-02"><span class="product-iphone-Fee_Table-15-price-rakuten">244,800</span>円</span><br>48回払い:<br><span class="product-iphone-Fee_Table-15-normal-rakuten">5,100</span>円/月～</td>
                        <td><span class="c-Txt_Emp-02"><span class="product-iphone-Fee_Table-15-price-rakuten">276,800</span>円</span><br>48回払い:<br><span class="product-iphone-Fee_Table-15-normal-rakuten">5,766</span>円/月～</td>
                      </tr>
                      <tr>
                        <th scope="row">ソフトバンク</th>
                        <td><span class="product-iphone-Fee_Table-15-price">229,680</span>円</td>
                        <td><span class="product-iphone-Fee_Table-15-price">266,400</span>円</td>
                        <td><span class="product-iphone-Fee_Table-15-price">293,040</span>円</td>
                      </tr>
                      <tr>
                        <th scope="row">au</th>
                        <td><span class="product-iphone-Fee_Table-15-price">230,360</span>円</td>
                        <td><span class="product-iphone-Fee_Table-15-price">267,100</span>円</td>
                        <td><span class="product-iphone-Fee_Table-15-price">303,850</span>円</td>
                      </tr>
                      <tr>
                        <th scope="row">NTTドコモ</th>
                        <td><span class="product-iphone-Fee_Table-15-price">236,940</span>円</td>
                        <td><span class="product-iphone-Fee_Table-15-price">273,680</span>円</td>
                        <td><span class="product-iphone-Fee_Table-15-price">305,910</span>円</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="product-iphone-Fee_Btn u-Adjust_Pt-16">
                <a href="<%= sitepath %>product/iphone/iphone-15-pro-max/?l-id=iphone_fee_iphone-15-pro-max" class="c-Btn_Regular">詳細を見る</a>
                <a data-ratid="iphone_fee_iphone-15-pro-max_bss_iphone-15-pro-max" data-ratevent="click" data-ratparam="all" href="https://onboarding.mobile.rakuten.co.jp/equipment-details?exid=600719&selectAvailable=true" class="c-Btn_Primary">購入する</a>
              </div>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※ 2024年3月27日時点。NTTドコモ、au、ソフトバンクの公式オンラインのiPhone本体代金との比較。</p>
            </div>
          </div>
        </div>

        <div class="u-Bg_White u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
          <div class="product-iphone-Fee_Media">
            <div>
              <h2 class="product-iphone-Fee_Product-name" id="iphone_15_pro">iPhone 15 Pro</h2>
              <figure class="u-Adjust_Mt-pc-16">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/fee/thumb-iphone15pro-sp.png" width="311" height="161">
                  <img src="<%= sitepath %>assets/img/product/iphone/fee/thumb-iphone15pro-pc.png" alt="iPhone 15 Pro（アイフォン フィフティーン プロ）" width="256" height="169">
                </picture>
              </figure>
            </div>
            <div>
              <div class="c-Table_Wrap-scroll">
                <div class="u-Align_Llc">
                  <p class="product-iphone-Fee_Table-txt"><span>例えば、128GBは<span class="c-Txt_Emp-02">最大17,360円</span><span class="c-Txt_Emp-01">安い</span><span class="c-Txt_Cap">※</span></span></p>
                </div>
                <div class="js-Scrollable u-Adjust_Mt-8">
                  <table class="c-Table_Container product-iphone-Fee_Table-15 product-iphone-Fee_Table-15-pro">
                    <thead>
                      <tr>
                        <th><span class="product-iphone-Fee_Table-15-normal">容量</span></th>
                        <th scope="col">128GB</th>
                        <th scope="col">256GB</th>
                        <th scope="col">512GB</th>
                        <th scope="col">1TB</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><span class="product-iphone-Fee_Table-15-lowest">最安値</span><br>楽天モバイル</th>
                        <td><span class="c-Txt_Emp-02"><span class="product-iphone-Fee_Table-15-price-rakuten">174,700</span>円</span><br>48回払い:<br><span class="product-iphone-Fee_Table-15-normal-rakuten">3,639</span>円/月～</td>
                        <td><span class="c-Txt_Emp-02"><span class="product-iphone-Fee_Table-15-price-rakuten">192,800</span>円</span><br>48回払い:<br><span class="product-iphone-Fee_Table-15-normal-rakuten">4,016</span>円/月～</td>
                        <td><span class="c-Txt_Emp-02"><span class="product-iphone-Fee_Table-15-price-rakuten">225,800</span>円</span><br>48回払い:<br><span class="product-iphone-Fee_Table-15-normal-rakuten">4,704</span>円/月～</td>
                        <td><span class="c-Txt_Emp-02"><span class="product-iphone-Fee_Table-15-price-rakuten">259,800</span>円</span><br>48回払い:<br><span class="product-iphone-Fee_Table-15-normal-rakuten">5,412</span>円/月～</td>
                      </tr>
                      <tr>
                        <th scope="row">ソフトバンク</th>
                        <td><span class="product-iphone-Fee_Table-15-price">185,760</span>円</td>
                        <td><span class="product-iphone-Fee_Table-15-price">211,680</span>円</td>
                        <td><span class="product-iphone-Fee_Table-15-price">248,400</span>円</td>
                        <td><span class="product-iphone-Fee_Table-15-price">285,120</span>円</td>
                      </tr>
                      <tr>
                        <th scope="row">au</th>
                        <td><span class="product-iphone-Fee_Table-15-price">185,860</span>円</td>
                        <td><span class="product-iphone-Fee_Table-15-price">211,930</span>円</td>
                        <td><span class="product-iphone-Fee_Table-15-price">248,560</span>円</td>
                        <td><span class="product-iphone-Fee_Table-15-price">285,420</span>円</td>
                      </tr>
                      <tr>
                        <th scope="row">NTTドコモ</th>
                        <td><span class="product-iphone-Fee_Table-15-price">192,060</span>円</td>
                        <td><span class="product-iphone-Fee_Table-15-price">218,790</span>円</td>
                        <td><span class="product-iphone-Fee_Table-15-price">255,090</span>円</td>
                        <td><span class="product-iphone-Fee_Table-15-price">291,830</span>円</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="product-iphone-Fee_Btn u-Adjust_Pt-16">
                <a href="<%= sitepath %>product/iphone/iphone-15-pro/?l-id=iphone_fee_iphone-15-pro" class="c-Btn_Regular">詳細を見る</a>
                <a data-ratid="iphone_fee_iphone-15-pro_bss_iphone-15-pro" data-ratevent="click" data-ratparam="all" href="https://onboarding.mobile.rakuten.co.jp/equipment-details?exid=600703&selectAvailable=true" class="c-Btn_Primary">購入する</a>
              </div>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※ 2024年3月27日時点。NTTドコモ、au、ソフトバンクの公式オンラインのiPhone本体代金との比較。</p>
            </div>
          </div>
        </div>

        <div class="u-Bg_White u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
          <div class="product-iphone-Fee_Media">
            <div>
              <h2 class="product-iphone-Fee_Product-name" id="iphone_15_plus">iPhone 15 Plus</h2>
              <figure class="u-Adjust_Mt-pc-16">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/fee/thumb-iphone15plus-sp.png" width="311" height="161">
                  <img src="<%= sitepath %>assets/img/product/iphone/fee/thumb-iphone15plus-pc.png" alt="iPhone 15 Plus（アイフォン フィフティーン プラス）" width="256" height="169">
                </picture>
              </figure>
            </div>
            <div>
              <div class="c-Table_Wrap-scroll product-iphone-Fee_Table-wrap">
                <div class="u-Align_Llc">
                  <p class="product-iphone-Fee_Table-txt"><span>例えば、128GBは<span class="c-Txt_Emp-02">最大21,940円</span><span class="c-Txt_Emp-01">安い</span><span class="c-Txt_Cap">※</span></span></p>
                </div>
                <div class="js-Scrollable u-Adjust_Mt-8">
                  <table class="c-Table_Container product-iphone-Fee_Table-15 product-iphone-Fee_Table-15-normal-mini">
                    <thead>
                      <tr>
                        <th><span class="product-iphone-Fee_Table-15-normal">容量</span></th>
                        <th scope="col">128GB</th>
                        <th scope="col">256GB</th>
                        <th scope="col">512GB</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><span class="product-iphone-Fee_Table-15-lowest">最安値</span><br>楽天モバイル</th>
                        <td><span class="c-Txt_Emp-02"><span class="product-iphone-Fee_Table-15-price-rakuten">146,800</span>円</span><br>48回払い:<br><span class="product-iphone-Fee_Table-15-normal-rakuten">3,058</span>円/月～</td>
                        <td><span class="c-Txt_Emp-02"><span class="product-iphone-Fee_Table-15-price-rakuten">167,800</span>円</span><br>48回払い:<br><span class="product-iphone-Fee_Table-15-normal-rakuten">3,495</span>円/月～</td>
                        <td><span class="c-Txt_Emp-02"><span class="product-iphone-Fee_Table-15-price-rakuten">204,800</span>円</span><br>48回払い:<br><span class="product-iphone-Fee_Table-15-normal-rakuten">4,266</span>円/月～</td>
                      </tr>
                      <tr>
                        <th scope="row">ソフトバンク</th>
                        <td><span class="product-iphone-Fee_Table-15-price">163,440</span>円</td>
                        <td><span class="product-iphone-Fee_Table-15-price">184,320</span>円</td>
                        <td><span class="product-iphone-Fee_Table-15-price">224,640</span>円</td>
                      </tr>
                      <tr>
                        <th scope="row">au</th>
                        <td><span class="product-iphone-Fee_Table-15-price">163,490</span>円</td>
                        <td><span class="product-iphone-Fee_Table-15-price">184,850</span>円</td>
                        <td><span class="product-iphone-Fee_Table-15-price">225,360</span>円</td>
                      </tr>
                      <tr>
                        <th scope="row">NTTドコモ</th>
                        <td><span class="product-iphone-Fee_Table-15-price">168,740</span>円</td>
                        <td><span class="product-iphone-Fee_Table-15-price">190,080</span>円</td>
                        <td><span class="product-iphone-Fee_Table-15-price">230,890</span>円</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="product-iphone-Fee_Btn u-Adjust_Pt-16">
                <a href="<%= sitepath %>product/iphone/iphone-15-plus/?l-id=iphone_fee_iphone-15-plus" class="c-Btn_Regular">詳細を見る</a>
                <a data-ratid="iphone_fee_iphone-15-plus_bss_iphone-15-plus" data-ratevent="click" data-ratparam="all" href="https://onboarding.mobile.rakuten.co.jp/equipment-details?exid=600687&selectAvailable=true" class="c-Btn_Primary">購入する</a>
              </div>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※ 2024年3月27日時点。NTTドコモ、au、ソフトバンクの公式オンラインのiPhone本体代金との比較。</p>
            </div>
          </div>
        </div>

        <div class="u-Bg_White u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
          <div class="product-iphone-Fee_Media">
            <div>
              <h2 class="product-iphone-Fee_Product-name" id="iphone_15">iPhone 15</h2>
              <figure class="u-Adjust_Mt-pc-16">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/fee/thumb-iphone15-sp.png" width="311" height="161">
                  <img src="<%= sitepath %>assets/img/product/iphone/fee/thumb-iphone15-pc.png" alt="iPhone 15 Plus（アイフォン フィフティーン）" width="256" height="169">
                </picture>
              </figure>
            </div>
            <div>
              <div class="c-Table_Wrap-scroll product-iphone-Fee_Table-wrap">
                <div class="u-Align_Llc">
                  <p class="product-iphone-Fee_Table-txt"><span>例えば、128GBは<span class="c-Txt_Emp-02">最大17,690円</span><span class="c-Txt_Emp-01">安い</span><span class="c-Txt_Cap">※</span></span></p>
                </div>
                <div class="js-Scrollable u-Adjust_Mt-8">
                  <table class="c-Table_Container product-iphone-Fee_Table-15 product-iphone-Fee_Table-15-normal-mini">
                    <thead>
                      <tr>
                        <th><span class="product-iphone-Fee_Table-15-normal">容量</span></th>
                        <th scope="col">128GB</th>
                        <th scope="col">256GB</th>
                        <th scope="col">512GB</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><span class="product-iphone-Fee_Table-15-lowest">最安値</span><br>楽天モバイル</th>
                        <td><span class="c-Txt_Emp-02"><span class="product-iphone-Fee_Table-15-price-rakuten">131,800</span>円</span><br>48回払い:<br><span class="product-iphone-Fee_Table-15-normal-rakuten">2,745</span>円/月～</td>
                        <td><span class="c-Txt_Emp-02"><span class="product-iphone-Fee_Table-15-price-rakuten">153,800</span>円</span><br>48回払い:<br><span class="product-iphone-Fee_Table-15-normal-rakuten">3,204</span>円/月～</td>
                        <td><span class="c-Txt_Emp-02"><span class="product-iphone-Fee_Table-15-price-rakuten">187,800</span>円</span><br>48回払い:<br><span class="product-iphone-Fee_Table-15-normal-rakuten">3,912</span>円/月～</td>
                      </tr>
                      <tr>
                        <th scope="row">ソフトバンク</th>
                        <td><span class="product-iphone-Fee_Table-15-price">142,920</span>円</td>
                        <td><span class="product-iphone-Fee_Table-15-price">166,320</span>円</td>
                        <td><span class="product-iphone-Fee_Table-15-price">206,640</span>円</td>
                      </tr>
                      <tr>
                        <th scope="row">au</th>
                        <td><span class="product-iphone-Fee_Table-15-price">145,640</span>円</td>
                        <td><span class="product-iphone-Fee_Table-15-price">166,780</span>円</td>
                        <td><span class="product-iphone-Fee_Table-15-price">206,930</span>円</td>
                      </tr>
                      <tr>
                        <th scope="row">NTTドコモ</th>
                        <td><span class="product-iphone-Fee_Table-15-price">149,490</span>円</td>
                        <td><span class="product-iphone-Fee_Table-15-price">172,040</span>円</td>
                        <td><span class="product-iphone-Fee_Table-15-price">212,300</span>円</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="product-iphone-Fee_Btn u-Adjust_Pt-16">
                <a href="<%= sitepath %>product/iphone/iphone-15/?l-id=iphone_fee_iphone-15" class="c-Btn_Regular">詳細を見る</a>
                <a data-ratid="iphone_fee_iphone-15_bss_iphone-15" data-ratevent="click" data-ratparam="all" href="https://onboarding.mobile.rakuten.co.jp/equipment-details?exid=600672&selectAvailable=true" class="c-Btn_Primary">購入する</a>
              </div>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※ 2024年3月27日時点。NTTドコモ、au、ソフトバンクの公式オンラインのiPhone本体代金との比較。</p>
            </div>
          </div>
        </div>

        <div class="u-Bg_White u-Adjust_Mt-16 u-Adjust_Mt-pc-24" data-ratid="iphone_fee_scroll-01-2_product-middle" data-ratevent="appear" data-ratparam="all">
          <div class="product-iphone-Fee_Media">
            <div>
              <h2 class="product-iphone-Fee_Product-name" id="iphone_14_plus">iPhone 14 Plus</h2>
              <figure class="u-Adjust_Mt-pc-16">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/fee/thumb-iphone14plus-sp.png" width="311" height="161">
                  <img src="<%= sitepath %>assets/img/product/iphone/fee/thumb-iphone14plus-pc.png" alt="iPhone 14 Plus（アイフォン フォーティーン プラス）" width="256" height="169">
                </picture>
              </figure>
            </div>
            <div>
              <div class="c-Table_Wrap-scroll product-iphone-Fee_Table-wrap">
                <div class="u-Align_Llc">
                  <p class="product-iphone-Fee_Table-txt"><span>例えば、128GBは<span class="c-Txt_Emp-02">最大22,280円</span><span class="c-Txt_Emp-01">安い</span><span class="c-Txt_Cap">※</span></span></p>
                </div>
                <div class="js-Scrollable u-Adjust_Mt-8">
                  <table class="c-Table_Container product-iphone-Fee_Table-14 product-iphone-Fee_Table-14-normal-mini">
                    <thead>
                      <tr>
                        <th><span class="product-iphone-Fee_Table-14-normal">容量</span></th>
                        <th scope="col">128GB</th>
                        <th scope="col">256GB</th>
                        <th scope="col">512GB</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><span class="product-iphone-Fee_Table-14-lowest">最安値</span><br>楽天モバイル</th>
                        <td><span class="c-Txt_Emp-02"><span class="product-iphone-Fee_Table-14-price-rakuten">135,900</span>円</span><br>48回払い:<br><span class="product-iphone-Fee_Table-14-normal-rakuten">2,831</span>円/月～</td>
                        <td><span class="c-Txt_Emp-02"><span class="product-iphone-Fee_Table-14-price-rakuten">150,900</span>円</span><br>48回払い:<br><span class="product-iphone-Fee_Table-14-normal-rakuten">3,143</span>円/月～</td>
                        <td><span class="c-Txt_Emp-02"><span class="product-iphone-Fee_Table-14-price-rakuten">180,900</span>円</span><br>48回払い:<br><span class="product-iphone-Fee_Table-14-normal-rakuten">3,768</span>円/月～</td>
                      </tr>
                      <tr>
                        <th scope="row">ソフトバンク</th>
                        <td><span class="product-iphone-Fee_Table-14-price">149,760</span>円</td>
                        <td><span class="product-iphone-Fee_Table-14-price">167,760</span>円</td>
                        <td><span class="product-iphone-Fee_Table-14-price">202,320</span>円</td>
                      </tr>
                      <tr>
                        <th scope="row">au</th>
                        <td><span class="product-iphone-Fee_Table-14-price">-</span></td>
                        <td><span class="product-iphone-Fee_Table-14-price">-</span></td>
                        <td><span class="product-iphone-Fee_Table-14-price">-</span></td>
                      </tr>
                      <tr>
                        <th scope="row">NTTドコモ</th>
                        <td><span class="product-iphone-Fee_Table-14-price">158,180</span>円</td>
                        <td><span class="product-iphone-Fee_Table-14-price">179,520</span>円</td>
                        <td><span class="product-iphone-Fee_Table-14-price">220,330</span>円</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="product-iphone-Fee_Btn u-Adjust_Pt-16">
                <a href="<%= sitepath %>product/iphone/iphone-14-plus/?l-id=iphone_fee_iphone_iphone-14-plus" class="c-Btn_Regular">詳細を見る</a>
                <a data-ratid="iphone_fee_iphone-14-plus_bss_iphone-14-plus" data-ratevent="click" data-ratparam="all" href="https://onboarding.mobile.rakuten.co.jp/equipment-details?exid=600636&selectAvailable=true" class="c-Btn_Primary">購入する</a>
              </div>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※ 2024年3月27日時点。NTTドコモ、au、ソフトバンクの公式オンラインのiPhone本体代金との比較。</p>
            </div>
          </div>
        </div>

        <div class="u-Bg_White u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
          <div class="product-iphone-Fee_Media">
            <div>
              <h2 class="product-iphone-Fee_Product-name" id="iphone_14">iPhone 14</h2>
              <figure class="u-Adjust_Mt-pc-16">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/fee/thumb-iphone14-sp.png" width="311" height="161">
                  <img src="<%= sitepath %>assets/img/product/iphone/fee/thumb-iphone14-pc.png" alt="iPhone 14（アイフォン フォーティーン）" width="256" height="169">
                </picture>
              </figure>
            </div>
            <div>
              <div class="c-Table_Wrap-scroll product-iphone-Fee_Table-wrap">
                <div class="u-Align_Llc">
                  <p class="product-iphone-Fee_Table-txt"><span>例えば、128GBは<span class="c-Txt_Emp-02">最大7,100円</span><span class="c-Txt_Emp-01">安い</span><span class="c-Txt_Cap">※</span></span></p>
                </div>
                <div class="js-Scrollable u-Adjust_Mt-8">
                  <table class="c-Table_Container product-iphone-Fee_Table-14 product-iphone-Fee_Table-14-normal-mini">
                    <thead>
                      <tr>
                        <th><span class="product-iphone-Fee_Table-14-normal">容量</span></th>
                        <th scope="col">128GB</th>
                        <th scope="col">256GB</th>
                        <th scope="col">512GB</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><span class="product-iphone-Fee_Table-14-lowest">最安値</span><br>楽天モバイル</th>
                        <td><span class="c-Txt_Emp-02"><span class="product-iphone-Fee_Table-14-price-rakuten">120,800</span>円</span><br>48回払い:<br><span class="product-iphone-Fee_Table-14-normal-rakuten">2,516</span>円/月～</td>
                        <td><span class="c-Txt_Emp-02"><span class="product-iphone-Fee_Table-14-price-rakuten">135,900</span>円</span><br>48回払い:<br><span class="product-iphone-Fee_Table-14-normal-rakuten">2,831</span>円/月～</td>
                        <td><span class="c-Txt_Emp-02"><span class="product-iphone-Fee_Table-14-price-rakuten">165,900</span>円</span><br>48回払い:<br><span class="product-iphone-Fee_Table-14-normal-rakuten">3,456</span>円/月～</td>
                      </tr>
                      <tr>
                        <th scope="row">ソフトバンク</th>
                        <td><span class="product-iphone-Fee_Table-14-price">127,440</span>円</td>
                        <td><span class="product-iphone-Fee_Table-14-price">-</span></td>
                        <td><span class="product-iphone-Fee_Table-14-price">-</span></td>
                      </tr>
                      <tr>
                        <th scope="row">au</th>
                        <td><span class="product-iphone-Fee_Table-14-price">127,900</span>円</td>
                        <td><span class="product-iphone-Fee_Table-14-price">-</span></td>
                        <td><span class="product-iphone-Fee_Table-14-price">-</span></td>
                      </tr>
                      <tr>
                        <th scope="row">NTTドコモ</th>
                        <td><span class="product-iphone-Fee_Table-14-price">124,465</span>円</td>
                        <td><span class="product-iphone-Fee_Table-14-price">161,480</span>円</td>
                        <td><span class="product-iphone-Fee_Table-14-price">201,740</span>円</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="product-iphone-Fee_Btn u-Adjust_Pt-16">
                <a href="<%= sitepath %>product/iphone/iphone-14/?l-id=iphone_fee_iphone_iphone-14" class="c-Btn_Regular">詳細を見る</a>
                <a data-ratid="iphone_fee_iphone-14_bss_iphone-14" data-ratevent="click" data-ratparam="all" href="https://onboarding.mobile.rakuten.co.jp/equipment-details?exid=600633&selectAvailable=true" class="c-Btn_Primary">購入する</a>
              </div>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※ 2024年3月27日時点。NTTドコモ、au、ソフトバンクの公式オンラインのiPhone本体代金との比較。</p>
            </div>
          </div>
        </div>

        <div class="u-Bg_White u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
          <div class="product-iphone-Fee_Media">
            <div>
              <h2 class="product-iphone-Fee_Product-name" id="iphone_13">iPhone 13</h2>
              <figure class="u-Adjust_Mt-pc-16">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/fee/thumb-iphone13-sp.png" width="311" height="161">
                  <img src="<%= sitepath %>assets/img/product/iphone/fee/thumb-iphone13-pc.png" alt="iPhone 13（アイフォン サーティーン）" width="256" height="169">
                </picture>
              </figure>
            </div>
            <div>
              <div class="c-Table_Wrap-scroll product-iphone-Fee_Table-wrap">
                <div class="u-Align_Llc">
                  <p class="product-iphone-Fee_Table-txt"><span>例えば、128GBは<span class="c-Txt_Emp-02">最大6,500円</span><span class="c-Txt_Emp-01">安い</span><span class="c-Txt_Cap">※</span></span></p>
                </div>
                <div class="js-Scrollable u-Adjust_Mt-8">
                  <table class="c-Table_Container product-iphone-Fee_Table-13 product-iphone-Fee_Table-13-normal-mini">
                    <thead>
                      <tr>
                        <th><span class="product-iphone-Fee_Table-13-normal">容量</span></th>
                        <th scope="col">128GB</th>
                        <th scope="col">256GB</th>
                        <th scope="col">512GB</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><span class="product-iphone-Fee_Table-13-lowest">最安値</span><br>楽天モバイル</th>
                        <td><span class="c-Txt_Emp-02"><span class="product-iphone-Fee_Table-13-price-rakuten">108,700</span>円</span><br>48回払い:<br><span class="product-iphone-Fee_Table-13-normal-rakuten">2,264</span>円/月～</td>
                        <td><span class="c-Txt_Emp-02"><span class="product-iphone-Fee_Table-13-price-rakuten">123,900</span>円</span><br>48回払い:<br><span class="product-iphone-Fee_Table-13-normal-rakuten">2,581</span>円/月～</td>
                        <td><span class="c-Txt_Emp-02"><span class="product-iphone-Fee_Table-13-price-rakuten">153,910</span>円</span><br>48回払い:<br><span class="product-iphone-Fee_Table-13-normal-rakuten">3,206</span>円/月～</td>
                      </tr>
                      <tr>
                        <th scope="row">ソフトバンク</th>
                        <td><span class="product-iphone-Fee_Table-13-price">115,200</span>円</td>
                        <td><span class="product-iphone-Fee_Table-13-price">-</span></td>
                        <td><span class="product-iphone-Fee_Table-13-price">-</span></td>
                      </tr>
                      <tr>
                        <th scope="row">au</th>
                        <td><span class="product-iphone-Fee_Table-13-price">-</span></td>
                        <td><span class="product-iphone-Fee_Table-13-price">-</span></td>
                        <td><span class="product-iphone-Fee_Table-13-price">-</span></td>
                      </tr>
                      <tr>
                        <th scope="row">NTTドコモ</th>
                        <td><span class="product-iphone-Fee_Table-13-price">110,209</span>円</td>
                        <td><span class="product-iphone-Fee_Table-13-price">158,180</span>円</td>
                        <td><span class="product-iphone-Fee_Table-13-price">199,430</span>円</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="product-iphone-Fee_Btn u-Adjust_Pt-16">
                <a href="<%= sitepath %>product/iphone/iphone-13/?l-id=iphone_fee_iphone_iphone-13" class="c-Btn_Regular">詳細を見る</a>
                <a data-ratid="iphone_fee_iphone-13_bss_iphone-13" data-ratevent="click" data-ratparam="all" href="https://onboarding.mobile.rakuten.co.jp/equipment-details?exid=600121&selectAvailable=true" class="c-Btn_Primary">購入する</a>
              </div>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※ 2024年3月27日時点。NTTドコモ、au、ソフトバンクの公式オンラインのiPhone本体代金との比較。</p>
            </div>
          </div>
        </div>

        <div class="u-Bg_White u-Adjust_Mt-16 u-Adjust_Mt-pc-24">
          <div class="product-iphone-Fee_Media">
            <div>
              <h2 class="product-iphone-Fee_Product-name" id="iphone_13_se3rd">iPhone SE（第3世代）</h2>
              <figure class="u-Adjust_Mt-pc-16">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/product/iphone/fee/thumb-iphonese3rd-sp.png" width="311" height="161">
                  <img src="<%= sitepath %>assets/img/product/iphone/fee/thumb-iphonese3rd-pc.png" alt="iPhone SE（第３世代）（アイフォン エスイー ダイサンセダイ）" width="256" height="169">
                </picture>
              </figure>
            </div>
            <div>
              <div class="c-Table_Wrap-scroll product-iphone-Fee_Table-wrap">
                <div class="u-Align_Llc">
                  <p class="product-iphone-Fee_Table-txt"><span>例えば、64GBは<span class="c-Txt_Emp-02">最大9,440円</span><span class="c-Txt_Emp-01">安い</span><span class="c-Txt_Cap">※</span></span></p>
                </div>
                <div class="js-Scrollable u-Adjust_Mt-8">
                  <table class="c-Table_Container product-iphone-Fee_Table-13 product-iphone-Fee_Table-13-normal-mini">
                    <thead>
                      <tr>
                        <th><span class="product-iphone-Fee_Table-13-normal">容量</span></th>
                        <th scope="col">64GB</th>
                        <th scope="col">128GB</th>
                        <th scope="col">256GB</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><span class="product-iphone-Fee_Table-13-lowest">最安値</span><br>楽天モバイル</th>
                        <td><span class="c-Txt_Emp-02"><span class="product-iphone-Fee_Table-13-price-rakuten">64,000</span>円</span><br>48回払い:<br><span class="product-iphone-Fee_Table-13-normal-rakuten">1,333</span>円/月～</td>
                        <td><span class="c-Txt_Emp-02"><span class="product-iphone-Fee_Table-13-price-rakuten">70,900</span>円</span><br>48回払い:<br><span class="product-iphone-Fee_Table-13-normal-rakuten">1,477</span>円/月～</td>
                        <td><span class="c-Txt_Emp-02"><span class="product-iphone-Fee_Table-13-price-rakuten">85,900</span>円</span><br>48回払い:<br><span class="product-iphone-Fee_Table-13-normal-rakuten">1,789</span>円/月～</td>
                      </tr>
                      <tr>
                        <th scope="row">ソフトバンク</th>
                        <td><span class="product-iphone-Fee_Table-13-price">73,440</span>円</td>
                        <td><span class="product-iphone-Fee_Table-13-price">81,360</span>円</td>
                        <td><span class="product-iphone-Fee_Table-13-price">99,360</span>円</td>
                      </tr>
                      <tr>
                        <th scope="row">au</th>
                        <td><span class="product-iphone-Fee_Table-13-price">70,935</span>円</td>
                        <td><span class="product-iphone-Fee_Table-13-price">82,190</span>円</td>
                        <td><span class="product-iphone-Fee_Table-13-price">103,415</span>円</td>
                      </tr>
                      <tr>
                        <th scope="row">NTTドコモ</th>
                        <td><span class="product-iphone-Fee_Table-13-price">73,370</span>円</td>
                        <td><span class="product-iphone-Fee_Table-13-price">82,280</span>円</td>
                        <td><span class="product-iphone-Fee_Table-13-price">104,500</span>円</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="product-iphone-Fee_Btn u-Adjust_Pt-16">
                <a href="<%= sitepath %>product/iphone/iphone-se-3rd/?l-id=iphone_fee_iphone_iphone-se-3rd" class="c-Btn_Regular">詳細を見る</a>
                <a data-ratid="iphone_fee_iphone-se-3rd_bss_iphone-se-3rd" data-ratevent="click" data-ratparam="all" href="https://onboarding.mobile.rakuten.co.jp/equipment-details?exid=600352&selectAvailable=true" class="c-Btn_Primary">購入する</a>
              </div>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※ 2024年3月27日時点。NTTドコモ、au、ソフトバンクの公式オンラインのiPhone本体代金との比較。</p>
            </div>
          </div>
        </div>

        <div class="u-Adjust_Align-center u-Adjust_Mt-32">
          <h3 class="c-Heading_Lv4">スペックを比較したい方はこちら</h3>
          <div class="u-Adjust_Mt-16">
            <a href="<%= sitepath %>product/iphone/comparison/?l-id=product_iphone_fee_product_iphone_comparison" class="c-Btn_Regular product-iphone-Fee_Btn-comparison">iPhone を比較する</a>
          </div>
        </div>
      </div>
    </div>

    <div data-ratid="iphone_fee_scroll-02_product_list" data-ratevent="appear" data-ratparam="all">
      <%- include('/include/product/iphone/_iphone-list', { l_id: 'product_iphone_fee', comparison:false }) %>
    </div>

    <div class="l-System_Container u-Adjust_Mt-48 u-Adjust_Mb-64">

      <!-- 過去キャンペーン -->
      <div class="c-Accordion" id="campaign-rule-old">
        <button id="accordion-001" class="c-Accordion_Trigger js-Accordion_Trigger un-limit-Layout_Accordion-trigger" aria-expanded="false" aria-controls="accordion-content-001"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>過去のキャンペーンルール</button>
        <div id="accordion-content-001" class="c-Accordion_Panel js-Accordion_Panel un-limit-Layout_Accordion-qapanel u-Adjust_Pt-32" role="region" aria-labelledby="accordion-001" aria-hidden="true" style="display:none;">

          <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1592', level: 'h2', year: '2023', class: 'u-Adjust_Mt-24' }}) %>

        </div>
      </div>

    </div>

    <div class="product-top-Layout_Main">
      <div class="l-System_Container">
        <div class="iphone-top-Shop_Reservation u-Adjust_Mt-8">
          <p class="c-Txt_Normal-l c-Txt_Emp-01">オンラインで予約して<br>ショップで製品受け取り</p>
          <div class="iphone-top-Shop_Reservation-btn u-Adjust_Pt-8">
            <a href="<%= sitepath %>shop/?l-id=product_iphone_fee_shop" class="c-Btn_Secondly-large">来店予約をする</a>
          </div>
        </div>
      </div>
    </div>

    <div class="u-Bg_Monotone97">
      <%- include('/include/product/iphone/_equipment.ejs', { l_id: 'product_iphone_fee' }) %>
    </div>

    <div data-ratid="iphone_fee_scroll-03_option" data-ratevent="appear" data-ratparam="all">
      <%- include('/include/product/iphone/_recommend-v2.ejs', { l_id: 'product_iphone_fee', pbOff: true }) %>
    </div>
    <div class="l-System_Container u-Adjust_Mt-56 u-Adjust_Mb-64">
      <%- include('/include/service/check/_bnr', {lid: 'product_iphone_fee_service_check'}) %>
    </div>
    <%- include('/include/product/iphone/_chat') %>

    <footer class="g-Footer">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-product-top-v2.ejs') %>
        <%- include('/include/footer/bnr/_bnr.ejs') %>
        <%#- include('/faq/include/related-product.ejs') %>

      </div>
      <div class="l-System_Container">
        <%- include('/include/_breadcrumbs', {
          type: 'foot',
          pagetitle,
          directories,
        }) %>
      </div>
      <%- include('/include/_footer') %>

    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/product.iphone.fee.index.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
</body>

</html>
