<% const pagetitle = "楽天モバイルショップ 各種サービス申し込み用ページ" -%>
<% const directories = [{path:"shop/", label:"ショップ"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    keywords: '',
    noindex: true,
    pathname: filepath
  });
%>
<% const parentTiltle = "ショップ" -%>
<% const nameSpace = "shop" -%>

<%- include('/include/_common-css-v2') %>
<%- include('/include/shop/_category-css') %>
<style>
[aria-hidden="true"] {
  display: none;
}
</style>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<%- include('/include/_breadcrumbs', {
  type: 'head',
  pagetitle,
  directories,
}) %>

<div class="l-System_Container u-Adjust_Pb-64">
  <h1 class="c-Heading_Lv1 u-Adjust_Mt-24"><%= pagetitle %></h1>

  <p class="u-Adjust_Mt-16">申し込み実績を自店にカウントするために、以下の手順で各ページにアクセスしてください。</p>

  <ul class="c-List_Text-disc u-Adjust_Mt-16">
    <li>4桁の店舗コードを入力</li>
    <li>各種サービスのボタンをタップする</li>
  </ul>

  <div class="u-Adjust_Mt-32 u-Adjust_W-240"><input class="c-Form_Input" minlength="4" maxlength="4" name="" size="20" type="text" placeholder="店舗ID" aria-required="true" aria-hidden="true" id="input-shopid"></div>
  <div class="u-Adjust_Mt-8" id="txt-error"></div>

  <h2 class="u-Adjust_Mt-64 c-Heading_Lv2" id="txt-shopname"></h2>
  <div class="u-Adjust_Mt-8 c-Txt_Emp-02" id="txt-caution"></div>

  <div class="u-Adjust_Mt-32 u-Adjust_W-240">
    <a href="#" class="c-Btn_Primary" aria-hidden="true" id="btn-card" target="_blank">楽天カードページ</a>
  </div>
  <div class="u-Adjust_Mt-16 u-Adjust_W-240">
    <a href="#" class="c-Btn_Primary" aria-hidden="true" id="btn-bank" target="_blank">楽天銀行ページ</a>
  </div>

</div>


<footer class="g-Footer">

  <div class="l-System_Container">
    <%- include('/include/_breadcrumbs', {
      type: 'foot',
      pagetitle,
      directories,
    }) %>
  </div>

  <%- include('/include/_footer') %>

</footer>


</div>
<%- include('/include/_common-js') %>
<script type="text/javascript">
  $.when(
    $.ajax({
        url: "/assets/json/shop_collaboration_wholesale.json"
    }),
    $.ajax({
        url: "/assets/json/shop_collaboration_list_add.json"
    }),
  )
    .then(function (data, dataTmpShop) {
        const data_ws = data[0];
        const data_tmp_shop = dataTmpShop[0];

        $.ajax({
            url: "https://network.mobile.rakuten.co.jp/shopmaster-public/v1/shops"
            // url: "/assets/json/shop_dummy.json"
        })
        .then(function (data) {
            const $shopid = $('#input-shopid');
            const $shopname = $('#txt-shopname');
            const $error = $('#txt-error');
            const $caution = $('#txt-caution');
            const $btnCard = $('#btn-card');
            const $btnBank = $('#btn-bank');
            const linkCard = 'https://r10.to/hzhUbv';
            const linkBank = 'https://www.Rakuten-bank.co.jp/account/mno/shop';

            $shopid.attr('aria-hidden', 'false');

            $shopid.on('change', function(){
                const $this = $(this);
                let val = $this.val();

                $shopname.attr('aria-hidden', 'true');
                $btnCard.attr('aria-hidden', 'true');
                $btnBank.attr('aria-hidden', 'true');

                if (val.length === 4) {
                    // 臨時店舗検索
                    const hasCardTmpShop = (shop) => shop['カード'] === '1';
                    const hasBankTmpShop = (shop) => shop['銀行'] === '1';

                    for (const shop of data_tmp_shop) {
                      if (shop['店舗ID'] === val) {
                        $shopname.html(shop['店舗名']).attr('aria-hidden', 'false');
                        if (hasCardTmpShop(shop)) {
                          $btnCard.attr('href', linkCard).attr('aria-hidden', 'false');
                        }

                        if (hasBankTmpShop(shop)) {
                          $btnBank.attr('href', linkBank + '?SHOP_ID=' + shop['店舗ID']).attr('aria-hidden', 'false');
                        }

                        if (hasCardTmpShop(shop) || hasBankTmpShop(shop)) {
                          $caution.html('');
                        } else {
                          $caution.html('楽天カード、来店銀行の受付対象外店舗です');
                        }

                        $error.html('');

                        return
                      }
                    }

                    // ショップマスター登録店舗検索
                    for (let i = 0, len = data.length; i < len; i++) {
                        if (data[i].code === val) {
                            $shopname.html(data[i].name).attr('aria-hidden', 'false');
                            $btnCard.attr('href', linkCard).attr('aria-hidden', 'false');
                            $btnBank.attr('href', linkBank + '?SHOP_ID=' + data[i].code).attr('aria-hidden', 'false');
                            $error.html('');
                            $caution.html('');

                            for (let j = 0, len_ws = data_ws.length; j < len_ws; j++) {
                                if (data_ws[j]['店舗ID'] === val) {
                                    //$btnCard.attr('href', data_ws[j]['URL']);
                                    $btnCard.attr('aria-hidden', 'true');
                                    $btnBank.attr('aria-hidden', 'true');
                                    $caution.html('楽天カード、来店銀行の受付対象外店舗です');
                                    break;
                                }
                            }

                            break;
                        }
                        else {
                            $error.html('該当のショップが見つかりませんでした。');
                            $caution.html('');
                        }
                    }
                }
                else {
                    $error.html('半角数字4文字で入力してください');
                    $caution.html('');
                }
            });
        });
    });
</script>
<%- include('/include/_append-body') %>
</body>
</html>
