<% const pagetitle = "Rakuten Turbo 5G 交換機到着後の設定方法" -%>
<% const directories = [{path:"internet/turbo/support/", label:"お客様サポート"}, {path:"internet/turbo/support/product/", label:"製品"}, {path:"internet/turbo/support/product/rakuten-turbo5g/", label:"Rakuten Turbo 5G サポート情報"}] -%>
<% const namespace = "support-smallcategory" -%>
<%
  const pageInfo = {
    namespace,
    ancList: [
      {
        path: '#step01',
        name: 'STEP1. SIMカードを故障機から取り外す'
      },
      {
        path: '#step02',
        name: 'STEP2. SIMカードを交換機へ取り付ける',
      },
      {
        path: '#step03',
        name: 'STEP3. 交換機の初期設定を行う',
      }
    ],
    isUserCategory: false
  };
%>
<%-
 include('/_header', {
    pagetitle,
    directories,
    description: '楽天モバイルのホームルーターRakuten Turbo専用機器、Rakuten Turbo 5Gが故障した場合のSIMカードの取り外し／交換機への取り付け方法をご確認いただけます',
    noindex: false,
    pathname: filepath,
    isTurbo: true
  });
%>

<%- include('/include/_common-css-v2') %>
<%- include('/include/internet/turbo/support/_smallcategory-css') %>
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/internet/turbo/_prepend-body-internet') %>
  <div class="l-System">
    <%- include('/include/internet/turbo/_header', {
      pagetitle,
      directories,
      tax: false,
    }) %>

    <div class="l-System_Container">
      <section class="u-Adjust_Mt-32">
        <h1 class="c-Heading_Lv1 <%= namespace %>-Utility_Heading_Lv1"><%= pagetitle %></h1>
        <p class="u-Adjust_Mt-24">これまで使用していた製品からSIMカードを取り出して、交換機へ取り付ける方法をご確認いただけます。</p>
      </section>

      <section class="u-Adjust_Mt-64">
        <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">注意事項</h2>
        <p class="u-Adjust_Mt-16">
          SIMカードの取り外し／取り付けを行う際は、製品の電源を必ず切ってください。<br>
          また、製品にLANケーブルを接続しているときは、取り外してください。
        </p>
        <ul class="c-List_Text-disc u-Adjust_Mt-24">
          <li>Rakuten Turbo専用のSIMカードを他のスマートフォンやタブレットに取り付けないでください。</li>
          <li>製品が正常に動作しているときは、SIMカードの取り付け／取り外しはしないでください。</li>
        </ul>
      </section>
    </div>

    <div class="l-System c-Theme-Light u-Adjust_Mt-32 <%= namespace %>-Anchor">
      <div class="l-System_Container">
        <ul class="<%= namespace %>-Anchor_Area">
          <% pageInfo.ancList.forEach(function(item) { -%>
          <li>
            <a href="<%= item.path %>" class="js-scroll c-Link_Txt-icon-front" data-auto-rat="anchor"><span class="c-Icon_Arrow-down-l"></span><%= item.name %></a>
          </li>
          <% }); -%>
        </ul>
      </div>
    </div>

    <div class="l-System_Container">
      <section class="u-Adjust_Mt-48">
        <h2 id="step01" class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">STEP1. SIMカードを故障機から取り外す</h2>
        <ol class="c-Flow u-Adjust_Mt-24">
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">1. ミゾに指先をかけて、SIMカードスロットカバーを開く</h3>
            <div class="l-Media_Grid-reverse">
              <div>
                <ul class="c-List_Text-disc u-Adjust_Mt-16">
                  <li>SIMカードスロットカバーに刻印されている文字が読める向きにして、製品を横向きに置いてください。</li>
                </ul>
              </div>
              <div class="l-Media_Image">
                <p class="u-Adjust_Align-center u-Adjust_Mt-24">
                  <img src="<%= sitepath %>assets/img/internet/turbo/support/product/rakuten-turbo5g/setup/img-01.png" alt="1. ミゾに指先をかけて、SIMカードスロットカバーを開く" width="328" height="190">
                </p>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">2. カードスロットに入っているSIMカードを押し込む</h3>
            <div class="l-Media_Grid-reverse">
              <div>
                <ul class="c-List_Text-disc u-Adjust_Mt-16">
                  <li>SIMカードを「カチッ」と音がするまで押し込んでください。指を離すと、SIMカードが手前に出てきます。</li>
                  <li>押し込んだ指を勢いよく離すと、SIMカードが飛び出る恐れがあります。ゆっくりと指をSIMカードから離してください。</li>
                </ul>
              </div>
              <div class="l-Media_Image">
                <p class="u-Adjust_Align-center u-Adjust_Mt-24">
                  <img src="<%= sitepath %>assets/img/internet/turbo/support/product/rakuten-turbo5g/setup/img-02.png" alt="2. カードスロットに入っているSIMカードを押し込む" width="328" height="190">
                </p>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">3. SIMカードを取り外す</h3>
            <div class="l-Media_Grid-reverse">
              <div></div>
              <div class="l-Media_Image">
                <p class="u-Adjust_Align-center u-Adjust_Mt-24">
                  <img src="<%= sitepath %>assets/img/internet/turbo/support/product/rakuten-turbo5g/setup/img-03.png" alt="3. SIMカードを取り外す" width="328" height="190">
                </p>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">4. <span class="c-Txt_Emp-02">○</span>部分を押し、SIMカードスロットカバーを閉じる</h3>
            <div class="l-Media_Grid-reverse">
              <div>
                <p class="u-Adjust_Mt-16 c-Txt_Cap">
                  ※SIMカードのIC（金属）部分を傷つけないようにご注意ください。<br>
                  ※取り外したSIMカードの紛失にご注意ください。
                </p>
              </div>
              <div class="l-Media_Image">
                <p class="u-Adjust_Align-center u-Adjust_Mt-24">
                  <img src="<%= sitepath %>assets/img/internet/turbo/support/product/rakuten-turbo5g/setup/img-04.png" alt="4. ○部分を押し、SIMカードスロットカバーを閉じる" width="328" height="190">
                </p>
              </div>
            </div>
          </li>
        </ol>
      </section>

      <section class="u-Adjust_Mt-64">
        <h2 id="step02" class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">STEP2. SIMカードを交換機へ取り付ける</h2>
        <ol class="c-Flow u-Adjust_Mt-24">
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">1. ミゾに指先をかけて、SIMカードスロットカバーを開く</h3>
            <div class="l-Media_Grid-reverse">
              <div>
                <ul class="c-List_Text-disc u-Adjust_Mt-16">
                  <li>SIMカードスロットカバーに刻印されている文字が読める向きにして、本製品を横向きに置いてください。</li>
                </ul>
              </div>
              <div class="l-Media_Image">
                <p class="u-Adjust_Align-center u-Adjust_Mt-24">
                  <img src="<%= sitepath %>assets/img/internet/turbo/support/product/rakuten-turbo5g/setup/img-01.png" alt="1. ミゾに指先をかけて、SIMカードスロットカバーを開く" width="328" height="190">
                </p>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">2. SIMカードのIC（金属）部分を下向きにして、カードスロットにまっすぐ差し込む</h3>
            <div class="l-Media_Grid-reverse">
              <div>
                <ul class="c-List_Text-disc u-Adjust_Mt-16">
                  <li>SIMカードの切り欠きを左側にして差し込んでください。</li>
                  <li>SIMカードを「カチッ」と音がするまで押し込んでください。</li>
                </ul>
              </div>
              <div class="l-Media_Image">
                <p class="u-Adjust_Align-center u-Adjust_Mt-24">
                  <img src="<%= sitepath %>assets/img/internet/turbo/support/product/rakuten-turbo5g/setup/img-05.png" alt="2. SIMカードのIC（金属）部分を下向きにして、カードスロットにまっすぐ差し込む" width="328" height="190">
                </p>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Heading_Lv3">3. <span class="c-Txt_Emp-02">○</span>部分を押して、SIMカードスロットカバーを閉じる</h3>
            <div class="l-Media_Grid-reverse">
              <div>
                <ul class="c-List_Text-disc u-Adjust_Mt-16">
                  <li>SIMカードのIC（金属）部分を傷つけないようにご注意ください。</li>
                  <li>SIMカードを本製品に無理に取り付けないでください。本製品／SIMカードの破損の原因になります。</li>
                </ul>
              </div>
              <div class="l-Media_Image">
                <p class="u-Adjust_Align-center u-Adjust_Mt-24">
                  <img src="<%= sitepath %>assets/img/internet/turbo/support/product/rakuten-turbo5g/setup/img-04.png" alt="3. ○部分を押して、SIMカードスロットカバーを閉じる" width="328" height="190">
                </p>
              </div>
            </div>
          </li>
        </ol>
      </section>

      <section class="u-Adjust_Mt-64">
        <h2 id="step03" class="c-Heading_Lv2 <%= namespace %>-Utility_Heading_Lv2">STEP3. 交換機の初期設定を行う</h2>
        <p class="u-Adjust_Mt-16">製品の設置から接続までをご確認いただき、記載の手順にそって交換機の初期設定を行ってください。</p>
        <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>internet/turbo/support/setting/usage/" class="c-Link_Txt-inline">製品の設置から接続までを見る<span class="c-Icon_Chevron-right"></span></a></p>
      </section>
    </div>

    <section class="u-Adjust_Pt-80">
      <div class="<%= namespace %>-Layout_Category">
        <div class="l-System_Container">
          <%- include('/include/internet/turbo/support/_smallcategory-category', { pageInfo }) %>
        </div>
      </div>
    </section>

      <div class="u-Adjust_Mt-56">
        <!-- ReX UX Survey: Mounting point for embedded components -->
        <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
        <%- include('/include/internet/turbo/_footer', { directories, pagetitle }) %>
      </div>

  </div>
  <%- include('/include/_common-js') %>
  <%- include('/include/internet/turbo/support/_smallcategory-js') %>
  <%- include('/include/_append-body') %>
  <%- include('/include/internet/turbo/_rex-survey') %>

</body>

</html>
