<% const {namespace, stageEn, stageJa, point, stageId} = rankData -%>
<div class="l-System_Container <%= namespace %>-Card">
  <div class="<%= namespace %>-Card-title-<%= stageEn %>">
    <div class="<%= namespace %>-Card-title-inner c-Link_Txt-icon-front"><span><img src="/assets/img/hikari/common/icon-<%= stageEn %>.svg" alt="<%= stageJa %>会員アイコン"></span><%= stageJa %>会員様限定</div>
  </div>
  <div class="<%= namespace %>-Card-body u-Adjust_Mt-16">
    <div class="<%= namespace %>-Card-body-img">
      <picture>
        <source media="(max-width: 768px)" srcset="/assets/img/hikari/campaign/rank/img-<%= point %>-sp-01-b.png">
        <source srcset="/assets/img/hikari/campaign/rank/img-<%= point %>-pc-01-b.png">
        <img src="/assets/img/hikari/campaign/rank/img-<%= point %>-pc-01-b.png" width="609" alt="<%= point.toLocaleString() %>ポイントプレゼント">
      </picture>
    </div>
    <p class="<%= namespace %>-Card-body-cap c-Txt_Cap">※期間限定ポイントでの進呈。<a href="#rule" class="js-scroll" data-ratid="rhk_rank_<%= stageId %>_mno_rule_02" data-ratevent="click" data-ratparam="all">詳細条件を確認する</a></p>
  </div>
</div>
