<div id="modal" style="display:none;">
  <div class="modal__content">
    <div class="purchase-drilldown-list-radio">
      <% modalInfo.forEach((item, index) => { %>
        <div class="purchase-drilldown-question purchase-drilldown-question-<%= index %>" data-level="0" style="display: block;">
        <h3 class="c-Heading_Lv3"><%= item.question.title %></h3>

        <% if (item.question.type == 'color') { %>
          <h4 class="color-warning" style="display: none"><%= item.question.warning %></h4>
          <% if (item.question.upperinfo !== '') { %>
            <div class="purchase-drilldown-attention u-Adjust_Mt-8">
              <%- item.question.upperinfo %>
            </div>
          <% } %>
          <ul class="color-select question-select">
            <% item.question.select.forEach((content, count) => { %>
              <li>
                <% if (content.sub !== '') { %>
                  <p><%= content.sub %></p>
                <% } %>
                <label class="color-select-button">
                  <% if (content.disabled === true) { %>
                  <input type="radio" disabled name="faq_<%= index %>" value="<%= content.name %>" data-id="<%= content.id %>" data-level="1" data-is-answer="true" data-ratid="purchase-<%= item.question.value %>-<%= count %>" data-ratevent="click" data-ratparam="all">
                  <% } else if (content.checked === true) { %>
                  <input type="radio" checked name="faq_<%= index %>" value="<%= content.name %>" data-id="<%= content.id %>" data-level="1" data-is-answer="true" data-ratid="purchase-<%= item.question.value %>-<%= count %>" data-ratevent="click" data-ratparam="all">
                  <% } else { %>
                  <input type="radio" name="faq_<%= index %>" value="<%= content.name %>" data-id="<%= content.id %>" data-level="1" data-is-answer="true" data-ratid="purchase-<%= item.question.value %>-<%= count %>" data-ratevent="click" data-ratparam="all">
                  <% } %>

                  <% if (content.checked === true) { %>
                  <span class="question-color-button question-select-button-<%= index %>" aria-invalid="false" aria-selected="true" role="choice-<%= index %>" data-id="<%= content.id %>">
                  <% } else { %>
                  <span class="question-color-button question-select-button-<%= index %>" aria-invalid="false" aria-selected="false" role="choice-<%= index %>" data-id="<%= content.id %>">
                  <% } %>

                    <span>
                      <span style="background-color: <%= content.color %>"></span>
                      <span class="product-detail-Modal_Colorpanel-label"><%= content.name %></span>
                    </span>
                  </span>
                </label>
              </li>
            <% }) %>
          </ul>
          <% if (item.question.lowerinfo !== '') { %>
            <div class="purchase-drilldown-attention">
              <%- item.question.lowerinfo %>
            </div>
          <% } %>
        <% } else if(item.question.type == 'radio') { %>
          <h4 class="question-warning" style="display: none"><%= item.question.warning %></h4>
          <% if (item.question.upperinfo !== '') { %>
            <div class="purchase-drilldown-attention u-Adjust_Mt-8">
              <%- item.question.upperinfo %>
            </div>
          <% } %>
          <ul class="question-select">
            <% item.question.select.forEach((content, count) => { %>
              <li>
                <% if (content.sub !== '') { %>
                  <p><%= content.sub %></p>
                <% } %>
                <label class="c-Form_Radioblock">
                  <% if (content.disabled === true) { %>
                  <input type="radio" disabled name="faq_<%= index %>" value="<%= content.name %>" data-id="<%= content.id %>" data-level="1" data-is-answer="true" data-ratid="purchase-<%= item.question.value %>-<%= count %>" data-ratevent="click" data-ratparam="all">
                  <% } else if (content.checked === true) { %>
                    <% if (content.soldout !== '') { %>
                      <input type="radio" class="<%= content.soldout %> soldout" checked name="faq_<%= index %>" value="<%= content.name %>" data-id="<%= content.id %>" data-level="1" data-is-answer="true" data-ratid="purchase-<%= item.question.value %>-<%= count %>" data-ratevent="click" data-ratparam="all">
                    <% } else { %>
                      <input type="radio" checked name="faq_<%= index %>" value="<%= content.name %>" data-id="<%= content.id %>" data-level="1" data-is-answer="true" data-ratid="purchase-<%= item.question.value %>-<%= count %>" data-ratevent="click" data-ratparam="all">
                    <% } %>
                  <% } else { %>
                    <% if (content.soldout !== '') { %>
                      <input type="radio" class="<%= content.soldout %> soldout" name="faq_<%= index %>" value="<%= content.name %>" data-id="<%= content.id %>" data-level="1" data-is-answer="true" data-ratid="purchase-<%= item.question.value %>-<%= count %>" data-ratevent="click" data-ratparam="all">
                    <% } else { %>
                      <input type="radio" name="faq_<%= index %>" value="<%= content.name %>" data-id="<%= content.id %>" data-level="1" data-is-answer="true" data-ratid="purchase-<%= item.question.value %>-<%= count %>" data-ratevent="click" data-ratparam="all">
                    <% } %>
                  <% } %>

                  <% if (content.checked === true) { %>
                  <span class="c-Form_Radioblock-wrap question-select-button question-select-button-<%= index %>" aria-invalid="false" aria-selected="true" role="choice-<%= index %>">
                  <% } else { %>
                  <span class="c-Form_Radioblock-wrap question-select-button question-select-button-<%= index %>" aria-invalid="false" aria-selected="false" role="choice-<%= index %>">
                  <% } %>
                    <span class="c-Form_Radio-icon"></span>
                    <span class="c-Form_Radioblock-label"><%= content.name %></span>
                  </span>
                </label>
              </li>
            <% }) %>
          </ul>
          <% if (item.question.lowerinfo !== '') { %>
          <div class="purchase-drilldown-attention">
            <%- item.question.lowerinfo %>
          </div>
          <% } %>
        <% } %>
        </div>
      <% }) %>
    </div>
    <div class="purchase-drilldown-buy">
      <a>この内容で購入する</a>
    </div>
  </div>
  <button type="button" class="modaal-close" id="modaal-close" aria-label="Close (Press escape to close)"><span>Close</span></button>
</div>

