<% const {namespace, directory, relatedAccessory} = relatedAccessoryConf -%>
<% const componentNamespace = "product-detail-Carousel" -%>

<div class="<%= componentNamespace %> u-Adjust_Mt-48" id="relatedAccessory">
  <div class="l-System_Container <%= namespace %>_Carousel">
    <div id="accessory"></div>
    <div class="<%= componentNamespace %>_Wrapper u-Adjust_Pb-0">
      <h3 class="c-Heading_Lv3 u-Adjust_Align-center" data-ratid="" data-ratevent="appear">関連アクセサリ</h3>
      <div class="c-Carousel <%= componentNamespace %>_Wrap js-product-detail-Carousel-related u-Adjust_Mt-16">
        <%_ relatedAccessory.forEach(accessory => { _%>
          <a href="<%= sitepath %><%- accessory.url %>" class="c-Card_Normal <%= componentNamespace %>_Item">
            <div class="<%= componentNamespace %>_Flex">
              <div class="<%= componentNamespace %>_Img">
                <img src="<%= sitepath %><%- accessory.image %>" alt="<%- accessory.title %>">
              </div>
              <div class="<%= componentNamespace %>_Txt">
                <p class="<%= componentNamespace %>_Name"><%- accessory.title %></p>
              </div>
            </div>
            <div>
              <p class="<%= componentNamespace %>_Price"><span><%- accessory.price %></span>円</p>
            </div>
          </a>
        <%_ }); _%>
      </div>
      <div class="c-Carousel_Nav <%= componentNamespace %>_Nav <%= componentNamespace %>_Product_Nav-sp"></div>
    </div>
    <div class="<%= componentNamespace %>_Link u-Adjust_Mt-32 u-Adjust_Align-center">
      <a class="c-Btn_Regular" href="<%= sitepath %>product/accessory/smartphone-related/?l-id=product_<%= directory %>_accessory_smartphone-related">アクセサリ一覧を見る</a>
    </div>
  </div>
</div>
