<%_ const lid = typeof l_id === 'undefined' ? 'include_support_guide' : l_id _%>
<%_ const compatibleBandlid = lid === 'include_support_guide' ? 'include_support_product' : l_id _%>
<section class="c-Theme-Light">
  <div class="l-System_Container">
    <h3 class="c-Heading_Lv3">製品購入についてのサポート情報</h3>
    <ul class="u-Adjust_Mt-24 product-history-List">
      <li class="product-history-List_Item">
        <p class="product-history-List_Item_Txt">機種変更方法、データ移行やバックアップ手順をご案内</p>
        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/product/device-upgrade/?l-id=<%= lid %>_device-upgrade" class="c-Link_Txt-inline">楽天モバイルでの機種変更方法<span class="c-Icon_Chevron-right"></span></a></p>
      </li>
      <li class="product-history-List_Item">
        <p class="product-history-List_Item_Txt">製品を安全にご使用いただくためのご案内</p>
        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/product-safety/?l-id=include_support_guide_product-safety" class="c-Link_Txt-inline">スマートフォン、周辺機器などの使用に関するご注意<span class="c-Icon_Chevron-right"></span></a></p>
      </li>
      <li class="product-history-List_Item">
        <p class="product-history-List_Item_Txt">他社から乗り換えの場合に現在お使いの電話番号をそのままお使いいただける方法をご案内</p>
        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/mnp/?l-id=<%= lid %>_mnp" class="c-Link_Txt-inline">他社から乗り換え（MNP）<span class="c-Icon_Chevron-right"></span></a></p>
      </li>
      <li class="product-history-List_Item">
        <p class="product-history-List_Item_Txt">楽天モバイルで取り扱っている製品の他社回線での対応状況をご案内</p>
        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>product/compatible-band/?l-id=<%= compatibleBandlid %>_compatible-band" class="c-Link_Txt-inline">取り扱い製品の他社回線対応状況一覧<span class="c-Icon_Chevron-right"></span></a></p>
      </li>
    </ul>
  </div>
</section>
