<% const pagetitle = "Rakuten SAIKYO Plan (Price plan)" -%>
<% const sitetitle = "Top" -%>
<% const directories = [{path:"fee/saikyo-plan/", label:"Rakuten最強プラン（料金プラン）"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: "Enhance your SAIKYO Plan with new family benefits for unbeatable power! Best rates for 3GB or unlimited data with our family discount - LOWEST PRICE across all carriers. Enjoy up to 3GB for just 880 yen/mo. (968 yen incl. tax) or unlimited high-speed data for 2,880 yen/mo. (3,168 yen incl. tax). Perfect for families seeking top value and performance!",
    keywords: '',
    noindex: false,
    pathname: filepath,
    browseragent: true,
    isEnglish: true,
    hasHreflang: true,
  });
%>

<% const nameSpace = "saikyo-plan" -%>
<% const h1Txt = "Rakuten SAIKYO Plan (Price plan)" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/fee/un-limit/en/en.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/fee/saikyo-plan/saikyo-plan.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body class="en-Base <%= nameSpace %>-En_Mod-9">
<%- include('/include/_prepend-body') %>


<div class="l-System <%= nameSpace %>-Utility_Overflow-visible">

  <%- include('/include/_header') %>

  <div class="c-Breadcrumbs_Head">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <div class="en-Hero">
    <div class="en-Hero_Container">
      <h1>
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/en/hero-sp-240221.png" width="750" height="860">
          <img src="<%= sitepath %>assets/img/fee/saikyo-plan/en/hero-pc-240221.png" width="1440" height="440" alt="Now with added family benefits, making SAIKYO Plan even more powerful! Best deal for 3GB or unlimited data with the family discount – LOWEST PRICE across all carriers! 880 yen/mo. (968 yen incl. tax) up to 3GB, 2,880 yen/mo. (3,168 yen incl. tax) for unlimited high-speed data!">
        </picture>
      </h1>
    </div>
  </div>

  <%#- ほぼ日本語版と同じcssを共有しているのでcssの改修には気をつけてください 240221 ▼ここから %>
  <div class="l-System_Container" data-ratid="saikyo-plan_en_scroll-01_kv" data-ratevent="appear" data-ratparam="all">
    <p class="c-Txt_Cap u-Adjust_Mt-8">*1 Offer applies exclusively to the family discount without additional discounts. Surveyed by our company, as of February 2024.</p>
    <p class="c-Txt_Cap">*2 Speed may be restricted due to fair service provision or network environment.​</p>
    <div class="<%= nameSpace %>-Lead_Btn-wrapper u-Adjust_Mt-16 u-Adjust_Mt-pc-32">
      <div>
        <a href="https://onboarding.mobile.rakuten.co.jp/?l-id=fee_saikyo-plan-en_kv_onb&locale=en" class="c-Btn_Primary-large <%= nameSpace %>-Lead_Btn-custom">
          <span>Apply Here (New/MNP Transfer)</span>
        </a>
      </div>
      <div>
        <a href="<%= sitepath %>shop/en/?l-id=fee_saikyo-plan-en_shop_en" class="c-Btn_Secondly-large <%= nameSpace %>-Lead_Btn-custom">
          <span>Find a Shop Near You</span>
        </a>
      </div>
    </div>
    <div class="<%= nameSpace %>-Lead_Btn-wrapper u-Adjust_Mt-24 u-Adjust_Align-center">
      <div>
        <a href="<%= sitepath %>guide/application-support/?l-id=fee_saikyo-plan_en_guide_application-support02" class="c-Link_Txt-inline">
          Applying by Phone (only available in Japanese)<span class="c-Icon_Chevron-right"></span>
        </a>
      </div>
      <div>
        <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=En&campaign=web-rakuten&l-id=fee_saikyo-plan_en_ms&mno_migration=1" class="c-Link_Txt-inline">
          Migrating from Rakuten Mobile (using docomo or au line)<span class="c-Icon_Chevron-right"></span>
        </a>
      </div>
    </div>
  </div>

  <div class="<%= nameSpace %>-Pagenav_Wrapper u-Adjust_Mt-32" id="js-trigger">
    <div class="l-System_Container">
      <ul class="<%= nameSpace %>-Pagenav_Nav">
        <li data-ratid="saikyo-plan_en_scroll-02_index" data-ratevent="appear" data-ratparam="all">
          <a href="#price" class="js-scroll" data-ratid="saikyo-plan_en_click-01_price" data-ratevent="click" data-ratparam="all">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/en/reason-card-1-sp-240308.png" width="686" height="892">
              <img src="<%= sitepath %>assets/img/fee/saikyo-plan/en/reason-card-1-pc-240308.png" width="1032" height="327" loading="lazy" alt="Price & Data Communication: The powerful program arrives to boost family savings! With the family discount applied, 880 yen/mo. (968 yen incl. tax) for up to 3GB or 2,880 yen/mo. (3,168 yen incl. tax) for unlimited high-speed data. Without the family discount applied, 980 yen/mo. (1,078 yen incl. tax) for up to 3GB or 2,980 yen/mo. (3,278 yen incl. tax) for unlimited high-speed data.">
            </picture>
          </a>
        </li>
        <li>
          <a href="#call" class="js-scroll" data-ratid="saikyo-plan_en_click-02_call" data-ratevent="click" data-ratparam="all">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/en/reason-card-2-sp-240308.png" width="686" height="476">
              <img src="<%= sitepath %>assets/img/fee/saikyo-plan/en/reason-card-2-pc-240308.png" width="504" height="214" loading="lazy" alt="Calls: Free Domestic Calls With Rakuten Link App">
            </picture>
          </a>
        </li>
        <li>
          <a href="#benefits" class="js-scroll" data-ratid="saikyo-plan_en_click-03_benefits" data-ratevent="click" data-ratparam="all">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/en/reason-card-3-sp-240308.png" width="686" height="446">
              <img src="<%= sitepath %>assets/img/fee/saikyo-plan/en/reason-card-3-pc-240308.png" width="504" height="214" loading="lazy" alt="Rakuten Points: Earn 5x points every day at Rakuten Ichiba and pay your smartphone bill with points!">
            </picture>
          </a>
        </li>
        <li>
          <a href="#entertainment" class="js-scroll" data-ratid="saikyo-plan_en_click-04_entertainment" data-ratevent="click" data-ratparam="all">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/en/reason-card-4-sp-240308.png" width="686" height="517">
              <img src="<%= sitepath %>assets/img/fee/saikyo-plan/en/reason-card-4-pc-240308.png" width="504" height="214" loading="lazy" alt="Entertainment: Watch NBA & Pacific League at no additional cost!">
            </picture>
          </a>
        </li>
        <li>
          <a href="#overseas" class="js-scroll" data-ratid="saikyo-plan_en_click-05_overseas" data-ratevent="click" data-ratparam="all">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/en/reason-card-5-sp-240308.png" width="686" height="462">
              <img src="<%= sitepath %>assets/img/fee/saikyo-plan/en/reason-card-5-pc-240308.png" width="504" height="214" loading="lazy" alt="Overseas Use: 2GB Free monthly in more than 70 countries and regions *Counted toward your plan‘s data usage.">
            </picture>
          </a>
        </li>
      </ul>
      <p class="c-Txt_Cap u-Color_White <%= nameSpace %>-Pagenav_Nav-cap">
        *2 Speed may be restricted due to fair service provision or network environment.​
        *3 Some numbers excluded. ¥22/30s without Rakuten Link app.​
        *4 The maximum monthly point earning is 2,000 as time-limited points.
        *5 Campaigns can change or conclude without prior notice. Other conditions apply.
        *6 Excludes call charges and related fees. Speeds are capped at 128 kbps after 2GB. Coverage areas and conditions are subject to change.
        <a href="#anc_note" class="c-Link_Txt u-Color_White js-scroll">*Click here for more detailed conditions.</a>
      </p>
    </div>
  </div>

  <section id="price" class="l-System_Container u-Adjust_Pt-40 u-Adjust_Pb-40 <%= nameSpace %>-Appeal_Data">
    <h2 class="u-Adjust_Align-center" data-ratid="saikyo-plan_en_scroll-02_price" data-ratevent="appear" data-ratparam="all">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/en/data-ttl-sp.png" width="353" height="120">
        <img src="<%= sitepath %>assets/img/fee/saikyo-plan/en/data-ttl-pc.png" loading="lazy" width="500" height="83" alt="Price & Data Communication: One plan where your costs decrease as your usage does.">
      </picture>
    </h2>

    <div class="<%= nameSpace %>-Appeal_Data-tab u-Adjust_Mt-24 u-Adjust_Mt-pc-32">
      <div class="c-Tab js-Tab">
        <ul class="c-Tab_Items-bg" role="tablist">
          <li class="c-Tab_Item" id="tab-menu-data1" role="tab" aria-selected="true" aria-controls="tab-content-data1" data-ratid="saikyo-plan_en_click-06_saikyo-family-program" data-ratevent="click" data-ratparam="all">
            With the Family<br class="u-Show_Oox">
            Discount Applied
          </li>
          <li class="c-Tab_Item" id="tab-menu-data2" role="tab" aria-selected="false" aria-controls="tab-content-data2" data-ratid="saikyo-plan_en_click-07_normal" data-ratevent="click" data-ratparam="all">
            Without the Family<br class="u-Show_Oox">
            Discount Applied
          </li>
        </ul>
        <div class="c-Tab_Panel" id="tab-content-data1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu-data1">
          <p class="u-Adjust_Align-center u-Adjust_Pl-sp-16 u-Adjust_Pr-sp-16">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/en/data-tab1-img-sp-240508.png" width="686" height="764">
              <img src="<%= sitepath %>assets/img/fee/saikyo-plan/en/data-tab1-img-pc-240508.png" loading="lazy" width="1032" height="488" alt="With the family discount applied, 880 yen/mo. (968 yen incl. tax) for up to 3GB or 2,880 yen/mo. (3,168 yen incl. tax) for unlimited high-speed data.">
            </picture>
          </p>
        </div>
        <div class="c-Tab_Panel" id="tab-content-data2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu-data2">
          <p class="u-Adjust_Align-center u-Adjust_Pl-sp-16 u-Adjust_Pr-sp-16 <%= nameSpace %>-Appeal_Data-tab-mt">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/en/data-tab2-img-sp-240508.png" width="686" height="764">
              <img src="<%= sitepath %>assets/img/fee/saikyo-plan/en/data-tab2-img-pc-240508.png" loading="lazy" width="1032" height="467" alt="Unlimited data speed at unbeatably low prices even without the family discount applied, 980 yen/mo. (1,078 yen incl. tax) for up to 3GB or 2,980 yen/mo. (3,278 yen incl. tax) for unlimited high-speed data.">
            </picture>
          </p>
        </div>
      </div>
      <div class="u-Adjust_Mt-24 u-Adjust_Mt-pc-32 u-Adjust_Align-center <%= nameSpace %>-Appeal_Data-btn">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/en/youth-title-sp.png" width="235" height="68">
          <img src="<%= sitepath %>assets/img/fee/saikyo-plan/en/youth-title-pc.png" loading="lazy" width="456" height="34" alt="Boost Savings with Plans & Programs!">
        </picture>
        <div class="<%= nameSpace %>-Layout_Youth-content">
          <div class="<%= nameSpace %>-Layout_Youth-content-item">
            <img src="<%= sitepath %>assets/img/fee/saikyo-plan/en/family-balloon.png" class="<%= nameSpace %>-Layout_Youth-content-item-balloon" loading="lazy" width="158" height="41" alt="For a Family">
            <img src="<%= sitepath %>assets/img/fee/saikyo-plan/en/family-logo.png" class="<%= nameSpace %>-Layout_Youth-content-item-logo" loading="lazy" width="362" height="26" alt="SAIKYO FAMILY Program">
            <img src="<%= sitepath %>assets/img/fee/saikyo-plan/en/famliy-txt.png" class="<%= nameSpace %>-Layout_Youth-content-item-txt u-Adjust_Mt-16" loading="lazy" width="377" height="64" alt="Every family member saves ¥ 100 monthly (excl. tax)!">
            <a class="c-Btn_Regular <%= nameSpace %>-Layout_Youth-content-btn-en" href="<%= sitepath %>fee/family/en/?l-id=fee_saikyo-plan_en_family_en">Learn More</a>
          </div>
          <div class="<%= nameSpace %>-Layout_Youth-content-item">
            <img src="<%= sitepath %>assets/img/fee/saikyo-plan/en/youth-balloon.png" class="<%= nameSpace %>-Layout_Youth-content-item-balloon-second" loading="lazy" width="158" height="41" alt="For 22 or Under">
            <img src="<%= sitepath %>assets/img/fee/saikyo-plan/en/youth-logo.png" class="<%= nameSpace %>-Layout_Youth-content-item-logo" loading="lazy" width="401" height="26" alt="SAIKYO YOUTH Program U22">
            <img src="<%= sitepath %>assets/img/fee/saikyo-plan/en/youth-txt.png" class="<%= nameSpace %>-Layout_Youth-content-item-txt u-Adjust_Mt-16" loading="lazy" width="397" height="64" alt="Simply register to get 110 point rebates each month!">
            <a class="c-Btn_Regular <%= nameSpace %>-Layout_Youth-content-btn-en" href="<%= sitepath %>fee/youth/en/?l-id=fee_saikyo-plan_en_fee_youth_en">Learn More</a>
            <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Px-16">*Points are awarded as time-limited points after conditions are met, around two months in.</p>
          </div>
        </div>
      </div>
    </div>

    <section class="u-Adjust_Mt-40 u-Adjust_Mt-pc-56">
      <h3 class="c-Heading_Lv3 u-Adjust_Align-center">
        No Contract Administration<br class="u-Show_Oxx">
        Fee In-Store
      </h3>
      <div class="u-Adjust_Align-center u-Adjust_Mt-16">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/en/shop-transaction-sp-240221.png" width="686" height="324">
          <img src="<%= sitepath %>assets/img/fee/saikyo-plan/en/shop-transaction-pc-240221.png" width="1032" height="151" loading="lazy" alt="Contract Administration Fee In-Store(New/MNP transfer) docomo/au/SoftBank: 3,850 yen Rakuten Mobile: FREE">
        </picture>
      </div>
      <p class="c-Txt_Cap u-Adjust_Mt-16">
        *In-store procedures with docomo and SoftBank may incur administrative fees.
        *For SoftBank, brand transfer new contracts are exempt from fees due to campaign offers.
      </p>
    </section>

    <div class="u-Adjust_Mt-40 u-Adjust_Mt-sp-56 u-Adjust_Ml-pc-40 <%= nameSpace %>-Appeal_Oricon <%= nameSpace %>-En_Appeal-oricon">
      <div>
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/icon-oricon-sp-240412.png" width="104" height="111">
          <img src="<%= sitepath %>assets/img/fee/saikyo-plan/icon-oricon-pc-240412.png" width="122" height="129" loading="lazy" alt="">
        </picture>
      </div>
      <div>
        <p class="u-Adjust_Mt-pc-16 <%= nameSpace %>-Appeal_Oricon-title u-Align_Ccl">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/en/txt-oricon-sp-240412.png" width="686" height="390">
            <img src="<%= sitepath %>assets/img/fee/saikyo-plan/en/txt-oricon-pc-240412.png" width="672" height="111" loading="lazy" alt="No.1 for 3 years running in ORICON Customer Satisfaction® Survey ‘Mobile Carriers’ Price Plan/Cost Performance">
          </picture>
        </p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">
          *From 2021 to 2023, ORICON Customer Satisfaction® Survey: Ranked No. 1 in price plan of 'Mobile Carriers' Category.
        </p>
      </div>
    </div>

    <div class="u-Adjust_Mt-40 u-Adjust_Mt-pc-24 u-Adjust_Align-center">
      <div>
        <a href="<%= sitepath %>fee/saikyo-plan/detail/en/?l-id=fee_saikyo-plan_en_saikyo-plan-detail_en" class="c-Btn_Regular <%= nameSpace %>-Utility_Btn-regular-328">See Price Plan Details</a>
      </div>
      <div class="u-Adjust_Mt-16">
        <a href="#compareother" class="c-Link_Txt-icon-front js-scroll <%= nameSpace %>-Utility_Adjust-center-content" data-ratid="saikyo-plan_en_click-08_compare" data-ratevent="click" data-ratparam="all">
          <span class="c-Icon_Arrow-down-l"></span>Compare Plan Fees With Other Carriers
        </a>
      </div>
    </div>

    <div class="u-Adjust_Mt-40 u-Adjust_Mt-pc-56 <%= nameSpace %>-Layout_Areabnr <%= nameSpace %>-En_Layout-areabnr">
      <div class="<%= nameSpace %>-Layout_Areabnr-ttl" data-ratid="saikyo-plan_en_scroll-03_data" data-ratevent="appear" data-ratparam="all">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/en/areabnr-ttl-sp.png" width="622" height="239">
          <img src="<%= sitepath %>assets/img/fee/saikyo-plan/en/areabnr-ttl-pc.png" width="561" height="75" loading="lazy" alt="Enjoy unlimited high-speed data across Japan’s nationwide network!">
        </picture>
      </div>
      <div class="<%= nameSpace %>-Layout_Areabnr-img">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/en/areabnr-img-sp.png" width="682" height="632">
          <img src="<%= sitepath %>assets/img/fee/saikyo-plan/en/areabnr-img-pc.png" width="339" height="268" loading="lazy" alt="Achieved the industry’s highest network quality rating in the most regions. Population Coverage 99.9%">
        </picture>
      </div>
      <div class="<%= nameSpace %>-Layout_Areabnr-btn u-Adjust_Mt-16">
        <a href="<%= sitepath %>area/?l-id=saikyo-plan_en_area" class="c-Btn_Regular <%= nameSpace %>-Utility_Btn-regular-328">See Network Area</a>
      </div>
      <p class="c-Txt_Cap <%= nameSpace %>-Layout_Areabnr-cap u-Align_Ccl">
        *2 Speed may be restricted due to fair service<br class="u-Show_Oox">
        provision or network environment.​</p>
    </div>
    <p class="c-Txt_Cap u-Adjust_Mt-16 u-Adjust_Mt-pc-8">
      *Analysis based on Opensignal data as of August 2023. Achieved Rank 1 for "consistent quality" across 30 prefectures. See "<a href="#opensignal">About Opensignal Data</a>" section below for more.
      *7 As of September 2023. <a href="#anc_note">Click here for more detailed conditions.</a>
    </p>
  </section>

  <section id="call" class="<%= nameSpace %>-Appeal_Call">
    <div class="l-System_Container">
      <h2 class="u-Adjust_Align-center">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/en/call-ttl-sp.png" width="325" height="120">
          <img src="<%= sitepath %>assets/img/fee/saikyo-plan/en/call-ttl-pc.png" loading="lazy" width="776" height="83" alt="Calls: Free Domestic Calls With Rakuten Link App">
        </picture>
      </h2>
      <div class="u-Adjust_Mt-24 u-Adjust_Align-center <%= nameSpace %>-Appeal_Call-bnr <%= nameSpace %>-En_Appeal-call-bnr">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/en/call-img-sp.png" width="648" height="504">
          <img src="<%= sitepath %>assets/img/fee/saikyo-plan/en/call-img-pc.png" loading="lazy" width="1032" height="310" alt="Unlimited free domestic calls with Rakuten Link! Supports landline calls without affecting data usage, and shows your number as the caller ID.">
        </picture>
        <div class="<%= nameSpace %>-Appeal_Call-bnr-btn <%= nameSpace %>-En_Appeal-call-bnr-btn">
          <a href="<%= sitepath %>service/rakuten-link/en/?l-id=fee_saikyo-plan_en_service_rakuten-link_en" class="c-Btn_Regular <%= nameSpace %>-Utility_Btn-regular-328">
            Learn More About Rakuten Link
          </a>
        </div>
        <p class="c-Txt_Cap u-Adjust_Mt-16 <%= nameSpace %>-Appeal_Call-bnr-cap">
          *3 Some numbers excluded. ¥22/30s without Rakuten<br class="u-Show_Oxx">
          Link app.​
        </p>
      </div>
    </div>
  </section>

  <section id="benefits" class="<%= nameSpace %>-Appeal_Benefit">
    <div class="l-System_Container">
      <h2 class="u-Adjust_Align-center" data-ratid="saikyo-plan_en_scroll-04_point" data-ratevent="appear" data-ratparam="all">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/en/benefit-ttl-sp.png" width="335" height="128">
          <img src="<%= sitepath %>assets/img/fee/saikyo-plan/en/benefit-ttl-pc.png" loading="lazy" width="820" height="84" alt="Rakuten Points: Earn big and use your savings to pay your bill!">
        </picture>
      </h2>
      <div class="u-Adjust_Mt-40 u-Adjust_Align-center <%= nameSpace %>-Appeal_Benefit-point">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/en/benefit-point-sp.png" width="622" height="832">
          <img src="<%= sitepath %>assets/img/fee/saikyo-plan/en/benefit-point-pc.png" class="<%= nameSpace %>-Appeal_Benefit-point-img" loading="lazy" width="968" height="340" alt="Rakuten SAIKYO Plan subscriber can earn 5x points every day at Rakuten Ichiba">
        </picture>
        <div class="<%= nameSpace %>-Appeal_Benefit-point-btn <%= nameSpace %>-En_Appeal-benefit-point-btn">
          <div>
            <a href="<%= sitepath %>campaign/spu/?l-id=fee_saikyo-plan_en_campaign_spu" class="c-Btn_Regular <%= nameSpace %>-Utility_Btn-regular-328">
              Learn More About Boosting Points
            </a>
          </div>
          <p class="c-Txt_Cap u-Adjust_Mt-16 u-Adjust_Align-center">
            *Point accumulation has a cap.
          </p>
        </div>
      </div>
      <div class="u-Adjust_Mt-40 u-Adjust_Align-center <%= nameSpace %>-Appeal_Benefit-referral">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/en/benefit-referral-sp.png" width="686" height="2058">
          <img src="<%= sitepath %>assets/img/fee/saikyo-plan/en/benefit-referral-pc.png" class="<%= nameSpace %>-Appeal_Benefit-referral-img" loading="lazy" width="968" height="616" alt="Refer your family and friends and referred person will get 7,000 points for the first-time applicants, and 13,000 points for first-time applicants with MNP transfers. If you have a family of 6, you can get 100,000 points in total.">
        </picture>
        <div class="<%= nameSpace %>-Appeal_Benefit-referral-btn">
          <div>
            <a href="<%= sitepath %>campaign/referral/en/?l-id=fee_saikyo-plan_en_campaign_referral" class="c-Btn_Regular <%= nameSpace %>-Utility_Btn-regular-328">
              Learn More About Referral Campaign
            </a>
          </div>
          <p class="c-Txt_Cap u-Adjust_Mt-16 u-Adjust_Align-left">
            *Conditions include using the Rakuten Link app and not qualifying for the Rakuten SAIKYO Plan (Data Type). Points will be awarded in installments starting after the 4th month as time-limited points. *8 Applies to a family of 6, with 5 members joining through family referrals.
          </p>
        </div>
      </div>
      <div class="u-Adjust_Mt-40 u-Adjust_Align-center <%= nameSpace %>-Appeal_Benefit-pay">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/en/benefit-pay-sp-240308.png" width="622" height="686">
          <img src="<%= sitepath %>assets/img/fee/saikyo-plan/en/benefit-pay-pc-240308.png" class="<%= nameSpace %>-Appeal_Benefit-pay-img" loading="lazy" width="748" height="308" alt="Pay your bill with accumulated points and keep your bill at 0 yen">
        </picture>
        <div class="<%= nameSpace %>-Appeal_Benefit-pay-btn">
          <a href="<%= sitepath %>tips/zerotoku/?l-id=fee_saikyo-plan_en_tips_zerotoku" class="c-Btn_Regular <%= nameSpace %>-Utility_Btn-regular-328">
            How to Pay Nothing (¥0)
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="entertainment" class="<%= nameSpace %>-Appeal_Entertainment">
    <div class="l-System_Container">
      <h2 class="u-Adjust_Align-center" data-ratid="saikyo-plan_en_scroll-05_entertainment" data-ratevent="appear" data-ratparam="all">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/en/entertainment-ttl-sp.png" width="343" height="120">
          <img src="<%= sitepath %>assets/img/fee/saikyo-plan/en/entertainment-ttl-pc.png" loading="lazy" width="712" height="83" alt="Entertainment Get Discounted Entertainment Content!">
        </picture>
      </h2>
      <div class="u-Adjust_Mt-24 u-Adjust_Mt-pc-32">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/en/entertainment-img-sp-240401.png" width="686" height="1096">
          <img src="<%= sitepath %>assets/img/fee/saikyo-plan/en/entertainment-img-pc-240401.png" loading="lazy" width="1033" height="266" alt="Uncover amazing entertainment including NBA, Rakuten TV, Rakuten Music, Rakuten Magazine, and Youtube Premium">
        </picture>
      </div>
      <div class="u-Adjust_Mt-24 u-Adjust_Mt-pc-32 u-Adjust_Align-center">
        <a href="<%= sitepath %>campaign/digital-contents/en/?l-id=fee_saikyo-plan_en_campaign_digital-contents_en" class="c-Btn_Regular <%= nameSpace %>-Utility_Btn-regular-328">
          Learn More
        </a>
      </div>
      <p class="c-Txt_Cap u-Align_Llc u-Adjust_Mt-24">
        *Campaigns may change or conclude without prior notice.  *9 Five free hours of Rakuten Music every 30 days. *10 Exclusive to new users of services such as Youtube Premium.
      </p>
    </div>
  </section>

  <section id="overseas" class="<%= nameSpace %>-Appeal_Overseas">
    <div class="l-System_Container">
      <h2 class="u-Adjust_Align-center" data-ratid="saikyo-plan_en_scroll-06_overseas" data-ratevent="appear" data-ratparam="all">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/en/overseas-ttl-sp.png" width="325" height="154">
          <img src="<%= sitepath %>assets/img/fee/saikyo-plan/en/overseas-ttl-pc.png" loading="lazy" width="836" height="92" alt="Overseas Use Economize Abroad Without Extra Applications!">
        </picture>
      </h2>
      <div class="u-Adjust_Align-center u-Adjust_Mt-24 u-Adjust_Mt-pc-32">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/en/overseas-img-sp.png" width="686" height="1124">
          <img src="<%= sitepath %>assets/img/fee/saikyo-plan/en/overseas-img-pc.png" loading="lazy" width="1032" height="208" alt="In the applicable countries and regions, free high-speed data up to 2GB per a month. Free international calls to Japanese phone numbers are available with Rakuten Link app.">
        </picture>
      </div>
      <div class="u-Adjust_Mt-24 u-Adjust_Mt-pc-32 u-Adjust_Align-center">
        <a href="<%= sitepath %>service/global/overseas/en/?l-id=saikyo-plan_en_service_global_overseas_en" class="c-Btn_Regular <%= nameSpace %>-Utility_Btn-regular-328">
          Learn More
        </a>
      </div>
      <p class="c-Txt_Cap u-Align_Llc u-Adjust_Mt-24">
        *Separate setups for "my Rakuten Mobile" and your smartphone are required for overseas use.<br>
        *6 Includes up to 2GB free in select locations. Beyond 2GB, speed capped at 128kbps. Call and other charges not included. <a href="<%= sitepath %>service/global/overseas/en/?l-id=fee_saikyo-plan_en_service_global_overseas_en01#accordion-1" class="c-Link_Txt">Check coverage</a>.
      </p>
    </div>
  </section>

  <%#- ほぼ日本語版と同じcssを共有しているのでcssの改修には気をつけてください 240221 ▲ここまで %>

  <div class="u-Adjust_Mt-40 u-Adjust_Mt-pc-56">
    <div class="l-System_Container u-Adjust_Align-center" data-ratid="saikyo-plan_en_scroll-07_cpn-banners" data-ratevent="appear" data-ratparam="all">
      <h2 class="c-Heading_Lv2">Campaigns & Perks</h2>
      <p class="c-Txt_Cap">*Japanese only</p>
      <div class="c-Carousel js-Carousel-multi u-Adjust_Mt-24">
        <%- include('/include/_bnr-cpn-recommend-bnr.ejs') %>
      </div>
      <div class="c-Carousel_Nav-v2-wrap">
        <div class="c-Carousel_Nav-v2"></div>
        <div class="c-Carousel_Nav-v2-bar"></div>
      </div>
    </div>
  </div>

  <%#- ほぼ日本語版と同じcssを共有しているのでcssの改修には気をつけてください 240221 ▼ここから %>

  <div class="u-Adjust_Mt-40 u-Adjust_Mt-pc-32 <%= nameSpace %>-Layout_Cta">
    <div class="l-System_Container">
      <h4 class="u-Adjust_Align-center">Join Rakuten SAIKYO Plan now for enhanced benefits!</h4>
      <ul class="u-Adjust_Mt-16 u-Adjust_Align-center">
        <li>
          <a href="https://onboarding.mobile.rakuten.co.jp/?l-id=fee_saikyo-plan-en_application2_onb&locale=en" class="c-Btn_Primary <%= nameSpace %>-Layout_Cta-btn">
            <span>Apply Here (New/MNP Transfer)</span>
          </a>
        </li>
        <li>
          <a href="<%= sitepath %>shop/en/?l-id=fee_saikyo-plan-en_shop_en02" class="c-Btn_Secondly <%= nameSpace %>-Layout_Cta-btn">
            <span>Find a Shop Near You</span>
          </a>
        </li>
      </ul>
      <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <a href="<%= sitepath %>guide/application-support/?l-id=fee_saikyo-plan_en_guide_application-support03" class="c-Link_Txt-inline">
          Applying by Phone (only available in Japanese)<span class="c-Icon_Chevron-right"></span>
        </a>
      </div>
    </div>
  </div>

  <%#- ほぼ日本語版と同じcssを共有しているのでcssの改修には気をつけてください 240221 ▲ここまで %>

  <div class="u-Adjust_Align-center u-Adjust_Mt-32">
    <div class="l-System_Container">
      <a class="c-Banner_Hover-act" href="<%= sitepath %>guide/procedure/en/?l-id=fee_saikyo-plan_en_guide_procedure_en02">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-apply-guide-en-343-108.png" width="1029" height="324">
          <img src="<%= sitepath %>assets/img/bnr/bnr-apply-guide-en-1032-78.png" width="1032" height="78" loading="lazy" alt="No Worries for First-Timers! Step-by-Step Application Guide">
        </picture>
      </a>
    </div>
  </div>

  <%#- ほぼ日本語版と同じcssを共有しているのでcssの改修には気をつけてください 240221 ▼ここから %>

  <div class="u-Adjust_Mt-32 u-Adjust_Mt-pc-64">
    <%- include('/fee/saikyo-plan/en/parts/_compareother') %>
  </div>

  <%#- ほぼ日本語版と同じcssを共有しているのでcssの改修には気をつけてください 240221 ▲ここまで %>

<div id="products" class="u-Adjust_Mt-pc-56 en-Layout_Products <%= nameSpace %>-En_Mod-8">
  <div class="en-Layout_Head" data-ratid="saikyo-plan_en_scroll-09-products" data-ratevent="appear" data-ratparam="all">
    <img src="<%= sitepath %>assets/img/fee/un-limit/en/img-icon-product-head.png" alt="">
    <h2>Products</h2>
  </div>
  <div class="l-System_Container">
    <div class="en-Layout_Products-card">
      <h2 class="c-Heading_Lv2 u-Adjust_Align-center">iPhone / Apple Watch</h2>
      <div class="en-Card_2col">
        <a href="<%= sitepath %>product/iphone/?l-id=fee_saikyo-plan-en_product_iphone" class="c-Card_Normal">
          <img src="<%= sitepath %>assets/img/product/top/thumb-iphone-230913.png" alt="">
          <p class="en-Card_Name">iPhone</p>
        </a>
        <a href="<%= sitepath %>product/apple-watch/?l-id=fee_saikyo-plan-en_product_apple-watch" class="c-Card_Normal">
          <img src="<%= sitepath %>assets/img/product/top/thumb-watch-230913.png" alt="">
          <p class="en-Card_Name">Apple Watch</p>
        </a>
      </div>
      <h2 class="c-Heading_Lv2 u-Adjust_Mt-16 u-Adjust_Align-center">Smartphone / Android</h2>
      <div class="en-Card_2col">
        <a href="<%= sitepath %>product/rakuten/?l-id=fee_saikyo-plan-en_product_rakuten" class="c-Card_Normal">
          <img src="<%= sitepath %>assets/img/product/top/thumb-rakuten.png" alt="">
          <p class="en-Card_Name">Rakuten original</p>
        </a>
        <a href="<%= sitepath %>product/smartphone/?l-id=fee_saikyo-plan-en_product_smartphone" class="c-Card_Normal">
          <img src="<%= sitepath %>assets/img/product/top/thumb-android-231011.png" alt="">
          <p class="en-Card_Name">Android</p>
        </a>
      </div>
      <h2 class="c-Heading_Lv2 u-Adjust_Mt-16 u-Adjust_Align-center">Accessories / Others</h2>
      <div class="en-Card_2col">
        <a href="<%= sitepath %>product/accessory/?l-id=fee_saikyo-plan-en_product_accessory" class="c-Card_Normal">
          <img src="<%= sitepath %>assets/img/product/top/thumb-accessory-221027.png" alt="">
          <div>
            <p class="en-Card_Name">Accessories</p>
          </div>
        </a>
        <a href="<%= sitepath %>product/internet/?l-id=fee_saikyo-plan-en_product_internet" class="c-Card_Normal">
          <img src="<%= sitepath %>assets/img/product/top/thumb-wifi.png" alt="">
          <p class="en-Card_Name">Mobile Hotspots</p>
        </a>
      </div>
    </div>
  </div>
</div>

<div id="apply" class="en-Apply <%= nameSpace %>-En_Mod-8 u-Adjust_Pt-64">
  <div class="l-System_Container">
    <div class="en-Layout_Head" data-ratid="saikyo-plan_en_scroll-10-howto" data-ratevent="appear" data-ratparam="all">
      <img src="<%= sitepath %>assets/img/fee/un-limit/en/img-icon-question-head.png" alt="">
      <h2>How to Apply</h2>
    </div>

    <div class="en-Apply_Theme-layout u-Adjust_Mt-32">
      <div class="en-Apply_Theme-white">
        <div class="en-Apply_Theme-kv-1">
        </div>
        <div>
          <div class="u-Adjust_Px-24 u-Adjust_Px-sp-16">
            <p class="en-Apply_Theme-title u-Adjust_Align-center">Online</p>
            <p class="u-Adjust_Mt-16">Follow simple and convenient online application process.</p>
            <div class="u-Adjust_Mt-8">
              <a href="<%= sitepath %>guide/procedure/en/?l-id=fee_saikyo-plan_en_guide_procedure_en02" class="c-Link_Txt-inline">See the Step-by-Step Guide<span class="c-Icon_Chevron-right"></span></a>
            </div>
          </div>
          <div class="en-Apply_Theme-white-call u-Adjust_Px-24 u-Adjust_Px-sp-16">
            <p class="en-Apply_Theme-title u-Adjust_Align-center">Call</p>
            <p class="u-Adjust_Mt-16">You can also apply by phone (only available in Japanese). </p>
            <div class="u-Adjust_Mt-8">
              <a href="<%= sitepath %>guide/application-support/?l-id=fee_saikyo-plan-en_guide_application-support" class="c-Link_Txt-inline">Details on Applying by Phone<span class="c-Icon_Chevron-right"></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="en-Apply_Theme-white">
        <div class="en-Apply_Theme-kv-2">
        </div>
        <div class="u-Adjust_Px-24 u-Adjust_Px-sp-16">
          <p class="en-Apply_Theme-title u-Adjust_Align-center">In-Store</p>
          <p class="u-Adjust_Mt-16">Locate a nearby shop for in-person assistance.</p>
          <div class="u-Adjust_Mt-16">
            <a href="<%= sitepath %>shop/guide/en/?l-id=fee_saikyo-plan-en_shop_guide_en" class="c-Link_Txt-inline">Before Your Shop Visit<span class="c-Icon_Chevron-right"></span></a>
          </div>
          <div class="u-Adjust_Mt-16">
            <a href="<%= sitepath %>shop/en/?l-id=fee_saikyo-plan-en_shop_en03" class="c-Link_Txt-inline">Find a Shop Near You<span class="c-Icon_Chevron-right"></span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="u-Adjust_Align-center u-Adjust_Mt-24">
      <a class="c-Banner_Hover-act" href="<%= sitepath %>guide/procedure/en/?l-id=fee_saikyo-plan_en_guide_procedure_en01">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-apply-guide-en-343-108.png" width="1029" height="324">
          <img src="<%= sitepath %>assets/img/bnr/bnr-apply-guide-en-1032-78.png" width="1032" height="78" loading="lazy" alt="No Worries for First-Timers! Step-by-Step Application Guide">
        </picture>
      </a>
    </div>
  </div>
</div>
<div class="c-Theme-Light u-Adjust_Pt-32 <%= nameSpace %>-En_Mod-8">
  <div class="u-Adjust_Pb-24 l-System_Container u-Adjust_Align-center" data-ratid="saikyo-plan_en_scroll-10_campaigns_recommendations" data-ratevent="appear" data-ratparam="all">
    <h2 class="c-Heading_Lv2">Campaigns & Recommendations</h2>
    <p class="c-Txt_Cap">*Japanese only</p>
    <div class="c-Carousel js-Carousel-multi u-Adjust_Mt-24">
      <%- include('/include/_bnr-cpn-recommend-bnr.ejs') %>
    </div>
    <div class="c-Carousel_Nav-v2-wrap">
      <div class="c-Carousel_Nav-v2"></div>
      <div class="c-Carousel_Nav-v2-bar"></div>
    </div>
  </div>
</div>

<div class="<%= nameSpace %>-En_Mod-8" data-ratid="saikyo-plan_en_scroll-11-note" data-ratevent="appear" data-ratparam="all">
  <div class="l-System_Container u-Adjust_Mb-80">
    <h2 id="anc_note" class="c-Heading_Lv2 u-Adjust_Mt-32 u-Adjust_Align-left">Important Notes</h2>
    <p class="c-Txt_Alphanumeric-emp01 u-Adjust_Mt-16">Price plan</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      *If the first line of the contract is not used for a certain period of time, the line may be suspended or terminated.
    </p>
    <p class="c-Txt_Alphanumeric-emp01 u-Adjust_Mt-16">Lowest price across all  carriers for 3GB or unlimited data with the family discount</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      *1 Offer applies exclusively to the family discount without additional discounts. Surveyed by our company, as of February 2024.
    </p>
    <p class="c-Txt_Alphanumeric-emp01 u-Adjust_Mt-16">Unlimited high-speed data</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      *2 Speed may be restricted due to fair service provision or network environment.
    </p>
    <p class="c-Txt_Alphanumeric-emp01 u-Adjust_Mt-16">Free domestic calls with Rakuten Link app</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      *3 Calls to numbers starting with (0180), (0570), and some special numbers like (188) are not included in free calls. Standard OS phone app calls cost ¥22/30 sec.
    </p>
    <p class="c-Txt_Alphanumeric-emp01 u-Adjust_Mt-16">All members earn 5X Points at Rakuten Ichiba every day</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      *4 Earn up to 2,000 Rakuten Mobile SPU points monthly as time-limited points. For details, <a href="<%= sitepath %>campaign/spu/" class="c-Link_Txt">click here</a>.
    </p>
    <p class="c-Txt_Alphanumeric-emp01 u-Adjust_Mt-16">Entertainment benefits</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      *5 Campaigns may change or end without prior notice. Additional terms apply.
    </p>
    <p class="c-Txt_Alphanumeric-emp01 u-Adjust_Mt-16">Overseas data use</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      *6 Includes up to 2GB free in select locations. Beyond 2GB, speed capped at 128kbps. Call and other charges not included. <a href="<%= sitepath %>service/global/overseas/en/?l-id=fee_saikyo-plan_en_service_global_overseas_en02#accordion-1" class="c-Link_Txt">Check coverage</a>.
    </p>
    <p class="c-Txt_Alphanumeric-emp01 u-Adjust_Mt-16">Service area coverage</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      *7 As of June 2023. Coverage based on areas with viable communication in over 50% of census plots.
    </p>
    <p class="c-Txt_Alphanumeric-emp01 u-Adjust_Mt-16">YouTube Premium offer</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      *9 Not eligible for those who've previously used a trial or subscribed to YouTube Premium, YouTube Music Premium, YouTube Red, or Google Play Music.
    </p>
    <p id="opensignal" class="c-Txt_Alphanumeric-emp01 u-Adjust_Mt-16">OpenSignal data</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      *According to Opensignal data collected between June 2, 2023 and August 31, 2023, Rakuten Mobile achieved Rank 1 among four carriers for 'Consistent Quality' across 30 prefectures.<br>
      *'Consistent Quality' evaluates if a network can reliably support basic mobile applications, ensuring users experience adequate performance for common device tasks
    </p>
    <p class="c-Txt_Alphanumeric-emp01 u-Adjust_Mt-16">Using Rakuten Points</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      *Not available with account transfer payment methods.<br>
      *Use 1 to 30,000 points per transaction (Diamond members: up to 500,000 points). Points applicable only to the first installment of installment purchases.
    </p>
    <p class="c-Txt_Alphanumeric-emp01 u-Adjust_Mt-16">Plan comparison condition</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      <span class="c-Txt_Emp-02">*Campaign discounts may vary.</span><br>
      **1 Speed may be restricted due to fair service provision or network environment.<br>
      **2 Plan fees depend on monthly data use. Data counted in all areas in Japan and overseas roaming (Data usage is counted even if Data High-Speed Mode is turned off).<br>
      **3 Calls to numbers starting with (0180) and some special numbers like (188) are not included in free calls. Standard OS phone app calls cost ¥22/30 sec. Domestic SMS costs ¥3 (¥3.3 incl. tax) per 70 chars.<br>
      **4 After 15 minutes, "15-minute unlimited calls" cost ¥22/30 sec. Limits apply to certain numbers and daily SMS sent.<br>
      **5  After 5 minutes, "5-minute unlimited calls" cost ¥22/30 sec. Restrictions apply to certain numbers. Some numbers are excluded.<br>
      **6  Some numbers are excluded.
    </p>
    <p class="c-Txt_Alphanumeric-emp01 u-Adjust_Mt-16">Language</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      *This page is made in Japanese and translated into English. The Japanese text shall prevail if there is any conflict or inconsistency between these two texts.
    </p>
  </div>
</div>

<div class="en-Cta_Apply-bottom en-Cta_Apply-fee-un-limit" id="js-fixed-btn" aria-expanded="false" data-ratid="saikyo-plan_en_scroll-12_apply_bottom" data-ratevent="appear" data-ratparam="all">
  <div class="l-System_Container">
    <ul class="en-Cta_Apply <%= nameSpace %>-En_Mod-13">
      <li>
        <a href="https://onboarding.mobile.rakuten.co.jp/?l-id=fee_saikyo-plan-en_footer_onb&locale=en" class="c-Btn_Primary en-Utility_Btn">
          <span>Apply Here (New/MNP Transfer)</span>
        </a>
      </li>
      <li class="u-Show_Pc">
        <a href="<%= sitepath %>shop/en/?l-id=fee_saikyo-plan-en_floating_shop_en" class="c-Btn_Secondly en-Utility_Btn">
          <span class="en-Cta_Apply-sub-text">Find a Shop Near You</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<footer class="g-Footer <%= nameSpace %>-En_Mod-8">
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>
  <%- include('/include/_footer') %>
</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/fee.saikyo.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/fee.en.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
