<%_ const namespace = "hikari-review" -%>
<%_ const zeroPadding = (num, len) => {
	return ( Array(len).join('0') + num ).slice( -len );
} -%>

<% const enquete = [
  {
    question: "1. 楽天ひかりは本当に速い？",
    alt: "速い89% 時間帯によってスムースでない4% 時々速度が落ちる等4% 環境、設備が未対応2% 速いと感じない1%",
    answer: [
      {
        h4 : "89%が速いと実感！高速インターネット",
        p : "次世代規格IPv6（IPoE／IPv4 over IPv6）対応の楽天ひかりは国内どこでも高速通信で快適。多くのお客様が速さを実感しています。"
      },
      {
        h4 : "環境や設備の見直しで快適に",
        p : "インターネットの速度は提供している光回線業者による大きな差はそこまでありません。対応ルーターの利用、Wi-Fiの設置場所、利用してるPCやスマートフォンが古すぎないか、などを見直していただくことで快適にご利用いただける場合もあります。",
        cap : ""
      },
    ]
  },
  {
    question: "2. 楽天ひかりに申し込んだ「決め手」は？",
    alt: "1年無料が魅力的65% 月額料金が安い18% SPUの対象14% その他3%",
    answer: [
      {
        h4 : "65%のユーザーが1年無料にメリットを感じています",
        p : "やはり1年目無料<span class=\"c-Txt_Cap\">※1</span>のキャンペーンで楽天ひかりを選んだお客様が大多数。さらに、2年目以降の月額料金の「安さ」、SPU対象<span class=\"c-Txt_Cap\">※2</span>で楽天ならではのおトクさが決め手になっています。"
      },
      {
        h4 : "約半数のお客様が乗り換え時に契約解除料を払っています",
        p : "乗り換え時の心配事の一つ、契約解除料を払ってでも楽天ひかりに乗り換えたお客様が52%！多くのお客様が、契約解除料を払っても乗り換えた方がおトクになると評価しています。",
        cap : "※1 楽天ひかり（マンションプランまたはファミリープラン）の月額基本料が開通月から最大12カ月無料。Rakuten UN-LIMIT VIIをすでに開通、または期限内にお申し込みの方が対象。契約解除料ファミリープラン5,280円、マンションプラン4,180円が発生（2年ごとに更新）。<br>※2 楽天ひかり（マンションプランまたはファミリープラン）を契約の楽天会員が対象。NTT東日本・NTT西日本のフレッツ光回線を楽天ブロードバンドでご利用中の方は特典対象外。毎月の獲得上限は5,000ポイント、期間限定ポイントでの進呈。"
      },
    ]
  },
  {
    question: "3. 接続できない？速度が遅い？そんな時どのように解決しましたか？",
    alt: "サポートセンター51% Webサイト42% その他7%",
    answer: [
      {
        h4 : "複数のサポート体制で安心",
        p : "機器の設置、設定などでうまく繋がらないと感じたり、速度が遅いと感じたりすることがあるかもしれません。そういった時にも多くのお客様がサポートセンター、Webサイトなどで解決。スムーズに光回線の導入を実現しています！"
      },
      {
        h4 : "電話設定サポート、FAQサイトでも手厚くサポート",
        p : "申し込み後は、電話や専用リモートツールでサポートする「電話設定サポート<span class=\"c-Txt_Cap\">※</span>」や、FAQサイトでのサポートもご利用できます。",
        cap : "※ 開通後60日以内初回無料、無料期間後・2回目以降は2,200円"
      },
    ]
  },
  {
    question: "4. どんな場面で利用されている？",
    alt: "動画視聴28% ネットショッピング26% SNS17% テレワーク12% オンラインゲーム9% オンライン授業、他8%",
    answer: [
      {
        h4 : "動画視聴で利用されている方が多数",
        p : "動画配信サービスや、動画SNSなどのサービスを利用されているお客様が約3割。4K動画などの大容量の通信も快適に利用していただいています！"
      },
      {
        h4 : "ライトユーザーからヘビーユーザーまで",
        p : "ネットショッピングやSNSを主に利用するライトユーザーから、動画視聴やテレワーク、ゲームなど大容量の通信が必要なヘビーユーザーまで、幅広いユーザーにご利用いただいています。"
      },
    ]
  }
] -%>

<% for (let i = 0; i < enquete.length; i++) { %>
  <%_ if ( i === 0 ) { _%>
    <div class="<%= namespace %>-Layout_Enquete u-Adjust_Mt-24">
  <%_ } else { _%>
    <div class="<%= namespace %>-Layout_Enquete u-Adjust_Mt-64">
  <%_ } _%>
  <h3 class="c-Heading_Lv3"><%= enquete[i].question %></h3>
  <dl class="<%= namespace %>-Layout_Enquete-data">
    <dt>
      <picture>
        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/hikari/review/graph-<%= zeroPadding(i+1, 2) %>-b-sp.png?211207">
        <source srcset="<%= sitepath %>assets/img/hikari/review/graph-<%= zeroPadding(i+1, 2) %>-b-pc.png?211207">
        <img src="<%= sitepath %>assets/img/hikari/review/graph-<%= zeroPadding(i+1, 2) %>-b-pc.png?211207" alt="<%= enquete[i].alt %>">
      </picture>
    </dt>
    <dd>
      <% for (let j = 0; j < enquete[i].answer.length; j++) { %>
        <%_ if ( j  === 0 ) { _%>
        <h4 class="c-Heading_Lv4"><%= enquete[i].answer[j].h4 %></h4>
        <%_ } else { _%>
        <h4 class="c-Heading_Lv4 u-Adjust_Mt-24"><%= enquete[i].answer[j].h4 %></h4>
        <%_ } _%>
        <p class="u-Adjust_Mt-8"><%- enquete[i].answer[j].p %></p>
        <%_ if ( enquete[i].answer[j].cap !== undefined ) { _%>
          <p class="c-Txt_Cap u-Adjust_Mt-8"><%- enquete[i].answer[j].cap %></p>
        <%_ } _%>
      <% }; %>
    </dd>
  </dl>
</div>
<% }; %>
