<%_ const namespace = "hikari-review" -%>
<%_ const review = [
  {
    img: "male",
    name: "レタス三郎さん",
    cap: "50代男性／栃木県",
    h3: "動画も快適に視聴できて、回線の安定性、速度には大変満足しています。",
    tag: ["動画", "ネットショッピング"],
    text: [
      "楽天ひかりに切り替えてからまだ1カ月未満ですが、回線の安定性、速度には大変満足しています。<span class=\"c-Txt_Emp-underline\">速度は400〜600Ｍbps出ております。</span> 動画配信サイトを中心に見てますが、<span class=\"c-Txt_Emp-underline\">読み込みが不安定だったり、途切れることはなく快適に視聴できています。</span>",
      "また、幾つものショッピングサイトを同時にブラウジングしても、読み込みや表示は全く問題なく、速度も申し分ありません。<span class=\"c-Txt_Emp-underline\">Wi-Fi経由でも速度の落ち込みは少なく快適です。</span>"
    ],
  },
  {
    img: "male",
    name: "三児のパパさん",
    cap: "40代男性／福岡県",
    h3: "子供のオンライン授業や、SNSでの動画視聴も快適です。",
    tag: ["オンライン授業", "SNS"],
    text: [
      "楽天ひかりを利用して3カ月になりますが、子供の小学校のオンライン授業、私自身のオンライン英会話で利用しています。以前は授業中に動画が固まったり、音声が切れたりしていましたが、<span class=\"c-Txt_Emp-underline\">楽天ひかりに変えてからはそのようなことがなくなり、快適に利用でき、助かっています。</span>",
      "以前はSNSの映像がスムーズに再生できないことが多々ありましたが、楽天ひかりに変えてからはそのようなことがなくなり、快適に視聴することができ、大満足です。"
    ],
  },
  {
    img: "male",
    name: "たのぱぱさん",
    cap: "20代男性／石川県",
    h3: "動画再生を複数の端末で行ってもスムーズ。",
    tag: ["動画"],
    text: [
      "毎日使っている。スマートハウスの我が家でも通信速度に満足している。<span class=\"c-Txt_Emp-underline\">動画再生を複数の端末で行ってもスムーズでよい。特にIPv6は速く感じる。</span>"
    ],
  },
  {
    img: "female",
    name: "□▲◯さん",
    cap: "20代女性／宮城県",
    h3: "朝昼晩、問題なく視聴できています。",
    tag: ["動画", "ネットショッピング"],
    text: [
      "楽天ひかりを使い始めて数日です。毎日ご飯中の暇つぶしに動画配信サイトを見ています。<span class=\"c-Txt_Emp-underline\">朝昼晩関係なく動画が途切れたりすることなく視聴できています。読み込みも問題ありません。</span>他社の光コラボから乗り換えましたが、使用感は変わりません。不都合なく使用できています。",
      "また、楽天市場でネットショッピングをする際も、商品ページでの画像や動画の読み込みは全く問題ありません。読み込みを待つことは全くないです。ブラウザで複数のタブを開いて商品の比較を行うことも問題なくできています。"
    ],
  },
  {
    img: "female",
    name: "雪だるま。さん",
    cap: "40代女性／愛知県",
    h3: "家計の見直しのため楽天ひかりに。ストレスなく楽しんでいます。",
    tag: ["動画"],
    text: [
      "去年からのコロナ禍で外出する機会が減って子供たちにネット環境を整えました。動画配信サイトを楽しく観てます。上の子が中学に上がりスマホを持つことになり<span class=\"c-Txt_Emp-underline\">毎月の出費を見直し楽天ひかりを契約しました。</span>まだ使い始めてから3カ月しか経っていませんが、<span class=\"c-Txt_Emp-underline\">回線が途切れたり不便を感じる事はないです。</span>"
    ],
  },
  {
    img: "male",
    name: "某紳士さん",
    cap: "40代男性／兵庫県",
    h3: "動画は最高画質、ゲームのストリーミングも快適に使えて大満足。",
    tag: ["ゲーム", "動画"],
    text: [
      "ADSLの終了にともない楽天ひかりに移行しました。動画配信サイトを見る時に今まではHD画質で見るには厳しく、利用中は他にインターネットを使うことすらできませんでした。それが<span class=\"c-Txt_Emp-underline\">今では最高画質はもちろんのこと、動画を見ながらWi-Fiでスマホをつかったりゲームをダウンロードしたりできるようになり大変満足です。</span>",
      "ストリーミングのゲームサービスを利用することがあり、以前は画質もレスポンスもひどかったのが今は快適に使えます。また最近はゲームのサイズも大きくなりダウンロードにひどく時間がかかってたのがすぐにできるようになったところも満足です。"
    ],
  },
  {
    img: "male",
    name: "えいちゅけのパパさん",
    cap: "30代男性／東京都",
    h3: "高速ネットワークの楽天ひかりに乗換え、大変満足しております。",
    tag: ["テレワーク", "動画"],
    text: [
      "コロナ禍で原則テレワークとなりました。テレワークだと、オンライン会議が主になり、ネットワーク帯域が必要になりました。<span class=\"c-Txt_Emp-underline\">これまでは低廉な他社を利用してましたが、耐えれなくなり、高速ネットワークの楽天ひかりに乗換え、大変満足しております。</span>",
      "コロナで在宅時間が増えました。子どもが在宅中に動画配信サイトを見るため、動画がカクカクしたり、他の機器への影響が生じました。そこで、楽天ひかりに乗り換えることで、そのようなことが起きなくなり、大変満足してます。"
    ],
  },
  {
    img: "male",
    name: "うどん大好きさん",
    cap: "30代男性／香川県",
    h3: "動画の閲覧やショッピングにフル活用です！",
    tag: ["動画", "ネットショッピング"],
    text: [
      "動画配信サイトで子供とアニメや映画を一緒にみています。<span class=\"c-Txt_Emp-underline\">初めて使うときは遅いのではないかと心配しましたがふつうにみれるし、途切れたことはありません！フル活用中です！</span>",
      "楽天スーパーセールやイベントの時に大量買いするため商品比較をよくしています。 スムーズに動くし特に問題なくつかえています！"
    ],
  },
  {
    img: "male",
    name: "とくしさん",
    cap: "30代男性／大阪府",
    h3: "楽天モバイルに替えたのをきっかけに楽天ひかりも導入。ストレスフリーの日々になりました。",
    tag: ["テレワーク", "動画"],
    text: [
      "これまで家にWi-Fiはなく、大手キャリアの大容量ギガプランを高いお金を払って使っていました。それでもギガ制限を気にしながらの利用…。楽天モバイルに替えたのをきっかけに楽天ひかりも導入。電話応対も非常に丁寧で、内容もわかりやすく好印象でした。",
      "いざ使い始めると、非常にスムーズなネット回線！<span class=\"c-Txt_Emp-underline\">週末に動画配信サイトで映画を沢山観る私にとっては、ストレスフリーの日々になりました。なにより初年度月額無料がありがたいです！</span>"
    ],
  },
  {
    img: "female",
    name: "まなぼうママさん",
    cap: "20代女性／東京都",
    h3: "動画再生も、SNSの閲覧も快適です！",
    tag: ["動画", "SNS"],
    text: [
      "約半年間使っています。毎日動画再生をしています。快適に使えており、不自由したことはありません。<span class=\"c-Txt_Emp-underline\">あまりにキャンペーンがお得すぎて不安もありましたが、全く問題ありませんでした。</span>",
      "SNSなどを閲覧することが多く、モバイル回線だと遅くてイライラすることもありますが、楽天ひかりを利用したWi-Fi環境は全く問題なく快適に使えています。"
    ],
  },
] -%>


<ul class="<%= namespace %>-Layout_Voice-list">

  <% for (let i = 0; i < review.length; i++) { %>
  <li class="js-item" aria-hidden="false">
    <div class="<%= namespace %>-Layout_Voice-detail">
      <div class="<%= namespace %>-Layout_Voice-profile">
        <img src="<%= sitepath %>assets/img/hikari/review/icon-<%= review[i].img %>.png?211207" width="104" alt="">
        <div class="<%= namespace %>-Layout_Voice-profile-data">
          <p class="<%= namespace %>-Layout_Voice-profile-name"><%= review[i].name %></p>
          <p class="c-Txt_Cap"><%= review[i].cap %></p>
        </div>
      </div>
      <div class="<%= namespace %>-Layout_Voice-text">
        <h3 class="c-Heading_Lv3"><%= review[i].h3 %></h3>
        <ul class="c-Label_List u-Adjust_Mt-8">
          <% for (let j = 0; j < review[i].tag.length; j++) { %>
          <li class="c-Label_Normal js-tag"><%= review[i].tag[j] %></li>
          <% }; %>
        </ul>
        <% for (let j = 0; j < review[i].text.length; j++) { %>
          <p class="u-Adjust_Mt-8">
            <%- review[i].text[j] %>
          </p>
        <% }; %>
      </div>
    </div>
  </li>
  <% }; %>

</ul>
