<% const namespace = "service-tradein" -%>
  <div class="c-Accordion u-Adjust_Mt-16">
    <button type="button" id="accordion-001" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-001"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>良品</button>
    <div id="accordion-content-001" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-001" aria-hidden="true">
      <p>使用感が少なく、傷や打痕が軽度であるもの。</p>
      <p class="u-Adjust_Mt-8 c-Txt_Cap c-Txt_Emp-02">※軽度な傷であっても複数ある場合には、画面損傷品または外装損傷・機能不具合品になることがあります。</p>
      <ul class="<%= namespace %>-Layout_Imglist">
        <li class="u-Adjust_Mt-16">
          <p class="u-Adjust_Mt-24 u-Adjust_Mb-8">例：打痕（軽度）</p>
            <a class="c-Banner_Hover-act js-Modal" href="#modal1">
              <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_01-230414.png" alt="" width="100%" loading="lazy">
              <div class="u-Adjust_Mt-8 u-Adjust_Align-left">
                <p class="c-Link_Txt-inline news-presskit-Link_Txt-icon-front">
                  <span class="c-Icon_Zoom-in-l c-Link_Icon news-presskit-Link_Icon"></span>拡大する
                </p>
              </div>
            </a>
            <div id="modal1" style="display:none;">
              <p class="u-Adjust_Mb-16">例：打痕（軽度）</p>
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_01-230414.png" alt="" width="100%" loading="lazy">
              </div>
            </div>
        </li>
        <li class="u-Adjust_Mt-16">
          <p class="u-Adjust_Mt-24 u-Adjust_Mb-8">例：製品本体の傷（軽度）</p>
            <a class="c-Banner_Hover-act js-Modal" href="#modal2">
              <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_02-230414.png" alt="" width="100%" loading="lazy">
              <div class="u-Adjust_Mt-8 u-Adjust_Align-left">
                <p class="c-Link_Txt-inline news-presskit-Link_Txt-icon-front">
                  <span class="c-Icon_Zoom-in-l c-Link_Icon news-presskit-Link_Icon"></span>拡大する
                </p>
              </div>
            </a>
            <div id="modal2" style="display:none;">
              <p class="u-Adjust_Mb-16">例：製品本体の傷（軽度）</p>
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_02-230414.png" alt="" width="100%" loading="lazy">
              </div>
            </div>
        </li>
        <li class="u-Adjust_Mt-16">
          <p class="u-Adjust_Mt-24 u-Adjust_Mb-8">例：画面の傷（軽度）</p>
            <a class="c-Banner_Hover-act js-Modal" href="#modal3">
              <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_03-230414.png" alt="" width="100%" loading="lazy">
              <div class="u-Adjust_Mt-8 u-Adjust_Align-left">
                <p class="c-Link_Txt-inline news-presskit-Link_Txt-icon-front">
                  <span class="c-Icon_Zoom-in-l c-Link_Icon news-presskit-Link_Icon"></span>拡大する
                </p>
              </div>
            </a>
            <div id="modal3" style="display:none;">
              <p class="u-Adjust_Mb-16">例：画面の傷（軽度）</p>
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_03-230414.png" alt="" width="100%" loading="lazy">
              </div>
            </div>
        </li>
        <li>
          <p class="u-Adjust_Mb-8">例：へこみ（軽度）</p>
            <a class="c-Banner_Hover-act js-Modal" href="#modal4">
              <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_04-230414.png" alt="" width="100%" loading="lazy">
              <div class="u-Adjust_Mt-8 u-Adjust_Align-left">
                <p class="c-Link_Txt-inline news-presskit-Link_Txt-icon-front">
                  <span class="c-Icon_Zoom-in-l c-Link_Icon news-presskit-Link_Icon"></span>拡大する
                </p>
              </div>
            </a>
            <div id="modal4" style="display:none;">
              <p class="u-Adjust_Mb-16">例：へこみ（軽度）</p>
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_04-230414.png" alt="" width="100%" loading="lazy">
              </div>
            </div>
        </li>
        <li>
          <p class="u-Adjust_Mb-8">例：ケーブル差込口付近の傷</p>
            <a class="c-Banner_Hover-act js-Modal" href="#modal5">
              <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_05-230414.png" alt="" width="100%" loading="lazy">
              <div class="u-Adjust_Mt-8 u-Adjust_Align-left">
                <p class="c-Link_Txt-inline news-presskit-Link_Txt-icon-front">
                  <span class="c-Icon_Zoom-in-l c-Link_Icon news-presskit-Link_Icon"></span>拡大する
                </p>
              </div>
            </a>
            <div id="modal5" style="display:none;">
              <p class="u-Adjust_Mb-16">例：ケーブル差込口付近の傷</p>
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_05-230414.png" alt="" width="100%" loading="lazy">
              </div>
            </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="c-Accordion">
    <button type="button" id="accordion-002" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-002"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>損傷品</button>
    <div id="accordion-content-002" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-002" aria-hidden="true">
      <h3 class="c-Txt_Normal-l c-Txt_Emp-01">画面損傷品</h3>
      <p class="u-Adjust_Mt-16">画面割れ・画面の焼け・画面の劣化・ドット抜け・液漏れがあるもの。</p>
      <ul class="<%= namespace %>-Layout_Imglist">
        <li class="u-Adjust_Mt-16">
          <p class="u-Adjust_Mt-24 u-Adjust_Mb-8" id="crack">例：画面の割れ</p>
            <a class="c-Banner_Hover-act js-Modal" href="#modal6">
              <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_06.png?220210" alt="">
              <div class="u-Adjust_Mt-8 u-Adjust_Align-left">
                <p class="c-Link_Txt-inline news-presskit-Link_Txt-icon-front">
                  <span class="c-Icon_Zoom-in-l c-Link_Icon news-presskit-Link_Icon"></span>拡大する
                </p>
              </div>
            </a>
            <div id="modal6" style="display:none;">
              <p class="u-Adjust_Mb-16">例：画面の割れ</p>
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_06.png?220210" alt="">
              </div>
            </div>
        </li>
        <li class="u-Adjust_Mt-16">
          <p class="u-Adjust_Mt-24 u-Adjust_Mb-8">例：画面の傷（深さがある）</p>
            <a class="c-Banner_Hover-act js-Modal" href="#modal7">
              <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_07.png?220210" alt="">
              <div class="u-Adjust_Mt-8 u-Adjust_Align-left">
                <p class="c-Link_Txt-inline news-presskit-Link_Txt-icon-front">
                  <span class="c-Icon_Zoom-in-l c-Link_Icon news-presskit-Link_Icon"></span>拡大する
                </p>
              </div>
            </a>
            <div id="modal7" style="display:none;">
              <p class="u-Adjust_Mb-16">例：画面の傷（深さがある）</p>
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_07.png?220210" alt="">
              </div>
            </div>
        </li>
        <li class="u-Adjust_Mt-16">
          <p class="u-Adjust_Mt-24 u-Adjust_Mb-8">例：画面の傷（複数）</p>
            <a class="c-Banner_Hover-act js-Modal" href="#modal8">
              <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_08.png?220210" alt="">
              <div class="u-Adjust_Mt-8 u-Adjust_Align-left">
                <p class="c-Link_Txt-inline news-presskit-Link_Txt-icon-front">
                  <span class="c-Icon_Zoom-in-l c-Link_Icon news-presskit-Link_Icon"></span>拡大する
                </p>
              </div>
            </a>
            <div id="modal8" style="display:none;">
              <p class="u-Adjust_Mb-16">例：画面の傷（複数）</p>
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_08.png?220210" alt="">
              </div>
            </div>
        </li>
        <li>
          <p class="u-Adjust_Mb-8">例：緑に変色（焼け）</p>
            <a class="c-Banner_Hover-act js-Modal" href="#modal9">
              <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_09.png?220210" alt="">
              <div class="u-Adjust_Mt-8 u-Adjust_Align-left">
                <p class="c-Link_Txt-inline news-presskit-Link_Txt-icon-front">
                  <span class="c-Icon_Zoom-in-l c-Link_Icon news-presskit-Link_Icon"></span>拡大する
                </p>
              </div>
            </a>
            <div id="modal9" style="display:none;">
              <p class="u-Adjust_Mb-16">例：緑に変色（焼け）</p>
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_09.png?220210" alt="">
              </div>
            </div>
        </li>
        <li>
          <p class="u-Adjust_Mb-8">例：画面上の変色（焼け）</p>
            <a class="c-Banner_Hover-act js-Modal" href="#modal10">
              <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_10.png?220210" alt="">
              <div class="u-Adjust_Mt-8 u-Adjust_Align-left">
                <p class="c-Link_Txt-inline news-presskit-Link_Txt-icon-front">
                  <span class="c-Icon_Zoom-in-l c-Link_Icon news-presskit-Link_Icon"></span>拡大する
                </p>
              </div>
            </a>
            <div id="modal10" style="display:none;">
              <p class="u-Adjust_Mb-16">例：画面上の変色（焼け）</p>
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_10.png?220210" alt="">
              </div>
            </div>
        </li>
        <li>
          <p class="u-Adjust_Mb-8">例：液晶に線</p>
            <a class="c-Banner_Hover-act js-Modal" href="#modal11">
              <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_11.png?220210" alt="">
              <div class="u-Adjust_Mt-8 u-Adjust_Align-left">
                <p class="c-Link_Txt-inline news-presskit-Link_Txt-icon-front">
                  <span class="c-Icon_Zoom-in-l c-Link_Icon news-presskit-Link_Icon"></span>拡大する
                </p>
              </div>
            </a>
            <div id="modal11" style="display:none;">
              <p class="u-Adjust_Mb-16">例：液晶に線</p>
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_11.png?220210" alt="">
              </div>
            </div>
        </li>
        <li>
          <p class="u-Adjust_Mb-8">例：ドット抜け</p>
            <a class="c-Banner_Hover-act js-Modal" href="#modal12">
              <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_12.png?220210" alt="">
              <div class="u-Adjust_Mt-8 u-Adjust_Align-left">
                <p class="c-Link_Txt-inline news-presskit-Link_Txt-icon-front">
                  <span class="c-Icon_Zoom-in-l c-Link_Icon news-presskit-Link_Icon"></span>拡大する
                </p>
              </div>
            </a>
            <div id="modal12" style="display:none;">
              <p class="u-Adjust_Mb-16">例：ドット抜け</p>
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_12.png?220210" alt="">
              </div>
            </div>
        </li>
        <li>
          <p class="u-Adjust_Mb-8">例：液漏れ</p>
            <a class="c-Banner_Hover-act js-Modal" href="#modal2-8">
              <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_2_8-240229.png" alt="">
              <div class="u-Adjust_Mt-8 u-Adjust_Align-left">
                <p class="c-Link_Txt-inline news-presskit-Link_Txt-icon-front">
                  <span class="c-Icon_Zoom-in-l c-Link_Icon news-presskit-Link_Icon"></span>拡大する
                </p>
              </div>
            </a>
            <div id="modal2-8" style="display:none;">
              <p class="u-Adjust_Mb-16">例：液漏れ</p>
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_2_8-240229.png" alt="">
              </div>
            </div>
        </li>
      </ul>
      <h4 class="u-Adjust_Mt-40 c-Heading_Lv4">査定基準の詳細</h4>
      <ul class="c-List_Text-disc u-Adjust_Mt-8">
        <li>画面に割れ、ヒビがある
          <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Pl-16">※<a href="#crack" class="js-scroll">画像例（画面の割れ）</a>より目立たない状態でも、「割れ」の場合は画面損傷となる</p>
        </li>
        <li>画面に良品の範囲を超える状態の傷がある
          <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Pl-16">※爪で引っかかる程度の深さの傷の場合は画面損傷となる</p>
          <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Pl-16">※小さい傷でも複数箇所、広範囲の場合は画面損傷となる</p>
        </li>
        <li>縦線、焼き付き、明らかな変色、ドット抜け、液漏れがある</li>
        <li>タッチパネルが正常に機能しない</li>
      </ul>
      <h4 class="u-Adjust_Mt-40 c-Heading_Lv4">ドット抜けを発見するポイント</h4>
      <ul class="c-List_Text-disc u-Adjust_Mt-8">
        <li>画面の明るさを最大に設定し、真っ白な背景画面で確認</li>
        <li>蛍光灯や背景が画面に映り込むのを防ぎながら確認</li>
        <li>本体を左右上下に傾けたり、画面を上下にスライドし、同じ箇所に変わらず白い点がないかを確認</li>
      </ul>

      <h3 class="c-Txt_Normal-l c-Txt_Emp-01 u-Adjust_Mt-40">外装損傷・機能不具合品</h3>
      <p class="u-Adjust_Mt-16">良品の範囲を超える傷・打痕・変色、カメラ等に機能不具合があるもの</p>
      <ul class="<%= namespace %>-Layout_Imglist">
        <li class="u-Adjust_Mt-16">
          <p class="u-Adjust_Mt-24 u-Adjust_Mb-8">例：外装の傷（重度）</p>
            <a class="c-Banner_Hover-act js-Modal" href="#modal13">
              <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_13.png?220210" alt="">
              <div class="u-Adjust_Mt-8 u-Adjust_Align-left">
                <p class="c-Link_Txt-inline news-presskit-Link_Txt-icon-front">
                  <span class="c-Icon_Zoom-in-l c-Link_Icon news-presskit-Link_Icon"></span>拡大する
                </p>
              </div>
            </a>
            <div id="modal13" style="display:none;">
              <p class="u-Adjust_Mb-16">例：外装の傷（重度）</p>
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_13.png?220210" alt="">
              </div>
            </div>
        </li>
        <li class="u-Adjust_Mt-16">
          <p class="u-Adjust_Mt-24 u-Adjust_Mb-8">例：打痕（重度）</p>
            <a class="c-Banner_Hover-act js-Modal" href="#modal14">
              <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_14.png?220210" alt="">
              <div class="u-Adjust_Mt-8 u-Adjust_Align-left">
                <p class="c-Link_Txt-inline news-presskit-Link_Txt-icon-front">
                  <span class="c-Icon_Zoom-in-l c-Link_Icon news-presskit-Link_Icon"></span>拡大する
                </p>
              </div>
            </a>
            <div id="modal14" style="display:none;">
              <p class="u-Adjust_Mb-16">例：打痕（重度）</p>
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_14.png?220210" alt="">
              </div>
            </div>
        </li>
        <li class="u-Adjust_Mt-16">
          <p class="u-Adjust_Mt-24 u-Adjust_Mb-8">例：背面ガラスの割れ</p>
            <a class="c-Banner_Hover-act js-Modal" href="#modal15">
              <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_15.png?220210" alt="">
              <div class="u-Adjust_Mt-8 u-Adjust_Align-left">
                <p class="c-Link_Txt-inline news-presskit-Link_Txt-icon-front">
                  <span class="c-Icon_Zoom-in-l c-Link_Icon news-presskit-Link_Icon"></span>拡大する
                </p>
              </div>
            </a>
            <div id="modal15" style="display:none;">
              <p class="u-Adjust_Mb-16">例：背面ガラスの割れ</p>
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_15.png?220210" alt="">
              </div>
            </div>
        </li>
        <li>
          <p class="u-Adjust_Mb-8">例：反り</p>
            <a class="c-Banner_Hover-act js-Modal" href="#modal16">
              <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_16.png?220210" alt="">
              <div class="u-Adjust_Mt-8 u-Adjust_Align-left">
                <p class="c-Link_Txt-inline news-presskit-Link_Txt-icon-front">
                  <span class="c-Icon_Zoom-in-l c-Link_Icon news-presskit-Link_Icon"></span>拡大する
                </p>
              </div>
            </a>
            <div id="modal16" style="display:none;">
              <p class="u-Adjust_Mb-16">例：反り</p>
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_16.png?220210" alt="">
              </div>
            </div>
        </li>
        <li>
          <p class="u-Adjust_Mb-8">例：膨張による歪み</p>
            <a class="c-Banner_Hover-act js-Modal" href="#modal17">
              <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_17.png?220210" alt="">
              <div class="u-Adjust_Mt-8 u-Adjust_Align-left">
                <p class="c-Link_Txt-inline news-presskit-Link_Txt-icon-front">
                  <span class="c-Icon_Zoom-in-l c-Link_Icon news-presskit-Link_Icon"></span>拡大する
                </p>
              </div>
            </a>
            <div id="modal17" style="display:none;">
              <p class="u-Adjust_Mb-16">例：膨張による歪み</p>
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_17.png?220210" alt="">
              </div>
            </div>
        </li>
        <li>
          <p class="u-Adjust_Mb-8">例：カメラレンズの傷、割れ</p>
            <a class="c-Banner_Hover-act js-Modal" href="#modal18">
              <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_18.png?220210" alt="">
              <div class="u-Adjust_Mt-8 u-Adjust_Align-left">
                <p class="c-Link_Txt-inline news-presskit-Link_Txt-icon-front">
                  <span class="c-Icon_Zoom-in-l c-Link_Icon news-presskit-Link_Icon"></span>拡大する
                </p>
              </div>
            </a>
            <div id="modal18" style="display:none;">
              <p class="u-Adjust_Mb-16">例：カメラレンズの傷、割れ</p>
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/service/tradein/img_asmt_18.png?220210" alt="">
              </div>
            </div>
        </li>
      </ul>
      <h4 class="u-Adjust_Mt-40 c-Heading_Lv4">査定基準の詳細</h4>
      <ul class="c-List_Text-disc u-Adjust_Mt-8">
        <li>良品範囲を超える傷や打痕がある</li>
        <li>外装に歪曲、割れ、欠け、ヒビ、変色がある</li>
        <li>カバー跡、ホールドリング跡、シール跡、刻印などがある</li>
        <li>カメラ（Face IDを含む）、ボタン、バイブレーション、通信系統（Wi-Fi、Bluetooth、音声通話）が正常に機能しない</li>
        <li>カメラレンズに傷、損傷がある</li>
        <li>画面に浮きがある、または本体から外れている</li>
        <li>SIMトレイなどの付属品が欠損している</li>
        <li>製品の電源をオンにし、電源を入れたままの状態にできない</li>
        <li>明らかな水濡れ</li>
      </ul>

    </div>
  </div>
  <div class="c-Accordion">
    <button type="button" id="accordion-004" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-004"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>受付不可品</button>
    <div id="accordion-content-004" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-004" aria-hidden="true">
      <p>以下のような場合は、残債の全額お支払いが必要になります。お客様にメールにて通知した翌月以降、月々の支払いに設定されている支払い方法にて、ご請求させていただきます。</p>
      <ul class="c-List_Text-disc u-Adjust_Mt-8">
        <li class="u-Adjust_Mt-16">各種ロック（スクリーン、 アクティベーション、おサイフケータイを含む）の解除が行われていない製品</li>
        <li class="u-Adjust_Mt-16">製品に紐づくiCloud/Googleアカウント連携の解除が行われていない製品</li>
        <li class="u-Adjust_Mt-16">製品を探す機能が有効化されたままの製品</li>
        <li class="u-Adjust_Mt-16">ネットワーク利用制限該当品など</li>
        <li class="u-Adjust_Mt-16">製品に分解や改造などがなされた形跡がある場合</li>
        <li class="u-Adjust_Mt-16">製品に故障・破損の程度を逸脱した筐体の損傷がある場合</li>
        <li class="u-Adjust_Mt-16">製品に故意または重過失による故障・損傷などがある場合</li>
        <li class="u-Adjust_Mt-16">製品の製造番号（IMEI）が確認できない場合</li>
      </ul>
    </div>
  </div>
