<% const nameSpace = "service-top" -%>
<%_ const warranty = [
  {
    category: 'warranty',
    h4: "故障紛失保証 with AppleCare Services",
    path: "iphone/applecare/?l-id=service_service-list_applecare",
    emp: "",
    price: "<span class=\"service-top-List_Contents-price\">800</span>円～<span class=\"service-top-List_Contents-price\">1,460</span>円/月",
    cap : "もしもの時の修理サービスとサポート、盗難や紛失に対する保証をAppleから直接受けられます。",
    new: false,
    recommend: true,
    deviceTypes: [
      'iphone',
    ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
    plan: "noplan",
    dataPlan: true,
  },
  {
    category: 'warranty',
    h4: "スマホ交換保証プラス",
    path: "replacement-warranty-plus/?l-id=service_service-list_replacement-warranty-plus",
    emp: "",
    price: "<span class=\"service-top-List_Contents-price\">715</span>円/月",
    cap : "故障・紛失時に新品同等の同一機種に交換！",
    new: false,
    recommend: true,
    deviceTypes: [
      'android',
      'wifi',
    ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
    plan: "noplan",
    dataPlan: true,
  },
  {
    category: 'warranty',
    h4: "持ち込みスマホあんしん保証",
    path: "replacement-warranty-sim/?l-id=service_service-list_replacement-warranty-sim",
    emp: "",
    price: "<span class=\"service-top-List_Contents-price\">715</span>円～<span class=\"service-top-List_Contents-price\">1,309</span>円/月",
    cap : "すでにお持ちの楽天回線対応製品の故障・破損・水没を保証",
    new: false,
    recommend: true,
    deviceTypes: [
      'iphone',
      'android',
      'wifi',
    ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
    plan: "noplan",
    dataPlan: true,
  },
  {
    category: 'warranty',
    h4: "あんしん保証with AppleCare Services for Apple Watch",
    path: "applewatch-care/?l-id=service_service-list_applewatch-care",
    emp: "",
    price: "<span class=\"service-top-List_Contents-price\">280</span>円～<span class=\"service-top-List_Contents-price\">650</span>円/月",
    cap : "Apple Watchの修理や製品サポートをApple 公式のサービス同等の内容でご利用いただけます。",
    new: false,
    recommend: true,
    deviceTypes: [
      'apple-watch',
    ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
    plan: "noplan",
    dataPlan: true,
  },
] -%>

<%_ const security = [
  {
    category: 'security',
    h4: "ノートンモバイルセキュリティ",
    path: "norton-mobile-security/?l-id=service_service-list_norton-mobile-security",
    emp: "",
    price: "<span class=\"service-top-List_Contents-price\">220</span>円/月",
    cap : "スマホをさまざまなリスクから守ります",
    new: false,
    recommend: false,
    iphone: "iphone",
    android: "android",
    wifi: false,
    deviceTypes: [
      'iphone',
      'android',
    ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
    plan: "noplan",
    dataPlan: true,
  },
  {
    category: 'security',
    h4: "あんしんコントロール by i-フィルター",
    path: "i-filter/?l-id=service_service-list_i-filter",
    emp: "",
    price: "<span class=\"service-top-List_Contents-price\">330</span>円/月",
    cap : "お子さまのスマホ利用を見守る、あんしんサービス",
    new: false,
    recommend: false,
    deviceTypes: [
      'iphone',
      'android',
    ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
    plan: "noplan",
    dataPlan: true,
  },
] -%>

<%_ const support = [
  {
    category: 'support',
    h4: "スマホ操作遠隔サポート",
    path: "remote-support-for-device-operation/?l-id=service_service-list_remote-support-for-device-operation",
    emp: "",
    price: "<span class=\"service-top-List_Contents-price\">550</span>円/月",
    cap : "専任オペレータが電話で問題解決をサポート！",
    new: false,
    recommend: false,
    deviceTypes: [
      'iphone',
      'android',
    ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
    plan: "noplan",
    dataPlan: true,
  },
] -%>


<%_ const data = [
  {
    category: 'data',
    h4: "電話番号シェアサービス",
    path: "number-share/?l-id=service_service-list_number-share",
    emp: "",
    price: "<span class=\"service-top-List_Contents-price\">550</span>円/月",
    cap : "iPhoneが手元になくても、Apple Watchだけで音声通話・データ通信が利用可能",
    new: false,
    recommend: false,
    deviceTypes: [
      'iphone',
      'apple-watch',
    ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
    plan: "noplan",
    dataPlan: false,
  },
  {
    category: 'data',
    h4: "楽天モバイルWiFi by エコネクト",
    path: "rakutenmobile-wifi/?l-id=service_service-list_rakutenmobile-wifi",
    emp: "1カ月無料",
    price: "<span class=\"service-top-List_Contents-price\">398</span>円/月",
    cap : "街中でも高速インターネットが利用可能",
    new: false,
    recommend: false,
    deviceTypes: [
      'iphone',
      'android',
    ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
    plan: "noplan",
    dataPlan: true,
  },
  {
    category: 'data',
    h4: "テザリング",
    path: "tethering/?l-id=service_service-list_tethering",
    emp: "プラン料金に含む",
    price: "<span class=\"service-top-List_Contents-price-free\">無料</span>",
    cap : "スマホを介して外部機器をインターネット接続",
    new: false,
    recommend: false,
    deviceTypes: [
      'iphone',
      'android',
      'wifi',
    ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
    plan: "plan",
    dataPlan: true,
  },
] -%>

<%_ const call = [
  {
    category: 'call',
    h4: "15分（標準）通話かけ放題",
    path: "standard-free-call/?l-id=service_service_standard-free-call-3",
    emp: "1ヶ月無料※",
    price: "<span class=\"service-top-List_Contents-price\">1,100</span>円/月",
    cap : "OS標準アプリでの1回15分以内の国内通話がかけ放題、国内SMSが送信し放題<br>※かけ放題の初回お申し込み時。条件あり。",
    new: true,
    recommend: false,
    deviceTypes: [
      'iphone',
      'android',
      'apple-watch',
    ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
    plan: "noplan",
    dataPlan: false,
  },
  {
    category: 'call',
    h4: "選べる電話番号サービス",
    path: "select-number/?l-id=service_service-list_select-number",
    emp: "",
    price: "<span class=\"service-top-List_Contents-price\">1,100</span>円",
    cap : "お好きな電話番号の下4桁が選べる",
    new: false,
    recommend: false,
    deviceTypes: [
      'iphone',
      'android',
      'wifi',
    ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
    plan: "noplan",
    dataPlan: false,
  },
  {
    category: 'call',
    h4: "楽メール",
    path: "rakumail/?l-id=service_service-list_rakumail",
    emp: "プラン料金に含む",
    price: "<span class=\"service-top-List_Contents-price-free\">無料</span>",
    cap : "楽天モバイルのドメイン（@rakumail.jp）でメールアドレスの設定、利用が可能",
    new: true,
    recommend: false,
    deviceTypes: [
      'iphone',
      'android',
    ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
    plan: "plan",
    dataPlan: false,
  },
  {
    category: 'call',
    h4: "楽メール持ち運び",
    path: "rakumail-portability/?l-id=service_service-list_rakumail-portability",
    emp: "",
    price: "<span class=\"service-top-List_Contents-price\">330</span>円/月",
    cap : "楽天モバイル（楽天回線）を解約、譲渡もしくは、MNP転出後も引き続き、「楽メール」をご利用いただけるオプションサービス",
    new: true,
    recommend: false,
    deviceTypes: [
      'iphone',
      'android',
    ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
    plan: "noplan",
    dataPlan: false,
  },
  {
    category: 'call',
    h4: "留守番電話",
    path: "voice-mail/?l-id=service_service-list_voice-mail",
    emp: "プラン料金に含む",
    price: "<span class=\"service-top-List_Contents-price-free\">無料</span>",
    cap : "電話に出られない時に、伝言を預かり後で再生",
    new: false,
    recommend: false,
    deviceTypes: [
      'iphone',
      'android',
      'apple-watch',
    ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
    plan: "plan",
    dataPlan: false,
  },
  {
    category: 'call',
    h4: "着信転送",
    path: "call-forwarding/?l-id=service_service-list_call-forwarding",
    emp: "プラン料金に含む",
    price: "<span class=\"service-top-List_Contents-price-free\">無料</span>",
    cap : "かかってきた電話を、登録済みの別の電話へ転送",
    cap2 : "※転送中は通話料発生（22円／30秒）",
    new: false,
    recommend: false,
    deviceTypes: [
      'iphone',
      'android',
      'apple-watch',
    ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
    plan: "plan",
    dataPlan: false,
  },
  {
    category: 'call',
    h4: "割込通話/通話保留",
    path: "call-waiting/?l-id=service_service-list_call-waiting",
    emp: "プラン料金に含む",
    price: "<span class=\"service-top-List_Contents-price-free\">無料</span>",
    cap : "通話中の割り込み通話や保留通話が可能",
    new: false,
    recommend: false,
    deviceTypes: [
      'iphone',
      'android',
      'apple-watch',
    ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
    plan: "plan",
    dataPlan: false,
  },
  {
    category: 'call',
    h4: "発信者番号非通知",
    path: "caller-id/?l-id=service_service-list_caller-id",
    emp: "プラン料金に含む",
    price: "<span class=\"service-top-List_Contents-price-free\">無料</span>",
    cap : "電話をかけたときに、電話番号を相手に通知しない機能",
    new: false,
    recommend: false,
    deviceTypes: [
      'iphone',
      'android',
      'apple-watch',
    ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
    plan: "plan",
    dataPlan: false,
  },
  {
    category: 'call',
    h4: "特番通話",
    path: "special-number-service/?l-id=service_service-list_special-number-service",
    emp: "プラン料金に含む",
    price: "<span class=\"service-top-List_Contents-price-free\">無料</span>",
    cap : "110番（警察）や#4桁特番などの特番通話を利用できる",
    new: false,
    recommend: false,
    deviceTypes: [
      'iphone',
      'android',
      'apple-watch',
    ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
    plan: "plan",
    dataPlan: false,
  },
  {
    category: 'call',
    h4: "着信SMS通知",
    path: "sms-notification-of-incoming-calls/?l-id=service_service-list_sms-notification-of-incoming-calls",
    emp: "プラン料金に含む",
    price: "<span class=\"service-top-List_Contents-price-free\">無料</span>",
    cap : "電源OFF時や通話中などで応答できなかった着信をSMSで通知",
    new: false,
    recommend: false,
    deviceTypes: [
      'iphone',
      'android',
      'apple-watch',
    ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
    plan: "plan",
    dataPlan: false,
  },
  {
    category: 'call',
    h4: "Rakuten Link",
    path: "rakuten-link/?l-id=service_service-list_rakuten-link",
    emp: "プラン料金に含む",
    price: "<span class=\"service-top-List_Contents-price-free\">無料</span>",
    cap : "Rakuten Link同士なら通話・メッセージ無料！",
    new: false,
    recommend: false,
    desktop: true,
    iphone: "iphone",
    android: "android",
    wifi: false,
    deviceTypes: [
      'iphone',
      'android',
    ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
    plan: "plan",
    dataPlan: false,
  },
  {
    category: 'call',
    h4: "SMS",
    path: "sms/?l-id=service_service-list_sms",
    emp: "プラン料金に含む",
    price: "<span class=\"service-top-List_Contents-price-free\">無料</span>",
    cap : "電話番号同士で文字メッセージのやりとりができる",
    new: false,
    recommend: false,
    deviceTypes: [
      'iphone',
      'android',
      'apple-watch',
    ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
    plan: "plan",
    dataPlan: true,
  },
] -%>

<%_ const disaster = [
  {
    category: 'disaster',
    h4: "緊急速報メール",
    path: "emergency-alert-mail/?l-id=service_service-list_emergency-alert-mail",
    emp: "プラン料金に含む",
    price: "<span class=\"service-top-List_Contents-price-free\">無料</span>",
    cap : "「緊急地震速報」や「災害・避難情報」をメールでお知らせ",
    new: false,
    recommend: false,
    deviceTypes: [
      'iphone',
      'android',
      'apple-watch',
    ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
    plan: "plan",
    dataPlan: true,
  },
  {
    category: 'disaster',
    h4: "災害用伝言板",
    path: "disaster_board/?l-id=service_service-list_disaster_board",
    emp: "プラン料金に含む",
    price: "<span class=\"service-top-List_Contents-price-free\">無料</span>",
    cap : "災害時の安否確認手段として利用可能",
    new: true,
    recommend: false,
    deviceTypes: [
      'iphone',
      'android',
      'apple-watch',
    ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
    plan: "plan",
    dataPlan: true,
  },
] -%>


<%_ const global = [
  {
    category: 'global',
    h4: "国際通話かけ放題",
    path: "international-unlimited-talk/?l-id=service_service-list_international-unlimited-talk",
    emp: "",
    price: "<span class=\"service-top-List_Contents-price\">980</span>円/月",
    cap : "海外指定65の国と地域への通話がかけ放題",
    new: false,
    recommend: false,
    deviceTypes: [
      'iphone',
      'android',
      'apple-watch',
    ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
    plan: "noplan",
    dataPlan: false,
  },
  {
    category: 'global',
    h4: "国際通話",
    path: "international-call/?l-id=service_service-list_international-call",
    emp: "プラン料金に含む",
    price: "<span class=\"service-top-List_Contents-price-free\">無料</span>",
    cap : "手続きなしで国際通話が利用可能",
    new: false,
    recommend: false,
    deviceTypes: [
      'iphone',
      'android',
      'apple-watch',
    ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
    plan: "plan",
    dataPlan: false,
  },
  {
    category: 'global',
    h4: "海外ローミング（データ通信）",
    path: "international-roaming/?l-id=service_service-list_international-roaming",
    emp: "プラン料金に含む",
    price: "<span class=\"service-top-List_Contents-price-free\">無料</span>",
    cap : "海外指定71の国と地域で、定額料金でデータ通信が可能",
    new: false,
    recommend: false,
    deviceTypes: [
      'iphone',
      'android',
      'wifi',
    ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
    plan: "plan",
    dataPlan: true,
  },
  {
    category: 'global',
    h4: "国際SMS",
    path: "international-sms/?l-id=service_service-list_international-sms",
    emp: "プラン料金に含む",
    price: "<span class=\"service-top-List_Contents-price-free\">無料</span>",
    cap : "海外の現地ケータイ電話番号宛に、文字メッセージの送信が可能",
    new: false,
    recommend: false,
    deviceTypes: [
      'iphone',
      'android',
      'apple-watch',
    ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
    plan: "plan",
    dataPlan: true,
  },
  {
    category: 'global',
    h4: "データチャージ（海外ローミング）",
    path: "data-charge/?l-id=service_service-list_data-charge",
    emp: "",
    price: "1GBあたり<span class=\"service-top-List_Contents-price\">500</span>円",
    cap : "海外ローミングエリアで消費するデータ容量を、必要な分だけいつでもチャージできます。",
    new: false,
    recommend: false,
    deviceTypes: [
      'iphone',
      'android',
      'wifi',
    ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
    plan: "noplan",
    dataPlan: true,
  },
] -%>

<%_ const iupg = [
  {
    category: 'iupg',
    h4: "楽天モバイル買い替え超トクプログラム",
    path: "replacement-program/?l-id=service_service-list_replacement-program",
    emp: "プログラム利用料金",
    price: "<span class=\"service-top-List_Contents-price-free\">無料</span>",
    cap : "48回払いで購入した製品の24回分の支払い完了で、残りの支払いが不要＆新しい製品へ機種変更が可能。<br><span class=\"c-Txt_Emp-02\">※毎月製品代が発生します（楽天カード48回払い）</span><br>※返却時、事務手数料3,300円。当社指定基準を満たさない場合、故障費用22,000円が別途発生。または返却不可となる場合あり。",
    new: true,
    recommend: false,
    deviceTypes: [
      'iphone',
      'android',
    ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
    plan: "noplan",
    dataPlan: true,
  },
] -%>

<%_ const tradein = [
  {
    category: 'tradein',
    h4: "スマホ下取りサービス",
    path: "tradein/?l-id=service_service-list_tradein",
    emp: "",
    price: "<span class=\"service-top-List_Contents-price-free\">無料</span>",
    cap : "簡単査定でお使いのスマホを高額下取り！",
    new: false,
    recommend: true,
    deviceTypes: [
      'iphone',
      'android',
    ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
    plan: "noplan",
    dataPlan: true,
  },
] -%>

<%_ const shop = [
{
  category: 'shop',
  h4: "あんしん操作サポート",
  path: "shop-support-for-device-operation/?l-id=service_service-list_shop-support-for-device-operation",
  emp: "",
  price: "<span class=\"service-top-List_Contents-price\">550</span>円/月",
  cap : "操作に関するお困りごとに対面でお答え",
  new: false,
  recommend: false,
  deviceTypes: [
    'iphone',
    'android',
    'wifi',
    'apple-watch',
  ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
  plan: "noplan",
  dataPlan: true,
},
{
  category: 'shop',
  h4: "データ移行サポート",
  path: "shop-support-for-oneshot-operation/?l-id=service_service-list_shop-support-for-oneshot-operation",
  emp: "",
  price: "<span class=\"service-top-List_Contents-price\">1,100</span>円～<span class=\"service-top-List_Contents-price\">2,200</span>円／回",
  cap : "必要なときにだけお支払い",
  new: false,
  recommend: false,
  deviceTypes: [
    'iphone',
    'android',
  ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
  plan: "noplan",
  dataPlan: true,
},
{
  category: 'shop',
  h4: "保護フィルム貼り付け",
  path: "shop-support-for-protective-film/?l-id=service_service-list_shop-support-for-protective-film",
  emp: "",
  price: "<span class=\"service-top-List_Contents-price\">1,100</span>円/回",
  cap : "店頭でご購入いただいた保護フィルムの貼り付け",
  new: false,
  recommend: false,
  deviceTypes: [
    'iphone',
    'android',
  ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
  plan: "noplan",
  dataPlan: true,
},
{
  category: 'shop',
  h4: "ガラスコーティング",
  path: "shop-support-for-glass-coating/?l-id=service_service-list_shop-support-for-glass-coating",
  emp: "",
  price: "<span class=\"service-top-List_Contents-price\">4,400</span>円/回",
  cap : "お客様の端末にガラスコーティングを施工",
  new: false,
  recommend: false,
  deviceTypes: [
    'iphone',
    'android',
  ], // 'iphone' | 'android' | 'wifi' | 'apple-watch'
  plan: "noplan",
  dataPlan: true,
}
] -%>


<%# スクロール計測 _%>
<div class="u-Rat_Appear-height" data-ratid="service_scroll-04_call" data-ratevent="appear">&nbsp;</div>
<h3 class="c-Heading_Lv3 u-Adjust_Mt-16 u-Adjust_Mb-16">通話・SMS・メール</h3>
<ul class="<%= nameSpace %>-List_Ul js-service-Refine_List">
  <% for ( let i = 0; i < call.length; i++ ) { %>
  <li class="js-service-Refine_Target" data-category="<%- call[i].category %>" data-plan="<%- call[i].plan %>" data-device="<%- call[i].deviceTypes.join() %>" data-is-data-type="<%- call[i].dataPlan %>">

    <%_ if ( call[i].recommend == true ) { _%>
    <div class="<%= nameSpace %>-List_Contents-recommend"><span>オススメ</span></div>
    <%_ } _%>
    <%_ if ( call[i].new == true ) { _%>
    <div class="<%= nameSpace %>-List_Contents-new"><span>NEW</span></div>
    <%_ } _%>
    <%_ if ( call[i].desktop == true ) { _%>
    <div class="<%= nameSpace %>-List_Contents-desktop"><span>デスクトップ版（ベータ版）も登場！ </span></div>
    <%_ } _%>

    <a href="<%= sitepath %>service/<%- call[i].path %>" class="c-Card_Normal">
      <h4 class="c-Heading_Lv4"><%- call[i].h4 %></h4>
      <div class="<%= nameSpace %>-List_Contents">
        <div class="u-Adjust_Align-right">
          <span class="<%= nameSpace %>-List_Contents-emp"><%- call[i].emp %></span>
          <%- call[i].price %>
        </div>
        <p class="<%= nameSpace %>-List_Contents-desc"><%- call[i].cap %></p>
    <%_ if ( call[i].cap2 !== undefined) { _%>
        <p class="<%= nameSpace %>-List_Contents-desc"><%- call[i].cap2 %></p>
    <%_ } _%>
      </div>
    </a>
  </li>
  <% }; %>
</ul>

<%# スクロール計測 _%>
<div class="u-Rat_Appear-height" data-ratid="service_scroll-05_warranty" data-ratevent="appear">&nbsp;</div>
<h3 class="c-Heading_Lv3 u-Adjust_Mt-16 u-Adjust_Mb-16">保証</h3>
<ul class="<%= nameSpace %>-List_Ul js-service-Refine_List">
  <% for ( let i = 0; i < warranty.length; i++ ) { %>
  <li class="js-service-Refine_Target" data-category="<%- warranty[i].category %>" data-plan="<%- warranty[i].plan %>" data-device="<%- warranty[i].deviceTypes.join() %>" data-is-data-type="<%- warranty[i].dataPlan %>">

    <%_ if ( warranty[i].recommend == true ) { _%>
    <div class="<%= nameSpace %>-List_Contents-recommend"><span>オススメ</span></div>
    <%_ } _%>
    <%_ if ( warranty[i].new == true ) { _%>
    <div class="<%= nameSpace %>-List_Contents-new"><span>NEW</span></div>
    <%_ } _%>

    <a href="<%= sitepath %>service/<%- warranty[i].path %>" class="c-Card_Normal">
      <h4 class="c-Heading_Lv4"><%- warranty[i].h4 %></h4>
      <div class="<%= nameSpace %>-List_Contents">
        <div class="u-Adjust_Align-right">
          <span class="<%= nameSpace %>-List_Contents-emp"><%- warranty[i].emp %></span>
          <%- warranty[i].price %>
        </div>
        <p class="<%= nameSpace %>-List_Contents-desc"><%- warranty[i].cap %></p>
      </div>
    </a>
  </li>
  <% }; %>
</ul>

<%# スクロール計測 _%>
<div class="u-Rat_Appear-height" data-ratid="service_scroll-06_security" data-ratevent="appear">&nbsp;</div>
<h3 class="c-Heading_Lv3 u-Adjust_Mt-16 u-Adjust_Mb-16">セキュリティ</h3>
<ul class="<%= nameSpace %>-List_Ul js-service-Refine_List">
  <% for ( let i = 0; i < security.length; i++ ) { %>
  <li class="js-service-Refine_Target" data-category="<%- security[i].category %>" data-plan="<%- security[i].plan %>" data-device="<%- security[i].deviceTypes.join() %>" data-is-data-type="<%- security[i].dataPlan %>">

    <%_ if ( security[i].recommend == true ) { _%>
    <div class="<%= nameSpace %>-List_Contents-recommend"><span>オススメ</span></div>
    <%_ } _%>
    <%_ if ( security[i].new == true ) { _%>
    <div class="<%= nameSpace %>-List_Contents-new"><span>NEW</span></div>
    <%_ } _%>

    <a href="<%= sitepath %>service/<%- security[i].path %>" class="c-Card_Normal">
      <h4 class="c-Heading_Lv4"><%- security[i].h4 %></h4>
      <div class="<%= nameSpace %>-List_Contents">
        <div class="u-Adjust_Align-right">
          <span class="<%= nameSpace %>-List_Contents-emp"><%- security[i].emp %></span>
          <%- security[i].price %>
        </div>
        <p class="<%= nameSpace %>-List_Contents-desc"><%- security[i].cap %></p>
      </div>
    </a>
  </li>
  <% }; %>
</ul>

<%# スクロール計測 _%>
<div class="u-Rat_Appear-height" data-ratid="service_scroll-07_support" data-ratevent="appear">&nbsp;</div>
<h3 class="c-Heading_Lv3 u-Adjust_Mt-16 u-Adjust_Mb-16">サポート</h3>
<ul class="<%= nameSpace %>-List_Ul js-service-Refine_List">
  <% for ( let i = 0; i < support.length; i++ ) { %>
  <li class="js-service-Refine_Target" data-category="<%- support[i].category %>" data-plan="<%- support[i].plan %>" data-device="<%- support[i].deviceTypes.join() %>" data-is-data-type="<%- support[i].dataPlan %>">

    <%_ if ( support[i].recommend == true ) { _%>
    <div class="<%= nameSpace %>-List_Contents-recommend"><span>オススメ</span></div>
    <%_ } _%>
    <%_ if ( support[i].new == true ) { _%>
    <div class="<%= nameSpace %>-List_Contents-new"><span>NEW</span></div>
    <%_ } _%>

    <a href="<%= sitepath %>service/<%- support[i].path %>" class="c-Card_Normal">
      <h4 class="c-Heading_Lv4"><%- support[i].h4 %></h4>
      <div class="<%= nameSpace %>-List_Contents">
        <div class="u-Adjust_Align-right">
          <span class="<%= nameSpace %>-List_Contents-emp"><%- support[i].emp %></span>
          <%- support[i].price %>
        </div>
        <p class="<%= nameSpace %>-List_Contents-desc"><%- support[i].cap %></p>
      </div>
    </a>
  </li>
  <% }; %>
</ul>

<%# スクロール計測 _%>
<div class="u-Rat_Appear-height" data-ratid="service_scroll-08_data" data-ratevent="appear">&nbsp;</div>
<h3 class="c-Heading_Lv3 u-Adjust_Mt-16 u-Adjust_Mb-16">データ通信</h3>
<ul class="<%= nameSpace %>-List_Ul js-service-Refine_List">
  <% for ( let i = 0; i < data.length; i++ ) { %>
  <li class="js-service-Refine_Target" data-category="<%- data[i].category %>" data-plan="<%- data[i].plan %>" data-device="<%- data[i].deviceTypes.join() %>" data-is-data-type="<%- data[i].dataPlan %>">

    <%_ if ( data[i].recommend == true ) { _%>
    <div class="<%= nameSpace %>-List_Contents-recommend"><span>オススメ</span></div>
    <%_ } _%>
    <%_ if ( data[i].new == true ) { _%>
    <div class="<%= nameSpace %>-List_Contents-new"><span>NEW</span></div>
    <%_ } _%>

    <a href="<%= sitepath %>service/<%- data[i].path %>" class="c-Card_Normal">
      <h4 class="c-Heading_Lv4"><%- data[i].h4 %></h4>
      <div class="<%= nameSpace %>-List_Contents">
        <div class="u-Adjust_Align-right">
        <span class="<%= nameSpace %>-List_Contents-emp"><%- data[i].emp %></span>
        <%- data[i].price %>
        </div>
        <p class="<%= nameSpace %>-List_Contents-desc"><%- data[i].cap %></p>
      </div>
    </a>
  </li>
  <% }; %>
</ul>

<%# スクロール計測 _%>
<div class="u-Rat_Appear-height" data-ratid="service_scroll-13_disaster" data-ratevent="appear">&nbsp;</div>
<h3 class="c-Heading_Lv3 u-Adjust_Mt-16 u-Adjust_Mb-16">災害関連</h3>
<ul class="<%= nameSpace %>-List_Ul js-service-Refine_List">
  <% for ( let i = 0; i < disaster.length; i++ ) { %>
  <li class="js-service-Refine_Target" data-category="<%- disaster[i].category %>" data-plan="<%- disaster[i].plan %>" data-device="<%- disaster[i].deviceTypes.join() %>" data-is-data-type="<%- disaster[i].dataPlan %>">

    <%_ if ( disaster[i].recommend == true ) { _%>
    <div class="<%= nameSpace %>-List_Contents-recommend"><span>オススメ</span></div>
    <%_ } _%>
    <%_ if ( disaster[i].new == true ) { _%>
    <div class="<%= nameSpace %>-List_Contents-new"><span>NEW</span></div>
    <%_ } _%>

    <a href="<%= sitepath %>service/<%- disaster[i].path %>" class="c-Card_Normal">
      <h4 class="c-Heading_Lv4"><%- disaster[i].h4 %></h4>
      <div class="<%= nameSpace %>-List_Contents">
        <div class="u-Adjust_Align-right">
          <span class="<%= nameSpace %>-List_Contents-emp"><%- disaster[i].emp %></span>
          <%- disaster[i].price %>
        </div>
        <p class="<%= nameSpace %>-List_Contents-desc"><%- disaster[i].cap %></p>
    <%_ if ( disaster[i].cap2 !== undefined) { _%>
        <p class="<%= nameSpace %>-List_Contents-desc"><%- disaster[i].cap2 %></p>
    <%_ } _%>
      </div>
    </a>
  </li>
  <% }; %>
</ul>

<%# スクロール計測 _%>
<div class="u-Rat_Appear-height" data-ratid="service_scroll-09_overseas" data-ratevent="appear">&nbsp;</div>
<h3 class="c-Heading_Lv3 u-Adjust_Mt-16 u-Adjust_Mb-16">海外</h3>
<ul class="<%= nameSpace %>-List_Ul js-service-Refine_List">
  <% for ( let i = 0; i < global.length; i++ ) { %>
  <li class="js-service-Refine_Target" data-category="<%- global[i].category %>" data-plan="<%- global[i].plan %>"  data-device="<%- global[i].deviceTypes.join() %>" data-is-data-type="<%- global[i].dataPlan %>">

    <%_ if ( global[i].recommend == true ) { _%>
    <div class="<%= nameSpace %>-List_Contents-recommend"><span>オススメ</span></div>
    <%_ } _%>
    <%_ if ( global[i].new == true ) { _%>
    <div class="<%= nameSpace %>-List_Contents-new"><span>NEW</span></div>
    <%_ } _%>

    <a href="<%= sitepath %>service/<%- global[i].path %>" class="c-Card_Normal">
      <h4 class="c-Heading_Lv4"><%- global[i].h4 %></h4>
      <div class="<%= nameSpace %>-List_Contents">
        <div class="u-Adjust_Align-right">
          <span class="<%= nameSpace %>-List_Contents-emp"><%- global[i].emp %></span>
          <%- global[i].price %>
        </div>
        <p class="<%= nameSpace %>-List_Contents-desc"><%- global[i].cap %></p>
      </div>
    </a>
  </li>
  <% }; %>
</ul>

<%# スクロール計測 _%>
<div class="u-Rat_Appear-height" data-ratid="service_scroll-14_iupg" data-ratevent="appear">&nbsp;</div>
<h3 class="c-Heading_Lv3 u-Adjust_Mt-16 u-Adjust_Mb-16">製品購入サポート</h3>
<ul class="<%= nameSpace %>-List_Ul js-service-Refine_List">
  <% for ( let i = 0; i < iupg.length; i++ ) { %>
  <li class="js-service-Refine_Target" data-category="<%- iupg[i].category %>" data-plan="<%- iupg[i].plan %>" data-device="<%- iupg[i].deviceTypes.join() %>" data-is-data-type="<%- iupg[i].dataPlan %>">

    <%_ if ( iupg[i].recommend == true ) { _%>
    <div class="<%= nameSpace %>-List_Contents-recommend"><span>オススメ</span></div>
    <%_ } _%>
    <%_ if ( iupg[i].new == true ) { _%>
    <div class="<%= nameSpace %>-List_Contents-new"><span>NEW</span></div>
    <%_ } _%>

    <a href="<%= sitepath %>service/<%- iupg[i].path %>" class="c-Card_Normal">
      <h4 class="c-Heading_Lv4"><%- iupg[i].h4 %></h4>
      <div class="<%= nameSpace %>-List_Contents">
        <div class="u-Adjust_Align-right">
          <span class="<%= nameSpace %>-List_Contents-emp" style="color: #333;"><%- iupg[i].emp %></span>
          <%- iupg[i].price %>
        </div>
        <p class="<%= nameSpace %>-List_Contents-desc"><%- iupg[i].cap %></p>
      </div>
    </a>
  </li>
  <% }; %>
</ul>

<%# スクロール計測 _%>
<div class="u-Rat_Appear-height" data-ratid="service_scroll-10_tradein" data-ratevent="appear">&nbsp;</div>
<h3 class="c-Heading_Lv3 u-Adjust_Mt-16 u-Adjust_Mb-16">下取り</h3>
<ul class="<%= nameSpace %>-List_Ul js-service-Refine_List">
  <% for ( let i = 0; i < tradein.length; i++ ) { %>
  <li class="js-service-Refine_Target" data-category="<%- tradein[i].category %>" data-plan="<%- tradein[i].plan %>" data-device="<%- tradein[i].deviceTypes.join() %>" data-is-data-type="<%- tradein[i].dataPlan %>">

    <%_ if ( tradein[i].recommend == true ) { _%>
    <div class="<%= nameSpace %>-List_Contents-recommend"><span>オススメ</span></div>
    <%_ } _%>
    <%_ if ( tradein[i].new == true ) { _%>
    <div class="<%= nameSpace %>-List_Contents-new"><span>NEW</span></div>
    <%_ } _%>

    <a href="<%= sitepath %>service/<%- tradein[i].path %>" class="c-Card_Normal">
      <h4 class="c-Heading_Lv4"><%- tradein[i].h4 %></h4>
      <div class="<%= nameSpace %>-List_Contents">
        <div class="u-Adjust_Align-right">
          <span class="<%= nameSpace %>-List_Contents-emp"><%- tradein[i].emp %></span>
          <%- tradein[i].price %>
        </div>
        <p class="<%= nameSpace %>-List_Contents-desc"><%- tradein[i].cap %></p>
      </div>
    </a>
  </li>
  <% }; %>
</ul>

<%# スクロール計測 _%>
<div class="u-Rat_Appear-height" data-ratid="service_scroll-11_shop" data-ratevent="appear">&nbsp;</div>
<h3 class="c-Heading_Lv3 u-Adjust_Mt-16 u-Adjust_Mb-16">ショップサポート</h3>
<ul class="<%= nameSpace %>-List_Ul js-service-Refine_List">
  <% for ( let i = 0; i < shop.length; i++ ) { %>
  <li class="js-service-Refine_Target" data-category="<%- shop[i].category %>" data-plan="<%- shop[i].plan %>" data-device="<%- shop[i].deviceTypes.join() %>" data-is-data-type="<%- shop[i].dataPlan %>">

    <%_ if ( shop[i].recommend == true ) { _%>
    <div class="<%= nameSpace %>-List_Contents-recommend"><span>オススメ</span></div>
    <%_ } _%>
    <%_ if ( shop[i].new == true ) { _%>
    <div class="<%= nameSpace %>-List_Contents-new"><span>NEW</span></div>
    <%_ } _%>

    <a href="<%= sitepath %>service/<%- shop[i].path %>" class="c-Card_Normal">
      <h4 class="c-Heading_Lv4"><%- shop[i].h4 %></h4>
      <div class="<%= nameSpace %>-List_Contents">
        <div class="u-Adjust_Align-right">
          <span class="<%= nameSpace %>-List_Contents-emp"><%- shop[i].emp %></span>
          <%- shop[i].price %>
        </div>
        <p class="<%= nameSpace %>-List_Contents-desc"><%- shop[i].cap %></p>
      </div>
    </a>
  </li>
  <% }; %>
</ul>
