<% const nameSpace = "service-top" -%>
<%_ const ranking = [
{
  h3: "15分（標準）通話かけ放題",
  directory: "standard-free-call",
  lid: "standard-free-call-2",
  img: "standard-free-call",
  text: [
    "OS標準アプリでの1回15分以内の国内通話がかけ放題、国内SMSの送受信が使い放題になるサービスです。",
  ],
  cap : [
      "<span class=\"c-Txt_Emp-02\"><span class=\"c-Txt_Weight-normal\">※</span>10分かけ放題オプションは2022年7月1日に15分かけ放題オプションに生まれ変わりました。10分かけ放題をご契約中のお客様も、7月1日に自動的に15分かけ放題にアップグレードされます。</span>",
  ]
},
{
  h3: "データチャージ<br>（海外ローミング）",
  directory: "data-charge",
  lid: "data-charge",
  img: "data-charge",
  text: [
    "海外ローミングエリアで消費するデータ容量を、必要な分だけいつでもチャージできます。",
  ],
  cap : []
},
{
  h3: "選べる電話番号サービス",
  directory: "select-number",
  lid: "select-number",
  img: "select-number",
  text: [
    "電話番号の下4桁を好きな番号にできます。好きな電話番号が出てくるまで、何度でも検索可能！",
  ],
  cap : [
    "※ ご希望に添えない場合がございます。あらかじめご了承ください。",
    "<span class=\"c-Txt_Emp-02\"><span class=\"c-Txt_Weight-normal\">※</span> 通話プラン新規電話番号でお申し込み時</span>",
  ]
},
{
  h3: "スマホ交換保証<br>プラス",
  directory: "replacement-warranty-plus",
  lid: "replacement-warranty-plus",
  img: "replacement-warranty-plus",
  text: [
    "故障・紛失時に新品同等の同一機種に交換！最短当日中※にお届け",
  ],
  cap : [
      "※ 対象地域：東京／神奈川／千葉／埼玉",
      "<span class=\"c-Txt_Emp-02\"><span class=\"c-Txt_Weight-normal\">※</span> 加入できるのは購入時（新規・機種変更）のみ</span>",
  ]
},
{
  h3: "ノートンモバイル<br>セキュリティ",
  directory: "norton-mobile-security",
  lid: "norton-mobile-security",
  img: "norton-mobile-security",
  text: [
    "ウイルス対策やWeb保護、Wi-Fiセキュリティなどの機能で、スマホを保護します。",
  ],
  cap : []
},
] -%>

<div class="<%= nameSpace %>-Ranking">
  <ul class="<%= nameSpace %>-Ranking_List">
    <% for ( let i = 0; i < ranking.length; i++ ) { %>
    <li>
      <a href="<%= sitepath %>service/<%= ranking[i].directory %>/?l-id=service_service_<%= ranking[i].lid %>" class="c-Card_Normal">
        <div class="<%= nameSpace %>-Ranking_List-head">
          <span class="<%= nameSpace %>-Ranking_List-rank"><span class="c-Icon_Ranking-l"></span><%- i+1 %>位</span>
          <h3 class="c-Heading_Lv3 u-Adjust_Mt-8"><%- ranking[i].h3 %></h3>
        </div>
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/service/top/img-<%= ranking[i].img %>-sp.png?221003">
          <source srcset="<%= sitepath %>assets/img/service/top/img-<%= ranking[i].img %>.png?221003">
          <img src="<%= sitepath %>assets/img/service/top/img-<%= ranking[i].img %>.png?221003" width="472" alt="">
        </picture>
        <p class="u-Adjust_Mt-16"><%- ranking[i].text[0] %></p>
        <div class="u-Adjust_Mt-8">
          <% for (let j = 0; j < ranking[i].cap.length; j++) { %>
          <p class="c-Txt_Cap"><%- ranking[i].cap[j] %></p>
          <% }; %>
        </div>
      </a>
    </li>
    <% }; %>
  </ul>
</div>
