<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "承諾番号の取得方法（事業者変更・転用）" -%>
<% const directories = [{path: hikariroot.path + "flow/", label:"ご利用開始までの流れ"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '他社光コラボ、フレッツ光から乗り換える場合に必要な承諾番号（事業者変更承諾番号・転用承諾番号）の取得方法と、主な問い合わせ先を掲載しています。',
    noindex: false,
    pathname: filepath,
    ishikari: true,
    canonical_custom: 'https://network.mobile.rakuten.co.jp/hikari/flow/transfer-number/',
  });
%>
<%- include('/include/hikari/_common-v2-hikari-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/hikari/flow/transfer-number/number.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/module/m-hikari-cpn-v2.css?20240424">


<%- include('/include/_append-head-hikari') %>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>

<div class="l-System">

  <%- include('/hikari/include/_header', {
    headerType: 'normal',
    pagetitle: pagetitle,
    pathname: filepath,
    directories: directories,
    tax: 'true',
  }) %>

  <div class="l-hikari-Section_Main">
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
      <div class="l-hikari-Section_Main-lead">
        <p>他社光コラボ（SoftBank 光、ドコモ光、OCN 光、ぷらら光、ビッグローブ光、So-net 光 プラスなど）、フレッツ光からお乗り換えの場合、承諾番号（事業者変更承諾番号・転用承諾番号）が必要です。</p>
      </div>
    </div>

    <div class="l-System_Container">
      <div class="l-hikari-Section_Main-lead u-Adjust_Mt-40">
        <div class="c-Tab js-Tab">
          <ul class="c-Tab_Items" role="tablist">
            <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">他社光コラボからお乗り換え</li>
            <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">フレッツ光からお乗り換え</li>
            <li class="c-Tab_Item" id="tab-menu3" role="tab" aria-selected="false" aria-controls="tab-content3">契約状態がわからない</li>
          </ul>

          <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
            <h2 class="c-Heading_Lv2 u-Adjust_Mt-40">他社光コラボからお乗り換えの場合（事業者変更）</h2>
            <p class="u-Adjust_Mt-24">
              楽天ひかりのお申し込みの前に、ご契約者様ご本人で<b>事業者変更承諾番号</b>を取得してください。<br>
              取得方法は現在ご契約中の光コラボ事業者へ確認してください。
            </p>
            <div class="hikari-number-Grid_Flex u-Adjust_Mt-40">
              <div>
                <p class="c-Heading_Lv3">事業者変更承諾番号とは</p>
                <p class="u-Adjust_Mt-8 hikari-number-Grid_Txt-eg"><strong>F</strong>（東日本）または <strong>T</strong>（西日本）から始まる<strong>11桁</strong>の英数字</p>
                <div class="u-Adjust_Mt-24">
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/hikari/flow/number/img01-sp.png">
                    <img src="<%= sitepath %>assets/img/hikari/flow/number/img01-pc.png" alt="">
                  </picture>
                </div>
              </div>
              <div>
                <h4 class="c-Heading_Lv4">有効期限は15日間</h4>
                <p class="u-Adjust_Mt-8">期限が残り4日以上あればお申し込み可能です。4日未満の場合は再度取得する必要があります。</p>
                <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">取得に必要な情報</h4>
                <ul class="c-List_Text-disc u-Adjust_Mt-8">
                  <li>契約者名</li>
                  <li class="u-Adjust_Mt-8">電話番号</li>
                </ul>
              </div>
            </div>
            <div class="u-Adjust_Mt-64">
              <h3 class="c-Heading_Lv3">事業者変更承諾番号の主な問い合わせ先一覧</h3>
              <dl class="c-Dl_Origin u-Adjust_Mt-24">
                <div>
                  <dt>ドコモ光</dt>
                  <dd>
                    <p>
                      ドコモ携帯電話の場合　<a href="tel:151"><b>151</b></a><br>
                      一般電話などの場合　<a href="tel:0120-800-000"><b>0120-800-000</b></a>
                    </p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8">9:00～20:00（年中無休）</p>
                  </dd>
                </div>
                <div>
                  <dt>SoftBank 光</dt>
                  <dd>
                    <p>
                      <a href="tel:0800-111-2009"><b>0800-111-2009</b></a>
                    </p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8">10:00～19:00（年中無休）</p>
                  </dd>
                </div>
                <div>
                  <dt>OCN 光</dt>
                  <dd>
                    <p>
                      <a href="tel:0120-506-506"><b>0120-506-506</b></a>
                    </p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8">10:00〜18:00（日曜・祝日・年末年始を除く）</p>
                  </dd>
                </div>
                <div>
                  <dt>ぷらら光</dt>
                  <dd>
                    <p>
                      固定電話の場合　<a href="tel:009192-33"><b>009192-33</b></a><br>
                      ひかり電話の場合　<a href="tel:0120-971-391"><b>0120-971-391</b></a><br>
                      携帯電話の場合　<a href="tel:050-7560-0033"><b>050-7560-0033</b></a>
                    </p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8">10:00～19:00（年中無休）</p>
                  </dd>
                </div>
                <div>
                  <dt>ビッグローブ光</dt>
                  <dd>
                    <p>
                      固定電話の場合　<a href="tel:0120-907-505"><b>0120-907-505</b></a><br>
                      携帯電話・IP電話の場合　<a href="tel:03-6479-5716"><b>03-6479-5716</b></a>
                    </p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8">9:00～18:00（年中無休）</p>
                  </dd>
                </div>
                <div>
                  <dt>So-net 光 プラス</dt>
                  <dd>
                    <p>
                      <a href="tel:0120-45-2522​"><b>0120-45-2522​</b></a>

                    </p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8">9:00～18:00（1月1日・2日を除く）</p>
                  </dd>
                </div>
              </dl>
              <p class="c-Txt_Cap u-Adjust_Mt-16">※ 2022年7月29日（金）​現在の情報です。取得連絡先や受付時間が変更されている場合がありますので、詳しくは各事業者へお問い合わせください。</p>

              <div class="u-Adjust_Mt-64">
                <div class="hikari-number-Layout_Flow-detail">
                  <h2 class="hikari-number-Layout_Flow-detail-title">
                    承諾番号の取得方法（事業者変更）について、もっと詳しく
                  </h2>
                  <div class="hikari-number-Layout_Flow-detail-body">
                    <div class="c-Accordion">
                      <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>契約名義、設置先住所が異なる場合も承諾番号の取得は必要ですか？</button>
                      <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="false">
                        <p>
                          楽天ひかりに申し込む際の契約名義、もしくは設置先住所が、ご利用中の光コラボと異なる場合、初めての光回線の設置となります。<br>
                          光コラボからの乗り換えとならないため、事業者変更承諾番号の取得は不要です。
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
            <h2 class="c-Heading_Lv2 u-Adjust_Mt-40">フレッツ光からお乗り換えの場合（転用）</h2>
            <p class="u-Adjust_Mt-24">
              楽天ひかりのお申し込みの前に、ご契約者様ご本人で<b>転用承諾番号</b>を取得してください。<br>
              取得方法はNTT東日本・NTT西日本へ確認してください。
            </p>
            <div class="hikari-number-Grid_Flex u-Adjust_Mt-40">
              <div>
                <p class="c-Heading_Lv3">転用承諾番号とは</p>
                <p class="u-Adjust_Mt-8 hikari-number-Grid_Txt-eg"><strong>E</strong>（東日本）または <strong>W</strong>（西日本）から始まる<strong>11桁</strong>の英数字</p>
                <div class="u-Adjust_Mt-24">
                  <picture>
                    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/hikari/flow/number/img02-sp.png">
                    <img src="<%= sitepath %>assets/img/hikari/flow/number/img02-pc.png" alt="">
                  </picture>
                </div>
              </div>
              <div>
                <h4 class="c-Heading_Lv4">有効期限は15日間</h4>
                <p class="u-Adjust_Mt-8">期限が残り4日以上あればお申し込み可能です。4日未満の場合は再度取得する必要があります。</p>
                <h4 class="c-Heading_Lv4 u-Adjust_Mt-24">取得に必要な情報</h4>
                <ul class="c-List_Text-disc u-Adjust_Mt-8">
                  <li>お客様ID（CAFもしくはCOP番号）、またはひかり電話番号</li>
                  <li class="u-Adjust_Mt-8">契約者名</li>
                  <li class="u-Adjust_Mt-8">設置先住所</li>
                  <li class="u-Adjust_Mt-8">支払い方法</li>
                </ul>
              </div>
            </div>
            <div class="u-Adjust_Mt-64">
              <h3 class="c-Heading_Lv3">転用承諾番号の主な問い合わせ先一覧</h3>
              <dl class="c-Dl_Origin u-Adjust_Mt-24">
                <div>
                  <dt>NTT東日本</dt>
                  <dd>
                    <div class="hikari-number-Grid_Dl">
                      <div>電話</div>
                      <div>
                        <a href="tel:0120-140-202"><b>0120-140-202</b></a>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">受付時間 9:00〜17:00　土日・祝日も受付（年末年始を除く）</p>
                      </div>
                    </div>
                    <div class="hikari-number-Grid_Dl u-Adjust_Mt-8">
                      <div>Web</div>
                      <div>
                        <p><a href="https://flets.com/app4/input/index/" target="_blank" class="c-Link_Txt-inline">光コラボレーション（転用）のお手続き<span class="c-Icon_New-window-l"></span></a></p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">受付時間 8:30～22:00　土日・祝日も受付（年末年始を除く）</p>
                      </div>
                    </div>
                  </dd>
                </div>
                <div>
                  <dt>NTT西日本</dt>
                  <dd>
                    <div class="hikari-number-Grid_Dl">
                      <div>電話</div>
                      <div>
                        <a href="tel:0120-553-104"><b>0120-553-104</b></a>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">受付時間 9:00〜17:00　土日・祝日も受付（年末年始を除く）</p>
                      </div>
                    </div>
                    <div class="hikari-number-Grid_Dl u-Adjust_Mt-8">
                      <div>Web</div>
                      <div>
                        <p><a href="https://flets-w.com/collabo/" target="_blank" class="c-Link_Txt-inline">光コラボレーションモデルをご検討・ご利用中のお客様<span class="c-Icon_New-window-l"></span></a></p>
                        <p class="c-Txt_Cap u-Adjust_Mt-8">受付時間 8:30～22:00　土日・祝日も受付（年末年始を除く）</p>
                      </div>
                    </div>
                  </dd>
                </div>
              </dl>
            </div>
          </div>

          <div class="c-Tab_Panel" id="tab-content3" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu3">
            <h2 class="c-Heading_Lv2 u-Adjust_Mt-40">ご自身の契約状態がわからない場合</h2>
            <p class="u-Adjust_Mt-24">ご自身の契約状態がわからない場合、以下の方法で確認することができます。</p>
            <ul class="c-List_Text-disc u-Adjust_Mt-24">
              <li>契約書を確認する</li>
              <li class="u-Adjust_Mt-8">インターネット回線事業者からの申し込み、契約に関するメールを確認する</li>
              <li class="u-Adjust_Mt-8">クレジットカードの請求履歴、銀行の引き落とし履歴の会社名を確認する</li>
              <li class="u-Adjust_Mt-8">アパート・マンションなど集合住宅にお住まいの場合は管理会社やオーナーに確認する</li>
              <li class="u-Adjust_Mt-8">
                NTT東日本・NTT西日本に問い合わせる
                <div class="u-Adjust_Mt-8 hikari-number-Util_Adjust-noindent">
                  <a href="tel:0120-116-116"><b>0120-116-116</b></a><br>
                  <span class="c-Txt_Cap">
                    受付時間：午前9時～午後5時まで<br>
                    土日・祝日も営業（年末年始を除く）
                  </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="l-System_Container u-Adjust_Mt-48">
    <h3 class="c-Heading_Lv3 u-Adjust_Align-center">楽天ひかりと楽天モバイルを<br class="u-Show_Oox">セットでご利用の方へ</h3>

    <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
      <%- include('/include/hikari/bnr/_bnr-casa-1032-160', {
        orglid: 'rhk_hikari_flow_transfer-number_product_internet_rakuten-casa_01',
      }) %>
    </div>
  </div>

  <footer class="g-Footer">
    <%- include('/hikari/include/_footer', {
      pagetitle: pagetitle,
      directories: directories,
      // hiddenFooterCtaLink: '',
      hiddenFooterCtaText: '',
      // hiddenCta: true,
      // hiddenMenu: true,
      // hiddenPopask: true,
      // hiddenBacktop: true,
      // hiddenBreadcrumbs: true
    }) _%>
  </footer>

</div>
<%- include('/include/hikari/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
