<% const pagetitle = "Apple IDに関するサポート" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Apple IDの設定方法をご案内します。Apple IDは、Apple のさまざまなサービスにサインインする時に使用するアカウントになります。iPhoneを使用する際は、アカウントを作成してご利用ください。',
    noindex: false,
    pathname: filepath
  });
%>
<% const nameSpace = "support" -%>

<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/support/support.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= nameSpace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

    <p class="u-Adjust_Mt-32">Apple IDは、Apple のさまざまなサービスにサインインする時に使用するアカウントになります。iPhoneを使用する際は、アカウントを作成してご利用ください。<br>
 Apple IDの作成にはWi-Fi接続および電話番号（SMSか音声通話）での認証が必要です。</p>

 <div class="u-Adjust_Mt-16"><a href="https://support.apple.com/ja-jp/apple-id" target="_blank" class="c-Link_Txt-icon">Apple IDの詳細を確認する<span class="c-Icon_New-window-l"></span></a></div>

 <ul class="c-List_Cap u-Adjust_Pt-16">
   <li><span>※</span>iOSのバージョンにより画面が異なる場合がございます。</li>
 </ul>

    <ol class="<%= nameSpace %>-Flow_List u-Adjust_Mt-48">
      <li>
        <h2 class="c-Heading_Lv3">1. Apple IDの作成画面を開く</h2>
        <p class="u-Adjust_Mt-16">設定をタップし、「iPhoneにサインイン」をタップしてください。</p>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/iphone/appleid/capture01.png?210430" class="c-Img_Capture" alt="">
          </div>
        </div>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/iphone/appleid/capture02.png?210430" class="c-Img_Capture" alt="">
          </div>
        </div>
        <p class="u-Adjust_Mt-16">「Apple IDをお持ちでないか忘れた場合」をタップしてください。</p>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/iphone/appleid/capture03.png?210430" class="c-Img_Capture" alt="">
          </div>
        </div>
      </li>
      <li>
        <h2 class="c-Heading_Lv3">2. 「Apple IDを作成」をタップ</h2>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/iphone/appleid/capture04.png?210430" class="c-Img_Capture" alt="">
          </div>
        </div>
      </li>
      <li>
        <h2 class="c-Heading_Lv3">3. 情報を入力し「次へ」をタップ</h2>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/iphone/appleid/capture05.png?210430" class="c-Img_Capture" alt="">
          </div>
        </div>
      </li>
      <li>
        <h2 class="c-Heading_Lv3">4. メールアドレスを入力し「次へ」をタップ</h2>
        <p class="u-Adjust_Mt-16">※メールアドレスを持っていない場合は「メールアドレスを持っていない場合」をタップし、画面の案内に沿って取得してください。</p>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/iphone/appleid/capture06.png?210430" class="c-Img_Capture" alt="">
          </div>
        </div>
      </li>
      <li>
        <h2 class="c-Heading_Lv3">5. Apple IDのパスワードを設定し「次へ」をタップ</h2>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/iphone/appleid/capture07.png?210430" class="c-Img_Capture" alt="">
          </div>
        </div>
      </li>
      <li>
        <h2 class="c-Heading_Lv3">6. 認証方法を受けるための方法を選択し、「次へ」をタップ</h2>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/iphone/appleid/capture08.png?210430" class="c-Img_Capture" alt="">
          </div>
        </div>
      </li>
      <li>
        <h2 class="c-Heading_Lv3">7. 音声通話・SMSで受け取った確認コードを入力し、「次へ」をタップ</h2>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/iphone/appleid/capture09.png?210430" class="c-Img_Capture" alt="">
          </div>
        </div>
      </li>
      <li>
        <h2 class="c-Heading_Lv3">８. 利用規約に同意する</h2>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/iphone/appleid/capture10.png?210430" class="c-Img_Capture" alt="">
          </div>
        </div>
      </li>
      <li>
        <h2 class="c-Heading_Lv3">9. 作成完了</h2>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/iphone/appleid/capture11.png?210430" class="c-Img_Capture" alt="">
          </div>
        </div>
      </li>
    </ol>

    <p class="u-Adjust_Mt-16">以上でApple IDの作成は完了です。<br>
必要に応じて、Apple IDでの支払い設定を行ってください。</p>


    <h2 class="c-Heading_Lv2 u-Adjust_Mt-48" id="initial_setting">Apple IDでの支払い設定方法</h2>
    <ol class="<%= nameSpace %>-Flow_List u-Adjust_Mt-32">
      <li>
        <h2 class="c-Heading_Lv3">1. Apple IDの作成画面を開く</h2>
        <p class="u-Adjust_Mt-16">設定をタップし、アカウント名をタップしてください。</p>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/iphone/appleid/capture01.png?210430" class="c-Img_Capture" alt="">
          </div>
        </div>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/iphone/appleid/capture02.png?210430" class="c-Img_Capture" alt="">
          </div>
        </div>
        <p class="u-Adjust_Mt-16">「支払いと配送先」をタップしてください。</p>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
              <img src="<%= sitepath %>assets/img/guide/iphone/appleid/capture12.png?210430" class="c-Img_Capture" alt="">
          </div>
        </div>
      </li>
      <li>
        <h2 class="c-Heading_Lv3">2. 「お支払い方法を追加」をタップ</h2>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/iphone/appleid/capture13.png?210430" class="c-Img_Capture" alt="">
          </div>
        </div>
      </li>
      <li>
        <h2 class="c-Heading_Lv3">3. 支払い情報を入力する</h2>
        <p class="u-Adjust_Mt-16">ご希望の支払い方法の必要情報を入力して、「完了」をタップしてください。</p>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/iphone/appleid/capture14.png?210430" class="c-Img_Capture" alt="">
          </div>
        </div>
      </li>
      <li>
        <h2 class="c-Heading_Lv3">4. 設定完了</h2>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/iphone/appleid/capture15.png?210430" class="c-Img_Capture" alt="">
          </div>
        </div>
      </li>
    </ol>

    <p class="u-Adjust_Mt-16">以上でApple IDでの支払い設定は完了です。</p>

    <div class="u-Adjust_Pt-32">
      <div><a href="<%= sitepath %>support/" class="c-Btn_Regular-semiauto"><span>お客様サポートトップにもどる</span></a></div>
    </div>

    <div class="u-Adjust_Pt-16">
      <div><a href="<%= sitepath %>" class="c-Btn_Regular-semiauto"><span>楽天モバイルトップへ</span></a></div>
    </div>

  </div>
</div>

<%- include('/include/guide/_review') %>
<%- include('/include/guide/_inquiry') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">



    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
