<% const pagetitle = "ルーター" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/router/router-top.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

  <%- include('/include/_header') %>

  <div class="c-Breadcrumbs_Head">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <li><a href="<%= sitepath %>product/">製品</a><span class="c-Icon_Chevron-right"></span></li>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <div class="c-Heading_Hero-rich router-top-Hero">
    <div class="l-System_Container">
      <div class="c-Heading_Hero-ttl">
        <h1 class="c-Heading_Lv1"><span class="c-Txt_Alphanumeric-m">PRODUCT</span>製品</h1>
      </div>
    </div>
  </div>
  <div class="l-System_Container">
    <p class="c-Txt_Cap u-Adjust_Align-right">※表記の金額はすべて税別です。</p>
  </div>

  <div class="router-top-Layout_Main">

    <div class="router-top-Layout_Scroll">
      <ul class="router-top-Category">
        <li aria-selected="false"><a href="<%= sitepath %>product/"><span class="c-Icon_Product-smartphone"></span><span>スマートフォン</span></a></li>
        <!-- <li aria-selected="true"><a href="<%= sitepath %>product/router/"><span class="c-Icon_Product-router"></span><span>モバイルルーター</span></a></li> -->
        <li aria-selected="false"><a href="<%= sitepath %>product/accessory/smartphone-related/"><span class="c-Icon_Product-accessory"></span><span>アクセサリー</span></a></li>
      </ul>
    </div>
    <div class="router-top-Layout_Item">
      <div class="l-System_Container">
        <ul class="router-top-Card">
          <li>
            <div class="router-top-Card_Label">
              <span><img src="<%= sitepath %>assets/img/common/icon-new.png" width="60" alt="NEW"></span>
            </div>
            <figure><a href="<%= sitepath %>product/router/aterm-mp02ln/"><img class="js-lazy-dummy" src="<%= sitepath %>assets/img/router/aterm-mp02ln/pht-device-00.png" data-src="<%= sitepath %>assets/img/router/aterm-mp02ln/pht-device-00.png" alt=""></a></figure>
            <ul class="router-top-Card_Color">
              <li><span style="background:#C75C61;"></span></li>
              <li><span style="background:#E4E4E4;"></span></li>
            </ul>
            <h3 class="router-top-Card_Name c-Txt_Alphanumeric">Aterm MP02LN</h3>
            <div class="router-top-Card_Price">
              <p>分割48回払い<span class="c-Txt_Alphanumeric-m">261</span>円/月</p>
              <p>初回のみ279円</p>
            </div>

            <ul class="router-top-Card_Btn">
              <li><a href="<%= sitepath %>product/router/aterm-mp02ln/" class="c-Btn_Regular">詳細を見る</a></li>
              <!-- <li><a href="<%= onboardingpath %>" class="c-Btn_Primary js-customer-tablet">購入する</a></li> -->
            </ul>
          </li>
          <li>
            <div class="router-top-Card_Label">
              <span><img src="<%= sitepath %>assets/img/common/icon-new.png" width="60" alt="NEW"></span>
            </div>
            <figure><a href="<%= sitepath %>product/router/aterm-mr05ln/"><img class="js-lazy-dummy" src="<%= sitepath %>assets/img/router/aterm-mr05ln/pht-device-00.png" data-src="<%= sitepath %>assets/img/router/aterm-mr05ln/pht-device-00.png" alt=""></a></figure>
            <ul class="router-top-Card_Color">
              <li><span class="color-white" style="background:#FFFFFF;"></span></li>
            </ul>
            <h3 class="router-top-Card_Name c-Txt_Alphanumeric">Aterm MR05LN</h3>
            <div class="router-top-Card_Price">
              <p>分割48回払い<span class="c-Txt_Alphanumeric-m">450</span>円/月</p>
              <p>初回のみ487円</p>
            </div>

            <ul class="router-top-Card_Btn">
              <li><a href="<%= sitepath %>product/router/aterm-mr05ln/" class="c-Btn_Regular">詳細を見る</a></li>
              <!-- <li><a href="<%= onboardingpath %>" class="c-Btn_Primary js-customer-tablet">購入する</a></li> -->
            </ul>
          </li>
        </ul>

      </div>
    </div>

  </div>

  <footer class="g-Footer">

    <div class="g-Footer_Aside">

      <%- include('/include/footer/related/_related-product-top.ejs') %>

      <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%#- include('/faq/include/related-product.ejs') %>

      <div class="g-Footer_Pagetop">
        <a href="#top" class="js-scroll">
          <span class="c-Icon_Arrow-up-l"></span>
        </a>
      </div>
    </div>
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <li><a href="<%= sitepath %>product/">製品</a><span class="c-Icon_Chevron-right"></span></li>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>

    <%- include('/include/_footer') %>

  </footer>

</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>


