<% const pagetitle = "【ショップ限定】iPhone 14 128GB 実質10,001円キャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "shop-limited-iphone-14" -%>
<% const finishSchedule="2023年8月31日(木)" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '楽天モバイルショップ限定！楽天モバイルへ初めてお申し込み＆iPhone 14ご購入で最大53,731ポイント還元キャンペーン開催中です。',
  keywords: '',
  noindex: false,
  pathname: filepath
});
%><%- include('/include/_common-css-v2') %>
<%- include('/inc/_about-rakuten-mobile-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/shop-limited-iphone-14/shop-limited-iphone-14.css?20240424">
<!-- include部分一時追加 -->
<link rel="stylesheet" href="<%= sitepath %>assets/css/inc/i-unlimit.css?20240424">
<!-- include部分一時追加 -->
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout_Label">
      <ul class="c-Label_List <%= namespace %>-Layout_Label_List">
        <li class="c-Label_Normal">ショップ申込限定</li>
        <li class="c-Label_Normal">初めて申込限定</li>
        <li class="c-Label_Normal">対象製品限定</li>
        <li class="c-Label_Normal">Rakuten Link利用必要</li>
      </ul>
      <p class="<%= namespace %>-Layout_Label-point">ポイント：付与日を含めて6カ月の期間限定ポイント</p>
    </div>

    <div class="<%= namespace %>-Hero_Return">
      <div class="<%= namespace %>-Hero_Container">
        <div class="<%= namespace %>-Hero_Main">
          <h1>
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/campaign/<%= namespace %>/hero-sp.png" width="650" height="870">
              <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/hero-pc.png" alt="【ショップ限定】iPhoneアップグレードプログラムご利用＋楽天モバイルへ初めてお申し込みで最大53,731ポイント還元" width="1032" hegith="300">
            </picture>
          </h1>
        </div>
      </div>
    </div>

    <div class="<%= namespace %>-Layout_Body u-Adjust_Pt-0">
      <div class="l-System u-Adjust_Pt-8">
        <div class="l-System_Container">
          <div class="u-Adjust_Align-center">
            <p class="c-Txt_Cap u-Adjust_Mt-8"><span class="c-Txt_Emp-02">※「Rakuten最強プラン（データタイプ）」は対象外です。</span>※Rakuten Linkアプリのご利用が必要です。その他条件あり</p>
            <div class="u-Adjust_My-32">
              <p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mb-16">本キャンペーンは<%= finishSchedule %>をもちまして終了いたしました。<br>このページに掲載されている情報は、キャンペーン終了時点のものです。</p>
              <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>campaign/?l-id=end_campaign" class="c-Link_Txt-inline">開催中のキャンペーンを見る<span class="c-Icon_Chevron-right"></span></a></p>
            </div>
            <p class="u-Adjust_Mt-32">
              <span class="c-Txt_Emp-01">【キャンペーン期間】</span><br class="<%= namespace %>-Utility_Br-sp">
              2023年7月1日（土）開店～2023年8月31日（木）閉店
            </p>
          </div>

          <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-24">
            <li><a href="#requirements" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンの達成条件</a></li>
            <li><a href="#product" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>対象製品</a></li>
            <li><a href="#flow" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンの流れ</a></li>
            <li><a href="#campaign-rule" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルール</a></li>
          </ul>

          <div class="<%= namespace %>-Pointback u-Adjust_Mt-32">
            <h2 class="c-Heading_Lv2 u-Adjust_Mb-24 u-Adjust_Align-center">ご購入内容に応じてポイント還元！</h2>
            <div class="<%= namespace %>-Pointback_Pc">
              <img src="<%= sitepath %>assets/img/campaign/shop-limited-iphone-14/pointback-pc.png" alt="">
            </div>
            <div class="<%= namespace %>-Pointback_Sp">
              <div class="c-Tab js-Tab">
                <ul class="c-Tab_Items u-Adjust_Mb-16" role="tablist">
                  <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">対象製品&プラン申し込み</li>
                  <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">対象製品のみ購入</li>
                </ul>
                <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
                  <img src="<%= sitepath %>assets/img/campaign/shop-limited-iphone-14/pointback-sp-1.png" alt="">
                </div>
                <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
                  <img src="<%= sitepath %>assets/img/campaign/shop-limited-iphone-14/pointback-sp-2.png" alt="">
                </div>
              </div>
            </div>
            <p class="<%= namespace %>-Utility_Mt-16-32 c-Txt_Emp-02" style="margin-bottom:1em;">※製品の販売在庫は、申し込み内容（製品単体購入、プランとセット購入）にかかわらず、同一管理で対応しております。<br>
              ※ご購入時に製品のネットワーク接続を確認させていただきます。同意いただけない場合、販売をお断りさせていただきますので、ご了承ください。</p>
            <p class="c-Txt_Emp-02 c-Txt_Cap">※「実質価格」とは、キャンペーンの条件達成（Rakuten最強プラン初めて契約、対象製品購入、Rakuten Link利用など）により後日付与されるポイントを加味した価格であり、実際のお支払い金額とは異なります。詳しくは各<a href="#campaign-rule" class="js-scroll">キャンペーンルール</a>をご確認ください。</p>
            <ul>
              <li class="c-Txt_Cap"><span>※</span>1 楽天カードのみ。現金販売価格と割賦販売価格（総額）は製品価格と同額。支払回数48回、支払期間48カ月、実質年率0％。48回目のみ2,564円/月。</li>
              <li class="c-Txt_Cap c-Txt_Emp-02"><span>※</span>2 24回分お支払い後、25カ月目に製品を返却した場合。ご返却の製品が当社指定の状態基準を満たさない場合、故障費用22,000円のお支払いが必要となる、または返却不可となる場合があります。</li>
              <li class="c-Txt_Cap"><span>※</span>3 「<a href="#campaign-rule1526" class="js-scroll">【Rakuten最強プランお申し込み特典】だれでも3,000ポイントプレゼント</a>」、「<a href="#campaign-rule1819" class="js-scroll">iPhone 対象端末ポイントバックキャンペーン</a>」、「<a href="#campaign-rule1982" class="js-scroll">【ショップ限定】iPhone 14 128GBポイントバックキャンペーン</a>」適用時。</li>
              <li class="c-Txt_Cap"><span>※</span>4 「<a href="#campaign-rule1982" class="js-scroll">【ショップ限定】iPhone 14 128GBポイントバックキャンペーン</a>」適用時。</li>
            </ul>
          </div>

          <div class="u-Adjust_Mt-32" id="js-trigger">
            <section id="requirements" class="<%= namespace %>-Conditions">
              <h2 class="c-Txt_Normal-ll <%= namespace %>-Conditions_Text">キャンペーンの達成条件</h2>
              <p class="u-Adjust_Align-center">（最大53,731ポイント還元時）</p>
              <p class="<%= namespace %>-Conditions_Text u-Adjust_Mt-16">本キャンペーンには達成条件が設定されています。詳細は各<a href="#campaign-rule" class="c-Link_Txt js-scroll">キャンペーンルール</a>をご確認ください。</p>
              <img class="<%= namespace %>-Utility_Br-pc u-Adjust_Mt-16 <%= namespace %>-Conditions_Img" src="<%= sitepath %>assets/img/campaign/shop-limited-iphone-14/img-01-pc-230703.png" alt="">
              <img class="<%= namespace %>-Utility_Br-sp u-Adjust_Mt-16 <%= namespace %>-Conditions_Img" src="<%= sitepath %>assets/img/campaign/shop-limited-iphone-14/img-01-sp-230703.png" alt="">
              <p class="c-Txt_Cap u-Adjust_Mt-16"><span class="c-Txt_Emp-02">※「【ショップ限定】iPhone 14 128GBポイントバックキャンペーン」は、対象の製品のみご購入でも適用となります。</span>おひとり様1回限りの適用になります。</p>

              <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                <h3 class="c-Heading_Lv3">キャンペーンの達成状況はこちらで確認</h3>
              </div>
              <div class="c-Accordion <%= namespace %>-Accordion_Left u-Adjust_Mt-24">
                <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>達成状況の確認方法</button>
                <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true" style="display:none;">
                  <h4 class="c-Heading_Lv4">達成状況の確認方法</h4>
                  <ol class="u-Adjust_Mt-16">
                    <li>
                      <p class="c-Txt_Emp-01">1. 「<a href="<%= ecarepath %>my-rakuten-mobile?l-id=campaign_shop-limited-iphone-14_my-rakuten-mobile_accordion" class="c-Link_Txt">my 楽天モバイル</a>」にアクセス</p>
                    </li>
                    <li class="u-Adjust_Mt-32">
                      <p class="c-Txt_Emp-01">2. 右上のメニューから「利用状況」を選択</p>
                      <div class="<%= namespace %>-Utility_Img-capture u-Adjust_Mt-32">
                        <img src="<%= sitepath %>assets/img/campaign/common/img-cap01-230601.png" width="300" alt="">
                      </div>
                    </li>
                    <li class="u-Adjust_Mt-32">
                      <p class="c-Txt_Emp-01">3. 「通話」タブを選択して<span class="c-Txt_Emp-02">Rakuten Linkでの10秒以上の発信通話履歴</span>があることを確認してください</p>
                      <div class="<%= namespace %>-Utility_Img-capture u-Adjust_Mt-32">
                        <img src="<%= sitepath %>assets/img/campaign/common/img-cap02.png" width="300" alt="">
                      </div>
                    </li>
                  </ol>
                </div>
              </div>
            </section>
          </div>
          <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
            <a href="<%= sitepath %>shop/?l-id=campaign_shop-limited-iphone-14_shop_0" class="c-Btn_Primary-large"><span>お近くのショップを探す</span></a>
          </div>

          <section id="product">
            <h2 class="c-Heading_Lv2 u-Adjust_Align-center u-Adjust_Mt-64">キャンペーン対象製品</h2>
            <div class="<%= namespace %>-Layout_Target <%= namespace %>-Utility_Mt-24-16">
              <div class="<%= namespace %>-Layout_Target-item1">
                <p class="<%= namespace %>-Layout_Target-item1-txt2 <%= namespace %>-Utility_Disp-pc">
                  <span class="<%= namespace %>-Layout_Target-item1-txt1">iPhone 14 </span>128GB
                </p>
                <p class="u-Adjust_Mt-8">48回払い
                  <span class="c-Txt_Cap">※1</span> &nbsp;&nbsp; 月々
                  <span class="<%= namespace %>-Layout_Target-item1-txt3">2,518</span>
                  円
                </p>
                <p class="u-Adjust_Mt-8">
                  製品価格 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <span class="c-Txt_Normal-l">120,910</span>円
                </p>
                <div class="c-Theme-Light u-Adjust_Mt-24" style="background-color: #fff;">
                  <p class="u-Adjust_Align-center c-Txt_Emp-01">楽天モバイルiPhoneアップグレードプログラムを利用して</p>
                  <p class="u-Adjust_Align-center">25カ月目に返却した場合
                    <span class="c-Txt_Cap">※1,2</span>
                  </p>
                  <p class="u-Adjust_Align-center u-Adjust_Mt-8">
                    支払い総額 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="c-Txt_Emp-02">
                    <span class="<%= namespace %>-Layout_Target-item1-txt3">60,432</span>円
                    </span>
                  </p>
                </div>

                <div class="<%= namespace %>-Layout_Target-item1-btn <%= namespace %>-Utility_Mt-24-16">
                  <a href="<%= sitepath %>product/iphone/iphone-14/?l-id=campaign_shop-limited-iphone-14_product_iphone_shop-limited-iphone-14_0" class="c-Btn_Regular"><span>製品の詳細を見る</span></a>
                </div>
              </div>
              <div class="<%= namespace %>-Layout_Target-item2">
                <p class="<%= namespace %>-Layout_Target-item1-txt2 <%= namespace %>-Utility_Disp-sp"><span class="<%= namespace %>-Layout_Target-item1-txt1">iPhone 14 </span>128GB</p>
                <div class="<%= namespace %>-Layout_Target-item2-wrap">
                  <img src="<%= sitepath %>assets/img/campaign/shop-limited-iphone-14/iphone-14.png" alt="">
                  <ul>
                    <li class="<%= namespace %>-Layout_Target-item2-wrap-clr1"></li>
                    <li class="<%= namespace %>-Layout_Target-item2-wrap-clr2"></li>
                    <li class="<%= namespace %>-Layout_Target-item2-wrap-clr3"></li>
                    <li class="<%= namespace %>-Layout_Target-item2-wrap-clr4"></li>
                    <li class="<%= namespace %>-Layout_Target-item2-wrap-clr5"></li>
                    <li class="<%= namespace %>-Layout_Target-item2-wrap-clr6"></li>
                  </ul>
                </div>
              </div>
            </div>
          </section>

          <section>
            <div class="c-Theme-Borderbox u-Adjust_Mt-48" style="background-color:#fff;">
              <h3 class="c-Heading_Lv3 u-Adjust_Align-center">「楽天モバイルiPhoneアップグレードプログラム」とは？<span class="c-Txt_Cap">※1</span></h3>
              <div class="u-Adjust_Mt-16">
                <div class="l-Media_Grid-half">
                  <div class="l-Media_Grid-large c-Theme-Light">
                    <div class="l-Media_Image">
                      <img src="<%= sitepath %>assets/img/campaign/shop-limited-iphone-14/img-02.png" width="136" alt="">
                    </div>
                    <div>
                      <p>本体代のお支払いに「48回払い」を選択！24回分払ったら、<span class="c-Txt_Emp-02">いつでも最新のiPhone</span>に機種変更可能！</p>
                    </div>
                  </div>
                  <div class="l-Media_Grid-large c-Theme-Light">
                    <div class="l-Media_Image">
                      <img src="<%= sitepath %>assets/img/campaign/shop-limited-iphone-14/img-03.png" width="114" alt="">
                    </div>
                    <div>
                      <p>最大24回分！返却するiPhoneの<span class="c-Txt_Emp-02">残りのお支払いが不要</span>に！<span class="c-Txt_Cap">※2</span></p>
                    </div>
                  </div>
                </div>
                <div class="<%= namespace %>-Layout_About-BtnContainer">
                  <div class="<%= namespace %>-Layout_About-Btn u-Adjust_Mt-24">
                    <a href="<%= sitepath %>service/iphone/upgrade-program/?l-id=campaign_shop-limited-iphone-14_service_iphone_upgrade-program_0" class="c-Btn_Regular"><span>楽天モバイルiPhoneアップグレードプログラムの詳細はこちら</span></a>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <p class="c-Txt_Cap u-Adjust_Mt-16">※1 楽天カードのみ。現金販売価格と割賦販売価格（総額）は製品価格と同額。支払回数48回、支払期間48カ月、実質年率0％。48回目のみ2,564円/月。<span class="c-Txt_Emp-02">機種変更または返却による解約の際には事務手数料3,300円がかかります。</span></p>
          <p class="c-Txt_Cap">※2 <span class="c-Txt_Emp-02">24回分お支払い後、25カ月目に製品を返却した場合。ご返却の製品が当社指定の状態基準を満たさない場合、故障費用22,000円のお支払いが必要となる、または返却不可となる場合があります。</span></p>

          <section id="flow">
            <h2 class="c-Heading_Lv2 u-Adjust_Mt-64 u-Adjust_Align-center">最大53,731ポイント獲得の流れ</h2>
            <ul class="c-Flow u-Adjust_Mt-32">
              <li>
                <h3 class="c-Heading_Lv3 u-Adjust_Mb-16">お申し込み・お支払いに必要なものを準備する</h3>
                <div class="l-Media_Grid <%= namespace %>-Flow_List-in">
                  <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                    <div>
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-04.png" width="224" alt="お申し込み・お支払いに必要なものを準備する">
                    </div>
                  </div>
                  <div>
                    <div class="u-Adjust_Mt-16">
                      <ul class="<%= namespace %>-Flow_List-link c-List_Text-disc">
                        <li><a href="<%= sitepath %>guide/verify/?l-id=campaign_shop-limited-iphone-14_guide_verify" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></li>
                      </ul>
                      <ul class="u-Adjust_Mt-16 c-List_Text-disc">
                        <li>楽天会員ログイン用のユーザID、パスワード</li>
                      </ul>
                      <p class="c-Txt_Emp-02 c-Txt_Normal-s u-Adjust_Mt-8">※本人確認書類の情報と、楽天会員情報が一致している必要があります。</p>
                      <p class="u-Adjust_Mt-8"><a href="https://member.id.rakuten.co.jp/rms/nid/menufwd" class="c-Link_Txt-inline u-Adjust_Mt-8">楽天会員情報を確認・変更する<span class="c-Icon_Chevron-right"></span></a></p>
                      <ul class="u-Adjust_Mt-16 c-List_Text-disc">
                        <li><a href="<%= sitepath %>guide/payment/?l-id=campaign_shop-limited-iphone-14_guide_payment" class="c-Link_Txt-inline">クレジットカード、銀行口座情報<span class="c-Icon_Chevron-right"></span></a>
                          <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap u-Adjust_Mt-8">※ご契約者本人名義と異なるクレジットカードをご利用希望のお客様は、<a href="<%= sitepath %>faq/detail/00001238/?l-id=campaign_shop-limited-iphone-14_faq_detail_00001238" class="c-Link_Txt-inline">こちらのご案内ページ</a>を必ず事前にご確認ください。</p>
                          <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap">
                            ※未成年者の方のお申し込みに必要な情報、お申し込み方法は<a href="<%= sitepath %>flow/for-minors/?l-id=campaign_shop-limited-iphone-14_flow_for-minors" class="c-Link_Txt">こちらのご案内ページ</a>をご確認ください。<br>
                          </p>
                          <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap">
                            ※Webページにて、楽天モバイル（ドコモ回線・au回線）から移行お手続き後に、Rakuten最強プランにお申し込みいただく場合、MNP予約番号と本人確認書類はご準備不要です。
                          </p>
                          <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap">
                            ※MNPワンストップ未対応の携帯電話会社から乗り換えの方は、MNP予約番号の取得が必要です。MNPワンストップ対象の携帯電話会社は<a href="<%= sitepath %>guide/mnp/?l-id=campaign_shop-limited-iphone-14_guide_mnp#career" class="c-Link_Txt">こちら</a>からご確認ください。
                          </p>
                          <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap">
                            ※ショップでのお手続きは、ワンストップ対象の他社からの転入であっても、MNP予約番号を取得のうえ、ご来店ください。
                          </p>
                          <p class="<%= namespace %>-Flow_List-note-multiline c-Txt_Cap">
                            ※MNP有効期間が「7日以上」残っているMNP予約番号が必要です。
                          </p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">楽天モバイルショップを探す</h3>
                <div class="l-Media_Grid u-Adjust_Mt-16">
                  <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                    <div>
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-05.png" alt="" width="270">
                    </div>
                  </div>
                  <div>
                    <p class="u-Adjust_Mt-8">
                      ご来店の際は、Webでできる「<span class="c-Txt_Emp-01">来店予約</span>」が便利です。<br>
                      予約された方を優先的にご案内しますので、混雑を気にせずに都合の良い時間にご来店いただけます。各ショップページの「<span class="c-Txt_Emp-01">来店予約</span>」ボタンよりご予約ください。<br>
                      各ショップごとに製品の在庫状況が異なります。
                    </p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8">
                      ※カウンターが空き次第のご案内となり、多少の待ち時間をいただく場合がございます。<br>
                      ※ショップページに「来店予約」ボタンがないショップでは、来店予約を行っておりません。ご了承ください。
                    </p>
                    <div class="<%= namespace %>-Utility_Sp-center u-Adjust_Mt-32">
                      <a href="<%= sitepath %>shop/?l-id=campaign_shop-limited-iphone-14_shop_1" class="c-Btn_Primary"><span>お近くのショップを探す</span></a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">ショップでRakuten最強プランを申し込み、製品を購入する</h3>
                <div class="l-Media_Grid u-Adjust_Mt-16">
                  <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                    <div>
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-06.png" alt="" width="154">
                    </div>
                  </div>
                  <div>
                    <p class="u-Adjust_Mt-8">楽天モバイルショップにて、楽天モバイルのお申し込みとiPhone 14 128GBを「楽天モバイルiPhoneアップグレードプログラム」にて購入手続きを行ってください。</p>
                    <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>fee/saikyo-plan/?l-id=campaign_shop-limited-iphone-14_fee_saikyo-plan" class="c-Link_Txt-inline">Rakuten最強プランの詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
                    <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>product/iphone/iphone-14/?l-id=campaign_shop-limited-iphone-14_product_iphone_shop-limited-iphone-14_1" class="c-Link_Txt-inline">iPhone 14 128GBの詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
                    <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>service/iphone/upgrade-program/?l-id=campaign_shop-limited-iphone-14_service_iphone_upgrade-program_1" class="c-Link_Txt-inline">楽天モバイルiPhoneアップグレードプログラムの詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
                    <p class="u-Adjust_Mt-16 <%= namespace %>-Utility_Align-center-sp"><span class="c-Txt_Emp-01">【お申し込み期間】<br class="<%= namespace %>-Utility_Br-sp"></span>2023年7月1日（土）開店～2023年8月31日（木）閉店</p>
                    <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">※Webでのお申し込みは対象外です。<br>
                      ※上記期間中にご購入を完了させる必要があります。
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">Rakuten Linkアプリで通話</h3>
                <div class="l-Media_Grid u-Adjust_Mt-16">
                  <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                    <div class="<%= namespace %>-Flow_Rlink">
                      <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-07.png" alt="" width="94">
                    </div>
                  </div>
                  <div>
                    <p class="u-Adjust_Mt-8">
                      Rakuten Linkアプリで10秒以上通話する<br>
                      Rakuten Link利用開始期限：プランお申し込みの翌月末日23:59まで
                    </p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8">※電話の発信時、（0180）（0570）などから始まる他社接続サービス、一部特番（188）への通話は特典対象外</p>
                    <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>service/rakuten-link/?l-id=campaign_shop-limited-iphone-14_service_rakuten-link" class="c-Link_Txt-inline">Rakuten Linkアプリの詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
                    <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">※Rakuten Linkのご利用が最大53,731ポイント付与の条件となります。</p>
                  </div>
                </div>
              </li>
              <li id="questionnaire">
                <h3 class="c-Heading_Lv3">最大53,731円相当のポイントプレゼント！</h3>
                <div>
                  <div class="l-Media_Grid u-Adjust_Mt-16">
                    <div class="l-Media_Image <%= namespace %>-Flow_List-img">
                      <div>
                        <img src="<%= sitepath %>assets/img/campaign/<%= namespace %>/img-08.png" alt="" width="147">
                      </div>
                    </div>
                    <div>
                      <p>
                        「【Rakuten最強プランお申し込み特典】だれでも3,000ポイントプレゼント」の3,000ポイント、「iPhone 対象端末ポイントバックキャンペーン」の6,000ポイントは、Rakuten Linkご利用の翌々月末日ごろに期間限定ポイントとして付与いたします。
                      </p>
                      <p class="u-Adjust_Mt-16">
                        「【ショップ限定】iPhone 14 128GBポイントバックキャンペーン」の44,731ポイントは、製品ご購入の翌々月末日ごろに期間限定ポイントとして付与いたします。
                      </p>
                    </div>
                  </div>
                  <ul class="<%= namespace %>-Flow_Card">
                    <li class="<%= namespace %>-Flow_Card-item">
                      <div>
                        <h4 class="c-Heading_Lv4">初めてのプラン申し込みで</h4>
                      </div>
                      <div class="<%= namespace %>-Flow_Card-txtWrap u-Adjust_Mt-16">
                        <div class="<%= namespace %>-Flow_Card-txtArea">
                          <p class="<%= namespace %>-Flow_Card-txt1 u-Adjust_Mb-8">
                            3<span class="<%= namespace %>-Flow_Card-comma">,</span>000<span class="<%= namespace %>-Flow_Card-txt2">ポイント</span><br>
                          </p>
                          <a href="#campaign-rule1526" class="js-scroll c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>詳しくはこちら</a>
                        </div>
                      </div>
                    </li>
                    <li class="<%= namespace %>-Flow_Card-item">
                      <div>
                        <h4 class="c-Heading_Lv4">対象製品&プラン申し込みで</h4>
                      </div>
                      <div class="<%= namespace %>-Flow_Card-txtWrap u-Adjust_Mt-16">
                        <div class="<%= namespace %>-Flow_Card-txtArea" style="padding:16px 0 !important">
                          <p class="<%= namespace %>-Flow_Card-txt1 u-Adjust_Mb-8">
                            6<span class="<%= namespace %>-Flow_Card-comma">,</span>000<span class="<%= namespace %>-Flow_Card-txt2">ポイント</span><br>
                          </p>
                          <a href="#campaign-rule1819" class="js-scroll c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>詳しくはこちら</a>
                        </div>
                      </div>
                    </li>
                    <li class="<%= namespace %>-Flow_Card-item">
                      <p class="<%= namespace %>-Flow_Card-onShop">さらにショップだと</p>
                      <div>
                        <h4 class="c-Heading_Lv4 u-Adjust_Align-center">「iPhone 14 128GBポイントバックキャンペーン」適用で</h4>
                      </div>
                      <div class="<%= namespace %>-Flow_Card-txtArea">
                        <p class="<%= namespace %>-Flow_Card-txt1 u-Adjust_Mb-8">
                          44<span class="<%= namespace %>-Flow_Card-comma">,</span>731<span class="<%= namespace %>-Flow_Card-txt2">ポイント</span><br>
                        </p>
                        <a href="#campaign-rule1982" class="js-scroll c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>詳しくはこちら</a>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </div>

  <div class="u-Bg_Monotone97 u-Adjust_Py-48">
    <%- include('/inc/_about-rakuten-mobile', { baseLId: 'campaign_shop-limited-iphone-14' }) %>
  </div>

  <div class="l-System_Container u-Adjust_Mt-64">
    <div id="campaign-rule" class="u-Adjust_Mt-48">
      <h2 class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンルール</h2>
      <div class="u-Adjust_My-32 u-Adjust_Align-center">
        <p class="c-Txt_Normal-m c-Txt_Emp-02">本キャンペーンは<%= finishSchedule %>をもちまして終了いたしました。<br>このページに掲載されている情報は、キャンペーン終了時点のものです。</p>
        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>campaign/?l-id=end_campaign" class="c-Link_Txt-inline">開催中のキャンペーンを見る<span class="c-Icon_Chevron-right"></span></a></p>
      </div>

      <div class="<%= namespace %>-Layout_Rule">

        <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1982_shop_limited_iphone_14', level: 'h2', year: '2023', class: 'u-Adjust_Mt-64' }}) %>

        <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1526_shop_limited_iphone_14', level: 'h2', year: '2023', class: 'u-Adjust_Mt-64' }}) %>

        <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1819_shop_limited_iphone_14', level: 'h2', year: '2023', class: 'u-Adjust_Mt-64' }}) %>

      </div>
    </div>
</div>

    <footer class="g-Footer <%= namespace %>-Layout_Footer u-Adjust_Mt-64">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>

  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
  <script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/1.5.0/js/main.js" defer></script>
</body>

</html>
