<% const pagetitle = "楽天モバイル買い替え超トクプログラム各種お手続き方法" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/application/flow/", label:"お申し込み方法"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイル買い替え超トクプログラムのお申し込み方法のほか、他のiPhoneへの機種変更手続きや、返却時の注意事項などをご案内しています。盗難・紛失の場合のお手続きもこちらをご覧ください。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "楽天モバイル買い替え超トクプログラム各種お手続き方法" -%>
<% const namespace = "replacement-program" -%>

<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/replacement-program/replacement-program.css?20240424">
<%- include('/include/_common-css-v2') %>
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/service/tradein/tradein.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>
<div>
  <div class="l-System_Container u-Adjust_Pb-24">
    <p class="c-Txt_Cap u-Adjust_Align-right u-Adjust_Mt-8">※表記の金額は特に記載のある場合を除き全て税込です。</p>
    <h1 class="c-Txt_Normal-xl u-Adjust_Mt-16 c-Txt_Emp-01">楽天モバイル買い替え超トクプログラム各種お手続き方法</h1>
  </div>
</div>
<div class="<%= namespace %>-Layout-wide-gray">
  <div class="l-System_Container">

    <div class="<%= namespace %>-Anchor-Area">
      <a href="#anc01" class="js-scroll <%= namespace %>-Anchor-Area-Btn c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>お申し込み方法</a>
      <a href="#anc02" class="js-scroll <%= namespace %>-Anchor-Area-Btn c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>機種変更方法</a>
      <a href="#anc03" class="js-scroll <%= namespace %>-Anchor-Area-Btn c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>解約方法</a>
      <a href="#anc05" class="js-scroll <%= namespace %>-Anchor-Area-Btn c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>返却時の注意事項</a>
      <a href="#anc04" class="js-scroll <%= namespace %>-Anchor-Area-Btn c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>盗難・紛失の場合</a>
      <a href="#anc06" class="js-scroll <%= namespace %>-Anchor-Area-Btn c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>製品が故障した場合</a>
    </div>
  </div>
</div>

<div>
  <div id="anc01" class="l-System_Container u-Adjust_Pb-24">
    <h2 class="c-Txt_Normal-ll c-Txt_Emp-01 u-Adjust_Mt-64">お申し込み方法</h2>
    <p class="u-Adjust_Mt-8 c-Txt_Emp-02 u-Adjust_Mb-8">プランのお申し込みをせず製品のみをご購入の場合も、製品お届け時にお客様の本人確認をさせていただきます。本人確認が完了しない場合はキャンセルとさせていただく場合がございます。</p>
    <a href="<%= sitepath %>guide/verify/home-kyc/" class="c-Link_Txt-inline u-Adjust_Mt-8">「受け取り時に自宅で確認」の詳細を見る<span class="c-Icon_Chevron-right"></span></a>
    <h3 class="c-Txt_Normal-l c-Txt_Emp-01 u-Adjust_Mt-32">事前準備</h3>
    <p class="u-Adjust_Mt-16">楽天モバイル買い替え超トクプログラムでのお支払いは「楽天カード」のみ承ります。お手元にご用意ください。</p>
    <a href="https://ad2.trafficgate.net/t/r/12473/1441/99636_99636/" class="c-Btn_Regular u-Adjust_Mt-16"><span>楽天カードの詳細を見る</span></a>
    <div class="c-Tab js-Tab u-Adjust_Mt-64">
      <ul class="c-Tab_Items" role="tablist">
        <li class="c-Tab_Item" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">アプリ／Web</li>
        <li class="c-Tab_Item" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">ショップ（店舗）</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
        <h3 class="c-Txt_Normal-l u-Adjust_Mt-32">アプリ／Webでのお申し込み方法</h3>
        <ol class="c-List_Ordered u-Adjust_Mt-16">
          <li><a href="<%= onboardingpath %>" class="c-Link_Txt">お申し込み画面</a>から対象製品をお申し込みください。「お支払い方法」のご選択を、「楽天モバイル買い替え超トクプログラム」にしていただくことで、プログラムへのお申し込みとなります。
            <p class="c-Txt_Cap u-Adjust_Mt-8">※ 楽天モバイル買い替え超トクプログラムは、楽天モバイルへのお申し込みがなくてもご加入いただけます。<br>※ 本プログラムは初期契約解除対象外となります。本プログラムお申し込み後の取り消し（キャンセル）はできません。</p>
            <a href="<%= sitepath %>guide/flow/application/" class="c-Btn_Regular u-Adjust_Mt-16"><span>Rakuten最強プラン お申し込み方法を見る</span></a>
          </li>
          <li>製品の到着までお待ちください。製品を受け取った月がご利用開始の1カ月目となります。</li>
          <li>ご利用開始月より、製品代金の48回の分割払いのご請求が開始されます。<p class="c-Txt_Cap u-Adjust_Mt-8">※ 製品代金は月額であり、日割り計算はされません。</p></li>
        </ol>
        <div class="u-Adjust_Mt-32">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/replacement-program/upgrade-program-application-sp.png" width="343" height="484">
            <img src="<%= sitepath %>assets/img/guide/replacement-program/upgrade-program-application-pc.png" width="1032" height="290" alt="" loading="lazy">
          </picture>
        </div>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※ お申し込み後、製品の受け取りが月をまたいだ場合、利用開始は製品を受け取った月からとなります。（例：1月に申し込み、2月に製品を受け取った場合、ご利用開始月は2月となります。）</p>
        <p class="c-Txt_Cap c-Txt_Emp-01 u-Adjust_Mt-8">※当社と配送会社間のデータ連携の関係により、製品を受け取った月（利用開始月）の月額料金のご請求が2カ月目にずれる場合がございます。その場合、2カ月目に1カ月目と2カ月目の月額料金を合算してご請求させていただきます。あらかじめご了承ください。（例：1月に製品を受け取ったが、配送会社からの配送データが2月に当社へ連携された場合、1月と2月の月額料金を合算して、2月ご利用分としてご請求させていただきます。）</p>
      </div>
      <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
        <h3 class="c-Txt_Normal-l u-Adjust_Mt-32">ショップ（店舗）でのお申し込み方法</h3>
        <p class="u-Adjust_Mt-16">対象製品のお取り扱いのある楽天モバイルショップ（一部家電量販店を除く）にてお申し込みいただけます。ショップ（店舗）ページにて「サービスで絞りこむ」ボタンを押して検索画面を表示し、「iPhone取扱い」にチェックを入れて検索いただくと、iPhone取り扱いショップが表示されます。お近くのiPhone取り扱いショップにご来店ください。Androidの取り扱いについては各店舗にご確認ください。</p>
        <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※ iPhoneの取り扱いショップ一覧に掲載されている一部の家電量販店は、対象外となりますので、ご注意ください。事前に各店舗にご確認のうえ、ご来店ください。</p>
        <a href="<%= sitepath %>shop/" class="c-Btn_Regular u-Adjust_Mt-16"><span>お近くのショップを探す</span></a>
        <ol class="c-List_Ordered u-Adjust_Mt-24">
          <li>楽天モバイルショップにお越しいただき、楽天モバイル買い替え超トクプログラム（48回払い）にて、対象製品をお申し込みください。<p class="c-Txt_Cap u-Adjust_Mt-8">※ 楽天モバイル買い替え超トクプログラムは、楽天モバイルへのお申し込みがなくてもご加入いただけます。<br> ※ 本プログラムは初期契約解除対象外となります。本プログラムお申し込み後の取り消し（キャンセル）はできません。</p></li>
          <li>楽天モバイルショップにてお申し込み後、製品をお持ち帰りいただけます。製品を受け取った月がご利用開始の1カ月目となります。</li>
          <li>ご利用開始月より、製品代金の48回の分割払いのご請求が開始されます。<p class="c-Txt_Cap u-Adjust_Mt-8">※ 製品代金は月額であり、日割り計算はされません。</p></li>
        </ol>
        <div class="u-Adjust_Mt-32">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/replacement-program/upgrade-program-application-sp.png" width="343" height="484">
            <img src="<%= sitepath %>assets/img/guide/replacement-program/upgrade-program-application-pc.png" width="1032" height="290" alt="" loading="lazy">
          </picture>
        </div>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※ お申し込み後、製品の受け取りが月をまたいだ場合、利用開始は製品を受け取った月からとなります。（例：1月に申し込み、2月に製品を受け取った場合、ご利用開始月は2月となります。）</p>
      </div>
    </div>

  </div>

  <div id="anc02" class="l-System_Container u-Adjust_Pb-24">
    <h2 class="c-Txt_Normal-ll c-Txt_Emp-01 u-Adjust_Mt-64">機種変更方法（25カ月目以降）</h2>
    <p class="u-Adjust_Mt-16">本プログラムをご利用中のお客様は、対象製品のお支払期間中であっても、利用開始（または直近の機種変更）から25カ月目以降にご利用中の対象製品（以下「旧製品」といいます）を当社にご返却いただくことで、新しい対象製品（以下「新製品」といいます）への機種変更が可能です。この場合、旧製品の残りの割賦金（以下「残債」といいます。）のお支払いは不要となります。</p>
    <div class="c-Theme-Light u-Adjust_Mt-24">
      <p class="u-Adjust_Align-right"><span class="c-Txt_Emp-01">事務手数料 <span class="c-Txt_Normal-l">3,300円</span></span>／1回</p>
      <p class="u-Adjust_Align-right">お申し込み：必要</p>
    </div>
    <h3 class="c-Txt_Normal-l c-Txt_Emp-01 u-Adjust_Mt-32">事前準備</h3>
    <p class="u-Adjust_Mt-16">
      機種変更には本人確認が必要です。事前にご準備のうえ、お手続きください。なお、機種変更に際し、本プログラム契約時の住所に変更がある場合は、必ず<a href="<%= sitepath %>guide/change-address/" class="c-Link_Txt">契約住所の確認・変更方法</a>をご確認いただき、事前に住所を更新してください。</p>
    <a href="<%= sitepath %>guide/verify/" class="c-Btn_Regular u-Adjust_Mt-16"><span>本人確認書類の詳細を見る</span></a>
    <p class="u-Adjust_Mt-16">
      機種変更の際は、旧製品のご返却が必要です。旧製品に故障や破損などがある場合、<a href="<%= sitepath %>service/iphone/applecare/" class="c-Link_Txt">故障紛失保証 with AppleCare Services</a>、<a href="<%= sitepath %>service/iphone/applecare-icloud/" class="c-Link_Txt">故障紛失保証 with AppleCare Services & iCloud+</a>、<a href="<%= sitepath %>service/replacement-warranty-sim/" class="c-Link_Txt">持ち込みスマホあんしん保証</a>にご加入の方は、<span class="c-Txt_Emp-02">機種変更のお手続きの前に、修理や交換サービスをお受けいただくことをおすすめします。（<a href="<%= sitepath %>service/replacement-warranty-plus/" class="c-Link_Txt">スマホ交換保証プラス</a>にご加入の場合は、損傷品をそのままご返却可能です。）</span>未加入の方はご返却後の通知に従って故障費用をお支払いいただきます。詳しくは、返却時の注意事項をご覧ください。
      <!--<a href="<%= sitepath %>service/replacement-warranty-plus/" class="c-Link_Txt">スマホ交換保証プラス</a>、-->
    </p>
    <p class="u-Adjust_Mt-16"><a href="#anc05" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>返却時の注意事項</a></p>
    <div class="c-Tab js-Tab u-Adjust_Mt-64">
      <ul class="c-Tab_Items" role="tablist">
        <li class="c-Tab_Item" id="tab-menu3" role="tab" aria-selected="true" aria-controls="tab-content3">アプリ／Web</li>
        <li class="c-Tab_Item" id="tab-menu4" role="tab" aria-selected="false" aria-controls="tab-content4">ショップ（店舗）</li>
      </ul>
      <div class="c-Tab_Panel" id="tab-content3" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu3">
        <h3 class="c-Txt_Normal-l u-Adjust_Mt-32">アプリ／Webでの機種変更方法</h3>
        <ol class="c-List_Ordered u-Adjust_Mt-16">
          <li><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Link_Txt">my 楽天モバイル</a>（アプリ／Web）にログインすると、ホーム画面下部にご利用中の製品が表示されます。対象製品および乗り換え手続きをされる製品の「各種手続き」から「新しい製品に乗り換え」を選択し、画面の案内に沿って楽天モバイル買い替え超トクプログラムをお申し込みください。
            <p class="c-Txt_Cap u-Adjust_Mt-8">※ ログインが行えない場合は「<a href="<%= sitepath %>faq/detail/00001207/" class="c-Link_Txt">[my 楽天モバイル]ログインできません</a>」をご確認ください。</p>
            <p><a href="https://portal.mobile.rakuten.co.jp/dashboard#home" class="c-Btn_Secondly u-Adjust_Mt-16" target="_blank"><span>ホーム画面へ進む</span></a></p>
            <!-- flow -->
            <div class="c-Accordion u-Adjust_Mt-16">
              <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>my 楽天モバイルの手続き方法を確認する</button>
              <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
                <ol class="c-Flow">
                  <li class="u-Adjust_Mt-0">
                    <h3 class="c-Heading_Lv3">1. my 楽天モバイルのホーム画面を下へスクロールし、「製品情報」の「各種手続き」をタップする</h3>
                    <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/replacement-program/flow/img01-231116.png" alt="" class="c-Img_Capture"></p>
                  </li>
                  <li>
                    <h3 class="c-Heading_Lv3">2. 「新しい製品に乗り換え」を選択する</h3>
                    <p class="u-Adjust_Mt-16 c-Txt_Cap">※旧製品に故障がある場合は、「製品の故障」から乗り換えをお申し込みください。</p>
                    <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/replacement-program/flow/img02-231116.png" alt="" class="c-Img_Capture"></p>
                  </li>
                  <li>
                    <h3 class="c-Heading_Lv3">3. 今後の流れを確認し、「次へ進む」をタップする</h3>
                    <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/replacement-program/flow/img03-231116.png" alt="" class="c-Img_Capture"></p>
                  </li>
                  <li>
                    <h3 class="c-Heading_Lv3">4. 希望する製品を選び、「製品を選ぶ」をタップする</h3>
                    <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/replacement-program/flow/img04-231116.png" alt="" class="c-Img_Capture"></p>
                  </li>
                  <li>
                    <h3 class="c-Heading_Lv3">5. お届け先情報を確認・変更し、「次へ進む」をタップする</h3>
                    <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/replacement-program/flow/img05-231116.png" alt="" class="c-Img_Capture"></p>
                  </li>
                  <li>
                    <h3 class="c-Heading_Lv3">6. お申し込み内容を確認し、「次へ進む」をタップする</h3>
                    <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/replacement-program/flow/img06-231116.png" alt="" class="c-Img_Capture"></p>
                  </li>
                  <li>
                    <h3 class="c-Heading_Lv3">7. 現在の職業を選択し、「次へ進む」をタップする</h3>
                    <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/replacement-program/flow/img07-231116.png" alt="" class="c-Img_Capture"></p>
                  </li>
                  <li>
                    <h3 class="c-Heading_Lv3">8. お支払い方法を確認し、「次へ進む」をタップする</h3>
                    <p class="u-Adjust_Mt-16">楽天モバイル買い替え超トクプログラムのお支払いは、ご契約者様本人名義の「楽天カード」のみ利用できます。</p>
                    <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/replacement-program/flow/img08-231116.png" alt="" class="c-Img_Capture"></p>
                  </li>
                  <li>
                    <h3 class="c-Heading_Lv3">9. 本人確認書類をアップロードし、「次へ進む」をタップする</h3>
                    <p class="u-Adjust_Mt-16">
                      必要な書類は「<a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-inline">本人確認書類</a>」をご確認ください。
                    </p>
                    <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/replacement-program/flow/img09-231116.png" alt="" class="c-Img_Capture"></p>
                  </li>
                  <li>
                    <h3 class="c-Heading_Lv3">10. 重要事項説明・利用規約を確認し、「同意して申し込む」をタップする</h3>
                    <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/replacement-program/flow/img10-231116.png" alt="" class="c-Img_Capture"></p>
                  </li>
                </ol>
                <p class="u-Adjust_Mt-16">以上でお申し込み完了です。</p>
              </div>
            </div>
          </li>
          <li>製品の到着までお待ちください。新製品を受け取った月から、改めて新規のご利用開始の1カ月目となります。</li>
          <li>新製品のご利用開始月より、新しい製品代金の48回の分割払いのご請求が開始されます。<p class="c-Txt_Cap u-Adjust_Mt-8">※ 製品代金は月額であり、日割り計算はされません。</p></li>
          <li>
            <p><span class="c-Txt_Emp-02">iPhoneであればiCloudの解除処理と製品初期化（リセット）、Androidであれば製品初期化（リセット）を完了</span>のうえ、新製品お受け取り時の箱に旧製品を梱包し、<span class="c-Txt_Emp-02">新製品を受領した日から20日以内に旧製品をご返送</span>ください。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※ 旧製品に記録されているデータの移行および消去は、契約者ご自身の責任で行ってください。当社は、契約者から返送された旧製品内に記録されているデータについて一切責任を負わないものとします。<br>※ 返送する旧製品は新製品が届いた箱に同梱されている伝票で返送ください。</p>
            <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>assets/pdf/manual/upgrade-program_reset.pdf" class="c-Link_Txt-inline" target="_blank">iCloud解除処理と製品初期化（リセット）の方法<span class="c-Icon_Pdf-l"></span></a></p>
            <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>assets/pdf/service/tradein/how_to_format.pdf?20210121" class="c-Link_Txt-inline" target="_blank">Android製品の初期化（リセット）の方法<span class="c-Icon_Pdf-l"></span></a></p>
            <a href="#anc05" class="c-Link_Txt-icon-front u-Adjust_Mt-8"><span class="c-Icon_Arrow-down-l"></span>返却時の注意事項</a>
          </li>
          <li>ご返却後、楽天モバイルにて旧製品の状態確認を行います。故障や破損などがなければ、旧製品の残債はお支払い不要となります。
            <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※ 故障費用が発生する場合は、査定完了後の翌週以降にメールにてお知らせいたします。故障費用が発生しない場合は、メールでのお知らせはございません。</p>
            <p class="c-Txt_Cap c-Txt_Emp-02">※ 製品査定は弊社に製品到着後、7日程度かかります。</p>
            <p class="c-Txt_Cap c-Txt_Emp-02">※ 入れ違いにより通知が届く場合があります。</p>
            <a href="#anc06" class="js-scroll c-Link_Txt-icon-front u-Adjust_Mt-8"><span class="c-Icon_Arrow-down-l"></span>製品が故障した場合</a>
          </li>
        </ol>
      </div>
      <div class="c-Tab_Panel" id="tab-content4" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu4">
        <h3 class="c-Txt_Normal-l u-Adjust_Mt-32">ショップ（店舗）での機種変更方法</h3>
        <p class="u-Adjust_Mt-16">対象製品のお取り扱いのある楽天モバイルショップ（一部家電量販店を除く）にて機種変更の手続きをしていただけます。ショップ（店舗）ページにて「サービスで絞りこむ」ボタンを押して検索画面を表示し、「iPhone取扱い」にチェックを入れて検索いただくと、iPhone取り扱いショップが表示されます。お近くのiPhone取り扱いショップにご来店ください。Androidの取り扱いについては各店舗にご確認ください。</p>
        <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※ iPhoneの取り扱いショップ一覧に掲載されている一部の家電量販店は、対象外となりますので、ご注意ください。事前に各店舗にご確認のうえ、ご来店ください。</p>
        <a href="<%= sitepath %>shop/" class="c-Btn_Regular u-Adjust_Mt-16"><span>お近くのショップを探す</span></a>
        <ol class="c-List_Ordered u-Adjust_Mt-24">
          <li>これまでお使いいただいた製品をお持ちのうえ、お近くの楽天モバイルショップにお越しいただき、楽天モバイル買い替え超トクプログラムで製品の機種変更を行ってください。<p class="c-Txt_Cap u-Adjust_Mt-8">※ 機種変更お申し込み後は、取り消し（キャンセル）はできません。<br>※ 機種変更の際には、事務手数料3,300円をご請求させていただきます。</p></li>
          <li>楽天モバイルショップにて機種変更のお手続き後、新製品をお持ち帰りいただけます。新製品を受け取った月から、改めて新規のご利用開始の1カ月目となります。</li>
          <li>新製品のご利用開始月より、新しい製品代金の48回の分割払いのご請求が開始されます。<p class="c-Txt_Cap u-Adjust_Mt-8">※ 製品代金は月額であり、日割り計算はされません。</p></li>
          <li>後日、ご自宅に届く旧製品の返送キットにて、<span class="c-Txt_Emp-02">iOS製品であればiCloudの解除処理と製品初期化（リセット）、Androidであれば製品初期化（リセット）を完了</span>のうえ、新製品を受領した日から20日以内に旧製品をご返送ください。
            <p class="c-Txt_Cap u-Adjust_Mt-8">※ 旧製品に記録されているデータの移行および消去は、契約者ご自身の責任で行ってください。当社は、契約者から返送された旧製品内に記録されているデータについて一切責任を負わないものとします。</p>
            <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>assets/pdf/manual/upgrade-program_reset.pdf" class="c-Link_Txt-inline-icon" target="_blank">iCloud解除処理と製品初期化（リセット）の方法<span class="c-Icon_Pdf-l"></span></a></p>
            <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>assets/pdf/service/tradein/how_to_format.pdf?20210121" class="c-Link_Txt-inline-icon" target="_blank">Android製品の初期化（リセット）の方法<span class="c-Icon_Pdf-l"></span></a></p>
            <p class="u-Adjust_Mt-8"><a href="#anc05" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>返却時の注意事項</a></p>
          </li>
          <li>ご返却後、楽天モバイルにて旧製品の状態確認を行います。故障や破損などがなければ、旧製品の残債はお支払い不要となります。
            <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※ 故障費用が発生する場合は、査定完了後の翌週以降にメールにてお知らせいたします。故障費用が発生しない場合は、メールでのお知らせはございません。</p>
            <p class="c-Txt_Cap c-Txt_Emp-02">※ 製品査定は弊社に製品到着後、7日程度かかります。</p>
            <p class="c-Txt_Cap c-Txt_Emp-02">※ 入れ違いにより通知が届く場合があります。</p>
            <a href="#anc06" class="js-scroll c-Link_Txt-icon-front u-Adjust_Mt-8"><span class="c-Icon_Arrow-down-l"></span>製品が故障した場合</a>
          </li>
        </ol>
      </div>
      <div class="u-Adjust_Mt-24">
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/replacement-program/upgrade-program-model-change-sp.png" width="343" height="484">
          <img src="<%= sitepath %>assets/img/guide/replacement-program/upgrade-program-model-change-pc.png" width="1032" height="290" alt="" loading="lazy">
        </picture>
      </div>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※ 機種変更の際には、事務手数料3,300円をご請求させていただきます。<br>※ 機種変更の可能期間は、25カ月目以降、47カ月目までです。</p>
    </div>
  </div>

  <div id="anc05" class="l-System_Container u-Adjust_Pb-24 u-Adjust_Mt-64">
    <h2 class="c-Txt_Normal-ll c-Txt_Emp-01">返却時の注意事項</h2>
    <div class="u-Adjust_Mt-16">
      ご利用から24カ月が経過し、25カ月目〜47カ月目までに機種変更や解約のために製品を返却する場合は、以下の点にご注意ください。
      <p class="c-Txt_Cap u-Adjust_Mt-8">※ 旧製品をご返却いただけない場合、当社より書面、電話、SMS、その他当社指定の方法にて契約者へ通知を行います。</p>
    </div>
    <ul class="c-List_Text-disc u-Adjust_Mt-16">
      <li>本プログラム契約時の住所に変更がある場合は、お手続きを進める前に必ず<a href="<%= sitepath %>guide/change-address/" class="c-Link_Txt">契約住所の確認・変更方法</a>をご確認いただき、住所を更新してください。</li>
      <li>旧製品に記録されているデータの移行および消去は、契約者ご自身の責任で行ってください。当社は、契約者から返送された旧製品内に記録されているデータについて一切責任を負わないものとします。</li>
      <li>2台以上の製品を同梱しないようお願いいたします。なお旧製品と一緒に旧製品以外の物品が含まれていた場合、当社は当該物品を当社の裁量により全て破棄または処分します。旧製品と必要書類以外の物品を同梱されないようご注意ください。</li>
      <li>my 楽天モバイル（アプリ／Web）にて機種変更をお申し込みいただいた場合、新製品お受け取り時の箱に旧製品を梱包し、同梱されている伝票で当社指定住所までご返送をお願いいたします。</li>
      <li>楽天モバイルショップにて機種変更をお申し込みいただいた場合、返送用キットをご自宅へ送付いたします。到着した返送用キットに旧製品を梱包し、同梱されている伝票で当社指定住所までご返送をお願いいたします。</li>
      <li>当社指定の返送用キットと同梱されている伝票をご利用ください。その他の返送方法は受け付けておりませんので、あらかじめご了承ください。なお、楽天本社では製品の返送受付は行っておりませんので、ご注意ください。</li>
      <li>ご返却後、楽天モバイルにて製品の製造番号（IMEI）を確認いたします。</li>
      <li>製品をご返却いただけない場合、または、ご返却いただいた製品に問題がある場合、残債の全額お支払いが必要になる場合があります。</li>
      <li>製品が盗難・紛失にあった場合、残債の全額お支払いが必要になります。</li>
      <li>製品回収後、楽天モバイルにて製品の状態確認を行います。故障や破損などがある場合、故障費用のお支払いが必要です。
        <p class="c-Txt_Emp-02 c-Txt_Cap replacement-program-Utility_Txt-indent-none">※回収した製品が弊社指定の状態基準を満たさない場合、故障費用が発生します。故障費用が発生する場合でも、機種変更や解約の申請をキャンセルすることはできません。<br>
          ※回収した製品が受付不可品と査定された場合、製品をご返送させていただき、残債の全額をご請求させていただきます。
        </p>
      </li>
      <li>買い替え超トクプログラム加入中の製品は、スマホ下取りサービスの対象外となります。 スマホ下取りサービスへのお申込みはできませんのでご注意ください。</li>
    </ul>


  </div>

  <div id="anc04" class="l-System_Container u-Adjust_Pb-24 u-Adjust_Mt-64">
    <h2 class="c-Txt_Normal-ll c-Txt_Emp-01">盗難・紛失の場合</h2>
    <p class="u-Adjust_Mt-16">
      万が一、盗難に遭われたり、紛失してしまった場合、<a href="<%= sitepath %>service/iphone/applecare/">故障紛失保証 with AppleCare Services</a>、<a href="<%= sitepath %>service/iphone/applecare-icloud/" class="c-Link_Txt">故障紛失保証 with AppleCare Services & iCloud+</a>（※）や<a href="<%= sitepath %>service/replacement-warranty-plus/" class="c-Link_Txt">スマホ交換保証プラス</a>にご加入なら、新品または新品同様の同一機種に交換可能です。未加入の場合は、以下手順に従い、製品の残債を全額お支払いのうえ、買い取りによる解約のお手続きをお願いいたします。
    </p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">故障紛失保証 with AppleCare Services または故障紛失保証 with AppleCare Services & iCloud+ のご利用が必要です。</p>
    <ol class="c-List_Ordered u-Adjust_Mt-16">
      <li>
        <a href="<%= sitepath %>guide/my-rakuten-mobile/">my 楽天モバイル</a>（アプリ／Web）より、買い取り申請を行ってください。<br>
        <a href="<%= sitepath %>guide/replacement-program/loss/?l-id=guide_replacement-program_guide_replacement-program_loss" class="c-Btn_Regular u-Adjust_Mt-16"><span>盗難・紛失の場合の解約の流れを見る</span></a>
      </li>
      <li>
        翌月以降のご請求と同時に、残債全額のお支払いをご請求いたします。お支払いをもちまして解約となります。
      </li>
    </ol>
  </div>

  <div id="anc06" class="l-System_Container u-Adjust_Pb-24 u-Adjust_Mt-64">
    <h2 class="c-Txt_Normal-ll c-Txt_Emp-01">製品が故障した場合</h2>
    <div class="l-Media_Grid-half u-Adjust_Mt-16">
      <div class="u-Adjust_Align-left">
        <h3 class="c-Txt_Normal-m c-Txt_Emp-01">保証サービスご加入の場合</h3>
        <p class="u-Adjust_Mt-8">
          <a href="<%= sitepath %>service/iphone/applecare/" class="c-Link_Txt">故障紛失保証 with AppleCare Services</a>、<a href="<%= sitepath %>service/iphone/applecare-icloud/" class="c-Link_Txt">故障紛失保証 with AppleCare Services & iCloud+</a>
          または
          <a href="<%= sitepath %>service/replacement-warranty-sim/" class="c-Link_Txt">持ち込みスマホあんしん保証</a>
          にご加入の場合は、ご返却になる前に保証の修理や交換サービスをお受けいただくことをおすすめします。
          <a href="<%= sitepath %>service/replacement-warranty-plus/" class="c-Link_Txt">スマホ交換保証プラス</a>にご加入の場合は、損傷品をそのままご返却可能です。
        </p>
        <div class="u-Adjust_Mt-16">
          <p>▼iPhone用</p>
          <ul>
            <li>
              <a href="<%= sitepath %>service/iphone/applecare/" class="c-Link_Txt-inline">故障紛失保証 with AppleCare Servicesの詳細を見る<span class="c-Icon_Chevron-right"></span></a>
            </li>
            <li>
              <a href="<%= sitepath %>service/iphone/applecare-icloud/" class="c-Link_Txt-inline">故障紛失保証 with AppleCare Services & iCloud+の詳細を見る<span class="c-Icon_Chevron-right"></span></a>
            </li>
          </ul>
          <p class="u-Adjust_Mt-16">▼Android用</p>
          <ul>
            <li>
              <a href="<%= sitepath %>service/replacement-warranty-plus/" class="c-Link_Txt-inline">スマホ交換保証プラスの詳細を見る<span class="c-Icon_Chevron-right"></span></a>
            </li>
          </ul>
        </div>
        <dl class="c-List_Dl-origin <%= namespace %>-Layout_List u-Adjust_Mt-16">
          <div>
            <dt>
              良品
            </dt>
            <dd>
              そのままご返却いただけます。追加の費用はございません。
            </dd>
          </div>
          <div>
            <dt>
              損傷品
            </dt>
            <dd>
              <a href="<%= sitepath %>guide/replacement-warranty-sim/" class="c-Link_Txt">保証を利用</a>し、新しい製品に交換してからご返却ください。
            </dd>
          </div>
        </dl>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">
          ※各種保証サービスに加入されている方は保証を利用することで負担額が抑えられる場合がございます。以下は保証の一例です。<br>
          ＜iPhoneをご利用の方＞<a href="<%= sitepath %>service/iphone/applecare/?l-id=guide_replacement-program_service_iphone_applecare">故障紛失保証 with AppleCare Services</a> または<a href="<%= sitepath %>service/iphone/applecare-icloud/?l-id=guide_replacement-program_service_iphone_applecare-icloud" class="c-Link_Txt">故障紛失保証 with AppleCare Services & iCloud+</a>ご加入の場合、画面修理は3,700円の負担。<br>
          ＜Androidをご利用の方＞<a href="<%= sitepath %>service/replacement-warranty-plus/?l-id=guide_replacement-program_service_replacement-warranty-plus">スマホ交換保証プラス</a>ご加入の場合、損傷の種類に関係なく6,600円の負担。
        </p>
      </div>
      <div class="u-Adjust_Align-left">
        <h3 class="c-Txt_Normal-m c-Txt_Emp-01">保証サービス未加入の場合</h3>
        <p class="u-Adjust_Mt-8">
          1.お支払いが必要な場合、状態確認後にメールでお知らせいたします。通知した翌月以降、月々の支払いに設定されている支払い方法にて、ご請求させていただきます。
        </p>

        <dl class="c-List_Dl-origin <%= namespace %>-Layout_List <%= namespace %>-Layout_List-mod-1">
          <div>
            <dt>
              良品
            </dt>
            <dd>
              そのままご返却いただけます。追加の費用はございません。
            </dd>
          </div>
          <div>
            <dt>
              損傷品
            </dt>
            <dd>
              そのままご返却いただけますが、故障費用22,000円（不課税）のお支払いが必要になります。
            </dd>
          </div>
          <div>
            <dt>
              受付不可品
            </dt>
            <dd>
              そのままご返却いただけますが、残債の全額お支払いが必要になります。
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <p id="anc05-condition" class="u-Adjust_Mt-40">
      製品状態の目安については以下をご参照ください。
    </p>

    <%- include('/include/guide/iphone/upgrade-program/_assessment-criteria') %>

    <ul class="c-List_Text-disc u-Adjust_Mt-32">
      <li>新製品送付時の箱や返送用キットの破損や紛失された場合は以下より再送を依頼いただけます。<br>
        TEL 050-5434-4653<br>
        受付時間 9:00～17:00（年中無休）
      </li>
    </ul>
  </div>

  <div id="anc03" class="l-System_Container u-Adjust_Pb-24">
    <h2 class="c-Txt_Normal-ll c-Txt_Emp-01 u-Adjust_Mt-64">解約方法</h2>
    <p class="u-Adjust_Mt-8">お手続きはオンラインでのみ承ります。</p>
    <p class="u-Adjust_Mt-16">利用開始からの経過期間によって、解約方法が異なります。</p>


    <dl class="c-Dl_Origin u-Adjust_Mt-16">
      <div>
        <dt>利用開始から25カ月未満</dt>
        <dd>
          <ul class="c-List_Text-disc u-Adjust_Mt-8">
            <li><a href="#cancel1" class="c-Link_Txt js-scroll">残債を一括で支払い、製品を買い取って解約</a></li>
          </ul>
        </dd>
      </div>
      <div>
        <dt>利用開始から25カ月以降</dt>
        <dd>
          <ul class="c-List_Text-disc u-Adjust_Mt-8">
            <li><a href="#cancel1" class="c-Link_Txt js-scroll">残債を一括で支払い、製品を買い取って解約</a></li>
            <li><a href="#cancel2" class="c-Link_Txt js-scroll">製品を返却し、残債支払い不要で解約</a></li>
          </ul>
        </dd>
      </div>
    </dl>

    <h3 id="cancel1" class="c-Txt_Normal-l c-Txt_Emp-01 u-Adjust_Mt-32" id="anc-pay-off">残債を一括で支払い、買い取る場合</h3>
    <p class="u-Adjust_Mt-16">残債を一括にてお支払いいただくことで本プログラムを解約し、旧製品を継続利用いただくことも可能です。</p>
    <ol class="c-List_Ordered u-Adjust_Mt-16">
      <li>
        <a href="<%= sitepath %>guide/my-rakuten-mobile/">my 楽天モバイル</a>（アプリ／Web）より、買い取り申請を行ってください。<br>
        <a href="<%= sitepath %>guide/replacement-program/pay-off/?l-id=guide_replacement-program_guide_replacement-program_pay-off" class="c-Btn_Regular u-Adjust_Mt-8"><span>買い取りによる解約の流れを見る</span></a>
      </li>
      <li>
        翌月以降のご請求と同時に、残債全額のお支払いをご請求いたします。お支払いをもちまして解約となります。
      </li>
    </ol>
    <div class="u-Adjust_Mt-24">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/replacement-program/upgrade-program-residual-bonds-sp.png" width="343" height="484">
        <img src="<%= sitepath %>assets/img/guide/replacement-program/upgrade-program-residual-bonds-pc.png" width="1032" height="290" alt="" loading="lazy">
      </picture>
    </div>

    <h3 id="cancel2" class="c-Txt_Normal-m c-Txt_Emp-01 u-Adjust_Mt-16">機種変更せずに返却する場合（25カ月目以降）</h3>
    <p class="u-Adjust_Mt-16">本プログラムをご利用中のお客様は、対象製品のお支払い期間中であっても、利用開始（または直近の機種変更）から25カ月目以降に旧製品を当社が回収することで、解約が可能です。この場合、残債のお支払いは不要となります。</p>
    <div class="c-Theme-Light u-Adjust_Mt-24">
      <p class="u-Adjust_Align-right"><span class="c-Txt_Emp-01">事務手数料 <span class="c-Txt_Normal-l">3,300円</span></span>／1回</p>
      <p class="u-Adjust_Align-right">お申し込み：必要</p>
    </div>
    <h3 class="c-Txt_Normal-l c-Txt_Emp-01 u-Adjust_Mt-32">事前準備</h3>
    <p class="u-Adjust_Mt-8">
      当社の製品回収による解約には本人確認が必要です。事前にご準備のうえ、お手続きください。なお、本プログラム契約時の住所に変更がある場合は、必ず<a href="<%= sitepath %>guide/change-address/" class="c-Link_Txt">契約住所の確認・変更方法</a>をご確認いただき、事前に住所を更新してください。
    </p>
    <a href="<%= sitepath %>guide/verify/" class="c-Btn_Regular u-Adjust_Mt-16"><span>本人確認書類の詳細を見る</span></a>
    <p class="u-Adjust_Mt-16">
      本手続きには旧製品のご返却が必要です。旧製品に故障や破損などがある場合、<a href="<%= sitepath %>service/iphone/applecare/" class="c-Link_Txt">故障紛失保証 with AppleCare Services</a>、<a href="<%= sitepath %>service/iphone/applecare-icloud/" class="c-Link_Txt">故障紛失保証 with AppleCare Services & iCloud+</a>や<a href="<%= sitepath %>service/replacement-warranty-plus/" class="c-Link_Txt">スマホ交換保証プラス</a>、<a href="<%= sitepath %>service/replacement-warranty-sim/">持ち込みスマホあんしん保証</a>にご加入の方は、<span class="c-Txt_Emp-02">解約のお手続きの前に、修理や交換サービスをお受けいただく</span>ことをおすすめします。未加入の方は製品回収後の通知に従って故障費用をお支払いいただきます。詳しくは、返却時の注意事項をご覧ください。
    </p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">※スマホ交換保証プラスにご加入の方は、故障・破損発生日から30日以内に故障受付を行ってください。故障受付方法については、「<a href="<%= sitepath %>guide/replacement-warranty-plus/replacement-reception/" class="c-Link_Txt">スマホ交換保証プラス（故障受付方法）</a>」をご確認ください。</p>
    <p class="u-Adjust_Mt-8"><a href="#anc05" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>返却時の注意事項</a></p>
    <ol class="c-List_Ordered u-Adjust_Mt-16">
      <li>
        <a href="<%= sitepath %>guide/my-rakuten-mobile/">my 楽天モバイル</a>（アプリ／Web）のホーム画面下部にご利用中の製品が表示されます。対象製品および返却手続きをされる製品の「各種手続き」から「プログラムの解約」を選択し、「製品を返却」から画面の案内に沿って解約申請を行ってください。
        <div class="c-Accordion u-Adjust_Mt-16">
          <button type="button" id="accordion-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>my 楽天モバイルの手続き方法を確認する</button>
          <div id="accordion-content-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-2" aria-hidden="true">
            <ol class="c-Flow">
              <li class="u-Adjust_Mt-0">
                <h3 class="c-Heading_Lv3">1. my 楽天モバイルのホーム画面を下へスクロールし、「製品情報」の下にある「各種手続き」をタップする</h3>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/replacement-program/flow/img01-231116.png" alt="" class="c-Img_Capture"></p>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">2. 「プログラムの解約」を選択する</h3>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/replacement-program/flow/img11-231116.png" alt="" class="c-Img_Capture"></p>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">3. 「製品を返却する」を選択し、「次へ進む」をタップする</h3>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/replacement-program/flow/img12-231116.png" alt="" class="c-Img_Capture"></p>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">4.  返送キットを受け取るお届け先住所を確認・変更し、「次へ進む」をタップする</h3>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/replacement-program/flow/img05-231116.png" alt="" class="c-Img_Capture"></p>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">5. お申し込み内容を確認し、「次へ進む」をタップする</h3>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/replacement-program/flow/img06-231116.png" alt="" class="c-Img_Capture"></p>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">6. 本人確認書類をアップロードし、「次へ進む」をタップする</h3>
                <p class="u-Adjust_Mt-16">
                  必要な書類は「<a href="<%= sitepath %>guide/verify/" class="c-Link_Txt-inline">本人確認書類</a>」をご確認ください。
                </p>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/replacement-program/flow/img09-231116.png" alt="" class="c-Img_Capture"></p>
              </li>
              <li>
                <h3 class="c-Heading_Lv3">7. 現在のご職業を選択し、「この内容で申し込む」をタップする</h3>
                <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/replacement-program/flow/img07-2-231116.png" alt="" class="c-Img_Capture"></p>
              </li>
            </ol>
            <p class="u-Adjust_Mt-16">以上でお申し込み完了です。</p>
          </div>
        </div>
      </li>
      <li>
        製品の返送キットが届いたら、<span class="c-Txt_Emp-02">iPhoneであればiCloudの解除処理と製品初期化（リセット）、Androidであれば製品初期化（リセット）を完了</span>のうえ、<span class="c-Txt_Emp-02">解約申請月の翌月15日までに製品をご返送</span>ください。
        <p class="c-Txt_Cap u-Adjust_Mt-8">
          ※ 旧製品に記録されているデータの移行および消去は、契約者ご自身の責任で行ってください。当社は、契約者から回収した旧製品内に記録されているデータについて一切責任を負わないものとします。
        </p>
        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>assets/pdf/manual/upgrade-program_reset.pdf" class="c-Link_Txt-inline-icon" target="_blank">iCloud解除処理と製品初期化（リセット）の方法<span class="c-Icon_Pdf-l"></span></a></p>
        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>assets/pdf/service/tradein/how_to_format.pdf?20210121" class="c-Link_Txt-inline-icon" target="_blank">Android製品の初期化（リセット）の方法<span class="c-Icon_Pdf-l"></span></a></p>
        <p class="u-Adjust_Mt-8"><a href="#anc05" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>返却時の注意事項</a></p>
      </li>
      <li>
        製品回収後、楽天モバイルにて旧製品の状態確認を行います。故障や破損などがなければ、旧製品の残債はお支払い不要となります。
        <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※ 故障費用が発生する場合は、査定完了後の翌週以降にメールにてお知らせいたします。故障費用が発生しない場合は、メールでのお知らせはございません。</p>
        <p class="c-Txt_Cap c-Txt_Emp-02">※ 製品査定は弊社に製品到着後、7日程度かかります。</p>
        <p class="c-Txt_Cap c-Txt_Emp-02">※ 入れ違いにより通知が届く場合があります。</p>
        <a href="#anc06" class="js-scroll c-Link_Txt-icon-front u-Adjust_Mt-8"><span class="c-Icon_Arrow-down-l"></span>製品が故障した場合</a>
      </li>
    </ol>
    <div class="u-Adjust_Mt-24">
      <picture>
        <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/replacement-program/upgrade-program-cancellation-sp.png" width="343" height="484">
        <img src="<%= sitepath %>assets/img/guide/replacement-program/upgrade-program-cancellation-pc.png" width="1032" height="290" alt="" loading="lazy">
      </picture>
    </div>
    <p class="c-Txt_Cap u-Adjust_Mt-8">※ 残債一括弁済による解約の場合を除き、解約の際は、事務手数料3,300円をご請求させていただきます。<br>※ 当社の製品回収による解約可能期間は、25カ月目以降、47カ月目までです。</p>

  </div>

</div>



<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
    </div>
  </div>
  <%- include('/include/_footer') %>
</footer>
</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/service.tradein.price-detail.bundle.js?20240521"></script>

<%- include('/include/guide/_iphone') %>
<%- include('/include/_append-body') %>
</body>
</html>
