<% const pagetitle = "Rakuten最強プラン（データタイプ）" -%>
<% const directories = [{path:"fee/saikyo-plan/", label:"Rakuten最強プラン（料金プラン）"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: 'データ通信専用のRakuten最強プラン（データタイプ）は、本人確認書類の提出が不要！日本全国の通信エリアで高速データ通信が無制限※。おトクに試せるキャンペーン実施中！ ※公平なサービス提供または環境により速度低下する場合あり',
    keywords: '',
    directories: directories,
    noindex: false,
    pathname: filepath,
    browseragent: true,
  });
%>
<% const namespace = "saikyo-plan-data-type" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/fee/saikyo-plan/data-type/saikyo-plan-data-type.css?20240424">
<%- include('/include/_append-head') %>
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>

    <div class="u-Adjust_Align-center <%= namespace %>-Hero <%= namespace %>-Utility_Bg-pink100">
      <h1>
        <picture>
          <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/hero-sp-230720.png" width="750" height="950">
          <img src="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/hero-pc-230720.png" width="1440" height="460" alt="データ通信専用 Rakuten最強プラン（データタイプ） 1,081円/月（3GB）を1,081ポイント還元で初月実質3GB相当無料でお試し！">
        </picture>
      </h1>
    </div>

    <div class="l-System_Container u-Adjust_Pb-8 u-Adjust_Pb-pc-16">
      <ul class="c-Txt_Cap u-Adjust_Mt-8">
        <li>※ 1回限り、開通翌々月末に進呈、他キャンペーン併用不可</li>
        <li class="c-Txt_Emp-02">※「実質価格」とは、キャンペーンの条件達成により後日付与されるポイントを加味した価格であり、実際のお支払い金額とは異なります。</li>
      </ul>
      <ul class="u-Adjust_Mt-32 u-Adjust_Mt-pc-8">
        <li><span class="c-Txt_Emp-01">【キャンペーン期間】</span>Web：2023年7月3日（月）11:00～終了日時未定</li>
        <li><span class="c-Txt_Emp-01">【キャンペーン達成条件】</span>「Rakuten最強プラン（データタイプ）」のお申し込みと利用開始</li>
      </ul>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※ 詳細は<a href="#campaign-rule" class="c-Link_Txt-inline js-scroll">キャンペーンルール</a>をご確認ください。</p>
    </div>
    <section class="<%= namespace %>-Utility_Bg-mono97">
      <div class="l-System_Container u-Adjust_Align-center u-Adjust_Pt-40 u-Adjust_Pb-56">
        <p data-ratid="saikyo-plan-data-type_scroll-01_plan" data-ratevent="appear" data-ratparam="all">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/application-txt-4-sp-231020.png" width="686" height="506">
            <img src="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/application-txt-4-pc-231020.png" width="1032" height="180" alt="データ通信専用のデータタイプとは？ データ通信のみ利用が可能なプランです。タブレットやスマホ2台目のご利用、通信品質のお試しにおすすめです。">
          </picture>
        </p>

        <p class="u-Adjust_Mt-56 u-Adjust_Align-center" data-ratid="saikyo-plan-data-type_scroll-06_feature" data-ratevent="appear" data-ratparam="all">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/data-type-content-title-05-sp.png" width="686" height="153">
            <img src="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/data-type-content-title-05-pc-231020.png" width="300" height="75" alt="データタイプ／通常タイプの対応比較表" loading="lazy">
          </picture>
        </p>
        <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/data-type-content-09-sp-231101.png" width="686" height="980">
            <img src="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/data-type-content-09-pc-231101.png" width="1032" height="564" alt="ネット・SMSだけならデータタイプ 通話を使うなら通常タイプ　本人確認書類の提出 不要 必須　OS標準アプリでの電話 × 〇　インターネット接続SMSの送受信（従量課金） 〇 〇　アプリなどの認証に必要なSMS認証コードの受信 〇 〇　ViberやLINEアプリを使用した通話 〇 〇　「110番」「119番」などの緊急通報 - 〇　MNP乗り換え - 〇　Rakuten Linkアプリの利用 - 〇　キャリアメール（楽メール）の利用 - 〇　キャリア決裁 - 〇" loading="lazy">
          </picture>
        </div>
        <ul class="<%= namespace %>-List_Comparison u-Adjust_Mt-8">
          <li><a href="<%= sitepath %>fee/saikyo-plan/?l-id=fee_saikyo-plan_data-type_fee_saikyo-plan_comparison" class="c-Link_Txt-inline">通常タイプの詳細を見る<span class="c-Icon_Chevron-right"></span></a></li>
          <li><a href="<%= sitepath %>faq/detail/10000812/?l-id=fee_saikyo-plan_data-type_faq_detail_10000812" class="c-Link_Txt-inline">通常タイプとの違いについて詳細を見る<span class="c-Icon_Chevron-right"></span></a></li>
        </ul>

        <p class="c-Txt_Emp-01 u-Adjust_Mt-40 c-Heading_Lv4">【<span class="c-Txt_Emp-02">楽天カード</span>をお持ちの方限定】</p>
        <p class="u-Adjust_Mt-16 u-Adjust_Align-center c-Txt_Cap">※お申し込み画面から、「プランのみお申し込み」「Rakuten最強プラン（データタイプ）」を選択の上、お進みください。</p>
        <div id="js-apply-button" class="u-Adjust_Mt-16">
          <a href="<%= sitepath %>onboarding/fast/?sourceExternalChannel=wi_lp_rmb_mkdiv_fee_saikyo-plan_data-type_20231108" class="c-Btn_Primary-large" data-ratid="saikyo-plan-data-type_application" data-ratevent="click" data-ratparam="all">
            <span>データタイプ お申し込みはこちら</span>
          </a>
        </div>
        <div class="u-Adjust_Mt-16 u-Show_Oox">
          <p class="c-Txt_Emp-02">楽天グループの以下アプリをお持ちの場合、お申し込み画面はアプリ経由で表示されます。</p>
          <div class="c-Accordion u-Adjust_Mt-16 <%= namespace %>-Utility_Bg-pink5">
            <button id="accordion-faq-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>対象アプリ</button>
            <div id="accordion-content-faq-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-1" aria-hidden="false">
              <ul class="c-List_Text-disc u-Adjust_Align-left">
                <li>楽天市場</li>
                <li>楽天ペイ</li>
                <li>楽天カード</li>
              </ul>
              <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-left">※対象アプリは順次更新されます。</p>
            </div>
          </div>
        </div>
        <div class="u-Adjust_Mt-16 u-Adjust_Mb-16">
          <p class="c-Txt_Cap">※「楽天モバイルショップ」では、「Rakuten最強プラン（データタイプ）」のお申し込みのサポートのみを受け付けております<br class="u-Show_Xxo">（一部の楽天モバイルショップおよび家電量販店はサポート対象外）</p>
        </div>
        <div class="u-Adjust_Mt-32">
          <p>お持ちのスマホがiPhone XR以上ならすぐに始められる！</p>
          <a href="<%= sitepath %>product/byod/?l-id=fee_saikyo-plan_data-type_product_byod_1" class="c-Btn_Secondly-large u-Adjust_Mt-8">
            <span>ご利用製品の対応状況を確認する</span>
          </a>
        </div>
      </div>
    </section>

    <section id="data-type">
      <div class="<%= namespace %>-Utility_Bg-pink100 <%= namespace %>-Layout_Data-type">
        <h2 class="u-Adjust_Align-center" data-ratid="saikyo-plan-data-type_scroll-03_datatype" data-ratevent="appear" data-ratparam="all">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/data-type-title-sp.png" width="700" height="105">
            <img src="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/data-type-title-pc.png" width="926" height="139" alt="Rakuten最強プラン データタイプ" loading="lazy">
          </picture>
        </h2>
      </div>
      <div id="js-trigger" class="l-System_Container u-Adjust_Pb-80 u-Adjust_Pb-pc-96">
        <ul class="<%= namespace %>-List_Links-internal">
          <li>
            <a href="#data-type" class="c-Link_Txt-icon-front js-scroll" data-ratid="saikyo-plan-data-type_datatype" data-ratevent="click" data-ratparam="all">
              <span class="<%= namespace %>-List_Links-internal-icon c-Icon_Arrow-down-l"></span>データタイプについて
            </a>
          </li>
          <li>
            <a href="#greatest" class="c-Link_Txt-icon-front js-scroll" data-ratid="saikyo-plan-data-type_saikyo" data-ratevent="click" data-ratparam="all">
              <span class="<%= namespace %>-List_Links-internal-icon c-Icon_Arrow-down-l"></span>データタイプのここが最強
            </a>
          </li>
          <li>
            <a href="#plan" class="c-Link_Txt-icon-front js-scroll" data-ratid="saikyo-plan-data-type_plan" data-ratevent="click" data-ratparam="all">
              <span class="<%= namespace %>-List_Links-internal-icon c-Icon_Arrow-down-l"></span>通常タイプへの変更について
            </a>
          </li>
          <li>
            <a href="#campaign-rule" class="c-Link_Txt-icon-front js-scroll" data-ratid="saikyo-plan-data-type_rule" data-ratevent="click" data-ratparam="all">
              <span class="<%= namespace %>-List_Links-internal-icon c-Icon_Arrow-down-l"></span>キャンペーンルール
            </a>
          </li>
        </ul>
        <p class="u-Adjust_Align-center u-Adjust_Mt-40">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/data-type-content-07-sp-231020.png" width="650" height="466">
            <img src="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/data-type-content-07-pc-231020.png" width="1032" height="232" alt="日本全国の通信エリアでデータ高速無制限 2,980円/月 税込3,278円" loading="lazy">
          </picture>
        </p>
        <p class="u-Adjust_Mt-32 u-Adjust_Mt-pc-40 u-Adjust_Align-center">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/data-type-content-02-sp-231020.png" width="802" height="341">
            <img src="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/data-type-content-02-pc-231020.png" width="1032" height="123" alt="おトクに試せるキャンペーン実施中! ギガプレキャンペーン 3GB 1,081円/月が1,081ポイント還元で初月実質3GB相当無料※2 手数料も0円 解除料も0円" loading="lazy">
          </picture>
        </p>
        <div class="u-Adjust_Align-center <%= namespace %>-Layout_Data-type-campaign">
          <h3 class="c-Heading_Lv3" data-ratid="saikyo-plan-data-type_scroll-02_conditions" data-ratevent="appear" data-ratparam="all">キャンペーンの達成条件</h3>
          <p class="u-Adjust_Mt-16 u-Adjust_Mt-pc-8">本キャンペーンには達成条件が設定されています。詳細は<a href="#campaign-rule" class="c-Link_Txt js-scroll">キャンペーンルール</a>をご確認ください。</p>
          <p class="u-Adjust_Mt-16">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/campaign-content-sp-231101.png" width="686" height="976">
              <img src="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/campaign-content-pc-231101.png" width="984" height="191" alt="データタイプに初めてのお申し込み おひとり様1契約1回を超える場合は対象外となります。 データタイプのご利用【期限】お申し込みの翌月末日23:59まで" loading="lazy">
            </picture>
          </p>
          <p class="c-Txt_Emp-02 u-Adjust_Mt-16 <%= namespace %>-Utility_Text-size-18">データタイプに初めてのお申し込みで、1,081円相当分のポイント還元となるキャンペーンです。</p>
          <ul class="c-Txt_Cap">
            <li>※ポイントは付与日を含めて6カ月の期間限定ポイントとなります ※お申し込みには「楽天カード」が必要です</li>
          </ul>
        </div>
        <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-center">※1 公平なサービス提供または環境により速度低下する場合あり ※2 1回限り、開通翌々月末に進呈、他キャンペーン併用不可</p>

        <div class="u-Adjust_Mt-40 u-Adjust_Align-center">
          <a class="c-Banner_Hover-act" href="<%= sitepath %>tips/zerotoku/?l-id=fee_data-type_tips_zerotoku">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-tips-zerotoku-343-108-240228.png" width="686" height="216">
              <img src="<%= sitepath %>assets/img/bnr/bnr-tips-zerotoku-1032-160-240228.png" alt="貯まったポイントで全額支払えばスマホ料金お支払いずーッと0円" width="1032" height="160" loading="lazy">
            </picture>
          </a>
        </div>


        <h3 class="u-Adjust_Mt-80 u-Adjust_Align-center" data-ratid="saikyo-plan-data-type_scroll-05_recommend" data-ratevent="appear" data-ratparam="all">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/data-type-content-title-04-sp.png" width="686" height="153">
            <img src="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/data-type-content-title-04-pc.png" width="1032" height="90" alt="『データタイプ』はこんな方におすすめ！" loading="lazy">
          </picture>
        </h3>
        <ul class="u-Adjust_Mt-16 u-Adjust_Align-center <%= namespace %>-Layout_Data-type-recommend">
          <li>
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/data-type-content-04-01-sp-231020.png" width="686" height="1086">
              <img src="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/data-type-content-04-01-pc-231020.png" width="504" height="517" alt="繋がるのか試してみたい方 生活圏で繋がるか試してみたいけど面倒な手続きは避けたい・・・まずは楽天モバイルの「データ通信品質」をお試し！ 楽天モバイルの通信品質を実感 Web上でかんたん申し込み 本人確認書類の提出不要で即開通※3 お持ちの製品ですぐに始められる※3" loading="lazy">
            </picture>
          </li>
          <li>
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/data-type-content-04-02-sp-231020.png" width="686" height="1034">
              <img src="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/data-type-content-04-02-pc-231020.png" width="504" height="517" alt="データ通信が多い方 テザリングや動画視聴が多いからお得なデータ通信プランはないかなぁ・・・ 楽天モバイルの「データタイプ」をお試し！ Wi-Fi代わりにテザリングでデータ通信を利用  2,980円（税込3,278円）でデータ高速無制限" loading="lazy">
            </picture>
          </li>
        </ul>
        <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Align-center">※3 eSIM利用の場合。審査状況により異なる</p>

        <div class="c-Theme-Light u-Adjust_Mt-40 u-Adjust_Mt-pc-32">
          <div class="u-Adjust_Align-center">
            <p class="c-Txt_Emp-01">お持ちの製品でお試しする場合は、デュアルSIMがおすすめ！</p>
            <h3 class="c-Heading_Lv3 u-Adjust_Mt-16">1台のスマホに2つの<br class="u-Show_Oox">SIM（デュアルSIM）</h3>
            <p class="u-Adjust_Mt-8">
              スマホに2つのSIMを挿入すれば、スマホ1台で2つの回線を使い分けできます。<br class="u-Show_Xxo">
              SIMごとに別の携帯会社が利用できるので、もしものときも安心！
            </p>
            <div class="u-Adjust_Mt-16">
              <a href="<%= sitepath %>product/sim/dual-sim/?l-id=fee_saikyo-plan_data-type_product_sim_dual-sim" class="c-Banner_Hover-act">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/bnr-dual-sim-sp.png" width="622" height="196">
                  <img src="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/bnr-dual-sim-pc.png" width="984" height="153" alt="超かんたん＆便利 デュアルSIMのススメ! デュアルSIMを詳しく解説!" loading="lazy">
                </picture>
              </a>
            </div>
          </div>
          <p class="u-Adjust_Mt-16 c-Txt_Cap">※「デュアルSIM」対応製品が必要です。</p>
        </div>

        <h3 class="u-Adjust_Mt-80 u-Adjust_Align-center" data-ratid="saikyo-plan-data-type_scroll-04_3minutes" data-ratevent="appear" data-ratparam="all">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/data-type-content-title-03-sp-231020.png" width="686" height="186">
            <img src="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/data-type-content-title-03-pc-231020.png" width="1032" height="109" alt="契約者の約95%が実感※3 契約手続きが簡単！" loading="lazy">
          </picture>
        </h3>
        <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/data-type-content-03-sp-231020.png" width="686" height="498">
            <img src="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/data-type-content-03-pc-231020.png" width="1032" height="407" alt="通常タイプ 1お申し込み 2本人確認〜審査 3お申し込み完了 データタイプ 1お申し込み 本人確認書類の提出不要 2お申し込み完了" loading="lazy">
          </picture>
        </div>
        <p class="c-Txt_Cap u-Adjust_Mt-16 u-Adjust_Align-center">※3 当社調べ、2023年7月時点、回答者数＝834。eSIM対応製品の場合。アプリ最新版利用時</p>
        <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
          <a href="<%= sitepath %>guide/flow/application/data-type/?l-id=fee_saikyo-plan_data-type_guide_flow_application_data-type" class="c-Btn_Regular-large">
            <span>お申し込みの流れを詳しく見る</span>
          </a>
        </div>

        <h3 class="u-Adjust_Mt-80 u-Adjust_Align-center" data-ratid="saikyo-plan-data-type_scroll-07_sim" data-ratevent="appear" data-ratparam="all">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/data-type-content-06-sp.png" width="646" height="80">
            <img src="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/data-type-content-06-pc.png" width="1032" height="81" alt="『データタイプ』選べるSIMタイプ" loading="lazy">
          </picture>
        </h3>
        <div class="<%= namespace %>-Sim">
          <div class="<%= namespace %>-Sim_Box-1">
            <div>
              <h4>
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/data-type-content-06-01-sp.png" width="105" height="40">
                  <img src="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/data-type-content-06-01-pc.png" width="115" height="40" alt="eSIM" loading="lazy">
                </picture>
              </h4>
              <p class="u-Adjust_Mt-8 c-Txt_Normal-m c-Txt_Emp-01">製品に内蔵された本体一体型のSIM</p>
              <dl>
                <div>
                  <dt class="<%= namespace %>-Sim_Advantages">メリット</dt>
                  <dd>SIMの発送を待つ必要なし</dd>
                </div>
                <div>
                  <dt class="<%= namespace %>-Sim_Disadvantages">デメリット</dt>
                  <dd>対応製品が限られる</dd>
                </div>
              </dl>
              <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>product/sim/esim/?l-id=fee_saikyo-plan_data-type_product_sim_esim" class="c-Link_Txt-inline">詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
            </div>
          </div>
          <div class="<%= namespace %>-Sim_Box-2">
            <div>
              <h4>
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/data-type-content-06-02-sp.png" width="162" height="40">
                  <img src="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/data-type-content-06-02-pc.png" width="181" height="40" alt="SIMカード" loading="lazy">
                </picture>
              </h4>
              <p class="u-Adjust_Mt-8 c-Txt_Normal-m c-Txt_Emp-01">製品に挿入するカード型のSIM</p>
              <dl>
                <div>
                  <dt class="<%= namespace %>-Sim_Advantages">メリット</dt>
                  <dd>対応製品が比較的多い</dd>
                </div>
                <div>
                  <dt class="<%= namespace %>-Sim_Disadvantages">デメリット</dt>
                  <dd>SIMの発送を待つ必要あり</dd>
                </div>
              </dl>
              <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>product/sim/?l-id=fee_saikyo-plan_data-type_product_sim" class="c-Link_Txt-inline">詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="greatest">
      <div class="<%= namespace %>-Utility_Bg-pink100 u-Adjust_Pt-16 u-Adjust_Pl-16 u-Adjust_Pb-16 u-Adjust_Pr-16">
        <h2 class="u-Adjust_Align-center" data-ratid="saikyo-plan-data-type_scroll-08_saikyo" data-ratevent="appear" data-ratparam="all">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/greatest-title-02-sp.png" width="634" height="306">
            <img src="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/greatest-title-02-pc.png" width="812" height="135" alt="大手キャリアの大容量プランで最強!!データタイプのここが最強" loading="lazy">
          </picture>
        </h2>
      </div>

      <div class="l-System_Container">
        <h2 class="u-Adjust_Mt-48 u-Adjust_Mt-pc-88 u-Adjust_Align-center" id="data">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/title-data-sp-231020.png" width="686" height="388">
            <img src="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/title-data-pc-231020.png" loading="lazy" width="1032" height="186" alt="データ通信が最強※ 日本全国の通信エリアどこでも データ高速無制限※1">
          </picture>
        </h2>
        <div class="<%= namespace %>-Appeal_Transmission-flex u-Adjust_Mt-24">
          <div class="u-Adjust_Align-center">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/transmission-map-sp-231020.png" width="686" height="664">
              <img src="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/transmission-map-pc-231020.png" loading="lazy" width="654" height="157" alt="業界最高水準人口カバー率99.9%">
            </picture>
          </div>
          <div>
            <div class="u-Align_Ccl">
              <a href="<%= sitepath %>area/?l-id=fee_saikyo-plan_data-type_area" class="c-Btn_Regular">通信エリアを見る</a>
            </div>
          </div>
        </div>
        <div class="<%= namespace %>-Layout_Data-overseas-wrapper-border">
          <span class="<%= namespace %>-Layout_Data-overseas-label">海外でも</span>
          <div class="<%= namespace %>-Layout_Data-overseas-img"><img src="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/illust-global.png" width="249" height="109" alt=""></div>
          <div class="<%= namespace %>-Layout_Data-overseas-txt">
            <div>
              <p>
                <span class="c-Txt_Emp-01">対象の国と地域で</span><br>
                <span class="<%= namespace %>-Layout_Data-overseas-heading">高速データ通信が毎月2GB無料</span><span class="c-Txt_Cap">※5</span>
              </p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※プランのデータ利用量に加算</p>
            </div>
            <p class="u-Adjust_Mt-sp-16"><a href="<%= sitepath %>service/global/overseas/?l-id=fee_saikyo-plan_data-type_service_global_overseas" class="c-Link_Txt-inline">詳細を見る<span class="c-Icon_Chevron-right"></span></a></p>
          </div>
        </div>
        <p class="c-Txt_Cap u-Adjust_Mt-8">
          ※1 公平なサービス提供または環境により速度低下する場合あり ※4 2023年9月時点。人口カバー率は、国勢調査に用いられる約500m区画において、50%以上の場所で通信可能なエリアを基に算出 ※データ通信が最強とは4キャリアの大容量プランで比較した場合、プラン料金が最も安いことを意味します。2023年6月時点
        </p>
      </div>

      <div class="<%= namespace %>-Appeal_Price-wrapper">
        <div class="<%= namespace %>-Appeal_Price-inner">
          <div class="l-System_Container <%= namespace %>-Appeal_Price-content">
            <h2 class="u-Adjust_Align-center" data-ratid="saikyo-plan-data-type_scroll-09_fee" data-ratevent="appear" data-ratparam="all">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/title-price-sp.png">
                <img src="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/title-price-pc.png" loading="lazy" width="1032" height="183" alt="価格が最強※ 圧倒的な低価格">
              </picture>
            </h2>
            <h3 class="c-Heading_Lv2 <%= namespace %>-Appeal_Price-subtitle u-Adjust_Align-center u-Adjust_Mt-40 u-Adjust_Mt-pc-48">毎月のデータ利用量で<br class="u-Show_Oxx">お支払い金額が決まる</h3>
            <div class="u-Adjust_Align-center">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/ladder-sp-231020.png">
                <img src="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/ladder-pc-231020.png" width="878" height="321" loading="lazy" alt="毎月のデータ利用量でお支払い金額が決まる料金プラン 20GB超過後どれだけ使っても無制限※3で2,980円/月(税込3,278円) 3GB超過後20GBまでは1,980 円/月(税込2,178円)  3GBまでは980円/月(税込1,078円)  使わなければ勝手に安くなる!">
              </picture>
            </div>
            <p class="c-Txt_Cap u-Align_Llc u-Adjust_Mt-16">
              ※1 公平なサービス提供または環境により速度低下する場合あり ※オプション料等別費用<br>
              ※ 「価格が最強」「圧倒的な低価格」とは4キャリアの大容量プランで比較した場合。2023年6月1日時点
            </p>
            <div class="u-Adjust_Align-center u-Adjust_Mt-24">
              <a href="<%= sitepath %>fee/saikyo-plan/detail/?l-id=fee_saikyo-plan_data-type_fee_saikyo-plan_detail" class="c-Btn_Regular <%= namespace %>-Utility_Btn-regular-328">料金プラン詳細を見る</a>
            </div>
          </div>
        </div>
      </div>

      <div class="<%= namespace %>-Appeal_Benefit-wrapper">
        <div class="<%= namespace %>-Appeal_Benefit-inner">
          <div class="l-System_Container <%= namespace %>-Appeal_Benefit-content">
            <h2 data-ratid="saikyo-plan-data-type_scroll-11_point" data-ratevent="appear" data-ratparam="all">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/title-point-sp.png">
                <img src="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/title-point-pc.png" loading="lazy" width="1032" height="198" alt="楽天ポイントが断然貯まる">
              </picture>
            </h2>
            <div class="u-Adjust_Align-center <%= namespace %>-Appeal_Benefit-point-title">
              <p class="c-Heading_Lv4">＼ 楽天モバイルご契約中は ／</p>
              <p class="c-Heading_Lv2 <%= namespace %>-Utility_Marker-yellow">楽天市場のお買い物が</p>
            </div>
            <div class="u-Adjust_Mt-24 u-Adjust_Mt-pc-0 u-Adjust_Align-center">
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/benefit-spu-sp-240401.png">
                <img src="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/benefit-spu-pc-240401.png" width="968" height="294" loading="lazy" alt="楽天モバイルご契約中はポイント毎日全員5倍 その他グループサービスご利用でポイント最大＋17倍">
              </picture>
            </div>
            <div class="u-Adjust_Align-center u-Adjust_Mt-16">
              <a href="<%= sitepath %>campaign/spu/?l-id=fee_saikyo-plan_data-type_campaign_spu" class="c-Btn_Regular <%= namespace %>-Appeal_Benefit-point-btn">SPUの詳細を見る</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="plan">
      <div class="<%= namespace %>-Utility_Bg-pink100 <%= namespace %>-Layout_Data-type">
        <h2 class="u-Adjust_Align-center" data-ratid="saikyo-plan-data-type_scroll-12_plan" data-ratevent="appear" data-ratparam="all">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/plan-title-sp-231025.png" width="622" height="318">
            <img src="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/plan-title-pc-231025.png" width="960" height="91" alt="楽天モバイルに満足いただけたら通話もできる通常タイプへの変更がおすすめ" loading="lazy">
          </picture>
        </h2>
      </div>
      <div class="<%= namespace %>-Utility_Bg-white">
        <div class="l-System_Container u-Adjust_Pt-32 u-Adjust_Pb-64">

        <div class="u-Adjust_Align-center">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/plan-content-sp-231025.png">
            <img src="<%= sitepath %>assets/img/fee/saikyo-plan/data-type/plan-content-pc-231025.png" loading="lazy" width="1004" height="260" alt="">
          </picture>
        </div>

          <p class="c-Txt_Cap <%= namespace %>-Layout_Data-type-txt-cap u-Adjust_Mt-8 u-Adjust_Mr-0 u-Adjust_Mr-pc-40">※ 一部対象外番号あり。Rakuten Linkアプリ未使用時30秒22円</p>
          <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
            <p class="c-Txt_Emp-02">通常タイプへの変更は、my 楽天モバイルよりお手続きが可能です。</p>
          </div>
          <div class="u-Adjust_Align-center u-Adjust_Mt-24 u-Adjust_Mt-pc-40">
            <a href="<%= sitepath %>guide/data-type-change/?l-id=fee_saikyo-plan_data-type_guide_data-type-change" class="c-Btn_Secondly-large">
              <span>通常タイプへの変更方法を見る</span>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section id="campaign-rule" class="u-Adjust_Pt-48 u-Adjust_Pb-48 <%= namespace %>-Utility_Bg-mono97">
      <div class="l-System_Container <%= namespace %>-Rule">

        <div class="u-Rat_Appear-height" data-ratid="saikyo-plan-data-type_scroll-13_rule" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
        <%- include('/include/campaign/rules/_campaign-rule-current.ejs', {campaign: {id: '1973', level: 'h2', year: '2023', class: '' }}) %>

      </div>
    </section>

    <section class="u-Adjust_Pt-64">
      <div class="l-System_Container u-Adjust_Mb-80">
        <h2 id="anc_note" class="c-Heading_Lv2 u-Adjust_Align-center">注意事項</h2>

        <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■データタイプについて</p>
        <ul class="c-Txt_Cap u-Adjust_Mt-8">
          <li>※ データタイプお申し込みには楽天カードが必要</li>
          <li>※1 公平なサービス提供または環境により速度低下する場合あり</li>
          <li>※2 実質無料とは、キャンペーンの条件達成（楽天モバイルに初めてお申し込みなど）により後日付与されるポイントを加味した価格であり、実際のお支払い金額とは異なります。期間限定ポイント</li>
          <li>※3 即開通はeSIMを選択した場合。eSIMの利用には楽天モバイル対応のeSIM対応製品が必要です。審査状況、通信環境により時間がかかる場合があります。</li>
        </ul>

        <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■サービスエリアについて</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※4 2023年9月時点。人口カバー率は、国勢調査に用いられる約500m区画において、50%以上の場所で通信可能なエリアを基に算出</p>

        <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■海外は2GBまで無料について</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※5 通話料等別。プランのデータ利用量に加算。2GB超過後は最大128kbps。対象エリアおよび条件は変更する場合あり。<a href="<%= sitepath %>service/global/overseas/#accordion-1">対象エリア</a>をご確認ください。</p>

        <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■「楽天市場のお買い物が最大17倍」特典について</p>
        <ul class="c-Txt_Cap u-Adjust_Mt-8">
          <li>※6 楽天会員1倍と楽天モバイルSPU＋4倍の合計値。楽天モバイルSPUの毎月の獲得上限ポイント数は2,000ポイント。期間限定ポイントでの付与。詳細は<a href="<%= sitepath %>campaign/spu/">こちら</a>をご確認ください。</li>
          <li>※7 SPUによる楽天モバイル対象プランご契約者特典+4倍とその他グループサービスご利用で最大13倍の合計値です。達成条件、獲得ポイント上限あり。期間限定ポイントでの付与。<a href="https://event.rakuten.co.jp/campaign/point-up/everyday/point/">SPUの詳細</a>をご確認ください。</li>
        </ul>
      </div>
    </section>

    <div class="<%= namespace %>-Layout_Bottom-fixed" id="js-fixed-btn" aria-expanded="false">
      <div class="<%= namespace %>-Layout_Bottom-fixed-inner">
        <div class="<%= namespace %>-Layout_Bottom-fixed-btn">
          <a href="#js-apply-button" class="c-Btn_Primary-large js-scroll" data-ratid="saikyo-plan-data-type_floating" data-ratevent="click" data-ratparam="all">
            <div class="<%= namespace %>-Layout_Bottom-fixed-btn-inner-box"><span>お申し込みはこちら</span></div>
          </a>
        </div>
      </div>
    </div>

    <footer class="g-Footer">
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>

  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/fee.saikyo-plan-data.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
</body>

</html>
