<%_
  const commonNamespace = "product-iphone-13-common"
  const diamond = "<sup>&#9674;</sup>"
_%>
<div>
  <section class="<%= commonNamespace %>-Spec_Section-01">
    <%# スクロール計測 %>
    <div class="u-Rat_Appear-height" data-ratid="<%= currentDir %>_scroll-08_product-detail" data-ratevent="appear">&nbsp;</div>
    <h2>
      <picture>
        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/iphone/iphone-13/img-logo-sp.svg" width="97" height="16">
        <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/img-logo-pc.svg" width="226" height="37" alt="iphone 13">
      </picture>
    </h2>
    <h3 class="<%= commonNamespace %>-Spec_Section-01-heading">できること、<br>超人的。</h3>
    <p class="<%= commonNamespace %>-Spec_Section-01-lead">超鮮明なディスプレイ。耐久性の高い<br class="<%= namespace %>-Utility_Br-sp">デザイン。ハリウッド級の<br class="<%= namespace %>-Utility_Br-pc">ビデオ撮影も<br class="<%= namespace %>-Utility_Br-sp">簡単にできるカメラ。飛ぶように<br class="<%= namespace %>-Utility_Br-sp">速いチップ。<br class="<%= namespace %>-Utility_Br-pc">あなたの毎日を止めない<br class="<%= namespace %>-Utility_Br-sp">大躍進のバッテリー。</p>
    <div class="<%= commonNamespace %>-Spec_Section-01-img">
      <picture>
        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/iphone/iphone-13/img-feature-01-sp.png" width="375" height="196">
        <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/img-feature-01-pc.png" width="849" height="446" alt="iphone 13">
      </picture>
    </div>
  </section>
  <section class="<%= commonNamespace %>-Spec_Section-02">
    <div class="<%= commonNamespace %>-Spec_Section-02-grid">
      <div class="<%= commonNamespace %>-Spec_Section-02-grid-item">
        <h3 class="<%= commonNamespace %>-Spec_Section-02-heading">
          <small>ディスプレイとデザイン</small>
          超鮮明。<br>
          超多彩。<br>
          超精細。
        </h3>
      </div>
      <div class="<%= commonNamespace %>-Spec_Section-02-grid-item">
        <p class="<%= commonNamespace %>-Spec_Section-02-lead">よりあざやかなOLEDディスプレイ。電力を節約しながら、強い日光の下でも一段と見やすく映し出します。頑丈な設計で、耐水性能と防塵性能も持っています<%- diamond %>。</p>
      </div>
    </div>
    <div class="<%= commonNamespace %>-Spec_Section-02-img">
      <picture>
        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/iphone/iphone-13/feature-02-sp.png?220310">
        <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/feature-02-pc.png?220310" width="972" height="595" alt="">
      </picture>
    </div>
  </section>
  <section class="<%= commonNamespace %>-Spec_Section-03">
    <div class="<%= commonNamespace %>-Spec_Section-03-grid-reverse">
      <div class="<%= commonNamespace %>-Spec_Section-03-grid-item">
        <h3 class="<%= commonNamespace %>-Spec_Section-03-heading">
          <small>シネマティックモード</small>
          iPhoneに映画制作を<br>
          学ばせました。<br>
          あなたがすぐに<br>
          始められるように。
        </h3>
        <p class="<%= commonNamespace %>-Spec_Section-03-lead">美しい奥行きを作り出し、ビデオのフォーカスを切り替えます。すべてが自動です。映画のようなクオリティに物語を引き上げることができます。</p>
        <div class="<%= commonNamespace %>-Spec_Section-03-cap">
          <div class="<%= commonNamespace %>-Spec_Section-03-cap-cinema">
            <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-cinema.svg" alt="" width="67" height="63">
          </div>
          <p><span>シネマティックモード</span>はTrueDepthフロントカメラでも使えます</p>
        </div>
      </div>
      <div class="<%= commonNamespace %>-Spec_Section-03-grid-item">
        <figure>
          <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/feature-03-01.png" width="865" height="420" alt="">
        </figure>
      </div>
    </div>
    <div class="<%= commonNamespace %>-Spec_Section-03-grid">
      <div class="<%= commonNamespace %>-Spec_Section-03-grid-item">
        <h3 class="<%= commonNamespace %>-Spec_Section-03-heading">
          <small>デュアルカメラシステム</small>
          すべてが進化した<br>
          カメラで、すべてが<br>
          美しいショットを。
        </h3>
        <p class="<%= commonNamespace %>-Spec_Section-03-lead">飛躍的なアップグレードにより、一段と美しい写真と<br class="<%= namespace %>-Utility_Br-pc">ビデオが撮影できるようになりました。より多くの<br class="<%= namespace %>-Utility_Br-pc">光を取り込む広角カメラ。センサーシフト光学式<br class="<%= namespace %>-Utility_Br-pc">手ぶれ補正。暗いエリアのディテールを一段と<br class="<%= namespace %>-Utility_Br-pc">はっきりとらえる超広角カメラ。</p>
        <div class="<%= commonNamespace %>-Spec_Section-03-cap">
          <div class="<%= commonNamespace %>-Spec_Section-03-cap-camera">
            <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-camera.svg" alt="" width="63" height="63">
          </div>
          <p>より大きな広角カメラとセンサーも、<br class="<%= namespace %>-Utility_Br-pc"><span>斜めの新しいデザイン</span>に収めました</p>
        </div>
      </div>
      <div class="<%= commonNamespace %>-Spec_Section-03-grid-item">
        <figure>
          <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/feature-03-02.png" width="424" height="852" alt="">
        </figure>
      </div>
    </div>
  </section>
  <section class="<%= commonNamespace %>-Spec_Section-04">
    <div class="<%= commonNamespace %>-Spec_Section-04-grid">
      <div class="<%= commonNamespace %>-Spec_Section-04-grid-item">
        <h3 class="<%= commonNamespace %>-Spec_Section-04-heading">
          <small>バッテリー</small>
          パワーアップした<br>
          バッテリー。
        </h3>
        <p class="<%= commonNamespace %>-Spec_Section-04-lead">それは、あなたの毎日を止めない大躍進の<br class="<%= namespace %>-Utility_Br-pc">バッテリー。映画を観たり、ゲームで遊んだり、<br class="<%= namespace %>-Utility_Br-pc">好きなことをする時間が一段と長くなります。<br class="<%= namespace %>-Utility_Br-pc">iPhone 13 miniのバッテリーも、これまで<br class="<%= namespace %>-Utility_Br-pc">以上に長持ちです。</p>
        <div class="<%= commonNamespace %>-Spec_Section-04-cap">
          <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-battery.svg" alt="" width="80" height="37">
          <p>1回の充電で最大19時間の<br>ビデオ再生<%- diamond %></p>
        </div>
      </div>
      <div class="<%= commonNamespace %>-Spec_Section-04-grid-item">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/iphone/iphone-13/feature-04-01-sp.png" width="674" height="675">
          <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/feature-04-01-pc.png" width="976" height="670" alt="">
        </picture>
      </div>
    </div>
    <div class="<%= commonNamespace %>-Spec_Section-04-grid-reverse">
      <div class="<%= commonNamespace %>-Spec_Section-04-grid-item">
        <h3 class="<%= commonNamespace %>-Spec_Section-04-heading">
          <small>A15 Bionic</small>
          驚異的なスピード、<br>
          先進的なカメラ機能、<br>
          優れた効率をもたらす<br class="<%= namespace %>-Utility_Br-pc">チップです。
        </h3>
        <p class="<%= commonNamespace %>-Spec_Section-04-lead">A15 Bionicが、グラフィックスを駆使した<br class="<%= namespace %>-Utility_Br-pc">ゲームも、シネマティックモードやフォトグラフ<br class="<%= namespace %>-Utility_Br-pc">スタイルなどの新しいカメラ機能も、パワフルに<br class="<%= namespace %>-Utility_Br-pc">動かします。しかも、これまで以上に効率が良い<br class="<%= namespace %>-Utility_Br-pc">ので、より長いバッテリー駆動時間も届けます。</p>
        <div class="<%= commonNamespace %>-Spec_Section-04-cap">
          <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-a15.svg" alt="" width="68" height="68">
          <p>今の世界が求める高速の<br class="<%= namespace %>-Utility_Br-sp">パフォーマンスと、<br class="<%= namespace %>-Utility_Br-pc">何年も<br class="<%= namespace %>-Utility_Br-sp">先を行くパワフルな性能</p>
        </div>
      </div>
      <div class="<%= commonNamespace %>-Spec_Section-04-grid-item">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/iphone/iphone-13/feature-04-02-pc.png" width="750" height="675">
          <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/feature-04-02-pc.png" width="1177" height="723" alt="">
        </picture>
      </div>
    </div>
  </section>
  <section class="<%= commonNamespace %>-Spec_Section-05">
    <div class="<%= commonNamespace %>-Spec_Section-05-grid-reverse">
      <div class="<%= commonNamespace %>-Spec_Section-05-grid-item">
        <h3 class="<%= commonNamespace %>-Spec_Section-05-heading">
          <small>5G</small>
          iPhoneなら、<br>
          5Gはこんなにすごい。
        </h3>
        <p class="<%= commonNamespace %>-Spec_Section-05-lead">すべてが一段と高速になる5G<%- diamond %>。みんなでゲームを<br class="<%= namespace %>-Utility_Br-pc">プレイしたり、様々なことを楽しめるようにします。<br class="<%= namespace %>-Utility_Br-pc">速さが必要ない時は、スマートデータモードが<br class="<%= namespace %>-Utility_Br-pc">自動的にバッテリーを節約します。</p>
      </div>
      <div class="<%= commonNamespace %>-Spec_Section-05-grid-item">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/iphone/iphone-13/feature-05-sp.png">
          <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/feature-05-pc.png" width="486" height="659" alt="">
        </picture>
      </div>
    </div>
  </section>
  <div class="<%= namespace %>-Utility_Bg-gray-light">
    <section class="<%= commonNamespace %>-Spec_Section-06">
      <h3 class="<%= commonNamespace %>-Spec_Section-06-heading">
        <small>iPhoneが好きになる理由</small>
        ほかのスマートフォンとはまったく違います。
      </h3>
      <ul class="<%= commonNamespace %>-Spec_Section-06-list">
        <li>
          <dl>
            <dt>
              <span><img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-1.svg" alt="" width="35" height="37"></span>
              <span>賢さがある性能</span>
            </dt>
            <dd>
              Appleが設計したチップが、<br>
              あらゆることを速く、賢くできるようにします。電力効率も<br>
              優れています。
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>
              <span><img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-2.svg" alt="" width="29" height="37"></span>
              <span>プライバシーを守る</span>
            </dt>
            <dd>
              iPhoneのあらゆる部分が、<br>
              あなたの個人情報を守る<br>
              ように作られています。
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>
              <span><img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-3.svg" alt="" width="40" height="37"></span>
              <span>高い耐久性と下取り価値</span>
            </dt>
            <dd>
              iPhoneはほかのスマートフォン<br>
              よりも長く使えて、価値が長く<br>
              続くように設計されています。
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>
              <span><img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-4.svg" alt="" width="33" height="35"></span>
              <span>持続可能性</span>
            </dt>
            <dd>
              環境に配慮して作られた<br>
              デバイスです。再生素材が<br>
              使われています。
            </dd>
          </dl>
        </li>
      </ul>
    </section>
<!--
    <section class="<%= commonNamespace %>-Spec_Section-07">
    <%# スクロール計測 %>
    <div class="u-Rat_Appear-height" data-ratid="<%= currentDir %>_scroll-09_comparison" data-ratevent="appear">&nbsp;</div>
      <div>
        <img src="<%= sitepath %>assets/img/product/iphone/<%= currentDir %>/img-hikaku-01-pc.png" alt="" class="<%= namespace %>-Utility_Disp-pc">
        <img src="<%= sitepath %>assets/img/product/iphone/<%= currentDir %>/img-hikaku-02-pc.png" alt="" class="<%= namespace %>-Utility_Disp-pc">
        <img src="<%= sitepath %>assets/img/product/iphone/<%= currentDir %>/img-hikaku-01-sp.png" alt="" class="<%= namespace %>-Utility_Disp-sp">
      </div>
    </section> -->


    <section class="<%= commonNamespace %>-Spec_Section-07">
      <%# スクロール計測 %>
      <div class="u-Rat_Appear-height" data-ratid="<%= currentDir %>_scroll-09_comparison" data-ratevent="appear">&nbsp;</div>
      <h3 class="<%= commonNamespace %>-Spec_Section-07-heading">
        <small>比較する</small>
        あなたにぴったりのiPhoneは？
      </h3>
      <ul class="<%= commonNamespace %>-Spec_Section-07-list">
        <li>
          <dl>
            <dt><img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-iphone-13-pro-max.svg" alt="iPhone 13 Pro Max" width="144" height="14"></dt>
            <dd>
              <div class="<%= commonNamespace %>-Spec_Section-07-img">
                <div class="<%= commonNamespace %>-Spec_Section-07-img-figure">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/img-iphone13promax-thumb.png" alt="" width="159" height="210">
                  </figure>
                </div>
                <ul class="<%= commonNamespace %>-Spec_Section-07-img-colors-5">
                  <li style="background: #576856;"></li>
                  <li style="background: #F1F2ED;"></li>
                  <li style="background: #FAE7CF;"></li>
                  <li style="background: #54524F;"></li>
                  <li style="background: #A7C1D9;"></li>
                </ul>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-size">
                <p class="<%= commonNamespace %>-Spec_Section-07-size-emp">
                  <span>6.7</span>インチ
                </p>
                <p>ProMotion搭載<br>Super Retina XDR<br class="<%= namespace %>-Utility_Br-sp">ディスプレイ<%- diamond %></p>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-5g">
                <figure>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-5.svg" alt="" width="48" height="36">
                </figure>
                <p class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                  超高速の5G携帯電話通信<%- diamond %>
                </p>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-camera">
                <figure>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-7.svg" alt="" width="37" height="40">
                </figure>
                <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                  <li>望遠</li>
                  <li>広角</li>
                  <li>超広角</li>
                  <li>
                    シネマティックモード<br>
                    (1080p,30fps)
                  </li>
                  <li>
                    ドルビービジョン対応<br>
                    HDRビデオ撮影<br>
                    (最大4K,60fps)
                  </li>
                </ul>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-chip">
                <figure>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-8.svg" alt="" width="40" height="40">
                </figure>
                <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                  <li>A15 Bionicチップ</li>
                  <li>
                    2つの高性能コアと<br>
                    4つの高効率コアを<br class="<%= namespace %>-Utility_Br-sp">搭載した<br class="<%= namespace %>-Utility_Br-pc">
                    6コアCPU
                  </li>
                  <li>5コアGPU</li>
                  <li>16コアNeural Engine</li>
                </ul>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-battery">
                <figure>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-9.svg" alt="" width="51" height="24">
                </figure>
                <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                  <li>最大28時間のビデオ再生<%- diamond %></li>
                </ul>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-body">
                <figure>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-10.svg" alt="" width="39" height="45">
                </figure>
                <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                  <li>Ceramic Shieldの前面</li>
                  <li>医療に使われるレベルの<br>ステンレススチール</li>
                </ul>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-id">
                <figure>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-faceid.png" alt="" width="36" height="35">
                </figure>
                <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                  <li>Face ID</li>
                </ul>
              </div>
            </dd>
          </dl>
        </li>

        <li>
          <dl>
            <dt><img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-iphone-13-pro.svg" alt="iPhone 13 Pro" width="106" height="14"></dt>
            <dd>
              <div class="<%= commonNamespace %>-Spec_Section-07-img">
                <div class="<%= commonNamespace %>-Spec_Section-07-img-figure">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/img-iphone13pro-thumb.png" alt="" width="151" height="193">
                  </figure>
                </div>
                <ul class="<%= commonNamespace %>-Spec_Section-07-img-colors-5">
                  <li style="background: #576856;"></li>
                  <li style="background: #F1F2ED;"></li>
                  <li style="background: #FAE7CF;"></li>
                  <li style="background: #54524F;"></li>
                  <li style="background: #A7C1D9;"></li>
                </ul>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-size">
                <p class="<%= commonNamespace %>-Spec_Section-07-size-emp">
                  <span>6.1</span>インチ
                </p>
                <p>ProMotion搭載<br>Super Retina XDR<br class="<%= namespace %>-Utility_Br-sp">ディスプレイ<%- diamond %></p>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-5g">
                <figure>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-5.svg" alt="" width="48" height="36">
                </figure>
                <p class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                  超高速の5G携帯電話通信<%- diamond %>
                </p>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-camera">
                <figure>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-7.svg" alt="" width="37" height="40">
                </figure>
                <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                  <li>望遠</li>
                  <li>広角</li>
                  <li>超広角</li>
                  <li>
                    シネマティックモード<br>
                    (1080p,30fps)
                  </li>
                  <li>
                    ドルビービジョン対応<br>
                    HDRビデオ撮影<br>
                    (最大4K,60fps)
                  </li>
                </ul>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-chip">
                <figure>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-8.svg" alt="" width="40" height="40">
                </figure>
                <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                  <li>A15 Bionicチップ</li>
                  <li>
                    2つの高性能コアと<br>
                    4つの高効率コアを<br class="<%= namespace %>-Utility_Br-sp">搭載した<br class="<%= namespace %>-Utility_Br-pc">
                    6コアCPU
                  </li>
                  <li>5コアGPU</li>
                  <li>16コアNeural Engine</li>
                </ul>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-battery">
                <figure>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-9.svg" alt="" width="51" height="24">
                </figure>
                <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                  <li>最大22時間のビデオ再生<%- diamond %></li>
                </ul>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-body">
                <figure>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-10.svg" alt="" width="39" height="45">
                </figure>
                <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                  <li>Ceramic Shieldの前面</li>
                  <li>医療に使われるレベルの<br>ステンレススチール</li>
                </ul>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-id">
                <figure>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-faceid.png" alt="" width="36" height="35">
                </figure>
                <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                  <li>Face ID</li>
                </ul>
              </div>
            </dd>
          </dl>
        </li>

        <li>
          <dl>
            <dt><img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-iphone-13.svg" alt="iPhone 13" width="90" height="15"></dt>
            <dd>
              <div class="<%= commonNamespace %>-Spec_Section-07-img">
                <div class="<%= commonNamespace %>-Spec_Section-07-img-figure">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/img-iphone13-thumb.png" alt="" width="138" height="189">
                  </figure>
                </div>
                <ul class="<%= commonNamespace %>-Spec_Section-07-img-colors-4">
                  <li style="background: #394C38;"></li>
                  <li style="background: #FADDD7;"></li>
                  <li style="background: #276787;"></li>
                  <li style="background: #232A31;"></li>
                  <li style="background: #FAF6F2;"></li>
                  <li style="background: #BF0013;"></li>
                </ul>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-size">
                <p class="<%= commonNamespace %>-Spec_Section-07-size-emp">
                  <span>6.1</span>インチ
                </p>
                <p>Super Retina XDR<br>ディスプレイ<%- diamond %></p>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-5g">
                <figure>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-5.svg" alt="" width="48" height="36">
                </figure>
                <p class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                  超高速の5G携帯電話通信<%- diamond %>
                </p>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-camera">
                <figure>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-6.svg" alt="" width="37" height="40">
                </figure>
                <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                  <li class="<%= commonNamespace %>-Spec_Section-07-empty"></li>
                  <li>広角</li>
                  <li>超広角</li>
                  <li>
                    シネマティックモード<br>
                    (1080p,30fps)
                  </li>
                  <li>
                    ドルビービジョン対応<br>
                    HDRビデオ撮影<br>
                    (最大4K,60fps)
                  </li>
                </ul>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-chip">
                <figure>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-8.svg" alt="" width="40" height="40">
                </figure>
                <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                  <li>A15 Bionicチップ</li>
                  <li>
                    2つの高性能コアと<br>
                    4つの高効率コアを<br class="<%= namespace %>-Utility_Br-sp">搭載した<br>
                    6コアCPU
                  </li>
                  <li>4コアGPU</li>
                  <li>16コアNeural Engine</li>
                </ul>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-battery">
                <figure>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-9.svg" alt="" width="51" height="24">
                </figure>
                <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                  <li>最大19時間のビデオ再生<%- diamond %></li>
                </ul>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-body">
                <figure>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-10.svg" alt="" width="39" height="45">
                </figure>
                <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                  <li>Ceramic Shieldの前面</li>
                  <li>航空宇宙産業レベルの<br>アルミニウム</li>
                </ul>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-id">
                <figure>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-faceid.png" alt="" width="36" height="35">
                </figure>
                <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                  <li>Face ID</li>
                </ul>
              </div>
            </dd>
          </dl>
        </li>

        <li>
          <dl>
            <dt><img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-iphone-13-mini.svg" alt="iPhone 13 mini" width="113" height="14"></dt>
            <dd>
              <div class="<%= commonNamespace %>-Spec_Section-07-img">
                <div class="<%= commonNamespace %>-Spec_Section-07-img-figure">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/img-iphone13mini-thumb.png" alt="" width="126" height="169">
                  </figure>
                </div>
                <ul class="<%= commonNamespace %>-Spec_Section-07-img-colors-4">
                  <li style="background: #394C38;"></li>
                  <li style="background: #FADDD7;"></li>
                  <li style="background: #276787;"></li>
                  <li style="background: #232A31;"></li>
                  <li style="background: #FAF6F2;"></li>
                  <li style="background: #BF0013;"></li>
                </ul>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-size">
                <p class="<%= commonNamespace %>-Spec_Section-07-size-emp">
                  <span>5.4</span>インチ
                </p>
                <p>Super Retina XDR<br>ディスプレイ<%- diamond %></p>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-5g">
                <figure>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-5.svg" alt="" width="48" height="36">
                </figure>
                <p class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                  超高速の5G携帯電話通信<%- diamond %>
                </p>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-camera">
                <figure>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-6.svg" alt="" width="37" height="40">
                </figure>
                <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                  <li class="<%= commonNamespace %>-Spec_Section-07-empty"></li>
                  <li>広角</li>
                  <li>超広角</li>
                  <li>
                    シネマティックモード<br>
                    (1080p,30fps)
                  </li>
                  <li>
                    ドルビービジョン対応<br>
                    HDRビデオ撮影<br>
                    (最大4K,60fps)
                  </li>
                </ul>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-chip">
                <figure>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-8.svg" alt="" width="40" height="40">
                </figure>
                <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                  <li>A15 Bionicチップ</li>
                  <li>
                    2つの高性能コアと<br>
                    4つの高効率コアを<br class="<%= namespace %>-Utility_Br-sp">搭載した<br>
                    6コアCPU
                  </li>
                  <li>4コアGPU</li>
                  <li>16コアNeural Engine</li>
                </ul>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-battery">
                <figure>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-9.svg" alt="" width="51" height="24">
                </figure>
                <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                  <li>最大17時間のビデオ再生<%- diamond %></li>
                </ul>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-body">
                <figure>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-10.svg" alt="" width="39" height="45">
                </figure>
                <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                  <li>Ceramic Shieldの前面</li>
                  <li>航空宇宙産業レベルの<br>アルミニウム</li>
                </ul>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-id">
                <figure>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-faceid.png" alt="" width="36" height="35">
                </figure>
                <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                  <li>Face ID</li>
                </ul>
              </div>
            </dd>
          </dl>
        </li>

        <li>
          <dl>
            <dt><img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-iphonese.svg" alt="iphone se" width="77" height="16"></dt>
            <dd>
              <div class="<%= commonNamespace %>-Spec_Section-07-img">
                <div class="<%= commonNamespace %>-Spec_Section-07-img-figure">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/img-iphone13se-thumb.png" alt="" width="121" height="179">
                  </figure>
                </div>
                <ul class="<%= commonNamespace %>-Spec_Section-07-img-colors-5">
                  <li style="background: #232A31;"></li>
                  <li style="background: #FAF6F2;"></li>
                  <li style="background: #BF0013;"></li>
                </ul>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-size">
                <p class="<%= commonNamespace %>-Spec_Section-07-size-emp">
                  <span>4.7</span>インチ
                </p>
                <p>Retina HDディスプレイ</p>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-5g">
                <figure>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-5.svg" alt="" width="48" height="36">
                </figure>
                <p class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                  5G携帯電話通信<%- diamond %>
                </p>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-camera">
                <figure>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-camera-03.png" alt="" width="37" height="40">
                </figure>
                <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                  <li class="<%= commonNamespace %>-Spec_Section-07-empty"></li>
                  <li>広角</li>
                  <li class="<%= commonNamespace %>-Spec_Section-07-empty"></li>
                  <li class="<%= commonNamespace %>-Spec_Section-07-empty-s"></li>
                  <li class="<%= commonNamespace %>-Spec_Section-07-empty-m"></li>
                </ul>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-chip">
                <figure>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-8.svg" alt="" width="40" height="40">
                </figure>
                <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                  <li>A15 Bionicチップ</li>
                  <li>
                    2つの高性能コアと<br>
                    4つの高効率コアを<br class="<%= namespace %>-Utility_Br-sp">搭載した<br>
                    6コアCPU
                  </li>
                  <li>4コアGPU</li>
                  <li>16コアNeural Engine</li>
                </ul>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-battery">
                <figure>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-9.svg" alt="" width="51" height="24">
                </figure>
                <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                  <li>最大15時間のビデオ再生<%- diamond %></li>
                </ul>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-body">
                <div class="<%= commonNamespace %>-Spec_Section-07-empty-icon"></div>
                <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                  <li>ガラスの前面と背面</li>
                  <li>航空宇宙産業レベルの<br>アルミニウム</li>
                </ul>
              </div>
              <div class="<%= commonNamespace %>-Spec_Section-07-id">
                <figure>
                  <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-touchid.png" alt="" width="36" height="35">
                </figure>
                <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                  <li>Touch ID</li>
                </ul>
              </div>
            </dd>
          </dl>
        </li>
      </ul>
    </section>
    <section class="<%= commonNamespace %>-Spec_Section-08">
      <div class="<%= commonNamespace %>-Spec_Section-08-grid">
        <div class="<%= commonNamespace %>-Spec_Section-08-grid-item">
          <h3 class="<%= commonNamespace %>-Spec_Section-08-heading">
            <small>MagSafeアクセサリ</small>
            ケースも、カード入れも、<br>
            その両方も。<br>
            磁力でピタッと装着。
          </h3>
          <p class="<%= commonNamespace %>-Spec_Section-08-lead">装着が簡単で、よりすばやくワイヤレス充電ができるアクセサリの<br class="<%= namespace %>-Utility_Br-pc">新しいエコシステム。組み合わせは数えきれないほど。<br class="<%= namespace %>-Utility_Br-pc">だからコーディネートが思いのままです<%- diamond %>。</p>
          <p class="u-Adjust_Mt-24">
            <a href="<%= sitepath %>product/accessory/apple/?l-id=product_<%= currentDir %>_accessory_apple" class="c-Link_Txt-inline <%= commonNamespace %>-Spec_Section-link">MagSafeアクセサリについて<br class="<%= namespace %>-Utility_Br-sp">さらに詳しく<span class="c-Icon_Chevron-right"></span></a>
          </p>
        </div>
        <div class="<%= commonNamespace %>-Spec_Section-08-grid-item">
          <figure>
            <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/feature-08.png" width="485" height="359" alt="">
          </figure>
        </div>
      </div>
    </section>
    <section class="<%= commonNamespace %>-Spec_Section-09">
      <div class="<%= commonNamespace %>-Spec_Section-09-grid">
        <div class="<%= commonNamespace %>-Spec_Section-09-grid-item">
          <h3 class="<%= commonNamespace %>-Spec_Section-09-heading">
            <small><img src="<%= sitepath %>assets/img/product/iphone/iphone-13/airtag.png" width="78" height="20" alt="AirTag"></small>
            探し物を見つける<br>
            最も簡単な方法。
          </h3>
          <p class="<%= commonNamespace %>-Spec_Section-09-lead">大切な物にはAirTagを取りつけて、すぐに見つかるようにして<br class="<%= namespace %>-Utility_Br-pc">おきましょう。「探す」アプリで簡単に場所がわかります<%- diamond %>。</p>
          <p class="u-Adjust_Mt-24">
            <a href="<%= sitepath %>product/accessory/apple-rm2104016/?l-id=product_<%= currentDir %>_accessory_apple-rm2104016" class="c-Link_Txt-inline <%= commonNamespace %>-Spec_Section-link">購入する<span class="c-Icon_Chevron-right"></span></a>
          </p>
        </div>
        <div class="<%= commonNamespace %>-Spec_Section-09-grid-item">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/iphone/iphone-13/airtag-sp.png">
            <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/airtag-pc.png" width="450" height="397" alt="">
          </picture>
        </div>
      </div>
    </section>
    <section class="<%= commonNamespace %>-Spec_Section-10">
      <div class="<%= commonNamespace %>-Spec_Section-10-grid">
        <div class="<%= commonNamespace %>-Spec_Section-10-grid-item">
          <h3 class="<%= commonNamespace %>-Spec_Section-10-heading">
            <small>AppleCare+</small>
            スペシャリストによる<br>
            サポートを延長できます。
          </h3>
          <ul class="<%= commonNamespace %>-Spec_Section-10-lead-list">
            <li><span class="c-Icon_Check <%= commonNamespace %>-Spec_Section-10-lead-list-icon"></span>Apple認定技術者によるサービス</li>
            <li><span class="c-Icon_Check <%= commonNamespace %>-Spec_Section-10-lead-list-icon"></span>サポートへの優先アクセス</li>
            <li><span class="c-Icon_Check <%= commonNamespace %>-Spec_Section-10-lead-list-icon"></span>修理と交換に対応</li>
          </ul>
          <p class="u-Adjust_Mt-24">
            <a href="<%= sitepath %>service/iphone/applecare/?l-id=product_<%= currentDir %>_service_iphone_applecare" class="c-Link_Txt-inline <%= commonNamespace %>-Spec_Section-link">AppleCare+ for iPhoneについて<br class="<%= namespace %>-Utility_Br-sp">さらに詳しく<span class="c-Icon_Chevron-right"></span></a>
          </p>
        </div>
        <div class="<%= commonNamespace %>-Spec_Section-10-grid-item">
          <figure>
            <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/applecare.png" width="251" height="303" alt="">
          </figure>
        </div>
      </div>
    </section>
  </div>
  <%_ const deviceName = currentDir.replace('iphone-', '') _%>
  <%- include(`./_${deviceName}-other`, { commonNamespace, diamond, currentDir }) %>
</div>
