<section class="<%= commonNamespace %>-Spec_Section-other">
  <div class="<%= commonNamespace %>-Spec_Section-other-bg">
    <div class="<%= commonNamespace %>-Spec_Section-other">
      <div class="<%= commonNamespace %>-Spec_Section-other-inner">
        <div class="<%= commonNamespace %>-Spec_Section-other-note">
          <%# スクロール計測 %>
          <div class="u-Rat_Appear-height" data-ratid="<%= productName %>_scroll-10_disclaimer" data-ratevent="appear">&nbsp;</div>
          <p class="c-Txt_Cap"><%- diamond %>免責事項</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">防沫性能、耐水性能、防塵性能： </span>iPhone 13 Pro、iPhone 13 Pro Max、iPhone 13、iPhone 13 mini、iPhone SE（第3世代）は防沫性能、耐水性能、防塵性能を備えており、実験室の管理された条件下でテストされています。 iPhone 13 Pro、iPhone 13 Pro Max、iPhone 13、iPhone 13 miniはIEC規格60529にもとづくIP68等級に適合しています（最大水深6メートルで最大30分間）。 iPhone SE（第3世代）はIEC規格60529にもとづくIP67等級に適合しています（最大水深1メートルで最大30分間）。 防沫性能、耐水性能、防塵性能は永続的に維持されるものではなく、通常の使用によって耐性が低下する可能性があります。 iPhoneが濡れている場合は充電しないでください。 クリーニングと乾燥の方法についてはユーザガイドをご覧ください。 液体による損傷は保証の対象になりません。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">低照度写真撮影： </span>iPhone 13 ProとiPhone 13 Pro Maxの広角カメラを使用した場合、暗い場所での性能が最大2.2倍向上（一世代前のモデルとの比較）。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">容量： </span>実際に利用できる容量は仕様を下回り、多くの要素によって変わります。 標準構成では、約12GBから17GBの容量（最新の機能を搭載したiOS 15と削除可能なApple製アプリを含む）がすでに使われています。 削除可能なApple製アプリは約4.5GBの容量を使用しており、App Storeからダウンロードして復元できます。 ストレージ容量はソフトウェアのバージョン、設定、iPhoneのモデルによって変わります。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">携帯電話/ワイヤレス通信方式： </span>データプランが必要です。 5GとLTEは特定の国の特定の通信事業者で利用できます。 速度は論理上のスループットにもとづくもので、使用する場所の条件および通信事業者によって変わります。 5GおよびLTE対応の詳細については通信事業者にお問い合わせください。 <a href="https://www.apple.com/jp/iphone/cellular/" target="_blank" rel="noopener noreferrer">apple.com/jp/iphone/cellular</a>もあわせてご覧ください。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">電源とバッテリー： </span>バッテリーに関する各数値はネットワーク構成やその他の多くの要素によって変わり、実際の結果は異なる場合があります。 バッテリーは充電回数に限りがあり、将来的にはApple正規サービスプロバイダによる交換が必要になる場合があります。 バッテリー駆動時間と充電サイクルは使用方法と設定によって異なります。 詳しくは<a href="https://www.apple.com/jp/batteries/" target="_blank" rel="noopener noreferrer">apple.com/jp/batteries</a>および<a href="https://www.apple.com/jp/iphone/battery.html" target="_blank" rel="noopener noreferrer">apple.com/jp/iphone/battery.html</a>をご覧ください。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">利用できる機能： </span>国や地域によっては一部の機能を利用できない場合があります。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">ディスプレイ： </span>ディスプレイは美しい曲線を描くように四隅に丸みを持たせてデザインされており、標準的な長方形に収まります。 標準的な長方形として対角線の長さを測った場合のスクリーンのサイズは5.42インチ（iPhone 13 mini）、6.06インチ（iPhone 13、iPhone 13 Pro）、6.68インチ（iPhone 13 Pro Max）です。 実際の表示領域はこれより小さくなります。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">アクセサリ： </span>アクセサリは別売りです。</p>
          <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">AirTag： </span>「正確な場所を見つける」機能は、iPhone 11以降（iPhone SEを除く）に対応します。</p>
        </div>
        <div class="<%= commonNamespace %>-Spec_Section-other-characteristic u-Adjust_Mt-40">
          <%# スクロール計測 %>
          <div class="u-Rat_Appear-height" data-ratid="<%= productName %>_scroll-11_feature" data-ratevent="appear">&nbsp;</div>
          <h3 class="c-Heading_Lv3">主な特長</h3>
          <ul class="c-List_Text-disc u-Adjust_Mt-32">
            <li>ProMotionを採用し、速さと反応の良さが向上した6.7インチのSuper Retina XDRディスプレイ <span>3</span></li>
            <li>浅い被写界深度を加えてビデオのフォーカスを切り替える、すべてが自動のシネマティックモード</li>
            <li>6倍の光学ズームレンジ、マクロ写真撮影、フォトグラフスタイル、ProResビデオ、スマートHDR 4、ナイトモード、Apple ProRAWに対応し、4KドルビービジョンでのHDRビデオ撮影ができる新しいPro 12MPカメラシステム（望遠、広角、超広角）。LiDARスキャナを搭載</li>
            <li>ナイトモードと4KドルビービジョンでのHDRビデオ撮影に対応した12MP TrueDepthフロントカメラ</li>
            <li>飛ぶように速いパフォーマンスのA15 Bionicチップ</li>
            <li>最大28時間のビデオ再生、iPhone史上最長のバッテリー駆動時間 <span>2</span></li>
            <li>Ceramic Shieldによる頑丈なデザイン</li>
            <li>業界をリードするIP68の耐水性能 <span>4</span></li>
            <li>超高速ダウンロードと高品質なストリーミングができる5G <span>1</span></li>
            <li>iPhoneをもっと楽しく、便利にする新機能がいっぱいのiOS 15 <span>5</span></li>
            <li>装着が簡単で、よりすばやくワイヤレス充電ができるMagSafeアクセサリに対応 <span>6</span></li>
          </ul>
          <div class="c-Txt_Cap u-Adjust_Mt-32">
            <p>1 データプランが必要です。5Gは特定の国の特定の通信事業者で利用できます。速度は使用する場所の条件と通信事業者によって変わります。5G対応の詳細については通信事業者にお問い合わせください。<a href="https://www.apple.com/jp/iphone/cellular/" target="_blank" rel="noopener noreferrer">apple.com/jp/iphone/cellular</a>もあわせてご覧ください。</p>
            <p>2 バッテリー駆動時間は使用条件と構成によって異なります。詳しくは<a href="https://www.apple.com/jp/batteries/" target="_blank" rel="noopener noreferrer">apple.com/jp/batteries</a>をご覧ください。</p>
            <p>3 ディスプレイは美しい曲線を描くように四隅に丸みを持たせてデザインされており、標準的な長方形に収まります。標準的な長方形として対角線の長さを測った場合のスクリーンのサイズは6.68インチです。実際の表示領域はこれより小さくなります。</p>
            <p>4 iPhone 13 Pro Maxは防沫性能と防塵性能を備えており、実験室の管理された条件下でのテストにより、IEC規格60529にもとづくIP68等級に適合しています。防沫性能と防塵性能は永続的に維持されるものではなく、通常の使用によって耐性が低下する可能性があります。iPhoneが濡れている場合は充電しないでください。クリーニングと乾燥の方法についてはユーザガイドをご覧ください。液体による損傷は保証の対象になりません。</p>
            <p>5 国や地域によっては一部の機能を利用できない場合があります。</p>
            <p>6 アクセサリは別売りです。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
