<%_
  const commonNamespace = "product-iphone-13-pro-common"
  const diamond = "<sup>&#9674;</sup>"
_%>
<!-- tab 使用時 -->
<!-- <div class="c-Tab_Panel <%= commonNamespace %>-Spec_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="製品詳細・スペック"> -->
<div>
  <div class="u-Adjust_Mt-40">
    <section class="<%= commonNamespace %>-Spec_Section-01">
      <%# スクロール計測 %>
      <div class="u-Rat_Appear-height" data-ratid="<%= currentDir %>_scroll-08_product-detail" data-ratevent="appear">&nbsp;</div>
      <h2>
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/iphone/iphone-13-pro/logo.svg" width="156" height="19">
          <img src="<%= sitepath %>assets/img/product/iphone/iphone-13-pro/logo.svg" width="244" height="30" alt="iPhone 13 Pro">
        </picture>
      </h2>
      <h3 class="<%= commonNamespace %>-Spec_Section-01-heading"> すべてがプロ。</h3>
      <p class="<%= commonNamespace %>-Spec_Section-01-lead">ProMotionを採用した<br class="<%= namespace %>-Utility_Br-sp">Super Retina XDRディスプレイ。<br>なめらかで反応の良い使い心地。<br class="<%= namespace %>-Utility_Br-sp">とてつもなくパワフルに進化した<br class="<%= namespace %>-Utility_Br-sp">カメラシステム。<br class="<%= namespace %>-Utility_Br-pc">ドラマチックな新しい<br class="<%= namespace %>-Utility_Br-sp">撮影方法。比類のない耐久性。<br class="<%= namespace %>-Utility_Br-sp">超高速のA15 Bionicチップ。<br class="<%= namespace %>-Utility_Br-pc">そして、<br class="<%= namespace %>-Utility_Br-sp">飛躍的に向上したバッテリー駆動時間。<br class="<%= namespace %>-Utility_Br-sp">さあ、Proの世界へ。</p>
      <!-- <div class="<%= commonNamespace %>-Spec_Section-01-btn">
        <a href="https://portal.mobile.rakuten.co.jp/equipment-details?id=<%= bssId %>&l-id=<%= currentDir %>_top_bss-<%= currentDir %>" class="c-Btn_Regular">購入する</a>
      </div> -->
      <div class="<%= commonNamespace %>-Spec_Section-01-img">
        <picture>
          <img src="<%= sitepath %>assets/img/product/iphone/iphone-13-pro/feature-01-pc.png?220429" width="1841" height="347" alt="">
        </picture>
      </div>
    </section>
    <section class="<%= commonNamespace %>-Spec_Section-02">
      <div class="<%= commonNamespace %>-Spec_Section-02-grid">
        <div class="<%= commonNamespace %>-Spec_Section-02-grid-item">
          <h3 class="<%= commonNamespace %>-Spec_Section-02-heading">
            <small>デザイン</small>
            耐久性を美しく<br>
            設計しました。
          </h3>
        </div>
        <div class="<%= commonNamespace %>-Spec_Section-02-grid-item">
          <p class="<%= commonNamespace %>-Spec_Section-02-lead">耐久性と美しさを兼ね備えた<br class="<%= namespace %>-Utility_Br-sp">デザインです。<br class="<%= namespace %>-Utility_Br-pc">医療に使われる<br class="<%= namespace %>-Utility_Br-sp">レベルのステンレススチールと<br>Ceramic Shieldで設計。業界を<br class="<%= namespace %>-Utility_Br-sp">リードする<br class="<%= namespace %>-Utility_Br-pc">IP68の耐水性能も<br class="<%= namespace %>-Utility_Br-sp">持っています<%- diamond %>。</p>
        </div>
      </div>
      <ul class="<%= commonNamespace %>-Spec_Section-02-img">
        <li>
          <figure>
            <img src="<%= sitepath %>assets/img/product/iphone/iphone-13-pro/feature-02-01.png" width="481" height="486" alt="医療に使われるレベルのステンレススチール">
          </figure>
        </li>
        <li>
          <figure>
            <img src="<%= sitepath %>assets/img/product/iphone/iphone-13-pro/feature-02-02.png" width="481" height="486" alt="Ceramic Shieldによる頑丈なデザイン">
          </figure>
        </li>
      </ul>
    </section>
    <section class="<%= commonNamespace %>-Spec_Section-03">
      <div class="<%= commonNamespace %>-Spec_Section-03-grid">
        <div class="<%= commonNamespace %>-Spec_Section-03-grid-item">
          <h3 class="<%= commonNamespace %>-Spec_Section-03-heading">
            <small>Proのカメラシステム</small>
            大きく進化した<br>
            カメラ。写真の<br>
            可能性も大きく。
          </h3>
          <p class="<%= commonNamespace %>-Spec_Section-03-lead">劇的に進化したハードウェアと、圧倒的に賢いソフトウェアが一つに。超広角カメラにはマクロ写真撮影が、望遠カメラには3倍の光学ズームが登場。しかも、すべてのカメラでナイトモードが使えます。</p>
        </div>
        <div class="<%= commonNamespace %>-Spec_Section-03-grid-item">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/iphone/iphone-13-pro/feature-03-01-sp.png">
            <img src="<%= sitepath %>assets/img/product/iphone/iphone-13-pro/feature-03-01-pc.png" width="516" height="552" alt="最大２.2倍の光をとらえる&#9674;。写真とビデオ一段と魅力的に マクロ写真撮影。この上なく小さなディテールを壮大に">
          </picture>
        </div>
      </div>
      <div class="<%= commonNamespace %>-Spec_Section-03-grid-reverse">
        <div class="<%= commonNamespace %>-Spec_Section-03-grid-item">
          <h3 class="<%= commonNamespace %>-Spec_Section-03-heading">
            <small>シネマティックモード</small>
            フォーカスが<br>
            切り替わる。<br>
            ドラマが生まれる。
          </h3>
          <p class="<%= commonNamespace %>-Spec_Section-03-lead">浅い被写界深度で撮影し、被写体と被写体の間でエレガントにフォーカスを切り替えます。すべてが自動です。一段とクリエイティブな方法で、あなたが撮りたい物語を生み出せます。</p>
          <div class="<%= commonNamespace %>-Spec_Section-03-cap">
            <div class="<%= commonNamespace %>-Spec_Section-03-cap-storage">
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13-pro/icon-storage.svg" alt="1TB" width="67" height="50">
            </div>
            <p><span class="c-Txt_Emp-01">1TB</span>のストレージ。<br class="<%= namespace %>-Utility_Br-sp">すべての写真とビデオを保存する<br class="<%= namespace %>-Utility_Br-sp">ための大きなスペース<%- diamond %></p>
          </div>
        </div>
        <div class="<%= commonNamespace %>-Spec_Section-03-grid-item">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/iphone/iphone-13-pro/feature-03-02-sp.png">
            <img src="<%= sitepath %>assets/img/product/iphone/iphone-13-pro/feature-03-02-pc.png" width="1040" height="707" alt="">
          </picture>
        </div>
      </div>
    </section>
    <section class="<%= commonNamespace %>-Spec_Section-04-1">
      <div class="<%= commonNamespace %>-Spec_Section-04-1-grid">
        <h3 class="<%= commonNamespace %>-Spec_Section-04-1-grid-heading">
          <small>ディスプレイ</small>
          Proに登場、ProMotion。
        </h3>
        <div class="<%= commonNamespace %>-Spec_Section-04-1-grid-lead">
          <p class="<%= commonNamespace %>-Spec_Section-04-1-lead">ProMotionを採用した<br class="<%= namespace %>-Utility_Br-sp">Super Retina<br class="<%= namespace %>-Utility_Br-pc">XDRディスプレイ。<br class="<%= namespace %>-Utility_Br-sp">最大120Hzの<br class="<%= namespace %>-Utility_Br-pc">アダプティブ<br class="<%= namespace %>-Utility_Br-sp">リフレッシュレートを持ち、<br class="<%= namespace %>-Utility_Br-pc">並外れた<br class="<%= namespace %>-Utility_Br-sp">グラフィックパフォーマンスを<br class="<%= namespace %>-Utility_Br-pc">発揮<br class="<%= namespace %>-Utility_Br-sp">します。未体験の使い心地です。</p>
        </div>
        <div class="<%= commonNamespace %>-Spec_Section-04-1-grid-img">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/iphone/iphone-13-pro/feature-04-01-sp.png">
            <img src="<%= sitepath %>assets/img/product/iphone/iphone-13-pro/feature-04-01-pc.png" width="972" height="414" alt="">
          </picture>
        </div>
      </div>
    </section>
    <section class="<%= commonNamespace %>-Spec_Section-04-2">
      <div class="<%= commonNamespace %>-Spec_Section-04-2-grid">
        <h3 class="<%= commonNamespace %>-Spec_Section-04-2-grid-heading">
          <small>チップとバッテリー</small>
          パワーも<br>
          パフォーマンスもプロ。
        </h3>
        <div class="<%= commonNamespace %>-Spec_Section-04-2-grid-lead">
          <p class="<%= commonNamespace %>-Spec_Section-04-2-lead">Proだけで体験できる速さ。<br class="<%= namespace %>-Utility_Br-sp">プロレベルのタスクを<br class="<%= namespace %>-Utility_Br-pc">
            次々とこなせる<br class="<%= namespace %>-Utility_Br-sp">チップの性能。1日中使えるように<br>
            パワーアップしたバッテリー<%- diamond %>。<br class="<%= namespace %>-Utility_Br-sp">そのすべてを、<br class="<%= namespace %>-Utility_Br-pc">
            あなたの手に。</p>
        </div>
        <div class="<%= commonNamespace %>-Spec_Section-04-2-grid-img">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/iphone/iphone-13-pro/feature-04-02-sp.png">
            <img src="<%= sitepath %>assets/img/product/iphone/iphone-13-pro/feature-04-02-pc.png" width="491" height="471" alt="まったく新しい5コアGPU すべてをスピードアップさせ、ProMotionを採用した先進的なディスプレイを動かします 最大28時間のビデオ再生<%- diamond %> 超高速の Neural Engine シネマティックモードやスマートHDR 4など、最新の機能をパワフルに動かします">
          </picture>
        </div>
      </div>
    </section>
    <section class="<%= commonNamespace %>-Spec_Section-05">
      <div class="<%= commonNamespace %>-Spec_Section-05-grid-reverse">
        <div class="<%= commonNamespace %>-Spec_Section-05-grid-item">
          <h3 class="<%= commonNamespace %>-Spec_Section-05-heading">
            <small>5G</small>
            iPhoneなら、<br>
            5Gはこんなにすごい。
          </h3>
          <p class="<%= commonNamespace %>-Spec_Section-05-lead">すべてが一段と高速になる5G<%- diamond %>。みんなで<br class="<%= namespace %>-Utility_Br-pc">ゲームをプレイしたり、様々なことを楽しめる<br class="<%= namespace %>-Utility_Br-pc">ようにします。速さが必要ない時は、スマート<br class="<%= namespace %>-Utility_Br-pc">データモードが自動的にバッテリーを<br class="<%= namespace %>-Utility_Br-pc">節約します。</p>
        </div>
        <div class="<%= commonNamespace %>-Spec_Section-05-grid-item">
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/iphone/iphone-13-pro/feature-05-sp.png">
            <img src="<%= sitepath %>assets/img/product/iphone/iphone-13-pro/feature-05-pc.png" width="486" height="659" alt="">
          </picture>
        </div>
      </div>
    </section>
    <div class="<%= namespace %>-Utility_Bg-gray-light">
      <section class="<%= commonNamespace %>-Spec_Section-06">
        <h3 class="<%= commonNamespace %>-Spec_Section-06-heading">
          <small>iPhoneが好きになる理由</small>
          ほかのスマートフォンとはまったく違います。
        </h3>
        <ul class="<%= commonNamespace %>-Spec_Section-06-list">
          <li>
            <dl>
              <dt>
                <span><img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-1.svg" alt="" width="35" height="37"></span>
                <span>賢さがある性能</span>
              </dt>
              <dd>
                Appleが設計したチップが、<br>
                あらゆることを速く、賢くできるようにします。電力効率も<br>
                優れています。
              </dd>
            </dl>
          </li>
          <li>
            <dl>
              <dt>
                <span><img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-2.svg" alt="" width="29" height="37"></span>
                <span>プライバシーを守る</span>
              </dt>
              <dd>
                iPhoneのあらゆる部分が、<br>
                あなたの個人情報を守る<br>
                ように作られています。
              </dd>
            </dl>
          </li>
          <li>
            <dl>
              <dt>
                <span><img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-3.svg" alt="" width="40" height="37"></span>
                <span>高い耐久性と下取り価値</span>
              </dt>
              <dd>
                iPhoneはほかのスマートフォン<br>
                よりも長く使えて、価値が長く<br>
                続くように設計されています。
              </dd>
            </dl>
          </li>
          <li>
            <dl>
              <dt>
                <span><img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-4.svg" alt="" width="33" height="35"></span>
                <span>持続可能性</span>
              </dt>
              <dd>
                環境に配慮して作られた<br>
                デバイスです。再生素材が<br>
                使われています。
              </dd>
            </dl>
          </li>
        </ul>
      </section>

      <section class="<%= commonNamespace %>-Spec_Section-07">
        <%# スクロール計測 %>
        <div class="u-Rat_Appear-height" data-ratid="<%= currentDir %>_scroll-09_comparison" data-ratevent="appear">&nbsp;</div>
        <h3 class="<%= commonNamespace %>-Spec_Section-07-heading">
          <small>比較する</small>
          あなたにぴったりのiPhoneは？
        </h3>
        <ul class="<%= commonNamespace %>-Spec_Section-07-list">
          <li>
            <dl>
              <dt><img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-iphone-13-pro-max.svg" alt="iPhone 13 Pro Max" width="144" height="14"></dt>
              <dd>
                <div class="<%= commonNamespace %>-Spec_Section-07-img">
                  <div class="<%= commonNamespace %>-Spec_Section-07-img-figure">
                    <figure>
                      <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/img-iphone13promax-thumb.png" alt="" width="159" height="210">
                    </figure>
                  </div>
                  <ul class="<%= commonNamespace %>-Spec_Section-07-img-colors-5">
                    <li style="background: #576856;"></li>
                    <li style="background: #F1F2ED;"></li>
                    <li style="background: #FAE7CF;"></li>
                    <li style="background: #54524F;"></li>
                    <li style="background: #A7C1D9;"></li>
                  </ul>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-size">
                  <p class="<%= commonNamespace %>-Spec_Section-07-size-emp">
                    <span>6.7</span>インチ
                  </p>
                  <p>ProMotion搭載<br>Super Retina XDR<br class="<%= namespace %>-Utility_Br-sp">ディスプレイ<%- diamond %></p>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-5g">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-5.svg" alt="" width="48" height="36">
                  </figure>
                  <p class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                    超高速の5G携帯電話通信<%- diamond %>
                  </p>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-camera">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-7.svg" alt="" width="37" height="40">
                  </figure>
                  <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                    <li>望遠</li>
                    <li>広角</li>
                    <li>超広角</li>
                    <li>
                      シネマティックモード<br>
                      (1080p,30fps)
                    </li>
                    <li>
                      ドルビービジョン対応<br>
                      HDRビデオ撮影<br>
                      (最大4K,60fps)
                    </li>
                  </ul>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-chip">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-8.svg" alt="" width="40" height="40">
                  </figure>
                  <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                    <li>A15 Bionicチップ</li>
                    <li>
                      2つの高性能コアと<br>
                      4つの高効率コアを<br class="<%= namespace %>-Utility_Br-sp">搭載した<br class="<%= namespace %>-Utility_Br-pc">
                      6コアCPU
                    </li>
                    <li>5コアGPU</li>
                    <li>16コアNeural Engine</li>
                  </ul>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-battery">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-9.svg" alt="" width="51" height="24">
                  </figure>
                  <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                    <li>最大28時間のビデオ再生<%- diamond %></li>
                  </ul>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-body">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-10.svg" alt="" width="39" height="45">
                  </figure>
                  <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                    <li>Ceramic Shieldの前面</li>
                    <li>医療に使われるレベルの<br>ステンレススチール</li>
                  </ul>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-id">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-faceid.png" alt="" width="36" height="35">
                  </figure>
                  <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                    <li>Face ID</li>
                  </ul>
                </div>
              </dd>
            </dl>
          </li>

          <li>
            <dl>
              <dt><img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-iphone-13-pro.svg" alt="iPhone 13 Pro" width="106" height="14"></dt>
              <dd>
                <div class="<%= commonNamespace %>-Spec_Section-07-img">
                  <div class="<%= commonNamespace %>-Spec_Section-07-img-figure">
                    <figure>
                      <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/img-iphone13pro-thumb.png" alt="" width="151" height="193">
                    </figure>
                  </div>
                  <ul class="<%= commonNamespace %>-Spec_Section-07-img-colors-5">
                    <li style="background: #576856;"></li>
                    <li style="background: #F1F2ED;"></li>
                    <li style="background: #FAE7CF;"></li>
                    <li style="background: #54524F;"></li>
                    <li style="background: #A7C1D9;"></li>
                  </ul>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-size">
                  <p class="<%= commonNamespace %>-Spec_Section-07-size-emp">
                    <span>6.1</span>インチ
                  </p>
                  <p>ProMotion搭載<br>Super Retina XDR<br class="<%= namespace %>-Utility_Br-sp">ディスプレイ<%- diamond %></p>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-5g">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-5.svg" alt="" width="48" height="36">
                  </figure>
                  <p class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                    超高速の5G携帯電話通信<%- diamond %>
                  </p>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-camera">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-7.svg" alt="" width="37" height="40">
                  </figure>
                  <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                    <li>望遠</li>
                    <li>広角</li>
                    <li>超広角</li>
                    <li>
                      シネマティックモード<br>
                      (1080p,30fps)
                    </li>
                    <li>
                      ドルビービジョン対応<br>
                      HDRビデオ撮影<br>
                      (最大4K,60fps)
                    </li>
                  </ul>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-chip">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-8.svg" alt="" width="40" height="40">
                  </figure>
                  <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                    <li>A15 Bionicチップ</li>
                    <li>
                      2つの高性能コアと<br>
                      4つの高効率コアを<br class="<%= namespace %>-Utility_Br-sp">搭載した<br class="<%= namespace %>-Utility_Br-pc">
                      6コアCPU
                    </li>
                    <li>5コアGPU</li>
                    <li>16コアNeural Engine</li>
                  </ul>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-battery">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-9.svg" alt="" width="51" height="24">
                  </figure>
                  <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                    <li>最大22時間のビデオ再生<%- diamond %></li>
                  </ul>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-body">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-10.svg" alt="" width="39" height="45">
                  </figure>
                  <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                    <li>Ceramic Shieldの前面</li>
                    <li>医療に使われるレベルの<br>ステンレススチール</li>
                  </ul>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-id">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-faceid.png" alt="" width="36" height="35">
                  </figure>
                  <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                    <li>Face ID</li>
                  </ul>
                </div>
              </dd>
            </dl>
          </li>

          <li>
            <dl>
              <dt><img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-iphone-13.svg" alt="iPhone 13" width="90" height="15"></dt>
              <dd>
                <div class="<%= commonNamespace %>-Spec_Section-07-img">
                  <div class="<%= commonNamespace %>-Spec_Section-07-img-figure">
                    <figure>
                      <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/img-iphone13-thumb.png" alt="" width="138" height="189">
                    </figure>
                  </div>
                  <ul class="<%= commonNamespace %>-Spec_Section-07-img-colors-4">
                    <li style="background: #394C38;"></li>
                    <li style="background: #FADDD7;"></li>
                    <li style="background: #276787;"></li>
                    <li style="background: #232A31;"></li>
                    <li style="background: #FAF6F2;"></li>
                    <li style="background: #BF0013;"></li>
                  </ul>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-size">
                  <p class="<%= commonNamespace %>-Spec_Section-07-size-emp">
                    <span>6.1</span>インチ
                  </p>
                  <p>Super Retina XDR<br>ディスプレイ<%- diamond %></p>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-5g">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-5.svg" alt="" width="48" height="36">
                  </figure>
                  <p class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                    超高速の5G携帯電話通信<%- diamond %>
                  </p>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-camera">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-6.svg" alt="" width="37" height="40">
                  </figure>
                  <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                    <li class="<%= commonNamespace %>-Spec_Section-07-empty"></li>
                    <li>広角</li>
                    <li>超広角</li>
                    <li>
                      シネマティックモード<br>
                      (1080p,30fps)
                    </li>
                    <li>
                      ドルビービジョン対応<br>
                      HDRビデオ撮影<br>
                      (最大4K,60fps)
                    </li>
                  </ul>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-chip">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-8.svg" alt="" width="40" height="40">
                  </figure>
                  <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                    <li>A15 Bionicチップ</li>
                    <li>
                      2つの高性能コアと<br>
                      4つの高効率コアを<br class="<%= namespace %>-Utility_Br-sp">搭載した<br class="<%= namespace %>-Utility_Br-pc">
                      6コアCPU
                    </li>
                    <li>4コアGPU</li>
                    <li>16コアNeural Engine</li>
                  </ul>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-battery">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-9.svg" alt="" width="51" height="24">
                  </figure>
                  <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                    <li>最大19時間のビデオ再生<%- diamond %></li>
                  </ul>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-body">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-10.svg" alt="" width="39" height="45">
                  </figure>
                  <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                    <li>Ceramic Shieldの前面</li>
                    <li>航空宇宙産業レベルの<br>アルミニウム</li>
                  </ul>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-id">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-faceid.png" alt="" width="36" height="35">
                  </figure>
                  <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                    <li>Face ID</li>
                  </ul>
                </div>
              </dd>
            </dl>
          </li>

          <li>
            <dl>
              <dt><img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-iphone-13-mini.svg" alt="iPhone 13 mini" width="113" height="14"></dt>
              <dd>
                <div class="<%= commonNamespace %>-Spec_Section-07-img">
                  <div class="<%= commonNamespace %>-Spec_Section-07-img-figure">
                    <figure>
                      <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/img-iphone13mini-thumb.png" alt="" width="126" height="169">
                    </figure>
                  </div>
                  <ul class="<%= commonNamespace %>-Spec_Section-07-img-colors-4">
                    <li style="background: #394C38;"></li>
                    <li style="background: #FADDD7;"></li>
                    <li style="background: #276787;"></li>
                    <li style="background: #232A31;"></li>
                    <li style="background: #FAF6F2;"></li>
                    <li style="background: #BF0013;"></li>
                  </ul>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-size">
                  <p class="<%= commonNamespace %>-Spec_Section-07-size-emp">
                    <span>5.4</span>インチ
                  </p>
                  <p>Super Retina XDR<br>ディスプレイ<%- diamond %></p>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-5g">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-5.svg" alt="" width="48" height="36">
                  </figure>
                  <p class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                    超高速の5G携帯電話通信<%- diamond %>
                  </p>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-camera">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-6.svg" alt="" width="37" height="40">
                  </figure>
                  <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                    <li class="<%= commonNamespace %>-Spec_Section-07-empty"></li>
                    <li>広角</li>
                    <li>超広角</li>
                    <li>
                      シネマティックモード<br>
                      (1080p,30fps)
                    </li>
                    <li>
                      ドルビービジョン対応<br>
                      HDRビデオ撮影<br>
                      (最大4K,60fps)
                    </li>
                  </ul>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-chip">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-8.svg" alt="" width="40" height="40">
                  </figure>
                  <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                    <li>A15 Bionicチップ</li>
                    <li>
                      2つの高性能コアと<br>
                      4つの高効率コアを<br class="<%= namespace %>-Utility_Br-sp">搭載した<br class="<%= namespace %>-Utility_Br-pc">
                      6コアCPU
                    </li>
                    <li>4コアGPU</li>
                    <li>16コアNeural Engine</li>
                  </ul>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-battery">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-9.svg" alt="" width="51" height="24">
                  </figure>
                  <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                    <li>最大17時間のビデオ再生<%- diamond %></li>
                  </ul>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-body">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-10.svg" alt="" width="39" height="45">
                  </figure>
                  <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                    <li>Ceramic Shieldの前面</li>
                    <li>航空宇宙産業レベルの<br>アルミニウム</li>
                  </ul>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-id">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-faceid.png" alt="" width="36" height="35">
                  </figure>
                  <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                    <li>Face ID</li>
                  </ul>
                </div>
              </dd>
            </dl>
          </li>

          <li>
            <dl>
              <dt><img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-iphonese.svg" alt="iphone se" width="77" height="16"></dt>
              <dd>
                <div class="<%= commonNamespace %>-Spec_Section-07-img">
                  <div class="<%= commonNamespace %>-Spec_Section-07-img-figure">
                    <figure>
                      <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/img-iphone13se-thumb.png" alt="" width="121" height="179">
                    </figure>
                  </div>
                  <ul class="<%= commonNamespace %>-Spec_Section-07-img-colors-5">
                    <li style="background: #232A31;"></li>
                    <li style="background: #FAF6F2;"></li>
                    <li style="background: #BF0013;"></li>
                  </ul>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-size">
                  <p class="<%= commonNamespace %>-Spec_Section-07-size-emp">
                    <span>4.7</span>インチ
                  </p>
                  <p>Retina HDディスプレイ</p>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-5g">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-5.svg" alt="" width="48" height="36">
                  </figure>
                  <p class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                    5G携帯電話通信<%- diamond %>
                  </p>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-camera">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-camera-03.png" alt="" width="37" height="40">
                  </figure>
                  <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                    <li class="<%= commonNamespace %>-Spec_Section-07-empty"></li>
                    <li>広角</li>
                    <li class="<%= commonNamespace %>-Spec_Section-07-empty"></li>
                    <li class="<%= commonNamespace %>-Spec_Section-07-empty-s"></li>
                    <li class="<%= commonNamespace %>-Spec_Section-07-empty-m"></li>
                  </ul>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-chip">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-8.svg" alt="" width="40" height="40">
                  </figure>
                  <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                    <li>A15 Bionicチップ</li>
                    <li>
                      2つの高性能コアと<br>
                      4つの高効率コアを<br class="<%= namespace %>-Utility_Br-sp">搭載した<br class="<%= namespace %>-Utility_Br-pc">
                      6コアCPU
                    </li>
                    <li>4コアGPU</li>
                    <li>16コアNeural Engine</li>
                  </ul>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-battery">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-9.svg" alt="" width="51" height="24">
                  </figure>
                  <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                    <li>最大15時間のビデオ再生<%- diamond %></li>
                  </ul>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-body">
                  <div class="<%= commonNamespace %>-Spec_Section-07-empty-icon"></div>
                  <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                    <li>ガラスの前面と背面</li>
                    <li>航空宇宙産業レベルの<br>アルミニウム</li>
                  </ul>
                </div>
                <div class="<%= commonNamespace %>-Spec_Section-07-id">
                  <figure>
                    <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-touchid.png" alt="" width="36" height="35">
                  </figure>
                  <ul class="<%= commonNamespace %>-Spec_Section-07-icon-gap">
                    <li>Touch ID</li>
                  </ul>
                </div>
              </dd>
            </dl>
          </li>
        </ul>
      </section>

      <section class="<%= commonNamespace %>-Spec_Section-08">
        <div class="<%= commonNamespace %>-Spec_Section-08-grid">
          <div class="<%= commonNamespace %>-Spec_Section-08-grid-item">
            <h3 class="<%= commonNamespace %>-Spec_Section-08-heading">
              <small>MagSafeアクセサリ</small>
              ケースも、カード入れも、<br>
              その両方も。<br>
              磁力でピタッと装着。
            </h3>
            <p class="<%= commonNamespace %>-Spec_Section-08-lead">装着が簡単で、よりすばやくワイヤレス充電ができるアクセサリの<br class="<%= namespace %>-Utility_Br-pc">新しいエコシステム。組み合わせは数えきれないほど。<br class="<%= namespace %>-Utility_Br-pc">だからコーディネートが思いのままです<%- diamond %>。</p>
            <p class="u-Adjust_Mt-24">
              <a href="<%= sitepath %>product/accessory/apple/?l-id=product_<%= currentDir %>_accessory_apple" class="c-Link_Txt-inline <%= commonNamespace %>-Spec_Section-link">MagSafeアクセサリについて<br class="<%= namespace %>-Utility_Br-sp">さらに詳しく<span class="c-Icon_Chevron-right"></span></a>
            </p>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-08-grid-item">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13-pro/feature-08.png" width="485" height="359" alt="">
            </figure>
          </div>
        </div>
      </section>
      <section class="<%= commonNamespace %>-Spec_Section-09">
        <div class="<%= commonNamespace %>-Spec_Section-09-grid">
          <div class="<%= commonNamespace %>-Spec_Section-09-grid-item">
            <h3 class="<%= commonNamespace %>-Spec_Section-09-heading">
              <small><img src="<%= sitepath %>assets/img/product/iphone/iphone-13/airtag.png" width="78" height="20" alt="AirTag"></small>
              探し物を見つける<br>
              最も簡単な方法。
            </h3>
            <p class="<%= commonNamespace %>-Spec_Section-09-lead">大切な物にはAirTagを取りつけて、すぐに見つかるようにして<br class="<%= namespace %>-Utility_Br-pc">おきましょう。「探す」アプリで簡単に場所がわかります<%- diamond %>。</p>
            <p class="u-Adjust_Mt-24">
              <a href="<%= sitepath %>product/accessory/apple-rm2104016/?l-id=product_<%= currentDir %>_accessory_apple-rm2104016" class="c-Link_Txt-inline <%= commonNamespace %>-Spec_Section-link">購入する<span class="c-Icon_Chevron-right"></span></a>
            </p>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-09-grid-item">
            <picture>
              <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/iphone/iphone-13/airtag-sp.png">
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/airtag-pc.png" width="450" height="397" alt="">
            </picture>
          </div>
        </div>
      </section>
      <section class="<%= commonNamespace %>-Spec_Section-10">
        <div class="<%= commonNamespace %>-Spec_Section-10-grid">
          <div class="<%= commonNamespace %>-Spec_Section-10-grid-item">
            <h3 class="<%= commonNamespace %>-Spec_Section-10-heading">
              <small>AppleCare+</small>
              スペシャリストによる<br>
              サポートを延長できます。
            </h3>
            <ul class="<%= commonNamespace %>-Spec_Section-10-lead-list">
              <li><span class="c-Icon_Check <%= commonNamespace %>-Spec_Section-10-lead-list-icon"></span>Apple認定技術者によるサービス</li>
              <li><span class="c-Icon_Check <%= commonNamespace %>-Spec_Section-10-lead-list-icon"></span>サポートへの優先アクセス</li>
              <li><span class="c-Icon_Check <%= commonNamespace %>-Spec_Section-10-lead-list-icon"></span>修理と交換に対応</li>
            </ul>
            <p class="u-Adjust_Mt-24">
              <a href="<%= sitepath %>service/iphone/applecare/?l-id=product_<%= currentDir %>_service_iphone_applecare" class="c-Link_Txt-inline <%= commonNamespace %>-Spec_Section-link">AppleCare+ for iPhoneについて<br class="<%= namespace %>-Utility_Br-sp">さらに詳しく<span class="c-Icon_Chevron-right"></span></a>
            </p>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-10-grid-item">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13-pro/applecare.png" width="251" height="303" alt="">
            </figure>
          </div>
        </div>
      </section>
    </div>
    <%_ const deviceName = currentDir.replace('iphone-', '') _%>
    <%- include(`./_${deviceName}-other`, { commonNamespace, diamond, productName }) %>
  </div>
</div>
