<section class="<%= namespace %>-Section_01 l-System_Container">
  <%# スクロール計測 %>
  <div class="u-Rat_Appear-height" data-ratid="<%= directory %>_scroll-08_product-detail" data-ratevent="appear">&nbsp;</div>
  <div class="<%= namespace %>-Section_01-txt">
    <h2>
      <picture>
        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/iphone/<%= currentDir %>/img-spec-logo-sp.svg" width="107">
        <img src="<%= sitepath %>assets/img/product/iphone/<%= currentDir %>/img-spec-logo-pc.svg" width="175" alt="iPhone SE">
      </picture>
    </h2>
    <h3>手にしたくなるパワーを、<br>手にしやすく。</h3>
    <p class="<%= namespace %>-Section_01-lead">
      圧倒的にパワフルなチップ。<br class="<%= namespace %>-Utility_Disp-sp">進化したバッテリー。<br>
      5Gのスピード<%- diamond %> 。スター級のカメラ。<br class="<%= namespace %>-Utility_Disp-sp">そのすべてを、4.7インチの<br>
      ポケットサイズに。しかも、ずっと<br class="<%= namespace %>-Utility_Disp-sp">使えるデザインで。
    </p>
  </div>
</section>

<div class="<%= namespace %>-Section_Container <%= namespace %>-Utility_Bg-gray-light l-System_Container">
  <section class="<%= namespace %>-Section_02">
    <div class="<%= namespace %>-Section_02-txt">
      <h3>
        <small>A15 Bionicとバッテリー</small>
        <span>大活躍のパフォーマンス。<wbr>大満足のバッテリー。</span>
      </h3>
      <p>
        圧倒的にパワフルなA15 Bionic<br class="<%= namespace %>-Utility_Disp-sp">チップが、アプリを瞬時に読み込み。<br class="<%= namespace %>-Utility_Disp-sp">さらに、進化したバッテリーやiOSと<br class="<%= namespace %>-Utility_Disp-sp">連係して、バッテリー駆動時間も<br class="<%= namespace %>-Utility_Disp-sp">大幅に向上させます。
      </p>
    </div>
    <ul class="<%= namespace %>-Section_02-list">
      <li class="<%= namespace %>-Section_Card">
        <figure class="<%= namespace %>-Section_02-list-icon">
          <img src="<%= sitepath %>assets/img/product/iphone/<%= currentDir %>/img-spec-02-02-pc.png" width="85" height="85" alt="A15">
        </figure>
        <p>
          すべてを<br>
          スピードアップさせる<br>
          チップです。
        </p>
      </li>
      <li class="<%= namespace %>-Section_Card">
        <p>
          最大15時間のビデオ再生が<br>
          可能なバッテリー<%- diamond %>。
        </p>
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/iphone/<%= currentDir %>/img-spec-02-sp.png">
          <img src="<%= sitepath %>assets/img/product/iphone/<%= currentDir %>/img-spec-02-pc.png" width="558" alt="">
        </picture>
      </li>
    </ul>
  </section>

  <section class="<%= namespace %>-Section_03">
    <div class="<%= namespace %>-Section_03-txt">
      <h3>
        <small>携帯電話通信</small>
        <span>5Gが、ついにSEにも。</span>
      </h3>
      <p>
        HDでのFaceTime通話から、<br class="<%= namespace %>-Utility_Disp-sp">マルチプレイヤーゲームまで。<br class="<%= namespace %>-Utility_Disp-sp">5Gなら、外出先でもあらゆることが<br class="<%= namespace %>-Utility_Disp-sp">超高速でシームレスにできます。
      </p>
    </div>
    <ul class="<%= namespace %>-Section_03-txt-sub">
      <li>超高速ダウンロード。</li>
      <li>超高速ストリーミング。</li>
      <li>超高速オンラインゲーム。</li>
      <li>超安定した接続。</li>
      <li><strong>超いい感じ。</strong></li>
    </ul>
    <div class="<%= namespace %>-Section_03-img">
      <figure>
        <img src="<%= sitepath %>assets/img/product/iphone/<%= currentDir %>/img-spec-03-pc.png" width="487" alt="">
      </figure>
    </div>
  </section>

  <section class="<%= namespace %>-Section_04">
    <div class="<%= namespace %>-Section_04-txt">
      <h3>
        <small>耐久性</small>
        <span>アクシデントに強いです。</span>
      </h3>
      <p>
        耐落下性能が向上<%- diamond %>。擦り傷や引っかき傷からも守ります。コーヒー、紅茶、ジュースなどが<br class="<%= namespace %>-Utility_Disp-pc">
        こぼれても耐えられる防沫性能、ほこりに強い<br class="<%= namespace %>-Utility_Disp-pc">
        防塵能も備えています<%- diamond %>。
      </p>
    </div>
    <ul class="<%= namespace %>-Section_04-list">
      <li class="<%= namespace %>-Section_Card">
        <p>
          <strong>落としても、落ち着いて。</strong>
          耐久性の高いデザインと、<br class="<%= namespace %>-Utility_Disp-sp">前面も背面も圧倒的に<br>
          タフなガラス。だから、大丈夫。
        </p>
        <figure class="<%= namespace %>-Section_04-list-icon">
          <img src="<%= sitepath %>assets/img/product/iphone/<%= currentDir %>/img-spec-04-pc.png" width="496" alt="">
        </figure>
      </li>
      <li class="<%= namespace %>-Section_Card">
        <p>
          <strong>濡らしても、泣かないで。</strong>
          驚くほどの耐水性能。<br>
          だから、大丈夫。
        </p>
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/iphone/<%= currentDir %>/img-spec-04-02-sp.png">
          <img src="<%= sitepath %>assets/img/product/iphone/<%= currentDir %>/img-spec-04-02-pc.png" width="270" alt="">
        </picture>
      </li>
    </ul>
  </section>

  <section class="<%= namespace %>-Section_05">
    <div class="<%= namespace %>-Section_05-txt">
      <h3>
        <small>カメラ</small>
        <span>みんなと相性抜群の<wbr>カメラです。</span>
      </h3>
      <p>
        フォトグラフスタイルで「暖かい」や「冷たい」などのお気に入りの撮り方を設定すると、いつでも自動で再現。 撮った写真は、あざやかな4.7インチディスプレイで楽しめます。
      </p>
    </div>
    <p class="<%= namespace %>-Section_05-txt-sub">
      <strong>写真を自動で調整</strong>
      スマートHDR 4が、<br class="<%= namespace %>-Utility_Disp-sp">みんなを、風景を、<br>
      すべてを、主役みたいに<br class="<%= namespace %>-Utility_Disp-sp">引き立てます。
    </p>
    <div class="<%= namespace %>-Section_05-img">
      <picture>
        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/iphone/<%= currentDir %>/img-spec-05-sp.png">
        <img src="<%= sitepath %>assets/img/product/iphone/<%= currentDir %>/img-spec-05-pc.png" width="487" alt="">
      </picture>
    </div>
  </section>

  <section class="<%= namespace %>-Section_06">
    <div class="<%= namespace %>-Section_06-txt">
      <h3>
        <small>Touch ID</small>
        <span>ホームボタン。<br>不動の人気者です。</span>
      </h3>
      <p>
        ロックの解除も、アプリへのサインインも、<br class="<%= namespace %>-Utility_Disp-pc">
        支払いも、指を触れるだけ。Touch IDなら、<br class="<%= namespace %>-Utility_Disp-pc">
        すばやく、簡単で、安全です。
      </p>
    </div>
    <p class="<%= namespace %>-Section_06-txt-sub">
      <strong>Apple Pay</strong>
      オンラインでも店頭でも<br class="<%= namespace %>-Utility_Disp-sp">プラスチックの<br class="<%= namespace %>-Utility_Disp-pc">
      カードを<br class="<%= namespace %>-Utility_Disp-sp">使わずに買い物ができます。
    </p>
    <div class="<%= namespace %>-Section_06-img">
      <picture>
        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/product/iphone/<%= currentDir %>/img-spec-06-sp.png">
        <img src="<%= sitepath %>assets/img/product/iphone/<%= currentDir %>/img-spec-06-pc.png" width="487" alt="">
      </picture>
    </div>
  </section>

  <section class="<%= namespace %>-Section_07">
    <div class="<%= namespace %>-Section_07-txt">
      <h3>
        <small>プライバシーと環境</small>
        <span>スマートフォンに、<br>信頼という性能を。</span>
      </h3>
      <p>
        あなたのプライバシーを守るために。<br class="<%= namespace %>-Utility_Disp-sp">環境への負荷を減らすために。<br class="<%= namespace %>-Utility_Disp-sp">すべての新しいiPhoneに、最新の<br class="<%= namespace %>-Utility_Disp-sp">イノベーションが注がれています。
      </p>
    </div>
    <ul class="<%= namespace %>-Section_07-list">
      <li class="<%= namespace %>-Section_Card">
        <figure class="<%= namespace %>-Section_07-list-icon">
          <img src="<%= sitepath %>assets/img/product/iphone/<%= currentDir %>/img-spec-apple-white.png" width="42" alt="">
        </figure>
        <p>
          個人情報を共有するか、<br>
          それとも、しないか。<br>
          あなたが選べます。
        </p>
      </li>
      <li class="<%= namespace %>-Section_Card">
        <figure class="<%= namespace %>-Section_07-list-icon">
          <img src="<%= sitepath %>assets/img/product/iphone/<%= currentDir %>/img-spec-apple-black.png" width="40" alt="">
        </figure>
        <p>
          <span class="<%= namespace %>-Section_07-list-line">100</span>%再生素材の<br>
          使用に<span class="<%= namespace %>-Section_07-list-line">100</span>%<br>
          取り組みます。
        </p>
      </li>
    </ul>
  </section>
</div>

<section class="<%= commonNamespace %>-Spec_Section-comparison">
  <%# スクロール計測 %>
  <div class="u-Rat_Appear-height" data-ratid="<%= directory %>_scroll-09_comparison" data-ratevent="appear">&nbsp;</div>
  <h3 class="<%= commonNamespace %>-Spec_Section-comparison-heading">
    <small>比較する</small>
    あなたにぴったりのiPhoneは？
  </h3>
  <ul class="<%= commonNamespace %>-Spec_Section-comparison-list">
    <li>
      <dl>
        <dt><img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-iphone-13-pro-max.svg" alt="iPhone 13 Pro Max" width="144" height="14"></dt>
        <dd>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-img">
            <div class="<%= commonNamespace %>-Spec_Section-comparison-img-figure">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/img-iphone13promax-thumb.png" alt="" width="159" height="210">
              </figure>
            </div>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-img-colors-5">
              <li style="background: #576856;"></li>
              <li style="background: #F1F2ED;"></li>
              <li style="background: #FAE7CF;"></li>
              <li style="background: #54524F;"></li>
              <li style="background: #A7C1D9;"></li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-size">
            <p class="<%= commonNamespace %>-Spec_Section-comparison-size-emp">
              <span>6.7</span>インチ
            </p>
            <p>ProMotion搭載<br>Super Retina XDR<br class="<%= namespace %>-Utility_Br-sp">ディスプレイ<%- diamond %></p>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-5g">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-5.svg" alt="" width="48" height="36">
            </figure>
            <p class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              超高速の5G携帯電話通信<%- diamond %>
            </p>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-camera">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-7.svg" alt="" width="37" height="40">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>望遠</li>
              <li>広角</li>
              <li>超広角</li>
              <li>
                シネマティックモード<br>
                (1080p,30fps)
              </li>
              <li>
                ドルビービジョン対応<br>
                HDRビデオ撮影<br>
                (最大4K,60fps)
              </li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-chip">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-8.svg" alt="" width="40" height="40">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>A15 Bionicチップ</li>
              <li>
                2つの高性能コアと<br>
                4つの高効率コアを<br class="<%= namespace %>-Utility_Br-sp">搭載した<br class="<%= namespace %>-Utility_Br-pc">
                6コアCPU
              </li>
              <li>5コアGPU</li>
              <li>16コアNeural Engine</li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-battery">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-9.svg" alt="" width="51" height="24">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>最大28時間のビデオ再生<%- diamond %></li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-body">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-10.svg" alt="" width="39" height="45">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>Ceramic Shieldの前面</li>
              <li>医療に使われるレベルの<br>ステンレススチール</li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-id">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-faceid.png" alt="" width="36" height="35">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>Face ID</li>
            </ul>
          </div>
        </dd>
      </dl>
    </li>

    <li>
      <dl>
        <dt><img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-iphone-13-pro.svg" alt="iPhone 13 Pro" width="106" height="14"></dt>
        <dd>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-img">
            <div class="<%= commonNamespace %>-Spec_Section-comparison-img-figure">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/img-iphone13pro-thumb.png" alt="" width="151" height="193">
              </figure>
            </div>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-img-colors-5">
              <li style="background: #576856;"></li>
              <li style="background: #F1F2ED;"></li>
              <li style="background: #FAE7CF;"></li>
              <li style="background: #54524F;"></li>
              <li style="background: #A7C1D9;"></li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-size">
            <p class="<%= commonNamespace %>-Spec_Section-comparison-size-emp">
              <span>6.1</span>インチ
            </p>
            <p>ProMotion搭載<br>Super Retina XDR<br class="<%= namespace %>-Utility_Br-sp">ディスプレイ<%- diamond %></p>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-5g">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-5.svg" alt="" width="48" height="36">
            </figure>
            <p class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              超高速の5G携帯電話通信<%- diamond %>
            </p>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-camera">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-7.svg" alt="" width="37" height="40">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>望遠</li>
              <li>広角</li>
              <li>超広角</li>
              <li>
                シネマティックモード<br>
                (1080p,30fps)
              </li>
              <li>
                ドルビービジョン対応<br>
                HDRビデオ撮影<br>
                (最大4K,60fps)
              </li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-chip">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-8.svg" alt="" width="40" height="40">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>A15 Bionicチップ</li>
              <li>
                2つの高性能コアと<br>
                4つの高効率コアを<br class="<%= namespace %>-Utility_Br-sp">搭載した<br class="<%= namespace %>-Utility_Br-pc">
                6コアCPU
              </li>
              <li>5コアGPU</li>
              <li>16コアNeural Engine</li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-battery">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-9.svg" alt="" width="51" height="24">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>最大22時間のビデオ再生<%- diamond %></li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-body">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-10.svg" alt="" width="39" height="45">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>Ceramic Shieldの前面</li>
              <li>医療に使われるレベルの<br>ステンレススチール</li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-id">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-faceid.png" alt="" width="36" height="35">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>Face ID</li>
            </ul>
          </div>
        </dd>
      </dl>
    </li>

    <li class="<%= commonNamespace %>-Spec_Section-comparison-list-sp">
      <dl>
        <dt><img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-iphone-13.svg" alt="iPhone 13" width="90" height="15"></dt>
        <dd>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-img">
            <div class="<%= commonNamespace %>-Spec_Section-comparison-img-figure">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/img-iphone13-thumb.png" alt="" width="138" height="189">
              </figure>
            </div>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-img-colors-4">
              <li style="background: #394C38;"></li>
              <li style="background: #FADDD7;"></li>
              <li style="background: #276787;"></li>
              <li style="background: #232A31;"></li>
              <li style="background: #FAF6F2;"></li>
              <li style="background: #BF0013;"></li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-size">
            <p class="<%= commonNamespace %>-Spec_Section-comparison-size-emp">
              <span>6.1</span>インチ
            </p>
            <p>Super Retina XDR<br>ディスプレイ<%- diamond %></p>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-5g">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-5.svg" alt="" width="48" height="36">
            </figure>
            <p class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              超高速の5G携帯電話通信<%- diamond %>
            </p>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-camera">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-6.svg" alt="" width="37" height="40">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li class="<%= commonNamespace %>-Spec_Section-comparison-empty"></li>
              <li>広角</li>
              <li>超広角</li>
              <li>
                シネマティックモード<br>
                (1080p,30fps)
              </li>
              <li>
                ドルビービジョン対応<br>
                HDRビデオ撮影<br>
                (最大4K,60fps)
              </li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-chip">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-8.svg" alt="" width="40" height="40">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>A15 Bionicチップ</li>
              <li>
                2つの高性能コアと<br>
                4つの高効率コアを<br class="<%= namespace %>-Utility_Br-sp">搭載した<br class="<%= namespace %>-Utility_Br-pc">
                6コアCPU
              </li>
              <li>4コアGPU</li>
              <li>16コアNeural Engine</li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-battery">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-9.svg" alt="" width="51" height="24">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>最大19時間のビデオ再生<%- diamond %></li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-body">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-10.svg" alt="" width="39" height="45">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>Ceramic Shieldの前面</li>
              <li>航空宇宙産業レベルの<br>アルミニウム</li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-id">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-faceid.png" alt="" width="36" height="35">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>Face ID</li>
            </ul>
          </div>
        </dd>
      </dl>
    </li>

    <li>
      <dl>
        <dt><img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-iphone-13-mini.svg" alt="iPhone 13 mini" width="113" height="14"></dt>
        <dd>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-img">
            <div class="<%= commonNamespace %>-Spec_Section-comparison-img-figure">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/img-iphone13mini-thumb.png" alt="" width="126" height="169">
              </figure>
            </div>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-img-colors-4">
              <li style="background: #394C38;"></li>
              <li style="background: #FADDD7;"></li>
              <li style="background: #276787;"></li>
              <li style="background: #232A31;"></li>
              <li style="background: #FAF6F2;"></li>
              <li style="background: #BF0013;"></li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-size">
            <p class="<%= commonNamespace %>-Spec_Section-comparison-size-emp">
              <span>5.4</span>インチ
            </p>
            <p>Super Retina XDR<br>ディスプレイ<%- diamond %></p>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-5g">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-5.svg" alt="" width="48" height="36">
            </figure>
            <p class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              超高速の5G携帯電話通信<%- diamond %>
            </p>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-camera">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-6.svg" alt="" width="37" height="40">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li class="<%= commonNamespace %>-Spec_Section-comparison-empty"></li>
              <li>広角</li>
              <li>超広角</li>
              <li>
                シネマティックモード<br>
                (1080p,30fps)
              </li>
              <li>
                ドルビービジョン対応<br>
                HDRビデオ撮影<br>
                (最大4K,60fps)
              </li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-chip">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-8.svg" alt="" width="40" height="40">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>A15 Bionicチップ</li>
              <li>
                2つの高性能コアと<br>
                4つの高効率コアを<br class="<%= namespace %>-Utility_Br-sp">搭載した<br class="<%= namespace %>-Utility_Br-pc">
                6コアCPU
              </li>
              <li>4コアGPU</li>
              <li>16コアNeural Engine</li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-battery">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-9.svg" alt="" width="51" height="24">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>最大17時間のビデオ再生<%- diamond %></li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-body">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-10.svg" alt="" width="39" height="45">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>Ceramic Shieldの前面</li>
              <li>航空宇宙産業レベルの<br>アルミニウム</li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-id">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-faceid.png" alt="" width="36" height="35">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>Face ID</li>
            </ul>
          </div>
        </dd>
      </dl>
    </li>

    <li class="<%= commonNamespace %>-Spec_Section-comparison-list-sp">
      <dl>
        <dt><img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-iphonese.svg" alt="iphone se" width="77" height="16"></dt>
        <dd>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-img">
            <div class="<%= commonNamespace %>-Spec_Section-comparison-img-figure">
              <figure>
                <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/img-iphone13se-thumb.png" alt="" width="121" height="179">
              </figure>
            </div>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-img-colors-5">
              <li style="background: #232A31;"></li>
              <li style="background: #FAF6F2;"></li>
              <li style="background: #BF0013;"></li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-size">
            <p class="<%= commonNamespace %>-Spec_Section-comparison-size-emp">
              <span>4.7</span>インチ
            </p>
            <p>Retina HDディスプレイ</p>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-5g">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-5.svg" alt="" width="48" height="36">
            </figure>
            <p class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              5G携帯電話通信<%- diamond %>
            </p>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-camera">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-camera-03.png" alt="" width="37" height="40">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li class="<%= commonNamespace %>-Spec_Section-comparison-empty"></li>
              <li>広角</li>
              <li class="<%= commonNamespace %>-Spec_Section-comparison-empty"></li>
              <li class="<%= commonNamespace %>-Spec_Section-comparison-empty-s"></li>
              <li class="<%= commonNamespace %>-Spec_Section-comparison-empty-m"></li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-chip">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-8.svg" alt="" width="40" height="40">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>A15 Bionicチップ</li>
              <li>
                2つの高性能コアと<br>
                4つの高効率コアを<br class="<%= namespace %>-Utility_Br-sp">搭載した<br class="<%= namespace %>-Utility_Br-pc">
                6コアCPU
              </li>
              <li>4コアGPU</li>
              <li>16コアNeural Engine</li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-battery">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-spec-9.svg" alt="" width="51" height="24">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>最大15時間のビデオ再生<%- diamond %></li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-body">
            <div class="<%= commonNamespace %>-Spec_Section-comparison-empty-icon"></div>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>ガラスの前面と背面</li>
              <li>航空宇宙産業レベルの<br>アルミニウム</li>
            </ul>
          </div>
          <div class="<%= commonNamespace %>-Spec_Section-comparison-id">
            <figure>
              <img src="<%= sitepath %>assets/img/product/iphone/iphone-13/icon-touchid.png" alt="" width="36" height="35">
            </figure>
            <ul class="<%= commonNamespace %>-Spec_Section-comparison-icon-gap">
              <li>Touch ID</li>
            </ul>
          </div>
        </dd>
      </dl>
    </li>
  </ul>
</section>

<section class="<%= namespace %>-Section_08">
  <ul class="<%= namespace %>-Section_08-list">
    <li class="<%= namespace %>-Section_Card <%= namespace %>-Utility_Bg-gray-light">
      <h3 class="<%= namespace %>-Section_08-list-title">
        <figure class="<%= namespace %>-Section_07-list-icon">
          <img src="<%= sitepath %>assets/img/product/iphone/<%= currentDir %>/img-spec-09-01.png" width="39" alt="">
        </figure>
        <span>お使いのiPhoneから<br>データを移行するには？</span>
      </h3>
      <p class="<%= namespace %>-Section_08-list-txt">
        これまで使っていたiPhoneを新しいiPhoneの隣に置いてタップを数回。それだけで自動的にデータを転送できます。
      </p>
    </li>
    <li class="<%= namespace %>-Section_Card <%= namespace %>-Utility_Bg-gray-light">
      <h3 class="<%= namespace %>-Section_08-list-title">
        <figure class="<%= namespace %>-Section_07-list-icon">
          <img src="<%= sitepath %>assets/img/product/iphone/<%= currentDir %>/img-spec-09-02.png" width="68" alt="">
        </figure>
        <span>Androidスマートフォンからの乗り換えをお考えですか？</span>
      </h3>
      <p class="<%= namespace %>-Section_08-list-txt">
        新しくiPhoneを購入した方のために、写真や連絡先などを簡単に転送するための「iOSに移行」アプリが用意されています。
      </p>
    </li>
  </ul>
</section>

<section class="<%= namespace %>-Section_09 <%= namespace %>-Section_Card <%= namespace %>-Utility_Bg-gray-light">
  <div class="l-Media_Grid-half">
    <div class="<%= namespace %>-Section_09-txt">
      <h3>
        <small>アクセサリ</small>
        <span>一緒に使おう。</span>
      </h3>
      <p>
        美しい見た目。心地よい手ざわり。iPhone SEのシリコーンケースは、ミッドナイト、アビスブルー、(PRODUCT)RED、チョークピンクから選べます<%- diamond %> 。
      </p>
    </div>
    <div class="l-Media_Image">
      <img src="<%= sitepath %>assets/img/product/iphone/<%= currentDir %>/img-spec-10.png" width="282" alt="">
    </div>
  </div>
</section>

<section class="<%= namespace %>-Section_10 <%= namespace %>-Section_Card <%= namespace %>-Utility_Bg-gray-light">
  <div class="l-Media_Grid-half">
    <div class="<%= namespace %>-Section_10-txt">
      <h3>
        <small>AppleCare+</small>
        <span>専門的なサポートと、<wbr>より充実した保証を。</span>
      </h3>
      <ul class="<%= namespace %>-Section_10-txt-list">
        <li>Apple認定技術者によるサービス</li>
        <li>テクニカルサポートへの優先アクセス</li>
        <li>過失や事故による損傷に対する修理などのサービス</li>
      </ul>
      <p class="<%= namespace %>-Section_10-mt-14-20"><a href="<%= sitepath %>service/iphone/applecare-icloud/?l-id=product_<%= currentDir %>_service_iphone_applecare-icloud" class="c-Link_Txt-inline <%= commonNamespace %>-Spec_Section-link">故障紛失保証 with AppleCare Services & iCloud+<span class="c-Icon_Chevron-right"></span></a></p>
    </div>
    <div class="l-Media_Image">
      <img src="<%= sitepath %>assets/img/product/iphone/<%= currentDir %>/img-spec-11.png" width="217" alt="">
    </div>
  </div>
</section>

<div class="l-System_Container u-Adjust_Mb-48">
  <div>
    <section class="<%= commonNamespace %>-Spec_Section-other">
        <div class="<%= commonNamespace %>-Spec_Section-other">
          <div class="<%= commonNamespace %>-Spec_Section-other-inner">
            <div class="<%= commonNamespace %>-Spec_Section-other-note">
              <%# スクロール計測 %>
              <div class="u-Rat_Appear-height" data-ratid="<%= directory %>_scroll-10_disclaimer" data-ratevent="appear">&nbsp;</div>
              <p class="c-Txt_Cap"><%- diamond %>免責事項</p>
              <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">携帯電話/ワイヤレス通信方式： </span>データプランが必要です。 5GとLTEは特定の国の特定の通信事業者で利用できます。 速度は論理上のスループットにもとづくもので、使用する場所の条件および通信事業者によって変わります。 5GおよびLTE対応の詳細については通信事業者にお問い合わせください。 apple.com/jp/iphone/cellularもあわせてご覧ください。</p>
              <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">電源とバッテリー： </span>バッテリーに関する各数値はネットワーク構成やその他の多くの要素によって変わり、実際の結果は異なる場合があります。 バッテリーは充電回数に限りがあり、将来的にはApple正規サービスプロバイダによる交換が必要になる場合があります。 バッテリー駆動時間と充電サイクルは使用方法と設定によって異なります。 詳しくは<a href="https://www.apple.com/jp/batteries" target="_blank" rel="noopener noreferrer">apple.com/jp/batteries</a>および<a href="https://www.apple.com/jp/iphone/battery.html" target="_blank" rel="noopener noreferrer">apple.com/jp/iphone/battery.html</a>をご覧ください。</p>
              <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">耐落下性能： </span>iPhone SE（第2世代）との比較です。</p>
              <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">防沫性能、耐水性能、防塵性能： </span>iPhone 13 Pro、iPhone 13 Pro Max、iPhone 13、iPhone 13 mini、iPhone SE（第3世代）は防沫性能、耐水性能、防塵性能を備えており、実験室の管理された条件下でテストされています。 iPhone 13 Pro、iPhone 13 Pro Max、iPhone 13、iPhone 13 miniはIEC規格60529にもとづくIP68等級に適合しています（最大水深6メートルで最大30分間）。 iPhone SE（第3世代）はIEC規格60529にもとづくIP67等級に適合しています（最大水深1メートルで最大30分間）。 防沫性能、耐水性能、防塵性能は永続的に維持されるものではなく、通常の使用によって耐性が低下する可能性があります。 iPhoneが濡れている場合は充電しないでください。 クリーニングと乾燥の方法についてはユーザガイドをご覧ください。 液体による損傷は保証の対象になりません。</p>
              <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">利用できる機能： </span>国や地域によっては一部の機能を利用できない場合があります。</p>
              <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">ディスプレイ： </span>ディスプレイは美しい曲線を描くように四隅に丸みを持たせてデザインされており、標準的な長方形に収まります。 標準的な長方形として対角線の長さを測った場合のスクリーンのサイズは5.42インチ（iPhone 13 mini）、6.06インチ（iPhone 13、iPhone 13 Pro）、6.68インチ（iPhone 13 Pro Max）です。 実際の表示領域はこれより小さくなります。</p>
              <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">アクセサリ： </span>アクセサリは別売りです。</p>
              <p class="c-Txt_Cap"><span class="c-Txt_Emp-01">(PRODUCT)RED： </span>(PRODUCT)RED製品をお買い上げいただくと、購入金額の一部がグローバルファンドに寄付されます。</p>
            </div>
            <div class="<%= commonNamespace %>-Spec_Section-other-characteristic u-Adjust_Mt-40">
              <%# スクロール計測 %>
              <div class="u-Rat_Appear-height" data-ratid="<%= directory %>_scroll-11_feature" data-ratevent="appear">&nbsp;</div>
              <h3 class="c-Heading_Lv3">主な特長</h3>
              <ul class="c-List_Text-disc u-Adjust_Mt-32">
                <li>5G携帯電話通信 <span>1</span></li>
                <li>4.7インチRetina HDディスプレイ <span>2</span></li>
                <li>スマートHDR 4、フォトグラフスタイル、ポートレートモードに対応し、最大60fpsの4Kビデオが撮れる先進的な12MPシングルカメラシステム（広角）</li>
                <li>スマートHDR 4、フォトグラフスタイル、ポートレートモードに対応し、1080pビデオが撮れる7MP FaceTime HDカメラ</li>
                <li>超高速のパフォーマンスを発揮するA15 Bionicチップ</li>
                <li>最大15時間のビデオ再生 <span>3</span></li>
                <li>耐久性の高いデザインとIP67の耐水性能 <span>4</span></li>
                <li>セキュア認証のためのTouch IDを搭載したホームボタン</li>
                <li>iPhoneをもっと楽しく、便利にする新機能がいっぱいのiOS 15 <span>5</span></li>
              </ul>
              <div class="c-Txt_Cap u-Adjust_Mt-32">
                <p>1 データプランが必要です。5Gは特定の国の特定の通信事業者で利用できます。速度は使用する場所の条件と通信事業者によって変わります。5G対応の詳細については通信事業者にお問い合わせください。<a href="https://www.apple.com/jp/iphone/cellular/" target="_blank" rel="noopener noreferrer">apple.com/jp/iphone/cellular</a>もあわせてご覧ください。 </p>
                <p>2 ディスプレイのサイズは対角線を測ったものです。 </p>
                <p>3 バッテリー駆動時間は使用条件と構成によって異なります。詳しくは<a href="https://www.apple.com/jp/batteries" target="_blank" rel="noopener noreferrer">apple.com/jp/batteries</a>をご覧ください。</p>
                <p>4 iPhone SE（第3世代）はIEC規格60529にもとづくIP67等級に適合しています（最大水深1メートルで最大30分間）。防沫性能、耐水性能、防塵性能は永続的に維持されるものではなく、通常の使用によって耐性が低下する可能性があります。iPhoneが濡れている場合は充電しないでください。クリーニングと乾燥の方法についてはユーザガイドをご覧ください。液体による損傷は保証の対象になりません。</p>
                <p>5 国や地域によっては一部の機能を利用できない場合があります。</p>
              </div>
            </div>
          </div>
        </div>
    </section>

  </div>

</div>
