<% const pagetitle = "Rakuten WiFi Pocket サポート情報" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/internet/", label:"Wi-Fiルーター／周辺機器"}, {path:"product/internet/rakuten-wifi-pocket/", label:"Rakuten WiFi Pocket"}] -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Rakuten WiFi Pocket のお客様サポートページ。ソフトウェアアップデート情報や故障・修理など、製品に関わる情報をご案内します',
    noindex: false,
    pathname: 'product/internet/rakuten-wifi-pocket/support/index.html'
  });
%>

<%- include('/include/_common-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<!-- insert-info.js -->
<div id="emergency-info"></div>

<div class="u-Adjust_Pb-64">
  <div class="l-System_Container u-Adjust_Mt-32">
    <h1 class="c-Heading_Lv1">Rakuten WiFi Pocket サポート情報</h1>
    <p class="u-Adjust_Mt-24">Rakuten WiFi Pocket の故障・修理は、保守部品の保有期間の終了に伴い、2023年3月31日（金）をもって終了しました。<br>
    故障・修理に関するお問い合わせは2023年4月1日（土）以降対応しかねますのでご了承ください。</p>

    <p class="u-Adjust_Mt-24">2023年8月22日（火）時点で、攻撃者が製品の設定を変更できる恐れのある<span class="c-Txt_Emp-02">脆弱性が判明しております。</span>
    <br>本製品は2023年3月31日（金）をもってサポートを終了しておりますので、<span class="c-Txt_Emp-02">本製品の使用は継続せず、他Wi-Fi製品を利用いただくことを推奨いたします。</span></p>

    <div class="u-Adjust_Mt-24 c-Accordion">
      <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true"
        aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten WiFi Pocketの脆弱性について</button>
      <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1"
        aria-hidden="false">
        <p class="c-Heading_Lv3">脆弱性について</p>
        <p class="u-Adjust_Mt-8">攻撃者が限られた条件において不正にログインできる脆弱性を確認しました。<br>
        攻撃者が製品の設定を変更できる恐れがあります。</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※本脆弱性はWiFi Pocket 2B / 2Cには影響はありません。</p>

        <p class="c-Heading_Lv3 u-Adjust_Mt-16">脆弱性により起こりうる影響</p>
        <p class="u-Adjust_Mt-8">当該商品にアクセス可能な攻撃者により、ログイン管理Webページにアクセスされ、機微な情報を窃取されたり、設定の書き換えが行われたりする可能性があります。</p>

        <p class="c-Heading_Lv3 u-Adjust_Mt-16">参考情報</p>
        <p class="u-Adjust_Mt-8">JPCERT/CCからの公開情報については、JVN脆弱性対策情報ポータルサイトをご確認ください。こちらから本脆弱性のCVE番号※をご確認いただけます。</p>
        <p class="u-Adjust_Mt-8">
          <a href="https://jvn.jp/jp/JVN55217369/" class="c-Link_Txt-inline-icon"
            target="_blank" rel="noopener">JVN脆弱性対策情報ポータルサイト<span class="c-Icon_New-window-l" style="color: #ff008c;"></span></a></p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※CVEは公知の脆弱性データベースで、CVE番号は収録された脆弱性情報を識別するために用いられます。</p>
      </div>
    </div>

    <h2 class="c-Heading_Lv3 u-Adjust_Mt-64">ソフトウェアアップデート</h2>

    <p class="u-Adjust_Mt-24">最新情報をご案内いたします。</p>
    <div>最終更新日：<span id="update-software"></span></div>
    <div class="u-Adjust_Mt-24">
      <a href="<%= sitepath %>information/software/rakuten-wifi-pocket/" class="c-Btn_Regular-semiauto"><span>ソフトウェアアップデート詳細へ</span></a>
    </div>

    <h2 class="c-Heading_Lv3 u-Adjust_Mt-64">故障・修理保証</h2>
    <p class="u-Adjust_Mt-24">Rakuten WiFi Pocketの故障・修理は、保守部品の保有期間の終了に伴い、2023年3月31日（金）をもって終了しました。</p>

    <h2 class="c-Heading_Lv3 u-Adjust_Mt-64">安全性に関する重要な情報</h2>
    <p class="u-Adjust_Mt-24">製品を安全に正しくご使用いただくための注意事項をご確認ください。</p>
    <div class="u-Adjust_Mt-24">
      <a href="<%= sitepath %>product/internet/rakuten-wifi-pocket/support/safety-info/" class="c-Btn_Regular-semiauto"><span>安全性に関する重要な情報を見る</span></a>
    </div>

    <h2 class="c-Heading_Lv3 u-Adjust_Mt-64">よくあるご質問</h2>
    <p class="u-Adjust_Mt-24">Rakuten WiFi Pocket に関するよくあるご質問をご確認いただけます。</p>
    <div class="u-Adjust_Mt-24">
      <a href="<%= sitepath %>faq/device/wifi-pocket/" class="c-Btn_Regular-semiauto"><span>よくあるご質問を見る</span></a>
    </div>

    <h2 class="c-Heading_Lv3 u-Adjust_Mt-64">お問い合わせ</h2>
    <p class="u-Adjust_Mt-24">製品に関するお問い合わせ、および故障・紛失など、コミュニケーションセンターのアドバイザーがしっかりサポートいたします。</p>
    <div class="u-Adjust_Mt-24">
      <a href="<%= sitepath %>inquiry/#communication-center" class="c-Btn_Regular-semiauto"><span>お問い合わせ窓口を確認する</span></a>
    </div>

    <h2 class="c-Heading_Lv4 u-Adjust_Mt-64">関連情報</h2>
    <p class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/sar/" class="c-Link_Txt-icon">携帯電話の比吸収率（SAR）について<span class="c-Icon_Chevron-right"></span></a></p>

  </div>
</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-product.ejs') %>

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <%#- include('/faq/include/related-product.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/product.insert-info.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
