<% const pagetitle = "持ち込みスマホあんしん保証（故障機の送付方法）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"guide/replacement-warranty-sim/", label:"持ち込みスマホあんしん保証（ご利用方法）"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルの「持ち込みスマホあんしん保証」サービスの故障機の送付方法の案内になります。事前準備や注意事項などを詳しくご案内します。',
    noindex: false,
    pathname: filepath
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const namespace = "guide" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= namespace %>/<%= namespace %>.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>

</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<section class="l-System_Container u-Adjust_Pt-8 u-Adjust_Pb-32">
  <p class="c-Txt_Cap u-Adjust_Align-right">※表記の金額はすべて税込です。</p>
  <h1 class="c-Heading_Lv1 u-Adjust_Mt-32">持ち込みスマホあんしん保証（故障機の送付方法）</h1>
  <p class="u-Adjust_Mt-32">交換品がお手元に届きましたら不備がないか確認し、受領日から14日以内に同梱されている返送キットを使用し、速やかに故障機を送付してください。</p>
  <p class="u-Adjust_Mt-8 c-Txt_Cap">※ 交換品に万が一不備がありましたら、受領後14日以内に「<a href="<%= sitepath %>guide/replacement-warranty-sim/#inquire">持ち込みスマホあんしん保証サポートセンター</a>」へご連絡をお願いします。</p>

  <ul class="c-Link_List-horizontal-simple <%= namespace %>-Link_List u-Adjust_Mt-40">
    <li><p><a href="#preparation" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>事前準備</a></p></li>
    <li><p><a href="#howto" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>送付方法</a></p></li>
  </ul>

  <section id="preparation" class="u-Adjust_Mt-40 <%= namespace %>-Layout_Section">
    <h2 class="c-Heading_Lv2">事前準備</h2>
    <div class="<%= namespace %>-Info_Pink5 u-Adjust_Mt-24">
      <h3 class="c-Heading_Lv3 c-Txt_Emp-02">故障機の送付前に、必ず以下の対応を行ってください。</h3>
      <ul class="c-List_Text-disc-emp u-Adjust_Mt-16">
        <li>製品のバックアップ、すべてのコンテンツおよび個人情報の消去。</li>
        <li>iOS製品の場合は、パスワード  、画面ロック、「iPhoneを探す」の解除等のセキュリティ設定の無効化。
        <div class="u-Adjust_Mt-24"><a href="<%= sitepath %>guide/iphone/find-my-iphone-off/" class="c-Link_Txt-inline">「iPhoneを探す」をオフにする方法<span class="c-Icon_Chevron-right"></span></a></div>
        </li>
        <li>Android製品の場合は、Googleアカウントからのログアウト、画面ロック、「デバイスを探す」の解除等のセキュリティ設定の無効化。</li>
        <li>製品の初期化。<br>
        <span class="u-Adjust_Mt-8 c-Txt_Cap <%= namespace %>-Txt_Cap">※初期化だけでは、製品のロック解除はされません。<br>
          また、データが消去できない場合がありますので、必ず消去作業を実施してください。</span></li>
        <li>アクセサリーやカバー、メモリカードをご利用の方は、取り外してご自身で保管してください。</li>
      </ul>
    </div>

    <div class="c-Infobox_Standing-warning u-Adjust_Mt-24">
      <p class="<%= namespace %>-Txt_Attention"><span class="c-Txt_Emp-02">以下の場合、</span><a href="<%= sitepath %>terms/pdf/rakuten_mobile_replacement_warranty_sim.pdf?221122" class="c-Link_Txt-inline-icon">利用規約<span class="c-Icon_Pdf-l u-Adjust_Pl-16"></span></a><span class="c-Txt_Emp-02">に基づき違約金（Android：44,000円、iPhone：66,000円）が発生する可能性がありますので、ご注意ください。</span></p>
      <ul class="c-List_Text-disc u-Adjust_Mt-16">
        <li class="c-Txt_Emp-01">交換品受領後14日以内に、故障機が送付されなかった場合。</li>
        <li class="c-Txt_Emp-01">ご登録と異なる製品を送付された場合。</li>
        <li class="c-Txt_Emp-01">その他、利用規約（第16条）に定める内容に違反する場合。</li>
        <li class="c-Txt_Emp-01">iOS製品の「iPhoneを探す」が解除されていない場合。</li>
      </ul>
    </div>
    <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">事前準備に関する注意事項</h3>
    <div class="u-Adjust_Mt-24">
      <dl class="c-Dl_Origin">
        <div>
          <dt>バックアップについて</dt>
          <dd>
            <ul class="c-List_Text-disc">
              <li>事前に保証対象製品のバックアップ等のデータ保全の対応を行ってください。</li>
              <li>楽天モバイルは、保証対象製品に関するデータ保全のためのバックアッ プ等の保全代行やデータ保全の補助を行いません。故障機に保存されているデータは事前のバックアップをお願いします。</li>
            </ul>
          </dd>
        </div>
        <div>
          <dt>製品内データについて</dt>
          <dd>
            <ul class="c-List_Text-disc">
              <li>楽天モバイルは、保証対象製品内のデータの変化・消失等に関して一切の責任を負いません。</li>
              <li>楽天モバイルは、本サービスの提供の際に、保証対象製品のデータの初期化を必ず行いますがデータについて一切の責任を負いません。</li>
            </ul>
          </dd>
        </div>
        <div>
          <dt>セキュリティについて</dt>
          <dd>
            <ul class="c-List_Text-disc">
          <li>保証対象製品に暗証番号・PIN ロックなどの何らかのロックを行っている場合はロックを解除し、またその他のセキュリティサービスに加入している場合は、当該セキュリティサービスを解除後、本サービスをご利用ください。</li>
          <li>セキュリティを解除できない場合、楽天モバイルによる本サービスは提供できません。</li>
          </ul>
        </dd>
        </div>
        <div>
          <dt>アクセサリー等の付属品の取り外しについて</dt>
          <dd>
            <ul class="c-List_Text-disc">
              <li>保証対象製品の付属のカバー、ストラップ、画面保護フィルム等について、可能な限り取り外したうえで、本サービスを利用してください。</li>
            </ul>
          </dd>
        </div>
      </dl>
    </div>
  </section>

  <section id="howto" class="<%= namespace %>-Layout_Section-separate">
    <h2 class="c-Heading_Lv2">送付方法</h2>
    <p class="u-Adjust_Mt-16">交換品に同梱されている返送キットを使用し、着払いにて送付してください。</p>
    <p class="u-Adjust_Mt-16">その際、必ず「ご利用連絡票」の右側にある「返品票」を切り離し、故障機と一緒にご送付をお願いいたします。</p>
    <div class="c-Theme-Borderbox u-Adjust_Mt-24">
      <h3 class="c-Heading_Lv3 u-Adjust_Align-center">送付いただくもの</h3>
      <ul class="<%= namespace %>-Layout_Send-item u-Adjust_Mt-40">
        <li class="u-Adjust_Align-center">
          <div><img src="<%= sitepath %>assets/img/guide/replacement-warranty-sim/send/img-illustration-01.png?220301" alt="" width="197"></div>
          <p class="u-Adjust_Mt-8">返送キット<span>（段ボール、故障機固定用の梱包材）</span></p>
        </li>
        <li class="u-Adjust_Align-center">
          <div><img src="<%= sitepath %>assets/img/guide/replacement-warranty-sim/send/img-illustration-02.png?220301" alt="" width="68"></div>
          <p class="u-Adjust_Mt-8">故障機</p>
        </li>
        <li class="u-Adjust_Align-center">
          <div><img src="<%= sitepath %>assets/img/guide/replacement-warranty-sim/send/img-illustration-03.png?220301" alt="" width="86"></div>
          <p class="u-Adjust_Mt-8">返品票</p>
        </li>
      </ul>
      <p class="c-Txt_Cap u-Adjust_Mt-24 <%= namespace %>-Utility_Align">※送付いただく故障機に間違いがないかご確認ください。</p>
    </div>
  </section>

  <div class="<%= namespace %>-Utility_Adjust-mt-64-80">
    <a href="<%= sitepath %>support/" class="c-Btn_Regular"><span>お客様サポートトップにもどる</span></a>
  </div>
  <div class="u-Adjust_Mt-16">
    <a href="<%= sitepath %>" class="c-Btn_Regular"><span>楽天モバイルトップへ</span></a>
  </div>

</section>

<%- include('/include/guide/_review') %>
<%- include('/include/guide/_inquiry') %>
<footer class="g-Footer">

  <div class="g-Footer_Aside">
  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/_append-body') %>
</body>
</html>
