<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "テンプレート:フッターパターンD" -%>
<% const directories = [{path: hikariroot.path + "template/", label:"テンプレート"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '',
    noindex: false,
    pathname: filepath,
    ishikari: true
  });
%>
<%- include('/include/hikari/_common-css') %>
<%- include('/include/_append-head-hikari') %>
</head>
<body>

<div class="l-System">

  <%- include('/include/hikari/_header') %>

  <div class="c-hikari-Breadcrumbs_Head">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <li><a href="<%= rootpath %><%= hikariroot.path %>"><%= hikariroot.title %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <div class="l-hikari-Section_Main">
    <div class="l-hikari-Section_Main-logo"><a href="/hikari/?l-id=rhk_header_hikari_01"><img src="<%= sitepath %>assets/img/hikari/common/logo-hikari-s.svg" width="100" alt="楽天ひかり"></a></div>
    <p class="c-Txt_Cap l-hikari-Section_Main-cap">※表記の金額は特に記載のある場合を除きすべて税込です。</p>
    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
      <div class="l-hikari-Section_Main-lead">
        <p>footer template</p>
      </div>

      <div class="l-hikari-Section_Sub-short">
        <h2 class="c-Heading_Lv3">フッターのパターン</h2>
        <div class="l-hikari-Section_Sub-content-tall">
          <div class="c-Table_Wrap-scroll">
          <table class="c-Table_Container" style="width:1032px">
            <colgroup>
              <col style="width: 20%;">
              <col style="width: 20%;">
              <col style="width: 20%;">
              <col style="width: 20%;">
              <col style="width: 20%;">
            </colgroup>
            <tr>
                <th></th>
                <th>注目のキーワード</th>
                <th>よくあるご質問</th>
                <th>追従CV</th>
                <th>グローバルフッター</th>
            </tr>
            <tr>
              <th><a href="footer-a.html">パターンA</a></th>
              <td>○</td>
              <td>○</td>
              <td>○</td>
              <td>○</td>
            </tr>
            <tr>
              <th><a href="footer-b.html">パターンB</a></th>
              <td>○</td>
              <td>○</td>
              <td>ー</td>
              <td>○</td>
            </tr>
            <tr>
              <th><a href="footer-c.html">パターンC</a></th>
              <td>ー</td>
              <td>ー</td>
              <td>ー</td>
              <td>○</td>
            </tr>
            <tr class="c-hikari-Table_ContainerLine-highlight">
              <th><a href="footer-d.html">パターンD</a></th>
              <td>ー</td>
              <td>ー</td>
              <td>ー</td>
              <td>ー　(copyrightのみ)</td>
            </tr>
          </table>
        </div>
        </div>
      </div>

      <div class="l-hikari-Section_Sub-short">
        <h2 class="c-Heading_Lv3">注目のキーワード & よくあるご質問</h2>
        <div class="l-hikari-Section_Sub-content-tall">
          <div class="c-Table_Wrap-scroll">
            <table class="c-Table_Container" style="width:1032px">
            <colgroup>
              <col style="width: 10%;">
              <col style="width: 10%;">
              <col style="width: 16%;">
              <col style="width: 16%;">
              <col style="width: 16%;">
              <col style="width: 16%;">
              <col style="width: 16%;">
            </colgroup>
            <tr>
                <th colspan="2"></th>
                <th>basic</th>
                <th>pay</th>
                <th>eco</th>
                <th>speed</th>
                <th>flow</th>
            </tr>
            <tr>
              <th rowspan="2">注目のキーワード</th>
              <th>関連</th>
              <td>
                IPv6 / IPv6 ルーター / 光回線 工事 / 光回線 速度
              </td>
              <td>
                光 転用 / 光回線 乗り換え / 光回線 キャンペーン / 楽天ポイント
              </td>
              <td>
                光回線 キャンペーン / 楽天ポイント / 光回線 料金 お得 / 光 転用
              </td>
              <td>
                IPv6 / IPv6 ルーター / 光回線 速度 / 光回線 遅い
              </td>
              <td>
                光回線 工事 / 引越し / ひかり電話 / IPv6 ルーター設定
              </td>
            </tr>
            <tr>
              <th>クリティカルパス</th>
              <td>
                光 転用 / IPv6 速度 / かんたん料金シミュレーション / 楽天ポイント
              </td>
              <td>
                IPv6 / IPv6 ルーター / 光回線 工事 / 光回線 速度
              </td>
              <td>
                IPv6 / IPv6 ルーター / 光回線 工事 / 光回線 速度
              </td>
              <td>
                かんたん料金シミュレーション / 楽天ポイント / 光回線 工事 / 光 転用
              </td>
              <td>
                かんたん料金シミュレーション / 楽天ポイント / IPv6 速度 / IPv6
              </td>
            </tr>
            <tr>
              <th colspan="2">よくあるご質問</th>
              <td>
                aa / aa / aa / aa
              </td>
              <td>
                aa / aa / aa / aa
              </td>
              <td>
                aa / aa / aa / aa
              </td>
              <td>
                aa / aa / aa / aa
              </td>
              <td>
                aa / aa / aa / aa
              </td>
            </tr>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="c-hikari-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <li><a href="<%= rootpath %><%= hikariroot.path %>"><%= hikariroot.title %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <div class="g-hikari-Footer_Pagetop">
    <a href="#top" class="js-scroll" title="トップへ戻る">
      <span class="c-Icon_Arrow-up-l"></span>
    </a>
  </div>

  <footer class="g-Footer">
    <%- include('/include/_footer-simple') %>
  </footer>

</div>
<%- include('/include/hikari/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
