<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "シンプルヘッダ（リンクなし）" -%>
<% const directories = [{path: hikariroot.path + "template/", label:"テンプレート"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '',
    noindex: false,
    pathname: filepath,
    ishikari: true
  });
%>
<%- include('/include/hikari/_common-css') %>
<%- include('/include/_append-head-hikari') %>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>

<div class="l-System">

  <%- include('/include/hikari/header-simple', {islink: 'false'}) %>

  <div class="c-hikari-Breadcrumbs_Head">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <li><a href="<%= rootpath %><%= hikariroot.path %>"><%= hikariroot.title %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <div class="l-hikari-Section_Main">
    <div class="l-hikari-Section_Main-logo"><a href="/hikari/?l-id=rhk_header_hikari_01"><img src="<%= sitepath %>assets/img/hikari/common/logo-hikari-s.svg" width="100" alt="楽天ひかり"></a></div>
    <p class="c-Txt_Cap l-hikari-Section_Main-cap">※表記の金額は特に記載のある場合を除きすべて税込です。</p>
    <div class="l-System_Container">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>

  <div class="c-hikari-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <li><a href="<%= rootpath %><%= hikariroot.path %>"><%= hikariroot.title %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <div class="g-hikari-Footer_Pagetop">
    <a href="#top" class="js-scroll" title="トップへ戻る">
      <span class="c-Icon_Arrow-up-l"></span>
    </a>
  </div>

  <footer class="g-Footer u-Adjust_Pb-64">
    <%- include('/include/_footer') %>
  </footer>

</div>
<%- include('/include/hikari/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
