<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "テンプレート:simple（マージンはレイアウトクラスを使用）" -%>
<% const directories = [{path: hikariroot.path + "template/", label:"テンプレート"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '',
    noindex: false,
    pathname: filepath,
    ishikari: true
  });
%>
<%- include('/include/hikari/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/module/m-hikari-cpn.css?20240424">
<%- include('/include/_append-head-hikari') %>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>

<div class="l-System">

  <%- include('/include/hikari/_header') %>

  <div class="c-hikari-Breadcrumbs_Head">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <li><a href="<%= rootpath %><%= hikariroot.path %>"><%= hikariroot.title %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <div class="l-hikari-Section_Main">
    <div class="l-hikari-Section_Main-logo"><a href="/hikari/?l-id=rhk_header_hikari_01"><img src="<%= sitepath %>assets/img/hikari/common/logo-hikari-s.svg" width="100" alt="楽天ひかり"></a></div>
    <p class="c-Txt_Cap l-hikari-Section_Main-cap">※表記の金額は特に記載のある場合を除きすべて税込です。</p>

    <div class="l-System_Container">
      <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
      <div class="l-hikari-Section_Main-lead">
        <p>ページリードテキスト</p>
      </div>

      <div class="l-hikari-Section_Sub-short">
        <h2 class="c-Heading_Lv3">サブセクション:short ※見出しフォントサイズはc-Heading_Lvxから任意で選択可能</h2>
        <div class="l-hikari-Section_Sub-content-short">
          サブセクションコンテンツ:short → 見出し直下が通常テキストの場合
        </div>
      </div>

      <div class="l-hikari-Section_Sub-short">
        <h2 class="c-Heading_Lv2">サブセクション:short ※見出しフォントサイズはc-Heading_Lvxから任意で選択可能</h2>
        <div class="l-hikari-Section_Sub-content-short">
          サブセクションコンテンツ:short → 見出し直下が通常テキストの場合
        </div>
      </div>

      <div class="l-hikari-Section_Sub-short">
        <h2 class="c-Heading_Lv2">サブセクション:short ※見出しフォントサイズはc-Heading_Lvxから任意で選択可能</h2>
        <div class="l-hikari-Section_Sub-content-middle">
          サブセクションコンテンツ:middle → 見出し直下がボタン、画像の場合？
        </div>
      </div>

      <div class="l-hikari-Section_Sub-short">
        <h2 class="c-Heading_Lv2">サブセクション:short 見出し ※見出しフォントサイズはc-Heading_Lvxから任意で選択可能</h2>
        <div class="l-hikari-Section_Sub-content-tall">
          サブセクションコンテンツ:tall → 見出し直下が見出し、見出しを含むメディアブロックの場合
        </div>
      </div>

    </div>

    <div style="background: #f5f5fa;" class="u-Adjust_Mt-48">
      <div class="l-System_Container">
        <p>サブセクションの高さバリエーション</p>
        <div class="l-hikari-Section_Sub-short">
          <h2 class="c-Heading_Lv3">サブセクション:short ※見出しフォントサイズはc-Heading_Lvxから任意で選択可能</h2>
          <div class="l-hikari-Section_Sub-content-short">
            サブセクションコンテンツ:short → 見出し直下が通常テキストの場合
          </div>
        </div>

        <div class="l-hikari-Section_Sub-short">
          <h2 class="c-Heading_Lv2">サブセクション:short ※見出しフォントサイズはc-Heading_Lvxから任意で選択可能</h2>
          <div class="l-hikari-Section_Sub-content-short">
            サブセクションコンテンツ:short → 見出し直下が通常テキストの場合
          </div>
        </div>

        <div class="l-hikari-Section_Sub-short">
          <h2 class="c-Heading_Lv2">サブセクション:short ※見出しフォントサイズはc-Heading_Lvxから任意で選択可能</h2>
          <div class="l-hikari-Section_Sub-content-middle">
            サブセクションコンテンツ:middle → 見出し直下がボタン、画像の場合？
          </div>
        </div>

        <div class="l-hikari-Section_Sub-short">
          <h2 class="c-Heading_Lv2">サブセクション:short 見出し ※見出しフォントサイズはc-Heading_Lvxから任意で選択可能</h2>
          <div class="l-hikari-Section_Sub-content-tall">
            サブセクションコンテンツ:tall → 見出し直下が見出し、見出しを含むメディアブロックの場合
          </div>
        </div>
      </div>
    </div>

    <%
      const localNavTitle = 'もっと知りたい、楽天ひかりの料金のこと'
      const localNav = [
        {
          'url': 'https://network.mobile.rakuten.co.jp/hikari/',
          'title': '毎月いくら払えばいいの',
          'text': '毎月のお支払いのイメージをご確認いただけます。',
          'current': true,
        },
        {
          'url': 'https://network.mobile.rakuten.co.jp/hikari/fee/',
          'title': '乗り換えコストが必要でしょ？',
          'text': '乗り換えで発生する負担もカバーできます。',
          'current': false,
        },
        {
          'url': 'https://network.mobile.rakuten.co.jp/hikari/flow/',
          'title': '支払いのスケジュールは？',
          'text': '乗り換えで発生する負担もカバーできます。',
          'current': false,
        },
        {
          'url': 'https://network.mobile.rakuten.co.jp/hikari/fee/pricelist/',
          'title': '料金表・お支払い方法',
          'text': '乗り換えで発生する負担もカバーできます。',
          'current': false,
        }
      ]
    %>
    <%- include('/include/hikari/local-nav', { localNavTitle: localNavTitle, localNav: localNav }) %>
  </div>


  <%
  // イレギュラーがあれば設定
  const hikariCpn = {
    'title': 'ひかり1年無料<span class="c-Txt_Cap">※1</span>＋最大19,800円おトク<span class="c-Txt_Cap">※2</span>',
    'text': 'スマホと一緒に申し込むとひかりがおトク!！',
    'url': '/hikari/campaign/one-year-free/',
    'btn': '4/5 9:59まで！ 春のWキャンペーンを見る',
    'annotation': '※ 楽天ひかり（マンションプランまたはファミリープラン）の月額基本料が開通月から最大12カ月無料。Rakuten UN-LIMIT VIをすでに開通、または期限内にお申し込みの方が対象。 楽天ひかりの契約期間中（3年ごとに更新）は契約解除料10,450円が発生。'
  }
%>
  <%- include('/include/hikari/local-cpn', { hikariCpn: hikariCpn }) %>

  <%- include('/include/hikari/footer-nav', {
    nav: true,
    faq: 'basic',
    cta: false
  }) %>

  <div class="c-hikari-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <li><a href="<%= rootpath %><%= hikariroot.path %>"><%= hikariroot.title %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <div class="g-hikari-Footer_Pagetop">
    <a href="#top" class="js-scroll" title="トップへ戻る">
      <span class="c-Icon_Arrow-up-l"></span>
    </a>
  </div>


  <footer class="g-Footer u-Adjust_Pb-64">
    <%- include('/include/hikari/_footer') %>
  </footer>

</div>
<%- include('/include/hikari/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
