<% const pagetitle = "楽天モバイルによるスマートフォンを用いた行政手続き講習会" -%>
<% const directories = [{path:"shop/", label:"ショップ"}] -%>
<% const namespace = 'shop-consultation-seminar' -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルでは、総務省の「デジタル活用支援推進事業」の一環で、スマートフォンのご利用に関する講習会を実施いたします。ご希望の講座に参加ください。',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/shop/consultation-seminar/consultation-seminar.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System" id="js-result-top">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="<%= namespace %>-Layout">
  <div class="l-System_Container">
    <section class="<%= namespace %>-Layout_Section u-Adjust_Mt-32">
      <h1 class="c-Heading_Lv1 <%= namespace %>-Title_Lv1">
        <small>総務省　<span>デジタル活用支援推進事業</span></small>
        <span class="<%= namespace %>-Title_Lv1-main">楽天モバイルによる<br>スマートフォンを用いた行政手続き講習会</span>
      </h1>
      <p class="u-Adjust_Mt-32">楽天モバイルでは、総務省の「<a href="https://www.deji-katsu.jp/" target="_blank" rel="noopener noreferrer">デジタル活用支援推進事業</a>」の一環で、スマートフォンのご利用に関する講習会を実施いたします。<br>
        行政手続きを便利に行うためのスマホ活用法などを無料で学べますので、是非ご参加ください。</p>

      <ul class="<%= namespace %>-List_Nav-ancher">
        <li><a href="#session" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>相談会・講習会概要</a></li>
        <li><a href="#join" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>参加方法</a></li>
      </ul>
    </section>

    <section id="session" class="<%= namespace %>-Layout_Section">
      <h2 class="c-Heading_Lv2">相談会・講習会概要</h2>
      <ul class="<%= namespace %>-List_Col2">
        <li>
          <h3 class="c-Heading_Lv3">行政手続き講習会</h3>
          <p class="u-Adjust_Mt-16">スマートフォンによる行政手続き等の講習会を行います。マイナンバーカードの申請・使用方法、マイナポータルの活用方法、オンライン診療の利用方法、新型コロナワクチンの接種証明書発行方法など。</p>
        </li>
      </ul>
    </section>

    <section id="join" class="<%= namespace %>-Layout_Section">
      <h2 class="c-Heading_Lv2">参加方法</h2>
      <p>参加方法は、楽天モバイルショップ（一部店舗にて開催）に来店して参加する方法と、オンライン（ご自宅のパソコンやスマートフォン）にて参加する方法があります。</p>

      <ul class="<%= namespace %>-List_Nav-ancher">
        <li><a href="#join-shop" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>楽天モバイルショップ（一部店舗にて開催）に来店して参加する</a></li>
        <li><a href="#join-online" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>オンライン（ご自宅のパソコンやスマートフォン）にて参加する</a></li>
      </ul>

      <div id="join-shop" class="<%= namespace %>-Layout_Section-inner">
        <h3 class="c-Heading_Lv3">楽天モバイルショップ（一部店舗にて開催）に来店して参加する</h3>
        <div class="l-Media_Grid">
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/shop/consultation-seminar/img-01.png" alt="">
          </div>
          <div>
            <p>講座予約ページにて、講座を開催しているショップをご確認いただけます。<br>
              ご希望講座をお申し込みいただき、当日は講座内容に記載のお持ち物をご持参の上、ショップへお越しください。</p>
            <div class="u-Adjust_Mt-16">
              <a href="https://reserve.mobile.rakuten.net/reservations/consultation-seminar" target="_blank" class="c-Btn_Primary-large"><span>ショップ開催講座を予約する</span></a>
            </div>
            <%_
            /*
            <div class="u-Adjust_Mt-16">
              <a href="https://reserve.mobile.rakuten.net/reservations/consultation-seminar" class="c-Btn_Primary-large" target="_blank" rel="noopener noreferrer"><span>ショップ開催講座を予約する</span></a>
            </div>
            */
            _%>
            <p class="u-Adjust_Mt-16 c-Txt_Cap">※各講座の開催ショップ・開催スケジュールは、講座予約ページにてご確認ください。</p>
            <p class="c-Txt_Cap">※ご家族・ご友人の方と参加される場合は、それぞれ別でのお申し込みが必要です。</p>
          </div>
        </div>
      </div>

      <div class="<%= namespace %>-Layout_Section-inner">
        <h3 class="c-Heading_Lv3">ショップ開催講座内容</h3>

        <p class="c-Txt_Emp-02 u-Adjust_Mt-16 u-Adjust_Mb-32">
          令和5年度の講習会日程は全て終了いたしました。<br />
          令和6年度のスケジュール公開までお待ちください。
        </p>

        <!-- <div class="c-Accordion u-Adjust_Mt-16">
          <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>【講習会】マイナンバーカードの申請方法</button>
          <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
            <dl class="c-Dl_Origin">
              <div>
                  <dt>概要</dt>
                  <dd>
                    マイナンバーカードの基本的な知識から、スマートフォンでの申請を行うための操作方法をご案内いたします。
                  </dd>
              </div>
              <div>
                  <dt>持ち物</dt>
                  <dd>
                    <ul class="c-List_Text-disc">
                      <li>スマートフォン</li>
                      <li>個人番号カード交付申請書（引っ越しをした場合は利用不可）</li>
                    </ul>
                  </dd>
              </div>
            </dl>
          </div>
        </div> -->

        <div id="join-online" class="<%= namespace %>-Layout_Section-inner u-Adjust_Mt-32">
          <h3 class="c-Heading_Lv3">オンライン（ご自宅のパソコンやスマートフォン）にて参加する</h3>
          <div class="l-Media_Icon">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/shop/consultation-seminar/icon-02.png" alt="">
            </div>
            <div>
              <p>スマートフォンアプリ「楽天シニア」でご予約の上、ご自宅などから参加いただけます。</p>
              <p class="u-Adjust_Mt-8">
                開催予定期間：令和5年度の講習会日程は全て終了いたしました。令和6年度のスケジュール公開までお待ちください。
              </p>
            </div>
          </div>
        </div>

        <div class="<%= namespace %>-Layout_Section-inner">
          <h3 class="c-Heading_Lv3">予約手順</h3>
          <div class="u-Adjust_Mt-16">
            現在の仕様と異なる場合がございます。ご不明な点はページ下部の「<a href="#link01" class="js-scroll">楽天シニア カスタマーサポート</a>」へご連絡ください。
          </div>
          <ol class="<%= namespace %>-List_Flow">
            <li>
              <h4 class="c-Heading_Lv4">1. 「楽天シニア」アプリをダウンロードする</h4>
              <p class="u-Adjust_Mt-16">ご使用のスマートフォンで下記ダウンロードサイト(App store/Google Play)にアクセスして、楽天シニアアプリをダウンロードしてください。</p>
              <ul class="<%= namespace %>-List_Col-center u-Adjust_Mt-16">
                <li class="<%= namespace %>-App">
                  <div class="c-Heading_Lv4 <%= namespace %>-App_Label">iPhone版</div>
                  <div class="<%= namespace %>-App_Btn">
                    <a href="https://apps.apple.com/jp/app/%E6%A5%BD%E5%A4%A9%E3%82%B7%E3%83%8B%E3%82%A2/id1451690957" target="_blank" rel="noopener noreferrer">
                      <img src="<%= sitepath %>assets/img/common/btn-appstore.png" width="163" alt="Apple Store">
                    </a>
                  </div>
                  <div class="<%= namespace %>-App_Qr">
                    <img src="<%= sitepath %>assets/img/shop/consultation-seminar/img-qr-iphone.png" width="100" alt="https://app.adjust.com/rogn1bh">
                  </div>
                </li>
                <li class="<%= namespace %>-App">
                  <div class="c-Heading_Lv4 <%= namespace %>-App_Label">Android版</div>
                  <div class="<%= namespace %>-App_Btn">
                    <a href="https://app.adjust.com/6skojm5" target="_blank" rel="noopener noreferrer">
                      <img src="<%= sitepath %>assets/img/common/btn-googleplay.png" width="163" alt="Google Play">
                    </a>
                  </div>
                  <div class="<%= namespace %>-App_Qr">
                    <img src="<%= sitepath %>assets/img/shop/consultation-seminar/img-qr-android.png" width="100" alt="https://app.adjust.com/pkc0n9a">
                  </div>
                </li>
              </ul>
              <div>

              </div>
              <p class="u-Adjust_Mt-16">「楽天シニア」アプリの詳細は、楽天シニアページより、ご確認ください。</p>
              <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
                <a href="https://senior.rakuten.co.jp/" class="c-Btn_Regular-large" target="_blank"><span>楽天シニアの詳細を見る</span></a>
              </div>
            </li>
            <li>
              <h4 class="c-Heading_Lv4">2. 「楽天シニア」アプリで対象イベントを検索する</h4>
              <p class="u-Adjust_Mt-16">ホーム画面で、イベント検索をタップしてください。</p>
              <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/shop/consultation-seminar/img-02.png" alt="" width="300">
              </p>
              <p class="u-Adjust_Mt-16">イベント検索画面で、行政手続き講座をタップしてください。</p>
              <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/shop/consultation-seminar/img-03-230623.png" alt="" width="300">
              </p>
              <p class="u-Adjust_Mt-16">イベント名が【デジタル活用】から始まる講座が対象となります。</p>
              <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/shop/consultation-seminar/img-04.png" alt="" width="300">
              </p>
            </li>
            <li>
              <h4 class="c-Heading_Lv4">3. 講座を選んで予約する</h4>
              <p class="u-Adjust_Mt-16">参加したい講座を選んで予約申込へをタップしてください。</p>
              <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/shop/consultation-seminar/img-05.png" alt="" width="300">
              </p>
              <p class="u-Adjust_Mt-16">予約を確定するをタップすると予約完了となります。</p>
              <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
                <img src="<%= sitepath %>assets/img/shop/consultation-seminar/img-06.png" alt="" width="300">
              </p>
            </li>
            <li>
              <h4 class="c-Heading_Lv4">4. 講座当日、オンラインで参加する</h4>
              <p class="u-Adjust_Mt-16">オンラインで参加する方法として、パソコンまたは、スマートフォンで参加する方法がございます。ご希望の方法にてご参加ください。<br>
                また、オンラインの講座は、ご自宅のパソコンやスマートフォンにて、テレビ会議やオンラインセミナーを利用するためのサービスアプリZoomを使用します。</p>

              <ul class="<%= namespace %>-List_Nav-ancher u-Adjust_Mt-16">
                <li><a href="#join-pc" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>パソコンで参加する</a></li>
                <li><a href="#join-sp" class="c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>スマートフォンで参加する</a></li>
              </ul>

              <div id="join-pc" class="<%= namespace %>-Layout_Section-inner">
                <h4 class="c-Heading_Lv4">パソコンで参加する</h4>
                <p>講座当日までに使用するパソコンにZoomのダウンロードをお願いします。</p>
                <p><a href="https://zoom.us/download" class="c-Link_Txt-inline" target="_blank" rel="noopener noreferrer">パソコン用Zoomダウンロードはこちら<span class="c-Icon_New-window-l"></span></a></p>
                <p>楽天シニアから参加に関するご案内メールが開催日の前日または前々日に届きます。<br>
                  そちらのメールに記載している参加用URLをパソコンで開き、ご参加ください。</p>
                <p class="c-Txt_Cap">※Zoomが起動します。</p>
              </div>

              <div id="join-sp" class="<%= namespace %>-Layout_Section-inner">
                <h4 class="c-Heading_Lv4">スマートフォンで参加する</h4>
                <p>講座当日までに使用するスマートフォンにZoomのダウンロードをお願いします。</p>

                <ul class="<%= namespace %>-List_Ancher">
                  <li><a href="https://itunes.apple.com/us/app/id546505307" class="c-Link_Txt-inline" target="_blank" rel="noopener noreferrer">iPhone用Zoomダウンロードはこちら<span class="c-Icon_New-window-l"></span></a></li>
                  <li><a href="https://play.google.com/store/apps/details?id=us.zoom.videomeetings" class="c-Link_Txt-inline" target="_blank" rel="noopener noreferrer">Android用Zoomダウンロードはこちら<span class="c-Icon_New-window-l"></span></a></li>
                </ul>

                <p class="u-Adjust_Mt-32">楽天シニアのマイページ画面で、申込履歴をタップします。</p>
                <p class="u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/shop/consultation-seminar/img-07.png" alt="" width="300">
                </p>
                <p class="u-Adjust_Mt-32">参加予定を選択し、参加するイベントの詳細を確認するをタップする</p>
                <p class="u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/shop/consultation-seminar/img-08.png" alt="" width="300">
                </p>
                <p class="u-Adjust_Mt-32">イベントの詳細ページで、イベントに参加するをタップし、ご参加ください。</p>
                <p class="c-Txt_Cap">※Zoomが起動します。</p>
                <p class="u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/shop/consultation-seminar/img-09.png" alt="" width="300">
                </p>
              </div>
            </li>
          </ol>
        </div>
      </div>

    </section>

    <section class="<%= namespace %>-Layout_Section">
      <div class="<%= namespace %>-Layout_Section-inner <%= namespace %>-Address">
        <h4 id="link01" class="c-Heading_Lv4">予約方法や講座に関するお問い合わせはこちら</h4>
        <p>楽天シニア カスタマーサポート</p>
        <p>0120-169-429（平日10:00-14:00）<br>
          <a href="mailto:rakuten-senior-user@faq.rakuten.co.jp?subject=%E4%BA%88%E7%B4%84%E6%96%B9%E6%B3%95%E3%82%84%E8%AC%9B%E5%BA%A7%E3%81%AB%E9%96%A2%E3%81%99%E3%82%8B%E3%81%8A%E5%95%8F%E3%81%84%E5%90%88%E3%82%8F%E3%81%9B&body=%E2%80%BB%E3%81%8A%E5%95%8F%E5%90%88%E3%81%9B%E3%81%AB%E3%81%A4%E3%81%8D%E3%81%BE%E3%81%97%E3%81%A6%E3%81%AF%E3%80%81%E4%B8%8B%E8%A8%98%E3%81%AE%E6%83%85%E5%A0%B1%E3%81%A8%E3%81%A8%E3%82%82%E3%81%AB%E3%81%94%E7%94%A8%E4%BB%B6%E3%82%92%E3%81%94%E9%80%A3%E7%B5%A1%E3%81%84%E3%81%9F%E3%81%A0%E3%81%91%E3%81%BE%E3%81%99%E3%81%A8%E6%97%A9%E6%9C%9F%E8%A7%A3%E6%B1%BA%E3%81%AB%E7%B9%8B%E3%81%8C%E3%82%8A%E3%82%84%E3%81%99%E3%81%84%E5%82%BE%E5%90%91%E3%81%8C%E3%81%94%E3%81%96%E3%81%84%E3%81%BE%E3%81%99%E3%80%82%0D%0A%E3%81%94%E5%8D%94%E5%8A%9B%E3%81%AE%E3%81%BB%E3%81%A9%E3%80%81%E5%AE%9C%E3%81%97%E3%81%8F%E3%81%8A%E9%A1%98%E3%81%84%E7%94%B3%E3%81%97%E4%B8%8A%E3%81%92%E3%81%BE%E3%81%99%E3%80%82%0D%0A%0D%0A%EF%BC%88%EF%BC%91%EF%BC%89%E3%81%8A%E5%90%8D%E5%89%8D%0D%0A%EF%BC%88%EF%BC%92%EF%BC%89%E6%A5%BD%E5%A4%A9%E4%BC%9A%E5%93%A1%E3%81%A7%E3%81%94%E7%99%BB%E9%8C%B2%E3%81%95%E3%82%8C%E3%81%A6%E3%81%84%E3%82%8B%E3%83%A1%E3%83%BC%E3%83%AB%E3%82%A2%E3%83%89%E3%83%AC%E3%82%B9%0D%0A%EF%BC%88%EF%BC%93%EF%BC%89%E3%81%94%E7%94%A8%E4%BB%B6">rakuten-senior-user@faq.rakuten.co.jp</a>
        </p>
      </div>
    </section>

    <section class="<%= namespace %>-Layout_Section">
      <div class="<%= namespace %>-Util_Pc">
        <a href="https://senior.rakuten.co.jp/campaign/smartphone_lesson/main/?utm_source=rm&utm_medium=banner&utm_campaign=pc" target="_blank" rel="noopener noreferrer">
          <img src="<%= sitepath %>assets/img/shop/consultation-seminar/bnr-pc.png" width="1032" alt="はじめてでも安心！楽天シニアのスマホ教室">
        </a>
      </div>
      <div class="<%= namespace %>-Util_Sp">
        <a href="https://senior.rakuten.co.jp/campaign/smartphone_lesson/main/?utm_source=rm&utm_medium=banner&utm_campaign=sp" target="_blank" rel="noopener noreferrer">
          <img src="<%= sitepath %>assets/img/shop/consultation-seminar/bnr-sp.png" width="328" alt="はじめてでも安心！楽天シニアのスマホ教室">
        </a>
      </div>
    </section>

  </div>
</div>


<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-shop-v2.ejs') %>

    <%#- include('/include/footer/bnr/bnr-shop.ejs') %>

    <%#- include('/faq/include/related-shop.ejs') %>

  </div>

  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>


</div>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
