<% const pagetitle = "Apple Watch一覧 | 製品 | 楽天モバイル" -%>
<% const directories = [{path:"product/", label:"製品"}] -%>
<% const currentDir = "product_apple-watch" %>
<% const namespace = "product-apple-watch-top" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルのApple Watchラインアップ。最新のApple Watch Series 9、Apple Watch Ultra 2、Apple Watch SE（第2世代）に加え、既存モデルApple Watch Ultra のご購入、おすすめモデルの製品仕様、価格、スペック比較がご覧いただけます。',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/iphone/product-iphone.css?20240426">
<link rel="stylesheet" href="<%= sitepath %>assets/css/product/apple-watch/apple-watch-top.css?20240424">
<%- include('/include/_append-head') %>

</head>

<body>
  <%- include('/include/_prepend-body') %>

  <div class="l-System">

    <%- include('/include/_header') %>

    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>

    <div class="l-System_Container">
      <p class="c-Txt_Cap u-Adjust_Align-right u-Adjust_Mt-8">※表記の金額はすべて税込です。</p>
      <h1 class="c-Heading_Lv1 u-Adjust_Mt-8 u-Adjust_Mb-16">Apple Watch一覧</h1>

      <div class="u-Adjust_Mt-24 u-Adjust_Align-center" style="border: 1px solid #D1D1D1;">
        <a class="c-Banner_Hover-act"
          href="<%= sitepath %>product/apple-watch/why-apple-watch/?l-id=product_apple-watch_product_apple-watch_why-apple-watch">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-watch-health-343-108-240222.png" width="686" height="216">
            <img src="<%= sitepath %>assets/img/bnr/bnr-watch-health-1032-160-240222.png" width="1032" height="160" alt="Apple Watchを選ぶ理由">
          </picture>
        </a>
      </div>
    </div>

    <%# 再利用可能性あるためコメントアウト
      <div class="l-System_Container u-Adjust_Mt-48">
        <div class="u-Adjust_Px-16 u-Adjust_Py-16 u-Bg_Pink5">
          <p class="c-Txt_Emp-01 u-Adjust_Align-center">下記製品は、楽天モバイル公式 楽天市場店では<span class="c-Txt_Emp-02">全通信キャリア最安で販売中！</span></p>
          <p class="c-Txt_Cap u-Adjust_Align-center u-Adjust_Mt-8">※2023年12月14日時点。公式オンラインのApple Watch本体代金の比較。</p>
          <p class="u-Adjust_Align-center u-Adjust_Mt-8">Apple Watch Series 9、Apple Watch Ultra</p>
          <div class="u-Adjust_Align-center u-Adjust_Mt-16">
            <a href="https://www.rakuten.ne.jp/gold/rakutenmobile-store/product/apple-watch-series-9/?scid=wi_rmb_ich_product_apple-watch" class="c-Btn_Regular" target="_blank"><span>楽天モバイル公式 <br class="u-Show_Oox">楽天市場店はこちら<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>

            <p class="u-Adjust_Mt-16">
              <a class="c-Link_Txt-inline" href="https://www.rakuten.ne.jp/gold/rakutenmobile-store/product/apple-watch/fee/?scid=wi_rmb_ich_product_apple-watch_fee" target="_blank">他キャリアとの価格比較表を見る<span class="c-Icon_Chevron-right"></span></a>
            </p>
          </div>
        </div>
      </div>
    %>

      <div class="apple-watch-top-Layout_Main u-Adjust_Mt-24">
        <div class="l-System_Container">
          <div>

            <%- include('/include/product/apple-watch/_apple-watch-top-list', { lId: currentDir }) %>

          </div>

          <div class="apple-watch-top-Comparison">
            <h2>あなたにぴったりの Apple Watch を見つけよう。</h2>
            <a href="<%= sitepath %>product/apple-watch/comparison/?l-id=product_apple-watch_product_apple-watch_comparison" class="c-Btn_Regular-large"><span>Apple Watchを比較する</span></a>
            <h2 class="u-Adjust_Mt-32">Apple Watch Series 8はこちらで購入いただけます。</h2>
            <a href="https://www.rakuten.ne.jp/gold/rakutenmobile-store/product/apple-watch-series-8/?scid=wi_rmb_ich_product_apple-watch_apple-watch-series8" target="_blank" class="c-Btn_Regular-large"><span>楽天モバイル公式 楽天市場店<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
          </div>

          <p class="u-Adjust_Mt-8"><a class="c-Link_Txt-inline" href="<%= sitepath %>product/end/?l-id=product_apple-watch_product_end">販売終了製品一覧<span class="c-Icon_Chevron-right"></span></a></p>
        </div>

        <div class="l-System_Container u-Adjust_Mt-32">
          <h3 class="c-Heading_Lv3 u-Adjust_Align-center">Apple Watchだけで音声通話・データ通信ができる！</h3>
          <div class="l-Media_Grid-half u-Adjust_Mt-24">
            <div class="l-Media_Image">
              <h4 class="c-Heading_Lv4">自身で利用する場合</h4>
              <div class="u-Adjust_Mt-8">
                <a class="c-Banner_Hover-act"
                  href="<%= sitepath %>service/number-share/?l-id=product_apple-watch_service_number-share">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-number-share-343-108-240301.png" width="686" height="216">
                    <img src="<%= sitepath %>assets/img/bnr/bnr-number-share-504-158-240301.png" width="504" height="158" alt="電話番号シェアサービス（月額550円）。期間中にお申し込みで3カ月分（1,650円）を1,650ポイント還元で実質3カ月無料！" loading="lazy">
                  </picture>
                </a>
              </div>
            </div>

            <div class="l-Media_Image">
              <h4 class="c-Heading_Lv4">家族のApple Watchで利用する場合</h4>
              <div class="u-Adjust_Mt-8">
                <a class="c-Banner_Hover-act" href="<%= sitepath %>fee/apple-watch-family-sharing/?l-id=product_apple-watch_fee_apple-watch-family-sharing">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-apple-watch-family-sharing-343-108.png" width="686" height="216">
                    <img src="<%= sitepath %>assets/img/bnr/bnr-apple-watch-family-sharing-504-158.png" width="504" height="158" alt="「Apple Watch ファミリー共有」たった1台のiPhoneで、家族みんなのApple Watchとつながれます。" loading="lazy">
                  </picture>
                </a>
              </div>
            </div>
          </div>

          <h3 class="c-Heading_Lv3 u-Adjust_Align-center u-Adjust_Mt-32">Apple Watch購入をご検討の方へのおすすめ情報</h3>
          <div class="l-Media_Grid-half u-Adjust_Mt-24">
            <div class="l-Media_Image">
              <h4 class="c-Heading_Lv4">無料でもらえる傷害保険</h4>
              <div class="u-Adjust_Mt-8">
                <a class="c-Banner_Hover-act"
                  href="<%= sitepath %>campaign/applewatch-insurance/?l-id=product_apple-watch_campaign_applewatch-insurance">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-workout-343-108-231020.png" width="686" height="216">
                    <img src="<%= sitepath %>assets/img/bnr/bnr-workout-504-158-231130.png" width="504" height="158" alt="楽天モバイルでApple Watchご購入で※1 ワークアウト保険が2年間無料※2" loading="lazy">
                  </picture>
                </a>
              </div>
            </div>

            <div class="l-Media_Image">
              <h4 class="c-Heading_Lv4">楽天ポイントが貯まる・使える医療保険</h4>
              <div class="u-Adjust_Mt-8">
                <a class="c-Banner_Hover-act" href="<%= sitepath %>campaign/applewatch-wellsmile/?l-id=product_apple-watch_campaign_applewatch-wellsmile">
                  <picture>
                    <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-applewatch-wellsmile-343-108.png" width="686" height="216">
                    <img src="<%= sitepath %>assets/img/bnr/bnr-applewatch-wellsmile-504-158.png" width="504" height="158" alt="[PR]Apple Watch＆楽天生命ウェルスマイル Apple Watchと動こう、遊ぼう！楽しみながら楽天ポイントが貯まる！" loading="lazy">
                  </picture>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="u-Adjust_Mt-32">
          <%#
            const accessoryCarouselConf = {
              namespace,
              accessoryArray: [
                {
                  'url': `/product/accessory/apple-rm2303002/?l-id=${currentDir}_accessory_apple-rm2303002`,
                  'image': '/assets/img/accessory/apple-rm2303002/pht-accessory-00.png',
                  'name': '41mmケース用オリーブスポーツバンド',
                  'label': '',
                },
                {
                  'url': `/product/accessory/apple-rm2303003/?l-id=${currentDir}_accessory_apple-rm2303003`,
                  'image': '/assets/img/accessory/apple-rm2303003/pht-accessory-00.png',
                  'name': '41mmケース用スカイスポーツバンド',
                  'label': '',
                },
                {
                  'url': `/product/accessory/apple-rm2303001/?l-id=${currentDir}_accessory_apple-rm2303001`,
                  'image': '/assets/img/accessory/apple-rm2303001/pht-accessory-00.png',
                  'name': '41mmケース用ブライトオレンジスポーツバンド',
                  'label': '',
                },
                {
                  'url': `/product/accessory/apple-rm2303005/?l-id=${currentDir}_accessory_apple-rm2303005`,
                  'image': '/assets/img/accessory/apple-rm2303005/pht-accessory-00.png',
                  'name': '45mmケース用オリーブスポーツバンド',
                  'label': '',
                },
                {
                  'url': `/product/accessory/apple-rm2303006/?l-id=${currentDir}_accessory_apple-rm2303006`,
                  'image': '/assets/img/accessory/apple-rm2303006/pht-accessory-00.png',
                  'name': '45mmケース用スカイスポーツバンド',
                  'label': '',
                },
                {
                  'url': `/product/accessory/apple-rm2303004/?l-id=${currentDir}_accessory_apple-rm2303004`,
                  'image': '/assets/img/accessory/apple-rm2303004/pht-accessory-00.png',
                  'name': '45mmケース用ブライトオレンジスポーツバンド',
                  'label': '',
                },
              ],
              lid: `${currentDir}_accessory_apple-watch_bottom`
            }
          -%>
          <%#- include('/include/product/apple-watch/_product-accessory.ejs', { accessoryCarouselConf, currentDir }) %>
        </div>

        <div class="product-iphone_Recommend">
          <div class="l-System_Container">
            <h2 class="c-Heading_Lv2">Apple Watchを使うなら楽天モバイルがおすすめ</h2>
            <div>
              <ul class="apple-watch-top-Layout_List">
                <li class="c-Theme-White">
                  <div>
                    <p class="c-Txt_Emp-01 c-Txt_Normal-m">
                      <a href="<%= sitepath %>service/number-share/?l-id=product_apple-watch_service_number-share" class="c-Link_Txt">電話番号シェアサービス</a>
                    </p>
                    <div class="apple-watch-top-Layout_Grid u-Adjust_Mt-16">
                      <div class="l-Media_Image">
                        <img src="/assets/img/product/iphone/number_share-240301.png" alt="">
                      </div>
                      <div>
                        <p> 1つの電話番号を、iPhoneとApple Watchで共有して利用できるサービスです。iPhoneが側になくても、
                          Apple Watchだけで音声通話・データ通信を利用できます。</p>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="c-Theme-White">
                  <div>
                    <p class="c-Txt_Emp-01 c-Txt_Normal-m">
                      <a href="<%= sitepath %>fee/apple-watch-family-sharing/?l-id=product_apple-watch_fee_apple-watch-family-sharing" class="c-Link_Txt">Apple Watch ファミリー共有</a>
                    </p>
                    <div class="apple-watch-top-Layout_Grid u-Adjust_Mt-16">
                      <div class="l-Media_Image">
                        <img src="<%= sitepath %>assets/img/common/icon-apple-watch-family-sharing.png" alt="Apple Watchファミリー共有">
                      </div>
                      <div>
                        <p>iPhoneを持っていないお子さまやシニアのご家族も、Apple Watchだけで音声通話・データ通信を利用できるサービスです。</p>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="c-Theme-White">
                  <div>
                    <p class="c-Txt_Emp-01 c-Txt_Normal-m">
                      <a href="<%= sitepath %>service/applewatch-care/?l-id=product_apple-watch_service_applewatch-care" class="c-Link_Txt">あんしん保証with AppleCare Services for Apple Watch</a>
                    </p>
                    <div class="apple-watch-top-Layout_Grid u-Adjust_Mt-16">
                      <div class="l-Media_Image">
                        <img src="<%= sitepath %>assets/img/product/img-service-applecare.png" alt="">
                      </div>
                      <div>
                        <p class="c-Txt_Emp-02">加入できるのは購入時のみ</p>
                        <p class="u-Adjust_Mt-8">Apple Watchの修理や製品サポートをApple 公式のサービス同等の内容でご利用いただけます。</p>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="c-Theme-White">
                  <div>
                    <p class="c-Txt_Emp-01 c-Txt_Normal-m">
                      <a href="<%= sitepath %>service/tradein/?l-id=product_apple-watch_service_trade-in" class="c-Link_Txt">スマホ下取りサービス<br>（Apple Watch・iPadも対象）</a>
                    </p>
                    <div class="apple-watch-top-Layout_Grid u-Adjust_Mt-16">
                      <div class="l-Media_Image">
                        <img src="<%= sitepath %>assets/img/product/img-service-tradein-230222.png" alt="">
                      </div>
                      <div>
                        <p class="c-Txt_Emp-02">Watch 7 Hermes 45mm - GPS+Cellular - Stainless を下取りに出すと、最大27,500円相当になります。</p>
                        <p class="u-Adjust_Mt-8 c-Txt_Cap">※Watch 7 Hermes - 45mm（GPS+Cellular）ステンレスケースを下取りに出した場合<br>※下取り金額は電子マネーの楽天キャッシュで受け取ることができます。</p>
                        <p class="u-Adjust_Mt-8 c-Txt_Cap">※上記下取り金額は2023年12月22日時点のものとなります。</p>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="apple-watch-top-Shop_Reservation">
              <p class="c-Txt_Normal-l c-Txt_Emp-01">オンラインで予約して<br>ショップで製品受け取り</p>
              <div class="apple-watch-top-Shop_Reservation-btn u-Adjust_Pt-8">
                <a href="<%= sitepath %>shop/?l-id=product_apple-watch_shop" class="c-Btn_Secondly-large">来店予約をする</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    <%- include('/include/product/iphone/_chat') %>


    <footer class="g-Footer">

      <div class="g-Footer_Aside">

        <%- include('/include/footer/related/_related-product-v2.ejs') %>

        <%- include('/include/footer/bnr/_bnr.ejs') %>

        <%#- include('/faq/include/related-product.ejs') %>

      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>

      <%- include('/include/_footer') %>

    </footer>

  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/product.apple-watch.apple-watch-top.index.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>

</body>

</html>
