<% const pagetitle = "ZERO宣言" -%>
<% const directories = [{path:"fee/", label:"料金プラン"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '完全仮想化クラウドネイティブモバイルネットワークだからこそ実現できる新常識。楽天モバイルは、お客様のご負担を限りなく「ゼロ」にすることを目指します。',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/fee/zero/fee-zero.css?20240424">
<%- include('/include/_append-head') %>

</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>

<div class="fee-zero-Hero">
  <div class="l-System_Container">
    <div class="fee-zero-Hero_Main">
      <p class="fee-zero-Hero_Main-note">※表記の金額は特に記載のある場合を除き全て税込です。</p>
      <h1><img src="<%= sitepath %>assets/img/fee/zero/img-main-pc.png" class="fee-zero-Utility_Img-pc" alt="ZERO宣言"><img src="<%= sitepath %>assets/img/fee/zero/img-main-sp.png" class="fee-zero-Utility_Img-sp" alt="ZERO宣言　世界初、完全仮想化クラウドネイティブモバイルネットワークだからこそ実現できる新常識。"></h1>
      <div class="fee-zero-Hero_Main-read"><img src="<%= sitepath %>assets/img/fee/zero/img-read-pc.png" class="fee-zero-Utility_Img-pc" alt="世界初、完全仮想化クラウドネイティブモバイルネットワークだからこそ実現できる新常識。"><img src="<%= sitepath %>assets/img/fee/zero/img-read-sp.png" class="fee-zero-Utility_Img-sp" alt="世界初、完全仮想化クラウドネイティブモバイルネットワークだからこそ実現できる新常識。"></div>
    </div>
  </div>
</div>

<div class="fee-zero-Cta">
  <div class="l-System_Container">
    <div>
      <ul class="fee-zero-Cta_Buttons fee-zero-Utility_Pc-only-section">
        <li>
          <ul>
            <li><a class="js-scroll" href="#zero-5g"><img src="<%= sitepath %>assets/img/fee/zero/img-zero-info-01-0701-pc.png" width="504" alt="5G通信 (一部エリアのみ・順次拡大予定)※1・・・0円"></a></li>
            <li><a class="js-scroll" href="#zero-link"><img src="<%= sitepath %>assets/img/fee/zero/img-zero-info-02-0701-pc.png" width="504"  alt="Rakuten Link アプリ利用で国内通話料※2・・・0円"></a></li>
          </ul>
        </li>
        <li><a class="js-scroll" href="#zero-other"><img src="<%= sitepath %>assets/img/fee/zero/img-zero-info-03-231213-pc.png" width="504"  alt="各種手数料・・・0円・契約事務手数料※3・MNP手数料・契約解除料※4・eSIM交換手数料※5・eSIM再発行手数料※6"></a></li>
      </ul>
      <ul class="fee-zero-Cta_Buttons fee-zero-Utility_Sp-only-section">
        <li><a class="js-scroll" href="#zero-5g"><img src="<%= sitepath %>assets/img/fee/zero/img-zero-info-01-0701-sp.png" alt="5G通信 (一部エリアのみ・順次拡大予定)※1・・・0円"></a></li>
        <li><a class="js-scroll" href="#zero-link"><img src="<%= sitepath %>assets/img/fee/zero/img-zero-info-02-0701-sp.png" alt="Rakuten Link アプリ利用で国内通話料※2・・・0円"></a></li>
        <li><a class="js-scroll" href="#zero-other"><img src="<%= sitepath %>assets/img/fee/zero/img-zero-info-03-231213-sp.png" alt="各種手数料・・・0円・契約事務手数料※3・MNP手数料・契約解除料※4・eSIM交換手数料※5・eSIM再発行手数料※6"></a></li>
      </ul>
    </div>
    <p class="u-Adjust_Mt-16 c-Txt_Cap">※1 プラン料金に含む。5Gは一部エリアで提供されています。詳しくは5Gサービスエリアをご確認ください ※2 国内通話かけ放題（Rakuten Linkアプリ使用時）はプランに含まれる。アプリ未使用時30秒20円（税込22円）。一部対象外番号あり ※3 Rakuten最強プラン 契約時の手数料のことです ※4 Rakuten最強プラン解約時の手数料のことです。契約者が、お申し込み後1年以内に回線契約を解約し、かつ本サービスの利用実態がない場合、 当社は、契約者に対して、当社が解約事務手数料として定める金額の980円（税込1,078円）の支払いを請求することがあります  ※5 SIMカードからeSIMへの交換の場合のみ。SIMカードへの交換は手数料3,000円（税込3,300円） ※6 eSIMの場合のみ。SIMカードの場合は手数料3,000円（税込3,300円）</p>
  </div>
</div>

<div id="js-trigger" class="fee-zero-Utility_Bg-gray u-Adjust_Mt-32 u-Adjust_Mt-pc-40 u-Adjust_Pt-48 u-Adjust_Pb-48">
  <div class="l-System_Container">
    <div id="zero-5g" class="fee-zero-Section_5G">
      <h2 class="fee-zero-Utility_Title-section">
        <img class="fee-zero-Utility_Pc-only-section" src="<%= sitepath %>assets/img/fee/zero/img-title-5g-pc.png" alt="プランにお申し込みいただくと 料金そのままで5Gも使えてZERO">
        <img class="fee-zero-Utility_Sp-only-section" src="<%= sitepath %>assets/img/fee/zero/img-title-5g-sp.png?201104" alt="プランにお申し込みいただくと 料金そのままで5Gも使えてZERO">
      </h2>
      <div class="fee-zero-Utility_Content-section">
        <div class="l-Media_Grid fee-zero-Section_5g-intro">
          <div class="fee-zero-Utility_Pc-only-section l-Media_Image"><img src="<%= sitepath %>assets/img/fee/zero/img-4g5g-pc.png" alt="4G+5G"></div>
          <div class="fee-zero-Utility_Sp-only-section l-Media_Image"><img src="<%= sitepath %>assets/img/fee/zero/img-4g5g-sp.png" alt="4G+5G"></div>
          <div>
            <p>「Rakuten最強プラン」をお申し込みいただくと、4G通信と5G通信がご利用いただけます。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-16">※5Gは一部エリアのみ。順次拡大予定。5G通信0円とは、5G通信料がプラン料金に含まれているという意味です。5Gのご利用には、<a href="<%= sitepath %>area/?l-id=zero_area_5g-area-04">対象エリア</a>と<a href="<%= sitepath %>product/?l-id=zero_product_01">対応製品</a>が必要です。5Gご利用前に、製品のソフトウェアアップデートをおこなってください。</p>
          </div>
        </div>
        <div class="fee-zero-Section_Whatis5g">
          <div class="fee-zero-Utility_Pc-only-section"><img src="<%= sitepath %>assets/img/fee/zero/img-whatis5g-text-0701-pc.png" width="558" alt="2020年9月30日楽天モバイルの5Gサービス開始 5Gとは"></div>
          <div class="fee-zero-Utility_Sp-only-section"><img src="<%= sitepath %>assets/img/fee/zero/img-whatis5g-text-0701-sp.png" width="259" alt="2020年9月30日楽天モバイルの5Gサービス開始 5Gとは"></div>
          <div class="fee-zero-Section_Whatis5g-buttons u-Adjust_Mt-24">
            <a class="c-Btn_Primary" href="<%= sitepath %>area/5g/?l-id=zero_5g">5Gとは？を見る</a>
            <a class="c-Btn_Secondly" href="<%= sitepath %>product/?l-id=zero_product_02">5G対応製品を見る</a>
          </div>
        </div>
      </div>
    </div>
    <div id="zero-link" class="fee-zero-Section_Link u-Adjust_Mt-48">
      <h2 class="fee-zero-Utility_Title-section">
        <img class="fee-zero-Utility_Pc-only-section" src="<%= sitepath %>assets/img/fee/zero/img-title-link-pc.png" alt="通話だっておトク Rakuten Link アプリ利用で国内通話料がZERO" width="633">
        <img class="fee-zero-Utility_Sp-only-section" src="<%= sitepath %>assets/img/fee/zero/img-title-link-sp.png?201104" alt="通話だっておトク Rakuten Link アプリ利用で国内通話料がZERO">
      </h2>
      <div class="fee-zero-Utility_Content-section">
        <div class="l-Media_List-2 u-Adjust_Pt-40">
          <div>
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/fee/zero/img-link-01.png?210628-02" alt="" width="394">
            </div>
            <div>
              <ul class="c-List_Text-disc">
                <li>Rakuten Linkを利用していないスマホや固定電話への通話もかけ放題<small>※2</small></li>
                <li>海外から国内への通話もかけ放題<small>※5</small></li>
            </ul>
            <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※アプリを利用しない場合は通常の通話料金（30秒20円（税込22円））がかかります。</p>
            </div>
          </div>
          <div>
            <div class="l-Media_Image u-Adjust_Mb-8">
              <img src="<%= sitepath %>assets/img/fee/zero/img-link-02.png?210628-02" alt="" width="394">
            </div>
            <div>
              <ul class="c-List_Text-disc">
                <li>Rakuten Linkアプリの通話やSMSのデータ利用量は、月々のプラン料金のデータ利用量にはカウントされない</li>
                <li>高速データ容量を消費せず、速度制限なくご利用可能</li>
            </ul>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※予告なく変更になる場合があります。</p>
            <p class="c-Txt_Cap">※Rakuten Linkアプリ以外からのSMS送受信はAndroidのみ。</p>
            </div>
          </div>
        </div>
        <div class="fee-zero-Section_Link-flex fee-zero-Utility_Pc-only-section u-Adjust_Mt-40">
          <div class="fee-zero-Section_Link-grid1-pc">
            <img src="<%= sitepath %>assets/img/fee/zero/img-link-icon.png?210628-02" alt="Rakuten Linkアプリ" width="96">
          </div>
          <div class="fee-zero-Section_Link-grid2-pc">
            <h3 class="c-Heading_Lv4">Rakuten Linkアプリとは？</h3>
            <p class="fee-zero-Section_Link-grid1-content">無料通話、無料メッセージやグループメッセージに、ニュースの閲覧やお支払い機能が加わった、楽天モバイルオリジナルの次世代メッセージサービスアプリです。</p>
            <a class="c-Btn_Secondly-large u-Adjust_Mt-16" href="<%= sitepath %>service/rakuten-link/?l-id=zero_rakuten-link">Rakuten Linkアプリの詳細を見る</a>
          </div>
        </div>
        <div class="fee-zero-Section_Link-flex fee-zero-Utility_Sp-only-section u-Adjust_Mt-40">
          <div class="fee-zero-Section_Link-grid1-sp">
            <h3 class="c-Heading_Lv4">Rakuten Linkアプリとは？</h3>
            <p class="fee-zero-Section_Link-grid1-sp-content">無料通話、無料メッセージやグループメッセージに、ニュースの閲覧やお支払い機能が加わった、楽天モバイルオリジナルの次世代メッセージサービスアプリです。</p>
          </div>
          <div class="fee-zero-Section_Link-grid2-sp u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/fee/zero/img-link-icon.png?210628-02" alt="Rakuten Linkアプリ" width="96">
          </div>
          <div class="fee-zero-Section_Link-grid3-sp fee-zero-Section_Link-button u-Adjust_Align-center">
            <a class="c-Btn_Secondly" href="<%= sitepath %>service/rakuten-link/?l-id=zero_rakuten-link">Rakuten Linkアプリの詳細を見る</a>
          </div>
        </div>
        <p class="u-Adjust_Mt-40 c-Txt_Cap">※2 国内通話かけ放題（Rakuten Linkアプリ使用時）はプランに含まれる。アプリ未使用時30秒20円（税込22円）。一部対象外番号あり。</p>
        <p class="c-Txt_Cap">※5 Rakuten Linkアプリ使用時。通話料には消費税相当額は加算されません。海外の対象国と地域からのみ利用可能。その他の地域に関してはWi-Fi接続中のみ利用可能。対象エリアおよび条件は変更する場合あり。対象エリアをご確認ください。また、OS標準の電話アプリを利用した場合、海外の対象国と地域でのみ国・地域別従量課金で利用可能。なお、iOSの場合、Rakuten Linkアプリでは着信できないため、 iOS標準の電話アプリでの着信となり、海外での着信も国・地域別従量課金となります。</p>
      </div>
    </div>
    <div id="zero-other" class="fee-zero-Section_Others u-Adjust_Mt-48">
      <h2 class="fee-zero-Utility_Title-section-others">
        <img class="fee-zero-Utility_Pc-only-section" src="<%= sitepath %>assets/img/fee/zero/img-title-others-pc.png" alt="さまざまな各種手数料もZERO">
        <img class="fee-zero-Utility_Sp-only-section" src="<%= sitepath %>assets/img/fee/zero/img-title-others-sp.png?201104" alt="さまざまな各種手数料もZERO">
      </h2>
      <div class="fee-zero-Utility_Content-section-narrow">
        <img class="fee-zero-Utility_Pc-only-section" src="<%= sitepath %>assets/img/fee/zero/img-fee-231213-pc.png" alt="契約事務手数料※3 初期費用なし いままでお申し込み時に必要だった事務手数料もこれからは0円 契約解除料※4 ご満足いただけなければいつでも解約可能。解約時の手数料も0円 eSIM交換手数料※5 SIMカード（マルチSIM）対応製品→eSIM対応製品の切り替え時の手数料も0円 eSIM再発行手数料※6 SIMの紛失や盗難時などの再発行手数料も0円 MNP転出手数料 楽天モバイルから他社に乗り換え時の手数料も0円">
        <img class="fee-zero-Utility_Sp-only-section" src="<%= sitepath %>assets/img/fee/zero/img-fee-231213-sp.png" alt="契約事務手数料※3 初期費用なし いままでお申し込み時に必要だった事務手数料もこれからは0円 契約解除料※4 ご満足いただけなければいつでも解約可能。解約時の手数料も0円 eSIM交換手数料※5 SIMカード（マルチSIM）対応製品→eSIM対応製品の切り替え時の手数料も0円 eSIM再発行手数料※6 SIMの紛失や盗難時などの再発行手数料も0円 MNP転出手数料 楽天モバイルから他社に乗り換え時の手数料も0円">
      </div>
      <p class="c-Txt_Cap u-Adjust_Mt-24">※3 Rakuten最強プラン 契約時の手数料のことです ※4 Rakuten最強プラン解約時の手数料のことです。契約者が、お申し込み後1年以内に回線契約を解約し、かつ本サービスの利用実態がない場合、 当社は、契約者に対して、当社が解約事務手数料として定める金額の980円（税込1,078円）の支払いを請求することがあります ※5 SIMカードからeSIMへの交換の場合のみ。SIMカードへの交換は手数料3,000円（税込3,300円） ※6 eSIMの場合のみ。SIMカードの場合は手数料3,000円（税込3,300円）</p>
    </div>
  </div>
</div>

<div class="fee-zero-Layout_Bottom-fixed" id="js-fixed-btn" aria-expanded="false">
  <div class="fee-zero-Layout_Bottom-fixed-inner">
    <div class="fee-zero-Layout_Bottom-fixed-btn top-Utility_Show-pc-flex">
      <a href="<%= sitepath%>guide/application/?lid-r=zero_guide_application_01" class="c-Btn_Primary">
        <span>新規／乗り換え（MNP）お申し込み</span>
      </a>
    </div>
    <div class="fee-zero-Layout_Bottom-fixed-btn top-Utility_Show-pc-flex" aria-hidden="false" data-type="ms">
      <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&l-id=fee_zero_button_ms&mno_migration=1" class="c-Btn_Secondly">
        <span><span>スーパーホーダイ、組み合わせプランからの</span> プラン変更（移行）お申し込み</span>
      </a>
    </div>
  </div>
</div>

<footer class="g-Footer fee-zero-Layout_Footer u-Adjust_Mt-64">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/related/_related-un-limit-v2.ejs') %>

    <%- include('/include/footer/bnr/_bnr-news.ejs') %>

  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
              <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<script src="<%= sitepath %>assets/js/fee.zero.bundle.js?20240521"></script>
<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
