<% const pagetitle = "日本郵政グループ社員様・ご家族様限定！通常のお申し込み特典に加え更に3,000円相当の楽天ポイントプレゼント" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "postalservices" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  directories: directories,
  description: '日本郵政グループ社員様・ご家族様限定！エントリー＆Rakuten UN-LIMIT VIのお申し込みで通常のお申し込み特典に加え更に3,000円相当の楽天ポイントプレゼント',
  keywords: '',
  noindex: true,
  pathname: filepath
});
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/postalservices/postalservices.css?20240424">
<%- include('/include/_append-head') %>
<script src="<%= sitepath %>assets/js/library/jquery-3.4.1.min.js"></script>
<link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <div class="l-System">
    <%- include('/include/_header') %>
    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>
    <div class="<%= namespace %>-Layout-Label">
      <ul class="c-Label_List <%= namespace %>-Layout-Label_List">
        <li class="c-Label_Normal">対象者限定</li>
        <li class="c-Label_Normal">エントリー必要</li>
        <li class="c-Label_Normal">全製品対象</li>
        <li class="c-Label_Normal">プランのみ申込可</li>
      </ul>
      <p class="<%= namespace %>-Layout-Label_point">ポイント：付与日を含めて6カ月の期間限定ポイント</p>
    </div>

    <h1 class="<%= namespace %>-Hero">
      <img class="<%= namespace %>-Hero_Kv-pc" src="<%= sitepath %>assets/img/campaign/postalservices/postalservices-kv-pc.png?211025" alt="日本郵政グループ社員様・ご家族様限定キャンペーン!!エントリー&Rakuten UN-LIMIT VIのお申し込みで通常のお申し込み特典に加え更に3,000円相当楽天ポイントプレゼント!※Rakuten Linkアプリのご利用が必要です。※本ページにてエントリーせずお申し込みされた場合、本特典の対象外となります。">
      <img class="<%= namespace %>-Hero_Kv-sp" src="<%= sitepath %>assets/img/campaign/postalservices/postalservices-kv-sp.png?211025" alt="日本郵政グループ社員様・ご家族様限定キャンペーン!!エントリー&Rakuten UN-LIMIT VIのお申し込みで通常のお申し込み特典に加え更に3,000円相当楽天ポイントプレゼント!※Rakuten Linkアプリのご利用が必要です。※本ページにてエントリーせずお申し込みされた場合、本特典の対象外となります。">
    </h1>
    <div class="l-System_Container">
      <div class="l-System">
        <p class="c-Txt_Cap u-Adjust_Mt-16">
          ※特典は日本郵政グループ社員様とそのご家族様ともにキャンペーン期間中おひとり様1度のみとなります。<br>
          ※付与するポイントは期間限定ポイントとなり、条件がございます。詳しくは<a href="#rule" class="c-Link_Txt">キャンペーンルール</a>のご確認をお願いします。<br>
          ※すでに楽天モバイルをご契約されている方でも、2回線目のプラン契約時に、本キャンペーンの条件を満たせば特典対象となります
        </p>
         <p class="c-Txt_Emp-02 c-Txt_Normal-l u-Adjust_Mt-24 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
        <h2 class="c-Txt_Normal-ll u-Adjust_Mt-32">開催期間</h2>
        <div class="c-Table u-Adjust_Mt-24">
          <div class="c-Table_Wrap <%= namespace %>-Table">
            <table class="c-Table_Container">
              <tbody>
                <tr>
                  <th scope="row">エントリー期間</th>
                  <td>2021年10月25日(月）9:00～2022年3月31日(木）23:59</td>
                </tr>
                <tr>
                  <th scope="row">お申し込み期間</th>
                  <td>Web：2021年10月25日(月）9:00～2022年3月31日(木）23:59<br>ショップ：2021年10月25日(月）開店～2022年3月31日(木）閉店</td>
                </tr>
                <tr>
                  <th scope="row">プラン利用開始期限</th>
                  <td>プランのお申し込みの翌月末日23:59まで</td>
                </tr>
                <tr>
                  <th scope="row">Rakuten Link利用期限</th>
                  <td>プランのお申し込みの翌月末日23:59まで</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※2022年3月31日(木）23:59までにエントリー及びお申し込みの完了をお願いいたします</p>
        <div class="<%= namespace %>-Utility_Link">
          <a href="#join" class="c-Link_Txt-icon-front u-Adjust_Mt-16 u-Adjust_Mr-16"><span class="c-Icon_Arrow-down-l"></span>キャンペーン参加方法</a>
          <a href="#rule" class="c-Link_Txt-icon-front u-Adjust_Mt-16"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルール</a>
        </div>
        <h2 class="c-Txt_Normal-ll u-Adjust_Mt-64">キャンペーン内容</h2>
        <p class="u-Adjust_Mt-24">エントリーして、Rakuten UN-LIMIT VIにお申し込みいただくと、日本郵政グループ社員様・ご家族様限定で、通常のお申し込み特典に加え、更に3,000円相当の楽天ポイントをプレゼントいたします。</p>
        <div class="<%= namespace %>-Utility_Link-cpn">
          <a href="#fee" class="c-Link_Txt-icon-front u-Adjust_Mt-16 u-Adjust_Mr-16 c-Theme-Light"><span class="c-Icon_Arrow-down-l"></span>Rakuten UN LIMIT VI（料金プラン）とは？</a>
          <span class="u-Adjust_Mt-16 c-Theme-Light u-Adjust_Mr-16">開催中のキャンペーンは<a href="<%= sitepath %>campaign/?l-id=campaign_postalservices_campaign" class="c-Link_Txt">こちら</a></span>
          <span class="u-Adjust_Mt-16 c-Theme-Light c-Link_Txt-icon-front" style="text-decoration:none!important;"><span class="c-Icon_Arrow-down-l"></span><span style="color:#333;padding-right: 0;">エントリーは</span><a href="#entry" class="c-Link_Txt">こちら</a></span>
        </div>
        <h3 class="c-Txt_Normal-l u-Adjust_Mt-64" id="fee">楽天モバイルの料金プラン「Rakuten UN-LIMIT VI」とは？</h3>
        <a href="<%= sitepath %>fee/un-limit/?l-id=campaign_postalservices_fee_un-limit" class="c-Banner_Hover-act">
          <div class="<%= namespace %>-Utility_plan u-Adjust_Mt-24">
            <img class="<%= namespace %>-Utility_Plan-pc" src="<%= sitepath %>assets/img/campaign/postalservices/plan-pc.png" alt="毎月使ったデータ分だけ支払う最適なワンプランデータ1GBまで0円 どれだけ使っても無制限">
            <img class="<%= namespace %>-Utility_Plan-sp" src="<%= sitepath %>assets/img/campaign/postalservices/plan-sp.png" alt="毎月使ったデータ分だけ支払う最適なワンプランデータ1GBまで0円 どれだけ使っても無制限">
          </div>
        </a>
        <p class="c-Txt_Cap u-Adjust_Mt-16">
          ※製品代、オプション料、通話料等は別費用。2回線目以降は0GB～3GBまで980円（税込1,078円）。※条件あり。<br>
          ※データ無制限は、楽天基地局に接続時。公平にサービスを提供するため通信速度の制御を行う場合があります。パートナー回線エリアは、国内は5GB超過後は最大1Mbps、海外は2GB超過後は最大128kbpsで使い放題。最大1Mbpsで使用時、動画再生・アプリダウンロード等では、時間がかかる場合あり。通信速度はベストエフォート（規格上の最大速度）であり、実効速度は通信環境・状況により変動します。
        </p>
        <div class="u-Adjust_Mt-16 u-Adjust_Align-right">
          <a href="<%= sitepath %>fee/un-limit/?l-id=campaign_postalservices_fee_un-limit" class="c-Link_Txt-inline">詳細はこちら<span class="c-Icon_Chevron-right"></span></a>
        </div>
        <h2 class="c-Txt_Normal-ll u-Adjust_Mt-64" id="join">キャンペーン参加方法</h2>
        <ol class="c-Flow u-Adjust_Mt-32">
          <li>
            <h3 class="c-Heading_Lv3">1. エントリーし、開催中のキャンペーンから申し込みをする</h3>

            <p class="u-Adjust_Mt-16">エントリーには、日本郵政グループ社員様の社員番号もしくは事業所名、お名前が必要です。</p>
            <p class="u-Adjust_Mt-8 c-Txt_Cap">※2022年3月31日(木)23:59までにエントリー、かつお申し込みがキャンペーン条件になります</p>
            <div class="c-Theme-Light u-Adjust_Mt-16">
              <h4 class="c-Txt_Normal-m">お申し込みは、下のボタンからお願いします。<br>尚、本キャンペーンは他のキャンペーンと併用可能です。</h4>
              <div class="u-Adjust_Align-center">
                <a href="<%= sitepath %>campaign/?l-id=campaign_postalservices_campaign" class="c-Btn_Secondly-large u-Adjust_Mt-24" id="apply"><span>キャンペーン一覧から<br class="<%= namespace %>-Utility_Show-sp">申し込む</span></a>
                <p class="u-Adjust_Mt-16">お申し込みのキャンペーン条件は各ページにてご確認をお願いします。</p>
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">2.開通手続き、初期設定をしてプラン利用開始する。</h3>
            <p class="u-Adjust_Mt-16 c-Txt_Normal-m"></p>
            <div class="<%= namespace %>-Utility_Esim">
              <div class="c-Theme-Light <%= namespace %>-Utility_Esim-item">
                <ul class="c-List_Text-disc">
                  <li class="c-Txt_Normal-m c-Txt_Emp-01">nanoSIMを申し込んだ場合</li>
                  <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>assets/pdf/product/STARTGUIDE-SIM-CARD.pdf?240321">SIMカード版スタートガイド</a>に従って開通（アクティベート）を行っていただきますようお願いいたします。nanoSIMは、カード台から切り出した状態のmicroSIMからさらに切り出しが必要です。</p>
                  <div class="u-Adjust_Align-center">
                    <img class="u-Adjust_Mt-24" src="<%= sitepath %>assets/img/campaign/postalservices/nanosim.png" width="172" alt="">
                  </div>
                </ul>
              </div>
              <div class="c-Theme-Light <%= namespace %>-Utility_Esim-item">
                <ul class="c-List_Text-disc">
                  <li class="c-Txt_Normal-m c-Txt_Emp-01">eSIMを申し込んだ場合</li>
                  <p class="u-Adjust_Mt-16">eSIMはデジタルSIMなので、物理的なカードはありません。<br>開通（アクティベート）前に、スタートガイド裏面のQRコード読み取りが必要です。<a href="<%= sitepath %>assets/pdf/product/STARTGUIDE-eSIM.pdf?240216">eSIM版スタートガイド</a>の案内に沿って、my 楽天モバイルのWebページで、開通手続きを行ってください。</p>
                  <div class="u-Adjust_Align-center">
                    <img class="u-Adjust_Mt-24" src="<%= sitepath %>assets/img/campaign/postalservices/pdf.png" width="279" alt="">
                  </div>
                </ul>
              </div>
            </div>
            <h4 class="c-Txt_Normal-m u-Adjust_Mt-40">製品の初期設定を行う</h4>
            <a href="<%= sitepath %>guide/setting/?l-id=_campaign_postalservices_guide_setting" class="c-Btn_Secondly u-Adjust_Mt-16 u-Adjust_Mb-16"><span>各種製品の初期設定方法を見る</span></a>
          </li>
          <li>
            <h3 class="c-Heading_Lv3">3.Rakuten Linkアプリを使う</h3>
            <div class="c-Infobox_Standing-info u-Adjust_Mt-16">
              <h4 class="c-Txt_Normal-m">Rakuten Linkご利用の達成条件について</h4>
              <p class="u-Adjust_Mt-8">本キャンペーンの「Rakuten Linkのご利用」とは、「Rakuten UN-LIMIT VI」お申し込みの翌月末日23:59までに以下の操作が完了していることになります。</p>
              <ul class="c-List_Text-disc">
                <li>「Rakuten Link」を用いた発信で10秒以上の通話</li>
              </ul>
            </div>
            <div class="c-Theme-Light u-Adjust_Mt-16">
              <div class="l-Media_Grid-capture">
                <div class="l-Media_Image">
                  <img src="<%= sitepath %>assets/img/campaign/postalservices/rakuten-link.png" width="280" alt="">
                </div>
                <div>
                  <h4 class="c-Txt_Normal-m">Rakuten Linkアプリとは？</h4>
                  <p class="u-Adjust_Mt-8">無料通話、無料SMS、グループチャットに、ニュースの閲覧やお支払い機能が加わった、楽天モバイルオリジナルの次世代メッセージサービスアプリです。</p>
                  <p class="u-Adjust_Mt-8 c-Txt_Cap">
                    ※ニュース閲覧、お支払い機能はAndroid版のみ提供。<br>
                    ※Rakuten Link対応機種は<a href="<%= sitepath %>faq/detail/00001427/?l-id=_campaign_postalservices_faq_detail_00001427">こちら</a>からご確認ください。
                  </p>
                  <a href="<%= sitepath %>service/rakuten-link/?l-id=_campaign_postalservices_service_rakuten-link" class="c-Btn_Secondly u-Adjust_Mt-16"><span>Rakuten Linkの詳細を見る</span></a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="l-Media_Grid-small">
              <div class="l-Media_Image">
                  <img class="l-Media_Image" src="<%= sitepath %>assets/img/campaign/postalservices/r-point.png" alt="">
              </div>
              <div class="u-Adjust_Mt-8">
                <h4 class="c-Txt_Normal-l">4.楽天ポイントGET</h4>
                <p class="u-Adjust_Mt-16">
                  3,000ポイントは、「Rakuten UN-LIMIT VI」のプラン利用開始および「Rakuten Link」の利用が確認された月の翌々月末日ごろに付与されます。<br>
                  併用されたキャンペーンポイントについては、各キャンページにてご確認ください。
                </p>
              </div>
            </div>
          </li>
        </ol>
      </div>
      <div class="u-Adjust_Mt-64">
        <h2 class="c-Txt_Normal-ll" id="rule">日本郵政グループ社員様・ご家族様限定　「Rakuten UN-LIMIT VI」お申込みで、3,000ポイントプレゼントキャンペーン</h2>
         <p class="c-Txt_Emp-02 c-Txt_Normal-l u-Adjust_Mt-24 u-Adjust_Align-center">本キャンペーンは終了しました。</p>
        <div class="c-Table u-Adjust_Mt-24">

          <div class="c-Table_Wrap">
            <table class="c-Table_Container <%= namespace %>-Table">
              <colgroup>
                <col>
                <col>
                <col>
              </colgroup>
              <tbody class="<%= namespace %>-Table_Cpn">
                <tr>
                  <th colspan="2">キャンペーンコード</th>
                  <td>
                    1275<br>
                    <p class="c-Txt_Cap u-Adjust_Mt-8">※本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</p>
                  </td>
                </tr>
                <tr>
                  <th colspan="2">キャンペーン期間</th>
                  <td>
                    <p class="c-Txt_Emp-01"></p>エントリー期間：
                    2021年10月25日（月）9:00～2022年3月31日（木）23:59
                    <p class="c-Txt_Emp-01"></p>プランのお申し込み期間：
                    Web　2021年10月25日（月）9:00～2022年3月31日（木）23:59
                    店舗（楽天モバイルショップ）　2021年10月25日（月）開店～2022年3月31日（木）閉店
                    <p class="c-Txt_Emp-01"></p>プラン利用開始期限：
                    プランのお申し込みの翌月末日23:59まで
                    <p class="c-Txt_Emp-01"></p>Rakuten Link利用期限：
                    プランのお申し込みの翌月末日23:59まで
                  </td>
                </tr>
                <tr>
                  <th colspan="2">キャンペーン条件</th>
                  <td>
                    <p class="c-Txt_Emp-02">上記各項目の期間内に①、②、③、④の条件をすべて満たした楽天会員の方</p>
                    <div>
                      <p class="c-Txt_Emp-01">①キャンペーンへのエントリー<br>
                      エントリー期間内に本キャンペーンページでエントリー<br>
                      キャンペーンページ内エントリーボタンより、所属されている会社名を選択。社員番号もしくは事業所名、氏名を入力<br>
                      ※2022年3月31日(木) 23:59までにエントリー及びお申し込みの完了をお願いいたします。エントリーとお申し込みが確認できなかった場合、キャンペーンの適用対象外となります。<br>
                      ※特典は日本郵政グループ社員様、そのご家族様共にキャンペーン期間中おひとり様1度のみ。<br>
                      例）同じ社員番号で複数回エントリーいただいた場合でも、「Rakuten UN-LIMIT Ⅵ」の契約者様が異なる場合は、<br>
                      エントリーいただいた方全員が本キャンペーン適用対象となります。同一ご契約者様が複数回線お申し込みいただいた場合、本キャンペーン適用は1回線目のみとなります。</p>
                      <p class="c-Txt_Emp-01">※ご家族とは第二親等内を指します。</p>
                      <p class="c-Txt_Emp-01">②「Rakuten UN-LIMIT VI」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
                    （1）新規お申し込み<br>
                    （2）他社からの乗り換え（MNP）でお申し込み<br>
                    （3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み<br>
                    ※エントリー前のお申し込みはポイント付与の対象になりません
                    <p class="c-Txt_Emp-01">③「Rakuten UN-LIMIT VI」プラン利用開始</p>
                    【プラン利用開始日とは】<br>
                    - 新規お申し込みの場合　　※（1）（2）のいずれか早い方がプラン利用開始日となります<br>
                    （1）当社に配送完了データが通知された日<br>
                    （2）プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br>
                    - 他社から乗り換え（MNP）の場合<br>
                    プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br>
                    - 楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合<br>
                    プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日
                    <p class="c-Txt_Emp-01">④「Rakuten Link」のご利用</p>
                    Rakuten UN-LIMIT VI」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話
                    <p class="c-Txt_Emp-02 c-Txt_Cap">※iPhone 13Pro Max、iPhone 13 Pro、iPhone13、iPhone13miniいずれかをご購入の場合、製品到着または店舗で購入した日の翌月末日23:59までに③④を対応でキャンペーン適用となります<br>
                    ※製品到着とは、当社に配送完了データが通知された日を指します</p>
                    【Rakuten Link アプリご利用方法】<br>
                    下記URLの「Rakuten Linkのご利用方法」をご確認ください<br>
                    <a target="_blank" href="<%= sitepath %>guide/rakuten-link/">https://network.mobile.rakuten.co.jp/guide/rakuten-link/</a><br>
                    - 通話方法：『電話をかける』の項目をご確認ください<br>
                    【Rakuten Link利用履歴の確認方法】<br>
                    下記URLの「キャンペーンが適用されているか、いつポイントが付与されるか知りたい」をご確認ください<br>
                    <a href="<%= sitepath %>faq/detail/00001962/">https://network.mobile.rakuten.co.jp/faq/detail/00001962/</a><br>
                    -「③ 適用条件の達成状況を確認する」の項目をご確認ください<br>
                    ※　電話の発信時、（0570）（0180）などの他社接続サービス、♯ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります
                    <p class="c-Txt_Emp-02 c-Txt_Cap">※楽天回線対応のモバイルルーターで使用されるためにお申し込みいただいた場合は、「Rakuten Link」のご利用は必要ございません</p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th rowspan="3">キャンペーン特典（楽天ポイント）</th>
                  <th>特典内容</th>
                  <td class="c-Txt_Emp-01">
                    3,000ポイントプレゼント
                  </td>
                </tr>
                <tr>
                  <th>ポイント付与日</th>
                  <td>
                    <p class="c-Txt_Emp-01">「Rakuten UN-LIMIT VI」のプラン利用開始および「Rakuten Link」の利用が確認された月の翌々月末日ごろに付与</p>
                    ※　例）10月にすべての条件を達成した場合には、その翌々月である12月末日ごろにポイント付与となります<br>
                    ※　楽天ポイントの付与は、楽天モバイルより行います<br>
                    ※　権利の譲渡はできません
                  </td>
                </tr>
                <tr>
                  <th>ポイント有効期間</th>
                  <td>
                    ポイント付与日を含めて6カ月<br>
                    ※　<a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank">期間限定ポイントについて</a><br>
                    ※　有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません
                  </td>
                </tr>
                <tr>
                  <th colspan="2">特典適用対象外</th>
                  <td>
                    <span class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</span><br>
                    ※　お申し込み後に本キャンペーンにエントリーした場合<br>
                    ※　当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合<br>
                    ※　日本郵政グループ社員様・ご家族様限定　「Rakuten UN-LIMITⅥ」お申し込みで、3,000ポイントプレゼントキャンペーンの適用回数が、おひとり様1契約1回を超える場合は対象外となります<br>
                    ※　楽天モバイルショップ、楽天モバイルオンライン、楽天モバイル公式 楽天市場店以外で購入した場合<br>
                    ※　ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合<br>
                    ※　「Rakuten UN-LIMIT VI」のプラン利用開始がされなかった場合<br>
                    　 -プラン利用開始の手続き方法につきましては、<a href="<%= sitepath %>faq/detail/00001648/">こちら</a>のSIMカード版スタートガイドまたはeSIM版スタートガイドを参照ください<br>
                    ※　期限までに「Rakuten Link」を利用されなかった場合<br>
                    ※　ポイント付与までに楽天会員から退会している場合<br>
                    ※　当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合<br>
                    ※　そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合
                  </td>
                </tr>
                <tr>
                  <th colspan="2">注意事項</th>
                  <td>
                    ※　本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください<br>
                    ※　本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法上の範囲内に制限される場合があります<br>
                    ※　本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります<br>
                    ※　記載の内容は2021年10月25日（月）時点の情報となります
                  </td>
                </tr>
                <tr>
                  <th colspan="2">お問い合わせ</th>
                  <td>
                    <a href="<%= sitepath %>faq/detail/00001802/?l-id=support_category_faq">キャンペーンに関するご質問について</a>をご確認ください
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <footer class="g-Footer <%= namespace %>-Layout_Footer u-Adjust_Mt-64">
      <div class="g-Footer_Aside">
        <%- include('/include/footer/related/_related-news.ejs') %>
        <%- include('/include/footer/bnr/_bnr-news.ejs') %>
      </div>
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
              <%_ if (dir.path !== "") { _%>
                <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
              <%_ } else { _%>
                <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
              <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>
  <%- include('/include/_common-js') %>
  <script src="<%= sitepath %>assets/js/info.bundle.js?20240521"></script>
  <%- include('/include/_append-body') %>
  <!-- ReX UX Survey: Config -->
  <script>
  window.rexSurveyConfig = {"language":"ja","surveyId":"39499","cId":{"name":"answers[39499_269617]","value":""},"embedded":true,"url":{"name":"answers[39499_269618]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":"10","reappearancePeriodWithoutRespond":"10","enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このページの総合的な「わかりやすさ」について、どのように感じましたか？"},"options":[{"name":"answers[39499_269619]","value":"746867"},{"name":"answers[39499_269619]","value":"746868"},{"name":"answers[39499_269619]","value":"746869"},{"name":"answers[39499_269619]","value":"746870"},{"name":"answers[39499_269619]","value":"746871"}],"txt0":"わかりづらかった","txt1":"わかりやすかった","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"あなたがキャンペーンの内容やページについて思ったことで、当てはまるものを教えてください (複数可) ","shuffleChoices":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":"ポイント獲得の条件や流れがわかりにくい"},{"name":"answers[39499_269620][]","value":"746873","label":"文字数や情報量が多すぎてわかりにくい"},{"name":"answers[39499_269620][]","value":"746874","label":"色や文字サイズ等のデザインが見にくい"},{"name":"answers[39499_269620][]","value":"746875","label":"楽天モバイルの申し込み方法がわかりにくい"},{"name":"answers[39499_269620][]","value":"746876","label":"キャンペーンに申し込むメリットを感じない"},{"name":"answers[39499_269620][]","value":"746877","label":"その他(次の設問でご記入ください)"},{"name":"answers[39499_269620][]","value":"746878","label":" 特に無い"}]},"freeInput":{"available":true,"name":"answers[39499_269621]","title":"ご回答いただいた内容の理由や、このページについてのご意見・ご要望がございましたら、ご自由にお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[39499_269620][]","value":"746872","label":""},{"name":"answers[39499_269620][]","value":"746873","label":""},{"name":"answers[39499_269620][]","value":"746874","label":""},{"name":"answers[39499_269620][]","value":"746875","label":""},{"name":"answers[39499_269620][]","value":"746876","label":""},{"name":"answers[39499_269620][]","value":"746877","label":""},{"name":"answers[39499_269620][]","value":"746878","label":""}]}},"ua":{"name":"answers[39499_269622]"},"href":{"name":"answers[39499_269623]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
  </script>
  <!-- ReX UX Survey: Script -->
  <script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js" defer></script>
</body>
</html>
