<% const pagetitle = "Rakuten最強プランでお持ちのiPhoneを使う" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/iphone/application/", label:"申し込みからお受け取りまで"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'iPhoneやiPad端末がRakuten最強プランで使える？使えない？デュアルSIM、おすすめの使い方、最新機種への買い替え、乗り換えや2台目をご検討中のiOSユーザの疑問にお答えします。',
    noindex: false,
    pathname: filepath,
    browseragent: true
  });
%>
<% const parentTiltle = "ご利用ガイド" -%>
<% const nameSpace = "guide" -%>
<% const breadcrumbstitle = "Rakuten最強プランでiPhoneを使う" -%>

<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/<%= nameSpace %>.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/<%= nameSpace %>/guide-iphone.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>

</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

  <div class="c-Breadcrumbs_Head">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= breadcrumbstitle %></li>
    </ul>
  </div>

  <div class="guide-Iphone_Base">

    <div class="guide-Iphone_Hero2">
      <div class="l-System_Container">
        <div class="c-Txt_Emp-01 guide-Iphone_Hero2-ttl">「eSIM対応iPhone」でeKYCご利用の場合<sup>※1</sup></div>
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/iphone/hero-footer-sp-02-240215.png">
            <img src="<%= sitepath %>assets/img/guide/iphone/hero-footer-pc-02-240215.png" alt="Webでお申し込み後 最短3分で乗り替え eSIM対応iPhoneでeKYCご利用の場合※1">
          </picture>
          <h1>
          Rakuten最強プランで<br class="guide-Utility_Show-sp">お持ちのiPhoneを使う
          </h1>
      </div>
    </div>

    <div class="l-System_Container">
      <ol class="c-Flow u-Adjust_Mt-16">
        <li>
          <p class="c-Txt_Emp-01 u-Adjust_Align-center guide-Utility_Show-pc">iOS14.4以降へのアップデートとキャリア設定アップデートすることで、<span class="c-Txt_Emp-02">楽天モバイルがすべてのiPhoneでご利用いただけます。</span></p>
          <p class="c-Txt_Emp-01 guide-Utility_Show-sp">iOS14.4以降へのアップデートとキャリア設定アップデートすることで、<span class="c-Txt_Emp-02">楽天モバイルがすべてのiPhoneでご利用いただけます。</span></p>
        </li>
      </ol>
    </div>

    <div class="guide-Iphone_Caption u-Adjust_Mt-8 u-Adjust_Mb-32">
      <div class="l-System_Container">
        <ul class="c-Txt_Cap">
          <li>※キャリアアップデートの更新手順は<a href="<%= sitepath %>information/news/product/655/">こちらのキャリア設定アップデート手順</a>をご覧ください。</li>
          <li>※1 SIMフリーのiPhoneでない場合、SIMロック解除が必要です。eKYC（AIかんたん本人確認）は、「my 楽天モバイル」アプリ/Webにてご利用いただけます。</li>
        </ul>
      </div>
    </div>

    <div class="guide-Iphone_Section-pink u-Adjust_Mt-24">
      <div class="l-System_Container">
      <div class="guide-Iphone_Bg-white">
        <div class="u-Adjust_Align-center">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/iphone/img-simple-01-sp-231127.png">
            <img src="<%= sitepath %>assets/img/guide/iphone/img-simple-01-231127.png" alt="楽天モバイルなら、サクっとWeb申し込み！">
          </picture>
        </div>
        <div class="guide-Iphone_Bg-pink u-Adjust_Mt-24">
          <div class="u-Adjust_Align-center">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/iphone/img-simple-02-ttl-sp.png" width="574" height="105">
              <img src="<%= sitepath %>assets/img/guide/iphone/img-simple-02-ttl.png" alt="＼革新的な契約体験をご提供！／そんな楽天モバイルは" width="270" height="50">
            </picture>
          </div>
          <div class="<%= nameSpace %>-Iphone_Mnp-merit u-Adjust_Align-center u-Adjust_Mt-8">
            <div>
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/common/img-web-no1-sp-240412.png" width="574" height="200">
                <img src="<%= sitepath %>assets/img/common/img-web-no1-pc-240412.png" width="326" height="100" alt="Web契約でNo.1">
              </picture>
            </div>
            <div>
              <picture>
                <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/common/img-0yen-sp-240412.png" width="574" height="200">
                <img src="<%= sitepath %>assets/img/common/img-0yen-pc-240412.png" width="287" height="100" alt="ショップもWebも契約事務手数料0円 ">
              </picture>
            </div>
          </div>
          <ul class="c-Txt_Cap u-Adjust_Mt-8 guide-Iphone_Adjust-align-center-left">
            <li>※ MMD研究所調べ / 2022年3月21日時点 / 2021年8月～半年間にメイン通信サービスの新規・MNPのWeb契約をした人を対象 / n=1,260</li>
          </ul>
        </div>
      </div>
      <ul class="c-Txt_Cap u-Adjust_Mt-16">
        <li>*1 楽天銀行・楽天証券・楽天生命のいずれかをご契約されている場合。条件あり。<a href="<%= sitepath %>guide/verify/group-kyc/?l-id=guide_iphone_guide_verify-group-kyc">詳しくはこちら</a></li>
        <li>*2 Webでのお申し込みのみ。MNPワンストップ未対応会社からお乗り換えの場合、MNP予約番号の取得が必要。<a href="<%= sitepath %>guide/mnp/fast-convert/?l-id=guide_iphone_guide_mnp_fast-convert">詳しくはこちら</a></li>
        <li>*3 メール持ち運びサービス330円/月 <a href="<%= sitepath %>cm/mail_portability/?l-id=guide_iPhone_mail_portability">詳細はこちら</a></li>
        <li>*4 eSIM対応製品でeSIMをご利用の場合。審査状況により変動。アプリ最新版利用時</li>
      </ul>
    </div>
    </div>

    <div class="guide-Iphone_Anchor-belt">
      <div class="l-System_Container">
        <p class="guide-Iphone_Anchor-title">楽天モバイルでiPhoneを<br class="guide-Iphone_Disp-sp">使うまでの<br class="guide-Iphone_Disp-sp"><span class="guide-Iphone_Anchor-title-num">4</span>つのステップ</p>
        <ol class="guide-Iphone_Anchor-list">
          <li>
            <a href="#step01" class="js-scroll">
              <div class="guide-Iphone_Anchor-block">
                <div class="guide-Iphone_Anchor-img"><img src="<%= sitepath %>assets/img/guide/iphone/step-01.png" alt=""></div>
                <div class="guide-Iphone_Anchor-detail">
                  <p class="guide-Iphone_Anchor-step">STEP1</p>
                  <p class="guide-Iphone_Anchor-text c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>楽天モバイルでお手持ちのiPhoneが使えるかを確認する</p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#step02" class="js-scroll">
              <div class="guide-Iphone_Anchor-block">
                <div class="guide-Iphone_Anchor-img"><img src="<%= sitepath %>assets/img/guide/iphone/step-02.png" alt=""></div>
                <div class="guide-Iphone_Anchor-detail">
                  <p class="guide-Iphone_Anchor-step">STEP2</p>
                  <p class="guide-Iphone_Anchor-text c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>Rakuten最強プランに申し込むための確認・準備をする</p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#step03" class="js-scroll">
              <div class="guide-Iphone_Anchor-block">
                <div class="guide-Iphone_Anchor-img"><img src="<%= sitepath %>assets/img/guide/iphone/step-03.png" alt=""></div>
                <div class="guide-Iphone_Anchor-detail">
                  <p class="guide-Iphone_Anchor-step">STEP3</p>
                  <p class="guide-Iphone_Anchor-text c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>本人確認をしてRakuten最強プランに申し込む</p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#step04" class="js-scroll">
              <div class="guide-Iphone_Anchor-block">
                <div class="guide-Iphone_Anchor-img"><img src="<%= sitepath %>assets/img/guide/iphone/step-04.png" alt=""></div>
                <div class="guide-Iphone_Anchor-detail">
                  <p class="guide-Iphone_Anchor-step">STEP4</p>
                  <p class="guide-Iphone_Anchor-text c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>iPhoneを楽天モバイルで使い始めるときの初期設定を行う</p>
                </div>
              </div>
            </a>
          </li>
        </ol>
      </div>
    </div>
  </div>

  <div class="l-System_Container guide-Iphone_Section-start-iphone u-Adjust_Align-center">
    <h3 class="c-Heading_Lv3">乗り換えと一緒にiPhoneを買い換えたい方はこちら</h3>
    <div class="u-Adjust_Mt-0">
      <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
        <a class="c-Banner_Hover-act" href="<%= sitepath %>campaign/iphone-point/?l-id=guide_iphone_campaign_iphone-point">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-iphone-point-343-108-240517.png" width="686" height="216">
            <img src="<%= sitepath %>assets/img/bnr/bnr-iphone-point-1032-160-240517.png" width="1032" height="160" alt="対象iPhoneを一括または24回払いで購入＆楽天モバイルへ初めて申し込み＆他社から電話番号そのまま乗り換えで最大32,000円相当おトク！" loading="lazy">
          </picture>
        </a>
      </div>
    </div>
  </div>

  <div class="guide-Iphone_Step">
    <section id="step01" class="guide-Iphone_Section guide-Iphone_Section-01">
      <div class="l-System_Container guide-Iphone_Section-in">
        <h2 class="c-Heading_Lv2 guide-Iphone_Section-ttl"><span class="guide-Iphone_Section-ttl-step">STEP1</span>楽天モバイルでお手持ち<br class="guide-Iphone_Disp-sp">のiPhoneが使えるかを<br class="guide-Iphone_Disp-sp">確認する</h2>
        <h3 class="c-Heading_Lv4 u-Adjust_Align-center u-Adjust_Mt-16">Rakuten最強プランはどこまで使える？</h3>
        <div class="guide-Iphone_Select-head u-Adjust_Mt-32">
          <div class="guide-Iphone_Select-head-img">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/iphone/img-step01-ttl-01-sp-221108.png">
              <img src="<%= sitepath %>assets/img/guide/iphone/img-step01-ttl-01-pc-221108.png" alt="iPhone XR, XS以降、すべてのiPhoneに対応 Webでお申し込み後 最短3分で乗り替え！ eSIM対応iPhoneで eKYCご利用の場合※1">
            </picture>
          </div>
          <ul class="c-Txt_Cap u-Adjust_Mt-8">
            <li>※1 SIMフリーのiPhoneでない場合、SIMロック解除が必要です。eKYC（AIかんたん本人確認）は、「my 楽天モバイル」アプリ/Webにてご利用いただけます。</li>
          </ul>
        </div>
        <div class="guide-Iphone_Select-block">
          <div class="c-Form_Select guide-Iphone_Select">
            <select id="phone-change">
              <option value="">お持ちのiPhoneを選択</option>
              <option value="iphone-15pro-max">iPhone 15 Pro Max ※eSIM対応</option>
              <option value="iphone-15pro">iPhone 15 Pro ※eSIM対応</option>
              <option value="iphone-15plus">iPhone 15 Plus ※eSIM対応</option>
              <option value="iphone-15">iPhone 15 ※eSIM対応</option>
              <option value="iphone-14pro-max">iPhone 14 Pro Max ※eSIM対応</option>
              <option value="iphone-14pro">iPhone 14 Pro ※eSIM対応</option>
              <option value="iphone-14plus">iPhone 14 Plus ※eSIM対応</option>
              <option value="iphone-14">iPhone 14 ※eSIM対応</option>
              <option value="iphone-13pro-max">iPhone 13 Pro Max ※eSIM対応</option>
              <option value="iphone-13pro">iPhone 13 Pro ※eSIM対応</option>
              <option value="iphone-13">iPhone 13 ※eSIM対応</option>
              <option value="iphone-13mini">iPhone 13 mini ※eSIM対応</option>
              <option value="iphone-se-3rd">iPhone SE (第3世代) ※eSIM対応</option>
              <option value="iphone-12pro-max">iPhone 12 Pro Max ※eSIM対応</option>
              <option value="iphone-12pro">iPhone 12 Pro ※eSIM対応</option>
              <option value="iphone-12">iPhone 12 ※eSIM対応</option>
              <option value="iphone-12mini">iPhone 12 mini ※eSIM対応</option>
              <option value="iphone-se2">iPhone SE (第2世代) ※eSIM対応</option>
              <option value="iphone-11pro-max">iPhone 11 Pro Max ※eSIM対応</option>
              <option value="iphone-11pro">iPhone 11 Pro ※eSIM対応</option>
              <option value="iphone-11">iPhone 11 ※eSIM対応</option>
              <option value="iphone-xr">iPhone XR ※eSIM対応</option>
              <option value="iphone-xs-max">iPhone XS Max ※eSIM対応</option>
              <option value="iphone-xs">iPhone XS ※eSIM対応</option>
              <option value="iphone-x">iPhone X</option>
              <option value="iphone-8-plus">iPhone 8 Plus</option>
              <option value="iphone-8">iPhone 8</option>
              <option value="iphone-7-plus">iPhone 7 Plus</option>
              <option value="iphone-7">iPhone 7</option>
              <option value="iphone-se">iPhone SE</option>
              <option value="iphone-6s-plus">iPhone 6s Plus</option>
              <option value="iphone-6s">iPhone 6s</option>
              <option value="iphone-6-plus">iPhone 6 Plus</option>
              <option value="iphone-6">iPhone 6</option>
              <option value="other">その他（ほかの携帯電話会社での購入を含む）</option>
            </select>
            <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
          </div>
        </div>

        <!-- 出し分けエリア -->

        <%_
          const notesPattern1 = `
            <p class="c-Txt_Cap u-Adjust_Mt-8">※3 公平なサービス提供のため、速度制限の場合あり。環境により速度低下する場合あり。海外ローミングエリアは、プランのデータ利用量に加算。通話料等別。2GB超過後は最大128kbps。通信速度はベストエフォート（規格上の最大速度）であり、実効速度は通信環境・状況により変動します。</p>

          `
        _%>

        <%_const notesiphone15promax = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A3105</p>` _%>
        <%_const notesiphone15pro = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A3101</p>` _%>
        <%_const notesiphone15plus = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A3093</p>` _%>
        <%_const notesiphone15 = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A3089</p>` _%>
        <%_const notesiphone14promax = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A2893</p>` _%>
        <%_const notesiphone14pro = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A2889</p>` _%>
        <%_const notesiphone14plus = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A2885</p>` _%>
        <%_const notesiphone14 = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A2881</p>` _%>
        <%_const notesiphone13promax = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A2641</p>` _%>
        <%_const notesiphone13pro = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A2636</p>` _%>
        <%_const notesiphone13 = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A2631</p>` _%>
        <%_const notesiphone13mini = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A2626</p>` _%>
        <%_const notesiphonese3rd=`<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A2782</p>` _%>
        <%_const notesiphone12promax = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A2410</p>` _%>
        <%_const notesiphone12pro = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A2406</p>` _%>
        <%_const notesiphone12 = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A2402</p>` _%>
        <%_const notesiphone12mini = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A2398</p>` _%>
        <%_const notesiphonese2 = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A2296 </p>` _%>
        <%_const notesiphone11promax = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A2218</p>` _%>
        <%_const notesiphone11pro = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A2215 </p>` _%>
        <%_const notesiphone11 = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A2221 </p>` _%>
        <%_const notesiphonexsmax = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A2102</p>` _%>
        <%_const notesiphonexs = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A2098</p>` _%>
        <%_const notesiphonexr = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A2106</p>` _%>
        <%_const notesiphonex = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A1902</p>` _%>
        <%_const notesiphone8plus = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A1898</p>` _%>
        <%_const notesiphone8 = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A1906</p>` _%>
        <%_const notesiphone7plus = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A1785</p>` _%>
        <%_const notesiphone7 = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A1779</p>` _%>
        <%_const notesiphonese = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号： A2398</p>` _%>
        <%_const notesiphone6splus = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A1634、A1687、A1699</p>` _%>
        <%_const notesiphone6s = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A1633、A1688、A1700</p>` _%>
        <%_const notesiphone6plus = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A1522、A1524、A1593</p>` _%>
        <%_const notesiphone6 = `<p class="c-Txt_Cap u-Adjust_Mt-8">※動作確認済モデル番号：A1549、A1586、A1589</p>` _%>
        <%_ const selectBlockTable = (oneCol, twoCol, threeCol) => { _%>
          <table class="<%= nameSpace %>-Table guide-Iphone_Table">
            <tbody>
              <tr>
                <th class="guide-Iphone_Table-th-01">楽天モバイル データ高速無制限 ※3</th>
                <%_ if (oneCol) { _%>
                <td class="<%= nameSpace %>-Table_Td-emp">○</td>
                <%_ } else { _%>
                <td class="<%= nameSpace %>-Table_Td">×</td>
                <%_ } _%>
              </tr>
              <tr>
                <th>音声通話</th>
                <%_ if (twoCol) { _%>
                <td class="<%= nameSpace %>-Table_Td-emp">○</td>
                <%_ } else { _%>
                <td class="<%= nameSpace %>-Table_Td">×</td>
                <%_ } _%>
              </tr>
              <tr>
                <th>SMS</th>
                <%_ if (threeCol) { _%>
                <td class="<%= nameSpace %>-Table_Td-emp">○</td>
                <%_ } else { _%>
                <td class="<%= nameSpace %>-Table_Td">×</td>
                <%_ } _%>
              </tr>
            </tbody>
          </table>
        <%_ } _%>

        <div class="u-Adjust_Mt-24">

          <div id="iphone-15pro-max" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone 15 Pro Max <span class="c-Txt_Emp-02">※eSIM対応</span></p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphone15promax %>
              </div>
            </div>
          </div>

          <div id="iphone-15pro" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone 15 Pro <span class="c-Txt_Emp-02">※eSIM対応</span></p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphone15pro %>
              </div>
            </div>
          </div>

          <div id="iphone-15plus" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone 15 Plus <span class="c-Txt_Emp-02">※eSIM対応</span></p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphone15plus %>
              </div>
            </div>
          </div>

          <div id="iphone-15" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone 15 <span class="c-Txt_Emp-02">※eSIM対応</span></p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphone15 %>
              </div>
            </div>
          </div>

          <div id="iphone-14pro-max" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone 14 Pro Max <span class="c-Txt_Emp-02">※eSIM対応</span></p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphone14promax %>
              </div>
            </div>
          </div>

          <div id="iphone-14pro" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone 14 Pro <span class="c-Txt_Emp-02">※eSIM対応</span></p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphone14pro %>
              </div>
            </div>
          </div>

          <div id="iphone-14plus" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone 14 Plus <span class="c-Txt_Emp-02">※eSIM対応</span></p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphone14plus %>
              </div>
            </div>
          </div>

          <div id="iphone-14" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone 14 <span class="c-Txt_Emp-02">※eSIM対応</span></p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphone14 %>
              </div>
            </div>
          </div>

          <div id="iphone-13mini" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone 13 mini <span class="c-Txt_Emp-02">※eSIM対応</span></p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphone13mini %>
              </div>
            </div>
          </div>

          <div id="iphone-13pro-max" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone 13 Pro Max <span class="c-Txt_Emp-02">※eSIM対応</span></p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphone13promax %>
              </div>
            </div>
          </div>

          <div id="iphone-13" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone 13 <span class="c-Txt_Emp-02">※eSIM対応</span></p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphone13 %>
              </div>
            </div>
          </div>

          <div id="iphone-13pro" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone 13 Pro <span class="c-Txt_Emp-02">※eSIM対応</span></p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphone13pro %>
              </div>
            </div>
          </div>

          <div id="iphone-se-3rd" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone SE（第3世代）<span class="c-Txt_Emp-02">※eSIM対応</span></p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
                <div>
                  <%- notesPattern1 %>
                  <%- notesiphonese3rd %>
                </div>
            </div>
          </div>

          <div id="iphone-12mini" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone 12 mini <span class="c-Txt_Emp-02">※eSIM対応</span></p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphone12mini %>
              </div>
            </div>
          </div>

          <div id="iphone-12pro-max" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone 12 Pro Max <span class="c-Txt_Emp-02">※eSIM対応</span></p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphone12promax %>
              </div>
            </div>
          </div>

          <div id="iphone-12" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone 12 <span class="c-Txt_Emp-02">※eSIM対応</span></p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphone12 %>
              </div>
            </div>
          </div>

          <div id="iphone-12pro" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone 12 Pro <span class="c-Txt_Emp-02">※eSIM対応</span></p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphone12pro %>
              </div>
            </div>
          </div>

          <div id="iphone-se2" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone SE (第2世代) <span class="c-Txt_Emp-02">※eSIM対応</span></p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphonese2 %>
              </div>
            </div>
          </div>

          <div id="iphone-11" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone 11 <span class="c-Txt_Emp-02">※eSIM対応</span></p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphone11 %>
              </div>
            </div>
          </div>

          <div id="iphone-xs" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone XS <span class="c-Txt_Emp-02">※eSIM対応</span></p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphonexs %>
              </div>
            </div>
          </div>

          <div id="iphone-xr" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone XR <span class="c-Txt_Emp-02">※eSIM対応</span></p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphonexr %>
              </div>
            </div>
          </div>

          <div id="iphone-11pro" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone 11 Pro <span class="c-Txt_Emp-02">※eSIM対応</span></p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphone11pro %>
              </div>
            </div>
          </div>

          <div id="iphone-11pro-max" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone 11 Pro Max <span class="c-Txt_Emp-02">※eSIM対応</span></p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphone11promax %>
              </div>
            </div>
          </div>

          <div id="iphone-xs-max" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone XS Max <span class="c-Txt_Emp-02">※eSIM対応</span></p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphonexsmax %>
              </div>
            </div>
          </div>

          <div id="iphone-x" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone X</p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphonex %>
              </div>
            </div>
          </div>

          <div id="iphone-8" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone 8</p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphone8 %>
              </div>
            </div>
          </div>

          <div id="iphone-8-plus" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone 8 Plus</p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphone8plus %>
              </div>
            </div>
          </div>

          <div id="iphone-7" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone 7</p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphone7 %>
              </div>
            </div>
          </div>

          <div id="iphone-7-plus" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone 7 Plus</p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphone7plus %>
              </div>
            </div>
          </div>

          <div id="iphone-se" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone SE</p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphonese %>
              </div>
            </div>
          </div>

          <div id="iphone-6s" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone 6s</p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphone6s %>
              </div>
            </div>
          </div>

          <div id="iphone-6s-plus" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone 6s Plus</p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(true, true, true) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphone6splus %>
              </div>
            </div>
          </div>

          <div id="iphone-6" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone 6</p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(false, false, false) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphone6 %>
              </div>
            </div>
          </div>

          <div id="iphone-6-plus" class="guide-Iphone_Select-contents" aria-hidden="true">
            <p class="c-Heading_Lv3">iPhone 6 Plus</p>
            <div class="u-Adjust_Mt-16">
              <%- selectBlockTable(false, false, false) _%>
              <div>
                <%- notesPattern1 %>
                <%- notesiphone6plus %>
              </div>
            </div>
          </div>

          <div id="other" class="guide-Iphone_Select-contents" aria-hidden="true">
            <div class="u-Adjust_Mt-16 guide-Iphone_Standing-border u-Adjust_Align-center">
              <p class="c-Heading_Lv4">お持ちのiPhoneは、動作未確認製品です。最新情報はこちらからご確認ください。</p>
              <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>product/byod/?l-id=guide_iphone_byod_1" class="c-Btn_Secondly-large"><span>ご利用製品の対応状況確認</span></a></p>
            </div>
          </div>

        </div><!-- /出し分けエリア -->
        <div class="u-Adjust_Mt-32">
          <p class="c-Txt_Normal-ss">（2023年9月22日現在）</p>
          <ul class="c-Txt_Cap u-Adjust_Mt-8">
            <li><span class="c-Txt_Emp-02">※対応表はSIMフリー製品が対象です。他キャリアでご購入された製品については、機種ごとのご確認をお願いします。</span></li>
          </ul>
          <p class="c-Txt_Cap u-Adjust_Mt-16">※国内通話かけ放題の提供バージョンについての最新情報は<a href="<%= sitepath %>service/rakuten-link/?l-id=guide_iphone_service_rakuten-link">Rakuten Linkアプリ</a>の対応OSをご確認ください。お使いのバージョンはiPhone, iPadの設定 &gt; 一般 &gt; 情報  から、「システムバージョン」をご確認ください。   </p>
          <div class="c-Accordion u-Adjust_Mt-24">
            <button type="button" id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten LinkアプリiOS版の仕様変更について</button>
            <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
              <p>■音声通話着信について<br>
              Rakuten Linkアプリを利用していない相手からの電話（固定電話や、OS標準の電話アプリなどからの発信）を着信する場合、今まではお客様のRakuten Linkアプリに着信しましたが、仕様変更後はiOS標準の電話アプリに着信するようになりました。</p>
              <p class="u-Adj u-Adjust_Mt-32">■SMS送受信について<br>
              Rakuten Linkアプリを利用していない（OS標準のメッセージアプリなどを使用している場合）相手とSMSの送受信をする場合、今までは、お客様のRakuten LinkアプリでのSMS送受信が可能でしたが、仕様変更後はiOS標準のメッセージアプリでのみSMS送受信が可能となりました。<br>
              <a href="<%= sitepath %>information/news/service/647/?l-id=guide_iphone_information_news_service_647">詳細はこちら</a>をご覧ください。<br>
              2021年7月6日（火）より順次</p>
            </div>
          </div>
          <p class="guide-Iphone_Select-text u-Adjust_Mt-32">お持ちのiPhoneが動作確認済製品か、こちらから詳細をご確認ください。キャリア・機種ごとの検索ができます。</p>
          <div class="u-Adjust_Align-center u-Adjust_Mt-24">
            <a href="<%= sitepath %>product/byod/?l-id=guide_iphone_byod_1" class="c-Btn_Primary guide-Btn_Adjust-large"><span>お持ちのiPhoneが使えるか<br class="guide-Iphone_Disp-sp">詳細を確認する</span></a>
          </div>
        </div>
      </div>
    </section>

    <section id="step02" class="guide-Iphone_Section guide-Iphone_Section-02">
      <div class="l-System_Container guide-Iphone_Section-in">
        <h2 class="c-Heading_Lv2 guide-Iphone_Section-ttl"><span class="guide-Iphone_Section-ttl-step">STEP2</span>Rakuten最強プランに申し込むための<br>確認・準備をする</h2>
        <ol class="c-Flow <%= nameSpace %>-Layout_Flow u-Adjust_Mt-16">
          <li class="<%= nameSpace %>-Layout_Flow-item">
            <div class="l-Media_Grid-reverse">
              <div>
                <h4 class="c-Heading_Lv4">SIMロック解除の手続きを行う</h4>
                <p class="u-Adjust_Mt-24 c-Txt_Cap">※NTTドコモ、au、ソフトバンクなど他の携帯電話会社でご契約されていた製品は、その会社でしか利用できないよう「SIMロック」がかけられています。<span class="c-Txt_Emp-02">SIMロックがかかっているか確認するには、現在契約中の携帯電話会社へお問い合わせください。</span>SIMロック解除の必要がない場合、次の手順にお進みください。</p>
                <p class="u-Adjust_Mt-16"><a href="https://www.nttdocomo.co.jp/support/unlock_simcard/" class="c-Link_Txt-icon" target="_blank">docomo SIMロック解除手続き<span class="c-Icon_Chevron-right"></span></a></p>
                <p class="u-Adjust_Mt-8"><a href="https://www.au.com/support/service/mobile/procedure/simcard/unlock/" class="c-Link_Txt-icon" target="_blank">au SIMロック解除手続き<span class="c-Icon_Chevron-right"></span></a></p>
                <p class="u-Adjust_Mt-8"><a href="https://www.softbank.jp/mobile/support/usim/unlock_procedure/" class="c-Link_Txt-icon" target="_blank">ソフトバンク SIMロック解除手続き<span class="c-Icon_Chevron-right"></span></a></p>
              </div>
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/guide/iphone/img-step02-flow-01.png" alt="">
              </div>
            </div>
          </li>
          <li id="esim-request" class="<%= nameSpace %>-Layout_Flow-item">
            <h4 class="c-Heading_Lv4 guide-Utility_Show-sp">楽天モバイルの<br>SIM（eSIM／nanoSIM）を選択する</h4>
            <div class="l-Media_Grid-reverse">
              <div>
                <h4 class="c-Heading_Lv4 guide-Utility_Show-pc">楽天モバイルのSIM（eSIM／nanoSIM）を選択する</h4>
                <ul class="c-Txt_Cap u-Adjust_Mt-24">
                  <li><span class="c-Txt_Emp-02">※eSIM対応のiPhoneをお持ちでeSIMをお申し込みの方 は、AIかんたん本人確認(eKYC)※1でWebお申し込み後、最短3分で※2乗り換えることができます。</span></li>
                  <li>※nanoSIMをお申し込みの場合、お申し込み後にnanoSIMカードをお届けします。</li>
                  <li>※楽天モバイル（ドコモ回線／au回線）から楽天回線へ移行される場合は、移行お申し込みボタンからお申し込みください。</li>
                </ul>
                <a href="<%= sitepath %>guide/application/?lid-r=guide_iphone_application_2" class="c-Btn_Primary guide-Iphone_Btn-adjust-large u-Adjust_Mt-24">新規／乗り換え（MNP）お申し込み</a>
                <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&?l-id=guide_iphone_ms_1&mno_migration=1 " class="c-Btn_Primary-large guide-Iphone_Btn-adjust-large u-Adjust_Mt-16"><span><span class="c-Txt_Normal-s">スーパーホーダイ・組み合わせプランからの</span><br>プラン変更（移行）お申し込み</span></a>
              </div>
              <div class="l-Media_Image guide-Iphone_Disp-pc">
                <img src="<%= sitepath %>assets/img/guide/iphone/img-step02-flow-02.png" alt="">
              </div>
            </div>

            <div class="guide-Iphone_Bg-gray u-Adjust_Mt-24">
              <div class="u-Adjust_Align-center">
                <picture>
                  <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/iphone/img-simple-03-sp.png">
                  <img src="<%= sitepath %>assets/img/guide/iphone/img-simple-03.png" alt="さらに！楽天市場/楽天カード/楽天ペイのアプリをお持ちならプランのみ申し込みがもっとかんたん！">
                </picture>
              </div>
              <p class="u-Adjust_Mt-24 u-Adjust_Align-center">
                <a href="<%= sitepath %>guide/flow/application/group/?l-id=guide_iphone_guide_application-group" class="c-Btn_Regular"><span>グループアプリ経由での申し込み方法を見る</span></a>
              </p>
            </div>

            <div>
              <h4 class="c-Heading_Lv4 u-Adjust_Mt-40">eSIM、nanoSIM（SIMカード）とは</h4>
              <p class="u-Adjust_Mt-16">SIMとは、電話番号を特定するための固有のIDが記録された、スマートフォンを通信するために必要なICカードのことです。SIMには2種類あります。</p>
              <div class="l-Media_Grid-half u-Adjust_Mt-24">
                <div>
                  <h4 class="c-Heading_Lv4 <%= nameSpace %>-Txt_With-circle">eSIM</h4>
                  <p class="u-Adjust_Mt-8">eSIM（イーシム）は、スマートフォンに内蔵された本体一体型のSIMです。eSIMなら、SIMカードが届くのを待ったり、紛失や破損の心配もありません。</p>
                  <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                    <img src="<%= sitepath %>assets/img/guide/iphone/img-step02-flow-03.png" alt="" class="guide-Utility_Adjust-Img-half-pc">
                  </div>
                  <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>product/sim/esim/" class="c-Btn_Regular"><span>eSIM×eKYCで簡単・手軽な申込み方法</span></a></p>
                </div>
                <div>
                  <h4 class="c-Heading_Lv4 <%= nameSpace %>-Txt_With-circle">nanoSIM（SIMカード）</h4>
                  <p class="u-Adjust_Mt-8">SIMカードはスマートフォンに挿入タイプの小さなカード型のSIMのことを言います。3種類のサイズがあります。</p>
                  <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※楽天モバイルで販売しているSIMカード対応製品（スマートフォン）は全てnanoSIM（ナノシム）対応です。</p>
                  <div class="u-Adjust_Align-center u-Adjust_Mt-24">
                    <img src="<%= sitepath %>assets/img/guide/iphone/img-step02-flow-04.png" alt="" class="guide-Utility_Adjust-Img-half-pc">
                  </div>
                </div>
              </div>
            </div>

            <div class="l-Media_Grid-half u-Adjust_Mt-32">
              <div class="<%= nameSpace %>-Info guide-Iphone_Bg">
                <div class="">
                  <h4 class="c-Heading_Lv4 <%= nameSpace %>-Txt_With-circle">eSIMを申し込む</h4>
                  <p class="u-Adjust_Mt-16">プラン選択後、SIMカードタイプからeSIMを選択し、申し込む</p>
                </div>
                <div>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※ボタンをeSIMに選択しなおしてください</p>
                </div>
                <div class="l-Media_Image u-Adjust_Mt-24">
                  <img src="<%= sitepath %>assets/img/guide/iphone/img-step02-flow-05-230601.png" alt="">
                </div>
              </div>
              <div class="<%= nameSpace %>-Info guide-Iphone_Bg">
                <div>
                  <h4 class="c-Heading_Lv4 <%= nameSpace %>-Txt_With-circle">nanoSIMを申し込む</h4>
                  <p class="u-Adjust_Mt-16">プラン選択後、SIMカードタイプからSIMカードを選択し、申し込む</p>
                </div>
                <div class="l-Media_Image u-Adjust_Mt-24">
                  <img src="<%= sitepath %>assets/img/guide/iphone/img-step02-flow-06-230601.png" alt="">
                </div>
              </div>
            </div>
            <ul class="c-Txt_Cap u-Adjust_Mt-16">
              <li>※1 SIMフリーのiPhoneでない場合、SIMロック解除が必要です。eKYC（AIかんたん本人確認）は、「my 楽天モバイル」アプリ/Webにてご利用いただけます。</li>
            </ul>
          </li>
        </ol>
      </div>
    </section>

    <section id="step03" class="guide-Iphone_Section guide-Iphone_Section-03">
      <div class="l-System_Container guide-Iphone_Section-in">
        <h2 class="c-Heading_Lv2 guide-Iphone_Section-ttl"><span class="guide-Iphone_Section-ttl-step">STEP3</span>本人確認をしてRakuten最強プランに申し込む</h2>
        <div class="guide-Iphone_Section-select u-Adjust_Mt-32">
          <div class="guide-Iphone_Section-select-img">
            <picture>
              <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/guide/iphone/img-step03-ttl-01-sp-240215.png">
              <img src="<%= sitepath %>assets/img/guide/iphone/img-step03-ttl-01-pc-240215.png" alt="Webでお申し込み後 最短3分で乗り替え！ eSIM対応iPhoneでeKYCご利用の場合※1">
            </picture>
          </div>
          <ul class="c-Txt_Cap">
            <li>※1 SIMフリーのiPhoneでない場合、SIMロック解除が必要です。eKYC（AIかんたん本人確認）は、「my 楽天モバイル」アプリ/Webにてご利用いただけます。</li>
          </ul>
        </div>
        <h3 class="c-Heading_Lv3 u-Adjust_Mt-40">契約者情報の「本人確認」方法を選択する</h3>
        <ol class="guide-Iphone_Anchorstep-list">
          <li>
            <a href="#select01" class="js-scroll">
              <div class="guide-Iphone_Anchorstep-block">
                <div class="guide-Iphone_Anchorstep-img"><img src="<%= sitepath %>assets/img/guide/iphone/img-step03-select-01.png" alt=""></div>
                <div class="guide-Iphone_Anchorstep-detail">
                  <p class="guide-Iphone_Anchorstep-text c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>AIかんたん本人確認(eKYC)で本人確認を行う</p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#select02" class="js-scroll">
              <div class="guide-Iphone_Anchorstep-block">
                <div class="guide-Iphone_Anchorstep-img"><img src="<%= sitepath %>assets/img/guide/iphone/img-step03-select-02.png" alt=""></div>
                <div class="guide-Iphone_Anchorstep-detail">
                  <p class="guide-Iphone_Anchorstep-text c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>書類画像をアップロードで本人確認を行う</p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#select03" class="js-scroll">
              <div class="guide-Iphone_Anchorstep-block">
                <div class="guide-Iphone_Anchorstep-img"><img src="<%= sitepath %>assets/img/guide/iphone/img-step03-select-03-230908.png" alt=""></div>
                <div class="guide-Iphone_Anchorstep-detail">
                  <p class="guide-Iphone_Anchorstep-text c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>楽天グループに提出済みの書類で本人確認を行う</p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#select04" class="js-scroll">
              <div class="guide-Iphone_Anchorstep-block">
                <div class="guide-Iphone_Anchorstep-img"><img src="<%= sitepath %>assets/img/guide/iphone/img-step03-select-04-230831.png" alt=""></div>
                <div class="guide-Iphone_Anchorstep-detail">
                  <p class="guide-Iphone_Anchorstep-text c-Link_Txt-icon-front"><span class="c-Icon_Arrow-down-l"></span>受け取り時に自宅で本人確認を行う</p>
                </div>
              </div>
            </a>
          </li>
        </ol>

        <h3 class="c-Heading_Lv3" id="select01">AIかんたん本人確認(eKYC)で本人確認を行う</h3>
        <ul class="c-Txt_Cap u-Adjust_Mt-16">
          <li class="c-Txt_Emp-02">※eSIM対応のiPhoneをお持ちでeSIMをお申し込みの方 は、AIかんたん本人確認(eKYC)※1でWebお申し込み後、最短3分で※2乗り換えることができます。</li>
          <li class="c-Txt_Emp-02">※webの場合は最新のiOS、最新のSafariをご利用ください</li>
        </ul>

        <div class="guide-Iphone_Standing-border u-Adjust_Mt-32">
          <h3 class="c-Heading_Lv4">契約者情報の本人確認から「AIかんたん本人確認（eKYC）」を選択して本人確認を行ってください。</h3>
          <ul class="c-Txt_Cap u-Adjust_Mt-8">
            <li>※「AIかんたん本人確認（eKYC）」をご利用いただくには、運転免許証やマイナンバーカード（個人番号カード）のいずれかが必要になります。</li>
            <li>※未成年のお客様は「AIかんたん本人確認（eKYC）」をご利用いただけません。</li>
          </ul>
          <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/verify/ekyc/flow/?l-id=guide_iphone_guide_verify_ekyc_flow" class="c-Link_Txt-inline">スマートフォンで本人確認が完了できるeKYCの流れ<span class="c-Icon_Chevron-right"></span></a></p>
          <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/img-step03-flow-01.png" alt="" class="c-Img_Capture"></p>
          <a href="#step04" class="c-Link_Txt-icon-front u-Adjust_Mt-16"><span class="c-Icon_Arrow-down-l"></span>STEP4にお進みください</a>
        </div>

        <div class="guide-Iphone_Standing-border u-Adjust_Mt-24" id="select02">
          <h3 class="c-Heading_Lv4">書類画像をアップロードで本人確認を行う</h3>
          <p class="u-Adjust_Mt-24">書類の中からいずれかをご用意の上、手順に沿って撮影した画像をアップロードしてください。<br>本人確認が完了しましたら、ご登録のメールアドレスに本人確認完了のメールをお送りします。<br>画面に従ってお申し込み完了画面までお進みください。</p>
          <ul class="c-Txt_Cap u-Adjust_Mt-8">
            <li>※不備があった場合には、「【重要】楽天モバイル本人確認書類の不備による再アップロードのお願い」のメールをお送りします。</li>
            <li>※本メールは、不備があったお客様にのみ、本人確認書類をご提出（アップロード）いただいた後、数時間～1営業日以内にお送りします。</li>
          </ul>
          <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/verify/?l-id=guide_iphone_guide_verify#upload" class="c-Link_Txt-inline">本人確認書類<span class="c-Icon_Chevron-right"></span></a></p>
          <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/verify/img-upload/?l-id=guide_iphone_guide_verify_img-upload" class="c-Link_Txt-inline">本人確認書類アップロード方法<span class="c-Icon_Chevron-right"></span></a></p>
          <p class="u-Adjust_Mt-16 u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/img-step03-flow-02.png" alt="" class="c-Img_Capture"></p>
          <a href="#step04" class="c-Link_Txt-icon-front u-Adjust_Mt-16"><span class="c-Icon_Arrow-down-l"></span>STEP4にお進みください</a>
        </div>

        <div class="guide-Iphone_Standing-border u-Adjust_Mt-24" id="select03">
          <h3 class="c-Heading_Lv4">楽天グループに提出済みの書類で本人確認を行う</h3>
          <div class="l-Media_Grid u-Adjust_Mt-16">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/iphone/img-step03-flow-04-230908.png" alt="">
            </div>
            <div>
              <p>楽天銀行・楽天証券・楽天生命のいずれかをご契約されている方は、楽天モバイル申し込み時の本人確認書類の撮影が不要になります。</p>
              <p>また、eSIMでお申し込みの場合は、お申し込み後、簡単に開通・ご利用開始いただけます。</p>
              <p class="u-Adjust_Mt-24 c-Txt_Cap">※楽天銀行・楽天証券・楽天生命をご契約されていても、条件を満たさない場合、「楽天グループに提出済みの書類で確認」をご利用になれない場合があります。</p>
              <p class="c-Txt_Cap">※お申し込み後に送付される転送不要郵便のお受け取りが確認できない場合、お申し込みがキャンセルになる、もしくは別途本人確認の手続きを実施いただく必要があります。</p>
              <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/verify/group-kyc/?l-id=guide_iphone_guide_verify_group-kyc"
                  class="c-Link_Txt-inline">楽天グループに提出済みの書類で確認とは<span class="c-Icon_Chevron-right"></span></a></p>
            </div>
          </div>
        </div>

        <div class="guide-Iphone_Standing-border u-Adjust_Mt-24" id="select04">
          <h3 class="c-Heading_Lv4">受け取り時に自宅で本人確認を行う</h3>
          <div class="l-Media_Grid u-Adjust_Mt-16">
            <div class="l-Media_Image">
              <img src="<%= sitepath %>assets/img/guide/iphone/img-step03-flow-03.png" alt="">
            </div>
            <div>
              <p>Webからのお申し込み時に本人確認をスキップし、商品のお受け取りの際にご自宅で本人確認を行う方法です。以下の書類の中から、いずれかをご用意のうえ、お申し込みください。<br>画面に従ってお申し込み完了画面までお進みください。</p>
              <p class="u-Adjust_Mt-24 c-Txt_Cap c-Txt_Emp-02">※以下の場合は、ご自宅での本人確認がご利用いただけません。SIMロックがかかっているか確認するには、現在契約中の携帯電話会社へお問い合わせください。SIMロック解除の必要がない場合、次の手順にお進みください。</p>
              <ul class="c-List_Text-disc-emp">
                <li class="u-Adjust_Mt-24">お支払い方法が代金引換の場合</li>
                <li class="u-Adjust_Mt-8">ご契約者が18歳未満の場合</li>
                <li class="u-Adjust_Mt-8">離島など一部の地域にお住まいの場合</li>
              </ul>
              <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/verify/home-kyc/?l-id=guide_iphone_guide_verify_home-kyc" class="c-Link_Txt-inline">受け取り時に自宅で確認とは<span class="c-Icon_Chevron-right"></span></a></p>
            </div>
          </div>
          <a href="#step04" class="c-Link_Txt-icon-front u-Adjust_Mt-16"><span class="c-Icon_Arrow-down-l"></span>STEP4にお進みください</a>
        </div>


      </div>
    </section>

    <section id="step04" class="guide-Iphone_Section guide-Iphone_Section-04">
      <div class="l-System_Container guide-Iphone_Section-in">
        <h2 class="c-Heading_Lv2 guide-Iphone_Section-ttl"><span class="guide-Iphone_Section-ttl-step">STEP4</span>iPhoneを楽天モバイルで使い始めるときの<br>開通手続き・初期設定を行う</h2>
        <h3 class="c-Heading_Lv3 u-Adjust_Mt-56">iPhoneの初期設定・APN設定を行い、開通手続きを完了する</h3>
        <p class="u-Adjust_Mt-8"><a href="<%= sitepath %>guide/mnp/flow/?l-id=guide_iphone_guide_mnp_flow" class="c-Link_Txt-inline">MNPの開通手続き方法はこちら<span class="c-Icon_Chevron-right"></span></a></p>

        <div class="c-Tab js-Tab u-Adjust_Mt-32">
          <ul class="c-Tab_Items" role="tablist">
            <li class="c-Tab_Item u-Adjust_Align-center" id="tab-menu1" role="tab" aria-selected="true" aria-controls="tab-content1">AIかんたん本人確認(eKYC)／<br>書類画像アップロードで本人確認の場合</li>
            <li class="c-Tab_Item u-Adjust_Align-center" id="tab-menu2" role="tab" aria-selected="false" aria-controls="tab-content2">受け取り時に自宅で本人確認の場合</li>
          </ul>
          <div class="c-Tab_Panel" id="tab-content1" role="tabpanel" aria-hidden="false" aria-labelledby="tab-menu1">
            <div class="l-Media_Grid-half u-Adjust_Mt-16">
              <div class="guide-Info guide-Iphone_Bg">
                <h4 class="c-Heading_Lv4 guide-Txt_With-circle">eSIMを申し込んだ場合</h4>
                <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/iphone/setting/esim/?l-id=guide_iphone_support_iphone_setting_esim" class="c-Btn_Regular"><span>iPhoneの初期設定を見る（eSIM）</span></a></p>
                <p class="u-Adjust_Mt-32">my 楽天モバイルの画面に従って、楽天モバイルの開通手続き（アクティベーション）を行う</p>
                <div class="guide-Iphone_Section-myrakutenmobile u-Adjust_Mt-32">
                  <div class="guide-Iphone_Section-myrakutenmobile-img"><img src="<%= sitepath %>assets/img/guide/iphone/icon-myrakutenmobile.png" alt=""></div>
                  <h4 class="c-Heading_Lv4 u-Adjust_Align-center u-Adjust_Mt-16">my 楽天モバイル</h4>
                  <p class="u-Adjust_Align-center u-Adjust_Mt-16">各種お手続き、料金やデータ容量など、<br class="guide-Iphone_Disp-pc">手軽に確認できる公式アプリです。</p>
                  <div class="guide-Iphone_Section-myrakutenmobile-btn u-Adjust_Mt-16"><a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank"><img src="<%= sitepath %>assets/img/guide/iphone/btn-appstore.png" alt=""></a></div>
                  <p class="u-Adjust_Align-center u-Adjust_Mt-16"><a href="<%= sitepath %>guide/my-rakuten-mobile/" class="c-Btn_Regular"><span>詳細を見る</span></a></p>
                </div>
                <div class="l-Media_Image u-Adjust_Mt-16">
                  <img class="guide-Utility_Adjust-Img-half-pc" src="<%= sitepath %>assets/img/guide/iphone/img-step03-flow-04.png" alt="">
                </div>
              </div>
              <div class="guide-Info guide-Iphone_Bg">
                <h4 class="c-Heading_Lv4 guide-Txt_With-circle">nanoSIMを申し込んだ場合</h4>
                <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/iphone/setting/nanosim/?l-id=guide_iphone_support_iphone_setting_nanosim" class="c-Btn_Regular"><span>iPhoneの初期設定を見る（nanoSIM）</span></a></p>
                <p class="u-Adjust_Mt-32">nanoSIMに同梱されている<a href="<%= sitepath %>faq/detail/00001648/">マルチSIM版START GUIDE</a>に従って開通（アクティベート）を行う</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※nanoSIMは、カード台から切り出した状態のmicroSIMからさらに切り出しが必要になります</p>
                <div class="l-Media_Image u-Adjust_Mt-16">
                  <img class="guide-Utility_Adjust-Img-half-pc" src="<%= sitepath %>assets/img/guide/iphone/img-step03-flow-05.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="c-Tab_Panel" id="tab-content2" role="tabpanel" aria-hidden="true" aria-labelledby="tab-menu2">
            <div class="l-Media_Grid-half u-Adjust_Mt-16">
              <div class="guide-Info guide-Iphone_Bg">
                <h4 class="c-Heading_Lv4 guide-Txt_With-circle">eSIMを申し込んだ場合</h4>
                <p class="u-Adjust_Mt-32">eSIMはデジタルSIMなので、物理的なカードはありません。 開通（アクティベート）前に、スタートガイド裏面のQRコード読み取りが必要です。<a href="<%= sitepath %>faq/detail/00001648/">eSIM版 START GUIDE</a>の案内に沿って、my 楽天モバイルのWebページで、開通手続きを行ってください。</p>
                <div class="l-Media_Image u-Adjust_Mt-24">
                  <img class="guide-Utility_Adjust-Img-half-pc" src="<%= sitepath %>assets/img/guide/iphone/img-step03-flow-06.png" alt="">
                </div>
                <p class="u-Adjust_Mt-32"><a href="<%= sitepath %>guide/iphone/setting/esim/?l-id=guide_iphone_support_iphone_setting_esim" class="c-Btn_Regular"><span>iPhoneの初期設定を見る（eSIM）</span></a></p>
              </div>
              <div class="guide-Info guide-Iphone_Bg">
                <h4 class="c-Heading_Lv4 guide-Txt_With-circle">nanoSIMを申し込んだ場合</h4>
                <p class="u-Adjust_Mt-32">nanoSIMに同梱されている<a href="<%= sitepath %>faq/detail/00001648/">マルチSIM版START GUIDE</a>に従って開通（アクティベート）を行う</p>
                <p class="c-Txt_Cap u-Adjust_Mt-8">※nanoSIMは、カード台から切り出した状態のmicroSIMからさらに切り出しが必要になります</p>
                <div class="l-Media_Image u-Adjust_Mt-24">
                  <img class="guide-Utility_Adjust-Img-half-pc" src="<%= sitepath %>assets/img/guide/iphone/img-step03-flow-07.png" alt="">
                </div>
                <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>guide/iphone/setting/nanosim/?l-id=guide_iphone_support_iphone_setting_nanosim" class="c-Btn_Regular"><span>iPhoneの初期設定を見る（nanoSIM）</span></a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section class="guide-Iphone_Section-05">
    <div class="l-System_Container">

      <div class="guide-Iphone_Btn-center u-Adjust_Mt-64">
        <a href="<%= sitepath %>guide/application/?lid-r=guide_iphone_application_3" class="c-Btn_Primary guide-Iphone_Btn-center-l"><span class="guide-Iphone_Btn-text-normal-m">新規／乗り換え（MNP）お申し込み</span></a>
        <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&?l-id=guide_iphone_ms_2&mno_migration=1" class="c-Btn_Primary guide-Iphone_Btn-center-l"><span><span class="c-Txt_Normal-s">スーパーホーダイ・組み合わせプランからの</span><br>プラン変更（移行）お申し込み</span></a>
      </div>

      <h3 class="c-Heading_Lv3 u-Adjust_Align-center u-Adjust_Mt-72">楽天モバイルの便利な<br class="guide-Iphone_Disp-sp">iPhone活用方法</h3>
      <p class="u-Adjust_Mt-16">お手持ちのiPhoneを楽天モバイルで使いたくなる「nanoSIMとeSIM、2種類のSIMが使えるデュアルSIMを使用した便利な使い方」と<br>楽天モバイルならでは便利なアプリ「Rakuten Link」をご紹介します。</p>

      <div class="u-Adjust_Mt-48">
        <h4 class="c-Heading_Lv4">楽天モバイルをiPhoneのデュアルSIM（nanoSIM/eSIM）で使う</h4>
        <div class="l-Media_Grid-large u-Adjust_Mt-16">
          <div class="l-Media_Image">
            <div class="guide-Layout_Flow">
              <div class="guide-Layout_Flow-item guide-Iphone_Layout-flow-item-01">
                <img src="<%= sitepath %>assets/img/guide/iphone/img-01a.png" alt="iPhone（アイフォン）端末の楽天（MNO）デュアルシム設定前">
              </div>
              <div class="guide-Layout_Flow-item guide-Iphone_Layout-flow-item-02">
                <img src="<%= sitepath %>assets/img/guide/iphone/img-01b.png" alt="iPhone（アイフォン）端末の楽天自社回線（MNO）設定後">
              </div>
            </div>
          </div>

          <div>
            <p>iPhone XS、iPhone XS Max、iPhone XR 以降は、nanoSIM と eSIM を使ったデュアル SIM に対応しているので、1つのデバイス製品で2つのSIMを利用することができます。（SIMごとに別の携帯会社の利用が可能です）<br>eSIM はデジタルSIM なので、物理的な nanoSIM を使うことなく、楽天モバイルの料金プラン「Rakuten UN-LIMIT VII」をアクティベートしてご利用になれるため、デュアルSIMを設定することで安心してお乗り換えをご検討いただけます。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※デュアルSIM対応のiPhoneについては、<a href="<%= sitepath %>product/sim/esim/?l-id=guide_iphone_esim_product-esim#product-esim" class="c-Link_Txt">その他のeSIM対応製品</a>をご確認ください。</p>

            <ul class="<%= nameSpace %>-Layout_Btn-list u-Adjust_Mt-24">
              <li><a href="#esim-request" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>eSIMの申し込み方法を確認する</a></li>
              <li><a href="<%= sitepath %>product/sim/esim/?l-id=guide_iphone_esim" class="c-Btn_Regular"><span>eSIMについて詳しく見る</span></a></li>
              <li class="u-Adjust_Mt-16"><a href="<%= sitepath %>product/sim/dual-sim/?l-id=guide_iphone_dual-sim-01" class="c-Btn_Regular"><span>デュアルSIMについて詳しく見る</span></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="guide-Info guide-Iphone_Bg guide-Iphone_Use">
        <h4 class="c-Heading_Lv4">例えばこんな使い方も！「2台目代わりに楽天モバイルを契約する」</h4>
        <div class="l-Media_Grid-half u-Adjust_Mt-16">
          <div class="" style="background-color: white; padding: 16px;">
            <p class="c-Txt_Emp-01">これまで通り、他キャリアの契約を利用</p>
            <div class="guide-Iphone_Info u-Adjust_Mt-16">
              <div class="guide-Iphone_Info-img">
                <img src="<%= sitepath %>assets/img/guide/iphone/img-03.png?210705" alt="">
              </div>
              <div class="guide-Iphone_Info-text">
                <p>他キャリアの契約を解除することなく、これまで通りのキャリアメールや家族割を継続することが可能です。</p>
              </div>
            </div>
            <div class="guide-Iphone_Use-cap">
              <p class="c-Txt_Cap">※ご満足いただけなければ解除可能。解除料はいただきません。<br>（ Rakuten最強プランの契約解除料は無料。製品代等は別。）</p>
            </div>
          </div>
          <div class="" style="background-color: white; padding: 16px;">
            <p class="c-Txt_Emp-01">データ通信は毎月使った分だけお支払い<span class="c-Txt_Cap">※3</span></p>
            <div class="guide-Iphone_Info u-Adjust_Mt-16">
              <div class="guide-Iphone_Info-img">
                <img src="<%= sitepath %>assets/img/guide/iphone/img-02.png?210705" alt="">
              </div>
              <div class="guide-Iphone_Info-text">
                <p>「Rakuten最強プラン」なら、データ3GBまでなら980円（税込1,078円）、さらにデータ高速無制限エリアなら動画・SNSどれだけ使っても最大2,980円／月（税込3,278円）<sup>※3</sup></p>
              </div>
            </div>
            <div class="guide-Iphone_Use-cap">
              <p class="c-Txt_Cap">※SNSはX（旧Twitter）、Facebook、動画はYouTube画質自動設定時を基準。設定画質により不安定になる場合あり。</p>
            </div>
          </div>
        </div>

        <p class="c-Txt_Cap guide-Iphone_Use-cap">※3 公平なサービス提供のため、速度制限の場合あり。環境により速度低下する場合あり。海外は通話料等別。2GB超過後は最大128kbps。通信速度はベストエフォート（規格上の最大速度）であり、実効速度は通信環境・状況により変動します。<br>※通話料等は別</p>

      </div>

      <div class="u-Adjust_Mt-24">
        <a class="c-Banner_Hover-act" href="https://network.mobile.rakuten.co.jp/product/sim/dual-sim/?l-id=product_sim_product_dual-sim-02">
          <picture>
            <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/bnr/bnr-sim-sp-221004.png" width="100%">
            <img src="<%= sitepath %>assets/img/bnr/bnr-sim-pc-221004.png" width="1032" alt="" loading="lazy">
          </picture>
        </a>
      </div>

      <div class="u-Adjust_Mt-24 u-Adjust_Align-center">
        <a href="<%= sitepath %>guide/application/?lid-r=guide_iphone_application_1" class="c-Btn_Secondly <%= nameSpace %>-Btn_Adjust-large"><span>eSIMを申し込む</span></a>
      </div>

      <div class="guide-Iphone_Btn-center u-Adjust_Mt-32">
        <a href="<%= sitepath %>guide/application/?lid-r=guide_iphone_application_3" class="c-Btn_Primary guide-Iphone_Btn-center-l"><span class="guide-Iphone_Btn-text-normal-m">新規／乗り換え（MNP）お申し込み</span></a>
        <a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten&?l-id=guide_iphone_ms_2&mno_migration=1" class="c-Btn_Primary guide-Iphone_Btn-center-l"><span><span class="c-Txt_Normal-s">スーパーホーダイ・組み合わせプランからの</span><br>プラン変更（移行）お申し込み</span></a>
      </div>

      <%- include('/include/guide/_faq') %>

    </div>
  </section>





<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

  </div>
  <div class="l-System_Container">
    <div class="c-Breadcrumbs_Foot">
      <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
      <%_ let dirs = []; _%>
      <%_ directories.forEach(function (dir) { _%>
        <%_ if (dir.path !== "") { _%>
          <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ } else { _%>
          <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
        <%_ } _%>
      <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= breadcrumbstitle %></li>
    </ul>
    </div>
  </div>

  <%- include('/include/_footer') %>

</footer>
</div>


<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.detail.bundle.js?20240521"></script>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/guide/_iphone') %>
<%- include('/include/_append-body') %>
<script src="https://players.brightcove.net/5068808272001/default_default/index.min.js"></script>
<script src="https://r.r10s.jp/com/rat/plugin/media/main-0.2.0.js"></script>
<script type="text/javascript">
  window.RAT.MediaTracker({
    params: {
      acc: 1312,
      aid: 1,
      pgn: "/guide/iphone/",
    },
    configs: {
      measure: true,
    }
  })
</script>
</body>
</html>
