<% const pagetitle = "iPhoneのeSIM クイック転送を使ったデータとSIMの移行方法" -%>
<% const category = "製品（Android）" -%>
<% const subCategory = "iPhone" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/iphone/initial-setting/", label:"初期設定（iPhone・Apple Watch）"}] -%>
<% const namespace = "support-iphone-setting" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'iPhoneのeSIM クイック転送を使ったデータとSIMを移行する場合の手順をご案内します',
    noindex: false,
    pathname: filepath
  });
%>


<%- include('/include/_common-css') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/support/support.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/support/iphone/setting/<%= namespace %>.css?20240424">
<link rel="stylesheet" href="<%= sitepath %>assets/css/guide/guide.css?20240424">
<%- include('/include/guide/_guide-flow-inquiry-css') %>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

<%- include('/include/_header') %>

<div class="c-Breadcrumbs_Head">
  <ul>
    <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
    <%_ if (typeof directories !== 'undefined') { _%>
    <%_ let dirs = []; _%>
    <%_ directories.forEach(function (dir) { _%>
      <%_ if (dir.path !== "") { _%>
        <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ } else { _%>
        <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
      <%_ } _%>
    <%_ }) _%>
    <%_ } _%>
    <li aria-current="true"><%= pagetitle %></li>
  </ul>
</div>
<div id="attention"></div>


<div class="<%= namespace %>-Layout_Container">
  <div class="l-System_Container">
    <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>

    <p class="u-Adjust_Pt-24">iPhoneへ機種変更時に、ご利用中のiPhoneのデータとSIM※をかんたんに移行できる方法をご案内いたします。</p>
    <p class="c-Txt_Cap u-Adjust_Mt-8">※SIMカードはeSIMに変換された上で移行します。eSIMに変換せずに機種変更をする場合は<a href="<%= sitepath %>guide/setting/ios/#iphoneAnchor">こちら</a>をご確認ください。</p>
    <p class="u-Adjust_Mt-8">SIMの移行は特定製品・iOSのみ対象です。対象条件を事前にご確認ください。</p>


    <ul class="c-Link_List-horizontal-simple u-Adjust_Mt-24">
      <li><a href="#howto1" class="c-Link_Txt-icon c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>ご利用前の確認事項</a></li>
      <li><a href="#howto2" class="c-Link_Txt-icon c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>設定手順（クイックスタートを利用した設定方法）</a></li>
      <li><a href="#howto3" class="c-Link_Txt-icon c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>設定手順（クイックスタートを利用しない設定方法）※eSIMの移行のみ</a></li>
      <li><a href="#howto4" class="c-Link_Txt-icon c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>設定手順（eSIMを初期設定完了後に移行する設定方法）</a></li>
    </ul>

    <h2 class="c-Heading_Lv2 u-Adjust_Mt-40" id="howto1">ご利用前の確認事項・事前準備</h2>
    <p class="u-Adjust_Mt-16">以下の条件に当てはまることをご確認ください。</p>
    <ul class="c-List_Text-disc u-Adjust_Mt-16">
      <li class="c-Txt_Emp-02">変更前、変更後のiPhoneがiPhone 11以降（iPhone SE 第2世代除く）であること</li>
    </ul>
    <div class="c-Accordion u-Adjust_Mt-16">
      <button id="accordion-item1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-item-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>対象のiPhoneを確認する</button>
      <div id="accordion-item-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-item1" aria-hidden="true">
        <ul class="c-List_Text-disc">
          <li>iPhone 11</li>
          <li>iPhone 11 Pro</li>
          <li>iPhone 11 Pro Max</li>
          <li>iPhone 12 mini</li>
          <li>iPhone 12</li>
          <li>iPhone 12 Pro</li>
          <li>iPhone 12 Pro Max</li>
          <li>iPhone 13 mini</li>
          <li>iPhone 13</li>
          <li>iPhone 13 Pro</li>
          <li>iPhone 13 Pro Max</li>
          <li>iPhone SE(第3世代)</li>
          <li>iPhone 14</li>
          <li>iPhone 14 Plus</li>
          <li>iPhone 14 Pro</li>
          <li>iPhone 14 Pro Max</li>
          <li>iPhone 15</li>
          <li>iPhone 15 Plus</li>
          <li>iPhone 15 Pro</li>
          <li>iPhone 15 Pro Max</li>
        </ul>
      </div>
    </div>
    <ul class="c-List_Text-disc u-Adjust_Mt-24">
      <li class="c-Txt_Emp-02">変更前、変更後のiOSが16.0以上であること</li>
    </ul>
    <p class="c-Txt_Cap u-Adjust_Mt-8">新しいiPhoneのOSバージョンは初期設定完了後にご確認できます。SIM移行の画面がスキップされる場合は、初期設定完了後にSIM移行手続きを行ってください。</p>
    <div class="c-Accordion u-Adjust_Mt-16">
      <button id="accordion-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>OSのバージョン確認とアップデート方法</button>
      <div id="accordion-content-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1" aria-hidden="true">
        <ol class="<%= namespace %>-Flow_List u-Adjust_Mt-8">
          <li>
            <h3 class="c-Heading_Lv4">1. 一般画面を開く</h3>
            <p class="u-Adjust_Mt-16">設定にある「一般」をタップしてください。</p>
            <div class="u-Adjust_Mt-24">
              <div class="l-Media_Image u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/setting/esim/capture46.png" width="300" height="" alt="" class="c-Img_Capture">
              </div>
            </div>
            <div class="u-Adjust_Mt-24">
              <div class="l-Media_Image u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/setting/esim/capture47.png" width="300" height="" alt="" class="c-Img_Capture">
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv4">2. 「ソフトウェア・アップデート」をタップ</h3>
            <div class="u-Adjust_Mt-24">
              <div class="l-Media_Image u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/setting/esim/capture48.png" width="300" height="" alt="" class="c-Img_Capture">
              </div>
            </div>
          </li>
          <li>
            <h3 class="c-Heading_Lv4">3. 「ダウンロードしてインストール」をタップ</h3>
            <p class="u-Adjust_Mt-16">OSが最新版ではない場合、最新版のソフトウェアのダウンロード・インストールが案内されます。<br>「ダウンロードしてインストール」をタップし、画面の案内に沿ってインストールを行ってください。</p>
            <div class="u-Adjust_Mt-24">
              <div class="l-Media_Image u-Adjust_Align-center"><img src="<%= sitepath %>assets/img/guide/iphone/setting/esim/capture49.png" width="300" height="" alt="" class="c-Img_Capture">
              </div>
            </div>
          </li>
        </ol>
        <p class="u-Adjust_Mt-32">以上でOSのバージョン確認とアップデートは完了です。</p>
      </div>
    </div>
    <p class="u-Adjust_Mt-32">機種変更元のiPhoneは以下の設定を事前に行ってください。</p>
    <ul class="c-List_Text-disc u-Adjust_Mt-16">
      <li><a href="https://support.apple.com/ja-jp/guide/iphone/iphde0f868fd/ios" target="_blank">iCloudへサインイン</a></li>
      <li>Wi-Fiに接続</li>
      <li><a href="https://support.apple.com/ja-jp/guide/iphone/iph14a867ae/ios" target="_blank">パスコード設定がON</a></li>
      <li><a href="https://support.apple.com/ja-jp/HT204915" target="_blank">2ファクタ認証がON</a></li>
      <li>BluetoothがON</li>
    </ul>
    <p class="u-Adjust_Mt-16">※事前に充電を行い、バッテリー残量が十分ある状態にしてください。</p>


    <h2 class="c-Heading_Lv2 u-Adjust_Mt-64" id="howto2">設定手順</h2>
    <h3 class="c-Heading_Lv3 u-Adjust_Mt-16">クイックスタートを利用した設定方法</h3>
    <p class="u-Adjust_Mt-8">※クイックスタートを利用しない場合は<a href="#howto3" class="js-scroll">こちら</a>をご確認ください。</p>
    <ul class="u-Adjust_Mt-16 <%= namespace %>-Flow_List">
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">1. 機種変更先（新しい）iPhoneの電源を入れる</h4>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-01.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">2. 言語と地域を設定する</h4>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-02a.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-02b.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">3. 機種変更先（新しい）iPhoneに機種変更元のiPhoneを近づける</h4>
        <p class="u-Adjust_Pt-16">クイックスタートの画面が表示されたら、変更元のiPhoneを新しいiPhoneに近づけてください。</p>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-03.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">4. 機種変更元のiPhoneで「続ける」をタップ</h4>
        <p class="u-Adjust_Pt-16">変更元のiPhoneの画面に「新しいiPhoneを設定」のポップアップが表示されますので、「続ける」をタップしてください。</p>
        <ul class="c-List_Cap u-Adjust_Pt-16">
          <li><span>※</span>画面が切り替わるまでは、両方のiPhoneともに操作はしないようにお願いいたします。</li>
        </ul>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-04.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">5. 機種変更先（新しい）iPhoneのカメラを機種変更元のiPhoneに向ける</h4>
        <p class="u-Adjust_Pt-16">変更元のiPhoneに表示される案内に従い、変更元のiPhoneのカメラで、新しいiPhoneに表示されたアニメーションを読み取ってください。</p>
        <ul class="c-List_Cap u-Adjust_Pt-16">
          <li><span>※</span>複数台iPhoneを持っている場合、パスコードの入力が必要になる場合があります。</li>
        </ul>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-05.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">6. 機種変更元のiPhoneで「自分用に設定」をタップ</h4>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-06.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">7. 機種変更先（新しい）iPhoneで機種変更元のiPhoneのパスコードを入力</h4>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-07.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">8. 機種変更先（新しい）iPhoneの設定が完了するまで待つ</h4>
        <p class="u-Adjust_Pt-16">2台を近づけたまま、何も操作せずにそのままお待ちください。</p>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-08.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">9. 機種変更先（新しい）iPhoneで「別のiPhoneからの転送」を選択し「番号を転送」をタップ</h4>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-09a.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-09b.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">10. 機種変更元のiPhoneでポップアップが表示されたら、サイドボタンをダブルクリックする
        </h4>
        <ul class="c-List_Cap u-Adjust_Pt-16">
          <li><span>※</span>転送中、機種変更先（新しい）iPhoneに「SIMはメッセージを送信しました」という画面が2回表示されますが、自動で切り替わるため操作は不要です。</li>
          <li><span>※</span>機種変更先（新しい）iPhoneにポップアップが表示されますが、操作は不要です。</li>
        </ul>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-10b.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">11. しばらく待つとモバイル通信設定が完了するので、「続ける」をタップする</h4>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-11.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">12. Face IDを設定する</h4>
        <p class="u-Adjust_Pt-16">画面の案内にしたがって設定を行ってください。<br>
          あとで設定することもできますので、その場合は「あとで”設定”でセットアップ」をタップして進んでください。</p>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-12.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">13. サインインする</h4>
        <p class="u-Adjust_Pt-16">ご利用のApple IDを入力し、「次へ」をタップしてください。<br>
Apple IDをお持ちでない場合は、アカウントを作成してください。</p>
        <div class="u-Adjust_Mt-16"><a href="<%= sitepath%>guide/iphone/appleid/" class="c-Link_Txt-icon">Apple IDの作成方法<span class="c-Icon_Chevron-right"></span></a></div>
        <ul class="c-List_Cap u-Adjust_Pt-16">
          <li><span>※</span>複数台iPhoneを持っている場合、「次へ」をタップしたあとにパスコードの入力が必要になる場合があります。</li>
          <li><span>※</span>「2ファクタ認証」が表示された場合、送られた認証コードを入力してください。</li>
          <li><span>※</span>クイックスタートをご利用の場合、以降の画面が表示されない場合があります。</li>
        </ul>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-13.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">14. 利用規約に同意する</h4>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-14.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">15. 位置情報サービスを設定する</h4>
        <p class="u-Adjust_Pt-16">位置情報サービスの設定画面が表示されますので、どちらか選択してください。</p>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-15.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">16. エクスプレス設定をする</h4>
        <p class="u-Adjust_Pt-16">エクスプレス設定を行ってください。変更しない場合は「続ける」をタップしてください。</p>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-16.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">17. アップデートのインストール方法を選択する</h4>
        <p class="u-Adjust_Pt-16">iOSのアップデート方法を選んでください。<br>自動的にアップデートされるようにする場合は「続ける」をタップしてください。<br>手動でアップデートをインストールしたい場合は「手動でアップデートをインストール」をタップしてください。</p>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-17.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">18. Apple Payを設定する</h4>
        <p class="u-Adjust_Pt-16">Apple Payを使用する場合は、「続ける」をタップして、画面の案内にしたがって設定を行ってください。<br>あとで設定することもできますので、その場合は「あとでWalletでセットアップ」をタップして進んでください。</p>
        <ul class="c-List_Cap u-Adjust_Pt-16">
          <li><span>※</span>表示された場合は設定してください。</li>
        </ul>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-18.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">19. iCloudキーチェーンを設定する</h4>
        <p class="u-Adjust_Pt-16">iCloudキーチェーンを設定してください。使用しない場合は「iCloudキーチェーンを使用しない」をタップしてください。</p>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-19.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">20. iMessageとFaceTimeを設定する</h4>
        <p class="u-Adjust_Pt-16"> iMessageとFaceTimeを設定してください。利用しない場合は「今はしない」をタップしてください。</p>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-20.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">21. Siriを設定する</h4>
        <p class="u-Adjust_Pt-16">画面の案内にしたがって設定を行ってください。<br>あとで設定することもできますので、その場合は「あとで”設定”でセットアップ」をタップして進んでください。</p>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-21.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">22. スクリーンタイムやその他のディスプレイオプションを設定する</h4>
        <p class="u-Adjust_Pt-16">画面の案内にしたがって各種設定を行い、「続ける」をタップして進んでください。</p>
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>モバイル通信設定（未設定の場合）</li>
          <li>スクリーンタイム</li>
          <li>App解析</li>
          <li>True Toneディスプレイ</li>
          <li>外観モード</li>
          <li>拡大モード</li>
        </ul>
        <ul class="c-List_Cap u-Adjust_Pt-16">
          <li><span>※</span>2021年4月30日時点での機能項目になります。OSのバージョンによって設定できる機能が異なります。</li>
        </ul>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">23. データ転送が終わるまで2台を近づけておく</h4>
        <p class="u-Adjust_Pt-16">データの転送がはじまりますので、完了するまで2台を近づけたまま、何も操作せずにそのままお待ちください。<br>また、データ転送にはお時間がかかる場合がありますので、電源に接続しておいてください。</p>
        <div class="u-Adjust_Mt-24">
          <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Align-center">変更元iPhoneの画面</p>
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-23a.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
        <div class="u-Adjust_Mt-24">
          <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Align-center">変更先の新しいiPhoneの画面</p>
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-23b.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">24. データ転送完了</h4>
        <p class="u-Adjust_Pt-16">データ転送が完了すると、変更元のiPhoneに「転送が完了しました」を表示されますので、「続ける」をタップしてください。</p>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-24.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">25. 設定完了</h4>
        <p class="u-Adjust_Pt-16">データ転送が完了すると、変更先の新しいiPhoneで自動で再起動がはじまりますので、そのままお待ちください。<br>再起動が完了し、以下の画面が表示されたら設定が完了です。<br>画面を上にスワイプすると、ホーム画面が表示されます。</p>
        <ul class="c-Txt_Emp-02 c-List_Cap u-Adjust_Pt-16">
          <li><span>※</span>SIMデータ移行後、「 [楽天モバイル]eSIMプロファイルダウンロードのお願い」というメールが届きますが、プロファイルのダウンロードは不要です。</li>
        </ul>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-25.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
    </ul>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-64" id="howto3">クイックスタートを利用しない設定方法</h3>
    <p class="u-Adjust_Mt-8">クイックスタートを利用せず、初期設定中に、eSIMを転送する設定方法です。<br>設定にはApple IDが必要です。Apple IDを利用せず、eSIMを転送する場合は、<a href="#howto3-2" class="js-scroll">こちら</a>をご確認ください。</p>
    <ul class="u-Adjust_Mt-16 <%= namespace %>-Flow_List">
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">1. 本体の電源を入れ、画面の案内にしたがって初期設定を行う。Apple IDの入力完了まで進む。</h4>
        <ul class="c-List_Cap u-Adjust_Pt-16">
          <li><span>※</span>転送元のiPhoneと同じApple IDを入力してください。</li>
        </ul>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim02-1-01.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">2. 利用規約に同意し、Apple IDの設定が完了するまで待つ</h4>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-14.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">3. 「続ける」をタップし、しばらく待つ</h4>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim02-1-03.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">4.「別のiPhoneからの転送」を選択し「番号を転送」をタップ</h4>
        <ul class="c-List_Cap u-Adjust_Pt-16">
          <li><span>※</span>転送元の番号が複数ある場合、番号の選択画面が表示される場合があります。</li>
        </ul>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-09a.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-09b.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">5. 機種変更元のiPhoneでポップアップが表示されるので、「SIMを転送」をタップし、サイドボタンをダブルクリックする</h4>
        <ul class="c-List_Cap u-Adjust_Pt-16">
          <li><span>※</span>転送中、機種変更先（新しい）iPhoneに「SIMはメッセージを送信しました」という画面が2回表示されますが、自動で切り替わるため操作は不要です。</li>
          <li><span>※</span>機種変更先（新しい）iPhoneにポップアップが表示されますが、操作は不要です。</li>
        </ul>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-10a.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-10b.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">6. しばらく待つとモバイル通信設定が完了するので、「続ける」をタップする</h4>
        <ul class="c-Txt_Emp-02 c-List_Cap u-Adjust_Pt-16">
          <li><span>※</span>SIMデータ移行後、「 [楽天モバイル]eSIMプロファイルダウンロードのお願い」というメールが届きますが、プロファイルのダウンロードは不要です。</li>
        </ul>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-11.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
    </ul>
    <p class="u-Adjust_Mt-16">以上でSIM転送の設定は完了です。<br>引き続き、画面の案内にしたがって初期設定を行ってください。</p>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-48" id="howto3-2">クイックスタートを利用せず、Apple IDも入力しない設定方法</h3>
    <ul class="u-Adjust_Mt-16 <%= namespace %>-Flow_List">
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">1. 本体の電源を入れ、画面の案内にしたがって初期設定を行う。「位置情報サービス」の利用を選択</h4>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-15.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">2.「近くのiPhoneから転送」を選択する</h4>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim02-2-02.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">3. 転送元のiPhoneにポップアップが表示されるので、「続ける」をタップする</h4>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Align-center">転送元iPhoneの画面</p>
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim02-2-03.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">4. 転送先の新しいiPhoneに認証コードが表示されるので、転送元のiPhoneに入力する</h4>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Align-center">転送先の新しいiPhoneの画面</p>
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim02-2-04a.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Align-center">転送元iPhoneの画面</p>
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim02-2-04b.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">5. 転送先の新しいiPhoneに転送される電話番号が表示されるので、番号を確認のうえ、「別のiPhoneから転送」をタップし「番号を転送」をタップする</h4>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Align-center">転送先の新しいiPhoneの画面</p>
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim02-2-05a.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim02-2-05b.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">6. 転送先の新しいiPhoneでポップアップ表示後、機種変更元のiPhoneを確認する</h4>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Align-center">転送先の新しいiPhoneの画面</p>
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim02-2-06.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">7. 機種変更元のiPhoneでポップアップが表示されたら、サイドボタンをダブルクリックする</h4>
        <ul class="c-List_Cap u-Adjust_Pt-16">
          <li><span>※</span>転送中、転送先の新しいiPhoneに「SIMはメッセージを送信しました」という画面が2回表示されますが、自動で切り替わるため操作は不要です。</li>
        </ul>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Align-center">転送元iPhoneの画面</p>
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim02-2-07b.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">8. しばらく待つとモバイル通信設定が完了するので、「続ける」をタップする</h4>
        <ul class="c-Txt_Emp-02 c-List_Cap u-Adjust_Pt-16">
          <li><span>※</span>SIMデータ移行後、「 [楽天モバイル]eSIMプロファイルダウンロードのお願い」というメールが届きますが、プロファイルのダウンロードは不要です。</li>
        </ul>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim01-11.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
    </ul>
    <p class="u-Adjust_Mt-32">以上でSIM転送の設定は完了です。引き続き、画面の案内にしたがって初期設定を行ってください。</p>

    <h3 class="c-Heading_Lv3 u-Adjust_Mt-64" id="howto4">eSIMを初期設定完了後に移行する設定方法</h3>
    <p class="u-Adjust_Mt-8">クイックスタートを利用せず、初期設定を終えた状態からの開通手続きをご案内いたします。<br>こちらは開通手続きのみとなり、データの移行などは含まれておりません。</p>
    <ul class="c-List_Cap u-Adjust_Pt-16">
      <li><span>※</span>転送元、転送先のiPhoneは、事前に同一のApple IDでiCloudへのサインインが必要です。</li>
    </ul>
    <ul class="u-Adjust_Mt-16 <%= namespace %>-Flow_List">
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">1. 新しいiPhoneの「設定」をタップする。</h4>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim03-01.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">2.「モバイル通信」をタップする</h4>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim03-02.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">3.「モバイル通信プランを追加」をタップして、しばらく待つ</h4>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim03-03.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">4.「近くのiPhoneから転送」を選択する</h4>
        <ul class="c-List_Cap u-Adjust_Pt-16">
          <li><span>※</span>iCloudにログインしている場合、この画面は表示されません。表示されない場合、<a href="#howto4-2" class="js-scroll">手順7へお進みください</a>。</li>
        </ul>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim02-2-02.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">5. 転送元のiPhoneにポップアップが表示されるので、「続ける」をタップする</h4>
        <ul class="c-List_Cap u-Adjust_Pt-16">
          <li><span>※</span>転送元、転送先のiPhoneのBluetoothがONになっていることをご確認ください。</li>
        </ul>
        <div class="u-Adjust_Mt-24">
          <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Align-center">転送元iPhoneの画面</p>
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim02-2-03.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">6. 転送先の新しいiPhoneに認証コードが表示されるので、転送元のiPhoneに入力する</h4>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Align-center">転送先の新しいiPhoneの画面</p>
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim02-2-04a.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Align-center">転送元iPhoneの画面</p>
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim02-2-04b.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border" id="howto4-2">
        <h4 class="c-Heading_Lv4">7. 転送先の新しいiPhoneに転送される電話番号が表示されるので、番号を確認のうえ、「別のiPhoneから転送」をタップし「番号を転送」をタップする</h4>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Align-center">転送先の新しいiPhoneの画面</p>
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim02-2-05a.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim02-2-05b.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">8. 転送先の新しいiPhoneでポップアップ表示後、機種変更元のiPhoneを確認する</h4>
        <ul class="c-List_Cap u-Adjust_Pt-16">
          <li><span>※</span>製品によって、ポップアップの表記が一部異なる場合があります。</li>
        </ul>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Align-center">転送先の新しいiPhoneの画面</p>
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim02-2-06.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">9. 転送元のiPhoneでポップアップが表示されるので、「SIMを転送」をタップし、サイドボタンをダブルクリックする</h4>
        <ul class="c-List_Cap u-Adjust_Pt-16">
          <li><span>※</span>転送元のiPhoneに「SIMを転送しますか？」のポップアップが表示されない場合があります。その場合はダブルクリックの承認のみ行ってください。
          </li>
          <li><span>※</span>転送中、転送先の新しいiPhoneに「SIMはメッセージを送信しました」という画面が2回表示されますが、自動で切り替わるため操作は不要です。</li>
        </ul>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Align-center">転送元iPhoneの画面</p>
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim02-2-07a.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim02-2-07b.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">10. モバイル通信設定が完了後、「完了」をタップ</h4>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim03-13.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">11. モバイル通信画面に戻るので、5分程待つ。転送元のiPhoneに「（新しいiPhoneの名称）へ転送」という表示を確認する。</h4>
        <ul class="c-Txt_Emp-02 c-List_Cap u-Adjust_Pt-16">
          <li><span>※</span>SIMデータ移行後、「 [楽天モバイル]eSIMプロファイルダウンロードのお願い」というメールが届きますが、プロファイルのダウンロードは不要です。</li>
        </ul>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Align-center">転送先の新しいiPhoneの画面</p>
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim03-14a.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Align-center">転送元iPhoneの画面</p>
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim03-14b.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
      <li class="c-Infobox_Standing-border">
        <h4 class="c-Heading_Lv4">12. 楽天回線への接続を確認する</h4>
        <p class="u-Adjust_Pt-16">画面上のアンテナマークの隣に「4G」または「5G」と表示されているかご確認ください。<br>また、SafariやChromeなどのWebブラウザアプリが利用できるかご確認ください。</p>
        <div class="u-Adjust_Mt-24">
          <div class="l-Media_Image u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/guide/iphone/setting/esim-upgrade/capture-esim03-15.png" width="300" height="" alt="" class="c-Img_Capture">
          </div>
        </div>
      </li>
    </ul>

    <div class="u-Adjust_Pt-40">
      <div><a href="<%= sitepath %>support/" class="c-Btn_Regular-semiauto"><span>お客様サポートトップにもどる</span></a></div>
      <div class="u-Adjust_Mt-16"><a href="<%= rootpath %>" class="c-Btn_Regular-semiauto"><span>楽天モバイルトップへ</span></a></div>
    </div>

  </div>
</div>






<%- include('/include/guide/_inquiry') %>
<%- include('/include/guide/_review') %>

<footer class="g-Footer">

  <div class="g-Footer_Aside">

    <%- include('/include/footer/bnr/_bnr.ejs') %>

    <div class="g-Footer_Pagetop">
      <a href="#top" class="js-scroll">
        <span class="c-Icon_Arrow-up-l"></span>
      </a>
    </div>
  </div>
  <div class="c-Breadcrumbs_Foot">
    <ul>
      <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
      <%_ if (typeof directories !== 'undefined') { _%>
        <%_ let dirs = []; _%>
        <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
      <%_ } _%>
      <li aria-current="true"><%= pagetitle %></li>
    </ul>
  </div>

  <%- include('/include/_footer') %>

</footer>

</div>
<%- include('/include/_common-js') %>
<script src="<%= sitepath %>assets/js/guide.inquiry.bundle.js?20240521"></script>
<%- include('/include/support/_smallcategory-js') %>
<%- include('/include/_append-body') %>



</body>
</html>
