<% const pagetitle = "楽メール初めてのメールアドレスの設定で抽選で合計3万名様に100ポイントプレゼントキャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "rakumail-setting" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '「楽メール」の初めてのメールアドレスの設定で抽選で合計3万名様に100ポイントプレゼント！',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css-v2') %>
<link rel="stylesheet" href="<%= sitepath %>assets/css/campaign/promotion/rakumail-setting/rakumail-setting.css?20240424">
<%- include('/include/_append-head') %>
</head>
<body>
  <%- include('/include/_prepend-body') %>

  <div class="l-System">

    <%- include('/include/_header') %>

    <div class="c-Breadcrumbs_Head">
      <ul>
        <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
        <%_ if (typeof directories !== 'undefined') { _%>
          <%_ let dirs = []; _%>
          <%_ directories.forEach(function (dir) { _%>
          <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
          <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
          <%_ } _%>
        <%_ }) _%>
        <%_ } _%>
        <li aria-current="true"><%= pagetitle %></li>
      </ul>
    </div>

    <div class="<%= namespace %>-Layout_Label">
      <ul class="c-Label_List <%= namespace %>-Layout_Label_List">
        <li class="c-Label_Normal">ご契約者様対象</li>
      </ul>
      <p class="<%= namespace %>-Layout_Label_point">ポイント：付与日を含めて6カ月の期間限定ポイント</p>
    </div>

    <div class="<%= namespace %>-Hero_Bg">
      <div class="<%= namespace %>-Hero_Bg-inner">
        <h1>
          <picture>
            <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/campaign/rakumail-setting/hero-01-sp.png">
            <source media="(max-width: 1440px)" srcset="<%= sitepath %>assets/img/campaign/rakumail-setting/hero-01-1440-300.png">
            <img src="<%= sitepath %>assets/img/campaign/rakumail-setting/hero-01-pc.png" alt="楽メール初めてのメールアドレスの設定で抽選で合計3万名様に100ポイントプレゼントキャンペーン">
          </picture>
        </h1>
      </div>
    </div>

    <div class="l-System_Container">
      <p class="u-Adjust_Mt-8 c-Txt_Cap c-Txt_Emp-02">※キャンペーン期間は3回の期間に分かれており、それぞれの期間で1万名様が当選されます。当選のお知らせは、ポイント付与をもって代えさせていただきます。</p>
      <p class="c-Txt_Cap">※ポイントは付与日を含めて6カ月の期間限定ポイントとなります。</p>
      <div class="u-Adjust_Mt-24">
        <p class="u-Adjust_Align-center">
          <span class="c-Txt_Emp-01">【キャンペーン期間】</span><br>
          初期設定を行った①~③の該当期間ごとに、抽選が行われます。キャンペーンに参加できるのは開催期間3回のうち一度のみです。
        </p>
        <ol class="u-Adjust_Mt-8 <%= namespace %>-Layout_Ol_List">
          <li>①2022年11月15日（火）9:00～2022年12月15日（木）8:59</li>
          <li>②2022年12月16日（金）9:00～2023年1月16日（月）8:59</li>
          <li>③2023年1月17日（火）9:00～2023年2月16日（木）8:59</li>
        </ol>
      </div>
      <p class="u-Adjust_Align-center u-Adjust_Mt-16 c-Txt_Emp-02" style="font-size: 20px;">本キャンペーンは終了しました</p>
    </div>

    <section class="<%= namespace %>-Layout-Entry u-Adjust_Mt-24">
      <div class="l-System_Container">
        <h3 class="c-Heading_Lv2 c-Txt_Emp-02 u-Adjust_Align-center">今すぐ「my 楽天モバイル」でメアドを取得しよう！</h3>
        <div class="c-Box_App <%= namespace %>-Utility_Box_App">
          <div class="c-Box_App-icon <%= namespace %>-Utility_Box_App-icon u-Adjust_Align-center">
            <img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt="my 楽天モバイル" style="width: 80px;">
            <p class="c-Txt_Emp-01 u-Adjust_Align-center u-Adjust_Mt-8">my 楽天モバイル</p>
          </div>
          <div class="c-Box_App-txt <%= namespace %>-Utility_Box_App-txt">
            <ul class="c-Box_App-link">
              <li>
                <div class="<%= namespace %>-App_Btn-store-item">
                  <a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank" rel="noopener noreferrer">
                    <img src="<%= sitepath %>assets/img/common/btn-appstore.png" alt="Apple Store" width="200">
                  </a>
                </div>
              </li>
               <li class="<%= namespace %>-Utility_Show-pc u-Adjust_Mr-40">
                <img src="<%= sitepath %>assets/img/campaign/rakumail-setting/qrcode-iphone.png" width="96" alt="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769">
              </li>
              <li>
                <div class="<%= namespace %>-App_Btn-store-item">
                  <a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank" rel="noopener noreferrer">
                    <img src="<%= sitepath %>assets/img/common/btn-googleplay.png" alt="Google Play" width="200">
                  </a>
                </div>
              </li>
              <li class="<%= namespace %>-Utility_Show-pc">
                <img src="<%= sitepath %>assets/img/campaign/rakumail-setting/qrcode-android.png" width="96" alt="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare">
              </li>
            </ul>
          </div>
          <p class="u-Adjust_Align-center <%= namespace %>-Utility_C-box_Btn">
            <a href="<%= sitepath %>guide/rakumail/initial-setting/?l-id=campaign_rakumail-setting_guide_rakumail_initial-setting#setting01" class="c-Link_Txt-inline">楽メールの初期設定方法はこちら<span class="c-Icon_Chevron-right"></span></a>
          </p>
        </div>
      </div>
    </section>

    <div class="l-System_Container">
      <ul class="c-Link_List-horizontal-simple <%= namespace %>-Utility_Link_List-horizontal u-Adjust_Mt-32">
        <li><a href="#requirements" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンの達成条件</a></li>
        <li><a href="#rakumail" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>楽メールとは</a></li>
        <li><a href="#flow" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンの流れ</a></li>
        <li><a href="#campaign-rule" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Arrow-down-l"></span>キャンペーンルール</a></li>
      </ul>
    </div>

    <div id="requirements" class="l-System_Container <%= namespace %>-Utility_Requirements">
      <div class="c-Theme-Borderbox u-Adjust_Mt-16">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンの達成条件</h2>
        <p class="u-Adjust_Mt-16 <%= namespace %>-Utility_Sp-left">本キャンペーンには達成条件が設定されています。詳細は<a href="#campaign-rule" class="c-Link_Txt js-scroll">キャンペーンルール</a>をご確認ください。</p>
        <div class="c-Theme-Light u-Adjust_Mt-16">
          <h4 class="c-Heading_Lv4 u-Adjust_Align-center">楽メールのメールアドレスの設定をする</h4>
          <div class="<%= namespace %>-Layout_Requirements">
            <div class="<%= namespace %>-Layout_Requirements_Img-wrapper">
              <img src="<%= sitepath %>assets/img/campaign/rakumail-setting/requirements.png" width="117" alt="">
            </div>
            <div>
              <p>「my 楽天モバイル」から設定できます。</p>
              <a href="<%= sitepath %>guide/rakumail/initial-setting/?l-id=campaign_rakumail-setting_guide_rakumail_initial-setting" class="c-Link_Txt-inline">設定方法はこちら<span class="c-Icon_Chevron-right"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="c-Theme-Light <%= namespace %>-Layout_About">
      <div class="<%= namespace %>-Layout_Container">
        <h2 id="rakumail" class="c-Heading_Lv2 u-Adjust_Align-center">楽メールとは</h2>
        <div class="l-Media_Grid <%= namespace %>-Utility_Media_Grid u-Adjust_Mt-32">
          <div class="l-Media_Image">
            <img src="<%= sitepath %>assets/img/campaign/rakumail-setting/img-01.png" alt="">
          </div>
          <div>
            <p>楽天モバイルのRakuten Linkアプリ内で、メールサービスが無料でご利用いただけます。</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※楽メールのご利用は、データ利用量としてカウントされます。</p>
            <div class="c-Theme-White <%= namespace %>-Layout_About_Container">
              <p>お好きなメールアドレスを設定いただけます</p>
              <p class="c-Txt_Cap">※すでにほかの方が登録済みのメールアドレスは設定いただけません。</p>
              <p class="c-Txt_Alphanumeric-m u-Adjust_Mt-8">●●●●@rakumail.jp</p>
            </div>
          </div>
        </div>

        <div class="l-Media_List-3 <%= namespace %>-Utility_Media_List-3">
          <div>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Layout_3columnTitle u-Adjust_Align-center">
              あんしんの<br class="<%= namespace %>-Utility_Show-pc">セキュリティ対策
            </h3>
            <div class="u-Adjust_Align-center u-Adjust_Mt-16">
              <img src="<%= sitepath %>assets/img/campaign/rakumail-setting/img-02.png" alt="">
            </div>
          </div>
          <div>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Layout_3columnTitle u-Adjust_Align-center">
              大きな容量の<br>メール送受信も可能
            </h3>
            <div class="u-Adjust_Align-center u-Adjust_Mt-16">
              <img src="<%= sitepath %>assets/img/campaign/rakumail-setting/img-03.png" alt="">
            </div>
          </div>
          <div>
            <h3 class="c-Heading_Lv3 <%= namespace %>-Layout_3columnTitle u-Adjust_Align-center">
              Rakuten Linkアプリで<br>一括管理できて便利
            </h3>
            <div class="u-Adjust_Align-center u-Adjust_Mt-16">
              <img src="<%= sitepath %>assets/img/campaign/rakumail-setting/img-04.png" alt="">
            </div>
          </div>
        </div>

        <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
            <a href="<%= sitepath %>service/rakumail/?l-id=campaign_rakumail-setting_service_rakumail" class="c-Btn_Regular"><span>楽メールの詳細はこちら</span></a>
        </div>

      </div>
    </div>

    <div id="flow" class="<%= namespace %>-Layout_Flow">
      <div class="l-System_Container">
        <h2 class="c-Heading_Lv2 u-Adjust_Align-center">キャンペーンの流れ</h2>
        <ul class="c-Flow u-Adjust_Mt-24 <%= namespace %>-Flow">
          <li class="u-Adjust_Align-center">
            <h3 class="c-Heading_Lv3">「my 楽天モバイル」にアクセスし、楽メールの初期設定をする</h3>
            <p class="u-Adjust_Mt-16 c-Txt_Emp-01">
              初期設定を行った①~③の該当期間ごとに、抽選が行われます。<br class="<%= namespace %>-Utility_Show-pc">
              キャンペーンに参加できるのは開催期間3回のうち一度のみです。
            </p>
            <ol class="u-Adjust_Mt-16 <%= namespace %>-Layout_Ol_List" style="gap: 0;">
              <li>①2022年11月15日（火）9:00～2022年12月15日（木）8:59</li>
              <li>②2022年12月16日（金）9:00～2023年1月16日（月）8:59</li>
              <li>③2023年1月17日（火）9:00～2023年2月16日（木）8:59</li>
            </ol>
            <div class="<%= namespace %>-Layout_Flow_Borderbox">
              <div class="c-Box_App <%= namespace %>-Utility_Box_App">
                <div class="c-Box_App-icon <%= namespace %>-Utility_Box_App-icon u-Adjust_Align-center">
                  <img src="<%= sitepath %>assets/img/common/icon-rmb-app.png" alt="my 楽天モバイル" style="width: 80px;">
                  <p class="c-Txt_Emp-01 u-Adjust_Align-center u-Adjust_Mt-8">my 楽天モバイル</p>
                </div>
                <div class="c-Box_App-txt <%= namespace %>-Utility_Box_App-txt">
                  <ul class="c-Box_App-link">
                    <li>
                      <div class="<%= namespace %>-App_Btn-store-item">
                        <a href="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769" target="_blank" rel="noopener noreferrer">
                          <img src="<%= sitepath %>assets/img/common/btn-appstore.png" alt="Apple Store" width="200">
                        </a>
                      </div>
                    </li>
                    <li class="<%= namespace %>-Utility_Show-pc u-Adjust_Mr-40">
                      <img src="<%= sitepath %>assets/img/campaign/rakumail-setting/qrcode-iphone.png" width="96" alt="https://apps.apple.com/jp/app/myrakutenmobile/id1473535769">
                    </li>
                    <li>
                      <div class="<%= namespace %>-App_Btn-store-item">
                        <a href="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare" target="_blank" rel="noopener noreferrer">
                          <img src="<%= sitepath %>assets/img/common/btn-googleplay.png" alt="Google Play" width="200">
                        </a>
                      </div>
                    </li>
                    <li class="<%= namespace %>-Utility_Show-pc">
                      <img src="<%= sitepath %>assets/img/campaign/rakumail-setting/qrcode-android.png" width="96" alt="https://play.google.com/store/apps/details?id=jp.co.rakuten.mobile.ecare">
                    </li>
                  </ul>
                </div>
                <p class="u-Adjust_Align-center <%= namespace %>-Utility_C-box_Btn">
                  <a href="<%= sitepath %>guide/rakumail/initial-setting/?l-id=campaign_rakumail-setting_guide_rakumail_initial-setting#setting01" class="c-Link_Txt-inline">楽メールの初期設定方法はこちら<span class="c-Icon_Chevron-right"></span></a>
                </p>
              </div>
            </div>
            <p class="<%= namespace %>-Layout_Flow_Txt <%= namespace %>-Utility_Sp-left">ホーム画面下部の「メールアドレス設定」をタップしてください。</p>
            <p class="u-Adjust_Mt-24">
              <img src="<%= sitepath %>assets/img/campaign/rakumail-setting/flow-01.png" alt="" width="300">
            </p>
          </li>
          <li>
            <div class="l-Media_Grid-small <%= namespace %>-Utility_Media_Grid-small">
              <div></div>
              <div>
                <h3 class="c-Heading_Lv3 <%= namespace %>-Utility_Sp-center">
                  抽選で合計3万名様に<br class="<%= namespace %>-Utility_Show-sp"><span class="c-Txt_Emp-02">100ポイント</span>をプレゼント！
                </h3>
              </div>
            </div>
            <div class="l-Media_Grid-small <%= namespace %>-Utility_Media_Grid-small">
              <div class="l-Media_Image">
                <img src="<%= sitepath %>assets/img/campaign/1000shops-twitter/img_campaign_flow04.png" width="87" alt="" class="<%= namespace %>-Utility_Pc-mt-m30">
              </div>
              <div class="u-Adjust_Align-left">
                <p class="<%= namespace %>-Layout_Flow_Cap c-Txt_Cap">
                  ※キャンペーン期間は3回の期間に分かれており、それぞれの期間で1万名様が当選されます。当選のお知らせは、ポイント付与をもって代えさせていただきます。付与時期については<a href="#campaign-rule" class="c-Link_Txt js-scroll">キャンペーンルール</a>をご確認ください。<br>
                  ※ポイントは付与日を含めて6カ月の期間限定ポイントとなります。
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="c-Theme-Light">
      <div class="Container_bg <%= namespace %>-Layout_Rule">
        <div class="<%= namespace %>-Layout_Container">
          <h2 class="c-Heading_Lv2 <%= namespace %>-Utility_Sp-left" id="campaign-rule">楽メール初めてのメールアドレスの設定で<br>抽選で合計3万名様に100ポイントプレゼントキャンペーン</h2>
          <p class="u-Adjust_Align-center u-Adjust_Mt-16 c-Txt_Emp-02" style="font-size: 20px;">本キャンペーンは終了しました</p>
          <div class="c-Table_Wrap u-Adjust_Mt-24">
            <div class="u-Adjust_Mt-24">
              <dl class="c-Dl_Origin <%= namespace %>-Dl_Rule">
                <div>
                  <dt>キャンペーンコード</dt>
                  <dd>
                    <p>1668</p>
                    <ul class="c-Txt_Cap u-Adjust_Mt-8">
                      <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン期間</dt>
                  <dd>
                    <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■ 「楽メール」の設定期間</span><br>
                      ①2022年11月15日（火）9:00～2022年12月15日（木）8:59　②2022年12月16日（金）9:00～2023年1月16日（月）8:59　③2023年1月17日（火）9:00～2023年2月16日（木）8:59
                    </p>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン条件</dt>
                  <dd>
                    <p class="c-Txt_Emp-02">上記各項目の期間内に下記の条件をすべて満たした楽天会員の方</p>
                    <p class="u-Adjust_Mt-8 c-Txt_Emp-02">「my 楽天モバイル」にてキャンペーン期間中に初めて「楽メール」のメールアドレスを設定</p>
                  </dd>
                </div>
                <div>
                  <dt>キャンペーン特典 （楽天ポイント）</dt>
                  <dt class="<%= namespace %>-Dl_Title-sub">特典内容</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">
                      抽選で合計3万名様に100ポイントプレゼント<br>
                      各期間1万名様に期間限定ポイントで付与いたします
                    </p>
                  </dd>
                  <dt class="<%= namespace %>-Dl_Title-sub">ポイント付与日</dt>
                  <dd>
                    <p class="c-Txt_Emp-02">
                      ポイントの付与は、キャンペーン期間①（2022年11月15日 9:00～2022年12月15日<br>
                      8:59）は2023年2月末日ごろ、キャンペーン期間②（2022年12月16日 9:00～2023年1月16日<br>
                      8:59）は2023年3月末日ごろ、キャンペーン③（2023年1月17日 9:00～2023年2月16日 8:59）は2023年4月末日ごろを予定しています
                    </p>
                    <p class="u-Adjust_Mt-8 c-Txt_Cap">
                      <span>※</span>楽天ポイントの付与は、楽天モバイルより行います<br>
                      <span>※</span>権利の譲渡はできません
                    </p>
                  </dd>
                  <dt class="<%= namespace %>-Dl_Title-sub">ポイント有効期間</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
                    <p class="u-Adjust_Mt-8 c-Txt_Cap">
                      <span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" rel="noopener noreferrer" class="c-Link_Txt">期間限定ポイントについて</a><br>
                      <span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません
                    </p>
                  </dd>
                </div>
                <div>
                  <dt>特典適用対象外</dt>
                  <dd>
                    <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
                    <ul class="c-Txt_Cap u-Adjust_Mt-16">
                      <li><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                      <li><span>※</span>2022年11月15日（火）8:59以前に「楽メール」のメールアドレスを設定したことがある場合</li>
                      <li><span>※</span>「楽メール」の設定がキャンセルとなった場合</li>
                      <li><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                      <li><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                      <li><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
                    </ul>
                  </dd>
                </div>
                <div>
                  <dt>注意事項</dt>
                  <dd>
                    <ul class="c-Txt_Cap">
                      <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                      <li><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                      <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                      <li><span>※</span><span class="c-Txt_Emp-01">当選者の発表は、楽天ポイントの付与をもって代えさせていただきます</span></li>
                      <li><span>※</span>記載の内容は2022年11月15日（火）時点の情報となります</li>
                    </ul>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="g-Footer">
      <div class="l-System_Container">
        <div class="c-Breadcrumbs_Foot">
          <ul>
            <li><a href="<%= rootpath %>"><%= sitetitle %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ if (typeof directories !== 'undefined') { _%>
            <%_ let dirs = []; _%>
            <%_ directories.forEach(function (dir) { _%>
            <%_ if (dir.path !== "") { _%>
            <li><a href="<%= sitepath %><%= dir.path %>"><%= dir.label %></a><span class="c-Icon_Chevron-right"></span></li>
            <%_ } else { _%>
            <li><%= dir.label %><span class="c-Icon_Chevron-right"></span></li>
            <%_ } _%>
            <%_ }) _%>
            <%_ } _%>
            <li aria-current="true"><%= pagetitle %></li>
          </ul>
        </div>
      </div>
      <%- include('/include/_footer') %>
    </footer>
  </div>

  <%- include('/include/_common-js') %>
  <%- include('/include/_append-body') %>
</body>

</html>
