<% const pagetitle = "合計1万名様！楽天モバイルショップでGalaxy Z Flip 4のお試し操作＆アンケート回答でBTSポスターを進呈！" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    keywords: '',
    noindex: true,
    pathname: filepath,
  });
%>
<%- include('/include/_common-css-v2') %>
<%- include('/include/_append-head') %>

<script type="text/javascript">
function doTrim(el) {
  el.value = el.value.replace(/^\s+|\s+$/g, '');
}

function isInput(el) {
  return el.value.length != 0;
}

function isChecked(el) {
  if (el.length) {
    for (var i = 0; i < el.length; i++) {
      if (el[i].checked) {
        return true;
      }
    }
  } else {
    if (el.checked) {
      return true;
    }
  }
  return false;
}

function isSelected(el) {
  return el.selectedIndex != 0;
}

function isNum(el) {
  return (el.value == "" || /^[0-9]+$/.test(el.value));
}

function isRange(el, min, max) {
  return (el.value == "" || (/^[0-9]+$/.test(el.value) && min <= el.value && el.value <= max));
}

function isLength(el, len) {
  if ("え".length == 2) {
    len *= 2;
  }
  return el.value.length <= len;
}

function zen2han(el) {
  el.value = el.value.replace(/[０]/g, "0");
  el.value = el.value.replace(/[１]/g, "1");
  el.value = el.value.replace(/[２]/g, "2");
  el.value = el.value.replace(/[３]/g, "3");
  el.value = el.value.replace(/[４]/g, "4");
  el.value = el.value.replace(/[５]/g, "5");
  el.value = el.value.replace(/[６]/g, "6");
  el.value = el.value.replace(/[７]/g, "7");
  el.value = el.value.replace(/[８]/g, "8");
  el.value = el.value.replace(/[９]/g, "9");
}

function checkForm() {
  var el;
  var obj = document.enenForm;

  el = obj.elements['answers[38704_264658]'];
  if (!isSelected(el)) {
    alert("「このアンケートは、楽天グループ各社およびそのクライアントのサービスの向上のために実施しています。 ご回答いただいた内容は、登録情報を連携した上でサービス向上を目的とした分析に利用させていただきます。 「利用目的」に同意して参加いただけますか。」を選択してください");
    return false;
  }

  el = obj.elements['answers[38704_264659]'];
  if (!isSelected(el)) {
    alert("「調査内容、質問内容、提示される資料については機密情報とし、あなた以外の人に情報を漏らさないこと。 上記については、ホームページ、ブログ、SNS、Twitterなどへの書き込み、家族・友人を含む第三者へのメール等による送信、その他これに類する開示、漏洩を行わないものとする。 「守秘義務」に同意して参加いただけますか。」を選択してください");
    return false;
  }

  el = obj.elements['answers[38704_264660]'];
  doTrim(el);
  zen2han(el);
  if (!isInput(el)) {
    alert("「4桁の店舗コードを入力してください。　※スタッフにご質問ください。」を入力してください。");
    return false;
  }

  if (!isNum(el)) {
    alert("「4桁の店舗コードを入力してください。　※スタッフにご質問ください。」は数値で入力してください。");
    return false;
  }

  if (!isRange(el, 1, 9999)) {
    alert("「4桁の店舗コードを入力してください。　※スタッフにご質問ください。」は1～9999の範囲で入力してください。");
    return false;
  }

  if (!isLength(el, 256)) {
    alert("「4桁の店舗コードを入力してください。　※スタッフにご質問ください。」は256文字以内で入力してください。");
    return false;
  }

  el = obj.elements['answers[38704_264661]'];
  if (!isSelected(el)) {
    alert("「現在の年齢があてはまるものを教えてください。」を選択してください");
    return false;
  }

  el = obj.elements['answers[38704_264662]'];
  if (!isSelected(el)) {
    alert("「性別を教えてください。」を選択してください");
    return false;
  }

  el = obj.elements['answers[38704_264663]'];
  if (!isSelected(el)) {
    alert("「本アンケートを知ったきっかけは、次のうちどれですか？」を選択してください");
    return false;
  }

  el = obj.elements['answers[38704_264664][]'];
  if (!isChecked(el)) {
    alert("「Galaxy Z Flip4をお試し体験してみた感想を教えてください。」を選択してください");
    return false;
  }

  el = obj.elements['answers[38704_264665][]'];
  if (!isChecked(el)) {
    alert("「カバーディスプレイでR-Payの支払いができる新機能について感想を教えてください。」を選択してください");
    return false;
  }

  el = obj.elements['answers[38704_264666]'];
  if (!isSelected(el)) {
    alert("「体験してみて1番魅力的だったポイントはなんですか？」を選択してください");
    return false;
  }

  el = obj.elements['answers[38704_264668][]'];
  if (!isChecked(el)) {
    alert("「現在ご利用中のスマートフォンメーカーは、次のうちどれですか？」を選択してください");
    return false;
  }

  el = obj.elements['answers[38704_264669]'];
  if (!isSelected(el)) {
    alert("「現在ご使用のスマートフォンを買い替えを検討していますか？」を選択してください");
    return false;
  }

  el = obj.elements['answers[38704_264670]'];
  if (!isSelected(el)) {
    alert("「Galaxy Z Flip4の購入を検討していますか？」を選択してください");
    return false;
  }

  el = obj.elements['answers[38704_264671][]'];
  if (!isChecked(el)) {
    alert("「スマートフォンを購入する際の、決め手は何ですか？」を選択してください");
    return false;
  }

  el = obj.elements['answers[38704_264673]'];
  doTrim(el);
  zen2han(el);
  if (!isLength(el, 256)) {
    alert("「次の新端末に求めるデザインや、機能があればぜひ教えてください。」は256文字以内で入力してください。");
    return false;
  }

  el = obj.elements['answers[38704_264674]'];
  if (!isSelected(el)) {
    alert("アンケートは以上です！ スタッフに本ページを提示し、ポスターを受け取りましたら 「ポスターを受け取った」を押してアンケートを終了してください。を選択してください");
    return false;
  }
}
</script>
<style>
  @media screen and (min-width: 769px) {
    dt {width: 610px !important}
  }
</style>
</head>
<body>
<%- include('/include/_prepend-body') %>

<div class="l-System">

  <header class="g-Header">
    <div class="g-Header_Container">
      <div class="g-Header_Logo"><a style="pointer-events: none;">Rakuten Mobile</a></div>
    </div>
  </header>

  <form action="https://form.rakuten.co.jp/ans/apply/38704" name="enenForm" method="POST" onsubmit="return checkForm()">
    <div class="l-System_Container u-Adjust_Mt-40">
      <h1 class="c-Heading_Lv1 c-Txt_Emp-02"><%= pagetitle %></h1>

      <dl class="c-Form_List u-Adjust_Mt-24">
        <div>
          <dt>このアンケートは、楽天グループ各社およびそのクライアントのサービスの向上のために実施しています。 ご回答いただいた内容は、登録情報を連携した上でサービス向上を目的とした分析に利用させていただきます。 「利用目的」に同意して参加いただけますか。<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <div class="c-Form_Select">
              <select name="answers[38704_264658]">
                <option value="0">選択してください</option>
                <option value="731613">同意する</option>
                <option value="731614">同意しない</option>
              </select>
              <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
            </div>
          </dd>
        </div>
        <div>
          <dt>調査内容、質問内容、提示される資料については機密情報とし、あなた以外の人に情報を漏らさないこと。 上記については、ホームページ、ブログ、SNS、Twitterなどへの書き込み、家族・友人を含む第三者へのメール等による送信、その他これに類する開示、漏洩を行わないものとする。 「守秘義務」に同意して参加いただけますか。<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <div class="c-Form_Select">
              <select name="answers[38704_264659]">
                <option value="0">選択してください</option>
                <option value="731615">同意する</option>
                <option value="731616">同意しない</option>
              </select>
              <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
            </div>
          </dd>
        </div>
        <div>
          <dt>4桁の店舗コードを入力してください。<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <p class="c-Txt_Cap u-Adjust_Mb-8">※スタッフにご質問ください。</p>
            <input class="c-Form_Input" type="text" name="answers[38704_264660]">
          </dd>
        </div>
        <div>
          <dt>現在の年齢があてはまるものを教えてください。<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <div class="c-Form_Select">
              <select name="answers[38704_264661]">
                <option value="0">選択してください</option>
                <option value="731617">10代以下</option>
                <option value="731618">20代</option>
                <option value="731619">30代</option>
                <option value="731620">40代</option>
                <option value="731621">50代</option>
                <option value="731622">60代</option>
                <option value="731623">70代以上</option>
              </select>
              <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
            </div>
          </dd>
        </div>
        <div>
          <dt>性別を教えてください。<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <div class="c-Form_Select">
              <select name="answers[38704_264662]">
                <option value="0">選択してください</option>
                <option value="731624">男性</option>
                <option value="731625">女性</option>
                <option value="731626">回答しない</option>
              </select>
              <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
            </div>
          </dd>
        </div>
        <div>
          <dt>本アンケートを知ったきっかけは、次のうちどれですか？<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <div class="c-Form_Select">
              <select name="answers[38704_264663]">
                <option value="0">選択してください</option>
                <option value="731627">楽天モバイル公式HP</option>
                <option value="731628">楽天モバイル公式Twitter</option>
                <option value="731629">楽天モバイル公式Facebook</option>
                <option value="731630">店頭販促物</option>
                <option value="731631">店頭スタッフの案内</option>
                <option value="731632">友人・恋人・家族</option>
              </select>
              <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
            </div>
          </dd>
        </div>
        <div>
          <dt>Galaxy Z Flip4をお試し体験してみた感想を教えてください。<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <div>
              <label class="c-Form_Checkbox"><input type="checkbox" name="answers[38704_264664][]" value="731633"><span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">折りたためるためコンパクトで持ち歩きやすい</span></label>
            </div>
            <div class="u-Adjust_Mt-8">
              <label class="c-Form_Checkbox"><input type="checkbox" name="answers[38704_264664][]" value="731634"><span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">折り曲げた状態での自撮り撮影がしやすい</span></label>
            </div>
            <div class="u-Adjust_Mt-8">
              <label class="c-Form_Checkbox"><input type="checkbox" name="answers[38704_264664][]" value="731635"><span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">スマホをテーブルに立てておけるのが使いやすい</span></label>
            </div>
            <div class="u-Adjust_Mt-8">
              <label class="c-Form_Checkbox"><input type="checkbox" name="answers[38704_264664][]" value="731636"><span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">カバーディスプレイ（外側の画面）があるのが便利</span></label>
            </div>
            <div class="u-Adjust_Mt-8">
              <label class="c-Form_Checkbox"><input type="checkbox" name="answers[38704_264664][]" value="731637"><span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">デザインがおしゃれ</span></label>
            </div>
            <div class="u-Adjust_Mt-8">
              <label class="c-Form_Checkbox"><input type="checkbox" name="answers[38704_264664][]" value="731638"><span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">その他</span></label>
            </div>
          </dd>
        </div>
        <div>
          <dt>カバーディスプレイでR-Payの支払いができる新機能について感想を教えてください。<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <div>
              <label class="c-Form_Checkbox"><input type="checkbox" name="answers[38704_264665][]" value="731639"><span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">画面を開く必要がないため便利</span></label>
            </div>
            <div class="u-Adjust_Mt-8">
              <label class="c-Form_Checkbox"><input type="checkbox" name="answers[38704_264665][]" value="731640"><span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">すぐに支払えるため楽</span></label>
            </div>
            <div class="u-Adjust_Mt-8">
              <label class="c-Form_Checkbox"><input type="checkbox" name="answers[38704_264665][]" value="731641"><span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">R-Payを使っていない</span></label>
            </div>
            <div class="u-Adjust_Mt-8">
              <label class="c-Form_Checkbox"><input type="checkbox" name="answers[38704_264665][]" value="731642"><span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">その他</span></label>
            </div>
          </dd>
        </div>
        <div>
          <dt>体験してみて1番魅力的だったポイントはなんですか？<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <div class="c-Form_Select">
              <select name="answers[38704_264666]">
                <option value="0">選択してください</option>
                <option value="731643">価格</option>
                <option value="731644">カラー展開</option>
                <option value="731645">機能</option>
                <option value="731646">ブランド</option>
                <option value="731647">他スマホからの乗り換えの作業</option>
              </select>
              <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
            </div>
          </dd>
        </div>
        <div>
          <dt>現在ご利用中のスマートフォンメーカーは、次のうちどれですか？<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <div>
              <label class="c-Form_Checkbox"><input type="checkbox" name="answers[38704_264668][]" value="731649"><span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">Apple</span></label>
            </div>
            <div class="u-Adjust_Mt-8">
              <label class="c-Form_Checkbox"><input type="checkbox" name="answers[38704_264668][]" value="731650"><span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">SONY</span></label>
            </div>
            <div class="u-Adjust_Mt-8">
              <label class="c-Form_Checkbox"><input type="checkbox" name="answers[38704_264668][]" value="731651"><span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">OPPO</span></label>
            </div>
            <div class="u-Adjust_Mt-8">
              <label class="c-Form_Checkbox"><input type="checkbox" name="answers[38704_264668][]" value="731652"><span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">SHARP</span></label>
            </div>
            <div class="u-Adjust_Mt-8">
              <label class="c-Form_Checkbox"><input type="checkbox" name="answers[38704_264668][]" value="731653"><span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">Galaxy</span></label>
            </div>
            <div class="u-Adjust_Mt-8">
              <label class="c-Form_Checkbox"><input type="checkbox" name="answers[38704_264668][]" value="731654"><span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">Xiaomi</span></label>
            </div>
            <div class="u-Adjust_Mt-8">
              <label class="c-Form_Checkbox"><input type="checkbox" name="answers[38704_264668][]" value="731655"><span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">Rakuten Mobile オリジナル</span></label>
            </div>
            <div class="u-Adjust_Mt-8">
              <label class="c-Form_Checkbox"><input type="checkbox" name="answers[38704_264668][]" value="731656"><span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">その他</span></label>
            </div>
          </dd>
        </div>
        <div>
          <dt>現在ご使用のスマートフォンを買い替えを検討していますか？<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <div class="c-Form_Select">
              <select name="answers[38704_264669]">
                <option value="0">選択してください</option>
                <option value="731657">はい</option>
                <option value="731658">いいえ</option>
              </select>
              <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
            </div>
          </dd>
        </div>
        <div>
          <dt>Galaxy Z Flip4の購入を検討していますか？<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <div class="c-Form_Select">
              <select name="answers[38704_264670]">
                <option value="0">選択してください</option>
                <option value="731659">はい</option>
                <option value="731660">いいえ</option>
                <option value="731661">検討中</option>
              </select>
              <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
            </div>
          </dd>
        </div>
        <div>
          <dt>スマートフォンを購入する際の、決め手は何ですか？<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <div>
              <label class="c-Form_Checkbox"><input type="checkbox" name="answers[38704_264671][]" value="731662"><span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">価格</span></label>
            </div>
            <div class="u-Adjust_Mt-8">
              <label class="c-Form_Checkbox"><input type="checkbox" name="answers[38704_264671][]" value="731663"><span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">デザイン</span></label>
            </div>
            <div class="u-Adjust_Mt-8">
              <label class="c-Form_Checkbox"><input type="checkbox" name="answers[38704_264671][]" value="731664"><span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">スペック</span></label>
            </div>
            <div class="u-Adjust_Mt-8">
              <label class="c-Form_Checkbox"><input type="checkbox" name="answers[38704_264671][]" value="731665"><span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">カメラ</span></label>
            </div>
            <div class="u-Adjust_Mt-8">
              <label class="c-Form_Checkbox"><input type="checkbox" name="answers[38704_264671][]" value="731666"><span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">バッテリー</span></label>
            </div>
            <div class="u-Adjust_Mt-8">
              <label class="c-Form_Checkbox"><input type="checkbox" name="answers[38704_264671][]" value="731667"><span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">メーカー</span></label>
            </div>
            <div class="u-Adjust_Mt-8">
              <label class="c-Form_Checkbox"><input type="checkbox" name="answers[38704_264671][]" value="731668"><span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">その他</span></label>
            </div>
          </dd>
        </div>
        <div>
          <dt>次の新端末に求めるデザインや、機能があればぜひ教えてください。</dt>
          <dd>
            <p class="c-Txt_Cap u-Adjust_Mb-8">※256文字以内。</p>
            <input class="c-Form_Input" type="text" name="answers[38704_264673]">
          </dd>
        </div>
        <div>
          <dt>アンケートは以上です！ スタッフに本ページを提示し、ポスターを受け取りましたら 「ポスターを受け取った」を押してアンケートを終了してください。<span class="c-Form_List-required">必須</span></dt>
          <dd>
            <div class="c-Form_Select">
              <select name="answers[38704_264674]">
                <option value="0">選択してください</option>
                <option value="731670">ポスターを受け取った</option>
              </select>
              <span class="c-Form_Select-icon c-Icon_Product-arrow-select"></span>
            </div>
          </dd>
        </div>
      </dl>

      <input type="hidden" name="c" value="楽天">
      <input type="hidden" name="l" value="ja">
      <div class="u-Adjust_Align-center u-Adjust_Mt-24 u-Adjust_Mb-64">
        <button class="c-Btn_Primary-large" type="submit"><span>送信する</span></button>
      </div>
    </div>
  </form>

</div>

<footer class="g-Footer">

  <%- include('/include/_footer-simple') %>

</footer>

<%- include('/include/_common-js') %>
<%- include('/include/_append-body') %>
</body>
</html>
