<%#
  - TOPページ　【　Android / スマートフォン　】　のカルーセル内カードのサンプルコードです。
  - ３パターンあります。
  - このファイル自体は、dist側へ出力されないので、対象のパターンをコピペしてご利用ください。
  - コード自体に更新がかかる場合は、こちらのサンプルコードも更新をお願いします。
  - NEWアイコンの有無、５Gアイコンの有無、打ち消し価格の有無、ポイント制度、は各製品によって違うので、適宜削除してご利用ください。
_%>

<!-- top-Carousel_Pattern-A 実質0円-->
<div class="top-Carousel_Product-inner-box">
  <a class="c-Card_Normal top-Carousel_Item top-Carousel_Pattern-A" href="<%= sitepath %>product/smartphone/rakuten-hand/?l-id=top_p-carousel_product_rakuten-hand">
    <div class="top-Carousel_Flex">
      <div class="top-Carousel_Img">
        <img src="<%= sitepath %>assets/img/top/product/rakuten-hand.png" alt="Rakuten Hand">
      </div>
      <div class="top-Carousel_Txt">
        <div class="top-Carousel_Label-new">
          <span>NEW</span>
        </div>
        <p class="top-Carousel_5G">
          <img class="lazyload" data-src="<%= sitepath %>assets/img/common/icon-5g.png" width="40" height="25" alt="5G">
        </p>
        <p class="top-Carousel_Name">Rakuten Hand</p>
        <ul class="top-Carousel_ItemColor">
          <li><span class="" style="background: rgb(34, 34, 34) none repeat scroll 0% 0%;"></span></li>
          <li><span class="color-white" style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;"></span></li>
          <li><span class="" style="background: rgb(191, 0, 0) none repeat scroll 0% 0%;"></span></li>
        </ul>
        <div class="top-Carousel_Pricebox">
          <div class="top-Carousel_Price">
            <p class="top-Carousel_Price-before"><span>42,980</span>円&#8594;</p>
            <p class="top-Carousel_Price-after">税込<span class="top-Carousel_Price-font">119,900</span>円</p>
          </div>
          <div class="top-Carousel_Point">
            <p class="top-Carousel_Point-txt">プランセット値引き</p>
            <p class="top-Carousel_Point-after"><span class="top-Carousel_Price-font">-16,000</span>円</p>
          </div>
          <div class="top-Carousel_Point">
            <p class="top-Carousel_Point-txt">最大<span class="top-Carousel_Price-font">24,999</span>ポイント</p>
            <p class="top-Carousel_Point-after"><span class="top-Carousel_Price-font">-24,999</span>円</p>
          </div>
        </div>
      </div>
    </div>
    <p class="top-Carousel_Real">
      <span class="top-Carousel_Real-m">実質</span>
      <span class="top-Carousel_Real-l">0</span>
      <span class="top-Carousel_Real-m">円</span></p>
    <p class="top-Carousel_Cap">ポイント還元の詳細は※25をご覧ください。期間限定ポイントで開通の翌々月末日に付与されます。</p>
  </a>
</div>



<!--  top-Carousel_Pattern-B 赤字強調あり  -->
<div class="top-Carousel_Product-inner-box">
  <a class="c-Card_Normal top-Carousel_Item top-Carousel_Pattern-B" href="<%= sitepath %>product/smartphone/xperia-5m4/?l-id=top_p-carousel_product_xperia-5m4">
    <div class="top-Carousel_Flex-column">
      <div class="top-Carousel_Flex">
        <div class="top-Carousel_Img">
          <img class="lazyload" data-src="<%= sitepath %>assets/img/top/product/xperia-5m4.png?221005" width="180" height="" alt="Xperia 5 IV">
        </div>
        <div class="top-Carousel_Txt">
          <div class="top-Carousel_Label-new">
            <span>NEW</span>
          </div>
          <p class="top-Carousel_5G">
            <img class="lazyload" data-src="<%= sitepath %>assets/img/common/icon-5g.png" width="40" height="25" alt="5G">
          </p>
          <p class="top-Carousel_Name">Xperia 5 IV</p>
          <ul class="top-Carousel_ItemColor">
            <li><span class="" style="background: #E7E5D8 none repeat scroll 0% 0%;"></span></li>
            <li><span class="" style="background: #2d2926 none repeat scroll 0% 0%;"></span></li>
          </ul>
          <div class="top-Carousel_Pricebox">
            <div class="top-Carousel_Price">
              <p class="top-Carousel_Price-before"><span>42,980</span>円&#8594;</p>
              <p class="top-Carousel_Price-after">税込<span class="top-Carousel_Price-font">119,900</span>円</p>
            </div>
            <div class="top-Carousel_Point">
              <p class="top-Carousel_Point-txt">プランセット値引き</p>
              <p class="top-Carousel_Point-after"><span class="top-Carousel_Price-font">-16,000</span>円</p>
            </div>
            <div class="top-Carousel_Point">
              <p class="top-Carousel_Point-txt">最大<span class="top-Carousel_Price-font">3,000</span>ポイント</p>
              <p class="top-Carousel_Point-after"><span class="top-Carousel_Price-font">-3,000</span>pt</p>
            </div>
          </div>
          <p class="top-Carousel_Real">
            <span class="top-Carousel_Real-m">実質</span>
            <span class="top-Carousel_Real-l">100,900</span>
            <span class="top-Carousel_Real-m">円</span></p>
        </div>
      </div>
      <p class="top-Carousel_Cap">ポイント還元の詳細は*2,4をご確認ください。期間限定ポイントでRakuten Link利用の翌々月末日頃に付与</p>
    </div>
  </a>
</div>


<!--  top-Carousel_Pattern-C 赤字強調なし  -->
<div class="top-Carousel_Product-inner-box">
  <a class="c-Card_Normal top-Carousel_Item top-Carousel_Pattern-C" href="<%= sitepath %>product/smartphone/galaxy-a23-5g/?l-id=top_p-carousel_product_galaxy-a23-5g">
    <div class="top-Carousel_Flex-column">
      <div class="top-Carousel_Flex">
        <div class="top-Carousel_Img">
          <img class="lazyload" data-src="<%= sitepath %>assets/img/top/product/galaxy-a23-5g.png" width="180" height="324" alt="Galaxy A23 5G">
        </div>
        <div class="top-Carousel_Txt">
          <div class="top-Carousel_Label-new">
            <span>NEW</span>
          </div>
          <p class="top-Carousel_5G">
            <img class="lazyload" data-src="<%= sitepath %>assets/img/common/icon-5g.png" width="40" height="25" alt="5G">
          </p>
          <p class="top-Carousel_Name">Galaxy A23 5G</p>
          <ul class="top-Carousel_ItemColor">
            <li><span class="" style="background: rgb(145, 72, 77) none repeat scroll 0% 0%;"></span></li>
            <li><span class="" style="background: rgb(240, 240, 241) none repeat scroll 0% 0%;"></span></li>
            <li><span class="" style="background: rgb(61, 64, 67) none repeat scroll 0% 0%;"></span></li>
          </ul>
          <div class="top-Carousel_Pricebox">
            <div class="top-Carousel_Price">
              <p class="top-Carousel_Price-before"><span>42,980</span>円&#8594;</p>
              <p class="top-Carousel_Price-after">税込<span class="top-Carousel_Price-font">32,800</span>円</p>
            </div>
            <div class="top-Carousel_Point">
              <p class="top-Carousel_Point-txt">プランセット値引き</p>
              <p class="top-Carousel_Point-after"><span class="top-Carousel_Price-font">-16,000</span>円</p>
            </div>
            <div class="top-Carousel_Point">
              <p class="top-Carousel_Point-txt">最大<span class="top-Carousel_Price-font">8,000</span>ポイント</p>
              <p class="top-Carousel_Point-after"><span class="top-Carousel_Price-font">-8,000</span>pt</p>
            </div>
          </div>
          <p class="top-Carousel_Real">
            <span class="top-Carousel_Real-m">実質</span>
            <span class="top-Carousel_Real-l">24,800</span>
            <span class="top-Carousel_Real-m">円</span></p>
        </div>
      </div>
      <p class="top-Carousel_Cap">ポイント還元の詳細は*2,6をご確認ください。期間限定ポイントでRakuten Link利用の翌々月末日頃に付与</p>
      </div>
    </a>
</div>
